---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":12:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Google\";s:3:\"url\";s:18:\"https://google.com\";}s:11:\"description\";s:184:\"Manages
  your Stackdriver Monitoring data and configurations. Most projects must be associated
  with a Stackdriver account, with a few exceptions as noted on the individual method
  pages.\";s:5:\"title\";s:22:\"Stackdriver Monitoring\";s:7:\"version\";s:2:\"v3\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:37:\"https://console.developers.google.com\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:10:\"monitoring\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:116:\"https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.6.2\";}s:6:\"format\";s:6:\"google\";s:3:\"url\";s:60:\"https://monitoring.googleapis.com/$discovery/rest?version=v3\";s:7:\"version\";s:2:\"v1\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"googleapis.com\";s:13:\"x-serviceName\";s:10:\"monitoring\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:17:\"google_monitoring\";s:4:\"type\";s:7:\"openapi\";}}"
host: monitoring.googleapis.com
basePath: /
paths: ~
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":63:{s:11:\"Aggregation\";O:8:\"stdClass\":3:{s:11:\"description\";s:356:\"Describes
  how to combine multiple time series to provide different views of the data. Aggregation
  consists of an alignment step on individual time series (alignment_period and per_series_aligner)
  followed by an optional reduction step of the data across the aligned time series
  (cross_series_reducer and group_by_fields). For more details, see Aggregation.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:15:\"alignmentPeriod\";O:8:\"stdClass\":3:{s:11:\"description\";s:430:\"The
  alignment period for per-time series alignment. If present, alignmentPeriod must
  be at least 60 seconds. After per-time series alignment, each time series will contain
  data points only on the period boundaries. If perSeriesAligner is not specified
  or equals ALIGN_NONE, then this field is ignored. If perSeriesAligner is specified
  and does not equal ALIGN_NONE, then this field must be defined; otherwise an error
  is returned.\";s:6:\"format\";s:15:\"google-duration\";s:4:\"type\";s:6:\"string\";}s:18:\"crossSeriesReducer\";O:8:\"stdClass\":3:{s:11:\"description\";s:510:\"The
  approach to be used to combine time series. Not all reducer functions may be applied
  to all time series, depending on the metric type and the value type of the original
  time series. Reduction may change the metric type of value type of the time series.Time
  series data must be aligned in order to perform cross-time series reduction. If
  crossSeriesReducer is specified, then perSeriesAligner must be specified and not
  equal ALIGN_NONE and alignmentPeriod must be specified; otherwise, an error is returned.\";s:4:\"enum\";a:14:{i:0;s:11:\"REDUCE_NONE\";i:1;s:11:\"REDUCE_MEAN\";i:2;s:10:\"REDUCE_MIN\";i:3;s:10:\"REDUCE_MAX\";i:4;s:10:\"REDUCE_SUM\";i:5;s:13:\"REDUCE_STDDEV\";i:6;s:12:\"REDUCE_COUNT\";i:7;s:17:\"REDUCE_COUNT_TRUE\";i:8;s:18:\"REDUCE_COUNT_FALSE\";i:9;s:20:\"REDUCE_FRACTION_TRUE\";i:10;s:20:\"REDUCE_PERCENTILE_99\";i:11;s:20:\"REDUCE_PERCENTILE_95\";i:12;s:20:\"REDUCE_PERCENTILE_50\";i:13;s:20:\"REDUCE_PERCENTILE_05\";}s:4:\"type\";s:6:\"string\";}s:13:\"groupByFields\";O:8:\"stdClass\":3:{s:11:\"description\";s:795:\"The
  set of fields to preserve when crossSeriesReducer is specified. The groupByFields
  determine how the time series are partitioned into subsets prior to applying the
  aggregation function. Each subset contains time series that have the same value
  for each of the grouping fields. Each individual time series is a member of exactly
  one subset. The crossSeriesReducer is applied to each subset of time series. It
  is not possible to reduce across different resource types, so this field implicitly
  contains resource.type. Fields not specified in groupByFields are aggregated away.
  If groupByFields is not specified and all the time series have the same resource
  type, then the time series are aggregated into a single output time series. If crossSeriesReducer
  is not defined, this field is ignored.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:16:\"perSeriesAligner\";O:8:\"stdClass\":3:{s:11:\"description\";s:521:\"The
  approach to be used to align individual time series. Not all alignment functions
  may be applied to all time series, depending on the metric type and value type of
  the original time series. Alignment may change the metric type or the value type
  of the time series.Time series data must be aligned in order to perform cross-time
  series reduction. If crossSeriesReducer is specified, then perSeriesAligner must
  be specified and not equal ALIGN_NONE and alignmentPeriod must be specified; otherwise,
  an error is returned.\";s:4:\"enum\";a:19:{i:0;s:10:\"ALIGN_NONE\";i:1;s:11:\"ALIGN_DELTA\";i:2;s:10:\"ALIGN_RATE\";i:3;s:17:\"ALIGN_INTERPOLATE\";i:4;s:16:\"ALIGN_NEXT_OLDER\";i:5;s:9:\"ALIGN_MIN\";i:6;s:9:\"ALIGN_MAX\";i:7;s:10:\"ALIGN_MEAN\";i:8;s:11:\"ALIGN_COUNT\";i:9;s:9:\"ALIGN_SUM\";i:10;s:12:\"ALIGN_STDDEV\";i:11;s:16:\"ALIGN_COUNT_TRUE\";i:12;s:17:\"ALIGN_COUNT_FALSE\";i:13;s:19:\"ALIGN_FRACTION_TRUE\";i:14;s:19:\"ALIGN_PERCENTILE_99\";i:15;s:19:\"ALIGN_PERCENTILE_95\";i:16;s:19:\"ALIGN_PERCENTILE_50\";i:17;s:19:\"ALIGN_PERCENTILE_05\";i:18;s:20:\"ALIGN_PERCENT_CHANGE\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"AlertPolicy\";O:8:\"stdClass\":3:{s:11:\"description\";s:227:\"A
  description of the conditions under which some aspect of your system is considered
  to be \"unhealthy\" and the ways to notify people or services about this state.
  For an overview of alert policies, see Introduction to Alerting.\";s:10:\"properties\";O:8:\"stdClass\":10:{s:8:\"combiner\";O:8:\"stdClass\":3:{s:11:\"description\";s:95:\"How
  to combine the results of multiple conditions to determine if an incident should
  be opened.\";s:4:\"enum\";a:4:{i:0;s:19:\"COMBINE_UNSPECIFIED\";i:1;s:3:\"AND\";i:2;s:2:\"OR\";i:3;s:26:\"AND_WITH_MATCHING_RESOURCE\";}s:4:\"type\";s:6:\"string\";}s:10:\"conditions\";O:8:\"stdClass\":3:{s:11:\"description\";s:230:\"A
  list of conditions for the policy. The conditions are combined by AND or OR according
  to the combiner field. If the combined conditions evaluate to true, then an incident
  is created. A policy can have from one to six conditions.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Condition\";}s:4:\"type\";s:5:\"array\";}s:14:\"creationRecord\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/MutationRecord\";s:11:\"description\";s:129:\"A
  read-only record of the creation of the alerting policy. If provided in a call to
  create or update, this field will be ignored.\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:237:\"A
  short name or phrase used to identify the policy in dashboards, notifications, and
  incidents. To avoid confusion, don't use the same display name for multiple policies
  in the same project. The name is limited to 512 Unicode characters.\";s:4:\"type\";s:6:\"string\";}s:13:\"documentation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/Documentation\";s:11:\"description\";s:353:\"Documentation
  that is included with notifications and incidents related to this policy. Best practice
  is for the documentation to include information to help responders understand, mitigate,
  escalate, and correct the underlying problems detected by the alerting policy. Notification
  channels that have limited capacity might not show this documentation.\";}s:7:\"enabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:338:\"Whether
  or not the policy is enabled. On write, the default interpretation if unset is that
  the policy is enabled. On read, clients should not make any assumption about the
  state if it has not been populated. The field should always be populated on List
  and Get operations, unless a field projection has been specified that strips it
  out.\";s:4:\"type\";s:7:\"boolean\";}s:14:\"mutationRecord\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/MutationRecord\";s:11:\"description\";s:139:\"A
  read-only record of the most recent change to the alerting policy. If provided in
  a call to create or update, this field will be ignored.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:348:\"Required
  if the policy exists. The resource name for this policy. The syntax is:\nprojects/[PROJECT_ID]/alertPolicies/[ALERT_POLICY_ID]\n[ALERT_POLICY_ID]
  is assigned by Stackdriver Monitoring when the policy is created. When calling the
  alertPolicies.create method, do not include the name field in the alerting policy
  passed as part of the request.\";s:4:\"type\";s:6:\"string\";}s:20:\"notificationChannels\";O:8:\"stdClass\":3:{s:11:\"description\";s:431:\"Identifies
  the notification channels to which notifications should be sent when incidents are
  opened or closed or when new violations occur on an already opened incident. Each
  element of this array corresponds to the name field in each of the NotificationChannel
  objects that are returned from the ListNotificationChannels method. The syntax of
  the entries in this field is:\nprojects/[PROJECT_ID]/notificationChannels/[CHANNEL_ID]\n\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:10:\"userLabels\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:345:\"User-supplied
  key/value data to be used for organizing and identifying the AlertPolicy objects.The
  field can contain up to 64 entries. Each key and value is limited to 63 Unicode
  characters or 128 bytes, whichever is smaller. Labels and values can contain only
  lowercase letters, numerals, underscores, and dashes. Keys must begin with a letter.\";s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:19:\"BasicAuthentication\";O:8:\"stdClass\":3:{s:11:\"description\";s:178:\"A
  type of authentication to perform against the specified resource or URL that uses
  username and password. Currently, only Basic authentication is supported in Uptime
  Monitoring.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"password\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  password to authenticate.\";s:4:\"type\";s:6:\"string\";}s:8:\"username\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  username to authenticate.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"BucketOptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:974:\"BucketOptions
  describes the bucket boundaries used to create a histogram for the distribution.
  The buckets can be in a linear sequence, an exponential sequence, or each bucket
  can be specified explicitly. BucketOptions does not include the number of values
  in each bucket.A bucket has an inclusive lower bound and exclusive upper bound for
  the values that are counted for that bucket. The upper bound of a bucket must be
  strictly greater than the lower bound. The sequence of N buckets for a distribution
  consists of an underflow bucket (number 0), zero or more finite buckets (number
  1 through N - 2) and an overflow bucket (number N - 1). The buckets are contiguous:
  the lower bound of bucket i (i > 0) is the same as the upper bound of bucket i -
  1. The buckets span the whole range of finite values: lower bound of the underflow
  bucket is -infinity and the upper bound of the overflow bucket is +infinity. The
  finite buckets are so-called because both bounds are finite.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"explicitBuckets\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Explicit\";s:11:\"description\";s:21:\"The
  explicit buckets.\";}s:18:\"exponentialBuckets\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Exponential\";s:11:\"description\";s:24:\"The
  exponential buckets.\";}s:13:\"linearBuckets\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Linear\";s:11:\"description\";s:18:\"The
  linear bucket.\";}}s:4:\"type\";s:6:\"object\";}s:15:\"CollectdPayload\";O:8:\"stdClass\":3:{s:11:\"description\";s:115:\"A
  collection of data points sent from a collectd-based plugin. See the collectd documentation
  for more information.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:7:\"endTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  end time of the interval.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:8:\"metadata\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/TypedValue\";}s:11:\"description\";s:56:\"The
  measurement metadata. Example: \"process_id\" -> 12345\";s:4:\"type\";s:6:\"object\";}s:6:\"plugin\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  name of the plugin. Example: \"disk\".\";s:4:\"type\";s:6:\"string\";}s:14:\"pluginInstance\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"The
  instance name of the plugin Example: \"hdcl\".\";s:4:\"type\";s:6:\"string\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  start time of the interval.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  measurement type. Example: \"memory\".\";s:4:\"type\";s:6:\"string\";}s:12:\"typeInstance\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"The
  measurement type instance. Example: \"used\".\";s:4:\"type\";s:6:\"string\";}s:6:\"values\";O:8:\"stdClass\":3:{s:11:\"description\";s:95:\"The
  measured values during this time interval. Each value must have a different dataSourceName.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/CollectdValue\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:20:\"CollectdPayloadError\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"Describes
  the error status for payloads that were not written.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Status\";s:11:\"description\";s:124:\"Records
  the error status for the payload. If this field is present, the partial errors for
  nested values won't be populated.\";}s:5:\"index\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"The
  zero-based index in CreateCollectdTimeSeriesRequest.collectd_payloads.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"valueErrors\";O:8:\"stdClass\":3:{s:11:\"description\";s:157:\"Records
  the error status for values that were not written due to an error.Failed payloads
  for which nothing is written will not include partial value errors.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/CollectdValueError\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:13:\"CollectdValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"A
  single data point from a collectd-based plugin.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"dataSourceName\";O:8:\"stdClass\":2:{s:11:\"description\";s:119:\"The
  data source for the collectd value. For example there are two data sources for network
  measurements: \"rx\" and \"tx\".\";s:4:\"type\";s:6:\"string\";}s:14:\"dataSourceType\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  type of measurement.\";s:4:\"enum\";a:5:{i:0;s:28:\"UNSPECIFIED_DATA_SOURCE_TYPE\";i:1;s:5:\"GAUGE\";i:2;s:7:\"COUNTER\";i:3;s:6:\"DERIVE\";i:4;s:8:\"ABSOLUTE\";}s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/TypedValue\";s:11:\"description\";s:22:\"The
  measurement value.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"CollectdValueError\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"Describes
  the error status for values that were not written.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Status\";s:11:\"description\";s:39:\"Records
  the error status for the value.\";}s:5:\"index\";O:8:\"stdClass\":3:{s:11:\"description\";s:115:\"The
  zero-based index in CollectdPayload.values within the parent CreateCollectdTimeSeriesRequest.collectd_payloads.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:9:\"Condition\";O:8:\"stdClass\":3:{s:11:\"description\";s:169:\"A
  condition is a true/false test that determines when an alerting policy should open
  an incident. If a condition evaluates to true, it signifies that something is wrong.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:15:\"conditionAbsent\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/MetricAbsence\";s:11:\"description\";s:80:\"A
  condition that checks that a time series continues to receive new data points.\";}s:18:\"conditionThreshold\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/MetricThreshold\";s:11:\"description\";s:60:\"A
  condition that compares a time series against a threshold.\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:194:\"A
  short name or phrase used to identify the condition in dashboards, notifications,
  and incidents. To avoid confusion, don't use the same display name for multiple
  conditions in the same policy.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:1001:\"Required
  if the condition exists. The unique resource name for this condition. Its syntax
  is:\nprojects/[PROJECT_ID]/alertPolicies/[POLICY_ID]/conditions/[CONDITION_ID]\n[CONDITION_ID]
  is assigned by Stackdriver Monitoring when the condition is created as part of a
  new or updated alerting policy.When calling the alertPolicies.create method, do
  not include the name field in the conditions of the requested alerting policy. Stackdriver
  Monitoring creates the condition identifiers and includes them in the new policy.When
  calling the alertPolicies.update method to update a policy, including a condition
  name causes the existing condition to be updated. Conditions without names are added
  to the updated policy. Existing conditions are deleted if they are not updated.Best
  practice is to preserve [CONDITION_ID] if you make only small changes, such as those
  to condition thresholds, durations, or trigger values. Otherwise, treat the change
  as a new condition and let the existing condition be deleted.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"ContentMatcher\";O:8:\"stdClass\":3:{s:11:\"description\";s:172:\"Used
  to perform string matching. Currently, this matches on the exact content. In the
  future, it can be expanded to allow for regular expressions and more complex matching.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"content\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"String
  content to match (max 1024 bytes)\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:31:\"CreateCollectdTimeSeriesRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"The
  CreateCollectdTimeSeries request.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"collectdPayloads\";O:8:\"stdClass\":3:{s:11:\"description\";s:240:\"The
  collectd payloads representing the time series data. You must not include more than
  a single point for each time series, so no two payloads can have the same values
  for all of the fields plugin, plugin_instance, type, and type_instance.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/CollectdPayload\";}s:4:\"type\";s:5:\"array\";}s:15:\"collectdVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"The
  version of collectd that collected the data. Example: \"5.3.0-192.el6\".\";s:4:\"type\";s:6:\"string\";}s:8:\"resource\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/MonitoredResource\";s:11:\"description\";s:55:\"The
  monitored resource associated with the time series.\";}}s:4:\"type\";s:6:\"object\";}s:32:\"CreateCollectdTimeSeriesResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  CreateCollectdTimeSeries response.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"payloadErrors\";O:8:\"stdClass\":3:{s:11:\"description\";s:157:\"Records
  the error status for points that were not written due to an error.Failed requests
  for which nothing is written will return an error response instead.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/CollectdPayloadError\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:23:\"CreateTimeSeriesRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  CreateTimeSeries request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"timeSeries\";O:8:\"stdClass\":3:{s:11:\"description\";s:325:\"The
  new data to be added to a list of time series. Adds at most one data point to each
  of several time series. The new data point must be more recent than any other point
  in its time series. Each TimeSeries value must fully specify a unique time series
  by supplying all label values for the metric and the monitored resource.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/TimeSeries\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:12:\"Distribution\";O:8:\"stdClass\":3:{s:11:\"description\";s:773:\"Distribution
  contains summary statistics for a population of values. It optionally contains a
  histogram representing the distribution of those values across a set of buckets.The
  summary statistics are the count, mean, sum of the squared deviation from the mean,
  the minimum, and the maximum of the set of population of values. The histogram is
  based on a sequence of buckets and gives a count of values that fall into each bucket.
  The boundaries of the buckets are given either explicitly or by formulas for buckets
  of fixed or exponentially increasing widths.Although it is not forbidden, it is
  generally a bad idea to include non-finite values (infinities or NaNs) in the population
  of values, as this will render the mean and sum_of_squared_deviation fields meaningless.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:12:\"bucketCounts\";O:8:\"stdClass\":3:{s:11:\"description\";s:576:\"Required
  in the Stackdriver Monitoring API v3. The values for each bucket specified in bucket_options.
  The sum of the values in bucketCounts must equal the value in the count field of
  the Distribution object. The order of the bucket counts follows the numbering schemes
  described for the three bucket types. The underflow bucket has number 0; the finite
  buckets, if any, have numbers 1 through N-2; and the overflow bucket has number
  N-1. The size of bucket_counts must not be greater than N. If the size is less than
  N, then the remaining buckets are assigned values of zero.\";s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:13:\"bucketOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/BucketOptions\";s:11:\"description\";s:87:\"Required
  in the Stackdriver Monitoring API v3. Defines the histogram bucket boundaries.\";}s:5:\"count\";O:8:\"stdClass\":3:{s:11:\"description\";s:150:\"The
  number of values in the population. Must be non-negative. This value must equal
  the sum of the values in bucket_counts if a histogram is provided.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:9:\"exemplars\";O:8:\"stdClass\":3:{s:11:\"description\";s:149:\"Must
  be in increasing order of |value| field. The current requirement enforced by the
  backend is that at most one Exemplar will fall into any bucket.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Exemplar\";}s:4:\"type\";s:5:\"array\";}s:4:\"mean\";O:8:\"stdClass\":3:{s:11:\"description\";s:99:\"The
  arithmetic mean of the values in the population. If count is zero then this field
  must be zero.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:5:\"range\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Range\";s:11:\"description\";s:180:\"If
  specified, contains the range of the population values. The field must not be present
  if the count is zero. This field is presently ignored by the Stackdriver Monitoring
  API v3.\";}s:21:\"sumOfSquaredDeviation\";O:8:\"stdClass\":3:{s:11:\"description\";s:312:\"The
  sum of squared deviations from the mean of the values in the population. For values
  x_i this is:\nSum[i=1..n]((x_i - mean)^2)\nKnuth, \"The Art of Computer Programming\",
  Vol. 2, page 323, 3rd edition describes Welford's method for accumulating this sum
  in one pass.If count is zero then this field must be zero.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:13:\"Documentation\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"A
  content string and a MIME type that describes the content string's format.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"content\";O:8:\"stdClass\":2:{s:11:\"description\";s:212:\"The
  text of the documentation, interpreted according to mime_type. The content may not
  exceed 8,192 Unicode characters and may not exceed more than 10,240 bytes when encoded
  in UTF-8 format, whichever is smaller.\";s:4:\"type\";s:6:\"string\";}s:8:\"mimeType\";O:8:\"stdClass\":2:{s:11:\"description\";s:164:\"The
  format of the content field. Presently, only the value \"text/markdown\" is supported.
  See Markdown (https://en.wikipedia.org/wiki/Markdown) for more information.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Empty\";O:8:\"stdClass\":3:{s:11:\"description\";s:341:\"A
  generic empty message that you can re-use to avoid defining duplicated empty messages
  in your APIs. A typical example is to use it as the request or the response type
  of an API method. For instance:\nservice Foo {\n  rpc Bar(google.protobuf.Empty)
  returns (google.protobuf.Empty);\n}\nThe JSON representation for Empty is empty
  JSON object {}.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:8:\"Exemplar\";O:8:\"stdClass\":3:{s:11:\"description\";s:338:\"Exemplars
  are example points that may be used to annotate aggregated distribution values.
  They are metadata that gives information about a particular value added to a Distribution
  bucket, such as a trace ID that was active when a value was added. They may contain
  further information, such as a example values and timestamps, origin, etc.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"attachments\";O:8:\"stdClass\":3:{s:11:\"description\";s:400:\"Contextual
  information about the example value. Examples are:Trace ID: type.googleapis.com/google.devtools.cloudtrace.v1.TraceLiteral
  string: type.googleapis.com/google.protobuf.StringValueLabels dropped during aggregation:
  \ type.googleapis.com/google.monitoring.v3.DroppedLabelsThere may be only a single
  attachment of any given message type in a single exemplar, and this is enforced
  by the system.\";s:5:\"items\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:61:\"Properties
  of the object. Contains field @type with type URL.\";}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:9:\"timestamp\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  observation (sampling) time of the above value.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:88:\"Value
  of the exemplar point. This value determines to which bucket the exemplar belongs.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Explicit\";O:8:\"stdClass\":3:{s:11:\"description\";s:406:\"Specifies
  a set of buckets with arbitrary widths.There are size(bounds) + 1 (= N) buckets.
  Bucket i has the following boundaries:Upper bound (0 <= i < N-1): boundsi  Lower
  bound (1 <= i < N); boundsi - 1The bounds field must contain at least one element.
  If bounds has only one element, then there are no finite buckets, and that single
  element is the common boundary of the overflow and underflow buckets.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"bounds\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"The
  values must be monotonically increasing.\";s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:11:\"Exponential\";O:8:\"stdClass\":3:{s:11:\"description\";s:410:\"Specifies
  an exponential sequence of buckets that have a width that is proportional to the
  value of the lower bound. Each bucket represents a constant relative uncertainty
  on a specific value in the bucket.There are num_finite_buckets + 2 (= N) buckets.
  Bucket i has the following boundaries:Upper bound (0 <= i < N-1): scale * (growth_factor
  ^ i).  Lower bound (1 <= i < N): scale * (growth_factor ^ (i - 1)).\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"growthFactor\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Must
  be greater than 1.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:16:\"numFiniteBuckets\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Must
  be greater than 0.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:5:\"scale\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Must
  be greater than 0.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Field\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"A
  single field of a message type.\";s:10:\"properties\";O:8:\"stdClass\":10:{s:11:\"cardinality\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"The
  field cardinality.\";s:4:\"enum\";a:4:{i:0;s:19:\"CARDINALITY_UNKNOWN\";i:1;s:20:\"CARDINALITY_OPTIONAL\";i:2;s:20:\"CARDINALITY_REQUIRED\";i:3;s:20:\"CARDINALITY_REPEATED\";}s:4:\"type\";s:6:\"string\";}s:12:\"defaultValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"The
  string value of the default value of this field. Proto2 syntax only.\";s:4:\"type\";s:6:\"string\";}s:8:\"jsonName\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"The
  field JSON name.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"The
  field type.\";s:4:\"enum\";a:19:{i:0;s:12:\"TYPE_UNKNOWN\";i:1;s:11:\"TYPE_DOUBLE\";i:2;s:10:\"TYPE_FLOAT\";i:3;s:10:\"TYPE_INT64\";i:4;s:11:\"TYPE_UINT64\";i:5;s:10:\"TYPE_INT32\";i:6;s:12:\"TYPE_FIXED64\";i:7;s:12:\"TYPE_FIXED32\";i:8;s:9:\"TYPE_BOOL\";i:9;s:11:\"TYPE_STRING\";i:10;s:10:\"TYPE_GROUP\";i:11;s:12:\"TYPE_MESSAGE\";i:12;s:10:\"TYPE_BYTES\";i:13;s:11:\"TYPE_UINT32\";i:14;s:9:\"TYPE_ENUM\";i:15;s:13:\"TYPE_SFIXED32\";i:16;s:13:\"TYPE_SFIXED64\";i:17;s:11:\"TYPE_SINT32\";i:18;s:11:\"TYPE_SINT64\";}s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"The
  field name.\";s:4:\"type\";s:6:\"string\";}s:6:\"number\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"The
  field number.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"oneofIndex\";O:8:\"stdClass\":3:{s:11:\"description\";s:145:\"The
  index of the field type in Type.oneofs, for message or enumeration types. The first
  type has index 1; zero means the type is not in the list.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"options\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"The
  protocol buffer options.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Option\";}s:4:\"type\";s:5:\"array\";}s:6:\"packed\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Whether
  to use alternative packed wire representation.\";s:4:\"type\";s:7:\"boolean\";}s:7:\"typeUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:131:\"The
  field type URL, without the scheme, for message or enumeration types. Example: \"type.googleapis.com/google.protobuf.Timestamp\".\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:45:\"GetNotificationChannelVerificationCodeRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  GetNotificationChannelVerificationCode request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"expireTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:617:\"The
  desired expiration time. If specified, the API will guarantee that the returned
  code will not be valid after the specified timestamp; however, the API cannot guarantee
  that the returned code will be valid for at least as long as the requested time
  (the API puts an upper bound on the amount of time for which a code may be valid).
  If omitted, a default expiration will be used, which may be less than the max permissible
  expiration (so specifying an expiration may extend the code's lifetime over omitting
  an expiration, even though the API does impose an upper limit on the maximum expiration
  that is permitted).\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:46:\"GetNotificationChannelVerificationCodeResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  GetNotificationChannelVerificationCode request.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:264:\"The
  verification code, which may be used to verify other channels that have an equivalent
  identity (i.e. other channels of the same type with the same fingerprint such as
  other email channels with the same email address or other sms channels with the
  same number).\";s:4:\"type\";s:6:\"string\";}s:10:\"expireTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:206:\"The
  expiration time associated with the code that was returned. If an expiration was
  provided in the request, this is the minimum of the requested expiration in the
  request and the max permitted expiration.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Group\";O:8:\"stdClass\":3:{s:11:\"description\";s:1457:\"The
  description of a dynamic collection of monitored resources. Each group has a filter
  that is matched against monitored resources and their associated metadata. If a
  group's filter matches an available monitored resource, then that resource is a
  member of that group. Groups can contain any number of monitored resources, and
  each monitored resource can be a member of any number of groups.Groups can be nested
  in parent-child hierarchies. The parentName field identifies an optional parent
  for each group. If a group has a parent, then the only monitored resources available
  to be matched by the group's filter are the resources contained in the parent group.
  In other words, a group contains the monitored resources that match its filter and
  the filters of all the group's ancestors. A group without a parent can contain any
  monitored resource.For example, consider an infrastructure running a set of instances
  with two user-defined tags: \"environment\" and \"role\". A parent group has a filter,
  environment=\"production\". A child of that parent group has a filter, role=\"transcoder\".
  The parent group contains all instances in the production environment, regardless
  of their roles. The child group contains instances that have the transcoder role
  and are in the production environment.The monitored resources contained in a group
  can change at any moment, depending on what resources exist and what filters are
  associated with the group and its ancestors.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"A
  user-assigned name for this group, used only for display purposes.\";s:4:\"type\";s:6:\"string\";}s:6:\"filter\";O:8:\"stdClass\":2:{s:11:\"description\";s:76:\"The
  filter used to determine which monitored resources belong to this group.\";s:4:\"type\";s:6:\"string\";}s:9:\"isCluster\";O:8:\"stdClass\":2:{s:11:\"description\";s:138:\"If
  true, the members of this group are considered to be a cluster. The system can perform
  additional analysis on groups that are clusters.\";s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:294:\"Output
  only. The name of this group. The format is \"projects/{project_id_or_number}/groups/{group_id}\".
  When creating a group, this field is ignored and a new name is created consisting
  of the project specified in the call to CreateGroup and a unique {group_id} that
  is generated automatically.\";s:4:\"type\";s:6:\"string\";}s:10:\"parentName\";O:8:\"stdClass\":2:{s:11:\"description\";s:176:\"The
  name of the group's parent, if it has one. The format is \"projects/{project_id_or_number}/groups/{group_id}\".
  For groups with no parent, parentName is the empty string, \"\".\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"HttpCheck\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"Information
  involved in an HTTP/HTTPS uptime check request.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:8:\"authInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/BasicAuthentication\";s:11:\"description\";s:88:\"The
  authentication information. Optional when creating an HTTP check; defaults to empty.\";}s:7:\"headers\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:473:\"The
  list of headers to send as part of the uptime check request. If two headers have
  the same key and different values, they should be entered as a single header, with
  the value being a comma-separated list of all the desired values as described at
  https://www.w3.org/Protocols/rfc2616/rfc2616.txt (page 31). Entering two separate
  headers with the same key in a Create call will cause the first to be overwritten
  by the second. The maximum number of headers allowed is 100.\";s:4:\"type\";s:6:\"object\";}s:11:\"maskHeaders\";O:8:\"stdClass\":2:{s:11:\"description\";s:358:\"Boolean
  specifiying whether to encrypt the header information. Encryption should be specified
  for any headers related to authentication that you do not wish to be seen when retrieving
  the configuration. The server will be responsible for encrypting the headers. On
  Get/List calls, if mask_headers is set to True then the headers will be obscured
  with ******.\";s:4:\"type\";s:7:\"boolean\";}s:4:\"path\";O:8:\"stdClass\":2:{s:11:\"description\";s:182:\"The
  path to the page to run the check against. Will be combined with the host (specified
  within the MonitoredResource) and port to construct the full URL. Optional (defaults
  to \"/\").\";s:4:\"type\";s:6:\"string\";}s:4:\"port\";O:8:\"stdClass\":3:{s:11:\"description\";s:206:\"The
  port to the page to run the check against. Will be combined with host (specified
  within the MonitoredResource) and path to construct the full URL. Optional (defaults
  to 80 without SSL, or 443 with SSL).\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"useSsl\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"If
  true, use HTTPS instead of HTTP to run the check.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:15:\"InternalChecker\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Nimbus
  InternalCheckers.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"checkerId\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"The
  checker ID.\";s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  checker's human-readable name.\";s:4:\"type\";s:6:\"string\";}s:7:\"gcpZone\";O:8:\"stdClass\":2:{s:11:\"description\";s:129:\"The
  GCP zone the uptime check should egress from. Only respected for internal uptime
  checks, where internal_network is specified.\";s:4:\"type\";s:6:\"string\";}s:7:\"network\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"The
  internal network to perform this uptime check on.\";s:4:\"type\";s:6:\"string\";}s:9:\"projectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"The
  GCP project ID. Not necessarily the same as the project_id for the config.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"LabelDescriptor\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"A
  description of a label.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"A
  human-readable description for the label.\";s:4:\"type\";s:6:\"string\";}s:3:\"key\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"The
  label key.\";s:4:\"type\";s:6:\"string\";}s:9:\"valueType\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  type of data that can be assigned to the label.\";s:4:\"enum\";a:3:{i:0;s:6:\"STRING\";i:1;s:4:\"BOOL\";i:2;s:5:\"INT64\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Linear\";O:8:\"stdClass\":3:{s:11:\"description\";s:382:\"Specifies
  a linear sequence of buckets that all have the same width (except overflow and underflow).
  Each bucket represents a constant absolute uncertainty on the specific value in
  the bucket.There are num_finite_buckets + 2 (= N) buckets. Bucket i has the following
  boundaries:Upper bound (0 <= i < N-1): offset + (width * i).  Lower bound (1 <=
  i < N): offset + (width * (i - 1)).\";s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"numFiniteBuckets\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Must
  be greater than 0.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"offset\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Lower
  bound of the first bucket.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:5:\"width\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Must
  be greater than 0.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:25:\"ListAlertPoliciesResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"The
  protocol for the ListAlertPolicies response.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"alertPolicies\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"The
  returned alert policies.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/AlertPolicy\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:187:\"If
  there might be more results than were returned, then this field is set to a non-empty
  value. To see the additional results, use that value as pageToken in the next call
  to this method.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:24:\"ListGroupMembersResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  ListGroupMembers response.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"members\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"A
  set of monitored resources in the group.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/MonitoredResource\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:187:\"If
  there are more results than have been returned, then this field is set to a non-empty
  value. To see the additional results, use that value as pageToken in the next call
  to this method.\";s:4:\"type\";s:6:\"string\";}s:9:\"totalSize\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  total number of elements matching this request.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:18:\"ListGroupsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  ListGroups response.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"group\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"The
  groups that match the specified filters.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Group\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:187:\"If
  there are more results than have been returned, then this field is set to a non-empty
  value. To see the additional results, use that value as pageToken in the next call
  to this method.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:29:\"ListMetricDescriptorsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  ListMetricDescriptors response.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"metricDescriptors\";O:8:\"stdClass\":3:{s:11:\"description\";s:104:\"The
  metric descriptors that are available to the project and that match the value of
  filter, if present.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/MetricDescriptor\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:187:\"If
  there are more results than have been returned, then this field is set to a non-empty
  value. To see the additional results, use that value as pageToken in the next call
  to this method.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:40:\"ListMonitoredResourceDescriptorsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  ListMonitoredResourceDescriptors response.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:187:\"If
  there are more results than have been returned, then this field is set to a non-empty
  value. To see the additional results, use that value as pageToken in the next call
  to this method.\";s:4:\"type\";s:6:\"string\";}s:19:\"resourceDescriptors\";O:8:\"stdClass\":3:{s:11:\"description\";s:104:\"The
  monitored resource descriptors that are available to this project and that match
  filter, if present.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/MonitoredResourceDescriptor\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:42:\"ListNotificationChannelDescriptorsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"The
  ListNotificationChannelDescriptors response.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:18:\"channelDescriptors\";O:8:\"stdClass\":3:{s:11:\"description\";s:92:\"The
  monitored resource descriptors supported for the specified project, optionally filtered.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/NotificationChannelDescriptor\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:216:\"If
  not empty, indicates that there may be more results that match the request. Use
  the value in the page_token field in a subsequent request to fetch the next set
  of results. If empty, all results have been returned.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:32:\"ListNotificationChannelsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  ListNotificationChannels response.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:216:\"If
  not empty, indicates that there may be more results that match the request. Use
  the value in the page_token field in a subsequent request to fetch the next set
  of results. If empty, all results have been returned.\";s:4:\"type\";s:6:\"string\";}s:20:\"notificationChannels\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"The
  notification channels defined for the specified project.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/NotificationChannel\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:22:\"ListTimeSeriesResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"The
  ListTimeSeries response.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:187:\"If
  there are more results than have been returned, then this field is set to a non-empty
  value. To see the additional results, use that value as pageToken in the next call
  to this method.\";s:4:\"type\";s:6:\"string\";}s:10:\"timeSeries\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"One
  or more time series that match the filter included in the request.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/TimeSeries\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:30:\"ListUptimeCheckConfigsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"The
  protocol for the ListUptimeCheckConfigs response.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:309:\"This
  field represents the pagination token to retrieve the next page of results. If the
  value is empty, it means no further results for the request. To retrieve the next
  page of results, the value of the next_page_token is passed to the subsequent List
  method call (in the request message's page_token field).\";s:4:\"type\";s:6:\"string\";}s:9:\"totalSize\";O:8:\"stdClass\":3:{s:11:\"description\";s:96:\"The
  total number of uptime check configurations for the project, irrespective of any
  pagination.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:18:\"uptimeCheckConfigs\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  returned uptime check configurations.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/UptimeCheckConfig\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:26:\"ListUptimeCheckIpsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  protocol for the ListUptimeCheckIps response.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:349:\"This
  field represents the pagination token to retrieve the next page of results. If the
  value is empty, it means no further results for the request. To retrieve the next
  page of results, the value of the next_page_token is passed to the subsequent List
  method call (in the request message's page_token field). NOTE: this field is not
  yet implemented\";s:4:\"type\";s:6:\"string\";}s:14:\"uptimeCheckIps\";O:8:\"stdClass\":3:{s:11:\"description\";s:93:\"The
  returned list of IP addresses (including region and location) that the checkers
  run from.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/UptimeCheckIp\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Metric\";O:8:\"stdClass\":3:{s:11:\"description\";s:95:\"A
  specific metric, identified by specifying values for all of the labels of a MetricDescriptor.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"labels\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:126:\"The
  set of label values that uniquely identify this metric. All labels listed in the
  MetricDescriptor must be assigned values.\";s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:113:\"An
  existing metric type, see google.api.MetricDescriptor. For example, custom.googleapis.com/invoice/paid/amount.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"MetricAbsence\";O:8:\"stdClass\":3:{s:11:\"description\";s:304:\"A
  condition type that checks that monitored resources are reporting data. The configuration
  defines a metric and a set of monitored resources. The predicate is considered in
  violation when a time series for the specified metric of a monitored resource does
  not include any data in the specified duration.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"aggregations\";O:8:\"stdClass\":3:{s:11:\"description\";s:506:\"Specifies
  the alignment of data points in individual time series as well as how to combine
  the retrieved time series together (such as when aggregating multiple streams on
  each resource to a single stream for each resource or when aggregating streams across
  all members of a group of resrouces). Multiple aggregations are applied in the order
  specified.This field is similar to the one in the MetricService.ListTimeSeries request.
  It is advisable to use the ListTimeSeries method when debugging this field.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Aggregation\";}s:4:\"type\";s:5:\"array\";}s:8:\"duration\";O:8:\"stdClass\":3:{s:11:\"description\";s:287:\"The
  amount of time that a time series must fail to report new data to be considered
  failing. Currently, only values that are a multiple of a minute--e.g. 60, 120, or
  300 seconds--are supported. If an invalid value is given, an error will be returned.
  The Duration.nanos field is ignored.\";s:6:\"format\";s:15:\"google-duration\";s:4:\"type\";s:6:\"string\";}s:6:\"filter\";O:8:\"stdClass\":2:{s:11:\"description\";s:446:\"A
  filter that identifies which time series should be compared with the threshold.The
  filter is similar to the one that is specified in the MetricService.ListTimeSeries
  request (that call is useful to verify the time series that will be retrieved /
  processed) and must specify the metric type and optionally may contain restrictions
  on resource type, resource labels, and metric labels. This field may not exceed
  2048 Unicode characters in length.\";s:4:\"type\";s:6:\"string\";}s:7:\"trigger\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Trigger\";s:11:\"description\";s:262:\"The
  number/percent of time series for which the comparison must hold in order for the
  condition to trigger. If unspecified, then the condition will trigger if the comparison
  is true for any of the time series that have been identified by filter and aggregations.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"MetricDescriptor\";O:8:\"stdClass\":3:{s:11:\"description\";s:172:\"Defines
  a metric type and its schema. Once a metric descriptor is created, deleting or altering
  it stops data collection and makes the metric type's existing data unusable.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"A
  detailed description of the metric, which can be used in documentation.\";s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:271:\"A
  concise name for the metric, which can be displayed in user interfaces. Use sentence
  case without an ending period, for example \"Request count\". This field is optional
  but it is recommended to be set for any metrics associated with user-visible concepts,
  such as Quota.\";s:4:\"type\";s:6:\"string\";}s:6:\"labels\";O:8:\"stdClass\":3:{s:11:\"description\";s:316:\"The
  set of labels that can be used to describe a specific instance of this metric type.
  For example, the appengine.googleapis.com/http/server/response_latencies metric
  type has a label for the HTTP response code, response_code, so you can look at latencies
  for successful responses or just for responses that failed.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/LabelDescriptor\";}s:4:\"type\";s:5:\"array\";}s:10:\"metricKind\";O:8:\"stdClass\":3:{s:11:\"description\";s:145:\"Whether
  the metric records instantaneous values, changes to a value, etc. Some combinations
  of metric_kind and value_type might not be supported.\";s:4:\"enum\";a:4:{i:0;s:23:\"METRIC_KIND_UNSPECIFIED\";i:1;s:5:\"GAUGE\";i:2;s:5:\"DELTA\";i:3;s:10:\"CUMULATIVE\";}s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  resource name of the metric descriptor.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:327:\"The
  metric type, including its DNS name prefix. The type is not URL-encoded. All user-defined
  custom metric types have the DNS name custom.googleapis.com. Metric types should
  use a natural hierarchical grouping. For example:\n\"custom.googleapis.com/invoice/paid/amount\"\n\"appengine.googleapis.com/http/server/response_latencies\"\n\";s:4:\"type\";s:6:\"string\";}s:4:\"unit\";O:8:\"stdClass\":2:{s:11:\"description\";s:344:\"Optional.
  The unit in which the metric value is reported. For example, kBy/s means kilobytes/sec,
  and 1 is the dimensionless unit. The supported units are a subset of The Unified
  Code for Units of Measure standard (http://unitsofmeasure.org/ucum.html).<br><br>
  This field is part of the metric's documentation, but it is ignored by Stackdriver.\";s:4:\"type\";s:6:\"string\";}s:9:\"valueType\";O:8:\"stdClass\":3:{s:11:\"description\";s:140:\"Whether
  the measurement is an integer, a floating-point number, etc. Some combinations of
  metric_kind and value_type might not be supported.\";s:4:\"enum\";a:7:{i:0;s:22:\"VALUE_TYPE_UNSPECIFIED\";i:1;s:4:\"BOOL\";i:2;s:5:\"INT64\";i:3;s:6:\"DOUBLE\";i:4;s:6:\"STRING\";i:5;s:12:\"DISTRIBUTION\";i:6;s:5:\"MONEY\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"MetricThreshold\";O:8:\"stdClass\":3:{s:11:\"description\";s:79:\"A
  condition type that compares a collection of time series against a threshold.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:12:\"aggregations\";O:8:\"stdClass\":3:{s:11:\"description\";s:506:\"Specifies
  the alignment of data points in individual time series as well as how to combine
  the retrieved time series together (such as when aggregating multiple streams on
  each resource to a single stream for each resource or when aggregating streams across
  all members of a group of resrouces). Multiple aggregations are applied in the order
  specified.This field is similar to the one in the MetricService.ListTimeSeries request.
  It is advisable to use the ListTimeSeries method when debugging this field.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Aggregation\";}s:4:\"type\";s:5:\"array\";}s:10:\"comparison\";O:8:\"stdClass\":3:{s:11:\"description\";s:328:\"The
  comparison to apply between the time series (indicated by filter and aggregation)
  and the threshold (indicated by threshold_value). The comparison is applied on each
  time series, with the time series on the left-hand side and the threshold on the
  right-hand side.Only COMPARISON_LT and COMPARISON_GT are supported currently.\";s:4:\"enum\";a:7:{i:0;s:22:\"COMPARISON_UNSPECIFIED\";i:1;s:13:\"COMPARISON_GT\";i:2;s:13:\"COMPARISON_GE\";i:3;s:13:\"COMPARISON_LT\";i:4;s:13:\"COMPARISON_LE\";i:5;s:13:\"COMPARISON_EQ\";i:6;s:13:\"COMPARISON_NE\";}s:4:\"type\";s:6:\"string\";}s:23:\"denominatorAggregations\";O:8:\"stdClass\":3:{s:11:\"description\";s:655:\"Specifies
  the alignment of data points in individual time series selected by denominatorFilter
  as well as how to combine the retrieved time series together (such as when aggregating
  multiple streams on each resource to a single stream for each resource or when aggregating
  streams across all members of a group of resources).When computing ratios, the aggregations
  and denominator_aggregations fields must use the same alignment period and produce
  time series that have the same periodicity and labels.This field is similar to the
  one in the MetricService.ListTimeSeries request. It is advisable to use the ListTimeSeries
  method when debugging this field.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Aggregation\";}s:4:\"type\";s:5:\"array\";}s:17:\"denominatorFilter\";O:8:\"stdClass\":2:{s:11:\"description\";s:610:\"A
  filter that identifies a time series that should be used as the denominator of a
  ratio that will be compared with the threshold. If a denominator_filter is specified,
  the time series specified by the filter field will be used as the numerator.The
  filter is similar to the one that is specified in the MetricService.ListTimeSeries
  request (that call is useful to verify the time series that will be retrieved /
  processed) and must specify the metric type and optionally may contain restrictions
  on resource type, resource labels, and metric labels. This field may not exceed
  2048 Unicode characters in length.\";s:4:\"type\";s:6:\"string\";}s:8:\"duration\";O:8:\"stdClass\":3:{s:11:\"description\";s:607:\"The
  amount of time that a time series must violate the threshold to be considered failing.
  Currently, only values that are a multiple of a minute--e.g., 0, 60, 120, or 300
  seconds--are supported. If an invalid value is given, an error will be returned.
  When choosing a duration, it is useful to keep in mind the frequency of the underlying
  time series data (which may also be affected by any alignments specified in the
  aggregations field); a good duration is long enough so that a single outlier does
  not generate spurious alerts, but short enough that unhealthy states are detected
  and alerted on quickly.\";s:6:\"format\";s:15:\"google-duration\";s:4:\"type\";s:6:\"string\";}s:6:\"filter\";O:8:\"stdClass\":2:{s:11:\"description\";s:446:\"A
  filter that identifies which time series should be compared with the threshold.The
  filter is similar to the one that is specified in the MetricService.ListTimeSeries
  request (that call is useful to verify the time series that will be retrieved /
  processed) and must specify the metric type and optionally may contain restrictions
  on resource type, resource labels, and metric labels. This field may not exceed
  2048 Unicode characters in length.\";s:4:\"type\";s:6:\"string\";}s:14:\"thresholdValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"A
  value against which to compare the time series.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:7:\"trigger\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Trigger\";s:11:\"description\";s:345:\"The
  number/percent of time series for which the comparison must hold in order for the
  condition to trigger. If unspecified, then the condition will trigger if the comparison
  is true for any of the time series that have been identified by filter and aggregations,
  or by the ratio, if denominator_filter and denominator_aggregations are specified.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"MonitoredResource\";O:8:\"stdClass\":3:{s:11:\"description\";s:711:\"An
  object representing a resource that can be used for monitoring, logging, billing,
  or other purposes. Examples include virtual machine instances, databases, and storage
  devices such as disks. The type field identifies a MonitoredResourceDescriptor object
  that describes the resource's schema. Information in the labels field identifies
  the actual resource and its attributes according to the schema. For example, a particular
  Compute Engine VM instance could be represented by the following object, because
  the MonitoredResourceDescriptor for \"gce_instance\" has labels \"instance_id\"
  and \"zone\":\n{ \"type\": \"gce_instance\",\n  \"labels\": { \"instance_id\": \"12345678901234\",\n
  \             \"zone\": \"us-central1-a\" }}\n\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"labels\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:191:\"Required.
  Values for all of the labels listed in the associated monitored resource descriptor.
  For example, Compute Engine VM instances use the labels \"project_id\", \"instance_id\",
  and \"zone\".\";s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:187:\"Required.
  The monitored resource type. This field must match the type field of a MonitoredResourceDescriptor
  object. For example, the type of a Compute Engine VM instance is gce_instance.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:27:\"MonitoredResourceDescriptor\";O:8:\"stdClass\":3:{s:11:\"description\";s:481:\"An
  object that describes the schema of a MonitoredResource object using a type name
  and a set of labels. For example, the monitored resource descriptor for Google Compute
  Engine VM instances has a type of \"gce_instance\" and specifies the use of the
  labels \"instance_id\" and \"zone\" to identify particular VM instances.Different
  APIs can support different monitored resource types. APIs generally provide a list
  method that returns the monitored resource descriptors used by the API.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:100:\"Optional.
  A detailed description of the monitored resource type that might be used in documentation.\";s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:224:\"Optional.
  A concise name for the monitored resource type that might be displayed in user interfaces.
  It should be a Title Cased Noun Phrase, without any article or other determiners.
  For example, \"Google Cloud SQL Database\".\";s:4:\"type\";s:6:\"string\";}s:6:\"labels\";O:8:\"stdClass\":3:{s:11:\"description\";s:203:\"Required.
  A set of labels used to describe instances of this monitored resource type. For
  example, an individual Google Cloud SQL database is identified by values for the
  labels \"database_id\" and \"zone\".\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/LabelDescriptor\";}s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:389:\"Optional.
  The resource name of the monitored resource descriptor: \"projects/{project_id}/monitoredResourceDescriptors/{type}\"
  where {type} is the value of the type field in this object and {project_id} is a
  project ID that provides API-specific context for accessing the type. APIs that
  do not use project information can use the resource name format \"monitoredResourceDescriptors/{type}\".\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:174:\"Required.
  The monitored resource type. For example, the type \"cloudsql_database\" represents
  databases in Google Cloud SQL. The maximum length of this value is 256 characters.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:25:\"MonitoredResourceMetadata\";O:8:\"stdClass\":3:{s:11:\"description\";s:377:\"Auxiliary
  metadata for a MonitoredResource object. MonitoredResource objects contain the minimum
  set of information to uniquely identify a monitored resource instance. There is
  some other useful auxiliary metadata. Google Stackdriver Monitoring & Logging uses
  an ingestion pipeline to extract metadata for cloud resources of all types , and
  stores the metadata in this message.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"systemLabels\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:25:\"Properties
  of the object.\";}s:11:\"description\";s:483:\"Output only. Values for predefined
  system metadata labels. System labels are a kind of metadata extracted by Google
  Stackdriver. Stackdriver determines what system labels are useful and how to obtain
  their values. Some examples: \"machine_image\", \"vpc\", \"subnet_id\", \"security_group\",
  \"name\", etc. System label values can be only strings, Boolean values, or a list
  of strings. For example:\n{ \"name\": \"my-test-instance\",\n  \"security_group\":
  [\"a\", \"b\", \"c\"],\n  \"spot_instance\": false }\n\";s:4:\"type\";s:6:\"object\";}s:10:\"userLabels\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:51:\"Output
  only. A map of user-defined metadata labels.\";s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:14:\"MutationRecord\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Describes
  a change made to a configuration.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"mutateTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"When
  the change occurred.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:9:\"mutatedBy\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"The
  email address of the user making the change.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"NotificationChannel\";O:8:\"stdClass\":3:{s:11:\"description\";s:313:\"A
  NotificationChannel is a medium through which an alert is delivered when a policy
  violation is detected. Examples of channels include email, SMS, and third-party
  messaging applications. Fields containing sensitive information like authentication
  tokens or contact info are only partially populated on retrieval.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:205:\"An
  optional human-readable description of this notification channel. This description
  may provide additional details, beyond the display name, for the channel. This may
  not exceeed 1024 Unicode characters.\";s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:278:\"An
  optional human-readable name for this notification channel. It is recommended that
  you specify a non-empty and unique name in order to make it easier to identify the
  channels in your project, though this is not enforced. The display name is limited
  to 512 Unicode characters.\";s:4:\"type\";s:6:\"string\";}s:7:\"enabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:414:\"Whether
  notifications are forwarded to the described channel. This makes it possible to
  disable delivery of notifications to a particular channel without removing the channel
  from all alerting policies that reference the channel. This is a more convenient
  approach when the change is temporary and you want to receive notifications from
  the same set of alerting policies on the channel at some point in the future.\";s:4:\"type\";s:7:\"boolean\";}s:6:\"labels\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:226:\"Configuration
  fields that define the channel and its behavior. The permissible and required labels
  are specified in the NotificationChannelDescriptor.labels of the NotificationChannelDescriptor
  corresponding to the type field.\";s:4:\"type\";s:6:\"object\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:186:\"The
  full REST resource name for this channel. The syntax is:\nprojects/[PROJECT_ID]/notificationChannels/[CHANNEL_ID]\nThe
  [CHANNEL_ID] is automatically assigned by the server on creation.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:115:\"The
  type of the notification channel. This field matches the value of the NotificationChannelDescriptor.type
  field.\";s:4:\"type\";s:6:\"string\";}s:10:\"userLabels\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:492:\"User-supplied
  key/value data that does not need to conform to the corresponding NotificationChannelDescriptor's
  schema, unlike the labels field. This field is intended to be used for organizing
  and identifying the NotificationChannel objects.The field can contain up to 64 entries.
  Each key and value is limited to 63 Unicode characters or 128 bytes, whichever is
  smaller. Labels and values can contain only lowercase letters, numerals, underscores,
  and dashes. Keys must begin with a letter.\";s:4:\"type\";s:6:\"object\";}s:18:\"verificationStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:787:\"Indicates
  whether this channel has been verified or not. On a ListNotificationChannels or
  GetNotificationChannel operation, this field is expected to be populated.If the
  value is UNVERIFIED, then it indicates that the channel is non-functioning (it both
  requires verification and lacks verification); otherwise, it is assumed that the
  channel works.If the channel is neither VERIFIED nor UNVERIFIED, it implies that
  the channel is of a type that does not require verification or that this specific
  channel has been exempted from verification because it was created prior to verification
  being required for channels of this type.This field cannot be modified using a standard
  UpdateNotificationChannel operation. To change the value of this field, you must
  call VerifyNotificationChannel.\";s:4:\"enum\";a:3:{i:0;s:31:\"VERIFICATION_STATUS_UNSPECIFIED\";i:1;s:10:\"UNVERIFIED\";i:2;s:8:\"VERIFIED\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:29:\"NotificationChannelDescriptor\";O:8:\"stdClass\":3:{s:11:\"description\";s:188:\"A
  description of a notification channel. The descriptor includes the properties of
  the channel and the set of labels or fields that must be specified to configure
  channels of a given type.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:177:\"A
  human-readable description of the notification channel type. The description may
  include a description of the properties of the channel and pointers to external
  documentation.\";s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:112:\"A
  human-readable name for the notification channel type. This form of the name is
  suitable for a user interface.\";s:4:\"type\";s:6:\"string\";}s:6:\"labels\";O:8:\"stdClass\":3:{s:11:\"description\";s:172:\"The
  set of labels that must be defined to identify a particular channel of the corresponding
  type. Each label includes a description for how that field should be populated.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/LabelDescriptor\";}s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:176:\"The
  full REST resource name for this descriptor. The syntax is:\nprojects/[PROJECT_ID]/notificationChannelDescriptors/[TYPE]\nIn
  the above, [TYPE] is the value of the type field.\";s:4:\"type\";s:6:\"string\";}s:14:\"supportedTiers\";O:8:\"stdClass\":3:{s:11:\"description\";s:110:\"The
  tiers that support this notification channel; the project service tier must be one
  of the supported_tiers.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:24:\"SERVICE_TIER_UNSPECIFIED\";i:1;s:18:\"SERVICE_TIER_BASIC\";i:2;s:20:\"SERVICE_TIER_PREMIUM\";}s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:110:\"The
  type of notification channel, such as \"email\", \"sms\", etc. Notification channel
  types are globally unique.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Option\";O:8:\"stdClass\":3:{s:11:\"description\";s:86:\"A
  protocol buffer option, which can be attached to a message, field, enumeration,
  etc.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:228:\"The
  option's name. For protobuf built-in options (options defined in descriptor.proto),
  this is the short name. For example, \"map_entry\". For custom options, it should
  be the fully-qualified name. For example, \"google.api.http\".\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:61:\"Properties
  of the object. Contains field @type with type URL.\";}s:11:\"description\";s:268:\"The
  option's value packed in an Any message. If the value is a primitive, the corresponding
  wrapper type defined in google/protobuf/wrappers.proto should be used. If the value
  is an enum, it should be stored as an int32 value using the google.protobuf.Int32Value
  type.\";s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Point\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"A
  single data point in a time series.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"interval\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/TimeInterval\";s:11:\"description\";s:532:\"The
  time interval to which the data point applies. For GAUGE metrics, only the end time
  of the interval is used. For DELTA metrics, the start and end time should specify
  a non-zero interval, with subsequent points specifying contiguous and non-overlapping
  intervals. For CUMULATIVE metrics, the start and end time should specify a non-zero
  interval, with subsequent points specifying the same start time and increasing end
  times, until an event resets the cumulative value to zero and sets a new start time
  for the following points.\";}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/TypedValue\";s:11:\"description\";s:28:\"The
  value of the data point.\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Range\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  range of the population values.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"max\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"The
  maximum of the population values.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:3:\"min\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"The
  minimum of the population values.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:13:\"ResourceGroup\";O:8:\"stdClass\":3:{s:11:\"description\";s:134:\"The
  resource submessage for group checks. It can be used instead of a monitored resource,
  when multiple resources are being monitored.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"groupId\";O:8:\"stdClass\":2:{s:11:\"description\";s:113:\"The
  group of resources being monitored. Should be only the group_id, not projects/<project_id>/groups/<group_id>.\";s:4:\"type\";s:6:\"string\";}s:12:\"resourceType\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  resource type of the group members.\";s:4:\"enum\";a:3:{i:0;s:25:\"RESOURCE_TYPE_UNSPECIFIED\";i:1;s:8:\"INSTANCE\";i:2;s:21:\"AWS_ELB_LOAD_BALANCER\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:46:\"SendNotificationChannelVerificationCodeRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"The
  SendNotificationChannelVerificationCode request.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:13:\"SourceContext\";O:8:\"stdClass\":3:{s:11:\"description\";s:114:\"SourceContext
  represents information about the source of a protobuf element, like the file in
  which it is defined.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"fileName\";O:8:\"stdClass\":2:{s:11:\"description\";s:143:\"The
  path-qualified name of the .proto file that contained the associated protobuf element.
  For example: \"google/protobuf/source_context.proto\".\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Status\";O:8:\"stdClass\":3:{s:11:\"description\";s:2337:\"The
  Status type defines a logical error model that is suitable for different programming
  environments, including REST APIs and RPC APIs. It is used by gRPC (https://github.com/grpc).
  The error model is designed to be:\nSimple to use and understand for most users\nFlexible
  enough to meet unexpected needsOverviewThe Status message contains three pieces
  of data: error code, error message, and error details. The error code should be
  an enum value of google.rpc.Code, but it may accept additional error codes if needed.
  The error message should be a developer-facing English message that helps developers
  understand and resolve the error. If a localized user-facing error message is needed,
  put the localized message in the error details or localize it in the client. The
  optional error details may contain arbitrary information about the error. There
  is a predefined set of error detail types in the package google.rpc that can be
  used for common error conditions.Language mappingThe Status message is the logical
  representation of the error model, but it is not necessarily the actual wire format.
  When the Status message is exposed in different client libraries and different wire
  protocols, it can be mapped differently. For example, it will likely be mapped to
  some exceptions in Java, but more likely mapped to some error codes in C.Other usesThe
  error model and the Status message can be used in a variety of environments, either
  with or without APIs, to provide a consistent developer experience across different
  environments.Example uses of this error model include:\nPartial errors. If a service
  needs to return partial errors to the client, it may embed the Status in the normal
  response to indicate the partial errors.\nWorkflow errors. A typical workflow has
  multiple steps. Each step may have a Status message for error reporting.\nBatch
  operations. If a client uses batch request and batch response, the Status message
  should be used directly inside batch response, one for each error sub-response.\nAsynchronous
  operations. If an API call embeds asynchronous operation results in its response,
  the status of those operations should be represented directly using the Status message.\nLogging.
  If some API errors are stored in logs, the message Status could be used directly
  after any stripping needed for security/privacy reasons.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"The
  status code, which should be an enum value of google.rpc.Code.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"details\";O:8:\"stdClass\":3:{s:11:\"description\";s:104:\"A
  list of messages that carry the error details. There is a common set of message
  types for APIs to use.\";s:5:\"items\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:61:\"Properties
  of the object. Contains field @type with type URL.\";}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:188:\"A
  developer-facing error message, which should be in English. Any user-facing error
  message should be localized and sent in the google.rpc.Status.details field, or
  localized by the client.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"TcpCheck\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Information
  required for a TCP uptime check request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"port\";O:8:\"stdClass\":3:{s:11:\"description\";s:151:\"The
  port to the page to run the check against. Will be combined with host (specified
  within the MonitoredResource) to construct the full URL. Required.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:12:\"TimeInterval\";O:8:\"stdClass\":3:{s:11:\"description\";s:170:\"A
  time interval extending just after a start time through an end time. If the start
  time is the same as the end time, then the interval represents a single point in
  time.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"endTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Required.
  The end of the time interval.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:151:\"Optional.
  The beginning of the time interval. The default value for the start time is the
  end time. The start time must not be later than the end time.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"TimeSeries\";O:8:\"stdClass\":3:{s:11:\"description\";s:255:\"A
  collection of data points that describes the time-varying values of a metric. A
  time series is identified by a combination of a fully-specified monitored resource
  and a fully-specified metric. This type is used for both listing and creating time
  series.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:8:\"metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/MonitoredResourceMetadata\";s:11:\"description\";s:220:\"Output
  only. The associated monitored resource metadata. When reading a a timeseries, this
  field will include metadata labels that are explicitly named in the reduction. When
  creating a timeseries, this field is ignored.\";}s:6:\"metric\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Metric\";s:11:\"description\";s:81:\"The
  associated metric. A fully-specified metric used to identify the time series.\";}s:10:\"metricKind\";O:8:\"stdClass\":3:{s:11:\"description\";s:521:\"The
  metric kind of the time series. When listing time series, this metric kind might
  be different from the metric kind of the associated metric if this time series is
  an alignment or reduction of other time series.When creating a time series, this
  field is optional. If present, it must be the same as the metric kind of the associated
  metric. If the associated metric's descriptor must be auto-created, then this field
  specifies the metric kind of the new descriptor and must be either GAUGE (the default)
  or CUMULATIVE.\";s:4:\"enum\";a:4:{i:0;s:23:\"METRIC_KIND_UNSPECIFIED\";i:1;s:5:\"GAUGE\";i:2;s:5:\"DELTA\";i:3;s:10:\"CUMULATIVE\";}s:4:\"type\";s:6:\"string\";}s:6:\"points\";O:8:\"stdClass\":3:{s:11:\"description\";s:442:\"The
  data points of this time series. When listing time series, points are returned in
  reverse time order.When creating a time series, this field must contain exactly
  one point and the point's type must be the same as the value type of the associated
  metric. If the associated metric's descriptor must be auto-created, then the value
  type of the descriptor is determined by the point's type, which must be BOOL, INT64,
  DOUBLE, or DISTRIBUTION.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Point\";}s:4:\"type\";s:5:\"array\";}s:8:\"resource\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/MonitoredResource\";s:11:\"description\";s:122:\"The
  associated monitored resource. Custom metrics can use only certain monitored resource
  types in their time series data.\";}s:9:\"valueType\";O:8:\"stdClass\":3:{s:11:\"description\";s:340:\"The
  value type of the time series. When listing time series, this value type might be
  different from the value type of the associated metric if this time series is an
  alignment or reduction of other time series.When creating a time series, this field
  is optional. If present, it must be the same as the type of the data in the points
  field.\";s:4:\"enum\";a:7:{i:0;s:22:\"VALUE_TYPE_UNSPECIFIED\";i:1;s:4:\"BOOL\";i:2;s:5:\"INT64\";i:3;s:6:\"DOUBLE\";i:4;s:6:\"STRING\";i:5;s:12:\"DISTRIBUTION\";i:6;s:5:\"MONEY\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Trigger\";O:8:\"stdClass\":3:{s:11:\"description\";s:129:\"Specifies
  how many time series must fail a predicate to trigger a condition. If not specified,
  then a {count: 1} trigger is used.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"count\";O:8:\"stdClass\":3:{s:11:\"description\";s:98:\"The
  absolute number of time series that must fail the predicate for the condition to
  be triggered.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"percent\";O:8:\"stdClass\":3:{s:11:\"description\";s:93:\"The
  percentage of time series that must fail the predicate for the condition to be triggered.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Type\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"A
  protocol buffer message type.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:6:\"fields\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"The
  list of fields.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Field\";}s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  fully qualified message name.\";s:4:\"type\";s:6:\"string\";}s:6:\"oneofs\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"The
  list of types appearing in oneof definitions in this type.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"options\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"The
  protocol buffer options.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Option\";}s:4:\"type\";s:5:\"array\";}s:13:\"sourceContext\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/SourceContext\";s:11:\"description\";s:19:\"The
  source context.\";}s:6:\"syntax\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"The
  source syntax.\";s:4:\"enum\";a:2:{i:0;s:13:\"SYNTAX_PROTO2\";i:1;s:13:\"SYNTAX_PROTO3\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"TypedValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"A
  single strongly-typed value.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"boolValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"A
  Boolean value: true or false.\";s:4:\"type\";s:7:\"boolean\";}s:17:\"distributionValue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/Distribution\";s:11:\"description\";s:21:\"A
  distribution value.\";}s:11:\"doubleValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:159:\"A
  64-bit double-precision floating-point number. Its magnitude is approximately &plusmn;10<sup>&plusmn;300</sup>
  and it has 16 significant digits of precision.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:10:\"int64Value\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"A
  64-bit integer. Its range is approximately &plusmn;9.2x10<sup>18</sup>.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:11:\"stringValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"A
  variable-length string value.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"UptimeCheckConfig\";O:8:\"stdClass\":3:{s:11:\"description\";s:81:\"This
  message configures which resources and services to monitor for availability.\";s:10:\"properties\";O:8:\"stdClass\":12:{s:15:\"contentMatchers\";O:8:\"stdClass\":3:{s:11:\"description\";s:321:\"The
  expected content on the page the check is run against. Currently, only the first
  entry in the list is supported, and other entries will be ignored. The server will
  look for an exact match of the string in the page response's content. This field
  is optional and should only be specified if a content match is required.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ContentMatcher\";}s:4:\"type\";s:5:\"array\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:207:\"A
  human-friendly name for the uptime check configuration. The display name should
  be unique within a Stackdriver Account in order to make it easier to identify; however,
  uniqueness is not enforced. Required.\";s:4:\"type\";s:6:\"string\";}s:9:\"httpCheck\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/HttpCheck\";s:11:\"description\";s:59:\"Contains
  information needed to make an HTTP or HTTPS check.\";}s:16:\"internalCheckers\";O:8:\"stdClass\":3:{s:11:\"description\";s:205:\"The
  internal checkers that this check will egress from. If is_internal is true and this
  list is empty, the check will egress from all InternalCheckers configured for the
  project that owns this CheckConfig.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/InternalChecker\";}s:4:\"type\";s:5:\"array\";}s:10:\"isInternal\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"Denotes
  whether this is a check that egresses from InternalCheckers.\";s:4:\"type\";s:7:\"boolean\";}s:17:\"monitoredResource\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/MonitoredResource\";s:11:\"description\";s:257:\"The
  monitored resource (https://cloud.google.com/monitoring/api/resources) associated
  with the configuration. The following monitored resource types are supported for
  uptime checks:  uptime_url  gce_instance  gae_app  aws_ec2_instance  aws_elb_load_balancer\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:283:\"A
  unique resource name for this UptimeCheckConfig. The format is:projects/[PROJECT_ID]/uptimeCheckConfigs/[UPTIME_CHECK_ID].This
  field should be omitted when creating the uptime check configuration; on create,
  the resource name is assigned by the server and included in the response.\";s:4:\"type\";s:6:\"string\";}s:6:\"period\";O:8:\"stdClass\":3:{s:11:\"description\";s:198:\"How
  often, in seconds, the uptime check is performed. Currently, the only supported
  values are 60s (1 minute), 300s (5 minutes), 600s (10 minutes), and 900s (15 minutes).
  Optional, defaults to 300s.\";s:6:\"format\";s:15:\"google-duration\";s:4:\"type\";s:6:\"string\";}s:13:\"resourceGroup\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ResourceGroup\";s:11:\"description\";s:53:\"The
  group resource associated with the configuration.\";}s:15:\"selectedRegions\";O:8:\"stdClass\":3:{s:11:\"description\";s:264:\"The
  list of regions from which the check will be run. If this field is specified, enough
  regions to include a minimum of 3 locations must be provided, or an error message
  is returned. Not specifying this field will result in uptime checks running from
  all regions.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"enum\";a:5:{i:0;s:18:\"REGION_UNSPECIFIED\";i:1;s:3:\"USA\";i:2;s:6:\"EUROPE\";i:3;s:13:\"SOUTH_AMERICA\";i:4;s:12:\"ASIA_PACIFIC\";}s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:8:\"tcpCheck\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/TcpCheck\";s:11:\"description\";s:48:\"Contains
  information needed to make a TCP check.\";}s:7:\"timeout\";O:8:\"stdClass\":3:{s:11:\"description\";s:108:\"The
  maximum amount of time to wait for the request to complete (must be between 1 and
  60 seconds). Required.\";s:6:\"format\";s:15:\"google-duration\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"UptimeCheckIp\";O:8:\"stdClass\":3:{s:11:\"description\";s:96:\"Contains
  the region, location, and list of IP addresses where checkers in the location run
  from.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"ipAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:327:\"The
  IP address from which the uptime check originates. This is a full IP address (not
  an IP address range). Most IP addresses, as of this publication, are in IPv4 format;
  however, one should not rely on the IP addresses being in IPv4 format indefinitely
  and should support interpreting this field in either IPv4 or IPv6 format.\";s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:186:\"A
  more specific location within the region that typically encodes a particular city/town/metro
  (and its containing state/province or country) within the broader umbrella region
  category.\";s:4:\"type\";s:6:\"string\";}s:6:\"region\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"A
  broad region category in which the IP address is located.\";s:4:\"enum\";a:5:{i:0;s:18:\"REGION_UNSPECIFIED\";i:1;s:3:\"USA\";i:2;s:6:\"EUROPE\";i:3;s:13:\"SOUTH_AMERICA\";i:4;s:12:\"ASIA_PACIFIC\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:32:\"VerifyNotificationChannelRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  VerifyNotificationChannel request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:442:\"The
  verification code that was delivered to the channel as a result of invoking the
  SendNotificationChannelVerificationCode API method or that was retrieved from a
  verified channel via GetNotificationChannelVerificationCode. For example, one might
  have \"G-123456\" or \"TKNZGhhd2EyN3I1MnRnMjRv\" (in general, one is only guaranteed
  that the code is valid UTF-8; one should not make any assumptions regarding the
  structure or format of the code).\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
