---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":4:{s:5:\"title\";s:36:\"EPA Radiation Ambient
  Monitoring API\";s:11:\"description\";s:226:\"Formerly, Environmental Radiation
  Ambient Monitoring System (ERAMS), provides data from a national network of monitoring
  stations that collect air, precipitation, drinking water, and milk samples for analysis
  of radioactivity.\";s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:14:\"EP Envirofacts\";s:3:\"url\";s:36:\"http://www.epa.gov/enviro/index.html\";}s:7:\"version\";s:2:\"v1\";}"
host: iaspub.epa.gov
basePath: /enviro/efservice/
paths:
  /BGM_ONSITE_TREATMENT/ROWS/{row_start}:{row_end}/{output}:
    get:
      summary: ""
      description: ""
      operationId: enviroFacts_BGM_ONSITE_TREATMENT
      parameters:
      - in: path
        name: output
        description: which format to output (JSON,XML,CSV,Excel)
        type: string
        format: string
        default: JSON
      - in: path
        name: row_end
        description: which row to end on
        type: integer
        format: integer
        default: 25
      - in: path
        name: row_start
        description: which row to start on
        type: integer
        format: integer
        default: 0
      responses:
        200:
          description: Successful Response
          schema:
            type: array
            items:
              $ref: '#/definitions/bgm_onsite_treatment'
      tags:
      - Radiation
      security: []
  /ERM_ANALYSIS/ROWS/{row_start}:{row_end}/{output}:
    get:
      summary: ""
      description: ""
      operationId: enviroFacts_ERM_ANALYSIS
      parameters:
      - in: path
        name: output
        description: which format to output (JSON,XML,CSV,Excel)
        type: string
        format: string
        default: JSON
      - in: path
        name: row_end
        description: which row to end on
        type: integer
        format: integer
        default: 25
      - in: path
        name: row_start
        description: which row to start on
        type: integer
        format: integer
        default: 0
      responses:
        200:
          description: Successful Response
          schema:
            type: array
            items:
              $ref: '#/definitions/erm_analysis'
      tags:
      - Radiation
      security: []
  /ERM_ANALYTE/ROWS/{row_start}:{row_end}/{output}:
    get:
      summary: ""
      description: ""
      operationId: enviroFacts_ERM_ANALYTE
      parameters:
      - in: path
        name: output
        description: which format to output (JSON,XML,CSV,Excel)
        type: string
        format: string
        default: JSON
      - in: path
        name: row_end
        description: which row to end on
        type: integer
        format: integer
        default: 25
      - in: path
        name: row_start
        description: which row to start on
        type: integer
        format: integer
        default: 0
      responses:
        200:
          description: Successful Response
          schema:
            type: array
            items:
              $ref: '#/definitions/erm_analyte'
      tags:
      - Radiation
      security: []
  /ERM_ANA_PROC/ROWS/{row_start}:{row_end}/{output}:
    get:
      summary: ""
      description: ""
      operationId: enviroFacts_ERM_ANA_PROC
      parameters:
      - in: path
        name: output
        description: which format to output (JSON,XML,CSV,Excel)
        type: string
        format: string
        default: JSON
      - in: path
        name: row_end
        description: which row to end on
        type: integer
        format: integer
        default: 25
      - in: path
        name: row_start
        description: which row to start on
        type: integer
        format: integer
        default: 0
      responses:
        200:
          description: Successful Response
          schema:
            type: array
            items:
              $ref: '#/definitions/erm_ana_proc'
      tags:
      - Radiation
      security: []
  /ERM_COUNT/ROWS/{row_start}:{row_end}/{output}:
    get:
      summary: ""
      description: ""
      operationId: enviroFacts_ERM_COUNT
      parameters:
      - in: path
        name: output
        description: which format to output (JSON,XML,CSV,Excel)
        type: string
        format: string
        default: JSON
      - in: path
        name: row_end
        description: which row to end on
        type: integer
        format: integer
        default: 25
      - in: path
        name: row_start
        description: which row to start on
        type: integer
        format: integer
        default: 0
      responses:
        200:
          description: Successful Response
          schema:
            type: array
            items:
              $ref: '#/definitions/erm_count'
      tags:
      - Radiation
      security: []
  /ERM_DET_TYPE/ROWS/{row_start}:{row_end}/{output}:
    get:
      summary: ""
      description: ""
      operationId: enviroFacts_ERM_DET_TYPE
      parameters:
      - in: path
        name: output
        description: which format to output (JSON,XML,CSV,Excel)
        type: string
        format: string
        default: JSON
      - in: path
        name: row_end
        description: which row to end on
        type: integer
        format: integer
        default: 25
      - in: path
        name: row_start
        description: which row to start on
        type: integer
        format: integer
        default: 0
      responses:
        200:
          description: Successful Response
          schema:
            type: array
            items:
              $ref: '#/definitions/erm_det_type'
      tags:
      - Radiation
      security: []
  /ERM_LOCATION/ROWS/{row_start}:{row_end}/{output}:
    get:
      summary: ""
      description: ""
      operationId: enviroFacts_ERM_LOCATION
      parameters:
      - in: path
        name: output
        description: which format to output (JSON,XML,CSV,Excel)
        type: string
        format: string
        default: JSON
      - in: path
        name: row_end
        description: which row to end on
        type: integer
        format: integer
        default: 25
      - in: path
        name: row_start
        description: which row to start on
        type: integer
        format: integer
        default: 0
      responses:
        200:
          description: Successful Response
          schema:
            type: array
            items:
              $ref: '#/definitions/erm_location'
      tags:
      - Radiation
      security: []
  /ERM_MATRIX/ROWS/{row_start}:{row_end}/{output}:
    get:
      summary: ""
      description: ""
      operationId: enviroFacts_ERM_MATRIX
      parameters:
      - in: path
        name: output
        description: which format to output (JSON,XML,CSV,Excel)
        type: string
        format: string
        default: JSON
      - in: path
        name: row_end
        description: which row to end on
        type: integer
        format: integer
        default: 25
      - in: path
        name: row_start
        description: which row to start on
        type: integer
        format: integer
        default: 0
      responses:
        200:
          description: Successful Response
          schema:
            type: array
            items:
              $ref: '#/definitions/erm_matrix'
      tags:
      - Radiation
      security: []
  /ERM_PROJECT/ROWS/{row_start}:{row_end}/{output}:
    get:
      summary: ""
      description: ""
      operationId: enviroFacts_ERM_PROJECT
      parameters:
      - in: path
        name: output
        description: which format to output (JSON,XML,CSV,Excel)
        type: string
        format: string
        default: JSON
      - in: path
        name: row_end
        description: which row to end on
        type: integer
        format: integer
        default: 25
      - in: path
        name: row_start
        description: which row to start on
        type: integer
        format: integer
        default: 0
      responses:
        200:
          description: Successful Response
          schema:
            type: array
            items:
              $ref: '#/definitions/erm_project'
      tags:
      - Radiation
      security: []
  /ERM_RESULT/ROWS/{row_start}:{row_end}/{output}:
    get:
      summary: ""
      description: ""
      operationId: enviroFacts_ERM_RESULT
      parameters:
      - in: path
        name: output
        description: which format to output (JSON,XML,CSV,Excel)
        type: string
        format: string
        default: JSON
      - in: path
        name: row_end
        description: which row to end on
        type: integer
        format: integer
        default: 25
      - in: path
        name: row_start
        description: which row to start on
        type: integer
        format: integer
        default: 0
      responses:
        200:
          description: Successful Response
          schema:
            type: array
            items:
              $ref: '#/definitions/erm_result'
      tags:
      - Radiation
      security: []
  /ERM_SAMPLE/ROWS/{row_start}:{row_end}/{output}:
    get:
      summary: ""
      description: ""
      operationId: enviroFacts_ERM_SAMPLE
      parameters:
      - in: path
        name: output
        description: which format to output (JSON,XML,CSV,Excel)
        type: string
        format: string
        default: JSON
      - in: path
        name: row_end
        description: which row to end on
        type: integer
        format: integer
        default: 25
      - in: path
        name: row_start
        description: which row to start on
        type: integer
        format: integer
        default: 0
      responses:
        200:
          description: Successful Response
          schema:
            type: array
            items:
              $ref: '#/definitions/erm_sample'
      tags:
      - Radiation
      security: []
  /ERM_STUDY/ROWS/{row_start}:{row_end}/{output}:
    get:
      summary: ""
      description: ""
      operationId: enviroFacts_ERM_STUDY
      parameters:
      - in: path
        name: output
        description: which format to output (JSON,XML,CSV,Excel)
        type: string
        format: string
        default: JSON
      - in: path
        name: row_end
        description: which row to end on
        type: integer
        format: integer
        default: 25
      - in: path
        name: row_start
        description: which row to start on
        type: integer
        format: integer
        default: 0
      responses:
        200:
          description: Successful Response
          schema:
            type: array
            items:
              $ref: '#/definitions/erm_study'
      tags:
      - Radiation
      security: []
  /LCR_SAMPLE/ROWS/{row_start}:{row_end}/{output}:
    get:
      summary: ""
      description: ""
      operationId: enviroFacts_LCR_SAMPLE
      parameters:
      - in: path
        name: output
        description: which format to output (JSON,XML,CSV,Excel)
        type: string
        format: string
        default: JSON
      - in: path
        name: row_end
        description: which row to end on
        type: integer
        format: integer
        default: 25
      - in: path
        name: row_start
        description: which row to start on
        type: integer
        format: integer
        default: 0
      responses:
        200:
          description: Successful Response
          schema:
            type: array
            items:
              $ref: '#/definitions/lcr_sample'
      tags:
      - Radiation
      security: []
  /LCR_SAMPLE_RESULT/ROWS/{row_start}:{row_end}/{output}:
    get:
      summary: ""
      description: ""
      operationId: enviroFacts_LCR_SAMPLE_RESULT
      parameters:
      - in: path
        name: output
        description: which format to output (JSON,XML,CSV,Excel)
        type: string
        format: string
        default: JSON
      - in: path
        name: row_end
        description: which row to end on
        type: integer
        format: integer
        default: 25
      - in: path
        name: row_start
        description: which row to start on
        type: integer
        format: integer
        default: 0
      responses:
        200:
          description: Successful Response
          schema:
            type: array
            items:
              $ref: '#/definitions/lcr_sample_result'
      tags:
      - Radiation
      security: []
produces:
- application/json
schemes:
- http
definitions: !php/object "O:8:\"stdClass\":14:{s:10:\"erm_result\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":13:{s:7:\"_empty_\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:10:\"ANALYTE_ID\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:7:\"ANA_NUM\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:3:\"CSU\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:9:\"CSU_IN_SI\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:3:\"MDC\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:9:\"MDC_IN_SI\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:13:\"RESULT_AMOUNT\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:11:\"RESULT_DATE\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:9:\"RESULT_ID\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:12:\"RESULT_IN_SI\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:11:\"RESULT_UNIT\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:7:\"SI_UNIT\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}}}s:12:\"erm_analysis\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":9:{s:7:\"_empty_\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:11:\"ANA_COMMENT\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:7:\"ANA_NUM\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:12:\"ANA_PROC_NUM\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:8:\"ANA_SIZE\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:10:\"ANA_SIZE_2\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:8:\"ANA_UNIT\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:10:\"ANA_UNIT_2\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:8:\"SAMP_NUM\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}}}s:9:\"erm_count\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"_empty_\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:7:\"ANA_NUM\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:7:\"DET_NUM\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:8:\"DURATION\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:7:\"RUN_NUM\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:9:\"RUN_START\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}}}s:10:\"erm_sample\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":13:{s:7:\"_empty_\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:9:\"CLIENT_ID\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:11:\"COLLECT_END\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:13:\"COLLECT_START\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:7:\"LOC_NUM\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:6:\"MAT_ID\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:8:\"PROJ_NUM\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:12:\"SAMP_COMMENT\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:9:\"SAMP_DESC\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:7:\"SAMP_ID\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:8:\"SAMP_NUM\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:9:\"SAMP_SIZE\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:9:\"SAMP_UNIT\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}}}s:10:\"erm_matrix\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"_empty_\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:8:\"MAT_DESC\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:6:\"MAT_ID\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:7:\"MAT_NUM\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}}}s:12:\"erm_location\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"_empty_\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:9:\"CITY_NAME\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:7:\"LOC_NUM\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:10:\"STATE_ABBR\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:7:\"STATION\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:20:\"SURFACE_WATER_SOURCE\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}}}s:11:\"erm_project\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"_empty_\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:7:\"PROJ_ID\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:9:\"PROJ_NAME\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:8:\"PROJ_NUM\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:9:\"STUDY_NUM\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}}}s:9:\"erm_study\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"_empty_\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:8:\"STUDY_ID\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:10:\"STUDY_NAME\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:9:\"STUDY_NUM\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}}}s:11:\"erm_analyte\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":7:{s:7:\"_empty_\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:10:\"ANALYTE_ID\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:12:\"ANALYTE_NAME\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:8:\"ANA_TYPE\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:6:\"CRS_ID\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:9:\"HALF_LIFE\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:19:\"HALF_LIFE_TIME_UNIT\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}}}s:12:\"erm_ana_proc\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"_empty_\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:11:\"ANA_PROC_ID\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:13:\"ANA_PROC_NAME\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:12:\"ANA_PROC_NUM\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:12:\"PROC_TYPE_ID\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}}}s:12:\"erm_det_type\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"_empty_\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:6:\"DET_ID\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:7:\"DET_NUM\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:11:\"DET_TYPE_ID\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}}}s:20:\"bgm_onsite_treatment\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":12:{s:17:\"ACTIVITY_LOCATION\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:10:\"HANDLER_ID\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:5:\"HZ_PG\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:11:\"LAST_CHANGE\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:17:\"MANAGED_TONS_CALC\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:17:\"MANAGEMENT_METHOD\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:23:\"MANAGEMENT_METHOD_OWNER\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:10:\"SEQ_NUMBER\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:11:\"SOURCE_TYPE\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:14:\"SYS_PG_NUM_SEQ\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:11:\"SYS_TDR_QTY\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:6:\"USERID\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}}}s:10:\"lcr_sample\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":8:{s:7:\"_empty_\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:10:\"EPA_REGION\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:19:\"PRIMACY_AGENCY_CODE\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:5:\"PWSID\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:17:\"RECONCILIATION_ID\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:9:\"SAMPLE_ID\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:17:\"SAMPLING_END_DATE\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:19:\"SAMPLING_START_DATE\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}}}s:17:\"lcr_sample_result\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":10:{s:7:\"_empty_\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:16:\"CONTAMINANT_CODE\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:10:\"EPA_REGION\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:19:\"PRIMACY_AGENCY_CODE\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:5:\"PWSID\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:16:\"RESULT_SIGN_CODE\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:9:\"SAMPLE_ID\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:14:\"SAMPLE_MEASURE\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:6:\"SAR_ID\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}s:15:\"UNIT_OF_MEASURE\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"This
  is a default description.\";s:4:\"type\";s:6:\"string\";}}}}"
...
