---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":15:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:9:\"x-twitter\";s:12:\"PermittedSoc\";}s:11:\"description\";s:3807:\"<fullname>AWS
  Key Management Service</fullname> <p>AWS Key Management Service (AWS KMS) is an
  encryption and key management web service. This guide describes the AWS KMS operations
  that you can call programmatically. For general information about AWS KMS, see the
  <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/\">AWS Key Management
  Service Developer Guide</a>.</p> <note> <p>AWS provides SDKs that consist of libraries
  and sample code for various programming languages and platforms (Java, Ruby, .Net,
  iOS, Android, etc.). The SDKs provide a convenient way to create programmatic access
  to AWS KMS and other AWS services. For example, the SDKs take care of tasks such
  as signing requests (see below), managing errors, and retrying requests automatically.
  For more information about the AWS SDKs, including how to download and install them,
  see <a href=\"http://aws.amazon.com/tools/\">Tools for Amazon Web Services</a>.</p>
  </note> <p>We recommend that you use the AWS SDKs to make programmatic API calls
  to AWS KMS.</p> <p>Clients must support TLS (Transport Layer Security) 1.0. We recommend
  TLS 1.2. Clients must also support cipher suites with Perfect Forward Secrecy (PFS)
  such as Ephemeral Diffie-Hellman (DHE) or Elliptic Curve Ephemeral Diffie-Hellman
  (ECDHE). Most modern systems such as Java 7 and later support these modes.</p> <p>
  <b>Signing Requests</b> </p> <p>Requests must be signed by using an access key ID
  and a secret access key. We strongly recommend that you <i>do not</i> use your AWS
  account (root) access key ID and secret key for everyday work with AWS KMS. Instead,
  use the access key ID and secret access key for an IAM user, or you can use the
  AWS Security Token Service to generate temporary security credentials that you can
  use to sign requests.</p> <p>All AWS KMS operations require <a href=\"http://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\">Signature
  Version 4</a>.</p> <p> <b>Logging API Requests</b> </p> <p>AWS KMS supports AWS
  CloudTrail, a service that logs AWS API calls and related events for your AWS account
  and delivers them to an Amazon S3 bucket that you specify. By using the information
  collected by CloudTrail, you can determine what requests were made to AWS KMS, who
  made the request, when it was made, and so on. To learn more about CloudTrail, including
  how to turn it on and find your log files, see the <a href=\"http://docs.aws.amazon.com/awscloudtrail/latest/userguide/\">AWS
  CloudTrail User Guide</a>.</p> <p> <b>Additional Resources</b> </p> <p>For more
  information about credentials and request signing, see the following:</p> <ul> <li>
  <p> <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-security-credentials.html\">AWS
  Security Credentials</a> - This topic provides general information about the types
  of credentials used for accessing AWS.</p> </li> <li> <p> <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/id_credentials_temp.html\">Temporary
  Security Credentials</a> - This section of the <i>IAM User Guide</i> describes how
  to create and use temporary security credentials.</p> </li> <li> <p> <a href=\"http://docs.aws.amazon.com/general/latest/gr/signature-version-4.html\">Signature
  Version 4 Signing Process</a> - This set of topics walks you through the process
  of signing a request using an access key ID and a secret access key.</p> </li> </ul>
  <p> <b>Commonly Used APIs</b> </p> <p>Of the APIs discussed in this guide, the following
  will prove the most useful for most applications. You will likely perform actions
  other than these, such as creating keys and assigning policies, by using the console.</p>
  <ul> <li> <p> <a>Encrypt</a> </p> </li> <li> <p> <a>Decrypt</a> </p> </li> <li>
  <p> <a>GenerateDataKey</a> </p> </li> <li> <p> <a>GenerateDataKeyWithoutPlaintext</a>
  </p> </li> </ul>\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache
  2.0 License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:26:\"AWS
  Key Management Service\";s:7:\"version\";s:10:\"2014-11-01\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:87:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/kms-2014-11-01.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v4\";s:13:\"x-serviceName\";s:3:\"kms\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:13:\"amazonaws_kms\";s:4:\"type\";s:7:\"openapi\";}}"
host: kms.amazonaws.com
basePath: /
paths: ~
produces:
- application/json
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":124:{s:16:\"AWSAccountIdType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"AlgorithmSpec\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:16:\"RSAES_PKCS1_V1_5\";i:1;s:16:\"RSAES_OAEP_SHA_1\";i:2;s:18:\"RSAES_OAEP_SHA_256\";}s:4:\"type\";s:6:\"string\";}s:9:\"AliasList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/AliasListEntry\";}s:4:\"type\";s:5:\"array\";}s:14:\"AliasListEntry\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Contains
  information about an alias.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"AliasArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/ArnType\";s:11:\"description\";s:33:\"String
  that contains the key ARN.\";}s:9:\"AliasName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/AliasNameType\";s:11:\"description\";s:31:\"String
  that contains the alias.\";}s:11:\"TargetKeyId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/KeyIdType\";s:11:\"description\";s:65:\"String
  that contains the key identifier referred to by the alias.\";}}s:4:\"type\";s:6:\"object\";}s:13:\"AliasNameType\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:256;s:9:\"minLength\";i:1;s:7:\"pattern\";s:18:\"^[a-zA-Z0-9:/_-]+$\";s:4:\"type\";s:6:\"string\";}s:22:\"AlreadyExistsException\";O:8:\"stdClass\":3:{s:11:\"description\";s:87:\"The
  request was rejected because it attempted to create a resource that already exists.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ErrorMessageType\";}}s:4:\"type\";s:6:\"object\";}s:7:\"ArnType\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:2048;s:9:\"minLength\";i:20;s:4:\"type\";s:6:\"string\";}s:11:\"BooleanType\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:24:\"CancelKeyDeletionRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":1:{s:5:\"KeyId\";s:36:\"1234abcd-12ab-34cd-56ef-1234567890ab\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"KeyId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/KeyIdType\";s:11:\"description\";s:480:\"<p>The
  unique identifier for the customer master key (CMK) for which to cancel deletion.</p>
  <p>Specify the key ID or the Amazon Resource Name (ARN) of the CMK.</p> <p>For example:</p>
  <ul> <li> <p>Key ID: <code>1234abcd-12ab-34cd-56ef-1234567890ab</code> </p> </li>
  <li> <p>Key ARN: <code>arn:aws:kms:us-east-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab</code>
  </p> </li> </ul> <p>To get the key ID and key ARN for a CMK, use <a>ListKeys</a>
  or <a>DescribeKey</a>.</p>\";}}s:8:\"required\";a:1:{i:0;s:5:\"KeyId\";}s:4:\"type\";s:6:\"object\";}s:25:\"CancelKeyDeletionResponse\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":1:{s:5:\"KeyId\";s:75:\"arn:aws:kms:us-east-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"KeyId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/KeyIdType\";s:11:\"description\";s:71:\"The
  unique identifier of the master key for which deletion is canceled.\";}}s:4:\"type\";s:6:\"object\";}s:14:\"CiphertextType\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:6144;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:18:\"CreateAliasRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":2:{s:9:\"AliasName\";s:18:\"alias/ExampleAlias\";s:11:\"TargetKeyId\";s:36:\"1234abcd-12ab-34cd-56ef-1234567890ab\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"AliasName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/AliasNameType\";s:11:\"description\";s:168:\"String
  that contains the display name. The name must start with the word \"alias\" followed
  by a forward slash (alias/). Aliases that begin with \"alias/AWS\" are reserved.\";}s:11:\"TargetKeyId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/KeyIdType\";s:11:\"description\";s:482:\"<p>Identifies
  the CMK for which you are creating the alias. This value cannot be an alias.</p>
  <p>Specify the key ID or the Amazon Resource Name (ARN) of the CMK.</p> <p>For example:</p>
  <ul> <li> <p>Key ID: <code>1234abcd-12ab-34cd-56ef-1234567890ab</code> </p> </li>
  <li> <p>Key ARN: <code>arn:aws:kms:us-east-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab</code>
  </p> </li> </ul> <p>To get the key ID and key ARN for a CMK, use <a>ListKeys</a>
  or <a>DescribeKey</a>.</p>\";}}s:8:\"required\";a:2:{i:0;s:9:\"AliasName\";i:1;s:11:\"TargetKeyId\";}s:4:\"type\";s:6:\"object\";}s:18:\"CreateGrantRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":3:{s:16:\"GranteePrincipal\";s:42:\"arn:aws:iam::111122223333:role/ExampleRole\";s:5:\"KeyId\";s:75:\"arn:aws:kms:us-east-2:444455556666:key/1234abcd-12ab-34cd-56ef-1234567890ab\";s:10:\"Operations\";a:2:{i:0;s:7:\"Encrypt\";i:1;s:7:\"Decrypt\";}}s:10:\"properties\";O:8:\"stdClass\":7:{s:11:\"Constraints\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/GrantConstraints\";s:11:\"description\";s:341:\"A
  structure that you can use to allow certain operations in the grant only when the
  desired encryption context is present. For more information about encryption context,
  see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/encryption-context.html\">Encryption
  Context</a> in the <i>AWS Key Management Service Developer Guide</i>.\";}s:11:\"GrantTokens\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/GrantTokenList\";s:11:\"description\";s:227:\"<p>A
  list of grant tokens.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#grant_token\">Grant
  Tokens</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>\";}s:16:\"GranteePrincipal\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PrincipalIdType\";s:11:\"description\";s:664:\"<p>The
  principal that is given permission to perform the operations that the grant permits.</p>
  <p>To specify the principal, use the <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon
  Resource Name (ARN)</a> of an AWS principal. Valid AWS principals include AWS accounts
  (root), IAM users, IAM roles, federated users, and assumed role users. For examples
  of the ARN syntax to use for specifying a principal, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#arn-syntax-iam\">AWS
  Identity and Access Management (IAM)</a> in the Example ARNs section of the <i>AWS
  General Reference</i>.</p>\";}s:5:\"KeyId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/KeyIdType\";s:11:\"description\";s:548:\"<p>The
  unique identifier for the customer master key (CMK) that the grant applies to.</p>
  <p>Specify the key ID or the Amazon Resource Name (ARN) of the CMK. To specify a
  CMK in a different AWS account, you must use the key ARN.</p> <p>For example:</p>
  <ul> <li> <p>Key ID: <code>1234abcd-12ab-34cd-56ef-1234567890ab</code> </p> </li>
  <li> <p>Key ARN: <code>arn:aws:kms:us-east-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab</code>
  </p> </li> </ul> <p>To get the key ID and key ARN for a CMK, use <a>ListKeys</a>
  or <a>DescribeKey</a>.</p>\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/GrantNameType\";s:11:\"description\";s:846:\"<p>A
  friendly name for identifying the grant. Use this value to prevent unintended creation
  of duplicate grants when retrying this request.</p> <p>When this value is absent,
  all <code>CreateGrant</code> requests result in a new grant with a unique <code>GrantId</code>
  even if all the supplied parameters are identical. This can result in unintended
  duplicates when you retry the <code>CreateGrant</code> request.</p> <p>When this
  value is present, you can retry a <code>CreateGrant</code> request with identical
  parameters; if the grant already exists, the original <code>GrantId</code> is returned
  without creating a new grant. Note that the returned grant token is unique with
  every <code>CreateGrant</code> request, even when a duplicate <code>GrantId</code>
  is returned. All grant tokens obtained in this way can be used interchangeably.</p>\";}s:10:\"Operations\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/GrantOperationList\";s:11:\"description\";s:44:\"A
  list of operations that the grant permits.\";}s:17:\"RetiringPrincipal\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PrincipalIdType\";s:11:\"description\";s:662:\"<p>The
  principal that is given permission to retire the grant by using <a>RetireGrant</a>
  operation.</p> <p>To specify the principal, use the <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon
  Resource Name (ARN)</a> of an AWS principal. Valid AWS principals include AWS accounts
  (root), IAM users, federated users, and assumed role users. For examples of the
  ARN syntax to use for specifying a principal, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#arn-syntax-iam\">AWS
  Identity and Access Management (IAM)</a> in the Example ARNs section of the <i>AWS
  General Reference</i>.</p>\";}}s:8:\"required\";a:3:{i:0;s:5:\"KeyId\";i:1;s:16:\"GranteePrincipal\";i:2;s:10:\"Operations\";}s:4:\"type\";s:6:\"object\";}s:19:\"CreateGrantResponse\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":2:{s:7:\"GrantId\";s:64:\"0c237476b39f8bc44e45212e08498fbe3151305030726c0590dd8d3e9f3d6a60\";s:10:\"GrantToken\";s:491:\"AQpAM2RhZTk1MGMyNTk2ZmZmMzEyYWVhOWViN2I1MWM4Mzc0MWFiYjc0ZDE1ODkyNGFlNTIzODZhMzgyZjBlNGY3NiKIAgEBAgB4Pa6VDCWW__MSrqnre1HIN0Grt00ViSSuUjhqOC8OT3YAAADfMIHcBgkqhkiG9w0BBwaggc4wgcsCAQAwgcUGCSqGSIb3DQEHATAeBglghkgBZQMEAS4wEQQMmqLyBTAegIn9XlK5AgEQgIGXZQjkBcl1dykDdqZBUQ6L1OfUivQy7JVYO2-ZJP7m6f1g8GzV47HX5phdtONAP7K_HQIflcgpkoCqd_fUnE114mSmiagWkbQ5sqAVV3ov-VeqgrvMe5ZFEWLMSluvBAqdjHEdMIkHMlhlj4ENZbzBfo9Wxk8b8SnwP4kc4gGivedzFXo-dwN8fxjjq_ZZ9JFOj2ijIbj5FyogDCN0drOfi8RORSEuCEmPvjFRMFAwcmwFkN2NPp89amA\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"GrantId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/GrantIdType\";s:11:\"description\";s:155:\"<p>The
  unique identifier for the grant.</p> <p>You can use the <code>GrantId</code> in
  a subsequent <a>RetireGrant</a> or <a>RevokeGrant</a> operation.</p>\";}s:10:\"GrantToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/GrantTokenType\";s:11:\"description\";s:220:\"<p>The
  grant token.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#grant_token\">Grant
  Tokens</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>\";}}s:4:\"type\";s:6:\"object\";}s:16:\"CreateKeyRequest\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":1:{s:4:\"Tags\";a:1:{i:0;O:8:\"stdClass\":2:{s:6:\"TagKey\";s:9:\"CreatedBy\";s:8:\"TagValue\";s:11:\"ExampleUser\";}}}s:10:\"properties\";O:8:\"stdClass\":6:{s:30:\"BypassPolicyLockoutSafetyCheck\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/BooleanType\";s:11:\"description\";s:749:\"<p>A
  flag to indicate whether to bypass the key policy lockout safety check.</p> <important>
  <p>Setting this value to true increases the risk that the CMK becomes unmanageable.
  Do not set this value to true indiscriminately.</p> <p>For more information, refer
  to the scenario in the <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-policies.html#key-policy-default-allow-root-enable-iam\">Default
  Key Policy</a> section in the <i>AWS Key Management Service Developer Guide</i>.</p>
  </important> <p>Use this parameter only when you include a policy in the request
  and you intend to prevent the principal that is making the request from making a
  subsequent <a>PutKeyPolicy</a> request on the CMK.</p> <p>The default value is false.</p>\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/DescriptionType\";s:11:\"description\";s:122:\"<p>A
  description of the CMK.</p> <p>Use a description that helps you decide whether the
  CMK is appropriate for a task.</p>\";}s:8:\"KeyUsage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/KeyUsageType\";s:11:\"description\";s:105:\"<p>The
  intended use of the CMK.</p> <p>You can use CMKs only for symmetric encryption and
  decryption.</p>\";}s:6:\"Origin\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/OriginType\";s:11:\"description\";s:642:\"<p>The
  source of the CMK's key material.</p> <p>The default is <code>AWS_KMS</code>, which
  means AWS KMS creates the key material. When this parameter is set to <code>EXTERNAL</code>,
  the request creates a CMK without key material so that you can import key material
  from your existing key management infrastructure. For more information about importing
  key material into AWS KMS, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/importing-keys.html\">Importing
  Key Material</a> in the <i>AWS Key Management Service Developer Guide</i>.</p> <p>The
  CMK's <code>Origin</code> is immutable and is set when the CMK is created.</p>\";}s:6:\"Policy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/PolicyType\";s:11:\"description\";s:1708:\"<p>The
  key policy to attach to the CMK.</p> <p>If you provide a key policy, it must meet
  the following criteria:</p> <ul> <li> <p>If you don't set <code>BypassPolicyLockoutSafetyCheck</code>
  to true, the key policy must allow the principal that is making the <code>CreateKey</code>
  request to make a subsequent <a>PutKeyPolicy</a> request on the CMK. This reduces
  the risk that the CMK becomes unmanageable. For more information, refer to the scenario
  in the <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-policies.html#key-policy-default-allow-root-enable-iam\">Default
  Key Policy</a> section of the <i>AWS Key Management Service Developer Guide</i>.</p>
  </li> <li> <p>Each statement in the key policy must contain one or more principals.
  The principals in the key policy must exist and be visible to AWS KMS. When you
  create a new AWS principal (for example, an IAM user or role), you might need to
  enforce a delay before including the new principal in a key policy because the new
  principal might not be immediately visible to AWS KMS. For more information, see
  <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/troubleshoot_general.html#troubleshoot_general_eventual-consistency\">Changes
  that I make are not always immediately visible</a> in the <i>AWS Identity and Access
  Management User Guide</i>.</p> </li> </ul> <p>If you do not provide a key policy,
  AWS KMS attaches a default key policy to the CMK. For more information, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-policies.html#key-policy-default\">Default
  Key Policy</a> in the <i>AWS Key Management Service Developer Guide</i>.</p> <p>The
  key policy size limit is 32 kilobytes (32768 bytes).</p>\";}s:4:\"Tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/TagList\";s:11:\"description\";s:331:\"<p>One
  or more tags. Each tag consists of a tag key and a tag value. Tag keys and tag values
  are both required, but tag values can be empty (null) strings.</p> <p>Use this parameter
  to tag the CMK when it is created. Alternately, you can omit this parameter and
  instead tag the CMK after it is created using <a>TagResource</a>.</p>\";}}s:4:\"type\";s:6:\"object\";}s:17:\"CreateKeyResponse\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":1:{s:11:\"KeyMetadata\";O:8:\"stdClass\":10:{s:12:\"AWSAccountId\";s:12:\"111122223333\";s:3:\"Arn\";s:75:\"arn:aws:kms:us-east-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab\";s:12:\"CreationDate\";s:25:\"2017-07-05T14:04:55-07:00\";s:11:\"Description\";s:0:\"\";s:7:\"Enabled\";b:1;s:5:\"KeyId\";s:36:\"1234abcd-12ab-34cd-56ef-1234567890ab\";s:10:\"KeyManager\";s:8:\"CUSTOMER\";s:8:\"KeyState\";s:7:\"Enabled\";s:8:\"KeyUsage\";s:15:\"ENCRYPT_DECRYPT\";s:6:\"Origin\";s:7:\"AWS_KMS\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"KeyMetadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/KeyMetadata\";s:11:\"description\";s:33:\"Metadata
  associated with the CMK.\";}}s:4:\"type\";s:6:\"object\";}s:11:\"DataKeySpec\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:7:\"AES_256\";i:1;s:7:\"AES_128\";}s:4:\"type\";s:6:\"string\";}s:8:\"DateType\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:14:\"DecryptRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":1:{s:14:\"CiphertextBlob\";s:13:\"<binary
  data>\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"CiphertextBlob\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/CiphertextType\";s:11:\"description\";s:55:\"Ciphertext
  to be decrypted. The blob includes metadata.\";}s:17:\"EncryptionContext\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/EncryptionContextType\";s:11:\"description\";s:279:\"The
  encryption context. If this was specified in the <a>Encrypt</a> function, it must
  be specified here or the decryption operation will fail. For more information, see
  <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/encryption-context.html\">Encryption
  Context</a>.\";}s:11:\"GrantTokens\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/GrantTokenList\";s:11:\"description\";s:227:\"<p>A
  list of grant tokens.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#grant_token\">Grant
  Tokens</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>\";}}s:8:\"required\";a:1:{i:0;s:14:\"CiphertextBlob\";}s:4:\"type\";s:6:\"object\";}s:15:\"DecryptResponse\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":2:{s:5:\"KeyId\";s:75:\"arn:aws:kms:us-west-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab\";s:9:\"Plaintext\";s:13:\"<binary
  data>\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"KeyId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/KeyIdType\";s:11:\"description\";s:120:\"ARN
  of the key used to perform the decryption. This value is returned if no errors are
  encountered during the operation.\";}s:9:\"Plaintext\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/PlaintextType\";s:11:\"description\";s:126:\"Decrypted
  plaintext data. When you use the HTTP API or the AWS CLI, the value is Base64-encoded.
  Otherwise, it is not encoded.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"DeleteAliasRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":1:{s:9:\"AliasName\";s:18:\"alias/ExampleAlias\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"AliasName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/AliasNameType\";s:11:\"description\";s:154:\"The
  alias to be deleted. The name must start with the word \"alias\" followed by a forward
  slash (alias/). Aliases that begin with \"alias/aws\" are reserved.\";}}s:8:\"required\";a:1:{i:0;s:9:\"AliasName\";}s:4:\"type\";s:6:\"object\";}s:32:\"DeleteImportedKeyMaterialRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":1:{s:5:\"KeyId\";s:36:\"1234abcd-12ab-34cd-56ef-1234567890ab\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"KeyId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/KeyIdType\";s:11:\"description\";s:511:\"<p>The
  identifier of the CMK whose key material to delete. The CMK's <code>Origin</code>
  must be <code>EXTERNAL</code>.</p> <p>Specify the key ID or the Amazon Resource
  Name (ARN) of the CMK.</p> <p>For example:</p> <ul> <li> <p>Key ID: <code>1234abcd-12ab-34cd-56ef-1234567890ab</code>
  </p> </li> <li> <p>Key ARN: <code>arn:aws:kms:us-east-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab</code>
  </p> </li> </ul> <p>To get the key ID and key ARN for a CMK, use <a>ListKeys</a>
  or <a>DescribeKey</a>.</p>\";}}s:8:\"required\";a:1:{i:0;s:5:\"KeyId\";}s:4:\"type\";s:6:\"object\";}s:26:\"DependencyTimeoutException\";O:8:\"stdClass\":3:{s:11:\"description\";s:85:\"The
  system timed out while trying to fulfill the request. The request can be retried.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ErrorMessageType\";}}s:4:\"type\";s:6:\"object\";}s:18:\"DescribeKeyRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":1:{s:5:\"KeyId\";s:36:\"1234abcd-12ab-34cd-56ef-1234567890ab\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"GrantTokens\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/GrantTokenList\";s:11:\"description\";s:227:\"<p>A
  list of grant tokens.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#grant_token\">Grant
  Tokens</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>\";}s:5:\"KeyId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/KeyIdType\";s:11:\"description\";s:828:\"<p>A
  unique identifier for the customer master key (CMK).</p> <p>To specify a CMK, use
  its key ID, Amazon Resource Name (ARN), alias name, or alias ARN. When using an
  alias name, prefix it with \"alias/\". To specify a CMK in a different AWS account,
  you must use the key ARN or alias ARN.</p> <p>For example:</p> <ul> <li> <p>Key
  ID: <code>1234abcd-12ab-34cd-56ef-1234567890ab</code> </p> </li> <li> <p>Key ARN:
  <code>arn:aws:kms:us-east-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab</code>
  </p> </li> <li> <p>Alias name: <code>alias/ExampleAlias</code> </p> </li> <li> <p>Alias
  ARN: <code>arn:aws:kms:us-east-2:111122223333:alias/ExampleAlias</code> </p> </li>
  </ul> <p>To get the key ID and key ARN for a CMK, use <a>ListKeys</a> or <a>DescribeKey</a>.
  To get the alias name and alias ARN, use <a>ListAliases</a>.</p>\";}}s:8:\"required\";a:1:{i:0;s:5:\"KeyId\";}s:4:\"type\";s:6:\"object\";}s:19:\"DescribeKeyResponse\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":1:{s:11:\"KeyMetadata\";O:8:\"stdClass\":10:{s:12:\"AWSAccountId\";s:12:\"111122223333\";s:3:\"Arn\";s:75:\"arn:aws:kms:us-east-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab\";s:12:\"CreationDate\";s:25:\"2017-07-05T14:04:55-07:00\";s:11:\"Description\";s:0:\"\";s:7:\"Enabled\";b:1;s:5:\"KeyId\";s:36:\"1234abcd-12ab-34cd-56ef-1234567890ab\";s:10:\"KeyManager\";s:8:\"CUSTOMER\";s:8:\"KeyState\";s:7:\"Enabled\";s:8:\"KeyUsage\";s:15:\"ENCRYPT_DECRYPT\";s:6:\"Origin\";s:7:\"AWS_KMS\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"KeyMetadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/KeyMetadata\";s:11:\"description\";s:33:\"Metadata
  associated with the key.\";}}s:4:\"type\";s:6:\"object\";}s:15:\"DescriptionType\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:8192;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";}s:17:\"DisableKeyRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":1:{s:5:\"KeyId\";s:36:\"1234abcd-12ab-34cd-56ef-1234567890ab\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"KeyId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/KeyIdType\";s:11:\"description\";s:449:\"<p>A
  unique identifier for the customer master key (CMK).</p> <p>Specify the key ID or
  the Amazon Resource Name (ARN) of the CMK.</p> <p>For example:</p> <ul> <li> <p>Key
  ID: <code>1234abcd-12ab-34cd-56ef-1234567890ab</code> </p> </li> <li> <p>Key ARN:
  <code>arn:aws:kms:us-east-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab</code>
  </p> </li> </ul> <p>To get the key ID and key ARN for a CMK, use <a>ListKeys</a>
  or <a>DescribeKey</a>.</p>\";}}s:8:\"required\";a:1:{i:0;s:5:\"KeyId\";}s:4:\"type\";s:6:\"object\";}s:25:\"DisableKeyRotationRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":1:{s:5:\"KeyId\";s:36:\"1234abcd-12ab-34cd-56ef-1234567890ab\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"KeyId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/KeyIdType\";s:11:\"description\";s:449:\"<p>A
  unique identifier for the customer master key (CMK).</p> <p>Specify the key ID or
  the Amazon Resource Name (ARN) of the CMK.</p> <p>For example:</p> <ul> <li> <p>Key
  ID: <code>1234abcd-12ab-34cd-56ef-1234567890ab</code> </p> </li> <li> <p>Key ARN:
  <code>arn:aws:kms:us-east-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab</code>
  </p> </li> </ul> <p>To get the key ID and key ARN for a CMK, use <a>ListKeys</a>
  or <a>DescribeKey</a>.</p>\";}}s:8:\"required\";a:1:{i:0;s:5:\"KeyId\";}s:4:\"type\";s:6:\"object\";}s:17:\"DisabledException\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"The
  request was rejected because the specified CMK is not enabled.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ErrorMessageType\";}}s:4:\"type\";s:6:\"object\";}s:16:\"EnableKeyRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":1:{s:5:\"KeyId\";s:36:\"1234abcd-12ab-34cd-56ef-1234567890ab\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"KeyId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/KeyIdType\";s:11:\"description\";s:449:\"<p>A
  unique identifier for the customer master key (CMK).</p> <p>Specify the key ID or
  the Amazon Resource Name (ARN) of the CMK.</p> <p>For example:</p> <ul> <li> <p>Key
  ID: <code>1234abcd-12ab-34cd-56ef-1234567890ab</code> </p> </li> <li> <p>Key ARN:
  <code>arn:aws:kms:us-east-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab</code>
  </p> </li> </ul> <p>To get the key ID and key ARN for a CMK, use <a>ListKeys</a>
  or <a>DescribeKey</a>.</p>\";}}s:8:\"required\";a:1:{i:0;s:5:\"KeyId\";}s:4:\"type\";s:6:\"object\";}s:24:\"EnableKeyRotationRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":1:{s:5:\"KeyId\";s:36:\"1234abcd-12ab-34cd-56ef-1234567890ab\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"KeyId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/KeyIdType\";s:11:\"description\";s:449:\"<p>A
  unique identifier for the customer master key (CMK).</p> <p>Specify the key ID or
  the Amazon Resource Name (ARN) of the CMK.</p> <p>For example:</p> <ul> <li> <p>Key
  ID: <code>1234abcd-12ab-34cd-56ef-1234567890ab</code> </p> </li> <li> <p>Key ARN:
  <code>arn:aws:kms:us-east-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab</code>
  </p> </li> </ul> <p>To get the key ID and key ARN for a CMK, use <a>ListKeys</a>
  or <a>DescribeKey</a>.</p>\";}}s:8:\"required\";a:1:{i:0;s:5:\"KeyId\";}s:4:\"type\";s:6:\"object\";}s:14:\"EncryptRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":2:{s:5:\"KeyId\";s:36:\"1234abcd-12ab-34cd-56ef-1234567890ab\";s:9:\"Plaintext\";s:13:\"<binary
  data>\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:17:\"EncryptionContext\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/EncryptionContextType\";s:11:\"description\";s:334:\"Name-value
  pair that specifies the encryption context to be used for authenticated encryption.
  If used here, the same value must be supplied to the <code>Decrypt</code> API or
  decryption will fail. For more information, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/encryption-context.html\">Encryption
  Context</a>.\";}s:11:\"GrantTokens\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/GrantTokenList\";s:11:\"description\";s:227:\"<p>A
  list of grant tokens.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#grant_token\">Grant
  Tokens</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>\";}s:5:\"KeyId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/KeyIdType\";s:11:\"description\";s:828:\"<p>A
  unique identifier for the customer master key (CMK).</p> <p>To specify a CMK, use
  its key ID, Amazon Resource Name (ARN), alias name, or alias ARN. When using an
  alias name, prefix it with \"alias/\". To specify a CMK in a different AWS account,
  you must use the key ARN or alias ARN.</p> <p>For example:</p> <ul> <li> <p>Key
  ID: <code>1234abcd-12ab-34cd-56ef-1234567890ab</code> </p> </li> <li> <p>Key ARN:
  <code>arn:aws:kms:us-east-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab</code>
  </p> </li> <li> <p>Alias name: <code>alias/ExampleAlias</code> </p> </li> <li> <p>Alias
  ARN: <code>arn:aws:kms:us-east-2:111122223333:alias/ExampleAlias</code> </p> </li>
  </ul> <p>To get the key ID and key ARN for a CMK, use <a>ListKeys</a> or <a>DescribeKey</a>.
  To get the alias name and alias ARN, use <a>ListAliases</a>.</p>\";}s:9:\"Plaintext\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/PlaintextType\";s:11:\"description\";s:21:\"Data
  to be encrypted.\";}}s:8:\"required\";a:2:{i:0;s:5:\"KeyId\";i:1;s:9:\"Plaintext\";}s:4:\"type\";s:6:\"object\";}s:15:\"EncryptResponse\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":2:{s:14:\"CiphertextBlob\";s:13:\"<binary
  data>\";s:5:\"KeyId\";s:75:\"arn:aws:kms:us-west-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"CiphertextBlob\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/CiphertextType\";s:11:\"description\";s:125:\"The
  encrypted plaintext. When you use the HTTP API or the AWS CLI, the value is Base64-encoded.
  Otherwise, it is not encoded.\";}s:5:\"KeyId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/KeyIdType\";s:11:\"description\";s:41:\"The
  ID of the key used during encryption.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"EncryptionContextKey\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"EncryptionContextType\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/EncryptionContextKey\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/EncryptionContextValue\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:22:\"EncryptionContextValue\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"ErrorMessageType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"ExpirationModelType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:20:\"KEY_MATERIAL_EXPIRES\";i:1;s:28:\"KEY_MATERIAL_DOES_NOT_EXPIRE\";}s:4:\"type\";s:6:\"string\";}s:27:\"ExpiredImportTokenException\";O:8:\"stdClass\":3:{s:11:\"description\";s:230:\"The
  request was rejected because the provided import token is expired. Use <a>GetParametersForImport</a>
  to get a new import token and public key, use the new public key to encrypt the
  key material, and then try the request again.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ErrorMessageType\";}}s:4:\"type\";s:6:\"object\";}s:22:\"GenerateDataKeyRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":2:{s:5:\"KeyId\";s:18:\"alias/ExampleAlias\";s:7:\"KeySpec\";s:7:\"AES_256\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:17:\"EncryptionContext\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/EncryptionContextType\";s:11:\"description\";s:279:\"<p>A
  set of key-value pairs that represents additional authenticated data.</p> <p>For
  more information, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/encryption-context.html\">Encryption
  Context</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>\";}s:11:\"GrantTokens\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/GrantTokenList\";s:11:\"description\";s:227:\"<p>A
  list of grant tokens.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#grant_token\">Grant
  Tokens</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>\";}s:5:\"KeyId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/KeyIdType\";s:11:\"description\";s:860:\"<p>The
  identifier of the CMK under which to generate and encrypt the data encryption key.</p>
  <p>To specify a CMK, use its key ID, Amazon Resource Name (ARN), alias name, or
  alias ARN. When using an alias name, prefix it with \"alias/\". To specify a CMK
  in a different AWS account, you must use the key ARN or alias ARN.</p> <p>For example:</p>
  <ul> <li> <p>Key ID: <code>1234abcd-12ab-34cd-56ef-1234567890ab</code> </p> </li>
  <li> <p>Key ARN: <code>arn:aws:kms:us-east-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab</code>
  </p> </li> <li> <p>Alias name: <code>alias/ExampleAlias</code> </p> </li> <li> <p>Alias
  ARN: <code>arn:aws:kms:us-east-2:111122223333:alias/ExampleAlias</code> </p> </li>
  </ul> <p>To get the key ID and key ARN for a CMK, use <a>ListKeys</a> or <a>DescribeKey</a>.
  To get the alias name and alias ARN, use <a>ListAliases</a>.</p>\";}s:7:\"KeySpec\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/DataKeySpec\";s:11:\"description\";s:161:\"The
  length of the data encryption key. Use <code>AES_128</code> to generate a 128-bit
  symmetric key, or <code>AES_256</code> to generate a 256-bit symmetric key.\";}s:13:\"NumberOfBytes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/NumberOfBytesType\";s:11:\"description\";s:271:\"The
  length of the data encryption key in bytes. For example, use the value 64 to generate
  a 512-bit data key (64 bytes is 512 bits). For common key lengths (128-bit and 256-bit
  symmetric keys), we recommend that you use the <code>KeySpec</code> field instead
  of this one.\";}}s:8:\"required\";a:1:{i:0;s:5:\"KeyId\";}s:4:\"type\";s:6:\"object\";}s:23:\"GenerateDataKeyResponse\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":3:{s:14:\"CiphertextBlob\";s:13:\"<binary
  data>\";s:5:\"KeyId\";s:75:\"arn:aws:kms:us-east-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab\";s:9:\"Plaintext\";s:13:\"<binary
  data>\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"CiphertextBlob\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/CiphertextType\";s:11:\"description\";s:135:\"The
  encrypted data encryption key. When you use the HTTP API or the AWS CLI, the value
  is Base64-encoded. Otherwise, it is not encoded.\";}s:5:\"KeyId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/KeyIdType\";s:11:\"description\";s:90:\"The
  identifier of the CMK under which the data encryption key was generated and encrypted.\";}s:9:\"Plaintext\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/PlaintextType\";s:11:\"description\";s:228:\"The
  data encryption key. When you use the HTTP API or the AWS CLI, the value is Base64-encoded.
  Otherwise, it is not encoded. Use this data key for local encryption and decryption,
  then remove it from memory as soon as possible.\";}}s:4:\"type\";s:6:\"object\";}s:38:\"GenerateDataKeyWithoutPlaintextRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":2:{s:5:\"KeyId\";s:18:\"alias/ExampleAlias\";s:7:\"KeySpec\";s:7:\"AES_256\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:17:\"EncryptionContext\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/EncryptionContextType\";s:11:\"description\";s:279:\"<p>A
  set of key-value pairs that represents additional authenticated data.</p> <p>For
  more information, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/encryption-context.html\">Encryption
  Context</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>\";}s:11:\"GrantTokens\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/GrantTokenList\";s:11:\"description\";s:227:\"<p>A
  list of grant tokens.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#grant_token\">Grant
  Tokens</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>\";}s:5:\"KeyId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/KeyIdType\";s:11:\"description\";s:882:\"<p>The
  identifier of the customer master key (CMK) under which to generate and encrypt
  the data encryption key.</p> <p>To specify a CMK, use its key ID, Amazon Resource
  Name (ARN), alias name, or alias ARN. When using an alias name, prefix it with \"alias/\".
  To specify a CMK in a different AWS account, you must use the key ARN or alias ARN.</p>
  <p>For example:</p> <ul> <li> <p>Key ID: <code>1234abcd-12ab-34cd-56ef-1234567890ab</code>
  </p> </li> <li> <p>Key ARN: <code>arn:aws:kms:us-east-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab</code>
  </p> </li> <li> <p>Alias name: <code>alias/ExampleAlias</code> </p> </li> <li> <p>Alias
  ARN: <code>arn:aws:kms:us-east-2:111122223333:alias/ExampleAlias</code> </p> </li>
  </ul> <p>To get the key ID and key ARN for a CMK, use <a>ListKeys</a> or <a>DescribeKey</a>.
  To get the alias name and alias ARN, use <a>ListAliases</a>.</p>\";}s:7:\"KeySpec\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/DataKeySpec\";s:11:\"description\";s:161:\"The
  length of the data encryption key. Use <code>AES_128</code> to generate a 128-bit
  symmetric key, or <code>AES_256</code> to generate a 256-bit symmetric key.\";}s:13:\"NumberOfBytes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/NumberOfBytesType\";s:11:\"description\";s:271:\"The
  length of the data encryption key in bytes. For example, use the value 64 to generate
  a 512-bit data key (64 bytes is 512 bits). For common key lengths (128-bit and 256-bit
  symmetric keys), we recommend that you use the <code>KeySpec</code> field instead
  of this one.\";}}s:8:\"required\";a:1:{i:0;s:5:\"KeyId\";}s:4:\"type\";s:6:\"object\";}s:39:\"GenerateDataKeyWithoutPlaintextResponse\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":2:{s:14:\"CiphertextBlob\";s:13:\"<binary
  data>\";s:5:\"KeyId\";s:75:\"arn:aws:kms:us-east-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"CiphertextBlob\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/CiphertextType\";s:11:\"description\";s:135:\"The
  encrypted data encryption key. When you use the HTTP API or the AWS CLI, the value
  is Base64-encoded. Otherwise, it is not encoded.\";}s:5:\"KeyId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/KeyIdType\";s:11:\"description\";s:90:\"The
  identifier of the CMK under which the data encryption key was generated and encrypted.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"GenerateRandomRequest\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":1:{s:13:\"NumberOfBytes\";i:32;}s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"NumberOfBytes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/NumberOfBytesType\";s:11:\"description\";s:30:\"The
  length of the byte string.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"GenerateRandomResponse\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":1:{s:9:\"Plaintext\";s:13:\"<binary
  data>\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"Plaintext\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/PlaintextType\";s:11:\"description\";s:124:\"The
  random byte string. When you use the HTTP API or the AWS CLI, the value is Base64-encoded.
  Otherwise, it is not encoded.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"GetKeyPolicyRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":2:{s:5:\"KeyId\";s:36:\"1234abcd-12ab-34cd-56ef-1234567890ab\";s:10:\"PolicyName\";s:7:\"default\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"KeyId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/KeyIdType\";s:11:\"description\";s:449:\"<p>A
  unique identifier for the customer master key (CMK).</p> <p>Specify the key ID or
  the Amazon Resource Name (ARN) of the CMK.</p> <p>For example:</p> <ul> <li> <p>Key
  ID: <code>1234abcd-12ab-34cd-56ef-1234567890ab</code> </p> </li> <li> <p>Key ARN:
  <code>arn:aws:kms:us-east-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab</code>
  </p> </li> </ul> <p>To get the key ID and key ARN for a CMK, use <a>ListKeys</a>
  or <a>DescribeKey</a>.</p>\";}s:10:\"PolicyName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/PolicyNameType\";s:11:\"description\";s:144:\"Specifies
  the name of the key policy. The only valid name is <code>default</code>. To get
  the names of key policies, use <a>ListKeyPolicies</a>.\";}}s:8:\"required\";a:2:{i:0;s:5:\"KeyId\";i:1;s:10:\"PolicyName\";}s:4:\"type\";s:6:\"object\";}s:20:\"GetKeyPolicyResponse\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":1:{s:6:\"Policy\";s:269:\"{\n
  \ \"Version\" : \"2012-10-17\",\n  \"Id\" : \"key-default-1\",\n  \"Statement\"
  : [ {\n    \"Sid\" : \"Enable IAM User Permissions\",\n    \"Effect\" : \"Allow\",\n
  \   \"Principal\" : {\n      \"AWS\" : \"arn:aws:iam::111122223333:root\"\n    },\n
  \   \"Action\" : \"kms:*\",\n    \"Resource\" : \"*\"\n  } ]\n}\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"Policy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/PolicyType\";s:11:\"description\";s:37:\"A
  key policy document in JSON format.\";}}s:4:\"type\";s:6:\"object\";}s:27:\"GetKeyRotationStatusRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":1:{s:5:\"KeyId\";s:36:\"1234abcd-12ab-34cd-56ef-1234567890ab\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"KeyId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/KeyIdType\";s:11:\"description\";s:520:\"<p>A
  unique identifier for the customer master key (CMK).</p> <p>Specify the key ID or
  the Amazon Resource Name (ARN) of the CMK. To specify a CMK in a different AWS account,
  you must use the key ARN.</p> <p>For example:</p> <ul> <li> <p>Key ID: <code>1234abcd-12ab-34cd-56ef-1234567890ab</code>
  </p> </li> <li> <p>Key ARN: <code>arn:aws:kms:us-east-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab</code>
  </p> </li> </ul> <p>To get the key ID and key ARN for a CMK, use <a>ListKeys</a>
  or <a>DescribeKey</a>.</p>\";}}s:8:\"required\";a:1:{i:0;s:5:\"KeyId\";}s:4:\"type\";s:6:\"object\";}s:28:\"GetKeyRotationStatusResponse\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":1:{s:18:\"KeyRotationEnabled\";b:1;}s:10:\"properties\";O:8:\"stdClass\":1:{s:18:\"KeyRotationEnabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/BooleanType\";s:11:\"description\";s:63:\"A
  Boolean value that specifies whether key rotation is enabled.\";}}s:4:\"type\";s:6:\"object\";}s:29:\"GetParametersForImportRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":3:{s:5:\"KeyId\";s:36:\"1234abcd-12ab-34cd-56ef-1234567890ab\";s:17:\"WrappingAlgorithm\";s:16:\"RSAES_OAEP_SHA_1\";s:15:\"WrappingKeySpec\";s:8:\"RSA_2048\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"KeyId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/KeyIdType\";s:11:\"description\";s:522:\"<p>The
  identifier of the CMK into which you will import key material. The CMK's <code>Origin</code>
  must be <code>EXTERNAL</code>.</p> <p>Specify the key ID or the Amazon Resource
  Name (ARN) of the CMK.</p> <p>For example:</p> <ul> <li> <p>Key ID: <code>1234abcd-12ab-34cd-56ef-1234567890ab</code>
  </p> </li> <li> <p>Key ARN: <code>arn:aws:kms:us-east-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab</code>
  </p> </li> </ul> <p>To get the key ID and key ARN for a CMK, use <a>ListKeys</a>
  or <a>DescribeKey</a>.</p>\";}s:17:\"WrappingAlgorithm\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/AlgorithmSpec\";s:11:\"description\";s:322:\"The
  algorithm you will use to encrypt the key material before importing it with <a>ImportKeyMaterial</a>.
  For more information, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/importing-keys-encrypt-key-material.html\">Encrypt
  the Key Material</a> in the <i>AWS Key Management Service Developer Guide</i>.\";}s:15:\"WrappingKeySpec\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/WrappingKeySpec\";s:11:\"description\";s:109:\"The
  type of wrapping key (public key) to return in the response. Only 2048-bit RSA public
  keys are supported.\";}}s:8:\"required\";a:3:{i:0;s:5:\"KeyId\";i:1;s:17:\"WrappingAlgorithm\";i:2;s:15:\"WrappingKeySpec\";}s:4:\"type\";s:6:\"object\";}s:30:\"GetParametersForImportResponse\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":4:{s:11:\"ImportToken\";s:13:\"<binary
  data>\";s:5:\"KeyId\";s:75:\"arn:aws:kms:us-east-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab\";s:17:\"ParametersValidTo\";s:25:\"2016-12-01T14:52:17-08:00\";s:9:\"PublicKey\";s:13:\"<binary
  data>\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"ImportToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/CiphertextType\";s:11:\"description\";s:74:\"The
  import token to send in a subsequent <a>ImportKeyMaterial</a> request.\";}s:5:\"KeyId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/KeyIdType\";s:11:\"description\";s:165:\"The
  identifier of the CMK to use in a subsequent <a>ImportKeyMaterial</a> request. This
  is the same CMK specified in the <code>GetParametersForImport</code> request.\";}s:17:\"ParametersValidTo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/DateType\";s:11:\"description\";s:238:\"The
  time at which the import token and public key are no longer valid. After this time,
  you cannot use them to make an <a>ImportKeyMaterial</a> request and you must send
  another <code>GetParametersForImport</code> request to get new ones.\";}s:9:\"PublicKey\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/PlaintextType\";s:11:\"description\";s:100:\"The
  public key to use to encrypt the key material before importing it with <a>ImportKeyMaterial</a>.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"GrantConstraints\";O:8:\"stdClass\":3:{s:11:\"description\";s:911:\"<p>A
  structure that you can use to allow certain operations in the grant only when the
  desired encryption context is present. For more information about encryption context,
  see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/encryption-context.html\">Encryption
  Context</a> in the <i>AWS Key Management Service Developer Guide</i>.</p> <p>Grant
  constraints apply only to operations that accept encryption context as input. For
  example, the <code> <a>DescribeKey</a> </code> operation does not accept encryption
  context as input. A grant that allows the <code>DescribeKey</code> operation does
  so regardless of the grant constraints. In constrast, the <code> <a>Encrypt</a>
  </code> operation accepts encryption context as input. A grant that allows the <code>Encrypt</code>
  operation does so only when the encryption context of the <code>Encrypt</code> operation
  satisfies the grant constraints.</p>\";s:10:\"properties\";O:8:\"stdClass\":2:{s:23:\"EncryptionContextEquals\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/EncryptionContextType\";s:11:\"description\";s:318:\"A
  list of key-value pairs that must be present in the encryption context of certain
  subsequent operations that the grant allows. When certain subsequent operations
  allowed by the grant include encryption context that matches this list, the grant
  allows the operation. Otherwise, the grant does not allow the operation.\";}s:23:\"EncryptionContextSubset\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/EncryptionContextType\";s:11:\"description\";s:357:\"A
  list of key-value pairs, all of which must be present in the encryption context
  of certain subsequent operations that the grant allows. When certain subsequent
  operations allowed by the grant include encryption context that matches this list
  or is a superset of this list, the grant allows the operation. Otherwise, the grant
  does not allow the operation.\";}}s:4:\"type\";s:6:\"object\";}s:11:\"GrantIdType\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:128;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:9:\"GrantList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/GrantListEntry\";}s:4:\"type\";s:5:\"array\";}s:14:\"GrantListEntry\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Contains
  information about an entry in a list of grants.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:11:\"Constraints\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/GrantConstraints\";s:11:\"description\";s:128:\"A
  list of key-value pairs that must be present in the encryption context of certain
  subsequent operations that the grant allows.\";}s:12:\"CreationDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/DateType\";s:11:\"description\";s:45:\"The
  date and time when the grant was created.\";}s:7:\"GrantId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/GrantIdType\";s:11:\"description\";s:36:\"The
  unique identifier for the grant.\";}s:16:\"GranteePrincipal\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PrincipalIdType\";s:11:\"description\";s:52:\"The
  principal that receives the grant's permissions.\";}s:14:\"IssuingAccount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PrincipalIdType\";s:11:\"description\";s:49:\"The
  AWS account under which the grant was issued.\";}s:5:\"KeyId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/KeyIdType\";s:11:\"description\";s:83:\"The
  unique identifier for the customer master key (CMK) to which the grant applies.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/GrantNameType\";s:11:\"description\";s:155:\"The
  friendly name that identifies the grant. If a name was provided in the <a>CreateGrant</a>
  request, that name is returned. Otherwise this value is null.\";}s:10:\"Operations\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/GrantOperationList\";s:11:\"description\";s:46:\"The
  list of operations permitted by the grant.\";}s:17:\"RetiringPrincipal\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PrincipalIdType\";s:11:\"description\";s:40:\"The
  principal that can retire the grant.\";}}s:4:\"type\";s:6:\"object\";}s:13:\"GrantNameType\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:256;s:9:\"minLength\";i:1;s:7:\"pattern\";s:18:\"^[a-zA-Z0-9:/_-]+$\";s:4:\"type\";s:6:\"string\";}s:14:\"GrantOperation\";O:8:\"stdClass\":2:{s:4:\"enum\";a:9:{i:0;s:7:\"Decrypt\";i:1;s:7:\"Encrypt\";i:2;s:15:\"GenerateDataKey\";i:3;s:31:\"GenerateDataKeyWithoutPlaintext\";i:4;s:13:\"ReEncryptFrom\";i:5;s:11:\"ReEncryptTo\";i:6;s:11:\"CreateGrant\";i:7;s:11:\"RetireGrant\";i:8;s:11:\"DescribeKey\";}s:4:\"type\";s:6:\"string\";}s:18:\"GrantOperationList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/GrantOperation\";}s:4:\"type\";s:5:\"array\";}s:14:\"GrantTokenList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/GrantTokenType\";}s:8:\"maxItems\";i:10;s:8:\"minItems\";i:0;s:4:\"type\";s:5:\"array\";}s:14:\"GrantTokenType\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:8192;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:24:\"ImportKeyMaterialRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":4:{s:20:\"EncryptedKeyMaterial\";s:13:\"<binary
  data>\";s:15:\"ExpirationModel\";s:28:\"KEY_MATERIAL_DOES_NOT_EXPIRE\";s:11:\"ImportToken\";s:13:\"<binary
  data>\";s:5:\"KeyId\";s:36:\"1234abcd-12ab-34cd-56ef-1234567890ab\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:20:\"EncryptedKeyMaterial\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/CiphertextType\";s:11:\"description\";s:230:\"The
  encrypted key material to import. It must be encrypted with the public key that
  you received in the response to a previous <a>GetParametersForImport</a> request,
  using the wrapping algorithm that you specified in that request.\";}s:15:\"ExpirationModel\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/ExpirationModelType\";s:11:\"description\";s:283:\"Specifies
  whether the key material expires. The default is <code>KEY_MATERIAL_EXPIRES</code>,
  in which case you must include the <code>ValidTo</code> parameter. When this parameter
  is set to <code>KEY_MATERIAL_DOES_NOT_EXPIRE</code>, you must omit the <code>ValidTo</code>
  parameter.\";}s:11:\"ImportToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/CiphertextType\";s:11:\"description\";s:210:\"The
  import token that you received in the response to a previous <a>GetParametersForImport</a>
  request. It must be from the same response that contained the public key that you
  used to encrypt the key material.\";}s:5:\"KeyId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/KeyIdType\";s:11:\"description\";s:514:\"<p>The
  identifier of the CMK to import the key material into. The CMK's <code>Origin</code>
  must be <code>EXTERNAL</code>.</p> <p>Specify the key ID or the Amazon Resource
  Name (ARN) of the CMK.</p> <p>For example:</p> <ul> <li> <p>Key ID: <code>1234abcd-12ab-34cd-56ef-1234567890ab</code>
  </p> </li> <li> <p>Key ARN: <code>arn:aws:kms:us-east-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab</code>
  </p> </li> </ul> <p>To get the key ID and key ARN for a CMK, use <a>ListKeys</a>
  or <a>DescribeKey</a>.</p>\";}s:7:\"ValidTo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/DateType\";s:11:\"description\";s:302:\"The
  time at which the imported key material expires. When the key material expires,
  AWS KMS deletes the key material and the CMK becomes unusable. You must omit this
  parameter when the <code>ExpirationModel</code> parameter is set to <code>KEY_MATERIAL_DOES_NOT_EXPIRE</code>.
  Otherwise it is required.\";}}s:8:\"required\";a:3:{i:0;s:5:\"KeyId\";i:1;s:11:\"ImportToken\";i:2;s:20:\"EncryptedKeyMaterial\";}s:4:\"type\";s:6:\"object\";}s:25:\"ImportKeyMaterialResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:29:\"IncorrectKeyMaterialException\";O:8:\"stdClass\":3:{s:11:\"description\";s:167:\"The
  request was rejected because the provided key material is invalid or is not the
  same key material that was previously imported into this customer master key (CMK).\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ErrorMessageType\";}}s:4:\"type\";s:6:\"object\";}s:25:\"InvalidAliasNameException\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"The
  request was rejected because the specified alias name is not valid.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ErrorMessageType\";}}s:4:\"type\";s:6:\"object\";}s:19:\"InvalidArnException\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"The
  request was rejected because a specified ARN was not valid.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ErrorMessageType\";}}s:4:\"type\";s:6:\"object\";}s:26:\"InvalidCiphertextException\";O:8:\"stdClass\":3:{s:11:\"description\";s:202:\"The
  request was rejected because the specified ciphertext, or additional authenticated
  data incorporated into the ciphertext, such as the encryption context, is corrupted,
  missing, or otherwise invalid.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ErrorMessageType\";}}s:4:\"type\";s:6:\"object\";}s:23:\"InvalidGrantIdException\";O:8:\"stdClass\":3:{s:11:\"description\";s:81:\"The
  request was rejected because the specified <code>GrantId</code> is not valid.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ErrorMessageType\";}}s:4:\"type\";s:6:\"object\";}s:26:\"InvalidGrantTokenException\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"The
  request was rejected because the specified grant token is not valid.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ErrorMessageType\";}}s:4:\"type\";s:6:\"object\";}s:27:\"InvalidImportTokenException\";O:8:\"stdClass\":3:{s:11:\"description\";s:130:\"The
  request was rejected because the provided import token is invalid or is associated
  with a different customer master key (CMK).\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ErrorMessageType\";}}s:4:\"type\";s:6:\"object\";}s:24:\"InvalidKeyUsageException\";O:8:\"stdClass\":3:{s:11:\"description\";s:87:\"The
  request was rejected because the specified <code>KeySpec</code> value is not valid.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ErrorMessageType\";}}s:4:\"type\";s:6:\"object\";}s:22:\"InvalidMarkerException\";O:8:\"stdClass\":3:{s:11:\"description\";s:107:\"The
  request was rejected because the marker that specifies where pagination should next
  begin is not valid.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ErrorMessageType\";}}s:4:\"type\";s:6:\"object\";}s:20:\"KMSInternalException\";O:8:\"stdClass\":3:{s:11:\"description\";s:92:\"The
  request was rejected because an internal exception occurred. The request can be
  retried.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ErrorMessageType\";}}s:4:\"type\";s:6:\"object\";}s:24:\"KMSInvalidStateException\";O:8:\"stdClass\":3:{s:11:\"description\";s:375:\"<p>The
  request was rejected because the state of the specified resource is not valid for
  this request.</p> <p>For more information about how key state affects the use of
  a CMK, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How
  Key State Affects Use of a Customer Master Key</a> in the <i>AWS Key Management
  Service Developer Guide</i>.</p>\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ErrorMessageType\";}}s:4:\"type\";s:6:\"object\";}s:9:\"KeyIdType\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:2048;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:7:\"KeyList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/KeyListEntry\";}s:4:\"type\";s:5:\"array\";}s:12:\"KeyListEntry\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"Contains
  information about each entry in the key list.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"KeyArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/ArnType\";s:11:\"description\";s:15:\"ARN
  of the key.\";}s:5:\"KeyId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/KeyIdType\";s:11:\"description\";s:29:\"Unique
  identifier of the key.\";}}s:4:\"type\";s:6:\"object\";}s:14:\"KeyManagerType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:3:\"AWS\";i:1;s:8:\"CUSTOMER\";}s:4:\"type\";s:6:\"string\";}s:11:\"KeyMetadata\";O:8:\"stdClass\":4:{s:11:\"description\";s:171:\"<p>Contains
  metadata about a customer master key (CMK).</p> <p>This data type is used as a response
  element for the <a>CreateKey</a> and <a>DescribeKey</a> operations.</p>\";s:10:\"properties\";O:8:\"stdClass\":13:{s:12:\"AWSAccountId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/AWSAccountIdType\";s:11:\"description\";s:65:\"The
  twelve-digit account ID of the AWS account that owns the CMK.\";}s:3:\"Arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/ArnType\";s:11:\"description\";s:265:\"The
  Amazon Resource Name (ARN) of the CMK. For examples, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#arn-syntax-kms\">AWS
  Key Management Service (AWS KMS)</a> in the Example ARNs section of the <i>AWS General
  Reference</i>.\";}s:12:\"CreationDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/DateType\";s:11:\"description\";s:43:\"The
  date and time when the CMK was created.\";}s:12:\"DeletionDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/DateType\";s:11:\"description\";s:174:\"The
  date and time after which AWS KMS deletes the CMK. This value is present only when
  <code>KeyState</code> is <code>PendingDeletion</code>, otherwise this value is omitted.\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/DescriptionType\";s:11:\"description\";s:27:\"The
  description of the CMK.\";}s:7:\"Enabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/BooleanType\";s:11:\"description\";s:131:\"Specifies
  whether the CMK is enabled. When <code>KeyState</code> is <code>Enabled</code> this
  value is true, otherwise it is false.\";}s:15:\"ExpirationModel\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/ExpirationModelType\";s:11:\"description\";s:160:\"Specifies
  whether the CMK's key material expires. This value is present only when <code>Origin</code>
  is <code>EXTERNAL</code>, otherwise this value is omitted.\";}s:5:\"KeyId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/KeyIdType\";s:11:\"description\";s:43:\"The
  globally unique identifier for the CMK.\";}s:10:\"KeyManager\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/KeyManagerType\";s:11:\"description\";s:286:\"The
  CMK's manager. CMKs are either customer-managed or AWS-managed. For more information
  about the difference, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#master_keys\">Customer
  Master Keys</a> in the <i>AWS Key Management Service Developer Guide</i>.\";}s:8:\"KeyState\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/KeyState\";s:11:\"description\";s:301:\"<p>The
  state of the CMK.</p> <p>For more information about how key state affects the use
  of a CMK, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How
  Key State Affects the Use of a Customer Master Key</a> in the <i>AWS Key Management
  Service Developer Guide</i>.</p>\";}s:8:\"KeyUsage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/KeyUsageType\";s:11:\"description\";s:211:\"The
  cryptographic operations for which you can use the CMK. Currently the only allowed
  value is <code>ENCRYPT_DECRYPT</code>, which means you can use the CMK for the <a>Encrypt</a>
  and <a>Decrypt</a> operations.\";}s:6:\"Origin\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/OriginType\";s:11:\"description\";s:264:\"The
  source of the CMK's key material. When this value is <code>AWS_KMS</code>, AWS KMS
  created the key material. When this value is <code>EXTERNAL</code>, the key material
  was imported from your existing key management infrastructure or the CMK lacks key
  material.\";}s:7:\"ValidTo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/DateType\";s:11:\"description\";s:343:\"The
  time at which the imported key material expires. When the key material expires,
  AWS KMS deletes the key material and the CMK becomes unusable. This value is present
  only for CMKs whose <code>Origin</code> is <code>EXTERNAL</code> and whose <code>ExpirationModel</code>
  is <code>KEY_MATERIAL_EXPIRES</code>, otherwise this value is omitted.\";}}s:8:\"required\";a:1:{i:0;s:5:\"KeyId\";}s:4:\"type\";s:6:\"object\";}s:8:\"KeyState\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:7:\"Enabled\";i:1;s:8:\"Disabled\";i:2;s:15:\"PendingDeletion\";i:3;s:13:\"PendingImport\";}s:4:\"type\";s:6:\"string\";}s:23:\"KeyUnavailableException\";O:8:\"stdClass\":3:{s:11:\"description\";s:97:\"The
  request was rejected because the specified CMK was not available. The request can
  be retried.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ErrorMessageType\";}}s:4:\"type\";s:6:\"object\";}s:12:\"KeyUsageType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:1:{i:0;s:15:\"ENCRYPT_DECRYPT\";}s:4:\"type\";s:6:\"string\";}s:22:\"LimitExceededException\";O:8:\"stdClass\":3:{s:11:\"description\";s:224:\"The
  request was rejected because a limit was exceeded. For more information, see <a
  href=\"http://docs.aws.amazon.com/kms/latest/developerguide/limits.html\">Limits</a>
  in the <i>AWS Key Management Service Developer Guide</i>.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ErrorMessageType\";}}s:4:\"type\";s:6:\"object\";}s:9:\"LimitType\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:1000;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:18:\"ListAliasesRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"Limit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/LimitType\";s:11:\"description\";s:341:\"<p>Use
  this parameter to specify the maximum number of items to return. When this value
  is present, AWS KMS does not return more than the specified number of items, but
  it might return fewer.</p> <p>This value is optional. If you include a value, it
  must be between 1 and 100, inclusive. If you do not include a value, it defaults
  to 50.</p>\";}s:6:\"Marker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MarkerType\";s:11:\"description\";s:189:\"Use
  this parameter in a subsequent request after you receive a response with truncated
  results. Set it to the value of <code>NextMarker</code> from the truncated response
  you just received.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"ListAliasesResponse\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":2:{s:7:\"Aliases\";a:8:{i:0;O:8:\"stdClass\":3:{s:8:\"AliasArn\";s:48:\"arn:aws:kms:us-east-2:111122223333:alias/aws/acm\";s:9:\"AliasName\";s:13:\"alias/aws/acm\";s:11:\"TargetKeyId\";s:36:\"da03f6f7-d279-427a-9cae-de48d07e5b66\";}i:1;O:8:\"stdClass\":3:{s:8:\"AliasArn\";s:48:\"arn:aws:kms:us-east-2:111122223333:alias/aws/ebs\";s:9:\"AliasName\";s:13:\"alias/aws/ebs\";s:11:\"TargetKeyId\";s:36:\"25a217e7-7170-4b8c-8bf6-045ea5f70e5b\";}i:2;O:8:\"stdClass\":3:{s:8:\"AliasArn\";s:48:\"arn:aws:kms:us-east-2:111122223333:alias/aws/rds\";s:9:\"AliasName\";s:13:\"alias/aws/rds\";s:11:\"TargetKeyId\";s:36:\"7ec3104e-c3f2-4b5c-bf42-bfc4772c6685\";}i:3;O:8:\"stdClass\":3:{s:8:\"AliasArn\";s:53:\"arn:aws:kms:us-east-2:111122223333:alias/aws/redshift\";s:9:\"AliasName\";s:18:\"alias/aws/redshift\";s:11:\"TargetKeyId\";s:36:\"08f7a25a-69e2-4fb5-8f10-393db27326fa\";}i:4;O:8:\"stdClass\":3:{s:8:\"AliasArn\";s:47:\"arn:aws:kms:us-east-2:111122223333:alias/aws/s3\";s:9:\"AliasName\";s:12:\"alias/aws/s3\";s:11:\"TargetKeyId\";s:36:\"d2b0f1a3-580d-4f79-b836-bc983be8cfa5\";}i:5;O:8:\"stdClass\":3:{s:8:\"AliasArn\";s:49:\"arn:aws:kms:us-east-2:111122223333:alias/example1\";s:9:\"AliasName\";s:14:\"alias/example1\";s:11:\"TargetKeyId\";s:36:\"4da1e216-62d0-46c5-a7c0-5f3a3d2f8046\";}i:6;O:8:\"stdClass\":3:{s:8:\"AliasArn\";s:49:\"arn:aws:kms:us-east-2:111122223333:alias/example2\";s:9:\"AliasName\";s:14:\"alias/example2\";s:11:\"TargetKeyId\";s:36:\"f32fef59-2cc2-445b-8573-2d73328acbee\";}i:7;O:8:\"stdClass\":3:{s:8:\"AliasArn\";s:49:\"arn:aws:kms:us-east-2:111122223333:alias/example3\";s:9:\"AliasName\";s:14:\"alias/example3\";s:11:\"TargetKeyId\";s:36:\"1374ef38-d34e-4d5f-b2c9-4e0daee38855\";}}s:9:\"Truncated\";b:0;}s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"Aliases\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/AliasList\";s:11:\"description\";s:18:\"A
  list of aliases.\";}s:10:\"NextMarker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MarkerType\";s:11:\"description\";s:153:\"When
  <code>Truncated</code> is true, this element is present and contains the value to
  use for the <code>Marker</code> parameter in a subsequent request.\";}s:9:\"Truncated\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/BooleanType\";s:11:\"description\";s:280:\"A
  flag that indicates whether there are more items in the list. When this value is
  true, the list in this response is truncated. To get more items, pass the value
  of the <code>NextMarker</code> element in this response to the <code>Marker</code>
  parameter in a subsequent request.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"ListGrantsRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":1:{s:5:\"KeyId\";s:36:\"1234abcd-12ab-34cd-56ef-1234567890ab\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"KeyId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/KeyIdType\";s:11:\"description\";s:520:\"<p>A
  unique identifier for the customer master key (CMK).</p> <p>Specify the key ID or
  the Amazon Resource Name (ARN) of the CMK. To specify a CMK in a different AWS account,
  you must use the key ARN.</p> <p>For example:</p> <ul> <li> <p>Key ID: <code>1234abcd-12ab-34cd-56ef-1234567890ab</code>
  </p> </li> <li> <p>Key ARN: <code>arn:aws:kms:us-east-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab</code>
  </p> </li> </ul> <p>To get the key ID and key ARN for a CMK, use <a>ListKeys</a>
  or <a>DescribeKey</a>.</p>\";}s:5:\"Limit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/LimitType\";s:11:\"description\";s:341:\"<p>Use
  this parameter to specify the maximum number of items to return. When this value
  is present, AWS KMS does not return more than the specified number of items, but
  it might return fewer.</p> <p>This value is optional. If you include a value, it
  must be between 1 and 100, inclusive. If you do not include a value, it defaults
  to 50.</p>\";}s:6:\"Marker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MarkerType\";s:11:\"description\";s:189:\"Use
  this parameter in a subsequent request after you receive a response with truncated
  results. Set it to the value of <code>NextMarker</code> from the truncated response
  you just received.\";}}s:8:\"required\";a:1:{i:0;s:5:\"KeyId\";}s:4:\"type\";s:6:\"object\";}s:18:\"ListGrantsResponse\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":2:{s:6:\"Grants\";a:1:{i:0;O:8:\"stdClass\":7:{s:12:\"CreationDate\";s:25:\"2016-12-07T11:09:35-08:00\";s:7:\"GrantId\";s:64:\"0c237476b39f8bc44e45212e08498fbe3151305030726c0590dd8d3e9f3d6a60\";s:16:\"GranteePrincipal\";s:42:\"arn:aws:iam::111122223333:role/ExampleRole\";s:14:\"IssuingAccount\";s:30:\"arn:aws:iam::444455556666:root\";s:5:\"KeyId\";s:75:\"arn:aws:kms:us-east-2:444455556666:key/1234abcd-12ab-34cd-56ef-1234567890ab\";s:10:\"Operations\";a:2:{i:0;s:7:\"Decrypt\";i:1;s:7:\"Encrypt\";}s:17:\"RetiringPrincipal\";s:42:\"arn:aws:iam::111122223333:role/ExampleRole\";}}s:9:\"Truncated\";b:0;}s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"Grants\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/GrantList\";s:11:\"description\";s:17:\"A
  list of grants.\";}s:10:\"NextMarker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MarkerType\";s:11:\"description\";s:153:\"When
  <code>Truncated</code> is true, this element is present and contains the value to
  use for the <code>Marker</code> parameter in a subsequent request.\";}s:9:\"Truncated\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/BooleanType\";s:11:\"description\";s:280:\"A
  flag that indicates whether there are more items in the list. When this value is
  true, the list in this response is truncated. To get more items, pass the value
  of the <code>NextMarker</code> element in this response to the <code>Marker</code>
  parameter in a subsequent request.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"ListKeyPoliciesRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":1:{s:5:\"KeyId\";s:36:\"1234abcd-12ab-34cd-56ef-1234567890ab\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"KeyId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/KeyIdType\";s:11:\"description\";s:449:\"<p>A
  unique identifier for the customer master key (CMK).</p> <p>Specify the key ID or
  the Amazon Resource Name (ARN) of the CMK.</p> <p>For example:</p> <ul> <li> <p>Key
  ID: <code>1234abcd-12ab-34cd-56ef-1234567890ab</code> </p> </li> <li> <p>Key ARN:
  <code>arn:aws:kms:us-east-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab</code>
  </p> </li> </ul> <p>To get the key ID and key ARN for a CMK, use <a>ListKeys</a>
  or <a>DescribeKey</a>.</p>\";}s:5:\"Limit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/LimitType\";s:11:\"description\";s:400:\"<p>Use
  this parameter to specify the maximum number of items to return. When this value
  is present, AWS KMS does not return more than the specified number of items, but
  it might return fewer.</p> <p>This value is optional. If you include a value, it
  must be between 1 and 1000, inclusive. If you do not include a value, it defaults
  to 100.</p> <p>Currently only 1 policy can be attached to a key.</p>\";}s:6:\"Marker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MarkerType\";s:11:\"description\";s:189:\"Use
  this parameter in a subsequent request after you receive a response with truncated
  results. Set it to the value of <code>NextMarker</code> from the truncated response
  you just received.\";}}s:8:\"required\";a:1:{i:0;s:5:\"KeyId\";}s:4:\"type\";s:6:\"object\";}s:23:\"ListKeyPoliciesResponse\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":2:{s:11:\"PolicyNames\";a:1:{i:0;s:7:\"default\";}s:9:\"Truncated\";b:0;}s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"NextMarker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MarkerType\";s:11:\"description\";s:153:\"When
  <code>Truncated</code> is true, this element is present and contains the value to
  use for the <code>Marker</code> parameter in a subsequent request.\";}s:11:\"PolicyNames\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/PolicyNameList\";s:11:\"description\";s:120:\"A
  list of key policy names. Currently, there is only one key policy per CMK and it
  is always named <code>default</code>.\";}s:9:\"Truncated\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/BooleanType\";s:11:\"description\";s:280:\"A
  flag that indicates whether there are more items in the list. When this value is
  true, the list in this response is truncated. To get more items, pass the value
  of the <code>NextMarker</code> element in this response to the <code>Marker</code>
  parameter in a subsequent request.\";}}s:4:\"type\";s:6:\"object\";}s:15:\"ListKeysRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"Limit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/LimitType\";s:11:\"description\";s:343:\"<p>Use
  this parameter to specify the maximum number of items to return. When this value
  is present, AWS KMS does not return more than the specified number of items, but
  it might return fewer.</p> <p>This value is optional. If you include a value, it
  must be between 1 and 1000, inclusive. If you do not include a value, it defaults
  to 100.</p>\";}s:6:\"Marker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MarkerType\";s:11:\"description\";s:189:\"Use
  this parameter in a subsequent request after you receive a response with truncated
  results. Set it to the value of <code>NextMarker</code> from the truncated response
  you just received.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"ListKeysResponse\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":2:{s:4:\"Keys\";a:7:{i:0;O:8:\"stdClass\":2:{s:6:\"KeyArn\";s:75:\"arn:aws:kms:us-east-2:111122223333:key/0d990263-018e-4e65-a703-eff731de951e\";s:5:\"KeyId\";s:36:\"0d990263-018e-4e65-a703-eff731de951e\";}i:1;O:8:\"stdClass\":2:{s:6:\"KeyArn\";s:75:\"arn:aws:kms:us-east-2:111122223333:key/144be297-0ae1-44ac-9c8f-93cd8c82f841\";s:5:\"KeyId\";s:36:\"144be297-0ae1-44ac-9c8f-93cd8c82f841\";}i:2;O:8:\"stdClass\":2:{s:6:\"KeyArn\";s:75:\"arn:aws:kms:us-east-2:111122223333:key/21184251-b765-428e-b852-2c7353e72571\";s:5:\"KeyId\";s:36:\"21184251-b765-428e-b852-2c7353e72571\";}i:3;O:8:\"stdClass\":2:{s:6:\"KeyArn\";s:75:\"arn:aws:kms:us-east-2:111122223333:key/214fe92f-5b03-4ae1-b350-db2a45dbe10c\";s:5:\"KeyId\";s:36:\"214fe92f-5b03-4ae1-b350-db2a45dbe10c\";}i:4;O:8:\"stdClass\":2:{s:6:\"KeyArn\";s:75:\"arn:aws:kms:us-east-2:111122223333:key/339963f2-e523-49d3-af24-a0fe752aa458\";s:5:\"KeyId\";s:36:\"339963f2-e523-49d3-af24-a0fe752aa458\";}i:5;O:8:\"stdClass\":2:{s:6:\"KeyArn\";s:75:\"arn:aws:kms:us-east-2:111122223333:key/b776a44b-df37-4438-9be4-a27494e4271a\";s:5:\"KeyId\";s:36:\"b776a44b-df37-4438-9be4-a27494e4271a\";}i:6;O:8:\"stdClass\":2:{s:6:\"KeyArn\";s:75:\"arn:aws:kms:us-east-2:111122223333:key/deaf6c9e-cf2c-46a6-bf6d-0b6d487cffbb\";s:5:\"KeyId\";s:36:\"deaf6c9e-cf2c-46a6-bf6d-0b6d487cffbb\";}}s:9:\"Truncated\";b:0;}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"Keys\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/KeyList\";s:11:\"description\";s:38:\"A
  list of customer master keys (CMKs).\";}s:10:\"NextMarker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MarkerType\";s:11:\"description\";s:153:\"When
  <code>Truncated</code> is true, this element is present and contains the value to
  use for the <code>Marker</code> parameter in a subsequent request.\";}s:9:\"Truncated\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/BooleanType\";s:11:\"description\";s:280:\"A
  flag that indicates whether there are more items in the list. When this value is
  true, the list in this response is truncated. To get more items, pass the value
  of the <code>NextMarker</code> element in this response to the <code>Marker</code>
  parameter in a subsequent request.\";}}s:4:\"type\";s:6:\"object\";}s:23:\"ListResourceTagsRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":1:{s:5:\"KeyId\";s:36:\"1234abcd-12ab-34cd-56ef-1234567890ab\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"KeyId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/KeyIdType\";s:11:\"description\";s:449:\"<p>A
  unique identifier for the customer master key (CMK).</p> <p>Specify the key ID or
  the Amazon Resource Name (ARN) of the CMK.</p> <p>For example:</p> <ul> <li> <p>Key
  ID: <code>1234abcd-12ab-34cd-56ef-1234567890ab</code> </p> </li> <li> <p>Key ARN:
  <code>arn:aws:kms:us-east-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab</code>
  </p> </li> </ul> <p>To get the key ID and key ARN for a CMK, use <a>ListKeys</a>
  or <a>DescribeKey</a>.</p>\";}s:5:\"Limit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/LimitType\";s:11:\"description\";s:340:\"<p>Use
  this parameter to specify the maximum number of items to return. When this value
  is present, AWS KMS does not return more than the specified number of items, but
  it might return fewer.</p> <p>This value is optional. If you include a value, it
  must be between 1 and 50, inclusive. If you do not include a value, it defaults
  to 50.</p>\";}s:6:\"Marker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MarkerType\";s:11:\"description\";s:336:\"<p>Use
  this parameter in a subsequent request after you receive a response with truncated
  results. Set it to the value of <code>NextMarker</code> from the truncated response
  you just received.</p> <p>Do not attempt to construct this value. Use only the value
  of <code>NextMarker</code> from the truncated response you just received.</p>\";}}s:8:\"required\";a:1:{i:0;s:5:\"KeyId\";}s:4:\"type\";s:6:\"object\";}s:24:\"ListResourceTagsResponse\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":2:{s:4:\"Tags\";a:3:{i:0;O:8:\"stdClass\":2:{s:6:\"TagKey\";s:10:\"CostCenter\";s:8:\"TagValue\";s:5:\"87654\";}i:1;O:8:\"stdClass\":2:{s:6:\"TagKey\";s:9:\"CreatedBy\";s:8:\"TagValue\";s:11:\"ExampleUser\";}i:2;O:8:\"stdClass\":2:{s:6:\"TagKey\";s:7:\"Purpose\";s:8:\"TagValue\";s:4:\"Test\";}}s:9:\"Truncated\";b:0;}s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"NextMarker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MarkerType\";s:11:\"description\";s:223:\"<p>When
  <code>Truncated</code> is true, this element is present and contains the value to
  use for the <code>Marker</code> parameter in a subsequent request.</p> <p>Do not
  assume or infer any information from this value.</p>\";}s:4:\"Tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/TagList\";s:11:\"description\";s:63:\"A
  list of tags. Each tag consists of a tag key and a tag value.\";}s:9:\"Truncated\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/BooleanType\";s:11:\"description\";s:280:\"A
  flag that indicates whether there are more items in the list. When this value is
  true, the list in this response is truncated. To get more items, pass the value
  of the <code>NextMarker</code> element in this response to the <code>Marker</code>
  parameter in a subsequent request.\";}}s:4:\"type\";s:6:\"object\";}s:26:\"ListRetirableGrantsRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":1:{s:17:\"RetiringPrincipal\";s:42:\"arn:aws:iam::111122223333:role/ExampleRole\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"Limit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/LimitType\";s:11:\"description\";s:341:\"<p>Use
  this parameter to specify the maximum number of items to return. When this value
  is present, AWS KMS does not return more than the specified number of items, but
  it might return fewer.</p> <p>This value is optional. If you include a value, it
  must be between 1 and 100, inclusive. If you do not include a value, it defaults
  to 50.</p>\";}s:6:\"Marker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MarkerType\";s:11:\"description\";s:189:\"Use
  this parameter in a subsequent request after you receive a response with truncated
  results. Set it to the value of <code>NextMarker</code> from the truncated response
  you just received.\";}s:17:\"RetiringPrincipal\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PrincipalIdType\";s:11:\"description\";s:631:\"<p>The
  retiring principal for which to list grants.</p> <p>To specify the retiring principal,
  use the <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon
  Resource Name (ARN)</a> of an AWS principal. Valid AWS principals include AWS accounts
  (root), IAM users, federated users, and assumed role users. For examples of the
  ARN syntax for specifying a principal, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#arn-syntax-iam\">AWS
  Identity and Access Management (IAM)</a> in the Example ARNs section of the <i>Amazon
  Web Services General Reference</i>.</p>\";}}s:8:\"required\";a:1:{i:0;s:17:\"RetiringPrincipal\";}s:4:\"type\";s:6:\"object\";}s:32:\"MalformedPolicyDocumentException\";O:8:\"stdClass\":3:{s:11:\"description\";s:99:\"The
  request was rejected because the specified policy is not syntactically or semantically
  correct.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ErrorMessageType\";}}s:4:\"type\";s:6:\"object\";}s:10:\"MarkerType\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:1024;s:9:\"minLength\";i:1;s:7:\"pattern\";s:16:\"[\\u0020-\\u00FF]*\";s:4:\"type\";s:6:\"string\";}s:17:\"NotFoundException\";O:8:\"stdClass\":3:{s:11:\"description\";s:85:\"The
  request was rejected because the specified entity or resource could not be found.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ErrorMessageType\";}}s:4:\"type\";s:6:\"object\";}s:17:\"NumberOfBytesType\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:1024;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:10:\"OriginType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:7:\"AWS_KMS\";i:1;s:8:\"EXTERNAL\";}s:4:\"type\";s:6:\"string\";}s:23:\"PendingWindowInDaysType\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:365;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:13:\"PlaintextType\";O:8:\"stdClass\":4:{s:6:\"format\";s:8:\"password\";s:9:\"maxLength\";i:4096;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:14:\"PolicyNameList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/PolicyNameType\";}s:4:\"type\";s:5:\"array\";}s:14:\"PolicyNameType\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:128;s:9:\"minLength\";i:1;s:7:\"pattern\";s:5:\"[\\w]+\";s:4:\"type\";s:6:\"string\";}s:10:\"PolicyType\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:131072;s:9:\"minLength\";i:1;s:7:\"pattern\";s:34:\"[\\u0009\\u000A\\u000D\\u0020-\\u00FF]+\";s:4:\"type\";s:6:\"string\";}s:15:\"PrincipalIdType\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:256;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:19:\"PutKeyPolicyRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":3:{s:5:\"KeyId\";s:36:\"1234abcd-12ab-34cd-56ef-1234567890ab\";s:6:\"Policy\";s:2142:\"{\n
  \   \"Version\": \"2012-10-17\",\n    \"Id\": \"custom-policy-2016-12-07\",\n    \"Statement\":
  [\n        {\n            \"Sid\": \"Enable IAM User Permissions\",\n            \"Effect\":
  \"Allow\",\n            \"Principal\": {\n                \"AWS\": \"arn:aws:iam::111122223333:root\"\n
  \           },\n            \"Action\": \"kms:*\",\n            \"Resource\": \"*\"\n
  \       },\n        {\n            \"Sid\": \"Allow access for Key Administrators\",\n
  \           \"Effect\": \"Allow\",\n            \"Principal\": {\n                \"AWS\":
  [\n                    \"arn:aws:iam::111122223333:user/ExampleAdminUser\",\n                    \"arn:aws:iam::111122223333:role/ExampleAdminRole\"\n
  \               ]\n            },\n            \"Action\": [\n                \"kms:Create*\",\n
  \               \"kms:Describe*\",\n                \"kms:Enable*\",\n                \"kms:List*\",\n
  \               \"kms:Put*\",\n                \"kms:Update*\",\n                \"kms:Revoke*\",\n
  \               \"kms:Disable*\",\n                \"kms:Get*\",\n                \"kms:Delete*\",\n
  \               \"kms:ScheduleKeyDeletion\",\n                \"kms:CancelKeyDeletion\"\n
  \           ],\n            \"Resource\": \"*\"\n        },\n        {\n            \"Sid\":
  \"Allow use of the key\",\n            \"Effect\": \"Allow\",\n            \"Principal\":
  {\n                \"AWS\": \"arn:aws:iam::111122223333:role/ExamplePowerUserRole\"\n
  \           },\n            \"Action\": [\n                \"kms:Encrypt\",\n                \"kms:Decrypt\",\n
  \               \"kms:ReEncrypt*\",\n                \"kms:GenerateDataKey*\",\n
  \               \"kms:DescribeKey\"\n            ],\n            \"Resource\": \"*\"\n
  \       },\n        {\n            \"Sid\": \"Allow attachment of persistent resources\",\n
  \           \"Effect\": \"Allow\",\n            \"Principal\": {\n                \"AWS\":
  \"arn:aws:iam::111122223333:role/ExamplePowerUserRole\"\n            },\n            \"Action\":
  [\n                \"kms:CreateGrant\",\n                \"kms:ListGrants\",\n                \"kms:RevokeGrant\"\n
  \           ],\n            \"Resource\": \"*\",\n            \"Condition\": {\n
  \               \"Bool\": {\n                    \"kms:GrantIsForAWSResource\":
  \"true\"\n                }\n            }\n        }\n    ]\n}\n\";s:10:\"PolicyName\";s:7:\"default\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:30:\"BypassPolicyLockoutSafetyCheck\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/BooleanType\";s:11:\"description\";s:715:\"<p>A
  flag to indicate whether to bypass the key policy lockout safety check.</p> <important>
  <p>Setting this value to true increases the risk that the CMK becomes unmanageable.
  Do not set this value to true indiscriminately.</p> <p>For more information, refer
  to the scenario in the <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-policies.html#key-policy-default-allow-root-enable-iam\">Default
  Key Policy</a> section in the <i>AWS Key Management Service Developer Guide</i>.</p>
  </important> <p>Use this parameter only when you intend to prevent the principal
  that is making the request from making a subsequent <code>PutKeyPolicy</code> request
  on the CMK.</p> <p>The default value is false.</p>\";}s:5:\"KeyId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/KeyIdType\";s:11:\"description\";s:449:\"<p>A
  unique identifier for the customer master key (CMK).</p> <p>Specify the key ID or
  the Amazon Resource Name (ARN) of the CMK.</p> <p>For example:</p> <ul> <li> <p>Key
  ID: <code>1234abcd-12ab-34cd-56ef-1234567890ab</code> </p> </li> <li> <p>Key ARN:
  <code>arn:aws:kms:us-east-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab</code>
  </p> </li> </ul> <p>To get the key ID and key ARN for a CMK, use <a>ListKeys</a>
  or <a>DescribeKey</a>.</p>\";}s:6:\"Policy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/PolicyType\";s:11:\"description\";s:1400:\"<p>The
  key policy to attach to the CMK.</p> <p>The key policy must meet the following criteria:</p>
  <ul> <li> <p>If you don't set <code>BypassPolicyLockoutSafetyCheck</code> to true,
  the key policy must allow the principal that is making the <code>PutKeyPolicy</code>
  request to make a subsequent <code>PutKeyPolicy</code> request on the CMK. This
  reduces the risk that the CMK becomes unmanageable. For more information, refer
  to the scenario in the <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-policies.html#key-policy-default-allow-root-enable-iam\">Default
  Key Policy</a> section of the <i>AWS Key Management Service Developer Guide</i>.</p>
  </li> <li> <p>Each statement in the key policy must contain one or more principals.
  The principals in the key policy must exist and be visible to AWS KMS. When you
  create a new AWS principal (for example, an IAM user or role), you might need to
  enforce a delay before including the new principal in a key policy because the new
  principal might not be immediately visible to AWS KMS. For more information, see
  <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/troubleshoot_general.html#troubleshoot_general_eventual-consistency\">Changes
  that I make are not always immediately visible</a> in the <i>AWS Identity and Access
  Management User Guide</i>.</p> </li> </ul> <p>The key policy size limit is 32 kilobytes
  (32768 bytes).</p>\";}s:10:\"PolicyName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/PolicyNameType\";s:11:\"description\";s:73:\"The
  name of the key policy. The only valid value is <code>default</code>.\";}}s:8:\"required\";a:3:{i:0;s:5:\"KeyId\";i:1;s:10:\"PolicyName\";i:2;s:6:\"Policy\";}s:4:\"type\";s:6:\"object\";}s:16:\"ReEncryptRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":2:{s:14:\"CiphertextBlob\";s:13:\"<binary
  data>\";s:16:\"DestinationKeyId\";s:36:\"0987dcba-09fe-87dc-65ba-ab0987654321\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:14:\"CiphertextBlob\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/CiphertextType\";s:11:\"description\";s:36:\"Ciphertext
  of the data to reencrypt.\";}s:28:\"DestinationEncryptionContext\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/EncryptionContextType\";s:11:\"description\";s:55:\"Encryption
  context to use when the data is reencrypted.\";}s:16:\"DestinationKeyId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/KeyIdType\";s:11:\"description\";s:841:\"<p>A
  unique identifier for the CMK that is used to reencrypt the data.</p> <p>To specify
  a CMK, use its key ID, Amazon Resource Name (ARN), alias name, or alias ARN. When
  using an alias name, prefix it with \"alias/\". To specify a CMK in a different
  AWS account, you must use the key ARN or alias ARN.</p> <p>For example:</p> <ul>
  <li> <p>Key ID: <code>1234abcd-12ab-34cd-56ef-1234567890ab</code> </p> </li> <li>
  <p>Key ARN: <code>arn:aws:kms:us-east-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab</code>
  </p> </li> <li> <p>Alias name: <code>alias/ExampleAlias</code> </p> </li> <li> <p>Alias
  ARN: <code>arn:aws:kms:us-east-2:111122223333:alias/ExampleAlias</code> </p> </li>
  </ul> <p>To get the key ID and key ARN for a CMK, use <a>ListKeys</a> or <a>DescribeKey</a>.
  To get the alias name and alias ARN, use <a>ListAliases</a>.</p>\";}s:11:\"GrantTokens\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/GrantTokenList\";s:11:\"description\";s:227:\"<p>A
  list of grant tokens.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/concepts.html#grant_token\">Grant
  Tokens</a> in the <i>AWS Key Management Service Developer Guide</i>.</p>\";}s:23:\"SourceEncryptionContext\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/EncryptionContextType\";s:11:\"description\";s:111:\"Encryption
  context used to encrypt and decrypt the data specified in the <code>CiphertextBlob</code>
  parameter.\";}}s:8:\"required\";a:2:{i:0;s:14:\"CiphertextBlob\";i:1;s:16:\"DestinationKeyId\";}s:4:\"type\";s:6:\"object\";}s:17:\"ReEncryptResponse\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":3:{s:14:\"CiphertextBlob\";s:13:\"<binary
  data>\";s:5:\"KeyId\";s:75:\"arn:aws:kms:us-east-2:111122223333:key/0987dcba-09fe-87dc-65ba-ab0987654321\";s:11:\"SourceKeyId\";s:75:\"arn:aws:kms:us-east-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"CiphertextBlob\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/CiphertextType\";s:11:\"description\";s:122:\"The
  reencrypted data. When you use the HTTP API or the AWS CLI, the value is Base64-encoded.
  Otherwise, it is not encoded.\";}s:5:\"KeyId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/KeyIdType\";s:11:\"description\";s:56:\"Unique
  identifier of the CMK used to reencrypt the data.\";}s:11:\"SourceKeyId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/KeyIdType\";s:11:\"description\";s:65:\"Unique
  identifier of the CMK used to originally encrypt the data.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"RetireGrantRequest\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":2:{s:7:\"GrantId\";s:64:\"0c237476b39f8bc44e45212e08498fbe3151305030726c0590dd8d3e9f3d6a60\";s:5:\"KeyId\";s:75:\"arn:aws:kms:us-east-2:444455556666:key/1234abcd-12ab-34cd-56ef-1234567890ab\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"GrantId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/GrantIdType\";s:11:\"description\";s:243:\"<p>Unique
  identifier of the grant to retire. The grant ID is returned in the response to a
  <code>CreateGrant</code> operation.</p> <ul> <li> <p>Grant ID Example - 0123456789012345678901234567890123456789012345678901234567890123</p>
  </li> </ul>\";}s:10:\"GrantToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/GrantTokenType\";s:11:\"description\";s:46:\"Token
  that identifies the grant to be retired.\";}s:5:\"KeyId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/KeyIdType\";s:11:\"description\";s:186:\"<p>The
  Amazon Resource Name (ARN) of the CMK associated with the grant. </p> <p>For example:
  <code>arn:aws:kms:us-east-2:444455556666:key/1234abcd-12ab-34cd-56ef-1234567890ab</code>
[...]
