---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":15:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:9:\"x-twitter\";s:12:\"PermittedSoc\";}s:11:\"description\";s:1223:\"<p>Amazon
  Elastic Container Service (Amazon ECS) is a highly scalable, fast, container management
  service that makes it easy to run, stop, and manage Docker containers on a cluster.
  You can host your cluster on a serverless infrastructure that is managed by Amazon
  ECS by launching your services or tasks using the Fargate launch type. For more
  control, you can host your tasks on a cluster of Amazon Elastic Compute Cloud (Amazon
  EC2) instances that you manage by using the EC2 launch type. For more information
  about launch types, see <a href=\"http://docs.aws.amazon.com/AmazonECS/latest/developerguide/launch_types.html\">Amazon
  ECS Launch Types</a>.</p> <p>Amazon ECS lets you launch and stop container-based
  applications with simple API calls, allows you to get the state of your cluster
  from a centralized service, and gives you access to many familiar Amazon EC2 features.</p>
  <p>You can use Amazon ECS to schedule the placement of containers across your cluster
  based on your resource needs, isolation policies, and availability requirements.
  Amazon ECS eliminates the need for you to operate your own cluster management and
  configuration management systems or worry about scaling your management infrastructure.</p>\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache
  2.0 License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:28:\"Amazon
  EC2 Container Service\";s:7:\"version\";s:10:\"2014-11-13\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:87:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/ecs-2014-11-13.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v4\";s:13:\"x-serviceName\";s:3:\"ecs\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:13:\"amazonaws_ecs\";s:4:\"type\";s:7:\"openapi\";}}"
host: ecs.amazonaws.com
basePath: /
paths: ~
produces:
- application/json
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":192:{s:21:\"AccessDeniedException\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"You
  do not have authorization to perform the requested action.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:17:\"AgentUpdateStatus\";O:8:\"stdClass\":2:{s:4:\"enum\";a:6:{i:0;s:7:\"PENDING\";i:1;s:7:\"STAGING\";i:2;s:6:\"STAGED\";i:3;s:8:\"UPDATING\";i:4;s:7:\"UPDATED\";i:5;s:6:\"FAILED\";}s:4:\"type\";s:6:\"string\";}s:14:\"AssignPublicIp\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:7:\"ENABLED\";i:1;s:8:\"DISABLED\";}s:4:\"type\";s:6:\"string\";}s:10:\"Attachment\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"An
  object representing a container instance or task attachment.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"details\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/AttachmentDetails\";s:11:\"description\";s:160:\"Details
  of the attachment. For Elastic Network Interfaces, this includes the network interface
  ID, the MAC address, the subnet ID, and the private IPv4 address.\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:41:\"The
  unique identifier for the attachment.\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:214:\"
  The status of the attachment. Valid values are <code>PRECREATED</code>, <code>CREATED</code>,
  <code>ATTACHING</code>, <code>ATTACHED</code>, <code>DETACHING</code>, <code>DETACHED</code>,
  and <code>DELETED</code>.\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:73:\"The
  type of the attachment, such as <code>ElasticNetworkInterface</code>.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"AttachmentDetails\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/KeyValuePair\";}s:4:\"type\";s:5:\"array\";}s:21:\"AttachmentStateChange\";O:8:\"stdClass\":4:{s:11:\"description\";s:63:\"An
  object representing a change in state for a task attachment.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"attachmentArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:49:\"The
  Amazon Resource Name (ARN) of the attachment.\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:29:\"The
  status of the attachment.\";}}s:8:\"required\";a:2:{i:0;s:13:\"attachmentArn\";i:1;s:6:\"status\";}s:4:\"type\";s:6:\"object\";}s:22:\"AttachmentStateChanges\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/AttachmentStateChange\";}s:4:\"type\";s:5:\"array\";}s:11:\"Attachments\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Attachment\";}s:4:\"type\";s:5:\"array\";}s:9:\"Attribute\";O:8:\"stdClass\":4:{s:11:\"description\";s:391:\"An
  attribute is a name-value pair associated with an Amazon ECS object. Attributes
  enable you to extend the Amazon ECS data model by adding custom metadata to your
  resources. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonECS/latest/developerguide/task-placement-constraints.html#attributes\">Attributes</a>
  in the <i>Amazon Elastic Container Service Developer Guide</i>.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:127:\"The
  name of the attribute. Up to 128 letters (uppercase and lowercase), numbers, hyphens,
  underscores, and periods are allowed.\";}s:8:\"targetId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:110:\"The
  ID of the target. You can specify the short form ID for a resource or the full Amazon
  Resource Name (ARN).\";}s:10:\"targetType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/TargetType\";s:11:\"description\";s:154:\"The
  type of the target with which to attach the attribute. This parameter is required
  if you use the short form ID for a resource instead of the full ARN.\";}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:175:\"The
  value of the attribute. Up to 128 letters (uppercase and lowercase), numbers, hyphens,
  underscores, periods, at signs (@), forward slashes, colons, and spaces are allowed.\";}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:4:\"type\";s:6:\"object\";}s:31:\"AttributeLimitExceededException\";O:8:\"stdClass\":3:{s:11:\"description\";s:203:\"You
  can apply up to 10 custom attributes per resource. You can view the attributes of
  a resource with <a>ListAttributes</a>. You can remove existing attributes on a resource
  with <a>DeleteAttributes</a>.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:10:\"Attributes\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Attribute\";}s:4:\"type\";s:5:\"array\";}s:19:\"AwsVpcConfiguration\";O:8:\"stdClass\":4:{s:11:\"description\";s:68:\"An
  object representing the networking details for a task or service.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"assignPublicIp\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/AssignPublicIp\";s:11:\"description\";s:74:\"Whether
  the task's elastic network interface receives a public IP address.\";}s:14:\"securityGroups\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StringList\";s:11:\"description\";s:228:\"The
  security groups associated with the task or service. If you do not specify a security
  group, the default security group for the VPC is used. There is a limit of 5 security
  groups able to be specified per AwsVpcConfiguration.\";}s:7:\"subnets\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StringList\";s:11:\"description\";s:125:\"The
  subnets associated with the task or service. There is a limit of 10 subnets able
  to be specified per AwsVpcConfiguration.\";}}s:8:\"required\";a:1:{i:0;s:7:\"subnets\";}s:4:\"type\";s:6:\"object\";}s:16:\"BlockedException\";O:8:\"stdClass\":3:{s:11:\"description\";s:124:\"Your
  AWS account has been blocked. <a href=\"http://aws.amazon.com/contact-us/\">Contact
  AWS Support</a> for more information.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:7:\"Boolean\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:12:\"BoxedBoolean\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:12:\"BoxedInteger\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:15:\"ClientException\";O:8:\"stdClass\":3:{s:11:\"description\";s:215:\"These
  errors are usually caused by a client action, such as using an action or resource
  on behalf of a user that doesn't have permissions to use the action or resource,
  or specifying an identifier that is not valid.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Cluster\";O:8:\"stdClass\":3:{s:11:\"description\";s:282:\"A
  regional grouping of one or more container instances on which you can run task requests.
  Each account receives a default cluster the first time you use the Amazon ECS service,
  but you may also create other clusters. Clusters may contain more than one instance
  type simultaneously.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:19:\"activeServicesCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:141:\"The
  number of services that are running on the cluster in an <code>ACTIVE</code> state.
  You can view these services with <a>ListServices</a>.\";}s:10:\"clusterArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:354:\"The
  Amazon Resource Name (ARN) that identifies the cluster. The ARN contains the <code>arn:aws:ecs</code>
  namespace, followed by the region of the cluster, the AWS account ID of the cluster
  owner, the <code>cluster</code> namespace, and then the cluster name. For example,
  <code>arn:aws:ecs:<i>region</i>:<i>012345678910</i>:cluster/<i>test</i> </code>..\";}s:11:\"clusterName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:62:\"A
  user-generated string that you use to identify your cluster.\";}s:17:\"pendingTasksCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:78:\"The
  number of tasks in the cluster that are in the <code>PENDING</code> state.\";}s:33:\"registeredContainerInstancesCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:62:\"The
  number of container instances registered into the cluster.\";}s:17:\"runningTasksCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:78:\"The
  number of tasks in the cluster that are in the <code>RUNNING</code> state.\";}s:10:\"statistics\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Statistics\";s:11:\"description\";s:442:\"<p>Additional
  information about your clusters that are separated by launch type, including:</p>
  <ul> <li> <p>runningEC2TasksCount</p> </li> <li> <p>RunningFargateTasksCount</p>
  </li> <li> <p>pendingEC2TasksCount</p> </li> <li> <p>pendingFargateTasksCount</p>
  </li> <li> <p>activeEC2ServiceCount</p> </li> <li> <p>activeFargateServiceCount</p>
  </li> <li> <p>drainingEC2ServiceCount</p> </li> <li> <p>drainingFargateServiceCount</p>
  </li> </ul>\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:229:\"The
  status of the cluster. The valid values are <code>ACTIVE</code> or <code>INACTIVE</code>.
  <code>ACTIVE</code> indicates that you can register container instances with the
  cluster and the associated instances can accept tasks.\";}}s:4:\"type\";s:6:\"object\";}s:42:\"ClusterContainsContainerInstancesException\";O:8:\"stdClass\":3:{s:11:\"description\";s:215:\"You
  cannot delete a cluster that has registered container instances. You must first
  deregister the container instances before you can delete the cluster. For more information,
  see <a>DeregisterContainerInstance</a>.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:32:\"ClusterContainsServicesException\";O:8:\"stdClass\":3:{s:11:\"description\";s:225:\"You
  cannot delete a cluster that contains services. You must first update the service
  to reduce its desired task count to 0 and then delete the service. For more information,
  see <a>UpdateService</a> and <a>DeleteService</a>.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:29:\"ClusterContainsTasksException\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"You
  cannot delete a cluster that has active tasks.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:12:\"ClusterField\";O:8:\"stdClass\":2:{s:4:\"enum\";a:1:{i:0;s:10:\"STATISTICS\";}s:4:\"type\";s:6:\"string\";}s:16:\"ClusterFieldList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ClusterField\";}s:4:\"type\";s:5:\"array\";}s:24:\"ClusterNotFoundException\";O:8:\"stdClass\":3:{s:11:\"description\";s:145:\"The
  specified cluster could not be found. You can view your available clusters with
  <a>ListClusters</a>. Amazon ECS clusters are region-specific.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:8:\"Clusters\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Cluster\";}s:4:\"type\";s:5:\"array\";}s:13:\"Compatibility\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:3:\"EC2\";i:1;s:7:\"FARGATE\";}s:4:\"type\";s:6:\"string\";}s:17:\"CompatibilityList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/Compatibility\";}s:4:\"type\";s:5:\"array\";}s:12:\"Connectivity\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:9:\"CONNECTED\";i:1;s:12:\"DISCONNECTED\";}s:4:\"type\";s:6:\"string\";}s:9:\"Container\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"A
  Docker container that is part of a task.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:12:\"containerArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:48:\"The
  Amazon Resource Name (ARN) of the container.\";}s:8:\"exitCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/BoxedInteger\";s:11:\"description\";s:42:\"The
  exit code returned from the container.\";}s:12:\"healthStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/HealthStatus\";s:11:\"description\";s:169:\"The
  health status of the container. If health checks are not configured for this container
  in its task definition, then it reports health status as <code>UNKNOWN</code>.\";}s:10:\"lastStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:39:\"The
  last known status of the container.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:26:\"The
  name of the container.\";}s:15:\"networkBindings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/NetworkBindings\";s:11:\"description\";s:51:\"The
  network bindings associated with the container.\";}s:17:\"networkInterfaces\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/NetworkInterfaces\";s:11:\"description\";s:53:\"The
  network interfaces associated with the container.\";}s:6:\"reason\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:118:\"A
  short (255 max characters) human-readable string to provide additional details about
  a running or stopped container.\";}s:7:\"taskArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:20:\"The
  ARN of the task.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"ContainerDefinition\";O:8:\"stdClass\":3:{s:11:\"description\";s:124:\"Container
  definitions are used in task definitions to describe the different containers that
  are launched as part of a task.\";s:10:\"properties\";O:8:\"stdClass\":28:{s:7:\"command\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StringList\";s:11:\"description\";s:593:\"The
  command that is passed to the container. This parameter maps to <code>Cmd</code>
  in the <a href=\"https://docs.docker.com/engine/reference/api/docker_remote_api_v1.27/#create-a-container\">Create
  a container</a> section of the <a href=\"https://docs.docker.com/engine/reference/api/docker_remote_api_v1.27/\">Docker
  Remote API</a> and the <code>COMMAND</code> parameter to <a href=\"https://docs.docker.com/engine/reference/run/\">docker
  run</a>. For more information, see <a href=\"https://docs.docker.com/engine/reference/builder/#cmd\">https://docs.docker.com/engine/reference/builder/#cmd</a>.\";}s:3:\"cpu\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:3549:\"<p>The
  number of <code>cpu</code> units reserved for the container. This parameter maps
  to <code>CpuShares</code> in the <a href=\"https://docs.docker.com/engine/reference/api/docker_remote_api_v1.27/#create-a-container\">Create
  a container</a> section of the <a href=\"https://docs.docker.com/engine/reference/api/docker_remote_api_v1.27/\">Docker
  Remote API</a> and the <code>--cpu-shares</code> option to <a href=\"https://docs.docker.com/engine/reference/run/\">docker
  run</a>.</p> <p>This field is optional for tasks using the Fargate launch type,
  and the only requirement is that the total amount of CPU reserved for all containers
  within a task be lower than the task-level <code>cpu</code> value.</p> <note> <p>You
  can determine the number of CPU units that are available per EC2 instance type by
  multiplying the vCPUs listed for that instance type on the <a href=\"http://aws.amazon.com/ec2/instance-types/\">Amazon
  EC2 Instances</a> detail page by 1,024.</p> </note> <p>For example, if you run a
  single-container task on a single-core instance type with 512 CPU units specified
  for that container, and that is the only task running on the container instance,
  that container could use the full 1,024 CPU unit share at any given time. However,
  if you launched another copy of the same task on that container instance, each task
  would be guaranteed a minimum of 512 CPU units when needed, and each container could
  float to higher CPU usage if the other container was not using it, but if both tasks
  were 100% active all of the time, they would be limited to 512 CPU units.</p> <p>Linux
  containers share unallocated CPU units with other containers on the container instance
  with the same ratio as their allocated amount. For example, if you run a single-container
  task on a single-core instance type with 512 CPU units specified for that container,
  and that is the only task running on the container instance, that container could
  use the full 1,024 CPU unit share at any given time. However, if you launched another
  copy of the same task on that container instance, each task would be guaranteed
  a minimum of 512 CPU units when needed, and each container could float to higher
  CPU usage if the other container was not using it, but if both tasks were 100% active
  all of the time, they would be limited to 512 CPU units.</p> <p>On Linux container
  instances, the Docker daemon on the container instance uses the CPU value to calculate
  the relative CPU share ratios for running containers. For more information, see
  <a href=\"https://docs.docker.com/engine/reference/run/#cpu-share-constraint\">CPU
  share constraint</a> in the Docker documentation. The minimum valid CPU share value
  that the Linux kernel allows is 2; however, the CPU parameter is not required, and
  you can use CPU values below 2 in your container definitions. For CPU values below
  2 (including null), the behavior varies based on your Amazon ECS container agent
  version:</p> <ul> <li> <p> <b>Agent versions less than or equal to 1.1.0:</b> Null
  and zero CPU values are passed to Docker as 0, which Docker then converts to 1,024
  CPU shares. CPU values of 1 are passed to Docker as 1, which the Linux kernel converts
  to 2 CPU shares.</p> </li> <li> <p> <b>Agent versions greater than or equal to 1.2.0:</b>
  Null, zero, and CPU values of 1 are passed to Docker as 2.</p> </li> </ul> <p>On
  Windows container instances, the CPU limit is enforced as an absolute limit, or
  a quota. Windows containers only have access to the specified amount of CPU that
  is described in the task definition.</p>\";}s:17:\"disableNetworking\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/BoxedBoolean\";s:11:\"description\";s:457:\"<p>When
  this parameter is true, networking is disabled within the container. This parameter
  maps to <code>NetworkDisabled</code> in the <a href=\"https://docs.docker.com/engine/reference/api/docker_remote_api_v1.27/#create-a-container\">Create
  a container</a> section of the <a href=\"https://docs.docker.com/engine/reference/api/docker_remote_api_v1.27/\">Docker
  Remote API</a>.</p> <note> <p>This parameter is not supported for Windows containers.</p>
  </note>\";}s:16:\"dnsSearchDomains\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StringList\";s:11:\"description\";s:558:\"<p>A
  list of DNS search domains that are presented to the container. This parameter maps
  to <code>DnsSearch</code> in the <a href=\"https://docs.docker.com/engine/reference/api/docker_remote_api_v1.27/#create-a-container\">Create
  a container</a> section of the <a href=\"https://docs.docker.com/engine/reference/api/docker_remote_api_v1.27/\">Docker
  Remote API</a> and the <code>--dns-search</code> option to <a href=\"https://docs.docker.com/engine/reference/run/\">docker
  run</a>.</p> <note> <p>This parameter is not supported for Windows containers.</p>
  </note>\";}s:10:\"dnsServers\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StringList\";s:11:\"description\";s:538:\"<p>A
  list of DNS servers that are presented to the container. This parameter maps to
  <code>Dns</code> in the <a href=\"https://docs.docker.com/engine/reference/api/docker_remote_api_v1.27/#create-a-container\">Create
  a container</a> section of the <a href=\"https://docs.docker.com/engine/reference/api/docker_remote_api_v1.27/\">Docker
  Remote API</a> and the <code>--dns</code> option to <a href=\"https://docs.docker.com/engine/reference/run/\">docker
  run</a>.</p> <note> <p>This parameter is not supported for Windows containers.</p>
  </note>\";}s:12:\"dockerLabels\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/DockerLabelsMap\";s:11:\"description\";s:745:\"A
  key/value map of labels to add to the container. This parameter maps to <code>Labels</code>
  in the <a href=\"https://docs.docker.com/engine/reference/api/docker_remote_api_v1.27/#create-a-container\">Create
  a container</a> section of the <a href=\"https://docs.docker.com/engine/reference/api/docker_remote_api_v1.27/\">Docker
  Remote API</a> and the <code>--label</code> option to <a href=\"https://docs.docker.com/engine/reference/run/\">docker
  run</a>. This parameter requires version 1.18 of the Docker Remote API or greater
  on your container instance. To check the Docker Remote API version on your container
  instance, log in to your container instance and run the following command: <code>sudo
  docker version | grep \"Server API version\"</code> \";}s:21:\"dockerSecurityOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StringList\";s:11:\"description\";s:1175:\"<p>A
  list of strings to provide custom labels for SELinux and AppArmor multi-level security
  systems. This field is not valid for containers in tasks using the Fargate launch
  type.</p> <p>This parameter maps to <code>SecurityOpt</code> in the <a href=\"https://docs.docker.com/engine/reference/api/docker_remote_api_v1.27/#create-a-container\">Create
  a container</a> section of the <a href=\"https://docs.docker.com/engine/reference/api/docker_remote_api_v1.27/\">Docker
  Remote API</a> and the <code>--security-opt</code> option to <a href=\"https://docs.docker.com/engine/reference/run/\">docker
  run</a>.</p> <note> <p>The Amazon ECS container agent running on a container instance
  must register with the <code>ECS_SELINUX_CAPABLE=true</code> or <code>ECS_APPARMOR_CAPABLE=true</code>
  environment variables before containers placed on that instance can use these security
  options. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonECS/latest/developerguide/ecs-agent-config.html\">Amazon
  ECS Container Agent Configuration</a> in the <i>Amazon Elastic Container Service
  Developer Guide</i>.</p> <p>This parameter is not supported for Windows containers.</p>
  </note>\";}s:10:\"entryPoint\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StringList\";s:11:\"description\";s:929:\"<important>
  <p>Early versions of the Amazon ECS container agent do not properly handle <code>entryPoint</code>
  parameters. If you have problems using <code>entryPoint</code>, update your container
  agent or enter your commands and arguments as <code>command</code> array items instead.</p>
  </important> <p>The entry point that is passed to the container. This parameter
  maps to <code>Entrypoint</code> in the <a href=\"https://docs.docker.com/engine/reference/api/docker_remote_api_v1.27/#create-a-container\">Create
  a container</a> section of the <a href=\"https://docs.docker.com/engine/reference/api/docker_remote_api_v1.27/\">Docker
  Remote API</a> and the <code>--entrypoint</code> option to <a href=\"https://docs.docker.com/engine/reference/run/\">docker
  run</a>. For more information, see <a href=\"https://docs.docker.com/engine/reference/builder/#entrypoint\">https://docs.docker.com/engine/reference/builder/#entrypoint</a>.</p>\";}s:11:\"environment\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/EnvironmentVariables\";s:11:\"description\";s:593:\"<p>The
  environment variables to pass to a container. This parameter maps to <code>Env</code>
  in the <a href=\"https://docs.docker.com/engine/reference/api/docker_remote_api_v1.27/#create-a-container\">Create
  a container</a> section of the <a href=\"https://docs.docker.com/engine/reference/api/docker_remote_api_v1.27/\">Docker
  Remote API</a> and the <code>--env</code> option to <a href=\"https://docs.docker.com/engine/reference/run/\">docker
  run</a>.</p> <important> <p>We do not recommend using plaintext environment variables
  for sensitive information, such as credential data.</p> </important>\";}s:9:\"essential\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/BoxedBoolean\";s:11:\"description\";s:929:\"<p>If
  the <code>essential</code> parameter of a container is marked as <code>true</code>,
  and that container fails or stops for any reason, all other containers that are
  part of the task are stopped. If the <code>essential</code> parameter of a container
  is marked as <code>false</code>, then its failure does not affect the rest of the
  containers in a task. If this parameter is omitted, a container is assumed to be
  essential.</p> <p>All tasks must have at least one essential container. If you have
  an application that is composed of multiple containers, you should group containers
  that are used for a common purpose into components, and separate the different components
  into multiple task definitions. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonECS/latest/developerguide/application_architecture.html\">Application
  Architecture</a> in the <i>Amazon Elastic Container Service Developer Guide</i>.</p>\";}s:10:\"extraHosts\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/HostEntryList\";s:11:\"description\";s:711:\"<p>A
  list of hostnames and IP address mappings to append to the <code>/etc/hosts</code>
  file on the container. If using the Fargate launch type, this may be used to list
  non-Fargate hosts you want the container to talk to. This parameter maps to <code>ExtraHosts</code>
  in the <a href=\"https://docs.docker.com/engine/reference/api/docker_remote_api_v1.27/#create-a-container\">Create
  a container</a> section of the <a href=\"https://docs.docker.com/engine/reference/api/docker_remote_api_v1.27/\">Docker
  Remote API</a> and the <code>--add-host</code> option to <a href=\"https://docs.docker.com/engine/reference/run/\">docker
  run</a>.</p> <note> <p>This parameter is not supported for Windows containers.</p>
  </note>\";}s:11:\"healthCheck\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/HealthCheck\";s:11:\"description\";s:495:\"The
  health check command and associated configuration parameters for the container.
  This parameter maps to <code>HealthCheck</code> in the <a href=\"https://docs.docker.com/engine/reference/api/docker_remote_api_v1.27/#create-a-container\">Create
  a container</a> section of the <a href=\"https://docs.docker.com/engine/reference/api/docker_remote_api_v1.27/\">Docker
  Remote API</a> and the <code>HEALTHCHECK</code> parameter of <a href=\"https://docs.docker.com/engine/reference/run/\">docker
  run</a>.\";}s:8:\"hostname\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:572:\"<p>The
  hostname to use for your container. This parameter maps to <code>Hostname</code>
  in the <a href=\"https://docs.docker.com/engine/reference/api/docker_remote_api_v1.27/#create-a-container\">Create
  a container</a> section of the <a href=\"https://docs.docker.com/engine/reference/api/docker_remote_api_v1.27/\">Docker
  Remote API</a> and the <code>--hostname</code> option to <a href=\"https://docs.docker.com/engine/reference/run/\">docker
  run</a>.</p> <note> <p>The <code>hostname</code> parameter is not supported if using
  the <code>awsvpc</code> networkMode.</p> </note>\";}s:5:\"image\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:2007:\"<p>The
  image used to start a container. This string is passed directly to the Docker daemon.
  Images in the Docker Hub registry are available by default. Other repositories are
  specified with either <code> <i>repository-url</i>/<i>image</i>:<i>tag</i> </code>
  or <code> <i>repository-url</i>/<i>image</i>@<i>digest</i> </code>. Up to 255 letters
  (uppercase and lowercase), numbers, hyphens, underscores, colons, periods, forward
  slashes, and number signs are allowed. This parameter maps to <code>Image</code>
  in the <a href=\"https://docs.docker.com/engine/reference/api/docker_remote_api_v1.27/#create-a-container\">Create
  a container</a> section of the <a href=\"https://docs.docker.com/engine/reference/api/docker_remote_api_v1.27/\">Docker
  Remote API</a> and the <code>IMAGE</code> parameter of <a href=\"https://docs.docker.com/engine/reference/run/\">docker
  run</a>.</p> <ul> <li> <p>When a new task starts, the Amazon ECS container agent
  pulls the latest version of the specified image and tag for the container to use.
  However, subsequent updates to a repository image are not propagated to already
  running tasks.</p> </li> <li> <p>Images in Amazon ECR repositories can be specified
  by either using the full <code>registry/repository:tag</code> or <code>registry/repository@digest</code>.
  For example, <code>012345678910.dkr.ecr.&lt;region-name&gt;.amazonaws.com/&lt;repository-name&gt;:latest</code>
  or <code>012345678910.dkr.ecr.&lt;region-name&gt;.amazonaws.com/&lt;repository-name&gt;@sha256:94afd1f2e64d908bc90dbca0035a5b567EXAMPLE</code>.
  </p> </li> <li> <p>Images in official repositories on Docker Hub use a single name
  (for example, <code>ubuntu</code> or <code>mongo</code>).</p> </li> <li> <p>Images
  in other repositories on Docker Hub are qualified with an organization name (for
  example, <code>amazon/amazon-ecs-agent</code>).</p> </li> <li> <p>Images in other
  online repositories are qualified further by a domain name (for example, <code>quay.io/assemblyline/ubuntu</code>).</p>
  </li> </ul>\";}s:5:\"links\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StringList\";s:11:\"description\";s:1424:\"<p>The
  <code>link</code> parameter allows containers to communicate with each other without
  the need for port mappings. Only supported if the network mode of a task definition
  is set to <code>bridge</code>. The <code>name:internalName</code> construct is analogous
  to <code>name:alias</code> in Docker links. Up to 255 letters (uppercase and lowercase),
  numbers, hyphens, and underscores are allowed. For more information about linking
  Docker containers, go to <a href=\"https://docs.docker.com/engine/userguide/networking/default_network/dockerlinks/\">https://docs.docker.com/engine/userguide/networking/default_network/dockerlinks/</a>.
  This parameter maps to <code>Links</code> in the <a href=\"https://docs.docker.com/engine/reference/api/docker_remote_api_v1.27/#create-a-container\">Create
  a container</a> section of the <a href=\"https://docs.docker.com/engine/reference/api/docker_remote_api_v1.27/\">Docker
  Remote API</a> and the <code>--link</code> option to <a href=\"https://docs.docker.com/engine/reference/commandline/run/\">
  <code>docker run</code> </a>.</p> <note> <p>This parameter is not supported for
  Windows containers.</p> </note> <important> <p>Containers that are collocated on
  a single container instance may be able to communicate with each other without requiring
  links or host port mappings. Network isolation is achieved on the container instance
  using security groups and VPC settings.</p> </important>\";}s:15:\"linuxParameters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/LinuxParameters\";s:11:\"description\";s:189:\"<p>Linux-specific
  modifications that are applied to the container, such as Linux <a>KernelCapabilities</a>.</p>
  <note> <p>This parameter is not supported for Windows containers.</p> </note>\";}s:16:\"logConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/LogConfiguration\";s:11:\"description\";s:2272:\"<p>The
  log configuration specification for the container.</p> <p>If using the Fargate launch
  type, the only supported value is <code>awslogs</code>.</p> <p>This parameter maps
  to <code>LogConfig</code> in the <a href=\"https://docs.docker.com/engine/reference/api/docker_remote_api_v1.27/#create-a-container\">Create
  a container</a> section of the <a href=\"https://docs.docker.com/engine/reference/api/docker_remote_api_v1.27/\">Docker
  Remote API</a> and the <code>--log-driver</code> option to <a href=\"https://docs.docker.com/engine/reference/run/\">docker
  run</a>. By default, containers use the same logging driver that the Docker daemon
  uses; however the container may use a different logging driver than the Docker daemon
  by specifying a log driver with this parameter in the container definition. To use
  a different logging driver for a container, the log system must be configured properly
  on the container instance (or on a different log server for remote logging options).
  For more information on the options for different supported log drivers, see <a
  href=\"https://docs.docker.com/engine/admin/logging/overview/\">Configure logging
  drivers</a> in the Docker documentation.</p> <note> <p>Amazon ECS currently supports
  a subset of the logging drivers available to the Docker daemon (shown in the <a>LogConfiguration</a>
  data type). Additional log drivers may be available in future releases of the Amazon
  ECS container agent.</p> </note> <p>This parameter requires version 1.18 of the
  Docker Remote API or greater on your container instance. To check the Docker Remote
  API version on your container instance, log in to your container instance and run
  the following command: <code>sudo docker version | grep \"Server API version\"</code>
  </p> <note> <p>The Amazon ECS container agent running on a container instance must
  register the logging drivers available on that instance with the <code>ECS_AVAILABLE_LOGGING_DRIVERS</code>
  environment variable before containers placed on that instance can use these log
  configuration options. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonECS/latest/developerguide/ecs-agent-config.html\">Amazon
  ECS Container Agent Configuration</a> in the <i>Amazon Elastic Container Service
  Developer Guide</i>.</p> </note>\";}s:6:\"memory\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/BoxedInteger\";s:11:\"description\";s:1494:\"<p>The
  hard limit (in MiB) of memory to present to the container. If your container attempts
  to exceed the memory specified here, the container is killed. This parameter maps
  to <code>Memory</code> in the <a href=\"https://docs.docker.com/engine/reference/api/docker_remote_api_v1.27/#create-a-container\">Create
  a container</a> section of the <a href=\"https://docs.docker.com/engine/reference/api/docker_remote_api_v1.27/\">Docker
  Remote API</a> and the <code>--memory</code> option to <a href=\"https://docs.docker.com/engine/reference/run/\">docker
  run</a>.</p> <p>If your containers are part of a task using the Fargate launch type,
  this field is optional and the only requirement is that the total amount of memory
  reserved for all containers within a task be lower than the task <code>memory</code>
  value.</p> <p>For containers that are part of a task using the EC2 launch type,
  you must specify a non-zero integer for one or both of <code>memory</code> or <code>memoryReservation</code>
  in container definitions. If you specify both, <code>memory</code> must be greater
  than <code>memoryReservation</code>. If you specify <code>memoryReservation</code>,
  then that value is subtracted from the available memory resources for the container
  instance on which the container is placed; otherwise, the value of <code>memory</code>
  is used.</p> <p>The Docker daemon reserves a minimum of 4 MiB of memory for a container,
  so you should not specify fewer than 4 MiB of memory for your containers. </p>\";}s:17:\"memoryReservation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/BoxedInteger\";s:11:\"description\";s:1923:\"<p>The
  soft limit (in MiB) of memory to reserve for the container. When system memory is
  under heavy contention, Docker attempts to keep the container memory to this soft
  limit; however, your container can consume more memory when it needs to, up to either
  the hard limit specified with the <code>memory</code> parameter (if applicable),
  or all of the available memory on the container instance, whichever comes first.
  This parameter maps to <code>MemoryReservation</code> in the <a href=\"https://docs.docker.com/engine/reference/api/docker_remote_api_v1.27/#create-a-container\">Create
  a container</a> section of the <a href=\"https://docs.docker.com/engine/reference/api/docker_remote_api_v1.27/\">Docker
  Remote API</a> and the <code>--memory-reservation</code> option to <a href=\"https://docs.docker.com/engine/reference/run/\">docker
  run</a>.</p> <p>You must specify a non-zero integer for one or both of <code>memory</code>
  or <code>memoryReservation</code> in container definitions. If you specify both,
  <code>memory</code> must be greater than <code>memoryReservation</code>. If you
  specify <code>memoryReservation</code>, then that value is subtracted from the available
  memory resources for the container instance on which the container is placed; otherwise,
  the value of <code>memory</code> is used.</p> <p>For example, if your container
  normally uses 128 MiB of memory, but occasionally bursts to 256 MiB of memory for
  short periods of time, you can set a <code>memoryReservation</code> of 128 MiB,
  and a <code>memory</code> hard limit of 300 MiB. This configuration would allow
  the container to only reserve 128 MiB of memory from the remaining resources on
  the container instance, but also allow the container to consume more memory resources
  when needed.</p> <p>The Docker daemon reserves a minimum of 4 MiB of memory for
  a container, so you should not specify fewer than 4 MiB of memory for your containers.
  </p>\";}s:11:\"mountPoints\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/MountPointList\";s:11:\"description\";s:681:\"<p>The
  mount points for data volumes in your container.</p> <p>This parameter maps to <code>Volumes</code>
  in the <a href=\"https://docs.docker.com/engine/reference/api/docker_remote_api_v1.27/#create-a-container\">Create
  a container</a> section of the <a href=\"https://docs.docker.com/engine/reference/api/docker_remote_api_v1.27/\">Docker
  Remote API</a> and the <code>--volume</code> option to <a href=\"https://docs.docker.com/engine/reference/run/\">docker
  run</a>.</p> <p>Windows containers can mount whole directories on the same drive
  as <code>$env:ProgramData</code>. Windows containers cannot mount directories on
  a different drive, and mount point cannot be across drives.</p>\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:712:\"The
  name of a container. If you are linking multiple containers together in a task definition,
  the <code>name</code> of one container can be entered in the <code>links</code>
  of another container to connect the containers. Up to 255 letters (uppercase and
  lowercase), numbers, hyphens, and underscores are allowed. This parameter maps to
  <code>name</code> in the <a href=\"https://docs.docker.com/engine/reference/api/docker_remote_api_v1.27/#create-a-container\">Create
  a container</a> section of the <a href=\"https://docs.docker.com/engine/reference/api/docker_remote_api_v1.27/\">Docker
  Remote API</a> and the <code>--name</code> option to <a href=\"https://docs.docker.com/engine/reference/run/\">docker
  run</a>. \";}s:12:\"portMappings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PortMappingList\";s:11:\"description\";s:1656:\"<p>The
  list of port mappings for the container. Port mappings allow containers to access
  ports on the host container instance to send or receive traffic.</p> <p>For task
  definitions that use the <code>awsvpc</code> network mode, you should only specify
  the <code>containerPort</code>. The <code>hostPort</code> can be left blank or it
  must be the same value as the <code>containerPort</code>.</p> <p>Port mappings on
  Windows use the <code>NetNAT</code> gateway address rather than <code>localhost</code>.
  There is no loopback for port mappings on Windows, so you cannot access a container's
  mapped port from the host itself. </p> <p>This parameter maps to <code>PortBindings</code>
  in the <a href=\"https://docs.docker.com/engine/reference/api/docker_remote_api_v1.27/#create-a-container\">Create
  a container</a> section of the <a href=\"https://docs.docker.com/engine/reference/api/docker_remote_api_v1.27/\">Docker
  Remote API</a> and the <code>--publish</code> option to <a href=\"https://docs.docker.com/engine/reference/run/\">docker
  run</a>. If the network mode of a task definition is set to <code>none</code>, then
  you can't specify port mappings. If the network mode of a task definition is set
  to <code>host</code>, then host ports must either be undefined or they must match
  the container port in the port mapping.</p> <note> <p>After a task reaches the <code>RUNNING</code>
  status, manual and automatic host and container port assignments are visible in
  the <b>Network Bindings</b> section of a container description for a selected task
  in the Amazon ECS console, or the <code>networkBindings</code> section <a>DescribeTasks</a>
  responses.</p> </note>\";}s:10:\"privileged\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/BoxedBoolean\";s:11:\"description\";s:676:\"<p>When
  this parameter is true, the container is given elevated privileges on the host container
  instance (similar to the <code>root</code> user). This parameter maps to <code>Privileged</code>
  in the <a href=\"https://docs.docker.com/engine/reference/api/docker_remote_api_v1.27/#create-a-container\">Create
  a container</a> section of the <a href=\"https://docs.docker.com/engine/reference/api/docker_remote_api_v1.27/\">Docker
  Remote API</a> and the <code>--privileged</code> option to <a href=\"https://docs.docker.com/engine/reference/run/\">docker
  run</a>.</p> <note> <p>This parameter is not supported for Windows containers or
  tasks using the Fargate launch type.</p> </note>\";}s:22:\"readonlyRootFilesystem\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/BoxedBoolean\";s:11:\"description\";s:543:\"<p>When
  this parameter is true, the container is given read-only access to its root file
  system. This parameter maps to <code>ReadonlyRootfs</code> in the <a href=\"https://docs.docker.com/engine/reference/api/docker_remote_api_v1.27/#create-a-container\">Create
  a container</a> section of the <a href=\"https://docs.docker.com/engine/reference/api/docker_remote_api_v1.27/\">Docker
  Remote API</a> and the <code>--read-only</code> option to <code>docker run</code>.</p>
  <note> <p>This parameter is not supported for Windows containers.</p> </note>\";}s:7:\"ulimits\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/UlimitList\";s:11:\"description\";s:903:\"<p>A
  list of <code>ulimits</code> to set in the container. This parameter maps to <code>Ulimits</code>
  in the <a href=\"https://docs.docker.com/engine/reference/api/docker_remote_api_v1.27/#create-a-container\">Create
  a container</a> section of the <a href=\"https://docs.docker.com/engine/reference/api/docker_remote_api_v1.27/\">Docker
  Remote API</a> and the <code>--ulimit</code> option to <a href=\"https://docs.docker.com/engine/reference/run/\">docker
  run</a>. Valid naming values are displayed in the <a>Ulimit</a> data type. This
  parameter requires version 1.18 of the Docker Remote API or greater on your container
  instance. To check the Docker Remote API version on your container instance, log
  in to your container instance and run the following command: <code>sudo docker version
  | grep \"Server API version\"</code> </p> <note> <p>This parameter is not supported
  for Windows containers.</p> </note>\";}s:4:\"user\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:524:\"<p>The
  user name to use inside the container. This parameter maps to <code>User</code>
  in the <a href=\"https://docs.docker.com/engine/reference/api/docker_remote_api_v1.27/#create-a-container\">Create
  a container</a> section of the <a href=\"https://docs.docker.com/engine/reference/api/docker_remote_api_v1.27/\">Docker
  Remote API</a> and the <code>--user</code> option to <a href=\"https://docs.docker.com/engine/reference/run/\">docker
  run</a>.</p> <note> <p>This parameter is not supported for Windows containers.</p>
  </note>\";}s:11:\"volumesFrom\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/VolumeFromList\";s:11:\"description\";s:457:\"Data
  volumes to mount from another container. This parameter maps to <code>VolumesFrom</code>
  in the <a href=\"https://docs.docker.com/engine/reference/api/docker_remote_api_v1.27/#create-a-container\">Create
  a container</a> section of the <a href=\"https://docs.docker.com/engine/reference/api/docker_remote_api_v1.27/\">Docker
  Remote API</a> and the <code>--volumes-from</code> option to <a href=\"https://docs.docker.com/engine/reference/run/\">docker
  run</a>.\";}s:16:\"workingDirectory\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:474:\"The
  working directory in which to run commands inside the container. This parameter
  maps to <code>WorkingDir</code> in the <a href=\"https://docs.docker.com/engine/reference/api/docker_remote_api_v1.27/#create-a-container\">Create
  a container</a> section of the <a href=\"https://docs.docker.com/engine/reference/api/docker_remote_api_v1.27/\">Docker
  Remote API</a> and the <code>--workdir</code> option to <a href=\"https://docs.docker.com/engine/reference/run/\">docker
  run</a>.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"ContainerDefinitions\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/ContainerDefinition\";}s:4:\"type\";s:5:\"array\";}s:17:\"ContainerInstance\";O:8:\"stdClass\":3:{s:11:\"description\";s:92:\"An
  EC2 instance that is running the Amazon ECS agent and has been registered with a
  cluster.\";s:10:\"properties\";O:8:\"stdClass\":14:{s:14:\"agentConnected\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:245:\"This
  parameter returns <code>true</code> if the agent is connected to Amazon ECS. Registered
  instances with an agent that may be unhealthy or stopped return <code>false</code>.
  Instances without a connected agent can't accept placement requests.\";}s:17:\"agentUpdateStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/AgentUpdateStatus\";s:11:\"description\";s:115:\"The
  status of the most recent agent update. If an update has never been requested, this
  value is <code>NULL</code>.\";}s:11:\"attachments\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Attachments\";s:11:\"description\";s:70:\"The
  Elastic Network Interfaces associated with the container instance.\";}s:10:\"attributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Attributes\";s:11:\"description\";s:165:\"The
  attributes set for the container instance, either by the Amazon ECS container agent
  at instance registration or manually with the <a>PutAttributes</a> operation.\";}s:20:\"containerInstanceArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:423:\"The
  Amazon Resource Name (ARN) of the container instance. The ARN contains the <code>arn:aws:ecs</code>
  namespace, followed by the region of the container instance, the AWS account ID
  of the container instance owner, the <code>container-instance</code> namespace,
  and then the container instance ID. For example, <code>arn:aws:ecs:<i>region</i>:<i>aws_account_id</i>:container-instance/<i>container_instance_ID</i>
  </code>.\";}s:13:\"ec2InstanceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:46:\"The
  EC2 instance ID of the container instance.\";}s:17:\"pendingTasksCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:90:\"The
  number of tasks on the container instance that are in the <code>PENDING</code> status.\";}s:12:\"registeredAt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:67:\"The
  Unix time stamp for when the container instance was registered.\";}s:19:\"registeredResources\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Resources\";s:11:\"description\";s:476:\"For
  CPU and memory resource types, this parameter describes the amount of each resource
  that was available on the container instance when the container agent registered
  it with Amazon ECS; this value represents the total amount of CPU and memory that
  can be allocated on this container instance to tasks. For port resource types, this
  parameter describes the ports that were reserved by the Amazon ECS container agent
  when it registered the container instance with Amazon ECS.\";}s:18:\"remainingResources\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Resources\";s:11:\"description\";s:519:\"For
  CPU and memory resource types, this parameter describes the remaining CPU and memory
  that has not already been allocated to tasks and is therefore available for new
  tasks. For port resource types, this parameter describes the ports that were reserved
  by the Amazon ECS container agent (at instance registration time) and any task containers
  that have reserved port mappings on the host (with the <code>host</code> or <code>bridge</code>
  network mode). Any port that is not specified here is available for new tasks.\";}s:17:\"runningTasksCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:90:\"The
  number of tasks on the container instance that are in the <code>RUNNING</code> status.\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:597:\"The
  status of the container instance. The valid values are <code>ACTIVE</code>, <code>INACTIVE</code>,
  or <code>DRAINING</code>. <code>ACTIVE</code> indicates that the container instance
  can accept tasks. <code>DRAINING</code> indicates that new tasks are not placed
  on the container instance and any service tasks running on the container instance
  are removed if possible. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonECS/latest/developerguide/container-instance-draining.html\">Container
  Instance Draining</a> in the <i>Amazon Elastic Container Service Developer Guide</i>.\";}s:7:\"version\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Long\";s:11:\"description\";s:516:\"The
  version counter for the container instance. Every time a container instance experiences
  a change that triggers a CloudWatch event, the version counter is incremented. If
  you are replicating your Amazon ECS container instance state with CloudWatch Events,
  you can compare the version of a container instance reported by the Amazon ECS APIs
  with the version reported in CloudWatch Events for the container instance (inside
  the <code>detail</code> object) to verify that the version in your event stream
  is current.\";}s:11:\"versionInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/VersionInfo\";s:11:\"description\";s:111:\"The
  version information for the Amazon ECS container agent and Docker daemon running
  on the container instance.\";}}s:4:\"type\";s:6:\"object\";}s:23:\"ContainerInstanceStatus\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:6:\"ACTIVE\";i:1;s:8:\"DRAINING\";}s:4:\"type\";s:6:\"string\";}s:18:\"ContainerInstances\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ContainerInstance\";}s:4:\"type\";s:5:\"array\";}s:17:\"ContainerOverride\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  overrides that should be sent to a container.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"command\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StringList\";s:11:\"description\";s:157:\"The
  command to send to the container that overrides the default command from the Docker
  image or the task definition. You must also specify a container name.\";}s:3:\"cpu\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/BoxedInteger\";s:11:\"description\";s:159:\"The
  number of <code>cpu</code> units reserved for the container, instead of the default
  value from the task definition. You must also specify a container name.\";}s:11:\"environment\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/EnvironmentVariables\";s:11:\"description\";s:275:\"The
  environment variables to send to the container. You can add new environment variables,
  which are added to the container at launch, or you can override the existing environment
  variables from the Docker image or the task definition. You must also specify a
  container name.\";}s:6:\"memory\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/BoxedInteger\";s:11:\"description\";s:246:\"The
  hard limit (in MiB) of memory to present to the container, instead of the default
  value from the task definition. If your container attempts to exceed the memory
  specified here, the container is killed. You must also specify a container name.\";}s:17:\"memoryReservation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/BoxedInteger\";s:11:\"description\";s:158:\"The
  soft limit (in MiB) of memory to reserve for the container, instead of the default
  value from the task definition. You must also specify a container name.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:110:\"The
  name of the container that receives the override. This parameter is required if
  any override is specified.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"ContainerOverrides\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ContainerOverride\";}s:4:\"type\";s:5:\"array\";}s:20:\"ContainerStateChange\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"An
  object representing a change in state for a container.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:13:\"containerName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:26:\"The
  name of the container.\";}s:8:\"exitCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/BoxedInteger\";s:11:\"description\";s:90:\"The
  exit code for the container, if the state change is a result of the container exiting.\";}s:15:\"networkBindings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/NetworkBindings\";s:11:\"description\";s:51:\"Any
  network bindings associated with the container.\";}s:6:\"reason\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:32:\"The
  reason for the state change.\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:28:\"The
  status of the container.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"ContainerStateChanges\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/ContainerStateChange\";}s:4:\"type\";s:5:\"array\";}s:10:\"Containers\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Container\";}s:4:\"type\";s:5:\"array\";}s:20:\"CreateClusterRequest\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":1:{s:11:\"clusterName\";s:10:\"my_cluster\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"clusterName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:213:\"The
  name of your cluster. If you do not specify a name for your cluster, you create
  a cluster named <code>default</code>. Up to 255 letters (uppercase and lowercase),
  numbers, hyphens, and underscores are allowed.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"CreateClusterResponse\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":1:{s:7:\"cluster\";O:8:\"stdClass\":7:{s:19:\"activeServicesCount\";i:0;s:10:\"clusterArn\";s:53:\"arn:aws:ecs:us-east-1:012345678910:cluster/my_cluster\";s:11:\"clusterName\";s:10:\"my_cluster\";s:17:\"pendingTasksCount\";i:0;s:33:\"registeredContainerInstancesCount\";i:0;s:17:\"runningTasksCount\";i:0;s:6:\"status\";s:6:\"ACTIVE\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"cluster\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Cluster\";s:11:\"description\";s:41:\"The
  full description of your new cluster.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"CreateServiceRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":5:{s:12:\"desiredCount\";i:10;s:13:\"loadBalancers\";a:1:{i:0;O:8:\"stdClass\":3:{s:13:\"containerName\";s:10:\"simple-app\";s:13:\"containerPort\";i:80;s:16:\"loadBalancerName\";s:32:\"EC2Contai-EcsElast-15DCDAURT3ZO2\";}}s:4:\"role\";s:14:\"ecsServiceRole\";s:11:\"serviceName\";s:22:\"ecs-simple-service-elb\";s:14:\"taskDefinition\";s:25:\"console-sample-app-static\";}s:10:\"properties\";O:8:\"stdClass\":15:{s:11:\"clientToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:131:\"Unique,
  case-sensitive identifier that you provide to ensure the idempotency of the request.
  Up to 32 ASCII characters are allowed.\";}s:7:\"cluster\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:159:\"The
  short name or full Amazon Resource Name (ARN) of the cluster on which to run your
  service. If you do not specify a cluster, the default cluster is assumed.\";}s:23:\"deploymentConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/DeploymentConfiguration\";s:11:\"description\";s:133:\"Optional
  deployment parameters that control how many tasks run during the deployment and
  the ordering of stopping and starting tasks.\";}s:12:\"desiredCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/BoxedInteger\";s:11:\"description\";s:104:\"The
  number of instantiations of the specified task definition to place and keep running
  on your cluster.\";}s:29:\"healthCheckGracePeriodSeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/BoxedInteger\";s:11:\"description\";s:616:\"The
  period of time, in seconds, that the Amazon ECS service scheduler should ignore
  unhealthy Elastic Load Balancing target health checks after a task has first started.
  This is only valid if your service is configured to use a load balancer. If your
  service's tasks take a while to start and respond to Elastic Load Balancing health
  checks, you can specify a health check grace period of up to 1,800 seconds during
  which the ECS service scheduler ignores health check status. This grace period can
  prevent the ECS service scheduler from marking tasks as unhealthy and stopping them
  before they have time to come up.\";}s:10:\"launchType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/LaunchType\";s:11:\"description\";s:45:\"The
  launch type on which to run your service.\";}s:13:\"loadBalancers\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/LoadBalancers\";s:11:\"description\";s:1592:\"<p>A
  load balancer object representing the load balancer to use with your service. Currently,
  you are limited to one load balancer or target group per service. After you create
  a service, the load balancer name or target group ARN, container name, and container
  port specified in the service definition are immutable.</p> <p>For Classic Load
  Balancers, this object must contain the load balancer name, the container name (as
  it appears in a container definition), and the container port to access from the
  load balancer. When a task from this service is placed on a container instance,
  the container instance is registered with the load balancer specified here.</p>
  <p>For Application Load Balancers and Network Load Balancers, this object must contain
  the load balancer target group ARN, the container name (as it appears in a container
  definition), and the container port to access from the load balancer. When a task
  from this service is placed on a container instance, the container instance and
  port combination is registered as a target in the target group specified here.</p>
  <p>Services with tasks that use the <code>awsvpc</code> network mode (for example,
  those with the Fargate launch type) only support Application Load Balancers and
  Network Load Balancers; Classic Load Balancers are not supported. Also, when you
  create any target groups for these services, you must choose <code>ip</code> as
  the target type, not <code>instance</code>, because tasks that use the <code>awsvpc</code>
  network mode are associated with an elastic network interface, not an Amazon EC2
  instance.</p>\";}s:20:\"networkConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/NetworkConfiguration\";s:11:\"description\";s:433:\"The
  network configuration for the service. This parameter is required for task definitions
  that use the <code>awsvpc</code> network mode to receive their own Elastic Network
  Interface, and it is not supported for other network modes. For more information,
  see <a href=\"http://docs.aws.amazon.com/AmazonECS/latest/developerguide/task-networking.html\">Task
  Networking</a> in the <i>Amazon Elastic Container Service Developer Guide</i>.\";}s:20:\"placementConstraints\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/PlacementConstraints\";s:11:\"description\";s:218:\"An
  array of placement constraint objects to use for tasks in your service. You can
  specify a maximum of 10 constraints per task (this limit includes constraints in
  the task definition and those specified at run time). \";}s:17:\"placementStrategy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/PlacementStrategies\";s:11:\"description\";s:126:\"The
  placement strategy objects to use for tasks in your service. You can specify a maximum
  of five strategy rules per service.\";}s:15:\"platformVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:114:\"The
  platform version on which to run your service. If one is not specified, the latest
  version is used by default.\";}s:4:\"role\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:1536:\"<p>The
  name or full Amazon Resource Name (ARN) of the IAM role that allows Amazon ECS to
  make calls to your load balancer on your behalf. This parameter is only permitted
  if you are using a load balancer with your service and your task definition does
  not use the <code>awsvpc</code> network mode. If you specify the <code>role</code>
  parameter, you must also specify a load balancer object with the <code>loadBalancers</code>
  parameter.</p> <important> <p>If your account has already created the Amazon ECS
  service-linked role, that role is used by default for your service unless you specify
  a role here. The service-linked role is required if your task definition uses the
  <code>awsvpc</code> network mode, in which case you should not specify a role here.
  For more information, see <a href=\"http://docs.aws.amazon.com/AmazonECS/latest/developerguide/using-service-linked-roles.html\">Using
  Service-Linked Roles for Amazon ECS</a> in the <i>Amazon Elastic Container Service
  Developer Guide</i>.</p> </important> <p>If your specified role has a path other
  than <code>/</code>, then you must either specify the full role ARN (this is recommended)
  or prefix the role name with the path. For example, if a role with the name <code>bar</code>
  has a path of <code>/foo/</code> then you would specify <code>/foo/bar</code> as
  the role name. For more information, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/reference_identifiers.html#identifiers-friendly-names\">Friendly
  Names and Paths</a> in the <i>IAM User Guide</i>.</p>\";}s:11:\"serviceName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:271:\"The
  name of your service. Up to 255 letters (uppercase and lowercase), numbers, hyphens,
  and underscores are allowed. Service names must be unique within a cluster, but
  you can have similarly named services in multiple clusters within a region or across
  multiple regions.\";}s:17:\"serviceRegistries\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ServiceRegistries\";s:11:\"description\";s:498:\"<p>The
  details of the service discovery registries you want to assign to this service.
  For more information, see <a href=\"http://docs.aws.amazon.com/AmazonECS/latest/developerguide/service-discovery.html\">Service
  Discovery</a>.</p> <note> <p>Service discovery is supported for Fargate tasks if
  using platform version v1.1.0 or later. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonECS/latest/developerguide/platform_versions.html\">AWS
  Fargate Platform Versions</a>.</p> </note>\";}s:14:\"taskDefinition\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:233:\"The
  <code>family</code> and <code>revision</code> (<code>family:revision</code>) or
  full ARN of the task definition to run in your service. If a <code>revision</code>
  is not specified, the latest <code>ACTIVE</code> revision is used.\";}}s:8:\"required\";a:3:{i:0;s:11:\"serviceName\";i:1;s:14:\"taskDefinition\";i:2;s:12:\"desiredCount\";}s:4:\"type\";s:6:\"object\";}s:21:\"CreateServiceResponse\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":1:{s:7:\"service\";O:8:\"stdClass\":14:{s:10:\"clusterArn\";s:50:\"arn:aws:ecs:us-east-1:012345678910:cluster/default\";s:9:\"createdAt\";s:24:\"2016-08-29T16:02:54.884Z\";s:23:\"deploymentConfiguration\";O:8:\"stdClass\":2:{s:14:\"maximumPercent\";i:200;s:21:\"minimumHealthyPercent\";i:100;}s:11:\"deployments\";a:1:{i:0;O:8:\"stdClass\":8:{s:9:\"createdAt\";s:24:\"2016-08-29T16:02:54.884Z\";s:12:\"desiredCount\";i:10;s:2:\"id\";s:27:\"ecs-svc/9223370564343000923\";s:12:\"pendingCount\";i:0;s:12:\"runningCount\";i:0;s:6:\"status\";s:7:\"PRIMARY\";s:14:\"taskDefinition\";s:78:\"arn:aws:ecs:us-east-1:012345678910:task-definition/console-sample-app-static:6\";s:9:\"updatedAt\";s:24:\"2016-08-29T16:02:54.884Z\";}}s:12:\"desiredCount\";i:10;s:6:\"events\";a:0:{}s:13:\"loadBalancers\";a:1:{i:0;O:8:\"stdClass\":3:{s:13:\"containerName\";s:10:\"simple-app\";s:13:\"containerPort\";i:80;s:16:\"loadBalancerName\";s:32:\"EC2Contai-EcsElast-15DCDAURT3ZO2\";}}s:12:\"pendingCount\";i:0;s:7:\"roleArn\";s:45:\"arn:aws:iam::012345678910:role/ecsServiceRole\";s:12:\"runningCount\";i:0;s:10:\"serviceArn\";s:65:\"arn:aws:ecs:us-east-1:012345678910:service/ecs-simple-service-elb\";s:11:\"serviceName\";s:22:\"ecs-simple-service-elb\";s:6:\"status\";s:6:\"ACTIVE\";s:14:\"taskDefinition\";s:78:\"arn:aws:ecs:us-east-1:012345678910:task-definition/console-sample-app-static:6\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"service\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Service\";s:11:\"description\";s:63:\"The
  full description of your service following the create call.\";}}s:4:\"type\";s:6:\"object\";}s:23:\"DeleteAttributesRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"attributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Attributes\";s:11:\"description\";s:278:\"The
  attributes to delete from your resource. You can specify up to 10 attributes per
  request. For custom attributes, specify the attribute name and target ID, but do
  not specify the value. If you specify the target ID using the short form, you must
  also specify the target type.\";}s:7:\"cluster\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:178:\"The
  short name or full Amazon Resource Name (ARN) of the cluster that contains the resource
  to delete attributes. If you do not specify a cluster, the default cluster is assumed.\";}}s:8:\"required\";a:1:{i:0;s:10:\"attributes\";}s:4:\"type\";s:6:\"object\";}s:24:\"DeleteAttributesResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"attributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Attributes\";s:11:\"description\";s:78:\"A
  list of attribute objects that were successfully deleted from your resource.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"DeleteClusterRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":1:{s:7:\"cluster\";s:10:\"my_cluster\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"cluster\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:75:\"The
  short name or full Amazon Resource Name (ARN) of the cluster to delete.\";}}s:8:\"required\";a:1:{i:0;s:7:\"cluster\";}s:4:\"type\";s:6:\"object\";}s:21:\"DeleteClusterResponse\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":1:{s:7:\"cluster\";O:8:\"stdClass\":7:{s:19:\"activeServicesCount\";i:0;s:10:\"clusterArn\";s:53:\"arn:aws:ecs:us-east-1:012345678910:cluster/my_cluster\";s:11:\"clusterName\";s:10:\"my_cluster\";s:17:\"pendingTasksCount\";i:0;s:33:\"registeredContainerInstancesCount\";i:0;s:17:\"runningTasksCount\";i:0;s:6:\"status\";s:8:\"INACTIVE\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"cluster\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Cluster\";s:11:\"description\";s:44:\"The
  full description of the deleted cluster.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"DeleteServiceRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":1:{s:7:\"service\";s:15:\"my-http-service\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"cluster\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:163:\"The
  short name or full Amazon Resource Name (ARN) of the cluster that hosts the service
  to delete. If you do not specify a cluster, the default cluster is assumed.\";}s:7:\"service\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:34:\"The
  name of the service to delete.\";}}s:8:\"required\";a:1:{i:0;s:7:\"service\";}s:4:\"type\";s:6:\"object\";}s:21:\"DeleteServiceResponse\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":0:{}s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"service\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Service\";s:11:\"description\";s:44:\"The
  full description of the deleted service.\";}}s:4:\"type\";s:6:\"object\";}s:10:\"Deployment\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"The
  details of an Amazon ECS service deployment.\";s:10:\"properties\";O:8:\"stdClass\":11:{s:9:\"createdAt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:53:\"The
  Unix time stamp for when the service was created.\";}s:12:\"desiredCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:96:\"The
  most recent desired count of tasks that was specified for the service to deploy
  or maintain.\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:25:\"The
  ID of the deployment.\";}s:10:\"launchType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/LaunchType\";s:11:\"description\";s:49:\"The
  launch type on which your service is running.\";}s:20:\"networkConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/NetworkConfiguration\";s:11:\"description\";s:156:\"The
  VPC subnet and security group configuration for tasks that receive their own Elastic
  Network Interface by using the <code>awsvpc</code> networking mode.\";}s:12:\"pendingCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:82:\"The
  number of tasks in the deployment that are in the <code>PENDING</code> status.\";}s:15:\"platformVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:54:\"The
  platform version on which your service is running.\";}s:12:\"runningCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:82:\"The
  number of tasks in the deployment that are in the <code>RUNNING</code> status.\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:324:\"The
  status of the deployment. Valid values are <code>PRIMARY</code> (for the most recent
  deployment), <code>ACTIVE</code> (for previous deployments that still have tasks
  running, but are being replaced with the <code>PRIMARY</code> deployment), and <code>INACTIVE</code>
  (for deployments that have been completely replaced).\";}s:14:\"taskDefinition\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:74:\"The
  most recent task definition that was specified for the service to use.\";}s:9:\"updatedAt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:58:\"The
  Unix time stamp for when the service was last updated.\";}}s:4:\"type\";s:6:\"object\";}s:23:\"DeploymentConfiguration\";O:8:\"stdClass\":3:{s:11:\"description\";s:133:\"Optional
  deployment parameters that control how many tasks run during the deployment and
  the ordering of stopping and starting tasks.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"maximumPercent\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/BoxedInteger\";s:11:\"description\";s:379:\"The
  upper limit (as a percentage of the service's <code>desiredCount</code>) of the
  number of tasks that are allowed in the <code>RUNNING</code> or <code>PENDING</code>
  state in a service during a deployment. The maximum number of tasks during a deployment
  is the <code>desiredCount</code> multiplied by <code>maximumPercent</code>/100,
  rounded down to the nearest integer value.\";}s:21:\"minimumHealthyPercent\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/BoxedInteger\";s:11:\"description\";s:376:\"The
  lower limit (as a percentage of the service's <code>desiredCount</code>) of the
  number of running tasks that must remain in the <code>RUNNING</code> state in a
  service during a deployment. The minimum number of healthy tasks during a deployment
  is the <code>desiredCount</code> multiplied by <code>minimumHealthyPercent</code>/100,
  rounded up to the nearest integer value.\";}}s:4:\"type\";s:6:\"object\";}s:11:\"Deployments\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Deployment\";}s:4:\"type\";s:5:\"array\";}s:34:\"DeregisterContainerInstanceRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":3:{s:7:\"cluster\";s:7:\"default\";s:17:\"containerInstance\";s:23:\"container_instance_UUID\";s:5:\"force\";b:1;}s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"cluster\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:178:\"The
  short name or full Amazon Resource Name (ARN) of the cluster that hosts the container
  instance to deregister. If you do not specify a cluster, the default cluster is
  assumed.\";}s:17:\"containerInstance\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:444:\"The
  container instance ID or full ARN of the container instance to deregister. The ARN
  contains the <code>arn:aws:ecs</code> namespace, followed by the region of the container
  instance, the AWS account ID of the container instance owner, the <code>container-instance</code>
  namespace, and then the container instance ID. For example, <code>arn:aws:ecs:<i>region</i>:<i>aws_account_id</i>:container-instance/<i>container_instance_ID</i>
  </code>.\";}s:5:\"force\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/BoxedBoolean\";s:11:\"description\";s:795:\"<p>Forces
  the deregistration of the container instance. If you have tasks running on the container
  instance when you deregister it with the <code>force</code> option, these tasks
  remain running until you terminate the instance or the tasks stop through some other
  means, but they are orphaned (no longer monitored or accounted for by Amazon ECS).
  If an orphaned task on your container instance is part of an Amazon ECS service,
  then the service scheduler starts another copy of that task, on a different container
  instance if possible. </p> <p>Any containers in orphaned service tasks that are
  registered with a Classic Load Balancer or an Application Load Balancer target group
  are deregistered. They begin connection draining according to the settings on the
  load balancer or target group.</p>\";}}s:8:\"required\";a:1:{i:0;s:17:\"containerInstance\";}s:4:\"type\";s:6:\"object\";}s:35:\"DeregisterContainerInstanceResponse\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":0:{}s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"containerInstance\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ContainerInstance\";s:11:\"description\";s:45:\"The
  container instance that was deregistered.\";}}s:4:\"type\";s:6:\"object\";}s:31:\"DeregisterTaskDefinitionRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"taskDefinition\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:195:\"The
  <code>family</code> and <code>revision</code> (<code>family:revision</code>) or
  full Amazon Resource Name (ARN) of the task definition to deregister. You must specify
  a <code>revision</code>.\";}}s:8:\"required\";a:1:{i:0;s:14:\"taskDefinition\";}s:4:\"type\";s:6:\"object\";}s:32:\"DeregisterTaskDefinitionResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"taskDefinition\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/TaskDefinition\";s:11:\"description\";s:46:\"The
  full description of the deregistered task.\";}}s:4:\"type\";s:6:\"object\";}s:23:\"DescribeClustersRequest\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":1:{s:8:\"clusters\";a:1:{i:0;s:7:\"default\";}}s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"clusters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StringList\";s:11:\"description\";s:150:\"A
  list of up to 100 cluster names or full cluster Amazon Resource Name (ARN) entries.
  If you do not specify a cluster, the default cluster is assumed.\";}s:7:\"include\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ClusterFieldList\";s:11:\"description\";s:439:\"<p>Additional
  information about your clusters to be separated by launch type, including:</p> <ul>
  <li> <p>runningEC2TasksCount</p> </li> <li> <p>runningFargateTasksCount</p> </li>
  <li> <p>pendingEC2TasksCount</p> </li> <li> <p>pendingFargateTasksCount</p> </li>
  <li> <p>activeEC2ServiceCount</p> </li> <li> <p>activeFargateServiceCount</p> </li>
  <li> <p>drainingEC2ServiceCount</p> </li> <li> <p>drainingFargateServiceCount</p>
  </li> </ul>\";}}s:4:\"type\";s:6:\"object\";}s:24:\"DescribeClustersResponse\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":2:{s:8:\"clusters\";a:1:{i:0;O:8:\"stdClass\":3:{s:10:\"clusterArn\";s:52:\"arn:aws:ecs:us-east-1:aws_account_id:cluster/default\";s:11:\"clusterName\";s:7:\"default\";s:6:\"status\";s:6:\"ACTIVE\";}}s:8:\"failures\";a:0:{}}s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"clusters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Clusters\";s:11:\"description\";s:21:\"The
  list of clusters.\";}s:8:\"failures\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Failures\";s:11:\"description\";s:38:\"Any
  failures associated with the call.\";}}s:4:\"type\";s:6:\"object\";}s:33:\"DescribeContainerInstancesRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":2:{s:7:\"cluster\";s:7:\"default\";s:18:\"containerInstances\";a:1:{i:0;s:36:\"f2756532-8f13-4d53-87c9-aed50dc94cd7\";}}s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"cluster\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:177:\"The
  short name or full Amazon Resource Name (ARN) of the cluster that hosts the container
  instances to describe. If you do not specify a cluster, the default cluster is assumed.\";}s:18:\"containerInstances\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StringList\";s:11:\"description\";s:86:\"A
  list of up to 100 container instance IDs or full Amazon Resource Name (ARN) entries.\";}}s:8:\"required\";a:1:{i:0;s:18:\"containerInstances\";}s:4:\"type\";s:6:\"object\";}s:34:\"DescribeContainerInstancesResponse\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":2:{s:18:\"containerInstances\";a:1:{i:0;O:8:\"stdClass\":8:{s:14:\"agentConnected\";b:1;s:20:\"containerInstanceArn\";s:90:\"arn:aws:ecs:us-east-1:012345678910:container-instance/f2756532-8f13-4d53-87c9-aed50dc94cd7\";s:13:\"ec2InstanceId\";s:10:\"i-807f3249\";s:17:\"pendingTasksCount\";i:0;s:19:\"registeredResources\";a:3:{i:0;O:8:\"stdClass\":5:{s:11:\"doubleValue\";i:0;s:12:\"integerValue\";i:2048;s:9:\"longValue\";i:0;s:4:\"name\";s:3:\"CPU\";s:4:\"type\";s:7:\"INTEGER\";}i:1;O:8:\"stdClass\":5:{s:11:\"doubleValue\";i:0;s:12:\"integerValue\";i:3768;s:9:\"longValue\";i:0;s:4:\"name\";s:6:\"MEMORY\";s:4:\"type\";s:7:\"INTEGER\";}i:2;O:8:\"stdClass\":6:{s:11:\"doubleValue\";i:0;s:12:\"integerValue\";i:0;s:9:\"longValue\";i:0;s:4:\"name\";s:5:\"PORTS\";s:14:\"stringSetValue\";a:4:{i:0;s:4:\"2376\";i:1;s:2:\"22\";i:2;s:5:\"51678\";i:3;s:4:\"2375\";}s:4:\"type\";s:9:\"STRINGSET\";}}s:18:\"remainingResources\";a:3:{i:0;O:8:\"stdClass\":5:{s:11:\"doubleValue\";i:0;s:12:\"integerValue\";i:1948;s:9:\"longValue\";i:0;s:4:\"name\";s:3:\"CPU\";s:4:\"type\";s:7:\"INTEGER\";}i:1;O:8:\"stdClass\":5:{s:11:\"doubleValue\";i:0;s:12:\"integerValue\";i:3668;s:9:\"longValue\";i:0;s:4:\"name\";s:6:\"MEMORY\";s:4:\"type\";s:7:\"INTEGER\";}i:2;O:8:\"stdClass\":6:{s:11:\"doubleValue\";i:0;s:12:\"integerValue\";i:0;s:9:\"longValue\";i:0;s:4:\"name\";s:5:\"PORTS\";s:14:\"stringSetValue\";a:5:{i:0;s:4:\"2376\";i:1;s:2:\"22\";i:2;s:2:\"80\";i:3;s:5:\"51678\";i:4;s:4:\"2375\";}s:4:\"type\";s:9:\"STRINGSET\";}}s:17:\"runningTasksCount\";i:1;s:6:\"status\";s:6:\"ACTIVE\";}}s:8:\"failures\";a:0:{}}s:10:\"properties\";O:8:\"stdClass\":2:{s:18:\"containerInstances\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ContainerInstances\";s:11:\"description\";s:32:\"The
  list of container instances.\";}s:8:\"failures\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Failures\";s:11:\"description\";s:38:\"Any
  failures associated with the call.\";}}s:4:\"type\";s:6:\"object\";}s:23:\"DescribeServicesRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":1:{s:8:\"services\";a:1:{i:0;s:18:\"ecs-simple-service\";}}s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"cluster\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:161:\"The
  short name or full Amazon Resource Name (ARN)the cluster that hosts the service
  to describe. If you do not specify a cluster, the default cluster is assumed.\";}s:8:\"services\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StringList\";s:11:\"description\";s:100:\"A
  list of services to describe. You may specify up to 10 services to describe in a
  single operation.\";}}s:8:\"required\";a:1:{i:0;s:8:\"services\";}s:4:\"type\";s:6:\"object\";}s:24:\"DescribeServicesResponse\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":2:{s:8:\"failures\";a:0:{}s:8:\"services\";a:1:{i:0;O:8:\"stdClass\":13:{s:10:\"clusterArn\";s:50:\"arn:aws:ecs:us-east-1:012345678910:cluster/default\";s:9:\"createdAt\";s:24:\"2016-08-29T16:25:52.130Z\";s:23:\"deploymentConfiguration\";O:8:\"stdClass\":2:{s:14:\"maximumPercent\";i:200;s:21:\"minimumHealthyPercent\";i:100;}s:11:\"deployments\";a:1:{i:0;O:8:\"stdClass\":8:{s:9:\"createdAt\";s:24:\"2016-08-29T16:25:52.130Z\";s:12:\"desiredCount\";i:1;s:2:\"id\";s:27:\"ecs-svc/9223370564341623665\";s:12:\"pendingCount\";i:0;s:12:\"runningCount\";i:0;s:6:\"status\";s:7:\"PRIMARY\";s:14:\"taskDefinition\";s:64:\"arn:aws:ecs:us-east-1:012345678910:task-definition/hello_world:6\";s:9:\"updatedAt\";s:24:\"2016-08-29T16:25:52.130Z\";}}s:12:\"desiredCount\";i:1;s:6:\"events\";a:1:{i:0;O:8:\"stdClass\":3:{s:9:\"createdAt\";s:24:\"2016-08-29T16:25:58.520Z\";s:2:\"id\";s:36:\"38c285e5-d335-4b68-8b15-e46dedc8e88d\";s:7:\"message\";s:329:\"(service
  ecs-simple-service) was unable to place a task because no container instance met
  all of its requirements. The closest matching (container-instance 3f4de1c5-ffdd-4954-af7e-75b4be0c8841)
  is already using a port required by your task. For more information, see the Troubleshooting
  section of the Amazon ECS Developer Guide.\";}}s:13:\"loadBalancers\";a:0:{}s:12:\"pendingCount\";i:0;s:12:\"runningCount\";i:0;s:10:\"serviceArn\";s:61:\"arn:aws:ecs:us-east-1:012345678910:service/ecs-simple-service\";s:11:\"serviceName\";s:18:\"ecs-simple-service\";s:6:\"status\";s:6:\"ACTIVE\";s:14:\"taskDefinition\";s:64:\"arn:aws:ecs:us-east-1:012345678910:task-definition/hello_world:6\";}}}s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"failures\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Failures\";s:11:\"description\";s:38:\"Any
  failures associated with the call.\";}s:8:\"services\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Services\";s:11:\"description\";s:31:\"The
  list of services described.\";}}s:4:\"type\";s:6:\"object\";}s:29:\"DescribeTaskDefinitionRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":1:{s:14:\"taskDefinition\";s:13:\"hello_world:8\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"taskDefinition\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:255:\"The
  <code>family</code> for the latest <code>ACTIVE</code> revision, <code>family</code>
  and <code>revision</code> (<code>family:revision</code>) for a specific revision
  in the family, or full Amazon Resource Name (ARN) of the task definition to describe.\";}}s:8:\"required\";a:1:{i:0;s:14:\"taskDefinition\";}s:4:\"type\";s:6:\"object\";}s:30:\"DescribeTaskDefinitionResponse\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":1:{s:14:\"taskDefinition\";O:8:\"stdClass\":5:{s:20:\"containerDefinitions\";a:2:{i:0;O:8:\"stdClass\":10:{s:3:\"cpu\";i:10;s:11:\"environment\";a:0:{}s:9:\"essential\";b:1;s:5:\"image\";s:9:\"wordpress\";s:5:\"links\";a:1:{i:0;s:5:\"mysql\";}s:6:\"memory\";i:500;s:11:\"mountPoints\";a:0:{}s:4:\"name\";s:9:\"wordpress\";s:12:\"portMappings\";a:1:{i:0;O:8:\"stdClass\":2:{s:13:\"containerPort\";i:80;s:8:\"hostPort\";i:80;}}s:11:\"volumesFrom\";a:0:{}}i:1;O:8:\"stdClass\":9:{s:3:\"cpu\";i:10;s:11:\"environment\";a:1:{i:0;O:8:\"stdClass\":2:{s:4:\"name\";s:19:\"MYSQL_ROOT_PASSWORD\";s:5:\"value\";s:8:\"password\";}}s:9:\"essential\";b:1;s:5:\"image\";s:5:\"mysql\";s:6:\"memory\";i:500;s:11:\"mountPoints\";a:0:{}s:4:\"name\";s:5:\"mysql\";s:12:\"portMappings\";a:0:{}s:11:\"volumesFrom\";a:0:{}}}s:6:\"family\";s:11:\"hello_world\";s:8:\"revision\";i:8;s:17:\"taskDefinitionArn\";s:68:\"arn:aws:ecs:us-east-1:<aws_account_id>:task-definition/hello_world:8\";s:7:\"volumes\";a:0:{}}}s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"taskDefinition\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/TaskDefinition\";s:11:\"description\";s:37:\"The
  full task definition description.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"DescribeTasksRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":1:{s:5:\"tasks\";a:1:{i:0;s:36:\"c5cba4eb-5dad-405e-96db-71ef8eefe6a8\";}}s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"cluster\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:162:\"The
  short name or full Amazon Resource Name (ARN) of the cluster that hosts the task
  to describe. If you do not specify a cluster, the default cluster is assumed.\";}s:5:\"tasks\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StringList\";s:11:\"description\";s:49:\"A
  list of up to 100 task IDs or full ARN entries.\";}}s:8:\"required\";a:1:{i:0;s:5:\"tasks\";}s:4:\"type\";s:6:\"object\";}s:21:\"DescribeTasksResponse\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":2:{s:8:\"failures\";a:0:{}s:5:\"tasks\";a:1:{i:0;O:8:\"stdClass\":9:{s:10:\"clusterArn\";s:53:\"arn:aws:ecs:<region>:<aws_account_id>:cluster/default\";s:20:\"containerInstanceArn\";s:93:\"arn:aws:ecs:<region>:<aws_account_id>:container-instance/18f9eda5-27d7-4c19-b133-45adc516e8fb\";s:10:\"containers\";a:1:{i:0;O:8:\"stdClass\":5:{s:12:\"containerArn\";s:84:\"arn:aws:ecs:<region>:<aws_account_id>:container/7c01765b-c588-45b3-8290-4ba38bd6c5a6\";s:10:\"lastStatus\";s:7:\"RUNNING\";s:4:\"name\";s:8:\"ecs-demo\";s:15:\"networkBindings\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"bindIP\";s:7:\"0.0.0.0\";s:13:\"containerPort\";i:80;s:8:\"hostPort\";i:80;}}s:7:\"taskArn\";s:79:\"arn:aws:ecs:<region>:<aws_account_id>:task/c5cba4eb-5dad-405e-96db-71ef8eefe6a8\";}}s:13:\"desiredStatus\";s:7:\"RUNNING\";s:10:\"lastStatus\";s:7:\"RUNNING\";s:9:\"overrides\";O:8:\"stdClass\":1:{s:18:\"containerOverrides\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"name\";s:8:\"ecs-demo\";}}}s:9:\"startedBy\";s:27:\"ecs-svc/9223370608528463088\";s:7:\"taskArn\";s:79:\"arn:aws:ecs:<region>:<aws_account_id>:task/c5cba4eb-5dad-405e-96db-71ef8eefe6a8\";s:17:\"taskDefinitionArn\";s:73:\"arn:aws:ecs:<region>:<aws_account_id>:task-definition/amazon-ecs-sample:1\";}}}s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"failures\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Failures\";s:11:\"description\";s:38:\"Any
  failures associated with the call.\";}s:5:\"tasks\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Tasks\";s:11:\"description\";s:18:\"The
  list of tasks.\";}}s:4:\"type\";s:6:\"object\";}s:13:\"DesiredStatus\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:7:\"RUNNING\";i:1;s:7:\"PENDING\";i:2;s:7:\"STOPPED\";}s:4:\"type\";s:6:\"string\";}s:6:\"Device\";O:8:\"stdClass\":4:{s:11:\"description\";s:56:\"An
  object representing a container instance host device.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"containerPath\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:65:\"The
  path inside the container at which to expose the host device.\";}s:8:\"hostPath\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:55:\"The
  path for the device on the host container instance.\";}s:11:\"permissions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/DeviceCgroupPermissions\";s:11:\"description\";s:192:\"The
  explicit permissions to provide to the container for the device. By default, the
  container has permissions for <code>read</code>, <code>write</code>, and <code>mknod</code>
  for the device.\";}}s:8:\"required\";a:1:{i:0;s:8:\"hostPath\";}s:4:\"type\";s:6:\"object\";}s:22:\"DeviceCgroupPermission\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:4:\"read\";i:1;s:5:\"write\";i:2;s:5:\"mknod\";}s:4:\"type\";s:6:\"string\";}s:23:\"DeviceCgroupPermissions\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/DeviceCgroupPermission\";}s:4:\"type\";s:5:\"array\";}s:11:\"DevicesList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Device\";}s:4:\"type\";s:5:\"array\";}s:27:\"DiscoverPollEndpointRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"cluster\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:104:\"The
  short name or full Amazon Resource Name (ARN) of the cluster that the container
  instance belongs to.\";}s:17:\"containerInstance\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:430:\"The
  container instance ID or full ARN of the container instance. The ARN contains the
  <code>arn:aws:ecs</code> namespace, followed by the region of the container instance,
  the AWS account ID of the container instance owner, the <code>container-instance</code>
  namespace, and then the container instance ID. For example, <code>arn:aws:ecs:<i>region</i>:<i>aws_account_id</i>:container-instance/<i>container_instance_ID</i>
  </code>.\";}}s:4:\"type\";s:6:\"object\";}s:28:\"DiscoverPollEndpointResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"endpoint\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:46:\"The
  endpoint for the Amazon ECS agent to poll.\";}s:17:\"telemetryEndpoint\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:48:\"The
  telemetry endpoint for the Amazon ECS agent.\";}}s:4:\"type\";s:6:\"object\";}s:15:\"DockerLabelsMap\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:6:\"Double\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:20:\"EnvironmentVariables\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/KeyValuePair\";}s:4:\"type\";s:5:\"array\";}s:7:\"Failure\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"A
  failed resource.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:54:\"The
  Amazon Resource Name (ARN) of the failed resource.\";}s:6:\"reason\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:27:\"The
  reason for the failure.\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Failures\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Failure\";}s:4:\"type\";s:5:\"array\";}s:11:\"HealthCheck\";O:8:\"stdClass\":4:{s:11:\"description\";s:261:\"An
  object representing a container health check. Health check parameters that are specified
  in a container definition override any Docker health checks that exist in the container
  image (such as those specified in a parent image or from the image's Dockerfile).\";s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"command\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StringList\";s:11:\"description\";s:749:\"<p>A
  string array representing the command that the container runs to determine if it
  is healthy. The string array must start with <code>CMD</code> to execute the command
  arguments directly, or <code>CMD-SHELL</code> to run the command with the container's
  default shell. For example:</p> <p> <code>[ \"CMD-SHELL\", \"curl -f http://localhost/
  || exit 1\" ]</code> </p> <p>An exit code of 0 indicates success, and non-zero exit
  code indicates failure. For more information, see <code>HealthCheck</code> in the
  <a href=\"https://docs.docker.com/engine/reference/api/docker_remote_api_v1.27/#create-a-container\">Create
  a container</a> section of the <a href=\"https://docs.docker.com/engine/reference/api/docker_remote_api_v1.27/\">Docker
  Remote API</a>.</p>\";}s:8:\"interval\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/BoxedInteger\";s:11:\"description\";s:139:\"The
  time period in seconds between each health check execution. You may specify between
  5 and 300 seconds. The default value is 30 seconds.\";}s:7:\"retries\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/BoxedInteger\";s:11:\"description\";s:170:\"The
  number of times to retry a failed health check before the container is considered
  unhealthy. You may specify between 1 and 10 retries. The default value is 3 retries.\";}s:11:\"startPeriod\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/BoxedInteger\";s:11:\"description\";s:453:\"<p>The
  optional grace period within which to provide containers time to bootstrap before
  failed health checks count towards the maximum number of retries. You may specify
  between 0 and 300 seconds. The <code>startPeriod</code> is disabled by default.</p>
  <note> <p>If a health check succeeds within the <code>startPeriod</code>, then the
  container is considered healthy and any subsequent failures count toward the maximum
  number of retries.</p> </note>\";}s:7:\"timeout\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/BoxedInteger\";s:11:\"description\";s:173:\"The
  time period in seconds to wait for a health check to succeed before it is considered
[...]
