---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":5:{s:11:\"description\";s:0:\"\";s:7:\"version\";s:5:\"2.0.0\";s:5:\"title\";s:9:\"Paggcerto\";s:7:\"contato\";O:8:\"stdClass\":2:{s:6:\"e-mail\";s:28:\"atendimento@paggcerto.com.br\";s:3:\"url\";s:16:\"paggcerto.com.br\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:56:\"https://paggcerto.com.br/inclusos/imagens/menu/marca.png\";}}"
host: desenvolvedor.paggcerto.com.br
basePath: /v2
paths:
  /api/v2/fees:
    post:
      tags:
      - taxas do titular
      summary: Consultar taxas do titular
      description: Com a utilizau00e7u00e3o deste mu00e9todo su00e3o exibidas todas
        as taxas que foram negociadas entre o titular da conta e a Paggcerto. nn **Somente
        o titular pode consultar as taxas.**nn  n# n n##### **POST**  http://payments.sandbox.paggcerto.com.br/api/v2/feesn
      operationId: consultar-taxas-do-titular
      consumes:
      - application/json
      - application/xml
      produces:
      - application/xml
      - application/json
      resultados:
        200:
          description: OK
          schema:
            $ref: '#/definitions/paymentAPI/feesHolder'
  /api/v2/cards:
    post:
      tags:
      - gerenciamento de cartu00e3o
      summary: Cadastrar cartu00e3o
      description: 'O objetivo deste mu00e9todo u00e9 cadastrar os dados do cartu00e3o
        para a realizau00e7u00e3o de cobranu00e7as futuras, sem a necessidade de preencher
        esses dados manualmente a cada novo pagamento. nn Para ter acesso a esse mu00e9todo,
        u00e9 necessu00e1rio ter a seguinte permissu00e3o: **payments.cards.edit**
        nn  n# n n##### **POST**   http://payments.sandbox.paggcerto.com.br/api/v2/cardsn'
      operationId: cadastrar-cartao
      consumes:
      - application/json
      - application/xml
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/paymentAPI/manageCards/createCard'
      resultados:
        200:
          description: OK
          schema:
            $ref: '#/definitions/paymentAPI/manageCards/responseCreateCard/validCreateCard'
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/paymentAPI/manageCards/responseCreateCard/errorCreateCard'
        422:
          description: ""
          schema:
            $ref: '#/definitions/paymentAPI/manageCards/responseCreateCard/invalidCreateCard'
          headers:
            Tipos de erros:
              description: nnErro  | Descriu00e7u00e3on----------------|---------nCARD_NOT_PROCESSED
                |  Cartu00e3o nu00e3o processado nn
  '/api/v2/cards ':
    get:
      tags:
      - gerenciamento de cartu00e3o
      summary: Listar cartu00f5es
      description: 'A finalidade deste mu00e9todo u00e9 listar todos os cartu00f5es
        cadastrados. nn Para ter acesso a esse mu00e9todo, u00e9 necessu00e1rio ter
        a seguinte permissu00e3o: **payments.cards.readonly** nn  n# n n##### **GET**   http://payments.sandbox.paggcerto.com.br/api/v2/cardsn'
      operationId: listar-cartoes
      consumes:
      - application/json
      - application/xml
      parameters:
      - name: brands
        in: query
        description: Bandeira do cartu00e3o.
        required: false
        type: array<string>
      - name: finals
        in: query
        description: u00daltimos du00edgitos impressos no cartu00e3o.
        required: false
        type: array<string>
      - name: index
        in: query
        description: u00cdndice da lista.
        required: false
        type: number
        default: 0
      - name: length
        in: query
        description: Quantidade mu00e1xima de itens retornados na lista.
        required: false
        type: number
        default: 30
      resultados:
        200:
          description: OK
          schema:
            $ref: '#/definitions/paymentAPI/manageCards/reponseListCard/validListCard'
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/paymentAPI/responsePagination/errorPagination'
  /api/v2/cards/*id*:
    get:
      tags:
      - gerenciamento de cartu00e3o
      summary: Pesquisar cartu00e3o
      description: 'Com a utilizau00e7u00e3o deste mu00e9todo su00e3o exibidos os
        dados do cartu00e3o especificado no *endpoint*. nn Para ter acesso a esse
        mu00e9todo, u00e9 necessu00e1rio ter a seguinte permissu00e3o: **payments.cards.readonly**
        nn  n# n n##### **GET**   http://payments.sandbox.paggcerto.com.br/api/v2/cards/*id*n'
      operationId: pesquisar-cartao
      consumes:
      - application/json
      - application/xml
      parameters:
      - name: id
        in: path
        description: ID do cartu00e3o.
        required: true
        type: string
      resultados:
        200:
          description: OK
          schema:
            $ref: '#/definitions/paymentAPI/manageCards/card'
        422:
          description: ""
          schema:
            $ref: '#/definitions/paymentAPI/manageCards/responseInvalidCard'
          headers:
            Tipos de erros:
              description: nnErro  | Descriu00e7u00e3on----------------|---------nCARD_NOT_FOUND
                |  Cartu00e3o nu00e3o encontrado nn
  '/api/v2/cards/*id* ':
    delete:
      tags:
      - gerenciamento de cartu00e3o
      summary: Remover cartu00e3o
      description: 'O objetivo deste mu00e9todo u00e9 remover o cartu00e3o especificado
        no *endpoint*. nn Para ter acesso a esse mu00e9todo, u00e9 necessu00e1rio
        ter a seguinte permissu00e3o: **payments.cards.edit** nn  n# n n##### **DELETE**   http://payments.sandbox.paggcerto.com.br/api/v2/cards/*id*n'
      operationId: remover-cartao
      consumes:
      - application/json
      - application/xml
      parameters:
      - name: id
        in: path
        description: ID do cartu00e3o.
        required: true
        type: string
      resultados:
        200:
          description: OK
          schema:
            $ref: '#/definitions/paymentAPI/manageCards/card'
        422:
          description: ""
          schema:
            $ref: '#/definitions/paymentAPI/manageCards/responseInvalidCard'
          headers:
            Tipos de erros:
              description: nnErro  | Descriu00e7u00e3on----------------|---------nCARD_NOT_FOUND
                |  Cartu00e3o nu00e3o encontrado nn
  /api/v2/bins:
    get:
      tags:
      - pagamento com cartu00e3o
      summary: Consultar bandeiras de cartu00e3o
      description: Esse mu00e9todo retorna uma lista com todas as bandeiras aceitas
        pela Paggcerto e suas respectivas regras de processamento (expressu00f5es
        regulares). nn  n# n n##### **GET**  http://payments.sandbox.paggcerto.com.br/api/v2/binsn
      operationId: consultar-bandeira-de-cartao
      consumes:
      - application/json
      - application/xml
      produces:
      - application/xml
      - application/json
      resultados:
        200:
          description: OK
          schema:
            $ref: '#/definitions/paymentAPI/Reports/consultBrand'
  /api/v2/pay/simulate:
    post:
      tags:
      - pagamento com cartu00e3o
      summary: Simular pagamento
      description: Ao utilizar este mu00e9todo u00e9 calculado o valor que o titular
        iru00e1 receber de acordo com o valor cobrado para um pagamento com cartu00e3o.
        nn  n# n n##### **POST**   http://payments.sandbox.paggcerto.com.br/api/v2/pay/simulaten
      operationId: simular-pagamento-cartao
      consumes:
      - application/json
      - application/xml
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/paymentAPI/CardPayment/simulatePayment'
      resultados:
        200:
          description: OK
          schema:
            $ref: '#/definitions/paymentAPI/CardPayment/reponseSimulatePayment/validSimulatePayment'
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/paymentAPI/CardPayment/reponseSimulatePayment/errorSimulatePayment'
        422:
          description: ""
          schema:
            $ref: '#/definitions/paymentAPI/CardPayment/reponseSimulatePayment/invalidSimulatePayment'
          headers:
            Tipos de erros:
              description: nnErro  | Descriu00e7u00e3on----------------|---------nCARD_NOT_PROCESSED
                |  Cartu00e3o nu00e3o processado nMAXIMUM_INSTALLMENT_EXCEEDED | Parcela
                mu00e1xima excedida nCANNOT_PROCESS_ONLINE | Processamento online
                nu00e3o permitido nn
  /api/v2/pay/cards:
    post:
      tags:
      - pagamento com cartu00e3o
      summary: Efetuar pagamento
      description: 'Esse mu00e9todo permite que o usuu00e1rio realize um pagamento
        utilizando um ou mais cartu00f5es. Quando o valor do pagamento nu00e3o for
        atingido, ele pode ser continuado com novos cartu00f5es atravu00e9s do mu00e9todo
        [Continuar Pagamento](#operation/continuar-pagamento). nn Para ter acesso
        a esse mu00e9todo, u00e9 necessu00e1rio ter a seguinte permissu00e3o: **payments.create**
        nn  n# n n##### **POST**   http://payments.sandbox.paggcerto.com.br/api/v2/pay/cardsn'
      operationId: efetuar-pagamento-cartao
      consumes:
      - application/json
      - application/xml
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/paymentAPI/CardPayment/makePayment'
      resultados:
        200:
          description: OK
          schema:
            $ref: '#/definitions/paymentAPI/CardPayment/responseMakePayment/validMakePayment'
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/paymentAPI/CardPayment/responseMakePayment/errorMakePayment'
        422:
          description: ""
          schema:
            $ref: '#/definitions/paymentAPI/invalidPayment'
          headers:
            Tipos de erros:
              description: nnErro  | Descriu00e7u00e3on----------------|---------nACCOUNT_NOT_APPROVED
                |  Conta nu00e3o aprovada para realizau00e7u00e3o de pagamentos nAMOUNT_EXCEEDED
                | Valor(es) pago(s) excedeu o valor total do pagamento nSELLINGKEY_ALREADY_USED
                | Este `sellingKey` ju00e1 estu00e1 sendo utilizado nSPLITTER_NOT_FOUND
                | Splitter nu00e3o encontrado nn
  /api/v2/pay/cards/*id*:
    post:
      tags:
      - pagamento com cartu00e3o
      summary: Continuar pagamento
      description: 'A finalidade desse mu00e9todo u00e9 permitir que o usuu00e1rio
        continue o pagamento que nu00e3o foi finalizado (o valor do pagamento nu00e3o
        foi atingido). nn Para ter acesso a esse mu00e9todo, u00e9 necessu00e1rio
        ter a seguinte permissu00e3o: **payments.create** nn  n# n n##### **POST**   http://payments.sandbox.paggcerto.com.br/api/v2/pay/cards/*id*n'
      operationId: continuar-pagamento
      consumes:
      - application/json
      - application/xml
      parameters:
      - name: id
        in: path
        description: ID do pagamento.
        required: true
        type: string
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/paymentAPI/CardPayment/continuePayment'
      resultados:
        200:
          description: OK
          schema:
            $ref: '#/definitions/paymentAPI/CardPayment/responseContinuePayment/validContinuePayment'
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/paymentAPI/CardPayment/responseContinuePayment/errorContinuePayment'
        422:
          description: ""
          schema:
            $ref: '#/definitions/paymentAPI/invalidPayment'
          headers:
            Tipos de erros:
              description: nnErro  | Descriu00e7u00e3on----------------|---------nACCOUNT_NOT_APPROVED
                |  Conta nu00e3o aprovada para realizau00e7u00e3o de pagamentos nAMOUNT_EXCEEDED
                | Valor(es) pago(s) excedeu o valor total do pagamento nSELLINGKEY_ALREADY_USED
                | Este `sellingKey` ju00e1 estu00e1 sendo utilizado nPAYMENT_NOT_FOUND
                | Pagamento nu00e3o encontrado nPAYMENT_ALREADY_COMPLETED | O pagamento
                estu00e1 finalizado nPAYMENT_ALREADY_CANCELED | O pagamento foi cancelado
                nSPLITTER_NOT_FOUND | Splitter nu00e3o encontrado nn
  /api/v2/card-transactions/send-receipt/*nsu*:
    post:
      tags:
      - pagamento com cartu00e3o
      summary: Enviar comprovante
      description: 'A finalidade deste mu00e9todo u00e9 enviar o comprovante da transau00e7u00e3o
        para o cliente. nn Para ter acesso a esse mu00e9todo, u00e9 necessu00e1rio
        ter a seguinte permissu00e3o: **payments.create**  nn  n# n n##### **POST**   http://payments.sandbox.paggcerto.com.br/api/v2/card-transactions/send-receipt/*nsu*n'
      operationId: enviar-comprovante
      consumes:
      - application/json
      - application/xml
      parameters:
      - name: nsu
        in: path
        description: Nsu da transau00e7u00e3o.
        required: true
        type: number
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/paymentAPI/CardPayment/submitVoucher'
      resultados:
        204:
          description: No Content
        422:
          description: ""
          schema:
            $ref: '#/definitions/paymentAPI/CardPayment/responseSubmitVoucher/invalidSubmitVoucher'
          headers:
            Tipos de erros:
              description: nnErro  | Descriu00e7u00e3on----------------|---------nCARD_TRANSACTION_NOT_FOUND
                |  Transau00e7u00e3o nu00e3o encontrada nCARD_TRANSACTION_REPROVED
                | Transau00e7u00e3o reprovada nCARD_TRANSACTION_CANCELED | Transau00e7u00e3o
                cancelada nCARD_TRANSACTION_CONTESTED | Transau00e7u00e3o contestada
                nNOTIFICATION_FAILED | Falha na notificau00e7u00e3o nn
  /api/v2/pay/bank-slips:
    post:
      tags:
      - pagamento com boleto
      summary: Efetuar pagamento
      description: 'Com a utilizau00e7u00e3o deste mu00e9todo u00e9 realizado o pagamento
        com boletos. Por meio dele pode ser gerado apenas um ou mais boletos (carnu00ea).
        nn Para ter acesso a esse mu00e9todo, u00e9 necessu00e1rio ter a seguinte
        permissu00e3o: **payments.create** nn  n# n n##### **POST**  http://payments.sandbox.paggcerto.com.br/api/v2/pay/bank-slipsn'
      operationId: efetuar-pagamento-boleto
      consumes:
      - application/json
      - application/xml
      produces:
      - application/xml
      - application/json
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/paymentAPI/BankSplipPayment/generateBankSplip'
      resultados:
        200:
          description: OK
          schema:
            $ref: '#/definitions/paymentAPI/BankSplipPayment/responseGenerateBankSplip/validGenerateBankSplip'
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/paymentAPI/BankSplipPayment/responseGenerateBankSplip/errorGenerateBankSplip'
        422:
          description: ""
          headers:
            Tipos de erros:
              description: nnErro  | Descriu00e7u00e3on----------------|---------nACCOUNT_NOT_APPROVED
                |  Conta nu00e3o aprovada para realizau00e7u00e3o de pagamentos nSPLITTER_NOT_FOUND
                | Splitter nu00e3o encontrado nn
          schema:
            $ref: '#/definitions/paymentAPI/BankSplipPayment/invalidBankSplip'
  /api/v2/bank-slips/replace/*id*:
    post:
      tags:
      - pagamento com boleto
      summary: Substituir boleto
      description: 'Boletos nu00e3o podem ser editados. Poru00e9m, o boleto de uma
        parcela de carnu00ea pode ser substituu00eddo por outro para viabilizar uma
        renegociau00e7u00e3o entre o lojista e seu cliente. nn Para ter acesso a esse
        mu00e9todo, u00e9 necessu00e1rio ter a seguinte permissu00e3o: **payments.create**
        nn  n# n n##### **POST**  http://payments.sandbox.paggcerto.com.br/api/v2/bank-slips/replace/*id*n'
      operationId: substituir-boleto
      consumes:
      - application/json
      - application/xml
      produces:
      - application/xml
      - application/json
      parameters:
      - name: id
        in: path
        description: ID do boleto.
        required: true
        type: string
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/paymentAPI/BankSplipPayment/bankSplipReplace'
      resultados:
        200:
          description: OK
          schema:
            $ref: '#/definitions/paymentAPI/BankSplipPayment/responseBankSplipReplace/validBankSplipReplace'
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/paymentAPI/BankSplipPayment/responseBankSplipReplace/errorBankSplipReplace'
        422:
          description: ""
          headers:
            Tipos de erros:
              description: nnErro  | Descriu00e7u00e3on----------------|---------nBANK_SLIP_NOT_FOUND
                |  Boleto nu00e3o encontrado nBANK_SLIP_ALREADY_PAID | O boleto ju00e1
                foi pago nBANK_SLIP_ALREADY_CANCELED | O boleto ju00e1 foi cancelado
                nPAYMENT_ALREADY_COMPLETED | O pagamento estu00e1 finalizado nPAYMENT_ALREADY_CANCELED
                | O pagamento estu00e1 cancelado nn
          schema:
            $ref: '#/definitions/paymentAPI/BankSplipPayment/responseBankSplipReplace/invalidBankSplipReplace'
  /api/v2/mock/bank-slips/pay:
    post:
      tags:
      - mock
      summary: Simular liquidau00e7u00e3o de boleto
      description: O objetivo deste mu00e9todo u00e9 realizar a simulau00e7u00e3o
        da liquidau00e7u00e3o dos boletos selecionados. Estes boletos su00e3o identificados
        atravu00e9s do **ID**. nn  n# n n##### **POST**  http://payments.sandbox.paggcerto.com.br/api/v2/mock/bank-slips/payn
      operationId: simular-liquidacao-de-boleto
      consumes:
      - application/json
      - application/xml
      produces:
      - application/xml
      - application/json
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/paymentAPI/BankSplipPayment/mockBankSlips'
      resultados:
        204:
          description: No content
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/paymentAPI/BankSplipPayment/responseMockBankSlips/errorMockBankSlips'
        422:
          description: ""
          headers:
            Tipos de erros:
              description: nnErro  | Descriu00e7u00e3on----------------|---------nBANK_SLIP_NOT_FOUND
                |  Boleto nu00e3o encontrado  nn
          schema:
            $ref: '#/definitions/paymentAPI/BankSplipPayment/respondeSingleBankSplip/invalidSingleBankSplip'
  /api/v2/bank-slips/pdf/*paymentId*:
    get:
      tags:
      - pagamento com boleto
      summary: Gerar PDF do boleto do pagamento
      description: 'Com a utilizau00e7u00e3o deste mu00e9todo u00e9 gerado o PDF do
        boleto/carnu00ea para um pagamento. Para mu00faltilpos pagamentos acesse o
        mu00e9todo [Gerar PDF de Boleto de Mu00faltiplos Pagamentos](#operation/gerar-pdf-multiplos).
        nn Para ter acesso a esse mu00e9todo, u00e9 necessu00e1rio ter a seguinte
        permissu00e3o: **payments.create** nn  n# n n##### **GET**  http://payments.sandbox.paggcerto.com.br/api/v2/bank-slips/pdf/*paymentId*n'
      operationId: gerar-pdf-do-boleto-pagamento
      consumes:
      - application/json
      - application/xml
      produces:
      - application/pdf
      parameters:
      - name: paymentId
        in: path
        description: ID do pagamento.
        required: true
        type: string
      resultados:
        200:
          description: OK - application/pdf
          produces:
          - application/pdf
        422:
          description: ""
          headers:
            Tipos de erros:
              description: nnErro  | Descriu00e7u00e3on----------------|---------nPAYMENT_NOT_FOUND
                | Pagamento nu00e3o encontrado nPAYMENT_WITHOUT_BANK_SLIP | Pagamento
                nu00e3o possui boleto bancu00e1rio nPAYMENT_WITHOUT_BANK_SLIP | O
                pagamento nu00e3o contu00e9m boleto nn
          schema:
            $ref: '#/definitions/paymentAPI/BankSplipPayment/responsePdf/invalidPdf'
  /api/v2/bank-slips/zip?payments=a0b1&payments=c2d3&payments=e4f5:
    get:
      tags:
      - pagamento com boleto
      summary: Gerar PDF de boleto de mu00faltiplos pagamentos
      description: 'Com a utilizau00e7u00e3o deste mu00e9todo u00e9 gerado todos os
        PDFs dos boletos/carnu00eas para cada pagamento informado no *endpoint*. nn
        Para ter acesso a esse mu00e9todo, u00e9 necessu00e1rio ter a seguinte permissu00e3o:
        **payments.create** nn  n# n n##### **GET**  http://payments.sandbox.paggcerto.com.br/api/v2/bank-slips/zipn'
      operationId: gerar-pdf-de-boleto-de-multiplos-pagamentos
      consumes:
      - application/json
      - application/xml
      produces:
      - application/pdf
      parameters:
      - name: payments
        in: query
        description: Lista de `paymentId`.
        required: true
        type: array<paymentId>
      resultados:
        200:
          description: OK - application/zip
          produces:
          - application/pdf
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/paymentAPI/BankSplipPayment/responsePdf/errorPdf'
        422:
          description: ""
          headers:
            Tipos de erros:
              description: nnErro  | Descriu00e7u00e3on----------------|---------nPAYMENTS_NOT_FOUND
                |  Pagamentos nu00e3o encontrados nPAYMENT_WITHOUT_BANK_SLIP | O pagamento
                nu00e3o contu00e9m boleto nn
          schema:
            $ref: '#/definitions/paymentAPI/BankSplipPayment/responsePdf/invalidZip'
  /api/v2/bank-slips/pdf/single/*id*:
    get:
      tags:
      - pagamento com boleto
      summary: Gerar PDF pelo nu00famero do boleto
      description: 'A finalidade deste mu00e9todo u00e9 gerar o arquivo PDF do boleto
        que foi especificado no *endpoint*. nn Para ter acesso a esse mu00e9todo,
        u00e9 necessu00e1rio ter a seguinte permissu00e3o: **payments.create** nn  n#
        n n##### **GET**  http://payments.sandbox.paggcerto.com.br/api/v2/bank-slips/pdf/single/*id*n'
      operationId: gerar-pdf-atravu00e9s-do-nu00famero-do-boleto
      consumes:
      - application/json
      - application/xml
      produces:
      - application/pdf
      parameters:
      - name: id
        in: path
        description: ID do boleto.
        required: true
        type: string
      resultados:
        200:
          description: OK - application/pdf
          produces:
          - application/pdf
        422:
          description: ""
          headers:
            Tipos de erros:
              description: nnErro  | Descriu00e7u00e3on----------------|---------nBANK_SLIP_NOT_FOUND|
                Boleto nu00e3o encontrado nn
          schema:
            $ref: '#/definitions/paymentAPI/BankSplipPayment/respondeSingleBankSplip/invalidSingleBankSplip'
  /api/v2/checkout/bank-slips/*id*:
    get:
      tags:
      - checkout transparente
      summary: Detalhes do boleto
      description: A finalidade deste mu00e9todo u00e9 exibir todas as informau00e7u00f5es
        do boleto especificado no *endpoint*. nn  n# n n##### **GET**  http://payments.sandbox.paggcerto.com.br/api/v2/checkout/bank-slips/*id*n
      operationId: detalhes-do-boleto
      consumes:
      - application/json
      - application/xml
      produces:
      - application/pdf
      parameters:
      - name: id
        in: path
        description: ID do boleto.
        required: true
        type: string
      resultados:
        200:
          description: OK
          schema:
            $ref: '#/definitions/paymentAPI/BankSplipPayment/checkoutBankSplip'
        422:
          description: ""
          headers:
            Tipos de erros:
              description: nnErro  | Descriu00e7u00e3on----------------|---------nBANK_SLIP_NOT_FOUND|
                Boleto nu00e3o encontrado nn
          schema:
            $ref: '#/definitions/paymentAPI/BankSplipPayment/respondeSingleBankSplip/invalidSingleBankSplip'
  /api/v2/checkout/bank-slips/*id*/pdf:
    get:
      tags:
      - checkout transparente
      summary: Gerar arquivo PDF
      description: O objetivo deste mu00e9todo u00e9 gerar o arquivo PDF do boleto
        especificado no *endpoint*. nn  n# n n##### **GET**  http://payments.sandbox.paggcerto.com.br/api/v2/checkout/bank-slips/*id*/pdfn
      operationId: gerar-arquivo-pdf
      consumes:
      - application/json
      - application/xml
      produces:
      - application/pdf
      parameters:
      - name: id
        in: path
        description: ID do boleto.
        required: true
        type: string
      resultados:
        200:
          description: OK - application/pdf
          produces:
          - application/pdf
        422:
          description: ""
          headers:
            Tipos de erros:
              description: nnErro  | Descriu00e7u00e3on----------------|---------nBANK_SLIP_NOT_FOUND|
                Boleto nu00e3o encontrado nBANK_SLIP_CANCELED | Boleto cancelado nBANK_SLIP_ALREADY_PAID
                | O boleto ju00e1 foi pago nn
          schema:
            $ref: '#/definitions/paymentAPI/BankSplipPayment/respondeSingleBankSplip/invalidSingleBankSplip'
  /api/v2/splitters:
    post:
      tags:
      - configurau00e7u00e3o do split
      summary: 'Cadastrar recebedor '
      description: A finalidade deste mu00e9todo u00e9 cadastrar os recebedores para
        *split* de pagamento. Somente o titular da conta pode cadastrar recebedores.
        nn  n# n n##### **POST**  http://payments.sandbox.paggcerto.com.br/api/v2/splittersn
      operationId: cadastrar-recebedor
      consumes:
      - application/json
      - application/xml
      produces:
      - application/xml
      - application/json
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/paymentAPI/SplitConfiguration/recipient'
      resultados:
        200:
          description: OK
          schema:
            $ref: '#/definitions/paymentAPI/SplitConfiguration/responseRecipient/validRecipient'
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/paymentAPI/SplitConfiguration/responseRecipient/errorRecipient'
        422:
          description: ""
          headers:
            Tipos de erros:
              description: nnErro  | Descriu00e7u00e3on----------------|---------nDUPLICATE_TAX_DOCUMENT
                |  CPF/CNPJ ju00e1 existente nTRANSFER_DAY_NOT_AVAILABLE | Dia para
                repasse nu00e3o disponu00edvel nn
          schema:
            $ref: '#/definitions/paymentAPI/SplitConfiguration/responseRecipient/invalidRecipient'
  /api/v2/splitters/*id*:
    put:
      tags:
      - configurau00e7u00e3o do split
      summary: Atualizar recebedor
      description: O objetivo deste mu00e9todo u00e9 atualizar as informau00e7u00f5es
        do recebedor especificado no *endpoint*. Somente o titular da conta pode atualizar
        recebedores. nn  n# n n##### **PUT**  http://payments.sandbox.paggcerto.com.br/api/v2/splitters/*id*n
      operationId: atualizar-recebedor
      consumes:
      - application/json
      - application/xml
      produces:
      - application/xml
      - application/json
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/paymentAPI/SplitConfiguration/recipient'
      resultados:
        200:
          description: OK
          schema:
            $ref: '#/definitions/paymentAPI/SplitConfiguration/responseRecipient/validRecipient'
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/paymentAPI/SplitConfiguration/responseRecipient/errorRecipient'
        422:
          description: ""
          headers:
            Tipos de erros:
              description: nnErro  | Descriu00e7u00e3on----------------|---------nDUPLICATE_TAX_DOCUMENT
                |  CPF/CNPJ ju00e1 existente nTRANSFER_DAY_NOT_AVAILABLE | Dia para
                repasse nu00e3o disponu00edvel nn
          schema:
            $ref: '#/definitions/paymentAPI/SplitConfiguration/responseRecipient/invalidRecipient'
  '/api/v2/splitters ':
    get:
      tags:
      - configurau00e7u00e3o do split
      summary: 'Listar recebedores '
      description: O objetivo deste mu00e9todo u00e9 listar todos os recebedores cadastrados.
        Somente o titular da conta pode listar recebedores. nn  n# n n##### **GET**  http://payments.sandbox.paggcerto.com.br/api/v2/splittersn
      operationId: 'listar-recebedores '
      consumes:
      - application/json
      - application/xml
      produces:
      - application/xml
      - application/json
      parameters:
      - name: name
        in: query
        description: Nome do recebedor.
        required: false
        type: string
      - name: index
        in: query
        description: u00cdndice da lista.
        required: false
        type: number
        default: 0
      - name: length
        in: query
        description: Quantidade mu00e1xima de itens retornados na lista.
        required: false
        type: number
        default: 30
      resultados:
        200:
          description: OK
          schema:
            $ref: '#/definitions/paymentAPI/SplitConfiguration/responseListarRecipient'
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/paymentAPI/responsePagination/errorPagination'
  /api/v2/splitters/find/*id*:
    get:
      tags:
      - configurau00e7u00e3o do split
      summary: Pesquisar recebedor
      description: Esse mu00e9todo deve ser utilizado quando se deseja pesquisar um
        recebedor especu00edfico. Somente o titular da conta pode pesquisar recebedor.
        nn  n# n n##### **GET**  http://payments.sandbox.paggcerto.com.br/api/v2/splitters/find/*id*n
      operationId: 'pesquisar-recebedores '
      consumes:
      - application/json
      - application/xml
      produces:
      - application/xml
      - application/json
      parameters:
      - name: id
        in: path
        description: ID do recebedor.
        required: true
        type: string
      resultados:
        200:
          description: OK
          schema:
            $ref: '#/definitions/paymentAPI/SplitConfiguration/informationRecipient'
        422:
          description: ""
          headers:
            Tipos de erros:
              description: nnErro  | Descriu00e7u00e3on----------------|---------nSPLITTER_NOT_FOUND
                | Splitter nu00e3o encontrado nn
          schema:
            $ref: '#/definitions/paymentAPI/SplitConfiguration/invalidSplit'
  /api/v2/finalize/*paymentId*:
    post:
      tags:
      - conclusu00e3o do pagamento
      summary: Finalizar pagamento
      description: 'Um pagamento u00e9 automaticamente finalizado quando a soma dos
        valores pagos atinge o valor esperado para o pagamento. Poru00e9m, tambu00e9m
        u00e9 possu00edvel finalizar um pagamento sem que a soma de todas as transau00e7u00f5es
        ou boletos pagos atingam o valor esperado para esse pagamento devido a: nn   -
        Pagamentos podem ser concluu00eddos utilizando outra forma de pagamento (dinheiro,
        cheque, entre outros); nn   - A contratau00e7u00e3o do serviu00e7o pode ser
        cancelada, dessa forma os boletos futuros podem ser cancelados, poru00e9m,
        mantendo o que ju00e1 foi pago. nn Para ter acesso a esse mu00e9todo, u00e9
        necessu00e1rio ter a seguinte permissu00e3o: **payments.create**  nn  n# n
        n##### **POST**   http://payments.sandbox.paggcerto.com.br/api/v2/finalize/*paymentId*n'
      operationId: finalizar-pagamento
      consumes:
      - application/json
      - application/xml
      parameters:
      - name: paymentId
        in: path
        description: ID do pagamento.
        required: true
        type: string
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/paymentAPI/finalizePayment'
      resultados:
        200:
          description: OK
          schema:
            $ref: '#/definitions/paymentAPI/responseFinalizePayment/validFinalizePayment'
        422:
          description: ""
          schema:
            $ref: '#/definitions/paymentAPI/responseFinalizePayment/invalidFinalizePayment'
          headers:
            Tipos de erros:
              description: nnErro  | Descriu00e7u00e3on----------------|---------nPAYMENT_NOT_FOUND
                |  Pagamento nu00e3o encontrado nPAYMENT_ALREADY_COMPLETED | O pagamento
                estu00e1 finalizado nPAYMENT_ALREADY_CANCELED | O pagamento estu00e1
                cancelado nAMOUNT_PAID_EQUAL_TO_ZERO | O total pago estu00e1 zerado
                nn
  api/v2/cancel/*paymentId*:
    post:
      tags:
      - cancelamento
      summary: Cancelar pagamento
      description: 'O cancelamento somente seru00e1 efetuado se for possu00edvel cancelar
        todas as transau00e7u00f5es com cartu00e3o e todos os boletos. Transau00e7u00f5es
        com cartu00e3o somente podem ser canceladas se forem realizadas na mesma data
        do seu processamento. Boletos podem ser cancelados desde que estejam pendentes
        ou vencidos, desta forma, nu00e3o u00e9 possu00edvel cancelar boletos que
        ju00e1 foram pagos. nn Para ter acesso a esse mu00e9todo, u00e9 necessu00e1rio
        ter a seguinte permissu00e3o: **payments.create** nn  n# n n##### **POST**   http://payments.sandbox.paggcerto.com.br/api/v2/cancel/*paymentId*n'
      operationId: cancelar-pagamento
      consumes:
      - application/json
      - application/xml
      parameters:
      - name: paymentId
        in: path
        description: ID do pagamento.
        required: true
        type: string
      resultados:
        200:
          description: OK
          schema:
            $ref: '#/definitions/paymentAPI/responseCancelPayment/validCancelPayment'
        422:
          description: ""
          schema:
            $ref: '#/definitions/paymentAPI/responseCancelPayment/invalidCancelPayment'
          headers:
            Tipos de erros:
              description: nnErro  | Descriu00e7u00e3on----------------|---------nCANCELATION_TIME_EXCEEDED
                |  Tempo excedido para o cancelamento do pagamento com cartu00e3o
                nPAYMENT_ALREADY_CANCELED | O pagamento estu00e1 cancelado nPAYMENT_ALREADY_COMPLETED
                | O pagamento estu00e1 finalizado nHAS_BANK_SLIP_PAID | Um ou mais
                boletos ju00e1 foram pagos nPAYMENT_NOT_FOUND | Pagamento nu00e3o
                encontrado nn
  /api/v2/card-transactions/cancel/*nsu*:
    post:
      tags:
      - cancelamento
      summary: Cancelar transau00e7u00e3o do cartu00e3o
      description: 'O cancelamento da transau00e7u00e3o do cartu00e3o somente seru00e1
        efetuado se for realizado na mesma data do seu processamento. nn Para ter
        acesso a esse mu00e9todo, u00e9 necessu00e1rio ter a seguinte permissu00e3o:
        **payments.create** nn  n# n n##### **POST**   http://payments.sandbox.paggcerto.com.br/api/v2/card-transactions/cancel/*nsu*n'
      operationId: cancelar-transacao-cartao
      consumes:
      - application/json
      - application/xml
      parameters:
      - name: nsu
        in: path
        description: NSU da transau00e7u00e3o.
        required: true
        type: number
      resultados:
        200:
          description: OK
          schema:
            $ref: '#/definitions/paymentAPI/responseCancelTransaction/validCancelTransaction'
        422:
          description: ""
          schema:
            $ref: '#/definitions/paymentAPI/responseCancelTransaction/invalidCancelTransaction'
          headers:
            Tipos de erros:
              description: nnErro  | Descriu00e7u00e3on----------------|---------nCANCELATION_TIME_EXCEEDED
                |  Tempo excedido para o cancelamento do transau00e7u00e3o nTRANSACTION_ALREADY_CANCELED
                | Transau00e7u00e3o estu00e1 cancelada nTRANSACTION_REPROVED | Transau00e7u00e3o
                reprovada nTRANSACTION_NOT_FOUND | Transau00e7u00e3o nu00e3o encontrada
                nCARD_ISSUER_ERROR | Erro do emissor do cartu00e3onn
  /api/v2/bank-slips/cancel/*id*:
    post:
      tags:
      - cancelamento
      summary: Cancelar boleto
      description: 'O cancelamento do boleto somente seru00e1 efetuado se seu pagamento
        estiver **pendente** . nn Para ter acesso a esse mu00e9todo, u00e9 necessu00e1rio
        ter a seguinte permissu00e3o: **payments.create** nn  n# n n##### **POST**   http://payments.sandbox.paggcerto.com.br/api/v2/bank-slips/cancel/*id*n'
      operationId: cancelar-boleto
      consumes:
      - application/json
      - application/xml
      parameters:
      - name: id
        in: path
        description: ID do boleto.
        required: true
        type: string
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/paymentAPI/BankSplipPayment/cancelBankSplip'
      resultados:
        200:
          description: OK
          schema:
            $ref: '#/definitions/paymentAPI/responseCancelBankSlips/validCancelBankSlips'
        422:
          description: ""
          schema:
            $ref: '#/definitions/paymentAPI/responseCancelBankSlips/invalidCancelBankSlips'
          headers:
            Tipos de erros:
              description: nnErro  | Descriu00e7u00e3on----------------|---------nBANK_SLIP_NOT_FOUND
                |  Boleto nu00e3o encontrado nBANK_SLIP_ALREADY_PAID | Boleto estu00e1
                pago nBANK_SLIP_ALREADY_CANCELED | Boleto estu00e1 cancelado nn
  /api/v2/find/*paymentId*:
    get:
      tags:
      - relatu00f3rios
      summary: Detalhes do pagamento
      description: 'O objetivo deste mu00e9todo u00e9 exibir todas as informau00e7u00f5es
        a respeito do pagamento especificado no *endpoint*. nn Para ter acesso a esse
        mu00e9todo, u00e9 necessu00e1rio ter a seguinte permissu00e3o: **payments.readonly**
        nn  n# n n##### **GET**  http://payments.sandbox.paggcerto.com.br/api/v2/find/*paymentId*n'
      operationId: detalhes-pagamento
      consumes:
      - application/json
      - application/xml
      produces:
      - application/xml
      - application/json
      parameters:
      - name: paymentId
        in: path
        description: ID do pagamento.
        required: true
        type: string
      resultados:
        200:
          description: OK
          schema:
            $ref: '#/definitions/paymentAPI/Reports/paymentDetails'
  /api/v2/all?paymentmethod=credit&paymentmethod=bankSlip:
    get:
      tags:
      - relatu00f3rios
      summary: Consultar pagamentos
      description: 'O objetivo deste mu00e9todo u00e9 listar todos os pagamentos de
        acordo com os dados inseridos nos filtros. nn Para ter acesso a esse mu00e9todo,
        u00e9 necessu00e1rio ter a seguinte permissu00e3o: **payments.readonly** nn  n#
        n n##### **GET**  http://payments.sandbox.paggcerto.com.br/api/v2/alln'
      operationId: consultar-pagamentos
      consumes:
      - application/json
      - application/xml
      produces:
      - application/xml
      - application/json
      parameters:
      - name: nsu
        in: query
        description: Nsu da transau00e7u00e3o.
        required: false
        type: number
      - name: cardBrand
        in: query
        description: 'Bandeiras do cartu00e3o: `amex`, `banesecard`, `dinersclub`,
          `elo`, `hipercard`, `mastercard` ou `visa`.'
        required: false
        type: string
      - name: cardFinal
        in: query
        description: u00daltimos du00edgitos impressos no cartu00e3o.
        required: false
        type: string
      - name: bankslipId
        in: query
        description: Identificador u00fanico do boleto.
        required: false
        type: number
      - name: note
        in: query
        description: Observau00e7u00e3o do pagamento.
        required: false
        type: string
      - name: startDate
        in: query
        description: A partir desta data comparada com a data do pagamento.
        required: false
        pattern: YYYY-MM-DD
        type: string
      - name: endDate
        in: query
        description: Atu00e9 esta data comparada com a data do pagamento.
        required: false
        pattern: YYYY-MM-DD
        type: string
      - name: paymentMethod
        in: query
        description: 'Modalidade em que o pagamento foi realizado: `debit`, `credit`
          ou `bankSlip`.'
        required: false
        type: array<string>
      - name: status
        in: query
        description: 'O *status* do pagamento pode assumir um dos seguintes valores:
          nn `paid`: Pagamento concluu00eddo; nn `pending`: Pagamento pendente; nn
          `delayed`: Pagamento vencido (aplicu00e1vel para boleto ou carnu00ea);  nn
          `canceled`: Pagamento cancelado; nn `contested`: Pagamento contestado; nn
          `reproved`: Pagamento reprovado; nn `registrationError`: Erro no registro
          (aplicu00e1vel para boleto ou carnu00ea).'
        required: false
        type: array<string>
      - name: payerName
        in: query
        description: Nome do pagador.
        required: false
        maxLength: 120
        type: string
      - name: payerTaxDocument
        in: query
        description: CPF/CNPJ do pagador.
        required: false
        minLength: 14
        maxLength: 18
        type: string
      - name: index
        in: query
        description: u00cdndice da lista.
        required: false
        type: number
        default: 0
      - name: length
        in: query
        description: Quantidade mu00e1xima de itens retornados na lista.
        required: false
        type: number
        default: 30
      resultados:
        200:
          description: OK
          schema:
            $ref: '#/definitions/paymentAPI/Reports/responseConsultPayment'
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/paymentAPI/responsePagination/errorPagination'
  /api/v2/bank-slips:
    get:
      tags:
      - relatu00f3rios
      summary: Consultar boletos
      description: 'O objetivo deste mu00e9todo u00e9 listar todos os pagamentos com
        boletos de acordo com os dados inseridos nos filtros. nn Para ter acesso a
        esse mu00e9todo, u00e9 necessu00e1rio ter a seguinte permissu00e3o: **payments.readonly**
        nn  n# n n##### **GET**  http://payments.sandbox.paggcerto.com.br/api/v2/bank-slipsn'
      operationId: consultar-boletos
      consumes:
      - application/json
      - application/xml
      produces:
      - application/xml
      - application/json
      parameters:
      - name: numbers
        in: query
        description: Nosso nu00famero impresso no boleto.
        required: false
        type: array<string>
      - name: status
        in: query
        description: 'O *status* do pagamento pode assumir um dos seguintes valores:
          nn `paid`: Boleto pago; nn `pending`: Boleto a vencer; nn `canceled`: Boleto
          cancelado; nn `delayed`: Boleto vencido; nn `error`: Erro no registro do
          boleto; nn `autoCanceled`: Boleto baixado automaticamente pela instituiu00e7u00e3o
          financeira, apu00f3s determinado tempo sem realizar o pagamento.'
        required: false
        type: array<string>
      - name: createdFrom
        in: query
        description: A partir desta data comparada com a data de emissu00e3o do boleto.
        required: false
        pattern: YYYY-MM-DD
        type: string
      - name: createdUntil
        in: query
        description: Atu00e9 esta data comparada com a data de emissu00e3o do boleto.
        required: false
        pattern: YYYY-MM-DD
        type: string
      - name: dueDateFrom
        in: query
        description: A partir desta data comparada com a data de vencimento.
        required: false
        pattern: YYYY-MM-DD
        type: string
      - name: dueDateUntil
        in: query
        description: Atu00e9 esta data comparada com a data de vencimento.
        required: false
        pattern: YYYY-MM-DD
        type: string
      - name: index
        in: query
        description: u00cdndice da lista.
        required: false
        type: number
        default: 0
      - name: length
        in: query
        description: Quantidade mu00e1xima de itens retornados na lista.
        required: false
        type: number
        default: 30
      resultados:
        200:
          description: OK
          schema:
            $ref: '#/definitions/paymentAPI/Reports/responseConsultBankSplips'
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/paymentAPI/responsePagination/errorPagination'
  /api/v2/statistics/hourly:
    get:
      tags:
      - relatu00f3rios
      summary: Pagamentos por horu00e1rio
      description: 'A finalidade deste mu00e9todo u00e9 exibir a estatu00edstica de
        pagamentos por horu00e1rio (no formato 24 horas) durante os u00faltimos doze
        meses. nn Para ter acesso a esse mu00e9todo, u00e9 necessu00e1rio ter a seguinte
        permissu00e3o: **payments.statistics.readonly** n# n n##### **GET**  http://payments.sandbox.paggcerto.com.br/api/v2/statistics/hourlyn'
      operationId: pagamentos-por-horu00e1rio
      consumes:
      - application/json
      - application/xml
      produces:
      - application/xml
      - application/json
      resultados:
        200:
          description: OK
          schema:
            $ref: '#/definitions/paymentAPI/Reports/responseHourlyPayment'
  /api/v2/statistics/weekly:
    get:
      tags:
      - relatu00f3rios
      summary: Pagamentos por dia da semana
      description: 'O objetivo deste mu00e9todo u00e9 exibir a estatu00edstica de
        pagamentos por dia da semana (domingo a sabado) durante os u00faltimos doze
        meses. nn Para ter acesso a esse mu00e9todo, u00e9 necessu00e1rio ter a seguinte
        permissu00e3o: **payments.statistics.readonly** n# n n##### **GET**  http://payments.sandbox.paggcerto.com.br/api/v2/statistics/weeklyn'
      operationId: pagamentos-por-dia-da-semana
      consumes:
      - application/json
      - application/xml
      produces:
      - application/xml
      - application/json
      resultados:
        200:
          description: OK
          schema:
            $ref: '#/definitions/paymentAPI/Reports/responseWeeklyPayment'
  /api/v2/statistics/monthly:
    get:
      tags:
      - relatu00f3rios
      summary: Pagamentos por mu00eas
      description: 'A finalidade deste mu00e9todo u00e9 exibir a estatu00edstica de
        pagamentos por mu00eas durante os u00faltimos doze meses. nn Para ter acesso
        a esse mu00e9todo, u00e9 necessu00e1rio ter a seguinte permissu00e3o: **payments.statistics.readonly**
        n# n n##### **GET**  http://payments.sandbox.paggcerto.com.br/api/v2/statistics/monthlyn'
      operationId: pagamentos-por-mes
      consumes:
      - application/json
      - application/xml
      produces:
      - application/xml
      - application/json
      resultados:
        200:
          description: OK
          schema:
            $ref: '#/definitions/paymentAPI/Reports/responseMonthPayment'
  /api/v2/statistics/yearly:
    get:
      tags:
      - relatu00f3rios
      summary: Pagamentos por ano
      description: 'O propu00f3sito deste mu00e9todo u00e9 exibir o valor total dos
        pagamentos realizados durante o ano. nn Para ter acesso a esse mu00e9todo,
        u00e9 necessu00e1rio ter a seguinte permissu00e3o: **payments.statistics.readonly**
        n# n n##### **GET**  http://payments.sandbox.paggcerto.com.br/api/v2/statistics/yearlyn'
      operationId: pagamentos-por-ano
      consumes:
      - application/json
      - application/xml
      produces:
      - application/xml
      - application/json
      resultados:
        200:
          description: OK
          schema:
            $ref: '#/definitions/paymentAPI/Reports/responseYearlyPayment'
  /api/v2/statistics/payment-methods:
    get:
      tags:
      - relatu00f3rios
      summary: Estatu00edsticas por mu00e9todo de pagamento
      description: 'O objetivo deste mu00e9todo u00e9 exibir as porcentagens de utilizau00e7u00e3o
        de cada mu00e9todo de pagamento durante os u00faltimos doze meses. nn Para
        ter acesso a esse mu00e9todo, u00e9 necessu00e1rio ter a seguinte permissu00e3o:
        **payments.statistics.readonly** n# n n##### **GET**  http://payments.sandbox.paggcerto.com.br/api/v2/statistics/payment-methodsn'
      operationId: estatistica-por-metodo-de-pagamento
      consumes:
      - application/json
      - application/xml
      produces:
      - application/xml
      - application/json
      resultados:
        200:
          description: OK
          schema:
            $ref: '#/definitions/paymentAPI/Reports/responsePaymentMethods'
  /api/v2/statistics/bank-slips-current-month:
    get:
      tags:
      - relatu00f3rios
      summary: Pagamentos com boleto no mu00eas atual
      description: 'A finalidade deste mu00e9todo u00e9 exibir as porcentagens dos
        pagamentos com boletos no mu00eas atual. nn Para ter acesso a esse mu00e9todo,
        u00e9 necessu00e1rio ter a seguinte permissu00e3o: **payments.statistics.readonly**
        n# n n##### **GET**  http://payments.sandbox.paggcerto.com.br/api/v2/statistics/bank-slips-current-monthn'
      operationId: pagamentos-com-boleto-no-mes-atual
      consumes:
      - application/json
      - application/xml
      produces:
      - application/xml
      - application/json
      resultados:
        200:
          description: OK
          schema:
            $ref: '#/definitions/paymentAPI/Reports/responseBankSlipsCurrentMonth'
  /api/v2/transfers/balance:
    get:
      tags:
      - repasse
      summary: Consultar saldo de repasse
      description: 'A finalidade deste mu00e9todo u00e9 exibir as informau00e7u00f5es
        do saldo de repasse. nn Para ter acesso a esse mu00e9todo, u00e9 necessu00e1rio
        ter a seguinte permissu00e3o: **payments.transfer.readonly** n# n n##### **GET**  http://payments.sandbox.paggcerto.com.br/api/v2/transfers/balancen'
      operationId: consultar-saldo-de-repasse
      consumes:
      - application/json
      - application/xml
      produces:
      - application/xml
      - application/json
      resultados:
        200:
          description: OK
          schema:
            $ref: '#/definitions/paymentAPI/Transfer/consultBalance'
  /api/v2/transfers:
    get:
      tags:
      - repasse
      summary: Histu00f3ricos do repasse do titular
      description: 'O objetivo deste mu00e9todo u00e9 exibir os repasse efetivados
        do titular da conta. nn Para ter acesso a esse mu00e9todo, u00e9 necessu00e1rio
        ter a seguinte permissu00e3o: **payments.transfer.readonly** n# n n##### **GET**  http://payments.sandbox.paggcerto.com.br/api/v2/transfersn'
      operationId: historicos-do-repasse-do-titular
      consumes:
      - application/json
      - application/xml
      produces:
      - application/xml
      - application/json
      parameters:
      - name: startDate
        in: query
        description: A partir desta data comparada com a data do repasse.
        required: false
        pattern: YYYY-MM-DD
        type: string
      - name: endDate
        in: query
        description: Atu00e9 esta data comparada com a data do repasse.
        required: false
        pattern: YYYY-MM-DD
        type: string
      - name: accountNumber
        in: query
        required: false
        description: Nu00famero da conta bancu00e1ria.
        maxLength: 30
        type: string
      - name: taxDocument
        in: query
        description: CPF/CNPJ do titular da conta bancu00e1ria.
        required: false
        pattern: 'CPF: 000.000.000-00 ou CNPJ: 00.000.000/0000-00'
        type: string
      - name: amount
        in: query
        description: Valor do repasse.
        required: false
        pattern: Valor monetu00e1rio
        type: number
      - name: index
        in: query
        description: u00cdndice da lista.
        required: false
        type: number
        default: 0
      - name: length
        in: query
        description: Quantidade mu00e1xima de itens retornados na lista.
        required: false
        type: number
        default: 30
      resultados:
        200:
          description: OK
          schema:
            $ref: '#/definitions/paymentAPI/Transfer/historic'
  /api/v2/transfers/*id*:
    get:
      tags:
      - repasse
      summary: Detalhes do repasse
      description: 'O obejtivo deste mu00e9todo u00e9 exibir todas as informau00e7u00f5es
        a respeito do repasse especificado no *endpoint*. nn Para ter acesso a esse
        mu00e9todo, u00e9 necessu00e1rio ter a seguinte permissu00e3o: **payments.transfer.readonly**
        n# n n##### **GET**  http://payments.sandbox.paggcerto.com.br/api/v2/transfers/*id*n'
      operationId: detalhes-do-repasse
      consumes:
      - application/json
      - application/xml
      produces:
      - application/xml
      - application/json
      parameters:
      - name: id
        in: path
        description: ID do repasse.
        required: true
        type: string
      resultados:
        200:
          description: OK
          schema:
            $ref: '#/definitions/paymentAPI/Transfer/responseDetailsTransfer/validDetailsTransfer'
        422:
          description: ""
          headers:
            Tipos de erros:
              description: nnErro  | Descriu00e7u00e3on----------------|---------nTRANSFER_NOT_FOUND
                | Repasse nu00e3o encontrado nn
          schema:
            $ref: '#/definitions/paymentAPI/Transfer/responseDetailsTransfer/invalidDetailsTransfer'
  /api/v2/transfers/*id*/movements:
    get:
      tags:
      - repasse
      summary: Movimentau00e7u00f5es do repasse
      description: 'A finalidade deste mu00e9todo u00e9 exibir as movimentau00e7u00f5es
        do repasse especificado no *endpoint*. Uma movimentau00e7u00e3o pode ser proveniente
        de uma transau00e7u00e3o de cartu00e3o, liquidau00e7u00e3o de boleto ou outro
        cru00e9dito/du00e9bito.  nn Para ter acesso a esse mu00e9todo, u00e9 necessu00e1rio
        ter a seguinte permissu00e3o: **payments.transfer.readonly** n# n n##### **GET**  http://payments.sandbox.paggcerto.com.br/api/v2/transfers/*id*/movementsn'
      operationId: movimentacoes-do-repasse
      consumes:
      - application/json
      - application/xml
      produces:
      - application/xml
      - application/json
      parameters:
      - name: id
        in: path
        description: ID do repasse.
        required: true
        type: string
      - name: types
        in: query
        description: 'O *types* pode conter um ou mais dos seguintes valores: `cardTransaction`,
          `bankSlip` ou `other`.'
        required: false
        type: number
      - name: index
        in: query
        description: u00cdndice da lista.
        required: false
        type: number
        default: 0
      - name: length
        in: query
        description: Quantidade mu00e1xima de itens retornados na lista.
        required: false
        type: number
        default: 30
      resultados:
        200:
          description: OK
          schema:
            $ref: '#/definitions/paymentAPI/Transfer/responseMovementsTransfer/validMovementsTransfer'
        422:
          description: ""
          headers:
            Tipos de erros:
              description: nnErro  | Descriu00e7u00e3on----------------|---------nTRANSFER_NOT_FOUND
                | Repasse nu00e3o encontrado nn
          schema:
            $ref: '#/definitions/paymentAPI/Transfer/responseMovementsTransfer/invalidMovementsTransfer'
  /api/v2/transfers/scheduled:
    get:
      tags:
      - repasse
      summary: Listar repasses futuros
      description: 'A finalidade deste mu00e9todo u00e9 exibir todas as informau00e7u00f5es
        dos pru00f3ximos repasse do titular da conta.  nn Para ter acesso a esse mu00e9todo,
        u00e9 necessu00e1rio ter a seguinte permissu00e3o: **payments.transfer.readonly**
        n# n n##### **GET**  http://payments.sandbox.paggcerto.com.br/api/v2/transfers/scheduledn'
      operationId: listar-repasses-futuros
      consumes:
      - application/json
      - application/xml
      produces:
      - application/xml
      - application/json
      parameters:
      - name: startDate
        in: query
        description: A partir desta data comparada com a data do pru00f3ximo repasse.
        required: false
        pattern: YYYY-MM-DD
        type: string
      - name: endDate
        in: query
        description: Atu00e9 esta data comparada com a data do pru00f3ximo repasse.
        required: false
        pattern: YYYY-MM-DD
        type: string
      - name: index
        in: query
        description: u00cdndice da lista.
        required: false
        type: number
        default: 0
      - name: length
        in: query
        description: Quantidade mu00e1xima de itens retornados na lista.
        required: false
        type: number
        default: 30
      resultados:
        200:
          description: OK
          schema:
            $ref: '#/definitions/paymentAPI/Transfer/responseNextTransfers/validNextTransfers'
  /api/v2/transfers/scheduled/*date*:
    get:
      tags:
      - repasse
      summary: Detalhes de um repasse futuro
      description: 'O objetivo deste mu00e9todo u00e9 exibir todas as informau00e7u00f5es
        do pru00f3ximo repasse correspondente a data que foi informada no *endpoint*.  nn
        Para ter acesso a esse mu00e9todo, u00e9 necessu00e1rio ter a seguinte permissu00e3o:
        **payments.transfer.readonly** n# n n##### **GET**  http://payments.sandbox.paggcerto.com.br/api/v2/transfers/scheduled/*date*n'
      operationId: detalhes-de-um-repasse-futuro
      consumes:
      - application/json
      - application/xml
      produces:
      - application/xml
      - application/json
      parameters:
      - name: date
        in: path
        description: Data do pru00f3ximo repasse.
        required: true
        pattern: YYYY-MM-DD
        type: string
      resultados:
        200:
          description: OK
          schema:
            $ref: '#/definitions/paymentAPI/Transfer/responseScheduledTransfer/validScheduledTransfer'
        422:
          description: ""
          headers:
            Tipos de erros:
              description: nnErro  | Descriu00e7u00e3on----------------|---------nTRANSFER_NOT_FOUND
                | Repasse nu00e3o encontrado nn
          schema:
            $ref: '#/definitions/paymentAPI/Transfer/responseScheduledTransfer/invalidScheduledTransfer'
  /api/v2/transfers/scheduled/*date*/movements:
    get:
      tags:
      - repasse
      summary: Movimentau00e7u00f5es de um repasse futuro
      description: 'A finalidade deste mu00e9todo u00e9 exibir as movimentau00e7u00f5es
        do repasse futuro de acordo com a data especificada no *endpoint*. Uma movimentau00e7u00e3o
        pode ser proveniente de uma transau00e7u00e3o de cartu00e3o, liquidau00e7u00e3o
        de boleto ou outro cru00e9dito/du00e9bito.  nn Para ter acesso a esse mu00e9todo,
        u00e9 necessu00e1rio ter a seguinte permissu00e3o: **payments.transfer.readonly**
        n# n n##### **GET**  http://payments.sandbox.paggcerto.com.br/api/v2/transfers/scheduled/*date*/movementsn'
      operationId: movimentacoes-de-um-repasse-futuro
      consumes:
      - application/json
      - application/xml
      produces:
      - application/xml
      - application/json
      parameters:
      - name: date
        in: path
        description: Data do repasse futuro.
        required: true
        type: string
      - name: types
        in: query
        description: 'O *types* pode conter um ou mais dos seguintes valores: `cardTransaction`,
          `bankSlip` ou `other`.'
        required: false
        type: number
      - name: index
        in: query
        description: u00cdndice da lista.
        required: false
        type: number
        default: 0
      - name: length
        in: query
        description: Quantidade mu00e1xima de itens retornados na lista.
        required: false
        type: number
        default: 30
      resultados:
        200:
          description: OK
          schema:
            $ref: '#/definitions/paymentAPI/Transfer/responseScheduledTransfer/validScheduledTransfer'
        422:
          description: ""
          headers:
            Tipos de erros:
              description: nnErro  | Descriu00e7u00e3on----------------|---------nTRANSFER_NOT_FOUND
                | Repasse nu00e3o encontrado nn
          schema:
            $ref: '#/definitions/paymentAPI/Transfer/responseScheduledTransfer/invalidScheduledTransfer'
  /api/v2/anticipations/accept-term:
    post:
      tags:
      - repasse antecipado
      summary: Aceitar termo
      description: 'O objetivo deste mu00e9todo u00e9 aceitar os termos de acordo
        para realizau00e7u00e3o do repasse antecipado. nn Para ter acesso a esse mu00e9todo,
        u00e9 necessu00e1rio ter a seguinte permissu00e3o: **payments.anticipation.create**
        nn  n# n n##### **POST**   http://payments.sandbox.paggcerto.com.br/api/v2/anticipations/accept-termn'
      operationId: aceitar-termo
      consumes:
      - application/json
      - application/xml
      produces:
      - application/xml
      - application/json
      resultados:
        204:
          description: No Content
        422:
          description: ""
          headers:
            Tipos de erros:
              description: nnErro  | Descriu00e7u00e3on----------------|---------nTERMS_ALREADY_ACCEPTED
                | Os termos estu00e3o aceitos nn
          schema:
            $ref: '#/definitions/paymentAPI/AdvancePass/responseAcceptTerm/invalidAcceptTerm'
  /api/v2/anticipations/can-anticipate:
    get:
      tags:
      - repasse antecipado
      summary: Pode antecipar?
      description: 'A finalidade deste mu00e9todo u00e9 informar se o titular pode
        realizar a solicitau00e7u00e3o do repasse antecipado. nn Para ter acesso a
        esse mu00e9todo, u00e9 necessu00e1rio ter a seguinte permissu00e3o: **payments.anticipation.readonly**
        nn  n# n n##### **GET**   http://payments.sandbox.paggcerto.com.br/api/v2/anticipations/can-anticipaten'
      operationId: pode-antecipar
      consumes:
      - application/json
      - application/xml
      produces:
      - application/xml
      - application/json
      resultados:
        200:
          description: OK
          schema:
            $ref: '#/definitions/paymentAPI/AdvancePass/responseCanAnticipate'
  /api/v2/anticipations/new-request/all-card-transactions:
    post:
      tags:
      - repasse antecipado
      summary: Solicitar antecipau00e7u00e3o de todas as transau00e7u00f5es
      description: 'Com a utilizau00e7u00e3o deste mu00e9todo u00e9 realizado a solicitau00e7u00e3o
        do repasse antecipado de todas transau00e7u00f5es. nn Para ter acesso a esse
        mu00e9todo, u00e9 necessu00e1rio ter a seguinte permissu00e3o: **payments.anticipation.create**
        nn  n# n n##### **POST**   http://payments.sandbox.paggcerto.com.br/api/v2/anticipations/new-request/all-card-transactionsn'
      operationId: solicitar-antecipacao-de-todas-as-transacoes
      consumes:
      - application/json
      - application/xml
      produces:
      - application/xml
      - application/json
      resultados:
        200:
          description: OK
          schema:
            $ref: '#/definitions/paymentAPI/AdvancePass/responseAllCardTransactions/validAllCardTransactions'
        422:
          description: ""
          headers:
            Tipos de erros:
              description: nnErro  | Descriu00e7u00e3on----------------|---------nANTICIPATION_UNAVAILABLE
                |  Antecipau00e7u00e3o indisponu00edvel nHAS_NOT_CARD_TRANSACTIONS
                | Nu00e3o existe transau00e7u00e3o antecipu00e1velnn
          schema:
            $ref: '#/definitions/paymentAPI/AdvancePass/invalidAdvancePass'
  /api/v2/anticipations/card-transactions-available:
    get:
      tags:
      - repasse antecipado
      summary: Listar transau00e7u00f5es antecipu00e1veis
      description: 'O propu00f3sito deste mu00e9todo u00e9 exibir todas as transau00e7u00f5es
        que podem ser antecipadas. nn Para ter acesso a esse mu00e9todo, u00e9 necessu00e1rio
        ter a seguinte permissu00e3o: **payments.anticipation.edit** n# n n##### **GET**  http://payments.sandbox.paggcerto.com.br/api/v2/anticipations/card-transactions-availablen'
      operationId: lista-transacoes-antecipaveis
      consumes:
      - application/json
      - application/xml
      produces:
      - application/xml
      - application/json
      parameters:
      - name: nsu
        in: query
        description: Nsu da transau00e7u00e3o.
        required: false
        type: number
      - name: startDate
        in: query
        description: A partir desta data comparada com a data da transau00e7u00e3o.
        required: false
        pattern: YYYY-MM-DD
        type: string
      - name: endDate
        in: query
        description: Atu00e9 esta data comparada com a data da transau00e7u00e3o.
        required: false
        pattern: YYYY-MM-DD
        type: string
      - name: index
        in: query
        description: u00cdndice da lista.
        required: false
        type: number
        default: 0
      - name: length
        in: query
        description: Quantidade mu00e1xima de itens retornados na lista.
        required: false
        type: number
        default: 30
      resultados:
        200:
          description: OK
          schema:
            $ref: '#/definitions/paymentAPI/AdvancePass/responseTransactionsAvailable/validTransactionsAvailable'
  /api/v2/anticipations/new-request/selected-card-transactions:
    post:
      tags:
      - repasse antecipado
      summary: Solicitar antecipau00e7u00e3o
      description: 'O objetivo deste mu00e9todo u00e9 realizar a solicitau00e7u00e3o
        do repasse antecipado das transau00e7u00f5es selecionadas. Estas transau00e7u00f5es
        su00e3o identificadas atravu00e9s do **nsu**. nn Para ter acesso a esse mu00e9todo,
        u00e9 necessu00e1rio ter a seguinte permissu00e3o: **payments.anticipation.create**
        nn  n# n n##### **POST**   http://payments.sandbox.paggcerto.com.br/api/v2/anticipations/new-request/selected-card-transactionsn'
      operationId: solicitar-antecipacao
      consumes:
      - application/json
      - application/xml
      produces:
      - application/xml
      - application/json
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/paymentAPI/AdvancePass/solicitAnticipation'
      resultados:
        200:
          description: OK
          schema:
            $ref: '#/definitions/paymentAPI/AdvancePass/responseSolicitAnticipation/validSolicitAnticipation'
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/paymentAPI/AdvancePass/responseSolicitAnticipation/errorSolicitAnticipation'
        422:
          description: ""
          headers:
            Tipos de erros:
              description: nnErro  | Descriu00e7u00e3on----------------|---------nANTICIPATION_UNAVAILABLE
                |  Antecipau00e7u00e3o indisponu00edvel nCARD_TRANSACTION_ALREADY_TRANSFERED
                | Transferu00eancia ju00e1 realizada nCARD_TRANSACTION_CANCELED |  Transau00e7u00e3o
                cancelada nCARD_TRANSACTION_NOT_FOUND| Transau00e7u00e3o nu00e3o encontrada
                nCARD_TRANSACTION_REPROVED | Transau00e7u00e3o reprovada nCARD_TRANSACTION_UNAVAILABLE
                | Antecipau00e7u00e3o reprovada duas vezes ou transau00e7u00e3o realizada
                no mesmo dia da solicitau00e7u00e3o nCARD_TRANSACTION_ALREADY_ANTICIPATED
                | Nsu ju00e1 antecipado nn
          schema:
            $ref: '#/definitions/paymentAPI/AdvancePass/invalidAdvancePass'
  /api/v2/anticipations/in-progress:
    get:
      tags:
      - repasse antecipado
      summary: Solicitau00e7u00e3o em andamento
      description: 'O propu00f3sito deste mu00e9todo u00e9 exibir os detalhes da solicitau00e7u00e3o
        que estu00e1 em andamento. nn Para ter acesso a esse mu00e9todo, u00e9 necessu00e1rio
        ter a seguinte permissu00e3o: **payments.anticipation.readonly** n# n n#####
        **GET**  http://payments.sandbox.paggcerto.com.br/api/v2/anticipations/in-progressn'
      operationId: solicitacao-em-andamento
      consumes:
      - application/json
      - application/xml
      produces:
      - application/xml
      - application/json
      resultados:
        200:
          description: OK
          schema:
            $ref: '#/definitions/paymentAPI/AdvancePass/responseAllCardTransactions/validAllCardTransactions'
        422:
          description: ""
          headers:
            Tipos de erros:
              description: nnErro  | Descriu00e7u00e3on----------------|---------nANTICIPATION_NOT_FOUND
                | Nu00e3o existe socilitau00e7u00e3o nn
          schema:
            $ref: '#/definitions/paymentAPI/AdvancePass/invalidAnticipation'
  /api/v2/anticipations/*anticipationId*:
    get:
      tags:
      - repasse antecipado
      summary: Detalhes da solicitau00e7u00e3o
      description: 'O objetivo deste mu00e9todo u00e9 exibir todas as informau00e7u00f5es
        a respeito da solicitau00e7u00e3o especificada no *endpoint*. nn Para ter
        acesso a esse mu00e9todo, u00e9 necessu00e1rio ter a seguinte permissu00e3o:
        **payments.anticipation.readonly** n# n n##### **GET**  http://payments.sandbox.paggcerto.com.br/api/v2/anticipations/*anticipationId*n'
      operationId: detalhes-da-solicitacao
      consumes:
      - application/json
      - application/xml
      produces:
      - application/xml
      - application/json
      parameters:
      - name: anticipationId
        in: path
        description: ID da solicitau00e7u00e3o.
        required: true
        type: string
      resultados:
        200:
          description: OK
          schema:
            $ref: '#/definitions/paymentAPI/AdvancePass/anticipationDetails'
        422:
          description: ""
          headers:
            Tipos de erros:
              description: nnErro  | Descriu00e7u00e3on----------------|---------nANTICIPATION_NOT_FOUND
                | Socilitau00e7u00e3o nu00e3o encontrada nn
          schema:
            $ref: '#/definitions/paymentAPI/AdvancePass/invalidAnticipation'
  /api/v2/anticipations/in-progress/card-transactions:
    get:
      tags:
      - repasse antecipado
      summary: Listar transau00e7u00f5es em andamento
      description: 'Ao utilizar este mu00e9todo su00e3o listadas todas as transau00e7u00f5es
        que estu00e3o com a solicitau00e7u00e3o da antecipau00e7u00e3o em andamento.
        nn Para ter acesso a esse mu00e9todo, u00e9 necessu00e1rio ter a seguinte
        permissu00e3o: **payments.anticipation.readonly** nn  n# n n##### **GET**   http://payments.sandbox.paggcerto.com.br/api/v2/anticipations/in-progress/card-transactionsn'
      operationId: listar-transacoes-em-andamento
      consumes:
      - application/json
      - application/xml
      produces:
      - application/xml
      - application/json
      parameters:
      - name: nsu
        in: query
        description: Nsu da transau00e7u00e3o.
        required: false
        type: number
      - name: startDate
        in: query
        description: A partir desta data comparada com a data da solicitau00e7u00e3o
          da antecipau00e7u00e3o.
        required: false
        pattern: YYYY-MM-DD
        type: string
      - name: endDate
        in: query
        description: Atu00e9 esta data comparada com a data da solicitau00e7u00e3o
          da antecipau00e7u00e3o.
        required: false
        pattern: YYYY-MM-DD
        type: string
      - name: index
        in: query
        description: u00cdndice da lista.
        required: false
        type: number
        default: 0
      - name: length
        in: query
        description: Quantidade mu00e1xima de itens retornados na lista.
        required: false
        type: number
        default: 30
      resultados:
        200:
          description: OK
          schema:
            $ref: '#/definitions/paymentAPI/AdvancePass/responseListTransactionsInProgress'
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/paymentAPI/responsePagination/errorPagination'
  /api/v2/anticipations/*anticipationId*/card-transactions:
    get:
      tags:
      - repasse antecipado
      summary: Listar transau00e7u00f5es da solicitau00e7u00e3o
      description: 'Com a utilizau00e7u00e3o deste mu00e9todo su00e3o exibidas todas
        as transau00e7u00f5es da solicitau00e7u00e3o especificada no *endpoint*. nn
        Para ter acesso a esse mu00e9todo, u00e9 necessu00e1rio ter a seguinte permissu00e3o:
        **payments.anticipation.readonly** n# n n##### **GET**  http://payments.sandbox.paggcerto.com.br/api/v2/anticipations/*anticipationId*/card-transactionsn'
      operationId: listar-transacoes-da-solicitacao
      consumes:
      - application/json
      - application/xml
      produces:
      - application/xml
      - application/json
      parameters:
      - name: anticipationId
        in: path
        description: ID da solicitau00e7u00e3o.
        required: true
        type: string
      - name: nsu
        in: query
        description: Nsu da transau00e7u00e3o.
        required: false
        type: number
      - name: startDate
        in: query
        description: A partir desta data comparada com a data da solicitau00e7u00e3o
          da antecipau00e7u00e3o.
        required: false
        pattern: YYYY-MM-DD
        type: string
      - name: endDate
        in: query
        description: Atu00e9 esta data comparada com a data da solicitau00e7u00e3o
          da antecipau00e7u00e3o.
        required: false
        pattern: YYYY-MM-DD
        type: string
      - name: index
        in: query
        description: u00cdndice da lista.
        required: false
        type: number
        default: 0
      - name: length
        in: query
        description: Quantidade mu00e1xima de itens retornados na lista.
        required: false
        type: number
        default: 30
      resultados:
        200:
          description: OK
          schema:
            $ref: '#/definitions/paymentAPI/AdvancePass/responseListTransactions'
        422:
          description: ""
          headers:
            Tipos de erros:
              description: nnErro  | Descriu00e7u00e3on----------------|---------nANTICIPATION_NOT_FOUND
                | Socilitau00e7u00e3o nu00e3o encontrada nn
          schema:
            $ref: '#/definitions/paymentAPI/AdvancePass/invalidAnticipation'
  /api/v2/anticipations:
    get:
      tags:
      - repasse antecipado
      summary: Histu00f3rico de solicitau00e7u00f5es de antecipau00e7u00f5es
      description: 'O objetivo deste mu00e9todo u00e9 exibir todas as solicitau00e7u00f5es
        de antecipau00e7u00f5es. nn Para ter acesso a esse mu00e9todo, u00e9 necessu00e1rio
        ter a seguinte permissu00e3o: **payments.anticipation.readonly** nn  n# n
        n##### **GET**   http://payments.sandbox.paggcerto.com.br/api/v2/anticipationsn'
      operationId: historico-de-solicitacoes-de-antecipacoes
      consumes:
      - application/json
      - application/xml
      produces:
      - application/xml
      - application/json
      parameters:
      - name: startDate
        in: query
        description: A partir desta data comparada com a data da solicitau00e7u00e3o
          da antecipau00e7u00e3o.
        required: false
        pattern: YYYY-MM-DD
        type: string
      - name: endDate
        in: query
        description: Atu00e9 esta data comparada com a data da solicitau00e7u00e3o
          da antecipau00e7u00e3o.
        required: false
        pattern: YYYY-MM-DD
        type: string
      - name: status
        in: query
        description: 'O *status* da solicitau00e7u00e3o pode assumir um dos seguintes
          valores: nn `approved`: Socilitau00e7u00e3o aprovada; nn `pending`: Solicitau00e7u00e3o
          pendente; nn `reproved`: Solicitau00e7u00e3o reprovada; nn `partiallyApproved`:
          Solicitau00e7u00e3o parcialmente aprovada.'
        required: false
        type: string
      - name: index
        in: query
        description: u00cdndice da lista.
        required: false
        type: number
        default: 0
      - name: length
        in: query
        description: Quantidade mu00e1xima de itens retornados na lista.
        required: false
        type: number
        default: 30
      resultados:
        200:
          description: OK
          schema:
            $ref: '#/definitions/paymentAPI/AdvancePass/responseHistory'
  /api/v2/payment-devices:
    get:
      tags:
      - maquininha
      summary: Consultar modelos de maquininha
      description: 'A finalidade deste mu00e9todo u00e9 exibir todos os modelos de
        maquininhas disponu00edveis na Paggcerto. nn Para ter acesso a esse mu00e9todo,
        u00e9 necessu00e1rio ter a seguinte permissu00e3o: **payments.devices.readonly**
        nn  n# n n##### **GET**  http://payments.sandbox.paggcerto.com.br/api/v2/payment-devicesn'
      operationId: consultar-modelos-de-maquininha
      consumes:
      - application/json
      - application/xml
      produces:
      - application/xml
      - application/json
      resultados:
        200:
          description: OK
          schema:
            $ref: '#/definitions/paymentAPI/paymentForms/responseConsultMachine'
  /api/v2/payment-devices/buy:
    post:
      tags:
      - maquininha
      summary: Comprar maquininha
      description: O objetivo deste mu00e9todo u00e9 comprar maquininha junto a Paggcerto.
        **Somente o titular da conta pode comprar maquininha.** nn  n# n n##### **POST**  http://payments.sandbox.paggcerto.com.br/api/v2/payment-devices/buyn
      operationId: comprar-maquininha
      consumes:
      - application/json
      - application/xml
      produces:
      - application/xml
      - application/json
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/paymentAPI/paymentForms/buyMachine'
      resultados:
        204:
          description: No content
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/paymentAPI/paymentForms/responseBuyMachine/errorBuyMachine'
        422:
          description: ""
          headers:
            Tipos de erros:
              description: nnErro  | Descriu00e7u00e3on----------------|---------nPAYMENT_FAILED
                |  Falha no pagamento nPAYMENT_DEVICE_UNAVAILABLE | Maquininha indisponu00edvel
                nACCOUNT_NOT_APPROVED | Conta do titular nu00e3o aprovada nn
          schema:
            $ref: '#/definitions/paymentAPI/paymentForms/responseBuyMachine/invalidBuyMachine'
  /api/v2/payment-devices/purchases:
    get:
      tags:
      - maquininha
      summary: Consultar compras de maquininha
      description: O objetivo deste mu00e9todo u00e9 exibir todas as maquininhas compradas.
        **Somente o titular da conta pode realizar esta consulta.** nn  n# n n#####
        **GET**  http://payments.sandbox.paggcerto.com.br/api/v2/payment-devices/purchasesn
      operationId: consultar-compras-de-maquininha
      consumes:
      - application/json
      - application/xml
      produces:
      - application/xml
      - application/json
      resultados:
        200:
          description: OK
          schema:
            $ref: '#/definitions/paymentAPI/paymentForms/responseConsultMachinePurchased'
schemes:
- http
definitions: !php/object "O:8:\"stdClass\":1:{s:10:\"paymentAPI\";O:8:\"stdClass\":27:{s:10:\"feesHolder\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Informa\xE7\xF5es
  das taxas do titular.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"fees\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"bankSlip\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Taxa
  para pagamento com boleto.\";s:4:\"type\";s:6:\"number\";s:7:\"example\";d:3.5499999999999998;}s:4:\"card\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Informa\xE7\xF5es
  das taxas para pagamento com cart\xE3o.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"terminalEmv\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Taxa
  para pagamento com dispositivos.\";s:4:\"type\";s:6:\"number\";s:7:\"example\";d:2.9500000000000002;}s:6:\"online\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Taxa
  para pagamento online.\";s:4:\"type\";s:6:\"number\";s:7:\"example\";d:3.6499999999999999;}}}s:12:\"anticipation\";O:8:\"stdClass\":5:{s:11:\"description\";s:46:\"Informa\xE7\xF5es
  das taxas do repasse antecipado.\";s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":2:{s:4:\"name\";s:12:\"anticipation\";s:7:\"wrapped\";b:1;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/paymentAPI/responseAnticipation\";}s:7:\"example\";a:2:{i:0;O:8:\"stdClass\":2:{s:12:\"installments\";i:1;s:10:\"percentage\";d:3.6499999999999999;}i:1;O:8:\"stdClass\":2:{s:12:\"installments\";i:2;s:10:\"percentage\";d:4.25;}}}s:10:\"cardBrands\";O:8:\"stdClass\":5:{s:11:\"description\";s:51:\"Informa\xE7\xF5es
  das taxas das bandeiras dos cart\xF5es.\";s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":2:{s:4:\"name\";s:10:\"cardBrands\";s:7:\"wrapped\";b:1;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/paymentAPI/responseCardBrands\";}s:7:\"example\";a:2:{i:0;O:8:\"stdClass\":4:{s:5:\"brand\";s:4:\"visa\";s:15:\"debitPercentage\";d:2.5499999999999998;s:23:\"creditSingleInstallment\";d:3.25;s:25:\"creditMultipleInstallment\";d:3.8500000000000001;}i:1;O:8:\"stdClass\":4:{s:5:\"brand\";s:10:\"mastercard\";s:15:\"debitPercentage\";d:2.3500000000000001;s:23:\"creditSingleInstallment\";d:3.1499999999999999;s:26:\"creditMlultipleInstallment\";d:3.75;}}}}}}}s:20:\"responseAnticipation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"installments\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Quantidade
  de parcelas.\";s:4:\"type\";s:6:\"number\";}s:10:\"percentage\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"Valor
  da porcentagem de acordo com a quantidade de parcelas.\";s:4:\"type\";s:6:\"number\";}}}s:18:\"responseCardBrands\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"brand\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Bandeira
  do cart\xE3o.\";s:4:\"type\";s:6:\"string\";}s:15:\"debitPercentage\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"Taxa
  percentual para pagamentos realizados com cart\xE3o de d\xE9bito.\";s:4:\"type\";s:6:\"number\";}s:23:\"creditSingleInstallment\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"Taxa
  percentual para pagamentos \xE0 vista com cart\xE3o de cr\xE9dito.\";s:4:\"type\";s:6:\"number\";}s:25:\"creditMultipleInstallment\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"Taxa
  percentual para pagamentos com m\xFAltiplas parcelas com cart\xE3o de cr\xE9dito.\";s:4:\"type\";s:6:\"number\";}}}s:11:\"manageCards\";O:8:\"stdClass\":5:{s:10:\"createCard\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:5:{i:0;s:10:\"holderName\";i:1;s:6:\"number\";i:2;s:14:\"expirationYear\";i:3;s:15:\"expirationMonth\";i:4;s:12:\"securityCode\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"holderName\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"Nome
  do titular impresso no cart\xE3o.\";s:4:\"type\";s:6:\"string\";s:7:\"pattern\";s:37:\"Este
  par\xE2metro aceita somente letras\";s:7:\"example\";s:16:\"Maria dos Santos\";}s:6:\"number\";O:8:\"stdClass\":6:{s:11:\"description\";s:19:\"N\xFAmero
  do cart\xE3o.\";s:4:\"type\";s:6:\"string\";s:7:\"pattern\";s:39:\"Este par\xE2metro
  aceita somente n\xFAmeros\";s:9:\"minLength\";i:13;s:9:\"maxLength\";i:19;s:7:\"example\";s:16:\"5111925270937702\";}s:15:\"expirationMonth\";O:8:\"stdClass\":6:{s:11:\"description\";s:30:\"M\xEAs
  do vencimento do cart\xE3o.\";s:4:\"type\";s:6:\"number\";s:7:\"pattern\";s:2:\"00\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:12;s:7:\"example\";i:12;}s:14:\"expirationYear\";O:8:\"stdClass\":4:{s:11:\"description\";s:50:\"Ano
  do vencimento do cart\xE3o, com quatro d\xEDgitos.\";s:4:\"type\";s:6:\"number\";s:7:\"pattern\";s:4:\"0000\";s:7:\"example\";i:2019;}s:12:\"securityCode\";O:8:\"stdClass\":6:{s:11:\"description\";s:40:\"C\xF3digo
  de seguran\xE7a do cart\xE3o (CVV). \";s:4:\"type\";s:6:\"string\";s:7:\"pattern\";s:39:\"Este
  par\xE2metro aceita somente n\xFAmeros\";s:9:\"minLength\";i:3;s:9:\"maxLength\";i:4;s:7:\"example\";s:3:\"495\";}}}s:18:\"responseCreateCard\";O:8:\"stdClass\":4:{s:15:\"validCreateCard\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Identificador
  \xFAnico gerado ap\xF3s o cadastro.\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"a0b1\";}s:10:\"holderName\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Nome
  do titular impresso no cart\xE3o.\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:16:\"Maria
  dos Santos\";}s:6:\"number\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"N\xFAmero
  do cart\xE3o.\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:16:\"511192******7702\";}s:5:\"brand\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Bandeira
  do cart\xE3o.\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:10:\"mastercard\";}s:15:\"expirationMonth\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"M\xEAs
  do vencimento do cart\xE3o.\";s:4:\"type\";s:6:\"number\";s:7:\"example\";i:12;}s:14:\"expirationYear\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Ano
  do vencimento do cart\xE3o.\";s:4:\"type\";s:6:\"number\";s:7:\"example\";i:2019;}}}s:15:\"errorCreateCard\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"errors\";O:8:\"stdClass\":4:{s:11:\"description\";s:27:\"Lista
  dos poss\xEDveis erros.\";s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"errors\";s:7:\"wrapped\";b:1;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:62:\"#/definitions/paymentAPI/manageCards/responseCreateCard/errors\";}}}}s:6:\"errors\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Lista
  contendo alguns erros.\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:43:\"holderName:
  Required.\", \n\"number: Required.\";}s:17:\"invalidCreateCard\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"error\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Especifica\xE7\xE3o
  do erro.\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:18:\"CARD_NOT_PROCESSED\";}}}}s:4:\"card\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Identificador
  \xFAnico gerado ap\xF3s o cadastro.\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"a0b1\";}s:10:\"holderName\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Nome
  do titular impresso no cart\xE3o.\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:16:\"Maria
  dos Santos\";}s:6:\"number\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"N\xFAmero
  do cart\xE3o.\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:16:\"511192******7702\";}s:5:\"brand\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Bandeira
  do cart\xE3o.\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:10:\"mastercard\";}s:15:\"expirationMonth\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"M\xEAs
  do vencimento do cart\xE3o.\";s:4:\"type\";s:6:\"number\";s:7:\"example\";i:12;}s:14:\"expirationYear\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Ano
  do vencimento do cart\xE3o.\";s:4:\"type\";s:6:\"number\";s:7:\"example\";i:2019;}}}s:19:\"responseInvalidCard\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"error\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Especifica\xE7\xE3o
  do erro.\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:14:\"CARD_NOT_FOUND\";}}}s:15:\"reponseListCard\";O:8:\"stdClass\":1:{s:13:\"validListCard\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"cards\";O:8:\"stdClass\":5:{s:11:\"description\";s:18:\"Lista
  de cart\xF5es.\";s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":2:{s:4:\"name\";s:5:\"cards\";s:7:\"wrapped\";b:1;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/paymentAPI/manageCards/card\";}s:7:\"example\";a:2:{i:0;O:8:\"stdClass\":6:{s:2:\"id\";s:4:\"a0b1\";s:10:\"holderName\";s:16:\"Maria
  dos Santos\";s:6:\"number\";s:16:\"511192******7702\";s:5:\"brand\";s:10:\"mastercard\";s:15:\"expirationMonth\";i:12;s:14:\"expirationYear\";i:2019;}i:1;O:8:\"stdClass\":6:{s:2:\"id\";s:4:\"a1b2\";s:10:\"holderName\";s:13:\"Rodrigo
  Alves\";s:6:\"number\";s:16:\"492991******0899\";s:5:\"brand\";s:4:\"visa\";s:15:\"expirationMonth\";i:5;s:14:\"expirationYear\";i:2020;}}}s:5:\"count\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Total
  de registros encontrados.\";s:4:\"type\";s:6:\"number\";s:7:\"example\";i:2;}}}}}s:11:\"CardPayment\";O:8:\"stdClass\":12:{s:15:\"simulatePayment\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:6:{i:0;s:6:\"amount\";i:1;s:12:\"installments\";i:2;s:9:\"cardBrand\";i:3;s:6:\"credit\";i:4;s:6:\"pinpad\";i:5;s:15:\"customerPaysFee\";}s:10:\"properties\";O:8:\"stdClass\":6:{s:6:\"amount\";O:8:\"stdClass\":4:{s:11:\"description\";s:14:\"Valor
  cobrado.\";s:4:\"type\";s:6:\"number\";s:7:\"pattern\";s:16:\"Valor monet\xE1rio\";s:7:\"example\";d:90.549999999999997;}s:12:\"installments\";O:8:\"stdClass\":5:{s:11:\"description\";s:20:\"N\xFAmero
  de parcelas.\";s:4:\"type\";s:6:\"number\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:12;s:7:\"example\";i:3;}s:9:\"cardBrand\";O:8:\"stdClass\":4:{s:11:\"description\";s:20:\"Bandeira
  do cart\xE3o.\";s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:20;s:7:\"example\";s:4:\"visa\";}s:6:\"credit\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"Informa
  se a modalidade do cart\xE3o \xE9 cr\xE9dito (`true`) ou d\xE9bito (`false`).\";s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:6:\"pinpad\";O:8:\"stdClass\":3:{s:11:\"description\";s:104:\"Informar
  se o pagamento foi processado com leitor de cart\xE3o (`true`) ou digitado manualmente
  (`false`).\";s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}s:15:\"customerPaysFee\";O:8:\"stdClass\":3:{s:11:\"description\";s:118:\"Indica
  se as taxas aplic\xE1veis ao pagamento ser\xE3o custeadas pelo cliente (`true`)
  ou pelo titular da conta (`false`).\";s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:1;}}}s:22:\"reponseSimulatePayment\";O:8:\"stdClass\":4:{s:20:\"validSimulatePayment\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"amountCharged\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Valor
  cobrado.\";s:4:\"type\";s:6:\"number\";s:7:\"example\";d:93.549999999999997;}s:14:\"amountReceived\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Valor
  a receber.\";s:4:\"type\";s:6:\"number\";s:7:\"example\";d:90.549999999999997;}}}s:20:\"errorSimulatePayment\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"errors\";O:8:\"stdClass\":4:{s:11:\"description\";s:27:\"Lista
  dos poss\xEDveis erros.\";s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"errors\";s:7:\"wrapped\";b:1;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:66:\"#/definitions/paymentAPI/CardPayment/reponseSimulatePayment/errors\";}}}}s:6:\"errors\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Lista
  contendo alguns erros.\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:17:\"amount:
  Required.\";}s:22:\"invalidSimulatePayment\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"error\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Especifica\xE7\xE3o
  do erro.\";s:4:\"type\";s:6:\"string\";s:7:\"example\";s:18:\"CARD_NOT_PROCESSED\";}}}}s:11:\"makePayment\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:5:\"cards\";i:1;s:6:\"amount\";}s:10:\"properties\";O:8:\"stdClass\":8:{s:10:\"sellingKey\";O:8:\"stdClass\":4:{s:11:\"description\";s:119:\"Caso
  deseje associar seu c\xF3digo interno ao pagamento na Paggcerto. Esta chave deve
  ser \xFAnica e informada manualmente.\";s:9:\"maxLength\";i:50;s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"a0b0\";}s:6:\"amount\";O:8:\"stdClass\":4:{s:11:\"description\";s:122:\"Valor
  cobrado. Esse valor n\xE3o pode ser inferior a R$ 1,00 para venda \xE0 vista ou
  inferior a R$ 5,00 para venda parcelada.\";s:4:\"type\";s:6:\"number\";s:7:\"pattern\";s:16:\"Valor
  monet\xE1rio\";s:7:\"example\";d:160.55000000000001;}s:4:\"note\";O:8:\"stdClass\":4:{s:11:\"description\";s:30:\"Observa\xE7\xE3o
  para o pagamento.\";s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:255;s:7:\"example\";s:27:\"Venda
  de trajes esportivos.\";}s:5:\"cards\";O:8:\"stdClass\":5:{s:11:\"description\";s:51:\"Informa\xE7\xF5es
  dos cart\xF5es utilizados no pagamento.\";s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":2:{s:4:\"name\";s:5:\"cards\";s:7:\"wrapped\";b:1;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:48:\"#/definitions/paymentAPI/CardPayment/requestCard\";}s:7:\"example\";a:2:{i:0;O:8:\"stdClass\":5:{s:2:\"id\";s:4:\"a0b1\";s:10:\"sellingKey\";s:3:\"123\";s:10:\"amountPaid\";d:60.439999999999998;s:12:\"installments\";i:1;s:6:\"credit\";b:1;}i:1;O:8:\"stdClass\":11:{s:2:\"id\";N;s:10:\"sellingKey\";s:4:\"a1b1\";s:10:\"holderName\";s:16:\"Maria
  dos Santos\";s:6:\"number\";s:16:\"5111925270937702\";s:15:\"expirationMonth\";i:12;s:14:\"expirationYear\";i:2019;s:10:\"amountPaid\";d:100.11;s:12:\"installments\";i:1;s:6:\"credit\";b:1;s:12:\"securityCode\";s:3:\"495\";s:8:\"metadata\";O:8:\"stdClass\":7:{s:14:\"sequenceNumber\";i:0;s:7:\"emvData\";s:53:\"5F2A02098682021800950580000000009A031805189C01009F020\";s:6:\"tracks\";O:8:\"stdClass\":3:{s:7:\"number1\";s:17:\"6aghAS8uaty7ga&UG\";s:7:\"number2\";N;s:7:\"number3\";N;}s:4:\"chip\";b:1;s:9:\"pinOnline\";b:0;s:3:\"pin\";s:17:\"fretgregfSWEC2344\";s:6:\"serial\";s:15:\"VFGTfefFEWW3ssd\";}}}}s:13:\"paymentDevice\";O:8:\"stdClass\":4:{s:11:\"description\";s:52:\"Informa\xE7\xF5es
  do dispositivo utilizado no pagamento.\";s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:12:\"serialNumber\";i:1;s:5:\"model\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"serialNumber\";O:8:\"stdClass\":4:{s:11:\"description\";s:37:\"C\xF3digo
  identificador do dispositivo.\";s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:20;s:7:\"example\";s:16:\"8000151509001953\";}s:5:\"model\";O:8:\"stdClass\":4:{s:11:\"description\";s:41:\"Modelo
  do dispositivo: `mp5` ou `ppc920`.\";s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:40;s:7:\"example\";s:3:\"mp5\";}}}s:12:\"mobileDevice\";O:8:\"stdClass\":4:{s:11:\"description\";s:63:\"Informa\xE7\xF5es
  do dispositivo m\xF3vel (smartphone, tablet, etc.).\";s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:10:\"appVersion\";i:1;s:12:\"manufacturer\";i:2;s:5:\"model\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"appVersion\";O:8:\"stdClass\":5:{s:11:\"description\";s:45:\"Vers\xE3o
  do aplicativo utilizado no pagamento.\";s:4:\"type\";s:6:\"string\";s:7:\"pattern\";s:34:\"Este
  par\xE2metro n\xE3o aceita letras\";s:9:\"maxLength\";i:10;s:7:\"example\";s:5:\"4.0.1\";}s:12:\"manufacturer\";O:8:\"stdClass\":4:{s:11:\"description\";s:56:\"Fabricante
  do dispositivo m\xF3vel utilizado no pagamento.\";s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:40;s:7:\"example\";s:5:\"Apple\";}s:5:\"model\";O:8:\"stdClass\":4:{s:11:\"description\";s:52:\"Modelo
  do dispositivo m\xF3vel utilizado no pagamento.\";s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:40;s:7:\"example\";s:14:\"iPhone
  6S Plus\";}}}s:11:\"geolocation\";O:8:\"stdClass\":4:{s:11:\"description\";s:69:\"Geolocaliza\xE7\xE3o
  do usu\xE1rio no momento da realiza\xE7\xE3o do pagamento.\";s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:8:\"latitude\";i:1;s:9:\"longitude\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"latitude\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Coordenada
  geogr\xE1fica da localiza\xE7\xE3o do usu\xE1rio.\";s:4:\"type\";s:6:\"number\";s:7:\"example\";d:-10.9525822;}s:9:\"longitude\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Coordenada
  geogr\xE1fica da localiza\xE7\xE3o do usu\xE1rio.\";s:4:\"type\";s:6:\"number\";s:7:\"example\";d:-37.0582894;}}}s:9:\"splitters\";O:8:\"stdClass\":4:{s:11:\"description\";s:39:\"Informa\xE7\xF5es
  do pagamento com *split*.\";s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":2:{s:4:\"name\";s:9:\"splitters\";s:7:\"wrapped\";b:1;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:60:\"#/definitions/paymentAPI/SplitConfiguration/requestSplitters\";}}}}s:11:\"requestCard\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:6:{i:0;s:10:\"holderName\";i:1;s:6:\"number\";i:2;s:15:\"expirationMonth\";i:3;s:14:\"expirationYear\";i:4;s:10:\"amountPaid\";i:5;s:12:\"installments\";}s:10:\"properties\";O:8:\"stdClass\":11:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:127:\"Identificador
  do cart\xE3o cadastrado. Caso esse ID seja informado os demais dados do cart\xE3o
  estar\xE1 de acordo com seu cadastro.\";s:4:\"type\";s:11:\"string|null\";s:7:\"example\";N;}s:10:\"sellingKey\";O:8:\"stdClass\":4:{s:11:\"description\";s:119:\"Caso
  deseje associar seu c\xF3digo interno ao pagamento na Paggcerto. Esta chave deve
  ser \xFAnica e informada manualmente.\";s:9:\"maxLength\";i:50;s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"a1b1\";}s:10:\"holderName\";O:8:\"stdClass\":5:{s:11:\"description\";s:36:\"Nome
  do titular impresso no cart\xE3o.\";s:4:\"type\";s:6:\"string\";s:7:\"pattern\";s:37:\"Este
  par\xE2metro aceita somente letras\";s:9:\"maxLength\";i:50;s:7:\"example\";s:16:\"Maria
  dos Santos\";}s:6:\"number\";O:8:\"stdClass\":6:{s:11:\"description\";s:19:\"N\xFAmero
  do cart\xE3o.\";s:4:\"type\";s:6:\"string\";s:7:\"pattern\";s:39:\"Este par\xE2metro
[...]
