---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Google\";s:3:\"url\";s:18:\"https://google.com\";}s:11:\"description\";s:108:\"The
  Google Cloud Resource Manager API provides methods for creating, reading, and updating
  project metadata.\";s:5:\"title\";s:22:\"Cloud Resource Manager\";s:7:\"version\";s:2:\"v1\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:37:\"https://console.developers.google.com\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:90:\"https://api.apis.guru/v2/cache/logo/https_cloud.google.com__static_images_new-gcp-logo.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.6.2\";}s:6:\"format\";s:6:\"google\";s:3:\"url\";s:70:\"https://cloudresourcemanager.googleapis.com/$discovery/rest?version=v1\";s:7:\"version\";s:2:\"v1\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"googleapis.com\";s:13:\"x-serviceName\";s:20:\"cloudresourcemanager\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:27:\"google_cloudresourcemanager\";s:4:\"type\";s:7:\"openapi\";}}"
host: cloudresourcemanager.googleapis.com
basePath: /
paths: ~
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":42:{s:8:\"Ancestor\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"Identifying
  information for a single ancestor of a project.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"resourceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ResourceId\";s:11:\"description\";s:28:\"Resource
  id of the ancestor.\";}}s:4:\"type\";s:6:\"object\";}s:11:\"AuditConfig\";O:8:\"stdClass\":3:{s:11:\"description\";s:1479:\"Specifies
  the audit configuration for a service.\nThe configuration determines which permission
  types are logged, and what\nidentities, if any, are exempted from logging.\nAn AuditConfig
  must have one or more AuditLogConfigs.\n\nIf there are AuditConfigs for both `allServices`
  and a specific service,\nthe union of the two AuditConfigs is used for that service:
  the log_types\nspecified in each AuditConfig are enabled, and the exempted_members
  in each\nAuditLogConfig are exempted.\n\nExample Policy with multiple AuditConfigs:\n\n
  \   {\n      \"audit_configs\": [\n        {\n          \"service\": \"allServices\"\n
  \         \"audit_log_configs\": [\n            {\n              \"log_type\": \"DATA_READ\",\n
  \             \"exempted_members\": [\n                \"user:foo@gmail.com\"\n
  \             ]\n            },\n            {\n              \"log_type\": \"DATA_WRITE\",\n
  \           },\n            {\n              \"log_type\": \"ADMIN_READ\",\n            }\n
  \         ]\n        },\n        {\n          \"service\": \"fooservice.googleapis.com\"\n
  \         \"audit_log_configs\": [\n            {\n              \"log_type\": \"DATA_READ\",\n
  \           },\n            {\n              \"log_type\": \"DATA_WRITE\",\n              \"exempted_members\":
  [\n                \"user:bar@gmail.com\"\n              ]\n            }\n          ]\n
  \       }\n      ]\n    }\n\nFor fooservice, this policy enables DATA_READ, DATA_WRITE
  and ADMIN_READ\nlogging. It also exempts foo@gmail.com from DATA_READ logging, and\nbar@gmail.com
  from DATA_WRITE logging.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"auditLogConfigs\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"The
  configuration for logging of each type of permission.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/AuditLogConfig\";}s:4:\"type\";s:5:\"array\";}s:7:\"service\";O:8:\"stdClass\":2:{s:11:\"description\";s:184:\"Specifies
  a service that will be enabled for audit logging.\nFor example, `storage.googleapis.com`,
  `cloudsql.googleapis.com`.\n`allServices` is a special value that covers all services.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"AuditLogConfig\";O:8:\"stdClass\":3:{s:11:\"description\";s:415:\"Provides
  the configuration for logging a type of permissions.\nExample:\n\n    {\n      \"audit_log_configs\":
  [\n        {\n          \"log_type\": \"DATA_READ\",\n          \"exempted_members\":
  [\n            \"user:foo@gmail.com\"\n          ]\n        },\n        {\n          \"log_type\":
  \"DATA_WRITE\",\n        }\n      ]\n    }\n\nThis enables 'DATA_READ' and 'DATA_WRITE'
  logging, while exempting\nfoo@gmail.com from DATA_READ logging.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"exemptedMembers\";O:8:\"stdClass\":3:{s:11:\"description\";s:123:\"Specifies
  the identities that do not cause logging for this type of\npermission.\nFollows
  the same format of Binding.members.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"logType\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  log type that this config enables.\";s:4:\"enum\";a:4:{i:0;s:20:\"LOG_TYPE_UNSPECIFIED\";i:1;s:10:\"ADMIN_READ\";i:2;s:10:\"DATA_WRITE\";i:3;s:9:\"DATA_READ\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Binding\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Associates
  `members` with a `role`.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"members\";O:8:\"stdClass\":3:{s:11:\"description\";s:888:\"Specifies
  the identities requesting access for a Cloud Platform resource.\n`members` can have
  the following values:\n\n* `allUsers`: A special identifier that represents anyone
  who is\n   on the internet; with or without a Google account.\n\n* `allAuthenticatedUsers`:
  A special identifier that represents anyone\n   who is authenticated with a Google
  account or a service account.\n\n* `user:{emailid}`: An email address that represents
  a specific Google\n   account. For example, `alice@gmail.com` .\n\n\n* `serviceAccount:{emailid}`:
  An email address that represents a service\n   account. For example, `my-other-app@appspot.gserviceaccount.com`.\n\n*
  `group:{emailid}`: An email address that represents a Google group.\n   For example,
  `admins@example.com`.\n\n\n* `domain:{domain}`: A Google Apps domain name that represents
  all the\n   users of that domain. For example, `google.com` or `example.com`.\n\n\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"role\";O:8:\"stdClass\":2:{s:11:\"description\";s:107:\"Role
  that is assigned to `members`.\nFor example, `roles/viewer`, `roles/editor`, or
  `roles/owner`.\nRequired\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"BooleanConstraint\";O:8:\"stdClass\":3:{s:11:\"description\";s:216:\"A
  `Constraint` that is either enforced or not.\n\nFor example a constraint `constraints/compute.disableSerialPortAccess`.\nIf
  it is enforced on a VM instance, serial port connections will not be\nopened to
  that instance.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:13:\"BooleanPolicy\";O:8:\"stdClass\":3:{s:11:\"description\";s:83:\"Used
  in `policy_type` to specify how `boolean_policy` will behave at this\nresource.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"enforced\";O:8:\"stdClass\":2:{s:11:\"description\";s:1806:\"If
  `true`, then the `Policy` is enforced. If `false`, then any\nconfiguration is acceptable.\n\nSuppose
  you have a `Constraint` `constraints/compute.disableSerialPortAccess`\nwith `constraint_default`
  set to `ALLOW`. A `Policy` for that\n`Constraint` exhibits the following behavior:\n
  \ - If the `Policy` at this resource has enforced set to `false`, serial\n    port
  connection attempts will be allowed.\n  - If the `Policy` at this resource has enforced
  set to `true`, serial\n    port connection attempts will be refused.\n  - If the
  `Policy` at this resource is `RestoreDefault`, serial port\n    connection attempts
  will be allowed.\n  - If no `Policy` is set at this resource or anywhere higher
  in the\n    resource hierarchy, serial port connection attempts will be allowed.\n
  \ - If no `Policy` is set at this resource, but one exists higher in the\n    resource
  hierarchy, the behavior is as if the`Policy` were set at\n    this resource.\n\nThe
  following examples demonstrate the different possible layerings:\n\nExample 1 (nearest
  `Constraint` wins):\n  `organizations/foo` has a `Policy` with:\n    {enforced:
  false}\n  `projects/bar` has no `Policy` set.\nThe constraint at `projects/bar`
  and `organizations/foo` will not be\nenforced.\n\nExample 2 (enforcement gets replaced):\n
  \ `organizations/foo` has a `Policy` with:\n    {enforced: false}\n  `projects/bar`
  has a `Policy` with:\n    {enforced: true}\nThe constraint at `organizations/foo`
  is not enforced.\nThe constraint at `projects/bar` is enforced.\n\nExample 3 (RestoreDefault):\n
  \ `organizations/foo` has a `Policy` with:\n    {enforced: true}\n  `projects/bar`
  has a `Policy` with:\n    {RestoreDefault: {}}\nThe constraint at `organizations/foo`
  is enforced.\nThe constraint at `projects/bar` is not enforced, because\n`constraint_default`
  for the `Constraint` is `ALLOW`.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:21:\"ClearOrgPolicyRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  request sent to the ClearOrgPolicy method.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"constraint\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Name
  of the `Constraint` of the `Policy` to clear.\";s:4:\"type\";s:6:\"string\";}s:4:\"etag\";O:8:\"stdClass\":3:{s:11:\"description\";s:114:\"The
  current version, for concurrency control. Not sending an `etag`\nwill cause the
  `Policy` to be cleared blindly.\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"Constraint\";O:8:\"stdClass\":3:{s:11:\"description\";s:853:\"A
  `Constraint` describes a way in which a resource's configuration can be\nrestricted.
  For example, it controls which cloud services can be activated\nacross an organization,
  or whether a Compute Engine instance can have\nserial port connections established.
  `Constraints` can be configured by the\norganization's policy adminstrator to fit
  the needs of the organzation by\nsetting Policies for `Constraints` at different
  locations in the\norganization's resource hierarchy. Policies are inherited down
  the resource\nhierarchy from higher levels, but can also be overridden. For details
  about\nthe inheritance rules please read about\nPolicies.\n\n`Constraints` have
  a default behavior determined by the `constraint_default`\nfield, which is the enforcement
  behavior that is used in the absence of a\n`Policy` being defined or inherited for
  the resource in question.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:17:\"booleanConstraint\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/BooleanConstraint\";s:11:\"description\";s:53:\"Defines
  this constraint as being a BooleanConstraint.\";}s:17:\"constraintDefault\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"The
  evaluation behavior of this constraint in the absense of 'Policy'.\";s:4:\"enum\";a:3:{i:0;s:30:\"CONSTRAINT_DEFAULT_UNSPECIFIED\";i:1;s:5:\"ALLOW\";i:2;s:4:\"DENY\";}s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:106:\"Detailed
  description of what this `Constraint` controls as well as how and\nwhere it is enforced.\n\nMutable.\";s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  human readable name.\n\nMutable.\";s:4:\"type\";s:6:\"string\";}s:14:\"listConstraint\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ListConstraint\";s:11:\"description\";s:50:\"Defines
  this constraint as being a ListConstraint.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:96:\"Immutable
  value, required to globally be unique. For example,\n`constraints/serviceuser.services`\";s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Version
  of the `Constraint`. Default version is 0;\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Empty\";O:8:\"stdClass\":3:{s:11:\"description\";s:359:\"A
  generic empty message that you can re-use to avoid defining duplicated\nempty messages
  in your APIs. A typical example is to use it as the request\nor the response type
  of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty)
  returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is
  empty JSON object `{}`.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:15:\"FolderOperation\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Metadata
  describing a long running folder operation\";s:10:\"properties\";O:8:\"stdClass\":4:{s:17:\"destinationParent\";O:8:\"stdClass\":2:{s:11:\"description\";s:112:\"The
  resource name of the folder or organization we are either creating\nthe folder under
  or moving the folder to.\";s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  display name of the folder.\";s:4:\"type\";s:6:\"string\";}s:13:\"operationType\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"The
  type of this operation.\";s:4:\"enum\";a:3:{i:0;s:26:\"OPERATION_TYPE_UNSPECIFIED\";i:1;s:6:\"CREATE\";i:2;s:4:\"MOVE\";}s:4:\"type\";s:6:\"string\";}s:12:\"sourceParent\";O:8:\"stdClass\":2:{s:11:\"description\";s:90:\"The
  resource name of the folder's parent.\nOnly applicable when the operation_type is
  MOVE.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"FolderOperationError\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"A
  classification of the Folder Operation error.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"errorMessageId\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  type of operation error experienced.\";s:4:\"enum\";a:10:{i:0;s:22:\"ERROR_TYPE_UNSPECIFIED\";i:1;s:30:\"ACTIVE_FOLDER_HEIGHT_VIOLATION\";i:2;s:27:\"MAX_CHILD_FOLDERS_VIOLATION\";i:3;s:32:\"FOLDER_NAME_UNIQUENESS_VIOLATION\";i:4;s:26:\"RESOURCE_DELETED_VIOLATION\";i:5;s:24:\"PARENT_DELETED_VIOLATION\";i:6;s:26:\"CYCLE_INTRODUCED_VIOLATION\";i:7;s:28:\"FOLDER_BEING_MOVED_VIOLATION\";i:8;s:36:\"FOLDER_TO_DELETE_NON_EMPTY_VIOLATION\";i:9;s:31:\"DELETED_FOLDER_HEIGHT_VIOLATION\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"GetAncestryRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  request sent to the\nGetAncestry\nmethod.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:19:\"GetAncestryResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Response
  from the GetAncestry method.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"ancestor\";O:8:\"stdClass\":3:{s:11:\"description\";s:149:\"Ancestors
  are ordered from bottom to top of the resource hierarchy. The\nfirst ancestor is
  the project itself, followed by the project's parent,\netc..\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Ancestor\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:28:\"GetEffectiveOrgPolicyRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"The
  request sent to the GetEffectiveOrgPolicy method.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"constraint\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"The
  name of the `Constraint` to compute the effective `Policy`.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"GetIamPolicyRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Request
  message for `GetIamPolicy` method.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:19:\"GetOrgPolicyRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"The
  request sent to the GetOrgPolicy method.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"constraint\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Name
  of the `Constraint` to get the `Policy`.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Lien\";O:8:\"stdClass\":3:{s:11:\"description\";s:84:\"A
  Lien represents an encumbrance on the actions that can be performed on a\nresource.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:10:\"createTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  creation time of this Lien.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"A
  system-generated unique identifier for this Lien.\n\nExample: `liens/1234abcd`\";s:4:\"type\";s:6:\"string\";}s:6:\"origin\";O:8:\"stdClass\":2:{s:11:\"description\";s:188:\"A
  stable, user-visible/meaningful string identifying the origin of the\nLien, intended
  to be inspected programmatically. Maximum length of 200\ncharacters.\n\nExample:
  'compute.googleapis.com'\";s:4:\"type\";s:6:\"string\";}s:6:\"parent\";O:8:\"stdClass\":2:{s:11:\"description\";s:160:\"A
  reference to the resource this Lien is attached to. The server will\nvalidate the
  parent against those for which Liens are supported.\n\nExample: `projects/1234`\";s:4:\"type\";s:6:\"string\";}s:6:\"reason\";O:8:\"stdClass\":2:{s:11:\"description\";s:159:\"Concise
  user-visible strings indicating why an action cannot be performed\non a resource.
  Maximum length of 200 characters.\n\nExample: 'Holds production API key'\";s:4:\"type\";s:6:\"string\";}s:12:\"restrictions\";O:8:\"stdClass\":3:{s:11:\"description\";s:308:\"The
  types of operations which should be blocked as a result of this Lien.\nEach value
  should correspond to an IAM permission. The server will\nvalidate the permissions
  against those for which Liens are supported.\n\nAn empty list is meaningless and
  will be rejected.\n\nExample: ['resourcemanager.projects.delete']\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:40:\"ListAvailableOrgPolicyConstraintsRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:128:\"The
  request sent to the [ListAvailableOrgPolicyConstraints]\ngoogle.cloud.OrgPolicy.v1.ListAvailableOrgPolicyConstraints]
  method.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"pageSize\";O:8:\"stdClass\":3:{s:11:\"description\";s:155:\"Size
  of the pages to be returned. This is currently unsupported and will\nbe ignored.
  The server may at any point start using this field to limit\npage size.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"pageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:145:\"Page
  token used to retrieve the next page. This is currently unsupported\nand will be
  ignored. The server may at any point start using this field.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:41:\"ListAvailableOrgPolicyConstraintsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:239:\"The
  response returned from the ListAvailableOrgPolicyConstraints method.\nReturns all
  `Constraints` that could be set at this level of the hierarchy\n(contrast with the
  response from `ListPolicies`, which returns all policies\nwhich are set).\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"constraints\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"The
  collection of constraints that are settable on the request resource.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Constraint\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"Page
  token used to retrieve the next page. This is currently not used.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"ListConstraint\";O:8:\"stdClass\":3:{s:11:\"description\";s:144:\"A
  `Constraint` that allows or disallows a list of string values, which are\nconfigured
  by an Organization's policy administrator with a `Policy`.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"suggestedValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:128:\"Optional.
  The Google Cloud Console will try to default to a configuration\nthat matches the
  value specified in this `Constraint`.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"ListLiensResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  response message for Liens.ListLiens.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"liens\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"A
  list of Liens.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Lien\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:94:\"Token
  to retrieve the next page of results, or empty if there are no more\nresults in
  the list.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:22:\"ListOrgPoliciesRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  request sent to the ListOrgPolicies method.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"pageSize\";O:8:\"stdClass\":3:{s:11:\"description\";s:155:\"Size
  of the pages to be returned. This is currently unsupported and will\nbe ignored.
  The server may at any point start using this field to limit\npage size.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"pageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:145:\"Page
  token used to retrieve the next page. This is currently unsupported\nand will be
  ignored. The server may at any point start using this field.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:23:\"ListOrgPoliciesResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:113:\"The
  response returned from the ListOrgPolicies method. It will be empty\nif no `Policies`
  are set on the resource.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:133:\"Page
  token used to retrieve the next page. This is currently not used, but\nthe server
  may at any point start supplying a valid token.\";s:4:\"type\";s:6:\"string\";}s:8:\"policies\";O:8:\"stdClass\":3:{s:11:\"description\";s:87:\"The
  `Policies` that are set on the resource. It will be empty if no\n`Policies` are
  set.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/OrgPolicy\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:10:\"ListPolicy\";O:8:\"stdClass\":3:{s:11:\"description\";s:577:\"Used
  in `policy_type` to specify how `list_policy` behaves at this\nresource.\n\nA `ListPolicy`
  can define specific values that are allowed or denied by\nsetting either the `allowed_values`
  or `denied_values` fields. It can also\nbe used to allow or deny all values, by
  setting the `all_values` field. If\n`all_values` is `ALL_VALUES_UNSPECIFIED`, exactly
  one of `allowed_values`\nor `denied_values` must be set (attempting to set both
  or neither will\nresult in a failed request). If `all_values` is set to either `ALLOW`
  or\n`DENY`, `allowed_values` and `denied_values` must be unset.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"allValues\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"The
  policy all_values state.\";s:4:\"enum\";a:3:{i:0;s:22:\"ALL_VALUES_UNSPECIFIED\";i:1;s:5:\"ALLOW\";i:2;s:4:\"DENY\";}s:4:\"type\";s:6:\"string\";}s:13:\"allowedValues\";O:8:\"stdClass\":3:{s:11:\"description\";s:151:\"List
  of values allowed  at this resource. Can only be set if no values\nare set for `denied_values`
  and `all_values` is set to\n`ALL_VALUES_UNSPECIFIED`.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:12:\"deniedValues\";O:8:\"stdClass\":3:{s:11:\"description\";s:150:\"List
  of values denied at this resource. Can only be set if no values are\nset for `allowed_values`
  and `all_values` is set to\n`ALL_VALUES_UNSPECIFIED`.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:17:\"inheritFromParent\";O:8:\"stdClass\":2:{s:11:\"description\";s:3701:\"Determines
  the inheritance behavior for this `Policy`.\n\nBy default, a `ListPolicy` set at
  a resource supercedes any `Policy` set\nanywhere up the resource hierarchy. However,
  if `inherit_from_parent` is\nset to `true`, then the values from the effective `Policy`
  of the parent\nresource are inherited, meaning the values set in this `Policy` are\nadded
  to the values inherited up the hierarchy.\n\nSetting `Policy` hierarchies that inherit
  both allowed values and denied\nvalues isn't recommended in most circumstances to
  keep the configuration\nsimple and understandable. However, it is possible to set
  a `Policy` with\n`allowed_values` set that inherits a `Policy` with `denied_values`
  set.\nIn this case, the values that are allowed must be in `allowed_values` and\nnot
  present in `denied_values`.\n\nFor example, suppose you have a `Constraint`\n`constraints/serviceuser.services`,
  which has a `constraint_type` of\n`list_constraint`, and with `constraint_default`
  set to `ALLOW`.\nSuppose that at the Organization level, a `Policy` is applied that\nrestricts
  the allowed API activations to {`E1`, `E2`}. Then, if a\n`Policy` is applied to
  a project below the Organization that has\n`inherit_from_parent` set to `false`
  and field all_values set to DENY,\nthen an attempt to activate any API will be denied.\n\nThe
  following examples demonstrate different possible layerings:\n\nExample 1 (no inherited
  values):\n  `organizations/foo` has a `Policy` with values:\n    {allowed_values:
  \u201CE1\u201D allowed_values:\u201DE2\u201D}\n  ``projects/bar`` has `inherit_from_parent`
  `false` and values:\n    {allowed_values: \"E3\" allowed_values: \"E4\"}\nThe accepted
  values at `organizations/foo` are `E1`, `E2`.\nThe accepted values at `projects/bar`
  are `E3`, and `E4`.\n\nExample 2 (inherited values):\n  `organizations/foo` has
  a `Policy` with values:\n    {allowed_values: \u201CE1\u201D allowed_values:\u201DE2\u201D}\n
  \ `projects/bar` has a `Policy` with values:\n    {value: \u201CE3\u201D value:
  \u201DE4\u201D inherit_from_parent: true}\nThe accepted values at `organizations/foo`
  are `E1`, `E2`.\nThe accepted values at `projects/bar` are `E1`, `E2`, `E3`, and
  `E4`.\n\nExample 3 (inheriting both allowed and denied values):\n  `organizations/foo`
  has a `Policy` with values:\n    {allowed_values: \"E1\" allowed_values: \"E2\"}\n
  \ `projects/bar` has a `Policy` with:\n    {denied_values: \"E1\"}\nThe accepted
  values at `organizations/foo` are `E1`, `E2`.\nThe value accepted at `projects/bar`
  is `E2`.\n\nExample 4 (RestoreDefault):\n  `organizations/foo` has a `Policy` with
  values:\n    {allowed_values: \u201CE1\u201D allowed_values:\u201DE2\u201D}\n  `projects/bar`
  has a `Policy` with values:\n    {RestoreDefault: {}}\nThe accepted values at `organizations/foo`
  are `E1`, `E2`.\nThe accepted values at `projects/bar` are either all or none depending
  on\nthe value of `constraint_default` (if `ALLOW`, all; if\n`DENY`, none).\n\nExample
  5 (no policy inherits parent policy):\n  `organizations/foo` has no `Policy` set.\n
  \ `projects/bar` has no `Policy` set.\nThe accepted values at both levels are either
  all or none depending on\nthe value of `constraint_default` (if `ALLOW`, all; if\n`DENY`,
  none).\n\nExample 6 (ListConstraint allowing all):\n  `organizations/foo` has a
  `Policy` with values:\n    {allowed_values: \u201CE1\u201D allowed_values: \u201DE2\u201D}\n
  \ `projects/bar` has a `Policy` with:\n    {all: ALLOW}\nThe accepted values at
  `organizations/foo` are `E1`, E2`.\nAny value is accepted at `projects/bar`.\n\nExample
  7 (ListConstraint allowing none):\n  `organizations/foo` has a `Policy` with values:\n
  \   {allowed_values: \u201CE1\u201D allowed_values: \u201DE2\u201D}\n  `projects/bar`
  has a `Policy` with:\n    {all: DENY}\nThe accepted values at `organizations/foo`
  are `E1`, E2`.\nNo value is accepted at `projects/bar`.\";s:4:\"type\";s:7:\"boolean\";}s:14:\"suggestedValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:259:\"Optional.
  The Google Cloud Console will try to default to a configuration\nthat matches the
  value specified in this `Policy`. If `suggested_value`\nis not set, it will inherit
  the value specified higher in the hierarchy,\nunless `inherit_from_parent` is `false`.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"ListProjectsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:223:\"A
  page of the response received from the\nListProjects\nmethod.\n\nA paginated response
  where more pages are available has\n`next_page_token` set. This token can be used
  in a subsequent request to\nretrieve the next request page.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:433:\"Pagination
  token.\n\nIf the result set is too large to fit in a single response, this token\nis
  returned. It encodes the position of the current result cursor.\nFeeding this value
  into a new list request with the `page_token` parameter\ngives the next page of
  the results.\n\nWhen `next_page_token` is not filled in, there is no next page and\nthe
  list returned is the last page in the result set.\n\nPagination tokens have a limited
  lifetime.\";s:4:\"type\";s:6:\"string\";}s:8:\"projects\";O:8:\"stdClass\":3:{s:11:\"description\";s:78:\"The
  list of Projects that matched the list filter. This list can\nbe paginated.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Project\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:9:\"Operation\";O:8:\"stdClass\":3:{s:11:\"description\";s:91:\"This
  resource represents a long-running operation that is the result of a\nnetwork API
  call.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"done\";O:8:\"stdClass\":2:{s:11:\"description\";s:155:\"If
  the value is `false`, it means the operation is still in progress.\nIf `true`, the
  operation is completed, and either `error` or `response` is\navailable.\";s:4:\"type\";s:7:\"boolean\";}s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Status\";s:11:\"description\";s:69:\"The
  error result of the operation in case of failure or cancellation.\";}s:8:\"metadata\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:61:\"Properties
  of the object. Contains field @type with type URL.\";}s:11:\"description\";s:281:\"Service-specific
  metadata associated with the operation.  It typically\ncontains progress information
  and common metadata such as create time.\nSome services might not provide such metadata.
  \ Any method that returns a\nlong-running operation should document the metadata
  type, if any.\";s:4:\"type\";s:6:\"object\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:203:\"The
  server-assigned name, which is only unique within the same service that\noriginally
  returns it. If you use the default HTTP mapping, the\n`name` should have the format
  of `operations/some/unique/name`.\";s:4:\"type\";s:6:\"string\";}s:8:\"response\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:61:\"Properties
  of the object. Contains field @type with type URL.\";}s:11:\"description\";s:492:\"The
  normal response of the operation in case of success.  If the original\nmethod returns
  no data on success, such as `Delete`, the response is\n`google.protobuf.Empty`.
  \ If the original method is standard\n`Get`/`Create`/`Update`, the response should
  be the resource.  For other\nmethods, the response should have the type `XxxResponse`,
  where `Xxx`\nis the original method name.  For example, if the original method name\nis
  `TakeSnapshot()`, the inferred response type is\n`TakeSnapshotResponse`.\";s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:9:\"OrgPolicy\";O:8:\"stdClass\":3:{s:11:\"description\";s:124:\"Defines
  a Cloud Organization `Policy` which is used to specify `Constraints`\nfor configurations
  of Cloud Platform resources.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:13:\"booleanPolicy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/BooleanPolicy\";s:11:\"description\";s:70:\"For
  boolean `Constraints`, whether to enforce the `Constraint` or not.\";}s:10:\"constraint\";O:8:\"stdClass\":2:{s:11:\"description\";s:133:\"The
  name of the `Constraint` the `Policy` is configuring, for example,\n`constraints/serviceuser.services`.\n\nImmutable
  after creation.\";s:4:\"type\";s:6:\"string\";}s:4:\"etag\";O:8:\"stdClass\":3:{s:11:\"description\";s:668:\"An
  opaque tag indicating the current version of the `Policy`, used for\nconcurrency
  control.\n\nWhen the `Policy` is returned from either a `GetPolicy` or a\n`ListOrgPolicy`
  request, this `etag` indicates the version of the current\n`Policy` to use when
  executing a read-modify-write loop.\n\nWhen the `Policy` is returned from a `GetEffectivePolicy`
  request, the\n`etag` will be unset.\n\nWhen the `Policy` is used in a `SetOrgPolicy`
  method, use the `etag` value\nthat was returned from a `GetOrgPolicy` request as
  part of a\nread-modify-write loop for concurrency control. Not setting the `etag`in
  a\n`SetOrgPolicy` request will result in an unconditional write of the\n`Policy`.\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}s:10:\"listPolicy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ListPolicy\";s:11:\"description\";s:44:\"List
  of values either allowed or disallowed.\";}s:14:\"restoreDefault\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/RestoreDefault\";s:11:\"description\";s:82:\"Restores
  the default behavior of the constraint; independent of\n`Constraint` type.\";}s:10:\"updateTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:234:\"The
  time stamp the `Policy` was previously updated. This is set by the\nserver, not
  specified by the caller, and represents the last time a call to\n`SetOrgPolicy`
  was made for that `Policy`. Any value set by the client will\nbe ignored.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Version
  of the `Policy`. Default version is 0;\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:12:\"Organization\";O:8:\"stdClass\":3:{s:11:\"description\";s:104:\"The
  root node in the resource hierarchy to which a particular entity's\n(e.g., company)
  resources belong.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"creationTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"Timestamp
  when the Organization was created. Assigned by the server.\n@OutputOnly\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:271:\"A
  human-readable string that refers to the Organization in the\nGCP Console UI. This
  string is set by the server and cannot be\nchanged. The string will be set to the
  primary domain (for example,\n\"google.com\") of the G Suite customer that owns
  the organization.\n@OutputOnly\";s:4:\"type\";s:6:\"string\";}s:14:\"lifecycleState\";O:8:\"stdClass\":3:{s:11:\"description\";s:79:\"The
  organization's current lifecycle state. Assigned by the server.\n@OutputOnly\";s:4:\"enum\";a:3:{i:0;s:27:\"LIFECYCLE_STATE_UNSPECIFIED\";i:1;s:6:\"ACTIVE\";i:2;s:16:\"DELETE_REQUESTED\";}s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:188:\"Output
  Only. The resource name of the organization. This is the\norganization's relative
  path in the API. Its format is\n\"organizations/[organization_id]\". For example,
  \"organizations/1234\".\";s:4:\"type\";s:6:\"string\";}s:5:\"owner\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/OrganizationOwner\";s:11:\"description\";s:130:\"The
  owner of this Organization. The owner should be specified on\ncreation. Once set,
  it cannot be changed.\nThis field is required.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"OrganizationOwner\";O:8:\"stdClass\":3:{s:11:\"description\";s:232:\"The
  entity that owns an Organization. The lifetime of the Organization and\nall of its
  descendants are bound to the `OrganizationOwner`. If the\n`OrganizationOwner` is
  deleted, the Organization and all its descendants will\nbe deleted.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:19:\"directoryCustomerId\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"The
  G Suite customer id used in the Directory API.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Policy\";O:8:\"stdClass\":3:{s:11:\"description\";s:1215:\"Defines
  an Identity and Access Management (IAM) policy. It is used to\nspecify access control
  policies for Cloud Platform resources.\n\n\nA `Policy` consists of a list of `bindings`.
  A `binding` binds a list of\n`members` to a `role`, where the members can be user
  accounts, Google groups,\nGoogle domains, and service accounts. A `role` is a named
  list of permissions\ndefined by IAM.\n\n**JSON Example**\n\n    {\n      \"bindings\":
  [\n        {\n          \"role\": \"roles/owner\",\n          \"members\": [\n            \"user:mike@example.com\",\n
  \           \"group:admins@example.com\",\n            \"domain:google.com\",\n
  \           \"serviceAccount:my-other-app@appspot.gserviceaccount.com\"\n          ]\n
  \       },\n        {\n          \"role\": \"roles/viewer\",\n          \"members\":
  [\"user:sean@example.com\"]\n        }\n      ]\n    }\n\n**YAML Example**\n\n    bindings:\n
  \   - members:\n      - user:mike@example.com\n      - group:admins@example.com\n
  \     - domain:google.com\n      - serviceAccount:my-other-app@appspot.gserviceaccount.com\n
  \     role: roles/owner\n    - members:\n      - user:sean@example.com\n      role:
  roles/viewer\n\n\nFor a description of IAM and its features, see the\n[IAM developer's
  guide](https://cloud.google.com/iam/docs).\";s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"auditConfigs\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"Specifies
  cloud audit logging configuration for this policy.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/AuditConfig\";}s:4:\"type\";s:5:\"array\";}s:8:\"bindings\";O:8:\"stdClass\":3:{s:11:\"description\";s:95:\"Associates
  a list of `members` to a `role`.\n`bindings` with no members will result in an error.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Binding\";}s:4:\"type\";s:5:\"array\";}s:4:\"etag\";O:8:\"stdClass\":3:{s:11:\"description\";s:606:\"`etag`
  is used for optimistic concurrency control as a way to help\nprevent simultaneous
  updates of a policy from overwriting each other.\nIt is strongly suggested that
  systems make use of the `etag` in the\nread-modify-write cycle to perform policy
  updates in order to avoid race\nconditions: An `etag` is returned in the response
  to `getIamPolicy`, and\nsystems are expected to put that etag in the request to
  `setIamPolicy` to\nensure that their change will be applied to the same version
  of the policy.\n\nIf no `etag` is provided in the call to `setIamPolicy`, then the
  existing\npolicy is overwritten blindly.\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Deprecated.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Project\";O:8:\"stdClass\":3:{s:11:\"description\";s:155:\"A
  Project is a high-level Google Cloud Platform entity.  It is a\ncontainer for ACLs,
  APIs, App Engine Apps, VMs, and other\nGoogle Cloud Platform resources.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:10:\"createTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Creation
  time.\n\nRead-only.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:6:\"labels\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:563:\"The
  labels associated with this Project.\n\nLabel keys must be between 1 and 63 characters
  long and must conform\nto the following regular expression: \\[a-z\\](\\[-a-z0-9\\]*\\[a-z0-9\\])?.\n\nLabel
  values must be between 0 and 63 characters long and must conform\nto the regular
  expression (\\[a-z\\](\\[-a-z0-9\\]*\\[a-z0-9\\])?)?.\n\nNo more than 256 labels
  can be associated with a given resource.\n\nClients should store labels in a representation
  such as JSON that does not\ndepend on specific characters being disallowed.\n\nExample:
  <code>\"environment\" : \"dev\"</code>\nRead-write.\";s:4:\"type\";s:6:\"object\";}s:14:\"lifecycleState\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  Project lifecycle state.\n\nRead-only.\";s:4:\"enum\";a:4:{i:0;s:27:\"LIFECYCLE_STATE_UNSPECIFIED\";i:1;s:6:\"ACTIVE\";i:2;s:16:\"DELETE_REQUESTED\";i:3;s:18:\"DELETE_IN_PROGRESS\";}s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:255:\"The
  user-assigned display name of the Project.\nIt must be 4 to 30 characters.\nAllowed
  characters are: lowercase and uppercase letters, numbers,\nhyphen, single-quote,
  double-quote, space, and exclamation point.\n\nExample: <code>My Project</code>\nRead-write.\";s:4:\"type\";s:6:\"string\";}s:6:\"parent\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ResourceId\";s:11:\"description\";s:317:\"An
  optional reference to a parent Resource.\n\nSupported parent types include \"organization\"
  and \"folder\". Once set, the\nparent cannot be cleared. The `parent` can be set
  on creation or using the\n`UpdateProject` method; the end user must have the\n`resourcemanager.projects.create`
  permission on the parent.\n\nRead-write.\";}s:9:\"projectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:228:\"The
  unique, user-assigned ID of the Project.\nIt must be 6 to 30 lowercase letters,
  digits, or hyphens.\nIt must start with a letter.\nTrailing hyphens are prohibited.\n\nExample:
  <code>tokyo-rain-123</code>\nRead-only after creation.\";s:4:\"type\";s:6:\"string\";}s:13:\"projectNumber\";O:8:\"stdClass\":3:{s:11:\"description\";s:91:\"The
  number uniquely identifying the project.\n\nExample: <code>415104041262</code>\nRead-only.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"ProjectCreationStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:182:\"A
  status object which is used as the `metadata` field for the Operation\nreturned
  by CreateProject. It provides insight for when significant phases of\nProject creation
  have completed.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"createTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Creation
  time of the project creation workflow.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:8:\"gettable\";O:8:\"stdClass\":2:{s:11:\"description\";s:152:\"True
  if the project can be retrieved using GetProject. No other operations\non the project
  are guaranteed to work until the project creation is\ncomplete.\";s:4:\"type\";s:7:\"boolean\";}s:5:\"ready\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"True
  if the project creation process is complete.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:10:\"ResourceId\";O:8:\"stdClass\":3:{s:11:\"description\";s:290:\"A
  container to reference an id for any resource type. A `resource` in Google\nCloud
  Platform is a generic term for something you (a developer) may want to\ninteract
  with through one of our API's. Some examples are an App Engine app,\na Compute Engine
  instance, a Cloud SQL database, and so on.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:106:\"Required
  field for the type-specific id. This should correspond to the id\nused in the type-specific
  API's.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:109:\"Required
  field representing the resource type this id is for.\nAt present, the valid types
  are: \"organization\"\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"RestoreDefault\";O:8:\"stdClass\":3:{s:11:\"description\";s:676:\"Ignores
  policies set above this resource and restores the\n`constraint_default` enforcement
  behavior of the specific `Constraint` at\nthis resource.\n\nSuppose that `constraint_default`
  is set to `ALLOW` for the\n`Constraint` `constraints/serviceuser.services`. Suppose
  that organization\nfoo.com sets a `Policy` at their Organization resource node that
  restricts\nthe allowed service activations to deny all service activations. They\ncould
  then set a `Policy` with the `policy_type` `restore_default` on\nseveral experimental
  projects, restoring the `constraint_default`\nenforcement of the `Constraint` for
  only those projects, allowing those\nprojects to have all services activated.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:26:\"SearchOrganizationsRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"The
  request sent to the `SearchOrganizations` method.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"filter\";O:8:\"stdClass\":2:{s:11:\"description\";s:502:\"An
  optional query string used to filter the Organizations to return in\nthe response.
  Filter rules are case-insensitive.\n\n\nOrganizations may be filtered by `owner.directoryCustomerId`
  or by\n`domain`, where the domain is a G Suite domain, for example:\n\n|Filter|Description|\n|------|-----------|\n|owner.directorycustomerid:123456789|Organizations
  with\n`owner.directory_customer_id` equal to `123456789`.|\n|domain:google.com|Organizations
  corresponding to the domain `google.com`.|\n\nThis field is optional.\";s:4:\"type\";s:6:\"string\";}s:8:\"pageSize\";O:8:\"stdClass\":3:{s:11:\"description\";s:86:\"The
  maximum number of Organizations to return in the response.\nThis field is optional.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"pageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:148:\"A
  pagination token returned from a previous call to `SearchOrganizations`\nthat indicates
  from where listing should continue.\nThis field is optional.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:27:\"SearchOrganizationsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"The
  response returned from the `SearchOrganizations` method.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:327:\"A
  pagination token to be used to retrieve the next page of results. If the\nresult
  is too large to fit within the page size specified in the request,\nthis field will
  be set with a token that can be used to fetch the next page\nof results. If this
  field is empty, it indicates that this response\ncontains the last page of results.\";s:4:\"type\";s:6:\"string\";}s:13:\"organizations\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"The
  list of Organizations that matched the search query, possibly\npaginated.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/Organization\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:19:\"SetIamPolicyRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Request
  message for `SetIamPolicy` method.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"policy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Policy\";s:11:\"description\";s:224:\"REQUIRED:
  The complete policy to be applied to the `resource`. The size of\nthe policy is
  limited to a few 10s of KB. An empty policy is a\nvalid policy but certain Cloud
  Platform services (such as Projects)\nmight reject them.\";}s:10:\"updateMask\";O:8:\"stdClass\":3:{s:11:\"description\";s:238:\"OPTIONAL:
  A FieldMask specifying which fields of the policy to modify. Only\nthe fields in
  the mask will be modified. If no mask is provided, the\nfollowing default mask is
  used:\npaths: \"bindings, etag\"\nThis field is only used by Cloud IAM.\";s:6:\"format\";s:16:\"google-fieldmask\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"SetOrgPolicyRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  request sent to the SetOrgPolicyRequest method.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"policy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/OrgPolicy\";s:11:\"description\";s:32:\"`Policy`
  to set on the resource.\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Status\";O:8:\"stdClass\":3:{s:11:\"description\";s:2437:\"The
  `Status` type defines a logical error model that is suitable for different\nprogramming
  environments, including REST APIs and RPC APIs. It is used by\n[gRPC](https://github.com/grpc).
  The error model is designed to be:\n\n- Simple to use and understand for most users\n-
  Flexible enough to meet unexpected needs\n\n# Overview\n\nThe `Status` message contains
  three pieces of data: error code, error message,\nand error details. The error code
  should be an enum value of\ngoogle.rpc.Code, but it may accept additional error
  codes if needed.  The\nerror message should be a developer-facing English message
  that helps\ndevelopers *understand* and *resolve* the error. If a localized user-facing\nerror
  message is needed, put the localized message in the error details or\nlocalize it
  in the client. The optional error details may contain arbitrary\ninformation about
  the error. There is a predefined set of error detail types\nin the package `google.rpc`
  that can be used for common error conditions.\n\n# Language mapping\n\nThe `Status`
  message is the logical representation of the error model, but it\nis not necessarily
  the actual wire format. When the `Status` message is\nexposed in different client
  libraries and different wire protocols, it can be\nmapped differently. For example,
  it will likely be mapped to some exceptions\nin Java, but more likely mapped to
  some error codes in C.\n\n# Other uses\n\nThe error model and the `Status` message
  can be used in a variety of\nenvironments, either with or without APIs, to provide
  a\nconsistent developer experience across different environments.\n\nExample uses
  of this error model include:\n\n- Partial errors. If a service needs to return partial
  errors to the client,\n    it may embed the `Status` in the normal response to indicate
  the partial\n    errors.\n\n- Workflow errors. A typical workflow has multiple steps.
  Each step may\n    have a `Status` message for error reporting.\n\n- Batch operations.
  If a client uses batch request and batch response, the\n    `Status` message should
  be used directly inside batch response, one for\n    each error sub-response.\n\n-
  Asynchronous operations. If an API call embeds asynchronous operation\n    results
  in its response, the status of those operations should be\n    represented directly
  using the `Status` message.\n\n- Logging. If some API errors are stored in logs,
  the message `Status` could\n    be used directly after any stripping needed for
  security/privacy reasons.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"The
  status code, which should be an enum value of google.rpc.Code.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"details\";O:8:\"stdClass\":3:{s:11:\"description\";s:105:\"A
  list of messages that carry the error details.  There is a common set of\nmessage
  types for APIs to use.\";s:5:\"items\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:61:\"Properties
  of the object. Contains field @type with type URL.\";}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:188:\"A
  developer-facing error message, which should be in English. Any\nuser-facing error
  message should be localized and sent in the\ngoogle.rpc.Status.details field, or
  localized by the client.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:25:\"TestIamPermissionsRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Request
  message for `TestIamPermissions` method.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"permissions\";O:8:\"stdClass\":3:{s:11:\"description\";s:221:\"The
  set of permissions to check for the `resource`. Permissions with\nwildcards (such
  as '*' or 'storage.*') are not allowed. For more\ninformation see\n[IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:26:\"TestIamPermissionsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Response
  message for `TestIamPermissions` method.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"permissions\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"A
  subset of `TestPermissionsRequest.permissions` that the caller is\nallowed.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:22:\"UndeleteProjectRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  request sent to the UndeleteProject\nmethod.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}}"
...
