---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Google\";s:3:\"url\";s:18:\"https://google.com\";}s:11:\"description\";s:83:\"Creates,
  reads, and updates metadata for Google Cloud Platform resource containers.\";s:5:\"title\";s:22:\"Cloud
  Resource Manager\";s:7:\"version\";s:2:\"v2\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:37:\"https://console.developers.google.com\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:90:\"https://api.apis.guru/v2/cache/logo/https_cloud.google.com__static_images_new-gcp-logo.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:6:\"2.7.11\";}s:6:\"format\";s:6:\"google\";s:3:\"url\";s:70:\"https://cloudresourcemanager.googleapis.com/$discovery/rest?version=v2\";s:7:\"version\";s:2:\"v1\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"googleapis.com\";s:13:\"x-serviceName\";s:20:\"cloudresourcemanager\";}"
host: cloudresourcemanager.googleapis.com
basePath: /
paths: ~
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":20:{s:11:\"AuditConfig\";O:8:\"stdClass\":3:{s:11:\"description\";s:1479:\"Specifies
  the audit configuration for a service.\nThe configuration determines which permission
  types are logged, and what\nidentities, if any, are exempted from logging.\nAn AuditConfig
  must have one or more AuditLogConfigs.\n\nIf there are AuditConfigs for both `allServices`
  and a specific service,\nthe union of the two AuditConfigs is used for that service:
  the log_types\nspecified in each AuditConfig are enabled, and the exempted_members
  in each\nAuditLogConfig are exempted.\n\nExample Policy with multiple AuditConfigs:\n\n
  \   {\n      \"audit_configs\": [\n        {\n          \"service\": \"allServices\"\n
  \         \"audit_log_configs\": [\n            {\n              \"log_type\": \"DATA_READ\",\n
  \             \"exempted_members\": [\n                \"user:foo@gmail.com\"\n
  \             ]\n            },\n            {\n              \"log_type\": \"DATA_WRITE\",\n
  \           },\n            {\n              \"log_type\": \"ADMIN_READ\",\n            }\n
  \         ]\n        },\n        {\n          \"service\": \"fooservice.googleapis.com\"\n
  \         \"audit_log_configs\": [\n            {\n              \"log_type\": \"DATA_READ\",\n
  \           },\n            {\n              \"log_type\": \"DATA_WRITE\",\n              \"exempted_members\":
  [\n                \"user:bar@gmail.com\"\n              ]\n            }\n          ]\n
  \       }\n      ]\n    }\n\nFor fooservice, this policy enables DATA_READ, DATA_WRITE
  and ADMIN_READ\nlogging. It also exempts foo@gmail.com from DATA_READ logging, and\nbar@gmail.com
  from DATA_WRITE logging.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"auditLogConfigs\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"The
  configuration for logging of each type of permission.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/AuditLogConfig\";}s:4:\"type\";s:5:\"array\";}s:7:\"service\";O:8:\"stdClass\":2:{s:11:\"description\";s:184:\"Specifies
  a service that will be enabled for audit logging.\nFor example, `storage.googleapis.com`,
  `cloudsql.googleapis.com`.\n`allServices` is a special value that covers all services.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"AuditLogConfig\";O:8:\"stdClass\":3:{s:11:\"description\";s:415:\"Provides
  the configuration for logging a type of permissions.\nExample:\n\n    {\n      \"audit_log_configs\":
  [\n        {\n          \"log_type\": \"DATA_READ\",\n          \"exempted_members\":
  [\n            \"user:foo@gmail.com\"\n          ]\n        },\n        {\n          \"log_type\":
  \"DATA_WRITE\",\n        }\n      ]\n    }\n\nThis enables 'DATA_READ' and 'DATA_WRITE'
  logging, while exempting\nfoo@gmail.com from DATA_READ logging.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"exemptedMembers\";O:8:\"stdClass\":3:{s:11:\"description\";s:123:\"Specifies
  the identities that do not cause logging for this type of\npermission.\nFollows
  the same format of Binding.members.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"logType\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  log type that this config enables.\";s:4:\"enum\";a:4:{i:0;s:20:\"LOG_TYPE_UNSPECIFIED\";i:1;s:10:\"ADMIN_READ\";i:2;s:10:\"DATA_WRITE\";i:3;s:9:\"DATA_READ\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Binding\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Associates
  `members` with a `role`.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"condition\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Expr\";s:11:\"description\";s:221:\"Unimplemented.
  The condition that is associated with this binding.\nNOTE: an unsatisfied condition
  will not allow user access via current\nbinding. Different bindings, including their
  conditions, are examined\nindependently.\";}s:7:\"members\";O:8:\"stdClass\":3:{s:11:\"description\";s:888:\"Specifies
  the identities requesting access for a Cloud Platform resource.\n`members` can have
  the following values:\n\n* `allUsers`: A special identifier that represents anyone
  who is\n   on the internet; with or without a Google account.\n\n* `allAuthenticatedUsers`:
  A special identifier that represents anyone\n   who is authenticated with a Google
  account or a service account.\n\n* `user:{emailid}`: An email address that represents
  a specific Google\n   account. For example, `alice@gmail.com` .\n\n\n* `serviceAccount:{emailid}`:
  An email address that represents a service\n   account. For example, `my-other-app@appspot.gserviceaccount.com`.\n\n*
  `group:{emailid}`: An email address that represents a Google group.\n   For example,
  `admins@example.com`.\n\n\n* `domain:{domain}`: A Google Apps domain name that represents
  all the\n   users of that domain. For example, `google.com` or `example.com`.\n\n\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"role\";O:8:\"stdClass\":2:{s:11:\"description\";s:98:\"Role
  that is assigned to `members`.\nFor example, `roles/viewer`, `roles/editor`, or
  `roles/owner`.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Expr\";O:8:\"stdClass\":3:{s:11:\"description\";s:185:\"Represents
  an expression text. Example:\n\n    title: \"User account presence\"\n    description:
  \"Determines whether the request has a user account\"\n    expression: \"size(request.user)
  > 0\"\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:131:\"An
  optional description of the expression. This is a longer text which\ndescribes the
  expression, e.g. when hovered over it in a UI.\";s:4:\"type\";s:6:\"string\";}s:10:\"expression\";O:8:\"stdClass\":2:{s:11:\"description\";s:189:\"Textual
  representation of an expression in\nCommon Expression Language syntax.\n\nThe application
  context of the containing message determines which\nwell-known feature set of CEL
  is supported.\";s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:126:\"An
  optional string indicating the location of the expression for error\nreporting,
  e.g. a file name and a position in the file.\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:147:\"An
  optional title for the expression, i.e. a short string describing\nits purpose.
  This can be used e.g. in UIs which allow to enter the\nexpression.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Folder\";O:8:\"stdClass\":3:{s:11:\"description\";s:97:\"A
  Folder in an Organization's resource hierarchy, used to\norganize that Organization's
  resources.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"createTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"Output
  only. Timestamp when the Folder was created. Assigned by the server.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:421:\"The
  folder\u2019s display name.\nA folder\u2019s display name must be unique amongst
  its siblings, e.g.\nno two folders with the same parent can share the same display
  name.\nThe display name must start and end with a letter or digit, may contain\nletters,
  digits, spaces, hyphens and underscores and can be no longer\nthan 30 characters.
  This is captured by the regular expression:\n[\\p{L}\\p{N}]([\\p{L}\\p{N}_- ]{0,28}[\\p{L}\\p{N}])?.\";s:4:\"type\";s:6:\"string\";}s:14:\"lifecycleState\";O:8:\"stdClass\":3:{s:11:\"description\";s:134:\"Output
  only.  The lifecycle state of the folder.\nUpdates to the lifecycle_state must be
  performed via\nDeleteFolder and\nUndeleteFolder.\";s:4:\"enum\";a:3:{i:0;s:27:\"LIFECYCLE_STATE_UNSPECIFIED\";i:1;s:6:\"ACTIVE\";i:2;s:16:\"DELETE_REQUESTED\";}s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:111:\"Output
  only. The resource name of the Folder.\nIts format is `folders/{folder_id}`, for
  example: \"folders/1234\".\";s:4:\"type\";s:6:\"string\";}s:6:\"parent\";O:8:\"stdClass\":2:{s:11:\"description\";s:103:\"The
  Folder\u2019s parent's resource name.\nUpdates to the folder's parent must be performed
  via\nMoveFolder.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"FolderOperation\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Metadata
  describing a long running folder operation\";s:10:\"properties\";O:8:\"stdClass\":4:{s:17:\"destinationParent\";O:8:\"stdClass\":2:{s:11:\"description\";s:112:\"The
  resource name of the folder or organization we are either creating\nthe folder under
  or moving the folder to.\";s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  display name of the folder.\";s:4:\"type\";s:6:\"string\";}s:13:\"operationType\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"The
  type of this operation.\";s:4:\"enum\";a:3:{i:0;s:26:\"OPERATION_TYPE_UNSPECIFIED\";i:1;s:6:\"CREATE\";i:2;s:4:\"MOVE\";}s:4:\"type\";s:6:\"string\";}s:12:\"sourceParent\";O:8:\"stdClass\":2:{s:11:\"description\";s:90:\"The
  resource name of the folder's parent.\nOnly applicable when the operation_type is
  MOVE.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"FolderOperationError\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"A
  classification of the Folder Operation error.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"errorMessageId\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  type of operation error experienced.\";s:4:\"enum\";a:10:{i:0;s:22:\"ERROR_TYPE_UNSPECIFIED\";i:1;s:30:\"ACTIVE_FOLDER_HEIGHT_VIOLATION\";i:2;s:27:\"MAX_CHILD_FOLDERS_VIOLATION\";i:3;s:32:\"FOLDER_NAME_UNIQUENESS_VIOLATION\";i:4;s:26:\"RESOURCE_DELETED_VIOLATION\";i:5;s:24:\"PARENT_DELETED_VIOLATION\";i:6;s:26:\"CYCLE_INTRODUCED_VIOLATION\";i:7;s:28:\"FOLDER_BEING_MOVED_VIOLATION\";i:8;s:36:\"FOLDER_TO_DELETE_NON_EMPTY_VIOLATION\";i:9;s:31:\"DELETED_FOLDER_HEIGHT_VIOLATION\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"GetIamPolicyRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Request
  message for `GetIamPolicy` method.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:19:\"ListFoldersResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  ListFolders response message.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"folders\";O:8:\"stdClass\":3:{s:11:\"description\";s:98:\"A
  possibly paginated list of Folders that are direct descendants of\nthe specified
  parent resource.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Folder\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:140:\"A
  pagination token returned from a previous call to `ListFolders`\nthat indicates
  from where listing should continue.\nThis field is optional.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"MoveFolderRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  MoveFolder request message.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"destinationParent\";O:8:\"stdClass\":2:{s:11:\"description\";s:148:\"The
  resource name of the Folder or Organization to reparent\nthe folder under.\nMust
  be of the form `folders/{folder_id}` or `organizations/{org_id}`.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"Operation\";O:8:\"stdClass\":3:{s:11:\"description\";s:91:\"This
  resource represents a long-running operation that is the result of a\nnetwork API
  call.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"done\";O:8:\"stdClass\":2:{s:11:\"description\";s:155:\"If
  the value is `false`, it means the operation is still in progress.\nIf `true`, the
  operation is completed, and either `error` or `response` is\navailable.\";s:4:\"type\";s:7:\"boolean\";}s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Status\";s:11:\"description\";s:69:\"The
  error result of the operation in case of failure or cancellation.\";}s:8:\"metadata\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:61:\"Properties
  of the object. Contains field @type with type URL.\";}s:11:\"description\";s:281:\"Service-specific
  metadata associated with the operation.  It typically\ncontains progress information
  and common metadata such as create time.\nSome services might not provide such metadata.
  \ Any method that returns a\nlong-running operation should document the metadata
  type, if any.\";s:4:\"type\";s:6:\"object\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:203:\"The
  server-assigned name, which is only unique within the same service that\noriginally
  returns it. If you use the default HTTP mapping, the\n`name` should have the format
  of `operations/some/unique/name`.\";s:4:\"type\";s:6:\"string\";}s:8:\"response\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:61:\"Properties
  of the object. Contains field @type with type URL.\";}s:11:\"description\";s:492:\"The
  normal response of the operation in case of success.  If the original\nmethod returns
  no data on success, such as `Delete`, the response is\n`google.protobuf.Empty`.
  \ If the original method is standard\n`Get`/`Create`/`Update`, the response should
  be the resource.  For other\nmethods, the response should have the type `XxxResponse`,
  where `Xxx`\nis the original method name.  For example, if the original method name\nis
  `TakeSnapshot()`, the inferred response type is\n`TakeSnapshotResponse`.\";s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Policy\";O:8:\"stdClass\":3:{s:11:\"description\";s:1215:\"Defines
  an Identity and Access Management (IAM) policy. It is used to\nspecify access control
  policies for Cloud Platform resources.\n\n\nA `Policy` consists of a list of `bindings`.
  A `binding` binds a list of\n`members` to a `role`, where the members can be user
  accounts, Google groups,\nGoogle domains, and service accounts. A `role` is a named
  list of permissions\ndefined by IAM.\n\n**JSON Example**\n\n    {\n      \"bindings\":
  [\n        {\n          \"role\": \"roles/owner\",\n          \"members\": [\n            \"user:mike@example.com\",\n
  \           \"group:admins@example.com\",\n            \"domain:google.com\",\n
  \           \"serviceAccount:my-other-app@appspot.gserviceaccount.com\"\n          ]\n
  \       },\n        {\n          \"role\": \"roles/viewer\",\n          \"members\":
  [\"user:sean@example.com\"]\n        }\n      ]\n    }\n\n**YAML Example**\n\n    bindings:\n
  \   - members:\n      - user:mike@example.com\n      - group:admins@example.com\n
  \     - domain:google.com\n      - serviceAccount:my-other-app@appspot.gserviceaccount.com\n
  \     role: roles/owner\n    - members:\n      - user:sean@example.com\n      role:
  roles/viewer\n\n\nFor a description of IAM and its features, see the\n[IAM developer's
  guide](https://cloud.google.com/iam/docs).\";s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"auditConfigs\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"Specifies
  cloud audit logging configuration for this policy.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/AuditConfig\";}s:4:\"type\";s:5:\"array\";}s:8:\"bindings\";O:8:\"stdClass\":3:{s:11:\"description\";s:95:\"Associates
  a list of `members` to a `role`.\n`bindings` with no members will result in an error.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Binding\";}s:4:\"type\";s:5:\"array\";}s:4:\"etag\";O:8:\"stdClass\":3:{s:11:\"description\";s:606:\"`etag`
  is used for optimistic concurrency control as a way to help\nprevent simultaneous
  updates of a policy from overwriting each other.\nIt is strongly suggested that
  systems make use of the `etag` in the\nread-modify-write cycle to perform policy
  updates in order to avoid race\nconditions: An `etag` is returned in the response
  to `getIamPolicy`, and\nsystems are expected to put that etag in the request to
  `setIamPolicy` to\nensure that their change will be applied to the same version
  of the policy.\n\nIf no `etag` is provided in the call to `setIamPolicy`, then the
  existing\npolicy is overwritten blindly.\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Deprecated.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:21:\"ProjectCreationStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:182:\"A
  status object which is used as the `metadata` field for the Operation\nreturned
  by CreateProject. It provides insight for when significant phases of\nProject creation
  have completed.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"createTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Creation
  time of the project creation workflow.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:8:\"gettable\";O:8:\"stdClass\":2:{s:11:\"description\";s:152:\"True
  if the project can be retrieved using GetProject. No other operations\non the project
  are guaranteed to work until the project creation is\ncomplete.\";s:4:\"type\";s:7:\"boolean\";}s:5:\"ready\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"True
  if the project creation process is complete.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:20:\"SearchFoldersRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"The
  request message for searching folders.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"pageSize\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"The
  maximum number of folders to return in the response.\nThis field is optional.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"pageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:141:\"A
  pagination token returned from a previous call to `SearchFolders`\nthat indicates
  from where search should continue.\nThis field is optional.\";s:4:\"type\";s:6:\"string\";}s:5:\"query\";O:8:\"stdClass\":2:{s:11:\"description\";s:934:\"Search
  criteria used to select the Folders to return.\nIf no search criteria is specified
  then all accessible folders will be\nreturned.\n\nQuery expressions can be used
  to restrict results based upon displayName,\nlifecycleState and parent, where the
  operators `=`, `NOT`, `AND` and `OR`\ncan be used along with the suffix wildcard
  symbol `*`.\n\nThe displayName field in a query expression should use escaped quotes\nfor
  values that include whitespace to prevent unexpected behavior.\n\nSome example queries
  are:\n\n|Query | Description|\n|----- | -----------|\n|displayName=Test* | Folders
  whose display name starts with \"Test\".|\n|lifecycleState=ACTIVE | Folders whose
  lifecycleState is ACTIVE.|\n|parent=folders/123 | Folders whose parent is \"folders/123\".|\n|parent=folders/123
  AND lifecycleState=ACTIVE | Active folders whose parent is \"folders/123\".|\n|displayName=\\\\\"Test
  String\\\\\"|Folders whose display name includes both \"Test\" and \"String\".|\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"SearchFoldersResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  response message for searching folders.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"folders\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"A
  possibly paginated folder search results.\nthe specified parent resource.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Folder\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:144:\"A
  pagination token returned from a previous call to `SearchFolders`\nthat indicates
  from where searching should continue.\nThis field is optional.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"SetIamPolicyRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Request
  message for `SetIamPolicy` method.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"policy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Policy\";s:11:\"description\";s:224:\"REQUIRED:
  The complete policy to be applied to the `resource`. The size of\nthe policy is
  limited to a few 10s of KB. An empty policy is a\nvalid policy but certain Cloud
  Platform services (such as Projects)\nmight reject them.\";}s:10:\"updateMask\";O:8:\"stdClass\":3:{s:11:\"description\";s:238:\"OPTIONAL:
  A FieldMask specifying which fields of the policy to modify. Only\nthe fields in
  the mask will be modified. If no mask is provided, the\nfollowing default mask is
  used:\npaths: \"bindings, etag\"\nThis field is only used by Cloud IAM.\";s:6:\"format\";s:16:\"google-fieldmask\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Status\";O:8:\"stdClass\":3:{s:11:\"description\";s:2437:\"The
  `Status` type defines a logical error model that is suitable for different\nprogramming
  environments, including REST APIs and RPC APIs. It is used by\n[gRPC](https://github.com/grpc).
  The error model is designed to be:\n\n- Simple to use and understand for most users\n-
  Flexible enough to meet unexpected needs\n\n# Overview\n\nThe `Status` message contains
  three pieces of data: error code, error message,\nand error details. The error code
  should be an enum value of\ngoogle.rpc.Code, but it may accept additional error
  codes if needed.  The\nerror message should be a developer-facing English message
  that helps\ndevelopers *understand* and *resolve* the error. If a localized user-facing\nerror
  message is needed, put the localized message in the error details or\nlocalize it
  in the client. The optional error details may contain arbitrary\ninformation about
  the error. There is a predefined set of error detail types\nin the package `google.rpc`
  that can be used for common error conditions.\n\n# Language mapping\n\nThe `Status`
  message is the logical representation of the error model, but it\nis not necessarily
  the actual wire format. When the `Status` message is\nexposed in different client
  libraries and different wire protocols, it can be\nmapped differently. For example,
  it will likely be mapped to some exceptions\nin Java, but more likely mapped to
  some error codes in C.\n\n# Other uses\n\nThe error model and the `Status` message
  can be used in a variety of\nenvironments, either with or without APIs, to provide
  a\nconsistent developer experience across different environments.\n\nExample uses
  of this error model include:\n\n- Partial errors. If a service needs to return partial
  errors to the client,\n    it may embed the `Status` in the normal response to indicate
  the partial\n    errors.\n\n- Workflow errors. A typical workflow has multiple steps.
  Each step may\n    have a `Status` message for error reporting.\n\n- Batch operations.
  If a client uses batch request and batch response, the\n    `Status` message should
  be used directly inside batch response, one for\n    each error sub-response.\n\n-
  Asynchronous operations. If an API call embeds asynchronous operation\n    results
  in its response, the status of those operations should be\n    represented directly
  using the `Status` message.\n\n- Logging. If some API errors are stored in logs,
  the message `Status` could\n    be used directly after any stripping needed for
  security/privacy reasons.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"The
  status code, which should be an enum value of google.rpc.Code.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"details\";O:8:\"stdClass\":3:{s:11:\"description\";s:105:\"A
  list of messages that carry the error details.  There is a common set of\nmessage
  types for APIs to use.\";s:5:\"items\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:61:\"Properties
  of the object. Contains field @type with type URL.\";}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:188:\"A
  developer-facing error message, which should be in English. Any\nuser-facing error
  message should be localized and sent in the\ngoogle.rpc.Status.details field, or
  localized by the client.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:25:\"TestIamPermissionsRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Request
  message for `TestIamPermissions` method.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"permissions\";O:8:\"stdClass\":3:{s:11:\"description\";s:221:\"The
  set of permissions to check for the `resource`. Permissions with\nwildcards (such
  as '*' or 'storage.*') are not allowed. For more\ninformation see\n[IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:26:\"TestIamPermissionsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Response
  message for `TestIamPermissions` method.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"permissions\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"A
  subset of `TestPermissionsRequest.permissions` that the caller is\nallowed.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:21:\"UndeleteFolderRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  UndeleteFolder request message.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}}"
...
