---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":15:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:9:\"x-twitter\";s:12:\"PermittedSoc\";}s:11:\"description\";s:1451:\"<p>Amazon
  WorkMail is a secure, managed business email and calendaring service with support
  for existing desktop and mobile email clients. You can access your email, contacts,
  and calendars using Microsoft Outlook, your browser, or their native iOS and Android
  email applications. You can integrate Amazon WorkMail with your existing corporate
  directory and control both the keys that encrypt your data and the location in which
  your data is stored.</p> <p>The Amazon WorkMail API is designed for the following
  scenarios:</p> <ul> <li> <p>Listing and describing organizations</p> </li> </ul>
  <ul> <li> <p>Managing users</p> </li> </ul> <ul> <li> <p>Managing groups</p> </li>
  </ul> <ul> <li> <p>Managing resources</p> </li> </ul> <p>All Amazon WorkMail API
  actions are Amazon-authenticated and certificate-signed. They not only require the
  use of the AWS SDK, but also allow for the exclusive use of IAM users and roles
  to help facilitate access, trust, and permission policies. By creating a role and
  allowing an IAM user to access the Amazon WorkMail site, the IAM user gains full
  administrative visibility into the entire Amazon WorkMail organization (or as set
  in the IAM policy). This includes, but is not limited to, the ability to create,
  update, and delete users, groups, and resources. This allows developers to perform
  the scenarios listed above, as well as give users the ability to grant access on
  a selective basis using the IAM model.</p>\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache
  2.0 License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:15:\"Amazon
  WorkMail\";s:7:\"version\";s:10:\"2017-10-01\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:92:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/workmail-2017-10-01.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v4\";s:13:\"x-serviceName\";s:8:\"workmail\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"amazonaws_workmail\";s:4:\"type\";s:7:\"openapi\";}}"
host: workmail.amazonaws.com
basePath: /
paths: ~
produces:
- application/json
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":114:{s:7:\"Aliases\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/EmailAddress\";}s:4:\"type\";s:5:\"array\";}s:34:\"AssociateDelegateToResourceRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"EntityId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/WorkMailIdentifier\";s:11:\"description\";s:56:\"The
  member (user or group) to associate to the resource.\";}s:14:\"OrganizationId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/OrganizationId\";s:11:\"description\";s:49:\"The
  organization under which the resource exists.\";}s:10:\"ResourceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ResourceId\";s:11:\"description\";s:46:\"The
  resource for which members are associated.\";}}s:8:\"required\";a:3:{i:0;s:14:\"OrganizationId\";i:1;s:10:\"ResourceId\";i:2;s:8:\"EntityId\";}s:4:\"type\";s:6:\"object\";}s:35:\"AssociateDelegateToResourceResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:29:\"AssociateMemberToGroupRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"GroupId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/WorkMailIdentifier\";s:11:\"description\";s:45:\"The
  group for which the member is associated.\";}s:8:\"MemberId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/WorkMailIdentifier\";s:11:\"description\";s:37:\"The
  member to associate to the group.\";}s:14:\"OrganizationId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/OrganizationId\";s:11:\"description\";s:46:\"The
  organization under which the group exists.\";}}s:8:\"required\";a:3:{i:0;s:14:\"OrganizationId\";i:1;s:7:\"GroupId\";i:2;s:8:\"MemberId\";}s:4:\"type\";s:6:\"object\";}s:30:\"AssociateMemberToGroupResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:14:\"BookingOptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:104:\"At
  least one delegate must be associated to the resource to disable automatic replies
  from the resource.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:18:\"AutoAcceptRequests\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:117:\"The
  resource's ability to automatically reply to requests. If disabled, delegates must
  be associated to the resource.\";}s:30:\"AutoDeclineConflictingRequests\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:73:\"The
  resource's ability to automatically decline any conflicting requests.\";}s:28:\"AutoDeclineRecurringRequests\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:71:\"The
  resource's ability to automatically decline any recurring requests.\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Boolean\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:18:\"CreateAliasRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"Alias\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/EmailAddress\";s:11:\"description\";s:29:\"The
  alias to add to the user.\";}s:8:\"EntityId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/WorkMailIdentifier\";s:11:\"description\";s:50:\"The
  alias is added to this Amazon WorkMail entity.\";}s:14:\"OrganizationId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/OrganizationId\";s:11:\"description\";s:47:\"The
  organization under which the member exists.\";}}s:8:\"required\";a:3:{i:0;s:14:\"OrganizationId\";i:1;s:8:\"EntityId\";i:2;s:5:\"Alias\";}s:4:\"type\";s:6:\"object\";}s:19:\"CreateAliasResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:18:\"CreateGroupRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/GroupName\";s:11:\"description\";s:22:\"The
  name of the group.\";}s:14:\"OrganizationId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/OrganizationId\";s:11:\"description\";s:56:\"The
  organization under which the group is to be created.\";}}s:8:\"required\";a:2:{i:0;s:14:\"OrganizationId\";i:1;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:19:\"CreateGroupResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"GroupId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/WorkMailIdentifier\";s:11:\"description\";s:20:\"The
  ID of the group.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"CreateResourceRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:33:\"The
  name of the created resource.\";}s:14:\"OrganizationId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/OrganizationId\";s:11:\"description\";s:82:\"The
  identifier associated with the organization for which the resource is created.\";}s:4:\"Type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceType\";s:11:\"description\";s:33:\"The
  type of the created resource.\";}}s:8:\"required\";a:3:{i:0;s:14:\"OrganizationId\";i:1;s:4:\"Name\";i:2;s:4:\"Type\";}s:4:\"type\";s:6:\"object\";}s:22:\"CreateResourceResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"ResourceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ResourceId\";s:11:\"description\";s:39:\"The
  identifier of the created resource.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"CreateUserRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"DisplayName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:44:\"The
  display name for the user to be created.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/UserName\";s:11:\"description\";s:36:\"The
  name for the user to be created.\";}s:14:\"OrganizationId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/OrganizationId\";s:11:\"description\";s:65:\"The
  identifier of the organization for which the user is created.\";}s:8:\"Password\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Password\";s:11:\"description\";s:40:\"The
  password for the user to be created.\";}}s:8:\"required\";a:4:{i:0;s:14:\"OrganizationId\";i:1;s:4:\"Name\";i:2;s:11:\"DisplayName\";i:3;s:8:\"Password\";}s:4:\"type\";s:6:\"object\";}s:18:\"CreateUserResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"UserId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/WorkMailIdentifier\";s:11:\"description\";s:49:\"The
  information regarding the newly created user.\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Delegate\";O:8:\"stdClass\":4:{s:11:\"description\";s:95:\"The
  name of the attribute, which is one of the values defined in the UserAttribute enumeration.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:78:\"The
  identifier for the user or group is associated as the resource's delegate.\";}s:4:\"Type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MemberType\";s:11:\"description\";s:40:\"The
  type of the delegate: user or group.\";}}s:8:\"required\";a:2:{i:0;s:2:\"Id\";i:1;s:4:\"Type\";}s:4:\"type\";s:6:\"object\";}s:18:\"DeleteAliasRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"Alias\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/EmailAddress\";s:11:\"description\";s:159:\"The
  aliases to be removed from the user's set of aliases. Duplicate entries in the list
  are collapsed into single entries (the list is transformed into a set).\";}s:8:\"EntityId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/WorkMailIdentifier\";s:11:\"description\";s:74:\"The
  identifier for the Amazon WorkMail entity to have the aliases removed.\";}s:14:\"OrganizationId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/OrganizationId\";s:11:\"description\";s:64:\"The
  identifier for the organization under which the user exists.\";}}s:8:\"required\";a:3:{i:0;s:14:\"OrganizationId\";i:1;s:8:\"EntityId\";i:2;s:5:\"Alias\";}s:4:\"type\";s:6:\"object\";}s:19:\"DeleteAliasResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:18:\"DeleteGroupRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"GroupId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/WorkMailIdentifier\";s:11:\"description\";s:42:\"The
  identifier of the group to be deleted.\";}s:14:\"OrganizationId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/OrganizationId\";s:11:\"description\";s:41:\"The
  organization that contains the group.\";}}s:8:\"required\";a:2:{i:0;s:14:\"OrganizationId\";i:1;s:7:\"GroupId\";}s:4:\"type\";s:6:\"object\";}s:19:\"DeleteGroupResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:31:\"DeleteMailboxPermissionsRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"EntityId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/WorkMailIdentifier\";s:11:\"description\";s:85:\"The
  identifier of the entity (user or group) for which to delete mailbox permissions.\";}s:9:\"GranteeId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/WorkMailIdentifier\";s:11:\"description\";s:85:\"The
  identifier of the entity (user or group) for which to delete granted permissions.\";}s:14:\"OrganizationId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/OrganizationId\";s:11:\"description\";s:81:\"The
  identifier of the organization under which the entity (user or group) exists.\";}}s:8:\"required\";a:3:{i:0;s:14:\"OrganizationId\";i:1;s:8:\"EntityId\";i:2;s:9:\"GranteeId\";}s:4:\"type\";s:6:\"object\";}s:32:\"DeleteMailboxPermissionsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:21:\"DeleteResourceRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"OrganizationId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/OrganizationId\";s:11:\"description\";s:82:\"The
  identifier associated with the organization for which the resource is deleted.\";}s:10:\"ResourceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ResourceId\";s:11:\"description\";s:45:\"The
  identifier of the resource to be deleted.\";}}s:8:\"required\";a:2:{i:0;s:14:\"OrganizationId\";i:1;s:10:\"ResourceId\";}s:4:\"type\";s:6:\"object\";}s:22:\"DeleteResourceResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:17:\"DeleteUserRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"OrganizationId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/OrganizationId\";s:11:\"description\";s:40:\"The
  organization that contains the user.\";}s:6:\"UserId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/WorkMailIdentifier\";s:11:\"description\";s:41:\"The
  identifier of the user to be deleted.\";}}s:8:\"required\";a:2:{i:0;s:14:\"OrganizationId\";i:1;s:6:\"UserId\";}s:4:\"type\";s:6:\"object\";}s:18:\"DeleteUserResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:29:\"DeregisterFromWorkMailRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"EntityId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/WorkMailIdentifier\";s:11:\"description\";s:44:\"The
  identifier for the entity to be updated.\";}s:14:\"OrganizationId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/OrganizationId\";s:11:\"description\";s:82:\"The
  identifier for the organization under which the Amazon WorkMail entity exists.\";}}s:8:\"required\";a:2:{i:0;s:14:\"OrganizationId\";i:1;s:8:\"EntityId\";}s:4:\"type\";s:6:\"object\";}s:30:\"DeregisterFromWorkMailResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:20:\"DescribeGroupRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"GroupId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/WorkMailIdentifier\";s:11:\"description\";s:45:\"The
  identifier for the group to be described.\";}s:14:\"OrganizationId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/OrganizationId\";s:11:\"description\";s:65:\"The
  identifier for the organization under which the group exists.\";}}s:8:\"required\";a:2:{i:0;s:14:\"OrganizationId\";i:1;s:7:\"GroupId\";}s:4:\"type\";s:6:\"object\";}s:21:\"DescribeGroupResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"DisabledDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:95:\"The
  date and time when a user was deregistered from Amazon WorkMail, in UNIX epoch time
  format.\";}s:5:\"Email\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/EmailAddress\";s:11:\"description\";s:33:\"The
  email of the described group.\";}s:11:\"EnabledDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:91:\"The
  date and time when a user was registered to Amazon WorkMail, in UNIX epoch time
  format.\";}s:7:\"GroupId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/WorkMailIdentifier\";s:11:\"description\";s:38:\"The
  identifier of the described group.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/GroupName\";s:11:\"description\";s:32:\"The
  name of the described group.\";}s:5:\"State\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/EntityState\";s:11:\"description\";s:129:\"The
  state of the user: enabled (registered to Amazon WorkMail) or disabled (deregistered
  or never registered to Amazon WorkMail).\";}}s:4:\"type\";s:6:\"object\";}s:27:\"DescribeOrganizationRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"OrganizationId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/OrganizationId\";s:11:\"description\";s:52:\"The
  identifier for the organization to be described.\";}}s:8:\"required\";a:1:{i:0;s:14:\"OrganizationId\";}s:4:\"type\";s:6:\"object\";}s:28:\"DescribeOrganizationResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:5:\"Alias\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/OrganizationName\";s:11:\"description\";s:30:\"The
  alias for an organization.\";}s:13:\"CompletedDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:107:\"The
  date at which the organization became usable in the Amazon WorkMail context, in
  UNIX epoch time format.\";}s:17:\"DefaultMailDomain\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:57:\"The
  default mail domain associated with the organization.\";}s:11:\"DirectoryId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:81:\"The
  identifier for the directory associated with an Amazon WorkMail organization.\";}s:13:\"DirectoryType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:71:\"The
  type of directory associated with the Amazon WorkMail organization.\";}s:12:\"ErrorMessage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:112:\"The
  (optional) error message indicating if unexpected behavior was encountered with
  regards to the organization.\";}s:14:\"OrganizationId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/OrganizationId\";s:11:\"description\";s:34:\"The
  identifier of an organization.\";}s:5:\"State\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:29:\"The
  state of an organization.\";}}s:4:\"type\";s:6:\"object\";}s:23:\"DescribeResourceRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"OrganizationId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/OrganizationId\";s:11:\"description\";s:84:\"The
  identifier associated with the organization for which the resource is described.\";}s:10:\"ResourceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ResourceId\";s:11:\"description\";s:47:\"The
  identifier of the resource to be described.\";}}s:8:\"required\";a:2:{i:0;s:14:\"OrganizationId\";i:1;s:10:\"ResourceId\";}s:4:\"type\";s:6:\"object\";}s:24:\"DescribeResourceResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:14:\"BookingOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/BookingOptions\";s:11:\"description\";s:47:\"The
  booking options for the described resource.\";}s:12:\"DisabledDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:97:\"The
  date and time when a resource was registered from Amazon WorkMail, in UNIX epoch
  time format.\";}s:5:\"Email\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/EmailAddress\";s:11:\"description\";s:36:\"The
  email of the described resource.\";}s:11:\"EnabledDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:95:\"The
  date and time when a resource was registered to Amazon WorkMail, in UNIX epoch time
  format.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:35:\"The
  name of the described resource.\";}s:10:\"ResourceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ResourceId\";s:11:\"description\";s:41:\"The
  identifier of the described resource.\";}s:5:\"State\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/EntityState\";s:11:\"description\";s:133:\"The
  state of the resource: enabled (registered to Amazon WorkMail) or disabled (deregistered
  or never registered to Amazon WorkMail).\";}s:4:\"Type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceType\";s:11:\"description\";s:35:\"The
  type of the described resource.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"DescribeUserRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"OrganizationId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/OrganizationId\";s:11:\"description\";s:64:\"The
  identifier for the organization under which the user exists.\";}s:6:\"UserId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/WorkMailIdentifier\";s:11:\"description\";s:44:\"The
  identifier for the user to be described.\";}}s:8:\"required\";a:2:{i:0;s:14:\"OrganizationId\";i:1;s:6:\"UserId\";}s:4:\"type\";s:6:\"object\";}s:20:\"DescribeUserResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:12:\"DisabledDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:102:\"The
  date and time at which the user was disabled for Amazon WorkMail usage, in UNIX
  epoch time format.\";}s:11:\"DisplayName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:29:\"The
  display name of the user.\";}s:5:\"Email\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/EmailAddress\";s:11:\"description\";s:22:\"The
  email of the user.\";}s:11:\"EnabledDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:101:\"The
  date and time at which the user was enabled for Amazon WorkMail usage, in UNIX epoch
  time format.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/UserName\";s:11:\"description\";s:22:\"The
  name for the user.\";}s:5:\"State\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/EntityState\";s:11:\"description\";s:127:\"The
  state of a user: enabled (registered to Amazon WorkMail) or disabled (deregistered
  or never registered to Amazon WorkMail).\";}s:6:\"UserId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/WorkMailIdentifier\";s:11:\"description\";s:38:\"The
  identifier for the described user.\";}s:8:\"UserRole\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/UserRole\";s:11:\"description\";s:439:\"In
  certain cases other entities are modeled as users. If interoperability is enabled,
  resources are imported into Amazon WorkMail as users. Because different Amazon WorkMail
  organizations rely on different directory types, administrators can distinguish
  between a user that is not registered to Amazon WorkMail (is disabled and has a
  user role) and the administrative users of the directory. The values are USER, RESOURCE,
  and SYSTEM_USER.\";}}s:4:\"type\";s:6:\"object\";}s:45:\"DirectoryServiceAuthenticationFailedException\";O:8:\"stdClass\":3:{s:11:\"description\";s:96:\"The
  Directory Service doesn't recognize the credentials supplied by the Amazon WorkMail
  service.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:29:\"DirectoryUnavailableException\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"The
  directory that you are trying to perform operations on isn't available.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:39:\"DisassociateDelegateFromResourceRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"EntityId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/WorkMailIdentifier\";s:11:\"description\";s:88:\"The
  identifier for the member (user, group) to be removed from the resource's delegates.\";}s:14:\"OrganizationId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/OrganizationId\";s:11:\"description\";s:68:\"The
  identifier for the organization under which the resource exists.\";}s:10:\"ResourceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ResourceId\";s:11:\"description\";s:78:\"The
  identifier of the resource from which delegates' set members are removed. \";}}s:8:\"required\";a:3:{i:0;s:14:\"OrganizationId\";i:1;s:10:\"ResourceId\";i:2;s:8:\"EntityId\";}s:4:\"type\";s:6:\"object\";}s:40:\"DisassociateDelegateFromResourceResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:34:\"DisassociateMemberFromGroupRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"GroupId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/WorkMailIdentifier\";s:11:\"description\";s:60:\"The
  identifier for the group from which members are removed.\";}s:8:\"MemberId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/WorkMailIdentifier\";s:11:\"description\";s:57:\"The
  identifier for the member to be removed to the group.\";}s:14:\"OrganizationId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/OrganizationId\";s:11:\"description\";s:65:\"The
  identifier for the organization under which the group exists.\";}}s:8:\"required\";a:3:{i:0;s:14:\"OrganizationId\";i:1;s:7:\"GroupId\";i:2;s:8:\"MemberId\";}s:4:\"type\";s:6:\"object\";}s:35:\"DisassociateMemberFromGroupResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:12:\"EmailAddress\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:254;s:9:\"minLength\";i:1;s:7:\"pattern\";s:51:\"[a-zA-Z0-9._%+-]{1,64}@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}\";s:4:\"type\";s:6:\"string\";}s:26:\"EmailAddressInUseException\";O:8:\"stdClass\":3:{s:11:\"description\";s:107:\"The
  email address that you're trying to assign is already created for a different user,
  group, or resource.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:32:\"EntityAlreadyRegisteredException\";O:8:\"stdClass\":3:{s:11:\"description\";s:82:\"The
  user, group, or resource that you're trying to register is already registered.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:23:\"EntityNotFoundException\";O:8:\"stdClass\":3:{s:11:\"description\";s:92:\"The
  identifier supplied for the entity is valid, but it does not exist in your organization.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:11:\"EntityState\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:7:\"ENABLED\";i:1;s:8:\"DISABLED\";i:2;s:7:\"DELETED\";}s:4:\"type\";s:6:\"string\";}s:20:\"EntityStateException\";O:8:\"stdClass\":3:{s:11:\"description\";s:119:\"You
  are performing an operation on an entity that isn't in the expected state, such
  as trying to update a deleted user.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Group\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  representation of an Amazon WorkMail group.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"DisabledDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:73:\"The
  date indicating when the group was disabled from Amazon WorkMail use.\";}s:5:\"Email\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/EmailAddress\";s:11:\"description\";s:23:\"The
  email of the group.\";}s:11:\"EnabledDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:71:\"The
  date indicating when the group was enabled for Amazon WorkMail use.\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/WorkMailIdentifier\";s:11:\"description\";s:28:\"The
  identifier of the group.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/GroupName\";s:11:\"description\";s:22:\"The
  name of the group.\";}s:5:\"State\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/EntityState\";s:11:\"description\";s:67:\"The
  state of the group, which can be ENABLED, DISABLED, or DELETED.\";}}s:4:\"type\";s:6:\"object\";}s:9:\"GroupName\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:256;s:9:\"minLength\";i:1;s:7:\"pattern\";s:16:\"[\\u0020-\\u00FF]+\";s:4:\"type\";s:6:\"string\";}s:6:\"Groups\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Group\";}s:4:\"type\";s:5:\"array\";}s:29:\"InvalidConfigurationException\";O:8:\"stdClass\":3:{s:11:\"description\";s:175:\"The
  configuration for a resource isn't valid. A resource must either be able to auto-respond
  to requests or have at least one delegate associated that can do it on its behalf.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:25:\"InvalidParameterException\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"One
  or more of the input parameters don't match the service's restrictions.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:24:\"InvalidPasswordException\";O:8:\"stdClass\":3:{s:11:\"description\";s:114:\"The
  supplied password doesn't match the minimum security constraints, such as length
  or use of special characters.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:18:\"ListAliasesRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"EntityId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/WorkMailIdentifier\";s:11:\"description\";s:60:\"The
  identifier for the entity for which to list the aliases.\";}s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MaxResults\";s:11:\"description\";s:57:\"The
  maximum number of results to return in a single call.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:98:\"The
  token to use to retrieve the next page of results. The first call does not contain
  any tokens.\";}s:14:\"OrganizationId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/OrganizationId\";s:11:\"description\";s:66:\"The
  identifier for the organization under which the entity exists.\";}}s:8:\"required\";a:2:{i:0;s:14:\"OrganizationId\";i:1;s:8:\"EntityId\";}s:4:\"type\";s:6:\"object\";}s:19:\"ListAliasesResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Aliases\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Aliases\";s:11:\"description\";s:31:\"The
  entity's paginated aliases.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:116:\"The
  token to use to retrieve the next page of results. The value is \"null\" when there
  are no more results to return.\";}}s:4:\"type\";s:6:\"object\";}s:23:\"ListGroupMembersRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"GroupId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/WorkMailIdentifier\";s:11:\"description\";s:65:\"The
  identifier for the group to which the members are associated.\";}s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MaxResults\";s:11:\"description\";s:57:\"The
  maximum number of results to return in a single call.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:99:\"
  The token to use to retrieve the next page of results. The first call does not contain
  any tokens.\";}s:14:\"OrganizationId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/OrganizationId\";s:11:\"description\";s:65:\"The
  identifier for the organization under which the group exists.\";}}s:8:\"required\";a:2:{i:0;s:14:\"OrganizationId\";i:1;s:7:\"GroupId\";}s:4:\"type\";s:6:\"object\";}s:24:\"ListGroupMembersResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Members\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Members\";s:11:\"description\";s:36:\"The
  members associated to the group.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:98:\"The
  token to use to retrieve the next page of results. The first call does not contain
  any tokens.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"ListGroupsRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MaxResults\";s:11:\"description\";s:57:\"The
  maximum number of results to return in a single call.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:98:\"The
  token to use to retrieve the next page of results. The first call does not contain
  any tokens.\";}s:14:\"OrganizationId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/OrganizationId\";s:11:\"description\";s:65:\"The
  identifier for the organization under which the groups exist.\";}}s:8:\"required\";a:1:{i:0;s:14:\"OrganizationId\";}s:4:\"type\";s:6:\"object\";}s:18:\"ListGroupsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"Groups\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Groups\";s:11:\"description\";s:43:\"The
  overview of groups for an organization.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:116:\"The
  token to use to retrieve the next page of results. The value is \"null\" when there
  are no more results to return.\";}}s:4:\"type\";s:6:\"object\";}s:29:\"ListMailboxPermissionsRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"EntityId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/WorkMailIdentifier\";s:11:\"description\";s:83:\"The
  identifier of the entity (user or group) for which to list mailbox permissions.\";}s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MaxResults\";s:11:\"description\";s:57:\"The
  maximum number of results to return in a single call.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:98:\"The
  token to use to retrieve the next page of results. The first call does not contain
  any tokens.\";}s:14:\"OrganizationId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/OrganizationId\";s:11:\"description\";s:81:\"The
  identifier of the organization under which the entity (user or group) exists.\";}}s:8:\"required\";a:2:{i:0;s:14:\"OrganizationId\";i:1;s:8:\"EntityId\";}s:4:\"type\";s:6:\"object\";}s:30:\"ListMailboxPermissionsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:116:\"The
  token to use to retrieve the next page of results. The value is \"null\" when there
  are no more results to return.\";}s:11:\"Permissions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Permissions\";s:11:\"description\";s:45:\"One
  page of the entity's mailbox permissions.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"ListOrganizationsRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MaxResults\";s:11:\"description\";s:57:\"The
  maximum number of results to return in a single call.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:98:\"The
  token to use to retrieve the next page of results. The first call does not contain
  any tokens.\";}}s:4:\"type\";s:6:\"object\";}s:25:\"ListOrganizationsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:116:\"The
  token to use to retrieve the next page of results. The value is \"null\" when there
  are no more results to return.\";}s:21:\"OrganizationSummaries\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/OrganizationSummaries\";s:11:\"description\";s:82:\"The
  overview of owned organizations presented as a list of organization summaries.\";}}s:4:\"type\";s:6:\"object\";}s:28:\"ListResourceDelegatesRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MaxResults\";s:11:\"description\";s:40:\"The
  number of maximum results in a page.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:76:\"The
  token used to paginate through the delegates associated with a resource.\";}s:14:\"OrganizationId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/OrganizationId\";s:11:\"description\";s:94:\"The
  identifier for the organization that contains the resource for which delegates are
  listed.\";}s:10:\"ResourceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/WorkMailIdentifier\";s:11:\"description\";s:59:\"The
  identifier for the resource whose delegates are listed.\";}}s:8:\"required\";a:2:{i:0;s:14:\"OrganizationId\";i:1;s:10:\"ResourceId\";}s:4:\"type\";s:6:\"object\";}s:29:\"ListResourceDelegatesResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"Delegates\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ResourceDelegates\";s:11:\"description\";s:37:\"One
  page of the resource's delegates.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:191:\"The
  token used to paginate through the delegates associated with a resource. While results
  are still available, it has an associated value. When the last page is reached,
  the token is empty. \";}}s:4:\"type\";s:6:\"object\";}s:20:\"ListResourcesRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MaxResults\";s:11:\"description\";s:57:\"The
  maximum number of results to return in a single call.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:98:\"The
  token to use to retrieve the next page of results. The first call does not contain
  any tokens.\";}s:14:\"OrganizationId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/OrganizationId\";s:11:\"description\";s:68:\"The
  identifier for the organization under which the resources exist.\";}}s:8:\"required\";a:1:{i:0;s:14:\"OrganizationId\";}s:4:\"type\";s:6:\"object\";}s:21:\"ListResourcesResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:183:\"
  The token used to paginate through all the organization's resources. While results
  are still available, it has an associated value. When the last page is reached,
  the token is empty.\";}s:9:\"Resources\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Resources\";s:11:\"description\";s:55:\"One
  page of the organization's resource representation.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"ListUsersRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MaxResults\";s:11:\"description\";s:57:\"The
  maximum number of results to return in a single call.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:3:\"TBD\";}s:14:\"OrganizationId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/OrganizationId\";s:11:\"description\";s:64:\"The
  identifier for the organization under which the users exist.\";}}s:8:\"required\";a:1:{i:0;s:14:\"OrganizationId\";}s:4:\"type\";s:6:\"object\";}s:17:\"ListUsersResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:118:\"
  The token to use to retrieve the next page of results. This value is `null` when
  there are no more results to return.\";}s:5:\"Users\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Users\";s:11:\"description\";s:42:\"The
  overview of users for an organization.\";}}s:4:\"type\";s:6:\"object\";}s:27:\"MailDomainNotFoundException\";O:8:\"stdClass\":3:{s:11:\"description\";s:112:\"For
  an email or alias to be created in Amazon WorkMail, the included domain must be
  defined in the organization.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:24:\"MailDomainStateException\";O:8:\"stdClass\":3:{s:11:\"description\";s:103:\"After
  a domain has been added to the organization, it must be verified. The domain is
  not yet verified.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:10:\"MaxResults\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:100;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:6:\"Member\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"The
  representation of a group member (user or group).\";s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"DisabledDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:74:\"The
  date indicating when the member was disabled from Amazon WorkMail use.\";}s:11:\"EnabledDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:72:\"The
  date indicating when the member was enabled for Amazon WorkMail use.\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:29:\"The
  identifier of the member.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:23:\"The
  name of the member.\";}s:5:\"State\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/EntityState\";s:11:\"description\";s:68:\"The
  state of the member, which can be ENABLED, DISABLED, or DELETED.\";}s:4:\"Type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MemberType\";s:11:\"description\";s:32:\"A
  member can be a user or group.\";}}s:4:\"type\";s:6:\"object\";}s:10:\"MemberType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:5:\"GROUP\";i:1;s:4:\"USER\";}s:4:\"type\";s:6:\"string\";}s:7:\"Members\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Member\";}s:4:\"type\";s:5:\"array\";}s:25:\"NameAvailabilityException\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"The
  entity (user, group, or user) name isn't unique in Amazon WorkMail.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:9:\"NextToken\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:1024;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:14:\"OrganizationId\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:16:\"^m-[0-9a-f]{32}$\";s:4:\"type\";s:6:\"string\";}s:16:\"OrganizationName\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:62;s:9:\"minLength\";i:1;s:7:\"pattern\";s:37:\"^(?!d-)([\\da-zA-Z]+)([-]*[\\da-zA-Z])*\";s:4:\"type\";s:6:\"string\";}s:29:\"OrganizationNotFoundException\";O:8:\"stdClass\":3:{s:11:\"description\";s:104:\"An
  operation received a valid organization identifier that either doesn't belong or
  exist in the system.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:26:\"OrganizationStateException\";O:8:\"stdClass\":3:{s:11:\"description\";s:133:\"The
  organization must have a valid state (Active or Synchronizing) to perform certain
  operations on the organization or its entities.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:21:\"OrganizationSummaries\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/OrganizationSummary\";}s:4:\"type\";s:5:\"array\";}s:19:\"OrganizationSummary\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  brief overview associated with an organization.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"Alias\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/OrganizationName\";s:11:\"description\";s:43:\"The
  alias associated with the organization.\";}s:12:\"ErrorMessage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:204:\"The
  error message associated with the organization. It is only present if unexpected
  behavior has occurred with regards to the organization. It provides insight or solutions
  regarding unexpected behavior.\";}s:14:\"OrganizationId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/OrganizationId\";s:11:\"description\";s:48:\"The
  identifier associated with the organization.\";}s:5:\"State\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:43:\"The
  state associated with the organization.\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Password\";O:8:\"stdClass\":4:{s:6:\"format\";s:8:\"password\";s:9:\"maxLength\";i:256;s:7:\"pattern\";s:16:\"[\\u0020-\\u00FF]+\";s:4:\"type\";s:6:\"string\";}s:10:\"Permission\";O:8:\"stdClass\":4:{s:11:\"description\";s:101:\"Permission
  granted to an entity (user, group) to access a certain aspect of another entity's
  mailbox.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"GranteeId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/WorkMailIdentifier\";s:11:\"description\";s:82:\"The
  identifier of the entity (user or group) to which the permissions are granted.\";}s:11:\"GranteeType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MemberType\";s:11:\"description\";s:72:\"The
  type of entity (user, group) of the entity referred to in GranteeId.\";}s:16:\"PermissionValues\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/PermissionValues\";s:11:\"description\";s:439:\"The
  permissions granted to the grantee. SEND_AS allows the grantee to send email as
  the owner of the mailbox (the grantee is not mentioned on these emails). SEND_ON_BEHALF
  allows the grantee to send email on behalf of the owner of the mailbox (the grantee
  is not mentioned as the physical sender of these emails). FULL_ACCESS allows the
  grantee full access to the mailbox, irrespective of other folder-level permissions
  set on the mailbox.\";}}s:8:\"required\";a:3:{i:0;s:9:\"GranteeId\";i:1;s:11:\"GranteeType\";i:2;s:16:\"PermissionValues\";}s:4:\"type\";s:6:\"object\";}s:14:\"PermissionType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:11:\"FULL_ACCESS\";i:1;s:7:\"SEND_AS\";i:2;s:14:\"SEND_ON_BEHALF\";}s:4:\"type\";s:6:\"string\";}s:16:\"PermissionValues\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/PermissionType\";}s:4:\"type\";s:5:\"array\";}s:11:\"Permissions\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Permission\";}s:4:\"type\";s:5:\"array\";}s:28:\"PutMailboxPermissionsRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"EntityId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/WorkMailIdentifier\";s:11:\"description\";s:85:\"The
  identifier of the entity (user or group) for which to update mailbox permissions.\";}s:9:\"GranteeId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/WorkMailIdentifier\";s:11:\"description\";s:79:\"The
  identifier of the entity (user or group) to which to grant the permissions.\";}s:14:\"OrganizationId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/OrganizationId\";s:11:\"description\";s:81:\"The
  identifier of the organization under which the entity (user or group) exists.\";}s:16:\"PermissionValues\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/PermissionValues\";s:11:\"description\";s:439:\"The
  permissions granted to the grantee. SEND_AS allows the grantee to send email as
  the owner of the mailbox (the grantee is not mentioned on these emails). SEND_ON_BEHALF
  allows the grantee to send email on behalf of the owner of the mailbox (the grantee
  is not mentioned as the physical sender of these emails). FULL_ACCESS allows the
  grantee full access to the mailbox, irrespective of other folder-level permissions
  set on the mailbox.\";}}s:8:\"required\";a:4:{i:0;s:14:\"OrganizationId\";i:1;s:8:\"EntityId\";i:2;s:9:\"GranteeId\";i:3;s:16:\"PermissionValues\";}s:4:\"type\";s:6:\"object\";}s:29:\"PutMailboxPermissionsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:25:\"RegisterToWorkMailRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"Email\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/EmailAddress\";s:11:\"description\";s:39:\"The
  email for the entity to be updated.\";}s:8:\"EntityId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/WorkMailIdentifier\";s:11:\"description\";s:44:\"The
  identifier for the entity to be updated.\";}s:14:\"OrganizationId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/OrganizationId\";s:11:\"description\";s:82:\"The
  identifier for the organization under which the Amazon WorkMail entity exists.\";}}s:8:\"required\";a:3:{i:0;s:14:\"OrganizationId\";i:1;s:8:\"EntityId\";i:2;s:5:\"Email\";}s:4:\"type\";s:6:\"object\";}s:26:\"RegisterToWorkMailResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:21:\"ReservedNameException\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"This
  entity name is not allowed in Amazon WorkMail.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:20:\"ResetPasswordRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"OrganizationId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/OrganizationId\";s:11:\"description\";s:90:\"The
  identifier of the organization that contains the user for which the password is
  reset.\";}s:8:\"Password\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Password\";s:11:\"description\";s:30:\"The
  new password for the user.\";}s:6:\"UserId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/WorkMailIdentifier\";s:11:\"description\";s:58:\"The
  identifier of the user for whom the password is reset.\";}}s:8:\"required\";a:3:{i:0;s:14:\"OrganizationId\";i:1;s:6:\"UserId\";i:2;s:8:\"Password\";}s:4:\"type\";s:6:\"object\";}s:21:\"ResetPasswordResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:8:\"Resource\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"The
  overview for a resource containing relevant data regarding it.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:12:\"DisabledDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:76:\"The
  date indicating when the resource was disabled from Amazon WorkMail use.\";}s:5:\"Email\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/EmailAddress\";s:11:\"description\";s:26:\"The
  email of the resource.\";}s:11:\"EnabledDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:74:\"The
  date indicating when the resource was enabled for Amazon WorkMail use.\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/WorkMailIdentifier\";s:11:\"description\";s:31:\"The
  identifier of the resource.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:25:\"The
  name of the resource.\";}s:5:\"State\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/EntityState\";s:11:\"description\";s:70:\"The
  state of the resource, which can be ENABLED, DISABLED, or DELETED.\";}s:4:\"Type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceType\";s:11:\"description\";s:44:\"The
  type of the resource: equipment or room.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"ResourceDelegates\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Delegate\";}s:4:\"type\";s:5:\"array\";}s:10:\"ResourceId\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:16:\"^r-[0-9a-f]{32}$\";s:4:\"type\";s:6:\"string\";}s:12:\"ResourceName\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:20;s:9:\"minLength\";i:1;s:7:\"pattern\";s:44:\"[\\w\\-.]+(@[a-zA-Z0-9.\\-]+\\.[a-zA-Z0-9]{2,})?\";s:4:\"type\";s:6:\"string\";}s:12:\"ResourceType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:4:\"ROOM\";i:1;s:9:\"EQUIPMENT\";}s:4:\"type\";s:6:\"string\";}s:9:\"Resources\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}s:4:\"type\";s:5:\"array\";}s:6:\"String\";O:8:\"stdClass\":2:{s:9:\"maxLength\";i:256;s:4:\"type\";s:6:\"string\";}s:9:\"Timestamp\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:29:\"UnsupportedOperationException\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"You
  can't perform a write operation against a read-only directory.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:32:\"UpdatePrimaryEmailAddressRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"Email\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/EmailAddress\";s:11:\"description\";s:48:\"The
  value of the email to be updated as primary.\";}s:8:\"EntityId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/WorkMailIdentifier\";s:11:\"description\";s:48:\"The
  entity to update (user, group, or resource).\";}s:14:\"OrganizationId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/OrganizationId\";s:11:\"description\";s:52:\"The
  organization that contains the entity to update.\";}}s:8:\"required\";a:3:{i:0;s:14:\"OrganizationId\";i:1;s:8:\"EntityId\";i:2;s:5:\"Email\";}s:4:\"type\";s:6:\"object\";}s:33:\"UpdatePrimaryEmailAddressResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:21:\"UpdateResourceRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:14:\"BookingOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/BookingOptions\";s:11:\"description\";s:45:\"The
  resource's booking options to be updated.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceName\";s:11:\"description\";s:39:\"The
  name of the resource to be updated.\";}s:14:\"OrganizationId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/OrganizationId\";s:11:\"description\";s:82:\"The
  identifier associated with the organization for which the resource is updated.\";}s:10:\"ResourceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ResourceId\";s:11:\"description\";s:45:\"The
  identifier of the resource to be updated.\";}}s:8:\"required\";a:2:{i:0;s:14:\"OrganizationId\";i:1;s:10:\"ResourceId\";}s:4:\"type\";s:6:\"object\";}s:22:\"UpdateResourceResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:4:\"User\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  representation of an Amazon WorkMail user.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:12:\"DisabledDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:72:\"The
  date indicating when the user was disabled from Amazon WorkMail use.\";}s:11:\"DisplayName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:29:\"The
  display name of the user.\";}s:5:\"Email\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/EmailAddress\";s:11:\"description\";s:22:\"The
  email of the user.\";}s:11:\"EnabledDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:70:\"The
  date indicating when the user was enabled for Amazon WorkMail use.\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/WorkMailIdentifier\";s:11:\"description\";s:27:\"The
  identifier of the user.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/UserName\";s:11:\"description\";s:21:\"The
  name of the user.\";}s:5:\"State\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/EntityState\";s:11:\"description\";s:66:\"The
  state of the user, which can be ENABLED, DISABLED, or DELETED.\";}s:8:\"UserRole\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/UserRole\";s:11:\"description\";s:21:\"The
  role of the user.\";}}s:4:\"type\";s:6:\"object\";}s:8:\"UserName\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:64;s:9:\"minLength\";i:1;s:7:\"pattern\";s:44:\"[\\w\\-.]+(@[a-zA-Z0-9.\\-]+\\.[a-zA-Z0-9]{2,})?\";s:4:\"type\";s:6:\"string\";}s:8:\"UserRole\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:4:\"USER\";i:1;s:8:\"RESOURCE\";i:2;s:11:\"SYSTEM_USER\";}s:4:\"type\";s:6:\"string\";}s:5:\"Users\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/User\";}s:4:\"type\";s:5:\"array\";}s:18:\"WorkMailIdentifier\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:256;s:9:\"minLength\";i:12;s:4:\"type\";s:6:\"string\";}}"
...
