---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:15:\"Amadeus Sandbox\";s:11:\"description\";s:21:\"Travel
  Crunch Sandbox\";s:7:\"version\";s:5:\"1.0.0\";}"
host: api.amadeus.com
basePath: /v1.2
paths:
  /products:
    get:
      summary: airline
      description: This service retrieves the airline information corresponding to
        an IATA airline code.n
      parameters:
      - name: code
        in: query
        description: IATA airline code for which further information is required.
        required: true
        type: string
        format: double
      tags:
      - Airline
      responses:
        200:
          description: Airline properties
          schema:
            type: array
            items:
              $ref: '#/definitions/Airline'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":2:{s:7:\"Airline\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"The
  IATA airline code that was requested.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"The
  name of the airline to be decoded.\";}}}s:5:\"Error\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}"
...
