---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":15:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:9:\"x-twitter\";s:12:\"PermittedSoc\";}s:11:\"description\";s:712:\"<fullname>Amazon
  CloudSearch Configuration Service</fullname> <p>You use the Amazon CloudSearch configuration
  service to create, configure, and manage search domains. Configuration service requests
  are submitted using the AWS Query protocol. AWS Query requests are HTTP or HTTPS
  requests submitted via HTTP GET or POST with a query parameter named Action.</p>
  <p>The endpoint for configuration service requests is region-specific: cloudsearch.<i>region</i>.amazonaws.com.
  For example, cloudsearch.us-east-1.amazonaws.com. For a current list of supported
  regions and endpoints, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/rande.html#cloudsearch_region\"
  target=\"_blank\">Regions and Endpoints</a>.</p>\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache
  2.0 License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:18:\"Amazon
  CloudSearch\";s:7:\"version\";s:10:\"2013-01-01\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:95:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/cloudsearch-2013-01-01.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v4\";s:13:\"x-serviceName\";s:11:\"cloudsearch\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:21:\"amazonaws_cloudsearch\";s:4:\"type\";s:7:\"openapi\";}}"
host: cloudsearch.amazonaws.com
basePath: /
paths: ~
produces: []
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":125:{s:10:\"APIVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"The
  Amazon CloudSearch API version for a domain: 2011-02-01 or 2013-01-01.\";s:4:\"type\";s:6:\"string\";}s:3:\"ARN\";O:8:\"stdClass\":2:{s:11:\"description\";s:270:\"The
  Amazon Resource Name (ARN) of the search domain. See <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/index.html?Using_Identifiers.html\"
  target=\"_blank\">Identifiers for IAM Entities</a> in <i>Using AWS Identity and
  Access Management</i> for more information.\";s:4:\"type\";s:6:\"string\";}s:20:\"AccessPoliciesStatus\";O:8:\"stdClass\":4:{s:11:\"description\";s:114:\"The
  configured access rules for the domain's document and search endpoints, and the
  current status of those rules.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Options\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/PolicyDocument\";}s:6:\"Status\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/OptionStatus\";}}s:8:\"required\";a:2:{i:0;s:7:\"Options\";i:1;s:6:\"Status\";}s:4:\"type\";s:6:\"object\";}s:19:\"AlgorithmicStemming\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:4:\"none\";i:1;s:7:\"minimal\";i:2;s:5:\"light\";i:3;s:4:\"full\";}s:4:\"type\";s:6:\"string\";}s:15:\"AnalysisOptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:112:\"Synonyms,
  stopwords, and stemming options for an analysis scheme. Includes tokenization dictionary
  for Japanese.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:19:\"AlgorithmicStemming\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/AlgorithmicStemming\";s:11:\"description\";s:437:\"The
  level of algorithmic stemming to perform: <code>none</code>, <code>minimal</code>,
  <code>light</code>, or <code>full</code>. The available levels vary depending on
  the language. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/text-processing.html#text-processing-settings\"
  target=\"_blank\">Language Specific Text Processing Settings</a> in the <i>Amazon
  CloudSearch Developer Guide</i> \";}s:30:\"JapaneseTokenizationDictionary\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:267:\"A
  JSON array that contains a collection of terms, tokens, readings and part of speech
  for Japanese Tokenizaiton. The Japanese tokenization dictionary enables you to override
  the default tokenization for selected terms. This is only valid for Japanese language
  fields.\";}s:18:\"StemmingDictionary\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:436:\"A
  JSON object that contains a collection of string:value pairs that each map a term
  to its stem. For example, <code>{\"term1\": \"stem1\", \"term2\": \"stem2\", \"term3\":
  \"stem3\"}</code>. The stemming dictionary is applied in addition to any algorithmic
  stemming. This enables you to override the results of the algorithmic stemming to
  correct specific cases of overstemming or understemming. The maximum size of a stemming
  dictionary is 500 KB.\";}s:9:\"Stopwords\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:244:\"A
  JSON array of terms to ignore during indexing and searching. For example, <code>[\"a\",
  \"an\", \"the\", \"of\"]</code>. The stopwords dictionary must explicitly list each
  word you want to ignore. Wildcards and regular expressions are not supported. \";}s:8:\"Synonyms\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:744:\"A
  JSON object that defines synonym groups and aliases. A synonym group is an array
  of arrays, where each sub-array is a group of terms where each term in the group
  is considered a synonym of every other term in the group. The aliases value is an
  object that contains a collection of string:value pairs where the string specifies
  a term and the array of values specifies each of the aliases for that term. An alias
  is considered a synonym of the specified term, but the term is not considered a
  synonym of the alias. For more information about specifying synonyms, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-analysis-schemes.html#synonyms\">Synonyms</a>
  in the <i>Amazon CloudSearch Developer Guide</i>.\";}}s:4:\"type\";s:6:\"object\";}s:14:\"AnalysisScheme\";O:8:\"stdClass\":4:{s:11:\"description\";s:370:\"Configuration
  information for an analysis scheme. Each analysis scheme has a unique name and specifies
  the language of the text to be processed. The following options can be configured
  for an analysis scheme: <code>Synonyms</code>, <code>Stopwords</code>, <code>StemmingDictionary</code>,
  <code>JapaneseTokenizationDictionary</code> and <code>AlgorithmicStemming</code>.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"AnalysisOptions\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/AnalysisOptions\";}s:22:\"AnalysisSchemeLanguage\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/AnalysisSchemeLanguage\";}s:18:\"AnalysisSchemeName\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/StandardName\";}}s:8:\"required\";a:2:{i:0;s:18:\"AnalysisSchemeName\";i:1;s:22:\"AnalysisSchemeLanguage\";}s:4:\"type\";s:6:\"object\";}s:22:\"AnalysisSchemeLanguage\";O:8:\"stdClass\":3:{s:11:\"description\";s:139:\"An
  <a href=\"http://tools.ietf.org/html/rfc4646\" target=\"_blank\">IETF RFC 4646</a>
  language code or <code>mul</code> for multiple languages.\";s:4:\"enum\";a:35:{i:0;s:2:\"ar\";i:1;s:2:\"bg\";i:2;s:2:\"ca\";i:3;s:2:\"cs\";i:4;s:2:\"da\";i:5;s:2:\"de\";i:6;s:2:\"el\";i:7;s:2:\"en\";i:8;s:2:\"es\";i:9;s:2:\"eu\";i:10;s:2:\"fa\";i:11;s:2:\"fi\";i:12;s:2:\"fr\";i:13;s:2:\"ga\";i:14;s:2:\"gl\";i:15;s:2:\"he\";i:16;s:2:\"hi\";i:17;s:2:\"hu\";i:18;s:2:\"hy\";i:19;s:2:\"id\";i:20;s:2:\"it\";i:21;s:2:\"ja\";i:22;s:2:\"ko\";i:23;s:2:\"lv\";i:24;s:3:\"mul\";i:25;s:2:\"nl\";i:26;s:2:\"no\";i:27;s:2:\"pt\";i:28;s:2:\"ro\";i:29;s:2:\"ru\";i:30;s:2:\"sv\";i:31;s:2:\"th\";i:32;s:2:\"tr\";i:33;s:7:\"zh-Hans\";i:34;s:7:\"zh-Hant\";}s:4:\"type\";s:6:\"string\";}s:20:\"AnalysisSchemeStatus\";O:8:\"stdClass\":4:{s:11:\"description\";s:63:\"The
  status and configuration of an <code>AnalysisScheme</code>.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Options\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/AnalysisScheme\";}s:6:\"Status\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/OptionStatus\";}}s:8:\"required\";a:2:{i:0;s:7:\"Options\";i:1;s:6:\"Status\";}s:4:\"type\";s:6:\"object\";}s:24:\"AnalysisSchemeStatusList\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"A
  list of the analysis schemes configured for a domain.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/AnalysisSchemeStatus\";}s:4:\"type\";s:5:\"array\";}s:25:\"AvailabilityOptionsStatus\";O:8:\"stdClass\":4:{s:11:\"description\";s:66:\"The
  status and configuration of the domain's availability options.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Options\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/MultiAZ\";s:11:\"description\";s:51:\"The
  availability options configured for the domain.\";}s:6:\"Status\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/OptionStatus\";}}s:8:\"required\";a:2:{i:0;s:7:\"Options\";i:1;s:6:\"Status\";}s:4:\"type\";s:6:\"object\";}s:13:\"BaseException\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"An
  error occurred while processing the request.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Code\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/ErrorCode\";}s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Boolean\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:22:\"BuildSuggestersRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:134:\"Container
  for the parameters to the <code><a>BuildSuggester</a></code> operation. Specifies
  the name of the domain you want to update.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"DomainName\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/DomainName\";}}s:8:\"required\";a:1:{i:0;s:10:\"DomainName\";}s:4:\"type\";s:6:\"object\";}s:23:\"BuildSuggestersResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:104:\"The
  result of a <code>BuildSuggester</code> request. Contains a list of the fields used
  for suggestions.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"FieldNames\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/FieldNameList\";}}s:4:\"type\";s:6:\"object\";}s:19:\"CreateDomainRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:123:\"Container
  for the parameters to the <code><a>CreateDomain</a></code> operation. Specifies
  a name for the new search domain.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"DomainName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/DomainName\";s:11:\"description\";s:212:\"A
  name for the domain you are creating. Allowed characters are a-z (lower-case letters),
  0-9, and hyphen (-). Domain names must start with a letter or number and be at least
  3 and no more than 28 characters long.\";}}s:8:\"required\";a:1:{i:0;s:10:\"DomainName\";}s:4:\"type\";s:6:\"object\";}s:20:\"CreateDomainResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:96:\"The
  result of a <code>CreateDomainRequest</code>. Contains the status of a newly created
  domain.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"DomainStatus\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/DomainStatus\";}}s:4:\"type\";s:6:\"object\";}s:16:\"DateArrayOptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:183:\"Options
  for a field that contains an array of dates. Present if <code>IndexFieldType</code>
  specifies the field is of type <code>date-array</code>. All options are enabled
  by default.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"DefaultValue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/FieldValue\";s:11:\"description\";s:73:\"A
  value to use for the field if the field isn't specified for a document.\";}s:12:\"FacetEnabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:56:\"Whether
  facet information can be returned for the field.\";}s:13:\"ReturnEnabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:72:\"Whether
  the contents of the field can be returned in the search results.\";}s:13:\"SearchEnabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:49:\"Whether
  the contents of the field are searchable.\";}s:12:\"SourceFields\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/FieldNameCommaList\";s:11:\"description\";s:45:\"A
  list of source fields to map to the field. \";}}s:4:\"type\";s:6:\"object\";}s:11:\"DateOptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:265:\"Options
  for a date field. Dates and times are specified in UTC (Coordinated Universal Time)
  according to IETF RFC3339: yyyy-mm-ddT00:00:00Z. Present if <code>IndexFieldType</code>
  specifies the field is of type <code>date</code>. All options are enabled by default.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"DefaultValue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/FieldValue\";s:11:\"description\";s:73:\"A
  value to use for the field if the field isn't specified for a document.\";}s:12:\"FacetEnabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:56:\"Whether
  facet information can be returned for the field.\";}s:13:\"ReturnEnabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:72:\"Whether
  the contents of the field can be returned in the search results.\";}s:13:\"SearchEnabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:49:\"Whether
  the contents of the field are searchable.\";}s:11:\"SortEnabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:57:\"Whether
  the field can be used to sort the search results.\";}s:11:\"SourceField\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/FieldName\";}}s:4:\"type\";s:6:\"object\";}s:27:\"DefineAnalysisSchemeRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:178:\"Container
  for the parameters to the <code><a>DefineAnalysisScheme</a></code> operation. Specifies
  the name of the domain you want to update and the analysis scheme configuration.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"AnalysisScheme\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/AnalysisScheme\";}s:10:\"DomainName\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/DomainName\";}}s:8:\"required\";a:2:{i:0;s:10:\"DomainName\";i:1;s:14:\"AnalysisScheme\";}s:4:\"type\";s:6:\"object\";}s:28:\"DefineAnalysisSchemeResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:126:\"The
  result of a <code><a>DefineAnalysisScheme</a></code> request. Contains the status
  of the newly-configured analysis scheme.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"AnalysisScheme\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/AnalysisSchemeStatus\";}}s:8:\"required\";a:1:{i:0;s:14:\"AnalysisScheme\";}s:4:\"type\";s:6:\"object\";}s:23:\"DefineExpressionRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:177:\"Container
  for the parameters to the <code><a>DefineExpression</a></code> operation. Specifies
  the name of the domain you want to update and the expression you want to configure.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"DomainName\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/DomainName\";}s:10:\"Expression\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Expression\";}}s:8:\"required\";a:2:{i:0;s:10:\"DomainName\";i:1;s:10:\"Expression\";}s:4:\"type\";s:6:\"object\";}s:24:\"DefineExpressionResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:110:\"The
  result of a <code>DefineExpression</code> request. Contains the status of the newly-configured
  expression.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"Expression\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ExpressionStatus\";}}s:8:\"required\";a:1:{i:0;s:10:\"Expression\";}s:4:\"type\";s:6:\"object\";}s:23:\"DefineIndexFieldRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:170:\"Container
  for the parameters to the <code><a>DefineIndexField</a></code> operation. Specifies
  the name of the domain you want to update and the index field configuration.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"DomainName\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/DomainName\";}s:10:\"IndexField\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/IndexField\";s:11:\"description\";s:57:\"The
  index field and field options you want to configure. \";}}s:8:\"required\";a:2:{i:0;s:10:\"DomainName\";i:1;s:10:\"IndexField\";}s:4:\"type\";s:6:\"object\";}s:24:\"DefineIndexFieldResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:118:\"The
  result of a <code><a>DefineIndexField</a></code> request. Contains the status of
  the newly-configured index field.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"IndexField\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/IndexFieldStatus\";}}s:8:\"required\";a:1:{i:0;s:10:\"IndexField\";}s:4:\"type\";s:6:\"object\";}s:22:\"DefineSuggesterRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:167:\"Container
  for the parameters to the <code><a>DefineSuggester</a></code> operation. Specifies
  the name of the domain you want to update and the suggester configuration.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"DomainName\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/DomainName\";}s:9:\"Suggester\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Suggester\";}}s:8:\"required\";a:2:{i:0;s:10:\"DomainName\";i:1;s:9:\"Suggester\";}s:4:\"type\";s:6:\"object\";}s:23:\"DefineSuggesterResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:108:\"The
  result of a <code>DefineSuggester</code> request. Contains the status of the newly-configured
  suggester.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"Suggester\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/SuggesterStatus\";}}s:8:\"required\";a:1:{i:0;s:9:\"Suggester\";}s:4:\"type\";s:6:\"object\";}s:27:\"DeleteAnalysisSchemeRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:184:\"Container
  for the parameters to the <code><a>DeleteAnalysisScheme</a></code> operation. Specifies
  the name of the domain you want to update and the analysis scheme you want to delete.
  \";s:10:\"properties\";O:8:\"stdClass\":2:{s:18:\"AnalysisSchemeName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/StandardName\";s:11:\"description\";s:51:\"The
  name of the analysis scheme you want to delete.\";}s:10:\"DomainName\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/DomainName\";}}s:8:\"required\";a:2:{i:0;s:10:\"DomainName\";i:1;s:18:\"AnalysisSchemeName\";}s:4:\"type\";s:6:\"object\";}s:28:\"DeleteAnalysisSchemeResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:110:\"The
  result of a <code>DeleteAnalysisScheme</code> request. Contains the status of the
  deleted analysis scheme.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"AnalysisScheme\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/AnalysisSchemeStatus\";s:11:\"description\";s:48:\"The
  status of the analysis scheme being deleted.\";}}s:8:\"required\";a:1:{i:0;s:14:\"AnalysisScheme\";}s:4:\"type\";s:6:\"object\";}s:19:\"DeleteDomainRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:132:\"Container
  for the parameters to the <code><a>DeleteDomain</a></code> operation. Specifies
  the name of the domain you want to delete.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"DomainName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/DomainName\";s:11:\"description\";s:54:\"The
  name of the domain you want to permanently delete.\";}}s:8:\"required\";a:1:{i:0;s:10:\"DomainName\";}s:4:\"type\";s:6:\"object\";}s:20:\"DeleteDomainResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:161:\"The
  result of a <code>DeleteDomain</code> request. Contains the status of a newly deleted
  domain, or no status if the domain has already been completely deleted.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"DomainStatus\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/DomainStatus\";}}s:4:\"type\";s:6:\"object\";}s:23:\"DeleteExpressionRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:186:\"Container
  for the parameters to the <code><a>DeleteExpression</a></code> operation. Specifies
  the name of the domain you want to update and the name of the expression you want
  to delete.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"DomainName\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/DomainName\";}s:14:\"ExpressionName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/StandardName\";s:11:\"description\";s:57:\"The
  name of the <code><a>Expression</a></code> to delete.\";}}s:8:\"required\";a:2:{i:0;s:10:\"DomainName\";i:1;s:14:\"ExpressionName\";}s:4:\"type\";s:6:\"object\";}s:24:\"DeleteExpressionResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:101:\"The
  result of a <code><a>DeleteExpression</a></code> request. Specifies the expression
  being deleted.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"Expression\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ExpressionStatus\";s:11:\"description\";s:43:\"The
  status of the expression being deleted.\";}}s:8:\"required\";a:1:{i:0;s:10:\"Expression\";}s:4:\"type\";s:6:\"object\";}s:23:\"DeleteIndexFieldRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:187:\"Container
  for the parameters to the <code><a>DeleteIndexField</a></code> operation. Specifies
  the name of the domain you want to update and the name of the index field you want
  to delete.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"DomainName\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/DomainName\";}s:14:\"IndexFieldName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/DynamicFieldName\";s:11:\"description\";s:83:\"The
  name of the index field your want to remove from the domain's indexing options.\";}}s:8:\"required\";a:2:{i:0;s:10:\"DomainName\";i:1;s:14:\"IndexFieldName\";}s:4:\"type\";s:6:\"object\";}s:24:\"DeleteIndexFieldResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:61:\"The
  result of a <code><a>DeleteIndexField</a></code> request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"IndexField\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/IndexFieldStatus\";s:11:\"description\";s:44:\"The
  status of the index field being deleted.\";}}s:8:\"required\";a:1:{i:0;s:10:\"IndexField\";}s:4:\"type\";s:6:\"object\";}s:22:\"DeleteSuggesterRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:180:\"Container
  for the parameters to the <code><a>DeleteSuggester</a></code> operation. Specifies
  the name of the domain you want to update and name of the suggester you want to
  delete.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"DomainName\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/DomainName\";}s:13:\"SuggesterName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/StandardName\";s:11:\"description\";s:55:\"Specifies
  the name of the suggester you want to delete.\";}}s:8:\"required\";a:2:{i:0;s:10:\"DomainName\";i:1;s:13:\"SuggesterName\";}s:4:\"type\";s:6:\"object\";}s:23:\"DeleteSuggesterResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:99:\"The
  result of a <code>DeleteSuggester</code> request. Contains the status of the deleted
  suggester.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"Suggester\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/SuggesterStatus\";s:11:\"description\";s:42:\"The
  status of the suggester being deleted.\";}}s:8:\"required\";a:1:{i:0;s:9:\"Suggester\";}s:4:\"type\";s:6:\"object\";}s:30:\"DescribeAnalysisSchemesRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:389:\"Container
  for the parameters to the <code><a>DescribeAnalysisSchemes</a></code> operation.
  Specifies the name of the domain you want to describe. To limit the response to
  particular analysis schemes, specify the names of the analysis schemes you want
  to describe. To show the active configuration and exclude any pending changes, set
  the <code>Deployed</code> option to <code>true</code>. \";s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"AnalysisSchemeNames\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/StandardNameList\";s:11:\"description\";s:42:\"The
  analysis schemes you want to describe.\";}s:8:\"Deployed\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:150:\"Whether
  to display the deployed configuration (<code>true</code>) or include any pending
  changes (<code>false</code>). Defaults to <code>false</code>.\";}s:10:\"DomainName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/DomainName\";s:11:\"description\";s:44:\"The
  name of the domain you want to describe.\";}}s:8:\"required\";a:1:{i:0;s:10:\"DomainName\";}s:4:\"type\";s:6:\"object\";}s:31:\"DescribeAnalysisSchemesResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:143:\"The
  result of a <code>DescribeAnalysisSchemes</code> request. Contains the analysis
  schemes configured for the domain specified in the request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"AnalysisSchemes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/AnalysisSchemeStatusList\";s:11:\"description\";s:33:\"The
  analysis scheme descriptions.\";}}s:8:\"required\";a:1:{i:0;s:15:\"AnalysisSchemes\";}s:4:\"type\";s:6:\"object\";}s:34:\"DescribeAvailabilityOptionsRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:261:\"Container
  for the parameters to the <code><a>DescribeAvailabilityOptions</a></code> operation.
  Specifies the name of the domain you want to describe. To show the active configuration
  and exclude any pending changes, set the Deployed option to <code>true</code>.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"Deployed\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:150:\"Whether
  to display the deployed configuration (<code>true</code>) or include any pending
  changes (<code>false</code>). Defaults to <code>false</code>.\";}s:10:\"DomainName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/DomainName\";s:11:\"description\";s:44:\"The
  name of the domain you want to describe.\";}}s:8:\"required\";a:1:{i:0;s:10:\"DomainName\";}s:4:\"type\";s:6:\"object\";}s:35:\"DescribeAvailabilityOptionsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:163:\"The
  result of a <code>DescribeAvailabilityOptions</code> request. Indicates whether
  or not the Multi-AZ option is enabled for the domain specified in the request. \";s:10:\"properties\";O:8:\"stdClass\":1:{s:19:\"AvailabilityOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/AvailabilityOptionsStatus\";s:11:\"description\";s:106:\"The
  availability options configured for the domain. Indicates whether Multi-AZ is enabled
  for the domain. \";}}s:4:\"type\";s:6:\"object\";}s:22:\"DescribeDomainsRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:229:\"Container
  for the parameters to the <code><a>DescribeDomains</a></code> operation. By default
  shows the status of all domains. To restrict the response to particular domains,
  specify the names of the domains you want to describe.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"DomainNames\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/DomainNameList\";s:11:\"description\";s:61:\"The
  names of the domains you want to include in the response.\";}}s:4:\"type\";s:6:\"object\";}s:23:\"DescribeDomainsResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:150:\"The
  result of a <code>DescribeDomains</code> request. Contains the status of the domains
  specified in the request or all domains owned by the account.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"DomainStatusList\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/DomainStatusList\";}}s:8:\"required\";a:1:{i:0;s:16:\"DomainStatusList\";}s:4:\"type\";s:6:\"object\";}s:26:\"DescribeExpressionsRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:373:\"Container
  for the parameters to the <code><a>DescribeDomains</a></code> operation. Specifies
  the name of the domain you want to describe. To restrict the response to particular
  expressions, specify the names of the expressions you want to describe. To show
  the active configuration and exclude any pending changes, set the <code>Deployed</code>
  option to <code>true</code>.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"Deployed\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:150:\"Whether
  to display the deployed configuration (<code>true</code>) or include any pending
  changes (<code>false</code>). Defaults to <code>false</code>.\";}s:10:\"DomainName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/DomainName\";s:11:\"description\";s:44:\"The
  name of the domain you want to describe.\";}s:15:\"ExpressionNames\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/StandardNameList\";s:11:\"description\";s:134:\"Limits
  the <code><a>DescribeExpressions</a></code> response to the specified expressions.
  If not specified, all expressions are shown.\";}}s:8:\"required\";a:1:{i:0;s:10:\"DomainName\";}s:4:\"type\";s:6:\"object\";}s:27:\"DescribeExpressionsResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:134:\"The
  result of a <code>DescribeExpressions</code> request. Contains the expressions configured
  for the domain specified in the request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"Expressions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ExpressionStatusList\";s:11:\"description\";s:42:\"The
  expressions configured for the domain.\";}}s:8:\"required\";a:1:{i:0;s:11:\"Expressions\";}s:4:\"type\";s:6:\"object\";}s:26:\"DescribeIndexFieldsRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:379:\"Container
  for the parameters to the <code><a>DescribeIndexFields</a></code> operation. Specifies
  the name of the domain you want to describe. To restrict the response to particular
  index fields, specify the names of the index fields you want to describe. To show
  the active configuration and exclude any pending changes, set the <code>Deployed</code>
  option to <code>true</code>.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"Deployed\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:150:\"Whether
  to display the deployed configuration (<code>true</code>) or include any pending
  changes (<code>false</code>). Defaults to <code>false</code>.\";}s:10:\"DomainName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/DomainName\";s:11:\"description\";s:44:\"The
  name of the domain you want to describe.\";}s:10:\"FieldNames\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/DynamicFieldNameList\";s:11:\"description\";s:123:\"A
  list of the index fields you want to describe. If not specified, information is
  returned for all configured index fields.\";}}s:8:\"required\";a:1:{i:0;s:10:\"DomainName\";}s:4:\"type\";s:6:\"object\";}s:27:\"DescribeIndexFieldsResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:135:\"The
  result of a <code>DescribeIndexFields</code> request. Contains the index fields
  configured for the domain specified in the request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"IndexFields\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/IndexFieldStatusList\";s:11:\"description\";s:43:\"The
  index fields configured for the domain.\";}}s:8:\"required\";a:1:{i:0;s:11:\"IndexFields\";}s:4:\"type\";s:6:\"object\";}s:32:\"DescribeScalingParametersRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:148:\"Container
  for the parameters to the <code><a>DescribeScalingParameters</a></code> operation.
  Specifies the name of the domain you want to describe. \";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"DomainName\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/DomainName\";}}s:8:\"required\";a:1:{i:0;s:10:\"DomainName\";}s:4:\"type\";s:6:\"object\";}s:33:\"DescribeScalingParametersResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:147:\"The
  result of a <code>DescribeScalingParameters</code> request. Contains the scaling
  parameters configured for the domain specified in the request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"ScalingParameters\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/ScalingParametersStatus\";}}s:8:\"required\";a:1:{i:0;s:17:\"ScalingParameters\";}s:4:\"type\";s:6:\"object\";}s:36:\"DescribeServiceAccessPoliciesRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:276:\"Container
  for the parameters to the <code><a>DescribeServiceAccessPolicies</a></code> operation.
  Specifies the name of the domain you want to describe. To show the active configuration
  and exclude any pending changes, set the <code>Deployed</code> option to <code>true</code>.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"Deployed\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:150:\"Whether
  to display the deployed configuration (<code>true</code>) or include any pending
  changes (<code>false</code>). Defaults to <code>false</code>.\";}s:10:\"DomainName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/DomainName\";s:11:\"description\";s:44:\"The
  name of the domain you want to describe.\";}}s:8:\"required\";a:1:{i:0;s:10:\"DomainName\";}s:4:\"type\";s:6:\"object\";}s:37:\"DescribeServiceAccessPoliciesResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:67:\"The
  result of a <code>DescribeServiceAccessPolicies</code> request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"AccessPolicies\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/AccessPoliciesStatus\";s:11:\"description\";s:68:\"The
  access rules configured for the domain specified in the request.\";}}s:8:\"required\";a:1:{i:0;s:14:\"AccessPolicies\";}s:4:\"type\";s:6:\"object\";}s:25:\"DescribeSuggestersRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:373:\"Container
  for the parameters to the <code><a>DescribeSuggester</a></code> operation. Specifies
  the name of the domain you want to describe. To restrict the response to particular
  suggesters, specify the names of the suggesters you want to describe. To show the
  active configuration and exclude any pending changes, set the <code>Deployed</code>
  option to <code>true</code>.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"Deployed\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:150:\"Whether
  to display the deployed configuration (<code>true</code>) or include any pending
  changes (<code>false</code>). Defaults to <code>false</code>.\";}s:10:\"DomainName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/DomainName\";s:11:\"description\";s:44:\"The
  name of the domain you want to describe.\";}s:14:\"SuggesterNames\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/StandardNameList\";s:11:\"description\";s:36:\"The
  suggesters you want to describe.\";}}s:8:\"required\";a:1:{i:0;s:10:\"DomainName\";}s:4:\"type\";s:6:\"object\";}s:26:\"DescribeSuggestersResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:56:\"The
  result of a <code>DescribeSuggesters</code> request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"Suggesters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/SuggesterStatusList\";s:11:\"description\";s:66:\"The
  suggesters configured for the domain specified in the request.\";}}s:8:\"required\";a:1:{i:0;s:10:\"Suggesters\";}s:4:\"type\";s:6:\"object\";}s:26:\"DisabledOperationException\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"The
  request was rejected because it attempted an operation which is not enabled.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:24:\"DocumentSuggesterOptions\";O:8:\"stdClass\":4:{s:11:\"description\";s:31:\"Options
  for a search suggester.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"FuzzyMatching\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/SuggesterFuzzyMatching\";s:11:\"description\";s:362:\"The
  level of fuzziness allowed when suggesting matches for a string: <code>none</code>,
  <code>low</code>, or <code>high</code>. With none, the specified string is treated
  as an exact prefix. With low, suggestions must differ from the specified string
  by no more than one character. With high, suggestions can differ by up to two characters.
  The default is none. \";}s:14:\"SortExpression\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:541:\"An
  expression that computes a score for each suggestion to control how they are sorted.
  The scores are rounded to the nearest integer, with a floor of 0 and a ceiling of
  2^31-1. A document's relevance score is not computed for suggestions, so sort expressions
  cannot reference the <code>_score</code> value. To sort suggestions using a numeric
  field or existing expression, simply specify the name of the field or expression.
  If no expression is configured for the suggester, the suggestions are sorted with
  the closest matches listed first.\";}s:11:\"SourceField\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/FieldName\";s:11:\"description\";s:61:\"The
  name of the index field you want to use for suggestions. \";}}s:8:\"required\";a:1:{i:0;s:11:\"SourceField\";}s:4:\"type\";s:6:\"object\";}s:8:\"DomainId\";O:8:\"stdClass\":4:{s:11:\"description\";s:55:\"An
  internally generated unique identifier for a domain.\";s:9:\"maxLength\";i:64;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:10:\"DomainName\";O:8:\"stdClass\":5:{s:11:\"description\";s:254:\"A
  string that represents the name of a domain. Domain names are unique across the
  domains owned by an account within an AWS region. Domain names start with a letter
  or number and can contain the following characters: a-z (lowercase), 0-9, and -
  (hyphen).\";s:9:\"maxLength\";i:28;s:9:\"minLength\";i:3;s:7:\"pattern\";s:16:\"[a-z][a-z0-9\\-]+\";s:4:\"type\";s:6:\"string\";}s:14:\"DomainNameList\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"A
  list of domain names.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/DomainName\";}s:4:\"type\";s:5:\"array\";}s:13:\"DomainNameMap\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"A
  collection of domain names.\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/DomainName\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/APIVersion\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:12:\"DomainStatus\";O:8:\"stdClass\":4:{s:11:\"description\";s:40:\"The
  current status of the search domain.\";s:10:\"properties\";O:8:\"stdClass\":13:{s:3:\"ARN\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/ARN\";}s:7:\"Created\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:260:\"True
  if the search domain is created. It can take several minutes to initialize a domain
  when <a>CreateDomain</a> is called. Newly created search domains are returned from
  <a>DescribeDomains</a> with a false value for Created until domain creation is complete.\";}s:7:\"Deleted\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:303:\"True
  if the search domain has been deleted. The system must clean up resources dedicated
  to the search domain when <a>DeleteDomain</a> is called. Newly deleted search domains
  are returned from <a>DescribeDomains</a> with a true value for IsDeleted for several
  minutes until resource cleanup is complete.\";}s:10:\"DocService\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ServiceEndpoint\";s:11:\"description\";s:63:\"The
  service endpoint for updating documents in a search domain.\";}s:8:\"DomainId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/DomainId\";}s:10:\"DomainName\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/DomainName\";}s:6:\"Limits\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Limits\";}s:10:\"Processing\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:78:\"True
  if processing is being done to activate the current domain configuration.\";}s:22:\"RequiresIndexDocuments\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:94:\"True
  if <a>IndexDocuments</a> needs to be called to activate the current domain configuration.\";}s:19:\"SearchInstanceCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/InstanceCount\";s:11:\"description\";s:77:\"The
  number of search instances that are available to process search requests.\";}s:18:\"SearchInstanceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/SearchInstanceType\";s:11:\"description\";s:64:\"The
  instance type that is being used to process search requests.\";}s:20:\"SearchPartitionCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/PartitionCount\";s:11:\"description\";s:65:\"The
  number of partitions across which the search index is spread.\";}s:13:\"SearchService\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ServiceEndpoint\";s:11:\"description\";s:72:\"The
  service endpoint for requesting search results from a search domain.\";}}s:8:\"required\";a:3:{i:0;s:8:\"DomainId\";i:1;s:10:\"DomainName\";i:2;s:22:\"RequiresIndexDocuments\";}s:4:\"type\";s:6:\"object\";}s:16:\"DomainStatusList\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"A
  list that contains the status of each requested domain.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/DomainStatus\";}s:4:\"type\";s:5:\"array\";}s:6:\"Double\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:18:\"DoubleArrayOptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:225:\"Options
  for a field that contains an array of double-precision 64-bit floating point values.
  Present if <code>IndexFieldType</code> specifies the field is of type <code>double-array</code>.
  All options are enabled by default.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"DefaultValue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Double\";s:11:\"description\";s:73:\"A
  value to use for the field if the field isn't specified for a document.\";}s:12:\"FacetEnabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:56:\"Whether
  facet information can be returned for the field.\";}s:13:\"ReturnEnabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:72:\"Whether
  the contents of the field can be returned in the search results.\";}s:13:\"SearchEnabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:49:\"Whether
  the contents of the field are searchable.\";}s:12:\"SourceFields\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/FieldNameCommaList\";s:11:\"description\";s:45:\"A
  list of source fields to map to the field. \";}}s:4:\"type\";s:6:\"object\";}s:13:\"DoubleOptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:186:\"Options
  for a double-precision 64-bit floating point field. Present if <code>IndexFieldType</code>
  specifies the field is of type <code>double</code>. All options are enabled by default.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"DefaultValue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Double\";s:11:\"description\";s:188:\"A
  value to use for the field if the field isn't specified for a document. This can
  be important if you are using the field in an expression and that field is not present
  in every document.\";}s:12:\"FacetEnabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:56:\"Whether
  facet information can be returned for the field.\";}s:13:\"ReturnEnabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:72:\"Whether
  the contents of the field can be returned in the search results.\";}s:13:\"SearchEnabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:49:\"Whether
  the contents of the field are searchable.\";}s:11:\"SortEnabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:57:\"Whether
  the field can be used to sort the search results.\";}s:11:\"SourceField\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/FieldName\";s:11:\"description\";s:50:\"The
  name of the source field to map to the field. \";}}s:4:\"type\";s:6:\"object\";}s:16:\"DynamicFieldName\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:64;s:9:\"minLength\";i:1;s:7:\"pattern\";s:33:\"([a-z][a-z0-9_]*\\*?|\\*[a-z0-9_]*)\";s:4:\"type\";s:6:\"string\";}s:20:\"DynamicFieldNameList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/DynamicFieldName\";}s:4:\"type\";s:5:\"array\";}s:9:\"ErrorCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"A
  machine-parsable string error or warning code.\";s:4:\"type\";s:6:\"string\";}s:12:\"ErrorMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"A
  human-readable string error or warning message.\";s:4:\"type\";s:6:\"string\";}s:10:\"Expression\";O:8:\"stdClass\":4:{s:11:\"description\";s:177:\"A
  named expression that can be evaluated at search time. Can be used to sort the search
  results, define other expressions, or return computed information in the search
  results. \";s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"ExpressionName\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/StandardName\";}s:15:\"ExpressionValue\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ExpressionValue\";}}s:8:\"required\";a:2:{i:0;s:14:\"ExpressionName\";i:1;s:15:\"ExpressionValue\";}s:4:\"type\";s:6:\"object\";}s:16:\"ExpressionStatus\";O:8:\"stdClass\":4:{s:11:\"description\";s:63:\"The
  value of an <code>Expression</code> and its current status.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Options\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Expression\";s:11:\"description\";s:79:\"The
  expression that is evaluated for sorting while processing a search request.\";}s:6:\"Status\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/OptionStatus\";}}s:8:\"required\";a:2:{i:0;s:7:\"Options\";i:1;s:6:\"Status\";}s:4:\"type\";s:6:\"object\";}s:20:\"ExpressionStatusList\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Contains
  the status of multiple expressions.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ExpressionStatus\";}s:4:\"type\";s:5:\"array\";}s:15:\"ExpressionValue\";O:8:\"stdClass\":4:{s:11:\"description\";s:364:\"The
  expression to evaluate for sorting while processing a search request. The <code>Expression</code>
  syntax is based on JavaScript expressions. For more information, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-expressions.html\"
  target=\"_blank\">Configuring Expressions</a> in the <i>Amazon CloudSearch Developer
  Guide</i>.\";s:9:\"maxLength\";i:10240;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:9:\"FieldName\";O:8:\"stdClass\":5:{s:11:\"description\";s:855:\"<p>A
  string that represents the name of an index field. CloudSearch supports regular
  index fields as well as dynamic fields. A dynamic field's name defines a pattern
  that begins or ends with a wildcard. Any document fields that don't map to a regular
  index field but do match a dynamic field's pattern are configured with the dynamic
  field's indexing options. </p> <p>Regular field names begin with a letter and can
  contain the following characters: a-z (lowercase), 0-9, and _ (underscore). Dynamic
  field names must begin or end with a wildcard (*). The wildcard can also be the
  only character in a dynamic field name. Multiple wildcards, and wildcards embedded
  within a string are not supported. </p> <p>The name <code>score</code> is reserved
  and cannot be used as a field name. To reference a document's ID, you can use the
  name <code>_id</code>. </p>\";s:9:\"maxLength\";i:64;s:9:\"minLength\";i:1;s:7:\"pattern\";s:15:\"[a-z][a-z0-9_]*\";s:4:\"type\";s:6:\"string\";}s:18:\"FieldNameCommaList\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:54:\"\\s*[a-z*][a-z0-9_]*\\*?\\s*(,\\s*[a-z*][a-z0-9_]*\\*?\\s*)*\";s:4:\"type\";s:6:\"string\";}s:13:\"FieldNameList\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"A
  list of field names.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/FieldName\";}s:4:\"type\";s:5:\"array\";}s:10:\"FieldValue\";O:8:\"stdClass\":4:{s:11:\"description\";s:31:\"The
  value of a field attribute.\";s:9:\"maxLength\";i:1024;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";}s:21:\"IndexDocumentsRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:136:\"Container
  for the parameters to the <code><a>IndexDocuments</a></code> operation. Specifies
  the name of the domain you want to re-index.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"DomainName\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/DomainName\";}}s:8:\"required\";a:1:{i:0;s:10:\"DomainName\";}s:4:\"type\";s:6:\"object\";}s:22:\"IndexDocumentsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:136:\"The
  result of an <code>IndexDocuments</code> request. Contains the status of the indexing
  operation, including the fields being indexed.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"FieldNames\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/FieldNameList\";s:11:\"description\";s:57:\"The
  names of the fields that are currently being indexed.\";}}s:4:\"type\";s:6:\"object\";}s:10:\"IndexField\";O:8:\"stdClass\":4:{s:11:\"description\";s:162:\"Configuration
  information for a field in the index, including its name, type, and options. The
  supported options depend on the <code><a>IndexFieldType</a></code>.\";s:10:\"properties\";O:8:\"stdClass\":13:{s:16:\"DateArrayOptions\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/DateArrayOptions\";}s:11:\"DateOptions\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/DateOptions\";}s:18:\"DoubleArrayOptions\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/DoubleArrayOptions\";}s:13:\"DoubleOptions\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/DoubleOptions\";}s:14:\"IndexFieldName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/DynamicFieldName\";s:11:\"description\";s:855:\"<p>A
  string that represents the name of an index field. CloudSearch supports regular
  index fields as well as dynamic fields. A dynamic field's name defines a pattern
  that begins or ends with a wildcard. Any document fields that don't map to a regular
  index field but do match a dynamic field's pattern are configured with the dynamic
  field's indexing options. </p> <p>Regular field names begin with a letter and can
  contain the following characters: a-z (lowercase), 0-9, and _ (underscore). Dynamic
  field names must begin or end with a wildcard (*). The wildcard can also be the
  only character in a dynamic field name. Multiple wildcards, and wildcards embedded
  within a string are not supported. </p> <p>The name <code>score</code> is reserved
  and cannot be used as a field name. To reference a document's ID, you can use the
  name <code>_id</code>. </p>\";}s:14:\"IndexFieldType\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/IndexFieldType\";}s:15:\"IntArrayOptions\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/IntArrayOptions\";}s:10:\"IntOptions\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/IntOptions\";}s:13:\"LatLonOptions\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/LatLonOptions\";}s:19:\"LiteralArrayOptions\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/LiteralArrayOptions\";}s:14:\"LiteralOptions\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/LiteralOptions\";}s:16:\"TextArrayOptions\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/TextArrayOptions\";}s:11:\"TextOptions\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/TextOptions\";}}s:8:\"required\";a:2:{i:0;s:14:\"IndexFieldName\";i:1;s:14:\"IndexFieldType\";}s:4:\"type\";s:6:\"object\";}s:16:\"IndexFieldStatus\";O:8:\"stdClass\":4:{s:11:\"description\";s:63:\"The
  value of an <code>IndexField</code> and its current status.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Options\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/IndexField\";}s:6:\"Status\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/OptionStatus\";}}s:8:\"required\";a:2:{i:0;s:7:\"Options\";i:1;s:6:\"Status\";}s:4:\"type\";s:6:\"object\";}s:20:\"IndexFieldStatusList\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Contains
  the status of multiple index fields.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/IndexFieldStatus\";}s:4:\"type\";s:5:\"array\";}s:14:\"IndexFieldType\";O:8:\"stdClass\":3:{s:11:\"description\";s:328:\"The
  type of field. The valid options for a field depend on the field type. For more
  information about the supported field types, see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-index-fields.html\"
  target=\"_blank\">Configuring Index Fields</a> in the <i>Amazon CloudSearch Developer
  Guide</i>.\";s:4:\"enum\";a:11:{i:0;s:3:\"int\";i:1;s:6:\"double\";i:2;s:7:\"literal\";i:3;s:4:\"text\";i:4;s:4:\"date\";i:5;s:6:\"latlon\";i:6;s:9:\"int-array\";i:7;s:12:\"double-array\";i:8;s:13:\"literal-array\";i:9;s:10:\"text-array\";i:10;s:10:\"date-array\";}s:4:\"type\";s:6:\"string\";}s:13:\"InstanceCount\";O:8:\"stdClass\":2:{s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:15:\"IntArrayOptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:199:\"Options
  for a field that contains an array of 64-bit signed integers. Present if <code>IndexFieldType</code>
  specifies the field is of type <code>int-array</code>. All options are enabled by
  default.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"DefaultValue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Long\";s:11:\"description\";s:73:\"A
  value to use for the field if the field isn't specified for a document.\";}s:12:\"FacetEnabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:56:\"Whether
  facet information can be returned for the field.\";}s:13:\"ReturnEnabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:72:\"Whether
  the contents of the field can be returned in the search results.\";}s:13:\"SearchEnabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:49:\"Whether
  the contents of the field are searchable.\";}s:12:\"SourceFields\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/FieldNameCommaList\";s:11:\"description\";s:45:\"A
  list of source fields to map to the field. \";}}s:4:\"type\";s:6:\"object\";}s:10:\"IntOptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:166:\"Options
  for a 64-bit signed integer field. Present if <code>IndexFieldType</code> specifies
  the field is of type <code>int</code>. All options are enabled by default.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"DefaultValue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Long\";s:11:\"description\";s:188:\"A
  value to use for the field if the field isn't specified for a document. This can
  be important if you are using the field in an expression and that field is not present
  in every document.\";}s:12:\"FacetEnabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:56:\"Whether
  facet information can be returned for the field.\";}s:13:\"ReturnEnabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:72:\"Whether
  the contents of the field can be returned in the search results.\";}s:13:\"SearchEnabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:49:\"Whether
  the contents of the field are searchable.\";}s:11:\"SortEnabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:57:\"Whether
  the field can be used to sort the search results.\";}s:11:\"SourceField\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/FieldName\";s:11:\"description\";s:50:\"The
  name of the source field to map to the field. \";}}s:4:\"type\";s:6:\"object\";}s:17:\"InternalException\";O:8:\"stdClass\":3:{s:11:\"description\";s:193:\"An
  internal error occurred while processing the request. If this problem persists,
  report an issue from the <a href=\"http://status.aws.amazon.com/\" target=\"_blank\">Service
  Health Dashboard</a>.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:20:\"InvalidTypeException\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"The
  request was rejected because it specified an invalid type definition.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:13:\"LatLonOptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:236:\"Options
  for a latlon field. A latlon field contains a location stored as a latitude and
  longitude value pair. Present if <code>IndexFieldType</code> specifies the field
  is of type <code>latlon</code>. All options are enabled by default.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"DefaultValue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/FieldValue\";s:11:\"description\";s:73:\"A
  value to use for the field if the field isn't specified for a document.\";}s:12:\"FacetEnabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:56:\"Whether
  facet information can be returned for the field.\";}s:13:\"ReturnEnabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:72:\"Whether
  the contents of the field can be returned in the search results.\";}s:13:\"SearchEnabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:49:\"Whether
  the contents of the field are searchable.\";}s:11:\"SortEnabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:57:\"Whether
  the field can be used to sort the search results.\";}s:11:\"SourceField\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/FieldName\";}}s:4:\"type\";s:6:\"object\";}s:22:\"LimitExceededException\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"The
  request was rejected because a resource limit has already been met.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:6:\"Limits\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:21:\"MaximumPartitionCount\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/MaximumPartitionCount\";}s:23:\"MaximumReplicationCount\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/MaximumReplicationCount\";}}s:8:\"required\";a:2:{i:0;s:23:\"MaximumReplicationCount\";i:1;s:21:\"MaximumPartitionCount\";}s:4:\"type\";s:6:\"object\";}s:23:\"ListDomainNamesResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:105:\"The
  result of a <code>ListDomainNames</code> request. Contains a list of the domains
  owned by an account.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"DomainNames\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/DomainNameMap\";s:11:\"description\";s:52:\"The
  names of the search domains owned by an account.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"LiteralArrayOptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:196:\"Options
  for a field that contains an array of literal strings. Present if <code>IndexFieldType</code>
  specifies the field is of type <code>literal-array</code>. All options are enabled
  by default.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"DefaultValue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/FieldValue\";s:11:\"description\";s:73:\"A
  value to use for the field if the field isn't specified for a document.\";}s:12:\"FacetEnabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:56:\"Whether
  facet information can be returned for the field.\";}s:13:\"ReturnEnabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:72:\"Whether
  the contents of the field can be returned in the search results.\";}s:13:\"SearchEnabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:49:\"Whether
  the contents of the field are searchable.\";}s:12:\"SourceFields\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/FieldNameCommaList\";s:11:\"description\";s:45:\"A
  list of source fields to map to the field. \";}}s:4:\"type\";s:6:\"object\";}s:14:\"LiteralOptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:154:\"Options
  for literal field. Present if <code>IndexFieldType</code> specifies the field is
  of type <code>literal</code>. All options are enabled by default.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"DefaultValue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/FieldValue\";s:11:\"description\";s:73:\"A
  value to use for the field if the field isn't specified for a document.\";}s:12:\"FacetEnabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:56:\"Whether
  facet information can be returned for the field.\";}s:13:\"ReturnEnabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:72:\"Whether
  the contents of the field can be returned in the search results.\";}s:13:\"SearchEnabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:49:\"Whether
  the contents of the field are searchable.\";}s:11:\"SortEnabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:57:\"Whether
  the field can be used to sort the search results.\";}s:11:\"SourceField\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/FieldName\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Long\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:21:\"MaximumPartitionCount\";O:8:\"stdClass\":2:{s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:23:\"MaximumReplicationCount\";O:8:\"stdClass\":2:{s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:7:\"MultiAZ\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"OptionState\";O:8:\"stdClass\":3:{s:11:\"description\";s:581:\"<p>The
  state of processing a change to an option. One of:</p> <ul> <li>RequiresIndexDocuments:
  The option's latest value will not be deployed until <a>IndexDocuments</a> has been
  called and indexing is complete.</li> <li>Processing: The option's latest value
  is in the process of being activated.</li> <li>Active: The option's latest value
  is fully deployed. </li> <li>FailedToValidate: The option value is not compatible
  with the domain's data and cannot be used to index the data. You must either modify
  the option value or update or remove the incompatible documents.</li> </ul>\";s:4:\"enum\";a:4:{i:0;s:22:\"RequiresIndexDocuments\";i:1;s:10:\"Processing\";i:2;s:6:\"Active\";i:3;s:16:\"FailedToValidate\";}s:4:\"type\";s:6:\"string\";}s:12:\"OptionStatus\";O:8:\"stdClass\":4:{s:11:\"description\";s:42:\"The
  status of domain configuration option.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"CreationDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/UpdateTimestamp\";s:11:\"description\";s:45:\"A
  timestamp for when this option was created.\";}s:15:\"PendingDeletion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:70:\"Indicates
  that the option will be deleted once processing is complete.\";}s:5:\"State\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/OptionState\";s:11:\"description\";s:651:\"<p>The
  state of processing a change to an option. Possible values:</p> <ul> <li> <code>RequiresIndexDocuments</code>:
  the option's latest value will not be deployed until <a>IndexDocuments</a> has been
  called and indexing is complete.</li> <li> <code>Processing</code>: the option's
  latest value is in the process of being activated. </li> <li> <code>Active</code>:
  the option's latest value is completely deployed.</li> <li> <code>FailedToValidate</code>:
  the option value is not compatible with the domain's data and cannot be used to
  index the data. You must either modify the option value or update or remove the
  incompatible documents.</li> </ul>\";}s:10:\"UpdateDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/UpdateTimestamp\";s:11:\"description\";s:50:\"A
  timestamp for when this option was last updated.\";}s:13:\"UpdateVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/UIntValue\";s:11:\"description\";s:66:\"A
  unique integer that indicates when this option was last updated.\";}}s:8:\"required\";a:3:{i:0;s:12:\"CreationDate\";i:1;s:10:\"UpdateDate\";i:2;s:5:\"State\";}s:4:\"type\";s:6:\"object\";}s:14:\"PartitionCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"The
  number of partitions used to hold the domain's index.\";s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:21:\"PartitionInstanceType\";O:8:\"stdClass\":3:{s:11:\"description\";s:95:\"The
  instance type (such as <code>search.m1.small</code>) on which an index partition
  is hosted.\";s:4:\"enum\";a:8:{i:0;s:15:\"search.m1.small\";i:1;s:15:\"search.m1.large\";i:2;s:16:\"search.m2.xlarge\";i:3;s:17:\"search.m2.2xlarge\";i:4;s:16:\"search.m3.medium\";i:5;s:15:\"search.m3.large\";i:6;s:16:\"search.m3.xlarge\";i:7;s:17:\"search.m3.2xlarge\";}s:4:\"type\";s:6:\"string\";}s:14:\"PolicyDocument\";O:8:\"stdClass\":2:{s:11:\"description\";s:344:\"Access
  rules for a domain's document or search service endpoints. For more information,
  see <a href=\"http://docs.aws.amazon.com/cloudsearch/latest/developerguide/configuring-access.html\"
  target=\"_blank\">Configuring Access for a Search Domain</a> in the <i>Amazon CloudSearch
  Developer Guide</i>. The maximum size of a policy document is 100 KB.\";s:4:\"type\";s:6:\"string\";}s:25:\"ResourceNotFoundException\";O:8:\"stdClass\":3:{s:11:\"description\";s:90:\"The
  request was rejected because it attempted to reference a resource that does not
  exist.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:17:\"ScalingParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:81:\"The
  desired instance type and desired number of replicas of each index partition.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"DesiredInstanceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/PartitionInstanceType\";s:11:\"description\";s:107:\"The
  instance type that you want to preconfigure for your domain. For example, <code>search.m1.small</code>.\";}s:21:\"DesiredPartitionCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/UIntValue\";s:11:\"description\";s:147:\"The
  number of partitions you want to preconfigure for your domain. Only valid when you
  select <code>m2.2xlarge</code> as the desired instance type.\";}s:23:\"DesiredReplicationCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/UIntValue\";s:11:\"description\";s:73:\"The
  number of replicas you want to preconfigure for each index partition.\";}}s:4:\"type\";s:6:\"object\";}s:23:\"ScalingParametersStatus\";O:8:\"stdClass\":4:{s:11:\"description\";s:70:\"The
  status and configuration of a search domain's scaling parameters. \";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Options\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ScalingParameters\";}s:6:\"Status\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/OptionStatus\";}}s:8:\"required\";a:2:{i:0;s:7:\"Options\";i:1;s:6:\"Status\";}s:4:\"type\";s:6:\"object\";}s:18:\"SearchInstanceType\";O:8:\"stdClass\":2:{s:11:\"description\";s:103:\"The
  instance type (such as <code>search.m1.small</code>) that is being used to process
  search requests.\";s:4:\"type\";s:6:\"string\";}s:15:\"ServiceEndpoint\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"The
  endpoint to which service requests can be submitted.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"Endpoint\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/ServiceUrl\";}}s:4:\"type\";s:6:\"object\";}s:10:\"ServiceUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:260:\"The
  endpoint to which service requests can be submitted. For example, <code>search-imdb-movies-oopcnjfn6ugofer3zx5iadxxca.eu-west-1.cloudsearch.amazonaws.com</code>
  or <code>doc-imdb-movies-oopcnjfn6ugofer3zx5iadxxca.eu-west-1.cloudsearch.amazonaws.com</code>.\";s:4:\"type\";s:6:\"string\";}s:12:\"StandardName\";O:8:\"stdClass\":5:{s:11:\"description\";s:114:\"Names
  must begin with a letter and can contain the following characters: a-z (lowercase),
  0-9, and _ (underscore).\";s:9:\"maxLength\";i:64;s:9:\"minLength\";i:1;s:7:\"pattern\";s:15:\"[a-z][a-z0-9_]*\";s:4:\"type\";s:6:\"string\";}s:16:\"StandardNameList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/StandardName\";}s:4:\"type\";s:5:\"array\";}s:6:\"String\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"Suggester\";O:8:\"stdClass\":4:{s:11:\"description\";s:259:\"Configuration
  information for a search suggester. Each suggester has a unique name and specifies
  the text field you want to use for suggestions. The following options can be configured
  for a suggester: <code>FuzzyMatching</code>, <code>SortExpression</code>. \";s:10:\"properties\";O:8:\"stdClass\":2:{s:24:\"DocumentSuggesterOptions\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/DocumentSuggesterOptions\";}s:13:\"SuggesterName\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/StandardName\";}}s:8:\"required\";a:2:{i:0;s:13:\"SuggesterName\";i:1;s:24:\"DocumentSuggesterOptions\";}s:4:\"type\";s:6:\"object\";}s:22:\"SuggesterFuzzyMatching\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:4:\"none\";i:1;s:3:\"low\";i:2;s:4:\"high\";}s:4:\"type\";s:6:\"string\";}s:15:\"SuggesterStatus\";O:8:\"stdClass\":4:{s:11:\"description\";s:61:\"The
  value of a <code>Suggester</code> and its current status.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Options\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Suggester\";}s:6:\"Status\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/OptionStatus\";}}s:8:\"required\";a:2:{i:0;s:7:\"Options\";i:1;s:6:\"Status\";}s:4:\"type\";s:6:\"object\";}s:19:\"SuggesterStatusList\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Contains
  the status of multiple suggesters.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/SuggesterStatus\";}s:4:\"type\";s:5:\"array\";}s:16:\"TextArrayOptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:244:\"Options
  for a field that contains an array of text strings. Present if <code>IndexFieldType</code>
  specifies the field is of type <code>text-array</code>. A <code>text-array</code>
  field is always searchable. All options are enabled by default.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:14:\"AnalysisScheme\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Word\";s:11:\"description\";s:67:\"The
  name of an analysis scheme for a <code>text-array</code> field.\";}s:12:\"DefaultValue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/FieldValue\";s:11:\"description\";s:73:\"A
  value to use for the field if the field isn't specified for a document.\";}s:16:\"HighlightEnabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:49:\"Whether
  highlights can be returned for the field.\";}s:13:\"ReturnEnabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:72:\"Whether
  the contents of the field can be returned in the search results.\";}s:12:\"SourceFields\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/FieldNameCommaList\";s:11:\"description\";s:45:\"A
  list of source fields to map to the field. \";}}s:4:\"type\";s:6:\"object\";}s:11:\"TextOptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:196:\"Options
  for text field. Present if <code>IndexFieldType</code> specifies the field is of
  type <code>text</code>. A <code>text</code> field is always searchable. All options
  are enabled by default.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:14:\"AnalysisScheme\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Word\";s:11:\"description\";s:61:\"The
  name of an analysis scheme for a <code>text</code> field.\";}s:12:\"DefaultValue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/FieldValue\";s:11:\"description\";s:73:\"A
  value to use for the field if the field isn't specified for a document.\";}s:16:\"HighlightEnabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:49:\"Whether
  highlights can be returned for the field.\";}s:13:\"ReturnEnabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:72:\"Whether
  the contents of the field can be returned in the search results.\";}s:11:\"SortEnabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:57:\"Whether
  the field can be used to sort the search results.\";}s:11:\"SourceField\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/FieldName\";}}s:4:\"type\";s:6:\"object\";}s:9:\"UIntValue\";O:8:\"stdClass\":2:{s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:32:\"UpdateAvailabilityOptionsRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:182:\"Container
  for the parameters to the <code><a>UpdateAvailabilityOptions</a></code> operation.
  Specifies the name of the domain you want to update and the Multi-AZ availability
  option.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"DomainName\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/DomainName\";}s:7:\"MultiAZ\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:263:\"You
  expand an existing search domain to a second Availability Zone by setting the Multi-AZ
  option to true. Similarly, you can turn off the Multi-AZ option to downgrade the
  domain to a single Availability Zone by setting the Multi-AZ option to <code>false</code>.
  \";}}s:8:\"required\";a:2:{i:0;s:10:\"DomainName\";i:1;s:7:\"MultiAZ\";}s:4:\"type\";s:6:\"object\";}s:33:\"UpdateAvailabilityOptionsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:122:\"The
  result of a <code>UpdateAvailabilityOptions</code> request. Contains the status
  of the domain's availability options. \";s:10:\"properties\";O:8:\"stdClass\":1:{s:19:\"AvailabilityOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/AvailabilityOptionsStatus\";s:11:\"description\";s:97:\"The
  newly-configured availability options. Indicates whether Multi-AZ is enabled for
  the domain. \";}}s:4:\"type\";s:6:\"object\";}s:30:\"UpdateScalingParametersRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:192:\"Container
  for the parameters to the <code><a>UpdateScalingParameters</a></code> operation.
  Specifies the name of the domain you want to update and the scaling parameters you
  want to configure.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"DomainName\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/DomainName\";}s:17:\"ScalingParameters\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ScalingParameters\";}}s:8:\"required\";a:2:{i:0;s:10:\"DomainName\";i:1;s:17:\"ScalingParameters\";}s:4:\"type\";s:6:\"object\";}s:31:\"UpdateScalingParametersResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:125:\"The
  result of a <code>UpdateScalingParameters</code> request. Contains the status of
  the newly-configured scaling parameters.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"ScalingParameters\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/ScalingParametersStatus\";}}s:8:\"required\";a:1:{i:0;s:17:\"ScalingParameters\";}s:4:\"type\";s:6:\"object\";}s:34:\"UpdateServiceAccessPoliciesRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:190:\"Container
  for the parameters to the <code><a>UpdateServiceAccessPolicies</a></code> operation.
  Specifies the name of the domain you want to update and the access rules you want
  to configure.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"AccessPolicies\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/PolicyDocument\";s:11:\"description\";s:80:\"The
  access rules you want to configure. These rules replace any existing rules. \";}s:10:\"DomainName\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/DomainName\";}}s:8:\"required\";a:2:{i:0;s:10:\"DomainName\";i:1;s:14:\"AccessPolicies\";}s:4:\"type\";s:6:\"object\";}s:35:\"UpdateServiceAccessPoliciesResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:100:\"The
  result of an <code>UpdateServiceAccessPolicies</code> request. Contains the new
  access policies.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"AccessPolicies\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/AccessPoliciesStatus\";s:11:\"description\";s:43:\"The
  access rules configured for the domain.\";}}s:8:\"required\";a:1:{i:0;s:14:\"AccessPolicies\";}s:4:\"type\";s:6:\"object\";}s:15:\"UpdateTimestamp\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:4:\"Word\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:5:\"[\\S]+\";s:4:\"type\";s:6:\"string\";}}"
...
