---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":15:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:9:\"x-twitter\";s:12:\"PermittedSoc\";}s:11:\"description\";s:55:\"Operations
  and objects for transcribing speech to text.\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache
  2.0 License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:25:\"Amazon
  Transcribe Service\";s:7:\"version\";s:10:\"2017-10-26\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:94:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/transcribe-2017-10-26.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v4\";s:13:\"x-serviceName\";s:10:\"transcribe\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:20:\"amazonaws_transcribe\";s:4:\"type\";s:7:\"openapi\";}}"
host: transcribe.amazonaws.com
basePath: /
paths:
  /:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a new custom vocabulary that you can use to change the
        way Amazon Transcribe handles transcription of an audio file.
      operationId: CreateVocabulary
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/CreateVocabularyRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/CreateVocabularyResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        482:
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        483:
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
  /#DeleteVocabulary:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Deletes a vocabulary from Amazon Transcribe. '
      operationId: DeleteVocabulary
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DeleteVocabularyRequest'
      responses:
        200:
          description: Success
        480:
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        481:
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        482:
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
  /#GetTranscriptionJob:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Returns information about a transcription job. To see the status
        of the job, check the <code>TranscriptionJobStatus</code> field. If the status
        is <code>COMPLETED</code>, the job is finished and you can find the results
        at the location specified in the <code>TranscriptionFileUri</code> field.
      operationId: GetTranscriptionJob
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/GetTranscriptionJobRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetTranscriptionJobResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        482:
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        483:
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
  /#GetVocabulary:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Gets information about a vocabulary.
      operationId: GetVocabulary
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/GetVocabularyRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetVocabularyResponse'
        480:
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        481:
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        482:
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        483:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
  /#ListTranscriptionJobs:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Lists transcription jobs with the specified status.
      operationId: ListTranscriptionJobs
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ListTranscriptionJobsRequest'
      - description: Pagination limit
        in: query
        name: MaxResults
        required: false
        type: string
      - description: Pagination token
        in: query
        name: NextToken
        required: false
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ListTranscriptionJobsResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        482:
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
  /#ListVocabularies:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Returns a list of vocabularies that match the specified criteria.
        If no criteria are specified, returns the entire list of vocabularies.
      operationId: ListVocabularies
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ListVocabulariesRequest'
      - description: Pagination limit
        in: query
        name: MaxResults
        required: false
        type: string
      - description: Pagination token
        in: query
        name: NextToken
        required: false
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ListVocabulariesResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        482:
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
  /#StartTranscriptionJob:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Starts an asynchronous job to transcribe speech to text.
      operationId: StartTranscriptionJob
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/StartTranscriptionJobRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/StartTranscriptionJobResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        482:
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        483:
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
  /#UpdateVocabulary:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Updates an existing vocabulary with new values.
      operationId: UpdateVocabulary
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/UpdateVocabularyRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/UpdateVocabularyResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        482:
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        483:
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
produces:
- application/json
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":45:{s:19:\"BadRequestException\";O:8:\"stdClass\":3:{s:11:\"description\";s:261:\"Your
  request didn't pass one or more validation tests. For example, a name already exists
  when createing a resource or a name may not exist when getting a transcription job
  or custom vocabulary. See the exception <code>Message</code> field for more information.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/FailureReason\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Boolean\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:17:\"ConflictException\";O:8:\"stdClass\":3:{s:11:\"description\";s:122:\"The
  <code>JobName</code> field is a duplicate of a previously entered job name. Resend
  your request with a different name.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:23:\"CreateVocabularyRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"LanguageCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/LanguageCode\";s:11:\"description\";s:44:\"The
  language code of the vocabulary entries.\";}s:7:\"Phrases\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Phrases\";s:11:\"description\";s:58:\"An
  array of strings that contains the vocabulary entries. \";}s:14:\"VocabularyName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/VocabularyName\";s:11:\"description\";s:102:\"The
  name of the vocabulary. The name must be unique within an AWS account. The name
  is case-sensitive.\";}}s:8:\"required\";a:3:{i:0;s:14:\"VocabularyName\";i:1;s:12:\"LanguageCode\";i:2;s:7:\"Phrases\";}s:4:\"type\";s:6:\"object\";}s:24:\"CreateVocabularyResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:13:\"FailureReason\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/FailureReason\";s:11:\"description\";s:123:\"If
  the <code>VocabularyState</code> field is <code>FAILED</code>, this field contains
  information about why the job failed.\";}s:12:\"LanguageCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/LanguageCode\";s:11:\"description\";s:44:\"The
  language code of the vocabulary entries.\";}s:16:\"LastModifiedTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/DateTime\";s:11:\"description\";s:50:\"The
  date and time that the vocabulary was created.\";}s:14:\"VocabularyName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/VocabularyName\";s:11:\"description\";s:27:\"The
  name of the vocabulary.\";}s:15:\"VocabularyState\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/VocabularyState\";s:11:\"description\";s:195:\"The
  processing state of the vocabulary. When the <code>VocabularyState</code> field
  contains <code>READY</code> the vocabulary is ready to be used in a <code>StartTranscriptionJob</code>
  request.\";}}s:4:\"type\";s:6:\"object\";}s:8:\"DateTime\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:23:\"DeleteVocabularyRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"VocabularyName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/VocabularyName\";s:11:\"description\";s:38:\"The
  name of the vocabulary to delete. \";}}s:8:\"required\";a:1:{i:0;s:14:\"VocabularyName\";}s:4:\"type\";s:6:\"object\";}s:13:\"FailureReason\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:26:\"GetTranscriptionJobRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:20:\"TranscriptionJobName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/TranscriptionJobName\";s:11:\"description\";s:20:\"The
  name of the job.\";}}s:8:\"required\";a:1:{i:0;s:20:\"TranscriptionJobName\";}s:4:\"type\";s:6:\"object\";}s:27:\"GetTranscriptionJobResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"TranscriptionJob\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/TranscriptionJob\";s:11:\"description\";s:61:\"An
  object that contains the results of the transcription job.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"GetVocabularyRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"VocabularyName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/VocabularyName\";s:11:\"description\";s:83:\"The
  name of the vocabulary to return information about. The name is case-sensitive.\";}}s:8:\"required\";a:1:{i:0;s:14:\"VocabularyName\";}s:4:\"type\";s:6:\"object\";}s:21:\"GetVocabularyResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"DownloadUri\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Uri\";s:11:\"description\";s:140:\"The
  S3 location where the vocabulary is stored. Use this URI to get the contents of
  the vocabulary. The URI is available for a limited time.\";}s:13:\"FailureReason\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/FailureReason\";s:11:\"description\";s:123:\"If
  the <code>VocabularyState</code> field is <code>FAILED</code>, this field contains
  information about why the job failed.\";}s:12:\"LanguageCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/LanguageCode\";s:11:\"description\";s:44:\"The
  language code of the vocabulary entries.\";}s:16:\"LastModifiedTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/DateTime\";s:11:\"description\";s:56:\"The
  date and time that the vocabulary was last modified.\";}s:14:\"VocabularyName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/VocabularyName\";s:11:\"description\";s:37:\"The
  name of the vocabulary to return.\";}s:15:\"VocabularyState\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/VocabularyState\";s:11:\"description\";s:39:\"The
  processing state of the vocabulary.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"InternalFailureException\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"There
  was an internal error. Check the error message and try your request again.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:12:\"LanguageCode\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:5:\"en-US\";i:1;s:5:\"es-US\";}s:4:\"type\";s:6:\"string\";}s:22:\"LimitExceededException\";O:8:\"stdClass\":3:{s:11:\"description\";s:153:\"Either
  you have sent too many requests or your input file is too long. Wait before you
  resend your request, or use a smaller file and resend the request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:28:\"ListTranscriptionJobsRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:15:\"JobNameContains\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/TranscriptionJobName\";s:11:\"description\";s:107:\"When
  specified, the jobs returned in the list are limited to jobs whose name contains
  the specified string.\";}s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MaxResults\";s:11:\"description\";s:141:\"The
  maximum number of jobs to return in the response. If there are fewer results in
  the list, this response contains only the actual results.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:156:\"If
  the result of the previous request to <code>ListTranscriptionJobs</code> was truncated,
  include the <code>NextToken</code> to fetch the next set of jobs.\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/TranscriptionJobStatus\";s:11:\"description\";s:74:\"When
  specified, returns only transcription jobs with the specified status.\";}}s:4:\"type\";s:6:\"object\";}s:29:\"ListTranscriptionJobsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:400:\"The
  <code>ListTranscriptionJobs</code> operation returns a page of jobs at a time. The
  maximum size of the page is set by the <code>MaxResults</code> parameter. If there
  are more jobs in the list than the page size, Amazon Transcribe returns the <code>NextPage</code>
  token. Include the token in the next request to the <code>ListTranscriptionJobs</code>
  operation to return in the next page of jobs.\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/TranscriptionJobStatus\";s:11:\"description\";s:42:\"The
  requested status of the jobs returned.\";}s:25:\"TranscriptionJobSummaries\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/TranscriptionJobSummaries\";s:11:\"description\";s:73:\"A
  list of objects containing summary information for a transcription job.\";}}s:4:\"type\";s:6:\"object\";}s:23:\"ListVocabulariesRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MaxResults\";s:11:\"description\";s:149:\"The
  maximum number of vocabularies to return in the response. If there are fewer results
  in the list, this response contains only the actual results.\";}s:12:\"NameContains\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/VocabularyName\";s:11:\"description\";s:262:\"When
  specified, the vocabularies returned in the list are limited to vocabularies whose
  name contains the specified string. The search is case-insensitive, <code>ListVocabularies</code>
  will return both \"vocabularyname\" and \"VocabularyName\" in the response list.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:151:\"If
  the result of the previous request to <code>ListVocabularies</code> was truncated,
  include the <code>NextToken</code> to fetch the next set of jobs.\";}s:11:\"StateEquals\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/VocabularyState\";s:11:\"description\";s:115:\"When
  specified, only returns vocabularies with the <code>VocabularyState</code> field
  equal to the specified state.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"ListVocabulariesResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:398:\"The
  <code>ListVocabularies</code> operation returns a page of vocabularies at a time.
  The maximum size of the page is set by the <code>MaxResults</code> parameter. If
  there are more jobs in the list than the page size, Amazon Transcribe returns the
  <code>NextPage</code> token. Include the token in the next request to the <code>ListVocabularies</code>
  operation to return in the next page of jobs.\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/TranscriptionJobStatus\";s:11:\"description\";s:31:\"The
  requested vocabulary state.\";}s:12:\"Vocabularies\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/Vocabularies\";s:11:\"description\";s:95:\"A
  list of objects that describe the vocabularies that match the search criteria in
  the request.\";}}s:4:\"type\";s:6:\"object\";}s:10:\"MaxResults\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:100;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:11:\"MaxSpeakers\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:10;s:7:\"minimum\";i:2;s:4:\"type\";s:7:\"integer\";}s:5:\"Media\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"Describes
  the input media file in a transcription request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"MediaFileUri\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Uri\";s:11:\"description\";s:662:\"<p>The
  S3 location of the input media file. The URI must be in the same region as the API
  endpoint that you are calling. The general form is:</p> <p> <code> https://&lt;aws-region&gt;.amazonaws.com/&lt;bucket-name&gt;/&lt;keyprefix&gt;/&lt;objectkey&gt;
  </code> </p> <p>For example:</p> <p> <code>https://s3-us-east-1.amazonaws.com/examplebucket/example.mp4</code>
  </p> <p> <code>https://s3-us-east-1.amazonaws.com/examplebucket/mediadocs/example.mp4</code>
  </p> <p>For more information about S3 object names, see <a href=\"http://docs.aws.amazon.com/AmazonS3/latest/dev/UsingMetadata.html#object-keys\">Object
  Keys</a> in the <i>Amazon S3 Developer Guide</i>.</p>\";}}s:4:\"type\";s:6:\"object\";}s:11:\"MediaFormat\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:3:\"mp3\";i:1;s:3:\"mp4\";i:2;s:3:\"wav\";i:3;s:4:\"flac\";}s:4:\"type\";s:6:\"string\";}s:20:\"MediaSampleRateHertz\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:48000;s:7:\"minimum\";i:8000;s:4:\"type\";s:7:\"integer\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:9:\"maxLength\";i:8192;s:4:\"type\";s:6:\"string\";}s:17:\"NotFoundException\";O:8:\"stdClass\":3:{s:11:\"description\";s:110:\"We
  can't find the requested transcription job or custom vocabulary. Check the name
  and try your request again.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Phrase\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:256;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";}s:7:\"Phrases\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Phrase\";}s:4:\"type\";s:5:\"array\";}s:8:\"Settings\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"Provides
  optional settings for the <code>StartTranscriptionJob</code> operation.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"MaxSpeakerLabels\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/MaxSpeakers\";s:11:\"description\";s:297:\"The
  maximum number of speakers to identify in the input audio. If there are more speakers
  in the audio than this number, multiple speakers will be identified as a single
  speaker. If you specify the <code>MaxSpeakerLabels</code> field, you must set the
  <code>ShowSpeakerLabels</code> field to true.\";}s:17:\"ShowSpeakerLabels\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:275:\"Determines
  whether the transcription job should use speaker recognition to identify different
  speakers in the input audio. If you set the <code>ShowSpeakerLabels</code> field
  to true, you must also set the maximum number of speaker labels <code>MaxSpeakerLabels</code>
  field.\";}s:14:\"VocabularyName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/VocabularyName\";s:11:\"description\";s:70:\"The
  name of a vocabulary to use when processing the transcription job.\";}}s:4:\"type\";s:6:\"object\";}s:28:\"StartTranscriptionJobRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"LanguageCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/LanguageCode\";s:11:\"description\";s:64:\"The
  language code for the language used in the input media file.\";}s:5:\"Media\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Media\";s:11:\"description\";s:65:\"An
  object that describes the input media for a transcription job.\";}s:11:\"MediaFormat\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/MediaFormat\";s:11:\"description\";s:35:\"The
  format of the input media file.\";}s:20:\"MediaSampleRateHertz\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/MediaSampleRateHertz\";s:11:\"description\";s:71:\"The
  sample rate, in Hertz, of the audio track in the input media file. \";}s:8:\"Settings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Settings\";s:11:\"description\";s:87:\"A
  <code>Settings</code> object that provides optional settings for a transcription
  job.\";}s:20:\"TranscriptionJobName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/TranscriptionJobName\";s:11:\"description\";s:67:\"The
  name of the job. The name must be unique within an AWS account.\";}}s:8:\"required\";a:4:{i:0;s:20:\"TranscriptionJobName\";i:1;s:12:\"LanguageCode\";i:2;s:11:\"MediaFormat\";i:3;s:5:\"Media\";}s:4:\"type\";s:6:\"object\";}s:29:\"StartTranscriptionJobResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"TranscriptionJob\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/TranscriptionJob\";s:11:\"description\";s:67:\"An
  object containing details of the asynchronous transcription job.\";}}s:4:\"type\";s:6:\"object\";}s:6:\"String\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"Transcript\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Describes
  the output of a transcription job.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"TranscriptFileUri\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Uri\";s:11:\"description\";s:119:\"The
  S3 location where the transcription result is stored. Use this URI to access the
  results of the transcription job. \";}}s:4:\"type\";s:6:\"object\";}s:16:\"TranscriptionJob\";O:8:\"stdClass\":3:{s:11:\"description\";s:115:\"Describes
  an asynchronous transcription job that was created with the <code>StartTranscriptionJob</code>
  operation.\";s:10:\"properties\";O:8:\"stdClass\":11:{s:14:\"CompletionTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/DateTime\";s:11:\"description\";s:54:\"Timestamp
  of the date and time that the job completed.\";}s:12:\"CreationTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/DateTime\";s:11:\"description\";s:56:\"Timestamp
  of the date and time that the job was created.\";}s:13:\"FailureReason\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/FailureReason\";s:11:\"description\";s:130:\"If
  the <code>TranscriptionJobStatus</code> field is <code>FAILED</code>, this field
  contains information about why the job failed.\";}s:12:\"LanguageCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/LanguageCode\";s:11:\"description\";s:39:\"The
  language code for the input speech.\";}s:5:\"Media\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Media\";s:11:\"description\";s:65:\"An
  object that describes the input media for a transcription job.\";}s:11:\"MediaFormat\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/MediaFormat\";s:11:\"description\";s:35:\"The
  format of the input media file.\";}s:20:\"MediaSampleRateHertz\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/MediaSampleRateHertz\";s:11:\"description\";s:71:\"The
  sample rate, in Hertz, of the audio track in the input media file. \";}s:8:\"Settings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Settings\";s:11:\"description\";s:44:\"Optional
  settings for the transcription job.\";}s:10:\"Transcript\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Transcript\";s:11:\"description\";s:61:\"An
  object that describes the output of the transcription job.\";}s:20:\"TranscriptionJobName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/TranscriptionJobName\";s:11:\"description\";s:41:\"A
  name to identify the transcription job.\";}s:22:\"TranscriptionJobStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/TranscriptionJobStatus\";s:11:\"description\";s:36:\"The
  status of the transcription job.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"TranscriptionJobName\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:200;s:9:\"minLength\";i:1;s:7:\"pattern\";s:16:\"^[0-9a-zA-Z._-]+\";s:4:\"type\";s:6:\"string\";}s:22:\"TranscriptionJobStatus\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:11:\"IN_PROGRESS\";i:1;s:6:\"FAILED\";i:2;s:9:\"COMPLETED\";}s:4:\"type\";s:6:\"string\";}s:25:\"TranscriptionJobSummaries\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/TranscriptionJobSummary\";}s:4:\"type\";s:5:\"array\";}s:23:\"TranscriptionJobSummary\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"Provides
  a summary of information about a transcription job.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:14:\"CompletionTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/DateTime\";s:11:\"description\";s:54:\"Timestamp
  of the date and time that the job completed.\";}s:12:\"CreationTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/DateTime\";s:11:\"description\";s:56:\"Timestamp
  of the date and time that the job was created.\";}s:13:\"FailureReason\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/FailureReason\";s:11:\"description\";s:120:\"If
  the <code>TranscriptionJobStatus</code> field is <code>FAILED</code>, this field
  contains a description of the error.\";}s:12:\"LanguageCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/LanguageCode\";s:11:\"description\";s:39:\"The
  language code for the input speech.\";}s:20:\"TranscriptionJobName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/TranscriptionJobName\";s:11:\"description\";s:63:\"The
  name assigned to the transcription job when it was created.\";}s:22:\"TranscriptionJobStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/TranscriptionJobStatus\";s:11:\"description\";s:171:\"The
  status of the transcription job. When the status is <code>COMPLETED</code>, use
  the <code>GetTranscriptionJob</code> operation to get the results of the transcription.\";}}s:4:\"type\";s:6:\"object\";}s:23:\"UpdateVocabularyRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"LanguageCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/LanguageCode\";s:11:\"description\";s:44:\"The
  language code of the vocabulary entries.\";}s:7:\"Phrases\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Phrases\";s:11:\"description\";s:54:\"An
  array of strings containing the vocabulary entries.\";}s:14:\"VocabularyName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/VocabularyName\";s:11:\"description\";s:65:\"The
  name of the vocabulary to update. The name is case-sensitive.\";}}s:8:\"required\";a:3:{i:0;s:14:\"VocabularyName\";i:1;s:12:\"LanguageCode\";i:2;s:7:\"Phrases\";}s:4:\"type\";s:6:\"object\";}s:24:\"UpdateVocabularyResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"LanguageCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/LanguageCode\";s:11:\"description\";s:44:\"The
  language code of the vocabulary entries.\";}s:16:\"LastModifiedTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/DateTime\";s:11:\"description\";s:50:\"The
  date and time that the vocabulary was updated.\";}s:14:\"VocabularyName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/VocabularyName\";s:11:\"description\";s:44:\"The
  name of the vocabulary that was updated.\";}s:15:\"VocabularyState\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/VocabularyState\";s:11:\"description\";s:195:\"The
  processing state of the vocabulary. When the <code>VocabularyState</code> field
  contains <code>READY</code> the vocabulary is ready to be used in a <code>StartTranscriptionJob</code>
  request.\";}}s:4:\"type\";s:6:\"object\";}s:3:\"Uri\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:2000;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:12:\"Vocabularies\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/VocabularyInfo\";}s:4:\"type\";s:5:\"array\";}s:14:\"VocabularyInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Provides
  information about a custom vocabulary.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"LanguageCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/LanguageCode\";s:11:\"description\";s:44:\"The
  language code of the vocabulary entries.\";}s:16:\"LastModifiedTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/DateTime\";s:11:\"description\";s:56:\"The
  date and time that the vocabulary was last modified.\";}s:14:\"VocabularyName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/VocabularyName\";s:11:\"description\";s:27:\"The
  name of the vocabulary.\";}s:15:\"VocabularyState\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/VocabularyState\";s:11:\"description\";s:150:\"The
  processing state of the vocabulary. If the state is <code>READY</code> you can use
  the vocabulary in a <code>StartTranscriptionJob</code> request.\";}}s:4:\"type\";s:6:\"object\";}s:14:\"VocabularyName\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:200;s:9:\"minLength\";i:1;s:7:\"pattern\";s:16:\"^[0-9a-zA-Z._-]+\";s:4:\"type\";s:6:\"string\";}s:15:\"VocabularyState\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:7:\"PENDING\";i:1;s:5:\"READY\";i:2;s:6:\"FAILED\";}s:4:\"type\";s:6:\"string\";}}"
...
