---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":4:{s:5:\"title\";s:24:\"Twilio Call Feedback API\";s:11:\"description\";s:328:\"Twilio
  is a cloud communications Infrastructure as a Service(IaaS) company based in San
  Francisco, California. Twilio allows software developers to programmatically make
  and receive phone calls and send and receive text messages using its web service
  APIs. Twilio's services are accessed over HTTP and are billed based on usage.\";s:14:\"termsOfService\";s:32:\"https://www.twilio.com/legal/tos\";s:7:\"version\";s:10:\"2010-04-01\";}"
host: api.twilio.com
basePath: /Accounts/{AccountSid}/
paths:
  /Calls/{CallSid}/Feedback:
    post:
      summary: ""
      description: ""
      operationId: ""
      parameters: []
      responses:
        200:
          description: OK
      tags:
      - Call Feedback
      security: []
  /Calls/FeedbackSummary:
    get:
      summary: ""
      description: ""
      operationId: ""
      parameters: []
      responses:
        200:
          description: OK
      tags:
      - Call Feedback
      security: []
  /Calls/FeedbackSummary/{FeedbackSummarySid}:
    get:
      summary: ""
      description: ""
      operationId: ""
      parameters: []
      responses:
        200:
          description: OK
      tags:
      - Call Feedback
      security: []
    post:
      summary: ""
      description: ""
      operationId: ""
      parameters: []
      responses:
        200:
          description: OK
      tags:
      - Call Feedback
      security: []
produces:
- application/json
schemes:
- http
definitions: []
...
