---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":8:{s:11:\"description\";s:92:\"Enabling phones,
  VoIP, and messaging to be embedded into web, desktop, and mobile software.\n\";s:5:\"title\";s:6:\"Twilio\";s:7:\"version\";s:10:\"2010-04-01\";s:21:\"x-apisguru-categories\";a:2:{i:0;s:7:\"telecom\";i:1;s:9:\"messaging\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:81:\"https://static1.twilio.com/marketing/bundles/marketing/img/logos/wordmark-red.svg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:110:\"https://raw.githubusercontent.com/APIs-guru/unofficial_openapi_specs/master/twilio.com/2010-04-01/swagger.yaml\";s:7:\"version\";s:3:\"2.0\";}}s:14:\"x-providerName\";s:10:\"twilio.com\";s:16:\"x-unofficialSpec\";b:1;}"
host: api.twilio.com
basePath: /2010-04-01
paths: ~
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":61:{s:7:\"account\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:10:\"auth_token\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"date_created\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"The
  date that this account was created, in GMT in RFC 2822 format\";s:4:\"type\";s:6:\"string\";}s:12:\"date_updated\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"The
  date that this account was last updated, in GMT in RFC 2822 format.\";s:4:\"type\";s:6:\"string\";}s:13:\"friendly_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:122:\"A
  human readable description of this account, up to 64 characters long. By default
  the FriendlyName is your email address.\";s:4:\"type\";s:6:\"string\";}s:3:\"sid\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"A
  34 character string that uniquely identifies this account.\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:75:\"The
  status of this account. Usually active, but can be suspended or closed.\";s:4:\"type\";s:6:\"string\";}s:16:\"subresource_uris\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"The
  type of this account. Either Trial or Full if you've upgraded.\";s:4:\"type\";s:6:\"string\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"accounts\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":12:{s:8:\"accounts\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"date_created\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"The
  date that this account was created, in GMT in RFC 2822 format\";s:4:\"type\";s:6:\"string\";}s:12:\"date_updated\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"The
  date that this account was last updated, in GMT in RFC 2822 format.\";s:4:\"type\";s:6:\"string\";}s:13:\"friendly_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:122:\"A
  human readable description of this account, up to 64 characters long. By default
  the FriendlyName is your email address.\";s:4:\"type\";s:6:\"string\";}s:3:\"sid\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"A
  34 character string that uniquely identifies this account.\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:75:\"The
  status of this account. Usually active, but can be suspended or closed.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"The
  type of this account. Either Trial or Full if you've upgraded.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:3:\"end\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:14:\"first_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"last_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"next_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:4:\"null\";}s:9:\"num_pages\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"page\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"page_size\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:17:\"previous_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:4:\"null\";}s:5:\"start\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"total\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"appResource\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":19:{s:11:\"account_sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"api_version\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"date_created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"date_updated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"friendly_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"sms_fallback_method\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"sms_fallback_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"sms_method\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"sms_status_callback\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"sms_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"status_callback\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"status_callback_method\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"voice_caller_id_lookup\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"voice_fallback_method\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"voice_fallback_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"voice_method\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"voice_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"appResources\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":12:{s:12:\"applications\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":19:{s:11:\"account_sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"api_version\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"date_created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"date_updated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"friendly_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"sms_fallback_method\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"sms_fallback_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"sms_method\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"sms_status_callback\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"sms_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"status_callback\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"status_callback_method\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"voice_caller_id_lookup\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"voice_fallback_method\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"voice_fallback_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"voice_method\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"voice_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:3:\"end\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:14:\"first_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"last_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"next_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"num_pages\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"page\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"page_size\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:17:\"previous_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"start\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"total\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"application\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":19:{s:11:\"account_sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"api_version\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"date_created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"date_updated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"friendly_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"sms_fallback_method\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"sms_fallback_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:10:\"sms_method\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"sms_status_callback\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:7:\"sms_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:15:\"status_callback\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:22:\"status_callback_method\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"voice_caller_id_lookup\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:21:\"voice_fallback_method\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"voice_fallback_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:12:\"voice_method\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"voice_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"applications\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":12:{s:12:\"applications\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":19:{s:11:\"account_sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"api_version\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"date_created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"date_updated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"friendly_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"sms_fallback_method\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:16:\"sms_fallback_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:10:\"sms_method\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:19:\"sms_status_callback\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:7:\"sms_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:15:\"status_callback\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:22:\"status_callback_method\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"voice_caller_id_lookup\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:21:\"voice_fallback_method\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:18:\"voice_fallback_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:12:\"voice_method\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"voice_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:3:\"end\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:14:\"first_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"last_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"next_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:9:\"num_pages\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"page\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"page_size\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:17:\"previous_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:5:\"start\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"total\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"authApp\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:11:\"account_sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:24:\"connect_app_company_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"connect_app_description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:25:\"connect_app_friendly_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:24:\"connect_app_homepage_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"connect_app_sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"permissions\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:8:\"authApps\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":12:{s:23:\"authorized_connect_apps\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:11:\"account_sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:24:\"connect_app_company_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"connect_app_description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:25:\"connect_app_friendly_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:24:\"connect_app_homepage_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"connect_app_sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"permissions\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:3:\"end\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:14:\"first_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"last_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"next_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"num_pages\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"page\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"page_size\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:17:\"previous_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"start\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"total\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"availablePhoneNumbers\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:23:\"available_phone_numbers\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:12:\"capabilities\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"MMS\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"SMS\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"voice\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"friendly_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"iso_country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"lata\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"latitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"longitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"phone_number\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"postal_code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"rate_center\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"region\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"call\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":22:{s:11:\"account_sid\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"The
  unique id of the Account responsible for creating this call.\";s:4:\"type\";s:6:\"string\";}s:11:\"answered_by\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"api_version\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"caller_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"date_created\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"GMT
  in RFC 2822 format.\";s:4:\"type\";s:6:\"string\";}s:12:\"date_updated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"direction\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"duration\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"end_time\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Given
  as GMT in RFC 2822 format.\";s:4:\"type\";s:6:\"string\";}s:14:\"formatted_from\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"formatted_to\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"forwarded_from\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"from\";O:8:\"stdClass\":2:{s:11:\"description\";s:126:\"The
  phone number, SIP address or Client identifier that made this call. Phone numbers
  are in E.164 format (e.g. +16175551212).\";s:4:\"type\";s:6:\"string\";}s:15:\"parent_call_sid\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:34;s:9:\"minLength\";i:34;s:4:\"type\";s:6:\"string\";}s:16:\"phone_number_sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"price\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"sid\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:34;s:9:\"minLength\";i:34;s:4:\"type\";s:6:\"string\";}s:10:\"start_time\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Given
  as GMT in RFC 2822 format.\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"enum\";a:8:{i:0;s:6:\"queued\";i:1;s:7:\"ringing\";i:2;s:11:\"in-progress\";i:3;s:8:\"canceled\";i:4;s:9:\"completed\";i:5;s:6:\"failed\";i:6;s:4:\"busy\";i:7;s:9:\"no-answer\";}}s:16:\"subresource_uris\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"notifications\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"recordings\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:2:\"to\";O:8:\"stdClass\":2:{s:11:\"description\";s:148:\"Phone
  numbers are in E.164 format (e.g. +16175551212). SIP addresses are formated as name@company.com.
  Client identifiers are formatted client:name.\";s:4:\"type\";s:6:\"string\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"callInstance\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":21:{s:11:\"account_sid\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"The
  unique id of the Account responsible for creating this call.\";s:4:\"type\";s:6:\"string\";}s:11:\"answered_by\";O:8:\"stdClass\":2:{s:11:\"description\";s:102:\"If
  this call was initiated with answering machine detection, either human or machine.
  Empty otherwise.\";s:4:\"enum\";a:3:{i:0;s:4:\"null\";i:1;s:5:\"human\";i:2;s:7:\"machine\";}}s:11:\"api_version\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"caller_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:118:\"If
  this call was an incoming call to a phone number with Caller ID Lookup enabled,
  the caller's name. Empty otherwise.\";s:4:\"type\";s:6:\"string\";}s:12:\"date_created\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"GMT
  in RFC 2822 format.\";s:4:\"type\";s:6:\"string\";}s:12:\"date_updated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"direction\";O:8:\"stdClass\":2:{s:11:\"description\";s:178:\"A
  string describing the direction of the call. inbound for inbound calls, outbound-api
  for calls initiated via the REST API or outbound-dial for calls initiated by a <Dial>
  verb.\";s:4:\"enum\";a:3:{i:0;s:7:\"inbound\";i:1;s:12:\"outbound-api\";i:2;s:13:\"outbound-dial\";}}s:8:\"duration\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  length of the call in seconds.\";s:4:\"type\";s:6:\"string\";}s:8:\"end_time\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Given
  as GMT in RFC 2822 format.\";s:4:\"type\";s:6:\"string\";}s:14:\"forwarded_from\";O:8:\"stdClass\":2:{s:11:\"description\";s:153:\"If
  this call was an incoming call forwarded from another number, the forwarding phone
  number (depends on carrier supporting forwarding). Empty otherwise.\";s:4:\"type\";s:6:\"string\";}s:4:\"from\";O:8:\"stdClass\":2:{s:11:\"description\";s:126:\"The
  phone number, SIP address or Client identifier that made this call. Phone numbers
  are in E.164 format (e.g. +16175551212).\";s:4:\"type\";s:6:\"string\";}s:15:\"parent_call_sid\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:34;s:9:\"minLength\";i:34;s:4:\"type\";s:6:\"string\";}s:16:\"phone_number_sid\";O:8:\"stdClass\":2:{s:11:\"description\";s:187:\"If
  the call was inbound, this is the Sid of the IncomingPhoneNumber that received the
  call. If the call was outbound, it is the Sid of the OutgoingCallerId from which
  the call was placed.\";s:4:\"type\";s:6:\"string\";}s:5:\"price\";O:8:\"stdClass\":2:{s:11:\"description\";s:143:\"The
  charge for this call, in the currency associated with the account. Populated after
  the call is completed. May not be immediately available.\";s:4:\"type\";s:6:\"string\";}s:10:\"price_unit\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"The
  currency in which Price is measured, in ISO 4127 format.\";s:4:\"type\";s:6:\"string\";}s:3:\"sid\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:34;s:9:\"minLength\";i:34;s:4:\"type\";s:6:\"string\";}s:10:\"start_time\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Given
  as GMT in RFC 2822 format.\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"A
  string representing the status of the call.\";s:4:\"enum\";a:8:{i:0;s:6:\"queued\";i:1;s:7:\"ringing\";i:2;s:11:\"in-progress\";i:3;s:8:\"canceled\";i:4;s:9:\"completed\";i:5;s:6:\"failed\";i:6;s:4:\"busy\";i:7;s:9:\"no-answer\";}}s:16:\"subresource_uris\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:2:\"to\";O:8:\"stdClass\":2:{s:11:\"description\";s:148:\"Phone
  numbers are in E.164 format (e.g. +16175551212). SIP addresses are formated as name@company.com.
  Client identifiers are formatted client:name.\";s:4:\"type\";s:6:\"string\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"The
  URI for this resource, relative to https://api.twilio.com\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"calls\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":12:{s:5:\"calls\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":22:{s:11:\"account_sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"answered_by\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:11:\"api_version\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"caller_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:12:\"date_created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"date_updated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"direction\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"duration\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"end_time\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"forwarded_from\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:4:\"from\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"from_formatted\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"parent_call_sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:16:\"phone_number_sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"price\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"start_time\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"subresource_uris\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"notifications\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"recordings\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:2:\"to\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"to_formatted\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:3:\"end\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:14:\"first_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"last_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"next_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"num_pages\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"page\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"page_size\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:17:\"previous_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:5:\"start\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"total\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"conference\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:11:\"account_sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"api_version\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"date_created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"date_updated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"friendly_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"enum\";a:3:{i:0;s:4:\"init\";i:1;s:11:\"in-progress\";i:2;s:9:\"completed\";}}s:16:\"subresource_uris\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"participants\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"conferences\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":12:{s:11:\"conferences\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:11:\"account_sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"api_version\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"date_created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"date_updated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"friendly_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"subresource_uris\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"participants\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:3:\"end\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:14:\"first_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"last_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"next_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"num_pages\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"page\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"page_size\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:17:\"previous_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"start\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"total\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"connectApp\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:11:\"account_sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"authorize_redirect_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"company_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:27:\"deauthorize_callback_method\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:24:\"deauthorize_callback_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"friendly_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"homepage_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"permissions\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:3:\"sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"connectApps\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":12:{s:12:\"connect_apps\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:11:\"account_sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"authorize_redirect_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"company_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:27:\"deauthorize_callback_method\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:24:\"deauthorize_callback_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"friendly_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"homepage_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"permissions\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:3:\"sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:3:\"end\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:14:\"first_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"last_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"next_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"num_pages\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"page\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"page_size\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:17:\"previous_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"start\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"total\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"credential\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"date_created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"date_updated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"username\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"credentialList\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"date_created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"date_updated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"friendly_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"subresource_uris\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"credentials\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"credentialListMapping\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:11:\"account_sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"date_created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"date_updated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"friendly_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"subresource_uris\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"credentials\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:22:\"credentialListMappings\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":12:{s:24:\"credential_list_mappings\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:11:\"account_sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"date_created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"date_updated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"friendly_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"subresource_uris\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"credentials\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";s:5:\"array\";}s:3:\"end\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:14:\"first_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"last_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"next_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:9:\"num_pages\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"page\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"page_size\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:17:\"previous_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:5:\"start\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"total\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"credentialLists\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":12:{s:16:\"credential_lists\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"date_created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"date_updated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"friendly_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"subresource_uris\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"credentials\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:3:\"end\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:14:\"first_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"last_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"next_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:9:\"num_pages\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"page\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"page_size\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:17:\"previous_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:5:\"start\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"total\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"credentials\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":12:{s:11:\"credentials\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:11:\"account_sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"credential_list_sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"date_created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"date_updated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"username\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:3:\"end\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:14:\"first_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"last_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"next_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:9:\"num_pages\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"page\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"page_size\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:17:\"previous_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:5:\"start\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"total\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"domain\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":16:{s:11:\"account_sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"api_version\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"auth_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"date_created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"date_updated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"domain_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"friendly_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"subresource_uris\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:24:\"credential_list_mappings\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:31:\"ip_access_control_list_mappings\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"voice_fallback_method\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"voice_fallback_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:12:\"voice_method\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:28:\"voice_status_callback_method\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:25:\"voice_status_callback_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:9:\"voice_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"domains\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":12:{s:3:\"end\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:14:\"first_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"last_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"next_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:9:\"num_pages\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"page\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"page_size\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:17:\"previous_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:11:\"sip_domains\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":16:{s:11:\"account_sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"api_version\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"auth_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"date_created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"date_updated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"domain_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"friendly_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"subresource_uris\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:24:\"credential_list_mappings\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:31:\"ip_access_control_list_mappings\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"voice_fallback_method\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"voice_fallback_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:12:\"voice_method\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:28:\"voice_status_callback_method\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:25:\"voice_status_callback_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:9:\"voice_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:5:\"start\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"total\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"incomingCall\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":22:{s:11:\"account_sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"api_version\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"capabilities\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"sms\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"voice\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"date_created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"date_updated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"friendly_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"phone_number\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"sms_application_sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"sms_fallback_method\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"sms_fallback_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"sms_method\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"sms_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"status_callback\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"status_callback_method\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"voice_application_sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"voice_caller_id_lookup\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"voice_fallback_method\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"voice_fallback_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"voice_method\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"voice_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"incomingCalls\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":12:{s:3:\"end\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:14:\"first_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"incoming_phone_numbers\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":22:{s:11:\"account_sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"api_version\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"capabilities\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"sms\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:5:\"voice\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:12:\"date_created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"date_updated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"friendly_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"phone_number\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"sms_application_sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"sms_fallback_method\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:16:\"sms_fallback_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:10:\"sms_method\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:7:\"sms_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:15:\"status_callback\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:22:\"status_callback_method\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"voice_application_sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:22:\"voice_caller_id_lookup\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:21:\"voice_fallback_method\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:18:\"voice_fallback_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:12:\"voice_method\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"voice_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:13:\"last_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"next_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:9:\"num_pages\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"page\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"page_size\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:17:\"previous_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:5:\"start\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"total\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"ipAccessControlList\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"date_created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"date_updated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"friendly_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"subresource_uris\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"addresses\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:26:\"ipAccessControlListMapping\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"date_created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"date_updated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"friendly_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"subresource_uris\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"addresses\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:27:\"ipAccessControlListMappings\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"date_created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"date_updated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"friendly_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"subresource_uris\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"addresses\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"ipAddress\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"date_created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"date_updated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"friendly_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"ip_address\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"ipAddresses\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":12:{s:3:\"end\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:14:\"first_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"ip_addresses\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"date_created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"date_updated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"friendly_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"ip_address\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:13:\"last_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"next_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:9:\"num_pages\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"page\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"page_size\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:17:\"previous_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:5:\"start\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"total\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"media\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:11:\"account_sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"content-type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"date_created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"date_updated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"parent_sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"mediaList\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":12:{s:3:\"end\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:14:\"first_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"last_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"media_list\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:11:\"account_sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"content_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"date_created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"date_updated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"parent_sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:13:\"next_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:9:\"num_pages\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"page\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"page_size\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:17:\"previous_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:5:\"start\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"total\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"member\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"call_sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"date_enqueued\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"position\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"wait_time\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:7:\"members\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":12:{s:3:\"end\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:14:\"first_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"last_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"next_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"num_pages\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"page\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"page_size\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:17:\"previous_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"queue_members\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"call_sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"date_enqueued\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"position\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"wait_time\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:5:\"start\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"total\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"message\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":15:{s:11:\"account_sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"api_version\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"body\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"date_created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"date_sent\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"date_updated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"direction\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"from\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"num_media\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"num_segments\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"price\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"to\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"messages\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":12:{s:3:\"end\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:14:\"first_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"last_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"messages\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":15:{s:11:\"account_sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"api_version\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"body\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"date_created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"date_sent\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"date_updated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"direction\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"from\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"num_media\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"num_segments\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"price\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"to\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:13:\"next_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"num_pages\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"page\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"page_size\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:17:\"previous_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:5:\"start\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"total\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"mobilePhoneNumbers\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:23:\"available_phone_numbers\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:12:\"capabilities\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"MMS\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"SMS\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"voice\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"friendly_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"iso_country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"lata\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:8:\"latitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:9:\"longitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:12:\"phone_number\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"postal_code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:11:\"rate_center\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:6:\"region\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"notification\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":17:{s:11:\"account_sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"api_version\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"call_sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"date_created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"date_updated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"error_code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"log\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"message_date\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"message_text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"more_info\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"request_method\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"request_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"request_variables\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"response_body\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"response_headers\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"notifications\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":12:{s:3:\"end\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:14:\"first_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"last_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"next_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"notifications\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":17:{s:11:\"account_sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"api_version\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"call_sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"date_created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"date_updated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"error_code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"log\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"message_date\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"message_text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"more_info\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"request_method\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"request_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"request_variables\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"response_body\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"response_headers\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:9:\"num_pages\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"page\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"page_size\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:17:\"previous_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"start\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"total\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"outCaller\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"account_sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"call_sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"friendly_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"phone_number\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"validation_code\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:11:\"outCallerId\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"account_sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"call_sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"friendly_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"phone_number\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"validation_code\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:12:\"outCallerIds\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":12:{s:3:\"end\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:14:\"first_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"last_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"next_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"num_pages\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:19:\"outgoing_caller_ids\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:11:\"account_sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"date_created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"date_updated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"friendly_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"phone_number\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"page\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"page_size\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:17:\"previous_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"start\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"total\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"outgoingCallerId\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:11:\"account_sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"date_created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"date_updated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"friendly_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"phone_number\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"participant\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:11:\"account_sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"call_sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"conference_sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"date_created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"date_updated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"end_conference_on_exit\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:5:\"muted\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:25:\"start_conference_on_enter\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"participants\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":12:{s:3:\"end\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:14:\"first_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"last_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"next_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"num_pages\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"page\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"page_size\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"participants\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:11:\"account_sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"call_sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"conference_sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"date_created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"date_updated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"end_conference_on_exit\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:5:\"muted\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:25:\"start_conference_on_enter\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:17:\"previous_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"start\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"total\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"phoneLocalNumbers\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:23:\"available_phone_numbers\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:12:\"capabilities\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"MMS\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"SMS\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"voice\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"friendly_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"iso_country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"lata\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"latitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"longitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"phone_number\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"postal_code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"rate_center\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"region\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"phoneMobileNumbers\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:23:\"available_phone_numbers\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:12:\"capabilities\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"MMS\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"SMS\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"voice\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"friendly_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"iso_country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"lata\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:8:\"latitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:9:\"longitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:12:\"phone_number\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"postal_code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:11:\"rate_center\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:6:\"region\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"phoneNumbers\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:23:\"available_phone_numbers\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:13:\"friendly_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"A
  nicely-formatted version of the phone number.\";s:4:\"type\";s:6:\"string\";}s:11:\"iso_country\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"The
  ISO country code of this phone number.\";s:4:\"type\";s:6:\"string\";}s:4:\"lata\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  LATA of this phone number.\";s:4:\"type\";s:6:\"string\";}s:8:\"latitude\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"The
  latitude coordinate of this phone number.\";s:4:\"type\";s:6:\"string\";}s:9:\"longitude\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"The
  longitude coordinate of this phone number.\";s:4:\"type\";s:6:\"string\";}s:12:\"phone_number\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"The
  phone number, in E.164 (i.e. '+1') format.\";s:4:\"type\";s:6:\"string\";}s:11:\"postal_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  postal (zip) code of this phone number.\";s:4:\"type\";s:6:\"string\";}s:11:\"rate_center\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  rate center of this phone number.\";s:4:\"type\";s:6:\"string\";}s:6:\"region\";O:8:\"stdClass\":4:{s:11:\"description\";s:67:\"The
  two-letter state or province abbreviation of this phone number.\";s:9:\"maxLength\";i:2;s:9:\"minLength\";i:2;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"phoneTollFreeNumbers\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:23:\"available_phone_numbers\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"capabilities\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"MMS\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"SMS\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"voice\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"friendly_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"iso_country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"phone_number\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"queue\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:17:\"average_wait_time\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"current_size\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"date_created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"date_updated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"friendly_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"max_size\";O:8:\"stdClass\":2:{s:7:\"maximum\";i:1000;s:4:\"type\";s:7:\"integer\";}s:3:\"sid\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:34;s:9:\"minLength\";i:34;s:4:\"type\";s:6:\"string\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"queues\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":12:{s:3:\"end\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:14:\"first_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"last_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"next_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"num_pages\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"page\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"page_size\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:17:\"previous_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"queues\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:17:\"average_wait_time\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"current_size\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"date_created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"date_updated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"friendly_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"max_size\";O:8:\"stdClass\":2:{s:7:\"maximum\";i:1000;s:4:\"type\";s:7:\"integer\";}s:3:\"sid\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:34;s:9:\"minLength\";i:34;s:4:\"type\";s:6:\"string\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:5:\"start\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"total\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"recordings\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":12:{s:3:\"end\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:14:\"first_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"last_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"next_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"num_pages\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"page\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"page_size\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:17:\"previous_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"recordings\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:11:\"account_sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"api_version\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"call_sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"date_created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"date_updated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"duration\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:5:\"start\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"total\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"shortCode\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":11:{s:11:\"account_sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"date_created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"date_updated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"friendly_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"short_code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"sms_fallback_method\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"sms_fallback_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"sms_method\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"sms_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"shortCodes\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":12:{s:3:\"end\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:14:\"first_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"last_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"next_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:9:\"num_pages\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"page\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"page_size\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:17:\"previous_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:11:\"short_codes\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":11:{s:11:\"account_sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"date_created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"date_updated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"friendly_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"short_code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"sms_fallback_method\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"sms_fallback_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"sms_method\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"sms_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:5:\"start\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"total\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"transcription\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":12:{s:11:\"account_sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"api_version\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"date_created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"date_updated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"duration\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"price\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"recording_sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"transcription_text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"transcriptions\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":12:{s:3:\"end\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:14:\"first_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"last_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"next_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"num_pages\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"page\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"page_size\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:17:\"previous_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:5:\"start\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"total\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:14:\"transcriptions\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":12:{s:11:\"account_sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"api_version\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"date_created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"date_updated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"duration\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"price\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"recording_sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"transcription_text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"usageRecords\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":12:{s:3:\"end\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:14:\"first_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"last_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"next_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"num_pages\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"page\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"page_size\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:17:\"previous_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"start\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"total\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"usage_records\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":13:{s:11:\"account_sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"category\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"count\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"count_unit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"end_date\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"price\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"price_unit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"start_date\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"subresource_uris\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"usage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"usage_unit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:12:\"usageTrigger\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":15:{s:11:\"account_sid\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  account this trigger monitors.\";s:4:\"type\";s:6:\"string\";}s:15:\"callback_method\";O:8:\"stdClass\":2:{s:11:\"description\";s:86:\"The
  HTTP method Twilio will use when making a request to the CallbackUrl. GET or POST.\";s:4:\"enum\";a:2:{i:0;s:3:\"GET\";i:1;s:4:\"POST\";}}s:12:\"callback_url\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"Twilio
  will make a request to this url when the trigger fires.\";s:4:\"type\";s:6:\"string\";}s:13:\"current_value\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"The
  current value of the field the trigger is watching.\";s:4:\"type\";s:6:\"string\";}s:12:\"date_created\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"The
  date the trigger was created, given as GMT RFC 2822 format.\";s:4:\"type\";s:6:\"string\";}s:10:\"date_fired\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"The
  date the trigger was last fired, given as GMT RFC 2822 format.\";s:4:\"type\";s:6:\"string\";}s:12:\"date_updated\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"The
  date the trigger was last updated, given as GMT RFC 2822 format.\";s:4:\"type\";s:6:\"string\";}s:13:\"friendly_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"A
  user-specified, human-readable name for the trigger.\";s:4:\"type\";s:6:\"string\";}s:9:\"recurring\";O:8:\"stdClass\":2:{s:11:\"description\";s:205:\"How
  this trigger recurs. Empty for non-recurring triggers. One of daily, monthly, or
  yearly for recurring triggers. A trigger will only fire once during each recurring
  period. Recurring periods are in GMT.\";s:4:\"type\";s:6:\"string\";}s:3:\"sid\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  trigger's unique Sid.\";s:4:\"type\";s:6:\"string\";}s:10:\"trigger_by\";O:8:\"stdClass\":2:{s:11:\"description\";s:83:\"The
  field in the UsageRecord that fires the trigger. One of count, usage, or price.\";s:4:\"enum\";a:3:{i:0;s:5:\"count\";i:1;s:5:\"usage\";i:2;s:5:\"price\";}}s:13:\"trigger_value\";O:8:\"stdClass\":2:{s:11:\"description\";s:75:\"The
  value at which the trigger will fire. Must be a positive numeric value.\";s:4:\"type\";s:6:\"string\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"The
  URI for this resource, relative to https://api.twilio.com.\";s:4:\"type\";s:6:\"string\";}s:14:\"usage_category\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"The
  usage category the trigger watches. One of the supported usage categories.\";s:4:\"type\";s:6:\"string\";}s:16:\"usage_record_uri\";O:8:\"stdClass\":2:{s:11:\"description\";s:88:\"The
  URI of the UsageRecord this trigger is watching, relative to https://api.twilio.com.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"usageTriggers\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":12:{s:3:\"end\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:14:\"first_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"last_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"next_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"num_pages\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"page\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"page_size\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:17:\"previous_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"start\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"total\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"usage_triggers\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":15:{s:11:\"account_sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"callback_method\";O:8:\"stdClass\":1:{s:4:\"enum\";a:2:{i:0;s:3:\"GET\";i:1;s:4:\"POST\";}}s:12:\"callback_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"current_value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"date_created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"date_fired\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"date_updated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"friendly_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"recurring\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"trigger_by\";O:8:\"stdClass\":1:{s:4:\"enum\";a:3:{i:0;s:5:\"count\";i:1;s:5:\"usage\";i:2;s:5:\"price\";}}s:13:\"trigger_value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"usage_category\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"usage_record_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:9:\"userLists\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":12:{s:24:\"credential_list_mappings\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:11:\"account_sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"date_created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"date_updated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"friendly_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"sid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"subresource_uris\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"credentials\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:3:\"end\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:14:\"first_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"last_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"next_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:9:\"num_pages\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"page\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"page_size\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:17:\"previous_page_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:5:\"start\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"total\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
