---
swagger: "2.0"
host: api.ote-godaddy.com
paths: ~
definitions: !php/object "O:8:\"stdClass\":37:{s:7:\"Address\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:8:\"address1\";O:8:\"stdClass\":2:{s:6:\"format\";s:14:\"street-address\";s:4:\"type\";s:6:\"string\";}s:8:\"address2\";O:8:\"stdClass\":2:{s:6:\"format\";s:15:\"street-address2\";s:4:\"type\";s:6:\"string\";}s:4:\"city\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"city-name\";s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":5:{s:7:\"default\";s:2:\"US\";s:11:\"description\";s:182:\"Two-letter
  ISO country code to be used as a hint for target region<br/><br/>\nNOTE: These are
  sample values, there are many\n<a href='http://www.iso.org/iso/country_codes.htm'>more</a>\";s:4:\"enum\";a:244:{i:0;s:2:\"AC\";i:1;s:2:\"AD\";i:2;s:2:\"AE\";i:3;s:2:\"AF\";i:4;s:2:\"AG\";i:5;s:2:\"AI\";i:6;s:2:\"AL\";i:7;s:2:\"AM\";i:8;s:2:\"AO\";i:9;s:2:\"AQ\";i:10;s:2:\"AR\";i:11;s:2:\"AS\";i:12;s:2:\"AT\";i:13;s:2:\"AU\";i:14;s:2:\"AW\";i:15;s:2:\"AX\";i:16;s:2:\"AZ\";i:17;s:2:\"BA\";i:18;s:2:\"BB\";i:19;s:2:\"BD\";i:20;s:2:\"BE\";i:21;s:2:\"BF\";i:22;s:2:\"BG\";i:23;s:2:\"BH\";i:24;s:2:\"BI\";i:25;s:2:\"BJ\";i:26;s:2:\"BM\";i:27;s:2:\"BN\";i:28;s:2:\"BO\";i:29;s:2:\"BQ\";i:30;s:2:\"BR\";i:31;s:2:\"BS\";i:32;s:2:\"BT\";i:33;s:2:\"BV\";i:34;s:2:\"BW\";i:35;s:2:\"BY\";i:36;s:2:\"BZ\";i:37;s:2:\"CA\";i:38;s:2:\"CC\";i:39;s:2:\"CD\";i:40;s:2:\"CF\";i:41;s:2:\"CG\";i:42;s:2:\"CH\";i:43;s:2:\"CI\";i:44;s:2:\"CK\";i:45;s:2:\"CL\";i:46;s:2:\"CM\";i:47;s:2:\"CN\";i:48;s:2:\"CO\";i:49;s:2:\"CR\";i:50;s:2:\"CV\";i:51;s:2:\"CW\";i:52;s:2:\"CX\";i:53;s:2:\"CY\";i:54;s:2:\"CZ\";i:55;s:2:\"DE\";i:56;s:2:\"DJ\";i:57;s:2:\"DK\";i:58;s:2:\"DM\";i:59;s:2:\"DO\";i:60;s:2:\"DZ\";i:61;s:2:\"EC\";i:62;s:2:\"EE\";i:63;s:2:\"EG\";i:64;s:2:\"EH\";i:65;s:2:\"ER\";i:66;s:2:\"ES\";i:67;s:2:\"ET\";i:68;s:2:\"FI\";i:69;s:2:\"FJ\";i:70;s:2:\"FK\";i:71;s:2:\"FM\";i:72;s:2:\"FO\";i:73;s:2:\"FR\";i:74;s:2:\"GA\";i:75;s:2:\"GB\";i:76;s:2:\"GD\";i:77;s:2:\"GE\";i:78;s:2:\"GF\";i:79;s:2:\"GG\";i:80;s:2:\"GH\";i:81;s:2:\"GI\";i:82;s:2:\"GL\";i:83;s:2:\"GM\";i:84;s:2:\"GN\";i:85;s:2:\"GP\";i:86;s:2:\"GQ\";i:87;s:2:\"GR\";i:88;s:2:\"GS\";i:89;s:2:\"GT\";i:90;s:2:\"GU\";i:91;s:2:\"GW\";i:92;s:2:\"GY\";i:93;s:2:\"HK\";i:94;s:2:\"HM\";i:95;s:2:\"HN\";i:96;s:2:\"HR\";i:97;s:2:\"HT\";i:98;s:2:\"HU\";i:99;s:2:\"ID\";i:100;s:2:\"IE\";i:101;s:2:\"IL\";i:102;s:2:\"IM\";i:103;s:2:\"IN\";i:104;s:2:\"IO\";i:105;s:2:\"IQ\";i:106;s:2:\"IS\";i:107;s:2:\"IT\";i:108;s:2:\"JE\";i:109;s:2:\"JM\";i:110;s:2:\"JO\";i:111;s:2:\"JP\";i:112;s:2:\"KE\";i:113;s:2:\"KG\";i:114;s:2:\"KH\";i:115;s:2:\"KI\";i:116;s:2:\"KM\";i:117;s:2:\"KN\";i:118;s:2:\"KR\";i:119;s:2:\"KV\";i:120;s:2:\"KW\";i:121;s:2:\"KY\";i:122;s:2:\"KZ\";i:123;s:2:\"LA\";i:124;s:2:\"LB\";i:125;s:2:\"LC\";i:126;s:2:\"LI\";i:127;s:2:\"LK\";i:128;s:2:\"LR\";i:129;s:2:\"LS\";i:130;s:2:\"LT\";i:131;s:2:\"LU\";i:132;s:2:\"LV\";i:133;s:2:\"LY\";i:134;s:2:\"MA\";i:135;s:2:\"MC\";i:136;s:2:\"MD\";i:137;s:2:\"ME\";i:138;s:2:\"MG\";i:139;s:2:\"MH\";i:140;s:2:\"MK\";i:141;s:2:\"ML\";i:142;s:2:\"MM\";i:143;s:2:\"MN\";i:144;s:2:\"MO\";i:145;s:2:\"MP\";i:146;s:2:\"MQ\";i:147;s:2:\"MR\";i:148;s:2:\"MS\";i:149;s:2:\"MT\";i:150;s:2:\"MU\";i:151;s:2:\"MV\";i:152;s:2:\"MW\";i:153;s:2:\"MX\";i:154;s:2:\"MY\";i:155;s:2:\"MZ\";i:156;s:2:\"NA\";i:157;s:2:\"NC\";i:158;s:2:\"NE\";i:159;s:2:\"NF\";i:160;s:2:\"NG\";i:161;s:2:\"NI\";i:162;s:2:\"NL\";i:163;s:2:\"NO\";i:164;s:2:\"NP\";i:165;s:2:\"NR\";i:166;s:2:\"NU\";i:167;s:2:\"NZ\";i:168;s:2:\"OM\";i:169;s:2:\"PA\";i:170;s:2:\"PE\";i:171;s:2:\"PF\";i:172;s:2:\"PG\";i:173;s:2:\"PH\";i:174;s:2:\"PK\";i:175;s:2:\"PL\";i:176;s:2:\"PM\";i:177;s:2:\"PN\";i:178;s:2:\"PR\";i:179;s:2:\"PS\";i:180;s:2:\"PT\";i:181;s:2:\"PW\";i:182;s:2:\"PY\";i:183;s:2:\"QA\";i:184;s:2:\"RE\";i:185;s:2:\"RO\";i:186;s:2:\"RS\";i:187;s:2:\"RU\";i:188;s:2:\"RW\";i:189;s:2:\"SA\";i:190;s:2:\"SB\";i:191;s:2:\"SC\";i:192;s:2:\"SE\";i:193;s:2:\"SG\";i:194;s:2:\"SH\";i:195;s:2:\"SI\";i:196;s:2:\"SJ\";i:197;s:2:\"SK\";i:198;s:2:\"SL\";i:199;s:2:\"SM\";i:200;s:2:\"SN\";i:201;s:2:\"SO\";i:202;s:2:\"SR\";i:203;s:2:\"ST\";i:204;s:2:\"SV\";i:205;s:2:\"SX\";i:206;s:2:\"SZ\";i:207;s:2:\"TC\";i:208;s:2:\"TD\";i:209;s:2:\"TF\";i:210;s:2:\"TG\";i:211;s:2:\"TH\";i:212;s:2:\"TJ\";i:213;s:2:\"TK\";i:214;s:2:\"TL\";i:215;s:2:\"TM\";i:216;s:2:\"TN\";i:217;s:2:\"TO\";i:218;s:2:\"TP\";i:219;s:2:\"TR\";i:220;s:2:\"TT\";i:221;s:2:\"TV\";i:222;s:2:\"TW\";i:223;s:2:\"TZ\";i:224;s:2:\"UA\";i:225;s:2:\"UG\";i:226;s:2:\"UM\";i:227;s:2:\"US\";i:228;s:2:\"UY\";i:229;s:2:\"UZ\";i:230;s:2:\"VA\";i:231;s:2:\"VC\";i:232;s:2:\"VE\";i:233;s:2:\"VG\";i:234;s:2:\"VI\";i:235;s:2:\"VN\";i:236;s:2:\"VU\";i:237;s:2:\"WF\";i:238;s:2:\"WS\";i:239;s:2:\"YE\";i:240;s:2:\"YT\";i:241;s:2:\"ZA\";i:242;s:2:\"ZM\";i:243;s:2:\"ZW\";}s:6:\"format\";s:16:\"iso-country-code\";s:4:\"type\";s:6:\"string\";}s:10:\"postalCode\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Postal
  or zip code\";s:6:\"format\";s:11:\"postal-code\";s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"State
  or province or territory\";s:6:\"format\";s:24:\"state-province-territory\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:5:{i:0;s:8:\"address1\";i:1;s:4:\"city\";i:2;s:5:\"state\";i:3;s:10:\"postalCode\";i:4;s:7:\"country\";}}s:16:\"ArrayOfDNSRecord\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/DNSRecord\";}}s:7:\"Consent\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"agreedAt\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"Timestamp
  indicating when the end-user consented to these legal agreements\";s:6:\"format\";s:12:\"iso-datetime\";s:4:\"type\";s:6:\"string\";}s:8:\"agreedBy\";O:8:\"stdClass\":2:{s:11:\"description\";s:102:\"Originating
  client IP address of the end-user's computer when they consented to these legal
  agreements\";s:4:\"type\";s:6:\"string\";}s:13:\"agreementKeys\";O:8:\"stdClass\":3:{s:11:\"description\";s:125:\"Unique
  identifiers of the legal agreements to which the end-user has agreed, as returned
  from the/domains/agreements endpoint\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:3:{i:0;s:13:\"agreementKeys\";i:1;s:8:\"agreedBy\";i:2;s:8:\"agreedAt\";}}s:7:\"Contact\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:14:\"addressMailing\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Address\";}s:5:\"email\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"email\";s:4:\"type\";s:6:\"string\";}s:3:\"fax\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"phone\";s:4:\"type\";s:6:\"string\";}s:8:\"jobTitle\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"nameFirst\";O:8:\"stdClass\":2:{s:6:\"format\";s:11:\"person-name\";s:4:\"type\";s:6:\"string\";}s:8:\"nameLast\";O:8:\"stdClass\":2:{s:6:\"format\";s:11:\"person-name\";s:4:\"type\";s:6:\"string\";}s:10:\"nameMiddle\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"organization\";O:8:\"stdClass\":2:{s:6:\"format\";s:17:\"organization-name\";s:4:\"type\";s:6:\"string\";}s:5:\"phone\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"phone\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:5:{i:0;s:9:\"nameFirst\";i:1;s:8:\"nameLast\";i:2;s:5:\"email\";i:3;s:5:\"phone\";i:4;s:14:\"addressMailing\";}}s:9:\"DNSRecord\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"domain\";s:4:\"type\";s:6:\"string\";}s:4:\"port\";O:8:\"stdClass\":4:{s:11:\"description\";s:23:\"Service
  port (SRV only)\";s:7:\"maximum\";i:65535;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:8:\"priority\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Record
  priority (MX and SRV only)\";s:6:\"format\";s:16:\"integer-positive\";s:4:\"type\";s:7:\"integer\";}s:8:\"protocol\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Service
  protocol (SRV only)\";s:4:\"type\";s:6:\"string\";}s:7:\"service\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Service
  type (SRV only)\";s:4:\"type\";s:6:\"string\";}s:3:\"ttl\";O:8:\"stdClass\":2:{s:6:\"format\";s:16:\"integer-positive\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"enum\";a:8:{i:0;s:1:\"A\";i:1;s:4:\"AAAA\";i:2;s:5:\"CNAME\";i:3;s:2:\"MX\";i:4;s:2:\"NS\";i:5;s:3:\"SOA\";i:6;s:3:\"SRV\";i:7;s:3:\"TXT\";}s:4:\"type\";s:6:\"string\";}s:6:\"weight\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Record
  weight (SRV only)\";s:6:\"format\";s:16:\"integer-positive\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:3:{i:0;s:4:\"type\";i:1;s:4:\"name\";i:2;s:4:\"data\";}}s:19:\"DNSRecordCreateType\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"domain\";s:4:\"type\";s:6:\"string\";}s:4:\"port\";O:8:\"stdClass\":4:{s:11:\"description\";s:23:\"Service
  port (SRV only)\";s:7:\"maximum\";i:65535;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:8:\"priority\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Record
  priority (MX and SRV only)\";s:6:\"format\";s:16:\"integer-positive\";s:4:\"type\";s:7:\"integer\";}s:8:\"protocol\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Service
  protocol (SRV only)\";s:4:\"type\";s:6:\"string\";}s:7:\"service\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Service
  type (SRV only)\";s:4:\"type\";s:6:\"string\";}s:3:\"ttl\";O:8:\"stdClass\":2:{s:6:\"format\";s:16:\"integer-positive\";s:4:\"type\";s:7:\"integer\";}s:6:\"weight\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Record
  weight (SRV only)\";s:6:\"format\";s:16:\"integer-positive\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:4:\"data\";}}s:23:\"DNSRecordCreateTypeName\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"port\";O:8:\"stdClass\":4:{s:11:\"description\";s:23:\"Service
  port (SRV only)\";s:7:\"maximum\";i:65535;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:8:\"priority\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Record
  priority (MX and SRV only)\";s:6:\"format\";s:16:\"integer-positive\";s:4:\"type\";s:7:\"integer\";}s:8:\"protocol\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Service
  protocol (SRV only)\";s:4:\"type\";s:6:\"string\";}s:7:\"service\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Service
  type (SRV only)\";s:4:\"type\";s:6:\"string\";}s:3:\"ttl\";O:8:\"stdClass\":2:{s:6:\"format\";s:16:\"integer-positive\";s:4:\"type\";s:7:\"integer\";}s:6:\"weight\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Record
  weight (SRV only)\";s:6:\"format\";s:16:\"integer-positive\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:1:{i:0;s:4:\"data\";}}s:19:\"DomainAvailableBulk\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"domains\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Domain
  available response array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/DomainAvailableResponse\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:7:\"domains\";}}s:24:\"DomainAvailableBulkMixed\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"domains\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Domain
  available response array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/DomainAvailableResponse\";}s:4:\"type\";s:5:\"array\";}s:6:\"errors\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"Errors
  encountered while performing a domain available check\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/DomainAvailableError\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:7:\"domains\";}}s:20:\"DomainAvailableError\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"code\";O:8:\"stdClass\":3:{s:11:\"description\";s:93:\"Short
  identifier for the error, suitable for indicating the specific error within client
  code\";s:6:\"format\";s:8:\"constant\";s:4:\"type\";s:6:\"string\";}s:6:\"domain\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Domain
  name\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Human-readable,
  English description of the error\";s:4:\"type\";s:6:\"string\";}s:4:\"path\";O:8:\"stdClass\":3:{s:11:\"description\";s:289:\"<ul>\n<li
  style='margin-left: 12px;'>JSONPath referring to a field containing an error</li>\n<strong
  style='margin-left: 12px;'>OR</strong>\n<li style='margin-left: 12px;'>JSONPath
  referring to a field that refers to an object containing an error, with more detail
  in `pathRelated`</li>\n</ul>\";s:6:\"format\";s:9:\"json-path\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"HTTP
  status code that would return for a single check\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:4:{i:0;s:4:\"code\";i:1;s:6:\"domain\";i:2;s:4:\"path\";i:3;s:6:\"status\";}}s:23:\"DomainAvailableResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:9:\"available\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Whether
  or not the domain name is available\";s:4:\"type\";s:7:\"boolean\";}s:8:\"currency\";O:8:\"stdClass\":4:{s:7:\"default\";s:3:\"USD\";s:11:\"description\";s:72:\"Currency
  in which the `price` is listed. Only returned if tld is offered\";s:6:\"format\";s:17:\"iso-currency-code\";s:4:\"type\";s:6:\"string\";}s:10:\"definitive\";O:8:\"stdClass\":2:{s:11:\"description\";s:86:\"Whether
  or not the `available` answer has been definitively verified with the registry\";s:4:\"type\";s:7:\"boolean\";}s:6:\"domain\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Domain
  name\";s:4:\"type\";s:6:\"string\";}s:6:\"period\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"Number
  of years included in the price. Only returned if tld is offered\";s:6:\"format\";s:16:\"integer-positive\";s:4:\"type\";s:7:\"integer\";}s:5:\"price\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"Price
  of the domain excluding taxes or fees. Only returned if tld is offered\";s:6:\"format\";s:19:\"currency-micro-unit\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:3:{i:0;s:6:\"domain\";i:1;s:9:\"available\";i:2;s:10:\"definitive\";}}s:14:\"DomainContacts\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"contactAdmin\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Contact\";}s:14:\"contactBilling\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Contact\";}s:17:\"contactRegistrant\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Contact\";}s:11:\"contactTech\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Contact\";}}s:8:\"required\";a:1:{i:0;s:17:\"contactRegistrant\";}}s:12:\"DomainDetail\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":22:{s:8:\"authCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Authorization
  code for transferring the Domain\";s:4:\"type\";s:6:\"string\";}s:12:\"contactAdmin\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Contact\";s:11:\"description\";s:50:\"Administrative
  contact for the domain registration\";}s:14:\"contactBilling\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Contact\";s:11:\"description\";s:43:\"Billing
  contact for the domain registration\";}s:17:\"contactRegistrant\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Contact\";s:11:\"description\";s:35:\"Registration
  contact for the domain\";}s:11:\"contactTech\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Contact\";s:11:\"description\";s:45:\"Technical
  contact for the domain registration\";}s:9:\"createdAt\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Date
  and time when this domain was created\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:9:\"deletedAt\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Date
  and time when this domain was deleted\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:22:\"transferAwayEligibleAt\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"Date
  and time when this domain is eligible to transfer\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:6:\"domain\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Name
  of the domain\";s:4:\"type\";s:6:\"string\";}s:8:\"domainId\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Unique
  identifier for this Domain\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:19:\"expirationProtected\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Whether
  or not the domain is protected from expiration\";s:4:\"type\";s:7:\"boolean\";}s:7:\"expires\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Date
  and time when this domain will expire\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:13:\"holdRegistrar\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Whether
  or not the domain is on-hold by the registrar\";s:4:\"type\";s:7:\"boolean\";}s:6:\"locked\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Whether
  or not the domain is locked to prevent transfers\";s:4:\"type\";s:7:\"boolean\";}s:11:\"nameServers\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Fully-qualified
  domain names for DNS servers\";s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"host-name\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"privacy\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Whether
  or not the domain has privacy protection\";s:4:\"type\";s:7:\"boolean\";}s:9:\"renewAuto\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"Whether
  or not the domain is configured to automatically renew\";s:4:\"type\";s:7:\"boolean\";}s:13:\"renewDeadline\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Date
  the domain must renew on\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:2451:\"Processing
  status of the domain<br/><ul>\n<li><strong style='margin-left: 12px;'>ACTIVE</strong>
  - All is well</li>\n<li><strong style='margin-left: 12px;'>AWAITING*</strong> -
  System is waiting for the end-user to complete an action</li>\n<li><strong style='margin-left:
  12px;'>CANCELLED*</strong> - Domain has been cancelled, and may or may not be reclaimable</li>\n<li><strong
  style='margin-left: 12px;'>CONFISCATED</strong> - Domain has been confiscated, usually
  for abuse, chargeback, or fraud</li>\n<li><strong style='margin-left: 12px;'>DISABLED*</strong>
  - Domain has been disabled</li>\n<li><strong style='margin-left: 12px;'>EXCLUDED*</strong>
  - Domain has been excluded from Firehose registration</li>\n<li><strong style='margin-left:
  12px;'>EXPIRED*</strong> - Domain has expired</li>\n<li><strong style='margin-left:
  12px;'>FAILED*</strong> - Domain has failed a required action, and the system is
  no longer retrying</li>\n<li><strong style='margin-left: 12px;'>HELD*</strong> -
  Domain has been placed on hold, and likely requires intervention from Support</li>\n<li><strong
  style='margin-left: 12px;'>LOCKED*</strong> - Domain has been locked, and likely
  requires intervention from Support</li>\n<li><strong style='margin-left: 12px;'>PARKED*</strong>
  - Domain has been parked, and likely requires intervention from Support</li>\n<li><strong
  style='margin-left: 12px;'>PENDING*</strong> - Domain is working its way through
  an automated workflow</li>\n<li><strong style='margin-left: 12px;'>RESERVED*</strong>
  - Domain is reserved, and likely requires intervention from Support</li>\n<li><strong
  style='margin-left: 12px;'>REVERTED</strong> - Domain has been reverted, and likely
  requires intervention from Support</li>\n<li><strong style='margin-left: 12px;'>SUSPENDED*</strong>
  - Domain has been suspended, and likely requires intervention from Support</li>\n<li><strong
  style='margin-left: 12px;'>TRANSFERRED*</strong> - Domain has been transferred out</li>\n<li><strong
  style='margin-left: 12px;'>UNKNOWN</strong> - Domain is in an unknown state</li>\n<li><strong
  style='margin-left: 12px;'>UNLOCKED*</strong> - Domain has been unlocked, and likely
  requires intervention from Support</li>\n<li><strong style='margin-left: 12px;'>UNPARKED*</strong>
  - Domain has been unparked, and likely requires intervention from Support</li>\n<li><strong
  style='margin-left: 12px;'>UPDATED*</strong> - Domain ownership has been transferred
  to another account</li>\n</ul>\";s:4:\"type\";s:6:\"string\";}s:12:\"subaccountId\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"Reseller
  subaccount shopperid who can manage the domain\";s:4:\"type\";s:6:\"string\";}s:17:\"transferProtected\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Whether
  or not the domain is protected from transfer\";s:4:\"type\";s:7:\"boolean\";}s:13:\"verifications\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/VerificationsDomain\";s:11:\"description\";s:84:\"Progress
  and status for each of the verification processes requested for this domain\";}}s:8:\"required\";a:17:{i:0;s:8:\"domainId\";i:1;s:6:\"domain\";i:2;s:6:\"status\";i:3;s:19:\"expirationProtected\";i:4;s:13:\"holdRegistrar\";i:5;s:6:\"locked\";i:6;s:7:\"privacy\";i:7;s:9:\"renewAuto\";i:8;s:13:\"renewDeadline\";i:9;s:17:\"transferProtected\";i:10;s:9:\"createdAt\";i:11;s:8:\"authCode\";i:12;s:11:\"nameServers\";i:13;s:17:\"contactRegistrant\";i:14;s:14:\"contactBilling\";i:15;s:12:\"contactAdmin\";i:16;s:11:\"contactTech\";}}s:14:\"DomainPurchase\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:7:\"consent\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Consent\";}s:12:\"contactAdmin\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Contact\";}s:14:\"contactBilling\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Contact\";}s:17:\"contactRegistrant\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Contact\";}s:11:\"contactTech\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Contact\";}s:6:\"domain\";O:8:\"stdClass\":3:{s:11:\"description\";s:157:\"For
  internationalized domain names with non-ascii characters, the domain name is converted
  to punycode before format and pattern validation rules are checked\";s:6:\"format\";s:6:\"domain\";s:4:\"type\";s:6:\"string\";}s:11:\"nameServers\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"host-name\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:6:\"period\";O:8:\"stdClass\":5:{s:7:\"default\";i:1;s:6:\"format\";s:16:\"integer-positive\";s:7:\"maximum\";i:10;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:7:\"privacy\";O:8:\"stdClass\":2:{s:7:\"default\";b:0;s:4:\"type\";s:7:\"boolean\";}s:9:\"renewAuto\";O:8:\"stdClass\":2:{s:7:\"default\";b:1;s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:2:{i:0;s:6:\"domain\";i:1;s:7:\"consent\";}}s:22:\"DomainPurchaseResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"currency\";O:8:\"stdClass\":4:{s:7:\"default\";s:3:\"USD\";s:11:\"description\";s:39:\"Currency
  in which the `total` is listed\";s:6:\"format\";s:17:\"iso-currency-code\";s:4:\"type\";s:6:\"string\";}s:9:\"itemCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Number
  items included in the order\";s:6:\"format\";s:16:\"integer-positive\";s:4:\"type\";s:7:\"integer\";}s:7:\"orderId\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"Unique
  identifier of the order processed to purchase the domain\";s:6:\"format\";s:16:\"integer-positive\";s:4:\"type\";s:7:\"integer\";}s:5:\"total\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Total
  cost of the domain and any selected add-ons\";s:6:\"format\";s:19:\"currency-micro-unit\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:3:{i:0;s:7:\"orderId\";i:1;s:9:\"itemCount\";i:2;s:5:\"total\";}}s:11:\"DomainRenew\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"period\";O:8:\"stdClass\":5:{s:11:\"description\";s:140:\"Number
  of years to extend the Domain. Must not exceed maximum for TLD. When omitted, defaults
  to `period` specified during original purchase\";s:6:\"format\";s:16:\"integer-positive\";s:7:\"maximum\";i:10;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}}}s:16:\"DomainSuggestion\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"domain\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Suggested
  domain name\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:6:\"domain\";}}s:13:\"DomainSummary\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":21:{s:8:\"authCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Authorization
  code for transferring the Domain\";s:4:\"type\";s:6:\"string\";}s:12:\"contactAdmin\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Contact\";s:11:\"description\";s:50:\"Administrative
  contact for the domain registration\";}s:14:\"contactBilling\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Contact\";s:11:\"description\";s:43:\"Billing
  contact for the domain registration\";}s:17:\"contactRegistrant\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Contact\";s:11:\"description\";s:35:\"Registration
  contact for the domain\";}s:11:\"contactTech\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Contact\";s:11:\"description\";s:45:\"Technical
  contact for the domain registration\";}s:9:\"createdAt\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Date
  and time when this domain was created\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:9:\"deletedAt\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Date
  and time when this domain was deleted\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:22:\"transferAwayEligibleAt\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"Date
  and time when this domain is eligible to transfer\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:6:\"domain\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Name
  of the domain\";s:4:\"type\";s:6:\"string\";}s:8:\"domainId\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Unique
  identifier for this Domain\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:19:\"expirationProtected\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Whether
  or not the domain is protected from expiration\";s:4:\"type\";s:7:\"boolean\";}s:7:\"expires\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Date
  and time when this domain will expire\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:13:\"holdRegistrar\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Whether
  or not the domain is on-hold by the registrar\";s:4:\"type\";s:7:\"boolean\";}s:6:\"locked\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Whether
  or not the domain is locked to prevent transfers\";s:4:\"type\";s:7:\"boolean\";}s:11:\"nameServers\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Fully-qualified
  domain names for DNS servers\";s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"host-name\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"privacy\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Whether
  or not the domain has privacy protection\";s:4:\"type\";s:7:\"boolean\";}s:9:\"renewAuto\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"Whether
  or not the domain is configured to automatically renew\";s:4:\"type\";s:7:\"boolean\";}s:13:\"renewDeadline\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Date
  the domain must renew on\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:9:\"renewable\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"Whether
  or not the domain is eligble for renewal based on status\";s:4:\"type\";s:7:\"boolean\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:2451:\"Processing
  status of the domain<br/><ul>\n<li><strong style='margin-left: 12px;'>ACTIVE</strong>
  - All is well</li>\n<li><strong style='margin-left: 12px;'>AWAITING*</strong> -
  System is waiting for the end-user to complete an action</li>\n<li><strong style='margin-left:
  12px;'>CANCELLED*</strong> - Domain has been cancelled, and may or may not be reclaimable</li>\n<li><strong
  style='margin-left: 12px;'>CONFISCATED</strong> - Domain has been confiscated, usually
  for abuse, chargeback, or fraud</li>\n<li><strong style='margin-left: 12px;'>DISABLED*</strong>
  - Domain has been disabled</li>\n<li><strong style='margin-left: 12px;'>EXCLUDED*</strong>
  - Domain has been excluded from Firehose registration</li>\n<li><strong style='margin-left:
  12px;'>EXPIRED*</strong> - Domain has expired</li>\n<li><strong style='margin-left:
  12px;'>FAILED*</strong> - Domain has failed a required action, and the system is
  no longer retrying</li>\n<li><strong style='margin-left: 12px;'>HELD*</strong> -
  Domain has been placed on hold, and likely requires intervention from Support</li>\n<li><strong
  style='margin-left: 12px;'>LOCKED*</strong> - Domain has been locked, and likely
  requires intervention from Support</li>\n<li><strong style='margin-left: 12px;'>PARKED*</strong>
  - Domain has been parked, and likely requires intervention from Support</li>\n<li><strong
  style='margin-left: 12px;'>PENDING*</strong> - Domain is working its way through
  an automated workflow</li>\n<li><strong style='margin-left: 12px;'>RESERVED*</strong>
  - Domain is reserved, and likely requires intervention from Support</li>\n<li><strong
  style='margin-left: 12px;'>REVERTED</strong> - Domain has been reverted, and likely
  requires intervention from Support</li>\n<li><strong style='margin-left: 12px;'>SUSPENDED*</strong>
  - Domain has been suspended, and likely requires intervention from Support</li>\n<li><strong
  style='margin-left: 12px;'>TRANSFERRED*</strong> - Domain has been transferred out</li>\n<li><strong
  style='margin-left: 12px;'>UNKNOWN</strong> - Domain is in an unknown state</li>\n<li><strong
  style='margin-left: 12px;'>UNLOCKED*</strong> - Domain has been unlocked, and likely
  requires intervention from Support</li>\n<li><strong style='margin-left: 12px;'>UNPARKED*</strong>
  - Domain has been unparked, and likely requires intervention from Support</li>\n<li><strong
  style='margin-left: 12px;'>UPDATED*</strong> - Domain ownership has been transferred
  to another account</li>\n</ul>\";s:4:\"type\";s:6:\"string\";}s:17:\"transferProtected\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Whether
  or not the domain is protected from transfer\";s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:12:{i:0;s:8:\"domainId\";i:1;s:6:\"domain\";i:2;s:6:\"status\";i:3;s:19:\"expirationProtected\";i:4;s:13:\"holdRegistrar\";i:5;s:6:\"locked\";i:6;s:7:\"privacy\";i:7;s:9:\"renewAuto\";i:8;s:13:\"renewDeadline\";i:9;s:17:\"transferProtected\";i:10;s:9:\"createdAt\";i:11;s:17:\"contactRegistrant\";}}s:16:\"DomainTransferIn\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"authCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"Authorization
  code from registrar for transferring a domain\";s:4:\"type\";s:6:\"string\";}s:7:\"consent\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Consent\";s:11:\"description\";s:78:\"Required
  agreements can be retrieved via the GET ./domains/agreements endpoint\";}s:6:\"period\";O:8:\"stdClass\":6:{s:7:\"default\";i:1;s:11:\"description\";s:88:\"Can
  be more than 1 but no more than 10 years total including current registration length\";s:6:\"format\";s:16:\"integer-positive\";s:7:\"maximum\";i:10;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:7:\"privacy\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:41:\"Whether
  or not privacy has been requested\";s:4:\"type\";s:7:\"boolean\";}s:9:\"renewAuto\";O:8:\"stdClass\":3:{s:7:\"default\";b:1;s:11:\"description\";s:69:\"Whether
  or not the domain should be configured to automatically renew\";s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:2:{i:0;s:8:\"authCode\";i:1;s:7:\"consent\";}}s:12:\"DomainUpdate\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"locked\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"Whether
  or not the domain should be locked to prevent transfers\";s:4:\"type\";s:7:\"boolean\";}s:11:\"nameServers\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"Fully-qualified
  domain names for Name Servers to associate with the domain\";s:5:\"items\";O:8:\"stdClass\":1:{s:6:\"format\";s:9:\"host-name\";}s:4:\"type\";s:5:\"array\";}s:9:\"renewAuto\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"Whether
  or not the domain should be configured to automatically renew\";s:4:\"type\";s:7:\"boolean\";}s:12:\"subaccountId\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"Reseller
  subaccount shopperid who can manage the domain\";s:4:\"type\";s:6:\"string\";}}}s:19:\"DomainsContactsBulk\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:12:\"contactAdmin\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Contact\";}s:14:\"contactBilling\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Contact\";}s:15:\"contactPresence\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Contact\";}s:17:\"contactRegistrant\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Contact\";}s:11:\"contactTech\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Contact\";}s:7:\"domains\";O:8:\"stdClass\":3:{s:11:\"description\";s:159:\"An
  array of domain names to be validated against. Alternatively, you can specify the
  extracted tlds. However, full domain names are required if the tld is `uk`\";s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"domain\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:10:\"entityType\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Canadian
  Presence Requirement (CA)\";s:4:\"enum\";a:17:{i:0;s:10:\"ABORIGINAL\";i:1;s:11:\"ASSOCIATION\";i:2;s:7:\"CITIZEN\";i:3;s:11:\"CORPORATION\";i:4;s:11:\"EDUCATIONAL\";i:5;s:10:\"GOVERNMENT\";i:6;s:8:\"HOSPITAL\";i:7;s:11:\"INDIAN_BAND\";i:8;s:20:\"LEGAL_REPRESENTATIVE\";i:9;s:22:\"LIBRARY_ARCHIVE_MUSEUM\";i:10;s:15:\"MARK_REGISTERED\";i:11;s:10:\"MARK_TRADE\";i:12;s:11:\"PARTNERSHIP\";i:13;s:15:\"POLITICAL_PARTY\";i:14;s:18:\"RESIDENT_PERMANENT\";i:15;s:5:\"TRUST\";i:16;s:5:\"UNION\";}s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:7:\"domains\";}}s:5:\"Error\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":3:{s:11:\"description\";s:93:\"Short
  identifier for the error, suitable for indicating the specific error within client
  code\";s:6:\"format\";s:8:\"constant\";s:4:\"type\";s:6:\"string\";}s:6:\"fields\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"List
  of the specific fields, and the errors found with their contents\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/ErrorField\";}s:4:\"type\";s:5:\"array\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Human-readable,
  English description of the error\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"code\";}}s:27:\"ErrorDomainContactsValidate\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"code\";O:8:\"stdClass\":3:{s:11:\"description\";s:93:\"Short
  identifier for the error, suitable for indicating the specific error within client
  code\";s:6:\"format\";s:8:\"constant\";s:4:\"type\";s:6:\"string\";}s:6:\"fields\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"List
  of the specific fields, and the errors found with their contents\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/ErrorFieldDomainContactsValidate\";}s:4:\"type\";s:5:\"array\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Human-readable,
  English description of the error\";s:4:\"type\";s:6:\"string\";}s:5:\"stack\";O:8:\"stdClass\":3:{s:11:\"description\";s:226:\"Stack
  trace indicating where the error occurred.<br/>NOTE: This attribute <strong>MAY</strong>
  be included for Development and Test environments. However, it <strong>MUST NOT</strong>
  be exposed from OTE nor Production systems\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:4:\"code\";}}s:10:\"ErrorField\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"code\";O:8:\"stdClass\":3:{s:11:\"description\";s:93:\"Short
  identifier for the error, suitable for indicating the specific error within client
  code\";s:6:\"format\";s:8:\"constant\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:81:\"Human-readable,
  English description of the problem with the contents of the field\";s:4:\"type\";s:6:\"string\";}s:4:\"path\";O:8:\"stdClass\":3:{s:11:\"description\";s:289:\"<ul>\n<li
  style='margin-left: 12px;'>JSONPath referring to a field containing an error</li>\n<strong
  style='margin-left: 12px;'>OR</strong>\n<li style='margin-left: 12px;'>JSONPath
  referring to a field that refers to an object containing an error, with more detail
  in `pathRelated`</li>\n</ul>\";s:6:\"format\";s:9:\"json-path\";s:4:\"type\";s:6:\"string\";}s:11:\"pathRelated\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"JSONPath
  referring to a field containing an error, which is referenced by `path`\";s:6:\"format\";s:9:\"json-path\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"path\";i:1;s:4:\"code\";}}s:32:\"ErrorFieldDomainContactsValidate\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"code\";O:8:\"stdClass\":3:{s:11:\"description\";s:93:\"Short
  identifier for the error, suitable for indicating the specific error within client
  code\";s:6:\"format\";s:8:\"constant\";s:4:\"type\";s:6:\"string\";}s:7:\"domains\";O:8:\"stdClass\":3:{s:11:\"description\";s:306:\"An
  array of domain names the error is for. If tlds are specified in the request, `domains`
  will contain tlds. For example, if `domains` in request is [\"test1.com\", \"test2.uk\",
  \"net\"], and the field is invalid for com and net, then one of the `fields` in
  response will have [\"test1.com\", \"net\"] as `domains`\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:81:\"Human-readable,
  English description of the problem with the contents of the field\";s:4:\"type\";s:6:\"string\";}s:4:\"path\";O:8:\"stdClass\":3:{s:11:\"description\";s:136:\"1)
  JSONPath referring to the field within the data containing an error<br/>or<br/>2)
  JSONPath referring to an object containing an error\";s:6:\"format\";s:9:\"json-path\";s:4:\"type\";s:6:\"string\";}s:11:\"pathRelated\";O:8:\"stdClass\":3:{s:11:\"description\";s:86:\"JSONPath
  referring to the field on the object referenced by `path` containing an error\";s:6:\"format\";s:9:\"json-path\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:4:\"code\";i:1;s:7:\"domains\";i:2;s:4:\"path\";}}s:10:\"ErrorLimit\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"code\";O:8:\"stdClass\":3:{s:11:\"description\";s:93:\"Short
  identifier for the error, suitable for indicating the specific error within client
  code\";s:6:\"format\";s:8:\"constant\";s:4:\"type\";s:6:\"string\";}s:6:\"fields\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"List
  of the specific fields, and the errors found with their contents\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/ErrorField\";}s:4:\"type\";s:5:\"array\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Human-readable,
  English description of the error\";s:4:\"type\";s:6:\"string\";}s:13:\"retryAfterSec\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"Number
  of seconds to wait before attempting a similar request\";s:6:\"format\";s:16:\"integer-positive\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:2:{i:0;s:13:\"retryAfterSec\";i:1;s:4:\"code\";}}s:12:\"JsonDataType\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"format\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"pattern\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"type\";i:1;s:4:\"$ref\";}}s:12:\"JsonProperty\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:12:\"defaultValue\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"format\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/JsonDataType\";}s:4:\"type\";s:6:\"object\";}s:8:\"maxItems\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"maximum\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"minItems\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"minimum\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"pattern\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"required\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:4:\"type\";i:1;s:4:\"$ref\";i:2;s:8:\"required\";}}s:10:\"JsonSchema\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"models\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/JsonSchema\";}s:4:\"type\";s:6:\"object\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/JsonProperty\";}s:4:\"type\";s:6:\"object\";}s:8:\"required\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:4:{i:0;s:2:\"id\";i:1;s:10:\"properties\";i:2;s:8:\"required\";i:3;s:6:\"models\";}}s:14:\"LegalAgreement\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"agreementKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Unique
  identifier for the legal agreement\";s:4:\"type\";s:6:\"string\";}s:7:\"content\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"Contents
  of the legal agreement, suitable for embedding\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Title
  of the legal agreement\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"URL
  to a page containing the legal agreement\";s:6:\"format\";s:3:\"url\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:12:\"agreementKey\";i:1;s:5:\"title\";i:2;s:7:\"content\";}}s:15:\"PrivacyPurchase\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"consent\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Consent\";s:11:\"description\";s:105:\"Specify
  agreement `DNPA`.  Required agreements can be retrieved via the GET ./domains/agreements
  endpoint\";}}s:8:\"required\";a:1:{i:0;s:7:\"consent\";}}s:18:\"RealNameValidation\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"enum\";a:9:{i:0;s:8:\"APPROVED\";i:1;s:7:\"PENDING\";i:2;s:31:\"PENDING_ASSOCIATION_WITH_DOMAIN\";i:3;s:42:\"PENDING_SUBMISSION_TO_VERIFICATION_SERVICE\";i:4;s:34:\"PENDING_VERIFICATION_SERVICE_REPLY\";i:5;s:30:\"PENDING_SUBMISSION_TO_REGISTRY\";i:6;s:22:\"PENDING_REGISTRY_REPLY\";i:7;s:21:\"PENDING_DOMAIN_UPDATE\";i:8;s:8:\"REJECTED\";}s:4:\"type\";s:6:\"string\";}}}s:10:\"TldSummary\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Name
  of the top-level domain\";s:6:\"format\";s:3:\"tld\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":4:{s:7:\"default\";s:7:\"GENERIC\";s:11:\"description\";s:28:\"Type
  of the top-level domain\";s:4:\"enum\";a:2:{i:0;s:12:\"COUNTRY_CODE\";i:1;s:7:\"GENERIC\";}s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:4:\"type\";}}s:22:\"VerificationDomainName\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Status
  of the domain name verification\";s:4:\"enum\";a:4:{i:0;s:8:\"APPROVED\";i:1;s:7:\"PENDING\";i:2;s:8:\"REJECTED\";i:3;s:25:\"UNABLE_TO_RETRIEVE_STATUS\";}s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:6:\"status\";}}s:20:\"VerificationRealName\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:4217:\"Status
  of the real name verification<br/><ul> <li><strong style='margin-left: 12px;'>APPROVED</strong>
  - All is well</li> <li><strong style='margin-left: 12px;'>PENDING</strong> - Real
  name verification is working its way through the workflow</li> <li><strong style='margin-left:
  12px;'>REJECTED_DOCUMENT_OUTDATED</strong> - Local government verification shows
  there is a newer version of your document.  Upload the latest version of the document
  and retry real name verification</li> <li><strong style='margin-left: 12px;'>REJECTED_EXPIRED_BUSINESS_LICENSE</strong>
  - Business license is expired</li> <li><strong style='margin-left: 12px;'>REJECTED_EXPIRED_ORGANIZATION_CODE</strong>
  - Organization code certificate number has expired</li> <li><strong style='margin-left:
  12px;'>REJECTED_ILLEGIBLE_DOCUMENT_NAME</strong> - There isn\u2019t a clear name
  on your uploaded document, please upload a different document to retry real name
  verification</li> <li><strong style='margin-left: 12px;'>REJECTED_ILLEGIBLE_IDENTIFICATION</strong>
  - Registrant identification is not clear.  Upload a better image to retry</li> <li><strong
  style='margin-left: 12px;'>REJECTED_INCOMPLETE_IDENTIFICATION</strong> - Registrant
  identification is incomplete</li> <li><strong style='margin-left: 12px;'>REJECTED_INCOMPLETE_REGISTRATION_LETTER</strong>
  - Registration letter is incomplete</li> <li><strong style='margin-left: 12px;'>REJECTED_INCONSISTENT_IDENTITY_CARD</strong>
  - Provided identity card is inconsistent with the identity card on record</li> <li><strong
  style='margin-left: 12px;'>REJECTED_INCONSISTENT_ORGANIZATION_CODE</strong> - Provided
  organization information is inconsistent with the results obtained using the submitted
  organization code</li> <li><strong style='margin-left: 12px;'>REJECTED_INCONSISTENT_REGISTRANT_NAME</strong>
  - Name on the registrant identification does not match the name in the system</li>
  <li><strong style='margin-left: 12px;'>REJECTED_INVALID_BUSINESS_LICENSE_OR_ORGANIZATION_CODE</strong>
  - Your document contains an invalid business license or organization code certificate
  number</li> <li><strong style='margin-left: 12px;'>REJECTED_INVALID_DOCUMENT</strong>
  - Document is invalid.  Please upload another document to retry real name verification</li>
  <li><strong style='margin-left: 12px;'>REJECTED_MISMATCH_BUSINESS_ID</strong> -
  Business id does not match the business id in the document</li> <li><strong style='margin-left:
  12px;'>REJECTED_MISMATCH_BUSINESS_NAME</strong> - Business name does not match the
  business name in the document</li> <li><strong style='margin-left: 12px;'>REJECTED_MISMATCH_DOCUMENT_ID</strong>
  - Document id does not match the id in the document</li> <li><strong style='margin-left:
  12px;'>REJECTED_MISMATCH_DOCUMENT_NAME</strong> - Document name does not match the
  name in the document</li> <li><strong style='margin-left: 12px;'>REJECTED_MISMATCH_DOCUMENT_TYPE</strong>
  - Document type does not match the document</li> <li><strong style='margin-left:
  12px;'>REJECTED_MISMATCH_REGISTRANT_INFO</strong> - The information provided for
  the registrant does not match the document</li> <li><strong style='margin-left:
  12px;'>REJECTED_MISMATCH_REGISTRANT_LOCALITY</strong> - Registrant region is overseas,
  but a local identity document was provided</li> <li><strong style='margin-left:
  12px;'>REJECTED_MISMATCH_REGISTRANT_NAME</strong> - Registrant name has been changed,
  so the request must be resubmitted</li> <li><strong style='margin-left: 12px;'>REJECTED_UNABLE_TO_OPEN</strong>
  - Registrant identification could not be opened.  Please upload the document again
  to retry real name verification</li> <li><strong style='margin-left: 12px;'>REJECTED_UNABLE_TO_VERIFY</strong>
  - Unable to initiate verification.  Please upload the document again to retry real
  name verification</li> <li><strong style='margin-left: 12px;'>REJECTED_UNKNOWN_ERROR</strong>
  - Document was rejected due to an unknown error. For more information, contact customer
  support</li> <li><strong style='margin-left: 12px;'>UNABLE_TO_RETRIEVE_STATUS</strong>
  - Unable to retrieve status for the real name verification process.  Retry, if this
  status persists, contact customer support</li> </ul>\";s:4:\"enum\";a:26:{i:0;s:8:\"APPROVED\";i:1;s:7:\"PENDING\";i:2;s:26:\"REJECTED_DOCUMENT_OUTDATED\";i:3;s:33:\"REJECTED_EXPIRED_BUSINESS_LICENSE\";i:4;s:34:\"REJECTED_EXPIRED_ORGANIZATION_CODE\";i:5;s:32:\"REJECTED_ILLEGIBLE_DOCUMENT_NAME\";i:6;s:33:\"REJECTED_ILLEGIBLE_IDENTIFICATION\";i:7;s:34:\"REJECTED_INCOMPLETE_IDENTIFICATION\";i:8;s:39:\"REJECTED_INCOMPLETE_REGISTRATION_LETTER\";i:9;s:35:\"REJECTED_INCONSISTENT_IDENTITY_CARD\";i:10;s:39:\"REJECTED_INCONSISTENT_ORGANIZATION_CODE\";i:11;s:37:\"REJECTED_INCONSISTENT_REGISTRANT_NAME\";i:12;s:54:\"REJECTED_INVALID_BUSINESS_LICENSE_OR_ORGANIZATION_CODE\";i:13;s:25:\"REJECTED_INVALID_DOCUMENT\";i:14;s:29:\"REJECTED_MISMATCH_BUSINESS_ID\";i:15;s:31:\"REJECTED_MISMATCH_BUSINESS_NAME\";i:16;s:29:\"REJECTED_MISMATCH_DOCUMENT_ID\";i:17;s:31:\"REJECTED_MISMATCH_DOCUMENT_NAME\";i:18;s:31:\"REJECTED_MISMATCH_DOCUMENT_TYPE\";i:19;s:33:\"REJECTED_MISMATCH_REGISTRANT_INFO\";i:20;s:37:\"REJECTED_MISMATCH_REGISTRANT_LOCALITY\";i:21;s:33:\"REJECTED_MISMATCH_REGISTRANT_NAME\";i:22;s:23:\"REJECTED_UNABLE_TO_OPEN\";i:23;s:25:\"REJECTED_UNABLE_TO_VERIFY\";i:24;s:22:\"REJECTED_UNKNOWN_ERROR\";i:25;s:25:\"UNABLE_TO_RETRIEVE_STATUS\";}s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:6:\"status\";}}s:19:\"VerificationsDomain\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"domainName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/VerificationDomainName\";s:11:\"description\";s:82:\"Verification
  of domain name against a prohibited list maintained by the government\";}s:8:\"realName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/VerificationRealName\";s:11:\"description\";s:91:\"Verification
  of identity by comparing registration data against government issued documents\";}}}s:6:\"domain\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}}}"
...
