---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":7:{s:5:\"title\";s:8:\"Systemet\";s:11:\"description\";s:106:\"Systemet
  API is an unofficial API for accessing the Swedish alcohol monopoly (Systembolaget)
  product data.\";s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:8:\"karlroos\";s:3:\"url\";s:22:\"http://systemetapi.se/\";}s:7:\"version\";N;s:6:\"x-logo\";s:86:\"https://s3.amazonaws.com/mashape-production-logos/apis/53aa51e8e4b05961403407c2_medium\";s:20:\"x-mashape-categories\";a:1:{i:0;s:4:\"Data\";}s:8:\"x-origin\";O:8:\"stdClass\":2:{s:6:\"format\";s:7:\"mashape\";s:3:\"url\";s:44:\"https://market.mashape.com/karlroos/systemet\";}}"
host: karlroos-systemet.p.mashape.com
basePath: ""
paths:
  /country:
    get:
      description: ""
      operationId: countries
      produces:
      - application/json
      responses:
        200:
          description: ~
          schema:
            type: array
  /product:
    get:
      description: Fetches products
      operationId: products
      produces:
      - application/json
      parameters:
      - name: alcohol_from
        in: query
        description: Alcohol contents range from
      - name: alcohol_to
        in: query
        description: Alcohol contents range to
      - name: apk_from
        in: query
        description: APK range from
      - name: apk_to
        in: query
        description: APK range to
      - name: country
        in: query
        description: Country ID
      - name: ecological
        in: query
        description: Ecological or not
      - name: koscher
        in: query
        description: Koscher or not
      - name: limit
        in: query
        description: Limit
      - name: name
        in: query
        description: Searches name and name2 with a LIKE
      - name: offset
        in: query
        description: Offset
      - name: order
        in: query
        description: DESC or ASC
      - name: order_by
        in: query
        description: Order by (name, price, price_per_liter, alcohol, apk)
      - name: price_from
        in: query
        description: Price range from
      - name: price_per_liter_from
        in: query
        description: Price per liter range from
      - name: price_per_liter_to
        in: query
        description: Price per liter range to
      - name: price_to
        in: query
        description: Price range to
      - name: start_date_from
        in: query
        description: Sales start date from range
      - name: start_date_to
        in: query
        description: Sales start date to range
      - name: tag
        in: query
        description: Comma separated tag IDs
      - name: year_from
        in: query
        description: Year range from
      - name: year_to
        in: query
        description: Year range to
      responses:
        200:
          description: ~
          schema:
            type: array
  /tag:
    get:
      description: Product tags
      operationId: tags
      produces:
      - application/json
      responses:
        200:
          description: ~
          schema:
            type: array
definitions: !php/object "O:8:\"stdClass\":1:{s:8:\"Resource\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}"
...
