---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":2:{s:5:\"title\";s:15:\"Ekranj REST API\";s:7:\"version\";s:3:\"0.1\";}"
host: ekranj.local.si
basePath: /
paths:
  /accommodation:
    get:
      tags:
      - accommodation
      summary: Get list of accommodations
      responses:
        200:
          description: Accommodation list
          schema:
            type: array
            items:
              $ref: '#/definitions/AccommodationResponse'
        default:
          description: Unknown error
          schema:
            type: array
            items:
              type: string
    post:
      tags:
      - accommodation
      summary: Create a new accommodation
      parameters:
      - name: accommodation
        in: body
        schema:
          $ref: '#/definitions/AccommodationValidation'
      responses:
        201:
          description: Accommodation object
          schema:
            $ref: '#/definitions/AccommodationResponse'
        default:
          description: Unknown error
          schema:
            type: array
            items:
              type: string
  /accommodation/{id}:
    get:
      tags:
      - accommodation
      summary: Get accommodation by ID
      parameters:
      - name: id
        in: path
        required: true
        type: string
      responses:
        200:
          description: Accommodation object
          schema:
            $ref: '#/definitions/AccommodationResponse'
        default:
          description: Unknown error
          schema:
            type: array
            items:
              type: string
    put:
      tags:
      - accommodation
      summary: Update accommodation data
      parameters:
      - name: id
        in: path
        required: true
        type: string
      - name: accommodation
        in: body
        schema:
          $ref: '#/definitions/AccommodationValidation'
      responses:
        202:
          description: Accommodation object
          schema:
            $ref: '#/definitions/AccommodationResponse'
        default:
          description: Unknown error
          schema:
            type: array
            items:
              type: string
    delete:
      tags:
      - accommodation
      summary: Delete an accommodation
      parameters:
      - name: id
        in: path
        required: true
        type: string
      responses:
        204:
          description: Accommodation deleted
        default:
          description: Unknown error
          schema:
            type: array
            items:
              type: string
  /accommodation/reorder:
    post:
      tags:
      - accommodation
      summary: Reorder accommodation list
      parameters:
      - name: Positions
        in: body
        schema:
          type: array
          items:
            type: object
      responses:
        204:
          description: Positions saved
        default:
          description: Unknown error
          schema:
            type: array
            items:
              type: string
  /accommodation-type:
    get:
      tags:
      - accommodation_type
      summary: Get list of accommodation types
      responses:
        200:
          description: Accommodation types list
          schema:
            type: array
            items:
              $ref: '#/definitions/AccommodationTypeResponse'
        default:
          description: Unknown error
          schema:
            type: array
            items:
              type: string
    post:
      tags:
      - accommodation_type
      summary: Create a new accommodation type
      parameters:
      - name: AccommodationType
        in: body
        schema:
          $ref: '#/definitions/AccommodationTypeValidation'
      responses:
        201:
          description: AccommodationType object
          schema:
            $ref: '#/definitions/AccommodationTypeResponse'
        default:
          description: Unknown error
          schema:
            type: array
            items:
              type: string
  /accommodation-type/{id}:
    get:
      tags:
      - accommodation_type
      summary: Get accommodation type by ID
      parameters:
      - name: id
        in: path
        required: true
        type: string
      responses:
        200:
          description: AccommodationType object
          schema:
            $ref: '#/definitions/AccommodationTypeResponse'
        default:
          description: Unknown error
          schema:
            type: array
            items:
              type: string
    put:
      tags:
      - accommodation_type
      summary: Update accommodation type data
      parameters:
      - name: id
        in: path
        required: true
        type: string
      - name: AccommodationType
        in: body
        schema:
          $ref: '#/definitions/AccommodationTypeValidation'
      responses:
        202:
          description: AccommodationType object
          schema:
            $ref: '#/definitions/AccommodationTypeResponse'
        default:
          description: Unknown error
          schema:
            type: array
            items:
              type: string
    post:
      tags:
      - accommodation_type
      summary: Update accommodation type data
      parameters:
      - name: id
        in: path
        required: true
        type: string
      - name: AccommodationType
        in: body
        schema:
          $ref: '#/definitions/AccommodationTypeValidation'
      responses:
        202:
          description: AccommodationType object
          schema:
            $ref: '#/definitions/AccommodationTypeResponse'
        default:
          description: Unknown error
          schema:
            type: array
            items:
              type: string
    delete:
      tags:
      - accommodation_type
      summary: Delete an accommodation type
      parameters:
      - name: id
        in: path
        required: true
        type: string
      responses:
        204:
          description: Accommodation type deleted
        default:
          description: Unknown error
          schema:
            type: array
            items:
              type: string
  /accommodation-type/reorder:
    post:
      tags:
      - accommodation_type
      summary: Reorder accommodation list
      parameters:
      - name: Positions
        in: body
        schema:
          type: array
          items:
            type: object
      responses:
        204:
          description: Positions saved
        default:
          description: Unknown error
          schema:
            type: array
            items:
              type: string
  /booking/find:
    post:
      tags:
      - booking
      summary: Find hotels for input params
      parameters:
      - name: search
        in: body
        schema:
          $ref: '#/definitions/SearchRequest'
      responses:
        201:
          description: Booking search result
          schema:
            items:
              type: object
        default:
          description: Unknown error
          schema:
            type: array
            items:
              type: string
  /booking/pre-request:
    post:
      tags:
      - booking
      summary: Find hotels for input params
      parameters:
      - name: pricing
        in: body
        schema:
          $ref: '#/definitions/BookingRequest'
      responses:
        201:
          description: Booking request result
          schema:
            items:
              type: object
        default:
          description: Unknown error
          schema:
            type: array
            items:
              type: string
  /pricing:
    get:
      tags:
      - pricing
      summary: Get full pricelist
      responses:
        200:
          description: Price list
          schema:
            type: array
            items:
              $ref: '#/definitions/PricingResponse'
        default:
          description: Unknown error
          schema:
            type: array
            items:
              type: string
    post:
      tags:
      - pricing
      summary: Create a new pricing rule
      parameters:
      - name: pricing
        in: body
        schema:
          $ref: '#/definitions/PricingValidation'
      responses:
        201:
          description: Pricing object
          schema:
            $ref: '#/definitions/PricingResponse'
        default:
          description: Unknown error
          schema:
            type: array
            items:
              type: string
  /pricing/{id}:
    get:
      tags:
      - pricing
      summary: Get pricing by ID
      parameters:
      - name: id
        in: path
        required: true
        type: string
      responses:
        200:
          description: Pricing object
          schema:
            $ref: '#/definitions/PricingResponse'
        default:
          description: Unknown error
          schema:
            type: array
            items:
              type: string
    put:
      tags:
      - pricing
      summary: Update room data
      parameters:
      - name: id
        in: path
        required: true
        type: string
      - name: pricing
        in: body
        schema:
          $ref: '#/definitions/PricingValidation'
      responses:
        202:
          description: Pricing object
          schema:
            $ref: '#/definitions/PricingResponse'
        default:
          description: Unknown error
          schema:
            type: array
            items:
              type: string
    delete:
      tags:
      - pricing
      summary: Delete a pricing rule
      parameters:
      - name: id
        in: path
        required: true
        type: string
      responses:
        204:
          description: Pricing deleted
        default:
          description: Unknown error
          schema:
            type: array
            items:
              type: string
  /room:
    get:
      tags:
      - room
      summary: Get list of rooms
      responses:
        200:
          description: Room list
          schema:
            type: array
            items:
              $ref: '#/definitions/RoomResponse'
        default:
          description: Unknown error
          schema:
            type: array
            items:
              type: string
    post:
      tags:
      - room
      summary: Create a new room
      parameters:
      - name: room
        in: body
        schema:
          $ref: '#/definitions/RoomValidation'
      responses:
        201:
          description: Room object
          schema:
            $ref: '#/definitions/RoomResponse'
        default:
          description: Unknown error
          schema:
            type: array
            items:
              type: string
  /room/{id}:
    get:
      tags:
      - room
      summary: Get room by ID
      parameters:
      - name: id
        in: path
        required: true
        type: string
      responses:
        200:
          description: Room object
          schema:
            $ref: '#/definitions/RoomResponse'
        default:
          description: Unknown error
          schema:
            type: array
            items:
              type: string
    put:
      tags:
      - room
      summary: Update room data
      parameters:
      - name: id
        in: path
        required: true
        type: string
      - name: room
        in: body
        schema:
          $ref: '#/definitions/RoomValidation'
      responses:
        202:
          description: Room object
          schema:
            $ref: '#/definitions/RoomResponse'
        default:
          description: Unknown error
          schema:
            type: array
            items:
              type: string
    delete:
      tags:
      - room
      summary: Delete a Room
      parameters:
      - name: id
        in: path
        required: true
        type: string
      responses:
        204:
          description: Room deleted
        default:
          description: Unknown error
          schema:
            type: array
            items:
              type: string
  /createBulk/{accommodation_id}/{accommodation_type_id}/{number_of_rooms}:
    get:
      tags:
      - room
      summary: Create multiple rooms of type
      parameters:
      - name: accommodation_id
        in: path
        required: true
        type: string
      - name: room_type_id
        in: path
        required: true
        type: string
      - name: number_of_rooms
        in: path
        required: true
        type: string
      responses:
        204:
          description: Rooms created
        default:
          description: Unknown error
          schema:
            type: array
            items:
              type: string
  /room-type:
    get:
      tags:
      - room_type
      summary: Get list of room types
      responses:
        200:
          description: room types list
          schema:
            type: array
            items:
              $ref: '#/definitions/RoomTypeResponse'
        default:
          description: Unknown error
          schema:
            type: array
            items:
              type: string
    post:
      tags:
      - room_type
      summary: Create a new room type
      parameters:
      - name: RoomType
        in: body
        schema:
          $ref: '#/definitions/RoomTypeValidation'
      responses:
        201:
          description: RoomType object
          schema:
            $ref: '#/definitions/RoomTypeResponse'
        default:
          description: Unknown error
          schema:
            type: array
            items:
              type: string
  /room-type/{id}:
    get:
      tags:
      - room_type
      summary: Get room type by ID
      parameters:
      - name: id
        in: path
        required: true
        type: string
      responses:
        200:
          description: RoomType object
          schema:
            $ref: '#/definitions/RoomTypeResponse'
        default:
          description: Unknown error
          schema:
            type: array
            items:
              type: string
    put:
      tags:
      - room_type
      summary: Update room type data
      parameters:
      - name: id
        in: path
        required: true
        type: string
      - name: RoomType
        in: body
        schema:
          $ref: '#/definitions/RoomTypeValidation'
      responses:
        202:
          description: RoomType object
          schema:
            $ref: '#/definitions/RoomTypeResponse'
        default:
          description: Unknown error
          schema:
            type: array
            items:
              type: string
    delete:
      tags:
      - room_type
      summary: Delete an room type
      parameters:
      - name: id
        in: path
        required: true
        type: string
      responses:
        204:
          description: room type deleted
        default:
          description: Unknown error
          schema:
            type: array
            items:
              type: string
  /room-type/reorder:
    post:
      tags:
      - room_type
      summary: Reorder room type list
      parameters:
      - name: Positions
        in: body
        schema:
          type: array
          items:
            type: object
      responses:
        204:
          description: Positions saved
        default:
          description: Unknown error
          schema:
            type: array
            items:
              type: string
  /service:
    get:
      tags:
      - service
      summary: Get list of services
      responses:
        200:
          description: Service list
          schema:
            type: array
            items:
              $ref: '#/definitions/ServiceResponse'
        default:
          description: Unknown error
          schema:
            type: array
            items:
              type: string
    post:
      tags:
      - service
      summary: Create a new service
      parameters:
      - name: Service
        in: body
        schema:
          $ref: '#/definitions/ServiceValidation'
      responses:
        201:
          description: Service object
          schema:
            $ref: '#/definitions/ServiceResponse'
        default:
          description: Unknown error
          schema:
            type: array
            items:
              type: string
  /service/{id}:
    get:
      tags:
      - service
      summary: Get service by ID
      parameters:
      - name: id
        in: path
        required: true
        type: string
      responses:
        200:
          description: Service object
          schema:
            $ref: '#/definitions/ServiceResponse'
        default:
          description: Unknown error
          schema:
            type: array
            items:
              type: string
    put:
      tags:
      - service
      summary: Update service data
      parameters:
      - name: id
        in: path
        required: true
        type: string
      - name: Service
        in: body
        schema:
          $ref: '#/definitions/ServiceValidation'
      responses:
        202:
          description: Service object
          schema:
            $ref: '#/definitions/ServiceResponse'
        default:
          description: Unknown error
          schema:
            type: array
            items:
              type: string
    delete:
      tags:
      - service
      summary: Delete a service
      parameters:
      - name: id
        in: path
        required: true
        type: string
      responses:
        204:
          description: Service deleted
        default:
          description: Unknown error
          schema:
            type: array
            items:
              type: string
  /service/reorder:
    post:
      tags:
      - service
      summary: Reorder service list
      parameters:
      - name: Positions
        in: body
        schema:
          type: array
          items:
            type: object
      responses:
        204:
          description: Positions saved
        default:
          description: Unknown error
          schema:
            type: array
            items:
              type: string
  /user/login:
    post:
      tags:
      - user
      summary: Check user credentials and return token
      parameters:
      - name: locale
        in: path
        required: true
        type: string
      - name: Params
        in: body
        schema: []
      responses:
        200:
          description: Login successful
        default:
          description: Unknown error
          schema:
            type: array
            items:
              type: string
  /user:
    get:
      tags:
      - user
      summary: Get authenticated user
      parameters:
      - name: locale
        in: path
        required: true
        type: string
      responses:
        201:
          description: User object
          schema:
            $ref: '#/definitions/UserResponse'
        default:
          description: Unknown error
          schema:
            type: array
            items:
              type: string
schemes:
- http
definitions: !php/object "O:8:\"stdClass\":22:{s:14:\"BookingRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:16:\"accommodation_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"arrival\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"departure\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"adults\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"children\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"customer\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":11:{s:11:\"person_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"company\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"vat_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"firstname\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"lastname\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"address\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"city\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"zip\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"phone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"rooms\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"room_type_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"service_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"guests\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"firstname\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"lastname\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}s:8:\"services\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"service_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"quantity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}}}s:4:\"type\";s:6:\"object\";}}}s:4:\"type\";s:6:\"object\";}s:13:\"SearchRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"arrival\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"departure\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"accommodation_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"adults\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"children\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:21:\"AccommodationResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":13:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"accommodation_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"slug\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"custom_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"date_from\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"date_until\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"position\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"date_created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"user_created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"date_modified\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"user_modified\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:25:\"AccommodationTypeResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"position\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"date_created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"user_created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"date_modified\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"user_modified\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"PricingResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"accommodation\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:9:\"room_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:7:\"service\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:9:\"date_from\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"date_until\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"date_created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"user_created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"date_modified\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"user_modified\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"RoomResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"accommodation\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:9:\"room_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:11:\"room_number\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"date_created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"user_created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"date_modified\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"user_modified\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"RoomTypeResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":11:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"public_title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"persons\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:18:\"additional_persons\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"position\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"room_variant\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"date_created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"user_created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"date_modified\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"user_modified\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"ServiceResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"custom_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"service_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"vat_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"position\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"date_created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"user_created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"date_modified\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"user_modified\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"UserResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":11:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"role\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"username\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"firstname\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"lastname\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"active\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"last_login\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"date_created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"user_created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"date_modified\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"user_modified\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:23:\"AccommodationValidation\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:21:\"accommodation_type_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"slug\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"custom_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"date_from\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"date_until\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"position\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:27:\"AccommodationTypeValidation\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"position\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:17:\"PricingValidation\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:16:\"accommodation_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"room_type_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"service_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"date_from\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"date_until\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"RoomValidation\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"accommodation_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"room_type_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"room_number\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"RoomTypeValidation\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"persons\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:18:\"additional_persons\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"position\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:17:\"ServiceValidation\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"custom_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"service_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"position\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:13:\"Accommodation\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":12:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"tenant_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"accommodation_type_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"slug\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"custom_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"position\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"date_created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"user_created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"date_updated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"user_updated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:13:\"Accommodation\";}}s:17:\"AccommodationType\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":9:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"tenant_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"accommodation_type_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"position\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"date_created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"user_created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"date_updated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"user_updated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:17:\"AccommodationType\";}}s:7:\"Pricing\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":12:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"tenant_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"accommodation_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"room_type_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"service_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"price\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:9:\"date_from\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"date_until\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"date_created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"user_created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"date_updated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"user_updated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:7:\"Pricing\";}}s:4:\"Room\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":9:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"tenant_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"accommodation_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"room_type_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"room_number\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"date_created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"user_created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"date_updated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"user_updated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:4:\"Room\";}}s:8:\"RoomType\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":12:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"tenant_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"public_title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"persons\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:18:\"additional_persons\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"room_variant\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"position\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"date_created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"user_created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"date_updated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"user_updated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:8:\"RoomType\";}}s:7:\"Service\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":11:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"tenant_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"custom_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"service_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"vat_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"position\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"date_created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"user_created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"date_updated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"user_updated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:7:\"Service\";}}s:4:\"User\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":17:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"tenant_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"is_global\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"role\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"username\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"password\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"firstname\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"lastname\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"phone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"active\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:14:\"recovery_token\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"last_login\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"date_created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"user_created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"date_updated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"user_updated\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:4:\"User\";}}}"
...
