---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":12:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:9:\"eBay
  Inc,\";s:9:\"x-twitter\";s:4:\"ebay\";}s:11:\"description\";s:141:\"The Marketing
  API retrieves eBay products based on a metric, such as Best Selling, as well as
  products that were also bought and also viewed.\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:26:\"eBay
  API License Agreement\";s:3:\"url\";s:51:\"https://go.developer.ebay.com/api-license-agreement\";}s:5:\"title\";s:13:\"Buy
  Marketing\";s:7:\"version\";s:11:\"v1_beta.1.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:9:\"ecommerce\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:77:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_ebay_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:98:\"https://developer.ebay.com/api-docs/master/buy/marketing/openapi/2/buy_marketing_v1_beta_oas2.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:8:\"ebay.com\";s:13:\"x-serviceName\";s:13:\"buy-marketing\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"ebay_buy_marketing\";s:4:\"type\";s:7:\"openapi\";}}"
host: api.ebay.com
basePath: /buy/marketing/v1_beta
paths:
  /merchandised_product:
    get:
      description: This call returns an array of products based on the category and
        metric specified. This includes details of the product, such as the eBay product
        Id (EPID), title, and user reviews and ratings for the product. You can use
        the epid returned by this call in the Browse API search call to retrieve items
        for this product. Restrictions For a list of supported sites and other restrictions,
        see API Restrictions.
      operationId: getMerchandisedProducts
      parameters:
      - description: 'The aspect name/value pairs used to further refine product results.
          For example: &nbsp;&nbsp;&nbsp;/buy/marketing/v1_beta/merchandised_product?category_id=31388&amp;metric_name=BEST_SELLING&amp;aspect_filter=Brand:Canon
          You can use the Browse API search call with the fieldgroups=ASPECT_REFINEMENTS
          field to return the aspects of a product. For implementation help, refer
          to eBay API documentation at https://developer.ebay.com/devzone/rest/api-ref/marketing/types/MarketingAspectFilter.html'
        in: query
        name: aspect_filter
        required: false
        type: string
      - description: 'This query parameter limits the products returned to a specific
          eBay category. The list of eBay category Ids is not published and category
          Ids are not all the same across all the eBay maketplace. You can use the
          following techniques to find a category by site. Use the Category Changes
          page. Use the Taxonomy API. For details see Categories for Buy API Calls.
          Use the Browse API and submit the following call to get the dominantCategoryId
          for an item. /buy/browse/v1/item_summary/search?q=keyword&amp;fieldgroups=ASPECT_REFINEMENTS
          Maximum: 1 Required: 1'
        in: query
        name: category_id
        required: true
        type: string
      - description: 'This value specifies the maximum number of products to return
          in a result set. Note: Maximum value means the call will return up to that
          many products per set, but it can be less than this value. If the number
          of products found is less than this value, the call will return all of the
          products matching the criteria. Default: 8 Maximum: 100'
        in: query
        name: limit
        required: false
        type: string
      - description: 'This value filters the result set by the specified metric. Only
          products in this metric are returned. Currently, the only metric supported
          is BEST_SELLING. Default: BEST_SELLING Maximum: 1 Required: 1'
        in: query
        name: metric_name
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/BestSellingProductResponse'
        400:
          description: Bad Request
        500:
          description: Internal Server Error
      security:
      - Client Credentials:
        - https://api.ebay.com/oauth/api_scope/buy.marketing
      tags:
      - merchandised_product
  /merchandised_product/get_also_bought_products:
    get:
      description: 'This call returns products that were also bought when shoppers
        bought the product specified in the request. Showing ''also bought'' products
        inspires up-selling and cross-selling. You specify the product by one of the
        following. epid (eBay Product Id) gtin (Global Trade Item Number) brand (brand
        name such as Nike) plus mpn (Manufacturer''s Part Number) Restrictions For
        a list of supported sites and other restrictions, see API Restrictions. Maximum:
        A maximum of 12 products are returned. The call will return up to 12 products,
        but it can be less than 12. If the number of products found is less than 12,
        the call will return all of the products matching the criteria.'
      operationId: getAlsoBoughtByProduct
      parameters:
      - description: 'The brand of the product. Restriction: This must be used along
          with mpn. Required: You must specify one epid, or one gtin, or one brand
          plus mpn pair.'
        in: query
        name: brand
        required: false
        type: string
      - description: 'The eBay product identifier of a product. Required: You must
          specify one epid, or one gtin, or one brand plus mpn pair.'
        in: query
        name: epid
        required: false
        type: string
      - description: 'The unique Global Trade Item Number of the item as defined by
          http://www.gtin.info. This can be a UPC (Universal Product Code), EAN (European
          Article Number), or an ISBN (International Standard Book Number value. Required:
          You must specify one epid, or one gtin, or one brand plus mpn pair.'
        in: query
        name: gtin
        required: false
        type: string
      - description: 'The manufacturer part number of the product. Restriction: This
          must be used along with brand. Required: You must specify one epid, or one
          gtin, or one brand plus mpn pair.'
        in: query
        name: mpn
        required: false
        type: string
      produces:
      - application/json
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/BestSellingProductResponse'
        204:
          description: No Content
        400:
          description: Bad Request
        409:
          description: Conflict
        500:
          description: Internal Server Error
      security:
      - Client Credentials:
        - https://api.ebay.com/oauth/api_scope/buy.marketing
      tags:
      - merchandised_product
  /merchandised_product/get_also_viewed_products:
    get:
      description: 'This call returns products that were also viewed when shoppers
        viewed the product specified in the request. Showing ''also viewed'' products
        encourages up-selling and cross-selling. You specify the product by one of
        the following. epid (eBay Product Id) gtin (Global Trade Item Number) brand
        (brand name such as Nike) plus mpn (Manufacturer''s Part Number) Restrictions
        For a list of supported sites and other restrictions, see API Restrictions.
        Maximum: A maximum of 12 products are returned. The call will return up to
        12 products, but it can be less than 12. If the number of products found is
        less than 12, the call will return all of the products matching the criteria.'
      operationId: getAlsoViewedByProduct
      parameters:
      - description: 'The brand of the product. Restriction: This must be used along
          with mpn. Required: You must specify one epid, or one gtin, or one brand
          plus mpn pair.'
        in: query
        name: brand
        required: false
        type: string
      - description: 'The eBay product identifier of a product. Required: You must
          specify one epid, or one gtin, or one brand plus mpn pair.'
        in: query
        name: epid
        required: false
        type: string
      - description: 'The unique Global Trade Item Number of the item as defined by
          http://www.gtin.info. This can be a UPC (Universal Product Code), EAN (European
          Article Number), or an ISBN (International Standard Book Number value. Required:
          You must specify one epid, or one gtin, or one brand plus mpn pair.'
        in: query
        name: gtin
        required: false
        type: string
      - description: 'The manufacturer part number of the product. Restriction: This
          must be used along with brand.'
        in: query
        name: mpn
        required: false
        type: string
      produces:
      - application/json
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/BestSellingProductResponse'
        204:
          description: No Content
        400:
          description: Bad Request
        409:
          description: Conflict
        500:
          description: Internal Server Error
      security:
      - Client Credentials:
        - https://api.ebay.com/oauth/api_scope/buy.marketing
      tags:
      - merchandised_product
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":9:{s:6:\"Amount\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"This
  type defines the monetary value of an amount and the currency used.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"currency\";O:8:\"stdClass\":2:{s:11:\"description\";s:247:\"A
  three-letter ISO 4217 code that indicates the currency of the amount in the value
  field. For implementation help, refer to <a href='https://developer.ebay.com/devzone/rest/api-ref/marketing/types/CurrencyCodeEnum.html'>eBay
  API documentation</a>\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"The
  monetary amount, in the currency specified by the currency field.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:26:\"BestSellingProductResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"The
  type that defines the fields for the best selling product information.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:20:\"merchandisedProducts\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"An
  array of containers for the products.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/MerchandisedProduct\";}s:4:\"type\";s:5:\"array\";}s:8:\"warnings\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"The
  container with all the warnings for the input request.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Error\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Error\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"The
  type that defines the fields that can be returned in an error.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:8:\"category\";O:8:\"stdClass\":2:{s:11:\"description\";s:140:\"This
  string value indicates the error category. There are three categories of errors:
  request errors, application errors, and system errors.\";s:4:\"type\";s:6:\"string\";}s:6:\"domain\";O:8:\"stdClass\":2:{s:11:\"description\";s:97:\"The
  name of the primary system where the error occurred. This is relevant for application
  errors.\";s:4:\"type\";s:6:\"string\";}s:7:\"errorId\";O:8:\"stdClass\":2:{s:11:\"description\";s:174:\"A
  unique code that identifies the particular error or warning that occurred. Your
  application can use error codes as identifiers in your customized error-handling
  algorithms.\";s:4:\"type\";s:7:\"integer\";}s:11:\"inputRefIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:126:\"An
  array of reference Ids that identify the specific request elements most closely
  associated to the error or warning, if any.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:11:\"longMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:127:\"A
  detailed description of the condition that caused the error or warning, and information
  on what to do to correct the problem.\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"A
  description of the condition that caused the error or warning.\";s:4:\"type\";s:6:\"string\";}s:12:\"outputRefIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:127:\"An
  array of reference Ids that identify the specific response elements most closely
  associated to the error or warning, if any.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:10:\"parameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:193:\"An
  array of warning and error messages that return one or more variables contextual
  information about the error or warning. This is often the field or value that triggered
  the error or warning.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ErrorParameter\";}s:4:\"type\";s:5:\"array\";}s:9:\"subdomain\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"The
  name of the subdomain in which the error or warning occurred.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"ErrorParameter\";O:8:\"stdClass\":3:{s:11:\"description\";s:81:\"An
  array of name/value pairs that provide more details regarding error condition.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:75:\"This
  is the name of input field that caused an issue with the call request.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:88:\"This
  is the actual value that was passed in for the element specified in the name field.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Image\";O:8:\"stdClass\":3:{s:11:\"description\";s:181:\"Type
  the defines the details of an image, such as size and URL. Currently only <b> imageUrl</b>
  is getting populated. The <b> height</b> and <b> width</b> were added for future
  use.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"height\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Reserved
  for future use.\";s:4:\"type\";s:7:\"integer\";}s:8:\"imageUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  URL of the image.\";s:4:\"type\";s:6:\"string\";}s:5:\"width\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Reserved
  for future use.\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:17:\"MarketPriceDetail\";O:8:\"stdClass\":3:{s:11:\"description\";s:108:\"The
  type that defines the fields for details about the product, such as condition and
  estimated start price.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"conditionGroup\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"The
  name for the condition of the product. For example: NEW\";s:4:\"type\";s:6:\"string\";}s:12:\"conditionIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"An
  array of condition identifiers for the product.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:19:\"estimatedStartPrice\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Amount\";}}s:4:\"type\";s:6:\"object\";}s:19:\"MerchandisedProduct\";O:8:\"stdClass\":3:{s:11:\"description\";s:99:\"The
  type that defines the fields for product information, including price, condition,
  ratings, etc.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:13:\"averageRating\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"The
  average rating for the product based on eBay user ratings.\";s:4:\"type\";s:6:\"string\";}s:4:\"epid\";O:8:\"stdClass\":2:{s:11:\"description\";s:160:\"The
  eBay product identifier of a product from the eBay product catalog. You can use
  this value in the Browse API search call to retrieve items for this product.\";s:4:\"type\";s:6:\"string\";}s:5:\"image\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Image\";}s:18:\"marketPriceDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:96:\"An
  array of containers for the product market price details, such as condition and
  market price.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/MarketPriceDetail\";}s:4:\"type\";s:5:\"array\";}s:13:\"ratingAspects\";O:8:\"stdClass\":3:{s:11:\"description\";s:98:\"An
  array of containers for ratings of the product aspects, such as &quot;Is it a good
  value&quot;.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/RatingAspect\";}s:4:\"type\";s:5:\"array\";}s:11:\"ratingCount\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"The
  total number of eBay users that rated the product.\";s:4:\"type\";s:7:\"integer\";}s:11:\"reviewCount\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"The
  total number of eBay users that wrote a review for the product.\";s:4:\"type\";s:7:\"integer\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  title of the product.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"RatingAspect\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"The
  type that defines the fields for the product aspect ratings.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"count\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"The
  number of eBay users that rated the product on this aspect.\";s:4:\"type\";s:7:\"integer\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:97:\"The
  name of the rating aspect. Camping tent examples: Is it lightweight? or Is it easy
  to set up?\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:94:\"The
  answer or value of the rating aspect. Camping tent examples: Lightweight or Easy
  to set up\";s:4:\"type\";s:6:\"string\";}s:25:\"ratingAspectDistributions\";O:8:\"stdClass\":3:{s:11:\"description\";s:150:\"The
  container for the details of the aspect rating. The details show the aspect rating
  value, usually TRUE or FALSE and the user count and percentage.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/RatingAspectDistribution\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:24:\"RatingAspectDistribution\";O:8:\"stdClass\":3:{s:11:\"description\";s:152:\"The
  type that defines the field for the aspect rating details, such as the aspect rating
  value, usually TRUE or FALSE and the user count and percentage.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"count\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"The
  number of eBay users that choose this rating aspect value.\";s:4:\"type\";s:7:\"integer\";}s:10:\"percentage\";O:8:\"stdClass\":2:{s:11:\"description\";s:135:\"The
  percentage of the aspect rating value. ratingAspectDistributions.percentage = ratingAspectDistributions.count
  / ratingAspects.count\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"The
  rating aspect. For example: TRUE or FALSE\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
