---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:7:\"contact\";O:8:\"stdClass\":1:{s:4:\"name\";s:9:\"eBay
  Inc,\";}s:11:\"description\";s:138:\"The Browse API lets shoppers search for specific
  items by keyword, category, product, or item aspects and retrieve the details of
  an item.\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:26:\"eBay API License
  Agreement\";s:3:\"url\";s:51:\"https://go.developer.ebay.com/api-license-agreement\";}s:5:\"title\";s:30:\"API
  to View & Search for Items\";s:7:\"version\";s:11:\"v1_beta.9.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:9:\"ecommerce\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:76:\"https://pbs.twimg.com/profile_images/854751952239853568/BdT5xkFG_400x400.jpg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:87:\"https://developer.ebay.com/api-docs/master/buy/browse/openapi/2/buy_browse_v1_beta.json\";s:7:\"version\";s:3:\"2.0\";}}s:14:\"x-providerName\";s:8:\"ebay.com\";s:13:\"x-serviceName\";s:10:\"buy-browse\";s:11:\"x-preferred\";b:1;}"
host: api.ebay.com
basePath: /buy/browse/v1
paths:
  /item/get_item_by_legacy_id:
    get:
      description: This call is a bridge between the eBay legacy APIs, such as Trading,
        Shopping, and Finding and the eBay Buy APIs. There are differences between
        how legacy APIs and RESTful APIs return the identifier of an &quot;item&quot;.
        There is also a difference in what the item Id represents and in the format
        of the item Id value returned. This call lets you use the legacy item Ids
        retrieve the details of a specific item, such as description, price, and other
        information the buyer needs to make a purchasing decision. It also returns
        the RESTful item Id, which you can use with all the Buy API calls. For more
        information about how to use legacy Ids with the Buy APIs, see Legacy API
        compatibility in the Buying Integration guide. This call returns the item
        details, so it requires you pass in either the item Id of a non-variation
        item or the item Ids of both the parent and child of a item group (item with
        variations). Request headers You will want to use the X-EBAY-C-ENDUSERCTX
        request header with this call. If you are an eBay Network Partner you must
        use affiliateCampaignId=ePNCampaignId,affiliateReferenceId=referenceId in
        the header in order to be paid for selling eBay items on your site and it
        is strongly recommended you use contextualLocation to improved the estimated
        delivery window information. For details see, Request headers in the Buy APIs
        Overview. Restrictions For a list of supported sites and other restrictions,
        see API Restrictions.
      operationId: getItemByLegacyId
      parameters:
      - description: 'Specifies either: The legacy item Id of an item that is not
          part of a group. The legacy item Id of a group, which would be the group
          parent Id. Note: If you pass in a group Id, you must also use the legacy_variation_id
          field and pass in the legacy Id of the specific item variation (child Id).
          Legacy Ids are returned by eBay traditional APIs, such as the Trading API
          or Finding API. The following is an example of using the value of the ItemID
          field for a specific item from Trading to get the RESTful itemId value.
          &nbsp;&nbsp;&nbsp; browse/v1/item/get_item_by_legacy_id?legacy_item_id=110039490209
          Maximum: 1'
        in: query
        name: legacy_item_id
        required: true
        type: string
      - description: 'Specifies the legacy item Id of a specific item in an item group.
          Legacy Ids are returned by eBay traditional APIs, such as the Trading API
          or Finding API. Maximum: 1 Requirement: You must always pass in the legacy_item_id
          with the legacy_variation_id'
        in: query
        name: legacy_variation_id
        required: false
        type: string
      - description: 'Specifics the legacy SKU of the item. Legacy SKUs are returned
          by eBay traditional APIs, such as the Trading API or Finding API. The following
          is an example of using the value of the ItemID and SKU fields, which were
          returned by the Trading API, to get the RESTful itemId value. &nbsp;&nbsp;&nbsp;
          browse/v1/item/get_item_by_legacy_id?legacy_item_id=110039490209&amp;legacy_variation_sku=V-00031-WHM
          Maximum: 1 Requirement: You must always pass in the legacy_item_id with
          the legacy_variation_sku'
        in: query
        name: legacy_variation_sku
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Item'
        404:
          description: Not Found
        409:
          description: Conflict
        500:
          description: Internal Server Error
      security:
      - Client Credentials:
        - https://api.ebay.com/oauth/api_scope
      tags:
      - item
  /item/get_items_by_item_group:
    get:
      consumes:
      - application/json
      description: This call retrieves the details of the individual items in an item
        group. You pass in the item group Id as a URI parameter. You use this call
        to show the item details of items with multiple aspects, such as color, size,
        storage capacity, etc. This call returns two main containers; items and commonDescriptions.
        The items container has an array of containers with the details of each item
        in the group. The commonDescriptions container has an array of containers
        for a description and the item Ids of all the items that have this exact description.
        Because items within an item group often have the same description, this decreases
        the size of the response. Request headers You will want to use the X-EBAY-C-ENDUSERCTX
        request header with this call. If you are an eBay Network Partner you must
        use affiliateCampaignId=ePNCampaignId,affiliateReferenceId=referenceId in
        the header in order to be paid for selling eBay items on your site and it
        is strongly recommended you use contextualLocation to improved the estimated
        delivery window information. For details see, Request headers in the Buy APIs
        Overview. Restrictions For a list of supported sites and other restrictions,
        see API Restrictions.
      operationId: getItemsByItemGroup
      parameters:
      - description: 'Identifier of the item group to return. This Id is returned
          in the itemGroupHref field of the search and getItem calls. For Example:
          https://api.ebay.com/buy/browse/v1/item/get_items_by_item_group?item_group_id=351825690866'
        in: query
        name: item_group_id
        required: true
        type: string
      produces:
      - application/json
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Items'
        404:
          description: Not Found
        409:
          description: Conflict
        500:
          description: Internal Server Error
      security:
      - Client Credentials:
        - https://api.ebay.com/oauth/api_scope
      tags:
      - item
  /item/{item_id}:
    get:
      description: This call retrieves the details of a specific item, such as description,
        price, category, all item aspects, condition, return policies, seller feedback
        and score, shipping options, shipping costs, estimated delivery, and other
        information the buyer needs to make a purchasing decision. The Buy APIs are
        designed to let you create an off-eBay shopping experience, which means you
        will need to know when something, such as the price, quantity, etc., has changed
        in any eBay item you are offering. You can do this easily by setting the fieldgroups
        field to COMPACT. This field lets you control what is returned in the response.
        Setting it to COMPACT reduces the response to only the fields that you need
        in order to check if any item detail has changed. For more information, see
        fieldgroups. Request headers You will want to use the X-EBAY-C-ENDUSERCTX
        request header with this call. If you are an eBay Network Partner you must
        use affiliateCampaignId=ePNCampaignId,affiliateReferenceId=referenceId in
        the header in order to be paid for selling eBay items on your site and it
        is strongly recommended you use contextualLocation to improved the estimated
        delivery window information. For details see, Request headers in the Buy APIs
        Overview. Restrictions For a list of supported sites and other restrictions,
        see API Restrictions.
      operationId: getItem
      parameters:
      - description: 'This field lets you control what is returned in the response.
          If you do not set this field, the call returns all the details of the item.
          Note: Currently the only value supported is COMPACT. Valid values: COMPACT
          - This returns the following fields, which let you quickly check if the
          availability or price of the item has changed, if the item has been revised
          by the seller, or if an item''s top-rated plus status has changed for items
          you have stored. itemId - The identifier of the item. sellerItemRevision
          - An identifier generated/incremented when a seller revises the item. There
          are two types of item revisions; seller changes, such as changing the title,
          and eBay system changes, such as changing the quantity when an item is purchased.
          This Id is changed only when the seller makes a change to the item. This
          means you cannot use this value to determine if the quantity has changed.
          topRatedBuyingExperience - A boolean value indicating if this item is a
          top-rated plus item. A change in the item''s top rated plus standing is
          not tracked by the revision Id. See topRatedBuyingExperience for more information.
          price - This is tracked by the revision Id but is returned here to enable
          you to quickly verify the price of the item. estimatedAvailabilities - Returns
          the item availability information, which is based on the item''s quantity.
          Changes in quantity are not tracked by the revision Id. For Example To check
          if a stored item''s information is current, do following. Pass in the item
          Id and set fieldgroups to COMPACT. item/v1|46566502948|0?fieldgroups=COMPACT
          Do one of the following: If the sellerItemRevision field is returned and
          you haven''t stored a revision number for this item, record the number and
          pass in the item Id in the getItem call to get the latest information. If
          the revision number is different from the value you have stored, update
          the value and pass in the item Id in the getItem call to get the latest
          information. If the sellerItemRevision field is not returned or has not
          changed, where needed, update the item information with the information
          returned in the response.'
        in: query
        name: fieldgroups
        required: false
        type: string
      - description: 'The eBay identifier of an item. This Id is returned by the Browse
          and Feed API calls. The Id must be in RESTful item Id format. For example:
          v1|262446562346|561248611424 or v1|112330214619|0. For more information
          about item Id for RESTful APIs, see the Legacy API compatibility section
          of the Buy APIs Overview.'
        in: path
        name: item_id
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Item'
        404:
          description: Not Found
        409:
          description: Conflict
        500:
          description: Internal Server Error
      security:
      - Client Credentials:
        - https://api.ebay.com/oauth/api_scope
      tags:
      - item
  /item_summary/search:
    get:
      description: 'This call performs an advanced search for items. You can search
        by keyword, category, eBay product Id (EPID), or gtin. Or a combination of
        these. Note: As with all query parameter values, the fields parameter value
        must be URL encoded. For better readability, the examples in this document
        omit the encoding. For example: &nbsp;&nbsp;search?q=world cup soccer ball&amp;aspect_filter=categoryId:20863,Brand:{Nike|Wilson}
        Encoded example: &nbsp;&nbsp; search?q=world cup soccer ball&amp;aspect_filter=categoryId%3A20863%2CBrand%3A%7BNike%7CWilson%7D/span&gt;
        The following are examples of using filters: The following call returns 4,330,774
        items. &nbsp;&nbsp;&nbsp;/buy/browse/v1/item_summary/search?q=phone This call,
        which limits the results to the category &quot;Cell Phones &amp; Smartphones&quot;,
        returns 142,098 items. &nbsp;&nbsp;&nbsp;/buy/browse/v1/item_summary/search?q=phone&amp;category_ids=9355
        These calls, which limit results to a Samsung Galaxy S5, returns 97 items.
        &nbsp;&nbsp;&nbsp;/buy/browse/v1/item_summary/search?q=phone&amp;category_ids=220&amp;epid=182527490
        &nbsp;&nbsp;&nbsp;or &nbsp;&nbsp;&nbsp;/buy/browse/v1/item_summary/search?epid=182527490
        Controlling what is returned You can also control what is returned by using
        the fieldgroups field. In addition to returning items, which is the default,
        you can return refinements (metadata) about an item that enables you to create
        aspect histograms. A histogram enables users to drill down in each refinement
        narrowing the search results. You can return: ASPECT_REFINEMENTS - Lets shoppers
        refine the result set by variation aspects, such as Brand, Color, etc. BUYING_OPTION_REFINEMENT
        - Lets shoppers refine the result set by either FIXED_PRICE or AUCTION CATEGORY_REFINEMENTS
        - Lets shoppers refine the result set by items in a category CONDITION_REFINEMENT
        - Lets shoppers refine the result set by item condition, such as NEW, USED,
        etc. MATCHING_ITEMS - The default, which returns the items. When used with
        one or more of the refinement values above the specified refinements and all
        the matching items are returned. FULL - This returns all the refinement containers
        and all the matching items. Filtering by aspects You can use the aspect refinements
        returned to filter the result set using the aspect_filter field. For example:
        This call gets a list of the aspects pairs for the item and the dominant category
        (category most of the items are in). /buy/browse/v1/item_summary/search?q=world
        cup soccer ball&amp;fieldgroups=ASPECT_REFINEMENTS This call filters the items
        by one of the aspect pairs returned and the dominant category ( categoryId
        is required when using aspect_filter) /buy/browse/v1/item_summary/search?q=world
        cup soccer ball&amp;aspect_filter=categoryId:20863,Brand:{adidas} This call
        filters the items by multiple aspects /buy/browse/v1/item_summary/search?q=world
        cup soccer ball&amp;aspect_filter=categoryId:20863,Brand:{adidas},Featured
        Refinements:{Adidas Match Ball} This call filters the items by multiple aspect
        values /buy/browse/v1/item_summary/search?q=world cup soccer ball&amp;aspect_filter=categoryId:20863,Brand:{Nike|Wilson}
        Additional filters There are also multiple filters you can use to refine the
        result set, such as listing format, item condition, price range, UPC value,
        listing end date, location, and more. You can use multiple filters in a single
        call. For a list and details of the supported filters, see search Call Field
        Filters. Pagination and sort controls There are pagination controls (limit
        and offset fields) and sort query parameter that control/sort the data that
        is returned. By default, the results are sorted by &quot;Best Match&quot;.
        For more information about Best Match, see the eBay help page Best Match.
        Request headers You will want to use the X-EBAY-C-ENDUSERCTX request header
        with this call. If you are an eBay Network Partner you must use affiliateCampaignId=ePNCampaignId,affiliateReferenceId=referenceId
        in the header in order to be paid for selling eBay items on your site and
        it is strongly recommended you use contextualLocation to improved the estimated
        delivery window information. For details see, Request headers in the Buy APIs
        Overview. Restrictions For a list of supported sites and other restrictions,
        see API Restrictions. Limitation This call can return a maximum of 10,000
        items.'
      operationId: search
      parameters:
      - description: 'The aspect name/value pairs and category, which is required,
          to use to limit the results. For example, in a clothing category one aspect
          pair would be Color/Red. For example, the call below uses the category Id
          for Women''s Clothing. This will return only items for a woman''s red shirt.
          /buy/browse/v1/item_summary/search?q=shirt&amp;aspect_filter=categoryId:15724,Color:{Red}
          To get a list of the aspects pairs and the category, which is returned in
          the dominantCategoryId field, set fieldgroups to ASPECT_REFINEMENTS. /buy/browse/v1/item_summary/search?q=shirt&amp;fieldgroups=ASPECT_REFINEMENTS
          Required: categoryId:categoryId-value For implementation help, refer to
          eBay API documentation at https://developer.ebay.com/devzone/rest/api-ref/browse/types/AspectFilter.html'
        in: query
        name: aspect_filter
        required: false
        type: string
      - description: 'The category Ids to use to limit the results. This field can
          have one category Id or a comma separated list of Ids. For example: &nbsp;&nbsp;&nbsp;GET
          https://api.ebay.com/buy/browse/v1/item_summary/search?category_ids=29792
          Note: Currently, you can pass in only one category Id. You can also use
          any combination of the category_Ids, epid, and q fields. This gives you
          additional control over the result set. For example, let''s say you are
          looking of a toy phone. If you search for &quot;phone&quot;, the result
          set will be mobile phones because this is the &quot;Best Match&quot; for
          this search. But if you also include the toy category Id, the results will
          be what you wanted. For example: &nbsp;&nbsp;&nbsp;GET https://api.ebay.com/buy/browse/v1/item_summary/search?q=phone&amp;category_ids=220
          The list of eBay category Ids is not published and category Ids are not
          the same across all the eBay marketplaces. You can use the following techniques
          to find a category by site. Use the Category Changes page. Use the Taxonomy
          API. For details see Categories for Buy API Calls. Submit the following
          call to get the dominantCategoryId for an item. /buy/browse/v1/item_summary/search?q=keyword&amp;fieldgroups=ASPECT_REFINEMENTS
          Note: If a top-level (L1) category is specified, you must also include the
          q query parameter. Required: The call must have category_ids, epid, gtin,
          or q (or any combination of these)'
        in: query
        name: category_ids
        required: false
        type: string
      - description: 'The EPID is the eBay product identifier of a product from the
          eBay product catalog. Only items in the specified EPID are returned. The
          Marketing API getMerchandisedProducts call and the getItem, getItemByLegacyId,
          and getItemsByItemGroup calls return the EPID of the product. &nbsp;&nbsp;&nbsp;/buy/browse/v1/item_summary/search?epid:{15032}
          Maximum: 1 Required: The call must have category_ids, epid, gtin, or q (or
          any combination of these)'
        in: query
        name: epid
        required: false
        type: string
      - description: 'This field lets you control what is to be returned in the response.
          The default is MATCHING_ITEMS, which returns the items that match the keyword
          or category specified. The other values return data that can be used to
          create histograms. For code examples see, aspect_filter. Valid Values: ASPECT_REFINEMENTS
          - This returns the aspectDistributions container, which has the dominantCategoryId,
          matchCount, and refinementHref for the various aspects of the items found.
          For example, if you searched for ''Mustang'', some of the aspect would be
          Model Year , Exterior Color , Vehicle Mileage , etc. Note: ASPECT_REFINEMENTS
          are category specific. BUYING_OPTION_REFINEMENTS - This returns the buyingOptionDistributions
          container, which has the matchCount and refinementHref for AUCTION and FIXED_PRICE
          (Buy It Now) items. Note: Classified items are not supported. CATEGORY_REFINEMENTS
          - This returns the categoryDistributions container, which has the categories
          that the item is in. CONDITION_REFINEMENTS - This returns the conditionDistributions
          container, such as NEW, USED, etc. Within these groups are multiple states
          of the condition. For example, New can be New without tag, New in box, New
          without box, etc. MATCHING_ITEMS - This is meant to be used with one or
          more of the refinement values above. You use this to return the specified
          refinements and all the matching items. FULL - This returns all the refinement
          containers and all the matching items. Code so that your app gracefully
          handles any future changes to this list. Default: MATCHING_ITEMS'
        in: query
        name: fieldgroups
        required: false
        type: string
      - description: 'This field supports multiple field filters that can be used
          to use to limit/customize the result set. For example: &nbsp;&nbsp;&nbsp;GET
          https://api.ebay.com/buy/browse/v1/item_summary/search?q=shirt&amp;filter=price:[10..50]
          You can also combine filters. &nbsp;&nbsp;&nbsp;GET https://api.ebay.com/buy/browse/v1/item_summary/search?q=shirt&amp;filter=price:[10..50],sellers:{rpseller|bigSal}
          The following are the supported filters. For details and examples for all
          the filters, see search Call Field Filters. buyingOptions conditionIds conditions
          deliveryCountry deliveryOptions deliveryPostalCode excludeCategoryIds excludeSellers
          itemEndDate itemLocationCountry itemStartDate paymentMethods pickupCountry
          pickupPostalCode pickupRadius pickupRadiusUnit price priceCurrency maxDeliveryCost
          (free shipping) returnsAccepted sellerAccountTypes sellers For implementation
          help, refer to eBay API documentation at https://developer.ebay.com/devzone/rest/api-ref/browse/types/FilterField.html'
        in: query
        name: filter
        required: false
        type: string
      - description: 'This field lets you search by GTIN (other Global Trade Item
          Number) or UPC (Universal Product Code) value. &nbsp;&nbsp;&nbsp;/buy/browse/v1/item_summary/search?gtin:{099482432621}
          Maximum: 1 Required: The call must have category_ids, epid, gtin, or q (or
          any combination of these)'
        in: query
        name: gtin
        required: false
        type: string
      - description: 'The number of items in a result set. Default: 50 Maximum per
          result set: 200 Maximum number of items returned: 10,000'
        in: query
        name: limit
        required: false
        type: string
      - description: 'The number of items to skip in the result set. This is used
          with the limit field to control the pagination of the output. If offset
          is 0 and limit is 10, the call will retrieve items 1-10 from the list of
          items returned, if offset is 10 and limit is 10, the call will retrieve
          items 11 thru 20 from the list of items returned. Default: 0'
        in: query
        name: offset
        required: false
        type: string
      - description: 'A string consisting of one or more words that are used for a
          search of items on eBay. For example: &quot;iphone&quot; or &quot;Harry
          Potter&quot;. When keywords are separated by a comma, the comma is ignored.
          So a keyword of &quot;iphone, ipad&quot; is the same as using &quot;iphone
          ipad&quot;. Both queries return items that have iphone or ipad. Restriction:
          The * wildcard character is not allowed in this field. Required: The call
          must have category_ids, epid, gtin, or q (or any combination of these)'
        in: query
        name: q
        required: false
        type: string
      - description: 'Specifies the order and the field name to use to sort the items.
          To sort in descending order use - before the field name. Currently, you
          can only sort by price (in ascending or descending order), or by distance
          (only applicable if the &quot;pickup&quot; filters are used, and only ascending
          order is supported). If no sort parameter is submitted, the result set is
          sorted by &quot;Best Match&quot;. The following are examples of using the
          sort query parameter. Sort Result &amp;sort=price Sorts by price in ascending
          order (lowest price first) &amp;sort=-price Sorts by price in descending
          order (highest price first) &amp;sort=distance Sorts by distance in ascending
          order (shortest distance first) Default: ascending For implementation help,
          refer to eBay API documentation at https://developer.ebay.com/devzone/rest/api-ref/browse/types/SortField.html'
        in: query
        name: sort
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/SearchPagedCollection'
        400:
          description: Bad Request
        500:
          description: Internal Server Error
      security:
      - Client Credentials:
        - https://api.ebay.com/oauth/api_scope
      tags:
      - item_summary
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":40:{s:7:\"Address\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"The
  type that defines the fields for an address.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:12:\"addressLine1\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  first line of the street address.\";s:4:\"type\";s:6:\"string\";}s:12:\"addressLine2\";O:8:\"stdClass\":2:{s:11:\"description\";s:121:\"The
  second line of the street address. This field is not always used, but can be used
  for 'Suite Number' or 'Apt Number'.\";s:4:\"type\";s:6:\"string\";}s:4:\"city\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  city of the address.\";s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":2:{s:11:\"description\";s:220:\"The
  three-letter ISO 3166-1 standard of the country of the address. For implementation
  help, refer to <a href='https://developer.ebay.com/devzone/rest/api-ref/browse/types/CountryCodeEnum.html'>eBay
  API documentation</a>\";s:4:\"type\";s:6:\"string\";}s:6:\"county\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  county of the address.\";s:4:\"type\";s:6:\"string\";}s:10:\"postalCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  postal code of the address.\";s:4:\"type\";s:6:\"string\";}s:15:\"stateOrProvince\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  state or province of the address.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"AspectDistribution\";O:8:\"stdClass\":3:{s:11:\"description\";s:124:\"The
  type that define the fields for the aspect information. Aspects are the variations
  of an item, such as color, size, etc.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:24:\"aspectValueDistributions\";O:8:\"stdClass\":3:{s:11:\"description\";s:138:\"An
  array of containers for the various values of the aspect and the match count and
  a HATEOAS reference ( refinementHref) for this aspect.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/AspectValueDistribution\";}s:4:\"type\";s:5:\"array\";}s:19:\"localizedAspectName\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Name
  of an aspect, such as Brand, Color, etc.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:23:\"AspectValueDistribution\";O:8:\"stdClass\":3:{s:11:\"description\";s:200:\"The
  container that defines the fields for the conditions refinements. This container
  is returned when <b> fieldgroups</b> is set to <code>ASPECT_REFINEMENTS</code> or
  <code>FULL</code> in the request.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:20:\"localizedAspectValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"The
  value of an aspect. For example, Red is a value for the aspect Color.\";s:4:\"type\";s:6:\"string\";}s:10:\"matchCount\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  number of items with this aspect.\";s:4:\"type\";s:7:\"integer\";}s:14:\"refinementHref\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  URI of the aspect.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:24:\"BuyingOptionDistribution\";O:8:\"stdClass\":3:{s:11:\"description\";s:211:\"The
  container that defines the fields for the buying options refinements. This container
  is returned when <b> fieldgroups</b> is set to <code>BUYING_OPTION_REFINEMENTS</code>
  or <code>FULL</code> in the request.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"buyingOption\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"Buying
  option type. This will be either AUCTION or FIXED_PRICE.\";s:4:\"type\";s:6:\"string\";}s:10:\"matchCount\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"The
  number of items having this buying option.\";s:4:\"type\";s:7:\"integer\";}s:14:\"refinementHref\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  URI of the buying option.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Category\";O:8:\"stdClass\":3:{s:11:\"description\";s:237:\"This
  type is used by the <b> categories</b>  container in the response of the <b> search</b>
  \ call, and consists of the primary listing category Id of the item (as well as
  secondary listing category if item was listed in two categories).\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"categoryId\";O:8:\"stdClass\":2:{s:11:\"description\";s:143:\"The
  unique identifier of the primary listing category of the item (as well as secondary
  listing category if item was listed in two categories).\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"CategoryDistribution\";O:8:\"stdClass\":3:{s:11:\"description\";s:200:\"The
  container that defines the fields for the category refinements. This container is
  returned when <b> fieldgroups</b> is set to <code>CATEGORY_REFINEMENTS</code> or
  <code>FULL</code> in the request.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"categoryId\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  identifier of the category.\";s:4:\"type\";s:6:\"string\";}s:12:\"categoryName\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"The
  name of the category, such as Baby &amp; Toddler Clothing.\";s:4:\"type\";s:6:\"string\";}s:10:\"matchCount\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"The
  number of items having the in this category.\";s:4:\"type\";s:7:\"integer\";}s:14:\"refinementHref\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  URI of the category.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"CommonDescriptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:428:\"The
  type that defines the fields for the item Ids that all use a common description
  and that description.  Often the item variations within an item group all have the
  same description. Instead of repeating this description in the item details of each
  item, a description that is shared by at least one other item is returned in this
  container. If the description is unique, it is returned in the <b> items.description</b>
  field.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"The
  item description that is used by more than one of the item variations.\";s:4:\"type\";s:6:\"string\";}s:7:\"itemIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"A
  list of item Ids that have this description.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:21:\"ConditionDistribution\";O:8:\"stdClass\":3:{s:11:\"description\";s:203:\"The
  container that defines the fields for the conditions refinements. This container
  is returned when <b> fieldgroups</b> is set to <code>CONDITION_REFINEMENTS</code>
  or <code>FULL</code> in the request.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"condition\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  name of the condition.\";s:4:\"type\";s:6:\"string\";}s:11:\"conditionId\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"The
  identifier of the condition. For example, 1000 is the identifier for NEW.\";s:4:\"type\";s:6:\"string\";}s:10:\"matchCount\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"The
  number of items having the condition.\";s:4:\"type\";s:7:\"integer\";}s:14:\"refinementHref\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  URI of the condition.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"ConvertedAmount\";O:8:\"stdClass\":3:{s:11:\"description\";s:108:\"The
  type that defines the fields for a monetary value and the conversion of the value
  into another currency.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:21:\"convertedFromCurrency\";O:8:\"stdClass\":2:{s:11:\"description\";s:390:\"A
  three-letter ISO 4217 code that indicates the currency of the amount in the convertedFromValue
  field. This value is required or returned only if currency conversion/localization
  is required, and represents the pre-conversion currency. For implementation help,
  refer to <a href='https://developer.ebay.com/devzone/rest/api-ref/browse/types/CurrencyCodeEnum.html'>eBay
  API documentation</a>\";s:4:\"type\";s:6:\"string\";}s:18:\"convertedFromValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:316:\"The
  monetary amount before any conversion is performed, in the currency specified by
  the convertedFromCurrency field. This value is required or returned only if currency
  conversion/localization is required. The value field contains the converted amount
  of this value, in the currency specified by the currency field.\";s:4:\"type\";s:6:\"string\";}s:8:\"currency\";O:8:\"stdClass\":2:{s:11:\"description\";s:409:\"A
  three-letter ISO 4217 code that indicates the currency of the amount in the value
  field. If currency conversion/localization is required, this is the post-conversion
  currency of the amount in the value field. Default: The currency of the user's country.
  For implementation help, refer to <a href='https://developer.ebay.com/devzone/rest/api-ref/browse/types/CurrencyCodeEnum.html'>eBay
  API documentation</a>\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:177:\"The
  dollar value of the currency specified in the currency field. The value of currency
  defaults to the standard currency used by the country of the eBay site offering
  the item.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Error\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"The
  type that defines the fields that can be returned in an error.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:8:\"category\";O:8:\"stdClass\":2:{s:11:\"description\";s:140:\"This
  string value indicates the error category. There are three categories of errors:
  request errors, application errors, and system errors.\";s:4:\"type\";s:6:\"string\";}s:6:\"domain\";O:8:\"stdClass\":2:{s:11:\"description\";s:97:\"The
  name of the primary system where the error occurred. This is relevant for application
  errors.\";s:4:\"type\";s:6:\"string\";}s:7:\"errorId\";O:8:\"stdClass\":2:{s:11:\"description\";s:174:\"A
  unique code that identifies the particular error or warning that occurred. Your
  application can use error codes as identifiers in your customized error-handling
  algorithms.\";s:4:\"type\";s:7:\"integer\";}s:11:\"inputRefIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:126:\"An
  array of reference Ids that identify the specific request elements most closely
  associated to the error or warning, if any.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:11:\"longMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:127:\"A
  detailed description of the condition that caused the error or warning, and information
  on what to do to correct the problem.\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"A
  description of the condition that caused the error or warning.\";s:4:\"type\";s:6:\"string\";}s:12:\"outputRefIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:127:\"An
  array of reference Ids that identify the specific response elements most closely
  associated to the error or warning, if any.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:10:\"parameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:193:\"An
  array of warning and error messages that return one or more variables contextual
  information about the error or warning. This is often the field or value that triggered
  the error or warning.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ErrorParameter\";}s:4:\"type\";s:5:\"array\";}s:9:\"subdomain\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"The
  name of the subdomain in which the error or warning occurred.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"ErrorParameter\";O:8:\"stdClass\":3:{s:11:\"description\";s:81:\"An
  array of name/value pairs that provide more details regarding error condition.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:75:\"This
  is the name of input field that caused an issue with the call request.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:88:\"This
  is the actual value that was passed in for the element specified in the name field.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"EstimatedAvailability\";O:8:\"stdClass\":3:{s:11:\"description\";s:81:\"The
  type that defines the fields for the estimated item availability information.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:21:\"availabilityThreshold\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"The
  'display item quantity' threshold value the seller has set.\";s:4:\"type\";s:7:\"integer\";}s:25:\"availabilityThresholdType\";O:8:\"stdClass\":2:{s:11:\"description\";s:1061:\"Only
  returns MORE_THAN, which indicates that the seller has more that the 'quantity display
  preference' value in stock for this item. This field depends on how the seller has
  set their item quantity display preference. Let's say the following are the quantity
  display preferences the seller can choose between. Display &quot;More than 10 available&quot;
  in your listing (if applicable) If the seller enables this preference, this field
  is returned as long as there are more than 10 in inventory of this item. If the
  quantity is equal to 10 or drops below 10, this field is not returned and the actual
  quantity of the item is returned in the estimatedAvailableQuantity field. Display
  the exact quantity in your listings If the seller enables this preference, the availabilityThresholdType
  field is not returned and the actual quantity of the item is returned in the estimatedAvailableQuantity
  field. For implementation help, refer to <a href='https://developer.ebay.com/devzone/rest/api-ref/browse/types/AvailabilityThresholdEnum.html'>eBay
  API documentation</a>\";s:4:\"type\";s:6:\"string\";}s:15:\"deliveryOptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"An
  array of available delivery options.\";s:5:\"items\";O:8:\"stdClass\":2:{s:11:\"description\";s:157:\"
  For implementation help, refer to <a href='https://developer.ebay.com/devzone/rest/api-ref/browse/types/DeliveryOptionsEnum.html'>eBay
  API documentation</a>\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:27:\"estimatedAvailabilityStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:210:\"Indicates
  the estimated availability of this item. For implementation help, refer to <a href='https://developer.ebay.com/devzone/rest/api-ref/browse/types/AvailabilityStatusEnum.html'>eBay
  API documentation</a>\";s:4:\"type\";s:6:\"string\";}s:26:\"estimatedAvailableQuantity\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"The
  estimated number of a specific item that are available for purchase.\";s:4:\"type\";s:7:\"integer\";}s:21:\"estimatedSoldQuantity\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"The
  estimated number of a specific item that have been sold.\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Image\";O:8:\"stdClass\":3:{s:11:\"description\";s:178:\"The
  type that defines the details of an image, such as size and URL. Currently only
  <b> imageUrl</b> is populated. The <b> height</b> and <b> width</b> were added for
  future use.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"height\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Reserved
  for future use.\";s:4:\"type\";s:7:\"integer\";}s:8:\"imageUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  URL of the image of the item.\";s:4:\"type\";s:6:\"string\";}s:5:\"width\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Reserved
  for future use.\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Item\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"Type
  that defines the fields for the item details for a specific item.\";s:10:\"properties\";O:8:\"stdClass\":48:{s:16:\"additionalImages\";O:8:\"stdClass\":3:{s:11:\"description\";s:144:\"An
  array of containers with the URLs for the images that are in addition to the primary
  image. The primary image is returned in the image field.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Image\";}s:4:\"type\";s:5:\"array\";}s:8:\"ageGroup\";O:8:\"stdClass\":2:{s:11:\"description\";s:223:\"(Primary
  Item Aspect) The age group for which the product is recommended. For example, newborn,
  infant, toddler, kids, adult, etc. All the item aspects, including this aspect,
  are returned in the localizedAspects container.\";s:4:\"type\";s:6:\"string\";}s:8:\"bidCount\";O:8:\"stdClass\":2:{s:11:\"description\";s:150:\"This
  integer value indicates the total number of bids that have been placed against an
  auction item. This field is returned only for auction listings.\";s:4:\"type\";s:7:\"integer\";}s:5:\"brand\";O:8:\"stdClass\":2:{s:11:\"description\";s:168:\"(Primary
  Item Aspect) The name brand of the item, such as Nike, Apple, etc. All the item
  aspects, including this aspect, are returned in the localizedAspects container.\";s:4:\"type\";s:6:\"string\";}s:13:\"buyingOptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"A
  list of purchase options available for the item, such as FIXED PRICE.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:12:\"categoryPath\";O:8:\"stdClass\":2:{s:11:\"description\";s:150:\"Text
  that shows the category hierarchy of the item. For example: Computers/Tablets &amp;
  Networking, Laptops &amp; Netbooks, PC Laptops &amp; Netbooks\";s:4:\"type\";s:6:\"string\";}s:5:\"color\";O:8:\"stdClass\":2:{s:11:\"description\";s:153:\"(Primary
  Item Aspect) Text describing the color of the item. All the item aspects, including
  this aspect, are returned in the localizedAspects container.\";s:4:\"type\";s:6:\"string\";}s:9:\"condition\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"The
  condition of the item, such as New or Used.\";s:4:\"type\";s:6:\"string\";}s:11:\"conditionId\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"The
  identifier of the condition. For example, 1000 is the identifier for NEW.\";s:4:\"type\";s:6:\"string\";}s:15:\"currentBidPrice\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ConvertedAmount\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:104:\"The
  full description of the item that was created by the seller. This can be plain text
  or rich content.\";s:4:\"type\";s:6:\"string\";}s:21:\"energyEfficiencyClass\";O:8:\"stdClass\":2:{s:11:\"description\";s:479:\"Indicates
  the European energy efficiency rating (EEK) of the item. This field is returned
  only if the seller specified the energy efficiency rating. The rating is a set of
  energy efficiency classes from A to G, where 'A' is the most energy efficient and
  'G' is the least efficient. This rating helps buyers choose between various models.
  When the manufacturer's specifications for this item are available, the link to
  this information is returned in the productFicheWebUrl field.\";s:4:\"type\";s:6:\"string\";}s:4:\"epid\";O:8:\"stdClass\":2:{s:11:\"description\";s:136:\"An
  EPID is the eBay product identifier of a product from the eBay product catalog.
  This indicates the product in which the item belongs.\";s:4:\"type\";s:6:\"string\";}s:23:\"estimatedAvailabilities\";O:8:\"stdClass\":3:{s:11:\"description\";s:306:\"The
  container that returns the item availability information. Because the quantity of
  an item can change several times within a few seconds, it is impossible to return
  the exact quantity. So instead of returning quantity, this returns the availability
  of the item based on the threshold the seller has set.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/EstimatedAvailability\";}s:4:\"type\";s:5:\"array\";}s:6:\"gender\";O:8:\"stdClass\":2:{s:11:\"description\";s:245:\"(Primary
  Item Aspect) The gender for the item. This is used for items that could vary by
  gender, such as clothing. For example: male, female, or unisex. All the item aspects,
  including this aspect, are returned in the localizedAspects container.\";s:4:\"type\";s:6:\"string\";}s:4:\"gtin\";O:8:\"stdClass\":2:{s:11:\"description\";s:101:\"The
  unique Global Trade Item, (UPC, ISBN, EAN) number of the item as defined by http://www.gtin.info.\";s:4:\"type\";s:6:\"string\";}s:5:\"image\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Image\";}s:19:\"itemAffiliateWebUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:234:\"The
  URL of the View Item page of the item, which includes the affiliate tracking Id.
  This field is only returned if the seller enables affiliate tracking for the listing
  by including the X-EBAY-C-ENDUSERCTX request header in the call.\";s:4:\"type\";s:6:\"string\";}s:11:\"itemEndDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:180:\"The
  date and time up to which the item(s) can be purchased. This value is returned in
  UTC format (yyyy-MM-ddThh:mm:ss.sssZ), which you can convert into the local time
  of the buyer.\";s:4:\"type\";s:6:\"string\";}s:6:\"itemId\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"The
  unique identifier of the item. Example: v1|150006693022|450002439078\";s:4:\"type\";s:6:\"string\";}s:12:\"itemLocation\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Address\";}s:10:\"itemWebUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"The
  URL of the View Item page of the item.\";s:4:\"type\";s:6:\"string\";}s:16:\"localizedAspects\";O:8:\"stdClass\":3:{s:11:\"description\";s:109:\"An
  array of containers for the complete list of the name/value pairs that describe
  the variation of the item.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/TypedNameValue\";}s:4:\"type\";s:5:\"array\";}s:14:\"marketingPrice\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/MarketingPrice\";}s:8:\"material\";O:8:\"stdClass\":2:{s:11:\"description\";s:175:\"(Primary
  Item Aspect) Text describing what the item is made of. For example, silk. All the
  item aspects, including this aspect, are returned in the localizedAspects container.\";s:4:\"type\";s:6:\"string\";}s:3:\"mpn\";O:8:\"stdClass\":2:{s:11:\"description\";s:92:\"The
  manufacturer's part number, which is a unique number that identifies a specific
  product.\";s:4:\"type\";s:6:\"string\";}s:7:\"pattern\";O:8:\"stdClass\":2:{s:11:\"description\";s:182:\"(Primary
  Item Aspect) Text describing the pattern used on the item. For example, paisley.
  All the item aspects, including this aspect, are returned in the localizedAspects
  container.\";s:4:\"type\";s:6:\"string\";}s:5:\"price\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ConvertedAmount\";}s:21:\"priceDisplayCondition\";O:8:\"stdClass\":2:{s:11:\"description\";s:340:\"This
  enumeration value indicates how item price is displayed. For some items, the prices
  are so low that they can only be shown to the buyer after they add the item to the
  cart. For implementation help, refer to <a href='https://developer.ebay.com/devzone/rest/api-ref/browse/types/PriceDisplayConditionEnum.html'>eBay
  API documentation</a>\";s:4:\"type\";s:6:\"string\";}s:16:\"primaryItemGroup\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ItemGroupSummary\";}s:26:\"primaryProductReviewRating\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ReviewRating\";}s:18:\"productFicheWebUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:415:\"The
  URL of a page containing the manufacture's specification of this item, which helps
  buyers make a purchasing decision. This information is available only for items
  that include the European energy efficiency rating (EEK) but is not available for
  all items with an EEK rating. This field is returned only if this information is
  available. The EEK rating of the item is returned in the energyEfficiencyClass field.\";s:4:\"type\";s:6:\"string\";}s:21:\"quantityLimitPerBuyer\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"The
  maximum number for a specific item that one buyer can purchase.\";s:4:\"type\";s:7:\"integer\";}s:11:\"returnTerms\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ItemReturnTerms\";}s:6:\"seller\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Seller\";}s:18:\"sellerItemRevision\";O:8:\"stdClass\":2:{s:11:\"description\";s:379:\"An
  identifier generated/incremented when a seller revises the item. There are two types
  of item revisions; seller changes, such as changing the title, and eBay system changes,
  such as changing the quantity when an item is purchased. This Id is changed only
  when the seller makes a change to the item. This means you cannot use this value
  to determine if the quantity has changed.\";s:4:\"type\";s:6:\"string\";}s:15:\"shipToLocations\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ShipToLocations\";}s:15:\"shippingOptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:111:\"An
  array of shipping options containers that have the details about cost, carrier,
  etc. of one shipping option.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ShippingOption\";}s:4:\"type\";s:5:\"array\";}s:16:\"shortDescription\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"A
  snippet of the full description of the item in plain text.\";s:4:\"type\";s:6:\"string\";}s:4:\"size\";O:8:\"stdClass\":2:{s:11:\"description\";s:172:\"(Primary
  Item Aspect) The size of the item. For example, '7' for a size 7 shoe. All the item
  aspects, including this aspect, are returned in the localizedAspects container.\";s:4:\"type\";s:6:\"string\";}s:10:\"sizeSystem\";O:8:\"stdClass\":2:{s:11:\"description\";s:410:\"(Primary
  Item Aspect) The sizing system of the country. All the item aspects, including this
  aspect, are returned in the localizedAspects container. Valid Values: &nbsp;&nbsp;US
  &nbsp;&nbsp;UK &nbsp;&nbsp;EU &nbsp;&nbsp;DE &nbsp;&nbsp;FR &nbsp;&nbsp;JP &nbsp;&nbsp;CN
  (China) &nbsp;&nbsp;IT &nbsp;&nbsp;BR &nbsp;&nbsp;MEX &nbsp;&nbsp;AU Code so that
  your app gracefully handles any future changes to this list.\";s:4:\"type\";s:6:\"string\";}s:8:\"sizeType\";O:8:\"stdClass\":2:{s:11:\"description\";s:238:\"(Primary
  Item Aspect) Text describing a size group in which the item would be included, such
  as regular, petite, plus, big-and-tall or maternity. All the item aspects, including
  this aspect, are returned in the localizedAspects container.\";s:4:\"type\";s:6:\"string\";}s:8:\"subtitle\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"An
  additional shorten title for the item that is created by the seller.\";s:4:\"type\";s:6:\"string\";}s:5:\"taxes\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  container for the tax information for item.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Taxes\";}s:4:\"type\";s:5:\"array\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  seller-created title of the item.\";s:4:\"type\";s:6:\"string\";}s:24:\"topRatedBuyingExperience\";O:8:\"stdClass\":2:{s:11:\"description\";s:431:\"Indicates
  if the item a top-rated plus item. There are three benifits of a top-rated plus
  item; a minimum 30-day money-back return policy, shipping the items in 1 business
  day with tracking provided, and the added comfort of knowing this item is from experienced
  sellers with the highest buyer ratings. See the Top Rated Plus Items and Becoming
  a Top Rated Seller and qualifying for Top Rated Plus help topics for more information.\";s:4:\"type\";s:7:\"boolean\";}s:17:\"uniqueBidderCount\";O:8:\"stdClass\":2:{s:11:\"description\";s:167:\"This
  integer value indicates the number of different eBay users who have placed one or
  more bids on an auction item. This field is only applicable to auction listings.\";s:4:\"type\";s:7:\"integer\";}s:8:\"warnings\";O:8:\"stdClass\":3:{s:11:\"description\";s:112:\"An
  array of warning messages. These type of errors do not prevent the call from executing
  but should be checked.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Error\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:16:\"ItemGroupSummary\";O:8:\"stdClass\":3:{s:11:\"description\";s:371:\"The
  type that defines the fields for the details of each item in an item group. An item
  group is  an item that has various aspect differences, such as color, size, storage
  capacity, etc. <br /><br /><span class=\"tablenote\"><b> Note: </b> This container
  is returned only if the <b> item_id</b> in the request is an item group (parent
  Id of an item with variations).</span>\";s:10:\"properties\";O:8:\"stdClass\":6:{s:25:\"itemGroupAdditionalImages\";O:8:\"stdClass\":3:{s:11:\"description\";s:166:\"An
  array of containers with the URLs for images that are in addition to the primary
  image of the item group The primary image is returned in the itemGroupImage field.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Image\";}s:4:\"type\";s:5:\"array\";}s:13:\"itemGroupHref\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  URI of the item group.\";s:4:\"type\";s:6:\"string\";}s:11:\"itemGroupId\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"The
  unique identifier for the item group.\";s:4:\"type\";s:6:\"string\";}s:14:\"itemGroupImage\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Image\";}s:14:\"itemGroupTitle\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"The
  title of the item that appears on the item group page.\";s:4:\"type\";s:6:\"string\";}s:13:\"itemGroupType\";O:8:\"stdClass\":2:{s:11:\"description\";s:187:\"Indicates
  the type of the group. For implementation help, refer to <a href='https://developer.ebay.com/devzone/rest/api-ref/browse/types/ItemGroupTypeEnum.html'>eBay
  API documentation</a>\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"ItemLocationImpl\";O:8:\"stdClass\":3:{s:11:\"description\";s:107:\"This
  type is used by the <b> itemLocation</b>  container, which provides location information
  for the item.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:12:\"addressLine1\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  first line of the street address.\";s:4:\"type\";s:6:\"string\";}s:12:\"addressLine2\";O:8:\"stdClass\":2:{s:11:\"description\";s:106:\"The
  second line of the street address. This field may contain such values as an apartment
  or suite number.\";s:4:\"type\";s:6:\"string\";}s:4:\"city\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  city in which the item is located.\";s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":2:{s:11:\"description\";s:315:\"The
  country in which the item is located. These values are two-digit codes defined by
  the ISO 3166-1 alpha-2 standard, and also shown in the CountryCodeEnum type. For
  implementation help, refer to <a href='https://developer.ebay.com/devzone/rest/api-ref/browse/types/CountryCodeEnum.html'>eBay
  API documentation</a>\";s:4:\"type\";s:6:\"string\";}s:6:\"county\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  county in which the item is located.\";s:4:\"type\";s:6:\"string\";}s:10:\"postalCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"The
  postal code (or zip code in US) where the item is located.\";s:4:\"type\";s:6:\"string\";}s:15:\"stateOrProvince\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"The
  state or province in which the item is located.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"ItemReturnTerms\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"The
  type that defines the fields for the seller's return policy.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:29:\"extendedHolidayReturnsOffered\";O:8:\"stdClass\":2:{s:11:\"description\";s:298:\"Indicates
  if the seller has enabled the Extended Holiday Returns feature on the item. Extended
  Holiday Returns are only applicable during the US holiday season, and gives buyers
  extra time to return an item. This 'extra time' will typically extend beyond what
  is set through the returnPeriod value.\";s:4:\"type\";s:7:\"boolean\";}s:12:\"refundMethod\";O:8:\"stdClass\":2:{s:11:\"description\";s:236:\"This
  enumeration value indicates how a buyer is refunded when an item is returned. For
  implementation help, refer to <a href='https://developer.ebay.com/devzone/rest/api-ref/browse/types/RefundMethodEnum.html'>eBay
  API documentation</a>\";s:4:\"type\";s:6:\"string\";}s:23:\"restockingFeePercentage\";O:8:\"stdClass\":2:{s:11:\"description\";s:443:\"This
  string field indicates the restocking fee percentage that the seller has set on
  the item. Sellers have the option of setting no restocking fee for an item, or they
  can set the percentage to 10, 15, or 20 percent. So, if the cost of the item was
  $100, and the restocking percentage was 20 percent, the buyer would be charged $20
  to return that item, so instead of receiving a $100 refund, they would received
  $80 due to the restocking fee.\";s:4:\"type\";s:6:\"string\";}s:18:\"returnInstructions\";O:8:\"stdClass\":2:{s:11:\"description\";s:94:\"Text
  written by the seller describing what the buyer should to do in order to return
  the item.\";s:4:\"type\";s:6:\"string\";}s:12:\"returnMethod\";O:8:\"stdClass\":2:{s:11:\"description\";s:269:\"This
  field is returned if the seller offers the buyer an item replacement or exchange
  instead of a monetary refund. For implementation help, refer to <a href='https://developer.ebay.com/devzone/rest/api-ref/browse/types/ReturnMethodEnum.html'>eBay
  API documentation</a>\";s:4:\"type\";s:6:\"string\";}s:12:\"returnPeriod\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/TimeDuration\";}s:23:\"returnShippingCostPayer\";O:8:\"stdClass\":2:{s:11:\"description\";s:292:\"This
  enumeration value indicates whether the buyer or seller is responsible for return
  shipping costs when an item is returned. For implementation help, refer to <a href='https://developer.ebay.com/devzone/rest/api-ref/browse/types/ReturnShippingCostPayerEnum.html'>eBay
  API documentation</a>\";s:4:\"type\";s:6:\"string\";}s:15:\"returnsAccepted\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"Indicates
  whether or not the seller accepts returns for the item.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:11:\"ItemSummary\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"The
  type that defines the item details for a specific item.\";s:10:\"properties\";O:8:\"stdClass\":25:{s:16:\"additionalImages\";O:8:\"stdClass\":3:{s:11:\"description\";s:79:\"This
  container is an array of URLs for Gallery Plus images of the item listing.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Image\";}s:4:\"type\";s:5:\"array\";}s:8:\"bidCount\";O:8:\"stdClass\":2:{s:11:\"description\";s:146:\"This
  integer value indicates the total number of bids that have been placed for an auction
  item. This field is only returned for auction listings.\";s:4:\"type\";s:7:\"integer\";}s:13:\"buyingOptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:303:\"The
  value returned in this field indicates the buying option for the item. FIXED_PRICE
  is returned for basic fixed-price listings, AUCTION is returned for auction listings
  without Buy It Now feature, and both FIXED_PRICE and AUCTION are returned for auction
  listings enabled with the Buy It Now feature.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:10:\"categories\";O:8:\"stdClass\":3:{s:11:\"description\";s:148:\"This
  container consists of the primary listing category Id of the item (as well as secondary
  listing category if item was listed in two categories).\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Category\";}s:4:\"type\";s:5:\"array\";}s:9:\"condition\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"The
  condition of the item, such as New or Used.\";s:4:\"type\";s:6:\"string\";}s:11:\"conditionId\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"The
  identifier of the condition. For example, 1000 is the identifier for NEW.\";s:4:\"type\";s:6:\"string\";}s:15:\"currentBidPrice\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ConvertedAmount\";}s:26:\"distanceFromPickupLocation\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/TargetLocation\";}s:21:\"energyEfficiencyClass\";O:8:\"stdClass\":2:{s:11:\"description\";s:439:\"The
  value returned in this field indicates the energy efficiency rating of the item.
  Energy efficiency ratings apply to products listed by commercial vendors in electronics
  categories only. Currently, this field is only applicable for the Germany site,
  and this field is only returned if the seller specified the energy efficiency rating
  through item specifics at listing time. Rating values include A+++, A++, A+, A,
  B, C, D, E, F, and G.\";s:4:\"type\";s:6:\"string\";}s:4:\"epid\";O:8:\"stdClass\":2:{s:11:\"description\";s:136:\"An
  EPID is the eBay product identifier of a product from the eBay product catalog.
  This indicates the product in which the item belongs.\";s:4:\"type\";s:6:\"string\";}s:5:\"image\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Image\";}s:19:\"itemAffiliateWebUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:234:\"The
  URL to the View Item page of the item, which includes the affiliate tracking Id.
  This field is only returned if the seller enables affiliate tracking for the listing
  by including the X-EBAY-C-ENDUSERCTX request header in the call.\";s:4:\"type\";s:6:\"string\";}s:13:\"itemGroupHref\";O:8:\"stdClass\":2:{s:11:\"description\";s:119:\"The
  URI of the parent page of a group of items with varying aspects. Note: This field
  is returned only for item groups.\";s:4:\"type\";s:6:\"string\";}s:13:\"itemGroupType\";O:8:\"stdClass\":2:{s:11:\"description\";s:194:\"Indicates
  the item group type. Currently only SELLER_DEFINED_VARIATIONS is supported and indicates
  this is an item group created by the seller. Note: This field is returned only for
  item groups.\";s:4:\"type\";s:6:\"string\";}s:8:\"itemHref\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"The
  URI of the item. This field is always populated.\";s:4:\"type\";s:6:\"string\";}s:6:\"itemId\";O:8:\"stdClass\":2:{s:11:\"description\";s:76:\"The
  unique identifier of the item. For example: v1|150006693022|450002439078\";s:4:\"type\";s:6:\"string\";}s:12:\"itemLocation\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ItemLocationImpl\";}s:10:\"itemWebUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"The
  URL to the View Item page of the item.\";s:4:\"type\";s:6:\"string\";}s:14:\"marketingPrice\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/MarketingPrice\";}s:13:\"pickupOptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:203:\"This
  container lists the local pickup options available to the buyer. This container
  is only returned if the user is searching for local pickup items and set the local
  pickup filters in the call request.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/PickupOptionSummary\";}s:4:\"type\";s:5:\"array\";}s:5:\"price\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ConvertedAmount\";}s:6:\"seller\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Seller_0\";}s:15:\"shippingOptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"This
  container returns the shipping options available to ship the item.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/ShippingOptionSummary\";}s:4:\"type\";s:5:\"array\";}s:15:\"thumbnailImages\";O:8:\"stdClass\":3:{s:11:\"description\";s:107:\"This
  container is an array of thumbnail images for the item. For each image, the URL
  to the image is given.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Image\";}s:4:\"type\";s:5:\"array\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"The
  seller-created title of the item. The maximum length is 80 characters.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Items\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"The
  type that defines the fields for the item details.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:18:\"commonDescriptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:417:\"An
  array of containers for a description and the item Ids of all the items that have
  this exact description. Often the item variations within an item group all have
  the same description. Instead of repeating this description in the item details
  of each item, an description that is shared by at one other item is returned in
  this container. If the description is unique, it is returned in the items.description
  field.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/CommonDescriptions\";}s:4:\"type\";s:5:\"array\";}s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:86:\"An
  array of containers for all the item variations details, excluding the description.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Item\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:12:\"LegalAddress\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"Type
  that defines the fields for the seller's address.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:12:\"addressLine1\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  first line of the street address.\";s:4:\"type\";s:6:\"string\";}s:12:\"addressLine2\";O:8:\"stdClass\":2:{s:11:\"description\";s:121:\"The
  second line of the street address. This field is not always used, but can be used
  for 'Suite Number' or 'Apt Number'.\";s:4:\"type\";s:6:\"string\";}s:4:\"city\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  city of the address.\";s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":2:{s:11:\"description\";s:220:\"The
  three-letter ISO 3166-1 standard of the country of the address. For implementation
  help, refer to <a href='https://developer.ebay.com/devzone/rest/api-ref/browse/types/CountryCodeEnum.html'>eBay
  API documentation</a>\";s:4:\"type\";s:6:\"string\";}s:11:\"countryName\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  name of the country of the address.\";s:4:\"type\";s:6:\"string\";}s:6:\"county\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  name of the county of the address.\";s:4:\"type\";s:6:\"string\";}s:10:\"postalCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  postal code of the address.\";s:4:\"type\";s:6:\"string\";}s:15:\"stateOrProvince\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  state or province of the address.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"MarketingPrice\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"The
  type that defines the fields that describe a seller discount.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"discountAmount\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ConvertedAmount\";}s:18:\"discountPercentage\";O:8:\"stdClass\":2:{s:11:\"description\";s:109:\"This
  field expresses the percentage of the seller discount based on the value in the
  originalPrice container.\";s:4:\"type\";s:6:\"string\";}s:13:\"originalPrice\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ConvertedAmount\";}}s:4:\"type\";s:6:\"object\";}s:19:\"PickupOptionSummary\";O:8:\"stdClass\":3:{s:11:\"description\";s:147:\"The
  type that defines the fields for the local pickup options that are available for
  the item. It is used by the <b>  pickupOptions</b>  container.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:18:\"pickupLocationType\";O:8:\"stdClass\":2:{s:11:\"description\";s:120:\"This
  container returns the local pickup options available to the buyer. Possible values
  are ARRANGED_LOCATION and STORE.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"RatingHistogram\";O:8:\"stdClass\":3:{s:11:\"description\";s:131:\"The
  type that defines the fields for product ratings. Only products that are in the
  eBay product catalog can be reviewed and rated.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"count\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"The
  total number of user ratings that the product has received.\";s:4:\"type\";s:7:\"integer\";}s:6:\"rating\";O:8:\"stdClass\":2:{s:11:\"description\";s:429:\"This
  is the average rating for the product. As part of a product review, users rate the
  product. Products are rated from one star (terrible) to five stars (excellent),
  with each star having a corresponding point value - one star gets 1 point, two stars
  get 2 points, and so on. If a product had one four-star rating and one five-star
  rating, its average rating would be 4.5, and this is the value that would appear
  in this field.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"Refinement\";O:8:\"stdClass\":3:{s:11:\"description\";s:184:\"This
  type defines the fields for the various refinements of an item. You can use the
  information in this contain to create histograms, which help shopper choose exactly
  what they want.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:19:\"aspectDistributions\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"A
  array of containers for the all the aspect refinements.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/AspectDistribution\";}s:4:\"type\";s:5:\"array\";}s:25:\"buyingOptionDistributions\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"A
  array of containers for the all the buying option refinements.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/BuyingOptionDistribution\";}s:4:\"type\";s:5:\"array\";}s:21:\"categoryDistributions\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"A
  array of containers for the all the category refinements.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/CategoryDistribution\";}s:4:\"type\";s:5:\"array\";}s:22:\"conditionDistributions\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"A
  array of containers for the all the condition refinements.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/ConditionDistribution\";}s:4:\"type\";s:5:\"array\";}s:18:\"dominantCategoryId\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"The
  identifier of the category that most of the items are part of.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Region\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  type that defines information for a region.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"regionName\";O:8:\"stdClass\":2:{s:11:\"description\";s:400:\"A
  free-form text string that indicates the name of the region. This value can be the
  name of a world region (such as the &quot;Middle East&quot; or &quot;Southeast Asia&quot;),
  a country, or a domestic region within a country (such as &quot;Alaska/Hawaii&quot;
  or &quot;US Protectorates&quot;) depending on the value of regionType. This value
  should be WORLDWIDE if the regionType value is WORLDWIDE.\";s:4:\"type\";s:6:\"string\";}s:10:\"regionType\";O:8:\"stdClass\":2:{s:11:\"description\";s:181:\"Indicates
  the type of region. For implementation help, refer to <a href='https://developer.ebay.com/devzone/rest/api-ref/browse/types/RegionTypeEnum.html'>eBay
  API documentation</a>\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"ReviewRating\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"The
  type that defines the fields for the rating of a product review.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"averageRating\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"The
  average rating given to a product based on customer reviews.\";s:4:\"type\";s:6:\"string\";}s:16:\"ratingHistograms\";O:8:\"stdClass\":3:{s:11:\"description\";s:109:\"An
  array of containers for the product rating histograms that shows the review counts
  and the product rating.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/RatingHistogram\";}s:4:\"type\";s:5:\"array\";}s:11:\"reviewCount\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"The
  total number of reviews for the item.\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:21:\"SearchPagedCollection\";O:8:\"stdClass\":3:{s:11:\"description\";s:177:\"The
  type that defines the settings that paginate the result sets. The response consists
  of 0 or more sequenced <em> result sets</em> where each result sets has 0 or more
  items. \";s:10:\"properties\";O:8:\"stdClass\":9:{s:4:\"href\";O:8:\"stdClass\":2:{s:11:\"description\";s:229:\"The
  URI of the current result set. For example: https://api.ebay.com/buy/v1/item/search?q=shirt&amp;price=[20..80]&amp;limit=5
  This query is for a shirt, that is priced between 20 and 80 dollars and limit the
  response to 5 items.\";s:4:\"type\";s:6:\"string\";}s:13:\"itemSummaries\";O:8:\"stdClass\":3:{s:11:\"description\";s:115:\"An
  array of items in one result set. The items are sorted according to the sorting
  method specified in the request.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ItemSummary\";}s:4:\"type\";s:5:\"array\";}s:5:\"limit\";O:8:\"stdClass\":2:{s:11:\"description\";s:104:\"The
  maximum number of items that can be returned in a result set. The limit value is
  set in the request.\";s:4:\"type\";s:7:\"integer\";}s:4:\"next\";O:8:\"stdClass\":2:{s:11:\"description\";s:232:\"The
  URL for the next result set. This is returned if there is a next result set. The
  following example returns items 11 thru 20 from the list of items. https://api.ebay.com/buy/v1/item/search?query=t-shirts&amp;limit=10&amp;offset=0\";s:4:\"type\";s:6:\"string\";}s:6:\"offset\";O:8:\"stdClass\":2:{s:11:\"description\";s:151:\"This
  value indicates the current 'page' of items being displayed. This value is 0 for
  the first page of data, 1 for the second page of data, and so on.\";s:4:\"type\";s:7:\"integer\";}s:4:\"prev\";O:8:\"stdClass\":2:{s:11:\"description\";s:239:\"The
  URL for the previous result set. This is returned if there is a previous result
  set. The following example returns items 1 thru 10 from the list of items. https://api.ebay.com/buy/v1/item/search?query=t-shirts&amp;limit=10&amp;offset=0\";s:4:\"type\";s:6:\"string\";}s:10:\"refinement\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Refinement\";}s:5:\"total\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"The
  total number of items that match the input criteria.\";s:4:\"type\";s:7:\"integer\";}s:8:\"warnings\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"The
  container with all the warnings for the input request.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Error\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Seller\";O:8:\"stdClass\":3:{s:11:\"description\";s:135:\"The
  type that defines the fields for basic and detailed information about the seller
  of the item returned by the <b> item</b> resource.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:18:\"feedbackPercentage\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"The
  percentage of the total positive feedback.\";s:4:\"type\";s:6:\"string\";}s:13:\"feedbackScore\";O:8:\"stdClass\":2:{s:11:\"description\";s:122:\"The
  feedback score of the seller. This value is based on the ratings from eBay members
  that bought items from this seller.\";s:4:\"type\";s:7:\"integer\";}s:17:\"sellerAccountType\";O:8:\"stdClass\":2:{s:11:\"description\";s:718:\"Indicates
  if the seller is a business or an individual. This is determined when the seller
  registers with eBay. If they register for a business account, this value will be
  BUSINESS. If they register for a private account, this value will be INDIVIDUAL.
  This designation is required by the tax laws in some countries. This field is returned
  only on the following sites. EBAY-AT &nbsp;&nbsp;&nbsp;EBAY-BE &nbsp;&nbsp;&nbsp;EBAY-CH
  &nbsp;&nbsp;&nbsp;EBAY-DE &nbsp;&nbsp;&nbsp;EBAY-ES &nbsp;&nbsp;&nbsp;EBAY-FR &nbsp;&nbsp;&nbsp;EBAY-GB
  &nbsp;&nbsp;&nbsp;EBAY-IE &nbsp;&nbsp;&nbsp; EBAY-IT &nbsp;&nbsp;&nbsp;EBAY-PL Valid
  values: BUSINESS INDIVIDUALCode so that your app gracefully handles any future changes
  to this list.\";s:4:\"type\";s:6:\"string\";}s:15:\"sellerLegalInfo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/SellerLegalInfo\";}s:8:\"username\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"The
  user name created by the seller for use on eBay.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"SellerLegalInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"The
  type that defines the fields for the contact information for a seller.\";s:10:\"properties\";O:8:\"stdClass\":11:{s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"The
  seller's business email address.\";s:4:\"type\";s:6:\"string\";}s:3:\"fax\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  seller' business fax number.\";s:4:\"type\";s:6:\"string\";}s:7:\"imprint\";O:8:\"stdClass\":2:{s:11:\"description\";s:161:\"This
  is a free-form string created by the seller. This is information often found on
  business cards, such as address. This is information used by some countries.\";s:4:\"type\";s:6:\"string\";}s:21:\"legalContactFirstName\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  seller's first name.\";s:4:\"type\";s:6:\"string\";}s:20:\"legalContactLastName\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  seller's last name.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  name of the seller's business.\";s:4:\"type\";s:6:\"string\";}s:5:\"phone\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  seller's business phone number.\";s:4:\"type\";s:6:\"string\";}s:18:\"registrationNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"The
  seller's registration number. This is information used by some countries.\";s:4:\"type\";s:6:\"string\";}s:26:\"sellerProvidedLegalAddress\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/LegalAddress\";}s:14:\"termsOfService\";O:8:\"stdClass\":2:{s:11:\"description\";s:144:\"This
  is a free-form string created by the seller. This is the seller's terms or condition,
  which is in addition to the seller's return policies.\";s:4:\"type\";s:6:\"string\";}s:10:\"vatDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:122:\"An
  array of the seller's VAT (value added tax) Ids and the issuing country. VAT is
  a tax added by some European countries.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/VatDetail\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Seller_0\";O:8:\"stdClass\":3:{s:11:\"description\";s:130:\"The
  type that defines the fields for basic information about the seller of the item
  returned by the <b> item_summary</b> resource.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:18:\"feedbackPercentage\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"The
  percentage of the total positive feedback.\";s:4:\"type\";s:6:\"string\";}s:13:\"feedbackScore\";O:8:\"stdClass\":2:{s:11:\"description\";s:122:\"The
  feedback score of the seller. This value is based on the ratings from eBay members
  that bought items from this seller.\";s:4:\"type\";s:7:\"integer\";}s:17:\"sellerAccountType\";O:8:\"stdClass\":2:{s:11:\"description\";s:770:\"Indicates
  if the seller is a business or an individual. This is determined when the seller
  registers with eBay. If they register for a business account, this value will be
  BUSINESS. If they register for a private account, this value will be INDIVIDUAL.
  This designation is required by the tax laws in some countries. This field is returned
  only on the following sites. This field is returned only on the following sites.
  EBAY-AT &nbsp;&nbsp;&nbsp;EBAY-BE &nbsp;&nbsp;&nbsp;EBAY-CH &nbsp;&nbsp;&nbsp;EBAY-DE
  &nbsp;&nbsp;&nbsp;EBAY-ES &nbsp;&nbsp;&nbsp;EBAY-FR &nbsp;&nbsp;&nbsp;EBAY-GB &nbsp;&nbsp;&nbsp;EBAY-IE
  &nbsp;&nbsp;&nbsp; EBAY-IT &nbsp;&nbsp;&nbsp;EBAY-PL Valid values: BUSINESS INDIVIDUALCode
  so that your app gracefully handles any future changes to this list.\";s:4:\"type\";s:6:\"string\";}s:8:\"username\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"The
  user name created by the seller for use on eBay.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"ShipToLocation\";O:8:\"stdClass\":3:{s:11:\"description\";s:99:\"The
  type that defines the fields for the country and postal code of where an item is
  to be shipped.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"country\";O:8:\"stdClass\":2:{s:11:\"description\";s:241:\"The
  three-letter ISO 3166-1 standard of the country for where the item is to be shipped.
  For implementation help, refer to <a href='https://developer.ebay.com/devzone/rest/api-ref/browse/types/CountryCodeEnum.html'>eBay
  API documentation</a>\";s:4:\"type\";s:6:\"string\";}s:10:\"postalCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"The
  zip code (postal code) for where the item is to be shipped.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"ShipToLocations\";O:8:\"stdClass\":3:{s:11:\"description\";s:173:\"The
  type that defines the fields that include and exclude geographic regions affecting
  where the item can be shipped. The seller defines these regions when listing the
  item.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"regionExcluded\";O:8:\"stdClass\":3:{s:11:\"description\";s:182:\"A
  array of containers for regions that are specifically excluded from a region set.
  You can use this to exclude a specific regionName from a regionType that you specifically
  include.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Region\";}s:4:\"type\";s:5:\"array\";}s:14:\"regionIncluded\";O:8:\"stdClass\":3:{s:11:\"description\";s:180:\"A
  array of containers for regions that are specifically included in a region set.
  You can use this to exclude a specific regionName from a regionType that you specifically
  include.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Region\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:14:\"ShippingOption\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"The
  type that defines the fields for the details of a shipping provider.\";s:10:\"properties\";O:8:\"stdClass\":12:{s:29:\"additionalShippingCostPerUnit\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ConvertedAmount\";}s:25:\"cutOffDateUsedForEstimate\";O:8:\"stdClass\":2:{s:11:\"description\";s:489:\"The
  deadline date that the item must be purchased by in order to be received by the
  buyer within the delivery window ( maxEstimatedDeliveryDate and minEstimatedDeliveryDate
  fields). This field is returned only for items that are eligible for 'Same Day Handling'.
  For these items, the value of this field is what is displayed in the Delivery line
  on the View Item page. This value is returned in UTC format (yyyy-MM-ddThh:mm:ss.sssZ),
  which you can convert into the local time of the buyer.\";s:4:\"type\";s:6:\"string\";}s:24:\"maxEstimatedDeliveryDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:355:\"The
  end date of the delivery window (latest projected delivery date). This value is
  returned in UTC format (yyyy-MM-ddThh:mm:ss.sssZ), which you can convert into the
  local time of the buyer. Note: For the best accuracy, always include the location
  of where the item is be shipped in the contextualLocation values of the X-EBAY-C-ENDUSERCTX
  request header.\";s:4:\"type\";s:6:\"string\";}s:24:\"minEstimatedDeliveryDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:359:\"The
  start date of the delivery window (earliest projected delivery date). This value
  is returned in UTC format (yyyy-MM-ddThh:mm:ss.sssZ), which you can convert into
  the local time of the buyer. Note: For the best accuracy, always include the location
  of where the item is be shipped in the contextualLocation values of the X-EBAY-C-ENDUSERCTX
  request header.\";s:4:\"type\";s:6:\"string\";}s:23:\"quantityUsedForEstimate\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"The
  number of items used when calculating the estimation information.\";s:4:\"type\";s:7:\"integer\";}s:29:\"shipToLocationUsedForEstimate\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ShipToLocation\";}s:19:\"shippingCarrierCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"A
  name of the shipping provider, such as FedEx, or USPS.\";s:4:\"type\";s:6:\"string\";}s:12:\"shippingCost\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ConvertedAmount\";}s:16:\"shippingCostType\";O:8:\"stdClass\":2:{s:11:\"description\";s:149:\"Indicates
  the class of the shipping cost. Valid Values: Flat or Calculated. Code so that your
  app gracefully handles any future changes to this list.\";s:4:\"type\";s:6:\"string\";}s:19:\"shippingServiceCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"The
  type of shipping service. For example, USPS First Class.\";s:4:\"type\";s:6:\"string\";}s:15:\"trademarkSymbol\";O:8:\"stdClass\":2:{s:11:\"description\";s:120:\"Any
  trademark symbol, such as &trade; or &reg;, that needs to be shown in superscript
  next to the shipping service name.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:90:\"The
  type of a shipping option, such as EXPEDITED, ONE_DAY, STANDARD, ECONOMY, PICKUP,
  etc.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"ShippingOptionSummary\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"The
  type that defines the fields for the shipping information.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:24:\"maxEstimatedDeliveryDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:307:\"The
  end date of the delivery window (latest projected delivery date). This value is
  returned in UTC format (yyyy-MM-ddThh:mm:ss.sssZ), which you can convert into the
  local time of the buyer. Note: For the best accuracy, always include the contextualLocation
  values in the X-EBAY-C-ENDUSERCTX request header.\";s:4:\"type\";s:6:\"string\";}s:24:\"minEstimatedDeliveryDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:311:\"The
  start date of the delivery window (earliest projected delivery date). This value
  is returned in UTC format (yyyy-MM-ddThh:mm:ss.sssZ), which you can convert into
  the local time of the buyer. Note: For the best accuracy, always include the contextualLocation
  values in the X-EBAY-C-ENDUSERCTX request header.\";s:4:\"type\";s:6:\"string\";}s:12:\"shippingCost\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ConvertedAmount\";}s:16:\"shippingCostType\";O:8:\"stdClass\":2:{s:11:\"description\";s:149:\"This
  field indicates the type of shipping used to ship the item. Possible values are
  FIXED (flat-rate shipping) and CALCULATED (calculated shipping).\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"TargetLocation\";O:8:\"stdClass\":3:{s:11:\"description\";s:102:\"The
  type that defines the fields for the distance between the item location and the
  buyer's location. \";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"unitOfMeasure\";O:8:\"stdClass\":2:{s:11:\"description\";s:162:\"This
  value shows the unit of measurement used to measure the distance between the location
  of the item and the buyer's location. This value is typically mi or km.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:147:\"This
  value indicates the distance (measured in the measurement unit in the unitOfMeasure
  field) between the item location and the buyer's location.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"TaxJurisdiction\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"The
  type that defines the fields for the tax jurisdiction details.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"region\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Region\";}s:17:\"taxJurisdictionId\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  identifier of the tax jurisdiction.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Taxes\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"The
  type that defines the tax fields.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:15:\"includedInPrice\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Indicates
  if tax was applied for the cost of the item.\";s:4:\"type\";s:7:\"boolean\";}s:24:\"shippingAndHandlingTaxed\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Indicates
  if tax is applied for the shipping cost.\";s:4:\"type\";s:7:\"boolean\";}s:15:\"taxJurisdiction\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/TaxJurisdiction\";}s:13:\"taxPercentage\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  percentage of tax.\";s:4:\"type\";s:6:\"string\";}s:7:\"taxType\";O:8:\"stdClass\":2:{s:11:\"description\";s:181:\"Container
  that returns the tax type. For implementation help, refer to <a href='https://developer.ebay.com/devzone/rest/api-ref/browse/types/TaxType.html'>eBay
  API documentation</a>\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"TimeDuration\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"The
  type that defines the fields for an amount of time.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"unit\";O:8:\"stdClass\":2:{s:11:\"description\";s:198:\"Indicates
  the period of time being used. For implementation help, refer to <a href='https://developer.ebay.com/devzone/rest/api-ref/browse/types/TimeDurationUnitEnum.html'>eBay
  API documentation</a>\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:136:\"Indicates
  the number of years, months, days, etc. in the defined period. If value is 30, and
  unit is DAY, the defined period is 30 days.\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:14:\"TypedNameValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"The
  type that defines the fields for the name/value pairs for item aspects.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:84:\"The
  text representing the name of the aspect for the name/value pair, such as Color.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:223:\"Indicates
  if the value being returned is a string or an array of values. For implementation
  help, refer to <a href='https://developer.ebay.com/devzone/rest/api-ref/browse/types/ValueTypeEnum.html'>eBay
  API documentation</a>\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"The
  value of the aspect for the name/value pair, such as Red.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"VatDetail\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"The
  type the defines the fields for the VAT (value add tax) information.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"issuingCountry\";O:8:\"stdClass\":2:{s:11:\"description\";s:298:\"The
  three-letter ISO 3166-1 standard of the country issuing the seller's VAT (value
  added tax) Id. VAT is a tax added by some European countries. For implementation
  help, refer to <a href='https://developer.ebay.com/devzone/rest/api-ref/browse/types/CountryCodeEnum.html'>eBay
  API documentation</a>\";s:4:\"type\";s:6:\"string\";}s:5:\"vatId\";O:8:\"stdClass\":2:{s:11:\"description\";s:85:\"The
  seller's VAT (value added tax) Id. VAT is a tax added by some European countries.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
