---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":5:{s:11:\"description\";s:204:\"Use the Fulfillment
  API to complete the process of packaging, addressing, handling, and shipping each
  order on behalf of the seller, in accordance with the payment method and timing
  specified at checkout.\";s:7:\"version\";s:6:\"v1.6.0\";s:5:\"title\";s:15:\"Fulfillment
  API\";s:7:\"contact\";O:8:\"stdClass\":1:{s:4:\"name\";s:9:\"eBay Inc.\";}s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:26:\"eBay
  API License Agreement\";s:3:\"url\";s:51:\"https://go.developer.ebay.com/api-license-agreement\";}}"
host: api.ebay.com
basePath: /sell/fulfillment/v1
paths: ~
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":32:{s:11:\"PhoneNumber\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"phoneNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:56:\"The
  primary telephone number for the shipping recipient.\";}}s:11:\"description\";s:66:\"This
  type contains a string field representing a telephone number.\";}s:5:\"Error\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:8:\"category\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"The
  context or source of this error or warning.\";}s:6:\"domain\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:92:\"The
  name of the domain containing the service or application. For example, sell is a
  domain.\";}s:7:\"errorId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:197:\"A
  positive integer that uniquely identifies the specific error condition that occurred.
  Your application can use these values as error code identifiers in your customized
  error-handling algorithms.\";}s:11:\"inputRefIds\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:194:\"A
  list of one or more specific request elements (if any) associated with the error
  or warning. The format of these strings depends on the request payload format. For
  JSON, use JSONPath notation.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"longMessage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:72:\"An
  expanded version of the message field. Maximum length: 200 characters\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:301:\"A
  message about the error or warning which is device agnostic and readable by end
  users and application developers. It explains what the error or warning is, and
  how to fix it (in a general sense). If applicable, the value is localized to the
  end user's requested locale. Maximum length: 50 characters\";}s:12:\"outputRefIds\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:195:\"A
  list of one or more specific response elements (if any) associated with the error
  or warning. The format of these strings depends on the request payload format. For
  JSON, use JSONPath notation.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:10:\"parameters\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:201:\"Contains
  a list of name/value pairs that provide additional information concerning this error
  or warning. Each item in the list is an input parameter that contributed to the
  error or warning condition.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ErrorParameter\";}}s:9:\"subdomain\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:110:\"The
  name of the domain's subsystem or subdivision. For example, fulfillment is a subdomain
  in the sell domain.\";}}s:11:\"description\";s:65:\"This type contains a error or
  warning related to a call request. \";}s:14:\"ErrorParameter\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:75:\"This
  is the name of input field that caused an issue with the call request.\";}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:88:\"This
  is the actual value that was passed in for the element specified in the name field.\";}}s:11:\"description\";s:118:\"This
  type contains the name and value of an input parameter that contributed to a specific
  error or warning condition.\";}s:7:\"Address\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:12:\"addressLine1\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"The
  first line of the street address.\";}s:12:\"addressLine2\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:199:\"The
  second line of the street address. This field can be used for additional address
  information, such as a suite or apartment number. This field will be returned if
  defined for the shipping address.\";}s:4:\"city\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"The
  city of the shipping destination.\";}s:11:\"countryCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:332:\"The
  country of the shipping destination, represented as a two-letter ISO 3166-1 alpha-2
  country code. For example, US represents the United States, and DE represents Germany.
  For implementation help, refer to <a href='https://developer.ebay.com/devzone/rest/api-ref/fulfillment/types/CountryCodeEnum.html'>eBay
  API documentation</a>\";}s:6:\"county\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:152:\"The
  county of the shipping destination. Counties typically, but not always, contain
  multiple cities or towns. This field is returned if known/available.\";}s:10:\"postalCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:183:\"The
  postal code of the shipping destination. Usually referred to as Zip codes in the
  US. Most countries have postal codes, but not all. The postal code will be returned
  if applicable.\";}s:15:\"stateOrProvince\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:158:\"The
  state or province of the shipping destination. Most countries have states or provinces,
  but not all. The state or province will be returned if applicable.\";}}s:11:\"description\";s:57:\"This
  type contains the details of a geographical address.\";}s:6:\"Amount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:21:\"convertedFromCurrency\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:395:\"A
  three-letter ISO 4217 code that indicates the currency of the amount in the convertedFromValue
  field. This value is required or returned only if currency conversion/localization
  is required, and represents the pre-conversion currency. For implementation help,
  refer to <a href='https://developer.ebay.com/devzone/rest/api-ref/fulfillment/types/CurrencyCodeEnum.html'>eBay
  API documentation</a>\";}s:18:\"convertedFromValue\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:316:\"The
  monetary amount before any conversion is performed, in the currency specified by
  the convertedFromCurrency field. This value is required or returned only if currency
  conversion/localization is required. The value field contains the converted amount
  of this value, in the currency specified by the currency field.\";}s:8:\"currency\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:428:\"A
  three-letter ISO 4217 code that indicates the currency of the amount in the value
  field. If currency conversion/localization is required, this is the post-conversion
  currency of the amount in the value field. Default: The currency of the authenticated
  user's country. For implementation help, refer to <a href='https://developer.ebay.com/devzone/rest/api-ref/fulfillment/types/CurrencyCodeEnum.html'>eBay
  API documentation</a>\";}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:233:\"The
  monetary amount, in the currency specified by the currency field. If currency conversion/localization
  is required, this value is the converted amount, and the convertedFromValue field
  contains the amount in the original currency.\";}}s:11:\"description\";s:221:\"This
  type defines the monetary value of an amount. It can provide the amount in both
  the currency used on the eBay site where an item is being offered and the conversion
  of that value into another currency, if applicable.\";}s:16:\"AppliedPromotion\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"A
  description of the applied sales promotion.\";}s:14:\"discountAmount\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Amount\";}s:11:\"promotionId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:416:\"An
  eBay-generated unique identifier of the sales promotion. Multiple types of sales
  promotions are available to eBay Store owners, including order size/volume discounts,
  shipping discounts, special coupons, and price markdowns. Sales promotions can be
  managed through the Marketing tab of Seller Hub in My eBay, or by using the Trading
  API's SetPromotionalSale call or the Marketing API's createItemPromotion method.\";}}s:11:\"description\";s:86:\"This
  type contains information about a sales promotion that is applied to a line item.\";}s:5:\"Buyer\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"username\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"The
  buyer's eBay user ID.\";}}s:11:\"description\";s:59:\"This type contains information
  about the buyer of an order.\";}s:13:\"CancelRequest\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:19:\"cancelCompletedDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:340:\"The
  date and time that the order cancellation was completed, if applicable. This timestamp
  is in ISO 8601 format, which uses the 24-hour Universal Coordinated Time (UTC) clock.
  This field is not returned until the cancellation request has actually be granted
  by the seller. Format: YYYY-MM-DDTHH:MM:SS.SSSZ Example: 2015-08-04T19:09:02.768Z\";}s:15:\"cancelInitiator\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:195:\"This
  string value indicates the party who made the initial cancellation request. Typically,
  either the 'Buyer' or 'Seller'. If a cancellation request has been made, this field
  should be returned.\";}s:12:\"cancelReason\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:311:\"The
  reason why the cancelInitiator initiated the cancellation request. Cancellation
  reasons for a buyer might include 'order placed by mistake' or 'order won't arrive
  in time'. For a seller, a typical cancellation reason is 'out of stock'. If a cancellation
  request has been made, this field should be returned.\";}s:19:\"cancelRequestedDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:282:\"The
  date and time that the order cancellation was requested. This timestamp is in ISO
  8601 format, which uses the 24-hour Universal Coordinated Time (UTC) clock. This
  field is returned for each cancellation request. Format: YYYY-MM-DDTHH:MM:SS.SSSZ
  Example: 2015-08-04T19:09:02.768Z\";}s:15:\"cancelRequestId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:110:\"The
  unique identifier of the order cancellation request. This field is returned for
  each cancellation request.\";}s:18:\"cancelRequestState\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:278:\"The
  current stage or condition of the cancellation request. This field is returned for
  each cancellation request. For implementation help, refer to <a href='https://developer.ebay.com/devzone/rest/api-ref/fulfillment/types/CancelRequestStateEnum.html'>eBay
  API documentation</a>\";}}s:11:\"description\";s:72:\"This type contains information
  about a buyer request to cancel an order.\";}s:12:\"CancelStatus\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"cancelledDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:225:\"The
  date and time the order was cancelled, if applicable. This timestamp is in ISO 8601
  format, which uses the 24-hour Universal Coordinated Time (UTC) clock. Format: YYYY-MM-DDTHH:MM:SS.SSSZ
  Example: 2015-08-04T19:09:02.768Z\";}s:14:\"cancelRequests\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:258:\"This
  array contains details of one or more buyer requests to cancel the order. For the
  getOrders call: This array is returned but is always empty. For the getOrder call:
  This array is returned fully populated with information about any cancellation requests.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/CancelRequest\";}}s:11:\"cancelState\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:322:\"The
  state of the order with regard to cancellation. This field is always returned, and
  if there are no cancellation requests, a value of NONE_REQUESTED is returned. For
  implementation help, refer to <a href='https://developer.ebay.com/devzone/rest/api-ref/fulfillment/types/CancelStateEnum.html'>eBay
  API documentation</a>\";}}s:11:\"description\";s:89:\"This type contains information
  about any requests that have been made to cancel an order.\";}s:12:\"DeliveryCost\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"importCharges\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Amount\";}s:12:\"shippingCost\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Amount\";}s:25:\"shippingIntermediationFee\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Amount\";}}s:11:\"description\";s:91:\"This
  type contains a breakdown of all costs associated with the fulfillment of a line
  item.\";}s:22:\"EbayCollectAndRemitTax\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"amount\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Amount\";}s:7:\"taxType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:305:\"The
  type of tax that eBay will collect and remit to the taxing authority. See the TaxTypeEnum
  type definition for more information about each tax type. For implementation help,
  refer to <a href='https://developer.ebay.com/devzone/rest/api-ref/fulfillment/types/TaxTypeEnum.html'>eBay
  API documentation</a>\";}}s:11:\"description\";s:218:\"This type contains information
  about the type and amount of tax that eBay will collect and remit to the state,
  province, country, or other taxing authority in the buyer's location, as required
  by that taxing authority.\";}s:15:\"ExtendedContact\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"companyName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:157:\"The
  company name associated with the buyer or eBay shipping partner. This field is only
  returned if defined/applicable to the buyer or eBay shipping partner.\";}s:14:\"contactAddress\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Address\";}s:5:\"email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:379:\"This
  field shows the email address of the buyer. The email address of a buyer will be
  masked 14 days after order creation. This field will still be returned for the order,
  but it will not contain the buyer's email address, but instead, something like 'Invalid
  Request'. Note: This field always contains the email address of the buyer even with
  a Global Shipping Program shipment.\";}s:8:\"fullName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:52:\"The
  full name of the buyer or eBay shipping partner.\";}s:12:\"primaryPhone\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/PhoneNumber\";}}s:11:\"description\";s:92:\"This
  type contains shipping and contact information for a buyer or an eBay shipping partner.\";}s:27:\"FulfillmentStartInstruction\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:24:\"ebaySupportedFulfillment\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:201:\"This
  field is only returned if its value is true and indicates that the fulfillment will
  be shipped via eBay's Global Shipping Program. For more information, see the Global
  Shipping Program help topic.\";}s:23:\"finalDestinationAddress\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Address\";}s:27:\"fulfillmentInstructionsType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:546:\"The
  enumeration value returned in this field indicates the method of fulfillment that
  will be used to deliver this set of line items (this package) to the buyer. This
  field will have a value of SHIP_TO if the ebaySupportedFulfillment field is returned
  with a value of true. See the FulfillmentInstructionsType definition for more information
  about different fulfillment types. For implementation help, refer to <a href='https://developer.ebay.com/devzone/rest/api-ref/fulfillment/types/FulfillmentInstructionsType.html'>eBay
  API documentation</a>\";}s:24:\"maxEstimatedDeliveryDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:355:\"This
  is the estimated latest date that the fulfillment will be completed. This timestamp
  is in ISO 8601 format, which uses the 24-hour Universal Coordinated Time (UTC) clock.
  This field is not returned ifthe value of the fulfillmentInstructionsType field
  is DIGITAL or PREPARE_FOR_PICKUP. Format: YYYY-MM-DDTHH:MM:SS.SSSZ Example: 2015-08-04T19:09:02.768Z\";}s:24:\"minEstimatedDeliveryDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:358:\"This
  is the estimated earliest date that the fulfillment will be completed. This timestamp
  is in ISO 8601 format, which uses the 24-hour Universal Coordinated Time (UTC) clock.
  This field is not returned if the value of the fulfillmentInstructionsType field
  is DIGITAL or PREPARE_FOR_PICKUP. Format: YYYY-MM-DDTHH:MM:SS.SSSZ Example: 2015-08-04T19:09:02.768Z\";}s:12:\"shippingStep\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ShippingStep\";}}s:11:\"description\";s:443:\"This
  type contains a set of specifications for processing a fulfillment of an order,
  including the type of fulfillment, shipping carrier and service, addressing details,
  and estimated delivery window. These instructions are derived from the buyer's and
  seller's eBay account preferences, the listing parameters, and the buyer's checkout
  selections. The seller can use them as a starting point for packaging, addressing,
  and shipping the order.\";}s:11:\"GiftDetails\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:160:\"This
  field contains the gift message from the buyer to the gift recipient. This field
  is only returned if the buyer of the gift included a message for the gift.\";}s:14:\"recipientEmail\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:106:\"The
  email address of the gift recipient. The seller will send the digital gift card
  to this email address.\";}s:10:\"senderName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:89:\"The
  name of the buyer, which will appear on the email that is sent to the gift recipient.\";}}s:11:\"description\";s:132:\"This
  type contains information about a digital gift card line item that was purchased
  as a gift, and sent to the recipient by email.\";}s:8:\"LineItem\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":21:{s:17:\"appliedPromotions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:241:\"This
  array contains information about one or more sales promotions or discounts applied
  to the line item. It is always returned, but will be returned as an empty array
  if no special sales promotions or discounts apply to the order line item.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/AppliedPromotion\";}}s:12:\"deliveryCost\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/DeliveryCost\";}s:22:\"discountedLineItemCost\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Amount\";}s:24:\"ebayCollectAndRemitTaxes\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:460:\"This
  container will be returned if the order line item is subject to a tax that eBay
  will collect and remit to the proper taxing authority on the buyer's behalf. The
  amount of this tax is shown in the amount field, and the type of tax is shown in
  the taxType field. eBay will display the tax type and amount during checkout in
  accordance with the buyer's address, and handle collection and remittance of the
  tax without requiring the seller to take any action.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/EbayCollectAndRemitTax\";}}s:11:\"giftDetails\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/GiftDetails\";}s:12:\"legacyItemId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:154:\"The
  eBay-generated legacy listing item ID of the listing. Note that the unique identifier
  of a listing in REST-based APIs is called the listingId instead.\";}s:17:\"legacyVariationId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:174:\"The
  unique identifier of a single variation within a multiple-variation listing. This
  field is only returned if the line item purchased was from a multiple-variation
  listing.\";}s:12:\"lineItemCost\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Amount\";}s:31:\"lineItemFulfillmentInstructions\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/LineItemFulfillmentInstructions\";}s:25:\"lineItemFulfillmentStatus\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:253:\"This
  enumeration value indicates the current fulfillment status of the line item. For
  implementation help, refer to <a href='https://developer.ebay.com/devzone/rest/api-ref/fulfillment/types/LineItemFulfillmentStatusEnum.html'>eBay
  API documentation</a>\";}s:10:\"lineItemId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:352:\"This
  is the unique identifier of an eBay order line item. This field is created as soon
  as there is a commitment to buy from the seller, and its value is based upon the
  concatenation of item ID/listing ID and the transaction ID, with a hyphen in between
  these two identifiers. Note: A single line item can consist of multiple units of
  a purchased item.\";}s:20:\"listingMarketplaceId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:237:\"The
  unique identifier of the eBay marketplace where the line item was listed. For implementation
  help, refer to <a href='https://developer.ebay.com/devzone/rest/api-ref/fulfillment/types/MarketplaceIdEnum.html'>eBay
  API documentation</a>\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/LineItemProperties\";}s:21:\"purchaseMarketplaceId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:405:\"The
  unique identifier of the eBay marketplace where the line item was listed. Often,
  the listingMarketplaceId and the purchaseMarketplaceId identifier are the same,
  but there are occasions when an item will surface on multiple eBay marketplaces.
  For implementation help, refer to <a href='https://developer.ebay.com/devzone/rest/api-ref/fulfillment/types/MarketplaceIdEnum.html'>eBay
  API documentation</a>\";}s:8:\"quantity\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:107:\"The
  number of units of the line item in the order. These are represented as a group
  by a single lineItemId.\";}s:7:\"refunds\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:199:\"This
  array is only returned if the seller has submitted a partial or full refund to the
  buyer for the order. If a refund has occurred, the refund amount and refund date
  will be shown for each refund.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/LineItemRefund\";}}s:3:\"sku\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:256:\"Seller-defined
  Stock-Keeping Unit (SKU). This inventory identifier must be unique within the seller's
  eBay inventory. SKUs are optional when listing in the legacy/Trading API system,
  but SKUs are required when listing items through the Inventory API model.\";}s:10:\"soldFormat\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:255:\"The
  eBay listing type of the line item. The most common listing types are AUCTION and
  FIXED_PRICE. For implementation help, refer to <a href='https://developer.ebay.com/devzone/rest/api-ref/fulfillment/types/SoldFormatEnum.html'>eBay
  API documentation</a>\";}s:5:\"taxes\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:164:\"Contains
  a list of taxes applied to the line item, if any. This array is always returned,
  but will be returned as empty if no taxes are applicable to the line item.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Tax\";}}s:5:\"title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"The
  title of the listing.\";}s:5:\"total\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Amount\";}}s:11:\"description\";s:178:\"This
  type contains the details of a line item in an order. A line item consists of one
  or more units of a specific variation and version of a listed item that has been
  purchased.\";}s:31:\"LineItemFulfillmentInstructions\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:18:\"guaranteedDelivery\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:2131:\"This
  field is returned as true if the order line item is qualified for eBay Guaranteed
  Delivery, or false if it is not eligible. Only domestic shipments are available
  for eBay Guaranteed Delivery. At this time, eBay Guaranteed Delivery is only available
  to a select number of sellers on the US and Australia sites, but this feature will
  be enabled on more eBay sites in 2019. There are two different eBay Guaranteed Delivery
  options - 'Handling time' option and 'Door-to-Door' option. With both options, the
  seller is commiting to getting the order delivered to the buyer within three business
  days after purchase. With the 'Handling time' option, the seller's stated handling
  time for a listing must be 'same-day' or '1-day', and at least one of the available
  shipping service options should have a shipping time that guarantees that the buyer
  receives the order on time. With this option, eBay will set the 'ship-by date' and
  expected delivery window for the seller, and the seller should just make sure they
  physically ship the order by the shipToDate. With the 'Door-to-door' option, the
  seller must create regional shipping rate tables (with shipping costs and delivery
  times based on destination regions), and then apply these regional shipping rates/delivery
  times to the listing. If a 'Door-to-door' order does not arrive on time, the seller
  must refund the buyer the full shipping cost (if any), and the buyer also has the
  option of returning the item for a full refund, and the seller will also have to
  pay the return shipping cost. With 'Handling time' option, as long as the seller
  meets the stated handling time, and ships using the correct shipping service option,
  eBay will refund the buyer the shipping cost and pay for return shipping label (if
  buyer wants to return item) if the order arrives after the expected delivery time.
  For more information on the details and requirements of eBay Guaranteed Delivery,
  see the Offering eBay Guaranteed Delivery help topic. This field will always be
  returned regardless of whether the listing site offers eBay Guaranteed Delivery
  or if the seller is opted in to the feature.\";}s:24:\"maxEstimatedDeliveryDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:861:\"The
  estimated latest date and time that the buyer can expect to receive the line item
  based on the seller's stated handling time and the transit times of the available
  shipping service options. If the listing is eligible for eBay Guaranteed Delivery
  (value of guaranteedDelivery field is true, the seller must pay extra attention
  to this date, as a failure to deliver by this date/time can result in a 'Late shipment'
  seller defect, and can affect seller level and Top-Rated Seller status. In addition
  to the seller defect, buyers will be eligible for a shipping cost refund, and will
  also be eligible to return the item for a full refund (with no return shipping charge)
  if they choose. Note: This timestamp is in ISO 8601 format, which uses the 24-hour
  Universal Coordinated Time (UTC) clock. Format: YYYY-MM-DDTHH:MM:SS.SSSZ Example:
  2015-08-04T19:09:02.768Z\";}s:24:\"minEstimatedDeliveryDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:369:\"The
  estimated earliest date and time that the buyer can expect to receive the line item
  based on the seller's stated handling time and the transit times of the available
  shipping service options. Note: This timestamp is in ISO 8601 format, which uses
  the 24-hour Universal Coordinated Time (UTC) clock. Format: YYYY-MM-DDTHH:MM:SS.SSSZ
  Example: 2015-08-04T19:09:02.768Z\";}s:10:\"shipByDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:903:\"The
  latest date and time by which the seller should ship line item in order to meet
  the expected delivery window. This timestamp will be set by eBay based on time of
  purchase and the seller's stated handling time. If the listing is eligible for eBay
  Guaranteed Delivery (value of guaranteedDelivery field is true, the seller must
  pay extra attention to this date, as a failure to physically ship the line item
  by this date/time can result in a 'Late shipment' seller defect, and can affect
  seller level and Top-Rated Seller status. In addition to the seller defect, buyers
  will be eligible for a shipping cost refund, and will also be eligible to return
  the item for a full refund (with no return shipping charge) if they choose. Note:
  This timestamp is in ISO 8601 format, which uses the 24-hour Universal Coordinated
  Time (UTC) clock. Format: YYYY-MM-DDTHH:MM:SS.SSSZ Example: 2015-08-04T19:09:02.768Z\";}}s:11:\"description\";s:245:\"This
  type contains the specifications for processing the fulfillment of a line item,
  including the handling window and the delivery window. These fields provide guidance
  for <i>eBay Guaranteed Delivery</i> as well as for non-guaranteed delivery.\";}s:18:\"LineItemProperties\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"buyerProtection\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:91:\"A
  value of true indicates that the line item is covered by eBay's Buyer Protection
  program.\";}s:13:\"fromBestOffer\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:329:\"This
  field is only returned if true and indicates that the purchase occurred by the buyer
  and seller mutually agreeing on a Best Offer amount. The Best Offer feature can
  be set up for any listing type, but if this feature is set up for an auction listing,
  it will no longer be available once a bid has been placed on the listing.\";}s:17:\"soldViaAdCampaign\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:116:\"This
  field is only returned if true and indicates that the line item was sold as a result
  of a seller's ad campaign.\";}}s:11:\"description\";s:99:\"This type contains information
  about the eBay programs under which a line item was listed and sold.\";}s:17:\"LineItemReference\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"lineItemId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:324:\"This
  is the unique identifier of the eBay order line item that is part of the shipping
  fulfillment. The line item ID is created as soon as there is a commitment to buy
  from the seller, and its value is based upon the concatenation of item ID/listing
  ID and the transaction ID, with a hyphen in between these two identifiers.\";}s:8:\"quantity\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:50:\"This
  field is reserved for internal or future use.\";}}s:11:\"description\";s:125:\"This
  type identifies the line item and quantity of that line item that comprises one
  fulfillment, such as a shipping package.\";}s:14:\"LineItemRefund\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"amount\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Amount\";}s:10:\"refundDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:292:\"The
  date and time that the refund was issued for the line item. This timestamp is in
  ISO 8601 format, which uses the 24-hour Universal Coordinated Time (UTC) clock.
  This field is not returned until the refund has been issued. Format: YYYY-MM-DDTHH:MM:SS.SSSZ
  Example: 2015-08-04T19:09:02.768Z\";}s:17:\"refundReferenceId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:50:\"This
  field is reserved for internal or future use.\";}}s:11:\"description\";s:54:\"This
  type contains refund informatino for a line item.\";}s:5:\"Order\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":16:{s:5:\"buyer\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Buyer\";}s:18:\"buyerCheckoutNotes\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:179:\"This
  field contains any comments that the buyer left for the seller about the order during
  checkout process. This field is only returned if a buyer left comments at checkout
  time.\";}s:12:\"cancelStatus\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/CancelStatus\";}s:12:\"creationDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:213:\"The
  date and time that the order was created. This timestamp is in ISO 8601 format,
  which uses the 24-hour Universal Coordinated Time (UTC) clock. Format: YYYY-MM-DDTHH:MM:SS.SSSZ
  Example: 2015-08-04T19:09:02.768Z\";}s:22:\"ebayCollectAndRemitTax\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:381:\"This
  field is only returned if true, and indicates that eBay will collect sales tax for
  at least one line item in the order, and remit the tax to the taxing authority of
  the buyer's residence. If this field is returned, the seller should search for one
  or more ebayCollectAndRemitTaxes containers at the line item level to get more information
  about the type of tax and the amount.\";}s:16:\"fulfillmentHrefs\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:162:\"This
  array contains a list of one or more getShippingFulfillment call URIs that can be
  used to retrieve shipping fulfillments that have been set up for the order.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:28:\"fulfillmentStartInstructions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:622:\"This
  container consists of a set of specifications for fulfilling the order, including
  the type of fulfillment, shipping carrier and service, shipping address, and estimated
  delivery window. These instructions are derived from the buyer's and seller's eBay
  account preferences, the listing parameters, and the buyer's checkout selections.
  The seller can use them as a starting point for packaging, addressing, and shipping
  the order. Note: Although this container is presented as an array, it currently
  returns only one set of fulfillment specifications. Additional array members will
  be supported in future functionality.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/FulfillmentStartInstruction\";}}s:16:\"lastModifiedDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:219:\"The
  date and time that the order was last modified. This timestamp is in ISO 8601 format,
  which uses the 24-hour Universal Coordinated Time (UTC) clock. Format: YYYY-MM-DDTHH:MM:SS.SSSZ
  Example: 2015-08-04T19:09:02.768Z\";}s:13:\"legacyOrderId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:429:\"The
  order's unique identifier, as formatted for legacy APIs. Both the orderId field
  and this field are always returned. Use the value of legacyOrderId instead of the
  value of orderId with APIs that require a legacy order ID, such as the Post-Order
  API or the Trading API. Note: The value of this field is not formatted the same
  way as the value of the orderId field. Do not attempt to use this field's value
  in the orderId field.\";}s:9:\"lineItems\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:195:\"This
  array contains the details for all line items that comprise the order. A line item
  consists of one or more units of a specific variation and version of a listed item
  that has been purchased.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/LineItem\";}}s:22:\"orderFulfillmentStatus\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:329:\"The
  degree to which fulfillment of the order is complete. See the OrderFulfillmentStatus
  type definition for more information about each possible fulfillment state. For
  implementation help, refer to <a href='https://developer.ebay.com/devzone/rest/api-ref/fulfillment/types/OrderFulfillmentStatus.html'>eBay
  API documentation</a>\";}s:7:\"orderId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:370:\"The
  unique identifier of the order. This value was originally generated by eBay as a
  result of the buyer's checkout process; for example, 170009092860-9849164007!140000000544476.
  Note: The value of this field is not formatted the same way as the value of the
  Trading API's OrderID field. Use the value of the legacyOrderId field instead of
  this one with the Trading API.\";}s:18:\"orderPaymentStatus\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:435:\"The
  enumeration value returned in this field indicates the current payment status of
  an order, or in case of a refund request, the current status of the refund. See
  the OrderPaymentStatusEnum type definition for more information about each possible
  payment/refund state. For implementation help, refer to <a href='https://developer.ebay.com/devzone/rest/api-ref/fulfillment/types/OrderPaymentStatusEnum.html'>eBay
  API documentation</a>\";}s:14:\"paymentSummary\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/PaymentSummary\";}s:14:\"pricingSummary\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/PricingSummary\";}s:8:\"sellerId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  unique eBay user ID of the seller who sold the order.\";}}s:11:\"description\";s:179:\"This
  type contains the details of an order, including information about the buyer, order
  history, shipping fulfillments, line items, costs, payments, and order fulfillment
  status.\";}s:11:\"OrderRefund\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"amount\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Amount\";}s:10:\"refundDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:274:\"The
  date and time that the refund was issued. This timestamp is in ISO 8601 format,
  which uses the 24-hour Universal Coordinated Time (UTC) clock. This field is not
  returned until the refund has been issued. Format: YYYY-MM-DDTHH:MM:SS.SSSZ Example:
  2015-08-04T19:09:02.768Z\";}s:17:\"refundReferenceId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:113:\"The
  eBay-generated unique identifier for the refund. This field is not returned until
  the refund has been issued.\";}s:12:\"refundStatus\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:289:\"This
  enumeration value indicates the current status of the refund to the buyer. This
  container is always returned for each refund. For implementation help, refer to
  <a href='https://developer.ebay.com/devzone/rest/api-ref/fulfillment/types/RefundStatusEnum.html'>eBay
  API documentation</a>\";}}s:11:\"description\";s:113:\"This type contains information
  about a refund issued for an order. This does not include line item level refunds.\";}s:26:\"OrderSearchPagedCollection\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:4:\"href\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:87:\"The
  URI of the getOrders call request that produced the current page of the result set.\";}s:5:\"limit\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:748:\"The
  maximum number of orders returned per page of the result set. The limit value can
  be passed in as a query parameter, or if omitted, its value defaults to 50. Note:
  If this is the last or only page of the result set, the page may contain fewer orders
  than the limit value. To determine the number of pages in a result set, divide the
  total value (total number of orders matching input criteria) by this limit value,
  and then round up to the next integer. For example, if the total value was 120 (120
  total orders) and the limit value was 50 (show 50 orders per page), the total number
  of pages in the result set is three, so the seller would have to make three separate
  getOrders calls to view all orders matching the input criteria. Default: 50\";}s:4:\"next\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:313:\"The
  getOrders call URI to use if you wish to view the next page of the result set. For
  example, the following URI returns records 41 thru 50 from the collection of orders:
  path/order?limit=10&amp;offset=40 This field is only returned if there is a next
  page of results to view based on the current input criteria.\";}s:6:\"offset\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:615:\"This
  integer value indicates the actual position that the first order returned on the
  current page has in the results set. So, if you wanted to view 11th order of the
  result set, you would set the offset value in the request to 10. In the request,
  you can use the offset parameter in conjunction with the limit parameter to control
  the pagination of the output. For example, if offset is set to 30 and limit is set
  to 10, the call retrieves orders 31 thru 40 from the resulting collection of orders.
  Note: This feature employs a zero-based list, where the first item in the list has
  an offset of 0.Default: 0 (zero)\";}s:6:\"orders\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:432:\"This
  array contains one or more orders that are part of the current result set, that
  is controlled by the input criteria. The details of each order include information
  about the buyer, order history, shipping fulfillments, line items, costs, payments,
  and order fulfillment status. By default, orders are returned according to creation
  date (oldest to newest), but the order will vary according to any filter that is
  set in request.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Order\";}}s:4:\"prev\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:285:\"The
  getOrders call URI for the previous result set. For example, the following URI returns
  orders 21 thru 30 from the collection of orders: path/order?limit=10&amp;offset=20
  This field is only returned if there is a previous page of results to view based
  on the current input criteria.\";}s:5:\"total\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:154:\"The
  total number of orders in the results set based on the current input criteria. Note:
  If no orders are found, this field is returned with a value of 0.\";}s:8:\"warnings\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:85:\"This
  array is returned if one or more errors or warnings occur with the call request.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Error\";}}}s:11:\"description\";s:411:\"This
  type contains the specifications for the collection of orders that match the search
  or filter criteria of a <b>getOrders</b> call. The collection is grouped into a
  result set, and based on the query parameters that are set (including the <strong>limit</strong>
  and <strong>offset</strong> parameters), the result set may included multiple pages,
  but only one page of the result set can be viewed at a time.\";}s:7:\"Payment\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:6:\"amount\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Amount\";}s:11:\"paymentDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:301:\"The
  date and time that the payment was received by the seller. This field will not be
  returned if buyer has yet to pay for the order. This timestamp is in ISO 8601 format,
  which uses the 24-hour Universal Coordinated Time (UTC) clock. Format: YYYY-MM-DDTHH:MM:SS.SSSZ
  Example: 2015-08-04T19:09:02.768Z\";}s:12:\"paymentHolds\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:374:\"This
  container is only returned if eBay is temporarily holding the seller's funds for
  the order. If a payment hold has been placed on the order, this container includes
  the reason for the payment hold, the expected release date of the funds into the
  seller's account, the current state of the hold, and as soon as the payment hold
  has been released, the actual release date.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/PaymentHold\";}}s:13:\"paymentMethod\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:222:\"The
  payment method used by the buyer to pay for the order. For implementation help,
  refer to <a href='https://developer.ebay.com/devzone/rest/api-ref/fulfillment/types/PaymentMethodTypeEnum.html'>eBay
  API documentation</a>\";}s:18:\"paymentReferenceId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:164:\"This
  field is only returned if payment has been made by the buyer, and the paymentMethod
  is PAYPAL. This field contains the PayPal-generated transaction identifier.\";}s:13:\"paymentStatus\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:358:\"The
  enumeration value returned in this field indicates the status of the buyer's payment
  for the order. See the PaymentStatusEnum type definition for more information on
  the possible payment states. For implementation help, refer to <a href='https://developer.ebay.com/devzone/rest/api-ref/fulfillment/types/PaymentStatusEnum.html'>eBay
  API documentation</a>\";}}s:11:\"description\";s:74:\"This type is used to provide
  details about a buyer's payment for an order.\";}s:11:\"PaymentHold\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:19:\"expectedReleaseDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:301:\"The
  date and time that the payment being held is expected to be released to the seller.
  This timestamp is in ISO 8601 format, which uses the 24-hour Universal Coordinated
  Time (UTC) clock. This field will be returned if known by eBay. Format: YYYY-MM-DDTHH:MM:SS.SSSZ
  Example: 2015-08-04T19:09:02.768Z\";}s:10:\"holdAmount\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Amount\";}s:10:\"holdReason\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:321:\"The
  reason that the payment is being held. A seller's payment may be helf for a number
  of reasons, including when the seller is new, the seller's level is below standard,
  or if a return case or 'Significantly not as described' case is pending against
  the seller. This field is always returned with the paymentHolds array.\";}s:9:\"holdState\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:206:\"The
  current stage or condition of the hold. This field is always returned with the paymentHolds
  array. Applicable values: HELD HELD_PENDING NOT_HELD RELEASE_CONFIRMED RELEASE_FAILED
  RELEASE_PENDING RELEASED\";}s:11:\"releaseDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:352:\"The
  date and time that the payment being held was actually released to the seller. This
  timestamp is in ISO 8601 format, which uses the 24-hour Universal Coordinated Time
  (UTC) clock. This field is not returned until the seller's payment is actually released
  into the seller's account. Format: YYYY-MM-DDTHH:MM:SS.SSSZ Example: 2015-08-04T19:09:02.768Z\";}s:22:\"sellerActionsToRelease\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:99:\"A
  list of one or more possible actions that the seller can take to release the hold
  on the payment.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/SellerActionsToRelease\";}}}s:11:\"description\";s:415:\"This
  type contains information about a hold placed on a payment to a seller for an order,
  including the reason why the buyer's payment for the order is being held, the expected
  release date of the funds into the seller's account, the current state of the hold,
  and the actual release date if the payment has been released, and possible actions
  the seller can take to expedite the payout of funds into their account.\";}s:14:\"PaymentSummary\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"payments\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:263:\"This
  array consists of payment information for the order, including payment status, payment
  method, payment amount, and payment date. This array is always returned, although
  some of the fields under this container will not be returned until payment has been
  made.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Payment\";}}s:7:\"refunds\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:240:\"This
  array is always returned, but is returned as an empty array unless the seller has
  submitted a partial or full refund to the buyer for the order. If a refund has occurred,
  the refund amount and refund date will be shown for each refund.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/OrderRefund\";}}s:14:\"totalDueSeller\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Amount\";}}s:11:\"description\";s:116:\"This
  type contains information about the various monetary exchanges that apply to the
  net balance due for the order.\";}s:14:\"PricingSummary\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:10:\"adjustment\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Amount\";}s:12:\"deliveryCost\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Amount\";}s:16:\"deliveryDiscount\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Amount\";}s:3:\"fee\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Amount\";}s:21:\"priceDiscountSubtotal\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Amount\";}s:13:\"priceSubtotal\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Amount\";}s:3:\"tax\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Amount\";}s:5:\"total\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Amount\";}}s:11:\"description\";s:183:\"This
  type contains a summary of cumulative costs and charges for all line items of an
  order, including item price, price adjustments, sales taxes, delivery costs, and
  order discounts.\";}s:22:\"SellerActionsToRelease\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:21:\"sellerActionToRelease\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:328:\"A
  possible action that the seller can take to expedite the release of a payment hold.
  A sellerActionToRelease field is returned for each possible action that a seller
  may take. Possible actions may include providing shipping/tracking information,
  issuing a refund, providing refund information, contacting customer support, etc.\";}}s:11:\"description\";s:119:\"This
  type is used to state possible action(s) that a seller can take to release a payment
  hold placed against an order.\";}s:19:\"ShippingFulfillment\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:13:\"fulfillmentId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:165:\"The
  unique identifier of the fulfillment; for example, 9405509699937003457459. This
  eBay-generated value is created with a successful createShippingFulfillment call.\";}s:9:\"lineItems\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:111:\"This
  array contains a list of one or more line items (and purchased quantity) to which
  the fulfillment applies.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/LineItemReference\";}}s:22:\"shipmentTrackingNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:134:\"The
  tracking number provided by the shipping carrier for the package shipped in this
  fulfillment. This field is returned if available.\";}s:11:\"shippedDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:295:\"The
  date and time that the fulfillment package was shipped. This timestamp is in ISO
  8601 format, which uses the 24-hour Universal Coordinated Time (UTC) clock. This
  field should only be returned if the package has been shipped. Format: YYYY-MM-DDTHH:MM:SS.SSSZ
  Example: 2015-08-04T19:09:02.768Z\";}s:19:\"shippingCarrierCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:303:\"The
  eBay code identifying the shipping carrier for this fulfillment. This field is returned
  if available. Note: The Trading API's ShippingCarrierCodeType enumeration type contains
  the most current list of eBay shipping carrier codes and the countries served by
  each carrier. See ShippingCarrierCodeType.\";}}s:11:\"description\";s:80:\"This
  type contains the complete details of an existing fulfillment for an order.\";}s:26:\"ShippingFulfillmentDetails\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"lineItems\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:107:\"This
  array contains a list of or more line items and the quantity that will be shipped
  in the same package.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/LineItemReference\";}}s:11:\"shippedDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:423:\"This
  is the actual date and time that the fulfillment package was shipped. This timestamp
  is in ISO 8601 format, which uses the 24-hour Universal Coordinated Time (UTC) clock.
  The seller should use the actual date/time that the package was shipped, but if
  this field is omitted, it will default to the current date/time. Format: YYYY-MM-DDTHH:MM:SS.SSSZ
  Example: 2015-08-04T19:09:02.768Z Default: The current date and time.\";}s:19:\"shippingCarrierCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:633:\"The
  unique identifier of the shipping carrier being used to ship the line item(s). Technically,
  the shippingCarrierCode and trackingNumber fields are optional, but generally these
  fields will be provided if the shipping carrier and tracking number are known. Note:
  Use the Trading API's GeteBayDetails call to retrieve the latest shipping carrier
  enumeration values. When making the GeteBayDetails call, include the DetailName
  field in the request payload and set its value to ShippingCarrierDetails. Each valid
  shipping carrier enumeration value is returned in a ShippingCarrierDetails.ShippingCarrier
  field in the response payload.\";}s:14:\"trackingNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:688:\"The
  tracking number provided by the shipping carrier for this fulfillment. The seller
  should be careful that this tracking number is accurate since the buyer will use
  this tracking number to track shipment, and eBay has no way to verify the accuracy
  of this number. This field and the shippingCarrierCode field are mutually dependent.
  If you include one, you must also include the other. Note: If you include trackingNumber
  (and shippingCarrierCode) in the request, the resulting fulfillment's ID (returned
  in the HTTP location code) is the tracking number. If you do not include shipment
  tracking information, the resulting fulfillment ID will default to an arbitrary
  number such as 999.\";}}s:11:\"description\";s:71:\"This type contains the details
  for creating a fulfillment for an order.\";}s:34:\"ShippingFulfillmentPagedCollection\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"fulfillments\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:106:\"This
  array contains one or more fulfillments required for the order that was specified
  in method endpoint.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/ShippingFulfillment\";}}s:5:\"total\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:148:\"The
  total number of fulfillments in the specified order. Note: If no fulfillments are
  found for the order, this field is returned with a value of 0.\";}s:8:\"warnings\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:90:\"This
  array is only returned if one or more errors or warnings occur with the call request.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Error\";}}}s:11:\"description\";s:269:\"This
  type contains the specifications for the entire collection of shipping fulfillments
  that are associated with the order specified by a <b>getShippingFulfillments</b>
  call. The <b>fulfillments</b> container returns an array of all the fulfillments
  in the collection.\";}s:12:\"ShippingStep\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:19:\"shippingCarrierCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:223:\"The
  unique identifier of the shipping carrier being used to ship the line item. Note:
  The Trading API's GeteBayDetails call can be used to retrieve the latest shipping
  carrier and shipping service option enumeration values.\";}s:19:\"shippingServiceCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:577:\"The
  unique identifier of the shipping service option being used to ship the line item.
  Note: Use the Trading API's GeteBayDetails call to retrieve the latest shipping
  carrier and shipping service option enumeration values. When making the GeteBayDetails
  call, include the DetailName field in the request payload and set its value to ShippingServiceDetails.
  Each valid shipping service option (returned in ShippingServiceDetails.ShippingService
  field) and corresponding shipping carrier (returned in ShippingServiceDetails.ShippingCarrier
  field) is returned in response payload.\";}s:6:\"shipTo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ExtendedContact\";}s:17:\"shipToReferenceId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:748:\"This
  is the unique identifer of the Global Shipping Program (GSP) shipment. This field
  is only returned if the line item is being shipped via GSP (the value of the fulfillmentStartInstructions.ebaySupportedFulfillment
  field will be true. The international shipping provider uses the shipToReferenceId
  value as the primary reference number to retrieve the relevant details about the
  buyer, the order, and the fulfillment, so the shipment can be completed. Sellers
  must include this value on the shipping label immediately above the street address
  of the international shipping provider. Example: &quot;Reference #1234567890123456&quot;
  Note: This value is the same as the ShipToAddress.ReferenceID value returned by
  the Trading API's GetOrders call.\";}}s:11:\"description\";s:191:\"This type contains
  shipping information for a fulfillment, including the shipping carrier, the shipping
  service option, the shipment destination, and the Global Shipping Program reference
  ID.\";}s:3:\"Tax\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"amount\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Amount\";}}s:11:\"description\";s:74:\"This
  type contains information about any sales tax applied to a line item.\";}}"
...
