---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:9:\"eBay
  Inc,\";s:9:\"x-twitter\";s:4:\"ebay\";}s:11:\"description\";s:346:\"Use the Taxonomy
  API to discover the most appropriate eBay categories under which sellers can offer
  inventory items for sale, and the most likely categories under which buyers can
  browse or search for items to purchase. In addition, the Taxonomy API provides information
  about the required and recommended category aspects to include in listings.\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:26:\"eBay
  API License Agreement\";s:3:\"url\";s:51:\"https://go.developer.ebay.com/api-license-agreement\";}s:5:\"title\";s:8:\"Taxonomy\";s:7:\"version\";s:11:\"v1_beta.1.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:9:\"ecommerce\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:77:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_ebay_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:106:\"https://developer.ebay.com/api-docs/master/commerce/taxonomy/openapi/2/commerce_taxonomy_v1_beta_oas2.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:8:\"ebay.com\";s:13:\"x-serviceName\";s:17:\"commerce-taxonomy\";}"
host: api.ebay.com
basePath: /commerce/taxonomy/v1_beta
paths:
  /category_tree/{category_tree_id}:
    get:
      description: 'This call retrieves the complete category tree that is identified
        by the category_tree_id parameter. The value of category_tree_id was returned
        by the getDefaultCategoryTreeId call in the categoryTreeId field. The response
        contains details of all nodes of the specified eBay category tree, as well
        as the eBay marketplaces that use this category tree. Note: This call can
        return a very large payload, so you are strongly advised to submit the request
        with the following HTTP header: &nbsp;&nbsp;Accept-Encoding: application/gzip
        With this header (in addition to the required headers described under HTTP
        Request Headers), the call returns the response with gzip compression.'
      operationId: getCategoryTree
      parameters:
      - description: The unique identifier of the eBay category tree being requested.
        in: path
        name: category_tree_id
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/CategoryTree'
        404:
          description: Not Found
        500:
          description: Internal Server Error
      security:
      - Client Credentials:
        - https://api.ebay.com/oauth/api_scope
      summary: Get a Category Tree
      tags:
      - category_tree
  /category_tree/{category_tree_id}/get_category_subtree:
    get:
      description: 'This call retrieves the details of all nodes of the category tree
        hierarchy (the subtree) below a specified category of a category tree. You
        identify the tree using the category_tree_id parameter, which was returned
        by the getDefaultCategoryTreeId call in the categoryTreeId field. Note: This
        call can return a very large payload, so you are strongly advised to submit
        the request with the following HTTP header: &nbsp;&nbsp;Accept-Encoding: application/gzip
        With this header (in addition to the required headers described under HTTP
        Request Headers), the call returns the response with gzip compression.'
      operationId: getCategorySubtree
      parameters:
      - description: 'The unique identifier of the category at the top of the subtree
          being requested. Note: If the category_id submitted identifies the root
          node of the tree, this call returns an error. To retrieve the complete tree,
          use this value with the getCategoryTree call. If the category_id submitted
          identifies a leaf node of the tree, the call response will contain information
          about only that leaf node, which is a valid subtree.'
        in: query
        name: category_id
        required: true
        type: string
      - description: The unique identifier of the eBay category tree from which a
          category subtree is being requested.
        in: path
        name: category_tree_id
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/CategorySubtree'
        400:
          description: Bad Request
        404:
          description: Not Found
        500:
          description: Internal Server Error
      security:
      - Client Credentials:
        - https://api.ebay.com/oauth/api_scope
      summary: Get a Category Subtree
      tags:
      - category_tree
  /category_tree/{category_tree_id}/get_category_suggestions:
    get:
      description: 'This call returns an array of category tree leaf nodes in the
        specified category tree that are considered by eBay to most closely correspond
        to the query string q. Returned with each suggested node is a localized name
        for that category (based on the Accept-Language header specified for the call),
        and details about each of the category''s ancestor nodes, extending from its
        immediate parent up to the root of the category tree. Note: This call can
        return a large payload, so you are advised to submit the request with the
        following HTTP header: &nbsp;&nbsp;Accept-Encoding: application/gzip With
        this header (in addition to the required headers described under HTTP Request
        Headers), the call returns the response with gzip compression. You identify
        the tree using the category_tree_id parameter, which was returned by the getDefaultCategoryTreeId
        call in the categoryTreeId field. Important: This call is not supported in
        the Sandbox environment. It will return a response payload in which the categoryName
        fields contain random or boilerplate text regardless of the query submitted.'
      operationId: getCategorySuggestions
      parameters:
      - description: The unique identifier of the eBay category tree for which suggested
          nodes are being requested.
        in: path
        name: category_tree_id
        required: true
        type: string
      - description: A quoted string that describes or characterizes the item being
          offered for sale. The string format is free form, and can contain any combination
          of phrases or keywords. eBay will parse the string and return suggested
          categories for the item.
        in: query
        name: q
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/CategorySuggestionResponse'
        204:
          description: No content
        400:
          description: Bad Request
        404:
          description: Not found
        500:
          description: Internal Server Error
      security:
      - Client Credentials:
        - https://api.ebay.com/oauth/api_scope
      summary: Get Suggested Categories
      tags:
      - category_tree
  /category_tree/{category_tree_id}/get_item_aspects_for_category:
    get:
      description: 'This call returns a list of aspects that are appropriate or necessary
        for accurately describing items in the specified leaf category. Each aspect
        identifies an item attribute (for example, color) for which the seller will
        be required or encouraged to provide a value (or variation values) when offering
        an item in that category on eBay. For each aspect, getItemAspectsForCategory
        provides complete metadata, including: The aspect''s data type, format, and
        entry mode Whether the aspect is required in listings Whether the aspect can
        be used for item variations Whether the aspect accepts multiple values for
        an item Allowed values for the aspectUse this information to construct an
        interface through which sellers can enter or select the appropriate values
        for their items or item variations. Once you collect those values, include
        them as product aspects when creating inventory items using the Inventory
        API.'
      operationId: getItemAspectsForCategory
      parameters:
      - description: 'The unique identifier of the leaf category for which aspects
          are being requested. Note: If the category_id submitted does not identify
          a leaf node of the tree, this call returns an error.'
        in: query
        name: category_id
        required: true
        type: string
      - description: The unique identifier of the eBay category tree from which the
          specified category's aspects are being requested.
        in: path
        name: category_tree_id
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/AspectMetadata'
        204:
          description: No Content
        400:
          description: Bad Request
        404:
          description: Not found
        500:
          description: Internal Server Error
      security:
      - Client Credentials:
        - https://api.ebay.com/oauth/api_scope
      tags:
      - category_tree
  /get_default_category_tree_id:
    get:
      description: A given eBay marketplace might use multiple category trees, but
        one of those trees is considered to be the default for that marketplace. This
        call retrieves a reference to the default category tree associated with the
        specified eBay marketplace ID. The response includes only the tree's unique
        identifier and version, which you can use to retrieve more details about the
        tree, its structure, and its individual category nodes.
      operationId: getDefaultCategoryTreeId
      parameters:
      - description: The ID of the eBay marketplace for which the category tree ID
          is being requested. For a list of supported marketplace IDs, see Marketplaces
          with Default Category Trees.
        in: query
        name: marketplace_id
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/BaseCategoryTree'
        204:
          description: No content
        400:
          description: Bad Request
        500:
          description: Internal Server Error
      security:
      - Client Credentials:
        - https://api.ebay.com/oauth/api_scope
      summary: Get a Default Category Tree ID
      tags:
      - category_tree
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":13:{s:17:\"AncestorReference\";O:8:\"stdClass\":3:{s:11:\"description\";s:213:\"This
  type contains information about one of the ancestors of a suggested category. An
  ordered list of these references describes the path from the suggested category
  to the root of the category tree it belongs to.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"categoryId\";O:8:\"stdClass\":2:{s:11:\"description\";s:239:\"The
  unique identifier of the eBay ancestor category. Note: The root node of a full default
  category tree includes the categoryId field, but its value should not be relied
  upon. It provides no useful information for application development.\";s:4:\"type\";s:6:\"string\";}s:12:\"categoryName\";O:8:\"stdClass\":2:{s:11:\"description\";s:149:\"The
  canonical name of the ancestor category identified by categoryId. Note: Don't depend
  on category names to be unique within a given category tree.\";s:4:\"type\";s:6:\"string\";}s:23:\"categorySubtreeNodeHref\";O:8:\"stdClass\":2:{s:11:\"description\";s:108:\"The
  href portion of the getCategorySubtree call that retrieves the subtree below the
  ancestor category node.\";s:4:\"type\";s:6:\"string\";}s:21:\"categoryTreeNodeLevel\";O:8:\"stdClass\":2:{s:11:\"description\";s:155:\"The
  absolute level of the ancestor category node in the hierarchy of its category tree.
  Note: The root node of any full category tree is always at level 0.\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Aspect\";O:8:\"stdClass\":3:{s:11:\"description\";s:302:\"This
  type contains information about a item attribute (for example, color) that is appropriate
  or necessary for accurately describing items in a particular leaf category. Sellers
  will be required or encouraged to provide one or more values of this aspect when
  offering an item in that category on eBay.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"aspectConstraint\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/AspectConstraint\";}s:12:\"aspectValues\";O:8:\"stdClass\":3:{s:11:\"description\";s:128:\"Contains
  a list of valid values for this aspect (for example: Red, Green, and Blue), along
  with any constraints on those values.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/AspectValue\";}s:4:\"type\";s:5:\"array\";}s:19:\"localizedAspectName\";O:8:\"stdClass\":2:{s:11:\"description\";s:178:\"The
  localized name of this aspect (for example: colour on the eBay UK site). Note: This
  name is always localized for the specified marketplace. There is no canonical aspect
  name.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"AspectConstraint\";O:8:\"stdClass\":3:{s:11:\"description\";s:90:\"This
  type contains information about the formatting, occurrence, and support of an aspect.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:14:\"aspectDataType\";O:8:\"stdClass\":2:{s:11:\"description\";s:187:\"The
  data type of this aspect. For implementation help, refer to <a href='https://developer.ebay.com/devzone/rest/api-ref/taxonomy/types/AspectDataTypeEnum.html'>eBay
  API documentation</a>\";s:4:\"type\";s:6:\"string\";}s:26:\"aspectEnabledForVariations\";O:8:\"stdClass\":2:{s:11:\"description\";s:88:\"A
  value of true indicates that this aspect can be used to help identify item variations.\";s:4:\"type\";s:7:\"boolean\";}s:12:\"aspectFormat\";O:8:\"stdClass\":2:{s:11:\"description\";s:213:\"Returned
  only if the value of aspectDataType identifies a data type that requires specific
  formatting. Currently, this field provides formatting hints as follows: DATE: YYYY,
  YYYYMM, YYYYMMDD NUMBER: int32, double\";s:4:\"type\";s:6:\"string\";}s:10:\"aspectMode\";O:8:\"stdClass\":2:{s:11:\"description\";s:282:\"The
  manner in which values of this aspect must be specified by the seller (as free text
  or by selecting from available options). For implementation help, refer to <a href='https://developer.ebay.com/devzone/rest/api-ref/taxonomy/types/AspectModeEnum.html'>eBay
  API documentation</a>\";s:4:\"type\";s:6:\"string\";}s:14:\"aspectRequired\";O:8:\"stdClass\":2:{s:11:\"description\";s:101:\"A
  value of true indicates that this aspect is required when offering items in the
  specified category.\";s:4:\"type\";s:7:\"boolean\";}s:23:\"itemToAspectCardinality\";O:8:\"stdClass\":2:{s:11:\"description\";s:270:\"Indicates
  whether this aspect can accept single or multiple values for items in the specified
  category. For implementation help, refer to <a href='https://developer.ebay.com/devzone/rest/api-ref/taxonomy/types/ItemToAspectCardinalityEnum.html'>eBay
  API documentation</a>\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"AspectMetadata\";O:8:\"stdClass\":3:{s:11:\"description\";s:102:\"This
  type is the container type for the response payload of the <b>getItemAspectsForCategory</b>
  call.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"aspects\";O:8:\"stdClass\":3:{s:11:\"description\";s:378:\"A
  list of item attributes (for example, color) that are appropriate or necessary for
  accurately describing items in a particular leaf category. Each category has a different
  set of aspects and different requirements for aspect values. Sellers will be required
  or encouraged to provide one or more acceptable values for each aspect when offering
  an item in that category on eBay.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Aspect\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:11:\"AspectValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:107:\"This
  type contains a valid value for an aspect, along with any constraints on the occurrence
  of that value.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"localizedValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:148:\"The
  localized value of this aspect. Note: This value is always localized for the specified
  marketplace. There is no canonical version of this value.\";s:4:\"type\";s:6:\"string\";}s:16:\"valueConstraints\";O:8:\"stdClass\":3:{s:11:\"description\";s:766:\"Not
  returned if the value of the localizedValue field can always be selected for this
  aspect of the specified category. Contains a list of the dependencies that identify
  when the value of the localizedValue field is available for the current aspect.
  Each dependency specifies the values of another aspect of the same category (a control
  aspect), for which the current value of the current aspect can also be selected
  by the seller. Example: A shirt is available in three sizes and three colors, but
  only the Small and Medium sizes come in Green. Thus for the Color aspect, the value
  Green is constrained by its dependency on Size (the control aspect). Only when the
  Size aspect value is Small or Medium, can the Color aspect value of Green be selected
  by the seller.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ValueConstraint\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:16:\"BaseCategoryTree\";O:8:\"stdClass\":3:{s:11:\"description\";s:111:\"This
  type contains identifying information for the category tree associated with a particular
  eBay marketplace.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"categoryTreeId\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"The
  unique identifier of the eBay category tree for the specified marketplace.\";s:4:\"type\";s:6:\"string\";}s:19:\"categoryTreeVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:196:\"The
  version of the category tree identified by categoryTreeId. It's a good idea to cache
  this value for comparison so you can determine if this category tree has been modified
  in subsequent calls.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Category\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"This
  type contains information about a particular eBay category.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"categoryId\";O:8:\"stdClass\":2:{s:11:\"description\";s:255:\"The
  unique identifier of the eBay category within its category tree. Note: The root
  node of a full default category tree includes the categoryId field, but its value
  should not be relied upon. It provides no useful information for application development.\";s:4:\"type\";s:6:\"string\";}s:12:\"categoryName\";O:8:\"stdClass\":2:{s:11:\"description\";s:140:\"The
  canonical name of the category identified by categoryId. Note: Don't depend on category
  names to be unique within a given category tree.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"CategorySubtree\";O:8:\"stdClass\":3:{s:11:\"description\";s:212:\"This
  type contains information about a particular subtree of a specified eBay category
  tree. A category subtree consists of a non-root node of the category tree, and all
  of its descendants down to the leaf nodes.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"categorySubtreeNode\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/CategoryTreeNode\";}s:14:\"categoryTreeId\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"The
  unique identifier of the eBay category tree to which this subtree belongs.\";s:4:\"type\";s:6:\"string\";}s:19:\"categoryTreeVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:196:\"The
  version of the category tree identified by categoryTreeId. It's a good idea to cache
  this value for comparison so you can determine if this category tree has been modified
  in subsequent calls.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"CategorySuggestion\";O:8:\"stdClass\":3:{s:11:\"description\";s:237:\"This
  type contains information about a suggested category tree leaf node that corresponds
  to keywords provided in the request. It includes details about each of the category's
  ancestor nodes extending up to the root of the category tree.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"category\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Category\";}s:25:\"categoryTreeNodeAncestors\";O:8:\"stdClass\":3:{s:11:\"description\";s:484:\"An
  ordered list of category references that describes the location of the suggested
  category in the specified category tree. The list identifies the category's ancestry
  as a sequence of parent nodes, from the current node's immediate parent to the root
  node of the category tree. Note: The root node of a full default category tree includes
  categoryId and categoryName fields, but their values should not be relied upon.
  They provide no useful information for application development.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/AncestorReference\";}s:4:\"type\";s:5:\"array\";}s:21:\"categoryTreeNodeLevel\";O:8:\"stdClass\":2:{s:11:\"description\";s:151:\"The
  absolute level of the category tree node in the hierarchy of its category tree.
  Note: The root node of any full category tree is always at level 0.\";s:4:\"type\";s:7:\"integer\";}s:9:\"relevancy\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"This
  field is reserved for internal or future use.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:26:\"CategorySuggestionResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:191:\"This
  type contains an array of suggested category tree nodes that are considered by eBay
  to most closely correspond to the keywords provided in a query string, from a specified
  category tree.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"categorySuggestions\";O:8:\"stdClass\":3:{s:11:\"description\";s:451:\"Contains
  details about one or more suggested categories that correspond to the provided keywords.
  The array of suggested categories is sorted in order of eBay's confidence of the
  relevance of each category (the first category is the most relevant). Important:
  This call is not supported in the Sandbox environment. It will return a response
  payload in which the categoryName fields contain random or boilerplate text regardless
  of the query submitted.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/CategorySuggestion\";}s:4:\"type\";s:5:\"array\";}s:14:\"categoryTreeId\";O:8:\"stdClass\":2:{s:11:\"description\";s:84:\"The
  unique identifier of the eBay category tree from which suggestions are returned.\";s:4:\"type\";s:6:\"string\";}s:19:\"categoryTreeVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:196:\"The
  version of the category tree identified by categoryTreeId. It's a good idea to cache
  this value for comparison so you can determine if this category tree has been modified
  in subsequent calls.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"CategoryTree\";O:8:\"stdClass\":3:{s:11:\"description\";s:81:\"This
  type contains information about all nodes of a specified eBay category tree.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:24:\"applicableMarketplaceIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:87:\"A
  list of one or more identifiers of the eBay marketplaces that use this category
  tree.\";s:5:\"items\";O:8:\"stdClass\":2:{s:11:\"description\";s:157:\" For implementation
  help, refer to <a href='https://developer.ebay.com/devzone/rest/api-ref/taxonomy/types/MarketplaceIdEnum.html'>eBay
  API documentation</a>\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:14:\"categoryTreeId\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"The
  unique identifier of this eBay category tree.\";s:4:\"type\";s:6:\"string\";}s:19:\"categoryTreeVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:168:\"The
  version of this category tree. It's a good idea to cache this value for comparison
  so you can determine if this category tree has been modified in subsequent calls.\";s:4:\"type\";s:6:\"string\";}s:16:\"rootCategoryNode\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/CategoryTreeNode\";}}s:4:\"type\";s:6:\"object\";}s:16:\"CategoryTreeNode\";O:8:\"stdClass\":3:{s:11:\"description\";s:191:\"This
  type contains information about all nodes of a category tree or subtree hierarchy,
  including and below the specified <b>Category</b>, down to the leaf nodes. It is
  a recursive structure.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"category\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Category\";}s:21:\"categoryTreeNodeLevel\";O:8:\"stdClass\":2:{s:11:\"description\";s:159:\"The
  absolute level of the current category tree node in the hierarchy of its category
  tree. Note: The root node of any full category tree is always at level 0.\";s:4:\"type\";s:7:\"integer\";}s:22:\"childCategoryTreeNodes\";O:8:\"stdClass\":3:{s:11:\"description\";s:290:\"An
  array of one or more category tree nodes that are the immediate children of the
  current category tree node, as well as their children, recursively down to the leaf
  nodes. Returned only if the the current category tree node is not a leaf node (the
  value of leafCategoryTreeNode is false).\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/CategoryTreeNode\";}s:4:\"type\";s:5:\"array\";}s:20:\"leafCategoryTreeNode\";O:8:\"stdClass\":2:{s:11:\"description\";s:287:\"A
  value of true indicates that the current category tree node is a leaf node (it has
  no child nodes). A value of false indicates that the current node has one or more
  child nodes, which are identified by the childCategoryTreeNodes array. Returned
  only if the value of this field is true.\";s:4:\"type\";s:7:\"boolean\";}s:26:\"parentCategoryTreeNodeHref\";O:8:\"stdClass\":2:{s:11:\"description\";s:196:\"The
  href portion of the getCategorySubtree call that retrieves the subtree below the
  parent of this category tree node. Not returned if the current category tree node
  is the root node of its tree.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"ValueConstraint\";O:8:\"stdClass\":3:{s:11:\"description\";s:323:\"This
  type contains a list of the dependencies that identify when a particular value is
  available for a given aspect of a given category. Each dependency specifies the
  values of another aspect of the same category (the <i>control</i> aspect), for which
  the given value of the given aspect can also be selected by the seller.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:32:\"applicableForLocalizedAspectName\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"The
  name of the control aspect on which the current aspect value depends.\";s:4:\"type\";s:6:\"string\";}s:34:\"applicableForLocalizedAspectValues\";O:8:\"stdClass\":3:{s:11:\"description\";s:210:\"Contains
  a list of the values of the control aspect on which this aspect's value depends.
  When the control aspect has any of the specified values, the current value of the
  current aspect will also be available.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}}"
...
