---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":5:{s:11:\"description\";s:242:\"The Metadata API
  has operations that retrieve configuration details pertaining to the different eBay
  marketplaces. In addition to marketplace information, the API also has operations
  that get information that helps sellers list items on eBay.\";s:7:\"version\";s:6:\"v1.3.0\";s:5:\"title\";s:12:\"Metadata
  API\";s:7:\"contact\";O:8:\"stdClass\":1:{s:4:\"name\";s:9:\"eBay Inc,\";}s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:26:\"eBay
  API License Agreement\";s:3:\"url\";s:51:\"https://go.developer.ebay.com/api-license-agreement\";}}"
host: api.ebay.com
basePath: /sell/metadata/v1
paths:
  /country/{countryCode}/sales_tax_jurisdiction:
    get:
      tags:
      - country
      description: This method retrieves all the sales tax jurisdictions for the country
        that you specify in the countryCode path parameter. Countries with valid sales
        tax jurisdictions are Canada, India, and the US. The response from this call
        tells you the jurisdictions for which a seller can configure tax tables. Although
        setting up tax tables is optional, you can use the createOrReplaceSalesTax
        in the Account API call to configure the tax tables for the jurisdictions
        you sell to.
      operationId: getSalesTaxJurisdictions
      produces:
      - application/json
      parameters:
      - name: countryCode
        in: path
        description: This path parameter specifies the two-letter ISO 3166-1 Alpha-2
          country code for the country whose jurisdictions you want to retrieve. eBay
          provides sales tax jurisdiction information for Canada, India, and the United
          States.Valid values for this path parameter are CA, IN, and US.
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/SalesTaxJurisdictions'
        400:
          description: Bad Request
        404:
          description: Not Found
        500:
          description: Internal Server Error
      security:
      - Client Credentials:
        - https://api.ebay.com/oauth/api_scope
  /marketplace/{marketplace_id}/get_automotive_parts_compatibility_policies:
    get:
      tags:
      - marketplace
      description: 'This method returns the eBay policies that define how to list
        automotive-parts-compatibility items in the categories of a specific marketplace.
        By default, this method returns the entire category tree for the specified
        marketplace. You can limit the size of the result set by using the filter
        query parameter to specify only the category IDs you want to review. Tip:
        This method can return a very large response payload and we strongly recommend
        you get the results from this call in a GZIP file by including the following
        HTTP header with your request: &nbsp;&nbsp;Accept-Encoding: application/gzip'
      operationId: getAutomotivePartsCompatibilityPolicies
      produces:
      - application/json
      parameters:
      - name: filter
        in: query
        description: 'This query parameter limits the response by returning eBay policy
          information for only the leaf categories specified by this parameter. Set
          filter to a list of categoryId values. You can specify up to 50 category
          IDs by separating each with a pipe character (''|''). If you specify more
          than 50 categoryId values, eBay returns a warning along with the results
          for the first 50 IDs. If you specify a category ID that has child nodes,
          eBay returns policy information for all the leaf categories of that parent
          node. Example: filter=categoryIds:{100|101|102} Note that you must URL-encode
          the list of category ID values, which results in the following filter for
          the above example: &nbsp;&nbsp;filter=categoryIds%3A%7B100%7C101%7C102%7D'
        required: false
        type: string
      - name: marketplace_id
        in: path
        description: 'This path parameter specifies the eBay marketplace for which
          policy information is retrieved. &gt;Note: Only the following eBay marketplaces
          support automotive parts compatibility: EBAY_US EBAY_AU EBAY_CA EBAY_DE
          EBAY_ES EBAY_FR EBAY_GB EBAY_IT'
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/AutomotivePartsCompatibilityPolicyResponse'
        204:
          description: No content
        400:
          description: Bad Request
        404:
          description: Not found
        500:
          description: Internal Server Error
      security:
      - Client Credentials:
        - https://api.ebay.com/oauth/api_scope
  /marketplace/{marketplace_id}/get_item_condition_policies:
    get:
      tags:
      - marketplace
      description: 'This method returns the eBay policies that define how to specify
        item conditions in the categories of a specific marketplace. By default, this
        method returns the entire category tree for the specified marketplace. You
        can limit the size of the result set by using the filter query parameter to
        specify only the category IDs you want to review. Tip: This method can return
        a very large response payload and we strongly recommend you get the results
        from this call in a GZIP file by including the following HTTP header with
        your request: &nbsp;&nbsp;Accept-Encoding: application/gzip'
      operationId: getItemConditionPolicies
      produces:
      - application/json
      parameters:
      - name: filter
        in: query
        description: 'This query parameter limits the response by returning eBay policy
          information for only the leaf categories specified by this parameter. Set
          filter to a list of categoryId values. You can specify up to 50 category
          IDs by separating each with a pipe character (''|''). If you specify more
          than 50 categoryId values, eBay returns a warning along with the results
          for the first 50 IDs. If you specify a category ID that has child nodes,
          eBay returns policy information for all the leaf categories of that parent
          node. Example: filter=categoryIds:{100|101|102} Note that you must URL-encode
          the list of category ID values, which results in the following filter for
          the above example: &nbsp;&nbsp;filter=categoryIds%3A%7B100%7C101%7C102%7D'
        required: false
        type: string
      - name: marketplace_id
        in: path
        description: 'This path parameter specifies the eBay marketplace for which
          policy information is retrieved. See the following page for a list of valid
          eBay marketplace IDs: Request components.'
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ItemConditionPolicyResponse'
        204:
          description: No content
        400:
          description: Bad Request
        404:
          description: Not found
        500:
          description: Internal Server Error
      security:
      - Client Credentials:
        - https://api.ebay.com/oauth/api_scope
  /marketplace/{marketplace_id}/get_listing_structure_policies:
    get:
      tags:
      - marketplace
      description: 'This method returns the eBay policies that define the allowed
        listing structures for the categories of a specific marketplace. The listing-structure
        policies currently pertain to whether or not you can list items with variations.
        By default, this method returns the entire category tree for the specified
        marketplace. You can limit the size of the result set by using the filter
        query parameter to specify only the category IDs you want to review. Tip:
        This method can return a very large response payload and we strongly recommend
        you get the results from this call in a GZIP file by including the following
        HTTP header with your request: &nbsp;&nbsp;Accept-Encoding: application/gzip'
      operationId: getListingStructurePolicies
      produces:
      - application/json
      parameters:
      - name: filter
        in: query
        description: 'This query parameter limits the response by returning eBay policy
          information for only the leaf categories specified by this parameter. Set
          filter to a list of categoryId values. You can specify up to 50 category
          IDs by separating each with a pipe character (''|''). If you specify more
          than 50 categoryId values, eBay returns a warning along with the results
          for the first 50 IDs. If you specify a category ID that has child nodes,
          eBay returns policy information for all the leaf categories of that parent
          node. Example: filter=categoryIds:{100|101|102} Note that you must URL-encode
          the list of category ID values, which results in the following filter for
          the above example: &nbsp;&nbsp;filter=categoryIds%3A%7B100%7C101%7C102%7D'
        required: false
        type: string
      - name: marketplace_id
        in: path
        description: 'This path parameter specifies the eBay marketplace for which
          policy information is retrieved. See the following page for a list of valid
          eBay marketplace IDs: Request components.'
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ListingStructurePolicyResponse'
        204:
          description: No content
        400:
          description: Bad Request
        404:
          description: Not found
        500:
          description: Internal Server Error
      security:
      - Client Credentials:
        - https://api.ebay.com/oauth/api_scope
  /marketplace/{marketplace_id}/get_negotiated_price_policies:
    get:
      tags:
      - marketplace
      description: 'This method returns the eBay policies that define the supported
        negotiated price features (like &quot;best offer&quot;) for the categories
        of a specific marketplace. By default, this method returns the entire category
        tree for the specified marketplace. You can limit the size of the result set
        by using the filter query parameter to specify only the category IDs you want
        to review. Tip: This method can return a very large response payload and we
        strongly recommend you get the results from this call in a GZIP file by including
        the following HTTP header with your request: &nbsp;&nbsp;Accept-Encoding:
        application/gzip'
      operationId: getNegotiatedPricePolicies
      produces:
      - application/json
      parameters:
      - name: filter
        in: query
        description: 'This query parameter limits the response by returning eBay policy
          information for only the leaf categories specified by this parameter. Set
          filter to a list of categoryId values. You can specify up to 50 category
          IDs by separating each with a pipe character (''|''). If you specify more
          than 50 categoryId values, eBay returns a warning along with the results
          for the first 50 IDs. If you specify a category ID that has child nodes,
          eBay returns policy information for all the leaf categories of that parent
          node. Example: filter=categoryIds:{100|101|102} Note that you must URL-encode
          the list of category ID values, which results in the following filter for
          the above example: &nbsp;&nbsp;filter=categoryIds%3A%7B100%7C101%7C102%7D'
        required: false
        type: string
      - name: marketplace_id
        in: path
        description: 'This path parameter specifies the eBay marketplace for which
          policy information is retrieved. See the following page for a list of valid
          eBay marketplace IDs: Request components.'
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/NegotiatedPricePolicyResponse'
        204:
          description: No content
        400:
          description: Bad Request
        404:
          description: Not found
        500:
          description: Internal Server Error
      security:
      - Client Credentials:
        - https://api.ebay.com/oauth/api_scope
  /marketplace/{marketplace_id}/get_product_adoption_policies:
    get:
      tags:
      - marketplace
      description: 'This method retrieves a list of leaf categories for a marketplace
        and identifies the categories that require items to have an eBay product ID
        value in order to be listed in those categories. An eBay product ID value
        (known as an &quot;ePID&quot;) is a value that references a specific product
        in the eBay Catalog. Note: This method supports the eBay Product Based Shopping
        Experience (PBSE), which is applicable to only the US, UK, AU, and CA (English)
        marketplaces. Note that you can also use GetCategoryFeatures in the Trading
        API to retrieve the same information. For more information about using this
        method with PBSE, see the Product-Based Shopping Experience Playbook. Use
        the marketplace_id path parameter to specify the marketplace you want to review
        and use the filter query parameter to limit the categories returned in the
        response. Tip: This method can return a very large response payload and we
        strongly recommend you get the results from this call in a GZIP file by including
        the following HTTP header with your request: &nbsp;&nbsp;Accept-Encoding:
        application/gzip'
      operationId: getProductAdoptionPolicies
      produces:
      - application/json
      parameters:
      - name: filter
        in: query
        description: 'This query parameter limits the response by returning eBay policy
          information for only the leaf categories specified by this parameter. Set
          filter to a list of categoryId values. You can specify up to 50 category
          IDs by separating each with a pipe character (''|''). If you specify more
          than 50 categoryId values, eBay returns a warning along with the results
          for the first 50 IDs. If you specify a category ID that has child nodes,
          eBay returns policy information for all the leaf categories of that parent
          node. Example: filter=categoryIds:{100|101|102} Note that you must URL-encode
          the list of category ID values, which results in the following filter for
          the above example: &nbsp;&nbsp;filter=categoryIds%3A%7B100%7C101%7C102%7D'
        required: false
        type: string
      - name: marketplace_id
        in: path
        description: 'This path parameter specifies the eBay marketplace for which
          policy information is retrieved. See the following page for a list of valid
          eBay marketplace IDs: Request components.'
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ProductAdoptionPolicyResponse'
        204:
          description: No content
        400:
          description: Bad Request
        404:
          description: Not Found
        500:
          description: Internal Server Error
      security:
      - Client Credentials:
        - https://api.ebay.com/oauth/api_scope
  /marketplace/{marketplace_id}/get_return_policies:
    get:
      tags:
      - marketplace
      description: 'This method returns the eBay policies that define whether or not
        you must include a return policy for the items you list in the categories
        of a specific marketplace, plus the guidelines for creating domestic and international
        return policies in the different eBay categories. By default, this method
        returns the entire category tree for the specified marketplace. You can limit
        the size of the result set by using the filter query parameter to specify
        only the category IDs you want to review. Tip: This method can return a very
        large response payload and we strongly recommend you get the results from
        this call in a GZIP file by including the following HTTP header with your
        request: &nbsp;&nbsp;Accept-Encoding: application/gzip'
      operationId: getReturnPolicies
      produces:
      - application/json
      parameters:
      - name: filter
        in: query
        description: 'This query parameter limits the response by returning eBay policy
          information for only the leaf categories specified by this parameter. Set
          filter to a list of categoryId values. You can specify up to 50 category
          IDs by separating each with a pipe character (''|''). If you specify more
          than 50 categoryId values, eBay returns a warning along with the results
          for the first 50 IDs. If you specify a category ID that has child nodes,
          eBay returns policy information for all the leaf categories of that parent
          node. Example: filter=categoryIds:{100|101|102} Note that you must URL-encode
          the list of category ID values, which results in the following filter for
          the above example: &nbsp;&nbsp;filter=categoryIds%3A%7B100%7C101%7C102%7D'
        required: false
        type: string
      - name: marketplace_id
        in: path
        description: 'This path parameter specifies the eBay marketplace for which
          policy information is retrieved. See the following page for a list of valid
          eBay marketplace IDs: Request components.'
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ReturnPolicyResponse'
        204:
          description: No content
        400:
          description: Bad Request
        404:
          description: Not found
        500:
          description: Internal Server Error
      security:
      - Client Credentials:
        - https://api.ebay.com/oauth/api_scope
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":20:{s:20:\"SalesTaxJurisdiction\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:22:\"salesTaxJurisdictionId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"The
  unique ID for a sales tax jurisdiction.\";}}s:11:\"description\";s:41:\"A unique
  ID for a sales tax jurisdiction.\";}s:21:\"SalesTaxJurisdictions\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:21:\"salesTaxJurisdictions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:34:\"A
  list of sales tax jurisdictions.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/SalesTaxJurisdiction\";}}}s:11:\"description\";s:61:\"This
  complex type contains a list of sales tax jurisdictions.\";}s:12:\"TimeDuration\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"unit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:444:\"A
  time-measurement unit used to specify a period of time. Time-measurement units can
  be years, months, days, hours, minutes, and other time units (see TimeDurationUnitEnum
  for a complete list of possible units). The value setting is applied to the unit
  value to define a span of time. For implementation help, refer to <a href='https://developer.ebay.com/devzone/rest/api-ref/metadata/types/TimeDurationUnitEnum.html'>eBay
  API documentation</a>\";}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:89:\"An
  amount of time, as measured by the time-measurement units specified in the unit
  field.\";}}s:11:\"description\";s:87:\"A complex type that specifies a period of
  time using a specified time-measurement unit.\";}s:5:\"Error\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:8:\"category\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:817:\"The
  category type for this error or warning. It takes an ErrorCategory object which
  can have one of three values: Application: Indicates an exception or error occurred
  in the application code or at runtime. Examples include catching an exception in
  a service's business logic, system failures, or request errors from a dependency.
  Business: Used when your service or a dependent service refused to continue processing
  on the resource because of a business rule violation such as &quot;Seller does not
  ship item to Antarctica&quot; or &quot;Buyer ineligible to purchase an alcoholic
  item&quot;. Business errors are not syntactical input errors. Request: Used when
  there is anything wrong with the request, such as authentication, syntactical errors,
  rate limiting or missing headers, bad HTTP header values, and so on.\";}s:6:\"domain\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"Name
  of the domain containing the service or application.\";}s:7:\"errorId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:185:\"A
  positive integer that uniquely identifies the specific error condition that occurred.
  Your application can use error codes as identifiers in your customized error-handling
  algorithms.\";}s:11:\"inputRefIds\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:146:\"Identifies
  specific request elements associated with the error, if any. inputRefId's response
  is format specific. For JSON, use JSONPath notation.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"longMessage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:109:\"An
  expanded version of message that should be around 100-200 characters long, but is
  not required to be such.\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:260:\"An
  end user and app developer friendly device agnostic message. It explains what the
  error or warning is, and how to fix it (in a general sense). Its value is at most
  50 characters long. If applicable, the value is localized in the end user's requested
  locale.\";}s:12:\"outputRefIds\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:111:\"Identifies
  specific response elements associated with the error, if any. Path format is the
  same as inputRefId.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:10:\"parameters\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:280:\"This
  optional complex field type contains a list of one or more context-specific ErrorParameter
  objects, with each item in the list entry being a parameter (or input field name)
  that caused an error condition. Each ErrorParameter object consists of two fields,
  a name and a value.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ErrorParameter\";}}s:9:\"subdomain\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:105:\"Name
  of the domain's subsystem or subdivision. For example, checkout is a subdomain in
  the buying domain.\";}}s:11:\"description\";s:68:\"A container that defines the
  elements of error and warning messages.\";}s:14:\"ErrorParameter\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"Name
  of the entity that threw the error.\";}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"A
  description of the error.\";}}s:11:\"description\";s:32:\"Container for a error
  parameter.\";}s:34:\"AutomotivePartsCompatibilityPolicy\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"categoryId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:75:\"The
  category ID to which the automotive-parts-compatibility policies apply.\";}s:14:\"categoryTreeId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:592:\"This
  is a unique eBay-assigned value that represents the root node of the category tree
  to which the associated categoryId belongs. This value reflects the category tree
  related to the marketplace_id passed in the request. A category tree is a hierarchical
  framework of eBay categories that begins at the root node of the tree and extends
  to include all the child nodes in the tree. Each child node in the tree is an eBay
  category and each is represented by a unique categoryId value. Within a category
  tree, the root node has no parent node and leaf nodes are nodes that have no child
  nodes.\";}s:20:\"compatibilityBasedOn\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:260:\"Indicates
  whether the category supports parts compatibility by either ASSEMBLY or by SPECIFICATION.
  For implementation help, refer to <a href='https://developer.ebay.com/devzone/rest/api-ref/metadata/types/CompatibilityTypeEnum.html'>eBay
  API documentation</a>\";}s:22:\"compatibleVehicleTypes\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:89:\"Indicates
  the compatibility classification of the part based on high-level vehicle types.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:165:\"
  For implementation help, refer to <a href='https://developer.ebay.com/devzone/rest/api-ref/metadata/types/CompatibleVehicleTypeEnum.html'>eBay
  API documentation</a>\";}}s:29:\"maxNumberOfCompatibleVehicles\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:81:\"Specifies
  the maximum number of compatible vehicle-applications allowed per item.\";}}}s:42:\"AutomotivePartsCompatibilityPolicyResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:36:\"automotivePartsCompatibilityPolicies\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:105:\"A
  list of category IDs and the automotive-parts-compatibility policies for each of
  the listed categories.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:48:\"#/definitions/AutomotivePartsCompatibilityPolicy\";}}s:8:\"warnings\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:143:\"A
  list of the warnings that were generated as a result of the request. This field
  is not returned if no warnings were generated by the request.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Error\";}}}}s:9:\"Exclusion\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"brands\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:332:\"A
  list of brands that are excluded from requiring a link to the eBay Catalog for the
  associated categoryId. If productRequired is set to true, items that are of a brand
  returned in this field are excluded from the need to specify a value for the ePID
  field in their item description in order to be listed in the associated category.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:11:\"description\";s:193:\"This
  type returns a list of properties (and their associated values) that are excluded
  from requiring an ePID value (from the eBay Catalog) for items that are listed in
  the associated category.\";}s:13:\"ItemCondition\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:20:\"conditionDescription\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:399:\"The
  human-readable label for the condition (e.g., &quot;New&quot;). This value is typically
  localized for each site. Note that the display name can vary by category. For example,
  the description for condition ID 1000 could be called &quot;New: with Tags&quot;
  in one category and &quot;Brand New&quot; in another. For details on condition IDs
  and descriptions, see Item condition ID and name values.\";}s:11:\"conditionId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:137:\"The
  ID value of the selected item condition. For information on the supported condition
  ID values, see Item condition ID and name values.\";}}}s:19:\"ItemConditionPolicy\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"categoryId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:59:\"The
  category ID to which the item-condition policy applies.\";}s:14:\"categoryTreeId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:620:\"The
  value returned in this field is a unique eBay-assigned value that represents the
  root node of the category tree to which the associated categoryId belongs. This
  value reflects the category tree related to the marketplace_id passed in the request.
  A category tree is a hierarchical framework of eBay categories that begins at the
  root node of the tree and extends to include all the child nodes in the tree. Each
  child node in the tree is an eBay category and each is represented by a unique categoryId
  value. Within a category tree, the root node has no parent node and leaf nodes are
  nodes that have no child nodes.\";}s:21:\"itemConditionRequired\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:186:\"This
  flag denotes whether or not you must list the item condition in a listing for the
  specified category. If set to true, you must specify an item condition for the associated
  category.\";}s:14:\"itemConditions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:50:\"The
  item-condition values allowed in the category.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ItemCondition\";}}}}s:27:\"ItemConditionPolicyResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:21:\"itemConditionPolicies\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:113:\"A
  list of category IDs and the policies for how to indicate an item's condition in
  each of the listed categories.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/ItemConditionPolicy\";}}s:8:\"warnings\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:143:\"A
  list of the warnings that were generated as a result of the request. This field
  is not returned if no warnings were generated by the request.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Error\";}}}}s:22:\"ListingStructurePolicy\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"categoryId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:62:\"The
  category ID to which the listing-structure policy applies.\";}s:14:\"categoryTreeId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:620:\"The
  value returned in this field is a unique eBay-assigned value that represents the
  root node of the category tree to which the associated categoryId belongs. This
  value reflects the category tree related to the marketplace_id passed in the request.
  A category tree is a hierarchical framework of eBay categories that begins at the
  root node of the tree and extends to include all the child nodes in the tree. Each
  child node in the tree is an eBay category and each is represented by a unique categoryId
  value. Within a category tree, the root node has no parent node and leaf nodes are
  nodes that have no child nodes.\";}s:19:\"variationsSupported\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:155:\"This
  flag denotes whether or not the associated category supports listings with item
  variations. If set to true, the category does support item variations.\";}}}s:30:\"ListingStructurePolicyResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:24:\"listingStructurePolicies\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:106:\"A
  list of category IDs and a flag indicating whether or not each listed category supports
  item variations.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/ListingStructurePolicy\";}}s:8:\"warnings\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:143:\"A
  list of the warnings that were generated as a result of the request. This field
  is not returned if no warnings were generated by the request.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Error\";}}}}s:21:\"NegotiatedPricePolicy\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:26:\"bestOfferAutoAcceptEnabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:219:\"This
  flag denotes whether or not the category supports the setting of a price at which
  best offers are automatically accepted. If set to true, the category does support
  the setting of an automatic price for best-offers.\";}s:27:\"bestOfferAutoDeclineEnabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:209:\"This
  flag denotes whether or not the category supports the setting of an auto-decline
  price for best offers. If set to true, the category does support the setting of
  an automatic-decline price for best-offers.\";}s:23:\"bestOfferCounterEnabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:220:\"This
  flag denotes whether or not the category supports the setting for an automatic counter-offer
  on best offers. If set to true, the category does support the setting of an automatic
  counter-offer price for best-offers.\";}s:10:\"categoryId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:61:\"The
  category ID to which the negotiated-price policies apply.\";}s:14:\"categoryTreeId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:620:\"The
  value returned in this field is a unique eBay-assigned value that represents the
  root node of the category tree to which the associated categoryId belongs. This
  value reflects the category tree related to the marketplace_id passed in the request.
  A category tree is a hierarchical framework of eBay categories that begins at the
  root node of the tree and extends to include all the child nodes in the tree. Each
  child node in the tree is an eBay category and each is represented by a unique categoryId
  value. Within a category tree, the root node has no parent node and leaf nodes are
  nodes that have no child nodes.\";}}}s:29:\"NegotiatedPricePolicyResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:23:\"negotiatedPricePolicies\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:108:\"A
  list of category IDs and the policies related to negotiated-price items for each
  of the listed categories.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/NegotiatedPricePolicy\";}}s:8:\"warnings\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:143:\"A
  list of the warnings that were generated as a result of the request. This field
  is not returned if no warnings were generated by the request.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Error\";}}}}s:21:\"ProductAdoptionPolicy\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"categoryId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:52:\"The
  category ID to which the listing policies apply.\";}s:14:\"categoryTreeId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:620:\"The
  value returned in this field is a unique eBay-assigned value that represents the
  root node of the category tree to which the associated categoryId belongs. This
  value reflects the category tree related to the marketplace_id passed in the request.
  A category tree is a hierarchical framework of eBay categories that begins at the
  root node of the tree and extends to include all the child nodes in the tree. Each
  child node in the tree is an eBay category and each is represented by a unique categoryId
  value. Within a category tree, the root node has no parent node and leaf nodes are
  nodes that have no child nodes.\";}s:9:\"exclusion\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Exclusion\";}s:15:\"productRequired\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:581:\"If
  set to true, items must include an ePID value in their item description before they
  can be listed in the category identified by the associated categoryId. In contrast,
  a value of false indicates that items listed in the associated category do not require
  ePID values. Important! It is possible for a productAdoptionPolicies container to
  not contain this productRequired field. This occurs if the eBay category is not
  part of the PBSE Phase 1 or Phase 2 mandate. In these scenarios, please treat the
  response the same as if this field were present and contained a value of false.\";}}s:11:\"description\";s:290:\"This
  complex type returns a category ID and a flag that indicates whether or not items
  listed in that category require the declaration of an ePID value, which links the
  item to the eBay Catalog. The type also lists any items that are excepted from the
  requirement to included an ePID value.\";}s:29:\"ProductAdoptionPolicyResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:23:\"productAdoptionPolicies\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:314:\"A
  list of category IDs from the marketplace specified in the request where each returned
  element represents a leaf node in the category tree. Each element in the list contains
  the policies governing whether or not items listed in that category must include
  an ePID value (which links the item to the eBay Catalog).\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/ProductAdoptionPolicy\";}}s:8:\"warnings\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:143:\"A
  list of the warnings that were generated as a result of the request. This field
  is not returned if no warnings were generated by the request.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Error\";}}}s:11:\"description\";s:77:\"This
  is the response object returned by a call to getProductAdoptionPolicies.\";}s:12:\"ReturnPolicy\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"categoryId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:51:\"The
  category ID to which the return policy applies.\";}s:14:\"categoryTreeId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:620:\"The
  value returned in this field is a unique eBay-assigned value that represents the
  root node of the category tree to which the associated categoryId belongs. This
  value reflects the category tree related to the marketplace_id passed in the request.
  A category tree is a hierarchical framework of eBay categories that begins at the
  root node of the tree and extends to include all the child nodes in the tree. Each
  child node in the tree is an eBay category and each is represented by a unique categoryId
  value. Within a category tree, the root node has no parent node and leaf nodes are
  nodes that have no child nodes.\";}s:8:\"domestic\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/ReturnPolicyDetails\";}s:13:\"international\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/ReturnPolicyDetails\";}s:8:\"required\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:218:\"If
  set to true, this flag indicates that you must specify a return policy for items
  listed in the associated category. Note that not accepting returns (setting returnsAcceptedEnabled
  to false) is a valid return policy.\";}}}s:19:\"ReturnPolicyDetails\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:24:\"policyDescriptionEnabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:305:\"If
  set to true, this flag indicates you can supply a detailed return policy description
  within your return policy (for example, by populating the returnInstructions field
  in the Account API's createReturnPolicy). User-supplied return policy details are
  allowed only in the DE, ES, FR, and IT marketplaces.\";}s:13:\"refundMethods\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:61:\"A
  list of refund methods allowed for the associated category.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:156:\"
  For implementation help, refer to <a href='https://developer.ebay.com/devzone/rest/api-ref/metadata/types/RefundMethodEnum.html'>eBay
  API documentation</a>\";}}s:13:\"returnMethods\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:61:\"A
  list of return methods allowed for the associated category.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:156:\"
  For implementation help, refer to <a href='https://developer.ebay.com/devzone/rest/api-ref/metadata/types/ReturnMethodEnum.html'>eBay
  API documentation</a>\";}}s:13:\"returnPeriods\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:318:\"A
  list of return periods allowed for the associated category. Note that different
  APIs require you to enter the return period in different ways. For example, the
  Account API uses the complex TimeDuration type, which takes two values (a unit and
  a value), whereas the Trading API takes a single value (such as Days_30).\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/TimeDuration\";}}s:24:\"returnsAcceptanceEnabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:94:\"If
  set to true, this flag indicates the seller can configure how they handle domestic
  returns.\";}s:24:\"returnShippingCostPayers\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:158:\"A
  list of allowed values for who pays for the return shipping cost. Note that for
  SNAD returns, the seller is always responsible for the return shipping cost.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:167:\"
  For implementation help, refer to <a href='https://developer.ebay.com/devzone/rest/api-ref/metadata/types/ReturnShippingCostPayerEnum.html'>eBay
  API documentation</a>\";}}}s:11:\"description\";s:199:\"This container defines the
  category policies that relate to domestic and international return policies (the
  return shipping is made via a domestic or an international shipping service, respectively).\";}s:20:\"ReturnPolicyResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"returnPolicies\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:115:\"A
  list of category IDs and a flag indicating whether or not the listings in each category
  requires a return policy.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ReturnPolicy\";}}s:8:\"warnings\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:143:\"A
  list of the warnings that were generated as a result of the request. This field
  is not returned if no warnings were generated by the request.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Error\";}}}}}"
...
