---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:9:\"eBay
  Inc.\";s:9:\"x-twitter\";s:4:\"ebay\";}s:11:\"description\";s:204:\"Use the Fulfillment
  API to complete the process of packaging, addressing, handling, and shipping each
  order on behalf of the seller, in accordance with the payment method and timing
  specified at checkout.\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:26:\"eBay
  API License Agreement\";s:3:\"url\";s:51:\"https://go.developer.ebay.com/api-license-agreement\";}s:5:\"title\";s:11:\"Fulfillment\";s:7:\"version\";s:5:\"1.3.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:9:\"ecommerce\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:77:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_ebay_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:94:\"https://developer.ebay.com/api-docs/master/sell/fulfillment/openapi/2/sell_fulfillment_v1.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:8:\"ebay.com\";s:13:\"x-serviceName\";s:16:\"sell-fulfillment\";}"
host: api.ebay.com
basePath: /sell/fulfillment/v1
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":31:{s:7:\"Address\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"This
  type contains the details of a geographical address.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:12:\"addressLine1\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  first line of the street address.\";s:4:\"type\";s:6:\"string\";}s:12:\"addressLine2\";O:8:\"stdClass\":2:{s:11:\"description\";s:134:\"The
  second line of the street address. This field can be used for additional address
  information, such as a suite or apartment number.\";s:4:\"type\";s:6:\"string\";}s:4:\"city\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  city of the address.\";s:4:\"type\";s:6:\"string\";}s:11:\"countryCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:317:\"The
  country of the address, represented as two-letter ISO 3166-1 alpha-2 country code.
  For example, US represents the United States, and DE represents Germany. For implementation
  help, refer to <a href='https://developer.ebay.com/devzone/rest/api-ref/fulfillment/types/CountryCodeEnum.html'>eBay
  API documentation</a>\";s:4:\"type\";s:6:\"string\";}s:6:\"county\";O:8:\"stdClass\":2:{s:11:\"description\";s:131:\"The
  county (not the country) in which the address is located. Counties typically, but
  not always, contain multiple cities or towns.\";s:4:\"type\";s:6:\"string\";}s:10:\"postalCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  postal code (if any) of the address.\";s:4:\"type\";s:6:\"string\";}s:15:\"stateOrProvince\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"The
  state or province within the country in which the address resides.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Amount\";O:8:\"stdClass\":3:{s:11:\"description\";s:221:\"This
  type defines the monetary value of an amount. It can provide the amount in both
  the currency used on the eBay site where an item is being offered and the conversion
  of that value into another currency, if applicable.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:21:\"convertedFromCurrency\";O:8:\"stdClass\":2:{s:11:\"description\";s:395:\"A
  three-letter ISO 4217 code that indicates the currency of the amount in the convertedFromValue
  field. This value is required or returned only if currency conversion/localization
  is required, and represents the pre-conversion currency. For implementation help,
  refer to <a href='https://developer.ebay.com/devzone/rest/api-ref/fulfillment/types/CurrencyCodeEnum.html'>eBay
  API documentation</a>\";s:4:\"type\";s:6:\"string\";}s:18:\"convertedFromValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:316:\"The
  monetary amount before any conversion is performed, in the currency specified by
  the convertedFromCurrency field. This value is required or returned only if currency
  conversion/localization is required. The value field contains the converted amount
  of this value, in the currency specified by the currency field.\";s:4:\"type\";s:6:\"string\";}s:8:\"currency\";O:8:\"stdClass\":2:{s:11:\"description\";s:428:\"A
  three-letter ISO 4217 code that indicates the currency of the amount in the value
  field. If currency conversion/localization is required, this is the post-conversion
  currency of the amount in the value field. Default: The currency of the authenticated
  user's country. For implementation help, refer to <a href='https://developer.ebay.com/devzone/rest/api-ref/fulfillment/types/CurrencyCodeEnum.html'>eBay
  API documentation</a>\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:233:\"The
  monetary amount, in the currency specified by the currency field. If currency conversion/localization
  is required, this value is the converted amount, and the convertedFromValue field
  contains the amount in the original currency.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"AppliedPromotion\";O:8:\"stdClass\":3:{s:11:\"description\";s:98:\"This
  type contains information about a sales promotion or discount that is applied to
  a line item.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"A
  description of the applied promotion.\";s:4:\"type\";s:6:\"string\";}s:14:\"discountAmount\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Amount\";}s:11:\"promotionId\";O:8:\"stdClass\":2:{s:11:\"description\";s:330:\"An
  eBay-generated identifier for the promotion. This is the value generated by the
  Marketing API's Create Item Promotion call and returned as the resource identifier
  of the location code that accompanies the HTTP 201 status code. It is also returned
  by the Trading API's SetPromotionalSale call and in the PromotionalSaleID field.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Buyer\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"This
  type contains information about the buyer of an order.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"username\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  buyer's eBay user name.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"CancelRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"This
  type contains information about a buyer request to cancel an order.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:19:\"cancelCompletedDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:243:\"The
  date and time that the order cancellation was completed, if applicable. This timestamp
  is in ISO 8601 format, which uses the 24-hour Universal Coordinated Time (UTC) clock.
  Format: YYYY-MM-DDTHH:MM:SS.SSSZ Example: 2015-08-04T19:09:02.768Z\";s:4:\"type\";s:6:\"string\";}s:15:\"cancelInitiator\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"The
  party who made the initial cancellation request.\";s:4:\"type\";s:6:\"string\";}s:12:\"cancelReason\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"The
  reason why the cancelInitiator initiated the cancellation request.\";s:4:\"type\";s:6:\"string\";}s:15:\"cancelRequestId\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"The
  unique identifier of the order cancellation request.\";s:4:\"type\";s:6:\"string\";}s:18:\"cancelRequestState\";O:8:\"stdClass\":2:{s:11:\"description\";s:224:\"The
  current stage or condition of the cancellation request. For implementation help,
  refer to <a href='https://developer.ebay.com/devzone/rest/api-ref/fulfillment/types/CancelRequestStateEnum.html'>eBay
  API documentation</a>\";s:4:\"type\";s:6:\"string\";}s:19:\"cancelRequestedDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:228:\"The
  date and time that the order cancellation was requested. This timestamp is in ISO
  8601 format, which uses the 24-hour Universal Coordinated Time (UTC) clock. Format:
  YYYY-MM-DDTHH:MM:SS.SSSZ Example: 2015-08-04T19:09:02.768Z\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"CancelStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:89:\"This
  type contains information about any requests that have been made to cancel an order.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"cancelRequests\";O:8:\"stdClass\":3:{s:11:\"description\";s:251:\"Contains
  the details of one or more buyer requests to cancel the order. For the getOrders
  call: This array is returned but is always empty. For the getOrder call: This array
  is returned fully populated with information about any cancellation requests.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/CancelRequest\";}s:4:\"type\";s:5:\"array\";}s:11:\"cancelState\";O:8:\"stdClass\":2:{s:11:\"description\";s:209:\"The
  state of the order with regard to cancellation. For implementation help, refer to
  <a href='https://developer.ebay.com/devzone/rest/api-ref/fulfillment/types/CancelStateEnum.html'>eBay
  API documentation</a>\";s:4:\"type\";s:6:\"string\";}s:13:\"cancelledDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:225:\"The
  date and time the order was cancelled, if applicable. This timestamp is in ISO 8601
  format, which uses the 24-hour Universal Coordinated Time (UTC) clock. Format: YYYY-MM-DDTHH:MM:SS.SSSZ
  Example: 2015-08-04T19:09:02.768Z\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Contact\";O:8:\"stdClass\":3:{s:11:\"description\";s:98:\"This
  type contains contact information for an individual who represents (or is) a buyer
  or seller.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"companyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  contact's company name.\";s:4:\"type\";s:6:\"string\";}s:14:\"contactAddress\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Address\";}s:8:\"fullName\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  contact's full name.\";s:4:\"type\";s:6:\"string\";}s:12:\"primaryPhone\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/PhoneNumber\";}}s:4:\"type\";s:6:\"object\";}s:12:\"DeliveryCost\";O:8:\"stdClass\":3:{s:11:\"description\";s:91:\"This
  type contains a breakdown of all costs associated with the fulfillment of a line
  item.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"importCharges\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Amount\";}s:12:\"shippingCost\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Amount\";}s:25:\"shippingIntermediationFee\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Amount\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Error\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"This
  type contains a error or warning related to a call request. \";s:10:\"properties\";O:8:\"stdClass\":9:{s:8:\"category\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"The
  context or source of this error or warning.\";s:4:\"type\";s:6:\"string\";}s:6:\"domain\";O:8:\"stdClass\":2:{s:11:\"description\";s:92:\"The
  name of the domain containing the service or application. For example, sell is a
  domain.\";s:4:\"type\";s:6:\"string\";}s:7:\"errorId\";O:8:\"stdClass\":2:{s:11:\"description\";s:197:\"A
  positive integer that uniquely identifies the specific error condition that occurred.
  Your application can use these values as error code identifiers in your customized
  error-handling algorithms.\";s:4:\"type\";s:7:\"integer\";}s:11:\"inputRefIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:194:\"A
  list of one or more specific request elements (if any) associated with the error
  or warning. The format of these strings depends on the request payload format. For
  JSON, use JSONPath notation.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:11:\"longMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"An
  expanded version of the message field. Maximum length: 200 characters\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:301:\"A
  message about the error or warning which is device agnostic and readable by end
  users and application developers. It explains what the error or warning is, and
  how to fix it (in a general sense). If applicable, the value is localized to the
  end user's requested locale. Maximum length: 50 characters\";s:4:\"type\";s:6:\"string\";}s:12:\"outputRefIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:195:\"A
  list of one or more specific response elements (if any) associated with the error
  or warning. The format of these strings depends on the request payload format. For
  JSON, use JSONPath notation.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:10:\"parameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:201:\"Contains
  a list of name/value pairs that provide additional information concerning this error
  or warning. Each item in the list is an input parameter that contributed to the
  error or warning condition.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ErrorParameter\";}s:4:\"type\";s:5:\"array\";}s:9:\"subdomain\";O:8:\"stdClass\":2:{s:11:\"description\";s:110:\"The
  name of the domain's subsystem or subdivision. For example, fulfillment is a subdomain
  in the sell domain.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"ErrorParameter\";O:8:\"stdClass\":3:{s:11:\"description\";s:117:\"This
  type contains the name and value of an input parameter that contributed toa specific
  error or warning condition.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  name of the parameter.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  value of the parameter.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:27:\"FulfillmentStartInstruction\";O:8:\"stdClass\":3:{s:11:\"description\";s:443:\"This
  type contains a set of specifications for processing a fulfillment of an order,
  including the type of fulfillment, shipping carrier and service, addressing details,
  and estimated delivery window. These instructions are derived from the buyer's and
  seller's eBay account preferences, the listing parameters, and the buyer's checkout
  selections. The seller can use them as a starting point for packaging, addressing,
  and shipping the order.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:24:\"ebaySupportedFulfillment\";O:8:\"stdClass\":2:{s:11:\"description\";s:156:\"Returned
  only if true, whcih indicates that the fulfillment will be shipped via eBay's Global
  Shipping Program. For more information, see Managing Shipping.\";s:4:\"type\";s:7:\"boolean\";}s:23:\"finalDestinationAddress\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Address\";}s:27:\"fulfillmentInstructionsType\";O:8:\"stdClass\":2:{s:11:\"description\";s:388:\"The
  method of fulfillment that will be used to deliver this set of line items (this
  package) to the buyer. This field will have a value of SHIP_TO if the ebaySupportedFulfillment
  field is returned with a value of true. For implementation help, refer to <a href='https://developer.ebay.com/devzone/rest/api-ref/fulfillment/types/FulfillmentInstructionsType.html'>eBay
  API documentation</a>\";s:4:\"type\";s:6:\"string\";}s:24:\"maxEstimatedDeliveryDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:389:\"NOT
  returned if the value of the fulfillmentInstructionsType field is DIGITAL or PREPARE_FOR_PICKUP,
  or if the order has promotional free shipping. This is the estimated latest date
  that the fulfillment will be completed. This timestamp is in ISO 8601 format, which
  uses the 24-hour Universal Coordinated Time (UTC) clock. Format: YYYY-MM-DDTHH:MM:SS.SSSZ
  Example: 2015-08-04T19:09:02.768Z\";s:4:\"type\";s:6:\"string\";}s:24:\"minEstimatedDeliveryDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:391:\"NOT
  returned if the value of the fulfillmentInstructionsType field is DIGITAL or PREPARE_FOR_PICKUP,
  or if the order has promotional free shipping. This is the estimated earliest date
  that the fulfillment will be completed. This timestamp is in ISO 8601 format, which
  uses the 24-hour Universal Coordinated Time (UTC) clock. Format: YYYY-MM-DDTHH:MM:SS.SSSZ
  Example: 2015-08-04T19:09:02.768Z\";s:4:\"type\";s:6:\"string\";}s:12:\"shippingStep\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ShippingStep\";}}s:4:\"type\";s:6:\"object\";}s:11:\"GiftDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:78:\"This
  type contains information about a line item that was purchased as a gift.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"A
  gift message from the buyer to the gift recipient.\";s:4:\"type\";s:6:\"string\";}s:14:\"recipientEmail\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  email address of the gift recipient.\";s:4:\"type\";s:6:\"string\";}s:10:\"senderName\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"The
  name of the buyer to provide to the gift recipient.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"LineItem\";O:8:\"stdClass\":3:{s:11:\"description\";s:178:\"This
  type contains the details of a line item in an order. A line item consists of one
  or more units of a specific variation and version of a listed item that has been
  purchased.\";s:10:\"properties\";O:8:\"stdClass\":20:{s:17:\"appliedPromotions\";O:8:\"stdClass\":3:{s:11:\"description\";s:94:\"Contains
  information about one or more sales promotions or discounts applied to the line
  item.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/AppliedPromotion\";}s:4:\"type\";s:5:\"array\";}s:12:\"deliveryCost\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/DeliveryCost\";}s:22:\"discountedLineItemCost\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Amount\";}s:11:\"giftDetails\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/GiftDetails\";}s:12:\"legacyItemId\";O:8:\"stdClass\":2:{s:11:\"description\";s:163:\"The
  eBay-generated legacy listing item ID of the line item. This partially identifies
  the line item, but does not include the variation, version, or unit quantity.\";s:4:\"type\";s:6:\"string\";}s:17:\"legacyVariationId\";O:8:\"stdClass\":2:{s:11:\"description\";s:114:\"An
  eBay-generated string that uniquely identifies the combination of item variations
  that apply to this line item.\";s:4:\"type\";s:6:\"string\";}s:12:\"lineItemCost\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Amount\";}s:31:\"lineItemFulfillmentInstructions\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/LineItemFulfillmentInstructions\";}s:25:\"lineItemFulfillmentStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:233:\"The
  degree to which fulfillment of the line item is complete. For implementation help,
  refer to <a href='https://developer.ebay.com/devzone/rest/api-ref/fulfillment/types/LineItemFulfillmentStatusEnum.html'>eBay
  API documentation</a>\";s:4:\"type\";s:6:\"string\";}s:10:\"lineItemId\";O:8:\"stdClass\":2:{s:11:\"description\";s:416:\"The
  globally unique eBay-generated identifier of the line item. Note: A single line
  item can consist of multiple units of a purchased item, and one unit can consist
  of multiple parts or components. Although these components might be provided by
  the manufacturer in separate packaging, the seller cannot distribute them among
  multiple shipping packages. Thus, each line item ID will appear in exactly one fulfillment.\";s:4:\"type\";s:6:\"string\";}s:20:\"listingMarketplaceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:212:\"The
  eBay marketplace where the line item was listed. For implementation help, refer
  to <a href='https://developer.ebay.com/devzone/rest/api-ref/fulfillment/types/MarketplaceIdEnum.html'>eBay
  API documentation</a>\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/LineItemProperties\";}s:21:\"purchaseMarketplaceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:215:\"The
  eBay marketplace where the line item was purchased. For implementation help, refer
  to <a href='https://developer.ebay.com/devzone/rest/api-ref/fulfillment/types/MarketplaceIdEnum.html'>eBay
  API documentation</a>\";s:4:\"type\";s:6:\"string\";}s:8:\"quantity\";O:8:\"stdClass\":2:{s:11:\"description\";s:107:\"The
  number of units of the line item in the order. These are represented as a group
  by a single lineItemId.\";s:4:\"type\";s:7:\"integer\";}s:7:\"refunds\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"This
  field is reserved for internal or future use.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/LineItemRefund\";}s:4:\"type\";s:5:\"array\";}s:3:\"sku\";O:8:\"stdClass\":2:{s:11:\"description\";s:145:\"Stock
  Keeping Unit. This is the seller's inventory reference identifier, which typically
  applies to a specific variation and version of the item.\";s:4:\"type\";s:6:\"string\";}s:10:\"soldFormat\";O:8:\"stdClass\":2:{s:11:\"description\";s:196:\"The
  eBay listing type of the line item. For implementation help, refer to <a href='https://developer.ebay.com/devzone/rest/api-ref/fulfillment/types/SoldFormatEnum.html'>eBay
  API documentation</a>\";s:4:\"type\";s:6:\"string\";}s:5:\"taxes\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"Contains
  a list of taxes applied to the line item, if any.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Tax\";}s:4:\"type\";s:5:\"array\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"The
  seller's listing title for the line item.\";s:4:\"type\";s:6:\"string\";}s:5:\"total\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Amount\";}}s:4:\"type\";s:6:\"object\";}s:31:\"LineItemFulfillmentInstructions\";O:8:\"stdClass\":3:{s:11:\"description\";s:245:\"This
  type contains the specifications for processing the fulfillment of a line item,
  including the handling window and the delivery window. These fields provide guidance
  for <i>eBay Guaranteed Delivery</i> as well as for non-guaranteed delivery.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:18:\"guaranteedDelivery\";O:8:\"stdClass\":2:{s:11:\"description\";s:1049:\"A
  value of true indicates that the seller offered this line item with eBay Guaranteed
  Delivery, and the buyer purchased the line item with the Guaranteed Delivery option.
  Guaranteed Delivery is presented to the buyer for a given item listing based on
  the following criteria: The item is of a type, size, weight, and location defined
  by the seller as eligible for eBay Guaranteed Delivery in a shipping rate table.
  The seller is offering the item with eBay Guaranteed Delivery. The buyer is located
  in a destination region that can be shipped to within the delivery window of at
  least one shipping service category (e.g. One-day, Expedited, Standard, or Economy)
  for which eBay Guaranteed Delivery is offered by the seller for the item.Sellers
  who opt into handling time Guaranteed Delivery must complete handling for the line
  item before the time indicated by the shipByDate field. Sellers who opt into door-to-door
  Guaranteed Delivery must also ensure that the line item is delivered before the
  time specified by the maxEstimatedDeliveryDate field.\";s:4:\"type\";s:7:\"boolean\";}s:24:\"maxEstimatedDeliveryDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:451:\"The
  estimated latest date and time that the buyer can expect to receive the line item.
  If the value of guaranteedDelivery is true, failure to deliver by this time will
  be counted in eBay Top Rated Seller calculations for sellers who opted into door-to-door
  Guaranteed Delivery. Note: This timestamp is in ISO 8601 format, which uses the
  24-hour Universal Coordinated Time (UTC) clock. Format: YYYY-MM-DDTHH:MM:SS.SSSZ
  Example: 2015-08-04T19:09:02.768Z\";s:4:\"type\";s:6:\"string\";}s:24:\"minEstimatedDeliveryDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:262:\"The
  estimated earliest date and time that the buyer can expect to receive the line item.
  Note: This timestamp is in ISO 8601 format, which uses the 24-hour Universal Coordinated
  Time (UTC) clock. Format: YYYY-MM-DDTHH:MM:SS.SSSZ Example: 2015-08-04T19:09:02.768Z\";s:4:\"type\";s:6:\"string\";}s:10:\"shipByDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:428:\"The
  latest date and time by which this line item must be shipped. If the value of guaranteedDelivery
  is true, failure to ship by this time will be counted in eBay Top Rated Seller calculations
  for sellers who opted into handling time Guaranteed Delivery. Note: This timestamp
  is in ISO 8601 format, which uses the 24-hour Universal Coordinated Time (UTC) clock.
  Format: YYYY-MM-DDTHH:MM:SS.SSSZ Example: 2015-08-04T19:09:02.768Z\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"LineItemProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:90:\"This
  type contains information about the eBay programs under which a line item was listed.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"buyerProtection\";O:8:\"stdClass\":2:{s:11:\"description\";s:91:\"A
  value of true indicates that the line item is covered by eBay's Buyer Protection
  program.\";s:4:\"type\";s:7:\"boolean\";}s:13:\"fromBestOffer\";O:8:\"stdClass\":2:{s:11:\"description\";s:140:\"Note:
  This field is always returned, but its value is not currently reliable (always false).
  It will become significant in a future release.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:17:\"LineItemReference\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"This
  type identifies a line item in an order.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"lineItemId\";O:8:\"stdClass\":2:{s:11:\"description\";s:416:\"The
  globally unique eBay-generated identifier of the line item. Note: A single line
  item can consist of multiple units of a purchased item, and one unit can consist
  of multiple parts or components. Although these components might be provided by
  the manufacturer in separate packaging, the seller cannot distribute them among
  multiple shipping packages. Thus, each line item ID will appear in exactly one fulfillment.\";s:4:\"type\";s:6:\"string\";}s:8:\"quantity\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"This
  field is reserved for internal or future use.\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:14:\"LineItemRefund\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"This
  type is reserved for internal or future use.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"amount\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Amount\";}s:10:\"refundDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"This
  field is reserved for internal or future use.\";s:4:\"type\";s:6:\"string\";}s:17:\"refundReferenceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"This
  field is reserved for internal or future use.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Order\";O:8:\"stdClass\":3:{s:11:\"description\";s:179:\"This
  type contains the details of an order, including information about the buyer, order
  history, shipping fulfillments, line items, costs, payments, and order fulfillment
  status.\";s:10:\"properties\";O:8:\"stdClass\":14:{s:5:\"buyer\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Buyer\";}s:18:\"buyerCheckoutNotes\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"Comments
  about the order (if any) provided by the buyer at checkout.\";s:4:\"type\";s:6:\"string\";}s:12:\"cancelStatus\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/CancelStatus\";}s:12:\"creationDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:213:\"The
  date and time that the order was created. This timestamp is in ISO 8601 format,
  which uses the 24-hour Universal Coordinated Time (UTC) clock. Format: YYYY-MM-DDTHH:MM:SS.SSSZ
  Example: 2015-08-04T19:09:02.768Z\";s:4:\"type\";s:6:\"string\";}s:16:\"fulfillmentHrefs\";O:8:\"stdClass\":3:{s:11:\"description\";s:226:\"Contains
  a list of one or more hypertext references in the form of URLs. Each URL can be
  used to invoke the Get Shipping Fulfillment call to retrieve the details of each
  fulfillment, if any, that is associated with this order.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:28:\"fulfillmentStartInstructions\";O:8:\"stdClass\":3:{s:11:\"description\";s:447:\"Contains
  a list of one or more sets of specifications for fulfilling the order. Each set
  specifies the type of fulfillment, shipping carrier and service, addressing details,
  and estimated delivery window. These instructions are derived from the buyer's and
  seller's eBay account preferences, the listing parameters, and the buyer's checkout
  selections. The seller can use them as a starting point for packaging, addressing,
  and shipping the order.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/FulfillmentStartInstruction\";}s:4:\"type\";s:5:\"array\";}s:16:\"lastModifiedDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:218:\"The
  date and time that the order was last modified.This timestamp is in ISO 8601 format,
  which uses the 24-hour Universal Coordinated Time (UTC) clock. Format: YYYY-MM-DDTHH:MM:SS.SSSZ
  Example: 2015-08-04T19:09:02.768Z\";s:4:\"type\";s:6:\"string\";}s:9:\"lineItems\";O:8:\"stdClass\":3:{s:11:\"description\";s:191:\"Contains
  the details of one or more line items that comprise the order. A line item consists
  of one or more units of a specific variation and version of a listed item that has
  been purchased.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/LineItem\";}s:4:\"type\";s:5:\"array\";}s:22:\"orderFulfillmentStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:222:\"The
  degree to which fulfillment of the order is complete. For implementation help, refer
  to <a href='https://developer.ebay.com/devzone/rest/api-ref/fulfillment/types/OrderFulfillmentStatus.html'>eBay
  API documentation</a>\";s:4:\"type\";s:6:\"string\";}s:7:\"orderId\";O:8:\"stdClass\":2:{s:11:\"description\";s:348:\"The
  unique identifier of the order. This value was originally generated by eBay as a
  result of the buyer's checkout process; for example, 170009092860-9849164007!140000000544476.
  Note: The value of this field is not formatted the same way as the value of the
  Trading API's OrderId field. Do not attempt to use this field's value in the Trading
  API.\";s:4:\"type\";s:6:\"string\";}s:18:\"orderPaymentStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:263:\"The
  current status of all monetary exchanges (payment by buyer and refund to buyer)
  for the order. For implementation help, refer to <a href='https://developer.ebay.com/devzone/rest/api-ref/fulfillment/types/OrderPaymentStatusEnum.html'>eBay
  API documentation</a>\";s:4:\"type\";s:6:\"string\";}s:14:\"paymentSummary\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/PaymentSummary\";}s:14:\"pricingSummary\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/PricingSummary\";}s:8:\"sellerId\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"The
  eBay ID of the seller who sold the order.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"OrderRefund\";O:8:\"stdClass\":3:{s:11:\"description\";s:113:\"This
  type contains information about a refund issued for an order. This does not include
  line item level refunds.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"amount\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Amount\";}s:10:\"refundDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:213:\"The
  date and time that the refund was issued. This timestamp is in ISO 8601 format,
  which uses the 24-hour Universal Coordinated Time (UTC) clock. Format: YYYY-MM-DDTHH:MM:SS.SSSZ
  Example: 2015-08-04T19:09:02.768Z\";s:4:\"type\";s:6:\"string\";}s:17:\"refundReferenceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"The
  eBay-generated identifier for the refund\";s:4:\"type\";s:6:\"string\";}s:12:\"refundStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:220:\"The
  degree of completion of a refund being made to the buyer. For implementation help,
  refer to <a href='https://developer.ebay.com/devzone/rest/api-ref/fulfillment/types/RefundStatusEnum.html'>eBay
  API documentation</a>\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:26:\"OrderSearchPagedCollection\";O:8:\"stdClass\":3:{s:11:\"description\";s:456:\"This
  type contains the specifications for the collection of orders that match the search
  or filter criteria of a <b>getOrders</b> call. The collection is grouped into <i>result
  sets</i> (pages) of manageable size, and each execution of the call returns one
  result set. The <b>OrderSearchPagedCollection</b> fields provide the information
  necessary to navigate through all of these result sets, as well as the contents
  of the currently specified result set.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:4:\"href\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"The
  URI of the getOrders call request that produced this result set.\";s:4:\"type\";s:6:\"string\";}s:5:\"limit\";O:8:\"stdClass\":2:{s:11:\"description\";s:296:\"The
  maximum number of orders returned in the current result set. Note: If this is the
  last or only result set in the collection, it may contain fewer orders. To determine
  the number of result sets in the collection, divide this into the value of total
  and round up to the next integer.Default: 50\";s:4:\"type\";s:7:\"integer\";}s:4:\"next\";O:8:\"stdClass\":2:{s:11:\"description\";s:170:\"The
  getOrders call URI for the next result set. For example, the following URI returns
  records 41 thru 50 from the collection of orders: path/order?limit=10&amp;offset=40\";s:4:\"type\";s:6:\"string\";}s:6:\"offset\";O:8:\"stdClass\":2:{s:11:\"description\";s:494:\"The
  distance (number of records) from the first order in the collection to the first
  order in this result set. In the request, you can use the offset parameter in conjunction
  with the limit parameter to control the pagination of the output. For example, if
  offset is set to 30 and limit is set to 10, the call retrieves orders 31 thru 40
  from the resulting collection of orders. Note: This feature employs a zero-based
  list, where the first item in the list has an offset of 0.Default: 0 (zero)\";s:4:\"type\";s:7:\"integer\";}s:6:\"orders\";O:8:\"stdClass\":3:{s:11:\"description\";s:256:\"Contains
  the array of orders in the current result set. The details of each order include
  information about the buyer, order history, shipping fulfillments, line items, costs,
  payments, and order fulfillment status. The orders are sorted by orders.orderId.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Order\";}s:4:\"type\";s:5:\"array\";}s:4:\"prev\";O:8:\"stdClass\":2:{s:11:\"description\";s:273:\"The
  getOrders call URI for the previous result set. For example, the following URI returns
  orders 21 thru 30 from the collection of orders: path/order?limit=10&amp;offset=20
  Note: This feature employs a zero-based list, where the first order in the list
  has an offset of 0.\";s:4:\"type\";s:6:\"string\";}s:5:\"total\";O:8:\"stdClass\":2:{s:11:\"description\";s:117:\"The
  total number of orders in the collection. Note: If no orders are found, this field
  is returned with a value of 0.\";s:4:\"type\";s:7:\"integer\";}s:8:\"warnings\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"Contains
  warnings related to this call request. This is usually empty.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Error\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Payment\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"Contains
  information about a payment made for an order.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:6:\"amount\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Amount\";}s:11:\"paymentDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:230:\"The
  date and time that the payment was received by the seller. This timestamp is in
  ISO 8601 format, which uses the 24-hour Universal Coordinated Time (UTC) clock.
  Format: YYYY-MM-DDTHH:MM:SS.SSSZ Example: 2015-08-04T19:09:02.768Z\";s:4:\"type\";s:6:\"string\";}s:12:\"paymentHolds\";O:8:\"stdClass\":3:{s:11:\"description\";s:356:\"Contains
  information about a hold (if any) placed on some or all of the payment, including
  the reason why the payment for the order is being held, the expected release date
  of the funds into the seller's account, the current state of the hold, and if the
  payment has been released, the actual release date. This container is returned only
  if a hold exists.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/PaymentHold\";}s:4:\"type\";s:5:\"array\";}s:13:\"paymentMethod\";O:8:\"stdClass\":2:{s:11:\"description\";s:205:\"The
  method by which the payment was made. For implementation help, refer to <a href='https://developer.ebay.com/devzone/rest/api-ref/fulfillment/types/PaymentMethodTypeEnum.html'>eBay
  API documentation</a>\";s:4:\"type\";s:6:\"string\";}s:18:\"paymentReferenceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:119:\"Returned
  only if the value of paymentMethod is PAYPAL. This field contains the PayPal-generated
  transaction identifier.\";s:4:\"type\";s:6:\"string\";}s:13:\"paymentStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:200:\"The
  degree of completion of the payment. For implementation help, refer to <a href='https://developer.ebay.com/devzone/rest/api-ref/fulfillment/types/PaymentStatusEnum.html'>eBay
  API documentation</a>\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"PaymentHold\";O:8:\"stdClass\":3:{s:11:\"description\";s:415:\"This
  type contains information about a hold placed on a payment to a seller for an order,
  including the reason why the buyer's payment for the order is being held, the expected
  release date of the funds into the seller's account, the current state of the hold,
  and the actual release date if the payment has been released, and possible actions
  the seller can take to expedite the payout of funds into their account.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:19:\"expectedReleaseDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:255:\"The
  date and time that the payment being held is expected to be released to the seller.
  This timestamp is in ISO 8601 format, which uses the 24-hour Universal Coordinated
  Time (UTC) clock. Format: YYYY-MM-DDTHH:MM:SS.SSSZ Example: 2015-08-04T19:09:02.768Z\";s:4:\"type\";s:6:\"string\";}s:10:\"holdAmount\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Amount\";}s:10:\"holdReason\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"The
  reason that the payment is being held.\";s:4:\"type\";s:6:\"string\";}s:9:\"holdState\";O:8:\"stdClass\":2:{s:11:\"description\";s:147:\"The
  current stage or condition of the hold. Applicable values: HELD HELD_PENDING NOT_HELD
  RELEASE_CONFIRMED RELEASE_FAILED RELEASE_PENDING RELEASED\";s:4:\"type\";s:6:\"string\";}s:11:\"releaseDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:250:\"The
  date and time that the payment being held was actually released to the seller. This
  timestamp is in ISO 8601 format, which uses the 24-hour Universal Coordinated Time
  (UTC) clock. Format: YYYY-MM-DDTHH:MM:SS.SSSZ Example: 2015-08-04T19:09:02.768Z\";s:4:\"type\";s:6:\"string\";}s:22:\"sellerActionsToRelease\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"A
  list of actions the seller can take to release the hold on the payment.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/SellerActionsToRelease\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:14:\"PaymentSummary\";O:8:\"stdClass\":3:{s:11:\"description\";s:116:\"This
  type contains information about the various monetary exchanges that apply to the
  net balance due for the order.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"payments\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"Contains
  a list of payments made for the order, if any.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Payment\";}s:4:\"type\";s:5:\"array\";}s:7:\"refunds\";O:8:\"stdClass\":3:{s:11:\"description\";s:103:\"Contains
  a list of refunds issued for the order, if any. This does not include line item
  level refunds.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/OrderRefund\";}s:4:\"type\";s:5:\"array\";}s:14:\"totalDueSeller\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Amount\";}}s:4:\"type\";s:6:\"object\";}s:11:\"PhoneNumber\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"This
  type contains a string field representing a telephone number.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"phoneNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  telephone number.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"PricingSummary\";O:8:\"stdClass\":3:{s:11:\"description\";s:120:\"This
  type contains a summary of costs and charges for an order, including price, adjustments,
  taxes, and delivery costs.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:10:\"adjustment\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Amount\";}s:12:\"deliveryCost\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Amount\";}s:16:\"deliveryDiscount\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Amount\";}s:3:\"fee\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Amount\";}s:21:\"priceDiscountSubtotal\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Amount\";}s:13:\"priceSubtotal\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Amount\";}s:3:\"tax\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Amount\";}s:5:\"total\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Amount\";}}s:4:\"type\";s:6:\"object\";}s:22:\"SellerActionsToRelease\";O:8:\"stdClass\":3:{s:11:\"description\";s:103:\"A
  possible action that a seller can take to release a hold placed on a payment intended
  for the seller.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:21:\"sellerActionToRelease\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"An
  action the seller can take to release the hold.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"ShippingFulfillment\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"This
  type contains the complete details of an existing fulfillment for an order.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:13:\"fulfillmentId\";O:8:\"stdClass\":2:{s:11:\"description\";s:157:\"The
  unique identifier of the fulfillment; for example, 9405509699937003457459. This
  eBay-generated value was created by the Create Shipping Fulfillment call.\";s:4:\"type\";s:6:\"string\";}s:9:\"lineItems\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"Contains
  a list of the line items to which the fulfillment applies.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/LineItemReference\";}s:4:\"type\";s:5:\"array\";}s:22:\"shipmentTrackingNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"The
  tracking number provided by the shipping carrier for this fulfillment.\";s:4:\"type\";s:6:\"string\";}s:11:\"shippedDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:227:\"The
  date and time that the fulfillment package was shipped. This timestamp is in ISO
  8601 format, which uses the 24-hour Universal Coordinated Time (UTC) clock. Format:
  YYYY-MM-DDTHH:MM:SS.SSSZ Example: 2015-08-04T19:09:02.768Z\";s:4:\"type\";s:6:\"string\";}s:19:\"shippingCarrierCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:261:\"The
  eBay code identifying the shipping carrier for this fulfillment. Note: The Trading
  API's ShippingCarrierCodeType enumeration contains the most current list of eBay
  shipping carrier codes and the countries served by each carrier. See ShippingCarrierCodeType.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:26:\"ShippingFulfillmentDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"This
  type contains the details for creating a fulfillment for an order.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"lineItems\";O:8:\"stdClass\":3:{s:11:\"description\";s:89:\"Contains
  a list of the line items (or their components) to which the fulfillment applies.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/LineItemReference\";}s:4:\"type\";s:5:\"array\";}s:11:\"shippedDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:95:\"The
  date and time that the fulfillment package was shipped. Default: The current date
  and time.\";s:4:\"type\";s:6:\"string\";}s:19:\"shippingCarrierCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:373:\"The
  code identifying the shipping carrier for this fulfillment. This field and the trackingNumber
  field are mutually dependent. If you include one, you must also include the other.
  Note: The Trading API's ShippingCarrierCodeType enumeration contains the most current
  list of eBay shipping carrier codes and the countries served by each carrier. See
  ShippingCarrierCodeType.\";s:4:\"type\";s:6:\"string\";}s:14:\"trackingNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:487:\"The
  tracking number provided by the shipping carrier for this fulfillment. This field
  and the shippingCarrierCode field are mutually dependent. If you include one, you
  must also include the other. Note: If you include trackingNumber (and shippingCarrierCode)
  in the request, the resulting fulfillment's ID (returned in the HTTP location code)
  is the tracking number. If you do not include the tracking number, the resulting
  fulfillment ID will default to an arbitrary number such as 999.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:34:\"ShippingFulfillmentPagedCollection\";O:8:\"stdClass\":3:{s:11:\"description\";s:269:\"This
  type contains the specifications for the entire collection of shipping fulfillments
  that are associated with the order specified by a <b>getShippingFulfillments</b>
  call. The <b>fulfillments</b> container returns an array of all the fulfillments
  in the collection.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"fulfillments\";O:8:\"stdClass\":3:{s:11:\"description\";s:123:\"Contains
  an array of all the fulfillments returned by this call. The fulfillments are sorted
  by fulfillments.fulfillmentId.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/ShippingFulfillment\";}s:4:\"type\";s:5:\"array\";}s:5:\"total\";O:8:\"stdClass\":2:{s:11:\"description\";s:143:\"The
  total number of fulfillments in the collection. Note: If no fulfillments are found
  for the order, this field is returned with a value of 0.\";s:4:\"type\";s:7:\"integer\";}s:8:\"warnings\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"Contains
  warnings related to this call request. This is usually empty.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Error\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:12:\"ShippingStep\";O:8:\"stdClass\":3:{s:11:\"description\";s:167:\"This
  type contains shipping information for a fulfillment, including the carrier, the
  service, the shipment destination, and the Global Shipping Program reference ID.
  \";s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"shipTo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Contact\";}s:17:\"shipToReferenceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:674:\"Returned
  only if the value of fulfillmentStartInstructions.ebaySupportedFulfillment is true,
  this field identifies this shipment for use with the Global Shipping Program. The
  international shipping provider uses the shipToReferenceId value as the primary
  reference to retrieve the relevant details about the buyer, the order, and the fulfillment,
  so the shipment can be completed. Sellers must include this value on the shipping
  label immediately above the street address of the international shipping provider.
  Example: &quot;Reference #1234567890123456&quot; Note: This value is the same as
  the ShipToAddress.ReferenceID value returned by the Trading API's GetOrders call.\";s:4:\"type\";s:6:\"string\";}s:19:\"shippingCarrierCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:256:\"The
  code identifying the shipping carrier for this fulfillment. Note: The Trading API's
  ShippingCarrierCodeType enumeration contains the most current list of eBay shipping
  carrier codes and the countries served by each carrier. See ShippingCarrierCodeType.\";s:4:\"type\";s:6:\"string\";}s:19:\"shippingServiceCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:383:\"The
  eBay code identifying the shipping service used for this fulfillment. Note: To get
  a complete list of available shipping services, applications should call the Trading
  API's GeteBayDetails call with a DetailName value of ShippingServiceDetails. To
  check for the shipping services available for a specific site, specify the site
  ID in the header. See also ShippingServiceCodeType.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:3:\"Tax\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"This
  type contains information about any tax applied to a line item.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"amount\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Amount\";}}s:4:\"type\";s:6:\"object\";}}"
...
