---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":4:{s:7:\"contact\";O:8:\"stdClass\":3:{s:4:\"name\";s:10:\"Eric
  Broda\";s:3:\"url\";s:3:\"N/A\";s:5:\"email\";s:20:\"ericbroda@rogers.com\";}s:7:\"version\";s:6:\"v3_0_0\";s:11:\"description\";s:247:\"An
  Open Source API for Banks.  (c) TESOBE Ltd. 2011 - 2016. Licensed under the AGPL
  and commercial licences.  Decomposed from Master PSD2 Swagger (http://psd2.it/#psd2apps).
  \ Generated by psd2-generator: https://github.com/ericbroda/psd2-generator\";s:5:\"title\";s:30:\"API
  URI: /message-docs/mar2017\";}"
host: apisandbox.openbankproject.com
basePath: /obp/v3_0_0
paths:
  /message-docs/mar2017:
    get:
      tags:
      - "2_2_0"
      summary: Get Message Docs
      description: '<p>These message docs provide example messages sent by OBP to
        the (Kafka) message queue for processing by the Core Banking / Payment system
        Adapter - together with an example expected response and possible error codes.  Integrators
        can use these messages to build Adapters that provide core banking services
        to OBP.  Note: To enable Kafka connector and this message format, you must
        set conenctor=kafka_vMar2017 in your Props</p>'
      operationId: v2_2_0-getMessageDocs
      parameters: []
      responses:
        200:
          description: Success
          schema:
            required:
            - messageDocs
            properties:
              messageDocs:
                type: array
                items:
                  required:
                  - process
                  - message_format
                  - description
                  - example_outbound_message
                  - example_inbound_message
                  properties:
                    example_inbound_message:
                      type: string
                      example: ""
                    description:
                      type: string
                      example: get Banks
                    process:
                      type: string
                      example: getBanks
                    message_format:
                      type: string
                      example: KafkaV2017
                    example_outbound_message:
                      type: string
                      example: ""
        400:
          description: Error
          schema:
            properties:
              message:
                type: string
                example: 'OBP-50000: Unknown Error.'
      security:
      - PSUOAuth2Security:
        - Message-docsMar2017.all
schemes:
- http
- https
...
