---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":4:{s:7:\"contact\";O:8:\"stdClass\":3:{s:4:\"name\";s:10:\"Eric
  Broda\";s:3:\"url\";s:3:\"N/A\";s:5:\"email\";s:20:\"ericbroda@rogers.com\";}s:7:\"version\";s:6:\"v3_0_0\";s:11:\"description\";s:247:\"An
  Open Source API for Banks.  (c) TESOBE Ltd. 2011 - 2016. Licensed under the AGPL
  and commercial licences.  Decomposed from Master PSD2 Swagger (http://psd2.it/#psd2apps).
  \ Generated by psd2-generator: https://github.com/ericbroda/psd2-generator\";s:5:\"title\";s:31:\"API
  URI: /banks/{BANK_ID}/cards\";}"
host: apisandbox.openbankproject.com
basePath: /obp/v3_0_0
paths:
  /banks/{BANK_ID}/cards:
    get:
      tags:
      - "1_3_0"
      summary: Get cards for the specified bank
      description: ""
      operationId: v1_3_0-getCardsForBank
      parameters:
      - in: path
        name: BANK_ID
        description: The bank id
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            required:
            - cards
            properties:
              cards:
                type: array
                items:
                  required:
                  - bank_id
                  - bank_card_number
                  - name_on_card
                  - issue_number
                  - serial_number
                  - valid_from_date
                  - expires_date
                  - enabled
                  - cancelled
                  - on_hot_list
                  - technology
                  - networks
                  - allows
                  - account
                  - replacement
                  - pin_reset
                  - collected
                  - posted
                  properties:
                    allows:
                      type: array
                      items:
                        type: string
                    expires_date:
                      type: string
                      format: date
                      example: Tue Jan 22 00:08:00 UTC 2013
                    networks:
                      type: array
                      items:
                        type: string
                    issue_number:
                      type: string
                      example: String
                    replacement:
                      required:
                      - requested_date
                      - reason_requested
                      properties:
                        reason_requested:
                          type: string
                          example: Good Point
                        requested_date:
                          type: string
                          format: date
                          example: Tue Jan 22 00:08:00 UTC 2013
                    enabled:
                      type: boolean
                      example: "true"
                    collected:
                      type: string
                      format: date
                      example: Tue Jan 22 00:08:00 UTC 2013
                    technology:
                      type: string
                      example: String
                    cancelled:
                      type: boolean
                      example: "true"
                    bank_id:
                      type: string
                      example: String
                    pin_reset:
                      type: array
                      items:
                        required:
                        - requested_date
                        - reason_requested
                        properties:
                          reason_requested:
                            type: string
                            example: forgot
                          requested_date:
                            type: string
                            format: date
                            example: Tue Jan 22 00:08:00 UTC 2013
                    serial_number:
                      type: string
                      example: String
                    account:
                      required:
                      - id
                      - label
                      - views_available
                      - bank_id
                      properties:
                        bank_id:
                          type: string
                          example: gh.uk.db
                        views_available:
                          type: array
                          items:
                            required:
                            - id
                            - short_name
                            - description
                            - is_public
                            - alias
                            - hide_metadata_if_alias_used
                            - can_add_comment
                            - can_add_corporate_location
                            - can_add_image
                            - can_add_image_url
                            - can_add_more_info
                            - can_add_open_corporates_url
                            - can_add_physical_location
                            - can_add_private_alias
                            - can_add_public_alias
                            - can_add_tag
                            - can_add_url
                            - can_add_where_tag
                            - can_delete_comment
                            - can_delete_corporate_location
                            - can_delete_image
                            - can_delete_physical_location
                            - can_delete_tag
                            - can_delete_where_tag
                            - can_edit_owner_comment
                            - can_see_bank_account_balance
                            - can_see_bank_account_bank_name
                            - can_see_bank_account_currency
                            - can_see_bank_account_iban
                            - can_see_bank_account_label
                            - can_see_bank_account_national_identifier
                            - can_see_bank_account_number
                            - can_see_bank_account_owners
                            - can_see_bank_account_swift_bic
                            - can_see_bank_account_type
                            - can_see_comments
                            - can_see_corporate_location
                            - can_see_image_url
                            - can_see_images
                            - can_see_more_info
                            - can_see_open_corporates_url
                            - can_see_other_account_bank_name
                            - can_see_other_account_iban
                            - can_see_other_account_kind
                            - can_see_other_account_metadata
                            - can_see_other_account_national_identifier
                            - can_see_other_account_number
                            - can_see_other_account_swift_bic
                            - can_see_owner_comment
                            - can_see_physical_location
                            - can_see_private_alias
                            - can_see_public_alias
                            - can_see_tags
                            - can_see_transaction_amount
                            - can_see_transaction_balance
                            - can_see_transaction_currency
                            - can_see_transaction_description
                            - can_see_transaction_finish_date
                            - can_see_transaction_metadata
                            - can_see_transaction_other_bank_account
                            - can_see_transaction_start_date
                            - can_see_transaction_this_bank_account
                            - can_see_transaction_type
                            - can_see_url
                            - can_see_where_tag
                            properties:
                              can_see_transaction_start_date:
                                type: boolean
                                example: "true"
                              can_add_url:
                                type: boolean
                                example: "true"
                              can_add_where_tag:
                                type: boolean
                                example: "true"
                              can_see_transaction_this_bank_account:
                                type: boolean
                                example: "true"
                              can_see_bank_account_owners:
                                type: boolean
                                example: "true"
                              can_see_private_alias:
                                type: boolean
                                example: "true"
                              can_edit_owner_comment:
                                type: boolean
                                example: "true"
                              can_see_other_account_national_identifier:
                                type: boolean
                                example: "true"
                              can_see_public_alias:
                                type: boolean
                                example: "true"
                              can_see_physical_location:
                                type: boolean
                                example: "true"
                              can_see_owner_comment:
                                type: boolean
                                example: "true"
                              can_see_bank_account_iban:
                                type: boolean
                                example: "true"
                              can_see_corporate_location:
                                type: boolean
                                example: "true"
                              can_see_bank_account_number:
                                type: boolean
                                example: "true"
                              can_see_other_account_bank_name:
                                type: boolean
                                example: "true"
                              description:
                                type: string
                                example: description
                              can_see_transaction_other_bank_account:
                                type: boolean
                                example: "true"
                              can_delete_corporate_location:
                                type: boolean
                                example: "true"
                              can_see_comments:
                                type: boolean
                                example: "true"
                              can_see_bank_account_bank_name:
                                type: boolean
                                example: "true"
                              can_add_more_info:
                                type: boolean
                                example: "true"
                              can_see_other_account_number:
                                type: boolean
                                example: "true"
                              can_see_other_account_swift_bic:
                                type: boolean
                                example: "true"
                              can_add_open_corporates_url:
                                type: boolean
                                example: "true"
                              can_see_other_account_kind:
                                type: boolean
                                example: "true"
                              can_delete_physical_location:
                                type: boolean
                                example: "true"
                              can_see_bank_account_label:
                                type: boolean
                                example: "true"
                              can_see_transaction_currency:
                                type: boolean
                                example: "true"
                              is_public:
                                type: boolean
                                example: "true"
                              can_see_transaction_finish_date:
                                type: boolean
                                example: "true"
                              can_add_tag:
                                type: boolean
                                example: "true"
                              can_see_images:
                                type: boolean
                                example: "true"
                              can_see_bank_account_currency:
                                type: boolean
                                example: "true"
                              hide_metadata_if_alias_used:
                                type: boolean
                                example: "true"
                              can_delete_where_tag:
                                type: boolean
                                example: "true"
                              alias:
                                type: string
                                example: None
                              can_add_image_url:
                                type: boolean
                                example: "true"
                              can_add_comment:
                                type: boolean
                                example: "true"
                              can_see_image_url:
                                type: boolean
                                example: "true"
                              id:
                                type: string
                                example: "123"
                              can_see_bank_account_national_identifier:
                                type: boolean
                                example: "true"
                              can_see_tags:
                                type: boolean
                                example: "true"
                              can_see_open_corporates_url:
                                type: boolean
                                example: "true"
                              short_name:
                                type: string
                                example: short_name
                              can_delete_tag:
                                type: boolean
                                example: "true"
                              can_see_more_info:
                                type: boolean
                                example: "true"
                              can_see_transaction_metadata:
                                type: boolean
                                example: "true"
                              can_delete_comment:
                                type: boolean
                                example: "true"
                              can_see_where_tag:
                                type: boolean
                                example: "true"
                              can_add_private_alias:
                                type: boolean
                                example: "true"
                              can_add_public_alias:
                                type: boolean
                                example: "true"
                              can_see_bank_account_swift_bic:
                                type: boolean
                                example: "true"
                              can_add_image:
                                type: boolean
                                example: "true"
                              can_see_transaction_type:
                                type: boolean
                                example: "true"
                              can_see_other_account_iban:
                                type: boolean
                                example: "true"
                              can_add_physical_location:
                                type: boolean
                                example: "true"
                              can_add_corporate_location:
                                type: boolean
                                example: "true"
                              can_delete_image:
                                type: boolean
                                example: "true"
                              can_see_url:
                                type: boolean
                                example: "true"
                              can_see_bank_account_balance:
                                type: boolean
                                example: "true"
                              can_see_transaction_balance:
                                type: boolean
                                example: "true"
                              can_see_transaction_amount:
                                type: boolean
                                example: "true"
                              can_see_other_account_metadata:
                                type: boolean
                                example: "true"
                              can_see_bank_account_type:
                                type: boolean
                                example: "true"
                              can_see_transaction_description:
                                type: boolean
                                example: "true"
                        label:
                          type: string
                          example: OBP
                        id:
                          type: string
                          example: "123"
                    valid_from_date:
                      type: string
                      format: date
                      example: Tue Jan 22 00:08:00 UTC 2013
                    bank_card_number:
                      type: string
                      example: String
                    name_on_card:
                      type: string
                      example: String
                    posted:
                      type: string
                      format: date
                      example: Tue Jan 22 00:08:00 UTC 2013
                    on_hot_list:
                      type: boolean
                      example: "true"
        400:
          description: Error
          schema:
            properties:
              message:
                type: string
                example: 'OBP-20001: User not logged in. Authentication is required!'
      security:
      - PSUOAuth2Security:
        - BanksByBankIdCards.all
    post:
      tags:
      - "2_1_0"
      summary: Create Card
      description: <p>Create Card at bank specified by BANK_ID .</p><p>Authentication
        is Mandatory</p>
      operationId: v2_1_0-addCardsForBank
      parameters:
      - in: body
        name: body
        description: BANK_BODY
        required: true
        schema:
          required:
          - bank_card_number
          - name_on_card
          - issue_number
          - serial_number
          - valid_from_date
          - expires_date
          - enabled
          - cancelled
          - on_hot_list
          - technology
          - networks
          - allows
          - account_id
          - replacement
          - pin_reset
          - collected
          - posted
          properties:
            allows:
              type: array
              items:
                type: string
            expires_date:
              type: string
              format: date
              example: Tue Jan 22 00:08:00 UTC 2013
            networks:
              type: array
              items:
                type: string
            issue_number:
              type: string
              example: String
            replacement:
              required:
              - requested_date
              - reason_requested
              properties:
                reason_requested:
                  type: string
                  example: Good Point
                requested_date:
                  type: string
                  format: date
                  example: Tue Jan 22 00:08:00 UTC 2013
            enabled:
              type: boolean
              example: "true"
            collected:
              type: string
              format: date
              example: Tue Jan 22 00:08:00 UTC 2013
            technology:
              type: string
              example: String
            cancelled:
              type: boolean
              example: "true"
            account_id:
              type: string
              example: String
            pin_reset:
              type: array
              items:
                required:
                - requested_date
                - reason_requested
                properties:
                  reason_requested:
                    type: string
                    example: forgot
                  requested_date:
                    type: string
                    format: date
                    example: Tue Jan 22 00:08:00 UTC 2013
            serial_number:
              type: string
              example: String
            valid_from_date:
              type: string
              format: date
              example: Tue Jan 22 00:08:00 UTC 2013
            bank_card_number:
              type: string
              example: String
            name_on_card:
              type: string
              example: String
            posted:
              type: string
              format: date
              example: Tue Jan 22 00:08:00 UTC 2013
            on_hot_list:
              type: boolean
              example: "true"
      - in: path
        name: BANK_ID
        description: The bank id
        required: true
        type: string
      responses:
        201:
          description: Success
          schema:
            required:
            - bank_id
            - bank_card_number
            - name_on_card
            - issue_number
            - serial_number
            - valid_from_date
            - expires_date
            - enabled
            - cancelled
            - on_hot_list
            - technology
            - networks
            - allows
            - account
            - replacement
            - pin_reset
            - collected
            - posted
            properties:
              allows:
                type: array
                items:
                  type: string
              expires_date:
                type: string
                format: date
                example: Tue Jan 22 00:08:00 UTC 2013
              networks:
                type: array
                items:
                  type: string
              issue_number:
                type: string
                example: String
              replacement:
                required:
                - requested_date
                - reason_requested
                properties:
                  reason_requested:
                    type: string
                    example: Good Point
                  requested_date:
                    type: string
                    format: date
                    example: Tue Jan 22 00:08:00 UTC 2013
              enabled:
                type: boolean
                example: "true"
              collected:
                type: string
                format: date
                example: Tue Jan 22 00:08:00 UTC 2013
              technology:
                type: string
                example: String
              cancelled:
                type: boolean
                example: "true"
              bank_id:
                type: string
                example: String
              pin_reset:
                type: array
                items:
                  required:
                  - requested_date
                  - reason_requested
                  properties:
                    reason_requested:
                      type: string
                      example: forgot
                    requested_date:
                      type: string
                      format: date
                      example: Tue Jan 22 00:08:00 UTC 2013
              serial_number:
                type: string
                example: String
              account:
                required:
                - id
                - label
                - views_available
                - bank_id
                properties:
                  bank_id:
                    type: string
                    example: gh.uk.db
                  views_available:
                    type: array
                    items:
                      required:
                      - id
                      - short_name
                      - description
                      - is_public
                      - alias
                      - hide_metadata_if_alias_used
                      - can_add_comment
                      - can_add_corporate_location
                      - can_add_image
                      - can_add_image_url
                      - can_add_more_info
                      - can_add_open_corporates_url
                      - can_add_physical_location
                      - can_add_private_alias
                      - can_add_public_alias
                      - can_add_tag
                      - can_add_url
                      - can_add_where_tag
                      - can_delete_comment
                      - can_delete_corporate_location
                      - can_delete_image
                      - can_delete_physical_location
                      - can_delete_tag
                      - can_delete_where_tag
                      - can_edit_owner_comment
                      - can_see_bank_account_balance
                      - can_see_bank_account_bank_name
                      - can_see_bank_account_currency
                      - can_see_bank_account_iban
                      - can_see_bank_account_label
                      - can_see_bank_account_national_identifier
                      - can_see_bank_account_number
                      - can_see_bank_account_owners
                      - can_see_bank_account_swift_bic
                      - can_see_bank_account_type
                      - can_see_comments
                      - can_see_corporate_location
                      - can_see_image_url
                      - can_see_images
                      - can_see_more_info
                      - can_see_open_corporates_url
                      - can_see_other_account_bank_name
                      - can_see_other_account_iban
                      - can_see_other_account_kind
                      - can_see_other_account_metadata
                      - can_see_other_account_national_identifier
                      - can_see_other_account_number
                      - can_see_other_account_swift_bic
                      - can_see_owner_comment
                      - can_see_physical_location
                      - can_see_private_alias
                      - can_see_public_alias
                      - can_see_tags
                      - can_see_transaction_amount
                      - can_see_transaction_balance
                      - can_see_transaction_currency
                      - can_see_transaction_description
                      - can_see_transaction_finish_date
                      - can_see_transaction_metadata
                      - can_see_transaction_other_bank_account
                      - can_see_transaction_start_date
                      - can_see_transaction_this_bank_account
                      - can_see_transaction_type
                      - can_see_url
                      - can_see_where_tag
                      properties:
                        can_see_transaction_start_date:
                          type: boolean
                          example: "true"
                        can_add_url:
                          type: boolean
                          example: "true"
                        can_add_where_tag:
                          type: boolean
                          example: "true"
                        can_see_transaction_this_bank_account:
                          type: boolean
                          example: "true"
                        can_see_bank_account_owners:
                          type: boolean
                          example: "true"
                        can_see_private_alias:
                          type: boolean
                          example: "true"
                        can_edit_owner_comment:
                          type: boolean
                          example: "true"
                        can_see_other_account_national_identifier:
                          type: boolean
                          example: "true"
                        can_see_public_alias:
                          type: boolean
                          example: "true"
                        can_see_physical_location:
                          type: boolean
                          example: "true"
                        can_see_owner_comment:
                          type: boolean
                          example: "true"
                        can_see_bank_account_iban:
                          type: boolean
                          example: "true"
                        can_see_corporate_location:
                          type: boolean
                          example: "true"
                        can_see_bank_account_number:
                          type: boolean
                          example: "true"
                        can_see_other_account_bank_name:
                          type: boolean
                          example: "true"
                        description:
                          type: string
                          example: description
                        can_see_transaction_other_bank_account:
                          type: boolean
                          example: "true"
                        can_delete_corporate_location:
                          type: boolean
                          example: "true"
                        can_see_comments:
                          type: boolean
                          example: "true"
                        can_see_bank_account_bank_name:
                          type: boolean
                          example: "true"
                        can_add_more_info:
                          type: boolean
                          example: "true"
                        can_see_other_account_number:
                          type: boolean
                          example: "true"
                        can_see_other_account_swift_bic:
                          type: boolean
                          example: "true"
                        can_add_open_corporates_url:
                          type: boolean
                          example: "true"
                        can_see_other_account_kind:
                          type: boolean
                          example: "true"
                        can_delete_physical_location:
                          type: boolean
                          example: "true"
                        can_see_bank_account_label:
                          type: boolean
                          example: "true"
                        can_see_transaction_currency:
                          type: boolean
                          example: "true"
                        is_public:
                          type: boolean
                          example: "true"
                        can_see_transaction_finish_date:
                          type: boolean
                          example: "true"
                        can_add_tag:
                          type: boolean
                          example: "true"
                        can_see_images:
                          type: boolean
                          example: "true"
                        can_see_bank_account_currency:
                          type: boolean
                          example: "true"
                        hide_metadata_if_alias_used:
                          type: boolean
                          example: "true"
                        can_delete_where_tag:
                          type: boolean
                          example: "true"
                        alias:
                          type: string
                          example: None
                        can_add_image_url:
                          type: boolean
                          example: "true"
                        can_add_comment:
                          type: boolean
                          example: "true"
                        can_see_image_url:
                          type: boolean
                          example: "true"
                        id:
                          type: string
                          example: "123"
                        can_see_bank_account_national_identifier:
                          type: boolean
                          example: "true"
                        can_see_tags:
                          type: boolean
                          example: "true"
                        can_see_open_corporates_url:
                          type: boolean
                          example: "true"
                        short_name:
                          type: string
                          example: short_name
                        can_delete_tag:
                          type: boolean
                          example: "true"
                        can_see_more_info:
                          type: boolean
                          example: "true"
                        can_see_transaction_metadata:
                          type: boolean
                          example: "true"
                        can_delete_comment:
                          type: boolean
                          example: "true"
                        can_see_where_tag:
                          type: boolean
                          example: "true"
                        can_add_private_alias:
                          type: boolean
                          example: "true"
                        can_add_public_alias:
                          type: boolean
                          example: "true"
                        can_see_bank_account_swift_bic:
                          type: boolean
                          example: "true"
                        can_add_image:
                          type: boolean
                          example: "true"
                        can_see_transaction_type:
                          type: boolean
                          example: "true"
                        can_see_other_account_iban:
                          type: boolean
                          example: "true"
                        can_add_physical_location:
                          type: boolean
                          example: "true"
                        can_add_corporate_location:
                          type: boolean
                          example: "true"
                        can_delete_image:
                          type: boolean
                          example: "true"
                        can_see_url:
                          type: boolean
                          example: "true"
                        can_see_bank_account_balance:
                          type: boolean
                          example: "true"
                        can_see_transaction_balance:
                          type: boolean
                          example: "true"
                        can_see_transaction_amount:
                          type: boolean
                          example: "true"
                        can_see_other_account_metadata:
                          type: boolean
                          example: "true"
                        can_see_bank_account_type:
                          type: boolean
                          example: "true"
                        can_see_transaction_description:
                          type: boolean
                          example: "true"
                  label:
                    type: string
                    example: OBP
                  id:
                    type: string
                    example: "123"
              valid_from_date:
                type: string
                format: date
                example: Tue Jan 22 00:08:00 UTC 2013
              bank_card_number:
                type: string
                example: String
              name_on_card:
                type: string
                example: String
              posted:
                type: string
                format: date
                example: Tue Jan 22 00:08:00 UTC 2013
              on_hot_list:
                type: boolean
                example: "true"
        400:
          description: Error
          schema:
            properties:
              message:
                type: string
                example: 'OBP-20001: User not logged in. Authentication is required!'
      security:
      - PSUOAuth2Security:
        - BanksByBankIdCards.all
schemes:
- http
- https
...
