---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":4:{s:7:\"contact\";O:8:\"stdClass\":3:{s:4:\"name\";s:10:\"Eric
  Broda\";s:3:\"url\";s:3:\"N/A\";s:5:\"email\";s:20:\"ericbroda@rogers.com\";}s:7:\"version\";s:6:\"v3_0_0\";s:11:\"description\";s:247:\"An
  Open Source API for Banks.  (c) TESOBE Ltd. 2011 - 2016. Licensed under the AGPL
  and commercial licences.  Decomposed from Master PSD2 Swagger (http://psd2.it/#psd2apps).
  \ Generated by psd2-generator: https://github.com/ericbroda/psd2-generator\";s:5:\"title\";s:53:\"API
  URI: /banks/{BANK_ID}/accounts/{ACCOUNT_ID}/views\";}"
host: apisandbox.openbankproject.com
basePath: /obp/v3_0_0
paths:
  /banks/{BANK_ID}/accounts/{ACCOUNT_ID}/views:
    get:
      tags:
      - "3_0_0"
      summary: Get Views for Account.
      description: <h1>Views</h1><p>Views in Open Bank Project provide a mechanism
        for fine grained access control and delegation to Accounts and Transactions.
        Account holders use the 'owner' view by default. Delegated access is made
        through other views for example 'accountants', 'share-holders' or 'tagging-application'.
        Views can be created via the API and each view has a list of entitlements.</p><p>Views
        on accounts and transactions filter the underlying data to redact certain
        fields for certain users. For instance the balance on an account may be hidden
        from the public. The way to know what is possible on a view is determined
        in the following JSON.</p><p><strong>Data:</strong> When a view moderates
        a set of data, some fields my contain the value <code>null</code> rather than
        the original value. This indicates either that the user is not allowed to
        see the original data or the field is empty.</p><p>There is currently one
        exception to this rule; the 'holder' field in the JSON contains always a value
        which is either an alias or the real name - indicated by the 'is_alias' field.</p><p><strong>Action:</strong>
        When a user performs an action like trying to post a comment (with POST API
        call), if he is not allowed, the body response will contain an error message.</p><p><strong>Metadata:</strong>
        Transaction metadata (like images, tags, comments, etc.) will appears <em>ONLY</em>
        on the view where they have been created e.g. comments posted to the public
        view only appear on the public view.</p><p>The other account metadata fields
        (like image_URL, more_info, etc.) are unique through all the views. Example,
        if a user edits the 'more_info' field in the 'team' view, then the view 'authorities'
        will show the new value (if it is allowed to do it).</p><h1>All</h1><p><em>Optional</em></p><p>Returns
        the list of the views created for account ACCOUNT_ID at BANK_ID.</p><p>OAuth
        authentication is required and the user needs to have access to the owner
        view.</p>
      operationId: v3_0_0-getViewsForBankAccount
      parameters:
      - in: path
        name: ACCOUNT_ID
        description: The account id
        required: true
        type: string
      - in: path
        name: BANK_ID
        description: The bank id
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            required:
            - views
            properties:
              views:
                type: array
                items:
                  required:
                  - id
                  - short_name
                  - description
                  - is_public
                  - alias
                  - hide_metadata_if_alias_used
                  - can_add_comment
                  - can_add_corporate_location
                  - can_add_image
                  - can_add_image_url
                  - can_add_more_info
                  - can_add_open_corporates_url
                  - can_add_physical_location
                  - can_add_private_alias
                  - can_add_public_alias
                  - can_add_tag
                  - can_add_url
                  - can_add_where_tag
                  - can_delete_comment
                  - can_add_counterparty
                  - can_delete_corporate_location
                  - can_delete_image
                  - can_delete_physical_location
                  - can_delete_tag
                  - can_delete_where_tag
                  - can_edit_owner_comment
                  - can_see_bank_account_balance
                  - can_see_bank_account_bank_name
                  - can_see_bank_account_currency
                  - can_see_bank_account_iban
                  - can_see_bank_account_label
                  - can_see_bank_account_national_identifier
                  - can_see_bank_account_number
                  - can_see_bank_account_owners
                  - can_see_bank_account_swift_bic
                  - can_see_bank_account_type
                  - can_see_comments
                  - can_see_corporate_location
                  - can_see_image_url
                  - can_see_images
                  - can_see_more_info
                  - can_see_open_corporates_url
                  - can_see_other_account_bank_name
                  - can_see_other_account_iban
                  - can_see_other_account_kind
                  - can_see_other_account_metadata
                  - can_see_other_account_national_identifier
                  - can_see_other_account_number
                  - can_see_other_account_swift_bic
                  - can_see_owner_comment
                  - can_see_physical_location
                  - can_see_private_alias
                  - can_see_public_alias
                  - can_see_tags
                  - can_see_transaction_amount
                  - can_see_transaction_balance
                  - can_see_transaction_currency
                  - can_see_transaction_description
                  - can_see_transaction_finish_date
                  - can_see_transaction_metadata
                  - can_see_transaction_other_bank_account
                  - can_see_transaction_start_date
                  - can_see_transaction_this_bank_account
                  - can_see_transaction_type
                  - can_see_url
                  - can_see_where_tag
                  - can_see_bank_routing_scheme
                  - can_see_bank_routing_address
                  - can_see_bank_account_routing_scheme
                  - can_see_bank_account_routing_address
                  - can_see_other_bank_routing_scheme
                  - can_see_other_bank_routing_address
                  - can_see_other_account_routing_scheme
                  - can_see_other_account_routing_address
                  properties:
                    can_see_transaction_start_date:
                      type: boolean
                      example: "true"
                    can_add_url:
                      type: boolean
                      example: "true"
                    can_add_where_tag:
                      type: boolean
                      example: "true"
                    can_see_transaction_this_bank_account:
                      type: boolean
                      example: "true"
                    can_see_bank_account_owners:
                      type: boolean
                      example: "true"
                    can_see_bank_routing_address:
                      type: boolean
                      example: "true"
                    can_see_private_alias:
                      type: boolean
                      example: "true"
                    can_edit_owner_comment:
                      type: boolean
                      example: "true"
                    can_see_other_account_national_identifier:
                      type: boolean
                      example: "true"
                    can_see_bank_routing_scheme:
                      type: boolean
                      example: "true"
                    can_see_public_alias:
                      type: boolean
                      example: "true"
                    can_see_physical_location:
                      type: boolean
                      example: "true"
                    can_see_owner_comment:
                      type: boolean
                      example: "true"
                    can_see_bank_account_iban:
                      type: boolean
                      example: "true"
                    can_see_corporate_location:
                      type: boolean
                      example: "true"
                    can_see_bank_account_number:
                      type: boolean
                      example: "true"
                    can_see_other_account_bank_name:
                      type: boolean
                      example: "true"
                    description:
                      type: string
                      example: description
                    can_see_bank_account_routing_scheme:
                      type: boolean
                      example: "true"
                    can_see_transaction_other_bank_account:
                      type: boolean
                      example: "true"
                    can_delete_corporate_location:
                      type: boolean
                      example: "true"
                    can_see_comments:
                      type: boolean
                      example: "true"
                    can_see_bank_account_bank_name:
                      type: boolean
                      example: "true"
                    can_add_more_info:
                      type: boolean
                      example: "true"
                    can_see_other_account_number:
                      type: boolean
                      example: "true"
                    can_see_other_account_swift_bic:
                      type: boolean
                      example: "true"
                    can_add_open_corporates_url:
                      type: boolean
                      example: "true"
                    can_see_other_account_kind:
                      type: boolean
                      example: "true"
                    can_delete_physical_location:
                      type: boolean
                      example: "true"
                    can_see_bank_account_label:
                      type: boolean
                      example: "true"
                    can_see_transaction_currency:
                      type: boolean
                      example: "true"
                    is_public:
                      type: boolean
                      example: "true"
                    can_see_transaction_finish_date:
                      type: boolean
                      example: "true"
                    can_see_bank_account_routing_address:
                      type: boolean
                      example: "true"
                    can_add_tag:
                      type: boolean
                      example: "true"
                    can_see_images:
                      type: boolean
                      example: "true"
                    can_see_bank_account_currency:
                      type: boolean
                      example: "true"
                    hide_metadata_if_alias_used:
                      type: boolean
                      example: "true"
                    can_delete_where_tag:
                      type: boolean
                      example: "true"
                    alias:
                      type: string
                      example: "No"
                    can_add_image_url:
                      type: boolean
                      example: "true"
                    can_add_comment:
                      type: boolean
                      example: "true"
                    can_see_image_url:
                      type: boolean
                      example: "true"
                    id:
                      type: string
                      example: "1234"
                    can_see_bank_account_national_identifier:
                      type: boolean
                      example: "true"
                    can_add_counterparty:
                      type: boolean
                      example: "true"
                    can_see_tags:
                      type: boolean
                      example: "true"
                    can_see_open_corporates_url:
                      type: boolean
                      example: "true"
                    short_name:
                      type: string
                      example: short_name
                    can_delete_tag:
                      type: boolean
                      example: "true"
                    can_see_other_account_routing_scheme:
                      type: boolean
                      example: "true"
                    can_see_more_info:
                      type: boolean
                      example: "true"
                    can_see_transaction_metadata:
                      type: boolean
                      example: "true"
                    can_delete_comment:
                      type: boolean
                      example: "true"
                    can_see_where_tag:
                      type: boolean
                      example: "true"
                    can_add_private_alias:
                      type: boolean
                      example: "true"
                    can_add_public_alias:
                      type: boolean
                      example: "true"
                    can_see_bank_account_swift_bic:
                      type: boolean
                      example: "true"
                    can_add_image:
                      type: boolean
                      example: "true"
                    can_see_transaction_type:
                      type: boolean
                      example: "true"
                    can_see_other_account_routing_address:
                      type: boolean
                      example: "true"
                    can_see_other_account_iban:
                      type: boolean
                      example: "true"
                    can_add_physical_location:
                      type: boolean
                      example: "true"
                    can_add_corporate_location:
                      type: boolean
                      example: "true"
                    can_delete_image:
                      type: boolean
                      example: "true"
                    can_see_url:
                      type: boolean
                      example: "true"
                    can_see_bank_account_balance:
                      type: boolean
                      example: "true"
                    can_see_other_bank_routing_address:
                      type: boolean
                      example: "true"
                    can_see_transaction_balance:
                      type: boolean
                      example: "true"
                    can_see_transaction_amount:
                      type: boolean
                      example: "true"
                    can_see_other_account_metadata:
                      type: boolean
                      example: "true"
                    can_see_bank_account_type:
                      type: boolean
                      example: "true"
                    can_see_other_bank_routing_scheme:
                      type: boolean
                      example: "true"
                    can_see_transaction_description:
                      type: boolean
                      example: "true"
        400:
          description: Error
          schema:
            properties:
              message:
                type: string
                example: 'OBP-20001: User not logged in. Authentication is required!'
      security:
      - PSUOAuth2Security:
        - BanksByBankIdAccountsByAccountIdViews.all
    post:
      tags:
      - "3_0_0"
      summary: Create View.
      description: '<p>Create a view on bank account</p><p>OAuth authentication is
        required and the user needs to have access to the owner view.  The ''alias''
        field in the JSON can take one of three values:</p><ul>  <li><em>public</em>:
        to use the public alias if there is one specified for the other account.</li>  <li><em>private</em>:
        to use the public alias if there is one specified for the other account.</li>  <li>  <p><em>''''(empty
        string)</em>: to use no alias; the view shows the real name of the other account.</p></li></ul><p>The
        ''hide_metadata_if_alias_used'' field in the JSON can take boolean values.
        If it is set to <code>true</code> and there is an alias on the other account
        then the other accounts'' metadata (like more_info, url, image_url, open_corporates_url,
        etc.) will be hidden. Otherwise the metadata will be shown.</p><p>The ''allowed_actions''
        field is a list containing the name of the actions allowed on this view, all
        the actions contained will be set to <code>true</code> on the view creation,
        the rest will be set to <code>false</code>.</p><p>You should use a leading
        _ (underscore) for the view name because other view names may become reserved
        by OBP internally</p>'
      operationId: v3_0_0-createViewForBankAccount
      parameters:
      - in: body
        name: body
        description: BANK_BODY
        required: true
        schema:
          required:
          - name
          - description
          - is_public
          - which_alias_to_use
          - hide_metadata_if_alias_used
          - allowed_actions
          properties:
            name:
              type: string
              example: test
            description:
              type: string
              example: good
            is_public:
              type: boolean
              example: "true"
            hide_metadata_if_alias_used:
              type: boolean
              example: "false"
            which_alias_to_use:
              type: string
              example: good
            allowed_actions:
              type: array
              items:
                type: string
      - in: path
        name: ACCOUNT_ID
        description: The account id
        required: true
        type: string
      - in: path
        name: BANK_ID
        description: The bank id
        required: true
        type: string
      responses:
        201:
          description: Success
          schema:
            required:
            - id
            - short_name
            - description
            - is_public
            - alias
            - hide_metadata_if_alias_used
            - can_add_comment
            - can_add_corporate_location
            - can_add_image
            - can_add_image_url
            - can_add_more_info
            - can_add_open_corporates_url
            - can_add_physical_location
            - can_add_private_alias
            - can_add_public_alias
            - can_add_tag
            - can_add_url
            - can_add_where_tag
            - can_delete_comment
            - can_add_counterparty
            - can_delete_corporate_location
            - can_delete_image
            - can_delete_physical_location
            - can_delete_tag
            - can_delete_where_tag
            - can_edit_owner_comment
            - can_see_bank_account_balance
            - can_see_bank_account_bank_name
            - can_see_bank_account_currency
            - can_see_bank_account_iban
            - can_see_bank_account_label
            - can_see_bank_account_national_identifier
            - can_see_bank_account_number
            - can_see_bank_account_owners
            - can_see_bank_account_swift_bic
            - can_see_bank_account_type
            - can_see_comments
            - can_see_corporate_location
            - can_see_image_url
            - can_see_images
            - can_see_more_info
            - can_see_open_corporates_url
            - can_see_other_account_bank_name
            - can_see_other_account_iban
            - can_see_other_account_kind
            - can_see_other_account_metadata
            - can_see_other_account_national_identifier
            - can_see_other_account_number
            - can_see_other_account_swift_bic
            - can_see_owner_comment
            - can_see_physical_location
            - can_see_private_alias
            - can_see_public_alias
            - can_see_tags
            - can_see_transaction_amount
            - can_see_transaction_balance
            - can_see_transaction_currency
            - can_see_transaction_description
            - can_see_transaction_finish_date
            - can_see_transaction_metadata
            - can_see_transaction_other_bank_account
            - can_see_transaction_start_date
            - can_see_transaction_this_bank_account
            - can_see_transaction_type
            - can_see_url
            - can_see_where_tag
            - can_see_bank_routing_scheme
            - can_see_bank_routing_address
            - can_see_bank_account_routing_scheme
            - can_see_bank_account_routing_address
            - can_see_other_bank_routing_scheme
            - can_see_other_bank_routing_address
            - can_see_other_account_routing_scheme
            - can_see_other_account_routing_address
            properties:
              can_see_transaction_start_date:
                type: boolean
                example: "true"
              can_add_url:
                type: boolean
                example: "true"
              can_add_where_tag:
                type: boolean
                example: "true"
              can_see_transaction_this_bank_account:
                type: boolean
                example: "true"
              can_see_bank_account_owners:
                type: boolean
                example: "true"
              can_see_bank_routing_address:
                type: boolean
                example: "true"
              can_see_private_alias:
                type: boolean
                example: "true"
              can_edit_owner_comment:
                type: boolean
                example: "true"
              can_see_other_account_national_identifier:
                type: boolean
                example: "true"
              can_see_bank_routing_scheme:
                type: boolean
                example: "true"
              can_see_public_alias:
                type: boolean
                example: "true"
              can_see_physical_location:
                type: boolean
                example: "true"
              can_see_owner_comment:
                type: boolean
                example: "true"
              can_see_bank_account_iban:
                type: boolean
                example: "true"
              can_see_corporate_location:
                type: boolean
                example: "true"
              can_see_bank_account_number:
                type: boolean
                example: "true"
              can_see_other_account_bank_name:
                type: boolean
                example: "true"
              description:
                type: string
                example: description
              can_see_bank_account_routing_scheme:
                type: boolean
                example: "true"
              can_see_transaction_other_bank_account:
                type: boolean
                example: "true"
              can_delete_corporate_location:
                type: boolean
                example: "true"
              can_see_comments:
                type: boolean
                example: "true"
              can_see_bank_account_bank_name:
                type: boolean
                example: "true"
              can_add_more_info:
                type: boolean
                example: "true"
              can_see_other_account_number:
                type: boolean
                example: "true"
              can_see_other_account_swift_bic:
                type: boolean
                example: "true"
              can_add_open_corporates_url:
                type: boolean
                example: "true"
              can_see_other_account_kind:
                type: boolean
                example: "true"
              can_delete_physical_location:
                type: boolean
                example: "true"
              can_see_bank_account_label:
                type: boolean
                example: "true"
              can_see_transaction_currency:
                type: boolean
                example: "true"
              is_public:
                type: boolean
                example: "true"
              can_see_transaction_finish_date:
                type: boolean
                example: "true"
              can_see_bank_account_routing_address:
                type: boolean
                example: "true"
              can_add_tag:
                type: boolean
                example: "true"
              can_see_images:
                type: boolean
                example: "true"
              can_see_bank_account_currency:
                type: boolean
                example: "true"
              hide_metadata_if_alias_used:
                type: boolean
                example: "true"
              can_delete_where_tag:
                type: boolean
                example: "true"
              alias:
                type: string
                example: "No"
              can_add_image_url:
                type: boolean
                example: "true"
              can_add_comment:
                type: boolean
                example: "true"
              can_see_image_url:
                type: boolean
                example: "true"
              id:
                type: string
                example: "1234"
              can_see_bank_account_national_identifier:
                type: boolean
                example: "true"
              can_add_counterparty:
                type: boolean
                example: "true"
              can_see_tags:
                type: boolean
                example: "true"
              can_see_open_corporates_url:
                type: boolean
                example: "true"
              short_name:
                type: string
                example: short_name
              can_delete_tag:
                type: boolean
                example: "true"
              can_see_other_account_routing_scheme:
                type: boolean
                example: "true"
              can_see_more_info:
                type: boolean
                example: "true"
              can_see_transaction_metadata:
                type: boolean
                example: "true"
              can_delete_comment:
                type: boolean
                example: "true"
              can_see_where_tag:
                type: boolean
                example: "true"
              can_add_private_alias:
                type: boolean
                example: "true"
              can_add_public_alias:
                type: boolean
                example: "true"
              can_see_bank_account_swift_bic:
                type: boolean
                example: "true"
              can_add_image:
                type: boolean
                example: "true"
              can_see_transaction_type:
                type: boolean
                example: "true"
              can_see_other_account_routing_address:
                type: boolean
                example: "true"
              can_see_other_account_iban:
                type: boolean
                example: "true"
              can_add_physical_location:
                type: boolean
                example: "true"
              can_add_corporate_location:
                type: boolean
                example: "true"
              can_delete_image:
                type: boolean
                example: "true"
              can_see_url:
                type: boolean
                example: "true"
              can_see_bank_account_balance:
                type: boolean
                example: "true"
              can_see_other_bank_routing_address:
                type: boolean
                example: "true"
              can_see_transaction_balance:
                type: boolean
                example: "true"
              can_see_transaction_amount:
                type: boolean
                example: "true"
              can_see_other_account_metadata:
                type: boolean
                example: "true"
              can_see_bank_account_type:
                type: boolean
                example: "true"
              can_see_other_bank_routing_scheme:
                type: boolean
                example: "true"
              can_see_transaction_description:
                type: boolean
                example: "true"
        400:
          description: Error
          schema:
            properties:
              message:
                type: string
                example: 'OBP-20001: User not logged in. Authentication is required!'
      security:
      - PSUOAuth2Security:
        - BanksByBankIdAccountsByAccountIdViews.all
schemes:
- http
- https
...
