---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":7:{s:5:\"title\";s:7:\"SMS2USA\";s:11:\"description\";s:88:\"Send
  unlimited free SMS to USA using our service provided by http://sms2usa.msgbolt.com/\";s:7:\"contact\";O:8:\"stdClass\":1:{s:4:\"name\";s:10:\"blaazetech\";}s:7:\"version\";N;s:6:\"x-logo\";s:86:\"https://s3.amazonaws.com/mashape-production-logos/apis/53ff1379e4b0a4e4ba2903e6_medium\";s:20:\"x-mashape-categories\";a:2:{i:0;s:5:\"Tools\";i:1;s:13:\"Communication\";}s:8:\"x-origin\";O:8:\"stdClass\":2:{s:6:\"format\";s:7:\"mashape\";s:3:\"url\";s:45:\"https://market.mashape.com/blaazetech/sms2usa\";}}"
host: sms2usa.p.mashape.com
basePath: ""
paths:
  /api.php:
    get:
      description: Api endpoint for sending sms to usa from our msgbolt services.
      operationId: api-endpoint-for-sending-sms-to-usa
      produces:
      - application/json
      parameters:
      - name: apikey
        in: query
        description: api key obtained from http://sms2usa.msgbolt.com/
        required: true
      - name: msg
        in: query
        description: message to be sent in sms
        required: true
      - name: to
        in: query
        description: moblie number to which sms to be sent
        required: true
      responses:
        200:
          description: ~
          schema: '#/definitions/Resource'
definitions: !php/object "O:8:\"stdClass\":1:{s:8:\"Resource\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}"
...
