---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":6:{s:7:\"contact\";O:8:\"stdClass\":1:{s:4:\"name\";s:16:\"info@quantimo.do\";}s:11:\"description\";s:217:\"We
  make it easy to retrieve and analyze normalized user data from a wide array of devices
  and applications. Check out our [docs and sdk's](https://github.com/QuantiModo/docs)
  or [contact us](https://help.quantimo.do).\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:10:\"Apache
  2.0\";s:3:\"url\";s:47:\"http://www.apache.org/licenses/LICENSE-2.0.html\";}s:14:\"termsOfService\";s:24:\"https://quantimo.do/tos/\";s:5:\"title\";s:10:\"quantimodo\";s:7:\"version\";s:10:\"5.8.112511\";}"
host: app.quantimo.do
basePath: /api
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":92:{s:11:\"AppSettings\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":20:{s:18:\"additionalSettings\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"What
  do you expect?\";s:4:\"type\";s:6:\"object\";}s:14:\"appDescription\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"What
  do you expect?\";s:4:\"type\";s:6:\"string\";}s:9:\"appDesign\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"What
  do you expect?\";s:4:\"type\";s:6:\"object\";}s:14:\"appDisplayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"What
  do you expect?\";s:4:\"type\";s:6:\"string\";}s:9:\"appStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"What
  do you expect?\";s:4:\"type\";s:6:\"object\";}s:7:\"appType\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"What
  do you expect?\";s:4:\"type\";s:6:\"string\";}s:12:\"buildEnabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"What
  do you expect?\";s:4:\"type\";s:6:\"string\";}s:8:\"clientId\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"What
  do you expect?\";s:4:\"type\";s:6:\"string\";}s:12:\"clientSecret\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"What
  do you expect?\";s:4:\"type\";s:6:\"string\";}s:13:\"collaborators\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"What
  do you expect?\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/User\";}s:4:\"type\";s:5:\"array\";}s:9:\"createdAt\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"What
  do you expect?\";s:4:\"type\";s:6:\"string\";}s:6:\"userId\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"User
  id of the owner of the application\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:5:\"users\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"What
  do you expect?\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/User\";}s:4:\"type\";s:5:\"array\";}s:11:\"redirectUri\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"What
  do you expect?\";s:4:\"type\";s:6:\"string\";}s:11:\"companyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"What
  do you expect?\";s:4:\"type\";s:6:\"string\";}s:11:\"homepageUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"What
  do you expect?\";s:4:\"type\";s:6:\"string\";}s:7:\"iconUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"What
  do you expect?\";s:4:\"type\";s:6:\"string\";}s:15:\"longDescription\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"What
  do you expect?\";s:4:\"type\";s:6:\"string\";}s:12:\"splashScreen\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"What
  do you expect?\";s:4:\"type\";s:6:\"string\";}s:8:\"textLogo\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"What
  do you expect?\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:8:\"clientId\";}}s:19:\"AppSettingsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:11:\"appSettings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/AppSettings\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Can
  be used as body of help info popup\";s:4:\"type\";s:6:\"string\";}s:7:\"summary\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Can
  be used as title in help info popup\";s:4:\"type\";s:6:\"string\";}s:6:\"errors\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Array
  of error objects with message property\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Error\";}s:4:\"type\";s:5:\"array\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"ex.
  OK or ERROR\";s:4:\"type\";s:6:\"string\";}s:7:\"success\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"true
  or false\";s:4:\"type\";s:7:\"boolean\";}s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Response
  code such as 200\";s:4:\"type\";s:6:\"number\";}s:4:\"link\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"A
  super neat url you might want to share with your users!\";s:4:\"type\";s:6:\"string\";}s:4:\"card\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"A
  super neat card with buttons and HTML that you can use in your app!\";s:4:\"$ref\";s:18:\"#/definitions/Card\";}}s:8:\"required\";a:2:{i:0;s:11:\"description\";i:1;s:7:\"summary\";}}s:17:\"AuthorizedClients\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"apps\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"Applications
  with access to user measurements for all variables\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/AppSettings\";}s:4:\"type\";s:5:\"array\";}s:11:\"individuals\";O:8:\"stdClass\":3:{s:11:\"description\";s:99:\"Individuals
  such as physicians or family members with access to user measurements for all variables\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/AppSettings\";}s:4:\"type\";s:5:\"array\";}s:7:\"studies\";O:8:\"stdClass\":3:{s:11:\"description\";s:106:\"Studies
  with access to generally anonymous user measurements for a specific predictor and
  outcome variable\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/AppSettings\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:3:{i:0;s:4:\"apps\";i:1;s:11:\"individuals\";i:2;s:7:\"studies\";}}s:6:\"Button\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":20:{s:17:\"accessibilityText\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Ex:
  connect\";s:4:\"type\";s:6:\"string\";}s:6:\"action\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Action
  data\";s:4:\"type\";s:6:\"object\";}s:21:\"additionalInformation\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Ex:
  connect\";s:4:\"type\";s:6:\"string\";}s:5:\"color\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Ex:
  #f2f2f2\";s:4:\"type\";s:6:\"string\";}s:16:\"confirmationText\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Text
  to show user before executing functionName\";s:4:\"type\";s:6:\"string\";}s:12:\"functionName\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Name
  of function to call\";s:4:\"type\";s:6:\"string\";}s:10:\"parameters\";O:8:\"stdClass\":2:{s:11:\"description\";s:120:\"Data
  to provide to functionName or be copied to the card parameters when button is clicked
  and card is posted to the API\";s:4:\"type\";s:6:\"object\";}s:4:\"html\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Ex:
  connect\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"HTML
  element id\";s:4:\"type\";s:6:\"string\";}s:5:\"image\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Ex:
  https://image.jpg\";s:4:\"type\";s:6:\"string\";}s:7:\"ionIcon\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Ex:
  ion-refresh\";s:4:\"type\";s:6:\"string\";}s:4:\"link\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Ex:
  https://local.quantimo.do\";s:4:\"type\";s:6:\"string\";}s:9:\"stateName\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"State
  to go to\";s:4:\"type\";s:6:\"string\";}s:11:\"stateParams\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Data
  to provide to the state\";s:4:\"type\";s:6:\"object\";}s:16:\"successToastText\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Text
  to show user after executing functionName\";s:4:\"type\";s:6:\"string\";}s:17:\"successAlertTitle\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Text
  to show user after executing functionName\";s:4:\"type\";s:6:\"string\";}s:16:\"successAlertBody\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Text
  to show user after executing functionName\";s:4:\"type\";s:6:\"string\";}s:4:\"text\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Ex:
  Connect\";s:4:\"type\";s:6:\"string\";}s:7:\"tooltip\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Ex:
  This is a tooltip\";s:4:\"type\";s:6:\"string\";}s:10:\"webhookUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Post
  here on button click\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"link\";i:1;s:4:\"text\";}}s:4:\"Card\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":24:{s:18:\"actionSheetButtons\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Button\";}s:4:\"type\";s:5:\"array\";}s:6:\"avatar\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Smaller
  square image\";s:4:\"type\";s:6:\"string\";}s:14:\"avatarCircular\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Smaller
  circular image\";s:4:\"type\";s:6:\"string\";}s:15:\"backgroundColor\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Ex:
  #f2f2f2\";s:4:\"type\";s:6:\"string\";}s:7:\"buttons\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Button\";}s:4:\"type\";s:5:\"array\";}s:16:\"buttonsSecondary\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Button\";}s:4:\"type\";s:5:\"array\";}s:7:\"content\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Ex:
  Content\";s:4:\"type\";s:6:\"string\";}s:11:\"headerTitle\";O:8:\"stdClass\":2:{s:11:\"description\";s:9:\"Ex:
  Title\";s:4:\"type\";s:6:\"string\";}s:4:\"html\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"HTML
  for the entire card.\";s:4:\"type\";s:6:\"string\";}s:11:\"htmlContent\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Ex:
  <div>Content</div>\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"HTML
  element id\";s:4:\"type\";s:6:\"string\";}s:5:\"image\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Larger
  image of variable dimensions\";s:4:\"type\";s:6:\"string\";}s:11:\"inputFields\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/InputField\";}s:4:\"type\";s:5:\"array\";}s:7:\"ionIcon\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Ex:
  ion-refresh\";s:4:\"type\";s:6:\"string\";}s:4:\"link\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"A
  link to a web page or something. Not much more to say about that.\";s:4:\"type\";s:6:\"string\";}s:10:\"parameters\";O:8:\"stdClass\":2:{s:11:\"description\";s:81:\"Key
  value pairs derived from user input fields, button clicks, or preset defaults\";s:4:\"type\";s:6:\"object\";}s:12:\"relatedCards\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Card\";}s:4:\"type\";s:5:\"array\";}s:14:\"selectedButton\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"Button
  that the user clicked and the provided function parameters\";s:4:\"$ref\";s:20:\"#/definitions/Button\";}s:11:\"sharingBody\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Ex:
  sharingBody\";s:4:\"type\";s:6:\"string\";}s:14:\"sharingButtons\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Button\";}s:4:\"type\";s:5:\"array\";}s:12:\"sharingTitle\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Ex:
  sharingTitle\";s:4:\"type\";s:6:\"string\";}s:9:\"subHeader\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Ex:
  subTitle\";s:4:\"type\";s:6:\"string\";}s:8:\"subTitle\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Ex:
  subTitle\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:9:\"Ex:
  Title\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:2:\"id\";}}s:5:\"Chart\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:15:\"highchartConfig\";O:8:\"stdClass\":2:{s:11:\"description\";s:82:\"
  Highcharts config that can be used if you have highcharts.js included on the page\";s:4:\"type\";s:6:\"object\";}s:7:\"chartId\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Ex:
  correlationScatterPlot\";s:4:\"type\";s:6:\"string\";}s:10:\"chartTitle\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Ex:
  Overall Mood following Sleep Duration (R = -0.173)\";s:4:\"type\";s:6:\"string\";}s:11:\"explanation\";O:8:\"stdClass\":2:{s:11:\"description\";s:116:\"Ex:
  The chart above indicates that an increase in Sleep Duration is usually followed
  by an decrease in Overall Mood.\";s:4:\"type\";s:6:\"string\";}s:6:\"svgUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Url
  to a static svg of the chart\";s:4:\"type\";s:6:\"string\";}s:3:\"svg\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"SVG
  string than can be embedded directly in HTML\";s:4:\"type\";s:6:\"string\";}}}s:14:\"CommonResponse\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":8:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Can
  be used as body of help info popup\";s:4:\"type\";s:6:\"string\";}s:7:\"summary\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Can
  be used as title in help info popup\";s:4:\"type\";s:6:\"string\";}s:6:\"errors\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Array
  of error objects with message property\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Error\";}s:4:\"type\";s:5:\"array\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"ex.
  OK or ERROR\";s:4:\"type\";s:6:\"string\";}s:7:\"success\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"true
  or false\";s:4:\"type\";s:7:\"boolean\";}s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Response
  code such as 200\";s:4:\"type\";s:6:\"number\";}s:4:\"link\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"A
  super neat url you might want to share with your users!\";s:4:\"type\";s:6:\"string\";}s:4:\"card\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"A
  super neat card with buttons and HTML that you can use in your app!\";s:4:\"$ref\";s:18:\"#/definitions/Card\";}}s:8:\"required\";a:2:{i:0;s:11:\"description\";i:1;s:7:\"summary\";}s:4:\"type\";s:6:\"object\";}s:19:\"ConnectInstructions\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"parameters\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:11:\"description\";s:101:\"Create
  a form with these fields and post the key and user submitted value to the provided
  connect url\";s:4:\"type\";s:5:\"array\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"URL
  to open to connect\";s:4:\"type\";s:6:\"string\";}s:8:\"usePopup\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"True
  if should open auth window in popup\";s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:1:{i:0;s:3:\"url\";}}s:14:\"ConversionStep\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"operation\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"ADD
  or MULTIPLY\";s:4:\"enum\";a:2:{i:0;s:3:\"ADD\";i:1;s:8:\"MULTIPLY\";}s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"This
  specifies the order of conversion steps starting with 0\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:8:\"required\";a:2:{i:0;s:9:\"operation\";i:1;s:5:\"value\";}}s:11:\"Correlation\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":103:{s:21:\"averageDailyHighCause\";O:8:\"stdClass\":3:{s:11:\"description\";s:8:\"Ex:
  4.19\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:20:\"averageDailyLowCause\";O:8:\"stdClass\":3:{s:11:\"description\";s:8:\"Ex:
  1.97\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:13:\"averageEffect\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Ex:
  3.0791054117396\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:31:\"averageEffectFollowingHighCause\";O:8:\"stdClass\":3:{s:11:\"description\";s:8:\"Ex:
  3.55\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:30:\"averageEffectFollowingLowCause\";O:8:\"stdClass\":3:{s:11:\"description\";s:8:\"Ex:
  2.65\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:47:\"averageForwardPearsonCorrelationOverOnsetDelays\";O:8:\"stdClass\":3:{s:11:\"description\";s:9:\"Ex:
  0.396\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:47:\"averageReversePearsonCorrelationOverOnsetDelays\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Ex:
  0.453667\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:11:\"averageVote\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Ex:
  0.9855\";s:4:\"type\";s:6:\"number\";}s:12:\"causeChanges\";O:8:\"stdClass\":2:{s:11:\"description\";s:7:\"Ex:
  164\";s:4:\"type\";s:7:\"integer\";}s:15:\"causeDataSource\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/DataSource\";}s:38:\"causeUserVariableShareUserMeasurements\";O:8:\"stdClass\":2:{s:11:\"description\";s:5:\"Ex:
  1\";s:4:\"type\";s:7:\"integer\";}s:23:\"causeVariableCategoryId\";O:8:\"stdClass\":2:{s:11:\"description\";s:5:\"Ex:
  6\";s:4:\"type\";s:7:\"integer\";}s:25:\"causeVariableCategoryName\";O:8:\"stdClass\":2:{s:11:\"description\";s:9:\"Ex:
  Sleep\";s:4:\"type\";s:6:\"string\";}s:33:\"causeVariableCombinationOperation\";O:8:\"stdClass\":2:{s:11:\"description\";s:8:\"Ex:
  MEAN\";s:4:\"type\";s:6:\"string\";}s:32:\"causeVariableUnitAbbreviatedName\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"Ex:
  /5\";s:4:\"type\";s:6:\"string\";}s:15:\"causeVariableId\";O:8:\"stdClass\":2:{s:11:\"description\";s:8:\"Ex:
  1448\";s:4:\"type\";s:7:\"integer\";}s:34:\"causeVariableMostCommonConnectorId\";O:8:\"stdClass\":2:{s:11:\"description\";s:5:\"Ex:
  6\";s:4:\"type\";s:7:\"integer\";}s:17:\"causeVariableName\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Ex:
  Sleep Quality\";s:4:\"type\";s:6:\"string\";}s:18:\"confidenceInterval\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Ex:
  0.14344467795996\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:15:\"confidenceLevel\";O:8:\"stdClass\":2:{s:11:\"description\";s:8:\"Ex:
  high\";s:4:\"type\";s:6:\"string\";}s:22:\"correlationCoefficient\";O:8:\"stdClass\":3:{s:11:\"description\";s:9:\"Ex:
  0.538\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:41:\"correlationIsContradictoryToOptimalValues\";O:8:\"stdClass\":2:{s:11:\"description\";s:9:\"Ex:
  false\";s:4:\"type\";s:7:\"boolean\";}s:9:\"createdAt\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Ex:
  2016-12-28 20:47:30 UTC ISO 8601 YYYY-MM-DDThh:mm:ss\";s:4:\"type\";s:6:\"string\";}s:14:\"criticalTValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Calculated
  Statistic: Ex: 1.646\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:9:\"direction\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Ex:
  higher\";s:4:\"type\";s:6:\"string\";}s:16:\"durationOfAction\";O:8:\"stdClass\":2:{s:11:\"description\";s:324:\"User-Defined
  Variable Setting: The amount of time over which a predictor/stimulus event can exert
  an observable influence on an outcome variable value. For instance, aspirin (stimulus/predictor)
  typically decreases headache severity for approximately four hours (duration of
  action) following the onset delay.  Unit: Seconds\";s:4:\"type\";s:7:\"integer\";}s:23:\"durationOfActionInHours\";O:8:\"stdClass\":3:{s:11:\"description\";s:322:\"User-Defined
  Variable Setting: The amount of time over which a predictor/stimulus event can exert
  an observable influence on an outcome variable value. For instance, aspirin (stimulus/predictor)
  typically decreases headache severity for approximately four hours (duration of
  action) following the onset delay.  Unit: Hours\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:16:\"degreesOfFreedom\";O:8:\"stdClass\":2:{s:11:\"description\";s:7:\"Ex:
  200\";s:4:\"type\";s:7:\"integer\";}s:40:\"effectNumberOfProcessedDailyMeasurements\";O:8:\"stdClass\":2:{s:11:\"description\";s:7:\"Ex:
  145\";s:4:\"type\";s:7:\"integer\";}s:5:\"error\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Ex:
  optimalPearsonProduct is not defined\";s:4:\"type\";s:6:\"string\";}s:13:\"effectChanges\";O:8:\"stdClass\":2:{s:11:\"description\";s:7:\"Ex:
  193\";s:4:\"type\";s:7:\"integer\";}s:16:\"effectDataSource\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/DataSource\";}s:10:\"effectSize\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Ex:
  moderately positive\";s:4:\"type\";s:6:\"string\";}s:10:\"effectUnit\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"Ex:
  /5\";s:4:\"type\";s:6:\"string\";}s:39:\"effectUserVariableShareUserMeasurements\";O:8:\"stdClass\":2:{s:11:\"description\";s:5:\"Ex:
  1\";s:4:\"type\";s:7:\"integer\";}s:24:\"effectVariableCategoryId\";O:8:\"stdClass\":2:{s:11:\"description\";s:5:\"Ex:
  1\";s:4:\"type\";s:7:\"integer\";}s:26:\"effectVariableCategoryName\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Ex:
  Emotions\";s:4:\"type\";s:6:\"string\";}s:34:\"effectVariableCombinationOperation\";O:8:\"stdClass\":2:{s:11:\"description\";s:8:\"Ex:
  MEAN\";s:4:\"type\";s:6:\"string\";}s:25:\"effectVariableCommonAlias\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Ex:
  Mood_(psychology)\";s:4:\"type\";s:6:\"string\";}s:33:\"effectVariableUnitAbbreviatedName\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"Ex:
  /5\";s:4:\"type\";s:6:\"string\";}s:20:\"effectVariableUnitId\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"Ex:
  10\";s:4:\"type\";s:7:\"integer\";}s:22:\"effectVariableUnitName\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Ex:
  1 to 5 Rating\";s:4:\"type\";s:6:\"string\";}s:16:\"effectVariableId\";O:8:\"stdClass\":2:{s:11:\"description\";s:8:\"Ex:
  1398\";s:4:\"type\";s:7:\"integer\";}s:35:\"effectVariableMostCommonConnectorId\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"Ex:
  10\";s:4:\"type\";s:7:\"integer\";}s:18:\"effectVariableName\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Ex:
  Overall Mood\";s:4:\"type\";s:6:\"string\";}s:17:\"experimentEndTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Ex:
  2014-07-30 12:50:00 UTC ISO 8601 YYYY-MM-DDThh:mm:ss\";s:4:\"type\";s:6:\"string\";}s:19:\"experimentStartTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Ex:
  2012-05-06 21:15:00 UTC ISO 8601 YYYY-MM-DDThh:mm:ss\";s:4:\"type\";s:6:\"string\";}s:37:\"forwardSpearmanCorrelationCoefficient\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Ex:
  0.528359\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:13:\"numberOfPairs\";O:8:\"stdClass\":2:{s:11:\"description\";s:7:\"Ex:
  298\";s:4:\"type\";s:7:\"integer\";}s:10:\"onsetDelay\";O:8:\"stdClass\":2:{s:11:\"description\";s:5:\"Ex:
  0\";s:4:\"type\";s:7:\"integer\";}s:17:\"onsetDelayInHours\";O:8:\"stdClass\":3:{s:11:\"description\";s:5:\"Ex:
  0\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:41:\"onsetDelayWithStrongestPearsonCorrelation\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Ex:
  -86400\";s:4:\"type\";s:7:\"integer\";}s:48:\"onsetDelayWithStrongestPearsonCorrelationInHours\";O:8:\"stdClass\":3:{s:11:\"description\";s:7:\"Ex:
  -24\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:21:\"optimalPearsonProduct\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Ex:
  0.68582816186982\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:19:\"outcomeFillingValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"User-Defined
  Variable Setting: Ex: -1. Unit: User-specified or common.\";s:4:\"type\";s:7:\"integer\";}s:26:\"outcomeMaximumAllowedValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"User-Defined
  Variable Setting: Ex: 23. Unit: User-specified or common.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:26:\"outcomeMinimumAllowedValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"User-Defined
  Variable Setting: Ex: 0.1. Unit: User-specified or common.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:34:\"pearsonCorrelationWithNoOnsetDelay\";O:8:\"stdClass\":3:{s:11:\"description\";s:9:\"Ex:
  0.477\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:28:\"predictivePearsonCorrelation\";O:8:\"stdClass\":3:{s:11:\"description\";s:9:\"Ex:
  0.538\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:39:\"predictivePearsonCorrelationCoefficient\";O:8:\"stdClass\":3:{s:11:\"description\";s:9:\"Ex:
  0.538\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:20:\"predictorDataSources\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Ex:
  RescueTime\";s:4:\"type\";s:6:\"string\";}s:21:\"predictorFillingValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Ex:
  -1. Unit: User-specified or common.\";s:4:\"type\";s:7:\"integer\";}s:28:\"predictorMaximumAllowedValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Ex:
  200. Unit: User-specified or common.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:28:\"predictorMinimumAllowedValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Ex:
  30. Unit: User-specified or common.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:24:\"predictsHighEffectChange\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Ex:
  17. Unit: User-specified or common.\";s:4:\"type\";s:7:\"integer\";}s:23:\"predictsLowEffectChange\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Ex:
  -11. Unit: User-specified or common.\";s:4:\"type\";s:7:\"integer\";}s:6:\"pValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Ex:
  0.39628900511586\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:7:\"qmScore\";O:8:\"stdClass\":3:{s:11:\"description\";s:9:\"Ex:
  0.528\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:36:\"reversePearsonCorrelationCoefficient\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Ex:
  0.01377184270977\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:21:\"shareUserMeasurements\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"Would
  you like to make this study publicly visible?\";s:4:\"type\";s:7:\"boolean\";}s:18:\"sharingDescription\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Ex:
  N1 Study: Sleep Quality Predicts Higher Overall Mood\";s:4:\"type\";s:6:\"string\";}s:12:\"sharingTitle\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Ex:
  N1 Study: Sleep Quality Predicts Higher Overall Mood\";s:4:\"type\";s:6:\"string\";}s:21:\"significantDifference\";O:8:\"stdClass\":2:{s:11:\"description\";s:5:\"Ex:
  1\";s:4:\"type\";s:7:\"boolean\";}s:23:\"statisticalSignificance\";O:8:\"stdClass\":3:{s:11:\"description\";s:10:\"Ex:
  0.9813\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:13:\"strengthLevel\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Ex:
  moderate\";s:4:\"type\";s:6:\"string\";}s:38:\"strongestPearsonCorrelationCoefficient\";O:8:\"stdClass\":3:{s:11:\"description\";s:9:\"Ex:
  0.613\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:9:\"studyHtml\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/StudyHtml\";}s:11:\"studyImages\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/StudyImages\";}s:10:\"studyLinks\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/StudyLinks\";}s:9:\"studyText\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/StudyText\";}s:6:\"tValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Ex:
  9.6986079652717\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:9:\"updatedAt\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Ex:
  2017-05-06 15:40:38 UTC ISO 8601 YYYY-MM-DDThh:mm:ss\";s:4:\"type\";s:6:\"string\";}s:6:\"userId\";O:8:\"stdClass\":2:{s:11:\"description\";s:7:\"Ex:
  230\";s:4:\"type\";s:7:\"integer\";}s:8:\"userVote\";O:8:\"stdClass\":2:{s:11:\"description\";s:5:\"Ex:
  1\";s:4:\"type\";s:7:\"integer\";}s:26:\"valuePredictingHighOutcome\";O:8:\"stdClass\":3:{s:11:\"description\";s:8:\"Ex:
  4.14\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:25:\"valuePredictingLowOutcome\";O:8:\"stdClass\":3:{s:11:\"description\";s:8:\"Ex:
  3.03\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:18:\"outcomeDataSources\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"original
  name of the cause.\";s:4:\"type\";s:6:\"string\";}s:21:\"principalInvestigator\";O:8:\"stdClass\":2:{s:11:\"description\";s:9:\"Mike
  Sinn\";s:4:\"type\";s:6:\"string\";}s:18:\"reverseCorrelation\";O:8:\"stdClass\":2:{s:11:\"description\";s:139:\"Correlation
  when cause and effect are reversed. For any causal relationship, the forward correlation
  should exceed the reverse correlation.\";s:4:\"type\";s:6:\"number\";}s:51:\"averagePearsonCorrelationCoefficientOverOnsetDelays\";O:8:\"stdClass\":2:{s:11:\"description\";s:4:\"Ex:
  \";s:4:\"type\";s:6:\"string\";}s:28:\"causeNumberOfRawMeasurements\";O:8:\"stdClass\":2:{s:11:\"description\";s:9:\"Ex:
  14764\";s:4:\"type\";s:7:\"integer\";}s:33:\"correlationsOverDurationsOfAction\";O:8:\"stdClass\":2:{s:11:\"description\";s:4:\"Ex:
  \";s:4:\"type\";s:6:\"string\";}s:44:\"correlationsOverDurationsOfActionChartConfig\";O:8:\"stdClass\":2:{s:11:\"description\";s:4:\"Ex:
  \";s:4:\"type\";s:6:\"string\";}s:38:\"correlationsOverOnsetDelaysChartConfig\";O:8:\"stdClass\":2:{s:11:\"description\";s:4:\"Ex:
  \";s:4:\"type\";s:6:\"string\";}s:13:\"numberOfUsers\";O:8:\"stdClass\":2:{s:11:\"description\";s:5:\"Ex:
  1\";s:4:\"type\";s:6:\"number\";}s:31:\"rawCauseMeasurementSignificance\";O:8:\"stdClass\":3:{s:11:\"description\";s:5:\"Ex:
  1\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:32:\"rawEffectMeasurementSignificance\";O:8:\"stdClass\":3:{s:11:\"description\";s:5:\"Ex:
  1\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:17:\"reversePairsCount\";O:8:\"stdClass\":2:{s:11:\"description\";s:5:\"Ex:
  1\";s:4:\"type\";s:6:\"string\";}s:27:\"voteStatisticalSignificance\";O:8:\"stdClass\":2:{s:11:\"description\";s:5:\"Ex:
  1\";s:4:\"type\";s:7:\"integer\";}s:16:\"aggregateQMScore\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Ex:
  0.011598441286655\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:36:\"forwardPearsonCorrelationCoefficient\";O:8:\"stdClass\":3:{s:11:\"description\";s:10:\"Ex:
  0.0333\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:20:\"numberOfCorrelations\";O:8:\"stdClass\":2:{s:11:\"description\";s:5:\"Ex:
  6\";s:4:\"type\";s:7:\"integer\";}s:4:\"vote\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Ex:
  1 or 0\";s:4:\"type\";s:6:\"number\";}}s:8:\"required\";a:55:{i:0;s:21:\"averageDailyHighCause\";i:1;s:20:\"averageDailyLowCause\";i:2;s:13:\"averageEffect\";i:3;s:31:\"averageEffectFollowingHighCause\";i:4;s:30:\"averageEffectFollowingLowCause\";i:5;s:47:\"averageForwardPearsonCorrelationOverOnsetDelays\";i:6;s:47:\"averageReversePearsonCorrelationOverOnsetDelays\";i:7;s:11:\"averageVote\";i:8;s:12:\"causeChanges\";i:9;s:38:\"causeUserVariableShareUserMeasurements\";i:10;s:17:\"causeVariableName\";i:11;s:18:\"confidenceInterval\";i:12;s:15:\"confidenceLevel\";i:13;s:22:\"correlationCoefficient\";i:14;s:9:\"createdAt\";i:15;s:14:\"criticalTValue\";i:16;s:9:\"direction\";i:17;s:16:\"durationOfAction\";i:18;s:23:\"durationOfActionInHours\";i:19;s:13:\"effectChanges\";i:20;s:10:\"effectSize\";i:21;s:10:\"effectUnit\";i:22;s:18:\"effectVariableName\";i:23;s:17:\"experimentEndTime\";i:24;s:19:\"experimentStartTime\";i:25;s:37:\"forwardSpearmanCorrelationCoefficient\";i:26;s:13:\"numberOfPairs\";i:27;s:10:\"onsetDelay\";i:28;s:17:\"onsetDelayInHours\";i:29;s:41:\"onsetDelayWithStrongestPearsonCorrelation\";i:30;s:48:\"onsetDelayWithStrongestPearsonCorrelationInHours\";i:31;s:21:\"optimalPearsonProduct\";i:32;s:19:\"outcomeFillingValue\";i:33;s:34:\"pearsonCorrelationWithNoOnsetDelay\";i:34;s:28:\"predictivePearsonCorrelation\";i:35;s:39:\"predictivePearsonCorrelationCoefficient\";i:36;s:20:\"predictorDataSources\";i:37;s:21:\"predictorFillingValue\";i:38;s:28:\"predictorMaximumAllowedValue\";i:39;s:28:\"predictorMinimumAllowedValue\";i:40;s:24:\"predictsHighEffectChange\";i:41;s:23:\"predictsLowEffectChange\";i:42;s:7:\"qmScore\";i:43;s:36:\"reversePearsonCorrelationCoefficient\";i:44;s:21:\"shareUserMeasurements\";i:45;s:21:\"significantDifference\";i:46;s:23:\"statisticalSignificance\";i:47;s:13:\"strengthLevel\";i:48;s:38:\"strongestPearsonCorrelationCoefficient\";i:49;s:6:\"tValue\";i:50;s:9:\"updatedAt\";i:51;s:6:\"userId\";i:52;s:8:\"userVote\";i:53;s:26:\"valuePredictingHighOutcome\";i:54;s:25:\"valuePredictingLowOutcome\";}}s:10:\"DataSource\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":37:{s:9:\"affiliate\";O:8:\"stdClass\":2:{s:11:\"description\";s:8:\"Ex:
  true\";s:4:\"type\";s:7:\"boolean\";}s:15:\"backgroundColor\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Background
  color HEX code that matches the icon\";s:4:\"type\";s:6:\"string\";}s:7:\"buttons\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Button\";}s:4:\"type\";s:5:\"array\";}s:4:\"card\";O:8:\"stdClass\":2:{s:11:\"description\";s:75:\"Card
  containing instructions, image, text, link and relevant import buttons\";s:4:\"$ref\";s:18:\"#/definitions/Card\";}s:8:\"clientId\";O:8:\"stdClass\":2:{s:11:\"description\";s:91:\"Your
  QuantiModo client id can be obtained by creating an app at https://builder.quantimo.do\";s:4:\"type\";s:6:\"string\";}s:9:\"connected\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"True
  if the authenticated user has this connector enabled\";s:4:\"type\";s:7:\"boolean\";}s:12:\"connectError\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Ex:
  Your token is expired. Please re-connect\";s:4:\"type\";s:6:\"string\";}s:19:\"connectInstructions\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"URL
  and parameters used when connecting to a service\";s:4:\"$ref\";s:33:\"#/definitions/ConnectInstructions\";}s:11:\"connectorId\";O:8:\"stdClass\":2:{s:11:\"description\";s:5:\"Ex:
  8\";s:4:\"type\";s:7:\"integer\";}s:13:\"connectStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Ex:
  CONNECTED\";s:4:\"type\";s:6:\"string\";}s:5:\"count\";O:8:\"stdClass\":2:{s:11:\"description\";s:97:\"Number
  of measurements from this source or number of users who have measurements from this
  source\";s:4:\"type\";s:7:\"integer\";}s:9:\"createdAt\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Ex:
  2000-01-01 00:00:00 UTC ISO 8601 YYYY-MM-DDThh:mm:ss\";s:4:\"type\";s:6:\"string\";}s:17:\"connectorClientId\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"Ex:
  ba7d0c12432650e23b3ce924ae2d21e2ff59e7e4e28650759633700af7ed0a30\";s:4:\"type\";s:6:\"string\";}s:27:\"defaultVariableCategoryName\";O:8:\"stdClass\":2:{s:11:\"description\";s:9:\"Ex:
  Foods\";s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Ex:
  QuantiModo\";s:4:\"type\";s:6:\"string\";}s:7:\"enabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:5:\"Ex:
  0\";s:4:\"type\";s:7:\"integer\";}s:8:\"getItUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Ex:
  https://quantimo.do\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"Ex:
  72\";s:4:\"type\";s:7:\"integer\";}s:5:\"image\";O:8:\"stdClass\":2:{s:11:\"description\";s:76:\"Ex:
  https://web.quantimo.do/img/logos/quantimodo-logo-qm-rainbow-200-200.png\";s:4:\"type\";s:6:\"string\";}s:9:\"imageHtml\";O:8:\"stdClass\":2:{s:11:\"description\";s:180:\"Ex:
  <a href=\"https://quantimo.do\"><img id=\"quantimodo_image\" title=\"QuantiModo\"
  src=\"https://web.quantimo.do/img/logos/quantimodo-logo-qm-rainbow-200-200.png\"
  alt=\"QuantiModo\"></a>\";s:4:\"type\";s:6:\"string\";}s:23:\"lastSuccessfulUpdatedAt\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Ex:
  2017-07-31 10:10:34 UTC ISO 8601 YYYY-MM-DDThh:mm:ss\";s:4:\"type\";s:6:\"string\";}s:10:\"lastUpdate\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Epoch
  timestamp of last sync\";s:4:\"type\";s:7:\"integer\";}s:21:\"linkedDisplayNameHtml\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Ex:
  <a href=\"https://quantimo.do\">QuantiModo</a>\";s:4:\"type\";s:6:\"string\";}s:15:\"longDescription\";O:8:\"stdClass\":2:{s:11:\"description\";s:539:\"Ex:
  QuantiModo is a Chrome extension, Android app, iOS app, and web app that allows
  you to easily track mood, symptoms, or any outcome you want to optimize in a fraction
  of a second.  You can also import your data from over 30 other apps and devices
  like Fitbit, Rescuetime, Jawbone Up, Withings, Facebook, Github, Google Calendar,
  Runkeeper, MoodPanda, Slice, Google Fit, and more.  QuantiModo then analyzes your
  data to identify which hidden factors are most likely to be influencing your mood
  or symptoms and their optimal daily values.\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"Ex:
  Got 412 new measurements on 2017-07-31 10:10:34\";s:4:\"type\";s:6:\"string\";}s:19:\"mobileConnectMethod\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"Mobile
  connect method: webview, cordova, google, spreadsheet, or ip\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Ex:
  quantimodo\";s:4:\"type\";s:6:\"string\";}s:9:\"platforms\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"Platforms
  (chrome, android, ios, web) that you can connect on.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"premium\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"True
  if connection requires upgrade\";s:4:\"type\";s:7:\"boolean\";}s:6:\"scopes\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Required
  connector scopes\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:16:\"shortDescription\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Ex:
  Tracks anything\";s:4:\"type\";s:6:\"string\";}s:21:\"spreadsheetUploadLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"URL
  to POST a spreadsheet to (if available for this data source)\";s:4:\"type\";s:6:\"string\";}s:29:\"totalMeasurementsInLastUpdate\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Number
  of measurements obtained during latest update\";s:4:\"type\";s:7:\"integer\";}s:9:\"updatedAt\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Ex:
  2017-07-31 10:10:34 UTC ISO 8601 YYYY-MM-DDThh:mm:ss\";s:4:\"type\";s:6:\"string\";}s:17:\"updateRequestedAt\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Ex:
  2017-07-18 05:16:31 UTC ISO 8601 YYYY-MM-DDThh:mm:ss\";s:4:\"type\";s:6:\"string\";}s:12:\"updateStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Ex:
  UPDATED\";s:4:\"type\";s:6:\"string\";}s:6:\"userId\";O:8:\"stdClass\":2:{s:11:\"description\";s:7:\"Ex:
  230\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:13:{i:0;s:9:\"affiliate\";i:1;s:17:\"connectorClientId\";i:2;s:27:\"defaultVariableCategoryName\";i:3;s:11:\"displayName\";i:4;s:7:\"enabled\";i:5;s:8:\"getItUrl\";i:6;s:2:\"id\";i:7;s:5:\"image\";i:8;s:9:\"imageHtml\";i:9;s:21:\"linkedDisplayNameHtml\";i:10;s:15:\"longDescription\";i:11;s:4:\"name\";i:12;s:16:\"shortDescription\";}}s:11:\"DeviceToken\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"clientId\";O:8:\"stdClass\":2:{s:11:\"description\";s:9:\"Client
  id\";s:4:\"type\";s:6:\"string\";}s:8:\"platform\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"ios,
  android, or web\";s:4:\"type\";s:6:\"string\";}s:11:\"deviceToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"The
  device token\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:11:\"deviceToken\";i:1;s:8:\"platform\";}}s:5:\"Error\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Error
  message\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:7:\"message\";}}s:11:\"Explanation\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"Ex:
  These factors are most predictive of Overall Mood based on your own data.\";s:4:\"type\";s:6:\"string\";}s:5:\"image\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Image\";}s:7:\"ionIcon\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Ex:
  ion-ios-person\";s:4:\"type\";s:6:\"string\";}s:13:\"startTracking\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/ExplanationStartTracking\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Ex:
  Top Predictors of Overall Mood\";s:4:\"type\";s:6:\"string\";}s:4:\"html\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"Embeddable
  list of study summaries with explanation at the top\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:5:{i:0;s:11:\"description\";i:1;s:5:\"image\";i:2;s:7:\"ionIcon\";i:3;s:13:\"startTracking\";i:4;s:5:\"title\";}}s:24:\"ExplanationStartTracking\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"button\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Button\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:83:\"Ex:
  The more data I have the more accurate your results will be so track regularly!\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Ex:
  Improve Accuracy\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:6:\"button\";i:1;s:11:\"description\";i:2;s:5:\"title\";}}s:10:\"InputField\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":23:{s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"What
  do you expect?\";s:4:\"type\";s:6:\"string\";}s:8:\"helpText\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"What
  do you expect?\";s:4:\"type\";s:6:\"string\";}s:4:\"hint\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"What
  do you expect?\";s:4:\"type\";s:6:\"string\";}s:4:\"icon\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"What
  do you expect?\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"HTML
  element id\";s:4:\"type\";s:6:\"string\";}s:5:\"image\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"What
  do you expect?\";s:4:\"type\";s:6:\"string\";}s:3:\"key\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"What
  do you expect?\";s:4:\"type\";s:6:\"string\";}s:9:\"labelLeft\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"What
  do you expect?\";s:4:\"type\";s:6:\"string\";}s:10:\"labelRight\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"What
  do you expect?\";s:4:\"type\";s:6:\"string\";}s:4:\"link\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"What
  do you expect?\";s:4:\"type\";s:6:\"string\";}s:9:\"maxLength\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"What
  do you expect?\";s:4:\"type\";s:7:\"integer\";}s:8:\"maxValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"What
  do you expect?\";s:4:\"type\";s:6:\"number\";}s:9:\"minLength\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"What
  do you expect?\";s:4:\"type\";s:7:\"integer\";}s:8:\"minValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"What
  do you expect?\";s:4:\"type\";s:6:\"number\";}s:7:\"options\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Selector
  list options\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"placeholder\";O:8:\"stdClass\":2:{s:11:\"description\";s:9:\"Ex:
  Title\";s:4:\"type\";s:6:\"string\";}s:7:\"postUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"What
  do you expect?\";s:4:\"type\";s:6:\"string\";}s:8:\"required\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"What
  do you expect?\";s:4:\"type\";s:7:\"boolean\";}s:4:\"show\";O:8:\"stdClass\":2:{s:11:\"description\";s:9:\"Ex:
  Title\";s:4:\"type\";s:7:\"boolean\";}s:12:\"submitButton\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Button\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:9:\"Ex:
  Title\";s:4:\"enum\";a:11:{i:0;s:9:\"check_box\";i:1;s:4:\"date\";i:2;s:5:\"email\";i:3;s:6:\"number\";i:4;s:11:\"postal_code\";i:5;s:13:\"select_option\";i:6;s:6:\"string\";i:7;s:6:\"switch\";i:8;s:9:\"text_area\";i:9;s:4:\"unit\";i:10;s:17:\"variable_category\";}s:4:\"type\";s:6:\"string\";}s:17:\"validationPattern\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"See
  http://html5pattern.com/ for examples\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"What
  do you expect?\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:11:\"displayName\";i:1;s:4:\"type\";}}s:21:\"GetConnectorsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:10:\"connectors\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/DataSource\";}s:4:\"type\";s:5:\"array\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Can
  be used as body of help info popup\";s:4:\"type\";s:6:\"string\";}s:7:\"summary\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Can
  be used as title in help info popup\";s:4:\"type\";s:6:\"string\";}s:6:\"errors\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Array
  of error objects with message property\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Error\";}s:4:\"type\";s:5:\"array\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"ex.
  OK or ERROR\";s:4:\"type\";s:6:\"string\";}s:7:\"success\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"true
  or false\";s:4:\"type\";s:7:\"boolean\";}s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Response
  code such as 200\";s:4:\"type\";s:6:\"number\";}s:4:\"link\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"A
  super neat url you might want to share with your users!\";s:4:\"type\";s:6:\"string\";}s:4:\"card\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"A
  super neat card with buttons and HTML that you can use in your app!\";s:4:\"$ref\";s:18:\"#/definitions/Card\";}}s:8:\"required\";a:2:{i:0;s:11:\"description\";i:1;s:7:\"summary\";}}s:27:\"GetCorrelationsDataResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:12:\"correlations\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Correlation\";}s:4:\"type\";s:5:\"array\";}s:11:\"explanation\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Explanation\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Can
  be used as body of help info popup\";s:4:\"type\";s:6:\"string\";}s:7:\"summary\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Can
  be used as title in help info popup\";s:4:\"type\";s:6:\"string\";}s:6:\"errors\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Array
  of error objects with message property\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Error\";}s:4:\"type\";s:5:\"array\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"ex.
  OK or ERROR\";s:4:\"type\";s:6:\"string\";}s:7:\"success\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"true
  or false\";s:4:\"type\";s:7:\"boolean\";}s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Response
  code such as 200\";s:4:\"type\";s:6:\"number\";}s:4:\"link\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"A
  super neat url you might want to share with your users!\";s:4:\"type\";s:6:\"string\";}s:4:\"card\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"A
  super neat card with buttons and HTML that you can use in your app!\";s:4:\"$ref\";s:18:\"#/definitions/Card\";}}s:8:\"required\";a:2:{i:0;s:12:\"correlations\";i:1;s:11:\"explanation\";}}s:23:\"GetCorrelationsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/GetCorrelationsDataResponse\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Can
  be used as body of help info popup\";s:4:\"type\";s:6:\"string\";}s:7:\"summary\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Can
  be used as title in help info popup\";s:4:\"type\";s:6:\"string\";}s:6:\"avatar\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Square
  icon png url\";s:4:\"type\";s:6:\"string\";}s:6:\"errors\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Array
  of error objects with message property\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Error\";}s:4:\"type\";s:5:\"array\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"ex.
  OK or ERROR\";s:4:\"type\";s:6:\"string\";}s:7:\"success\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"true
  or false\";s:4:\"type\";s:7:\"boolean\";}s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Response
  code such as 200\";s:4:\"type\";s:6:\"number\";}s:4:\"link\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"A
  super neat url you might want to share with your users!\";s:4:\"type\";s:6:\"string\";}s:4:\"card\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"A
  super neat card with buttons and HTML that you can use in your app!\";s:4:\"$ref\";s:18:\"#/definitions/Card\";}}s:8:\"required\";a:2:{i:0;s:11:\"description\";i:1;s:7:\"summary\";}}s:18:\"GetStudiesResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:7:\"studies\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Study\";}s:4:\"type\";s:5:\"array\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"Ex:
  These factors are most predictive of Overall Mood based on your own data.\";s:4:\"type\";s:6:\"string\";}s:7:\"summary\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Can
  be used as title in help info popup\";s:4:\"type\";s:6:\"string\";}s:5:\"image\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Image\";}s:6:\"avatar\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Square
  icon png url\";s:4:\"type\";s:6:\"string\";}s:7:\"ionIcon\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Ex:
  ion-ios-person\";s:4:\"type\";s:6:\"string\";}s:13:\"startTracking\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/ExplanationStartTracking\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Ex:
  Top Predictors of Overall Mood\";s:4:\"type\";s:6:\"string\";}s:4:\"html\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"Embeddable
  list of study summaries with explanation at the top\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:11:\"description\";i:1;s:7:\"summary\";}}s:17:\"GetSharesResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:17:\"authorizedClients\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/AuthorizedClients\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Can
  be used as body of help info popup\";s:4:\"type\";s:6:\"string\";}s:7:\"summary\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Can
  be used as title in help info popup\";s:4:\"type\";s:6:\"string\";}s:6:\"errors\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Array
  of error objects with message property\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Error\";}s:4:\"type\";s:5:\"array\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"ex.
  OK or ERROR\";s:4:\"type\";s:6:\"string\";}s:7:\"success\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"true
  or false\";s:4:\"type\";s:7:\"boolean\";}s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Response
  code such as 200\";s:4:\"type\";s:6:\"number\";}s:4:\"link\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"A
  super neat url you might want to share with your users!\";s:4:\"type\";s:6:\"string\";}s:4:\"card\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"A
  super neat card with buttons and HTML that you can use in your app!\";s:4:\"$ref\";s:18:\"#/definitions/Card\";}}s:8:\"required\";a:2:{i:0;s:11:\"description\";i:1;s:7:\"summary\";}}s:12:\"FeedResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:5:\"cards\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Card\";}s:4:\"type\";s:5:\"array\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:110:\"Tracking
  reminder notifications, messages, and study result cards that can be displayed in
  user feed or stream\";s:4:\"type\";s:6:\"string\";}s:7:\"summary\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"Tracking
  reminder notifications, messages, and study results\";s:4:\"type\";s:6:\"string\";}s:6:\"errors\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Array
  of error objects with message property\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Error\";}s:4:\"type\";s:5:\"array\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"ex.
  OK or ERROR\";s:4:\"type\";s:6:\"string\";}s:7:\"success\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"true
  or false\";s:4:\"type\";s:7:\"boolean\";}s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Response
  code such as 200\";s:4:\"type\";s:6:\"number\";}s:4:\"link\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"A
  super neat url you might want to share with your users!\";s:4:\"type\";s:6:\"string\";}s:4:\"card\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"A
  super neat card with buttons and HTML that you can use in your app!\";s:4:\"$ref\";s:18:\"#/definitions/Card\";}}s:8:\"required\";a:3:{i:0;s:11:\"description\";i:1;s:7:\"summary\";i:2;s:5:\"cards\";}}s:40:\"GetTrackingReminderNotificationsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:4:\"data\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/TrackingReminderNotification\";}s:4:\"type\";s:5:\"array\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Can
  be used as body of help info popup\";s:4:\"type\";s:6:\"string\";}s:7:\"summary\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Can
  be used as title in help info popup\";s:4:\"type\";s:6:\"string\";}s:6:\"errors\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Array
  of error objects with message property\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Error\";}s:4:\"type\";s:5:\"array\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"ex.
  OK or ERROR\";s:4:\"type\";s:6:\"string\";}s:7:\"success\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"true
  or false\";s:4:\"type\";s:7:\"boolean\";}s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Response
  code such as 200\";s:4:\"type\";s:6:\"number\";}s:4:\"link\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"A
  super neat url you might want to share with your users!\";s:4:\"type\";s:6:\"string\";}s:4:\"card\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"A
  super neat card with buttons and HTML that you can use in your app!\";s:4:\"$ref\";s:18:\"#/definitions/Card\";}}s:8:\"required\";a:2:{i:0;s:11:\"description\";i:1;s:7:\"summary\";}}s:5:\"Image\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"height\";O:8:\"stdClass\":2:{s:11:\"description\";s:7:\"Ex:
  240\";s:4:\"type\";s:6:\"string\";}s:8:\"imageUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"Ex:
  https://www.filepicker.io/api/file/TjmeNWS5Q2SFmtJlUGLf\";s:4:\"type\";s:6:\"string\";}s:5:\"width\";O:8:\"stdClass\":2:{s:11:\"description\";s:7:\"Ex:
  224\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:6:\"height\";i:1;s:8:\"imageUrl\";i:2;s:5:\"width\";}}s:17:\"JsonErrorResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Error
  message\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Can
  be used as body of help info popup\";s:4:\"type\";s:6:\"string\";}s:7:\"summary\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Can
  be used as title in help info popup\";s:4:\"type\";s:6:\"string\";}s:6:\"errors\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Array
  of error objects with message property\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Error\";}s:4:\"type\";s:5:\"array\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"ex.
  OK or ERROR\";s:4:\"type\";s:6:\"string\";}s:7:\"success\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"true
  or false\";s:4:\"type\";s:7:\"boolean\";}s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Response
  code such as 200\";s:4:\"type\";s:6:\"number\";}s:4:\"link\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"A
  super neat url you might want to share with your users!\";s:4:\"type\";s:6:\"string\";}s:4:\"card\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"A
  super neat card with buttons and HTML that you can use in your app!\";s:4:\"$ref\";s:18:\"#/definitions/Card\";}}s:8:\"required\";a:1:{i:0;s:6:\"status\";}}s:11:\"Measurement\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":48:{s:4:\"card\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Card
  containing image, text, link and relevant buttons\";s:4:\"$ref\";s:18:\"#/definitions/Card\";}s:8:\"clientId\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Ex:
  quantimodo\";s:4:\"type\";s:6:\"string\";}s:11:\"connectorId\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"Ex:
  13\";s:4:\"type\";s:7:\"integer\";}s:9:\"createdAt\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Ex:
  2017-07-30 21:08:36\";s:4:\"type\";s:6:\"string\";}s:25:\"displayValueAndUnitString\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Examples:
  3/5, $10, or 1 count\";s:4:\"type\";s:6:\"string\";}s:8:\"iconIcon\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Ex:
  ion-sad-outline\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Ex:
  1051466127\";s:4:\"type\";s:7:\"integer\";}s:9:\"inputType\";O:8:\"stdClass\":2:{s:11:\"description\";s:9:\"Ex:
  value\";s:4:\"type\";s:6:\"string\";}s:7:\"ionIcon\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Ex:
  ion-ios-medkit-outline\";s:4:\"type\";s:6:\"string\";}s:14:\"manualTracking\";O:8:\"stdClass\":2:{s:11:\"description\";s:5:\"Ex:
  1\";s:4:\"type\";s:7:\"boolean\";}s:19:\"maximumAllowedValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Ex:
  5. Unit: User-specified or common.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:19:\"minimumAllowedValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Ex:
  1. Unit: User-specified or common.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:4:\"note\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Note
  of measurement\";s:4:\"type\";s:6:\"string\";}s:10:\"noteObject\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Additional
  meta data for the measurement\";s:4:\"type\";s:6:\"object\";}s:8:\"noteHtml\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"Embeddable
  HTML with message hyperlinked with associated url\";s:4:\"type\";s:6:\"object\";}s:14:\"originalUnitId\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"Ex:
  23\";s:4:\"type\";s:7:\"integer\";}s:13:\"originalValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Original
  value submitted. Unit: Originally submitted.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:7:\"pngPath\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Ex:
  img/variable_categories/treatments.png\";s:4:\"type\";s:6:\"string\";}s:6:\"pngUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"Ex:
  https://web.quantimo.do/img/variable_categories/treatments.png\";s:4:\"type\";s:6:\"string\";}s:10:\"productUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Link
  to associated product for purchase\";s:4:\"type\";s:6:\"string\";}s:10:\"sourceName\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"Application
  or device used to record the measurement values\";s:4:\"type\";s:6:\"string\";}s:9:\"startDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Ex:
  2014-08-27\";s:4:\"type\";s:6:\"string\";}s:14:\"startTimeEpoch\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"Seconds
  between the start of the event measured and 1970 (Unix timestamp)\";s:4:\"type\";s:7:\"integer\";}s:15:\"startTimeString\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"Start
  Time for the measurement event in UTC ISO 8601 YYYY-MM-DDThh:mm:ss\";s:4:\"type\";s:6:\"string\";}s:6:\"svgUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"Ex:
  https://web.quantimo.do/img/variable_categories/treatments.svg\";s:4:\"type\";s:6:\"string\";}s:19:\"unitAbbreviatedName\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Abbreviated
  name for the unit of measurement\";s:4:\"type\";s:6:\"string\";}s:14:\"unitCategoryId\";O:8:\"stdClass\":2:{s:11:\"description\";s:5:\"Ex:
  6\";s:4:\"type\";s:7:\"integer\";}s:16:\"unitCategoryName\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Ex:
  Miscellany\";s:4:\"type\";s:6:\"string\";}s:6:\"unitId\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"Ex:
  23\";s:4:\"type\";s:7:\"integer\";}s:8:\"unitName\";O:8:\"stdClass\":2:{s:11:\"description\";s:9:\"Ex:
  Count\";s:4:\"type\";s:6:\"string\";}s:9:\"updatedAt\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Ex:
  2017-07-30 21:08:36\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"Link
  to associated Facebook like or Github commit, for instance\";s:4:\"type\";s:6:\"string\";}s:31:\"userVariableUnitAbbreviatedName\";O:8:\"stdClass\":2:{s:11:\"description\";s:9:\"Ex:
  count\";s:4:\"type\";s:6:\"string\";}s:26:\"userVariableUnitCategoryId\";O:8:\"stdClass\":2:{s:11:\"description\";s:5:\"Ex:
  6\";s:4:\"type\";s:7:\"integer\";}s:28:\"userVariableUnitCategoryName\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Ex:
  Miscellany\";s:4:\"type\";s:6:\"string\";}s:18:\"userVariableUnitId\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"Ex:
  23\";s:4:\"type\";s:7:\"integer\";}s:20:\"userVariableUnitName\";O:8:\"stdClass\":2:{s:11:\"description\";s:9:\"Ex:
  Count\";s:4:\"type\";s:6:\"string\";}s:30:\"userVariableVariableCategoryId\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"Ex:
  13\";s:4:\"type\";s:7:\"integer\";}s:32:\"userVariableVariableCategoryName\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Ex:
  Treatments\";s:4:\"type\";s:6:\"string\";}s:7:\"valence\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Ex:
  negative\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Converted
  measurement value in requested unit\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:18:\"variableCategoryId\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"Ex:
  13\";s:4:\"type\";s:7:\"integer\";}s:24:\"variableCategoryImageUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"Ex:
  https://maxcdn.icons8.com/Color/PNG/96/Healthcare/pill-96.png\";s:4:\"type\";s:6:\"string\";}s:20:\"variableCategoryName\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Ex:
  Emotions, Treatments, Symptoms...\";s:4:\"enum\";a:23:{i:0;s:8:\"Activity\";i:1;s:5:\"Books\";i:2;s:17:\"Causes
  of Illness\";i:3;s:21:\"Cognitive Performance\";i:4;s:10:\"Conditions\";i:5;s:8:\"Emotions\";i:6;s:11:\"Environment\";i:7;s:5:\"Foods\";i:8;s:5:\"Goals\";i:9;s:9:\"Locations\";i:10;s:13:\"Miscellaneous\";i:11;s:13:\"Movies
  and TV\";i:12;s:5:\"Music\";i:13;s:9:\"Nutrients\";i:14;s:8:\"Payments\";i:15;s:19:\"Physical
  Activities\";i:16;s:8:\"Physique\";i:17;s:5:\"Sleep\";i:18;s:19:\"Social Interactions\";i:19;s:8:\"Software\";i:20;s:8:\"Symptoms\";i:21;s:10:\"Treatments\";i:22;s:11:\"Vital
  Signs\";}s:4:\"type\";s:6:\"string\";}s:19:\"variableDescription\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Ex:
  negative\";s:4:\"type\";s:6:\"string\";}s:10:\"variableId\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Ex:
  5956846\";s:4:\"type\";s:7:\"integer\";}s:12:\"variableName\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"Name
  of the variable for which we are creating the measurement records\";s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Ex:
  Trader Joe's Bedtime Tea\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:5:{i:0;s:10:\"sourceName\";i:1;s:15:\"startTimeString\";i:2;s:19:\"unitAbbreviatedName\";i:3;s:5:\"value\";i:4;s:12:\"variableName\";}}s:17:\"MeasurementDelete\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"startTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Start
  time of the measurement to be deleted\";s:4:\"type\";s:7:\"integer\";}s:10:\"variableId\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Variable
  id of the measurement to be deleted\";s:4:\"type\";s:7:\"integer\";}s:13:\"connectorName\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"Name
  of the connector for which measurements should be deleted\";s:4:\"type\";s:6:\"string\";}s:8:\"clientId\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Your
  app's client id\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:8:\"clientId\";}}s:15:\"MeasurementItem\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"note\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Optional
  note to include with the measurement\";s:4:\"type\";s:6:\"string\";}s:9:\"timestamp\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"Timestamp
  for the measurement event in epoch time (unixtime)\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Measurement
  value\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:8:\"required\";a:2:{i:0;s:9:\"timestamp\";i:1;s:5:\"value\";}}s:14:\"MeasurementSet\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:20:\"combinationOperation\";O:8:\"stdClass\":3:{s:11:\"description\";s:444:\"Way
  to aggregate measurements over time. SUM should be used for things like minutes
  of exercise.  If you use MEAN for exercise, then a person might exercise more minutes
  in one day but add separate measurements that were smaller.  So when we are doing
  correlational analysis, we would think that the person exercised less that day even
  though they exercised more.  Conversely, we must use MEAN for things such as ratings
  which cannot be SUMMED.\";s:4:\"enum\";a:2:{i:0;s:4:\"MEAN\";i:1;s:3:\"SUM\";}s:4:\"type\";s:6:\"string\";}s:16:\"measurementItems\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Array
  of timestamps, values, and optional notes\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/MeasurementItem\";}s:4:\"type\";s:5:\"array\";}s:10:\"sourceName\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"Name
  of the application or device used to record the measurement values\";s:4:\"type\";s:6:\"string\";}s:19:\"unitAbbreviatedName\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Unit
  of measurement\";s:4:\"type\";s:6:\"string\";}s:20:\"variableCategoryName\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Ex:
  Emotions, Treatments, Symptoms...\";s:4:\"enum\";a:23:{i:0;s:8:\"Activity\";i:1;s:5:\"Books\";i:2;s:17:\"Causes
  of Illness\";i:3;s:21:\"Cognitive Performance\";i:4;s:10:\"Conditions\";i:5;s:8:\"Emotions\";i:6;s:11:\"Environment\";i:7;s:5:\"Foods\";i:8;s:5:\"Goals\";i:9;s:9:\"Locations\";i:10;s:13:\"Miscellaneous\";i:11;s:13:\"Movies
  and TV\";i:12;s:5:\"Music\";i:13;s:9:\"Nutrients\";i:14;s:8:\"Payments\";i:15;s:19:\"Physical
  Activities\";i:16;s:8:\"Physique\";i:17;s:5:\"Sleep\";i:18;s:19:\"Social Interactions\";i:19;s:8:\"Software\";i:20;s:8:\"Symptoms\";i:21;s:10:\"Treatments\";i:22;s:11:\"Vital
  Signs\";}s:4:\"type\";s:6:\"string\";}s:12:\"variableName\";O:8:\"stdClass\":2:{s:11:\"description\";s:79:\"ORIGINAL
  name of the variable for which we are creating the measurement records\";s:4:\"type\";s:6:\"string\";}s:3:\"upc\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"UPC
  or other barcode scan result\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:16:\"measurementItems\";i:1;s:10:\"sourceName\";i:2;s:19:\"unitAbbreviatedName\";i:3;s:12:\"variableName\";}}s:17:\"MeasurementUpdate\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Variable
  id of the measurement to be updated\";s:4:\"type\";s:7:\"integer\";}s:4:\"note\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  new note for the measurement (optional)\";s:4:\"type\";s:6:\"string\";}s:9:\"startTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"The
  new timestamp for the the event in epoch seconds (optional)\";s:4:\"type\";s:7:\"integer\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  new value of for the measurement (optional)\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:8:\"required\";a:1:{i:0;s:2:\"id\";}}s:4:\"Pair\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:16:\"causeMeasurement\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Ex:
  101341.66666667\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:21:\"causeMeasurementValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Ex:
  101341.66666667\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:32:\"causeVariableUnitAbbreviatedName\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"Ex:
  mg\";s:4:\"type\";s:6:\"string\";}s:17:\"effectMeasurement\";O:8:\"stdClass\":3:{s:11:\"description\";s:8:\"Ex:
  7.98\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:22:\"effectMeasurementValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:8:\"Ex:
  7.98\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:33:\"effectVariableUnitAbbreviatedName\";O:8:\"stdClass\":2:{s:11:\"description\";s:5:\"Ex:
  %\";s:4:\"type\";s:6:\"string\";}s:7:\"eventAt\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Ex:
  2015-08-06 15:49:02 UTC ISO 8601 YYYY-MM-DDThh:mm:ss\";s:4:\"type\";s:6:\"string\";}s:15:\"eventAtUnixTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Ex:
  1438876142\";s:4:\"type\";s:7:\"integer\";}s:15:\"startTimeString\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Ex:
  2015-08-06 15:49:02 UTC ISO 8601 YYYY-MM-DDThh:mm:ss\";s:4:\"type\";s:6:\"string\";}s:9:\"timestamp\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Ex:
  1464937200\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:8:{i:0;s:16:\"causeMeasurement\";i:1;s:21:\"causeMeasurementValue\";i:2;s:32:\"causeVariableUnitAbbreviatedName\";i:3;s:17:\"effectMeasurement\";i:4;s:22:\"effectMeasurementValue\";i:5;s:33:\"effectVariableUnitAbbreviatedName\";i:6;s:14:\"startTimeSting\";i:7;s:9:\"timestamp\";}}s:22:\"ParticipantInstruction\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:28:\"instructionsForCauseVariable\";O:8:\"stdClass\":2:{s:11:\"description\";s:680:\"Ex:
  <a href=\"https://www.amazon.com/Fitbit-Charge-Heart-Fitness-Wristband/dp/B01K9S260E/ref=as_li_ss_tl?ie=UTF8&qid=1493518902&sr=8-3&keywords=fitbit&th=1&linkCode=ll1&tag=quant08-20&linkId=b357b0833de73b0c4e935fd7c13a079e\">Obtain
  Fitbit</a> and use it to record your Sleep Duration. Once you have a <a href=\"https://www.amazon.com/Fitbit-Charge-Heart-Fitness-Wristband/dp/B01K9S260E/ref=as_li_ss_tl?ie=UTF8&qid=1493518902&sr=8-3&keywords=fitbit&th=1&linkCode=ll1&tag=quant08-20&linkId=b357b0833de73b0c4e935fd7c13a079e\">Fitbit</a>
  account, <a href=\"https://web.quantimo.do/#/app/import\">connect your  Fitbit account
  at QuantiModo</a> to automatically import and analyze your data.\";s:4:\"type\";s:6:\"string\";}s:29:\"instructionsForEffectVariable\";O:8:\"stdClass\":2:{s:11:\"description\";s:310:\"Ex:
  <a href=\"https://quantimo.do\">Obtain QuantiModo</a> and use it to record your
  Overall Mood. Once you have a <a href=\"https://quantimo.do\">QuantiModo</a> account,
  <a href=\"https://web.quantimo.do/#/app/import\">connect your  QuantiModo account
  at QuantiModo</a> to automatically import and analyze your data.\";s:4:\"type\";s:6:\"string\";}}}s:28:\"PostMeasurementsDataResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":9:{s:13:\"userVariables\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Variable\";}s:4:\"type\";s:5:\"array\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Can
  be used as body of help info popup\";s:4:\"type\";s:6:\"string\";}s:7:\"summary\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Can
  be used as title in help info popup\";s:4:\"type\";s:6:\"string\";}s:6:\"errors\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Array
  of error objects with message property\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Error\";}s:4:\"type\";s:5:\"array\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"ex.
  OK or ERROR\";s:4:\"type\";s:6:\"string\";}s:7:\"success\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"true
  or false\";s:4:\"type\";s:7:\"boolean\";}s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Response
  code such as 200\";s:4:\"type\";s:6:\"number\";}s:4:\"link\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"A
  super neat url you might want to share with your users!\";s:4:\"type\";s:6:\"string\";}s:4:\"card\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"A
  super neat card with buttons and HTML that you can use in your app!\";s:4:\"$ref\";s:18:\"#/definitions/Card\";}}}s:24:\"PostMeasurementsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/PostMeasurementsDataResponse\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:7:\"Message\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Can
  be used as body of help info popup\";s:4:\"type\";s:6:\"string\";}s:7:\"summary\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Can
  be used as title in help info popup\";s:4:\"type\";s:6:\"string\";}s:6:\"errors\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Array
  of error objects with message property\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Error\";}s:4:\"type\";s:5:\"array\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"ex.
  OK or ERROR\";s:4:\"type\";s:6:\"string\";}s:7:\"success\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"true
  or false\";s:4:\"type\";s:7:\"boolean\";}s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Response
  code such as 200\";s:4:\"type\";s:6:\"number\";}s:4:\"link\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"A
  super neat url you might want to share with your users!\";s:4:\"type\";s:6:\"string\";}s:4:\"card\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"A
  super neat card with buttons and HTML that you can use in your app!\";s:4:\"$ref\";s:18:\"#/definitions/Card\";}}s:8:\"required\";a:2:{i:0;s:6:\"status\";i:1;s:7:\"success\";}}s:24:\"PostStudyPublishResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":8:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Can
  be used as body of help info popup\";s:4:\"type\";s:6:\"string\";}s:7:\"summary\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Can
  be used as title in help info popup\";s:4:\"type\";s:6:\"string\";}s:6:\"errors\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Array
  of error objects with message property\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Error\";}s:4:\"type\";s:5:\"array\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"ex.
  OK or ERROR\";s:4:\"type\";s:6:\"string\";}s:7:\"success\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"true
  or false\";s:4:\"type\";s:7:\"boolean\";}s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Response
  code such as 200\";s:4:\"type\";s:6:\"number\";}s:4:\"link\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"A
  super neat url you might want to share with your users!\";s:4:\"type\";s:6:\"string\";}s:4:\"card\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"A
  super neat card with buttons and HTML that you can use in your app!\";s:4:\"$ref\";s:18:\"#/definitions/Card\";}}}s:23:\"PostStudyCreateResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":9:{s:5:\"study\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Study\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Can
  be used as body of help info popup\";s:4:\"type\";s:6:\"string\";}s:7:\"summary\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Can
  be used as title in help info popup\";s:4:\"type\";s:6:\"string\";}s:6:\"errors\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Array
  of error objects with message property\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Error\";}s:4:\"type\";s:5:\"array\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"ex.
  OK or ERROR\";s:4:\"type\";s:6:\"string\";}s:7:\"success\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"true
  or false\";s:4:\"type\";s:7:\"boolean\";}s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Response
  code such as 200\";s:4:\"type\";s:6:\"number\";}s:4:\"link\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"A
  super neat url you might want to share with your users!\";s:4:\"type\";s:6:\"string\";}s:4:\"card\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"A
  super neat card with buttons and HTML that you can use in your app!\";s:4:\"$ref\";s:18:\"#/definitions/Card\";}}}s:33:\"PostTrackingRemindersDataResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":11:{s:29:\"trackingReminderNotifications\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/TrackingReminderNotification\";}s:4:\"type\";s:5:\"array\";}s:17:\"trackingReminders\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/TrackingReminder\";}s:4:\"type\";s:5:\"array\";}s:13:\"userVariables\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Variable\";}s:4:\"type\";s:5:\"array\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Can
  be used as body of help info popup\";s:4:\"type\";s:6:\"string\";}s:7:\"summary\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Can
  be used as title in help info popup\";s:4:\"type\";s:6:\"string\";}s:6:\"errors\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Array
  of error objects with message property\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Error\";}s:4:\"type\";s:5:\"array\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"ex.
  OK or ERROR\";s:4:\"type\";s:6:\"string\";}s:7:\"success\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"true
  or false\";s:4:\"type\";s:7:\"boolean\";}s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Response
  code such as 200\";s:4:\"type\";s:6:\"number\";}s:4:\"link\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"A
  super neat url you might want to share with your users!\";s:4:\"type\";s:6:\"string\";}s:4:\"card\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"A
  super neat card with buttons and HTML that you can use in your app!\";s:4:\"$ref\";s:18:\"#/definitions/Card\";}}}s:29:\"PostTrackingRemindersResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:47:\"#/definitions/PostTrackingRemindersDataResponse\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:7:\"Message\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Can
  be used as body of help info popup\";s:4:\"type\";s:6:\"string\";}s:7:\"summary\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Can
  be used as title in help info popup\";s:4:\"type\";s:6:\"string\";}s:6:\"errors\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Array
  of error objects with message property\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Error\";}s:4:\"type\";s:5:\"array\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"ex.
  OK or ERROR\";s:4:\"type\";s:6:\"string\";}s:7:\"success\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"true
  or false\";s:4:\"type\";s:7:\"boolean\";}s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Response
  code such as 200\";s:4:\"type\";s:6:\"number\";}s:4:\"link\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"A
  super neat url you might want to share with your users!\";s:4:\"type\";s:6:\"string\";}s:4:\"card\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"A
  super neat card with buttons and HTML that you can use in your app!\";s:4:\"$ref\";s:18:\"#/definitions/Card\";}}s:8:\"required\";a:2:{i:0;s:6:\"status\";i:1;s:7:\"success\";}}s:28:\"PostUserSettingsDataResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":9:{s:10:\"purchaseId\";O:8:\"stdClass\":2:{s:11:\"description\";s:5:\"Ex:
  1\";s:4:\"type\";s:7:\"integer\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Can
  be used as body of help info popup\";s:4:\"type\";s:6:\"string\";}s:7:\"summary\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Can
  be used as title in help info popup\";s:4:\"type\";s:6:\"string\";}s:6:\"errors\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Array
  of error objects with message property\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Error\";}s:4:\"type\";s:5:\"array\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"ex.
  OK or ERROR\";s:4:\"type\";s:6:\"string\";}s:7:\"success\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"true
  or false\";s:4:\"type\";s:7:\"boolean\";}s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Response
  code such as 200\";s:4:\"type\";s:6:\"number\";}s:4:\"link\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"A
  super neat url you might want to share with your users!\";s:4:\"type\";s:6:\"string\";}s:4:\"card\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"A
  super neat card with buttons and HTML that you can use in your app!\";s:4:\"$ref\";s:18:\"#/definitions/Card\";}}}s:24:\"PostUserSettingsResponse\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":10:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/PostUserSettingsDataResponse\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:7:\"Message\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Can
  be used as body of help info popup\";s:4:\"type\";s:6:\"string\";}s:7:\"summary\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Can
  be used as title in help info popup\";s:4:\"type\";s:6:\"string\";}s:6:\"errors\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Array
  of error objects with message property\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Error\";}s:4:\"type\";s:5:\"array\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"ex.
  OK or ERROR\";s:4:\"type\";s:6:\"string\";}s:7:\"success\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"true
  or false\";s:4:\"type\";s:7:\"boolean\";}s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Response
  code such as 200\";s:4:\"type\";s:6:\"number\";}s:4:\"link\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"A
  super neat url you might want to share with your users!\";s:4:\"type\";s:6:\"string\";}s:4:\"card\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"A
  super neat card with buttons and HTML that you can use in your app!\";s:4:\"$ref\";s:18:\"#/definitions/Card\";}}s:8:\"required\";a:2:{i:0;s:6:\"status\";i:1;s:7:\"success\";}s:4:\"type\";s:6:\"object\";}s:19:\"ShareInvitationBody\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"emailAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:133:\"Enter
  the email address of the friend, family member, or health-care provider that you
  would like to give access to your measurements\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"Name
  of the individual that the user wishes to have access to their measurements\";s:4:\"type\";s:6:\"string\";}s:12:\"emailSubject\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"Ex:
  I would like to share my measurements with you!\";s:4:\"type\";s:6:\"string\";}s:9:\"emailBody\";O:8:\"stdClass\":2:{s:11:\"description\";s:136:\"Ex:
  I would like to share my data with you so you can help me identify find discover
  hidden causes of and new treatments for my illness.\";s:4:\"type\";s:6:\"string\";}s:6:\"scopes\";O:8:\"stdClass\":2:{s:11:\"description\";s:117:\"Space
  separated list of scopes to grant to the recipient (i.e. readmeasurements, writemeasurements,
  measurements:read\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:12:\"emailAddress\";}}s:5:\"Study\";O:8:\"stdClass\":3:{s:11:\"description\";s:130:\"A
  study analyzes the relationship between a predictor variable like gluten-intake
  and an outcome of interest such as overall mood.\";s:10:\"properties\";O:8:\"stdClass\":18:{s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Ex:
  population, cohort, or individual\";s:4:\"type\";s:6:\"string\";}s:6:\"userId\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"The
  user id of the principal investigator or subject if an individual studies\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"ID
  of the cohort study which is necessary to allow participants to join\";s:4:\"type\";s:6:\"string\";}s:13:\"causeVariable\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Variable\";}s:17:\"causeVariableName\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Ex:
  Sleep Quality\";s:4:\"type\";s:6:\"string\";}s:11:\"studyCharts\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/StudyCharts\";}s:14:\"effectVariable\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Variable\";}s:18:\"effectVariableName\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Ex:
  Overall Mood\";s:4:\"type\";s:6:\"string\";}s:23:\"participantInstructions\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/ParticipantInstruction\";}s:10:\"statistics\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Correlation\";}s:9:\"studyCard\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Contains
  a summary, images, sharing buttons, and links\";s:4:\"$ref\";s:18:\"#/definitions/Card\";}s:9:\"studyHtml\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/StudyHtml\";}s:11:\"studyImages\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/StudyImages\";}s:10:\"studyLinks\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/StudyLinks\";}s:12:\"studySharing\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/StudySharing\";}s:9:\"studyText\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/StudyText\";}s:10:\"studyVotes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/StudyVotes\";}s:6:\"joined\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"True
  if you are sharing your data with this study\";s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:1:{i:0;s:4:\"type\";}}s:11:\"StudyCharts\";O:8:\"stdClass\":2:{s:11:\"description\";s:98:\"An
  object with various chart properties each property contain and svg and Highcharts
  configuration\";s:10:\"properties\";O:8:\"stdClass\":5:{s:26:\"populationTraitScatterPlot\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Chart\";}s:30:\"outcomeDistributionColumnChart\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Chart\";}s:32:\"predictorDistributionColumnChart\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Chart\";}s:22:\"correlationScatterPlot\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Chart\";}s:22:\"pairsOverTimeLineChart\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Chart\";}}}s:17:\"StudyCreationBody\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:17:\"causeVariableName\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Name
  of predictor variable\";s:4:\"type\";s:6:\"string\";}s:18:\"effectVariableName\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Name
  of the outcome variable\";s:4:\"type\";s:6:\"string\";}s:10:\"studyTitle\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Title
  of your study (optional)\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:224:\"Individual
  studies are based on data of a single user. Group studies are based on data from
  a specific group of individuals who have joined.  Global studies are based on aggregated
  and anonymously shared data from all users.\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:10:\"individual\";i:1;s:5:\"group\";i:2;s:6:\"global\";}}}s:8:\"required\";a:3:{i:0;s:17:\"causeVariableName\";i:1;s:18:\"effectVariableName\";i:2;s:4:\"type\";}}s:9:\"StudyHtml\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":14:{s:9:\"chartHtml\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Embeddable
  chart html\";s:4:\"type\";s:6:\"string\";}s:19:\"downloadButtonsHtml\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Play
  Store, App Store, Chrome Web Store\";s:4:\"type\";s:6:\"string\";}s:16:\"fullPageWithHead\";O:8:\"stdClass\":2:{s:11:\"description\";s:134:\"Embeddable
  study including HTML head section charts.  Modifiable css classes are study-title,
  study-section-header, study-section-body\";s:4:\"type\";s:6:\"string\";}s:13:\"fullStudyHtml\";O:8:\"stdClass\":2:{s:11:\"description\";s:126:\"Embeddable
  study text html including charts.  Modifiable css classes are study-title, study-section-header,
  study-section-body\";s:4:\"type\";s:6:\"string\";}s:26:\"fullStudyHtmlWithCssStyles\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Embeddable
  study html including charts and css styling\";s:4:\"type\";s:6:\"string\";}s:27:\"participantInstructionsHtml\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Instructions
  for study participation\";s:4:\"type\";s:6:\"string\";}s:19:\"statisticsTableHtml\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Embeddable
  table with statistics\";s:4:\"type\";s:6:\"string\";}s:17:\"studyAbstractHtml\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Text
  summary\";s:4:\"type\";s:6:\"string\";}s:15:\"studyHeaderHtml\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Title,
  study image, abstract with CSS styling\";s:4:\"type\";s:6:\"string\";}s:14:\"studyImageHtml\";O:8:\"stdClass\":2:{s:11:\"description\";s:9:\"PNG
  image\";s:4:\"type\";s:6:\"string\";}s:13:\"studyMetaHtml\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Facebook,
  Twitter, Google+\";s:4:\"type\";s:6:\"string\";}s:13:\"studyTextHtml\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Formatted
  study text sections\";s:4:\"type\";s:6:\"string\";}s:23:\"socialSharingButtonHtml\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"What
  do you expect?\";s:4:\"type\";s:6:\"string\";}s:19:\"studySummaryBoxHtml\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"What
  do you expect?\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:9:\"chartHtml\";i:1;s:13:\"fullStudyHtml\";}}s:11:\"StudyImages\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:21:\"causeVariableImageUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:75:\"Ex:
  https://maxcdn.icons8.com/Color/PNG/96/Household/sleeping_in_bed-96.png\";s:4:\"type\";s:6:\"string\";}s:20:\"causeVariableIonIcon\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Ex:
  ion-ios-cloudy-night-outline\";s:4:\"type\";s:6:\"string\";}s:22:\"effectVariableImageUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"Ex:
  https://maxcdn.icons8.com/Color/PNG/96/Cinema/theatre_mask-96.png\";s:4:\"type\";s:6:\"string\";}s:21:\"effectVariableIonIcon\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Ex:
  ion-happy-outline\";s:4:\"type\";s:6:\"string\";}s:10:\"gaugeImage\";O:8:\"stdClass\":2:{s:11:\"description\";s:94:\"Ex:
  https://s3.amazonaws.com/quantimodo-docs/images/gauge-moderately-positive-relationship.png\";s:4:\"type\";s:6:\"string\";}s:16:\"gaugeImageSquare\";O:8:\"stdClass\":2:{s:11:\"description\";s:102:\"Ex:
  https://s3.amazonaws.com/quantimodo-docs/images/gauge-moderately-positive-relationship-200-200.png\";s:4:\"type\";s:6:\"string\";}s:20:\"gaugeSharingImageUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Image
  with gauge and category images\";s:4:\"type\";s:6:\"string\";}s:8:\"imageUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:164:\"Ex:
  https://s3-us-west-1.amazonaws.com/qmimages/variable_categories_gauges_logo_background/gauge-moderately-positive-relationship_sleep_emotions_logo_background.png\";s:4:\"type\";s:6:\"string\";}s:20:\"robotSharingImageUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Image
  with robot and category images\";s:4:\"type\";s:6:\"string\";}s:6:\"avatar\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Avatar
  of the principal investigator\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:10:\"gaugeImage\";i:1;s:16:\"gaugeImageSquare\";i:2;s:8:\"imageUrl\";}}s:17:\"StudyJoinResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":11:{s:5:\"study\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Study\";}s:17:\"trackingReminders\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/TrackingReminder\";}}s:29:\"trackingReminderNotifications\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/TrackingReminderNotification\";}}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Can
  be used as body of help info popup\";s:4:\"type\";s:6:\"string\";}s:7:\"summary\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Can
  be used as title in help info popup\";s:4:\"type\";s:6:\"string\";}s:6:\"errors\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Array
  of error objects with message property\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Error\";}s:4:\"type\";s:5:\"array\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"ex.
  OK or ERROR\";s:4:\"type\";s:6:\"string\";}s:7:\"success\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"true
  or false\";s:4:\"type\";s:7:\"boolean\";}s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Response
  code such as 200\";s:4:\"type\";s:6:\"number\";}s:4:\"link\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"A
  super neat url you might want to share with your users!\";s:4:\"type\";s:6:\"string\";}s:4:\"card\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"A
  super neat card with buttons and HTML that you can use in your app!\";s:4:\"$ref\";s:18:\"#/definitions/Card\";}}}s:10:\"StudyLinks\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:13:\"studyJoinLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Share
  this link with potential study participants\";s:4:\"type\";s:6:\"string\";}s:14:\"studyLinkEmail\";O:8:\"stdClass\":2:{s:11:\"description\";s:300:\"Ex:
  mailto:?subject=N1%20Study%3A%20Sleep%20Quality%20Predicts%20Higher%20Overall%20Mood&body=Check%20out%20my%20study%20at%20https%3A%2F%2Flocal.quantimo.do%2Fapi%2Fv2%2Fstudy%3FcauseVariableName%3DSleep%2520Quality%26effectVariableName%3DOverall%2520Mood%26userId%3D230%0A%0AHave%20a%20great%20day!\";s:4:\"type\";s:6:\"string\";}s:17:\"studyLinkFacebook\";O:8:\"stdClass\":2:{s:11:\"description\";s:194:\"Ex:
  https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Flocal.quantimo.do%2Fapi%2Fv2%2Fstudy%3FcauseVariableName%3DSleep%2520Quality%26effectVariableName%3DOverall%2520Mood%26userId%3D230\";s:4:\"type\";s:6:\"string\";}s:15:\"studyLinkGoogle\";O:8:\"stdClass\":2:{s:11:\"description\";s:183:\"Ex:
  https://plus.google.com/share?url=https%3A%2F%2Flocal.quantimo.do%2Fapi%2Fv2%2Fstudy%3FcauseVariableName%3DSleep%2520Quality%26effectVariableName%3DOverall%2520Mood%26userId%3D230\";s:4:\"type\";s:6:\"string\";}s:15:\"studyLinkStatic\";O:8:\"stdClass\":2:{s:11:\"description\";s:121:\"Ex:
  https://local.quantimo.do/api/v2/study?causeVariableName=Sleep%20Quality&effectVariableName=Overall%20Mood&userId=230\";s:4:\"type\";s:6:\"string\";}s:16:\"studyLinkDynamic\";O:8:\"stdClass\":2:{s:11:\"description\";s:145:\"Ex:
  https://local.quantimo.do/ionic/Modo/www/index.html#/app/study?causeVariableName=Sleep%20Quality&effectVariableName=Overall%20Mood&userId=230\";s:4:\"type\";s:6:\"string\";}s:16:\"studyLinkTwitter\";O:8:\"stdClass\":2:{s:11:\"description\";s:252:\"Ex:
  https://twitter.com/home?status=Sleep%20Quality%20Predicts%20Higher%20Overall%20Mood%20https%3A%2F%2Flocal.quantimo.do%2Fapi%2Fv2%2Fstudy%3FcauseVariableName%3DSleep%2520Quality%26effectVariableName%3DOverall%2520Mood%26userId%3D230%20%40quantimodo\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:6:{i:0;s:16:\"studyLinkDynamic\";i:1;s:14:\"studyLinkEmail\";i:2;s:17:\"studyLinkFacebook\";i:3;s:15:\"studyLinkGoogle\";i:4;s:15:\"studyLinkStatic\";i:5;s:16:\"studyLinkTwitter\";}}s:12:\"StudySharing\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:21:\"shareUserMeasurements\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"Would
  you like to make this study publicly visible?\";s:4:\"type\";s:7:\"boolean\";}s:18:\"sharingDescription\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Ex:
  N1 Study: Sleep Quality Predicts Higher Overall Mood\";s:4:\"type\";s:6:\"string\";}s:12:\"sharingTitle\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Ex:
  N1 Study: Sleep Quality Predicts Higher Overall Mood\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:21:\"shareUserMeasurements\";i:1;s:18:\"sharingDescription\";i:2;s:12:\"sharingTitle\";}}s:9:\"StudyText\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":24:{s:42:\"averageEffectFollowingHighCauseExplanation\";O:8:\"stdClass\":2:{s:11:\"description\";s:94:\"Ex:
  Overall Mood is 3.55/5 (15% higher) on average after days with around 4.19/5 Sleep
  Quality\";s:4:\"type\";s:6:\"string\";}s:41:\"averageEffectFollowingLowCauseExplanation\";O:8:\"stdClass\":2:{s:11:\"description\";s:93:\"Ex:
  Overall Mood is 2.65/5 (14% lower) on average after days with around 1.97/5 Sleep
  Quality\";s:4:\"type\";s:6:\"string\";}s:37:\"valuePredictingHighOutcomeExplanation\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"Ex:
  Overall Mood, on average, 17% higher after around 4.14/5 Sleep Quality\";s:4:\"type\";s:6:\"string\";}s:36:\"valuePredictingLowOutcomeExplanation\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"Ex:
  Overall Mood, on average, 11% lower after around 3.03/5 Sleep Quality\";s:4:\"type\";s:6:\"string\";}s:12:\"dataAnalysis\";O:8:\"stdClass\":2:{s:11:\"description\";s:285:\"Ex:
  It was assumed that 0 hours would pass before a change in Very Distracting Time
  would produce an observable change in Video Activities.  It was assumed that Very
  Distracting Time could produce an observable change in Video Activities for as much
  as 7 days after the stimulus event.\";s:4:\"type\";s:6:\"string\";}s:11:\"dataSources\";O:8:\"stdClass\":2:{s:11:\"description\";s:849:\"Ex:
  Very Distracting Time data was primarily collected using <a href=\"https://www.rescuetime.com/rp/quantimodo/plans\">RescueTime</a>.
  Detailed reports show which applications and websites you spent time on. Activities
  are automatically grouped into pre-defined categories with built-in productivity
  scores covering thousands of websites and applications. You can customize categories
  and productivity scores to meet your needs.<br>Video Activities data was primarily
[...]
