---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":13:{s:7:\"contact\";O:8:\"stdClass\":3:{s:5:\"email\";s:21:\"transform@apimatic.io\";s:4:\"name\";s:15:\"API
  Transformer\";s:3:\"url\";s:31:\"https://apimatic.io/transformer\";}s:11:\"description\";s:50:\"Transform
  API Descriptions from/to various formats\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:3:\"MIT\";s:3:\"url\";s:35:\"https://opensource.org/licenses/MIT\";}s:14:\"termsOfService\";s:31:\"https://apimatic.io/transformer\";s:5:\"title\";s:24:\"APIMATIC
  API Transformer\";s:7:\"version\";s:3:\"1.0\";s:21:\"x-apisguru-categories\";a:2:{i:0;s:15:\"developer_tools\";i:1;s:5:\"tools\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#2a313a\";s:3:\"url\";s:44:\"https://apimatic.io/img/theme/Convertron.svg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:114:\"https://raw.githubusercontent.com/Mermade/open_api_specifications/master/APIMATIC%20API%20Transformer/swagger.json\";s:7:\"version\";s:3:\"2.0\";}}s:14:\"x-providerName\";s:11:\"apimatic.io\";s:6:\"x-tags\";a:8:{i:0;s:3:\"API\";i:1;s:16:\"API
  descriptions\";i:2;s:14:\"API definition\";i:3;s:7:\"swagger\";i:4;s:4:\"RAML\";i:5;s:4:\"WADL\";i:6;s:13:\"API
  blueprint\";i:7;s:7:\"OpenAPI\";}s:16:\"x-unofficialSpec\";b:1;s:11:\"x-preferred\";b:1;}"
host: apimatic.io
basePath: /api/transform
paths:
  /transform:
    post:
      description: Transform API Descriptions from/to various formats e.g., Swagger,
        API Blueprint, RAML, WADL, Google Discovery, I/O Docs.nn### INPUTSn* API Blueprintn*
        Swagger 1.0 - 1.2n* Swagger 2.0 JSONn* Swagger 2.0 YAMLn* WADL - W3C 2009n*
        Google Discoveryn* RAML 0.8n* I/O Docs - Masheryn* HAR 1.2n* Postman Collection
        1.0 - 2.0n* APIMATIC Formatn* Mashapenn### OUTPUTSn* API Blueprintn* Swagger
        1.2n* Swagger 2.0 JSONn* Swagger 2.0 YAMLn* WADL - W3C 2009n* RAML 0.8 - 1.0n*
        APIMATIC Format
      operationId: ConvertAPI
      parameters:
      - enum:
        - swagger10
        - swagger20
        - swaggeryaml
        - apiblueprint
        - wadl2009
        - raml
        - apimatic
        in: query
        name: format
        required: true
        type: string
      - in: formData
        name: url
        required: false
        type: string
      responses:
        200:
          description: The converted API specification
          schema:
            type: object
        429:
          description: Rate-limit exceeded
      security: []
      summary: Transform API Descriptions from/to various formats
produces:
- application/json
- application/x-yaml
schemes:
- https
...
