---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":2:{s:7:\"version\";s:5:\"2.3.2\";s:5:\"title\";s:45:\"Magento
  Guest REST endpoints - All inclusive \";}"
host: magento2.vagrant2
basePath: /rest/default
paths:
  /V1/amazon-billing-address/{amazonOrderReferenceId}:
    put:
      tags:
      - amazon-billing-address/{amazonOrderReferenceId}
      description: ""
      operationId: amazonPaymentAddressManagementV1GetBillingAddressPut
      parameters:
      - name: amazonOrderReferenceId
        in: path
        type: string
        required: true
      - name: amazonPaymentAddressManagementV1GetBillingAddressPutBody
        in: body
        schema:
          required:
          - addressConsentToken
          properties:
            addressConsentToken:
              type: string
          type: object
      responses:
        200:
          description: 200 Success.
          schema:
            type: string
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: amazon-billing-address/{amazonOrderReferenceId}
  /V1/amazon-shipping-address/{amazonOrderReferenceId}:
    put:
      tags:
      - amazon-shipping-address/{amazonOrderReferenceId}
      description: ""
      operationId: amazonPaymentAddressManagementV1GetShippingAddressPut
      parameters:
      - name: amazonOrderReferenceId
        in: path
        type: string
        required: true
      - name: amazonPaymentAddressManagementV1GetShippingAddressPutBody
        in: body
        schema:
          required:
          - addressConsentToken
          properties:
            addressConsentToken:
              type: string
          type: object
      responses:
        200:
          description: 200 Success.
          schema:
            type: string
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: amazon-shipping-address/{amazonOrderReferenceId}
  /V1/amazon/order-ref:
    delete:
      tags:
      - amazon/order-ref
      description: ""
      operationId: amazonPaymentOrderInformationManagementV1RemoveOrderReferenceDelete
      responses:
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: amazon/order-ref
  /V1/carts/guest-carts/{cartId}/checkGiftCard/{giftCardCode}:
    get:
      tags:
      - carts/guest-carts/{cartId}/checkGiftCard/{giftCardCode}
      description: Check gift card balance if added to the cart.
      operationId: giftCardAccountGuestGiftCardAccountManagementV1CheckGiftCardGet
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
      - name: giftCardCode
        in: path
        type: string
        required: true
      responses:
        200:
          description: 200 Success.
          schema:
            type: number
        400:
          description: 400 Bad Request
          schema:
            $ref: '#/definitions/error-response'
        500:
          description: Internal Server error
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: carts/guest-carts/{cartId}/checkGiftCard/{giftCardCode}
  /V1/carts/guest-carts/{cartId}/giftCards:
    post:
      tags:
      - carts/guest-carts/{cartId}/giftCards
      description: Add gift card to the cart.
      operationId: giftCardAccountGuestGiftCardAccountManagementV1AddGiftCardPost
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
      - name: giftCardAccountGuestGiftCardAccountManagementV1AddGiftCardPostBody
        in: body
        schema:
          required:
          - giftCardAccountData
          properties:
            giftCardAccountData:
              $ref: '#/definitions/gift-card-account-data-gift-card-account-interface'
          type: object
      responses:
        200:
          description: 200 Success.
          schema:
            type: boolean
        500:
          description: Internal Server error
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: carts/guest-carts/{cartId}/giftCards
  /V1/carts/guest-carts/{cartId}/giftCards/{giftCardCode}:
    delete:
      tags:
      - carts/guest-carts/{cartId}/giftCards/{giftCardCode}
      description: Remove GiftCard Account entity.
      operationId: giftCardAccountGuestGiftCardAccountManagementV1DeleteByQuoteIdDelete
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
      - name: giftCardCode
        in: path
        type: string
        required: true
      responses:
        200:
          description: 200 Success.
          schema:
            type: boolean
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: carts/guest-carts/{cartId}/giftCards/{giftCardCode}
  /V1/customers:
    post:
      tags:
      - customers
      description: Create customer account. Perform necessary business operations
        like sending email.
      operationId: customerAccountManagementV1CreateAccountPost
      parameters:
      - name: customerAccountManagementV1CreateAccountPostBody
        in: body
        schema:
          required:
          - customer
          properties:
            customer:
              $ref: '#/definitions/customer-data-customer-interface'
            password:
              type: string
            redirectUrl:
              type: string
          type: object
      responses:
        200:
          description: 200 Success.
          schema:
            $ref: '#/definitions/customer-data-customer-interface'
        500:
          description: Internal Server error
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: customers
  /V1/customers/isEmailAvailable:
    post:
      tags:
      - customers/isEmailAvailable
      description: Check if given email is associated with a customer account in given
        website.
      operationId: customerAccountManagementV1IsEmailAvailablePost
      parameters:
      - name: customerAccountManagementV1IsEmailAvailablePostBody
        in: body
        schema:
          required:
          - customerEmail
          properties:
            customerEmail:
              type: string
            websiteId:
              type: integer
              description: If not set, will use the current websiteId
          type: object
      responses:
        200:
          description: 200 Success.
          schema:
            type: boolean
        500:
          description: Internal Server error
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: customers/isEmailAvailable
  /V1/customers/password:
    put:
      tags:
      - customers/password
      description: Send an email to the customer with a password reset link.
      operationId: customerAccountManagementV1InitiatePasswordResetPut
      parameters:
      - name: customerAccountManagementV1InitiatePasswordResetPutBody
        in: body
        schema:
          required:
          - email
          - template
          properties:
            email:
              type: string
            template:
              type: string
            websiteId:
              type: integer
          type: object
      responses:
        200:
          description: 200 Success.
          schema:
            type: boolean
            description: true on success
        500:
          description: Internal Server error
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: customers/password
  /V1/customers/resetPassword:
    post:
      tags:
      - customers/resetPassword
      description: Reset customer password.
      operationId: customerAccountManagementV1ResetPasswordPost
      parameters:
      - name: customerAccountManagementV1ResetPasswordPostBody
        in: body
        schema:
          required:
          - email
          - resetToken
          - newPassword
          properties:
            email:
              type: string
              description: If empty value given then the customer will be matched
                by the RP token.
            resetToken:
              type: string
            newPassword:
              type: string
          type: object
      responses:
        200:
          description: 200 Success.
          schema:
            type: boolean
            description: true on success
        500:
          description: Internal Server error
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: customers/resetPassword
  /V1/customers/{customerId}/password/resetLinkToken/{resetPasswordLinkToken}:
    get:
      tags:
      - customers/{customerId}/password/resetLinkToken/{resetPasswordLinkToken}
      description: Check if password reset token is valid.
      operationId: customerAccountManagementV1ValidateResetPasswordLinkTokenGet
      parameters:
      - name: customerId
        in: path
        type: integer
        required: true
        description: If null is given then a customer will be matched by the RP token.
      - name: resetPasswordLinkToken
        in: path
        type: string
        required: true
      responses:
        200:
          description: 200 Success.
          schema:
            type: boolean
            description: True if the token is valid
        400:
          description: 400 Bad Request
          schema:
            $ref: '#/definitions/error-response'
        500:
          description: Internal Server error
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: customers/{customerId}/password/resetLinkToken/{resetPasswordLinkToken}
  /V1/directory/countries:
    get:
      tags:
      - directory/countries
      description: Get all countries and regions information for the store.
      operationId: directoryCountryInformationAcquirerV1GetCountriesInfoGet
      responses:
        200:
          description: 200 Success.
          schema:
            type: array
            items:
              $ref: '#/definitions/directory-data-country-information-interface'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: directory/countries
  /V1/directory/countries/{countryId}:
    get:
      tags:
      - directory/countries/{countryId}
      description: Get country and region information for the store.
      operationId: directoryCountryInformationAcquirerV1GetCountryInfoGet
      parameters:
      - name: countryId
        in: path
        type: string
        required: true
      responses:
        200:
          description: 200 Success.
          schema:
            $ref: '#/definitions/directory-data-country-information-interface'
        400:
          description: 400 Bad Request
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: directory/countries/{countryId}
  /V1/directory/currency:
    get:
      tags:
      - directory/currency
      description: Get currency information for the store.
      operationId: directoryCurrencyInformationAcquirerV1GetCurrencyInfoGet
      responses:
        200:
          description: 200 Success.
          schema:
            $ref: '#/definitions/directory-data-currency-information-interface'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: directory/currency
  /V1/guest-carts:
    post:
      tags:
      - guest-carts
      description: Enable an customer or guest user to create an empty cart and quote
        for an anonymous customer.
      operationId: quoteGuestCartManagementV1CreateEmptyCartPost
      responses:
        200:
          description: 200 Success.
          schema:
            type: string
            description: Cart ID.
        400:
          description: 400 Bad Request
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: guest-carts
  /V1/guest-carts/{cartId}:
    get:
      tags:
      - guest-carts/{cartId}
      description: Enable a guest user to return information for a specified cart.
      operationId: quoteGuestCartRepositoryV1GetGet
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
      responses:
        200:
          description: 200 Success.
          schema:
            $ref: '#/definitions/quote-data-cart-interface'
        400:
          description: 400 Bad Request
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: guest-carts/{cartId}
  /V1/guest-carts/{cartId}/billing-address:
    get:
      tags:
      - guest-carts/{cartId}/billing-address
      description: Return the billing address for a specified quote.
      operationId: quoteGuestBillingAddressManagementV1GetGet
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
        description: The cart ID.
      responses:
        200:
          description: 200 Success.
          schema:
            $ref: '#/definitions/quote-data-address-interface'
        400:
          description: 400 Bad Request
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: guest-carts/{cartId}/billing-address
    post:
      tags:
      - guest-carts/{cartId}/billing-address
      description: Assign a specified billing address to a specified cart.
      operationId: quoteGuestBillingAddressManagementV1AssignPost
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
        description: The cart ID.
      - name: quoteGuestBillingAddressManagementV1AssignPostBody
        in: body
        schema:
          required:
          - address
          properties:
            address:
              $ref: '#/definitions/quote-data-address-interface'
            useForShipping:
              type: boolean
          type: object
      responses:
        200:
          description: 200 Success.
          schema:
            type: integer
            description: Address ID.
        400:
          description: 400 Bad Request
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: guest-carts/{cartId}/billing-address
  /V1/guest-carts/{cartId}/checkout-collection-point/select:
    post:
      tags:
      - guest-carts/{cartId}/checkout-collection-point/select
      description: Select a given collection point for checkout.
      operationId: temandoShippingCheckoutGuestCartCollectionPointManagementV1SelectCollectionPointPost
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
      - name: temandoShippingCheckoutGuestCartCollectionPointManagementV1SelectCollectionPointPostBody
        in: body
        schema:
          required:
          - collectionPointId
          properties:
            collectionPointId:
              type: string
          type: object
      responses:
        200:
          description: 200 Success.
          schema:
            type: boolean
        500:
          description: Internal Server error
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: guest-carts/{cartId}/checkout-collection-point/select
  /V1/guest-carts/{cartId}/checkout-fields:
    post:
      tags:
      - guest-carts/{cartId}/checkout-fields
      description: ""
      operationId: temandoShippingQuoteGuestCartCheckoutFieldManagementV1SaveCheckoutFieldsPost
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
      - name: temandoShippingQuoteGuestCartCheckoutFieldManagementV1SaveCheckoutFieldsPostBody
        in: body
        schema:
          required:
          - serviceSelection
          properties:
            serviceSelection:
              type: array
              items:
                $ref: '#/definitions/framework-attribute-interface'
          type: object
      responses:
        400:
          description: 400 Bad Request
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: guest-carts/{cartId}/checkout-fields
  /V1/guest-carts/{cartId}/checkout-pickup-location/select:
    post:
      tags:
      - guest-carts/{cartId}/checkout-pickup-location/select
      description: Select a given pickup location for checkout.
      operationId: temandoShippingCheckoutGuestCartPickupLocationManagementV1SelectPickupLocationPost
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
      - name: temandoShippingCheckoutGuestCartPickupLocationManagementV1SelectPickupLocationPostBody
        in: body
        schema:
          required:
          - pickupLocationId
          properties:
            pickupLocationId:
              type: string
          type: object
      responses:
        200:
          description: 200 Success.
          schema:
            type: boolean
        500:
          description: Internal Server error
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: guest-carts/{cartId}/checkout-pickup-location/select
  /V1/guest-carts/{cartId}/collect-totals:
    put:
      tags:
      - guest-carts/{cartId}/collect-totals
      description: Set shipping/billing methods and additional data for cart and collect
        totals for guest.
      operationId: quoteGuestCartTotalManagementV1CollectTotalsPut
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
        description: The cart ID.
      - name: quoteGuestCartTotalManagementV1CollectTotalsPutBody
        in: body
        schema:
          required:
          - paymentMethod
          properties:
            paymentMethod:
              $ref: '#/definitions/quote-data-payment-interface'
            shippingCarrierCode:
              type: string
              description: The carrier code.
            shippingMethodCode:
              type: string
              description: The shipping method code.
            additionalData:
              $ref: '#/definitions/quote-data-totals-additional-data-interface'
          type: object
      responses:
        200:
          description: 200 Success.
          schema:
            $ref: '#/definitions/quote-data-totals-interface'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: guest-carts/{cartId}/collect-totals
  /V1/guest-carts/{cartId}/collection-point/search-request:
    put:
      tags:
      - guest-carts/{cartId}/collection-point/search-request
      description: Save a customer's search for collection points.
      operationId: temandoShippingCheckoutGuestCartCollectionPointManagementV1SaveSearchRequestPut
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
      - name: temandoShippingCheckoutGuestCartCollectionPointManagementV1SaveSearchRequestPutBody
        in: body
        schema:
          required:
          - countryId
          - postcode
          properties:
            countryId:
              type: string
            postcode:
              type: string
          type: object
      responses:
        200:
          description: 200 Success.
          schema:
            $ref: '#/definitions/temando-shipping-data-delivery-collection-point-search-request-interface'
        500:
          description: Internal Server error
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: guest-carts/{cartId}/collection-point/search-request
    delete:
      tags:
      - guest-carts/{cartId}/collection-point/search-request
      description: Delete a customer's search for collection points.
      operationId: temandoShippingCheckoutGuestCartCollectionPointManagementV1DeleteSearchRequestDelete
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
      responses:
        200:
          description: 200 Success.
          schema:
            type: boolean
        500:
          description: Internal Server error
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: guest-carts/{cartId}/collection-point/search-request
  /V1/guest-carts/{cartId}/collection-point/search-result:
    get:
      tags:
      - guest-carts/{cartId}/collection-point/search-result
      description: Retrieve collection points matching the customer's search parameters.
      operationId: temandoShippingCheckoutGuestCartCollectionPointManagementV1GetCollectionPointsGet
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
      responses:
        200:
          description: 200 Success.
          schema:
            type: array
            items:
              $ref: '#/definitions/temando-shipping-data-delivery-quote-collection-point-interface'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: guest-carts/{cartId}/collection-point/search-result
  /V1/guest-carts/{cartId}/collection-point/select:
    post:
      tags:
      - guest-carts/{cartId}/collection-point/select
      description: ""
      operationId: temandoShippingDeliveryGuestCartCollectionPointManagementV1SelectCollectionPointPost
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
      - name: temandoShippingDeliveryGuestCartCollectionPointManagementV1SelectCollectionPointPostBody
        in: body
        schema:
          required:
          - entityId
          properties:
            entityId:
              type: integer
          type: object
      responses:
        200:
          description: 200 Success.
          schema:
            type: boolean
        500:
          description: Internal Server error
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: guest-carts/{cartId}/collection-point/select
  /V1/guest-carts/{cartId}/coupons:
    get:
      tags:
      - guest-carts/{cartId}/coupons
      description: Return information for a coupon in a specified cart.
      operationId: quoteGuestCouponManagementV1GetGet
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
        description: The cart ID.
      responses:
        200:
          description: 200 Success.
          schema:
            type: string
            description: The coupon code data.
        400:
          description: 400 Bad Request
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: guest-carts/{cartId}/coupons
    delete:
      tags:
      - guest-carts/{cartId}/coupons
      description: Delete a coupon from a specified cart.
      operationId: quoteGuestCouponManagementV1RemoveDelete
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
        description: The cart ID.
      responses:
        200:
          description: 200 Success.
          schema:
            type: boolean
        400:
          description: 400 Bad Request
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: guest-carts/{cartId}/coupons
  /V1/guest-carts/{cartId}/coupons/{couponCode}:
    put:
      tags:
      - guest-carts/{cartId}/coupons/{couponCode}
      description: Add a coupon by code to a specified cart.
      operationId: quoteGuestCouponManagementV1SetPut
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
        description: The cart ID.
      - name: couponCode
        in: path
        type: string
        required: true
        description: The coupon code data.
      responses:
        200:
          description: 200 Success.
          schema:
            type: boolean
        400:
          description: 400 Bad Request
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: guest-carts/{cartId}/coupons/{couponCode}
  /V1/guest-carts/{cartId}/delivery-option:
    post:
      tags:
      - guest-carts/{cartId}/delivery-option
      description: Handle selected delivery option.
      operationId: temandoShippingQuoteGuestCartDeliveryOptionManagementV1SavePost
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
        description: The shopping cart ID.
      - name: temandoShippingQuoteGuestCartDeliveryOptionManagementV1SavePostBody
        in: body
        schema:
          required:
          - selectedOption
          properties:
            selectedOption:
              type: string
          type: object
      responses:
        500:
          description: Internal Server error
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: guest-carts/{cartId}/delivery-option
  /V1/guest-carts/{cartId}/estimate-shipping-methods:
    post:
      tags:
      - guest-carts/{cartId}/estimate-shipping-methods
      description: Estimate shipping by address and return list of available shipping
        methods
      operationId: quoteGuestShipmentEstimationV1EstimateByExtendedAddressPost
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
      - name: quoteGuestShipmentEstimationV1EstimateByExtendedAddressPostBody
        in: body
        schema:
          required:
          - address
          properties:
            address:
              $ref: '#/definitions/quote-data-address-interface'
          type: object
      responses:
        200:
          description: 200 Success.
          schema:
            type: array
            description: An array of shipping methods
            items:
              $ref: '#/definitions/quote-data-shipping-method-interface'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: guest-carts/{cartId}/estimate-shipping-methods
  /V1/guest-carts/{cartId}/gift-message:
    get:
      tags:
      - guest-carts/{cartId}/gift-message
      description: Return the gift message for a specified order.
      operationId: giftMessageGuestCartRepositoryV1GetGet
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
        description: The shopping cart ID.
      responses:
        200:
          description: 200 Success.
          schema:
            $ref: '#/definitions/gift-message-data-message-interface'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: guest-carts/{cartId}/gift-message
    post:
      tags:
      - guest-carts/{cartId}/gift-message
      description: Set the gift message for an entire order.
      operationId: giftMessageGuestCartRepositoryV1SavePost
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
        description: The cart ID.
      - name: giftMessageGuestCartRepositoryV1SavePostBody
        in: body
        schema:
          required:
          - giftMessage
          properties:
            giftMessage:
              $ref: '#/definitions/gift-message-data-message-interface'
          type: object
      responses:
        200:
          description: 200 Success.
          schema:
            type: boolean
        400:
          description: 400 Bad Request
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: guest-carts/{cartId}/gift-message
  /V1/guest-carts/{cartId}/gift-message/{itemId}:
    get:
      tags:
      - guest-carts/{cartId}/gift-message/{itemId}
      description: Return the gift message for a specified item in a specified shopping
        cart.
      operationId: giftMessageGuestItemRepositoryV1GetGet
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
        description: The shopping cart ID.
      - name: itemId
        in: path
        type: integer
        required: true
        description: The item ID.
      responses:
        200:
          description: 200 Success.
          schema:
            $ref: '#/definitions/gift-message-data-message-interface'
        400:
          description: 400 Bad Request
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: guest-carts/{cartId}/gift-message/{itemId}
    post:
      tags:
      - guest-carts/{cartId}/gift-message/{itemId}
      description: Set the gift message for a specified item in a specified shopping
        cart.
      operationId: giftMessageGuestItemRepositoryV1SavePost
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
        description: The cart ID.
      - name: itemId
        in: path
        type: integer
        required: true
        description: The item ID.
      - name: giftMessageGuestItemRepositoryV1SavePostBody
        in: body
        schema:
          required:
          - giftMessage
          properties:
            giftMessage:
              $ref: '#/definitions/gift-message-data-message-interface'
          type: object
      responses:
        200:
          description: 200 Success.
          schema:
            type: boolean
        400:
          description: 400 Bad Request
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: guest-carts/{cartId}/gift-message/{itemId}
  /V1/guest-carts/{cartId}/items:
    get:
      tags:
      - guest-carts/{cartId}/items
      description: List items that are assigned to a specified cart.
      operationId: quoteGuestCartItemRepositoryV1GetListGet
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
        description: The cart ID.
      responses:
        200:
          description: 200 Success.
          schema:
            type: array
            description: Array of items.
            items:
              $ref: '#/definitions/quote-data-cart-item-interface'
        400:
          description: 400 Bad Request
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: guest-carts/{cartId}/items
    post:
      tags:
      - guest-carts/{cartId}/items
      description: Add/update the specified cart item.
      operationId: quoteGuestCartItemRepositoryV1SavePost
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
      - name: quoteGuestCartItemRepositoryV1SavePostBody
        in: body
        schema:
          required:
          - cartItem
          properties:
            cartItem:
              $ref: '#/definitions/quote-data-cart-item-interface'
          type: object
      responses:
        200:
          description: 200 Success.
          schema:
            $ref: '#/definitions/quote-data-cart-item-interface'
        400:
          description: 400 Bad Request
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: guest-carts/{cartId}/items
  /V1/guest-carts/{cartId}/items/{itemId}:
    put:
      tags:
      - guest-carts/{cartId}/items/{itemId}
      description: Add/update the specified cart item.
      operationId: quoteGuestCartItemRepositoryV1SavePut
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
      - name: itemId
        in: path
        type: string
        required: true
      - name: quoteGuestCartItemRepositoryV1SavePutBody
        in: body
        schema:
          required:
          - cartItem
          properties:
            cartItem:
              $ref: '#/definitions/quote-data-cart-item-interface'
          type: object
      responses:
        200:
          description: 200 Success.
          schema:
            $ref: '#/definitions/quote-data-cart-item-interface'
        400:
          description: 400 Bad Request
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: guest-carts/{cartId}/items/{itemId}
    delete:
      tags:
      - guest-carts/{cartId}/items/{itemId}
      description: Remove the specified item from the specified cart.
      operationId: quoteGuestCartItemRepositoryV1DeleteByIdDelete
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
        description: The cart ID.
      - name: itemId
        in: path
        type: integer
        required: true
        description: The item ID of the item to be removed.
      responses:
        200:
          description: 200 Success.
          schema:
            type: boolean
        400:
          description: 400 Bad Request
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: guest-carts/{cartId}/items/{itemId}
  /V1/guest-carts/{cartId}/order:
    put:
      tags:
      - guest-carts/{cartId}/order
      description: Place an order for a specified cart.
      operationId: quoteGuestCartManagementV1PlaceOrderPut
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
        description: The cart ID.
      - name: quoteGuestCartManagementV1PlaceOrderPutBody
        in: body
        schema:
          properties:
            paymentMethod:
              $ref: '#/definitions/quote-data-payment-interface'
          type: object
      responses:
        200:
          description: 200 Success.
          schema:
            type: integer
            description: Order ID.
        400:
          description: 400 Bad Request
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: guest-carts/{cartId}/order
  /V1/guest-carts/{cartId}/payment-information:
    post:
      tags:
      - guest-carts/{cartId}/payment-information
      description: Set payment information and place order for a specified cart.
      operationId: checkoutGuestPaymentInformationManagementV1SavePaymentInformationAndPlaceOrderPost
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
      - name: checkoutGuestPaymentInformationManagementV1SavePaymentInformationAndPlaceOrderPostBody
        in: body
        schema:
          required:
          - email
          - paymentMethod
          properties:
            email:
              type: string
            paymentMethod:
              $ref: '#/definitions/quote-data-payment-interface'
            billingAddress:
              $ref: '#/definitions/quote-data-address-interface'
          type: object
      responses:
        200:
          description: 200 Success.
          schema:
            type: integer
            description: Order ID.
        400:
          description: 400 Bad Request
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: guest-carts/{cartId}/payment-information
    get:
      tags:
      - guest-carts/{cartId}/payment-information
      description: Get payment information
      operationId: checkoutGuestPaymentInformationManagementV1GetPaymentInformationGet
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
      responses:
        200:
          description: 200 Success.
          schema:
            $ref: '#/definitions/checkout-data-payment-details-interface'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: guest-carts/{cartId}/payment-information
  /V1/guest-carts/{cartId}/payment-methods:
    get:
      tags:
      - guest-carts/{cartId}/payment-methods
      description: List available payment methods for a specified shopping cart. This
        call returns an array of objects, but detailed information about each objectu2019s
        attributes might not be included.  See https://devdocs.magento.com/codelinks/attributes.html#GuestPaymentMethodManagementInterface
        to determine which call to use to get detailed information about all attributes
        for an object.
      operationId: quoteGuestPaymentMethodManagementV1GetListGet
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
        description: The cart ID.
      responses:
        200:
          description: 200 Success.
          schema:
            type: array
            description: Array of payment methods.
            items:
              $ref: '#/definitions/quote-data-payment-method-interface'
        400:
          description: 400 Bad Request
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: guest-carts/{cartId}/payment-methods
  /V1/guest-carts/{cartId}/pickup-location/select:
    post:
      tags:
      - guest-carts/{cartId}/pickup-location/select
      description: ""
      operationId: temandoShippingDeliveryGuestCartPickupLocationManagementV1SelectPickupLocationPost
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
      - name: temandoShippingDeliveryGuestCartPickupLocationManagementV1SelectPickupLocationPostBody
        in: body
        schema:
          required:
          - entityId
          properties:
            entityId:
              type: integer
          type: object
      responses:
        200:
          description: 200 Success.
          schema:
            type: boolean
        500:
          description: Internal Server error
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: guest-carts/{cartId}/pickup-location/select
  /V1/guest-carts/{cartId}/selected-payment-method:
    get:
      tags:
      - guest-carts/{cartId}/selected-payment-method
      description: Return the payment method for a specified shopping cart.
      operationId: quoteGuestPaymentMethodManagementV1GetGet
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
        description: The cart ID.
      responses:
        200:
          description: 200 Success.
          schema:
            $ref: '#/definitions/quote-data-payment-interface'
        400:
          description: 400 Bad Request
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: guest-carts/{cartId}/selected-payment-method
    put:
      tags:
      - guest-carts/{cartId}/selected-payment-method
      description: Add a specified payment method to a specified shopping cart.
      operationId: quoteGuestPaymentMethodManagementV1SetPut
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
        description: The cart ID.
      - name: quoteGuestPaymentMethodManagementV1SetPutBody
        in: body
        schema:
          required:
          - method
          properties:
            method:
              $ref: '#/definitions/quote-data-payment-interface'
          type: object
      responses:
        200:
          description: 200 Success.
          schema:
            type: integer
            description: Payment method ID.
        400:
          description: 400 Bad Request
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: guest-carts/{cartId}/selected-payment-method
  /V1/guest-carts/{cartId}/set-payment-information:
    post:
      tags:
      - guest-carts/{cartId}/set-payment-information
      description: Set payment information for a specified cart.
      operationId: checkoutGuestPaymentInformationManagementV1SavePaymentInformationPost
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
      - name: checkoutGuestPaymentInformationManagementV1SavePaymentInformationPostBody
        in: body
        schema:
          required:
          - email
          - paymentMethod
          properties:
            email:
              type: string
            paymentMethod:
              $ref: '#/definitions/quote-data-payment-interface'
            billingAddress:
              $ref: '#/definitions/quote-data-address-interface'
          type: object
      responses:
        200:
          description: 200 Success.
          schema:
            type: integer
            description: Order ID.
        400:
          description: 400 Bad Request
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: guest-carts/{cartId}/set-payment-information
  /V1/guest-carts/{cartId}/shipping-information:
    post:
      tags:
      - guest-carts/{cartId}/shipping-information
      description: ""
      operationId: checkoutGuestShippingInformationManagementV1SaveAddressInformationPost
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
      - name: checkoutGuestShippingInformationManagementV1SaveAddressInformationPostBody
        in: body
        schema:
          required:
          - addressInformation
          properties:
            addressInformation:
              $ref: '#/definitions/checkout-data-shipping-information-interface'
          type: object
      responses:
        200:
          description: 200 Success.
          schema:
            $ref: '#/definitions/checkout-data-payment-details-interface'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: guest-carts/{cartId}/shipping-information
  /V1/guest-carts/{cartId}/shipping-methods:
    get:
      tags:
      - guest-carts/{cartId}/shipping-methods
      description: List applicable shipping methods for a specified quote.
      operationId: quoteGuestShippingMethodManagementV1GetListGet
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
        description: The shopping cart ID.
      responses:
        200:
          description: 200 Success.
          schema:
            type: array
            description: An array of shipping methods.
            items:
              $ref: '#/definitions/quote-data-shipping-method-interface'
        400:
          description: 400 Bad Request
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: guest-carts/{cartId}/shipping-methods
  /V1/guest-carts/{cartId}/totals:
    get:
      tags:
      - guest-carts/{cartId}/totals
      description: Return quote totals data for a specified cart.
      operationId: quoteGuestCartTotalRepositoryV1GetGet
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
        description: The cart ID.
      responses:
        200:
          description: 200 Success.
          schema:
            $ref: '#/definitions/quote-data-totals-interface'
        400:
          description: 400 Bad Request
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: guest-carts/{cartId}/totals
  /V1/guest-carts/{cartId}/totals-information:
    post:
      tags:
      - guest-carts/{cartId}/totals-information
      description: Calculate quote totals based on address and shipping method.
      operationId: checkoutGuestTotalsInformationManagementV1CalculatePost
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
      - name: checkoutGuestTotalsInformationManagementV1CalculatePostBody
        in: body
        schema:
          required:
          - addressInformation
          properties:
            addressInformation:
              $ref: '#/definitions/checkout-data-totals-information-interface'
          type: object
      responses:
        200:
          description: 200 Success.
          schema:
            $ref: '#/definitions/quote-data-totals-interface'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: guest-carts/{cartId}/totals-information
  /V1/guest-giftregistry/{cartId}/estimate-shipping-methods:
    post:
      tags:
      - guest-giftregistry/{cartId}/estimate-shipping-methods
      description: Estimate shipping
      operationId: giftRegistryGuestCartShippingMethodManagementV1EstimateByRegistryIdPost
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
        description: The shopping cart ID.
      - name: giftRegistryGuestCartShippingMethodManagementV1EstimateByRegistryIdPostBody
        in: body
        schema:
          required:
          - registryId
          properties:
            registryId:
              type: integer
              description: The estimate registry id
          type: object
      responses:
        200:
          description: 200 Success.
          schema:
            type: array
            description: An array of shipping methods.
            items:
              $ref: '#/definitions/quote-data-shipping-method-interface'
        400:
          description: 400 Bad Request
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: guest-giftregistry/{cartId}/estimate-shipping-methods
  /V1/integration/admin/token:
    post:
      tags:
      - integration/admin/token
      description: Create access token for admin given the admin credentials.
      operationId: integrationAdminTokenServiceV1CreateAdminAccessTokenPost
      parameters:
      - name: integrationAdminTokenServiceV1CreateAdminAccessTokenPostBody
        in: body
        schema:
          required:
          - username
          - password
          properties:
            username:
              type: string
            password:
              type: string
          type: object
      responses:
        200:
          description: 200 Success.
          schema:
            type: string
            description: Token created
        400:
          description: 400 Bad Request
          schema:
            $ref: '#/definitions/error-response'
        500:
          description: Internal Server error
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: integration/admin/token
  /V1/integration/customer/token:
    post:
      tags:
      - integration/customer/token
      description: Create access token for admin given the customer credentials.
      operationId: integrationCustomerTokenServiceV1CreateCustomerAccessTokenPost
      parameters:
      - name: integrationCustomerTokenServiceV1CreateCustomerAccessTokenPostBody
        in: body
        schema:
          required:
          - username
          - password
          properties:
            username:
              type: string
            password:
              type: string
          type: object
      responses:
        200:
          description: 200 Success.
          schema:
            type: string
            description: Token created
        400:
          description: 400 Bad Request
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: integration/customer/token
  /V1/products-render-info:
    get:
      tags:
      - products-render-info
      description: Collect and retrieve the list of product render info. This info
        contains raw prices and formatted prices, product name, stock status, store_id,
        etc.
      operationId: catalogProductRenderListV1GetListGet
      parameters:
      - name: searchCriteria[filterGroups][0][filters][0][field]
        in: query
        type: string
        description: Field
      - name: searchCriteria[filterGroups][0][filters][0][value]
        in: query
        type: string
        description: Value
      - name: searchCriteria[filterGroups][0][filters][0][conditionType]
        in: query
        type: string
        description: Condition type
      - name: searchCriteria[sortOrders][0][field]
        in: query
        type: string
        description: Sorting field.
      - name: searchCriteria[sortOrders][0][direction]
        in: query
        type: string
        description: Sorting direction.
      - name: searchCriteria[pageSize]
        in: query
        type: integer
        description: Page size.
      - name: searchCriteria[currentPage]
        in: query
        type: integer
        description: Current page.
      - name: storeId
        in: query
        type: integer
        required: true
      - name: currencyCode
        in: query
        type: string
        required: true
      responses:
        200:
          description: 200 Success.
          schema:
            $ref: '#/definitions/catalog-data-product-render-search-results-interface'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: products-render-info
  /V1/search:
    get:
      tags:
      - search
      description: Make Full Text Search and return found Documents
      operationId: searchV1SearchGet
      parameters:
      - name: searchCriteria[requestName]
        in: query
        type: string
      - name: searchCriteria[filterGroups][0][filters][0][field]
        in: query
        type: string
        description: Field
      - name: searchCriteria[filterGroups][0][filters][0][value]
        in: query
        type: string
        description: Value
      - name: searchCriteria[filterGroups][0][filters][0][conditionType]
        in: query
        type: string
        description: Condition type
      - name: searchCriteria[sortOrders][0][field]
        in: query
        type: string
        description: Sorting field.
      - name: searchCriteria[sortOrders][0][direction]
        in: query
        type: string
        description: Sorting direction.
      - name: searchCriteria[pageSize]
        in: query
        type: integer
        description: Page size.
      - name: searchCriteria[currentPage]
        in: query
        type: integer
        description: Current page.
      responses:
        200:
          description: 200 Success.
          schema:
            $ref: '#/definitions/framework-search-search-result-interface'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: search
  /V1/worldpay-guest-carts/{cartId}/payment-information:
    post:
      tags:
      - worldpay-guest-carts/{cartId}/payment-information
      description: Proxy handler for guest place order
      operationId: worldpayGuestPaymentInformationManagementProxyV1SavePaymentInformationAndPlaceOrderPost
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
      - name: worldpayGuestPaymentInformationManagementProxyV1SavePaymentInformationAndPlaceOrderPostBody
        in: body
        schema:
          required:
          - email
          - paymentMethod
          properties:
            email:
              type: string
            paymentMethod:
              $ref: '#/definitions/quote-data-payment-interface'
            billingAddress:
              $ref: '#/definitions/quote-data-address-interface'
          type: object
      responses:
        200:
          description: 200 Success.
          schema:
            type: integer
            description: Order ID.
        400:
          description: 400 Bad Request
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: worldpay-guest-carts/{cartId}/payment-information
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":105:{s:14:\"error-response\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"Error
  message\";}s:6:\"errors\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/error-errors\";}s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:10:\"Error
  code\";}s:10:\"parameters\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/error-parameters\";}s:5:\"trace\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Stack
  trace\";}}s:8:\"required\";a:1:{i:0;s:7:\"message\";}}s:12:\"error-errors\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:11:\"Errors
  list\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/error-errors-item\";}}s:17:\"error-errors-item\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:13:\"Error
  details\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"Error
  message\";}s:10:\"parameters\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/error-parameters\";}}}s:16:\"error-parameters\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:21:\"Error
  parameters list\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/error-parameters-item\";}}s:21:\"error-parameters-item\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:21:\"Error
  parameters item\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"resources\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"ACL
  resource\";}s:9:\"fieldName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Missing
  or invalid field name\";}s:10:\"fieldValue\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"Incorrect
  field value\";}}}s:45:\"directory-data-currency-information-interface\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:31:\"Currency
  Information interface.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:18:\"base_currency_code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"The
  base currency code for the store.\";}s:20:\"base_currency_symbol\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:55:\"The
  currency symbol of the base currency for the store.\";}s:29:\"default_display_currency_code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:48:\"The
  default display currency code for the store.\";}s:31:\"default_display_currency_symbol\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:66:\"The
  currency symbol of the default display currency for the store.\";}s:24:\"available_currency_codes\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:49:\"The
  list of allowed currency codes for the store.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:14:\"exchange_rates\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:52:\"The
  list of exchange rate information for the store.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:52:\"#/definitions/directory-data-exchange-rate-interface\";}}s:20:\"extension_attributes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:69:\"#/definitions/directory-data-currency-information-extension-interface\";}}s:8:\"required\";a:6:{i:0;s:18:\"base_currency_code\";i:1;s:20:\"base_currency_symbol\";i:2;s:29:\"default_display_currency_code\";i:3;s:31:\"default_display_currency_symbol\";i:4;s:24:\"available_currency_codes\";i:5;s:14:\"exchange_rates\";}}s:38:\"directory-data-exchange-rate-interface\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:24:\"Exchange
  Rate interface.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"currency_to\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:52:\"The
  currency code associated with the exchange rate.\";}s:4:\"rate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:76:\"The
  exchange rate for the associated currency and the store's base currency.\";}s:20:\"extension_attributes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:62:\"#/definitions/directory-data-exchange-rate-extension-interface\";}}s:8:\"required\";a:2:{i:0;s:11:\"currency_to\";i:1;s:4:\"rate\";}}s:48:\"directory-data-exchange-rate-extension-interface\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:83:\"ExtensionInterface
  class for @see \\Magento\\Directory\\Api\\Data\\ExchangeRateInterface\";}s:55:\"directory-data-currency-information-extension-interface\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:90:\"ExtensionInterface
  class for @see \\Magento\\Directory\\Api\\Data\\CurrencyInformationInterface\";}s:44:\"directory-data-country-information-interface\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:30:\"Country
  Information interface.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"The
  country id for the store.\";}s:23:\"two_letter_abbreviation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:48:\"The
  country 2 letter abbreviation for the store.\";}s:25:\"three_letter_abbreviation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:48:\"The
  country 3 letter abbreviation for the store.\";}s:16:\"full_name_locale\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:54:\"The
  country full name (in store locale) for the store.\";}s:17:\"full_name_english\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:49:\"The
  country full name (in English) for the store.\";}s:17:\"available_regions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:36:\"The
  available regions for the store.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:57:\"#/definitions/directory-data-region-information-interface\";}}s:20:\"extension_attributes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:68:\"#/definitions/directory-data-country-information-extension-interface\";}}s:8:\"required\";a:5:{i:0;s:2:\"id\";i:1;s:23:\"two_letter_abbreviation\";i:2;s:25:\"three_letter_abbreviation\";i:3;s:16:\"full_name_locale\";i:4;s:17:\"full_name_english\";}}s:43:\"directory-data-region-information-interface\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:29:\"Region
  Information interface.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"Region
  id\";}s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Region
  code\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Region
  name\";}s:20:\"extension_attributes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:67:\"#/definitions/directory-data-region-information-extension-interface\";}}s:8:\"required\";a:3:{i:0;s:2:\"id\";i:1;s:4:\"code\";i:2;s:4:\"name\";}}s:53:\"directory-data-region-information-extension-interface\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:88:\"ExtensionInterface
  class for @see \\Magento\\Directory\\Api\\Data\\RegionInformationInterface\";}s:54:\"directory-data-country-information-extension-interface\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:89:\"ExtensionInterface
  class for @see \\Magento\\Directory\\Api\\Data\\CountryInformationInterface\";}s:32:\"customer-data-customer-interface\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:19:\"Customer
  interface.\";s:10:\"properties\";O:8:\"stdClass\":23:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:11:\"Customer
  id\";}s:8:\"group_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:8:\"Group
  id\";}s:15:\"default_billing\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"Default
  billing address id\";}s:16:\"default_shipping\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"Default
  shipping address id\";}s:12:\"confirmation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Confirmation\";}s:10:\"created_at\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"Created
  at time\";}s:10:\"updated_at\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"Updated
  at time\";}s:10:\"created_in\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"Created
  in area\";}s:3:\"dob\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"Date
  of birth\";}s:5:\"email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"Email
  address\";}s:9:\"firstname\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"First
  name\";}s:8:\"lastname\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"Last
  name\";}s:10:\"middlename\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Middle
  name\";}s:6:\"prefix\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"Prefix\";}s:6:\"suffix\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"Suffix\";}s:6:\"gender\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:6:\"Gender\";}s:8:\"store_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:8:\"Store
  id\";}s:6:\"taxvat\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:7:\"Tax
  Vat\";}s:10:\"website_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:10:\"Website
  id\";}s:9:\"addresses\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:19:\"Customer
  addresses.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/customer-data-address-interface\";}}s:25:\"disable_auto_group_change\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:31:\"Disable
  auto group change flag.\";}s:20:\"extension_attributes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:56:\"#/definitions/customer-data-customer-extension-interface\";}s:17:\"custom_attributes\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:25:\"Custom
  attributes values.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/framework-attribute-interface\";}}}s:8:\"required\";a:3:{i:0;s:5:\"email\";i:1;s:9:\"firstname\";i:2;s:8:\"lastname\";}}s:31:\"customer-data-address-interface\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:27:\"Customer
  address interface.\";s:10:\"properties\";O:8:\"stdClass\":21:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:2:\"ID\";}s:11:\"customer_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:11:\"Customer
  ID\";}s:6:\"region\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/customer-data-region-interface\";}s:9:\"region_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:9:\"Region
  ID\";}s:10:\"country_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"Country
  code in ISO_3166-2 format\";}s:6:\"street\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:6:\"Street\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:7:\"company\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:7:\"Company\";}s:9:\"telephone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"Telephone
  number\";}s:3:\"fax\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"Fax
  number\";}s:8:\"postcode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:8:\"Postcode\";}s:4:\"city\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"City
  name\";}s:9:\"firstname\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"First
  name\";}s:8:\"lastname\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"Last
  name\";}s:10:\"middlename\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Middle
  name\";}s:6:\"prefix\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"Prefix\";}s:6:\"suffix\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"Suffix\";}s:6:\"vat_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"Vat
  id\";}s:16:\"default_shipping\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:44:\"If
  this address is default shipping address.\";}s:15:\"default_billing\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:42:\"If
  this address is default billing address\";}s:20:\"extension_attributes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:55:\"#/definitions/customer-data-address-extension-interface\";}s:17:\"custom_attributes\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:25:\"Custom
  attributes values.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/framework-attribute-interface\";}}}}s:30:\"customer-data-region-interface\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:34:\"Customer
  address region interface.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"region_code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Region
  code\";}s:6:\"region\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"Region\";}s:9:\"region_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:9:\"Region
  id\";}s:20:\"extension_attributes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:54:\"#/definitions/customer-data-region-extension-interface\";}}s:8:\"required\";a:3:{i:0;s:11:\"region_code\";i:1;s:6:\"region\";i:2;s:9:\"region_id\";}}s:40:\"customer-data-region-extension-interface\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:76:\"ExtensionInterface
  class for @see \\Magento\\Customer\\Api\\Data\\RegionInterface\";}s:41:\"customer-data-address-extension-interface\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:77:\"ExtensionInterface
  class for @see \\Magento\\Customer\\Api\\Data\\AddressInterface\";}s:29:\"framework-attribute-interface\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:37:\"Interface
  for custom attribute value.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"attribute_code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Attribute
  code\";}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"Attribute
  value\";}}s:8:\"required\";a:2:{i:0;s:14:\"attribute_code\";i:1;s:5:\"value\";}}s:42:\"customer-data-customer-extension-interface\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:78:\"ExtensionInterface
  class for @see \\Magento\\Customer\\Api\\Data\\CustomerInterface\";s:10:\"properties\";O:8:\"stdClass\":4:{s:18:\"company_attributes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:53:\"#/definitions/company-data-company-customer-interface\";}s:13:\"is_subscribed\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"amazon_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"vertex_customer_code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:39:\"company-data-company-customer-interface\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:46:\"Extended
  customer custom attributes interface.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"customer_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:12:\"Customer
  ID.\";}s:10:\"company_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:11:\"Company
  ID.\";}s:9:\"job_title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Get
  job title.\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:16:\"Customer
  status.\";}s:9:\"telephone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Get
  telephone.\";}s:20:\"extension_attributes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:63:\"#/definitions/company-data-company-customer-extension-interface\";}}}s:49:\"company-data-company-customer-extension-interface\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:84:\"ExtensionInterface
  class for @see \\Magento\\Company\\Api\\Data\\CompanyCustomerInterface\";}s:52:\"catalog-data-product-render-search-results-interface\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:48:\"Dto
  that holds render information about products\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:37:\"List
  of products rendered information\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:51:\"#/definitions/catalog-data-product-render-interface\";}}}s:8:\"required\";a:1:{i:0;s:5:\"items\";}}s:37:\"catalog-data-product-render-interface\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:157:\"Represents
  Data Object which holds enough information to render product This information is
  put into part as Add To Cart or Add to Compare Data or Price Data\";s:10:\"properties\";O:8:\"stdClass\":12:{s:18:\"add_to_cart_button\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:58:\"#/definitions/catalog-data-product-render-button-interface\";}s:21:\"add_to_compare_button\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:58:\"#/definitions/catalog-data-product-render-button-interface\";}s:10:\"price_info\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:62:\"#/definitions/catalog-data-product-render-price-info-interface\";}s:6:\"images\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:56:\"Enough
  information, that needed to render image on front\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:57:\"#/definitions/catalog-data-product-render-image-interface\";}}s:3:\"url\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Product
  url\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:18:\"Product
  identifier\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Product
  name\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:53:\"Product
  type. Such as bundle, grouped, simple, etc...\";}s:10:\"is_salable\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:48:\"Information
  about product saleability (In Stock)\";}s:8:\"store_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:56:\"Information
  about current store id or requested store id\";}s:13:\"currency_code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"Current
  or desired currency code to product\";}s:20:\"extension_attributes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:61:\"#/definitions/catalog-data-product-render-extension-interface\";}}s:8:\"required\";a:12:{i:0;s:18:\"add_to_cart_button\";i:1;s:21:\"add_to_compare_button\";i:2;s:10:\"price_info\";i:3;s:6:\"images\";i:4;s:3:\"url\";i:5;s:2:\"id\";i:6;s:4:\"name\";i:7;s:4:\"type\";i:8;s:10:\"is_salable\";i:9;s:8:\"store_id\";i:10;s:13:\"currency_code\";i:11;s:20:\"extension_attributes\";}}s:44:\"catalog-data-product-render-button-interface\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:187:\"Button
  interface. This interface represents all manner of product buttons: add to cart,
  add to compare, etc... The buttons describes by this interface should have interaction
  with backend\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"post_data\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"Post
  data\";}s:3:\"url\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"Url,
  needed to add product to cart\";}s:16:\"required_options\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:41:\"Flag
  whether a product has options or not\";}s:20:\"extension_attributes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:68:\"#/definitions/catalog-data-product-render-button-extension-interface\";}}s:8:\"required\";a:3:{i:0;s:9:\"post_data\";i:1;s:3:\"url\";i:2;s:16:\"required_options\";}}s:54:\"catalog-data-product-render-button-extension-interface\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:89:\"ExtensionInterface
  class for @see \\Magento\\Catalog\\Api\\Data\\ProductRender\\ButtonInterface\";}s:48:\"catalog-data-product-render-price-info-interface\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:16:\"Price
  interface.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:11:\"final_price\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:11:\"Final
  price\";}s:9:\"max_price\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:22:\"Max
  price of a product\";}s:17:\"max_regular_price\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:17:\"Max
  regular price\";}s:21:\"minimal_regular_price\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:21:\"Minimal
  regular price\";}s:13:\"special_price\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:13:\"Special
  price\";}s:13:\"minimal_price\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:13:\"Minimal
  price\";}s:13:\"regular_price\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:13:\"Regular
  price\";}s:16:\"formatted_prices\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:72:\"#/definitions/catalog-data-product-render-formatted-price-info-interface\";}s:20:\"extension_attributes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:72:\"#/definitions/catalog-data-product-render-price-info-extension-interface\";}}s:8:\"required\";a:8:{i:0;s:11:\"final_price\";i:1;s:9:\"max_price\";i:2;s:17:\"max_regular_price\";i:3;s:21:\"minimal_regular_price\";i:4;s:13:\"special_price\";i:5;s:13:\"minimal_price\";i:6;s:13:\"regular_price\";i:7;s:16:\"formatted_prices\";}}s:58:\"catalog-data-product-render-formatted-price-info-interface\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:155:\"Formatted
  Price interface. Aggregate formatted html with price representations. E.g.: <span
  class=\"price\">$9.00</span> Consider currency, rounding and html\";s:10:\"properties\";O:8:\"stdClass\":8:{s:11:\"final_price\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"Html
  with final price\";}s:9:\"max_price\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Max
  price of a product\";}s:13:\"minimal_price\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"The
  minimal price of the product or variation\";}s:17:\"max_regular_price\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"Max
  regular price\";}s:21:\"minimal_regular_price\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"Minimal
  regular price\";}s:13:\"special_price\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"Special
  price\";}s:13:\"regular_price\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:96:\"Price
  - is price of product without discounts and special price with taxes and fixed product
  tax\";}s:20:\"extension_attributes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:82:\"#/definitions/catalog-data-product-render-formatted-price-info-extension-interface\";}}s:8:\"required\";a:7:{i:0;s:11:\"final_price\";i:1;s:9:\"max_price\";i:2;s:13:\"minimal_price\";i:3;s:17:\"max_regular_price\";i:4;s:21:\"minimal_regular_price\";i:5;s:13:\"special_price\";i:6;s:13:\"regular_price\";}}s:68:\"catalog-data-product-render-formatted-price-info-extension-interface\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:101:\"ExtensionInterface
  class for @see \\Magento\\Catalog\\Api\\Data\\ProductRender\\FormattedPriceInfoInterface\";}s:58:\"catalog-data-product-render-price-info-extension-interface\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:92:\"ExtensionInterface
  class for @see \\Magento\\Catalog\\Api\\Data\\ProductRender\\PriceInfoInterface\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"msrp\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:64:\"#/definitions/msrp-data-product-render-msrp-price-info-interface\";}s:15:\"tax_adjustments\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:62:\"#/definitions/catalog-data-product-render-price-info-interface\";}s:15:\"weee_attributes\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:74:\"#/definitions/weee-data-product-render-weee-adjustment-attribute-interface\";}}s:15:\"weee_adjustment\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:50:\"msrp-data-product-render-msrp-price-info-interface\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:16:\"Price
  interface.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:10:\"msrp_price\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"is_applicable\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:25:\"is_shown_price_on_gesture\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"msrp_message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"explanation_message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"extension_attributes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:74:\"#/definitions/msrp-data-product-render-msrp-price-info-extension-interface\";}}s:8:\"required\";a:5:{i:0;s:10:\"msrp_price\";i:1;s:13:\"is_applicable\";i:2;s:25:\"is_shown_price_on_gesture\";i:3;s:12:\"msrp_message\";i:4;s:19:\"explanation_message\";}}s:60:\"msrp-data-product-render-msrp-price-info-extension-interface\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:93:\"ExtensionInterface
  class for @see \\Magento\\Msrp\\Api\\Data\\ProductRender\\MsrpPriceInfoInterface\";}s:60:\"weee-data-product-render-weee-adjustment-attribute-interface\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:67:\"List
  of all weee attributes, their amounts, etc.., that product has\";s:10:\"properties\";O:8:\"stdClass\":6:{s:6:\"amount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"Weee
  attribute amount\";}s:10:\"tax_amount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:54:\"Tax
  which is calculated to fixed product tax attribute\";}s:19:\"tax_amount_incl_tax\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"Tax
  amount of weee attribute\";}s:15:\"amount_excl_tax\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"Product
  amount exclude tax\";}s:14:\"attribute_code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"Weee
  attribute code\";}s:20:\"extension_attributes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:84:\"#/definitions/weee-data-product-render-weee-adjustment-attribute-extension-interface\";}}s:8:\"required\";a:6:{i:0;s:6:\"amount\";i:1;s:10:\"tax_amount\";i:2;s:19:\"tax_amount_incl_tax\";i:3;s:15:\"amount_excl_tax\";i:4;s:14:\"attribute_code\";i:5;s:20:\"extension_attributes\";}}s:70:\"weee-data-product-render-weee-adjustment-attribute-extension-interface\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:103:\"ExtensionInterface
  class for @see \\Magento\\Weee\\Api\\Data\\ProductRender\\WeeeAdjustmentAttributeInterface\";}s:43:\"catalog-data-product-render-image-interface\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:129:\"Product
  Render image interface. Represents physical characteristics of image, that can be
  used in product listing or product view\";s:10:\"properties\";O:8:\"stdClass\":8:{s:3:\"url\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"Image
  url\";}s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"Image
  code\";}s:6:\"height\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:12:\"Image
  height\";}s:5:\"width\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:17:\"Image
  width in px\";}s:5:\"label\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Image
  label\";}s:13:\"resized_width\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:12:\"Resize
  width\";}s:14:\"resized_height\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:13:\"Resize
  height\";}s:20:\"extension_attributes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:67:\"#/definitions/catalog-data-product-render-image-extension-interface\";}}s:8:\"required\";a:7:{i:0;s:3:\"url\";i:1;s:4:\"code\";i:2;s:6:\"height\";i:3;s:5:\"width\";i:4;s:5:\"label\";i:5;s:13:\"resized_width\";i:6;s:14:\"resized_height\";}}s:53:\"catalog-data-product-render-image-extension-interface\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:88:\"ExtensionInterface
  class for @see \\Magento\\Catalog\\Api\\Data\\ProductRender\\ImageInterface\";}s:47:\"catalog-data-product-render-extension-interface\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:82:\"ExtensionInterface
  class for @see \\Magento\\Catalog\\Api\\Data\\ProductRenderInterface\";s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"wishlist_button\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:58:\"#/definitions/catalog-data-product-render-button-interface\";}s:11:\"review_html\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:25:\"quote-data-cart-interface\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:23:\"Interface
  CartInterface\";s:10:\"properties\";O:8:\"stdClass\":20:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:14:\"Cart/quote
  ID.\";}s:10:\"created_at\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"Cart
  creation date and time. Otherwise, null.\";}s:10:\"updated_at\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:48:\"Cart
  last update date and time. Otherwise, null.\";}s:12:\"converted_at\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"Cart
  conversion date and time. Otherwise, null.\";}s:9:\"is_active\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:42:\"Active
  status flag value. Otherwise, null.\";}s:10:\"is_virtual\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:36:\"Virtual
  flag value. Otherwise, null.\";}s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:32:\"Array
  of items. Otherwise, null.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/quote-data-cart-item-interface\";}}s:11:\"items_count\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:67:\"Number
  of different items or products in the cart. Otherwise, null.\";}s:9:\"items_qty\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:50:\"Total
  quantity of all cart items. Otherwise, null.\";}s:8:\"customer\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/customer-data-customer-interface\";}s:15:\"billing_address\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/quote-data-address-interface\";}s:17:\"reserved_order_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"Reserved
  order ID. Otherwise, null.\";}s:13:\"orig_order_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:35:\"Original
  order ID. Otherwise, null.\";}s:8:\"currency\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/quote-data-currency-interface\";}s:17:\"customer_is_guest\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:50:\"For
  guest customers, false for logged in customers\";}s:13:\"customer_note\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Notice
  text\";}s:20:\"customer_note_notify\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:26:\"Customer
  notification flag\";}s:21:\"customer_tax_class_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:22:\"Customer
  tax class ID.\";}s:8:\"store_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:16:\"Store
  identifier\";}s:20:\"extension_attributes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:49:\"#/definitions/quote-data-cart-extension-interface\";}}s:8:\"required\";a:3:{i:0;s:2:\"id\";i:1;s:8:\"customer\";i:2;s:8:\"store_id\";}}s:30:\"quote-data-cart-item-interface\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:27:\"Interface
  CartItemInterface\";s:10:\"properties\";O:8:\"stdClass\":9:{s:7:\"item_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:25:\"Item
  ID. Otherwise, null.\";}s:3:\"sku\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Product
  SKU. Otherwise, null.\";}s:3:\"qty\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:17:\"Product
  quantity.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"Product
  name. Otherwise, null.\";}s:5:\"price\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:31:\"Product
  price. Otherwise, null.\";}s:12:\"product_type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"Product
  type. Otherwise, null.\";}s:8:\"quote_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"Quote
  id.\";}s:14:\"product_option\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:49:\"#/definitions/quote-data-product-option-interface\";}s:20:\"extension_attributes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:54:\"#/definitions/quote-data-cart-item-extension-interface\";}}s:8:\"required\";a:2:{i:0;s:3:\"qty\";i:1;s:8:\"quote_id\";}}s:35:\"quote-data-product-option-interface\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:24:\"Product
  option interface\";s:10:\"properties\";O:8:\"stdClass\":1:{s:20:\"extension_attributes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:59:\"#/definitions/quote-data-product-option-extension-interface\";}}}s:45:\"quote-data-product-option-extension-interface\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:80:\"ExtensionInterface
  class for @see \\Magento\\Quote\\Api\\Data\\ProductOptionInterface\";s:10:\"properties\";O:8:\"stdClass\":5:{s:14:\"custom_options\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:50:\"#/definitions/catalog-data-custom-option-interface\";}}s:14:\"bundle_options\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:49:\"#/definitions/bundle-data-bundle-option-interface\";}}s:25:\"configurable_item_options\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:80:\"#/definitions/configurable-product-data-configurable-item-option-value-interface\";}}s:19:\"downloadable_option\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:61:\"#/definitions/downloadable-data-downloadable-option-interface\";}s:20:\"giftcard_item_option\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:55:\"#/definitions/gift-card-data-gift-card-option-interface\";}}}s:36:\"catalog-data-custom-option-interface\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:31:\"Interface
  CustomOptionInterface\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"option_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"Option
  id\";}s:12:\"option_value\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Option
  value\";}s:20:\"extension_attributes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:60:\"#/definitions/catalog-data-custom-option-extension-interface\";}}s:8:\"required\";a:2:{i:0;s:9:\"option_id\";i:1;s:12:\"option_value\";}}s:46:\"catalog-data-custom-option-extension-interface\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:81:\"ExtensionInterface
  class for @see \\Magento\\Catalog\\Api\\Data\\CustomOptionInterface\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"file_info\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:52:\"#/definitions/framework-data-image-content-interface\";}}}s:38:\"framework-data-image-content-interface\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:28:\"Image
  Content data interface\";s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"base64_encoded_data\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"Media
  data (base64 encoded content)\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"MIME
  type\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"Image
  name\";}}s:8:\"required\";a:3:{i:0;s:19:\"base64_encoded_data\";i:1;s:4:\"type\";i:2;s:4:\"name\";}}s:35:\"bundle-data-bundle-option-interface\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:31:\"Interface
  BundleOptionInterface\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"option_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:17:\"Bundle
  option id.\";}s:10:\"option_qty\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:23:\"Bundle
  option quantity.\";}s:17:\"option_selections\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:28:\"Bundle
  option selection ids.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:20:\"extension_attributes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:59:\"#/definitions/bundle-data-bundle-option-extension-interface\";}}s:8:\"required\";a:3:{i:0;s:9:\"option_id\";i:1;s:10:\"option_qty\";i:2;s:17:\"option_selections\";}}s:45:\"bundle-data-bundle-option-extension-interface\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:80:\"ExtensionInterface
  class for @see \\Magento\\Bundle\\Api\\Data\\BundleOptionInterface\";}s:66:\"configurable-product-data-configurable-item-option-value-interface\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:46:\"Interface
  ConfigurableItemOptionValueInterface\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"option_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"Option
  SKU\";}s:12:\"option_value\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:7:\"Item
  id\";}s:20:\"extension_attributes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:90:\"#/definitions/configurable-product-data-configurable-item-option-value-extension-interface\";}}s:8:\"required\";a:1:{i:0;s:9:\"option_id\";}}s:76:\"configurable-product-data-configurable-item-option-value-extension-interface\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:108:\"ExtensionInterface
  class for @see \\Magento\\ConfigurableProduct\\Api\\Data\\ConfigurableItemOptionValueInterface\";}s:47:\"downloadable-data-downloadable-option-interface\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:19:\"Downloadable
  Option\";s:10:\"properties\";O:8:\"stdClass\":1:{s:18:\"downloadable_links\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:30:\"The
  list of downloadable links\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:8:\"required\";a:1:{i:0;s:18:\"downloadable_links\";}}s:41:\"gift-card-data-gift-card-option-interface\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:33:\"Interface
  GiftCardOptionInterface\";s:10:\"properties\";O:8:\"stdClass\":8:{s:15:\"giftcard_amount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"Gift
  card amount.\";}s:22:\"custom_giftcard_amount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:28:\"Gift
  card open amount value.\";}s:20:\"giftcard_sender_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Gift
  card sender name.\";}s:23:\"giftcard_recipient_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"Gift
  card recipient name.\";}s:21:\"giftcard_sender_email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"Gift
  card sender email.\";}s:24:\"giftcard_recipient_email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"Gift
  card recipient email.\";}s:16:\"giftcard_message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"Giftcard
  message.\";}s:20:\"extension_attributes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:65:\"#/definitions/gift-card-data-gift-card-option-extension-interface\";}}s:8:\"required\";a:5:{i:0;s:15:\"giftcard_amount\";i:1;s:20:\"giftcard_sender_name\";i:2;s:23:\"giftcard_recipient_name\";i:3;s:21:\"giftcard_sender_email\";i:4;s:24:\"giftcard_recipient_email\";}}s:51:\"gift-card-data-gift-card-option-extension-interface\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:84:\"ExtensionInterface
  class for @see \\Magento\\GiftCard\\Api\\Data\\GiftCardOptionInterface\";}s:40:\"quote-data-cart-item-extension-interface\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:75:\"ExtensionInterface
  class for @see \\Magento\\Quote\\Api\\Data\\CartItemInterface\";s:10:\"properties\";O:8:\"stdClass\":1:{s:21:\"negotiable_quote_item\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:67:\"#/definitions/negotiable-quote-data-negotiable-quote-item-interface\";}}}s:53:\"negotiable-quote-data-negotiable-quote-item-interface\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:37:\"Interface
  CompanyQuoteConfigInterface\";s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"item_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:13:\"Quote
  item id\";}s:14:\"original_price\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:25:\"Quote
  item original price\";}s:19:\"original_tax_amount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:30:\"Quote
[...]
