---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":2:{s:7:\"version\";s:5:\"2.3.2\";s:5:\"title\";s:58:\"Magento
  Asynchronous Guest REST endpoints - All inclusive \";}"
host: magento2.vagrant2
basePath: /rest/default/async
paths:
  /async/V1/amazon-billing-address/{amazonOrderReferenceId}:
    put:
      tags:
      - amazon-billing-address/{amazonOrderReferenceId}
      description: ""
      operationId: amazonPaymentAddressManagementV1GetBillingAddressPut
      parameters:
      - name: amazonOrderReferenceId
        in: path
        type: string
        required: true
      - name: amazonPaymentAddressManagementV1GetBillingAddressPutBody
        in: body
        schema:
          required:
          - addressConsentToken
          properties:
            addressConsentToken:
              type: string
          type: object
      responses:
        202:
          description: 202 Accepted.
          schema:
            $ref: '#/definitions/asynchronous-operations-data-async-response-interface'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: amazon-billing-address/{amazonOrderReferenceId}
  /async/V1/amazon-shipping-address/{amazonOrderReferenceId}:
    put:
      tags:
      - amazon-shipping-address/{amazonOrderReferenceId}
      description: ""
      operationId: amazonPaymentAddressManagementV1GetShippingAddressPut
      parameters:
      - name: amazonOrderReferenceId
        in: path
        type: string
        required: true
      - name: amazonPaymentAddressManagementV1GetShippingAddressPutBody
        in: body
        schema:
          required:
          - addressConsentToken
          properties:
            addressConsentToken:
              type: string
          type: object
      responses:
        202:
          description: 202 Accepted.
          schema:
            $ref: '#/definitions/asynchronous-operations-data-async-response-interface'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: amazon-shipping-address/{amazonOrderReferenceId}
  /async/V1/amazon/order-ref:
    delete:
      tags:
      - amazon/order-ref
      description: ""
      operationId: amazonPaymentOrderInformationManagementV1RemoveOrderReferenceDelete
      responses:
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: amazon/order-ref
  /async/V1/carts/guest-carts/{cartId}/giftCards:
    post:
      tags:
      - carts/guest-carts/{cartId}/giftCards
      description: Add gift card to the cart.
      operationId: giftCardAccountGuestGiftCardAccountManagementV1AddGiftCardPost
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
      - name: giftCardAccountGuestGiftCardAccountManagementV1AddGiftCardPostBody
        in: body
        schema:
          required:
          - giftCardAccountData
          properties:
            giftCardAccountData:
              $ref: '#/definitions/gift-card-account-data-gift-card-account-interface'
          type: object
      responses:
        202:
          description: 202 Accepted.
          schema:
            $ref: '#/definitions/asynchronous-operations-data-async-response-interface'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: carts/guest-carts/{cartId}/giftCards
  /async/V1/carts/guest-carts/{cartId}/giftCards/{giftCardCode}:
    delete:
      tags:
      - carts/guest-carts/{cartId}/giftCards/{giftCardCode}
      description: Remove GiftCard Account entity.
      operationId: giftCardAccountGuestGiftCardAccountManagementV1DeleteByQuoteIdDelete
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
      - name: giftCardCode
        in: path
        type: string
        required: true
      responses:
        202:
          description: 202 Accepted.
          schema:
            $ref: '#/definitions/asynchronous-operations-data-async-response-interface'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: carts/guest-carts/{cartId}/giftCards/{giftCardCode}
  /async/V1/customers:
    post:
      tags:
      - customers
      description: Create customer account. Perform necessary business operations
        like sending email.
      operationId: customerAccountManagementV1CreateAccountPost
      parameters:
      - name: customerAccountManagementV1CreateAccountPostBody
        in: body
        schema:
          required:
          - customer
          properties:
            customer:
              $ref: '#/definitions/customer-data-customer-interface'
            password:
              type: string
            redirectUrl:
              type: string
          type: object
      responses:
        202:
          description: 202 Accepted.
          schema:
            $ref: '#/definitions/asynchronous-operations-data-async-response-interface'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: customers
  /async/V1/customers/isEmailAvailable:
    post:
      tags:
      - customers/isEmailAvailable
      description: Check if given email is associated with a customer account in given
        website.
      operationId: customerAccountManagementV1IsEmailAvailablePost
      parameters:
      - name: customerAccountManagementV1IsEmailAvailablePostBody
        in: body
        schema:
          required:
          - customerEmail
          properties:
            customerEmail:
              type: string
            websiteId:
              type: integer
              description: If not set, will use the current websiteId
          type: object
      responses:
        202:
          description: 202 Accepted.
          schema:
            $ref: '#/definitions/asynchronous-operations-data-async-response-interface'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: customers/isEmailAvailable
  /async/V1/customers/password:
    put:
      tags:
      - customers/password
      description: Send an email to the customer with a password reset link.
      operationId: customerAccountManagementV1InitiatePasswordResetPut
      parameters:
      - name: customerAccountManagementV1InitiatePasswordResetPutBody
        in: body
        schema:
          required:
          - email
          - template
          properties:
            email:
              type: string
            template:
              type: string
            websiteId:
              type: integer
          type: object
      responses:
        202:
          description: 202 Accepted.
          schema:
            $ref: '#/definitions/asynchronous-operations-data-async-response-interface'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: customers/password
  /async/V1/customers/resetPassword:
    post:
      tags:
      - customers/resetPassword
      description: Reset customer password.
      operationId: customerAccountManagementV1ResetPasswordPost
      parameters:
      - name: customerAccountManagementV1ResetPasswordPostBody
        in: body
        schema:
          required:
          - email
          - resetToken
          - newPassword
          properties:
            email:
              type: string
              description: If empty value given then the customer will be matched
                by the RP token.
            resetToken:
              type: string
            newPassword:
              type: string
          type: object
      responses:
        202:
          description: 202 Accepted.
          schema:
            $ref: '#/definitions/asynchronous-operations-data-async-response-interface'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: customers/resetPassword
  /async/V1/guest-carts:
    post:
      tags:
      - guest-carts
      description: Enable an customer or guest user to create an empty cart and quote
        for an anonymous customer.
      operationId: quoteGuestCartManagementV1CreateEmptyCartPost
      responses:
        202:
          description: 202 Accepted.
          schema:
            $ref: '#/definitions/asynchronous-operations-data-async-response-interface'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: guest-carts
  /async/V1/guest-carts/{cartId}/billing-address:
    post:
      tags:
      - guest-carts/{cartId}/billing-address
      description: Assign a specified billing address to a specified cart.
      operationId: quoteGuestBillingAddressManagementV1AssignPost
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
        description: The cart ID.
      - name: quoteGuestBillingAddressManagementV1AssignPostBody
        in: body
        schema:
          required:
          - address
          properties:
            address:
              $ref: '#/definitions/quote-data-address-interface'
            useForShipping:
              type: boolean
          type: object
      responses:
        202:
          description: 202 Accepted.
          schema:
            $ref: '#/definitions/asynchronous-operations-data-async-response-interface'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: guest-carts/{cartId}/billing-address
  /async/V1/guest-carts/{cartId}/checkout-collection-point/select:
    post:
      tags:
      - guest-carts/{cartId}/checkout-collection-point/select
      description: Select a given collection point for checkout.
      operationId: temandoShippingCheckoutGuestCartCollectionPointManagementV1SelectCollectionPointPost
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
      - name: temandoShippingCheckoutGuestCartCollectionPointManagementV1SelectCollectionPointPostBody
        in: body
        schema:
          required:
          - collectionPointId
          properties:
            collectionPointId:
              type: string
          type: object
      responses:
        202:
          description: 202 Accepted.
          schema:
            $ref: '#/definitions/asynchronous-operations-data-async-response-interface'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: guest-carts/{cartId}/checkout-collection-point/select
  /async/V1/guest-carts/{cartId}/checkout-fields:
    post:
      tags:
      - guest-carts/{cartId}/checkout-fields
      description: ""
      operationId: temandoShippingQuoteGuestCartCheckoutFieldManagementV1SaveCheckoutFieldsPost
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
      - name: temandoShippingQuoteGuestCartCheckoutFieldManagementV1SaveCheckoutFieldsPostBody
        in: body
        schema:
          required:
          - serviceSelection
          properties:
            serviceSelection:
              type: array
              items:
                $ref: '#/definitions/framework-attribute-interface'
          type: object
      responses:
        202:
          description: 202 Accepted.
          schema:
            $ref: '#/definitions/asynchronous-operations-data-async-response-interface'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: guest-carts/{cartId}/checkout-fields
  /async/V1/guest-carts/{cartId}/checkout-pickup-location/select:
    post:
      tags:
      - guest-carts/{cartId}/checkout-pickup-location/select
      description: Select a given pickup location for checkout.
      operationId: temandoShippingCheckoutGuestCartPickupLocationManagementV1SelectPickupLocationPost
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
      - name: temandoShippingCheckoutGuestCartPickupLocationManagementV1SelectPickupLocationPostBody
        in: body
        schema:
          required:
          - pickupLocationId
          properties:
            pickupLocationId:
              type: string
          type: object
      responses:
        202:
          description: 202 Accepted.
          schema:
            $ref: '#/definitions/asynchronous-operations-data-async-response-interface'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: guest-carts/{cartId}/checkout-pickup-location/select
  /async/V1/guest-carts/{cartId}/collect-totals:
    put:
      tags:
      - guest-carts/{cartId}/collect-totals
      description: Set shipping/billing methods and additional data for cart and collect
        totals for guest.
      operationId: quoteGuestCartTotalManagementV1CollectTotalsPut
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
        description: The cart ID.
      - name: quoteGuestCartTotalManagementV1CollectTotalsPutBody
        in: body
        schema:
          required:
          - paymentMethod
          properties:
            paymentMethod:
              $ref: '#/definitions/quote-data-payment-interface'
            shippingCarrierCode:
              type: string
              description: The carrier code.
            shippingMethodCode:
              type: string
              description: The shipping method code.
            additionalData:
              $ref: '#/definitions/quote-data-totals-additional-data-interface'
          type: object
      responses:
        202:
          description: 202 Accepted.
          schema:
            $ref: '#/definitions/asynchronous-operations-data-async-response-interface'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: guest-carts/{cartId}/collect-totals
  /async/V1/guest-carts/{cartId}/collection-point/search-request:
    put:
      tags:
      - guest-carts/{cartId}/collection-point/search-request
      description: Save a customer's search for collection points.
      operationId: temandoShippingCheckoutGuestCartCollectionPointManagementV1SaveSearchRequestPut
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
      - name: temandoShippingCheckoutGuestCartCollectionPointManagementV1SaveSearchRequestPutBody
        in: body
        schema:
          required:
          - countryId
          - postcode
          properties:
            countryId:
              type: string
            postcode:
              type: string
          type: object
      responses:
        202:
          description: 202 Accepted.
          schema:
            $ref: '#/definitions/asynchronous-operations-data-async-response-interface'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: guest-carts/{cartId}/collection-point/search-request
    delete:
      tags:
      - guest-carts/{cartId}/collection-point/search-request
      description: Delete a customer's search for collection points.
      operationId: temandoShippingCheckoutGuestCartCollectionPointManagementV1DeleteSearchRequestDelete
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
      responses:
        202:
          description: 202 Accepted.
          schema:
            $ref: '#/definitions/asynchronous-operations-data-async-response-interface'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: guest-carts/{cartId}/collection-point/search-request
  /async/V1/guest-carts/{cartId}/collection-point/select:
    post:
      tags:
      - guest-carts/{cartId}/collection-point/select
      description: ""
      operationId: temandoShippingDeliveryGuestCartCollectionPointManagementV1SelectCollectionPointPost
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
      - name: temandoShippingDeliveryGuestCartCollectionPointManagementV1SelectCollectionPointPostBody
        in: body
        schema:
          required:
          - entityId
          properties:
            entityId:
              type: integer
          type: object
      responses:
        202:
          description: 202 Accepted.
          schema:
            $ref: '#/definitions/asynchronous-operations-data-async-response-interface'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: guest-carts/{cartId}/collection-point/select
  /async/V1/guest-carts/{cartId}/coupons:
    delete:
      tags:
      - guest-carts/{cartId}/coupons
      description: Delete a coupon from a specified cart.
      operationId: quoteGuestCouponManagementV1RemoveDelete
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
        description: The cart ID.
      responses:
        202:
          description: 202 Accepted.
          schema:
            $ref: '#/definitions/asynchronous-operations-data-async-response-interface'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: guest-carts/{cartId}/coupons
  /async/V1/guest-carts/{cartId}/coupons/{couponCode}:
    put:
      tags:
      - guest-carts/{cartId}/coupons/{couponCode}
      description: Add a coupon by code to a specified cart.
      operationId: quoteGuestCouponManagementV1SetPut
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
        description: The cart ID.
      - name: couponCode
        in: path
        type: string
        required: true
        description: The coupon code data.
      responses:
        202:
          description: 202 Accepted.
          schema:
            $ref: '#/definitions/asynchronous-operations-data-async-response-interface'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: guest-carts/{cartId}/coupons/{couponCode}
  /async/V1/guest-carts/{cartId}/delivery-option:
    post:
      tags:
      - guest-carts/{cartId}/delivery-option
      description: Handle selected delivery option.
      operationId: temandoShippingQuoteGuestCartDeliveryOptionManagementV1SavePost
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
        description: The shopping cart ID.
      - name: temandoShippingQuoteGuestCartDeliveryOptionManagementV1SavePostBody
        in: body
        schema:
          required:
          - selectedOption
          properties:
            selectedOption:
              type: string
          type: object
      responses:
        202:
          description: 202 Accepted.
          schema:
            $ref: '#/definitions/asynchronous-operations-data-async-response-interface'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: guest-carts/{cartId}/delivery-option
  /async/V1/guest-carts/{cartId}/estimate-shipping-methods:
    post:
      tags:
      - guest-carts/{cartId}/estimate-shipping-methods
      description: Estimate shipping by address and return list of available shipping
        methods
      operationId: quoteGuestShipmentEstimationV1EstimateByExtendedAddressPost
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
      - name: quoteGuestShipmentEstimationV1EstimateByExtendedAddressPostBody
        in: body
        schema:
          required:
          - address
          properties:
            address:
              $ref: '#/definitions/quote-data-address-interface'
          type: object
      responses:
        202:
          description: 202 Accepted.
          schema:
            $ref: '#/definitions/asynchronous-operations-data-async-response-interface'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: guest-carts/{cartId}/estimate-shipping-methods
  /async/V1/guest-carts/{cartId}/gift-message:
    post:
      tags:
      - guest-carts/{cartId}/gift-message
      description: Set the gift message for an entire order.
      operationId: giftMessageGuestCartRepositoryV1SavePost
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
        description: The cart ID.
      - name: giftMessageGuestCartRepositoryV1SavePostBody
        in: body
        schema:
          required:
          - giftMessage
          properties:
            giftMessage:
              $ref: '#/definitions/gift-message-data-message-interface'
          type: object
      responses:
        202:
          description: 202 Accepted.
          schema:
            $ref: '#/definitions/asynchronous-operations-data-async-response-interface'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: guest-carts/{cartId}/gift-message
  /async/V1/guest-carts/{cartId}/gift-message/{itemId}:
    post:
      tags:
      - guest-carts/{cartId}/gift-message/{itemId}
      description: Set the gift message for a specified item in a specified shopping
        cart.
      operationId: giftMessageGuestItemRepositoryV1SavePost
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
        description: The cart ID.
      - name: itemId
        in: path
        type: integer
        required: true
        description: The item ID.
      - name: giftMessageGuestItemRepositoryV1SavePostBody
        in: body
        schema:
          required:
          - giftMessage
          properties:
            giftMessage:
              $ref: '#/definitions/gift-message-data-message-interface'
          type: object
      responses:
        202:
          description: 202 Accepted.
          schema:
            $ref: '#/definitions/asynchronous-operations-data-async-response-interface'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: guest-carts/{cartId}/gift-message/{itemId}
  /async/V1/guest-carts/{cartId}/items:
    post:
      tags:
      - guest-carts/{cartId}/items
      description: Add/update the specified cart item.
      operationId: quoteGuestCartItemRepositoryV1SavePost
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
      - name: quoteGuestCartItemRepositoryV1SavePostBody
        in: body
        schema:
          required:
          - cartItem
          properties:
            cartItem:
              $ref: '#/definitions/quote-data-cart-item-interface'
          type: object
      responses:
        202:
          description: 202 Accepted.
          schema:
            $ref: '#/definitions/asynchronous-operations-data-async-response-interface'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: guest-carts/{cartId}/items
  /async/V1/guest-carts/{cartId}/items/{itemId}:
    put:
      tags:
      - guest-carts/{cartId}/items/{itemId}
      description: Add/update the specified cart item.
      operationId: quoteGuestCartItemRepositoryV1SavePut
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
      - name: itemId
        in: path
        type: string
        required: true
      - name: quoteGuestCartItemRepositoryV1SavePutBody
        in: body
        schema:
          required:
          - cartItem
          properties:
            cartItem:
              $ref: '#/definitions/quote-data-cart-item-interface'
          type: object
      responses:
        202:
          description: 202 Accepted.
          schema:
            $ref: '#/definitions/asynchronous-operations-data-async-response-interface'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: guest-carts/{cartId}/items/{itemId}
    delete:
      tags:
      - guest-carts/{cartId}/items/{itemId}
      description: Remove the specified item from the specified cart.
      operationId: quoteGuestCartItemRepositoryV1DeleteByIdDelete
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
        description: The cart ID.
      - name: itemId
        in: path
        type: integer
        required: true
        description: The item ID of the item to be removed.
      responses:
        202:
          description: 202 Accepted.
          schema:
            $ref: '#/definitions/asynchronous-operations-data-async-response-interface'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: guest-carts/{cartId}/items/{itemId}
  /async/V1/guest-carts/{cartId}/order:
    put:
      tags:
      - guest-carts/{cartId}/order
      description: Place an order for a specified cart.
      operationId: quoteGuestCartManagementV1PlaceOrderPut
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
        description: The cart ID.
      - name: quoteGuestCartManagementV1PlaceOrderPutBody
        in: body
        schema:
          properties:
            paymentMethod:
              $ref: '#/definitions/quote-data-payment-interface'
          type: object
      responses:
        202:
          description: 202 Accepted.
          schema:
            $ref: '#/definitions/asynchronous-operations-data-async-response-interface'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: guest-carts/{cartId}/order
  /async/V1/guest-carts/{cartId}/payment-information:
    post:
      tags:
      - guest-carts/{cartId}/payment-information
      description: Set payment information and place order for a specified cart.
      operationId: checkoutGuestPaymentInformationManagementV1SavePaymentInformationAndPlaceOrderPost
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
      - name: checkoutGuestPaymentInformationManagementV1SavePaymentInformationAndPlaceOrderPostBody
        in: body
        schema:
          required:
          - email
          - paymentMethod
          properties:
            email:
              type: string
            paymentMethod:
              $ref: '#/definitions/quote-data-payment-interface'
            billingAddress:
              $ref: '#/definitions/quote-data-address-interface'
          type: object
      responses:
        202:
          description: 202 Accepted.
          schema:
            $ref: '#/definitions/asynchronous-operations-data-async-response-interface'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: guest-carts/{cartId}/payment-information
  /async/V1/guest-carts/{cartId}/pickup-location/select:
    post:
      tags:
      - guest-carts/{cartId}/pickup-location/select
      description: ""
      operationId: temandoShippingDeliveryGuestCartPickupLocationManagementV1SelectPickupLocationPost
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
      - name: temandoShippingDeliveryGuestCartPickupLocationManagementV1SelectPickupLocationPostBody
        in: body
        schema:
          required:
          - entityId
          properties:
            entityId:
              type: integer
          type: object
      responses:
        202:
          description: 202 Accepted.
          schema:
            $ref: '#/definitions/asynchronous-operations-data-async-response-interface'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: guest-carts/{cartId}/pickup-location/select
  /async/V1/guest-carts/{cartId}/selected-payment-method:
    put:
      tags:
      - guest-carts/{cartId}/selected-payment-method
      description: Add a specified payment method to a specified shopping cart.
      operationId: quoteGuestPaymentMethodManagementV1SetPut
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
        description: The cart ID.
      - name: quoteGuestPaymentMethodManagementV1SetPutBody
        in: body
        schema:
          required:
          - method
          properties:
            method:
              $ref: '#/definitions/quote-data-payment-interface'
          type: object
      responses:
        202:
          description: 202 Accepted.
          schema:
            $ref: '#/definitions/asynchronous-operations-data-async-response-interface'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: guest-carts/{cartId}/selected-payment-method
  /async/V1/guest-carts/{cartId}/set-payment-information:
    post:
      tags:
      - guest-carts/{cartId}/set-payment-information
      description: Set payment information for a specified cart.
      operationId: checkoutGuestPaymentInformationManagementV1SavePaymentInformationPost
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
      - name: checkoutGuestPaymentInformationManagementV1SavePaymentInformationPostBody
        in: body
        schema:
          required:
          - email
          - paymentMethod
          properties:
            email:
              type: string
            paymentMethod:
              $ref: '#/definitions/quote-data-payment-interface'
            billingAddress:
              $ref: '#/definitions/quote-data-address-interface'
          type: object
      responses:
        202:
          description: 202 Accepted.
          schema:
            $ref: '#/definitions/asynchronous-operations-data-async-response-interface'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: guest-carts/{cartId}/set-payment-information
  /async/V1/guest-carts/{cartId}/shipping-information:
    post:
      tags:
      - guest-carts/{cartId}/shipping-information
      description: ""
      operationId: checkoutGuestShippingInformationManagementV1SaveAddressInformationPost
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
      - name: checkoutGuestShippingInformationManagementV1SaveAddressInformationPostBody
        in: body
        schema:
          required:
          - addressInformation
          properties:
            addressInformation:
              $ref: '#/definitions/checkout-data-shipping-information-interface'
          type: object
      responses:
        202:
          description: 202 Accepted.
          schema:
            $ref: '#/definitions/asynchronous-operations-data-async-response-interface'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: guest-carts/{cartId}/shipping-information
  /async/V1/guest-carts/{cartId}/totals-information:
    post:
      tags:
      - guest-carts/{cartId}/totals-information
      description: Calculate quote totals based on address and shipping method.
      operationId: checkoutGuestTotalsInformationManagementV1CalculatePost
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
      - name: checkoutGuestTotalsInformationManagementV1CalculatePostBody
        in: body
        schema:
          required:
          - addressInformation
          properties:
            addressInformation:
              $ref: '#/definitions/checkout-data-totals-information-interface'
          type: object
      responses:
        202:
          description: 202 Accepted.
          schema:
            $ref: '#/definitions/asynchronous-operations-data-async-response-interface'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: guest-carts/{cartId}/totals-information
  /async/V1/guest-giftregistry/{cartId}/estimate-shipping-methods:
    post:
      tags:
      - guest-giftregistry/{cartId}/estimate-shipping-methods
      description: Estimate shipping
      operationId: giftRegistryGuestCartShippingMethodManagementV1EstimateByRegistryIdPost
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
        description: The shopping cart ID.
      - name: giftRegistryGuestCartShippingMethodManagementV1EstimateByRegistryIdPostBody
        in: body
        schema:
          required:
          - registryId
          properties:
            registryId:
              type: integer
              description: The estimate registry id
          type: object
      responses:
        202:
          description: 202 Accepted.
          schema:
            $ref: '#/definitions/asynchronous-operations-data-async-response-interface'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: guest-giftregistry/{cartId}/estimate-shipping-methods
  /async/V1/integration/admin/token:
    post:
      tags:
      - integration/admin/token
      description: Create access token for admin given the admin credentials.
      operationId: integrationAdminTokenServiceV1CreateAdminAccessTokenPost
      parameters:
      - name: integrationAdminTokenServiceV1CreateAdminAccessTokenPostBody
        in: body
        schema:
          required:
          - username
          - password
          properties:
            username:
              type: string
            password:
              type: string
          type: object
      responses:
        202:
          description: 202 Accepted.
          schema:
            $ref: '#/definitions/asynchronous-operations-data-async-response-interface'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: integration/admin/token
  /async/V1/integration/customer/token:
    post:
      tags:
      - integration/customer/token
      description: Create access token for admin given the customer credentials.
      operationId: integrationCustomerTokenServiceV1CreateCustomerAccessTokenPost
      parameters:
      - name: integrationCustomerTokenServiceV1CreateCustomerAccessTokenPostBody
        in: body
        schema:
          required:
          - username
          - password
          properties:
            username:
              type: string
            password:
              type: string
          type: object
      responses:
        202:
          description: 202 Accepted.
          schema:
            $ref: '#/definitions/asynchronous-operations-data-async-response-interface'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: integration/customer/token
  /async/V1/worldpay-guest-carts/{cartId}/payment-information:
    post:
      tags:
      - worldpay-guest-carts/{cartId}/payment-information
      description: Proxy handler for guest place order
      operationId: worldpayGuestPaymentInformationManagementProxyV1SavePaymentInformationAndPlaceOrderPost
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
      - name: worldpayGuestPaymentInformationManagementProxyV1SavePaymentInformationAndPlaceOrderPostBody
        in: body
        schema:
          required:
          - email
          - paymentMethod
          properties:
            email:
              type: string
            paymentMethod:
              $ref: '#/definitions/quote-data-payment-interface'
            billingAddress:
              $ref: '#/definitions/quote-data-address-interface'
          type: object
      responses:
        202:
          description: 202 Accepted.
          schema:
            $ref: '#/definitions/asynchronous-operations-data-async-response-interface'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
      summary: worldpay-guest-carts/{cartId}/payment-information
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":47:{s:14:\"error-response\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"Error
  message\";}s:6:\"errors\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/error-errors\";}s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:10:\"Error
  code\";}s:10:\"parameters\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/error-parameters\";}s:5:\"trace\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Stack
  trace\";}}s:8:\"required\";a:1:{i:0;s:7:\"message\";}}s:12:\"error-errors\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:11:\"Errors
  list\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/error-errors-item\";}}s:17:\"error-errors-item\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:13:\"Error
  details\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"Error
  message\";}s:10:\"parameters\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/error-parameters\";}}}s:16:\"error-parameters\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:21:\"Error
  parameters list\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/error-parameters-item\";}}s:21:\"error-parameters-item\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:21:\"Error
  parameters item\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"resources\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"ACL
  resource\";}s:9:\"fieldName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Missing
  or invalid field name\";}s:10:\"fieldValue\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"Incorrect
  field value\";}}}s:32:\"customer-data-customer-interface\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:19:\"Customer
  interface.\";s:10:\"properties\";O:8:\"stdClass\":23:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:11:\"Customer
  id\";}s:8:\"group_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:8:\"Group
  id\";}s:15:\"default_billing\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"Default
  billing address id\";}s:16:\"default_shipping\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"Default
  shipping address id\";}s:12:\"confirmation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Confirmation\";}s:10:\"created_at\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"Created
  at time\";}s:10:\"updated_at\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"Updated
  at time\";}s:10:\"created_in\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"Created
  in area\";}s:3:\"dob\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"Date
  of birth\";}s:5:\"email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"Email
  address\";}s:9:\"firstname\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"First
  name\";}s:8:\"lastname\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"Last
  name\";}s:10:\"middlename\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Middle
  name\";}s:6:\"prefix\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"Prefix\";}s:6:\"suffix\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"Suffix\";}s:6:\"gender\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:6:\"Gender\";}s:8:\"store_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:8:\"Store
  id\";}s:6:\"taxvat\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:7:\"Tax
  Vat\";}s:10:\"website_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:10:\"Website
  id\";}s:9:\"addresses\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:19:\"Customer
  addresses.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/customer-data-address-interface\";}}s:25:\"disable_auto_group_change\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:31:\"Disable
  auto group change flag.\";}s:20:\"extension_attributes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:56:\"#/definitions/customer-data-customer-extension-interface\";}s:17:\"custom_attributes\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:25:\"Custom
  attributes values.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/framework-attribute-interface\";}}}s:8:\"required\";a:3:{i:0;s:5:\"email\";i:1;s:9:\"firstname\";i:2;s:8:\"lastname\";}}s:31:\"customer-data-address-interface\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:27:\"Customer
  address interface.\";s:10:\"properties\";O:8:\"stdClass\":21:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:2:\"ID\";}s:11:\"customer_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:11:\"Customer
  ID\";}s:6:\"region\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/customer-data-region-interface\";}s:9:\"region_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:9:\"Region
  ID\";}s:10:\"country_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"Country
  code in ISO_3166-2 format\";}s:6:\"street\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:6:\"Street\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:7:\"company\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:7:\"Company\";}s:9:\"telephone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"Telephone
  number\";}s:3:\"fax\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"Fax
  number\";}s:8:\"postcode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:8:\"Postcode\";}s:4:\"city\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"City
  name\";}s:9:\"firstname\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"First
  name\";}s:8:\"lastname\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"Last
  name\";}s:10:\"middlename\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Middle
  name\";}s:6:\"prefix\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"Prefix\";}s:6:\"suffix\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"Suffix\";}s:6:\"vat_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"Vat
  id\";}s:16:\"default_shipping\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:44:\"If
  this address is default shipping address.\";}s:15:\"default_billing\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:42:\"If
  this address is default billing address\";}s:20:\"extension_attributes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:55:\"#/definitions/customer-data-address-extension-interface\";}s:17:\"custom_attributes\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:25:\"Custom
  attributes values.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/framework-attribute-interface\";}}}}s:30:\"customer-data-region-interface\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:34:\"Customer
  address region interface.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"region_code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Region
  code\";}s:6:\"region\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"Region\";}s:9:\"region_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:9:\"Region
  id\";}s:20:\"extension_attributes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:54:\"#/definitions/customer-data-region-extension-interface\";}}s:8:\"required\";a:3:{i:0;s:11:\"region_code\";i:1;s:6:\"region\";i:2;s:9:\"region_id\";}}s:40:\"customer-data-region-extension-interface\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:76:\"ExtensionInterface
  class for @see \\Magento\\Customer\\Api\\Data\\RegionInterface\";}s:41:\"customer-data-address-extension-interface\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:77:\"ExtensionInterface
  class for @see \\Magento\\Customer\\Api\\Data\\AddressInterface\";}s:29:\"framework-attribute-interface\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:37:\"Interface
  for custom attribute value.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"attribute_code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Attribute
  code\";}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"Attribute
  value\";}}s:8:\"required\";a:2:{i:0;s:14:\"attribute_code\";i:1;s:5:\"value\";}}s:42:\"customer-data-customer-extension-interface\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:78:\"ExtensionInterface
  class for @see \\Magento\\Customer\\Api\\Data\\CustomerInterface\";s:10:\"properties\";O:8:\"stdClass\":4:{s:18:\"company_attributes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:53:\"#/definitions/company-data-company-customer-interface\";}s:13:\"is_subscribed\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"amazon_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"vertex_customer_code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:39:\"company-data-company-customer-interface\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:46:\"Extended
  customer custom attributes interface.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"customer_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:12:\"Customer
  ID.\";}s:10:\"company_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:11:\"Company
  ID.\";}s:9:\"job_title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Get
  job title.\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:16:\"Customer
  status.\";}s:9:\"telephone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Get
  telephone.\";}s:20:\"extension_attributes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:63:\"#/definitions/company-data-company-customer-extension-interface\";}}}s:49:\"company-data-company-customer-extension-interface\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:84:\"ExtensionInterface
  class for @see \\Magento\\Company\\Api\\Data\\CompanyCustomerInterface\";}s:53:\"asynchronous-operations-data-async-response-interface\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:96:\"Interface
  AsyncResponseInterface Temporary data object to give response from webapi async
  router\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"bulk_uuid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"Bulk
  Uuid.\";}s:13:\"request_items\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:43:\"The
  list of request items with status data.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:64:\"#/definitions/asynchronous-operations-data-item-status-interface\";}}s:6:\"errors\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:35:\"There
  errors during processing bulk\";}s:20:\"extension_attributes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:77:\"#/definitions/asynchronous-operations-data-async-response-extension-interface\";}}s:8:\"required\";a:3:{i:0;s:9:\"bulk_uuid\";i:1;s:13:\"request_items\";i:2;s:6:\"errors\";}}s:50:\"asynchronous-operations-data-item-status-interface\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:141:\"ItemStatusInterface
  interface Temporary object with status of requested item. Indicate if entity param
  was Accepted|Rejected to bulk schedule\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:10:\"Entity
  Id.\";}s:9:\"data_hash\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"md5
  hash of entity params array.\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"accepted|rejected\";}s:13:\"error_message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"Error
  information.\";}s:10:\"error_code\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:11:\"Error
  code.\";}}s:8:\"required\";a:3:{i:0;s:2:\"id\";i:1;s:9:\"data_hash\";i:2;s:6:\"status\";}}s:63:\"asynchronous-operations-data-async-response-extension-interface\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:97:\"ExtensionInterface
  class for @see \\Magento\\AsynchronousOperations\\Api\\Data\\AsyncResponseInterface\";}s:28:\"quote-data-payment-interface\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:26:\"Interface
  PaymentInterface\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"po_number\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"Purchase
  order number\";}s:6:\"method\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"Payment
  method code\";}s:15:\"additional_data\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:26:\"Payment
  additional details\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:20:\"extension_attributes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:52:\"#/definitions/quote-data-payment-extension-interface\";}}s:8:\"required\";a:1:{i:0;s:6:\"method\";}}s:38:\"quote-data-payment-extension-interface\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:74:\"ExtensionInterface
  class for @see \\Magento\\Quote\\Api\\Data\\PaymentInterface\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"agreement_ids\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:28:\"quote-data-address-interface\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:26:\"Interface
  AddressInterface\";s:10:\"properties\";O:8:\"stdClass\":24:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:2:\"Id\";}s:6:\"region\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Region
  name\";}s:9:\"region_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:9:\"Region
  id\";}s:11:\"region_code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Region
  code\";}s:10:\"country_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"Country
  id\";}s:6:\"street\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:6:\"Street\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:7:\"company\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:7:\"Company\";}s:9:\"telephone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"Telephone
  number\";}s:3:\"fax\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"Fax
  number\";}s:8:\"postcode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:8:\"Postcode\";}s:4:\"city\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"City
  name\";}s:9:\"firstname\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"First
  name\";}s:8:\"lastname\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"Last
  name\";}s:10:\"middlename\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Middle
  name\";}s:6:\"prefix\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"Prefix\";}s:6:\"suffix\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"Suffix\";}s:6:\"vat_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"Vat
  id\";}s:11:\"customer_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:11:\"Customer
  id\";}s:5:\"email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Billing/shipping
  email\";}s:15:\"same_as_billing\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:20:\"Same
  as billing flag\";}s:19:\"customer_address_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:19:\"Customer
  address id\";}s:20:\"save_in_address_book\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:25:\"Save
  in address book flag\";}s:20:\"extension_attributes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:52:\"#/definitions/quote-data-address-extension-interface\";}s:17:\"custom_attributes\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:25:\"Custom
  attributes values.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/framework-attribute-interface\";}}}s:8:\"required\";a:11:{i:0;s:6:\"region\";i:1;s:9:\"region_id\";i:2;s:11:\"region_code\";i:3;s:10:\"country_id\";i:4;s:6:\"street\";i:5;s:9:\"telephone\";i:6;s:8:\"postcode\";i:7;s:4:\"city\";i:8;s:9:\"firstname\";i:9;s:8:\"lastname\";i:10;s:5:\"email\";}}s:38:\"quote-data-address-extension-interface\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:74:\"ExtensionInterface
  class for @see \\Magento\\Quote\\Api\\Data\\AddressInterface\";s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"gift_registry_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:15:\"checkout_fields\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/framework-attribute-interface\";}}}}s:30:\"quote-data-cart-item-interface\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:27:\"Interface
  CartItemInterface\";s:10:\"properties\";O:8:\"stdClass\":9:{s:7:\"item_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:25:\"Item
  ID. Otherwise, null.\";}s:3:\"sku\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Product
  SKU. Otherwise, null.\";}s:3:\"qty\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:17:\"Product
  quantity.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"Product
  name. Otherwise, null.\";}s:5:\"price\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:31:\"Product
  price. Otherwise, null.\";}s:12:\"product_type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"Product
  type. Otherwise, null.\";}s:8:\"quote_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"Quote
  id.\";}s:14:\"product_option\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:49:\"#/definitions/quote-data-product-option-interface\";}s:20:\"extension_attributes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:54:\"#/definitions/quote-data-cart-item-extension-interface\";}}s:8:\"required\";a:2:{i:0;s:3:\"qty\";i:1;s:8:\"quote_id\";}}s:35:\"quote-data-product-option-interface\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:24:\"Product
  option interface\";s:10:\"properties\";O:8:\"stdClass\":1:{s:20:\"extension_attributes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:59:\"#/definitions/quote-data-product-option-extension-interface\";}}}s:45:\"quote-data-product-option-extension-interface\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:80:\"ExtensionInterface
  class for @see \\Magento\\Quote\\Api\\Data\\ProductOptionInterface\";s:10:\"properties\";O:8:\"stdClass\":5:{s:14:\"custom_options\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:50:\"#/definitions/catalog-data-custom-option-interface\";}}s:14:\"bundle_options\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:49:\"#/definitions/bundle-data-bundle-option-interface\";}}s:25:\"configurable_item_options\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:80:\"#/definitions/configurable-product-data-configurable-item-option-value-interface\";}}s:19:\"downloadable_option\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:61:\"#/definitions/downloadable-data-downloadable-option-interface\";}s:20:\"giftcard_item_option\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:55:\"#/definitions/gift-card-data-gift-card-option-interface\";}}}s:36:\"catalog-data-custom-option-interface\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:31:\"Interface
  CustomOptionInterface\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"option_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"Option
  id\";}s:12:\"option_value\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Option
  value\";}s:20:\"extension_attributes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:60:\"#/definitions/catalog-data-custom-option-extension-interface\";}}s:8:\"required\";a:2:{i:0;s:9:\"option_id\";i:1;s:12:\"option_value\";}}s:46:\"catalog-data-custom-option-extension-interface\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:81:\"ExtensionInterface
  class for @see \\Magento\\Catalog\\Api\\Data\\CustomOptionInterface\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"file_info\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:52:\"#/definitions/framework-data-image-content-interface\";}}}s:38:\"framework-data-image-content-interface\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:28:\"Image
  Content data interface\";s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"base64_encoded_data\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"Media
  data (base64 encoded content)\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"MIME
  type\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"Image
  name\";}}s:8:\"required\";a:3:{i:0;s:19:\"base64_encoded_data\";i:1;s:4:\"type\";i:2;s:4:\"name\";}}s:35:\"bundle-data-bundle-option-interface\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:31:\"Interface
  BundleOptionInterface\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"option_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:17:\"Bundle
  option id.\";}s:10:\"option_qty\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:23:\"Bundle
  option quantity.\";}s:17:\"option_selections\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:28:\"Bundle
  option selection ids.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:20:\"extension_attributes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:59:\"#/definitions/bundle-data-bundle-option-extension-interface\";}}s:8:\"required\";a:3:{i:0;s:9:\"option_id\";i:1;s:10:\"option_qty\";i:2;s:17:\"option_selections\";}}s:45:\"bundle-data-bundle-option-extension-interface\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:80:\"ExtensionInterface
  class for @see \\Magento\\Bundle\\Api\\Data\\BundleOptionInterface\";}s:66:\"configurable-product-data-configurable-item-option-value-interface\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:46:\"Interface
  ConfigurableItemOptionValueInterface\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"option_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"Option
  SKU\";}s:12:\"option_value\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:7:\"Item
  id\";}s:20:\"extension_attributes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:90:\"#/definitions/configurable-product-data-configurable-item-option-value-extension-interface\";}}s:8:\"required\";a:1:{i:0;s:9:\"option_id\";}}s:76:\"configurable-product-data-configurable-item-option-value-extension-interface\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:108:\"ExtensionInterface
  class for @see \\Magento\\ConfigurableProduct\\Api\\Data\\ConfigurableItemOptionValueInterface\";}s:47:\"downloadable-data-downloadable-option-interface\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:19:\"Downloadable
  Option\";s:10:\"properties\";O:8:\"stdClass\":1:{s:18:\"downloadable_links\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:30:\"The
  list of downloadable links\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:8:\"required\";a:1:{i:0;s:18:\"downloadable_links\";}}s:41:\"gift-card-data-gift-card-option-interface\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:33:\"Interface
  GiftCardOptionInterface\";s:10:\"properties\";O:8:\"stdClass\":8:{s:15:\"giftcard_amount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"Gift
  card amount.\";}s:22:\"custom_giftcard_amount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:28:\"Gift
  card open amount value.\";}s:20:\"giftcard_sender_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Gift
  card sender name.\";}s:23:\"giftcard_recipient_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"Gift
  card recipient name.\";}s:21:\"giftcard_sender_email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"Gift
  card sender email.\";}s:24:\"giftcard_recipient_email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"Gift
  card recipient email.\";}s:16:\"giftcard_message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"Giftcard
  message.\";}s:20:\"extension_attributes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:65:\"#/definitions/gift-card-data-gift-card-option-extension-interface\";}}s:8:\"required\";a:5:{i:0;s:15:\"giftcard_amount\";i:1;s:20:\"giftcard_sender_name\";i:2;s:23:\"giftcard_recipient_name\";i:3;s:21:\"giftcard_sender_email\";i:4;s:24:\"giftcard_recipient_email\";}}s:51:\"gift-card-data-gift-card-option-extension-interface\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:84:\"ExtensionInterface
  class for @see \\Magento\\GiftCard\\Api\\Data\\GiftCardOptionInterface\";}s:40:\"quote-data-cart-item-extension-interface\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:75:\"ExtensionInterface
  class for @see \\Magento\\Quote\\Api\\Data\\CartItemInterface\";s:10:\"properties\";O:8:\"stdClass\":1:{s:21:\"negotiable_quote_item\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:67:\"#/definitions/negotiable-quote-data-negotiable-quote-item-interface\";}}}s:53:\"negotiable-quote-data-negotiable-quote-item-interface\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:37:\"Interface
  CompanyQuoteConfigInterface\";s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"item_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:13:\"Quote
  item id\";}s:14:\"original_price\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:25:\"Quote
  item original price\";}s:19:\"original_tax_amount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:30:\"Quote
  item original tax amount\";}s:24:\"original_discount_amount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:35:\"Quote
  item original discount amount\";}s:20:\"extension_attributes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:77:\"#/definitions/negotiable-quote-data-negotiable-quote-item-extension-interface\";}}s:8:\"required\";a:4:{i:0;s:7:\"item_id\";i:1;s:14:\"original_price\";i:2;s:19:\"original_tax_amount\";i:3;s:24:\"original_discount_amount\";}}s:63:\"negotiable-quote-data-negotiable-quote-item-extension-interface\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:96:\"ExtensionInterface
  class for @see \\Magento\\NegotiableQuote\\Api\\Data\\NegotiableQuoteItemInterface\";}s:43:\"quote-data-totals-additional-data-interface\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:38:\"Additional
  data for totals collection.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:20:\"extension_attributes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:67:\"#/definitions/quote-data-totals-additional-data-extension-interface\";}s:17:\"custom_attributes\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:25:\"Custom
  attributes values.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/framework-attribute-interface\";}}}}s:53:\"quote-data-totals-additional-data-extension-interface\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:87:\"ExtensionInterface
  class for @see \\Magento\\Quote\\Api\\Data\\TotalsAdditionalDataInterface\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"gift_messages\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:49:\"#/definitions/gift-message-data-message-interface\";}}}}s:35:\"gift-message-data-message-interface\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:26:\"Interface
  MessageInterface\";s:10:\"properties\";O:8:\"stdClass\":6:{s:15:\"gift_message_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:33:\"Gift
  message ID. Otherwise, null.\";}s:11:\"customer_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:29:\"Customer
  ID. Otherwise, null.\";}s:6:\"sender\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Sender
  name.\";}s:9:\"recipient\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"Recipient
  name.\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"Message
  text.\";}s:20:\"extension_attributes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:59:\"#/definitions/gift-message-data-message-extension-interface\";}}s:8:\"required\";a:3:{i:0;s:6:\"sender\";i:1;s:9:\"recipient\";i:2;s:7:\"message\";}}s:45:\"gift-message-data-message-extension-interface\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:80:\"ExtensionInterface
  class for @see \\Magento\\GiftMessage\\Api\\Data\\MessageInterface\";s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"entity_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"entity_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"wrapping_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:27:\"wrapping_allow_gift_receipt\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:25:\"wrapping_add_printed_card\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}}s:44:\"checkout-data-shipping-information-interface\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:38:\"Interface
  ShippingInformationInterface\";s:10:\"properties\";O:8:\"stdClass\":6:{s:16:\"shipping_address\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/quote-data-address-interface\";}s:15:\"billing_address\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/quote-data-address-interface\";}s:20:\"shipping_method_code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"Shipping
  method code\";}s:21:\"shipping_carrier_code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Carrier
  code\";}s:20:\"extension_attributes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:68:\"#/definitions/checkout-data-shipping-information-extension-interface\";}s:17:\"custom_attributes\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:25:\"Custom
  attributes values.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/framework-attribute-interface\";}}}s:8:\"required\";a:3:{i:0;s:16:\"shipping_address\";i:1;s:20:\"shipping_method_code\";i:2;s:21:\"shipping_carrier_code\";}}s:54:\"checkout-data-shipping-information-extension-interface\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:89:\"ExtensionInterface
  class for @see \\Magento\\Checkout\\Api\\Data\\ShippingInformationInterface\";}s:42:\"checkout-data-totals-information-interface\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:36:\"Interface
  TotalsInformationInterface\";s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"address\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/quote-data-address-interface\";}s:20:\"shipping_method_code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"Shipping
  method code\";}s:21:\"shipping_carrier_code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Carrier
  code\";}s:20:\"extension_attributes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:66:\"#/definitions/checkout-data-totals-information-extension-interface\";}s:17:\"custom_attributes\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:25:\"Custom
  attributes values.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/framework-attribute-interface\";}}}s:8:\"required\";a:1:{i:0;s:7:\"address\";}}s:52:\"checkout-data-totals-information-extension-interface\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:87:\"ExtensionInterface
  class for @see \\Magento\\Checkout\\Api\\Data\\TotalsInformationInterface\";}s:50:\"gift-card-account-data-gift-card-account-interface\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:22:\"Gift
  Card Account data\";s:10:\"properties\";O:8:\"stdClass\":6:{s:10:\"gift_cards\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:12:\"Cards
  codes.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:17:\"gift_cards_amount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:31:\"Cards
  amount in quote currency.\";}s:22:\"base_gift_cards_amount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:30:\"Cards
  amount in base currency.\";}s:22:\"gift_cards_amount_used\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:36:\"Cards
  amount used in quote currency.\";}s:27:\"base_gift_cards_amount_used\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:35:\"Cards
  amount used in base currency.\";}s:20:\"extension_attributes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:74:\"#/definitions/gift-card-account-data-gift-card-account-extension-interface\";}}s:8:\"required\";a:4:{i:0;s:17:\"gift_cards_amount\";i:1;s:22:\"base_gift_cards_amount\";i:2;s:22:\"gift_cards_amount_used\";i:3;s:27:\"base_gift_cards_amount_used\";}}s:60:\"gift-card-account-data-gift-card-account-extension-interface\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:92:\"ExtensionInterface
  class for @see \\Magento\\GiftCardAccount\\Api\\Data\\GiftCardAccountInterface\";}}"
...
