---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":15:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:9:\"x-twitter\";s:12:\"PermittedSoc\";}s:11:\"description\";s:5632:\"<fullname>AWS
  CodePipeline</fullname> <p> <b>Overview</b> </p> <p>This is the AWS CodePipeline
  API Reference. This guide provides descriptions of the actions and data types for
  AWS CodePipeline. Some functionality for your pipeline is only configurable through
  the API. For additional information, see the <a href=\"http://docs.aws.amazon.com/codepipeline/latest/userguide/welcome.html\">AWS
  CodePipeline User Guide</a>.</p> <p>You can use the AWS CodePipeline API to work
  with pipelines, stages, actions, and transitions, as described below.</p> <p> <i>Pipelines</i>
  are models of automated release processes. Each pipeline is uniquely named, and
  consists of stages, actions, and transitions. </p> <p>You can work with pipelines
  by calling:</p> <ul> <li> <p> <a>CreatePipeline</a>, which creates a uniquely-named
  pipeline.</p> </li> <li> <p> <a>DeletePipeline</a>, which deletes the specified
  pipeline.</p> </li> <li> <p> <a>GetPipeline</a>, which returns information about
  the pipeline structure and pipeline metadata, including the pipeline Amazon Resource
  Name (ARN).</p> </li> <li> <p> <a>GetPipelineExecution</a>, which returns information
  about a specific execution of a pipeline.</p> </li> <li> <p> <a>GetPipelineState</a>,
  which returns information about the current state of the stages and actions of a
  pipeline.</p> </li> <li> <p> <a>ListPipelines</a>, which gets a summary of all of
  the pipelines associated with your account.</p> </li> <li> <p> <a>ListPipelineExecutions</a>,
  which gets a summary of the most recent executions for a pipeline.</p> </li> <li>
  <p> <a>StartPipelineExecution</a>, which runs the the most recent revision of an
  artifact through the pipeline.</p> </li> <li> <p> <a>UpdatePipeline</a>, which updates
  a pipeline with edits or changes to the structure of the pipeline.</p> </li> </ul>
  <p>Pipelines include <i>stages</i>. Each stage contains one or more actions that
  must complete before the next stage begins. A stage will result in success or failure.
  If a stage fails, then the pipeline stops at that stage and will remain stopped
  until either a new version of an artifact appears in the source location, or a user
  takes action to re-run the most recent artifact through the pipeline. You can call
  <a>GetPipelineState</a>, which displays the status of a pipeline, including the
  status of stages in the pipeline, or <a>GetPipeline</a>, which returns the entire
  structure of the pipeline, including the stages of that pipeline. For more information
  about the structure of stages and actions, also refer to the <a href=\"http://docs.aws.amazon.com/codepipeline/latest/userguide/pipeline-structure.html\">AWS
  CodePipeline Pipeline Structure Reference</a>.</p> <p>Pipeline stages include <i>actions</i>,
  which are categorized into categories such as source or build actions performed
  within a stage of a pipeline. For example, you can use a source action to import
  artifacts into a pipeline from a source such as Amazon S3. Like stages, you do not
  work with actions directly in most cases, but you do define and interact with actions
  when working with pipeline operations such as <a>CreatePipeline</a> and <a>GetPipelineState</a>.
  Valid action categories are:</p> <ul> <li> <p>Source</p> </li> <li> <p>Build</p>
  </li> <li> <p>Test</p> </li> <li> <p>Deploy</p> </li> <li> <p>Approval</p> </li>
  <li> <p>Invoke</p> </li> </ul> <p>Pipelines also include <i>transitions</i>, which
  allow the transition of artifacts from one stage to the next in a pipeline after
  the actions in one stage complete.</p> <p>You can work with transitions by calling:</p>
  <ul> <li> <p> <a>DisableStageTransition</a>, which prevents artifacts from transitioning
  to the next stage in a pipeline.</p> </li> <li> <p> <a>EnableStageTransition</a>,
  which enables transition of artifacts between stages in a pipeline. </p> </li> </ul>
  <p> <b>Using the API to integrate with AWS CodePipeline</b> </p> <p>For third-party
  integrators or developers who want to create their own integrations with AWS CodePipeline,
  the expected sequence varies from the standard API user. In order to integrate with
  AWS CodePipeline, developers will need to work with the following items:</p> <p>
  <b>Jobs</b>, which are instances of an action. For example, a job for a source action
  might import a revision of an artifact from a source. </p> <p>You can work with
  jobs by calling:</p> <ul> <li> <p> <a>AcknowledgeJob</a>, which confirms whether
  a job worker has received the specified job,</p> </li> <li> <p> <a>GetJobDetails</a>,
  which returns the details of a job,</p> </li> <li> <p> <a>PollForJobs</a>, which
  determines whether there are any jobs to act upon, </p> </li> <li> <p> <a>PutJobFailureResult</a>,
  which provides details of a job failure, and</p> </li> <li> <p> <a>PutJobSuccessResult</a>,
  which provides details of a job success.</p> </li> </ul> <p> <b>Third party jobs</b>,
  which are instances of an action created by a partner action and integrated into
  AWS CodePipeline. Partner actions are created by members of the AWS Partner Network.</p>
  <p>You can work with third party jobs by calling:</p> <ul> <li> <p> <a>AcknowledgeThirdPartyJob</a>,
  which confirms whether a job worker has received the specified job,</p> </li> <li>
  <p> <a>GetThirdPartyJobDetails</a>, which requests the details of a job for a partner
  action,</p> </li> <li> <p> <a>PollForThirdPartyJobs</a>, which determines whether
  there are any jobs to act upon, </p> </li> <li> <p> <a>PutThirdPartyJobFailureResult</a>,
  which provides details of a job failure, and</p> </li> <li> <p> <a>PutThirdPartyJobSuccessResult</a>,
  which provides details of a job success.</p> </li> </ul>\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache
  2.0 License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:16:\"AWS
  CodePipeline\";s:7:\"version\";s:10:\"2015-07-09\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:96:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/codepipeline-2015-07-09.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v4\";s:13:\"x-serviceName\";s:12:\"codepipeline\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:22:\"amazonaws_codepipeline\";s:4:\"type\";s:7:\"openapi\";}}"
host: codepipeline.amazonaws.com
basePath: /
paths: ~
produces:
- application/json
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":232:{s:21:\"AWSSessionCredentials\";O:8:\"stdClass\":4:{s:11:\"description\";s:279:\"Represents
  an AWS session credentials object. These credentials are temporary credentials that
  are issued by AWS Secure Token Service (STS). They can be used to access input and
  output artifacts in the Amazon S3 bucket used to store artifact for the pipeline
  in AWS CodePipeline.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"accessKeyId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/AccessKeyId\";s:11:\"description\";s:31:\"The
  access key for the session.\";}s:15:\"secretAccessKey\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/SecretAccessKey\";s:11:\"description\";s:38:\"The
  secret access key for the session.\";}s:12:\"sessionToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/SessionToken\";s:11:\"description\";s:26:\"The
  token for the session.\";}}s:8:\"required\";a:3:{i:0;s:11:\"accessKeyId\";i:1;s:15:\"secretAccessKey\";i:2;s:12:\"sessionToken\";}s:4:\"type\";s:6:\"object\";}s:11:\"AccessKeyId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"AccountId\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:9:\"[0-9]{12}\";s:4:\"type\";s:6:\"string\";}s:19:\"AcknowledgeJobInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:49:\"Represents
  the input of an AcknowledgeJob action.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"jobId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/JobId\";s:11:\"description\";s:80:\"The
  unique system-generated ID of the job for which you want to confirm receipt.\";}s:5:\"nonce\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Nonce\";s:11:\"description\";s:217:\"A
  system-generated random number that AWS CodePipeline uses to ensure that the job
  is being worked on by only one job worker. Get this number from the response of
  the <a>PollForJobs</a> request that returned this job.\";}}s:8:\"required\";a:2:{i:0;s:5:\"jobId\";i:1;s:5:\"nonce\";}s:4:\"type\";s:6:\"object\";}s:20:\"AcknowledgeJobOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Represents
  the output of an AcknowledgeJob action.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/JobStatus\";s:11:\"description\";s:54:\"Whether
  the job worker has received the specified job.\";}}s:4:\"type\";s:6:\"object\";}s:29:\"AcknowledgeThirdPartyJobInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:59:\"Represents
  the input of an AcknowledgeThirdPartyJob action.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"clientToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ClientToken\";s:11:\"description\";s:145:\"The
  clientToken portion of the clientId and clientToken pair used to verify that the
  calling entity is allowed access to the job and its details.\";}s:5:\"jobId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ThirdPartyJobId\";s:11:\"description\";s:42:\"The
  unique system-generated ID of the job.\";}s:5:\"nonce\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Nonce\";s:11:\"description\";s:204:\"A
  system-generated random number that AWS CodePipeline uses to ensure that the job
  is being worked on by only one job worker. Get this number from the response to
  a <a>GetThirdPartyJobDetails</a> request.\";}}s:8:\"required\";a:3:{i:0;s:5:\"jobId\";i:1;s:5:\"nonce\";i:2;s:11:\"clientToken\";}s:4:\"type\";s:6:\"object\";}s:30:\"AcknowledgeThirdPartyJobOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"Represents
  the output of an AcknowledgeThirdPartyJob action.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/JobStatus\";s:11:\"description\";s:55:\"The
  status information for the third party job, if any.\";}}s:4:\"type\";s:6:\"object\";}s:14:\"ActionCategory\";O:8:\"stdClass\":2:{s:4:\"enum\";a:6:{i:0;s:6:\"Source\";i:1;s:5:\"Build\";i:2;s:6:\"Deploy\";i:3;s:4:\"Test\";i:4;s:6:\"Invoke\";i:5;s:8:\"Approval\";}s:4:\"type\";s:6:\"string\";}s:19:\"ActionConfiguration\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Represents
  information about an action configuration.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"configuration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/ActionConfigurationMap\";s:11:\"description\";s:38:\"The
  configuration data for the action.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"ActionConfigurationKey\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:50;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:22:\"ActionConfigurationMap\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/ActionConfigurationKey\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/ActionConfigurationValue\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:27:\"ActionConfigurationProperty\";O:8:\"stdClass\":4:{s:11:\"description\";s:62:\"Represents
  information about an action configuration property.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Description\";s:11:\"description\";s:85:\"The
  description of the action configuration property that will be displayed to users.\";}s:3:\"key\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:44:\"Whether
  the configuration property is a key.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/ActionConfigurationKey\";s:11:\"description\";s:46:\"The
  name of the action configuration property.\";}s:9:\"queryable\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:563:\"<p>Indicates
  that the property will be used in conjunction with PollForJobs. When creating a
  custom action, an action can have up to one queryable property. If it has one, that
  property must be both required and not secret.</p> <p>If you create a pipeline with
  a custom action type, and that custom action contains a queryable property, the
  value for that configuration property is subject to additional restrictions. The
  value must be less than or equal to twenty (20) characters. The value can contain
  only alphanumeric characters, underscores, and hyphens.</p>\";}s:8:\"required\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:55:\"Whether
  the configuration property is a required value.\";}s:6:\"secret\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:321:\"<p>Whether
  the configuration property is secret. Secrets are hidden from all calls except for
  GetJobDetails, GetThirdPartyJobDetails, PollForJobs, and PollForThirdPartyJobs.</p>
  <p>When updating a pipeline, passing * * * * * without changing any other values
  of the action will preserve the prior value of the secret.</p>\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:45:\"#/definitions/ActionConfigurationPropertyType\";s:11:\"description\";s:39:\"The
  type of the configuration property.\";}}s:8:\"required\";a:4:{i:0;s:4:\"name\";i:1;s:8:\"required\";i:2;s:3:\"key\";i:3;s:6:\"secret\";}s:4:\"type\";s:6:\"object\";}s:31:\"ActionConfigurationPropertyList\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/ActionConfigurationProperty\";}s:8:\"maxItems\";i:10;s:4:\"type\";s:5:\"array\";}s:31:\"ActionConfigurationPropertyType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:6:\"String\";i:1;s:6:\"Number\";i:2;s:7:\"Boolean\";}s:4:\"type\";s:6:\"string\";}s:33:\"ActionConfigurationQueryableValue\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:50;s:9:\"minLength\";i:1;s:7:\"pattern\";s:14:\"[a-zA-Z0-9_-]+\";s:4:\"type\";s:6:\"string\";}s:24:\"ActionConfigurationValue\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:1000;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:13:\"ActionContext\";O:8:\"stdClass\":3:{s:11:\"description\";s:83:\"Represents
  the context of an action within the stage of a pipeline to a job worker.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ActionName\";s:11:\"description\";s:51:\"The
  name of the action within the context of a job.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"ActionDeclaration\";O:8:\"stdClass\":4:{s:11:\"description\";s:51:\"Represents
  information about an action declaration.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:12:\"actionTypeId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ActionTypeId\";s:11:\"description\";s:50:\"The
  configuration information for the action type.\";}s:13:\"configuration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/ActionConfigurationMap\";s:11:\"description\";s:39:\"The
  action declaration's configuration.\";}s:14:\"inputArtifacts\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/InputArtifactList\";s:11:\"description\";s:88:\"The
  name or ID of the artifact consumed by the action, such as a test or build artifact.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ActionName\";s:11:\"description\";s:30:\"The
  action declaration's name.\";}s:15:\"outputArtifacts\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/OutputArtifactList\";s:11:\"description\";s:89:\"The
  name or ID of the result of the action declaration, such as a test or build artifact.\";}s:7:\"roleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/RoleArn\";s:11:\"description\";s:124:\"The
  ARN of the IAM service role that will perform the declared action. This is assumed
  through the roleArn for the pipeline.\";}s:8:\"runOrder\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ActionRunOrder\";s:11:\"description\";s:35:\"The
  order in which actions are run.\";}}s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:12:\"actionTypeId\";}s:4:\"type\";s:6:\"object\";}s:15:\"ActionExecution\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Represents
  information about the run of an action.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:12:\"errorDetails\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ErrorDetails\";s:11:\"description\";s:58:\"The
  details of an error returned by a URL external to AWS.\";}s:19:\"externalExecutionId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ExecutionId\";s:11:\"description\";s:41:\"The
  external ID of the run of the action.\";}s:20:\"externalExecutionUrl\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Url\";s:11:\"description\";s:120:\"The
  URL of a resource external to AWS that will be used when running the action, for
  example an external repository URL.\";}s:16:\"lastStatusChange\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:37:\"The
  last status change of the action.\";}s:13:\"lastUpdatedBy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/LastUpdatedBy\";s:11:\"description\";s:50:\"The
  ARN of the user who last changed the pipeline.\";}s:15:\"percentComplete\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Percentage\";s:11:\"description\";s:54:\"A
  percentage of completeness of the action as it runs.\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/ActionExecutionStatus\";s:11:\"description\";s:83:\"The
  status of the action, or for a completed action, the last status of the action.\";}s:7:\"summary\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ExecutionSummary\";s:11:\"description\";s:35:\"A
  summary of the run of the action.\";}s:5:\"token\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ActionExecutionToken\";s:11:\"description\";s:256:\"The
  system-generated token used to identify a unique approval request. The token for
  each open approval request can be obtained using the GetPipelineState command and
  is used to validate that the approval request corresponding to this token is still
  valid.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"ActionExecutionStatus\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:10:\"InProgress\";i:1;s:9:\"Succeeded\";i:2;s:6:\"Failed\";}s:4:\"type\";s:6:\"string\";}s:20:\"ActionExecutionToken\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"ActionName\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:100;s:9:\"minLength\";i:1;s:7:\"pattern\";s:17:\"[A-Za-z0-9.@\\-_]+\";s:4:\"type\";s:6:\"string\";}s:23:\"ActionNotFoundException\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"The
  specified action cannot be found.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:11:\"ActionOwner\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:3:\"AWS\";i:1;s:10:\"ThirdParty\";i:2;s:6:\"Custom\";}s:4:\"type\";s:6:\"string\";}s:14:\"ActionProvider\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:25;s:9:\"minLength\";i:1;s:7:\"pattern\";s:14:\"[0-9A-Za-z_-]+\";s:4:\"type\";s:6:\"string\";}s:14:\"ActionRevision\";O:8:\"stdClass\":4:{s:11:\"description\";s:68:\"Represents
  information about the version (or revision) of an action.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"created\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:94:\"The
  date and time when the most recent version of the action was created, in timestamp
  format.\";}s:16:\"revisionChangeId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/RevisionChangeIdentifier\";s:11:\"description\";s:114:\"The
  unique identifier of the change that set the state to this revision, for example
  a deployment ID or timestamp.\";}s:10:\"revisionId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Revision\";s:11:\"description\";s:81:\"The
  system-generated unique ID that identifies the revision number of the action.\";}}s:8:\"required\";a:3:{i:0;s:10:\"revisionId\";i:1;s:16:\"revisionChangeId\";i:2;s:7:\"created\";}s:4:\"type\";s:6:\"object\";}s:14:\"ActionRunOrder\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:999;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:11:\"ActionState\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Represents
  information about the state of an action.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"actionName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ActionName\";s:11:\"description\";s:23:\"The
  name of the action.\";}s:15:\"currentRevision\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ActionRevision\";s:11:\"description\";s:68:\"Represents
  information about the version (or revision) of an action.\";}s:9:\"entityUrl\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Url\";s:11:\"description\";s:103:\"A
  URL link for more information about the state of the action, such as a deployment
  group details page.\";}s:15:\"latestExecution\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ActionExecution\";s:11:\"description\";s:50:\"Represents
  information about the run of an action.\";}s:11:\"revisionUrl\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Url\";s:11:\"description\";s:82:\"A
  URL link for more information about the revision, such as a commit details page.\";}}s:4:\"type\";s:6:\"object\";}s:15:\"ActionStateList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ActionState\";}s:4:\"type\";s:5:\"array\";}s:10:\"ActionType\";O:8:\"stdClass\":4:{s:11:\"description\";s:56:\"Returns
  information about the details of an action type.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:29:\"actionConfigurationProperties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:45:\"#/definitions/ActionConfigurationPropertyList\";s:11:\"description\";s:49:\"The
  configuration properties for the action type.\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ActionTypeId\";s:11:\"description\";s:44:\"Represents
  information about an action type.\";}s:20:\"inputArtifactDetails\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ArtifactDetails\";s:11:\"description\";s:72:\"The
  details of the input artifact for the action, such as its commit ID.\";}s:21:\"outputArtifactDetails\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ArtifactDetails\";s:11:\"description\";s:72:\"The
  details of the output artifact of the action, such as its commit ID.\";}s:8:\"settings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ActionTypeSettings\";s:11:\"description\";s:33:\"The
  settings for the action type.\";}}s:8:\"required\";a:3:{i:0;s:2:\"id\";i:1;s:20:\"inputArtifactDetails\";i:2;s:21:\"outputArtifactDetails\";}s:4:\"type\";s:6:\"object\";}s:12:\"ActionTypeId\";O:8:\"stdClass\":4:{s:11:\"description\";s:44:\"Represents
  information about an action type.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"category\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ActionCategory\";s:11:\"description\";s:171:\"A
  category defines what kind of action can be taken in the stage, and constrains the
  provider type for the action. Valid categories are limited to one of the values
  below.\";}s:5:\"owner\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ActionOwner\";s:11:\"description\";s:39:\"The
  creator of the action being called.\";}s:8:\"provider\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ActionProvider\";s:11:\"description\";s:242:\"The
  provider of the service being called by the action. Valid providers are determined
  by the action category. For example, an action in the Deploy category type might
  have a provider of AWS CodeDeploy, which would be specified as CodeDeploy.\";}s:7:\"version\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Version\";s:11:\"description\";s:43:\"A
  string that describes the action version.\";}}s:8:\"required\";a:4:{i:0;s:8:\"category\";i:1;s:5:\"owner\";i:2;s:8:\"provider\";i:3;s:7:\"version\";}s:4:\"type\";s:6:\"object\";}s:14:\"ActionTypeList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/ActionType\";}s:4:\"type\";s:5:\"array\";}s:27:\"ActionTypeNotFoundException\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"The
  specified action type cannot be found.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:18:\"ActionTypeSettings\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"Returns
  information about the settings for an action type.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:17:\"entityUrlTemplate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/UrlTemplate\";s:11:\"description\";s:259:\"The
  URL returned to the AWS CodePipeline console that provides a deep link to the resources
  of the external system, such as the configuration page for an AWS CodeDeploy deployment
  group. This link is provided as part of the action display within the pipeline.\";}s:20:\"executionUrlTemplate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/UrlTemplate\";s:11:\"description\";s:310:\"The
  URL returned to the AWS CodePipeline console that contains a link to the top-level
  landing page for the external system, such as console page for AWS CodeDeploy. This
  link is shown on the pipeline view page in the AWS CodePipeline console and provides
  a link to the execution entity of the external action.\";}s:19:\"revisionUrlTemplate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/UrlTemplate\";s:11:\"description\";s:160:\"The
  URL returned to the AWS CodePipeline console that contains a link to the page where
  customers can update or change the configuration of the external action.\";}s:26:\"thirdPartyConfigurationUrl\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Url\";s:11:\"description\";s:147:\"The
  URL of a sign-up page where users can sign up for an external service and perform
  initial configuration of the action provided by that service.\";}}s:4:\"type\";s:6:\"object\";}s:33:\"ApprovalAlreadyCompletedException\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"The
  approval action has already been approved or rejected.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:14:\"ApprovalResult\";O:8:\"stdClass\":4:{s:11:\"description\";s:63:\"Represents
  information about the result of an approval request.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ApprovalStatus\";s:11:\"description\";s:76:\"The
  response submitted by a reviewer assigned to an approval action request.\";}s:7:\"summary\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ApprovalSummary\";s:11:\"description\";s:58:\"The
  summary of the current status of the approval request.\";}}s:8:\"required\";a:2:{i:0;s:7:\"summary\";i:1;s:6:\"status\";}s:4:\"type\";s:6:\"object\";}s:14:\"ApprovalStatus\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:8:\"Approved\";i:1;s:8:\"Rejected\";}s:4:\"type\";s:6:\"string\";}s:15:\"ApprovalSummary\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:512;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";}s:13:\"ApprovalToken\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:60:\"[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}\";s:4:\"type\";s:6:\"string\";}s:8:\"Artifact\";O:8:\"stdClass\":3:{s:11:\"description\";s:93:\"Represents
  information about an artifact that will be worked upon by actions in the pipeline.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ArtifactLocation\";s:11:\"description\";s:28:\"The
  location of an artifact.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ArtifactName\";s:11:\"description\";s:20:\"The
  artifact's name.\";}s:8:\"revision\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Revision\";s:11:\"description\";s:125:\"The
  artifact's revision ID. Depending on the type of object, this could be a commit
  ID (GitHub) or a revision ID (Amazon S3).\";}}s:4:\"type\";s:6:\"object\";}s:15:\"ArtifactDetails\";O:8:\"stdClass\":4:{s:11:\"description\";s:53:\"Returns
  information about the details of an artifact.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"maximumCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/MaximumArtifactCount\";s:11:\"description\";s:60:\"The
  maximum number of artifacts allowed for the action type.\";}s:12:\"minimumCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/MinimumArtifactCount\";s:11:\"description\";s:60:\"The
  minimum number of artifacts allowed for the action type.\";}}s:8:\"required\";a:2:{i:0;s:12:\"minimumCount\";i:1;s:12:\"maximumCount\";}s:4:\"type\";s:6:\"object\";}s:12:\"ArtifactList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Artifact\";}s:4:\"type\";s:5:\"array\";}s:16:\"ArtifactLocation\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"Represents
  information about the location of an artifact.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"s3Location\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/S3ArtifactLocation\";s:11:\"description\";s:48:\"The
  Amazon S3 bucket that contains the artifact.\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ArtifactLocationType\";s:11:\"description\";s:37:\"The
  type of artifact in the location.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"ArtifactLocationType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:1:{i:0;s:2:\"S3\";}s:4:\"type\";s:6:\"string\";}s:12:\"ArtifactName\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:100;s:9:\"minLength\";i:1;s:7:\"pattern\";s:15:\"[a-zA-Z0-9_\\-]+\";s:4:\"type\";s:6:\"string\";}s:16:\"ArtifactRevision\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Represents
  revision details of an artifact. \";s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"created\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:97:\"The
  date and time when the most recent revision of the artifact was created, in timestamp
  format.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ArtifactName\";s:11:\"description\";s:137:\"The
  name of an artifact. This name might be system-generated, such as \"MyApp\", or
  might be defined by the user when an action is created.\";}s:24:\"revisionChangeIdentifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/RevisionChangeIdentifier\";s:11:\"description\";s:125:\"An
  additional identifier for a revision, such as a commit date or, for artifacts stored
  in Amazon S3 buckets, the ETag value.\";}s:10:\"revisionId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Revision\";s:11:\"description\";s:32:\"The
  revision ID of the artifact.\";}s:15:\"revisionSummary\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/RevisionSummary\";s:11:\"description\";s:286:\"Summary
  information about the most recent revision of the artifact. For GitHub and AWS CodeCommit
  repositories, the commit message. For Amazon S3 buckets or actions, the user-provided
  content of a <code>codepipeline-artifact-revision-summary</code> key specified in
  the object metadata.\";}s:11:\"revisionUrl\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Url\";s:11:\"description\";s:153:\"The
  commit ID for the artifact revision. For artifacts stored in GitHub or AWS CodeCommit
  repositories, the commit ID is linked to a commit details page.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"ArtifactRevisionList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ArtifactRevision\";}s:4:\"type\";s:5:\"array\";}s:13:\"ArtifactStore\";O:8:\"stdClass\":4:{s:11:\"description\";s:65:\"The
  Amazon S3 bucket where artifacts are stored for the pipeline.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"encryptionKey\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/EncryptionKey\";s:11:\"description\";s:180:\"The
  encryption key used to encrypt the data in the artifact store, such as an AWS Key
  Management Service (AWS KMS) key. If this is undefined, the default key for Amazon
  S3 is used.\";}s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/ArtifactStoreLocation\";s:11:\"description\";s:347:\"The
  Amazon S3 bucket used for storing the artifacts for a pipeline. You can specify
  the name of an S3 bucket but not a folder within the bucket. A folder to contain
  the pipeline artifacts is created for you based on the name of the pipeline. You
  can use any Amazon S3 bucket in the same AWS Region as the pipeline to store your
  pipeline artifacts.\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ArtifactStoreType\";s:11:\"description\";s:43:\"The
  type of the artifact store, such as S3.\";}}s:8:\"required\";a:2:{i:0;s:4:\"type\";i:1;s:8:\"location\";}s:4:\"type\";s:6:\"object\";}s:21:\"ArtifactStoreLocation\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:63;s:9:\"minLength\";i:3;s:7:\"pattern\";s:16:\"[a-zA-Z0-9\\-\\.]+\";s:4:\"type\";s:6:\"string\";}s:17:\"ArtifactStoreType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:1:{i:0;s:2:\"S3\";}s:4:\"type\";s:6:\"string\";}s:18:\"BlockerDeclaration\";O:8:\"stdClass\":4:{s:11:\"description\";s:24:\"Reserved
  for future use.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/BlockerName\";s:11:\"description\";s:24:\"Reserved
  for future use.\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/BlockerType\";s:11:\"description\";s:24:\"Reserved
  for future use.\";}}s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:4:\"type\";}s:4:\"type\";s:6:\"object\";}s:11:\"BlockerName\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:100;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:11:\"BlockerType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:1:{i:0;s:8:\"Schedule\";}s:4:\"type\";s:6:\"string\";}s:7:\"Boolean\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"ClientId\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:60:\"[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}\";s:4:\"type\";s:6:\"string\";}s:11:\"ClientToken\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:256;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:4:\"Code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"ContinuationToken\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:2048;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:27:\"CreateCustomActionTypeInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:59:\"Represents
  the input of a CreateCustomActionType operation.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:8:\"category\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ActionCategory\";s:11:\"description\";s:238:\"<p>The
  category of the custom action, such as a build action or a test action.</p> <note>
  <p>Although Source and Approval are listed as valid values, they are not currently
  functional. These values are reserved for future use.</p> </note>\";}s:23:\"configurationProperties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:45:\"#/definitions/ActionConfigurationPropertyList\";s:11:\"description\";s:464:\"<p>The
  configuration properties for the custom action.</p> <note> <p>You can refer to a
  name in the configuration properties of the custom action within the URL templates
  by following the format of {Config:name}, as long as the configuration property
  is both required and not secret. For more information, see <a href=\"http://docs.aws.amazon.com/codepipeline/latest/userguide/how-to-create-custom-action.html\">Create
  a Custom Action for a Pipeline</a>.</p> </note>\";}s:20:\"inputArtifactDetails\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ArtifactDetails\";s:11:\"description\";s:72:\"The
  details of the input artifact for the action, such as its commit ID.\";}s:21:\"outputArtifactDetails\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ArtifactDetails\";s:11:\"description\";s:72:\"The
  details of the output artifact of the action, such as its commit ID.\";}s:8:\"provider\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ActionProvider\";s:11:\"description\";s:78:\"The
  provider of the service used in the custom action, such as AWS CodeDeploy.\";}s:8:\"settings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ActionTypeSettings\";s:11:\"description\";s:58:\"Returns
  information about the settings for an action type.\";}s:7:\"version\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Version\";s:11:\"description\";s:44:\"The
  version identifier of the custom action.\";}}s:8:\"required\";a:5:{i:0;s:8:\"category\";i:1;s:8:\"provider\";i:2;s:7:\"version\";i:3;s:20:\"inputArtifactDetails\";i:4;s:21:\"outputArtifactDetails\";}s:4:\"type\";s:6:\"object\";}s:28:\"CreateCustomActionTypeOutput\";O:8:\"stdClass\":4:{s:11:\"description\";s:60:\"Represents
  the output of a CreateCustomActionType operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"actionType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ActionType\";s:11:\"description\";s:56:\"Returns
  information about the details of an action type.\";}}s:8:\"required\";a:1:{i:0;s:10:\"actionType\";}s:4:\"type\";s:6:\"object\";}s:19:\"CreatePipelineInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:48:\"Represents
  the input of a CreatePipeline action.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"pipeline\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/PipelineDeclaration\";s:11:\"description\";s:80:\"Represents
  the structure of actions and stages to be performed in the pipeline. \";}}s:8:\"required\";a:1:{i:0;s:8:\"pipeline\";}s:4:\"type\";s:6:\"object\";}s:20:\"CreatePipelineOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Represents
  the output of a CreatePipeline action.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"pipeline\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/PipelineDeclaration\";s:11:\"description\";s:80:\"Represents
  the structure of actions and stages to be performed in the pipeline. \";}}s:4:\"type\";s:6:\"object\";}s:15:\"CurrentRevision\";O:8:\"stdClass\":4:{s:11:\"description\";s:48:\"Represents
  information about a current revision.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:16:\"changeIdentifier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/RevisionChangeIdentifier\";s:11:\"description\";s:47:\"The
  change identifier for the current revision.\";}s:7:\"created\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Time\";s:11:\"description\";s:97:\"The
  date and time when the most recent revision of the artifact was created, in timestamp
  format.\";}s:8:\"revision\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Revision\";s:11:\"description\";s:54:\"The
  revision ID of the current version of an artifact.\";}s:15:\"revisionSummary\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/RevisionSummary\";s:11:\"description\";s:56:\"The
  summary of the most recent revision of the artifact.\";}}s:8:\"required\";a:2:{i:0;s:8:\"revision\";i:1;s:16:\"changeIdentifier\";}s:4:\"type\";s:6:\"object\";}s:27:\"DeleteCustomActionTypeInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:104:\"Represents
  the input of a DeleteCustomActionType operation. The custom action will be marked
  as deleted.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"category\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ActionCategory\";s:11:\"description\";s:84:\"The
  category of the custom action that you want to delete, such as source or deploy.\";}s:8:\"provider\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ActionProvider\";s:11:\"description\";s:78:\"The
  provider of the service used in the custom action, such as AWS CodeDeploy.\";}s:7:\"version\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Version\";s:11:\"description\";s:43:\"The
  version of the custom action to delete.\";}}s:8:\"required\";a:3:{i:0;s:8:\"category\";i:1;s:8:\"provider\";i:2;s:7:\"version\";}s:4:\"type\";s:6:\"object\";}s:19:\"DeletePipelineInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:48:\"Represents
  the input of a DeletePipeline action.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/PipelineName\";s:11:\"description\";s:39:\"The
  name of the pipeline to be deleted.\";}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:4:\"type\";s:6:\"object\";}s:18:\"DeleteWebhookInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/WebhookName\";s:11:\"description\";s:43:\"The
  name of the webhook you want to delete.\";}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:4:\"type\";s:6:\"object\";}s:19:\"DeleteWebhookOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:36:\"DeregisterWebhookWithThirdPartyInput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"webhookName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/WebhookName\";s:11:\"description\";s:47:\"The
  name of the webhook you want to deregister.\";}}s:4:\"type\";s:6:\"object\";}s:37:\"DeregisterWebhookWithThirdPartyOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:11:\"Description\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:160;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:27:\"DisableStageTransitionInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:56:\"Represents
  the input of a DisableStageTransition action.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"pipelineName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/PipelineName\";s:11:\"description\";s:102:\"The
  name of the pipeline in which you want to disable the flow of artifacts from one
  stage to another.\";}s:6:\"reason\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/DisabledReason\";s:11:\"description\";s:160:\"The
  reason given to the user why a stage is disabled, such as waiting for manual approval
  or manual tests. This message is displayed in the pipeline console UI.\";}s:9:\"stageName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/StageName\";s:11:\"description\";s:96:\"The
  name of the stage where you want to disable the inbound or outbound transition of
  artifacts.\";}s:14:\"transitionType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/StageTransitionType\";s:11:\"description\";s:258:\"Specifies
  whether artifacts will be prevented from transitioning into the stage and being
  processed by the actions in that stage (inbound), or prevented from transitioning
  from the stage after they have been processed by the actions in that stage (outbound).\";}}s:8:\"required\";a:4:{i:0;s:12:\"pipelineName\";i:1;s:9:\"stageName\";i:2;s:14:\"transitionType\";i:3;s:6:\"reason\";}s:4:\"type\";s:6:\"object\";}s:14:\"DisabledReason\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:300;s:9:\"minLength\";i:1;s:7:\"pattern\";s:27:\"[a-zA-Z0-9!@
  \\(\\)\\.\\*\\?\\-]+\";s:4:\"type\";s:6:\"string\";}s:26:\"EnableStageTransitionInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:56:\"Represents
  the input of an EnableStageTransition action.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"pipelineName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/PipelineName\";s:11:\"description\";s:101:\"The
  name of the pipeline in which you want to enable the flow of artifacts from one
  stage to another.\";}s:9:\"stageName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/StageName\";s:11:\"description\";s:156:\"The
  name of the stage where you want to enable the transition of artifacts, either into
  the stage (inbound) or from that stage to the next stage (outbound).\";}s:14:\"transitionType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/StageTransitionType\";s:11:\"description\";s:217:\"Specifies
  whether artifacts will be allowed to enter the stage and be processed by the actions
  in that stage (inbound) or whether already-processed artifacts will be allowed to
  transition to the next stage (outbound).\";}}s:8:\"required\";a:3:{i:0;s:12:\"pipelineName\";i:1;s:9:\"stageName\";i:2;s:14:\"transitionType\";}s:4:\"type\";s:6:\"object\";}s:7:\"Enabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:13:\"EncryptionKey\";O:8:\"stdClass\":4:{s:11:\"description\";s:133:\"Represents
  information about the key used to encrypt data in the artifact store, such as an
  AWS Key Management Service (AWS KMS) key.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/EncryptionKeyId\";s:11:\"description\";s:83:\"The
  ID used to identify the key. For an AWS KMS key, this is the key ID or key ARN.\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/EncryptionKeyType\";s:11:\"description\";s:150:\"The
  type of encryption key, such as an AWS Key Management Service (AWS KMS) key. When
  creating or updating a pipeline, the value must be set to 'KMS'.\";}}s:8:\"required\";a:2:{i:0;s:2:\"id\";i:1;s:4:\"type\";}s:4:\"type\";s:6:\"object\";}s:15:\"EncryptionKeyId\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:100;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:17:\"EncryptionKeyType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:1:{i:0;s:3:\"KMS\";}s:4:\"type\";s:6:\"string\";}s:12:\"ErrorDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"Represents
  information about an error in AWS CodePipeline.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Code\";s:11:\"description\";s:48:\"The
  system ID or error number code of the error.\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Message\";s:11:\"description\";s:30:\"The
  text of the error message.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"ExecutionDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:113:\"The
  details of the actions taken and results produced on an artifact as it passes through
  stages in the pipeline.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"externalExecutionId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ExecutionId\";s:11:\"description\";s:127:\"The
  system-generated unique ID of this action used to identify this job worker in any
  external systems, such as AWS CodeDeploy.\";}s:15:\"percentComplete\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Percentage\";s:11:\"description\";s:102:\"The
  percentage of work completed on the action, represented on a scale of zero to one
  hundred percent.\";}s:7:\"summary\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ExecutionSummary\";s:11:\"description\";s:49:\"The
  summary of the current status of the actions.\";}}s:4:\"type\";s:6:\"object\";}s:11:\"ExecutionId\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:1500;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:16:\"ExecutionSummary\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:2048;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:14:\"FailureDetails\";O:8:\"stdClass\":4:{s:11:\"description\";s:45:\"Represents
  information about failure details.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"externalExecutionId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ExecutionId\";s:11:\"description\";s:53:\"The
  external ID of the run of the action that failed.\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Message\";s:11:\"description\";s:30:\"The
  message about the failure.\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/FailureType\";s:11:\"description\";s:24:\"The
  type of the failure.\";}}s:8:\"required\";a:2:{i:0;s:4:\"type\";i:1;s:7:\"message\";}s:4:\"type\";s:6:\"object\";}s:11:\"FailureType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:6:{i:0;s:9:\"JobFailed\";i:1;s:18:\"ConfigurationError\";i:2;s:15:\"PermissionError\";i:3;s:17:\"RevisionOutOfSync\";i:4;s:19:\"RevisionUnavailable\";i:5;s:17:\"SystemUnavailable\";}s:4:\"type\";s:6:\"string\";}s:18:\"GetJobDetailsInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:47:\"Represents
  the input of a GetJobDetails action.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"jobId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/JobId\";s:11:\"description\";s:43:\"The
  unique system-generated ID for the job.\";}}s:8:\"required\";a:1:{i:0;s:5:\"jobId\";}s:4:\"type\";s:6:\"object\";}s:19:\"GetJobDetailsOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Represents
  the output of a GetJobDetails action.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"jobDetails\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/JobDetails\";s:11:\"description\";s:161:\"<p>The
  details of the job.</p> <note> <p>If AWSSessionCredentials is used, a long-running
  job can call GetJobDetails again to obtain new credentials.</p> </note>\";}}s:4:\"type\";s:6:\"object\";}s:25:\"GetPipelineExecutionInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:54:\"Represents
  the input of a GetPipelineExecution action.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"pipelineExecutionId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/PipelineExecutionId\";s:11:\"description\";s:79:\"The
  ID of the pipeline execution about which you want to get execution details.\";}s:12:\"pipelineName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/PipelineName\";s:11:\"description\";s:71:\"The
  name of the pipeline about which you want to get execution details.\";}}s:8:\"required\";a:2:{i:0;s:12:\"pipelineName\";i:1;s:19:\"pipelineExecutionId\";}s:4:\"type\";s:6:\"object\";}s:26:\"GetPipelineExecutionOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"Represents
  the output of a GetPipelineExecution action.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"pipelineExecution\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/PipelineExecution\";s:11:\"description\";s:57:\"Represents
  information about the execution of a pipeline.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"GetPipelineInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:45:\"Represents
  the input of a GetPipeline action.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/PipelineName\";s:11:\"description\";s:142:\"The
  name of the pipeline for which you want to get information. Pipeline names must
  be unique under an Amazon Web Services (AWS) user account.\";}s:7:\"version\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PipelineVersion\";s:11:\"description\";s:106:\"The
  version number of the pipeline. If you do not specify a version, defaults to the
  most current version.\";}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:4:\"type\";s:6:\"object\";}s:17:\"GetPipelineOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Represents
  the output of a GetPipeline action.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/PipelineMetadata\";s:11:\"description\";s:100:\"Represents
  the pipeline metadata information returned as part of the output of a GetPipeline
  action.\";}s:8:\"pipeline\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/PipelineDeclaration\";s:11:\"description\";s:80:\"Represents
  the structure of actions and stages to be performed in the pipeline. \";}}s:4:\"type\";s:6:\"object\";}s:21:\"GetPipelineStateInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:50:\"Represents
  the input of a GetPipelineState action.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/PipelineName\";s:11:\"description\";s:65:\"The
  name of the pipeline about which you want to get information.\";}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:4:\"type\";s:6:\"object\";}s:22:\"GetPipelineStateOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Represents
  the output of a GetPipelineState action.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"created\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:64:\"The
  date and time the pipeline was created, in timestamp format.\";}s:12:\"pipelineName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/PipelineName\";s:11:\"description\";s:61:\"The
  name of the pipeline for which you want to get the state.\";}s:15:\"pipelineVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PipelineVersion\";s:11:\"description\";s:144:\"<p>The
  version number of the pipeline.</p> <note> <p>A newly-created pipeline is always
  assigned a version number of <code>1</code>.</p> </note>\";}s:11:\"stageStates\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/StageStateList\";s:11:\"description\";s:149:\"A
  list of the pipeline stage output information, including stage name, state, most
  recent run details, whether the stage is disabled, and other data.\";}s:7:\"updated\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:69:\"The
  date and time the pipeline was last updated, in timestamp format.\";}}s:4:\"type\";s:6:\"object\";}s:28:\"GetThirdPartyJobDetailsInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:57:\"Represents
  the input of a GetThirdPartyJobDetails action.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"clientToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ClientToken\";s:11:\"description\";s:145:\"The
  clientToken portion of the clientId and clientToken pair used to verify that the
  calling entity is allowed access to the job and its details.\";}s:5:\"jobId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ThirdPartyJobId\";s:11:\"description\";s:60:\"The
  unique system-generated ID used for identifying the job.\";}}s:8:\"required\";a:2:{i:0;s:5:\"jobId\";i:1;s:11:\"clientToken\";}s:4:\"type\";s:6:\"object\";}s:29:\"GetThirdPartyJobDetailsOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"Represents
  the output of a GetThirdPartyJobDetails action.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"jobDetails\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ThirdPartyJobDetails\";s:11:\"description\";s:75:\"The
  details of the job, including any protected values defined for the job.\";}}s:4:\"type\";s:6:\"object\";}s:13:\"InputArtifact\";O:8:\"stdClass\":4:{s:11:\"description\";s:91:\"Represents
  information about an artifact to be worked on, such as a test or build artifact.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ArtifactName\";s:11:\"description\";s:429:\"<p>The
  name of the artifact to be worked on, for example, \"My App\".</p> <p>The input
  artifact of an action must exactly match the output artifact declared in a preceding
  action, but the input artifact does not have to be the next action in strict sequence
  from the action that provided the output artifact. Actions in parallel can declare
  different output artifacts, which are in turn consumed by different following actions.</p>\";}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:4:\"type\";s:6:\"object\";}s:17:\"InputArtifactList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/InputArtifact\";}s:4:\"type\";s:5:\"array\";}s:33:\"InvalidActionDeclarationException\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"The
  specified action declaration was specified in an invalid format.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:29:\"InvalidApprovalTokenException\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"The
  approval request already received a response or has expired.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:34:\"InvalidBlockerDeclarationException\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Reserved
  for future use.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:27:\"InvalidClientTokenException\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  client token was specified in an invalid format\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:19:\"InvalidJobException\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"The
  specified job was specified in an invalid format or cannot be found.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:24:\"InvalidJobStateException\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"The
  specified job state was specified in an invalid format.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:25:\"InvalidNextTokenException\";O:8:\"stdClass\":3:{s:11:\"description\";s:135:\"The
  next token was specified in an invalid format. Make sure that the next token you
  provided is the token returned by a previous call.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:21:\"InvalidNonceException\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"The
  specified nonce was specified in an invalid format.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:32:\"InvalidStageDeclarationException\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"The
  specified stage declaration was specified in an invalid format.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:25:\"InvalidStructureException\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"The
  specified structure was specified in an invalid format.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:47:\"InvalidWebhookAuthenticationParametersException\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"The
  specified authentication type is in an invalid format.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:36:\"InvalidWebhookFilterPatternException\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"The
  specified event filter rule is in an invalid format.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:3:\"Job\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Represents
  information about a job.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"accountId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/AccountId\";s:11:\"description\";s:57:\"The
  ID of the AWS account to use when performing the job.\";}s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/JobData\";s:11:\"description\";s:28:\"Additional
  data about a job.\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/JobId\";s:11:\"description\";s:42:\"The
  unique system-generated ID of the job.\";}s:5:\"nonce\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Nonce\";s:11:\"description\";s:178:\"A
  system-generated random number that AWS CodePipeline uses to ensure that the job
  is being worked on by only one job worker. Use this number in an <a>AcknowledgeJob</a>
  request.\";}}s:4:\"type\";s:6:\"object\";}s:7:\"JobData\";O:8:\"stdClass\":3:{s:11:\"description\";s:92:\"Represents
  additional information about a job required for a job worker to complete the job.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:19:\"actionConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/ActionConfiguration\";s:11:\"description\";s:53:\"Represents
  information about an action configuration.\";}s:12:\"actionTypeId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ActionTypeId\";s:11:\"description\";s:44:\"Represents
  information about an action type.\";}s:19:\"artifactCredentials\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/AWSSessionCredentials\";s:11:\"description\";s:279:\"Represents
  an AWS session credentials object. These credentials are temporary credentials that
  are issued by AWS Secure Token Service (STS). They can be used to access input and
  output artifacts in the Amazon S3 bucket used to store artifact for the pipeline
  in AWS CodePipeline.\";}s:17:\"continuationToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ContinuationToken\";s:11:\"description\";s:130:\"A
  system-generated token, such as a AWS CodeDeploy deployment ID, that a job requires
  in order to continue the job asynchronously.\";}s:13:\"encryptionKey\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/EncryptionKey\";s:11:\"description\";s:134:\"Represents
  information about the key used to encrypt data in the artifact store, such as an
  AWS Key Management Service (AWS KMS) key. \";}s:14:\"inputArtifacts\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ArtifactList\";s:11:\"description\";s:33:\"The
  artifact supplied to the job.\";}s:15:\"outputArtifacts\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ArtifactList\";s:11:\"description\";s:22:\"The
  output of the job.\";}s:15:\"pipelineContext\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PipelineContext\";s:11:\"description\";s:56:\"Represents
  information about a pipeline to a job worker.\";}}s:4:\"type\";s:6:\"object\";}s:10:\"JobDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Represents
  information about the details of a job.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"accountId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/AccountId\";s:11:\"description\";s:43:\"The
  AWS account ID associated with the job.\";}s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/JobData\";s:11:\"description\";s:93:\"Represents
  additional information about a job required for a job worker to complete the job.
  \";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/JobId\";s:11:\"description\";s:42:\"The
  unique system-generated ID of the job.\";}}s:4:\"type\";s:6:\"object\";}s:5:\"JobId\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:60:\"[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}\";s:4:\"type\";s:6:\"string\";}s:7:\"JobList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Job\";}s:4:\"type\";s:5:\"array\";}s:20:\"JobNotFoundException\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"The
  specified job was specified in an invalid format or cannot be found.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:9:\"JobStatus\";O:8:\"stdClass\":2:{s:4:\"enum\";a:7:{i:0;s:7:\"Created\";i:1;s:6:\"Queued\";i:2;s:10:\"Dispatched\";i:3;s:10:\"InProgress\";i:4;s:8:\"TimedOut\";i:5;s:9:\"Succeeded\";i:6;s:6:\"Failed\";}s:4:\"type\";s:6:\"string\";}s:8:\"JsonPath\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:150;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:13:\"LastChangedAt\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:13:\"LastChangedBy\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"LastUpdatedBy\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"LimitExceededException\";O:8:\"stdClass\":3:{s:11:\"description\";s:103:\"The
  number of pipelines associated with the AWS account has exceeded the limit allowed
  for the account.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:20:\"ListActionTypesInput\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Represents
  the input of a ListActionTypes action.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"actionOwnerFilter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ActionOwner\";s:11:\"description\";s:72:\"Filters
  the list of action types to those created by a specified entity.\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:143:\"An
  identifier that was returned from the previous list action types call, which can
  be used to return the next set of action types in the list.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"ListActionTypesOutput\";O:8:\"stdClass\":4:{s:11:\"description\";s:50:\"Represents
  the output of a ListActionTypes action.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"actionTypes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ActionTypeList\";s:11:\"description\";s:37:\"Provides
  details of the action types.\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:201:\"If
  the amount of returned information is significantly large, an identifier is also
  returned which can be used in a subsequent list action types call to return the
  next set of action types in the list.\";}}s:8:\"required\";a:1:{i:0;s:11:\"actionTypes\";}s:4:\"type\";s:6:\"object\";}s:27:\"ListPipelineExecutionsInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:56:\"Represents
  the input of a ListPipelineExecutions action.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"maxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MaxResults\";s:11:\"description\";s:290:\"The
  maximum number of results to return in a single call. To retrieve the remaining
  results, make another call with the returned nextToken value. The available pipeline
  execution history is limited to the most recent 12 months, based on pipeline execution
  start times. Default value is 100.\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:151:\"The
  token that was returned from the previous ListPipelineExecutions call, which can
  be used to return the next set of pipeline executions in the list.\";}s:12:\"pipelineName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/PipelineName\";s:11:\"description\";s:81:\"The
  name of the pipeline for which you want to get execution summary information.\";}}s:8:\"required\";a:1:{i:0;s:12:\"pipelineName\";}s:4:\"type\";s:6:\"object\";}s:28:\"ListPipelineExecutionsOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"Represents
  the output of a ListPipelineExecutions action.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:200:\"A
  token that can be used in the next ListPipelineExecutions call. To view all items
  in the list, continue to call this operation with each subsequent token until no
  more nextToken values are returned.\";}s:26:\"pipelineExecutionSummaries\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/PipelineExecutionSummaryList\";s:11:\"description\";s:50:\"A
  list of executions in the history of a pipeline.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"ListPipelinesInput\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Represents
  the input of a ListPipelines action.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:137:\"An
  identifier that was returned from the previous list pipelines call, which can be
  used to return the next set of pipelines in the list.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"ListPipelinesOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Represents
  the output of a ListPipelines action.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:195:\"If
  the amount of returned information is significantly large, an identifier is also
  returned which can be used in a subsequent list pipelines call to return the next
  set of pipelines in the list.\";}s:9:\"pipelines\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/PipelineList\";s:11:\"description\";s:22:\"The
  list of pipelines.\";}}s:4:\"type\";s:6:\"object\";}s:15:\"ListWebhookItem\";O:8:\"stdClass\":4:{s:11:\"description\";s:124:\"The
  detail returned for each webhook after listing webhooks, such as the webhook URL,
  the webhook name, and the webhook ARN.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:3:\"arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/WebhookArn\";s:11:\"description\";s:46:\"The
  Amazon Resource Name (ARN) of the webhook.\";}s:10:\"definition\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/WebhookDefinition\";s:11:\"description\";s:95:\"The
  detail returned for each webhook, such as the webhook authentication type and filter
  rules.\";}s:9:\"errorCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/WebhookErrorCode\";s:11:\"description\";s:29:\"The
  number code of the error.\";}s:12:\"errorMessage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/WebhookErrorMessage\";s:11:\"description\";s:48:\"The
  text of the error message about the webhook.\";}s:13:\"lastTriggered\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/WebhookLastTriggered\";s:11:\"description\";s:81:\"The
  date and time a webhook was last successfully triggered, in timestamp format.\";}s:3:\"url\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/WebhookUrl\";s:11:\"description\";s:304:\"A
  unique URL generated by CodePipeline. When a POST request is made to this URL, the
  defined pipeline is started as long as the body of the post request satisfies the
  defined authentication and filtering conditions. Deleting and re-creating a webhook
  will make the old URL invalid and generate a new URL.\";}}s:8:\"required\";a:2:{i:0;s:10:\"definition\";i:1;s:3:\"url\";}s:4:\"type\";s:6:\"object\";}s:17:\"ListWebhooksInput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MaxResults\";s:11:\"description\";s:145:\"The
  maximum number of results to return in a single call. To retrieve the remaining
  results, make another call with the returned nextToken value.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:130:\"The
  token that was returned from the previous ListWebhooks call, which can be used to
  return the next set of webhooks in the list.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"ListWebhooksOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:191:\"If
  the amount of returned information is significantly large, an identifier is also
  returned and can be used in a subsequent ListWebhooks call to return the next set
  of webhooks in the list. \";}s:8:\"webhooks\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/WebhookList\";s:11:\"description\";s:87:\"The
  JSON detail returned for each webhook in the list output for the ListWebhooks call.\";}}s:4:\"type\";s:6:\"object\";}s:11:\"MatchEquals\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:150;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:12:\"MaxBatchSize\";O:8:\"stdClass\":2:{s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:10:\"MaxResults\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:100;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:20:\"MaximumArtifactCount\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:5;s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:7:\"Message\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:5000;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:20:\"MinimumArtifactCount\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:5;s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:9:\"NextToken\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:2048;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:5:\"Nonce\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:50;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:35:\"NotLatestPipelineExecutionException\";O:8:\"stdClass\":3:{s:11:\"description\";s:123:\"The
  stage has failed in a later run of the pipeline and the pipelineExecutionId associated
  with the request is out of date.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:14:\"OutputArtifact\";O:8:\"stdClass\":4:{s:11:\"description\";s:53:\"Represents
  information about the output of an action.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ArtifactName\";s:11:\"description\";s:484:\"<p>The
  name of the output of an artifact, such as \"My App\".</p> <p>The input artifact
  of an action must exactly match the output artifact declared in a preceding action,
  but the input artifact does not have to be the next action in strict sequence from
  the action that provided the output artifact. Actions in parallel can declare different
  output artifacts, which are in turn consumed by different following actions.</p>
  <p>Output artifact names must be unique within a pipeline.</p>\";}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:4:\"type\";s:6:\"object\";}s:18:\"OutputArtifactList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/OutputArtifact\";}s:4:\"type\";s:5:\"array\";}s:10:\"Percentage\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:100;s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:11:\"PipelineArn\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:45:\"arn:aws(-[\\w]+)*:codepipeline:.+:[0-9]{12}:.+\";s:4:\"type\";s:6:\"string\";}s:15:\"PipelineContext\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Represents
  information about a pipeline to a job worker.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"action\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ActionContext\";s:11:\"description\";s:72:\"The
  context of an action to a job worker within the stage of a pipeline.\";}s:12:\"pipelineName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/PipelineName\";s:11:\"description\";s:151:\"The
  name of the pipeline. This is a user-specified value. Pipeline names must be unique
  across all pipeline names under an Amazon Web Services account.\";}s:5:\"stage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/StageContext\";s:11:\"description\";s:26:\"The
  stage of the pipeline.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"PipelineDeclaration\";O:8:\"stdClass\":4:{s:11:\"description\";s:79:\"Represents
  the structure of actions and stages to be performed in the pipeline.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:13:\"artifactStore\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ArtifactStore\";s:11:\"description\";s:95:\"Represents
  information about the Amazon S3 bucket where artifacts are stored for the pipeline.
  \";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/PipelineName\";s:11:\"description\";s:39:\"The
  name of the action to be performed.\";}s:7:\"roleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/RoleArn\";s:11:\"description\";s:168:\"The
  Amazon Resource Name (ARN) for AWS CodePipeline to use to either perform actions
  with no actionRoleArn, or to use to assume roles for actions with an actionRoleArn.\";}s:6:\"stages\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/PipelineStageDeclarationList\";s:11:\"description\";s:41:\"The
  stage in which to perform the action.\";}s:7:\"version\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PipelineVersion\";s:11:\"description\";s:153:\"The
  version number of the pipeline. A new pipeline always has a version number of 1.
  This number is automatically incremented when a pipeline is updated.\";}}s:8:\"required\";a:4:{i:0;s:4:\"name\";i:1;s:7:\"roleArn\";i:2;s:13:\"artifactStore\";i:3;s:6:\"stages\";}s:4:\"type\";s:6:\"object\";}s:17:\"PipelineExecution\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Represents
  information about an execution of a pipeline.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:17:\"artifactRevisions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ArtifactRevisionList\";s:11:\"description\";s:68:\"A
  list of ArtifactRevision objects included in a pipeline execution.\";}s:19:\"pipelineExecutionId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/PipelineExecutionId\";s:11:\"description\";s:33:\"The
  ID of the pipeline execution.\";}s:12:\"pipelineName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/PipelineName\";s:11:\"description\";s:43:\"The
  name of the pipeline that was executed.\";}s:15:\"pipelineVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PipelineVersion\";s:11:\"description\";s:53:\"The
  version number of the pipeline that was executed.\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/PipelineExecutionStatus\";s:11:\"description\";s:481:\"<p>The
  status of the pipeline execution.</p> <ul> <li> <p>InProgress: The pipeline execution
  is currently running.</p> </li> <li> <p>Succeeded: The pipeline execution was completed
  successfully. </p> </li> <li> <p>Superseded: While this pipeline execution was waiting
  for the next stage to be completed, a newer pipeline execution advanced and continued
  through the pipeline instead. </p> </li> <li> <p>Failed: The pipeline execution
  was not completed successfully.</p> </li> </ul>\";}}s:4:\"type\";s:6:\"object\";}s:19:\"PipelineExecutionId\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:60:\"[0-9a-f]{8}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{4}-[0-9a-f]{12}\";s:4:\"type\";s:6:\"string\";}s:34:\"PipelineExecutionNotFoundException\";O:8:\"stdClass\":3:{s:11:\"description\";s:140:\"The
  pipeline execution was specified in an invalid format or cannot be found, or an
  execution ID does not belong to the specified pipeline. \";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:23:\"PipelineExecutionStatus\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:10:\"InProgress\";i:1;s:9:\"Succeeded\";i:2;s:10:\"Superseded\";i:3;s:6:\"Failed\";}s:4:\"type\";s:6:\"string\";}s:24:\"PipelineExecutionSummary\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Summary
  information about a pipeline execution.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:14:\"lastUpdateTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:84:\"The
  date and time of the last change to the pipeline execution, in timestamp format.\";}s:19:\"pipelineExecutionId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/PipelineExecutionId\";s:11:\"description\";s:33:\"The
  ID of the pipeline execution.\";}s:15:\"sourceRevisions\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/SourceRevisionList\";}s:9:\"startTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:73:\"The
  date and time when the pipeline execution began, in timestamp format.\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/PipelineExecutionStatus\";s:11:\"description\";s:481:\"<p>The
  status of the pipeline execution.</p> <ul> <li> <p>InProgress: The pipeline execution
  is currently running.</p> </li> <li> <p>Succeeded: The pipeline execution was completed
  successfully. </p> </li> <li> <p>Superseded: While this pipeline execution was waiting
  for the next stage to be completed, a newer pipeline execution advanced and continued
  through the pipeline instead. </p> </li> <li> <p>Failed: The pipeline execution
  was not completed successfully.</p> </li> </ul>\";}}s:4:\"type\";s:6:\"object\";}s:28:\"PipelineExecutionSummaryList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/PipelineExecutionSummary\";}s:4:\"type\";s:5:\"array\";}s:12:\"PipelineList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/PipelineSummary\";}s:4:\"type\";s:5:\"array\";}s:16:\"PipelineMetadata\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Information
  about a pipeline.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"created\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:64:\"The
  date and time the pipeline was created, in timestamp format.\";}s:11:\"pipelineArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/PipelineArn\";s:11:\"description\";s:47:\"The
  Amazon Resource Name (ARN) of the pipeline.\";}s:7:\"updated\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:69:\"The
  date and time the pipeline was last updated, in timestamp format.\";}}s:4:\"type\";s:6:\"object\";}s:12:\"PipelineName\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:100;s:9:\"minLength\";i:1;s:7:\"pattern\";s:17:\"[A-Za-z0-9.@\\-_]+\";s:4:\"type\";s:6:\"string\";}s:26:\"PipelineNameInUseException\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  specified pipeline name is already in use.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:25:\"PipelineNotFoundException\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"The
  specified pipeline was specified in an invalid format or cannot be found.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:28:\"PipelineStageDeclarationList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/StageDeclaration\";}s:4:\"type\";s:5:\"array\";}s:15:\"PipelineSummary\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Returns
  a summary of a pipeline.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"created\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:64:\"The
  date and time the pipeline was created, in timestamp format.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/PipelineName\";s:11:\"description\";s:25:\"The
  name of the pipeline.\";}s:7:\"updated\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:74:\"The
  date and time of the last update to the pipeline, in timestamp format.\";}s:7:\"version\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PipelineVersion\";s:11:\"description\";s:35:\"The
  version number of the pipeline.\";}}s:4:\"type\";s:6:\"object\";}s:15:\"PipelineVersion\";O:8:\"stdClass\":2:{s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:32:\"PipelineVersionNotFoundException\";O:8:\"stdClass\":3:{s:11:\"description\";s:85:\"The
  specified pipeline version was specified in an invalid format or cannot be found.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:16:\"PollForJobsInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:45:\"Represents
  the input of a PollForJobs action.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"actionTypeId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ActionTypeId\";s:11:\"description\";s:44:\"Represents
  information about an action type.\";}s:12:\"maxBatchSize\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/MaxBatchSize\";s:11:\"description\";s:61:\"The
  maximum number of jobs to return in a poll for jobs call.\";}s:10:\"queryParam\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/QueryParamMap\";s:11:\"description\";s:302:\"A
  map of property names and values. For an action type with no queryable properties,
  this value must be null or an empty map. For an action type with a queryable property,
  you must supply that property as a key in the map. Only jobs whose action configuration
  matches the mapped value will be returned.\";}}s:8:\"required\";a:1:{i:0;s:12:\"actionTypeId\";}s:4:\"type\";s:6:\"object\";}s:17:\"PollForJobsOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Represents
  the output of a PollForJobs action.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"jobs\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/JobList\";s:11:\"description\";s:45:\"Information
  about the jobs to take action on.\";}}s:4:\"type\";s:6:\"object\";}s:26:\"PollForThirdPartyJobsInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:55:\"Represents
  the input of a PollForThirdPartyJobs action.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"actionTypeId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ActionTypeId\";s:11:\"description\";s:44:\"Represents
  information about an action type.\";}s:12:\"maxBatchSize\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/MaxBatchSize\";s:11:\"description\";s:61:\"The
  maximum number of jobs to return in a poll for jobs call.\";}}s:8:\"required\";a:1:{i:0;s:12:\"actionTypeId\";}s:4:\"type\";s:6:\"object\";}s:27:\"PollForThirdPartyJobsOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Represents
  the output of a PollForThirdPartyJobs action.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"jobs\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ThirdPartyJobList\";s:11:\"description\";s:45:\"Information
  about the jobs to take action on.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"PutActionRevisionInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:51:\"Represents
  the input of a PutActionRevision action.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"actionName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ActionName\";s:11:\"description\";s:54:\"The
  name of the action that will process the revision.\";}s:14:\"actionRevision\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ActionRevision\";s:11:\"description\";s:68:\"Represents
  information about the version (or revision) of an action.\";}s:12:\"pipelineName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/PipelineName\";s:11:\"description\";s:79:\"The
  name of the pipeline that will start processing the revision to the source.\";}s:9:\"stageName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/StageName\";s:11:\"description\";s:79:\"The
  name of the stage that contains the action that will act upon the revision.\";}}s:8:\"required\";a:4:{i:0;s:12:\"pipelineName\";i:1;s:9:\"stageName\";i:2;s:10:\"actionName\";i:3;s:14:\"actionRevision\";}s:4:\"type\";s:6:\"object\";}s:23:\"PutActionRevisionOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Represents
  the output of a PutActionRevision action.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"newRevision\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:102:\"Indicates
  whether the artifact revision was previously used in an execution of the specified
  pipeline.\";}s:19:\"pipelineExecutionId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/PipelineExecutionId\";s:11:\"description\";s:53:\"The
  ID of the current workflow state of the pipeline.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"PutApprovalResultInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:51:\"Represents
  the input of a PutApprovalResult action.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"actionName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ActionName\";s:11:\"description\";s:55:\"The
  name of the action for which approval is requested.\";}s:12:\"pipelineName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/PipelineName\";s:11:\"description\";s:51:\"The
  name of the pipeline that contains the action. \";}s:6:\"result\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ApprovalResult\";s:11:\"description\";s:64:\"Represents
  information about the result of the approval request.\";}s:9:\"stageName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/StageName\";s:11:\"description\";s:47:\"The
  name of the stage that contains the action.\";}s:5:\"token\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ApprovalToken\";s:11:\"description\";s:262:\"The
  system-generated token used to identify a unique approval request. The token for
  each open approval request can be obtained using the <a>GetPipelineState</a> action
  and is used to validate that the approval request corresponding to this token is
  still valid.\";}}s:8:\"required\";a:5:{i:0;s:12:\"pipelineName\";i:1;s:9:\"stageName\";i:2;s:10:\"actionName\";i:3;s:6:\"result\";i:4;s:5:\"token\";}s:4:\"type\";s:6:\"object\";}s:23:\"PutApprovalResultOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Represents
  the output of a PutApprovalResult action.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"approvedAt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:67:\"The
  timestamp showing when the approval or rejection was submitted.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"PutJobFailureResultInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:53:\"Represents
  the input of a PutJobFailureResult action.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"failureDetails\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/FailureDetails\";s:11:\"description\";s:39:\"The
  details about the failure of a job.\";}s:5:\"jobId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/JobId\";s:11:\"description\";s:101:\"The
  unique system-generated ID of the job that failed. This is the same ID returned
  from PollForJobs.\";}}s:8:\"required\";a:2:{i:0;s:5:\"jobId\";i:1;s:14:\"failureDetails\";}s:4:\"type\";s:6:\"object\";}s:24:\"PutJobSuccessResultInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:53:\"Represents
  the input of a PutJobSuccessResult action.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:17:\"continuationToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ContinuationToken\";s:11:\"description\";s:398:\"A
  token generated by a job worker, such as an AWS CodeDeploy deployment ID, that a
  successful job provides to identify a custom action in progress. Future jobs will
  use this token in order to identify the running instance of the action. It can be
  reused to return additional information about the progress of the custom action.
  When the action is complete, no continuation token should be supplied.\";}s:15:\"currentRevision\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/CurrentRevision\";s:11:\"description\";s:83:\"The
  ID of the current revision of the artifact successfully worked upon by the job.\";}s:16:\"executionDetails\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ExecutionDetails\";s:11:\"description\";s:89:\"The
  execution details of the successful job, such as the actions taken by the job worker.\";}s:5:\"jobId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/JobId\";s:11:\"description\";s:104:\"The
  unique system-generated ID of the job that succeeded. This is the same ID returned
  from PollForJobs.\";}}s:8:\"required\";a:1:{i:0;s:5:\"jobId\";}s:4:\"type\";s:6:\"object\";}s:34:\"PutThirdPartyJobFailureResultInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:63:\"Represents
  the input of a PutThirdPartyJobFailureResult action.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"clientToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ClientToken\";s:11:\"description\";s:145:\"The
  clientToken portion of the clientId and clientToken pair used to verify that the
  calling entity is allowed access to the job and its details.\";}s:14:\"failureDetails\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/FailureDetails\";s:11:\"description\";s:45:\"Represents
  information about failure details.\";}s:5:\"jobId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ThirdPartyJobId\";s:11:\"description\";s:87:\"The
  ID of the job that failed. This is the same ID returned from PollForThirdPartyJobs.\";}}s:8:\"required\";a:3:{i:0;s:5:\"jobId\";i:1;s:11:\"clientToken\";i:2;s:14:\"failureDetails\";}s:4:\"type\";s:6:\"object\";}s:34:\"PutThirdPartyJobSuccessResultInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:63:\"Represents
  the input of a PutThirdPartyJobSuccessResult action.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"clientToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ClientToken\";s:11:\"description\";s:145:\"The
  clientToken portion of the clientId and clientToken pair used to verify that the
  calling entity is allowed access to the job and its details.\";}s:17:\"continuationToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ContinuationToken\";s:11:\"description\";s:400:\"A
  token generated by a job worker, such as an AWS CodeDeploy deployment ID, that a
  successful job provides to identify a partner action in progress. Future jobs will
  use this token in order to identify the running instance of the action. It can be
  reused to return additional information about the progress of the partner action.
  When the action is complete, no continuation token should be supplied.\";}s:15:\"currentRevision\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/CurrentRevision\";s:11:\"description\";s:48:\"Represents
  information about a current revision.\";}s:16:\"executionDetails\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ExecutionDetails\";s:11:\"description\";s:114:\"The
  details of the actions taken and results produced on an artifact as it passes through
  stages in the pipeline. \";}s:5:\"jobId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ThirdPartyJobId\";s:11:\"description\";s:103:\"The
  ID of the job that successfully completed. This is the same ID returned from PollForThirdPartyJobs.\";}}s:8:\"required\";a:2:{i:0;s:5:\"jobId\";i:1;s:11:\"clientToken\";}s:4:\"type\";s:6:\"object\";}s:15:\"PutWebhookInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"webhook\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/WebhookDefinition\";s:11:\"description\";s:335:\"The
  detail provided in an input file to create the webhook, such as the webhook name,
  the pipeline name, and the action name. Give the webhook a unique name which identifies
  the webhook being defined. You may choose to name the webhook after the pipeline
  and action it targets so that you can easily recognize what it's used for later.\";}}s:8:\"required\";a:1:{i:0;s:7:\"webhook\";}s:4:\"type\";s:6:\"object\";}s:16:\"PutWebhookOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"webhook\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ListWebhookItem\";s:11:\"description\";s:102:\"The
  detail returned from creating the webhook, such as the webhook name, webhook URL,
  and webhook ARN.\";}}s:4:\"type\";s:6:\"object\";}s:13:\"QueryParamMap\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/ActionConfigurationKey\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:47:\"#/definitions/ActionConfigurationQueryableValue\";}}s:4:\"type\";s:6:\"object\";}s:8:\"maxItems\";i:1;s:8:\"minItems\";i:0;s:4:\"type\";s:5:\"array\";}s:34:\"RegisterWebhookWithThirdPartyInput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"webhookName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/WebhookName\";s:11:\"description\";s:98:\"The
  name of an existing webhook created with PutWebhook to register with a supported
  third party. \";}}s:4:\"type\";s:6:\"object\";}s:35:\"RegisterWebhookWithThirdPartyOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:24:\"RetryStageExecutionInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:53:\"Represents
  the input of a RetryStageExecution action.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:19:\"pipelineExecutionId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/PipelineExecutionId\";s:11:\"description\";s:170:\"The
  ID of the pipeline execution in the failed stage to be retried. Use the <a>GetPipelineState</a>
  action to retrieve the current pipelineExecutionId of the failed stage\";}s:12:\"pipelineName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/PipelineName\";s:11:\"description\";s:56:\"The
  name of the pipeline that contains the failed stage.\";}s:9:\"retryMode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/StageRetryMode\";s:11:\"description\";s:86:\"The
  scope of the retry attempt. Currently, the only supported value is FAILED_ACTIONS.\";}s:9:\"stageName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/StageName\";s:11:\"description\";s:43:\"The
  name of the failed stage to be retried.\";}}s:8:\"required\";a:4:{i:0;s:12:\"pipelineName\";i:1;s:9:\"stageName\";i:2;s:19:\"pipelineExecutionId\";i:3;s:9:\"retryMode\";}s:4:\"type\";s:6:\"object\";}s:25:\"RetryStageExecutionOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"Represents
  the output of a RetryStageExecution action.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:19:\"pipelineExecutionId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/PipelineExecutionId\";s:11:\"description\";s:61:\"The
  ID of the current workflow execution in the failed stage.\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Revision\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:1500;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:24:\"RevisionChangeIdentifier\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:100;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:15:\"RevisionSummary\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:2048;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:7:\"RoleArn\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:1024;s:7:\"pattern\";s:39:\"arn:aws(-[\\w]+)*:iam::[0-9]{12}:role/.*\";s:4:\"type\";s:6:\"string\";}s:18:\"S3ArtifactLocation\";O:8:\"stdClass\":4:{s:11:\"description\";s:62:\"The
  location of the Amazon S3 bucket that contains a revision.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"bucketName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/S3BucketName\";s:11:\"description\";s:33:\"The
  name of the Amazon S3 bucket.\";}s:9:\"objectKey\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/S3ObjectKey\";s:11:\"description\";s:98:\"The
  key of the object in the Amazon S3 bucket, which uniquely identifies the object
  in the bucket.\";}}s:8:\"required\";a:2:{i:0;s:10:\"bucketName\";i:1;s:9:\"objectKey\";}s:4:\"type\";s:6:\"object\";}s:12:\"S3BucketName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"S3ObjectKey\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"SecretAccessKey\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"SessionToken\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"SourceRevision\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"actionName\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/ActionName\";}s:10:\"revisionId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Revision\";}s:15:\"revisionSummary\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/RevisionSummary\";}s:11:\"revisionUrl\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Url\";}}s:8:\"required\";a:1:{i:0;s:10:\"actionName\";}s:4:\"type\";s:6:\"object\";}s:18:\"SourceRevisionList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/SourceRevision\";}s:4:\"type\";s:5:\"array\";}s:26:\"StageActionDeclarationList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ActionDeclaration\";}s:4:\"type\";s:5:\"array\";}s:27:\"StageBlockerDeclarationList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/BlockerDeclaration\";}s:4:\"type\";s:5:\"array\";}s:12:\"StageContext\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Represents
[...]
