---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":5:{s:7:\"contact\";O:8:\"stdClass\":1:{s:5:\"email\";s:15:\"support@quay.io\";}s:11:\"description\";s:181:\"This
  API allows you to perform many of the operations required to work with Quay repositories,
  users, and organizations. You can find out more at <a href=\"https://quay.io\">Quay</a>.\";s:14:\"termsOfService\";s:19:\"https://quay.io/tos\";s:5:\"title\";s:13:\"Quay
  Frontend\";s:7:\"version\";s:2:\"v1\";}"
host: quay.io
basePath: /
paths:
  /api/v1/app/{client_id}:
    get:
      description: Get information on the specified application.
      operationId: getApplicationInformation
      parameters:
      - description: The OAuth client ID
        in: path
        name: client_id
        required: true
        type: string
      responses:
        200:
          description: Successful invocation
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ApiError'
        401:
          description: Session required
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: Unauthorized access
          schema:
            $ref: '#/definitions/ApiError'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ApiError'
      tags:
      - organization
    parameters:
    - description: The OAuth client ID
      in: path
      name: client_id
      required: true
      type: string
    x-name: endpoints.api.organization.ApplicationInformation
    x-path: /api/v1/app/{client_id}
    x-tag: organization
  /api/v1/discovery:
    get:
      description: List all of the API endpoints available in the swagger API format.
      operationId: discovery
      parameters:
      - description: Whether to include internal APIs.
        in: query
        name: internal
        required: false
        type: boolean
      responses:
        200:
          description: Successful invocation
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ApiError'
        401:
          description: Session required
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: Unauthorized access
          schema:
            $ref: '#/definitions/ApiError'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ApiError'
      tags:
      - discovery
    x-name: endpoints.api.discovery.DiscoveryResource
    x-path: /api/v1/discovery
    x-tag: discovery
  /api/v1/entities/{prefix}:
    get:
      description: Get a list of entities that match the specified prefix.
      operationId: getMatchingEntities
      parameters:
      - description: ""
        in: path
        name: prefix
        required: true
        type: string
      - description: Whether to include orgs names.
        in: query
        name: includeOrgs
        required: false
        type: boolean
      - description: Whether to include team names.
        in: query
        name: includeTeams
        required: false
        type: boolean
      - description: Namespace to use when querying for org entities.
        in: query
        name: namespace
        required: false
        type: string
      responses:
        200:
          description: Successful invocation
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ApiError'
        401:
          description: Session required
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: Unauthorized access
          schema:
            $ref: '#/definitions/ApiError'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ApiError'
      tags:
      - search
    x-name: endpoints.api.search.EntitySearch
    x-path: /api/v1/entities/{prefix}
    x-tag: search
  /api/v1/error/{error_type}:
    get:
      description: Get a detailed description of the error
      operationId: getErrorDescription
      parameters:
      - description: The error code identifying the type of error.
        in: path
        name: error_type
        required: true
        type: string
      responses:
        200:
          description: Successful invocation
          schema:
            $ref: '#/definitions/ApiErrorDescription'
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ApiError'
        401:
          description: Session required
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: Unauthorized access
          schema:
            $ref: '#/definitions/ApiError'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ApiError'
      tags:
      - error
    parameters:
    - description: The error code identifying the type of error.
      in: path
      name: error_type
      required: true
      type: string
    x-name: endpoints.api.error.Error
    x-path: /api/v1/error/{error_type}
    x-tag: error
  /api/v1/find/all:
    get:
      description: Get a list of entities and resources that match the specified query.
      operationId: conductSearch
      parameters:
      - description: The search query.
        in: query
        name: query
        required: false
        type: string
      responses:
        200:
          description: Successful invocation
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ApiError'
        401:
          description: Session required
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: Unauthorized access
          schema:
            $ref: '#/definitions/ApiError'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ApiError'
      security:
      - oauth2_implicit:
        - repo:read
      tags:
      - search
    x-name: endpoints.api.search.ConductSearch
    x-path: /api/v1/find/all
    x-tag: search
  /api/v1/find/repositories:
    get:
      description: Get a list of apps and repositories that match the specified query.
      operationId: conductRepoSearch
      parameters:
      - description: The page.
        in: query
        name: page
        required: false
        type: integer
      - description: The search query.
        in: query
        name: query
        required: false
        type: string
      responses:
        200:
          description: Successful invocation
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ApiError'
        401:
          description: Session required
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: Unauthorized access
          schema:
            $ref: '#/definitions/ApiError'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ApiError'
      tags:
      - search
    x-name: endpoints.api.search.ConductRepositorySearch
    x-path: /api/v1/find/repositories
    x-tag: search
  /api/v1/messages:
    get:
      description: Return a super users messages
      operationId: getGlobalMessages
      parameters: []
      responses:
        200:
          description: Successful invocation
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ApiError'
        401:
          description: Session required
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: Unauthorized access
          schema:
            $ref: '#/definitions/ApiError'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ApiError'
      tags:
      - globalmessages
    post:
      description: Create a message
      operationId: createGlobalMessage
      parameters:
      - description: Request body contents.
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/CreateMessage'
      responses:
        201:
          description: Successful creation
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ApiError'
        401:
          description: Session required
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: Unauthorized access
          schema:
            $ref: '#/definitions/ApiError'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ApiError'
      security:
      - oauth2_implicit:
        - super:user
      tags:
      - globalmessages
    x-name: endpoints.api.globalmessages.GlobalUserMessages
    x-path: /api/v1/messages
    x-tag: globalmessages
  /api/v1/organization/:
    post:
      description: Create a new organization.
      operationId: createOrganization
      parameters:
      - description: Request body contents.
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/NewOrg'
      responses:
        201:
          description: Successful creation
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ApiError'
        401:
          description: Session required
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: Unauthorized access
          schema:
            $ref: '#/definitions/ApiError'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ApiError'
      security:
      - oauth2_implicit:
        - user:admin
      tags:
      - organization
    x-name: endpoints.api.organization.OrganizationList
    x-path: /api/v1/organization/
    x-tag: organization
  /api/v1/organization/{orgname}:
    delete:
      description: Deletes the specified organization.
      operationId: deleteAdminedOrganization
      parameters:
      - description: The name of the organization
        in: path
        name: orgname
        required: true
        type: string
      responses:
        204:
          description: Deleted
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ApiError'
        401:
          description: Session required
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: Unauthorized access
          schema:
            $ref: '#/definitions/ApiError'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ApiError'
      security:
      - oauth2_implicit:
        - org:admin
      tags:
      - organization
    get:
      description: Get the details for the specified organization
      operationId: getOrganization
      parameters:
      - description: The name of the organization
        in: path
        name: orgname
        required: true
        type: string
      responses:
        200:
          description: Successful invocation
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ApiError'
        401:
          description: Session required
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: Unauthorized access
          schema:
            $ref: '#/definitions/ApiError'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ApiError'
      security:
      - oauth2_implicit:
        - org:admin
      tags:
      - organization
    parameters:
    - description: The name of the organization
      in: path
      name: orgname
      required: true
      type: string
    put:
      description: Change the details for the specified organization.
      operationId: changeOrganizationDetails
      parameters:
      - description: The name of the organization
        in: path
        name: orgname
        required: true
        type: string
      - description: Request body contents.
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/UpdateOrg'
      responses:
        200:
          description: Successful invocation
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ApiError'
        401:
          description: Session required
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: Unauthorized access
          schema:
            $ref: '#/definitions/ApiError'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ApiError'
      security:
      - oauth2_implicit:
        - org:admin
      tags:
      - organization
    x-name: endpoints.api.organization.Organization
    x-path: /api/v1/organization/{orgname}
    x-tag: organization
  /api/v1/organization/{orgname}/aggregatelogs:
    get:
      description: Gets the aggregated logs for the specified organization.
      operationId: getAggregateOrgLogs
      parameters:
      - description: The name of the organization
        in: path
        name: orgname
        required: true
        type: string
      - description: Username for which to filter logs.
        in: query
        name: performer
        required: false
        type: string
      - description: Latest time to which to get logs. (%m/%d/%Y %Z)
        in: query
        name: endtime
        required: false
        type: string
      - description: Earliest time from which to get logs. (%m/%d/%Y %Z)
        in: query
        name: starttime
        required: false
        type: string
      responses:
        200:
          description: Successful invocation
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ApiError'
        401:
          description: Session required
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: Unauthorized access
          schema:
            $ref: '#/definitions/ApiError'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ApiError'
      security:
      - oauth2_implicit:
        - org:admin
      tags:
      - logs
    parameters:
    - description: The name of the organization
      in: path
      name: orgname
      required: true
      type: string
    x-name: endpoints.api.logs.OrgAggregateLogs
    x-path: /api/v1/organization/{orgname}/aggregatelogs
    x-tag: logs
  /api/v1/organization/{orgname}/applications:
    get:
      description: List the applications for the specified organization
      operationId: getOrganizationApplications
      parameters:
      - description: The name of the organization
        in: path
        name: orgname
        required: true
        type: string
      responses:
        200:
          description: Successful invocation
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ApiError'
        401:
          description: Session required
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: Unauthorized access
          schema:
            $ref: '#/definitions/ApiError'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ApiError'
      security:
      - oauth2_implicit:
        - org:admin
      tags:
      - organization
    parameters:
    - description: The name of the organization
      in: path
      name: orgname
      required: true
      type: string
    post:
      description: Creates a new application under this organization.
      operationId: createOrganizationApplication
      parameters:
      - description: The name of the organization
        in: path
        name: orgname
        required: true
        type: string
      - description: Request body contents.
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/NewApp'
      responses:
        201:
          description: Successful creation
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ApiError'
        401:
          description: Session required
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: Unauthorized access
          schema:
            $ref: '#/definitions/ApiError'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ApiError'
      security:
      - oauth2_implicit:
        - org:admin
      tags:
      - organization
    x-name: endpoints.api.organization.OrganizationApplications
    x-path: /api/v1/organization/{orgname}/applications
    x-tag: organization
  /api/v1/organization/{orgname}/applications/{client_id}:
    delete:
      description: Deletes the application under this organization.
      operationId: deleteOrganizationApplication
      parameters:
      - description: The name of the organization
        in: path
        name: orgname
        required: true
        type: string
      - description: The OAuth client ID
        in: path
        name: client_id
        required: true
        type: string
      responses:
        204:
          description: Deleted
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ApiError'
        401:
          description: Session required
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: Unauthorized access
          schema:
            $ref: '#/definitions/ApiError'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ApiError'
      security:
      - oauth2_implicit:
        - org:admin
      tags:
      - organization
    get:
      description: Retrieves the application with the specified client_id under the
        specified organization
      operationId: getOrganizationApplication
      parameters:
      - description: The name of the organization
        in: path
        name: orgname
        required: true
        type: string
      - description: The OAuth client ID
        in: path
        name: client_id
        required: true
        type: string
      responses:
        200:
          description: Successful invocation
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ApiError'
        401:
          description: Session required
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: Unauthorized access
          schema:
            $ref: '#/definitions/ApiError'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ApiError'
      security:
      - oauth2_implicit:
        - org:admin
      tags:
      - organization
    parameters:
    - description: The name of the organization
      in: path
      name: orgname
      required: true
      type: string
    - description: The OAuth client ID
      in: path
      name: client_id
      required: true
      type: string
    put:
      description: Updates an application under this organization.
      operationId: updateOrganizationApplication
      parameters:
      - description: The name of the organization
        in: path
        name: orgname
        required: true
        type: string
      - description: The OAuth client ID
        in: path
        name: client_id
        required: true
        type: string
      - description: Request body contents.
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/UpdateApp'
      responses:
        200:
          description: Successful invocation
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ApiError'
        401:
          description: Session required
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: Unauthorized access
          schema:
            $ref: '#/definitions/ApiError'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ApiError'
      security:
      - oauth2_implicit:
        - org:admin
      tags:
      - organization
    x-name: endpoints.api.organization.OrganizationApplicationResource
    x-path: /api/v1/organization/{orgname}/applications/{client_id}
    x-tag: organization
  /api/v1/organization/{orgname}/invoices:
    get:
      description: List the invoices for the specified orgnaization.
      operationId: listOrgInvoices
      parameters:
      - description: The name of the organization
        in: path
        name: orgname
        required: true
        type: string
      responses:
        200:
          description: Successful invocation
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ApiError'
        401:
          description: Session required
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: Unauthorized access
          schema:
            $ref: '#/definitions/ApiError'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ApiError'
      security:
      - oauth2_implicit:
        - org:admin
      tags:
      - billing
    parameters:
    - description: The name of the organization
      in: path
      name: orgname
      required: true
      type: string
    x-name: endpoints.api.billing.OrganizationInvoiceList
    x-path: /api/v1/organization/{orgname}/invoices
    x-tag: billing
  /api/v1/organization/{orgname}/logs:
    get:
      description: List the logs for the specified organization.
      operationId: listOrgLogs
      parameters:
      - description: The name of the organization
        in: path
        name: orgname
        required: true
        type: string
      - description: The page token for the next page
        in: query
        name: next_page
        required: false
        type: string
      - description: The page number for the logs
        in: query
        name: page
        required: false
        type: integer
      - description: Username for which to filter logs.
        in: query
        name: performer
        required: false
        type: string
      - description: Latest time to which to get logs. (%m/%d/%Y %Z)
        in: query
        name: endtime
        required: false
        type: string
      - description: Earliest time from which to get logs. (%m/%d/%Y %Z)
        in: query
        name: starttime
        required: false
        type: string
      responses:
        200:
          description: Successful invocation
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ApiError'
        401:
          description: Session required
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: Unauthorized access
          schema:
            $ref: '#/definitions/ApiError'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ApiError'
      security:
      - oauth2_implicit:
        - org:admin
      tags:
      - logs
    parameters:
    - description: The name of the organization
      in: path
      name: orgname
      required: true
      type: string
    x-name: endpoints.api.logs.OrgLogs
    x-path: /api/v1/organization/{orgname}/logs
    x-tag: logs
  /api/v1/organization/{orgname}/members:
    get:
      description: List the human members of the specified organization.
      operationId: getOrganizationMembers
      parameters:
      - description: The name of the organization
        in: path
        name: orgname
        required: true
        type: string
      responses:
        200:
          description: Successful invocation
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ApiError'
        401:
          description: Session required
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: Unauthorized access
          schema:
            $ref: '#/definitions/ApiError'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ApiError'
      security:
      - oauth2_implicit:
        - org:admin
      tags:
      - organization
    parameters:
    - description: The name of the organization
      in: path
      name: orgname
      required: true
      type: string
    x-name: endpoints.api.organization.OrganizationMemberList
    x-path: /api/v1/organization/{orgname}/members
    x-tag: organization
  /api/v1/organization/{orgname}/members/{membername}:
    delete:
      description: Removes a member from an organization, revoking all its repositoryn        priviledges
        and removing it from all teams in the organization.
      operationId: removeOrganizationMember
      parameters:
      - description: The name of the organization
        in: path
        name: orgname
        required: true
        type: string
      - description: The username of the organization member
        in: path
        name: membername
        required: true
        type: string
      responses:
        204:
          description: Deleted
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ApiError'
        401:
          description: Session required
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: Unauthorized access
          schema:
            $ref: '#/definitions/ApiError'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ApiError'
      security:
      - oauth2_implicit:
        - org:admin
      tags:
      - organization
    get:
      description: Retrieves the details of a member of the organization.
      operationId: getOrganizationMember
      parameters:
      - description: The name of the organization
        in: path
        name: orgname
        required: true
        type: string
      - description: The username of the organization member
        in: path
        name: membername
        required: true
        type: string
      responses:
        200:
          description: Successful invocation
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ApiError'
        401:
          description: Session required
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: Unauthorized access
          schema:
            $ref: '#/definitions/ApiError'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ApiError'
      security:
      - oauth2_implicit:
        - org:admin
      tags:
      - organization
    parameters:
    - description: The name of the organization
      in: path
      name: orgname
      required: true
      type: string
    - description: The username of the organization member
      in: path
      name: membername
      required: true
      type: string
    x-name: endpoints.api.organization.OrganizationMember
    x-path: /api/v1/organization/{orgname}/members/{membername}
    x-tag: organization
  /api/v1/organization/{orgname}/prototypes:
    get:
      description: List the existing prototypes for this organization.
      operationId: getOrganizationPrototypePermissions
      parameters:
      - description: The name of the organization
        in: path
        name: orgname
        required: true
        type: string
      responses:
        200:
          description: Successful invocation
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ApiError'
        401:
          description: Session required
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: Unauthorized access
          schema:
            $ref: '#/definitions/ApiError'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ApiError'
      security:
      - oauth2_implicit:
        - org:admin
      tags:
      - prototype
    parameters:
    - description: The name of the organization
      in: path
      name: orgname
      required: true
      type: string
    post:
      description: Create a new permission prototype.
      operationId: createOrganizationPrototypePermission
      parameters:
      - description: The name of the organization
        in: path
        name: orgname
        required: true
        type: string
      - description: Request body contents.
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/NewPrototype'
      responses:
        201:
          description: Successful creation
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ApiError'
        401:
          description: Session required
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: Unauthorized access
          schema:
            $ref: '#/definitions/ApiError'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ApiError'
      security:
      - oauth2_implicit:
        - org:admin
      tags:
      - prototype
    x-name: endpoints.api.prototype.PermissionPrototypeList
    x-path: /api/v1/organization/{orgname}/prototypes
    x-tag: prototype
  /api/v1/organization/{orgname}/prototypes/{prototypeid}:
    delete:
      description: Delete an existing permission prototype.
      operationId: deleteOrganizationPrototypePermission
      parameters:
      - description: The name of the organization
        in: path
        name: orgname
        required: true
        type: string
      - description: The ID of the prototype
        in: path
        name: prototypeid
        required: true
        type: string
      responses:
        204:
          description: Deleted
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ApiError'
        401:
          description: Session required
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: Unauthorized access
          schema:
            $ref: '#/definitions/ApiError'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ApiError'
      security:
      - oauth2_implicit:
        - org:admin
      tags:
      - prototype
    parameters:
    - description: The name of the organization
      in: path
      name: orgname
      required: true
      type: string
    - description: The ID of the prototype
      in: path
      name: prototypeid
      required: true
      type: string
    put:
      description: Update the role of an existing permission prototype.
      operationId: updateOrganizationPrototypePermission
      parameters:
      - description: The name of the organization
        in: path
        name: orgname
        required: true
        type: string
      - description: The ID of the prototype
        in: path
        name: prototypeid
        required: true
        type: string
      - description: Request body contents.
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/PrototypeUpdate'
      responses:
        200:
          description: Successful invocation
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ApiError'
        401:
          description: Session required
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: Unauthorized access
          schema:
            $ref: '#/definitions/ApiError'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ApiError'
      security:
      - oauth2_implicit:
        - org:admin
      tags:
      - prototype
    x-name: endpoints.api.prototype.PermissionPrototype
    x-path: /api/v1/organization/{orgname}/prototypes/{prototypeid}
    x-tag: prototype
  /api/v1/organization/{orgname}/robots:
    get:
      description: List the organization's robots.
      operationId: getOrgRobots
      parameters:
      - description: The name of the organization
        in: path
        name: orgname
        required: true
        type: string
      - description: Whether to include repostories and teams in which the robots
          have permission.
        in: query
        name: permissions
        required: false
        type: boolean
      responses:
        200:
          description: Successful invocation
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ApiError'
        401:
          description: Session required
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: Unauthorized access
          schema:
            $ref: '#/definitions/ApiError'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ApiError'
      security:
      - oauth2_implicit:
        - org:admin
      tags:
      - robot
    parameters:
    - description: The name of the organization
      in: path
      name: orgname
      required: true
      type: string
    x-name: endpoints.api.robot.OrgRobotList
    x-path: /api/v1/organization/{orgname}/robots
    x-tag: robot
  /api/v1/organization/{orgname}/robots/{robot_shortname}:
    delete:
      description: Delete an existing organization robot.
      operationId: deleteOrgRobot
      parameters:
      - description: The name of the organization
        in: path
        name: orgname
        required: true
        type: string
      - description: The short name for the robot, without any user or organization
          prefix
        in: path
        name: robot_shortname
        required: true
        type: string
      responses:
        204:
          description: Deleted
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ApiError'
        401:
          description: Session required
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: Unauthorized access
          schema:
            $ref: '#/definitions/ApiError'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ApiError'
      security:
      - oauth2_implicit:
        - org:admin
      tags:
      - robot
    get:
      description: Returns the organization's robot with the specified name.
      operationId: getOrgRobot
      parameters:
      - description: The name of the organization
        in: path
        name: orgname
        required: true
        type: string
      - description: The short name for the robot, without any user or organization
          prefix
        in: path
        name: robot_shortname
        required: true
        type: string
      responses:
        200:
          description: Successful invocation
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ApiError'
        401:
          description: Session required
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: Unauthorized access
          schema:
            $ref: '#/definitions/ApiError'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ApiError'
      security:
      - oauth2_implicit:
        - org:admin
      tags:
      - robot
    parameters:
    - description: The name of the organization
      in: path
      name: orgname
      required: true
      type: string
    - description: The short name for the robot, without any user or organization
        prefix
      in: path
      name: robot_shortname
      required: true
      type: string
    put:
      description: Create a new robot in the organization.
      operationId: createOrgRobot
      parameters:
      - description: The name of the organization
        in: path
        name: orgname
        required: true
        type: string
      - description: The short name for the robot, without any user or organization
          prefix
        in: path
        name: robot_shortname
        required: true
        type: string
      responses:
        200:
          description: Successful invocation
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ApiError'
        401:
          description: Session required
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: Unauthorized access
          schema:
            $ref: '#/definitions/ApiError'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ApiError'
      security:
      - oauth2_implicit:
        - org:admin
      tags:
      - robot
    x-name: endpoints.api.robot.OrgRobot
    x-path: /api/v1/organization/{orgname}/robots/{robot_shortname}
    x-tag: robot
  /api/v1/organization/{orgname}/robots/{robot_shortname}/permissions:
    get:
      description: Returns the list of repository permissions for the org's robot.
      operationId: getOrgRobotPermissions
      parameters:
      - description: The name of the organization
        in: path
        name: orgname
        required: true
        type: string
      - description: The short name for the robot, without any user or organization
          prefix
        in: path
        name: robot_shortname
        required: true
        type: string
      responses:
        200:
          description: Successful invocation
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ApiError'
        401:
          description: Session required
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: Unauthorized access
          schema:
            $ref: '#/definitions/ApiError'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ApiError'
      security:
      - oauth2_implicit:
        - user:admin
      tags:
      - robot
    parameters:
    - description: The name of the organization
      in: path
      name: orgname
      required: true
      type: string
    - description: The short name for the robot, without any user or organization
        prefix
      in: path
      name: robot_shortname
      required: true
      type: string
    x-name: endpoints.api.robot.OrgRobotPermissions
    x-path: /api/v1/organization/{orgname}/robots/{robot_shortname}/permissions
    x-tag: robot
  /api/v1/organization/{orgname}/robots/{robot_shortname}/regenerate:
    parameters:
    - description: The name of the organization
      in: path
      name: orgname
      required: true
      type: string
    - description: The short name for the robot, without any user or organization
        prefix
      in: path
      name: robot_shortname
      required: true
      type: string
    post:
      description: Regenerates the token for an organization robot.
      operationId: regenerateOrgRobotToken
      parameters:
      - description: The name of the organization
        in: path
        name: orgname
        required: true
        type: string
      - description: The short name for the robot, without any user or organization
          prefix
        in: path
        name: robot_shortname
        required: true
        type: string
      responses:
        201:
          description: Successful creation
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ApiError'
        401:
          description: Session required
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: Unauthorized access
          schema:
            $ref: '#/definitions/ApiError'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ApiError'
      security:
      - oauth2_implicit:
        - org:admin
      tags:
      - robot
    x-name: endpoints.api.robot.RegenerateOrgRobot
    x-path: /api/v1/organization/{orgname}/robots/{robot_shortname}/regenerate
    x-tag: robot
  /api/v1/organization/{orgname}/team/{teamname}:
    delete:
      description: Delete the specified team.
      operationId: deleteOrganizationTeam
      parameters:
      - description: The name of the organization
        in: path
        name: orgname
        required: true
        type: string
      - description: The name of the team
        in: path
        name: teamname
        required: true
        type: string
      responses:
        204:
          description: Deleted
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ApiError'
        401:
          description: Session required
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: Unauthorized access
          schema:
            $ref: '#/definitions/ApiError'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ApiError'
      security:
      - oauth2_implicit:
        - org:admin
      tags:
      - team
    parameters:
    - description: The name of the organization
      in: path
      name: orgname
      required: true
      type: string
    - description: The name of the team
      in: path
      name: teamname
      required: true
      type: string
    put:
      description: Update the org-wide permission for the specified team.
      operationId: updateOrganizationTeam
      parameters:
      - description: The name of the organization
        in: path
        name: orgname
        required: true
        type: string
      - description: The name of the team
        in: path
        name: teamname
        required: true
        type: string
      - description: Request body contents.
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/TeamDescription'
      responses:
        200:
          description: Successful invocation
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ApiError'
        401:
          description: Session required
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: Unauthorized access
          schema:
            $ref: '#/definitions/ApiError'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ApiError'
      security:
      - oauth2_implicit:
        - org:admin
      tags:
      - team
    x-name: endpoints.api.team.OrganizationTeam
    x-path: /api/v1/organization/{orgname}/team/{teamname}
    x-tag: team
  /api/v1/organization/{orgname}/team/{teamname}/invite/{email}:
    delete:
      description: Delete an invite of an email address to join a team.
      operationId: deleteTeamMemberEmailInvite
      parameters:
      - description: ""
        in: path
        name: orgname
        required: true
        type: string
      - description: ""
        in: path
        name: email
        required: true
        type: string
      - description: ""
        in: path
        name: teamname
        required: true
        type: string
      responses:
        204:
          description: Deleted
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ApiError'
        401:
          description: Session required
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: Unauthorized access
          schema:
            $ref: '#/definitions/ApiError'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ApiError'
      security:
      - oauth2_implicit:
        - org:admin
      tags:
      - team
    put:
      description: Invites an email address to an existing team.
      operationId: inviteTeamMemberEmail
      parameters:
      - description: ""
        in: path
        name: orgname
        required: true
        type: string
      - description: ""
        in: path
        name: email
        required: true
        type: string
      - description: ""
        in: path
        name: teamname
        required: true
        type: string
      responses:
        200:
          description: Successful invocation
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ApiError'
        401:
          description: Session required
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: Unauthorized access
          schema:
            $ref: '#/definitions/ApiError'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ApiError'
      security:
      - oauth2_implicit:
        - org:admin
      tags:
      - team
    x-name: endpoints.api.team.InviteTeamMember
    x-path: /api/v1/organization/{orgname}/team/{teamname}/invite/{email}
    x-tag: team
  /api/v1/organization/{orgname}/team/{teamname}/members:
    get:
      description: Retrieve the list of members for the specified team.
      operationId: getOrganizationTeamMembers
      parameters:
      - description: The name of the organization
        in: path
        name: orgname
        required: true
        type: string
      - description: The name of the team
        in: path
        name: teamname
        required: true
        type: string
      - description: Whether to include pending members
        in: query
        name: includePending
        required: false
        type: boolean
      responses:
        200:
          description: Successful invocation
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ApiError'
        401:
          description: Session required
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: Unauthorized access
          schema:
            $ref: '#/definitions/ApiError'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ApiError'
      security:
      - oauth2_implicit:
        - org:admin
      tags:
      - team
    parameters:
    - description: The name of the organization
      in: path
      name: orgname
      required: true
      type: string
    - description: The name of the team
      in: path
      name: teamname
      required: true
      type: string
    x-name: endpoints.api.team.TeamMemberList
    x-path: /api/v1/organization/{orgname}/team/{teamname}/members
    x-tag: team
  /api/v1/organization/{orgname}/team/{teamname}/members/{membername}:
    delete:
      description: Delete a member of a team. If the user is merely invited to joinn        the
        team, then the invite is removed instead.
      operationId: deleteOrganizationTeamMember
      parameters:
      - description: The name of the organization
        in: path
        name: orgname
        required: true
        type: string
      - description: The username of the team member
        in: path
        name: membername
        required: true
        type: string
      - description: The name of the team
        in: path
        name: teamname
        required: true
        type: string
      responses:
        204:
          description: Deleted
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ApiError'
        401:
          description: Session required
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: Unauthorized access
          schema:
            $ref: '#/definitions/ApiError'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ApiError'
      security:
      - oauth2_implicit:
        - org:admin
      tags:
      - team
    parameters:
    - description: The name of the organization
      in: path
      name: orgname
      required: true
      type: string
    - description: The username of the team member
      in: path
      name: membername
      required: true
      type: string
    - description: The name of the team
      in: path
      name: teamname
      required: true
      type: string
    put:
      description: Adds or invites a member to an existing team.
      operationId: updateOrganizationTeamMember
      parameters:
      - description: The name of the organization
        in: path
        name: orgname
        required: true
        type: string
      - description: The username of the team member
        in: path
        name: membername
        required: true
        type: string
      - description: The name of the team
        in: path
        name: teamname
        required: true
        type: string
      responses:
        200:
          description: Successful invocation
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ApiError'
        401:
          description: Session required
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: Unauthorized access
          schema:
            $ref: '#/definitions/ApiError'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ApiError'
      security:
      - oauth2_implicit:
        - org:admin
      tags:
      - team
    x-name: endpoints.api.team.TeamMember
    x-path: /api/v1/organization/{orgname}/team/{teamname}/members/{membername}
    x-tag: team
  /api/v1/organization/{orgname}/team/{teamname}/permissions:
    get:
      description: Returns the list of repository permissions for the org's team.
      operationId: getOrganizationTeamPermissions
      parameters:
      - description: The name of the organization
        in: path
        name: orgname
        required: true
        type: string
      - description: The name of the team
        in: path
        name: teamname
        required: true
        type: string
      responses:
        200:
          description: Successful invocation
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ApiError'
        401:
          description: Session required
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: Unauthorized access
          schema:
            $ref: '#/definitions/ApiError'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ApiError'
      tags:
      - team
    parameters:
    - description: The name of the organization
      in: path
      name: orgname
      required: true
      type: string
    - description: The name of the team
      in: path
      name: teamname
      required: true
      type: string
    x-name: endpoints.api.team.TeamPermissions
    x-path: /api/v1/organization/{orgname}/team/{teamname}/permissions
    x-tag: team
  /api/v1/plans/:
    get:
      description: List the avaialble plans.
      operationId: listPlans
      parameters: []
      responses:
        200:
          description: Successful invocation
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ApiError'
        401:
          description: Session required
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: Unauthorized access
          schema:
            $ref: '#/definitions/ApiError'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ApiError'
      tags:
      - billing
    x-name: endpoints.api.billing.ListPlans
    x-path: /api/v1/plans/
    x-tag: billing
  /api/v1/repository:
    get:
      description: Fetch the list of repositories visible to the current user under
        a variety of situations.
      operationId: listRepos
      parameters:
      - description: The page token for the next page
        in: query
        name: next_page
        required: false
        type: string
      - description: The kind of repositories to return
        in: query
        name: repo_kind
        required: false
        type: string
      - description: Whether to include the repository's popularity metric.
        in: query
        name: popularity
        required: false
        type: boolean
      - description: Whether to include when the repository was last modified.
        in: query
        name: last_modified
        required: false
        type: boolean
      - description: Adds any repositories visible to the user by virtue of being
          public
        in: query
        name: public
        required: false
        type: boolean
      - description: Filters the repositories returned to those starred by the user
        in: query
        name: starred
        required: false
        type: boolean
      - description: Filters the repositories returned to this namespace
        in: query
        name: namespace
        required: false
        type: string
      responses:
        200:
          description: Successful invocation
          schema:
            $ref: '#/definitions/ListRepos'
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ApiError'
        401:
          description: Session required
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: Unauthorized access
          schema:
            $ref: '#/definitions/ApiError'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ApiError'
      security:
      - oauth2_implicit:
        - repo:read
      tags:
      - repository
    post:
      description: Create a new repository.
      operationId: createRepo
      parameters:
      - description: Request body contents.
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/NewRepo'
      responses:
        201:
          description: Successful creation
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ApiError'
        401:
          description: Session required
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: Unauthorized access
          schema:
            $ref: '#/definitions/ApiError'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ApiError'
      security:
      - oauth2_implicit:
        - repo:create
      tags:
      - repository
    x-name: endpoints.api.repository.RepositoryList
    x-path: /api/v1/repository
    x-tag: repository
  /api/v1/repository/{repository}:
    delete:
      description: Delete a repository.
      operationId: deleteRepository
      parameters:
      - description: The full path of the repository. e.g. namespace/name
        in: path
        name: repository
        required: true
        type: string
      responses:
        204:
          description: Deleted
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ApiError'
        401:
          description: Session required
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: Unauthorized access
          schema:
            $ref: '#/definitions/ApiError'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ApiError'
      security:
      - oauth2_implicit:
        - repo:admin
      tags:
      - repository
    get:
      description: Fetch the specified repository.
      operationId: getRepo
      parameters:
      - description: The full path of the repository. e.g. namespace/name
        in: path
        name: repository
        required: true
        type: string
      - description: Whether to include action statistics
        in: query
        name: includeStats
        required: false
        type: boolean
      responses:
        200:
          description: Successful invocation
          schema:
            $ref: '#/definitions/GetRepo'
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ApiError'
        401:
          description: Session required
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: Unauthorized access
          schema:
            $ref: '#/definitions/ApiError'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ApiError'
      security:
      - oauth2_implicit:
        - repo:read
      tags:
      - repository
    parameters:
    - description: The full path of the repository. e.g. namespace/name
      in: path
      name: repository
      required: true
      type: string
    put:
      description: Update the description in the specified repository.
      operationId: updateRepo
      parameters:
      - description: The full path of the repository. e.g. namespace/name
        in: path
        name: repository
        required: true
        type: string
      - description: Request body contents.
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/RepoUpdate'
      responses:
        200:
          description: Successful invocation
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ApiError'
        401:
          description: Session required
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: Unauthorized access
          schema:
            $ref: '#/definitions/ApiError'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ApiError'
      security:
      - oauth2_implicit:
        - repo:write
      tags:
      - repository
    x-name: endpoints.api.repository.Repository
    x-path: /api/v1/repository/{repository}
    x-tag: repository
  /api/v1/repository/{repository}/aggregatelogs:
    get:
      description: Returns the aggregated logs for the specified repository.
      operationId: getAggregateRepoLogs
      parameters:
      - description: The full path of the repository. e.g. namespace/name
        in: path
        name: repository
        required: true
        type: string
      - description: Latest time to which to get logs (%m/%d/%Y %Z)
        in: query
        name: endtime
        required: false
        type: string
      - description: Earliest time from which to get logs (%m/%d/%Y %Z)
        in: query
        name: starttime
        required: false
        type: string
      responses:
        200:
          description: Successful invocation
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ApiError'
        401:
          description: Session required
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: Unauthorized access
          schema:
            $ref: '#/definitions/ApiError'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ApiError'
      security:
      - oauth2_implicit:
        - repo:admin
      tags:
      - logs
    parameters:
    - description: The full path of the repository. e.g. namespace/name
      in: path
      name: repository
      required: true
      type: string
    x-name: endpoints.api.logs.RepositoryAggregateLogs
    x-path: /api/v1/repository/{repository}/aggregatelogs
    x-tag: logs
  /api/v1/repository/{repository}/build/:
    get:
      description: Get the list of repository builds.
      operationId: getRepoBuilds
      parameters:
      - description: The full path of the repository. e.g. namespace/name
        in: path
        name: repository
        required: true
        type: string
      - description: Returns all builds since the given unix timecode
        in: query
        name: since
        required: false
        type: integer
      - description: The maximum number of builds to return
        in: query
        name: limit
        required: false
        type: integer
      responses:
        200:
          description: Successful invocation
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ApiError'
        401:
          description: Session required
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: Unauthorized access
          schema:
            $ref: '#/definitions/ApiError'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ApiError'
      security:
      - oauth2_implicit:
        - repo:read
      tags:
      - build
    parameters:
    - description: The full path of the repository. e.g. namespace/name
      in: path
      name: repository
      required: true
      type: string
    post:
      description: Request that a repository be built and pushed from the specified
        input.
      operationId: requestRepoBuild
      parameters:
      - description: The full path of the repository. e.g. namespace/name
        in: path
        name: repository
        required: true
        type: string
      - description: Request body contents.
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/RepositoryBuildRequest'
      responses:
        201:
          description: Successful creation
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ApiError'
        401:
          description: Session required
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: Unauthorized access
          schema:
            $ref: '#/definitions/ApiError'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ApiError'
      security:
      - oauth2_implicit:
        - repo:write
      tags:
      - build
    x-name: endpoints.api.build.RepositoryBuildList
    x-path: /api/v1/repository/{repository}/build/
    x-tag: build
  /api/v1/repository/{repository}/build/{build_uuid}:
    delete:
      description: Cancels a repository build.
      operationId: cancelRepoBuild
      parameters:
      - description: The UUID of the build
        in: path
        name: build_uuid
        required: true
        type: string
      - description: The full path of the repository. e.g. namespace/name
        in: path
        name: repository
        required: true
        type: string
      responses:
        204:
          description: Deleted
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ApiError'
        401:
          description: Session required
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: Unauthorized access
          schema:
            $ref: '#/definitions/ApiError'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ApiError'
      security:
      - oauth2_implicit:
        - repo:admin
      tags:
      - build
    get:
      description: Returns information about a build.
      operationId: getRepoBuild
      parameters:
      - description: The UUID of the build
        in: path
        name: build_uuid
        required: true
        type: string
      - description: The full path of the repository. e.g. namespace/name
        in: path
        name: repository
        required: true
        type: string
      responses:
        200:
          description: Successful invocation
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ApiError'
        401:
          description: Session required
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: Unauthorized access
          schema:
            $ref: '#/definitions/ApiError'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ApiError'
      security:
      - oauth2_implicit:
        - repo:read
      tags:
      - build
    parameters:
    - description: The UUID of the build
      in: path
      name: build_uuid
      required: true
      type: string
    - description: The full path of the repository. e.g. namespace/name
      in: path
      name: repository
      required: true
      type: string
    x-name: endpoints.api.build.RepositoryBuildResource
    x-path: /api/v1/repository/{repository}/build/{build_uuid}
    x-tag: build
  /api/v1/repository/{repository}/build/{build_uuid}/logs:
    get:
      description: Return the build logs for the build specified by the build uuid.
      operationId: getRepoBuildLogs
      parameters:
      - description: The UUID of the build
        in: path
        name: build_uuid
        required: true
        type: string
      - description: The full path of the repository. e.g. namespace/name
        in: path
        name: repository
        required: true
        type: string
      responses:
        200:
          description: Successful invocation
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ApiError'
        401:
          description: Session required
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: Unauthorized access
          schema:
            $ref: '#/definitions/ApiError'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ApiError'
      security:
      - oauth2_implicit:
        - repo:read
      tags:
      - build
    parameters:
    - description: The UUID of the build
      in: path
      name: build_uuid
      required: true
      type: string
    - description: The full path of the repository. e.g. namespace/name
      in: path
      name: repository
      required: true
      type: string
    x-name: endpoints.api.build.RepositoryBuildLogs
    x-path: /api/v1/repository/{repository}/build/{build_uuid}/logs
    x-tag: build
  /api/v1/repository/{repository}/build/{build_uuid}/status:
    get:
      description: Return the status for the builds specified by the build uuids.
      operationId: getRepoBuildStatus
      parameters:
      - description: The UUID of the build
        in: path
        name: build_uuid
        required: true
        type: string
      - description: The full path of the repository. e.g. namespace/name
        in: path
        name: repository
        required: true
        type: string
      responses:
        200:
          description: Successful invocation
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ApiError'
        401:
          description: Session required
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: Unauthorized access
          schema:
            $ref: '#/definitions/ApiError'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ApiError'
      security:
      - oauth2_implicit:
        - repo:read
      tags:
      - build
    parameters:
    - description: The UUID of the build
      in: path
      name: build_uuid
      required: true
      type: string
    - description: The full path of the repository. e.g. namespace/name
      in: path
      name: repository
      required: true
      type: string
    x-name: endpoints.api.build.RepositoryBuildStatus
    x-path: /api/v1/repository/{repository}/build/{build_uuid}/status
    x-tag: build
  /api/v1/repository/{repository}/changetrust:
    parameters:
    - description: The full path of the repository. e.g. namespace/name
      in: path
      name: repository
      required: true
      type: string
    post:
      description: Change the visibility of a repository.
      operationId: changeRepoTrust
      parameters:
      - description: The full path of the repository. e.g. namespace/name
        in: path
        name: repository
        required: true
        type: string
      - description: Request body contents.
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ChangeRepoTrust'
      responses:
        201:
          description: Successful creation
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ApiError'
        401:
          description: Session required
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: Unauthorized access
          schema:
            $ref: '#/definitions/ApiError'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ApiError'
      security:
      - oauth2_implicit:
        - repo:admin
      tags:
      - repository
    x-name: endpoints.api.repository.RepositoryTrust
    x-path: /api/v1/repository/{repository}/changetrust
    x-tag: repository
  /api/v1/repository/{repository}/changevisibility:
    parameters:
    - description: The full path of the repository. e.g. namespace/name
      in: path
      name: repository
      required: true
      type: string
    post:
      description: Change the visibility of a repository.
      operationId: changeRepoVisibility
      parameters:
      - description: The full path of the repository. e.g. namespace/name
        in: path
        name: repository
        required: true
        type: string
      - description: Request body contents.
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ChangeVisibility'
      responses:
        201:
          description: Successful creation
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ApiError'
        401:
          description: Session required
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: Unauthorized access
          schema:
            $ref: '#/definitions/ApiError'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ApiError'
      security:
      - oauth2_implicit:
        - repo:admin
      tags:
      - repository
    x-name: endpoints.api.repository.RepositoryVisibility
    x-path: /api/v1/repository/{repository}/changevisibility
    x-tag: repository
  /api/v1/repository/{repository}/image/:
    get:
      description: List the images for the specified repository.
      operationId: listRepositoryImages
      parameters:
      - description: The full path of the repository. e.g. namespace/name
        in: path
        name: repository
        required: true
        type: string
      responses:
        200:
          description: Successful invocation
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ApiError'
        401:
          description: Session required
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: Unauthorized access
          schema:
            $ref: '#/definitions/ApiError'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ApiError'
      security:
      - oauth2_implicit:
        - repo:read
      tags:
      - image
    parameters:
    - description: The full path of the repository. e.g. namespace/name
      in: path
      name: repository
      required: true
      type: string
    x-name: endpoints.api.image.RepositoryImageList
    x-path: /api/v1/repository/{repository}/image/
    x-tag: image
  /api/v1/repository/{repository}/image/{image_id}:
    get:
      description: Get the information available for the specified image.
      operationId: getImage
      parameters:
      - description: The Docker image ID
        in: path
        name: image_id
        required: true
        type: string
      - description: The full path of the repository. e.g. namespace/name
        in: path
        name: repository
        required: true
        type: string
      responses:
        200:
          description: Successful invocation
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ApiError'
        401:
          description: Session required
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: Unauthorized access
          schema:
            $ref: '#/definitions/ApiError'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ApiError'
      security:
      - oauth2_implicit:
        - repo:read
      tags:
      - image
    parameters:
    - description: The Docker image ID
      in: path
      name: image_id
      required: true
      type: string
    - description: The full path of the repository. e.g. namespace/name
      in: path
      name: repository
      required: true
      type: string
    x-name: endpoints.api.image.RepositoryImage
    x-path: /api/v1/repository/{repository}/image/{image_id}
    x-tag: image
  /api/v1/repository/{repository}/image/{imageid}/security:
    get:
      description: Fetches the features and vulnerabilities (if any) for a repository
        image.
      operationId: getRepoImageSecurity
      parameters:
      - description: The full path of the repository. e.g. namespace/name
        in: path
        name: repository
        required: true
        type: string
      - description: The image ID
        in: path
        name: imageid
        required: true
        type: string
      - description: Include vulnerabilities informations
        in: query
        name: vulnerabilities
        required: false
        type: boolean
      responses:
        200:
          description: Successful invocation
          schema:
            $ref: '#/definitions/ImageSecurity'
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ApiError'
        401:
          description: Session required
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: Unauthorized access
          schema:
            $ref: '#/definitions/ApiError'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ApiError'
      security:
      - oauth2_implicit:
        - repo:read
      tags:
      - secscan
    parameters:
    - description: The full path of the repository. e.g. namespace/name
      in: path
      name: repository
      required: true
      type: string
    - description: The image ID
      in: path
      name: imageid
      required: true
      type: string
    x-name: endpoints.api.secscan.RepositoryImageSecurity
    x-path: /api/v1/repository/{repository}/image/{imageid}/security
    x-tag: secscan
  /api/v1/repository/{repository}/logs:
    get:
      description: List the logs for the specified repository.
      operationId: listRepoLogs
      parameters:
      - description: The full path of the repository. e.g. namespace/name
        in: path
        name: repository
        required: true
        type: string
      - description: The page token for the next page
        in: query
        name: next_page
        required: false
        type: string
      - description: The page number for the logs
        in: query
        name: page
        required: false
        type: integer
      - description: Latest time to which to get logs (%m/%d/%Y %Z)
        in: query
        name: endtime
        required: false
        type: string
      - description: Earliest time from which to get logs (%m/%d/%Y %Z)
        in: query
        name: starttime
        required: false
        type: string
      responses:
        200:
          description: Successful invocation
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ApiError'
        401:
          description: Session required
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: Unauthorized access
          schema:
            $ref: '#/definitions/ApiError'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ApiError'
      security:
      - oauth2_implicit:
        - repo:admin
      tags:
      - logs
    parameters:
    - description: The full path of the repository. e.g. namespace/name
      in: path
      name: repository
      required: true
      type: string
    x-name: endpoints.api.logs.RepositoryLogs
    x-path: /api/v1/repository/{repository}/logs
    x-tag: logs
  /api/v1/repository/{repository}/manifest/{manifestref}/labels:
    get:
      description: ""
      operationId: listManifestLabels
      parameters:
      - description: The digest of the manifest
        in: path
        name: manifestref
        required: true
        type: string
      - description: The full path of the repository. e.g. namespace/name
        in: path
        name: repository
        required: true
        type: string
      - description: If specified, only labels matching the given prefix will be returned
        in: query
        name: filter
        required: false
        type: string
      responses:
        200:
          description: Successful invocation
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ApiError'
        401:
          description: Session required
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: Unauthorized access
          schema:
            $ref: '#/definitions/ApiError'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ApiError'
      security:
      - oauth2_implicit:
        - repo:read
      tags:
      - manifest
    parameters:
    - description: The digest of the manifest
      in: path
      name: manifestref
      required: true
      type: string
    - description: The full path of the repository. e.g. namespace/name
      in: path
      name: repository
      required: true
      type: string
    post:
      description: Adds a new label into the tag manifest.
      operationId: addManifestLabel
      parameters:
      - description: The digest of the manifest
        in: path
        name: manifestref
        required: true
        type: string
      - description: The full path of the repository. e.g. namespace/name
        in: path
        name: repository
        required: true
        type: string
      - description: Request body contents.
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/AddLabel'
      responses:
        201:
          description: Successful creation
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ApiError'
        401:
          description: Session required
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: Unauthorized access
          schema:
            $ref: '#/definitions/ApiError'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ApiError'
      security:
      - oauth2_implicit:
        - repo:write
      tags:
      - manifest
    x-name: endpoints.api.manifest.RepositoryManifestLabels
    x-path: /api/v1/repository/{repository}/manifest/{manifestref}/labels
    x-tag: manifest
  /api/v1/repository/{repository}/manifest/{manifestref}/labels/{labelid}:
    delete:
      description: Deletes an existing label from a manifest.
      operationId: deleteManifestLabel
      parameters:
      - description: The ID of the label
        in: path
        name: labelid
        required: true
        type: string
      - description: The digest of the manifest
        in: path
        name: manifestref
        required: true
        type: string
      - description: The full path of the repository. e.g. namespace/name
        in: path
        name: repository
        required: true
        type: string
      responses:
        204:
          description: Deleted
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ApiError'
        401:
          description: Session required
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: Unauthorized access
          schema:
            $ref: '#/definitions/ApiError'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ApiError'
      security:
      - oauth2_implicit:
        - repo:write
      tags:
      - manifest
    get:
      description: Retrieves the label with the specific ID under the manifest.
      operationId: getManifestLabel
      parameters:
      - description: The ID of the label
        in: path
        name: labelid
        required: true
        type: string
      - description: The digest of the manifest
        in: path
        name: manifestref
        required: true
        type: string
      - description: The full path of the repository. e.g. namespace/name
        in: path
        name: repository
        required: true
        type: string
      responses:
        200:
          description: Successful invocation
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ApiError'
        401:
          description: Session required
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: Unauthorized access
          schema:
            $ref: '#/definitions/ApiError'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ApiError'
      security:
      - oauth2_implicit:
        - repo:read
      tags:
      - manifest
    parameters:
    - description: The full path of the repository. e.g. namespace/name
      in: path
      name: repository
      required: true
      type: string
    - description: The digest of the manifest
      in: path
      name: manifestref
      required: true
      type: string
    - description: The ID of the label
      in: path
      name: labelid
      required: true
      type: string
    x-name: endpoints.api.manifest.ManageRepositoryManifestLabel
    x-path: /api/v1/repository/{repository}/manifest/{manifestref}/labels/{labelid}
    x-tag: manifest
  /api/v1/repository/{repository}/manifest/{manifestref}/security:
    get:
      description: ""
      operationId: getRepoManifestSecurity
      parameters:
      - description: The digest of the manifest
        in: path
        name: manifestref
        required: true
        type: string
      - description: The full path of the repository. e.g. namespace/name
        in: path
        name: repository
        required: true
        type: string
      - description: Include vulnerabilities informations
        in: query
        name: vulnerabilities
        required: false
        type: boolean
      responses:
        200:
          description: Successful invocation
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ApiError'
        401:
          description: Session required
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: Unauthorized access
          schema:
            $ref: '#/definitions/ApiError'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ApiError'
      security:
      - oauth2_implicit:
        - repo:read
      tags:
      - secscan
    parameters:
    - description: The digest of the manifest
      in: path
      name: manifestref
      required: true
      type: string
    - description: The full path of the repository. e.g. namespace/name
      in: path
      name: repository
      required: true
      type: string
    x-name: endpoints.api.secscan.RepositoryManifestSecurity
    x-path: /api/v1/repository/{repository}/manifest/{manifestref}/security
    x-tag: secscan
  /api/v1/repository/{repository}/notification/:
    get:
      description: List the notifications for the specified repository.
      operationId: listRepoNotifications
      parameters:
      - description: The full path of the repository. e.g. namespace/name
        in: path
        name: repository
        required: true
        type: string
      responses:
        200:
          description: Successful invocation
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ApiError'
        401:
          description: Session required
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: Unauthorized access
          schema:
            $ref: '#/definitions/ApiError'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ApiError'
      security:
      - oauth2_implicit:
        - repo:admin
      tags:
      - repositorynotification
    parameters:
    - description: The full path of the repository. e.g. namespace/name
      in: path
      name: repository
      required: true
      type: string
    post:
      description: ""
      operationId: createRepoNotification
      parameters:
      - description: The full path of the repository. e.g. namespace/name
        in: path
        name: repository
        required: true
        type: string
      - description: Request body contents.
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/NotificationCreateRequest'
      responses:
        201:
          description: Successful creation
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ApiError'
        401:
          description: Session required
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: Unauthorized access
          schema:
            $ref: '#/definitions/ApiError'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ApiError'
      security:
      - oauth2_implicit:
        - repo:admin
      tags:
      - repositorynotification
    x-name: endpoints.api.repositorynotification.RepositoryNotificationList
    x-path: /api/v1/repository/{repository}/notification/
    x-tag: repositorynotification
  /api/v1/repository/{repository}/notification/{uuid}:
    delete:
      description: Deletes the specified notification.
      operationId: deleteRepoNotification
      parameters:
      - description: The UUID of the notification
        in: path
        name: uuid
        required: true
        type: string
      - description: The full path of the repository. e.g. namespace/name
        in: path
        name: repository
        required: true
        type: string
      responses:
        204:
          description: Deleted
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ApiError'
        401:
          description: Session required
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: Unauthorized access
          schema:
            $ref: '#/definitions/ApiError'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ApiError'
      security:
      - oauth2_implicit:
        - repo:admin
      tags:
      - repositorynotification
    get:
      description: Get information for the specified notification.
      operationId: getRepoNotification
      parameters:
      - description: The UUID of the notification
        in: path
        name: uuid
        required: true
        type: string
      - description: The full path of the repository. e.g. namespace/name
        in: path
        name: repository
        required: true
        type: string
      responses:
        200:
          description: Successful invocation
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ApiError'
        401:
          description: Session required
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: Unauthorized access
          schema:
            $ref: '#/definitions/ApiError'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ApiError'
      security:
      - oauth2_implicit:
        - repo:admin
      tags:
      - repositorynotification
    parameters:
    - description: The UUID of the notification
      in: path
      name: uuid
      required: true
      type: string
    - description: The full path of the repository. e.g. namespace/name
      in: path
      name: repository
      required: true
      type: string
    post:
      description: Resets repository notification to 0 failures.
      operationId: resetRepositoryNotificationFailures
      parameters:
      - description: The UUID of the notification
        in: path
        name: uuid
        required: true
        type: string
      - description: The full path of the repository. e.g. namespace/name
        in: path
        name: repository
        required: true
        type: string
      responses:
        201:
          description: Successful creation
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ApiError'
        401:
          description: Session required
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: Unauthorized access
          schema:
            $ref: '#/definitions/ApiError'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ApiError'
      security:
      - oauth2_implicit:
        - repo:admin
      tags:
      - repositorynotification
    x-name: endpoints.api.repositorynotification.RepositoryNotification
    x-path: /api/v1/repository/{repository}/notification/{uuid}
    x-tag: repositorynotification
  /api/v1/repository/{repository}/notification/{uuid}/test:
    parameters:
    - description: The UUID of the notification
      in: path
      name: uuid
      required: true
      type: string
    - description: The full path of the repository. e.g. namespace/name
      in: path
      name: repository
      required: true
      type: string
    post:
      description: Queues a test notification for this repository.
      operationId: testRepoNotification
      parameters:
      - description: The UUID of the notification
        in: path
        name: uuid
        required: true
        type: string
      - description: The full path of the repository. e.g. namespace/name
        in: path
        name: repository
        required: true
        type: string
      responses:
        201:
          description: Successful creation
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ApiError'
        401:
          description: Session required
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: Unauthorized access
          schema:
            $ref: '#/definitions/ApiError'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ApiError'
      security:
      - oauth2_implicit:
        - repo:admin
      tags:
      - repositorynotification
    x-name: endpoints.api.repositorynotification.TestRepositoryNotification
    x-path: /api/v1/repository/{repository}/notification/{uuid}/test
    x-tag: repositorynotification
  /api/v1/repository/{repository}/permissions/team/:
    get:
      description: List all team permission.
      operationId: listRepoTeamPermissions
      parameters:
      - description: The full path of the repository. e.g. namespace/name
        in: path
        name: repository
        required: true
        type: string
      responses:
        200:
          description: Successful invocation
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ApiError'
        401:
          description: Session required
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: Unauthorized access
          schema:
            $ref: '#/definitions/ApiError'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ApiError'
      security:
      - oauth2_implicit:
        - repo:admin
      tags:
      - permission
    parameters:
    - description: The full path of the repository. e.g. namespace/name
      in: path
      name: repository
      required: true
      type: string
    x-name: endpoints.api.permission.RepositoryTeamPermissionList
    x-path: /api/v1/repository/{repository}/permissions/team/
    x-tag: permission
  /api/v1/repository/{repository}/permissions/team/{teamname}:
    delete:
      description: Delete the permission for the specified team.
      operationId: deleteTeamPermissions
      parameters:
      - description: The name of the team to which the permission applies
        in: path
        name: teamname
        required: true
        type: string
      - description: The full path of the repository. e.g. namespace/name
        in: path
        name: repository
        required: true
        type: string
      responses:
        204:
          description: Deleted
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ApiError'
        401:
          description: Session required
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: Unauthorized access
          schema:
            $ref: '#/definitions/ApiError'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ApiError'
      security:
      - oauth2_implicit:
        - repo:admin
      tags:
      - permission
    get:
      description: Fetch the permission for the specified team.
      operationId: getTeamPermissions
      parameters:
      - description: The name of the team to which the permission applies
        in: path
        name: teamname
        required: true
        type: string
      - description: The full path of the repository. e.g. namespace/name
        in: path
        name: repository
        required: true
        type: string
      responses:
        200:
          description: Successful invocation
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ApiError'
        401:
          description: Session required
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: Unauthorized access
          schema:
            $ref: '#/definitions/ApiError'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ApiError'
      security:
      - oauth2_implicit:
        - repo:admin
      tags:
      - permission
    parameters:
    - description: The full path of the repository. e.g. namespace/name
      in: path
      name: repository
      required: true
      type: string
    - description: The name of the team to which the permission applies
      in: path
      name: teamname
      required: true
      type: string
    put:
      description: Update the existing team permission.
      operationId: changeTeamPermissions
      parameters:
      - description: The name of the team to which the permission applies
        in: path
        name: teamname
        required: true
        type: string
      - description: The full path of the repository. e.g. namespace/name
        in: path
        name: repository
        required: true
        type: string
      - description: Request body contents.
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/TeamPermission'
      responses:
        200:
          description: Successful invocation
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ApiError'
        401:
          description: Session required
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: Unauthorized access
          schema:
            $ref: '#/definitions/ApiError'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ApiError'
      security:
      - oauth2_implicit:
        - repo:admin
      tags:
      - permission
    x-name: endpoints.api.permission.RepositoryTeamPermission
    x-path: /api/v1/repository/{repository}/permissions/team/{teamname}
    x-tag: permission
  /api/v1/repository/{repository}/permissions/user/:
    get:
      description: List all user permissions.
      operationId: listRepoUserPermissions
      parameters:
      - description: The full path of the repository. e.g. namespace/name
        in: path
        name: repository
        required: true
        type: string
      responses:
        200:
          description: Successful invocation
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ApiError'
        401:
          description: Session required
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: Unauthorized access
          schema:
            $ref: '#/definitions/ApiError'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ApiError'
      security:
      - oauth2_implicit:
        - repo:admin
      tags:
      - permission
    parameters:
    - description: The full path of the repository. e.g. namespace/name
      in: path
      name: repository
      required: true
      type: string
    x-name: endpoints.api.permission.RepositoryUserPermissionList
    x-path: /api/v1/repository/{repository}/permissions/user/
    x-tag: permission
  /api/v1/repository/{repository}/permissions/user/{username}:
    delete:
      description: Delete the permission for the user.
      operationId: deleteUserPermissions
      parameters:
      - description: The username of the user to which the permission applies
        in: path
        name: username
        required: true
        type: string
      - description: The full path of the repository. e.g. namespace/name
        in: path
        name: repository
        required: true
        type: string
      responses:
        204:
          description: Deleted
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/ApiError'
        401:
          description: Session required
          schema:
            $ref: '#/definitions/ApiError'
        403:
          description: Unauthorized access
          schema:
            $ref: '#/definitions/ApiError'
        404:
          description: Not found
          schema:
[...]
