---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:11:\"description\";s:825:\"<b>Access the
  New, Used and Certified cars inventories for all Car Dealers in US.</b> <br/>The
  data is sourced from online listings by over 44,000 Car dealers in US. At any time,
  there are about 6.2M searchable listings (about 1.9M unique VINs) for Used & Certified
  cars and about 6.6M (about 3.9M unique VINs) New Car listings from all over US.
  We use this API at the back for our website <a href='https://www.marketcheck.com'
  target='_blank'>www.marketcheck.com</a> and our Android and iOS mobile apps too.<br/><h5>
  Few useful links : </h5><ul><li>A quick view of the API and the use cases is depicated
  <a href='https://portals.marketcheck.com/mcapi/' target='_blank'>here</a></li><li>The
  Postman collection with various usages of the API is shared here https://www.getpostman.com/collections/2752684ff636cdd7bac2</li></ul>\";s:5:\"title\";s:16:\"Marketcheck
  Cars\";s:7:\"version\";s:5:\"1.0.3\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:9:\"ecommerce\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:94:\"https://api.apis.guru/v2/cache/logo/https_marketcheck-mccarsapiportal.apigee.io_files_logo.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:43:\"https://stagingapi.marketcheck.com/api-docs\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:10:\"apigee.net\";s:13:\"x-serviceName\";s:16:\"marketcheck-cars\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:23:\"apigee_marketcheck_cars\";s:4:\"type\";s:7:\"openapi\";}}"
host: marketcheck-prod.apigee.net
basePath: /v1
paths:
  /averages:
    get:
      description: '[Merged with the /search API - Please check the ''stats'' parameter
        to the Search API above] Get market averages for price / miles / msrp / dom
        (days on market) fields for active cars matching the given reference VIN''s
        basic specification or Year, Make, Model, Trim (Optional) criteria'
      operationId: getAverages
      parameters:
      - $ref: '#/parameters/api_key'
      - description: VIN as a reference to the type of car for which averages data
          is to be returned
        format: string
        in: query
        name: vin
        required: true
        type: string
      - description: Year of the car
        format: string
        in: query
        name: year
        required: false
        type: string
      - description: Make of the car
        format: string
        in: query
        name: make
        required: false
        type: string
      - description: Model of the Car
        format: string
        in: query
        name: model
        required: false
        type: string
      - description: Trim of the Car
        format: string
        in: query
        name: trim
        required: false
        type: string
      - description: Comma separated list of fields to generate stats for. Allowed
          fields in the list are - price, miles, msrp, dom (days on market)
        format: string
        in: query
        name: fields
        type: string
      responses:
        200:
          description: Data with Market averages
          schema:
            $ref: '#/definitions/Averages'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Error'
      summary: '[MOCK] Get Averages for YMM'
      tags:
      - Market
      x-swagger-router-controller: Market
  /comparison:
    get:
      description: '[MOCK] Get historical market trends for cars matching the given
        VIN''s basic specification or Year, Make, Model, Trim (Optional) criteria'
      operationId: getComparison
      parameters:
      - $ref: '#/parameters/api_key'
      - description: VIN as a reference to the type of car for which comparison data
          is to be returned
        format: string
        in: query
        name: vin
        required: true
        type: string
      responses:
        200:
          description: Data after Comparing market
          schema:
            $ref: '#/definitions/ComparisonPoint'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Error'
      summary: Compare market
      tags:
      - Market
      x-swagger-router-controller: Market
  /competition:
    get:
      description: '[MOCK] Competitor cars in market for current vin'
      operationId: getCompetition
      parameters:
      - $ref: '#/parameters/api_key'
      - description: VIN as a reference to the type of car for which competitors data
          is to be returned
        format: string
        in: query
        name: vin
        required: true
        type: string
      responses:
        200:
          description: Data after Comparing market
          schema:
            $ref: '#/definitions/CompetitorsPoint'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Error'
      summary: Competitors
      tags:
      - Market
      x-swagger-router-controller: Market
  /dealer/{dealer_id}:
    get:
      description: Get a particular dealer's information by its id
      operationId: getDealer
      parameters:
      - $ref: '#/parameters/api_key'
      - description: Dealer id to get all the dealer info attributes
        format: string
        in: path
        name: dealer_id
        required: true
        type: string
      responses:
        200:
          description: Dealer for the given id
          schema:
            $ref: '#/definitions/Dealer'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Error'
      summary: Dealer by id
      tags:
      - Dealer
      x-swagger-router-controller: Dealer
  /dealer/{dealer_id}/active/inventory:
    get:
      description: Get a dealer's currently active inventory
      operationId: getDealerActiveInventory
      parameters:
      - $ref: '#/parameters/api_key'
      - description: Id representing the dealer to fetch the active inventory for
        format: string
        in: path
        name: dealer_id
        required: true
        type: string
      - description: Number of results to return. Default is 10. Max is 50
        in: query
        name: rows
        required: false
        type: string
      - description: Page number to fetch the results for the given criteria. Default
          is 1. Pagination is allowed only till first 1000 results for the search
          and sort criteria. The page value can be only between 1 to 1000/rows
        in: query
        name: start
        required: false
        type: string
      responses:
        200:
          description: Inventory for the dealer
          schema:
            $ref: '#/definitions/BaseListing'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Error'
      summary: Dealer inventory
      tags:
      - Inventory
      - Dealer
      x-swagger-router-controller: Dealer
  /dealer/{dealer_id}/historical/inventory:
    get:
      description: '[v1 : Not Implemented Yet] - Get a dealer''s historical inventory'
      operationId: getDealerHistoricalInventory
      parameters:
      - description: Id representing the dealer to fetch the active inventory for
        format: string
        in: path
        name: dealer_id
        required: true
        type: string
      responses:
        200:
          description: Historical Inventory for the dealer
          schema:
            $ref: '#/definitions/BaseListing'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Error'
      summary: Dealer's historical inventory
      tags:
      - Inventory
      - Dealer
      x-swagger-router-controller: Dealer
  /dealer/{dealer_id}/landing:
    get:
      description: 'Experimental: Get cached version of dealer landing page by dealer
        id'
      operationId: getDealerLandingPage
      parameters:
      - $ref: '#/parameters/api_key'
      - description: Robot id to get the landing page html for
        format: string
        in: path
        name: dealer_id
        required: true
        type: string
      responses:
        200:
          description: Cached html for dealer for the given robot id
          schema:
            $ref: '#/definitions/DealerLandingPage'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Error'
      summary: 'Experimental: Get cached version of dealer landing page by dealer
        id'
      tags:
      - Dealer
      x-swagger-router-controller: Dealer
  /dealer/{dealer_id}/ratings:
    get:
      description: '[MOCK] Get a dealer''s Rating'
      operationId: getDealerRatings
      parameters:
      - description: Id representing the dealer to fetch the ratings for
        format: string
        in: path
        name: dealer_id
        required: true
        type: string
      responses:
        200:
          description: Rating for respective Dealer
          schema:
            $ref: '#/definitions/DealerRating'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Error'
      summary: Dealer's Rating
      tags:
      - Dealer
      x-swagger-router-controller: Dealer
  /dealer/{dealer_id}/reviews:
    get:
      description: '[MOCK] Get a dealer''s Review'
      operationId: getDealerReviews
      parameters:
      - description: Id representing the dealer to fetch the ratings for
        format: string
        in: path
        name: dealer_id
        required: true
        type: string
      responses:
        200:
          description: Review for respective Dealer
          schema:
            $ref: '#/definitions/DealerReview'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Error'
      summary: Dealer's Review
      tags:
      - Dealer
      x-swagger-router-controller: Dealer
  /dealers:
    get:
      description: The dealers API returns a list of dealers around a given point
        and radius. Max radius of only 50 miles is supported.
      operationId: dealerSearch
      parameters:
      - $ref: '#/parameters/api_key'
      - description: Latitude component of location
        format: double
        in: query
        name: latitude
        required: true
        type: number
      - description: Longitude component of location
        format: double
        in: query
        name: longitude
        required: true
        type: number
      - description: Radius around the search location
        in: query
        name: radius
        required: true
        type: integer
      - description: Number of results to return. Default is 10. Max is 50
        format: number
        in: query
        name: rows
        required: false
        type: number
      - description: Offset for the search results. Default is 1.
        format: number
        in: query
        name: start
        required: false
        type: number
      responses:
        200:
          description: List of dealers for the search
          schema:
            $ref: '#/definitions/DealersResponse'
            type: object
        default:
          description: Error
          schema:
            $ref: '#/definitions/Error'
      summary: Find car dealers around
      tags:
      - Dealer
    x-swagger-router-controller: Dealer
  /depreciation:
    get:
      description: '[MOCK] Model resale value based on depreciation'
      operationId: getDepreciation
      parameters:
      - $ref: '#/parameters/api_key'
      - description: VIN as a reference to the type of car for which Depreciation
          stats is to be returned
        format: string
        in: query
        name: vin
        required: true
        type: string
      responses:
        200:
          description: Model resale value based on depreciation
          schema:
            $ref: '#/definitions/DepreciationPoint'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Error'
      summary: Depreciation
      tags:
      - Market
      x-swagger-router-controller: Market
  /economy:
    get:
      description: '[MOCK] Calculate Economy i.e. Environmental Friendliness'
      operationId: getEconomy
      parameters:
      - $ref: '#/parameters/api_key'
      - description: VIN as a reference to the type of car for which Environmental
          Economy data is to be returned
        format: string
        in: query
        name: vin
        required: true
        type: string
      responses:
        200:
          description: Calculate Environmental friendliness
          schema:
            $ref: '#/definitions/Economy'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Error'
      summary: Get Economy based on environmental factors
      tags:
      - VIN Decoder
      x-swagger-router-controller: VINDecoder
  /facets:
    get:
      description: '[Merged with the /search API - Please check the ''facets'' parameter
        to the Search API above] Get the facets for the given simple filter criteria
        (by given VIN''s basic specification, Or by Year, Make, Model, Trim criteria)
        and facet fields'
      operationId: getFacets
      parameters:
      - $ref: '#/parameters/api_key'
      - description: VIN as a reference to the type of car for which facets data is
          to be returned
        format: string
        in: query
        name: vin
        required: false
        type: string
      - description: Year of the car
        format: string
        in: query
        name: year
        required: false
        type: string
      - description: Make of the car
        format: string
        in: query
        name: make
        required: false
        type: string
      - description: Model of the Car
        format: string
        in: query
        name: model
        required: false
        type: string
      - description: Trim of the Car
        format: string
        in: query
        name: trim
        required: false
        type: string
      - description: Comma separated list of fields to generate facets for. Supported
          fields are - year, make, model, trim, exterior_color, interior_color, drivetrain,
          vehicle_type, car_type, body_style, body_subtype, doors
        format: string
        in: query
        name: fields
        required: true
        type: string
      responses:
        200:
          description: Facet details for the requested fields
          schema:
            items:
              $ref: '#/definitions/FacetItem'
            type: array
        default:
          description: Error
          schema:
            $ref: '#/definitions/Error'
      summary: Facets
      tags:
      - Facets
      x-swagger-router-controller: Facets
  /fuel_efficiency:
    get:
      description: '[MOCK] Calculate fuel efficiency from taxonomy db mileage values'
      operationId: getEfficiency
      parameters:
      - $ref: '#/parameters/api_key'
      - description: VIN as a reference to the type of car for which fuel data is
          to be returned
        format: string
        in: query
        name: vin
        required: true
        type: string
      responses:
        200:
          description: Fuel Efficiency
          schema:
            $ref: '#/definitions/FuelEfficiency'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Error'
      summary: Get fuel effeciency
      tags:
      - VIN Decoder
      x-swagger-router-controller: VINDecoder
  /history/{vin}:
    get:
      description: The history API returns online listing history for a car identified
        by its VIN. History listings are sorted in the descending order of the listing
        date / last seen date
      operationId: history
      parameters:
      - $ref: '#/parameters/api_key'
      - description: The VIN to identify the car to fetch the listing history. Must
          be a valid 17 char VIN
        format: string
        in: path
        name: vin
        required: true
        type: string
      - description: List of fields to fetch, in case the default fields list in the
          response is to be trimmed down
        format: string
        in: query
        name: fields
        required: false
        type: string
      - description: Number of results to return. Default is 10. Max is 50
        format: number
        in: query
        name: rows
        required: false
        type: number
      - description: Page number to fetch the results for the given criteria. Default
          is 1.
        format: number
        in: query
        name: page
        required: false
        type: number
      responses:
        200:
          description: Online listing history for the given vin
          schema:
            items:
              $ref: '#/definitions/HistoricalListing'
            type: array
        default:
          description: Error
          schema:
            $ref: '#/definitions/Error'
      summary: Get a cars online listing history
      tags:
      - History
    x-swagger-router-controller: Listing
  /listing/{id}:
    get:
      description: Get a particular listing by its id
      operationId: getListing
      parameters:
      - $ref: '#/parameters/api_key'
      - description: Listing id to get all the listing attributes
        format: string
        in: path
        name: id
        required: true
        type: string
      responses:
        200:
          description: Listing for the given id
          schema:
            $ref: '#/definitions/Listing'
            type: object
        default:
          description: Error
          schema:
            $ref: '#/definitions/Error'
      summary: Listing by id
      tags:
      - Listings
    x-swagger-router-controller: Listing
  /listing/{id}/extra:
    get:
      description: Get listing options, features, seller comments
      operationId: getListingExtra
      parameters:
      - $ref: '#/parameters/api_key'
      - description: Listing id to get all the long text listing attributes
        format: string
        in: path
        name: id
        required: true
        type: string
      responses:
        200:
          description: ListingAttributes for the given listing id
          schema:
            $ref: '#/definitions/ListingExtraAttributes'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Error'
      summary: Long text Listings attributes for Listing with the given id
      tags:
      - Listings
    x-swagger-router-controller: Listing
  /listing/{id}/media:
    get:
      description: Get listing media (photo, photos) by id
      operationId: getListingMedia
      parameters:
      - $ref: '#/parameters/api_key'
      - description: Listing id to get all the listing attributes
        format: string
        in: path
        name: id
        required: true
        type: string
      responses:
        200:
          description: ListingMedia for the given listing id
          schema:
            $ref: '#/definitions/ListingMedia'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Error'
      summary: Listing media by id
      tags:
      - Listings
    x-swagger-router-controller: Listing
  /listing/{id}/vdp:
    get:
      description: Cached HTML of the Vehicle Details Page (VDP) for the listing.
        The HTML is cached only for 7 days for all listings. So this API could be
        used to get HTML of mostly active listings and that have recently expired
      operationId: getListingVDP
      parameters:
      - $ref: '#/parameters/api_key'
      - description: Listing id to get the vehicle details page (VDP) HTML
        format: string
        in: path
        name: id
        required: true
        type: string
      - description: Get only HTML for given listings VDP page
        format: string
        in: query
        name: html
        required: false
        type: string
      responses:
        200:
          description: ListingVDP for the given listing id
          schema:
            $ref: '#/definitions/ListingVDP'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Error'
      summary: Get listing HTML
      tags:
      - Listings
    x-swagger-router-controller: Listing
  /mds:
    get:
      description: Get the basic information on specifications for a car identified
        by a valid VIN
      operationId: getMDS
      parameters:
      - $ref: '#/parameters/api_key'
      - description: VIN to decode
        format: string
        in: query
        name: vin
        required: true
        type: string
      - description: Exact parameter
        format: string
        in: query
        name: exact
        required: false
        type: string
      - description: Latitude component of location
        format: double
        in: query
        name: latitude
        required: false
        type: number
      - description: Longitude component of location
        format: double
        in: query
        name: longitude
        required: false
        type: number
      - description: Radius around the search location
        in: query
        name: radius
        required: false
        type: integer
      - description: Debug parameter
        format: string
        in: query
        name: debug
        required: false
        type: string
      - description: To fetch sold vins
        format: string
        in: query
        name: include_sold
        required: false
        type: string
      responses:
        200:
          description: Provides Market Days supply for year make model or trim combination
          schema:
            $ref: '#/definitions/Mds'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Error'
      summary: Market Days Supply
      tags:
      - Market
      x-swagger-router-controller: MDS
  /plots:
    get:
      description: '[DEPRECIATED Please check this in /search API using plot=true]Get
        price, miles plot data for active cars matching the given VIN''s basic specification
        or Year, Make, Model, Trim (Optional) criteria'
      operationId: getPriceMilesPlotData
      parameters:
      - $ref: '#/parameters/api_key'
      - description: VIN as a reference to the type of car for which plot data is
          to be returned
        format: string
        in: query
        name: vin
        required: false
        type: string
      - description: Year of the car
        format: string
        in: query
        name: year
        required: false
        type: string
      - description: Make of the car
        format: string
        in: query
        name: make
        required: false
        type: string
      - description: Model of the Car
        format: string
        in: query
        name: model
        required: false
        type: string
      - description: Trim of the Car
        format: string
        in: query
        name: trim
        required: false
        type: string
      - description: Car type to get the scatter plot data for
        format: string
        in: query
        name: car_type
        required: true
        type: string
      - description: Number of results to return. Default is 1000. Max is 10000
        in: query
        name: rows
        required: false
        type: string
      responses:
        200:
          description: Data to plot Price x Miles on a graph
          schema:
            items:
              $ref: '#/definitions/PlotPoint'
            type: array
        default:
          description: Error
          schema:
            $ref: '#/definitions/Error'
      summary: Price, Miles plots data for given criteria
      tags:
      - Graphs
      x-swagger-router-controller: Graph
  /popularity:
    get:
      description: '[MOCK] [Merged with the /search API - Please check the ''popularity''
        parameter to the Search API above] Get the Popularity for the given simple
        filter criteria (by given Year, Make, Model, Trim criteria)'
      operationId: getPopularity
      parameters:
      - $ref: '#/parameters/api_key'
      - description: Year of the car
        format: string
        in: query
        name: year
        required: true
        type: string
      - description: Make of the car
        format: string
        in: query
        name: make
        required: true
        type: string
      - description: Model of the Car
        format: string
        in: query
        name: model
        required: true
        type: string
      - description: Trim of the Car
        format: string
        in: query
        name: trim
        required: true
        type: string
      - description: Body type to filter the cars on. Valid values are the ones returned
          by body_type facets API call
        format: string
        in: query
        name: body_type
        required: true
        type: string
      - description: The list of fields for which stats need to be generated based
          on the matching listings for the search criteria. Allowed fields are - price,
          miles, msrp, dom The stats consists of mean, max, average and count of listings
          based on which the stats are calculated for the field. Stats could be requested
          in addition to the listings for the search. Please note - The API calls
          with the stats fields may take longer to respond.
        in: query
        name: stats
        required: false
        type: string
      responses:
        200:
          description: Popularity details for the requested fields
          schema:
            items:
              $ref: '#/definitions/PopularityItem'
            type: array
        default:
          description: Error
          schema:
            $ref: '#/definitions/Error'
      summary: Popularity
      tags:
      - Market
      x-swagger-router-controller: Listing
  /safety:
    get:
      description: '[MOCK] Get Safety ratings from third party sources'
      operationId: getSafetyRating
      parameters:
      - $ref: '#/parameters/api_key'
      - description: VIN to fetch the safety ratings
        format: string
        in: query
        name: vin
        required: true
        type: string
      responses:
        200:
          description: Safety Rating for the given vin
          schema:
            $ref: '#/definitions/SafetyRating'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Error'
      summary: Get Safety Rating
      tags:
      - VIN Decoder
    x-swagger-router-controller: VINDecoder
  /search:
    get:
      description: This endpoint is the meat of the API and serves many purposes.
        This API produces a list of currently active cars from the market for the
        given search criteria. The API results are limited to allow pagination upto
        1000 rows. n The search API facilitates the following use cases - n1. Search
        Cars around a given geo-point within a given radius n2. Search cars for a
        specific year / make / model or combination of these n3. Search cars matching
        multiple year, make, model combinatins in the same search requestn4. Filter
        results by most car specification attributesn5. Search for similar cars by
        VIN or Taxonomy VIN n6. Filter cars within a given price / miles / days on
        market (dom) rangen7. Specify a sort order for the results on price / miles
        / dom / listed date n8. Search cars for a given City / State combination n9.
        Get Facets to build the search drill downs n10. Get Market averages for price/miles/dom/msrp
        for your search
      operationId: search
      parameters:
      - $ref: '#/parameters/api_key'
      - description: Latitude component of location
        format: double
        in: query
        name: latitude
        required: false
        type: number
      - description: Longitude component of location
        format: double
        in: query
        name: longitude
        required: false
        type: number
      - description: Radius around the search location
        in: query
        name: radius
        required: false
        type: integer
      - description: car search bases on zipcode
        in: query
        name: zip
        required: false
        type: string
      - description: Car type. Allowed values are - new / used / certified
        enum:
        - new
        - used
        - certified
        in: query
        name: car_type
        required: false
        type: string
      - description: Seller type to filter cars on. Valid filter values are those
          that our Search facets API returns for unique seller types. You can pass
          in multiple seller type values comma separated.
        format: string
        in: query
        name: seller_type
        required: false
        type: string
      - description: Indicates whether car has had only one owner or not
        format: string
        in: query
        name: carfax_1_owner
        required: false
        type: string
      - description: Indicates whether car has had any accidents or not
        format: string
        in: query
        name: carfax_clean_title
        required: false
        type: string
      - description: Car year - 1980 onwards. Valid filter values are those that our
          Search facets API returns for unique years. You can pass in multiple year
          values comma separated.
        in: query
        name: year
        required: false
        type: string
      - description: Car Make - should be a standard OEM Make name. Valid filter values
          are those that our Search facets API returns for unique make. You can pass
          in multiple make values separated by comma. e.g. ford,audi
        format: string
        in: query
        name: make
        required: false
        type: string
      - description: Car model to search. Valid filter values are those that our Search
          facets API returns for unique model. You can pass in multiple model values
          comma separated for e.g f-150,Mustang.
        format: string
        in: query
        name: model
        required: false
        type: string
      - description: Car trim to search. Valid filter values are those that our Search
          facets API returns for unique trim. You can pass in multiple trim values
          comma separated
        format: string
        in: query
        name: trim
        required: false
        type: string
      - description: Dealer id to filter the cars.
        format: string
        in: query
        name: dealer_id
        required: false
        type: string
      - description: Car vin to search
        format: string
        in: query
        name: vin
        required: false
        type: string
      - description: Source to search cars. Valid filter values are those that our
          Search facets API returns for unique source. You can pass in multiple source
          values comma separated
        format: string
        in: query
        name: source
        required: false
        type: string
      - description: Body type to filter the cars on. Valid filter values are those
          that our Search facets API returns for unique body types. You can pass in
          multiple body types comma separated.
        format: string
        in: query
        name: body_type
        required: false
        type: string
      - description: Body subtype to filter the cars on. Valid filter values are those
          that our Search facets API returns for unique body subtypes. You can pass
          in multiple body subtype values comma separated
        format: string
        in: query
        name: body_subtype
        required: false
        type: string
      - description: Vehicle type to filter the cars on. Valid filter values are those
          that our Search facets API returns for unique vehicle types. You can pass
          in multiple vehicle type values comma separated
        format: string
        in: query
        name: vehicle_type
        required: false
        type: string
      - description: Comma separated list of 17 digit vins to search the matching
          cars for. Only 10 VINs allowed per request. If the request contains more
          than 10 VINs the first 10 VINs will be considered. Could be used as a More
          Like This or Similar Vehicles search for the given VINs. Ths vins parameter
          is an alternative to taxonomy_vins or ymmt parameters available with the
          search API. vins and taxonomy_vins parameters could be used to filter our
          cars with the exact build represented by the vins or taxonomy_vins whereas
          ymmt is a top level filter that does not filter cars by the build attributes
          like doors, drivetrain, cylinders, body type, body subtype, vehicle type
          etc
        in: query
        name: vins
        required: false
        type: string
      - description: Comma separated list of 10 letters excert from the 17 letter
          VIN. The 10 letters to be picked up from the 17 letter VIN are - first 8
          letters and the 10th and 11th letter. E.g. For a VIN - 1FTFW1EF3EKE57182
          the taxonomy vin would be - 1FTFW1EFEK  A taxonomy VIN identified a build
          of a car and could be used to filter our cars of a particular build. This
          is an alternative to the vin or ymmt parameters to the search API.
        in: query
        name: taxonomy_vins
        required: false
        type: string
      - description: Comma separated list of Year, Make, Model, Trim combinations.
          Each combination needs to have the year,make,model, trim values separated
          by a pipe '|' character in the form year|make|model|trim. e.g. 2010|Audi|A5,2014|Nissan|Sentra|S
          6MT,|Honda|City|   You could just provide strings of the form - 'year|make||'
          or 'year|make|model' or '|make|model|' combinations. Individual year / make
          / model filters provied with the API calls will take precedence over the
          Year, Make, Model, Trim combinations. The Make, Model, Trim values must
          be valid values as per the Marketcheck Vin Decoder. If you are using a separate
          vin decoder then look at using the 'vins' or 'taxonomy_vins' parameter to
          the search api instead the year|make|model|trim combinations.
        in: query
        name: ymmt
        required: false
        type: string
      - description: Comma separated list of Year, Make, Model, Trim fields. For example
          - year,make,model,trim fields for which user wants to do an exact match
        in: query
        name: match
        required: false
        type: string
      - description: Cylinders to filter the cars on. Valid filter values are those
          that our Search facets API returns for unique cylinder values. You can pass
          in multiple cylinder values comma separated
        format: string
        in: query
        name: cylinders
        required: false
        type: string
      - description: Transmission to filter the cars on. [a = Automatic, m = Manual].
          Valid filter values are those that our Search facets API returns for unique
          transmission. You can pass in multiple transmission values comma separated
        format: string
        in: query
        name: transmission
        required: false
        type: string
      - description: Speeds to filter the cars on. Valid filter values are those that
          our Search facets API returns for unique speeds. You can pass in multiple
          speeds values comma separated
        format: string
        in: query
        name: speeds
        required: false
        type: string
      - description: Doors to filter the cars on. Valid filter values are those that
          our Search facets API returns for unique doors. You can pass in multiple
          doors values comma separated
        format: string
        in: query
        name: doors
        required: false
        type: string
      - description: Drivetrain to filter the cars on. Valid filter values are those
          that our Search facets API returns for unique drivetrains. You can pass
          in multiple drivetrain values comma separated
        format: string
        in: query
        name: drivetrain
        required: false
        type: string
      - description: Exterior color to match. Valid filter values are those that our
          Search facets API returns for unique exterior colors. You can pass in multiple
          exterior color values comma separated
        in: query
        name: exterior_color
        required: false
        type: string
      - description: Interior color to match. Valid filter values are those that our
          Search facets API returns for unique interior colors. You can pass in multiple
          interior color values comma separated
        in: query
        name: interior_color
        required: false
        type: string
      - description: Filter listings on engine
        in: query
        name: engine
        required: false
        type: string
      - description: Engine Type to match. Valid filter values are those that our
          Search facets API returns for unique engine types. You can pass in multiple
          engine type values comma separated
        in: query
        name: engine_type
        required: false
        type: string
      - description: Engine Aspiration to match. Valid filter values are those that
          our Search facets API returns for unique Engine Aspirations. You can pass
          in multiple Engine aspirations values comma separated
        in: query
        name: engine_aspiration
        required: false
        type: string
      - description: Engine Block to match. Valid filter values are those that our
          Search facets API returns for unique Engine Block. You can pass in multiple
          Engine Block values comma separated
        in: query
        name: engine_block
        required: false
        type: string
      - description: Miles range to filter cars with miles in the given range. Range
          to be given in the format - min-max e.g. 1000-5000
        format: string
        in: query
        name: miles_range
        required: false
        type: string
      - description: Price range to filter cars with the price in the range given.
          Range to be given in the format - min-max e.g. 1000-5000
        format: string
        in: query
        name: price_range
        required: false
        type: string
      - description: Days on Market range to filter cars with the DOM within the given
          range. Range to be given in the format - min-max e.g. 10-50
        format: string
        in: query
        name: dom_range
        required: false
        type: string
      - description: Sort by field - allowed fields are distance|price|miles|dom|age|posted_at|year.
          Default sort field is distance from the given point
        format: string
        in: query
        name: sort_by
        required: false
        type: string
      - description: Sort order - asc or desc. Default sort order is distance from
          a point.
        format: string
        in: query
        name: sort_order
        required: false
        type: string
      - description: Number of results to return. Default is 10. Max is 50
        in: query
        name: rows
        required: false
        type: string
      - description: Page number to fetch the results for the given criteria. Default
          is 1. Pagination is allowed only till first 1000 results for the search
          and sort criteria. The page value can be only between 1 to 1000/rows
        in: query
        name: start
        required: false
        type: string
      - description: The comma separated list of fields for which facets are requested.
          Supported fields are - year, make, model, trim, vehicle_type, car_type,
          body_type, body_subtype, drivetrain, cylinders, transmission, exterior_color,
          interior_color, doors, engine_type, engine_aspiration, engine_block. Facets
          could be requested in addition to the listings for the search. Please note
          - The API calls with lots of facet fields may take longer to respond.
        in: query
        name: facets
        required: false
        type: string
      - description: The list of fields for which stats need to be generated based
          on the matching listings for the search criteria. Allowed fields are - price,
          miles, msrp, dom The stats consists of mean, max, average and count of listings
          based on which the stats are calculated for the field. Stats could be requested
          in addition to the listings for the search. Please note - The API calls
          with the stats fields may take longer to respond.
        in: query
        name: stats
        required: false
        type: string
      - description: Filter on Country, by default US. Search available on US (United
          States) and CA (Canada)
        in: query
        name: country
        required: false
        type: string
      - description: If plot has value true results in around 25k coordinates with
          limited fields to plot respective graph
        in: query
        name: plot
        required: false
        type: string
      - description: If nodedup is set to true then will give results using is_searchable
        in: query
        name: nodedup
        required: false
        type: string
      - description: Filter listsings on State
        in: query
        name: state
        required: false
        type: string
      - description: Filter listings on city
        in: query
        name: city
        required: false
        type: string
      - description: Filter listings on dealer_name
        in: query
        name: dealer_name
        required: false
        type: string
      - description: Filter listings on web scraped trim
        in: query
        name: trim_o
        required: false
        type: string
      - description: Filter trim on custom possible matches
        in: query
        name: trim_r
        required: false
        type: string
      - description: Active Days on Market range to filter cars with the DOM within
          the given range. Range to be given in the format - min-max e.g. 10-50
        format: string
        in: query
        name: dom_active_range
        required: false
        type: string
      - description: Last 180 Days on Market range to filter cars with the DOM within
          the given range. Range to be given in the format - min-max e.g. 10-50
        format: string
        in: query
        name: dom_180_range
        required: false
        type: string
      - description: Tokenizer search on options for multiple options use | as seperator
        format: string
        in: query
        name: options
        required: false
        type: string
      - description: Tokenizer search on features for multiple options use | as seperator
        format: string
        in: query
        name: features
        required: false
        type: string
      responses:
        200:
          description: List of all cars listings matching the search & filter criteria
          schema:
            $ref: '#/definitions/SearchResponse'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Error'
      summary: Gets active car listings for the given search criteria
      tags:
      - Listings
    x-swagger-router-controller: Listing
  /trends:
    get:
      description: Get historical market trends for cars matching the given VIN's
        basic specification or Year, Make, Model, Trim (Optional) criteria
      operationId: getTrends
      parameters:
      - $ref: '#/parameters/api_key'
      - description: VIN as a reference to the type of car for which trend data is
          to be returned
        format: string
        in: query
        name: vin
        required: true
        type: string
      - description: Car type. Allowed values are - new / used / certified
        format: string
        in: query
        name: car_type
        required: true
        type: string
      - description: Year of the car
        format: string
        in: query
        name: year
        required: false
        type: string
      - description: Make of the car
        format: string
        in: query
        name: make
        required: false
        type: string
      - description: Model of the Car
        format: string
        in: query
        name: model
        required: false
        type: string
      - description: Trim of the Car
        format: string
        in: query
        name: trim
        required: false
        type: string
      responses:
        200:
          description: Data with Market Trend values
          schema:
            items:
              $ref: '#/definitions/TrendPoint'
            type: array
        default:
          description: Error
          schema:
            $ref: '#/definitions/Error'
      summary: Get Trends for criteria
      tags:
      - Market
      x-swagger-router-controller: Trends
  /vin/{vin}/specs:
    get:
      description: Get the basic information on specifications for a car identified
        by a valid VIN
      operationId: decode
      parameters:
      - $ref: '#/parameters/api_key'
      - description: VIN to decode
        format: string
        in: path
        name: vin
        required: true
        type: string
      responses:
        200:
          description: Basic sepcifications details about the car
          schema:
            $ref: '#/definitions/Build'
        default:
          description: Error
          schema:
            $ref: '#/definitions/Error'
      summary: VIN Decoder
      tags:
      - VIN Decoder
      x-swagger-router-controller: VINDecoder
  /vin_report_summary:
    get:
      description: '[MOCK] Generate Summary report'
      operationId: getSummaryReport
      parameters:
      - $ref: '#/parameters/api_key'
      - description: VIN as a reference to the type of car for which Summary data
          is to be returned
        format: string
        in: query
        name: vin
        required: true
        type: string
      responses:
        200:
          description: Summary Report
          schema:
            items:
              $ref: '#/definitions/VinReport'
            type: array
        default:
          description: Error
          schema:
            $ref: '#/definitions/Error'
      summary: Get Summary Report
      tags:
      - Listings
      x-swagger-router-controller: Listing
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":36:{s:8:\"Averages\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:3:\"age\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Average
  age of the car\";s:4:\"type\";s:6:\"number\";}s:3:\"dom\";O:8:\"stdClass\":2:{s:11:\"description\";s:109:\"Average
  Days on Market value for the car based on all listings found in the Marketcheck
  database for this car\";s:4:\"type\";s:6:\"number\";}s:5:\"miles\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Mean
  miles value for the car\";s:4:\"type\";s:6:\"number\";}s:4:\"msrp\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Mean
  msrp value for the car\";s:4:\"type\";s:6:\"number\";}s:5:\"price\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Mean
  price value for the car\";s:4:\"type\";s:6:\"number\";}s:5:\"units\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"No
  of units for this car on the market\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:11:\"BaseListing\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Minimal
  set of attributes describing a listing\";s:10:\"properties\";O:8:\"stdClass\":29:{s:5:\"build\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Build\";}s:6:\"dealer\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Dealer\";s:4:\"type\";s:6:\"object\";}s:8:\"distance\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"Distance
  of the car's location from the specified user lcoation\";s:4:\"type\";s:6:\"number\";}s:3:\"dom\";O:8:\"stdClass\":2:{s:11:\"description\";s:120:\"Days
  on Market value for the car based on current and historical listings found in the
  Marketcheck database for this car\";s:4:\"type\";s:6:\"number\";}s:7:\"dom_180\";O:8:\"stdClass\":2:{s:11:\"description\";s:122:\"Days
  on Market value for the car based on current and last 6 month listings found in
  the Marketcheck database for this car\";s:4:\"type\";s:6:\"number\";}s:10:\"dom_active\";O:8:\"stdClass\":2:{s:11:\"description\";s:122:\"Days
  on Market value for the car based on current and last 30 days listings found in
  the Marketcheck database for this car\";s:4:\"type\";s:6:\"number\";}s:14:\"exterior_color\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Exterior
  color of the car\";s:4:\"type\";s:6:\"string\";}s:13:\"first_seen_at\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Listing
  first seen at first scraped timestamp\";s:4:\"type\";s:6:\"number\";}s:18:\"first_seen_at_date\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Listing
  first seen at first scraped date\";s:4:\"type\";s:6:\"string\";}s:7:\"heading\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Listing
  title as displayed on the source website\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:79:\"Unique
  identifier representing a specific listing from the Marketcheck database\";s:4:\"type\";s:6:\"string\";}s:14:\"interior_color\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Interior
  color of the car\";s:4:\"type\";s:6:\"string\";}s:14:\"inventory_type\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Inventory
  type of car\";s:4:\"type\";s:6:\"string\";}s:12:\"is_certified\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Certified
  car\";s:4:\"type\";s:7:\"integer\";}s:12:\"last_seen_at\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Listing
  last seen at (most recent) timestamp\";s:4:\"type\";s:6:\"number\";}s:17:\"last_seen_at_date\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Listing
  last seen at (most recent) date\";s:4:\"type\";s:6:\"string\";}s:5:\"media\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:26:\"#/definitions/ListingMedia\";s:11:\"description\";s:58:\"Car
  Media Attributes - main photo link/url and photo links\";s:4:\"type\";s:6:\"object\";}s:5:\"miles\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"Odometer
  reading / reported miles usage for the car\";s:4:\"type\";s:6:\"string\";}s:5:\"price\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Asking
  price for the car\";s:4:\"type\";s:6:\"string\";}s:9:\"ref_miles\";O:8:\"stdClass\":2:{s:11:\"description\";s:239:\"Last
  Odometer reading / reported miles usage for the car. If the asking miles value is
  not or is available then the last_miles could perhaps be used. last_miles is the
  miles for the car listed on the source website as of last_miles_dt date\";s:4:\"type\";s:6:\"string\";}s:12:\"ref_miles_dt\";O:8:\"stdClass\":2:{s:11:\"description\";s:87:\"The
  date at which the last miles was reported online. This is earlier to last_seen_date\";s:4:\"type\";s:7:\"integer\";}s:9:\"ref_price\";O:8:\"stdClass\":2:{s:11:\"description\";s:214:\"Last
  reported price for the car. If the asking price value is not or is available then
  the last_price could perhaps be used. last_price is the price for the car listed
  on the source website as of last_price_dt date\";s:4:\"type\";s:6:\"string\";}s:12:\"ref_price_dt\";O:8:\"stdClass\":2:{s:11:\"description\";s:87:\"The
  date at which the last price was reported online. This is earlier to last_seen_date\";s:4:\"type\";s:7:\"integer\";}s:15:\"scraped_at_date\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Listing
  first seen at first scraped date\";s:4:\"type\";s:6:\"number\";}s:11:\"seller_type\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Seller
  type for the car\";s:4:\"type\";s:6:\"string\";}s:6:\"source\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Source
  domain of the listing\";s:4:\"type\";s:6:\"string\";}s:8:\"stock_no\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Stock
  no of the car\";s:4:\"type\";s:6:\"string\";}s:7:\"vdp_url\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Vehicle
  Details Page url of the specific car\";s:4:\"type\";s:6:\"string\";}s:3:\"vin\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"VIN
  for the car\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Build\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Describes
  the Car specification\";s:10:\"properties\";O:8:\"stdClass\":26:{s:13:\"antibrake_sys\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Antibrake
  system of the car\";s:4:\"type\";s:6:\"string\";}s:9:\"body_type\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Body
  type of the car\";s:4:\"type\";s:6:\"string\";}s:10:\"city_miles\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"City
  miles of the car\";s:4:\"type\";s:6:\"string\";}s:9:\"cylinders\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"No
  of cylinders of the car\";s:4:\"type\";s:6:\"number\";}s:5:\"doors\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"No
  of doors of the car\";s:4:\"type\";s:6:\"number\";}s:10:\"drivetrain\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Drivetrain
  of the car\";s:4:\"type\";s:6:\"string\";}s:6:\"engine\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Engine
  of the car\";s:4:\"type\";s:6:\"string\";}s:17:\"engine_aspiration\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Engine
  aspiration of the car\";s:4:\"type\";s:6:\"string\";}s:12:\"engine_block\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Engine
  block of the car\";s:4:\"type\";s:6:\"string\";}s:14:\"engine_measure\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Engine
  block of the car\";s:4:\"type\";s:6:\"string\";}s:11:\"engine_size\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Engine
  size of the car\";s:4:\"type\";s:6:\"string\";}s:9:\"fuel_type\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Fuel
  type of the car\";s:4:\"type\";s:6:\"string\";}s:13:\"highway_miles\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Highway
  miles of the car\";s:4:\"type\";s:6:\"string\";}s:7:\"made_in\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Made
  in of the car\";s:4:\"type\";s:6:\"string\";}s:4:\"make\";O:8:\"stdClass\":2:{s:11:\"description\";s:8:\"Car
  Make\";s:4:\"type\";s:6:\"string\";}s:5:\"model\";O:8:\"stdClass\":2:{s:11:\"description\";s:9:\"Car
  model\";s:4:\"type\";s:6:\"string\";}s:14:\"overall_height\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Overall
  height of the car\";s:4:\"type\";s:6:\"string\";}s:14:\"overall_length\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Overall
  length of the car\";s:4:\"type\";s:6:\"string\";}s:13:\"overall_width\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Overall
  width of the car\";s:4:\"type\";s:6:\"string\";}s:11:\"std_seating\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Std
  seating of the car\";s:4:\"type\";s:6:\"string\";}s:13:\"steering_type\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Steering
  type of the car\";s:4:\"type\";s:6:\"string\";}s:9:\"tank_size\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Tank
  size of the car\";s:4:\"type\";s:6:\"string\";}s:12:\"transmission\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Transmission
  of the car\";s:4:\"type\";s:6:\"string\";}s:4:\"trim\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Trim
  of the car\";s:4:\"type\";s:6:\"string\";}s:12:\"vehicle_type\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Vehicle
  type of the car\";s:4:\"type\";s:6:\"string\";}s:4:\"year\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Year
  of the Car\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:15:\"ComparisonPoint\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:16:\"dealer_indicator\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Deal
  Indicator\";s:4:\"type\";s:6:\"string\";}s:15:\"fair_deal_price\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Fair
  Deal Price\";s:4:\"type\";s:6:\"number\";}s:22:\"similar_vehicles_count\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Similar
  Vehicles Count\";s:4:\"type\";s:6:\"number\";}s:9:\"vin_price\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Price
  for Vin\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:21:\"CompetitorsCarDetails\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:16:\"avg_market_value\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Estimated
  market value\";s:4:\"type\";s:6:\"string\";}s:5:\"miles\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"mileage
  of car\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Current
  car name\";s:4:\"type\";s:6:\"string\";}s:5:\"price\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"price
  of car\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"CompetitorsPoint\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"current_car\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:35:\"#/definitions/CompetitorsCarDetails\";s:11:\"description\";s:22:\"Details
  of current car\";s:4:\"type\";s:6:\"object\";}s:15:\"same_car_models\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:33:\"#/definitions/CompetitorsSameCars\";s:11:\"description\";s:20:\"List
  same car models\";s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:18:\"similar_car_models\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:36:\"#/definitions/CompetitorsSimilarCars\";s:11:\"description\";s:23:\"List
  similar car models\";s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:19:\"CompetitorsSameCars\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:16:\"avg_market_value\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Estimated
  market value of year make model combination\";s:4:\"type\";s:6:\"number\";}s:9:\"avg_miles\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Mileage
  of year make model combination\";s:4:\"type\";s:6:\"number\";}s:9:\"avg_price\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Price
  of year make model combination\";s:4:\"type\";s:6:\"number\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"ymm_comb_name\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:22:\"CompetitorsSimilarCars\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:16:\"avg_market_value\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"Average
  market value of year make model combination\";s:4:\"type\";s:6:\"number\";}s:9:\"avg_miles\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Average
  mileage of year make model combination\";s:4:\"type\";s:6:\"number\";}s:9:\"avg_price\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Average
  price of year make model combination\";s:4:\"type\";s:6:\"number\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"ymm_comb_name\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Dealer\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":16:{s:8:\"car_type\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Car
  type new|used|certified\";s:4:\"type\";s:6:\"string\";}s:4:\"city\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"City
  of the dealer\";s:4:\"type\";s:6:\"string\";}s:11:\"dealer_type\";O:8:\"stdClass\":3:{s:7:\"default\";s:11:\"independent\";s:11:\"description\";s:61:\"Dealer
  type - independent, franchise, multi-brand, authorized\";s:4:\"type\";s:6:\"string\";}s:12:\"franchise_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Dealer
  franchise id\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"The
  unique id associated with the dealer in the Marketcheck database\";s:4:\"type\";s:6:\"string\";}s:8:\"latitude\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Latutide
  for the dealer location\";s:4:\"type\";s:6:\"string\";}s:9:\"longitude\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Longitude
  for the dealer location\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Name
  of the dealer\";s:4:\"type\";s:6:\"string\";}s:5:\"phone\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Contact
  no of the dealer\";s:4:\"type\";s:6:\"string\";}s:6:\"rating\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Overall
  rating of the dealership on scale 1-5\";s:4:\"type\";s:6:\"number\";}s:5:\"state\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"State
  of the dealer\";s:4:\"type\";s:6:\"string\";}s:6:\"street\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Street
  of the dealer\";s:4:\"type\";s:6:\"string\";}s:20:\"target_url_certified\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Target
  url for the certified cars listing\";s:4:\"type\";s:6:\"string\";}s:14:\"target_url_new\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Target
  url for the new cars listing\";s:4:\"type\";s:6:\"string\";}s:15:\"target_url_used\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Target
  url for the used cars listing\";s:4:\"type\";s:6:\"string\";}s:3:\"zip\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Zip
  of the dealer\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"DealerLandingPage\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Describes
  the dealer landing page (SRP) HTML object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"crawled_at\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"The
  timestamp indicating the time when the SRP was cached\";s:4:\"type\";s:6:\"number\";}s:4:\"html\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  HTML string for the listing web page\";s:4:\"type\";s:6:\"string\";}s:7:\"srp_url\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"The
  URL of the SRP\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"DealerRating\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:4:\"city\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"City
  of the dealer\";s:4:\"type\";s:6:\"string\";}s:8:\"latitude\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Latutide
  for the dealer location\";s:4:\"type\";s:6:\"string\";}s:9:\"longitude\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Longitude
  for the dealer location\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Name
  of the dealer\";s:4:\"type\";s:6:\"string\";}s:14:\"overall_rating\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Overall
  rating of the dealership on scale 1-5\";s:4:\"type\";s:6:\"number\";}s:17:\"rating_components\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/RatingComponents\";}s:4:\"type\";s:5:\"array\";}s:5:\"state\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"State
  of the dealer\";s:4:\"type\";s:6:\"string\";}s:6:\"street\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Street
  of the dealer\";s:4:\"type\";s:6:\"string\";}s:3:\"zip\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Zip
  of the dealer\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"DealerReview\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:4:\"city\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"City
  of the dealer\";s:4:\"type\";s:6:\"string\";}s:8:\"latitude\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Latutide
  for the dealer location\";s:4:\"type\";s:6:\"string\";}s:9:\"longitude\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Longitude
  for the dealer location\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Name
  of the dealer\";s:4:\"type\";s:6:\"string\";}s:15:\"overall_reviews\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Overall
  reviews of the dealership\";s:4:\"type\";s:6:\"number\";}s:17:\"review_components\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ReviewComponents\";}s:4:\"type\";s:5:\"array\";}s:5:\"state\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"State
  of the dealer\";s:4:\"type\";s:6:\"string\";}s:6:\"street\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Street
  of the dealer\";s:4:\"type\";s:6:\"string\";}s:3:\"zip\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Zip
  of the dealer\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"DealersResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Dealers
  Response\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"dealers\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Dealer\";s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:9:\"num_found\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"number
  of dealers found\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:17:\"DepreciationPoint\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"similar_models\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:31:\"#/definitions/DepreciationStats\";s:11:\"description\";s:38:\"Depreciation
  Stats for simailar models\";s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:17:\"DepreciationStats\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:13:\"current_value\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Price
  of year make model combination\";s:4:\"type\";s:6:\"number\";}s:18:\"five_year_from_now\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"price
  after five year from now\";s:4:\"type\";s:6:\"number\";}s:26:\"five_year_from_now_percent\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"price
  depreciation percent after five year from now\";s:4:\"type\";s:6:\"number\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"ymm_comb_name\";s:4:\"type\";s:6:\"string\";}s:17:\"one_year_from_now\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"price
  after one year from now\";s:4:\"type\";s:6:\"number\";}s:25:\"one_year_from_now_percent\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"price
  depreciation percent after one year from now\";s:4:\"type\";s:6:\"number\";}s:17:\"two_year_from_now\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"price
  after two year from now\";s:4:\"type\";s:6:\"number\";}s:25:\"two_year_from_now_percent\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"price
  depreciation percent after two year from now\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Economy\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:23:\"ghg_emissions_indicator\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Contains
  text like bad|Good|Very Good| Excellent\";s:4:\"type\";s:6:\"string\";}s:20:\"ghg_emissions_rating\";O:8:\"stdClass\":2:{s:11:\"description\";s:111:\"Show
  vehicle impact on climate change in terms of greeenhouse gases. This rating will
  be in the range of 1 - 10\";s:4:\"type\";s:6:\"number\";}s:14:\"smog_indicator\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Contains
  text like bad|Good|Very Good| Excellent\";s:4:\"type\";s:6:\"string\";}s:11:\"smog_rating\";O:8:\"stdClass\":2:{s:11:\"description\";s:136:\"Shows
  vehicle's emissions of pollutants known to cause smog and other forms of air pollution.
  This rating will be in the range of 1 - 10\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Error\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Error
  message\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Error
  code\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:9:\"FacetItem\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"count\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Facet
  item count\";s:4:\"type\";s:6:\"number\";}s:4:\"item\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Facet
  item\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"FuelEfficiency\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"annual_miles\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Annual
  Miles of Car\";s:4:\"type\";s:6:\"number\";}s:12:\"city_mileage\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"City
  Mileage in MPG\";s:4:\"type\";s:6:\"string\";}s:16:\"combined_mileage\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Combined
  Mileage\";s:4:\"type\";s:6:\"string\";}s:15:\"highway_mileage\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Highway
  Mileage in MPG\";s:4:\"type\";s:6:\"string\";}s:20:\"monthly_fuel_expense\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Monthly
  fuel expense\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:17:\"HistoricalListing\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Represents
  a car history entry\";s:10:\"properties\";O:8:\"stdClass\":12:{s:4:\"city\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"City
  of the listing\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:79:\"Unique
  identifier representing a specific listing from the Marketcheck database\";s:4:\"type\";s:6:\"string\";}s:12:\"last_seen_at\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Listing
  last seen at (most recent) timestamp\";s:4:\"type\";s:6:\"number\";}s:5:\"miles\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"Odometer
  reading / reported miles usage for the car\";s:4:\"type\";s:6:\"string\";}s:4:\"msrp\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"MSRP
  for the car\";s:4:\"type\";s:6:\"string\";}s:5:\"price\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Asking
  price for the car\";s:4:\"type\";s:6:\"string\";}s:10:\"scraped_at\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Listing
  scraped at timestamp\";s:4:\"type\";s:6:\"number\";}s:11:\"seller_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Seller
  name of the listing from the Marketcheck database\";s:4:\"type\";s:6:\"string\";}s:6:\"source\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Source
  website for the listing\";s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"State
  of the listing\";s:4:\"type\";s:6:\"string\";}s:7:\"vdp_url\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Vehicle
  Details Page url of the specific car\";s:4:\"type\";s:6:\"string\";}s:3:\"zip\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Zip
  of the listing\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Listing\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"Represents
  a full list of attributes available with Marketcheck for a car\";s:10:\"properties\";O:8:\"stdClass\":25:{s:5:\"build\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:19:\"#/definitions/Build\";s:11:\"description\";s:33:\"Build
  / Specifications attributes\";s:4:\"type\";s:6:\"object\";}s:12:\"car_location\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:22:\"#/definitions/Location\";s:11:\"description\";s:84:\"Car
  location data. Included only if its a different location to the dealers location\";s:4:\"type\";s:6:\"object\";}s:6:\"dealer\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Dealer\";s:4:\"type\";s:6:\"object\";}s:3:\"dom\";O:8:\"stdClass\":2:{s:11:\"description\";s:120:\"Days
  on Market value for the car based on current and historical listings found in the
  Marketcheck database for this car\";s:4:\"type\";s:6:\"number\";}s:7:\"dom_180\";O:8:\"stdClass\":2:{s:11:\"description\";s:122:\"Days
  on Market value for the car based on current and last 6 month listings found in
  the Marketcheck database for this car\";s:4:\"type\";s:6:\"number\";}s:10:\"dom_active\";O:8:\"stdClass\":2:{s:11:\"description\";s:122:\"Days
  on Market value for the car based on current and last 30 days listings found in
  the Marketcheck database for this car\";s:4:\"type\";s:6:\"number\";}s:5:\"extra\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:36:\"#/definitions/ListingExtraAttributes\";s:11:\"description\";s:73:\"Extra
  attributes for the listing - options, features, seller comments etc\";s:4:\"type\";s:6:\"object\";}s:13:\"first_seen_at\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Listing
  first seen at first scraped timestamp\";s:4:\"type\";s:6:\"number\";}s:18:\"first_seen_at_date\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Listing
  first seen at first scraped date\";s:4:\"type\";s:6:\"string\";}s:7:\"heading\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Listing
  heading\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:79:\"Unique
  identifier representing a specific listing from the Marketcheck database\";s:4:\"type\";s:6:\"string\";}s:14:\"inventory_type\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Inventory
  type of car\";s:4:\"type\";s:6:\"string\";}s:12:\"is_certified\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Flag
  indicating whether the car is Certified\";s:4:\"type\";s:7:\"integer\";}s:12:\"last_seen_at\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Listing
  last seen at (most recent) timestamp\";s:4:\"type\";s:6:\"number\";}s:17:\"last_seen_at_date\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Listing
  last seen at (most recent) date\";s:4:\"type\";s:6:\"string\";}s:5:\"media\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:26:\"#/definitions/ListingMedia\";s:11:\"description\";s:58:\"Car
  Media Attributes - main photo link/url and photo links\";s:4:\"type\";s:6:\"object\";}s:5:\"miles\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"Odometer
  reading / reported miles usage for the car\";s:4:\"type\";s:6:\"string\";}s:4:\"msrp\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"MSRP
  for the car\";s:4:\"type\";s:6:\"string\";}s:5:\"price\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Asking
  price for the car\";s:4:\"type\";s:6:\"string\";}s:15:\"scraped_at_date\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Listing
  first seen at first scraped date\";s:4:\"type\";s:6:\"number\";}s:11:\"seller_type\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Seller
  type for the car\";s:4:\"type\";s:6:\"string\";}s:6:\"source\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Source
  domain of the listing\";s:4:\"type\";s:6:\"string\";}s:8:\"stock_no\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Stock
  no of the car\";s:4:\"type\";s:6:\"string\";}s:7:\"vdp_url\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Vehicle
  Details Page url of the specific car\";s:4:\"type\";s:6:\"string\";}s:3:\"vin\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"VIN
  for the car\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:22:\"ListingDebugAttributes\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:8:\"cycle_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:8:\"Cycle
  id\";s:4:\"type\";s:6:\"number\";}s:8:\"robot_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:8:\"Robot
  id\";s:4:\"type\";s:6:\"number\";}s:10:\"scraped_at\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Scraped
  date and time\";s:4:\"type\";s:6:\"string\";}s:12:\"taxonomy_vin\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Taxonomy
  vin\";s:4:\"type\";s:6:\"string\";}s:11:\"template_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Template
  id\";s:4:\"type\";s:6:\"number\";}s:7:\"user_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:7:\"User
  id\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:22:\"ListingExtraAttributes\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"features\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"List
  of Features available with the car\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"options\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Installed
  Options of the car\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:14:\"seller_comment\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Seller
  comment for the car\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"ListingMedia\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"photo_link\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Single
  photo url of the car\";s:4:\"type\";s:6:\"string\";}s:11:\"photo_links\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"A
  list of photo urls for the car\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:10:\"ListingVDP\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Describes
  the VDP (Vehicle Details Page) HTML object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"crawled_at\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"The
  timestamp indicating the time when the VDP was cached\";s:4:\"type\";s:6:\"number\";}s:4:\"html\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  HTML string for the listing web page\";s:4:\"type\";s:6:\"string\";}s:7:\"vdp_url\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"The
  URL of the VDP\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Location\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Represents
  a location\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"city\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"City
  of the listing\";s:4:\"type\";s:6:\"string\";}s:8:\"latitude\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Latitude
  component of the location\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:9:\"longitude\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Longitude
  component of the location\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:5:\"state\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"State
  of the listing\";s:4:\"type\";s:6:\"string\";}s:3:\"zip\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Zip
  of the listing\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"MakeModel\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"make\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"model\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:3:\"Mds\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"Describes
  Market days supply results for year make model trim combination\";s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"mds\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Provides
  Market days supply count\";s:4:\"type\";s:6:\"number\";}s:26:\"total_active_cars_for_ymmt\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Active
  cars for ymmt combination\";s:4:\"type\";s:6:\"number\";}s:31:\"total_cars_sold_in_last_45_days\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Cars
  sold in last 45 days\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:9:\"PlotPoint\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:3:\"dom\";O:8:\"stdClass\":2:{s:11:\"description\";s:3:\"DOM\";s:4:\"type\";s:6:\"number\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Listing
  id\";s:4:\"type\";s:6:\"string\";}s:5:\"miles\";O:8:\"stdClass\":2:{s:11:\"description\";s:5:\"Miles\";s:4:\"type\";s:6:\"number\";}s:4:\"msrp\";O:8:\"stdClass\":2:{s:11:\"description\";s:4:\"Msrp\";s:4:\"type\";s:6:\"number\";}s:5:\"price\";O:8:\"stdClass\":2:{s:11:\"description\";s:5:\"Price\";s:4:\"type\";s:6:\"number\";}s:11:\"seller_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Seller
  name\";s:4:\"type\";s:6:\"string\";}s:3:\"vin\";O:8:\"stdClass\":2:{s:11:\"description\";s:3:\"Vin\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"PopularityItem\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:5:\"color\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Color
  depending upon left and right analysis numbers\";s:4:\"type\";s:6:\"string\";}s:13:\"delta_percent\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Delta
  percent\";s:4:\"type\";s:6:\"number\";}s:10:\"difference\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Difference
  depending upon left and right analysis\";s:4:\"type\";s:6:\"number\";}s:4:\"left\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"Left
  side rating for above description (2016 ford F-150 Lariat)\";s:4:\"type\";s:6:\"number\";}s:5:\"right\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Right
  side rating for above description (All Other Cars)\";s:4:\"type\";s:6:\"number\";}s:4:\"text\";O:8:\"stdClass\":2:{s:11:\"description\";s:92:\"Description
  for which popularity should be show eg: 2016 ford F-150 Lariat vs All Other Cars\";s:4:\"type\";s:6:\"string\";}s:6:\"thumbs\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"Thumbs
  up/down depending upon left and right analysis numbers\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"RatingComponents\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"actual_rating\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"rating
  of car on that condition\";s:4:\"type\";s:6:\"number\";}s:16:\"rating_condition\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Specifices
  rating condition parameter\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"ReviewComponents\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"actual_review\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"review
  of car given by current user\";s:4:\"type\";s:6:\"string\";}s:9:\"user_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Name
  of user who has given review\";s:4:\"type\";s:6:\"string\";}s:11:\"user_rating\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"rating
  for dealer given by user ranging from 1-5\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:12:\"SafetyRating\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Describes
  the Safety Ratings of current listing\";s:10:\"properties\";O:8:\"stdClass\":5:{s:19:\"driver_front_rating\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Driver
  front rating of the Listing on scale 1-5\";s:4:\"type\";s:6:\"number\";}s:18:\"driver_side_rating\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Driver
  Side rating of the Listing on scale 1-5\";s:4:\"type\";s:6:\"number\";}s:14:\"overall_rating\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Overall
  rating of the Listing on scale 1-5\";s:4:\"type\";s:6:\"number\";}s:22:\"passenger_front_rating\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Passenger
  front rating of the Listing on scale 1-5\";s:4:\"type\";s:6:\"number\";}s:16:\"roll_over_rating\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Roll
  Over rating of the Listing on scale 1-5\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:14:\"SearchResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Search
  query response\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"listings\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/BaseListing\";}s:4:\"type\";s:5:\"array\";}s:9:\"num_found\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  number of listings found\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:10:\"TrendPoint\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:3:\"dom\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Days
  on Market\";s:4:\"type\";s:6:\"number\";}s:5:\"miles\";O:8:\"stdClass\":2:{s:11:\"description\";s:5:\"Miles\";s:4:\"type\";s:6:\"number\";}s:4:\"msrp\";O:8:\"stdClass\":2:{s:11:\"description\";s:4:\"MSRP\";s:4:\"type\";s:6:\"number\";}s:5:\"price\";O:8:\"stdClass\":2:{s:11:\"description\";s:5:\"Price\";s:4:\"type\";s:6:\"number\";}s:5:\"units\";O:8:\"stdClass\":2:{s:11:\"description\";s:5:\"Units\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:9:\"VinReport\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"icon\";O:8:\"stdClass\":2:{s:11:\"description\";s:8:\"icon
  url\";s:4:\"type\";s:6:\"string\";}s:9:\"some_text\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Some
  descriptional text\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
