---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":7:{s:5:\"title\";s:22:\"WeerAPI - KNMI weather\";s:11:\"description\";s:382:\"This
  is a very basic JSON API for very basic weather data from the Royal Netherlands
  Meteorological Institute (http://www.knmi.nl/index_en.html).\r\n\r\nThe KNMI offers
  no simple API for simple data, so this one exists, which scrapes their website.
  Currently, it only offers a single API call, for the latest weather observations
  (http://www.knmi.nl/actueel/) at 36 monitoring stations.\";s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:14:\"crazygentleman\";s:3:\"url\";s:31:\"http://erikr.github.io/weerapi/\";}s:7:\"version\";N;s:6:\"x-logo\";s:86:\"https://s3.amazonaws.com/mashape-production-logos/apis/53aa5b43e4b0f2c97547103b_medium\";s:20:\"x-mashape-categories\";a:1:{i:0;s:4:\"Data\";}s:8:\"x-origin\";O:8:\"stdClass\":2:{s:6:\"format\";s:7:\"mashape\";s:3:\"url\";s:62:\"https://market.mashape.com/crazygentleman/weerapi-knmi-weather\";}}"
host: crazygentleman-knmi-weather.p.mashape.com
basePath: ""
paths:
  /:
    get:
      description: ""
      operationId: latest-weather-observations
      produces:
      - application/json
      responses:
        200:
          description: ~
          schema: '#/definitions/Resource'
definitions: !php/object "O:8:\"stdClass\":37:{s:8:\"Resource\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"source\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"timestamp\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"actueel\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Actueel\";}}}s:9:\"Marknesse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:18:\"wind_direction_deg\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"longitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"temperature\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"weather_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"wind_direction\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"wind_chill\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"visibility\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"humidity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"pressure\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"wind_speed_ms\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"wind_speed_bft\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"latitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:11:\"Houtribdijk\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:18:\"wind_direction_deg\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"longitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"temperature\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"weather_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"wind_direction\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"wind_chill\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"visibility\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"humidity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"pressure\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"wind_speed_ms\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"wind_speed_bft\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"latitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:10:\"Vlissingen\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:18:\"wind_direction_deg\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"longitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"temperature\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"weather_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"wind_direction\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"wind_chill\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"visibility\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"humidity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"pressure\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"wind_speed_ms\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"wind_speed_bft\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"latitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:8:\"Schiphol\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:18:\"wind_direction_deg\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"longitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"temperature\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"weather_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"wind_direction\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"wind_chill\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"visibility\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"humidity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"pressure\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"wind_speed_ms\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"wind_speed_bft\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"latitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:13:\"Maastricht
  AP\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:18:\"wind_direction_deg\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"longitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"temperature\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"weather_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"wind_direction\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"wind_chill\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"visibility\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"humidity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"pressure\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"wind_speed_ms\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"wind_speed_bft\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"latitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:10:\"Valkenburg\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:18:\"wind_direction_deg\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"longitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"temperature\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"weather_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"wind_direction\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"wind_chill\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"visibility\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"humidity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"pressure\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"wind_speed_ms\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"wind_speed_bft\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"latitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:5:\"Heino\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:18:\"wind_direction_deg\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"longitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"temperature\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"weather_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"wind_direction\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"wind_chill\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"visibility\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"humidity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"pressure\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"wind_speed_ms\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"wind_speed_bft\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"latitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:11:\"Woensdrecht\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:18:\"wind_direction_deg\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"longitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"temperature\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"weather_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"wind_direction\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"wind_chill\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"visibility\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"humidity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"pressure\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"wind_speed_ms\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"wind_speed_bft\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"latitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:9:\"Westdorpe\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:18:\"wind_direction_deg\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"longitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"temperature\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"weather_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"wind_direction\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"wind_chill\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"visibility\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"humidity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"pressure\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"wind_speed_ms\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"wind_speed_bft\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"latitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:8:\"Berkhout\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:18:\"wind_direction_deg\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"longitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"temperature\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"weather_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"wind_direction\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"wind_chill\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"visibility\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"humidity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"pressure\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"wind_speed_ms\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"wind_speed_bft\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"latitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:12:\"Terschelling\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:18:\"wind_direction_deg\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"longitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"temperature\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"weather_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"wind_direction\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"wind_chill\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"visibility\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"humidity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"pressure\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"wind_speed_ms\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"wind_speed_bft\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"latitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:8:\"Stavoren\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:18:\"wind_direction_deg\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"longitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"temperature\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"weather_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"wind_direction\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"wind_chill\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"visibility\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"humidity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"pressure\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"wind_speed_ms\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"wind_speed_bft\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"latitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:10:\"Leeuwarden\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:18:\"wind_direction_deg\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"longitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"temperature\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"weather_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"wind_direction\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"wind_chill\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"visibility\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"humidity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"pressure\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"wind_speed_ms\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"wind_speed_bft\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"latitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:10:\"Lauwersoog\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:18:\"wind_direction_deg\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"longitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"temperature\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"weather_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"wind_direction\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"wind_chill\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"visibility\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"humidity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"pressure\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"wind_speed_ms\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"wind_speed_bft\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"latitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:7:\"De
  Bilt\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:18:\"wind_direction_deg\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"longitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"temperature\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"weather_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"wind_direction\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"wind_chill\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"visibility\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"humidity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"pressure\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"wind_speed_ms\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"wind_speed_bft\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"latitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:7:\"Twenthe\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:18:\"wind_direction_deg\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"longitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"temperature\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"weather_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"wind_direction\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"wind_chill\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"visibility\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"humidity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"pressure\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"wind_speed_ms\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"wind_speed_bft\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"latitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:9:\"Eindhoven\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:18:\"wind_direction_deg\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"longitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"temperature\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"weather_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"wind_direction\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"wind_chill\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"visibility\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"humidity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"pressure\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"wind_speed_ms\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"wind_speed_bft\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"latitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:9:\"Herwijnen\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:18:\"wind_direction_deg\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"longitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"temperature\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"weather_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"wind_direction\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"wind_chill\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"visibility\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"humidity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"pressure\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"wind_speed_ms\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"wind_speed_bft\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"latitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:6:\"Hupsel\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:18:\"wind_direction_deg\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"longitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"temperature\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"weather_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"wind_direction\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"wind_chill\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"visibility\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"humidity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"pressure\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"wind_speed_ms\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"wind_speed_bft\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"latitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:9:\"Hoogeveen\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:18:\"wind_direction_deg\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"longitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"temperature\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"weather_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"wind_direction\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"wind_chill\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"visibility\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"humidity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"pressure\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"wind_speed_ms\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"wind_speed_bft\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"latitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:6:\"Volkel\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:18:\"wind_direction_deg\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"longitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"temperature\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"weather_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"wind_direction\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"wind_chill\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"visibility\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"humidity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"pressure\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"wind_speed_ms\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"wind_speed_bft\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"latitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:6:\"Deelen\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:18:\"wind_direction_deg\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"longitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"temperature\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"weather_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"wind_direction\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"wind_chill\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"visibility\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"humidity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"pressure\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"wind_speed_ms\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"wind_speed_bft\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"latitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:12:\"Wijk
  aan Zee\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:18:\"wind_direction_deg\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"longitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"temperature\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"weather_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"wind_direction\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"wind_chill\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"visibility\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"humidity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"pressure\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"wind_speed_ms\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"wind_speed_bft\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"latitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:8:\"Vlieland\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:18:\"wind_direction_deg\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"longitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"temperature\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"weather_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"wind_direction\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"wind_chill\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"visibility\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"humidity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"pressure\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"wind_speed_ms\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"wind_speed_bft\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"latitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:6:\"Cabauw\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:18:\"wind_direction_deg\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"longitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"temperature\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"weather_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"wind_direction\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"wind_chill\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"visibility\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"humidity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"pressure\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"wind_speed_ms\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"wind_speed_bft\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"latitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:12:\"Nieuw
  Beerta\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:18:\"wind_direction_deg\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"longitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"temperature\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"weather_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"wind_direction\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"wind_chill\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"visibility\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"humidity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"pressure\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"wind_speed_ms\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"wind_speed_bft\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"latitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:9:\"Rotterdam\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:18:\"wind_direction_deg\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"longitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"temperature\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"weather_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"wind_direction\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"wind_chill\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"visibility\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"humidity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"pressure\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"wind_speed_ms\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"wind_speed_bft\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"latitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:5:\"Arcen\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:18:\"wind_direction_deg\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"longitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"temperature\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"weather_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"wind_direction\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"wind_chill\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"visibility\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"humidity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"pressure\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"wind_speed_ms\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"wind_speed_bft\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"latitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:8:\"IJmuiden\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:18:\"wind_direction_deg\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"longitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"temperature\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"weather_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"wind_direction\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"wind_chill\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"visibility\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"humidity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"pressure\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"wind_speed_ms\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"wind_speed_bft\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"latitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:10:\"Den
  Helder\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:18:\"wind_direction_deg\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"longitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"temperature\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"weather_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"wind_direction\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"wind_chill\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"visibility\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"humidity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"pressure\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"wind_speed_ms\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"wind_speed_bft\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"latitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:5:\"Eelde\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:18:\"wind_direction_deg\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"longitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"temperature\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"weather_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"wind_direction\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"wind_chill\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"visibility\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"humidity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"pressure\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"wind_speed_ms\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"wind_speed_bft\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"latitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:3:\"Ell\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:18:\"wind_direction_deg\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"longitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"temperature\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"weather_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"wind_direction\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"wind_chill\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"visibility\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"humidity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"pressure\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"wind_speed_ms\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"wind_speed_bft\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"latitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:7:\"Actueel\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":35:{s:5:\"Eelde\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Eelde\";}s:3:\"Ell\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Ell\";}s:8:\"Schiphol\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Schiphol\";}s:8:\"IJmuiden\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/IJmuiden\";}s:10:\"Lauwersoog\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Lauwersoog\";}s:6:\"Cabauw\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Cabauw\";}s:9:\"Rotterdam\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Rotterdam\";}s:7:\"De
  Bilt\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/De Bilt\";}s:9:\"Herwijnen\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Herwijnen\";}s:12:\"Nieuw
  Beerta\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/Nieuw Beerta\";}s:10:\"Valkenburg\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Valkenburg\";}s:8:\"Lelystad\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Lelystad\";}s:11:\"Woensdrecht\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Woensdrecht\";}s:5:\"Arcen\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Arcen\";}s:7:\"Twenthe\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Twenthe\";}s:9:\"Marknesse\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Marknesse\";}s:6:\"Volkel\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Volkel\";}s:9:\"Westdorpe\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Westdorpe\";}s:6:\"Deelen\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Deelen\";}s:9:\"Eindhoven\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Eindhoven\";}s:9:\"Hoogeveen\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Hoogeveen\";}s:11:\"Gilze
  Rijen\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Gilze Rijen\";}s:16:\"Hoek
  van Holland\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/Hoek van Holland\";}s:11:\"Houtribdijk\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Houtribdijk\";}s:13:\"Maastricht
  AP\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/Maastricht AP\";}s:10:\"Vlissingen\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Vlissingen\";}s:8:\"Stavoren\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Stavoren\";}s:12:\"Terschelling\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/Terschelling\";}s:6:\"Hupsel\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Hupsel\";}s:8:\"Vlieland\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Vlieland\";}s:10:\"Leeuwarden\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Leeuwarden\";}s:10:\"Den
  Helder\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Den Helder\";}s:5:\"Heino\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Heino\";}s:12:\"Wijk
  aan Zee\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/Wijk aan Zee\";}s:8:\"Berkhout\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Berkhout\";}}}s:11:\"Gilze
  Rijen\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:18:\"wind_direction_deg\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"longitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"temperature\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"weather_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"wind_direction\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"wind_chill\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"visibility\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"humidity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"pressure\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"wind_speed_ms\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"wind_speed_bft\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"latitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:16:\"Hoek
  van Holland\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:18:\"wind_direction_deg\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"longitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"temperature\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"weather_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"wind_direction\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"wind_chill\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"visibility\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"humidity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"pressure\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"wind_speed_ms\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"wind_speed_bft\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"latitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:8:\"Lelystad\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:18:\"wind_direction_deg\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"longitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"temperature\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"weather_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"wind_direction\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"wind_chill\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"visibility\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"humidity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"pressure\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"wind_speed_ms\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"wind_speed_bft\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"latitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}"
...
