---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":8:{s:11:\"description\";s:152:\"Circuit REST API
  to interact with the Circuit system.\n\n[Learn more about the Circuit Development
  Community](https://www.circuit.com/web/developers/home)\";s:5:\"title\";s:18:\"REST
  API Version 2\";s:7:\"version\";s:6:\"2.9.33\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:9:\"messaging\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:76:\"https://pbs.twimg.com/profile_images/463690034235731970/0fImzk_g_400x400.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:42:\"https://circuitsandbox.net/rest/v2/swagger\";s:7:\"version\";s:3:\"2.0\";}}s:14:\"x-providerName\";s:18:\"circuitsandbox.net\";s:11:\"x-preferred\";b:1;}"
host: circuitsandbox.net
basePath: /rest/v2
paths: ~
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":18:{s:10:\"Attachment\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":10:{s:12:\"creationTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"not
  available\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"number\";}s:9:\"creatorId\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"not
  available\";s:4:\"type\";s:6:\"string\";}s:9:\"deleteUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"not
  available\";s:4:\"type\";s:6:\"string\";}s:6:\"fileId\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"not
  available\";s:4:\"type\";s:6:\"string\";}s:8:\"fileName\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"not
  available\";s:4:\"type\";s:6:\"string\";}s:6:\"itemId\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"not
  available\";s:4:\"type\";s:6:\"string\";}s:8:\"mimeType\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"not
  available\";s:4:\"type\";s:6:\"string\";}s:16:\"modificationTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"not
  available\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"number\";}s:4:\"size\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"not
  available\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"number\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"not
  available\";s:4:\"type\";s:6:\"string\";}}}s:12:\"BridgeNumber\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"bridgeNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"The
  number that has to be called to join the real time session of a conversation\";s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  country where the bridge is hosted\";s:4:\"type\";s:6:\"string\";}s:6:\"locale\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  locale of the bridge\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  name / identifier of the bridge\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:90:\"Information
  of the billing for the call, i.e. if the caller has to pay or not for the call\";s:4:\"type\";s:6:\"string\";}}}s:12:\"Conversation\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":13:{s:6:\"avatar\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"The
  URL of the small avatar image of the conversation\";s:4:\"type\";s:6:\"string\";}s:11:\"avatarLarge\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"The
  URL of the large avatar image of the conversation\";s:4:\"type\";s:6:\"string\";}s:6:\"convId\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  ID of the conversation\";s:4:\"type\";s:6:\"string\";}s:12:\"creationTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"UTC
  timestamp when the conversation was created\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"number\";}s:9:\"creatorId\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"The
  ID of the user who created the conversation\";s:4:\"type\";s:6:\"string\";}s:15:\"creatorTenantId\";O:8:\"stdClass\":2:{s:11:\"description\";s:86:\"The
  ID of the Circuit domain (tenant) where the creator of the conversation belongs
  to\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:103:\"The
  description of the conversation. This field is available only for conversations
  with type COMMUNITY\";s:4:\"type\";s:6:\"string\";}s:21:\"isGuestAccessDisabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"Indicates
  whether guest access to the conversation is disabled or not\";s:4:\"type\";s:7:\"boolean\";}s:11:\"isModerated\";O:8:\"stdClass\":2:{s:11:\"description\";s:212:\"Indicates
  whether the conversation is moderated or not. In a moderated conversation only participants
  who have been assigned the role of a moderator are allowed to add or remove participants
  into the conversation\";s:4:\"type\";s:7:\"boolean\";}s:16:\"modificationTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:178:\"UTC
  timestamp when the conversation was modified. A conversation is modified when any
  of the conversation object fields change but not when conversation items are added
  or edited\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"number\";}s:12:\"participants\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Array
  of active participants\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:5:\"topic\";O:8:\"stdClass\":2:{s:11:\"description\";s:79:\"The
  title of the conversation. Conversations of type DIRECT cannot have a title\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:95:\"The
  type of the conversation. It can be one of the following: DIRECT, GROUP, COMMUNITY
  or LARGE\";s:4:\"type\";s:6:\"string\";}}}s:19:\"ConversationDetails\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:13:\"bridgeNumbers\";O:8:\"stdClass\":3:{s:11:\"description\";s:88:\"A
  list of bridge numbers which can be used to dial in to the real time session via
  phone\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/BridgeNumber\";}s:4:\"type\";s:5:\"array\";}s:21:\"conversationCreatorId\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  user ID of the conversation creator\";s:4:\"type\";s:6:\"string\";}s:19:\"isModerationAllowed\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Indicates
  if the conversation is allowed to be moderated\";s:4:\"type\";s:7:\"boolean\";}s:18:\"isRecordingAllowed\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"Indicates
  if the conversation is allowed to be recorded\";s:4:\"type\";s:7:\"boolean\";}s:4:\"link\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"A
  link that can be used in a browser to join the session\";s:4:\"type\";s:6:\"string\";}s:3:\"pin\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"The
  PIN to join a real time session via phone\";s:4:\"type\";s:6:\"string\";}}}s:16:\"ConversationItem\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":11:{s:11:\"attachments\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Array
  of files attached to the item\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Attachment\";}s:4:\"type\";s:5:\"array\";}s:6:\"convId\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"The
  ID of the conversation the item belongs to\";s:4:\"type\";s:6:\"string\";}s:12:\"creationTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"UTC
  timestamp when the item was created\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"number\";}s:9:\"creatorId\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"The
  ID of the user who created the conversation item\";s:4:\"type\";s:6:\"string\";}s:20:\"includeInUnreadCount\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"Indicates
  whether the item is included in the unread message count\";s:4:\"type\";s:7:\"boolean\";}s:6:\"itemId\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"The
  ID of the item\";s:4:\"type\";s:6:\"string\";}s:16:\"modificationTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"UTC
  timestamp when the conversation was modified\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"number\";}s:3:\"rtc\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/RtcItem\";}s:6:\"system\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/SystemItem\";}s:4:\"text\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/ConversationTextItem\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:85:\"The
  type of the conversation item. It can be one of the following TEXT, SYSTEM or RTC\";s:4:\"type\";s:6:\"string\";}}}s:24:\"ConversationSearchResult\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:21:\"matchingConversations\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"A
  list of result items for conversations that match the search term.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/ConversationSearchResultItem\";}s:4:\"type\";s:5:\"array\";}}}s:28:\"ConversationSearchResultItem\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"convId\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"The
  ID of the conversation to which the matching items belong.\";s:4:\"type\";s:6:\"string\";}s:7:\"itemIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:162:\"The
  conversation items which contain the search result. The list maybe empty in case
  a hit was found for the conversation related data like topic or participants.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}}s:20:\"ConversationTextItem\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":7:{s:7:\"content\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  content of the text item\";s:4:\"type\";s:6:\"string\";}s:11:\"contentType\";O:8:\"stdClass\":2:{s:11:\"description\";s:104:\"The
  type of the text item. It can be one of the following: RICH (with HTML content)
  or PLAIN (only text)\";s:4:\"type\";s:6:\"string\";}s:12:\"likedUserIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Array
  of IDs of the users who liked the item\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:8:\"parentId\";O:8:\"stdClass\":2:{s:11:\"description\";s:99:\"The
  ID of the parent item of the text item. This field is optional and can be used for
  thread views\";s:4:\"type\";s:6:\"string\";}s:7:\"preview\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Preview\";}s:5:\"state\";O:8:\"stdClass\":2:{s:11:\"description\";s:282:\"The
  state of the text item. It can be one of the following: CREATED (which denotes that
  it was not modified since its creation), EDITED (which denotes that the creator
  of this item modified the item) or DELETED (which denotes that the item itself exists
  but its content was removed)\";s:4:\"type\";s:6:\"string\";}s:7:\"subject\";O:8:\"stdClass\":2:{s:11:\"description\";s:98:\"TThe
  subject of the text item. This field is optional and maybe filled when creating
  the text item\";s:4:\"type\";s:6:\"string\";}}}s:5:\"Label\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"labelId\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"not
  available\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"The
  clear text value\";s:4:\"type\";s:6:\"string\";}}}s:13:\"OAuthClientId\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":9:{s:14:\"accessTokenURL\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"The
  URL to fetch the access token for an authorization code\";s:4:\"type\";s:6:\"string\";}s:15:\"applicationName\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"A
  free text identifier of the application that uses the client ID\";s:4:\"type\";s:6:\"string\";}s:16:\"authorizationURL\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"The
  URL to redirect a user for Circuit authentication\";s:4:\"type\";s:6:\"string\";}s:8:\"clientId\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"The
  client ID\";s:4:\"type\";s:6:\"string\";}s:7:\"domains\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  valid domains for the client ID\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:10:\"grantTypes\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"A
  list of grant types which are supported by this client ID\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:6:\"scopes\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  available scopes for OAUTH 2.0 access\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:3:\"ttl\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"The
  TTL for a token generated with this client ID\";s:4:\"type\";s:6:\"string\";}s:6:\"userId\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  ID of the user who owns a token\";s:4:\"type\";s:6:\"string\";}}}s:8:\"Presence\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":11:{s:8:\"dndUntil\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Timestamp
  until the DND state of the user is active\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"number\";}s:10:\"isOptedOut\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"Indicates
  whether the user has opted out of their presence\";s:4:\"type\";s:7:\"boolean\";}s:8:\"latitude\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"The
  latitude of the geo location of the user\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:12:\"locationText\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"The
  geo location of the user in clear text\";s:4:\"type\";s:6:\"string\";}s:9:\"longitude\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"The
  longitude of the geo location of the user\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:6:\"mobile\";O:8:\"stdClass\":2:{s:11:\"description\";s:97:\"Identifies
  whether the presence state is based on the state information of a mobile device
  or not\";s:4:\"type\";s:7:\"boolean\";}s:4:\"poor\";O:8:\"stdClass\":2:{s:11:\"description\";s:3:\"n/a\";s:4:\"type\";s:7:\"boolean\";}s:5:\"state\";O:8:\"stdClass\":2:{s:11:\"description\";s:119:\"The
  presence state of the user. It can be one of the following: AVAILABLE, OFFLINE,
  AWAY, BUSY, or DND (Do-Not-Disturb)\";s:4:\"type\";s:6:\"string\";}s:13:\"statusMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"A
  free formed status message of the user\";s:4:\"type\";s:6:\"string\";}s:14:\"timeZoneOffset\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  timezone offset of the user compared to UTC\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:6:\"number\";}s:6:\"userId\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"The
  ID of the user\";s:4:\"type\";s:6:\"string\";}}}s:7:\"Preview\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"imageURI\";O:8:\"stdClass\":2:{s:11:\"description\";s:3:\"n/a\";s:4:\"type\";s:6:\"string\";}s:6:\"srcURL\";O:8:\"stdClass\":2:{s:11:\"description\";s:3:\"n/a\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:3:\"n/a\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:3:\"n/a\";s:4:\"type\";s:6:\"string\";}}}s:7:\"RtcItem\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"missed\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Indicates
  a missed call\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  type of the RTC item\";s:4:\"type\";s:6:\"string\";}}}s:6:\"String\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:22:\"CASE_INSENSITIVE_ORDER\";O:8:\"stdClass\":0:{}}}s:10:\"SystemItem\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:20:\"affectedParticipants\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"not
  available\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:8:\"newTopic\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"not
  available\";s:4:\"type\";s:6:\"string\";}s:8:\"oldTopic\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"not
  available\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  type of the system item\";s:4:\"type\";s:6:\"string\";}}}s:4:\"User\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":9:{s:7:\"company\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  name of the user's company\";s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  user's display name\";s:4:\"type\";s:6:\"string\";}s:12:\"emailAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  primary email address of the user\";s:4:\"type\";s:6:\"string\";}s:9:\"firstName\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  first name of the user\";s:4:\"type\";s:6:\"string\";}s:8:\"jobTitle\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  job title of the user\";s:4:\"type\";s:6:\"string\";}s:8:\"lastName\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  last name of the user\";s:4:\"type\";s:6:\"string\";}s:6:\"locale\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  locale of the user. (E.g. en-US, de-DE)\";s:4:\"type\";s:6:\"string\";}s:6:\"userId\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"The
  ID of the user\";s:4:\"type\";s:6:\"string\";}s:17:\"userPresenceState\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Presence\";}}}s:19:\"ValidateAccessToken\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"accessToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"The
  access token issued by the authorization server\";s:4:\"type\";s:6:\"string\";}s:8:\"clientId\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"The
  client ID used to generate the access token\";s:4:\"type\";s:6:\"string\";}s:14:\"expirationTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  date when the token expires\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"number\";}s:6:\"scopes\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Array
  of the scopes of the access token\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}}s:7:\"WebHook\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":7:{s:12:\"creationTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:112:\"The
  time when this WebHook was created. This does not necessary mean the time when an
  manifest file was created.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"number\";}s:6:\"filter\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"An
  optional list of filter parameters for this webhook.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:84:\"The
  unique identifier for this webhook. Can be used later to unregister the webhook.\";s:4:\"type\";s:6:\"string\";}s:15:\"subscriptionIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:143:\"The
  optional list of userids for which this webhook is subscribed, i.e. presence events
  for the user are forwarded to the WebHook callback URL.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:190:\"The
  type of a WebHook. This can either be MANUAL or EXTENSION. While manual WebHooks
  are only temporary and for development only use, permanent ones (EXTENSION) will
  bemanaged by the system.\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  callback URL of this webhook.\";s:4:\"type\";s:6:\"string\";}s:6:\"userId\";O:8:\"stdClass\":2:{s:11:\"description\";s:118:\"The
  user ID for which this webhook is subscribed, i.e. events for this user are forwarded
  to the WebHook callback URL.\";s:4:\"type\";s:6:\"string\";}}}}"
...
