---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":7:{s:5:\"title\";s:7:\"Spotify\";s:7:\"version\";s:2:\"v1\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"media\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:4:\"raml\";s:3:\"url\";s:85:\"https://raw.githubusercontent.com/spotify/web-api/master/specifications/raml/api.raml\";s:7:\"version\";s:3:\"0.8\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:11:\"spotify.com\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:7:\"spotify\";s:4:\"type\";s:7:\"openapi\";}}"
host: api.spotify.com
basePath: /v1
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":26:{s:5:\"album\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":17:{s:10:\"album_type\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"The
  type of the album: one of 'album', 'single', or 'compilation'.\";s:4:\"type\";s:6:\"string\";}s:7:\"artists\";O:8:\"stdClass\":3:{s:11:\"description\";s:115:\"The
  artists of the album. Each artist object includes a link in href to more detailed
  information about the artist.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/artist\";}s:4:\"type\";s:5:\"array\";}s:17:\"available_markets\";O:8:\"stdClass\":3:{s:11:\"description\";s:192:\"The
  markets in which the album is available: ISO 3166-1 alpha-2 country codes. Note
  that an album is considered available in a market when at least 1 of its tracks
  is available in that market.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:10:\"copyrights\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  copyright statements of the album.\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"text\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  copyright text for this album.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:90:\"The
  type of copyright: C = the copyright, P = the sound recording (performance) copyright.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:12:\"external_ids\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:150:\"The
  identifier type, for example: 'isrc' - International Standard Recording Code, 'ean'
  - International Article Number, 'upc' - Universal Product Code\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:34:\"Known
  external IDs for this album.\";s:4:\"type\";s:6:\"object\";}s:13:\"external_urls\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"The
  type of the URL, for example: 'spotify' - The Spotify URL for the object.\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:35:\"Known
  external URLs for this album.\";s:4:\"type\";s:6:\"object\";}s:6:\"genres\";O:8:\"stdClass\":3:{s:11:\"description\";s:134:\"A
  list of the genres used to classify the album. For example: 'Prog Rock', 'Post-Grunge'.
  (If not yet classified, the array is empty.)\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"href\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"A
  link to the Web API endpoint providing full details of the album.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  Spotify ID for the album.\";s:4:\"type\";s:6:\"string\";}s:6:\"images\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"The
  cover art for the album in various sizes, widest first.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/image\";}s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  name of the album.\";s:4:\"type\";s:6:\"string\";}s:10:\"popularity\";O:8:\"stdClass\":2:{s:11:\"description\";s:181:\"The
  popularity of the album. The value will be between 0 and 100, with 100 being the
  most popular. The popularity is calculated from the popularity of the album's individual
  tracks.\";s:4:\"type\";s:7:\"integer\";}s:12:\"release_date\";O:8:\"stdClass\":2:{s:11:\"description\";s:134:\"The
  date the album was first released, for example '1981-12-15'. Depending on the precision,
  it might be shown as '1981' or '1981-12'.\";s:4:\"type\";s:6:\"string\";}s:22:\"release_date_precision\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"The
  precision with which release_date value is known: 'year', 'month', or 'day'.\";s:4:\"type\";s:6:\"string\";}s:6:\"tracks\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/track-simple-page\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  object type: 'album'.\";s:4:\"type\";s:6:\"string\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  Spotify URI for the album.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"album-simple\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:10:\"album_type\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"The
  type of the album: one of 'album', 'single', or 'compilation'.\";s:4:\"type\";s:6:\"string\";}s:17:\"available_markets\";O:8:\"stdClass\":3:{s:11:\"description\";s:192:\"The
  markets in which the album is available: ISO 3166-1 alpha-2 country codes. Note
  that an album is considered available in a market when at least 1 of its tracks
  is available in that market.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:13:\"external_urls\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"The
  type of the URL, for example: 'spotify' - The Spotify URL for the object.\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:35:\"Known
  external URLs for this album.\";s:4:\"type\";s:6:\"object\";}s:4:\"href\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"A
  link to the Web API endpoint providing full details of the album.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  Spotify ID for the album.\";s:4:\"type\";s:6:\"string\";}s:6:\"images\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"The
  cover art for the album in various sizes, widest first.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/image\";}s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  name of the album.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  object type: 'album'.\";s:4:\"type\";s:6:\"string\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  Spotify URI for the album.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"album-simple-page\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:4:\"href\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"A
  link to the Web API endpoint returning the full result of the request.\";s:4:\"type\";s:6:\"string\";}s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"The
  requested data.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/album-simple\";}s:4:\"type\";s:5:\"array\";}s:5:\"limit\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"The
  maximum number of items in the response (as set in the query or by default).\";s:4:\"type\";s:7:\"integer\";}s:4:\"next\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"URL
  to the next page of items. (null if none)\";s:4:\"type\";s:6:\"string\";}s:6:\"offset\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"The
  offset of the items returned (as set in the query or by default).\";s:4:\"type\";s:7:\"integer\";}s:8:\"previous\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"URL
  to the previous page of items. (null if none)\";s:4:\"type\";s:6:\"string\";}s:5:\"total\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"The
  total number of items available to return.\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:16:\"album-track-page\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:4:\"href\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"A
  link to the Web API endpoint returning the full result of the request.\";s:4:\"type\";s:6:\"string\";}s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"The
  requested data.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/track-simple\";}s:4:\"type\";s:5:\"array\";}s:5:\"limit\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"The
  maximum number of items in the response (as set in the query or by default).\";s:4:\"type\";s:7:\"integer\";}s:4:\"next\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"URL
  to the next page of items. (null if none)\";s:4:\"type\";s:6:\"string\";}s:6:\"offset\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"The
  offset of the items returned (as set in the query or by default).\";s:4:\"type\";s:7:\"integer\";}s:8:\"previous\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"URL
  to the previous page of items. (null if none)\";s:4:\"type\";s:6:\"string\";}s:5:\"total\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"The
  total number of items available to return.\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:6:\"artist\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:13:\"external_urls\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:36:\"Known
  external URLs for this artist.\";s:4:\"type\";s:6:\"object\";}s:9:\"followers\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/followers\";}s:6:\"genres\";O:8:\"stdClass\":3:{s:11:\"description\";s:137:\"A
  list of the genres the artist is associated with. For example: 'Prog Rock', 'Post-Grunge'.
  (If not yet classified, the array is empty.)\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"href\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"A
  link to the Web API endpoint providing full details of the artist.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  Spotify ID for the artist.\";s:4:\"type\";s:6:\"string\";}s:6:\"images\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Images
  of the artist in various sizes, widest first.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/image\";}s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  name of the artist.\";s:4:\"type\";s:6:\"string\";}s:10:\"popularity\";O:8:\"stdClass\":2:{s:11:\"description\";s:185:\"The
  popularity of the artist. The value will be between 0 and 100, with 100 being the
  most popular. The artist's popularity is calculated from the popularity of all the
  artist's tracks.\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  object type: 'artist'\";s:4:\"type\";s:6:\"string\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  Spotify URI for the artist.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"artist-simple\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:13:\"external_urls\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:36:\"Known
  external URLs for this artist.\";s:4:\"type\";s:6:\"object\";}s:4:\"href\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"A
  link to the Web API endpoint providing full details of the artist.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  Spotify ID for the artist.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  name of the artist.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  object type: 'artist'\";s:4:\"type\";s:6:\"string\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  Spotify URI for the artist.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"category\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"href\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"A
  link to the Web API endpoint returning full details of the category.\";s:4:\"type\";s:6:\"string\";}s:5:\"icons\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/image\";}s:4:\"type\";s:5:\"array\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  Spotify category ID of the category.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  name of the category.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"category-page\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:4:\"href\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"A
  link to the Web API endpoint returning the full result of the request.\";s:4:\"type\";s:6:\"string\";}s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"The
  requested data.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/category\";}s:4:\"type\";s:5:\"array\";}s:5:\"limit\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"The
  maximum number of items in the response (as set in the query or by default).\";s:4:\"type\";s:7:\"integer\";}s:4:\"next\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"URL
  to the next page of items. (null if none)\";s:4:\"type\";s:6:\"string\";}s:6:\"offset\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"The
  offset of the items returned (as set in the query or by default).\";s:4:\"type\";s:7:\"integer\";}s:8:\"previous\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"URL
  to the previous page of items. (null if none)\";s:4:\"type\";s:6:\"string\";}s:5:\"total\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"The
  total number of items available to return.\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:20:\"current-user-profile\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":11:{s:9:\"birthdate\";O:8:\"stdClass\":2:{s:11:\"description\";s:129:\"The
  user's date-of-birth. This field is only available when the current user has granted
  access to the user-read-birthdate scope.\";s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":2:{s:11:\"description\";s:200:\"The
  country of the user, as set in the user's account profile. An ISO 3166-1 alpha-2
  country code. This field is only available when the current user has granted access
  to the user-read-private scope.\";s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"The
  name displayed on the user's profile.\";s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:267:\"The
  user's email address, as entered by the user when creating their account. This email
  address is unverified; there is no proof that it actually belongs to the user. This
  field is only available when the current user has granted access to the user-read-email
  scope.\";s:4:\"type\";s:6:\"string\";}s:13:\"external_urls\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:34:\"Known
  external URLs for this user.\";s:4:\"type\";s:6:\"object\";}s:9:\"followers\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/followers\";}s:4:\"href\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"A
  link to the Web API endpoint for this user.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  Spotify ID for this user.\";s:4:\"type\";s:6:\"string\";}s:7:\"product\";O:8:\"stdClass\":2:{s:11:\"description\";s:234:\"The
  user's Spotify subscription level: 'premium', 'free', etc. (The subscription level
  'open' can be considered the same as 'free'.) This field is only available when
  the current user has granted access to the user-read-private scope.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  object type: 'user'\";s:4:\"type\";s:6:\"string\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  Spotify URI for the user.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"featured-playlists\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"A
  sentence describing the context for the featured playlists.\";s:4:\"type\";s:6:\"string\";}s:9:\"playlists\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/playlist-simple-page\";}}s:4:\"type\";s:6:\"object\";}s:9:\"followers\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Information
  about the followers of the artist.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"href\";O:8:\"stdClass\":2:{s:11:\"description\";s:94:\"A
  link to the Web API endpoint providing full details of the followers; null if not
  available.\";s:4:\"type\";s:6:\"string\";}s:5:\"total\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  total number of followers.\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:5:\"image\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"height\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"The
  image height in pixels. If unknown: null or not returned.\";s:4:\"type\";s:7:\"integer\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  source URL of the image.\";s:4:\"type\";s:6:\"string\";}s:5:\"width\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"The
  image width in pixels. If unknown: null or not returned.\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:8:\"playlist\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":14:{s:13:\"collaborative\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"True
  if the owner allows other users to modify the playlist.\";s:4:\"type\";s:7:\"boolean\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:89:\"The
  playlist description. Only returned for modified, verified playlists, otherwise
  null.\";s:4:\"type\";s:6:\"string\";}s:13:\"external_urls\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"The
  type of the URL, for example: 'spotify' - The Spotify URL for the object.\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:35:\"Known
  external URLs for this album.\";s:4:\"type\";s:6:\"object\";}s:9:\"followers\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Information
  about the followers of the playlist.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"href\";O:8:\"stdClass\":2:{s:11:\"description\";s:94:\"A
  link to the Web API endpoint providing full details of the followers; null if not
  available.\";s:4:\"type\";s:6:\"string\";}s:5:\"total\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  total number of followers.\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:4:\"href\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"A
  link to the Web API endpoint providing full details of the playlist.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  Spotify ID of the playlist.\";s:4:\"type\";s:6:\"string\";}s:6:\"images\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"The
  cover art for the album in various sizes, widest first.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/image\";}s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  name of the playlist.\";s:4:\"type\";s:6:\"string\";}s:5:\"owner\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/user-profile\";}s:6:\"public\";O:8:\"stdClass\":2:{s:11:\"description\";s:205:\"The
  playlist's public/private status: true the playlist is public, false the playlist
  is private, null the playlist status is not relevant. For more about public/private
  status, see Working with Playlists.\";s:4:\"type\";s:7:\"boolean\";}s:11:\"snapshot_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:120:\"The
  version identifier for the current playlist. Can be supplied in other requests to
  target a specific playlist version\";s:4:\"type\";s:6:\"string\";}s:6:\"tracks\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/playlist-track-page\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  object type: 'playlist'.\";s:4:\"type\";s:6:\"string\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Spotify
  URI of the playlist.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"playlist-simple\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":12:{s:13:\"collaborative\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"True
  if the owner allows other users to modify the playlist.\";s:4:\"type\";s:7:\"boolean\";}s:13:\"external_urls\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"The
  type of the URL, for example: 'spotify' - The Spotify URL for the object.\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:35:\"Known
  external URLs for this album.\";s:4:\"type\";s:6:\"object\";}s:4:\"href\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"A
  link to the Web API endpoint providing full details of the playlist.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  Spotify ID of the playlist.\";s:4:\"type\";s:6:\"string\";}s:6:\"images\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"The
  cover art for the album in various sizes, widest first.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/image\";}s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  name of the playlist.\";s:4:\"type\";s:6:\"string\";}s:5:\"owner\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/user-profile\";}s:6:\"public\";O:8:\"stdClass\":2:{s:11:\"description\";s:205:\"The
  playlist's public/private status: true the playlist is public, false the playlist
  is private, null the playlist status is not relevant. For more about public/private
  status, see Working with Playlists.\";s:4:\"type\";s:7:\"boolean\";}s:11:\"snapshot_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:120:\"The
  version identifier for the current playlist. Can be supplied in other requests to
  target a specific playlist version\";s:4:\"type\";s:6:\"string\";}s:6:\"tracks\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"href\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"A
  link to the Web API endpoint returning the full result of the request.\";s:4:\"type\";s:6:\"string\";}s:5:\"total\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"The
  total number of tracks available to return.\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  object type: 'playlist'.\";s:4:\"type\";s:6:\"string\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Spotify
  URI of the playlist.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"playlist-simple-page\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:4:\"href\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"A
  link to the Web API endpoint returning the full result of the request.\";s:4:\"type\";s:6:\"string\";}s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"The
  requested data.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/playlist-simple\";}s:4:\"type\";s:5:\"array\";}s:5:\"limit\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"The
  maximum number of items in the response (as set in the query or by default).\";s:4:\"type\";s:7:\"integer\";}s:4:\"next\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"URL
  to the next page of items. (null if none)\";s:4:\"type\";s:6:\"string\";}s:6:\"offset\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"The
  offset of the items returned (as set in the query or by default).\";s:4:\"type\";s:7:\"integer\";}s:8:\"previous\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"URL
  to the previous page of items. (null if none)\";s:4:\"type\";s:6:\"string\";}s:5:\"total\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"The
  total number of items available to return.\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:17:\"playlist-snapshot\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"snapshot_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:122:\"The
  version identifier for the modified playlist. Can be supplied in other requests
  to target a specific playlist version.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"playlist-track\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"added_at\";O:8:\"stdClass\":2:{s:11:\"description\";s:122:\"The
  date and time the track was added in ISO 8601 format. Note that some very old playlists
  may return null in this field.\";s:4:\"type\";s:6:\"string\";}s:8:\"added_by\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/user-profile\";}s:8:\"is_local\";O:8:\"stdClass\":2:{s:11:\"description\";s:114:\"Whether
  this track is a [local file](https://developer.spotify.com/web-api/local-files-spotify-playlists/)
  or not.\";s:4:\"type\";s:7:\"boolean\";}s:5:\"track\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/track\";}}s:4:\"type\";s:6:\"object\";}s:19:\"playlist-track-page\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:4:\"href\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"A
  link to the Web API endpoint returning the full result of the request.\";s:4:\"type\";s:6:\"string\";}s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"The
  requested data.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/playlist-track\";}s:4:\"type\";s:5:\"array\";}s:5:\"limit\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"The
  maximum number of items in the response (as set in the query or by default).\";s:4:\"type\";s:7:\"integer\";}s:4:\"next\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"URL
  to the next page of items. (null if none)\";s:4:\"type\";s:6:\"string\";}s:6:\"offset\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"The
  offset of the items returned (as set in the query or by default).\";s:4:\"type\";s:7:\"integer\";}s:8:\"previous\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"URL
  to the previous page of items. (null if none)\";s:4:\"type\";s:6:\"string\";}s:5:\"total\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"The
  total number of items available to return.\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:11:\"saved-track\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"added_at\";O:8:\"stdClass\":2:{s:11:\"description\";s:122:\"The
  date and time the track was added in ISO 8601 format. Note that some very old playlists
  may return null in this field.\";s:4:\"type\";s:6:\"string\";}s:5:\"track\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/track\";}}s:4:\"type\";s:6:\"object\";}s:16:\"saved-track-page\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:4:\"href\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"A
  link to the Web API endpoint returning the full result of the request.\";s:4:\"type\";s:6:\"string\";}s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"The
  requested data.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/saved-track\";}s:4:\"type\";s:5:\"array\";}s:5:\"limit\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"The
  maximum number of items in the response (as set in the query or by default).\";s:4:\"type\";s:7:\"integer\";}s:4:\"next\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"URL
  to the next page of items. (null if none)\";s:4:\"type\";s:6:\"string\";}s:6:\"offset\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"The
  offset of the items returned (as set in the query or by default).\";s:4:\"type\";s:7:\"integer\";}s:8:\"previous\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"URL
  to the previous page of items. (null if none)\";s:4:\"type\";s:6:\"string\";}s:5:\"total\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"The
  total number of items available to return.\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:6:\"search\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"albums\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Present
  if the type of search includes 'album'.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:4:\"href\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"A
  link to the Web API endpoint returning the full result of the request.\";s:4:\"type\";s:6:\"string\";}s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"The
  requested data.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/album-simple\";}s:4:\"type\";s:5:\"array\";}s:5:\"limit\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"The
  maximum number of items in the response (as set in the query or by default).\";s:4:\"type\";s:7:\"integer\";}s:4:\"next\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"URL
  to the next page of items. (null if none)\";s:4:\"type\";s:6:\"string\";}s:6:\"offset\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"The
  offset of the items returned (as set in the query or by default).\";s:4:\"type\";s:7:\"integer\";}s:8:\"previous\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"URL
  to the previous page of items. (null if none)\";s:4:\"type\";s:6:\"string\";}s:5:\"total\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"The
  total number of items available to return.\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:7:\"artists\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Present
  if the type of search includes 'artist'.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:4:\"href\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"A
  link to the Web API endpoint returning the full result of the request.\";s:4:\"type\";s:6:\"string\";}s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"The
  requested data.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/artist\";}s:4:\"type\";s:5:\"array\";}s:5:\"limit\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"The
  maximum number of items in the response (as set in the query or by default).\";s:4:\"type\";s:7:\"integer\";}s:4:\"next\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"URL
  to the next page of items. (null if none)\";s:4:\"type\";s:6:\"string\";}s:6:\"offset\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"The
  offset of the items returned (as set in the query or by default).\";s:4:\"type\";s:7:\"integer\";}s:8:\"previous\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"URL
  to the previous page of items. (null if none)\";s:4:\"type\";s:6:\"string\";}s:5:\"total\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"The
  total number of items available to return.\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:6:\"tracks\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Present
  if the type of search includes 'track'.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:4:\"href\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"A
  link to the Web API endpoint returning the full result of the request.\";s:4:\"type\";s:6:\"string\";}s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"The
  requested data.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/track\";}s:4:\"type\";s:5:\"array\";}s:5:\"limit\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"The
  maximum number of items in the response (as set in the query or by default).\";s:4:\"type\";s:7:\"integer\";}s:4:\"next\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"URL
  to the next page of items. (null if none)\";s:4:\"type\";s:6:\"string\";}s:6:\"offset\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"The
  offset of the items returned (as set in the query or by default).\";s:4:\"type\";s:7:\"integer\";}s:8:\"previous\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"URL
  to the previous page of items. (null if none)\";s:4:\"type\";s:6:\"string\";}s:5:\"total\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"The
  total number of items available to return.\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:5:\"track\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":17:{s:5:\"album\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/album-simple\";}s:7:\"artists\";O:8:\"stdClass\":3:{s:11:\"description\";s:126:\"The
  artists who performed the track. Each artist object includes a link in href to more
  detailed information about the artist.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/artist-simple\";}s:4:\"type\";s:5:\"array\";}s:17:\"available_markets\";O:8:\"stdClass\":3:{s:11:\"description\";s:103:\"A
  list of the countries in which the track can be played, identified by their ISO
  3166-1 alpha-2 code. \";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:11:\"disc_number\";O:8:\"stdClass\":2:{s:11:\"description\";s:76:\"The
  disc number (usually 1 unless the album consists of more than one disc).\";s:4:\"type\";s:7:\"integer\";}s:11:\"duration_ms\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  track length in milliseconds.\";s:4:\"type\";s:7:\"integer\";}s:8:\"explicit\";O:8:\"stdClass\":2:{s:11:\"description\";s:101:\"Whether
  or not the track has explicit lyrics (true = yes it does; false = no it does not
  OR unknown).\";s:4:\"type\";s:7:\"boolean\";}s:12:\"external_ids\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:150:\"The
  identifier type, for example: 'isrc' - International Standard Recording Code, 'ean'
  - International Article Number, 'upc' - Universal Product Code\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:33:\"Known
  external IDs for the track.\";s:4:\"type\";s:6:\"object\";}s:13:\"external_urls\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"The
  type of the URL, for example: 'spotify' - The Spotify URL for the object.\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:35:\"Known
  external URLs for this track.\";s:4:\"type\";s:6:\"object\";}s:4:\"href\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"A
  link to the Web API endpoint providing full details of the track.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  Spotify ID for the track.\";s:4:\"type\";s:6:\"string\";}s:11:\"is_playable\";O:8:\"stdClass\":2:{s:11:\"description\";s:122:\"Part
  of the response when Track Relinking is applied. If true, the track is playable
  in the given market. Otherwise false.\";s:4:\"type\";s:7:\"boolean\";}s:11:\"linked_from\";O:8:\"stdClass\":3:{s:11:\"description\";s:212:\"Part
  of the response when Track Relinking is applied, and the requested track has been
  replaced with different track. The track in the linked_from object contains information
  about the originally requested track.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:13:\"external_urls\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"The
  type of the URL, for example: 'spotify' - The Spotify URL for the object.\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:35:\"Known
  external URLs for this track.\";s:4:\"type\";s:6:\"object\";}s:4:\"href\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"A
  link to the Web API endpoint providing full details of the track.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  Spotify ID for the track.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  object type: 'track'.\";s:4:\"type\";s:6:\"string\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  Spotify URI for the track.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  name of the track.\";s:4:\"type\";s:6:\"string\";}s:11:\"preview_url\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"A
  URL to a 30 second preview (MP3 format) of the track.\";s:4:\"type\";s:6:\"string\";}s:12:\"track_number\";O:8:\"stdClass\":2:{s:11:\"description\";s:109:\"The
  number of the track. If an album has several discs, the track number is the number
  on the specified disc.\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  object type: 'track'.\";s:4:\"type\";s:6:\"string\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  Spotify URI for the track.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"track-simple\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":15:{s:7:\"artists\";O:8:\"stdClass\":3:{s:11:\"description\";s:126:\"The
  artists who performed the track. Each artist object includes a link in href to more
  detailed information about the artist.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/artist-simple\";}s:4:\"type\";s:5:\"array\";}s:17:\"available_markets\";O:8:\"stdClass\":3:{s:11:\"description\";s:103:\"A
  list of the countries in which the track can be played, identified by their ISO
  3166-1 alpha-2 code. \";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:11:\"disc_number\";O:8:\"stdClass\":2:{s:11:\"description\";s:76:\"The
  disc number (usually 1 unless the album consists of more than one disc).\";s:4:\"type\";s:7:\"integer\";}s:11:\"duration_ms\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  track length in milliseconds.\";s:4:\"type\";s:7:\"integer\";}s:8:\"explicit\";O:8:\"stdClass\":2:{s:11:\"description\";s:101:\"Whether
  or not the track has explicit lyrics (true = yes it does; false = no it does not
  OR unknown).\";s:4:\"type\";s:7:\"boolean\";}s:13:\"external_urls\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"The
  type of the URL, for example: 'spotify' - The Spotify URL for the object.\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:35:\"Known
  external URLs for this track.\";s:4:\"type\";s:6:\"object\";}s:4:\"href\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"A
  link to the Web API endpoint providing full details of the track.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  Spotify ID for the track.\";s:4:\"type\";s:6:\"string\";}s:11:\"is_playable\";O:8:\"stdClass\":2:{s:11:\"description\";s:122:\"Part
  of the response when Track Relinking is applied. If true, the track is playable
  in the given market. Otherwise false.\";s:4:\"type\";s:7:\"boolean\";}s:11:\"linked_from\";O:8:\"stdClass\":3:{s:11:\"description\";s:212:\"Part
  of the response when Track Relinking is applied, and the requested track has been
  replaced with different track. The track in the linked_from object contains information
  about the originally requested track.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:13:\"external_urls\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"The
  type of the URL, for example: 'spotify' - The Spotify URL for the object.\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:35:\"Known
  external URLs for this track.\";s:4:\"type\";s:6:\"object\";}s:4:\"href\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"A
  link to the Web API endpoint providing full details of the track.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  Spotify ID for the track.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  object type: 'track'.\";s:4:\"type\";s:6:\"string\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  Spotify URI for the track.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  name of the track.\";s:4:\"type\";s:6:\"string\";}s:11:\"preview_url\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"A
  URL to a 30 second preview (MP3 format) of the track.\";s:4:\"type\";s:6:\"string\";}s:12:\"track_number\";O:8:\"stdClass\":2:{s:11:\"description\";s:109:\"The
  number of the track. If an album has several discs, the track number is the number
  on the specified disc.\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  object type: 'track'.\";s:4:\"type\";s:6:\"string\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  Spotify URI for the track.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"track-simple-page\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:4:\"href\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"A
  link to the Web API endpoint returning the full result of the request.\";s:4:\"type\";s:6:\"string\";}s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"The
  requested data.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/track-simple\";}s:4:\"type\";s:5:\"array\";}s:5:\"limit\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"The
  maximum number of items in the response (as set in the query or by default).\";s:4:\"type\";s:7:\"integer\";}s:4:\"next\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"URL
  to the next page of items. (null if none)\";s:4:\"type\";s:6:\"string\";}s:6:\"offset\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"The
  offset of the items returned (as set in the query or by default).\";s:4:\"type\";s:7:\"integer\";}s:8:\"previous\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"URL
  to the previous page of items. (null if none)\";s:4:\"type\";s:6:\"string\";}s:5:\"total\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"The
  total number of items available to return.\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:13:\"user-followed\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"artists\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Present
  if the type of followe items is 'artist'.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:6:\"cursor\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  cursors used to find the next set of items.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"after\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"The
  cursor to use as key to find the next page of items.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"href\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"A
  link to the Web API endpoint returning the full result of the request.\";s:4:\"type\";s:6:\"string\";}s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"The
  requested data.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/artist\";}s:4:\"type\";s:5:\"array\";}s:5:\"limit\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"The
  maximum number of items in the response (as set in the query or by default).\";s:4:\"type\";s:7:\"integer\";}s:4:\"next\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"URL
  to the next page of items. (null if none)\";s:4:\"type\";s:6:\"string\";}s:5:\"total\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"The
  total number of items available to return.\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:12:\"user-profile\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"The
  name displayed on the user's profile.\";s:4:\"type\";s:6:\"string\";}s:13:\"external_urls\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:34:\"Known
  external URLs for this user.\";s:4:\"type\";s:6:\"object\";}s:9:\"followers\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/followers\";}s:4:\"href\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"A
  link to the Web API endpoint for this user.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  Spotify ID for this user.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  object type: 'user'\";s:4:\"type\";s:6:\"string\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  Spotify URI for the user.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
