---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:7:\"contact\";O:8:\"stdClass\":1:{s:9:\"x-twitter\";s:6:\"Flickr\";}s:11:\"description\";s:51:\"A
  subset of Flickr's API defined in Swagger format.\";s:14:\"termsOfService\";s:40:\"https://www.flickr.com/services/api/tos/\";s:5:\"title\";s:17:\"Flickr
  API Schema\";s:7:\"version\";s:5:\"1.0.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"media\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:78:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_Flickr_profile_image.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:83:\"https://raw.githubusercontent.com/flickr/flickr-api-swagger/master/dist/schema.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:10:\"flickr.com\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"flickr\";s:4:\"type\";s:7:\"openapi\";}}"
host: api.flickr.com
basePath: /services
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":16:{s:5:\"Album\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":14:{s:11:\"can_comment\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:14:\"count_comments\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:11:\"count_views\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:11:\"date_create\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:11:\"date_update\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"farm\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"photos\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"primary\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"secret\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"server\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"videos\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:12:\"ContextPhoto\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":12:{s:4:\"farm\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"is_faved\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:7:\"license\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"media\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"owner\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"safe\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:6:\"secret\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"server\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"thumb\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"ContextPhotos\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"photos\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ContextPhoto\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Cover\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:4:\"farm\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"isfamily\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"isfriend\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"ispublic\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:5:\"owner\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"secret\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"server\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:1:\"y\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Group\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":25:{s:5:\"blast\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"_content\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"date_blast_added\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"user_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"cover\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Cover\";}s:15:\"coverphoto_farm\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"coverphoto_server\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"coverphoto_url\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/PhotoURLs\";}s:11:\"description\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"_content\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"iconfarm\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"iconserver\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"is_admin\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"is_member\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:12:\"is_moderator\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:15:\"ispoolmoderated\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"lang\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"members\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"_content\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"name\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"_content\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"path_alias\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"pool_count\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"_content\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"pool_rows\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"privacy\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"_content\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"restrictions\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:6:\"art_ok\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:7:\"has_geo\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"images_ok\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"moderate_ok\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"photos_ok\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:13:\"restricted_ok\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:7:\"safe_ok\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"screens_ok\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"videos_ok\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:5:\"roles\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"admin\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"member\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"moderator\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"rules\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"_content\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"throttle\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"mode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"remaining\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"topic_count\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"_content\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Note\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Owner\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:8:\"iconfarm\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"iconserver\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"is_ad_free\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:5:\"ispro\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"location\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"noindexfollow\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"nsid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"path_alias\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"realname\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"username\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Person\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":28:{s:11:\"can_buy_pro\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:5:\"cover\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Cover\";}s:10:\"coverphoto\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/PhotoURLs\";}s:15:\"coverphoto_farm\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"coverphoto_server\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"_content\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:26:\"disable_keyboard_shortcuts\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"_content\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"expire\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"has_stats\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"iconfarm\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"iconserver\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"is_ad_free\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:5:\"ispro\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"location\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"_content\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"mbox_sha1sum\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"_content\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"mobileurl\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"_content\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"nsid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"path_alias\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"photos\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"count\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"_content\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"firstdate\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"_content\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"firstdatetaken\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"_content\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"views\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"_content\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:9:\"photosurl\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"_content\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"profileurl\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"_content\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"realname\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"_content\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"timezone\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"label\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"offset\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"timezone_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"unread_messages\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"_content\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"user_secret\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"username\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"_content\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"yintl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Photo\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":27:{s:8:\"comments\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"_content\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"dates\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"lastupdate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"posted\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"taken\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"takengranularity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"takenunknown\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:12:\"dateuploaded\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"_content\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"editability\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"canaddmeta\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"cancomment\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:4:\"farm\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"isfavorite\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:7:\"license\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"media\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"notes\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"note\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Note\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:14:\"originalsecret\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"owner\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Owner\";}s:6:\"people\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"haspeople\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:11:\"permissions\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"permaddmeta\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"permcomment\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"publiceditability\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"canaddmeta\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"cancomment\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:8:\"rotation\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"safe\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:12:\"safety_level\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"secret\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"server\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"tag\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Tag\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:5:\"title\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"_content\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"urls\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"url\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/URL\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:5:\"usage\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"canblog\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"candownload\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"canprint\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"canshare\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:5:\"views\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"visibility\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"isfamily\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"isfriend\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"ispublic\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:9:\"PhotoURLs\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:1:\"h\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:1:\"l\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:1:\"s\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:1:\"t\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Size\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:6:\"height\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"label\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"media\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"source\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"width\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Stat\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"Tag\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:8:\"_content\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"author\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"authorname\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"machine_tag\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:3:\"raw\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Topic\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":21:{s:6:\"author\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"author_is_deleted\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:17:\"author_path_alias\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"authorname\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"can_delete\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"can_edit\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"can_reply\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:13:\"count_replies\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"datecreate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"datelastpost\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"iconfarm\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"iconserver\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"is_locked\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:6:\"is_pro\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"is_sticky\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"last_reply\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"lastedit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"_content\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"role\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"subject\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"TopicReply\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":13:{s:6:\"author\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"author_is_deleted\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:17:\"author_path_alias\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"authorname\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"can_delete\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"can_edit\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"datecreate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"iconfarm\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"iconserver\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"is_pro\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"lastedit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"_content\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:3:\"URL\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"_content\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
