---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":6:{s:11:\"description\";s:42:\"Api encargada de
  la validacion de tarjetas\";s:7:\"version\";s:2:\"v1\";s:5:\"title\";s:22:\"API
  Visanet Validation\";s:14:\"termsOfService\";s:25:\"http://www.visanet.com.pe\";s:7:\"contact\";O:8:\"stdClass\":3:{s:4:\"name\";s:7:\"VisaNet\";s:3:\"url\";s:25:\"http://www.visanet.com.pe\";s:5:\"email\";s:17:\"visanet@gmail.com\";}s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:10:\"Apache
  2.0\";s:3:\"url\";s:47:\"http://www.apache.org/licenses/LICENSE-2.0.html\";}}"
host: testapienv.vnforapps.com
basePath: /api.validate/v1
paths:
  /confirm/{product}/{merchantId}:
    post:
      tags:
      - Validation Api
      summary: Confirmation
      description: RESTful API to confirm transactions.
      operationId: confirm
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: product
        in: path
        description: Identificador del producto
        required: true
        type: string
        x-example: ecommerce
        enum:
        - recurrence
        - ecommerce
        - pospc
        - mpos
        - pos
        - oct
      - name: merchantId
        in: path
        description: Identificador del comercio
        required: true
        type: string
      - in: body
        name: body
        description: Confirm card request
        required: true
        schema:
          $ref: '#/definitions/ConfirmationRequest'
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/ValidationResponse'
        401:
          description: Unauthorized
        500:
          description: Request is not valid
      security:
      - accessToken: []
  /validate/{product}/{merchantId}:
    post:
      tags:
      - Validation Api
      summary: Validation
      description: RESTful API to validate transactions.
      operationId: validate
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: product
        in: path
        description: Identificador del producto
        required: true
        type: string
        x-example: ecommerce
        enum:
        - recurrence
        - ecommerce
        - pospc
        - mpos
        - pos
        - oct
      - name: merchantId
        in: path
        description: Identificador del comercio
        required: true
        type: string
      - in: body
        name: body
        description: Validate card request
        required: true
        schema:
          $ref: '#/definitions/ValidationRequest'
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/ValidationResponse'
        401:
          description: Unauthorized
        500:
          description: Request is not valid
      security:
      - accessToken: []
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":16:{s:7:\"Address\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"street1\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:17:\"Calle
  Astorga 827\";s:11:\"description\";s:9:\"Direccion\";}s:7:\"street2\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:17:\"Calle
  Astorga 831\";s:11:\"description\";s:9:\"Direccion\";}s:10:\"postalCode\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"Lima
  30\";s:11:\"description\";s:13:\"Codigo Postal\";}s:4:\"city\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"Lima\";s:11:\"description\";s:6:\"Ciudad\";}s:5:\"state\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"LI\";s:11:\"description\";s:21:\"Departamento
  / Estado\";}s:7:\"country\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:2:\"PE\";s:11:\"description\";s:4:\"Pais\";}}s:11:\"description\";s:47:\"Entidad
  que representa informacion de direccion\";}s:9:\"Antifraud\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:8:\"clientIp\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:14:\"billingAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Direccion
  de facturacion\";s:4:\"$ref\";s:21:\"#/definitions/Address\";}s:15:\"shippingAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Direccion
  de envio\";s:4:\"$ref\";s:21:\"#/definitions/Address\";}s:8:\"clientIp\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:13:\"24.212.107.30\";s:11:\"description\";s:24:\"Direccion
  IP del cliente\";}s:19:\"deviceFingerprintId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Device
  Finger Print Id\";}s:18:\"merchantDefineData\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:43:\"Datos
  adicionales definidos por el comercio\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:11:\"description\";s:48:\"Entidad
  que representa informacion de antifraude\";}s:5:\"Ardef\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:3:\"bin\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"Numero
  Bin\";}s:6:\"region\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"Region\";}s:7:\"country\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"Pais\";}s:9:\"fastFunds\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"Fast
  Funds\";}s:7:\"product\";O:8:\"stdClass\":2:{s:11:\"description\";s:8:\"Producto\";s:4:\"$ref\";s:24:\"#/definitions/Dictionary\";}s:6:\"source\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"Fuente\";s:4:\"$ref\";s:24:\"#/definitions/Dictionary\";}}s:11:\"description\";s:39:\"Informacion
  del bin almacenada en ARDEF\";}s:14:\"Authentication\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"eci\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"Valor
  eci del proceso de validacion de la marca\";}s:3:\"xid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"Valor
  xid del proceso de validacion de la marca\";}s:4:\"cavv\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:48:\"Valor
  cavv del proceso de validacion de la marca\";}}s:11:\"description\";s:58:\"Entidad
  que representa los datos de validacion de la marca\";}s:4:\"Card\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":19:{s:10:\"cardNumber\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:16:\"4551478422045511\";s:11:\"description\";s:17:\"Numero
  de tarjeta\";}s:15:\"expirationMonth\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:12;s:11:\"description\";s:17:\"Mes
  de expiracion\";}s:14:\"expirationYear\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:2029;s:11:\"description\";s:15:\"Expiration
  year\";}s:4:\"cvv2\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"329\";s:11:\"description\";s:4:\"CVV2\";}s:14:\"sequenceNumber\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"001\";s:11:\"description\";s:33:\"Numero
  de secuencia de la tarjeta\";}s:14:\"cardHolderName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:14:\"Pedro
  Galdamez\";s:11:\"description\";s:25:\"Nombre del tarjethabiente\";}s:7:\"tokenId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:16:\"7000100000002553\";s:11:\"description\";s:81:\"Identificador
  de tarjeta tokenizada, opcional y reemplaza los datos de la tarjeta\";}s:13:\"cardAliasName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"Debito
  1\";s:11:\"description\";s:124:\"Dato opcional solo si se quiere tokenizar la tarjeta.
  Solo habilitado para comercios con el servicio de tokenizacion activo.\";}s:6:\"verify\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:44:\"Flag
  para activar verificaciones adicionales\";}s:6:\"track2\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"Identificador
  de pista 2 obtenido via lector\";}s:3:\"emv\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:52:\"Valor
  adicional para tarjetas con circuito integrado\";}s:13:\"cardNumberEnc\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:69:\"Numero
  de tarjeta encriptado, reemplaza al numero de tarjeta en claro\";}s:9:\"track2Enc\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:60:\"Datos
  de la pista 2 encriptados, reemplaza al campo en claro\";}s:6:\"emvEnc\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:54:\"Datos
  del EMV encriptados, reemplaza al campo en claro\";}s:11:\"pinBlockEnc\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"Pin
  de la tarjeta encriptado\";}s:8:\"ksnDukpt\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"Clave
  unica derivada para la transaccion\";}s:12:\"visaCheckout\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:35:\"Flag
  que indica si es visa checkout\";}s:20:\"registerCardFrecuent\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:58:\"Flag
  que indica si debe registrarse como tarjeta frecuente\";}s:15:\"useCardFrecuent\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:53:\"Flag
  que indica si debe usarse como tarjeta frecuente\";}}s:11:\"description\";s:25:\"Informacion
  de la tarejta\";}s:10:\"CardHolder\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:9:\"firstName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"Pedro\";s:11:\"description\";s:6:\"Nombre\";}s:8:\"lastName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"Galdamez\";s:11:\"description\";s:8:\"Apellido\";}s:5:\"email\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:18:\"info@quiputech.com\";s:11:\"description\";s:18:\"Correo
  electronico\";}s:11:\"phoneNumber\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:13:\"+51
  1 2223333\";s:11:\"description\";s:8:\"Telefono\";}s:12:\"documentType\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"DNI\";s:11:\"description\";s:17:\"Tipo
  de documento\";s:4:\"enum\";a:3:{i:0;s:3:\"DNI\";i:1;s:2:\"CE\";i:2;s:3:\"PAS\";}}s:14:\"documentNumber\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"E065199\";s:11:\"description\";s:19:\"Numero
  de documento\";}}s:11:\"description\";s:30:\"Informacion del tarjethabiente\";}s:19:\"ConfirmationRequest\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:6:\"amount\";i:1;s:5:\"email\";i:2;s:5:\"token\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"phoneNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"Numero
  de telefono movil\";}s:5:\"email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:5:\"Email\";}s:5:\"token\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"Idenficador
  de la tarjeta tokenizada\";}s:6:\"amount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:37:\"Importe
  enviado al validar la tarjeta\";}}s:11:\"description\";s:44:\"Request para confirmar
  la tarjeta tokenizada\";}s:10:\"Dictionary\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"Codigo
  del item\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"Descripcion
  del item\";}}s:11:\"description\";s:24:\"Diccionario de elementos\";}s:6:\"Header\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:20:\"ecoreTransactionUUID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"Identificador
  unico de transaccion para ecore\";}s:20:\"ecoreTransactionDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:21:\"Fecha
  de la operacion\";}s:6:\"millis\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:19:\"Tiempo
  de ejecucion\";}}s:11:\"description\";s:28:\"Encabezado de la transaccion\";}s:5:\"Order\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:6:\"amount\";i:1;s:8:\"currency\";i:2;s:14:\"purchaseNumber\";}s:10:\"properties\";O:8:\"stdClass\":17:{s:7:\"tokenId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:64:\"e29df880fb458dff08f16b891b21aa8b2b005e9028e59edcdb4320e1d98d91be\";s:11:\"description\";s:59:\"Id
  del token de transaccion para autorizacion en dos etapas\";}s:14:\"purchaseNumber\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:10:\"1234567890\";s:11:\"description\";s:17:\"Numero
  del pedido\";}s:9:\"productId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"102\";s:11:\"description\";s:29:\"Id
  del producto para la orden\";}s:6:\"amount\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:7:\"example\";d:1;s:11:\"description\";s:18:\"Importe
  del pedido\";}s:11:\"installment\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:1;s:11:\"description\";s:6:\"Cuotas\";}s:8:\"currency\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"PEN\";s:11:\"description\";s:6:\"Moneda\";s:4:\"enum\";a:2:{i:0;s:3:\"PEN\";i:1;s:3:\"USD\";}}s:21:\"externalTransactionId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:61:\"Identificador
  unico de la transaccion enviado por el comercio\";}s:16:\"authorizedAmount\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:26:\"Importe
  de la autorizacion\";s:8:\"readOnly\";b:1;}s:17:\"authorizationCode\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"Numero
  de la autorizacion\";s:8:\"readOnly\";b:1;}s:10:\"actionCode\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"Codigo
  de accion\";s:8:\"readOnly\";b:1;}s:11:\"traceNumber\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:5:\"00004\";s:11:\"description\";s:65:\"Identificador
  unico de la transaccion generado en la autorizacion\";s:8:\"readOnly\";b:1;}s:15:\"transactionDate\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:12:\"170720231016\";s:11:\"description\";s:23:\"Fecha
  de la transaccion\";s:8:\"readOnly\";b:1;}s:13:\"transactionId\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:15:\"990172014359425\";s:11:\"description\";s:31:\"Identificador
  de la transaccion\";s:8:\"readOnly\";b:1;}s:19:\"originalTraceNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:49:\"Identificador
  de la transaccion original a anular\";}s:16:\"originalDateTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"Fecha
  de la transaccion original a anular\";}s:14:\"billingAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Direccion
  de facturacion\";s:4:\"$ref\";s:21:\"#/definitions/Address\";}s:15:\"shippingAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Direccion
  de envio\";s:4:\"$ref\";s:21:\"#/definitions/Address\";}}s:11:\"description\";s:48:\"Entidad
  que representa la informacion del pedido\";}s:15:\"RuleAmountRange\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"minimum\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:7:\"example\";d:1;s:11:\"description\";s:14:\"Minimum
  amount\";}s:7:\"maximum\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:7:\"example\";d:10;s:11:\"description\";s:14:\"Maximum
  amount\";}}s:11:\"description\";s:68:\"Entidad que representa el rango en el cual
  debe mantenerse el amount\";}s:9:\"Sponsored\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"merchantId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:11:\"10101010199\";s:11:\"description\";s:19:\"Codigo
  del comercio\";}s:4:\"mcci\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"5211\";s:11:\"description\";s:18:\"MCCI
  Internacional\";}s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:22:\"Comercio
  Internacional\";s:11:\"description\";s:19:\"Nombre del comercio\";}s:7:\"address\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:51:\"Calle
  Garrido y Bermejo 4, Piso 4C, Salamanca, Peru\";s:11:\"description\";s:22:\"Direccion
  del comercio\";}s:11:\"phoneNumber\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:9:\"876789876\";s:11:\"description\";s:18:\"Numero
  de telefono\";}}s:11:\"description\";s:46:\"Entidad que representa al comercio patrocinado\";}s:21:\"ValidationConstraints\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"range\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Rango
  en el que debe permanecer el amount\";s:4:\"$ref\";s:29:\"#/definitions/RuleAmountRange\";}}s:11:\"description\";s:54:\"Objeto
  que representa las diferentes reglas aplicables\";}s:17:\"ValidationRequest\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:5:{i:0;s:11:\"captureType\";i:1;s:4:\"card\";i:2;s:7:\"channel\";i:3;s:5:\"order\";i:4;s:10:\"terminalId\";}s:10:\"properties\";O:8:\"stdClass\":18:{s:10:\"terminalId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"12345678\";s:11:\"description\";s:18:\"Numero
  de Terminal\";}s:7:\"channel\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"web\";s:11:\"description\";s:43:\"Canal
  desde donde se origino la transaccion\";s:4:\"enum\";a:7:{i:0;s:6:\"mobile\";i:1;s:3:\"web\";i:2;s:4:\"mpos\";i:3;s:4:\"host\";i:4;s:3:\"pos\";i:5;s:5:\"kiosk\";i:6;s:10:\"callcenter\";}}s:12:\"merchantName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"Nombre
  del comercio\";}s:12:\"categoryCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Categoria
  del comercio\";}s:18:\"terminalUnattended\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:64:\"Flag
  para indicar si la transaccion vino desde canal desatendido\";}s:11:\"captureType\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"manual\";s:11:\"description\";s:27:\"Tipo
  de captura en el canal\";s:4:\"enum\";a:5:{i:0;s:6:\"manual\";i:1;s:4:\"chip\";i:2;s:4:\"band\";i:3;s:11:\"contactless\";i:4;s:10:\"cardOnFile\";}}s:5:\"order\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Entidad
  que representa el pedido\";s:4:\"$ref\";s:19:\"#/definitions/Order\";}s:4:\"card\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Entidad
  que representa al tarjetahabiente\";s:4:\"$ref\";s:18:\"#/definitions/Card\";}s:10:\"cardHolder\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Datos
  del cliente\";s:4:\"$ref\";s:24:\"#/definitions/CardHolder\";}s:9:\"sponsored\";O:8:\"stdClass\":2:{s:11:\"description\";s:88:\"Entidad
  que representa al comercio patrocinado. Es obligatorio para Payments Facilitator\";s:4:\"$ref\";s:23:\"#/definitions/Sponsored\";}s:9:\"antifraud\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Entidad
  que maneja la informacion del antifraude\";s:4:\"$ref\";s:23:\"#/definitions/Antifraud\";}s:14:\"authentication\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"Entidad
  opcional que maneja la autenticacion para la marca\";s:4:\"$ref\";s:28:\"#/definitions/Authentication\";}s:11:\"constraints\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Reglas
  que debe seguir la validacion\";s:4:\"$ref\";s:35:\"#/definitions/ValidationConstraints\";}s:3:\"lon\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"Coordenadas
  de longitud\";}s:3:\"lat\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Coordenadas
  de latitud\";}s:9:\"countable\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:54:\"Flag
  que determina si la autorizacion es contable o no\";}s:8:\"tokenize\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:46:\"Flag
  que indica si debe tokenizarse la tarjeta\";}s:7:\"dataMap\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:44:\"Informacion
  complementaria de la transaccion\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:11:\"description\";s:32:\"Request
  para validar una tarjeta\";}s:18:\"ValidationResponse\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:6:\"header\";i:1;s:5:\"order\";i:2;s:5:\"token\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"header\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Entidad
  que representa el resultado de la transaccion\";s:4:\"$ref\";s:20:\"#/definitions/Header\";}s:5:\"order\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Entidad
  que representa el pedido\";s:4:\"$ref\";s:19:\"#/definitions/Order\";}s:5:\"token\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Entidad
  que representa el objeto tokenizado\";s:4:\"$ref\";s:29:\"#/definitions/ValidationToken\";}s:9:\"binDetail\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Informacion
  adicional del bin de la tarjeta\";s:4:\"$ref\";s:19:\"#/definitions/Ardef\";}s:7:\"dataMap\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:39:\"Informacion
  adicional de la transaccion\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:11:\"description\";s:38:\"Respuesta
  de la validacion de tarjetas\";}s:15:\"ValidationToken\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"token\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"Token
  identificador del objeto tokenizado\";}s:4:\"hash\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"Hash
  identificador del objeto tokenizado\";}s:10:\"expiration\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Fecha
  de expiracion del token\";}}s:11:\"description\";s:18:\"Tarjeta Tokenizada\";}}"
...
