---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Google\";s:3:\"url\";s:18:\"https://google.com\";}s:11:\"description\";s:96:\"Allows
  developers to run automated tests for their mobile applications on Google infrastructure.\";s:5:\"title\";s:20:\"Google
  Cloud Testing\";s:7:\"version\";s:2:\"v1\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:37:\"https://console.developers.google.com\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:15:\"developer_tools\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:82:\"https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.6.0\";}s:6:\"format\";s:6:\"google\";s:3:\"url\";s:57:\"https://testing.googleapis.com/$discovery/rest?version=v1\";s:7:\"version\";s:2:\"v1\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"googleapis.com\";s:13:\"x-serviceName\";s:7:\"testing\";}"
host: testing.googleapis.com
basePath: /
paths:
  /v1/projects/{projectId}/testMatrices:
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
    post:
      description: Request to run a matrix of tests according to the given specifications.nUnsupported
        environments will be returned in the state UNSUPPORTED.nMatrices are limited
        to at most 200 supported executions.nnMay return any of the following canonical
        error codes:nn- PERMISSION_DENIED - if the user is not authorized to write
        to projectn- INVALID_ARGUMENT - if the request is malformed or if the matrix
        expandsn                     to more than 200 supported executions
      operationId: testing.projects.testMatrices.create
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/TestMatrix'
      - description: The GCE project under which this job will run.
        in: path
        name: projectId
        required: true
        type: string
      - description: A string id used to detect duplicated requests.nIds are automatically
          scoped to a project, sonusers should ensure the ID is unique per-project.nA
          UUID is recommended.nnOptional, but strongly recommended.
        in: query
        name: requestId
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/TestMatrix'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
  /v1/projects/{projectId}/testMatrices/{testMatrixId}:
    get:
      description: Check the status of a test matrix.nnMay return any of the following
        canonical error codes:nn- PERMISSION_DENIED - if the user is not authorized
        to read projectn- INVALID_ARGUMENT - if the request is malformedn- NOT_FOUND
        - if the Test Matrix does not exist
      operationId: testing.projects.testMatrices.get
      parameters:
      - description: Cloud project that owns the test matrix.
        in: path
        name: projectId
        required: true
        type: string
      - description: Unique test matrix id which was assigned by the service.
        in: path
        name: testMatrixId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/TestMatrix'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform.read-only
      tags:
      - projects
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
  /v1/projects/{projectId}/testMatrices/{testMatrixId}:cancel:
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
    post:
      description: Cancels unfinished test executions in a test matrix.nThis call
        returns immediately and cancellation proceeds asychronously.nIf the matrix
        is already final, this operation will have no effect.nnMay return any of the
        following canonical error codes:nn- PERMISSION_DENIED - if the user is not
        authorized to read projectn- INVALID_ARGUMENT - if the request is malformedn-
        NOT_FOUND - if the Test Matrix does not exist
      operationId: testing.projects.testMatrices.cancel
      parameters:
      - description: Cloud project that owns the test.
        in: path
        name: projectId
        required: true
        type: string
      - description: Test matrix that will be canceled.
        in: path
        name: testMatrixId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/CancelTestMatrixResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
  /v1/testEnvironmentCatalog/{environmentType}:
    get:
      description: Get the catalog of supported test environments.nnMay return any
        of the following canonical error codes:nn- INVALID_ARGUMENT - if the request
        is malformedn- NOT_FOUND - if the environment type does not existn- INTERNAL
        - if an internal error occurred
      operationId: testing.testEnvironmentCatalog.get
      parameters:
      - description: The type of environment that should be listed.nRequired
        enum:
        - ENVIRONMENT_TYPE_UNSPECIFIED
        - ANDROID
        - NETWORK_CONFIGURATION
        in: path
        name: environmentType
        required: true
        type: string
      - description: For authorization, the cloud project requesting the TestEnvironmentCatalog.nOptional
        in: query
        name: projectId
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/TestEnvironmentCatalog'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform.read-only
      tags:
      - testEnvironmentCatalog
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":40:{s:7:\"Account\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Identifies
  an account and how to log into it\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"googleAuto\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/GoogleAuto\";s:11:\"description\";s:33:\"An
  automatic google login account\";}}s:4:\"type\";s:6:\"object\";}s:13:\"AndroidDevice\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"A
  single Android device.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:14:\"androidModelId\";O:8:\"stdClass\":2:{s:11:\"description\";s:111:\"The
  id of the Android device to be used.\nUse the EnvironmentDiscoveryService to get
  supported options.\nRequired\";s:4:\"type\";s:6:\"string\";}s:16:\"androidVersionId\";O:8:\"stdClass\":2:{s:11:\"description\";s:115:\"The
  id of the Android OS version to be used.\nUse the EnvironmentDiscoveryService to
  get supported options.\nRequired\";s:4:\"type\";s:6:\"string\";}s:6:\"locale\";O:8:\"stdClass\":2:{s:11:\"description\";s:115:\"The
  locale the test device used for testing.\nUse the EnvironmentDiscoveryService to
  get supported options.\nRequired\";s:4:\"type\";s:6:\"string\";}s:11:\"orientation\";O:8:\"stdClass\":2:{s:11:\"description\";s:114:\"How
  the device is oriented during the test.\nUse the EnvironmentDiscoveryService to
  get supported options.\nRequired\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"AndroidDeviceCatalog\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  currently supported Android devices.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"models\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"The
  set of supported Android device models.\n@OutputOnly\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/AndroidModel\";}s:4:\"type\";s:5:\"array\";}s:20:\"runtimeConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/AndroidRuntimeConfiguration\";s:11:\"description\";s:56:\"The
  set of supported runtime configurations.\n@OutputOnly\";}s:8:\"versions\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"The
  set of supported Android OS versions.\n@OutputOnly\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/AndroidVersion\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:17:\"AndroidDeviceList\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"A
  list of Android device configurations in which the test is to be executed.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"androidDevices\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"A
  list of Android devices\nRequired\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/AndroidDevice\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:26:\"AndroidInstrumentationTest\";O:8:\"stdClass\":3:{s:11:\"description\";s:500:\"A
  test of an Android application that can control an Android component\nindependently
  of its normal lifecycle.\nAndroid instrumentation tests run an application APK and
  test APK inside the\nsame process on a virtual or physical AndroidDevice.  They
  also specify\na test runner class, such as com.google.GoogleTestRunner, which can
  vary\non the specific instrumentation framework chosen.\n\nSee <http://developer.android.com/tools/testing/testing_android.html>
  for\nmore information on types of Android tests.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:6:\"appApk\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/FileReference\";s:11:\"description\";s:48:\"The
  APK for the application under test.\nRequired\";}s:12:\"appPackageId\";O:8:\"stdClass\":2:{s:11:\"description\";s:121:\"The
  java package for the application under test.\nOptional, default is determined by
  examining the application's manifest.\";s:4:\"type\";s:6:\"string\";}s:18:\"orchestratorOption\";O:8:\"stdClass\":3:{s:11:\"description\";s:541:\"The
  option of whether running each test within its own invocation of\ninstrumentation
  with Android Test Orchestrator or not.\n** Orchestrator is only compatible with
  AndroidJUnitRunner version 1.0 or\nhigher! **\nOrchestrator offers the following
  benefits:\n - No shared state\n - Crashes are isolated\n - Logs are scoped per test\n\nSee\n<https://developer.android.com/training/testing/junit-runner.html#using-android-test-orchestrator>\nfor
  more information about Android Test Orchestrator.\n\nOptional, if empty, test will
  be run without orchestrator.\";s:4:\"enum\";a:3:{i:0;s:31:\"ORCHESTRATOR_OPTION_UNSPECIFIED\";i:1;s:16:\"USE_ORCHESTRATOR\";i:2;s:23:\"DO_NOT_USE_ORCHESTRATOR\";}s:4:\"type\";s:6:\"string\";}s:7:\"testApk\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/FileReference\";s:11:\"description\";s:57:\"The
  APK containing the test code to be executed.\nRequired\";}s:13:\"testPackageId\";O:8:\"stdClass\":2:{s:11:\"description\";s:118:\"The
  java package for the test to be executed.\nOptional, default is determined by examining
  the application's manifest.\";s:4:\"type\";s:6:\"string\";}s:15:\"testRunnerClass\";O:8:\"stdClass\":2:{s:11:\"description\";s:109:\"The
  InstrumentationTestRunner class.\nOptional, default is determined by examining the
  application's manifest.\";s:4:\"type\";s:6:\"string\";}s:11:\"testTargets\";O:8:\"stdClass\":3:{s:11:\"description\";s:265:\"Each
  target must be fully qualified with the package name or class name,\nin one of these
  formats:\n - \"package package_name\"\n - \"class package_name.class_name\"\n -
  \"class package_name.class_name#method_name\"\n\nOptional, if empty, all targets
  in the module will be run.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:13:\"AndroidMatrix\";O:8:\"stdClass\":3:{s:11:\"description\";s:312:\"A
  set of Android device configuration permutations is defined by the\nthe cross-product
  of the given axes.  Internally, the given AndroidMatrix\nwill be expanded into a
  set of AndroidDevices.\n\nOnly supported permutations will be instantiated.  Invalid
  permutations\n(e.g., incompatible models/versions) are ignored.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:15:\"androidModelIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:119:\"The
  ids of the set of Android device to be used.\nUse the EnvironmentDiscoveryService
  to get supported options.\nRequired\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:17:\"androidVersionIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:123:\"The
  ids of the set of Android OS version to be used.\nUse the EnvironmentDiscoveryService
  to get supported options.\nRequired\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"locales\";O:8:\"stdClass\":3:{s:11:\"description\";s:130:\"The
  set of locales the test device will enable for testing.\nUse the EnvironmentDiscoveryService
  to get supported options.\nRequired\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:12:\"orientations\";O:8:\"stdClass\":3:{s:11:\"description\";s:108:\"The
  set of orientations to test with.\nUse the EnvironmentDiscoveryService to get supported
  options.\nRequired\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:12:\"AndroidModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"A
  description of an Android device tests may be run on.\";s:10:\"properties\";O:8:\"stdClass\":12:{s:5:\"brand\";O:8:\"stdClass\":2:{s:11:\"description\";s:86:\"The
  company that this device is branded with.\nExample: \"Google\", \"Samsung\"\n@OutputOnly\";s:4:\"type\";s:6:\"string\";}s:8:\"codename\";O:8:\"stdClass\":2:{s:11:\"description\";s:90:\"The
  name of the industrial design.\nThis corresponds to android.os.Build.DEVICE\n@OutputOnly\";s:4:\"type\";s:6:\"string\";}s:4:\"form\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"Whether
  this device is virtual or physical.\n@OutputOnly\";s:4:\"enum\";a:3:{i:0;s:23:\"DEVICE_FORM_UNSPECIFIED\";i:1;s:7:\"VIRTUAL\";i:2;s:8:\"PHYSICAL\";}s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:96:\"The
  unique opaque id for this model.\nUse this for invoking the TestExecutionService.\n@OutputOnly\";s:4:\"type\";s:6:\"string\";}s:12:\"manufacturer\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"The
  manufacturer of this device.\n@OutputOnly\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:101:\"The
  human-readable marketing name for this device model.\nExamples: \"Nexus 5\", \"Galaxy
  S5\"\n@OutputOnly\";s:4:\"type\";s:6:\"string\";}s:13:\"screenDensity\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"Screen
  density in DPI.\nThis corresponds to ro.sf.lcd_density\n@OutputOnly\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"screenX\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"Screen
  size in the horizontal (X) dimension measured in pixels.\n@OutputOnly\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"screenY\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"Screen
  size in the vertical (Y) dimension measured in pixels.\n@OutputOnly\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:13:\"supportedAbis\";O:8:\"stdClass\":3:{s:11:\"description\";s:404:\"The
  list of supported ABIs for this device.\nThis corresponds to either android.os.Build.SUPPORTED_ABIS
  (for API level\n21 and above) or android.os.Build.CPU_ABI/CPU_ABI2.\nThe most preferred
  ABI is the first element in the list.\n\nElements are optionally prefixed by \"version_id:\"
  (where version_id is\nthe id of an AndroidVersion), denoting an ABI that is supported
  only on\na particular version.\n@OutputOnly\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:19:\"supportedVersionIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"The
  set of Android versions this device supports.\n@OutputOnly\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"Tags
  for this dimension.\nExamples: \"default\", \"preview\", \"deprecated\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:15:\"AndroidRoboTest\";O:8:\"stdClass\":3:{s:11:\"description\";s:144:\"A
  test of an android application that explores the application on a virtual\nor physical
  Android Device, finding culprits and crashes as it goes.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:6:\"appApk\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/FileReference\";s:11:\"description\";s:48:\"The
  APK for the application under test.\nRequired\";}s:18:\"appInitialActivity\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"The
  initial activity that should be used to start the app.\nOptional\";s:4:\"type\";s:6:\"string\";}s:12:\"appPackageId\";O:8:\"stdClass\":2:{s:11:\"description\";s:121:\"The
  java package for the application under test.\nOptional, default is determined by
  examining the application's manifest.\";s:4:\"type\";s:6:\"string\";}s:8:\"maxDepth\";O:8:\"stdClass\":3:{s:11:\"description\";s:157:\"The
  max depth of the traversal stack Robo can explore. Needs to be at least\n2 to make
  Robo explore the app beyond the first activity.\nDefault is 50.\nOptional\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"maxSteps\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"The
  max number of steps Robo can execute.\nDefault is no limit.\nOptional\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:14:\"roboDirectives\";O:8:\"stdClass\":3:{s:11:\"description\";s:181:\"A
  set of directives Robo should apply during the crawl.\nThis allows users to customize
  the crawl. For example, the username and\npassword for a test account can be provided.\nOptional\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/RoboDirective\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:27:\"AndroidRuntimeConfiguration\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"Configuration
  that can be selected at the time a test is run.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"locales\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  set of available locales.\n@OutputOnly\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Locale\";}s:4:\"type\";s:5:\"array\";}s:12:\"orientations\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  set of available orientations.\n@OutputOnly\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Orientation\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:15:\"AndroidTestLoop\";O:8:\"stdClass\":3:{s:11:\"description\";s:163:\"A
  test of an Android Application with a Test Loop.\nThe intent <intent-name> will
  be implicitly added, since Games is the only\nuser of this api, for the time being.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"appApk\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/FileReference\";s:11:\"description\";s:48:\"The
  APK for the application under test.\nRequired\";}s:12:\"appPackageId\";O:8:\"stdClass\":2:{s:11:\"description\";s:121:\"The
  java package for the application under test.\nOptional, default is determined by
  examining the application's manifest.\";s:4:\"type\";s:6:\"string\";}s:14:\"scenarioLabels\";O:8:\"stdClass\":3:{s:11:\"description\";s:401:\"The
  list of scenario labels that should be run during the test.\nThe scenario labels
  should map to labels defined in the application's\nmanifest. For example, player_experience
  and\ncom.google.test.loops.player_experience add all of the loops labeled in the\nmanifest
  with the com.google.test.loops.player_experience name to the\nexecution.\nOptional.
  Scenarios can also be specified in the scenarios field.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:9:\"scenarios\";O:8:\"stdClass\":3:{s:11:\"description\";s:135:\"The
  list of scenarios that should be run during the test.\nOptional, default is all
  test loops, derived from the application's\nmanifest.\";s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:14:\"AndroidVersion\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"A
  version of the Android OS\";s:10:\"properties\";O:8:\"stdClass\":7:{s:8:\"apiLevel\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"The
  API level for this Android version.\nExamples: 18, 19\n@OutputOnly\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"codeName\";O:8:\"stdClass\":2:{s:11:\"description\";s:83:\"The
  code name for this Android version.\nExamples: \"JellyBean\", \"KitKat\"\n@OutputOnly\";s:4:\"type\";s:6:\"string\";}s:12:\"distribution\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/Distribution\";s:11:\"description\";s:42:\"Market
  share for this version.\n@OutputOnly\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:98:\"An
  opaque id for this Android version.\nUse this id to invoke the TestExecutionService.\n@OutputOnly\";s:4:\"type\";s:6:\"string\";}s:11:\"releaseDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Date\";s:11:\"description\";s:73:\"The
  date this Android version became available in the market.\n@OutputOnly\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"Tags
  for this dimension.\nExamples: \"default\", \"preview\", \"deprecated\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:13:\"versionString\";O:8:\"stdClass\":2:{s:11:\"description\";s:88:\"A
  string representing this version of the Android OS.\nExamples: \"4.3\", \"4.4\"\n@OutputOnly\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:24:\"CancelTestMatrixResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"Response
  containing the current state of the specified test matrix.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"testState\";O:8:\"stdClass\":3:{s:11:\"description\";s:129:\"The
  current rolled-up state of the test matrix.\nIf this state is already final, then
  the cancelation request will\nhave no effect.\";s:4:\"enum\";a:11:{i:0;s:22:\"TEST_STATE_UNSPECIFIED\";i:1;s:10:\"VALIDATING\";i:2;s:7:\"PENDING\";i:3;s:7:\"RUNNING\";i:4;s:8:\"FINISHED\";i:5;s:5:\"ERROR\";i:6;s:23:\"UNSUPPORTED_ENVIRONMENT\";i:7;s:24:\"INCOMPATIBLE_ENVIRONMENT\";i:8;s:25:\"INCOMPATIBLE_ARCHITECTURE\";i:9;s:9:\"CANCELLED\";i:10;s:7:\"INVALID\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"ClientInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Information
  about the client which invoked the test.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"clientInfoDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  list of detailed information about client.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ClientInfoDetail\";}s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Client
  name, such as gcloud.\nRequired\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"ClientInfoDetail\";O:8:\"stdClass\":3:{s:11:\"description\";s:137:\"Key-value
  pair of detailed information about the client which invoked the\ntest. For example
  {'Version', '1.0'}, {'Release Track', 'BETA'}\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"The
  key of detailed client information.\nRequired\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"The
  value of detailed client information.\nRequired\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Date\";O:8:\"stdClass\":3:{s:11:\"description\";s:475:\"Represents
  a whole calendar date, e.g. date of birth. The time of day and\ntime zone are either
  specified elsewhere or are not significant. The date\nis relative to the Proleptic
  Gregorian Calendar. The day may be 0 to\nrepresent a year and month where the day
  is not significant, e.g. credit card\nexpiration date. The year may be 0 to represent
  a month and day independent\nof year, e.g. anniversary date. Related types are google.type.TimeOfDay\nand
  `google.protobuf.Timestamp`.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"day\";O:8:\"stdClass\":3:{s:11:\"description\";s:134:\"Day
  of month. Must be from 1 to 31 and valid for the year and month, or 0\nif specifying
  a year/month where the day is not significant.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:5:\"month\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Month
  of year. Must be from 1 to 12.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"year\";O:8:\"stdClass\":3:{s:11:\"description\";s:79:\"Year
  of date. Must be from 1 to 9999, or 0 if specifying a date without\na year.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:10:\"DeviceFile\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"A
  single device file description.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"obbFile\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/ObbFile\";s:11:\"description\";s:41:\"A
  reference to an opaque binary blob file\";}}s:4:\"type\";s:6:\"object\";}s:12:\"Distribution\";O:8:\"stdClass\":3:{s:11:\"description\";s:96:\"Data
  about the relative number of devices running a\ngiven configuration of the Android
  platform.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"marketShare\";O:8:\"stdClass\":3:{s:11:\"description\";s:85:\"The
  estimated fraction (0-1) of the total market with this configuration.\n@OutputOnly\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:15:\"measurementTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"The
  time this distribution was measured.\n@OutputOnly\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"Environment\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  environment in which the test is run.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"androidDevice\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/AndroidDevice\";s:11:\"description\";s:58:\"An
  Android device which must be used with an Android test.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"EnvironmentMatrix\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"The
  matrix of environments in which the test is to be executed.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"androidDeviceList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/AndroidDeviceList\";s:11:\"description\";s:78:\"A
  list of Android devices; the test will be run only on the specified\ndevices.\";}s:13:\"androidMatrix\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/AndroidMatrix\";s:11:\"description\";s:28:\"A
  matrix of Android devices.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"EnvironmentVariable\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"A
  key-value pair passed as an environment variable to the test\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Key
  for the environment variable\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Value
  for the environment variable\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"FileReference\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"A
  reference to a file, used for user inputs.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"gcsPath\";O:8:\"stdClass\":2:{s:11:\"description\";s:103:\"A
  path to a file in Google Cloud Storage.\nExample: gs://build-app-1414623860166/app-debug-unaligned.apk\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"GoogleAuto\";O:8:\"stdClass\":3:{s:11:\"description\";s:393:\"Enables
  automatic Google account login.\nIf set, the service will automatically generate
  a Google test account and add\nit to the device, before executing the test. Note
  that test accounts might be\nreused.\nMany applications show their full set of functionalities
  when an account is\npresent on the device. Logging into the device with these generated
  accounts\nallows testing more functionalities.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:18:\"GoogleCloudStorage\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"A
  storage location within Google cloud storage (GCS).\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"gcsPath\";O:8:\"stdClass\":2:{s:11:\"description\";s:174:\"The
  path to a directory in GCS that will\neventually contain the results for this test.\nThe
  requesting user must have write access on the bucket in the supplied\npath.\nRequired\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Locale\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"A
  location/region designation for language.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"The
  id for this locale.\nExample: \"en_US\"\n@OutputOnly\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"A
  human-friendly name for this language/locale.\nExample: \"English\"\n@OutputOnly\";s:4:\"type\";s:6:\"string\";}s:6:\"region\";O:8:\"stdClass\":2:{s:11:\"description\";s:130:\"A
  human-friendy string representing the region for this locale.\nExample: \"United
  States\"\nNot present for every locale.\n@OutputOnly\";s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Tags
  for this dimension.\nExamples: \"default\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:20:\"NetworkConfiguration\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"downRule\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/TrafficRule\";s:11:\"description\";s:51:\"The
  emulation rule applying to the download traffic\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"The
  unique opaque id for this network traffic configuration\n@OutputOnly\";s:4:\"type\";s:6:\"string\";}s:6:\"upRule\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/TrafficRule\";s:11:\"description\";s:49:\"The
  emulation rule applying to the upload traffic\";}}s:4:\"type\";s:6:\"object\";}s:27:\"NetworkConfigurationCatalog\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"configurations\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/NetworkConfiguration\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:7:\"ObbFile\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"An
  opaque binary blob file to install on the device before the test starts\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"obb\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/FileReference\";s:11:\"description\";s:66:\"Opaque
  Binary Blob (OBB) file(s) to install on the device\nRequired\";}s:11:\"obbFileName\";O:8:\"stdClass\":2:{s:11:\"description\";s:219:\"OBB
  file name which must conform to the format as specified by\nAndroid\ne.g. [main|patch].0300110.com.example.android.obb\nwhich
  will be installed into\n  <shared-storage>/Android/obb/<package-name>/\non the device\nRequired\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"Orientation\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Screen
  orientation of the device.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"The
  id for this orientation.\nExample: \"portrait\"\n@OutputOnly\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:75:\"A
  human-friendly name for this orientation.\nExample: \"portrait\"\n@OutputOnly\";s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Tags
  for this dimension.\nExamples: \"default\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:13:\"ResultStorage\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"Locations
  where the results of running the test are stored.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:18:\"googleCloudStorage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/GoogleCloudStorage\";s:11:\"description\";s:9:\"Required.\";}s:20:\"toolResultsExecution\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ToolResultsExecution\";s:11:\"description\";s:67:\"The
  tool results execution that results are written to.\n@OutputOnly\";}s:18:\"toolResultsHistory\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ToolResultsHistory\";s:11:\"description\";s:167:\"The
  tool results history that contains the tool results execution that\nresults are
  written to.\n\nOptional, if not provided the service will choose an appropriate
  value.\";}}s:4:\"type\";s:6:\"object\";}s:13:\"RoboDirective\";O:8:\"stdClass\":3:{s:11:\"description\";s:147:\"Directs
  Robo to interact with a specific UI element if it is encountered\nduring the crawl.
  Currently, Robo can perform text entry or element click.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"actionType\";O:8:\"stdClass\":3:{s:11:\"description\";s:79:\"The
  type of action that Robo should perform on the specified element.\nRequired.\";s:4:\"enum\";a:3:{i:0;s:23:\"ACTION_TYPE_UNSPECIFIED\";i:1;s:12:\"SINGLE_CLICK\";i:2;s:10:\"ENTER_TEXT\";}s:4:\"type\";s:6:\"string\";}s:9:\"inputText\";O:8:\"stdClass\":2:{s:11:\"description\";s:146:\"The
  text that Robo is directed to set. If left empty, the directive will be\ntreated
  as a CLICK on the element matching the resource_name.\nOptional\";s:4:\"type\";s:6:\"string\";}s:12:\"resourceName\";O:8:\"stdClass\":2:{s:11:\"description\";s:248:\"The
  android resource name of the target UI element\nFor example,\n   in Java: R.string.foo\n
  \  in xml: @string/foo\nOnly the \u201Cfoo\u201D part is needed.\nReference doc:\nhttps://developer.android.com/guide/topics/resources/accessing-resources.html\nRequired\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"TestDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"Additional
  details about the progress of the running test.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"errorMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:108:\"If
  the TestState is ERROR, then this string will contain human-readable\ndetails about
  the error.\n@OutputOnly\";s:4:\"type\";s:6:\"string\";}s:16:\"progressMessages\";O:8:\"stdClass\":3:{s:11:\"description\";s:218:\"Human-readable,
  detailed descriptions of the test's progress.\nFor example: \"Provisioning a device\",
  \"Starting Test\".\n\nDuring the course of execution new data may be appended\nto
  the end of progress_messages.\n@OutputOnly\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:22:\"TestEnvironmentCatalog\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"A
  description of a test environment.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:20:\"androidDeviceCatalog\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/AndroidDeviceCatalog\";s:11:\"description\";s:67:\"Android
  devices suitable for running Android Instrumentation Tests.\";}s:27:\"networkConfigurationCatalog\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/NetworkConfigurationCatalog\";s:11:\"description\";s:32:\"Supported
  network configurations\";}}s:4:\"type\";s:6:\"object\";}s:13:\"TestExecution\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"Specifies
  a single test to be executed in a single environment.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:11:\"environment\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Environment\";s:11:\"description\";s:51:\"How
  the host machine(s) are configured.\n@OutputOnly\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Unique
  id set by the backend.\n@OutputOnly\";s:4:\"type\";s:6:\"string\";}s:8:\"matrixId\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Id
  of the containing TestMatrix.\n@OutputOnly\";s:4:\"type\";s:6:\"string\";}s:9:\"projectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"The
  cloud project that owns the test execution.\n@OutputOnly\";s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":3:{s:11:\"description\";s:82:\"Indicates
  the current progress of the test execution (e.g., FINISHED).\n@OutputOnly\";s:4:\"enum\";a:11:{i:0;s:22:\"TEST_STATE_UNSPECIFIED\";i:1;s:10:\"VALIDATING\";i:2;s:7:\"PENDING\";i:3;s:7:\"RUNNING\";i:4;s:8:\"FINISHED\";i:5;s:5:\"ERROR\";i:6;s:23:\"UNSUPPORTED_ENVIRONMENT\";i:7;s:24:\"INCOMPATIBLE_ENVIRONMENT\";i:8;s:25:\"INCOMPATIBLE_ARCHITECTURE\";i:9;s:9:\"CANCELLED\";i:10;s:7:\"INVALID\";}s:4:\"type\";s:6:\"string\";}s:11:\"testDetails\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/TestDetails\";s:11:\"description\";s:54:\"Additional
  details about the running test.\n@OutputOnly\";}s:17:\"testSpecification\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/TestSpecification\";s:11:\"description\";s:32:\"How
  to run the test.\n@OutputOnly\";}s:9:\"timestamp\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"The
  time this test execution was initially created.\n@OutputOnly\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:15:\"toolResultsStep\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ToolResultsStep\";s:11:\"description\";s:61:\"Where
  the results for this execution are written.\n@OutputOnly\";}}s:4:\"type\";s:6:\"object\";}s:10:\"TestMatrix\";O:8:\"stdClass\":3:{s:11:\"description\";s:106:\"A
  group of one or more TestExecutions, built by taking a\nproduct of values over a
  pre-defined set of axes.\";s:10:\"properties\";O:8:\"stdClass\":10:{s:10:\"clientInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ClientInfo\";s:11:\"description\";s:61:\"Information
  about the client which invoked the test.\nOptional\";}s:17:\"environmentMatrix\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/EnvironmentMatrix\";s:11:\"description\";s:48:\"How
  the host machine(s) are configured.\nRequired\";}s:20:\"invalidMatrixDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:106:\"Describes
  why the matrix is considered invalid.\nOnly useful for matrices in the INVALID state.\n@OutputOnly\";s:4:\"enum\";a:20:{i:0;s:34:\"INVALID_MATRIX_DETAILS_UNSPECIFIED\";i:1;s:19:\"DETAILS_UNAVAILABLE\";i:2;s:13:\"MALFORMED_APK\";i:3;s:18:\"MALFORMED_TEST_APK\";i:4;s:11:\"NO_MANIFEST\";i:5;s:15:\"NO_PACKAGE_NAME\";i:6;s:16:\"TEST_SAME_AS_APP\";i:7;s:18:\"NO_INSTRUMENTATION\";i:8;s:12:\"NO_SIGNATURE\";i:9;s:41:\"INSTRUMENTATION_ORCHESTRATOR_INCOMPATIBLE\";i:10;s:20:\"NO_TEST_RUNNER_CLASS\";i:11;s:20:\"NO_LAUNCHER_ACTIVITY\";i:12;s:21:\"FORBIDDEN_PERMISSIONS\";i:13;s:23:\"INVALID_ROBO_DIRECTIVES\";i:14;s:33:\"TEST_LOOP_INTENT_FILTER_NOT_FOUND\";i:15;s:27:\"SCENARIO_LABEL_NOT_DECLARED\";i:16;s:24:\"SCENARIO_LABEL_MALFORMED\";i:17;s:21:\"SCENARIO_NOT_DECLARED\";i:18;s:21:\"DEVICE_ADMIN_RECEIVER\";i:19;s:13:\"TEST_ONLY_APK\";}s:4:\"type\";s:6:\"string\";}s:9:\"projectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"The
  cloud project that owns the test matrix.\n@OutputOnly\";s:4:\"type\";s:6:\"string\";}s:13:\"resultStorage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ResultStorage\";s:11:\"description\";s:54:\"Where
  the results for the matrix are written.\nRequired\";}s:5:\"state\";O:8:\"stdClass\":3:{s:11:\"description\";s:78:\"Indicates
  the current progress of the test matrix (e.g., FINISHED)\n@OutputOnly\";s:4:\"enum\";a:11:{i:0;s:22:\"TEST_STATE_UNSPECIFIED\";i:1;s:10:\"VALIDATING\";i:2;s:7:\"PENDING\";i:3;s:7:\"RUNNING\";i:4;s:8:\"FINISHED\";i:5;s:5:\"ERROR\";i:6;s:23:\"UNSUPPORTED_ENVIRONMENT\";i:7;s:24:\"INCOMPATIBLE_ENVIRONMENT\";i:8;s:25:\"INCOMPATIBLE_ARCHITECTURE\";i:9;s:9:\"CANCELLED\";i:10;s:7:\"INVALID\";}s:4:\"type\";s:6:\"string\";}s:14:\"testExecutions\";O:8:\"stdClass\":3:{s:11:\"description\";s:81:\"The
  list of test executions that the service creates for this matrix.\n@OutputOnly\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/TestExecution\";}s:4:\"type\";s:5:\"array\";}s:12:\"testMatrixId\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Unique
  id set by the service.\n@OutputOnly\";s:4:\"type\";s:6:\"string\";}s:17:\"testSpecification\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/TestSpecification\";s:11:\"description\";s:29:\"How
  to run the test.\nRequired\";}s:9:\"timestamp\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"The
  time this test matrix was initially created.\n@OutputOnly\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"TestSetup\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"A
  description of how to set up the device prior to running the test\";s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"account\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Account\";s:11:\"description\";s:83:\"The
  device will be logged in on this account for the duration of the test.\nOptional\";}s:17:\"directoriesToPull\";O:8:\"stdClass\":3:{s:11:\"description\";s:469:\"List
  of directories on the device to upload to GCS at the end of the test;\nthey must
  be absolute paths under /sdcard or /data/local/tmp.\nPath names are restricted to
  characters a-z A-Z 0-9 _ - . + and /\n\nNote: The paths /sdcard and /data will be
  made available and treated as\nimplicit path substitutions. E.g. if /sdcard on a
  particular device does\nnot map to external storage, the system will replace it
  with the external\nstorage path prefix for that device.\n\nOptional\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:20:\"environmentVariables\";O:8:\"stdClass\":3:{s:11:\"description\";s:86:\"Environment
  variables to set for the test (only applicable for\ninstrumentation tests).\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/EnvironmentVariable\";}s:4:\"type\";s:5:\"array\";}s:11:\"filesToPush\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"List
  of files to push to the device before starting the test.\n\nOptional\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/DeviceFile\";}s:4:\"type\";s:5:\"array\";}s:14:\"networkProfile\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"The
  network traffic profile used for running the test.\nOptional\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"TestSpecification\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"A
  description of how to run the test.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:26:\"androidInstrumentationTest\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/AndroidInstrumentationTest\";s:11:\"description\";s:32:\"An
  Android instrumentation test.\";}s:15:\"androidRoboTest\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/AndroidRoboTest\";s:11:\"description\";s:21:\"An
  Android robo test.\";}s:15:\"androidTestLoop\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/AndroidTestLoop\";s:11:\"description\";s:39:\"An
  Android Application with a Test Loop\";}s:15:\"autoGoogleLogin\";O:8:\"stdClass\":2:{s:11:\"description\";s:420:\"Enables
  automatic Google account login.\nIf set, the service will automatically generate
  a Google test account and\nadd it to the device, before executing the test. Note
  that test accounts\nmight be reused.\nMany applications show their full set of functionalities
  when an account is\npresent on the device. Logging into the device with these generated\naccounts
  allows testing more functionalities.\nDefault is false.\nOptional\";s:4:\"type\";s:7:\"boolean\";}s:25:\"disablePerformanceMetrics\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"Disables
  performance metrics recording; may reduce test latency.\";s:4:\"type\";s:7:\"boolean\";}s:21:\"disableVideoRecording\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Disables
  video recording; may reduce test latency.\";s:4:\"type\";s:7:\"boolean\";}s:9:\"testSetup\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/TestSetup\";s:11:\"description\";s:73:\"Test
  setup requirements e.g. files to install, bootstrap scripts\nOptional\";}s:11:\"testTimeout\";O:8:\"stdClass\":3:{s:11:\"description\";s:109:\"Max
  time a test execution is allowed to run before it is\nautomatically cancelled.\nOptional,
  default is 5 min.\";s:6:\"format\";s:15:\"google-duration\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"ToolResultsExecution\";O:8:\"stdClass\":3:{s:11:\"description\";s:84:\"Represents
  a tool results execution resource.\n\nThis has the results of a TestMatrix.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"executionId\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"A
  tool results execution ID.\n@OutputOnly\";s:4:\"type\";s:6:\"string\";}s:9:\"historyId\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"A
  tool results history ID.\n@OutputOnly\";s:4:\"type\";s:6:\"string\";}s:9:\"projectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"The
  cloud project that owns the tool results execution.\n@OutputOnly\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"ToolResultsHistory\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Represents
  a tool results history resource.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"historyId\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"A
  tool results history ID.\nRequired\";s:4:\"type\";s:6:\"string\";}s:9:\"projectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"The
  cloud project that owns the tool results history.\nRequired\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"ToolResultsStep\";O:8:\"stdClass\":3:{s:11:\"description\";s:82:\"Represents
  a tool results step resource.\n\nThis has the results of a TestExecution.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"executionId\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"A
  tool results execution ID.\n@OutputOnly\";s:4:\"type\";s:6:\"string\";}s:9:\"historyId\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"A
  tool results history ID.\n@OutputOnly\";s:4:\"type\";s:6:\"string\";}s:9:\"projectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"The
  cloud project that owns the tool results step.\n@OutputOnly\";s:4:\"type\";s:6:\"string\";}s:6:\"stepId\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"A
  tool results step ID.\n@OutputOnly\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"TrafficRule\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Network
  emulation parameters\";s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"bandwidth\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Bandwidth
  in kbits/second\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:5:\"burst\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Burst
  size in kbits\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:5:\"delay\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Packet
  delay, must be >= 0\";s:6:\"format\";s:15:\"google-duration\";s:4:\"type\";s:6:\"string\";}s:22:\"packetDuplicationRatio\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Packet
  duplication ratio (0.0 - 1.0)\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:15:\"packetLossRatio\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Packet
  loss ratio (0.0 - 1.0)\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}}"
...
