---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:21:\"Tour Optimization API\";s:11:\"description\";s:154:\"Our
  Tour Optimization API solves the so called vehicle routing problem fast. It calculates
  an optimal tour for a set of vehicles, services and constraints\";s:7:\"version\";s:3:\"1.0\";}"
host: graphhopper.com
basePath: /api/1/vrp
paths:
  /optimize:
    post:
      summary: Solves large routing problems
      description: This endpoint solves large problems, i.e. traveling salesman or
        vehicle routing problems, and returns the solution.n
      operationId: postVrp
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: query
        name: key
        description: your API key
        required: true
        type: string
      - in: body
        name: body
        description: Request object that contains the problem to be solved
        required: true
        schema:
          $ref: '#/definitions/Request'
      tags:
      - vrp
      responses:
        200:
          description: A jobId you can use to retrieve your solution from server -
            see solution endpoint.
          schema:
            $ref: '#/definitions/JobId'
        400:
          description: Error occurred when reading client request. Request is invalid.
        500:
          description: Error occurred on server side.
  /solution/{jobId}:
    get:
      summary: Return the solution associated to the jobId
      description: This endpoint returns the solution of a large problems. You can
        fetch it with the job_id, you have been sent.n
      operationId: getSolution
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: query
        name: key
        description: your API key
        required: true
        type: string
      - in: path
        name: jobId
        description: Request solution with jobId
        required: true
        type: string
      tags:
      - solution
      responses:
        200:
          description: A response containing the solution
          schema:
            $ref: '#/definitions/LargeResponse'
        400:
          description: Error occurred on client side such as invalid input.
        500:
          description: Error occurred on server side.
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":13:{s:5:\"JobId\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"job_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:69:\"unique
  id for your job/request with which you can fetch your solution\";}}}s:7:\"Request\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"vehicles\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:41:\"An
  array of vehicles that can be employed\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Vehicle\";}}s:13:\"vehicle_types\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:25:\"An
  array of vehicle types\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/VehicleType\";}}s:8:\"services\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:20:\"An
  array of services\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Service\";}}s:9:\"shipments\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:21:\"An
  array of shipments\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Shipment\";}}}}s:7:\"Vehicle\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":8:{s:10:\"vehicle_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"Unique
  identifier of vehicle\";}s:7:\"type_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:58:\"Unique
  identifier referring to the available vehicle types\";}s:13:\"start_address\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Address\";}s:11:\"end_address\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Address\";}s:15:\"return_to_depot\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:108:\"Indicates
  whether vehicle should return to start address or not. If not, it can end at any
  service activity.\";}s:14:\"earliest_start\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:47:\"earliest
  start of vehicle at its start location\";}s:10:\"latest_end\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:41:\"latest
  end of vehicle at its end location\";}s:6:\"skills\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:15:\"array
  of skills\";}}}s:7:\"Address\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"location_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Unique
  identifier of location\";}s:3:\"lon\";O:8:\"stdClass\":3:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";s:11:\"description\";s:9:\"longitude\";}s:3:\"lat\";O:8:\"stdClass\":3:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";s:11:\"description\";s:8:\"latitude\";}}}s:11:\"VehicleType\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"type_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"Unique
  identifier for the vehicle type\";}s:7:\"profile\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"Profile
  of vehicle type\";s:7:\"example\";s:3:\"car\";s:4:\"enum\";a:3:{i:0;s:3:\"car\";i:1;s:4:\"bike\";i:2;s:4:\"foot\";}}s:24:\"distance_dependent_costs\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:23:\"cost
  factor of distance\";}s:20:\"time_dependent_costs\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:19:\"cost
  factor of time\";}s:8:\"capacity\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:28:\"array
  of capacity dimensions\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}}s:7:\"Service\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":8:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"Unique
  identifier of service\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"type
  of service\";s:4:\"enum\";a:1:{i:0;s:7:\"service\";}}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"name
  of service\";}s:7:\"address\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Address\";}s:8:\"duration\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:69:\"duration
  of service, i.e. time in ms the corresponding activity takes\";}s:12:\"time_windows\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/TimeWindow\";}s:11:\"description\";s:70:\"array
  of time windows. currently, only a single time window is allowed\";}s:4:\"size\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:28:\"array
  of capacity dimensions\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}s:15:\"required_skills\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:24:\"array
  of required skills\";}}}s:8:\"Shipment\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"Unique
  identifier of service\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"name
  of shipment\";}s:6:\"pickup\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Stop\";}s:8:\"delivery\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Stop\";}s:4:\"size\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:28:\"array
  of capacity dimensions\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}s:15:\"required_skills\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:24:\"array
  of required skills\";}}}s:4:\"Stop\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"address\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Address\";}s:8:\"duration\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:66:\"duration
  of stop, i.e. time in ms the corresponding activity takes\";}s:12:\"time_windows\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/TimeWindow\";}s:11:\"description\";s:70:\"array
  of time windows. currently, only a single time window is allowed\";}}}s:10:\"TimeWindow\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"earliest\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:45:\"earliest
  start time of corresponding activity\";}s:6:\"latest\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:43:\"latest
  start time of corresponding activity\";}}}s:13:\"LargeResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"job_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:92:\"unique
  identify of job - which you get when posting your request to the large problem solver\";}s:6:\"status\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:16:\"waiting_in_queue\";i:1;s:10:\"processing\";i:2;s:8:\"finished\";}s:11:\"description\";s:39:\"indicates
  the current status of the job\";}s:16:\"waiting_in_queue\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:18:\"waiting
  time in ms\";}s:15:\"processing_time\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:77:\"processing
  time in ms. if job is still waiting in queue, processing_time is 0\";}s:8:\"solution\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Solution\";s:11:\"description\";s:63:\"the
  solution. only available if status field indicates finished\";}}}s:8:\"Solution\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:5:\"costs\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:25:\"overall
  costs of solution\";}s:8:\"distance\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:33:\"overall
  travel distance in meters\";}s:4:\"time\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:25:\"overall
  travel time in ms\";}s:13:\"no_unassigned\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:59:\"number
  of jobs that could not be assigned to final solution\";}s:6:\"routes\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:18:\"An
  array of routes\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Route\";}}s:10:\"unassigned\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"services\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:38:\"An
  array of ids of unassigned services\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"id
  of unassigned service\";}}s:9:\"shipments\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:39:\"An
  array of ids of unassigned shipments\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"id
  of unassigned shipments\";}}}}}}s:5:\"Route\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"vehicle_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"id
  of vehicle that operates route\";}s:10:\"activities\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:19:\"array
  of activities\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Activity\";}}}}s:8:\"Activity\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"type
  of activity\";s:4:\"enum\";a:3:{i:0;s:5:\"start\";i:1;s:3:\"end\";i:2;s:7:\"service\";}}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:105:\"id
  referring to the underlying service or shipment, i.e. the shipment or service this
  activity belongs to\";}s:11:\"location_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"id
  that refers to address\";}s:8:\"arr_time\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:35:\"arrival
  time at this activity in ms\";}s:8:\"end_time\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:52:\"end
  time of and thus departure time at this activity\";}}}}"
...
