---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":8:{s:11:\"description\";s:155:\"Our Route Optimization
  API solves the so called vehicle routing problem fast. It calculates an optimal
  tour for a set of vehicles, services and constraints\";s:5:\"title\";s:18:\"Route
  Optimization\";s:7:\"version\";s:3:\"1.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:8:\"location\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:72:\"https://api.apis.guru/v2/cache/logo/https_graphhopper.com_img_header.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:46:\"https://graphhopper.com/api/1/vrp/swagger.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:15:\"graphhopper.com\";}"
host: graphhopper.com
basePath: /api/1/vrp
paths:
  /optimize:
    post:
      description: This endpoint for solving vehicle routing problems, i.e. traveling
        salesman or vehicle routing problems, and returns the solution.n
      operationId: postVrp
      parameters:
      - description: your API key
        in: query
        name: key
        required: true
        type: string
      - description: Request object that contains the problem to be solved
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/Request'
      responses:
        200:
          description: A jobId you can use to retrieve your solution from server -
            see solution endpoint.
          schema:
            $ref: '#/definitions/JobId'
        400:
          description: Error occurred when reading client request. Request is invalid.
        500:
          description: Error occurred on server side.
      summary: Solves vehicle routing problems
      tags:
      - vrp
  /solution/{jobId}:
    get:
      description: This endpoint returns the solution of a large problems. You can
        fetch it with the job_id, you have been sent.n
      operationId: getSolution
      parameters:
      - description: your API key
        in: query
        name: key
        required: true
        type: string
      - description: Request solution with jobId
        in: path
        name: jobId
        required: true
        type: string
      responses:
        200:
          description: A response containing the solution
          schema:
            $ref: '#/definitions/Response'
        400:
          description: Error occurred on client side such as invalid input.
        500:
          description: Error occurred on server side.
      summary: Return the solution associated to the jobId
      tags:
      - solution
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":18:{s:8:\"Activity\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:8:\"arr_time\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"arrival
  time at this activity in ms\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:8:\"distance\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"cumulated
  distance from start to this activity in m\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:12:\"driving_time\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"driving
  time of driver in ms\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:8:\"end_time\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"end
  time of and thus departure time at this activity\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:105:\"id
  referring to the underlying service or shipment, i.e. the shipment or service this
  activity belongs to\";s:4:\"type\";s:6:\"string\";}s:10:\"load_after\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"Array
  with size/capacity dimensions after this activity\";s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"dimension
  value\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";s:5:\"array\";}s:11:\"load_before\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Array
  with size/capacity dimensions before this activity\";s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"dimension
  value\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";s:5:\"array\";}s:11:\"location_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"id
  that refers to address\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"type
  of activity\";s:4:\"enum\";a:7:{i:0;s:5:\"start\";i:1;s:3:\"end\";i:2;s:7:\"service\";i:3;s:14:\"pickupShipment\";i:4;s:15:\"deliverShipment\";i:5;s:6:\"pickup\";i:6;s:8:\"delivery\";}s:4:\"type\";s:6:\"string\";}s:12:\"waiting_time\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"waiting
  time at this activity in ms\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Address\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"lat\";O:8:\"stdClass\":3:{s:11:\"description\";s:8:\"latitude\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:11:\"location_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Unique
  identifier of location\";s:4:\"type\";s:6:\"string\";}s:3:\"lon\";O:8:\"stdClass\":3:{s:11:\"description\";s:9:\"longitude\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:9:\"Algorithm\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"objective\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:14:\"transport_time\";i:1;s:15:\"completion_time\";}s:4:\"type\";s:6:\"string\";}s:12:\"problem_type\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:3:\"min\";i:1;s:7:\"min-max\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Break\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:8:\"duration\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"duration
  of break\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:8:\"earliest\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"earliest
  start of break\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:20:\"initial_driving_time\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"initial
  driving time, i.e. the time your driver has already spent for driving\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:6:\"latest\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"latest
  start of break\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:16:\"max_driving_time\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"max
  driving time without break\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:14:\"possible_split\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"array
  of splits\";s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:10:\"CostMatrix\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"profile\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"vehicle
  profile or empty if catch all fallback\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"type
  of cost matrix, currently default or google are supported\";s:4:\"enum\";a:2:{i:0;s:7:\"default\";i:1;s:6:\"google\";}s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"URL
  of matrix service\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"JobId\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"job_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"unique
  id for your job/request with which you can fetch your solution\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"Objective\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"type
  of objective function, i.e. min or min-max \";s:4:\"enum\";a:2:{i:0;s:3:\"min\";i:1;s:7:\"min-max\";}s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"objective
  function value\";s:4:\"enum\";a:3:{i:0;s:15:\"completion_time\";i:1;s:14:\"transport_time\";i:2;s:8:\"vehicles\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Relation\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"ids\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"An
  array of ids that should be related\";s:5:\"items\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"id
  of services or special ids of shipments\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"identifier
  of relation\";s:4:\"type\";s:6:\"string\";}s:10:\"vehicle_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"vehicle
  id\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Request\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:9:\"algorithm\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Algorithm\";}s:13:\"cost_matrices\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"An
  array of cost matrices\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/CostMatrix\";}s:4:\"type\";s:5:\"array\";}s:10:\"objectives\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"An
  array of objectives\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Objective\";}s:4:\"type\";s:5:\"array\";}s:9:\"relations\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"An
  array of relations\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Relation\";}s:4:\"type\";s:5:\"array\";}s:8:\"services\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"An
  array of services\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Service\";}s:4:\"type\";s:5:\"array\";}s:9:\"shipments\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"An
  array of shipments\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Shipment\";}s:4:\"type\";s:5:\"array\";}s:13:\"vehicle_types\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"An
  array of vehicle types\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/VehicleType\";}s:4:\"type\";s:5:\"array\";}s:8:\"vehicles\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"An
  array of vehicles that can be employed\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Vehicle\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Response\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:10:\"copyrights\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"attribution\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:6:\"job_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:92:\"unique
  identify of job - which you get when posting your request to the large problem solver\";s:4:\"type\";s:6:\"string\";}s:15:\"processing_time\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"processing
  time in ms. if job is still waiting in queue, processing_time is 0\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:8:\"solution\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Solution\";s:11:\"description\";s:63:\"the
  solution. only available if status field indicates finished\";}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"indicates
  the current status of the job\";s:4:\"enum\";a:3:{i:0;s:16:\"waiting_in_queue\";i:1;s:10:\"processing\";i:2;s:8:\"finished\";}s:4:\"type\";s:6:\"string\";}s:16:\"waiting_in_queue\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"waiting
  time in ms\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Route\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:10:\"activities\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"array
  of activities\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Activity\";}s:4:\"type\";s:5:\"array\";}s:15:\"completion_time\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"completion
  time of route in ms\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:8:\"distance\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"distance
  of route in meter\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:14:\"transport_time\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"transport
  time of route in ms\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:10:\"vehicle_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"id
  of vehicle that operates route\";s:4:\"type\";s:6:\"string\";}s:12:\"waiting_time\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"waiting
  time of route in ms\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Service\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:7:\"address\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Address\";}s:16:\"allowed_vehicles\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"array
  of allowed vehicle ids\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:8:\"duration\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"duration
  of service, i.e. time in ms the corresponding activity takes\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Unique
  identifier of service\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"name
  of service\";s:4:\"type\";s:6:\"string\";}s:8:\"priority\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"priority
  of service, i.e. 1 = high, 2 = normal, 3 = low. default is 2.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:15:\"required_skills\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"array
  of required skills\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"size\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"array
  of capacity dimensions\";s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";s:5:\"array\";}s:12:\"time_windows\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"array
  of time windows. currently, only a single time window is allowed\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/TimeWindow\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"type
  of service\";s:4:\"enum\";a:3:{i:0;s:7:\"service\";i:1;s:6:\"pickup\";i:2;s:8:\"delivery\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Shipment\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:16:\"allowed_vehicles\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"array
  of allowed vehicle ids\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:8:\"delivery\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Stop\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Unique
  identifier of service\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"name
  of shipment\";s:4:\"type\";s:6:\"string\";}s:6:\"pickup\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Stop\";}s:8:\"priority\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"priority
  of service, i.e. 1 = high, 2 = normal, 3 = low. default is 2.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:15:\"required_skills\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"array
  of required skills\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"size\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"array
  of capacity dimensions\";s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Solution\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:5:\"costs\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"overall
  costs of solution\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"distance\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"overall
  travel distance in meters\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:18:\"max_operation_time\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"operation
  time of the longest route in ms\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:13:\"no_unassigned\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"number
  of jobs that could not be assigned to final solution\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"no_vehicles\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"number
  of employed vehicles\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"routes\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"An
  array of routes\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Route\";}s:4:\"type\";s:5:\"array\";}s:4:\"time\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"overall
  transport time in ms\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:14:\"transport_time\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"overall
  transport time in ms\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:10:\"unassigned\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"services\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"An
  array of ids of unassigned services\";s:5:\"items\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"id
  of unassigned service\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:9:\"shipments\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"An
  array of ids of unassigned shipments\";s:5:\"items\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"id
  of unassigned shipments\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:12:\"waiting_time\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"total
  waiting time in ms\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Stop\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"address\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Address\";}s:8:\"duration\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"duration
  of stop, i.e. time in ms the corresponding activity takes\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:12:\"time_windows\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"array
  of time windows. currently, only a single time window is allowed\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/TimeWindow\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:10:\"TimeWindow\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"earliest\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"earliest
  start time of corresponding activity\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:6:\"latest\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"latest
  start time of corresponding activity\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Vehicle\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:5:\"break\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Break\";}s:14:\"earliest_start\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"earliest
  start of vehicle at its start location\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:11:\"end_address\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Address\";}s:10:\"latest_end\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"latest
  end of vehicle at its end location\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:15:\"return_to_depot\";O:8:\"stdClass\":2:{s:11:\"description\";s:108:\"Indicates
  whether vehicle should return to start address or not. If not, it can end at any
  service activity.\";s:4:\"type\";s:7:\"boolean\";}s:6:\"skills\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"array
  of skills\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:13:\"start_address\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Address\";}s:7:\"type_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"Unique
  identifier referring to the available vehicle types\";s:4:\"type\";s:6:\"string\";}s:10:\"vehicle_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Unique
  identifier of vehicle\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"VehicleType\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"capacity\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"array
  of capacity dimensions\";s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";s:5:\"array\";}s:7:\"profile\";O:8:\"stdClass\":4:{s:11:\"description\";s:23:\"Profile
  of vehicle type\";s:4:\"enum\";a:9:{i:0;s:3:\"car\";i:1;s:4:\"bike\";i:2;s:4:\"foot\";i:3;s:3:\"mtb\";i:4;s:10:\"motorcycle\";i:5;s:10:\"racingbike\";i:6;s:5:\"truck\";i:7;s:11:\"small_truck\";i:8;s:3:\"bus\";}s:7:\"example\";s:3:\"car\";s:4:\"type\";s:6:\"string\";}s:19:\"service_time_factor\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"service
  time factor of vehicle type\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:12:\"speed_factor\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"speed_factor
  of vehicle type\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:7:\"type_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Unique
  identifier for the vehicle type\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
