---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":15:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:9:\"x-twitter\";s:12:\"PermittedSoc\";}s:11:\"description\";s:300:\"Amazon
  MQ is a managed message broker service for Apache ActiveMQ that makes it easy to
  set up and operate message brokers in the cloud. A message broker allows software
  applications and components to communicate using various programming languages,
  operating systems, and formal messaging protocols.\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache
  2.0 License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:8:\"AmazonMQ\";s:7:\"version\";s:10:\"2017-11-27\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:86:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/mq-2017-11-27.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v4\";s:13:\"x-serviceName\";s:2:\"mq\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:12:\"amazonaws_mq\";s:4:\"type\";s:7:\"openapi\";}}"
host: mq.amazonaws.com
basePath: /
paths:
  /v1/brokers:
    get:
      description: Returns a list of all brokers.
      operationId: ListBrokers
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ListBrokersRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ListBrokersResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        482:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Creates a broker. Note: This API is asynchronous.'
      operationId: CreateBroker
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/CreateBrokerRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/CreateBrokerResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        482:
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        483:
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
        484:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
  /v1/brokers/{broker-id}:
    delete:
      description: 'Deletes a broker. Note: This API is asynchronous.'
      operationId: DeleteBroker
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DeleteBrokerRequest'
      - in: path
        name: broker-id
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DeleteBrokerResponse'
        480:
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        481:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        482:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        483:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
    get:
      description: Returns information about the specified broker.
      operationId: DescribeBroker
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DescribeBrokerRequest'
      - in: path
        name: broker-id
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DescribeBrokerResponse'
        480:
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        481:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        482:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        483:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: Adds a pending configuration change to a broker.
      operationId: UpdateBroker
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/UpdateBrokerRequest'
      - in: path
        name: broker-id
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/UpdateBrokerResponse'
        480:
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        481:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        482:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        483:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
  /v1/brokers/{broker-id}/reboot:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Reboots a broker. Note: This API is asynchronous.'
      operationId: RebootBroker
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/RebootBrokerRequest'
      - in: path
        name: broker-id
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/RebootBrokerResponse'
        480:
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        481:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        482:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        483:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
  /v1/brokers/{broker-id}/users:
    get:
      description: Returns a list of all ActiveMQ users.
      operationId: ListUsers
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ListUsersRequest'
      - in: path
        name: broker-id
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ListUsersResponse'
        480:
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        481:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        482:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        483:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
  /v1/brokers/{broker-id}/users/{username}:
    delete:
      description: Deletes an ActiveMQ user.
      operationId: DeleteUser
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DeleteUserRequest'
      - in: path
        name: broker-id
        required: true
        type: string
      - in: path
        name: username
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DeleteUserResponse'
        480:
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        481:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        482:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        483:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
    get:
      description: Returns information about an ActiveMQ user.
      operationId: DescribeUser
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DescribeUserRequest'
      - in: path
        name: broker-id
        required: true
        type: string
      - in: path
        name: username
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DescribeUserResponse'
        480:
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        481:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        482:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        483:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates an ActiveMQ user.
      operationId: CreateUser
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/CreateUserRequest'
      - in: path
        name: broker-id
        required: true
        type: string
      - in: path
        name: username
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/CreateUserResponse'
        480:
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        481:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        482:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        483:
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
        484:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
    put:
      description: Updates the information for an ActiveMQ user.
      operationId: UpdateUser
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/UpdateUserRequest'
      - in: path
        name: broker-id
        required: true
        type: string
      - in: path
        name: username
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/UpdateUserResponse'
        480:
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        481:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        482:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        483:
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
        484:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
  /v1/configurations:
    get:
      description: Returns a list of all configurations.
      operationId: ListConfigurations
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ListConfigurationsRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ListConfigurationsResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        482:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Creates a new configuration for the specified configuration name.
        Amazon MQ uses the default configuration (the engine type and version). Note:
        If the configuration name already exists, Amazon MQ doesn''t create a configuration.'
      operationId: CreateConfiguration
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/CreateConfigurationRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/CreateConfigurationResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        482:
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
        483:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
  /v1/configurations/{configuration-id}:
    get:
      description: Returns information about the specified configuration.
      operationId: DescribeConfiguration
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DescribeConfigurationRequest'
      - in: path
        name: configuration-id
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DescribeConfigurationResponse'
        480:
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        481:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        482:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        483:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: Updates the specified configuration.
      operationId: UpdateConfiguration
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/UpdateConfigurationRequest'
      - in: path
        name: configuration-id
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/UpdateConfigurationResponse'
        480:
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        481:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        482:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        483:
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
        484:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
  /v1/configurations/{configuration-id}/revisions:
    get:
      description: Returns a list of all revisions for the specified configuration.
      operationId: ListConfigurationRevisions
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ListConfigurationRevisionsRequest'
      - in: path
        name: configuration-id
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ListConfigurationRevisionsResponse'
        480:
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        481:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        482:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        483:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
  /v1/configurations/{configuration-id}/revisions/{configuration-revision}:
    get:
      description: Returns the specified configuration revision for the specified
        configuration.
      operationId: DescribeConfigurationRevision
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DescribeConfigurationRevisionRequest'
      - in: path
        name: configuration-id
        required: true
        type: string
      - in: path
        name: configuration-revision
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DescribeConfigurationRevisionResponse'
        480:
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        481:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        482:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        483:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
produces:
- application/json
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":91:{s:19:\"BadRequestException\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Returns
  information about an error.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"ErrorAttribute\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:20:\"The
  error attribute.\";}s:7:\"Message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:18:\"The
  error message.\";}}s:4:\"type\";s:6:\"object\";}s:14:\"BrokerInstance\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Returns
  information about all brokers.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"ConsoleURL\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:45:\"The
  URL of the broker's ActiveMQ Web Console.\";}s:9:\"Endpoints\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ListOf__string\";s:11:\"description\";s:43:\"The
  broker's wire-level protocol endpoints.\";}}s:4:\"type\";s:6:\"object\";}s:11:\"BrokerState\";O:8:\"stdClass\":3:{s:11:\"description\";s:131:\"The
  status of the broker. Possible values: CREATION_IN_PROGRESS, CREATION_FAILED, DELETION_IN_PROGRESS,
  RUNNING, REBOOT_IN_PROGRESS\";s:4:\"enum\";a:5:{i:0;s:20:\"CREATION_IN_PROGRESS\";i:1;s:15:\"CREATION_FAILED\";i:2;s:20:\"DELETION_IN_PROGRESS\";i:3;s:7:\"RUNNING\";i:4;s:18:\"REBOOT_IN_PROGRESS\";}s:4:\"type\";s:6:\"string\";}s:13:\"BrokerSummary\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"The
  Amazon Resource Name (ARN) of the broker.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:9:\"BrokerArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:45:\"The
  Amazon Resource Name (ARN) of the broker.\";}s:8:\"BrokerId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:54:\"The
  unique ID that Amazon MQ generates for the broker.\";}s:10:\"BrokerName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:241:\"The
  name of the broker. This value must be unique in your AWS account, 1-50 characters
  long, must contain only letters, numbers, dashes, and underscores, and must not
  contain whitespaces, brackets, wildcard characters, or special characters.\";}s:11:\"BrokerState\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/BrokerState\";s:11:\"description\";s:131:\"The
  status of the broker. Possible values: CREATION_IN_PROGRESS, CREATION_FAILED, DELETION_IN_PROGRESS,
  RUNNING, REBOOT_IN_PROGRESS\";}s:14:\"DeploymentMode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/DeploymentMode\";s:11:\"description\";s:262:\"Required.
  The deployment mode of the broker. Possible values: SINGLE_INSTANCE, ACTIVE_STANDBY_MULTI_AZ
  SINGLE_INSTANCE creates a single-instance broker in a single Availability Zone.
  ACTIVE_STANDBY_MULTI_AZ creates an active/standby broker for high availability.\";}s:16:\"HostInstanceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:69:\"The
  broker's instance type. Possible values: mq.t2.micro, mq.m4.large\";}}s:4:\"type\";s:6:\"object\";}s:10:\"ChangeType\";O:8:\"stdClass\":3:{s:11:\"description\";s:89:\"The
  type of change pending for the ActiveMQ user. Possible values: CREATE, UPDATE, DELETE\";s:4:\"enum\";a:3:{i:0;s:6:\"CREATE\";i:1;s:6:\"UPDATE\";i:2;s:6:\"DELETE\";}s:4:\"type\";s:6:\"string\";}s:13:\"Configuration\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Returns
  information about all configurations.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:3:\"Arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:39:\"Required.
  The ARN of the configuration.\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:47:\"Required.
  The description of the configuration.\";}s:10:\"EngineType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/EngineType\";s:11:\"description\";s:87:\"Required.
  The type of broker engine. Note: Currently, Amazon MQ supports only ACTIVEMQ.\";}s:13:\"EngineVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:43:\"Required.
  The version of the broker engine.\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:71:\"Required.
  The unique ID that Amazon MQ generates for the configuration.\";}s:14:\"LatestRevision\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/ConfigurationRevision\";s:11:\"description\";s:51:\"Required.
  The latest revision of the configuration.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:187:\"Required.
  The name of the configuration. This value can contain only alphanumeric characters,
  dashes, periods, underscores, and tildes (- . _ ~). This value must be 1-150 characters
  long.\";}}s:4:\"type\";s:6:\"object\";}s:15:\"ConfigurationId\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"A
  list of information about the configuration.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:71:\"Required.
  The unique ID that Amazon MQ generates for the configuration.\";}s:8:\"Revision\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__integer\";s:11:\"description\";s:56:\"The
  Universally Unique Identifier (UUID) of the request.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"ConfigurationRevision\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"Returns
  information about the specified configuration revision.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:46:\"The
  description of the configuration revision.\";}s:8:\"Revision\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__integer\";s:11:\"description\";s:44:\"Required.
  The revision of the configuration.\";}}s:4:\"type\";s:6:\"object\";}s:14:\"Configurations\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Broker
  configuration information\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"Current\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ConfigurationId\";s:11:\"description\";s:40:\"The
  current configuration of the broker.\";}s:7:\"History\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/ListOfConfigurationId\";s:11:\"description\";s:52:\"The
  history of configurations applied to the broker.\";}s:7:\"Pending\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ConfigurationId\";s:11:\"description\";s:40:\"The
  pending configuration of the broker.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"ConflictException\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Returns
  information about an error.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"ErrorAttribute\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:20:\"The
  error attribute.\";}s:7:\"Message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:18:\"The
  error message.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"CreateBrokerInput\";O:8:\"stdClass\":3:{s:11:\"description\";s:98:\"Required.
  The time period during which Amazon MQ applies pending updates or patches to the
  broker.\";s:10:\"properties\";O:8:\"stdClass\":13:{s:23:\"AutoMinorVersionUpgrade\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__boolean\";s:11:\"description\";s:210:\"Required.
  Enables automatic upgrades to new minor versions for brokers, as Apache releases
  the versions. The automatic upgrades occur during the maintenance window of the
  broker or after a manual broker reboot.\";}s:10:\"BrokerName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:251:\"Required.
  The name of the broker. This value must be unique in your AWS account, 1-50 characters
  long, must contain only letters, numbers, dashes, and underscores, and must not
  contain whitespaces, brackets, wildcard characters, or special characters.\";}s:13:\"Configuration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ConfigurationId\";s:11:\"description\";s:46:\"A
  list of information about the configuration.\";}s:16:\"CreatorRequestId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:284:\"The
  unique ID that the requester receives for the created broker. Amazon MQ passes your
  ID with the API action. Note: We recommend using a Universally Unique Identifier
  (UUID) for the creatorRequestId. You may omit the creatorRequestId if your application
  doesn't require idempotency.\";}s:14:\"DeploymentMode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/DeploymentMode\";s:11:\"description\";s:262:\"Required.
  The deployment mode of the broker. Possible values: SINGLE_INSTANCE, ACTIVE_STANDBY_MULTI_AZ
  SINGLE_INSTANCE creates a single-instance broker in a single Availability Zone.
  ACTIVE_STANDBY_MULTI_AZ creates an active/standby broker for high availability.\";}s:10:\"EngineType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/EngineType\";s:11:\"description\";s:87:\"Required.
  The type of broker engine. Note: Currently, Amazon MQ supports only ACTIVEMQ.\";}s:13:\"EngineVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:92:\"Required.
  The version of the broker engine. Note: Currently, Amazon MQ supports only 5.15.0.\";}s:16:\"HostInstanceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:79:\"Required.
  The broker's instance type. Possible values: mq.t2.micro, mq.m4.large\";}s:26:\"MaintenanceWindowStartTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/WeeklyStartTime\";s:11:\"description\";s:50:\"The
  parameters that determine the WeeklyStartTime.\";}s:18:\"PubliclyAccessible\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__boolean\";s:11:\"description\";s:99:\"Required.
  Enables connections from applications outside of the VPC that hosts the broker's
  subnets.\";}s:14:\"SecurityGroups\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ListOf__string\";s:11:\"description\";s:91:\"Required.
  The list of rules (1 minimum, 125 maximum) that authorize connections to brokers.\";}s:9:\"SubnetIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ListOf__string\";s:11:\"description\";s:278:\"Required.
  The list of groups (2 maximum) that define which subnets and IP ranges the broker
  can use from different Availability Zones. A SINGLE_INSTANCE deployment requires
  one subnet (for example, the default subnet). An ACTIVE_STANDBY_MULTI_AZ deployment
  requires two subnets.\";}s:5:\"Users\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ListOfUser\";s:11:\"description\";s:243:\"Required.
  The list of ActiveMQ users (persons or applications) who can access queues and topics.
  This value can contain only alphanumeric characters, dashes, periods, underscores,
  and tildes (- . _ ~). This value must be 2-100 characters long.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"CreateBrokerOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Returns
  information about the created broker.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"BrokerArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:45:\"The
  Amazon Resource Name (ARN) of the broker.\";}s:8:\"BrokerId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:54:\"The
  unique ID that Amazon MQ generates for the broker.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"CreateBrokerRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Creates
  a broker using the specified properties.\";s:10:\"properties\";O:8:\"stdClass\":13:{s:23:\"AutoMinorVersionUpgrade\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__boolean\";s:11:\"description\";s:210:\"Required.
  Enables automatic upgrades to new minor versions for brokers, as Apache releases
  the versions. The automatic upgrades occur during the maintenance window of the
  broker or after a manual broker reboot.\";}s:10:\"BrokerName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:251:\"Required.
  The name of the broker. This value must be unique in your AWS account, 1-50 characters
  long, must contain only letters, numbers, dashes, and underscores, and must not
  contain whitespaces, brackets, wildcard characters, or special characters.\";}s:13:\"Configuration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ConfigurationId\";s:11:\"description\";s:46:\"A
  list of information about the configuration.\";}s:16:\"CreatorRequestId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:284:\"The
  unique ID that the requester receives for the created broker. Amazon MQ passes your
  ID with the API action. Note: We recommend using a Universally Unique Identifier
  (UUID) for the creatorRequestId. You may omit the creatorRequestId if your application
  doesn't require idempotency.\";}s:14:\"DeploymentMode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/DeploymentMode\";s:11:\"description\";s:262:\"Required.
  The deployment mode of the broker. Possible values: SINGLE_INSTANCE, ACTIVE_STANDBY_MULTI_AZ
  SINGLE_INSTANCE creates a single-instance broker in a single Availability Zone.
  ACTIVE_STANDBY_MULTI_AZ creates an active/standby broker for high availability.\";}s:10:\"EngineType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/EngineType\";s:11:\"description\";s:87:\"Required.
  The type of broker engine. Note: Currently, Amazon MQ supports only ACTIVEMQ.\";}s:13:\"EngineVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:92:\"Required.
  The version of the broker engine. Note: Currently, Amazon MQ supports only 5.15.0.\";}s:16:\"HostInstanceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:79:\"Required.
  The broker's instance type. Possible values: mq.t2.micro, mq.m4.large\";}s:26:\"MaintenanceWindowStartTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/WeeklyStartTime\";s:11:\"description\";s:50:\"The
  parameters that determine the WeeklyStartTime.\";}s:18:\"PubliclyAccessible\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__boolean\";s:11:\"description\";s:99:\"Required.
  Enables connections from applications outside of the VPC that hosts the broker's
  subnets.\";}s:14:\"SecurityGroups\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ListOf__string\";s:11:\"description\";s:91:\"Required.
  The list of rules (1 minimum, 125 maximum) that authorize connections to brokers.\";}s:9:\"SubnetIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ListOf__string\";s:11:\"description\";s:278:\"Required.
  The list of groups (2 maximum) that define which subnets and IP ranges the broker
  can use from different Availability Zones. A SINGLE_INSTANCE deployment requires
  one subnet (for example, the default subnet). An ACTIVE_STANDBY_MULTI_AZ deployment
  requires two subnets.\";}s:5:\"Users\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ListOfUser\";s:11:\"description\";s:243:\"Required.
  The list of ActiveMQ users (persons or applications) who can access queues and topics.
  This value can contain only alphanumeric characters, dashes, periods, underscores,
  and tildes (- . _ ~). This value must be 2-100 characters long.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"CreateBrokerResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"BrokerArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:45:\"The
  Amazon Resource Name (ARN) of the broker.\";}s:8:\"BrokerId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:54:\"The
  unique ID that Amazon MQ generates for the broker.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"CreateConfigurationInput\";O:8:\"stdClass\":3:{s:11:\"description\";s:227:\"Creates
  a new configuration for the specified configuration name. Amazon MQ uses the default
  configuration (the engine type and version). Note: If the configuration name already
  exists, Amazon MQ doesn't create a configuration.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"EngineType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/EngineType\";s:11:\"description\";s:87:\"Required.
  The type of broker engine. Note: Currently, Amazon MQ supports only ACTIVEMQ.\";}s:13:\"EngineVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:92:\"Required.
  The version of the broker engine. Note: Currently, Amazon MQ supports only 5.15.0.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:187:\"Required.
  The name of the configuration. This value can contain only alphanumeric characters,
  dashes, periods, underscores, and tildes (- . _ ~). This value must be 1-150 characters
  long.\";}}s:4:\"type\";s:6:\"object\";}s:25:\"CreateConfigurationOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Returns
  information about the created configuration.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"Arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:62:\"Required.
  The Amazon Resource Name (ARN) of the configuration.\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:71:\"Required.
  The unique ID that Amazon MQ generates for the configuration.\";}s:14:\"LatestRevision\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/ConfigurationRevision\";s:11:\"description\";s:41:\"The
  latest revision of the configuration.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:187:\"Required.
  The name of the configuration. This value can contain only alphanumeric characters,
  dashes, periods, underscores, and tildes (- . _ ~). This value must be 1-150 characters
  long.\";}}s:4:\"type\";s:6:\"object\";}s:26:\"CreateConfigurationRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:227:\"Creates
  a new configuration for the specified configuration name. Amazon MQ uses the default
  configuration (the engine type and version). Note: If the configuration name already
  exists, Amazon MQ doesn't create a configuration.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"EngineType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/EngineType\";s:11:\"description\";s:87:\"Required.
  The type of broker engine. Note: Currently, Amazon MQ supports only ACTIVEMQ.\";}s:13:\"EngineVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:92:\"Required.
  The version of the broker engine. Note: Currently, Amazon MQ supports only 5.15.0.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:187:\"Required.
  The name of the configuration. This value can contain only alphanumeric characters,
  dashes, periods, underscores, and tildes (- . _ ~). This value must be 1-150 characters
  long.\";}}s:4:\"type\";s:6:\"object\";}s:27:\"CreateConfigurationResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"Arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:62:\"Required.
  The Amazon Resource Name (ARN) of the configuration.\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:71:\"Required.
  The unique ID that Amazon MQ generates for the configuration.\";}s:14:\"LatestRevision\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/ConfigurationRevision\";s:11:\"description\";s:41:\"The
  latest revision of the configuration.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:187:\"Required.
  The name of the configuration. This value can contain only alphanumeric characters,
  dashes, periods, underscores, and tildes (- . _ ~). This value must be 1-150 characters
  long.\";}}s:4:\"type\";s:6:\"object\";}s:15:\"CreateUserInput\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Creates
  a new ActiveMQ user.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"ConsoleAccess\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__boolean\";s:11:\"description\";s:69:\"Enables
  access to the the ActiveMQ Web Console for the ActiveMQ user.\";}s:6:\"Groups\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ListOf__string\";s:11:\"description\";s:214:\"The
  list of groups (20 maximum) to which the ActiveMQ user belongs. This value can contain
  only alphanumeric characters, dashes, periods, underscores, and tildes (- . _ ~).
  This value must be 2-100 characters long.\";}s:8:\"Password\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:155:\"Required.
  The password of the user. This value must be at least 12 characters long, must contain
  at least 4 unique characters, and must not contain commas.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"CreateUserRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Creates
  a new ActiveMQ user.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"ConsoleAccess\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__boolean\";s:11:\"description\";s:69:\"Enables
  access to the the ActiveMQ Web Console for the ActiveMQ user.\";}s:6:\"Groups\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ListOf__string\";s:11:\"description\";s:214:\"The
  list of groups (20 maximum) to which the ActiveMQ user belongs. This value can contain
  only alphanumeric characters, dashes, periods, underscores, and tildes (- . _ ~).
  This value must be 2-100 characters long.\";}s:8:\"Password\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:155:\"Required.
  The password of the user. This value must be at least 12 characters long, must contain
  at least 4 unique characters, and must not contain commas.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"CreateUserResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:9:\"DayOfWeek\";O:8:\"stdClass\":2:{s:4:\"enum\";a:7:{i:0;s:6:\"MONDAY\";i:1;s:7:\"TUESDAY\";i:2;s:9:\"WEDNESDAY\";i:3;s:8:\"THURSDAY\";i:4;s:6:\"FRIDAY\";i:5;s:8:\"SATURDAY\";i:6;s:6:\"SUNDAY\";}s:4:\"type\";s:6:\"string\";}s:18:\"DeleteBrokerOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Returns
  information about the deleted broker.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"BrokerId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:54:\"The
  unique ID that Amazon MQ generates for the broker.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"DeleteBrokerRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:20:\"DeleteBrokerResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"BrokerId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:54:\"The
  unique ID that Amazon MQ generates for the broker.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"DeleteUserRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:18:\"DeleteUserResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:14:\"DeploymentMode\";O:8:\"stdClass\":3:{s:11:\"description\";s:252:\"The
  deployment mode of the broker. Possible values: SINGLE_INSTANCE, ACTIVE_STANDBY_MULTI_AZ
  SINGLE_INSTANCE creates a single-instance broker in a single Availability Zone.
  ACTIVE_STANDBY_MULTI_AZ creates an active/standby broker for high availability.\";s:4:\"enum\";a:2:{i:0;s:15:\"SINGLE_INSTANCE\";i:1;s:23:\"ACTIVE_STANDBY_MULTI_AZ\";}s:4:\"type\";s:6:\"string\";}s:20:\"DescribeBrokerOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:82:\"The
  version of the broker engine. Note: Currently, Amazon MQ supports only 5.15.0.\";s:10:\"properties\";O:8:\"stdClass\":16:{s:23:\"AutoMinorVersionUpgrade\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__boolean\";s:11:\"description\";s:210:\"Required.
  Enables automatic upgrades to new minor versions for brokers, as Apache releases
  the versions. The automatic upgrades occur during the maintenance window of the
  broker or after a manual broker reboot.\";}s:9:\"BrokerArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:45:\"The
  Amazon Resource Name (ARN) of the broker.\";}s:8:\"BrokerId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:54:\"The
  unique ID that Amazon MQ generates for the broker.\";}s:15:\"BrokerInstances\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ListOfBrokerInstance\";s:11:\"description\";s:46:\"A
  list of information about allocated brokers.\";}s:10:\"BrokerName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:241:\"The
  name of the broker. This value must be unique in your AWS account, 1-50 characters
  long, must contain only letters, numbers, dashes, and underscores, and must not
  contain whitespaces, brackets, wildcard characters, or special characters.\";}s:11:\"BrokerState\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/BrokerState\";s:11:\"description\";s:131:\"The
  status of the broker. Possible values: CREATION_IN_PROGRESS, CREATION_FAILED, DELETION_IN_PROGRESS,
  RUNNING, REBOOT_IN_PROGRESS\";}s:14:\"Configurations\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/Configurations\";s:11:\"description\";s:58:\"The
  list of all revisions for the specified configuration.\";}s:14:\"DeploymentMode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/DeploymentMode\";s:11:\"description\";s:262:\"Required.
  The deployment mode of the broker. Possible values: SINGLE_INSTANCE, ACTIVE_STANDBY_MULTI_AZ
  SINGLE_INSTANCE creates a single-instance broker in a single Availability Zone.
  ACTIVE_STANDBY_MULTI_AZ creates an active/standby broker for high availability.\";}s:10:\"EngineType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/EngineType\";s:11:\"description\";s:87:\"Required.
  The type of broker engine. Note: Currently, Amazon MQ supports only ACTIVEMQ.\";}s:13:\"EngineVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:82:\"The
  version of the broker engine. Note: Currently, Amazon MQ supports only 5.15.0.\";}s:16:\"HostInstanceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:69:\"The
  broker's instance type. Possible values: mq.t2.micro, mq.m4.large\";}s:26:\"MaintenanceWindowStartTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/WeeklyStartTime\";s:11:\"description\";s:50:\"The
  parameters that determine the WeeklyStartTime.\";}s:18:\"PubliclyAccessible\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__boolean\";s:11:\"description\";s:99:\"Required.
  Enables connections from applications outside of the VPC that hosts the broker's
  subnets.\";}s:14:\"SecurityGroups\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ListOf__string\";s:11:\"description\";s:91:\"Required.
  The list of rules (1 minimum, 125 maximum) that authorize connections to brokers.\";}s:9:\"SubnetIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ListOf__string\";s:11:\"description\";s:268:\"The
  list of groups (2 maximum) that define which subnets and IP ranges the broker can
  use from different Availability Zones. A SINGLE_INSTANCE deployment requires one
  subnet (for example, the default subnet). An ACTIVE_STANDBY_MULTI_AZ deployment
  requires two subnets.\";}s:5:\"Users\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ListOfUserSummary\";s:11:\"description\";s:60:\"The
  list of all ActiveMQ usernames for the specified broker.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"DescribeBrokerRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:22:\"DescribeBrokerResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":16:{s:23:\"AutoMinorVersionUpgrade\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__boolean\";s:11:\"description\";s:210:\"Required.
  Enables automatic upgrades to new minor versions for brokers, as Apache releases
  the versions. The automatic upgrades occur during the maintenance window of the
  broker or after a manual broker reboot.\";}s:9:\"BrokerArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:45:\"The
  Amazon Resource Name (ARN) of the broker.\";}s:8:\"BrokerId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:54:\"The
  unique ID that Amazon MQ generates for the broker.\";}s:15:\"BrokerInstances\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ListOfBrokerInstance\";s:11:\"description\";s:46:\"A
  list of information about allocated brokers.\";}s:10:\"BrokerName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:241:\"The
  name of the broker. This value must be unique in your AWS account, 1-50 characters
  long, must contain only letters, numbers, dashes, and underscores, and must not
  contain whitespaces, brackets, wildcard characters, or special characters.\";}s:11:\"BrokerState\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/BrokerState\";s:11:\"description\";s:131:\"The
  status of the broker. Possible values: CREATION_IN_PROGRESS, CREATION_FAILED, DELETION_IN_PROGRESS,
  RUNNING, REBOOT_IN_PROGRESS\";}s:14:\"Configurations\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/Configurations\";s:11:\"description\";s:58:\"The
  list of all revisions for the specified configuration.\";}s:14:\"DeploymentMode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/DeploymentMode\";s:11:\"description\";s:262:\"Required.
  The deployment mode of the broker. Possible values: SINGLE_INSTANCE, ACTIVE_STANDBY_MULTI_AZ
  SINGLE_INSTANCE creates a single-instance broker in a single Availability Zone.
  ACTIVE_STANDBY_MULTI_AZ creates an active/standby broker for high availability.\";}s:10:\"EngineType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/EngineType\";s:11:\"description\";s:87:\"Required.
  The type of broker engine. Note: Currently, Amazon MQ supports only ACTIVEMQ.\";}s:13:\"EngineVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:82:\"The
  version of the broker engine. Note: Currently, Amazon MQ supports only 5.15.0.\";}s:16:\"HostInstanceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:69:\"The
  broker's instance type. Possible values: mq.t2.micro, mq.m4.large\";}s:26:\"MaintenanceWindowStartTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/WeeklyStartTime\";s:11:\"description\";s:50:\"The
  parameters that determine the WeeklyStartTime.\";}s:18:\"PubliclyAccessible\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__boolean\";s:11:\"description\";s:99:\"Required.
  Enables connections from applications outside of the VPC that hosts the broker's
  subnets.\";}s:14:\"SecurityGroups\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ListOf__string\";s:11:\"description\";s:91:\"Required.
  The list of rules (1 minimum, 125 maximum) that authorize connections to brokers.\";}s:9:\"SubnetIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ListOf__string\";s:11:\"description\";s:268:\"The
  list of groups (2 maximum) that define which subnets and IP ranges the broker can
  use from different Availability Zones. A SINGLE_INSTANCE deployment requires one
  subnet (for example, the default subnet). An ACTIVE_STANDBY_MULTI_AZ deployment
  requires two subnets.\";}s:5:\"Users\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ListOfUserSummary\";s:11:\"description\";s:60:\"The
  list of all ActiveMQ usernames for the specified broker.\";}}s:4:\"type\";s:6:\"object\";}s:28:\"DescribeConfigurationRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:29:\"DescribeConfigurationResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:3:\"Arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:39:\"Required.
  The ARN of the configuration.\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:47:\"Required.
  The description of the configuration.\";}s:10:\"EngineType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/EngineType\";s:11:\"description\";s:87:\"Required.
  The type of broker engine. Note: Currently, Amazon MQ supports only ACTIVEMQ.\";}s:13:\"EngineVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:43:\"Required.
  The version of the broker engine.\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:71:\"Required.
  The unique ID that Amazon MQ generates for the configuration.\";}s:14:\"LatestRevision\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/ConfigurationRevision\";s:11:\"description\";s:51:\"Required.
  The latest revision of the configuration.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:187:\"Required.
  The name of the configuration. This value can contain only alphanumeric characters,
  dashes, periods, underscores, and tildes (- . _ ~). This value must be 1-150 characters
  long.\";}}s:4:\"type\";s:6:\"object\";}s:35:\"DescribeConfigurationRevisionOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"Returns
  the specified configuration revision for the specified configuration.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"ConfigurationId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:71:\"Required.
  The unique ID that Amazon MQ generates for the configuration.\";}s:4:\"Data\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:47:\"Required.
  The base64-encoded XML configuration.\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:37:\"The
  description of the configuration.\";}}s:4:\"type\";s:6:\"object\";}s:36:\"DescribeConfigurationRevisionRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:37:\"DescribeConfigurationRevisionResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"ConfigurationId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:71:\"Required.
  The unique ID that Amazon MQ generates for the configuration.\";}s:4:\"Data\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:47:\"Required.
  The base64-encoded XML configuration.\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:37:\"The
  description of the configuration.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"DescribeUserOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Returns
  information about an ActiveMQ user.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"BrokerId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:64:\"Required.
  The unique ID that Amazon MQ generates for the broker.\";}s:13:\"ConsoleAccess\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__boolean\";s:11:\"description\";s:69:\"Enables
  access to the the ActiveMQ Web Console for the ActiveMQ user.\";}s:6:\"Groups\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ListOf__string\";s:11:\"description\";s:214:\"The
  list of groups (20 maximum) to which the ActiveMQ user belongs. This value can contain
  only alphanumeric characters, dashes, periods, underscores, and tildes (- . _ ~).
  This value must be 2-100 characters long.\";}s:7:\"Pending\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/UserPendingChanges\";s:11:\"description\";s:56:\"The
  status of the changes pending for the ActiveMQ user.\";}s:8:\"Username\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:191:\"Required.
  The username of the ActiveMQ user. This value can contain only alphanumeric characters,
  dashes, periods, underscores, and tildes (- . _ ~). This value must be 2-100 characters
  long.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"DescribeUserRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:20:\"DescribeUserResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"BrokerId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:64:\"Required.
  The unique ID that Amazon MQ generates for the broker.\";}s:13:\"ConsoleAccess\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__boolean\";s:11:\"description\";s:69:\"Enables
  access to the the ActiveMQ Web Console for the ActiveMQ user.\";}s:6:\"Groups\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ListOf__string\";s:11:\"description\";s:214:\"The
  list of groups (20 maximum) to which the ActiveMQ user belongs. This value can contain
  only alphanumeric characters, dashes, periods, underscores, and tildes (- . _ ~).
  This value must be 2-100 characters long.\";}s:7:\"Pending\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/UserPendingChanges\";s:11:\"description\";s:56:\"The
  status of the changes pending for the ActiveMQ user.\";}s:8:\"Username\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:191:\"Required.
  The username of the ActiveMQ user. This value can contain only alphanumeric characters,
  dashes, periods, underscores, and tildes (- . _ ~). This value must be 2-100 characters
  long.\";}}s:4:\"type\";s:6:\"object\";}s:10:\"EngineType\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"The
  type of broker engine. Note: Currently, Amazon MQ supports only ActiveMQ.\";s:4:\"enum\";a:1:{i:0;s:8:\"ACTIVEMQ\";}s:4:\"type\";s:6:\"string\";}s:5:\"Error\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Returns
  information about an error.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"ErrorAttribute\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:20:\"The
  error attribute.\";}s:7:\"Message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:18:\"The
  error message.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"ForbiddenException\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Returns
  information about an error.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"ErrorAttribute\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:20:\"The
  error attribute.\";}s:7:\"Message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:18:\"The
  error message.\";}}s:4:\"type\";s:6:\"object\";}s:28:\"InternalServerErrorException\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Returns
  information about an error.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"ErrorAttribute\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:20:\"The
  error attribute.\";}s:7:\"Message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:18:\"The
  error message.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"ListBrokersOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"A
  list of information about all brokers.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"BrokerSummaries\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/ListOfBrokerSummary\";s:11:\"description\";s:40:\"A
  list of information about all brokers.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:124:\"The
  token that specifies the next page of results Amazon MQ should return. To request
  the first page, leave nextToken empty.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"ListBrokersRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:19:\"ListBrokersResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"BrokerSummaries\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/ListOfBrokerSummary\";s:11:\"description\";s:40:\"A
  list of information about all brokers.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:124:\"The
  token that specifies the next page of results Amazon MQ should return. To request
  the first page, leave nextToken empty.\";}}s:4:\"type\";s:6:\"object\";}s:32:\"ListConfigurationRevisionsOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"Returns
  a list of all revisions for the specified configuration.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:15:\"ConfigurationId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:61:\"The
  unique ID that Amazon MQ generates for the configuration.\";}s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__integer\";s:11:\"description\";s:137:\"The
  maximum number of configuration revisions that can be returned per page (20 by default).
  This value must be an integer from 5 to 100.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:124:\"The
  token that specifies the next page of results Amazon MQ should return. To request
  the first page, leave nextToken empty.\";}s:9:\"Revisions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/ListOfConfigurationRevision\";s:11:\"description\";s:58:\"The
  list of all revisions for the specified configuration.\";}}s:4:\"type\";s:6:\"object\";}s:33:\"ListConfigurationRevisionsRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:34:\"ListConfigurationRevisionsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:15:\"ConfigurationId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:61:\"The
  unique ID that Amazon MQ generates for the configuration.\";}s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__integer\";s:11:\"description\";s:137:\"The
  maximum number of configuration revisions that can be returned per page (20 by default).
  This value must be an integer from 5 to 100.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:124:\"The
  token that specifies the next page of results Amazon MQ should return. To request
  the first page, leave nextToken empty.\";}s:9:\"Revisions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/ListOfConfigurationRevision\";s:11:\"description\";s:58:\"The
  list of all revisions for the specified configuration.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"ListConfigurationsOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Returns
  a list of all configurations.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"Configurations\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/ListOfConfiguration\";s:11:\"description\";s:58:\"The
  list of all revisions for the specified configuration.\";}s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__integer\";s:11:\"description\";s:133:\"The
  maximum number of configurations that Amazon MQ can return per page (20 by default).
  This value must be an integer from 5 to 100.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:124:\"The
  token that specifies the next page of results Amazon MQ should return. To request
  the first page, leave nextToken empty.\";}}s:4:\"type\";s:6:\"object\";}s:25:\"ListConfigurationsRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:26:\"ListConfigurationsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"Configurations\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/ListOfConfiguration\";s:11:\"description\";s:58:\"The
  list of all revisions for the specified configuration.\";}s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__integer\";s:11:\"description\";s:133:\"The
  maximum number of configurations that Amazon MQ can return per page (20 by default).
  This value must be an integer from 5 to 100.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:124:\"The
  token that specifies the next page of results Amazon MQ should return. To request
  the first page, leave nextToken empty.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"ListOfBrokerInstance\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/BrokerInstance\";}s:4:\"type\";s:5:\"array\";}s:19:\"ListOfBrokerSummary\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/BrokerSummary\";}s:4:\"type\";s:5:\"array\";}s:19:\"ListOfConfiguration\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/Configuration\";}s:4:\"type\";s:5:\"array\";}s:21:\"ListOfConfigurationId\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ConfigurationId\";}s:4:\"type\";s:5:\"array\";}s:27:\"ListOfConfigurationRevision\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/ConfigurationRevision\";}s:4:\"type\";s:5:\"array\";}s:25:\"ListOfSanitizationWarning\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/SanitizationWarning\";}s:4:\"type\";s:5:\"array\";}s:10:\"ListOfUser\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/User\";}s:4:\"type\";s:5:\"array\";}s:17:\"ListOfUserSummary\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/UserSummary\";}s:4:\"type\";s:5:\"array\";}s:14:\"ListOf__string\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/__string\";}s:4:\"type\";s:5:\"array\";}s:15:\"ListUsersOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Returns
  a list of all ActiveMQ users.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"BrokerId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:64:\"Required.
  The unique ID that Amazon MQ generates for the broker.\";}s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__integer\";s:11:\"description\";s:138:\"Required.
  The maximum number of ActiveMQ users that can be returned per page (20 by default).
  This value must be an integer from 5 to 100.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:124:\"The
  token that specifies the next page of results Amazon MQ should return. To request
  the first page, leave nextToken empty.\";}s:5:\"Users\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ListOfUserSummary\";s:11:\"description\";s:70:\"Required.
  The list of all ActiveMQ usernames for the specified broker.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"ListUsersRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:17:\"ListUsersResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"BrokerId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:64:\"Required.
  The unique ID that Amazon MQ generates for the broker.\";}s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__integer\";s:11:\"description\";s:138:\"Required.
  The maximum number of ActiveMQ users that can be returned per page (20 by default).
  This value must be an integer from 5 to 100.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:124:\"The
  token that specifies the next page of results Amazon MQ should return. To request
  the first page, leave nextToken empty.\";}s:5:\"Users\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ListOfUserSummary\";s:11:\"description\";s:70:\"Required.
  The list of all ActiveMQ usernames for the specified broker.\";}}s:4:\"type\";s:6:\"object\";}s:10:\"MaxResults\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:100;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:17:\"NotFoundException\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Returns
  information about an error.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"ErrorAttribute\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:20:\"The
  error attribute.\";}s:7:\"Message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:18:\"The
  error message.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"RebootBrokerRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:20:\"RebootBrokerResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:19:\"SanitizationWarning\";O:8:\"stdClass\":3:{s:11:\"description\";s:95:\"Returns
  information about the XML element or attribute that was sanitized in the configuration.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"AttributeName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:54:\"The
  name of the XML attribute that has been sanitized.\";}s:11:\"ElementName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:52:\"The
  name of the XML element that has been sanitized.\";}s:6:\"Reason\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/SanitizationWarningReason\";s:11:\"description\";s:494:\"Required.
  The reason for which the XML elements or attributes were sanitized. Possible values:
  DISALLOWED_ELEMENT_REMOVED, DISALLOWED_ATTRIBUTE_REMOVED, INVALID_ATTRIBUTE_VALUE_REMOVED
  DISALLOWED_ELEMENT_REMOVED shows that the provided element isn't allowed and has
  been removed. DISALLOWED_ATTRIBUTE_REMOVED shows that the provided attribute isn't
  allowed and has been removed. INVALID_ATTRIBUTE_VALUE_REMOVED shows that the provided
  value for the attribute isn't allowed and has been removed.\";}}s:4:\"type\";s:6:\"object\";}s:25:\"SanitizationWarningReason\";O:8:\"stdClass\":3:{s:11:\"description\";s:484:\"The
  reason for which the XML elements or attributes were sanitized. Possible values:
  DISALLOWED_ELEMENT_REMOVED, DISALLOWED_ATTRIBUTE_REMOVED, INVALID_ATTRIBUTE_VALUE_REMOVED
  DISALLOWED_ELEMENT_REMOVED shows that the provided element isn't allowed and has
  been removed. DISALLOWED_ATTRIBUTE_REMOVED shows that the provided attribute isn't
  allowed and has been removed. INVALID_ATTRIBUTE_VALUE_REMOVED shows that the provided
  value for the attribute isn't allowed and has been removed.\";s:4:\"enum\";a:3:{i:0;s:26:\"DISALLOWED_ELEMENT_REMOVED\";i:1;s:28:\"DISALLOWED_ATTRIBUTE_REMOVED\";i:2;s:31:\"INVALID_ATTRIBUTE_VALUE_REMOVED\";}s:4:\"type\";s:6:\"string\";}s:21:\"UnauthorizedException\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Returns
  information about an error.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"ErrorAttribute\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:20:\"The
  error attribute.\";}s:7:\"Message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:18:\"The
  error message.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"UpdateBrokerInput\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Updates
  the broker using the specified properties.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"Configuration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ConfigurationId\";s:11:\"description\";s:46:\"A
  list of information about the configuration.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"UpdateBrokerOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Returns
  information about the updated broker.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"BrokerId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:64:\"Required.
  The unique ID that Amazon MQ generates for the broker.\";}s:13:\"Configuration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ConfigurationId\";s:11:\"description\";s:36:\"The
  ID of the updated configuration.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"UpdateBrokerRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Updates
  the broker using the specified properties.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"Configuration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ConfigurationId\";s:11:\"description\";s:46:\"A
  list of information about the configuration.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"UpdateBrokerResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"BrokerId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:64:\"Required.
  The unique ID that Amazon MQ generates for the broker.\";}s:13:\"Configuration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ConfigurationId\";s:11:\"description\";s:36:\"The
  ID of the updated configuration.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"UpdateConfigurationInput\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Updates
  the specified configuration.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Data\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:47:\"Required.
  The base64-encoded XML configuration.\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:37:\"The
  description of the configuration.\";}}s:4:\"type\";s:6:\"object\";}s:25:\"UpdateConfigurationOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Returns
  information about the updated configuration.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:3:\"Arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:62:\"Required.
  The Amazon Resource Name (ARN) of the configuration.\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:71:\"Required.
  The unique ID that Amazon MQ generates for the configuration.\";}s:14:\"LatestRevision\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/ConfigurationRevision\";s:11:\"description\";s:41:\"The
  latest revision of the configuration.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:187:\"Required.
  The name of the configuration. This value can contain only alphanumeric characters,
  dashes, periods, underscores, and tildes (- . _ ~). This value must be 1-150 characters
  long.\";}s:8:\"Warnings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/ListOfSanitizationWarning\";s:11:\"description\";s:105:\"The
  list of the first 20 warnings about the configuration XML elements or attributes
  that were sanitized.\";}}s:4:\"type\";s:6:\"object\";}s:26:\"UpdateConfigurationRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Updates
  the specified configuration.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Data\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:47:\"Required.
  The base64-encoded XML configuration.\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:37:\"The
  description of the configuration.\";}}s:4:\"type\";s:6:\"object\";}s:27:\"UpdateConfigurationResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:3:\"Arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:62:\"Required.
  The Amazon Resource Name (ARN) of the configuration.\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:71:\"Required.
  The unique ID that Amazon MQ generates for the configuration.\";}s:14:\"LatestRevision\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/ConfigurationRevision\";s:11:\"description\";s:41:\"The
  latest revision of the configuration.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:187:\"Required.
  The name of the configuration. This value can contain only alphanumeric characters,
  dashes, periods, underscores, and tildes (- . _ ~). This value must be 1-150 characters
  long.\";}s:8:\"Warnings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/ListOfSanitizationWarning\";s:11:\"description\";s:105:\"The
  list of the first 20 warnings about the configuration XML elements or attributes
  that were sanitized.\";}}s:4:\"type\";s:6:\"object\";}s:15:\"UpdateUserInput\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Updates
  the information for an ActiveMQ user.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"ConsoleAccess\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__boolean\";s:11:\"description\";s:69:\"Enables
  access to the the ActiveMQ Web Console for the ActiveMQ user.\";}s:6:\"Groups\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ListOf__string\";s:11:\"description\";s:214:\"The
  list of groups (20 maximum) to which the ActiveMQ user belongs. This value can contain
  only alphanumeric characters, dashes, periods, underscores, and tildes (- . _ ~).
  This value must be 2-100 characters long.\";}s:8:\"Password\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:145:\"The
  password of the user. This value must be at least 12 characters long, must contain
  at least 4 unique characters, and must not contain commas.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"UpdateUserRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Updates
  the information for an ActiveMQ user.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"ConsoleAccess\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__boolean\";s:11:\"description\";s:69:\"Enables
  access to the the ActiveMQ Web Console for the ActiveMQ user.\";}s:6:\"Groups\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ListOf__string\";s:11:\"description\";s:214:\"The
  list of groups (20 maximum) to which the ActiveMQ user belongs. This value can contain
  only alphanumeric characters, dashes, periods, underscores, and tildes (- . _ ~).
  This value must be 2-100 characters long.\";}s:8:\"Password\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:145:\"The
  password of the user. This value must be at least 12 characters long, must contain
  at least 4 unique characters, and must not contain commas.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"UpdateUserResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:4:\"User\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"An
  ActiveMQ user associated with the broker.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"ConsoleAccess\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__boolean\";s:11:\"description\";s:69:\"Enables
  access to the the ActiveMQ Web Console for the ActiveMQ user.\";}s:6:\"Groups\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ListOf__string\";s:11:\"description\";s:214:\"The
  list of groups (20 maximum) to which the ActiveMQ user belongs. This value can contain
  only alphanumeric characters, dashes, periods, underscores, and tildes (- . _ ~).
  This value must be 2-100 characters long.\";}s:8:\"Password\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:164:\"Required.
  The password of the ActiveMQ user. This value must be at least 12 characters long,
  must contain at least 4 unique characters, and must not contain commas.\";}s:8:\"Username\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:191:\"Required.
  The username of the ActiveMQ user. This value can contain only alphanumeric characters,
  dashes, periods, underscores, and tildes (- . _ ~). This value must be 2-100 characters
  long.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"UserPendingChanges\";O:8:\"stdClass\":3:{s:11:\"description\";s:82:\"Returns
  information about the status of the changes pending for the ActiveMQ user.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"ConsoleAccess\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__boolean\";s:11:\"description\";s:69:\"Enables
  access to the the ActiveMQ Web Console for the ActiveMQ user.\";}s:6:\"Groups\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ListOf__string\";s:11:\"description\";s:214:\"The
  list of groups (20 maximum) to which the ActiveMQ user belongs. This value can contain
  only alphanumeric characters, dashes, periods, underscores, and tildes (- . _ ~).
  This value must be 2-100 characters long.\";}s:13:\"PendingChange\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ChangeType\";s:11:\"description\";s:99:\"Required.
  The type of change pending for the ActiveMQ user. Possible values: CREATE, UPDATE,
  DELETE\";}}s:4:\"type\";s:6:\"object\";}s:11:\"UserSummary\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Returns
  a list of all ActiveMQ users.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"PendingChange\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ChangeType\";s:11:\"description\";s:89:\"The
  type of change pending for the ActiveMQ user. Possible values: CREATE, UPDATE, DELETE\";}s:8:\"Username\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:191:\"Required.
  The username of the ActiveMQ user. This value can contain only alphanumeric characters,
  dashes, periods, underscores, and tildes (- . _ ~). This value must be 2-100 characters
  long.\";}}s:4:\"type\";s:6:\"object\";}s:15:\"WeeklyStartTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:122:\"The
  scheduled time period relative to UTC during which Amazon MQ begins to apply pending
  updates or patches to the broker.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"DayOfWeek\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/DayOfWeek\";s:11:\"description\";s:110:\"Required.
  The day of the week. Possible values: MONDAY, TUESDAY, WEDNESDAY, THURSDAY, FRIDAY,
  SATURDAY, SUNDAY\";}s:9:\"TimeOfDay\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:38:\"Required.
  The time, in 24-hour format.\";}s:8:\"TimeZone\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:91:\"The
  time zone, UTC by default, in either the Country/City format, or the UTC offset
  format.\";}}s:4:\"type\";s:6:\"object\";}s:9:\"__boolean\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"__double\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:9:\"__integer\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"__string\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"__timestamp\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}"
...
