---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:7:\"version\";s:3:\"1.0\";s:5:\"title\";s:25:\"Mooncake
  CDN \u63A5\u53E3\u6587\u6863\";s:11:\"description\";s:5969:\"\u4F7F\u7528\u8BE5\u63A5\u53E3\u7BA1\u7406Mooncake
  CDN\u8D44\u6E90\u3002\n\n \u9A8C\u8BC1\u548C\u6388\u6743\u65B9\u5F0F\u57FA\u4E8E\u63A5\u53E3\u5BC6\u94A5\uFF0C\u8BF7\u5148\u5230CDN\u7BA1\u7406\u754C\u9762\u5BC6\u94A5\u7BA1\u7406\u5904\u8FDB\u884C\u63A5\u53E3\u5BC6\u94A5\u7533\u8BF7\u3002\n\n
  \u6388\u6743\u4FE1\u606F\u4EE5Authorization\u8BF7\u6C42\u5934\u53D1\u9001\uFF0C\u683C\u5F0F\u4E3A\"AzureCDN
  {\u5BC6\u94A5\u552F\u4E00\u6807\u8BC6}:{\u7528\u5BC6\u94A5\u503C\u8BA1\u7B97\u51FA\u6765\u7684SHA
  256\u8BF7\u6C42\u5185\u5BB9\u7B7E\u540D}\"\u3002 \u7B7E\u540D\u90E8\u5206\u5305\u62EC\uFF1A\u8BF7\u6C42\u7EDD\u5BF9\u8DEF\u5F84\uFF0C\u7528
  \", \"\u8FDE\u63A5\u8D77\u6765\u7684\u6392\u5E8F\u8FC7\u7684\u67E5\u8BE2\u53C2\u6570\uFF0C\u8BF7\u6C42\u7684UTC\u65F6\u95F4\u6233\uFF0C\u5927\u5199\u7684\u8BF7\u6C42\u65B9\u6CD5\u3002\u4EE5\u4E0A\u51E0\u90E8\u5206\u7528\u56DE\u8F66\u6362\u884C\u8FDE\u63A5\u3002\n
  \nPython\u793A\u4F8B\uFF1A\n\n      def calculate_authorization_header(request_url,
  request_timestamp, key_id, key_value, http_method):\n          urlparts = urllib.parse.urlparse(request_url)\n
  \         queries = urllib.parse.parse_qs(urlparts.query)\n          ordered_queries
  = OrderedDict(queries)\n          message = \"%s\\r\\n%s\\r\\n%s\\r\\n%s\" % (urlparts.path,
  \", \".join(['%s:%s' % (key, value[0]) for (key, value) in ordered_queries.items()]),
  request_timestamp, http_method)\n          digest = hmac.new(bytearray(key_value,
  \"utf-8\"), bytearray(message, \"utf-8\"), hashlib.sha256).hexdigest().upper()\n
  \         return \"AzureCDN %s:%s\" % (key_id, digest)\n          \nJava\u793A\u4F8B:\n
  \ \n    public static String calculateAuthorizationHeader(String requestURL, String
  requestTimestamp, String keyID, String keyValue, String httpMethod) throws Exception
  {\n          URL url = new URL(requestURL);\n          String path = url.getPath();\n
  \         \n          // Get query parameters\n          String query = url.getQuery();
  \     \n          String[] params = query.split(\"&\");\n          Map<String, String>
  paramMap = new TreeMap<String, String>();\n          for(String param: params) {\n
  \               String[] paramterParts = param.split(\"=\");\n                if(paramterParts.length
  != 2) {\n                      continue;\n                }\n                \n
  \               paramMap.put(paramterParts[0], paramterParts[1]);\n          }\n
  \         \n          String orderedQueries = paramMap.entrySet()\n                                          .stream()\n
  \                                         .map(entry -> entry.getKey() + \":\" +
  entry.getValue())\n                                          .collect(Collectors.joining(\",
  \"));\n          \n          String content = String.format(\"%s\\r\\n%s\\r\\n%s\\r\\n%s\",
  path, orderedQueries, requestTimestamp, httpMethod);        \n          Mac sha256HMAC
  = Mac.getInstance(\"HmacSHA256\");\n          SecretKeySpec secret_key = new SecretKeySpec(keyValue.getBytes(),
  \"HmacSHA256\");\n          sha256HMAC.init(secret_key);\n          byte[] bytes
  = sha256HMAC.doFinal(content.getBytes());\n          \n          StringBuffer hash
  = new StringBuffer();\n          for (int i = 0; i < bytes.length; i++) {\n              String
  hex = Integer.toHexString(0xFF & bytes[i]);\n              if (hex.length() == 1)
  {\n                hash.append('0');\n              }\n              hash.append(hex);\n
  \         }\n    \n          return String.format(\"AzureCDN %s:%s\", keyID, hash.toString().toUpperCase());\n
  \   }\n    \n  C#\u793A\u4F8B\uFF1A\n    \n    public static string CalculateAuthorizationHeader(string
  requestUrl, string requestDate, string key, string httpMethod)\n      {\n              Uri
  requestUri = new Uri(requestUrl);\n              \n              StringBuilder hashContentBuilder
  = new StringBuilder();\n              hashContentBuilder.Append(requestUri.AbsolutePath.ToLowerInvariant());\n
  \             hashContentBuilder.Append(\"\\r\\n\");\n  \n              var queryStrings
  = HttpUtility.ParseQueryString(requestUri.Query);\n              var sortedParameterNames
  = queryStrings.AllKeys.ToList();\n              sortedParameterNames.Sort((q1, q2)
  => string.Compare(q1, q2));\n              var result = string.Join(\", \", sortedParameterNames.Select(p
  => string.Format(\"{0}:{1}\", p, queryStrings[p])).ToArray());\n              if
  (!string.IsNullOrEmpty(result))\n              {\n                  hashContentBuilder.Append(result);\n
  \                 hashContentBuilder.Append(\"\\r\\n\");\n              }\n  \n
  \             hashContentBuilder.Append(requestDate);\n              hashContentBuilder.Append(\"\\r\\n\");\n
  \             hashContentBuilder.Append(httpMethod.ToUpper());\n              string
  hashContent = hashContentBuilder.ToString();\n  \n              using (HMACSHA256
  myhmacsha256 = new HMACSHA256(Encoding.UTF8.GetBytes(key)))\n              {\n                  byte[]
  byteArray = Encoding.UTF8.GetBytes(hashContent);\n                  byte[] hashedValue
  = myhmacsha256.ComputeHash(byteArray);\n  \n                  string sbinary = string.Empty;\n
  \                 for (int i = 0; i < hashedValue.Length; i++)\n                  {\n
  \                     sbinary += hashedValue[i].ToString(\"X2\");\n                  }\n
  \ \n                  return sbinary;\n              }\n      }\n    \nGo\u793A\u4F8B\uFF1A\n
  \ \n  \n      func calculateAuthorizationHeader(requestURL, requestTimeStamp, keyID,
  keyValue, httpMethod string) string {\n                  u, err := url.Parse(requestURL)\n
  \                 if err != nil {\n                      panic(err)\n                  }\n
  \ \n                  var path = u.Path\n                  m, _ := url.ParseQuery(u.RawQuery)\n
  \ \n                  var keys []string\n                  for k := range m {\n
  \                                 keys = append(keys, k)\n                  }\n
  \                 sort.Strings(keys)\n                  var orderedQueries []string\n
  \                 for _, k := range keys {\n                                  orderedQueries
  = append(orderedQueries, fmt.Sprintf(\"%s:%s\", k, m[k][0]))\n                  }\n
  \ \n                  var queries = strings.Join(orderedQueries, \", \")\n                  content
  := fmt.Sprintf(\"%s\\r\\n%s\\r\\n%s\\r\\n%s\", path, queries, requestTimeStamp,
  httpMethod)\n                  hash := hmac.New(sha256.New, []byte(keyValue))\n
  \                 hash.Write([]byte(content))\n                  digest := strings.ToUpper(hex.EncodeToString(hash.Sum(nil)))\n
  \                 return fmt.Sprintf(\"AzureCDN %s:%s\", keyID, digest)\n       }\n\";}"
host: api-preview.cdn.azure.cn
paths:
  /subscriptions/{subscriptionId}/endpoints:
    get:
      tags:
      - u8282u70b9u7ba1u7406
      description: u83b7u53d6u6307u5b9au8ba2u9605u4e0bu7684u6240u6709u8282u70b9u4fe1u606f
      operationId: Endpoints_GetEndpoints
      parameters:
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/requestDateParameter'
      - $ref: '#/parameters/authorizationParameter'
      responses:
        200:
          description: u8282u70b9u4fe1u606f
          schema:
            $ref: '#/definitions/EndpointList'
        default:
          description: u5305u542bu51fau9519u4fe1u606fu7684u901au7528u56deu590d
          schema:
            $ref: '#/definitions/APIResponse'
    post:
      tags:
      - u8282u70b9u7ba1u7406
      description: u5728u6307u5b9au8ba2u9605u4e0bu521bu5efau8282u70b9
      operationId: Endpoints_AddEndpoints
      parameters:
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      - name: setting
        in: body
        description: u57dfu540du521bu5efau4fe1u606f
        required: true
        schema:
          $ref: '#/definitions/EndpointSetting'
      - $ref: '#/parameters/requestDateParameter'
      - $ref: '#/parameters/authorizationParameter'
      responses:
        200:
          description: u6210u529fu521bu5efau7684u8282u70b9
          schema:
            $ref: '#/definitions/Endpoint'
        default:
          description: u5305u542bu51fau9519u4fe1u606fu7684u901au7528u56deu590d
          schema:
            $ref: '#/definitions/APIResponse'
  /subscriptions/{subscriptionId}/endpoints/{endpointId}:
    delete:
      tags:
      - u8282u70b9u7ba1u7406
      description: u5220u9664u6307u5b9au8282u70b9
      operationId: Endpoints_DeleteEndpoint
      parameters:
      - $ref: '#/parameters/subscriptionIdParameter'
      - name: endpointId
        in: path
        description: u8282u70b9u552fu4e00u6807u5fd7.
        required: true
        type: string
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/requestDateParameter'
      - $ref: '#/parameters/authorizationParameter'
      responses:
        202:
          description: u8bf7u6c42u5df2u88abu5904u7406
          schema:
            $ref: '#/definitions/APIResponse'
        default:
          description: u5305u542bu51fau9519u4fe1u606fu7684u901au7528u56deu590d
          schema:
            $ref: '#/definitions/APIResponse'
    put:
      tags:
      - u8282u70b9u7ba1u7406
      description: u66f4u65b0u8282u70b9
      operationId: Endpoints_UpdateEndpoint
      parameters:
      - $ref: '#/parameters/subscriptionIdParameter'
      - name: endpointId
        in: path
        description: u8282u70b9u552fu4e00u6807u8bc6
        required: true
        type: string
      - name: endpointSetting
        in: body
        description: u8282u70b9u66f4u65b0u8bbeu5b9a
        required: true
        schema:
          $ref: '#/definitions/EndpointSettingUpdateProperty'
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/requestDateParameter'
      - $ref: '#/parameters/authorizationParameter'
      responses:
        202:
          description: u64cdu4f5cu5df2u63d0u4ea4u7684u901au7528u56deu590d
          schema:
            $ref: '#/definitions/APIResponse'
        default:
          description: u5305u542bu51fau9519u4fe1u606fu7684u901au7528u56deu590d
          schema:
            $ref: '#/definitions/APIResponse'
    get:
      tags:
      - u8282u70b9u7ba1u7406
      description: u83b7u53d6u8282u70b9u4fe1u606f
      operationId: Endpoints_GetEndpoint
      parameters:
      - $ref: '#/parameters/subscriptionIdParameter'
      - name: endpointId
        in: path
        description: u8282u70b9u552fu4e00u6807u8bc6
        required: true
        type: string
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/requestDateParameter'
      - $ref: '#/parameters/authorizationParameter'
      responses:
        200:
          description: u8282u70b9u4fe1u606f
          schema:
            $ref: '#/definitions/Endpoint'
        default:
          description: u5305u542bu51fau9519u4fe1u606fu7684u901au7528u56deu590d
          schema:
            $ref: '#/definitions/APIResponse'
  /subscriptions/{subscriptionId}/endpoints/{endpointId}/cacherules:
    put:
      tags:
      - u8282u70b9u7ba1u7406
      description: u66f4u65b0u7f13u5b58u7b56u7565
      operationId: Endpoints_AddCacheRule
      parameters:
      - $ref: '#/parameters/subscriptionIdParameter'
      - name: endpointId
        in: path
        description: u8282u70b9u552fu4e00u6807u8bc6
        required: true
        type: string
      - name: policy
        in: body
        description: u7f13u5b58u7b56u7565
        required: true
        schema:
          $ref: '#/definitions/CachePolicy'
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/requestDateParameter'
      - $ref: '#/parameters/authorizationParameter'
      responses:
        202:
          description: u64cdu4f5cu5df2u63d0u4ea4u7684u901au7528u56deu590d
          schema:
            $ref: '#/definitions/APIResponse'
        default:
          description: u5305u542bu51fau9519u4fe1u606fu7684u901au7528u56deu590d
          schema:
            $ref: '#/definitions/APIResponse'
    get:
      tags:
      - u8282u70b9u7ba1u7406
      description: u67e5u8be2u7f13u5b58u7b56u7565
      operationId: Endpoints_GetCacheRule
      parameters:
      - $ref: '#/parameters/subscriptionIdParameter'
      - name: endpointId
        in: path
        description: u8282u70b9u552fu4e00u6807u8bc6
        required: true
        type: string
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/requestDateParameter'
      - $ref: '#/parameters/authorizationParameter'
      responses:
        200:
          description: u7f13u5b58u7b56u7565
          schema:
            $ref: '#/definitions/CachePolicy'
        default:
          description: u5305u542bu51fau9519u4fe1u606fu7684u901au7528u56deu590d
          schema:
            $ref: '#/definitions/APIResponse'
  /subscriptions/{subscriptionId}/endpoints/{endpointId}/accesscontrol:
    put:
      tags:
      - u8282u70b9u7ba1u7406
      description: u66f4u65b0u8bbfu95eeu63a7u5236u89c4u5219
      operationId: Endpoints_AddAccessControl
      parameters:
      - $ref: '#/parameters/subscriptionIdParameter'
      - name: endpointId
        in: path
        description: u8282u70b9u552fu4e00u6807u8bc6
        required: true
        type: string
      - name: policy
        in: body
        description: u8bbfu95eeu63a7u5236u89c4u5219
        required: true
        schema:
          $ref: '#/definitions/AccessControl'
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/requestDateParameter'
      - $ref: '#/parameters/authorizationParameter'
      responses:
        202:
          description: u64cdu4f5cu5df2u63d0u4ea4u7684u901au7528u56deu590d
          schema:
            $ref: '#/definitions/APIResponse'
        default:
          description: u5305u542bu51fau9519u4fe1u606fu7684u901au7528u56deu590d
          schema:
            $ref: '#/definitions/APIResponse'
    get:
      tags:
      - u8282u70b9u7ba1u7406
      description: u67e5u8be2u8bbfu95eeu63a7u5236u89c4u5219
      operationId: Endpoints_GetAccessControl
      parameters:
      - $ref: '#/parameters/subscriptionIdParameter'
      - name: endpointId
        in: path
        description: u8282u70b9u552fu4e00u6807u8bc6
        required: true
        type: string
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/requestDateParameter'
      - $ref: '#/parameters/authorizationParameter'
      responses:
        200:
          description: u7f13u5b58u7b56u7565
          schema:
            $ref: '#/definitions/AccessControl'
        default:
          description: u5305u542bu51fau9519u4fe1u606fu7684u901au7528u56deu590d
          schema:
            $ref: '#/definitions/APIResponse'
  /subscriptions/{subscriptionId}/endpoints/{endpointId}/enable:
    post:
      tags:
      - u8282u70b9u7ba1u7406
      description: u542fu7528u5904u4e8eu7981u7528u72b6u6001u7684u8282u70b9
      operationId: Endpoints_EnableEndpoint
      parameters:
      - $ref: '#/parameters/subscriptionIdParameter'
      - name: endpointId
        in: path
        description: u8282u70b9u552fu4e00u6807u8bc6
        required: true
        type: string
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/requestDateParameter'
      - $ref: '#/parameters/authorizationParameter'
      responses:
        202:
          description: u64cdu4f5cu5df2u63d0u4ea4u7684u901au7528u56deu590d
          schema:
            $ref: '#/definitions/APIResponse'
        default:
          description: u5305u542bu51fau9519u4fe1u606fu7684u901au7528u56deu590d
          schema:
            $ref: '#/definitions/APIResponse'
  /subscriptions/{subscriptionId}/endpoints/{endpointId}/disable:
    post:
      tags:
      - u8282u70b9u7ba1u7406
      description: u7981u7528u5904u4e8eu542fu7528u72b6u6001u7684u8282u70b9
      operationId: Endpoints_DisableEndpoint
      parameters:
      - $ref: '#/parameters/subscriptionIdParameter'
      - name: endpointId
        in: path
        description: u8282u70b9u552fu4e00u6807u8bc6
        required: true
        type: string
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/requestDateParameter'
      - $ref: '#/parameters/authorizationParameter'
      responses:
        202:
          description: u64cdu4f5cu5df2u63d0u4ea4u7684u901au7528u56deu590d
          schema:
            $ref: '#/definitions/APIResponse'
        default:
          description: u5305u542bu51fau9519u4fe1u606fu7684u901au7528u56deu590d
          schema:
            $ref: '#/definitions/APIResponse'
  /subscriptions/{subscriptionId}/endpoints/{endpointId}/purges:
    post:
      tags:
      - u7f13u5b58u5237u65b0
      description: u5237u65b0CDNu7aefu7f13u5b58
      operationId: Endpoints_PurgeContent
      parameters:
      - name: endpointId
        in: path
        description: u76eeu6807u8282u70b9u552fu4e00u6807u8bc6
        required: true
        type: string
      - name: purgeContent
        in: body
        description: u9700u8981u8fdbu884cu5237u65b0u7684u7eddu5bf9u8defu5f84uff0cu53efu4ee5u5bf9u5355u4e2au6587u4ef6,
          u6bd4u5982'http://example.com/pictures/city.png'u8fdbu884cu5237u65b0, u4e5fu53efu4ee5u5bf9u6574u4e2au76eeu5f55uff0cu6bd4u5982'http://example.com/pictures/'u5bf9u6574u4e2au76eeu5f55u8fdbu884cu5237u65b0
        required: true
        schema:
          $ref: '#/definitions/PurgeParameters'
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/requestDateParameter'
      - $ref: '#/parameters/authorizationParameter'
      responses:
        202:
          description: u64cdu4f5cu5df2u63d0u4ea4u7684u901au7528u56deu590duff0cAsyncInfou4e2du7684TrackingIDu4fe1u606fu53efu4ee5u7528u6765u67e5u8be2u5237u65b0u72b6u6001u3002
          schema:
            $ref: '#/definitions/APIResponse'
        default:
          description: u5305u542bu51fau9519u4fe1u606fu7684u901au7528u56deu590d
          schema:
            $ref: '#/definitions/APIResponse'
  /subscriptions/{subscriptionId}/endpoints/{endpointId}/purges/{purgeId}:
    get:
      tags:
      - u7f13u5b58u5237u65b0
      description: u83b7u53d6u7f13u5b58u5237u65b0u7ed3u679c
      operationId: Endpoints_GetPurgeContent
      parameters:
      - name: endpointId
        in: path
        description: u8282u70b9u552fu4e00u6807u8bc6
        required: true
        type: string
      - name: purgeId
        in: path
        description: u4e00u6b21u7f13u5b58u5237u65b0u64cdu4f5cu552fu4e00u6807u8bc6
        required: true
        type: string
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/requestDateParameter'
      - $ref: '#/parameters/authorizationParameter'
      responses:
        200:
          description: u9884u52a0u8f7du7ed3u679c
          schema:
            $ref: '#/definitions/PurgeResult'
        default:
          description: u5305u542bu51fau9519u4fe1u606fu7684u901au7528u56deu590d
          schema:
            $ref: '#/definitions/APIResponse'
  /subscriptions/{subscriptionId}/endpoints/{endpointId}/preloads:
    post:
      tags:
      - u9884u52a0u8f7d
      description: u9884u52a0u8f7du5185u5bb9
      operationId: Endpoints_LoadContent
      parameters:
      - name: endpointId
        in: path
        description: u8282u70b9u552fu4e00u6807u8bc6
        required: true
        type: string
      - name: preloadContent
        in: body
        description: u9884u52a0u8f7du5185u5bb9. u8defu5f84u5e94u8be5u4e3au5168u8defu5f84uff0cu6bd4u5982u2018http://example.com/pictires/city.png'u4f1au9884u52a0u8f7du6307u5b9au56feu7247
        required: true
        schema:
          $ref: '#/definitions/PreloadParameters'
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      responses:
        202:
          description: u64cdu4f5cu5df2u63d0u4ea4u7684u901au7528u56deu590duff0cAsyncInfou4e2du7684TrackingIDu4fe1u606fu53efu4ee5u7528u6765u67e5u8be2u9884u52a0u8f7du72b6u6001u3002
          schema:
            $ref: '#/definitions/APIResponse'
        default:
          description: u5305u542bu51fau9519u4fe1u606fu7684u901au7528u56deu590d
          schema:
            $ref: '#/definitions/APIResponse'
  /subscriptions/{subscriptionId}/endpoints/{endpointId}/preloads/{preloadId}:
    get:
      tags:
      - u9884u52a0u8f7d
      description: u83b7u53d6u9884u52a0u8f7du7ed3u679c
      operationId: Endpoints_GetPreloadContent
      parameters:
      - name: endpointId
        in: path
        description: u8282u70b9u552fu4e00u6807u8bc6
        required: true
        type: string
      - name: preloadId
        in: path
        description: u9884u52a0u8f7du64cdu4f5cu552fu4e00u6807u8bc6
        required: true
        type: string
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/requestDateParameter'
      - $ref: '#/parameters/authorizationParameter'
      responses:
        200:
          description: u9884u52a0u8f7du7ed3u679c
          schema:
            $ref: '#/definitions/PreloadResult'
        default:
          description: u5305u542bu51fau9519u4fe1u606fu7684u901au7528u56deu590d
          schema:
            $ref: '#/definitions/APIResponse'
  /subscriptions/{subscriptionId}/endpoints/{endpointId}/operations/{operationId}:
    get:
      tags:
      - u64cdu4f5c
      description: u83b7u53d6u4e00u6b21u64cdu4f5cu4fe1u606f
      operationId: ListOperation
      parameters:
      - $ref: '#/parameters/subscriptionIdParameter'
      - name: endpointId
        in: path
        description: u8282u70b9u552fu4e00u6807u8bc6
        required: true
        type: string
      - name: operationId
        in: path
        description: u64cdu4f5cu552fu4e00u6807u8bc6
        required: true
        type: string
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/requestDateParameter'
      - $ref: '#/parameters/authorizationParameter'
      responses:
        200:
          description: u64cdu4f5cu4fe1u606f
          schema:
            $ref: '#/definitions/Operation'
        default:
          description: u5305u542bu51fau9519u4fe1u606fu7684u901au7528u56deu590d
          schema:
            $ref: '#/definitions/APIResponse'
  /subscriptions/{subscriptionId}/endpoints/{endpointId}/volume:
    get:
      tags:
      - u6d41u91cf
      description: u67e5u8be2u6307u5b9au8282u70b9u7684u6d41u91cfu4fe1u606f
      operationId: ListEndpointVolume
      parameters:
      - $ref: '#/parameters/subscriptionIdParameter'
      - name: endpointId
        in: path
        description: u8282u70b9u552fu4e00u6807u8bc6
        required: true
        type: string
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/granularityParameter'
      - $ref: '#/parameters/startTimeParameter'
      - $ref: '#/parameters/endTimeParameter'
      - $ref: '#/parameters/requestDateParameter'
      - $ref: '#/parameters/authorizationParameter'
      responses:
        200:
          description: u6d41u91cfu4fe1u606f
          schema:
            $ref: '#/definitions/CDNEndpointVolume'
        default:
          description: u5305u542bu51fau9519u4fe1u606fu7684u901au7528u56deu590d
          schema:
            $ref: '#/definitions/APIResponse'
  /subscriptions/{subscriptionId}/volume:
    get:
      tags:
      - u6d41u91cf
      description: u67e5u8be2u6307u5b9au8ba2u9605u4e0bu7684u6d41u91cfu4fe1u606f
      operationId: ListSubscriptionVolume
      parameters:
      - $ref: '#/parameters/subscriptionIdParameter'
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/granularityParameter'
      - $ref: '#/parameters/startTimeParameter'
      - $ref: '#/parameters/endTimeParameter'
      - $ref: '#/parameters/requestDateParameter'
      - $ref: '#/parameters/authorizationParameter'
      responses:
        200:
          description: u6d41u91cfu4fe1u606f
          schema:
            $ref: '#/definitions/CDNSubscriptionVolume'
        default:
          description: u5305u542bu51fau9519u4fe1u606fu7684u901au7528u56deu590d
          schema:
            $ref: '#/definitions/APIResponse'
  /subscriptions/{subscriptionId}/endpoints/{endpointId}/bandwidth:
    get:
      tags:
      - u6d41u91cf
      description: u67e5u8be2u6307u5b9au8282u70b9u5e26u5bbdu4fe1u606f
      operationId: ListEndpointBandwidth
      parameters:
      - $ref: '#/parameters/subscriptionIdParameter'
      - name: endpointId
        in: path
        description: u8282u70b9u552fu4e00u6807u8bc6
        required: true
        type: string
      - $ref: '#/parameters/apiVersionParameter'
      - $ref: '#/parameters/startTimeParameter'
      - $ref: '#/parameters/endTimeParameter'
      - $ref: '#/parameters/requestDateParameter'
      - $ref: '#/parameters/authorizationParameter'
      responses:
        200:
          description: u5e26u5bbdu4fe1u606f
          schema:
            $ref: '#/definitions/CDNEndpointBandwidth'
        default:
          description: u5305u542bu51fau9519u4fe1u606fu7684u901au7528u56deu590d
          schema:
            $ref: '#/definitions/APIResponse'
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":26:{s:15:\"PurgeParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"\u7F13\u5B58\u5237\u65B0\u53C2\u6570\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"Files\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"\u5F85\u5237\u65B0\u6587\u4EF6\u8DEF\u5F84\u96C6\u5408\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"Directories\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"\u5F85\u5237\u65B0\u76EE\u5F55\u8DEF\u5F84\u96C6\u5408\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:17:\"PreloadParameters\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:21:\"\u9884\u52A0\u8F7D\u5185\u5BB9\u53C2\u6570\";s:8:\"required\";a:1:{i:0;s:5:\"Files\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"Files\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"\u9884\u52A0\u8F7D\u8DEF\u5F84\uFF0C\u7EDD\u5BF9\u8DEF\u5F84\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:9:\"Operation\";O:8:\"stdClass\":3:{s:11:\"description\";s:9:\"CDN\u64CD\u4F5C\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:2:\"Id\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"\u64CD\u4F5C\u552F\u4E00\u6807\u8BC6\";s:4:\"type\";s:6:\"string\";}s:4:\"Type\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"\u64CD\u4F5C\u7C7B\u578B\";s:4:\"type\";s:6:\"string\";}s:6:\"Status\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"\u64CD\u4F5C\u72B6\u6001\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:4:{i:0;s:6:\"NotSet\";i:1;s:10:\"Processing\";i:2;s:7:\"Succeed\";i:3;s:6:\"Failed\";}}s:7:\"Message\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"\u64CD\u4F5C\u4FE1\u606F\";s:4:\"type\";s:6:\"string\";}s:5:\"Start\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"\u8D77\u59CB\u65F6\u95F4\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:3:\"End\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"\u7ED3\u675F\u65F6\u95F4\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:10:\"EndpointId\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"\u8282\u70B9\u552F\u4E00\u6807\u8BC6\";s:4:\"type\";s:6:\"string\";}s:14:\"SubscriptionId\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"\u8BA2\u9605\u552F\u4E00\u6807\u8BC6\";s:4:\"type\";s:6:\"string\";}}}s:11:\"PurgeResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"\u7F13\u5B58\u5237\u65B0\u7ED3\u679C\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"Files\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/PurgeItemResult\";}s:11:\"description\";s:18:\"\u6587\u4EF6\u7F13\u5B58\u7ED3\u679C\";}s:11:\"Directories\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/PurgeItemResult\";}s:11:\"description\";s:24:\"\u76EE\u5F55\u7F13\u5B58\u5237\u65B0\u7ED3\u679C\";}}}s:15:\"PurgeItemResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"\u5355\u6761\u7F13\u5B58\u5237\u65B0\u7ED3\u679C\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"Url\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"\u76EE\u6807\u5237\u65B0\u8DEF\u5F84\";s:4:\"type\";s:6:\"string\";}s:6:\"Status\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"\u5237\u65B0\u72B6\u6001\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:7:\"Succeed\";i:1;s:7:\"Running\";i:2;s:6:\"Failed\";}}}}s:13:\"PreloadResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"\u9884\u52A0\u8F7D\u7ED3\u679C\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"Files\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/PreloadItemResult\";}s:11:\"description\";s:21:\"\u9884\u52A0\u8F7D\u7ED3\u679C\u96C6\u5408\";}}}s:17:\"PreloadItemResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"\u5355\u6761\u8DEF\u5F84\u9884\u52A0\u8F7D\u7ED3\u679C\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"Url\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"\u76EE\u6807\u5237\u65B0\u8DEF\u5F84\";s:4:\"type\";s:6:\"string\";}s:6:\"Status\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"\u5237\u65B0\u72B6\u6001\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:4:{i:0;s:7:\"Waiting\";i:1;s:7:\"Running\";i:2;s:7:\"Succeed\";i:3;s:6:\"Failed\";}}}}s:11:\"APIResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"\u901A\u7528\u8FD4\u56DE\u4FE1\u606F\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"Succeeded\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"\u8BF7\u6C42\u5DF2\u88AB\u670D\u52A1\u7AEF\u6210\u529F\u53D7\u7406\";s:4:\"type\";s:7:\"boolean\";}s:9:\"ErrorInfo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/APIErrorResponseInfo\";}s:7:\"IsAsync\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"\u8BF7\u6C42\u5728\u670D\u52A1\u540E\u53F0\u4EE5\u5F02\u6B65\u5F62\u5F0F\u5B8C\u6210\";s:4:\"type\";s:7:\"boolean\";}s:9:\"AsyncInfo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/APIAsyncResponseInfo\";}}}s:20:\"APIErrorResponseInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"\u51FA\u9519\u4FE1\u606F\u63CF\u8FF0\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Type\";O:8:\"stdClass\":3:{s:11:\"description\";s:851:\"'\u9519\u8BEF\u7C7B\u578B\uFF1A\n
  \  CredentialInvalid: \u51ED\u636E\u4E0D\u5408\u6CD5\n   ParameterMissing: \u7F3A\u5C11\u53C2\u6570\n
  \  ParameterInvalid: \u53C2\u6570\u4E0D\u5408\u6CD5\n   MissingAuthorizationHeader:
  \u7F3A\u5C11\u6388\u6743\u5934\n   InvalidRequestDateHeader: \u8BF7\u6C42\u65E5\u671F\u4E0D\u5408\u6CD5\n
  \  MissingRequestDateHeader: \u7F3A\u5C11\u8BF7\u6C42\u65E5\u671F\u5934\n   AuthorizationHeaderExpired:
  \u6388\u6743\u5934\u8FC7\u671F\n   InvalidAuthorizationHeader: \u6388\u6743\u5934\u4E0D\u5408\u6CD5\n
  \  ApiKeyNotFound: \u627E\u4E0D\u5230\u63A5\u53E3\u5BC6\u94A5\n   InvalidApiKey:
  \u63A5\u53E3\u5BC6\u94A5\u4E0D\u5408\u6CD5\n   WrongSignature: \u7B7E\u540D\u4E0D\u5BF9\n
  \  SubscriptionNotFound: \u627E\u4E0D\u5230\u5236\u5B9A\u8BA2\u9605\n   EndpointDoesNotBelongToSubscription:
  \u8282\u70B9\u4E0D\u5C5E\u4E8E\u8BE5\u8BA2\u9605\n   EndpointNotInActiveState: \u8282\u70B9\u4E0D\u5904\u4E8E\u6D3B\u8DC3\u72B6\u6001\n
  \  EndpointNotFound: \u627E\u4E0D\u5230\u76F8\u5173\u8282\u70B9\n   MaliciousItemPathDetected:
  \u68C0\u6D4B\u5230\u6076\u610F\u8DEF\u5F84\n   PermissionDenied: \u6743\u9650\u4E0D\u591F\n
  \  RequestThrottled: \u8BF7\u6C42\u88AB\u8282\u6D41\n   InternalError: \u5185\u90E8\u9519\u8BEF\n\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:18:{i:0;s:17:\"CredentialInvalid\";i:1;s:16:\"ParameterMissing\";i:2;s:16:\"ParameterInvalid\";i:3;s:26:\"MissingAuthorizationHeader\";i:4;s:24:\"InvalidRequestDateHeader\";i:5;s:24:\"MissingRequestDateHeader\";i:6;s:26:\"AuthorizationHeaderExpired\";i:7;s:26:\"InvalidAuthorizationHeader\";i:8;s:14:\"ApiKeyNotFound\";i:9;s:13:\"InvalidApiKey\";i:10;s:14:\"WrongSignature\";i:11;s:35:\"EndpointDoesNotBelongToSubscription\";i:12;s:24:\"EndpointNotInActiveState\";i:13;s:16:\"EndpointNotFound\";i:14;s:25:\"MaliciousItemPathDetected\";i:15;s:16:\"PermissionDenied\";i:16;s:16:\"RequestThrottled\";i:17;s:13:\"InternalError\";}}s:7:\"Message\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"\u9519\u8BEF\u539F\u56E0\";s:4:\"type\";s:6:\"string\";}}}s:20:\"APIAsyncResponseInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"\u5F02\u6B65\u8C03\u7528\u4FE1\u606F\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"TaskTrackId\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"\u4EFB\u52A1\u552F\u4E00\u6807\u8BC6\uFF0C\u53EF\u901A\u8FC7\u64CD\u4F5C\u63A5\u53E3\u67E5\u8BE2\u72B6\u6001\";s:4:\"type\";s:6:\"string\";}s:10:\"TaskStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:100:\"\u4EFB\u52A1\u72B6\u6001\uFF0C
  NotSet: \u72B6\u6001\u672A\u77E5\uFF1BProcessing: \u6B63\u5728\u5904\u7406\uFF1BSucceeded:
  \u6210\u529F\uFF1BFailed: \u5931\u8D25\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:4:{i:0;s:6:\"NotSet\";i:1;s:10:\"Processing\";i:2;s:9:\"Succeeded\";i:3;s:6:\"Failed\";}}}}s:17:\"CDNEndpointVolume\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"\u6307\u5B9A\u8282\u70B9\u6D41\u91CF\u4FE1\u606F\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"DomainName\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"\u52A0\u901F\u57DF\u540D\";s:4:\"type\";s:6:\"string\";}s:5:\"Items\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/CDNVolumeItem\";}s:11:\"description\";s:18:\"\u8BE6\u7EC6\u6D41\u91CF\u4FE1\u606F\";}s:18:\"TotalCdnVolumeInMB\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"\u603BCDN\u6D41\u91CF\u503C\uFF0C\u4EE5MB\u4E3A\u5355\u4F4D\";s:4:\"type\";s:6:\"string\";}s:21:\"TotalOriginVolumeInMB\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"\u603B\u56DE\u6E90\u6D41\u91CF\u503C\uFF0C\u4EE5MB\u4E3A\u5355\u4F4D\";s:4:\"type\";s:6:\"string\";}}}s:13:\"CDNVolumeItem\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"\u5355\u4E2A\u65F6\u95F4\u6233\u6D41\u91CF\u4FE1\u606F\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"Timestamp\";O:8:\"stdClass\":3:{s:11:\"description\";s:9:\"\u65F6\u95F4\u6233\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:10:\"VolumeInMB\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"CDN\u6D41\u91CF\u503C\uFF0C\u4EE5MB\u4E3A\u5355\u4F4D\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:16:\"OriginVolumeInMB\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"\u56DE\u6E90\u6D41\u91CF\u503C\uFF0C\u4EE5MB\u4E3A\u5355\u4F4D\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}}}s:21:\"CDNSubscriptionVolume\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"\u8BA2\u9605\u6D41\u91CF\u4FE1\u606F\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"Details\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/CDNEndpointVolume\";}s:11:\"description\";s:69:\"\u8BE6\u7EC6\u6D41\u91CF\u4FE1\u606F\u5B57\u5178\uFF0C\u57DF\u540D\u4F5C\u4E3A\u952E\uFF0C\u57DF\u540D\u6D41\u91CF\u4FE1\u606F\u4E3A\u503C\";}s:18:\"TotalCdnVolumeInMB\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"\u603BCDN\u6D41\u91CF\u503C\uFF0C\u4EE5MB\u4E3A\u5355\u4F4D\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:21:\"TotalOriginVolumeInMB\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"\u603B\u56DE\u6E90\u6D41\u91CF\u503C\uFF0C\u4EE5MB\u4E3A\u5355\u4F4D\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}}}s:20:\"CDNEndpointBandwidth\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"\u8282\u70B9\u5E26\u5BBD\u4FE1\u606F\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:10:\"DomainName\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"\u52A0\u901F\u57DF\u540D\";s:4:\"type\";s:6:\"string\";}s:5:\"Items\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/CDNBandwidthItem\";}s:11:\"description\";s:19:\"\u5E26\u5BBD\u4FE1\u606F\u96C6\u5408.\";}s:19:\"PeakBandwidthInMbps\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"CDN\u5CF0\u503C\u5E26\u5BBD\uFF0C\u5355\u4F4DMbps\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:21:\"ValleyBandwidthInMbps\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"CDN\u8C37\u5E95\u5E26\u5BBD\uFF0C\u5355\u4F4DMbps\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:25:\"PeakOriginBandwidthInMbps\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"\u56DE\u6E90\u5CF0\u503C\u5E26\u5BBD\uFF0C\u5355\u4F4DMbps\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:27:\"ValleyOriginBandwidthInMbps\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"\u56DE\u6E90\u8C37\u5E95\u5E26\u5BBD\uFF0C\u5355\u4F4DMbps\";s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}}}s:16:\"CDNBandwidthItem\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"\u5355\u6761\u5E26\u5BBD\u4FE1\u606F\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"Timestamp\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"\u6D41\u91CF\u53D6\u91CF\u65F6\u95F4\u6233\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:15:\"BandwidthInMbps\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"CDN\u5E26\u5BBD\u4FE1\u606F\u4EE5Mbps\u4E3A\u5355\u4F4D.\";s:4:\"type\";s:6:\"string\";}s:21:\"OriginBandwidthInMbps\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"\u56DE\u6E90\u5E26\u5BBD\u4FE1\u606F\u4EE5Mbps\u4E3A\u5355\u4F4D\";s:4:\"type\";s:6:\"string\";}}}s:15:\"EndpointSetting\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"\u8282\u70B9\u4FE1\u606F\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"CustomDomain\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"\u52A0\u901F\u57DF\u540D\";s:4:\"type\";s:6:\"string\";}s:4:\"Host\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"\u56DE\u6E90\u4E3B\u673A\u6807\u5934\";s:4:\"type\";s:6:\"string\";}s:3:\"ICP\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"ICP\u5907\u6848\u53F7\";s:4:\"type\";s:6:\"string\";}s:6:\"Origin\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/CDNOrigin\";}s:11:\"ServiceType\";O:8:\"stdClass\":3:{s:11:\"description\";s:148:\"\u52A0\u901F\u7C7B\u578B\u3002Web:
  \u7F51\u9875\u52A0\u901F\uFF0CDownload\uFF1A\u4E0B\u8F7D\u52A0\u901F\uFF0CVOD\uFF1A\u70B9\u64AD\u52A0\u901F\uFF0CLieStreaming\uFF1A\u76F4\u64AD\u52A0\u901F\uFF0CImageProcessing\uFF1A\u56FE\u7247\u5904\u7406\u52A0\u901F\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:5:{i:0;s:3:\"Web\";i:1;s:8:\"Download\";i:2;s:3:\"VOD\";i:3;s:13:\"LiveStreaming\";i:4;s:15:\"ImageProcessing\";}}}}s:24:\"EndpointSettingForUpdate\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"\u57DF\u540D\u66F4\u65B0\u8BBE\u5B9A\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Host\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"\u56DE\u6E90\u4E3B\u673A\u6807\u5934\";s:4:\"type\";s:6:\"string\";}s:6:\"Origin\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/CDNOrigin\";}}}s:14:\"EndpointStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"\u57DF\u540D\u72B6\u6001\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"Enabled\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"\u57DF\u540D\u662F\u5426\u5DF2\u542F\u7528\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:7:\"boolean\";}s:15:\"IcpVerifyStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:113:\"ICP\u5907\u6848\u9A8C\u8BC1\u4FE1\u606F\u3002IcpVerifying\uFF1A\u6B63\u5728\u9A8C\u8BC1\uFF0CIcpVerifyFailed\uFF1A\u9A8C\u8BC1\u5931\u8D25\uFF0CIcpVerified\uFF1A\u9A8C\u8BC1\u6210\u529F\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:12:\"IcpVerifying\";i:1;s:15:\"IcpVerifyFailed\";i:2;s:11:\"IcpVerified\";}}s:14:\"LifetimeStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:215:\"\u8282\u70B9\u72B6\u51B5\u3002Normal\uFF1A\u6B63\u5E38\uFF0CCreating\uFF1A\u6B63\u5728\u521B\u5EFA\uFF0CCreationFailed\uFF1A\u521B\u5EFA\u5931\u8D25\uFF0CDeleting\uFF1A\u6B63\u5728\u5220\u9664\uFF0CDeleted\uFF1A\u5DF2\u5220\u9664\uFF0CUpdating\uFF1A\u6B63\u5728\u66F4\u65B0\uFF0CEnabling\uFF1A\u6B63\u5728\u6FC0\u6D3B\uFF0CDisabling\uFF1A\u6B63\u5728\u7981\u7528\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:8:{i:0;s:6:\"Normal\";i:1;s:8:\"Creating\";i:2;s:14:\"CreationFailed\";i:3;s:8:\"Deleting\";i:4;s:7:\"Deleted\";i:5;s:8:\"Updating\";i:6;s:8:\"Enabling\";i:7;s:9:\"Disabling\";}}s:15:\"CNameConfigured\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"\u52A0\u901F\u57DF\u540DCNAME\u8BB0\u5F55\u662F\u5426\u5DF2\u914D\u7F6E\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:7:\"boolean\";}s:16:\"FreeTrialExpired\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"\u662F\u5426\u5DF2\u8FC7\u8BD5\u7528\u671F\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:7:\"boolean\";}s:15:\"TimeLastUpdated\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"\u6700\u8FD1\u66F4\u65B0\u65F6\u95F4\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}}}s:8:\"Endpoint\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"\u8282\u70B9\u4FE1\u606F.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"EndpointID\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"\u8282\u70B9\u552F\u4E00\u6807\u8BC6\";s:4:\"type\";s:6:\"string\";}s:7:\"Setting\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/EndpointSetting\";}s:6:\"Status\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/EndpointStatus\";}}}s:12:\"EndpointList\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"\u8282\u70B9\u96C6\u5408\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Endpoint\";}}s:9:\"CDNOrigin\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"\u56DE\u6E90\u4FE1\u606F\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"Addresses\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"\u56DE\u6E90\u5730\u5740\u96C6\u5408.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:29:\"EndpointSettingUpdateProperty\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Endpoint
  setting update property.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"EndpointSettings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/EndpointSettingForUpdate\";}s:10:\"UpdateFlag\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"\u57DF\u540D\u8BBE\u5B9A\u66F4\u65B0\u6807\u5FD7\u4F4D.\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:6:\"Origin\";i:1;s:10:\"HostHeader\";}}}}s:13:\"AccessControl\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"\u8BBF\u95EE\u63A7\u5236\u89C4\u5219\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"ForbiddenIps\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:20:\"\u7981\u6B62\u8BBF\u95EEIP\u5217\u8868\";}s:14:\"RefererControl\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/RefererControl\";}}}s:14:\"RefererControl\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"\u9632\u76D7\u94FE\u8BBE\u5B9A\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"Enabled\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"\u662F\u5426\u542F\u7528\u9632\u76D7\u94FE\u8BBE\u5B9A\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:7:\"boolean\";}s:12:\"PathPatterns\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:24:\"\u76D7\u94FE\u6587\u4EF6\u8DEF\u5F84\u96C6\u5408\";}s:8:\"Referers\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:12:\"\u76D7\u94FE\u96C6\u5408\";}s:18:\"RefererControlType\";O:8:\"stdClass\":3:{s:11:\"description\";s:212:\"\u76D7\u94FE\u7C7B\u578B\u3002BlockList:
  \u9ED1\u540D\u5355\uFF0C\u5339\u914DReferers\u7684\u94FE\u63A5\u8BBF\u95EE\u5339\u914DPathPatterns\u7684\u8DEF\u5F84\u65F6\u4F1A\u88AB\u7981\u6B62\u8BBF\u95EE\u3002AllowedList:
  \u767D\u540D\u5355 \uFF0C\u53EA\u5141\u8BB8\u5339\u914DReferers\u7684\u94FE\u63A5\u8BBF\u95EE\u5339\u914DPathPatterns\u7684\u8DEF\u5F84\u3002\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:9:\"BlockList\";i:1;s:11:\"AllowedList\";}}}}s:11:\"CachePolicy\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"\u7F13\u5B58\u7B56\u7565\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"Rules\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/CacheRule\";}s:11:\"description\";s:19:\"\u7F13\u5B58\u89C4\u5219\u96C6\u5408.\";}s:18:\"IgnoreCacheControl\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"\u662F\u5426\u5FFD\u7565\u8FD4\u56DE\u5934\u4E2D\u7684cache-control\u5934\u90E8\u5BF9\u8BF7\u6C42\u5185\u5BB9\u8FDB\u884C\u7F13\u5B58\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:7:\"boolean\";}s:17:\"IgnoreQueryString\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"\u662F\u5426\u5FFD\u7565\u67E5\u8BE2\u53C2\u6570\u5BF9\u8BF7\u6C42\u5185\u5BB9\u8FDB\u884C\u7F13\u5B58\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:7:\"boolean\";}s:12:\"IgnoreCookie\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"\u662F\u5426\u5FFD\u7565\u8FD4\u56DE\u5934\u4E2D\u7684set-cookie\u5934\u90E8\u5BF9\u8BF7\u6C42\u5185\u5BB9\u8FDB\u884C\u7F13\u5B58\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:7:\"boolean\";}}}s:9:\"CacheRule\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"\u5355\u6761\u7F13\u5B58\u89C4\u5219\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"Items\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:25:\"\u7F13\u5B58\u89C4\u5219\u8DEF\u5F84\u96C6\u5408.\";}s:3:\"TTL\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"\u7F13\u5B58\u5931\u6548\u65F6\u95F4\uFF0C\u5355\u4F4D\u4E3A\u79D2\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:6:\"number\";}s:4:\"Type\";O:8:\"stdClass\":3:{s:11:\"description\";s:166:\"\u7F13\u5B58\u89C4\u5219\u7C7B\u578B\u3002Suffix:
  \u57FA\u4E8E\u6587\u4EF6\u62D3\u5C55\u540D\u8FDB\u884C\u7F13\u5B58\uFF0CDir: \u5BF9\u6307\u5B9A\u76EE\u5F55\u4E0B\u7684\u6240\u6709\u6587\u4EF6\u8FDB\u884C\u7F13\u5B58\uFF0CFullUri:
  \u5BF9\u6307\u5B9A\u8DEF\u5F84\u7684\u6587\u4EF6\u8FDB\u884C\u7F13\u5B58\u3002\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:6:\"Suffix\";i:1;s:3:\"Dir\";i:2;s:7:\"FullUri\";}}}}}"
...
