---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":14:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:9:\"x-twitter\";s:12:\"PermittedSoc\";}s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache
  2.0 License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:29:\"Amazon
  Simple Storage Service\";s:7:\"version\";s:10:\"2006-03-01\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:86:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/s3-2006-03-01.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"s3\";s:13:\"x-serviceName\";s:2:\"s3\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:12:\"amazonaws_s3\";s:4:\"type\";s:7:\"openapi\";}}"
host: s3.amazonaws.com
basePath: /
paths:
  /#ListBuckets:
    get:
      description: Returns a list of all buckets owned by the authenticated sender
        of the request.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTServiceGET.html</p>
      operationId: ListBuckets
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ListBucketsOutput'
    parameters:
    - $ref: '#/parameters/x-amz-security-token'
  /{Bucket}:
    delete:
      description: Deletes the bucket. All objects (including all object versions
        and Delete Markers) in the bucket must be deleted before the bucket itself
        can be deleted.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketDELETE.html</p>
      operationId: DeleteBucket
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DeleteBucketRequest'
      - in: path
        name: Bucket
        required: true
        type: string
      responses:
        200:
          description: Success
    parameters:
    - $ref: '#/parameters/x-amz-security-token'
    put:
      description: Creates a new bucket.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketPUT.html</p>
      operationId: CreateBucket
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/CreateBucketRequest'
      - in: path
        name: Bucket
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/CreateBucketOutput'
        480:
          description: BucketAlreadyExists
          schema:
            $ref: '#/definitions/BucketAlreadyExists'
        481:
          description: BucketAlreadyOwnedByYou
          schema:
            $ref: '#/definitions/BucketAlreadyOwnedByYou'
  /{Bucket}#HeadBucket:
    head:
      description: This operation is useful to determine if a bucket exists and you
        have permission to access it.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketHEAD.html</p>
      operationId: HeadBucket
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/HeadBucketRequest'
      - in: path
        name: Bucket
        required: true
        type: string
      responses:
        200:
          description: Success
        480:
          description: NoSuchBucket
          schema:
            $ref: '#/definitions/NoSuchBucket'
      x-waiters:
      - acceptors:
        - expected: 200
          matcher: status
          state: success
        - expected: 301
          matcher: status
          state: success
        - expected: 403
          matcher: status
          state: success
        - expected: 404
          matcher: status
          state: retry
        delay: 5
        maxAttempts: 20
        operation: HeadBucket
      - acceptors:
        - expected: 404
          matcher: status
          state: success
        delay: 5
        maxAttempts: 20
        operation: HeadBucket
    parameters:
    - $ref: '#/parameters/x-amz-security-token'
  /{Bucket}#ListObjects:
    get:
      description: Returns some or all (up to 1000) of the objects in a bucket. You
        can use the request parameters as selection criteria to return a subset of
        the objects in a bucket.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGET.html</p>
      operationId: ListObjects
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ListObjectsRequest'
      - description: Pagination limit
        in: query
        name: MaxKeys
        required: false
        type: string
      - description: Pagination token
        in: query
        name: Marker
        required: false
        type: string
      - in: path
        name: Bucket
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ListObjectsOutput'
        480:
          description: NoSuchBucket
          schema:
            $ref: '#/definitions/NoSuchBucket'
    parameters:
    - $ref: '#/parameters/x-amz-security-token'
  /{Bucket}/{Key}:
    delete:
      description: <p>Aborts a multipart upload.</p><p>To verify that all parts have
        been removed, so you don't get charged for the part storage, you should call
        the List Parts operation and ensure the parts list is empty.</p><p>http://docs.amazonwebservices.com/AmazonS3/latest/API/mpUploadAbort.html</p>
      operationId: AbortMultipartUpload
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/AbortMultipartUploadRequest'
      - in: path
        name: Bucket
        required: true
        type: string
      - collectionFormat: csv
        in: path
        items:
          type: string
        name: Key
        required: true
        type: array
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/AbortMultipartUploadOutput'
        480:
          description: NoSuchUpload
          schema:
            $ref: '#/definitions/NoSuchUpload'
    parameters:
    - $ref: '#/parameters/x-amz-security-token'
    post:
      description: Completes a multipart upload by assembling previously uploaded
        parts.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/mpUploadComplete.html</p>
      operationId: CompleteMultipartUpload
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/CompleteMultipartUploadRequest'
      - in: path
        name: Bucket
        required: true
        type: string
      - collectionFormat: csv
        in: path
        items:
          type: string
        name: Key
        required: true
        type: array
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/CompleteMultipartUploadOutput'
    put:
      description: Creates a copy of an object that is already stored in Amazon S3.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTObjectCOPY.html</p>
      operationId: CopyObject
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/CopyObjectRequest'
      - in: path
        name: Bucket
        required: true
        type: string
      - collectionFormat: csv
        in: path
        items:
          type: string
        name: Key
        required: true
        type: array
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/CopyObjectOutput'
        480:
          description: ObjectNotInActiveTierError
          schema:
            $ref: '#/definitions/ObjectNotInActiveTierError'
  /{Bucket}/{Key}#DeleteObject:
    delete:
      description: Removes the null version (if there is one) of an object and inserts
        a delete marker, which becomes the latest version of the object. If there
        isn't a null version, Amazon S3 does not remove any objects.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTObjectDELETE.html</p>
      operationId: DeleteObject
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DeleteObjectRequest'
      - in: path
        name: Bucket
        required: true
        type: string
      - in: path
        name: Key
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DeleteObjectOutput'
    parameters:
    - $ref: '#/parameters/x-amz-security-token'
  /{Bucket}/{Key}#GetObject:
    get:
      description: Retrieves objects from Amazon S3.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTObjectGET.html</p>
      operationId: GetObject
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/GetObjectRequest'
      - in: path
        name: Bucket
        required: true
        type: string
      - in: path
        name: Key
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetObjectOutput'
        480:
          description: NoSuchKey
          schema:
            $ref: '#/definitions/NoSuchKey'
    parameters:
    - $ref: '#/parameters/x-amz-security-token'
  /{Bucket}/{Key}#HeadObject:
    head:
      description: The HEAD operation retrieves metadata from an object without returning
        the object itself. This operation is useful if you're only interested in an
        object's metadata. To use HEAD, you must have READ access to the object.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTObjectHEAD.html</p>
      operationId: HeadObject
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/HeadObjectRequest'
      - in: path
        name: Bucket
        required: true
        type: string
      - in: path
        name: Key
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/HeadObjectOutput'
        480:
          description: NoSuchKey
          schema:
            $ref: '#/definitions/NoSuchKey'
      x-waiters:
      - acceptors:
        - expected: 200
          matcher: status
          state: success
        - expected: 404
          matcher: status
          state: retry
        delay: 5
        maxAttempts: 20
        operation: HeadObject
      - acceptors:
        - expected: 404
          matcher: status
          state: success
        delay: 5
        maxAttempts: 20
        operation: HeadObject
    parameters:
    - $ref: '#/parameters/x-amz-security-token'
  /{Bucket}/{Key}#ListParts:
    get:
      description: Lists the parts that have been uploaded for a specific multipart
        upload.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/mpUploadListParts.html</p>
      operationId: ListParts
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ListPartsRequest'
      - description: Pagination limit
        in: query
        name: MaxParts
        required: false
        type: string
      - description: Pagination token
        in: query
        name: PartNumberMarker
        required: false
        type: string
      - in: path
        name: Bucket
        required: true
        type: string
      - in: path
        name: Key
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ListPartsOutput'
    parameters:
    - $ref: '#/parameters/x-amz-security-token'
  /{Bucket}/{Key}#PutObject:
    parameters:
    - $ref: '#/parameters/x-amz-security-token'
    put:
      description: Adds an object to a bucket.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTObjectPUT.html</p>
      operationId: PutObject
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/PutObjectRequest'
      - in: path
        name: Bucket
        required: true
        type: string
      - in: path
        name: Key
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/PutObjectOutput'
  /{Bucket}/{Key}#UploadPart:
    parameters:
    - $ref: '#/parameters/x-amz-security-token'
    put:
      description: <p>Uploads a part in a multipart upload.</p><p><b>Note:</b> After
        you initiate multipart upload and upload one or more parts, you must either
        complete or abort multipart upload in order to stop getting charged for storage
        of the uploaded parts. Only after you either complete or abort multipart upload,
        Amazon S3 frees up the parts storage and stops charging you for the parts
        storage.</p><p>http://docs.amazonwebservices.com/AmazonS3/latest/API/mpUploadUploadPart.html</p>
      operationId: UploadPart
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/UploadPartRequest'
      - in: path
        name: Bucket
        required: true
        type: string
      - in: path
        name: Key
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/UploadPartOutput'
  /{Bucket}/{Key}#UploadPartCopy:
    parameters:
    - $ref: '#/parameters/x-amz-security-token'
    put:
      description: Uploads a part by copying data from an existing object as data
        source.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/mpUploadUploadPartCopy.html</p>
      operationId: UploadPartCopy
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/UploadPartCopyRequest'
      - in: path
        name: Bucket
        required: true
        type: string
      - in: path
        name: Key
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/UploadPartCopyOutput'
  /{Bucket}/{Key}?acl#GetObjectAcl:
    get:
      description: Returns the access control list (ACL) of an object.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTObjectGETacl.html</p>
      operationId: GetObjectAcl
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/GetObjectAclRequest'
      - in: path
        name: Bucket
        required: true
        type: string
      - in: path
        name: Key
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetObjectAclOutput'
        480:
          description: NoSuchKey
          schema:
            $ref: '#/definitions/NoSuchKey'
    parameters:
    - $ref: '#/parameters/x-amz-security-token'
  /{Bucket}/{Key}?acl#PutObjectAcl:
    parameters:
    - $ref: '#/parameters/x-amz-security-token'
    put:
      description: uses the acl subresource to set the access control list (ACL) permissions
        for an object that already exists in a bucket<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTObjectPUTacl.html</p>
      operationId: PutObjectAcl
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/PutObjectAclRequest'
      - in: path
        name: Bucket
        required: true
        type: string
      - in: path
        name: Key
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/PutObjectAclOutput'
        480:
          description: NoSuchKey
          schema:
            $ref: '#/definitions/NoSuchKey'
  /{Bucket}/{Key}?restore#RestoreObject:
    parameters:
    - $ref: '#/parameters/x-amz-security-token'
    post:
      description: Restores an archived copy of an object back into Amazon S3<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTObjectRestore.html</p>
      operationId: RestoreObject
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/RestoreObjectRequest'
      - in: path
        name: Bucket
        required: true
        type: string
      - in: path
        name: Key
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/RestoreObjectOutput'
        480:
          description: ObjectAlreadyInActiveTierError
          schema:
            $ref: '#/definitions/ObjectAlreadyInActiveTierError'
  /{Bucket}/{Key}?select&select-type=2#SelectObjectContent:
    parameters:
    - $ref: '#/parameters/x-amz-security-token'
    post:
      description: This operation filters the contents of an Amazon S3 object based
        on a simple Structured Query Language (SQL) statement. In the request, along
        with the SQL expression, you must also specify a data serialization format
        (JSON or CSV) of the object. Amazon S3 uses this to parse object data into
        records, and returns only records that match the specified SQL expression.
        You must also specify the data serialization format for the response.
      operationId: SelectObjectContent
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/SelectObjectContentRequest'
      - in: path
        name: Bucket
        required: true
        type: string
      - in: path
        name: Key
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/SelectObjectContentOutput'
  /{Bucket}/{Key}?tagging#DeleteObjectTagging:
    delete:
      description: Removes the tag-set from an existing object.
      operationId: DeleteObjectTagging
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DeleteObjectTaggingRequest'
      - in: path
        name: Bucket
        required: true
        type: string
      - in: path
        name: Key
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DeleteObjectTaggingOutput'
    parameters:
    - $ref: '#/parameters/x-amz-security-token'
  /{Bucket}/{Key}?tagging#GetObjectTagging:
    get:
      description: Returns the tag-set of an object.
      operationId: GetObjectTagging
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/GetObjectTaggingRequest'
      - in: path
        name: Bucket
        required: true
        type: string
      - in: path
        name: Key
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetObjectTaggingOutput'
    parameters:
    - $ref: '#/parameters/x-amz-security-token'
  /{Bucket}/{Key}?tagging#PutObjectTagging:
    parameters:
    - $ref: '#/parameters/x-amz-security-token'
    put:
      description: Sets the supplied tag-set to an object that already exists in a
        bucket
      operationId: PutObjectTagging
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/PutObjectTaggingRequest'
      - in: path
        name: Bucket
        required: true
        type: string
      - in: path
        name: Key
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/PutObjectTaggingOutput'
  /{Bucket}/{Key}?torrent#GetObjectTorrent:
    get:
      description: Return torrent files from a bucket.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTObjectGETtorrent.html</p>
      operationId: GetObjectTorrent
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/GetObjectTorrentRequest'
      - in: path
        name: Bucket
        required: true
        type: string
      - in: path
        name: Key
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetObjectTorrentOutput'
    parameters:
    - $ref: '#/parameters/x-amz-security-token'
  /{Bucket}/{Key}?uploads:
    parameters:
    - $ref: '#/parameters/x-amz-security-token'
    post:
      description: <p>Initiates a multipart upload and returns an upload ID.</p><p><b>Note:</b>
        After you initiate multipart upload and upload one or more parts, you must
        either complete or abort multipart upload in order to stop getting charged
        for storage of the uploaded parts. Only after you either complete or abort
        multipart upload, Amazon S3 frees up the parts storage and stops charging
        you for the parts storage.</p><p>http://docs.amazonwebservices.com/AmazonS3/latest/API/mpUploadInitiate.html</p>
      operationId: CreateMultipartUpload
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/CreateMultipartUploadRequest'
      - in: path
        name: Bucket
        required: true
        type: string
      - collectionFormat: csv
        in: path
        items:
          type: string
        name: Key
        required: true
        type: array
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/CreateMultipartUploadOutput'
  /{Bucket}?accelerate#GetBucketAccelerateConfiguration:
    get:
      description: Returns the accelerate configuration of a bucket.
      operationId: GetBucketAccelerateConfiguration
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/GetBucketAccelerateConfigurationRequest'
      - in: path
        name: Bucket
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetBucketAccelerateConfigurationOutput'
    parameters:
    - $ref: '#/parameters/x-amz-security-token'
  /{Bucket}?accelerate#PutBucketAccelerateConfiguration:
    parameters:
    - $ref: '#/parameters/x-amz-security-token'
    put:
      description: Sets the accelerate configuration of an existing bucket.
      operationId: PutBucketAccelerateConfiguration
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/PutBucketAccelerateConfigurationRequest'
      - in: path
        name: Bucket
        required: true
        type: string
      responses:
        200:
          description: Success
  /{Bucket}?acl#GetBucketAcl:
    get:
      description: Gets the access control policy for the bucket.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETacl.html</p>
      operationId: GetBucketAcl
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/GetBucketAclRequest'
      - in: path
        name: Bucket
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetBucketAclOutput'
    parameters:
    - $ref: '#/parameters/x-amz-security-token'
  /{Bucket}?acl#PutBucketAcl:
    parameters:
    - $ref: '#/parameters/x-amz-security-token'
    put:
      description: Sets the permissions on a bucket using access control lists (ACL).<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketPUTacl.html</p>
      operationId: PutBucketAcl
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/PutBucketAclRequest'
      - in: path
        name: Bucket
        required: true
        type: string
      responses:
        200:
          description: Success
  /{Bucket}?analytics:
    delete:
      description: Deletes an analytics configuration for the bucket (specified by
        the analytics configuration ID).
      operationId: DeleteBucketAnalyticsConfiguration
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DeleteBucketAnalyticsConfigurationRequest'
      - in: path
        name: Bucket
        required: true
        type: string
      responses:
        200:
          description: Success
    parameters:
    - $ref: '#/parameters/x-amz-security-token'
  /{Bucket}?analytics#GetBucketAnalyticsConfiguration:
    get:
      description: Gets an analytics configuration for the bucket (specified by the
        analytics configuration ID).
      operationId: GetBucketAnalyticsConfiguration
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/GetBucketAnalyticsConfigurationRequest'
      - in: path
        name: Bucket
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetBucketAnalyticsConfigurationOutput'
    parameters:
    - $ref: '#/parameters/x-amz-security-token'
  /{Bucket}?analytics#ListBucketAnalyticsConfigurations:
    get:
      description: Lists the analytics configurations for the bucket.
      operationId: ListBucketAnalyticsConfigurations
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ListBucketAnalyticsConfigurationsRequest'
      - in: path
        name: Bucket
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ListBucketAnalyticsConfigurationsOutput'
    parameters:
    - $ref: '#/parameters/x-amz-security-token'
  /{Bucket}?analytics#PutBucketAnalyticsConfiguration:
    parameters:
    - $ref: '#/parameters/x-amz-security-token'
    put:
      description: Sets an analytics configuration for the bucket (specified by the
        analytics configuration ID).
      operationId: PutBucketAnalyticsConfiguration
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/PutBucketAnalyticsConfigurationRequest'
      - in: path
        name: Bucket
        required: true
        type: string
      responses:
        200:
          description: Success
  /{Bucket}?cors:
    delete:
      description: Deletes the cors configuration information set for the bucket.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketDELETEcors.html</p>
      operationId: DeleteBucketCors
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DeleteBucketCorsRequest'
      - in: path
        name: Bucket
        required: true
        type: string
      responses:
        200:
          description: Success
    parameters:
    - $ref: '#/parameters/x-amz-security-token'
  /{Bucket}?cors#GetBucketCors:
    get:
      description: Returns the cors configuration for the bucket.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETcors.html</p>
      operationId: GetBucketCors
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/GetBucketCorsRequest'
      - in: path
        name: Bucket
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetBucketCorsOutput'
    parameters:
    - $ref: '#/parameters/x-amz-security-token'
  /{Bucket}?cors#PutBucketCors:
    parameters:
    - $ref: '#/parameters/x-amz-security-token'
    put:
      description: Sets the cors configuration for a bucket.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketPUTcors.html</p>
      operationId: PutBucketCors
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/PutBucketCorsRequest'
      - in: path
        name: Bucket
        required: true
        type: string
      responses:
        200:
          description: Success
  /{Bucket}?delete#DeleteObjects:
    parameters:
    - $ref: '#/parameters/x-amz-security-token'
    post:
      description: This operation enables you to delete multiple objects from a bucket
        using a single HTTP request. You may specify up to 1000 keys.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/multiobjectdeleteapi.html</p>
      operationId: DeleteObjects
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DeleteObjectsRequest'
      - in: path
        name: Bucket
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DeleteObjectsOutput'
  /{Bucket}?encryption:
    delete:
      description: Deletes the server-side encryption configuration from the bucket.
      operationId: DeleteBucketEncryption
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DeleteBucketEncryptionRequest'
      - in: path
        name: Bucket
        required: true
        type: string
      responses:
        200:
          description: Success
    parameters:
    - $ref: '#/parameters/x-amz-security-token'
  /{Bucket}?encryption#GetBucketEncryption:
    get:
      description: Returns the server-side encryption configuration of a bucket.
      operationId: GetBucketEncryption
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/GetBucketEncryptionRequest'
      - in: path
        name: Bucket
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetBucketEncryptionOutput'
    parameters:
    - $ref: '#/parameters/x-amz-security-token'
  /{Bucket}?encryption#PutBucketEncryption:
    parameters:
    - $ref: '#/parameters/x-amz-security-token'
    put:
      description: Creates a new server-side encryption configuration (or replaces
        an existing one, if present).
      operationId: PutBucketEncryption
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/PutBucketEncryptionRequest'
      - in: path
        name: Bucket
        required: true
        type: string
      responses:
        200:
          description: Success
  /{Bucket}?inventory:
    delete:
      description: Deletes an inventory configuration (identified by the inventory
        ID) from the bucket.
      operationId: DeleteBucketInventoryConfiguration
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DeleteBucketInventoryConfigurationRequest'
      - in: path
        name: Bucket
        required: true
        type: string
      responses:
        200:
          description: Success
    parameters:
    - $ref: '#/parameters/x-amz-security-token'
  /{Bucket}?inventory#GetBucketInventoryConfiguration:
    get:
      description: Returns an inventory configuration (identified by the inventory
        ID) from the bucket.
      operationId: GetBucketInventoryConfiguration
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/GetBucketInventoryConfigurationRequest'
      - in: path
        name: Bucket
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetBucketInventoryConfigurationOutput'
    parameters:
    - $ref: '#/parameters/x-amz-security-token'
  /{Bucket}?inventory#ListBucketInventoryConfigurations:
    get:
      description: Returns a list of inventory configurations for the bucket.
      operationId: ListBucketInventoryConfigurations
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ListBucketInventoryConfigurationsRequest'
      - in: path
        name: Bucket
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ListBucketInventoryConfigurationsOutput'
    parameters:
    - $ref: '#/parameters/x-amz-security-token'
  /{Bucket}?inventory#PutBucketInventoryConfiguration:
    parameters:
    - $ref: '#/parameters/x-amz-security-token'
    put:
      description: Adds an inventory configuration (identified by the inventory ID)
        from the bucket.
      operationId: PutBucketInventoryConfiguration
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/PutBucketInventoryConfigurationRequest'
      - in: path
        name: Bucket
        required: true
        type: string
      responses:
        200:
          description: Success
  /{Bucket}?lifecycle:
    delete:
      description: Deletes the lifecycle configuration from the bucket.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketDELETElifecycle.html</p>
      operationId: DeleteBucketLifecycle
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DeleteBucketLifecycleRequest'
      - in: path
        name: Bucket
        required: true
        type: string
      responses:
        200:
          description: Success
    parameters:
    - $ref: '#/parameters/x-amz-security-token'
  /{Bucket}?lifecycle#GetBucketLifecycle:
    get:
      description: Deprecated, see the GetBucketLifecycleConfiguration operation.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETlifecycle.html</p>
      operationId: GetBucketLifecycle
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/GetBucketLifecycleRequest'
      - in: path
        name: Bucket
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetBucketLifecycleOutput'
    parameters:
    - $ref: '#/parameters/x-amz-security-token'
  /{Bucket}?lifecycle#GetBucketLifecycleConfiguration:
    get:
      description: Returns the lifecycle configuration information set on the bucket.
      operationId: GetBucketLifecycleConfiguration
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/GetBucketLifecycleConfigurationRequest'
      - in: path
        name: Bucket
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetBucketLifecycleConfigurationOutput'
    parameters:
    - $ref: '#/parameters/x-amz-security-token'
  /{Bucket}?lifecycle#PutBucketLifecycle:
    parameters:
    - $ref: '#/parameters/x-amz-security-token'
    put:
      description: Deprecated, see the PutBucketLifecycleConfiguration operation.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketPUTlifecycle.html</p>
      operationId: PutBucketLifecycle
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/PutBucketLifecycleRequest'
      - in: path
        name: Bucket
        required: true
        type: string
      responses:
        200:
          description: Success
  /{Bucket}?lifecycle#PutBucketLifecycleConfiguration:
    parameters:
    - $ref: '#/parameters/x-amz-security-token'
    put:
      description: Sets lifecycle configuration for your bucket. If a lifecycle configuration
        exists, it replaces it.
      operationId: PutBucketLifecycleConfiguration
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/PutBucketLifecycleConfigurationRequest'
      - in: path
        name: Bucket
        required: true
        type: string
      responses:
        200:
          description: Success
  /{Bucket}?list-type=2#ListObjectsV2:
    get:
      description: 'Returns some or all (up to 1000) of the objects in a bucket. You
        can use the request parameters as selection criteria to return a subset of
        the objects in a bucket. Note: ListObjectsV2 is the revised List Objects API
        and we recommend you use this revised API for new application development.'
      operationId: ListObjectsV2
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ListObjectsV2Request'
      - description: Pagination limit
        in: query
        name: MaxKeys
        required: false
        type: string
      - description: Pagination token
        in: query
        name: ContinuationToken
        required: false
        type: string
      - in: path
        name: Bucket
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ListObjectsV2Output'
        480:
          description: NoSuchBucket
          schema:
            $ref: '#/definitions/NoSuchBucket'
    parameters:
    - $ref: '#/parameters/x-amz-security-token'
  /{Bucket}?location#GetBucketLocation:
    get:
      description: Returns the region the bucket resides in.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETlocation.html</p>
      operationId: GetBucketLocation
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/GetBucketLocationRequest'
      - in: path
        name: Bucket
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetBucketLocationOutput'
    parameters:
    - $ref: '#/parameters/x-amz-security-token'
  /{Bucket}?logging#GetBucketLogging:
    get:
      description: Returns the logging status of a bucket and the permissions users
        have to view and modify that status. To use GET, you must be the bucket owner.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETlogging.html</p>
      operationId: GetBucketLogging
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/GetBucketLoggingRequest'
      - in: path
        name: Bucket
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetBucketLoggingOutput'
    parameters:
    - $ref: '#/parameters/x-amz-security-token'
  /{Bucket}?logging#PutBucketLogging:
    parameters:
    - $ref: '#/parameters/x-amz-security-token'
    put:
      description: Set the logging parameters for a bucket and to specify permissions
        for who can view and modify the logging parameters. To set the logging status
        of a bucket, you must be the bucket owner.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketPUTlogging.html</p>
      operationId: PutBucketLogging
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/PutBucketLoggingRequest'
      - in: path
        name: Bucket
        required: true
        type: string
      responses:
        200:
          description: Success
  /{Bucket}?metrics:
    delete:
      description: Deletes a metrics configuration (specified by the metrics configuration
        ID) from the bucket.
      operationId: DeleteBucketMetricsConfiguration
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DeleteBucketMetricsConfigurationRequest'
      - in: path
        name: Bucket
        required: true
        type: string
      responses:
        200:
          description: Success
    parameters:
    - $ref: '#/parameters/x-amz-security-token'
  /{Bucket}?metrics#GetBucketMetricsConfiguration:
    get:
      description: Gets a metrics configuration (specified by the metrics configuration
        ID) from the bucket.
      operationId: GetBucketMetricsConfiguration
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/GetBucketMetricsConfigurationRequest'
      - in: path
        name: Bucket
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetBucketMetricsConfigurationOutput'
    parameters:
    - $ref: '#/parameters/x-amz-security-token'
  /{Bucket}?metrics#ListBucketMetricsConfigurations:
    get:
      description: Lists the metrics configurations for the bucket.
      operationId: ListBucketMetricsConfigurations
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ListBucketMetricsConfigurationsRequest'
      - in: path
        name: Bucket
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ListBucketMetricsConfigurationsOutput'
    parameters:
    - $ref: '#/parameters/x-amz-security-token'
  /{Bucket}?metrics#PutBucketMetricsConfiguration:
    parameters:
    - $ref: '#/parameters/x-amz-security-token'
    put:
      description: Sets a metrics configuration (specified by the metrics configuration
        ID) for the bucket.
      operationId: PutBucketMetricsConfiguration
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/PutBucketMetricsConfigurationRequest'
      - in: path
        name: Bucket
        required: true
        type: string
      responses:
        200:
          description: Success
  /{Bucket}?notification#GetBucketNotification:
    get:
      description: Deprecated, see the GetBucketNotificationConfiguration operation.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETnotification.html</p>
      operationId: GetBucketNotification
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/GetBucketNotificationConfigurationRequest'
      - in: path
        name: Bucket
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/NotificationConfigurationDeprecated'
    parameters:
    - $ref: '#/parameters/x-amz-security-token'
  /{Bucket}?notification#GetBucketNotificationConfiguration:
    get:
      description: Returns the notification configuration of a bucket.
      operationId: GetBucketNotificationConfiguration
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/GetBucketNotificationConfigurationRequest'
      - in: path
        name: Bucket
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/NotificationConfiguration'
    parameters:
    - $ref: '#/parameters/x-amz-security-token'
  /{Bucket}?notification#PutBucketNotification:
    parameters:
    - $ref: '#/parameters/x-amz-security-token'
    put:
      description: Deprecated, see the PutBucketNotificationConfiguraiton operation.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketPUTnotification.html</p>
      operationId: PutBucketNotification
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/PutBucketNotificationRequest'
      - in: path
        name: Bucket
        required: true
        type: string
      responses:
        200:
          description: Success
  /{Bucket}?notification#PutBucketNotificationConfiguration:
    parameters:
    - $ref: '#/parameters/x-amz-security-token'
    put:
      description: Enables notifications of specified events for a bucket.
      operationId: PutBucketNotificationConfiguration
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/PutBucketNotificationConfigurationRequest'
      - in: path
        name: Bucket
        required: true
        type: string
      responses:
        200:
          description: Success
  /{Bucket}?policy:
    delete:
      description: Deletes the policy from the bucket.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketDELETEpolicy.html</p>
      operationId: DeleteBucketPolicy
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DeleteBucketPolicyRequest'
      - in: path
        name: Bucket
        required: true
        type: string
      responses:
        200:
          description: Success
    parameters:
    - $ref: '#/parameters/x-amz-security-token'
  /{Bucket}?policy#GetBucketPolicy:
    get:
      description: Returns the policy of a specified bucket.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETpolicy.html</p>
      operationId: GetBucketPolicy
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/GetBucketPolicyRequest'
      - in: path
        name: Bucket
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetBucketPolicyOutput'
    parameters:
    - $ref: '#/parameters/x-amz-security-token'
  /{Bucket}?policy#PutBucketPolicy:
    parameters:
    - $ref: '#/parameters/x-amz-security-token'
    put:
      description: Replaces a policy on a bucket. If the bucket already has a policy,
        the one in this request completely replaces it.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketPUTpolicy.html</p>
      operationId: PutBucketPolicy
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/PutBucketPolicyRequest'
      - in: path
        name: Bucket
        required: true
        type: string
      responses:
        200:
          description: Success
  /{Bucket}?replication:
    delete:
      description: Deletes the replication configuration from the bucket.
      operationId: DeleteBucketReplication
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DeleteBucketReplicationRequest'
      - in: path
        name: Bucket
        required: true
        type: string
      responses:
        200:
          description: Success
    parameters:
    - $ref: '#/parameters/x-amz-security-token'
  /{Bucket}?replication#GetBucketReplication:
    get:
      description: Returns the replication configuration of a bucket.
      operationId: GetBucketReplication
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/GetBucketReplicationRequest'
      - in: path
        name: Bucket
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetBucketReplicationOutput'
    parameters:
    - $ref: '#/parameters/x-amz-security-token'
  /{Bucket}?replication#PutBucketReplication:
    parameters:
    - $ref: '#/parameters/x-amz-security-token'
    put:
      description: Creates a new replication configuration (or replaces an existing
        one, if present).
      operationId: PutBucketReplication
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/PutBucketReplicationRequest'
      - in: path
        name: Bucket
        required: true
        type: string
      responses:
        200:
          description: Success
  /{Bucket}?requestPayment#GetBucketRequestPayment:
    get:
      description: Returns the request payment configuration of a bucket.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTrequestPaymentGET.html</p>
      operationId: GetBucketRequestPayment
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/GetBucketRequestPaymentRequest'
      - in: path
        name: Bucket
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetBucketRequestPaymentOutput'
    parameters:
    - $ref: '#/parameters/x-amz-security-token'
  /{Bucket}?requestPayment#PutBucketRequestPayment:
    parameters:
    - $ref: '#/parameters/x-amz-security-token'
    put:
      description: Sets the request payment configuration for a bucket. By default,
        the bucket owner pays for downloads from the bucket. This configuration parameter
        enables the bucket owner (only) to specify that the person requesting the
        download will be charged for the download. Documentation on requester pays
        buckets can be found at http://docs.aws.amazon.com/AmazonS3/latest/dev/RequesterPaysBuckets.html<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTrequestPaymentPUT.html</p>
      operationId: PutBucketRequestPayment
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/PutBucketRequestPaymentRequest'
      - in: path
        name: Bucket
        required: true
        type: string
      responses:
        200:
          description: Success
  /{Bucket}?tagging:
    delete:
      description: Deletes the tags from the bucket.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketDELETEtagging.html</p>
      operationId: DeleteBucketTagging
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DeleteBucketTaggingRequest'
      - in: path
        name: Bucket
        required: true
        type: string
      responses:
        200:
          description: Success
    parameters:
    - $ref: '#/parameters/x-amz-security-token'
  /{Bucket}?tagging#GetBucketTagging:
    get:
      description: Returns the tag set associated with the bucket.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETtagging.html</p>
      operationId: GetBucketTagging
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/GetBucketTaggingRequest'
      - in: path
        name: Bucket
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetBucketTaggingOutput'
    parameters:
    - $ref: '#/parameters/x-amz-security-token'
  /{Bucket}?tagging#PutBucketTagging:
    parameters:
    - $ref: '#/parameters/x-amz-security-token'
    put:
      description: Sets the tags for a bucket.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketPUTtagging.html</p>
      operationId: PutBucketTagging
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/PutBucketTaggingRequest'
      - in: path
        name: Bucket
        required: true
        type: string
      responses:
        200:
          description: Success
  /{Bucket}?uploads#ListMultipartUploads:
    get:
      description: This operation lists in-progress multipart uploads.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/mpUploadListMPUpload.html</p>
      operationId: ListMultipartUploads
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ListMultipartUploadsRequest'
      - description: Pagination limit
        in: query
        name: MaxUploads
        required: false
        type: string
      - description: Pagination token
        in: query
        name: KeyMarker
        required: false
        type: string
      - description: Pagination token
        in: query
        name: UploadIdMarker
        required: false
        type: string
      - in: path
        name: Bucket
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ListMultipartUploadsOutput'
    parameters:
    - $ref: '#/parameters/x-amz-security-token'
  /{Bucket}?versioning#GetBucketVersioning:
    get:
      description: Returns the versioning state of a bucket.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETversioningStatus.html</p>
      operationId: GetBucketVersioning
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/GetBucketVersioningRequest'
      - in: path
        name: Bucket
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetBucketVersioningOutput'
    parameters:
    - $ref: '#/parameters/x-amz-security-token'
  /{Bucket}?versioning#PutBucketVersioning:
    parameters:
    - $ref: '#/parameters/x-amz-security-token'
    put:
      description: Sets the versioning state of an existing bucket. To set the versioning
        state, you must be the bucket owner.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketPUTVersioningStatus.html</p>
      operationId: PutBucketVersioning
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/PutBucketVersioningRequest'
      - in: path
        name: Bucket
        required: true
        type: string
      responses:
        200:
          description: Success
  /{Bucket}?versions#ListObjectVersions:
    get:
      description: Returns metadata about all of the versions of objects in a bucket.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETVersion.html</p>
      operationId: ListObjectVersions
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ListObjectVersionsRequest'
      - description: Pagination limit
        in: query
        name: MaxKeys
        required: false
        type: string
      - description: Pagination token
        in: query
        name: KeyMarker
        required: false
        type: string
      - description: Pagination token
        in: query
        name: VersionIdMarker
        required: false
        type: string
      - in: path
        name: Bucket
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ListObjectVersionsOutput'
    parameters:
    - $ref: '#/parameters/x-amz-security-token'
  /{Bucket}?website:
    delete:
      description: This operation removes the website configuration from the bucket.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketDELETEwebsite.html</p>
      operationId: DeleteBucketWebsite
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DeleteBucketWebsiteRequest'
      - in: path
        name: Bucket
        required: true
        type: string
      responses:
        200:
          description: Success
    parameters:
    - $ref: '#/parameters/x-amz-security-token'
  /{Bucket}?website#GetBucketWebsite:
    get:
      description: Returns the website configuration for a bucket.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketGETwebsite.html</p>
      operationId: GetBucketWebsite
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/GetBucketWebsiteRequest'
      - in: path
        name: Bucket
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetBucketWebsiteOutput'
    parameters:
    - $ref: '#/parameters/x-amz-security-token'
  /{Bucket}?website#PutBucketWebsite:
    parameters:
    - $ref: '#/parameters/x-amz-security-token'
    put:
      description: Set the website configuration for a bucket.<p>http://docs.amazonwebservices.com/AmazonS3/latest/API/RESTBucketPUTwebsite.html</p>
      operationId: PutBucketWebsite
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/PutBucketWebsiteRequest'
      - in: path
        name: Bucket
        required: true
        type: string
      responses:
        200:
          description: Success
produces:
- text/xml
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":462:{s:9:\"AbortDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:30:\"AbortIncompleteMultipartUpload\";O:8:\"stdClass\":3:{s:11:\"description\";s:151:\"Specifies
  the days since the initiation of an Incomplete Multipart Upload that Lifecycle will
  wait before permanently removing all parts of the upload.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:19:\"DaysAfterInitiation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/DaysAfterInitiation\";s:11:\"description\";s:115:\"Indicates
  the number of days that must pass since initiation for Lifecycle to abort an Incomplete
  Multipart Upload.\";}}s:4:\"type\";s:6:\"object\";}s:26:\"AbortMultipartUploadOutput\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":0:{}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:27:\"AbortMultipartUploadRequest\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":3:{s:6:\"Bucket\";s:13:\"examplebucket\";s:3:\"Key\";s:9:\"bigobject\";s:8:\"UploadId\";s:88:\"xadcOB_7YPBOJuoFiQ9cz4P3Pe6FIZwO4f7wN93uHsNBEw97pl5eNwzExg0LAT2dUN91cOmrEQHDsP3WA60CEg--\";}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:11:\"AbortRuleId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"AccelerateConfiguration\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/BucketAccelerateStatus\";s:11:\"description\";s:43:\"The
  accelerate configuration of the bucket.\";}}s:4:\"type\";s:6:\"object\";}s:12:\"AcceptRanges\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"AccessControlPolicy\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"Grants\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Grants\";s:11:\"description\";s:17:\"A
  list of grants.\";}s:5:\"Owner\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Owner\";}}s:4:\"type\";s:6:\"object\";}s:24:\"AccessControlTranslation\";O:8:\"stdClass\":4:{s:11:\"description\";s:68:\"Container
  for information regarding the access control for replicas.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"Owner\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/OwnerOverride\";s:11:\"description\";s:55:\"The
  override value for the owner of the replica object.\";}}s:8:\"required\";a:1:{i:0;s:5:\"Owner\";}s:4:\"type\";s:6:\"object\";}s:9:\"AccountId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"AllowedHeader\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"AllowedHeaders\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/AllowedHeader\";}s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":1:{s:7:\"wrapped\";b:0;}}s:13:\"AllowedMethod\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"AllowedMethods\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/AllowedMethod\";}s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":1:{s:7:\"wrapped\";b:0;}}s:13:\"AllowedOrigin\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"AllowedOrigins\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/AllowedOrigin\";}s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":1:{s:7:\"wrapped\";b:0;}}s:20:\"AnalyticsAndOperator\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"Prefix\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Prefix\";s:11:\"description\";s:51:\"The
  prefix to use when evaluating an AND predicate.\";}s:4:\"Tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/TagSet\";s:11:\"description\";s:57:\"The
  list of tags to use when evaluating an AND predicate.\";}}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:7:\"wrapped\";b:0;}}s:22:\"AnalyticsConfiguration\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"Filter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/AnalyticsFilter\";s:11:\"description\";s:223:\"The
  filter used to describe a set of objects for analyses. A filter must have exactly
  one prefix, one tag, or one conjunction (AnalyticsAndOperator). If no filter is
  provided, all objects will be considered in any analysis.\";}s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/AnalyticsId\";s:11:\"description\";s:60:\"The
  identifier used to represent an analytics configuration.\";}s:20:\"StorageClassAnalysis\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/StorageClassAnalysis\";s:11:\"description\";s:158:\"If
  present, it indicates that data related to access patterns will be collected and
  made available to analyze the tradeoffs between different storage classes.\";}}s:8:\"required\";a:2:{i:0;s:2:\"Id\";i:1;s:20:\"StorageClassAnalysis\";}s:4:\"type\";s:6:\"object\";}s:26:\"AnalyticsConfigurationList\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/AnalyticsConfiguration\";}s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":1:{s:7:\"wrapped\";b:0;}}s:26:\"AnalyticsExportDestination\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:19:\"S3BucketDestination\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/AnalyticsS3BucketDestination\";s:11:\"description\";s:48:\"A
  destination signifying output to an S3 bucket.\";}}s:8:\"required\";a:1:{i:0;s:19:\"S3BucketDestination\";}s:4:\"type\";s:6:\"object\";}s:15:\"AnalyticsFilter\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"And\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/AnalyticsAndOperator\";s:11:\"description\";s:139:\"A
  conjunction (logical AND) of predicates, which is used in evaluating an analytics
  filter. The operator must have at least two predicates.\";}s:6:\"Prefix\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Prefix\";s:11:\"description\";s:54:\"The
  prefix to use when evaluating an analytics filter.\";}s:3:\"Tag\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Tag\";s:11:\"description\";s:51:\"The
  tag to use when evaluating an analytics filter.\";}}s:4:\"type\";s:6:\"object\";}s:11:\"AnalyticsId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:28:\"AnalyticsS3BucketDestination\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"Bucket\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/BucketName\";s:11:\"description\";s:71:\"The
  Amazon resource name (ARN) of the bucket to which data is exported.\";}s:15:\"BucketAccountId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/AccountId\";s:11:\"description\";s:135:\"The
  account ID that owns the destination bucket. If no account ID is provided, the owner
  will not be validated prior to exporting data.\";}s:6:\"Format\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/AnalyticsS3ExportFileFormat\";s:11:\"description\";s:54:\"The
  file format used when exporting data to Amazon S3.\";}s:6:\"Prefix\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Prefix\";s:11:\"description\";s:81:\"The
  prefix to use when exporting data. The exported data begins with this prefix.\";}}s:8:\"required\";a:2:{i:0;s:6:\"Format\";i:1;s:6:\"Bucket\";}s:4:\"type\";s:6:\"object\";}s:27:\"AnalyticsS3ExportFileFormat\";O:8:\"stdClass\":2:{s:4:\"enum\";a:1:{i:0;s:3:\"CSV\";}s:4:\"type\";s:6:\"string\";}s:4:\"Body\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Bucket\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"CreationDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/CreationDate\";s:11:\"description\";s:28:\"Date
  the bucket was created.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/BucketName\";s:11:\"description\";s:23:\"The
  name of the bucket.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"BucketAccelerateStatus\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:7:\"Enabled\";i:1;s:9:\"Suspended\";}s:4:\"type\";s:6:\"string\";}s:19:\"BucketAlreadyExists\";O:8:\"stdClass\":3:{s:11:\"description\";s:148:\"The
  requested bucket name is not available. The bucket namespace is shared by all users
  of the system. Please select a different name and try again.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:23:\"BucketAlreadyOwnedByYou\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:15:\"BucketCannedACL\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:7:\"private\";i:1;s:11:\"public-read\";i:2;s:17:\"public-read-write\";i:3;s:18:\"authenticated-read\";}s:4:\"type\";s:6:\"string\";}s:28:\"BucketLifecycleConfiguration\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"Rules\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/LifecycleRules\";}}s:8:\"required\";a:1:{i:0;s:5:\"Rules\";}s:4:\"type\";s:6:\"object\";}s:24:\"BucketLocationConstraint\";O:8:\"stdClass\":2:{s:4:\"enum\";a:11:{i:0;s:2:\"EU\";i:1;s:9:\"eu-west-1\";i:2;s:9:\"us-west-1\";i:3;s:9:\"us-west-2\";i:4;s:10:\"ap-south-1\";i:5;s:14:\"ap-southeast-1\";i:6;s:14:\"ap-southeast-2\";i:7;s:14:\"ap-northeast-1\";i:8;s:9:\"sa-east-1\";i:9;s:10:\"cn-north-1\";i:10;s:12:\"eu-central-1\";}s:4:\"type\";s:6:\"string\";}s:19:\"BucketLoggingStatus\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"LoggingEnabled\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/LoggingEnabled\";}}s:4:\"type\";s:6:\"object\";}s:20:\"BucketLogsPermission\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:12:\"FULL_CONTROL\";i:1;s:4:\"READ\";i:2;s:5:\"WRITE\";}s:4:\"type\";s:6:\"string\";}s:10:\"BucketName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"BucketVersioningStatus\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:7:\"Enabled\";i:1;s:9:\"Suspended\";}s:4:\"type\";s:6:\"string\";}s:7:\"Buckets\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Bucket\";}s:4:\"type\";s:5:\"array\";}s:14:\"BytesProcessed\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"BytesReturned\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"BytesScanned\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:17:\"CORSConfiguration\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"CORSRules\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/CORSRules\";}}s:8:\"required\";a:1:{i:0;s:9:\"CORSRules\";}s:4:\"type\";s:6:\"object\";}s:8:\"CORSRule\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":5:{s:14:\"AllowedHeaders\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/AllowedHeaders\";s:11:\"description\";s:68:\"Specifies
  which headers are allowed in a pre-flight OPTIONS request.\";}s:14:\"AllowedMethods\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/AllowedMethods\";s:11:\"description\";s:91:\"Identifies
  HTTP methods that the domain/origin specified in the rule is allowed to execute.\";}s:14:\"AllowedOrigins\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/AllowedOrigins\";s:11:\"description\";s:76:\"One
  or more origins you want customers to be able to access the bucket from.\";}s:13:\"ExposeHeaders\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ExposeHeaders\";s:11:\"description\";s:160:\"One
  or more headers in the response that you want customers to be able to access from
  their applications (for example, from a JavaScript XMLHttpRequest object).\";}s:13:\"MaxAgeSeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/MaxAgeSeconds\";s:11:\"description\";s:100:\"The
  time in seconds that your browser is to cache the preflight response for the specified
  resource.\";}}s:8:\"required\";a:2:{i:0;s:14:\"AllowedMethods\";i:1;s:14:\"AllowedOrigins\";}s:4:\"type\";s:6:\"object\";}s:9:\"CORSRules\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/CORSRule\";}s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":1:{s:7:\"wrapped\";b:0;}}s:8:\"CSVInput\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Describes
  how a CSV-formatted input object is formatted.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:8:\"Comments\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Comments\";s:11:\"description\";s:93:\"Single
  character used to indicate a row should be ignored when present at the start of
  a row.\";}s:14:\"FieldDelimiter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/FieldDelimiter\";s:11:\"description\";s:53:\"Value
  used to separate individual fields in a record.\";}s:14:\"FileHeaderInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/FileHeaderInfo\";s:11:\"description\";s:67:\"Describes
  the first line of input. Valid values: None, Ignore, Use.\";}s:14:\"QuoteCharacter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/QuoteCharacter\";s:11:\"description\";s:71:\"Value
  used for escaping where the field delimiter is part of the value.\";}s:20:\"QuoteEscapeCharacter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/QuoteEscapeCharacter\";s:11:\"description\";s:87:\"Single
  character used for escaping the quote character inside an already escaped value.\";}s:15:\"RecordDelimiter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/RecordDelimiter\";s:11:\"description\";s:42:\"Value
  used to separate individual records.\";}}s:4:\"type\";s:6:\"object\";}s:9:\"CSVOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Describes
  how CSV-formatted results are formatted.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:14:\"FieldDelimiter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/FieldDelimiter\";s:11:\"description\";s:53:\"Value
  used to separate individual fields in a record.\";}s:14:\"QuoteCharacter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/QuoteCharacter\";s:11:\"description\";s:71:\"Value
  used for escaping where the field delimiter is part of the value.\";}s:20:\"QuoteEscapeCharacter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/QuoteEscapeCharacter\";s:11:\"description\";s:87:\"Single
  character used for escaping the quote character inside an already escaped value.\";}s:11:\"QuoteFields\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/QuoteFields\";s:11:\"description\";s:60:\"Indicates
  whether or not all output fields should be quoted.\";}s:15:\"RecordDelimiter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/RecordDelimiter\";s:11:\"description\";s:42:\"Value
  used to separate individual records.\";}}s:4:\"type\";s:6:\"object\";}s:12:\"CacheControl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"CloudFunction\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:26:\"CloudFunctionConfiguration\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:13:\"CloudFunction\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/CloudFunction\";}s:5:\"Event\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Event\";}s:6:\"Events\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/EventList\";}s:2:\"Id\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/NotificationId\";}s:14:\"InvocationRole\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/CloudFunctionInvocationRole\";}}s:4:\"type\";s:6:\"object\";}s:27:\"CloudFunctionInvocationRole\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Comments\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"CommonPrefix\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"Prefix\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Prefix\";}}s:4:\"type\";s:6:\"object\";}s:16:\"CommonPrefixList\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/CommonPrefix\";}s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":1:{s:7:\"wrapped\";b:0;}}s:29:\"CompleteMultipartUploadOutput\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":4:{s:6:\"Bucket\";s:15:\"acexamplebucket\";s:4:\"ETag\";s:36:\"\"4d9031c7644d8081c2829f4ea23c55f7-2\"\";s:3:\"Key\";s:9:\"bigobject\";s:8:\"Location\";s:48:\"https://examplebucket.s3.amazonaws.com/bigobject\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"Bucket\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/BucketName\";}s:4:\"ETag\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/ETag\";s:11:\"description\";s:25:\"Entity
  tag of the object.\";}s:3:\"Key\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/ObjectKey\";}s:8:\"Location\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Location\";}}s:4:\"type\";s:6:\"object\";}s:30:\"CompleteMultipartUploadRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":4:{s:6:\"Bucket\";s:13:\"examplebucket\";s:3:\"Key\";s:9:\"bigobject\";s:15:\"MultipartUpload\";O:8:\"stdClass\":1:{s:5:\"Parts\";a:2:{i:0;O:8:\"stdClass\":2:{s:4:\"ETag\";s:34:\"\"d8c2eafd90c266e19ab9dcacc479f8af\"\";s:10:\"PartNumber\";s:1:\"1\";}i:1;O:8:\"stdClass\":2:{s:4:\"ETag\";s:34:\"\"d8c2eafd90c266e19ab9dcacc479f8af\"\";s:10:\"PartNumber\";s:1:\"2\";}}}s:8:\"UploadId\";s:81:\"7YPBOJuoFiQ9cz4P3Pe6FIZwO4f7wN93uHsNBEw97pl5eNwzExg0LAT2dUN91cOmrEQHDsP3WA60CEg--\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"MultipartUpload\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/CompletedMultipartUpload\";}}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:9:\"namespace\";s:39:\"http://s3.amazonaws.com/doc/2006-03-01/\";}}s:24:\"CompletedMultipartUpload\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"Parts\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/CompletedPartList\";}}s:4:\"type\";s:6:\"object\";}s:13:\"CompletedPart\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"ETag\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/ETag\";s:11:\"description\";s:47:\"Entity
  tag returned when the part was uploaded.\";}s:10:\"PartNumber\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/PartNumber\";s:11:\"description\";s:86:\"Part
  number that identifies the part. This is a positive integer between 1 and 10,000.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"CompletedPartList\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/CompletedPart\";}s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":1:{s:7:\"wrapped\";b:0;}}s:15:\"CompressionType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:4:\"NONE\";i:1;s:4:\"GZIP\";}s:4:\"type\";s:6:\"string\";}s:9:\"Condition\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:27:\"HttpErrorCodeReturnedEquals\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/HttpErrorCodeReturnedEquals\";s:11:\"description\";s:328:\"The
  HTTP error code when the redirect is applied. In the event of an error, if the error
  code equals this value, then the specified redirect is applied. Required when parent
  element Condition is specified and sibling KeyPrefixEquals is not specified. If
  both are specified, then both must be true for the redirect to be applied.\";}s:15:\"KeyPrefixEquals\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/KeyPrefixEquals\";s:11:\"description\";s:488:\"The
  object key name prefix when the redirect is applied. For example, to redirect requests
  for ExamplePage.html, the key prefix will be ExamplePage.html. To redirect request
  for all pages with the prefix docs/, the key prefix will be /docs, which identifies
  all objects in the docs/ folder. Required when the parent element Condition is specified
  and sibling HttpErrorCodeReturnedEquals is not specified. If both conditions are
  specified, both must be true for the redirect to be applied.\";}}s:4:\"type\";s:6:\"object\";}s:29:\"ConfirmRemoveSelfBucketAccess\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:18:\"ContentDisposition\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"ContentEncoding\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"ContentLanguage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"ContentLength\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"ContentMD5\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"ContentRange\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"ContentType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"ContinuationEvent\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:16:\"CopyObjectOutput\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":1:{s:16:\"CopyObjectResult\";O:8:\"stdClass\":2:{s:4:\"ETag\";s:34:\"\"6805f2cfc46c0f04559748bb039d69ae\"\";s:12:\"LastModified\";s:24:\"2016-12-15T17:38:53.000Z\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"CopyObjectResult\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/CopyObjectResult\";}}s:4:\"type\";s:6:\"object\";}s:17:\"CopyObjectRequest\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":3:{s:6:\"Bucket\";s:17:\"destinationbucket\";s:10:\"CopySource\";s:26:\"/sourcebucket/HappyFacejpg\";s:3:\"Key\";s:16:\"HappyFaceCopyjpg\";}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:16:\"CopyObjectResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"ETag\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/ETag\";}s:12:\"LastModified\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/LastModified\";}}s:4:\"type\";s:6:\"object\";}s:14:\"CopyPartResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"ETag\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/ETag\";s:11:\"description\";s:25:\"Entity
  tag of the object.\";}s:12:\"LastModified\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/LastModified\";s:11:\"description\";s:47:\"Date
  and time at which the object was uploaded.\";}}s:4:\"type\";s:6:\"object\";}s:10:\"CopySource\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:8:\"\\/.+\\/.+\";s:4:\"type\";s:6:\"string\";}s:17:\"CopySourceIfMatch\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:25:\"CopySourceIfModifiedSince\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:21:\"CopySourceIfNoneMatch\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:27:\"CopySourceIfUnmodifiedSince\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:15:\"CopySourceRange\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:30:\"CopySourceSSECustomerAlgorithm\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:24:\"CopySourceSSECustomerKey\";O:8:\"stdClass\":2:{s:6:\"format\";s:8:\"password\";s:4:\"type\";s:6:\"string\";}s:27:\"CopySourceSSECustomerKeyMD5\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"CopySourceVersionId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:25:\"CreateBucketConfiguration\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:18:\"LocationConstraint\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/BucketLocationConstraint\";s:11:\"description\";s:128:\"Specifies
  the region where the bucket will be created. If you don't specify a region, the
  bucket will be created in US Standard.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"CreateBucketOutput\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":1:{s:8:\"Location\";s:14:\"/examplebucket\";}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:19:\"CreateBucketRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":1:{s:6:\"Bucket\";s:13:\"examplebucket\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:25:\"CreateBucketConfiguration\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/CreateBucketConfiguration\";}}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:9:\"namespace\";s:39:\"http://s3.amazonaws.com/doc/2006-03-01/\";}}s:27:\"CreateMultipartUploadOutput\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":3:{s:6:\"Bucket\";s:13:\"examplebucket\";s:3:\"Key\";s:11:\"largeobject\";s:8:\"UploadId\";s:88:\"ibZBv_75gd9r8lH_gqXatLdxMVpAlj6ZQjEs.OwyF3953YdwbcQnMA2BLGn8Lx12fQNICtMw5KyteFeHw.Sjng--\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"Bucket\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/BucketName\";s:11:\"description\";s:63:\"Name
  of the bucket to which the multipart upload was initiated.\";}s:3:\"Key\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/ObjectKey\";s:11:\"description\";s:56:\"Object
  key for which the multipart upload was initiated.\";}s:8:\"UploadId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/MultipartUploadId\";s:11:\"description\";s:38:\"ID
  for the initiated multipart upload.\";}}s:4:\"type\";s:6:\"object\";}s:28:\"CreateMultipartUploadRequest\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":2:{s:6:\"Bucket\";s:13:\"examplebucket\";s:3:\"Key\";s:11:\"largeobject\";}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:12:\"CreationDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:4:\"Date\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:4:\"Days\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:19:\"DaysAfterInitiation\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"Delete\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Objects\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/ObjectIdentifierList\";}s:5:\"Quiet\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Quiet\";s:11:\"description\";s:104:\"Element
  to enable quiet mode for the request. When you add this element, you must set its
  value to true.\";}}s:8:\"required\";a:1:{i:0;s:7:\"Objects\";}s:4:\"type\";s:6:\"object\";}s:41:\"DeleteBucketAnalyticsConfigurationRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:23:\"DeleteBucketCorsRequest\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":1:{s:6:\"Bucket\";s:13:\"examplebucket\";}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:29:\"DeleteBucketEncryptionRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:41:\"DeleteBucketInventoryConfigurationRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:28:\"DeleteBucketLifecycleRequest\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":1:{s:6:\"Bucket\";s:13:\"examplebucket\";}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:39:\"DeleteBucketMetricsConfigurationRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:25:\"DeleteBucketPolicyRequest\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":1:{s:6:\"Bucket\";s:13:\"examplebucket\";}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:30:\"DeleteBucketReplicationRequest\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":1:{s:6:\"Bucket\";s:7:\"example\";}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:19:\"DeleteBucketRequest\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":1:{s:6:\"Bucket\";s:11:\"forrandall2\";}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:26:\"DeleteBucketTaggingRequest\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":1:{s:6:\"Bucket\";s:13:\"examplebucket\";}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:26:\"DeleteBucketWebsiteRequest\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":1:{s:6:\"Bucket\";s:13:\"examplebucket\";}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:12:\"DeleteMarker\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:17:\"DeleteMarkerEntry\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"IsLatest\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/IsLatest\";s:11:\"description\";s:89:\"Specifies
  whether the object is (true) or is not (false) the latest version of an object.\";}s:3:\"Key\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/ObjectKey\";s:11:\"description\";s:15:\"The
  object key.\";}s:12:\"LastModified\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/LastModified\";s:11:\"description\";s:43:\"Date
  and time the object was last modified.\";}s:5:\"Owner\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Owner\";}s:9:\"VersionId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ObjectVersionId\";s:11:\"description\";s:24:\"Version
  ID of an object.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"DeleteMarkerVersionId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"DeleteMarkers\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/DeleteMarkerEntry\";}s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":1:{s:7:\"wrapped\";b:0;}}s:18:\"DeleteObjectOutput\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":0:{}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:19:\"DeleteObjectRequest\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":2:{s:6:\"Bucket\";s:13:\"examplebucket\";s:3:\"Key\";s:13:\"objectkey.jpg\";}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:25:\"DeleteObjectTaggingOutput\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":1:{s:9:\"VersionId\";s:4:\"null\";}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:26:\"DeleteObjectTaggingRequest\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":2:{s:6:\"Bucket\";s:13:\"examplebucket\";s:3:\"Key\";s:13:\"HappyFace.jpg\";}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:19:\"DeleteObjectsOutput\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":1:{s:7:\"Deleted\";a:2:{i:0;O:8:\"stdClass\":3:{s:12:\"DeleteMarker\";s:4:\"true\";s:21:\"DeleteMarkerVersionId\";s:32:\"A._w1z6EFiCF5uhtQMDal9JDkID9tQ7F\";s:3:\"Key\";s:10:\"objectkey1\";}i:1;O:8:\"stdClass\":3:{s:12:\"DeleteMarker\";s:4:\"true\";s:21:\"DeleteMarkerVersionId\";s:32:\"iOd_ORxhkKe_e8G8_oSGxt2PjsCZKlkt\";s:3:\"Key\";s:10:\"objectkey2\";}}}s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Deleted\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/DeletedObjects\";}s:6:\"Errors\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Errors\";}}s:4:\"type\";s:6:\"object\";}s:20:\"DeleteObjectsRequest\";O:8:\"stdClass\":5:{s:7:\"example\";O:8:\"stdClass\":2:{s:6:\"Bucket\";s:13:\"examplebucket\";s:6:\"Delete\";O:8:\"stdClass\":2:{s:7:\"Objects\";a:2:{i:0;O:8:\"stdClass\":1:{s:3:\"Key\";s:10:\"objectkey1\";}i:1;O:8:\"stdClass\":1:{s:3:\"Key\";s:10:\"objectkey2\";}}s:5:\"Quiet\";b:0;}}s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"Delete\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Delete\";}}s:8:\"required\";a:1:{i:0;s:6:\"Delete\";}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:9:\"namespace\";s:39:\"http://s3.amazonaws.com/doc/2006-03-01/\";}}s:13:\"DeletedObject\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"DeleteMarker\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/DeleteMarker\";}s:21:\"DeleteMarkerVersionId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/DeleteMarkerVersionId\";}s:3:\"Key\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/ObjectKey\";}s:9:\"VersionId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ObjectVersionId\";}}s:4:\"type\";s:6:\"object\";}s:14:\"DeletedObjects\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/DeletedObject\";}s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":1:{s:7:\"wrapped\";b:0;}}s:9:\"Delimiter\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"Description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"Destination\";O:8:\"stdClass\":4:{s:11:\"description\";s:50:\"Container
  for replication destination information.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:24:\"AccessControlTranslation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/AccessControlTranslation\";s:11:\"description\";s:68:\"Container
  for information regarding the access control for replicas.\";}s:7:\"Account\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/AccountId\";s:11:\"description\";s:116:\"Account
  ID of the destination bucket. Currently this is only being verified if Access Control
  Translation is enabled\";}s:6:\"Bucket\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/BucketName\";s:11:\"description\";s:121:\"Amazon
  resource name (ARN) of the bucket where you want Amazon S3 to store replicas of
  the object identified by the rule.\";}s:23:\"EncryptionConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/EncryptionConfiguration\";s:11:\"description\";s:80:\"Container
  for information regarding encryption based configuration for replicas.\";}s:12:\"StorageClass\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/StorageClass\";s:11:\"description\";s:46:\"The
  class of storage used to store the object.\";}}s:8:\"required\";a:1:{i:0;s:6:\"Bucket\";}s:4:\"type\";s:6:\"object\";}s:11:\"DisplayName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"ETag\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"EmailAddress\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"EnableRequestProgress\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:12:\"EncodingType\";O:8:\"stdClass\":3:{s:11:\"description\";s:394:\"Requests
  Amazon S3 to encode the object keys in the response and specifies the encoding method
  to use. An object key may contain any Unicode character; however, XML 1.0 parser
  cannot parse some characters, such as characters with an ASCII value from 0 to 10.
  For characters that are not supported in XML 1.0, you can add this parameter to
  request that Amazon S3 encode the keys in the response.\";s:4:\"enum\";a:1:{i:0;s:3:\"url\";}s:4:\"type\";s:6:\"string\";}s:10:\"Encryption\";O:8:\"stdClass\":4:{s:11:\"description\";s:81:\"Describes
  the server-side encryption that will be applied to the restore results.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"EncryptionType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ServerSideEncryption\";s:11:\"description\";s:104:\"The
  server-side encryption algorithm used when storing job results in Amazon S3 (e.g.,
  AES256, aws:kms).\";}s:10:\"KMSContext\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/KMSContext\";s:11:\"description\";s:125:\"If
  the encryption type is aws:kms, this optional value can be used to specify the encryption
  context for the restore results.\";}s:8:\"KMSKeyId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/SSEKMSKeyId\";s:11:\"description\";s:121:\"If
  the encryption type is aws:kms, this optional value specifies the AWS KMS key ID
  to use for encryption of job results.\";}}s:8:\"required\";a:1:{i:0;s:14:\"EncryptionType\";}s:4:\"type\";s:6:\"object\";}s:23:\"EncryptionConfiguration\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"Container
  for information regarding encryption based configuration for replicas.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"ReplicaKmsKeyID\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ReplicaKmsKeyID\";s:11:\"description\";s:57:\"The
  id of the KMS key used to encrypt the replica object.\";}}s:4:\"type\";s:6:\"object\";}s:8:\"EndEvent\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:5:\"Error\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"Code\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Code\";}s:3:\"Key\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/ObjectKey\";}s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Message\";}s:9:\"VersionId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ObjectVersionId\";}}s:4:\"type\";s:6:\"object\";}s:13:\"ErrorDocument\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"Key\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/ObjectKey\";s:11:\"description\";s:57:\"The
  object key name to use when a 4XX class error occurs.\";}}s:8:\"required\";a:1:{i:0;s:3:\"Key\";}s:4:\"type\";s:6:\"object\";}s:6:\"Errors\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Error\";}s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":1:{s:7:\"wrapped\";b:0;}}s:5:\"Event\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Bucket
  event for which to send notifications.\";s:4:\"enum\";a:9:{i:0;s:30:\"s3:ReducedRedundancyLostObject\";i:1;s:18:\"s3:ObjectCreated:*\";i:2;s:20:\"s3:ObjectCreated:Put\";i:3;s:21:\"s3:ObjectCreated:Post\";i:4;s:21:\"s3:ObjectCreated:Copy\";i:5;s:40:\"s3:ObjectCreated:CompleteMultipartUpload\";i:6;s:18:\"s3:ObjectRemoved:*\";i:7;s:23:\"s3:ObjectRemoved:Delete\";i:8;s:36:\"s3:ObjectRemoved:DeleteMarkerCreated\";}s:4:\"type\";s:6:\"string\";}s:9:\"EventList\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Event\";}s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":1:{s:7:\"wrapped\";b:0;}}s:10:\"Expiration\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"ExpirationStatus\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:7:\"Enabled\";i:1;s:8:\"Disabled\";}s:4:\"type\";s:6:\"string\";}s:25:\"ExpiredObjectDeleteMarker\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:7:\"Expires\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:12:\"ExposeHeader\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"ExposeHeaders\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ExposeHeader\";}s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":1:{s:7:\"wrapped\";b:0;}}s:10:\"Expression\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"ExpressionType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:1:{i:0;s:3:\"SQL\";}s:4:\"type\";s:6:\"string\";}s:10:\"FetchOwner\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:14:\"FieldDelimiter\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"FileHeaderInfo\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:3:\"USE\";i:1;s:6:\"IGNORE\";i:2;s:4:\"NONE\";}s:4:\"type\";s:6:\"string\";}s:10:\"FilterRule\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"Container
  for key value pair that defines the criteria for the filter rule.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/FilterRuleName\";s:11:\"description\";s:405:\"Object
  key name prefix or suffix identifying one or more objects to which the filtering
  rule applies. Maximum prefix length can be up to 1,024 characters. Overlapping prefixes
  and suffixes are not supported. For more information, go to <a href=\"http://docs.aws.amazon.com/AmazonS3/latest/dev/NotificationHowTo.html\">Configuring
  Event Notifications</a> in the Amazon Simple Storage Service Developer Guide.\";}s:5:\"Value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/FilterRuleValue\";}}s:4:\"type\";s:6:\"object\";}s:14:\"FilterRuleList\";O:8:\"stdClass\":4:{s:11:\"description\";s:86:\"A
  list of containers for key value pair that defines the criteria for the filter rule.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/FilterRule\";}s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":1:{s:7:\"wrapped\";b:0;}}s:14:\"FilterRuleName\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:6:\"prefix\";i:1;s:6:\"suffix\";}s:4:\"type\";s:6:\"string\";}s:15:\"FilterRuleValue\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:38:\"GetBucketAccelerateConfigurationOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/BucketAccelerateStatus\";s:11:\"description\";s:43:\"The
  accelerate configuration of the bucket.\";}}s:4:\"type\";s:6:\"object\";}s:39:\"GetBucketAccelerateConfigurationRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:18:\"GetBucketAclOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"Grants\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Grants\";s:11:\"description\";s:17:\"A
  list of grants.\";}s:5:\"Owner\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Owner\";}}s:4:\"type\";s:6:\"object\";}s:19:\"GetBucketAclRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:37:\"GetBucketAnalyticsConfigurationOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:22:\"AnalyticsConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/AnalyticsConfiguration\";s:11:\"description\";s:60:\"The
[...]
