---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:7:\"contact\";O:8:\"stdClass\":1:{s:5:\"email\";s:18:\"support@jirafe.com\";}s:11:\"description\";s:38:\"API
  endpoins for sending Jirafe events\";s:14:\"termsOfService\";s:34:\"https://jirafe.com/policies/terms/\";s:5:\"title\";s:13:\"Jirafe
  Events\";s:7:\"version\";s:5:\"2.0.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:9:\"marketing\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#4BC9C5\";s:3:\"url\";s:93:\"https://api.apis.guru/v2/cache/logo/https_docs.jirafe.com_img_jrf-logo--white-100x36.a56c.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.0.1\";}s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:33:\"https://event.jirafe.com/api-docs\";s:7:\"version\";s:3:\"1.2\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:10:\"jirafe.com\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"jirafe\";s:4:\"type\";s:7:\"openapi\";}}"
host: event.jirafe.com
basePath: /v2
paths:
  /{siteId}/batch:
    post:
      operationId: postBatch
      parameters:
      - description: ID site to send the event
        in: path
        name: siteId
        required: true
        type: string
      - description: batch json of events
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/Batch'
      responses:
        200:
          description: No response was specified
        400:
          description: validation
        403:
          description: authorization
        503:
          description: unknown
      security:
      - oauth2_accessCode:
        - write
      - oauth2_implicit:
        - write
      summary: Send a batch for the given site
      tags:
      - batch
  /{siteId}/cart:
    post:
      operationId: postCart
      parameters:
      - description: ID site to send the event
        in: path
        name: siteId
        required: true
        type: string
      - description: cart json for the event
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/Cart'
      responses:
        200:
          description: No response was specified
        400:
          description: validation
        403:
          description: authorization
        503:
          description: unknown
      security:
      - oauth2_accessCode:
        - write
      - oauth2_implicit:
        - write
      summary: Send a cart for the given site
      tags:
      - cart
  /{siteId}/category:
    post:
      operationId: postCategory
      parameters:
      - description: ID site to send the event
        in: path
        name: siteId
        required: true
        type: string
      - description: category json for the event
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/Category'
      responses:
        200:
          description: No response was specified
        400:
          description: validation
        403:
          description: authorization
        503:
          description: unknown
      security:
      - oauth2_accessCode:
        - write
      - oauth2_implicit:
        - write
      summary: Send a category for the given site
      tags:
      - category
  /{siteId}/customer:
    post:
      operationId: postCustomer
      parameters:
      - description: ID site to send the event
        in: path
        name: siteId
        required: true
        type: string
      - description: customer json for the event
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/Customer'
      responses:
        200:
          description: No response was specified
        400:
          description: validation
        403:
          description: authorization
        503:
          description: unknown
      security:
      - oauth2_accessCode:
        - write
      - oauth2_implicit:
        - write
      summary: Send a customer for the given site
      tags:
      - customer
  /{siteId}/order:
    post:
      operationId: postOrderCancelled
      parameters:
      - description: ID site to send the event
        in: path
        name: siteId
        required: true
        type: string
      - description: order json for the event
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/OrderCancelled'
      responses:
        200:
          description: No response was specified
        400:
          description: validation
        403:
          description: authorization
        503:
          description: unknown
      security:
      - oauth2_accessCode:
        - write
      - oauth2_implicit:
        - write
      summary: Send a order for the given site
      tags:
      - order
  /{siteId}/product:
    post:
      operationId: postProduct
      parameters:
      - description: ID site to send the event
        in: path
        name: siteId
        required: true
        type: string
      - description: product json for the event
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/Product'
      responses:
        200:
          description: No response was specified
        400:
          description: validation
        403:
          description: authorization
        503:
          description: unknown
      security:
      - oauth2_accessCode:
        - write
      - oauth2_implicit:
        - write
      summary: Send a product for the given site
      tags:
      - product
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":19:{s:7:\"Address\";O:8:\"stdClass\":0:{}s:9:\"Attribute\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:2:\"id\";i:1;s:4:\"name\";i:2;s:5:\"value\";}s:4:\"type\";s:6:\"object\";}s:11:\"BaseProduct\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Batch\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"cart\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Cart\";}s:4:\"type\";s:5:\"array\";}s:8:\"category\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Category\";}s:4:\"type\";s:5:\"array\";}s:8:\"customer\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Customer\";}s:4:\"type\";s:5:\"array\";}s:8:\"employee\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Employee\";}s:4:\"type\";s:5:\"array\";}s:5:\"order\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Order\";}s:4:\"type\";s:5:\"array\";}s:7:\"product\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Product\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Cart\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":16:{s:7:\"cart_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"change_date\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"cookies\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:11:\"create_date\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:8:\"currency\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"customer\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Customer\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/CartItem\";}s:4:\"type\";s:5:\"array\";}s:14:\"previous_items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/CartItem\";}s:4:\"type\";s:5:\"array\";}s:8:\"subtotal\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"total\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:9007199254740992;s:7:\"minimum\";i:0;s:4:\"type\";s:6:\"number\";}s:15:\"total_discounts\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:9007199254740992;s:7:\"minimum\";i:0;s:4:\"type\";s:6:\"number\";}s:18:\"total_payment_cost\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:9007199254740992;s:7:\"minimum\";i:0;s:4:\"type\";s:6:\"number\";}s:14:\"total_shipping\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:9007199254740992;s:7:\"minimum\";i:0;s:4:\"type\";s:6:\"number\";}s:9:\"total_tax\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:9007199254740992;s:7:\"minimum\";i:0;s:4:\"type\";s:6:\"number\";}s:5:\"visit\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Visit\";}}s:8:\"required\";a:12:{i:0;s:2:\"id\";i:1;s:11:\"create_date\";i:2;s:11:\"change_date\";i:3;s:8:\"subtotal\";i:4;s:5:\"total\";i:5;s:9:\"total_tax\";i:6;s:14:\"total_shipping\";i:7;s:18:\"total_payment_cost\";i:8;s:15:\"total_discounts\";i:9;s:8:\"currency\";i:10;s:8:\"customer\";i:11;s:5:\"items\";}s:4:\"type\";s:6:\"object\";}s:8:\"CartItem\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":8:{s:16:\"cart_item_number\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"change_date\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"create_date\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:14:\"discount_price\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:9007199254740992;s:7:\"minimum\";i:0;s:4:\"type\";s:6:\"number\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"price\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:9007199254740992;s:7:\"minimum\";i:0;s:4:\"type\";s:6:\"number\";}s:7:\"product\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Product\";}s:8:\"quantity\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:9007199254740992;s:7:\"minimum\";i:-9007199254740992;s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:8:{i:0;s:2:\"id\";i:1;s:11:\"create_date\";i:2;s:11:\"change_date\";i:3;s:16:\"cart_item_number\";i:4;s:8:\"quantity\";i:5;s:5:\"price\";i:6;s:14:\"discount_price\";i:7;s:7:\"product\";}s:4:\"type\";s:6:\"object\";}s:7:\"Catalog\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"version_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:2:\"id\";}s:4:\"type\";s:6:\"object\";}s:8:\"Category\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:2:\"id\";i:1;s:4:\"name\";}s:4:\"type\";s:6:\"object\";}s:8:\"Customer\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":14:{s:11:\"active_flag\";O:8:\"stdClass\":2:{s:7:\"default\";b:1;s:4:\"type\";s:7:\"boolean\";}s:11:\"change_date\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"company\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"cookies\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:11:\"create_date\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:10:\"department\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"first_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"last_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"marketing_opt_in\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"phone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"position\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:2:\"id\";i:1;s:11:\"create_date\";i:2;s:11:\"change_date\";}s:4:\"type\";s:6:\"object\";}s:8:\"Employee\";O:8:\"stdClass\":0:{}s:5:\"Image\";O:8:\"stdClass\":0:{}s:5:\"Order\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":16:{s:7:\"cart_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"change_date\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"create_date\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:8:\"currency\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"customer\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Customer\";}s:5:\"items\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/OrderItem\";}s:7:\"minimum\";i:1;s:4:\"type\";s:5:\"array\";}s:10:\"order_date\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:12:\"order_number\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"previous_items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/OrderItem\";}s:4:\"type\";s:5:\"array\";}s:6:\"status\";O:8:\"stdClass\":3:{s:7:\"default\";s:8:\"accepted\";s:4:\"enum\";a:1:{i:0;s:8:\"accepted\";}s:4:\"type\";s:6:\"string\";}s:8:\"subtotal\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"total\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:15:\"total_discounts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:18:\"total_payment_cost\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:14:\"total_shipping\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"total_tax\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}s:8:\"required\";a:14:{i:0;s:12:\"order_number\";i:1;s:8:\"customer\";i:2;s:10:\"order_date\";i:3;s:11:\"create_date\";i:4;s:11:\"change_date\";i:5;s:6:\"status\";i:6;s:8:\"subtotal\";i:7;s:5:\"total\";i:8;s:9:\"total_tax\";i:9;s:14:\"total_shipping\";i:10;s:18:\"total_payment_cost\";i:11;s:15:\"total_discounts\";i:12;s:8:\"currency\";i:13;s:5:\"items\";}s:4:\"type\";s:6:\"object\";}s:14:\"OrderCancelled\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"cancel_date\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:12:\"order_number\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":3:{s:7:\"default\";s:9:\"cancelled\";s:4:\"enum\";a:1:{i:0;s:9:\"cancelled\";}s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:12:\"order_number\";i:1;s:11:\"cancel_date\";i:2;s:6:\"status\";}s:4:\"type\";s:6:\"object\";}s:9:\"OrderItem\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":9:{s:11:\"change_date\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"create_date\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:14:\"discount_price\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:9007199254740992;s:7:\"minimum\";i:0;s:4:\"type\";s:6:\"number\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"order_item_number\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"price\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:9007199254740992;s:7:\"minimum\";i:0;s:4:\"type\";s:6:\"number\";}s:7:\"product\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Product\";}s:8:\"quantity\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:9007199254740992;s:7:\"minimum\";i:-9007199254740992;s:4:\"type\";s:7:\"integer\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"enum\";a:2:{i:0;s:8:\"accepted\";i:1;s:9:\"cancelled\";}}}s:8:\"required\";a:9:{i:0;s:2:\"id\";i:1;s:11:\"create_date\";i:2;s:11:\"change_date\";i:3;s:17:\"order_item_number\";i:4;s:8:\"quantity\";i:5;s:6:\"status\";i:6;s:5:\"price\";i:7;s:14:\"discount_price\";i:8;s:7:\"product\";}s:4:\"type\";s:6:\"object\";}s:14:\"ParentCategory\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:2:\"id\";}s:4:\"type\";s:6:\"object\";}s:7:\"Product\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":17:{s:9:\"ancestors\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:10:\"attributes\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Attribute\";}s:4:\"type\";s:5:\"array\";s:11:\"uniqueItems\";b:1;}s:12:\"base_product\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/BaseProduct\";}s:5:\"brand\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"catalog\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Catalog\";}s:10:\"categories\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Category\";}s:4:\"type\";s:5:\"array\";s:11:\"uniqueItems\";b:1;}s:11:\"change_date\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"create_date\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"images\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Image\";}s:4:\"type\";s:5:\"array\";}s:8:\"is_order\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:6:\"is_sku\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"rating\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"urls\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Url\";}s:7:\"vendors\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Vendor\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:6:{i:0;s:2:\"id\";i:1;s:8:\"is_order\";i:2;s:6:\"is_sku\";i:3;s:4:\"code\";i:4;s:11:\"create_date\";i:5;s:11:\"change_date\";}s:4:\"type\";s:6:\"object\";}s:3:\"Url\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"admin\";O:8:\"stdClass\":2:{s:6:\"format\";s:3:\"uri\";s:4:\"type\";s:6:\"string\";}s:5:\"store\";O:8:\"stdClass\":2:{s:6:\"format\";s:3:\"uri\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Vendor\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Visit\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:16:\"last_pageview_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"pageview_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"visit_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"visitor_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:8:\"visit_id\";i:1;s:10:\"visitor_id\";i:2;s:11:\"pageview_id\";i:3;s:16:\"last_pageview_id\";}s:4:\"type\";s:6:\"object\";}}"
...
