---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":5:{s:11:\"description\";s:1185:\"The Dropbox **Core
  API** is the underlying interface for all of our official [Dropbox mobile apps](https://www.dropbox.com/mobile)\nand
  our [SDKs](https://www.dropbox.com/developers/core/sdk). It's the most direct way
  to access the API. This\nreference document is designed for those interested in
  developing for platforms not supported by the SDKs or for\nthose interested in exploring
  API features in detail.\n\nPlease refer to official Dropbox [developers documentation](https://www.dropbox.com/developers-v1/core/docs)
  for any\nadditional remarks.\n\nPlease note:\n  * `https://api-content.dropbox.com`
  end-point is covered by Dropbox Content API document (see `dropbox-content.yaml`)\n
  \ * `https://api-notify.dropbox.com` end-point is covered by Dropbox Notify Appendix
  document (see `dropbox-notify.yaml`)\n\n**OAuth note:** if you wish to try HTTP
  request directly from Swagger UI you have to authorize agains\n\"Swagger UI Test
  App\". This application is configured with following redirect URI:\n  * `http://localhost:8000/o2c.html`
  - Swagger UI running at `localhost`, port `8000`\n  * `http://localhost:8080/o2c.html`
  - Swagger UI running at `localhost`, port `8080`\n\nLast update: 2015-11-28\n\";s:7:\"version\";s:5:\"1.0.0\";s:5:\"title\";s:19:\"Dropbox
  Core API v1\";s:14:\"termsOfService\";s:48:\"https://www.dropbox.com/developers/reference/tos\";s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:7:\"Dropbox\";s:3:\"url\";s:34:\"https://www.dropbox.com/developers\";}}"
host: api.dropbox.com
basePath: /1
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":26:{s:12:\"ErrorMessage\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:5:\"error\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"Error
  description\";}}}s:11:\"OAuth2Token\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:12:\"access_token\";i:1;s:10:\"token_type\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"access_token\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"OAuth
  2 access token\";}s:10:\"token_type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:50:\"Token
  type; the token type will always be \"bearer\"\";s:4:\"enum\";a:1:{i:0;s:6:\"bearer\";}}}}s:15:\"UserAccountInfo\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:7:{i:0;s:12:\"display_name\";i:1;s:9:\"is_paired\";i:2;s:6:\"locale\";i:3;s:12:\"name_details\";i:4;s:10:\"quota_info\";i:5;s:13:\"referral_link\";i:6;s:3:\"uid\";}s:10:\"properties\";O:8:\"stdClass\":9:{s:3:\"uid\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:28:\"The
  user's unique Dropbox ID\";}s:12:\"display_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"The
  user's display name\";}s:12:\"name_details\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  user's name details\";s:4:\"$ref\";s:25:\"#/definitions/NameDetails\";}s:13:\"referral_link\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:61:\"The
  user's [referral link](https://www.dropbox.com/referrals)\";}s:7:\"country\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:48:\"The
  user's two-letter country code, if available\";}s:6:\"locale\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"Locale
  preference set by the user (e.g. en-us)\";}s:9:\"is_paired\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:62:\"If
  `true`, there is a paired account associated with this user\";}s:4:\"team\";O:8:\"stdClass\":2:{s:11:\"description\";s:75:\"If
  the user belongs to a team, contains team information; otherwise, `null`\";s:4:\"$ref\";s:18:\"#/definitions/Team\";}s:10:\"quota_info\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  user's quota information\";s:4:\"$ref\";s:23:\"#/definitions/QuotaInfo\";}}}s:11:\"NameDetails\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:13:\"familiar_name\";i:1;s:10:\"given_name\";i:2;s:7:\"surname\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"familiar_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"The
  locale-dependent familiar name for the user\";}s:10:\"given_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"The
  user's given name\";}s:7:\"surname\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"The
  user's surname\";}}}s:4:\"Team\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:7:\"team_id\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"The
  name of the team the user belongs to\";}s:7:\"team_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"The
  ID of the team the user belongs to\";}}}s:9:\"QuotaInfo\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:6:\"normal\";i:1;s:5:\"quota\";i:2;s:6:\"shared\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"shared\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:181:\"The
  user's used quota in shared folders (bytes); if the user belongs to a team, this
  includes all usage\ncontributed to the team's quota outside of the user's own used
  quota (bytes)\n\";}s:5:\"quota\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:116:\"The
  user's total quota allocation (bytes); if the user belongs to a team, the team's
  total quota\nallocation (bytes)\n\";}s:6:\"normal\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:55:\"The
  user's used quota outside of shared folders (bytes)\";}}}s:16:\"ResourceMetadata\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:9:{i:0;s:5:\"bytes\";i:1;s:4:\"icon\";i:2;s:6:\"is_dir\";i:3;s:4:\"path\";i:4;s:3:\"rev\";i:5;s:8:\"revision\";i:6;s:4:\"root\";i:7;s:4:\"size\";i:8;s:12:\"thumb_exists\";}s:10:\"properties\";O:8:\"stdClass\":21:{s:4:\"size\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:129:\"A
  human-readable description of the file size (translated by [locale](https://www.dropbox.com/developers/core/docs#param.locale))\";}s:5:\"bytes\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:22:\"The
  file size in bytes\";}s:4:\"path\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:48:\"Returns
  the canonical path to the file or folder\";}s:6:\"is_dir\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:42:\"Whether
  the given entry is a folder or not\";}s:10:\"is_deleted\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:86:\"Whether
  the given entry is deleted (only included if deleted files are being returned)\";}s:3:\"rev\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:164:\"A
  unique identifier for the current revision of a file; this field is the same `rev`
  as elsewhere in\nthe API and can be used to detect changes and avoid conflicts.\n\";}s:4:\"hash\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:218:\"A
  folder's `hash` is useful for indicating changes to the folder's contents in later
  calls to\n[/metadata](https://www.dropbox.com/developers/core/docs#metadata); this
  is roughly the folder equivalent\nto a file's `rev`\n\";}s:12:\"thumb_exists\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:152:\"`true`
  if the file is an image that can be converted to a thumbnail via the\n[/thumbnails](https://www.dropbox.com/developers/core/docs#thumbnails)
  call\n\";}s:10:\"photo_info\";O:8:\"stdClass\":2:{s:11:\"description\";s:88:\"Only
  returned when the `include_media_info` parameter is `true` and the file is an image\";s:4:\"$ref\";s:23:\"#/definitions/PhotoInfo\";}s:10:\"video_info\";O:8:\"stdClass\":2:{s:11:\"description\";s:87:\"Only
  returned when the `include_media_info` parameter is `true` and the file is a video\";s:4:\"$ref\";s:23:\"#/definitions/VideoInfo\";}s:4:\"icon\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:143:\"The
  name of the icon used to illustrate the file type in Dropbox's\n[icon library](https://www.dropbox.com/static/images/dropbox-api-icons.zip)\n\";}s:9:\"mime_type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"MIME
  type of a file\";}s:8:\"modified\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:171:\"The
  last time the file was modified on Dropbox, in the standard\n[date format](https://www.dropbox.com/developers/core/docs#date-format)
  (not included for the root folder)\n\";}s:12:\"client_mtime\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:418:\"For
  files, this is the modification time set by the desktop client when the file was
  added to Dropbox,\nin the standard [date format](https://www.dropbox.com/developers/core/docs#date-format);
  since this time\nis not verified (the Dropbox server stores whatever the desktop
  client sends up), this should only be used\nfor display purposes (such as sorting)
  and not, for example, to determine if a file has changed or not\n\";}s:4:\"root\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:240:\"The
  root or top-level folder depending on your [access level](https://www.dropbox.com/developers/reference/devguide#app-permissions);\nall
  paths returned are relative to this root level; permitted values are either `dropbox`
  or `app_folder`\n\";}s:8:\"contents\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:134:\"Collection
  of meta data about contents of this folder; if `list` is `false` the `contents`
  key will simply\nbe omitted from the result\n\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ResourceMetadata\";}}s:8:\"revision\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:78:\"A
  **deprecated** field that semi-uniquely identifies a file; use `rev` instead\";}s:13:\"shared_folder\";O:8:\"stdClass\":2:{s:11:\"description\";s:167:\"This
  field will be included for shared folders; if the `include_membership` parameter
  is passed, there will\nadditionally be a `membership` field and a `groups` field.\n\";s:4:\"$ref\";s:30:\"#/definitions/SharedFolderInfo\";}s:9:\"read_only\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:192:\"For
  shared folders, this field specifies whether the user has read-only access to the
  folder; for files\nwithin a shared folder, this specifies the read-only status of
  the parent shared folder\n\";}s:23:\"parent_shared_folder_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:93:\"For
  files within a shared folder, this field specifies the ID of the containing shared
  folder\";}s:8:\"modifier\";O:8:\"stdClass\":2:{s:11:\"description\";s:156:\"For
  files within a shared folder, this field specifies which user last modified this
  file; if the modifying\nuser no longer exists, the value will be `null`\n\";s:4:\"$ref\";s:28:\"#/definitions/MembershipUser\";}}}s:21:\"ResourceShortMetadata\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:9:{i:0;s:5:\"bytes\";i:1;s:4:\"icon\";i:2;s:6:\"is_dir\";i:3;s:4:\"path\";i:4;s:3:\"rev\";i:5;s:8:\"revision\";i:6;s:4:\"root\";i:7;s:4:\"size\";i:8;s:12:\"thumb_exists\";}s:10:\"properties\";O:8:\"stdClass\":16:{s:4:\"size\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:129:\"A
  human-readable description of the file size (translated by [locale](https://www.dropbox.com/developers/core/docs#param.locale))\";}s:5:\"bytes\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:22:\"The
  file size in bytes\";}s:4:\"path\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:48:\"Returns
  the canonical path to the file or folder\";}s:6:\"is_dir\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:42:\"Whether
  the given entry is a folder or not\";}s:10:\"is_deleted\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:86:\"Whether
  the given entry is deleted (only included if deleted files are being returned)\";}s:3:\"rev\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:164:\"A
  unique identifier for the current revision of a file; this field is the same `rev`
  as elsewhere in\nthe API and can be used to detect changes and avoid conflicts.\n\";}s:4:\"hash\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:218:\"A
  folder's `hash` is useful for indicating changes to the folder's contents in later
  calls to\n[/metadata](https://www.dropbox.com/developers/core/docs#metadata); this
  is roughly the folder equivalent\nto a file's `rev`\n\";}s:12:\"thumb_exists\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:152:\"`true`
  if the file is an image that can be converted to a thumbnail via the\n[/thumbnails](https://www.dropbox.com/developers/core/docs#thumbnails)
  call\n\";}s:4:\"icon\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:143:\"The
  name of the icon used to illustrate the file type in Dropbox's\n[icon library](https://www.dropbox.com/static/images/dropbox-api-icons.zip)\n\";}s:9:\"mime_type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"MIME
  type of a file\";}s:8:\"modified\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:171:\"The
  last time the file was modified on Dropbox, in the standard\n[date format](https://www.dropbox.com/developers/core/docs#date-format)
  (not included for the root folder)\n\";}s:4:\"root\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:240:\"The
  root or top-level folder depending on your [access level](https://www.dropbox.com/developers/reference/devguide#app-permissions);\nall
  paths returned are relative to this root level; permitted values are either `dropbox`
  or `app_folder`\n\";}s:8:\"revision\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:78:\"A
  **deprecated** field that semi-uniquely identifies a file; use `rev` instead\";}s:13:\"shared_folder\";O:8:\"stdClass\":2:{s:11:\"description\";s:167:\"This
  field will be included for shared folders; if the `include_membership` parameter
  is passed, there will\nadditionally be a `membership` field and a `groups` field.\n\";s:4:\"$ref\";s:30:\"#/definitions/SharedFolderInfo\";}s:9:\"read_only\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:192:\"For
  shared folders, this field specifies whether the user has read-only access to the
  folder; for files\nwithin a shared folder, this specifies the read-only status of
  the parent shared folder\n\";}s:23:\"parent_shared_folder_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:93:\"For
  files within a shared folder, this field specifies the ID of the containing shared
  folder\";}}}s:12:\"FileMetadata\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:11:{i:0;s:5:\"bytes\";i:1;s:4:\"icon\";i:2;s:6:\"is_dir\";i:3;s:9:\"mime_type\";i:4;s:8:\"modified\";i:5;s:4:\"path\";i:6;s:3:\"rev\";i:7;s:8:\"revision\";i:8;s:4:\"root\";i:9;s:4:\"size\";i:10;s:12:\"thumb_exists\";}s:10:\"properties\";O:8:\"stdClass\":12:{s:4:\"size\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:129:\"A
  human-readable description of the file size (translated by [locale](https://www.dropbox.com/developers/core/docs#param.locale))\";}s:5:\"bytes\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:22:\"The
  file size in bytes\";}s:4:\"path\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:48:\"Returns
  the canonical path to the file or folder\";}s:6:\"is_dir\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:42:\"Whether
  the given entry is a folder or not\";}s:10:\"is_deleted\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:86:\"Whether
  the given entry is deleted (only included if deleted files are being returned)\";}s:3:\"rev\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:164:\"A
  unique identifier for the current revision of a file; this field is the same `rev`
  as elsewhere in\nthe API and can be used to detect changes and avoid conflicts.\n\";}s:12:\"thumb_exists\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:152:\"`true`
  if the file is an image that can be converted to a thumbnail via the\n[/thumbnails](https://www.dropbox.com/developers/core/docs#thumbnails)
  call\n\";}s:4:\"icon\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:143:\"The
  name of the icon used to illustrate the file type in Dropbox's\n[icon library](https://www.dropbox.com/static/images/dropbox-api-icons.zip)\n\";}s:9:\"mime_type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"MIME
  type of a file\";}s:8:\"modified\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:171:\"The
  last time the file was modified on Dropbox, in the standard\n[date format](https://www.dropbox.com/developers/core/docs#date-format)
  (not included for the root folder)\n\";}s:4:\"root\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:240:\"The
  root or top-level folder depending on your [access level](https://www.dropbox.com/developers/reference/devguide#app-permissions);\nall
  paths returned are relative to this root level; permitted values are either `dropbox`
  or `app_folder`\n\";}s:8:\"revision\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:78:\"A
  **deprecated** field that semi-uniquely identifies a file; use `rev` instead\";}}}s:9:\"PhotoInfo\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:8:\"lat_long\";i:1;s:10:\"time_taken\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"time_taken\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:79:\"Photo
  creation [time](https://www.dropbox.com/developers/core/docs#date-format)\";}s:8:\"lat_long\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:39:\"GPS
  coordinates - [latitude, longitude]\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}}}}s:9:\"VideoInfo\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:8:\"duration\";i:1;s:8:\"lat_long\";i:2;s:10:\"time_taken\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"time_taken\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:79:\"Video
  creation [time](https://www.dropbox.com/developers/core/docs#date-format)\";}s:8:\"lat_long\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:39:\"GPS
  coordinates - [latitude, longitude]\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}}s:8:\"duration\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:35:\"Length
  of the video in milliseconds\";}}}s:16:\"SharedFolderInfo\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:6:\"groups\";i:1;s:2:\"id\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"ID
  of the shared folder\";}s:6:\"groups\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:54:\"???
  Group names (documentation is not detailed enough)\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:10:\"membership\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:38:\"Members
  who have access to this folder\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/MembershipInfo\";}}}}s:14:\"MembershipInfo\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:11:\"access_type\";i:1;s:6:\"active\";i:2;s:4:\"user\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"user\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Short
  description of a user\";s:4:\"$ref\";s:28:\"#/definitions/MembershipUser\";}s:11:\"access_type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:84:\"Member
  access type; e.g. \"owner\", \"editor\", etc. (TODO find out all possible values)\";}s:6:\"active\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:45:\"Indicates
  whether membership is active or not\";}}}s:14:\"MembershipUser\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:4:{i:0;s:12:\"display_name\";i:1;s:9:\"member_id\";i:2;s:9:\"same_team\";i:3;s:3:\"uid\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"uid\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:28:\"The
  user's unique Dropbox ID\";}s:12:\"display_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"The
  user's display name\";}s:9:\"same_team\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:68:\"Indicates
  whether the user is on the same team as the linked account\";}s:9:\"member_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"The
  member ID of the user\";}}}s:11:\"DeltaResult\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:4:{i:0;s:6:\"cursor\";i:1;s:7:\"entries\";i:2;s:8:\"has_more\";i:3;s:5:\"reset\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"reset\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:293:\"If
  `true`, clear your local state before processing the delta entries. `reset` is always
  `true` on the\ninitial call to `/delta` (i.e. when no `cursor` is passed in); otherwise,
  it is `true` in rare situations,\nsuch as after server or account maintenance, or
  if a user deletes their app folder\n\";}s:6:\"cursor\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:118:\"A
  string that encodes the latest information that has been returned; on the next call
  to `/delta`, pass in\nthis value\n\";}s:8:\"has_more\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:207:\"If
  `true`, then there are more entries available; you can call `/delta` again immediately
  to retrieve those\nentries; if `false`, then wait for at least five minutes (preferably
  longer) before checking again\n\";}s:7:\"entries\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:223:\"A
  list of \"delta entries\"; each delta entry is a 2-item list, where first item is
  resource path and second\nitem holds resource metadata or `null` if the resource
  is deleted - `[ <path>, <metadata> ]`, or\n`[ <path>, null ]`\n\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/DeltaEntry\";}}}}s:10:\"DeltaEntry\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:267:\"**Note:**
  Unfortunately Swagger does not support arrays of objects with different type.\n\nEach
  delta entry is a 2-item list where first item is \"string\" that indicates a path
  and second is\n`ResourceMetadata` object or `null` if indicated path does not exist
  any more.\n\";s:5:\"items\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  file/folder metadata or `null`\";s:4:\"$ref\";s:30:\"#/definitions/ResourceMetadata\";}}s:10:\"CursorInfo\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:6:\"cursor\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"cursor\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:107:\"A
  string that encodes the latest server state, as would be returned by `/delta` when
  `has_more` is `false`.\";}}}s:9:\"Revisions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:23:\"List
  of file revisions.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/FileMetadata\";}}s:12:\"SearchResult\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:60:\"List
  of metadata entries for any matching files and folders.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/ResourceShortMetadata\";}}s:16:\"SharedLinkResult\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:7:\"expires\";i:1;s:3:\"url\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"url\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Actual
  shared link URL\";}s:7:\"expires\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:113:\"Link's
  expiration date in Dropbox's usual [date format](https://www.dropbox.com/developers/core/docs#date-format)\";}s:10:\"visibility\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:68:\"Indicates
  what (if any) restrictions are set on this particular link\";s:4:\"enum\";a:5:{i:0;s:6:\"PUBLIC\";i:1;s:9:\"TEAM_ONLY\";i:2;s:8:\"PASSWORD\";i:3;s:17:\"TEAM_AND_PASSWORD\";i:4;s:18:\"SHARED_FOLDER_ONLY\";}}}}s:15:\"MediaLinkResult\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:7:\"expires\";i:1;s:3:\"url\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"url\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"An
  URL that serves the media directly\";}s:7:\"expires\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:113:\"Link's
  expiration date in Dropbox's usual [date format](https://www.dropbox.com/developers/core/docs#date-format)\";}}}s:13:\"CopyRefResult\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:8:\"copy_ref\";i:1;s:7:\"expires\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"copy_ref\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"Copy
  reference to the specified file\";}s:7:\"expires\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:116:\"Reference
  expiration date in Dropbox's usual [date format](https://www.dropbox.com/developers/core/docs#date-format)\";}}}s:20:\"SharedFolderMetadata\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:7:{i:0;s:11:\"access_type\";i:1;s:6:\"groups\";i:2;s:5:\"owner\";i:3;s:4:\"path\";i:4;s:16:\"shared_folder_id\";i:5;s:18:\"shared_folder_name\";i:6;s:18:\"shared_link_policy\";}s:10:\"properties\";O:8:\"stdClass\":8:{s:16:\"shared_folder_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"ID
  of the shared folder\";}s:18:\"shared_folder_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"Shared
  folder name\";}s:4:\"path\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"Path
  to the shared folder\";}s:11:\"access_type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:84:\"Member
  access type; e.g. \"owner\", \"editor\", etc. (TODO find out all possible values)\";}s:18:\"shared_link_policy\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:72:\"Shared
  link policy; e.g. \"all\", etc. (TODO find out all possible values)\";}s:5:\"owner\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Owner
  of this shared folder\";s:4:\"$ref\";s:28:\"#/definitions/MembershipUser\";}s:6:\"groups\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:54:\"???
  Group names (documentation is not detailed enough)\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:10:\"membership\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:38:\"Members
  who have access to this folder\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/MembershipInfo\";}}}}s:13:\"SharedFolders\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:32:\"List
  of shared folders metadata.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/SharedFolderMetadata\";}}s:9:\"JobResult\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:3:\"job\";i:1;s:6:\"status\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"status\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"Job
  status\";s:4:\"enum\";a:4:{i:0;s:7:\"PENDING\";i:1;s:11:\"DOWNLOADING\";i:2;s:8:\"COMPLETE\";i:3;s:6:\"FAILED\";}}s:3:\"job\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"Job
  ID to check the job's status\";}}}s:9:\"JobStatus\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:6:\"status\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"status\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"Job
  status\";s:4:\"enum\";a:4:{i:0;s:7:\"PENDING\";i:1;s:11:\"DOWNLOADING\";i:2;s:8:\"COMPLETE\";i:3;s:6:\"FAILED\";}}s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:55:\"Failure
  description; only present if status is `FAILED`\";}}}}"
...
