---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:27:\"AvaTax Brazil - Account
  API\";s:11:\"description\";s:333:\"The Avatax-Brazil API exposes the most commonly
  services available for interacting with the AvaTax-Brazil services, allowing calculation
  of taxes, issuing electronic invoice documents and modifying existing transactions
  when allowed by tax authorities.  This API is exclusively for use by business with
  a physical presence in Brazil.\";s:7:\"version\";s:3:\"1.0\";}"
host: avataxbr-sandbox.avalarabrasil.com.br
basePath: /v2
paths:
  /accounts/companies:
    parameters:
    - $ref: '#/parameters/header_jwt'
    get:
      operationId: getCompaniesList
      summary: Retrieve Companies by account
      description: Retrieve list companies of one account
      produces:
      - application/json
      tags:
      - Account
      responses:
        200:
          description: List of Companies by Account
          headers:
            X-Pagination-Current-Page:
              description: The current page. Defaults to 1.
              type: number
            X-Pagination-Limit:
              description: The per page limit. Currently set to 10 but subject to
                change at any time (max 100).
              type: number
            X-Pagination-Total-Pages:
              description: The total number of pages in the result set. Use this along
                with X-Pagination-Current-Page to determine if there are any remaining
                pages/records to be retrieved.
              type: number
            X-Pagination-Total-Count:
              description: The total number of records across all pages.
              type: number
          schema:
            type: array
            items:
              $ref: '#/definitions/AccountCompany'
        400:
          $ref: '#/responses/400_BadRequest'
        401:
          $ref: '#/responses/401_Unauthorized'
        403:
          $ref: '#/responses/403_Forbidden'
        404:
          $ref: '#/responses/404_NotFound'
        429:
          $ref: '#/responses/429_TooManyRequests'
        500:
          $ref: '#/responses/500_InternalServerError'
        503:
          $ref: '#/responses/503_ServiceUnavailable'
    post:
      operationId: createAccountCompany
      summary: Create company and your data configuration
      description: This method operation create a company for a accountn
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: body
        in: body
        description: Company Code
        required: true
        schema:
          $ref: '#/definitions/Company'
      tags:
      - Account
      responses:
        201:
          $ref: '#/responses/201_Created'
        400:
          $ref: '#/responses/400_BadRequest'
        401:
          $ref: '#/responses/401_Unauthorized'
        403:
          $ref: '#/responses/403_Forbidden'
        404:
          $ref: '#/responses/404_NotFound'
        429:
          $ref: '#/responses/429_TooManyRequests'
        500:
          $ref: '#/responses/500_InternalServerError'
        503:
          $ref: '#/responses/503_ServiceUnavailable'
  /accounts/companies/{companyId}:
    parameters:
    - $ref: '#/parameters/header_jwt'
    - $ref: '#/parameters/path_companyId'
    delete:
      operationId: deleteAccountCompany
      description: Delete relation Account x company
      tags:
      - Company
      responses:
        204:
          $ref: '#/responses/204_NoContent'
        400:
          $ref: '#/responses/400_BadRequest'
        401:
          $ref: '#/responses/401_Unauthorized'
        403:
          $ref: '#/responses/403_Forbidden'
        404:
          $ref: '#/responses/404_NotFound'
        429:
          $ref: '#/responses/429_TooManyRequests'
        500:
          $ref: '#/responses/500_InternalServerError'
        503:
          $ref: '#/responses/503_ServiceUnavailable'
produces:
- application/json
schemes:
- http
definitions: !php/object "O:8:\"stdClass\":7:{s:14:\"AccountCompany\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:9:\"companyId\";i:1;s:11:\"companyCode\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"companyId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:11:\"companyCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"companyName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:7:\"Company\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:5:{i:0;s:4:\"code\";i:1;s:12:\"officialName\";i:2;s:4:\"name\";i:3;s:10:\"entityType\";i:4;s:16:\"federalTaxRegime\";}s:10:\"properties\";O:8:\"stdClass\":19:{s:4:\"code\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:60;s:11:\"description\";s:239:\"string
  is a code maintained by the client application to uniquely identify the company
  for which this transaction is being recorded. It is unique within the context of
  an Account. It will be limited to 60 characters when creating a Company\";}s:12:\"officialName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:150;s:11:\"description\";s:37:\"Official
  Company name (Raz\xE3o Social)\";}s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:150;s:11:\"description\";s:93:\"Company
  name (DBA - Nome de Fantasia),  Used to identify branches/subsidiaries with same
  name\";}s:10:\"entityType\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/EntityType\";}s:16:\"subjectToSRF1234\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:99:\"Company
  has participation of state-owned capital (it will be considerated like a government
  entity)\";}s:16:\"federalTaxRegime\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/FederalTaxRegime\";}s:12:\"pisSubjectTo\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:7:\"TAXABLE\";i:1;s:11:\"NOT
  TAXABLE\";i:2;s:6:\"EXEMPT\";}s:11:\"description\";s:325:\"this flag informs if
  this company is subject to this tax\nthe default value for this property is TAXABLE,\nwhen
  set to TAXABLE it doesn't mean that all transaction will be TAXABLE. The system
  will analise other rules to identify exemptions/exceptions\nwhen set to NOT TAXABLE
  or EXEMPT, the system will not analise other rules.\n\";}s:15:\"cofinsSubjectTo\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:7:\"TAXABLE\";i:1;s:11:\"NOT
  TAXABLE\";i:2;s:6:\"EXEMPT\";}s:11:\"description\";s:325:\"this flag informs if
  this company is subject to this tax\nthe default value for this property is TAXABLE,\nwhen
  set to TAXABLE it doesn't mean that all transaction will be TAXABLE. The system
  will analise other rules to identify exemptions/exceptions\nwhen set to NOT TAXABLE
  or EXEMPT, the system will not analise other rules.\n\";}s:13:\"csllSubjectTo\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:7:\"TAXABLE\";i:1;s:11:\"NOT
  TAXABLE\";i:2;s:6:\"EXEMPT\";}s:11:\"description\";s:325:\"this flag informs if
  this company is subject to this tax\nthe default value for this property is TAXABLE,\nwhen
  set to TAXABLE it doesn't mean that all transaction will be TAXABLE. The system
  will analise other rules to identify exemptions/exceptions\nwhen set to NOT TAXABLE
  or EXEMPT, the system will not analise other rules.\n\";}s:36:\"receiptsAreFullNoCumulativePisCofins\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:1277:\"When
  th company is REAL PROFIT usually it operates under a Non-Cumulative PIS/COFINS
  regime\nBut exist some services that are always Cumulative regime.\nIf the company
  has all receipts from Non-Cumulative services this flag will be set to True.\nThis
  flag informs special conditions to credit of PIS/COFINS when this company is out
  of Free zone and  purchases from Free Zone Company\nQuando uma empresa fora da Zona
  Franca adquire uma produto ou servi\xE7o de uma empresa situada na Zona Franca de
  Manaus, o cr\xE9dito de PIS E COFINS segue estas aliquotas diferenciadas.\nFundamenta\xE7\xE3o,
  art. 5\xBA da Instru\xE7\xE3o Normativa SRF n\xBA 546/2005; art. 3\xBA, \xA7 12
  da Lei n\xBA 10.637/2002; art. 3\xBA, \xA7 17 da Lei n\xBA 10.833/2003; art. 4\xBA
  da Lei n\xBA 11.307/2006.\nDESTINAT\xC1RIO AL\xCDQUOTAS\nPIS COFINS\na) Venda efetuada
  a pessoa jur\xEDdica estabelecida fora da Zona Franca de Manaus, que apure a Contribui\xE7\xE3o
  para o PIS/PASEP no regime de n\xE3o-cumulatividade d\xE9bito 0,65% 3% cr\xE9dito
  1% 4,6%\nc) Venda efetuada a pessoa jur\xEDdica estabelecida fora da Zona Franca
  de Manaus, que apure o imposto de renda com base no lucro real e que tenha sua receita,
  total ou parcialmente, exclu\xEDda do regime de incid\xEAncia n\xE3o-cumulativa
  da Contribui\xE7\xE3o para o PIS/PASEP d\xE9bito 1,3% 6% cr\xE9dito 1,65% 7,6%\n\";}s:21:\"inssWithholdSubjectTo\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:79:\"On
  purchase transaction, to force withholding INSS this Flag can be set to True\";}s:20:\"issWithholdSubjectTo\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:75:\"On
  purchase transaction, to force withhold ISS this Flag can be set to True\";}s:21:\"irrfWithholdSubjectTo\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:174:\"On
  purchase transaction, if this flag is FALSE, the system will not withhold IRRF.\nif
  this flag is TRUE the system will analise other rules to define if will have witholding\n\";}s:27:\"icmsRateForSimplestaxregime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:131:\"Actual
  ICMS Rate for this company (if the company is Tax Regime Simplified).\nAliquota
  de ICMS da companhia caso Optante do Simples\n\";}s:41:\"isExemptByGrossRevenueForSimplestaxregime\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:190:\"ICMS
  Exempt when Tax Regime is Simplified because total gross revenue is bellow amount
  defined by state (see PARAN\xC1 State)\nIsen\xE7\xE3o do ICMS no Simples Nacional
  para faixa de receita bruta\n\";}s:25:\"subjectToPayrollTaxRelief\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:47:\"Sujeito
  \xE0 desonera\xE7\xE3o de folha de pagamento.\";}s:13:\"configuration\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"certificate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:52:\"digital
  certificate A1 model, p12, encoded by base64\";}s:14:\"certificatepwd\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"certificate
  password\";}s:21:\"certificateexpiration\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"expiration
  date of this certificate\";}s:4:\"logo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"company
  logo image encoded by base64\";}s:8:\"tpImpNFe\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:103:\"how
  the document will be printed\n- '0' # without DANFE;\n- '1' # DANFe Letter;\n- '2'
  # DANFe Landscape;\n\";s:4:\"enum\";a:3:{i:0;s:1:\"0\";i:1;s:1:\"1\";i:2;s:1:\"2\";}}s:9:\"tpImpNFCe\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:104:\"how
  the document will be printed\n- '0' # without DANFE;\n- '4' # DANFe NFC-e;\n- '5'
  # DANFe NFC-e e-mail\n\";s:4:\"enum\";a:3:{i:0;s:1:\"0\";i:1;s:1:\"4\";i:2;s:1:\"5\";}}}}s:10:\"mailServer\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:4:\"user\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"User
  for login on email server\";}s:8:\"password\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"Password
  to login on email server\";}s:11:\"smtpAddress\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"smtp
  address to email server\";}s:4:\"port\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:4:\"port\";}s:9:\"emailFrom\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:68:\"email
  address to identify the sender e-mail, to send a XML and DANFE\";}s:8:\"protocol\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:3:\"ssl\";i:1;s:3:\"tls\";}s:11:\"description\";s:19:\"protocol
  SSL or TLS\";}s:22:\"templatemessageToEmail\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"Message
  to add to email body\";}}}s:23:\"authorizedToDownloadNFe\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Person
  or company authorized to downloadNFe\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"federalTaxId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"pattern\";s:12:\"[0-9]{11,14}\";s:11:\"description\";s:27:\"Federal
  tax id, CNPJ or CPF\";}}}}}}s:15:\"ValidationError\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"errors\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Error\";}}}}s:5:\"Error\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:7:\"message\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"field\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"in\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:6:\"params\";i:1;s:4:\"body\";i:2;s:5:\"query\";}}}}s:7:\"Message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:10:\"EntityType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:6:{i:0;s:8:\"business\";i:1;s:10:\"individual\";i:2;s:17:\"federalGovernment\";i:3;s:15:\"stateGovernment\";i:4;s:14:\"cityGovernment\";i:5;s:7:\"foreign\";}s:11:\"description\";s:98:\"Entity
  Type (business, individual, federal government, state government, city government,
  foreign)\";}s:16:\"FederalTaxRegime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:7:{i:0;s:10:\"realProfit\";i:1;s:15:\"estimatedProfit\";i:2;s:10:\"simplified\";i:3;s:28:\"simplifiedOverGrossthreshold\";i:4;s:22:\"simplifiedEntrepreneur\";i:5;s:13:\"notApplicable\";i:6;s:10:\"individual\";}s:11:\"description\";s:403:\"-
  Federal tax regime\n- realProfit - REAL PROFIT LUCRO REAL\n- estimatedProfit - ESTIMATED
  PROFIT / LUCRO PRESUMIDO\n- simplified - SIMPLIFIED - OPTANTE TO SIMPLES\n- simplifiedOverGrossthreshold
  - OPTANTE DO SIMPLES COM LIMITE DE GROSS REVENUE\n- simplifiedEntrepreneur - SIMPLIFIED
  ENTREPRENEUR / MEI MICRO EMPREENDEDOR INDIVIDUAL \n- notApplicable - Not Applicable
  1 \n- individual - INDIVIDUAL / INDIVIDUO\n\";}}"
...
