---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:25:\"AvaTax Brazil - Items
  API\";s:11:\"description\";s:333:\"The Avatax-Brazil API exposes the most commonly
  services available for interacting with the AvaTax-Brazil services, allowing calculation
  of taxes, issuing electronic invoice documents and modifying existing transactions
  when allowed by tax authorities.  This API is exclusively for use by business with
  a physical presence in Brazil.\";s:7:\"version\";s:3:\"1.0\";}"
host: avataxbr-sandbox.avalarabrasil.com.br
basePath: /v2
paths:
  /agasts?service:
    parameters:
    - $ref: '#/parameters/header_jwt'
    get:
      operationId: getAgastListService
      description: This operation return agast configurations that match with parameters
        queriesn
      parameters:
      - name: text
        in: query
        description: Text query
        type: string
        maxLength: 40
      tags:
      - AGAST Service
      responses:
        200:
          description: Sucessful response
          schema:
            title: List of AGASTS
            type: array
            items:
              type: object
              properties:
                description:
                  type: string
                  description: Item description
                id:
                  type: string
                  description: uuid
                code:
                  type: string
                  description: Custom item code
        400:
          $ref: '#/responses/400_BadRequest'
        401:
          $ref: '#/responses/401_Unauthorized'
        403:
          $ref: '#/responses/403_Forbidden'
        404:
          $ref: '#/responses/404_NotFound'
        429:
          $ref: '#/responses/429_TooManyRequests'
        500:
          $ref: '#/responses/500_InternalServerError'
        503:
          $ref: '#/responses/503_ServiceUnavailable'
    post:
      operationId: createAgastService
      summary: Create agast
      description: This method operation create a AGASTn
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: body
        in: body
        description: Transaction Message
        required: true
        schema:
          $ref: '#/definitions/AgastService'
      tags:
      - AGAST Service
      responses:
        201:
          $ref: '#/responses/201_Created'
        400:
          $ref: '#/responses/400_BadRequest'
        401:
          $ref: '#/responses/401_Unauthorized'
        403:
          $ref: '#/responses/403_Forbidden'
        404:
          $ref: '#/responses/404_NotFound'
        429:
          $ref: '#/responses/429_TooManyRequests'
        500:
          $ref: '#/responses/500_InternalServerError'
        503:
          $ref: '#/responses/503_ServiceUnavailable'
  /agasts/{code}?service:
    parameters:
    - $ref: '#/parameters/header_jwt'
    - $ref: '#/parameters/path_agastCode'
    get:
      operationId: getAgastService
      summary: Get agast
      description: This operation return agast configurations that match with parameters
        queriesn
      tags:
      - AGAST Service
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/AgastService'
        400:
          $ref: '#/responses/400_BadRequest'
        401:
          $ref: '#/responses/401_Unauthorized'
        403:
          $ref: '#/responses/403_Forbidden'
        404:
          $ref: '#/responses/404_NotFound'
        429:
          $ref: '#/responses/429_TooManyRequests'
        500:
          $ref: '#/responses/500_InternalServerError'
        503:
          $ref: '#/responses/503_ServiceUnavailable'
    put:
      operationId: updateAgastService
      summary: Update agast
      description: This method operation create a agastn
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: body
        in: body
        description: Transaction Message
        required: true
        schema:
          $ref: '#/definitions/AgastService'
      tags:
      - AGAST Service
      responses:
        204:
          $ref: '#/responses/204_NoContent'
        400:
          $ref: '#/responses/400_BadRequest'
        401:
          $ref: '#/responses/401_Unauthorized'
        403:
          $ref: '#/responses/403_Forbidden'
        404:
          $ref: '#/responses/404_NotFound'
        429:
          $ref: '#/responses/429_TooManyRequests'
        500:
          $ref: '#/responses/500_InternalServerError'
        503:
          $ref: '#/responses/503_ServiceUnavailable'
    delete:
      operationId: deleteAgastService
      summary: Delete Agast
      description: Delete Agast
      tags:
      - AGAST Service
      responses:
        204:
          $ref: '#/responses/204_NoContent'
        400:
          $ref: '#/responses/400_BadRequest'
        401:
          $ref: '#/responses/401_Unauthorized'
        403:
          $ref: '#/responses/403_Forbidden'
        404:
          $ref: '#/responses/404_NotFound'
        429:
          $ref: '#/responses/429_TooManyRequests'
        500:
          $ref: '#/responses/500_InternalServerError'
        503:
          $ref: '#/responses/503_ServiceUnavailable'
  /agasts?goods:
    parameters:
    - $ref: '#/parameters/header_jwt'
    get:
      operationId: getAgastListGoods
      description: This operation return agast configurations that match with parameters
        queriesn
      parameters:
      - name: text
        in: query
        description: Text query
        type: string
        maxLength: 40
      tags:
      - AGAST Goods
      responses:
        200:
          description: Sucessful response
          schema:
            title: List of AGASTS
            type: array
            items:
              type: object
              properties:
                description:
                  type: string
                  description: Item description
                id:
                  type: string
                  description: uuid
                code:
                  type: string
                  description: Custom item code
        400:
          $ref: '#/responses/400_BadRequest'
        401:
          $ref: '#/responses/401_Unauthorized'
        403:
          $ref: '#/responses/403_Forbidden'
        404:
          $ref: '#/responses/404_NotFound'
        429:
          $ref: '#/responses/429_TooManyRequests'
        500:
          $ref: '#/responses/500_InternalServerError'
        503:
          $ref: '#/responses/503_ServiceUnavailable'
    post:
      operationId: createAgastGoods
      summary: Create agast
      description: This method operation create a AGASTn
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: body
        in: body
        description: Transaction Message
        required: true
        schema:
          $ref: '#/definitions/AgastGoods'
      tags:
      - AGAST Goods
      responses:
        201:
          $ref: '#/responses/201_Created'
        400:
          $ref: '#/responses/400_BadRequest'
        401:
          $ref: '#/responses/401_Unauthorized'
        403:
          $ref: '#/responses/403_Forbidden'
        404:
          $ref: '#/responses/404_NotFound'
        429:
          $ref: '#/responses/429_TooManyRequests'
        500:
          $ref: '#/responses/500_InternalServerError'
        503:
          $ref: '#/responses/503_ServiceUnavailable'
  /agasts/{code}?goods:
    parameters:
    - $ref: '#/parameters/header_jwt'
    - $ref: '#/parameters/path_agastCode'
    get:
      operationId: getAgastGoods
      summary: Get agast
      description: This operation return agast configurations that match with parameters
        queriesn
      tags:
      - AGAST Goods
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/AgastGoods'
        400:
          $ref: '#/responses/400_BadRequest'
        401:
          $ref: '#/responses/401_Unauthorized'
        403:
          $ref: '#/responses/403_Forbidden'
        404:
          $ref: '#/responses/404_NotFound'
        429:
          $ref: '#/responses/429_TooManyRequests'
        500:
          $ref: '#/responses/500_InternalServerError'
        503:
          $ref: '#/responses/503_ServiceUnavailable'
    put:
      operationId: updateAgastGoods
      summary: Update agast
      description: This method operation create a agastn
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: body
        in: body
        description: Transaction Message
        required: true
        schema:
          $ref: '#/definitions/AgastGoods'
      tags:
      - AGAST Goods
      responses:
        204:
          $ref: '#/responses/204_NoContent'
        400:
          $ref: '#/responses/400_BadRequest'
        401:
          $ref: '#/responses/401_Unauthorized'
        403:
          $ref: '#/responses/403_Forbidden'
        404:
          $ref: '#/responses/404_NotFound'
        429:
          $ref: '#/responses/429_TooManyRequests'
        500:
          $ref: '#/responses/500_InternalServerError'
        503:
          $ref: '#/responses/503_ServiceUnavailable'
    delete:
      operationId: deleteAgastGoods
      summary: Delete Agast
      description: Delete Agast
      tags:
      - AGAST Goods
      responses:
        204:
          $ref: '#/responses/204_NoContent'
        400:
          $ref: '#/responses/400_BadRequest'
        401:
          $ref: '#/responses/401_Unauthorized'
        403:
          $ref: '#/responses/403_Forbidden'
        404:
          $ref: '#/responses/404_NotFound'
        429:
          $ref: '#/responses/429_TooManyRequests'
        500:
          $ref: '#/responses/500_InternalServerError'
        503:
          $ref: '#/responses/503_ServiceUnavailable'
produces:
- application/json
schemes:
- http
definitions: !php/object "O:8:\"stdClass\":13:{s:10:\"AgastGoods\";O:8:\"stdClass\":2:{s:5:\"title\";s:28:\"Service
  Agast Specialization\";s:5:\"allOf\";a:3:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Agast\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:2:\"ex\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:28:\"hsCode
  Exception for IPI tax\";}s:4:\"cest\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"pattern\";s:8:\"[0-9]{7}\";s:11:\"description\";s:69:\"tax
  substitution code - Codigo especificador da Substuicao Tributaria\";}s:4:\"cean\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"pattern\";s:30:\"[0-9]{0}|[0-9]{8}|[0-9]{12,14}\";s:11:\"description\";s:11:\"GTIN
  NUMBER\";}s:6:\"cstIPI\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:169:\"Inform
  if this process is subject to IPI taxation on output process\n- 'T'  # TAXABLE\n-
  'Z'  # TAXABLE WITH RATE=0.00\n- 'E'  # EXEMPT\n- 'N'  # NO TAXABLE\n- 'I'  # IMMUNE\n\";s:4:\"enum\";a:5:{i:0;s:1:\"T\";i:1;s:1:\"Z\";i:2;s:1:\"E\";i:3;s:1:\"N\";i:4;s:1:\"I\";}}s:16:\"ipiLegalTaxClass\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:280:\"Legal
  tax classifica\xE7\xE3o for IPI (enquadramento tribut\xE1rio)\nWhen the process
  has CST IPI 52 or 54, it is mandatory to inform a Reason Code, see Anexo XIV - C\xF3digo
  de Enquadramento Legal do IPI from  http://www.nfe.fazenda.gov.br/portal/exibirArquivo.aspx?conteudo=mCnJajU4BKU=\n\";}s:14:\"ipiLegalReason\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:60;s:11:\"description\";s:70:\"Code
  for the IPI legal reason, this message will be placed on invoice.\";}s:19:\"specialProductClass\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:11:{i:0;s:6:\"OTHERS\";i:1;s:13:\"COMMUNICATION\";i:2;s:6:\"ENERGY\";i:3;s:9:\"TRANSPORT\";i:4;s:18:\"FUEL
  AND LUBRICANT\";i:5;s:7:\"VEHICLE\";i:6;s:19:\"ALCOHOLIC BEVERAGES\";i:7;s:7:\"WEAPONS\";i:8;s:4:\"AMMO\";i:9;s:7:\"PERFUME\";i:10;s:7:\"TOBACCO\";}}s:8:\"icmsConf\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:13:\"One
  per State\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/AgastGoods_IcmsConf\";}}}}i:2;O:8:\"stdClass\":1:{s:5:\"title\";s:28:\"Service
  Agast Specialization\";}}}s:12:\"AgastService\";O:8:\"stdClass\":2:{s:5:\"title\";s:28:\"Service
  Agast Specialization\";s:5:\"allOf\";a:3:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Agast\";}i:1;O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:5:\"title\";s:28:\"Service
  Agast Specialization\";s:10:\"properties\";O:8:\"stdClass\":6:{s:21:\"pisCofinsTaxReporting\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:10:\"cumulative\";i:1;s:12:\"noCumulative\";}s:11:\"description\";s:93:\"when
  the company is Real Profit inform if this item is cumulative or no cumulative by
  default\";}s:21:\"accruableCSLLTaxation\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"Inform
  if this item by nature is subject to CSLL taxation or exempt\n- 'T' # TAXABLE\n-
  'E' # EXEMPT\n\";s:4:\"enum\";a:2:{i:0;s:1:\"T\";i:1;s:1:\"E\";}}s:21:\"csllExemptLegalReason\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:1024;}s:25:\"csllExemptLegalReasonCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"withholding\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/AgastService_Withhold\";}s:19:\"issDueatDestination\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:73:\"for
  service items with City Jurisdiction, inform where the ISS tax is due\";}}}i:2;O:8:\"stdClass\":1:{s:5:\"title\";s:28:\"Service
  Agast Specialization\";}}}s:15:\"ValidationError\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"errors\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Error\";}}}}s:5:\"Error\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:7:\"message\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"field\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"in\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:6:\"params\";i:1;s:4:\"body\";i:2;s:5:\"query\";}}}}s:7:\"Message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:5:\"Agast\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:4:\"code\";i:1;s:8:\"codeType\";}s:10:\"properties\";O:8:\"stdClass\":15:{s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:181:\"Agast
  Code. AGAST (Avalara Goods and Services Types) are preset products with default
  tax definitions available to be used as provided or copied to create an specific
  comapany item.\";}s:11:\"description\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:200;s:11:\"description\";s:17:\"Agast
  Description\";}s:13:\"lifeTimeStart\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"date
  when this configuration values starts\";}s:11:\"lifeTimeEnd\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"date
  when this configuration values expire\";}s:8:\"inactive\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:34:\"set
  this configuration to Inactive\";}s:6:\"hsCode\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:8;s:11:\"description\";s:30:\"harmonized
  code, NCM or LC 116\";}s:8:\"codeType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:4:{i:0;s:3:\"NCM\";i:1;s:3:\"NBS\";i:2;s:5:\"LC116\";i:3;s:19:\"SERVICE
  UNREGULATED\";}}s:20:\"accruablePISTaxation\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:166:\"Inform
  if this item by nature is subject to PIS taxation or exempt\n- 'T' # TAXABLE\n-
  'Z' # TAXABLE WITH RATE=0.00\n- 'E' # EXEMPT\n- 'H' # SUSPENDED\n- 'N' # NO TAXABLE\n\";s:4:\"enum\";a:5:{i:0;s:1:\"T\";i:1;s:1:\"Z\";i:2;s:1:\"E\";i:3;s:1:\"H\";i:4;s:1:\"N\";}}s:24:\"pisExemptLegalReasonCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:122:\"When
  exempt, taxable with zero rate, suspended, not taxable, this field informs the official
  code number for the exemption\";}s:20:\"pisExemptLegalReason\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:1024;s:11:\"description\";s:66:\"When
  specified a reason, this field holds the reason's description\";}s:23:\"accruableCOFINSTaxation\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:169:\"Inform
  if this item by nature is subject to COFINS taxation or exempt\n- 'T' # TAXABLE\n-
  'Z' # TAXABLE WITH RATE=0.00\n- 'E' # EXEMPT\n- 'H' # SUSPENDED\n- 'N' # NO TAXABLE\n\";s:4:\"enum\";a:5:{i:0;s:1:\"T\";i:1;s:1:\"Z\";i:2;s:1:\"E\";i:3;s:1:\"H\";i:4;s:1:\"N\";}}s:27:\"cofinsExemptLegalReasonCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:122:\"When
  exempt, taxable with zero rate, suspended, not taxable, this field informs the official
  code number for the exemption\";}s:23:\"cofinsExemptLegalReason\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:1024;s:11:\"description\";s:66:\"When
  specified a reason, this field holds the reason's description\";}s:25:\"pisCofinsCreditNotAllowed\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:101:\"on
  Real Profit Purchase transaction, inform if this item allows tax credits when it
  is non-cumulative\";}s:14:\"federalTaxRate\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:51:\"This
  is an array of tax object related to an agast.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/TaxTypeRate\";}}}}s:19:\"AgastGoods_IcmsConf\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:31:\"See
  definitions IcmsConfByState\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/StateEnum\";}}}s:9:\"StateEnum\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:2;s:4:\"enum\";a:27:{i:0;s:2:\"AC\";i:1;s:2:\"AL\";i:2;s:2:\"AP\";i:3;s:2:\"AM\";i:4;s:2:\"BA\";i:5;s:2:\"CE\";i:6;s:2:\"DF\";i:7;s:2:\"ES\";i:8;s:2:\"GO\";i:9;s:2:\"MA\";i:10;s:2:\"MT\";i:11;s:2:\"MS\";i:12;s:2:\"MG\";i:13;s:2:\"PA\";i:14;s:2:\"PB\";i:15;s:2:\"PR\";i:16;s:2:\"PE\";i:17;s:2:\"PI\";i:18;s:2:\"RJ\";i:19;s:2:\"RN\";i:20;s:2:\"RS\";i:21;s:2:\"RO\";i:22;s:2:\"RR\";i:23;s:2:\"SC\";i:24;s:2:\"SP\";i:25;s:2:\"SE\";i:26;s:2:\"TO\";}s:11:\"description\";s:208:\"State
  Abreviation:\n- 'AC'\n- 'AL'\n- 'AP'\n- 'AM'\n- 'BA'\n- 'CE'\n- 'DF'\n- 'ES'\n-
  'GO'\n- 'MA'\n- 'MT'\n- 'MS'\n- 'MG'\n- 'PA'\n- 'PB'\n- 'PR'\n- 'PE'\n- 'PI'\n-
  'RJ'\n- 'RN'\n- 'RS'\n- 'RO'\n- 'RR'\n- 'SC'\n- 'SP'\n- 'SE'\n- 'TO'\n\";}s:11:\"TaxTypeRate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:7:\"taxType\";i:1;s:8:\"taxModel\";}s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"taxType\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/TaxType\";}s:8:\"taxModel\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:4:\"rate\";i:1;s:3:\"srf\";}s:11:\"description\";s:44:\"Tax
  can be calculated by rate or by quantity\";}s:4:\"rate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:31:\"Specific
  tax rate ex 3.5 (3.5%)\";}s:9:\"srvAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:31:\"Specific
  tax rate ex 3.5 (3.5%)\";}s:16:\"quantityUnidBase\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:6;}s:18:\"specializationType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:5:\"basic\";i:1;s:9:\"monophase\";i:2;s:15:\"taxSubstitution\";}}}}s:7:\"TaxType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:118:\"Tax
  Rate\nObs: AR - \"a recolher\" (servi\xE7o).\nRP e PP - filtrado para alvos de lucro
  real ou lucro presumido (servi\xE7o)\n\";s:4:\"enum\";a:20:{i:0;s:4:\"INSS\";i:1;s:7:\"INSS_RF\";i:2;s:7:\"INSS_AR\";i:3;s:4:\"IRRF\";i:4;s:3:\"PIS\";i:5;s:6:\"PIS_RF\";i:6;s:6:\"PIS_RP\";i:7;s:6:\"PIS_PP\";i:8;s:6:\"COFINS\";i:9;s:9:\"COFINS_RF\";i:10;s:9:\"COFINS_RP\";i:11;s:9:\"COFINS_PP\";i:12;s:4:\"CSLL\";i:13;s:7:\"CSLL_RF\";i:14;s:7:\"CSLL_PP\";i:15;s:7:\"CSLL_RP\";i:16;s:4:\"IRPJ\";i:17;s:3:\"ISS\";i:18;s:6:\"ISS_RF\";i:19;s:3:\"IPI\";}}s:11:\"LegalReason\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:4:\"name\";i:1;s:11:\"description\";i:2;s:5:\"scope\";}s:11:\"description\";s:73:\"Legal
  Reason (Fundamenta\xE7\xE3o Legal):\n- 'name'\n- 'description'\n- 'scope'\n\";s:10:\"properties\";O:8:\"stdClass\":11:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Internal
  ID\";}s:13:\"referenceCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:134:\"A
  custom, non-unique, non-mandatory reference code that might be used to reference\na
  company Reason record to a global Reason record.\n\";}s:9:\"companyId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:49:\"If
  present, this record is scoped to the company.\";}s:5:\"scope\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:476:\"Message
  scope. May be one of these.\ngeneral - This message is not linked to any entity
  (agast/process/cfop) and will be applied to any item in a transacition. (Esta mensagem
  tem escopo geral, nao est\xE1 relacionadas diretamente qualquer objeto.);\nlinkedTo
  - This message is linked to an entity, and its processing will only occur when the
  context involves it. (Esta mensagens est\xE3o relacionadas diretamente a algum objeto
  como um AGAST por exemplo, um Processo ou uma CFOP.);\n\";s:4:\"enum\";a:2:{i:0;s:7:\"general\";i:1;s:8:\"linkedTo\";}}s:7:\"disable\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:35:\"Set
  this message as no longer valid\";}s:11:\"description\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:5000;s:11:\"description\";s:33:\"Legal
  reason textual description;\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"Short
  name to this message\";}s:9:\"legalCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"this
  field inform the official code number\";}s:13:\"showInInvoice\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:92:\"Optional.
  Show this message when used in Invoice (NFe, NFCe, others...). Where to show this.\";s:4:\"enum\";a:4:{i:0;s:24:\"complementaryInfoMessage\";i:1;s:17:\"fiscalInfoMessage\";i:2;s:15:\"itemInfoMessage\";i:3;s:7:\"no
  show\";}}s:19:\"referencedProcesses\";O:8:\"stdClass\":4:{s:11:\"description\";s:18:\"Referenced
  Process\";s:4:\"type\";s:5:\"array\";s:8:\"maxItems\";i:100;s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"nProc\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:60;s:11:\"description\";s:36:\"Process
  Identifier (NFe <nProc> tag)\";}s:7:\"indProc\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:5:{i:0;s:1:\"0\";i:1;s:1:\"1\";i:2;s:1:\"2\";i:3;s:1:\"3\";i:4;s:1:\"9\";}s:11:\"description\";s:137:\"Process
  Origin (NFe <indProc> tag)\n- '0' # SEFAZ;\n- '1' # Justi\xE7a Federal;\n- '2' #
  Justi\xE7a Estadual;\n- '3' # Secex/RFB;\n- '9' # Outros\n\";}}}}s:13:\"taxConstraint\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Filter
  this message application to specified tax cases.\n\";s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"taxType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:13:{i:0;s:4:\"NONE\";i:1;s:4:\"INSS\";i:2;s:4:\"IRRF\";i:3;s:4:\"IRPJ\";i:4;s:3:\"PIS\";i:5;s:6:\"COFINS\";i:6;s:4:\"CSLL\";i:7;s:3:\"IPI\";i:8;s:4:\"ICMS\";i:9;s:2:\"II\";i:10;s:3:\"IOF\";i:11;s:3:\"ISS\";i:12;s:13:\"APROXTOTALTAX\";}s:11:\"description\";s:168:\"This
  is the Tax Type to apply legal messages.\n- 'NONE'\n- 'INSS'\n- 'IRRF'\n- 'IRPJ'\n-
  'PIS'\n- 'COFINS'\n- 'CSLL'\n- 'IPI'\n- 'ICMS'\n- 'II'\n- 'IOF'\n- 'ISS'\n- 'APROXTOTALTAX'\n\";}s:18:\"specializedTaxType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:19:{i:0;s:4:\"icms\";i:1;s:6:\"icmsSt\";i:2;s:8:\"icmsStSd\";i:3;s:11:\"icmsPartOwn\";i:4;s:12:\"icmsPartDest\";i:5;s:11:\"icmsDifaFCP\";i:6;s:12:\"icmsDifaDest\";i:7;s:13:\"icmsDifaRemet\";i:8;s:6:\"icmsRf\";i:9;s:9:\"icmsDeson\";i:10;s:10:\"icmsCredsn\";i:11;s:3:\"pis\";i:12;s:5:\"pisSt\";i:13;s:6:\"cofins\";i:14;s:8:\"cofinsSt\";i:15;s:3:\"ipi\";i:16;s:11:\"ipiReturned\";i:17;s:2:\"ii\";i:18;s:3:\"iof\";}s:11:\"description\";s:305:\"These
  are the specific tax types to which a message may be applied\n- 'icms'\n- 'icmsSt'\n-
  'icmsStSd'\n- 'icmsPartOwn'\n- 'icmsPartDest'\n- 'icmsDifaFCP'\n- 'icmsDifaDest'\n-
  'icmsDifaRemet'\n- 'icmsRf'\n- 'icmsDeson'\n- 'icmsCredsn'\n- 'pis'\n- 'pisSt'\n-
  'cofins'\n- 'cofinsSt'\n- 'ipi'\n- 'ipiReturned'\n- 'ii'\n- 'iof'\n\";}s:16:\"jurisdictionType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:4:{i:0;s:4:\"NONE\";i:1;s:4:\"City\";i:2;s:5:\"State\";i:3;s:7:\"Country\";}s:11:\"description\";s:62:\"Types
  of jurisdiction\n- 'NONE'\n- 'City'\n- 'State'\n- 'Country'\n\";}s:16:\"jurisdictionCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"Code
  to identify the Jurisdiction\";}s:12:\"precondition\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:131:\"script
  rule that will evaluated to decide if this message is applicable.\nif doesn't have
  rule is samething that return true value.\n\";}}}}}s:21:\"AgastService_Withhold\";O:8:\"stdClass\":3:{s:11:\"description\";s:87:\"inform
  if this item is subject to withholding tax on service Transactions, default true\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:4:\"IRRF\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:15:\"IRRFLegalReason\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:60;s:11:\"description\";s:30:\"reference
  id to TaxLegalReason\";}s:27:\"INSSSubjectPayrollTaxRelief\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:86:\"Item
  subjecto to Payroll Tax Relief\nItem sujeto \xE0 desonera\xE7\xE3ode folha de pagamento\n\";}s:4:\"INSS\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:15:\"INSSLegalReason\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:60;s:11:\"description\";s:30:\"reference
  id to TaxLegalReason\";}s:14:\"INSSForSimples\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:25:\"INSSForSimplesLegalReason\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:60;s:11:\"description\";s:30:\"reference
  id to TaxLegalReason\";}s:3:\"PIS\";O:8:\"stdClass\":2:{s:11:\"description\";s:103:\"inform
  if this item is subject to withholding PIS on service Transactions, by entity type,
  default true\";s:4:\"$ref\";s:38:\"#/definitions/AgastService_WithholdPCC\";}s:6:\"COFINS\";O:8:\"stdClass\":2:{s:11:\"description\";s:106:\"inform
  if this item is subject to withholding COFINS on service Transactions, by entity
  type, default true\";s:4:\"$ref\";s:38:\"#/definitions/AgastService_WithholdPCC\";}s:4:\"CSLL\";O:8:\"stdClass\":2:{s:11:\"description\";s:104:\"inform
  if this item is subject to withholding CSLL on service Transactions, by entity type,
  default true\";s:4:\"$ref\";s:38:\"#/definitions/AgastService_WithholdPCC\";}}}s:24:\"AgastService_WithholdPCC\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:8:\"business\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:19:\"businessLegalReason\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:60;s:11:\"description\";s:30:\"reference
  id to TaxLegalReason\";}s:17:\"federalGovernment\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:28:\"federalGovernmentLegalReason\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:60;s:11:\"description\";s:30:\"reference
  id to TaxLegalReason\";}s:15:\"stateGovernment\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:26:\"stateGovernmentLegalReason\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:60;s:11:\"description\";s:30:\"reference
  id to TaxLegalReason\";}s:14:\"cityGovernment\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:25:\"cityGovernmentLegalReason\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:60;s:11:\"description\";s:30:\"reference
  id to TaxLegalReason\";}}}}"
...
