---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":15:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:9:\"x-twitter\";s:12:\"PermittedSoc\";}s:11:\"description\";s:1220:\"<fullname>AWS
  CloudFormation</fullname> <p>AWS CloudFormation allows you to create and manage
  AWS infrastructure deployments predictably and repeatedly. You can use AWS CloudFormation
  to leverage AWS products, such as Amazon Elastic Compute Cloud, Amazon Elastic Block
  Store, Amazon Simple Notification Service, Elastic Load Balancing, and Auto Scaling
  to build highly-reliable, highly scalable, cost-effective applications without creating
  or configuring the underlying AWS infrastructure.</p> <p>With AWS CloudFormation,
  you declare all of your resources and dependencies in a template file. The template
  defines a collection of resources as a single unit called a stack. AWS CloudFormation
  creates and deletes all member resources of the stack together and manages all dependencies
  between the resources for you.</p> <p>For more information about AWS CloudFormation,
  see the <a href=\"http://aws.amazon.com/cloudformation/\">AWS CloudFormation Product
  Page</a>.</p> <p>Amazon CloudFormation makes use of other AWS products. If you need
  additional technical information about a specific AWS product, you can find the
  product's technical documentation at <a href=\"http://docs.aws.amazon.com/\">docs.aws.amazon.com</a>.</p>\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache
  2.0 License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:18:\"AWS
  CloudFormation\";s:7:\"version\";s:10:\"2010-05-15\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:98:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/cloudformation-2010-05-15.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v4\";s:13:\"x-serviceName\";s:14:\"cloudformation\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:24:\"amazonaws_cloudformation\";s:4:\"type\";s:7:\"openapi\";}}"
host: cloudformation.amazonaws.com
basePath: /
paths: ~
produces: []
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":256:{s:7:\"Account\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:9:\"[0-9]{12}\";s:4:\"type\";s:6:\"string\";}s:17:\"AccountGateResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:913:\"<p>Structure
  that contains the results of the account gate function which AWS CloudFormation
  invokes, if present, before proceeding with a stack set operation in an account
  and region.</p> <p>For each account and region, AWS CloudFormation lets you specify
  a Lamdba function that encapsulates any requirements that must be met before CloudFormation
  can proceed with a stack set operation in that account and region. CloudFormation
  invokes the function each time a stack set operation is requested for that account
  and region; if the function returns <code>FAILED</code>, CloudFormation cancels
  the operation in that account and region, and sets the stack set operation result
  status for that account and region to <code>FAILED</code>. </p> <p>For more information,
  see <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/stacksets-account-gating.html\">Configuring
  a target account gate</a>.</p>\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/AccountGateStatus\";s:11:\"description\";s:1432:\"<p>The
  status of the account gate function.</p> <ul> <li> <p> <code>SUCCEEDED</code>: The
  account gate function has determined that the account and region passes any requirements
  for a stack set operation to occur. AWS CloudFormation proceeds with the stack operation
  in that account and region. </p> </li> <li> <p> <code>FAILED</code>: The account
  gate function has determined that the account and region does not meet the requirements
  for a stack set operation to occur. AWS CloudFormation cancels the stack set operation
  in that account and region, and sets the stack set operation result status for that
  account and region to <code>FAILED</code>. </p> </li> <li> <p> <code>SKIPPED</code>:
  AWS CloudFormation has skipped calling the account gate function for this account
  and region, for one of the following reasons:</p> <ul> <li> <p>An account gate function
  has not been specified for the account and region. AWS CloudFormation proceeds with
  the stack set operation in this account and region.</p> </li> <li> <p>The <code>AWSCloudFormationStackSetExecutionRole</code>
  of the stack set adminstration account lacks permissions to invoke the function.
  AWS CloudFormation proceeds with the stack set operation in this account and region.</p>
  </li> <li> <p>Either no action is necessary, or no action is possible, on the stack.
  AWS CloudFormation skips the stack set operation in this account and region.</p>
  </li> </ul> </li> </ul>\";}s:12:\"StatusReason\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/AccountGateStatusReason\";s:11:\"description\";s:103:\"The
  reason for the account gate status assigned to this account and region for the stack
  set operation.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"AccountGateStatus\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:9:\"SUCCEEDED\";i:1;s:6:\"FAILED\";i:2;s:7:\"SKIPPED\";}s:4:\"type\";s:6:\"string\";}s:23:\"AccountGateStatusReason\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"AccountLimit\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"The
  AccountLimit data type.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/LimitName\";s:11:\"description\";s:92:\"The
  name of the account limit. Currently, the only account limit is <code>StackLimit</code>.\";}s:5:\"Value\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/LimitValue\";s:11:\"description\";s:57:\"The
  value that is associated with the account limit name.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"AccountLimitList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/AccountLimit\";}s:4:\"type\";s:5:\"array\";}s:11:\"AccountList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Account\";}s:4:\"type\";s:5:\"array\";}s:12:\"AllowedValue\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"AllowedValues\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/AllowedValue\";}s:4:\"type\";s:5:\"array\";}s:22:\"AlreadyExistsException\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"The
  resource with the name requested already exists.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:3:\"Arn\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"CancelUpdateStackInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:50:\"The
  input for the <a>CancelUpdateStack</a> action.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:18:\"ClientRequestToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ClientRequestToken\";s:11:\"description\";s:346:\"A
  unique identifier for this <code>CancelUpdateStack</code> request. Specify this
  token if you plan to retry requests so that AWS CloudFormation knows that you're
  not attempting to cancel an update on a stack with the same name. You might retry
  <code>CancelUpdateStack</code> requests to ensure that AWS CloudFormation successfully
  received them.\";}s:9:\"StackName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/StackName\";s:11:\"description\";s:66:\"The
  name or the unique stack ID that is associated with the stack.\";}}s:8:\"required\";a:1:{i:0;s:9:\"StackName\";}s:4:\"type\";s:6:\"object\";}s:12:\"Capabilities\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Capability\";}s:4:\"type\";s:5:\"array\";}s:18:\"CapabilitiesReason\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"Capability\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:14:\"CAPABILITY_IAM\";i:1;s:20:\"CAPABILITY_NAMED_IAM\";}s:4:\"type\";s:6:\"string\";}s:13:\"CausingEntity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Change\";O:8:\"stdClass\":3:{s:11:\"description\";s:118:\"The
  <code>Change</code> structure describes the changes AWS CloudFormation will perform
  if you execute the change set.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"ResourceChange\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ResourceChange\";s:11:\"description\";s:116:\"A
  <code>ResourceChange</code> structure that describes the resource and action that
  AWS CloudFormation will perform.\";}s:4:\"Type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ChangeType\";s:11:\"description\";s:109:\"The
  type of entity that AWS CloudFormation changes. Currently, the only entity type
  is <code>Resource</code>.\";}}s:4:\"type\";s:6:\"object\";}s:12:\"ChangeAction\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:3:\"Add\";i:1;s:6:\"Modify\";i:2;s:6:\"Remove\";}s:4:\"type\";s:6:\"string\";}s:11:\"ChangeSetId\";O:8:\"stdClass\":3:{s:9:\"minLength\";i:1;s:7:\"pattern\";s:19:\"arn:[-a-zA-Z0-9:/]*\";s:4:\"type\";s:6:\"string\";}s:13:\"ChangeSetName\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:128;s:9:\"minLength\";i:1;s:7:\"pattern\";s:21:\"[a-zA-Z][-a-zA-Z0-9]*\";s:4:\"type\";s:6:\"string\";}s:17:\"ChangeSetNameOrId\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:1600;s:9:\"minLength\";i:1;s:7:\"pattern\";s:41:\"[a-zA-Z][-a-zA-Z0-9]*|arn:[-a-zA-Z0-9:/]*\";s:4:\"type\";s:6:\"string\";}s:26:\"ChangeSetNotFoundException\";O:8:\"stdClass\":3:{s:11:\"description\";s:132:\"The
  specified change set name or ID doesn't exit. To view valid change sets for a stack,
  use the <code>ListChangeSets</code> action.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:15:\"ChangeSetStatus\";O:8:\"stdClass\":2:{s:4:\"enum\";a:5:{i:0;s:14:\"CREATE_PENDING\";i:1;s:18:\"CREATE_IN_PROGRESS\";i:2;s:15:\"CREATE_COMPLETE\";i:3;s:15:\"DELETE_COMPLETE\";i:4;s:6:\"FAILED\";}s:4:\"type\";s:6:\"string\";}s:21:\"ChangeSetStatusReason\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"ChangeSetSummaries\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ChangeSetSummary\";}s:4:\"type\";s:5:\"array\";}s:16:\"ChangeSetSummary\";O:8:\"stdClass\":3:{s:11:\"description\";s:121:\"The
  <code>ChangeSetSummary</code> structure describes a change set, its status, and
  the stack with which it's associated.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:11:\"ChangeSetId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ChangeSetId\";s:11:\"description\";s:25:\"The
  ID of the change set.\";}s:13:\"ChangeSetName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ChangeSetName\";s:11:\"description\";s:27:\"The
  name of the change set.\";}s:12:\"CreationTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/CreationTime\";s:11:\"description\";s:55:\"The
  start time when the change set was created, in UTC.\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Description\";s:11:\"description\";s:45:\"Descriptive
  information about the change set.\";}s:15:\"ExecutionStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ExecutionStatus\";s:11:\"description\";s:354:\"If
  the change set execution status is <code>AVAILABLE</code>, you can execute the change
  set. If you can\u2019t execute the change set, the status indicates why. For example,
  a change set might be in an <code>UNAVAILABLE</code> state because AWS CloudFormation
  is still creating it or in an <code>OBSOLETE</code> state because the stack was
  already updated.\";}s:7:\"StackId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/StackId\";s:11:\"description\";s:60:\"The
  ID of the stack with which the change set is associated.\";}s:9:\"StackName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/StackName\";s:11:\"description\";s:62:\"The
  name of the stack with which the change set is associated.\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ChangeSetStatus\";s:11:\"description\";s:123:\"The
  state of the change set, such as <code>CREATE_IN_PROGRESS</code>, <code>CREATE_COMPLETE</code>,
  or <code>FAILED</code>.\";}s:12:\"StatusReason\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/ChangeSetStatusReason\";s:11:\"description\";s:154:\"A
  description of the change set's status. For example, if your change set is in the
  <code>FAILED</code> state, AWS CloudFormation shows the error message.\";}}s:4:\"type\";s:6:\"object\";}s:13:\"ChangeSetType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:6:\"CREATE\";i:1;s:6:\"UPDATE\";}s:4:\"type\";s:6:\"string\";}s:12:\"ChangeSource\";O:8:\"stdClass\":2:{s:4:\"enum\";a:5:{i:0;s:17:\"ResourceReference\";i:1;s:18:\"ParameterReference\";i:2;s:17:\"ResourceAttribute\";i:3;s:18:\"DirectModification\";i:4;s:9:\"Automatic\";}s:4:\"type\";s:6:\"string\";}s:10:\"ChangeType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:1:{i:0;s:8:\"Resource\";}s:4:\"type\";s:6:\"string\";}s:7:\"Changes\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Change\";}s:4:\"type\";s:5:\"array\";}s:18:\"ClientRequestToken\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:128;s:9:\"minLength\";i:1;s:7:\"pattern\";s:24:\"[a-zA-Z0-9][-a-zA-Z0-9]*\";s:4:\"type\";s:6:\"string\";}s:11:\"ClientToken\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:128;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:27:\"ContinueUpdateRollbackInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:55:\"The
  input for the <a>ContinueUpdateRollback</a> action.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:18:\"ClientRequestToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ClientRequestToken\";s:11:\"description\";s:361:\"A
  unique identifier for this <code>ContinueUpdateRollback</code> request. Specify
  this token if you plan to retry requests so that AWS CloudFormation knows that you're
  not attempting to continue the rollback to a stack with the same name. You might
  retry <code>ContinueUpdateRollback</code> requests to ensure that AWS CloudFormation
  successfully received them.\";}s:15:\"ResourcesToSkip\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ResourcesToSkip\";s:11:\"description\";s:2432:\"<p>A
  list of the logical IDs of the resources that AWS CloudFormation skips during the
  continue update rollback operation. You can specify only resources that are in the
  <code>UPDATE_FAILED</code> state because a rollback failed. You can't specify resources
  that are in the <code>UPDATE_FAILED</code> state for other reasons, for example,
  because an update was cancelled. To check why a resource update failed, use the
  <a>DescribeStackResources</a> action, and view the resource status reason. </p>
  <important> <p>Specify this property to skip rolling back resources that AWS CloudFormation
  can't successfully roll back. We recommend that you <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/troubleshooting.html#troubleshooting-errors-update-rollback-failed\">
  troubleshoot</a> resources before skipping them. AWS CloudFormation sets the status
  of the specified resources to <code>UPDATE_COMPLETE</code> and continues to roll
  back the stack. After the rollback is complete, the state of the skipped resources
  will be inconsistent with the state of the resources in the stack template. Before
  performing another stack update, you must update the stack or resources to be consistent
  with each other. If you don't, subsequent stack updates might fail, and the stack
  will become unrecoverable. </p> </important> <p>Specify the minimum number of resources
  required to successfully roll back your stack. For example, a failed resource update
  might cause dependent resources to fail. In this case, it might not be necessary
  to skip the dependent resources. </p> <p>To skip resources that are part of nested
  stacks, use the following format: <code>NestedStackName.ResourceLogicalID</code>.
  If you want to specify the logical ID of a stack resource (<code>Type: AWS::CloudFormation::Stack</code>)
  in the <code>ResourcesToSkip</code> list, then its corresponding embedded stack
  must be in one of the following states: <code>DELETE_IN_PROGRESS</code>, <code>DELETE_COMPLETE</code>,
  or <code>DELETE_FAILED</code>. </p> <note> <p>Don't confuse a child stack's name
  with its corresponding logical ID defined in the parent stack. For an example of
  a continue update rollback operation with nested stacks, see <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-cfn-updating-stacks-continueupdaterollback.html#nested-stacks\">Using
  ResourcesToSkip to recover a nested stacks hierarchy</a>. </p> </note>\";}s:7:\"RoleARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/RoleARN\";s:11:\"description\";s:724:\"<p>The
  Amazon Resource Name (ARN) of an AWS Identity and Access Management (IAM) role that
  AWS CloudFormation assumes to roll back the stack. AWS CloudFormation uses the role's
  credentials to make calls on your behalf. AWS CloudFormation always uses this role
  for all future operations on the stack. As long as users have permission to operate
  on the stack, AWS CloudFormation uses this role even if the users don't have permission
  to pass it. Ensure that the role grants least privilege.</p> <p>If you don't specify
  a value, AWS CloudFormation uses the role that was previously associated with the
  stack. If no role is available, AWS CloudFormation uses a temporary session that
  is generated from your user credentials.</p>\";}s:9:\"StackName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/StackNameOrId\";s:11:\"description\";s:366:\"<p>The
  name or the unique ID of the stack that you want to continue rolling back.</p> <note>
  <p>Don't specify the name of a nested stack (a stack that was created by using the
  <code>AWS::CloudFormation::Stack</code> resource). Instead, use this operation on
  the parent stack (the stack that contains the <code>AWS::CloudFormation::Stack</code>
  resource).</p> </note>\";}}s:8:\"required\";a:1:{i:0;s:9:\"StackName\";}s:4:\"type\";s:6:\"object\";}s:28:\"ContinueUpdateRollbackOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"The
  output for a <a>ContinueUpdateRollback</a> action.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:20:\"CreateChangeSetInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:48:\"The
  input for the <a>CreateChangeSet</a> action.\";s:10:\"properties\";O:8:\"stdClass\":15:{s:12:\"Capabilities\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/Capabilities\";s:11:\"description\";s:2082:\"<p>A
  list of values that you must specify before AWS CloudFormation can update certain
  stacks. Some stack templates might include resources that can affect permissions
  in your AWS account, for example, by creating new AWS Identity and Access Management
  (IAM) users. For those stacks, you must explicitly acknowledge their capabilities
  by specifying this parameter.</p> <p>The only valid values are <code>CAPABILITY_IAM</code>
  and <code>CAPABILITY_NAMED_IAM</code>. The following resources require you to specify
  this parameter: <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-accesskey.html\">
  AWS::IAM::AccessKey</a>, <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-group.html\">
  AWS::IAM::Group</a>, <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-instanceprofile.html\">
  AWS::IAM::InstanceProfile</a>, <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-policy.html\">
  AWS::IAM::Policy</a>, <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-role.html\">
  AWS::IAM::Role</a>, <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-user.html\">
  AWS::IAM::User</a>, and <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-addusertogroup.html\">
  AWS::IAM::UserToGroupAddition</a>. If your stack template contains these resources,
  we recommend that you review all permissions associated with them and edit their
  permissions if necessary.</p> <p>If you have IAM resources, you can specify either
  capability. If you have IAM resources with custom names, you must specify <code>CAPABILITY_NAMED_IAM</code>.
  If you don't specify this parameter, this action returns an <code>InsufficientCapabilities</code>
  error.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-iam-template.html#capabilities\">Acknowledging
  IAM Resources in AWS CloudFormation Templates</a>.</p>\";}s:13:\"ChangeSetName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ChangeSetName\";s:11:\"description\";s:298:\"<p>The
  name of the change set. The name must be unique among all change sets that are associated
  with the specified stack.</p> <p>A change set name can contain only alphanumeric,
  case sensitive characters and hyphens. It must start with an alphabetic character
  and cannot exceed 128 characters.</p>\";}s:13:\"ChangeSetType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ChangeSetType\";s:11:\"description\";s:770:\"<p>The
  type of change set operation. To create a change set for a new stack, specify <code>CREATE</code>.
  To create a change set for an existing stack, specify <code>UPDATE</code>.</p> <p>If
  you create a change set for a new stack, AWS Cloudformation creates a stack with
  a unique stack ID, but no template or resources. The stack will be in the <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-cfn-describing-stacks.html#d0e11995\">
  <code>REVIEW_IN_PROGRESS</code> </a> state until you execute the change set.</p>
  <p>By default, AWS CloudFormation specifies <code>UPDATE</code>. You can't use the
  <code>UPDATE</code> type to create a change set for a new stack or the <code>CREATE</code>
  type to create a change set for an existing stack.</p>\";}s:11:\"ClientToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ClientToken\";s:11:\"description\";s:340:\"A
  unique identifier for this <code>CreateChangeSet</code> request. Specify this token
  if you plan to retry requests so that AWS CloudFormation knows that you're not attempting
  to create another change set with the same name. You might retry <code>CreateChangeSet</code>
  requests to ensure that AWS CloudFormation successfully received them.\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Description\";s:11:\"description\";s:51:\"A
  description to help you identify this change set.\";}s:16:\"NotificationARNs\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/NotificationARNs\";s:11:\"description\";s:210:\"The
  Amazon Resource Names (ARNs) of Amazon Simple Notification Service (Amazon SNS)
  topics that AWS CloudFormation associates with the stack. To remove all associated
  notification topics, specify an empty list.\";}s:10:\"Parameters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Parameters\";s:11:\"description\";s:242:\"A
  list of <code>Parameter</code> structures that specify input parameters for the
  change set. For more information, see the <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/APIReference/API_Parameter.html\">Parameter</a>
  data type.\";}s:13:\"ResourceTypes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ResourceTypes\";s:11:\"description\";s:745:\"<p>The
  template resource types that you have permissions to work with if you execute this
  change set, such as <code>AWS::EC2::Instance</code>, <code>AWS::EC2::*</code>, or
  <code>Custom::MyCustomInstance</code>.</p> <p>If the list of resource types doesn't
  include a resource type that you're updating, the stack update fails. By default,
  AWS CloudFormation grants permissions to all resource types. AWS Identity and Access
  Management (IAM) uses this parameter for condition keys in IAM policies for AWS
  CloudFormation. For more information, see <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-iam-template.html\">Controlling
  Access with AWS Identity and Access Management</a> in the AWS CloudFormation User
  Guide.</p>\";}s:7:\"RoleARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/RoleARN\";s:11:\"description\";s:724:\"<p>The
  Amazon Resource Name (ARN) of an AWS Identity and Access Management (IAM) role that
  AWS CloudFormation assumes when executing the change set. AWS CloudFormation uses
  the role's credentials to make calls on your behalf. AWS CloudFormation uses this
  role for all future operations on the stack. As long as users have permission to
  operate on the stack, AWS CloudFormation uses this role even if the users don't
  have permission to pass it. Ensure that the role grants least privilege.</p> <p>If
  you don't specify a value, AWS CloudFormation uses the role that was previously
  associated with the stack. If no role is available, AWS CloudFormation uses a temporary
  session that is generated from your user credentials.</p>\";}s:21:\"RollbackConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/RollbackConfiguration\";s:11:\"description\";s:154:\"The
  rollback triggers for AWS CloudFormation to monitor during stack creation and updating
  operations, and for the specified monitoring period afterwards.\";}s:9:\"StackName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/StackNameOrId\";s:11:\"description\";s:264:\"The
  name or the unique ID of the stack for which you are creating a change set. AWS
  CloudFormation generates the change set by comparing this stack's information with
  the information that you submit, such as a modified template or different parameter
  input values.\";}s:4:\"Tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Tags\";s:11:\"description\";s:156:\"Key-value
  pairs to associate with this stack. AWS CloudFormation also propagates these tags
  to resources in the stack. You can specify a maximum of 50 tags.\";}s:12:\"TemplateBody\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/TemplateBody\";s:11:\"description\";s:355:\"<p>A
  structure that contains the body of the revised template, with a minimum length
  of 1 byte and a maximum length of 51,200 bytes. AWS CloudFormation generates the
  change set by comparing this template with the template of the stack that you specified.</p>
  <p>Conditional: You must specify only <code>TemplateBody</code> or <code>TemplateURL</code>.</p>\";}s:11:\"TemplateURL\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/TemplateURL\";s:11:\"description\";s:362:\"<p>The
  location of the file that contains the revised template. The URL must point to a
  template (max size: 460,800 bytes) that is located in an S3 bucket. AWS CloudFormation
  generates the change set by comparing this template with the stack that you specified.</p>
  <p>Conditional: You must specify only <code>TemplateBody</code> or <code>TemplateURL</code>.</p>\";}s:19:\"UsePreviousTemplate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/UsePreviousTemplate\";s:11:\"description\";s:89:\"Whether
  to reuse the template that is associated with the stack to create the change set.\";}}s:8:\"required\";a:2:{i:0;s:9:\"StackName\";i:1;s:13:\"ChangeSetName\";}s:4:\"type\";s:6:\"object\";}s:21:\"CreateChangeSetOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  output for the <a>CreateChangeSet</a> action.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ChangeSetId\";s:11:\"description\";s:49:\"The
  Amazon Resource Name (ARN) of the change set.\";}s:7:\"StackId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/StackId\";s:11:\"description\";s:27:\"The
  unique ID of the stack.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"CreateStackInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:40:\"The
  input for <a>CreateStack</a> action.\";s:10:\"properties\";O:8:\"stdClass\":17:{s:12:\"Capabilities\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/Capabilities\";s:11:\"description\";s:2082:\"<p>A
  list of values that you must specify before AWS CloudFormation can create certain
  stacks. Some stack templates might include resources that can affect permissions
  in your AWS account, for example, by creating new AWS Identity and Access Management
  (IAM) users. For those stacks, you must explicitly acknowledge their capabilities
  by specifying this parameter.</p> <p>The only valid values are <code>CAPABILITY_IAM</code>
  and <code>CAPABILITY_NAMED_IAM</code>. The following resources require you to specify
  this parameter: <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-accesskey.html\">
  AWS::IAM::AccessKey</a>, <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-group.html\">
  AWS::IAM::Group</a>, <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-instanceprofile.html\">
  AWS::IAM::InstanceProfile</a>, <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-policy.html\">
  AWS::IAM::Policy</a>, <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-resource-iam-role.html\">
  AWS::IAM::Role</a>, <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-user.html\">
  AWS::IAM::User</a>, and <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-iam-addusertogroup.html\">
  AWS::IAM::UserToGroupAddition</a>. If your stack template contains these resources,
  we recommend that you review all permissions associated with them and edit their
  permissions if necessary.</p> <p>If you have IAM resources, you can specify either
  capability. If you have IAM resources with custom names, you must specify <code>CAPABILITY_NAMED_IAM</code>.
  If you don't specify this parameter, this action returns an <code>InsufficientCapabilities</code>
  error.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-iam-template.html#capabilities\">Acknowledging
  IAM Resources in AWS CloudFormation Templates</a>.</p>\";}s:18:\"ClientRequestToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ClientRequestToken\";s:11:\"description\";s:1158:\"<p>A
  unique identifier for this <code>CreateStack</code> request. Specify this token
  if you plan to retry requests so that AWS CloudFormation knows that you're not attempting
  to create a stack with the same name. You might retry <code>CreateStack</code> requests
  to ensure that AWS CloudFormation successfully received them.</p> <p>All events
  triggered by a given stack operation are assigned the same client request token,
  which you can use to track operations. For example, if you execute a <code>CreateStack</code>
  operation with the token <code>token1</code>, then all the <code>StackEvents</code>
  generated by that operation will have <code>ClientRequestToken</code> set as <code>token1</code>.</p>
  <p>In the console, stack operations display the client request token on the Events
  tab. Stack operations that are initiated from the console use the token format <i>Console-StackOperation-ID</i>,
  which helps you easily identify the stack operation . For example, if you create
  a stack using the console, each stack event would be assigned the same token in
  the following format: <code>Console-CreateStack-7f59c3cf-00d2-40c7-b2ff-e75db0987002</code>.
  </p>\";}s:15:\"DisableRollback\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/DisableRollback\";s:11:\"description\";s:219:\"<p>Set
  to <code>true</code> to disable rollback of the stack if stack creation failed.
  You can specify either <code>DisableRollback</code> or <code>OnFailure</code>, but
  not both.</p> <p>Default: <code>false</code> </p>\";}s:27:\"EnableTerminationProtection\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/EnableTerminationProtection\";s:11:\"description\";s:703:\"<p>Whether
  to enable termination protection on the specified stack. If a user attempts to delete
  a stack with termination protection enabled, the operation fails and the stack remains
  unchanged. For more information, see <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-cfn-protect-stacks.html\">Protecting
  a Stack From Being Deleted</a> in the <i>AWS CloudFormation User Guide</i>. Termination
  protection is disabled on stacks by default. </p> <p> For <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-cfn-nested-stacks.html\">nested
  stacks</a>, termination protection is set on the root stack and cannot be changed
  directly on the nested stack.</p>\";}s:16:\"NotificationARNs\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/NotificationARNs\";s:11:\"description\";s:174:\"The
  Simple Notification Service (SNS) topic ARNs to publish stack related events. You
  can find your SNS topic ARNs using the SNS console or your Command Line Interface
  (CLI).\";}s:9:\"OnFailure\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/OnFailure\";s:11:\"description\";s:254:\"<p>Determines
  what action will be taken if stack creation fails. This must be one of: DO_NOTHING,
  ROLLBACK, or DELETE. You can specify either <code>OnFailure</code> or <code>DisableRollback</code>,
  but not both.</p> <p>Default: <code>ROLLBACK</code> </p>\";}s:10:\"Parameters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Parameters\";s:11:\"description\";s:237:\"A
  list of <code>Parameter</code> structures that specify input parameters for the
  stack. For more information, see the <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/APIReference/API_Parameter.html\">Parameter</a>
  data type.\";}s:13:\"ResourceTypes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ResourceTypes\";s:11:\"description\";s:1131:\"<p>The
  template resource types that you have permissions to work with for this create stack
  action, such as <code>AWS::EC2::Instance</code>, <code>AWS::EC2::*</code>, or <code>Custom::MyCustomInstance</code>.
  Use the following syntax to describe template resource types: <code>AWS::*</code>
  (for all AWS resource), <code>Custom::*</code> (for all custom resources), <code>Custom::<i>logical_ID</i>
  </code> (for a specific custom resource), <code>AWS::<i>service_name</i>::*</code>
  (for all resources of a particular AWS service), and <code>AWS::<i>service_name</i>::<i>resource_logical_ID</i>
  </code> (for a specific AWS resource).</p> <p>If the list of resource types doesn't
  include a resource that you're creating, the stack creation fails. By default, AWS
  CloudFormation grants permissions to all resource types. AWS Identity and Access
  Management (IAM) uses this parameter for AWS CloudFormation-specific condition keys
  in IAM policies. For more information, see <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-iam-template.html\">Controlling
  Access with AWS Identity and Access Management</a>.</p>\";}s:7:\"RoleARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/RoleARN\";s:11:\"description\";s:721:\"<p>The
  Amazon Resource Name (ARN) of an AWS Identity and Access Management (IAM) role that
  AWS CloudFormation assumes to create the stack. AWS CloudFormation uses the role's
  credentials to make calls on your behalf. AWS CloudFormation always uses this role
  for all future operations on the stack. As long as users have permission to operate
  on the stack, AWS CloudFormation uses this role even if the users don't have permission
  to pass it. Ensure that the role grants least privilege.</p> <p>If you don't specify
  a value, AWS CloudFormation uses the role that was previously associated with the
  stack. If no role is available, AWS CloudFormation uses a temporary session that
  is generated from your user credentials.</p>\";}s:21:\"RollbackConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/RollbackConfiguration\";s:11:\"description\";s:154:\"The
  rollback triggers for AWS CloudFormation to monitor during stack creation and updating
  operations, and for the specified monitoring period afterwards.\";}s:9:\"StackName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/StackName\";s:11:\"description\";s:316:\"<p>The
  name that is associated with the stack. The name must be unique in the region in
  which you are creating the stack.</p> <note> <p>A stack name can contain only alphanumeric
  characters (case sensitive) and hyphens. It must start with an alphabetic character
  and cannot be longer than 128 characters.</p> </note>\";}s:15:\"StackPolicyBody\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/StackPolicyBody\";s:11:\"description\";s:373:\"Structure
  containing the stack policy body. For more information, go to <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/protect-stack-resources.html\">
  Prevent Updates to Stack Resources</a> in the <i>AWS CloudFormation User Guide</i>.
  You can specify either the <code>StackPolicyBody</code> or the <code>StackPolicyURL</code>
  parameter, but not both.\";}s:14:\"StackPolicyURL\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/StackPolicyURL\";s:11:\"description\";s:273:\"Location
  of a file containing the stack policy. The URL must point to a policy (maximum size:
  16 KB) located in an S3 bucket in the same region as the stack. You can specify
  either the <code>StackPolicyBody</code> or the <code>StackPolicyURL</code> parameter,
  but not both.\";}s:4:\"Tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Tags\";s:11:\"description\";s:176:\"Key-value
  pairs to associate with this stack. AWS CloudFormation also propagates these tags
  to the resources created in the stack. A maximum number of 50 tags can be specified.\";}s:12:\"TemplateBody\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/TemplateBody\";s:11:\"description\";s:427:\"<p>Structure
  containing the template body with a minimum length of 1 byte and a maximum length
  of 51,200 bytes. For more information, go to <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/template-anatomy.html\">Template
  Anatomy</a> in the AWS CloudFormation User Guide.</p> <p>Conditional: You must specify
  either the <code>TemplateBody</code> or the <code>TemplateURL</code> parameter,
  but not both.</p>\";}s:11:\"TemplateURL\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/TemplateURL\";s:11:\"description\";s:468:\"<p>Location
  of file containing the template body. The URL must point to a template (max size:
  460,800 bytes) that is located in an Amazon S3 bucket. For more information, go
  to the <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/template-anatomy.html\">Template
  Anatomy</a> in the AWS CloudFormation User Guide.</p> <p>Conditional: You must specify
  either the <code>TemplateBody</code> or the <code>TemplateURL</code> parameter,
  but not both.</p>\";}s:16:\"TimeoutInMinutes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/TimeoutMinutes\";s:11:\"description\";s:186:\"The
  amount of time that can pass before the stack status becomes CREATE_FAILED; if <code>DisableRollback</code>
  is not set or is set to <code>false</code>, the stack will be rolled back.\";}}s:8:\"required\";a:1:{i:0;s:9:\"StackName\";}s:4:\"type\";s:6:\"object\";}s:25:\"CreateStackInstancesInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":6:{s:8:\"Accounts\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/AccountList\";s:11:\"description\";s:109:\"The
  names of one or more AWS accounts that you want to create stack instances in the
  specified region(s) for.\";}s:11:\"OperationId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ClientRequestToken\";s:11:\"description\";s:571:\"<p>The
  unique identifier for this stack set operation. </p> <p>The operation ID also functions
  as an idempotency token, to ensure that AWS CloudFormation performs the stack set
  operation only once, even if you retry the request multiple times. You might retry
  stack set operation requests to ensure that AWS CloudFormation successfully received
  them.</p> <p>If you don't specify an operation ID, the SDK generates one automatically.
  </p> <p>Repeating this stack set operation with a new operation ID retries all stack
  instances whose status is <code>OUTDATED</code>. </p>\";}s:20:\"OperationPreferences\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/StackSetOperationPreferences\";s:11:\"description\";s:73:\"Preferences
  for how AWS CloudFormation performs this stack set operation.\";}s:18:\"ParameterOverrides\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Parameters\";s:11:\"description\";s:1535:\"<p>A
  list of stack set parameters whose values you want to override in the selected stack
  instances.</p> <p>Any overridden parameter values will be applied to all stack instances
  in the specified accounts and regions. When specifying parameters and their values,
  be aware of how AWS CloudFormation sets parameter values during stack instance operations:</p>
  <ul> <li> <p>To override the current value for a parameter, include the parameter
  and specify its value.</p> </li> <li> <p>To leave a parameter set to its present
  value, you can do one of the following:</p> <ul> <li> <p>Do not include the parameter
  in the list.</p> </li> <li> <p>Include the parameter and specify <code>UsePreviousValue</code>
  as <code>true</code>. (You cannot specify both a value and set <code>UsePreviousValue</code>
  to <code>true</code>.)</p> </li> </ul> </li> <li> <p>To set all overridden parameter
  back to the values specified in the stack set, specify a parameter list but do not
  include any parameters.</p> </li> <li> <p>To leave all parameters set to their present
  values, do not specify this property at all.</p> </li> </ul> <p>During stack set
  updates, any parameter values overridden for a stack instance are not updated, but
  retain their overridden value.</p> <p>You can only override the parameter <i>values</i>
  that are specified in the stack set; to add or delete a parameter itself, use <a
  href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/APIReference/API_UpdateStackSet.html\">UpdateStackSet</a>
  to update the stack set template.</p>\";}s:7:\"Regions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/RegionList\";s:11:\"description\";s:110:\"The
  names of one or more regions where you want to create stack instances using the
  specified AWS account(s). \";}s:12:\"StackSetName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/StackSetName\";s:11:\"description\";s:84:\"The
  name or unique ID of the stack set that you want to create stack instances from.\";}}s:8:\"required\";a:3:{i:0;s:12:\"StackSetName\";i:1;s:8:\"Accounts\";i:2;s:7:\"Regions\";}s:4:\"type\";s:6:\"object\";}s:26:\"CreateStackInstancesOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"OperationId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ClientRequestToken\";s:11:\"description\";s:51:\"The
  unique identifier for this stack set operation.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"CreateStackOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  output for a <a>CreateStack</a> action.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"StackId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/StackId\";s:11:\"description\";s:31:\"Unique
  identifier of the stack.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"CreateStackSetInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":10:{s:21:\"AdministrationRoleARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/RoleARN\";s:11:\"description\";s:503:\"<p>The
  Amazon Resource Number (ARN) of the IAM role to use to create this stack set. </p>
  <p>Specify an IAM role only if you are using customized administrator roles to control
  which users or groups can manage specific stack sets within the same administrator
  account. For more information, see <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/stacksets-prereqs.html\">Prerequisites:
  Granting Permissions for Stack Set Operations</a> in the <i>AWS CloudFormation User
  Guide</i>.</p>\";}s:12:\"Capabilities\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/Capabilities\";s:11:\"description\";s:1433:\"<p>A
  list of values that you must specify before AWS CloudFormation can create certain
  stack sets. Some stack set templates might include resources that can affect permissions
  in your AWS account\u2014for example, by creating new AWS Identity and Access Management
  (IAM) users. For those stack sets, you must explicitly acknowledge their capabilities
  by specifying this parameter.</p> <p>The only valid values are CAPABILITY_IAM and
  CAPABILITY_NAMED_IAM. The following resources require you to specify this parameter:
  </p> <ul> <li> <p>AWS::IAM::AccessKey</p> </li> <li> <p>AWS::IAM::Group</p> </li>
  <li> <p>AWS::IAM::InstanceProfile</p> </li> <li> <p>AWS::IAM::Policy</p> </li> <li>
  <p>AWS::IAM::Role</p> </li> <li> <p>AWS::IAM::User</p> </li> <li> <p>AWS::IAM::UserToGroupAddition</p>
  </li> </ul> <p>If your stack template contains these resources, we recommend that
  you review all permissions that are associated with them and edit their permissions
  if necessary.</p> <p>If you have IAM resources, you can specify either capability.
  If you have IAM resources with custom names, you must specify CAPABILITY_NAMED_IAM.
  If you don't specify this parameter, this action returns an <code>InsufficientCapabilities</code>
  error.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-iam-template.html#capabilities\">Acknowledging
  IAM Resources in AWS CloudFormation Templates.</a> </p>\";}s:18:\"ClientRequestToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ClientRequestToken\";s:11:\"description\";s:427:\"<p>A
  unique identifier for this <code>CreateStackSet</code> request. Specify this token
  if you plan to retry requests so that AWS CloudFormation knows that you're not attempting
  to create another stack set with the same name. You might retry <code>CreateStackSet</code>
  requests to ensure that AWS CloudFormation successfully received them.</p> <p>If
  you don't specify an operation ID, the SDK generates one automatically. </p>\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Description\";s:11:\"description\";s:127:\"A
  description of the stack set. You can use the description to identify the stack
  set's purpose or other important information.\";}s:17:\"ExecutionRoleName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ExecutionRoleName\";s:11:\"description\";s:388:\"<p>The
  name of the IAM execution role to use to create the stack set. If you do not specify
  an execution role, AWS CloudFormation uses the <code>AWSCloudFormationStackSetExecutionRole</code>
  role for the stack set operation.</p> <p>Specify an IAM role only if you are using
  customized execution roles to control which stack resources users and groups can
  include in their stack sets. </p>\";}s:10:\"Parameters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Parameters\";s:11:\"description\";s:49:\"The
  input parameters for the stack set template. \";}s:12:\"StackSetName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/StackSetName\";s:11:\"description\";s:309:\"<p>The
  name to associate with the stack set. The name must be unique in the region where
  you create your stack set.</p> <note> <p>A stack name can contain only alphanumeric
  characters (case-sensitive) and hyphens. It must start with an alphabetic character
  and can't be longer than 128 characters.</p> </note>\";}s:4:\"Tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Tags\";s:11:\"description\";s:547:\"<p>The
  key-value pairs to associate with this stack set and the stacks created from it.
  AWS CloudFormation also propagates these tags to supported resources that are created
  in the stacks. A maximum number of 50 tags can be specified.</p> <p>If you specify
  tags as part of a <code>CreateStackSet</code> action, AWS CloudFormation checks
  to see if you have the required IAM permission to tag resources. If you don't, the
  entire <code>CreateStackSet</code> action fails with an <code>access denied</code>
  error, and the stack set is not created.</p>\";}s:12:\"TemplateBody\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/TemplateBody\";s:11:\"description\";s:407:\"<p>The
  structure that contains the template body, with a minimum length of 1 byte and a
  maximum length of 51,200 bytes. For more information, see <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/template-anatomy.html\">Template
  Anatomy</a> in the AWS CloudFormation User Guide.</p> <p>Conditional: You must specify
  either the TemplateBody or the TemplateURL parameter, but not both.</p>\";}s:11:\"TemplateURL\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/TemplateURL\";s:11:\"description\";s:450:\"<p>The
  location of the file that contains the template body. The URL must point to a template
  (maximum size: 460,800 bytes) that's located in an Amazon S3 bucket. For more information,
  see <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/template-anatomy.html\">Template
  Anatomy</a> in the AWS CloudFormation User Guide.</p> <p>Conditional: You must specify
  either the TemplateBody or the TemplateURL parameter, but not both.</p>\";}}s:8:\"required\";a:1:{i:0;s:12:\"StackSetName\";}s:4:\"type\";s:6:\"object\";}s:20:\"CreateStackSetOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"StackSetId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StackSetId\";s:11:\"description\";s:45:\"The
  ID of the stack set that you're creating.\";}}s:4:\"type\";s:6:\"object\";}s:27:\"CreatedButModifiedException\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"The
  specified resource exists, but has been changed.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:12:\"CreationTime\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:20:\"DeleteChangeSetInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:48:\"The
  input for the <a>DeleteChangeSet</a> action.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"ChangeSetName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ChangeSetNameOrId\";s:11:\"description\";s:81:\"The
  name or Amazon Resource Name (ARN) of the change set that you want to delete.\";}s:9:\"StackName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/StackNameOrId\";s:11:\"description\";s:115:\"If
  you specified the name of a change set to delete, specify the stack name or ID (ARN)
  that is associated with it.\";}}s:8:\"required\";a:1:{i:0;s:13:\"ChangeSetName\";}s:4:\"type\";s:6:\"object\";}s:21:\"DeleteChangeSetOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  output for the <a>DeleteChangeSet</a> action.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:16:\"DeleteStackInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:40:\"The
  input for <a>DeleteStack</a> action.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:18:\"ClientRequestToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ClientRequestToken\";s:11:\"description\";s:1158:\"<p>A
  unique identifier for this <code>DeleteStack</code> request. Specify this token
  if you plan to retry requests so that AWS CloudFormation knows that you're not attempting
  to delete a stack with the same name. You might retry <code>DeleteStack</code> requests
  to ensure that AWS CloudFormation successfully received them.</p> <p>All events
  triggered by a given stack operation are assigned the same client request token,
  which you can use to track operations. For example, if you execute a <code>CreateStack</code>
  operation with the token <code>token1</code>, then all the <code>StackEvents</code>
  generated by that operation will have <code>ClientRequestToken</code> set as <code>token1</code>.</p>
  <p>In the console, stack operations display the client request token on the Events
  tab. Stack operations that are initiated from the console use the token format <i>Console-StackOperation-ID</i>,
  which helps you easily identify the stack operation . For example, if you create
  a stack using the console, each stack event would be assigned the same token in
  the following format: <code>Console-CreateStack-7f59c3cf-00d2-40c7-b2ff-e75db0987002</code>.
  </p>\";}s:15:\"RetainResources\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/RetainResources\";s:11:\"description\";s:383:\"<p>For
  stacks in the <code>DELETE_FAILED</code> state, a list of resource logical IDs that
  are associated with the resources you want to retain. During deletion, AWS CloudFormation
  deletes the stack but does not delete the retained resources.</p> <p>Retaining resources
  is useful when you cannot delete a resource, such as a non-empty S3 bucket, but
  you want to delete the stack.</p>\";}s:7:\"RoleARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/RoleARN\";s:11:\"description\";s:451:\"<p>The
  Amazon Resource Name (ARN) of an AWS Identity and Access Management (IAM) role that
  AWS CloudFormation assumes to delete the stack. AWS CloudFormation uses the role's
  credentials to make calls on your behalf.</p> <p>If you don't specify a value, AWS
  CloudFormation uses the role that was previously associated with the stack. If no
  role is available, AWS CloudFormation uses a temporary session that is generated
  from your user credentials.</p>\";}s:9:\"StackName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/StackName\";s:11:\"description\";s:66:\"The
  name or the unique stack ID that is associated with the stack.\";}}s:8:\"required\";a:1:{i:0;s:9:\"StackName\";}s:4:\"type\";s:6:\"object\";}s:25:\"DeleteStackInstancesInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":6:{s:8:\"Accounts\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/AccountList\";s:11:\"description\";s:74:\"The
  names of the AWS accounts that you want to delete stack instances for.\";}s:11:\"OperationId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ClientRequestToken\";s:11:\"description\";s:569:\"<p>The
  unique identifier for this stack set operation. </p> <p>If you don't specify an
  operation ID, the SDK generates one automatically. </p> <p>The operation ID also
  functions as an idempotency token, to ensure that AWS CloudFormation performs the
  stack set operation only once, even if you retry the request multiple times. You
  can retry stack set operation requests to ensure that AWS CloudFormation successfully
  received them.</p> <p>Repeating this stack set operation with a new operation ID
  retries all stack instances whose status is <code>OUTDATED</code>. </p>\";}s:20:\"OperationPreferences\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/StackSetOperationPreferences\";s:11:\"description\";s:73:\"Preferences
  for how AWS CloudFormation performs this stack set operation.\";}s:7:\"Regions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/RegionList\";s:11:\"description\";s:58:\"The
  regions where you want to delete stack set instances. \";}s:12:\"RetainStacks\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/RetainStacks\";s:11:\"description\";s:369:\"<p>Removes
  the stack instances from the specified stack set, but doesn't delete the stacks.
  You can't reassociate a retained stack or add an existing, saved stack to a new
  stack set.</p> <p>For more information, see <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/stacksets-concepts.html#stackset-ops-options\">Stack
  set operation options</a>.</p>\";}s:12:\"StackSetName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/StackSetName\";s:11:\"description\";s:83:\"The
  name or unique ID of the stack set that you want to delete stack instances for.\";}}s:8:\"required\";a:4:{i:0;s:12:\"StackSetName\";i:1;s:8:\"Accounts\";i:2;s:7:\"Regions\";i:3;s:12:\"RetainStacks\";}s:4:\"type\";s:6:\"object\";}s:26:\"DeleteStackInstancesOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"OperationId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ClientRequestToken\";s:11:\"description\";s:51:\"The
  unique identifier for this stack set operation.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"DeleteStackSetInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"StackSetName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/StackSetName\";s:11:\"description\";s:119:\"The
  name or unique ID of the stack set that you're deleting. You can obtain this value
  by running <a>ListStackSets</a>.\";}}s:8:\"required\";a:1:{i:0;s:12:\"StackSetName\";}s:4:\"type\";s:6:\"object\";}s:20:\"DeleteStackSetOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:12:\"DeletionTime\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:26:\"DescribeAccountLimitsInput\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"The
  input for the <a>DescribeAccountLimits</a> action.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:75:\"A
  string that identifies the next page of limits that you want to retrieve.\";}}s:4:\"type\";s:6:\"object\";}s:27:\"DescribeAccountLimitsOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"The
  output for the <a>DescribeAccountLimits</a> action.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"AccountLimits\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/AccountLimitList\";s:11:\"description\";s:101:\"An
  account limit structure that contain a list of AWS CloudFormation account limits
  and their values.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:135:\"If
  the output exceeds 1 MB in size, a string that identifies the next page of limits.
  If no additional page exists, this value is null.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"DescribeChangeSetInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:50:\"The
  input for the <a>DescribeChangeSet</a> action.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"ChangeSetName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ChangeSetNameOrId\";s:11:\"description\";s:83:\"The
  name or Amazon Resource Name (ARN) of the change set that you want to describe.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:139:\"A
  string (provided by the <a>DescribeChangeSet</a> response output) that identifies
  the next page of information that you want to retrieve.\";}s:9:\"StackName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/StackNameOrId\";s:11:\"description\";s:117:\"If
  you specified the name of a change set, specify the stack name or ID (ARN) of the
  change set you want to describe.\";}}s:8:\"required\";a:1:{i:0;s:13:\"ChangeSetName\";}s:4:\"type\";s:6:\"object\";}s:23:\"DescribeChangeSetOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  output for the <a>DescribeChangeSet</a> action.\";s:10:\"properties\";O:8:\"stdClass\":16:{s:12:\"Capabilities\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/Capabilities\";s:11:\"description\";s:122:\"If
  you execute the change set, the list of capabilities that were explicitly acknowledged
  when the change set was created.\";}s:11:\"ChangeSetId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ChangeSetId\";s:11:\"description\";s:26:\"The
  ARN of the change set.\";}s:13:\"ChangeSetName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ChangeSetName\";s:11:\"description\";s:27:\"The
  name of the change set.\";}s:7:\"Changes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Changes\";s:11:\"description\";s:127:\"A
  list of <code>Change</code> structures that describes the resources AWS CloudFormation
  changes if you execute the change set.\";}s:12:\"CreationTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/CreationTime\";s:11:\"description\";s:55:\"The
  start time when the change set was created, in UTC.\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Description\";s:11:\"description\";s:33:\"Information
  about the change set.\";}s:15:\"ExecutionStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ExecutionStatus\";s:11:\"description\";s:354:\"If
  the change set execution status is <code>AVAILABLE</code>, you can execute the change
  set. If you can\u2019t execute the change set, the status indicates why. For example,
  a change set might be in an <code>UNAVAILABLE</code> state because AWS CloudFormation
  is still creating it or in an <code>OBSOLETE</code> state because the stack was
  already updated.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:130:\"If
  the output exceeds 1 MB, a string that identifies the next page of changes. If there
  is no additional page, this value is null.\";}s:16:\"NotificationARNs\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/NotificationARNs\";s:11:\"description\";s:140:\"The
  ARNs of the Amazon Simple Notification Service (Amazon SNS) topics that will be
  associated with the stack if you execute the change set.\";}s:10:\"Parameters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Parameters\";s:11:\"description\";s:276:\"A
  list of <code>Parameter</code> structures that describes the input parameters and
  their values used to create the change set. For more information, see the <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/APIReference/API_Parameter.html\">Parameter</a>
  data type.\";}s:21:\"RollbackConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/RollbackConfiguration\";s:11:\"description\";s:154:\"The
  rollback triggers for AWS CloudFormation to monitor during stack creation and updating
  operations, and for the specified monitoring period afterwards.\";}s:7:\"StackId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/StackId\";s:11:\"description\";s:60:\"The
  ARN of the stack that is associated with the change set.\";}s:9:\"StackName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/StackName\";s:11:\"description\";s:61:\"The
  name of the stack that is associated with the change set.\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ChangeSetStatus\";s:11:\"description\";s:132:\"The
  current status of the change set, such as <code>CREATE_IN_PROGRESS</code>, <code>CREATE_COMPLETE</code>,
  or <code>FAILED</code>.\";}s:12:\"StatusReason\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/ChangeSetStatusReason\";s:11:\"description\";s:145:\"A
  description of the change set's status. For example, if your attempt to create a
  change set failed, AWS CloudFormation shows the error message.\";}s:4:\"Tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Tags\";s:11:\"description\";s:79:\"If
  you execute the change set, the tags that will be associated with the stack.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"DescribeStackEventsInput\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"The
  input for <a>DescribeStackEvents</a> action.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:75:\"A
  string that identifies the next page of events that you want to retrieve.\";}s:9:\"StackName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/StackName\";s:11:\"description\";s:335:\"<p>The
  name or the unique stack ID that is associated with the stack, which are not always
  interchangeable:</p> <ul> <li> <p>Running stacks: You can specify either the stack's
  name or its unique stack ID.</p> </li> <li> <p>Deleted stacks: You must specify
  the unique stack ID.</p> </li> </ul> <p>Default: There is no default value.</p>\";}}s:4:\"type\";s:6:\"object\";}s:25:\"DescribeStackEventsOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  output for a <a>DescribeStackEvents</a> action.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:135:\"If
  the output exceeds 1 MB in size, a string that identifies the next page of events.
  If no additional page exists, this value is null.\";}s:11:\"StackEvents\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/StackEvents\";s:11:\"description\";s:46:\"A
  list of <code>StackEvents</code> structures.\";}}s:4:\"type\";s:6:\"object\";}s:26:\"DescribeStackInstanceInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:20:\"StackInstanceAccount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Account\";s:11:\"description\";s:68:\"The
  ID of an AWS account that's associated with this stack instance.\";}s:19:\"StackInstanceRegion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Region\";s:11:\"description\";s:64:\"The
  name of a region that's associated with this stack instance.\";}s:12:\"StackSetName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/StackSetName\";s:11:\"description\";s:101:\"The
  name or the unique stack ID of the stack set that you want to get stack instance
  information for.\";}}s:8:\"required\";a:3:{i:0;s:12:\"StackSetName\";i:1;s:20:\"StackInstanceAccount\";i:2;s:19:\"StackInstanceRegion\";}s:4:\"type\";s:6:\"object\";}s:27:\"DescribeStackInstanceOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"StackInstance\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/StackInstance\";s:11:\"description\";s:65:\"The
  stack instance that matches the specified request parameters.\";}}s:4:\"type\";s:6:\"object\";}s:26:\"DescribeStackResourceInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:50:\"The
  input for <a>DescribeStackResource</a> action.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"LogicalResourceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/LogicalResourceId\";s:11:\"description\";s:112:\"<p>The
  logical name of the resource as specified in the template.</p> <p>Default: There
  is no default value.</p>\";}s:9:\"StackName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/StackName\";s:11:\"description\";s:335:\"<p>The
  name or the unique stack ID that is associated with the stack, which are not always
  interchangeable:</p> <ul> <li> <p>Running stacks: You can specify either the stack's
  name or its unique stack ID.</p> </li> <li> <p>Deleted stacks: You must specify
  the unique stack ID.</p> </li> </ul> <p>Default: There is no default value.</p>\";}}s:8:\"required\";a:2:{i:0;s:9:\"StackName\";i:1;s:17:\"LogicalResourceId\";}s:4:\"type\";s:6:\"object\";}s:27:\"DescribeStackResourceOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"The
  output for a <a>DescribeStackResource</a> action.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:19:\"StackResourceDetail\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/StackResourceDetail\";s:11:\"description\";s:121:\"A
  <code>StackResourceDetail</code> structure containing the description of the specified
  resource in the specified stack.\";}}s:4:\"type\";s:6:\"object\";}s:27:\"DescribeStackResourcesInput\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  input for <a>DescribeStackResources</a> action.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:17:\"LogicalResourceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/LogicalResourceId\";s:11:\"description\";s:112:\"<p>The
  logical name of the resource as specified in the template.</p> <p>Default: There
  is no default value.</p>\";}s:18:\"PhysicalResourceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/PhysicalResourceId\";s:11:\"description\";s:619:\"<p>The
  name or unique identifier that corresponds to a physical instance ID of a resource
  supported by AWS CloudFormation.</p> <p>For example, for an Amazon Elastic Compute
  Cloud (EC2) instance, <code>PhysicalResourceId</code> corresponds to the <code>InstanceId</code>.
  You can pass the EC2 <code>InstanceId</code> to <code>DescribeStackResources</code>
  to find which stack the instance belongs to and what other resources are part of
  the stack.</p> <p>Required: Conditional. If you do not specify <code>PhysicalResourceId</code>,
  you must specify <code>StackName</code>.</p> <p>Default: There is no default value.</p>\";}s:9:\"StackName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/StackName\";s:11:\"description\";s:461:\"<p>The
  name or the unique stack ID that is associated with the stack, which are not always
  interchangeable:</p> <ul> <li> <p>Running stacks: You can specify either the stack's
  name or its unique stack ID.</p> </li> <li> <p>Deleted stacks: You must specify
  the unique stack ID.</p> </li> </ul> <p>Default: There is no default value.</p>
  <p>Required: Conditional. If you do not specify <code>StackName</code>, you must
  specify <code>PhysicalResourceId</code>.</p>\";}}s:4:\"type\";s:6:\"object\";}s:28:\"DescribeStackResourcesOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"The
  output for a <a>DescribeStackResources</a> action.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"StackResources\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/StackResources\";s:11:\"description\";s:48:\"A
  list of <code>StackResource</code> structures.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"DescribeStackSetInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"StackSetName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/StackSetName\";s:11:\"description\";s:66:\"The
  name or unique ID of the stack set whose description you want.\";}}s:8:\"required\";a:1:{i:0;s:12:\"StackSetName\";}s:4:\"type\";s:6:\"object\";}s:30:\"DescribeStackSetOperationInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"OperationId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ClientRequestToken\";s:11:\"description\";s:42:\"The
  unique ID of the stack set operation. \";}s:12:\"StackSetName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/StackSetName\";s:11:\"description\";s:73:\"The
  name or the unique stack ID of the stack set for the stack operation.\";}}s:8:\"required\";a:2:{i:0;s:12:\"StackSetName\";i:1;s:11:\"OperationId\";}s:4:\"type\";s:6:\"object\";}s:31:\"DescribeStackSetOperationOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"StackSetOperation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/StackSetOperation\";s:11:\"description\";s:34:\"The
  specified stack set operation.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"DescribeStackSetOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"StackSet\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/StackSet\";s:11:\"description\";s:24:\"The
  specified stack set.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"DescribeStacksInput\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  input for <a>DescribeStacks</a> action.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:75:\"A
  string that identifies the next page of stacks that you want to retrieve.\";}s:9:\"StackName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/StackName\";s:11:\"description\";s:335:\"<p>The
  name or the unique stack ID that is associated with the stack, which are not always
  interchangeable:</p> <ul> <li> <p>Running stacks: You can specify either the stack's
  name or its unique stack ID.</p> </li> <li> <p>Deleted stacks: You must specify
  the unique stack ID.</p> </li> </ul> <p>Default: There is no default value.</p>\";}}s:4:\"type\";s:6:\"object\";}s:20:\"DescribeStacksOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  output for a <a>DescribeStacks</a> action.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:135:\"If
  the output exceeds 1 MB in size, a string that identifies the next page of stacks.
  If no additional page exists, this value is null.\";}s:6:\"Stacks\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Stacks\";s:11:\"description\";s:27:\"A
  list of stack structures.\";}}s:4:\"type\";s:6:\"object\";}s:11:\"Description\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:1024;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:15:\"DisableRollback\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:27:\"EnableTerminationProtection\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:25:\"EstimateTemplateCostInput\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"The
  input for an <a>EstimateTemplateCost</a> action.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"Parameters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Parameters\";s:11:\"description\";s:74:\"A
  list of <code>Parameter</code> structures that specify input parameters.\";}s:12:\"TemplateBody\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/TemplateBody\";s:11:\"description\";s:447:\"<p>Structure
  containing the template body with a minimum length of 1 byte and a maximum length
  of 51,200 bytes. (For more information, go to <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/template-anatomy.html\">Template
  Anatomy</a> in the AWS CloudFormation User Guide.)</p> <p>Conditional: You must
  pass <code>TemplateBody</code> or <code>TemplateURL</code>. If both are passed,
  only <code>TemplateBody</code> is used.</p>\";}s:11:\"TemplateURL\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/TemplateURL\";s:11:\"description\";s:456:\"<p>Location
  of file containing the template body. The URL must point to a template that is located
  in an Amazon S3 bucket. For more information, go to <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/template-anatomy.html\">Template
  Anatomy</a> in the AWS CloudFormation User Guide.</p> <p>Conditional: You must pass
  <code>TemplateURL</code> or <code>TemplateBody</code>. If both are passed, only
  <code>TemplateBody</code> is used.</p>\";}}s:4:\"type\";s:6:\"object\";}s:26:\"EstimateTemplateCostOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"The
  output for a <a>EstimateTemplateCost</a> action.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"Url\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Url\";s:11:\"description\";s:115:\"An
  AWS Simple Monthly Calculator URL with a query string that describes the resources
  required to run the template.\";}}s:4:\"type\";s:6:\"object\";}s:14:\"EvaluationType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:6:\"Static\";i:1;s:7:\"Dynamic\";}s:4:\"type\";s:6:\"string\";}s:7:\"EventId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"ExecuteChangeSetInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:49:\"The
  input for the <a>ExecuteChangeSet</a> action.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"ChangeSetName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ChangeSetNameOrId\";s:11:\"description\";s:82:\"The
  name or ARN of the change set that you want use to update the specified stack.\";}s:18:\"ClientRequestToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ClientRequestToken\";s:11:\"description\";s:355:\"A
  unique identifier for this <code>ExecuteChangeSet</code> request. Specify this token
  if you plan to retry requests so that AWS CloudFormation knows that you're not attempting
  to execute a change set to update a stack with the same name. You might retry <code>ExecuteChangeSet</code>
  requests to ensure that AWS CloudFormation successfully received them.\";}s:9:\"StackName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/StackNameOrId\";s:11:\"description\";s:137:\"If
  you specified the name of a change set, specify the stack name or ID (ARN) that
  is associated with the change set you want to execute.\";}}s:8:\"required\";a:1:{i:0;s:13:\"ChangeSetName\";}s:4:\"type\";s:6:\"object\";}s:22:\"ExecuteChangeSetOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"The
  output for the <a>ExecuteChangeSet</a> action.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:17:\"ExecutionRoleName\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:64;s:9:\"minLength\";i:1;s:7:\"pattern\";s:19:\"[a-zA-Z_0-9+=,.@-]+\";s:4:\"type\";s:6:\"string\";}s:15:\"ExecutionStatus\";O:8:\"stdClass\":2:{s:4:\"enum\";a:6:{i:0;s:11:\"UNAVAILABLE\";i:1;s:9:\"AVAILABLE\";i:2;s:19:\"EXECUTE_IN_PROGRESS\";i:3;s:16:\"EXECUTE_COMPLETE\";i:4;s:14:\"EXECUTE_FAILED\";i:5;s:8:\"OBSOLETE\";}s:4:\"type\";s:6:\"string\";}s:6:\"Export\";O:8:\"stdClass\":3:{s:11:\"description\";s:83:\"The
  <code>Export</code> structure describes the exported output values for a stack.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"ExportingStackId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/StackId\";s:11:\"description\";s:59:\"The
  stack that contains the exported output name and value.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ExportName\";s:11:\"description\";s:253:\"The
  name of exported output value. Use this name and the <code>Fn::ImportValue</code>
  function to import the associated value into other stacks. The name is defined in
  the <code>Export</code> field in the associated stack's <code>Outputs</code> section.\";}s:5:\"Value\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ExportValue\";s:11:\"description\";s:176:\"The
  value of the exported output, such as a resource physical ID. This value is defined
  in the <code>Export</code> field in the associated stack's <code>Outputs</code>
  section.\";}}s:4:\"type\";s:6:\"object\";}s:10:\"ExportName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"ExportValue\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Exports\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Export\";}s:4:\"type\";s:5:\"array\";}s:21:\"FailureToleranceCount\";O:8:\"stdClass\":2:{s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:26:\"FailureTolerancePercentage\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:100;s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:19:\"GetStackPolicyInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:47:\"The
  input for the <a>GetStackPolicy</a> action.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"StackName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/StackName\";s:11:\"description\";s:91:\"The
  name or unique stack ID that is associated with the stack whose policy you want
  to get.\";}}s:8:\"required\";a:1:{i:0;s:9:\"StackName\";}s:4:\"type\";s:6:\"object\";}s:20:\"GetStackPolicyOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"The
  output for the <a>GetStackPolicy</a> action.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"StackPolicyBody\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/StackPolicyBody\";s:11:\"description\";s:252:\"Structure
  containing the stack policy body. (For more information, go to <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/protect-stack-resources.html\">
  Prevent Updates to Stack Resources</a> in the AWS CloudFormation User Guide.)\";}}s:4:\"type\";s:6:\"object\";}s:16:\"GetTemplateInput\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"The
  input for a <a>GetTemplate</a> action.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"ChangeSetName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ChangeSetNameOrId\";s:11:\"description\";s:189:\"The
  name or Amazon Resource Name (ARN) of a change set for which AWS CloudFormation
  returns the associated template. If you specify a name, you must also specify the
  <code>StackName</code>.\";}s:9:\"StackName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/StackName\";s:11:\"description\";s:335:\"<p>The
  name or the unique stack ID that is associated with the stack, which are not always
  interchangeable:</p> <ul> <li> <p>Running stacks: You can specify either the stack's
  name or its unique stack ID.</p> </li> <li> <p>Deleted stacks: You must specify
  the unique stack ID.</p> </li> </ul> <p>Default: There is no default value.</p>\";}s:13:\"TemplateStage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/TemplateStage\";s:11:\"description\";s:470:\"<p>For
  templates that include transforms, the stage of the template that AWS CloudFormation
  returns. To get the user-submitted template, specify <code>Original</code>. To get
  the template after AWS CloudFormation has processed all transforms, specify <code>Processed</code>.
  </p> <p>If the template doesn't include transforms, <code>Original</code> and <code>Processed</code>
  return the same template. By default, AWS CloudFormation specifies <code>Original</code>.
  </p>\";}}s:4:\"type\";s:6:\"object\";}s:17:\"GetTemplateOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  output for <a>GetTemplate</a> action.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"StagesAvailable\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/StageList\";s:11:\"description\";s:332:\"The
  stage of the template that you can retrieve. For stacks, the <code>Original</code>
  and <code>Processed</code> templates are always available. For change sets, the
  <code>Original</code> template is always available. After AWS CloudFormation finishes
  creating the change set, the <code>Processed</code> template becomes available.\";}s:12:\"TemplateBody\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/TemplateBody\";s:11:\"description\";s:323:\"<p>Structure
  containing the template body. (For more information, go to <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/template-anatomy.html\">Template
  Anatomy</a> in the AWS CloudFormation User Guide.)</p> <p>AWS CloudFormation returns
  the same template that was used when the stack was created.</p>\";}}s:4:\"type\";s:6:\"object\";}s:23:\"GetTemplateSummaryInput\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  input for the <a>GetTemplateSummary</a> action.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"StackName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/StackNameOrId\";s:11:\"description\";s:427:\"<p>The
  name or the stack ID that is associated with the stack, which are not always interchangeable.
  For running stacks, you can specify either the stack's name or its unique stack
  ID. For deleted stack, you must specify the unique stack ID.</p> <p>Conditional:
  You must specify only one of the following parameters: <code>StackName</code>, <code>StackSetName</code>,
  <code>TemplateBody</code>, or <code>TemplateURL</code>.</p>\";}s:12:\"StackSetName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/StackSetNameOrId\";s:11:\"description\";s:261:\"<p>The
  name or unique ID of the stack set from which the stack was created.</p> <p>Conditional:
  You must specify only one of the following parameters: <code>StackName</code>, <code>StackSetName</code>,
  <code>TemplateBody</code>, or <code>TemplateURL</code>.</p>\";}s:12:\"TemplateBody\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/TemplateBody\";s:11:\"description\";s:492:\"<p>Structure
  containing the template body with a minimum length of 1 byte and a maximum length
  of 51,200 bytes. For more information about templates, see <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/template-anatomy.html\">Template
  Anatomy</a> in the AWS CloudFormation User Guide.</p> <p>Conditional: You must specify
  only one of the following parameters: <code>StackName</code>, <code>StackSetName</code>,
  <code>TemplateBody</code>, or <code>TemplateURL</code>.</p>\";}s:11:\"TemplateURL\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/TemplateURL\";s:11:\"description\";s:529:\"<p>Location
  of file containing the template body. The URL must point to a template (max size:
  460,800 bytes) that is located in an Amazon S3 bucket. For more information about
  templates, see <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/template-anatomy.html\">Template
  Anatomy</a> in the AWS CloudFormation User Guide.</p> <p>Conditional: You must specify
  only one of the following parameters: <code>StackName</code>, <code>StackSetName</code>,
  <code>TemplateBody</code>, or <code>TemplateURL</code>.</p>\";}}s:4:\"type\";s:6:\"object\";}s:24:\"GetTemplateSummaryOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"The
  output for the <a>GetTemplateSummary</a> action.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:12:\"Capabilities\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/Capabilities\";s:11:\"description\";s:536:\"<p>The
  capabilities found within the template. If your template contains IAM resources,
  you must specify the CAPABILITY_IAM or CAPABILITY_NAMED_IAM value for this parameter
  when you use the <a>CreateStack</a> or <a>UpdateStack</a> actions with your template;
  otherwise, those actions return an InsufficientCapabilities error.</p> <p>For more
  information, see <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/using-iam-template.html#capabilities\">Acknowledging
  IAM Resources in AWS CloudFormation Templates</a>.</p>\";}s:18:\"CapabilitiesReason\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/CapabilitiesReason\";s:11:\"description\";s:98:\"The
  list of resources that generated the values in the <code>Capabilities</code> response
  element.\";}s:18:\"DeclaredTransforms\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/TransformsList\";s:11:\"description\";s:59:\"A
  list of the transforms that are declared in the template.\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Description\";s:11:\"description\";s:83:\"The
  value that is defined in the <code>Description</code> property of the template.\";}s:8:\"Metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Metadata\";s:11:\"description\";s:81:\"The
  value that is defined for the <code>Metadata</code> property of the template.\";}s:10:\"Parameters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/ParameterDeclarations\";s:11:\"description\";s:85:\"A
  list of parameter declarations that describe various properties for each parameter.\";}s:13:\"ResourceTypes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ResourceTypes\";s:11:\"description\";s:192:\"A
  list of all the template resource types that are defined in the template, such as
  <code>AWS::EC2::Instance</code>, <code>AWS::Dynamo::Table</code>, and <code>Custom::MyCustomInstance</code>.\";}s:7:\"Version\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Version\";s:11:\"description\";s:83:\"The
  AWS template format version, which identifies the capabilities of the template.\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Imports\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/StackName\";}s:4:\"type\";s:5:\"array\";}s:33:\"InsufficientCapabilitiesException\";O:8:\"stdClass\":3:{s:11:\"description\";s:103:\"The
  template contains resources with capabilities that weren't specified in the Capabilities
  parameter.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:31:\"InvalidChangeSetStatusException\";O:8:\"stdClass\":3:{s:11:\"description\";s:198:\"The
  specified change set can't be used to update the stack. For example, the change
  set status might be <code>CREATE_IN_PROGRESS</code>, or the stack status might be
  <code>UPDATE_IN_PROGRESS</code>.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:25:\"InvalidOperationException\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  specified operation isn't valid.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:15:\"LastUpdatedTime\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:22:\"LimitExceededException\";O:8:\"stdClass\":3:{s:11:\"description\";s:241:\"<p>The
  quota for the resource has already been reached.</p> <p>For information on stack
  set limitations, see <a href=\"http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/stacksets-limitations.html\">Limitations
  of StackSets</a>.</p>\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:9:\"LimitName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"LimitValue\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:19:\"ListChangeSetsInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:47:\"The
  input for the <a>ListChangeSets</a> action.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:136:\"A
  string (provided by the <a>ListChangeSets</a> response output) that identifies the
  next page of change sets that you want to retrieve.\";}s:9:\"StackName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/StackNameOrId\";s:11:\"description\";s:95:\"The
  name or the Amazon Resource Name (ARN) of the stack for which you want to list change
  sets.\";}}s:8:\"required\";a:1:{i:0;s:9:\"StackName\";}s:4:\"type\";s:6:\"object\";}s:20:\"ListChangeSetsOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"The
  output for the <a>ListChangeSets</a> action.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:134:\"If
  the output exceeds 1 MB, a string that identifies the next page of change sets.
  If there is no additional page, this value is null.\";}s:9:\"Summaries\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ChangeSetSummaries\";s:11:\"description\";s:126:\"A
  list of <code>ChangeSetSummary</code> structures that provides the ID and status
  of each change set for the specified stack.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"ListExportsInput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:145:\"A
  string (provided by the <a>ListExports</a> response output) that identifies the
  next page of exported output values that you asked to retrieve.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"ListExportsOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Exports\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Exports\";s:11:\"description\";s:45:\"The
  output for the <a>ListExports</a> action.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:152:\"If
  the output exceeds 100 exported output values, a string that identifies the next
  page of exports. If there is no additional page, this value is null.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"ListImportsInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"ExportName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ExportName\";s:11:\"description\";s:113:\"The
  name of the exported output value. AWS CloudFormation returns the stack names that
  are importing this value. \";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:158:\"A
  string (provided by the <a>ListImports</a> response output) that identifies the
  next page of stacks that are importing the specified exported output value. \";}}s:8:\"required\";a:1:{i:0;s:10:\"ExportName\";}s:4:\"type\";s:6:\"object\";}s:17:\"ListImportsOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Imports\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Imports\";s:11:\"description\";s:78:\"A
  list of stack names that are importing the specified exported output value. \";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:102:\"A
  string that identifies the next page of exports. If there is no additional page,
  this value is null.\";}}s:4:\"type\";s:6:\"object\";}s:23:\"ListStackInstancesInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MaxResults\";s:11:\"description\";s:274:\"The
  maximum number of results to be returned with a single call. If the number of available
  results exceeds this maximum, the response includes a <code>NextToken</code> value
  that you can assign to the <code>NextToken</code> request parameter to get the next
  set of results.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:428:\"If
  the previous request didn't return all of the remaining results, the response's
  <code>NextToken</code> parameter value is set to a token. To retrieve the next set
  of results, call <code>ListStackInstances</code> again and assign that token to
  the request object's <code>NextToken</code> parameter. If there are no remaining
  results, the previous response object's <code>NextToken</code> parameter is set
  to <code>null</code>.\";}s:20:\"StackInstanceAccount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Account\";s:11:\"description\";s:70:\"The
  name of the AWS account that you want to list stack instances for.\";}s:19:\"StackInstanceRegion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Region\";s:11:\"description\";s:63:\"The
  name of the region where you want to list stack instances. \";}s:12:\"StackSetName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/StackSetName\";s:11:\"description\";s:81:\"The
  name or unique ID of the stack set that you want to list stack instances for.\";}}s:8:\"required\";a:1:{i:0;s:12:\"StackSetName\";}s:4:\"type\";s:6:\"object\";}s:24:\"ListStackInstancesOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:349:\"If
  the request doesn't return all of the remaining results, <code>NextToken</code>
  is set to a token. To retrieve the next set of results, call <code>ListStackInstances</code>
  again and assign that token to the request object's <code>NextToken</code> parameter.
  If the request returns all results, <code>NextToken</code> is set to <code>null</code>.\";}s:9:\"Summaries\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/StackInstanceSummaries\";s:11:\"description\";s:116:\"A
  list of <code>StackInstanceSummary</code> structures that contain information about
  the specified stack instances.\";}}s:4:\"type\";s:6:\"object\";}s:23:\"ListStackResourcesInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:50:\"The
  input for the <a>ListStackResource</a> action.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:84:\"A
  string that identifies the next page of stack resources that you want to retrieve.\";}s:9:\"StackName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/StackName\";s:11:\"description\";s:335:\"<p>The
  name or the unique stack ID that is associated with the stack, which are not always
  interchangeable:</p> <ul> <li> <p>Running stacks: You can specify either the stack's
  name or its unique stack ID.</p> </li> <li> <p>Deleted stacks: You must specify
  the unique stack ID.</p> </li> </ul> <p>Default: There is no default value.</p>\";}}s:8:\"required\";a:1:{i:0;s:9:\"StackName\";}s:4:\"type\";s:6:\"object\";}s:24:\"ListStackResourcesOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"The
  output for a <a>ListStackResources</a> action.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:136:\"If
  the output exceeds 1 MB, a string that identifies the next page of stack resources.
  If no additional page exists, this value is null.\";}s:22:\"StackResourceSummaries\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/StackResourceSummaries\";s:11:\"description\";s:55:\"A
  list of <code>StackResourceSummary</code> structures.\";}}s:4:\"type\";s:6:\"object\";}s:33:\"ListStackSetOperationResultsInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MaxResults\";s:11:\"description\";s:274:\"The
  maximum number of results to be returned with a single call. If the number of available
  results exceeds this maximum, the response includes a <code>NextToken</code> value
  that you can assign to the <code>NextToken</code> request parameter to get the next
  set of results.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:445:\"If
  the previous request didn't return all of the remaining results, the response object's
  <code>NextToken</code> parameter value is set to a token. To retrieve the next set
  of results, call <code>ListStackSetOperationResults</code> again and assign that
  token to the request object's <code>NextToken</code> parameter. If there are no
  remaining results, the previous response object's <code>NextToken</code> parameter
  is set to <code>null</code>.\";}s:11:\"OperationId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ClientRequestToken\";s:11:\"description\";s:34:\"The
  ID of the stack set operation.\";}s:12:\"StackSetName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/StackSetName\";s:11:\"description\";s:82:\"The
  name or unique ID of the stack set that you want to get operation results for.\";}}s:8:\"required\";a:2:{i:0;s:12:\"StackSetName\";i:1;s:11:\"OperationId\";}s:4:\"type\";s:6:\"object\";}s:34:\"ListStackSetOperationResultsOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:333:\"If
  the request doesn't return all results, <code>NextToken</code> is set to a token.
  To retrieve the next set of results, call <code>ListOperationResults</code> again
  and assign that token to the request object's <code>NextToken</code> parameter.
[...]
