---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":5:{s:7:\"version\";s:3:\"1.1\";s:5:\"title\";s:20:\"eBaoCloud
  LI OpenAPI\";s:14:\"termsOfService\";s:26:\"http://api.ebaocloud.life/\";s:7:\"contact\";O:8:\"stdClass\":1:{s:5:\"email\";s:24:\"liliang.zhu@ebaotech.com\";}s:11:\"description\";s:4736:\"This
  document is the API specification for the eBaoCloud Life part. To practice and run
  the APIs in this document, you need to apply an eBaoCloud tenant account(starting
  from a sandbox account instead of production account) first.<br>\nContact liliang.zhu@ebaotech.com
  for more information and trial using.\n\n# Built on\nWed Mar 14 2018, 17:43:36 +08:00\n\n#
  Versioning\nAPI version| Date  |Comments\n--|---|--\n0.5  | 2017-06-13  | Initial
  version\n0.6  | 2017-06-19  | Add new category and readme\n0.6.5 | 2017-06-29  |
  oauth2 document, Chinese version document\n0.8  | 2017-07-07  | oauth2 launch\n0.8.5
  | 2017-07-31 | Enhancement in product services\n0.9 | 2017-08-25 | Add limits related
  APIs (age, premium / SA and term )\n0.9.5 | 2017-09-05 | Add new service for e-policy
  downloading\n0.9.6 | 2017-09-13 | Add field: extra premium\n0.9.7 | 2017-11-09 |
  Parameter sequence, add some new function in product\n0.9.8 | 2017-11-22 | Mortgage
  product support\n1.0 | 2017-12-19 | Product model enhancement\n\n# Authentication\n\n##
  Overview\n\neBaoCloud offers 3rd party applications the ability to issue authenticated
  requests on behalf of the eBaoCloud itself. eBaoCloud's implementation is based
  on the [Client Credentials Grant](http://tools.ietf.org/html/rfc6749#section-4.4)
  flow of the [oauth 2 specification](http://tools.ietf.org/html/rfc6749).\n\n## Auth
  Flow\n\nThe oauth2 / token authentication flow follows these 3 major steps:\n\n1.
  An application (backend) encodes its consumer key and secret (provided by eBaoCloud
  as an authorized vender) into a specially encoded set of credentials.\n2. An application
  (backend) makes a request to the POST oauth2 / token endpoint to exchange these
  credentials for a bearer token.\n3. When accessing the REST API, the application
  (the APP or website) uses the bearer token to authenticate.\n\n![Auth Flow](/assets/oauth.png)\n\n##
  Step by step\n\n* Send request to auth end point\n\n```js\nPOST: /cas/ebao/v1/json/tickets\nBody:
  {\"username\":\"name\", \"password\":\"pwd\"}\nResponse: {\"access_token\": \"xxxx\"}\n```\n\n*
  Send request with access_token in header\n\n```js\nPOST: /rest/products\nHeader:
  {\n  \"authorization\":\"Bearer \"+access_token,\n  \"X-ebao-tenant-id\": \"tenant-id\"\n}\n```\n\n##
  End Points\n#### eBaoCloud in China\n* Portal: https://ebaocloud.com.cn/\n* Sandbox:\n
  \ * auth / token: https://sandbox.ebaocloud.com.cn/cas/ebao/v1/json/tickets\n  *
  API access: https://sandbox.gw.ebaocloud.com.cn/eBao/1.0/\n* Production:\n  * auth
  / token: https://ebaocloud.com.cn/cas/ebao/v1/json/tickets\n  * API access: https://gw.ebaocloud.com.cn/eBao/1.0/\n\n####
  eBaoCloud in Singapore\n  * Portal: https://sg.ebaocloud.com/\n  * Sandbox:\n    *
  auth / token: https://sandbox.sg.ebaocloud.com/cas/ebao/v1/json/tickets\n    * API
  access: https://sandbox.gw.sg.ebaocloud.com/eBao/1.0/\n  * Production:\n    * auth
  / token: https://sg.ebaocloud.com/cas/ebao/v1/json/tickets\n    * API access: https://gw.sg.ebaocloud.com/eBao/1.0/\n\n\n####
  eBaoCloud in Sri Lanka\n  * Portal: https://lk.ebaocloud.com/\n  * Sandbox:\n    *
  auth / token: https://sandbox.lk.ebaocloud.com/cas/ebao/v1/json/tickets\n    * API
  access: https://sandbox.gw.lk.ebaocloud.com/eBao/1.0/\n  * Production:\n    * auth
  / token: https://lk.ebaocloud.com/cas/ebao/v1/json/tickets\n    * API access: https://gw.lk.ebaocloud.com/eBao/1.0/\n\n##
  Sample\n\n#### Request auth from application\n\n```bash\ncurl --request POST \\\n
  \ --url https://url/cas/ebao/v1/json/tickets \\\n  --header 'content-type: application/json'
  \\\n  --header 'X-ebao-tenant-id: tenant-id' \\\n  --data '{\\n \\n \"username\":\"site.admin\",\\n
  \"password\":\"adminPWD!\"\\n}'\n```\n\nNote:\n. the **X-ebao-tenant-id** is the
  unique id provided by eBaoCloud to identify the tenant.\n. the **username** and
  **password** are provided by eBaoCloud when you registered as an authorized vendor.\n\n\n####
  Response from API Gateway\n\n* Success\n\n```js\n{\n\"access_token\" : \"TGT-233-e7Zuc5FlSAa0SShO3B1f2iugYzRQGQrSSoGwAi0VnWbnBNDwHg\"\n}\n```\n\n*
  Failed\n\n```js\n{\n\"access_token\" : null\n}\n```\n\n#### App call (Java code
  sample)\n\n```java\nHttpResponse<String> response = Unirest.post(url) // url\uFF1Athe
  UAT/product URL\n  .header(\"content-type\", \"application/json\") // application/json\n
  \ .header(\"authorization\", \"Bearer \" + accessToken) // oauth2 access token\uFF1Athe
  accessToken\n  .header(\"X-ebao-tenant-id\", \"tenant-id\")\n  .body(body) // body:
  http body\n  .asString();\n```\n\n## Others\n\n### Tokens are passwords\n\nKeep
  in mind that the consumer key & secret, bearer token credentials, and the bearer
  token itself grant access to make requests on behalf of an application. These values
  should be considered as sensitive as passwords, and must not be shared or distributed
  to untrusted parties.\n\n### SSL required\n\nAll requests (both to obtain and use
  the tokens) **must use** HTTPS endpoints.\n\";}"
host: sandbox.gw.ebaocloud.com.cn
basePath: /eBao/1.0/
paths:
  /pd/packages:
    get:
      tags:
      - Product
      summary: Get a package list
      description: Obtain a product list according to the criteria, the product list
        contains the product of basic information
      operationId: findPackagesUsingGET
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: date
        in: query
        description: Date, package sales before this date, format (YYYY-MM-DD)
        required: false
        type: string
      - name: salesCategory
        in: query
        description: Date, product sales before this date, format (YYYY-MM-DD)
        required: false
        type: string
      - name: insurerIds
        in: query
        description: The list of insurance companies, product sales category can be
          multiple, if multiple are separated by commas (,)
        required: false
        type: string
      - name: X-ebao-tenant-id
        in: header
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/PackagesResponse'
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
        500:
          description: Internal Server Error
  /pd/packages/{packageCode}:
    get:
      tags:
      - Product
      summary: Get one package detail
      description: Get the product package list
      operationId: findProductPackageUsingGET
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: packageCode
        in: path
        description: Product package code
        required: true
        type: string
      - name: X-ebao-tenant-id
        in: header
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/PackageResponse'
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
        500:
          description: Internal Server Error
  /pd/products:
    get:
      tags:
      - Product
      summary: Get the product list
      description: Get product package detail
      operationId: findProductsUsingGET
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: date
        in: query
        description: Date, package sales before this date, format (YYYY-MM-DD)
        required: false
        type: string
      - name: salesCategory
        in: query
        description: Date, product sales before this date, format (YYYY-MM-DD)
        required: false
        type: string
      - name: insurerCodes
        in: query
        description: The list of insurance companies, product sales category can be
          multiple, if multiple are separated by commas (,)
        required: false
        type: string
      - name: isMainProduct
        in: query
        description: Whether it is the main plan
        required: false
        type: string
      - name: X-ebao-tenant-id
        in: header
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ProductsResponse'
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
        500:
          description: Internal Server Error
  /pd/products/benefitIllustration:
    post:
      tags:
      - Product
      summary: Benefit Illustration
      description: Product benefit illustration
      operationId: illustrateCalculationUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: illustrationRequest
        description: Insurance illustration calculation data
        required: true
        schema:
          $ref: '#/definitions/IllustrationRequest'
      - name: X-ebao-tenant-id
        in: header
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/IllustrationResponse'
        201:
          description: Created
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
        500:
          description: Internal Server Error
  /pd/products/benefitPremiumSA:
    post:
      tags:
      - Product
      summary: Calculate premium or SA
      description: Calculate premium base on SA or calculate SA base on premium
      operationId: benefitPremiumSAUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: calculateRequest
        description: Insurance premium calculation data
        required: true
        schema:
          $ref: '#/definitions/CalculatePremSARequest'
      - name: X-ebao-tenant-id
        in: header
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/CalculatePremSAResponse'
        201:
          description: Created
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
        500:
          description: Internal Server Error
  /pd/products/limits/SA:
    post:
      tags:
      - Product
      summary: Enquiry SA limit by some conditions
      description: Enquiry SA limit by some conditions
      operationId: getSALimitByConUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: saLimitCon
        description: SA limit enquire request and parameters
        required: true
        schema:
          $ref: '#/definitions/SaLimitCon'
      - name: X-ebao-tenant-id
        in: header
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ProductSumAssuredResponse'
        201:
          description: Created
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
        500:
          description: Internal Server Error
  /pd/products/limits/age:
    post:
      tags:
      - Product
      summary: Enquiry age limit by some conditions
      description: Enquiry age limit by some conditions
      operationId: getAgeLimitByConUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: ageLimitCon
        description: Age limit enquiry conditions
        required: true
        schema:
          $ref: '#/definitions/AgeLimitCon'
      - name: X-ebao-tenant-id
        in: header
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ProductAgeResponse'
        201:
          description: Created
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
        500:
          description: Internal Server Error
  /pd/products/limits/premium:
    post:
      tags:
      - Product
      summary: Enquiry premium limit by some conditions
      description: Enquiry premium limit by some conditions
      operationId: getPremiumLimitByConUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: premiumLimitCon
        description: Premium limit enquire request and parameters
        required: true
        schema:
          $ref: '#/definitions/PremiumLimitCon'
      - name: X-ebao-tenant-id
        in: header
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ProductPremiumResponse'
        201:
          description: Created
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
        500:
          description: Internal Server Error
  /pd/products/limits/term:
    post:
      tags:
      - Product
      summary: Enquiry term limit by some conditions
      description: Enquiry term limit by some conditions
      operationId: getTermLimitByConUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: termLimitCon
        description: Term limit enquiry conditions
        required: true
        schema:
          $ref: '#/definitions/TermLimitCon'
      - name: X-ebao-tenant-id
        in: header
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ProductTermResponse'
        201:
          description: Created
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
        500:
          description: Internal Server Error
  /pd/products/ratingParameters:
    get:
      tags:
      - Product
      summary: Get rating relations for the particular product
      description: Get rating relations for the particular product
      operationId: getRatingParametersUsingGET
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: productCode
        in: query
        description: Product code
        required: true
        type: string
      - name: ratingParameterType
        in: query
        description: 'Rating relation type: <br>1 - related to premium calculation'
        required: true
        type: integer
        format: int32
      - name: X-ebao-tenant-id
        in: header
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ProductRatingParametersResponse'
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
        500:
          description: Internal Server Error
  /pd/products/salesCategory:
    get:
      tags:
      - Product
      summary: Get sales products category list
      description: Get a list of all sales products for one tenant
      operationId: findSalesCategoryUsingGET
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: X-ebao-tenant-id
        in: header
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/SalesCategoryResponse'
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
        500:
          description: Internal Server Error
  /pd/products/salesCategory/{productCode}:
    get:
      tags:
      - Product
      summary: Get one particular sales products for one tenant
      description: Get one particular sales products for one tenant
      operationId: findProductSalesCategoryUsingGET
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: productCode
        in: path
        description: Product code
        required: true
        type: string
      - name: X-ebao-tenant-id
        in: header
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/SalesCategoryResponse'
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
        500:
          description: Internal Server Error
  /pd/products/{productCode}:
    get:
      tags:
      - Product
      summary: Get product detail
      description: According to the product code, get the details of a product
      operationId: findProductUsingGET
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: productCode
        in: path
        description: Product code
        required: true
        type: string
      - name: X-ebao-tenant-id
        in: header
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ProductResponse'
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
        500:
          description: Internal Server Error
  /proposal/proposals/application:
    post:
      tags:
      - Proposal
      summary: Application
      description: Calculate the premium and verify the insurance underwriting rules,
        if passed, then generate an insurance policy number
      operationId: applyUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: request
        description: Request
        required: true
        schema:
          $ref: '#/definitions/ApplicationRequest'
      - name: X-ebao-tenant-id
        in: header
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ApplicationResponse'
        201:
          description: Created
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
        500:
          description: Internal Server Error
  /proposal/proposals/epolicy/{proposalNumber}:
    get:
      tags:
      - Proposal
      summary: Get ePolicy download URI by proposal No. after policy issued
      description: Get ePolicy download URI by proposal No. after policy issued
      operationId: getEPolicyDownloadUrlUsingGET
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: proposalNumber
        in: path
        description: Proposal number
        required: true
        type: string
      - name: X-ebao-tenant-id
        in: header
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/EPolicyResponse'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /proposal/proposals/issurance:
    post:
      tags:
      - Proposal
      summary: Collection & Issue policy
      description: After the premium collection, issue the policy
      operationId: issueUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: request
        description: Request
        required: true
        schema:
          $ref: '#/definitions/IssuranceRequest'
      - name: X-ebao-tenant-id
        in: header
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/IssuranceResponse'
        201:
          description: Created
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
        500:
          description: Internal Server Error
  /proposal/proposals/pre-verification:
    post:
      tags:
      - Proposal
      summary: Proposal pre-verification
      description: Calculate the premium and verify the risk of insurance
      operationId: quoteUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: request
        description: Request
        required: true
        schema:
          $ref: '#/definitions/QuotationRequest'
      - name: X-ebao-tenant-id
        in: header
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/QuotationResponse'
        201:
          description: Created
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
        500:
          description: Internal Server Error
produces: []
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":123:{s:21:\"SalesCategoryResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:15:\"clientRequestId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"External
  transaction serial number\";}s:17:\"clientRequestTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:28:\"External
  client request time\";}s:6:\"result\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:92:\"Request
  result<br>1 - business success<br>0 - business failure<br>-1 - application exception\";}s:8:\"messages\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:45:\"Business
  failure reason description list node\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/GenericValidationResult\";}}s:10:\"exceptions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:22:\"Exception
  information:\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:17:\"listSalesCategory\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:22:\"Product
  sales category\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/ProductSalesCategory\";}}}}s:25:\"ProductSumAssuredResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:15:\"clientRequestId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"External
  transaction serial number\";}s:17:\"clientRequestTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:28:\"External
  client request time\";}s:6:\"result\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:92:\"Request
  result<br>1 - business success<br>0 - business failure<br>-1 - application exception\";}s:10:\"exceptions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:22:\"Exception
  information:\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"productCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Product
  code\";}s:17:\"productSumAssured\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"SA
  limit enquire result\";s:4:\"$ref\";s:31:\"#/definitions/ProductSumAssured\";}}}s:16:\"CalculateInsured\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:6:\"gender\";i:1;s:7:\"orderId\";}s:10:\"properties\";O:8:\"stdClass\":10:{s:3:\"age\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:17;s:11:\"description\";s:159:\"Policy
  holder's age on application date. At least capture one of the age or birthday.  When
  have both age and birthday, using birthday as the calculation base.\";}s:6:\"gender\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"M\";s:11:\"description\";s:38:\"Insured's
  sex, M - male;<br>F - female\";s:4:\"enum\";a:2:{i:0;s:1:\"M\";i:1;s:1:\"F\";}}s:9:\"birthdate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:10:\"1999-10-16\";s:11:\"description\";s:54:\"Insured's
  birthday, non-empty, date format: yyyy-MM-dd\";}s:7:\"smoking\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"Y\";s:11:\"description\";s:65:\"Whether
  smoking<br>Y - yes;<br>N - no<br>By default is no smoking\";s:4:\"enum\";a:2:{i:0;s:1:\"Y\";i:1;s:1:\"N\";}}s:14:\"occupationCode\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:10001;s:11:\"description\";s:90:\"Occupation
  code, provide by insurer officially. For some product, this field is compulsory\";}s:15:\"occupationClass\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:1;s:11:\"description\";s:16:\"Occupation
  level\";}s:11:\"medicalIndi\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"Y\";s:11:\"description\";s:64:\"Whether
  there is medical insurance coverage<br>Y - yes<br>N - no\";s:4:\"enum\";a:2:{i:0;s:1:\"Y\";i:1;s:1:\"N\";}}s:18:\"socialSecurityIndi\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"Y\";s:11:\"description\";s:71:\"Whether
  there is social medical insurance coverage<br>Y - yes<br>N - no\";s:4:\"enum\";a:2:{i:0;s:1:\"Y\";i:1;s:1:\"N\";}}s:7:\"orderId\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:1;s:11:\"description\";s:56:\"Insured
  sequence, for only one insured, this number is 1\";}s:9:\"extFields\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:14:\"Extended
  field\";}}}s:13:\"CalculateFund\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:10:\"assignRate\";i:1;s:8:\"fundCode\";i:2;s:8:\"premType\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"fundCode\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"F001\";s:11:\"description\";s:9:\"Fund
  code\";}s:10:\"assignRate\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:7:\"example\";i:1;s:11:\"description\";s:17:\"Fund
  assign ratio\";}s:8:\"premType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:53:\"2:
  regular premium; 3: regular topup; 4: ad-hoc topup\";s:11:\"description\";s:31:\"Fee
  type for investment product\";}s:9:\"extFields\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:14:\"Extended
  field\";}}}s:18:\"ProductPackageInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":24:{s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"packageCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"Product
  package code\";}s:11:\"packageName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"Product
  package name\";}s:7:\"moneyId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:20:\"Product
  package name\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"Product
  package description\";}s:13:\"specialClause\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"Package
  clauses for special usage\";}s:13:\"pricingMethod\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:543:\"Premiums
  calculation method<br>0 - premium/SA by the user input<br>1 - products sold by the
  unit<br>2 - calculate premiums base on sum assured, but also allows the agreement
  premium<br>3 - products sold under the plan or unit<br>4 - products are only allowed
  to sell according to plan<br>5 - according to the premium , But also allow the agreement
  premium<br>6 - only to allow the sum assured to premium but also allow the agreement
  premium<br>7 - only allow premiums to sum assured<br>8 - both sum assured to premium
  or sum assured to premium\";}s:11:\"unitPremium\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:12:\"Unit
  premium\";}s:10:\"unitAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:7:\"Unit
  SA\";}s:9:\"minAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:18:\"Allowed
  minimum SA\";}s:9:\"maxAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:18:\"Allowed
  maximum SA\";}s:10:\"baseAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:7:\"Base
  SA\";}s:10:\"minPremium\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:23:\"Allowed
  minimum premium\";}s:10:\"maxPremium\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:23:\"Allowed
  maximum premium\";}s:10:\"minAgeUnit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"Allowed
  minimum age (unit)\";}s:6:\"minAge\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:19:\"Allowed
  minimum age\";}s:10:\"maxAgeUnit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"Allowed
  maximum age (unit)\";}s:6:\"maxAge\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:19:\"Allowed
  maximum age\";}s:8:\"minPhAge\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:35:\"Allowed
  minimum policy holder's age\";}s:8:\"maxPhAge\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:35:\"Allowed
  maximum policy holder's age\";}s:15:\"productPkgTerms\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:27:\"Basic
  package product terms\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ProductPackageTerm\";}}s:9:\"packageId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:18:\"Product
  package Id\";}s:18:\"productPkgProducts\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:21:\"Basic
  package product\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ProductPkgProduct\";}}s:24:\"productPkgProductMatrixs\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:43:\"Basic
  package product's matrix relationship\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/ProductPkgProductMatrix\";}}}}s:19:\"ProductTermResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:15:\"clientRequestId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"External
  transaction serial number\";}s:17:\"clientRequestTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:28:\"External
  client request time\";}s:6:\"result\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:92:\"Request
  result<br>1 - business success<br>0 - business failure<br>-1 - application exception\";}s:10:\"exceptions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:22:\"Exception
  information:\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"productCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Product
  code\";}s:11:\"productTerm\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Term
  limit\";s:4:\"$ref\";s:25:\"#/definitions/ProductTerm\";}}}s:16:\"CalculatePremium\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:11:\"paymentFreq\";}s:10:\"properties\";O:8:\"stdClass\":6:{s:10:\"sumAssured\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:7:\"example\";i:1000000;s:11:\"description\";s:55:\"SA,
  when the premium calculation is from SA to premium.\";}s:7:\"premium\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:7:\"example\";i:2000;s:11:\"description\";s:47:\"Premium,
  only for the calculate SA from premium\";}s:4:\"unit\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:1;s:11:\"description\";s:51:\"Unit,
  only apply to the product which sales by unit\";}s:12:\"benefitLevel\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"1\";s:11:\"description\";s:70:\"Benefit
  level, only apply to the products which sales by benefit level\";}s:11:\"paymentFreq\";O:8:\"stdClass\":5:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:1;s:11:\"description\";s:132:\"Pay
  frequency<br>1 - yearly payment<br>2 - half yearly payment<br>3 - quarterly payment<br>4
  - monthly payment<br>5 - single premium\";s:4:\"enum\";a:5:{i:0;i:1;i:1;i:2;i:2;i:3;i:3;i:4;i:4;i:5;}}s:9:\"extFields\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:14:\"Extended
  field\";}}}s:23:\"ProductFundPremiumLimit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"fundCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"Fund
  code\";}s:13:\"paymentMethod\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:57:\"Product
  fund premium limit related factor: payment method\";}s:17:\"minAdhocTopupPrem\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:36:\"Allowed
  minimum ad-hoc top-up amount\";}s:18:\"minRegulaTopupPrem\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:37:\"Allowed
  minimum regular top-up amount\";}s:16:\"paymentFrequency\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:60:\"Product
  fund premium limit related factor: payment frequency\";}s:14:\"minInitialPrem\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:23:\"Minimum
  initial premium\";}s:14:\"maxInitialPrem\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:31:\"Allowed
  maximum initial premium\";}}}s:8:\"AgeLimit\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:14:\"coveragePeriod\";}s:10:\"properties\";O:8:\"stdClass\":24:{s:12:\"benefitLevel\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"Age
  range related factor: benefit level\";}s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:10:\"minAgeUnit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"Age
  unit<br>1 - year<br>5 - day<br>4 - month\";}s:6:\"minAge\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:23:\"The
  minimum age allowed\";}s:10:\"maxAgeUnit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"Age
  unit<br>1 - year<br>5 - day<br>4 - month\";}s:6:\"maxAge\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:23:\"The
  maximum age allowed\";}s:12:\"chargePeriod\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"2\";s:11:\"description\";s:39:\"Age
  range related factor: charge period\";s:4:\"enum\";a:4:{i:0;s:1:\"1\";i:1;s:1:\"2\";i:2;s:1:\"3\";i:3;s:1:\"4\";}}s:10:\"chargeYear\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:5;s:11:\"description\";s:37:\"Age
  range related factor: charge year\";}s:14:\"coveragePeriod\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"2\";s:11:\"description\";s:41:\"Age
  range related factor: coverage period\";s:4:\"enum\";a:4:{i:0;s:1:\"1\";i:1;s:1:\"2\";i:2;s:1:\"3\";i:3;s:1:\"4\";}}s:12:\"coverageYear\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:20;s:11:\"description\";s:39:\"Age
  range related factor: coverage year\";}s:18:\"annuityStartPeriod\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:48:\"Age
  range related factor: annuity payment period\";}s:16:\"annuityStartYear\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:46:\"Age
  range related factor: annuity payment year\";}s:16:\"annuityEndPeriod\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:52:\"Age
  range related factor: annuity payment end period\";}s:14:\"annuityEndYear\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:50:\"Age
  range related factor: annuity payment end year\";}s:16:\"annuityPayEnsure\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:57:\"Age
  range related factor: guaranteed annuity payment year\";}s:15:\"coverageYearMax\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:47:\"Age
  range related factor: maximum coverage year\";}s:19:\"annuityStartYearMax\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:54:\"Age
  range related factor: maximum annuity payment year\";}s:17:\"annuityEndYearMax\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:58:\"Age
  range related factor: maximum annuity payment end year\";}s:13:\"paymentMethod\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:40:\"Age
  range related factor: payment method\";}s:6:\"gender\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"Age
  range related factor: gender\";}s:16:\"paymentFrequency\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"Age
  range related factor: payment  frequency\";}s:5:\"lowSa\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:36:\"Age
  range related factor: minimum SA\";}s:6:\"highSa\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:36:\"Age
  range related factor: maximum SA\";}s:13:\"chargeYearMax\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:45:\"Age
  range related factor: maximum charge year\";}}}s:15:\"CalculatePolicy\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:9:\"coverages\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"inceptionDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:10:\"2017-01-01\";s:11:\"description\";s:48:\"Policy
  effective date, date format: (YYYY-MM-DD)\";}s:9:\"coverages\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:13:\"Coverage
  list\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/CalculateCoverage\";}}s:9:\"extFields\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:14:\"Extended
  field\";}}}s:19:\"IllustrationRequest\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:15:\"calculatePolicy\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:15:\"clientRequestId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"External
  transaction serial number\";}s:17:\"clientRequestTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:28:\"External
  client request time\";}s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:15:\"calculatePolicy\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Policy
  information for the illustration\";s:4:\"$ref\";s:29:\"#/definitions/CalculatePolicy\";}s:16:\"performanceLevel\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:1;s:11:\"description\";s:74:\"Performance
  level of the illustration<br>1 - Low<br>2 - Middle<br>3 - High\";}}}s:11:\"AgeLimitCon\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:14:\"coveragePeriod\";i:1;s:11:\"productCode\";}s:10:\"properties\";O:8:\"stdClass\":15:{s:12:\"benefitLevel\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"1\";s:11:\"description\";s:39:\"Age
  range related factor: benefit level\";}s:10:\"sumAssured\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:7:\"example\";i:100000;s:11:\"description\";s:28:\"Age
  range related factor: SA\";}s:6:\"gender\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"F\";s:11:\"description\";s:32:\"Age
  range related factor: gender\";}s:16:\"premiumFrequency\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"1\";s:11:\"description\";s:44:\"Age
  range related factor: payment  frequency\";}s:11:\"productCode\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"ABC\";s:11:\"description\";s:12:\"Product
  code\";}s:12:\"chargePeriod\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"2\";s:11:\"description\";s:39:\"Age
  range related factor: charge period\";s:4:\"enum\";a:4:{i:0;s:1:\"1\";i:1;s:1:\"2\";i:2;s:1:\"3\";i:3;s:1:\"4\";}}s:10:\"chargeYear\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:5;s:11:\"description\";s:37:\"Age
  range related factor: charge year\";}s:14:\"coveragePeriod\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"2\";s:11:\"description\";s:41:\"Age
  range related factor: coverage period\";s:4:\"enum\";a:4:{i:0;s:1:\"1\";i:1;s:1:\"2\";i:2;s:1:\"3\";i:3;s:1:\"4\";}}s:12:\"coverageYear\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:20;s:11:\"description\";s:39:\"Age
  range related factor: coverage year\";}s:18:\"annuityStartPeriod\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"1\";s:11:\"description\";s:48:\"Age
  range related factor: annuity payment period\";}s:16:\"annuityStartYear\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:5;s:11:\"description\";s:46:\"Age
  range related factor: annuity payment year\";}s:16:\"annuityEndPeriod\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"1\";s:11:\"description\";s:52:\"Age
  range related factor: annuity payment end period\";}s:14:\"annuityEndYear\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:5;s:11:\"description\";s:50:\"Age
  range related factor: annuity payment end year\";}s:16:\"annuityPayEnsure\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:5;s:11:\"description\";s:57:\"Age
  range related factor: guaranteed annuity payment year\";}s:9:\"extFields\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:14:\"Extended
  field\";}}}s:5:\"Bonus\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:9:\"cashBonus\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:0;s:11:\"description\";s:29:\"Whether
  there is a cash bonus\";}s:17:\"cashBonusVestYear\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:95:\"Cash
  bonus must stay in the insurance company after years of investment before they can
  receive\";}s:19:\"cashBonusUnitAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:15:\"Cash
  bonus unit\";}s:16:\"cashBonusOptions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:123:\"Allowed
  cash bonus option<br>1 - Get it now<br>2 - Pay with cash bonus premium<br>3 - There
  is an insurance company account\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:12:\"PremiumLimit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:7:\"minPrem\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:46:\"Premium
  limits related factor: minimum premium\";}s:7:\"maxPrem\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:46:\"Premium
  limits related factor: maximum premium\";}s:13:\"paymentMethod\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:45:\"Premium
  limits related factor: payment method\";}s:16:\"paymentFrequency\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:48:\"Premium
  limits related factor: payment frequency\";}s:8:\"currency\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:39:\"Premium
  limits related factor: currency\";}s:6:\"minAge\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:42:\"Premium
  limits related factor: minimum age\";}s:6:\"maxAge\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:42:\"Premium
  limits related factor: maximum age\";}s:12:\"chargePeriod\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"2\";s:11:\"description\";s:44:\"Premium
  limits related factor: charge period\";s:4:\"enum\";a:4:{i:0;s:1:\"1\";i:1;s:1:\"2\";i:2;s:1:\"3\";i:3;s:1:\"4\";}}s:10:\"chargeYear\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:5;s:11:\"description\";s:42:\"Premium
  limits related factor: charge year\";}}}s:23:\"CalculatePremSAResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:15:\"clientRequestId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"External
  transaction serial number\";}s:17:\"clientRequestTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:28:\"External
  client request time\";}s:6:\"result\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:92:\"Request
  result<br>1 - business success<br>0 - business failure<br>-1 - application exception\";}s:8:\"messages\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:45:\"Business
  failure reason description list node\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/GenericValidationResult\";}}s:10:\"exceptions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:22:\"Exception
  information:\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:21:\"calculatePolicyResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Calculation
  result\";s:4:\"$ref\";s:35:\"#/definitions/CalculatePolicyResult\";}}}s:21:\"CalculatePolicyResult\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"installPrem\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:15:\"Install
  premium\";}s:10:\"annualPrem\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:20:\"Total
  annual premium\";}s:9:\"policyFee\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:10:\"Policy
  fee\";}s:13:\"inceptionDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:14:\"Inception
  date\";}s:24:\"calculateCoverageResults\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:58:\"The
  detailed calculation of the results of the calculation\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/CalculateCoverageResult\";}}}}s:16:\"PackagesResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:15:\"clientRequestId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"External
  transaction serial number\";}s:17:\"clientRequestTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:28:\"External
  client request time\";}s:6:\"result\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:92:\"Request
  result<br>1 - business success<br>0 - business failure<br>-1 - application exception\";}s:10:\"exceptions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:22:\"Exception
  information:\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:27:\"listBasicProductPackageInfo\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:33:\"Product
  package basic information\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/BasicProductPackageInfo\";}}}}s:7:\"Annuity\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:18:\"annuityStartPeriod\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:172:\"Annuity
  payment start period type<br>1 - immediately<br>2 - From the next policy anniversary
  date <br>3 - After few years (policy anniversary date)<br>4 - From the birthday\";}s:16:\"annuityStartYear\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:31:\"Annuity
  start year or start age\";}s:16:\"annuityEndPeriod\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:90:\"Annuity
  payment end period type<br>1 - Few years<br>2 - Till certain age<br>3 - Whole life\";}s:14:\"annuityEndYear\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:27:\"Annuity
  end year or end age\";}s:9:\"extFields\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:14:\"Extended
  field\";}}}s:15:\"ProductResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:15:\"clientRequestId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"External
  transaction serial number\";}s:17:\"clientRequestTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:28:\"External
  client request time\";}s:6:\"result\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:92:\"Request
  result<br>1 - business success<br>0 - business failure<br>-1 - application exception\";}s:8:\"messages\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:45:\"Business
  failure reason description list node\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/GenericValidationResult\";}}s:10:\"exceptions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:22:\"Exception
  information:\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"productInfo\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Product
  details\";s:4:\"$ref\";s:25:\"#/definitions/ProductInfo\";}}}s:22:\"ProductPremiumResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:15:\"clientRequestId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"External
  transaction serial number\";}s:17:\"clientRequestTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:28:\"External
  client request time\";}s:6:\"result\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:92:\"Request
  result<br>1 - business success<br>0 - business failure<br>-1 - application exception\";}s:10:\"exceptions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:22:\"Exception
  information:\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"productCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Product
  code\";}s:14:\"productPremium\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Premium
  limit enquire result\";s:4:\"$ref\";s:28:\"#/definitions/ProductPremium\";}}}s:9:\"TermLimit\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:14:\"coveragePeriod\";}s:10:\"properties\";O:8:\"stdClass\":10:{s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:12:\"chargePeriod\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"2\";s:11:\"description\";s:13:\"Charge
  period\";s:4:\"enum\";a:4:{i:0;s:1:\"1\";i:1;s:1:\"2\";i:2;s:1:\"3\";i:3;s:1:\"4\";}}s:10:\"chargeYear\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:5;s:11:\"description\";s:11:\"Charge
  year\";}s:14:\"coveragePeriod\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"2\";s:11:\"description\";s:15:\"Coverage
  period\";s:4:\"enum\";a:4:{i:0;s:1:\"1\";i:1;s:1:\"2\";i:2;s:1:\"3\";i:3;s:1:\"4\";}}s:12:\"coverageYear\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:20;s:11:\"description\";s:13:\"Coverage
  year\";}s:18:\"annuityStartPeriod\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"Annuity
  payment end period\";}s:16:\"annuityStartYear\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:24:\"Annuity
  payment end year\";}s:16:\"annuityEndPeriod\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"Annuity
  payment end period\";}s:14:\"annuityEndYear\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:24:\"Annuity
  payment end year\";}s:16:\"annuityPayEnsure\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:26:\"Annuity
  guarantee pay year\";}}}s:18:\"TopupWithdrawnPlan\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:4:{i:0;s:6:\"amount\";i:1;s:7:\"endYear\";i:2;s:8:\"premType\";i:3;s:9:\"startYear\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"premType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:55:\"3:
  regular topup; 7: partial withdrawn; 4: ad-hoc topup\";s:11:\"description\";s:31:\"Fee
  type for investment product\";}s:9:\"startYear\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:7:\"example\";i:2;s:11:\"description\";s:17:\"Start
  policy year\";}s:7:\"endYear\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:7:\"example\";i:5;s:11:\"description\";s:37:\"Top-up
  and withdraw plan: ending year\";}s:6:\"amount\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:7:\"example\";i:100000;s:11:\"description\";s:6:\"Amount\";}s:9:\"extFields\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:14:\"Extended
  field\";}}}s:16:\"ProductsResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:15:\"clientRequestId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"External
  transaction serial number\";}s:17:\"clientRequestTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:28:\"External
  client request time\";}s:6:\"result\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:92:\"Request
  result<br>1 - business success<br>0 - business failure<br>-1 - application exception\";}s:8:\"messages\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:45:\"Business
  failure reason description list node\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/GenericValidationResult\";}}s:10:\"exceptions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:22:\"Exception
  information:\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:27:\"listProductBasicInformation\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:25:\"Product
  basic information\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/ProductBasicInformation\";}}}}s:31:\"ProductRatingParametersResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:15:\"clientRequestId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"External
  transaction serial number\";}s:17:\"clientRequestTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:28:\"External
  client request time\";}s:6:\"result\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:92:\"Request
  result<br>1 - business success<br>0 - business failure<br>-1 - application exception\";}s:10:\"exceptions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:22:\"Exception
  information:\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"productCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Product
  code\";}s:16:\"ratingParameters\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:25:\"Rating
  relation parameter\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:19:\"ratingParameterType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"Rating
  relation parameter type\";}}}s:17:\"ProductPkgProduct\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":16:{s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:9:\"packageId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:18:\"Product
  package Id\";}s:9:\"productId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:10:\"Product
  ID\";}s:8:\"optional\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Is
  optional\";}s:12:\"saProportion\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:13:\"SA
  proportion\";}s:17:\"premiumProportion\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:18:\"Premium
  proportion\";}s:6:\"amount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:16:\"Sum
  assured (SA)\";}s:7:\"premium\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:7:\"Premium\";}s:10:\"calcMethod\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"Premium
  / SA calculation method\";}s:12:\"benefitLevel\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:70:\"Benefit
  level, only apply to the products which sales by benefit level\";}s:8:\"freeIndi\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"Free
  rider indicator\";}s:9:\"minAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:18:\"Allowed
  minimum SA\";}s:9:\"maxAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:18:\"Allowed
  maximum SA\";}s:10:\"minPremium\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:23:\"Allowed
  minimum premium\";}s:10:\"maxPremium\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:23:\"Allowed
  maximum premium\";}s:10:\"baseAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:22:\"Basic
  sum assured (SA)\";}}}s:13:\"Illustrations\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:22:\"illustrationResultList\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:25:\"Illustration
  results list\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/IllustrationResult\";}}}}s:15:\"MainInformation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":16:{s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"productCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Product
  code\";}s:11:\"productName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Product
  name\";}s:8:\"mainPlan\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"Whether
  it is the main plan\";}s:8:\"currency\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:30:\"Currency,
  non empty<br>1 - CNY\";}s:5:\"orgId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:40:\"The
  organization this product belongs to\";}s:9:\"startDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:24:\"Product
  sales start date\";}s:7:\"endDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:22:\"Product
  sales end date\";}s:13:\"salesCategory\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Product
  sales category\";s:4:\"$ref\";s:34:\"#/definitions/ProductSalesCategory\";}s:18:\"productDescription\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"Product
  description\";}s:19:\"productAbbreviation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"Product
  introduction\";}s:4:\"ally\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"Is
  joint life product<br>1 - Yes<br>0 - No\";}s:9:\"indexIndi\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"Indexation
  indicator\";}s:12:\"spouseWaiver\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"if
  spouse waiver<br>Y - Yes<br>N - No\";}s:10:\"familyType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"Family
  product type\";}s:8:\"payerWop\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"if
  payer waiver<br>Y - Yes<br>N - No\";}}}s:22:\"CalculatePremSARequest\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:15:\"calculatePolicy\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:15:\"clientRequestId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"External
  transaction serial number\";}s:17:\"clientRequestTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:28:\"External
  client request time\";}s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:15:\"calculatePolicy\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Insurance
  premium calculation data\";s:4:\"$ref\";s:29:\"#/definitions/CalculatePolicy\";}}}s:20:\"ProductCoverMultiple\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:18:\"coverMultipleItems\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:19:\"Cover
  multiple item\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/CoverMultipleItem\";}}}}s:17:\"CoverMultipleItem\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"productCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Product
  code\";}s:8:\"ageRange\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"Age
  range\";}s:9:\"termRange\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"Term
  range\";}s:8:\"minValue\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:21:\"Allowed
  minimum value\";}s:8:\"maxValue\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:21:\"Allowed
  maximum value\";}}}s:15:\"PackageResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:15:\"clientRequestId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"External
  transaction serial number\";}s:17:\"clientRequestTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:28:\"External
  client request time\";}s:6:\"result\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:92:\"Request
  result<br>1 - business success<br>0 - business failure<br>-1 - application exception\";}s:10:\"exceptions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:22:\"Exception
  information:\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:18:\"productPackageInfo\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Product
  package details\";s:4:\"$ref\";s:32:\"#/definitions/ProductPackageInfo\";}}}s:18:\"ProductPackageTerm\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:14:\"coveragePeriod\";}s:10:\"properties\";O:8:\"stdClass\":6:{s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:9:\"packageId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:18:\"Product
  package Id\";}s:12:\"chargePeriod\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"2\";s:11:\"description\";s:13:\"Charge
  period\";s:4:\"enum\";a:4:{i:0;s:1:\"1\";i:1;s:1:\"2\";i:2;s:1:\"3\";i:3;s:1:\"4\";}}s:10:\"chargeYear\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:5;s:11:\"description\";s:11:\"Charge
  year\";}s:14:\"coveragePeriod\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"2\";s:11:\"description\";s:15:\"Coverage
  period\";s:4:\"enum\";a:4:{i:0;s:1:\"1\";i:1;s:1:\"2\";i:2;s:1:\"3\";i:3;s:1:\"4\";}}s:12:\"coverageYear\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:20;s:11:\"description\";s:13:\"Coverage
  year\";}}}s:11:\"ProductFund\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":20:{s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"fundCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"Fund
  code\";}s:9:\"productId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:10:\"Product
  ID\";}s:21:\"minPartialWithdralval\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:39:\"Allowed
  minimum partial withdraw amount\";}s:30:\"minPartialWithdralRemainingVal\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:51:\"Allowed
  minimum remain value after partial withdraw\";}s:13:\"minSwitOutVal\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:33:\"Allowed
  minimum switch out amount\";}s:16:\"minSwitRemainVal\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:41:\"Allowed
  minimum remain value after switch\";}s:16:\"switchPeriodUnit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"Minimum
  fund switch limit\";}s:14:\"maxSwitInTimes\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:31:\"Allowed
  maximum switch in times\";}s:15:\"maxSwitOutTimes\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:32:\"Allowed
  maximum switch out times\";}s:21:\"maxPartialWithdralVal\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:39:\"Allowed
  maximum partial withdraw amount\";}s:20:\"settleRatePeriodUnit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Settlement
  period unit\";}s:14:\"settleYearType\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:20:\"Settlement
  year type\";}s:10:\"settleFreq\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"Settlement
  frequency\";}s:11:\"settleMonth\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:16:\"Settlement
  month\";}s:9:\"settleDay\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:14:\"Settlement
  day\";}s:12:\"settleMethod\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:17:\"Settlement
  method\";}s:20:\"guaranteedRateOption\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:34:\"Guaranteed
  interest rate indicator\";}s:20:\"settleSimpleCompound\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"Settlement
  interest, simple or compound\";}s:15:\"bonusSettleType\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:87:\"Bonus
  settlement type<br>1 - settle bonus with principal<br>2 - settle bonus separately\";}}}s:20:\"LiabilityInformation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:13:\"liabilityName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Liability
  name\";}s:12:\"categoryName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"Liability
  category name\";}s:11:\"liabilityId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:12:\"Liability
  Id\";}s:10:\"categoryId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:21:\"Liability
  category Id\";}}}s:12:\"TermLimitCon\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:12:\"coverageYear\";i:1;s:11:\"productCode\";}s:10:\"properties\";O:8:\"stdClass\":11:{s:11:\"productCode\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"ABC\";s:11:\"description\";s:8:\"SA
  limit\";}s:14:\"coveragePeriod\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"2\";s:11:\"description\";s:47:\"Term
  limit list related factor: coverage period\";s:4:\"enum\";a:4:{i:0;s:1:\"1\";i:1;s:1:\"2\";i:2;s:1:\"3\";i:3;s:1:\"4\";}}s:12:\"chargePeriod\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:5;s:11:\"description\";s:45:\"Term
  limit list related factor: charge period\";}s:12:\"coverageYear\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"2\";s:11:\"description\";s:45:\"Term
  limit list related factor: coverage year\";s:4:\"enum\";a:4:{i:0;s:1:\"1\";i:1;s:1:\"2\";i:2;s:1:\"3\";i:3;s:1:\"4\";}}s:10:\"chargeYear\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:20;s:11:\"description\";s:43:\"Term
  limit list related factor: charge year\";}s:18:\"annuityStartPeriod\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"1\";s:11:\"description\";s:58:\"Term
  limit list related factor: Annuity payment end period\";}s:16:\"annuityStartYear\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:10;s:11:\"description\";s:56:\"Term
  limit list related factor: Annuity payment end year\";}s:16:\"annuityEndPeriod\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"1\";s:11:\"description\";s:58:\"Term
  limit list related factor: Annuity payment end period\";}s:14:\"annuityEndYear\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:10;s:11:\"description\";s:56:\"Term
  limit list related factor: Annuity payment end year\";}s:16:\"annuityPayEnsure\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:5;s:11:\"description\";s:58:\"Term
  limit list related factor: Annuity guarantee pay year\";}s:9:\"extFields\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:14:\"Extended
  field\";}}}s:16:\"ProductLiability\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:7:\"annuity\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:0;s:11:\"description\";s:21:\"Is
  it annuity product\";}s:22:\"survivalBenefitOptions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:130:\"Allowed
  Survival Benefit Option<br>1 - Get it now<br>2 - Pay with premium for payment<br>3
  - There is an insurance company account\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"liabilities\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:22:\"Product
  liability list\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/LiabilityInformation\";}}}}s:19:\"ProductRelationship\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":19:{s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:17:\"masterProductCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"Main
  product code\";}s:16:\"riderProductCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"Rider
  product code\";}s:14:\"attachRelation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"Product
  relationship: <br>N - attach\";}s:13:\"maxAttachedSa\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:38:\"The
  maximum SA of the attached product\";}s:22:\"minAttachSa2MainSaRate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:72:\"The
  minimum proportion of SA of attached product to SA of master product\";}s:21:\"maxTotalSa2MainSaRate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:62:\"The
  maximum proportion of SA of policy to SA of master product\";}s:22:\"maxAttachSa2MainSaRate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:72:\"The
  maximum proportion of SA of attached product to SA of master product\";}s:20:\"riderSa2MainPremRate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:66:\"The
  ratio between attached rider's SA and master product's premium\";}s:9:\"saNoEqual\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:56:\"Whether
  the rider\u2018s SA can be equal to the main plan's\";}s:9:\"minAthAge\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:28:\"The
  minimum age of attaching\";}s:9:\"maxAthAge\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:35:\"Allow
  the maximum age of additional\";}s:13:\"minAthMastAge\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:27:\"The
  minimum age of attached\";}s:13:\"maxAthMastAge\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:27:\"The
  maximum age of attached\";}s:15:\"minMastSaAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:32:\"The
  minimum SA of master product\";}s:13:\"totalOverRate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:50:\"The
  maximum total SA over SA of attached plan rate\";}s:15:\"masterProductId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:19:\"The
  main product Id\";}s:14:\"riderProductId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:17:\"Rider
  products Id\";}s:10:\"attachType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:80:\"Additional
  type 1 - only allowed once again 2 - allowed to attach multiple times\";}}}s:10:\"SaLimitCon\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:11:\"productCode\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"productCode\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"ABC\";s:11:\"description\";s:12:\"Product
  code\";}s:15:\"insuredAgeMonth\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:60;s:11:\"description\";s:47:\"SA
  limit related factor: insured age (in month)\";}s:14:\"occupationCode\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:1;s:11:\"description\";s:40:\"SA
  limit related factor: occupation code\";}s:9:\"payMethod\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:1;s:11:\"description\";s:39:\"SA
  limit related factor: payment method\";}s:9:\"extFields\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:14:\"Extended
  field\";}}}s:14:\"ProductPremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:14:\"initialPremium\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:15:\"Initial
  premium\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/PremiumLimit\";}}s:17:\"subsequentPremium\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:13:\"Renew
  premium\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/PremiumLimit\";}}s:10:\"adhocTopup\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:39:\"Investment
  product, single top-up limit\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/PremiumLimit\";}}s:12:\"regularTopup\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:40:\"Investment
  product, regular top-up limit\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/PremiumLimit\";}}s:15:\"increasePremium\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:22:\"Increase
  premium limit\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/PremiumLimit\";}}s:15:\"decreasePremium\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:16:\"Decrease
  premium\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/PremiumLimit\";}}s:20:\"increaseRegularTopup\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:49:\"Investment
  product, increase regular top-up limit\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/PremiumLimit\";}}s:20:\"decreaseRegularTopup\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:49:\"Investment
  product, decrease regular top-up limit\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/PremiumLimit\";}}s:20:\"listFundPremiumLimit\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:38:\"Investment
  product, fund premium limit\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/ProductFundPremiumLimit\";}}}}s:23:\"GenericValidationResult\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"ruleType\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:11:\"ProductTerm\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:13:\"listTermLimit\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:15:\"Term
  limit list\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/TermLimit\";}}}}s:17:\"ProductSumAssured\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:7:\"saLimit\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:25:\"Product
  sum assured limit\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/SaLimit\";}}}}s:18:\"IllustrationResult\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":11:{s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:10:\"coverageId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:33:\"Coverage
  ID, integer: such as 1,2\";}s:8:\"calcType\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:16:\"Calculation
  type\";}s:6:\"amount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:6:\"Amount\";}s:15:\"performanceType\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:17:\"Illustration
  type\";}s:3:\"age\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:3:\"Age\";}s:10:\"policyYear\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:11:\"Policy
  year\";}s:11:\"policyMonth\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:12:\"Policy
  month\";}s:8:\"fundCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"Fund
  code\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"Illustration
  name\";}s:8:\"orderSeq\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:8:\"Sequence\";}}}s:11:\"ProductInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"maininfo\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Product
  main information\";s:4:\"$ref\";s:29:\"#/definitions/MainInformation\";}s:11:\"benefitType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:334:\"Product
  benefit category<br>22 - Reimbursement medical insurance<br>23 - subsidized medical
  insurance<br>31 - accident insurance<br>11 - endowment insurance<br>12 - annuities
  insurance<br>13 - life insurance<br>14 - term insurance<br>41 - investment insurance<br>15
  - mortgage insurance<br>16 - long-term care<br>17 - critical illness\";}s:9:\"productId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:10:\"Product
  ID\";}s:10:\"premSaCalc\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Product
  premium calculation related information\";s:4:\"$ref\";s:34:\"#/definitions/PremiumSaCalculation\";}s:9:\"liability\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Product
  liability\";s:4:\"$ref\";s:30:\"#/definitions/ProductLiability\";}s:5:\"bonus\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Bonus
  information\";s:4:\"$ref\";s:19:\"#/definitions/Bonus\";}s:14:\"attachedRiders\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:39:\"The
  relationship of main plan and rider\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/ProductRelationship\";}}s:20:\"productCoverMultiple\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  ratio of SA and premium\";s:4:\"$ref\";s:34:\"#/definitions/ProductCoverMultiple\";}s:15:\"listProductFund\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:9:\"Fund
  code\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ProductFund\";}}}}s:23:\"ProductBasicInformation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":11:{s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:9:\"productId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:10:\"Product
  ID\";}s:11:\"productCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Product
  code\";}s:11:\"productName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Product
  name\";}s:11:\"productAbbr\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"Product
  introduction\";}s:18:\"productDescription\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"Product
  description\";}s:9:\"startDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:24:\"Product
  start sales date\";}s:7:\"endDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:21:\"Product
  end sale date\";}s:11:\"benefitType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:334:\"Product
  benefit category<br>22 - Reimbursement medical insurance<br>23 - subsidized medical
  insurance<br>31 - accident insurance<br>11 - endowment insurance<br>12 - annuities
  insurance<br>13 - life insurance<br>14 - term insurance<br>41 - investment insurance<br>15
  - mortgage insurance<br>16 - long-term care<br>17 - critical illness\";}s:13:\"isMainProduct\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"Whether
  it is the main plan\";}s:11:\"minSAOrUnit\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:18:\"Minimum
  SA or Unit\";}}}s:7:\"SaLimit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:9:\"limitUnit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:55:\"Insured
  or unit limit<br>1 - insured amount<br>2 - unit\";}s:9:\"maxAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:49:\"The
  maximum amount, the amount of SA, or the unit\";}s:9:\"minAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:49:\"The
  minimum amount, the amount of SA, or the unit\";}s:8:\"currency\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:8:\"Currency\";}s:11:\"lowAgeMonth\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:38:\"The
  minimum age allowed of the insured\";}s:12:\"highAgeMonth\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:38:\"The
  maximum age allowed of the insured\";}s:14:\"occupationCode\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:15:\"Occupation
  code\";}s:13:\"paymentMethod\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:14:\"Payment
  method\";}}}s:23:\"BasicProductPackageInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:9:\"packageId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:18:\"Product
  package Id\";}s:11:\"packageCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"Product
  package code\";}s:11:\"packageName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"Product
  package name\";}s:7:\"moneyId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:26:\"Product
  package's currency\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"Product
  package description\";}}}s:15:\"PremiumLimitCon\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:11:\"productCode\";}s:10:\"properties\";O:8:\"stdClass\":7:{s:11:\"productCode\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"ABC\";s:11:\"description\";s:12:\"Product
  code\";}s:12:\"chargePeriod\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"2\";s:11:\"description\";s:44:\"Premium
  limits related factor: charge period\";s:4:\"enum\";a:4:{i:0;s:1:\"1\";i:1;s:1:\"2\";i:2;s:1:\"3\";i:3;s:1:\"4\";}}s:10:\"chargeYear\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:5;s:11:\"description\";s:42:\"Premium
  limits related factor: charge year\";}s:10:\"insuredAge\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:50;s:11:\"description\";s:42:\"Premium
  limits related factor: insured age\";}s:16:\"premiumFrequency\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"1\";s:11:\"description\";s:48:\"Premium
  limits related factor: payment frequency\";}s:7:\"payMode\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:1;s:11:\"description\";s:45:\"Premium
  limits related factor: payment method\";}s:9:\"extFields\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:14:\"Extended
  field\";}}}s:23:\"ProductPkgProductMatrix\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:9:\"packageId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:18:\"Product
  package Id\";}s:8:\"masterId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:17:\"Master
  product Id\";}s:8:\"attachId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:16:\"Rider
  product id\";}s:10:\"attachMode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:87:\"Product
  relationship type: <br>1 - \u5171\u5B58\u5173\u7CFB<br>2 - \u4F9D\u8D56\u5173\u7CFB<br>3
  - \u4E92\u65A5\u5173\u7CFB\";}}}s:20:\"ProductSalesCategory\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:12:\"categoryName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"Product
  sales category name\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"Product
  sales category description\";}s:12:\"categoryCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"Product
  sales category code\";}s:12:\"displayOrder\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:13:\"Display
  order\";}s:10:\"categoryId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:25:\"Product
  sales category Id\";}s:12:\"parentCateId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"Product
  sales category's parent category Id\";}}}s:18:\"ProductAgeResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:15:\"clientRequestId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"External
  transaction serial number\";}s:17:\"clientRequestTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:28:\"External
  client request time\";}s:6:\"result\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:92:\"Request
  result<br>1 - business success<br>0 - business failure<br>-1 - application exception\";}s:10:\"exceptions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:22:\"Exception
  information:\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"productCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Product
  code\";}s:10:\"productAge\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Policy
[...]
