---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":5:{s:7:\"version\";s:5:\"0.2.0\";s:5:\"title\";s:20:\"eBaoCloud
  LI OpenAPI\";s:14:\"termsOfService\";s:26:\"http://api.ebaocloud.life/\";s:7:\"contact\";O:8:\"stdClass\":1:{s:5:\"email\";s:24:\"liliang.zhu@ebaotech.com\";}s:11:\"description\";s:394:\"This
  document is the API specification for the eBaoCloud Life part. To practice and run
  the APIs in this document, you need to apply an eBaoCloud tenant account(starting
  from a sandbox account instead of production account) first.<br>\nContact liliang.zhu@ebaotech.com
  for more information and trial using.\n\n# Built on\nFri Mar 30 2018, 15:37:44 +08:00\n\n#
  Versioning\nAPI version| Date  |Comments\n\";}"
host: sandbox.gw.ebaocloud.com.cn
basePath: rest
paths:
  /claim/register:
    post:
      tags:
      - Claim
      summary: Claim case register
      description: Register Claim Case
      operationId: registerUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: request
        description: Request
        required: true
        schema:
          $ref: '#/definitions/RegisterRequest'
      - name: X-ebao-tenant-id
        in: header
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/RegisterResponse'
        201:
          description: Created
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
        500:
          description: Internal Server Error
produces: []
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":7:{s:15:\"RegisterRequest\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:6:{i:0;s:9:\"claimType\";i:1;s:8:\"claimant\";i:2;s:5:\"event\";i:3;s:7:\"insured\";i:4;s:8:\"policyNo\";i:5;s:17:\"relationToInsured\";}s:10:\"properties\";O:8:\"stdClass\":8:{s:15:\"clientRequestId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"Client
  request id, to identify a request\";}s:17:\"clientRequestTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:50:\"Client
  request time, format: yyyy-MM-dd'T'HH:mm:ss\";}s:8:\"policyNo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"Claim
  policy number\";}s:8:\"claimant\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Information
  of claimant\";s:4:\"$ref\";s:27:\"#/definitions/ClaimantInput\";}s:7:\"insured\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Information
  of insured\";s:4:\"$ref\";s:26:\"#/definitions/InsuredInput\";}s:17:\"relationToInsured\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:137:\"Claimant
  relation to insured <br>1 - Spouse <br>2 - Child <br>3 - Parent <br>4 - Relative
  <br>6 - others <br>7 - Employer <br>1001 - self\";s:4:\"enum\";a:7:{i:0;i:1;i:1;i:2;i:2;i:3;i:3;i:4;i:4;i:6;i:5;i:7;i:6;i:1001;}}s:5:\"event\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Information
  of claim event\";s:4:\"$ref\";s:29:\"#/definitions/ClaimEventInput\";}s:9:\"claimType\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:81:\"Claim
  type <br>1 - Accident <br>2 - Death <br>5 - Hospitalization<br>8 - Medical \";s:4:\"enum\";a:4:{i:0;i:1;i:1;i:2;i:2;i:5;i:3;i:8;}}}}s:16:\"RegisterResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:11:\"claimCaseNo\";}s:10:\"properties\";O:8:\"stdClass\":6:{s:15:\"clientRequestId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"Client
  request id, to identify a request\";}s:17:\"clientRequestTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:50:\"Client
  request time, format: yyyy-MM-dd'T'HH:mm:ss\";}s:6:\"result\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:95:\"Result.
  <br>1 - Success<br>0 - Failed with business issue<br>-1 - Failed with unknown exception\";}s:8:\"messages\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:27:\"Messages
  of business issues\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/GenericValidationResult\";}}s:10:\"exceptions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:18:\"Exception
  messages\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"claimCaseNo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"Claim
  case number\";}}}s:12:\"ContactInput\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:5:\"email\";i:1;s:6:\"mobile\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:5:\"Email\";}s:6:\"mobile\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"Mobile
  No.\";}}}s:15:\"ClaimEventInput\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:11:\"eventDetail\";i:1;s:11:\"eventNature\";i:2;s:9:\"eventTime\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"reportType\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:77:\"Report
  by <br>1 - phone <br>2 - fax <br>4 - sms <br>5 - network <br>6 - email\";s:4:\"enum\";a:5:{i:0;i:1;i:1;i:2;i:2;i:4;i:3;i:5;i:4;i:6;}}s:11:\"eventNature\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:45:\"Event
  nature <br>1 - illness <br>2 - accident\";s:4:\"enum\";a:2:{i:0;i:1;i:1;i:2;}}s:9:\"eventTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:60:\"Date
  when claim event happens, format: yyyy-MM-dd'T'HH:mm:ss\";}s:11:\"eventDetail\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"Detail
  of claim event\";}}}s:12:\"InsuredInput\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:4:{i:0;s:9:\"certiCode\";i:1;s:9:\"certiType\";i:2;s:6:\"gender\";i:3;s:4:\"name\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"Name\";}s:6:\"gender\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"Insured's
  sex, M - male;<br>F - female\";s:4:\"enum\";a:2:{i:0;s:1:\"F\";i:1;s:1:\"M\";}}s:9:\"certiType\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:117:\"ID
  type, number type<br>1 - ID card<br>2 - military certificate<br>3 - passport<br>4
  - birth certificate<br>9 - other\";s:4:\"enum\";a:3:{i:0;i:1;i:1;i:3;i:2;i:9;}}s:9:\"certiCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"ID
  Number\";}}}s:23:\"GenericValidationResult\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"ruleType\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:13:\"ClaimantInput\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:12:\"partyContact\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"Name\";}s:12:\"partyContact\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Contact
  information\";s:4:\"$ref\";s:26:\"#/definitions/ContactInput\";}}}}"
...
