---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":4:{s:7:\"version\";s:3:\"1.5\";s:5:\"title\";s:20:\"eBaoCloud
  LI OpenAPI\";s:14:\"termsOfService\";s:26:\"http://api.ebaocloud.life/\";s:7:\"contact\";O:8:\"stdClass\":1:{s:5:\"email\";s:24:\"liliang.zhu@ebaotech.com\";}}"
host: sandbox.gw.ebaocloud.com.cn
basePath: /eBao/1.0/
paths:
  /pd/packages:
    get:
      tags:
      - Product
      summary: paths['/pd/packages'].get.summary
      description: paths['/pd/packages'].get.description
      operationId: findPackagesUsingGET
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: date
        in: query
        description: paths['/pd/packages'].get.parameters['0'].description
        required: false
        type: string
      - name: salesCategory
        in: query
        description: paths['/pd/packages'].get.parameters['1'].description
        required: false
        type: string
      - name: insurerIds
        in: query
        description: paths['/pd/packages'].get.parameters['2'].description
        required: false
        type: string
      - name: X-ebao-tenant-id
        in: header
        required: true
        type: string
      responses:
        200:
          description: paths['/pd/packages'].get.responses['200'].description
          schema:
            $ref: '#/definitions/PackagesResponse'
        400:
          description: paths['/pd/packages'].get.responses['400'].description
        401:
          description: paths['/pd/packages'].get.responses['401'].description
        403:
          description: paths['/pd/packages'].get.responses['403'].description
        404:
          description: paths['/pd/packages'].get.responses['404'].description
        500:
          description: paths['/pd/packages'].get.responses['500'].description
  /pd/packages/{packageCode}:
    get:
      tags:
      - Product
      summary: paths['/pd/packages/{packageCode}'].get.summary
      description: paths['/pd/packages/{packageCode}'].get.description
      operationId: findProductPackageUsingGET
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: packageCode
        in: path
        description: paths['/pd/packages/{packageCode}'].get.parameters['0'].description
        required: true
        type: string
      - name: X-ebao-tenant-id
        in: header
        required: true
        type: string
      responses:
        200:
          description: paths['/pd/packages/{packageCode}'].get.responses['200'].description
          schema:
            $ref: '#/definitions/PackageResponse'
        400:
          description: paths['/pd/packages/{packageCode}'].get.responses['400'].description
        401:
          description: paths['/pd/packages/{packageCode}'].get.responses['401'].description
        403:
          description: paths['/pd/packages/{packageCode}'].get.responses['403'].description
        404:
          description: paths['/pd/packages/{packageCode}'].get.responses['404'].description
        500:
          description: paths['/pd/packages/{packageCode}'].get.responses['500'].description
  /pd/products:
    get:
      tags:
      - Product
      summary: paths['/pd/products'].get.summary
      description: paths['/pd/products'].get.description
      operationId: findProductsUsingGET
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: date
        in: query
        description: paths['/pd/products'].get.parameters['0'].description
        required: false
        type: string
      - name: salesCategory
        in: query
        description: paths['/pd/products'].get.parameters['1'].description
        required: false
        type: string
      - name: insurerCodes
        in: query
        description: paths['/pd/products'].get.parameters['2'].description
        required: false
        type: string
      - name: isMainProduct
        in: query
        description: paths['/pd/products'].get.parameters['3'].description
        required: false
        type: string
      - name: X-ebao-tenant-id
        in: header
        required: true
        type: string
      responses:
        200:
          description: paths['/pd/products'].get.responses['200'].description
          schema:
            $ref: '#/definitions/ProductsResponse'
        400:
          description: paths['/pd/products'].get.responses['400'].description
        401:
          description: paths['/pd/products'].get.responses['401'].description
        403:
          description: paths['/pd/products'].get.responses['403'].description
        404:
          description: paths['/pd/products'].get.responses['404'].description
        500:
          description: paths['/pd/products'].get.responses['500'].description
  /pd/products/benefitIllustration:
    post:
      tags:
      - Product
      summary: paths['/pd/products/benefitIllustration'].post.summary
      description: paths['/pd/products/benefitIllustration'].post.description
      operationId: illustrateCalculationUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: illustrationRequest
        description: paths['/pd/products/benefitIllustration'].post.parameters['0'].description
        required: true
        schema:
          $ref: '#/definitions/IllustrationRequest'
      - name: X-ebao-tenant-id
        in: header
        required: true
        type: string
      responses:
        200:
          description: paths['/pd/products/benefitIllustration'].post.responses['200'].description
          schema:
            $ref: '#/definitions/IllustrationResponse'
        201:
          description: paths['/pd/products/benefitIllustration'].post.responses['201'].description
        400:
          description: paths['/pd/products/benefitIllustration'].post.responses['400'].description
        401:
          description: paths['/pd/products/benefitIllustration'].post.responses['401'].description
        403:
          description: paths['/pd/products/benefitIllustration'].post.responses['403'].description
        404:
          description: paths['/pd/products/benefitIllustration'].post.responses['404'].description
        500:
          description: paths['/pd/products/benefitIllustration'].post.responses['500'].description
  /pd/products/benefitPremiumSA:
    post:
      tags:
      - Product
      summary: paths['/pd/products/benefitPremiumSA'].post.summary
      description: paths['/pd/products/benefitPremiumSA'].post.description
      operationId: benefitPremiumSAUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: calculateRequest
        description: paths['/pd/products/benefitPremiumSA'].post.parameters['0'].description
        required: true
        schema:
          $ref: '#/definitions/CalculatePremSARequest'
      - name: X-ebao-tenant-id
        in: header
        required: true
        type: string
      responses:
        200:
          description: paths['/pd/products/benefitPremiumSA'].post.responses['200'].description
          schema:
            $ref: '#/definitions/CalculatePremSAResponse'
        201:
          description: paths['/pd/products/benefitPremiumSA'].post.responses['201'].description
        400:
          description: paths['/pd/products/benefitPremiumSA'].post.responses['400'].description
        401:
          description: paths['/pd/products/benefitPremiumSA'].post.responses['401'].description
        403:
          description: paths['/pd/products/benefitPremiumSA'].post.responses['403'].description
        404:
          description: paths['/pd/products/benefitPremiumSA'].post.responses['404'].description
        500:
          description: paths['/pd/products/benefitPremiumSA'].post.responses['500'].description
  /pd/products/limits/SA:
    post:
      tags:
      - Product
      summary: paths['/pd/products/limits/SA'].post.summary
      description: paths['/pd/products/limits/SA'].post.description
      operationId: getSALimitByConUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: saLimitCon
        description: paths['/pd/products/limits/SA'].post.parameters['0'].description
        required: true
        schema:
          $ref: '#/definitions/SaLimitCon'
      - name: X-ebao-tenant-id
        in: header
        required: true
        type: string
      responses:
        200:
          description: paths['/pd/products/limits/SA'].post.responses['200'].description
          schema:
            $ref: '#/definitions/ProductSumAssuredResponse'
        201:
          description: paths['/pd/products/limits/SA'].post.responses['201'].description
        400:
          description: paths['/pd/products/limits/SA'].post.responses['400'].description
        401:
          description: paths['/pd/products/limits/SA'].post.responses['401'].description
        403:
          description: paths['/pd/products/limits/SA'].post.responses['403'].description
        404:
          description: paths['/pd/products/limits/SA'].post.responses['404'].description
        500:
          description: paths['/pd/products/limits/SA'].post.responses['500'].description
  /pd/products/limits/age:
    post:
      tags:
      - Product
      summary: paths['/pd/products/limits/age'].post.summary
      description: paths['/pd/products/limits/age'].post.description
      operationId: getAgeLimitByConUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: ageLimitCon
        description: paths['/pd/products/limits/age'].post.parameters['0'].description
        required: true
        schema:
          $ref: '#/definitions/AgeLimitCon'
      - name: X-ebao-tenant-id
        in: header
        required: true
        type: string
      responses:
        200:
          description: paths['/pd/products/limits/age'].post.responses['200'].description
          schema:
            $ref: '#/definitions/ProductAgeResponse'
        201:
          description: paths['/pd/products/limits/age'].post.responses['201'].description
        400:
          description: paths['/pd/products/limits/age'].post.responses['400'].description
        401:
          description: paths['/pd/products/limits/age'].post.responses['401'].description
        403:
          description: paths['/pd/products/limits/age'].post.responses['403'].description
        404:
          description: paths['/pd/products/limits/age'].post.responses['404'].description
        500:
          description: paths['/pd/products/limits/age'].post.responses['500'].description
  /pd/products/limits/premium:
    post:
      tags:
      - Product
      summary: paths['/pd/products/limits/premium'].post.summary
      description: paths['/pd/products/limits/premium'].post.description
      operationId: getPremiumLimitByConUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: premiumLimitCon
        description: paths['/pd/products/limits/premium'].post.parameters['0'].description
        required: true
        schema:
          $ref: '#/definitions/PremiumLimitCon'
      - name: X-ebao-tenant-id
        in: header
        required: true
        type: string
      responses:
        200:
          description: paths['/pd/products/limits/premium'].post.responses['200'].description
          schema:
            $ref: '#/definitions/ProductPremiumResponse'
        201:
          description: paths['/pd/products/limits/premium'].post.responses['201'].description
        400:
          description: paths['/pd/products/limits/premium'].post.responses['400'].description
        401:
          description: paths['/pd/products/limits/premium'].post.responses['401'].description
        403:
          description: paths['/pd/products/limits/premium'].post.responses['403'].description
        404:
          description: paths['/pd/products/limits/premium'].post.responses['404'].description
        500:
          description: paths['/pd/products/limits/premium'].post.responses['500'].description
  /pd/products/limits/term:
    post:
      tags:
      - Product
      summary: paths['/pd/products/limits/term'].post.summary
      description: paths['/pd/products/limits/term'].post.description
      operationId: getTermLimitByConUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: termLimitCon
        description: paths['/pd/products/limits/term'].post.parameters['0'].description
        required: true
        schema:
          $ref: '#/definitions/TermLimitCon'
      - name: X-ebao-tenant-id
        in: header
        required: true
        type: string
      responses:
        200:
          description: paths['/pd/products/limits/term'].post.responses['200'].description
          schema:
            $ref: '#/definitions/ProductTermResponse'
        201:
          description: paths['/pd/products/limits/term'].post.responses['201'].description
        400:
          description: paths['/pd/products/limits/term'].post.responses['400'].description
        401:
          description: paths['/pd/products/limits/term'].post.responses['401'].description
        403:
          description: paths['/pd/products/limits/term'].post.responses['403'].description
        404:
          description: paths['/pd/products/limits/term'].post.responses['404'].description
        500:
          description: paths['/pd/products/limits/term'].post.responses['500'].description
  /pd/products/ratingParameters:
    get:
      tags:
      - Product
      summary: paths['/pd/products/ratingParameters'].get.summary
      description: paths['/pd/products/ratingParameters'].get.description
      operationId: getRatingParametersUsingGET
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: productCode
        in: query
        description: paths['/pd/products/ratingParameters'].get.parameters['0'].description
        required: true
        type: string
      - name: ratingParameterType
        in: query
        description: paths['/pd/products/ratingParameters'].get.parameters['1'].description
        required: true
        type: integer
        format: int32
      - name: X-ebao-tenant-id
        in: header
        required: true
        type: string
      responses:
        200:
          description: paths['/pd/products/ratingParameters'].get.responses['200'].description
          schema:
            $ref: '#/definitions/ProductRatingParametersResponse'
        400:
          description: paths['/pd/products/ratingParameters'].get.responses['400'].description
        401:
          description: paths['/pd/products/ratingParameters'].get.responses['401'].description
        403:
          description: paths['/pd/products/ratingParameters'].get.responses['403'].description
        404:
          description: paths['/pd/products/ratingParameters'].get.responses['404'].description
        500:
          description: paths['/pd/products/ratingParameters'].get.responses['500'].description
  /pd/products/salesCategory:
    get:
      tags:
      - Product
      summary: paths['/pd/products/salesCategory'].get.summary
      description: paths['/pd/products/salesCategory'].get.description
      operationId: findSalesCategoryUsingGET
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: X-ebao-tenant-id
        in: header
        required: true
        type: string
      responses:
        200:
          description: paths['/pd/products/salesCategory'].get.responses['200'].description
          schema:
            $ref: '#/definitions/SalesCategoryResponse'
        400:
          description: paths['/pd/products/salesCategory'].get.responses['400'].description
        401:
          description: paths['/pd/products/salesCategory'].get.responses['401'].description
        403:
          description: paths['/pd/products/salesCategory'].get.responses['403'].description
        404:
          description: paths['/pd/products/salesCategory'].get.responses['404'].description
        500:
          description: paths['/pd/products/salesCategory'].get.responses['500'].description
  /pd/products/salesCategory/{productCode}:
    get:
      tags:
      - Product
      summary: paths['/pd/products/salesCategory/{productCode}'].get.summary
      description: paths['/pd/products/salesCategory/{productCode}'].get.description
      operationId: findProductSalesCategoryUsingGET
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: productCode
        in: path
        description: paths['/pd/products/salesCategory/{productCode}'].get.parameters['0'].description
        required: true
        type: string
      - name: X-ebao-tenant-id
        in: header
        required: true
        type: string
      responses:
        200:
          description: paths['/pd/products/salesCategory/{productCode}'].get.responses['200'].description
          schema:
            $ref: '#/definitions/SalesCategoryResponse'
        400:
          description: paths['/pd/products/salesCategory/{productCode}'].get.responses['400'].description
        401:
          description: paths['/pd/products/salesCategory/{productCode}'].get.responses['401'].description
        403:
          description: paths['/pd/products/salesCategory/{productCode}'].get.responses['403'].description
        404:
          description: paths['/pd/products/salesCategory/{productCode}'].get.responses['404'].description
        500:
          description: paths['/pd/products/salesCategory/{productCode}'].get.responses['500'].description
  /pd/products/{productCode}:
    get:
      tags:
      - Product
      summary: paths['/pd/products/{productCode}'].get.summary
      description: paths['/pd/products/{productCode}'].get.description
      operationId: findProductUsingGET
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: productCode
        in: path
        description: paths['/pd/products/{productCode}'].get.parameters['0'].description
        required: true
        type: string
      - name: X-ebao-tenant-id
        in: header
        required: true
        type: string
      responses:
        200:
          description: paths['/pd/products/{productCode}'].get.responses['200'].description
          schema:
            $ref: '#/definitions/ProductResponse'
        400:
          description: paths['/pd/products/{productCode}'].get.responses['400'].description
        401:
          description: paths['/pd/products/{productCode}'].get.responses['401'].description
        403:
          description: paths['/pd/products/{productCode}'].get.responses['403'].description
        404:
          description: paths['/pd/products/{productCode}'].get.responses['404'].description
        500:
          description: paths['/pd/products/{productCode}'].get.responses['500'].description
  /proposal/proposals/application:
    post:
      tags:
      - Proposal
      summary: paths['/proposal/proposals/application'].post.summary
      description: paths['/proposal/proposals/application'].post.description
      operationId: applyUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: request
        description: paths['/proposal/proposals/application'].post.parameters['0'].description
        required: false
        schema:
          $ref: '#/definitions/ApplicationRequest'
      - name: X-ebao-tenant-id
        in: header
        required: true
        type: string
      responses:
        200:
          description: paths['/proposal/proposals/application'].post.responses['200'].description
          schema:
            $ref: '#/definitions/ApplicationResponse'
        201:
          description: paths['/proposal/proposals/application'].post.responses['201'].description
        400:
          description: paths['/proposal/proposals/application'].post.responses['400'].description
        401:
          description: paths['/proposal/proposals/application'].post.responses['401'].description
        403:
          description: paths['/proposal/proposals/application'].post.responses['403'].description
        404:
          description: paths['/proposal/proposals/application'].post.responses['404'].description
        500:
          description: paths['/proposal/proposals/application'].post.responses['500'].description
  /proposal/proposals/epolicy/{proposalNumber}:
    get:
      tags:
      - Proposal
      summary: paths['/proposal/proposals/epolicy/{proposalNumber}'].get.summary
      description: paths['/proposal/proposals/epolicy/{proposalNumber}'].get.description
      operationId: getEPolicyDownloadUrlUsingGET
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: proposalNumber
        in: path
        description: paths['/proposal/proposals/epolicy/{proposalNumber}'].get.parameters['0'].description
        required: false
        type: string
      - name: X-ebao-tenant-id
        in: header
        required: true
        type: string
      responses:
        200:
          description: paths['/proposal/proposals/epolicy/{proposalNumber}'].get.responses['200'].description
          schema:
            $ref: '#/definitions/EPolicyResponse'
        401:
          description: paths['/proposal/proposals/epolicy/{proposalNumber}'].get.responses['401'].description
        403:
          description: paths['/proposal/proposals/epolicy/{proposalNumber}'].get.responses['403'].description
        404:
          description: paths['/proposal/proposals/epolicy/{proposalNumber}'].get.responses['404'].description
  /proposal/proposals/issurance:
    post:
      tags:
      - Proposal
      summary: paths['/proposal/proposals/issurance'].post.summary
      description: paths['/proposal/proposals/issurance'].post.description
      operationId: issueUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: request
        description: paths['/proposal/proposals/issurance'].post.parameters['0'].description
        required: false
        schema:
          $ref: '#/definitions/IssuranceRequest'
      - name: X-ebao-tenant-id
        in: header
        required: true
        type: string
      responses:
        200:
          description: paths['/proposal/proposals/issurance'].post.responses['200'].description
          schema:
            $ref: '#/definitions/IssuranceResponse'
        201:
          description: paths['/proposal/proposals/issurance'].post.responses['201'].description
        400:
          description: paths['/proposal/proposals/issurance'].post.responses['400'].description
        401:
          description: paths['/proposal/proposals/issurance'].post.responses['401'].description
        403:
          description: paths['/proposal/proposals/issurance'].post.responses['403'].description
        404:
          description: paths['/proposal/proposals/issurance'].post.responses['404'].description
        500:
          description: paths['/proposal/proposals/issurance'].post.responses['500'].description
  /proposal/proposals/pre-verification:
    post:
      tags:
      - Proposal
      summary: paths['/proposal/proposals/pre-verification'].post.summary
      description: paths['/proposal/proposals/pre-verification'].post.description
      operationId: quoteUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: request
        description: paths['/proposal/proposals/pre-verification'].post.parameters['0'].description
        required: false
        schema:
          $ref: '#/definitions/QuotationRequest'
      - name: X-ebao-tenant-id
        in: header
        required: true
        type: string
      responses:
        200:
          description: paths['/proposal/proposals/pre-verification'].post.responses['200'].description
          schema:
            $ref: '#/definitions/QuotationResponse'
        201:
          description: paths['/proposal/proposals/pre-verification'].post.responses['201'].description
        400:
          description: paths['/proposal/proposals/pre-verification'].post.responses['400'].description
        401:
          description: paths['/proposal/proposals/pre-verification'].post.responses['401'].description
        403:
          description: paths['/proposal/proposals/pre-verification'].post.responses['403'].description
        404:
          description: paths['/proposal/proposals/pre-verification'].post.responses['404'].description
        500:
          description: paths['/proposal/proposals/pre-verification'].post.responses['500'].description
  /policy/policy-alterations/{insurerCode}/changeContactInfo:
    post:
      tags:
      - ChangeContactInfo
      summary: paths['/policy/policy-alterations/{insurerCode}/changeContactInfo'].post.summary
      description: paths['/policy/policy-alterations/{insurerCode}/changeContactInfo'].post.description
      operationId: inforceUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: insurerCode
        in: path
        description: paths['/policy/policy-alterations/{insurerCode}/changeContactInfo'].post.parameters['0'].description
        required: true
        type: string
      - in: body
        name: request
        description: paths['/policy/policy-alterations/{insurerCode}/changeContactInfo'].post.parameters['1'].description
        required: true
        schema:
          $ref: '#/definitions/ChangingContactInfoRequest'
      - name: X-ebao-tenant-id
        in: header
        required: true
        type: string
      responses:
        200:
          description: paths['/policy/policy-alterations/{insurerCode}/changeContactInfo'].post.responses['200'].description
          schema:
            $ref: '#/definitions/ChangingContactInfoResponse'
        201:
          description: paths['/policy/policy-alterations/{insurerCode}/changeContactInfo'].post.responses['201'].description
        400:
          description: paths['/policy/policy-alterations/{insurerCode}/changeContactInfo'].post.responses['400'].description
        401:
          description: paths['/policy/policy-alterations/{insurerCode}/changeContactInfo'].post.responses['401'].description
        403:
          description: paths['/policy/policy-alterations/{insurerCode}/changeContactInfo'].post.responses['403'].description
        404:
          description: paths['/policy/policy-alterations/{insurerCode}/changeContactInfo'].post.responses['404'].description
        500:
          description: paths['/policy/policy-alterations/{insurerCode}/changeContactInfo'].post.responses['500'].description
  /policy/policy-alterations/{insurerCode}/freelook:
    post:
      tags:
      - Freelook
      summary: paths['/policy/policy-alterations/{insurerCode}/freelook'].post.summary
      description: paths['/policy/policy-alterations/{insurerCode}/freelook'].post.description
      operationId: inforceUsingPOST_1
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: insurerCode
        in: path
        description: paths['/policy/policy-alterations/{insurerCode}/freelook'].post.parameters['0'].description
        required: true
        type: string
      - in: body
        name: request
        description: paths['/policy/policy-alterations/{insurerCode}/freelook'].post.parameters['1'].description
        required: true
        schema:
          $ref: '#/definitions/FreelookRequest'
      - name: X-ebao-tenant-id
        in: header
        required: true
        type: string
      responses:
        200:
          description: paths['/policy/policy-alterations/{insurerCode}/freelook'].post.responses['200'].description
          schema:
            $ref: '#/definitions/FreelookResponse'
        201:
          description: paths['/policy/policy-alterations/{insurerCode}/freelook'].post.responses['201'].description
        400:
          description: paths['/policy/policy-alterations/{insurerCode}/freelook'].post.responses['400'].description
        401:
          description: paths['/policy/policy-alterations/{insurerCode}/freelook'].post.responses['401'].description
        403:
          description: paths['/policy/policy-alterations/{insurerCode}/freelook'].post.responses['403'].description
        404:
          description: paths['/policy/policy-alterations/{insurerCode}/freelook'].post.responses['404'].description
        500:
          description: paths['/policy/policy-alterations/{insurerCode}/freelook'].post.responses['500'].description
  /policy/policy-alterations/{insurerCode}/freelook/quotations:
    post:
      tags:
      - Freelook
      summary: paths['/policy/policy-alterations/{insurerCode}/freelook/quotations'].post.summary
      description: paths['/policy/policy-alterations/{insurerCode}/freelook/quotations'].post.description
      operationId: quoteUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: insurerCode
        in: path
        description: paths['/policy/policy-alterations/{insurerCode}/freelook/quotations'].post.parameters['0'].description
        required: true
        type: string
      - in: body
        name: request
        description: paths['/policy/policy-alterations/{insurerCode}/freelook/quotations'].post.parameters['1'].description
        required: true
        schema:
          $ref: '#/definitions/FreelookQuotationRequest'
      - name: X-ebao-tenant-id
        in: header
        required: true
        type: string
      responses:
        200:
          description: paths['/policy/policy-alterations/{insurerCode}/freelook/quotations'].post.responses['200'].description
          schema:
            $ref: '#/definitions/FreelookQuotationResponse'
        201:
          description: paths['/policy/policy-alterations/{insurerCode}/freelook/quotations'].post.responses['201'].description
        400:
          description: paths['/policy/policy-alterations/{insurerCode}/freelook/quotations'].post.responses['400'].description
        401:
          description: paths['/policy/policy-alterations/{insurerCode}/freelook/quotations'].post.responses['401'].description
        403:
          description: paths['/policy/policy-alterations/{insurerCode}/freelook/quotations'].post.responses['403'].description
        404:
          description: paths['/policy/policy-alterations/{insurerCode}/freelook/quotations'].post.responses['404'].description
        500:
          description: paths['/policy/policy-alterations/{insurerCode}/freelook/quotations'].post.responses['500'].description
  /policy/policies/{insurerCode}/return-visits:
    post:
      tags:
      - Policy
      summary: paths['/policy/policies/{insurerCode}/return-visits'].post.summary
      description: paths['/policy/policies/{insurerCode}/return-visits'].post.description
      operationId: feedbackReturnVisitUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: insurerCode
        in: path
        description: paths['/policy/policies/{insurerCode}/return-visits'].post.parameters['0'].description
        required: true
        type: string
      - in: body
        name: request
        description: paths['/policy/policies/{insurerCode}/return-visits'].post.parameters['1'].description
        required: true
        schema:
          $ref: '#/definitions/PolicyReturnVisitRequest'
      - name: X-ebao-tenant-id
        in: header
        required: true
        type: string
      responses:
        200:
          description: paths['/policy/policies/{insurerCode}/return-visits'].post.responses['200'].description
          schema:
            $ref: '#/definitions/PolicyReturnVisitResponse'
        201:
          description: paths['/policy/policies/{insurerCode}/return-visits'].post.responses['201'].description
        400:
          description: paths['/policy/policies/{insurerCode}/return-visits'].post.responses['400'].description
        401:
          description: paths['/policy/policies/{insurerCode}/return-visits'].post.responses['401'].description
        403:
          description: paths['/policy/policies/{insurerCode}/return-visits'].post.responses['403'].description
        404:
          description: paths['/policy/policies/{insurerCode}/return-visits'].post.responses['404'].description
        500:
          description: paths['/policy/policies/{insurerCode}/return-visits'].post.responses['500'].description
  /policy/policies/{insurerCode}/search:
    post:
      tags:
      - Policy
      summary: paths['/policy/policies/{insurerCode}/search'].post.summary
      description: paths['/policy/policies/{insurerCode}/search'].post.description
      operationId: searchUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: insurerCode
        in: path
        description: paths['/policy/policies/{insurerCode}/search'].post.parameters['0'].description
        required: true
        type: string
      - in: body
        name: criteria
        description: paths['/policy/policies/{insurerCode}/search'].post.parameters['1'].description
        required: true
        schema:
          $ref: '#/definitions/PageablePolicyCriteria'
      - name: X-ebao-tenant-id
        in: header
        required: true
        type: string
      responses:
        200:
          description: paths['/policy/policies/{insurerCode}/search'].post.responses['200'].description
          schema:
            type: array
            items:
              $ref: '#/definitions/PolicySummaryInfo'
        201:
          description: paths['/policy/policies/{insurerCode}/search'].post.responses['201'].description
        400:
          description: paths['/policy/policies/{insurerCode}/search'].post.responses['400'].description
        401:
          description: paths['/policy/policies/{insurerCode}/search'].post.responses['401'].description
        403:
          description: paths['/policy/policies/{insurerCode}/search'].post.responses['403'].description
        404:
          description: paths['/policy/policies/{insurerCode}/search'].post.responses['404'].description
        500:
          description: paths['/policy/policies/{insurerCode}/search'].post.responses['500'].description
  /policy/policies/{insurerCode}/{policyNumber}:
    get:
      tags:
      - Policy
      summary: paths['/policy/policies/{insurerCode}/{policyNumber}'].get.summary
      description: paths['/policy/policies/{insurerCode}/{policyNumber}'].get.description
      operationId: getUsingGET
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: insurerCode
        in: path
        description: paths['/policy/policies/{insurerCode}/{policyNumber}'].get.parameters['0'].description
        required: true
        type: string
      - name: policyNumber
        in: path
        description: paths['/policy/policies/{insurerCode}/{policyNumber}'].get.parameters['1'].description
        required: true
        type: string
      - name: X-ebao-tenant-id
        in: header
        required: true
        type: string
      responses:
        200:
          description: paths['/policy/policies/{insurerCode}/{policyNumber}'].get.responses['200'].description
          schema:
            $ref: '#/definitions/PolicyInfo'
        400:
          description: paths['/policy/policies/{insurerCode}/{policyNumber}'].get.responses['400'].description
        401:
          description: paths['/policy/policies/{insurerCode}/{policyNumber}'].get.responses['401'].description
        403:
          description: paths['/policy/policies/{insurerCode}/{policyNumber}'].get.responses['403'].description
        404:
          description: paths['/policy/policies/{insurerCode}/{policyNumber}'].get.responses['404'].description
        500:
          description: paths['/policy/policies/{insurerCode}/{policyNumber}'].get.responses['500'].description
produces: []
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":169:{s:21:\"SalesCategoryResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:15:\"clientRequestId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:72:\"definitions.SalesCategoryResponse.properties.clientRequestId.description\";}s:17:\"clientRequestTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:74:\"definitions.SalesCategoryResponse.properties.clientRequestTime.description\";}s:6:\"result\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:63:\"definitions.SalesCategoryResponse.properties.result.description\";}s:8:\"messages\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:65:\"definitions.SalesCategoryResponse.properties.messages.description\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/GenericValidationResult\";}}s:10:\"exceptions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:67:\"definitions.SalesCategoryResponse.properties.exceptions.description\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:17:\"listSalesCategory\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:74:\"definitions.SalesCategoryResponse.properties.listSalesCategory.description\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/ProductSalesCategory\";}}}}s:25:\"ProductSumAssuredResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:15:\"clientRequestId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:76:\"definitions.ProductSumAssuredResponse.properties.clientRequestId.description\";}s:17:\"clientRequestTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:78:\"definitions.ProductSumAssuredResponse.properties.clientRequestTime.description\";}s:6:\"result\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:67:\"definitions.ProductSumAssuredResponse.properties.result.description\";}s:10:\"exceptions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:71:\"definitions.ProductSumAssuredResponse.properties.exceptions.description\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"productCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:72:\"definitions.ProductSumAssuredResponse.properties.productCode.description\";}s:17:\"productSumAssured\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"definitions.ProductSumAssuredResponse.properties.productSumAssured.description\";s:4:\"$ref\";s:31:\"#/definitions/ProductSumAssured\";}}}s:16:\"CalculateInsured\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:6:\"gender\";i:1;s:7:\"orderId\";}s:10:\"properties\";O:8:\"stdClass\":10:{s:3:\"age\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:17;s:11:\"description\";s:55:\"definitions.CalculateInsured.properties.age.description\";}s:6:\"gender\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"M\";s:11:\"description\";s:58:\"definitions.CalculateInsured.properties.gender.description\";s:4:\"enum\";a:2:{i:0;s:1:\"M\";i:1;s:1:\"F\";}}s:9:\"birthdate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:10:\"1999-10-16\";s:11:\"description\";s:61:\"definitions.CalculateInsured.properties.birthdate.description\";}s:7:\"smoking\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"Y\";s:11:\"description\";s:59:\"definitions.CalculateInsured.properties.smoking.description\";s:4:\"enum\";a:2:{i:0;s:1:\"Y\";i:1;s:1:\"N\";}}s:14:\"occupationCode\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:10001;s:11:\"description\";s:66:\"definitions.CalculateInsured.properties.occupationCode.description\";}s:15:\"occupationClass\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:1;s:11:\"description\";s:67:\"definitions.CalculateInsured.properties.occupationClass.description\";}s:11:\"medicalIndi\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"Y\";s:11:\"description\";s:63:\"definitions.CalculateInsured.properties.medicalIndi.description\";s:4:\"enum\";a:2:{i:0;s:1:\"Y\";i:1;s:1:\"N\";}}s:18:\"socialSecurityIndi\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"Y\";s:11:\"description\";s:70:\"definitions.CalculateInsured.properties.socialSecurityIndi.description\";s:4:\"enum\";a:2:{i:0;s:1:\"Y\";i:1;s:1:\"N\";}}s:7:\"orderId\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:1;s:11:\"description\";s:59:\"definitions.CalculateInsured.properties.orderId.description\";}s:9:\"extFields\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:61:\"definitions.CalculateInsured.properties.extFields.description\";}}}s:13:\"CalculateFund\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:10:\"assignRate\";i:1;s:8:\"fundCode\";i:2;s:8:\"premType\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"fundCode\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"F001\";s:11:\"description\";s:57:\"definitions.CalculateFund.properties.fundCode.description\";}s:10:\"assignRate\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:7:\"example\";i:1;s:11:\"description\";s:59:\"definitions.CalculateFund.properties.assignRate.description\";}s:8:\"premType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:53:\"2:
  regular premium; 3: regular topup; 4: ad-hoc topup\";s:11:\"description\";s:57:\"definitions.CalculateFund.properties.premType.description\";}s:9:\"extFields\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:58:\"definitions.CalculateFund.properties.extFields.description\";}}}s:18:\"ProductPackageInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":24:{s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"packageCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:65:\"definitions.ProductPackageInfo.properties.packageCode.description\";}s:11:\"packageName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:65:\"definitions.ProductPackageInfo.properties.packageName.description\";}s:7:\"moneyId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:61:\"definitions.ProductPackageInfo.properties.moneyId.description\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:65:\"definitions.ProductPackageInfo.properties.description.description\";}s:13:\"specialClause\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:67:\"definitions.ProductPackageInfo.properties.specialClause.description\";}s:13:\"pricingMethod\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:67:\"definitions.ProductPackageInfo.properties.pricingMethod.description\";}s:11:\"unitPremium\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:65:\"definitions.ProductPackageInfo.properties.unitPremium.description\";}s:10:\"unitAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:64:\"definitions.ProductPackageInfo.properties.unitAmount.description\";}s:9:\"minAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:63:\"definitions.ProductPackageInfo.properties.minAmount.description\";}s:9:\"maxAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:63:\"definitions.ProductPackageInfo.properties.maxAmount.description\";}s:10:\"baseAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:64:\"definitions.ProductPackageInfo.properties.baseAmount.description\";}s:10:\"minPremium\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:64:\"definitions.ProductPackageInfo.properties.minPremium.description\";}s:10:\"maxPremium\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:64:\"definitions.ProductPackageInfo.properties.maxPremium.description\";}s:10:\"minAgeUnit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:64:\"definitions.ProductPackageInfo.properties.minAgeUnit.description\";}s:6:\"minAge\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:60:\"definitions.ProductPackageInfo.properties.minAge.description\";}s:10:\"maxAgeUnit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:64:\"definitions.ProductPackageInfo.properties.maxAgeUnit.description\";}s:6:\"maxAge\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:60:\"definitions.ProductPackageInfo.properties.maxAge.description\";}s:8:\"minPhAge\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:62:\"definitions.ProductPackageInfo.properties.minPhAge.description\";}s:8:\"maxPhAge\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:62:\"definitions.ProductPackageInfo.properties.maxPhAge.description\";}s:15:\"productPkgTerms\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:69:\"definitions.ProductPackageInfo.properties.productPkgTerms.description\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ProductPackageTerm\";}}s:9:\"packageId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:63:\"definitions.ProductPackageInfo.properties.packageId.description\";}s:18:\"productPkgProducts\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:72:\"definitions.ProductPackageInfo.properties.productPkgProducts.description\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ProductPkgProduct\";}}s:24:\"productPkgProductMatrixs\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:78:\"definitions.ProductPackageInfo.properties.productPkgProductMatrixs.description\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/ProductPkgProductMatrix\";}}}}s:19:\"ProductTermResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:15:\"clientRequestId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:70:\"definitions.ProductTermResponse.properties.clientRequestId.description\";}s:17:\"clientRequestTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:72:\"definitions.ProductTermResponse.properties.clientRequestTime.description\";}s:6:\"result\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:61:\"definitions.ProductTermResponse.properties.result.description\";}s:10:\"exceptions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:65:\"definitions.ProductTermResponse.properties.exceptions.description\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"productCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:66:\"definitions.ProductTermResponse.properties.productCode.description\";}s:11:\"productTerm\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"definitions.ProductTermResponse.properties.productTerm.description\";s:4:\"$ref\";s:25:\"#/definitions/ProductTerm\";}}}s:16:\"CalculatePremium\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:11:\"paymentFreq\";}s:10:\"properties\";O:8:\"stdClass\":6:{s:10:\"sumAssured\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:7:\"example\";i:1000000;s:11:\"description\";s:62:\"definitions.CalculatePremium.properties.sumAssured.description\";}s:7:\"premium\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:7:\"example\";i:2000;s:11:\"description\";s:59:\"definitions.CalculatePremium.properties.premium.description\";}s:4:\"unit\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:1;s:11:\"description\";s:56:\"definitions.CalculatePremium.properties.unit.description\";}s:12:\"benefitLevel\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"1\";s:11:\"description\";s:64:\"definitions.CalculatePremium.properties.benefitLevel.description\";}s:11:\"paymentFreq\";O:8:\"stdClass\":5:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:1;s:11:\"description\";s:63:\"definitions.CalculatePremium.properties.paymentFreq.description\";s:4:\"enum\";a:5:{i:0;i:1;i:1;i:2;i:2;i:3;i:3;i:4;i:4;i:5;}}s:9:\"extFields\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:61:\"definitions.CalculatePremium.properties.extFields.description\";}}}s:23:\"ProductFundPremiumLimit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"fundCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:67:\"definitions.ProductFundPremiumLimit.properties.fundCode.description\";}s:13:\"paymentMethod\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:72:\"definitions.ProductFundPremiumLimit.properties.paymentMethod.description\";}s:17:\"minAdhocTopupPrem\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:76:\"definitions.ProductFundPremiumLimit.properties.minAdhocTopupPrem.description\";}s:18:\"minRegulaTopupPrem\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:77:\"definitions.ProductFundPremiumLimit.properties.minRegulaTopupPrem.description\";}s:16:\"paymentFrequency\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:75:\"definitions.ProductFundPremiumLimit.properties.paymentFrequency.description\";}s:14:\"minInitialPrem\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:73:\"definitions.ProductFundPremiumLimit.properties.minInitialPrem.description\";}s:14:\"maxInitialPrem\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:73:\"definitions.ProductFundPremiumLimit.properties.maxInitialPrem.description\";}}}s:8:\"AgeLimit\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:14:\"coveragePeriod\";}s:10:\"properties\";O:8:\"stdClass\":24:{s:12:\"benefitLevel\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:56:\"definitions.AgeLimit.properties.benefitLevel.description\";}s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:10:\"minAgeUnit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:54:\"definitions.AgeLimit.properties.minAgeUnit.description\";}s:6:\"minAge\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:50:\"definitions.AgeLimit.properties.minAge.description\";}s:10:\"maxAgeUnit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:54:\"definitions.AgeLimit.properties.maxAgeUnit.description\";}s:6:\"maxAge\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:50:\"definitions.AgeLimit.properties.maxAge.description\";}s:12:\"chargePeriod\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"2\";s:11:\"description\";s:56:\"definitions.AgeLimit.properties.chargePeriod.description\";s:4:\"enum\";a:4:{i:0;s:1:\"1\";i:1;s:1:\"2\";i:2;s:1:\"3\";i:3;s:1:\"4\";}}s:10:\"chargeYear\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:5;s:11:\"description\";s:54:\"definitions.AgeLimit.properties.chargeYear.description\";}s:14:\"coveragePeriod\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"2\";s:11:\"description\";s:58:\"definitions.AgeLimit.properties.coveragePeriod.description\";s:4:\"enum\";a:4:{i:0;s:1:\"1\";i:1;s:1:\"2\";i:2;s:1:\"3\";i:3;s:1:\"4\";}}s:12:\"coverageYear\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:20;s:11:\"description\";s:56:\"definitions.AgeLimit.properties.coverageYear.description\";}s:18:\"annuityStartPeriod\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:62:\"definitions.AgeLimit.properties.annuityStartPeriod.description\";}s:16:\"annuityStartYear\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:60:\"definitions.AgeLimit.properties.annuityStartYear.description\";}s:16:\"annuityEndPeriod\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:60:\"definitions.AgeLimit.properties.annuityEndPeriod.description\";}s:14:\"annuityEndYear\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:58:\"definitions.AgeLimit.properties.annuityEndYear.description\";}s:16:\"annuityPayEnsure\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:60:\"definitions.AgeLimit.properties.annuityPayEnsure.description\";}s:15:\"coverageYearMax\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:59:\"definitions.AgeLimit.properties.coverageYearMax.description\";}s:19:\"annuityStartYearMax\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:63:\"definitions.AgeLimit.properties.annuityStartYearMax.description\";}s:17:\"annuityEndYearMax\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:61:\"definitions.AgeLimit.properties.annuityEndYearMax.description\";}s:13:\"paymentMethod\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:57:\"definitions.AgeLimit.properties.paymentMethod.description\";}s:6:\"gender\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:50:\"definitions.AgeLimit.properties.gender.description\";}s:16:\"paymentFrequency\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:60:\"definitions.AgeLimit.properties.paymentFrequency.description\";}s:5:\"lowSa\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:49:\"definitions.AgeLimit.properties.lowSa.description\";}s:6:\"highSa\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:50:\"definitions.AgeLimit.properties.highSa.description\";}s:13:\"chargeYearMax\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:57:\"definitions.AgeLimit.properties.chargeYearMax.description\";}}}s:15:\"CalculatePolicy\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:9:\"coverages\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"inceptionDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:10:\"2017-01-01\";s:11:\"description\";s:64:\"definitions.CalculatePolicy.properties.inceptionDate.description\";}s:9:\"coverages\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:60:\"definitions.CalculatePolicy.properties.coverages.description\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/CalculateCoverage\";}}s:9:\"extFields\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:60:\"definitions.CalculatePolicy.properties.extFields.description\";}}}s:19:\"IllustrationRequest\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:15:\"calculatePolicy\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:15:\"clientRequestId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:70:\"definitions.IllustrationRequest.properties.clientRequestId.description\";}s:17:\"clientRequestTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:72:\"definitions.IllustrationRequest.properties.clientRequestTime.description\";}s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:15:\"calculatePolicy\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"definitions.IllustrationRequest.properties.calculatePolicy.description\";s:4:\"$ref\";s:29:\"#/definitions/CalculatePolicy\";}s:16:\"performanceLevel\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:1;s:11:\"description\";s:71:\"definitions.IllustrationRequest.properties.performanceLevel.description\";}}}s:11:\"AgeLimitCon\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:14:\"coveragePeriod\";i:1;s:11:\"productCode\";}s:10:\"properties\";O:8:\"stdClass\":15:{s:12:\"benefitLevel\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"1\";s:11:\"description\";s:59:\"definitions.AgeLimitCon.properties.benefitLevel.description\";}s:10:\"sumAssured\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:7:\"example\";i:100000;s:11:\"description\";s:57:\"definitions.AgeLimitCon.properties.sumAssured.description\";}s:6:\"gender\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"F\";s:11:\"description\";s:53:\"definitions.AgeLimitCon.properties.gender.description\";}s:16:\"premiumFrequency\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"1\";s:11:\"description\";s:63:\"definitions.AgeLimitCon.properties.premiumFrequency.description\";}s:11:\"productCode\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"ABC\";s:11:\"description\";s:58:\"definitions.AgeLimitCon.properties.productCode.description\";}s:12:\"chargePeriod\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"2\";s:11:\"description\";s:59:\"definitions.AgeLimitCon.properties.chargePeriod.description\";s:4:\"enum\";a:4:{i:0;s:1:\"1\";i:1;s:1:\"2\";i:2;s:1:\"3\";i:3;s:1:\"4\";}}s:10:\"chargeYear\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:5;s:11:\"description\";s:57:\"definitions.AgeLimitCon.properties.chargeYear.description\";}s:14:\"coveragePeriod\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"2\";s:11:\"description\";s:61:\"definitions.AgeLimitCon.properties.coveragePeriod.description\";s:4:\"enum\";a:4:{i:0;s:1:\"1\";i:1;s:1:\"2\";i:2;s:1:\"3\";i:3;s:1:\"4\";}}s:12:\"coverageYear\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:20;s:11:\"description\";s:59:\"definitions.AgeLimitCon.properties.coverageYear.description\";}s:18:\"annuityStartPeriod\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"1\";s:11:\"description\";s:65:\"definitions.AgeLimitCon.properties.annuityStartPeriod.description\";}s:16:\"annuityStartYear\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:5;s:11:\"description\";s:63:\"definitions.AgeLimitCon.properties.annuityStartYear.description\";}s:16:\"annuityEndPeriod\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"1\";s:11:\"description\";s:63:\"definitions.AgeLimitCon.properties.annuityEndPeriod.description\";}s:14:\"annuityEndYear\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:5;s:11:\"description\";s:61:\"definitions.AgeLimitCon.properties.annuityEndYear.description\";}s:16:\"annuityPayEnsure\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:5;s:11:\"description\";s:63:\"definitions.AgeLimitCon.properties.annuityPayEnsure.description\";}s:9:\"extFields\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:56:\"definitions.AgeLimitCon.properties.extFields.description\";}}}s:5:\"Bonus\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:9:\"cashBonus\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:0;s:11:\"description\";s:50:\"definitions.Bonus.properties.cashBonus.description\";}s:17:\"cashBonusVestYear\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:58:\"definitions.Bonus.properties.cashBonusVestYear.description\";}s:19:\"cashBonusUnitAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:60:\"definitions.Bonus.properties.cashBonusUnitAmount.description\";}s:16:\"cashBonusOptions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:57:\"definitions.Bonus.properties.cashBonusOptions.description\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:12:\"PremiumLimit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:7:\"minPrem\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:55:\"definitions.PremiumLimit.properties.minPrem.description\";}s:7:\"maxPrem\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:55:\"definitions.PremiumLimit.properties.maxPrem.description\";}s:13:\"paymentMethod\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:61:\"definitions.PremiumLimit.properties.paymentMethod.description\";}s:16:\"paymentFrequency\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:64:\"definitions.PremiumLimit.properties.paymentFrequency.description\";}s:8:\"currency\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:56:\"definitions.PremiumLimit.properties.currency.description\";}s:6:\"minAge\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:54:\"definitions.PremiumLimit.properties.minAge.description\";}s:6:\"maxAge\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:54:\"definitions.PremiumLimit.properties.maxAge.description\";}s:12:\"chargePeriod\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"2\";s:11:\"description\";s:60:\"definitions.PremiumLimit.properties.chargePeriod.description\";s:4:\"enum\";a:4:{i:0;s:1:\"1\";i:1;s:1:\"2\";i:2;s:1:\"3\";i:3;s:1:\"4\";}}s:10:\"chargeYear\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:5;s:11:\"description\";s:58:\"definitions.PremiumLimit.properties.chargeYear.description\";}}}s:23:\"CalculatePremSAResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:15:\"clientRequestId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:74:\"definitions.CalculatePremSAResponse.properties.clientRequestId.description\";}s:17:\"clientRequestTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:76:\"definitions.CalculatePremSAResponse.properties.clientRequestTime.description\";}s:6:\"result\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:65:\"definitions.CalculatePremSAResponse.properties.result.description\";}s:8:\"messages\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:67:\"definitions.CalculatePremSAResponse.properties.messages.description\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/GenericValidationResult\";}}s:10:\"exceptions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:69:\"definitions.CalculatePremSAResponse.properties.exceptions.description\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:21:\"calculatePolicyResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"definitions.CalculatePremSAResponse.properties.calculatePolicyResult.description\";s:4:\"$ref\";s:35:\"#/definitions/CalculatePolicyResult\";}}}s:21:\"CalculatePolicyResult\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"installPrem\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:68:\"definitions.CalculatePolicyResult.properties.installPrem.description\";}s:10:\"annualPrem\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:67:\"definitions.CalculatePolicyResult.properties.annualPrem.description\";}s:9:\"policyFee\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:66:\"definitions.CalculatePolicyResult.properties.policyFee.description\";}s:13:\"inceptionDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:70:\"definitions.CalculatePolicyResult.properties.inceptionDate.description\";}s:24:\"calculateCoverageResults\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:81:\"definitions.CalculatePolicyResult.properties.calculateCoverageResults.description\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/CalculateCoverageResult\";}}}}s:16:\"PackagesResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:15:\"clientRequestId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:67:\"definitions.PackagesResponse.properties.clientRequestId.description\";}s:17:\"clientRequestTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:69:\"definitions.PackagesResponse.properties.clientRequestTime.description\";}s:6:\"result\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:58:\"definitions.PackagesResponse.properties.result.description\";}s:10:\"exceptions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:62:\"definitions.PackagesResponse.properties.exceptions.description\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:27:\"listBasicProductPackageInfo\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:79:\"definitions.PackagesResponse.properties.listBasicProductPackageInfo.description\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/BasicProductPackageInfo\";}}}}s:7:\"Annuity\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:18:\"annuityStartPeriod\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:61:\"definitions.Annuity.properties.annuityStartPeriod.description\";}s:16:\"annuityStartYear\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:59:\"definitions.Annuity.properties.annuityStartYear.description\";}s:16:\"annuityEndPeriod\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:59:\"definitions.Annuity.properties.annuityEndPeriod.description\";}s:14:\"annuityEndYear\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:57:\"definitions.Annuity.properties.annuityEndYear.description\";}s:9:\"extFields\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:52:\"definitions.Annuity.properties.extFields.description\";}}}s:15:\"ProductResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:15:\"clientRequestId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:66:\"definitions.ProductResponse.properties.clientRequestId.description\";}s:17:\"clientRequestTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:68:\"definitions.ProductResponse.properties.clientRequestTime.description\";}s:6:\"result\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:57:\"definitions.ProductResponse.properties.result.description\";}s:8:\"messages\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:59:\"definitions.ProductResponse.properties.messages.description\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/GenericValidationResult\";}}s:10:\"exceptions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:61:\"definitions.ProductResponse.properties.exceptions.description\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"productInfo\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"definitions.ProductResponse.properties.productInfo.description\";s:4:\"$ref\";s:25:\"#/definitions/ProductInfo\";}}}s:22:\"ProductPremiumResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:15:\"clientRequestId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:73:\"definitions.ProductPremiumResponse.properties.clientRequestId.description\";}s:17:\"clientRequestTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:75:\"definitions.ProductPremiumResponse.properties.clientRequestTime.description\";}s:6:\"result\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:64:\"definitions.ProductPremiumResponse.properties.result.description\";}s:10:\"exceptions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:68:\"definitions.ProductPremiumResponse.properties.exceptions.description\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"productCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:69:\"definitions.ProductPremiumResponse.properties.productCode.description\";}s:14:\"productPremium\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"definitions.ProductPremiumResponse.properties.productPremium.description\";s:4:\"$ref\";s:28:\"#/definitions/ProductPremium\";}}}s:9:\"TermLimit\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:14:\"coveragePeriod\";}s:10:\"properties\";O:8:\"stdClass\":10:{s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:12:\"chargePeriod\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"2\";s:11:\"description\";s:57:\"definitions.TermLimit.properties.chargePeriod.description\";s:4:\"enum\";a:4:{i:0;s:1:\"1\";i:1;s:1:\"2\";i:2;s:1:\"3\";i:3;s:1:\"4\";}}s:10:\"chargeYear\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:5;s:11:\"description\";s:55:\"definitions.TermLimit.properties.chargeYear.description\";}s:14:\"coveragePeriod\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"2\";s:11:\"description\";s:59:\"definitions.TermLimit.properties.coveragePeriod.description\";s:4:\"enum\";a:4:{i:0;s:1:\"1\";i:1;s:1:\"2\";i:2;s:1:\"3\";i:3;s:1:\"4\";}}s:12:\"coverageYear\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:20;s:11:\"description\";s:57:\"definitions.TermLimit.properties.coverageYear.description\";}s:18:\"annuityStartPeriod\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:63:\"definitions.TermLimit.properties.annuityStartPeriod.description\";}s:16:\"annuityStartYear\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:61:\"definitions.TermLimit.properties.annuityStartYear.description\";}s:16:\"annuityEndPeriod\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:61:\"definitions.TermLimit.properties.annuityEndPeriod.description\";}s:14:\"annuityEndYear\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:59:\"definitions.TermLimit.properties.annuityEndYear.description\";}s:16:\"annuityPayEnsure\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:61:\"definitions.TermLimit.properties.annuityPayEnsure.description\";}}}s:18:\"TopupWithdrawnPlan\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:4:{i:0;s:6:\"amount\";i:1;s:7:\"endYear\";i:2;s:8:\"premType\";i:3;s:9:\"startYear\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"premType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:55:\"3:
  regular topup; 7: partial withdrawn; 4: ad-hoc topup\";s:11:\"description\";s:62:\"definitions.TopupWithdrawnPlan.properties.premType.description\";}s:9:\"startYear\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:7:\"example\";i:2;s:11:\"description\";s:63:\"definitions.TopupWithdrawnPlan.properties.startYear.description\";}s:7:\"endYear\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:7:\"example\";i:5;s:11:\"description\";s:61:\"definitions.TopupWithdrawnPlan.properties.endYear.description\";}s:6:\"amount\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:7:\"example\";i:100000;s:11:\"description\";s:60:\"definitions.TopupWithdrawnPlan.properties.amount.description\";}s:9:\"extFields\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:63:\"definitions.TopupWithdrawnPlan.properties.extFields.description\";}}}s:16:\"ProductsResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:15:\"clientRequestId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:67:\"definitions.ProductsResponse.properties.clientRequestId.description\";}s:17:\"clientRequestTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:69:\"definitions.ProductsResponse.properties.clientRequestTime.description\";}s:6:\"result\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:58:\"definitions.ProductsResponse.properties.result.description\";}s:8:\"messages\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:60:\"definitions.ProductsResponse.properties.messages.description\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/GenericValidationResult\";}}s:10:\"exceptions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:62:\"definitions.ProductsResponse.properties.exceptions.description\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:27:\"listProductBasicInformation\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:79:\"definitions.ProductsResponse.properties.listProductBasicInformation.description\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/ProductBasicInformation\";}}}}s:31:\"ProductRatingParametersResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:15:\"clientRequestId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:82:\"definitions.ProductRatingParametersResponse.properties.clientRequestId.description\";}s:17:\"clientRequestTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:84:\"definitions.ProductRatingParametersResponse.properties.clientRequestTime.description\";}s:6:\"result\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:73:\"definitions.ProductRatingParametersResponse.properties.result.description\";}s:10:\"exceptions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:77:\"definitions.ProductRatingParametersResponse.properties.exceptions.description\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"productCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:78:\"definitions.ProductRatingParametersResponse.properties.productCode.description\";}s:16:\"ratingParameters\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:83:\"definitions.ProductRatingParametersResponse.properties.ratingParameters.description\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:19:\"ratingParameterType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:86:\"definitions.ProductRatingParametersResponse.properties.ratingParameterType.description\";}}}s:17:\"ProductPkgProduct\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":16:{s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:9:\"packageId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:62:\"definitions.ProductPkgProduct.properties.packageId.description\";}s:9:\"productId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:62:\"definitions.ProductPkgProduct.properties.productId.description\";}s:8:\"optional\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:61:\"definitions.ProductPkgProduct.properties.optional.description\";}s:12:\"saProportion\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:65:\"definitions.ProductPkgProduct.properties.saProportion.description\";}s:17:\"premiumProportion\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:70:\"definitions.ProductPkgProduct.properties.premiumProportion.description\";}s:6:\"amount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:59:\"definitions.ProductPkgProduct.properties.amount.description\";}s:7:\"premium\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:60:\"definitions.ProductPkgProduct.properties.premium.description\";}s:10:\"calcMethod\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:63:\"definitions.ProductPkgProduct.properties.calcMethod.description\";}s:12:\"benefitLevel\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:65:\"definitions.ProductPkgProduct.properties.benefitLevel.description\";}s:8:\"freeIndi\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:61:\"definitions.ProductPkgProduct.properties.freeIndi.description\";}s:9:\"minAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:62:\"definitions.ProductPkgProduct.properties.minAmount.description\";}s:9:\"maxAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:62:\"definitions.ProductPkgProduct.properties.maxAmount.description\";}s:10:\"minPremium\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:63:\"definitions.ProductPkgProduct.properties.minPremium.description\";}s:10:\"maxPremium\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:63:\"definitions.ProductPkgProduct.properties.maxPremium.description\";}s:10:\"baseAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:63:\"definitions.ProductPkgProduct.properties.baseAmount.description\";}}}s:13:\"Illustrations\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:22:\"illustrationResultList\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:71:\"definitions.Illustrations.properties.illustrationResultList.description\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/IllustrationResult\";}}}}s:15:\"MainInformation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":16:{s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"productCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:62:\"definitions.MainInformation.properties.productCode.description\";}s:11:\"productName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:62:\"definitions.MainInformation.properties.productName.description\";}s:8:\"mainPlan\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:59:\"definitions.MainInformation.properties.mainPlan.description\";}s:8:\"currency\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:59:\"definitions.MainInformation.properties.currency.description\";}s:5:\"orgId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:56:\"definitions.MainInformation.properties.orgId.description\";}s:9:\"startDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:60:\"definitions.MainInformation.properties.startDate.description\";}s:7:\"endDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:58:\"definitions.MainInformation.properties.endDate.description\";}s:13:\"salesCategory\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"definitions.MainInformation.properties.salesCategory.description\";s:4:\"$ref\";s:34:\"#/definitions/ProductSalesCategory\";}s:18:\"productDescription\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:69:\"definitions.MainInformation.properties.productDescription.description\";}s:19:\"productAbbreviation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:70:\"definitions.MainInformation.properties.productAbbreviation.description\";}s:4:\"ally\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:55:\"definitions.MainInformation.properties.ally.description\";}s:9:\"indexIndi\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:60:\"definitions.MainInformation.properties.indexIndi.description\";}s:12:\"spouseWaiver\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:63:\"definitions.MainInformation.properties.spouseWaiver.description\";}s:10:\"familyType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:61:\"definitions.MainInformation.properties.familyType.description\";}s:8:\"payerWop\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:59:\"definitions.MainInformation.properties.payerWop.description\";}}}s:22:\"CalculatePremSARequest\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:15:\"calculatePolicy\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:15:\"clientRequestId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:73:\"definitions.CalculatePremSARequest.properties.clientRequestId.description\";}s:17:\"clientRequestTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:75:\"definitions.CalculatePremSARequest.properties.clientRequestTime.description\";}s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:15:\"calculatePolicy\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"definitions.CalculatePremSARequest.properties.calculatePolicy.description\";s:4:\"$ref\";s:29:\"#/definitions/CalculatePolicy\";}}}s:20:\"ProductCoverMultiple\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:18:\"coverMultipleItems\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:74:\"definitions.ProductCoverMultiple.properties.coverMultipleItems.description\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/CoverMultipleItem\";}}}}s:17:\"CoverMultipleItem\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"productCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:64:\"definitions.CoverMultipleItem.properties.productCode.description\";}s:8:\"ageRange\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:61:\"definitions.CoverMultipleItem.properties.ageRange.description\";}s:9:\"termRange\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:62:\"definitions.CoverMultipleItem.properties.termRange.description\";}s:8:\"minValue\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:61:\"definitions.CoverMultipleItem.properties.minValue.description\";}s:8:\"maxValue\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:61:\"definitions.CoverMultipleItem.properties.maxValue.description\";}}}s:15:\"PackageResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:15:\"clientRequestId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:66:\"definitions.PackageResponse.properties.clientRequestId.description\";}s:17:\"clientRequestTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:68:\"definitions.PackageResponse.properties.clientRequestTime.description\";}s:6:\"result\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:57:\"definitions.PackageResponse.properties.result.description\";}s:10:\"exceptions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:61:\"definitions.PackageResponse.properties.exceptions.description\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:18:\"productPackageInfo\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"definitions.PackageResponse.properties.productPackageInfo.description\";s:4:\"$ref\";s:32:\"#/definitions/ProductPackageInfo\";}}}s:18:\"ProductPackageTerm\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:14:\"coveragePeriod\";}s:10:\"properties\";O:8:\"stdClass\":6:{s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:9:\"packageId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:63:\"definitions.ProductPackageTerm.properties.packageId.description\";}s:12:\"chargePeriod\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"2\";s:11:\"description\";s:66:\"definitions.ProductPackageTerm.properties.chargePeriod.description\";s:4:\"enum\";a:4:{i:0;s:1:\"1\";i:1;s:1:\"2\";i:2;s:1:\"3\";i:3;s:1:\"4\";}}s:10:\"chargeYear\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:5;s:11:\"description\";s:64:\"definitions.ProductPackageTerm.properties.chargeYear.description\";}s:14:\"coveragePeriod\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"2\";s:11:\"description\";s:68:\"definitions.ProductPackageTerm.properties.coveragePeriod.description\";s:4:\"enum\";a:4:{i:0;s:1:\"1\";i:1;s:1:\"2\";i:2;s:1:\"3\";i:3;s:1:\"4\";}}s:12:\"coverageYear\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:20;s:11:\"description\";s:66:\"definitions.ProductPackageTerm.properties.coverageYear.description\";}}}s:11:\"ProductFund\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":20:{s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"fundCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:55:\"definitions.ProductFund.properties.fundCode.description\";}s:9:\"productId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:56:\"definitions.ProductFund.properties.productId.description\";}s:21:\"minPartialWithdralval\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:68:\"definitions.ProductFund.properties.minPartialWithdralval.description\";}s:30:\"minPartialWithdralRemainingVal\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:77:\"definitions.ProductFund.properties.minPartialWithdralRemainingVal.description\";}s:13:\"minSwitOutVal\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:60:\"definitions.ProductFund.properties.minSwitOutVal.description\";}s:16:\"minSwitRemainVal\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:63:\"definitions.ProductFund.properties.minSwitRemainVal.description\";}s:16:\"switchPeriodUnit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:63:\"definitions.ProductFund.properties.switchPeriodUnit.description\";}s:14:\"maxSwitInTimes\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:61:\"definitions.ProductFund.properties.maxSwitInTimes.description\";}s:15:\"maxSwitOutTimes\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:62:\"definitions.ProductFund.properties.maxSwitOutTimes.description\";}s:21:\"maxPartialWithdralVal\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:68:\"definitions.ProductFund.properties.maxPartialWithdralVal.description\";}s:20:\"settleRatePeriodUnit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:67:\"definitions.ProductFund.properties.settleRatePeriodUnit.description\";}s:14:\"settleYearType\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:61:\"definitions.ProductFund.properties.settleYearType.description\";}s:10:\"settleFreq\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"definitions.ProductFund.properties.settleFreq.description\";}s:11:\"settleMonth\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:58:\"definitions.ProductFund.properties.settleMonth.description\";}s:9:\"settleDay\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:56:\"definitions.ProductFund.properties.settleDay.description\";}s:12:\"settleMethod\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:59:\"definitions.ProductFund.properties.settleMethod.description\";}s:20:\"guaranteedRateOption\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:67:\"definitions.ProductFund.properties.guaranteedRateOption.description\";}s:20:\"settleSimpleCompound\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:67:\"definitions.ProductFund.properties.settleSimpleCompound.description\";}s:15:\"bonusSettleType\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:62:\"definitions.ProductFund.properties.bonusSettleType.description\";}}}s:20:\"LiabilityInformation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:13:\"liabilityName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:69:\"definitions.LiabilityInformation.properties.liabilityName.description\";}s:12:\"categoryName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:68:\"definitions.LiabilityInformation.properties.categoryName.description\";}s:11:\"liabilityId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:67:\"definitions.LiabilityInformation.properties.liabilityId.description\";}s:10:\"categoryId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:66:\"definitions.LiabilityInformation.properties.categoryId.description\";}}}s:12:\"TermLimitCon\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:12:\"coverageYear\";i:1;s:11:\"productCode\";}s:10:\"properties\";O:8:\"stdClass\":11:{s:11:\"productCode\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"ABC\";s:11:\"description\";s:59:\"definitions.TermLimitCon.properties.productCode.description\";}s:14:\"coveragePeriod\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"2\";s:11:\"description\";s:62:\"definitions.TermLimitCon.properties.coveragePeriod.description\";s:4:\"enum\";a:4:{i:0;s:1:\"1\";i:1;s:1:\"2\";i:2;s:1:\"3\";i:3;s:1:\"4\";}}s:12:\"chargePeriod\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:5;s:11:\"description\";s:60:\"definitions.TermLimitCon.properties.chargePeriod.description\";}s:12:\"coverageYear\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"2\";s:11:\"description\";s:60:\"definitions.TermLimitCon.properties.coverageYear.description\";s:4:\"enum\";a:4:{i:0;s:1:\"1\";i:1;s:1:\"2\";i:2;s:1:\"3\";i:3;s:1:\"4\";}}s:10:\"chargeYear\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:20;s:11:\"description\";s:58:\"definitions.TermLimitCon.properties.chargeYear.description\";}s:18:\"annuityStartPeriod\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"1\";s:11:\"description\";s:66:\"definitions.TermLimitCon.properties.annuityStartPeriod.description\";}s:16:\"annuityStartYear\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:10;s:11:\"description\";s:64:\"definitions.TermLimitCon.properties.annuityStartYear.description\";}s:16:\"annuityEndPeriod\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"1\";s:11:\"description\";s:64:\"definitions.TermLimitCon.properties.annuityEndPeriod.description\";}s:14:\"annuityEndYear\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:10;s:11:\"description\";s:62:\"definitions.TermLimitCon.properties.annuityEndYear.description\";}s:16:\"annuityPayEnsure\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:5;s:11:\"description\";s:64:\"definitions.TermLimitCon.properties.annuityPayEnsure.description\";}s:9:\"extFields\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:57:\"definitions.TermLimitCon.properties.extFields.description\";}}}s:16:\"ProductLiability\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:7:\"annuity\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:0;s:11:\"description\";s:59:\"definitions.ProductLiability.properties.annuity.description\";}s:22:\"survivalBenefitOptions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:74:\"definitions.ProductLiability.properties.survivalBenefitOptions.description\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"liabilities\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:63:\"definitions.ProductLiability.properties.liabilities.description\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/LiabilityInformation\";}}}}s:19:\"ProductRelationship\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":19:{s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties
[...]
