---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":5:{s:7:\"version\";s:3:\"1.5\";s:5:\"title\";s:20:\"eBaoCloud
  LI OpenAPI\";s:14:\"termsOfService\";s:26:\"http://api.ebaocloud.life/\";s:7:\"contact\";O:8:\"stdClass\":1:{s:5:\"email\";s:24:\"liliang.zhu@ebaotech.com\";}s:11:\"description\";s:4590:\"\u672C\u7BC7\u6587\u6863\u63CF\u8FF0\u4E86eBaoCloud\uFF08\u6613\u4FDD\u4E91\uFF09\u5BFF\u9669\u6240\u63D0\u4F9B\u7684API\uFF08API
  specification\uFF09\u3002\u5982\u679C\u60A8\u60F3\u8FD0\u884C\u548C\u4F7F\u7528\u8FD9\u4E9BAPI\uFF0C\u4F60\u9700\u8981\u9996\u5148\u83B7\u53D6\u4E00\u4E2AeBaoCloud\u7684\u79DF\u6237\u8D26\u53F7\uFF0C\u8BF7\u8054\u7CFBAntang.Du@ebaotech.com\u83B7\u53D6\u8D26\u53F7\u3002\u6211\u4EEC\u4F1A\u63D0\u4F9B\u6C99\u7BB1\u73AF\u5883\u7ED9\u60A8\u3002\n\n#
  \u642D\u5EFA\u65F6\u95F4\nWed Mar 14 2018, 18:44:13 +08:00\n\n# \u7248\u672C\nAPI
  \u7248\u672C| \u65F6\u95F4  |\u8BF4\u660E\n--|---|--\n0.5  | 2017-06-13  | \u521D\u59CB\u516C\u5F00\u7248\u672C\n0.6
  \ | 2017-06-19  | \u6DFB\u52A0\u6587\u6863\u5206\u7C7B\u548CReadme\n0.6.5 | 2017-06-29
  \ | \u8EAB\u4EFD\u9A8C\u8BC1\uFF0Coauth2 \u4F7F\u7528\uFF0C\u4EE5\u53CA\u4E2D\u6587\u7248\u672C\u6587\u6863\n0.8
  \ | 2017-07-07  | oauth2\u4E0A\u7EBF\uFF0C\u751F\u4EA7\u548C\u6C99\u7BB1\n0.8.5
  | 2017-07-31 | \u4EA7\u54C1API\u589E\u5F3A\n0.9 | 2017-08-25 | \u4EA7\u54C1API\u589E\u5F3A\uFF1Alimits\u76F8\u5173APIs
  (\u5E74\u9F84\uFF0C\u4FDD\u8D39\u3001\u4FDD\u989D\uFF0C\u671F\u9650)\n0.9.5 | 2017-09-05
  | \u6295\u4FDD\u5355API\u589E\u5F3A\uFF1A\u7535\u5B50\u4FDD\u5355\u4E0B\u8F7D\n0.9.6
  | 2017-09-13 | \u589E\u52A0\u51E0\u4E2A\u5B57\u6BB5\uFF0C\u9644\u52A0\u4FDD\u8D39\n0.9.7
  | 2017-11-09 | \u53C2\u6570\u987A\u5E8F\u8C03\u6574\uFF0C\u4EA7\u54C1\u65B0\u589E\u529F\u80FD\n0.9.8
  | 2017-11-22 | Mortgage \u4EA7\u54C1\u652F\u6301\n1.0 | 2017-12-19 | \u6B63\u5F0F\u53D1\u5E03\uFF0C\u4EA7\u54C1\u4FE1\u606F\u6A21\u578B\u5C0F\u8C03\u6574\uFF0C\u65B0\u589E\u5B57\u6BB5\n\n#
  API\u4F7F\u7528\u7684\u8EAB\u4EFD\u9A8C\u8BC1\n\n## \u603B\u4F53\u4ECB\u7ECD\n\neBaoCloud
  \u7ED9\u7B2C\u4E09\u65B9\u5E94\u7528\u63D0\u4F9B\u4E86\u8EAB\u4EFD\u9A8C\u8BC1\u7684\u529F\u80FD\uFF0C\u8EAB\u4EFD\u9A8C\u8BC1\u540E\uFF0C\u7B2C\u4E09\u65B9\u5E94\u7528\u5C31\u53EF\u4EE5\u5411eBaoCloud\u53D1\u8D77\u8BF7\u6C42\uFF0C\u5E76\u83B7\u5F97\u6B63\u786E\u7684\u54CD\u5E94\u3002\u6211\u4EEC\u7684\u5B9E\u73B0\u57FA\u4E8E[Client
  Credentials Grant](http://tools.ietf.org/html/rfc6749#section-4.4) \u548C[oauth
  2 specification](http://tools.ietf.org/html/rfc6749)\u7684\u6807\u51C6\n\n## \u9A8C\u8BC1\u6D41\u7A0B\n\n\u6211\u4EEC\u7684\u9A8C\u8BC1\uFF08token\uFF09\u83B7\u53D6\u6D41\u7A0B\u5206\u4E3A\u4E09\u4E2A\u6B65\u9AA4\uFF1A\n\n1.
  \u5E94\u7528\u7684\u540E\u53F0\u7CFB\u7EDF\uFF08\u5DF2\u7ECF\u4F5C\u4E3A\u4E00\u4E2A\u6B63\u5F0F\u79DF\u6237\uFF09\u7EC4\u88C5\u8BA4\u8BC1\u8BF7\u6C42\uFF0C\u540C\u65F6\u5C06\u7528\u6237\u540D\u548C\u9A8C\u8BC1\u7801\u653E\u5728\u8BF7\u6C42\u4E2D\u3002\n2.
  \u540E\u53F0\u5E94\u7528\u53D1\u8D77\u8BA4\u8BC1\u8BF7\u6C42\uFF0C\u6210\u529F\u7684\u8BDD\u62FF\u5230\u4E00\u4E2Atoken
  \uFF08bearer token\uFF09\u3002\n3. \u5728\u540E\u7EED\u8981\u8BBF\u95EE\u7684API\u91CC\u9762\uFF0C\u5728request
  header\u91CC\u9762\u5E26\u4E0A\u8FD9\u4E2Atoken\u5373\u53EF\u3002\n\n![Auth Flow](/assets/oauth.png)\n\n##
  \u8DDF\u6211\u505A\u4E00\u904D\n\n* \u53D1\u9001\u9A8C\u8BC1\u8BF7\u6C42\n\n```js\nPOST:
  /cas/ebao/v1/json/tickets\nBody: {\"username\":\"name\", \"password\":\"pwd\"}\nResponse:
  {\"access_token\": \"xxxx\"}\n```\n\n* \u53D1\u9001API\u8BF7\u6C42\uFF0C\u540C\u65F6\u5728\u8BF7\u6C42header\u91CC\u9762\u5E26\u4E0Atoken\n\n```js\nPOST:
  /rest/products\nHeader: {\n  \"authorization\":\"Bearer \"+access_token,\n  \"X-ebao-tenant-id\":
  \"tenant-id\"\n}\n```\n\n## End Points\n\n#### eBaoCloud \u4E2D\u56FD\n* \u7BA1\u7406\u5165\u53E3:
  https://ebaocloud.com.cn/\n* \u6C99\u7BB1\u73AF\u5883:\n  * auth / token: https://sandbox.ebaocloud.com.cn/cas/ebao/v1/json/tickets\n
  \ * API access: https://sandbox.gw.ebaocloud.com.cn/eBao/1.0/\n* \u751F\u4EA7\u73AF\u5883:\n
  \ * auth / token: https://ebaocloud.com.cn/cas/ebao/v1/json/tickets\n  * API access:
  https://gw.ebaocloud.com.cn/eBao/1.0/\n\n#### eBaoCloud \u65B0\u52A0\u5761\n  *
  \u7BA1\u7406\u5165\u53E3: https://sg.ebaocloud.com/\n  * \u6C99\u7BB1\u73AF\u5883:\n
  \   * auth / token: https://sandbox.sg.ebaocloud.com/cas/ebao/v1/json/tickets\n
  \   * API access: https://sandbox.gw.sg.ebaocloud.com/eBao/1.0/\n  * \u751F\u4EA7\u73AF\u5883:\n
  \   * auth / token: https://sg.ebaocloud.com/cas/ebao/v1/json/tickets\n    * API
  access: https://gw.sg.ebaocloud.com/eBao/1.0/\n\n#### eBaoCloud \u65AF\u91CC\u5170\u5361\n
  \ * \u7BA1\u7406\u5165\u53E3: https://lk.ebaocloud.com/\n  * \u6C99\u7BB1\u73AF\u5883:\n
  \   * auth / token: https://sandbox.lk.ebaocloud.com/cas/ebao/v1/json/tickets\n
  \   * API access: https://sandbox.gw.lk.ebaocloud.com/eBao/1.0/\n  * \u751F\u4EA7\u73AF\u5883:\n
  \   * auth / token: https://lk.ebaocloud.com/cas/ebao/v1/json/tickets\n    * API
  access: https://gw.lk.ebaocloud.com/eBao/1.0/\n\n\n## \u5B9E\u4F8B\n\n#### \u5E94\u7528\u7684\u9A8C\u8BC1\u8BF7\u6C42\n\n```bash\ncurl
  --request POST \\\n  --url https://url/cas/ebao/v1/json/tickets \\\n  --header 'content-type:
  application/json' \\\n  --header 'X-ebao-tenant-id: tenant-id' \\\n  --data '{\\n
  \\n \"username\":\"site.admin\",\\n \"password\":\"adminPWD!\"\\n}'\n```\n\n\u6CE8\u610F\uFF1A\n.
  \ **X-ebao-tenant-id** \u662F\u4E00\u4E2A\u552F\u4E00\u7684\u79DF\u6237ID\uFF0C\u6240\u6709\u79DF\u6237\u90FD\u53EF\u4EE5\u62FF\u5230\u4E00\u4E2A\u552F\u4E00ID\u3002\n.
  \ **username** \u548C **password** \u7531eBaoCloud\u63D0\u4F9B\u7ED9\u6BCF\u4E2A\u79DF\u6237\n\n\n####
  API Gateway\u7684\u54CD\u5E94\n\n* \u6210\u529F\n\n```js\n{\n\"access_token\" :
  \"TGT-233-e7Zuc5FlSAa0SShO3B1f2iugYzRQGQrSSoGwAi0VnWbnBNDwHg\"\n}\n```\n\n* \u5931\u8D25\n\n```js\n{\n\"access_token\"
  : null\n}\n```\n\n#### \u8C03\u7528App\uFF08Java\u4EE3\u7801\u6837\u4F8B\uFF09\n\n```java\nHttpResponse<String>
  response = Unirest.post(url) // url\uFF1Athe UAT/product URL\n  .header(\"content-type\",
  \"application/json\") // application/json\n  .header(\"authorization\", \"Bearer
  \" + accessToken) // oauth2 access token\uFF1Athe accessToken\n  .header(\"X-ebao-tenant-id\",
  \"tenant-id\")\n  .body(body) // body: http body\n  .asString();\n```\n\n## \u5176\u4ED6\n\n###
  Token\u548Cpassword\u4E00\u6837\u91CD\u8981\n\n\u5FC5\u987B\u7262\u8BB0\uFF0Ctoken\u548Cpassword\u4E00\u6837\u91CD\u8981\uFF0C\u867D\u7136\u6BCF\u4E2Atoken\u53EA\u6709\u6709\u9650\u7684\u4F7F\u7528\u671F\u95F4\uFF0C\u4F46\u62FF\u5230token\u5C31\u610F\u5473\u7740\u83B7\u53D6\u8BBF\u95EEeBaoCloud\n\u7684\u6743\u9650\u3002\u7EDD\u5BF9\u4E0D\u53EF\u4EE5\u6CC4\u9732\u6216\u8005\u5206\u4EABtoken\u7ED9\u5176\u4ED6\u4EBA\u548C\u5E94\u7528\u3002\n\n###
  SSL\n\n\u6240\u6709\u8BF7\u6C42\u90FD**\u5FC5\u987B**\u4F7F\u7528HTTPS\u3002\n\";}"
host: sandbox.gw.ebaocloud.com.cn
basePath: /eBao/1.0/
paths:
  /pd/packages:
    get:
      tags:
      - Product
      summary: u83b7u53d6u7ec4u5408u5217u8868
      description: u6839u636eu6761u4ef6u83b7u53d6u7ec4u5408u5217u8868uff0cu7ec4u5408u5217u8868u5305u542bu7ec4u5408u57fau672cu4fe1u606f
      operationId: findPackagesUsingGET
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: date
        in: query
        description: u65e5u671fuff0cu5728u6b64u65e5u671fu5728u552eu7684u4ea7u54c1,u683cu5f0f(YYYY-MM-DD)
        required: false
        type: string
      - name: salesCategory
        in: query
        description: u4ea7u54c1u9500u552eu5927u7c7buff0cu53efu4ee5u591au4e2auff0cu5982u679cu591au4e2au4ee5u9017u53f7uff08uff0cuff09u5206u9694
        required: false
        type: string
      - name: insurerIds
        in: query
        description: u4fddu9669u516cu53f8u5217u8868uff0cu53efu4ee5u591au4e2auff0cu5982u679cu591au4e2au4ee5u9017u53f7uff08uff0cuff09u5206u9694
        required: false
        type: string
      - name: X-ebao-tenant-id
        in: header
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/PackagesResponse'
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
        500:
          description: Internal Server Error
  /pd/packages/{packageCode}:
    get:
      tags:
      - Product
      summary: u83b7u53d6u67d0u4e00u7ec4u5408u4fe1u606f
      description: u6839u636eu7ec4u5408u4ee3u7801uff0cu83b7u53d6u67d0u4e00u4ea7u54c1u7684u8be6u7ec6u4fe1u606f
      operationId: findProductPackageUsingGET
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: packageCode
        in: path
        description: u7ec4u5408u4ee3u7801
        required: true
        type: string
      - name: X-ebao-tenant-id
        in: header
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/PackageResponse'
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
        500:
          description: Internal Server Error
  /pd/products:
    get:
      tags:
      - Product
      summary: u83b7u53d6u4ea7u54c1u5217u8868
      description: u6839u636eu6761u4ef6u83b7u53d6u4ea7u54c1u5217u8868uff0cu4ea7u54c1u5217u8868u5305u542bu4ea7u54c1u57fau672cu4fe1u606f
      operationId: findProductsUsingGET
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: date
        in: query
        description: u65e5u671fuff0cu5728u6b64u65e5u671fu5728u552eu7684u4ea7u54c1,u683cu5f0f(YYYY-MM-DD)
        required: false
        type: string
      - name: salesCategory
        in: query
        description: u4ea7u54c1u9500u552eu5927u7c7buff0cu53efu4ee5u591au4e2auff0cu5982u679cu591au4e2au4ee5u9017u53f7uff08uff0cuff09u5206u9694
        required: false
        type: string
      - name: insurerCodes
        in: query
        description: u4fddu9669u516cu53f8u5217u8868uff0cu53efu4ee5u591au4e2auff0cu5982u679cu591au4e2au4ee5u9017u53f7uff08uff0cuff09u5206u9694
        required: false
        type: string
      - name: isMainProduct
        in: query
        description: u662fu5426u662fu4e3bu9669
        required: false
        type: string
      - name: X-ebao-tenant-id
        in: header
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ProductsResponse'
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
        500:
          description: Internal Server Error
  /pd/products/benefitIllustration:
    post:
      tags:
      - Product
      summary: u5229u76cau5c55u793a
      description: u4ea7u54c1u5229u76cau5c55u793a
      operationId: illustrateCalculationUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: illustrationRequest
        description: u5229u76cau6f14u793au8ba1u7b97u6570u636e
        required: true
        schema:
          $ref: '#/definitions/IllustrationRequest'
      - name: X-ebao-tenant-id
        in: header
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/IllustrationResponse'
        201:
          description: Created
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
        500:
          description: Internal Server Error
  /pd/products/benefitPremiumSA:
    post:
      tags:
      - Product
      summary: u8ba1u7b97u4fddu8d39u6216u4fddu989d
      description: u6839u636eu4fddu8d39u7b97u4fddu989du6216u6839u636eu4fddu989du7b97u4fddu8d39
      operationId: benefitPremiumSAUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: calculateRequest
        description: u4fddu8d39u4fddu989du8ba1u7b97u6570u636e
        required: true
        schema:
          $ref: '#/definitions/CalculatePremSARequest'
      - name: X-ebao-tenant-id
        in: header
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/CalculatePremSAResponse'
        201:
          description: Created
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
        500:
          description: Internal Server Error
  /pd/products/limits/SA:
    post:
      tags:
      - Product
      summary: u83b7u53d6u4fddu989du9650u989d
      description: u6839u636eu4e00u5b9au6761u4ef6uff0cu83b7u53d6u67d0u4e00u4ea7u54c1u7684u4fddu989du9650u989d
      operationId: getSALimitByConUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: saLimitCon
        description: u4fddu989du9650u989du67e5u8be2u6761u4ef6
        required: true
        schema:
          $ref: '#/definitions/SaLimitCon'
      - name: X-ebao-tenant-id
        in: header
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ProductSumAssuredResponse'
        201:
          description: Created
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
        500:
          description: Internal Server Error
  /pd/products/limits/age:
    post:
      tags:
      - Product
      summary: u83b7u53d6u5e74u9f84u9650u989d
      description: u6839u636eu4e00u5b9au6761u4ef6uff0cu83b7u53d6u67d0u4e00u4ea7u54c1u7684u5e74u9f84u9650u989d
      operationId: getAgeLimitByConUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: ageLimitCon
        description: u5e74u9f84u9650u989du67e5u8be2u6761u4ef6
        required: true
        schema:
          $ref: '#/definitions/AgeLimitCon'
      - name: X-ebao-tenant-id
        in: header
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ProductAgeResponse'
        201:
          description: Created
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
        500:
          description: Internal Server Error
  /pd/products/limits/premium:
    post:
      tags:
      - Product
      summary: u83b7u53d6u4fddu8d39u9650u989d
      description: u6839u636eu4e00u5b9au6761u4ef6uff0cu83b7u53d6u67d0u4e00u4ea7u54c1u7684u4fddu8d39u9650u989d
      operationId: getPremiumLimitByConUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: premiumLimitCon
        description: u4fddu8d39u9650u989du67e5u8be2u6761u4ef6
        required: true
        schema:
          $ref: '#/definitions/PremiumLimitCon'
      - name: X-ebao-tenant-id
        in: header
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ProductPremiumResponse'
        201:
          description: Created
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
        500:
          description: Internal Server Error
  /pd/products/limits/term:
    post:
      tags:
      - Product
      summary: u83b7u53d6u5e74u9650u9650u989d
      description: u6839u636eu4e00u5b9au6761u4ef6uff0cu83b7u53d6u67d0u4e00u4ea7u54c1u7684u5e74u9650u9650u989d
      operationId: getTermLimitByConUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: termLimitCon
        description: u5e74u9650u9650u989du67e5u8be2u6761u4ef6
        required: true
        schema:
          $ref: '#/definitions/TermLimitCon'
      - name: X-ebao-tenant-id
        in: header
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ProductTermResponse'
        201:
          description: Created
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
        500:
          description: Internal Server Error
  /pd/products/ratingParameters:
    get:
      tags:
      - Product
      summary: u83b7u53d6u4ea7u54c1u76f8u5173u6027
      description: u83b7u53d6u4ea7u54c1u76f8u5173u6027
      operationId: getRatingParametersUsingGET
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: productCode
        in: query
        description: u4ea7u54c1u4ee3u7801
        required: true
        type: string
      - name: ratingParameterType
        in: query
        description: u76f8u5173u53c2u6570u7c7bu578b,1:u4fddu8d39u8ba1u7b97u76f8u5173u6027
        required: true
        type: integer
        format: int32
      - name: X-ebao-tenant-id
        in: header
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ProductRatingParametersResponse'
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
        500:
          description: Internal Server Error
  /pd/products/salesCategory:
    get:
      tags:
      - Product
      summary: u83b7u53d6u67d0u79dfu6237u9500u552eu4ea7u54c1u5927u7c7b
      description: u83b7u53d6u67d0u79dfu6237u6240u6709u9500u552eu4ea7u54c1u5927u7c7b
      operationId: findSalesCategoryUsingGET
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: X-ebao-tenant-id
        in: header
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/SalesCategoryResponse'
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
        500:
          description: Internal Server Error
  /pd/products/salesCategory/{productCode}:
    get:
      tags:
      - Product
      summary: u83b7u53d6u67d0u79dfu6237u67d0u4e2au9500u552eu4ea7u54c1u7684u4ea7u54c1u5927u7c7b
      description: u83b7u53d6u67d0u79dfu6237u67d0u4e2au9500u552eu4ea7u54c1u7684u4ea7u54c1u5927u7c7b
      operationId: findProductSalesCategoryUsingGET
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: productCode
        in: path
        description: u4ea7u54c1u4ee3u7801
        required: true
        type: string
      - name: X-ebao-tenant-id
        in: header
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/SalesCategoryResponse'
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
        500:
          description: Internal Server Error
  /pd/products/{productCode}:
    get:
      tags:
      - Product
      summary: u83b7u53d6u67d0u4e00u4ea7u54c1u4fe1u606f
      description: u6839u636eu4ea7u54c1u4ee3u7801uff0cu83b7u53d6u67d0u4e00u4ea7u54c1u7684u8be6u7ec6u4fe1u606f
      operationId: findProductUsingGET
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: productCode
        in: path
        description: u4ea7u54c1u4ee3u7801
        required: true
        type: string
      - name: X-ebao-tenant-id
        in: header
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ProductResponse'
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
        500:
          description: Internal Server Error
  /proposal/proposals/application:
    post:
      tags:
      - Proposal
      summary: u6295u4fdd
      description: u8ba1u7b97u4fddu8d39u5e76u6821u9a8cu6295u6838u4fddu89c4u5219uff0cu5982u679cu901au8fc7uff0cu5219u751fu6210u6295u4fddu5355u53f7
      operationId: applyUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: request
        description: Request
        required: true
        schema:
          $ref: '#/definitions/ApplicationRequest'
      - name: X-ebao-tenant-id
        in: header
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ApplicationResponse'
        201:
          description: Created
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
        500:
          description: Internal Server Error
  /proposal/proposals/epolicy/{proposalNumber}:
    get:
      tags:
      - Proposal
      summary: u83b7u53d6u7535u5b50u4fddu5355u4e0bu8f7du5730u5740
      description: u627fu4fddu540eu6839u636eu6295u4fddu5355u53f7u83b7u53d6u7535u5b50u4fddu5355u4e0bu8f7du5730u5740
      operationId: getEPolicyDownloadUrlUsingGET
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: proposalNumber
        in: path
        description: u6295u4fddu5355u53f7u7801
        required: true
        type: string
      - name: X-ebao-tenant-id
        in: header
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/EPolicyResponse'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /proposal/proposals/issurance:
    post:
      tags:
      - Proposal
      summary: u6536u8d39u627fu4fdd
      description: u6295u6838u4fddu540eu6536u8d39u627fu4fdd
      operationId: issueUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: request
        description: Request
        required: true
        schema:
          $ref: '#/definitions/IssuranceRequest'
      - name: X-ebao-tenant-id
        in: header
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/IssuranceResponse'
        201:
          description: Created
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
        500:
          description: Internal Server Error
  /proposal/proposals/pre-verification:
    post:
      tags:
      - Proposal
      summary: u6295u4fddu9884u68c0
      description: u8ba1u7b97u4fddu8d39u5e76u6821u9a8cu6295u4fddu98ceu9669
      operationId: quoteUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: request
        description: Request
        required: true
        schema:
          $ref: '#/definitions/QuotationRequest'
      - name: X-ebao-tenant-id
        in: header
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/QuotationResponse'
        201:
          description: Created
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
        500:
          description: Internal Server Error
  /policy/policy-alterations/{insurerCode}/changeContactInfo:
    post:
      tags:
      - ChangeContactInfo
      summary: paths['/policy/policy-alterations/{insurerCode}/changeContactInfo'].post.summary
      description: paths['/policy/policy-alterations/{insurerCode}/changeContactInfo'].post.description
      operationId: inforceUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: insurerCode
        in: path
        description: paths['/policy/policy-alterations/{insurerCode}/changeContactInfo'].post.parameters['0'].description
        required: true
        type: string
      - in: body
        name: request
        description: paths['/policy/policy-alterations/{insurerCode}/changeContactInfo'].post.parameters['1'].description
        required: true
        schema:
          $ref: '#/definitions/ChangingContactInfoRequest'
      - name: X-ebao-tenant-id
        in: header
        required: true
        type: string
      responses:
        200:
          description: paths['/policy/policy-alterations/{insurerCode}/changeContactInfo'].post.responses['200'].description
          schema:
            $ref: '#/definitions/ChangingContactInfoResponse'
        201:
          description: paths['/policy/policy-alterations/{insurerCode}/changeContactInfo'].post.responses['201'].description
        400:
          description: paths['/policy/policy-alterations/{insurerCode}/changeContactInfo'].post.responses['400'].description
        401:
          description: paths['/policy/policy-alterations/{insurerCode}/changeContactInfo'].post.responses['401'].description
        403:
          description: paths['/policy/policy-alterations/{insurerCode}/changeContactInfo'].post.responses['403'].description
        404:
          description: paths['/policy/policy-alterations/{insurerCode}/changeContactInfo'].post.responses['404'].description
        500:
          description: paths['/policy/policy-alterations/{insurerCode}/changeContactInfo'].post.responses['500'].description
  /policy/policy-alterations/{insurerCode}/freelook:
    post:
      tags:
      - Freelook
      summary: paths['/policy/policy-alterations/{insurerCode}/freelook'].post.summary
      description: paths['/policy/policy-alterations/{insurerCode}/freelook'].post.description
      operationId: inforceUsingPOST_1
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: insurerCode
        in: path
        description: paths['/policy/policy-alterations/{insurerCode}/freelook'].post.parameters['0'].description
        required: true
        type: string
      - in: body
        name: request
        description: paths['/policy/policy-alterations/{insurerCode}/freelook'].post.parameters['1'].description
        required: true
        schema:
          $ref: '#/definitions/FreelookRequest'
      - name: X-ebao-tenant-id
        in: header
        required: true
        type: string
      responses:
        200:
          description: paths['/policy/policy-alterations/{insurerCode}/freelook'].post.responses['200'].description
          schema:
            $ref: '#/definitions/FreelookResponse'
        201:
          description: paths['/policy/policy-alterations/{insurerCode}/freelook'].post.responses['201'].description
        400:
          description: paths['/policy/policy-alterations/{insurerCode}/freelook'].post.responses['400'].description
        401:
          description: paths['/policy/policy-alterations/{insurerCode}/freelook'].post.responses['401'].description
        403:
          description: paths['/policy/policy-alterations/{insurerCode}/freelook'].post.responses['403'].description
        404:
          description: paths['/policy/policy-alterations/{insurerCode}/freelook'].post.responses['404'].description
        500:
          description: paths['/policy/policy-alterations/{insurerCode}/freelook'].post.responses['500'].description
  /policy/policy-alterations/{insurerCode}/freelook/quotations:
    post:
      tags:
      - Freelook
      summary: paths['/policy/policy-alterations/{insurerCode}/freelook/quotations'].post.summary
      description: paths['/policy/policy-alterations/{insurerCode}/freelook/quotations'].post.description
      operationId: quoteUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: insurerCode
        in: path
        description: paths['/policy/policy-alterations/{insurerCode}/freelook/quotations'].post.parameters['0'].description
        required: true
        type: string
      - in: body
        name: request
        description: paths['/policy/policy-alterations/{insurerCode}/freelook/quotations'].post.parameters['1'].description
        required: true
        schema:
          $ref: '#/definitions/FreelookQuotationRequest'
      - name: X-ebao-tenant-id
        in: header
        required: true
        type: string
      responses:
        200:
          description: paths['/policy/policy-alterations/{insurerCode}/freelook/quotations'].post.responses['200'].description
          schema:
            $ref: '#/definitions/FreelookQuotationResponse'
        201:
          description: paths['/policy/policy-alterations/{insurerCode}/freelook/quotations'].post.responses['201'].description
        400:
          description: paths['/policy/policy-alterations/{insurerCode}/freelook/quotations'].post.responses['400'].description
        401:
          description: paths['/policy/policy-alterations/{insurerCode}/freelook/quotations'].post.responses['401'].description
        403:
          description: paths['/policy/policy-alterations/{insurerCode}/freelook/quotations'].post.responses['403'].description
        404:
          description: paths['/policy/policy-alterations/{insurerCode}/freelook/quotations'].post.responses['404'].description
        500:
          description: paths['/policy/policy-alterations/{insurerCode}/freelook/quotations'].post.responses['500'].description
produces: []
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":138:{s:21:\"SalesCategoryResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:15:\"clientRequestId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"\u5916\u90E8\u4EA4\u6613\u6D41\u6C34\u53F7\";}s:17:\"clientRequestTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:18:\"\u5916\u90E8\u8BF7\u6C42\u65F6\u95F4\";}s:6:\"result\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:76:\"\u8BF7\u6C42\u7ED3\u679C\uFF0C<br>1
  - \u4E1A\u52A1\u6210\u529F<br>0 - \u4E1A\u52A1\u5931\u8D25<br>-1 - \u7A0B\u5E8F\u5F02\u5E38\";}s:8:\"messages\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:36:\"\u4E1A\u52A1\u5931\u8D25\u539F\u56E0\u63CF\u8FF0\u5217\u8868\u8282\u70B9\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/GenericValidationResult\";}}s:10:\"exceptions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:12:\"\u5F02\u5E38\u4FE1\u606F\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:17:\"listSalesCategory\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:18:\"\u4EA7\u54C1\u9500\u552E\u5927\u7C7B\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/ProductSalesCategory\";}}}}s:25:\"ProductSumAssuredResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:15:\"clientRequestId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"\u5916\u90E8\u4EA4\u6613\u6D41\u6C34\u53F7\";}s:17:\"clientRequestTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:18:\"\u5916\u90E8\u8BF7\u6C42\u65F6\u95F4\";}s:6:\"result\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:76:\"\u8BF7\u6C42\u7ED3\u679C\uFF0C<br>1
  - \u4E1A\u52A1\u6210\u529F<br>0 - \u4E1A\u52A1\u5931\u8D25<br>-1 - \u7A0B\u5E8F\u5F02\u5E38\";}s:10:\"exceptions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:12:\"\u5F02\u5E38\u4FE1\u606F\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"productCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"\u4EA7\u54C1\u4EE3\u7801\";}s:17:\"productSumAssured\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"\u4FDD\u989D\u9650\u989D\u7ED3\u679C\";s:4:\"$ref\";s:31:\"#/definitions/ProductSumAssured\";}}}s:16:\"CalculateInsured\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:6:\"gender\";i:1;s:7:\"orderId\";}s:10:\"properties\";O:8:\"stdClass\":10:{s:3:\"age\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:17;s:11:\"description\";s:126:\"\u88AB\u4FDD\u4EBA\u6295\u4FDD\u65E5\u65F6\u7684\u5E74\u9F84\uFF0C\u5E74\u9F84\u751F\u65E5\u5FC5\u987B\u8F93\u5165\u4E00\u4E2A\uFF0C\u65E2\u6709\u5E74\u9F84\u53C8\u6709\u751F\u65E5\uFF0C\u4EE5\u751F\u65E5\u4E3A\u51C6\u91CD\u65B0\u8BA1\u7B97\u5E74\u9F84\";}s:6:\"gender\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"M\";s:11:\"description\";s:43:\"\u88AB\u4FDD\u4EBA\u6027\u522B<br>M
  - \u7537\u6027<br>F - \u5973\u6027\";s:4:\"enum\";a:2:{i:0;s:1:\"M\";i:1;s:1:\"F\";}}s:9:\"birthdate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:10:\"1999-10-16\";s:11:\"description\";s:36:\"\u88AB\u4FDD\u4EBA\u751F\u65E5\uFF0C\u683C\u5F0F(YYYY-MM-DD)\";}s:7:\"smoking\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"Y\";s:11:\"description\";s:86:\"\u662F\u5426\u62BD\u70DF<br>Y
  - \u62BD\u70DF<br>N - \u4E0D\u62BD\u70DF<br>\u5982\u679C\u6CA1\u6709\u8F93\u5165\uFF0C\u9ED8\u8BA4\u4E3A\u4E0D\u62BD\u70DF\";s:4:\"enum\";a:2:{i:0;s:1:\"Y\";i:1;s:1:\"N\";}}s:14:\"occupationCode\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:10001;s:11:\"description\";s:105:\"\u804C\u4E1A\u7C7B\u522B\uFF0C\u6B64\u9879\u7531\u4FDD\u9669\u516C\u53F8\u63D0\u4F9B\u5217\u8868\uFF0C\u5728\u67D0\u4E9B\u8DDF\u804C\u4E1A\u6709\u5173\u7684\u4EA7\u54C1\u4E0B\uFF0C\u6B64\u9879\u5FC5\u8F93\u5165\";}s:15:\"occupationClass\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:1;s:11:\"description\";s:105:\"\u804C\u4E1A\u7B49\u7EA7\uFF0C\u6B64\u9879\u7531\u4FDD\u9669\u516C\u53F8\u63D0\u4F9B\u5217\u8868\uFF0C\u5728\u67D0\u4E9B\u8DDF\u804C\u4E1A\u7B49\u7EA7\u7684\u4EA7\u54C1\u4E0B\uFF0C\u6B64\u9879\u5FC5\u8F93\u5165\";}s:11:\"medicalIndi\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"Y\";s:11:\"description\";s:15:\"\u662F\u5426\u6709\u533B\u4FDD\";s:4:\"enum\";a:2:{i:0;s:1:\"Y\";i:1;s:1:\"N\";}}s:18:\"socialSecurityIndi\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"Y\";s:11:\"description\";s:15:\"\u662F\u5426\u6709\u793E\u4FDD\";s:4:\"enum\";a:2:{i:0;s:1:\"Y\";i:1;s:1:\"N\";}}s:7:\"orderId\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:1;s:11:\"description\";s:119:\"\u88AB\u4FDD\u4EBA\u987A\u5E8F,\u5728\u591A\u4E2A\u88AB\u4FDD\u4EBA\u65F6\u7528\u6765\u8868\u793A\u7B2C\u4E00\uFF0C\u7B2C\u4E8C\u88AB\u4FDD\u4EBA\uFF0C\u5728\u53EA\u6709\u4E00\u4E2A\u88AB\u4FDD\u4EBA\u60C5\u51B5\u4E0B\u5FC5\u987B\u4E3A1\";}s:9:\"extFields\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:12:\"\u6269\u5C55\u5B57\u6BB5\";}}}s:13:\"CalculateFund\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:10:\"assignRate\";i:1;s:8:\"fundCode\";i:2;s:8:\"premType\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"fundCode\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"F001\";s:11:\"description\";s:12:\"\u57FA\u91D1\u4EE3\u7801\";}s:10:\"assignRate\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:7:\"example\";i:1;s:11:\"description\";s:12:\"\u5206\u914D\u6BD4\u4F8B\";}s:8:\"premType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:53:\"2:
  regular premium; 3: regular topup; 4: ad-hoc topup\";s:11:\"description\";s:12:\"\u8D39\u7528\u7C7B\u522B\";}s:9:\"extFields\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:12:\"\u6269\u5C55\u5B57\u6BB5\";}}}s:18:\"ProductPackageInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":24:{s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"packageCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"\u7EC4\u5408\u4EE3\u7801\";}s:11:\"packageName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"\u7EC4\u5408\u540D\u79F0\";}s:7:\"moneyId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:7:\"\u5E01\u79CDs\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"\u7EC4\u5408\u63CF\u8FF0\";}s:13:\"specialClause\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"\u7EC4\u5408\u7279\u6B8A\u6761\u6B3E\";}s:13:\"pricingMethod\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:417:\"\u4FDD\u8D39\u4FDD\u989D\u8BA1\u7B97\u65B9\u6CD5<br>0
  - \u4FDD\u8D39\u4FDD\u989D\u7531\u7528\u6237\u8F93\u5165<br>1 - \u4EA7\u54C1\u6309\u5355\u4F4D\u552E\u5356<br>2
  - \u6839\u636E\u4FDD\u989D\u7B97\u4FDD\u8D39\uFF0C\u4F46\u662F\u4E5F\u5141\u8BB8\u534F\u8BAE\u4FDD\u8D39<br>3
  - \u4EA7\u54C1\u6839\u636E\u8BA1\u5212\u6216\u5355\u4F4D\u552E\u5356<br>4 - \u4EA7\u54C1\u53EA\u5141\u8BB8\u6309\u8BA1\u5212\u552E\u5356<br>5
  - \u6839\u636E\u4FDD\u8D39\u7B97\u4FDD\u989D\uFF0C\u4F46\u662F\u4E5F\u5141\u8BB8\u534F\u8BAE\u4FDD\u8D39<br>6
  - \u53EA\u5141\u8BB8\u4FDD\u989D\u7B97\u4FDD\u8D39\u4F46\u662F\u4E5F\u5141\u8BB8\u534F\u8BAE\u4FDD\u8D39<br>7
  - \u53EA\u5141\u8BB8\u4FDD\u8D39\u7B97\u4FDD\u989D<br>8 - \u4FDD\u8D39\u7B97\u4FDD\u989D\u6216\u4FDD\u989D\u7B97\u4FDD\u8D39\";}s:11:\"unitPremium\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:12:\"\u5355\u4F4D\u4FDD\u8D39\";}s:10:\"unitAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:12:\"\u5355\u4F4D\u4FDD\u989D\";}s:9:\"minAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:12:\"\u6700\u5C0F\u4FDD\u989D\";}s:9:\"maxAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:12:\"\u6700\u5927\u4FDD\u989D\";}s:10:\"baseAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:12:\"\u57FA\u672C\u4FDD\u989D\";}s:10:\"minPremium\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:12:\"\u6700\u5C0F\u4FDD\u8D39\";}s:10:\"maxPremium\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:12:\"\u6700\u5927\u4FDD\u8D39\";}s:10:\"minAgeUnit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"\u6700\u5C0F\u5E74\u9F84\u5355\u4F4D\";}s:6:\"minAge\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:12:\"\u6700\u5C0F\u5E74\u9F84\";}s:10:\"maxAgeUnit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"\u6700\u5927\u5E74\u9F84\u5355\u4F4D\";}s:6:\"maxAge\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:12:\"\u6700\u5927\u5E74\u9F84\";}s:8:\"minPhAge\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:21:\"\u6700\u5C0F\u6295\u4FDD\u4EBA\u5E74\u9F84\";}s:8:\"maxPhAge\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:21:\"\u6700\u5927\u6295\u4FDD\u4EBA\u5E74\u9F84\";}s:15:\"productPkgTerms\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:18:\"\u57FA\u672C\u671F\u9650\u9650\u5236\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ProductPackageTerm\";}}s:9:\"packageId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:8:\"\u7EC4\u5408Id\";}s:18:\"productPkgProducts\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:18:\"\u57FA\u672C\u4EA7\u54C1\u5217\u8868\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ProductPkgProduct\";}}s:24:\"productPkgProductMatrixs\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:24:\"\u57FA\u672C\u4EA7\u54C1\u7EC4\u5408\u5173\u7CFB\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/ProductPkgProductMatrix\";}}}}s:19:\"ProductTermResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:15:\"clientRequestId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"\u5916\u90E8\u4EA4\u6613\u6D41\u6C34\u53F7\";}s:17:\"clientRequestTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:18:\"\u5916\u90E8\u8BF7\u6C42\u65F6\u95F4\";}s:6:\"result\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:76:\"\u8BF7\u6C42\u7ED3\u679C\uFF0C<br>1
  - \u4E1A\u52A1\u6210\u529F<br>0 - \u4E1A\u52A1\u5931\u8D25<br>-1 - \u7A0B\u5E8F\u5F02\u5E38\";}s:10:\"exceptions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:12:\"\u5F02\u5E38\u4FE1\u606F\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"productCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"\u4EA7\u54C1\u4EE3\u7801\";}s:11:\"productTerm\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"\u671F\u9650\u9650\u989D\u7ED3\u679C\";s:4:\"$ref\";s:25:\"#/definitions/ProductTerm\";}}}s:16:\"CalculatePremium\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:11:\"paymentFreq\";}s:10:\"properties\";O:8:\"stdClass\":6:{s:10:\"sumAssured\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:7:\"example\";i:1000000;s:11:\"description\";s:45:\"\u4FDD\u989D\uFF0C\u8F93\u5165\u6B64\u9879\u4E3A\u6839\u636E\u4FDD\u989D\u7B97\u4FDD\u8D39\";}s:7:\"premium\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:7:\"example\";i:2000;s:11:\"description\";s:45:\"\u4FDD\u8D39\uFF0C\u8F93\u5165\u6B64\u9879\u4E3A\u6839\u636E\u4FDD\u8D39\u7B97\u4FDD\u989D\";}s:4:\"unit\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:1;s:11:\"description\";s:60:\"\u8D2D\u4E70\u5355\u4F4D\uFF0C\u6B64\u9879\u53EA\u5BF9\u6309\u5355\u4F4D\u552E\u5356\u7684\u4EA7\u54C1\u6709\u610F\u4E49\";}s:12:\"benefitLevel\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"1\";s:11:\"description\";s:54:\"\u6863\u6B21\uFF0C\u6B64\u9879\u53EA\u5BF9\u6309\u6863\u6B21\u552E\u5356\u7684\u4EA7\u54C1\u6709\u610F\u4E49\";}s:11:\"paymentFreq\";O:8:\"stdClass\":5:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:1;s:11:\"description\";s:85:\"\u7F34\u8D39\u9891\u7387<br>1
  - \u5E74\u7F34<br>2 - \u534A\u5E74\u7F34<br>3 - \u5B63\u7F34<br>4 - \u6708\u7F34<br>5
  - \u8DB8\u7F34\";s:4:\"enum\";a:5:{i:0;i:1;i:1;i:2;i:2;i:3;i:3;i:4;i:4;i:5;}}s:9:\"extFields\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:12:\"\u6269\u5C55\u5B57\u6BB5\";}}}s:23:\"ProductFundPremiumLimit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"fundCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"\u57FA\u91D1\u4EE3\u7801\";}s:13:\"paymentMethod\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:30:\"\u9650\u989D\u76F8\u5173\u6027\uFF0C\u652F\u4ED8\u65B9\u5F0F\";}s:17:\"minAdhocTopupPrem\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:27:\"\u6295\u8D44\u9669\u6700\u5C0F\u52A0\u8D39\u91D1\u989D\";}s:18:\"minRegulaTopupPrem\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:30:\"\u6295\u8D44\u9669\u6700\u5C0F\u671F\u7F34\u8D39\u91D1\u989D\";}s:16:\"paymentFrequency\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"\u9650\u989D\u76F8\u5173\u6027\uFF0C\u7F34\u8D39\u9891\u7387\";}s:14:\"minInitialPrem\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:18:\"\u6700\u5C0F\u521D\u59CB\u4FDD\u8D39\";}s:14:\"maxInitialPrem\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:18:\"\u6700\u5927\u521D\u59CB\u4FDD\u8D39\";}}}s:8:\"AgeLimit\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:14:\"coveragePeriod\";}s:10:\"properties\";O:8:\"stdClass\":24:{s:12:\"benefitLevel\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"\u5E74\u9F84\u9650\u989D\u76F8\u5173\u6027\uFF0C\u6863\u6B21\";}s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:10:\"minAgeUnit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"\u5E74\u9F84\u5355\u4F4D<br>1
  - \u5C81<br>5 - \u5929<br>4 - \u6708\";}s:6:\"minAge\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:21:\"\u5141\u8BB8\u7684\u6700\u5C0F\u5E74\u9F84\";}s:10:\"maxAgeUnit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"\u5E74\u9F84\u5355\u4F4D<br>1
  - \u5C81<br>5 - \u5929<br>4 - \u6708\";}s:6:\"maxAge\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:21:\"\u5141\u8BB8\u7684\u6700\u5927\u5E74\u9F84\";}s:12:\"chargePeriod\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"2\";s:11:\"description\";s:145:\"\u7F34\u8D39\u671F\u9650\u7C7B\u578B\uFF08
  1:\u8DB8\u4EA4     2:\u7F34\u51E0\u5E74   3:\u7F34\u81F3\u67D0\u5E74\u9F84   4:\u7F34\u7EC8\u8EAB\uFF09,\u5728\u4EA7\u54C1\u5141\u8BB8\u591A\u79CD\u7F34\u8D39\u671F\u9650\u7C7B\u578B\u60C5\u51B5\u4E0B,\u6B64\u9879\u5FC5\u586B\";s:4:\"enum\";a:4:{i:0;s:1:\"1\";i:1;s:1:\"2\";i:2;s:1:\"3\";i:3;s:1:\"4\";}}s:10:\"chargeYear\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:5;s:11:\"description\";s:261:\"\u7F34\u8D39\u65F6\u957F\uFF08\u7F34\u8D39\u671F\u9650\u7C7B\u578B\u4E3A
  1\u7684\u60C5\u51B5\u4E0B\uFF0C\u6B64\u5B57\u6BB5\u65E0\u610F\u4E49\uFF1B     \u7F34\u8D39\u671F\u9650\u7C7B\u578B\u4E3A2\u7684\u60C5\u51B5\u4E0B\uFF0C\u6B64\u5B57\u6BB5\u4E3A\u51E0\u5E74;
  \  \u7F34\u8D39\u671F\u9650\u7C7B\u578B\u4E3A3\u7684\u60C5\u51B5\u4E0B\uFF0C\u6B64\u5B57\u6BB5\u4E3A\u67D0\u4E00\u5E74\u9F84;
  \ \u7F34\u8D39\u671F\u9650\u7C7B\u578B\u4E3A 4\u7684\u60C5\u51B5\u4E0B\uFF0C\u6B64\u5B57\u6BB5\u65E0\u610F\u4E49\uFF09\";}s:14:\"coveragePeriod\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"2\";s:11:\"description\";s:152:\"\u4FDD\u969C\u671F\u9650\u7C7B\u578B\uFF08
  1:\u4FDD\u7EC8\u8EAB     2:\u4FDD\u51E0\u5E74   3:\u4FDD\u81F3\u67D0\u5E74\u9F84
  \  4:\u4FDD\u51E0\u4E2A\u6708\uFF09,,\u5728\u4EA7\u54C1\u5141\u8BB8\u591A\u79CD\u4FDD\u969C\u671F\u9650\u7C7B\u578B\u60C5\u51B5\u4E0B,\u6B64\u9879\u5FC5\u586B\";s:4:\"enum\";a:4:{i:0;s:1:\"1\";i:1;s:1:\"2\";i:2;s:1:\"3\";i:3;s:1:\"4\";}}s:12:\"coverageYear\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:20;s:11:\"description\";s:264:\"\u4FDD\u969C\u65F6\u957F\uFF08\u4FDD\u969C\u671F\u9650\u7C7B\u578B\u4E3A
  1\u7684\u60C5\u51B5\u4E0B\uFF0C\u6B64\u5B57\u6BB5\u65E0\u610F\u4E49\uFF1B     \u4FDD\u969C\u671F\u9650\u7C7B\u578B\u4E3A2\u7684\u60C5\u51B5\u4E0B\uFF0C\u6B64\u5B57\u6BB5\u4E3A\u51E0\u5E74;
  \  \u4FDD\u969C\u671F\u9650\u7C7B\u578B\u4E3A3\u7684\u60C5\u51B5\u4E0B\uFF0C\u6B64\u5B57\u6BB5\u4E3A\u67D0\u4E00\u5E74\u9F84;
  \ \u7F34\u8D39\u671F\u9650\u7C7B\u578B\u4E3A 4\u7684\u60C5\u51B5\u4E0B\uFF0C\u6B64\u5B57\u6BB5\u4E3A\u51E0\u4E2A\u6708\uFF09\";}s:18:\"annuityStartPeriod\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:48:\"\u5E74\u9F84\u9650\u989D\u76F8\u5173\u6027\uFF0C\u5E74\u91D1\u7ED9\u4ED8\u671F\u9650\u7C7B\u578B\";}s:16:\"annuityStartYear\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:42:\"\u5E74\u9F84\u9650\u989D\u76F8\u5173\u6027\uFF0C\u5E74\u91D1\u7ED9\u4ED8\u5E74\u9650\";}s:16:\"annuityEndPeriod\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:54:\"\u5E74\u9F84\u9650\u989D\u76F8\u5173\u6027\uFF0C\u5E74\u91D1\u7ED9\u4ED8\u7ED3\u675F\u671F\u9650\u7C7B\u578B\";}s:14:\"annuityEndYear\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:54:\"\u5E74\u9F84\u9650\u989D\u76F8\u5173\u6027\uFF0C\u5E74\u91D1\u7ED9\u4ED8\u7ED3\u675F\u671F\u9650\u5E74\u5EA6\";}s:16:\"annuityPayEnsure\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:48:\"\u5E74\u9F84\u9650\u989D\u76F8\u5173\u6027\uFF0C\u5E74\u91D1\u7ED9\u4ED8\u4FDD\u8BC1\u5E74\u5EA6\";}s:15:\"coverageYearMax\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:42:\"\u5E74\u9F84\u9650\u989D\u76F8\u5173\u6027\uFF0C\u6700\u9AD8\u4FDD\u969C\u5E74\u5EA6\";}s:19:\"annuityStartYearMax\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:48:\"\u5E74\u9F84\u9650\u989D\u76F8\u5173\u6027\uFF0C\u6700\u9AD8\u5E74\u91D1\u7ED9\u4ED8\u5E74\u5EA6\";}s:17:\"annuityEndYearMax\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:54:\"\u5E74\u9F84\u9650\u989D\u76F8\u5173\u6027\uFF0C\u6700\u9AD8\u5E74\u91D1\u7ED9\u4ED8\u7ED3\u675F\u5E74\u5EA6\";}s:13:\"paymentMethod\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:36:\"\u5E74\u9F84\u9650\u989D\u76F8\u5173\u6027\uFF0C\u652F\u4ED8\u65B9\u5F0F\";}s:6:\"gender\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"\u5E74\u9F84\u9650\u989D\u76F8\u5173\u6027\uFF0C\u6027\u522B\";}s:16:\"paymentFrequency\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"\u5E74\u9F84\u9650\u989D\u76F8\u5173\u6027\uFF0C\u7F34\u8D39\u9891\u7387\";}s:5:\"lowSa\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:36:\"\u5E74\u9F84\u9650\u989D\u76F8\u5173\u6027\uFF0C\u6700\u4F4E\u4FDD\u989D\";}s:6:\"highSa\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:36:\"\u5E74\u9F84\u9650\u989D\u76F8\u5173\u6027\uFF0C\u6700\u9AD8\u4FDD\u989D\";}s:13:\"chargeYearMax\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:42:\"\u5E74\u9F84\u9650\u989D\u76F8\u5173\u6027\uFF0C\u6700\u9AD8\u7F34\u8D39\u5E74\u5EA6\";}}}s:15:\"CalculatePolicy\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:9:\"coverages\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"inceptionDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:10:\"2017-01-01\";s:11:\"description\";s:56:\"\u4FDD\u5355\u751F\u6548\u65E5\uFF0C\u5B57\u7B26\u4E32\u7C7B\u578B\uFF0C\u683C\u5F0F(\"YYYY-MM-DD\")\";}s:9:\"coverages\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:12:\"\u4FDD\u969C\u5217\u8868\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/CalculateCoverage\";}}s:9:\"extFields\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:12:\"\u6269\u5C55\u5B57\u6BB5\";}}}s:19:\"IllustrationRequest\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:15:\"calculatePolicy\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:15:\"clientRequestId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"\u5916\u90E8\u4EA4\u6613\u6D41\u6C34\u53F7\";}s:17:\"clientRequestTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:18:\"\u5916\u90E8\u8BF7\u6C42\u65F6\u95F4\";}s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:15:\"calculatePolicy\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"\u5229\u76CA\u5C55\u793A\u4FDD\u5355\u8BA1\u7B97\u6570\u636E\";s:4:\"$ref\";s:29:\"#/definitions/CalculatePolicy\";}s:16:\"performanceLevel\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:1;s:11:\"description\";s:81:\"\u5229\u76CA\u6F14\u793A\uFF0C\u6536\u76CA\u7B49\u7EA7<br>1
  - \u4F4E\u6536\u76CA<br>2 - \u4E2D\u7B49\u6536\u76CA<br>3 - \u9AD8\u6536\u76CA\";}}}s:11:\"AgeLimitCon\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:14:\"coveragePeriod\";i:1;s:11:\"productCode\";}s:10:\"properties\";O:8:\"stdClass\":15:{s:12:\"benefitLevel\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"1\";s:11:\"description\";s:30:\"\u5E74\u9F84\u9650\u989D\u76F8\u5173\u6027\uFF0C\u6863\u6B21\";}s:10:\"sumAssured\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:7:\"example\";i:100000;s:11:\"description\";s:30:\"\u5E74\u9F84\u9650\u989D\u76F8\u5173\u6027\uFF0C\u4FDD\u989D\";}s:6:\"gender\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"F\";s:11:\"description\";s:30:\"\u5E74\u9F84\u9650\u989D\u76F8\u5173\u6027\uFF0C\u6027\u522B\";}s:16:\"premiumFrequency\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"1\";s:11:\"description\";s:36:\"\u5E74\u9F84\u9650\u989D\u76F8\u5173\u6027\uFF0C\u7F34\u8D39\u9891\u7387\";}s:11:\"productCode\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"ABC\";s:11:\"description\";s:12:\"\u4EA7\u54C1\u4EE3\u7801\";}s:12:\"chargePeriod\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"2\";s:11:\"description\";s:145:\"\u7F34\u8D39\u671F\u9650\u7C7B\u578B\uFF08
  1:\u8DB8\u4EA4     2:\u7F34\u51E0\u5E74   3:\u7F34\u81F3\u67D0\u5E74\u9F84   4:\u7F34\u7EC8\u8EAB\uFF09,\u5728\u4EA7\u54C1\u5141\u8BB8\u591A\u79CD\u7F34\u8D39\u671F\u9650\u7C7B\u578B\u60C5\u51B5\u4E0B,\u6B64\u9879\u5FC5\u586B\";s:4:\"enum\";a:4:{i:0;s:1:\"1\";i:1;s:1:\"2\";i:2;s:1:\"3\";i:3;s:1:\"4\";}}s:10:\"chargeYear\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:5;s:11:\"description\";s:261:\"\u7F34\u8D39\u65F6\u957F\uFF08\u7F34\u8D39\u671F\u9650\u7C7B\u578B\u4E3A
  1\u7684\u60C5\u51B5\u4E0B\uFF0C\u6B64\u5B57\u6BB5\u65E0\u610F\u4E49\uFF1B     \u7F34\u8D39\u671F\u9650\u7C7B\u578B\u4E3A2\u7684\u60C5\u51B5\u4E0B\uFF0C\u6B64\u5B57\u6BB5\u4E3A\u51E0\u5E74;
  \  \u7F34\u8D39\u671F\u9650\u7C7B\u578B\u4E3A3\u7684\u60C5\u51B5\u4E0B\uFF0C\u6B64\u5B57\u6BB5\u4E3A\u67D0\u4E00\u5E74\u9F84;
  \ \u7F34\u8D39\u671F\u9650\u7C7B\u578B\u4E3A 4\u7684\u60C5\u51B5\u4E0B\uFF0C\u6B64\u5B57\u6BB5\u65E0\u610F\u4E49\uFF09\";}s:14:\"coveragePeriod\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"2\";s:11:\"description\";s:152:\"\u4FDD\u969C\u671F\u9650\u7C7B\u578B\uFF08
  1:\u4FDD\u7EC8\u8EAB     2:\u4FDD\u51E0\u5E74   3:\u4FDD\u81F3\u67D0\u5E74\u9F84
  \  4:\u4FDD\u51E0\u4E2A\u6708\uFF09,,\u5728\u4EA7\u54C1\u5141\u8BB8\u591A\u79CD\u4FDD\u969C\u671F\u9650\u7C7B\u578B\u60C5\u51B5\u4E0B,\u6B64\u9879\u5FC5\u586B\";s:4:\"enum\";a:4:{i:0;s:1:\"1\";i:1;s:1:\"2\";i:2;s:1:\"3\";i:3;s:1:\"4\";}}s:12:\"coverageYear\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:20;s:11:\"description\";s:264:\"\u4FDD\u969C\u65F6\u957F\uFF08\u4FDD\u969C\u671F\u9650\u7C7B\u578B\u4E3A
  1\u7684\u60C5\u51B5\u4E0B\uFF0C\u6B64\u5B57\u6BB5\u65E0\u610F\u4E49\uFF1B     \u4FDD\u969C\u671F\u9650\u7C7B\u578B\u4E3A2\u7684\u60C5\u51B5\u4E0B\uFF0C\u6B64\u5B57\u6BB5\u4E3A\u51E0\u5E74;
  \  \u4FDD\u969C\u671F\u9650\u7C7B\u578B\u4E3A3\u7684\u60C5\u51B5\u4E0B\uFF0C\u6B64\u5B57\u6BB5\u4E3A\u67D0\u4E00\u5E74\u9F84;
  \ \u7F34\u8D39\u671F\u9650\u7C7B\u578B\u4E3A 4\u7684\u60C5\u51B5\u4E0B\uFF0C\u6B64\u5B57\u6BB5\u4E3A\u51E0\u4E2A\u6708\uFF09\";}s:18:\"annuityStartPeriod\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"1\";s:11:\"description\";s:158:\"\u5E74\u91D1\u5F00\u59CB\u652F\u4ED8\u65F6\u671F\u7C7B\u578B<br>1
  - \u7ACB\u523B<br>2 - \u4ECE\u4FDD\u5355\u5468\u5E74\u65E5\u5E74\u9F84\u5F00\u59CB\u7ED9\u4ED8<br>3
  - \u51E0\u5E74\u4E4B\u540E\u5F00\u59CB\u7ED9\u4ED8<br>4 - \u751F\u65E5\u5E74\u9F84\u90A3\u5929\u5F00\u59CB\u7ED9\u4ED8\";}s:16:\"annuityStartYear\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:5;s:11:\"description\";s:42:\"\u5E74\u9F84\u9650\u989D\u76F8\u5173\u6027\uFF0C\u5E74\u91D1\u7ED9\u4ED8\u5E74\u9650\";}s:16:\"annuityEndPeriod\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"1\";s:11:\"description\";s:78:\"\u5E74\u91D1\u7ED3\u675F\u652F\u4ED8\u65F6\u671F\u7C7B\u578B<br>1
  - \u51E0\u5E74<br>2 - \u5230\u591A\u5C11\u5C81<br>3 - \u7EC8\u8EAB\";}s:14:\"annuityEndYear\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:5;s:11:\"description\";s:54:\"\u5E74\u9F84\u9650\u989D\u76F8\u5173\u6027\uFF0C\u5E74\u91D1\u7ED9\u4ED8\u7ED3\u675F\u671F\u9650\u5E74\u5EA6\";}s:16:\"annuityPayEnsure\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:5;s:11:\"description\";s:48:\"\u5E74\u9F84\u9650\u989D\u76F8\u5173\u6027\uFF0C\u5E74\u91D1\u7ED9\u4ED8\u4FDD\u8BC1\u5E74\u5EA6\";}s:9:\"extFields\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:12:\"\u6269\u5C55\u5B57\u6BB5\";}}}s:5:\"Bonus\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:9:\"cashBonus\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:0;s:11:\"description\";s:21:\"\u662F\u5426\u6709\u73B0\u91D1\u7EA2\u5229\";}s:17:\"cashBonusVestYear\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:72:\"\u73B0\u91D1\u7EA2\u5229\u5FC5\u987B\u7559\u5728\u4FDD\u9669\u516C\u53F8\u591A\u5C11\u5E74\u6295\u8D44\u4E4B\u540E\u624D\u53EF\u4EE5\u9886\u53D6\";}s:19:\"cashBonusUnitAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:18:\"\u73B0\u91D1\u7EA2\u5229\u5355\u4F4D\";}s:16:\"cashBonusOptions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:117:\"\u5141\u8BB8\u7684\u73B0\u91D1\u7EA2\u5229\u9009\u9879<br>1
  - \u9A6C\u4E0A\u9886\u53D6<br>2 - \u7528\u73B0\u91D1\u7EA2\u5229\u652F\u4ED8\u4FDD\u8D39<br>3
  - \u5B58\u5728\u4FDD\u9669\u516C\u53F8\u5E10\u6237\u4E2D\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:12:\"PremiumLimit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:7:\"minPrem\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:36:\"\u4FDD\u8D39\u9650\u989D\u76F8\u5173\u6027\uFF0C\u6700\u5C0F\u4FDD\u8D39\";}s:7:\"maxPrem\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:37:\"\u4FDD\u8D39\u9650\u989D\u76F8\u5173\u6027\uFF0C\u6700\u5927\u4FDD\u8D39
  \";}s:13:\"paymentMethod\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:36:\"\u4FDD\u8D39\u9650\u989D\u76F8\u5173\u6027\uFF0C\u652F\u4ED8\u65B9\u5F0F\";}s:16:\"paymentFrequency\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"\u4FDD\u8D39\u9650\u989D\u76F8\u5173\u6027\uFF0C\u7F34\u8D39\u9891\u7387\";}s:8:\"currency\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:30:\"\u4FDD\u8D39\u9650\u989D\u76F8\u5173\u6027\uFF0C\u5E01\u79CD\";}s:6:\"minAge\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:36:\"\u4FDD\u8D39\u9650\u989D\u76F8\u5173\u6027\uFF0C\u6700\u5C0F\u5E74\u9F84\";}s:6:\"maxAge\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:36:\"\u4FDD\u8D39\u9650\u989D\u76F8\u5173\u6027\uFF0C\u6700\u5927\u5E74\u9F84\";}s:12:\"chargePeriod\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"2\";s:11:\"description\";s:145:\"\u7F34\u8D39\u671F\u9650\u7C7B\u578B\uFF08
  1:\u8DB8\u4EA4     2:\u7F34\u51E0\u5E74   3:\u7F34\u81F3\u67D0\u5E74\u9F84   4:\u7F34\u7EC8\u8EAB\uFF09,\u5728\u4EA7\u54C1\u5141\u8BB8\u591A\u79CD\u7F34\u8D39\u671F\u9650\u7C7B\u578B\u60C5\u51B5\u4E0B,\u6B64\u9879\u5FC5\u586B\";s:4:\"enum\";a:4:{i:0;s:1:\"1\";i:1;s:1:\"2\";i:2;s:1:\"3\";i:3;s:1:\"4\";}}s:10:\"chargeYear\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:5;s:11:\"description\";s:261:\"\u7F34\u8D39\u65F6\u957F\uFF08\u7F34\u8D39\u671F\u9650\u7C7B\u578B\u4E3A
  1\u7684\u60C5\u51B5\u4E0B\uFF0C\u6B64\u5B57\u6BB5\u65E0\u610F\u4E49\uFF1B     \u7F34\u8D39\u671F\u9650\u7C7B\u578B\u4E3A2\u7684\u60C5\u51B5\u4E0B\uFF0C\u6B64\u5B57\u6BB5\u4E3A\u51E0\u5E74;
  \  \u7F34\u8D39\u671F\u9650\u7C7B\u578B\u4E3A3\u7684\u60C5\u51B5\u4E0B\uFF0C\u6B64\u5B57\u6BB5\u4E3A\u67D0\u4E00\u5E74\u9F84;
  \ \u7F34\u8D39\u671F\u9650\u7C7B\u578B\u4E3A 4\u7684\u60C5\u51B5\u4E0B\uFF0C\u6B64\u5B57\u6BB5\u65E0\u610F\u4E49\uFF09\";}}}s:23:\"CalculatePremSAResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:15:\"clientRequestId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"\u5916\u90E8\u4EA4\u6613\u6D41\u6C34\u53F7\";}s:17:\"clientRequestTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:18:\"\u5916\u90E8\u8BF7\u6C42\u65F6\u95F4\";}s:6:\"result\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:76:\"\u8BF7\u6C42\u7ED3\u679C\uFF0C<br>1
  - \u4E1A\u52A1\u6210\u529F<br>0 - \u4E1A\u52A1\u5931\u8D25<br>-1 - \u7A0B\u5E8F\u5F02\u5E38\";}s:8:\"messages\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:36:\"\u4E1A\u52A1\u5931\u8D25\u539F\u56E0\u63CF\u8FF0\u5217\u8868\u8282\u70B9\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/GenericValidationResult\";}}s:10:\"exceptions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:12:\"\u5F02\u5E38\u4FE1\u606F\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:21:\"calculatePolicyResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"\u8BA1\u7B97\u7ED3\u679C\";s:4:\"$ref\";s:35:\"#/definitions/CalculatePolicyResult\";}}}s:21:\"CalculatePolicyResult\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"installPrem\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:15:\"\u603B\u671F\u7F34\u4FDD\u8D39\";}s:10:\"annualPrem\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:21:\"\u603B\u5E74\u5316\u6807\u51C6\u4FDD\u8D39\";}s:9:\"policyFee\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:12:\"\u4FDD\u5355\u8D39\u7528\";}s:13:\"inceptionDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:9:\"\u6295\u4FDD\u65E5\";}s:24:\"calculateCoverageResults\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:27:\"\u5404\u4FDD\u969C\u8BE6\u7EC6\u8BA1\u7B97\u7ED3\u679C\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/CalculateCoverageResult\";}}}}s:16:\"PackagesResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:15:\"clientRequestId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"\u5916\u90E8\u4EA4\u6613\u6D41\u6C34\u53F7\";}s:17:\"clientRequestTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:18:\"\u5916\u90E8\u8BF7\u6C42\u65F6\u95F4\";}s:6:\"result\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:76:\"\u8BF7\u6C42\u7ED3\u679C\uFF0C<br>1
  - \u4E1A\u52A1\u6210\u529F<br>0 - \u4E1A\u52A1\u5931\u8D25<br>-1 - \u7A0B\u5E8F\u5F02\u5E38\";}s:10:\"exceptions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:12:\"\u5F02\u5E38\u4FE1\u606F\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:27:\"listBasicProductPackageInfo\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:24:\"\u4EA7\u54C1\u7EC4\u5408\u57FA\u672C\u4FE1\u606F\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/BasicProductPackageInfo\";}}}}s:7:\"Annuity\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:18:\"annuityStartPeriod\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:158:\"\u5E74\u91D1\u5F00\u59CB\u652F\u4ED8\u65F6\u671F\u7C7B\u578B<br>1
  - \u7ACB\u523B<br>2 - \u4ECE\u4FDD\u5355\u5468\u5E74\u65E5\u5E74\u9F84\u5F00\u59CB\u7ED9\u4ED8<br>3
  - \u51E0\u5E74\u4E4B\u540E\u5F00\u59CB\u7ED9\u4ED8<br>4 - \u751F\u65E5\u5E74\u9F84\u90A3\u5929\u5F00\u59CB\u7ED9\u4ED8\";}s:16:\"annuityStartYear\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:12:\"\u5E74\u6216\u5E74\u9F84\";}s:16:\"annuityEndPeriod\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:78:\"\u5E74\u91D1\u7ED3\u675F\u652F\u4ED8\u65F6\u671F\u7C7B\u578B<br>1
  - \u51E0\u5E74<br>2 - \u5230\u591A\u5C11\u5C81<br>3 - \u7EC8\u8EAB\";}s:14:\"annuityEndYear\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:12:\"\u5E74\u6216\u5E74\u9F84\";}s:9:\"extFields\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:12:\"\u6269\u5C55\u5B57\u6BB5\";}}}s:15:\"ProductResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:15:\"clientRequestId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"\u5916\u90E8\u4EA4\u6613\u6D41\u6C34\u53F7\";}s:17:\"clientRequestTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:18:\"\u5916\u90E8\u8BF7\u6C42\u65F6\u95F4\";}s:6:\"result\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:76:\"\u8BF7\u6C42\u7ED3\u679C\uFF0C<br>1
  - \u4E1A\u52A1\u6210\u529F<br>0 - \u4E1A\u52A1\u5931\u8D25<br>-1 - \u7A0B\u5E8F\u5F02\u5E38\";}s:8:\"messages\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:36:\"\u4E1A\u52A1\u5931\u8D25\u539F\u56E0\u63CF\u8FF0\u5217\u8868\u8282\u70B9\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/GenericValidationResult\";}}s:10:\"exceptions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:12:\"\u5F02\u5E38\u4FE1\u606F\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"productInfo\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"\u4EA7\u54C1\u8BE6\u7EC6\u4FE1\u606F\";s:4:\"$ref\";s:25:\"#/definitions/ProductInfo\";}}}s:22:\"ProductPremiumResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:15:\"clientRequestId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"\u5916\u90E8\u4EA4\u6613\u6D41\u6C34\u53F7\";}s:17:\"clientRequestTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:18:\"\u5916\u90E8\u8BF7\u6C42\u65F6\u95F4\";}s:6:\"result\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:76:\"\u8BF7\u6C42\u7ED3\u679C\uFF0C<br>1
  - \u4E1A\u52A1\u6210\u529F<br>0 - \u4E1A\u52A1\u5931\u8D25<br>-1 - \u7A0B\u5E8F\u5F02\u5E38\";}s:10:\"exceptions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:12:\"\u5F02\u5E38\u4FE1\u606F\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"productCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"\u4EA7\u54C1\u4EE3\u7801\";}s:14:\"productPremium\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"\u4FDD\u8D39\u9650\u989D\u7ED3\u679C\";s:4:\"$ref\";s:28:\"#/definitions/ProductPremium\";}}}s:9:\"TermLimit\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:14:\"coveragePeriod\";}s:10:\"properties\";O:8:\"stdClass\":10:{s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:12:\"chargePeriod\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"2\";s:11:\"description\";s:145:\"\u7F34\u8D39\u671F\u9650\u7C7B\u578B\uFF08
  1:\u8DB8\u4EA4     2:\u7F34\u51E0\u5E74   3:\u7F34\u81F3\u67D0\u5E74\u9F84   4:\u7F34\u7EC8\u8EAB\uFF09,\u5728\u4EA7\u54C1\u5141\u8BB8\u591A\u79CD\u7F34\u8D39\u671F\u9650\u7C7B\u578B\u60C5\u51B5\u4E0B,\u6B64\u9879\u5FC5\u586B\";s:4:\"enum\";a:4:{i:0;s:1:\"1\";i:1;s:1:\"2\";i:2;s:1:\"3\";i:3;s:1:\"4\";}}s:10:\"chargeYear\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:5;s:11:\"description\";s:261:\"\u7F34\u8D39\u65F6\u957F\uFF08\u7F34\u8D39\u671F\u9650\u7C7B\u578B\u4E3A
  1\u7684\u60C5\u51B5\u4E0B\uFF0C\u6B64\u5B57\u6BB5\u65E0\u610F\u4E49\uFF1B     \u7F34\u8D39\u671F\u9650\u7C7B\u578B\u4E3A2\u7684\u60C5\u51B5\u4E0B\uFF0C\u6B64\u5B57\u6BB5\u4E3A\u51E0\u5E74;
  \  \u7F34\u8D39\u671F\u9650\u7C7B\u578B\u4E3A3\u7684\u60C5\u51B5\u4E0B\uFF0C\u6B64\u5B57\u6BB5\u4E3A\u67D0\u4E00\u5E74\u9F84;
  \ \u7F34\u8D39\u671F\u9650\u7C7B\u578B\u4E3A 4\u7684\u60C5\u51B5\u4E0B\uFF0C\u6B64\u5B57\u6BB5\u65E0\u610F\u4E49\uFF09\";}s:14:\"coveragePeriod\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"2\";s:11:\"description\";s:152:\"\u4FDD\u969C\u671F\u9650\u7C7B\u578B\uFF08
  1:\u4FDD\u7EC8\u8EAB     2:\u4FDD\u51E0\u5E74   3:\u4FDD\u81F3\u67D0\u5E74\u9F84
  \  4:\u4FDD\u51E0\u4E2A\u6708\uFF09,,\u5728\u4EA7\u54C1\u5141\u8BB8\u591A\u79CD\u4FDD\u969C\u671F\u9650\u7C7B\u578B\u60C5\u51B5\u4E0B,\u6B64\u9879\u5FC5\u586B\";s:4:\"enum\";a:4:{i:0;s:1:\"1\";i:1;s:1:\"2\";i:2;s:1:\"3\";i:3;s:1:\"4\";}}s:12:\"coverageYear\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:20;s:11:\"description\";s:264:\"\u4FDD\u969C\u65F6\u957F\uFF08\u4FDD\u969C\u671F\u9650\u7C7B\u578B\u4E3A
  1\u7684\u60C5\u51B5\u4E0B\uFF0C\u6B64\u5B57\u6BB5\u65E0\u610F\u4E49\uFF1B     \u4FDD\u969C\u671F\u9650\u7C7B\u578B\u4E3A2\u7684\u60C5\u51B5\u4E0B\uFF0C\u6B64\u5B57\u6BB5\u4E3A\u51E0\u5E74;
  \  \u4FDD\u969C\u671F\u9650\u7C7B\u578B\u4E3A3\u7684\u60C5\u51B5\u4E0B\uFF0C\u6B64\u5B57\u6BB5\u4E3A\u67D0\u4E00\u5E74\u9F84;
  \ \u7F34\u8D39\u671F\u9650\u7C7B\u578B\u4E3A 4\u7684\u60C5\u51B5\u4E0B\uFF0C\u6B64\u5B57\u6BB5\u4E3A\u51E0\u4E2A\u6708\uFF09\";}s:18:\"annuityStartPeriod\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"\u5E74\u91D1\u652F\u4ED8\u671F\u9650\u7C7B\u578B\";}s:16:\"annuityStartYear\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:18:\"\u5E74\u91D1\u652F\u4ED8\u671F\u9650\";}s:16:\"annuityEndPeriod\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"\u5E74\u91D1\u652F\u4ED8\u7ED3\u675F\u671F\u9650\u7C7B\u578B\";}s:14:\"annuityEndYear\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:24:\"\u5E74\u91D1\u652F\u4ED8\u7ED3\u675F\u671F\u9650\";}s:16:\"annuityPayEnsure\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:24:\"\u5E74\u91D1\u4FDD\u8BC1\u652F\u4ED8\u5E74\u9650\";}}}s:18:\"TopupWithdrawnPlan\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:4:{i:0;s:6:\"amount\";i:1;s:7:\"endYear\";i:2;s:8:\"premType\";i:3;s:9:\"startYear\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"premType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:55:\"3:
  regular topup; 7: partial withdrawn; 4: ad-hoc topup\";s:11:\"description\";s:12:\"\u8D39\u7528\u7C7B\u522B\";}s:9:\"startYear\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:7:\"example\";i:2;s:11:\"description\";s:18:\"\u8D77\u59CB\u4FDD\u5355\u5E74\u5EA6\";}s:7:\"endYear\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:7:\"example\";i:5;s:11:\"description\";s:18:\"\u7EC8\u6B62\u4FDD\u5355\u5E74\u5EA6\";}s:6:\"amount\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:7:\"example\";i:100000;s:11:\"description\";s:6:\"\u91D1\u989D\";}s:9:\"extFields\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:12:\"\u6269\u5C55\u5B57\u6BB5\";}}}s:16:\"ProductsResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:15:\"clientRequestId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"\u5916\u90E8\u4EA4\u6613\u6D41\u6C34\u53F7\";}s:17:\"clientRequestTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:18:\"\u5916\u90E8\u8BF7\u6C42\u65F6\u95F4\";}s:6:\"result\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:76:\"\u8BF7\u6C42\u7ED3\u679C\uFF0C<br>1
  - \u4E1A\u52A1\u6210\u529F<br>0 - \u4E1A\u52A1\u5931\u8D25<br>-1 - \u7A0B\u5E8F\u5F02\u5E38\";}s:8:\"messages\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:36:\"\u4E1A\u52A1\u5931\u8D25\u539F\u56E0\u63CF\u8FF0\u5217\u8868\u8282\u70B9\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/GenericValidationResult\";}}s:10:\"exceptions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:12:\"\u5F02\u5E38\u4FE1\u606F\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:27:\"listProductBasicInformation\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:18:\"\u4EA7\u54C1\u57FA\u672C\u4FE1\u606F\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/ProductBasicInformation\";}}}}s:31:\"ProductRatingParametersResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:15:\"clientRequestId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"\u5916\u90E8\u4EA4\u6613\u6D41\u6C34\u53F7\";}s:17:\"clientRequestTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:18:\"\u5916\u90E8\u8BF7\u6C42\u65F6\u95F4\";}s:6:\"result\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:76:\"\u8BF7\u6C42\u7ED3\u679C\uFF0C<br>1
  - \u4E1A\u52A1\u6210\u529F<br>0 - \u4E1A\u52A1\u5931\u8D25<br>-1 - \u7A0B\u5E8F\u5F02\u5E38\";}s:10:\"exceptions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:12:\"\u5F02\u5E38\u4FE1\u606F\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"productCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"\u4EA7\u54C1\u4EE3\u7801\";}s:16:\"ratingParameters\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:15:\"\u76F8\u5173\u6027\u53C2\u6570\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:19:\"ratingParameterType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"\u76F8\u5173\u6027\u53C2\u6570\u7C7B\u578B\";}}}s:17:\"ProductPkgProduct\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":16:{s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:9:\"packageId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:14:\"\u4EA7\u54C1\u7EC4\u5408ID\";}s:9:\"productId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:8:\"\u4EA7\u54C1ID\";}s:8:\"optional\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"\u662F\u5426\u53EF\u9009\";}s:12:\"saProportion\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:12:\"\u4FDD\u989D\u6BD4\u4F8B\";}s:17:\"premiumProportion\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:12:\"\u4FDD\u8D39\u6BD4\u4F8B\";}s:6:\"amount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:6:\"\u4FDD\u989D\";}s:7:\"premium\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:6:\"\u4FDD\u8D39\";}s:10:\"calcMethod\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"\u8BA1\u7B97\u65B9\u5F0F\";}s:12:\"benefitLevel\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:54:\"\u6863\u6B21\uFF0C\u6B64\u9879\u53EA\u5BF9\u6309\u6863\u6B21\u552E\u5356\u7684\u4EA7\u54C1\u6709\u610F\u4E49\";}s:8:\"freeIndi\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"\u514D\u8D39\u526F\u9669\u6807\u5FD7\";}s:9:\"minAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:12:\"\u6700\u5C0F\u4FDD\u989D\";}s:9:\"maxAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:12:\"\u6700\u5927\u4FDD\u989D\";}s:10:\"minPremium\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:12:\"\u6700\u5C0F\u4FDD\u8D39\";}s:10:\"maxPremium\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:12:\"\u6700\u5927\u4FDD\u8D39\";}s:10:\"baseAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:12:\"\u57FA\u7840\u4FDD\u989D\";}}}s:13:\"Illustrations\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:22:\"illustrationResultList\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:24:\"\u5229\u76CA\u5C55\u793A\u7ED3\u679C\u5217\u8868\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/IllustrationResult\";}}}}s:15:\"MainInformation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":16:{s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"productCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"\u4EA7\u54C1\u4EE3\u7801\";}s:11:\"productName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"\u4EA7\u54C1\u540D\u79F0\";}s:8:\"mainPlan\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"\u662F\u5426\u662F\u4E3B\u9669\";}s:8:\"currency\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:12:\"\u4EA7\u54C1\u5E01\u79CD\";}s:5:\"orgId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:27:\"\u6B64\u4EA7\u54C1\u5C5E\u4E8E\u54EA\u4E2A\u673A\u6784\";}s:9:\"startDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:18:\"\u4EA7\u54C1\u8D77\u552E\u65F6\u95F4\";}s:7:\"endDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:24:\"\u4EA7\u54C1\u7EC8\u6B62\u552E\u5356\u65F6\u95F4\";}s:13:\"salesCategory\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"\u4EA7\u54C1\u9500\u552E\u5927\u7C7B\";s:4:\"$ref\";s:34:\"#/definitions/ProductSalesCategory\";}s:18:\"productDescription\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"\u4EA7\u54C1\u63CF\u8FF0\";}s:19:\"productAbbreviation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"\u4EA7\u54C1\u7B80\u4ECB\";}s:4:\"ally\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"\u662F\u5426joint
  life<br>1 - \u662F<br>0 - \u5426\";}s:9:\"indexIndi\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"\u662F\u5426\u4FDD\u989D\u9012\u589E\";}s:12:\"spouseWaiver\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"\u662F\u5426spouse\u8C41\u514D<br>Y
  - Yes<br>N - No\";}s:10:\"familyType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"\u5BB6\u5EAD\u4EA7\u54C1\u7C7B\u578B\";}s:8:\"payerWop\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:49:\"\u662F\u5426\u652F\u4ED8\u4EBA(payer)\u8C41\u514D<br>Y
  - Yes<br>N - No\";}}}s:22:\"CalculatePremSARequest\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:15:\"calculatePolicy\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:15:\"clientRequestId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"\u5916\u90E8\u4EA4\u6613\u6D41\u6C34\u53F7\";}s:17:\"clientRequestTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:18:\"\u5916\u90E8\u8BF7\u6C42\u65F6\u95F4\";}s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:15:\"calculatePolicy\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"\u4FDD\u8D39\u4FDD\u989D\u8BA1\u7B97\u6570\u636E\";s:4:\"$ref\";s:29:\"#/definitions/CalculatePolicy\";}}}s:20:\"ProductCoverMultiple\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:18:\"coverMultipleItems\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:19:\"cover
  multiple item\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/CoverMultipleItem\";}}}}s:17:\"CoverMultipleItem\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"productCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"\u4EA7\u54C1\u4EE3\u7801\";}s:8:\"ageRange\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"\u5E74\u9F84\u8303\u56F4\";}s:9:\"termRange\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"\u7F34\u8D39\u671F\u9650\u8303\u56F4\";}s:8:\"minValue\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:18:\"\u5141\u8BB8\u7684\u6700\u5C0F\u503C\";}s:8:\"maxValue\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:18:\"\u5141\u8BB8\u7684\u6700\u5927\u503C\";}}}s:15:\"PackageResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:15:\"clientRequestId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"\u5916\u90E8\u4EA4\u6613\u6D41\u6C34\u53F7\";}s:17:\"clientRequestTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:18:\"\u5916\u90E8\u8BF7\u6C42\u65F6\u95F4\";}s:6:\"result\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:76:\"\u8BF7\u6C42\u7ED3\u679C\uFF0C<br>1
  - \u4E1A\u52A1\u6210\u529F<br>0 - \u4E1A\u52A1\u5931\u8D25<br>-1 - \u7A0B\u5E8F\u5F02\u5E38\";}s:10:\"exceptions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:12:\"\u5F02\u5E38\u4FE1\u606F\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:18:\"productPackageInfo\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"\u4EA7\u54C1\u7EC4\u5408\u8BE6\u7EC6\u4FE1\u606F\";s:4:\"$ref\";s:32:\"#/definitions/ProductPackageInfo\";}}}s:18:\"ProductPackageTerm\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:14:\"coveragePeriod\";}s:10:\"properties\";O:8:\"stdClass\":6:{s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:9:\"packageId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:14:\"\u4EA7\u54C1\u7EC4\u5408ID\";}s:12:\"chargePeriod\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"2\";s:11:\"description\";s:145:\"\u7F34\u8D39\u671F\u9650\u7C7B\u578B\uFF08
  1:\u8DB8\u4EA4     2:\u7F34\u51E0\u5E74   3:\u7F34\u81F3\u67D0\u5E74\u9F84   4:\u7F34\u7EC8\u8EAB\uFF09,\u5728\u4EA7\u54C1\u5141\u8BB8\u591A\u79CD\u7F34\u8D39\u671F\u9650\u7C7B\u578B\u60C5\u51B5\u4E0B,\u6B64\u9879\u5FC5\u586B\";s:4:\"enum\";a:4:{i:0;s:1:\"1\";i:1;s:1:\"2\";i:2;s:1:\"3\";i:3;s:1:\"4\";}}s:10:\"chargeYear\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:5;s:11:\"description\";s:261:\"\u7F34\u8D39\u65F6\u957F\uFF08\u7F34\u8D39\u671F\u9650\u7C7B\u578B\u4E3A
  1\u7684\u60C5\u51B5\u4E0B\uFF0C\u6B64\u5B57\u6BB5\u65E0\u610F\u4E49\uFF1B     \u7F34\u8D39\u671F\u9650\u7C7B\u578B\u4E3A2\u7684\u60C5\u51B5\u4E0B\uFF0C\u6B64\u5B57\u6BB5\u4E3A\u51E0\u5E74;
  \  \u7F34\u8D39\u671F\u9650\u7C7B\u578B\u4E3A3\u7684\u60C5\u51B5\u4E0B\uFF0C\u6B64\u5B57\u6BB5\u4E3A\u67D0\u4E00\u5E74\u9F84;
  \ \u7F34\u8D39\u671F\u9650\u7C7B\u578B\u4E3A 4\u7684\u60C5\u51B5\u4E0B\uFF0C\u6B64\u5B57\u6BB5\u65E0\u610F\u4E49\uFF09\";}s:14:\"coveragePeriod\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"2\";s:11:\"description\";s:152:\"\u4FDD\u969C\u671F\u9650\u7C7B\u578B\uFF08
  1:\u4FDD\u7EC8\u8EAB     2:\u4FDD\u51E0\u5E74   3:\u4FDD\u81F3\u67D0\u5E74\u9F84
  \  4:\u4FDD\u51E0\u4E2A\u6708\uFF09,,\u5728\u4EA7\u54C1\u5141\u8BB8\u591A\u79CD\u4FDD\u969C\u671F\u9650\u7C7B\u578B\u60C5\u51B5\u4E0B,\u6B64\u9879\u5FC5\u586B\";s:4:\"enum\";a:4:{i:0;s:1:\"1\";i:1;s:1:\"2\";i:2;s:1:\"3\";i:3;s:1:\"4\";}}s:12:\"coverageYear\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:20;s:11:\"description\";s:264:\"\u4FDD\u969C\u65F6\u957F\uFF08\u4FDD\u969C\u671F\u9650\u7C7B\u578B\u4E3A
  1\u7684\u60C5\u51B5\u4E0B\uFF0C\u6B64\u5B57\u6BB5\u65E0\u610F\u4E49\uFF1B     \u4FDD\u969C\u671F\u9650\u7C7B\u578B\u4E3A2\u7684\u60C5\u51B5\u4E0B\uFF0C\u6B64\u5B57\u6BB5\u4E3A\u51E0\u5E74;
  \  \u4FDD\u969C\u671F\u9650\u7C7B\u578B\u4E3A3\u7684\u60C5\u51B5\u4E0B\uFF0C\u6B64\u5B57\u6BB5\u4E3A\u67D0\u4E00\u5E74\u9F84;
  \ \u7F34\u8D39\u671F\u9650\u7C7B\u578B\u4E3A 4\u7684\u60C5\u51B5\u4E0B\uFF0C\u6B64\u5B57\u6BB5\u4E3A\u51E0\u4E2A\u6708\uFF09\";}}}s:11:\"ProductFund\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":20:{s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"fundCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"\u57FA\u91D1\u4EE3\u7801\";}s:9:\"productId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:8:\"\u4EA7\u54C1Id\";}s:21:\"minPartialWithdralval\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:24:\"\u6700\u5C0F\u90E8\u5206\u9886\u53D6\u91D1\u989D\";}s:30:\"minPartialWithdralRemainingVal\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:39:\"\u6700\u5C0F\u90E8\u5206\u9886\u53D6\u4E4B\u540E\u7684\u5269\u4F59\u91D1\u989D\";}s:13:\"minSwitOutVal\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:18:\"\u6700\u5C0F\u8F6C\u51FA\u91D1\u989D\";}s:16:\"minSwitRemainVal\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:30:\"\u6700\u5C0F\u8F6C\u51FA\u4E4B\u540E\u5269\u4F59\u91D1\u989D\";}s:16:\"switchPeriodUnit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"\u6700\u5C0F\u57FA\u91D1\u8F6C\u6362\u6B21\u6570\";}s:14:\"maxSwitInTimes\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:24:\"\u6700\u5927\u57FA\u91D1\u8F6C\u5165\u6B21\u6570\";}s:15:\"maxSwitOutTimes\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:24:\"\u6700\u5927\u57FA\u91D1\u8F6C\u51FA\u6B21\u6570\";}s:21:\"maxPartialWithdralVal\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:24:\"\u6700\u5927\u90E8\u5206\u9886\u53D6\u91D1\u989D\";}s:20:\"settleRatePeriodUnit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"\u7ED3\u606F\u533A\u95F4\u5355\u4F4D\u7C7B\u578B\";}s:14:\"settleYearType\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:18:\"\u7ED3\u606F\u5E74\u5EA6\u7C7B\u578B\";}s:10:\"settleFreq\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"\u7ED3\u606F\u9891\u7387\";}s:11:\"settleMonth\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:9:\"\u7ED3\u606F\u6708\";}s:9:\"settleDay\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:9:\"\u7ED3\u606F\u5929\";}s:12:\"settleMethod\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:12:\"\u7ED3\u606F\u65B9\u5F0F\";}s:20:\"guaranteedRateOption\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:18:\"\u662F\u5426\u4FDD\u8BC1\u5229\u7387\";}s:20:\"settleSimpleCompound\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"\u7ED3\u606F\u662F\u590D\u5229\u8FD8\u662F\u5355\u5229\";}s:15:\"bonusSettleType\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:75:\"\u7EA2\u5229\u5904\u7406\u7C7B\u578B<br>1:\u7EA2\u5229\u548C\u672C\u91D1\u4E00\u8D77\u5904\u7406<br>2:\u7EA2\u5229\u5355\u72EC\u5904\u7406\";}}}s:20:\"LiabilityInformation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:13:\"liabilityName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"\u8D23\u4EFB\u540D\u79F0\";}s:12:\"categoryName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"\u8D23\u4EFB\u5927\u7C7B\u540D\u79F0\";}s:11:\"liabilityId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:8:\"\u8D23\u4EFBId\";}s:10:\"categoryId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:14:\"\u8D23\u4EFB\u5927\u7C7BId\";}}}s:12:\"TermLimitCon\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:12:\"coverageYear\";i:1;s:11:\"productCode\";}s:10:\"properties\";O:8:\"stdClass\":11:{s:11:\"productCode\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:3:\"ABC\";s:11:\"description\";s:12:\"\u4FDD\u989D\u9650\u989D\";}s:14:\"coveragePeriod\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"2\";s:11:\"description\";s:145:\"\u7F34\u8D39\u671F\u9650\u7C7B\u578B\uFF08
  1:\u8DB8\u4EA4     2:\u7F34\u51E0\u5E74   3:\u7F34\u81F3\u67D0\u5E74\u9F84   4:\u7F34\u7EC8\u8EAB\uFF09,\u5728\u4EA7\u54C1\u5141\u8BB8\u591A\u79CD\u7F34\u8D39\u671F\u9650\u7C7B\u578B\u60C5\u51B5\u4E0B,\u6B64\u9879\u5FC5\u586B\";s:4:\"enum\";a:4:{i:0;s:1:\"1\";i:1;s:1:\"2\";i:2;s:1:\"3\";i:3;s:1:\"4\";}}s:12:\"chargePeriod\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:5;s:11:\"description\";s:261:\"\u7F34\u8D39\u65F6\u957F\uFF08\u7F34\u8D39\u671F\u9650\u7C7B\u578B\u4E3A
  1\u7684\u60C5\u51B5\u4E0B\uFF0C\u6B64\u5B57\u6BB5\u65E0\u610F\u4E49\uFF1B     \u7F34\u8D39\u671F\u9650\u7C7B\u578B\u4E3A2\u7684\u60C5\u51B5\u4E0B\uFF0C\u6B64\u5B57\u6BB5\u4E3A\u51E0\u5E74;
  \  \u7F34\u8D39\u671F\u9650\u7C7B\u578B\u4E3A3\u7684\u60C5\u51B5\u4E0B\uFF0C\u6B64\u5B57\u6BB5\u4E3A\u67D0\u4E00\u5E74\u9F84;
  \ \u7F34\u8D39\u671F\u9650\u7C7B\u578B\u4E3A 4\u7684\u60C5\u51B5\u4E0B\uFF0C\u6B64\u5B57\u6BB5\u65E0\u610F\u4E49\uFF09\";}s:12:\"coverageYear\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"2\";s:11:\"description\";s:152:\"\u4FDD\u969C\u671F\u9650\u7C7B\u578B\uFF08
  1:\u4FDD\u7EC8\u8EAB     2:\u4FDD\u51E0\u5E74   3:\u4FDD\u81F3\u67D0\u5E74\u9F84
  \  4:\u4FDD\u51E0\u4E2A\u6708\uFF09,,\u5728\u4EA7\u54C1\u5141\u8BB8\u591A\u79CD\u4FDD\u969C\u671F\u9650\u7C7B\u578B\u60C5\u51B5\u4E0B,\u6B64\u9879\u5FC5\u586B\";s:4:\"enum\";a:4:{i:0;s:1:\"1\";i:1;s:1:\"2\";i:2;s:1:\"3\";i:3;s:1:\"4\";}}s:10:\"chargeYear\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:20;s:11:\"description\";s:264:\"\u4FDD\u969C\u65F6\u957F\uFF08\u4FDD\u969C\u671F\u9650\u7C7B\u578B\u4E3A
  1\u7684\u60C5\u51B5\u4E0B\uFF0C\u6B64\u5B57\u6BB5\u65E0\u610F\u4E49\uFF1B     \u4FDD\u969C\u671F\u9650\u7C7B\u578B\u4E3A2\u7684\u60C5\u51B5\u4E0B\uFF0C\u6B64\u5B57\u6BB5\u4E3A\u51E0\u5E74;
  \  \u4FDD\u969C\u671F\u9650\u7C7B\u578B\u4E3A3\u7684\u60C5\u51B5\u4E0B\uFF0C\u6B64\u5B57\u6BB5\u4E3A\u67D0\u4E00\u5E74\u9F84;
  \ \u7F34\u8D39\u671F\u9650\u7C7B\u578B\u4E3A 4\u7684\u60C5\u51B5\u4E0B\uFF0C\u6B64\u5B57\u6BB5\u4E3A\u51E0\u4E2A\u6708\uFF09\";}s:18:\"annuityStartPeriod\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"1\";s:11:\"description\";s:158:\"\u5E74\u91D1\u5F00\u59CB\u652F\u4ED8\u65F6\u671F\u7C7B\u578B<br>1
  - \u7ACB\u523B<br>2 - \u4ECE\u4FDD\u5355\u5468\u5E74\u65E5\u5E74\u9F84\u5F00\u59CB\u7ED9\u4ED8<br>3
  - \u51E0\u5E74\u4E4B\u540E\u5F00\u59CB\u7ED9\u4ED8<br>4 - \u751F\u65E5\u5E74\u9F84\u90A3\u5929\u5F00\u59CB\u7ED9\u4ED8\";}s:16:\"annuityStartYear\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:10;s:11:\"description\";s:36:\"\u9650\u989D\u76F8\u5173\u6027\uFF0C\u5E74\u91D1\u7ED9\u4ED8\u671F\u9650\";}s:16:\"annuityEndPeriod\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:1:\"1\";s:11:\"description\";s:78:\"\u5E74\u91D1\u7ED3\u675F\u652F\u4ED8\u65F6\u671F\u7C7B\u578B<br>1
[...]
