---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Google\";s:3:\"url\";s:18:\"https://google.com\";}s:11:\"description\";s:88:\"Manages
  the execution of large numbers of distributed requests. Cloud Tasks is in Alpha.\";s:5:\"title\";s:11:\"Cloud
  Tasks\";s:7:\"version\";s:7:\"v2beta2\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:37:\"https://console.developers.google.com\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:116:\"https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.6.2\";}s:6:\"format\";s:6:\"google\";s:3:\"url\";s:65:\"https://cloudtasks.googleapis.com/$discovery/rest?version=v2beta2\";s:7:\"version\";s:2:\"v1\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"googleapis.com\";s:13:\"x-serviceName\";s:10:\"cloudtasks\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:17:\"google_cloudtasks\";s:4:\"type\";s:7:\"openapi\";}}"
host: cloudtasks.googleapis.com
basePath: /
paths: ~
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":33:{s:22:\"AcknowledgeTaskRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"Request
  message for acknowledging a task using\nAcknowledgeTask.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"scheduleTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:205:\"Required.\n\nThe
  task's current schedule time, available in the\nschedule_time returned by\nLeaseTasks
  response or\nRenewLease response. This restriction is\nto ensure that your worker
  currently holds the lease.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"AppEngineHttpRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:1515:\"App
  Engine HTTP request.\n\nThe message defines the HTTP request that is sent to an
  App Engine app when\nthe task is dispatched.\n\nThis proto can only be used for
  tasks in a queue which has\napp_engine_http_target set.\n\nUsing AppEngineHttpRequest
  requires\n[`appengine.applications.get`](/appengine/docs/admin-api/access-control)\nGoogle
  IAM permission for the project\nand the following scope:\n\n`https://www.googleapis.com/auth/cloud-platform`\n\nThe
  task will be delivered to the App Engine app which belongs to the same\nproject
  as the queue. For more information, see\n[How Requests are Routed](/appengine/docs/standard/python/how-requests-are-routed)\nand
  how routing is affected by\n[dispatch files](/appengine/docs/python/config/dispatchref).\n\nThe
  AppEngineRouting used to construct the URL that the task is\ndelivered to can be
  set at the queue-level or task-level:\n\n* If set,\n   app_engine_routing_override\n
  \  is used for all tasks in the queue, no matter what the setting\n   is for the\n
  \  task-level app_engine_routing.\n\n\nThe `url` that the task will be sent to is:\n\n*
  `url =` host `+`\n  relative_url\n\nThe task attempt has succeeded if the app's
  request handler returns\nan HTTP response code in the range [`200` - `299`]. `503`
  is\nconsidered an App Engine system error instead of an application\nerror. Requests
  returning error `503` will be retried regardless of\nretry configuration and not
  counted against retry counts.\nAny other response code or a failure to receive a
  response before the\ndeadline is a failed attempt.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:16:\"appEngineRouting\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/AppEngineRouting\";s:11:\"description\";s:184:\"Task-level
  setting for App Engine routing.\n\nIf set,\napp_engine_routing_override\nis used
  for all tasks in the queue, no matter what the setting is for the\ntask-level app_engine_routing.\";}s:7:\"headers\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:1713:\"HTTP
  request headers.\n\nThis map contains the header field names and values.\nHeaders
  can be set when the\n[task is created](google.cloud.tasks.v2beta2.CloudTasks.CreateTask).\nRepeated
  headers are not supported but a header value can contain commas.\n\nCloud Tasks
  sets some headers to default values:\n\n* `User-Agent`: By default, this header
  is\n  `\"AppEngine-Google; (+http://code.google.com/appengine)\"`.\n  This header
  can be modified, but Cloud Tasks will append\n  `\"AppEngine-Google; (+http://code.google.com/appengine)\"`
  to the\n  modified `User-Agent`.\n\nIf the task has a payload, Cloud\nTasks sets
  the following headers:\n\n* `Content-Type`: By default, the `Content-Type` header
  is set to\n  `\"application/octet-stream\"`. The default can be overridden by explicitly\n
  \ setting `Content-Type` to a particular media type when the\n  [task is created](google.cloud.tasks.v2beta2.CloudTasks.CreateTask).\n
  \ For example, `Content-Type` can be set to `\"application/json\"`.\n* `Content-Length`:
  This is computed by Cloud Tasks. This value is\n  output only.   It cannot be changed.\n\nThe
  headers below cannot be set or overridden:\n\n* `Host`\n* `X-Google-*`\n* `X-AppEngine-*`\n\nIn
  addition, Cloud Tasks sets some headers when the task is dispatched,\nsuch as headers
  containing information about the task; see\n[request headers](/appengine/docs/python/taskqueue/push/creating-handlers#reading_request_headers).\nThese
  headers are set only when the task is dispatched, so they are not\nvisible when
  the task is returned in a Cloud Tasks response.\n\nAlthough there is no specific
  limit for the maximum number of headers or\nthe size, there is a limit on the maximum
  size of the Task. For more\ninformation, see the CreateTask documentation.\";s:4:\"type\";s:6:\"object\";}s:10:\"httpMethod\";O:8:\"stdClass\":3:{s:11:\"description\";s:559:\"The
  HTTP method to use for the request. The default is POST.\n\nThe app's request handler
  for the task's target URL must be able to handle\nHTTP requests with this http_method,
  otherwise the task attempt will fail\nwith error code 405 (Method Not Allowed).
  See\n[Writing a push task request handler](/appengine/docs/java/taskqueue/push/creating-handlers#writing_a_push_task_request_handler)\nand
  the documentation for the request handlers in the language your app is\nwritten
  in e.g.\n[Python Request Handler](/appengine/docs/python/tools/webapp/requesthandlerclass).\";s:4:\"enum\";a:6:{i:0;s:23:\"HTTP_METHOD_UNSPECIFIED\";i:1;s:4:\"POST\";i:2;s:3:\"GET\";i:3;s:4:\"HEAD\";i:4;s:3:\"PUT\";i:5;s:6:\"DELETE\";}s:4:\"type\";s:6:\"string\";}s:7:\"payload\";O:8:\"stdClass\":3:{s:11:\"description\";s:227:\"Payload.\n\nThe
  payload will be sent as the HTTP message body. A message\nbody, and thus a payload,
  is allowed only if the HTTP method is\nPOST or PUT. It is an error to set a data
  payload on a task with\nan incompatible HttpMethod.\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}s:11:\"relativeUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:285:\"The
  relative URL.\n\nThe relative URL must begin with \"/\" and must be a valid HTTP
  relative URL.\nIt can contain a path and query string arguments.\nIf the relative
  URL is empty, then the root path \"/\" will be used.\nNo spaces are allowed, and
  the maximum length allowed is 2083 characters.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"AppEngineHttpTarget\";O:8:\"stdClass\":3:{s:11:\"description\";s:467:\"App
  Engine HTTP target.\n\nThe task will be delivered to the App Engine application
  hostname\nspecified by its AppEngineHttpTarget and AppEngineHttpRequest.\nThe documentation
  for AppEngineHttpRequest explains how the\ntask's host URL is constructed.\n\nUsing
  AppEngineHttpTarget requires\n[`appengine.applications.get`](/appengine/docs/admin-api/access-control)\nGoogle
  IAM permission for the project\nand the following scope:\n\n`https://www.googleapis.com/auth/cloud-platform`\";s:10:\"properties\";O:8:\"stdClass\":1:{s:24:\"appEngineRoutingOverride\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/AppEngineRouting\";s:11:\"description\";s:192:\"Overrides
  for the\ntask-level app_engine_routing.\n\nIf set, `app_engine_routing_override`
  is used for all tasks in\nthe queue, no matter what the setting is for the\ntask-level
  app_engine_routing.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"AppEngineRouting\";O:8:\"stdClass\":3:{s:11:\"description\";s:459:\"App
  Engine Routing.\n\nFor more information about services, versions, and instances
  see\n[An Overview of App Engine](/appengine/docs/python/an-overview-of-app-engine),\n[Microservices
  Architecture on Google App Engine](/appengine/docs/python/microservices-on-app-engine),\n[App
  Engine Standard request routing](/appengine/docs/standard/python/how-requests-are-routed),\nand
  [App Engine Flex request routing](/appengine/docs/flexible/python/how-requests-are-routed).\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"host\";O:8:\"stdClass\":2:{s:11:\"description\";s:1871:\"Output
  only. The host that the task is sent to.\n\nFor more information, see\n[How Requests
  are Routed](/appengine/docs/standard/python/how-requests-are-routed).\n\nThe host
  is constructed as:\n\n\n* `host = [application_domain_name]`</br>\n  `| [service]
  + '.' + [application_domain_name]`</br>\n  `| [version] + '.' + [application_domain_name]`</br>\n
  \ `| [version_dot_service]+ '.' + [application_domain_name]`</br>\n  `| [instance]
  + '.' + [application_domain_name]`</br>\n  `| [instance_dot_service] + '.' + [application_domain_name]`</br>\n
  \ `| [instance_dot_version] + '.' + [application_domain_name]`</br>\n  `| [instance_dot_version_dot_service]
  + '.' + [application_domain_name]`\n\n* `application_domain_name` = The domain name
  of the app, for\n  example <app-id>.appspot.com, which is associated with the\n
  \ queue's project ID. Some tasks which were created using the App Engine\n  SDK
  use a custom domain name.\n\n* `service =` service\n\n* `version =` version\n\n*
  `version_dot_service =`\n  version `+ '.' +`\n  service\n\n* `instance =` instance\n\n*
  `instance_dot_service =`\n  instance `+ '.' +`\n  service\n\n* `instance_dot_version
  =`\n  instance `+ '.' +`\n  version\n\n* `instance_dot_version_dot_service =`\n
  \ instance `+ '.' +`\n  version `+ '.' +`\n  service\n\nIf service is empty, then
  the task will be sent\nto the service which is the default service when the task
  is attempted.\n\nIf version is empty, then the task will be sent\nto the version
  which is the default version when the task is attempted.\n\nIf instance is empty,
  then the task\nwill be sent to an instance which is available when the task is\nattempted.\n\nWhen
  service is \"default\",\nversion is \"default\", and\ninstance is empty,\nhost is
  shortened to just the\n`application_domain_name`.\n\nIf service,\nversion, or\ninstance
  is invalid, then the task\nwill be sent to the default version of the default service
  when\nthe task is attempted.\";s:4:\"type\";s:6:\"string\";}s:8:\"instance\";O:8:\"stdClass\":2:{s:11:\"description\";s:562:\"App
  instance.\n\nBy default, the task is sent to an instance which is available when\nthe
  task is attempted.\n\nRequests can only be sent to a specific instance if\n[manual
  scaling is used in App Engine Standard](/appengine/docs/python/an-overview-of-app-engine?hl=en_US#scaling_types_and_instance_classes).\nApp
  Engine Flex does not support instances. For more information, see\n[App Engine Standard
  request routing](/appengine/docs/standard/python/how-requests-are-routed)\nand [App
  Engine Flex request routing](/appengine/docs/flexible/python/how-requests-are-routed).\";s:4:\"type\";s:6:\"string\";}s:7:\"service\";O:8:\"stdClass\":2:{s:11:\"description\";s:489:\"App
  service.\n\nBy default, the task is sent to the service which is the default\nservice
  when the task is attempted (\"default\").\n\nFor some queues or tasks which were
  created using the App Engine\nTask Queue API, host is not parsable\ninto service,\nversion,
  and\ninstance. For example, some tasks\nwhich were created using the App Engine
  SDK use a custom domain\nname; custom domains are not parsed by Cloud Tasks. If\nhost
  is not parsable, then\nservice,\nversion, and\ninstance are the empty string.\";s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":2:{s:11:\"description\";s:489:\"App
  version.\n\nBy default, the task is sent to the version which is the default\nversion
  when the task is attempted (\"default\").\n\nFor some queues or tasks which were
  created using the App Engine\nTask Queue API, host is not parsable\ninto service,\nversion,
  and\ninstance. For example, some tasks\nwhich were created using the App Engine
  SDK use a custom domain\nname; custom domains are not parsed by Cloud Tasks. If\nhost
  is not parsable, then\nservice,\nversion, and\ninstance are the empty string.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"AttemptStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  status of a task attempt.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"dispatchTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:118:\"Output
  only. The time that this attempt was dispatched.\n\n`dispatch_time` will be truncated
  to the nearest microsecond.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:14:\"responseStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Status\";s:11:\"description\";s:163:\"Output
  only. The response from the target for this attempt.\n\nIf the task has not been
  attempted or the task is currently running\nthen the response status is unset.\";}s:12:\"responseTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:125:\"Output
  only. The time that this attempt response was received.\n\n`response_time` will
  be truncated to the nearest microsecond.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:12:\"scheduleTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:117:\"Output
  only. The time that this attempt was scheduled.\n\n`schedule_time` will be truncated
  to the nearest microsecond.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Binding\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Associates
  `members` with a `role`.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"members\";O:8:\"stdClass\":3:{s:11:\"description\";s:888:\"Specifies
  the identities requesting access for a Cloud Platform resource.\n`members` can have
  the following values:\n\n* `allUsers`: A special identifier that represents anyone
  who is\n   on the internet; with or without a Google account.\n\n* `allAuthenticatedUsers`:
  A special identifier that represents anyone\n   who is authenticated with a Google
  account or a service account.\n\n* `user:{emailid}`: An email address that represents
  a specific Google\n   account. For example, `alice@gmail.com` .\n\n\n* `serviceAccount:{emailid}`:
  An email address that represents a service\n   account. For example, `my-other-app@appspot.gserviceaccount.com`.\n\n*
  `group:{emailid}`: An email address that represents a Google group.\n   For example,
  `admins@example.com`.\n\n\n* `domain:{domain}`: A Google Apps domain name that represents
  all the\n   users of that domain. For example, `google.com` or `example.com`.\n\n\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"role\";O:8:\"stdClass\":2:{s:11:\"description\";s:107:\"Role
  that is assigned to `members`.\nFor example, `roles/viewer`, `roles/editor`, or
  `roles/owner`.\nRequired\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"CancelLeaseRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Request
  message for canceling a lease using\nCancelLease.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"responseView\";O:8:\"stdClass\":3:{s:11:\"description\";s:429:\"The
  response_view specifies which subset of the Task will be\nreturned.\n\nBy default
  response_view is BASIC; not all\ninformation is retrieved by default because some
  data, such as\npayloads, might be desirable to return only when needed because\nof
  its large size or because of the sensitivity of data that it\ncontains.\n\nAuthorization
  for FULL requires\n`cloudtasks.tasks.fullView` [Google IAM](/iam/) permission on
  the\nTask resource.\";s:4:\"enum\";a:3:{i:0;s:16:\"VIEW_UNSPECIFIED\";i:1;s:5:\"BASIC\";i:2;s:4:\"FULL\";}s:4:\"type\";s:6:\"string\";}s:12:\"scheduleTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:205:\"Required.\n\nThe
  task's current schedule time, available in the\nschedule_time returned by\nLeaseTasks
  response or\nRenewLease response. This restriction is\nto ensure that your worker
  currently holds the lease.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"CreateTaskRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Request
  message for CreateTask.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"responseView\";O:8:\"stdClass\":3:{s:11:\"description\";s:429:\"The
  response_view specifies which subset of the Task will be\nreturned.\n\nBy default
  response_view is BASIC; not all\ninformation is retrieved by default because some
  data, such as\npayloads, might be desirable to return only when needed because\nof
  its large size or because of the sensitivity of data that it\ncontains.\n\nAuthorization
  for FULL requires\n`cloudtasks.tasks.fullView` [Google IAM](/iam/) permission on
  the\nTask resource.\";s:4:\"enum\";a:3:{i:0;s:16:\"VIEW_UNSPECIFIED\";i:1;s:5:\"BASIC\";i:2;s:4:\"FULL\";}s:4:\"type\";s:6:\"string\";}s:4:\"task\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Task\";s:11:\"description\";s:1503:\"Required.\n\nThe
  task to add.\n\nTask names have the following format:\n`projects/PROJECT_ID/locations/LOCATION_ID/queues/QUEUE_ID/tasks/TASK_ID`.\nThe
  user can optionally specify a task name. If a\nname is not specified then the system
  will generate a random\nunique task id, which will be set in the task returned in
  the\nresponse.\n\nIf schedule_time is not set or is in the\npast then Cloud Tasks
  will set it to the current time.\n\nTask De-duplication:\n\nExplicitly specifying
  a task ID enables task de-duplication.  If\na task's ID is identical to that of
  an existing task or a task\nthat was deleted or completed recently then the call
  will fail\nwith ALREADY_EXISTS.\nIf the task's queue was created using Cloud Tasks,
  then another task with\nthe same name can't be created for ~1hour after the original
  task was\ndeleted or completed. If the task's queue was created using queue.yaml
  or\nqueue.xml, then another task with the same name can't be created\nfor ~9days
  after the original task was deleted or completed.\n\nBecause there is an extra lookup
  cost to identify duplicate task\nnames, these CreateTask calls have significantly\nincreased
  latency. Using hashed strings for the task id or for\nthe prefix of the task id
  is recommended. Choosing task ids that\nare sequential or have sequential prefixes,
  for example using a\ntimestamp, causes an increase in latency and error rates in
  all\ntask commands. The infrastructure relies on an approximately\nuniform distribution
  of task ids to store and serve tasks\nefficiently.\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Empty\";O:8:\"stdClass\":3:{s:11:\"description\";s:359:\"A
  generic empty message that you can re-use to avoid defining duplicated\nempty messages
  in your APIs. A typical example is to use it as the request\nor the response type
  of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty)
  returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is
  empty JSON object `{}`.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:19:\"GetIamPolicyRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Request
  message for `GetIamPolicy` method.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:17:\"LeaseTasksRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Request
  message for leasing tasks using LeaseTasks.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"filter\";O:8:\"stdClass\":2:{s:11:\"description\";s:958:\"`filter`
  can be used to specify a subset of tasks to lease.\n\nWhen `filter` is set to `tag=<my-tag>`
  then the\nresponse will contain only tasks whose\ntag is equal to `<my-tag>`. `<my-tag>`
  must be\nless than 500 characters.\n\nWhen `filter` is set to `tag_function=oldest_tag()`,
  only tasks which have\nthe same tag as the task with the oldest\nschedule_time will
  be returned.\n\nGrammar Syntax:\n\n* `filter = \"tag=\" tag | \"tag_function=\"
  function`\n\n* `tag = string`\n\n* `function = \"oldest_tag()\"`\n\nThe `oldest_tag()`
  function returns tasks which have the same tag as the\noldest task (ordered by schedule
  time).\n\nSDK compatibility: Although the SDK allows tags to be either\nstring or\n[bytes](/appengine/docs/standard/java/javadoc/com/google/appengine/api/taskqueue/TaskOptions.html#tag-byte:A-),\nonly
  UTF-8 encoded tags can be used in Cloud Tasks. Tag which\naren't UTF-8 encoded can't
  be used in the\nfilter and the task's\ntag will be displayed as empty in Cloud Tasks.\";s:4:\"type\";s:6:\"string\";}s:13:\"leaseDuration\";O:8:\"stdClass\":3:{s:11:\"description\";s:342:\"\nAfter
  the worker has successfully finished the work associated\nwith the task, the worker
  must call via\nAcknowledgeTask before the\nschedule_time. Otherwise the task will
  be\nreturned to a later LeaseTasks call so\nthat another worker can retry it.\n\nThe
  maximum lease duration is 1 week.\n`lease_duration` will be truncated to the nearest
  second.\";s:6:\"format\";s:15:\"google-duration\";s:4:\"type\";s:6:\"string\";}s:8:\"maxTasks\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"The
  maximum number of tasks to lease. The maximum that can be\nrequested is 1000.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"responseView\";O:8:\"stdClass\":3:{s:11:\"description\";s:429:\"The
  response_view specifies which subset of the Task will be\nreturned.\n\nBy default
  response_view is BASIC; not all\ninformation is retrieved by default because some
  data, such as\npayloads, might be desirable to return only when needed because\nof
  its large size or because of the sensitivity of data that it\ncontains.\n\nAuthorization
  for FULL requires\n`cloudtasks.tasks.fullView` [Google IAM](/iam/) permission on
  the\nTask resource.\";s:4:\"enum\";a:3:{i:0;s:16:\"VIEW_UNSPECIFIED\";i:1;s:5:\"BASIC\";i:2;s:4:\"FULL\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"LeaseTasksResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Response
  message for leasing tasks using LeaseTasks.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"tasks\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"The
  leased tasks.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Task\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:21:\"ListLocationsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  response message for Locations.ListLocations.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"locations\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"A
  list of locations that matches the specified filter in the request.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Location\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  standard List next-page token.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"ListQueuesResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Response
  message for ListQueues.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:233:\"A
  token to retrieve next page of results.\n\nTo return the next page of results, call\nListQueues
  with this value as the\npage_token.\n\nIf the next_page_token is empty, there are
  no more results.\n\nThe page token is valid for only 2 hours.\";s:4:\"type\";s:6:\"string\";}s:6:\"queues\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"The
  list of queues.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Queue\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:17:\"ListTasksResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Response
  message for listing tasks using ListTasks.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:189:\"A
  token to retrieve next page of results.\n\nTo return the next page of results, call\nListTasks
  with this value as the\npage_token.\n\nIf the next_page_token is empty, there are
  no more results.\";s:4:\"type\";s:6:\"string\";}s:5:\"tasks\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"The
  list of tasks.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Task\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Location\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"A
  resource that represents Google Cloud Platform location.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:88:\"The
  friendly name for this location, typically a nearby city name.\nFor example, \"Tokyo\".\";s:4:\"type\";s:6:\"string\";}s:6:\"labels\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:103:\"Cross-service
  attributes for the location. For example\n\n    {\"cloud.googleapis.com/region\":
  \"us-east1\"}\";s:4:\"type\";s:6:\"object\";}s:10:\"locationId\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"The
  canonical id for this location. For example: `\"us-east1\"`.\";s:4:\"type\";s:6:\"string\";}s:8:\"metadata\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:61:\"Properties
  of the object. Contains field @type with type URL.\";}s:11:\"description\";s:84:\"Service-specific
  metadata. For example the available capacity at the given\nlocation.\";s:4:\"type\";s:6:\"object\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:132:\"Resource
  name for the location, which may vary between implementations.\nFor example: `\"projects/example-project/locations/us-east1\"`\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"PauseQueueRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Request
  message for PauseQueue.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:6:\"Policy\";O:8:\"stdClass\":3:{s:11:\"description\";s:1215:\"Defines
  an Identity and Access Management (IAM) policy. It is used to\nspecify access control
  policies for Cloud Platform resources.\n\n\nA `Policy` consists of a list of `bindings`.
  A `binding` binds a list of\n`members` to a `role`, where the members can be user
  accounts, Google groups,\nGoogle domains, and service accounts. A `role` is a named
  list of permissions\ndefined by IAM.\n\n**JSON Example**\n\n    {\n      \"bindings\":
  [\n        {\n          \"role\": \"roles/owner\",\n          \"members\": [\n            \"user:mike@example.com\",\n
  \           \"group:admins@example.com\",\n            \"domain:google.com\",\n
  \           \"serviceAccount:my-other-app@appspot.gserviceaccount.com\"\n          ]\n
  \       },\n        {\n          \"role\": \"roles/viewer\",\n          \"members\":
  [\"user:sean@example.com\"]\n        }\n      ]\n    }\n\n**YAML Example**\n\n    bindings:\n
  \   - members:\n      - user:mike@example.com\n      - group:admins@example.com\n
  \     - domain:google.com\n      - serviceAccount:my-other-app@appspot.gserviceaccount.com\n
  \     role: roles/owner\n    - members:\n      - user:sean@example.com\n      role:
  roles/viewer\n\n\nFor a description of IAM and its features, see the\n[IAM developer's
  guide](https://cloud.google.com/iam/docs).\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"bindings\";O:8:\"stdClass\":3:{s:11:\"description\";s:95:\"Associates
  a list of `members` to a `role`.\n`bindings` with no members will result in an error.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Binding\";}s:4:\"type\";s:5:\"array\";}s:4:\"etag\";O:8:\"stdClass\":3:{s:11:\"description\";s:606:\"`etag`
  is used for optimistic concurrency control as a way to help\nprevent simultaneous
  updates of a policy from overwriting each other.\nIt is strongly suggested that
  systems make use of the `etag` in the\nread-modify-write cycle to perform policy
  updates in order to avoid race\nconditions: An `etag` is returned in the response
  to `getIamPolicy`, and\nsystems are expected to put that etag in the request to
  `setIamPolicy` to\nensure that their change will be applied to the same version
  of the policy.\n\nIf no `etag` is provided in the call to `setIamPolicy`, then the
  existing\npolicy is overwritten blindly.\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Deprecated.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:11:\"PullMessage\";O:8:\"stdClass\":3:{s:11:\"description\";s:173:\"The
  pull message contains data that can be used by the caller of\nLeaseTasks to process
  the task.\n\nThis proto can only be used for tasks in a queue which has\npull_target
  set.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"payload\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"A
  data payload consumed by the worker to execute the task.\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}s:3:\"tag\";O:8:\"stdClass\":2:{s:11:\"description\";s:722:\"The
  task's tag.\n\nTags allow similar tasks to be processed in a batch. If you label\ntasks
  with a tag, your worker can\nlease tasks with the same tag using\nfilter. For example,
  if you want to\naggregate the events associated with a specific user once a day,\nyou
  could tag tasks with the user ID.\n\nThe task's tag can only be set when the\ntask
  is created.\n\nThe tag must be less than 500 characters.\n\nSDK compatibility: Although
  the SDK allows tags to be either\nstring or [bytes](/appengine/docs/standard/java/javadoc/com/google/appengine/api/taskqueue/TaskOptions.html#tag-byte:A-),\nonly
  UTF-8 encoded tags can be used in Cloud Tasks. If a tag isn't UTF-8\nencoded, the
  tag will be empty when the task is returned by Cloud Tasks.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"PullTarget\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Pull
  target.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:17:\"PurgeQueueRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Request
  message for PurgeQueue.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:5:\"Queue\";O:8:\"stdClass\":3:{s:11:\"description\";s:190:\"A
  queue is a container of related tasks. Queues are configured to manage\nhow those
  tasks are dispatched. Configurable properties include rate limits,\nretry options,
  target types, and others.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:19:\"appEngineHttpTarget\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/AppEngineHttpTarget\";s:11:\"description\";s:88:\"App
  Engine HTTP target.\n\nAn App Engine queue is a queue that has an AppEngineHttpTarget.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:774:\"The
  queue name.\n\nThe queue name must have the following format:\n`projects/PROJECT_ID/locations/LOCATION_ID/queues/QUEUE_ID`\n\n*
  `PROJECT_ID` can contain letters ([A-Za-z]), numbers ([0-9]),\n   hyphens (-), colons
  (:), or periods (.).\n   For more information, see\n   [Identifying projects](/resource-manager/docs/creating-managing-projects#identifying_projects)\n*
  `LOCATION_ID` is the canonical ID for the queue's location.\n   The list of available
  locations can be obtained by calling\n   ListLocations.\n   For more information,
  see https://cloud.google.com/about/locations/.\n* `QUEUE_ID` can contain letters
  ([A-Za-z]), numbers ([0-9]), or\n  hyphens (-). The maximum length is 100 characters.\n\nCaller-specified
  and required in CreateQueue,\nafter which it becomes output only.\";s:4:\"type\";s:6:\"string\";}s:10:\"pullTarget\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/PullTarget\";s:11:\"description\";s:60:\"Pull
  target.\n\nA pull queue is a queue that has a PullTarget.\";}s:9:\"purgeTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:428:\"Output
  only. The last time this queue was purged.\n\nAll tasks that were created before
  this time\nwere purged.\n\nA queue can be purged using PurgeQueue, the\n[App Engine
  Task Queue SDK, or the Cloud Console](/appengine/docs/standard/python/taskqueue/push/deleting-tasks-and-queues#purging_all_tasks_from_a_queue).\n\nPurge
  time will be truncated to the nearest microsecond. Purge\ntime will be unset if
  the queue has never been purged.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:10:\"rateLimits\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/RateLimits\";s:11:\"description\";s:548:\"Rate
  limits for task dispatches.\n\nrate_limits and\nretry_config are related because
  they both\ncontrol task attempts however they control how tasks are\nattempted in
  different ways:\n\n* rate_limits controls the total rate of\n  dispatches from a
  queue (i.e. all traffic dispatched from the\n  queue, regardless of whether the
  dispatch is from a first\n  attempt or a retry).\n* retry_config controls what happens
  to\n  particular a task after its first attempt fails. That is,\n  retry_config
  controls task retries (the\n  second attempt, third attempt, etc).\";}s:11:\"retryConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/RetryConfig\";s:11:\"description\";s:547:\"Settings
  that determine the retry behavior.\n\n* For tasks created using Cloud Tasks: the
  queue-level retry settings\n  apply to all tasks in the queue that were created
  using Cloud Tasks.\n  Retry settings cannot be set on individual tasks.\n* For tasks
  created using the App Engine SDK: the queue-level retry\n  settings apply to all
  tasks in the queue which do not have retry settings\n  explicitly set on the task
  and were created by the App Engine SDK. See\n  [App Engine documentation](/appengine/docs/standard/python/taskqueue/push/retrying-tasks).\";}s:5:\"state\";O:8:\"stdClass\":3:{s:11:\"description\";s:217:\"Output
  only. The state of the queue.\n\n`state` can only be changed by called\nPauseQueue,\nResumeQueue,
  or uploading\n[queue.yaml/xml](/appengine/docs/python/config/queueref).\nUpdateQueue
  cannot be used to change `state`.\";s:4:\"enum\";a:4:{i:0;s:17:\"STATE_UNSPECIFIED\";i:1;s:7:\"RUNNING\";i:2;s:6:\"PAUSED\";i:3;s:8:\"DISABLED\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"RateLimits\";O:8:\"stdClass\":3:{s:11:\"description\";s:267:\"Rate
  limits.\n\nThis message determines the maximum rate that tasks can be dispatched
  by a\nqueue, regardless of whether the dispatch is a first task attempt or a retry.\n\nNote:
  The debugging command, RunTask, will run a task\neven if the queue has reached its
  RateLimits.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"maxBurstSize\";O:8:\"stdClass\":3:{s:11:\"description\";s:1339:\"Output
  only. The max burst size.\n\nMax burst size limits how fast tasks in queue are processed
  when\nmany tasks are in the queue and the rate is high. This field\nallows the queue
  to have a high rate so processing starts shortly\nafter a task is enqueued, but
  still limits resource usage when\nmany tasks are enqueued in a short period of time.\n\nThe
  [token bucket](https://wikipedia.org/wiki/Token_Bucket)\nalgorithm is used to control
  the rate of task dispatches. Each\nqueue has a token bucket that holds tokens, up
  to the maximum\nspecified by `max_burst_size`. Each time a task is dispatched, a\ntoken
  is removed from the bucket. Tasks will be dispatched until\nthe queue's bucket runs
  out of tokens. The bucket will be\ncontinuously refilled with new tokens based on\nmax_tasks_dispatched_per_second.\n\nCloud
  Tasks will pick the value of `max_burst_size` based on the\nvalue of\nmax_tasks_dispatched_per_second.\n\nFor
  App Engine queues that were created or updated using\n`queue.yaml/xml`, `max_burst_size`
  is equal to\n[bucket_size](/appengine/docs/standard/python/config/queueref#bucket_size).\nSince
  `max_burst_size` is output only, if\nUpdateQueue is called on a queue\ncreated by
  `queue.yaml/xml`, `max_burst_size` will be reset based\non the value of\nmax_tasks_dispatched_per_second,\nregardless
  of whether\nmax_tasks_dispatched_per_second\nis updated.\n\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:18:\"maxConcurrentTasks\";O:8:\"stdClass\":3:{s:11:\"description\";s:681:\"The
  maximum number of concurrent tasks that Cloud Tasks allows\nto be dispatched for
  this queue. After this threshold has been\nreached, Cloud Tasks stops dispatching
  tasks until the number of\nconcurrent requests decreases.\n\nIf unspecified when
  the queue is created, Cloud Tasks will pick the\ndefault.\n\n\nThe maximum allowed
  value is 5,000.\n\nThis field is output only for\n[pull queues](google.cloud.tasks.v2beta2.PullTarget)
  and always -1, which\nindicates no limit. No other queue types can have `max_concurrent_tasks`\nset
  to -1.\n\n\nThis field has the same meaning as\n[max_concurrent_requests in queue.yaml/xml](/appengine/docs/standard/python/config/queueref#max_concurrent_requests).\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:27:\"maxTasksDispatchedPerSecond\";O:8:\"stdClass\":3:{s:11:\"description\";s:543:\"The
  maximum rate at which tasks are dispatched from this queue.\n\nIf unspecified when
  the queue is created, Cloud Tasks will pick the\ndefault.\n\n* For App Engine queues,
  the maximum allowed value is 500.\n* This field is output only   for [pull queues](google.cloud.tasks.v2beta2.PullTarget).
  In\n  addition to the `max_tasks_dispatched_per_second` limit, a\n  maximum of 10
  QPS of LeaseTasks\n  requests are allowed per pull queue.\n\n\nThis field has the
  same meaning as\n[rate in queue.yaml/xml](/appengine/docs/standard/python/config/queueref#rate).\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:17:\"RenewLeaseRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"Request
  message for renewing a lease using\nRenewLease.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"leaseDuration\";O:8:\"stdClass\":3:{s:11:\"description\";s:159:\"Required.\n\nThe
  desired new lease duration, starting from now.\n\n\nThe maximum lease duration is
  1 week.\n`lease_duration` will be truncated to the nearest second.\";s:6:\"format\";s:15:\"google-duration\";s:4:\"type\";s:6:\"string\";}s:12:\"responseView\";O:8:\"stdClass\":3:{s:11:\"description\";s:429:\"The
  response_view specifies which subset of the Task will be\nreturned.\n\nBy default
  response_view is BASIC; not all\ninformation is retrieved by default because some
  data, such as\npayloads, might be desirable to return only when needed because\nof
  its large size or because of the sensitivity of data that it\ncontains.\n\nAuthorization
  for FULL requires\n`cloudtasks.tasks.fullView` [Google IAM](/iam/) permission on
  the\nTask resource.\";s:4:\"enum\";a:3:{i:0;s:16:\"VIEW_UNSPECIFIED\";i:1;s:5:\"BASIC\";i:2;s:4:\"FULL\";}s:4:\"type\";s:6:\"string\";}s:12:\"scheduleTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:205:\"Required.\n\nThe
  task's current schedule time, available in the\nschedule_time returned by\nLeaseTasks
  response or\nRenewLease response. This restriction is\nto ensure that your worker
  currently holds the lease.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"ResumeQueueRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Request
  message for ResumeQueue.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:11:\"RetryConfig\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"Retry
  config.\n\nThese settings determine how a failed task attempt is retried.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"maxAttempts\";O:8:\"stdClass\":3:{s:11:\"description\";s:198:\"The
  maximum number of attempts for a task.\n\nCloud Tasks will attempt the task `max_attempts`
  times (that\nis, if the first attempt fails, then there will be\n`max_attempts -
  1` retries).  Must be > 0.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"maxBackoff\";O:8:\"stdClass\":3:{s:11:\"description\";s:550:\"A
  task will be [scheduled](Task.schedule_time) for retry between\nmin_backoff and\nmax_backoff
  duration after it fails,\nif the queue's RetryConfig specifies that the task should
  be\nretried.\n\nIf unspecified when the queue is created, Cloud Tasks will pick
  the\ndefault.\n\nThis field is output only for\n[pull queues](google.cloud.tasks.v2beta2.PullTarget).\n\n\n`max_backoff`
  will be truncated to the nearest second.\n\nThis field has the same meaning as\n[max_backoff_seconds
  in queue.yaml/xml](/appengine/docs/standard/python/config/queueref#retry_parameters).\";s:6:\"format\";s:15:\"google-duration\";s:4:\"type\";s:6:\"string\";}s:12:\"maxDoublings\";O:8:\"stdClass\":3:{s:11:\"description\";s:960:\"The
  time between retries will double `max_doublings` times.\n\nA task's retry interval
  starts at\nmin_backoff, then doubles\n`max_doublings` times, then increases linearly,
  and finally\nretries retries at intervals of\nmax_backoff up to\nmax_attempts times.\n\nFor
  example, if min_backoff is 10s,\nmax_backoff is 300s, and\n`max_doublings` is 3,
  then the a task will first be retried in\n10s. The retry interval will double three
  times, and then\nincrease linearly by 2^3 * 10s.  Finally, the task will retry at\nintervals
  of max_backoff until the\ntask has been attempted max_attempts\ntimes. Thus, the
  requests will retry at 10s, 20s, 40s, 80s, 160s,\n240s, 300s, 300s, ....\n\nIf unspecified
  when the queue is created, Cloud Tasks will pick the\ndefault.\n\nThis field is
  output only for\n[pull queues](google.cloud.tasks.v2beta2.PullTarget).\n\n\nThis
  field has the same meaning as\n[max_doublings in queue.yaml/xml](/appengine/docs/standard/python/config/queueref#retry_parameters).\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:16:\"maxRetryDuration\";O:8:\"stdClass\":3:{s:11:\"description\";s:701:\"If
  positive, `max_retry_duration` specifies the time limit for\nretrying a failed task,
  measured from when the task was first\nattempted. Once `max_retry_duration` time
  has passed *and* the\ntask has been attempted max_attempts\ntimes, no further attempts
  will be made and the task will be\ndeleted.\n\nIf zero, then the task age is unlimited.\n\nIf
  unspecified when the queue is created, Cloud Tasks will pick the\ndefault.\n\nThis
  field is output only for\n[pull queues](google.cloud.tasks.v2beta2.PullTarget).\n\n\n`max_retry_duration`
  will be truncated to the nearest second.\n\nThis field has the same meaning as\n[task_age_limit
  in queue.yaml/xml](/appengine/docs/standard/python/config/queueref#retry_parameters).\";s:6:\"format\";s:15:\"google-duration\";s:4:\"type\";s:6:\"string\";}s:10:\"minBackoff\";O:8:\"stdClass\":3:{s:11:\"description\";s:550:\"A
  task will be [scheduled](Task.schedule_time) for retry between\nmin_backoff and\nmax_backoff
  duration after it fails,\nif the queue's RetryConfig specifies that the task should
  be\nretried.\n\nIf unspecified when the queue is created, Cloud Tasks will pick
  the\ndefault.\n\nThis field is output only for\n[pull queues](google.cloud.tasks.v2beta2.PullTarget).\n\n\n`min_backoff`
  will be truncated to the nearest second.\n\nThis field has the same meaning as\n[min_backoff_seconds
  in queue.yaml/xml](/appengine/docs/standard/python/config/queueref#retry_parameters).\";s:6:\"format\";s:15:\"google-duration\";s:4:\"type\";s:6:\"string\";}s:17:\"unlimitedAttempts\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"If
  true, then the number of attempts is unlimited.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:14:\"RunTaskRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"Request
  message for forcing a task to run now using\nRunTask.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"responseView\";O:8:\"stdClass\":3:{s:11:\"description\";s:429:\"The
  response_view specifies which subset of the Task will be\nreturned.\n\nBy default
  response_view is BASIC; not all\ninformation is retrieved by default because some
  data, such as\npayloads, might be desirable to return only when needed because\nof
  its large size or because of the sensitivity of data that it\ncontains.\n\nAuthorization
  for FULL requires\n`cloudtasks.tasks.fullView` [Google IAM](/iam/) permission on
  the\nTask resource.\";s:4:\"enum\";a:3:{i:0;s:16:\"VIEW_UNSPECIFIED\";i:1;s:5:\"BASIC\";i:2;s:4:\"FULL\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"SetIamPolicyRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Request
  message for `SetIamPolicy` method.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"policy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Policy\";s:11:\"description\";s:224:\"REQUIRED:
  The complete policy to be applied to the `resource`. The size of\nthe policy is
  limited to a few 10s of KB. An empty policy is a\nvalid policy but certain Cloud
  Platform services (such as Projects)\nmight reject them.\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Status\";O:8:\"stdClass\":3:{s:11:\"description\";s:2437:\"The
  `Status` type defines a logical error model that is suitable for different\nprogramming
  environments, including REST APIs and RPC APIs. It is used by\n[gRPC](https://github.com/grpc).
  The error model is designed to be:\n\n- Simple to use and understand for most users\n-
  Flexible enough to meet unexpected needs\n\n# Overview\n\nThe `Status` message contains
  three pieces of data: error code, error message,\nand error details. The error code
  should be an enum value of\ngoogle.rpc.Code, but it may accept additional error
  codes if needed.  The\nerror message should be a developer-facing English message
  that helps\ndevelopers *understand* and *resolve* the error. If a localized user-facing\nerror
  message is needed, put the localized message in the error details or\nlocalize it
  in the client. The optional error details may contain arbitrary\ninformation about
  the error. There is a predefined set of error detail types\nin the package `google.rpc`
  that can be used for common error conditions.\n\n# Language mapping\n\nThe `Status`
  message is the logical representation of the error model, but it\nis not necessarily
  the actual wire format. When the `Status` message is\nexposed in different client
  libraries and different wire protocols, it can be\nmapped differently. For example,
  it will likely be mapped to some exceptions\nin Java, but more likely mapped to
  some error codes in C.\n\n# Other uses\n\nThe error model and the `Status` message
  can be used in a variety of\nenvironments, either with or without APIs, to provide
  a\nconsistent developer experience across different environments.\n\nExample uses
  of this error model include:\n\n- Partial errors. If a service needs to return partial
  errors to the client,\n    it may embed the `Status` in the normal response to indicate
  the partial\n    errors.\n\n- Workflow errors. A typical workflow has multiple steps.
  Each step may\n    have a `Status` message for error reporting.\n\n- Batch operations.
  If a client uses batch request and batch response, the\n    `Status` message should
  be used directly inside batch response, one for\n    each error sub-response.\n\n-
  Asynchronous operations. If an API call embeds asynchronous operation\n    results
  in its response, the status of those operations should be\n    represented directly
  using the `Status` message.\n\n- Logging. If some API errors are stored in logs,
  the message `Status` could\n    be used directly after any stripping needed for
  security/privacy reasons.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"The
  status code, which should be an enum value of google.rpc.Code.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"details\";O:8:\"stdClass\":3:{s:11:\"description\";s:105:\"A
  list of messages that carry the error details.  There is a common set of\nmessage
  types for APIs to use.\";s:5:\"items\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:61:\"Properties
  of the object. Contains field @type with type URL.\";}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:188:\"A
  developer-facing error message, which should be in English. Any\nuser-facing error
  message should be localized and sent in the\ngoogle.rpc.Status.details field, or
  localized by the client.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Task\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"A
  unit of scheduled work.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:20:\"appEngineHttpRequest\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/AppEngineHttpRequest\";s:11:\"description\";s:186:\"App
  Engine HTTP request that is sent to the task's target. Can\nbe set only if\napp_engine_http_target
  is set\non the queue.\n\nAn App Engine task is a task that has AppEngineHttpRequest
  set.\";}s:10:\"createTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:104:\"Output
  only. The time that the task was created.\n\n`create_time` will be truncated to
  the nearest second.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:885:\"The
  task name.\n\nThe task name must have the following format:\n`projects/PROJECT_ID/locations/LOCATION_ID/queues/QUEUE_ID/tasks/TASK_ID`\n\n*
  `PROJECT_ID` can contain letters ([A-Za-z]), numbers ([0-9]),\n   hyphens (-), colons
  (:), or periods (.).\n   For more information, see\n   [Identifying projects](/resource-manager/docs/creating-managing-projects#identifying_projects)\n*
  `LOCATION_ID` is the canonical ID for the task's location.\n   The list of available
  locations can be obtained by calling\n   ListLocations.\n   For more information,
  see https://cloud.google.com/about/locations/.\n* `QUEUE_ID` can contain letters
  ([A-Za-z]), numbers ([0-9]), or\n  hyphens (-). The maximum length is 100 characters.\n*
  `TASK_ID` can contain only letters ([A-Za-z]), numbers ([0-9]),\n  hyphens (-),
  or underscores (_). The maximum length is 500 characters.\n\nOptionally caller-specified
  in CreateTask.\";s:4:\"type\";s:6:\"string\";}s:11:\"pullMessage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/PullMessage\";s:11:\"description\";s:132:\"LeaseTasks
  to process the task. Can be\nset only if pull_target is set on the queue.\n\nA pull
  task is a task that has PullMessage set.\";}s:12:\"scheduleTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:415:\"The
  time when the task is scheduled to be attempted.\n\nFor App Engine queues, this
  is when the task will be attempted or retried.\n\nFor pull queues, this is the time
  when the task is available to\nbe leased; if a task is currently leased, this is
  the time when\nthe current lease expires, that is, the time that the task was\nleased
  plus the lease_duration.\n\n`schedule_time` will be truncated to the nearest microsecond.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/TaskStatus\";s:11:\"description\";s:29:\"Output
  only. The task status.\";}s:4:\"view\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"Output
  only. The view specifies which subset of the Task has\nbeen returned.\";s:4:\"enum\";a:3:{i:0;s:16:\"VIEW_UNSPECIFIED\";i:1;s:5:\"BASIC\";i:2;s:4:\"FULL\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"TaskStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Status
  of the task.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:20:\"attemptDispatchCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:134:\"Output
  only. The number of attempts dispatched.\n\nThis count includes tasks which have
  been dispatched but haven't\nreceived a response.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:20:\"attemptResponseCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:158:\"Output
  only. The number of attempts which have received a response.\n\nThis field is not
  calculated for\n[pull tasks](google.cloud.tasks.v2beta2.PullTaskTarget).\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:18:\"firstAttemptStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/AttemptStatus\";s:11:\"description\";s:244:\"Output
  only. The status of the task's first attempt.\n\nOnly dispatch_time will be set.\nThe
  other AttemptStatus information is not retained by Cloud Tasks.\n\nThis field is
  not calculated for\n[pull tasks](google.cloud.tasks.v2beta2.PullTaskTarget).\";}s:17:\"lastAttemptStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/AttemptStatus\";s:11:\"description\";s:142:\"Output
  only. The status of the task's last attempt.\n\nThis field is not calculated for\n[pull
  tasks](google.cloud.tasks.v2beta2.PullTaskTarget).\";}}s:4:\"type\";s:6:\"object\";}s:25:\"TestIamPermissionsRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Request
  message for `TestIamPermissions` method.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"permissions\";O:8:\"stdClass\":3:{s:11:\"description\";s:221:\"The
  set of permissions to check for the `resource`. Permissions with\nwildcards (such
  as '*' or 'storage.*') are not allowed. For more\ninformation see\n[IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:26:\"TestIamPermissionsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Response
  message for `TestIamPermissions` method.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"permissions\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"A
  subset of `TestPermissionsRequest.permissions` that the caller is\nallowed.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}}"
...
