---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Google\";s:3:\"url\";s:18:\"https://google.com\";}s:11:\"description\";s:114:\"The
  Poly API provides read-only access to assets hosted on <a href=\"https://poly.google.com\">poly.google.com</a>.\n\";s:5:\"title\";s:4:\"Poly\";s:7:\"version\";s:2:\"v1\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:37:\"https://console.developers.google.com\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:116:\"https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.6.2\";}s:6:\"format\";s:6:\"google\";s:3:\"url\";s:54:\"https://poly.googleapis.com/$discovery/rest?version=v1\";s:7:\"version\";s:2:\"v1\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"googleapis.com\";s:13:\"x-serviceName\";s:4:\"poly\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:11:\"google_poly\";s:4:\"type\";s:7:\"openapi\";}}"
host: poly.googleapis.com
basePath: /
paths:
  /v1/assets:
    get:
      description: Lists all public, remixable assets. These are assets with an access
        level ofnPUBLIC and published under thenCC-By license.
      operationId: assets.list
      parameters:
      - description: Filter assets based on the specified category. Supported values
          are:n`animals`, `architecture`, `art`, `food`, `nature`, `objects`, `people`,
          `scenes`,n`technology`, and `transport`.
        in: query
        name: category
        type: string
      - description: Return only assets that have been curated by the Poly team.
        in: query
        name: curated
        type: boolean
      - description: Return only assets with the matching format. Acceptable values
          are:n`BLOCKS`, `FBX`, `GLTF`, `GLTF2`, `OBJ`, `TILT`.
        in: query
        name: format
        type: string
      - description: One or more search terms to be matched against all text that
          Poly hasnindexed for assets, which includes display_name,ndescription, and
          tags. Multiple keywords should benseparated by spaces.
        in: query
        name: keywords
        type: string
      - description: Returns assets that are of the specified complexity or less.
          Defaults tonCOMPLEX. For example, a request fornMEDIUM assets also includesnSIMPLE
          assets.
        enum:
        - COMPLEXITY_UNSPECIFIED
        - COMPLEX
        - MEDIUM
        - SIMPLE
        in: query
        name: maxComplexity
        type: string
      - description: Specifies an ordering for assets. Acceptable values are:n`BEST`,
          `NEWEST`, `OLDEST`. Defaults to `BEST`, which ranks assetsnbased on a combination
          of popularity and other features.
        in: query
        name: orderBy
        type: string
      - description: The maximum number of assets to be returned. This value must
          be between `1`nand `100`. Defaults to `20`.
        in: query
        name: pageSize
        type: integer
      - description: Specifies a continuation token from a previous search whose results
          werensplit into multiple pages. To get the next page, submit the same requestnspecifying
          the value from next_page_token.
        in: query
        name: pageToken
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ListAssetsResponse'
      tags:
      - assets
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
  /v1/{name}:
    get:
      description: Returns detailed information about an asset given its name.nPRIVATE
        assets are returned only ifn the currently authenticated user (via OAuth token)
        is the author of the asset.
      operationId: assets.get
      parameters:
      - description: Required. An asset's name in the form `assets/{ASSET_ID}`.
        in: path
        name: name
        required: true
        type: string
        x-reservedExpansion: true
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Asset'
      tags:
      - assets
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
  /v1/{name}/assets:
    get:
      description: Lists assets authored by the given user. Only the value 'me', representingnthe
        currently-authenticated user, is supported. May include assets with annaccess
        level of PRIVATE ornUNLISTED and assets which arenAll Rights Reserved for
        thencurrently-authenticated user.
      operationId: users.assets.list
      parameters:
      - description: Return only assets with the matching format. Acceptable values
          are:n`BLOCKS`, `FBX`, `GLTF`, `GLTF2`, `OBJ`, and `TILT`.
        in: query
        name: format
        type: string
      - description: A valid user id. Currently, only the special value 'me', representing
          thencurrently-authenticated user is supported. To use 'me', you must passnan
          OAuth token with the request.
        in: path
        name: name
        required: true
        type: string
        x-reservedExpansion: true
      - description: Specifies an ordering for assets. Acceptable values are:n`BEST`,
          `NEWEST`, `OLDEST`. Defaults to `BEST`, which ranks assetsnbased on a combination
          of popularity and other features.
        in: query
        name: orderBy
        type: string
      - description: The maximum number of assets to be returned. This value must
          be between `1`nand `100`. Defaults to `20`.
        in: query
        name: pageSize
        type: integer
      - description: Specifies a continuation token from a previous search whose results
          werensplit into multiple pages. To get the next page, submit the same requestnspecifying
          the value fromnnext_page_token.
        in: query
        name: pageToken
        type: string
      - description: The visibility of the assets to be returned.nDefaults to VISIBILITY_UNSPECIFIED
          which returns all assets.
        enum:
        - VISIBILITY_UNSPECIFIED
        - PUBLISHED
        - PRIVATE
        in: query
        name: visibility
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ListUserAssetsResponse'
      tags:
      - users
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
  /v1/{name}/likedassets:
    get:
      description: Lists assets that the user has liked. Only the value 'me', representingnthe
        currently-authenticated user, is supported. May include assets with annaccess
        level of UNLISTED.
      operationId: users.likedassets.list
      parameters:
      - description: Return only assets with the matching format. Acceptable values
          are:n`BLOCKS`, `FBX`, `GLTF`, `GLTF2`, `OBJ`, `TILT`.
        in: query
        name: format
        type: string
      - description: A valid user id. Currently, only the special value 'me', representing
          thencurrently-authenticated user is supported. To use 'me', you must passnan
          OAuth token with the request.
        in: path
        name: name
        required: true
        type: string
        x-reservedExpansion: true
      - description: Specifies an ordering for assets. Acceptable values are:n`BEST`,
          `NEWEST`, `OLDEST`, 'LIKED_TIME'. Defaults to `LIKED_TIME`, whichnranks
          assets based on how recently they were liked.
        in: query
        name: orderBy
        type: string
      - description: The maximum number of assets to be returned. This value must
          be between `1`nand `100`. Defaults to `20`.
        in: query
        name: pageSize
        type: integer
      - description: Specifies a continuation token from a previous search whose results
          werensplit into multiple pages. To get the next page, submit the same requestnspecifying
          the value fromnnext_page_token.
        in: query
        name: pageToken
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ListLikedAssetsResponse'
      tags:
      - users
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":14:{s:5:\"Asset\";O:8:\"stdClass\":3:{s:11:\"description\";s:237:\"Represents
  and describes an asset in the Poly library. An asset is a 3D model\nor scene created
  using [Tilt Brush](//www.tiltbrush.com),\n[Blocks](//vr.google.com/blocks/), or
  any 3D program that produces a file\nthat can be upload to Poly.\";s:10:\"properties\";O:8:\"stdClass\":13:{s:10:\"authorName\";O:8:\"stdClass\":2:{s:11:\"description\";s:148:\"The
  author's publicly visible name. Use this name when giving credit to the\nauthor.
  For more information, see [Licensing](/poly/discover/licensing).\";s:4:\"type\";s:6:\"string\";}s:10:\"createTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:121:\"For
  published assets, the time when the asset was published.\nFor unpublished assets,
  the time when the asset was created.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"The
  human-readable description, set by the asset's author.\";s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"The
  human-readable name, set by the asset's author.\";s:4:\"type\";s:6:\"string\";}s:7:\"formats\";O:8:\"stdClass\":3:{s:11:\"description\";s:78:\"A
  list of Formats where each\nformat describes one representation of the asset.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Format\";}s:4:\"type\";s:5:\"array\";}s:9:\"isCurated\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Whether
  this asset has been curated by the Poly team.\";s:4:\"type\";s:7:\"boolean\";}s:7:\"license\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"The
  license under which the author has made the asset available\nfor use, if any.\";s:4:\"enum\";a:3:{i:0;s:7:\"UNKNOWN\";i:1;s:19:\"CREATIVE_COMMONS_BY\";i:2;s:19:\"ALL_RIGHTS_RESERVED\";}s:4:\"type\";s:6:\"string\";}s:8:\"metadata\";O:8:\"stdClass\":2:{s:11:\"description\";s:284:\"Application-defined
  opaque metadata for this asset. This field is only\nreturned when querying for the
  signed-in user's own assets, not for public\nassets. This string is limited to 1K
  chars. It is up to the creator of\nthe asset to define the format for this string
  (for example, JSON).\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"The
  unique identifier for the asset in the form:\n`assets/{ASSET_ID}`.\";s:4:\"type\";s:6:\"string\";}s:18:\"presentationParams\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/PresentationParams\";s:11:\"description\";s:134:\"Hints
  for displaying the asset. Note that these parameters are not\nimmutable; the author
  of an asset may change them post-publication.\";}s:9:\"thumbnail\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/File\";s:11:\"description\";s:34:\"The
  thumbnail image for the asset.\";}s:10:\"updateTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:182:\"The
  time when the asset was last modified. For published assets, whose\ncontents are
  immutable, the update time changes only when metadata\nproperties, such as visibility,
  are updated.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:10:\"visibility\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"The
  visibility of the asset and who can access it.\";s:4:\"enum\";a:4:{i:0;s:22:\"VISIBILITY_UNSPECIFIED\";i:1;s:7:\"PRIVATE\";i:2;s:8:\"UNLISTED\";i:3;s:6:\"PUBLIC\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"AssetImportMessage\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"A
  message generated by the asset import process.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"code\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  code associated with this message.\";s:4:\"enum\";a:10:{i:0;s:16:\"CODE_UNSPECIFIED\";i:1;s:18:\"NO_IMPORTABLE_FILE\";i:2;s:11:\"EMPTY_MODEL\";i:3;s:15:\"OBJ_PARSE_ERROR\";i:4;s:7:\"EXPIRED\";i:5;s:11:\"IMAGE_ERROR\";i:6;s:24:\"EXTRA_FILES_WITH_ARCHIVE\";i:7;s:17:\"DEFAULT_MATERIALS\";i:8;s:11:\"FATAL_ERROR\";i:9;s:20:\"INVALID_ELEMENT_TYPE\";}s:4:\"type\";s:6:\"string\";}s:8:\"filePath\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"An
  optional file path. Only present for those error codes that specify it.\";s:4:\"type\";s:6:\"string\";}s:10:\"imageError\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ImageError\";s:11:\"description\";s:61:\"An
  optional image error. Only present for INVALID_IMAGE_FILE.\";}s:13:\"objParseError\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ObjParseError\";s:11:\"description\";s:62:\"An
  optional OBJ parse error. Only present for OBJ_PARSE_ERROR.\";}}s:4:\"type\";s:6:\"object\";}s:4:\"File\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"Represents
  a file in Poly, which can be a root,\nresource, or thumbnail file.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"contentType\";O:8:\"stdClass\":2:{s:11:\"description\";s:154:\"The
  MIME content-type, such as `image/png`.\nFor more information, see\n[MIME types](//developer.mozilla.org/en-US/docs/Web/HTTP/Basics_of_HTTP/MIME_types).\";s:4:\"type\";s:6:\"string\";}s:12:\"relativePath\";O:8:\"stdClass\":2:{s:11:\"description\";s:112:\"The
  path of the resource file relative to the root file.\nFor root or thumbnail files,
  this is just the filename.\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"The
  URL where the file data can be retrieved.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Format\";O:8:\"stdClass\":3:{s:11:\"description\";s:399:\"The
  same asset can be represented in different formats, for example,\na [WaveFront .obj](//en.wikipedia.org/wiki/Wavefront_.obj_file)
  file with its\ncorresponding .mtl file or a [Khronos glTF](//www.khronos.org/gltf)
  file\nwith its corresponding .glb binary data. A format refers to a specific\nrepresentation
  of an asset and contains all information needed to\nretrieve and describe this representation.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:16:\"formatComplexity\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/FormatComplexity\";s:11:\"description\";s:56:\"Complexity
  stats about this representation of the asset.\";}s:10:\"formatType\";O:8:\"stdClass\":2:{s:11:\"description\";s:134:\"A
  short string that identifies the format type of this representation.\nPossible values
  are: `FBX`, `GLTF`, `GLTF2`, `OBJ`, and `TILT`.\";s:4:\"type\";s:6:\"string\";}s:9:\"resources\";O:8:\"stdClass\":3:{s:11:\"description\";s:121:\"A
  list of dependencies of the root element. May include, but is not\nlimited to, materials,
  textures, and shader programs.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/File\";}s:4:\"type\";s:5:\"array\";}s:4:\"root\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/File\";s:11:\"description\";s:266:\"The
  root of the file hierarchy. This will always be populated.\nFor some format_types
  - such as `TILT`, which are self-contained -\nthis is all of the data.\n\nOther
  types - such as `OBJ` - often reference other data elements.\nThese are contained
  in the resources field.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"FormatComplexity\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Information
  on the complexity of this Format.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"lodHint\";O:8:\"stdClass\":3:{s:11:\"description\";s:259:\"A
  non-negative integer that represents the level of detail (LOD) of this\nformat relative
  to other formats of the same asset with the same\nformat_type.\nThis hint allows
  you to sort formats from the most-detailed (0) to\nleast-detailed (integers greater
  than 0).\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:13:\"triangleCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  estimated number of triangles.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"ImageError\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"A
  message resulting from reading an image file.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"The
  type of image error encountered. Optional for older image errors.\";s:4:\"enum\";a:4:{i:0;s:16:\"CODE_UNSPECIFIED\";i:1;s:13:\"INVALID_IMAGE\";i:2;s:13:\"IMAGE_TOO_BIG\";i:3;s:16:\"WRONG_IMAGE_TYPE\";}s:4:\"type\";s:6:\"string\";}s:8:\"filePath\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"The
  file path in the import of the image that was rejected.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"ListAssetsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"A
  response message from a request to list.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"assets\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"A
  list of assets that match the criteria specified in the request.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Asset\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:189:\"The
  continuation token for retrieving the next page. If empty,\nindicates that there
  are no more pages. To get the next page, submit the\nsame request specifying this
  value as the\npage_token.\";s:4:\"type\";s:6:\"string\";}s:9:\"totalSize\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"The
  total number of assets in the list, without pagination.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:23:\"ListLikedAssetsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"A
  response message from a request to list.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"assets\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"A
  list of assets that match the criteria specified in the request.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Asset\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:189:\"The
  continuation token for retrieving the next page. If empty,\nindicates that there
  are no more pages. To get the next page, submit the\nsame request specifying this
  value as the\npage_token.\";s:4:\"type\";s:6:\"string\";}s:9:\"totalSize\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"The
  total number of assets in the list, without pagination.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:22:\"ListUserAssetsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"A
  response message from a request to list.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:189:\"The
  continuation token for retrieving the next page. If empty,\nindicates that there
  are no more pages. To get the next page, submit the\nsame request specifying this
  value as the\npage_token.\";s:4:\"type\";s:6:\"string\";}s:9:\"totalSize\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"The
  total number of assets in the list, without pagination.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"userAssets\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"A
  list of UserAssets matching the request.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/UserAsset\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:13:\"ObjParseError\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"Details
  of an error resulting from parsing an OBJ file\";s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"code\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"The
  type of problem found (required).\";s:4:\"enum\";a:26:{i:0;s:16:\"CODE_UNSPECIFIED\";i:1;s:24:\"INCONSISTENT_VERTEX_REFS\";i:2;s:15:\"INVALID_COMMAND\";i:3;s:14:\"INVALID_NUMBER\";i:4;s:18:\"INVALID_VERTEX_REF\";i:5;s:24:\"MISSING_GEOMETRIC_VERTEX\";i:6;s:13:\"MISSING_TOKEN\";i:7;s:18:\"TOO_FEW_DIMENSIONS\";i:8;s:16:\"TOO_FEW_VERTICES\";i:9;s:19:\"TOO_MANY_DIMENSIONS\";i:10;s:19:\"UNSUPPORTED_COMMAND\";i:11;s:13:\"UNUSED_TOKENS\";i:12;s:16:\"VERTEX_NOT_FOUND\";i:13;s:19:\"NUMBER_OUT_OF_RANGE\";i:14;s:13:\"INVALID_VALUE\";i:15;s:22:\"INVALID_TEXTURE_OPTION\";i:16;s:17:\"TOO_MANY_PROBLEMS\";i:17;s:17:\"MISSING_FILE_NAME\";i:18;s:14:\"FILE_NOT_FOUND\";i:19;s:16:\"UNKNOWN_MATERIAL\";i:20;s:19:\"NO_MATERIAL_DEFINED\";i:21;s:23:\"INVALID_SMOOTHING_GROUP\";i:22;s:21:\"MISSING_VERTEX_COLORS\";i:23;s:17:\"FILE_SUBSTITUTION\";i:24;s:13:\"LINE_TOO_LONG\";i:25;s:17:\"INVALID_FILE_PATH\";}s:4:\"type\";s:6:\"string\";}s:8:\"endIndex\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"The
  ending character index at which the problem was found.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"filePath\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"The
  file path in which the problem was found.\";s:4:\"type\";s:6:\"string\";}s:4:\"line\";O:8:\"stdClass\":2:{s:11:\"description\";s:147:\"The
  text of the line. Note that this may be truncated if the line was very\nlong. This
  may not include the error if it occurs after line truncation.\";s:4:\"type\";s:6:\"string\";}s:10:\"lineNumber\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Line
  number at which the problem was found.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"startIndex\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"The
  starting character index at which the problem was found.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:18:\"PresentationParams\";O:8:\"stdClass\":3:{s:11:\"description\";s:91:\"Hints
  for displaying the asset, based on information available when the asset\nwas uploaded.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"colorSpace\";O:8:\"stdClass\":3:{s:11:\"description\";s:90:\"The
  materials' diffuse/albedo color. This does not apply to vertex colors\nor texture
  maps.\";s:4:\"enum\";a:3:{i:0;s:7:\"UNKNOWN\";i:1;s:6:\"LINEAR\";i:2;s:5:\"GAMMA\";}s:4:\"type\";s:6:\"string\";}s:17:\"orientingRotation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Quaternion\";s:11:\"description\";s:892:\"A
  rotation that should be applied to the object root to make it upright.\nMore precisely,
  this quaternion transforms from \"object space\" (the space\nin which the object
  is defined) to \"presentation space\", a coordinate\nsystem where +Y is up, +X is
  right, -Z is forward. For example, if\nthe object is the Eiffel Tower, in its local
  coordinate system the\nobject might be laid out such that the base of the tower
  is on the\nYZ plane and the tip of the tower is towards positive X. In this case\nthis
  quaternion would specify a rotation (of 90 degrees about the Z\naxis) such that
  in the presentation space the base of the tower is\naligned with the XZ plane, and
  the tip of the tower lies towards +Y.\n\nThis rotation is unrelated to the object's
  pose in the web preview,\nwhich is just a camera position setting and is *not* reflected
  in this\nrotation.\n\nPlease note: this is applicable only to the gLTF.\";}}s:4:\"type\";s:6:\"object\";}s:10:\"Quaternion\";O:8:\"stdClass\":3:{s:11:\"description\";s:181:\"A
  [Quaternion](//en.wikipedia.org/wiki/Quaternion). Please note: if in the\nresponse
  you see \"w: 1\" and nothing else this is the default value of\n[0, 0, 0, 1] where
  x,y, and z are 0.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:1:\"w\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"The
  scalar component.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:1:\"x\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"The
  x component.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:1:\"y\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"The
  y component.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:1:\"z\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"The
  z component.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:24:\"StartAssetImportResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:99:\"A
  response message from a request to list.\nThis is returned in the response field
  of the Operation.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"assetId\";O:8:\"stdClass\":2:{s:11:\"description\";s:184:\"The
  id of newly created asset. If this is empty when the operation is\ncomplete it means
  the import failed. Please refer to the\nasset_import_message field to understand
  what went wrong.\";s:4:\"type\";s:6:\"string\";}s:13:\"assetImportId\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  id of the asset import.\";s:4:\"type\";s:6:\"string\";}s:19:\"assetImportMessages\";O:8:\"stdClass\":3:{s:11:\"description\";s:133:\"The
  message from the asset import. This will contain any warnings\n(or - in the case
  of failure - errors) that occurred during import.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/AssetImportMessage\";}s:4:\"type\";s:5:\"array\";}s:10:\"publishUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  publish URL for the asset.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"UserAsset\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Data
  about the user's asset.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"asset\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Asset\";s:11:\"description\";s:9:\"An
  Asset.\";}}s:4:\"type\";s:6:\"object\";}}"
...
