---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":15:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:9:\"x-twitter\";s:12:\"PermittedSoc\";}s:11:\"description\";s:1090:\"<fullname>AWS
  Directory Service</fullname> <p>AWS Directory Service is a web service that makes
  it easy for you to setup and run directories in the AWS cloud, or connect your AWS
  resources with an existing on-premises Microsoft Active Directory. This guide provides
  detailed information about AWS Directory Service operations, data types, parameters,
  and errors. For information about AWS Directory Services features, see <a href=\"https://aws.amazon.com/directoryservice/\">AWS
  Directory Service</a> and the <a href=\"http://docs.aws.amazon.com/directoryservice/latest/admin-guide/what_is.html\">AWS
  Directory Service Administration Guide</a>.</p> <note> <p>AWS provides SDKs that
  consist of libraries and sample code for various programming languages and platforms
  (Java, Ruby, .Net, iOS, Android, etc.). The SDKs provide a convenient way to create
  programmatic access to AWS Directory Service and other AWS services. For more information
  about the AWS SDKs, including how to download and install them, see <a href=\"http://aws.amazon.com/tools/\">Tools
  for Amazon Web Services</a>.</p> </note>\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache
  2.0 License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:21:\"AWS
  Directory Service\";s:7:\"version\";s:10:\"2015-04-16\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:86:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/ds-2015-04-16.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v4\";s:13:\"x-serviceName\";s:2:\"ds\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:12:\"amazonaws_ds\";s:4:\"type\";s:7:\"openapi\";}}"
host: ds.amazonaws.com
basePath: /
paths: ~
produces:
- application/json
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":226:{s:9:\"AccessUrl\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:128;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:18:\"AddIpRoutesRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"DirectoryId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/DirectoryId\";s:11:\"description\";s:67:\"Identifier
  (ID) of the directory to which to add the address block.\";}s:8:\"IpRoutes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/IpRoutes\";s:11:\"description\";s:149:\"IP
  address blocks, using CIDR format, of the traffic to route. This is often the IP
  address block of the DNS server used for your on-premises domain.\";}s:42:\"UpdateSecurityGroupForDirectoryControllers\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:56:\"#/definitions/UpdateSecurityGroupForDirectoryControllers\";s:11:\"description\";s:1899:\"<p>If
  set to true, updates the inbound and outbound rules of the security group that has
  the description: \"AWS created security group for <i>directory ID</i> directory
  controllers.\" Following are the new rules: </p> <p>Inbound:</p> <ul> <li> <p>Type:
  Custom UDP Rule, Protocol: UDP, Range: 88, Source: 0.0.0.0/0</p> </li> <li> <p>Type:
  Custom UDP Rule, Protocol: UDP, Range: 123, Source: 0.0.0.0/0</p> </li> <li> <p>Type:
  Custom UDP Rule, Protocol: UDP, Range: 138, Source: 0.0.0.0/0</p> </li> <li> <p>Type:
  Custom UDP Rule, Protocol: UDP, Range: 389, Source: 0.0.0.0/0</p> </li> <li> <p>Type:
  Custom UDP Rule, Protocol: UDP, Range: 464, Source: 0.0.0.0/0</p> </li> <li> <p>Type:
  Custom UDP Rule, Protocol: UDP, Range: 445, Source: 0.0.0.0/0</p> </li> <li> <p>Type:
  Custom TCP Rule, Protocol: TCP, Range: 88, Source: 0.0.0.0/0</p> </li> <li> <p>Type:
  Custom TCP Rule, Protocol: TCP, Range: 135, Source: 0.0.0.0/0</p> </li> <li> <p>Type:
  Custom TCP Rule, Protocol: TCP, Range: 445, Source: 0.0.0.0/0</p> </li> <li> <p>Type:
  Custom TCP Rule, Protocol: TCP, Range: 464, Source: 0.0.0.0/0</p> </li> <li> <p>Type:
  Custom TCP Rule, Protocol: TCP, Range: 636, Source: 0.0.0.0/0</p> </li> <li> <p>Type:
  Custom TCP Rule, Protocol: TCP, Range: 1024-65535, Source: 0.0.0.0/0</p> </li> <li>
  <p>Type: Custom TCP Rule, Protocol: TCP, Range: 3268-33269, Source: 0.0.0.0/0</p>
  </li> <li> <p>Type: DNS (UDP), Protocol: UDP, Range: 53, Source: 0.0.0.0/0</p> </li>
  <li> <p>Type: DNS (TCP), Protocol: TCP, Range: 53, Source: 0.0.0.0/0</p> </li> <li>
  <p>Type: LDAP, Protocol: TCP, Range: 389, Source: 0.0.0.0/0</p> </li> <li> <p>Type:
  All ICMP, Protocol: All, Range: N/A, Source: 0.0.0.0/0</p> </li> </ul> <p/> <p>Outbound:</p>
  <ul> <li> <p>Type: All traffic, Protocol: All, Range: All, Destination: 0.0.0.0/0</p>
  </li> </ul> <p>These security rules impact an internal network interface that is
  not exposed publicly.</p>\";}}s:8:\"required\";a:2:{i:0;s:11:\"DirectoryId\";i:1;s:8:\"IpRoutes\";}s:4:\"type\";s:6:\"object\";}s:17:\"AddIpRoutesResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:24:\"AddTagsToResourceRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"ResourceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ResourceId\";s:11:\"description\";s:58:\"Identifier
  (ID) for the directory to which to add the tag.\";}s:4:\"Tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Tags\";s:11:\"description\";s:41:\"The
  tags to be assigned to the directory.\";}}s:8:\"required\";a:2:{i:0;s:10:\"ResourceId\";i:1;s:4:\"Tags\";}s:4:\"type\";s:6:\"object\";}s:23:\"AddTagsToResourceResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:13:\"AddedDateTime\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:9:\"AliasName\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:62;s:9:\"minLength\";i:1;s:7:\"pattern\";s:37:\"^(?!d-)([\\da-zA-Z]+)([-]*[\\da-zA-Z])*\";s:4:\"type\";s:6:\"string\";}s:9:\"Attribute\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Represents
  a named directory attribute.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/AttributeName\";s:11:\"description\";s:26:\"The
  name of the attribute.\";}s:5:\"Value\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/AttributeValue\";s:11:\"description\";s:27:\"The
  value of the attribute.\";}}s:4:\"type\";s:6:\"object\";}s:13:\"AttributeName\";O:8:\"stdClass\":2:{s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:14:\"AttributeValue\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"Attributes\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Attribute\";}s:4:\"type\";s:5:\"array\";}s:29:\"AuthenticationFailedException\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"An
  authentication error occurred.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ExceptionMessage\";s:11:\"description\";s:38:\"The
  textual message for the exception.\";}s:9:\"RequestId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/RequestId\";s:11:\"description\";s:56:\"The
  identifier of the request that caused the exception.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"AvailabilityZone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"AvailabilityZones\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/AvailabilityZone\";}s:4:\"type\";s:5:\"array\";}s:28:\"CancelSchemaExtensionRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"DirectoryId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/DirectoryId\";s:11:\"description\";s:72:\"The
  identifier of the directory whose schema extension will be canceled.\";}s:17:\"SchemaExtensionId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/SchemaExtensionId\";s:11:\"description\";s:61:\"The
  identifier of the schema extension that will be canceled.\";}}s:8:\"required\";a:2:{i:0;s:11:\"DirectoryId\";i:1;s:17:\"SchemaExtensionId\";}s:4:\"type\";s:6:\"object\";}s:27:\"CancelSchemaExtensionResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:6:\"CidrIp\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:134:\"^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])(\\/([1-9]|[1-2][0-9]|3[0-2]))$\";s:4:\"type\";s:6:\"string\";}s:7:\"CidrIps\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/CidrIp\";}s:4:\"type\";s:5:\"array\";}s:15:\"ClientException\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"A
  client exception has occurred.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ExceptionMessage\";}s:9:\"RequestId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/RequestId\";}}s:4:\"type\";s:6:\"object\";}s:32:\"CloudOnlyDirectoriesLimitReached\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"Computer\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"Contains
  information about a computer account in a directory.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:18:\"ComputerAttributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Attributes\";s:11:\"description\";s:104:\"An
  array of <a>Attribute</a> objects containing the LDAP attributes that belong to
  the computer account.\";}s:10:\"ComputerId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/SID\";s:11:\"description\";s:31:\"The
  identifier of the computer.\";}s:12:\"ComputerName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ComputerName\";s:11:\"description\";s:18:\"The
  computer name.\";}}s:4:\"type\";s:6:\"object\";}s:12:\"ComputerName\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:15;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:16:\"ComputerPassword\";O:8:\"stdClass\":5:{s:6:\"format\";s:8:\"password\";s:9:\"maxLength\";i:64;s:9:\"minLength\";i:8;s:7:\"pattern\";s:16:\"[\\u0020-\\u00FF]+\";s:4:\"type\";s:6:\"string\";}s:20:\"ConditionalForwarder\";O:8:\"stdClass\":3:{s:11:\"description\";s:174:\"Points
  to a remote domain with which you are setting up a trust relationship. Conditional
  forwarders are required in order to set up a trust relationship with another domain.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"DnsIpAddrs\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/DnsIpAddrs\";s:11:\"description\";s:159:\"The
  IP addresses of the remote DNS server associated with RemoteDomainName. This is
  the IP address of the DNS server that your conditional forwarder points to.\";}s:16:\"RemoteDomainName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/RemoteDomainName\";s:11:\"description\";s:101:\"The
  fully qualified domain name (FQDN) of the remote domains pointed to by the conditional
  forwarder.\";}s:16:\"ReplicationScope\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ReplicationScope\";s:11:\"description\";s:202:\"The
  replication scope of the conditional forwarder. The only allowed value is <code>Domain</code>,
  which will replicate the conditional forwarder to all of the domain controllers
  for your AWS directory.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"ConditionalForwarders\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/ConditionalForwarder\";}s:4:\"type\";s:5:\"array\";}s:23:\"ConnectDirectoryRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:62:\"Contains
  the inputs for the <a>ConnectDirectory</a> operation.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:15:\"ConnectSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/DirectoryConnectSettings\";s:11:\"description\";s:96:\"A
  <a>DirectoryConnectSettings</a> object that contains additional information for
  the operation.\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Description\";s:11:\"description\";s:40:\"A
  textual description for the directory.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/DirectoryName\";s:11:\"description\";s:93:\"The
  fully-qualified name of the on-premises directory, such as <code>corp.example.com</code>.\";}s:8:\"Password\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ConnectPassword\";s:11:\"description\";s:46:\"The
  password for the on-premises user account.\";}s:9:\"ShortName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/DirectoryShortName\";s:11:\"description\";s:73:\"The
  NetBIOS name of the on-premises directory, such as <code>CORP</code>.\";}s:4:\"Size\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/DirectorySize\";s:11:\"description\";s:26:\"The
  size of the directory.\";}}s:8:\"required\";a:4:{i:0;s:4:\"Name\";i:1;s:8:\"Password\";i:2;s:4:\"Size\";i:3;s:15:\"ConnectSettings\";}s:4:\"type\";s:6:\"object\";}s:22:\"ConnectDirectoryResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"Contains
  the results of the <a>ConnectDirectory</a> operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"DirectoryId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/DirectoryId\";s:11:\"description\";s:36:\"The
  identifier of the new directory.\";}}s:4:\"type\";s:6:\"object\";}s:15:\"ConnectPassword\";O:8:\"stdClass\":4:{s:6:\"format\";s:8:\"password\";s:9:\"maxLength\";i:128;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:32:\"ConnectedDirectoriesLimitReached\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:18:\"CreateAliasRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:57:\"Contains
  the inputs for the <a>CreateAlias</a> operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"Alias\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/AliasName\";s:11:\"description\";s:189:\"<p>The
  requested alias.</p> <p>The alias must be unique amongst all aliases in AWS. This
  operation throws an <code>EntityAlreadyExistsException</code> error if the alias
  already exists.</p>\";}s:11:\"DirectoryId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/DirectoryId\";s:11:\"description\";s:62:\"The
  identifier of the directory for which to create the alias.\";}}s:8:\"required\";a:2:{i:0;s:11:\"DirectoryId\";i:1;s:5:\"Alias\";}s:4:\"type\";s:6:\"object\";}s:17:\"CreateAliasResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"Contains
  the results of the <a>CreateAlias</a> operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"Alias\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/AliasName\";s:11:\"description\";s:28:\"The
  alias for the directory.\";}s:11:\"DirectoryId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/DirectoryId\";s:11:\"description\";s:32:\"The
  identifier of the directory.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"CreateComputerRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:60:\"Contains
  the inputs for the <a>CreateComputer</a> operation.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:18:\"ComputerAttributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Attributes\";s:11:\"description\";s:103:\"An
  array of <a>Attribute</a> objects that contain any LDAP attributes to apply to the
  computer account.\";}s:12:\"ComputerName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ComputerName\";s:11:\"description\";s:33:\"The
  name of the computer account.\";}s:11:\"DirectoryId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/DirectoryId\";s:11:\"description\";s:72:\"The
  identifier of the directory in which to create the computer account.\";}s:35:\"OrganizationalUnitDistinguishedName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/OrganizationalUnitDN\";s:11:\"description\";s:99:\"The
  fully-qualified distinguished name of the organizational unit to place the computer
  account in.\";}s:8:\"Password\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ComputerPassword\";s:11:\"description\";s:144:\"A
  one-time password that is used to join the computer to the directory. You should
  generate a random, strong password to use for this parameter.\";}}s:8:\"required\";a:3:{i:0;s:11:\"DirectoryId\";i:1;s:12:\"ComputerName\";i:2;s:8:\"Password\";}s:4:\"type\";s:6:\"object\";}s:20:\"CreateComputerResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"Contains
  the results for the <a>CreateComputer</a> operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"Computer\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Computer\";s:11:\"description\";s:62:\"A
  <a>Computer</a> object that represents the computer account.\";}}s:4:\"type\";s:6:\"object\";}s:33:\"CreateConditionalForwarderRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:209:\"Initiates
  the creation of a conditional forwarder for your AWS Directory Service for Microsoft
  Active Directory. Conditional forwarders are required in order to set up a trust
  relationship with another domain.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"DirectoryId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/DirectoryId\";s:11:\"description\";s:91:\"The
  directory ID of the AWS directory for which you are creating the conditional forwarder.\";}s:10:\"DnsIpAddrs\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/DnsIpAddrs\";s:11:\"description\";s:75:\"The
  IP addresses of the remote DNS server associated with RemoteDomainName.\";}s:16:\"RemoteDomainName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/RemoteDomainName\";s:11:\"description\";s:108:\"The
  fully qualified domain name (FQDN) of the remote domain with which you will set
  up a trust relationship.\";}}s:8:\"required\";a:3:{i:0;s:11:\"DirectoryId\";i:1;s:16:\"RemoteDomainName\";i:2;s:10:\"DnsIpAddrs\";}s:4:\"type\";s:6:\"object\";}s:32:\"CreateConditionalForwarderResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"The
  result of a CreateConditinalForwarder request.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:22:\"CreateDirectoryRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:62:\"Contains
  the inputs for the <a>CreateDirectory</a> operation. \";s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Description\";s:11:\"description\";s:40:\"A
  textual description for the directory.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/DirectoryName\";s:11:\"description\";s:82:\"The
  fully qualified name for the directory, such as <code>corp.example.com</code>.\";}s:8:\"Password\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Password\";s:11:\"description\";s:182:\"The
  password for the directory administrator. The directory creation process creates
  a directory administrator account with the username <code>Administrator</code> and
  this password.\";}s:9:\"ShortName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/DirectoryShortName\";s:11:\"description\";s:59:\"The
  short name of the directory, such as <code>CORP</code>.\";}s:4:\"Size\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/DirectorySize\";s:11:\"description\";s:26:\"The
  size of the directory.\";}s:11:\"VpcSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/DirectoryVpcSettings\";s:11:\"description\";s:92:\"A
  <a>DirectoryVpcSettings</a> object that contains additional information for the
  operation.\";}}s:8:\"required\";a:3:{i:0;s:4:\"Name\";i:1;s:8:\"Password\";i:2;s:4:\"Size\";}s:4:\"type\";s:6:\"object\";}s:21:\"CreateDirectoryResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"Contains
  the results of the <a>CreateDirectory</a> operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"DirectoryId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/DirectoryId\";s:11:\"description\";s:49:\"The
  identifier of the directory that was created.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"CreateMicrosoftADRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:40:\"Creates
  a Microsoft AD in the AWS cloud.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Description\";s:11:\"description\";s:150:\"A
  textual description for the directory. This label will appear on the AWS console
  <code>Directory Details</code> page after the directory is created.\";}s:7:\"Edition\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/DirectoryEdition\";s:11:\"description\";s:98:\"AWS
  Microsoft AD is available in two editions: Standard and Enterprise. Enterprise is
  the default.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/DirectoryName\";s:11:\"description\";s:178:\"The
  fully qualified domain name for the directory, such as <code>corp.example.com</code>.
  This name will resolve inside your VPC only. It does not need to be publicly resolvable.\";}s:8:\"Password\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Password\";s:11:\"description\";s:74:\"The
  password for the default administrative user named <code>Admin</code>.\";}s:9:\"ShortName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/DirectoryShortName\";s:11:\"description\";s:275:\"The
  NetBIOS name for your domain. A short identifier for your domain, such as <code>CORP</code>.
  If you don't specify a NetBIOS name, it will default to the first part of your directory
  DNS. For example, <code>CORP</code> for the directory DNS <code>corp.example.com</code>.
  \";}s:11:\"VpcSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/DirectoryVpcSettings\";s:11:\"description\";s:94:\"Contains
  VPC information for the <a>CreateDirectory</a> or <a>CreateMicrosoftAD</a> operation.\";}}s:8:\"required\";a:3:{i:0;s:4:\"Name\";i:1;s:8:\"Password\";i:2;s:11:\"VpcSettings\";}s:4:\"type\";s:6:\"object\";}s:23:\"CreateMicrosoftADResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Result
  of a CreateMicrosoftAD request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"DirectoryId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/DirectoryId\";s:11:\"description\";s:49:\"The
  identifier of the directory that was created.\";}}s:4:\"type\";s:6:\"object\";}s:35:\"CreateSnapshotBeforeSchemaExtension\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:21:\"CreateSnapshotRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:60:\"Contains
  the inputs for the <a>CreateSnapshot</a> operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"DirectoryId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/DirectoryId\";s:11:\"description\";s:60:\"The
  identifier of the directory of which to take a snapshot.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/SnapshotName\";s:11:\"description\";s:46:\"The
  descriptive name to apply to the snapshot.\";}}s:8:\"required\";a:1:{i:0;s:11:\"DirectoryId\";}s:4:\"type\";s:6:\"object\";}s:20:\"CreateSnapshotResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"Contains
  the results of the <a>CreateSnapshot</a> operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"SnapshotId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/SnapshotId\";s:11:\"description\";s:48:\"The
  identifier of the snapshot that was created.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"CreateTrustRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:512:\"<p>AWS
  Directory Service for Microsoft Active Directory allows you to configure trust relationships.
  For example, you can establish a trust between your Microsoft AD in the AWS cloud,
  and your existing on-premises Microsoft Active Directory. This would allow you to
  provide users and groups access to resources in either domain, with a single set
  of credentials.</p> <p>This action initiates the creation of the AWS side of a trust
  relationship between a Microsoft AD in the AWS cloud and an external domain.</p>\";s:10:\"properties\";O:8:\"stdClass\":6:{s:27:\"ConditionalForwarderIpAddrs\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/DnsIpAddrs\";s:11:\"description\";s:75:\"The
  IP addresses of the remote DNS server associated with RemoteDomainName.\";}s:11:\"DirectoryId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/DirectoryId\";s:11:\"description\";s:100:\"The
  Directory ID of the Microsoft AD in the AWS cloud for which to establish the trust
  relationship.\";}s:16:\"RemoteDomainName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/RemoteDomainName\";s:11:\"description\";s:105:\"The
  Fully Qualified Domain Name (FQDN) of the external domain for which to create the
  trust relationship.\";}s:14:\"TrustDirection\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/TrustDirection\";s:11:\"description\";s:40:\"The
  direction of the trust relationship.\";}s:13:\"TrustPassword\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/TrustPassword\";s:11:\"description\";s:124:\"The
  trust password. The must be the same password that was used when creating the trust
  relationship on the external domain.\";}s:9:\"TrustType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/TrustType\";s:11:\"description\";s:28:\"The
  trust relationship type.\";}}s:8:\"required\";a:4:{i:0;s:11:\"DirectoryId\";i:1;s:16:\"RemoteDomainName\";i:2;s:13:\"TrustPassword\";i:3;s:14:\"TrustDirection\";}s:4:\"type\";s:6:\"object\";}s:17:\"CreateTrustResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  result of a CreateTrust request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"TrustId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/TrustId\";s:11:\"description\";s:64:\"A
  unique identifier for the trust relationship that was created.\";}}s:4:\"type\";s:6:\"object\";}s:15:\"CreatedDateTime\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:16:\"CustomerUserName\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:64;s:9:\"minLength\";i:1;s:7:\"pattern\";s:79:\"^(?!.*\\\\|.*\"|.*\\/|.*\\[|.*\\]|.*:|.*;|.*\\||.*=|.*,|.*\\+|.*\\*|.*\\?|.*<|.*>|.*@).*$\";s:4:\"type\";s:6:\"string\";}s:36:\"DeleteAssociatedConditionalForwarder\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:33:\"DeleteConditionalForwarderRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"Deletes
  a conditional forwarder.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"DirectoryId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/DirectoryId\";s:11:\"description\";s:70:\"The
  directory ID for which you are deleting the conditional forwarder.\";}s:16:\"RemoteDomainName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/RemoteDomainName\";s:11:\"description\";s:114:\"The
  fully qualified domain name (FQDN) of the remote domain with which you are deleting
  the conditional forwarder.\";}}s:8:\"required\";a:2:{i:0;s:11:\"DirectoryId\";i:1;s:16:\"RemoteDomainName\";}s:4:\"type\";s:6:\"object\";}s:32:\"DeleteConditionalForwarderResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  result of a DeleteConditionalForwarder request.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:22:\"DeleteDirectoryRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:61:\"Contains
  the inputs for the <a>DeleteDirectory</a> operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"DirectoryId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/DirectoryId\";s:11:\"description\";s:42:\"The
  identifier of the directory to delete.\";}}s:8:\"required\";a:1:{i:0;s:11:\"DirectoryId\";}s:4:\"type\";s:6:\"object\";}s:21:\"DeleteDirectoryResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"Contains
  the results of the <a>DeleteDirectory</a> operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"DirectoryId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/DirectoryId\";s:11:\"description\";s:25:\"The
  directory identifier.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"DeleteSnapshotRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:60:\"Contains
  the inputs for the <a>DeleteSnapshot</a> operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"SnapshotId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/SnapshotId\";s:11:\"description\";s:55:\"The
  identifier of the directory snapshot to be deleted.\";}}s:8:\"required\";a:1:{i:0;s:10:\"SnapshotId\";}s:4:\"type\";s:6:\"object\";}s:20:\"DeleteSnapshotResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"Contains
  the results of the <a>DeleteSnapshot</a> operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"SnapshotId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/SnapshotId\";s:11:\"description\";s:58:\"The
  identifier of the directory snapshot that was deleted.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"DeleteTrustRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:123:\"Deletes
  the local side of an existing trust relationship between the Microsoft AD in the
  AWS cloud and the external domain.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:36:\"DeleteAssociatedConditionalForwarder\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:50:\"#/definitions/DeleteAssociatedConditionalForwarder\";s:11:\"description\";s:63:\"Delete
  a conditional forwarder as part of a DeleteTrustRequest.\";}s:7:\"TrustId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/TrustId\";s:11:\"description\";s:53:\"The
  Trust ID of the trust relationship to be deleted.\";}}s:8:\"required\";a:1:{i:0;s:7:\"TrustId\";}s:4:\"type\";s:6:\"object\";}s:17:\"DeleteTrustResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  result of a DeleteTrust request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"TrustId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/TrustId\";s:11:\"description\";s:56:\"The
  Trust ID of the trust relationship that was deleted.\";}}s:4:\"type\";s:6:\"object\";}s:27:\"DeregisterEventTopicRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:74:\"Removes
  the specified directory as a publisher to the specified SNS topic.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"DirectoryId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/DirectoryId\";s:11:\"description\";s:114:\"The
  Directory ID to remove as a publisher. This directory will no longer send messages
  to the specified SNS topic.\";}s:9:\"TopicName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/TopicName\";s:11:\"description\";s:76:\"The
  name of the SNS topic from which to remove the directory as a publisher.\";}}s:8:\"required\";a:2:{i:0;s:11:\"DirectoryId\";i:1;s:9:\"TopicName\";}s:4:\"type\";s:6:\"object\";}s:26:\"DeregisterEventTopicResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"The
  result of a DeregisterEventTopic request.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:36:\"DescribeConditionalForwardersRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:34:\"Describes
  a conditional forwarder.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"DirectoryId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/DirectoryId\";s:11:\"description\";s:80:\"The
  directory ID for which to get the list of associated conditional forwarders.\";}s:17:\"RemoteDomainNames\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/RemoteDomainNames\";s:11:\"description\";s:190:\"The
  fully qualified domain names (FQDN) of the remote domains for which to get the list
  of associated conditional forwarders. If this member is null, all conditional forwarders
  are returned.\";}}s:8:\"required\";a:1:{i:0;s:11:\"DirectoryId\";}s:4:\"type\";s:6:\"object\";}s:35:\"DescribeConditionalForwardersResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"The
  result of a DescribeConditionalForwarder request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:21:\"ConditionalForwarders\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/ConditionalForwarders\";s:11:\"description\";s:58:\"The
  list of conditional forwarders that have been created.\";}}s:4:\"type\";s:6:\"object\";}s:26:\"DescribeDirectoriesRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"Contains
  the inputs for the <a>DescribeDirectories</a> operation.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"DirectoryIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/DirectoryIds\";s:11:\"description\";s:261:\"<p>A
  list of identifiers of the directories for which to obtain the information. If this
  member is null, all directories that belong to the current account are returned.</p>
  <p>An empty list results in an <code>InvalidParameterException</code> being thrown.</p>\";}s:5:\"Limit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Limit\";s:11:\"description\";s:139:\"The
  maximum number of items to return. If this value is zero, the maximum number of
  items is specified by the limitations of the operation.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:141:\"The
  <i>DescribeDirectoriesResult.NextToken</i> value from a previous call to <a>DescribeDirectories</a>.
  Pass null if this is the first call.\";}}s:4:\"type\";s:6:\"object\";}s:25:\"DescribeDirectoriesResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"Contains
  the results of the <a>DescribeDirectories</a> operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:21:\"DirectoryDescriptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/DirectoryDescriptions\";s:11:\"description\";s:346:\"<p>The
  list of <a>DirectoryDescription</a> objects that were retrieved.</p> <p>It is possible
  that this list contains less than the number of items specified in the <i>Limit</i>
  member of the request. This occurs if there are less than the requested number of
  items left to retrieve, or if the limitations of the operation have been exceeded.</p>\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:177:\"If
  not null, more results are available. Pass this value for the <i>NextToken</i> parameter
  in a subsequent call to <a>DescribeDirectories</a> to retrieve the next set of items.\";}}s:4:\"type\";s:6:\"object\";}s:32:\"DescribeDomainControllersRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"DirectoryId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/DirectoryId\";s:11:\"description\";s:84:\"Identifier
  of the directory for which to retrieve the domain controller information.\";}s:19:\"DomainControllerIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/DomainControllerIds\";s:11:\"description\";s:84:\"A
  list of identifiers for the domain controllers whose information will be provided.\";}s:5:\"Limit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Limit\";s:11:\"description\";s:38:\"The
  maximum number of items to return.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:148:\"The
  <i>DescribeDomainControllers.NextToken</i> value from a previous call to <a>DescribeDomainControllers</a>.
  Pass null if this is the first call. \";}}s:8:\"required\";a:1:{i:0;s:11:\"DirectoryId\";}s:4:\"type\";s:6:\"object\";}s:31:\"DescribeDomainControllersResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"DomainControllers\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/DomainControllers\";s:11:\"description\";s:64:\"List
  of the <a>DomainController</a> objects that were retrieved.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:186:\"If
  not null, more results are available. Pass this value for the <code>NextToken</code>
  parameter in a subsequent call to <a>DescribeDomainControllers</a> retrieve the
  next set of items.\";}}s:4:\"type\";s:6:\"object\";}s:26:\"DescribeEventTopicsRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Describes
  event topics.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"DirectoryId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/DirectoryId\";s:11:\"description\";s:141:\"The
  Directory ID for which to get the list of associated SNS topics. If this member
  is null, associations for all Directory IDs are returned.\";}s:10:\"TopicNames\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/TopicNames\";s:11:\"description\";s:243:\"<p>A
  list of SNS topic names for which to obtain the information. If this member is null,
  all associations for the specified Directory ID are returned.</p> <p>An empty list
  results in an <code>InvalidParameterException</code> being thrown.</p>\";}}s:4:\"type\";s:6:\"object\";}s:25:\"DescribeEventTopicsResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  result of a DescribeEventTopic request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"EventTopics\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/EventTopics\";s:11:\"description\";s:87:\"A
  list of SNS topic names that receive status messages from the specified Directory
  ID.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"DescribeSnapshotsRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"Contains
  the inputs for the <a>DescribeSnapshots</a> operation.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"DirectoryId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/DirectoryId\";s:11:\"description\";s:75:\"The
  identifier of the directory for which to retrieve snapshot information.\";}s:5:\"Limit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Limit\";s:11:\"description\";s:40:\"The
  maximum number of objects to return.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:137:\"The
  <i>DescribeSnapshotsResult.NextToken</i> value from a previous call to <a>DescribeSnapshots</a>.
  Pass null if this is the first call.\";}s:11:\"SnapshotIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/SnapshotIds\";s:11:\"description\";s:182:\"A
  list of identifiers of the snapshots to obtain the information for. If this member
  is null or empty, all snapshots are returned using the <i>Limit</i> and <i>NextToken</i>
  members.\";}}s:4:\"type\";s:6:\"object\";}s:23:\"DescribeSnapshotsResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"Contains
  the results of the <a>DescribeSnapshots</a> operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:137:\"If
  not null, more results are available. Pass this value in the <i>NextToken</i> member
  of a subsequent call to <a>DescribeSnapshots</a>.\";}s:9:\"Snapshots\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Snapshots\";s:11:\"description\";s:334:\"<p>The
  list of <a>Snapshot</a> objects that were retrieved.</p> <p>It is possible that
  this list contains less than the number of items specified in the <i>Limit</i> member
  of the request. This occurs if there are less than the requested number of items
  left to retrieve, or if the limitations of the operation have been exceeded.</p>\";}}s:4:\"type\";s:6:\"object\";}s:21:\"DescribeTrustsRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:208:\"Describes
  the trust relationships for a particular Microsoft AD in the AWS cloud. If no input
  parameters are are provided, such as directory ID or trust ID, this request describes
  all the trust relationships.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"DirectoryId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/DirectoryId\";s:11:\"description\";s:89:\"The
  Directory ID of the AWS directory that is a part of the requested trust relationship.\";}s:5:\"Limit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Limit\";s:11:\"description\";s:40:\"The
  maximum number of objects to return.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:131:\"The
  <i>DescribeTrustsResult.NextToken</i> value from a previous call to <a>DescribeTrusts</a>.
  Pass null if this is the first call.\";}s:8:\"TrustIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/TrustIds\";s:11:\"description\";s:277:\"<p>A
  list of identifiers of the trust relationships for which to obtain the information.
  If this member is null, all trust relationships that belong to the current account
  are returned.</p> <p>An empty list results in an <code>InvalidParameterException</code>
  being thrown.</p>\";}}s:4:\"type\";s:6:\"object\";}s:20:\"DescribeTrustsResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  result of a DescribeTrust request.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:172:\"If
  not null, more results are available. Pass this value for the <i>NextToken</i> parameter
  in a subsequent call to <a>DescribeTrusts</a> to retrieve the next set of items.\";}s:6:\"Trusts\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Trusts\";s:11:\"description\";s:324:\"<p>The
  list of Trust objects that were retrieved.</p> <p>It is possible that this list
  contains less than the number of items specified in the <i>Limit</i> member of the
  request. This occurs if there are less than the requested number of items left to
  retrieve, or if the limitations of the operation have been exceeded.</p>\";}}s:4:\"type\";s:6:\"object\";}s:11:\"Description\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:128;s:9:\"minLength\";i:0;s:7:\"pattern\";s:45:\"^([a-zA-Z0-9_])[\\\\a-zA-Z0-9_@#%*+=:?./!\\s-]*$\";s:4:\"type\";s:6:\"string\";}s:32:\"DesiredNumberOfDomainControllers\";O:8:\"stdClass\":2:{s:7:\"minimum\";i:2;s:4:\"type\";s:7:\"integer\";}s:24:\"DirectoryConnectSettings\";O:8:\"stdClass\":4:{s:11:\"description\";s:111:\"Contains
  information for the <a>ConnectDirectory</a> operation when an AD Connector directory
  is being created.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:14:\"CustomerDnsIps\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/DnsIpAddrs\";s:11:\"description\";s:101:\"A
  list of one or more IP addresses of DNS servers or domain controllers in the on-premises
  directory.\";}s:16:\"CustomerUserName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/UserName\";s:11:\"description\";s:293:\"<p>The
  username of an account in the on-premises directory that is used to connect to the
  directory. This account must have the following privileges:</p> <ul> <li> <p>Read
  users and groups</p> </li> <li> <p>Create computer objects</p> </li> <li> <p>Join
  computers to the domain</p> </li> </ul>\";}s:9:\"SubnetIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/SubnetIds\";s:11:\"description\";s:77:\"A
  list of subnet identifiers in the VPC in which the AD Connector is created.\";}s:5:\"VpcId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/VpcId\";s:11:\"description\";s:63:\"The
  identifier of the VPC in which the AD Connector is created.\";}}s:8:\"required\";a:4:{i:0;s:5:\"VpcId\";i:1;s:9:\"SubnetIds\";i:2;s:14:\"CustomerDnsIps\";i:3;s:16:\"CustomerUserName\";}s:4:\"type\";s:6:\"object\";}s:35:\"DirectoryConnectSettingsDescription\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Contains
  information about an AD Connector directory.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:17:\"AvailabilityZones\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/AvailabilityZones\";s:11:\"description\";s:58:\"A
  list of the Availability Zones that the directory is in.\";}s:10:\"ConnectIps\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/IpAddrs\";s:11:\"description\";s:45:\"The
  IP addresses of the AD Connector servers.\";}s:16:\"CustomerUserName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/UserName\";s:11:\"description\";s:65:\"The
  username of the service account in the on-premises directory.\";}s:15:\"SecurityGroupId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/SecurityGroupId\";s:11:\"description\";s:61:\"The
  security group identifier for the AD Connector directory.\";}s:9:\"SubnetIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/SubnetIds\";s:11:\"description\";s:68:\"A
  list of subnet identifiers in the VPC that the AD connector is in.\";}s:5:\"VpcId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/VpcId\";s:11:\"description\";s:54:\"The
  identifier of the VPC that the AD Connector is in.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"DirectoryDescription\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"Contains
  information about an AWS Directory Service directory.\";s:10:\"properties\";O:8:\"stdClass\":20:{s:9:\"AccessUrl\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/AccessUrl\";s:11:\"description\";s:227:\"The
  access URL for the directory, such as <code>http://&lt;alias&gt;.awsapps.com</code>.
  If no alias has been created for the directory, <code>&lt;alias&gt;</code> is the
  directory identifier, such as <code>d-XXXXXXXXXX</code>.\";}s:5:\"Alias\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/AliasName\";s:11:\"description\";s:150:\"The
  alias for the directory. If no alias has been created for the directory, the alias
  is the directory identifier, such as <code>d-XXXXXXXXXX</code>.\";}s:15:\"ConnectSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:49:\"#/definitions/DirectoryConnectSettingsDescription\";s:11:\"description\";s:196:\"A
  <a>DirectoryConnectSettingsDescription</a> object that contains additional information
  about an AD Connector directory. This member is only present if the directory is
  an AD Connector directory.\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Description\";s:11:\"description\";s:42:\"The
  textual description for the directory.\";}s:32:\"DesiredNumberOfDomainControllers\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:46:\"#/definitions/DesiredNumberOfDomainControllers\";s:11:\"description\";s:91:\"The
  desired number of domain controllers in the directory if the directory is Microsoft
  AD.\";}s:11:\"DirectoryId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/DirectoryId\";s:11:\"description\";s:25:\"The
  directory identifier.\";}s:10:\"DnsIpAddrs\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/DnsIpAddrs\";s:11:\"description\";s:344:\"The
  IP addresses of the DNS servers for the directory. For a Simple AD or Microsoft
  AD directory, these are the IP addresses of the Simple AD or Microsoft AD directory
  servers. For an AD Connector directory, these are the IP addresses of the DNS servers
  or domain controllers in the on-premises directory to which the AD Connector is
  connected.\";}s:7:\"Edition\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/DirectoryEdition\";s:11:\"description\";s:43:\"The
  edition associated with this directory.\";}s:10:\"LaunchTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/LaunchTime\";s:11:\"description\";s:41:\"Specifies
  when the directory was created.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/DirectoryName\";s:11:\"description\";s:42:\"The
  fully-qualified name of the directory.\";}s:14:\"RadiusSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/RadiusSettings\";s:11:\"description\";s:111:\"A
  <a>RadiusSettings</a> object that contains information about the RADIUS server configured
  for this directory.\";}s:12:\"RadiusStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/RadiusStatus\";s:11:\"description\";s:47:\"The
  status of the RADIUS MFA server connection.\";}s:9:\"ShortName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/DirectoryShortName\";s:11:\"description\";s:32:\"The
  short name of the directory.\";}s:4:\"Size\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/DirectorySize\";s:11:\"description\";s:19:\"The
  directory size.\";}s:10:\"SsoEnabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/SsoEnabled\";s:11:\"description\";s:123:\"Indicates
  if single-sign on is enabled for the directory. For more information, see <a>EnableSso</a>
  and <a>DisableSso</a>.\";}s:5:\"Stage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/DirectoryStage\";s:11:\"description\";s:35:\"The
  current stage of the directory.\";}s:24:\"StageLastUpdatedDateTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/LastUpdatedDateTime\";s:11:\"description\";s:50:\"The
  date and time that the stage was last updated.\";}s:11:\"StageReason\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/StageReason\";s:11:\"description\";s:49:\"Additional
  information about the directory stage.\";}s:4:\"Type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/DirectoryType\";s:11:\"description\";s:19:\"The
  directory size.\";}s:11:\"VpcSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:45:\"#/definitions/DirectoryVpcSettingsDescription\";s:11:\"description\";s:188:\"A
  <a>DirectoryVpcSettingsDescription</a> object that contains additional information
  about a directory. This member is only present if the directory is a Simple AD or
  Managed AD directory.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"DirectoryDescriptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"A
  list of directory descriptions.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/DirectoryDescription\";}s:4:\"type\";s:5:\"array\";}s:16:\"DirectoryEdition\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:10:\"Enterprise\";i:1;s:8:\"Standard\";}s:4:\"type\";s:6:\"string\";}s:11:\"DirectoryId\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:16:\"^d-[0-9a-f]{10}$\";s:4:\"type\";s:6:\"string\";}s:12:\"DirectoryIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"A
  list of directory identifiers.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/DirectoryId\";}s:4:\"type\";s:5:\"array\";}s:31:\"DirectoryLimitExceededException\";O:8:\"stdClass\":3:{s:11:\"description\";s:167:\"The
  maximum number of directories in the region has been reached. You can use the <a>GetDirectoryLimits</a>
  operation to determine your directory limits in the region.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ExceptionMessage\";}s:9:\"RequestId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/RequestId\";}}s:4:\"type\";s:6:\"object\";}s:15:\"DirectoryLimits\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Contains
  directory limit information for a region.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:32:\"CloudOnlyDirectoriesCurrentCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Limit\";s:11:\"description\";s:54:\"The
  current number of cloud directories in the region.\";}s:25:\"CloudOnlyDirectoriesLimit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Limit\";s:11:\"description\";s:62:\"The
  maximum number of cloud directories allowed in the region.\";}s:32:\"CloudOnlyDirectoriesLimitReached\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:46:\"#/definitions/CloudOnlyDirectoriesLimitReached\";s:11:\"description\";s:56:\"Indicates
  if the cloud directory limit has been reached.\";}s:32:\"CloudOnlyMicrosoftADCurrentCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Limit\";s:11:\"description\";s:61:\"The
  current number of Microsoft AD directories in the region.\";}s:25:\"CloudOnlyMicrosoftADLimit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Limit\";s:11:\"description\";s:69:\"The
  maximum number of Microsoft AD directories allowed in the region.\";}s:32:\"CloudOnlyMicrosoftADLimitReached\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:46:\"#/definitions/CloudOnlyDirectoriesLimitReached\";s:11:\"description\";s:63:\"Indicates
  if the Microsoft AD directory limit has been reached.\";}s:32:\"ConnectedDirectoriesCurrentCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Limit\";s:11:\"description\";s:58:\"The
  current number of connected directories in the region.\";}s:25:\"ConnectedDirectoriesLimit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Limit\";s:11:\"description\";s:66:\"The
  maximum number of connected directories allowed in the region.\";}s:32:\"ConnectedDirectoriesLimitReached\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:46:\"#/definitions/ConnectedDirectoriesLimitReached\";s:11:\"description\";s:60:\"Indicates
  if the connected directory limit has been reached.\";}}s:4:\"type\";s:6:\"object\";}s:13:\"DirectoryName\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:37:\"^([a-zA-Z0-9]+[\\\\.-])+([a-zA-Z0-9])+$\";s:4:\"type\";s:6:\"string\";}s:18:\"DirectoryShortName\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:35:\"^[^\\\\/:*?\\\"\\<\\>|.]+[^\\\\/:*?\\\"<>|]*$\";s:4:\"type\";s:6:\"string\";}s:13:\"DirectorySize\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:5:\"Small\";i:1;s:5:\"Large\";}s:4:\"type\";s:6:\"string\";}s:14:\"DirectoryStage\";O:8:\"stdClass\":2:{s:4:\"enum\";a:11:{i:0;s:9:\"Requested\";i:1;s:8:\"Creating\";i:2;s:7:\"Created\";i:3;s:6:\"Active\";i:4;s:10:\"Inoperable\";i:5;s:8:\"Impaired\";i:6;s:9:\"Restoring\";i:7;s:13:\"RestoreFailed\";i:8;s:8:\"Deleting\";i:9;s:7:\"Deleted\";i:10;s:6:\"Failed\";}s:4:\"type\";s:6:\"string\";}s:13:\"DirectoryType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:8:\"SimpleAD\";i:1;s:11:\"ADConnector\";i:2;s:11:\"MicrosoftAD\";}s:4:\"type\";s:6:\"string\";}s:29:\"DirectoryUnavailableException\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"The
  specified directory is unavailable or could not be found.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ExceptionMessage\";}s:9:\"RequestId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/RequestId\";}}s:4:\"type\";s:6:\"object\";}s:20:\"DirectoryVpcSettings\";O:8:\"stdClass\":4:{s:11:\"description\";s:94:\"Contains
  VPC information for the <a>CreateDirectory</a> or <a>CreateMicrosoftAD</a> operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"SubnetIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/SubnetIds\";s:11:\"description\";s:206:\"The
  identifiers of the subnets for the directory servers. The two subnets must be in
  different Availability Zones. AWS Directory Service creates a directory server and
  a DNS server in each of these subnets.\";}s:5:\"VpcId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/VpcId\";s:11:\"description\";s:59:\"The
  identifier of the VPC in which to create the directory.\";}}s:8:\"required\";a:2:{i:0;s:5:\"VpcId\";i:1;s:9:\"SubnetIds\";}s:4:\"type\";s:6:\"object\";}s:31:\"DirectoryVpcSettingsDescription\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Contains
  information about the directory.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:17:\"AvailabilityZones\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/AvailabilityZones\";s:11:\"description\";s:56:\"The
  list of Availability Zones that the directory is in.\";}s:15:\"SecurityGroupId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/SecurityGroupId\";s:11:\"description\";s:66:\"The
  domain controller security group identifier for the directory.\";}s:9:\"SubnetIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/SubnetIds\";s:11:\"description\";s:57:\"The
  identifiers of the subnets for the directory servers.\";}s:5:\"VpcId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/VpcId\";s:11:\"description\";s:51:\"The
  identifier of the VPC that the directory is in.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"DisableRadiusRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:59:\"Contains
  the inputs for the <a>DisableRadius</a> operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"DirectoryId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/DirectoryId\";s:11:\"description\";s:57:\"The
  identifier of the directory for which to disable MFA.\";}}s:8:\"required\";a:1:{i:0;s:11:\"DirectoryId\";}s:4:\"type\";s:6:\"object\";}s:19:\"DisableRadiusResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"Contains
  the results of the <a>DisableRadius</a> operation.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:17:\"DisableSsoRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:56:\"Contains
  the inputs for the <a>DisableSso</a> operation.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"DirectoryId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/DirectoryId\";s:11:\"description\";s:68:\"The
  identifier of the directory for which to disable single-sign on.\";}s:8:\"Password\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ConnectPassword\";s:11:\"description\";s:175:\"The
  password of an alternate account to use to disable single-sign on. This is only
  used for AD Connector directories. For more information, see the <i>UserName</i>
  parameter.\";}s:8:\"UserName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/UserName\";s:11:\"description\";s:535:\"<p>The
  username of an alternate account to use to disable single-sign on. This is only
  used for AD Connector directories. This account must have privileges to remove a
  service principal name.</p> <p>If the AD Connector service account does not have
  privileges to remove a service principal name, you can specify an alternate account
  with the <i>UserName</i> and <i>Password</i> parameters. These credentials are only
  used to disable single sign-on and are not stored by the service. The AD Connector
  service account is not changed.</p>\";}}s:8:\"required\";a:1:{i:0;s:11:\"DirectoryId\";}s:4:\"type\";s:6:\"object\";}s:16:\"DisableSsoResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Contains
  the results of the <a>DisableSso</a> operation.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:10:\"DnsIpAddrs\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/IpAddr\";}s:4:\"type\";s:5:\"array\";}s:16:\"DomainController\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"Contains
  information about the domain controllers for a specified directory.\";s:10:\"properties\";O:8:\"stdClass\":10:{s:16:\"AvailabilityZone\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/AvailabilityZone\";s:11:\"description\";s:61:\"The
  Availability Zone where the domain controller is located.\";}s:11:\"DirectoryId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/DirectoryId\";s:11:\"description\";s:64:\"Identifier
  of the directory where the domain controller resides.\";}s:9:\"DnsIpAddr\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/IpAddr\";s:11:\"description\";s:40:\"The
  IP address of the domain controller.\";}s:18:\"DomainControllerId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/DomainControllerId\";s:11:\"description\";s:57:\"Identifies
  a specific domain controller in the directory.\";}s:10:\"LaunchTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/LaunchTime\";s:11:\"description\";s:49:\"Specifies
  when the domain controller was created.\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/DomainControllerStatus\";s:11:\"description\";s:36:\"The
  status of the domain controller.\";}s:25:\"StatusLastUpdatedDateTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/LastUpdatedDateTime\";s:11:\"description\";s:51:\"The
  date and time that the status was last updated.\";}s:12:\"StatusReason\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/DomainControllerStatusReason\";s:11:\"description\";s:45:\"A
  description of the domain controller state.\";}s:8:\"SubnetId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/SubnetId\";s:11:\"description\";s:72:\"Identifier
  of the subnet in the VPC that contains the domain controller.\";}s:5:\"VpcId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/VpcId\";s:11:\"description\";s:62:\"The
  identifier of the VPC that contains the domain controller.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"DomainControllerId\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:17:\"^dc-[0-9a-f]{10}$\";s:4:\"type\";s:6:\"string\";}s:19:\"DomainControllerIds\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/DomainControllerId\";}s:4:\"type\";s:5:\"array\";}s:38:\"DomainControllerLimitExceededException\";O:8:\"stdClass\":3:{s:11:\"description\";s:134:\"The
  maximum allowed number of domain controllers per directory was exceeded. The default
  limit per directory is 20 domain controllers.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ExceptionMessage\";}s:9:\"RequestId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/RequestId\";}}s:4:\"type\";s:6:\"object\";}s:22:\"DomainControllerStatus\";O:8:\"stdClass\":2:{s:4:\"enum\";a:7:{i:0;s:8:\"Creating\";i:1;s:6:\"Active\";i:2;s:8:\"Impaired\";i:3;s:9:\"Restoring\";i:4;s:8:\"Deleting\";i:5;s:7:\"Deleted\";i:6;s:6:\"Failed\";}s:4:\"type\";s:6:\"string\";}s:28:\"DomainControllerStatusReason\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"DomainControllers\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/DomainController\";}s:4:\"type\";s:5:\"array\";}s:19:\"EnableRadiusRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:58:\"Contains
  the inputs for the <a>EnableRadius</a> operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"DirectoryId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/DirectoryId\";s:11:\"description\";s:56:\"The
  identifier of the directory for which to enable MFA.\";}s:14:\"RadiusSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/RadiusSettings\";s:11:\"description\";s:81:\"A
  <a>RadiusSettings</a> object that contains information about the RADIUS server.\";}}s:8:\"required\";a:2:{i:0;s:11:\"DirectoryId\";i:1;s:14:\"RadiusSettings\";}s:4:\"type\";s:6:\"object\";}s:18:\"EnableRadiusResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"Contains
  the results of the <a>EnableRadius</a> operation.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:16:\"EnableSsoRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:55:\"Contains
  the inputs for the <a>EnableSso</a> operation.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"DirectoryId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/DirectoryId\";s:11:\"description\";s:67:\"The
  identifier of the directory for which to enable single-sign on.\";}s:8:\"Password\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ConnectPassword\";s:11:\"description\";s:174:\"The
  password of an alternate account to use to enable single-sign on. This is only used
  for AD Connector directories. For more information, see the <i>UserName</i> parameter.\";}s:8:\"UserName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/UserName\";s:11:\"description\";s:527:\"<p>The
  username of an alternate account to use to enable single-sign on. This is only used
  for AD Connector directories. This account must have privileges to add a service
  principal name.</p> <p>If the AD Connector service account does not have privileges
  to add a service principal name, you can specify an alternate account with the <i>UserName</i>
  and <i>Password</i> parameters. These credentials are only used to enable single
  sign-on and are not stored by the service. The AD Connector service account is not
  changed.</p>\";}}s:8:\"required\";a:1:{i:0;s:11:\"DirectoryId\";}s:4:\"type\";s:6:\"object\";}s:15:\"EnableSsoResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"Contains
  the results of the <a>EnableSso</a> operation.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:11:\"EndDateTime\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:28:\"EntityAlreadyExistsException\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  specified entity already exists.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ExceptionMessage\";}s:9:\"RequestId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/RequestId\";}}s:4:\"type\";s:6:\"object\";}s:27:\"EntityDoesNotExistException\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  specified entity could not be found.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ExceptionMessage\";}s:9:\"RequestId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/RequestId\";}}s:4:\"type\";s:6:\"object\";}s:10:\"EventTopic\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"Information
  about SNS topic and AWS Directory Service directory associations.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:15:\"CreatedDateTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/CreatedDateTime\";s:11:\"description\";s:75:\"The
  date and time of when you associated your directory with the SNS topic.\";}s:11:\"DirectoryId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/DirectoryId\";s:11:\"description\";s:105:\"The
  Directory ID of an AWS Directory Service directory that will publish status messages
  to an SNS topic.\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/TopicStatus\";s:11:\"description\";s:30:\"The
  topic registration status.\";}s:8:\"TopicArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/TopicArn\";s:11:\"description\";s:41:\"The
  SNS topic ARN (Amazon Resource Name).\";}s:9:\"TopicName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/TopicName\";s:11:\"description\";s:77:\"The
  name of an AWS SNS topic the receives status messages from the directory.\";}}s:4:\"type\";s:6:\"object\";}s:11:\"EventTopics\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/EventTopic\";}s:4:\"type\";s:5:\"array\";}s:16:\"ExceptionMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"The
  descriptive message for the exception.\";s:4:\"type\";s:6:\"string\";}s:25:\"GetDirectoryLimitsRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"Contains
  the inputs for the <a>GetDirectoryLimits</a> operation.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:24:\"GetDirectoryLimitsResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"Contains
  the results of the <a>GetDirectoryLimits</a> operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"DirectoryLimits\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/DirectoryLimits\";s:11:\"description\";s:90:\"A
  <a>DirectoryLimits</a> object that contains the directory limits for the current
  region.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"GetSnapshotLimitsRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:63:\"Contains
  the inputs for the <a>GetSnapshotLimits</a> operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"DirectoryId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/DirectoryId\";s:11:\"description\";s:66:\"Contains
  the identifier of the directory to obtain the limits for.\";}}s:8:\"required\";a:1:{i:0;s:11:\"DirectoryId\";}s:4:\"type\";s:6:\"object\";}s:23:\"GetSnapshotLimitsResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"Contains
  the results of the <a>GetSnapshotLimits</a> operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"SnapshotLimits\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/SnapshotLimits\";s:11:\"description\";s:100:\"A
  <a>SnapshotLimits</a> object that contains the manual snapshot limits for the specified
  directory.\";}}s:4:\"type\";s:6:\"object\";}s:32:\"InsufficientPermissionsException\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"The
  account does not have sufficient permission to perform the operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ExceptionMessage\";}s:9:\"RequestId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/RequestId\";}}s:4:\"type\";s:6:\"object\";}s:25:\"InvalidNextTokenException\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  <i>NextToken</i> value is not valid.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ExceptionMessage\";}s:9:\"RequestId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/RequestId\";}}s:4:\"type\";s:6:\"object\";}s:25:\"InvalidParameterException\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"One
  or more parameters are not valid.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ExceptionMessage\";}s:9:\"RequestId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/RequestId\";}}s:4:\"type\";s:6:\"object\";}s:24:\"InvalidPasswordException\";O:8:\"stdClass\":3:{s:11:\"description\";s:115:\"The
  new password provided by the user does not meet the password complexity requirements
  defined in your directory.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ExceptionMessage\";}s:9:\"RequestId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/RequestId\";}}s:4:\"type\";s:6:\"object\";}s:6:\"IpAddr\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:91:\"^(?:(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\\.){3}(?:25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$\";s:4:\"type\";s:6:\"string\";}s:7:\"IpAddrs\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/IpAddr\";}s:4:\"type\";s:5:\"array\";}s:7:\"IpRoute\";O:8:\"stdClass\":3:{s:11:\"description\";s:102:\"IP
  address block. This is often the address block of the DNS server used for your on-premises
  domain. \";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"CidrIp\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/CidrIp\";s:11:\"description\";s:228:\"IP
  address block using CIDR format, for example 10.0.0.0/24. This is often the address
  block of the DNS server used for your on-premises domain. For a single IP address
  use a CIDR address block with /32. For example 10.0.0.0/32.\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Description\";s:11:\"description\";s:33:\"Description
  of the address block.\";}}s:4:\"type\";s:6:\"object\";}s:11:\"IpRouteInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Information
  about one or more IP address blocks.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:13:\"AddedDateTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/AddedDateTime\";s:11:\"description\";s:63:\"The
  date and time the address block was added to the directory.\";}s:6:\"CidrIp\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/CidrIp\";s:11:\"description\";s:39:\"IP
  address block in the <a>IpRoute</a>.\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Description\";s:11:\"description\";s:38:\"Description
  of the <a>IpRouteInfo</a>.\";}s:11:\"DirectoryId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/DirectoryId\";s:11:\"description\";s:66:\"Identifier
  (ID) of the directory associated with the IP addresses.\";}s:16:\"IpRouteStatusMsg\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/IpRouteStatusMsg\";s:11:\"description\";s:35:\"The
  status of the IP address block.\";}s:19:\"IpRouteStatusReason\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/IpRouteStatusReason\";s:11:\"description\";s:36:\"The
  reason for the IpRouteStatusMsg.\";}}s:4:\"type\";s:6:\"object\";}s:29:\"IpRouteLimitExceededException\";O:8:\"stdClass\":3:{s:11:\"description\";s:100:\"The
  maximum allowed number of IP addresses was exceeded. The default limit is 100 IP
  address blocks.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ExceptionMessage\";}s:9:\"RequestId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/RequestId\";}}s:4:\"type\";s:6:\"object\";}s:16:\"IpRouteStatusMsg\";O:8:\"stdClass\":2:{s:4:\"enum\";a:6:{i:0;s:6:\"Adding\";i:1;s:5:\"Added\";i:2;s:8:\"Removing\";i:3;s:7:\"Removed\";i:4;s:9:\"AddFailed\";i:5;s:12:\"RemoveFailed\";}s:4:\"type\";s:6:\"string\";}s:19:\"IpRouteStatusReason\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"IpRoutes\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/IpRoute\";}s:4:\"type\";s:5:\"array\";}s:12:\"IpRoutesInfo\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/IpRouteInfo\";}s:4:\"type\";s:5:\"array\";}s:19:\"LastUpdatedDateTime\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:10:\"LaunchTime\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"LdifContent\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:500000;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:5:\"Limit\";O:8:\"stdClass\":2:{s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:19:\"ListIpRoutesRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"DirectoryId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/DirectoryId\";s:11:\"description\";s:81:\"Identifier
  (ID) of the directory for which you want to retrieve the IP addresses.\";}s:5:\"Limit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Limit\";s:11:\"description\";s:135:\"Maximum
  number of items to return. If this value is zero, the maximum number of items is
  specified by the limitations of the operation.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:121:\"The
  <i>ListIpRoutes.NextToken</i> value from a previous call to <a>ListIpRoutes</a>.
  Pass null if this is the first call.\";}}s:8:\"required\";a:1:{i:0;s:11:\"DirectoryId\";}s:4:\"type\";s:6:\"object\";}s:18:\"ListIpRoutesResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"IpRoutesInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/IpRoutesInfo\";s:11:\"description\";s:26:\"A
  list of <a>IpRoute</a>s.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:170:\"If
  not null, more results are available. Pass this value for the <i>NextToken</i> parameter
  in a subsequent call to <a>ListIpRoutes</a> to retrieve the next set of items.\";}}s:4:\"type\";s:6:\"object\";}s:27:\"ListSchemaExtensionsRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"DirectoryId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/DirectoryId\";s:11:\"description\";s:88:\"The
  identifier of the directory from which to retrieve the schema extension information.\";}s:5:\"Limit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Limit\";s:11:\"description\";s:38:\"The
  maximum number of items to return.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:149:\"The
  <code>ListSchemaExtensions.NextToken</code> value from a previous call to <code>ListSchemaExtensions</code>.
  Pass null if this is the first call.\";}}s:8:\"required\";a:1:{i:0;s:11:\"DirectoryId\";}s:4:\"type\";s:6:\"object\";}s:26:\"ListSchemaExtensionsResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:190:\"If
  not null, more results are available. Pass this value for the <code>NextToken</code>
  parameter in a subsequent call to <code>ListSchemaExtensions</code> to retrieve
  the next set of items.\";}s:20:\"SchemaExtensionsInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/SchemaExtensionsInfo\";s:11:\"description\";s:65:\"Information
  about the schema extensions applied to the directory.\";}}s:4:\"type\";s:6:\"object\";}s:26:\"ListTagsForResourceRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"Limit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Limit\";s:11:\"description\";s:24:\"Reserved
  for future use.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:24:\"Reserved
  for future use.\";}s:10:\"ResourceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ResourceId\";s:11:\"description\";s:69:\"Identifier
  (ID) of the directory for which you want to retrieve tags.\";}}s:8:\"required\";a:1:{i:0;s:10:\"ResourceId\";}s:4:\"type\";s:6:\"object\";}s:25:\"ListTagsForResourceResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:24:\"Reserved
  for future use.\";}s:4:\"Tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Tags\";s:11:\"description\";s:59:\"List
  of tags returned by the ListTagsForResource operation.\";}}s:4:\"type\";s:6:\"object\";}s:27:\"ManualSnapshotsLimitReached\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"NextToken\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"OrganizationalUnitDN\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:2000;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:8:\"Password\";O:8:\"stdClass\":3:{s:6:\"format\";s:8:\"password\";s:7:\"pattern\";s:171:\"(?=^.{8,64}$)((?=.*\\d)(?=.*[A-Z])(?=.*[a-z])|(?=.*\\d)(?=.*[^A-Za-z0-9\\s])(?=.*[a-z])|(?=.*[^A-Za-z0-9\\s])(?=.*[A-Z])(?=.*[a-z])|(?=.*\\d)(?=.*[A-Z])(?=.*[^A-Za-z0-9\\s]))^.*\";s:4:\"type\";s:6:\"string\";}s:10:\"PortNumber\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:65535;s:7:\"minimum\";i:1025;s:4:\"type\";s:7:\"integer\";}s:28:\"RadiusAuthenticationProtocol\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:3:\"PAP\";i:1;s:4:\"CHAP\";i:2;s:9:\"MS-CHAPv1\";i:3;s:9:\"MS-CHAPv2\";}s:4:\"type\";s:6:\"string\";}s:18:\"RadiusDisplayLabel\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:64;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:13:\"RadiusRetries\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:10;s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:14:\"RadiusSettings\";O:8:\"stdClass\":3:{s:11:\"description\";s:88:\"Contains
  information about a Remote Authentication Dial In User Service (RADIUS) server.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:22:\"AuthenticationProtocol\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/RadiusAuthenticationProtocol\";s:11:\"description\";s:49:\"The
  protocol specified for your RADIUS endpoints.\";}s:12:\"DisplayLabel\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/RadiusDisplayLabel\";s:11:\"description\";s:19:\"Not
  currently used.\";}s:10:\"RadiusPort\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/PortNumber\";s:11:\"description\";s:168:\"The
  port that your RADIUS server is using for communications. Your on-premises network
  must allow inbound traffic over this port from the AWS Directory Service servers.\";}s:13:\"RadiusRetries\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/RadiusRetries\";s:11:\"description\";s:83:\"The
  maximum number of times that communication with the RADIUS server is attempted.\";}s:13:\"RadiusServers\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Servers\";s:11:\"description\";s:139:\"An
  array of strings that contains the IP addresses of the RADIUS server endpoints,
  or the IP addresses of your RADIUS server load balancer.\";}s:13:\"RadiusTimeout\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/RadiusTimeout\";s:11:\"description\";s:73:\"The
  amount of time, in seconds, to wait for the RADIUS server to respond.\";}s:12:\"SharedSecret\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/RadiusSharedSecret\";s:11:\"description\";s:19:\"Not
  currently used.\";}s:15:\"UseSameUsername\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/UseSameUsername\";s:11:\"description\";s:19:\"Not
  currently used.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"RadiusSharedSecret\";O:8:\"stdClass\":4:{s:6:\"format\";s:8:\"password\";s:9:\"maxLength\";i:512;s:9:\"minLength\";i:8;s:4:\"type\";s:6:\"string\";}s:12:\"RadiusStatus\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:8:\"Creating\";i:1;s:9:\"Completed\";i:2;s:6:\"Failed\";}s:4:\"type\";s:6:\"string\";}s:13:\"RadiusTimeout\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:20;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:25:\"RegisterEventTopicRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:28:\"Registers
  a new event topic.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"DirectoryId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/DirectoryId\";s:11:\"description\";s:68:\"The
  Directory ID that will publish status messages to the SNS topic.\";}s:9:\"TopicName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/TopicName\";s:11:\"description\";s:144:\"The
  SNS topic name to which the directory will publish status messages. This SNS topic
  must be in the same region as the specified Directory ID.\";}}s:8:\"required\";a:2:{i:0;s:11:\"DirectoryId\";i:1;s:9:\"TopicName\";}s:4:\"type\";s:6:\"object\";}s:24:\"RegisterEventTopicResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  result of a RegisterEventTopic request.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:16:\"RemoteDomainName\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:41:\"^([a-zA-Z0-9]+[\\\\.-])+([a-zA-Z0-9])+[.]?$\";s:4:\"type\";s:6:\"string\";}s:17:\"RemoteDomainNames\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/RemoteDomainName\";}s:4:\"type\";s:5:\"array\";}s:21:\"RemoveIpRoutesRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"CidrIps\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/CidrIps\";s:11:\"description\";s:42:\"IP
  address blocks that you want to remove.\";}s:11:\"DirectoryId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/DirectoryId\";s:11:\"description\";s:80:\"Identifier
  (ID) of the directory from which you want to remove the IP addresses.\";}}s:8:\"required\";a:2:{i:0;s:11:\"DirectoryId\";i:1;s:7:\"CidrIps\";}s:4:\"type\";s:6:\"object\";}s:20:\"RemoveIpRoutesResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:29:\"RemoveTagsFromResourceRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"ResourceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ResourceId\";s:11:\"description\";s:62:\"Identifier
  (ID) of the directory from which to remove the tag.\";}s:7:\"TagKeys\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/TagKeys\";s:11:\"description\";s:44:\"The
  tag key (name) of the tag to be removed.\";}}s:8:\"required\";a:2:{i:0;s:10:\"ResourceId\";i:1;s:7:\"TagKeys\";}s:4:\"type\";s:6:\"object\";}s:28:\"RemoveTagsFromResourceResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:16:\"ReplicationScope\";O:8:\"stdClass\":2:{s:4:\"enum\";a:1:{i:0;s:6:\"Domain\";}s:4:\"type\";s:6:\"string\";}s:9:\"RequestId\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"The
  AWS request identifier.\";s:7:\"pattern\";s:79:\"^([A-Fa-f0-9]{8}-[A-Fa-f0-9]{4}-[A-Fa-f0-9]{4}-[A-Fa-f0-9]{4}-[A-Fa-f0-9]{12})$\";s:4:\"type\";s:6:\"string\";}s:24:\"ResetUserPasswordRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"DirectoryId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/DirectoryId\";s:11:\"description\";s:92:\"Identifier
  of the AWS Managed Microsoft AD or Simple AD directory in which the user resides.\";}s:11:\"NewPassword\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/UserPassword\";s:11:\"description\";s:36:\"The
  new password that will be reset.\";}s:8:\"UserName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/CustomerUserName\";s:11:\"description\";s:54:\"The
  username of the user whose password will be reset.\";}}s:8:\"required\";a:3:{i:0;s:11:\"DirectoryId\";i:1;s:8:\"UserName\";i:2;s:11:\"NewPassword\";}s:4:\"type\";s:6:\"object\";}s:23:\"ResetUserPasswordResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:10:\"ResourceId\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:18:\"^[d]-[0-9a-f]{10}$\";s:4:\"type\";s:6:\"string\";}s:26:\"RestoreFromSnapshotRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:79:\"An
  object representing the inputs for the <a>RestoreFromSnapshot</a> operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"SnapshotId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/SnapshotId\";s:11:\"description\";s:47:\"The
  identifier of the snapshot to restore from.\";}}s:8:\"required\";a:1:{i:0;s:10:\"SnapshotId\";}s:4:\"type\";s:6:\"object\";}s:25:\"RestoreFromSnapshotResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"Contains
  the results of the <a>RestoreFromSnapshot</a> operation.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:3:\"SID\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:256;s:9:\"minLength\";i:1;s:7:\"pattern\";s:10:\"[&\\w+-.@]+\";s:4:\"type\";s:6:\"string\";}s:17:\"SchemaExtensionId\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:16:\"^e-[0-9a-f]{10}$\";s:4:\"type\";s:6:\"string\";}s:19:\"SchemaExtensionInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Information
  about a schema extension.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Description\";s:11:\"description\";s:38:\"A
  description of the schema extension.\";}s:11:\"DirectoryId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/DirectoryId\";s:11:\"description\";s:73:\"The
  identifier of the directory to which the schema extension is applied.\";}s:11:\"EndDateTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/EndDateTime\";s:11:\"description\";s:58:\"The
  date and time that the schema extension was completed.\";}s:17:\"SchemaExtensionId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/SchemaExtensionId\";s:11:\"description\";s:39:\"The
  identifier of the schema extension.\";}s:21:\"SchemaExtensionStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/SchemaExtensionStatus\";s:11:\"description\";s:43:\"The
  current status of the schema extension.\";}s:27:\"SchemaExtensionStatusReason\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/SchemaExtensionStatusReason\";s:11:\"description\";s:54:\"The
  reason for the <code>SchemaExtensionStatus</code>.\";}s:13:\"StartDateTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/StartDateTime\";s:11:\"description\";s:83:\"The
  date and time that the schema extension started being applied to the directory.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"SchemaExtensionStatus\";O:8:\"stdClass\":2:{s:4:\"enum\";a:9:{i:0;s:12:\"Initializing\";i:1;s:16:\"CreatingSnapshot\";i:2;s:14:\"UpdatingSchema\";i:3;s:11:\"Replicating\";i:4;s:16:\"CancelInProgress\";i:5;s:18:\"RollbackInProgress\";i:6;s:9:\"Cancelled\";i:7;s:6:\"Failed\";i:8;s:9:\"Completed\";}s:4:\"type\";s:6:\"string\";}s:27:\"SchemaExtensionStatusReason\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"SchemaExtensionsInfo\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/SchemaExtensionInfo\";}s:4:\"type\";s:5:\"array\";}s:15:\"SecurityGroupId\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:34:\"^(sg-[0-9a-f]{8}|sg-[0-9a-f]{17})$\";s:4:\"type\";s:6:\"string\";}s:6:\"Server\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:256;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:7:\"Servers\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Server\";}s:4:\"type\";s:5:\"array\";}s:16:\"ServiceException\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"An
  exception has occurred in AWS Directory Service.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ExceptionMessage\";}s:9:\"RequestId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/RequestId\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Snapshot\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Describes
  a directory snapshot.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"DirectoryId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/DirectoryId\";s:11:\"description\";s:25:\"The
  directory identifier.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/SnapshotName\";s:11:\"description\";s:37:\"The
  descriptive name of the snapshot.\";}s:10:\"SnapshotId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/SnapshotId\";s:11:\"description\";s:24:\"The
  snapshot identifier.\";}s:9:\"StartTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/StartTime\";s:11:\"description\";s:46:\"The
  date and time that the snapshot was taken.\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/SnapshotStatus\";s:11:\"description\";s:20:\"The
  snapshot status.\";}s:4:\"Type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/SnapshotType\";s:11:\"description\";s:18:\"The
  snapshot type.\";}}s:4:\"type\";s:6:\"object\";}s:10:\"SnapshotId\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:16:\"^s-[0-9a-f]{10}$\";s:4:\"type\";s:6:\"string\";}s:11:\"SnapshotIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"A
  list of directory snapshot identifiers.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/SnapshotId\";}s:4:\"type\";s:5:\"array\";}s:30:\"SnapshotLimitExceededException\";O:8:\"stdClass\":3:{s:11:\"description\";s:175:\"The
  maximum number of manual snapshots for the directory has been reached. You can use
  the <a>GetSnapshotLimits</a> operation to determine the snapshot limits for a directory.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ExceptionMessage\";}s:9:\"RequestId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/RequestId\";}}s:4:\"type\";s:6:\"object\";}s:14:\"SnapshotLimits\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"Contains
  manual snapshot limit information for a directory.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:27:\"ManualSnapshotsCurrentCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Limit\";s:11:\"description\";s:56:\"The
  current number of manual snapshots of the directory.\";}s:20:\"ManualSnapshotsLimit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Limit\";s:11:\"description\";s:47:\"The
  maximum number of manual snapshots allowed.\";}s:27:\"ManualSnapshotsLimitReached\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/ManualSnapshotsLimitReached\";s:11:\"description\";s:56:\"Indicates
  if the manual snapshot limit has been reached.\";}}s:4:\"type\";s:6:\"object\";}s:12:\"SnapshotName\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:128;s:9:\"minLength\";i:0;s:7:\"pattern\";s:45:\"^([a-zA-Z0-9_])[\\\\a-zA-Z0-9_@#%*+=:?./!\\s-]*$\";s:4:\"type\";s:6:\"string\";}s:14:\"SnapshotStatus\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:8:\"Creating\";i:1;s:9:\"Completed\";i:2;s:6:\"Failed\";}s:4:\"type\";s:6:\"string\";}s:12:\"SnapshotType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:4:\"Auto\";i:1;s:6:\"Manual\";}s:4:\"type\";s:6:\"string\";}s:9:\"Snapshots\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"A
  list of descriptions of directory snapshots.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Snapshot\";}s:4:\"type\";s:5:\"array\";}s:10:\"SsoEnabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"StageReason\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"StartDateTime\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:27:\"StartSchemaExtensionRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:35:\"CreateSnapshotBeforeSchemaExtension\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:49:\"#/definitions/CreateSnapshotBeforeSchemaExtension\";s:11:\"description\";s:82:\"If
  true, creates a snapshot of the directory before applying the schema extension.\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Description\";s:11:\"description\";s:38:\"A
  description of the schema extension.\";}s:11:\"DirectoryId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/DirectoryId\";s:11:\"description\";s:82:\"The
  identifier of the directory for which the schema extension will be applied to.\";}s:11:\"LdifContent\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/LdifContent\";s:11:\"description\";s:232:\"The
  LDIF file represented as a string. To construct the LdifContent string, precede
  each line as it would be formatted in an ldif file with \\n. See the example request
  below for more details. The file size can be no larger than 1MB.\";}}s:8:\"required\";a:4:{i:0;s:11:\"DirectoryId\";i:1;s:35:\"CreateSnapshotBeforeSchemaExtension\";i:2;s:11:\"LdifContent\";i:3;s:11:\"Description\";}s:4:\"type\";s:6:\"object\";}s:26:\"StartSchemaExtensionResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"SchemaExtensionId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/SchemaExtensionId\";s:11:\"description\";s:60:\"The
  identifier of the schema extension that will be applied.\";}}s:4:\"type\";s:6:\"object\";}s:9:\"StartTime\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:24:\"StateLastUpdatedDateTime\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:8:\"SubnetId\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:42:\"^(subnet-[0-9a-f]{8}|subnet-[0-9a-f]{17})$\";s:4:\"type\";s:6:\"string\";}s:9:\"SubnetIds\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/SubnetId\";}s:4:\"type\";s:5:\"array\";}s:3:\"Tag\";O:8:\"stdClass\":4:{s:11:\"description\";s:64:\"Metadata
  assigned to a directory consisting of a key-value pair.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"Key\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/TagKey\";s:11:\"description\";s:262:\"Required
  name of the tag. The string value can be Unicode characters and cannot be prefixed
  with \"aws:\". The string can contain only the set of Unicode letters, digits, white-space,
  '_', '.', '/', '=', '+', '-' (Java regex: \"^([\\\\p{L}\\\\p{Z}\\\\p{N}_.:/=+\\\\-]*)$\").\";}s:5:\"Value\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/TagValue\";s:11:\"description\";s:232:\"The
  optional value of the tag. The string value can be Unicode characters. The string
  can contain only the set of Unicode letters, digits, white-space, '_', '.', '/',
  '=', '+', '-' (Java regex: \"^([\\\\p{L}\\\\p{Z}\\\\p{N}_.:/=+\\\\-]*)$\").\";}}s:8:\"required\";a:2:{i:0;s:3:\"Key\";i:1;s:5:\"Value\";}s:4:\"type\";s:6:\"object\";}s:6:\"TagKey\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:128;s:9:\"minLength\";i:1;s:7:\"pattern\";s:31:\"^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$\";s:4:\"type\";s:6:\"string\";}s:7:\"TagKeys\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/TagKey\";}s:4:\"type\";s:5:\"array\";}s:25:\"TagLimitExceededException\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"The
  maximum allowed number of tags was exceeded.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ExceptionMessage\";}s:9:\"RequestId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/RequestId\";}}s:4:\"type\";s:6:\"object\";}s:8:\"TagValue\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:256;s:9:\"minLength\";i:0;s:7:\"pattern\";s:31:\"^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$\";s:4:\"type\";s:6:\"string\";}s:4:\"Tags\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Tag\";}s:4:\"type\";s:5:\"array\";}s:8:\"TopicArn\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"TopicName\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:256;s:9:\"minLength\";i:1;s:7:\"pattern\";s:14:\"[a-zA-Z0-9_-]+\";s:4:\"type\";s:6:\"string\";}s:10:\"TopicNames\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/TopicName\";}s:4:\"type\";s:5:\"array\";}s:11:\"TopicStatus\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:10:\"Registered\";i:1;s:15:\"Topic
  not found\";i:2;s:6:\"Failed\";i:3;s:7:\"Deleted\";}s:4:\"type\";s:6:\"string\";}s:5:\"Trust\";O:8:\"stdClass\":3:{s:11:\"description\";s:95:\"Describes
  a trust relationship between an Microsoft AD in the AWS cloud and an external domain.\";s:10:\"properties\";O:8:\"stdClass\":10:{s:15:\"CreatedDateTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/CreatedDateTime\";s:11:\"description\";s:58:\"The
  date and time that the trust relationship was created.\";}s:11:\"DirectoryId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/DirectoryId\";s:11:\"description\";s:73:\"The
  Directory ID of the AWS directory involved in the trust relationship.\";}s:19:\"LastUpdatedDateTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/LastUpdatedDateTime\";s:11:\"description\";s:63:\"The
  date and time that the trust relationship was last updated.\";}s:16:\"RemoteDomainName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/RemoteDomainName\";s:11:\"description\";s:97:\"The
  Fully Qualified Domain Name (FQDN) of the external domain involved in the trust
  relationship.\";}s:24:\"StateLastUpdatedDateTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/StateLastUpdatedDateTime\";s:11:\"description\";s:55:\"The
  date and time that the TrustState was last updated.\";}s:14:\"TrustDirection\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/TrustDirection\";s:11:\"description\";s:33:\"The
  trust relationship direction.\";}s:7:\"TrustId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/TrustId\";s:11:\"description\";s:40:\"The
  unique ID of the trust relationship.\";}s:10:\"TrustState\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/TrustState\";s:11:\"description\";s:29:\"The
  trust relationship state.\";}s:16:\"TrustStateReason\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/TrustStateReason\";s:11:\"description\";s:30:\"The
  reason for the TrustState.\";}s:9:\"TrustType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/TrustType\";s:11:\"description\";s:28:\"The
  trust relationship type.\";}}s:4:\"type\";s:6:\"object\";}s:14:\"TrustDirection\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:17:\"One-Way:
[...]
