---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:7:\"contact\";O:8:\"stdClass\":1:{s:9:\"x-twitter\";s:6:\"clever\";}s:11:\"description\";s:26:\"Serves
  the Clever Data API\";s:5:\"title\";s:4:\"Data\";s:7:\"version\";s:5:\"1.2.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:9:\"education\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_clever_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:68:\"https://raw.githubusercontent.com/Clever/swagger-api/master/v1.2.yml\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:10:\"clever.com\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"clever\";s:4:\"type\";s:7:\"openapi\";}}"
host: api.clever.com
basePath: /v1.2
paths:
  /contacts:
    get:
      description: Returns a list of student contacts
      operationId: getContacts
      parameters:
      - in: query
        name: limit
        type: integer
      - in: query
        name: starting_after
        type: string
      - in: query
        name: ending_before
        type: string
      responses:
        200:
          description: OK Response
          schema:
            $ref: '#/definitions/StudentContactsResponse'
      tags:
      - Contacts
  /contacts/{id}:
    get:
      description: Returns a specific student contact
      operationId: getContact
      parameters:
      - in: path
        name: id
        required: true
        type: string
      responses:
        200:
          description: OK Response
          schema:
            $ref: '#/definitions/StudentContactResponse'
        404:
          $ref: '#/responses/NotFound'
      tags:
      - Contacts
  /contacts/{id}/district:
    get:
      description: Returns the district for a student contact
      operationId: getDistrictForStudentContact
      parameters:
      - in: path
        name: id
        required: true
        type: string
      responses:
        200:
          description: OK Response
          schema:
            $ref: '#/definitions/DistrictResponse'
        404:
          $ref: '#/responses/NotFound'
      tags:
      - Contacts
  /contacts/{id}/student:
    get:
      description: Returns the student for a student contact
      operationId: getStudentForContact
      parameters:
      - in: path
        name: id
        required: true
        type: string
      responses:
        200:
          description: OK Response
          schema:
            $ref: '#/definitions/StudentResponse'
        404:
          $ref: '#/responses/NotFound'
      tags:
      - Contacts
  /district_admins:
    get:
      description: Returns a list of district admins
      operationId: getDistrictAdmins
      parameters:
      - in: query
        name: starting_after
        type: string
      - in: query
        name: ending_before
        type: string
      - in: query
        name: show_links
        type: string
      responses:
        200:
          description: OK Response
          schema:
            $ref: '#/definitions/DistrictAdminsResponse'
      tags:
      - District Admins
  /district_admins/{id}:
    get:
      description: Returns a specific district admin
      operationId: getDistrictAdmin
      parameters:
      - in: path
        name: id
        required: true
        type: string
      responses:
        200:
          description: OK Response
          schema:
            $ref: '#/definitions/DistrictAdminResponse'
        404:
          $ref: '#/responses/NotFound'
      tags:
      - District Admins
  /districts:
    get:
      description: Returns a list of districts
      operationId: getDistricts
      responses:
        200:
          description: OK Response
          schema:
            $ref: '#/definitions/DistrictsResponse'
      tags:
      - Districts
  /districts/{id}:
    get:
      description: Returns a specific district
      operationId: getDistrict
      parameters:
      - in: path
        name: id
        required: true
        type: string
      - in: query
        name: include
        type: string
      responses:
        200:
          description: OK Response
          schema:
            $ref: '#/definitions/DistrictResponse'
        404:
          $ref: '#/responses/NotFound'
      tags:
      - Districts
  /districts/{id}/admins:
    get:
      description: Returns the admins for a district
      operationId: getAdminsForDistrict
      parameters:
      - in: path
        name: id
        required: true
        type: string
      responses:
        200:
          description: OK Response
          schema:
            $ref: '#/definitions/DistrictAdminsResponse'
        404:
          $ref: '#/responses/NotFound'
      tags:
      - Districts
  /districts/{id}/schools:
    get:
      description: Returns the schools for a district
      operationId: getSchoolsForDistrict
      parameters:
      - in: path
        name: id
        required: true
        type: string
      - in: query
        name: limit
        type: integer
      - in: query
        name: starting_after
        type: string
      - in: query
        name: ending_before
        type: string
      - in: query
        name: where
        type: string
      responses:
        200:
          description: OK Response
          schema:
            $ref: '#/definitions/SchoolsResponse'
        404:
          $ref: '#/responses/NotFound'
      tags:
      - Districts
  /districts/{id}/sections:
    get:
      description: Returns the sections for a district
      operationId: getSectionsForDistrict
      parameters:
      - in: path
        name: id
        required: true
        type: string
      - in: query
        name: limit
        type: integer
      - in: query
        name: starting_after
        type: string
      - in: query
        name: ending_before
        type: string
      - in: query
        name: where
        type: string
      responses:
        200:
          description: OK Response
          schema:
            $ref: '#/definitions/SectionsResponse'
        404:
          $ref: '#/responses/NotFound'
      tags:
      - Districts
  /districts/{id}/status:
    get:
      description: Returns the status of the district
      operationId: getDistrictStatus
      parameters:
      - in: path
        name: id
        required: true
        type: string
      responses:
        200:
          description: OK Response
          schema:
            $ref: '#/definitions/DistrictStatusResponses'
        404:
          $ref: '#/responses/NotFound'
      tags:
      - Districts
  /districts/{id}/students:
    get:
      description: Returns the students for a district
      operationId: getStudentsForDistrict
      parameters:
      - in: path
        name: id
        required: true
        type: string
      - in: query
        name: limit
        type: integer
      - in: query
        name: starting_after
        type: string
      - in: query
        name: ending_before
        type: string
      - in: query
        name: where
        type: string
      responses:
        200:
          description: OK Response
          schema:
            $ref: '#/definitions/StudentsResponse'
        404:
          $ref: '#/responses/NotFound'
      tags:
      - Districts
  /districts/{id}/teachers:
    get:
      description: Returns the teachers for a district
      operationId: getTeachersForDistrict
      parameters:
      - in: path
        name: id
        required: true
        type: string
      - in: query
        name: limit
        type: integer
      - in: query
        name: starting_after
        type: string
      - in: query
        name: ending_before
        type: string
      - in: query
        name: where
        type: string
      responses:
        200:
          description: OK Response
          schema:
            $ref: '#/definitions/TeachersResponse'
        404:
          $ref: '#/responses/NotFound'
      tags:
      - Districts
  /school_admins:
    get:
      description: Returns a list of school admins
      operationId: getSchoolAdmins
      parameters:
      - in: query
        name: limit
        type: integer
      - in: query
        name: starting_after
        type: string
      - in: query
        name: ending_before
        type: string
      - in: query
        name: where
        type: string
      responses:
        200:
          description: OK Response
          schema:
            $ref: '#/definitions/SchoolAdminsResponse'
      tags:
      - School Admins
  /school_admins/{id}:
    get:
      description: Returns a specific school admin
      operationId: getSchoolAdmin
      parameters:
      - in: path
        name: id
        required: true
        type: string
      - in: query
        name: include
        type: string
      responses:
        200:
          description: OK Response
          schema:
            $ref: '#/definitions/SchoolAdminResponse'
        404:
          $ref: '#/responses/NotFound'
      tags:
      - School Admins
  /school_admins/{id}/schools:
    get:
      description: Returns the schools for a school admin
      operationId: getSchoolsForSchoolAdmin
      parameters:
      - in: path
        name: id
        required: true
        type: string
      - in: query
        name: limit
        type: integer
      - in: query
        name: starting_after
        type: string
      - in: query
        name: ending_before
        type: string
      responses:
        200:
          description: OK Response
          schema:
            $ref: '#/definitions/SchoolsResponse'
        404:
          $ref: '#/responses/NotFound'
      tags:
      - School Admins
  /schools:
    get:
      description: Returns a list of schools
      operationId: getSchools
      parameters:
      - in: query
        name: limit
        type: integer
      - in: query
        name: starting_after
        type: string
      - in: query
        name: ending_before
        type: string
      - in: query
        name: where
        type: string
      responses:
        200:
          description: OK Response
          schema:
            $ref: '#/definitions/SchoolsResponse'
      tags:
      - Schools
  /schools/{id}:
    get:
      description: Returns a specific school
      operationId: getSchool
      parameters:
      - in: path
        name: id
        required: true
        type: string
      responses:
        200:
          description: OK Response
          schema:
            $ref: '#/definitions/SchoolResponse'
        404:
          $ref: '#/responses/NotFound'
      tags:
      - Schools
  /schools/{id}/district:
    get:
      description: Returns the district for a school
      operationId: getDistrictForSchool
      parameters:
      - in: path
        name: id
        required: true
        type: string
      responses:
        200:
          description: OK Response
          schema:
            $ref: '#/definitions/DistrictResponse'
        404:
          $ref: '#/responses/NotFound'
      tags:
      - Schools
  /schools/{id}/sections:
    get:
      description: Returns the sections for a school
      operationId: getSectionsForSchool
      parameters:
      - in: path
        name: id
        required: true
        type: string
      - in: query
        name: limit
        type: integer
      - in: query
        name: starting_after
        type: string
      - in: query
        name: ending_before
        type: string
      - in: query
        name: where
        type: string
      responses:
        200:
          description: OK Response
          schema:
            $ref: '#/definitions/SectionsResponse'
        404:
          $ref: '#/responses/NotFound'
      tags:
      - Schools
  /schools/{id}/students:
    get:
      description: Returns the students for a school
      operationId: getStudentsForSchool
      parameters:
      - in: path
        name: id
        required: true
        type: string
      - in: query
        name: limit
        type: integer
      - in: query
        name: starting_after
        type: string
      - in: query
        name: ending_before
        type: string
      - in: query
        name: where
        type: string
      responses:
        200:
          description: OK Response
          schema:
            $ref: '#/definitions/StudentsResponse'
        404:
          $ref: '#/responses/NotFound'
      tags:
      - Schools
  /schools/{id}/teachers:
    get:
      description: Returns the teachers for a school
      operationId: getTeachersForSchool
      parameters:
      - in: path
        name: id
        required: true
        type: string
      - in: query
        name: limit
        type: integer
      - in: query
        name: starting_after
        type: string
      - in: query
        name: ending_before
        type: string
      - in: query
        name: where
        type: string
      responses:
        200:
          description: OK Response
          schema:
            $ref: '#/definitions/TeachersResponse'
        404:
          $ref: '#/responses/NotFound'
      tags:
      - Schools
  /sections:
    get:
      description: Returns a list of sections
      operationId: getSections
      parameters:
      - in: query
        name: limit
        type: integer
      - in: query
        name: starting_after
        type: string
      - in: query
        name: ending_before
        type: string
      - in: query
        name: where
        type: string
      responses:
        200:
          description: OK Response
          schema:
            $ref: '#/definitions/SectionsResponse'
      tags:
      - Sections
  /sections/{id}:
    get:
      description: Returns a specific section
      operationId: getSection
      parameters:
      - in: path
        name: id
        required: true
        type: string
      responses:
        200:
          description: OK Response
          schema:
            $ref: '#/definitions/SectionResponse'
        404:
          $ref: '#/responses/NotFound'
      tags:
      - Sections
  /sections/{id}/district:
    get:
      description: Returns the district for a section
      operationId: getDistrictForSection
      parameters:
      - in: path
        name: id
        required: true
        type: string
      responses:
        200:
          description: OK Response
          schema:
            $ref: '#/definitions/DistrictResponse'
        404:
          $ref: '#/responses/NotFound'
      tags:
      - Sections
  /sections/{id}/school:
    get:
      description: Returns the school for a section
      operationId: getSchoolForSection
      parameters:
      - in: path
        name: id
        required: true
        type: string
      responses:
        200:
          description: OK Response
          schema:
            $ref: '#/definitions/SchoolResponse'
        404:
          $ref: '#/responses/NotFound'
      tags:
      - Sections
  /sections/{id}/students:
    get:
      description: Returns the students for a section
      operationId: getStudentsForSection
      parameters:
      - in: path
        name: id
        required: true
        type: string
      - in: query
        name: limit
        type: integer
      - in: query
        name: starting_after
        type: string
      - in: query
        name: ending_before
        type: string
      responses:
        200:
          description: OK Response
          schema:
            $ref: '#/definitions/StudentsResponse'
        404:
          $ref: '#/responses/NotFound'
      tags:
      - Sections
  /sections/{id}/teacher:
    get:
      description: Returns the primary teacher for a section
      operationId: getTeacherForSection
      parameters:
      - in: path
        name: id
        required: true
        type: string
      responses:
        200:
          description: OK Response
          schema:
            $ref: '#/definitions/TeacherResponse'
        404:
          $ref: '#/responses/NotFound'
      tags:
      - Sections
  /sections/{id}/teachers:
    get:
      description: Returns the teachers for a section
      operationId: getTeachersForSection
      parameters:
      - in: path
        name: id
        required: true
        type: string
      - in: query
        name: limit
        type: integer
      - in: query
        name: starting_after
        type: string
      - in: query
        name: ending_before
        type: string
      responses:
        200:
          description: OK Response
          schema:
            $ref: '#/definitions/TeachersResponse'
        404:
          $ref: '#/responses/NotFound'
      tags:
      - Sections
  /students:
    get:
      description: Returns a list of students
      operationId: getStudents
      parameters:
      - in: query
        name: limit
        type: integer
      - in: query
        name: starting_after
        type: string
      - in: query
        name: ending_before
        type: string
      - in: query
        name: where
        type: string
      responses:
        200:
          description: OK Response
          schema:
            $ref: '#/definitions/StudentsResponse'
      tags:
      - Students
  /students/{id}:
    get:
      description: Returns a specific student
      operationId: getStudent
      parameters:
      - in: path
        name: id
        required: true
        type: string
      - in: query
        name: include
        type: string
      responses:
        200:
          description: OK Response
          schema:
            $ref: '#/definitions/StudentResponse'
        404:
          $ref: '#/responses/NotFound'
      tags:
      - Students
  /students/{id}/contacts:
    get:
      description: Returns the contacts for a student
      operationId: getContactsForStudent
      parameters:
      - in: path
        name: id
        required: true
        type: string
      - in: query
        name: limit
        type: integer
      responses:
        200:
          description: OK Response
          schema:
            $ref: '#/definitions/StudentContactsForStudentResponse'
        404:
          $ref: '#/responses/NotFound'
      tags:
      - Students
  /students/{id}/district:
    get:
      description: Returns the district for a student
      operationId: getDistrictForStudent
      parameters:
      - in: path
        name: id
        required: true
        type: string
      responses:
        200:
          description: OK Response
          schema:
            $ref: '#/definitions/DistrictResponse'
        404:
          $ref: '#/responses/NotFound'
      tags:
      - Students
  /students/{id}/school:
    get:
      description: Returns the primary school for a student
      operationId: getSchoolForStudent
      parameters:
      - in: path
        name: id
        required: true
        type: string
      responses:
        200:
          description: OK Response
          schema:
            $ref: '#/definitions/SchoolResponse'
        404:
          $ref: '#/responses/NotFound'
      tags:
      - Students
  /students/{id}/sections:
    get:
      description: Returns the sections for a student
      operationId: getSectionsForStudent
      parameters:
      - in: path
        name: id
        required: true
        type: string
      - in: query
        name: limit
        type: integer
      - in: query
        name: starting_after
        type: string
      - in: query
        name: ending_before
        type: string
      responses:
        200:
          description: OK Response
          schema:
            $ref: '#/definitions/SectionsResponse'
        404:
          $ref: '#/responses/NotFound'
      tags:
      - Students
  /students/{id}/teachers:
    get:
      description: Returns the teachers for a student
      operationId: getTeachersForStudent
      parameters:
      - in: path
        name: id
        required: true
        type: string
      - in: query
        name: limit
        type: integer
      - in: query
        name: starting_after
        type: string
      - in: query
        name: ending_before
        type: string
      responses:
        200:
          description: OK Response
          schema:
            $ref: '#/definitions/TeachersResponse'
        404:
          $ref: '#/responses/NotFound'
      tags:
      - Students
  /teachers:
    get:
      description: Returns a list of teachers
      operationId: getTeachers
      parameters:
      - in: query
        name: limit
        type: integer
      - in: query
        name: starting_after
        type: string
      - in: query
        name: ending_before
        type: string
      - in: query
        name: where
        type: string
      responses:
        200:
          description: OK Response
          schema:
            $ref: '#/definitions/TeachersResponse'
      tags:
      - Teachers
  /teachers/{id}:
    get:
      description: Returns a specific teacher
      operationId: getTeacher
      parameters:
      - in: path
        name: id
        required: true
        type: string
      - in: query
        name: include
        type: string
      responses:
        200:
          description: OK Response
          schema:
            $ref: '#/definitions/TeacherResponse'
        404:
          $ref: '#/responses/NotFound'
      tags:
      - Teachers
  /teachers/{id}/district:
    get:
      description: Returns the district for a teacher
      operationId: getDistrictForTeacher
      parameters:
      - in: path
        name: id
        required: true
        type: string
      responses:
        200:
          description: OK Response
          schema:
            $ref: '#/definitions/DistrictResponse'
        404:
          $ref: '#/responses/NotFound'
      tags:
      - Teachers
  /teachers/{id}/grade_levels:
    get:
      description: Returns the grade levels for sections a teacher teaches
      operationId: getGradeLevelsForTeacher
      parameters:
      - in: path
        name: id
        required: true
        type: string
      responses:
        200:
          description: OK Response
          schema:
            $ref: '#/definitions/GradeLevelsResponse'
        404:
          $ref: '#/responses/NotFound'
      tags:
      - Teachers
  /teachers/{id}/school:
    get:
      description: Retrieves school info for a teacher.
      operationId: getSchoolForTeacher
      parameters:
      - in: path
        name: id
        required: true
        type: string
      responses:
        200:
          description: OK Response
          schema:
            $ref: '#/definitions/SchoolResponse'
        404:
          $ref: '#/responses/NotFound'
      tags:
      - Teachers
  /teachers/{id}/sections:
    get:
      description: Returns the sections for a teacher
      operationId: getSectionsForTeacher
      parameters:
      - in: path
        name: id
        required: true
        type: string
      - in: query
        name: limit
        type: integer
      - in: query
        name: starting_after
        type: string
      - in: query
        name: ending_before
        type: string
      responses:
        200:
          description: OK Response
          schema:
            $ref: '#/definitions/SectionsResponse'
        404:
          $ref: '#/responses/NotFound'
      tags:
      - Teachers
  /teachers/{id}/students:
    get:
      description: Returns the students for a teacher
      operationId: getStudentsForTeacher
      parameters:
      - in: path
        name: id
        required: true
        type: string
      - in: query
        name: limit
        type: integer
      - in: query
        name: starting_after
        type: string
      - in: query
        name: ending_before
        type: string
      responses:
        200:
          description: OK Response
          schema:
            $ref: '#/definitions/StudentsResponse'
        404:
          $ref: '#/responses/NotFound'
      tags:
      - Teachers
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":37:{s:10:\"BadRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"Credentials\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"district_username\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"District\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:12:\"x-validation\";b:1;}s:10:\"mdr_number\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:10:\"x-nullable\";b:1;}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"DistrictAdmin\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"district\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:12:\"x-validation\";b:1;}s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:12:\"x-validation\";b:1;}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Name\";s:10:\"x-nullable\";b:1;}s:5:\"title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:10:\"x-nullable\";b:1;}}s:4:\"type\";s:6:\"object\";}s:21:\"DistrictAdminResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/DistrictAdmin\";}}s:4:\"type\";s:6:\"object\";}s:22:\"DistrictAdminsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/DistrictAdmin\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:16:\"DistrictResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/District\";}}s:4:\"type\";s:6:\"object\";}s:14:\"DistrictStatus\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:5:\"error\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:12:\"x-validation\";b:1;}s:13:\"instant_login\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"last_sync\";O:8:\"stdClass\":4:{s:6:\"format\";s:8:\"datetime\";s:4:\"type\";s:6:\"string\";s:10:\"x-nullable\";b:1;s:12:\"x-validation\";b:1;}s:11:\"launch_date\";O:8:\"stdClass\":3:{s:6:\"format\";s:8:\"datetime\";s:4:\"type\";s:6:\"string\";s:12:\"x-validation\";b:1;}s:9:\"pause_end\";O:8:\"stdClass\":4:{s:6:\"format\";s:8:\"datetime\";s:4:\"type\";s:6:\"string\";s:10:\"x-nullable\";b:1;s:12:\"x-validation\";b:1;}s:11:\"pause_start\";O:8:\"stdClass\":4:{s:6:\"format\";s:8:\"datetime\";s:4:\"type\";s:6:\"string\";s:10:\"x-nullable\";b:1;s:12:\"x-validation\";b:1;}s:8:\"sis_type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:12:\"x-validation\";b:1;}s:5:\"state\";O:8:\"stdClass\":3:{s:4:\"enum\";a:4:{i:0;s:7:\"running\";i:1;s:7:\"pending\";i:2;s:5:\"error\";i:3;s:6:\"paused\";}s:4:\"type\";s:6:\"string\";s:12:\"x-validation\";b:1;}}s:4:\"type\";s:6:\"object\";}s:22:\"DistrictStatusResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/DistrictStatus\";}}s:4:\"type\";s:6:\"object\";}s:23:\"DistrictStatusResponses\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/DistrictStatusResponse\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:17:\"DistrictsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/DistrictResponse\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:19:\"GradeLevelsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:13:\"InternalError\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Location\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"address\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:10:\"x-nullable\";b:1;}s:4:\"city\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:10:\"x-nullable\";b:1;}s:3:\"lat\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:10:\"x-nullable\";b:1;}s:3:\"lon\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:10:\"x-nullable\";b:1;}s:5:\"state\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:10:\"x-nullable\";b:1;}s:3:\"zip\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:10:\"x-nullable\";b:1;}}s:4:\"type\";s:6:\"object\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"first\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:10:\"x-nullable\";b:1;}s:4:\"last\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:10:\"x-nullable\";b:1;}s:6:\"middle\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:10:\"x-nullable\";b:1;}}s:4:\"type\";s:6:\"object\";}s:8:\"NotFound\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"Principal\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:10:\"x-nullable\";b:1;}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:10:\"x-nullable\";b:1;}}s:4:\"type\";s:6:\"object\";}s:6:\"School\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":15:{s:7:\"created\";O:8:\"stdClass\":3:{s:6:\"format\";s:8:\"datetime\";s:4:\"type\";s:6:\"string\";s:12:\"x-validation\";b:1;}s:8:\"district\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:12:\"x-validation\";b:1;}s:10:\"high_grade\";O:8:\"stdClass\":4:{s:4:\"enum\";a:16:{i:0;s:1:\"1\";i:1;s:1:\"2\";i:2;s:1:\"3\";i:3;s:1:\"4\";i:4;s:1:\"5\";i:5;s:1:\"6\";i:6;s:1:\"7\";i:7;s:1:\"8\";i:8;s:1:\"9\";i:9;s:2:\"10\";i:10;s:2:\"11\";i:11;s:2:\"12\";i:12;s:15:\"PreKindergarten\";i:13;s:12:\"Kindergarten\";i:14;s:12:\"PostGraduate\";i:15;s:5:\"Other\";}s:4:\"type\";s:6:\"string\";s:10:\"x-nullable\";b:1;s:12:\"x-validation\";b:1;}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:12:\"x-validation\";b:1;}s:13:\"last_modified\";O:8:\"stdClass\":3:{s:6:\"format\";s:8:\"datetime\";s:4:\"type\";s:6:\"string\";s:12:\"x-validation\";b:1;}s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Location\";s:10:\"x-nullable\";b:1;}s:9:\"low_grade\";O:8:\"stdClass\":4:{s:4:\"enum\";a:16:{i:0;s:1:\"1\";i:1;s:1:\"2\";i:2;s:1:\"3\";i:3;s:1:\"4\";i:4;s:1:\"5\";i:5;s:1:\"6\";i:6;s:1:\"7\";i:7;s:1:\"8\";i:8;s:1:\"9\";i:9;s:2:\"10\";i:10;s:2:\"11\";i:11;s:2:\"12\";i:12;s:15:\"PreKindergarten\";i:13;s:12:\"Kindergarten\";i:14;s:12:\"PostGraduate\";i:15;s:5:\"Other\";}s:4:\"type\";s:6:\"string\";s:10:\"x-nullable\";b:1;s:12:\"x-validation\";b:1;}s:10:\"mdr_number\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:10:\"x-nullable\";b:1;}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"nces_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:10:\"x-nullable\";b:1;}s:5:\"phone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:10:\"x-nullable\";b:1;}s:9:\"principal\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Principal\";}s:13:\"school_number\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"sis_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"state_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:10:\"x-nullable\";b:1;}}s:4:\"type\";s:6:\"object\";}s:11:\"SchoolAdmin\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:11:\"credentials\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Credentials\";}s:8:\"district\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:12:\"x-validation\";b:1;}s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:12:\"x-validation\";b:1;}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Name\";}s:7:\"schools\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";s:12:\"x-validation\";b:1;}s:8:\"staff_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:10:\"x-nullable\";b:1;}}s:4:\"type\";s:6:\"object\";}s:19:\"SchoolAdminResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/SchoolAdmin\";}}s:4:\"type\";s:6:\"object\";}s:20:\"SchoolAdminsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/SchoolAdminResponse\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:14:\"SchoolResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/School\";}}s:4:\"type\";s:6:\"object\";}s:15:\"SchoolsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/SchoolResponse\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Section\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":18:{s:18:\"course_description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:10:\"x-nullable\";b:1;}s:11:\"course_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:10:\"x-nullable\";b:1;}s:13:\"course_number\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:10:\"x-nullable\";b:1;}s:7:\"created\";O:8:\"stdClass\":3:{s:6:\"format\";s:8:\"datetime\";s:4:\"type\";s:6:\"string\";s:12:\"x-validation\";b:1;}s:8:\"district\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:12:\"x-validation\";b:1;}s:5:\"grade\";O:8:\"stdClass\":4:{s:4:\"enum\";a:16:{i:0;s:1:\"1\";i:1;s:1:\"2\";i:2;s:1:\"3\";i:3;s:1:\"4\";i:4;s:1:\"5\";i:5;s:1:\"6\";i:6;s:1:\"7\";i:7;s:1:\"8\";i:8;s:1:\"9\";i:9;s:2:\"10\";i:10;s:2:\"11\";i:11;s:2:\"12\";i:12;s:15:\"PreKindergarten\";i:13;s:12:\"Kindergarten\";i:14;s:12:\"PostGraduate\";i:15;s:5:\"Other\";}s:4:\"type\";s:6:\"string\";s:10:\"x-nullable\";b:1;s:12:\"x-validation\";b:1;}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:12:\"x-validation\";b:1;}s:13:\"last_modified\";O:8:\"stdClass\":3:{s:6:\"format\";s:8:\"datetime\";s:4:\"type\";s:6:\"string\";s:12:\"x-validation\";b:1;}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"period\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:10:\"x-nullable\";b:1;}s:6:\"school\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:12:\"x-validation\";b:1;}s:14:\"section_number\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:10:\"x-nullable\";b:1;}s:6:\"sis_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"students\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";s:12:\"x-validation\";b:1;}s:7:\"subject\";O:8:\"stdClass\":3:{s:4:\"enum\";a:11:{i:0;s:21:\"english/language
  arts\";i:1;s:4:\"math\";i:2;s:7:\"science\";i:3;s:14:\"social studies\";i:4;s:8:\"language\";i:5;s:17:\"homeroom/advisory\";i:6;s:29:\"interventions/online
  learning\";i:7;s:26:\"technology and engineering\";i:8;s:13:\"PE and health\";i:9;s:14:\"arts
  and music\";i:10;s:5:\"other\";}s:4:\"type\";s:6:\"string\";s:12:\"x-validation\";b:1;}s:7:\"teacher\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:10:\"x-nullable\";b:1;s:12:\"x-validation\";b:1;}s:8:\"teachers\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";s:12:\"x-validation\";b:1;}s:4:\"term\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Term\";s:10:\"x-nullable\";b:1;}}s:4:\"type\";s:6:\"object\";}s:15:\"SectionResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Section\";}}s:4:\"type\";s:6:\"object\";}s:16:\"SectionsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/SectionResponse\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Student\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":20:{s:7:\"created\";O:8:\"stdClass\":3:{s:6:\"format\";s:8:\"datetime\";s:4:\"type\";s:6:\"string\";s:12:\"x-validation\";b:1;}s:11:\"credentials\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Credentials\";}s:8:\"district\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:12:\"x-validation\";b:1;}s:3:\"dob\";O:8:\"stdClass\":4:{s:6:\"format\";s:8:\"datetime\";s:4:\"type\";s:6:\"string\";s:10:\"x-nullable\";b:1;s:12:\"x-validation\";b:1;}s:10:\"ell_status\";O:8:\"stdClass\":4:{s:4:\"enum\";a:3:{i:0;s:1:\"Y\";i:1;s:1:\"N\";i:2;s:0:\"\";}s:4:\"type\";s:6:\"string\";s:10:\"x-nullable\";b:1;s:12:\"x-validation\";b:1;}s:5:\"email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:10:\"x-nullable\";b:1;}s:6:\"gender\";O:8:\"stdClass\":4:{s:4:\"enum\";a:3:{i:0;s:1:\"M\";i:1;s:1:\"F\";i:2;s:0:\"\";}s:4:\"type\";s:6:\"string\";s:10:\"x-nullable\";b:1;s:12:\"x-validation\";b:1;}s:5:\"grade\";O:8:\"stdClass\":4:{s:4:\"enum\";a:16:{i:0;s:1:\"1\";i:1;s:1:\"2\";i:2;s:1:\"3\";i:3;s:1:\"4\";i:4;s:1:\"5\";i:5;s:1:\"6\";i:6;s:1:\"7\";i:7;s:1:\"8\";i:8;s:1:\"9\";i:9;s:2:\"10\";i:10;s:2:\"11\";i:11;s:2:\"12\";i:12;s:15:\"PreKindergarten\";i:13;s:12:\"Kindergarten\";i:14;s:12:\"PostGraduate\";i:15;s:5:\"Other\";}s:4:\"type\";s:6:\"string\";s:10:\"x-nullable\";b:1;s:12:\"x-validation\";b:1;}s:15:\"graduation_year\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:10:\"x-nullable\";b:1;s:12:\"x-validation\";b:1;}s:18:\"hispanic_ethnicity\";O:8:\"stdClass\":4:{s:4:\"enum\";a:3:{i:0;s:1:\"Y\";i:1;s:1:\"N\";i:2;s:0:\"\";}s:4:\"type\";s:6:\"string\";s:10:\"x-nullable\";b:1;s:12:\"x-validation\";b:1;}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:12:\"x-validation\";b:1;}s:13:\"last_modified\";O:8:\"stdClass\":3:{s:6:\"format\";s:8:\"datetime\";s:4:\"type\";s:6:\"string\";s:12:\"x-validation\";b:1;}s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Location\";s:10:\"x-nullable\";b:1;}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Name\";}s:4:\"race\";O:8:\"stdClass\":4:{s:4:\"enum\";a:8:{i:0;s:9:\"Caucasian\";i:1;s:5:\"Asian\";i:2;s:25:\"Black
  or African American\";i:3;s:15:\"American Indian\";i:4;s:34:\"Hawaiian or Other
  Pacific Islander\";i:5;s:17:\"Two or More Races\";i:6;s:7:\"Unknown\";i:7;s:0:\"\";}s:4:\"type\";s:6:\"string\";s:10:\"x-nullable\";b:1;s:12:\"x-validation\";b:1;}s:6:\"school\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:12:\"x-validation\";b:1;}s:7:\"schools\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";s:12:\"x-validation\";b:1;}s:6:\"sis_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"state_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:10:\"x-nullable\";b:1;}s:14:\"student_number\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:10:\"x-nullable\";b:1;}}s:4:\"type\";s:6:\"object\";}s:14:\"StudentContact\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:8:\"district\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:12:\"x-validation\";b:1;}s:5:\"email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:10:\"x-nullable\";b:1;}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:12:\"x-validation\";b:1;}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"phone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:10:\"x-nullable\";b:1;}s:10:\"phone_type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:10:\"x-nullable\";b:1;}s:12:\"relationship\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:10:\"x-nullable\";b:1;}s:6:\"sis_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:10:\"x-nullable\";b:1;}s:7:\"student\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:12:\"x-validation\";b:1;}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:22:\"StudentContactResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/StudentContact\";}}s:4:\"type\";s:6:\"object\";}s:33:\"StudentContactsForStudentResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/StudentContact\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:23:\"StudentContactsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/StudentContactResponse\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:15:\"StudentResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Student\";}}s:4:\"type\";s:6:\"object\";}s:16:\"StudentsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/StudentResponse\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Teacher\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":13:{s:7:\"created\";O:8:\"stdClass\":3:{s:6:\"format\";s:8:\"datetime\";s:4:\"type\";s:6:\"string\";s:12:\"x-validation\";b:1;}s:11:\"credentials\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Credentials\";s:10:\"x-nullable\";b:1;}s:8:\"district\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:12:\"x-validation\";b:1;}s:5:\"email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:10:\"x-nullable\";b:1;}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:12:\"x-validation\";b:1;}s:13:\"last_modified\";O:8:\"stdClass\":3:{s:6:\"format\";s:8:\"datetime\";s:4:\"type\";s:6:\"string\";s:12:\"x-validation\";b:1;}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Name\";}s:6:\"school\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:12:\"x-validation\";b:1;}s:7:\"schools\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";s:12:\"x-validation\";b:1;}s:6:\"sis_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"state_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:10:\"x-nullable\";b:1;}s:14:\"teacher_number\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:10:\"x-nullable\";b:1;}s:5:\"title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:10:\"x-nullable\";b:1;}}s:4:\"type\";s:6:\"object\";}s:15:\"TeacherResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Teacher\";}}s:4:\"type\";s:6:\"object\";}s:16:\"TeachersResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/TeacherResponse\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Term\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"end_date\";O:8:\"stdClass\":4:{s:6:\"format\";s:8:\"datetime\";s:4:\"type\";s:6:\"string\";s:10:\"x-nullable\";b:1;s:12:\"x-validation\";b:1;}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:10:\"x-nullable\";b:1;}s:10:\"start_date\";O:8:\"stdClass\":4:{s:6:\"format\";s:8:\"datetime\";s:4:\"type\";s:6:\"string\";s:10:\"x-nullable\";b:1;s:12:\"x-validation\";b:1;}}s:4:\"type\";s:6:\"object\";}}"
...
