---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":5:{s:5:\"title\";s:17:\"Rabbitmq Http API\";s:7:\"version\";s:3:\"1.0\";s:11:\"description\";s:217:\"This
  is the OpenAPI specification of the RabbitMQ HTTP API. For more information, please
  refer to [HTTP API](https://cdn.rawgit.com/rabbitmq/rabbitmq-management/v3.7.14/priv/www/api/index.html)
  official documentation.\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:10:\"Apache
  2.0\";s:3:\"url\";s:43:\"https://www.apache.org/licenses/LICENSE-2.0\";}s:7:\"contact\";O:8:\"stdClass\":3:{s:4:\"name\";s:13:\"Carlos
  Lozano\";s:3:\"url\";s:36:\"https://www.linkedin.com/in/clozano/\";s:5:\"email\";s:18:\"carlos@adaptive.me\";}}"
host: mb1.bus.adaptive.me
basePath: /rabbitmq/api
paths:
  /exchanges:
    get:
      responses:
        200:
          description: ""
          schema:
            type: array
            items:
              $ref: '#/definitions/Exchange'
          examples:
            application/json:
            - arguments: []
              auto_delete: false
              durable: true
              internal: false
              name: ""
              type: direct
              user_who_performed_action: rmq-internal
              vhost: /
      consumes:
      - application/json
      summary: List Exchanges
      tags:
      - Exchanges
      operationId: ListExchanges
      security:
      - basic_auth: []
  /exchanges/{vhost}/{exchange}:
    parameters:
    - name: vhost
      in: path
      type: string
      required: true
    - name: exchange
      in: path
      type: string
      required: true
    get:
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/Exchange'
          examples:
            application/json:
              arguments: []
              auto_delete: false
              durable: true
              incoming: []
              internal: false
              message_stats:
                publish_in: 1247498
                publish_in_details:
                  rate: 0
                publish_out: 1246679
                publish_out_details:
                  rate: 0
              name: shared.exchange
              outgoing: []
              type: direct
              user_who_performed_action: adminuser
              vhost: cloud
      summary: Read Exchange
      tags:
      - Exchanges
      operationId: GetExchange
      security:
      - basic_auth: []
      consumes:
      - application/json
    put:
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/ExchangeRequest'
        x-examples:
          application/json:
            type: direct
            auto_delete: false
            durable: true
            internal: false
            arguments: []
      responses:
        201:
          description: ""
        204:
          description: ""
          headers:
            Content-Security-Policy:
              type: string
            Vary:
              type: string
      summary: Create Exchange
      operationId: CreateExchange
      tags:
      - Exchanges
      consumes:
      - application/json
      produces:
      - application/json
      security:
      - basic_auth: []
    delete:
      responses:
        204:
          description: ""
        404:
          description: ""
          schema:
            $ref: '#/definitions/ErrorMessage'
          examples:
            application/json:
              error: Object Not Found
              reason: Not Found
      consumes:
      - application/json
      summary: Delete Exchange
      operationId: DeleteExchange
      tags:
      - Exchanges
      security:
      - basic_auth: []
  /exchanges/{vhost}:
    parameters:
    - name: vhost
      in: path
      type: string
      required: true
    get:
      responses:
        200:
          description: ""
          schema:
            type: array
            items:
              $ref: '#/definitions/Exchange'
          examples:
            application/json:
            - arguments: []
              auto_delete: false
              durable: true
              internal: false
              name: ""
              type: direct
              user_who_performed_action: adminuser
              vhost: cloud
      summary: List Exchanges for VHost
      tags:
      - Exchanges
      operationId: ListExchangesForHost
      consumes:
      - application/json
      security:
      - basic_auth: []
  /overview:
    get:
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/Overview'
          examples:
            application/json:
              churn_rates:
                channel_closed: 264850
                channel_closed_details:
                  rate: 0
                channel_created: 264851
                channel_created_details:
                  rate: 0
                connection_closed: 264852
                connection_closed_details:
                  rate: 0
                connection_created: 264851
                connection_created_details:
                  rate: 0
                queue_created: 0
                queue_created_details:
                  rate: 0
                queue_declared: 3
                queue_declared_details:
                  rate: 0
                queue_deleted: 0
                queue_deleted_details:
                  rate: 0
              cluster_name: rabbit@rabbitmq-cloud-0.rabbitmq-cloud.trumpf.svc.cluster.local
              contexts:
              - description: RabbitMQ Management
                node: rabbit@rabbitmq-cloud-0
                path: /
                port: "15672"
                ssl_opts: []
              erlang_full_version: Erlang/OTP 21 [erts-10.3.4] [source] [64-bit] [smp:8:8]
                [ds:8:8:10] [async-threads:128] [hipe]
              erlang_version: 21.3.7
              exchange_types:
              - description: AMQP headers exchange, as per the AMQP specification
                enabled: true
                name: headers
              listeners:
              - ip_address: '::'
                node: rabbit@rabbitmq-cloud-0
                port: 5672
                protocol: amqp
                socket_opts:
                  backlog: 128
                  exit_on_close: false
                  linger:
                  - true
                  nodelay: true
              management_version: 3.7.14
              message_stats:
                ack: 1264822
                ack_details:
                  rate: 0
                confirm: 258495
                confirm_details:
                  rate: 0
                deliver: 1264822
                deliver_details:
                  rate: 0
                deliver_get: 1264846
                deliver_get_details:
                  rate: 0
                deliver_no_ack: 0
                deliver_no_ack_details:
                  rate: 0
                disk_reads: 0
                disk_reads_details:
                  rate: 0
                disk_writes: 1000000
                disk_writes_details:
                  rate: 0
                get: 24
                get_details:
                  rate: 0
                get_no_ack: 0
                get_no_ack_details:
                  rate: 0
                publish: 1247498
                publish_details:
                  rate: 0
                redeliver: 24
                redeliver_details:
                  rate: 0
                return_unroutable: 0
                return_unroutable_details:
                  rate: 0
              node: rabbit@rabbitmq-cloud-0
              object_totals:
                channels: 1
                connections: 1
                consumers: 0
                exchanges: 16
                queues: 1
              queue_totals:
                messages: 0
                messages_details:
                  rate: 0
                messages_ready: 0
                messages_ready_details:
                  rate: 0
                messages_unacknowledged: 0
                messages_unacknowledged_details:
                  rate: 0
              rabbitmq_version: 3.7.14
              rates_mode: basic
              sample_retention_policies:
                basic:
                - 600
                detailed:
                - 600
                global:
                - 600
              statistics_db_event_queue: 0
      summary: Get Overview
      operationId: GetOverview
      consumes:
      - application/json
      tags:
      - Informational
      security:
      - basic_auth: []
  /cluster-name:
    get:
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/ClusterName'
          examples:
            application/json:
              name: rabbit@rabbitmq-cloud-0.rabbitmq-cloud.trumpf.svc.cluster.local
      summary: Read Cluster Name
      consumes:
      - application/json
      tags:
      - Informational
      operationId: GetClusterName
      security:
      - basic_auth: []
  /definitions:
    get:
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/Definition'
          examples:
            application/json:
              bindings:
              - arguments: []
                destination: shared.queue.cloud
                destination_type: queue
                routing_key: shared.queue.cloud.key
                source: shared.exchange
                vhost: cloud
              exchanges:
              - arguments: []
                auto_delete: false
                durable: true
                internal: false
                name: shared.exchange
                type: direct
                vhost: cloud
              global_parameters:
              - name: cluster_name
                value: rabbit@rabbitmq-cloud-0.rabbitmq-cloud.trumpf.svc.cluster.local
              parameters: []
              permissions:
              - configure: .*
                read: .*
                user: adminuser
                vhost: cloud
                write: .*
              policies: []
              queues:
              - arguments: []
                auto_delete: false
                durable: true
                name: shared.queue.cloud
                vhost: cloud
              rabbit_version: 3.7.14
              topic_permissions:
              - exchange: shared.exchange
                read: .*
                user: apiuser
                vhost: cloud
                write: .*
              users:
              - hashing_algorithm: rabbit_password_hashing_sha256
                name: apiuser
                password_hash: mVZvOq/iWjeTCvDw8bSZkHUB+w8Z07S/lZwg4e7NcNscLjah
                tags: administrator
              vhosts:
              - name: cloud
      summary: List Definitions
      tags:
      - Informational
      operationId: ListDefinitions
      consumes:
      - application/json
  /definitions/{vhost}:
    parameters:
    - name: vhost
      in: path
      type: string
      required: true
    get:
      responses:
        200:
          description: ""
          headers:
            Content-Security-Policy:
              type: string
            Vary:
              type: string
          schema:
            $ref: '#/definitions/Definition'
          examples:
            application/json:
              bindings:
              - arguments: []
                destination: shared.queue.cloud
                destination_type: queue
                routing_key: shared.queue.cloud.key
                source: shared.exchange
              exchanges:
              - arguments: []
                auto_delete: false
                durable: true
                internal: false
                name: shared.exchange
                type: direct
              parameters: []
              policies: []
              queues:
              - arguments: []
                auto_delete: false
                durable: true
                name: shared.queue.cloud
              rabbit_version: 3.7.14
      summary: Get Definitions for VHost
      tags:
      - Informational
      - Virtual Hosts
      operationId: GetDefinitionsForVirtualHost
      consumes:
      - application/json
      security:
      - basic_auth: []
    post:
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/Definition'
        x-examples:
          application/json:
            bindings:
            - arguments:
                x-arg: value
              destination: shared.queue.cloud4
              destination_type: queue
              routing_key: my_routing_key
              source: shared.exchange
            exchanges:
            - arguments: []
              auto_delete: false
              durable: true
              internal: false
              name: shared.exchange
              type: direct
            parameters: []
            policies: []
            queues:
            - arguments: []
              auto_delete: false
              durable: true
              name: shared.queue.cloud4
            rabbit_version: 3.7.14
      responses:
        204:
          description: ""
        400:
          description: ""
          schema:
            $ref: '#/definitions/ErrorMessage'
          examples:
            application/json:
              error: bad_request
              reason: vhost_not_found
      summary: Create Definitions for VHost
      tags:
      - Virtual Hosts
      operationId: CreateDefinitionsForVirtualHost
      consumes:
      - application/json
      produces:
      - application/json
      security:
      - basic_auth: []
  /queues/{vhost}/{queue}/get:
    parameters:
    - name: vhost
      in: path
      type: string
      required: true
    - name: queue
      in: path
      type: string
      required: true
    post:
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/ConsumeRequest'
        x-examples:
          application/json:
            count: 1
            ackmode: ack_requeue_true
            encoding: auto
            truncate: 50000
      responses:
        200:
          description: ""
          schema:
            type: array
            items:
              $ref: '#/definitions/ConsumeResponse'
          examples:
            application/json:
            - exchange: shared.exchange
              message_count: 24
              payload: my body
              payload_bytes: 7
              payload_encoding: string
              properties: []
              redelivered: true
              routing_key: shared.queue.cloud.key
        401:
          description: ""
          schema:
            $ref: '#/definitions/ErrorMessage'
          examples:
            application/json:
              error: not_authorised
              reason: Access refused.
        404:
          description: ""
          schema:
            $ref: '#/definitions/ErrorMessage'
          examples:
            application/json:
              error: not_found
              reason: NOT_FOUND - no queue 'shared.queue.clouds' in vhost 'cloud'
      operationId: ConsumeMessage
      summary: Consume Message
      produces:
      - application/json
      consumes:
      - application/json
      security:
      - basic_auth: []
      tags:
      - Pub/Sub
      - Queues
  /exchanges/{vhost}/{exchange}/publish:
    parameters:
    - name: vhost
      in: path
      type: string
      required: true
    - name: exchange
      in: path
      type: string
      required: true
    post:
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/PublishRequest'
        x-examples:
          application/json:
            routing_key: shared.key
            payload: This is the payload
            payload_encoding: string
            properties:
              app_id: ApplicationId
              correlation_id: CorrelationId
              message_id: MessageId
              user_id: testuser
              delivery_mode: 2
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/PublishResponse'
          examples:
            application/json:
              routed: true
      summary: Publish Message
      consumes:
      - application/json
      produces:
      - application/json
      security:
      - basic_auth: []
      operationId: PublishMessage
      tags:
      - Pub/Sub
      - Exchanges
  /vhosts:
    get:
      responses:
        200:
          description: ""
          schema:
            type: array
            items:
              $ref: '#/definitions/VHost'
          examples:
            application/json:
            - cluster_state:
                rabbit@rabbitmq-cloud-0: running
              name: /
              tracing: false
      summary: List VHosts
      operationId: ListVirtualHosts
      security:
      - basic_auth: []
      consumes:
      - application/json
      tags:
      - Virtual Hosts
  /vhosts/{vhost}:
    parameters:
    - name: vhost
      in: path
      type: string
      required: true
    get:
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/VHost'
          examples:
            application/json:
              message_stats:
                ack: 1264822
                ack_details:
                  rate: 0
                confirm: 258525
                confirm_details:
                  rate: 0
                deliver: 1264822
                deliver_details:
                  rate: 0
                deliver_get: 1264850
                deliver_get_details:
                  rate: 0
                deliver_no_ack: 0
                deliver_no_ack_details:
                  rate: 0
                get: 28
                get_details:
                  rate: 0
                get_no_ack: 0
                get_no_ack_details:
                  rate: 0
                publish: 1247528
                publish_details:
                  rate: 0
                redeliver: 27
                redeliver_details:
                  rate: 0
                return_unroutable: 7
                return_unroutable_details:
                  rate: 0
              messages: 25
              messages_details:
                rate: 0
              messages_ready: 25
              messages_ready_details:
                rate: 0
              messages_unacknowledged: 0
              messages_unacknowledged_details:
                rate: 0
              name: cloud
              recv_oct: 178988418
              recv_oct_details:
                rate: 1.600000
              send_oct: 274962337
              send_oct_details:
                rate: 1.600000
              tracing: false
        400:
          description: ""
          schema:
            $ref: '#/definitions/ErrorMessage'
        401:
          description: ""
          schema:
            $ref: '#/definitions/ErrorMessage'
          examples:
            application/json:
              error: not_authorised
              reason: Login failed
        403:
          description: ""
          schema:
            $ref: '#/definitions/ErrorMessage'
        404:
          description: ""
          schema:
            $ref: '#/definitions/ErrorMessage'
          examples:
            application/json:
              error: Object Not Found
              reason: Not Found
      operationId: GetVirtualHost
      summary: Read VHost
      security:
      - basic_auth: []
      consumes:
      - application/json
      tags:
      - Virtual Hosts
    put:
      responses:
        201:
          description: ""
        204:
          description: ""
      summary: Create VHost
      tags:
      - Virtual Hosts
      operationId: CreateVirtualHost
      consumes:
      - application/json
      security:
      - basic_auth: []
    delete:
      responses:
        204:
          description: ""
        404:
          description: ""
          schema:
            $ref: '#/definitions/ErrorMessage'
          examples:
            application/json:
              error: Object Not Found
              reason: Not Found
      summary: Delete VHost
      tags:
      - Virtual Hosts
      operationId: DeleteVirtualHost
      consumes:
      - application/json
      security:
      - basic_auth: []
  /bindings:
    get:
      responses:
        200:
          description: ""
          schema:
            type: array
            items:
              $ref: '#/definitions/Binding'
          examples:
            application/json:
            - arguments: []
              destination: shared.queue.cloud
              destination_type: queue
              properties_key: shared.queue.cloud
              routing_key: shared.queue.cloud
              source: ""
              vhost: cloud
        400:
          description: ""
        500:
          description: ""
      consumes:
      - application/json
      security:
      - basic_auth: []
      summary: List Bindings
      tags:
      - Bindings
      operationId: ListBindings
  /exchanges/{vhost}/{exchange}/bindings/source:
    parameters:
    - name: vhost
      in: path
      type: string
      required: true
    - name: exchange
      in: path
      type: string
      required: true
    get:
      responses:
        200:
          description: ""
          schema:
            type: array
            items:
              $ref: '#/definitions/Binding'
          examples:
            application/json:
            - arguments: []
              destination: shared.queue.cloud
              destination_type: queue
              properties_key: shared.queue.cloud.key
              routing_key: shared.queue.cloud.key
              source: shared.exchange
              vhost: cloud
      consumes:
      - application/json
      summary: List Bindings as Source
      operationId: ListBindingsAsSource
      tags:
      - Bindings
      security:
      - basic_auth: []
  /exchanges/{vhost}/{exchange}/bindings/destination:
    parameters:
    - name: vhost
      in: path
      type: string
      required: true
    - name: exchange
      in: path
      type: string
      required: true
    get:
      responses:
        200:
          description: ""
          schema:
            type: array
            items:
              $ref: '#/definitions/Binding'
          examples:
            application/json:
            - arguments: []
              destination: shared.exchange
              destination_type: exchange
              properties_key: shared.queue.cloud.key
              routing_key: shared.queue.cloud.key
              source: test.exchange
              vhost: cloud
      summary: List Bindings as Destination
      operationId: ListBindingsAsDestination
      tags:
      - Bindings
      consumes:
      - application/json
      security:
      - basic_auth: []
  /queues:
    get:
      responses:
        200:
          description: ""
          schema:
            type: array
            items:
              $ref: '#/definitions/Queue'
          examples:
            application/json:
            - arguments: []
              auto_delete: false
              backing_queue_status:
                avg_ack_egress_rate: 0
                avg_ack_ingress_rate: 0.000000
                avg_egress_rate: 0.000000
                avg_ingress_rate: 0.083365
                delta:
                - delta
                len: 57
                mode: default
                next_seq_id: 1264879
                q1: 0
                q2: 0
                q3: 0
                q4: 57
                target_ram_count: infinity
              consumer_utilisation: ~
              consumers: 0
              durable: true
              effective_policy_definition: []
              exclusive: false
              exclusive_consumer_tag: ~
              garbage_collection:
                fullsweep_after: 65535
                max_heap_size: 0
                min_bin_vheap_size: 46422
                min_heap_size: 233
                minor_gcs: 1264
              head_message_timestamp: ~
              idle_since: "2019-05-10 19:39:01"
              memory: 50664
              message_bytes: 399
              message_bytes_paged_out: 0
              message_bytes_persistent: 0
              message_bytes_ram: 399
              message_bytes_ready: 399
              message_bytes_unacknowledged: 0
              message_stats:
                ack: 1264822
                ack_details:
                  rate: 0
                deliver: 1264822
                deliver_details:
                  rate: 0
                deliver_get: 1264855
                deliver_get_details:
                  rate: 0
                deliver_no_ack: 0
                deliver_no_ack_details:
                  rate: 0
                get: 33
                get_details:
                  rate: 0
                get_no_ack: 0
                get_no_ack_details:
                  rate: 0
                publish: 1246734
                publish_details:
                  rate: 0
                redeliver: 32
                redeliver_details:
                  rate: 0
              messages: 57
              messages_details:
                rate: 0
              messages_paged_out: 0
              messages_persistent: 0
              messages_ram: 57
              messages_ready: 57
              messages_ready_details:
                rate: 0
              messages_ready_ram: 57
              messages_unacknowledged: 0
              messages_unacknowledged_details:
                rate: 0
              messages_unacknowledged_ram: 0
              name: shared.queue.cloud
              node: rabbit@rabbitmq-cloud-0
              operator_policy: ~
              policy: ~
              recoverable_slaves: ~
              reductions: 2262604946
              reductions_details:
                rate: 0
              state: running
              vhost: cloud
      summary: List Queues
      tags:
      - Queues
      operationId: ListQueues
      consumes:
      - application/json
      security:
      - basic_auth: []
  /queues/{vhost}:
    parameters:
    - name: vhost
      in: path
      type: string
      required: true
    get:
      responses:
        200:
          description: ""
          schema:
            type: array
            items:
              $ref: '#/definitions/Queue'
          examples:
            application/json:
            - arguments: []
              auto_delete: false
              backing_queue_status:
                avg_ack_egress_rate: 0
                avg_ack_ingress_rate: 0.000000
                avg_egress_rate: 0.000000
                avg_ingress_rate: 0.083365
                delta:
                - delta
                len: 57
                mode: default
                next_seq_id: 1264879
                q1: 0
                q2: 0
                q3: 0
                q4: 57
                target_ram_count: infinity
              consumer_utilisation: ~
              consumers: 0
              durable: true
              effective_policy_definition: []
              exclusive: false
              exclusive_consumer_tag: ~
              garbage_collection:
                fullsweep_after: 65535
                max_heap_size: 0
                min_bin_vheap_size: 46422
                min_heap_size: 233
                minor_gcs: 1264
              head_message_timestamp: ~
              idle_since: "2019-05-10 19:39:01"
              memory: 50664
              message_bytes: 399
              message_bytes_paged_out: 0
              message_bytes_persistent: 0
              message_bytes_ram: 399
              message_bytes_ready: 399
              message_bytes_unacknowledged: 0
              message_stats:
                ack: 1264822
                ack_details:
                  rate: 0
                deliver: 1264822
                deliver_details:
                  rate: 0
                deliver_get: 1264855
                deliver_get_details:
                  rate: 0
                deliver_no_ack: 0
                deliver_no_ack_details:
                  rate: 0
                get: 33
                get_details:
                  rate: 0
                get_no_ack: 0
                get_no_ack_details:
                  rate: 0
                publish: 1246734
                publish_details:
                  rate: 0
                redeliver: 32
                redeliver_details:
                  rate: 0
              messages: 57
              messages_details:
                rate: 0
              messages_paged_out: 0
              messages_persistent: 0
              messages_ram: 57
              messages_ready: 57
              messages_ready_details:
                rate: 0
              messages_ready_ram: 57
              messages_unacknowledged: 0
              messages_unacknowledged_details:
                rate: 0
              messages_unacknowledged_ram: 0
              name: shared.queue.cloud
              node: rabbit@rabbitmq-cloud-0
              operator_policy: ~
              policy: ~
              recoverable_slaves: ~
              reductions: 2262604946
              reductions_details:
                rate: 0
              state: running
              vhost: cloud
      summary: List Queues for VHost
      tags:
      - Queues
      operationId: ListQueuesForVirtualHost
      consumes:
      - application/json
      security:
      - basic_auth: []
  /queues/{vhost}/{queue}:
    parameters:
    - name: vhost
      in: path
      type: string
      required: true
    - name: queue
      in: path
      type: string
      required: true
    get:
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/Queue'
          examples:
            application/json:
              arguments: []
              auto_delete: false
              backing_queue_status:
                avg_ack_egress_rate: 0
                avg_ack_ingress_rate: 0.000000
                avg_egress_rate: 0.000000
                avg_ingress_rate: 0.083365
                delta:
                - delta
                len: 57
                mode: default
                next_seq_id: 1264879
                q1: 0
                q2: 0
                q3: 0
                q4: 57
                target_ram_count: infinity
              consumer_details: []
              consumer_utilisation: ~
              consumers: 0
              deliveries: []
              durable: true
              effective_policy_definition: []
              exclusive: false
              exclusive_consumer_tag: ~
              garbage_collection:
                fullsweep_after: 65535
                max_heap_size: 0
                min_bin_vheap_size: 46422
                min_heap_size: 233
                minor_gcs: 1264
              head_message_timestamp: ~
              idle_since: "2019-05-10 19:39:01"
              incoming: []
              memory: 50664
              message_bytes: 399
              message_bytes_paged_out: 0
              message_bytes_persistent: 0
              message_bytes_ram: 399
              message_bytes_ready: 399
              message_bytes_unacknowledged: 0
              message_stats:
                ack: 1264822
                ack_details:
                  rate: 0
                deliver: 1264822
                deliver_details:
                  rate: 0
                deliver_get: 1264855
                deliver_get_details:
                  rate: 0
                deliver_no_ack: 0
                deliver_no_ack_details:
                  rate: 0
                get: 33
                get_details:
                  rate: 0
                get_no_ack: 0
                get_no_ack_details:
                  rate: 0
                publish: 1246734
                publish_details:
                  rate: 0
                redeliver: 32
                redeliver_details:
                  rate: 0
              messages: 57
              messages_details:
                rate: 0
              messages_paged_out: 0
              messages_persistent: 0
              messages_ram: 57
              messages_ready: 57
              messages_ready_details:
                rate: 0
              messages_ready_ram: 57
              messages_unacknowledged: 0
              messages_unacknowledged_details:
                rate: 0
              messages_unacknowledged_ram: 0
              name: shared.queue.cloud
              node: rabbit@rabbitmq-cloud-0
              operator_policy: ~
              policy: ~
              recoverable_slaves: ~
              reductions: 2262604946
              reductions_details:
                rate: 0
              state: running
              vhost: cloud
      summary: Get Queue
      tags:
      - Queues
      operationId: GetQueue
      consumes:
      - application/json
      security:
      - basic_auth: []
    put:
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/QueueRequest'
        x-examples:
          application/json:
            auto_delete: false
            durable: true
            arguments:
              x-arg: ex
      responses:
        201:
          description: ""
        204:
          description: ""
      summary: Create Queue
      tags:
      - Queues
      operationId: CreateQueue
      consumes:
      - application/json
      security:
      - basic_auth: []
    delete:
      responses:
        204:
          description: ""
        404:
          description: ""
          schema:
            $ref: '#/definitions/ErrorMessage'
          examples:
            application/json:
              error: Object Not Found
              reason: Not Found
      summary: Delete Queue
      parameters:
      - in: query
        name: if-empty
        type: boolean
        default: true
      - in: query
        name: if-unused
        type: boolean
        default: true
      tags:
      - Queues
      operationId: DeleteQueue
      consumes:
      - application/json
      security:
      - basic_auth: []
  /queues/{vhost}/{queue}/bindings:
    parameters:
    - name: vhost
      in: path
      type: string
      required: true
    - name: queue
      in: path
      type: string
      required: true
    get:
      responses:
        200:
          description: ""
          schema:
            type: array
            items:
              $ref: '#/definitions/Binding'
          examples:
            application/json:
            - arguments: []
              destination: shared.queue.cloud
              destination_type: queue
              properties_key: shared.queue.cloud
              routing_key: shared.queue.cloud
              source: ""
              vhost: cloud
      summary: List All Bindings for Queue
      tags:
      - Bindings
      - Queues
      operationId: ListBindingsForQueue
      consumes:
      - application/json
      security:
      - basic_auth: []
  /queues/{vhost}/{queue}/actions:
    parameters:
    - name: vhost
      in: path
      type: string
      required: true
    - name: queue
      in: path
      type: string
      required: true
    post:
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/QueueAction'
        x-examples:
          application/json:
            action: sync
      responses:
        204:
          description: ""
      summary: Create Actions for Queue
      tags:
      - Queues
      operationId: CreateQueueActions
      consumes:
      - application/json
      produces:
      - application/json
      security:
      - basic_auth: []
  /queues/{vhost}/{queue}/contents:
    parameters:
    - name: vhost
      in: path
      type: string
      required: true
    - name: queue
      in: path
      type: string
      required: true
    delete:
      responses:
        204:
          description: ""
      summary: Delete Queue Contents (Purge)
      tags:
      - Queues
      operationId: DeleteQueueContents
      consumes:
      - application/json
      security:
      - basic_auth: []
  /bindings/{vhost}/e/{exchange}/q/{queue}:
    parameters:
    - name: vhost
      in: path
      type: string
      required: true
    - name: exchange
      in: path
      type: string
      required: true
    - name: queue
      in: path
      type: string
      required: true
    get:
      responses:
        200:
          description: ""
          schema:
            type: array
            items:
              $ref: '#/definitions/Binding'
          examples:
            application/json:
            - arguments:
                x-arg: value
              destination: shared.queue.cloud4
              destination_type: queue
              properties_key: my_routing_key~O1oKpA
              routing_key: my_routing_key
              source: shared.exchange
              vhost: cloud
      summary: List Bindings for Queue
      tags:
      - Bindings
      operationId: ListBindingsForQueueExchange
      consumes:
      - application/json
      security:
      - basic_auth: []
    post:
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/BindingRequest'
      responses:
        201:
          description: ""
        405:
          description: ""
      summary: Create Bindings for Queue
      tags:
      - Bindings
      operationId: CreateBindingsForQueueExchange
      consumes:
      - application/json
      produces:
      - application/json
      security:
      - basic_auth: []
  /bindings/{vhost}/e/{exchange}/q/{queue}/{propertyKey}:
    parameters:
    - name: vhost
      in: path
      type: string
      required: true
    - name: exchange
      in: path
      type: string
      required: true
    - name: queue
      in: path
      type: string
      required: true
    - name: propertyKey
      in: path
      type: string
      required: true
    get:
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/Binding'
          examples:
            application/json:
              arguments:
                x-arg: value
              destination: shared.queue.cloud4
              destination_type: queue
              properties_key: my_routing_key~O1oKpA
              routing_key: my_routing_key
              source: shared.exchange
              vhost: cloud
        404:
          description: ""
          schema:
            $ref: '#/definitions/ErrorMessage'
          examples:
            application/json:
              error: Object Not Found
              reason: Not Found
      summary: Get Binding for Queue
      tags:
      - Bindings
      operationId: GetBindingForQueueExchange
      consumes:
      - application/json
      security:
      - basic_auth: []
    delete:
      responses:
        204:
          description: ""
        404:
          description: ""
          schema:
            type: object
            properties:
              error:
                type: string
              reason:
                type: string
          examples:
            application/json:
              error: Object Not Found
              reason: Not Found
      summary: Delete Binding for Queue
      tags:
      - Bindings
      operationId: DeleteBindingForQueueExchange
      consumes:
      - application/json
      security:
      - basic_auth: []
  /users:
    get:
      responses:
        200:
          description: ""
          schema:
            type: array
            items:
              $ref: '#/definitions/PermissionUser'
          examples:
            application/json:
            - hashing_algorithm: rabbit_password_hashing_sha256
              name: adminuser
              password_hash: masEFKl4ejfIv1DHb1WQ9jFYe9fKx6PqIAf/BxSU6k9NlXtQ
              tags: administrator
      operationId: ListUsers
      tags:
      - Users
      summary: List Users
      consumes:
      - application/json
      security:
      - basic_auth: []
  /users/without-permissions:
    get:
      responses:
        200:
          description: ""
          schema:
            type: array
            items:
              $ref: '#/definitions/User'
          examples:
            application/json:
            - hashing_algorithm: rabbit_password_hashing_sha256
              name: flowers
              password_hash: tSBI8cXfyjsgfOusC0H640/v6aITQMZ2ZP5eWSHOUtY8sCMl
              tags: ""
      summary: List Users without Permissions
      tags:
      - Users
      - Permissions
      operationId: ListUsersWithoutPermissions
      consumes:
      - application/json
      security:
      - basic_auth: []
  /users/{name}:
    parameters:
    - name: name
      in: path
      type: string
      required: true
    get:
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/User'
          examples:
            application/json:
              hashing_algorithm: rabbit_password_hashing_sha256
              name: apiuser
              password_hash: mVZvOq/iWjeTCvDw8bSZkHUB+w8Z07S/lZwg4e7NcNscLjah
              tags: administrator
        404:
          description: ""
          schema:
            $ref: '#/definitions/ErrorMessage'
          examples:
            application/json:
              error: Object Not Found
              reason: Not Found
      summary: Get User
      tags:
      - Users
      operationId: GetUser
      consumes:
      - application/json
      security:
      - basic_auth: []
    put:
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/UserRequest'
        x-examples:
          application/json:
            password: secret
            tags: ""
      responses:
        201:
          description: ""
        204:
          description: ""
      summary: Create User
      tags:
      - Users
      operationId: CreateUser
      consumes:
      - application/json
      security:
      - basic_auth: []
    delete:
      responses:
        204:
          description: ""
        404:
          description: ""
          schema:
            $ref: '#/definitions/ErrorMessage'
          examples:
            application/json:
              error: Object Not Found
              reason: Not Found
      summary: Delete User
      tags:
      - Users
      operationId: DeleteUser
      consumes:
      - application/json
      security:
      - basic_auth: []
  /users/{user}/permissions:
    parameters:
    - name: user
      in: path
      type: string
      required: true
    get:
      responses:
        200:
          description: ""
          schema:
            type: array
            items:
              $ref: '#/definitions/PermissionUser'
          examples:
            application/json:
            - configure: .*
              read: .*
              user: apiuser
              vhost: /
              write: .*
        404:
          description: ""
          schema:
            $ref: '#/definitions/ErrorMessage'
          examples:
            application/json:
              error: Object Not Found
              reason: Not Found
      summary: List User Permissions
      tags:
      - Users
      - Permissions
      operationId: ListUserPermissions
      consumes:
      - application/json
      security:
      - basic_auth: []
  /users/{user}/topic-permissions:
    parameters:
    - name: user
      in: path
      type: string
      required: true
    get:
      responses:
        200:
          description: ""
          schema:
            type: array
            items:
              $ref: '#/definitions/PermissionTopic'
          examples:
            application/json:
            - exchange: shared.exchange
              read: .*
              user: apiuser
              vhost: cloud
              write: .*
      tags:
      - Permissions
      summary: List Users Topic Permissions
      operationId: ListUsersTopicPermissions
      consumes:
      - application/json
      security:
      - basic_auth: []
  /whoami:
    get:
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/WhoAmI'
          examples:
            application/json:
              name: apiuser
              tags: administrator
        401:
          description: ""
          schema:
            $ref: '#/definitions/ErrorMessage'
      tags:
      - Users
      summary: Get Current User
      operationId: GetUserCurrent
      security:
      - basic_auth: []
      consumes:
      - application/json
produces:
- application/json
schemes:
- http
- https
definitions: !php/object "O:8:\"stdClass\":23:{s:14:\"BindingRequest\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:11:\"routing_key\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"routing_key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"arguments\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"x-arg\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:5:\"title\";s:14:\"BindingRequest\";}s:7:\"Binding\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:9:\"arguments\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"x-arg\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:11:\"destination\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"destination_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"properties_key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"routing_key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"source\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"vhost\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:7:\"Binding\";}s:11:\"ClusterName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:11:\"ClusterName\";}s:8:\"Exchange\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:5:\"title\";s:8:\"Exchange\";s:10:\"properties\";O:8:\"stdClass\":11:{s:9:\"arguments\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"x-arg\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:11:\"auto_delete\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:7:\"durable\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"incoming\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}s:8:\"internal\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:13:\"message_stats\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"publish_in\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:18:\"publish_in_details\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"rate\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:11:\"publish_out\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:19:\"publish_out_details\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"rate\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}}}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"outgoing\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:25:\"user_who_performed_action\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"vhost\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:6:\"WhoAmI\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:6:\"WhoAmI\";}s:5:\"VHost\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:5:\"title\";s:5:\"VHost\";s:10:\"properties\";O:8:\"stdClass\":13:{s:13:\"message_stats\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":20:{s:3:\"ack\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"ack_details\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"rate\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:7:\"confirm\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:15:\"confirm_details\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"rate\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:7:\"deliver\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:15:\"deliver_details\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"rate\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:11:\"deliver_get\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:19:\"deliver_get_details\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"rate\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:14:\"deliver_no_ack\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:22:\"deliver_no_ack_details\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"rate\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:3:\"get\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"get_details\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"rate\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:10:\"get_no_ack\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:18:\"get_no_ack_details\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"rate\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:7:\"publish\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:15:\"publish_details\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"rate\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:9:\"redeliver\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:17:\"redeliver_details\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"rate\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:17:\"return_unroutable\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:25:\"return_unroutable_details\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"rate\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}}}s:8:\"messages\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:16:\"messages_details\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"rate\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:14:\"messages_ready\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:22:\"messages_ready_details\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"rate\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:23:\"messages_unacknowledged\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:31:\"messages_unacknowledged_details\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"rate\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"recv_oct\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:16:\"recv_oct_details\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"rate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}}s:8:\"send_oct\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:16:\"send_oct_details\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"rate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}}s:7:\"tracing\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}}s:15:\"PermissionTopic\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"exchange\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"read\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"user\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"vhost\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"write\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:14:\"PermissionUser\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"configure\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"read\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"user\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"vhost\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"write\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:12:\"ErrorMessage\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"error\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"reason\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:12:\"ErrorMessage\";}s:4:\"User\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:17:\"hashing_algorithm\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"password_hash\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:4:\"User\";}s:11:\"UserRequest\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"password\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:11:\"UserRequest\";}s:5:\"Queue\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":43:{s:9:\"arguments\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"x-arg\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:11:\"auto_delete\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:20:\"backing_queue_status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":13:{s:19:\"avg_ack_egress_rate\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:20:\"avg_ack_ingress_rate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:15:\"avg_egress_rate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:16:\"avg_ingress_rate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"delta\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:3:\"len\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"mode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"next_seq_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:2:\"q1\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:2:\"q2\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:2:\"q3\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:2:\"q4\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:16:\"target_ram_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:16:\"consumer_details\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}s:20:\"consumer_utilisation\";O:8:\"stdClass\":1:{s:4:\"type\";s:4:\"null\";}s:9:\"consumers\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"deliveries\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}s:7:\"durable\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:27:\"effective_policy_definition\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}s:9:\"exclusive\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:22:\"exclusive_consumer_tag\";O:8:\"stdClass\":1:{s:4:\"type\";s:4:\"null\";}s:18:\"garbage_collection\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:15:\"fullsweep_after\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"max_heap_size\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:18:\"min_bin_vheap_size\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"min_heap_size\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"minor_gcs\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:22:\"head_message_timestamp\";O:8:\"stdClass\":1:{s:4:\"type\";s:4:\"null\";}s:10:\"idle_since\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"incoming\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}s:6:\"memory\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"message_bytes\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:23:\"message_bytes_paged_out\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:24:\"message_bytes_persistent\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:17:\"message_bytes_ram\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:19:\"message_bytes_ready\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:28:\"message_bytes_unacknowledged\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"message_stats\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":16:{s:3:\"ack\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"ack_details\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"rate\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:7:\"deliver\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:15:\"deliver_details\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"rate\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:11:\"deliver_get\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:19:\"deliver_get_details\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"rate\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:14:\"deliver_no_ack\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:22:\"deliver_no_ack_details\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"rate\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:3:\"get\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"get_details\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"rate\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:10:\"get_no_ack\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:18:\"get_no_ack_details\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"rate\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:7:\"publish\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:15:\"publish_details\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"rate\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:9:\"redeliver\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:17:\"redeliver_details\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"rate\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}}}s:8:\"messages\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:16:\"messages_details\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"rate\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:18:\"messages_paged_out\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:19:\"messages_persistent\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"messages_ram\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:14:\"messages_ready\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:22:\"messages_ready_details\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"rate\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:18:\"messages_ready_ram\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:23:\"messages_unacknowledged\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:31:\"messages_unacknowledged_details\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"rate\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:27:\"messages_unacknowledged_ram\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"node\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"operator_policy\";O:8:\"stdClass\":1:{s:4:\"type\";s:4:\"null\";}s:6:\"policy\";O:8:\"stdClass\":1:{s:4:\"type\";s:4:\"null\";}s:18:\"recoverable_slaves\";O:8:\"stdClass\":1:{s:4:\"type\";s:4:\"null\";}s:10:\"reductions\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:18:\"reductions_details\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"rate\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:5:\"state\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"vhost\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:5:\"Queue\";}s:12:\"QueueRequest\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"auto_delete\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:7:\"durable\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"arguments\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"x-arg\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:5:\"title\";s:12:\"QueueRequest\";}s:8:\"Overview\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":16:{s:11:\"churn_rates\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":14:{s:14:\"channel_closed\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:22:\"channel_closed_details\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"rate\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:15:\"channel_created\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:23:\"channel_created_details\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"rate\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:17:\"connection_closed\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:25:\"connection_closed_details\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"rate\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:18:\"connection_created\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:26:\"connection_created_details\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"rate\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:13:\"queue_created\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:21:\"queue_created_details\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"rate\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:14:\"queue_declared\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:22:\"queue_declared_details\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"rate\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:13:\"queue_deleted\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:21:\"queue_deleted_details\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"rate\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}}}s:12:\"cluster_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"contexts\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"node\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"path\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"port\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"ssl_opts\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":0:{}}}}}}s:19:\"erlang_full_version\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"erlang_version\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"exchange_types\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"enabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"internal_purpose\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:9:\"listeners\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"ip_address\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"node\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"port\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"protocol\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"socket_opts\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"backlog\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"exit_on_close\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:6:\"linger\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:7:\"nodelay\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:15:\"connection_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"port\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}}}}s:18:\"management_version\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"message_stats\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":24:{s:3:\"ack\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"ack_details\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"rate\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:7:\"confirm\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:15:\"confirm_details\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"rate\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:7:\"deliver\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:15:\"deliver_details\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"rate\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:11:\"deliver_get\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:19:\"deliver_get_details\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"rate\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:14:\"deliver_no_ack\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:22:\"deliver_no_ack_details\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"rate\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:10:\"disk_reads\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:18:\"disk_reads_details\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"rate\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:11:\"disk_writes\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:19:\"disk_writes_details\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"rate\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:3:\"get\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"get_details\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"rate\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:10:\"get_no_ack\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:18:\"get_no_ack_details\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"rate\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:7:\"publish\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:15:\"publish_details\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"rate\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:9:\"redeliver\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:17:\"redeliver_details\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"rate\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:17:\"return_unroutable\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:25:\"return_unroutable_details\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"rate\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}}}s:4:\"node\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"object_totals\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"channels\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"connections\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"consumers\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"exchanges\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"queues\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:12:\"queue_totals\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:8:\"messages\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:16:\"messages_details\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"rate\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:14:\"messages_ready\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:22:\"messages_ready_details\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"rate\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:23:\"messages_unacknowledged\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:31:\"messages_unacknowledged_details\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"rate\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}}}s:16:\"rabbitmq_version\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"rates_mode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:25:\"sample_retention_policies\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"basic\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:8:\"detailed\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:6:\"global\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}}s:25:\"statistics_db_event_queue\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:5:\"title\";s:8:\"Overview\";}s:15:\"PublishResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"routed\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:5:\"title\";s:15:\"PublishResponse\";}s:17:\"MessageProperties\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:5:\"title\";s:17:\"MessageProperties\";s:10:\"properties\";O:8:\"stdClass\":9:{s:6:\"app_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"correlation_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"message_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"user_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"timestamp\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"content_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"delivery_mode\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:34:\"1
  = Non Persistent, 2 = Persistent\";}s:8:\"priority\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"cluster_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:14:\"PublishRequest\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:5:\"title\";s:14:\"PublishRequest\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"routing_key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"payload\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"payload_encoding\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:6:\"string\";i:1;s:6:\"base64\";}s:7:\"default\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/PublishProperties\";}}s:8:\"required\";a:3:{i:0;s:11:\"routing_key\";i:1;s:7:\"payload\";i:2;s:16:\"payload_encoding\";}}s:15:\"ExchangeRequest\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:5:\"title\";s:15:\"ExchangeRequest\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"auto_delete\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:7:\"durable\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"internal\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"arguments\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"x-arg\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}s:10:\"Definition\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:5:\"title\";s:10:\"Definition\";s:10:\"properties\";O:8:\"stdClass\":6:{s:8:\"bindings\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Binding\";}}s:9:\"exchanges\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Exchange\";}}s:10:\"parameters\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}s:8:\"policies\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}s:6:\"queues\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Queue\";}}s:14:\"rabbit_version\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:15:\"ConsumeResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:5:\"title\";s:15:\"ConsumeResponse\";s:10:\"properties\";O:8:\"stdClass\":8:{s:8:\"exchange\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"message_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"payload\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"payload_bytes\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:16:\"payload_encoding\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/MessageProperties\";}s:11:\"redelivered\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"routing_key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:14:\"ConsumeRequest\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:5:\"title\";s:14:\"ConsumeRequest\";s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"count\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:7:\"default\";i:1;s:7:\"minimum\";i:0;}s:7:\"ackmode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:16:\"ack_requeue_true\";}s:8:\"encoding\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:6:\"string\";}s:8:\"truncate\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:7:\"minimum\";i:0;s:7:\"maximum\";i:5000000;s:7:\"default\";i:1000000;}}s:8:\"required\";a:4:{i:0;s:5:\"count\";i:1;s:7:\"ackmode\";i:2;s:8:\"encoding\";i:3;s:8:\"truncate\";}}s:11:\"QueueAction\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:6:\"action\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"action\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:4:\"sync\";i:1;s:11:\"cancel_sync\";}}}s:5:\"title\";s:11:\"QueueAction\";}s:17:\"PublishProperties\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:5:\"title\";s:17:\"PublishProperties\";s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"app_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"correlation_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"message_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"user_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"delivery_mode\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:34:\"1
  = Non Persistent, 2 = Persistent\";s:7:\"default\";i:2;}}}}"
...
