---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":6:{s:11:\"description\";s:204:\"Genesys Mobile
  Services contains multiple APIs, each dedicated to performing certain tasks as described
  below. Select the API name for a more detailed examination of the operations and
  responses they use.\";s:7:\"version\";s:2:\"v2\";s:5:\"title\";s:23:\"Customer Engagement
  API\";s:14:\"termsOfService\";s:38:\"https://developer.genesys.com/api/tos/\";s:7:\"contact\";O:8:\"stdClass\":3:{s:4:\"name\";s:28:\"PureEngage
  Developer Support\";s:3:\"url\";s:29:\"https://developer.genesys.com\";s:5:\"email\";s:28:\"DeveloperSupport@genesys.com\";}s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:7:\"Genesys\";s:3:\"url\";s:22:\"http://www.genesys.com\";}}"
host: api.mypureengage.com
paths: ~
schemes:
- http
- https
definitions: !php/object "O:8:\"stdClass\":14:{s:12:\"KeyValuePair\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:15:\"ChatParticipant\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"nickname\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"participantId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:5:{i:0;s:6:\"Client\";i:1;s:5:\"Agent\";i:2;s:10:\"Supervisor\";i:3;s:8:\"External\";i:4;s:6:\"System\";}}}}s:19:\"ChatTranscriptEvent\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"from\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ChatParticipant\";}s:5:\"index\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"utcTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:4:\"text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"messageType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:15:\"ChatApiResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:10:\"statusCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:6:\"chatId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"userId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"secureKey\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"alias\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"chatEnded\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";b:0;}s:10:\"tenantName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:0:\"\";}s:12:\"nextPosition\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"default\";i:0;}s:8:\"messages\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/ChatTranscriptEvent\";}}s:8:\"userData\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}}s:16:\"EmailApiResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"statusCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:13:\"interactionId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:16:\"CapacitySlotItem\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"utcTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:9:\"localTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:8:\"capacity\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:0:\"\";}}}s:19:\"CapacityApiResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"slots\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Available
  Slots.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/CapacitySlotItem\";}}s:8:\"timezone\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Selected
  Timezone.\";s:4:\"type\";s:6:\"string\";}}}s:32:\"PhoneNumberValidationApiResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":23:{s:18:\"language-specified\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"Specified
  language set in the geocodingLocale request parameter.\";s:4:\"type\";s:6:\"string\";}s:16:\"number-specified\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Validated
  number.\";s:4:\"type\";s:6:\"string\";}s:15:\"country-default\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"Specified
  or default country used for the response.\";s:4:\"type\";s:6:\"string\";}s:12:\"country-code\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Country
  code part; for example, 33 for France.\";s:4:\"type\";s:6:\"string\";}s:11:\"region-code\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"he
  region where the phone number is originating from.\";s:4:\"type\";s:6:\"string\";}s:19:\"country-code-source\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Information
  used to detect country code.\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:4:{i:0;s:26:\"FROM_NUMBER_WITH_PLUS_SIGN\";i:1;s:20:\"FROM_NUMBER_WITH_IDD\";i:2;s:29:\"FROM_NUMBER_WITHOUT_PLUS_SIGN\";i:3;s:20:\"FROM_DEFAULT_COUNTRY\";}}s:9:\"extension\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Extension
  part.\";s:4:\"type\";s:6:\"string\";}s:21:\"number-national-short\";O:8:\"stdClass\":2:{s:11:\"description\";s:76:\"Short
  number for country. For example, 604120405 for a French mobile number.\";s:4:\"type\";s:6:\"string\";}s:15:\"number-national\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Number
  formatted using the national format.\";s:4:\"type\";s:6:\"string\";}s:11:\"number-E164\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Number
  formatted using the E.164 format.\";s:4:\"type\";s:6:\"string\";}s:15:\"number-original\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"Number
  formatted using the original phone number format that was parsed.\";s:4:\"type\";s:6:\"string\";}s:20:\"number-international\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Number
  formatted using the international format.\";s:4:\"type\";s:6:\"string\";}s:18:\"is-possible-number\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"true
  if the number looks valid from considering the length information.\";s:4:\"type\";s:6:\"string\";}s:15:\"is-valid-number\";O:8:\"stdClass\":2:{s:11:\"description\";s:82:\"true
  if the number looks valid from considering the length and prefix information.\";s:4:\"type\";s:6:\"string\";}s:10:\"is-premium\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"In
  case of a valid number, true if the number is a premium rate number.\";s:4:\"type\";s:6:\"string\";}s:20:\"italian-leading-zero\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"In
  case of an Italian number, true if the number has leading zero.\";s:4:\"type\";s:6:\"string\";}s:11:\"number-type\";O:8:\"stdClass\":3:{s:11:\"description\";s:187:\"Type
  of the number based on the number parsing to determine if the number matches Fixed-line,
  Mobile, Toll-free, Premium Rate, Shared Cost, VoIP, and Personal Numbers (whenever
  feasible).\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:12:{i:0;s:7:\"UNKNOWN\";i:1;s:10:\"FIXED_LINE\";i:2;s:6:\"MOBILE\";i:3;s:20:\"FIXED_LINE_OR_MOBILE\";i:4;s:9:\"TOLL_FREE\";i:5;s:12:\"PREMIUM_RATE\";i:6;s:11:\"SHARED_COST\";i:7;s:4:\"VOIP\";i:8;s:15:\"PERSONAL_NUMBER\";i:9;s:5:\"PAGER\";i:10;s:3:\"UAN\";i:11;s:9:\"VOICEMAIL\";}}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"Geographical
  information related to a phone number.\";s:4:\"type\";s:6:\"string\";}s:9:\"time-zone\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Geographical
  time information related to a phone number.\";s:4:\"type\";s:6:\"string\";}s:7:\"carrier\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Carrier
  information related to a phone number.\";s:4:\"type\";s:6:\"string\";}s:24:\"is-possible-short-number\";O:8:\"stdClass\":2:{s:11:\"description\";s:103:\"If
  the number is impossible or invalid, might return information on a possible usage
  as a short number.\";s:4:\"type\";s:6:\"string\";}s:21:\"is-valid-short-number\";O:8:\"stdClass\":2:{s:11:\"description\";s:91:\"When
  number is not possible short number, might return info on valid usage as short number.\";s:4:\"type\";s:6:\"string\";}s:30:\"is-possible-number-with-reason\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"When
  the number is impossible, gives the reason why.\";s:4:\"type\";s:6:\"string\";}}}s:12:\"calendarPost\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"start\";O:8:\"stdClass\":2:{s:11:\"description\";s:143:\"Start
  date is specified in \"ISO 8601\" format, using UTC as timezone: \"yyyy-MM-ddTHH:mm:ss.SSSZ\".
  If not specified then it is assumed to be now.\";s:4:\"type\";s:6:\"string\";}s:14:\"number-of-days\";O:8:\"stdClass\":2:{s:11:\"description\";s:235:\"Specifies
  how many days ahead to include into interval beginning form the \"start\" time.
  Used as an alternative to the end date. If neither \"end\", nor \"number-of-days\"
  is specified, then end date is assumed to be the same as start date.\";s:4:\"type\";s:6:\"string\";}s:3:\"end\";O:8:\"stdClass\":2:{s:11:\"description\";s:202:\"End
  date is specified in \"ISO 8601\" format, using UTC as timezone: \"yyyy-MM-ddTHH:mm:ss.SSSZ\".
  If neither \"end\", nor \"number-of-days\" is specified, then end date is assumed
  to be the same as start date.\";s:4:\"type\";s:6:\"string\";}}}s:18:\"CalendarPeriodItem\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"start\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:3:\"end\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/KeyValuePair\";}}}}s:26:\"CalendarServiceApiResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"error\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:7:\"periods\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Available
  Periods.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/CalendarPeriodItem\";}}}}s:22:\"ApiValidationErrorItem\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:6:\"advice\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:18:\"ApiValidationError\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"error\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"errors\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/ApiValidationErrorItem\";}}}}s:15:\"ApiRequestError\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"exception\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}"
...
