---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:0:\"\";s:11:\"description\";s:0:\"\";s:7:\"version\";s:3:\"3.0\";}"
host: rqa3-cb.concurtech.net
basePath: /api/v3.0
paths:
  /common/receipts:
    post:
      summary: Create a new receipt entry
      description: Creates a new receipt entry. This operation enables a provider
        company to post receipts to Concur.
      parameters:
      - name: content
        in: body
        description: The Receipt object to create.
        required: true
        schema:
          $ref: '#/definitions/ReceiptPost'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/CreateResponse'
produces:
- application/json
- application/xml
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":13:{s:14:\"CreateResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"ID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:68:\"The
  unique identifier for the vehicle. Maximum length: 50 characters\";}s:3:\"URI\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:68:\"The
  unique identifier for the vehicle. Maximum length: 50 characters\";}}}s:11:\"CustomField\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:68:\"The
  unique identifier for the vehicle. Maximum length: 50 characters\";}s:5:\"Value\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:68:\"The
  unique identifier for the vehicle. Maximum length: 50 characters\";}}}s:7:\"Decimal\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":0:{}}s:13:\"GeneralDetail\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"LineItems\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/LineItem\";}}}s:11:\"HotelDetail\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":10:{s:20:\"AverageDailyRoomRate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:58:\"The
  longitude of the ride end location. Range: -180 to 180\";}s:15:\"CheckinDateTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:65:\"The
  starting date and time for the ride. Format: YYYY-MM-DDThh:mm\";}s:16:\"CheckoutDateTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:65:\"The
  starting date and time for the ride. Format: YYYY-MM-DDThh:mm\";}s:18:\"ConfirmationNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:68:\"The
  unique identifier for the vehicle. Maximum length: 50 characters\";}s:3:\"GNR\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:68:\"The
  unique identifier for the vehicle. Maximum length: 50 characters\";}s:9:\"LineItems\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/LineItem\";}s:13:\"NumberInParty\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:66:\"The
  order in which the item appears in the sequence of line items.\";}s:12:\"RatePlanType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:68:\"The
  unique identifier for the vehicle. Maximum length: 50 characters\";}s:10:\"RoomNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:68:\"The
  unique identifier for the vehicle. Maximum length: 50 characters\";}s:8:\"RoomType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:68:\"The
  unique identifier for the vehicle. Maximum length: 50 characters\";}}}s:8:\"LineItem\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":9:{s:6:\"Amount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:58:\"The
  longitude of the ride end location. Range: -180 to 180\";}s:4:\"Date\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:65:\"The
  starting date and time for the ride. Format: YYYY-MM-DDThh:mm\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:68:\"The
  unique identifier for the vehicle. Maximum length: 50 characters\";}s:12:\"Description2\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:68:\"The
  unique identifier for the vehicle. Maximum length: 50 characters\";}s:8:\"Quantity\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:66:\"The
  order in which the item appears in the sequence of line items.\";}s:4:\"Rate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:58:\"The
  longitude of the ride end location. Range: -180 to 180\";}s:8:\"RateType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:68:\"The
  unique identifier for the vehicle. Maximum length: 50 characters\";}s:9:\"Reference\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:68:\"The
  unique identifier for the vehicle. Maximum length: 50 characters\";}s:14:\"SequenceNumber\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:66:\"The
  order in which the item appears in the sequence of line items.\";}}}s:8:\"Location\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":11:{s:7:\"Address\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:68:\"The
  unique identifier for the vehicle. Maximum length: 50 characters\";}s:8:\"Address2\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:68:\"The
  unique identifier for the vehicle. Maximum length: 50 characters\";}s:4:\"City\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:68:\"The
  unique identifier for the vehicle. Maximum length: 50 characters\";}s:11:\"CountryCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:68:\"The
  unique identifier for the vehicle. Maximum length: 50 characters\";}s:22:\"CountrySubdivisionCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:68:\"The
  unique identifier for the vehicle. Maximum length: 50 characters\";}s:12:\"EmailAddress\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:68:\"The
  unique identifier for the vehicle. Maximum length: 50 characters\";}s:9:\"FaxNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:68:\"The
  unique identifier for the vehicle. Maximum length: 50 characters\";}s:15:\"InternetAddress\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:68:\"The
  unique identifier for the vehicle. Maximum length: 50 characters\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:68:\"The
  unique identifier for the vehicle. Maximum length: 50 characters\";}s:10:\"PostalCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:68:\"The
  unique identifier for the vehicle. Maximum length: 50 characters\";}s:15:\"TelephoneNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:68:\"The
  unique identifier for the vehicle. Maximum length: 50 characters\";}}}s:12:\"MatchingFact\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:68:\"The
  unique identifier for the vehicle. Maximum length: 50 characters\";}s:5:\"Value\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:68:\"The
  unique identifier for the vehicle. Maximum length: 50 characters\";}}}s:8:\"Merchant\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"Location\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Location\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:68:\"The
  unique identifier for the vehicle. Maximum length: 50 characters\";}}}s:10:\"Nullable`1\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"HasValue\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:5:\"Value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Decimal\";}}}s:11:\"PaymentCard\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:17:\"AuthorizationCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:68:\"The
  unique identifier for the vehicle. Maximum length: 50 characters\";}s:12:\"MaskedNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:68:\"The
  unique identifier for the vehicle. Maximum length: 50 characters\";}s:4:\"Type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:68:\"The
  unique identifier for the vehicle. Maximum length: 50 characters\";}}}s:11:\"ReceiptPost\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":13:{s:6:\"Amount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:58:\"The
  longitude of the ride end location. Range: -180 to 180\";}s:12:\"CurrencyCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:68:\"The
  unique identifier for the vehicle. Maximum length: 50 characters\";}s:12:\"CustomFields\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomField\";}s:17:\"FormofPaymentCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:68:\"The
  unique identifier for the vehicle. Maximum length: 50 characters\";}s:13:\"GeneralDetail\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/GeneralDetail\";}s:11:\"HotelDetail\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/HotelDetail\";}s:11:\"ImageBase64\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:68:\"The
  unique identifier for the vehicle. Maximum length: 50 characters\";}s:12:\"MatchingFact\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/MatchingFact\";}s:8:\"Merchant\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Merchant\";}s:11:\"PaymentCard\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/PaymentCard\";}s:10:\"RideDetail\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/RideDetail\";}s:19:\"TransactionDateTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:65:\"The
  starting date and time for the ride. Format: YYYY-MM-DDThh:mm\";}s:4:\"Type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:68:\"The
  unique identifier for the vehicle. Maximum length: 50 characters\";}}}s:10:\"RideDetail\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":7:{s:10:\"DriverName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:68:\"The
  unique identifier for the vehicle. Maximum length: 50 characters\";}s:15:\"DropoffLatitude\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:58:\"The
  longitude of the ride end location. Range: -180 to 180\";}s:16:\"DropoffLongitude\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:58:\"The
  longitude of the ride end location. Range: -180 to 180\";}s:11:\"EndDateTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:65:\"The
  starting date and time for the ride. Format: YYYY-MM-DDThh:mm\";}s:9:\"LineItems\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/LineItem\";}s:13:\"StartDateTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:65:\"The
  starting date and time for the ride. Format: YYYY-MM-DDThh:mm\";}s:13:\"VehicleNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:68:\"The
  unique identifier for the vehicle. Maximum length: 50 characters\";}}}}"
...
