---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:0:\"\";s:11:\"description\";s:0:\"\";s:7:\"version\";s:3:\"3.0\";}"
host: rqa3-cb.concurtech.net
basePath: /api/v3.0
paths:
  /invoice/purchaseorders:
    post:
      summary: Create a new purchase order
      description: Creates a purchase order and returns the status of the creation
        request.
      parameters:
      - name: purchaseOrder
        in: body
        description: The details of the purchase order.
        required: true
        schema:
          $ref: '#/definitions/PurchaseOrder'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/PurchaseOrderResult'
    put:
      summary: Update an existing purchase order.
      description: Updates an existing purchase order and returns the status of the
        update request.
      parameters:
      - name: purchaseOrder
        in: body
        description: The details of the purchase order.
        required: true
        schema:
          $ref: '#/definitions/PurchaseOrder'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/PurchaseOrderResult'
  /invoice/purchaseorders/{id}:
    get:
      summary: Get an existing purchase order.
      description: Gets an existing purchase order.
      parameters:
      - name: id
        in: path
        description: The identifier for the purchase order.
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/PurchaseOrder'
produces:
- application/json
- application/xml
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":7:{s:10:\"Allocation\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":23:{s:6:\"Amount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:7:\"Custom1\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:8:\"Custom10\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:8:\"Custom11\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:8:\"Custom12\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:8:\"Custom13\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:8:\"Custom14\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:8:\"Custom15\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:8:\"Custom16\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:8:\"Custom17\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:8:\"Custom18\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:8:\"Custom19\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:7:\"Custom2\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:8:\"Custom20\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:7:\"Custom3\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:7:\"Custom4\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:7:\"Custom5\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:7:\"Custom6\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:7:\"Custom7\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:7:\"Custom8\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:7:\"Custom9\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:11:\"GrossAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:10:\"Percentage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}}}s:13:\"BillToAddress\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":10:{s:8:\"Address1\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:8:\"Address2\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:8:\"Address3\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:4:\"City\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:11:\"CountryCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:10:\"ExternalID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:10:\"PostalCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:5:\"State\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:13:\"StateProvince\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}}}s:8:\"LineItem\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":38:{s:11:\"AccountCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:10:\"Allocation\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Allocation\";}s:16:\"AmountWithoutVat\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:10:\"CreateDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:7:\"Custom1\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:8:\"Custom10\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:8:\"Custom11\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:8:\"Custom12\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:8:\"Custom13\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:8:\"Custom14\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:8:\"Custom15\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:8:\"Custom16\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:8:\"Custom17\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:8:\"Custom18\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:8:\"Custom19\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:7:\"Custom2\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:8:\"Custom20\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:7:\"Custom3\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:7:\"Custom4\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:7:\"Custom5\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:7:\"Custom6\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:7:\"Custom7\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:7:\"Custom8\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:7:\"Custom9\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:11:\"ExpenseType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:10:\"ExternalID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:17:\"IsReceiptRequired\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:10:\"LineNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:20:\"PurchaseOrderReceipt\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/PurchaseOrderReceipt\";}s:8:\"Quantity\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:11:\"RequestedBy\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:21:\"RequestedDeliveryDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:14:\"SupplierPartID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:3:\"Tax\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:9:\"UnitPrice\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:9:\"VatAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:7:\"VatRate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}}}s:13:\"PurchaseOrder\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":59:{s:16:\"AmountWithoutVat\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:13:\"BillToAddress\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/BillToAddress\";}s:12:\"CurrencyCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:7:\"Custom1\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:8:\"Custom10\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:8:\"Custom11\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:8:\"Custom12\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:8:\"Custom13\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:8:\"Custom14\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:8:\"Custom15\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:8:\"Custom16\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:8:\"Custom17\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:8:\"Custom18\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:8:\"Custom19\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:7:\"Custom2\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:8:\"Custom20\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:8:\"Custom21\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:8:\"Custom22\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:8:\"Custom23\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:8:\"Custom24\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:7:\"Custom3\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:7:\"Custom4\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:7:\"Custom5\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:7:\"Custom6\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:7:\"Custom7\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:7:\"Custom8\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:7:\"Custom9\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:18:\"DiscountPercentage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:13:\"DiscountTerms\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:2:\"ID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:10:\"LedgerCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:8:\"LineItem\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/LineItem\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:12:\"NeededByDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:9:\"OrderDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:12:\"PaymentTerms\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:16:\"PolicyExternalID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:13:\"PoVendorTaxId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:15:\"ProvincialTaxId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:19:\"PurchaseOrderNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:11:\"ReceiptType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:11:\"RequestedBy\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:21:\"RequestedDeliveryDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:8:\"Shipping\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:19:\"ShippingDescription\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:17:\"ShippingMethodKey\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:16:\"ShippingTermsKey\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:13:\"ShipToAddress\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ShipToAddress\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:3:\"Tax\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:3:\"URI\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:12:\"VatAmountOne\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:12:\"VatAmountTwo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:10:\"VatRateOne\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:10:\"VatRateTwo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:19:\"VendorAccountNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:17:\"VendorAddressCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:10:\"VendorCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}}}s:20:\"PurchaseOrderReceipt\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":22:{s:7:\"Custom1\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:8:\"Custom10\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:7:\"Custom2\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:7:\"Custom3\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:7:\"Custom4\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:7:\"Custom5\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:7:\"Custom6\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:7:\"Custom7\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:7:\"Custom8\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:7:\"Custom9\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:7:\"Deleted\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:18:\"DeliverySlipNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:18:\"GoodsReceiptNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:2:\"ID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:10:\"IsReceived\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:18:\"LineItemExternalID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:19:\"PurchaseOrderNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:12:\"ReceivedDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:16:\"ReceivedQuantity\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:17:\"UnitOfMeasureCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:3:\"URI\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:7:\"Version\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}}}s:19:\"PurchaseOrderResult\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":7:{s:9:\"ErrorCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:12:\"ErrorMessage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:9:\"FieldCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:18:\"LineItemExternalID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:7:\"Message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:19:\"PurchaseOrderNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}}}s:13:\"ShipToAddress\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":10:{s:8:\"Address1\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:8:\"Address2\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:8:\"Address3\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:4:\"City\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:11:\"CountryCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:10:\"ExternalID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:10:\"PostalCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:5:\"State\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:13:\"StateProvince\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}}}}"
...
