---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:0:\"\";s:11:\"description\";s:0:\"\";s:7:\"version\";s:3:\"3.0\";}"
host: rqa3-cb.concurtech.net
basePath: /api/v3.0
paths:
  /invoice/vendors:
    get:
      summary: Retrieves an existing vendor.
      description: Gets an existing vendor.
      parameters:
      - name: limit
        in: query
        description: The maximum number of items to be returned in a  response. The
          default is 25 and cannot exceed 1000.
        required: false
        type: integer
        format: int32
      - name: offset
        in: query
        description: Specifies the starting point for the next query when iterating
          through the collection response.  Use with paged collections of resources.
        required: false
        type: string
      - name: sortDirection
        in: query
        description: ascending or descending, The default value will be ascending.
        required: false
        type: string
      - name: sortBy
        in: query
        description: Field you need to the results to be sorted by. Vendor Name will
          be made default if no value is sent. Only fields that are added to the vendor
          form can be used here. Fields have to be specified by name as specified
          in Doc.
        required: false
        type: string
      - name: searchType
        in: query
        description: Valid Options - exact, begins, contains and ends - Applies for
          the entire given search parameters. The default value if not sent is exact.
        required: false
        type: string
      - name: vendorCode
        in: query
        description: Vendor Code to be searched
        required: false
        type: string
      - name: vendorName
        in: query
        description: Vendor Name to be searched
        required: false
        type: string
      - name: taxID
        in: query
        description: Tax ID to be searched
        required: false
        type: string
      - name: buyerAccountNumber
        in: query
        description: Buyer Account Number to be searched
        required: false
        type: string
      - name: addressCode
        in: query
        description: Address Code to be searched
        required: false
        type: string
      - name: address1
        in: query
        description: Address 1 to be searched
        required: false
        type: string
      - name: address2
        in: query
        description: Address 2 to be searched
        required: false
        type: string
      - name: address3
        in: query
        description: Address 3 to be searched
        required: false
        type: string
      - name: city
        in: query
        description: City to be searched
        required: false
        type: string
      - name: state
        in: query
        description: State to be searched
        required: false
        type: string
      - name: postalCode
        in: query
        description: Postal Code to be searched
        required: false
        type: string
      - name: approved
        in: query
        description: Find Approved/Un Approved Vendors , True/False
        required: false
        type: string
      - name: country
        in: query
        description: Country to be searched
        required: false
        type: string
      - name: custom1
        in: query
        description: Custom 1 to be searched
        required: false
        type: string
      - name: custom2
        in: query
        description: Custom 2 to be searched
        required: false
        type: string
      - name: custom3
        in: query
        description: Custom 3 to be searched
        required: false
        type: string
      - name: custom4
        in: query
        description: Custom 4 to be searched
        required: false
        type: string
      - name: custom5
        in: query
        description: Custom 5 to be searched
        required: false
        type: string
      - name: custom6
        in: query
        description: Custom 6 to be searched
        required: false
        type: string
      - name: custom7
        in: query
        description: Custom 7 to be searched
        required: false
        type: string
      - name: custom8
        in: query
        description: Custom 8 to be searched
        required: false
        type: string
      - name: custom9
        in: query
        description: Custom 9 to be searched
        required: false
        type: string
      - name: custom10
        in: query
        description: Custom 10 to be searched
        required: false
        type: string
      - name: custom11
        in: query
        description: Custom 11 to be searched
        required: false
        type: string
      - name: custom12
        in: query
        description: Custom 12 to be searched
        required: false
        type: string
      - name: custom13
        in: query
        description: Custom 13 to be searched
        required: false
        type: string
      - name: custom14
        in: query
        description: Custom 14 to be searched
        required: false
        type: string
      - name: custom15
        in: query
        description: Custom 15 to be searched
        required: false
        type: string
      - name: custom16
        in: query
        description: Custom 16 to be searched
        required: false
        type: string
      - name: custom17
        in: query
        description: Custom 17 to be searched
        required: false
        type: string
      - name: custom18
        in: query
        description: Custom 18 to be searched
        required: false
        type: string
      - name: custom19
        in: query
        description: Custom 19 to be searched
        required: false
        type: string
      - name: custom20
        in: query
        description: Custom 20 to be searched
        required: false
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/VendorCollection'
    post:
      summary: Create vendor/s and returns the status of creation.
      description: Create vendor/s and returns the status of creation.
      parameters:
      - name: vendors
        in: body
        description: The vendor details.
        required: true
        schema:
          $ref: '#/definitions/VendorCollection'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/VendorCollection'
    put:
      summary: Updates existing vendor/s and returns the status of creation.
      description: Updates existing vendor/s and returns the status of creation.
      parameters:
      - name: vendors
        in: body
        description: The vendor details.
        required: true
        schema:
          $ref: '#/definitions/VendorCollection'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/VendorCollection'
    delete:
      summary: Delete a vendor by Vendor Code and Address Code.
      description: Delete a vendor by Vendor Code and Address Code.
      parameters:
      - name: vendorCode
        in: query
        description: Vendor Code to be deleted
        required: true
        type: string
      - name: addressCode
        in: query
        description: Address Code to be deleted
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/VendorCollection'
produces:
- application/json
- application/xml
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":3:{s:6:\"Status\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"Code\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:40:\"Record
  Number for create/update request.\";}s:7:\"Message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  URI of the next page of results, if any.\";}s:12:\"RecordNumber\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:40:\"Record
  Number for create/update request.\";}s:4:\"Type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  URI of the next page of results, if any.\";}}}s:6:\"Vendor\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":60:{s:13:\"AccountNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  URI of the next page of results, if any.\";}s:8:\"Address1\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  URI of the next page of results, if any.\";}s:8:\"Address2\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  URI of the next page of results, if any.\";}s:8:\"Address3\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  URI of the next page of results, if any.\";}s:11:\"AddressCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  URI of the next page of results, if any.\";}s:19:\"AddressImportSyncID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  URI of the next page of results, if any.\";}s:8:\"Approved\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  URI of the next page of results, if any.\";}s:4:\"City\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  URI of the next page of results, if any.\";}s:12:\"ContactEmail\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  URI of the next page of results, if any.\";}s:16:\"ContactFirstName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  URI of the next page of results, if any.\";}s:15:\"ContactLastName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  URI of the next page of results, if any.\";}s:18:\"ContactPhoneNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  URI of the next page of results, if any.\";}s:7:\"Country\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  URI of the next page of results, if any.\";}s:11:\"CountryCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  URI of the next page of results, if any.\";}s:12:\"CurrencyCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  URI of the next page of results, if any.\";}s:7:\"Custom1\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  URI of the next page of results, if any.\";}s:8:\"Custom10\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  URI of the next page of results, if any.\";}s:8:\"Custom11\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  URI of the next page of results, if any.\";}s:8:\"Custom12\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  URI of the next page of results, if any.\";}s:8:\"Custom13\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  URI of the next page of results, if any.\";}s:8:\"Custom14\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  URI of the next page of results, if any.\";}s:8:\"Custom15\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  URI of the next page of results, if any.\";}s:8:\"Custom16\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  URI of the next page of results, if any.\";}s:8:\"Custom17\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  URI of the next page of results, if any.\";}s:8:\"Custom18\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  URI of the next page of results, if any.\";}s:8:\"Custom19\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  URI of the next page of results, if any.\";}s:7:\"Custom2\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  URI of the next page of results, if any.\";}s:8:\"Custom20\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  URI of the next page of results, if any.\";}s:7:\"Custom3\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  URI of the next page of results, if any.\";}s:7:\"Custom4\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  URI of the next page of results, if any.\";}s:7:\"Custom5\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  URI of the next page of results, if any.\";}s:7:\"Custom6\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  URI of the next page of results, if any.\";}s:7:\"Custom7\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  URI of the next page of results, if any.\";}s:7:\"Custom8\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  URI of the next page of results, if any.\";}s:7:\"Custom9\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  URI of the next page of results, if any.\";}s:17:\"DefaultEmployeeID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  URI of the next page of results, if any.\";}s:22:\"DefaultExpenseTypeName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  URI of the next page of results, if any.\";}s:18:\"DiscountPercentage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  URI of the next page of results, if any.\";}s:17:\"DiscountTermsDays\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  URI of the next page of results, if any.\";}s:2:\"ID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  URI of the next page of results, if any.\";}s:29:\"IsVisibleForContentExtraction\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  URI of the next page of results, if any.\";}s:17:\"PaymentMethodType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  URI of the next page of results, if any.\";}s:12:\"PaymentTerms\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  URI of the next page of results, if any.\";}s:10:\"PostalCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  URI of the next page of results, if any.\";}s:15:\"ProvincialTaxID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  URI of the next page of results, if any.\";}s:25:\"PurchaseOrderContactEmail\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  URI of the next page of results, if any.\";}s:29:\"PurchaseOrderContactFirstName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  URI of the next page of results, if any.\";}s:28:\"PurchaseOrderContactLastName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  URI of the next page of results, if any.\";}s:31:\"PurchaseOrderContactPhoneNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  URI of the next page of results, if any.\";}s:14:\"ShippingMethod\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  URI of the next page of results, if any.\";}s:13:\"ShippingTerms\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  URI of the next page of results, if any.\";}s:5:\"State\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  URI of the next page of results, if any.\";}s:10:\"StatusList\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Status\";}s:5:\"TaxID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  URI of the next page of results, if any.\";}s:7:\"TaxType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  URI of the next page of results, if any.\";}s:3:\"URI\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  URI of the next page of results, if any.\";}s:10:\"VendorCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  URI of the next page of results, if any.\";}s:14:\"VendorFormName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  URI of the next page of results, if any.\";}s:10:\"VendorName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  URI of the next page of results, if any.\";}s:12:\"VoucherNotes\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  URI of the next page of results, if any.\";}}}s:16:\"VendorCollection\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"Items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Vendor\";}s:8:\"NextPage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  URI of the next page of results, if any.\";}s:17:\"RequestRunSummary\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  URI of the next page of results, if any.\";}s:6:\"Vendor\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Vendor\";}}}}"
...
