---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:0:\"\";s:11:\"description\";s:0:\"\";s:7:\"version\";s:3:\"3.0\";}"
host: rqa3-cb.concurtech.net
basePath: /api/v3.0
paths:
  /invoice/salestaxvalidationrequest:
    get:
      summary: Get invoices for calculating tax
      description: Gets invoices for the purpose of calculating sales tax.
      parameters:
      - name: offset
        in: query
        description: The starting point of the next set of results, after the limit
          specified in the limit field has been reached.
        required: false
        type: string
      - name: limit
        in: query
        description: 'The number of invoices to retrieve. Maximum value: 1000'
        required: false
        type: integer
        format: int32
      - name: modifiedafter
        in: query
        description: A parameter that can be used to limit the results to invoices
          modified after the specified date.
        required: false
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/InvoiceGetCollection'
    put:
      summary: Update invoices with the calcuated tax amount and tax rate
      description: Updates invoices with the calculated tax amount and tax rate.
      parameters:
      - name: invoice
        in: body
        description: The tax information for the invoice that is to be updated.
        required: true
        schema:
          $ref: '#/definitions/Invoice'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/InvoiceStatus'
produces:
- application/json
- application/xml
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":9:{s:13:\"BillToAddress\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":10:{s:8:\"Address1\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:8:\"Address2\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:8:\"Address3\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:4:\"City\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:11:\"CountryCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:10:\"ExternalID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:10:\"PostalCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:5:\"State\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:13:\"StateProvince\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}}}s:7:\"Invoice\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":9:{s:19:\"CalculatedTaxAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:17:\"CalculatedTaxRate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:8:\"Comments\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:2:\"ID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:8:\"LineItem\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/InvoiceLineItemPut\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:10:\"StatusCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:14:\"TaxReferenceID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:3:\"URI\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}}}s:10:\"InvoiceGet\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":21:{s:13:\"BillToAddress\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/BillToAddress\";}s:19:\"CalculatedTaxAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:17:\"CalculatedTaxRate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:11:\"CountryCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:12:\"CurrencyCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:2:\"ID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:13:\"InvoiceAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:11:\"InvoiceDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:8:\"LineItem\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/InvoiceLineItem\";}s:19:\"PurchaseOrderNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:9:\"RequestID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:14:\"ShippingAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:13:\"ShipToAddress\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ShipToAddress\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:10:\"StatusCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:3:\"Tax\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:14:\"TaxReferenceID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:5:\"Title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:5:\"Total\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:3:\"URI\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:19:\"VendorInvoiceNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}}}s:20:\"InvoiceGetCollection\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"Items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/InvoiceGet\";}s:8:\"NextPage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:10:\"TotalCount\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:40:\"Record
  Number for create/update request.\";}}}s:15:\"InvoiceLineItem\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":10:{s:19:\"CalculatedTaxAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:17:\"CalculatedTaxRate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:13:\"CommodityCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:11:\"CountryCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:12:\"CurrencyCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:11:\"LineItemKey\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:8:\"Quantity\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:5:\"Total\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:9:\"UnitPrice\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:6:\"Vendor\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/InvoiceVendor\";}}}s:18:\"InvoiceLineItemPut\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"CalculatedTaxAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:17:\"CalculatedTaxRate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:11:\"LineItemKey\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}}}s:13:\"InvoiceStatus\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":7:{s:4:\"Code\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:40:\"Record
  Number for create/update request.\";}s:8:\"Comments\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:7:\"Message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:12:\"RecordNumber\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:40:\"Record
  Number for create/update request.\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:14:\"TaxReferenceID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:4:\"Type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}}}s:13:\"InvoiceVendor\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":9:{s:8:\"Address1\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:8:\"Address2\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:8:\"Address3\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:4:\"City\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:11:\"CountryCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:10:\"PostalCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:5:\"State\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:17:\"VendorAddressName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:10:\"VendorName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}}}s:13:\"ShipToAddress\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":10:{s:8:\"Address1\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:8:\"Address2\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:8:\"Address3\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:4:\"City\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:11:\"CountryCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:10:\"ExternalID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:10:\"PostalCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:5:\"State\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}s:13:\"StateProvince\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  state or province of the shipping or billing address.\";}}}}"
...
