---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":4:{s:7:\"version\";s:3:\"1.0\";s:5:\"title\";s:13:\"LH
  Public API\";s:11:\"description\";s:0:\"\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:2:\"LH\";s:3:\"url\";s:31:\"https://developer.lufthansa.com\";}}"
host: api.lufthansa.com
basePath: /v1
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":6:{s:10:\"Coordinate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:26:\"Container
  for coordinates.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"Latitude\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";s:11:\"description\";s:81:\"Decimal
  latitude. Range: -90 (South Pole) to +90 (North Pole), e.g. \u201C51.540\u201D.\";}s:9:\"Longitude\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";s:11:\"description\";s:89:\"Decimal
  longitude. Range: -180 (West of Prime Meridian) to +180 (East of Prime Meridian).\";}}}s:4:\"Name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:60:\"2-letter
  ISO 639-1 language code for the corresponding item.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"@LanguageCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:1:\"$\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:4:\"Link\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"@Href\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"Link
  to actual a resource.\";}s:4:\"@Rel\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:190:\"Specifying
  kind of link such as \u2018self\u2019 (link that returned this response), \u2018alternate\u2019
  (link that points to another resource) or \u2018related\u2019 (link that points
  to related resource).\";}}}s:7:\"Airport\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:68:\"Array
  of all available airports or one airport matching the request.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:11:\"AirportCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"3-letter
  IATA airport code, e.g. \u201CTXL\u201D.\";}s:8:\"Position\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:96:\"Physical
  location of an airport. This data section is optional and therefore not always present.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"Coordinate\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Coordinate\";}}}s:8:\"CityCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"3-letter
  IATA city code, e.g. \u201CBER\u201D.\";}s:11:\"CountryCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:48:\"2-letter
  ISO 3166-1 country code, e.g. \u201CDE\u201D.\";}s:12:\"LocationType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"
  \u201CAirport\u201D, \u201CRailwayStation\u201D or \u201CBusStation\u201D.\";}s:5:\"Names\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:28:\"Container
  for airport names.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Name\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:46:\"Array:
  language specific full name of airport.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Name\";}}}}s:9:\"UtcOffset\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";s:11:\"description\";s:39:\"Hour
  offset of airport to UTC time zone\";}s:10:\"TimeZoneId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"Time
  zone name airport is in\";}}}s:15:\"AirportResource\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:33:\"Root
  element of airport response.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"Airports\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:31:\"Container
  for airport elements.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Airport\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Airport\";}}}s:4:\"Meta\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:25:\"Container
  for meta links.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"@Version\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Link\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:60:\"Array:
  links to resource itself and other related resources.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}s:10:\"TotalCount\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}}}s:15:\"AirportResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"AirportResource\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/AirportResource\";}}}}"
...
