---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Google\";s:3:\"url\";s:18:\"https://google.com\";}s:11:\"description\";s:143:\"Provides
  polling places, early vote locations, contest data, election officials, and government
  representatives for U.S. residential addresses.\";s:5:\"title\";s:24:\"Google Civic
  Information\";s:7:\"version\";s:2:\"v2\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:37:\"https://console.developers.google.com\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:116:\"https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.6.2\";}s:6:\"format\";s:6:\"google\";s:3:\"url\";s:62:\"https://www.googleapis.com/discovery/v1/apis/civicinfo/v2/rest\";s:7:\"version\";s:2:\"v1\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"googleapis.com\";s:13:\"x-serviceName\";s:9:\"civicinfo\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:16:\"google_civicinfo\";s:4:\"type\";s:7:\"openapi\";}}"
host: www.googleapis.com
basePath: /civicinfo/v2
paths:
  /divisions:
    get:
      description: Searches for political divisions by their natural name or OCD ID.
      operationId: divisions.search
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/DivisionSearchRequest'
      - description: The search query. Queries can cover any parts of a OCD ID or
          a human readable division name. All words given in the query are treated
          as required patterns. In addition to that, most query operators of the Apache
          Lucene library are supported. See http://lucene.apache.org/core/2_9_4/queryparsersyntax.html
        in: query
        name: query
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/DivisionSearchResponse'
      tags:
      - divisions
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
  /elections:
    get:
      description: List of available elections to query.
      operationId: elections.electionQuery
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/ElectionsQueryRequest'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ElectionsQueryResponse'
      tags:
      - elections
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
  /representatives:
    get:
      description: Looks up political geography and representative information for
        a single address.
      operationId: representatives.representativeInfoByAddress
      parameters:
      - description: The address to look up. May only be specified if the field ocdId
          is not given in the URL.
        in: query
        name: address
        type: string
      - in: body
        name: body
        schema:
          $ref: '#/definitions/RepresentativeInfoRequest'
      - default: true
        description: Whether to return information about offices and officials. If
          false, only the top-level district information will be returned.
        in: query
        name: includeOffices
        type: boolean
      - collectionFormat: multi
        description: A list of office levels to filter by. Only offices that serve
          at least one of these levels will be returned. Divisions that don't contain
          a matching office will not be returned.
        in: query
        items:
          enum:
          - administrativeArea1
          - administrativeArea2
          - country
          - international
          - locality
          - regional
          - special
          - subLocality1
          - subLocality2
          type: string
        name: levels
        type: array
      - collectionFormat: multi
        description: A list of office roles to filter by. Only offices fulfilling
          one of these roles will be returned. Divisions that don't contain a matching
          office will not be returned.
        in: query
        items:
          enum:
          - deputyHeadOfGovernment
          - executiveCouncil
          - governmentOfficer
          - headOfGovernment
          - headOfState
          - highestCourtJudge
          - judge
          - legislatorLowerBody
          - legislatorUpperBody
          - schoolBoard
          - specialPurposeOfficer
          type: string
        name: roles
        type: array
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/RepresentativeInfoResponse'
      tags:
      - representatives
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
  /representatives/{ocdId}:
    get:
      description: Looks up representative information for a single geographic division.
      operationId: representatives.representativeInfoByDivision
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/DivisionRepresentativeInfoRequest'
      - collectionFormat: multi
        description: A list of office levels to filter by. Only offices that serve
          at least one of these levels will be returned. Divisions that don't contain
          a matching office will not be returned.
        in: query
        items:
          enum:
          - administrativeArea1
          - administrativeArea2
          - country
          - international
          - locality
          - regional
          - special
          - subLocality1
          - subLocality2
          type: string
        name: levels
        type: array
      - description: The Open Civic Data division identifier of the division to look
          up.
        in: path
        name: ocdId
        required: true
        type: string
      - description: If true, information about all divisions contained in the division
          requested will be included as well. For example, if querying ocd-division/country:us/district:dc,
          this would also return all DC's wards and ANCs.
        in: query
        name: recursive
        type: boolean
      - collectionFormat: multi
        description: A list of office roles to filter by. Only offices fulfilling
          one of these roles will be returned. Divisions that don't contain a matching
          office will not be returned.
        in: query
        items:
          enum:
          - deputyHeadOfGovernment
          - executiveCouncil
          - governmentOfficer
          - headOfGovernment
          - headOfState
          - highestCourtJudge
          - judge
          - legislatorLowerBody
          - legislatorUpperBody
          - schoolBoard
          - specialPurposeOfficer
          type: string
        name: roles
        type: array
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/RepresentativeInfoData'
      tags:
      - representatives
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
  /voterinfo:
    get:
      description: Looks up information relevant to a voter based on the voter's registered
        address.
      operationId: elections.voterInfoQuery
      parameters:
      - description: The registered address of the voter to look up.
        in: query
        name: address
        required: true
        type: string
      - in: body
        name: body
        schema:
          $ref: '#/definitions/VoterInfoRequest'
      - default: "0"
        description: The unique ID of the election to look up. A list of election
          IDs can be obtained at https://www.googleapis.com/civicinfo/{version}/elections
        in: query
        name: electionId
        type: string
      - default: false
        description: If set to true, only data from official state sources will be
          returned.
        in: query
        name: officialOnly
        type: boolean
      - default: false
        description: If set to true, the query will return the success codeand include
          any partial information when it is unable to determine a matching address
          or unable to determine the election for electionId=0 queries.
        in: query
        name: returnAllAvailableData
        type: boolean
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/VoterInfoResponse'
      tags:
      - elections
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":28:{s:20:\"AdministrationRegion\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"Describes
  information about a regional election administrative area.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:26:\"electionAdministrationBody\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AdministrativeBody\";s:11:\"description\";s:47:\"The
  election administration body for this area.\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:196:\"An
  ID for this object. IDs may change in future requests and should not be cached.
  Access to this field requires special access that can be requested from the Request
  more link on the Quotas page.\";s:4:\"type\";s:6:\"string\";}s:18:\"local_jurisdiction\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/AdministrationRegion\";s:11:\"description\";s:118:\"The
  city or county that provides election information for this voter. This object can
  have the same elements as state.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  name of the jurisdiction.\";s:4:\"type\";s:6:\"string\";}s:7:\"sources\";O:8:\"stdClass\":3:{s:11:\"description\";s:112:\"A
  list of sources for this area. If multiple sources are listed the data has been
  aggregated from those sources.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Source\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:18:\"AdministrativeBody\";O:8:\"stdClass\":3:{s:11:\"description\";s:83:\"Information
  about an election administrative body (e.g. County Board of Elections).\";s:10:\"properties\";O:8:\"stdClass\":14:{s:21:\"absenteeVotingInfoUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"A
  URL provided by this administrative body for information on absentee voting.\";s:4:\"type\";s:6:\"string\";}s:12:\"addressLines\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:13:\"ballotInfoUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:84:\"A
  URL provided by this administrative body to give contest information to the voter.\";s:4:\"type\";s:6:\"string\";}s:21:\"correspondenceAddress\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/SimpleAddressType\";s:11:\"description\";s:48:\"The
  mailing address of this administrative body.\";}s:15:\"electionInfoUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:87:\"A
  URL provided by this administrative body for looking up general election information.\";s:4:\"type\";s:6:\"string\";}s:17:\"electionOfficials\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"The
  election officials for this election administrative body.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ElectionOfficial\";}s:4:\"type\";s:5:\"array\";}s:35:\"electionRegistrationConfirmationUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:95:\"A
  URL provided by this administrative body for confirming that the voter is registered
  to vote.\";s:4:\"type\";s:6:\"string\";}s:23:\"electionRegistrationUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:82:\"A
  URL provided by this administrative body for looking up how to register to vote.\";s:4:\"type\";s:6:\"string\";}s:16:\"electionRulesUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:82:\"A
  URL provided by this administrative body describing election rules to the voter.\";s:4:\"type\";s:6:\"string\";}s:16:\"hoursOfOperation\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"A
  description of the hours of operation for this administrative body.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"The
  name of this election administrative body.\";s:4:\"type\";s:6:\"string\";}s:15:\"physicalAddress\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/SimpleAddressType\";s:11:\"description\";s:49:\"The
  physical address of this administrative body.\";}s:14:\"voter_services\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"A
  description of the services this administrative body may provide.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:23:\"votingLocationFinderUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"A
  URL provided by this administrative body for looking up where to vote.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"Candidate\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"Information
  about a candidate running for elected office.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:12:\"candidateUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"The
  URL for the candidate's campaign web site.\";s:4:\"type\";s:6:\"string\";}s:8:\"channels\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"A
  list of known (social) media channels for this candidate.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Channel\";}s:4:\"type\";s:5:\"array\";}s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"The
  email address for the candidate's campaign.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:216:\"The
  candidate's name. If this is a joint ticket it will indicate the name of the candidate
  at the top of a ticket followed by a / and that name of candidate at the bottom
  of the ticket. e.g. \"Mitt Romney / Paul Ryan\"\";s:4:\"type\";s:6:\"string\";}s:13:\"orderOnBallot\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"The
  order the candidate appears on the ballot for this contest.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:5:\"party\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"The
  full name of the party the candidate is a member of.\";s:4:\"type\";s:6:\"string\";}s:5:\"phone\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"The
  voice phone number for the candidate's campaign office.\";s:4:\"type\";s:6:\"string\";}s:8:\"photoUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"A
  URL for a photo of the candidate.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Channel\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"A
  social media or web channel for a candidate.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"The
  unique public identifier for the candidate's channel.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:185:\"The
  type of channel. The following is a list of types of channels, but is not exhaustive.
  More channel types may be added at a later time. One of: GooglePlus, YouTube, Facebook,
  Twitter\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Contest\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"Information
  about a contest that appears on a voter's ballot.\";s:10:\"properties\";O:8:\"stdClass\":24:{s:15:\"ballotPlacement\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"A
  number specifying the position of this contest on the voter's ballot.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:10:\"candidates\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  candidate choices for this contest.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Candidate\";}s:4:\"type\";s:5:\"array\";}s:8:\"district\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ElectoralDistrict\";s:11:\"description\";s:65:\"Information
  about the electoral district that this contest is in.\";}s:24:\"electorateSpecifications\";O:8:\"stdClass\":2:{s:11:\"description\";s:84:\"A
  description of any additional eligibility requirements for voting in this contest.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:196:\"An
  ID for this object. IDs may change in future requests and should not be cached.
  Access to this field requires special access that can be requested from the Request
  more link on the Quotas page.\";s:4:\"type\";s:6:\"string\";}s:5:\"level\";O:8:\"stdClass\":3:{s:11:\"description\";s:328:\"The
  levels of government of the office for this contest. There may be more than one
  in cases where a jurisdiction effectively acts at two different levels of government;
  for example, the mayor of the District of Columbia acts at \"locality\" level, but
  also effectively at both \"administrative-area-2\" and \"administrative-area-1\".\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:13:\"numberElected\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"The
  number of candidates that will be elected to office in this contest.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:15:\"numberVotingFor\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"The
  number of candidates that a voter may vote for in this contest.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:6:\"office\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  name of the office for this contest.\";s:4:\"type\";s:6:\"string\";}s:12:\"primaryParty\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"If
  this is a partisan election, the name of the party it is for.\";s:4:\"type\";s:6:\"string\";}s:25:\"referendumBallotResponses\";O:8:\"stdClass\":3:{s:11:\"description\";s:221:\"The
  set of ballot responses for the referendum. A ballot response represents a line
  on the ballot. Common examples might include \"yes\" or \"no\" for referenda. This
  field is only populated for contests of type 'Referendum'.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:15:\"referendumBrief\";O:8:\"stdClass\":2:{s:11:\"description\";s:175:\"Specifies
  a short summary of the referendum that is typically on the ballot below the title
  but above the text. This field is only populated for contests of type 'Referendum'.\";s:4:\"type\";s:6:\"string\";}s:22:\"referendumConStatement\";O:8:\"stdClass\":2:{s:11:\"description\";s:154:\"A
  statement in opposition to the referendum. It does not necessarily appear on the
  ballot. This field is only populated for contests of type 'Referendum'.\";s:4:\"type\";s:6:\"string\";}s:25:\"referendumEffectOfAbstain\";O:8:\"stdClass\":2:{s:11:\"description\";s:197:\"Specifies
  what effect abstaining (not voting) on the proposition will have (i.e. whether abstaining
  is considered a vote against it). This field is only populated for contests of type
  'Referendum'.\";s:4:\"type\";s:6:\"string\";}s:26:\"referendumPassageThreshold\";O:8:\"stdClass\":2:{s:11:\"description\";s:149:\"The
  threshold of votes that the referendum needs in order to pass, e.g. \"two-thirds\".
  This field is only populated for contests of type 'Referendum'.\";s:4:\"type\";s:6:\"string\";}s:22:\"referendumProStatement\";O:8:\"stdClass\":2:{s:11:\"description\";s:149:\"A
  statement in favor of the referendum. It does not necessarily appear on the ballot.
  This field is only populated for contests of type 'Referendum'.\";s:4:\"type\";s:6:\"string\";}s:18:\"referendumSubtitle\";O:8:\"stdClass\":2:{s:11:\"description\";s:102:\"A
  brief description of the referendum. This field is only populated for contests of
  type 'Referendum'.\";s:4:\"type\";s:6:\"string\";}s:14:\"referendumText\";O:8:\"stdClass\":2:{s:11:\"description\";s:96:\"The
  full text of the referendum. This field is only populated for contests of type 'Referendum'.\";s:4:\"type\";s:6:\"string\";}s:15:\"referendumTitle\";O:8:\"stdClass\":2:{s:11:\"description\";s:116:\"The
  title of the referendum (e.g. 'Proposition 42'). This field is only populated for
  contests of type 'Referendum'.\";s:4:\"type\";s:6:\"string\";}s:13:\"referendumUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:89:\"A
  link to the referendum. This field is only populated for contests of type 'Referendum'.\";s:4:\"type\";s:6:\"string\";}s:5:\"roles\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"The
  roles which this office fulfills.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"sources\";O:8:\"stdClass\":3:{s:11:\"description\";s:116:\"A
  list of sources for this contest. If multiple sources are listed, the data has been
  aggregated from those sources.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Source\";}s:4:\"type\";s:5:\"array\";}s:7:\"special\";O:8:\"stdClass\":2:{s:11:\"description\";s:95:\"\"Yes\"
  or \"No\" depending on whether this a contest being held outside the normal election
  cycle.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:206:\"The
  type of contest. Usually this will be 'General', 'Primary', or 'Run-off' for contests
  with candidates. For referenda this will be 'Referendum'. For Retention contests
  this will typically be 'Retention'.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"ContextParams\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"clientProfile\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:33:\"DivisionRepresentativeInfoRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"A
  request to look up representative information for a single division.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"contextParams\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ContextParams\";}}s:4:\"type\";s:6:\"object\";}s:21:\"DivisionSearchRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"A
  search request for political geographies.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"contextParams\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ContextParams\";}}s:4:\"type\";s:6:\"object\";}s:22:\"DivisionSearchResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  result of a division search query.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:32:\"civicinfo#divisionSearchResponse\";s:11:\"description\";s:101:\"Identifies
  what kind of resource this is. Value: the fixed string \"civicinfo#divisionSearchResponse\".\";s:4:\"type\";s:6:\"string\";}s:7:\"results\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/DivisionSearchResult\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:20:\"DivisionSearchResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"Represents
  a political geographic division that matches the requested query.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"aliases\";O:8:\"stdClass\":3:{s:11:\"description\";s:350:\"Other
  Open Civic Data identifiers that refer to the same division -- for example, those
  that refer to other political divisions whose boundaries are defined to be coterminous
  with this one. For example, ocd-division/country:us/state:wy will include an alias
  of ocd-division/country:us/state:wy/cd:1, since Wyoming has only one Congressional
  district.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  name of the division.\";s:4:\"type\";s:6:\"string\";}s:5:\"ocdId\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"The
  unique Open Civic Data identifier for this division.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Election\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Information
  about the election that was queried.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"electionDay\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Day
  of the election in YYYY-MM-DD format.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  unique ID of this election.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"A
  displayable name for the election.\";s:4:\"type\";s:6:\"string\";}s:13:\"ocdDivisionId\";O:8:\"stdClass\":2:{s:11:\"description\";s:301:\"The
  political division of the election. Represented as an OCD Division ID. Voters within
  these political jurisdictions are covered by this election. This is typically a
  state such as ocd-division/country:us/state:ca or for the midterms or general election
  the entire US (i.e. ocd-division/country:us).\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"ElectionOfficial\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Information
  about individual election officials.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"emailAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  email address of the election official.\";s:4:\"type\";s:6:\"string\";}s:9:\"faxNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  fax number of the election official.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  full name of the election official.\";s:4:\"type\";s:6:\"string\";}s:17:\"officePhoneNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"The
  office phone number of the election official.\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  title of the election official.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"ElectionsQueryRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"contextParams\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ContextParams\";}}s:4:\"type\";s:6:\"object\";}s:22:\"ElectionsQueryResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"The
  list of elections available for this version of the API.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"elections\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"A
  list of available elections\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Election\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:32:\"civicinfo#electionsQueryResponse\";s:11:\"description\";s:101:\"Identifies
  what kind of resource this is. Value: the fixed string \"civicinfo#electionsQueryResponse\".\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"ElectoralDistrict\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Describes
  the geographic scope of a contest.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:145:\"An
  identifier for this district, relative to its scope. For example, the 34th State
  Senate district would have id \"34\" and a scope of stateUpper.\";s:4:\"type\";s:6:\"string\";}s:12:\"kgForeignKey\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  name of the district.\";s:4:\"type\";s:6:\"string\";}s:5:\"scope\";O:8:\"stdClass\":2:{s:11:\"description\";s:257:\"The
  geographic scope of this district. If unspecified the district's geography is not
  known. One of: national, statewide, congressional, stateUpper, stateLower, countywide,
  judicial, schoolBoard, cityWide, township, countyCouncil, cityCouncil, ward, special\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"GeographicDivision\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Describes
  a political geography.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"alsoKnownAs\";O:8:\"stdClass\":3:{s:11:\"description\";s:586:\"Any
  other valid OCD IDs that refer to the same division.\n\nBecause OCD IDs are meant
  to be human-readable and at least somewhat predictable, there are occasionally several
  identifiers for a single division. These identifiers are defined to be equivalent
  to one another, and one is always indicated as the primary identifier. The primary
  identifier will be returned in ocd_id above, and any other equivalent valid identifiers
  will be returned in this list.\n\nFor example, if this division's OCD ID is ocd-division/country:us/district:dc,
  this will contain ocd-division/country:us/state:dc.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  name of the division.\";s:4:\"type\";s:6:\"string\";}s:13:\"officeIndices\";O:8:\"stdClass\":3:{s:11:\"description\";s:161:\"List
  of indices in the offices array, one for each office elected from this division.
  Will only be present if includeOffices was true (or absent) in the request.\";s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"uint32\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Office\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"Information
  about an Office held by one or more Officials.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:10:\"divisionId\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"The
  OCD ID of the division with which this office is associated.\";s:4:\"type\";s:6:\"string\";}s:6:\"levels\";O:8:\"stdClass\":3:{s:11:\"description\";s:326:\"The
  levels of government of which this office is part. There may be more than one in
  cases where a jurisdiction effectively acts at two different levels of government;
  for example, the mayor of the District of Columbia acts at \"locality\" level, but
  also effectively at both \"administrative-area-2\" and \"administrative-area-1\".\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  human-readable name of the office.\";s:4:\"type\";s:6:\"string\";}s:15:\"officialIndices\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"List
  of indices in the officials array of people who presently hold this office.\";s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"uint32\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";s:5:\"array\";}s:5:\"roles\";O:8:\"stdClass\":3:{s:11:\"description\";s:264:\"The
  roles which this office fulfills. Roles are not meant to be exhaustive, or to exactly
  specify the entire set of responsibilities of a given office, but are meant to be
  rough categories that are useful for general selection from or sorting of a list
  of offices.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"sources\";O:8:\"stdClass\":3:{s:11:\"description\";s:115:\"A
  list of sources for this office. If multiple sources are listed, the data has been
  aggregated from those sources.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Source\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Official\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Information
  about a person holding an elected office.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:7:\"address\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Addresses
  at which to contact the official.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/SimpleAddressType\";}s:4:\"type\";s:5:\"array\";}s:8:\"channels\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"A
  list of known (social) media channels for this official.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Channel\";}s:4:\"type\";s:5:\"array\";}s:6:\"emails\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"The
  direct email addresses for the official.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"The
  official's name.\";s:4:\"type\";s:6:\"string\";}s:5:\"party\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"The
  full name of the party the official belongs to.\";s:4:\"type\";s:6:\"string\";}s:6:\"phones\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"The
  official's public contact phone numbers.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:8:\"photoUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"A
  URL for a photo of the official.\";s:4:\"type\";s:6:\"string\";}s:4:\"urls\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  official's public website URLs.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:15:\"PollingLocation\";O:8:\"stdClass\":3:{s:11:\"description\";s:146:\"A
  location where a voter can vote. This may be an early vote site, an election day
  voting location, or a drop off location for a completed ballot.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:7:\"address\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/SimpleAddressType\";s:11:\"description\";s:28:\"The
  address of the location.\";}s:7:\"endDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:124:\"The
  last date that this early vote site or drop off location may be used. This field
  is not populated for polling locations.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:196:\"An
  ID for this object. IDs may change in future requests and should not be cached.
  Access to this field requires special access that can be requested from the Request
  more link on the Quotas page.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:104:\"The
  name of the early vote site or drop off location. This field is not populated for
  polling locations.\";s:4:\"type\";s:6:\"string\";}s:5:\"notes\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"Notes
  about this location (e.g. accessibility ramp or entrance to use).\";s:4:\"type\";s:6:\"string\";}s:12:\"pollingHours\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"A
  description of when this location is open.\";s:4:\"type\";s:6:\"string\";}s:7:\"sources\";O:8:\"stdClass\":3:{s:11:\"description\";s:116:\"A
  list of sources for this location. If multiple sources are listed the data has been
  aggregated from those sources.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Source\";}s:4:\"type\";s:5:\"array\";}s:9:\"startDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:125:\"The
  first date that this early vote site or drop off location may be used. This field
  is not populated for polling locations.\";s:4:\"type\";s:6:\"string\";}s:13:\"voterServices\";O:8:\"stdClass\":2:{s:11:\"description\";s:118:\"The
  services provided by this early vote site or drop off location. This field is not
  populated for polling locations.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"PostalAddress\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":31:{s:12:\"addressLines\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:22:\"administrativeAreaName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"countryName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"countryNameCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"dependentLocalityName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:32:\"dependentThoroughfareLeadingType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:25:\"dependentThoroughfareName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:34:\"dependentThoroughfarePostDirection\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:33:\"dependentThoroughfarePreDirection\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:33:\"dependentThoroughfareTrailingType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:31:\"dependentThoroughfaresConnector\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:31:\"dependentThoroughfaresIndicator\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:26:\"dependentThoroughfaresType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"firmName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"isDisputed\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:12:\"languageCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"localityName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"postBoxNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"postalCodeNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:25:\"postalCodeNumberExtension\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"premiseName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"recipientName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"sortingCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:25:\"subAdministrativeAreaName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"subPremiseName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"thoroughfareLeadingType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"thoroughfareName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"thoroughfareNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:25:\"thoroughfarePostDirection\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:24:\"thoroughfarePreDirection\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:24:\"thoroughfareTrailingType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:22:\"RepresentativeInfoData\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"divisions\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/GeographicDivision\";s:11:\"description\";s:56:\"The
  unique Open Civic Data identifier for this division.\";}s:11:\"description\";s:66:\"Political
  geographic divisions that contain the requested address.\";s:4:\"type\";s:6:\"object\";}s:7:\"offices\";O:8:\"stdClass\":3:{s:11:\"description\";s:121:\"Elected
  offices referenced by the divisions listed above. Will only be present if includeOffices
  was true in the request.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Office\";}s:4:\"type\";s:5:\"array\";}s:9:\"officials\";O:8:\"stdClass\":3:{s:11:\"description\";s:107:\"Officials
  holding the offices listed above. Will only be present if includeOffices was true
  in the request.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Official\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:25:\"RepresentativeInfoRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"A
  request for political geography and representative information for an address.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"contextParams\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ContextParams\";}}s:4:\"type\";s:6:\"object\";}s:26:\"RepresentativeInfoResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  result of a representative info lookup query.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"divisions\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/GeographicDivision\";s:11:\"description\";s:56:\"The
  unique Open Civic Data identifier for this division.\";}s:11:\"description\";s:66:\"Political
  geographic divisions that contain the requested address.\";s:4:\"type\";s:6:\"object\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:36:\"civicinfo#representativeInfoResponse\";s:11:\"description\";s:105:\"Identifies
  what kind of resource this is. Value: the fixed string \"civicinfo#representativeInfoResponse\".\";s:4:\"type\";s:6:\"string\";}s:15:\"normalizedInput\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/SimpleAddressType\";s:11:\"description\";s:47:\"The
  normalized version of the requested address\";}s:7:\"offices\";O:8:\"stdClass\":3:{s:11:\"description\";s:121:\"Elected
  offices referenced by the divisions listed above. Will only be present if includeOffices
  was true in the request.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Office\";}s:4:\"type\";s:5:\"array\";}s:9:\"officials\";O:8:\"stdClass\":3:{s:11:\"description\";s:107:\"Officials
  holding the offices listed above. Will only be present if includeOffices was true
  in the request.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Official\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:17:\"SimpleAddressType\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"A
  simple representation of an address.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:4:\"city\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  city or town for the address.\";s:4:\"type\";s:6:\"string\";}s:5:\"line1\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  street name and number of this address.\";s:4:\"type\";s:6:\"string\";}s:5:\"line2\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  second line the address, if needed.\";s:4:\"type\";s:6:\"string\";}s:5:\"line3\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"The
  third line of the address, if needed.\";s:4:\"type\";s:6:\"string\";}s:12:\"locationName\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  name of the location.\";s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"The
  US two letter state abbreviation of the address.\";s:4:\"type\";s:6:\"string\";}s:3:\"zip\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  US Postal Zip Code of the address.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Source\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"Contains
  information about the data source for the element containing it.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  name of the data source.\";s:4:\"type\";s:6:\"string\";}s:8:\"official\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"Whether
  this data comes from an official government source.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:16:\"VoterInfoRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"A
  request for information about a voter.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"contextParams\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ContextParams\";}s:22:\"voterInfoSegmentResult\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/VoterInfoSegmentResult\";}}s:4:\"type\";s:6:\"object\";}s:17:\"VoterInfoResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  result of a voter info lookup query.\";s:10:\"properties\";O:8:\"stdClass\":11:{s:8:\"contests\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Contests
  that will appear on the voter's ballot.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Contest\";}s:4:\"type\";s:5:\"array\";}s:16:\"dropOffLocations\";O:8:\"stdClass\":3:{s:11:\"description\";s:311:\"Locations
  where a voter is eligible to drop off a completed ballot. The voter must have received
  and completed a ballot prior to arriving at the location. The location may not have
  ballots available on the premises. These locations could be open on or before election
  day as indicated in the pollingHours field.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/PollingLocation\";}s:4:\"type\";s:5:\"array\";}s:14:\"earlyVoteSites\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"Locations
  where the voter is eligible to vote early, prior to election day.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/PollingLocation\";}s:4:\"type\";s:5:\"array\";}s:8:\"election\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Election\";s:11:\"description\";s:30:\"The
  election that was queried.\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:27:\"civicinfo#voterInfoResponse\";s:11:\"description\";s:96:\"Identifies
  what kind of resource this is. Value: the fixed string \"civicinfo#voterInfoResponse\".\";s:4:\"type\";s:6:\"string\";}s:8:\"mailOnly\";O:8:\"stdClass\":2:{s:11:\"description\";s:141:\"Specifies
  whether voters in the precinct vote only by mailing their ballots (with the possible
  option of dropping off their ballots as well).\";s:4:\"type\";s:7:\"boolean\";}s:15:\"normalizedInput\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/SimpleAddressType\";s:11:\"description\";s:47:\"The
  normalized version of the requested address\";}s:14:\"otherElections\";O:8:\"stdClass\":3:{s:11:\"description\";s:187:\"If
  no election ID was specified in the query, and there was more than one election
  with data for the given voter, this will contain information about the other elections
  that could apply.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Election\";}s:4:\"type\";s:5:\"array\";}s:16:\"pollingLocations\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"Locations
  where the voter is eligible to vote on election day.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/PollingLocation\";}s:4:\"type\";s:5:\"array\";}s:10:\"precinctId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":3:{s:11:\"description\";s:123:\"Local
  Election Information for the state that the voter votes in. For the US, there will
  only be one element in this array.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/AdministrationRegion\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:22:\"VoterInfoSegmentResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:15:\"generatedMillis\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:13:\"postalAddress\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/PostalAddress\";}s:7:\"request\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/VoterInfoRequest\";}s:8:\"response\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/VoterInfoResponse\";}}s:4:\"type\";s:6:\"object\";}}"
...
