---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Google\";s:3:\"url\";s:18:\"https://google.com\";}s:11:\"description\";s:62:\"Builds
  on top of the Google+ platform for Google Apps Domains.\";s:5:\"title\";s:15:\"Google+
  Domains\";s:7:\"version\";s:2:\"v1\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:37:\"https://console.developers.google.com\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:91:\"https://api.apis.guru/v2/cache/logo/https_developers.google.com_+_images_branding_g+128.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.6.0\";}s:6:\"format\";s:6:\"google\";s:3:\"url\";s:64:\"https://www.googleapis.com/discovery/v1/apis/plusDomains/v1/rest\";s:7:\"version\";s:2:\"v1\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"googleapis.com\";s:13:\"x-serviceName\";s:11:\"plusDomains\";}"
host: www.googleapis.com
basePath: /plusDomains/v1
paths: ~
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":15:{s:3:\"Acl\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Description
  of the access granted, suitable for display.\";s:4:\"type\";s:6:\"string\";}s:16:\"domainRestricted\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Whether
  access is restricted to the domain.\";s:4:\"type\";s:7:\"boolean\";}s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"The
  list of access entries.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/PlusDomainsAclentryResource\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:8:\"plus#acl\";s:11:\"description\";s:79:\"Identifies
  this resource as a collection of access controls. Value: \"plus#acl\".\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Activity\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":20:{s:6:\"access\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Acl\";s:11:\"description\";s:47:\"Identifies
  who has access to see this activity.\";}s:5:\"actor\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  person who performed this activity.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:23:\"clientSpecificActorInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Actor
  info specific to particular clients.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"youtubeActorInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Actor
  info specific to YouTube clients.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"channelId\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"ID
  of the YouTube channel owned by the Actor.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"The
  name of the actor, suitable for display.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  ID of the actor's Person resource.\";s:4:\"type\";s:6:\"string\";}s:5:\"image\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  image representation of the actor.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:162:\"The
  URL of the actor's profile photo. To resize the image and crop it to a square, append
  the query string ?sz=x, where x is the dimension in pixels of each side.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"An
  object representation of the individual components of name.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"familyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  family name (\"last name\") of the actor.\";s:4:\"type\";s:6:\"string\";}s:9:\"givenName\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  given name (\"first name\") of the actor.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  link to the actor's Google profile.\";s:4:\"type\";s:6:\"string\";}s:12:\"verification\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Verification
  status of actor.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"adHocVerified\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Verification
  for one-time or manual processes.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:7:\"address\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Street
  address where this activity occurred.\";s:4:\"type\";s:6:\"string\";}s:10:\"annotation\";O:8:\"stdClass\":2:{s:11:\"description\";s:108:\"Additional
  content added by the person who shared this activity, applicable only when resharing
  an activity.\";s:4:\"type\";s:6:\"string\";}s:15:\"crosspostSource\";O:8:\"stdClass\":2:{s:11:\"description\";s:109:\"If
  this activity is a crosspost from another system, this property specifies the ID
  of the original activity.\";s:4:\"type\";s:6:\"string\";}s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"ETag
  of this response for caching purposes.\";s:4:\"type\";s:6:\"string\";}s:7:\"geocode\";O:8:\"stdClass\":2:{s:11:\"description\";s:111:\"Latitude
  and longitude where this activity occurred. Format is latitude followed by longitude,
  space separated.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  ID of this activity.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:13:\"plus#activity\";s:11:\"description\";s:64:\"Identifies
  this resource as an activity. Value: \"plus#activity\".\";s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Place\";s:11:\"description\";s:42:\"The
  location where this activity occurred.\";}s:6:\"object\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"The
  object of this activity.\";s:10:\"properties\";O:8:\"stdClass\":11:{s:5:\"actor\";O:8:\"stdClass\":3:{s:11:\"description\";s:152:\"If
  this activity's object is itself another activity, such as when a person reshares
  an activity, this property specifies the original activity's actor.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:23:\"clientSpecificActorInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Actor
  info specific to particular clients.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"youtubeActorInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Actor
  info specific to YouTube clients.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"channelId\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"ID
  of the YouTube channel owned by the Actor.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"The
  original actor's name, which is suitable for display.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"ID
  of the original actor.\";s:4:\"type\";s:6:\"string\";}s:5:\"image\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  image representation of the original actor.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"A
  URL that points to a thumbnail photo of the original actor.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"A
  link to the original actor's Google profile.\";s:4:\"type\";s:6:\"string\";}s:12:\"verification\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Verification
  status of actor.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"adHocVerified\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Verification
  for one-time or manual processes.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:11:\"attachments\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"The
  media objects attached to this activity.\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:7:\"content\";O:8:\"stdClass\":2:{s:11:\"description\";s:141:\"If
  the attachment is an article, this property contains a snippet of text from the
  article. It can also include descriptions for other types.\";s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"The
  title of the attachment, such as a photo caption or an article title.\";s:4:\"type\";s:6:\"string\";}s:5:\"embed\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"If
  the attachment is a video, the embeddable link.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Media
  type of the link.\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"URL
  of the link.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"fullImage\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  full image URL for photo attachments.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"height\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  height, in pixels, of the linked resource.\";s:6:\"format\";s:6:\"uint32\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Media
  type of the link.\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"URL
  of the image.\";s:4:\"type\";s:6:\"string\";}s:5:\"width\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"The
  width, in pixels, of the linked resource.\";s:6:\"format\";s:6:\"uint32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  ID of the attachment.\";s:4:\"type\";s:6:\"string\";}s:5:\"image\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  preview image for photos or videos.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"height\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  height, in pixels, of the linked resource.\";s:6:\"format\";s:6:\"uint32\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Media
  type of the link.\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Image
  URL.\";s:4:\"type\";s:6:\"string\";}s:5:\"width\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"The
  width, in pixels, of the linked resource.\";s:6:\"format\";s:6:\"uint32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:10:\"objectType\";O:8:\"stdClass\":2:{s:11:\"description\";s:217:\"The
  type of media object. Possible values include, but are not limited to, the following
  values:  \n- \"photo\" - A photo. \n- \"album\" - A photo album. \n- \"video\" -
  A video. \n- \"article\" - An article, specified by a link.\";s:4:\"type\";s:6:\"string\";}s:17:\"previewThumbnails\";O:8:\"stdClass\":3:{s:11:\"description\";s:199:\"When
  previewing, these are the optional thumbnails for the post. When posting an article,
  choose one by setting the attachment.image.url property. If you don't choose one,
  one will be chosen for you.\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"URL
  of the thumbnail image.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:10:\"thumbnails\";O:8:\"stdClass\":3:{s:11:\"description\";s:105:\"If
  the attachment is an album, this property is a list of potential additional thumbnails
  from the album.\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Potential
  name of the thumbnail.\";s:4:\"type\";s:6:\"string\";}s:5:\"image\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Image
  resource.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"height\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  height, in pixels, of the linked resource.\";s:6:\"format\";s:6:\"uint32\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Media
  type of the link.\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Image
  url.\";s:4:\"type\";s:6:\"string\";}s:5:\"width\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"The
  width, in pixels, of the linked resource.\";s:6:\"format\";s:6:\"uint32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"URL
  of the webpage containing the image.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"The
  link to the attachment, which should be of type text/html.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:7:\"content\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"The
  HTML-formatted content, which is suitable for display.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:104:\"The
  ID of the object. When resharing an activity, this is the ID of the activity that
  is being reshared.\";s:4:\"type\";s:6:\"string\";}s:10:\"objectType\";O:8:\"stdClass\":2:{s:11:\"description\";s:160:\"The
  type of the object. Possible values include, but are not limited to, the following
  values:  \n- \"note\" - Textual content. \n- \"activity\" - A Google+ activity.\";s:4:\"type\";s:6:\"string\";}s:15:\"originalContent\";O:8:\"stdClass\":2:{s:11:\"description\";s:187:\"The
  content (text) as provided by the author, which is stored without any HTML formatting.
  When creating or updating an activity, this value must be supplied as plain text
  in the request.\";s:4:\"type\";s:6:\"string\";}s:9:\"plusoners\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"People
  who +1'd this activity.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"selfLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"The
  URL for the collection of people who +1'd this activity.\";s:4:\"type\";s:6:\"string\";}s:10:\"totalItems\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Total
  number of people who +1'd this activity.\";s:6:\"format\";s:6:\"uint32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:7:\"replies\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Comments
  in reply to this activity.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"selfLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"The
  URL for the collection of comments in reply to this activity.\";s:4:\"type\";s:6:\"string\";}s:10:\"totalItems\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Total
  number of comments on this activity.\";s:6:\"format\";s:6:\"uint32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:9:\"resharers\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"People
  who reshared this activity.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"selfLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  URL for the collection of resharers.\";s:4:\"type\";s:6:\"string\";}s:10:\"totalItems\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Total
  number of people who reshared this activity.\";s:6:\"format\";s:6:\"uint32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:15:\"statusForViewer\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Status
  of the activity as seen by the viewer.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"canComment\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Whether
  the viewer can comment on the activity.\";s:4:\"type\";s:7:\"boolean\";}s:10:\"canPlusone\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Whether
  the viewer can +1 the activity.\";s:4:\"type\";s:7:\"boolean\";}s:9:\"canUpdate\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"Whether
  the viewer can edit or delete the activity.\";s:4:\"type\";s:7:\"boolean\";}s:10:\"isPlusOned\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Whether
  the viewer has +1'd the activity.\";s:4:\"type\";s:7:\"boolean\";}s:17:\"resharingDisabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Whether
  reshares are disabled for the activity.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  URL that points to the linked resource.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"placeId\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"ID
  of the place where this activity occurred.\";s:4:\"type\";s:6:\"string\";}s:9:\"placeName\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Name
  of the place where this activity occurred.\";s:4:\"type\";s:6:\"string\";}s:8:\"provider\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"The
  service provider that initially published this activity.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Name
  of the service provider.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"published\";O:8:\"stdClass\":3:{s:11:\"description\";s:92:\"The
  time at which this activity was initially published. Formatted as an RFC 3339 timestamp.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:6:\"radius\";O:8:\"stdClass\":2:{s:11:\"description\";s:124:\"Radius,
  in meters, of the region where this activity occurred, centered at the latitude
  and longitude identified in geocode.\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Title
  of this activity.\";s:4:\"type\";s:6:\"string\";}s:7:\"updated\";O:8:\"stdClass\":3:{s:11:\"description\";s:85:\"The
  time at which this activity was last updated. Formatted as an RFC 3339 timestamp.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  link to this activity.\";s:4:\"type\";s:6:\"string\";}s:4:\"verb\";O:8:\"stdClass\":2:{s:11:\"description\";s:217:\"This
  activity's verb, which indicates the action that was performed. Possible values
  include, but are not limited to, the following values:  \n- \"post\" - Publish content
  to the stream. \n- \"share\" - Reshare an activity.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"ActivityFeed\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"ETag
  of this response for caching purposes.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"The
  ID of this collection of activities. Deprecated.\";s:4:\"type\";s:6:\"string\";}s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  activities in this page of results.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Activity\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:17:\"plus#activityFeed\";s:11:\"description\";s:83:\"Identifies
  this resource as a collection of activities. Value: \"plus#activityFeed\".\";s:4:\"type\";s:6:\"string\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Link
  to the next page of activities.\";s:4:\"type\";s:6:\"string\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:151:\"The
  continuation token, which is used to page through large result sets. Provide this
  value in a subsequent request to return the next page of results.\";s:4:\"type\";s:6:\"string\";}s:8:\"selfLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Link
  to this activity resource.\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:88:\"The
  title of this collection of activities, which is a truncated portion of the content.\";s:4:\"type\";s:6:\"string\";}s:7:\"updated\";O:8:\"stdClass\":3:{s:11:\"description\";s:101:\"The
  time at which this collection of activities was last updated. Formatted as an RFC
  3339 timestamp.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Audience\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"ETag
  of this response for caching purposes.\";s:4:\"type\";s:6:\"string\";}s:4:\"item\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/PlusDomainsAclentryResource\";s:11:\"description\";s:30:\"The
  access control list entry.\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:13:\"plus#audience\";s:11:\"description\";s:64:\"Identifies
  this resource as an audience. Value: \"plus#audience\".\";s:4:\"type\";s:6:\"string\";}s:11:\"memberCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"The
  number of people in this circle. This only applies if entity_type is CIRCLE.\";s:6:\"format\";s:6:\"uint32\";s:4:\"type\";s:7:\"integer\";}s:10:\"visibility\";O:8:\"stdClass\":2:{s:11:\"description\";s:313:\"The
  circle members' visibility as chosen by the owner of the circle. This only applies
  for items with \"item.type\" equals \"circle\". Possible values are:  \n- \"public\"
  - Members are visible to the public. \n- \"limited\" - Members are visible to a
  limited audience. \n- \"private\" - Members are visible to the owner only.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"AudiencesFeed\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"ETag
  of this response for caching purposes.\";s:4:\"type\";s:6:\"string\";}s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  audiences in this result.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Audience\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:18:\"plus#audiencesFeed\";s:11:\"description\";s:82:\"Identifies
  this resource as a collection of audiences. Value: \"plus#audienceFeed\".\";s:4:\"type\";s:6:\"string\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:151:\"The
  continuation token, which is used to page through large result sets. Provide this
  value in a subsequent request to return the next page of results.\";s:4:\"type\";s:6:\"string\";}s:10:\"totalItems\";O:8:\"stdClass\":3:{s:11:\"description\";s:101:\"The
  total number of ACL entries. The number of entries in this response may be smaller
  due to paging.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Circle\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  description of this circle.\";s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"The
  circle name.\";s:4:\"type\";s:6:\"string\";}s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"ETag
  of this response for caching purposes.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  ID of the circle.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:11:\"plus#circle\";s:11:\"description\";s:59:\"Identifies
  this resource as a circle. Value: \"plus#circle\".\";s:4:\"type\";s:6:\"string\";}s:6:\"people\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"The
  people in this circle.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"totalItems\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"The
  total number of people in this circle.\";s:6:\"format\";s:6:\"uint32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:8:\"selfLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Link
  to this circle resource\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"CircleFeed\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"ETag
  of this response for caching purposes.\";s:4:\"type\";s:6:\"string\";}s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  circles in this page of results.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Circle\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:15:\"plus#circleFeed\";s:11:\"description\";s:78:\"Identifies
  this resource as a collection of circles. Value: \"plus#circleFeed\".\";s:4:\"type\";s:6:\"string\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Link
  to the next page of circles.\";s:4:\"type\";s:6:\"string\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:151:\"The
  continuation token, which is used to page through large result sets. Provide this
  value in a subsequent request to return the next page of results.\";s:4:\"type\";s:6:\"string\";}s:8:\"selfLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Link
  to this page of circles.\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"The
  title of this list of resources.\";s:4:\"type\";s:6:\"string\";}s:10:\"totalItems\";O:8:\"stdClass\":3:{s:11:\"description\";s:97:\"The
  total number of circles. The number of circles in this response may be smaller due
  to paging.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Comment\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":11:{s:5:\"actor\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  person who posted this comment.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:23:\"clientSpecificActorInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Actor
  info specific to particular clients.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"youtubeActorInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Actor
  info specific to YouTube clients.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"channelId\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"ID
  of the YouTube channel owned by the Actor.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"The
  name of this actor, suitable for display.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"The
  ID of the actor.\";s:4:\"type\";s:6:\"string\";}s:5:\"image\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  image representation of this actor.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:162:\"The
  URL of the actor's profile photo. To resize the image and crop it to a square, append
  the query string ?sz=x, where x is the dimension in pixels of each side.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"A
  link to the Person resource for this actor.\";s:4:\"type\";s:6:\"string\";}s:12:\"verification\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Verification
  status of actor.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"adHocVerified\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Verification
  for one-time or manual processes.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"ETag
  of this response for caching purposes.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  ID of this comment.\";s:4:\"type\";s:6:\"string\";}s:9:\"inReplyTo\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"The
  activity this comment replied to.\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  ID of the activity.\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  URL of the activity.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:12:\"plus#comment\";s:11:\"description\";s:61:\"Identifies
  this resource as a comment. Value: \"plus#comment\".\";s:4:\"type\";s:6:\"string\";}s:6:\"object\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"The
  object of this comment.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"content\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"The
  HTML-formatted content, suitable for display.\";s:4:\"type\";s:6:\"string\";}s:10:\"objectType\";O:8:\"stdClass\":3:{s:7:\"default\";s:7:\"comment\";s:11:\"description\";s:104:\"The
  object type of this comment. Possible values are:  \n- \"comment\" - A comment in
  reply to an activity.\";s:4:\"type\";s:6:\"string\";}s:15:\"originalContent\";O:8:\"stdClass\":2:{s:11:\"description\";s:176:\"The
  content (text) as provided by the author, stored without any HTML formatting. When
  creating or updating a comment, this value must be supplied as plain text in the
  request.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"plusoners\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"People
  who +1'd this comment.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"totalItems\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Total
  number of people who +1'd this comment.\";s:6:\"format\";s:6:\"uint32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:9:\"published\";O:8:\"stdClass\":3:{s:11:\"description\";s:91:\"The
  time at which this comment was initially published. Formatted as an RFC 3339 timestamp.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:8:\"selfLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Link
  to this comment resource.\";s:4:\"type\";s:6:\"string\";}s:7:\"updated\";O:8:\"stdClass\":3:{s:11:\"description\";s:84:\"The
  time at which this comment was last updated. Formatted as an RFC 3339 timestamp.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:4:\"verb\";O:8:\"stdClass\":3:{s:7:\"default\";s:4:\"post\";s:11:\"description\";s:123:\"This
  comment's verb, indicating what action was performed. Possible values are:  \n-
  \"post\" - Publish content to the stream.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"CommentFeed\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"ETag
  of this response for caching purposes.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  ID of this collection of comments.\";s:4:\"type\";s:6:\"string\";}s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"The
  comments in this page of results.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Comment\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:16:\"plus#commentFeed\";s:11:\"description\";s:80:\"Identifies
  this resource as a collection of comments. Value: \"plus#commentFeed\".\";s:4:\"type\";s:6:\"string\";}s:8:\"nextLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Link
  to the next page of activities.\";s:4:\"type\";s:6:\"string\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:151:\"The
  continuation token, which is used to page through large result sets. Provide this
  value in a subsequent request to return the next page of results.\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"The
  title of this collection of comments.\";s:4:\"type\";s:6:\"string\";}s:7:\"updated\";O:8:\"stdClass\":3:{s:11:\"description\";s:99:\"The
  time at which this collection of comments was last updated. Formatted as an RFC
  3339 timestamp.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Media\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":18:{s:6:\"author\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  person who uploaded this media.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"The
  author's name.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"ID
  of the author.\";s:4:\"type\";s:6:\"string\";}s:5:\"image\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  author's Google profile image.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:163:\"The
  URL of the author's profile photo. To resize the image and crop it to a square,
  append the query string ?sz=x, where x is the dimension in pixels of each side.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"A
  link to the author's Google profile.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  display name for this media.\";s:4:\"type\";s:6:\"string\";}s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"ETag
  of this response for caching purposes.\";s:4:\"type\";s:6:\"string\";}s:4:\"exif\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Exif
  information of the media item.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"time\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"The
  time the media was captured. Formatted as an RFC 3339 timestamp.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"height\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  height in pixels of the original image.\";s:6:\"format\";s:6:\"uint32\";s:4:\"type\";s:7:\"integer\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"ID
  of this media, which is generated by the API.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:10:\"plus#media\";s:11:\"description\";s:21:\"The
  type of resource.\";s:4:\"type\";s:6:\"string\";}s:16:\"mediaCreatedTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:146:\"The
  time at which this media was originally created in UTC. Formatted as an RFC 3339
  timestamp that matches this example: 2010-11-25T14:30:27.655Z\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:8:\"mediaUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"The
  URL of this photo or video's still image.\";s:4:\"type\";s:6:\"string\";}s:9:\"published\";O:8:\"stdClass\":3:{s:11:\"description\";s:78:\"The
  time at which this media was uploaded. Formatted as an RFC 3339 timestamp.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:9:\"sizeBytes\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"The
  size in bytes of this video.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:7:\"streams\";O:8:\"stdClass\":3:{s:11:\"description\";s:151:\"The
  list of video streams for this video. There might be several different streams available
  for a single video, either Flash or MPEG, of various sizes\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Videostream\";}s:4:\"type\";s:5:\"array\";}s:7:\"summary\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"A
  description, or caption, for this media.\";s:4:\"type\";s:6:\"string\";}s:7:\"updated\";O:8:\"stdClass\":3:{s:11:\"description\";s:123:\"The
  time at which this media was last updated. This includes changes to media metadata.
  Formatted as an RFC 3339 timestamp.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  URL for the page that hosts this media.\";s:4:\"type\";s:6:\"string\";}s:13:\"videoDuration\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  duration in milliseconds of this video.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:11:\"videoStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:289:\"The
  encoding status of this video. Possible values are:  \n- \"UPLOADING\" - Not all
  the video bytes have been received. \n- \"PENDING\" - Video not yet processed. \n-
  \"FAILED\" - Video processing failed. \n- \"READY\" - A single video stream is playable.
  \n- \"FINAL\" - All video streams are playable.\";s:4:\"type\";s:6:\"string\";}s:5:\"width\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"The
  width in pixels of the original image.\";s:6:\"format\";s:6:\"uint32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:10:\"PeopleFeed\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"ETag
  of this response for caching purposes.\";s:4:\"type\";s:6:\"string\";}s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:170:\"The
  people in this page of results. Each item includes the id, displayName, image, and
  url for the person. To retrieve additional profile data, see the people.get method.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Person\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:15:\"plus#peopleFeed\";s:11:\"description\";s:77:\"Identifies
  this resource as a collection of people. Value: \"plus#peopleFeed\".\";s:4:\"type\";s:6:\"string\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:151:\"The
  continuation token, which is used to page through large result sets. Provide this
  value in a subsequent request to return the next page of results.\";s:4:\"type\";s:6:\"string\";}s:8:\"selfLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Link
  to this resource.\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  title of this collection of people.\";s:4:\"type\";s:6:\"string\";}s:10:\"totalItems\";O:8:\"stdClass\":3:{s:11:\"description\";s:160:\"The
  total number of people available in this list. The number of people in a response
  might be smaller due to paging. This might not be set for all collections.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Person\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":28:{s:7:\"aboutMe\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"A
  short biography for this person.\";s:4:\"type\";s:6:\"string\";}s:8:\"birthday\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"The
  person's date of birth, represented as YYYY-MM-DD.\";s:4:\"type\";s:6:\"string\";}s:14:\"braggingRights\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"The
  \"bragging rights\" line of this person.\";s:4:\"type\";s:6:\"string\";}s:14:\"circledByCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:99:\"For
  followers who are visible, the number of people who have added this person or page
  to a circle.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:5:\"cover\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  cover photo content.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"coverInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Extra
  information about the cover photo.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"leftImageOffset\";O:8:\"stdClass\":3:{s:11:\"description\";s:127:\"The
  difference between the left position of the cover image and the actual displayed
  cover image. Only valid for banner layout.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:14:\"topImageOffset\";O:8:\"stdClass\":3:{s:11:\"description\";s:126:\"The
  difference between the top position of the cover image and the actual displayed
  cover image. Only valid for banner layout.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:10:\"coverPhoto\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  person's primary cover image.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"height\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  height of the image.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  URL of the image.\";s:4:\"type\";s:6:\"string\";}s:5:\"width\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"The
  width of the image.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:6:\"layout\";O:8:\"stdClass\":2:{s:11:\"description\";s:138:\"The
  layout of the cover art. Possible values include, but are not limited to, the following
  values:  \n- \"banner\" - One large image banner.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"currentLocation\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"(this
  field is not currently used)\";s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"The
  name of this person, which is suitable for display.\";s:4:\"type\";s:6:\"string\";}s:6:\"domain\";O:8:\"stdClass\":2:{s:11:\"description\";s:164:\"The
  hosted domain name for the user's Google Apps account. For instance, example.com.
  The plus.profile.emails.read or email scope is needed to get this domain name.\";s:4:\"type\";s:6:\"string\";}s:6:\"emails\";O:8:\"stdClass\":3:{s:11:\"description\";s:321:\"A
  list of email addresses that this person has, including their Google account email
  address, and the public verified email addresses on their Google+ profile. The plus.profile.emails.read
  scope is needed to retrieve these email addresses, or the email scope can be used
  to retrieve just the Google account email address.\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:221:\"The
  type of address. Possible values include, but are not limited to, the following
  values:  \n- \"account\" - Google account email address. \n- \"home\" - Home email
  address. \n- \"work\" - Work email address. \n- \"other\" - Other.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"The
  email address.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"ETag
  of this response for caching purposes.\";s:4:\"type\";s:6:\"string\";}s:6:\"gender\";O:8:\"stdClass\":2:{s:11:\"description\";s:166:\"The
  person's gender. Possible values include, but are not limited to, the following
  values:  \n- \"male\" - Male gender. \n- \"female\" - Female gender. \n- \"other\"
  - Other.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  ID of this person.\";s:4:\"type\";s:6:\"string\";}s:5:\"image\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  representation of the person's profile photo.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"isDefault\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Whether
  the person's profile photo is the default one\";s:4:\"type\";s:7:\"boolean\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:163:\"The
  URL of the person's profile photo. To resize the image and crop it to a square,
  append the query string ?sz=x, where x is the dimension in pixels of each side.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"isPlusUser\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Whether
  this user has signed up for Google+.\";s:4:\"type\";s:7:\"boolean\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:11:\"plus#person\";s:11:\"description\";s:59:\"Identifies
  this resource as a person. Value: \"plus#person\".\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"An
  object representation of the individual components of a person's name.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:10:\"familyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  family name (last name) of this person.\";s:4:\"type\";s:6:\"string\";}s:9:\"formatted\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"The
  full name of this person, including middle names, suffixes, etc.\";s:4:\"type\";s:6:\"string\";}s:9:\"givenName\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  given name (first name) of this person.\";s:4:\"type\";s:6:\"string\";}s:15:\"honorificPrefix\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"The
  honorific prefixes (such as \"Dr.\" or \"Mrs.\") for this person.\";s:4:\"type\";s:6:\"string\";}s:15:\"honorificSuffix\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"The
  honorific suffixes (such as \"Jr.\") for this person.\";s:4:\"type\";s:6:\"string\";}s:10:\"middleName\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  middle name of this person.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"nickname\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  nickname of this person.\";s:4:\"type\";s:6:\"string\";}s:10:\"objectType\";O:8:\"stdClass\":2:{s:11:\"description\";s:176:\"Type
  of person within Google+. Possible values include, but are not limited to, the following
  values:  \n- \"person\" - represents an actual person. \n- \"page\" - represents
  a page.\";s:4:\"type\";s:6:\"string\";}s:10:\"occupation\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  occupation of this person.\";s:4:\"type\";s:6:\"string\";}s:13:\"organizations\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"A
  list of current or past organizations with which this person is associated.\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:10:\"department\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"The
  department within the organization. Deprecated.\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"A
  short description of the person's role in this organization. Deprecated.\";s:4:\"type\";s:6:\"string\";}s:7:\"endDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"The
  date that the person left this organization.\";s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"The
  location of this organization. Deprecated.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  name of the organization.\";s:4:\"type\";s:6:\"string\";}s:7:\"primary\";O:8:\"stdClass\":2:{s:11:\"description\";s:118:\"If
  \"true\", indicates this organization is the person's primary one, which is typically
  interpreted as the current one.\";s:4:\"type\";s:7:\"boolean\";}s:9:\"startDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"The
  date that the person joined this organization.\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"The
  person's job title or role within the organization.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:137:\"The
  type of organization. Possible values include, but are not limited to, the following
  values:  \n- \"work\" - Work. \n- \"school\" - School.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:11:\"placesLived\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"A
  list of places where this person has lived.\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"primary\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"If
  \"true\", this place of residence is this person's primary residence.\";s:4:\"type\";s:7:\"boolean\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"A
  place where this person has lived. For example: \"Seattle, WA\", \"Near Toronto\".\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:12:\"plusOneCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"If
  a Google+ Page, the number of people who have +1'd this page.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:18:\"relationshipStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:527:\"The
  person's relationship status. Possible values include, but are not limited to, the
  following values:  \n- \"single\" - Person is single. \n- \"in_a_relationship\"
  - Person is in a relationship. \n- \"engaged\" - Person is engaged. \n- \"married\"
  - Person is married. \n- \"its_complicated\" - The relationship is complicated.
  \n- \"open_relationship\" - Person is in an open relationship. \n- \"widowed\" -
  Person is widowed. \n- \"in_domestic_partnership\" - Person is in a domestic partnership.
  \n- \"in_civil_union\" - Person is in a civil union.\";s:4:\"type\";s:6:\"string\";}s:6:\"skills\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"The
  person's skills.\";s:4:\"type\";s:6:\"string\";}s:7:\"tagline\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"The
  brief description (tagline) of this person.\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  URL of this person's profile.\";s:4:\"type\";s:6:\"string\";}s:4:\"urls\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"A
  list of URLs for this person.\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"label\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  label of the URL.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:290:\"The
  type of URL. Possible values include, but are not limited to, the following values:
  \ \n- \"otherProfile\" - URL for another profile. \n- \"contributor\" - URL to a
  site for which this person is a contributor. \n- \"website\" - URL for this Google+
  Page's primary website. \n- \"other\" - Other URL.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"The
  URL value.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:8:\"verified\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Whether
  the person or Google+ Page has been verified.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Place\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"address\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  physical address of the place.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"formatted\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  formatted address for display.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  display name of the place.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"The
  id of the place.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:10:\"plus#place\";s:11:\"description\";s:57:\"Identifies
  this resource as a place. Value: \"plus#place\".\";s:4:\"type\";s:6:\"string\";}s:8:\"position\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"The
  position of the place.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"latitude\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  latitude of this position.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:9:\"longitude\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  longitude of this position.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:27:\"PlusDomainsAclentryResource\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"A
  descriptive name for this entry. Suitable for display.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:137:\"The
  ID of the entry. For entries of type \"person\" or \"circle\", this is the ID of
  the resource. For other types, this property is not set.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:447:\"The
  type of entry describing to whom access is granted. Possible values are:  \n- \"person\"
  - Access to an individual. \n- \"circle\" - Access to members of a circle. \n- \"myCircles\"
  - Access to members of all the person's circles. \n- \"extendedCircles\" - Access
  to members of all the person's circles, plus all of the people in their circles.
  \n- \"domain\" - Access to members of the person's Google Apps domain. \n- \"public\"
  - Access to anyone on the web.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"Videostream\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"height\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"The
  height, in pixels, of the video resource.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"MIME
  type of the video stream.\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"URL
  of the video stream.\";s:4:\"type\";s:6:\"string\";}s:5:\"width\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"The
  width, in pixels, of the video resource.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}}"
...
