---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":12:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Google\";s:3:\"url\";s:18:\"https://google.com\";}s:11:\"description\";s:125:\"Provides
  information about other Google APIs, such as what APIs are available, the resource,
  and method details for each API.\";s:5:\"title\";s:22:\"APIs Discovery Service\";s:7:\"version\";s:2:\"v1\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:37:\"https://console.developers.google.com\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:15:\"developer_tools\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:116:\"https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.6.2\";}s:6:\"format\";s:6:\"google\";s:3:\"url\";s:62:\"https://www.googleapis.com/discovery/v1/apis/discovery/v1/rest\";s:7:\"version\";s:2:\"v1\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"googleapis.com\";s:13:\"x-serviceName\";s:9:\"discovery\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:16:\"google_discovery\";s:4:\"type\";s:7:\"openapi\";}}"
host: www.googleapis.com
basePath: /discovery/v1
paths:
  /apis:
    get:
      description: Retrieve the list of APIs supported at this endpoint.
      operationId: apis.list
      parameters:
      - description: Only include APIs with the given name.
        in: query
        name: name
        type: string
      - default: false
        description: Return only the preferred version of an API.
        in: query
        name: preferred
        type: boolean
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/DirectoryList'
      tags:
      - apis
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
  /apis/{api}/{version}/rest:
    get:
      description: Retrieve the description of a particular version of an api.
      operationId: apis.getRest
      parameters:
      - description: The name of the API.
        in: path
        name: api
        required: true
        type: string
      - description: The version of the API.
        in: path
        name: version
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/RestDescription'
      tags:
      - apis
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":5:{s:13:\"DirectoryList\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"discoveryVersion\";O:8:\"stdClass\":3:{s:7:\"default\";s:2:\"v1\";s:11:\"description\";s:68:\"Indicate
  the version of the Discovery API used to generate this doc.\";s:4:\"type\";s:6:\"string\";}s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"The
  individual directory entries. One entry per api/version pair.\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":12:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  description of this API.\";s:4:\"type\";s:6:\"string\";}s:13:\"discoveryLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"A
  link to the discovery document.\";s:4:\"type\";s:6:\"string\";}s:16:\"discoveryRestUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  URL for the discovery REST document.\";s:4:\"type\";s:6:\"string\";}s:17:\"documentationLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"A
  link to human readable documentation for the API.\";s:4:\"type\";s:6:\"string\";}s:5:\"icons\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Links
  to 16x16 and 32x32 icons representing the API.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"x16\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  URL of the 16x16 icon.\";s:4:\"type\";s:6:\"string\";}s:3:\"x32\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  URL of the 32x32 icon.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"The
  id of this API.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:23:\"discovery#directoryItem\";s:11:\"description\";s:27:\"The
  kind for this response.\";s:4:\"type\";s:6:\"string\";}s:6:\"labels\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"Labels
  for the status of this API, such as labs or deprecated.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"The
  name of the API.\";s:4:\"type\";s:6:\"string\";}s:9:\"preferred\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"True
  if this version is the preferred version to use.\";s:4:\"type\";s:7:\"boolean\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  title of this API.\";s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  version of the API.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:23:\"discovery#directoryList\";s:11:\"description\";s:27:\"The
  kind for this response.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"JsonSchema\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":20:{s:4:\"$ref\";O:8:\"stdClass\":2:{s:11:\"description\";s:88:\"A
  reference to another schema. The value of this property is the \"id\" of another
  schema.\";s:4:\"type\";s:6:\"string\";}s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/JsonSchema\";s:11:\"description\";s:126:\"If
  this is a schema for an object, this property is the schema for any additional properties
  with dynamic keys on this object.\";}s:11:\"annotations\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Additional
  information about this property.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"required\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"A
  list of methods for which this property is required on requests.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:7:\"default\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"The
  default value of this property (if one exists).\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"A
  description of this object.\";s:4:\"type\";s:6:\"string\";}s:4:\"enum\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Values
  this parameter may take (if it is an enum).\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:16:\"enumDescriptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:98:\"The
  descriptions for the enums. Each position maps to the corresponding value in the
  \"enum\" array.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:6:\"format\";O:8:\"stdClass\":2:{s:11:\"description\";s:158:\"An
  additional regular expression or key that helps constrain the value. For more details
  see: http://tools.ietf.org/html/draft-zyp-json-schema-03#section-5.23\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Unique
  identifier for this schema.\";s:4:\"type\";s:6:\"string\";}s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/JsonSchema\";s:11:\"description\";s:92:\"If
  this is a schema for an array, this property is the schema for each element in the
  array.\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"Whether
  this parameter goes in the query or the path for REST requests.\";s:4:\"type\";s:6:\"string\";}s:7:\"maximum\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"The
  maximum value of this parameter.\";s:4:\"type\";s:6:\"string\";}s:7:\"minimum\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"The
  minimum value of this parameter.\";s:4:\"type\";s:6:\"string\";}s:7:\"pattern\";O:8:\"stdClass\":2:{s:11:\"description\";s:150:\"The
  regular expression this parameter must conform to. Uses Java 6 regex format: http://docs.oracle.com/javase/6/docs/api/java/util/regex/Pattern.html\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/JsonSchema\";s:11:\"description\";s:100:\"A
  single property of this object. The value is itself a JSON Schema object describing
  this property.\";}s:11:\"description\";s:84:\"If this is a schema for an object,
  list the schema for each property of this object.\";s:4:\"type\";s:6:\"object\";}s:8:\"readOnly\";O:8:\"stdClass\":2:{s:11:\"description\";s:182:\"The
  value is read-only, generated by the service. The value cannot be modified by the
  client. If the value is included in a POST, PUT, or PATCH request, it is ignored
  by the service.\";s:4:\"type\";s:7:\"boolean\";}s:8:\"repeated\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Whether
  this parameter may appear multiple times.\";s:4:\"type\";s:7:\"boolean\";}s:8:\"required\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Whether
  the parameter is required.\";s:4:\"type\";s:7:\"boolean\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:131:\"The
  value type for this schema. A list of values can be found here: http://tools.ietf.org/html/draft-zyp-json-schema-03#section-5.1\";s:4:\"type\";s:6:\"string\";}s:7:\"variant\";O:8:\"stdClass\":3:{s:11:\"description\";s:176:\"In
  a variant data type, the value of one property is used to determine how to interpret
  the entire entity. Its value must exist in a map of descriminant values to schema
  names.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"discriminant\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  name of the type discriminant property.\";s:4:\"type\";s:6:\"string\";}s:3:\"map\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"The
  map of discriminant value to schema to use for parsing..\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"type_value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:15:\"RestDescription\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":30:{s:4:\"auth\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Authentication
  information.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"oauth2\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"OAuth
  2.0 authentication information.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"scopes\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"The
  scope value.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Description
  of scope.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"description\";s:27:\"Available
  OAuth 2.0 scopes.\";s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:8:\"basePath\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"[DEPRECATED]
  The base path for REST requests.\";s:4:\"type\";s:6:\"string\";}s:7:\"baseUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"[DEPRECATED]
  The base URL for REST requests.\";s:4:\"type\";s:6:\"string\";}s:9:\"batchPath\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  path for REST batch requests.\";s:4:\"type\";s:6:\"string\";}s:13:\"canonicalName\";O:8:\"stdClass\":2:{s:11:\"description\";s:120:\"Indicates
  how the API name should be capitalized and split into various parts. Useful for
  generating pretty class names.\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  description of this API.\";s:4:\"type\";s:6:\"string\";}s:16:\"discoveryVersion\";O:8:\"stdClass\":3:{s:7:\"default\";s:2:\"v1\";s:11:\"description\";s:68:\"Indicate
  the version of the Discovery API used to generate this doc.\";s:4:\"type\";s:6:\"string\";}s:17:\"documentationLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"A
  link to human readable documentation for the API.\";s:4:\"type\";s:6:\"string\";}s:4:\"etag\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"The
  ETag for this response.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:25:\"exponentialBackoffDefault\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"Enable
  exponential backoff for suitable methods in the generated clients.\";s:4:\"type\";s:7:\"boolean\";}s:8:\"features\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"A
  list of supported features for this API.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:5:\"icons\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Links
  to 16x16 and 32x32 icons representing the API.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"x16\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  URL of the 16x16 icon.\";s:4:\"type\";s:6:\"string\";}s:3:\"x32\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  URL of the 32x32 icon.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"The
  ID of this API.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:25:\"discovery#restDescription\";s:11:\"description\";s:27:\"The
  kind for this response.\";s:4:\"type\";s:6:\"string\";}s:6:\"labels\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"Labels
  for the status of this API, such as labs or deprecated.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"methods\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/RestMethod\";s:11:\"description\";s:33:\"An
  individual method description.\";}s:11:\"description\";s:31:\"API-level methods
  for this API.\";s:4:\"type\";s:6:\"object\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  name of this API.\";s:4:\"type\";s:6:\"string\";}s:11:\"ownerDomain\";O:8:\"stdClass\":2:{s:11:\"description\";s:190:\"The
  domain of the owner of this API. Together with the ownerName and a packagePath values,
  this can be used to generate a library for this API which would have a unique fully
  qualified name.\";s:4:\"type\";s:6:\"string\";}s:9:\"ownerName\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"The
  name of the owner of this API. See ownerDomain.\";s:4:\"type\";s:6:\"string\";}s:11:\"packagePath\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"The
  package of the owner of this API. See ownerDomain.\";s:4:\"type\";s:6:\"string\";}s:10:\"parameters\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/JsonSchema\";s:11:\"description\";s:34:\"Description
  of a single parameter.\";}s:11:\"description\";s:45:\"Common parameters that apply
  across all apis.\";s:4:\"type\";s:6:\"object\";}s:8:\"protocol\";O:8:\"stdClass\":3:{s:7:\"default\";s:4:\"rest\";s:11:\"description\";s:40:\"The
  protocol described by this document.\";s:4:\"type\";s:6:\"string\";}s:9:\"resources\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/RestResource\";s:11:\"description\";s:96:\"An
  individual resource description. Contains methods and sub-resources related to this
  resource.\";}s:11:\"description\";s:26:\"The resources in this API.\";s:4:\"type\";s:6:\"object\";}s:8:\"revision\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  version of this API.\";s:4:\"type\";s:6:\"string\";}s:7:\"rootUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"The
  root URL under which all API services live.\";s:4:\"type\";s:6:\"string\";}s:7:\"schemas\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/JsonSchema\";s:11:\"description\";s:33:\"An
  individual schema description.\";}s:11:\"description\";s:25:\"The schemas for this
  API.\";s:4:\"type\";s:6:\"object\";}s:11:\"servicePath\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"The
  base path for all REST requests.\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  title of this API.\";s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  version of this API.\";s:4:\"type\";s:6:\"string\";}s:14:\"version_module\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:10:\"RestMethod\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":15:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Description
  of this method.\";s:4:\"type\";s:6:\"string\";}s:12:\"etagRequired\";O:8:\"stdClass\":2:{s:11:\"description\";s:115:\"Whether
  this method requires an ETag to be specified. The ETag is sent as an HTTP If-Match
  or If-None-Match header.\";s:4:\"type\";s:7:\"boolean\";}s:10:\"httpMethod\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"HTTP
  method used by this method.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:112:\"A
  unique ID for this method. This property can be used to match methods between different
  versions of Discovery.\";s:4:\"type\";s:6:\"string\";}s:11:\"mediaUpload\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Media
  upload parameters.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"accept\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"MIME
  Media Ranges for acceptable media uploads to this method.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"maxSize\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"Maximum
  size of a media upload, such as \"1MB\", \"2GB\" or \"3TB\".\";s:4:\"type\";s:6:\"string\";}s:9:\"protocols\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Supported
  upload protocols.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"resumable\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Supports
  the Resumable Media Upload protocol.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"multipart\";O:8:\"stdClass\":3:{s:7:\"default\";b:1;s:11:\"description\";s:57:\"True
  if this endpoint supports uploading multipart media.\";s:4:\"type\";s:7:\"boolean\";}s:4:\"path\";O:8:\"stdClass\":2:{s:11:\"description\";s:110:\"The
  URI path to be used for upload. Should be used in conjunction with the basePath
  property at the api-level.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"simple\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Supports
  uploading as a single HTTP request.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"multipart\";O:8:\"stdClass\":3:{s:7:\"default\";b:1;s:11:\"description\";s:54:\"True
  if this endpoint supports upload multipart media.\";s:4:\"type\";s:7:\"boolean\";}s:4:\"path\";O:8:\"stdClass\":2:{s:11:\"description\";s:110:\"The
  URI path to be used for upload. Should be used in conjunction with the basePath
  property at the api-level.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:14:\"parameterOrder\";O:8:\"stdClass\":3:{s:11:\"description\";s:188:\"Ordered
  list of required parameters, serves as a hint to clients on how to structure their
  method signatures. The array is ordered such that the \"most-significant\" parameter
  appears first.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:10:\"parameters\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/JsonSchema\";s:11:\"description\";s:46:\"Details
  for a single parameter in this method.\";}s:11:\"description\";s:42:\"Details for
  all parameters in this method.\";s:4:\"type\";s:6:\"object\";}s:4:\"path\";O:8:\"stdClass\":2:{s:11:\"description\";s:108:\"The
  URI path of this REST method. Should be used in conjunction with the basePath property
  at the api-level.\";s:4:\"type\";s:6:\"string\";}s:7:\"request\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"The
  schema for the request.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"$ref\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Schema
  ID for the request schema.\";s:4:\"type\";s:6:\"string\";}s:13:\"parameterName\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"parameter
  name.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"response\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"The
  schema for the response.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"$ref\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Schema
  ID for the response schema.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"scopes\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"OAuth
  2.0 scopes applicable to this method.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:21:\"supportsMediaDownload\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Whether
  this method supports media downloads.\";s:4:\"type\";s:7:\"boolean\";}s:19:\"supportsMediaUpload\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Whether
  this method supports media uploads.\";s:4:\"type\";s:7:\"boolean\";}s:20:\"supportsSubscription\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Whether
  this method supports subscriptions.\";s:4:\"type\";s:7:\"boolean\";}s:23:\"useMediaDownloadService\";O:8:\"stdClass\":2:{s:11:\"description\";s:149:\"Indicates
  that downloads from this method should use the download service URL (i.e. \"/download\").
  Only applies if the method supports media download.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:12:\"RestResource\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"methods\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/RestMethod\";s:11:\"description\";s:45:\"Description
  for any methods on this resource.\";}s:11:\"description\";s:25:\"Methods on this
  resource.\";s:4:\"type\";s:6:\"object\";}s:9:\"resources\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/RestResource\";s:11:\"description\";s:51:\"Description
  for any sub-resources on this resource.\";}s:11:\"description\";s:31:\"Sub-resources
  on this resource.\";s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}}"
...
