---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Google\";s:3:\"url\";s:18:\"https://google.com\";}s:11:\"description\";s:51:\"Reads
  and publishes results from Firebase Test Lab.\";s:5:\"title\";s:18:\"Cloud Tool
  Results\";s:7:\"version\";s:7:\"v1beta3\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:37:\"https://console.developers.google.com\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:15:\"developer_tools\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:116:\"https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.6.2\";}s:6:\"format\";s:6:\"google\";s:3:\"url\";s:69:\"https://www.googleapis.com/discovery/v1/apis/toolresults/v1beta3/rest\";s:7:\"version\";s:2:\"v1\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"googleapis.com\";s:13:\"x-serviceName\";s:11:\"toolresults\";}"
host: www.googleapis.com
basePath: /toolresults/v1beta3/projects
paths:
  /{projectId}/histories:
    get:
      description: Lists Histories for a given Project.nnThe histories are sorted
        by modification time in descending order. The history_id key will be used
        to order the history with the same modification time.nnMay return any of the
        following canonical error codes:nn- PERMISSION_DENIED - if the user is not
        authorized to read project - INVALID_ARGUMENT - if the request is malformed
        - NOT_FOUND - if the History does not exist
      operationId: toolresults.projects.histories.list
      parameters:
      - description: If set, only return histories with the given name.nnOptional.
        in: query
        name: filterByName
        type: string
      - description: 'The maximum number of Histories to fetch.nnDefault value: 20.
          The server will use this default if the field is not set or has a value
          of 0. Any value greater than 100 will be treated as 100.nnOptional.'
        in: query
        name: pageSize
        type: integer
      - description: A continuation token to resume the query at the next item.nnOptional.
        in: query
        name: pageToken
        type: string
      - description: A Project id.nnRequired.
        in: path
        name: projectId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ListHistoriesResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Creates a History.nnThe returned History will have the id set.nnMay
        return any of the following canonical error codes:nn- PERMISSION_DENIED -
        if the user is not authorized to write to project - INVALID_ARGUMENT - if
        the request is malformed - NOT_FOUND - if the containing project does not
        exist
      operationId: toolresults.projects.histories.create
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/History'
      - description: A Project id.nnRequired.
        in: path
        name: projectId
        required: true
        type: string
      - description: A unique request ID for server to detect duplicated requests.
          For example, a UUID.nnOptional, but strongly recommended.
        in: query
        name: requestId
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/History'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
  /{projectId}/histories/{historyId}:
    get:
      description: Gets a History.nnMay return any of the following canonical error
        codes:nn- PERMISSION_DENIED - if the user is not authorized to read project
        - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the History
        does not exist
      operationId: toolresults.projects.histories.get
      parameters:
      - description: A History id.nnRequired.
        in: path
        name: historyId
        required: true
        type: string
      - description: A Project id.nnRequired.
        in: path
        name: projectId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/History'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
  /{projectId}/histories/{historyId}/executions:
    get:
      description: Lists Histories for a given Project.nnThe executions are sorted
        by creation_time in descending order. The execution_id key will be used to
        order the executions with the same creation_time.nnMay return any of the following
        canonical error codes:nn- PERMISSION_DENIED - if the user is not authorized
        to read project - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND
        - if the containing History does not exist
      operationId: toolresults.projects.histories.executions.list
      parameters:
      - description: A History id.nnRequired.
        in: path
        name: historyId
        required: true
        type: string
      - description: 'The maximum number of Executions to fetch.nnDefault value: 25.
          The server will use this default if the field is not set or has a value
          of 0.nnOptional.'
        in: query
        name: pageSize
        type: integer
      - description: A continuation token to resume the query at the next item.nnOptional.
        in: query
        name: pageToken
        type: string
      - description: A Project id.nnRequired.
        in: path
        name: projectId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ListExecutionsResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Creates an Execution.nnThe returned Execution will have the id
        set.nnMay return any of the following canonical error codes:nn- PERMISSION_DENIED
        - if the user is not authorized to write to project - INVALID_ARGUMENT - if
        the request is malformed - NOT_FOUND - if the containing History does not
        exist
      operationId: toolresults.projects.histories.executions.create
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/Execution'
      - description: A History id.nnRequired.
        in: path
        name: historyId
        required: true
        type: string
      - description: A Project id.nnRequired.
        in: path
        name: projectId
        required: true
        type: string
      - description: A unique request ID for server to detect duplicated requests.
          For example, a UUID.nnOptional, but strongly recommended.
        in: query
        name: requestId
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Execution'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
  /{projectId}/histories/{historyId}/executions/{executionId}:
    get:
      description: Gets an Execution.nnMay return any of the following canonical error
        codes:nn- PERMISSION_DENIED - if the user is not authorized to write to project
        - INVALID_ARGUMENT - if the request is malformed - NOT_FOUND - if the Execution
        does not exist
      operationId: toolresults.projects.histories.executions.get
      parameters:
      - description: An Execution id.nnRequired.
        in: path
        name: executionId
        required: true
        type: string
      - description: A History id.nnRequired.
        in: path
        name: historyId
        required: true
        type: string
      - description: A Project id.nnRequired.
        in: path
        name: projectId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Execution'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    patch:
      description: Updates an existing Execution with the supplied partial entity.nnMay
        return any of the following canonical error codes:nn- PERMISSION_DENIED -
        if the user is not authorized to write to project - INVALID_ARGUMENT - if
        the request is malformed - FAILED_PRECONDITION - if the requested state transition
        is illegal - NOT_FOUND - if the containing History does not exist
      operationId: toolresults.projects.histories.executions.patch
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/Execution'
      - description: Required.
        in: path
        name: executionId
        required: true
        type: string
      - description: Required.
        in: path
        name: historyId
        required: true
        type: string
      - description: A Project id. Required.
        in: path
        name: projectId
        required: true
        type: string
      - description: A unique request ID for server to detect duplicated requests.
          For example, a UUID.nnOptional, but strongly recommended.
        in: query
        name: requestId
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Execution'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
  /{projectId}/histories/{historyId}/executions/{executionId}/clusters:
    get:
      description: Lists Screenshot ClustersnnReturns the list of screenshot clusters
        corresponding to an execution. Screenshot clusters are created after the execution
        is finished. Clusters are created from a set of screenshots. Between any two
        screenshots, a matching score is calculated based off their metadata that
        determines how similar they are. Screenshots are placed in the cluster that
        has screens which have the highest matching scores.
      operationId: toolresults.projects.histories.executions.clusters.list
      parameters:
      - description: An Execution id.nnRequired.
        in: path
        name: executionId
        required: true
        type: string
      - description: A History id.nnRequired.
        in: path
        name: historyId
        required: true
        type: string
      - description: A Project id.nnRequired.
        in: path
        name: projectId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ListScreenshotClustersResponse'
      tags:
      - projects
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
  /{projectId}/histories/{historyId}/executions/{executionId}/clusters/{clusterId}:
    get:
      description: Retrieves a single screenshot cluster by its ID
      operationId: toolresults.projects.histories.executions.clusters.get
      parameters:
      - description: A Cluster idnnRequired.
        in: path
        name: clusterId
        required: true
        type: string
      - description: An Execution id.nnRequired.
        in: path
        name: executionId
        required: true
        type: string
      - description: A History id.nnRequired.
        in: path
        name: historyId
        required: true
        type: string
      - description: A Project id.nnRequired.
        in: path
        name: projectId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ScreenshotCluster'
      tags:
      - projects
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
  /{projectId}/histories/{historyId}/executions/{executionId}/steps:
    get:
      description: Lists Steps for a given Execution.nnThe steps are sorted by creation_time
        in descending order. The step_id key will be used to order the steps with
        the same creation_time.nnMay return any of the following canonical error codes:nn-
        PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT
        - if the request is malformed - FAILED_PRECONDITION - if an argument in the
        request happens to be invalid; e.g. if an attempt is made to list the children
        of a nonexistent Step - NOT_FOUND - if the containing Execution does not exist
      operationId: toolresults.projects.histories.executions.steps.list
      parameters:
      - description: A Execution id.nnRequired.
        in: path
        name: executionId
        required: true
        type: string
      - description: A History id.nnRequired.
        in: path
        name: historyId
        required: true
        type: string
      - description: 'The maximum number of Steps to fetch.nnDefault value: 25. The
          server will use this default if the field is not set or has a value of 0.nnOptional.'
        in: query
        name: pageSize
        type: integer
      - description: A continuation token to resume the query at the next item.nnOptional.
        in: query
        name: pageToken
        type: string
      - description: A Project id.nnRequired.
        in: path
        name: projectId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ListStepsResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Creates a Step.nnThe returned Step will have the id set.nnMay return
        any of the following canonical error codes:nn- PERMISSION_DENIED - if the
        user is not authorized to write to project - INVALID_ARGUMENT - if the request
        is malformed - FAILED_PRECONDITION - if the step is too large (more than 10Mib)
        - NOT_FOUND - if the containing Execution does not exist
      operationId: toolresults.projects.histories.executions.steps.create
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/Step'
      - description: A Execution id.nnRequired.
        in: path
        name: executionId
        required: true
        type: string
      - description: A History id.nnRequired.
        in: path
        name: historyId
        required: true
        type: string
      - description: A Project id.nnRequired.
        in: path
        name: projectId
        required: true
        type: string
      - description: A unique request ID for server to detect duplicated requests.
          For example, a UUID.nnOptional, but strongly recommended.
        in: query
        name: requestId
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Step'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
  /{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}:
    get:
      description: Gets a Step.nnMay return any of the following canonical error codes:nn-
        PERMISSION_DENIED - if the user is not authorized to read project - INVALID_ARGUMENT
        - if the request is malformed - NOT_FOUND - if the Step does not exist
      operationId: toolresults.projects.histories.executions.steps.get
      parameters:
      - description: A Execution id.nnRequired.
        in: path
        name: executionId
        required: true
        type: string
      - description: A History id.nnRequired.
        in: path
        name: historyId
        required: true
        type: string
      - description: A Project id.nnRequired.
        in: path
        name: projectId
        required: true
        type: string
      - description: A Step id.nnRequired.
        in: path
        name: stepId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Step'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    patch:
      description: Updates an existing Step with the supplied partial entity.nnMay
        return any of the following canonical error codes:nn- PERMISSION_DENIED -
        if the user is not authorized to write project - INVALID_ARGUMENT - if the
        request is malformed - FAILED_PRECONDITION - if the requested state transition
        is illegal (e.g try to upload a duplicate xml file), if the updated step is
        too large (more than 10Mib) - NOT_FOUND - if the containing Execution does
        not exist
      operationId: toolresults.projects.histories.executions.steps.patch
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/Step'
      - description: A Execution id.nnRequired.
        in: path
        name: executionId
        required: true
        type: string
      - description: A History id.nnRequired.
        in: path
        name: historyId
        required: true
        type: string
      - description: A Project id.nnRequired.
        in: path
        name: projectId
        required: true
        type: string
      - description: A unique request ID for server to detect duplicated requests.
          For example, a UUID.nnOptional, but strongly recommended.
        in: query
        name: requestId
        type: string
      - description: A Step id.nnRequired.
        in: path
        name: stepId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Step'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
  /{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfMetricsSummary:
    get:
      description: 'Retrieves a PerfMetricsSummary.nnMay return any of the following
        error code(s): - NOT_FOUND - The specified PerfMetricsSummary does not exist'
      operationId: toolresults.projects.histories.executions.steps.getPerfMetricsSummary
      parameters:
      - description: A tool results execution ID.
        in: path
        name: executionId
        required: true
        type: string
      - description: A tool results history ID.
        in: path
        name: historyId
        required: true
        type: string
      - description: The cloud project
        in: path
        name: projectId
        required: true
        type: string
      - description: A tool results step ID.
        in: path
        name: stepId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/PerfMetricsSummary'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: 'Creates a PerfMetricsSummary resource. Returns the existing one
        if it has already been created.nnMay return any of the following error code(s):
        - NOT_FOUND - The containing Step does not exist'
      operationId: toolresults.projects.histories.executions.steps.perfMetricsSummary.create
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/PerfMetricsSummary'
      - description: A tool results execution ID.
        in: path
        name: executionId
        required: true
        type: string
      - description: A tool results history ID.
        in: path
        name: historyId
        required: true
        type: string
      - description: The cloud project
        in: path
        name: projectId
        required: true
        type: string
      - description: A tool results step ID.
        in: path
        name: stepId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/PerfMetricsSummary'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
  /{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries:
    get:
      description: 'Lists PerfSampleSeries for a given Step.nnThe request provides
        an optional filter which specifies one or more PerfMetricsType to include
        in the result; if none returns all. The resulting PerfSampleSeries are sorted
        by ids.nnMay return any of the following canonical error codes: - NOT_FOUND
        - The containing Step does not exist'
      operationId: toolresults.projects.histories.executions.steps.perfSampleSeries.list
      parameters:
      - description: A tool results execution ID.
        in: path
        name: executionId
        required: true
        type: string
      - collectionFormat: multi
        description: Specify one or more PerfMetricType values such as CPU to filter
          the result
        in: query
        items:
          enum:
          - cpu
          - graphics
          - memory
          - network
          - perfMetricTypeUnspecified
          type: string
        name: filter
        type: array
      - description: A tool results history ID.
        in: path
        name: historyId
        required: true
        type: string
      - description: The cloud project
        in: path
        name: projectId
        required: true
        type: string
      - description: A tool results step ID.
        in: path
        name: stepId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ListPerfSampleSeriesResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: 'Creates a PerfSampleSeries.nnMay return any of the following error
        code(s): - ALREADY_EXISTS - PerfMetricSummary already exists for the given
        Step - NOT_FOUND - The containing Step does not exist'
      operationId: toolresults.projects.histories.executions.steps.perfSampleSeries.create
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/PerfSampleSeries'
      - description: A tool results execution ID.
        in: path
        name: executionId
        required: true
        type: string
      - description: A tool results history ID.
        in: path
        name: historyId
        required: true
        type: string
      - description: The cloud project
        in: path
        name: projectId
        required: true
        type: string
      - description: A tool results step ID.
        in: path
        name: stepId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/PerfSampleSeries'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
  /{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}:
    get:
      description: 'Gets a PerfSampleSeries.nnMay return any of the following error
        code(s): - NOT_FOUND - The specified PerfSampleSeries does not exist'
      operationId: toolresults.projects.histories.executions.steps.perfSampleSeries.get
      parameters:
      - description: A tool results execution ID.
        in: path
        name: executionId
        required: true
        type: string
      - description: A tool results history ID.
        in: path
        name: historyId
        required: true
        type: string
      - description: The cloud project
        in: path
        name: projectId
        required: true
        type: string
      - description: A sample series id
        in: path
        name: sampleSeriesId
        required: true
        type: string
      - description: A tool results step ID.
        in: path
        name: stepId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/PerfSampleSeries'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
  /{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}/samples:
    get:
      description: 'Lists the Performance Samples of a given Sample Series - The list
        results are sorted by timestamps ascending - The default page size is 500
        samples; and maximum size allowed 5000 - The response token indicates the
        last returned PerfSample timestamp - When the results size exceeds the page
        size, submit a subsequent request including the page token to return the rest
        of the samples up to the page limitnnMay return any of the following canonical
        error codes: - OUT_OF_RANGE - The specified request page_token is out of valid
        range - NOT_FOUND - The containing PerfSampleSeries does not exist'
      operationId: toolresults.projects.histories.executions.steps.perfSampleSeries.samples.list
      parameters:
      - description: A tool results execution ID.
        in: path
        name: executionId
        required: true
        type: string
      - description: A tool results history ID.
        in: path
        name: historyId
        required: true
        type: string
      - description: The default page size is 500 samples, and the maximum size is
          5000. If the page_size is greater than 5000, the effective page size will
          be 5000
        in: query
        name: pageSize
        type: integer
      - description: Optional, the next_page_token returned in the previous response
        in: query
        name: pageToken
        type: string
      - description: The cloud project
        in: path
        name: projectId
        required: true
        type: string
      - description: A sample series id
        in: path
        name: sampleSeriesId
        required: true
        type: string
      - description: A tool results step ID.
        in: path
        name: stepId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ListPerfSamplesResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
  /{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/perfSampleSeries/{sampleSeriesId}/samples:batchCreate:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: 'Creates a batch of PerfSamples - a client can submit multiple
        batches of Perf Samples through repeated calls to this method in order to
        split up a large request payload - duplicates and existing timestamp entries
        will be ignored. - the batch operation may partially succeed - the set of
        elements successfully inserted is returned in the response (omits items which
        already existed in the database).nnMay return any of the following canonical
        error codes: - NOT_FOUND - The containing PerfSampleSeries does not exist'
      operationId: toolresults.projects.histories.executions.steps.perfSampleSeries.samples.batchCreate
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/BatchCreatePerfSamplesRequest'
      - description: A tool results execution ID.
        in: path
        name: executionId
        required: true
        type: string
      - description: A tool results history ID.
        in: path
        name: historyId
        required: true
        type: string
      - description: The cloud project
        in: path
        name: projectId
        required: true
        type: string
      - description: A sample series id
        in: path
        name: sampleSeriesId
        required: true
        type: string
      - description: A tool results step ID.
        in: path
        name: stepId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/BatchCreatePerfSamplesResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
  /{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}/thumbnails:
    get:
      description: 'Lists thumbnails of images attached to a step.nnMay return any
        of the following canonical error codes: - PERMISSION_DENIED - if the user
        is not authorized to read from the project, or from any of the images - INVALID_ARGUMENT
        - if the request is malformed - NOT_FOUND - if the step does not exist, or
        if any of the images do not exist'
      operationId: toolresults.projects.histories.executions.steps.thumbnails.list
      parameters:
      - description: An Execution id.nnRequired.
        in: path
        name: executionId
        required: true
        type: string
      - description: A History id.nnRequired.
        in: path
        name: historyId
        required: true
        type: string
      - description: 'The maximum number of thumbnails to fetch.nnDefault value: 50.
          The server will use this default if the field is not set or has a value
          of 0.nnOptional.'
        in: query
        name: pageSize
        type: integer
      - description: A continuation token to resume the query at the next item.nnOptional.
        in: query
        name: pageToken
        type: string
      - description: A Project id.nnRequired.
        in: path
        name: projectId
        required: true
        type: string
      - description: A Step id.nnRequired.
        in: path
        name: stepId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ListStepThumbnailsResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
  /{projectId}/histories/{historyId}/executions/{executionId}/steps/{stepId}:publishXunitXmlFiles:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Publish xml files to an existing Step.nnMay return any of the following
        canonical error codes:nn- PERMISSION_DENIED - if the user is not authorized
        to write project - INVALID_ARGUMENT - if the request is malformed - FAILED_PRECONDITION
        - if the requested state transition is illegal, e.g try to upload a duplicate
        xml file or a file too large. - NOT_FOUND - if the containing Execution does
        not exist
      operationId: toolresults.projects.histories.executions.steps.publishXunitXmlFiles
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/PublishXunitXmlFilesRequest'
      - description: A Execution id.nnRequired.
        in: path
        name: executionId
        required: true
        type: string
      - description: A History id.nnRequired.
        in: path
        name: historyId
        required: true
        type: string
      - description: A Project id.nnRequired.
        in: path
        name: projectId
        required: true
        type: string
      - description: 'A Step id. Note: This step must include a TestExecutionStep.nnRequired.'
        in: path
        name: stepId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Step'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
  /{projectId}/settings:
    get:
      description: Gets the Tool Results settings for a project.nnMay return any of
        the following canonical error codes:nn- PERMISSION_DENIED - if the user is
        not authorized to read from project
      operationId: toolresults.projects.getSettings
      parameters:
      - description: A Project id.nnRequired.
        in: path
        name: projectId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ProjectSettings'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
  /{projectId}:initializeSettings:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: 'Creates resources for settings which have not yet been set.nnCurrently,
        this creates a single resource: a Google Cloud Storage bucket, to be used
        as the default bucket for this project. The bucket is created in an FTL-own
        storage project. Except for in rare cases, calling this method in parallel
        from multiple clients will only create a single bucket. In order to avoid
        unnecessary storage charges, the bucket is configured to automatically delete
        objects older than 90 days.nnThe bucket is created with the following permissions:
        - Owner access for owners of central storage project (FTL-owned) - Writer
        access for owners/editors of customer project - Reader access for viewers
        of customer project The default ACL on objects created in the bucket is: -
        Owner access for owners of central storage project - Reader access for owners/editors/viewers
        of customer project See Google Cloud Storage documentation for more details.nnIf
        there is already a default bucket set and the project can access the bucket,
        this call does nothing. However, if the project doesn''t have the permission
        to access the bucket or the bucket is deleted, a new bucket will be created.nnMay
        return any canonical error codes, including the following:nn- PERMISSION_DENIED
        - if the user is not authorized to write to project - Any error code raised
        by Google Cloud Storage'
      operationId: toolresults.projects.initializeSettings
      parameters:
      - description: A Project id.nnRequired.
        in: path
        name: projectId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ProjectSettings'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - projects
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":55:{s:14:\"AndroidAppInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Android
  app information.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  name of the app. Optional\";s:4:\"type\";s:6:\"string\";}s:11:\"packageName\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  package name of the app. Required.\";s:4:\"type\";s:6:\"string\";}s:11:\"versionCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"The
  internal version code of the app. Optional.\";s:4:\"type\";s:6:\"string\";}s:11:\"versionName\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  version name of the app. Optional.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:26:\"AndroidInstrumentationTest\";O:8:\"stdClass\":3:{s:11:\"description\";s:163:\"A
  test of an Android application that can control an Android component independently
  of its normal lifecycle.\n\nSee  for more information on types of Android tests.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"testPackageId\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"The
  java package for the test to be executed. Required\";s:4:\"type\";s:6:\"string\";}s:15:\"testRunnerClass\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"The
  InstrumentationTestRunner class. Required\";s:4:\"type\";s:6:\"string\";}s:11:\"testTargets\";O:8:\"stdClass\":3:{s:11:\"description\";s:252:\"Each
  target must be fully qualified with the package name or class name, in one of these
  formats: - \"package package_name\" - \"class package_name.class_name\" - \"class
  package_name.class_name#method_name\"\n\nIf empty, all targets in the module will
  be run.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:15:\"useOrchestrator\";O:8:\"stdClass\":2:{s:11:\"description\";s:85:\"The
  flag indicates whether Android Test Orchestrator will be used to run test or not.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:15:\"AndroidRoboTest\";O:8:\"stdClass\":3:{s:11:\"description\";s:144:\"A
  test of an android application that explores the application on a virtual or physical
  Android device, finding culprits and crashes as it goes.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:18:\"appInitialActivity\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"The
  initial activity that should be used to start the app. Optional\";s:4:\"type\";s:6:\"string\";}s:18:\"bootstrapPackageId\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"The
  java package for the bootstrap. Optional\";s:4:\"type\";s:6:\"string\";}s:20:\"bootstrapRunnerClass\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"The
  runner class for the bootstrap. Optional\";s:4:\"type\";s:6:\"string\";}s:8:\"maxDepth\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"The
  max depth of the traversal stack Robo can explore. Optional\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"maxSteps\";O:8:\"stdClass\":3:{s:11:\"description\";s:83:\"The
  max number of steps/actions Robo can execute. Default is no limit (0). Optional\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:11:\"AndroidTest\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"An
  Android mobile test specification.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:14:\"androidAppInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/AndroidAppInfo\";s:11:\"description\";s:45:\"Information
  about the application under test.\";}s:26:\"androidInstrumentationTest\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/AndroidInstrumentationTest\";s:11:\"description\";s:32:\"An
  Android instrumentation test.\";}s:15:\"androidRoboTest\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/AndroidRoboTest\";s:11:\"description\";s:21:\"An
  Android robo test.\";}s:11:\"testTimeout\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Duration\";s:11:\"description\";s:71:\"Max
  time a test is allowed to run before it is automatically cancelled.\";}}s:4:\"type\";s:6:\"object\";}s:3:\"Any\";O:8:\"stdClass\":3:{s:11:\"description\";s:1857:\"`Any`
  contains an arbitrary serialized protocol buffer message along with a URL that describes
  the type of the serialized message.\n\nProtobuf library provides support to pack/unpack
  Any values in the form of utility functions or additional generated methods of the
  Any type.\n\nExample 1: Pack and unpack a message in C++.\n\nFoo foo = ...; Any
  any; any.PackFrom(foo); ... if (any.UnpackTo(&foo)) { ... }\n\nExample 2: Pack and
  unpack a message in Java.\n\nFoo foo = ...; Any any = Any.pack(foo); ... if (any.is(Foo.class))
  { foo = any.unpack(Foo.class); }\n\nExample 3: Pack and unpack a message in Python.\n\nfoo
  = Foo(...) any = Any() any.Pack(foo) ... if any.Is(Foo.DESCRIPTOR): any.Unpack(foo)
  ...\n\nExample 4: Pack and unpack a message in Go\n\nfoo := &pb.Foo{...} any, err
  := ptypes.MarshalAny(foo) ... foo := &pb.Foo{} if err := ptypes.UnmarshalAny(any,
  foo); err != nil { ... }\n\nThe pack methods provided by protobuf library will by
  default use 'type.googleapis.com/full.type.name' as the type URL and the unpack
  methods only use the fully qualified type name after the last '/' in the type URL,
  for example \"foo.bar.com/x/y.z\" will yield type name \"y.z\".\n\n\n\nJSON ====
  The JSON representation of an `Any` value uses the regular representation of the
  deserialized, embedded message, with an additional field `@type` which contains
  the type URL. Example:\n\npackage google.profile; message Person { string first_name
  = 1; string last_name = 2; }\n\n{ \"@type\": \"type.googleapis.com/google.profile.Person\",
  \"firstName\": , \"lastName\":  }\n\nIf the embedded message type is well-known
  and has a custom JSON representation, that representation will be embedded adding
  a field `value` which holds the custom JSON in addition to the `@type` field. Example
  (for message [google.protobuf.Duration][]):\n\n{ \"@type\": \"type.googleapis.com/google.protobuf.Duration\",
  \"value\": \"1.212s\" }\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"typeUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:1264:\"A
  URL/resource name that uniquely identifies the type of the serialized protocol buffer
  message. The last segment of the URL's path must represent the fully qualified name
  of the type (as in `path/google.protobuf.Duration`). The name should be in a canonical
  form (e.g., leading \".\" is not accepted).\n\nIn practice, teams usually precompile
  into the binary all types that they expect it to use in the context of Any. However,
  for URLs which use the scheme `http`, `https`, or no scheme, one can optionally
  set up a type server that maps type URLs to message definitions as follows:\n\n*
  If no scheme is provided, `https` is assumed. * An HTTP GET on the URL must yield
  a [google.protobuf.Type][] value in binary format, or produce an error. * Applications
  are allowed to cache lookup results based on the URL, or have them precompiled into
  a binary to avoid any lookup. Therefore, binary compatibility needs to be preserved
  on changes to types. (Use versioned type names to manage breaking changes.)\n\nNote:
  this functionality is not currently available in the official protobuf release,
  and it is not used for type URLs beginning with type.googleapis.com.\n\nSchemes
  other than `http`, `https` (or the empty scheme) might be used with implementation
  specific semantics.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"Must
  be a valid serialized protocol buffer of the above specified type.\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"AppStartTime\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"fullyDrawnTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Duration\";s:11:\"description\";s:246:\"Optional.
  The time from app start to reaching the developer-reported \"fully drawn\" time.
  This is only stored if the app includes a call to Activity.reportFullyDrawn(). See
  https://developer.android.com/topic/performance/launch-time.html#time-full\";}s:18:\"initialDisplayTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Duration\";s:11:\"description\";s:173:\"The
  time from app start to the first displayed activity being drawn, as reported in
  Logcat. See https://developer.android.com/topic/performance/launch-time.html#time-initial\";}}s:4:\"type\";s:6:\"object\";}s:21:\"BasicPerfSampleSeries\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"Encapsulates
  the metadata for basic sample series represented by a line chart\";s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"perfMetricType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:5:{i:0;s:3:\"cpu\";i:1;s:8:\"graphics\";i:2;s:6:\"memory\";i:3;s:7:\"network\";i:4;s:25:\"perfMetricTypeUnspecified\";}s:4:\"type\";s:6:\"string\";}s:8:\"perfUnit\";O:8:\"stdClass\":2:{s:4:\"enum\";a:6:{i:0;s:4:\"byte\";i:1;s:14:\"bytesPerSecond\";i:2;s:15:\"framesPerSecond\";i:3;s:8:\"kibibyte\";i:4;s:7:\"percent\";i:5;s:19:\"perfUnitUnspecified\";}s:4:\"type\";s:6:\"string\";}s:17:\"sampleSeriesLabel\";O:8:\"stdClass\":2:{s:4:\"enum\";a:13:{i:0;s:9:\"cpuKernel\";i:1;s:8:\"cpuTotal\";i:2;s:7:\"cpuUser\";i:3;s:17:\"graphicsFrameRate\";i:4;s:16:\"memoryRssPrivate\";i:5;s:15:\"memoryRssShared\";i:6;s:14:\"memoryRssTotal\";i:7;s:11:\"memoryTotal\";i:8;s:15:\"networkReceived\";i:9;s:11:\"networkSent\";i:10;s:15:\"ntBytesReceived\";i:11;s:18:\"ntBytesTransferred\";i:12;s:27:\"sampleSeriesTypeUnspecified\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:29:\"BatchCreatePerfSamplesRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:129:\"The
  request must provide up to a maximum of 5000 samples to be created; a larger sample
  size will cause an INVALID_ARGUMENT error\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"perfSamples\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"The
  set of PerfSamples to create should not include existing timestamps\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/PerfSample\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:30:\"BatchCreatePerfSamplesResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"perfSamples\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/PerfSample\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:7:\"CPUInfo\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"cpuProcessor\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"description
  of the device processor ie '1.8 GHz hexa core 64-bit ARMv8-A'\";s:4:\"type\";s:6:\"string\";}s:13:\"cpuSpeedInGhz\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"the
  CPU clock speed in GHz\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:13:\"numberOfCores\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"the
  number of CPU cores\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Duration\";O:8:\"stdClass\":3:{s:11:\"description\";s:1799:\"A
  Duration represents a signed, fixed-length span of time represented as a count of
  seconds and fractions of seconds at nanosecond resolution. It is independent of
  any calendar and concepts like \"day\" or \"month\". It is related to Timestamp
  in that the difference between two Timestamp values is a Duration and it can be
  added or subtracted from a Timestamp. Range is approximately +-10,000 years.\n\n#
  Examples\n\nExample 1: Compute Duration from two Timestamps in pseudo code.\n\nTimestamp
  start = ...; Timestamp end = ...; Duration duration = ...;\n\nduration.seconds =
  end.seconds - start.seconds; duration.nanos = end.nanos - start.nanos;\n\nif (duration.seconds
  \ 0) { duration.seconds += 1; duration.nanos -= 1000000000; } else if (durations.seconds
  > 0 && duration.nanos < 0) { duration.seconds -= 1; duration.nanos += 1000000000;
  }\n\nExample 2: Compute Timestamp from Timestamp + Duration in pseudo code.\n\nTimestamp
  start = ...; Duration duration = ...; Timestamp end = ...;\n\nend.seconds = start.seconds
  + duration.seconds; end.nanos = start.nanos + duration.nanos;\n\nif (end.nanos =
  1000000000) { end.seconds += 1; end.nanos -= 1000000000; }\n\nExample 3: Compute
  Duration from datetime.timedelta in Python.\n\ntd = datetime.timedelta(days=3, minutes=10)
  duration = Duration() duration.FromTimedelta(td)\n\n# JSON Mapping\n\nIn JSON format,
  the Duration type is encoded as a string rather than an object, where the string
  ends in the suffix \"s\" (indicating seconds) and is preceded by the number of seconds,
  with nanoseconds expressed as fractional seconds. For example, 3 seconds with 0
  nanoseconds should be encoded in JSON format as \"3s\", while 3 seconds and 1 nanosecond
  should be expressed in JSON format as \"3.000000001s\", and 3 seconds and 1 microsecond
  should be expressed in JSON format as \"3.000001s\".\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"nanos\";O:8:\"stdClass\":3:{s:11:\"description\";s:366:\"Signed
  fractions of a second at nanosecond resolution of the span of time. Durations less
  than one second are represented with a 0 `seconds` field and a positive or negative
  `nanos` field. For durations of one second or more, a non-zero value for the `nanos`
  field must be of the same sign as the `seconds` field. Must be from -999,999,999
  to +999,999,999 inclusive.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"seconds\";O:8:\"stdClass\":3:{s:11:\"description\";s:202:\"Signed
  seconds of the span of time. Must be from -315,576,000,000 to +315,576,000,000 inclusive.
  Note: these bounds are computed from: 60 sec/min * 60 min/hr * 24 hr/day * 365.25
  days/year * 10000 years\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"Execution\";O:8:\"stdClass\":3:{s:11:\"description\";s:356:\"An
  Execution represents a collection of Steps. For instance, it could represent: -
  a mobile test executed across a range of device configurations - a jenkins job with
  a build step followed by a test step\n\nThe maximum size of an execution message
  is 1 MiB.\n\nAn Execution can be updated until its state is set to COMPLETE at which
  point it becomes immutable.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:14:\"completionTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:228:\"The
  time when the Execution status transitioned to COMPLETE.\n\nThis value will be set
  automatically when state transitions to COMPLETE.\n\n- In response: set if the execution
  state is COMPLETE. - In create/update request: never set\";}s:12:\"creationTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:175:\"The
  time when the Execution was created.\n\nThis value will be set automatically when
  CreateExecution is called.\n\n- In response: always set - In create/update request:
  never set\";}s:11:\"executionId\";O:8:\"stdClass\":2:{s:11:\"description\";s:197:\"A
  unique identifier within a History for this Execution.\n\nReturns INVALID_ARGUMENT
  if this field is set or overwritten by the caller.\n\n- In response always set -
  In create/update request: never set\";s:4:\"type\";s:6:\"string\";}s:7:\"outcome\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Outcome\";s:11:\"description\";s:149:\"Classify
  the result, for example into SUCCESS or FAILURE\n\n- In response: present if set
  by create/update request - In create/update request: optional\";}s:13:\"specification\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/Specification\";s:11:\"description\";s:133:\"Lightweight
  information about execution request.\n\n- In response: present if set by create
  - In create: optional - In update: optional\";}s:5:\"state\";O:8:\"stdClass\":3:{s:11:\"description\";s:560:\"The
  initial state is IN_PROGRESS.\n\nThe only legal state transitions is from IN_PROGRESS
  to COMPLETE.\n\nA PRECONDITION_FAILED will be returned if an invalid transition
  is requested.\n\nThe state can only be set to COMPLETE once. A FAILED_PRECONDITION
  will be returned if the state is set to COMPLETE multiple times.\n\nIf the state
  is set to COMPLETE, all the in-progress steps within the execution will be set as
  COMPLETE. If the outcome of the step is not set, the outcome will be set to INCONCLUSIVE.\n\n-
  In response always set - In create/update request: optional\";s:4:\"enum\";a:4:{i:0;s:8:\"complete\";i:1;s:10:\"inProgress\";i:2;s:7:\"pending\";i:3;s:12:\"unknownState\";}s:4:\"type\";s:6:\"string\";}s:21:\"testExecutionMatrixId\";O:8:\"stdClass\":2:{s:11:\"description\";s:145:\"TestExecution
  Matrix ID that the TestExecutionService uses.\n\n- In response: present if set by
  create - In create: optional - In update: never set\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"FailureDetail\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"crashed\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"If
  the failure was severe because the system (app) under test crashed.\";s:4:\"type\";s:7:\"boolean\";}s:12:\"notInstalled\";O:8:\"stdClass\":2:{s:11:\"description\";s:141:\"If
  an app is not installed and thus no test can be run with the app. This might be
  caused by trying to run a test on an unsupported platform.\";s:4:\"type\";s:7:\"boolean\";}s:16:\"otherNativeCrash\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"If
  a native process (including any other than the app) crashed.\";s:4:\"type\";s:7:\"boolean\";}s:8:\"timedOut\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"If
  the test overran some time limit, and that is why it failed.\";s:4:\"type\";s:7:\"boolean\";}s:13:\"unableToCrawl\";O:8:\"stdClass\":2:{s:11:\"description\";s:79:\"If
  the robo was unable to crawl the app; perhaps because the app did not start.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:13:\"FileReference\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"A
  reference to a file.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"fileUri\";O:8:\"stdClass\":2:{s:11:\"description\";s:393:\"The
  URI of a file stored in Google Cloud Storage.\n\nFor example: http://storage.googleapis.com/mybucket/path/to/test.xml
  or in gsutil format: gs://mybucket/path/to/test.xml with version-specific info,
  gs://mybucket/path/to/test.xml#1360383693690000\n\nAn INVALID_ARGUMENT error will
  be returned if the URI format is not supported.\n\n- In response: always set - In
  create/update request: always set\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"GraphicsStats\";O:8:\"stdClass\":3:{s:11:\"description\";s:229:\"Graphics
  statistics for the App. The information is collected from 'adb shell dumpsys graphicsstats'.
  For more info see: https://developer.android.com/training/testing/performance.html
  Statistics will only be present for API 23+.\";s:10:\"properties\";O:8:\"stdClass\":12:{s:7:\"buckets\";O:8:\"stdClass\":3:{s:11:\"description\";s:106:\"Histogram
  of frame render times. There should be 154 buckets ranging from [5ms, 6ms) to [4950ms,
  infinity)\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/GraphicsStatsBucket\";}s:4:\"type\";s:5:\"array\";}s:21:\"highInputLatencyCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Total
  \"high input latency\" events.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:11:\"jankyFrames\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"Total
  frames with slow render time. Should be <= total_frames.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:16:\"missedVsyncCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Total
  \"missed vsync\" events.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:9:\"p50Millis\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"50th
  percentile frame render time in milliseconds.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:9:\"p90Millis\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"90th
  percentile frame render time in milliseconds.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:9:\"p95Millis\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"95th
  percentile frame render time in milliseconds.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:9:\"p99Millis\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"99th
  percentile frame render time in milliseconds.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:21:\"slowBitmapUploadCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Total
  \"slow bitmap upload\" events.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:13:\"slowDrawCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Total
  \"slow draw\" events.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:17:\"slowUiThreadCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Total
  \"slow UI thread\" events.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:11:\"totalFrames\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Total
  frames rendered by package.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"GraphicsStatsBucket\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"frameCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Number
  of frames in the bucket.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:12:\"renderMillis\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Lower
  bound of render time in milliseconds.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"History\";O:8:\"stdClass\":3:{s:11:\"description\";s:362:\"A
  History represents a sorted list of Executions ordered by the start_timestamp_millis
  field (descending). It can be used to group all the Executions of a continuous build.\n\nNote
  that the ordering only operates on one-dimension. If a repository has multiple branches,
  it means that multiple histories will need to be used in order to order Executions
  per branch.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:165:\"A
  short human-readable (plain text) name to display in the UI. Maximum of 100 characters.\n\n-
  In response: present if set during create. - In create request: optional\";s:4:\"type\";s:6:\"string\";}s:9:\"historyId\";O:8:\"stdClass\":2:{s:11:\"description\";s:188:\"A
  unique identifier within a project for this History.\n\nReturns INVALID_ARGUMENT
  if this field is set or overwritten by the caller.\n\n- In response always set -
  In create request: never set\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:140:\"A
  name to uniquely identify a history within a project. Maximum of 200 characters.\n\n-
  In response always set - In create request: always set\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Image\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"An
  image, with a link to the main image and a thumbnail.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Status\";s:11:\"description\";s:60:\"An
  error explaining why the thumbnail could not be rendered.\";}s:11:\"sourceImage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/ToolOutputReference\";s:11:\"description\";s:132:\"A
  reference to the full-size, original image.\n\nThis is the same as the tool_outputs
  entry for the image under its Step.\n\nAlways set.\";}s:6:\"stepId\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"The
  step to which the image is attached.\n\nAlways set.\";s:4:\"type\";s:6:\"string\";}s:9:\"thumbnail\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Thumbnail\";s:11:\"description\";s:14:\"The
  thumbnail.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"InconclusiveDetail\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"abortedByUser\";O:8:\"stdClass\":2:{s:11:\"description\";s:194:\"If
  the end user aborted the test execution before a pass or fail could be determined.
  For example, the user pressed ctrl-c which sent a kill signal to the test runner
  while the test was running.\";s:4:\"type\";s:7:\"boolean\";}s:21:\"infrastructureFailure\";O:8:\"stdClass\":2:{s:11:\"description\";s:260:\"If
  the test runner could not determine success or failure because the test depends
  on a component other than the system under test which failed.\n\nFor example, a
  mobile test requires provisioning a device where the test executes, and that provisioning
  can fail.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:22:\"ListExecutionsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"executions\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Executions.\n\nAlways
  set.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Execution\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:115:\"A
  continuation token to resume the query at the next item.\n\nWill only be set if
  there are more Executions to fetch.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"ListHistoriesResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Response
  message for HistoryService.List\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"histories\";O:8:\"stdClass\":3:{s:11:\"description\";s:10:\"Histories.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/History\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:371:\"A
  continuation token to resume the query at the next item.\n\nWill only be set if
  there are more histories to fetch.\n\nTokens are valid for up to one hour from the
  time of the first list request. For instance, if you make a list request at 1PM
  and use the token from this first request 10 minutes later, the token from this
  second response will only be valid for 50 minutes.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:28:\"ListPerfSampleSeriesResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"perfSampleSeries\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  resulting PerfSampleSeries sorted by id\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/PerfSampleSeries\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:23:\"ListPerfSamplesResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:215:\"Optional,
  returned if result size exceeds the page size specified in the request (or the default
  page size, 500, if unspecified). It indicates the last sample timestamp to be used
  as page_token in subsequent request\";s:4:\"type\";s:6:\"string\";}s:11:\"perfSamples\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/PerfSample\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:30:\"ListScreenshotClustersResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"clusters\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"The
  set of clusters associated with an execution Always set\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ScreenshotCluster\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:26:\"ListStepThumbnailsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"A
  response containing the thumbnails in a step.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:180:\"A
  continuation token to resume the query at the next item.\n\nIf set, indicates that
  there are more thumbnails to read, by calling list again with this value in the
  page_token field.\";s:4:\"type\";s:6:\"string\";}s:10:\"thumbnails\";O:8:\"stdClass\":3:{s:11:\"description\";s:437:\"A
  list of image data.\n\nImages are returned in a deterministic order; they are ordered
  by these factors, in order of importance: * First, by their associated test case.
  Images without a test case are considered greater than images with one. * Second,
  by their creation time. Images without a creation time are greater than images with
  one. * Third, by the order in which they were added to the step (by calls to CreateStep
  or UpdateStep).\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Image\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:17:\"ListStepsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Response
  message for StepService.List.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:175:\"A
  continuation token to resume the query at the next item.\n\nIf set, indicates that
  there are more steps to read, by calling list again with this value in the page_token
  field.\";s:4:\"type\";s:6:\"string\";}s:5:\"steps\";O:8:\"stdClass\":3:{s:11:\"description\";s:6:\"Steps.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Step\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:10:\"MemoryInfo\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"memoryCapInKibibyte\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"Maximum
  memory that can be allocated to the process in KiB\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:21:\"memoryTotalInKibibyte\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Total
  memory available on the device in KiB\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Outcome\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"Interprets
  a result so that humans and machines can act on it.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:13:\"failureDetail\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/FailureDetail\";s:11:\"description\";s:130:\"More
  information about a FAILURE outcome.\n\nReturns INVALID_ARGUMENT if this field is
  set but the summary is not FAILURE.\n\nOptional\";}s:18:\"inconclusiveDetail\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/InconclusiveDetail\";s:11:\"description\";s:141:\"More
  information about an INCONCLUSIVE outcome.\n\nReturns INVALID_ARGUMENT if this field
  is set but the summary is not INCONCLUSIVE.\n\nOptional\";}s:13:\"skippedDetail\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/SkippedDetail\";s:11:\"description\";s:130:\"More
  information about a SKIPPED outcome.\n\nReturns INVALID_ARGUMENT if this field is
  set but the summary is not SKIPPED.\n\nOptional\";}s:13:\"successDetail\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/SuccessDetail\";s:11:\"description\";s:130:\"More
  information about a SUCCESS outcome.\n\nReturns INVALID_ARGUMENT if this field is
  set but the summary is not SUCCESS.\n\nOptional\";}s:7:\"summary\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  simplest way to interpret a result.\n\nRequired\";s:4:\"enum\";a:5:{i:0;s:7:\"failure\";i:1;s:12:\"inconclusive\";i:2;s:7:\"skipped\";i:3;s:7:\"success\";i:4;s:5:\"unset\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"PerfEnvironment\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Encapsulates
  performance environment info\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"cpuInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/CPUInfo\";s:11:\"description\";s:28:\"CPU
  related environment info\";}s:10:\"memoryInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MemoryInfo\";s:11:\"description\";s:31:\"Memory
  related environment info\";}}s:4:\"type\";s:6:\"object\";}s:18:\"PerfMetricsSummary\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"A
  summary of perf metrics collected and performance environment info\";s:10:\"properties\";O:8:\"stdClass\":8:{s:12:\"appStartTime\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/AppStartTime\";}s:11:\"executionId\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"A
  tool results execution ID.\";s:4:\"type\";s:6:\"string\";}s:13:\"graphicsStats\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/GraphicsStats\";s:11:\"description\";s:125:\"Graphics
  statistics for the entire run. Statistics are reset at the beginning of the run
  and collected at the end of the run.\";}s:9:\"historyId\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"A
  tool results history ID.\";s:4:\"type\";s:6:\"string\";}s:15:\"perfEnvironment\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PerfEnvironment\";s:11:\"description\";s:73:\"Describes
  the environment in which the performance metrics were collected\";}s:11:\"perfMetrics\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Set
  of resource collected\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"enum\";a:5:{i:0;s:3:\"cpu\";i:1;s:8:\"graphics\";i:2;s:6:\"memory\";i:3;s:7:\"network\";i:4;s:25:\"perfMetricTypeUnspecified\";}s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:9:\"projectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"The
  cloud project\";s:4:\"type\";s:6:\"string\";}s:6:\"stepId\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"A
  tool results step ID.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"PerfSample\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"Resource
  representing a single performance measure or data point\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"sampleTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:23:\"Timestamp
  of collection\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Value
  observed\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:16:\"PerfSampleSeries\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"Resource
  representing a collection of performance samples (or data points)\";s:10:\"properties\";O:8:\"stdClass\":6:{s:21:\"basicPerfSampleSeries\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/BasicPerfSampleSeries\";s:11:\"description\";s:40:\"Basic
  series represented by a line chart\";}s:11:\"executionId\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"A
  tool results execution ID.\";s:4:\"type\";s:6:\"string\";}s:9:\"historyId\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"A
  tool results history ID.\";s:4:\"type\";s:6:\"string\";}s:9:\"projectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"The
  cloud project\";s:4:\"type\";s:6:\"string\";}s:14:\"sampleSeriesId\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"A
  sample series id\";s:4:\"type\";s:6:\"string\";}s:6:\"stepId\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"A
  tool results step ID.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"ProjectSettings\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Per-project
  settings for the Tool Results service.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"defaultBucket\";O:8:\"stdClass\":2:{s:11:\"description\";s:152:\"The
  name of the Google Cloud Storage bucket to which results are written.\n\nBy default,
  this is unset.\n\nIn update request: optional In response: optional\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:141:\"The
  name of the project's settings.\n\nAlways of the form: projects/{project-id}/settings\n\nIn
  update request: never set In response: always set\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:27:\"PublishXunitXmlFilesRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Request
  message for StepService.PublishXunitXmlFiles.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"xunitXmlFiles\";O:8:\"stdClass\":3:{s:11:\"description\";s:118:\"URI
  of the Xunit XML files to publish.\n\nThe maximum size of the file this reference
  is pointing to is 50MB.\n\nRequired.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/FileReference\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Screen\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"fileReference\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"File
  reference of the png file. Required.\";s:4:\"type\";s:6:\"string\";}s:6:\"locale\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"Locale
  of the device that the screenshot was taken on. Required.\";s:4:\"type\";s:6:\"string\";}s:5:\"model\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"Model
  of the device that the screenshot was taken on. Required.\";s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"OS
  version of the device that the screenshot was taken on. Required.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"ScreenshotCluster\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"activity\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"A
  string that describes the activity of every screen in the cluster.\";s:4:\"type\";s:6:\"string\";}s:9:\"clusterId\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"A
  unique identifier for the cluster.\";s:4:\"type\";s:6:\"string\";}s:9:\"keyScreen\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Screen\";s:11:\"description\";s:274:\"A
  singular screen that represents the cluster as a whole. This screen will act as
  the \"cover\" of the entire cluster. When users look at the clusters, only the key
  screen from each cluster will be shown. Which screen is the key screen is determined
  by the ClusteringAlgorithm\";}s:7:\"screens\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Full
  list of screens.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Screen\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:13:\"SkippedDetail\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:22:\"incompatibleAppVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"If
  the App doesn't support the specific API level.\";s:4:\"type\";s:7:\"boolean\";}s:24:\"incompatibleArchitecture\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"If
  the App doesn't run on the specific architecture, for example, x86.\";s:4:\"type\";s:7:\"boolean\";}s:18:\"incompatibleDevice\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"If
  the requested OS version doesn't run on the specific device model.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:13:\"Specification\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  details about how to run the execution.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"androidTest\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/AndroidTest\";s:11:\"description\";s:47:\"An
  Android mobile test execution specification.\";}}s:4:\"type\";s:6:\"object\";}s:10:\"StackTrace\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"A
  stacktrace.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"clusterId\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Exception
  cluster ID\";s:4:\"type\";s:6:\"string\";}s:9:\"exception\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  stack trace message.\n\nRequired\";s:4:\"type\";s:6:\"string\";}s:8:\"reportId\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Exception
  report ID\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Status\";O:8:\"stdClass\":3:{s:11:\"description\";s:2408:\"The
  `Status` type defines a logical error model that is suitable for different programming
  environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc).
  The error model is designed to be:\n\n- Simple to use and understand for most users
  - Flexible enough to meet unexpected needs\n\n# Overview\n\nThe `Status` message
  contains three pieces of data: error code, error message, and error details. The
  error code should be an enum value of [google.rpc.Code][], but it may accept additional
  error codes if needed. The error message should be a developer-facing English message
  that helps developers *understand* and *resolve* the error. If a localized user-facing
  error message is needed, put the localized message in the error details or localize
  it in the client. The optional error details may contain arbitrary information about
  the error. There is a predefined set of error detail types in the package `google.rpc`
  that can be used for common error conditions.\n\n# Language mapping\n\nThe `Status`
  message is the logical representation of the error model, but it is not necessarily
  the actual wire format. When the `Status` message is exposed in different client
  libraries and different wire protocols, it can be mapped differently. For example,
  it will likely be mapped to some exceptions in Java, but more likely mapped to some
  error codes in C.\n\n# Other uses\n\nThe error model and the `Status` message can
  be used in a variety of environments, either with or without APIs, to provide a
  consistent developer experience across different environments.\n\nExample uses of
  this error model include:\n\n- Partial errors. If a service needs to return partial
  errors to the client, it may embed the `Status` in the normal response to indicate
  the partial errors.\n\n- Workflow errors. A typical workflow has multiple steps.
  Each step may have a `Status` message for error reporting.\n\n- Batch operations.
  If a client uses batch request and batch response, the `Status` message should be
  used directly inside batch response, one for each error sub-response.\n\n- Asynchronous
  operations. If an API call embeds asynchronous operation results in its response,
  the status of those operations should be represented directly using the `Status`
  message.\n\n- Logging. If some API errors are stored in logs, the message `Status`
  could be used directly after any stripping needed for security/privacy reasons.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"The
  status code, which should be an enum value of [google.rpc.Code][].\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"details\";O:8:\"stdClass\":3:{s:11:\"description\";s:104:\"A
  list of messages that carry the error details. There is a common set of message
  types for APIs to use.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Any\";}s:4:\"type\";s:5:\"array\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:192:\"A
  developer-facing error message, which should be in English. Any user-facing error
  message should be localized and sent in the [google.rpc.Status.details][] field,
  or localized by the client.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Step\";O:8:\"stdClass\":3:{s:11:\"description\";s:881:\"A
  Step represents a single operation performed as part of Execution. A step can be
  used to represent the execution of a tool ( for example a test runner execution
  or an execution of a compiler).\n\nSteps can overlap (for instance two steps might
  have the same start time if some operations are done in parallel).\n\nHere is an
  example, let's consider that we have a continuous build is executing a test runner
  for each iteration. The workflow would look like: - user creates a Execution with
  id 1 - user creates an TestExecutionStep with id 100 for Execution 1 - user update
  TestExecutionStep with id 100 to add a raw xml log + the service parses the xml
  logs and returns a TestExecutionStep with updated TestResult(s). - user update the
  status of TestExecutionStep with id 100 to COMPLETE\n\nA Step can be updated until
  its state is set to COMPLETE at which points it becomes immutable.\";s:10:\"properties\";O:8:\"stdClass\":14:{s:14:\"completionTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:218:\"The
  time when the step status was set to complete.\n\nThis value will be set automatically
  when state transitions to COMPLETE.\n\n- In response: set if the execution state
  is COMPLETE. - In create/update request: never set\";}s:12:\"creationTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:100:\"The
  time when the step was created.\n\n- In response: always set - In create/update
  request: never set\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:168:\"A
  description of this tool For example: mvn clean package -D skipTests=true\n\n- In
  response: present if set by create/update request - In create/update request: optional\";s:4:\"type\";s:6:\"string\";}s:19:\"deviceUsageDuration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Duration\";s:11:\"description\";s:445:\"How
  much the device resource is used to perform the test.\n\nThis is the device usage
  used for billing purpose, which is different from the run_duration, for example,
  infrastructure failure won't be charged for device usage.\n\nPRECONDITION_FAILED
  will be returned if one attempts to set a device_usage on a step which already has
  this field set.\n\n- In response: present if previously set. - In create request:
  optional - In update request: optional\";}s:14:\"dimensionValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:1376:\"If
  the execution containing this step has any dimension_definition set, then this field
  allows the child to specify the values of the dimensions.\n\nThe keys must exactly
  match the dimension_definition of the execution.\n\nFor example, if the execution
  has `dimension_definition = ['attempt', 'device']` then a step must define values
  for those dimensions, eg. `dimension_value = ['attempt': '1', 'device': 'Nexus 6']`\n\nIf
  a step does not participate in one dimension of the matrix, the value for that dimension
  should be empty string. For example, if one of the tests is executed by a runner
  which does not support retries, the step could have `dimension_value = ['attempt':
  '', 'device': 'Nexus 6']`\n\nIf the step does not participate in any dimensions
  of the matrix, it may leave dimension_value unset.\n\nA PRECONDITION_FAILED will
  be returned if any of the keys do not exist in the dimension_definition of the execution.\n\nA
  PRECONDITION_FAILED will be returned if another step in this execution already has
  the same name and dimension_value, but differs on other data fields, for example,
  step field is different.\n\nA PRECONDITION_FAILED will be returned if dimension_value
  is set, and there is a dimension_definition in the execution which is not specified
  as one of the keys.\n\n- In response: present if set by create - In create request:
  optional - In update request: never set\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/StepDimensionValueEntry\";}s:4:\"type\";s:5:\"array\";}s:9:\"hasImages\";O:8:\"stdClass\":2:{s:11:\"description\";s:168:\"Whether
  any of the outputs of this step are images whose thumbnails can be fetched with
  ListThumbnails.\n\n- In response: always set - In create/update request: never set\";s:4:\"type\";s:7:\"boolean\";}s:6:\"labels\";O:8:\"stdClass\":3:{s:11:\"description\";s:519:\"Arbitrary
  user-supplied key/value pairs that are associated with the step.\n\nUsers are responsible
  for managing the key namespace such that keys don't accidentally collide.\n\nAn
  INVALID_ARGUMENT will be returned if the number of labels exceeds 100 or if the
  length of any of the keys or values exceeds 100 characters.\n\n- In response: always
  set - In create request: optional - In update request: optional; any new key/value
  pair will be added to the map, and any new value for an existing key will update
  that key's value\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/StepLabelsEntry\";}s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:547:\"A
  short human-readable name to display in the UI. Maximum of 100 characters. For example:
  Clean build\n\nA PRECONDITION_FAILED will be returned upon creating a new step if
  it shares its name and dimension_value with an existing step. If two steps represent
  a similar action, but have different dimension values, they should share the same
  name. For instance, if the same set of tests is run on two different platforms,
  the two steps should have the same name.\n\n- In response: always set - In create
  request: always set - In update request: never set\";s:4:\"type\";s:6:\"string\";}s:7:\"outcome\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Outcome\";s:11:\"description\";s:158:\"Classification
  of the result, for example into SUCCESS or FAILURE\n\n- In response: present if
  set by create/update request - In create/update request: optional\";}s:11:\"runDuration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Duration\";s:11:\"description\";s:681:\"How
  long it took for this step to run.\n\nIf unset, this is set to the difference between
  creation_time and completion_time when the step is set to the COMPLETE state. In
  some cases, it is appropriate to set this value separately: For instance, if a step
  is created, but the operation it represents is queued for a few minutes before it
  executes, it would be appropriate not to include the time spent queued in its run_duration.\n\nPRECONDITION_FAILED
  will be returned if one attempts to set a run_duration on a step which already has
  this field set.\n\n- In response: present if previously set; always present on COMPLETE
  step - In create request: optional - In update request: optional\";}s:5:\"state\";O:8:\"stdClass\":3:{s:11:\"description\";s:428:\"The
  initial state is IN_PROGRESS. The only legal state transitions are * IN_PROGRESS
  -> COMPLETE\n\nA PRECONDITION_FAILED will be returned if an invalid transition is
  requested.\n\nIt is valid to create Step with a state set to COMPLETE. The state
  can only be set to COMPLETE once. A PRECONDITION_FAILED will be returned if the
  state is set to COMPLETE multiple times.\n\n- In response: always set - In create/update
  request: optional\";s:4:\"enum\";a:4:{i:0;s:8:\"complete\";i:1;s:10:\"inProgress\";i:2;s:7:\"pending\";i:3;s:12:\"unknownState\";}s:4:\"type\";s:6:\"string\";}s:6:\"stepId\";O:8:\"stdClass\":2:{s:11:\"description\";s:195:\"A
  unique identifier within a Execution for this Step.\n\nReturns INVALID_ARGUMENT
  if this field is set or overwritten by the caller.\n\n- In response: always set
  - In create/update request: never set\";s:4:\"type\";s:6:\"string\";}s:17:\"testExecutionStep\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/TestExecutionStep\";s:11:\"description\";s:30:\"An
  execution of a test runner.\";}s:17:\"toolExecutionStep\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ToolExecutionStep\";s:11:\"description\";s:68:\"An
  execution of a tool (used for steps we don't explicitly support).\";}}s:4:\"type\";s:6:\"object\";}s:23:\"StepDimensionValueEntry\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"StepLabelsEntry\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"SuccessDetail\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"otherNativeCrash\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"If
  a native process other than the app crashed.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:17:\"TestCaseReference\";O:8:\"stdClass\":3:{s:11:\"description\";s:187:\"A
  reference to a test case.\n\nTest case references are canonically ordered lexicographically
  by these three factors: * First, by test_suite_name. * Second, by class_name. *
  Third, by name.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"className\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  name of the class.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  name of the test case.\n\nRequired.\";s:4:\"type\";s:6:\"string\";}s:13:\"testSuiteName\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"The
  name of the test suite to which this test case belongs.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"TestExecutionStep\";O:8:\"stdClass\":3:{s:11:\"description\";s:298:\"A
  step that represents running tests.\n\nIt accepts ant-junit xml files which will
  be parsed into structured test results by the service. Xml file paths are updated
  in order to append more files, however they can't be deleted.\n\nUsers can also
  add test results manually by using the test_result field.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"testIssues\";O:8:\"stdClass\":3:{s:11:\"description\";s:286:\"Issues
  observed during the test execution.\n\nFor example, if the mobile app under test
  crashed during the test, the error message and the stack trace content can be recorded
  here to assist debugging.\n\n- In response: present if set by create or update -
  In create/update request: optional\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/TestIssue\";}s:4:\"type\";s:5:\"array\";}s:18:\"testSuiteOverviews\";O:8:\"stdClass\":3:{s:11:\"description\";s:406:\"List
  of test suite overview contents. This could be parsed from xUnit XML log by server,
  or uploaded directly by user. This references should only be called when test suites
  are fully parsed or uploaded.\n\nThe maximum allowed number of test suite overviews
  per step is 1000.\n\n- In response: always set - In create request: optional - In
  update request: never (use publishXunitXmlFiles custom method instead)\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/TestSuiteOverview\";}s:4:\"type\";s:5:\"array\";}s:10:\"testTiming\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/TestTiming\";s:11:\"description\";s:132:\"The
  timing break down of the test execution.\n\n- In response: present if set by create
  or update - In create/update request: optional\";}s:13:\"toolExecution\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ToolExecution\";s:11:\"description\";s:182:\"Represents
  the execution of the test runner.\n\nThe exit code of this tool will be used to
  determine if the test passed.\n\n- In response: always set - In create/update request:
  optional\";}}s:4:\"type\";s:6:\"object\";}s:9:\"TestIssue\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"An
  issue detected occurring during a test execution.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"errorMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"A
  brief human-readable message describing the issue. Required.\";s:4:\"type\";s:6:\"string\";}s:8:\"severity\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Severity
  of issue. Required.\";s:4:\"enum\";a:4:{i:0;s:4:\"info\";i:1;s:6:\"severe\";i:2;s:19:\"unspecifiedSeverity\";i:3;s:7:\"warning\";}s:4:\"type\";s:6:\"string\";}s:10:\"stackTrace\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StackTrace\";s:11:\"description\";s:67:\"Deprecated
  in favor of stack trace fields inside specific warnings.\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Type
  of issue. Required.\";s:4:\"enum\";a:11:{i:0;s:3:\"anr\";i:1;s:26:\"compatibleWithOrchestrator\";i:2;s:27:\"completeRoboScriptExecution\";i:3;s:15:\"failedToInstall\";i:4;s:14:\"fatalException\";i:5;s:29:\"incompleteRoboScriptExecution\";i:6;s:24:\"launcherActivityNotFound\";i:7;s:11:\"nativeCrash\";i:8;s:21:\"startActivityNotFound\";i:9;s:15:\"unspecifiedType\";i:10;s:19:\"unusedRoboDirective\";}s:4:\"type\";s:6:\"string\";}s:7:\"warning\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Any\";s:11:\"description\";s:129:\"Warning
  message with additional details of the issue. Should always be a message from com.google.devtools.toolresults.v1.warnings\";}}s:4:\"type\";s:6:\"object\";}s:17:\"TestSuiteOverview\";O:8:\"stdClass\":3:{s:11:\"description\";s:245:\"A
  summary of a test suite result either parsed from XML or uploaded directly by a
  user.\n\nNote: the API related comments are for StepService only. This message is
  also being used in ExecutionService in a read only mode for the corresponding step.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:10:\"errorCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:147:\"Number
  of test cases in error, typically set by the service by parsing the xml_source.\n\n-
  In create/response: always set - In update request: never\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"failureCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:174:\"Number
  of failed test cases, typically set by the service by parsing the xml_source. May
  also be set by the user.\n\n- In create/response: always set - In update request:
  never\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:88:\"The
  name of the test suite.\n\n- In create/response: always set - In update request:
  never\";s:4:\"type\";s:6:\"string\";}s:12:\"skippedCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:146:\"Number
  of test cases not run, typically set by the service by parsing the xml_source.\n\n-
  In create/response: always set - In update request: never\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"totalCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:138:\"Number
  of test cases, typically set by the service by parsing the xml_source.\n\n- In create/response:
  always set - In update request: never\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"xmlSource\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/FileReference\";s:11:\"description\";s:273:\"If
  this test suite was parsed from XML, this is the URI where the original XML file
  is stored.\n\nNote: Multiple test suites can share the same xml_source\n\nReturns
  INVALID_ARGUMENT if the uri format is not supported.\n\n- In create/response: optional
  - In update request: never\";}}s:4:\"type\";s:6:\"object\";}s:10:\"TestTiming\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Testing
  timing break down to know phases.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:19:\"testProcessDuration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Duration\";s:11:\"description\";s:121:\"How
  long it took to run the test process.\n\n- In response: present if previously set.
  - In create/update request: optional\";}}s:4:\"type\";s:6:\"object\";}s:9:\"Thumbnail\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"A
  single thumbnail, with its size and format.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"contentType\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"The
  thumbnail's content type, i.e. \"image/png\".\n\nAlways set.\";s:4:\"type\";s:6:\"string\";}s:4:\"data\";O:8:\"stdClass\":3:{s:11:\"description\";s:195:\"The
  thumbnail file itself.\n\nThat is, the bytes here are precisely the bytes that make
  up the thumbnail file; they can be served as an image as-is (with the appropriate
  content type.)\n\nAlways set.\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}s:8:\"heightPx\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"The
  height of the thumbnail, in pixels.\n\nAlways set.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"widthPx\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
[...]
