---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":12:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Google\";s:3:\"url\";s:18:\"https://google.com\";}s:11:\"description\";s:54:\"Lets
  you create, inspect, and manage goo.gl short URLs\";s:5:\"title\";s:13:\"URL Shortener\";s:7:\"version\";s:2:\"v1\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:37:\"https://console.developers.google.com\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"tools\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:116:\"https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.6.2\";}s:6:\"format\";s:6:\"google\";s:3:\"url\";s:65:\"https://www.googleapis.com/discovery/v1/apis/urlshortener/v1/rest\";s:7:\"version\";s:2:\"v1\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"googleapis.com\";s:13:\"x-serviceName\";s:12:\"urlshortener\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:19:\"google_urlshortener\";s:4:\"type\";s:7:\"openapi\";}}"
host: www.googleapis.com
basePath: /urlshortener/v1
paths:
  /url:
    get:
      description: Expands a short URL or gets creation time and analytics.
      operationId: url.get
      parameters:
      - description: Additional information to return.
        enum:
        - ANALYTICS_CLICKS
        - ANALYTICS_TOP_STRINGS
        - FULL
        in: query
        name: projection
        type: string
      - description: The short URL, including the protocol.
        in: query
        name: shortUrl
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Url'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/urlshortener
      tags:
      - url
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Creates a new short URL.
      operationId: url.insert
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/Url'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Url'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/urlshortener
      tags:
      - url
  /url/history:
    get:
      description: Retrieves a list of URLs shortened by a user.
      operationId: url.list
      parameters:
      - description: Additional information to return.
        enum:
        - ANALYTICS_CLICKS
        - FULL
        in: query
        name: projection
        type: string
      - description: Token for requesting successive pages of results.
        in: query
        name: start-token
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/UrlHistory'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/urlshortener
      tags:
      - url
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":5:{s:17:\"AnalyticsSnapshot\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:8:\"browsers\";O:8:\"stdClass\":3:{s:11:\"description\";s:105:\"Top
  browsers, e.g. \"Chrome\"; sorted by (descending) click counts. Only present if
  this data is available.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/StringCount\";}s:4:\"type\";s:5:\"array\";}s:9:\"countries\";O:8:\"stdClass\":3:{s:11:\"description\";s:139:\"Top
  countries (expressed as country codes), e.g. \"US\" or \"DE\"; sorted by (descending)
  click counts. Only present if this data is available.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/StringCount\";}s:4:\"type\";s:5:\"array\";}s:13:\"longUrlClicks\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"Number
  of clicks on all goo.gl short URLs pointing to this long URL.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:9:\"platforms\";O:8:\"stdClass\":3:{s:11:\"description\";s:115:\"Top
  platforms or OSes, e.g. \"Windows\"; sorted by (descending) click counts. Only present
  if this data is available.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/StringCount\";}s:4:\"type\";s:5:\"array\";}s:9:\"referrers\";O:8:\"stdClass\":3:{s:11:\"description\";s:120:\"Top
  referring hosts, e.g. \"www.google.com\"; sorted by (descending) click counts. Only
  present if this data is available.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/StringCount\";}s:4:\"type\";s:5:\"array\";}s:14:\"shortUrlClicks\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Number
  of clicks on this short URL.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"AnalyticsSummary\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"allTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/AnalyticsSnapshot\";s:11:\"description\";s:30:\"Click
  analytics over all time.\";}s:3:\"day\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/AnalyticsSnapshot\";s:11:\"description\";s:34:\"Click
  analytics over the last day.\";}s:5:\"month\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/AnalyticsSnapshot\";s:11:\"description\";s:36:\"Click
  analytics over the last month.\";}s:8:\"twoHours\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/AnalyticsSnapshot\";s:11:\"description\";s:40:\"Click
  analytics over the last two hours.\";}s:4:\"week\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/AnalyticsSnapshot\";s:11:\"description\";s:35:\"Click
  analytics over the last week.\";}}s:4:\"type\";s:6:\"object\";}s:11:\"StringCount\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"count\";O:8:\"stdClass\":3:{s:11:\"description\";s:81:\"Number
  of clicks for this top entry, e.g. for this particular country or browser.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Label
  assigned to this top entry, e.g. \"US\" or \"Chrome\".\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:3:\"Url\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:9:\"analytics\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/AnalyticsSummary\";s:11:\"description\";s:124:\"A
  summary of the click analytics for the short and long URL. Might not be present
  if not requested or currently unavailable.\";}s:7:\"created\";O:8:\"stdClass\":2:{s:11:\"description\";s:139:\"Time
  the short URL was created; ISO 8601 representation using the yyyy-MM-dd'T'HH:mm:ss.SSSZZ
  format, e.g. \"2010-10-14T19:01:24.944+00:00\".\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Short
  URL, e.g. \"http://goo.gl/l6MS\".\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:16:\"urlshortener#url\";s:11:\"description\";s:36:\"The
  fixed string \"urlshortener#url\".\";s:4:\"type\";s:6:\"string\";}s:7:\"longUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:89:\"Long
  URL, e.g. \"http://www.google.com/\". Might not be present if the status is \"REMOVED\".\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:157:\"Status
  of the target URL. Possible values: \"OK\", \"MALWARE\", \"PHISHING\", or \"REMOVED\".
  A URL might be marked \"REMOVED\" if it was flagged as spam, for example.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"UrlHistory\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"A
  list of URL resources.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Url\";}s:4:\"type\";s:5:\"array\";}s:12:\"itemsPerPage\";O:8:\"stdClass\":3:{s:11:\"description\";s:136:\"Number
  of items returned with each full \"page\" of results. Note that the last page could
  have fewer items than the \"itemsPerPage\" value.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:23:\"urlshortener#urlHistory\";s:11:\"description\";s:43:\"The
  fixed string \"urlshortener#urlHistory\".\";s:4:\"type\";s:6:\"string\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"A
  token to provide to get the next page of results.\";s:4:\"type\";s:6:\"string\";}s:10:\"totalItems\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"Total
  number of short URLs associated with this user (may be approximate).\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}}"
...
