---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Google\";s:3:\"url\";s:18:\"https://google.com\";}s:11:\"description\";s:56:\"View
  Google Search Console data for your verified sites.\";s:5:\"title\";s:14:\"Search
  Console\";s:7:\"version\";s:2:\"v3\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:37:\"https://console.developers.google.com\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:6:\"search\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:116:\"https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.6.0\";}s:6:\"format\";s:6:\"google\";s:3:\"url\";s:63:\"https://www.googleapis.com/discovery/v1/apis/webmasters/v3/rest\";s:7:\"version\";s:2:\"v1\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"googleapis.com\";s:13:\"x-serviceName\";s:10:\"webmasters\";}"
host: www.googleapis.com
basePath: /webmasters/v3
paths:
  /sites:
    get:
      description: Lists the user's Search Console sites.
      operationId: webmasters.sites.list
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/SitesListResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/webmasters
      - Oauth2:
        - https://www.googleapis.com/auth/webmasters.readonly
      tags:
      - sites
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
  /sites/{siteUrl}:
    delete:
      description: Removes a site from the set of the user's Search Console sites.
      operationId: webmasters.sites.delete
      parameters:
      - description: 'The URI of the property as defined in Search Console. Examples:
          http://www.example.com/ or android-app://com.example/'
        in: path
        name: siteUrl
        required: true
        type: string
      responses:
        200:
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/webmasters
      tags:
      - sites
    get:
      description: Retrieves information about specific site.
      operationId: webmasters.sites.get
      parameters:
      - description: 'The URI of the property as defined in Search Console. Examples:
          http://www.example.com/ or android-app://com.example/'
        in: path
        name: siteUrl
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/WmxSite'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/webmasters
      - Oauth2:
        - https://www.googleapis.com/auth/webmasters.readonly
      tags:
      - sites
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    put:
      description: Adds a site to the set of the user's sites in Search Console.
      operationId: webmasters.sites.add
      parameters:
      - description: The URL of the site to add.
        in: path
        name: siteUrl
        required: true
        type: string
      responses:
        200:
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/webmasters
      tags:
      - sites
  /sites/{siteUrl}/searchAnalytics/query:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Query your data with filters and parameters that you define. Returns
        zero or more rows grouped by the row keys that you define. You must define
        a date range of one or more days.nnWhen date is one of the group by values,
        any days without data are omitted from the result list. If you need to know
        which days have data, issue a broad date range query grouped by date for any
        metric, and see which day rows are returned.
      operationId: webmasters.searchanalytics.query
      parameters:
      - description: 'The site''s URL, including protocol. For example: http://www.example.com/'
        in: path
        name: siteUrl
        required: true
        type: string
      - in: body
        name: body
        schema:
          $ref: '#/definitions/SearchAnalyticsQueryRequest'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/SearchAnalyticsQueryResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/webmasters
      - Oauth2:
        - https://www.googleapis.com/auth/webmasters.readonly
      tags:
      - searchanalytics
  /sites/{siteUrl}/sitemaps:
    get:
      description: Lists the sitemaps-entries submitted for this site, or included
        in the sitemap index file (if sitemapIndex is specified in the request).
      operationId: webmasters.sitemaps.list
      parameters:
      - description: 'The site''s URL, including protocol. For example: http://www.example.com/'
        in: path
        name: siteUrl
        required: true
        type: string
      - description: 'A URL of a site''s sitemap index. For example: http://www.example.com/sitemapindex.xml'
        in: query
        name: sitemapIndex
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/SitemapsListResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/webmasters
      - Oauth2:
        - https://www.googleapis.com/auth/webmasters.readonly
      tags:
      - sitemaps
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
  /sites/{siteUrl}/sitemaps/{feedpath}:
    delete:
      description: Deletes a sitemap from this site.
      operationId: webmasters.sitemaps.delete
      parameters:
      - description: 'The site''s URL, including protocol. For example: http://www.example.com/'
        in: path
        name: siteUrl
        required: true
        type: string
      - description: 'The URL of the actual sitemap. For example: http://www.example.com/sitemap.xml'
        in: path
        name: feedpath
        required: true
        type: string
      responses:
        200:
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/webmasters
      tags:
      - sitemaps
    get:
      description: Retrieves information about a specific sitemap.
      operationId: webmasters.sitemaps.get
      parameters:
      - description: 'The site''s URL, including protocol. For example: http://www.example.com/'
        in: path
        name: siteUrl
        required: true
        type: string
      - description: 'The URL of the actual sitemap. For example: http://www.example.com/sitemap.xml'
        in: path
        name: feedpath
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/WmxSitemap'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/webmasters
      - Oauth2:
        - https://www.googleapis.com/auth/webmasters.readonly
      tags:
      - sitemaps
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    put:
      description: Submits a sitemap for a site.
      operationId: webmasters.sitemaps.submit
      parameters:
      - description: 'The site''s URL, including protocol. For example: http://www.example.com/'
        in: path
        name: siteUrl
        required: true
        type: string
      - description: 'The URL of the sitemap to add. For example: http://www.example.com/sitemap.xml'
        in: path
        name: feedpath
        required: true
        type: string
      responses:
        200:
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/webmasters
      tags:
      - sitemaps
  /sites/{siteUrl}/urlCrawlErrorsCounts/query:
    get:
      description: Retrieves a time series of the number of URL crawl errors per error
        category and platform.
      operationId: webmasters.urlcrawlerrorscounts.query
      parameters:
      - description: 'The site''s URL, including protocol. For example: http://www.example.com/'
        in: path
        name: siteUrl
        required: true
        type: string
      - description: 'The crawl error category. For example: serverError. If not specified,
          returns results for all categories.'
        enum:
        - authPermissions
        - flashContent
        - manyToOneRedirect
        - notFollowed
        - notFound
        - other
        - roboted
        - serverError
        - soft404
        in: query
        name: category
        type: string
      - default: true
        description: If true, returns only the latest crawl error counts.
        in: query
        name: latestCountsOnly
        type: boolean
      - description: 'The user agent type (platform) that made the request. For example:
          web. If not specified, returns results for all platforms.'
        enum:
        - mobile
        - smartphoneOnly
        - web
        in: query
        name: platform
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/UrlCrawlErrorsCountsQueryResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/webmasters
      - Oauth2:
        - https://www.googleapis.com/auth/webmasters.readonly
      tags:
      - urlcrawlerrorscounts
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
  /sites/{siteUrl}/urlCrawlErrorsSamples:
    get:
      description: Lists a site's sample URLs for the specified crawl error category
        and platform.
      operationId: webmasters.urlcrawlerrorssamples.list
      parameters:
      - description: 'The site''s URL, including protocol. For example: http://www.example.com/'
        in: path
        name: siteUrl
        required: true
        type: string
      - description: 'The crawl error category. For example: authPermissions'
        enum:
        - authPermissions
        - flashContent
        - manyToOneRedirect
        - notFollowed
        - notFound
        - other
        - roboted
        - serverError
        - soft404
        in: query
        name: category
        required: true
        type: string
      - description: 'The user agent type (platform) that made the request. For example:
          web'
        enum:
        - mobile
        - smartphoneOnly
        - web
        in: query
        name: platform
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/UrlCrawlErrorsSamplesListResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/webmasters
      - Oauth2:
        - https://www.googleapis.com/auth/webmasters.readonly
      tags:
      - urlcrawlerrorssamples
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
  /sites/{siteUrl}/urlCrawlErrorsSamples/{url}:
    delete:
      description: Marks the provided site's sample URL as fixed, and removes it from
        the samples list.
      operationId: webmasters.urlcrawlerrorssamples.markAsFixed
      parameters:
      - description: 'The site''s URL, including protocol. For example: http://www.example.com/'
        in: path
        name: siteUrl
        required: true
        type: string
      - description: The relative path (without the site) of the sample URL. It must
          be one of the URLs returned by list(). For example, for the URL https://www.example.com/pagenameu00a0on
          the site https://www.example.com/, the url value isu00a0pagename
        in: path
        name: url
        required: true
        type: string
      - description: 'The crawl error category. For example: authPermissions'
        enum:
        - authPermissions
        - flashContent
        - manyToOneRedirect
        - notFollowed
        - notFound
        - other
        - roboted
        - serverError
        - soft404
        in: query
        name: category
        required: true
        type: string
      - description: 'The user agent type (platform) that made the request. For example:
          web'
        enum:
        - mobile
        - smartphoneOnly
        - web
        in: query
        name: platform
        required: true
        type: string
      responses:
        200:
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/webmasters
      tags:
      - urlcrawlerrorssamples
    get:
      description: Retrieves details about crawl errors for a site's sample URL.
      operationId: webmasters.urlcrawlerrorssamples.get
      parameters:
      - description: 'The site''s URL, including protocol. For example: http://www.example.com/'
        in: path
        name: siteUrl
        required: true
        type: string
      - description: The relative path (without the site) of the sample URL. It must
          be one of the URLs returned by list(). For example, for the URL https://www.example.com/pagenameu00a0on
          the site https://www.example.com/, the url value isu00a0pagename
        in: path
        name: url
        required: true
        type: string
      - description: 'The crawl error category. For example: authPermissions'
        enum:
        - authPermissions
        - flashContent
        - manyToOneRedirect
        - notFollowed
        - notFound
        - other
        - roboted
        - serverError
        - soft404
        in: query
        name: category
        required: true
        type: string
      - description: 'The user agent type (platform) that made the request. For example:
          web'
        enum:
        - mobile
        - smartphoneOnly
        - web
        in: query
        name: platform
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/UrlCrawlErrorsSample'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/webmasters
      - Oauth2:
        - https://www.googleapis.com/auth/webmasters.readonly
      tags:
      - urlcrawlerrorssamples
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":16:{s:10:\"ApiDataRow\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"clicks\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:3:\"ctr\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:11:\"impressions\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:4:\"keys\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:8:\"position\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:18:\"ApiDimensionFilter\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"dimension\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"expression\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"operator\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:23:\"ApiDimensionFilterGroup\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"filters\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ApiDimensionFilter\";}s:4:\"type\";s:5:\"array\";}s:9:\"groupType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:27:\"SearchAnalyticsQueryRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:15:\"aggregationType\";O:8:\"stdClass\":2:{s:11:\"description\";s:760:\"[Optional;
  Default is \"auto\"] How data is aggregated. If aggregated by property, all data
  for the same property is aggregated; if aggregated by page, all data is aggregated
  by canonical URI. If you filter or group by page, choose AUTO; otherwise you can
  aggregate either by property or by page, depending on how you want your data calculated;
  see  the help documentation to learn how data is calculated differently by site
  versus by page.\n\nNote: If you group or filter by page, you cannot aggregate by
  property.\n\nIf you specify any value other than AUTO, the aggregation type in the
  result will match the requested type, or if you request an invalid type, you will
  get an error. The API will never change your aggregation type if the requested type
  is invalid.\";s:4:\"type\";s:6:\"string\";}s:21:\"dimensionFilterGroups\";O:8:\"stdClass\":3:{s:11:\"description\";s:255:\"[Optional]
  Zero or more filters to apply to the dimension grouping values; for example, 'query
  contains \"buy\"' to see only data where the query string contains the substring
  \"buy\" (not case-sensitive). You can filter by a dimension without grouping by
  it.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/ApiDimensionFilterGroup\";}s:4:\"type\";s:5:\"array\";}s:10:\"dimensions\";O:8:\"stdClass\":3:{s:11:\"description\";s:252:\"[Optional]
  Zero or more dimensions to group results by. Dimensions are the group-by values
  in the Search Analytics page. Dimensions are combined to create a unique row key
  for each row. Results are grouped in the order that you supply these dimensions.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"endDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:177:\"[Required]
  End date of the requested date range, in YYYY-MM-DD format, in PST (UTC - 8:00).
  Must be greater than or equal to the start date. This value is included in the range.\";s:4:\"type\";s:6:\"string\";}s:8:\"rowLimit\";O:8:\"stdClass\":3:{s:11:\"description\";s:111:\"[Optional;
  Default is 1000] The maximum number of rows to return. Must be a number from 1 to
  5,000 (inclusive).\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"searchType\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"[Optional;
  Default is \"web\"] The search type to filter for.\";s:4:\"type\";s:6:\"string\";}s:9:\"startDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:179:\"[Required]
  Start date of the requested date range, in YYYY-MM-DD format, in PST time (UTC -
  8:00). Must be less than or equal to the end date. This value is included in the
  range.\";s:4:\"type\";s:6:\"string\";}s:8:\"startRow\";O:8:\"stdClass\":3:{s:11:\"description\";s:106:\"[Optional;
  Default is 0] Zero-based index of the first row in the response. Must be a non-negative
  number.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:28:\"SearchAnalyticsQueryResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:191:\"A
  list of rows, one per result, grouped by key. Metrics in each row are aggregated
  for all data grouped by that key either by page or property, as specified by the
  aggregation type parameter.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:23:\"responseAggregationType\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"How
  the results were aggregated.\";s:4:\"type\";s:6:\"string\";}s:4:\"rows\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"A
  list of rows grouped by the key values in the order given in the query.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/ApiDataRow\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:20:\"SitemapsListResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"List
  of sitemaps.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"sitemap\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"Contains
  detailed information about a specific URL submitted as a sitemap.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/WmxSitemap\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:17:\"SitesListResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"List
  of sites with access level information.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"siteEntry\";O:8:\"stdClass\":3:{s:11:\"description\";s:123:\"Contains
  permission level information about a Search Console site. For more information,
  see Permissions in Search Console.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/WmxSite\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:18:\"UrlCrawlErrorCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"An
  entry in a URL crawl errors time series.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"count\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  error count at the given timestamp.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:9:\"timestamp\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"The
  date and time when the crawl attempt took place, in RFC 3339 format.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:26:\"UrlCrawlErrorCountsPerType\";O:8:\"stdClass\":3:{s:11:\"description\";s:86:\"Number
  of errors per day for a specific error type (defined by platform and category).\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"category\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  crawl error type.\";s:4:\"type\";s:6:\"string\";}s:7:\"entries\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  error count entries time series.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/UrlCrawlErrorCount\";}s:4:\"type\";s:5:\"array\";}s:8:\"platform\";O:8:\"stdClass\":2:{s:11:\"description\";s:113:\"The
  general type of Googlebot that made the request (see list of Googlebot user-agents
  for the user-agents used).\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:33:\"UrlCrawlErrorsCountsQueryResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"A
  time series of the number of URL crawl errors per error category and platform.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"countPerTypes\";O:8:\"stdClass\":3:{s:11:\"description\";s:82:\"The
  time series of the number of URL crawl errors per error category and platform.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/UrlCrawlErrorCountsPerType\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:20:\"UrlCrawlErrorsSample\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Contains
  information about specific crawl errors.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:14:\"first_detected\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"The
  time the error was first detected, in RFC 3339 format.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:12:\"last_crawled\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"The
  time when the URL was last crawled, in RFC 3339 format.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"pageUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"The
  URL of an error, relative to the site.\";s:4:\"type\";s:6:\"string\";}s:12:\"responseCode\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  HTTP response code, if any.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"urlDetails\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/UrlSampleDetails\";s:11:\"description\";s:62:\"Additional
  details about the URL, set only when calling get().\";}}s:4:\"type\";s:6:\"object\";}s:33:\"UrlCrawlErrorsSamplesListResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"List
  of crawl error samples.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:19:\"urlCrawlErrorSample\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Information
  about the sample URL and its crawl error.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/UrlCrawlErrorsSample\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:16:\"UrlSampleDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"Additional
  details about the URL, set only when calling get().\";s:10:\"properties\";O:8:\"stdClass\":2:{s:18:\"containingSitemaps\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"List
  of sitemaps pointing at this URL.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:14:\"linkedFromUrls\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"A
  sample set of URLs linking to this URL.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:7:\"WmxSite\";O:8:\"stdClass\":3:{s:11:\"description\";s:124:\"Contains
  permission level information about a Search Console site. For more information,
  see  Permissions in Search Console.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"permissionLevel\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"The
  user's permission level for the site.\";s:4:\"type\";s:6:\"string\";}s:7:\"siteUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"The
  URL of the site.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"WmxSitemap\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"Contains
  detailed information about a specific URL submitted as a sitemap.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:8:\"contents\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  various content types in the sitemap.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/WmxSitemapContent\";}s:4:\"type\";s:5:\"array\";}s:6:\"errors\";O:8:\"stdClass\":3:{s:11:\"description\";s:133:\"Number
  of errors in the sitemap. These are issues with the sitemap itself that need to
  be fixed before it can be processed correctly.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:9:\"isPending\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"If
  true, the sitemap has not been processed.\";s:4:\"type\";s:7:\"boolean\";}s:15:\"isSitemapsIndex\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"If
  true, the sitemap is a collection of sitemaps.\";s:4:\"type\";s:7:\"boolean\";}s:14:\"lastDownloaded\";O:8:\"stdClass\":3:{s:11:\"description\";s:102:\"Date
  & time in which this sitemap was last downloaded. Date format is in RFC 3339 format
  (yyyy-mm-dd).\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:13:\"lastSubmitted\";O:8:\"stdClass\":3:{s:11:\"description\";s:96:\"Date
  & time in which this sitemap was submitted. Date format is in RFC 3339 format (yyyy-mm-dd).\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:4:\"path\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  url of the sitemap.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"The
  type of the sitemap. For example: rssFeed.\";s:4:\"type\";s:6:\"string\";}s:8:\"warnings\";O:8:\"stdClass\":3:{s:11:\"description\";s:102:\"Number
  of warnings for the sitemap. These are generally non-critical issues with URLs in
  the sitemaps.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"WmxSitemapContent\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"Information
  about the various content types in the sitemap.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"indexed\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"The
  number of URLs from the sitemap that were indexed (of the content type).\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:9:\"submitted\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"The
  number of URLs in the sitemap (of the content type).\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"The
  specific type of content in this sitemap. For example: web.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
