---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Google\";s:3:\"url\";s:18:\"https://google.com\";}s:11:\"description\";s:43:\"Manipulates
  events and other calendar data.\";s:5:\"title\";s:8:\"Calendar\";s:7:\"version\";s:2:\"v3\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:37:\"https://console.developers.google.com\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:15:\"time_management\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:74:\"https://www.gstatic.com/images/icons/material/product/2x/calendar_64dp.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.6.0\";}s:6:\"format\";s:6:\"google\";s:3:\"url\";s:61:\"https://www.googleapis.com/discovery/v1/apis/calendar/v3/rest\";s:7:\"version\";s:2:\"v1\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"googleapis.com\";s:13:\"x-serviceName\";s:8:\"calendar\";}"
host: www.googleapis.com
basePath: /calendar/v3
paths: ~
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":24:{s:3:\"Acl\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"ETag
  of the collection.\";s:4:\"type\";s:6:\"string\";}s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"List
  of rules on the access control list.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/AclRule\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:12:\"calendar#acl\";s:11:\"description\";s:40:\"Type
  of the collection (\"calendar#acl\").\";s:4:\"type\";s:6:\"string\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:136:\"Token
  used to access the next page of this result. Omitted if no further results are available,
  in which case nextSyncToken is provided.\";s:4:\"type\";s:6:\"string\";}s:13:\"nextSyncToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:197:\"Token
  used at a later point in time to retrieve only the entries that have changed since
  this result was returned. Omitted if further results are available, in which case
  nextPageToken is provided.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"AclRule\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"ETag
  of the resource.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Identifier
  of the ACL rule.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:16:\"calendar#aclRule\";s:11:\"description\";s:42:\"Type
  of the resource (\"calendar#aclRule\").\";s:4:\"type\";s:6:\"string\";}s:4:\"role\";O:8:\"stdClass\":2:{s:11:\"description\";s:610:\"The
  role assigned to the scope. Possible values are:  \n- \"none\" - Provides no access.
  \n- \"freeBusyReader\" - Provides read access to free/busy information. \n- \"reader\"
  - Provides read access to the calendar. Private events will appear to users with
  reader access, but event details will be hidden. \n- \"writer\" - Provides read
  and write access to the calendar. Private events will appear to users with writer
  access, and event details will be visible. \n- \"owner\" - Provides ownership of
  the calendar. This role has all of the permissions of the writer role with the additional
  ability to see and manipulate ACLs.\";s:4:\"type\";s:6:\"string\";}s:5:\"scope\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"The
  scope of the rule.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:344:\"The
  type of the scope. Possible values are:  \n- \"default\" - The public scope. This
  is the default value. \n- \"user\" - Limits the scope to a single user. \n- \"group\"
  - Limits the scope to a group. \n- \"domain\" - Limits the scope to a domain.  Note:
  The permissions granted to the \"default\", or public, scope apply to any user,
  authenticated or not.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:119:\"The
  email address of a user or group, or the name of a domain, depending on the scope
  type. Omitted for type \"default\".\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Calendar\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Description
  of the calendar. Optional.\";s:4:\"type\";s:6:\"string\";}s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"ETag
  of the resource.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"Identifier
  of the calendar. To retrieve IDs call the calendarList.list() method.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:17:\"calendar#calendar\";s:11:\"description\";s:43:\"Type
  of the resource (\"calendar#calendar\").\";s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"Geographic
  location of the calendar as free-form text. Optional.\";s:4:\"type\";s:6:\"string\";}s:7:\"summary\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Title
  of the calendar.\";s:4:\"type\";s:6:\"string\";}s:8:\"timeZone\";O:8:\"stdClass\":2:{s:11:\"description\";s:110:\"The
  time zone of the calendar. (Formatted as an IANA Time Zone Database name, e.g. \"Europe/Zurich\".)
  Optional.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"CalendarList\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"ETag
  of the collection.\";s:4:\"type\";s:6:\"string\";}s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"Calendars
  that are present on the user's calendar list.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/CalendarListEntry\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:21:\"calendar#calendarList\";s:11:\"description\";s:49:\"Type
  of the collection (\"calendar#calendarList\").\";s:4:\"type\";s:6:\"string\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:136:\"Token
  used to access the next page of this result. Omitted if no further results are available,
  in which case nextSyncToken is provided.\";s:4:\"type\";s:6:\"string\";}s:13:\"nextSyncToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:197:\"Token
  used at a later point in time to retrieve only the entries that have changed since
  this result was returned. Omitted if further results are available, in which case
  nextPageToken is provided.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"CalendarListEntry\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":18:{s:10:\"accessRole\";O:8:\"stdClass\":2:{s:11:\"description\";s:632:\"The
  effective access role that the authenticated user has on the calendar. Read-only.
  Possible values are:  \n- \"freeBusyReader\" - Provides read access to free/busy
  information. \n- \"reader\" - Provides read access to the calendar. Private events
  will appear to users with reader access, but event details will be hidden. \n- \"writer\"
  - Provides read and write access to the calendar. Private events will appear to
  users with writer access, and event details will be visible. \n- \"owner\" - Provides
  ownership of the calendar. This role has all of the permissions of the writer role
  with the additional ability to see and manipulate ACLs.\";s:4:\"type\";s:6:\"string\";}s:15:\"backgroundColor\";O:8:\"stdClass\":2:{s:11:\"description\";s:267:\"The
  main color of the calendar in the hexadecimal format \"#0088aa\". This property
  supersedes the index-based colorId property. To set or change this property, you
  need to specify colorRgbFormat=true in the parameters of the insert, update and
  patch methods. Optional.\";s:4:\"type\";s:6:\"string\";}s:7:\"colorId\";O:8:\"stdClass\":2:{s:11:\"description\";s:278:\"The
  color of the calendar. This is an ID referring to an entry in the calendar section
  of the colors definition (see the colors endpoint). This property is superseded
  by the backgroundColor and foregroundColor properties and can be ignored when using
  these properties. Optional.\";s:4:\"type\";s:6:\"string\";}s:16:\"defaultReminders\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"The
  default reminders that the authenticated user has for this calendar.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/EventReminder\";}s:4:\"type\";s:5:\"array\";}s:7:\"deleted\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:116:\"Whether
  this calendar list entry has been deleted from the calendar list. Read-only. Optional.
  The default is False.\";s:4:\"type\";s:7:\"boolean\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Description
  of the calendar. Optional. Read-only.\";s:4:\"type\";s:6:\"string\";}s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"ETag
  of the resource.\";s:4:\"type\";s:6:\"string\";}s:15:\"foregroundColor\";O:8:\"stdClass\":2:{s:11:\"description\";s:273:\"The
  foreground color of the calendar in the hexadecimal format \"#ffffff\". This property
  supersedes the index-based colorId property. To set or change this property, you
  need to specify colorRgbFormat=true in the parameters of the insert, update and
  patch methods. Optional.\";s:4:\"type\";s:6:\"string\";}s:6:\"hidden\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:83:\"Whether
  the calendar has been hidden from the list. Optional. The default is False.\";s:4:\"type\";s:7:\"boolean\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Identifier
  of the calendar.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:26:\"calendar#calendarListEntry\";s:11:\"description\";s:52:\"Type
  of the resource (\"calendar#calendarListEntry\").\";s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:75:\"Geographic
  location of the calendar as free-form text. Optional. Read-only.\";s:4:\"type\";s:6:\"string\";}s:20:\"notificationSettings\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"The
  notifications that the authenticated user is receiving for this calendar.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"notifications\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"The
  list of notifications set for this calendar.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/CalendarNotification\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:7:\"primary\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:114:\"Whether
  the calendar is the primary calendar of the authenticated user. Read-only. Optional.
  The default is False.\";s:4:\"type\";s:7:\"boolean\";}s:8:\"selected\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:89:\"Whether
  the calendar content shows up in the calendar UI. Optional. The default is False.\";s:4:\"type\";s:7:\"boolean\";}s:7:\"summary\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Title
  of the calendar. Read-only.\";s:4:\"type\";s:6:\"string\";}s:15:\"summaryOverride\";O:8:\"stdClass\":2:{s:11:\"description\";s:76:\"The
  summary that the authenticated user has set for this calendar. Optional.\";s:4:\"type\";s:6:\"string\";}s:8:\"timeZone\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"The
  time zone of the calendar. Optional. Read-only.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"CalendarNotification\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"method\";O:8:\"stdClass\":2:{s:11:\"description\";s:267:\"The
  method used to deliver the notification. Possible values are:  \n- \"email\" - Reminders
  are sent via email. \n- \"sms\" - Reminders are sent via SMS. This value is read-only
  and is ignored on inserts and updates. SMS reminders are only available for G Suite
  customers.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:404:\"The
  type of notification. Possible values are:  \n- \"eventCreation\" - Notification
  sent when a new event is put on the calendar. \n- \"eventChange\" - Notification
  sent when an event is changed. \n- \"eventCancellation\" - Notification sent when
  an event is cancelled. \n- \"eventResponse\" - Notification sent when an event is
  changed. \n- \"agenda\" - An agenda with the events of the day (sent out in the
  morning).\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Channel\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:7:\"address\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"The
  address where notifications are delivered for this channel.\";s:4:\"type\";s:6:\"string\";}s:10:\"expiration\";O:8:\"stdClass\":3:{s:11:\"description\";s:107:\"Date
  and time of notification channel expiration, expressed as a Unix timestamp, in milliseconds.
  Optional.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"A
  UUID or similar unique string that identifies this channel.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:11:\"api#channel\";s:11:\"description\";s:121:\"Identifies
  this as a notification channel used to watch for changes to a resource. Value: the
  fixed string \"api#channel\".\";s:4:\"type\";s:6:\"string\";}s:6:\"params\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Declares
  a new parameter by name.\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:70:\"Additional
  parameters controlling delivery channel behavior. Optional.\";s:4:\"type\";s:6:\"object\";}s:7:\"payload\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"A
  Boolean value to indicate whether payload is wanted. Optional.\";s:4:\"type\";s:7:\"boolean\";}s:10:\"resourceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:110:\"An
  opaque ID that identifies the resource being watched on this channel. Stable across
  different API versions.\";s:4:\"type\";s:6:\"string\";}s:11:\"resourceUri\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"A
  version-specific identifier for the watched resource.\";s:4:\"type\";s:6:\"string\";}s:5:\"token\";O:8:\"stdClass\":2:{s:11:\"description\";s:113:\"An
  arbitrary string delivered to the target address with each notification delivered
  over this channel. Optional.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"The
  type of delivery mechanism used for this channel.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"ColorDefinition\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"background\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"The
  background color associated with this color definition.\";s:4:\"type\";s:6:\"string\";}s:10:\"foreground\";O:8:\"stdClass\":2:{s:11:\"description\";s:94:\"The
  foreground color that can be used to write on top of a background with 'background'
  color.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Colors\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"calendar\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ColorDefinition\";s:11:\"description\";s:27:\"A
  calendar color defintion.\";}s:11:\"description\";s:174:\"A global palette of calendar
  colors, mapping from the color ID to its definition. A calendarListEntry resource
  refers to one of these color IDs in its color field. Read-only.\";s:4:\"type\";s:6:\"object\";}s:5:\"event\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ColorDefinition\";s:11:\"description\";s:26:\"An
  event color definition.\";}s:11:\"description\";s:163:\"A global palette of event
  colors, mapping from the color ID to its definition. An event resource may refer
  to one of these color IDs in its color field. Read-only.\";s:4:\"type\";s:6:\"object\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:15:\"calendar#colors\";s:11:\"description\";s:41:\"Type
  of the resource (\"calendar#colors\").\";s:4:\"type\";s:6:\"string\";}s:7:\"updated\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"Last
  modification time of the color palette (as a RFC3339 timestamp). Read-only.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Error\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"domain\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Domain,
  or broad category, of the error.\";s:4:\"type\";s:6:\"string\";}s:6:\"reason\";O:8:\"stdClass\":2:{s:11:\"description\";s:512:\"Specific
  reason for the error. Some of the possible values are:  \n- \"groupTooBig\" - The
  group of users requested is too large for a single query. \n- \"tooManyCalendarsRequested\"
  - The number of calendars requested is too large for a single query. \n- \"notFound\"
  - The requested resource was not found. \n- \"internalError\" - The API service
  has encountered an internal error.  Additional error types may be added in the future,
  so clients should gracefully handle additional error statuses not included in this
  list.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Event\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":37:{s:16:\"anyoneCanAddSelf\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:124:\"Whether
  anyone can invite themselves to the event (currently works for Google+ events only).
  Optional. The default is False.\";s:4:\"type\";s:7:\"boolean\";}s:11:\"attachments\";O:8:\"stdClass\":3:{s:11:\"description\";s:229:\"File
  attachments for the event. Currently only Google Drive attachments are supported.\nIn
  order to modify attachments the supportsAttachments request parameter should be
  set to true.\nThere can be at most 25 attachments per event,\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/EventAttachment\";}s:4:\"type\";s:5:\"array\";}s:9:\"attendees\";O:8:\"stdClass\":3:{s:11:\"description\";s:132:\"The
  attendees of the event. See the Events with attendees guide for more information
  on scheduling events with other calendar users.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/EventAttendee\";}s:4:\"type\";s:5:\"array\";}s:16:\"attendeesOmitted\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:293:\"Whether
  attendees may have been omitted from the event's representation. When retrieving
  an event, this may be due to a restriction specified by the maxAttendee query parameter.
  When updating an event, this can be used to only update the participant's response.
  Optional. The default is False.\";s:4:\"type\";s:7:\"boolean\";}s:7:\"colorId\";O:8:\"stdClass\":2:{s:11:\"description\";s:143:\"The
  color of the event. This is an ID referring to an entry in the event section of
  the colors definition (see the  colors endpoint). Optional.\";s:4:\"type\";s:6:\"string\";}s:7:\"created\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"Creation
  time of the event (as a RFC3339 timestamp). Read-only.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"creator\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  creator of the event. Read-only.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  creator's name, if available.\";s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"The
  creator's email address, if available.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:113:\"The
  creator's Profile ID, if available. It corresponds to theid field in the People
  collection of the Google+ API\";s:4:\"type\";s:6:\"string\";}s:4:\"self\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:121:\"Whether
  the creator corresponds to the calendar on which this copy of the event appears.
  Read-only. The default is False.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Description
  of the event. Optional.\";s:4:\"type\";s:6:\"string\";}s:3:\"end\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/EventDateTime\";s:11:\"description\";s:105:\"The
  (exclusive) end time of the event. For a recurring event, this is the end time of
  the first instance.\";}s:18:\"endTimeUnspecified\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:163:\"Whether
  the end time is actually unspecified. An end time is still provided for compatibility
  reasons, even if this attribute is set to True. The default is False.\";s:4:\"type\";s:7:\"boolean\";}s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"ETag
  of the resource.\";s:4:\"type\";s:6:\"string\";}s:18:\"extendedProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Extended
  properties of the event.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"private\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"The
  name of the private property and the corresponding value.\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:83:\"Properties
  that are private to the copy of the event that appears on this calendar.\";s:4:\"type\";s:6:\"object\";}s:6:\"shared\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"The
  name of the shared property and the corresponding value.\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:85:\"Properties
  that are shared between copies of the event on other attendees' calendars.\";s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:6:\"gadget\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"A
  gadget that extends this event.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:7:\"display\";O:8:\"stdClass\":2:{s:11:\"description\";s:197:\"The
  gadget's display mode. Optional. Possible values are:  \n- \"icon\" - The gadget
  displays next to the event's title in the calendar view. \n- \"chip\" - The gadget
  displays when the event is clicked.\";s:4:\"type\";s:6:\"string\";}s:6:\"height\";O:8:\"stdClass\":3:{s:11:\"description\";s:86:\"The
  gadget's height in pixels. The height must be an integer greater than 0. Optional.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"iconLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"The
  gadget's icon URL. The URL scheme must be HTTPS.\";s:4:\"type\";s:6:\"string\";}s:4:\"link\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"The
  gadget's URL. The URL scheme must be HTTPS.\";s:4:\"type\";s:6:\"string\";}s:11:\"preferences\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"The
  preference name and corresponding value.\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:12:\"Preferences.\";s:4:\"type\";s:6:\"object\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"The
  gadget's title.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"The
  gadget's type.\";s:4:\"type\";s:6:\"string\";}s:5:\"width\";O:8:\"stdClass\":3:{s:11:\"description\";s:84:\"The
  gadget's width in pixels. The width must be an integer greater than 0. Optional.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:21:\"guestsCanInviteOthers\";O:8:\"stdClass\":3:{s:7:\"default\";b:1;s:11:\"description\";s:105:\"Whether
  attendees other than the organizer can invite others to the event. Optional. The
  default is True.\";s:4:\"type\";s:7:\"boolean\";}s:15:\"guestsCanModify\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:96:\"Whether
  attendees other than the organizer can modify the event. Optional. The default is
  False.\";s:4:\"type\";s:7:\"boolean\";}s:23:\"guestsCanSeeOtherGuests\";O:8:\"stdClass\":3:{s:7:\"default\";b:1;s:11:\"description\";s:112:\"Whether
  attendees other than the organizer can see who the event's attendees are. Optional.
  The default is True.\";s:4:\"type\";s:7:\"boolean\";}s:11:\"hangoutLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"An
  absolute link to the Google+ hangout associated with this event. Read-only.\";s:4:\"type\";s:6:\"string\";}s:8:\"htmlLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"An
  absolute link to this event in the Google Calendar Web UI. Read-only.\";s:4:\"type\";s:6:\"string\";}s:7:\"iCalUID\";O:8:\"stdClass\":2:{s:11:\"description\";s:445:\"Event
  unique identifier as defined in RFC5545. It is used to uniquely identify events
  accross calendaring systems and must be supplied when importing events via the import
  method.\nNote that the icalUID and the id are not identical and only one of them
  should be supplied at event creation time. One difference in their semantics is
  that in recurring events, all occurrences of one event have different ids while
  they all share the same icalUIDs.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:983:\"Opaque
  identifier of the event. When creating new single or recurring events, you can specify
  their IDs. Provided IDs must follow these rules:  \n- characters allowed in the
  ID are those used in base32hex encoding, i.e. lowercase letters a-v and digits 0-9,
  see section 3.1.2 in RFC2938 \n- the length of the ID must be between 5 and 1024
  characters \n- the ID must be unique per calendar  Due to the globally distributed
  nature of the system, we cannot guarantee that ID collisions will be detected at
  event creation time. To minimize the risk of collisions we recommend using an established
  UUID algorithm such as one described in RFC4122.\nIf you do not specify an ID, it
  will be automatically generated by the server.\nNote that the icalUID and the id
  are not identical and only one of them should be supplied at event creation time.
  One difference in their semantics is that in recurring events, all occurrences of
  one event have different ids while they all share the same icalUIDs.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:14:\"calendar#event\";s:11:\"description\";s:40:\"Type
  of the resource (\"calendar#event\").\";s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"Geographic
  location of the event as free-form text. Optional.\";s:4:\"type\";s:6:\"string\";}s:6:\"locked\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:192:\"Whether
  this is a locked event copy where no changes can be made to the main event fields
  \"summary\", \"description\", \"location\", \"start\", \"end\" or \"recurrence\".
  The default is False. Read-Only.\";s:4:\"type\";s:7:\"boolean\";}s:9:\"organizer\";O:8:\"stdClass\":3:{s:11:\"description\";s:248:\"The
  organizer of the event. If the organizer is also an attendee, this is indicated
  with a separate entry in attendees with the organizer field set to True. To change
  the organizer, use the move operation. Read-only, except when importing an event.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  organizer's name, if available.\";s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:93:\"The
  organizer's email address, if available. It must be a valid email address as per
  RFC5322.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:115:\"The
  organizer's Profile ID, if available. It corresponds to theid field in the People
  collection of the Google+ API\";s:4:\"type\";s:6:\"string\";}s:4:\"self\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:123:\"Whether
  the organizer corresponds to the calendar on which this copy of the event appears.
  Read-only. The default is False.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:17:\"originalStartTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/EventDateTime\";s:11:\"description\";s:185:\"For
  an instance of a recurring event, this is the time at which this event would start
  according to the recurrence data in the recurring event identified by recurringEventId.
  Immutable.\";}s:11:\"privateCopy\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:146:\"Whether
  this is a private event copy where changes are not shared with other copies on other
  calendars. Optional. Immutable. The default is False.\";s:4:\"type\";s:7:\"boolean\";}s:10:\"recurrence\";O:8:\"stdClass\":3:{s:11:\"description\";s:301:\"List
  of RRULE, EXRULE, RDATE and EXDATE lines for a recurring event, as specified in
  RFC5545. Note that DTSTART and DTEND lines are not allowed in this field; event
  start and end times are specified in the start and end fields. This field is omitted
  for single events or instances of recurring events.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:16:\"recurringEventId\";O:8:\"stdClass\":2:{s:11:\"description\";s:118:\"For
  an instance of a recurring event, this is the id of the recurring event to which
  this instance belongs. Immutable.\";s:4:\"type\";s:6:\"string\";}s:9:\"reminders\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"Information
  about the event's reminders for the authenticated user.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"overrides\";O:8:\"stdClass\":3:{s:11:\"description\";s:210:\"If
  the event doesn't use the default reminders, this lists the reminders specific to
  the event, or, if not set, indicates that no reminders are set for this event. The
  maximum number of override reminders is 5.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/EventReminder\";}s:4:\"type\";s:5:\"array\";}s:10:\"useDefault\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"Whether
  the default reminders of the calendar apply to the event.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:8:\"sequence\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Sequence
  number as per iCalendar.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"source\";O:8:\"stdClass\":3:{s:11:\"description\";s:206:\"Source
  from which the event was created. For example, a web page, an email message or any
  document identifiable by an URL with HTTP or HTTPS scheme. Can only be seen or modified
  by the creator of the event.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:75:\"Title
  of the source; for example a title of a web page or an email subject.\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:79:\"URL
  of the source pointing to a resource. The URL scheme must be HTTP or HTTPS.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"start\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/EventDateTime\";s:11:\"description\";s:109:\"The
  (inclusive) start time of the event. For a recurring event, this is the start time
  of the first instance.\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:215:\"Status
  of the event. Optional. Possible values are:  \n- \"confirmed\" - The event is confirmed.
  This is the default status. \n- \"tentative\" - The event is tentatively confirmed.
  \n- \"cancelled\" - The event is cancelled.\";s:4:\"type\";s:6:\"string\";}s:7:\"summary\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Title
  of the event.\";s:4:\"type\";s:6:\"string\";}s:12:\"transparency\";O:8:\"stdClass\":3:{s:7:\"default\";s:6:\"opaque\";s:11:\"description\";s:359:\"Whether
  the event blocks time on the calendar. Optional. Possible values are:  \n- \"opaque\"
  - Default value. The event does block time on the calendar. This is equivalent to
  setting Show me as to Busy in the Calendar UI. \n- \"transparent\" - The event does
  not block time on the calendar. This is equivalent to setting Show me as to Available
  in the Calendar UI.\";s:4:\"type\";s:6:\"string\";}s:7:\"updated\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"Last
  modification time of the event (as a RFC3339 timestamp). Read-only.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:10:\"visibility\";O:8:\"stdClass\":3:{s:7:\"default\";s:7:\"default\";s:11:\"description\";s:427:\"Visibility
  of the event. Optional. Possible values are:  \n- \"default\" - Uses the default
  visibility for events on the calendar. This is the default value. \n- \"public\"
  - The event is public and event details are visible to all readers of the calendar.
  \n- \"private\" - The event is private and only event attendees may view event details.
  \n- \"confidential\" - The event is private. This value is provided for compatibility
  reasons.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"EventAttachment\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"fileId\";O:8:\"stdClass\":2:{s:11:\"description\";s:134:\"ID
  of the attached file. Read-only.\nFor Google Drive files, this is the ID of the
  corresponding Files resource entry in the Drive API.\";s:4:\"type\";s:6:\"string\";}s:7:\"fileUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:157:\"URL
  link to the attachment.\nFor adding Google Drive file attachments use the same format
  as in alternateLink property of the Files resource in the Drive API.\";s:4:\"type\";s:6:\"string\";}s:8:\"iconLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"URL
  link to the attachment's icon. Read-only.\";s:4:\"type\";s:6:\"string\";}s:8:\"mimeType\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Internet
  media type (MIME type) of the attachment.\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Attachment
  title.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"EventAttendee\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:16:\"additionalGuests\";O:8:\"stdClass\":4:{s:7:\"default\";i:0;s:11:\"description\";s:56:\"Number
  of additional guests. Optional. The default is 0.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"comment\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"The
  attendee's response comment. Optional.\";s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"The
  attendee's name, if available. Optional.\";s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:144:\"The
  attendee's email address, if available. This field must be present when adding an
  attendee. It must be a valid email address as per RFC5322.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:114:\"The
  attendee's Profile ID, if available. It corresponds to theid field in the People
  collection of the Google+ API\";s:4:\"type\";s:6:\"string\";}s:8:\"optional\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:69:\"Whether
  this is an optional attendee. Optional. The default is False.\";s:4:\"type\";s:7:\"boolean\";}s:9:\"organizer\";O:8:\"stdClass\":2:{s:11:\"description\";s:84:\"Whether
  the attendee is the organizer of the event. Read-only. The default is False.\";s:4:\"type\";s:7:\"boolean\";}s:8:\"resource\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:68:\"Whether
  the attendee is a resource. Read-only. The default is False.\";s:4:\"type\";s:7:\"boolean\";}s:14:\"responseStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:309:\"The
  attendee's response status. Possible values are:  \n- \"needsAction\" - The attendee
  has not responded to the invitation. \n- \"declined\" - The attendee has declined
  the invitation. \n- \"tentative\" - The attendee has tentatively accepted the invitation.
  \n- \"accepted\" - The attendee has accepted the invitation.\";s:4:\"type\";s:6:\"string\";}s:4:\"self\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:116:\"Whether
  this entry represents the calendar on which this copy of the event appears. Read-only.
  The default is False.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:13:\"EventDateTime\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"date\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"The
  date, in the format \"yyyy-mm-dd\", if this is an all-day event.\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:8:\"dateTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:160:\"The
  time, as a combined date-time value (formatted according to RFC3339). A time zone
  offset is required unless a time zone is explicitly specified in timeZone.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:8:\"timeZone\";O:8:\"stdClass\":2:{s:11:\"description\";s:323:\"The
  time zone in which the time is specified. (Formatted as an IANA Time Zone Database
  name, e.g. \"Europe/Zurich\".) For recurring events this field is required and specifies
  the time zone in which the recurrence is expanded. For single events this field
  is optional and indicates a custom time zone for the event start/end.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"EventReminder\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"method\";O:8:\"stdClass\":2:{s:11:\"description\";s:300:\"The
  method used by this reminder. Possible values are:  \n- \"email\" - Reminders are
  sent via email. \n- \"sms\" - Reminders are sent via SMS. These are only available
  for G Suite customers. Requests to set SMS reminders for other account types are
  ignored. \n- \"popup\" - Reminders are sent via a UI popup.\";s:4:\"type\";s:6:\"string\";}s:7:\"minutes\";O:8:\"stdClass\":3:{s:11:\"description\";s:140:\"Number
  of minutes before the start of the event when the reminder should trigger. Valid
  values are between 0 and 40320 (4 weeks in minutes).\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Events\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":11:{s:10:\"accessRole\";O:8:\"stdClass\":2:{s:11:\"description\";s:651:\"The
  user's access role for this calendar. Read-only. Possible values are:  \n- \"none\"
  - The user has no access. \n- \"freeBusyReader\" - The user has read access to free/busy
  information. \n- \"reader\" - The user has read access to the calendar. Private
  events will appear to users with reader access, but event details will be hidden.
  \n- \"writer\" - The user has read and write access to the calendar. Private events
  will appear to users with writer access, and event details will be visible. \n-
  \"owner\" - The user has ownership of the calendar. This role has all of the permissions
  of the writer role with the additional ability to see and manipulate ACLs.\";s:4:\"type\";s:6:\"string\";}s:16:\"defaultReminders\";O:8:\"stdClass\":3:{s:11:\"description\";s:208:\"The
  default reminders on the calendar for the authenticated user. These reminders apply
  to all events on this calendar that do not explicitly override them (i.e. do not
  have reminders.useDefault set to True).\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/EventReminder\";}s:4:\"type\";s:5:\"array\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Description
  of the calendar. Read-only.\";s:4:\"type\";s:6:\"string\";}s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"ETag
  of the collection.\";s:4:\"type\";s:6:\"string\";}s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"List
  of events on the calendar.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Event\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:15:\"calendar#events\";s:11:\"description\";s:43:\"Type
  of the collection (\"calendar#events\").\";s:4:\"type\";s:6:\"string\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:136:\"Token
  used to access the next page of this result. Omitted if no further results are available,
  in which case nextSyncToken is provided.\";s:4:\"type\";s:6:\"string\";}s:13:\"nextSyncToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:197:\"Token
  used at a later point in time to retrieve only the entries that have changed since
  this result was returned. Omitted if further results are available, in which case
  nextPageToken is provided.\";s:4:\"type\";s:6:\"string\";}s:7:\"summary\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Title
  of the calendar. Read-only.\";s:4:\"type\";s:6:\"string\";}s:8:\"timeZone\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"The
  time zone of the calendar. Read-only.\";s:4:\"type\";s:6:\"string\";}s:7:\"updated\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"Last
  modification time of the calendar (as a RFC3339 timestamp). Read-only.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"FreeBusyCalendar\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"busy\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"List
  of time ranges during which this calendar should be regarded as busy.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/TimePeriod\";}s:4:\"type\";s:5:\"array\";}s:6:\"errors\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"Optional
  error(s) (if computation for the calendar failed).\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Error\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:13:\"FreeBusyGroup\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"calendars\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"List
  of calendars' identifiers within a group.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:6:\"errors\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Optional
  error(s) (if computation for the group failed).\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Error\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:15:\"FreeBusyRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:20:\"calendarExpansionMax\";O:8:\"stdClass\":3:{s:11:\"description\";s:87:\"Maximal
  number of calendars for which FreeBusy information is to be provided. Optional.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:17:\"groupExpansionMax\";O:8:\"stdClass\":3:{s:11:\"description\";s:156:\"Maximal
  number of calendar identifiers to be provided for a single group. Optional. An error
  will be returned for a group with more members than this value.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"List
  of calendars and/or groups to query.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/FreeBusyRequestItem\";}s:4:\"type\";s:5:\"array\";}s:7:\"timeMax\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  end of the interval for the query.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"timeMin\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  start of the interval for the query.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:8:\"timeZone\";O:8:\"stdClass\":3:{s:7:\"default\";s:3:\"UTC\";s:11:\"description\";s:61:\"Time
  zone used in the response. Optional. The default is UTC.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"FreeBusyRequestItem\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  identifier of a calendar or a group.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"FreeBusyResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"calendars\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/FreeBusyCalendar\";s:11:\"description\";s:43:\"Free/busy
  expansions for a single calendar.\";}s:11:\"description\";s:44:\"List of free/busy
  information for calendars.\";s:4:\"type\";s:6:\"object\";}s:6:\"groups\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/FreeBusyGroup\";s:11:\"description\";s:49:\"List
  of calendars that are members of this group.\";}s:11:\"description\";s:20:\"Expansion
  of groups.\";s:4:\"type\";s:6:\"object\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:17:\"calendar#freeBusy\";s:11:\"description\";s:43:\"Type
  of the resource (\"calendar#freeBusy\").\";s:4:\"type\";s:6:\"string\";}s:7:\"timeMax\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  end of the interval.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"timeMin\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"The
  start of the interval.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Setting\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"ETag
  of the resource.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  id of the user setting.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:16:\"calendar#setting\";s:11:\"description\";s:42:\"Type
  of the resource (\"calendar#setting\").\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:150:\"Value
  of the user setting. The format of the value depends on the ID of the setting. It
  must always be a UTF-8 string of length up to 1024 characters.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Settings\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Etag
  of the collection.\";s:4:\"type\";s:6:\"string\";}s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"List
  of user settings.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Setting\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:17:\"calendar#settings\";s:11:\"description\";s:45:\"Type
  of the collection (\"calendar#settings\").\";s:4:\"type\";s:6:\"string\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:136:\"Token
  used to access the next page of this result. Omitted if no further results are available,
  in which case nextSyncToken is provided.\";s:4:\"type\";s:6:\"string\";}s:13:\"nextSyncToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:197:\"Token
  used at a later point in time to retrieve only the entries that have changed since
  this result was returned. Omitted if further results are available, in which case
  nextPageToken is provided.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"TimePeriod\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"end\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  (exclusive) end of the time period.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:5:\"start\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  (inclusive) start of the time period.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
