---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":12:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Google\";s:3:\"url\";s:18:\"https://google.com\";}s:11:\"description\";s:70:\"A
  data platform for customers to create, manage, share and query data.\";s:5:\"title\";s:8:\"BigQuery\";s:7:\"version\";s:2:\"v2\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:37:\"https://console.developers.google.com\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:6:\"search\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:90:\"https://api.apis.guru/v2/cache/logo/https_cloud.google.com__static_images_new-gcp-logo.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.6.2\";}s:6:\"format\";s:6:\"google\";s:3:\"url\";s:61:\"https://www.googleapis.com/discovery/v1/apis/bigquery/v2/rest\";s:7:\"version\";s:2:\"v1\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"googleapis.com\";s:13:\"x-serviceName\";s:8:\"bigquery\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:15:\"google_bigquery\";s:4:\"type\";s:7:\"openapi\";}}"
host: www.googleapis.com
basePath: /bigquery/v2
paths: ~
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":55:{s:14:\"BigtableColumn\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:8:\"encoding\";O:8:\"stdClass\":2:{s:11:\"description\";s:382:\"[Optional]
  The encoding of the values when the type is not STRING. Acceptable encoding values
  are: TEXT - indicates values are alphanumeric text strings. BINARY - indicates values
  are encoded using HBase Bytes.toBytes family of functions. 'encoding' can also be
  set at the column family level. However, the setting at this level takes precedence
  if 'encoding' is set at both levels.\";s:4:\"type\";s:6:\"string\";}s:9:\"fieldName\";O:8:\"stdClass\":2:{s:11:\"description\";s:210:\"[Optional]
  If the qualifier is not a valid BigQuery field identifier i.e. does not match [a-zA-Z][a-zA-Z0-9_]*,
  a valid identifier must be provided as the column field name and is used as field
  name in queries.\";s:4:\"type\";s:6:\"string\";}s:14:\"onlyReadLatest\";O:8:\"stdClass\":2:{s:11:\"description\";s:243:\"[Optional]
  If this is set, only the latest version of value in this column are exposed. 'onlyReadLatest'
  can also be set at the column family level. However, the setting at this level takes
  precedence if 'onlyReadLatest' is set at both levels.\";s:4:\"type\";s:7:\"boolean\";}s:16:\"qualifierEncoded\";O:8:\"stdClass\":3:{s:11:\"description\";s:505:\"[Required]
  Qualifier of the column. Columns in the parent column family that has this exact
  qualifier are exposed as . field. If the qualifier is valid UTF-8 string, it can
  be specified in the qualifier_string field. Otherwise, a base-64 encoded value must
  be set to qualifier_encoded. The column field name is the same as the column qualifier.
  However, if the qualifier is not a valid BigQuery field identifier i.e. does not
  match [a-zA-Z][a-zA-Z0-9_]*, a valid identifier must be provided as field_name.\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}s:15:\"qualifierString\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:426:\"[Optional]
  The type to convert the value in cells of this column. The values are expected to
  be encoded using HBase Bytes.toBytes function when using the BINARY encoding value.
  Following BigQuery types are allowed (case-sensitive) - BYTES STRING INTEGER FLOAT
  BOOLEAN Default type is BYTES. 'type' can also be set at the column family level.
  However, the setting at this level takes precedence if 'type' is set at both levels.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"BigtableColumnFamily\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"columns\";O:8:\"stdClass\":3:{s:11:\"description\";s:269:\"[Optional]
  Lists of columns that should be exposed as individual fields as opposed to a list
  of (column name, value) pairs. All columns whose qualifier matches a qualifier in
  this list can be accessed as .. Other columns can be accessed as a list through
  .Column field.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/BigtableColumn\";}s:4:\"type\";s:5:\"array\";}s:8:\"encoding\";O:8:\"stdClass\":2:{s:11:\"description\";s:354:\"[Optional]
  The encoding of the values when the type is not STRING. Acceptable encoding values
  are: TEXT - indicates values are alphanumeric text strings. BINARY - indicates values
  are encoded using HBase Bytes.toBytes family of functions. This can be overridden
  for a specific column by listing that column in 'columns' and specifying an encoding
  for it.\";s:4:\"type\";s:6:\"string\";}s:8:\"familyId\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Identifier
  of the column family.\";s:4:\"type\";s:6:\"string\";}s:14:\"onlyReadLatest\";O:8:\"stdClass\":2:{s:11:\"description\";s:242:\"[Optional]
  If this is set only the latest version of value are exposed for all columns in this
  column family. This can be overridden for a specific column by listing that column
  in 'columns' and specifying a different setting for that column.\";s:4:\"type\";s:7:\"boolean\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:408:\"[Optional]
  The type to convert the value in cells of this column family. The values are expected
  to be encoded using HBase Bytes.toBytes function when using the BINARY encoding
  value. Following BigQuery types are allowed (case-sensitive) - BYTES STRING INTEGER
  FLOAT BOOLEAN Default type is BYTES. This can be overridden for a specific column
  by listing that column in 'columns' and specifying a type for it.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"BigtableOptions\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"columnFamilies\";O:8:\"stdClass\":3:{s:11:\"description\";s:488:\"[Optional]
  List of column families to expose in the table schema along with their types. This
  list restricts the column families that can be referenced in queries and specifies
  their value types. You can use this list to do type conversions - see the 'type'
  field for more details. If you leave this list empty, all column families are present
  in the table schema and their values are read as BYTES. During a query only the
  column families referenced in that query are read from Bigtable.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/BigtableColumnFamily\";}s:4:\"type\";s:5:\"array\";}s:31:\"ignoreUnspecifiedColumnFamilies\";O:8:\"stdClass\":2:{s:11:\"description\";s:213:\"[Optional]
  If field is true, then the column families that are not specified in columnFamilies
  list are not exposed in the table schema. Otherwise, they are read with BYTES type
  values. The default value is false.\";s:4:\"type\";s:7:\"boolean\";}s:18:\"readRowkeyAsString\";O:8:\"stdClass\":2:{s:11:\"description\";s:234:\"[Optional]
  If field is true, then the rowkey column families will be read and converted to
  string. Otherwise they are read with BYTES type values and users need to manually
  cast them with CAST if necessary. The default value is false.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:10:\"Clustering\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"fields\";O:8:\"stdClass\":3:{s:11:\"description\";s:219:\"[Repeated]
  One or more fields on which data should be clustered. Only top-level, non-repeated,
  simple-type fields are supported. The order of the fields will determine how clusters
  will be generated, so it is important.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:10:\"CsvOptions\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:15:\"allowJaggedRows\";O:8:\"stdClass\":2:{s:11:\"description\";s:352:\"[Optional]
  Indicates if BigQuery should accept rows that are missing trailing optional columns.
  If true, BigQuery treats missing trailing columns as null values. If false, records
  with missing trailing columns are treated as bad records, and if there are too many
  bad records, an invalid error is returned in the job result. The default value is
  false.\";s:4:\"type\";s:7:\"boolean\";}s:19:\"allowQuotedNewlines\";O:8:\"stdClass\":2:{s:11:\"description\";s:141:\"[Optional]
  Indicates if BigQuery should allow quoted data sections that contain newline characters
  in a CSV file. The default value is false.\";s:4:\"type\";s:7:\"boolean\";}s:8:\"encoding\";O:8:\"stdClass\":2:{s:11:\"description\";s:249:\"[Optional]
  The character encoding of the data. The supported values are UTF-8 or ISO-8859-1.
  The default value is UTF-8. BigQuery decodes the data after the raw, binary data
  has been split using the values of the quote and fieldDelimiter properties.\";s:4:\"type\";s:6:\"string\";}s:14:\"fieldDelimiter\";O:8:\"stdClass\":2:{s:11:\"description\";s:310:\"[Optional]
  The separator for fields in a CSV file. BigQuery converts the string to ISO-8859-1
  encoding, and then uses the first byte of the encoded string to split the data in
  its raw, binary state. BigQuery also supports the escape sequence \"\\t\" to specify
  a tab separator. The default value is a comma (',').\";s:4:\"type\";s:6:\"string\";}s:5:\"quote\";O:8:\"stdClass\":4:{s:7:\"default\";s:1:\"\"\";s:11:\"description\";s:461:\"[Optional]
  The value that is used to quote data sections in a CSV file. BigQuery converts the
  string to ISO-8859-1 encoding, and then uses the first byte of the encoded string
  to split the data in its raw, binary state. The default value is a double-quote
  ('\"'). If your data does not contain quoted sections, set the property value to
  an empty string. If your data contains quoted newline characters, you must also
  set the allowQuotedNewlines property to true.\";s:7:\"pattern\";s:2:\".?\";s:4:\"type\";s:6:\"string\";}s:15:\"skipLeadingRows\";O:8:\"stdClass\":3:{s:11:\"description\";s:209:\"[Optional]
  The number of rows at the top of a CSV file that BigQuery will skip when reading
  the data. The default value is 0. This property is useful if you have header rows
  in the file that should be skipped.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Dataset\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":13:{s:6:\"access\";O:8:\"stdClass\":3:{s:11:\"description\";s:544:\"[Optional]
  An array of objects that define dataset access for one or more entities. You can
  set this property when inserting or updating a dataset in order to control who is
  allowed to access the data. If unspecified at dataset creation time, BigQuery adds
  default dataset access for the following entities: access.specialGroup: projectReaders;
  access.role: READER; access.specialGroup: projectWriters; access.role: WRITER; access.specialGroup:
  projectOwners; access.role: OWNER; access.userByEmail: [dataset creator email];
  access.role: OWNER;\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:6:\"domain\";O:8:\"stdClass\":2:{s:11:\"description\";s:147:\"[Pick
  one] A domain to grant access to. Any users signed in with the domain specified
  will be granted the specified access. Example: \"example.com\".\";s:4:\"type\";s:6:\"string\";}s:12:\"groupByEmail\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"[Pick
  one] An email address of a Google Group to grant access to.\";s:4:\"type\";s:6:\"string\";}s:4:\"role\";O:8:\"stdClass\":2:{s:11:\"description\";s:169:\"[Required]
  Describes the rights granted to the user specified by the other member of the access
  object. The following string values are supported: READER, WRITER, OWNER.\";s:4:\"type\";s:6:\"string\";}s:12:\"specialGroup\";O:8:\"stdClass\":2:{s:11:\"description\";s:276:\"[Pick
  one] A special group to grant access to. Possible values include: projectOwners:
  Owners of the enclosing project. projectReaders: Readers of the enclosing project.
  projectWriters: Writers of the enclosing project. allAuthenticatedUsers: All authenticated
  BigQuery users.\";s:4:\"type\";s:6:\"string\";}s:11:\"userByEmail\";O:8:\"stdClass\":2:{s:11:\"description\";s:88:\"[Pick
  one] An email address of a user to grant access to. For example: fred@example.com.\";s:4:\"type\";s:6:\"string\";}s:4:\"view\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/TableReference\";s:11:\"description\";s:308:\"[Pick
  one] A view from a different dataset to grant access to. Queries executed against
  that view will have read access to tables in this dataset. The role field is not
  required when this field is set. If that view is updated by any user, access to
  the view needs to be granted again via an update operation.\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:12:\"creationTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:86:\"[Output-only]
  The time when this dataset was created, in milliseconds since the epoch.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:16:\"datasetReference\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/DatasetReference\";s:11:\"description\";s:51:\"[Required]
  A reference that identifies the dataset.\";}s:24:\"defaultTableExpirationMs\";O:8:\"stdClass\":3:{s:11:\"description\";s:695:\"[Optional]
  The default lifetime of all tables in the dataset, in milliseconds. The minimum
  value is 3600000 milliseconds (one hour). Once this property is set, all newly-created
  tables in the dataset will have an expirationTime property set to the creation time
  plus the value in this property, and changing the value will only affect new tables,
  not existing ones. When the expirationTime for a given table is reached, that table
  will be deleted automatically. If a table's expirationTime is modified or removed
  before the table expires, or if you provide an explicit expirationTime when creating
  a table, that value takes precedence over the default expiration time indicated
  by this property.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"[Optional]
  A user-friendly description of the dataset.\";s:4:\"type\";s:6:\"string\";}s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"[Output-only]
  A hash of the resource.\";s:4:\"type\";s:6:\"string\";}s:12:\"friendlyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"[Optional]
  A descriptive name for the dataset.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:264:\"[Output-only]
  The fully-qualified unique name of the dataset in the format projectId:datasetId.
  The dataset name without the project name is given in the datasetId field. When
  creating a new dataset, leave this field blank, and instead specify the datasetId
  field.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:16:\"bigquery#dataset\";s:11:\"description\";s:32:\"[Output-only]
  The resource type.\";s:4:\"type\";s:6:\"string\";}s:6:\"labels\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:203:\"The
  labels associated with this dataset. You can use these to organize and group your
  datasets. You can set this property when inserting or updating a dataset. See Labeling
  Datasets for more information.\";s:4:\"type\";s:6:\"object\";}s:16:\"lastModifiedTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:113:\"[Output-only]
  The date when this dataset or any of its tables was last modified, in milliseconds
  since the epoch.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:154:\"The
  geographic location where the dataset should reside. The default value is US. See
  details at https://cloud.google.com/bigquery/docs/dataset-locations.\";s:4:\"type\";s:6:\"string\";}s:8:\"selfLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:130:\"[Output-only]
  A URL that can be used to access the resource again. You can use this URL in Get
  or Update requests to the resource.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"DatasetList\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"datasets\";O:8:\"stdClass\":3:{s:11:\"description\";s:247:\"An
  array of the dataset resources in the project. Each resource contains basic information.
  For full information about a particular dataset resource, use the Datasets: get
  method. This property is omitted when there are no datasets in the project.\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:16:\"datasetReference\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/DatasetReference\";s:11:\"description\";s:120:\"The
  dataset reference. Use this property to access specific parts of the dataset's ID,
  such as project ID or dataset ID.\";}s:12:\"friendlyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"A
  descriptive name for the dataset, if one exists.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"The
  fully-qualified, unique, opaque ID of the dataset.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:16:\"bigquery#dataset\";s:11:\"description\";s:77:\"The
  resource type. This property always returns the value \"bigquery#dataset\".\";s:4:\"type\";s:6:\"string\";}s:6:\"labels\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:95:\"The
  labels associated with this dataset. You can use these to organize and group your
  datasets.\";s:4:\"type\";s:6:\"object\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"[Experimental]
  The geographic location where the data resides.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:120:\"A
  hash value of the results page. You can use this property to determine if the page
  has changed since the last request.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:20:\"bigquery#datasetList\";s:11:\"description\";s:77:\"The
  list type. This property always returns the value \"bigquery#datasetList\".\";s:4:\"type\";s:6:\"string\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:110:\"A
  token that can be used to request the next results page. This property is omitted
  on the final results page.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"DatasetReference\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"datasetId\";O:8:\"stdClass\":2:{s:11:\"description\";s:186:\"[Required]
  A unique ID for this dataset, without the project name. The ID must contain only
  letters (a-z, A-Z), numbers (0-9), or underscores (_). The maximum length is 1,024
  characters.\";s:4:\"type\";s:6:\"string\";}s:9:\"projectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"[Optional]
  The ID of the project containing this dataset.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:26:\"DestinationTableProperties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:230:\"[Optional]
  The description for the destination table. This will only be used if the destination
  table is newly created. If the table already exists and a value different than the
  current description is provided, the job will fail.\";s:4:\"type\";s:6:\"string\";}s:12:\"friendlyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:234:\"[Optional]
  The friendly name for the destination table. This will only be used if the destination
  table is newly created. If the table already exists and a value different than the
  current friendly name is provided, the job will fail.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:23:\"EncryptionConfiguration\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"kmsKeyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:204:\"[Optional]
  Describes the Cloud KMS encryption key that will be used to protect destination
  BigQuery table. The BigQuery Service Account associated with your project requires
  access to this encryption key.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"ErrorProto\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"debugInfo\";O:8:\"stdClass\":2:{s:11:\"description\";s:82:\"Debugging
  information. This property is internal to Google and should not be used.\";s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Specifies
  where the error occurred, if present.\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"A
  human-readable description of the error.\";s:4:\"type\";s:6:\"string\";}s:6:\"reason\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"A
  short error code that summarizes the error.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"ExplainQueryStage\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":29:{s:23:\"completedParallelInputs\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Number
  of parallel input segments completed.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:12:\"computeMsAvg\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Milliseconds
  the average shard spent on CPU-bound tasks.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:12:\"computeMsMax\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Milliseconds
  the slowest shard spent on CPU-bound tasks.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:15:\"computeRatioAvg\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"Relative
  amount of time the average shard spent on CPU-bound tasks.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:15:\"computeRatioMax\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"Relative
  amount of time the slowest shard spent on CPU-bound tasks.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:5:\"endMs\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"Stage
  end time represented as milliseconds since epoch.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Unique
  ID for stage within plan.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:11:\"inputStages\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"IDs
  for stages that are inputs to this stage.\";s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Human-readable
  name for stage.\";s:4:\"type\";s:6:\"string\";}s:14:\"parallelInputs\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Number
  of parallel input segments to be processed.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:9:\"readMsAvg\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Milliseconds
  the average shard spent reading input.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:9:\"readMsMax\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Milliseconds
  the slowest shard spent reading input.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:12:\"readRatioAvg\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"Relative
  amount of time the average shard spent reading input.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:12:\"readRatioMax\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"Relative
  amount of time the slowest shard spent reading input.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:11:\"recordsRead\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Number
  of records read into the stage.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:14:\"recordsWritten\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Number
  of records written by the stage.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:18:\"shuffleOutputBytes\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Total
  number of bytes written to shuffle.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:25:\"shuffleOutputBytesSpilled\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"Total
  number of bytes written to shuffle and spilled to disk.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:7:\"startMs\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"Stage
  start time represented as milliseconds since epoch.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Current
  status for the stage.\";s:4:\"type\";s:6:\"string\";}s:5:\"steps\";O:8:\"stdClass\":3:{s:11:\"description\";s:86:\"List
  of operations within the stage in dependency order (approximately chronological).\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ExplainQueryStep\";}s:4:\"type\";s:5:\"array\";}s:9:\"waitMsAvg\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"Milliseconds
  the average shard spent waiting to be scheduled.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:9:\"waitMsMax\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"Milliseconds
  the slowest shard spent waiting to be scheduled.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:12:\"waitRatioAvg\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"Relative
  amount of time the average shard spent waiting to be scheduled.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:12:\"waitRatioMax\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"Relative
  amount of time the slowest shard spent waiting to be scheduled.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:10:\"writeMsAvg\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"Milliseconds
  the average shard spent on writing output.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:10:\"writeMsMax\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"Milliseconds
  the slowest shard spent on writing output.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:13:\"writeRatioAvg\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"Relative
  amount of time the average shard spent on writing output.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:13:\"writeRatioMax\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"Relative
  amount of time the slowest shard spent on writing output.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:16:\"ExplainQueryStep\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"kind\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Machine-readable
  operation type.\";s:4:\"type\";s:6:\"string\";}s:8:\"substeps\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Human-readable
  stage descriptions.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:25:\"ExternalDataConfiguration\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:10:\"autodetect\";O:8:\"stdClass\":2:{s:11:\"description\";s:103:\"Try
  to detect schema and format options automatically. Any option specified explicitly
  will be honored.\";s:4:\"type\";s:7:\"boolean\";}s:15:\"bigtableOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/BigtableOptions\";s:11:\"description\";s:65:\"[Optional]
  Additional options if sourceFormat is set to BIGTABLE.\";}s:11:\"compression\";O:8:\"stdClass\":2:{s:11:\"description\";s:217:\"[Optional]
  The compression type of the data source. Possible values include GZIP and NONE.
  The default value is NONE. This setting is ignored for Google Cloud Bigtable, Google
  Cloud Datastore backups and Avro formats.\";s:4:\"type\";s:6:\"string\";}s:10:\"csvOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/CsvOptions\";s:11:\"description\";s:59:\"Additional
  properties to set if sourceFormat is set to CSV.\";}s:19:\"googleSheetsOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/GoogleSheetsOptions\";s:11:\"description\";s:70:\"[Optional]
  Additional options if sourceFormat is set to GOOGLE_SHEETS.\";}s:19:\"ignoreUnknownValues\";O:8:\"stdClass\":2:{s:11:\"description\";s:611:\"[Optional]
  Indicates if BigQuery should allow extra values that are not represented in the
  table schema. If true, the extra values are ignored. If false, records with extra
  columns are treated as bad records, and if there are too many bad records, an invalid
  error is returned in the job result. The default value is false. The sourceFormat
  property determines what BigQuery treats as an extra value: CSV: Trailing columns
  JSON: Named values that don't match any column names Google Cloud Bigtable: This
  setting is ignored. Google Cloud Datastore backups: This setting is ignored. Avro:
  This setting is ignored.\";s:4:\"type\";s:7:\"boolean\";}s:13:\"maxBadRecords\";O:8:\"stdClass\":3:{s:11:\"description\";s:352:\"[Optional]
  The maximum number of bad records that BigQuery can ignore when reading data. If
  the number of bad records exceeds this value, an invalid error is returned in the
  job result. The default value is 0, which requires that all records are valid. This
  setting is ignored for Google Cloud Bigtable, Google Cloud Datastore backups and
  Avro formats.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"schema\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/TableSchema\";s:11:\"description\";s:171:\"[Optional]
  The schema for the data. Schema is required for CSV and JSON formats. Schema is
  disallowed for Google Cloud Bigtable, Cloud Datastore backups, and Avro formats.\";}s:12:\"sourceFormat\";O:8:\"stdClass\":2:{s:11:\"description\";s:313:\"[Required]
  The data format. For CSV files, specify \"CSV\". For Google sheets, specify \"GOOGLE_SHEETS\".
  For newline-delimited JSON, specify \"NEWLINE_DELIMITED_JSON\". For Avro files,
  specify \"AVRO\". For Google Cloud Datastore backups, specify \"DATASTORE_BACKUP\".
  [Beta] For Google Cloud Bigtable, specify \"BIGTABLE\".\";s:4:\"type\";s:6:\"string\";}s:10:\"sourceUris\";O:8:\"stdClass\":3:{s:11:\"description\";s:533:\"[Required]
  The fully-qualified URIs that point to your data in Google Cloud. For Google Cloud
  Storage URIs: Each URI can contain one '*' wildcard character and it must come after
  the 'bucket' name. Size limits related to load jobs apply to external data sources.
  For Google Cloud Bigtable URIs: Exactly one URI can be specified and it has be a
  fully specified and valid HTTPS URL for a Google Cloud Bigtable table. For Google
  Cloud Datastore backups, exactly one URI can be specified. Also, the '*' wildcard
  character is not allowed.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:23:\"GetQueryResultsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":12:{s:8:\"cacheHit\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"Whether
  the query result was fetched from the query cache.\";s:4:\"type\";s:7:\"boolean\";}s:6:\"errors\";O:8:\"stdClass\":3:{s:11:\"description\";s:250:\"[Output-only]
  The first errors or warnings encountered during the running of the job. The final
  message includes the number of errors that caused the process to stop. Errors here
  do not necessarily mean that the job has completed or was unsuccessful.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/ErrorProto\";}s:4:\"type\";s:5:\"array\";}s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"A
  hash of this response.\";s:4:\"type\";s:6:\"string\";}s:11:\"jobComplete\";O:8:\"stdClass\":2:{s:11:\"description\";s:150:\"Whether
  the query has completed or not. If rows or totalRows are present, this will always
  be true. If this is false, totalRows will not be available.\";s:4:\"type\";s:7:\"boolean\";}s:12:\"jobReference\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/JobReference\";s:11:\"description\";s:352:\"Reference
  to the BigQuery Job that was created to run the query. This field will be present
  even if the original request timed out, in which case GetQueryResults can be used
  to read the results once the query has completed. Since this API only returns the
  first page of results, subsequent pages can be fetched via the same mechanism (GetQueryResults).\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:32:\"bigquery#getQueryResultsResponse\";s:11:\"description\";s:34:\"The
  resource type of the response.\";s:4:\"type\";s:6:\"string\";}s:18:\"numDmlAffectedRows\";O:8:\"stdClass\":3:{s:11:\"description\";s:119:\"[Output-only]
  The number of rows affected by a DML statement. Present only for DML statements
  INSERT, UPDATE or DELETE.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:9:\"pageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"A
  token used for paging results.\";s:4:\"type\";s:6:\"string\";}s:4:\"rows\";O:8:\"stdClass\":3:{s:11:\"description\";s:245:\"An
  object with as many results as can be contained within the maximum permitted reply
  size. To get any additional rows, you can call GetQueryResults and specify the jobReference
  returned above. Present only when the query completes successfully.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/TableRow\";}s:4:\"type\";s:5:\"array\";}s:6:\"schema\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/TableSchema\";s:11:\"description\";s:78:\"The
  schema of the results. Present only when the query completes successfully.\";}s:19:\"totalBytesProcessed\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  total number of bytes processed for this query.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:9:\"totalRows\";O:8:\"stdClass\":3:{s:11:\"description\";s:184:\"The
  total number of rows in the complete query result set, which can be more than the
  number of rows in this single page of results. Present only when the query completes
  successfully.\";s:6:\"format\";s:6:\"uint64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:25:\"GetServiceAccountResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  service account email address.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:34:\"bigquery#getServiceAccountResponse\";s:11:\"description\";s:34:\"The
  resource type of the response.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"GoogleSheetsOptions\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"range\";O:8:\"stdClass\":2:{s:11:\"description\";s:102:\"[Experimental]
  [Optional] Range of a sheet to query from. Only used when non-empty. Typical format:
  !:\";s:4:\"type\";s:6:\"string\";}s:15:\"skipLeadingRows\";O:8:\"stdClass\":3:{s:11:\"description\";s:775:\"[Optional]
  The number of rows at the top of a sheet that BigQuery will skip when reading the
  data. The default value is 0. This property is useful if you have header rows that
  should be skipped. When autodetect is on, behavior is the following: * skipLeadingRows
  unspecified - Autodetect tries to detect headers in the first row. If they are not
  detected, the row is read as data. Otherwise data is read starting from the second
  row. * skipLeadingRows is 0 - Instructs autodetect that there are no headers and
  data should be read starting from the first row. * skipLeadingRows = N > 0 - Autodetect
  skips N-1 rows and tries to detect headers in row N. If headers are not detected,
  row N is just skipped. Otherwise row N is used to extract column names for the detected
  schema.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:3:\"Job\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:13:\"configuration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/JobConfiguration\";s:11:\"description\";s:43:\"[Required]
  Describes the job configuration.\";}s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"[Output-only]
  A hash of this resource.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"[Output-only]
  Opaque ID field of the job\";s:4:\"type\";s:6:\"string\";}s:12:\"jobReference\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/JobReference\";s:11:\"description\";s:68:\"[Optional]
  Reference describing the unique-per-user name of the job.\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:12:\"bigquery#job\";s:11:\"description\";s:39:\"[Output-only]
  The type of the resource.\";s:4:\"type\";s:6:\"string\";}s:8:\"selfLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"[Output-only]
  A URL that can be used to access this resource again.\";s:4:\"type\";s:6:\"string\";}s:10:\"statistics\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/JobStatistics\";s:11:\"description\";s:92:\"[Output-only]
  Information about the job, including starting time and ending time of the job.\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/JobStatus\";s:11:\"description\";s:120:\"[Output-only]
  The status of this job. Examine this value when polling an asynchronous job to see
  if the job is complete.\";}s:10:\"user_email\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"[Output-only]
  Email address of the user who ran the job.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"JobCancelResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"job\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Job\";s:11:\"description\";s:27:\"The
  final state of the job.\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:26:\"bigquery#jobCancelResponse\";s:11:\"description\";s:34:\"The
  resource type of the response.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"JobConfiguration\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:4:\"copy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/JobConfigurationTableCopy\";s:11:\"description\";s:26:\"[Pick
  one] Copies a table.\";}s:6:\"dryRun\";O:8:\"stdClass\":2:{s:11:\"description\";s:254:\"[Optional]
  If set, don't actually run this job. A valid query will return a mostly empty response
  with some processing statistics, while an invalid query will return the same error
  it would if it wasn't a dry run. Behavior of non-query jobs is undefined.\";s:4:\"type\";s:7:\"boolean\";}s:7:\"extract\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/JobConfigurationExtract\";s:11:\"description\";s:37:\"[Pick
  one] Configures an extract job.\";}s:12:\"jobTimeoutMs\";O:8:\"stdClass\":3:{s:11:\"description\";s:114:\"[Optional]
  Job timeout in milliseconds. If this time limit is exceeded, BigQuery may attempt
  to terminate the job.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:6:\"labels\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:381:\"The
  labels associated with this job. You can use these to organize and group your jobs.
  Label keys and values can be no longer than 63 characters, can only contain lowercase
  letters, numeric characters, underscores and dashes. International characters are
  allowed. Label values are optional. Label keys must start with a letter and each
  label in the list must have a different key.\";s:4:\"type\";s:6:\"object\";}s:4:\"load\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/JobConfigurationLoad\";s:11:\"description\";s:33:\"[Pick
  one] Configures a load job.\";}s:5:\"query\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/JobConfigurationQuery\";s:11:\"description\";s:34:\"[Pick
  one] Configures a query job.\";}}s:4:\"type\";s:6:\"object\";}s:23:\"JobConfigurationExtract\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:11:\"compression\";O:8:\"stdClass\":2:{s:11:\"description\";s:190:\"[Optional]
  The compression type to use for exported files. Possible values include GZIP, DEFLATE,
  SNAPPY, and NONE. The default value is NONE. DEFLATE and SNAPPY are only supported
  for Avro.\";s:4:\"type\";s:6:\"string\";}s:17:\"destinationFormat\";O:8:\"stdClass\":2:{s:11:\"description\";s:189:\"[Optional]
  The exported file format. Possible values include CSV, NEWLINE_DELIMITED_JSON and
  AVRO. The default value is CSV. Tables with nested or repeated fields cannot be
  exported as CSV.\";s:4:\"type\";s:6:\"string\";}s:14:\"destinationUri\";O:8:\"stdClass\":2:{s:11:\"description\";s:176:\"[Pick
  one] DEPRECATED: Use destinationUris instead, passing only one URI as necessary.
  The fully-qualified Google Cloud Storage URI where the extracted table should be
  written.\";s:4:\"type\";s:6:\"string\";}s:15:\"destinationUris\";O:8:\"stdClass\":3:{s:11:\"description\";s:107:\"[Pick
  one] A list of fully-qualified Google Cloud Storage URIs where the extracted table
  should be written.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:14:\"fieldDelimiter\";O:8:\"stdClass\":2:{s:11:\"description\";s:79:\"[Optional]
  Delimiter to use between fields in the exported data. Default is ','\";s:4:\"type\";s:6:\"string\";}s:11:\"printHeader\";O:8:\"stdClass\":3:{s:7:\"default\";b:1;s:11:\"description\";s:77:\"[Optional]
  Whether to print out a header row in the results. Default is true.\";s:4:\"type\";s:7:\"boolean\";}s:11:\"sourceTable\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/TableReference\";s:11:\"description\";s:51:\"[Required]
  A reference to the table being exported.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"JobConfigurationLoad\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":24:{s:15:\"allowJaggedRows\";O:8:\"stdClass\":2:{s:11:\"description\";s:349:\"[Optional]
  Accept rows that are missing trailing optional columns. The missing values are treated
  as nulls. If false, records with missing trailing columns are treated as bad records,
  and if there are too many bad records, an invalid error is returned in the job result.
  The default value is false. Only applicable to CSV, ignored for other formats.\";s:4:\"type\";s:7:\"boolean\";}s:19:\"allowQuotedNewlines\";O:8:\"stdClass\":2:{s:11:\"description\";s:130:\"Indicates
  if BigQuery should allow quoted data sections that contain newline characters in
  a CSV file. The default value is false.\";s:4:\"type\";s:7:\"boolean\";}s:10:\"autodetect\";O:8:\"stdClass\":2:{s:11:\"description\";s:102:\"[Optional]
  Indicates if we should automatically infer the options and schema for CSV and JSON
  sources.\";s:4:\"type\";s:7:\"boolean\";}s:10:\"clustering\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Clustering\";s:11:\"description\";s:186:\"[Experimental]
  Clustering specification for the destination table. Must be specified with time-based
  partitioning, data in the table will be first partitioned and subsequently clustered.\";}s:17:\"createDisposition\";O:8:\"stdClass\":2:{s:11:\"description\";s:417:\"[Optional]
  Specifies whether the job is allowed to create new tables. The following values
  are supported: CREATE_IF_NEEDED: If the table does not exist, BigQuery creates the
  table. CREATE_NEVER: The table must already exist. If it does not, a 'notFound'
  error is returned in the job result. The default value is CREATE_IF_NEEDED. Creation,
  truncation and append actions occur as one atomic update upon job completion.\";s:4:\"type\";s:6:\"string\";}s:34:\"destinationEncryptionConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/EncryptionConfiguration\";s:11:\"description\";s:55:\"Custom
  encryption configuration (e.g., Cloud KMS keys).\";}s:16:\"destinationTable\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/TableReference\";s:11:\"description\";s:55:\"[Required]
  The destination table to load the data into.\";}s:26:\"destinationTableProperties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/DestinationTableProperties\";s:11:\"description\";s:93:\"[Experimental]
  [Optional] Properties with which to create the destination table if it is new.\";}s:8:\"encoding\";O:8:\"stdClass\":2:{s:11:\"description\";s:249:\"[Optional]
  The character encoding of the data. The supported values are UTF-8 or ISO-8859-1.
  The default value is UTF-8. BigQuery decodes the data after the raw, binary data
  has been split using the values of the quote and fieldDelimiter properties.\";s:4:\"type\";s:6:\"string\";}s:14:\"fieldDelimiter\";O:8:\"stdClass\":2:{s:11:\"description\";s:449:\"[Optional]
  The separator for fields in a CSV file. The separator can be any ISO-8859-1 single-byte
  character. To use a character in the range 128-255, you must encode the character
  as UTF8. BigQuery converts the string to ISO-8859-1 encoding, and then uses the
  first byte of the encoded string to split the data in its raw, binary state. BigQuery
  also supports the escape sequence \"\\t\" to specify a tab separator. The default
  value is a comma (',').\";s:4:\"type\";s:6:\"string\";}s:19:\"ignoreUnknownValues\";O:8:\"stdClass\":2:{s:11:\"description\";s:475:\"[Optional]
  Indicates if BigQuery should allow extra values that are not represented in the
  table schema. If true, the extra values are ignored. If false, records with extra
  columns are treated as bad records, and if there are too many bad records, an invalid
  error is returned in the job result. The default value is false. The sourceFormat
  property determines what BigQuery treats as an extra value: CSV: Trailing columns
  JSON: Named values that don't match any column names\";s:4:\"type\";s:7:\"boolean\";}s:13:\"maxBadRecords\";O:8:\"stdClass\":3:{s:11:\"description\";s:255:\"[Optional]
  The maximum number of bad records that BigQuery can ignore when running the job.
  If the number of bad records exceeds this value, an invalid error is returned in
  the job result. The default value is 0, which requires that all records are valid.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"nullMarker\";O:8:\"stdClass\":2:{s:11:\"description\";s:443:\"[Optional]
  Specifies a string that represents a null value in a CSV file. For example, if you
  specify \"\\N\", BigQuery interprets \"\\N\" as a null value when loading a CSV
  file. The default value is the empty string. If you set this property to a custom
  value, BigQuery throws an error if an empty string is present for all data types
  except for STRING and BYTE. For STRING and BYTE columns, BigQuery interprets the
  empty string as an empty value.\";s:4:\"type\";s:6:\"string\";}s:16:\"projectionFields\";O:8:\"stdClass\":3:{s:11:\"description\";s:376:\"If
  sourceFormat is set to \"DATASTORE_BACKUP\", indicates which entity properties to
  load into BigQuery from a Cloud Datastore backup. Property names are case sensitive
  and must be top-level properties. If no properties are specified, BigQuery loads
  all properties. If any named property isn't found in the Cloud Datastore backup,
  an invalid error is returned in the job result.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:5:\"quote\";O:8:\"stdClass\":4:{s:7:\"default\";s:1:\"\"\";s:11:\"description\";s:461:\"[Optional]
  The value that is used to quote data sections in a CSV file. BigQuery converts the
  string to ISO-8859-1 encoding, and then uses the first byte of the encoded string
  to split the data in its raw, binary state. The default value is a double-quote
  ('\"'). If your data does not contain quoted sections, set the property value to
  an empty string. If your data contains quoted newline characters, you must also
  set the allowQuotedNewlines property to true.\";s:7:\"pattern\";s:2:\".?\";s:4:\"type\";s:6:\"string\";}s:6:\"schema\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/TableSchema\";s:11:\"description\";s:170:\"[Optional]
  The schema for the destination table. The schema can be omitted if the destination
  table already exists, or if you're loading data from Google Cloud Datastore.\";}s:12:\"schemaInline\";O:8:\"stdClass\":2:{s:11:\"description\";s:142:\"[Deprecated]
  The inline schema. For CSV schemas, specify as \"Field1:Type1[,Field2:Type2]*\".
  For example, \"foo:STRING, bar:INTEGER, baz:FLOAT\".\";s:4:\"type\";s:6:\"string\";}s:18:\"schemaInlineFormat\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"[Deprecated]
  The format of the schemaInline property.\";s:4:\"type\";s:6:\"string\";}s:19:\"schemaUpdateOptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:650:\"Allows
  the schema of the destination table to be updated as a side effect of the load job
  if a schema is autodetected or supplied in the job configuration. Schema update
  options are supported in two cases: when writeDisposition is WRITE_APPEND; when
  writeDisposition is WRITE_TRUNCATE and the destination table is a partition of a
  table, specified by partition decorators. For normal tables, WRITE_TRUNCATE will
  always overwrite the schema. One or more of the following values are specified:
  ALLOW_FIELD_ADDITION: allow adding a nullable field to the schema. ALLOW_FIELD_RELAXATION:
  allow relaxing a required field in the original schema to nullable.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:15:\"skipLeadingRows\";O:8:\"stdClass\":3:{s:11:\"description\";s:209:\"[Optional]
  The number of rows at the top of a CSV file that BigQuery will skip when loading
  the data. The default value is 0. This property is useful if you have header rows
  in the file that should be skipped.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"sourceFormat\";O:8:\"stdClass\":2:{s:11:\"description\";s:291:\"[Optional]
  The format of the data files. For CSV files, specify \"CSV\". For datastore backups,
  specify \"DATASTORE_BACKUP\". For newline-delimited JSON, specify \"NEWLINE_DELIMITED_JSON\".
  For Avro, specify \"AVRO\". For parquet, specify \"PARQUET\". For orc, specify \"ORC\".
  The default value is CSV.\";s:4:\"type\";s:6:\"string\";}s:10:\"sourceUris\";O:8:\"stdClass\":3:{s:11:\"description\";s:533:\"[Required]
  The fully-qualified URIs that point to your data in Google Cloud. For Google Cloud
  Storage URIs: Each URI can contain one '*' wildcard character and it must come after
  the 'bucket' name. Size limits related to load jobs apply to external data sources.
  For Google Cloud Bigtable URIs: Exactly one URI can be specified and it has be a
  fully specified and valid HTTPS URL for a Google Cloud Bigtable table. For Google
  Cloud Datastore backups: Exactly one URI can be specified. Also, the '*' wildcard
  character is not allowed.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:16:\"timePartitioning\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/TimePartitioning\";s:11:\"description\";s:64:\"Time-based
  partitioning specification for the destination table.\";}s:16:\"writeDisposition\";O:8:\"stdClass\":2:{s:11:\"description\";s:610:\"[Optional]
  Specifies the action that occurs if the destination table already exists. The following
  values are supported: WRITE_TRUNCATE: If the table already exists, BigQuery overwrites
  the table data. WRITE_APPEND: If the table already exists, BigQuery appends the
  data to the table. WRITE_EMPTY: If the table already exists and contains data, a
  'duplicate' error is returned in the job result. The default value is WRITE_APPEND.
  Each action is atomic and only occurs if BigQuery is able to complete the job successfully.
  Creation, truncation and append actions occur as one atomic update upon job completion.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"JobConfigurationQuery\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":21:{s:17:\"allowLargeResults\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:373:\"[Optional]
  If true and query uses legacy SQL dialect, allows the query to produce arbitrarily
  large result tables at a slight cost in performance. Requires destinationTable to
  be set. For standard SQL queries, this flag is ignored and large results are always
  allowed. However, you must still set destinationTable when result size exceeds the
  allowed maximum response size.\";s:4:\"type\";s:7:\"boolean\";}s:10:\"clustering\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Clustering\";s:11:\"description\";s:186:\"[Experimental]
  Clustering specification for the destination table. Must be specified with time-based
  partitioning, data in the table will be first partitioned and subsequently clustered.\";}s:17:\"createDisposition\";O:8:\"stdClass\":2:{s:11:\"description\";s:417:\"[Optional]
  Specifies whether the job is allowed to create new tables. The following values
  are supported: CREATE_IF_NEEDED: If the table does not exist, BigQuery creates the
  table. CREATE_NEVER: The table must already exist. If it does not, a 'notFound'
  error is returned in the job result. The default value is CREATE_IF_NEEDED. Creation,
  truncation and append actions occur as one atomic update upon job completion.\";s:4:\"type\";s:6:\"string\";}s:14:\"defaultDataset\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/DatasetReference\";s:11:\"description\";s:89:\"[Optional]
  Specifies the default dataset to use for unqualified table names in the query.\";}s:34:\"destinationEncryptionConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/EncryptionConfiguration\";s:11:\"description\";s:55:\"Custom
  encryption configuration (e.g., Cloud KMS keys).\";}s:16:\"destinationTable\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/TableReference\";s:11:\"description\";s:221:\"[Optional]
  Describes the table where the query results should be stored. If not present, a
  new table will be created to store the results. This property must be set for large
  results that exceed the maximum response size.\";}s:14:\"flattenResults\";O:8:\"stdClass\":3:{s:7:\"default\";b:1;s:11:\"description\";s:251:\"[Optional]
  If true and query uses legacy SQL dialect, flattens all nested and repeated fields
  in the query results. allowLargeResults must be true if this is set to false. For
  standard SQL queries, this flag is ignored and results are never flattened.\";s:4:\"type\";s:7:\"boolean\";}s:18:\"maximumBillingTier\";O:8:\"stdClass\":4:{s:7:\"default\";i:1;s:11:\"description\";s:196:\"[Optional]
  Limits the billing tier for this job. Queries that have resource usage beyond this
  tier will fail (without incurring a charge). If unspecified, this will be set to
  your project default.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:18:\"maximumBytesBilled\";O:8:\"stdClass\":3:{s:11:\"description\";s:200:\"[Optional]
  Limits the bytes billed for this job. Queries that will have bytes billed beyond
  this limit will fail (without incurring a charge). If unspecified, this will be
  set to your project default.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:13:\"parameterMode\";O:8:\"stdClass\":2:{s:11:\"description\";s:143:\"Standard
  SQL only. Set to POSITIONAL to use positional (?) query parameters or to NAMED to
  use named (@myparam) query parameters in this query.\";s:4:\"type\";s:6:\"string\";}s:13:\"preserveNulls\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"[Deprecated]
  This property is deprecated.\";s:4:\"type\";s:7:\"boolean\";}s:8:\"priority\";O:8:\"stdClass\":2:{s:11:\"description\";s:127:\"[Optional]
  Specifies a priority for the query. Possible values include INTERACTIVE and BATCH.
  The default value is INTERACTIVE.\";s:4:\"type\";s:6:\"string\";}s:5:\"query\";O:8:\"stdClass\":2:{s:11:\"description\";s:135:\"[Required]
  SQL query text to execute. The useLegacySql field can be used to indicate whether
  the query uses legacy SQL or standard SQL.\";s:4:\"type\";s:6:\"string\";}s:15:\"queryParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Query
  parameters for standard SQL queries.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/QueryParameter\";}s:4:\"type\";s:5:\"array\";}s:19:\"schemaUpdateOptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:586:\"Allows
  the schema of the destination table to be updated as a side effect of the query
  job. Schema update options are supported in two cases: when writeDisposition is
  WRITE_APPEND; when writeDisposition is WRITE_TRUNCATE and the destination table
  is a partition of a table, specified by partition decorators. For normal tables,
  WRITE_TRUNCATE will always overwrite the schema. One or more of the following values
  are specified: ALLOW_FIELD_ADDITION: allow adding a nullable field to the schema.
  ALLOW_FIELD_RELAXATION: allow relaxing a required field in the original schema to
  nullable.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:16:\"tableDefinitions\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/ExternalDataConfiguration\";}s:11:\"description\";s:251:\"[Optional]
  If querying an external data source outside of BigQuery, describes the data format,
  location and other properties of the data source. By defining these properties,
  the data source can then be queried as if it were a standard BigQuery table.\";s:4:\"type\";s:6:\"object\";}s:16:\"timePartitioning\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/TimePartitioning\";s:11:\"description\";s:64:\"Time-based
  partitioning specification for the destination table.\";}s:12:\"useLegacySql\";O:8:\"stdClass\":3:{s:7:\"default\";b:1;s:11:\"description\";s:331:\"Specifies
  whether to use BigQuery's legacy SQL dialect for this query. The default value is
  true. If set to false, the query will use BigQuery's standard SQL: https://cloud.google.com/bigquery/sql-reference/
  When useLegacySql is set to false, the value of flattenResults is ignored; query
  will be run as if flattenResults is false.\";s:4:\"type\";s:7:\"boolean\";}s:13:\"useQueryCache\";O:8:\"stdClass\":3:{s:7:\"default\";b:1;s:11:\"description\";s:293:\"[Optional]
  Whether to look for the result in the query cache. The query cache is a best-effort
  cache that will be flushed whenever tables in the query are modified. Moreover,
  the query cache is only available when a query does not have a destination table
  specified. The default value is true.\";s:4:\"type\";s:7:\"boolean\";}s:28:\"userDefinedFunctionResources\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"Describes
  user-defined function resources used in the query.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/UserDefinedFunctionResource\";}s:4:\"type\";s:5:\"array\";}s:16:\"writeDisposition\";O:8:\"stdClass\":2:{s:11:\"description\";s:651:\"[Optional]
  Specifies the action that occurs if the destination table already exists. The following
  values are supported: WRITE_TRUNCATE: If the table already exists, BigQuery overwrites
  the table data and uses the schema from the query result. WRITE_APPEND: If the table
  already exists, BigQuery appends the data to the table. WRITE_EMPTY: If the table
  already exists and contains data, a 'duplicate' error is returned in the job result.
  The default value is WRITE_EMPTY. Each action is atomic and only occurs if BigQuery
  is able to complete the job successfully. Creation, truncation and append actions
  occur as one atomic update upon job completion.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:25:\"JobConfigurationTableCopy\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:17:\"createDisposition\";O:8:\"stdClass\":2:{s:11:\"description\";s:417:\"[Optional]
  Specifies whether the job is allowed to create new tables. The following values
  are supported: CREATE_IF_NEEDED: If the table does not exist, BigQuery creates the
  table. CREATE_NEVER: The table must already exist. If it does not, a 'notFound'
  error is returned in the job result. The default value is CREATE_IF_NEEDED. Creation,
  truncation and append actions occur as one atomic update upon job completion.\";s:4:\"type\";s:6:\"string\";}s:34:\"destinationEncryptionConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/EncryptionConfiguration\";s:11:\"description\";s:55:\"Custom
  encryption configuration (e.g., Cloud KMS keys).\";}s:16:\"destinationTable\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/TableReference\";s:11:\"description\";s:32:\"[Required]
  The destination table\";}s:11:\"sourceTable\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/TableReference\";s:11:\"description\";s:32:\"[Pick
  one] Source table to copy.\";}s:12:\"sourceTables\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"[Pick
  one] Source tables to copy.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/TableReference\";}s:4:\"type\";s:5:\"array\";}s:16:\"writeDisposition\";O:8:\"stdClass\":2:{s:11:\"description\";s:609:\"[Optional]
  Specifies the action that occurs if the destination table already exists. The following
  values are supported: WRITE_TRUNCATE: If the table already exists, BigQuery overwrites
  the table data. WRITE_APPEND: If the table already exists, BigQuery appends the
  data to the table. WRITE_EMPTY: If the table already exists and contains data, a
  'duplicate' error is returned in the job result. The default value is WRITE_EMPTY.
  Each action is atomic and only occurs if BigQuery is able to complete the job successfully.
  Creation, truncation and append actions occur as one atomic update upon job completion.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"JobList\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"A
  hash of this page of results.\";s:4:\"type\";s:6:\"string\";}s:4:\"jobs\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"List
  of jobs that were requested.\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:13:\"configuration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/JobConfiguration\";s:11:\"description\";s:55:\"[Full-projection-only]
  Specifies the job configuration.\";}s:11:\"errorResult\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ErrorProto\";s:11:\"description\";s:64:\"A
  result object that will be present only if the job has failed.\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Unique
  opaque ID of the job.\";s:4:\"type\";s:6:\"string\";}s:12:\"jobReference\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/JobReference\";s:11:\"description\";s:43:\"Job
  reference uniquely identifying the job.\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:12:\"bigquery#job\";s:11:\"description\";s:18:\"The
  resource type.\";s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":2:{s:11:\"description\";s:126:\"Running
  state of the job. When the state is DONE, errorResult can be checked to determine
  whether the job succeeded or failed.\";s:4:\"type\";s:6:\"string\";}s:10:\"statistics\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/JobStatistics\";s:11:\"description\";s:92:\"[Output-only]
  Information about the job, including starting time and ending time of the job.\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/JobStatus\";s:11:\"description\";s:54:\"[Full-projection-only]
  Describes the state of the job.\";}s:10:\"user_email\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"[Full-projection-only]
  Email address of the user who ran the job.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:16:\"bigquery#jobList\";s:11:\"description\";s:34:\"The
  resource type of the response.\";s:4:\"type\";s:6:\"string\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"A
  token to request the next page of results.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"JobReference\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"jobId\";O:8:\"stdClass\":2:{s:11:\"description\";s:161:\"[Required]
  The ID of the job. The ID must contain only letters (a-z, A-Z), numbers (0-9), underscores
  (_), or dashes (-). The maximum length is 1,024 characters.\";s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:179:\"[Experimental]
  The geographic location of the job. Required except for US and EU. See details at
  https://cloud.google.com/bigquery/docs/dataset-locations#specifying_your_location.\";s:4:\"type\";s:6:\"string\";}s:9:\"projectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"[Required]
  The ID of the project containing this job.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"JobStatistics\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:15:\"completionRatio\";O:8:\"stdClass\":3:{s:11:\"description\";s:81:\"[Experimental]
  [Output-only] Job progress (0.0 -> 1.0) for LOAD and EXTRACT jobs.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:12:\"creationTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:113:\"[Output-only]
  Creation time of this job, in milliseconds since the epoch. This field will be present
  on all jobs.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:7:\"endTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:132:\"[Output-only]
  End time of this job, in milliseconds since the epoch. This field will be present
  whenever a job is in the DONE state.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:7:\"extract\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/JobStatistics4\";s:11:\"description\";s:44:\"[Output-only]
  Statistics for an extract job.\";}s:4:\"load\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/JobStatistics3\";s:11:\"description\";s:40:\"[Output-only]
  Statistics for a load job.\";}s:5:\"query\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/JobStatistics2\";s:11:\"description\";s:41:\"[Output-only]
  Statistics for a query job.\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:172:\"[Output-only]
  Start time of this job, in milliseconds since the epoch. This field will be present
  when the job transitions from the PENDING state to either RUNNING or DONE.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:19:\"totalBytesProcessed\";O:8:\"stdClass\":3:{s:11:\"description\";s:83:\"[Output-only]
  [Deprecated] Use the bytes processed in the query statistics instead.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"JobStatistics2\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":17:{s:11:\"billingTier\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"[Output-only]
  Billing tier for the job.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"cacheHit\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"[Output-only]
  Whether the query result was fetched from the query cache.\";s:4:\"type\";s:7:\"boolean\";}s:21:\"ddlOperationPerformed\";O:8:\"stdClass\":2:{s:11:\"description\";s:559:\"[Output-only,
  Experimental] The DDL operation performed, possibly dependent on the pre-existence
  of the DDL target. Possible values (new values might be added in the future): \"CREATE\":
  The query created the DDL target. \"SKIP\": No-op. Example cases: the query is CREATE
  TABLE IF NOT EXISTS while the table already exists, or the query is DROP TABLE IF
  EXISTS while the table does not exist. \"REPLACE\": The query replaced the DDL target.
  Example case: the query is CREATE OR REPLACE TABLE, and the table already exists.
  \"DROP\": The query deleted the DDL target.\";s:4:\"type\";s:6:\"string\";}s:14:\"ddlTargetTable\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/TableReference\";s:11:\"description\";s:98:\"[Output-only,
  Experimental] The DDL target table. Present only for CREATE/DROP TABLE/VIEW queries.\";}s:23:\"estimatedBytesProcessed\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"[Output-only]
  The original estimate of bytes processed for the job.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:18:\"numDmlAffectedRows\";O:8:\"stdClass\":3:{s:11:\"description\";s:119:\"[Output-only]
  The number of rows affected by a DML statement. Present only for DML statements
  INSERT, UPDATE or DELETE.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:9:\"queryPlan\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"[Output-only]
  Describes execution plan for the query.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ExplainQueryStage\";}s:4:\"type\";s:5:\"array\";}s:16:\"referencedTables\";O:8:\"stdClass\":3:{s:11:\"description\";s:118:\"[Output-only]
  Referenced tables for the job. Queries that reference more than 50 tables will not
  have a complete list.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/TableReference\";}s:4:\"type\";s:5:\"array\";}s:16:\"reservationUsage\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"[Output-only]
  Job resource usage breakdown by reservation.\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"[Output-only]
  Reservation name or \"unreserved\" for on-demand resources usage.\";s:4:\"type\";s:6:\"string\";}s:6:\"slotMs\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"[Output-only]
  Slot-milliseconds the job spent in the given reservation.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:6:\"schema\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/TableSchema\";s:11:\"description\";s:103:\"[Output-only]
  The schema of the results. Present only for successful dry run of non-legacy SQL
  queries.\";}s:13:\"statementType\";O:8:\"stdClass\":2:{s:11:\"description\";s:751:\"[Output-only,
  Experimental] The type of query statement, if valid. Possible values (new values
  might be added in the future): \"SELECT\": SELECT query. \"INSERT\": INSERT query;
  see https://cloud.google.com/bigquery/docs/reference/standard-sql/data-manipulation-language
  \"UPDATE\": UPDATE query; see https://cloud.google.com/bigquery/docs/reference/standard-sql/data-manipulation-language
  \"DELETE\": DELETE query; see https://cloud.google.com/bigquery/docs/reference/standard-sql/data-manipulation-language
  \"CREATE_TABLE\": CREATE [OR REPLACE] TABLE without AS SELECT. \"CREATE_TABLE_AS_SELECT\":
  CREATE [OR REPLACE] TABLE ... AS SELECT ... \"DROP_TABLE\": DROP TABLE query. \"CREATE_VIEW\":
  CREATE [OR REPLACE] VIEW ... AS SELECT ... \"DROP_VIEW\": DROP VIEW query.\";s:4:\"type\";s:6:\"string\";}s:8:\"timeline\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"[Output-only]
  [Experimental] Describes a timeline of job execution.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/QueryTimelineSample\";}s:4:\"type\";s:5:\"array\";}s:16:\"totalBytesBilled\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"[Output-only]
  Total bytes billed for the job.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:19:\"totalBytesProcessed\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"[Output-only]
  Total bytes processed for the job.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:24:\"totalPartitionsProcessed\";O:8:\"stdClass\":3:{s:11:\"description\";s:101:\"[Output-only]
  Total number of partitions processed from all partitioned tables referenced in the
  job.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:11:\"totalSlotMs\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"[Output-only]
  Slot-milliseconds for the job.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:25:\"undeclaredQueryParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:120:\"[Output-only,
  Experimental] Standard SQL only: list of undeclared query parameters detected during
  a dry run validation.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/QueryParameter\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:14:\"JobStatistics3\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"badRecords\";O:8:\"stdClass\":3:{s:11:\"description\";s:273:\"[Output-only]
  The number of bad records encountered. Note that if the job has failed because of
  more bad records encountered than the maximum allowed in the load job configuration,
  then this number can be less than the total number of bad records present in the
  input data.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:14:\"inputFileBytes\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"[Output-only]
  Number of bytes of source data in a load job.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:10:\"inputFiles\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"[Output-only]
  Number of source files in a load job.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:11:\"outputBytes\";O:8:\"stdClass\":3:{s:11:\"description\";s:122:\"[Output-only]
  Size of the loaded data in bytes. Note that while a load job is in the running state,
  this value may change.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:10:\"outputRows\";O:8:\"stdClass\":3:{s:11:\"description\";s:130:\"[Output-only]
  Number of rows imported in a load job. Note that while an import job is in the running
  state, this value may change.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"JobStatistics4\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:24:\"destinationUriFileCounts\";O:8:\"stdClass\":3:{s:11:\"description\";s:197:\"[Output-only]
  Number of files per destination URI or URI pattern specified in the extract configuration.
  These values will be in the same order as the URIs specified in the 'destinationUris'
  field.\";s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:9:\"JobStatus\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"errorResult\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ErrorProto\";s:11:\"description\";s:115:\"[Output-only]
  Final error result of the job. If present, indicates that the job has completed
  and was unsuccessful.\";}s:6:\"errors\";O:8:\"stdClass\":3:{s:11:\"description\";s:238:\"[Output-only]
  The first errors encountered during the running of the job. The final message includes
  the number of errors that caused the process to stop. Errors here do not necessarily
  mean that the job has completed or was unsuccessful.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/ErrorProto\";}s:4:\"type\";s:5:\"array\";}s:5:\"state\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"[Output-only]
  Running state of the job.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"JsonObject\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/JsonValue\";}s:11:\"description\";s:32:\"Represents
  a single JSON object.\";s:4:\"type\";s:6:\"object\";}s:9:\"JsonValue\";O:8:\"stdClass\":0:{}s:11:\"ProjectList\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"A
  hash of the page of results\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:20:\"bigquery#projectList\";s:11:\"description\";s:17:\"The
  type of list.\";s:4:\"type\";s:6:\"string\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"A
  token to request the next page of results.\";s:4:\"type\";s:6:\"string\";}s:8:\"projects\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Projects
  to which you have at least READ access.\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"friendlyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"A
  descriptive name for this project.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"An
  opaque ID of this project.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:16:\"bigquery#project\";s:11:\"description\";s:18:\"The
  resource type.\";s:4:\"type\";s:6:\"string\";}s:9:\"numericId\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  numeric ID of this project.\";s:6:\"format\";s:6:\"uint64\";s:4:\"type\";s:6:\"string\";}s:16:\"projectReference\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ProjectReference\";s:11:\"description\";s:35:\"A
  unique reference to this project.\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:10:\"totalItems\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  total number of projects in the list.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:16:\"ProjectReference\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"projectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:93:\"[Required]
  ID of the project. Can be either the numeric ID or the assigned ID of the project.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"QueryParameter\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:96:\"[Optional]
  If unset, this is a positional parameter. Otherwise, should be unique within a query.\";s:4:\"type\";s:6:\"string\";}s:13:\"parameterType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/QueryParameterType\";s:11:\"description\";s:38:\"[Required]
  The type of this parameter.\";}s:14:\"parameterValue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/QueryParameterValue\";s:11:\"description\";s:39:\"[Required]
  The value of this parameter.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"QueryParameterType\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"arrayType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/QueryParameterType\";s:11:\"description\";s:65:\"[Optional]
  The type of the array's elements, if this is an array.\";}s:11:\"structTypes\";O:8:\"stdClass\":3:{s:11:\"description\";s:81:\"[Optional]
  The types of the fields of this struct, in order, if this is a struct.\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"[Optional]
  Human-oriented description of the field.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"[Optional]
  The name of this field.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/QueryParameterType\";s:11:\"description\";s:34:\"[Required]
  The type of this field.\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"[Required]
  The top level type of this field.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"QueryParameterValue\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"arrayValues\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"[Optional]
  The array values, if this is an array type.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/QueryParameterValue\";}s:4:\"type\";s:5:\"array\";}s:12:\"structValues\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/QueryParameterValue\";}s:11:\"description\";s:78:\"[Optional]
  The struct field values, in order of the struct type's declaration.\";s:4:\"type\";s:6:\"object\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"[Optional]
  The value of this value, if a simple scalar type.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"QueryRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":12:{s:14:\"defaultDataset\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/DatasetReference\";s:11:\"description\";s:213:\"[Optional]
  Specifies the default datasetId and projectId to assume for any unqualified table
  names in the query. If not set, all table names in the query string must be qualified
  in the format 'datasetId.tableId'.\";}s:6:\"dryRun\";O:8:\"stdClass\":2:{s:11:\"description\";s:244:\"[Optional]
  If set to true, BigQuery doesn't run the job. Instead, if the query is valid, BigQuery
  returns statistics about the job such as how many bytes would be processed. If the
  query is invalid, an error returns. The default value is false.\";s:4:\"type\";s:7:\"boolean\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:21:\"bigquery#queryRequest\";s:11:\"description\";s:33:\"The
  resource type of the request.\";s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:95:\"[Experimental]
  The geographic location where the job should run. Required except for US and EU.\";s:4:\"type\";s:6:\"string\";}s:10:\"maxResults\";O:8:\"stdClass\":3:{s:11:\"description\";s:358:\"[Optional]
  The maximum number of rows of data to return per page of results. Setting this flag
  to a small value such as 1000 and then paging through results might improve reliability
  when the query result set is large. In addition to this limit, responses are also
  limited to 10 MB. By default, there is no maximum row count, and only the byte limit
  applies.\";s:6:\"format\";s:6:\"uint32\";s:4:\"type\";s:7:\"integer\";}s:13:\"parameterMode\";O:8:\"stdClass\":2:{s:11:\"description\";s:143:\"Standard
  SQL only. Set to POSITIONAL to use positional (?) query parameters or to NAMED to
  use named (@myparam) query parameters in this query.\";s:4:\"type\";s:6:\"string\";}s:13:\"preserveNulls\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"[Deprecated]
  This property is deprecated.\";s:4:\"type\";s:7:\"boolean\";}s:5:\"query\";O:8:\"stdClass\":2:{s:11:\"description\";s:158:\"[Required]
  A query string, following the BigQuery query syntax, of the query to execute. Example:
  \"SELECT count(f1) FROM [myProjectId:myDatasetId.myTableId]\".\";s:4:\"type\";s:6:\"string\";}s:15:\"queryParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Query
  parameters for Standard SQL queries.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/QueryParameter\";}s:4:\"type\";s:5:\"array\";}s:9:\"timeoutMs\";O:8:\"stdClass\":3:{s:11:\"description\";s:459:\"[Optional]
  How long to wait for the query to complete, in milliseconds, before the request
  times out and returns. Note that this is only a timeout for the request, not the
  query. If the query takes longer to run than the timeout value, the call returns
  without any results and with the 'jobComplete' flag set to false. You can call GetQueryResults()
  to wait for the query to complete and read the results. The default value is 10000
  milliseconds (10 seconds).\";s:6:\"format\";s:6:\"uint32\";s:4:\"type\";s:7:\"integer\";}s:12:\"useLegacySql\";O:8:\"stdClass\":3:{s:7:\"default\";b:1;s:11:\"description\";s:331:\"Specifies
  whether to use BigQuery's legacy SQL dialect for this query. The default value is
  true. If set to false, the query will use BigQuery's standard SQL: https://cloud.google.com/bigquery/sql-reference/
  When useLegacySql is set to false, the value of flattenResults is ignored; query
  will be run as if flattenResults is false.\";s:4:\"type\";s:7:\"boolean\";}s:13:\"useQueryCache\";O:8:\"stdClass\":3:{s:7:\"default\";b:1;s:11:\"description\";s:191:\"[Optional]
  Whether to look for the result in the query cache. The query cache is a best-effort
  cache that will be flushed whenever tables in the query are modified. The default
  value is true.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:13:\"QueryResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":11:{s:8:\"cacheHit\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"Whether
  the query result was fetched from the query cache.\";s:4:\"type\";s:7:\"boolean\";}s:6:\"errors\";O:8:\"stdClass\":3:{s:11:\"description\";s:250:\"[Output-only]
  The first errors or warnings encountered during the running of the job. The final
  message includes the number of errors that caused the process to stop. Errors here
  do not necessarily mean that the job has completed or was unsuccessful.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/ErrorProto\";}s:4:\"type\";s:5:\"array\";}s:11:\"jobComplete\";O:8:\"stdClass\":2:{s:11:\"description\";s:150:\"Whether
  the query has completed or not. If rows or totalRows are present, this will always
  be true. If this is false, totalRows will not be available.\";s:4:\"type\";s:7:\"boolean\";}s:12:\"jobReference\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/JobReference\";s:11:\"description\";s:343:\"Reference
  to the Job that was created to run the query. This field will be present even if
  the original request timed out, in which case GetQueryResults can be used to read
  the results once the query has completed. Since this API only returns the first
  page of results, subsequent pages can be fetched via the same mechanism (GetQueryResults).\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:22:\"bigquery#queryResponse\";s:11:\"description\";s:18:\"The
  resource type.\";s:4:\"type\";s:6:\"string\";}s:18:\"numDmlAffectedRows\";O:8:\"stdClass\":3:{s:11:\"description\";s:119:\"[Output-only]
  The number of rows affected by a DML statement. Present only for DML statements
  INSERT, UPDATE or DELETE.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:9:\"pageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"A
  token used for paging results.\";s:4:\"type\";s:6:\"string\";}s:4:\"rows\";O:8:\"stdClass\":3:{s:11:\"description\";s:193:\"An
  object with as many results as can be contained within the maximum permitted reply
  size. To get any additional rows, you can call GetQueryResults and specify the jobReference
  returned above.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/TableRow\";}s:4:\"type\";s:5:\"array\";}s:6:\"schema\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/TableSchema\";s:11:\"description\";s:78:\"The
  schema of the results. Present only when the query completes successfully.\";}s:19:\"totalBytesProcessed\";O:8:\"stdClass\":3:{s:11:\"description\";s:155:\"The
  total number of bytes processed for this query. If this query was a dry run, this
  is the number of bytes that would be processed if the query were run.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:9:\"totalRows\";O:8:\"stdClass\":3:{s:11:\"description\";s:132:\"The
  total number of rows in the complete query result set, which can be more than the
  number of rows in this single page of results.\";s:6:\"format\";s:6:\"uint64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"QueryTimelineSample\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"activeUnits\";O:8:\"stdClass\":3:{s:11:\"description\";s:166:\"Total
  number of units currently being processed by workers. This does not correspond directly
  to slot usage. This is the largest value observed since the last sample.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:14:\"completedUnits\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Total
  parallel units of work completed by this query.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:9:\"elapsedMs\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Milliseconds
  elapsed since the start of query execution.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:12:\"pendingUnits\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"Total
  parallel units of work remaining for the active stages.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:11:\"totalSlotMs\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Cumulative
  slot-ms consumed by the query.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"Streamingbuffer\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"estimatedBytes\";O:8:\"stdClass\":3:{s:11:\"description\";s:94:\"[Output-only]
  A lower-bound estimate of the number of bytes currently in the streaming buffer.\";s:6:\"format\";s:6:\"uint64\";s:4:\"type\";s:6:\"string\";}s:13:\"estimatedRows\";O:8:\"stdClass\":3:{s:11:\"description\";s:93:\"[Output-only]
  A lower-bound estimate of the number of rows currently in the streaming buffer.\";s:6:\"format\";s:6:\"uint64\";s:4:\"type\";s:6:\"string\";}s:15:\"oldestEntryTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:152:\"[Output-only]
  Contains the timestamp of the oldest entry in the streaming buffer, in milliseconds
  since the epoch, if the streaming buffer is available.\";s:6:\"format\";s:6:\"uint64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Table\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":23:{s:10:\"clustering\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Clustering\";s:11:\"description\";s:174:\"[Experimental]
  Clustering specification for the table. Must be specified with time-based partitioning,
  data in the table will be first partitioned and subsequently clustered.\";}s:12:\"creationTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:84:\"[Output-only]
  The time when this table was created, in milliseconds since the epoch.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"[Optional]
  A user-friendly description of this table.\";s:4:\"type\";s:6:\"string\";}s:23:\"encryptionConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/EncryptionConfiguration\";s:11:\"description\";s:55:\"Custom
  encryption configuration (e.g., Cloud KMS keys).\";}s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"[Output-only]
  A hash of this resource.\";s:4:\"type\";s:6:\"string\";}s:14:\"expirationTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:326:\"[Optional]
  The time when this table expires, in milliseconds since the epoch. If not present,
  the table will persist indefinitely. Expired tables will be deleted and their storage
  reclaimed. The defaultTableExpirationMs property of the encapsulating dataset can
  be used to set a default expirationTime on newly created tables.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:25:\"externalDataConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/ExternalDataConfiguration\";s:11:\"description\";s:214:\"[Optional]
  Describes the data format, location, and other properties of a table stored outside
  of BigQuery. By defining these properties, the data source can then be queried as
  if it were a standard BigQuery table.\";}s:12:\"friendlyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"[Optional]
  A descriptive name for this table.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"[Output-only]
  An opaque ID uniquely identifying the table.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:14:\"bigquery#table\";s:11:\"description\";s:39:\"[Output-only]
  The type of the resource.\";s:4:\"type\";s:6:\"string\";}s:6:\"labels\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:385:\"The
  labels associated with this table. You can use these to organize and group your
  tables. Label keys and values can be no longer than 63 characters, can only contain
  lowercase letters, numeric characters, underscores and dashes. International characters
  are allowed. Label values are optional. Label keys must start with a letter and
  each label in the list must have a different key.\";s:4:\"type\";s:6:\"object\";}s:16:\"lastModifiedTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:90:\"[Output-only]
  The time when this table was last modified, in milliseconds since the epoch.\";s:6:\"format\";s:6:\"uint64\";s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:104:\"[Output-only]
  The geographic location where the table resides. This value is inherited from the
  dataset.\";s:4:\"type\";s:6:\"string\";}s:8:\"numBytes\";O:8:\"stdClass\":3:{s:11:\"description\";s:90:\"[Output-only]
  The size of this table in bytes, excluding any data in the streaming buffer.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:16:\"numLongTermBytes\";O:8:\"stdClass\":3:{s:11:\"description\";s:87:\"[Output-only]
  The number of bytes in the table that are considered \"long-term storage\".\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:7:\"numRows\";O:8:\"stdClass\":3:{s:11:\"description\";s:99:\"[Output-only]
  The number of rows of data in this table, excluding any data in the streaming buffer.\";s:6:\"format\";s:6:\"uint64\";s:4:\"type\";s:6:\"string\";}s:6:\"schema\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/TableSchema\";s:11:\"description\";s:46:\"[Optional]
  Describes the schema of this table.\";}s:8:\"selfLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"[Output-only]
  A URL that can be used to access this resource again.\";s:4:\"type\";s:6:\"string\";}s:15:\"streamingBuffer\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/Streamingbuffer\";s:11:\"description\";s:206:\"[Output-only]
  Contains information regarding this table's streaming buffer, if one is present.
  This field will be absent if the table is not being streamed to or if there is no
  data in the streaming buffer.\";}s:14:\"tableReference\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/TableReference\";s:11:\"description\";s:53:\"[Required]
  Reference describing the ID of this table.\";}s:16:\"timePartitioning\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/TimePartitioning\";s:11:\"description\";s:53:\"Time-based
  partitioning specification for this table.\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:288:\"[Output-only]
  Describes the table type. The following values are supported: TABLE: A normal BigQuery
  table. VIEW: A virtual table defined by a SQL query. EXTERNAL: A table that references
  data stored in an external storage system, such as Google Cloud Storage. The default
  value is TABLE.\";s:4:\"type\";s:6:\"string\";}s:4:\"view\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ViewDefinition\";s:11:\"description\";s:31:\"[Optional]
  The view definition.\";}}s:4:\"type\";s:6:\"object\";}s:9:\"TableCell\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:1:\"v\";O:8:\"stdClass\":0:{}}s:4:\"type\";s:6:\"object\";}s:25:\"TableDataInsertAllRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:19:\"ignoreUnknownValues\";O:8:\"stdClass\":2:{s:11:\"description\";s:161:\"[Optional]
  Accept rows that contain values that do not match the schema. The unknown values
  are ignored. Default is false, which treats unknown values as errors.\";s:4:\"type\";s:7:\"boolean\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:34:\"bigquery#tableDataInsertAllRequest\";s:11:\"description\";s:34:\"The
  resource type of the response.\";s:4:\"type\";s:6:\"string\";}s:4:\"rows\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"The
  rows to insert.\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"insertId\";O:8:\"stdClass\":2:{s:11:\"description\";s:127:\"[Optional]
  A unique ID for each row. BigQuery uses this property to detect duplicate insertion
  requests on a best-effort basis.\";s:4:\"type\";s:6:\"string\";}s:4:\"json\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/JsonObject\";s:11:\"description\";s:131:\"[Required]
  A JSON object that contains a row of data. The object's properties and values must
  match the destination table's schema.\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:15:\"skipInvalidRows\";O:8:\"stdClass\":2:{s:11:\"description\";s:169:\"[Optional]
  Insert all valid rows of a request, even if invalid rows exist. The default value
  is false, which causes the entire request to fail if any invalid rows exist.\";s:4:\"type\";s:7:\"boolean\";}s:14:\"templateSuffix\";O:8:\"stdClass\":2:{s:11:\"description\";s:396:\"[Experimental]
  If specified, treats the destination table as a base template, and inserts the rows
  into an instance table named \"{destination}{templateSuffix}\". BigQuery will manage
  creation of the instance table, using the schema of the base template table. See
  https://cloud.google.com/bigquery/streaming-data-into-bigquery#template-tables for
  considerations when working with templates tables.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:26:\"TableDataInsertAllResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"insertErrors\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"An
  array of errors for rows that were not inserted.\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"errors\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"Error
  information for the row indicated by the index property.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/ErrorProto\";}s:4:\"type\";s:5:\"array\";}s:5:\"index\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  index of the row that error applies to.\";s:6:\"format\";s:6:\"uint32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:35:\"bigquery#tableDataInsertAllResponse\";s:11:\"description\";s:34:\"The
  resource type of the response.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"TableDataList\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"A
  hash of this page of results.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:22:\"bigquery#tableDataList\";s:11:\"description\";s:34:\"The
  resource type of the response.\";s:4:\"type\";s:6:\"string\";}s:9:\"pageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:164:\"A
  token used for paging results. Providing this token instead of the startIndex parameter
  can help you retrieve stable results when an underlying table is changing.\";s:4:\"type\";s:6:\"string\";}s:4:\"rows\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Rows
  of results.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/TableRow\";}s:4:\"type\";s:5:\"array\";}s:9:\"totalRows\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  total number of rows in the complete table.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"TableFieldSchema\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"[Optional]
  The field description. The maximum length is 1,024 characters.\";s:4:\"type\";s:6:\"string\";}s:6:\"fields\";O:8:\"stdClass\":3:{s:11:\"description\";s:84:\"[Optional]
[...]
