---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Google\";s:3:\"url\";s:18:\"https://google.com\";}s:11:\"description\";s:150:\"Creates
  and conducts surveys, lists the surveys that an authenticated user owns, and retrieves
  survey results and information about specified surveys.\";s:5:\"title\";s:16:\"Consumer
  Surveys\";s:7:\"version\";s:2:\"v2\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:37:\"https://console.developers.google.com\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:116:\"https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.6.0\";}s:6:\"format\";s:6:\"google\";s:3:\"url\";s:68:\"https://www.googleapis.com/discovery/v1/apis/consumersurveys/v2/rest\";s:7:\"version\";s:2:\"v1\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"googleapis.com\";s:13:\"x-serviceName\";s:15:\"consumersurveys\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:22:\"google_consumersurveys\";s:4:\"type\";s:7:\"openapi\";}}"
host: www.googleapis.com
basePath: /consumersurveys/v2
paths: ~
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":19:{s:9:\"FieldMask\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"fields\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/FieldMask\";}s:4:\"type\";s:5:\"array\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:14:\"MobileAppPanel\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"isPublicPanel\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"language\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"mobileAppPanelId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"owners\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:27:\"MobileAppPanelsListResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"pageInfo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/PageInfo\";}s:9:\"requestId\";O:8:\"stdClass\":2:{s:11:\"description\";s:116:\"Unique
  request ID used for logging and debugging. Please include in any error reporting
  or troubleshooting requests.\";s:4:\"type\";s:6:\"string\";}s:9:\"resources\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"An
  individual predefined panel of Opinion Rewards mobile users.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/MobileAppPanel\";}s:4:\"type\";s:5:\"array\";}s:15:\"tokenPagination\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/TokenPagination\";}}s:4:\"type\";s:6:\"object\";}s:8:\"PageInfo\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"resultPerPage\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"startIndex\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"totalResults\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:17:\"ResultsGetRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"resultMask\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ResultsMask\";}}s:4:\"type\";s:6:\"object\";}s:11:\"ResultsMask\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"fields\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/FieldMask\";}s:4:\"type\";s:5:\"array\";}s:10:\"projection\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Survey\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":11:{s:8:\"audience\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/SurveyAudience\";}s:4:\"cost\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/SurveyCost\";}s:12:\"customerData\";O:8:\"stdClass\":2:{s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"owners\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:9:\"questions\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/SurveyQuestion\";}s:4:\"type\";s:5:\"array\";}s:15:\"rejectionReason\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/SurveyRejection\";}s:5:\"state\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"surveyUrlId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"wantedResponseCount\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:14:\"SurveyAudience\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:4:\"ages\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"countrySubdivision\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"gender\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"languages\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:16:\"mobileAppPanelId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"populationSource\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"SurveyCost\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:20:\"costPerResponseNanos\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:12:\"currencyCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"maxCostPerResponseNanos\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:5:\"nanos\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"SurveyQuestion\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":18:{s:11:\"answerOrder\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"answers\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:8:\"hasOther\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:14:\"highValueLabel\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"images\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/SurveyQuestionImage\";}s:4:\"type\";s:5:\"array\";}s:24:\"lastAnswerPositionPinned\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:13:\"lowValueLabel\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"mustPickSuggestion\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"numStars\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"openTextPlaceholder\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"openTextSuggestions\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:8:\"question\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"sentimentText\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"singleLineResponse\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:16:\"thresholdAnswers\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"unitOfMeasurementLabel\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"videoId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"SurveyQuestionImage\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"altText\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"data\";O:8:\"stdClass\":2:{s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"SurveyRejection\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"explanation\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"SurveyResults\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"surveyUrlId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"SurveysDeleteResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"requestId\";O:8:\"stdClass\":2:{s:11:\"description\";s:116:\"Unique
  request ID used for logging and debugging. Please include in any error reporting
  or troubleshooting requests.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"SurveysListResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"pageInfo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/PageInfo\";}s:9:\"requestId\";O:8:\"stdClass\":2:{s:11:\"description\";s:116:\"Unique
  request ID used for logging and debugging. Please include in any error reporting
  or troubleshooting requests.\";s:4:\"type\";s:6:\"string\";}s:9:\"resources\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"An
  individual survey resource.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Survey\";}s:4:\"type\";s:5:\"array\";}s:15:\"tokenPagination\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/TokenPagination\";}}s:4:\"type\";s:6:\"object\";}s:19:\"SurveysStartRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:23:\"maxCostPerResponseNanos\";O:8:\"stdClass\":3:{s:11:\"description\";s:131:\"Threshold
  to start a survey automically if the quoted prices is less than or equal to this
  value. See Survey.Cost for more details.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"SurveysStartResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"requestId\";O:8:\"stdClass\":2:{s:11:\"description\";s:116:\"Unique
  request ID used for logging and debugging. Please include in any error reporting
  or troubleshooting requests.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"SurveysStopResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"requestId\";O:8:\"stdClass\":2:{s:11:\"description\";s:116:\"Unique
  request ID used for logging and debugging. Please include in any error reporting
  or troubleshooting requests.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"TokenPagination\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"nextPageToken\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"previousPageToken\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
