---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":12:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Google\";s:3:\"url\";s:18:\"https://google.com\";}s:11:\"description\";s:88:\"Creates
  and configures Cloud SQL instances, which provide fully-managed MySQL databases.\";s:5:\"title\";s:24:\"Cloud
  SQL Administration\";s:7:\"version\";s:7:\"v1beta4\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:37:\"https://console.developers.google.com\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:7:\"backend\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:90:\"https://api.apis.guru/v2/cache/logo/https_cloud.google.com__static_images_new-gcp-logo.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.6.2\";}s:6:\"format\";s:6:\"google\";s:3:\"url\";s:66:\"https://www.googleapis.com/discovery/v1/apis/sqladmin/v1beta4/rest\";s:7:\"version\";s:2:\"v1\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"googleapis.com\";s:13:\"x-serviceName\";s:8:\"sqladmin\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:15:\"google_sqladmin\";s:4:\"type\";s:7:\"openapi\";}}"
host: www.googleapis.com
basePath: /sql/v1beta4
paths:
  /flags:
    get:
      description: List all available database flags for Google Cloud SQL instances.
      operationId: flags.list
      parameters:
      - description: Database version for flag retrieval. Flags are specific to the
          database version.
        in: query
        name: databaseVersion
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/FlagsListResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/sqlservice.admin
      tags:
      - flags
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
  /projects/{project}/instances:
    get:
      description: Lists instances under a given project in the alphabetical order
        of the instance name.
      operationId: instances.list
      parameters:
      - description: An expression for filtering the results of the request, such
          as by name or label.
        in: query
        name: filter
        type: string
      - description: The maximum number of results to return per response.
        in: query
        name: maxResults
        type: integer
      - description: A previously-returned page token representing part of the larger
          set of results to view.
        in: query
        name: pageToken
        type: string
      - description: Project ID of the project for which to list Cloud SQL instances.
        in: path
        name: project
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/InstancesListResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/sqlservice.admin
      tags:
      - instances
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Creates a new Cloud SQL instance.
      operationId: instances.insert
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/DatabaseInstance'
      - description: Project ID of the project to which the newly created Cloud SQL
          instances should belong.
        in: path
        name: project
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/sqlservice.admin
      tags:
      - instances
  /projects/{project}/instances/{instance}:
    delete:
      description: Deletes a Cloud SQL instance.
      operationId: instances.delete
      parameters:
      - description: Cloud SQL instance ID. This does not include the project ID.
        in: path
        name: instance
        required: true
        type: string
      - description: Project ID of the project that contains the instance to be deleted.
        in: path
        name: project
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/sqlservice.admin
      tags:
      - instances
    get:
      description: Retrieves a resource containing information about a Cloud SQL instance.
      operationId: instances.get
      parameters:
      - description: Database instance ID. This does not include the project ID.
        in: path
        name: instance
        required: true
        type: string
      - description: Project ID of the project that contains the instance.
        in: path
        name: project
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/DatabaseInstance'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/sqlservice.admin
      tags:
      - instances
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    patch:
      description: 'Updates settings of a Cloud SQL instance. Caution: This is not
        a partial update, so you must include values for all the settings that you
        want to retain. For partial updates, use patch.. This method supports patch
        semantics.'
      operationId: instances.patch
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/DatabaseInstance'
      - description: Cloud SQL instance ID. This does not include the project ID.
        in: path
        name: instance
        required: true
        type: string
      - description: Project ID of the project that contains the instance.
        in: path
        name: project
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/sqlservice.admin
      tags:
      - instances
    put:
      description: 'Updates settings of a Cloud SQL instance. Caution: This is not
        a partial update, so you must include values for all the settings that you
        want to retain. For partial updates, use patch.'
      operationId: instances.update
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/DatabaseInstance'
      - description: Cloud SQL instance ID. This does not include the project ID.
        in: path
        name: instance
        required: true
        type: string
      - description: Project ID of the project that contains the instance.
        in: path
        name: project
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/sqlservice.admin
      tags:
      - instances
  /projects/{project}/instances/{instance}/addServerCa:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Add a new trusted Certificate Authority (CA) version for the specified
        instance. Required to prepare for a certificate rotation. If a CA version
        was previously added but never used in a certificate rotation, this operation
        replaces that version. There can not be more than one CA version waiting to
        be rotated in.
      operationId: instances.addServerCa
      parameters:
      - description: Cloud SQL instance ID. This does not include the project ID.
        in: path
        name: instance
        required: true
        type: string
      - description: Project ID of the project that contains the instance.
        in: path
        name: project
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/sqlservice.admin
      tags:
      - instances
  /projects/{project}/instances/{instance}/backupRuns:
    get:
      description: Lists all backup runs associated with a given instance and configuration
        in the reverse chronological order of the enqueued time.
      operationId: backupRuns.list
      parameters:
      - description: Cloud SQL instance ID. This does not include the project ID.
        in: path
        name: instance
        required: true
        type: string
      - description: Maximum number of backup runs per response.
        in: query
        name: maxResults
        type: integer
      - description: A previously-returned page token representing part of the larger
          set of results to view.
        in: query
        name: pageToken
        type: string
      - description: Project ID of the project that contains the instance.
        in: path
        name: project
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/BackupRunsListResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/sqlservice.admin
      tags:
      - backupRuns
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Creates a new backup run on demand. This method is applicable only
        to Second Generation instances.
      operationId: backupRuns.insert
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/BackupRun'
      - description: Cloud SQL instance ID. This does not include the project ID.
        in: path
        name: instance
        required: true
        type: string
      - description: Project ID of the project that contains the instance.
        in: path
        name: project
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/sqlservice.admin
      tags:
      - backupRuns
  /projects/{project}/instances/{instance}/backupRuns/{id}:
    delete:
      description: Deletes the backup taken by a backup run.
      operationId: backupRuns.delete
      parameters:
      - description: The ID of the Backup Run to delete. To find a Backup Run ID,
          use the list method.
        in: path
        name: id
        required: true
        type: string
      - description: Cloud SQL instance ID. This does not include the project ID.
        in: path
        name: instance
        required: true
        type: string
      - description: Project ID of the project that contains the instance.
        in: path
        name: project
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/sqlservice.admin
      tags:
      - backupRuns
    get:
      description: Retrieves a resource containing information about a backup run.
      operationId: backupRuns.get
      parameters:
      - description: The ID of this Backup Run.
        in: path
        name: id
        required: true
        type: string
      - description: Cloud SQL instance ID. This does not include the project ID.
        in: path
        name: instance
        required: true
        type: string
      - description: Project ID of the project that contains the instance.
        in: path
        name: project
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/BackupRun'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/sqlservice.admin
      tags:
      - backupRuns
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
  /projects/{project}/instances/{instance}/clone:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Creates a Cloud SQL instance as a clone of the source instance.
        The API is not ready for Second Generation instances yet.
      operationId: instances.clone
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/InstancesCloneRequest'
      - description: The ID of the Cloud SQL instance to be cloned (source). This
          does not include the project ID.
        in: path
        name: instance
        required: true
        type: string
      - description: Project ID of the source as well as the clone Cloud SQL instance.
        in: path
        name: project
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/sqlservice.admin
      tags:
      - instances
  /projects/{project}/instances/{instance}/createEphemeral:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Generates a short-lived X509 certificate containing the provided
        public key and signed by a private key specific to the target instance. Users
        may use the certificate to authenticate as themselves when connecting to the
        database.
      operationId: sslCerts.createEphemeral
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/SslCertsCreateEphemeralRequest'
      - description: Cloud SQL instance ID. This does not include the project ID.
        in: path
        name: instance
        required: true
        type: string
      - description: Project ID of the Cloud SQL project.
        in: path
        name: project
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/SslCert'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/sqlservice.admin
      tags:
      - sslCerts
  /projects/{project}/instances/{instance}/databases:
    get:
      description: Lists databases in the specified Cloud SQL instance.
      operationId: databases.list
      parameters:
      - description: Cloud SQL instance ID. This does not include the project ID.
        in: path
        name: instance
        required: true
        type: string
      - description: Project ID of the project for which to list Cloud SQL instances.
        in: path
        name: project
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/DatabasesListResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/sqlservice.admin
      tags:
      - databases
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Inserts a resource containing information about a database inside
        a Cloud SQL instance.
      operationId: databases.insert
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/Database'
      - description: Database instance ID. This does not include the project ID.
        in: path
        name: instance
        required: true
        type: string
      - description: Project ID of the project that contains the instance.
        in: path
        name: project
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/sqlservice.admin
      tags:
      - databases
  /projects/{project}/instances/{instance}/databases/{database}:
    delete:
      description: Deletes a database from a Cloud SQL instance.
      operationId: databases.delete
      parameters:
      - description: Name of the database to be deleted in the instance.
        in: path
        name: database
        required: true
        type: string
      - description: Database instance ID. This does not include the project ID.
        in: path
        name: instance
        required: true
        type: string
      - description: Project ID of the project that contains the instance.
        in: path
        name: project
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/sqlservice.admin
      tags:
      - databases
    get:
      description: Retrieves a resource containing information about a database inside
        a Cloud SQL instance.
      operationId: databases.get
      parameters:
      - description: Name of the database in the instance.
        in: path
        name: database
        required: true
        type: string
      - description: Database instance ID. This does not include the project ID.
        in: path
        name: instance
        required: true
        type: string
      - description: Project ID of the project that contains the instance.
        in: path
        name: project
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Database'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/sqlservice.admin
      tags:
      - databases
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    patch:
      description: Updates a resource containing information about a database inside
        a Cloud SQL instance. This method supports patch semantics.
      operationId: databases.patch
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/Database'
      - description: Name of the database to be updated in the instance.
        in: path
        name: database
        required: true
        type: string
      - description: Database instance ID. This does not include the project ID.
        in: path
        name: instance
        required: true
        type: string
      - description: Project ID of the project that contains the instance.
        in: path
        name: project
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/sqlservice.admin
      tags:
      - databases
    put:
      description: Updates a resource containing information about a database inside
        a Cloud SQL instance.
      operationId: databases.update
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/Database'
      - description: Name of the database to be updated in the instance.
        in: path
        name: database
        required: true
        type: string
      - description: Database instance ID. This does not include the project ID.
        in: path
        name: instance
        required: true
        type: string
      - description: Project ID of the project that contains the instance.
        in: path
        name: project
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/sqlservice.admin
      tags:
      - databases
  /projects/{project}/instances/{instance}/demoteMaster:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Reserved for future use.
      operationId: instances.demoteMaster
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/InstancesDemoteMasterRequest'
      - description: Cloud SQL instance name.
        in: path
        name: instance
        required: true
        type: string
      - description: ID of the project that contains the instance.
        in: path
        name: project
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/sqlservice.admin
      tags:
      - instances
  /projects/{project}/instances/{instance}/export:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Exports data from a Cloud SQL instance to a Google Cloud Storage
        bucket as a MySQL dump file.
      operationId: instances.export
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/InstancesExportRequest'
      - description: Cloud SQL instance ID. This does not include the project ID.
        in: path
        name: instance
        required: true
        type: string
      - description: Project ID of the project that contains the instance to be exported.
        in: path
        name: project
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - instances
  /projects/{project}/instances/{instance}/failover:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Failover the instance to its failover replica instance.
      operationId: instances.failover
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/InstancesFailoverRequest'
      - description: Cloud SQL instance ID. This does not include the project ID.
        in: path
        name: instance
        required: true
        type: string
      - description: ID of the project that contains the read replica.
        in: path
        name: project
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/sqlservice.admin
      tags:
      - instances
  /projects/{project}/instances/{instance}/import:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Imports data into a Cloud SQL instance from a MySQL dump file in
        Google Cloud Storage.
      operationId: instances.import
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/InstancesImportRequest'
      - description: Cloud SQL instance ID. This does not include the project ID.
        in: path
        name: instance
        required: true
        type: string
      - description: Project ID of the project that contains the instance.
        in: path
        name: project
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - instances
  /projects/{project}/instances/{instance}/listServerCas:
    get:
      description: 'Lists all of the trusted Certificate Authorities (CAs) for the
        specified instance. There can be up to three CAs listed: the CA that was used
        to sign the certificate that is currently in use, a CA that has been added
        but not yet used to sign a certificate, and a CA used to sign a certificate
        that has previously rotated out.'
      operationId: instances.listServerCas
      parameters:
      - description: Cloud SQL instance ID. This does not include the project ID.
        in: path
        name: instance
        required: true
        type: string
      - description: Project ID of the project that contains the instance.
        in: path
        name: project
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/InstancesListServerCasResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/sqlservice.admin
      tags:
      - instances
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
  /projects/{project}/instances/{instance}/promoteReplica:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Promotes the read replica instance to be a stand-alone Cloud SQL
        instance.
      operationId: instances.promoteReplica
      parameters:
      - description: Cloud SQL read replica instance name.
        in: path
        name: instance
        required: true
        type: string
      - description: ID of the project that contains the read replica.
        in: path
        name: project
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/sqlservice.admin
      tags:
      - instances
  /projects/{project}/instances/{instance}/resetSslConfig:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Deletes all client certificates and generates a new server SSL
        certificate for the instance. The changes will not take effect until the instance
        is restarted. Existing instances without a server certificate will need to
        call this once to set a server certificate.
      operationId: instances.resetSslConfig
      parameters:
      - description: Cloud SQL instance ID. This does not include the project ID.
        in: path
        name: instance
        required: true
        type: string
      - description: Project ID of the project that contains the instance.
        in: path
        name: project
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/sqlservice.admin
      tags:
      - instances
  /projects/{project}/instances/{instance}/restart:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Restarts a Cloud SQL instance.
      operationId: instances.restart
      parameters:
      - description: Cloud SQL instance ID. This does not include the project ID.
        in: path
        name: instance
        required: true
        type: string
      - description: Project ID of the project that contains the instance to be restarted.
        in: path
        name: project
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/sqlservice.admin
      tags:
      - instances
  /projects/{project}/instances/{instance}/restoreBackup:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Restores a backup of a Cloud SQL instance.
      operationId: instances.restoreBackup
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/InstancesRestoreBackupRequest'
      - description: Cloud SQL instance ID. This does not include the project ID.
        in: path
        name: instance
        required: true
        type: string
      - description: Project ID of the project that contains the instance.
        in: path
        name: project
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/sqlservice.admin
      tags:
      - instances
  /projects/{project}/instances/{instance}/rotateServerCa:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Rotates the server certificate to one signed by the Certificate
        Authority (CA) version previously added with the addServerCA method.
      operationId: instances.rotateServerCa
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/InstancesRotateServerCaRequest'
      - description: Cloud SQL instance ID. This does not include the project ID.
        in: path
        name: instance
        required: true
        type: string
      - description: Project ID of the project that contains the instance.
        in: path
        name: project
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/sqlservice.admin
      tags:
      - instances
  /projects/{project}/instances/{instance}/sslCerts:
    get:
      description: Lists all of the current SSL certificates for the instance.
      operationId: sslCerts.list
      parameters:
      - description: Cloud SQL instance ID. This does not include the project ID.
        in: path
        name: instance
        required: true
        type: string
      - description: Project ID of the project for which to list Cloud SQL instances.
        in: path
        name: project
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/SslCertsListResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/sqlservice.admin
      tags:
      - sslCerts
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Creates an SSL certificate and returns it along with the private
        key and server certificate authority. The new certificate will not be usable
        until the instance is restarted.
      operationId: sslCerts.insert
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/SslCertsInsertRequest'
      - description: Cloud SQL instance ID. This does not include the project ID.
        in: path
        name: instance
        required: true
        type: string
      - description: Project ID of the project to which the newly created Cloud SQL
          instances should belong.
        in: path
        name: project
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/SslCertsInsertResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/sqlservice.admin
      tags:
      - sslCerts
  /projects/{project}/instances/{instance}/sslCerts/{sha1Fingerprint}:
    delete:
      description: Deletes the SSL certificate. The change will not take effect until
        the instance is restarted.
      operationId: sslCerts.delete
      parameters:
      - description: Cloud SQL instance ID. This does not include the project ID.
        in: path
        name: instance
        required: true
        type: string
      - description: Project ID of the project that contains the instance to be deleted.
        in: path
        name: project
        required: true
        type: string
      - description: Sha1 FingerPrint.
        in: path
        name: sha1Fingerprint
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/sqlservice.admin
      tags:
      - sslCerts
    get:
      description: Retrieves a particular SSL certificate. Does not include the private
        key (required for usage). The private key must be saved from the response
        to initial creation.
      operationId: sslCerts.get
      parameters:
      - description: Cloud SQL instance ID. This does not include the project ID.
        in: path
        name: instance
        required: true
        type: string
      - description: Project ID of the project that contains the instance.
        in: path
        name: project
        required: true
        type: string
      - description: Sha1 FingerPrint.
        in: path
        name: sha1Fingerprint
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/SslCert'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/sqlservice.admin
      tags:
      - sslCerts
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
  /projects/{project}/instances/{instance}/startReplica:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Starts the replication in the read replica instance.
      operationId: instances.startReplica
      parameters:
      - description: Cloud SQL read replica instance name.
        in: path
        name: instance
        required: true
        type: string
      - description: ID of the project that contains the read replica.
        in: path
        name: project
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/sqlservice.admin
      tags:
      - instances
  /projects/{project}/instances/{instance}/stopReplica:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Stops the replication in the read replica instance.
      operationId: instances.stopReplica
      parameters:
      - description: Cloud SQL read replica instance name.
        in: path
        name: instance
        required: true
        type: string
      - description: ID of the project that contains the read replica.
        in: path
        name: project
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/sqlservice.admin
      tags:
      - instances
  /projects/{project}/instances/{instance}/truncateLog:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Truncate MySQL general and slow query log tables
      operationId: instances.truncateLog
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/InstancesTruncateLogRequest'
      - description: Cloud SQL instance ID. This does not include the project ID.
        in: path
        name: instance
        required: true
        type: string
      - description: Project ID of the Cloud SQL project.
        in: path
        name: project
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/sqlservice.admin
      tags:
      - instances
  /projects/{project}/instances/{instance}/users:
    delete:
      description: Deletes a user from a Cloud SQL instance.
      operationId: users.delete
      parameters:
      - description: Host of the user in the instance.
        in: query
        name: host
        required: true
        type: string
      - description: Database instance ID. This does not include the project ID.
        in: path
        name: instance
        required: true
        type: string
      - description: Name of the user in the instance.
        in: query
        name: name
        required: true
        type: string
      - description: Project ID of the project that contains the instance.
        in: path
        name: project
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/sqlservice.admin
      tags:
      - users
    get:
      description: Lists users in the specified Cloud SQL instance.
      operationId: users.list
      parameters:
      - description: Database instance ID. This does not include the project ID.
        in: path
        name: instance
        required: true
        type: string
      - description: Project ID of the project that contains the instance.
        in: path
        name: project
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/UsersListResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/sqlservice.admin
      tags:
      - users
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Creates a new user in a Cloud SQL instance.
      operationId: users.insert
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/User'
      - description: Database instance ID. This does not include the project ID.
        in: path
        name: instance
        required: true
        type: string
      - description: Project ID of the project that contains the instance.
        in: path
        name: project
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/sqlservice.admin
      tags:
      - users
    put:
      description: Updates an existing user in a Cloud SQL instance.
      operationId: users.update
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/User'
      - description: Host of the user in the instance.
        in: query
        name: host
        required: true
        type: string
      - description: Database instance ID. This does not include the project ID.
        in: path
        name: instance
        required: true
        type: string
      - description: Name of the user in the instance.
        in: query
        name: name
        required: true
        type: string
      - description: Project ID of the project that contains the instance.
        in: path
        name: project
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/sqlservice.admin
      tags:
      - users
  /projects/{project}/operations:
    get:
      description: Lists all instance operations that have been performed on the given
        Cloud SQL instance in the reverse chronological order of the start time.
      operationId: operations.list
      parameters:
      - description: Cloud SQL instance ID. This does not include the project ID.
        in: query
        name: instance
        required: true
        type: string
      - description: Maximum number of operations per response.
        in: query
        name: maxResults
        type: integer
      - description: A previously-returned page token representing part of the larger
          set of results to view.
        in: query
        name: pageToken
        type: string
      - description: Project ID of the project that contains the instance.
        in: path
        name: project
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/OperationsListResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/sqlservice.admin
      tags:
      - operations
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
  /projects/{project}/operations/{operation}:
    get:
      description: Retrieves an instance operation that has been performed on an instance.
      operationId: operations.get
      parameters:
      - description: Instance operation ID.
        in: path
        name: operation
        required: true
        type: string
      - description: Project ID of the project that contains the instance.
        in: path
        name: project
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/sqlservice.admin
      tags:
      - operations
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
  /projects/{project}/tiers:
    get:
      description: Lists all available service tiers for Google Cloud SQL, for example
        D1, D2. For related information, see Pricing.
      operationId: tiers.list
      parameters:
      - description: Project ID of the project for which to list tiers.
        in: path
        name: project
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/TiersListResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/sqlservice.admin
      tags:
      - tiers
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":53:{s:8:\"AclEntry\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"An
  entry for an Access Control list.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:14:\"expirationTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:105:\"The
  time when this access control entry expires in RFC 3339 format, for example 2012-11-15T16:19:00.094Z.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:12:\"sql#aclEntry\";s:11:\"description\";s:28:\"This
  is always sql#aclEntry.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"An
  optional label to identify this entry.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"The
  whitelisted value for the access control list.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"BackupConfiguration\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Database
  instance backup configuration.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:16:\"binaryLogEnabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:104:\"Whether
  binary log is enabled. If backup configuration is disabled, binary log must be disabled
  as well.\";s:4:\"type\";s:7:\"boolean\";}s:7:\"enabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Whether
  this configuration is enabled.\";s:4:\"type\";s:7:\"boolean\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:23:\"sql#backupConfiguration\";s:11:\"description\";s:39:\"This
  is always sql#backupConfiguration.\";s:4:\"type\";s:6:\"string\";}s:30:\"replicationLogArchivingEnabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Reserved
  for future use.\";s:4:\"type\";s:7:\"boolean\";}s:9:\"startTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:92:\"Start
  time for the daily backup configuration in UTC timezone in the 24 hour format -
  HH:MM.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"BackupRun\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"A
  database instance backup run resource.\";s:10:\"properties\";O:8:\"stdClass\":12:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"The
  description of this run, only applicable to on-demand backups.\";s:4:\"type\";s:6:\"string\";}s:7:\"endTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:113:\"The
  time the backup operation completed in UTC timezone in RFC 3339 format, for example
  2012-11-15T16:19:00.094Z.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:12:\"enqueuedTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:103:\"The
  time the run was enqueued in UTC timezone in RFC 3339 format, for example 2012-11-15T16:19:00.094Z.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/OperationError\";s:11:\"description\";s:105:\"Information
  about why the backup operation failed. This is only present if the run has the FAILED
  status.\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:123:\"A unique
  identifier for this backup run. Note that this is unique only within the scope of
  a particular Cloud SQL instance.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:8:\"instance\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Name
  of the database instance.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:13:\"sql#backupRun\";s:11:\"description\";s:29:\"This
  is always sql#backupRun.\";s:4:\"type\";s:6:\"string\";}s:8:\"selfLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  URI of this resource.\";s:4:\"type\";s:6:\"string\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:120:\"The
  time the backup operation actually started in UTC timezone in RFC 3339 format, for
  example 2012-11-15T16:19:00.094Z.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  status of this run.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"The
  type of this run; can be either \"AUTOMATED\" or \"ON_DEMAND\".\";s:4:\"type\";s:6:\"string\";}s:15:\"windowStartTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:136:\"The
  start time of the backup window during which this the backup was attempted in RFC
  3339 format, for example 2012-11-15T16:19:00.094Z.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:22:\"BackupRunsListResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Backup
  run list results.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"A
  list of backup runs in reverse chronological order of the enqueued time.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/BackupRun\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:18:\"sql#backupRunsList\";s:11:\"description\";s:34:\"This
  is always sql#backupRunsList.\";s:4:\"type\";s:6:\"string\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:142:\"The
  continuation token, used to page through large result sets. Provide this value in
  a subsequent request to return the next page of results.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"BinLogCoordinates\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Binary
  log coordinates.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"binLogFileName\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Name
  of the binary log file for a Cloud SQL instance.\";s:4:\"type\";s:6:\"string\";}s:14:\"binLogPosition\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Position
  (offset) within the binary log file.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:21:\"sql#binLogCoordinates\";s:11:\"description\";s:37:\"This
  is always sql#binLogCoordinates.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"CloneContext\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Database
  instance clone context.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:17:\"binLogCoordinates\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/BinLogCoordinates\";s:11:\"description\";s:207:\"Binary
  log coordinates, if specified, indentify the the position up to which the source
  instance should be cloned. If not specified, the source instance is cloned up to
  the most recent binary log coordintes.\";}s:23:\"destinationInstanceName\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Name
  of the Cloud SQL instance to be created as a clone.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:16:\"sql#cloneContext\";s:11:\"description\";s:32:\"This
  is always sql#cloneContext.\";s:4:\"type\";s:6:\"string\";}s:15:\"pitrTimestampMs\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Reserved
  for future use.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Database\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"A
  database resource inside a Cloud SQL instance.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:7:\"charset\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  MySQL charset value.\";s:4:\"type\";s:6:\"string\";}s:9:\"collation\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  MySQL collation value.\";s:4:\"type\";s:6:\"string\";}s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"HTTP
  1.1 Entity tag for the resource.\";s:4:\"type\";s:6:\"string\";}s:8:\"instance\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"The
  name of the Cloud SQL instance. This does not include the project ID.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:12:\"sql#database\";s:11:\"description\";s:28:\"This
  is always sql#database.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:106:\"The
  name of the database in the Cloud SQL instance. This does not include the project
  ID or instance name.\";s:4:\"type\";s:6:\"string\";}s:7:\"project\";O:8:\"stdClass\":2:{s:11:\"description\";s:114:\"The
  project ID of the project containing the Cloud SQL database. The Google apps domain
  is prefixed if applicable.\";s:4:\"type\";s:6:\"string\";}s:8:\"selfLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  URI of this resource.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"DatabaseFlags\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"MySQL
  flags for Cloud SQL instances.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:361:\"The
  name of the flag. These flags are passed at instance startup, so include both MySQL
  server options and MySQL system variables. Flags should be specified with underscores,
  not hyphens. For more information, see Configuring MySQL Flags in the Google Cloud
  SQL documentation, as well as the official MySQL documentation for server options
  and system variables.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:140:\"The
  value of the flag. Booleans should be set to on for true and off for false. This
  field must be omitted if the flag doesn't take a value.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"DatabaseInstance\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"A
  Cloud SQL instance resource.\";s:10:\"properties\";O:8:\"stdClass\":25:{s:11:\"backendType\";O:8:\"stdClass\":2:{s:11:\"description\";s:204:\"FIRST_GEN:
  Basic Cloud SQL instance that runs in a Google-managed container.\nSECOND_GEN: A
  newer Cloud SQL backend that runs in a Compute Engine VM.\nEXTERNAL: A MySQL server
  that is not managed by Google.\";s:4:\"type\";s:6:\"string\";}s:14:\"connectionName\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"Connection
  name of the Cloud SQL instance used in connection strings.\";s:4:\"type\";s:6:\"string\";}s:15:\"currentDiskSize\";O:8:\"stdClass\":3:{s:11:\"description\";s:302:\"The
  current disk usage of the instance in bytes. This property has been deprecated.
  Users should use the \"cloudsql.googleapis.com/database/disk/bytes_used\" metric
  in Cloud Monitoring API instead. Please see https://groups.google.com/d/msg/google-cloud-sql-announce/I_7-F9EBhT0/BtvFtdFeAgAJ
  for details.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:15:\"databaseVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:278:\"The
  database engine type and version. The databaseVersion field can not be changed after
  instance creation. MySQL Second Generation instances: MYSQL_5_7 (default) or MYSQL_5_6.
  PostgreSQL instances: POSTGRES_9_6 MySQL First Generation instances: MYSQL_5_6 (default)
  or MYSQL_5_5\";s:4:\"type\";s:6:\"string\";}s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"HTTP
  1.1 Entity tag for the resource.\";s:4:\"type\";s:6:\"string\";}s:15:\"failoverReplica\";O:8:\"stdClass\":3:{s:11:\"description\";s:109:\"The
  name and status of the failover replica. This property is applicable only to Second
  Generation instances.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"available\";O:8:\"stdClass\":2:{s:11:\"description\";s:192:\"The
  availability status of the failover replica. A false status indicates that the failover
  replica is out of sync. The master can only failover to the falover replica when
  the status is true.\";s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:222:\"The
  name of the failover replica. If specified at instance creation, a failover replica
  is created for the instance. The name doesn't include the project ID. This property
  is applicable only to Second Generation instances.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"gceZone\";O:8:\"stdClass\":2:{s:11:\"description\";s:216:\"The
  Compute Engine zone that the instance is currently serving from. This value could
  be different from the zone that was specified when the instance was created if the
  instance has failed over to its secondary zone.\";s:4:\"type\";s:6:\"string\";}s:12:\"instanceType\";O:8:\"stdClass\":2:{s:11:\"description\";s:276:\"The
  instance type. This can be one of the following.\nCLOUD_SQL_INSTANCE: A Cloud SQL
  instance that is not replicating from a master.\nON_PREMISES_INSTANCE: An instance
  running on the customer's premises.\nREAD_REPLICA_INSTANCE: A Cloud SQL instance
  configured as a read-replica.\";s:4:\"type\";s:6:\"string\";}s:11:\"ipAddresses\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  assigned IP addresses for the instance.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/IpMapping\";}s:4:\"type\";s:5:\"array\";}s:11:\"ipv6Address\";O:8:\"stdClass\":2:{s:11:\"description\";s:106:\"The
  IPv6 address assigned to the instance. This property is applicable only to First
  Generation instances.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:12:\"sql#instance\";s:11:\"description\";s:28:\"This
  is always sql#instance.\";s:4:\"type\";s:6:\"string\";}s:18:\"masterInstanceName\";O:8:\"stdClass\":2:{s:11:\"description\";s:75:\"The
  name of the instance which will act as master in the replication setup.\";s:4:\"type\";s:6:\"string\";}s:11:\"maxDiskSize\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  maximum disk size of the instance in bytes.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"Name
  of the Cloud SQL instance. This does not include the project ID.\";s:4:\"type\";s:6:\"string\";}s:23:\"onPremisesConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/OnPremisesConfiguration\";s:11:\"description\";s:48:\"Configuration
  specific to on-premises instances.\";}s:7:\"project\";O:8:\"stdClass\":2:{s:11:\"description\";s:114:\"The
  project ID of the project containing the Cloud SQL instance. The Google apps domain
  is prefixed if applicable.\";s:4:\"type\";s:6:\"string\";}s:6:\"region\";O:8:\"stdClass\":2:{s:11:\"description\";s:304:\"The
  geographical region. Can be us-central (FIRST_GEN instances only), us-central1 (SECOND_GEN
  instances only), asia-east1 or europe-west1. Defaults to us-central or us-central1
  depending on the instance type (First Generation or Second Generation). The region
  can not be changed after instance creation.\";s:4:\"type\";s:6:\"string\";}s:20:\"replicaConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ReplicaConfiguration\";s:11:\"description\";s:77:\"Configuration
  specific to read-replicas replicating from on-premises masters.\";}s:12:\"replicaNames\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  replicas of the instance.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:8:\"selfLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  URI of this resource.\";s:4:\"type\";s:6:\"string\";}s:12:\"serverCaCert\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/SslCert\";s:11:\"description\";s:18:\"SSL
  configuration.\";}s:26:\"serviceAccountEmailAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:124:\"The
  service account email address assigned to the instance. This property is applicable
  only to Second Generation instances.\";s:4:\"type\";s:6:\"string\";}s:8:\"settings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Settings\";s:11:\"description\";s:18:\"The
  user settings.\";}s:5:\"state\";O:8:\"stdClass\":2:{s:11:\"description\";s:428:\"The
  current serving state of the Cloud SQL instance. This can be one of the following.\nRUNNABLE:
  The instance is running, or is ready to run when accessed.\nSUSPENDED: The instance
  is not available, for example due to problems with billing.\nPENDING_CREATE: The
  instance is being created.\nMAINTENANCE: The instance is down for maintenance.\nFAILED:
  The instance creation failed.\nUNKNOWN_STATE: The state of the instance is unknown.\";s:4:\"type\";s:6:\"string\";}s:16:\"suspensionReason\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"If
  the instance state is SUSPENDED, the reason for the suspension.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:21:\"DatabasesListResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Database
  list response.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"List
  of database resources in the instance.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Database\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:17:\"sql#databasesList\";s:11:\"description\";s:33:\"This
  is always sql#databasesList.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:25:\"DemoteMasterConfiguration\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"Read-replica
  configuration for connecting to the on-premises master.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:29:\"sql#demoteMasterConfiguration\";s:11:\"description\";s:45:\"This
  is always sql#demoteMasterConfiguration.\";s:4:\"type\";s:6:\"string\";}s:25:\"mysqlReplicaConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:51:\"#/definitions/DemoteMasterMySqlReplicaConfiguration\";s:11:\"description\";s:366:\"MySQL
  specific configuration when replicating from a MySQL on-premises master. Replication
  configuration information such as the username, password, certificates, and keys
  are not stored in the instance metadata. The configuration information is used only
  to set up the replication connection and is stored by MySQL in a file named master.info
  in the data directory.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"DemoteMasterContext\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Database
  instance demote master context.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:23:\"sql#demoteMasterContext\";s:11:\"description\";s:39:\"This
  is always sql#demoteMasterContext.\";s:4:\"type\";s:6:\"string\";}s:18:\"masterInstanceName\";O:8:\"stdClass\":2:{s:11:\"description\";s:87:\"The
  name of the instance which will act as on-premises master in the replication setup.\";s:4:\"type\";s:6:\"string\";}s:20:\"replicaConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/DemoteMasterConfiguration\";s:11:\"description\";s:80:\"Configuration
  specific to read-replicas replicating from the on-premises master.\";}s:21:\"verifyGtidConsistency\";O:8:\"stdClass\":2:{s:11:\"description\";s:457:\"Verify
  GTID consistency for demote operation. Default value: True. Second Generation instances
  only. Setting this flag to false enables you to bypass GTID consistency check between
  on-premises master and Cloud SQL instance during the demotion operation but also
  exposes you to the risk of future replication failures. Change the value only if
  you know the reason for the GTID divergence and are confident that doing so will
  not cause any replication issues.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:37:\"DemoteMasterMySqlReplicaConfiguration\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"Read-replica
  configuration specific to MySQL databases.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:13:\"caCertificate\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"PEM
  representation of the trusted CA's x509 certificate.\";s:4:\"type\";s:6:\"string\";}s:17:\"clientCertificate\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"PEM
  representation of the slave's x509 certificate.\";s:4:\"type\";s:6:\"string\";}s:9:\"clientKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:187:\"PEM
  representation of the slave's private key. The corresponsing public key is encoded
  in the client's certificate. The format of the slave's private key can be either
  PKCS #1 or PKCS #8.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:41:\"sql#demoteMasterMysqlReplicaConfiguration\";s:11:\"description\";s:57:\"This
  is always sql#demoteMasterMysqlReplicaConfiguration.\";s:4:\"type\";s:6:\"string\";}s:8:\"password\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"The
  password for the replication connection.\";s:4:\"type\";s:6:\"string\";}s:8:\"username\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"The
  username for the replication connection.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"ExportContext\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Database
  instance export context.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:16:\"csvExportOptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Options
  for exporting data as CSV.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"selectQuery\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"The
  select query used to extract the data.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"databases\";O:8:\"stdClass\":3:{s:11:\"description\";s:310:\"Databases
  (for example, guestbook) from which the export is made. If fileType is SQL and no
  database is specified, all databases are exported. If fileType is CSV, you can optionally
  specify at most one database to export. If csvExportOptions.selectQuery also specifies
  the database, this field will be ignored.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:8:\"fileType\";O:8:\"stdClass\":2:{s:11:\"description\";s:108:\"The
  file type for the specified uri.\nSQL: The file contains SQL statements.\nCSV: The
  file contains CSV data.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:17:\"sql#exportContext\";s:11:\"description\";s:33:\"This
  is always sql#exportContext.\";s:4:\"type\";s:6:\"string\";}s:16:\"sqlExportOptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Options
  for exporting data as SQL statements.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"schemaOnly\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Export
  only schemas.\";s:4:\"type\";s:7:\"boolean\";}s:6:\"tables\";O:8:\"stdClass\":3:{s:11:\"description\";s:127:\"Tables
  to export, or that were exported, from the specified database. If you specify tables,
  specify one and only one database.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:11:\"description\";s:282:\"The
  path to the file in Google Cloud Storage where the export will be stored. The URI
  is in the form gs://bucketName/fileName. If the file already exists, the requests
  succeeds, but the operation fails. If fileType is SQL and the filename ends with
  .gz, the contents are compressed.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"FailoverContext\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Database
  instance failover context.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:19:\"sql#failoverContext\";s:11:\"description\";s:35:\"This
  is always sql#failoverContext.\";s:4:\"type\";s:6:\"string\";}s:15:\"settingsVersion\";O:8:\"stdClass\":3:{s:11:\"description\";s:131:\"The
  current settings version of this instance. Request will be rejected if this version
  doesn't match the current settings version.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Flag\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"A
  Google Cloud SQL service flag resource.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:19:\"allowedStringValues\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"For
  STRING flags, a list of strings that the value can be set to.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:9:\"appliesTo\";O:8:\"stdClass\":3:{s:11:\"description\";s:146:\"The
  database version this flag applies to. Can be MYSQL_5_5, MYSQL_5_6, or MYSQL_5_7.
  MYSQL_5_7 is applicable only to Second Generation instances.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:8:\"sql#flag\";s:11:\"description\";s:24:\"This
  is always sql#flag.\";s:4:\"type\";s:6:\"string\";}s:8:\"maxValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"For
  INTEGER flags, the maximum allowed value.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:8:\"minValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"For
  INTEGER flags, the minimum allowed value.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:101:\"This
  is the name of the flag. Flag names always use underscores, not hyphens, e.g. max_allowed_packet\";s:4:\"type\";s:6:\"string\";}s:15:\"requiresRestart\";O:8:\"stdClass\":2:{s:11:\"description\";s:117:\"Indicates
  whether changing this flag will trigger a database restart. Only applicable to Second
  Generation instances.\";s:4:\"type\";s:7:\"boolean\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:157:\"The
  type of the flag. Flags are typed to being BOOLEAN, STRING, INTEGER or NONE. NONE
  is used for flags which do not take a value, such as skip_grant_tables.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"FlagsListResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Flags
  list response.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"List
  of flags.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Flag\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:13:\"sql#flagsList\";s:11:\"description\";s:29:\"This
  is always sql#flagsList.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"ImportContext\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Database
  instance import context.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:16:\"csvImportOptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Options
  for importing data as CSV.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"columns\";O:8:\"stdClass\":3:{s:11:\"description\";s:120:\"The
  columns to which CSV data is imported. If not specified, all columns of the database
  table are loaded with CSV data.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:5:\"table\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  table to which CSV data is imported.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"database\";O:8:\"stdClass\":2:{s:11:\"description\";s:230:\"The
  database (for example, guestbook) to which the import is made. If fileType is SQL
  and no database is specified, it is assumed that the database is specified in the
  file to be imported. If fileType is CSV, it must be specified.\";s:4:\"type\";s:6:\"string\";}s:8:\"fileType\";O:8:\"stdClass\":2:{s:11:\"description\";s:108:\"The
  file type for the specified uri.\nSQL: The file contains SQL statements.\nCSV: The
  file contains CSV data.\";s:4:\"type\";s:6:\"string\";}s:10:\"importUser\";O:8:\"stdClass\":2:{s:11:\"description\";s:113:\"The
  PostgreSQL user for this import operation. Defaults to cloudsqlsuperuser. Used only
  for PostgreSQL instances.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:17:\"sql#importContext\";s:11:\"description\";s:33:\"This
  is always sql#importContext.\";s:4:\"type\";s:6:\"string\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:11:\"description\";s:186:\"A
  path to the file in Google Cloud Storage from which the import is made. The URI
  is in the form gs://bucketName/fileName. Compressed gzip files (.gz) are supported
  when fileType is SQL.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"InstancesCloneRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Database
  instance clone request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"cloneContext\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/CloneContext\";s:11:\"description\";s:43:\"Contains
  details about the clone operation.\";}}s:4:\"type\";s:6:\"object\";}s:28:\"InstancesDemoteMasterRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Database
  demote master request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:19:\"demoteMasterContext\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/DemoteMasterContext\";s:11:\"description\";s:50:\"Contains
  details about the demoteMaster operation.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"InstancesExportRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Database
  instance export request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"exportContext\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ExportContext\";s:11:\"description\";s:44:\"Contains
  details about the export operation.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"InstancesFailoverRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Instance
  failover request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"failoverContext\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/FailoverContext\";s:11:\"description\";s:17:\"Failover
  Context.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"InstancesImportRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Database
  instance import request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"importContext\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ImportContext\";s:11:\"description\";s:44:\"Contains
  details about the import operation.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"InstancesListResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Database
  instances list response.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"List
  of database instance resources.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/DatabaseInstance\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:17:\"sql#instancesList\";s:11:\"description\";s:33:\"This
  is always sql#instancesList.\";s:4:\"type\";s:6:\"string\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:142:\"The
  continuation token, used to page through large result sets. Provide this value in
  a subsequent request to return the next page of results.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:30:\"InstancesListServerCasResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Instances
  ListServerCas response.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"activeVersion\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"certs\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"List
  of server CA certificates for the instance.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/SslCert\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:26:\"sql#instancesListServerCas\";s:11:\"description\";s:42:\"This
  is always sql#instancesListServerCas.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:29:\"InstancesRestoreBackupRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Database
  instance restore backup request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:20:\"restoreBackupContext\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/RestoreBackupContext\";s:11:\"description\";s:60:\"Parameters
  required to perform the restore backup operation.\";}}s:4:\"type\";s:6:\"object\";}s:30:\"InstancesRotateServerCaRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Rotate
  Server CA request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:21:\"rotateServerCaContext\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/RotateServerCaContext\";s:11:\"description\";s:54:\"Contains
  details about the rotate server CA operation.\";}}s:4:\"type\";s:6:\"object\";}s:27:\"InstancesTruncateLogRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Instance
  truncate log request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:18:\"truncateLogContext\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/TruncateLogContext\";s:11:\"description\";s:50:\"Contains
  details about the truncate log operation.\";}}s:4:\"type\";s:6:\"object\";}s:15:\"IpConfiguration\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"IP
  Management configuration.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:18:\"authorizedNetworks\";O:8:\"stdClass\":3:{s:11:\"description\";s:161:\"The
  list of external networks that are allowed to connect to the instance using the
  IP. In CIDR notation, also known as 'slash' notation (e.g. 192.168.100.0/24).\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/AclEntry\";}s:4:\"type\";s:5:\"array\";}s:11:\"ipv4Enabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"Whether
  the instance should be assigned an IP address or not.\";s:4:\"type\";s:7:\"boolean\";}s:10:\"requireSsl\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"Whether
  SSL connections over IP should be enforced or not.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:9:\"IpMapping\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Database
  instance IP Mapping.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"ipAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  IP address assigned.\";s:4:\"type\";s:6:\"string\";}s:12:\"timeToRetire\";O:8:\"stdClass\":3:{s:11:\"description\";s:165:\"The
  due time for this IP to be retired in RFC 3339 format, for example 2012-11-15T16:19:00.094Z.
  This field is only available when the IP is scheduled to be retired.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:200:\"The
  type of this IP address. A PRIMARY address is an address that can accept incoming
  connections. An OUTGOING address is the source address of connections originating
  from the instance, if supported.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"LocationPreference\";O:8:\"stdClass\":3:{s:11:\"description\";s:338:\"Preferred
  location. This specifies where a Cloud SQL instance should preferably be located,
  either in a specific Compute Engine zone, or co-located with an App Engine application.
  Note that if the preferred location is not available, the instance will be located
  as close as possible within the region. Only one location may be specified.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:20:\"followGaeApplication\";O:8:\"stdClass\":2:{s:11:\"description\";s:93:\"The
  AppEngine application to follow, it must be in the same region as the Cloud SQL
  instance.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:22:\"sql#locationPreference\";s:11:\"description\";s:38:\"This
  is always sql#locationPreference.\";s:4:\"type\";s:6:\"string\";}s:4:\"zone\";O:8:\"stdClass\":2:{s:11:\"description\";s:75:\"The
  preferred Compute Engine zone (e.g. us-centra1-a, us-central1-b, etc.).\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"MaintenanceWindow\";O:8:\"stdClass\":3:{s:11:\"description\";s:128:\"Maintenance
  window. This specifies when a v2 Cloud SQL instance should preferably be restarted
  for system maintenance puruposes.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"day\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"day
  of week (1-7), starting on Monday.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"hour\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"hour
  of day - 0 to 23.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:21:\"sql#maintenanceWindow\";s:11:\"description\";s:37:\"This
  is always sql#maintenanceWindow.\";s:4:\"type\";s:6:\"string\";}s:11:\"updateTrack\";O:8:\"stdClass\":2:{s:11:\"description\";s:76:\"Maintenance
  timing setting: canary (Earlier) or stable (Later).\n Learn more.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:25:\"MySqlReplicaConfiguration\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"Read-replica
  configuration specific to MySQL databases.\";s:10:\"properties\";O:8:\"stdClass\":11:{s:13:\"caCertificate\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"PEM
  representation of the trusted CA's x509 certificate.\";s:4:\"type\";s:6:\"string\";}s:17:\"clientCertificate\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"PEM
  representation of the slave's x509 certificate.\";s:4:\"type\";s:6:\"string\";}s:9:\"clientKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:115:\"PEM
  representation of the slave's private key. The corresponsing public key is encoded
  in the client's certificate.\";s:4:\"type\";s:6:\"string\";}s:20:\"connectRetryInterval\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"Seconds
  to wait between connect retries. MySQL's default is 60 seconds.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"dumpFilePath\";O:8:\"stdClass\":2:{s:11:\"description\";s:348:\"Path
  to a SQL dump file in Google Cloud Storage from which the slave instance is to be
  created. The URI is in the form gs://bucketName/fileName. Compressed gzip files
  (.gz) are also supported. Dumps should have the binlog co-ordinates from which replication
  should begin. This can be accomplished by setting --master-data to 1 when using
  mysqldump.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:29:\"sql#mysqlReplicaConfiguration\";s:11:\"description\";s:45:\"This
  is always sql#mysqlReplicaConfiguration.\";s:4:\"type\";s:6:\"string\";}s:21:\"masterHeartbeatPeriod\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Interval
  in milliseconds between replication heartbeats.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:8:\"password\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"The
  password for the replication connection.\";s:4:\"type\";s:6:\"string\";}s:9:\"sslCipher\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"A
  list of permissible ciphers to use for SSL encryption.\";s:4:\"type\";s:6:\"string\";}s:8:\"username\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"The
  username for the replication connection.\";s:4:\"type\";s:6:\"string\";}s:23:\"verifyServerCertificate\";O:8:\"stdClass\":2:{s:11:\"description\";s:113:\"Whether
  or not to check the master's Common Name value in the certificate that it sends
  during the SSL handshake.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:23:\"OnPremisesConfiguration\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"On-premises
  instance configuration.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"hostPort\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"The
  host and port of the on-premises instance in host:port format\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:27:\"sql#onPremisesConfiguration\";s:11:\"description\";s:43:\"This
  is always sql#onPremisesConfiguration.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"Operation\";O:8:\"stdClass\":3:{s:11:\"description\";s:227:\"An
  Operations resource contains information about database instance operations such
  as create, delete, and restart. Operations resources are created in response to
  operations that were initiated; you never create them directly.\";s:10:\"properties\";O:8:\"stdClass\":15:{s:7:\"endTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:106:\"The
  time this operation finished in UTC timezone in RFC 3339 format, for example 2012-11-15T16:19:00.094Z.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/OperationErrors\";s:11:\"description\";s:85:\"If
  errors occurred during processing of this operation, this field will be populated.\";}s:13:\"exportContext\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ExportContext\";s:11:\"description\";s:48:\"The
  context for export operation, if applicable.\";}s:13:\"importContext\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ImportContext\";s:11:\"description\";s:48:\"The
  context for import operation, if applicable.\";}s:10:\"insertTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:110:\"The
  time this operation was enqueued in UTC timezone in RFC 3339 format, for example
  2012-11-15T16:19:00.094Z.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:13:\"sql#operation\";s:11:\"description\";s:29:\"This
  is always sql#operation.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:159:\"An
  identifier that uniquely identifies the operation. You can use this identifier to
  retrieve the Operations resource that has information about the operation.\";s:4:\"type\";s:6:\"string\";}s:13:\"operationType\";O:8:\"stdClass\":2:{s:11:\"description\";s:184:\"The
  type of the operation. Valid values are CREATE, DELETE, UPDATE, RESTART, IMPORT,
  EXPORT, BACKUP_VOLUME, RESTORE_VOLUME, CREATE_USER, DELETE_USER, CREATE_DATABASE,
  DELETE_DATABASE .\";s:4:\"type\";s:6:\"string\";}s:8:\"selfLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  URI of this resource.\";s:4:\"type\";s:6:\"string\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:114:\"The
  time this operation actually started in UTC timezone in RFC 3339 format, for example
  2012-11-15T16:19:00.094Z.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"The
  status of an operation. Valid values are PENDING, RUNNING, DONE, UNKNOWN.\";s:4:\"type\";s:6:\"string\";}s:8:\"targetId\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Name
  of the database instance related to this operation.\";s:4:\"type\";s:6:\"string\";}s:10:\"targetLink\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"targetProject\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"The
  project ID of the target instance related to this operation.\";s:4:\"type\";s:6:\"string\";}s:4:\"user\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"The
  email address of the user who initiated this operation.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"OperationError\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Database
  instance operation error.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Identifies
  the specific error that occurred.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:18:\"sql#operationError\";s:11:\"description\";s:34:\"This
  is always sql#operationError.\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"Additional
  information about the error encountered.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"OperationErrors\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Database
  instance operation errors list wrapper.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"errors\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"The
  list of errors encountered while processing this operation.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/OperationError\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:19:\"sql#operationErrors\";s:11:\"description\";s:35:\"This
  is always sql#operationErrors.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:22:\"OperationsListResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Database
  instance list operations response.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"List
  of operation resources.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Operation\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:18:\"sql#operationsList\";s:11:\"description\";s:34:\"This
  is always sql#operationsList.\";s:4:\"type\";s:6:\"string\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:142:\"The
  continuation token, used to page through large result sets. Provide this value in
  a subsequent request to return the next page of results.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"ReplicaConfiguration\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Read-replica
  configuration for connecting to the master.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"failoverTarget\";O:8:\"stdClass\":2:{s:11:\"description\";s:355:\"Specifies
  if the replica is the failover target. If the field is set to true the replica will
  be designated as a failover replica. In case the master instance fails, the replica
  instance will be promoted as the new master instance.\nOnly one replica can be specified
  as failover target, and the replica has to be in different zone with the master
  instance.\";s:4:\"type\";s:7:\"boolean\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:24:\"sql#replicaConfiguration\";s:11:\"description\";s:40:\"This
  is always sql#replicaConfiguration.\";s:4:\"type\";s:6:\"string\";}s:25:\"mysqlReplicaConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/MySqlReplicaConfiguration\";s:11:\"description\";s:366:\"MySQL
  specific configuration when replicating from a MySQL on-premises master. Replication
  configuration information such as the username, password, certificates, and keys
  are not stored in the instance metadata. The configuration information is used only
  to set up the replication connection and is stored by MySQL in a file named master.info
  in the data directory.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"RestoreBackupContext\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Database
  instance restore from backup context.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"backupRunId\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  ID of the backup run to restore from.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:10:\"instanceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"The
  ID of the instance that the backup was taken from.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:24:\"sql#restoreBackupContext\";s:11:\"description\";s:40:\"This
  is always sql#restoreBackupContext.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"RotateServerCaContext\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Instance
  rotate server CA context.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:25:\"sql#rotateServerCaContext\";s:11:\"description\";s:41:\"This
  is always sql#rotateServerCaContext.\";s:4:\"type\";s:6:\"string\";}s:11:\"nextVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:136:\"The
  fingerprint of the next version to be rotated to. If left unspecified, will be rotated
  to the most recently added server CA version.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Settings\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Database
  instance settings.\";s:10:\"properties\";O:8:\"stdClass\":20:{s:16:\"activationPolicy\";O:8:\"stdClass\":2:{s:11:\"description\";s:582:\"The
  activation policy specifies when the instance is activated; it is applicable only
  when the instance state is RUNNABLE. Valid values:\nALWAYS: The instance is on,
  and remains so even in the absence of connection requests.\nNEVER: The instance
  is off; it is not activated, even if a connection request arrives.\nON_DEMAND: First
  Generation instances only. The instance responds to incoming requests, and turns
  itself off when not in use. Instances with PER_USE pricing turn off after 15 minutes
[...]
