---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":4:{s:7:\"version\";s:0:\"\";s:5:\"title\";s:14:\"Google
  AdSense\";s:11:\"description\";s:83:\"Access and manage your AdSense earnings and
  inventory, and generate custom reports.\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:3:\"MIT\";s:3:\"url\";s:55:\"http://github.com/gruntjs/grunt/blob/master/LICENSE-MIT\";}}"
host: www.googleapis.com
basePath: /adsense/v1.1/
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":3:{s:9:\"dimension\";O:8:\"stdClass\":3:{s:5:\"title\";s:9:\"dimension\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:29:{i:0;s:4:\"DATE\";i:1;s:4:\"WEEK\";i:2;s:5:\"MONTH\";i:3;s:12:\"AD_CLIENT_ID\";i:4;s:12:\"PRODUCT_CODE\";i:5;s:12:\"PRODUCT_NAME\";i:6;s:10:\"AD_UNIT_ID\";i:7;s:12:\"AD_UNIT_CODE\";i:8;s:12:\"AD_UNIT_NAME\";i:9;s:17:\"AD_UNIT_SIZE_CODE\";i:10;s:17:\"AD_UNIT_SIZE_NAME\";i:11;s:17:\"CUSTOM_CHANNEL_ID\";i:12;s:19:\"CUSTOM_CHANNEL_CODE\";i:13;s:19:\"CUSTOM_CHANNEL_NAME\";i:14;s:14:\"URL_CHANNEL_ID\";i:15;s:16:\"URL_CHANNEL_NAME\";i:16;s:14:\"AD_FORMAT_CODE\";i:17;s:14:\"AD_FORMAT_NAME\";i:18;s:18:\"BRANDING_TYPE_CODE\";i:19;s:18:\"BRANDING_TYPE_NAME\";i:20;s:16:\"BUYER_NETWORK_ID\";i:21;s:18:\"BUYER_NETWORK_NAME\";i:22;s:13:\"BID_TYPE_CODE\";i:23;s:13:\"BID_TYPE_NAME\";i:24;s:11:\"DOMAIN_NAME\";i:25;s:12:\"COUNTRY_CODE\";i:26;s:12:\"COUNTRY_NAME\";i:27;s:19:\"TARGETING_TYPE_CODE\";i:28;s:19:\"TARGETING_TYPE_NAME\";}}s:6:\"metric\";O:8:\"stdClass\":3:{s:5:\"title\";s:6:\"metric\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:17:{i:0;s:10:\"PAGE_VIEWS\";i:1;s:14:\"PAGE_VIEWS_CTR\";i:2;s:14:\"PAGE_VIEWS_RPM\";i:3;s:11:\"AD_REQUESTS\";i:4;s:20:\"AD_REQUESTS_COVERAGE\";i:5;s:15:\"AD_REQUESTS_CTR\";i:6;s:15:\"AD_REQUESTS_RPM\";i:7;s:19:\"MATCHED_AD_REQUESTS\";i:8;s:23:\"MATCHED_AD_REQUESTS_CTR\";i:9;s:23:\"MATCHED_AD_REQUESTS_RPM\";i:10;s:25:\"INDIVIDUAL_AD_IMPRESSIONS\";i:11;s:29:\"INDIVIDUAL_AD_IMPRESSIONS_CTR\";i:12;s:29:\"INDIVIDUAL_AD_IMPRESSIONS_RPM\";i:13;s:6:\"CLICKS\";i:14;s:8:\"EARNINGS\";i:15;s:14:\"TOTAL_EARNINGS\";i:16;s:14:\"COST_PER_CLICK\";}}s:4:\"sort\";O:8:\"stdClass\":3:{s:5:\"title\";s:4:\"sort\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:46:{i:0;s:4:\"DATE\";i:1;s:4:\"WEEK\";i:2;s:5:\"MONTH\";i:3;s:12:\"AD_CLIENT_ID\";i:4;s:12:\"PRODUCT_CODE\";i:5;s:12:\"PRODUCT_NAME\";i:6;s:10:\"AD_UNIT_ID\";i:7;s:12:\"AD_UNIT_CODE\";i:8;s:12:\"AD_UNIT_NAME\";i:9;s:17:\"AD_UNIT_SIZE_CODE\";i:10;s:17:\"AD_UNIT_SIZE_NAME\";i:11;s:17:\"CUSTOM_CHANNEL_ID\";i:12;s:19:\"CUSTOM_CHANNEL_CODE\";i:13;s:19:\"CUSTOM_CHANNEL_NAME\";i:14;s:14:\"URL_CHANNEL_ID\";i:15;s:16:\"URL_CHANNEL_NAME\";i:16;s:14:\"AD_FORMAT_CODE\";i:17;s:14:\"AD_FORMAT_NAME\";i:18;s:18:\"BRANDING_TYPE_CODE\";i:19;s:18:\"BRANDING_TYPE_NAME\";i:20;s:16:\"BUYER_NETWORK_ID\";i:21;s:18:\"BUYER_NETWORK_NAME\";i:22;s:13:\"BID_TYPE_CODE\";i:23;s:13:\"BID_TYPE_NAME\";i:24;s:11:\"DOMAIN_NAME\";i:25;s:12:\"COUNTRY_CODE\";i:26;s:12:\"COUNTRY_NAME\";i:27;s:19:\"TARGETING_TYPE_CODE\";i:28;s:19:\"TARGETING_TYPE_NAME\";i:29;s:10:\"PAGE_VIEWS\";i:30;s:14:\"PAGE_VIEWS_CTR\";i:31;s:14:\"PAGE_VIEWS_RPM\";i:32;s:11:\"AD_REQUESTS\";i:33;s:20:\"AD_REQUESTS_COVERAGE\";i:34;s:15:\"AD_REQUESTS_CTR\";i:35;s:15:\"AD_REQUESTS_RPM\";i:36;s:19:\"MATCHED_AD_REQUESTS\";i:37;s:23:\"MATCHED_AD_REQUESTS_CTR\";i:38;s:23:\"MATCHED_AD_REQUESTS_RPM\";i:39;s:25:\"INDIVIDUAL_AD_IMPRESSIONS\";i:40;s:29:\"INDIVIDUAL_AD_IMPRESSIONS_CTR\";i:41;s:29:\"INDIVIDUAL_AD_IMPRESSIONS_RPM\";i:42;s:6:\"CLICKS\";i:43;s:8:\"EARNINGS\";i:44;s:14:\"TOTAL_EARNINGS\";i:45;s:14:\"COST_PER_CLICK\";}}}"
...
