---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":12:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Google\";s:3:\"url\";s:18:\"https://google.com\";}s:11:\"description\";s:40:\"API
  for working with Fusion Tables data.\";s:5:\"title\";s:13:\"Fusion Tables\";s:7:\"version\";s:2:\"v2\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:37:\"https://console.developers.google.com\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:116:\"https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.6.2\";}s:6:\"format\";s:6:\"google\";s:3:\"url\";s:65:\"https://www.googleapis.com/discovery/v1/apis/fusiontables/v2/rest\";s:7:\"version\";s:2:\"v1\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"googleapis.com\";s:13:\"x-serviceName\";s:12:\"fusiontables\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:19:\"google_fusiontables\";s:4:\"type\";s:7:\"openapi\";}}"
host: www.googleapis.com
basePath: /fusiontables/v2
paths:
  /query:
    get:
      description: Executes a SQL statement which can be any of n- SELECTn- SHOWn-
        DESCRIBE
      operationId: query.sqlGet
      parameters:
      - description: Whether column names are included (in the first row). Default
          is true.
        in: query
        name: hdrs
        type: boolean
      - description: A SQL statement which can be any of n- SELECTn- SHOWn- DESCRIBE
        in: query
        name: sql
        required: true
        type: string
      - description: 'Whether typed values are returned in the (JSON) response: numbers
          for numeric values and parsed geometries for KML values. Default is true.'
        in: query
        name: typed
        type: boolean
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Sqlresponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/fusiontables
      - Oauth2:
        - https://www.googleapis.com/auth/fusiontables.readonly
      tags:
      - query
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Executes a Fusion Tables SQL statement, which can be any of n-
        SELECTn- INSERTn- UPDATEn- DELETEn- SHOWn- DESCRIBEn- CREATE statement.
      operationId: query.sql
      parameters:
      - description: Whether column names are included in the first row. Default is
          true.
        in: query
        name: hdrs
        type: boolean
      - description: A Fusion Tables SQL statement, which can be any of n- SELECTn-
          INSERTn- UPDATEn- DELETEn- SHOWn- DESCRIBEn- CREATE
        in: query
        name: sql
        required: true
        type: string
      - description: 'Whether typed values are returned in the (JSON) response: numbers
          for numeric values and parsed geometries for KML values. Default is true.'
        in: query
        name: typed
        type: boolean
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Sqlresponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/fusiontables
      - Oauth2:
        - https://www.googleapis.com/auth/fusiontables.readonly
      tags:
      - query
  /tables:
    get:
      description: Retrieves a list of tables a user owns.
      operationId: table.list
      parameters:
      - description: Maximum number of tables to return. Default is 5.
        in: query
        minimum: 0
        name: maxResults
        type: integer
      - description: Continuation token specifying which result page to return.
        in: query
        name: pageToken
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/TableList'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/fusiontables
      - Oauth2:
        - https://www.googleapis.com/auth/fusiontables.readonly
      tags:
      - table
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Creates a new table.
      operationId: table.insert
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/Table'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Table'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/fusiontables
      tags:
      - table
  /tables/import:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      consumes:
      - application/octet-stream
      description: Imports a new table.
      operationId: table.importTable
      parameters:
      - description: The delimiter used to separate cell values. This can only consist
          of a single character. Default is ,.
        in: query
        name: delimiter
        type: string
      - description: The encoding of the content. Default is UTF-8. Use auto-detect
          if you are unsure of the encoding.
        in: query
        name: encoding
        type: string
      - description: The name to be assigned to the new table.
        in: query
        name: name
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Table'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/fusiontables
      tags:
      - table
  /tables/{tableId}:
    delete:
      description: Deletes a table.
      operationId: table.delete
      parameters:
      - description: ID of the table to be deleted.
        in: path
        name: tableId
        required: true
        type: string
      responses:
        200:
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/fusiontables
      tags:
      - table
    get:
      description: Retrieves a specific table by its ID.
      operationId: table.get
      parameters:
      - description: Identifier for the table being requested.
        in: path
        name: tableId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Table'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/fusiontables
      - Oauth2:
        - https://www.googleapis.com/auth/fusiontables.readonly
      tags:
      - table
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    patch:
      description: Updates an existing table. Unless explicitly requested, only the
        name, description, and attribution will be updated. This method supports patch
        semantics.
      operationId: table.patch
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/Table'
      - description: Whether the view definition is also updated. The specified view
          definition replaces the existing one. Only a view can be updated with a
          new definition.
        in: query
        name: replaceViewDefinition
        type: boolean
      - description: ID of the table that is being updated.
        in: path
        name: tableId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Table'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/fusiontables
      tags:
      - table
    put:
      description: Updates an existing table. Unless explicitly requested, only the
        name, description, and attribution will be updated.
      operationId: table.update
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/Table'
      - description: Whether the view definition is also updated. The specified view
          definition replaces the existing one. Only a view can be updated with a
          new definition.
        in: query
        name: replaceViewDefinition
        type: boolean
      - description: ID of the table that is being updated.
        in: path
        name: tableId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Table'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/fusiontables
      tags:
      - table
  /tables/{tableId}/columns:
    get:
      description: Retrieves a list of columns.
      operationId: column.list
      parameters:
      - description: Maximum number of columns to return. Default is 5.
        in: query
        minimum: 0
        name: maxResults
        type: integer
      - description: Continuation token specifying which result page to return.
        in: query
        name: pageToken
        type: string
      - description: Table whose columns are being listed.
        in: path
        name: tableId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ColumnList'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/fusiontables
      - Oauth2:
        - https://www.googleapis.com/auth/fusiontables.readonly
      tags:
      - column
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Adds a new column to the table.
      operationId: column.insert
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/Column'
      - description: Table for which a new column is being added.
        in: path
        name: tableId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Column'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/fusiontables
      tags:
      - column
  /tables/{tableId}/columns/{columnId}:
    delete:
      description: Deletes the specified column.
      operationId: column.delete
      parameters:
      - description: Name or identifier for the column being deleted.
        in: path
        name: columnId
        required: true
        type: string
      - description: Table from which the column is being deleted.
        in: path
        name: tableId
        required: true
        type: string
      responses:
        200:
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/fusiontables
      tags:
      - column
    get:
      description: Retrieves a specific column by its ID.
      operationId: column.get
      parameters:
      - description: Name or identifier for the column that is being requested.
        in: path
        name: columnId
        required: true
        type: string
      - description: Table to which the column belongs.
        in: path
        name: tableId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Column'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/fusiontables
      - Oauth2:
        - https://www.googleapis.com/auth/fusiontables.readonly
      tags:
      - column
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    patch:
      description: Updates the name or type of an existing column. This method supports
        patch semantics.
      operationId: column.patch
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/Column'
      - description: Name or identifier for the column that is being updated.
        in: path
        name: columnId
        required: true
        type: string
      - description: Table for which the column is being updated.
        in: path
        name: tableId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Column'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/fusiontables
      tags:
      - column
    put:
      description: Updates the name or type of an existing column.
      operationId: column.update
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/Column'
      - description: Name or identifier for the column that is being updated.
        in: path
        name: columnId
        required: true
        type: string
      - description: Table for which the column is being updated.
        in: path
        name: tableId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Column'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/fusiontables
      tags:
      - column
  /tables/{tableId}/copy:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Copies a table.
      operationId: table.copy
      parameters:
      - description: Whether to also copy tabs, styles, and templates. Default is
          false.
        in: query
        name: copyPresentation
        type: boolean
      - description: ID of the table that is being copied.
        in: path
        name: tableId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Table'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/fusiontables
      - Oauth2:
        - https://www.googleapis.com/auth/fusiontables.readonly
      tags:
      - table
  /tables/{tableId}/import:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      consumes:
      - application/octet-stream
      description: Imports more rows into a table.
      operationId: table.importRows
      parameters:
      - description: The delimiter used to separate cell values. This can only consist
          of a single character. Default is ,.
        in: query
        name: delimiter
        type: string
      - description: The encoding of the content. Default is UTF-8. Use auto-detect
          if you are unsure of the encoding.
        in: query
        name: encoding
        type: string
      - description: The index of the line up to which data will be imported. Default
          is to import the entire file. If endLine is negative, it is an offset from
          the end of the file; the imported content will exclude the last endLine
          lines.
        in: query
        name: endLine
        type: integer
      - description: Whether the imported CSV must have the same number of values
          for each row. If false, rows with fewer values will be padded with empty
          values. Default is true.
        in: query
        name: isStrict
        type: boolean
      - description: The index of the first line from which to start importing, inclusive.
          Default is 0.
        in: query
        name: startLine
        type: integer
      - description: The table into which new rows are being imported.
        in: path
        name: tableId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Import'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/fusiontables
      tags:
      - table
  /tables/{tableId}/refetch:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Replaces rows of the table with the rows of the spreadsheet that
        is first imported from. Current rows remain visible until all replacement
        rows are ready.
      operationId: table.refetchSheet
      parameters:
      - description: Table whose rows will be replaced from the spreadsheet.
        in: path
        name: tableId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Task'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/fusiontables
      tags:
      - table
  /tables/{tableId}/replace:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      consumes:
      - application/octet-stream
      description: Replaces rows of an existing table. Current rows remain visible
        until all replacement rows are ready.
      operationId: table.replaceRows
      parameters:
      - description: The delimiter used to separate cell values. This can only consist
          of a single character. Default is ,.
        in: query
        name: delimiter
        type: string
      - description: The encoding of the content. Default is UTF-8. Use 'auto-detect'
          if you are unsure of the encoding.
        in: query
        name: encoding
        type: string
      - description: The index of the line up to which data will be imported. Default
          is to import the entire file. If endLine is negative, it is an offset from
          the end of the file; the imported content will exclude the last endLine
          lines.
        in: query
        name: endLine
        type: integer
      - description: Whether the imported CSV must have the same number of column
          values for each row. If true, throws an exception if the CSV does not have
          the same number of columns. If false, rows with fewer column values will
          be padded with empty values. Default is true.
        in: query
        name: isStrict
        type: boolean
      - description: The index of the first line from which to start importing, inclusive.
          Default is 0.
        in: query
        name: startLine
        type: integer
      - description: Table whose rows will be replaced.
        in: path
        name: tableId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Task'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/fusiontables
      tags:
      - table
  /tables/{tableId}/styles:
    get:
      description: Retrieves a list of styles.
      operationId: style.list
      parameters:
      - description: Maximum number of styles to return. Optional. Default is 5.
        in: query
        minimum: 0
        name: maxResults
        type: integer
      - description: Continuation token specifying which result page to return. Optional.
        in: query
        name: pageToken
        type: string
      - description: Table whose styles are being listed
        in: path
        name: tableId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/StyleSettingList'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/fusiontables
      - Oauth2:
        - https://www.googleapis.com/auth/fusiontables.readonly
      tags:
      - style
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Adds a new style for the table.
      operationId: style.insert
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/StyleSetting'
      - description: Table for which a new style is being added
        in: path
        name: tableId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/StyleSetting'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/fusiontables
      tags:
      - style
  /tables/{tableId}/styles/{styleId}:
    delete:
      description: Deletes a style.
      operationId: style.delete
      parameters:
      - description: Identifier (within a table) for the style being deleted
        in: path
        name: styleId
        required: true
        type: integer
      - description: Table from which the style is being deleted
        in: path
        name: tableId
        required: true
        type: string
      responses:
        200:
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/fusiontables
      tags:
      - style
    get:
      description: Gets a specific style.
      operationId: style.get
      parameters:
      - description: Identifier (integer) for a specific style in a table
        in: path
        name: styleId
        required: true
        type: integer
      - description: Table to which the requested style belongs
        in: path
        name: tableId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/StyleSetting'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/fusiontables
      - Oauth2:
        - https://www.googleapis.com/auth/fusiontables.readonly
      tags:
      - style
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    patch:
      description: Updates an existing style. This method supports patch semantics.
      operationId: style.patch
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/StyleSetting'
      - description: Identifier (within a table) for the style being updated.
        in: path
        name: styleId
        required: true
        type: integer
      - description: Table whose style is being updated.
        in: path
        name: tableId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/StyleSetting'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/fusiontables
      tags:
      - style
    put:
      description: Updates an existing style.
      operationId: style.update
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/StyleSetting'
      - description: Identifier (within a table) for the style being updated.
        in: path
        name: styleId
        required: true
        type: integer
      - description: Table whose style is being updated.
        in: path
        name: tableId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/StyleSetting'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/fusiontables
      tags:
      - style
  /tables/{tableId}/tasks:
    get:
      description: Retrieves a list of tasks.
      operationId: task.list
      parameters:
      - description: Maximum number of tasks to return. Default is 5.
        in: query
        minimum: 0
        name: maxResults
        type: integer
      - description: Continuation token specifying which result page to return.
        in: query
        name: pageToken
        type: string
      - description: Index of the first result returned in the current page.
        in: query
        name: startIndex
        type: integer
      - description: Table whose tasks are being listed.
        in: path
        name: tableId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/TaskList'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/fusiontables
      - Oauth2:
        - https://www.googleapis.com/auth/fusiontables.readonly
      tags:
      - task
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
  /tables/{tableId}/tasks/{taskId}:
    delete:
      description: Deletes a specific task by its ID, unless that task has already
        started running.
      operationId: task.delete
      parameters:
      - description: Table from which the task is being deleted.
        in: path
        name: tableId
        required: true
        type: string
      - description: The identifier of the task to delete.
        in: path
        name: taskId
        required: true
        type: string
      responses:
        200:
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/fusiontables
      tags:
      - task
    get:
      description: Retrieves a specific task by its ID.
      operationId: task.get
      parameters:
      - description: Table to which the task belongs.
        in: path
        name: tableId
        required: true
        type: string
      - description: The identifier of the task to get.
        in: path
        name: taskId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Task'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/fusiontables
      - Oauth2:
        - https://www.googleapis.com/auth/fusiontables.readonly
      tags:
      - task
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
  /tables/{tableId}/templates:
    get:
      description: Retrieves a list of templates.
      operationId: template.list
      parameters:
      - description: Maximum number of templates to return. Optional. Default is 5.
        in: query
        minimum: 0
        name: maxResults
        type: integer
      - description: Continuation token specifying which results page to return. Optional.
        in: query
        name: pageToken
        type: string
      - description: Identifier for the table whose templates are being requested
        in: path
        name: tableId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/TemplateList'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/fusiontables
      - Oauth2:
        - https://www.googleapis.com/auth/fusiontables.readonly
      tags:
      - template
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Creates a new template for the table.
      operationId: template.insert
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/Template'
      - description: Table for which a new template is being created
        in: path
        name: tableId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Template'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/fusiontables
      tags:
      - template
  /tables/{tableId}/templates/{templateId}:
    delete:
      description: Deletes a template
      operationId: template.delete
      parameters:
      - description: Table from which the template is being deleted
        in: path
        name: tableId
        required: true
        type: string
      - description: Identifier for the template which is being deleted
        in: path
        name: templateId
        required: true
        type: integer
      responses:
        200:
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/fusiontables
      tags:
      - template
    get:
      description: Retrieves a specific template by its id
      operationId: template.get
      parameters:
      - description: Table to which the template belongs
        in: path
        name: tableId
        required: true
        type: string
      - description: Identifier for the template that is being requested
        in: path
        name: templateId
        required: true
        type: integer
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Template'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/fusiontables
      - Oauth2:
        - https://www.googleapis.com/auth/fusiontables.readonly
      tags:
      - template
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    patch:
      description: Updates an existing template. This method supports patch semantics.
      operationId: template.patch
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/Template'
      - description: Table to which the updated template belongs
        in: path
        name: tableId
        required: true
        type: string
      - description: Identifier for the template that is being updated
        in: path
        name: templateId
        required: true
        type: integer
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Template'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/fusiontables
      tags:
      - template
    put:
      description: Updates an existing template
      operationId: template.update
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/Template'
      - description: Table to which the updated template belongs
        in: path
        name: tableId
        required: true
        type: string
      - description: Identifier for the template that is being updated
        in: path
        name: templateId
        required: true
        type: integer
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Template'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/fusiontables
      tags:
      - template
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":21:{s:6:\"Bucket\";O:8:\"stdClass\":3:{s:11:\"description\";s:112:\"Specifies
  the minimum and maximum values, the color, opacity, icon and weight of a bucket
  within a StyleSetting.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:5:\"color\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"Color
  of line or the interior of a polygon in #RRGGBB format.\";s:4:\"type\";s:6:\"string\";}s:4:\"icon\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Icon
  name used for a point.\";s:4:\"type\";s:6:\"string\";}s:3:\"max\";O:8:\"stdClass\":3:{s:11:\"description\";s:116:\"Maximum
  value in the selected column for a row to be styled according to the bucket color,
  opacity, icon, or weight.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:3:\"min\";O:8:\"stdClass\":3:{s:11:\"description\";s:116:\"Minimum
  value in the selected column for a row to be styled according to the bucket color,
  opacity, icon, or weight.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:7:\"opacity\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Opacity
  of the color: 0.0 (transparent) to 1.0 (opaque).\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:6:\"weight\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Width
  of a line (in pixels).\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Column\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Specifies
  the details of a column in a table.\";s:10:\"properties\";O:8:\"stdClass\":12:{s:10:\"baseColumn\";O:8:\"stdClass\":3:{s:11:\"description\";s:97:\"Identifier
  of the base column. If present, this column is derived from the specified base column.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"columnId\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"The
  id of the column in the base table from which this column is derived.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"tableIndex\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"Offset
  to the entry in the list of base tables in the table definition.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:8:\"columnId\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Identifier
  for the column.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:16:\"columnJsonSchema\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"JSON
  schema for interpreting JSON in this column.\";s:4:\"type\";s:6:\"string\";}s:20:\"columnPropertiesJson\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"JSON
  object containing custom column properties.\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Column
  description.\";s:4:\"type\";s:6:\"string\";}s:13:\"formatPattern\";O:8:\"stdClass\":2:{s:11:\"description\";s:1625:\"Format
  pattern.\nAcceptable values are DT_DATE_MEDIUMe.g Dec 24, 2008 DT_DATE_SHORTfor
  example 12/24/08 DT_DATE_TIME_MEDIUMfor example Dec 24, 2008 8:30:45 PM DT_DATE_TIME_SHORTfor
  example 12/24/08 8:30 PM DT_DAY_MONTH_2_DIGIT_YEARfor example 24/12/08 DT_DAY_MONTH_2_DIGIT_YEAR_TIMEfor
  example 24/12/08 20:30 DT_DAY_MONTH_2_DIGIT_YEAR_TIME_MERIDIANfor example 24/12/08
  8:30 PM DT_DAY_MONTH_4_DIGIT_YEARfor example 24/12/2008 DT_DAY_MONTH_4_DIGIT_YEAR_TIMEfor
  example 24/12/2008 20:30 DT_DAY_MONTH_4_DIGIT_YEAR_TIME_MERIDIANfor example 24/12/2008
  8:30 PM DT_ISO_YEAR_MONTH_DAYfor example 2008-12-24 DT_ISO_YEAR_MONTH_DAY_TIMEfor
  example 2008-12-24 20:30:45 DT_MONTH_DAY_4_DIGIT_YEARfor example 12/24/2008 DT_TIME_LONGfor
  example 8:30:45 PM UTC-6 DT_TIME_MEDIUMfor example 8:30:45 PM DT_TIME_SHORTfor example
  8:30 PM DT_YEAR_ONLYfor example 2008 HIGHLIGHT_UNTYPED_CELLSHighlight cell data
  that does not match the data type NONENo formatting (default) NUMBER_CURRENCYfor
  example $1234.56 NUMBER_DEFAULTfor example 1,234.56 NUMBER_INTEGERfor example 1235
  NUMBER_NO_SEPARATORfor example 1234.56 NUMBER_PERCENTfor example 123,456% NUMBER_SCIENTIFICfor
  example 1E3 STRING_EIGHT_LINE_IMAGEDisplays thumbnail images as tall as eight lines
  of text STRING_FOUR_LINE_IMAGEDisplays thumbnail images as tall as four lines of
  text STRING_JSON_TEXTAllows editing of text as JSON in UI STRING_JSON_LISTAllows
  editing of text as a JSON list in UI STRING_LINKTreats cell as a link (must start
  with http:// or https://) STRING_ONE_LINE_IMAGEDisplays thumbnail images as tall
  as one line of text STRING_VIDEO_OR_MAPDisplay a video or map thumbnail\";s:4:\"type\";s:6:\"string\";}s:14:\"graphPredicate\";O:8:\"stdClass\":2:{s:11:\"description\";s:120:\"Column
  graph predicate.\nUsed to map table to graph data model (subject,predicate,object)\nSee
  W3C Graph-based Data Model.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:19:\"fusiontables#column\";s:11:\"description\";s:75:\"The
  kind of item this is. For a column, this is always fusiontables#column.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Name
  of the column.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Type
  of the column.\";s:4:\"type\";s:6:\"string\";}s:11:\"validValues\";O:8:\"stdClass\":3:{s:11:\"description\";s:104:\"List
  of valid values used to validate data and supply a drop-down list of values in the
  web application.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:12:\"validateData\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"If
  true, data entered via the web application is validated.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:10:\"ColumnList\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Represents
  a list of columns in a table.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"List
  of all requested columns.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Column\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:23:\"fusiontables#columnList\";s:11:\"description\";s:84:\"The
  kind of item this is. For a column list, this is always fusiontables#columnList.\";s:4:\"type\";s:6:\"string\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:105:\"Token
  used to access the next page of this result. No token is displayed if there are
  no more pages left.\";s:4:\"type\";s:6:\"string\";}s:10:\"totalItems\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Total
  number of columns for the table.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Geometry\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Represents
  a Geometry object.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"geometries\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  list of geometries in this geometry collection.\";s:5:\"items\";O:8:\"stdClass\":0:{}s:4:\"type\";s:5:\"array\";}s:8:\"geometry\";O:8:\"stdClass\":0:{}s:4:\"type\";O:8:\"stdClass\":3:{s:7:\"default\";s:18:\"GeometryCollection\";s:11:\"description\";s:33:\"Type:
  A collection of geometries.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Import\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Represents
  an import request.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:19:\"fusiontables#import\";s:11:\"description\";s:76:\"The
  kind of item this is. For an import, this is always fusiontables#import.\";s:4:\"type\";s:6:\"string\";}s:15:\"numRowsReceived\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"The
  number of rows received from the import request.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Line\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Represents
  a line geometry.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"coordinates\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"The
  coordinates that define the line.\";s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";O:8:\"stdClass\":3:{s:7:\"default\";s:10:\"LineString\";s:11:\"description\";s:22:\"Type:
  A line geometry.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"LineStyle\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Represents
  a LineStyle within a StyleSetting\";s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"strokeColor\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Color
  of the line in #RRGGBB format.\";s:4:\"type\";s:6:\"string\";}s:17:\"strokeColorStyler\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/StyleFunction\";s:11:\"description\";s:94:\"Column-value,
  gradient or buckets styler that is used to determine the line color and opacity.\";}s:13:\"strokeOpacity\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Opacity
  of the line : 0.0 (transparent) to 1.0 (opaque).\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:12:\"strokeWeight\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Width
  of the line in pixels.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:18:\"strokeWeightStyler\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/StyleFunction\";s:11:\"description\";s:78:\"Column-value
  or bucket styler that is used to determine the width of the line.\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Point\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Represents
  a point object.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"coordinates\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  coordinates that define the point.\";s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";O:8:\"stdClass\":3:{s:7:\"default\";s:5:\"Point\";s:11:\"description\";s:24:\"Point:
  A point geometry.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"PointStyle\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Represents
  a PointStyle within a StyleSetting\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"iconName\";O:8:\"stdClass\":2:{s:11:\"description\";s:99:\"Name
  of the icon. Use values defined in http://www.google.com/fusiontables/DataSource?dsrcid=308519\";s:4:\"type\";s:6:\"string\";}s:10:\"iconStyler\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/StyleFunction\";s:11:\"description\";s:70:\"Column
  or a bucket value from which the icon name is to be determined.\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Polygon\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Represents
  a polygon object.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"coordinates\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  coordinates that define the polygon.\";s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";O:8:\"stdClass\":3:{s:7:\"default\";s:7:\"Polygon\";s:11:\"description\";s:25:\"Type:
  A polygon geometry.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"PolygonStyle\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Represents
  a PolygonStyle within a StyleSetting\";s:10:\"properties\";O:8:\"stdClass\":8:{s:9:\"fillColor\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"Color
  of the interior of the polygon in #RRGGBB format.\";s:4:\"type\";s:6:\"string\";}s:15:\"fillColorStyler\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/StyleFunction\";s:11:\"description\";s:113:\"Column-value,
  gradient, or bucket styler that is used to determine the interior color and opacity
  of the polygon.\";}s:11:\"fillOpacity\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"Opacity
  of the interior of the polygon: 0.0 (transparent) to 1.0 (opaque).\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:11:\"strokeColor\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Color
  of the polygon border in #RRGGBB format.\";s:4:\"type\";s:6:\"string\";}s:17:\"strokeColorStyler\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/StyleFunction\";s:11:\"description\";s:96:\"Column-value,
  gradient or buckets styler that is used to determine the border color and opacity.\";}s:13:\"strokeOpacity\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"Opacity
  of the polygon border: 0.0 (transparent) to 1.0 (opaque).\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:12:\"strokeWeight\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Width
  of the polyon border in pixels.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:18:\"strokeWeightStyler\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/StyleFunction\";s:11:\"description\";s:88:\"Column-value
  or bucket styler that is used to determine the width of the polygon border.\";}}s:4:\"type\";s:6:\"object\";}s:11:\"Sqlresponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Represents
  a response to a SQL statement.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"columns\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Columns
  in the table.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:24:\"fusiontables#sqlresponse\";s:11:\"description\";s:96:\"The
  kind of item this is. For responses to SQL queries, this is always fusiontables#sqlresponse.\";s:4:\"type\";s:6:\"string\";}s:4:\"rows\";O:8:\"stdClass\":3:{s:11:\"description\";s:162:\"The
  rows in the table. For each cell we print out whatever cell value (e.g., numeric,
  string) exists. Thus it is important that each cell contains only one value.\";s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":0:{}s:4:\"type\";s:5:\"array\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:13:\"StyleFunction\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Represents
  a StyleFunction within a StyleSetting\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"buckets\";O:8:\"stdClass\":3:{s:11:\"description\";s:82:\"Bucket
  function that assigns a style based on the range a column value falls into.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Bucket\";}s:4:\"type\";s:5:\"array\";}s:10:\"columnName\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Name
  of the column whose value is used in the style.\";s:4:\"type\";s:6:\"string\";}s:8:\"gradient\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"Gradient
  function that interpolates a range of colors based on column value.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"colors\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Array
  with two or more colors.\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"color\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Color
  in #RRGGBB format.\";s:4:\"type\";s:6:\"string\";}s:7:\"opacity\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Opacity
  of the color: 0.0 (transparent) to 1.0 (opaque).\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:3:\"max\";O:8:\"stdClass\":3:{s:11:\"description\";s:92:\"Higher-end
  of the interpolation range: rows with this value will be assigned to colors[n-1].\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:3:\"min\";O:8:\"stdClass\":3:{s:11:\"description\";s:89:\"Lower-end
  of the interpolation range: rows with this value will be assigned to colors[0].\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:4:\"kind\";O:8:\"stdClass\":2:{s:11:\"description\";s:420:\"Stylers
  can be one of three kinds: \"fusiontables#fromColumn if the column value is to be
  used as is, i.e., the column values can have colors in #RRGGBBAA format or integer
  line widths or icon names; fusiontables#gradient if the styling of the row is to
  be based on applying the gradient function on the column value; or fusiontables#buckets
  if the styling is to based on the bucket into which the the column value falls.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"StyleSetting\";O:8:\"stdClass\":3:{s:11:\"description\";s:106:\"Represents
  a complete StyleSettings object. The primary key is a combination of the tableId
  and a styleId.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:25:\"fusiontables#styleSetting\";s:11:\"description\";s:233:\"The
  kind of item this is. A StyleSetting contains the style definitions for points,
  lines, and polygons in a table. Since a table can have any one or all of them, a
  style definition can have point, line and polygon style definitions.\";s:4:\"type\";s:6:\"string\";}s:13:\"markerOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/PointStyle\";s:11:\"description\";s:41:\"Style
  definition for points in the table.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Optional
  name for the style setting.\";s:4:\"type\";s:6:\"string\";}s:14:\"polygonOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/PolygonStyle\";s:11:\"description\";s:43:\"Style
  definition for polygons in the table.\";}s:15:\"polylineOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/LineStyle\";s:11:\"description\";s:40:\"Style
  definition for lines in the table.\";}s:7:\"styleId\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"Identifier
  for the style setting (unique only within tables).\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"tableId\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Identifier
  for the table.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"StyleSettingList\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Represents
  a list of styles for a given table.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"All
  requested style settings.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/StyleSetting\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:29:\"fusiontables#styleSettingList\";s:11:\"description\";s:90:\"The
  kind of item this is. For a style list, this is always fusiontables#styleSettingList
  .\";s:4:\"type\";s:6:\"string\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:106:\"Token
  used to access the next page of this result. No token is displayed if there are
  no more styles left.\";s:4:\"type\";s:6:\"string\";}s:10:\"totalItems\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Total
  number of styles for the table.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Table\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Represents
  a table.\";s:10:\"properties\";O:8:\"stdClass\":13:{s:11:\"attribution\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Attribution
  assigned to the table.\";s:4:\"type\";s:6:\"string\";}s:15:\"attributionLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Optional
  link for attribution.\";s:4:\"type\";s:6:\"string\";}s:12:\"baseTableIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"Base
  table identifier if this table is a view or merged table.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:26:\"columnPropertiesJsonSchema\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"Default
  JSON schema for validating all JSON column properties.\";s:4:\"type\";s:6:\"string\";}s:7:\"columns\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Columns
  in the table.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Column\";}s:4:\"type\";s:5:\"array\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Description
  assigned to the table.\";s:4:\"type\";s:6:\"string\";}s:12:\"isExportable\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Variable
  for whether table is exportable.\";s:4:\"type\";s:7:\"boolean\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:18:\"fusiontables#table\";s:11:\"description\";s:73:\"The
  kind of item this is. For a table, this is always fusiontables#table.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Name
  assigned to a table.\";s:4:\"type\";s:6:\"string\";}s:3:\"sql\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"SQL
  that encodes the table definition for derived tables.\";s:4:\"type\";s:6:\"string\";}s:7:\"tableId\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"Encrypted
  unique alphanumeric identifier for the table.\";s:4:\"type\";s:6:\"string\";}s:19:\"tablePropertiesJson\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"JSON
  object containing custom table properties.\";s:4:\"type\";s:6:\"string\";}s:25:\"tablePropertiesJsonSchema\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"JSON
  schema for validating the JSON table properties.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"TableList\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Represents
  a list of tables.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"List
  of all requested tables.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Table\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:22:\"fusiontables#tableList\";s:11:\"description\";s:80:\"The
  kind of item this is. For table list, this is always fusiontables#tableList.\";s:4:\"type\";s:6:\"string\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:105:\"Token
  used to access the next page of this result. No token is displayed if there are
  no more pages left.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Task\";O:8:\"stdClass\":3:{s:11:\"description\";s:134:\"A
  background task on a table, initiated for time- or resource-consuming operations
  such as changing column types or deleting all rows.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:17:\"fusiontables#task\";s:11:\"description\";s:57:\"Type
  of the resource. This is always \"fusiontables#task\".\";s:4:\"type\";s:6:\"string\";}s:8:\"progress\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Task
  percentage completion.\";s:4:\"type\";s:6:\"string\";}s:7:\"started\";O:8:\"stdClass\":2:{s:11:\"description\";s:102:\"false
  while the table is busy with some other task. true if this background task is currently
  running.\";s:4:\"type\";s:7:\"boolean\";}s:6:\"taskId\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Identifier
  for the task.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Type
  of background task.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"TaskList\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Represents
  a list of tasks for a table.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"List
  of all requested tasks.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Task\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:21:\"fusiontables#taskList\";s:11:\"description\";s:61:\"Type
  of the resource. This is always \"fusiontables#taskList\".\";s:4:\"type\";s:6:\"string\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:105:\"Token
  used to access the next page of this result. No token is displayed if there are
  no more pages left.\";s:4:\"type\";s:6:\"string\";}s:10:\"totalItems\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Total
  number of tasks for the table.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Template\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Represents
  the contents of InfoWindow templates.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:20:\"automaticColumnNames\";O:8:\"stdClass\":3:{s:11:\"description\";s:130:\"List
  of columns from which the template is to be automatically constructed. Only one
  of body or automaticColumns can be specified.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"body\";O:8:\"stdClass\":2:{s:11:\"description\";s:215:\"Body
  of the template. It contains HTML with {column_name} to insert values from a particular
  column. The body is sanitized to remove certain tags, e.g., script. Only one of
  body or automaticColumns can be specified.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:21:\"fusiontables#template\";s:11:\"description\";s:79:\"The
  kind of item this is. For a template, this is always fusiontables#template.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Optional
  name assigned to a template.\";s:4:\"type\";s:6:\"string\";}s:7:\"tableId\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"Identifier
  for the table for which the template is defined.\";s:4:\"type\";s:6:\"string\";}s:10:\"templateId\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"Identifier
  for the template, unique within the context of a particular table.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:12:\"TemplateList\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Represents
  a list of templates for a given table.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"List
  of all requested templates.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Template\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:25:\"fusiontables#templateList\";s:11:\"description\";s:89:\"The
  kind of item this is. For a template list, this is always fusiontables#templateList
  .\";s:4:\"type\";s:6:\"string\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:105:\"Token
  used to access the next page of this result. No token is displayed if there are
  no more pages left.\";s:4:\"type\";s:6:\"string\";}s:10:\"totalItems\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Total
  number of templates for the table.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}}"
...
