---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Google\";s:3:\"url\";s:18:\"https://google.com\";}s:11:\"description\";s:45:\"Lets
  you access OAuth2 protocol related APIs.\";s:5:\"title\";s:17:\"Google OAuth2 API\";s:7:\"version\";s:2:\"v2\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:37:\"https://console.developers.google.com\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:82:\"https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png\";}s:8:\"x-origin\";O:8:\"stdClass\":3:{s:6:\"format\";s:6:\"google\";s:3:\"url\";s:59:\"https://www.googleapis.com/discovery/v1/apis/oauth2/v2/rest\";s:7:\"version\";s:2:\"v1\";}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"googleapis.com\";s:13:\"x-serviceName\";s:6:\"oauth2\";}"
host: www.googleapis.com
basePath: /
paths:
  /oauth2/v2/certs:
    get:
      operationId: oauth2.getCertForOpenIdConnect
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Jwk'
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
  /oauth2/v2/tokeninfo:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      operationId: oauth2.tokeninfo
      parameters:
      - in: query
        name: access_token
        type: string
      - in: query
        name: id_token
        type: string
      - in: query
        name: token_handle
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Tokeninfo'
  /oauth2/v2/userinfo:
    get:
      operationId: oauth2.userinfo.get
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Userinfoplus'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/plus.login
        - https://www.googleapis.com/auth/plus.me
        - https://www.googleapis.com/auth/userinfo.email
        - https://www.googleapis.com/auth/userinfo.profile
      tags:
      - userinfo
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
  /userinfo/v2/me:
    get:
      operationId: oauth2.userinfo.v2.me.get
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Userinfoplus'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/plus.login
        - https://www.googleapis.com/auth/plus.me
        - https://www.googleapis.com/auth/userinfo.email
        - https://www.googleapis.com/auth/userinfo.profile
      tags:
      - userinfo
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":3:{s:3:\"Jwk\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"keys\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:3:\"alg\";O:8:\"stdClass\":2:{s:7:\"default\";s:5:\"RS256\";s:4:\"type\";s:6:\"string\";}s:1:\"e\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"kid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"kty\";O:8:\"stdClass\":2:{s:7:\"default\";s:3:\"RSA\";s:4:\"type\";s:6:\"string\";}s:1:\"n\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"use\";O:8:\"stdClass\":2:{s:7:\"default\";s:3:\"sig\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:9:\"Tokeninfo\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:11:\"access_type\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"The
  access type granted with this token. It can be offline or online.\";s:4:\"type\";s:6:\"string\";}s:8:\"audience\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"Who
  is the intended audience for this token. In general the same as issued_to.\";s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:89:\"The
  email address of the user. Present only if the email scope is present in the request.\";s:4:\"type\";s:6:\"string\";}s:10:\"expires_in\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"The
  expiry time of the token, as number of seconds left until expiry.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"issued_to\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"To
  whom was the token issued to. In general the same as audience.\";s:4:\"type\";s:6:\"string\";}s:5:\"scope\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"The
  space separated list of scopes granted to this token.\";s:4:\"type\";s:6:\"string\";}s:12:\"token_handle\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"The
  token handle associated with this token.\";s:4:\"type\";s:6:\"string\";}s:7:\"user_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  obfuscated user id.\";s:4:\"type\";s:6:\"string\";}s:14:\"verified_email\";O:8:\"stdClass\":2:{s:11:\"description\";s:119:\"Boolean
  flag which is true if the email address is verified. Present only if the email scope
  is present in the request.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:12:\"Userinfoplus\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":11:{s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  user's email address.\";s:4:\"type\";s:6:\"string\";}s:11:\"family_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  user's last name.\";s:4:\"type\";s:6:\"string\";}s:6:\"gender\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"The
  user's gender.\";s:4:\"type\";s:6:\"string\";}s:10:\"given_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  user's first name.\";s:4:\"type\";s:6:\"string\";}s:2:\"hd\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"The
  hosted domain e.g. example.com if the user is Google apps user.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  obfuscated ID of the user.\";s:4:\"type\";s:6:\"string\";}s:4:\"link\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"URL
  of the profile page.\";s:4:\"type\";s:6:\"string\";}s:6:\"locale\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  user's preferred locale.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  user's full name.\";s:4:\"type\";s:6:\"string\";}s:7:\"picture\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"URL
  of the user's picture image.\";s:4:\"type\";s:6:\"string\";}s:14:\"verified_email\";O:8:\"stdClass\":3:{s:7:\"default\";b:1;s:11:\"description\";s:133:\"Boolean
  flag which is true if the email address is verified. Always verified because we
  only return the user's primary email address.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}}"
...
