---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":12:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Google\";s:3:\"url\";s:18:\"https://google.com\";}s:11:\"description\";s:49:\"The
  Management API for Google Play Game Services.\";s:5:\"title\";s:36:\"Google Play
  Game Services Management\";s:7:\"version\";s:12:\"v1management\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:37:\"https://console.developers.google.com\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:6:\"social\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:110:\"https://api.apis.guru/v2/cache/logo/https_www.gstatic.com_images_icons_material_product_2x_play_games_64dp.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.6.2\";}s:6:\"format\";s:6:\"google\";s:3:\"url\";s:78:\"https://www.googleapis.com/discovery/v1/apis/gamesManagement/v1management/rest\";s:7:\"version\";s:2:\"v1\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"googleapis.com\";s:13:\"x-serviceName\";s:15:\"gamesManagement\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:22:\"google_gamesmanagement\";s:4:\"type\";s:7:\"openapi\";}}"
host: www.googleapis.com
basePath: /games/v1management
paths:
  /achievements/reset:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Resets all achievements for the currently authenticated player
        for your application. This method is only accessible to whitelisted tester
        accounts for your application.
      operationId: achievements.resetAll
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/AchievementResetAllResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/games
      - Oauth2:
        - https://www.googleapis.com/auth/plus.login
      tags:
      - achievements
  /achievements/resetAllForAllPlayers:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Resets all draft achievements for all players. This method is only
        available to user accounts for your developer console.
      operationId: achievements.resetAllForAllPlayers
      responses:
        200:
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/games
      - Oauth2:
        - https://www.googleapis.com/auth/plus.login
      tags:
      - achievements
  /achievements/resetMultipleForAllPlayers:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Resets achievements with the given IDs for all players. This method
        is only available to user accounts for your developer console. Only draft
        achievements may be reset.
      operationId: achievements.resetMultipleForAllPlayers
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/AchievementResetMultipleForAllRequest'
      responses:
        200:
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/games
      - Oauth2:
        - https://www.googleapis.com/auth/plus.login
      tags:
      - achievements
  /achievements/{achievementId}/reset:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Resets the achievement with the given ID for the currently authenticated
        player. This method is only accessible to whitelisted tester accounts for
        your application.
      operationId: achievements.reset
      parameters:
      - description: The ID of the achievement used by this method.
        in: path
        name: achievementId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/AchievementResetResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/games
      - Oauth2:
        - https://www.googleapis.com/auth/plus.login
      tags:
      - achievements
  /achievements/{achievementId}/resetForAllPlayers:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Resets the achievement with the given ID for all players. This
        method is only available to user accounts for your developer console. Only
        draft achievements can be reset.
      operationId: achievements.resetForAllPlayers
      parameters:
      - description: The ID of the achievement used by this method.
        in: path
        name: achievementId
        required: true
        type: string
      responses:
        200:
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/games
      - Oauth2:
        - https://www.googleapis.com/auth/plus.login
      tags:
      - achievements
  /applications/{applicationId}/players/hidden:
    get:
      description: Get the list of players hidden from the given application. This
        method is only available to user accounts for your developer console.
      operationId: applications.listHidden
      parameters:
      - description: The application ID from the Google Play developer console.
        in: path
        name: applicationId
        required: true
        type: string
      - description: The maximum number of player resources to return in the response,
          used for paging. For any response, the actual number of player resources
          returned may be less than the specified maxResults.
        in: query
        maximum: 50
        minimum: 1
        name: maxResults
        type: integer
      - description: The token returned by the previous request.
        in: query
        name: pageToken
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/HiddenPlayerList'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/games
      - Oauth2:
        - https://www.googleapis.com/auth/plus.login
      tags:
      - applications
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
  /applications/{applicationId}/players/hidden/{playerId}:
    delete:
      description: Unhide the given player's leaderboard scores from the given application.
        This method is only available to user accounts for your developer console.
      operationId: players.unhide
      parameters:
      - description: The application ID from the Google Play developer console.
        in: path
        name: applicationId
        required: true
        type: string
      - description: A player ID. A value of me may be used in place of the authenticated
          player's ID.
        in: path
        name: playerId
        required: true
        type: string
      responses:
        200:
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/games
      - Oauth2:
        - https://www.googleapis.com/auth/plus.login
      tags:
      - players
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Hide the given player's leaderboard scores from the given application.
        This method is only available to user accounts for your developer console.
      operationId: players.hide
      parameters:
      - description: The application ID from the Google Play developer console.
        in: path
        name: applicationId
        required: true
        type: string
      - description: A player ID. A value of me may be used in place of the authenticated
          player's ID.
        in: path
        name: playerId
        required: true
        type: string
      responses:
        200:
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/games
      - Oauth2:
        - https://www.googleapis.com/auth/plus.login
      tags:
      - players
  /events/reset:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Resets all player progress on all events for the currently authenticated
        player. This method is only accessible to whitelisted tester accounts for
        your application. All quests for this player will also be reset.
      operationId: events.resetAll
      responses:
        200:
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/games
      - Oauth2:
        - https://www.googleapis.com/auth/plus.login
      tags:
      - events
  /events/resetAllForAllPlayers:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Resets all draft events for all players. This method is only available
        to user accounts for your developer console. All quests that use any of these
        events will also be reset.
      operationId: events.resetAllForAllPlayers
      responses:
        200:
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/games
      - Oauth2:
        - https://www.googleapis.com/auth/plus.login
      tags:
      - events
  /events/resetMultipleForAllPlayers:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Resets events with the given IDs for all players. This method is
        only available to user accounts for your developer console. Only draft events
        may be reset. All quests that use any of the events will also be reset.
      operationId: events.resetMultipleForAllPlayers
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/EventsResetMultipleForAllRequest'
      responses:
        200:
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/games
      - Oauth2:
        - https://www.googleapis.com/auth/plus.login
      tags:
      - events
  /events/{eventId}/reset:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Resets all player progress on the event with the given ID for the
        currently authenticated player. This method is only accessible to whitelisted
        tester accounts for your application. All quests for this player that use
        the event will also be reset.
      operationId: events.reset
      parameters:
      - description: The ID of the event.
        in: path
        name: eventId
        required: true
        type: string
      responses:
        200:
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/games
      - Oauth2:
        - https://www.googleapis.com/auth/plus.login
      tags:
      - events
  /events/{eventId}/resetForAllPlayers:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Resets the event with the given ID for all players. This method
        is only available to user accounts for your developer console. Only draft
        events can be reset. All quests that use the event will also be reset.
      operationId: events.resetForAllPlayers
      parameters:
      - description: The ID of the event.
        in: path
        name: eventId
        required: true
        type: string
      responses:
        200:
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/games
      - Oauth2:
        - https://www.googleapis.com/auth/plus.login
      tags:
      - events
  /leaderboards/{leaderboardId}/scores/reset:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Resets scores for the leaderboard with the given ID for the currently
        authenticated player. This method is only accessible to whitelisted tester
        accounts for your application.
      operationId: scores.reset
      parameters:
      - description: The ID of the leaderboard.
        in: path
        name: leaderboardId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/PlayerScoreResetResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/games
      - Oauth2:
        - https://www.googleapis.com/auth/plus.login
      tags:
      - scores
  /leaderboards/{leaderboardId}/scores/resetForAllPlayers:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Resets scores for the leaderboard with the given ID for all players.
        This method is only available to user accounts for your developer console.
        Only draft leaderboards can be reset.
      operationId: scores.resetForAllPlayers
      parameters:
      - description: The ID of the leaderboard.
        in: path
        name: leaderboardId
        required: true
        type: string
      responses:
        200:
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/games
      - Oauth2:
        - https://www.googleapis.com/auth/plus.login
      tags:
      - scores
  /quests/reset:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Resets all player progress on all quests for the currently authenticated
        player. This method is only accessible to whitelisted tester accounts for
        your application.
      operationId: quests.resetAll
      responses:
        200:
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/games
      - Oauth2:
        - https://www.googleapis.com/auth/plus.login
      tags:
      - quests
  /quests/resetAllForAllPlayers:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Resets all draft quests for all players. This method is only available
        to user accounts for your developer console.
      operationId: quests.resetAllForAllPlayers
      responses:
        200:
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/games
      - Oauth2:
        - https://www.googleapis.com/auth/plus.login
      tags:
      - quests
  /quests/resetMultipleForAllPlayers:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Resets quests with the given IDs for all players. This method is
        only available to user accounts for your developer console. Only draft quests
        may be reset.
      operationId: quests.resetMultipleForAllPlayers
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/QuestsResetMultipleForAllRequest'
      responses:
        200:
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/games
      - Oauth2:
        - https://www.googleapis.com/auth/plus.login
      tags:
      - quests
  /quests/{questId}/reset:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Resets all player progress on the quest with the given ID for the
        currently authenticated player. This method is only accessible to whitelisted
        tester accounts for your application.
      operationId: quests.reset
      parameters:
      - description: The ID of the quest.
        in: path
        name: questId
        required: true
        type: string
      responses:
        200:
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/games
      - Oauth2:
        - https://www.googleapis.com/auth/plus.login
      tags:
      - quests
  /quests/{questId}/resetForAllPlayers:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Resets all player progress on the quest with the given ID for all
        players. This method is only available to user accounts for your developer
        console. Only draft quests can be reset.
      operationId: quests.resetForAllPlayers
      parameters:
      - description: The ID of the quest.
        in: path
        name: questId
        required: true
        type: string
      responses:
        200:
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/games
      - Oauth2:
        - https://www.googleapis.com/auth/plus.login
      tags:
      - quests
  /rooms/reset:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Reset all rooms for the currently authenticated player for your
        application. This method is only accessible to whitelisted tester accounts
        for your application.
      operationId: rooms.reset
      responses:
        200:
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/games
      - Oauth2:
        - https://www.googleapis.com/auth/plus.login
      tags:
      - rooms
  /rooms/resetForAllPlayers:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Deletes rooms where the only room participants are from whitelisted
        tester accounts for your application. This method is only available to user
        accounts for your developer console.
      operationId: rooms.resetForAllPlayers
      responses:
        200:
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/games
      - Oauth2:
        - https://www.googleapis.com/auth/plus.login
      tags:
      - rooms
  /scores/reset:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Resets all scores for all leaderboards for the currently authenticated
        players. This method is only accessible to whitelisted tester accounts for
        your application.
      operationId: scores.resetAll
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/PlayerScoreResetAllResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/games
      - Oauth2:
        - https://www.googleapis.com/auth/plus.login
      tags:
      - scores
  /scores/resetAllForAllPlayers:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Resets scores for all draft leaderboards for all players. This
        method is only available to user accounts for your developer console.
      operationId: scores.resetAllForAllPlayers
      responses:
        200:
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/games
      - Oauth2:
        - https://www.googleapis.com/auth/plus.login
      tags:
      - scores
  /scores/resetMultipleForAllPlayers:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Resets scores for the leaderboards with the given IDs for all players.
        This method is only available to user accounts for your developer console.
        Only draft leaderboards may be reset.
      operationId: scores.resetMultipleForAllPlayers
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/ScoresResetMultipleForAllRequest'
      responses:
        200:
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/games
      - Oauth2:
        - https://www.googleapis.com/auth/plus.login
      tags:
      - scores
  /turnbasedmatches/reset:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Reset all turn-based match data for a user. This method is only
        accessible to whitelisted tester accounts for your application.
      operationId: turnBasedMatches.reset
      responses:
        200:
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/games
      - Oauth2:
        - https://www.googleapis.com/auth/plus.login
      tags:
      - turnBasedMatches
  /turnbasedmatches/resetForAllPlayers:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Deletes turn-based matches where the only match participants are
        from whitelisted tester accounts for your application. This method is only
        available to user accounts for your developer console.
      operationId: turnBasedMatches.resetForAllPlayers
      responses:
        200:
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/games
      - Oauth2:
        - https://www.googleapis.com/auth/plus.login
      tags:
      - turnBasedMatches
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":15:{s:27:\"AchievementResetAllResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"This
  is a JSON template for achievement reset all response.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:43:\"gamesManagement#achievementResetAllResponse\";s:11:\"description\";s:124:\"Uniquely
  identifies the type of this resource. Value is always the fixed string gamesManagement#achievementResetAllResponse.\";s:4:\"type\";s:6:\"string\";}s:7:\"results\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  achievement reset results.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/AchievementResetResponse\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:37:\"AchievementResetMultipleForAllRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"This
  is a JSON template for multiple achievements reset all request.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"achievement_ids\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  IDs of achievements to reset.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:53:\"gamesManagement#achievementResetMultipleForAllRequest\";s:11:\"description\";s:134:\"Uniquely
  identifies the type of this resource. Value is always the fixed string gamesManagement#achievementResetMultipleForAllRequest.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:24:\"AchievementResetResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"This
  is a JSON template for an achievement reset response.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"currentState\";O:8:\"stdClass\":2:{s:11:\"description\";s:235:\"The
  current state of the achievement. This is the same as the initial state of the achievement.\nPossible
  values are:  \n- \"HIDDEN\"- Achievement is hidden. \n- \"REVEALED\" - Achievement
  is revealed. \n- \"UNLOCKED\" - Achievement is unlocked.\";s:4:\"type\";s:6:\"string\";}s:12:\"definitionId\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"The
  ID of an achievement for which player state has been updated.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:40:\"gamesManagement#achievementResetResponse\";s:11:\"description\";s:121:\"Uniquely
  identifies the type of this resource. Value is always the fixed string gamesManagement#achievementResetResponse.\";s:4:\"type\";s:6:\"string\";}s:14:\"updateOccurred\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"Flag
  to indicate if the requested update actually occurred.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:32:\"EventsResetMultipleForAllRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"This
  is a JSON template for multiple events reset all request.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"event_ids\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"The
  IDs of events to reset.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:48:\"gamesManagement#eventsResetMultipleForAllRequest\";s:11:\"description\";s:129:\"Uniquely
  identifies the type of this resource. Value is always the fixed string gamesManagement#eventsResetMultipleForAllRequest.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"GamesPlayedResource\";O:8:\"stdClass\":3:{s:11:\"description\";s:105:\"This
  is a JSON template for metadata about a player playing a game with the currently
  authenticated user.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"autoMatched\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"True
  if the player was auto-matched with the currently authenticated user.\";s:4:\"type\";s:7:\"boolean\";}s:10:\"timeMillis\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"The
  last time the player played the game in milliseconds since the epoch in UTC.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:33:\"GamesPlayerExperienceInfoResource\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"This
  is a JSON template for 1P/3P metadata about the player's experience.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:23:\"currentExperiencePoints\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"The
  current number of experience points for the player.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:12:\"currentLevel\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/GamesPlayerLevelResource\";s:11:\"description\";s:32:\"The
  current level of the player.\";}s:26:\"lastLevelUpTimestampMillis\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"The
  timestamp when the player was leveled up, in millis since Unix epoch UTC.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:9:\"nextLevel\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/GamesPlayerLevelResource\";s:11:\"description\";s:114:\"The
  next level of the player. If the current level is the maximum level, this should
  be same as the current level.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"GamesPlayerLevelResource\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"This
  is a JSON template for 1P/3P metadata about a user's level.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"level\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"The
  level for the user.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:19:\"maxExperiencePoints\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"The
  maximum experience points for this level.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:19:\"minExperiencePoints\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"The
  minimum experience points for this level.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"HiddenPlayer\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"This
  is a JSON template for the HiddenPlayer resource.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"hiddenTimeMillis\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"The
  time this player was hidden.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:28:\"gamesManagement#hiddenPlayer\";s:11:\"description\";s:109:\"Uniquely
  identifies the type of this resource. Value is always the fixed string gamesManagement#hiddenPlayer.\";s:4:\"type\";s:6:\"string\";}s:6:\"player\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Player\";s:11:\"description\";s:23:\"The
  player information.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"HiddenPlayerList\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"This
  is a JSON template for a list of hidden players.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"The
  players.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/HiddenPlayer\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:32:\"gamesManagement#hiddenPlayerList\";s:11:\"description\";s:113:\"Uniquely
  identifies the type of this resource. Value is always the fixed string gamesManagement#hiddenPlayerList.\";s:4:\"type\";s:6:\"string\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"The
  pagination token for the next page of results.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Player\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"This
  is a JSON template for a Player resource.\";s:10:\"properties\";O:8:\"stdClass\":12:{s:14:\"avatarImageUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"The
  base URL for the image that represents the player.\";s:4:\"type\";s:6:\"string\";}s:18:\"bannerUrlLandscape\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"The
  url to the landscape mode player banner image.\";s:4:\"type\";s:6:\"string\";}s:17:\"bannerUrlPortrait\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"The
  url to the portrait mode player banner image.\";s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  name to display for the player.\";s:4:\"type\";s:6:\"string\";}s:14:\"experienceInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:47:\"#/definitions/GamesPlayerExperienceInfoResource\";s:11:\"description\";s:71:\"An
  object to represent Play Game experience information for the player.\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:22:\"gamesManagement#player\";s:11:\"description\";s:103:\"Uniquely
  identifies the type of this resource. Value is always the fixed string gamesManagement#player.\";s:4:\"type\";s:6:\"string\";}s:14:\"lastPlayedWith\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/GamesPlayedResource\";s:11:\"description\";s:159:\"Details
  about the last time this player played a multiplayer game with the currently authenticated
  player. Populated for PLAYED_WITH player collection members.\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:126:\"An
  object representation of the individual components of the player's name. For some
  players, these fields may not be present.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"familyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:79:\"The
  family name of this player. In some places, this is known as the last name.\";s:4:\"type\";s:6:\"string\";}s:9:\"givenName\";O:8:\"stdClass\":2:{s:11:\"description\";s:79:\"The
  given name of this player. In some places, this is known as the first name.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"originalPlayerId\";O:8:\"stdClass\":2:{s:11:\"description\";s:274:\"The
  player ID that was used for this player the first time they signed into the game
  in question. This is only populated for calls to player.get for the requesting player,
  only if the player ID has subsequently changed, and only to clients that support
  remapping player IDs.\";s:4:\"type\";s:6:\"string\";}s:8:\"playerId\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  ID of the player.\";s:4:\"type\";s:6:\"string\";}s:15:\"profileSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ProfileSettings\";s:11:\"description\";s:104:\"The
  player's profile settings. Controls whether or not the player's profile is visible
  to other players.\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"The
  player's title rewarded for their game activities.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:27:\"PlayerScoreResetAllResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"This
  is a JSON template for a list of leaderboard reset resources.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:43:\"gamesManagement#playerScoreResetAllResponse\";s:11:\"description\";s:121:\"Uniquely
  identifies the type of this resource. Value is always the fixed string gamesManagement#playerScoreResetResponse.\";s:4:\"type\";s:6:\"string\";}s:7:\"results\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  leaderboard reset results.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/PlayerScoreResetResponse\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:24:\"PlayerScoreResetResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"This
  is a JSON template for a list of reset leaderboard entry resources.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"definitionId\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"The
  ID of an leaderboard for which player state has been updated.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:40:\"gamesManagement#playerScoreResetResponse\";s:11:\"description\";s:121:\"Uniquely
  identifies the type of this resource. Value is always the fixed string gamesManagement#playerScoreResetResponse.\";s:4:\"type\";s:6:\"string\";}s:19:\"resetScoreTimeSpans\";O:8:\"stdClass\":3:{s:11:\"description\";s:190:\"The
  time spans of the updated score.\nPossible values are:  \n- \"ALL_TIME\" - The score
  is an all-time score. \n- \"WEEKLY\" - The score is a weekly score. \n- \"DAILY\"
  - The score is a daily score.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:15:\"ProfileSettings\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"This
  is a JSON template for profile settings\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:31:\"gamesManagement#profileSettings\";s:11:\"description\";s:112:\"Uniquely
  identifies the type of this resource. Value is always the fixed string gamesManagement#profileSettings.\";s:4:\"type\";s:6:\"string\";}s:14:\"profileVisible\";O:8:\"stdClass\":2:{s:11:\"description\";s:86:\"The
  player's current profile visibility. This field is visible to both 1P and 3P APIs.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:32:\"QuestsResetMultipleForAllRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"This
  is a JSON template for multiple quests reset all request.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:48:\"gamesManagement#questsResetMultipleForAllRequest\";s:11:\"description\";s:129:\"Uniquely
  identifies the type of this resource. Value is always the fixed string gamesManagement#questsResetMultipleForAllRequest.\";s:4:\"type\";s:6:\"string\";}s:9:\"quest_ids\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"The
  IDs of quests to reset.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:32:\"ScoresResetMultipleForAllRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"This
  is a JSON template for multiple scores reset all request.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:48:\"gamesManagement#scoresResetMultipleForAllRequest\";s:11:\"description\";s:129:\"Uniquely
  identifies the type of this resource. Value is always the fixed string gamesManagement#scoresResetMultipleForAllRequest.\";s:4:\"type\";s:6:\"string\";}s:15:\"leaderboard_ids\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  IDs of leaderboards to reset.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}}"
...
