---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Google\";s:3:\"url\";s:18:\"https://google.com\";}s:11:\"description\";s:25:\"The
  Google App State API.\";s:5:\"title\";s:16:\"Google App State\";s:7:\"version\";s:2:\"v1\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:37:\"https://console.developers.google.com\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:116:\"https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.6.2\";}s:6:\"format\";s:6:\"google\";s:3:\"url\";s:61:\"https://www.googleapis.com/discovery/v1/apis/appstate/v1/rest\";s:7:\"version\";s:2:\"v1\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"googleapis.com\";s:13:\"x-serviceName\";s:8:\"appstate\";}"
host: www.googleapis.com
basePath: /appstate/v1
paths:
  /states:
    get:
      description: Lists all the states keys, and optionally the state data.
      operationId: appstate.states.list
      parameters:
      - default: false
        description: Whether to include the full data in addition to the version number
        in: query
        name: includeData
        type: boolean
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ListResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/appstate
      tags:
      - states
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
  /states/{stateKey}:
    delete:
      description: Deletes a key and the data associated with it. The key is removed
        and no longer counts against the key quota. Note that since this method is
        not safe in the face of concurrent modifications, it should only be used for
        development and testing purposes. Invoking this method in shipping code can
        result in data loss and data corruption.
      operationId: appstate.states.delete
      parameters:
      - description: The key for the data to be retrieved.
        in: path
        maximum: 3
        minimum: 0
        name: stateKey
        required: true
        type: integer
      responses:
        200:
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/appstate
      tags:
      - states
    get:
      description: Retrieves the data corresponding to the passed key. If the key
        does not exist on the server, an HTTP 404 will be returned.
      operationId: appstate.states.get
      parameters:
      - description: The key for the data to be retrieved.
        in: path
        maximum: 3
        minimum: 0
        name: stateKey
        required: true
        type: integer
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/GetResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/appstate
      tags:
      - states
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    put:
      description: Update the data associated with the input key if and only if the
        passed version matches the currently stored version. This method is safe in
        the face of concurrent writes. Maximum per-key size is 128KB.
      operationId: appstate.states.update
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/UpdateRequest'
      - description: The version of the app state your application is attempting to
          update. If this does not match the current version, this method will return
          a conflict error. If there is no data stored on the server for this key,
          the update will succeed irrespective of the value of this parameter.
        in: query
        name: currentStateVersion
        type: string
      - description: The key for the data to be retrieved.
        in: path
        maximum: 3
        minimum: 0
        name: stateKey
        required: true
        type: integer
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/WriteResult'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/appstate
      tags:
      - states
  /states/{stateKey}/clear:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Clears (sets to empty) the data for the passed key if and only
        if the passed version matches the currently stored version. This method results
        in a conflict error on version mismatch.
      operationId: appstate.states.clear
      parameters:
      - description: The version of the data to be cleared. Version strings are returned
          by the server.
        in: query
        name: currentDataVersion
        type: string
      - description: The key for the data to be retrieved.
        in: path
        maximum: 3
        minimum: 0
        name: stateKey
        required: true
        type: integer
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/WriteResult'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/appstate
      tags:
      - states
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":4:{s:11:\"GetResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"This
  is a JSON template for an app state resource.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:19:\"currentStateVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  current app state version.\";s:4:\"type\";s:6:\"string\";}s:4:\"data\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"The
  requested data.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:20:\"appstate#getResponse\";s:11:\"description\";s:101:\"Uniquely
  identifies the type of this resource. Value is always the fixed string appstate#getResponse.\";s:4:\"type\";s:6:\"string\";}s:8:\"stateKey\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"The
  key for the data.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:12:\"ListResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"This
  is a JSON template to convert a list-response for app state.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"The
  app state data.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/GetResponse\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:21:\"appstate#listResponse\";s:11:\"description\";s:102:\"Uniquely
  identifies the type of this resource. Value is always the fixed string appstate#listResponse.\";s:4:\"type\";s:6:\"string\";}s:15:\"maximumKeyCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  maximum number of keys allowed for this user.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:13:\"UpdateRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"This
  is a JSON template for a requests which update app state\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"The
  new app state data that your application is trying to update with.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:22:\"appstate#updateRequest\";s:11:\"description\";s:103:\"Uniquely
  identifies the type of this resource. Value is always the fixed string appstate#updateRequest.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"WriteResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"This
  is a JSON template for an app state write result.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"currentStateVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"The
  version of the data for this key on the server.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:20:\"appstate#writeResult\";s:11:\"description\";s:101:\"Uniquely
  identifies the type of this resource. Value is always the fixed string appstate#writeResult.\";s:4:\"type\";s:6:\"string\";}s:8:\"stateKey\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"The
  written key.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}}"
...
