---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":12:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Google\";s:3:\"url\";s:18:\"https://google.com\";}s:11:\"description\";s:128:\"Reports
  and modifies your advertising data in DoubleClick Search (for example, campaigns,
  ad groups, keywords, and conversions).\";s:5:\"title\";s:18:\"DoubleClick Search\";s:7:\"version\";s:2:\"v2\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:37:\"https://console.developers.google.com\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:9:\"marketing\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:118:\"https://api.apis.guru/v2/cache/logo/https_www.doubleclickbygoogle.com_static_core_img_doubleclick-google-logo-wide.svg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.6.2\";}s:6:\"format\";s:6:\"google\";s:3:\"url\";s:70:\"https://www.googleapis.com/discovery/v1/apis/doubleclicksearch/v2/rest\";s:7:\"version\";s:2:\"v1\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"googleapis.com\";s:13:\"x-serviceName\";s:17:\"doubleclicksearch\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:24:\"google_doubleclicksearch\";s:4:\"type\";s:7:\"openapi\";}}"
host: www.googleapis.com
basePath: /doubleclicksearch/v2
paths:
  /agency/{agencyId}/advertiser/{advertiserId}/engine/{engineAccountId}/conversion:
    get:
      description: Retrieves a list of conversions from a DoubleClick Search engine
        account.
      operationId: conversion.get
      parameters:
      - description: Numeric ID of the ad group.
        in: query
        name: adGroupId
        type: string
      - description: Numeric ID of the ad.
        in: query
        name: adId
        type: string
      - description: Numeric ID of the advertiser.
        in: path
        name: advertiserId
        required: true
        type: string
      - description: Numeric ID of the agency.
        in: path
        name: agencyId
        required: true
        type: string
      - description: Numeric ID of the campaign.
        in: query
        name: campaignId
        type: string
      - description: Numeric ID of the criterion.
        in: query
        name: criterionId
        type: string
      - description: Last date (inclusive) on which to retrieve conversions. Format
          is yyyymmdd.
        in: query
        maximum: 99991231
        minimum: 20091101
        name: endDate
        required: true
        type: integer
      - description: Numeric ID of the engine account.
        in: path
        name: engineAccountId
        required: true
        type: string
      - description: The number of conversions to return per call.
        in: query
        maximum: 1000
        minimum: 1
        name: rowCount
        required: true
        type: integer
      - description: First date (inclusive) on which to retrieve conversions. Format
          is yyyymmdd.
        in: query
        maximum: 99991231
        minimum: 20091101
        name: startDate
        required: true
        type: integer
      - description: The 0-based starting index for retrieving conversions results.
        in: query
        name: startRow
        required: true
        type: integer
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ConversionList'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/doubleclicksearch
      tags:
      - conversion
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
  /agency/{agencyId}/advertiser/{advertiserId}/savedcolumns:
    get:
      description: Retrieve the list of saved columns for a specified advertiser.
      operationId: savedColumns.list
      parameters:
      - description: DS ID of the advertiser.
        in: path
        name: advertiserId
        required: true
        type: string
      - description: DS ID of the agency.
        in: path
        name: agencyId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/SavedColumnList'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/doubleclicksearch
      tags:
      - savedColumns
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
  /conversion:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    patch:
      description: Updates a batch of conversions in DoubleClick Search. This method
        supports patch semantics.
      operationId: conversion.patch
      parameters:
      - description: Numeric ID of the advertiser.
        in: query
        name: advertiserId
        required: true
        type: string
      - description: Numeric ID of the agency.
        in: query
        name: agencyId
        required: true
        type: string
      - in: body
        name: body
        schema:
          $ref: '#/definitions/ConversionList'
      - description: Last date (inclusive) on which to retrieve conversions. Format
          is yyyymmdd.
        in: query
        maximum: 99991231
        minimum: 20091101
        name: endDate
        required: true
        type: integer
      - description: Numeric ID of the engine account.
        in: query
        name: engineAccountId
        required: true
        type: string
      - description: The number of conversions to return per call.
        in: query
        maximum: 1000
        minimum: 1
        name: rowCount
        required: true
        type: integer
      - description: First date (inclusive) on which to retrieve conversions. Format
          is yyyymmdd.
        in: query
        maximum: 99991231
        minimum: 20091101
        name: startDate
        required: true
        type: integer
      - description: The 0-based starting index for retrieving conversions results.
        in: query
        name: startRow
        required: true
        type: integer
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ConversionList'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/doubleclicksearch
      tags:
      - conversion
    post:
      description: Inserts a batch of new conversions into DoubleClick Search.
      operationId: conversion.insert
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/ConversionList'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ConversionList'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/doubleclicksearch
      tags:
      - conversion
    put:
      description: Updates a batch of conversions in DoubleClick Search.
      operationId: conversion.update
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/ConversionList'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ConversionList'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/doubleclicksearch
      tags:
      - conversion
  /conversion/updateAvailability:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Updates the availabilities of a batch of floodlight activities
        in DoubleClick Search.
      operationId: conversion.updateAvailability
      parameters:
      - in: body
        name: empty
        schema:
          $ref: '#/definitions/UpdateAvailabilityRequest'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/UpdateAvailabilityResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/doubleclicksearch
      tags:
      - conversion
  /reports:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Inserts a report request into the reporting system.
      operationId: reports.request
      parameters:
      - in: body
        name: reportRequest
        schema:
          $ref: '#/definitions/ReportRequest'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Report'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/doubleclicksearch
      tags:
      - reports
  /reports/generate:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Generates and returns a report immediately.
      operationId: reports.generate
      parameters:
      - in: body
        name: reportRequest
        schema:
          $ref: '#/definitions/ReportRequest'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Report'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/doubleclicksearch
      tags:
      - reports
  /reports/{reportId}:
    get:
      description: Polls for the status of a report request.
      operationId: reports.get
      parameters:
      - description: ID of the report request being polled.
        in: path
        name: reportId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Report'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/doubleclicksearch
      tags:
      - reports
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
  /reports/{reportId}/files/{reportFragment}:
    get:
      description: Downloads a report file encoded in UTF-8.
      operationId: reports.getFile
      parameters:
      - description: The index of the report fragment to download.
        in: path
        minimum: 0
        name: reportFragment
        required: true
        type: integer
      - description: ID of the report.
        in: path
        name: reportId
        required: true
        type: string
      responses:
        200:
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/doubleclicksearch
      tags:
      - reports
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":13:{s:12:\"Availability\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"A
  message containing availability data relevant to DoubleClick Search.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"advertiserId\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"DS
  advertiser ID.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:8:\"agencyId\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"DS
  agency ID.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:21:\"availabilityTimestamp\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"The
  time by which all conversions have been uploaded, in epoch millis UTC.\";s:6:\"format\";s:6:\"uint64\";s:4:\"type\";s:6:\"string\";}s:14:\"segmentationId\";O:8:\"stdClass\":3:{s:11:\"description\";s:93:\"The
  numeric segmentation identifier (for example, DoubleClick Search Floodlight activity
  ID).\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:16:\"segmentationName\";O:8:\"stdClass\":2:{s:11:\"description\";s:96:\"The
  friendly segmentation identifier (for example, DoubleClick Search Floodlight activity
  name).\";s:4:\"type\";s:6:\"string\";}s:16:\"segmentationType\";O:8:\"stdClass\":2:{s:11:\"description\";s:86:\"The
  segmentation type that this availability is for (its default value is FLOODLIGHT).\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"Conversion\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"A
  conversion containing data relevant to DoubleClick Search.\";s:10:\"properties\";O:8:\"stdClass\":33:{s:9:\"adGroupId\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"DS
  ad group ID.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:4:\"adId\";O:8:\"stdClass\":3:{s:11:\"description\";s:9:\"DS
  ad ID.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:12:\"advertiserId\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"DS
  advertiser ID.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:8:\"agencyId\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"DS
  agency ID.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:16:\"attributionModel\";O:8:\"stdClass\":2:{s:11:\"description\";s:83:\"Available
  to advertisers only after contacting DoubleClick Search customer support.\";s:4:\"type\";s:6:\"string\";}s:10:\"campaignId\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"DS
  campaign ID.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:7:\"channel\";O:8:\"stdClass\":2:{s:11:\"description\";s:112:\"Sales
  channel for the product. Acceptable values are:  \n- \"local\": a physical store
  \n- \"online\": an online store\";s:4:\"type\";s:6:\"string\";}s:7:\"clickId\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"DS
  click ID for the conversion.\";s:4:\"type\";s:6:\"string\";}s:12:\"conversionId\";O:8:\"stdClass\":2:{s:11:\"description\";s:417:\"For
  offline conversions, advertisers provide this ID. Advertisers can specify any ID
  that is meaningful to them. Each conversion in a request must specify a unique ID,
  and the combination of ID and timestamp must be unique amongst all conversions within
  the advertiser.\nFor online conversions, DS copies the dsConversionId or floodlightOrderId
  into this property depending on the advertiser's Floodlight instructions.\";s:4:\"type\";s:6:\"string\";}s:27:\"conversionModifiedTimestamp\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"The
  time at which the conversion was last modified, in epoch millis UTC.\";s:6:\"format\";s:6:\"uint64\";s:4:\"type\";s:6:\"string\";}s:19:\"conversionTimestamp\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"The
  time at which the conversion took place, in epoch millis UTC.\";s:6:\"format\";s:6:\"uint64\";s:4:\"type\";s:6:\"string\";}s:11:\"countMillis\";O:8:\"stdClass\":3:{s:11:\"description\";s:83:\"Available
  to advertisers only after contacting DoubleClick Search customer support.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:11:\"criterionId\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"DS
  criterion (keyword) ID.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:12:\"currencyCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:97:\"The
  currency code for the conversion's revenue. Should be in ISO 4217 alphabetic (3-char)
  format.\";s:4:\"type\";s:6:\"string\";}s:15:\"customDimension\";O:8:\"stdClass\":3:{s:11:\"description\";s:83:\"Custom
  dimensions for the conversion, which can be used to filter data in a report.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/CustomDimension\";}s:4:\"type\";s:5:\"array\";}s:12:\"customMetric\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Custom
  metrics for the conversion.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/CustomMetric\";}s:4:\"type\";s:5:\"array\";}s:10:\"deviceType\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"The
  type of device on which the conversion occurred.\";s:4:\"type\";s:6:\"string\";}s:14:\"dsConversionId\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"ID
  that DoubleClick Search generates for each conversion.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:15:\"engineAccountId\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"DS
  engine account ID.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:17:\"floodlightOrderId\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"The
  Floodlight order ID provided by the advertiser for the conversion.\";s:4:\"type\";s:6:\"string\";}s:18:\"inventoryAccountId\";O:8:\"stdClass\":3:{s:11:\"description\";s:99:\"ID
  that DS generates and uses to uniquely identify the inventory account that contains
  the product.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:14:\"productCountry\";O:8:\"stdClass\":2:{s:11:\"description\";s:121:\"The
  country registered for the Merchant Center feed that contains the product. Use an
  ISO 3166 code to specify a country.\";s:4:\"type\";s:6:\"string\";}s:14:\"productGroupId\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"DS
  product group ID.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:9:\"productId\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  product ID (SKU).\";s:4:\"type\";s:6:\"string\";}s:15:\"productLanguage\";O:8:\"stdClass\":2:{s:11:\"description\";s:122:\"The
  language registered for the Merchant Center feed that contains the product. Use
  an ISO 639 code to specify a language.\";s:4:\"type\";s:6:\"string\";}s:14:\"quantityMillis\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  quantity of this conversion, in millis.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:13:\"revenueMicros\";O:8:\"stdClass\":3:{s:11:\"description\";s:198:\"The
  revenue amount of this TRANSACTION conversion, in micros (value multiplied by 1000000,
  no decimal). For example, to specify a revenue value of \"10\" enter \"10000000\"
  (10 million) in your request.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:14:\"segmentationId\";O:8:\"stdClass\":3:{s:11:\"description\";s:93:\"The
  numeric segmentation identifier (for example, DoubleClick Search Floodlight activity
  ID).\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:16:\"segmentationName\";O:8:\"stdClass\":2:{s:11:\"description\";s:96:\"The
  friendly segmentation identifier (for example, DoubleClick Search Floodlight activity
  name).\";s:4:\"type\";s:6:\"string\";}s:16:\"segmentationType\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"The
  segmentation type of this conversion (for example, FLOODLIGHT).\";s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":2:{s:11:\"description\";s:98:\"The
  state of the conversion, that is, either ACTIVE or REMOVED. Note: state DELETED
  is deprecated.\";s:4:\"type\";s:6:\"string\";}s:7:\"storeId\";O:8:\"stdClass\":2:{s:11:\"description\";s:108:\"The
  ID of the local store for which the product was advertised. Applicable only when
  the channel is \"local\".\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:330:\"The
  type of the conversion, that is, either ACTION or TRANSACTION. An ACTION conversion
  is an action by the user that has no monetarily quantifiable value, while a TRANSACTION
  conversion is an action that does have a monetarily quantifiable value. Examples
  are email list signups (ACTION) versus ecommerce purchases (TRANSACTION).\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"ConversionList\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"A
  list of conversions.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"conversion\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"The
  conversions being requested.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Conversion\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:32:\"doubleclicksearch#conversionList\";s:11:\"description\";s:103:\"Identifies
  this as a ConversionList resource. Value: the fixed string doubleclicksearch#conversionList.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"CustomDimension\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"A
  message containing the custome dimension.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Custom
  dimension name.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Custom
  dimension value.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"CustomMetric\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"A
  message containing the custome metric.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Custom
  metric name.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Custom
  metric numeric value.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Report\";O:8:\"stdClass\":3:{s:11:\"description\";s:160:\"A
  DoubleClick Search report. This object contains the report request, some report
  metadata such as currency code, and the generated report rows or report files.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:5:\"files\";O:8:\"stdClass\":3:{s:11:\"description\";s:110:\"Asynchronous
  report only. Contains a list of generated report files once the report has succesfully
  completed.\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"byteCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  size of this report file in bytes.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Use
  this url to download the report file.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Asynchronous
  report only. Id of the report.\";s:4:\"type\";s:6:\"string\";}s:13:\"isReportReady\";O:8:\"stdClass\":2:{s:11:\"description\";s:132:\"Asynchronous
  report only. True if and only if the report has completed successfully and the report
  files are ready to be downloaded.\";s:4:\"type\";s:7:\"boolean\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:24:\"doubleclicksearch#report\";s:11:\"description\";s:87:\"Identifies
  this as a Report resource. Value: the fixed string doubleclicksearch#report.\";s:4:\"type\";s:6:\"string\";}s:7:\"request\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ReportRequest\";s:11:\"description\";s:122:\"The
  request that created the report. Optional fields not specified in the original request
  are filled with default values.\";}s:8:\"rowCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"The
  number of report rows generated by the report, not including headers.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"rows\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Synchronous
  report only. Generated report rows.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/ReportRow\";}s:4:\"type\";s:5:\"array\";}s:22:\"statisticsCurrencyCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:269:\"The
  currency code of all monetary values produced in the report, including values that
  are set by users (e.g., keyword bid settings) and metrics (e.g., cost and revenue).
  The currency code of a report is determined by the statisticsCurrency field of the
  report request.\";s:4:\"type\";s:6:\"string\";}s:18:\"statisticsTimeZone\";O:8:\"stdClass\":2:{s:11:\"description\";s:116:\"If
  all statistics of the report are sourced from the same time zone, this would be
  it. Otherwise the field is unset.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"ReportApiColumnSpec\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"A
  request object used to create a DoubleClick Search report.\";s:10:\"properties\";O:8:\"stdClass\":10:{s:10:\"columnName\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"Name
  of a DoubleClick Search column to include in the report.\";s:4:\"type\";s:6:\"string\";}s:19:\"customDimensionName\";O:8:\"stdClass\":2:{s:11:\"description\";s:417:\"Segments
  a report by a custom dimension. The report must be scoped to an advertiser or lower,
  and the custom dimension must already be set up in DoubleClick Search. The custom
  dimension name, which appears in DoubleClick Search, is case sensitive.\nIf used
  in a conversion report, returns the value of the specified custom dimension for
  the given conversion, if set. This column does not segment the conversion report.\";s:4:\"type\";s:6:\"string\";}s:16:\"customMetricName\";O:8:\"stdClass\":2:{s:11:\"description\";s:250:\"Name
  of a custom metric to include in the report. The report must be scoped to an advertiser
  or lower, and the custom metric must already be set up in DoubleClick Search. The
  custom metric name, which appears in DoubleClick Search, is case sensitive.\";s:4:\"type\";s:6:\"string\";}s:7:\"endDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:166:\"Inclusive
  day in YYYY-MM-DD format. When provided, this overrides the overall time range of
  the report for this column only. Must be provided together with startDate.\";s:4:\"type\";s:6:\"string\";}s:13:\"groupByColumn\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:80:\"Synchronous
  report only. Set to true to group by this column. Defaults to false.\";s:4:\"type\";s:7:\"boolean\";}s:10:\"headerText\";O:8:\"stdClass\":2:{s:11:\"description\";s:229:\"Text
  used to identify this column in the report output; defaults to columnName or savedColumnName
  when not specified. This can be used to prevent collisions between DoubleClick Search
  columns and saved columns with the same name.\";s:4:\"type\";s:6:\"string\";}s:14:\"platformSource\";O:8:\"stdClass\":2:{s:11:\"description\";s:103:\"The
  platform that is used to provide data for the custom dimension. Acceptable values
  are \"floodlight\".\";s:4:\"type\";s:6:\"string\";}s:24:\"productReportPerspective\";O:8:\"stdClass\":2:{s:11:\"description\";s:282:\"Returns
  metrics only for a specific type of product activity. Accepted values are:  \n-
  \"sold\": returns metrics only for products that were sold \n- \"advertised\": returns
  metrics only for products that were advertised in a Shopping campaign, and that
  might or might not have been sold\";s:4:\"type\";s:6:\"string\";}s:15:\"savedColumnName\";O:8:\"stdClass\":2:{s:11:\"description\";s:174:\"Name
  of a saved column to include in the report. The report must be scoped at advertiser
  or lower, and this saved column must already be created in the DoubleClick Search
  UI.\";s:4:\"type\";s:6:\"string\";}s:9:\"startDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:165:\"Inclusive
  date in YYYY-MM-DD format. When provided, this overrides the overall time range
  of the report for this column only. Must be provided together with endDate.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"ReportRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"A
  request object used to create a DoubleClick Search report.\";s:10:\"properties\";O:8:\"stdClass\":14:{s:7:\"columns\";O:8:\"stdClass\":3:{s:11:\"description\";s:363:\"The
  columns to include in the report. This includes both DoubleClick Search columns
  and saved columns. For DoubleClick Search columns, only the columnName parameter
  is required. For saved columns only the savedColumnName parameter is required. Both
  columnName and savedColumnName cannot be set in the same stanza.\nThe maximum number
  of columns per request is 300.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/ReportApiColumnSpec\";}s:4:\"type\";s:5:\"array\";}s:14:\"downloadFormat\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"Format
  that the report should be returned in. Currently csv or tsv is supported.\";s:4:\"type\";s:6:\"string\";}s:7:\"filters\";O:8:\"stdClass\":3:{s:11:\"description\";s:96:\"A
  list of filters to be applied to the report.\nThe maximum number of filters per
  request is 300.\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"column\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/ReportApiColumnSpec\";s:11:\"description\";s:91:\"Column
  to perform the filter on. This can be a DoubleClick Search column or a saved column.\";}s:8:\"operator\";O:8:\"stdClass\":2:{s:11:\"description\";s:90:\"Operator
  to use in the filter. See the filter reference for a list of available operators.\";s:4:\"type\";s:6:\"string\";}s:6:\"values\";O:8:\"stdClass\":3:{s:11:\"description\";s:108:\"A
  list of values to filter the column value against.\nThe maximum number of filter
  values per request is 300.\";s:5:\"items\";O:8:\"stdClass\":0:{}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:22:\"includeDeletedEntities\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:138:\"Determines
  if removed entities should be included in the report. Defaults to false. Deprecated,
  please use includeRemovedEntities instead.\";s:4:\"type\";s:7:\"boolean\";}s:22:\"includeRemovedEntities\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:83:\"Determines
  if removed entities should be included in the report. Defaults to false.\";s:4:\"type\";s:7:\"boolean\";}s:14:\"maxRowsPerFile\";O:8:\"stdClass\":5:{s:11:\"description\";s:185:\"Asynchronous
  report only. The maximum number of rows per report file. A large report is split
  into many files based on this field. Acceptable values are 1000000 to 100000000,
  inclusive.\";s:6:\"format\";s:5:\"int32\";s:7:\"maximum\";i:100000000;s:7:\"minimum\";i:1000000;s:4:\"type\";s:7:\"integer\";}s:7:\"orderBy\";O:8:\"stdClass\":3:{s:11:\"description\";s:162:\"Synchronous
  report only. A list of columns and directions defining sorting to be performed on
  the report rows.\nThe maximum number of orderings per request is 300.\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"column\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/ReportApiColumnSpec\";s:11:\"description\";s:97:\"Column
  to perform the sort on. This can be a DoubleClick Search-defined column or a saved
  column.\";}s:9:\"sortOrder\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"The
  sort direction, which is either ascending or descending.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:11:\"reportScope\";O:8:\"stdClass\":3:{s:11:\"description\";s:207:\"The
  reportScope is a set of IDs that are used to determine which subset of entities
  will be returned in the report. The full lineage of IDs from the lowest scoped level
  desired up through agency is required.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:9:\"adGroupId\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"DS
  ad group ID.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:4:\"adId\";O:8:\"stdClass\":3:{s:11:\"description\";s:9:\"DS
  ad ID.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:12:\"advertiserId\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"DS
  advertiser ID.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:8:\"agencyId\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"DS
  agency ID.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:10:\"campaignId\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"DS
  campaign ID.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:15:\"engineAccountId\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"DS
  engine account ID.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:9:\"keywordId\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"DS
  keyword ID.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"reportType\";O:8:\"stdClass\":2:{s:11:\"description\";s:252:\"Determines
  the type of rows that are returned in the report. For example, if you specify reportType:
  keyword, each row in the report will contain data about a keyword. See the Types
  of Reports reference for the columns that are available for each type.\";s:4:\"type\";s:6:\"string\";}s:8:\"rowCount\";O:8:\"stdClass\":6:{s:7:\"default\";i:10000;s:11:\"description\";s:155:\"Synchronous
  report only. The maxinum number of rows to return; additional rows are dropped.
  Acceptable values are 0 to 10000, inclusive. Defaults to 10000.\";s:6:\"format\";s:5:\"int32\";s:7:\"maximum\";i:10000;s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:8:\"startRow\";O:8:\"stdClass\":6:{s:7:\"default\";i:0;s:11:\"description\";s:129:\"Synchronous
  report only. Zero-based index of the first row to return. Acceptable values are
  0 to 50000, inclusive. Defaults to 0.\";s:6:\"format\";s:5:\"int32\";s:7:\"maximum\";i:50000;s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:18:\"statisticsCurrency\";O:8:\"stdClass\":2:{s:11:\"description\";s:283:\"Specifies
  the currency in which monetary will be returned. Possible values are: usd, agency
  (valid if the report is scoped to agency or lower), advertiser (valid if the report
  is scoped to * advertiser or lower), or account (valid if the report is scoped to
  engine account or lower).\";s:4:\"type\";s:6:\"string\";}s:9:\"timeRange\";O:8:\"stdClass\":3:{s:11:\"description\";s:114:\"If
  metrics are requested in a report, this argument will be used to restrict the metrics
  to a specific time range.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:31:\"changedAttributesSinceTimestamp\";O:8:\"stdClass\":3:{s:11:\"description\";s:135:\"Inclusive
  UTC timestamp in RFC format, e.g., 2013-07-16T10:16:23.555Z. See additional references
  on how changed attribute reports work.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:28:\"changedMetricsSinceTimestamp\";O:8:\"stdClass\":3:{s:11:\"description\";s:133:\"Inclusive
  UTC timestamp in RFC format, e.g., 2013-07-16T10:16:23.555Z. See additional references
  on how changed metrics reports work.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"endDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Inclusive
  date in YYYY-MM-DD format.\";s:4:\"type\";s:6:\"string\";}s:9:\"startDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Inclusive
  date in YYYY-MM-DD format.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"verifySingleTimeZone\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:127:\"If
  true, the report would only be created if all the requested stat data are sourced
  from a single timezone. Defaults to false.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:9:\"ReportRow\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:132:\"Indicates
  the columns that are represented in this row. That is, each key corresponds to a
  column with a non-empty cell in this row.\";}s:11:\"description\";s:37:\"A row in
  a DoubleClick Search report.\";s:4:\"type\";s:6:\"object\";}s:11:\"SavedColumn\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"A
  saved column\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:29:\"doubleclicksearch#savedColumn\";s:11:\"description\";s:97:\"Identifies
  this as a SavedColumn resource. Value: the fixed string doubleclicksearch#savedColumn.\";s:4:\"type\";s:6:\"string\";}s:15:\"savedColumnName\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  name of the saved column.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"The
  type of data this saved column will produce.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"SavedColumnList\";O:8:\"stdClass\":3:{s:11:\"description\";s:242:\"A
  list of saved columns. Advertisers create saved columns to report on Floodlight
  activities, Google Analytics goals, or custom KPIs. To request reports with saved
  columns, you'll need the saved column names that are available from this list.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  saved columns being requested.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/SavedColumn\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:33:\"doubleclicksearch#savedColumnList\";s:11:\"description\";s:105:\"Identifies
  this as a SavedColumnList resource. Value: the fixed string doubleclicksearch#savedColumnList.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:25:\"UpdateAvailabilityRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  request to update availability.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"availabilities\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  availabilities being requested.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/Availability\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:26:\"UpdateAvailabilityResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  response to a update availability request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"availabilities\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  availabilities being returned.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/Availability\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}}"
...
