---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":12:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Google\";s:3:\"url\";s:18:\"https://google.com\";}s:11:\"description\";s:52:\"Access
  Gmail mailboxes including sending user email.\";s:5:\"title\";s:5:\"Gmail\";s:7:\"version\";s:2:\"v1\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:37:\"https://console.developers.google.com\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"email\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:105:\"https://api.apis.guru/v2/cache/logo/https_www.gstatic.com_images_icons_material_product_2x_gmail_64dp.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.6.2\";}s:6:\"format\";s:6:\"google\";s:3:\"url\";s:58:\"https://www.googleapis.com/discovery/v1/apis/gmail/v1/rest\";s:7:\"version\";s:2:\"v1\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"googleapis.com\";s:13:\"x-serviceName\";s:5:\"gmail\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:12:\"google_gmail\";s:4:\"type\";s:7:\"openapi\";}}"
host: www.googleapis.com
basePath: /gmail/v1/users
paths: ~
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":40:{s:14:\"AutoForwarding\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Auto-forwarding
  settings for an account.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"disposition\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"The
  state that a message should be left in after it has been forwarded.\";s:4:\"enum\";a:5:{i:0;s:7:\"archive\";i:1;s:22:\"dispositionUnspecified\";i:2;s:12:\"leaveInInbox\";i:3;s:8:\"markRead\";i:4;s:5:\"trash\";}s:4:\"type\";s:6:\"string\";}s:12:\"emailAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:133:\"Email
  address to which all incoming messages are forwarded. This email address must be
  a verified member of the forwarding addresses.\";s:4:\"type\";s:6:\"string\";}s:7:\"enabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"Whether
  all incoming mail is automatically forwarded to another address.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:26:\"BatchDeleteMessagesRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"ids\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  IDs of the messages to delete.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:26:\"BatchModifyMessagesRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"addLabelIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"A
  list of label IDs to add to messages.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:3:\"ids\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"The
  IDs of the messages to modify. There is a limit of 1000 ids per request.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:14:\"removeLabelIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"A
  list of label IDs to remove from messages.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Draft\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"A
  draft email in the user's mailbox.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  immutable ID of the draft.\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Message\";s:11:\"description\";s:33:\"The
  message content of the draft.\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Filter\";O:8:\"stdClass\":3:{s:11:\"description\";s:108:\"Resource
  definition for Gmail filters. Filters apply to specific messages instead of an entire
  email thread.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"action\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/FilterAction\";s:11:\"description\";s:32:\"Action
  that the filter performs.\";}s:8:\"criteria\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/FilterCriteria\";s:11:\"description\";s:33:\"Matching
  criteria for the filter.\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  server assigned ID of the filter.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"FilterAction\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"A
  set of actions to perform on a message.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"addLabelIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"List
  of labels to add to the message.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"forward\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Email
  address that the message should be forwarded to.\";s:4:\"type\";s:6:\"string\";}s:14:\"removeLabelIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"List
  of labels to remove from the message.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:14:\"FilterCriteria\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Message
  matching criteria.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:12:\"excludeChats\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Whether
  the response should exclude chats.\";s:4:\"type\";s:7:\"boolean\";}s:4:\"from\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  sender's display name or email address.\";s:4:\"type\";s:6:\"string\";}s:13:\"hasAttachment\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Whether
  the message has any attachment.\";s:4:\"type\";s:7:\"boolean\";}s:12:\"negatedQuery\";O:8:\"stdClass\":2:{s:11:\"description\";s:175:\"Only
  return messages not matching the specified query. Supports the same query format
  as the Gmail search box. For example, \"from:someuser@example.com rfc822msgid: is:unread\".\";s:4:\"type\";s:6:\"string\";}s:5:\"query\";O:8:\"stdClass\":2:{s:11:\"description\";s:171:\"Only
  return messages matching the specified query. Supports the same query format as
  the Gmail search box. For example, \"from:someuser@example.com rfc822msgid: is:unread\".\";s:4:\"type\";s:6:\"string\";}s:4:\"size\";O:8:\"stdClass\":3:{s:11:\"description\";s:86:\"The
  size of the entire RFC822 message in bytes, including all headers and attachments.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:14:\"sizeComparison\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"How
  the message size in bytes should be in relation to the size field.\";s:4:\"enum\";a:3:{i:0;s:6:\"larger\";i:1;s:7:\"smaller\";i:2;s:11:\"unspecified\";}s:4:\"type\";s:6:\"string\";}s:7:\"subject\";O:8:\"stdClass\":2:{s:11:\"description\";s:137:\"Case-insensitive
  phrase found in the message's subject. Trailing and leading whitespace are be trimmed
  and adjacent spaces are collapsed.\";s:4:\"type\";s:6:\"string\";}s:2:\"to\";O:8:\"stdClass\":2:{s:11:\"description\";s:268:\"The
  recipient's display name or email address. Includes recipients in the \"to\", \"cc\",
  and \"bcc\" header fields. You can use simply the local part of the email address.
  For example, \"example\" and \"example@\" both match \"example@gmail.com\". This
  field is case-insensitive.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"ForwardingAddress\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Settings
  for a forwarding address.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"forwardingEmail\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"An
  email address to which messages can be forwarded.\";s:4:\"type\";s:6:\"string\";}s:18:\"verificationStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:89:\"Indicates
  whether this address has been verified and is usable for forwarding. Read-only.\";s:4:\"enum\";a:3:{i:0;s:8:\"accepted\";i:1;s:7:\"pending\";i:2;s:29:\"verificationStatusUnspecified\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"History\";O:8:\"stdClass\":3:{s:11:\"description\";s:110:\"A
  record of a change to the user's mailbox. Each history change may affect multiple
  messages in multiple ways.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  mailbox sequence ID.\";s:6:\"format\";s:6:\"uint64\";s:4:\"type\";s:6:\"string\";}s:11:\"labelsAdded\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Labels
  added to messages in this history record.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/HistoryLabelAdded\";}s:4:\"type\";s:5:\"array\";}s:13:\"labelsRemoved\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Labels
  removed from messages in this history record.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/HistoryLabelRemoved\";}s:4:\"type\";s:5:\"array\";}s:8:\"messages\";O:8:\"stdClass\":3:{s:11:\"description\";s:214:\"List
  of messages changed in this history record. The fields for specific change types,
  such as messagesAdded may duplicate messages in this field. We recommend using the
  specific change-type fields instead of this.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Message\";}s:4:\"type\";s:5:\"array\";}s:13:\"messagesAdded\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Messages
  added to the mailbox in this history record.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/HistoryMessageAdded\";}s:4:\"type\";s:5:\"array\";}s:15:\"messagesDeleted\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"Messages
  deleted (not Trashed) from the mailbox in this history record.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/HistoryMessageDeleted\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:17:\"HistoryLabelAdded\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"labelIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Label
  IDs added to the message.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Message\";}}s:4:\"type\";s:6:\"object\";}s:19:\"HistoryLabelRemoved\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"labelIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Label
  IDs removed from the message.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Message\";}}s:4:\"type\";s:6:\"object\";}s:19:\"HistoryMessageAdded\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Message\";}}s:4:\"type\";s:6:\"object\";}s:21:\"HistoryMessageDeleted\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Message\";}}s:4:\"type\";s:6:\"object\";}s:12:\"ImapSettings\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"IMAP
  settings for an account.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"autoExpunge\";O:8:\"stdClass\":2:{s:11:\"description\";s:203:\"If
  this value is true, Gmail will immediately expunge a message when it is marked as
  deleted in IMAP. Otherwise, Gmail will wait for an update from the client before
  expunging messages marked as deleted.\";s:4:\"type\";s:7:\"boolean\";}s:7:\"enabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Whether
  IMAP is enabled for the account.\";s:4:\"type\";s:7:\"boolean\";}s:15:\"expungeBehavior\";O:8:\"stdClass\":3:{s:11:\"description\";s:122:\"The
  action that will be executed on a message when it is marked as deleted and expunged
  from the last visible IMAP folder.\";s:4:\"enum\";a:4:{i:0;s:7:\"archive\";i:1;s:13:\"deleteForever\";i:2;s:26:\"expungeBehaviorUnspecified\";i:3;s:5:\"trash\";}s:4:\"type\";s:6:\"string\";}s:13:\"maxFolderSize\";O:8:\"stdClass\":3:{s:11:\"description\";s:186:\"An
  optional limit on the number of messages that an IMAP folder may contain. Legal
  values are 0, 1000, 2000, 5000 or 10000. A value of zero is interpreted to mean
  that there is no limit.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Label\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"Labels
  are used to categorize messages and threads within the user's mailbox.\";s:10:\"properties\";O:8:\"stdClass\":10:{s:5:\"color\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/LabelColor\";s:11:\"description\";s:102:\"The
  color to assign to the label. Color is only available for labels that have their
  type set to user.\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  immutable ID of the label.\";s:4:\"type\";s:6:\"string\";}s:19:\"labelListVisibility\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"The
  visibility of the label in the label list in the Gmail web interface.\";s:4:\"enum\";a:3:{i:0;s:9:\"labelHide\";i:1;s:9:\"labelShow\";i:2;s:17:\"labelShowIfUnread\";}s:4:\"type\";s:6:\"string\";}s:21:\"messageListVisibility\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"The
  visibility of the label in the message list in the Gmail web interface.\";s:4:\"enum\";a:2:{i:0;s:4:\"hide\";i:1;s:4:\"show\";}s:4:\"type\";s:6:\"string\";}s:13:\"messagesTotal\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"The
  total number of messages with the label.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:14:\"messagesUnread\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"The
  number of unread messages with the label.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  display name of the label.\";s:4:\"type\";s:6:\"string\";}s:12:\"threadsTotal\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  total number of threads with the label.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:13:\"threadsUnread\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"The
  number of unread threads with the label.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:541:\"The
  owner type for the label. User labels are created by the user and can be modified
  and deleted by the user and can be applied to any message or thread. System labels
  are internally created and cannot be added, modified, or deleted. System labels
  may be able to be applied to or removed from messages and threads under some circumstances
  but this is not guaranteed. For example, users can apply and remove the INBOX and
  UNREAD labels from messages and threads, but cannot apply or remove the DRAFTS or
  SENT labels from messages or threads.\";s:4:\"enum\";a:2:{i:0;s:6:\"system\";i:1;s:4:\"user\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"LabelColor\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";O:8:\"stdClass\":2:{s:11:\"description\";s:767:\"The
  background color represented as hex string #RRGGBB (ex #000000). This field is required
  in order to set the color of a label. Only the following predefined set of color
  values are allowed:\n#000000, #434343, #666666, #999999, #cccccc, #efefef, #f3f3f3,
  #ffffff, #fb4c2f, #ffad47, #fad165, #16a766, #43d692, #4a86e8, #a479e2, #f691b3,
  #f6c5be, #ffe6c7, #fef1d1, #b9e4d0, #c6f3de, #c9daf8, #e4d7f5, #fcdee8, #efa093,
  #ffd6a2, #fce8b3, #89d3b2, #a0eac9, #a4c2f4, #d0bcf1, #fbc8d9, #e66550, #ffbc6b,
  #fcda83, #44b984, #68dfa9, #6d9eeb, #b694e8, #f7a7c0, #cc3a21, #eaa041, #f2c960,
  #149e60, #3dc789, #3c78d8, #8e63ce, #e07798, #ac2b16, #cf8933, #d5ae49, #0b804b,
  #2a9c68, #285bac, #653e9b, #b65775, #822111, #a46a21, #aa8831, #076239, #1a764d,
  #1c4587, #41236d, #83334c\";s:4:\"type\";s:6:\"string\";}s:9:\"textColor\";O:8:\"stdClass\":2:{s:11:\"description\";s:754:\"The
  text color of the label, represented as hex string. This field is required in order
  to set the color of a label. Only the following predefined set of color values are
  allowed:\n#000000, #434343, #666666, #999999, #cccccc, #efefef, #f3f3f3, #ffffff,
  #fb4c2f, #ffad47, #fad165, #16a766, #43d692, #4a86e8, #a479e2, #f691b3, #f6c5be,
  #ffe6c7, #fef1d1, #b9e4d0, #c6f3de, #c9daf8, #e4d7f5, #fcdee8, #efa093, #ffd6a2,
  #fce8b3, #89d3b2, #a0eac9, #a4c2f4, #d0bcf1, #fbc8d9, #e66550, #ffbc6b, #fcda83,
  #44b984, #68dfa9, #6d9eeb, #b694e8, #f7a7c0, #cc3a21, #eaa041, #f2c960, #149e60,
  #3dc789, #3c78d8, #8e63ce, #e07798, #ac2b16, #cf8933, #d5ae49, #0b804b, #2a9c68,
  #285bac, #653e9b, #b65775, #822111, #a46a21, #aa8831, #076239, #1a764d, #1c4587,
  #41236d, #83334c\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"ListDraftsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"drafts\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"List
  of drafts.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Draft\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"Token
  to retrieve the next page of results in the list.\";s:4:\"type\";s:6:\"string\";}s:18:\"resultSizeEstimate\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Estimated
  total number of results.\";s:6:\"format\";s:6:\"uint32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:19:\"ListFiltersResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Response
  for the ListFilters method.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"filter\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"List
  of a user's filters.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Filter\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:31:\"ListForwardingAddressesResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Response
  for the ListForwardingAddresses method.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:19:\"forwardingAddresses\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"List
  of addresses that may be used for forwarding.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ForwardingAddress\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:19:\"ListHistoryResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"history\";O:8:\"stdClass\":3:{s:11:\"description\";s:122:\"List
  of history records. Any messages contained in the response will typically only have
  id and threadId fields populated.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/History\";}s:4:\"type\";s:5:\"array\";}s:9:\"historyId\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  ID of the mailbox's current history record.\";s:6:\"format\";s:6:\"uint64\";s:4:\"type\";s:6:\"string\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"Page
  token to retrieve the next page of results in the list.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"ListLabelsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"labels\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"List
  of labels.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Label\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:20:\"ListMessagesResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"messages\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"List
  of messages.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Message\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"Token
  to retrieve the next page of results in the list.\";s:4:\"type\";s:6:\"string\";}s:18:\"resultSizeEstimate\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Estimated
  total number of results.\";s:6:\"format\";s:6:\"uint32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:18:\"ListSendAsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Response
  for the ListSendAs method.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"sendAs\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"List
  of send-as aliases.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/SendAs\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:21:\"ListSmimeInfoResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"smimeInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"List
  of SmimeInfo.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/SmimeInfo\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:19:\"ListThreadsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"Page
  token to retrieve the next page of results in the list.\";s:4:\"type\";s:6:\"string\";}s:18:\"resultSizeEstimate\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Estimated
  total number of results.\";s:6:\"format\";s:6:\"uint32\";s:4:\"type\";s:7:\"integer\";}s:7:\"threads\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"List
  of threads.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Thread\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Message\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"An
  email message.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:9:\"historyId\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"The
  ID of the last history record that modified this message.\";s:6:\"format\";s:6:\"uint64\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  immutable ID of the message.\";s:4:\"type\";s:6:\"string\";}s:12:\"internalDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:335:\"The
  internal message creation timestamp (epoch ms), which determines ordering in the
  inbox. For normal SMTP-received email, this represents the time the message was
  originally accepted by Google, which is more reliable than the Date header. However,
  for API-migrated mail, it can be configured by client to be based on the Date header.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:8:\"labelIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"List
  of IDs of labels applied to this message.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"payload\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/MessagePart\";s:11:\"description\";s:48:\"The
  parsed email structure in the message parts.\";}s:3:\"raw\";O:8:\"stdClass\":3:{s:11:\"description\";s:172:\"The
  entire email message in an RFC 2822 formatted and base64url encoded string. Returned
  in messages.get and drafts.get responses when the format=RAW parameter is supplied.\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}s:12:\"sizeEstimate\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Estimated
  size in bytes of the message.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"snippet\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"A
  short part of the message text.\";s:4:\"type\";s:6:\"string\";}s:8:\"threadId\";O:8:\"stdClass\":2:{s:11:\"description\";s:356:\"The
  ID of the thread the message belongs to. To add a message or draft to a thread,
  the following criteria must be met: \n- The requested threadId must be specified
  on the Message or Draft.Message you supply with your request. \n- The References
  and In-Reply-To headers must be set in compliance with the RFC 2822 standard. \n-
  The Subject headers must match.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"MessagePart\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"A
  single MIME message part.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"body\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/MessagePartBody\";s:11:\"description\";s:89:\"The
  message part body for this part, which may be empty for container MIME message parts.\";}s:8:\"filename\";O:8:\"stdClass\":2:{s:11:\"description\";s:91:\"The
  filename of the attachment. Only present if this message part represents an attachment.\";s:4:\"type\";s:6:\"string\";}s:7:\"headers\";O:8:\"stdClass\":3:{s:11:\"description\";s:193:\"List
  of headers on this message part. For the top-level message part, representing the
  entire message payload, it will contain the standard RFC 2822 email headers such
  as To, From, and Subject.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/MessagePartHeader\";}s:4:\"type\";s:5:\"array\";}s:8:\"mimeType\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  MIME type of the message part.\";s:4:\"type\";s:6:\"string\";}s:6:\"partId\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  immutable ID of the message part.\";s:4:\"type\";s:6:\"string\";}s:5:\"parts\";O:8:\"stdClass\":3:{s:11:\"description\";s:239:\"The
  child MIME message parts of this part. This only applies to container MIME message
  parts, for example multipart/*. For non- container MIME message part types, such
  as text/plain, this field is empty. For more information, see RFC 1521.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/MessagePart\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:15:\"MessagePartBody\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  body of a single MIME message part.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"attachmentId\";O:8:\"stdClass\":2:{s:11:\"description\";s:219:\"When
  present, contains the ID of an external attachment that can be retrieved in a separate
  messages.attachments.get request. When not present, the entire content of the message
  part body is contained in the data field.\";s:4:\"type\";s:6:\"string\";}s:4:\"data\";O:8:\"stdClass\":3:{s:11:\"description\";s:271:\"The
  body data of a MIME message part as a base64url encoded string. May be empty for
  MIME container types that have no message body or when the body data is sent as
  a separate attachment. An attachment ID is present if the body data is contained
  in a separate attachment.\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}s:4:\"size\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"Number
  of bytes for the message part data (encoding notwithstanding).\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:17:\"MessagePartHeader\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"The
  name of the header before the : separator. For example, To.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:81:\"The
  value of the header after the : separator. For example, someuser@example.com.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"ModifyMessageRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"addLabelIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"A
  list of IDs of labels to add to this message.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:14:\"removeLabelIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"A
  list IDs of labels to remove from this message.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:19:\"ModifyThreadRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"addLabelIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"A
  list of IDs of labels to add to this thread.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:14:\"removeLabelIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"A
  list of IDs of labels to remove from this thread.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:11:\"PopSettings\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"POP
  settings for an account.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"accessWindow\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  range of messages which are accessible via POP.\";s:4:\"enum\";a:4:{i:0;s:23:\"accessWindowUnspecified\";i:1;s:7:\"allMail\";i:2;s:8:\"disabled\";i:3;s:9:\"fromNowOn\";}s:4:\"type\";s:6:\"string\";}s:11:\"disposition\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"The
  action that will be executed on a message after it has been fetched via POP.\";s:4:\"enum\";a:5:{i:0;s:7:\"archive\";i:1;s:22:\"dispositionUnspecified\";i:2;s:12:\"leaveInInbox\";i:3;s:8:\"markRead\";i:4;s:5:\"trash\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Profile\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Profile
  for a Gmail user.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"emailAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  user's email address.\";s:4:\"type\";s:6:\"string\";}s:9:\"historyId\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  ID of the mailbox's current history record.\";s:6:\"format\";s:6:\"uint64\";s:4:\"type\";s:6:\"string\";}s:13:\"messagesTotal\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"The
  total number of messages in the mailbox.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"threadsTotal\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  total number of threads in the mailbox.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:6:\"SendAs\";O:8:\"stdClass\":3:{s:11:\"description\";s:222:\"Settings
  associated with a send-as alias, which can be either the primary login address associated
  with the account or a custom \"from\" address. Send-as aliases correspond to the
  \"Send Mail As\" feature in the web interface.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:390:\"A
  name that appears in the \"From:\" header for mail sent using this alias. For custom
  \"from\" addresses, when this is empty, Gmail will populate the \"From:\" header
  with the name that is used for the primary address associated with the account.
  If the admin has disabled the ability for users to update their name format, requests
  to update this field for the primary login will silently fail.\";s:4:\"type\";s:6:\"string\";}s:9:\"isDefault\";O:8:\"stdClass\":2:{s:11:\"description\";s:403:\"Whether
  this address is selected as the default \"From:\" address in situations such as
  composing a new message or sending a vacation auto-reply. Every Gmail account has
  exactly one default send-as address, so the only legal value that clients may write
  to this field is true. Changing this from false to true for an address will result
  in this field becoming false for the other previous default address.\";s:4:\"type\";s:7:\"boolean\";}s:9:\"isPrimary\";O:8:\"stdClass\":2:{s:11:\"description\";s:216:\"Whether
  this address is the primary address used to login to the account. Every Gmail account
  has exactly one primary address, and it cannot be deleted from the collection of
  send-as aliases. This field is read-only.\";s:4:\"type\";s:7:\"boolean\";}s:14:\"replyToAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:162:\"An
  optional email address that is included in a \"Reply-To:\" header for mail sent
  using this alias. If this is empty, Gmail will not generate a \"Reply-To:\" header.\";s:4:\"type\";s:6:\"string\";}s:11:\"sendAsEmail\";O:8:\"stdClass\":2:{s:11:\"description\";s:136:\"The
  email address that appears in the \"From:\" header for mail sent using this alias.
  This is read-only for all operations except create.\";s:4:\"type\";s:6:\"string\";}s:9:\"signature\";O:8:\"stdClass\":2:{s:11:\"description\";s:101:\"An
  optional HTML signature that is included in messages composed with this alias in
  the Gmail web UI.\";s:4:\"type\";s:6:\"string\";}s:7:\"smtpMsa\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/SmtpMsa\";s:11:\"description\";s:255:\"An
  optional SMTP service that will be used as an outbound relay for mail sent using
  this alias. If this is empty, outbound mail will be sent directly from Gmail's servers
  to the destination SMTP service. This setting only applies to custom \"from\" aliases.\";}s:12:\"treatAsAlias\";O:8:\"stdClass\":2:{s:11:\"description\";s:142:\"Whether
  Gmail should  treat this address as an alias for the user's primary email address.
  This setting only applies to custom \"from\" aliases.\";s:4:\"type\";s:7:\"boolean\";}s:18:\"verificationStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:139:\"Indicates
  whether this address has been verified for use as a send-as alias. Read-only. This
  setting only applies to custom \"from\" aliases.\";s:4:\"enum\";a:3:{i:0;s:8:\"accepted\";i:1;s:7:\"pending\";i:2;s:29:\"verificationStatusUnspecified\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"SmimeInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"An
  S/MIME email config.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:20:\"encryptedKeyPassword\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Encrypted
  key password, when key is encrypted.\";s:4:\"type\";s:6:\"string\";}s:10:\"expiration\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"When
  the certificate expires (in milliseconds since epoch).\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  immutable ID for the SmimeInfo.\";s:4:\"type\";s:6:\"string\";}s:9:\"isDefault\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"Whether
  this SmimeInfo is the default one for this user's send-as address.\";s:4:\"type\";s:7:\"boolean\";}s:8:\"issuerCn\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"The
  S/MIME certificate issuer's common name.\";s:4:\"type\";s:6:\"string\";}s:3:\"pem\";O:8:\"stdClass\":2:{s:11:\"description\";s:183:\"PEM
  formatted X509 concatenated certificate string (standard base64 encoding). Format
  used for returning key, which includes public key as well as certificate chain (not
  private key).\";s:4:\"type\";s:6:\"string\";}s:6:\"pkcs12\";O:8:\"stdClass\":3:{s:11:\"description\";s:320:\"PKCS#12
  format containing a single private/public key pair and certificate chain. This format
  is only accepted from client for creating a new SmimeInfo and is never returned,
  because the private key is not intended to be exported. PKCS#12 may be encrypted,
  in which case encryptedKeyPassword should be set appropriately.\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"SmtpMsa\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Configuration
  for communication with an SMTP service.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"host\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  hostname of the SMTP service. Required.\";s:4:\"type\";s:6:\"string\";}s:8:\"password\";O:8:\"stdClass\":2:{s:11:\"description\";s:206:\"The
  password that will be used for authentication with the SMTP service. This is a write-only
  field that can be specified in requests to create or update SendAs settings; it
  is never populated in responses.\";s:4:\"type\";s:6:\"string\";}s:4:\"port\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  port of the SMTP service. Required.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"securityMode\";O:8:\"stdClass\":3:{s:11:\"description\";s:87:\"The
  protocol that will be used to secure communication with the SMTP service. Required.\";s:4:\"enum\";a:4:{i:0;s:4:\"none\";i:1;s:23:\"securityModeUnspecified\";i:2;s:3:\"ssl\";i:3;s:8:\"starttls\";}s:4:\"type\";s:6:\"string\";}s:8:\"username\";O:8:\"stdClass\":2:{s:11:\"description\";s:206:\"The
  username that will be used for authentication with the SMTP service. This is a write-only
  field that can be specified in requests to create or update SendAs settings; it
  is never populated in responses.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Thread\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"A
  collection of messages representing a conversation.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"historyId\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"The
  ID of the last history record that modified this thread.\";s:6:\"format\";s:6:\"uint64\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  unique ID of the thread.\";s:4:\"type\";s:6:\"string\";}s:8:\"messages\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  list of messages in the thread.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Message\";}s:4:\"type\";s:5:\"array\";}s:7:\"snippet\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"A
  short part of the message text.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"VacationSettings\";O:8:\"stdClass\":3:{s:11:\"description\";s:128:\"Vacation
  auto-reply settings for an account. These settings correspond to the \"Vacation
  responder\" feature in the web interface.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:15:\"enableAutoReply\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"Flag
  that controls whether Gmail automatically replies to messages.\";s:4:\"type\";s:7:\"boolean\";}s:7:\"endTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:244:\"An
  optional end time for sending auto-replies (epoch ms). When this is specified, Gmail
  will automatically reply only to messages that it receives before the end time.
  If both startTime and endTime are specified, startTime must precede endTime.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:16:\"responseBodyHtml\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"Response
  body in HTML format. Gmail will sanitize the HTML before storing it.\";s:4:\"type\";s:6:\"string\";}s:21:\"responseBodyPlainText\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Response
  body in plain text format.\";s:4:\"type\";s:6:\"string\";}s:15:\"responseSubject\";O:8:\"stdClass\":2:{s:11:\"description\";s:167:\"Optional
  text to prepend to the subject line in vacation responses. In order to enable auto-replies,
  either the response subject or the response body must be nonempty.\";s:4:\"type\";s:6:\"string\";}s:18:\"restrictToContacts\";O:8:\"stdClass\":2:{s:11:\"description\";s:105:\"Flag
  that determines whether responses are sent to recipients who are not in the user's
  list of contacts.\";s:4:\"type\";s:7:\"boolean\";}s:16:\"restrictToDomain\";O:8:\"stdClass\":2:{s:11:\"description\";s:149:\"Flag
  that determines whether responses are sent to recipients who are outside of the
  user's domain. This feature is only available for G Suite users.\";s:4:\"type\";s:7:\"boolean\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:247:\"An
  optional start time for sending auto-replies (epoch ms). When this is specified,
  Gmail will automatically reply only to messages that it receives after the start
  time. If both startTime and endTime are specified, startTime must precede endTime.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"WatchRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"Set
  up or update a new push notification watch on this user's mailbox.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:17:\"labelFilterAction\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Filtering
  behavior of labelIds list specified.\";s:4:\"enum\";a:2:{i:0;s:7:\"exclude\";i:1;s:7:\"include\";}s:4:\"type\";s:6:\"string\";}s:8:\"labelIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:200:\"List
  of label_ids to restrict notifications about. By default, if unspecified, all changes
  are pushed out. If specified then dictates which labels are required for a push
  notification to be generated.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:9:\"topicName\";O:8:\"stdClass\":2:{s:11:\"description\";s:465:\"A
  fully qualified Google Cloud Pub/Sub API topic name to publish the events to. This
  topic name **must** already exist in Cloud Pub/Sub and you **must** have already
  granted gmail \"publish\" permission on it. For example, \"projects/my-project-identifier/topics/my-topic-name\"
  (using the Cloud Pub/Sub \"v1\" topic naming format).\n\nNote that the \"my-project-identifier\"
  portion must exactly match your Google developer project id (the one executing this
  watch request).\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"WatchResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Push
  notification watch response.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"expiration\";O:8:\"stdClass\":3:{s:11:\"description\";s:132:\"When
  Gmail will stop sending notifications for mailbox updates (epoch millis). Call watch
  again before this time to renew the watch.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:9:\"historyId\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  ID of the mailbox's current history record.\";s:6:\"format\";s:6:\"uint64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
