---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":12:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Google\";s:3:\"url\";s:18:\"https://google.com\";}s:11:\"description\";s:66:\"Lets
  you manage permission levels and related settings of a group.\";s:5:\"title\";s:15:\"Groups
  Settings\";s:7:\"version\";s:2:\"v1\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:37:\"https://console.developers.google.com\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:116:\"https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.6.2\";}s:6:\"format\";s:6:\"google\";s:3:\"url\";s:67:\"https://www.googleapis.com/discovery/v1/apis/groupssettings/v1/rest\";s:7:\"version\";s:2:\"v1\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"googleapis.com\";s:13:\"x-serviceName\";s:14:\"groupssettings\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:21:\"google_groupssettings\";s:4:\"type\";s:7:\"openapi\";}}"
host: www.googleapis.com
basePath: /groups/v1/groups
paths:
  /{groupUniqueId}:
    get:
      description: Gets one resource by id.
      operationId: groups.get
      parameters:
      - description: The resource ID
        in: path
        name: groupUniqueId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Groups'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/apps.groups.settings
      tags:
      - groups
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    patch:
      description: Updates an existing resource. This method supports patch semantics.
      operationId: groups.patch
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/Groups'
      - description: The resource ID
        in: path
        name: groupUniqueId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Groups'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/apps.groups.settings
      tags:
      - groups
    put:
      description: Updates an existing resource.
      operationId: groups.update
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/Groups'
      - description: The resource ID
        in: path
        name: groupUniqueId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Groups'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/apps.groups.settings
      tags:
      - groups
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":1:{s:6:\"Groups\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"JSON
  template for Group resource\";s:10:\"properties\";O:8:\"stdClass\":31:{s:20:\"allowExternalMembers\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Are
  external members allowed to join the group.\";s:4:\"type\";s:6:\"string\";}s:24:\"allowGoogleCommunication\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Is
  google allowed to contact admins.\";s:4:\"type\";s:6:\"string\";}s:15:\"allowWebPosting\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"If
  posting from web is allowed.\";s:4:\"type\";s:6:\"string\";}s:11:\"archiveOnly\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"If
  the group is archive only\";s:4:\"type\";s:6:\"string\";}s:16:\"customFooterText\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Custom
  footer text.\";s:4:\"type\";s:6:\"string\";}s:13:\"customReplyTo\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Default
  email to which reply to any message should go.\";s:4:\"type\";s:6:\"string\";}s:34:\"defaultMessageDenyNotificationText\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Default
  message deny notification message\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Description
  of the group\";s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Email
  id of the group\";s:4:\"type\";s:6:\"string\";}s:19:\"includeCustomFooter\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Whether
  to include custom footer.\";s:4:\"type\";s:6:\"string\";}s:26:\"includeInGlobalAddressList\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"If
  this groups should be included in global address list or not.\";s:4:\"type\";s:6:\"string\";}s:10:\"isArchived\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"If
  the contents of the group are archived.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:21:\"groupsSettings#groups\";s:11:\"description\";s:25:\"The
  type of the resource.\";s:4:\"type\";s:6:\"string\";}s:15:\"maxMessageBytes\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Maximum
  message size allowed.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:24:\"membersCanPostAsTheGroup\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Can
  members post using the group email address.\";s:4:\"type\";s:6:\"string\";}s:18:\"messageDisplayFont\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"Default
  message display font. Possible values are: DEFAULT_FONT FIXED_WIDTH_FONT\";s:4:\"type\";s:6:\"string\";}s:22:\"messageModerationLevel\";O:8:\"stdClass\":2:{s:11:\"description\";s:129:\"Moderation
  level for messages. Possible values are: MODERATE_ALL_MESSAGES MODERATE_NON_MEMBERS
  MODERATE_NEW_MEMBERS MODERATE_NONE\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Name
  of the Group\";s:4:\"type\";s:6:\"string\";}s:15:\"primaryLanguage\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Primary
  language for the group.\";s:4:\"type\";s:6:\"string\";}s:7:\"replyTo\";O:8:\"stdClass\":2:{s:11:\"description\";s:166:\"Whome
  should the default reply to a message go to. Possible values are: REPLY_TO_CUSTOM
  REPLY_TO_SENDER REPLY_TO_LIST REPLY_TO_OWNER REPLY_TO_IGNORE REPLY_TO_MANAGERS\";s:4:\"type\";s:6:\"string\";}s:27:\"sendMessageDenyNotification\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"Should
  the member be notified if his message is denied by owner.\";s:4:\"type\";s:6:\"string\";}s:20:\"showInGroupDirectory\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Is
  the group listed in groups directory\";s:4:\"type\";s:6:\"string\";}s:19:\"spamModerationLevel\";O:8:\"stdClass\":2:{s:11:\"description\";s:108:\"Moderation
  level for messages detected as spam. Possible values are: ALLOW MODERATE SILENTLY_MODERATE
  REJECT\";s:4:\"type\";s:6:\"string\";}s:9:\"whoCanAdd\";O:8:\"stdClass\":2:{s:11:\"description\";s:121:\"Permissions
  to add members. Possible values are: ALL_MANAGERS_CAN_ADD ALL_OWNERS_CAN_ADD ALL_MEMBERS_CAN_ADD
  NONE_CAN_ADD\";s:4:\"type\";s:6:\"string\";}s:18:\"whoCanContactOwner\";O:8:\"stdClass\":2:{s:11:\"description\";s:167:\"Permission
  to contact owner of the group via web UI. Possible values are: ANYONE_CAN_CONTACT
  ALL_IN_DOMAIN_CAN_CONTACT ALL_MEMBERS_CAN_CONTACT ALL_MANAGERS_CAN_CONTACT\";s:4:\"type\";s:6:\"string\";}s:12:\"whoCanInvite\";O:8:\"stdClass\":2:{s:11:\"description\";s:136:\"Permissions
  to invite members. Possible values are: ALL_MEMBERS_CAN_INVITE ALL_MANAGERS_CAN_INVITE
  ALL_OWNERS_CAN_INVITE NONE_CAN_INVITE\";s:4:\"type\";s:6:\"string\";}s:10:\"whoCanJoin\";O:8:\"stdClass\":2:{s:11:\"description\";s:127:\"Permissions
  to join the group. Possible values are: ANYONE_CAN_JOIN ALL_IN_DOMAIN_CAN_JOIN INVITED_CAN_JOIN
  CAN_REQUEST_TO_JOIN\";s:4:\"type\";s:6:\"string\";}s:16:\"whoCanLeaveGroup\";O:8:\"stdClass\":2:{s:11:\"description\";s:132:\"Permission
  to leave the group. Possible values are: ALL_MANAGERS_CAN_LEAVE ALL_OWNERS_CAN_LEAVE
  ALL_MEMBERS_CAN_LEAVE NONE_CAN_LEAVE\";s:4:\"type\";s:6:\"string\";}s:17:\"whoCanPostMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:179:\"Permissions
  to post messages to the group. Possible values are: NONE_CAN_POST ALL_MANAGERS_CAN_POST
  ALL_MEMBERS_CAN_POST ALL_OWNERS_CAN_POST ALL_IN_DOMAIN_CAN_POST ANYONE_CAN_POST\";s:4:\"type\";s:6:\"string\";}s:15:\"whoCanViewGroup\";O:8:\"stdClass\":2:{s:11:\"description\";s:149:\"Permissions
  to view group. Possible values are: ANYONE_CAN_VIEW ALL_IN_DOMAIN_CAN_VIEW ALL_MEMBERS_CAN_VIEW
  ALL_MANAGERS_CAN_VIEW ALL_OWNERS_CAN_VIEW\";s:4:\"type\";s:6:\"string\";}s:20:\"whoCanViewMembership\";O:8:\"stdClass\":2:{s:11:\"description\";s:118:\"Permissions
  to view membership. Possible values are: ALL_IN_DOMAIN_CAN_VIEW ALL_MEMBERS_CAN_VIEW
  ALL_MANAGERS_CAN_VIEW\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
