---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":13:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Google\";s:3:\"url\";s:18:\"https://google.com\";}s:11:\"description\";s:90:\"Creates
  and manages users and groups for accessing Google Compute Engine virtual machines.\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:32:\"Creative
  Commons Attribution 3.0\";s:3:\"url\";s:43:\"http://creativecommons.org/licenses/by/3.0/\";}s:14:\"termsOfService\";s:36:\"https://developers.google.com/terms/\";s:5:\"title\";s:19:\"Cloud
  User Accounts\";s:7:\"version\";s:8:\"vm_alpha\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:37:\"https://console.developers.google.com\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:90:\"https://api.apis.guru/v2/cache/logo/https_cloud.google.com__static_images_new-gcp-logo.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.6.0\";}s:6:\"format\";s:6:\"google\";s:3:\"url\";s:76:\"https://www.googleapis.com/discovery/v1/apis/clouduseraccounts/vm_alpha/rest\";s:7:\"version\";s:2:\"v1\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"googleapis.com\";s:13:\"x-serviceName\";s:17:\"clouduseraccounts\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:24:\"google_clouduseraccounts\";s:4:\"type\";s:7:\"openapi\";}}"
host: www.googleapis.com
basePath: /clouduseraccounts/vm_alpha/projects
paths: ~
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":24:{s:11:\"AuditConfig\";O:8:\"stdClass\":3:{s:11:\"description\";s:104:\"Enables
  \"data access\" audit logging for a service and specifies a list of members that
  are log-exempted.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"exemptedMembers\";O:8:\"stdClass\":3:{s:11:\"description\";s:154:\"Specifies
  the identities that are exempted from \"data access\" audit logging for the `service`
  specified above. Follows the same format of Binding.members.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"service\";O:8:\"stdClass\":2:{s:11:\"description\";s:186:\"Specifies
  a service that will be enabled for \"data access\" audit logging. For example, `resourcemanager`,
  `storage`, `compute`. `allServices` is a special value that covers all services.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"AuthorizedKeysView\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"A
  list of authorized public keys for a user account.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"keys\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"[Output
  Only] The list of authorized public keys in SSH format.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:6:\"sudoer\";O:8:\"stdClass\":2:{s:11:\"description\";s:109:\"[Output
  Only] Whether the user has the ability to elevate on the instance that requested
  the authorized keys.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Binding\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Associates
  `members` with a `role`.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"members\";O:8:\"stdClass\":3:{s:11:\"description\";s:886:\"Specifies
  the identities requesting access for a Cloud Platform resource. `members` can have
  the following values:\n\n* `allUsers`: A special identifier that represents anyone
  who is on the internet; with or without a Google account.\n\n* `allAuthenticatedUsers`:
  A special identifier that represents anyone who is authenticated with a Google account
  or a service account.\n\n* `user:{emailid}`: An email address that represents a
  specific Google account. For example, `alice@gmail.com` or `joe@example.com`.\n\n*
  `serviceAccount:{emailid}`: An email address that represents a service account.
  For example, `my-other-app@appspot.gserviceaccount.com`.\n\n* `group:{emailid}`:
  An email address that represents a Google group. For example, `admins@example.com`.\n\n*
  `domain:{domain}`: A Google Apps domain name that represents all the users of that
  domain. For example, `google.com` or `example.com`.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"role\";O:8:\"stdClass\":2:{s:11:\"description\";s:98:\"Role
  that is assigned to `members`. For example, `roles/viewer`, `roles/editor`, or `roles/owner`.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"Condition\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"A
  condition to be met.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:3:\"iam\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Trusted
  attributes supplied by the IAM system.\";s:4:\"enum\";a:3:{i:0;s:11:\"ATTRIBUTION\";i:1;s:9:\"AUTHORITY\";i:2;s:7:\"NO_ATTR\";}s:4:\"type\";s:6:\"string\";}s:2:\"op\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"An
  operator to apply the subject with.\";s:4:\"enum\";a:6:{i:0;s:10:\"DISCHARGED\";i:1;s:6:\"EQUALS\";i:2;s:2:\"IN\";i:3;s:10:\"NOT_EQUALS\";i:4;s:6:\"NOT_IN\";i:5;s:5:\"NO_OP\";}s:4:\"type\";s:6:\"string\";}s:3:\"svc\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Trusted
  attributes discharged by the service.\";s:4:\"type\";s:6:\"string\";}s:3:\"sys\";O:8:\"stdClass\":3:{s:11:\"description\";s:106:\"Trusted
  attributes supplied by any service that owns resources and uses the IAM system for
  access control.\";s:4:\"enum\";a:5:{i:0;s:2:\"IP\";i:1;s:4:\"NAME\";i:2;s:7:\"NO_ATTR\";i:3;s:6:\"REGION\";i:4;s:7:\"SERVICE\";}s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"The
  object of the condition. Exactly one of these must be set.\";s:4:\"type\";s:6:\"string\";}s:6:\"values\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"The
  objects of the condition. This is mutually exclusive with 'value'.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Group\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"A
  Group resource.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:17:\"creationTimestamp\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"[Output
  Only] Creation timestamp in RFC3339 text format.\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:101:\"An
  optional textual description of the resource; provided by the client when the resource
  is created.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"[Output
  Only] Unique identifier for the resource; defined by the server.\";s:6:\"format\";s:6:\"uint64\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:23:\"clouduseraccounts#group\";s:11:\"description\";s:78:\"[Output
  Only] Type of the resource. Always clouduseraccounts#group for groups.\";s:4:\"type\";s:6:\"string\";}s:7:\"members\";O:8:\"stdClass\":3:{s:11:\"description\";s:128:\"[Output
  Only] A list of URLs to User resources who belong to the group. Users may only be
  members of groups in the same project.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"Name
  of the resource; provided by the client when the resource is created.\";s:7:\"pattern\";s:21:\"[a-z][-a-z0-9_]{0,31}\";s:4:\"type\";s:6:\"string\";}s:8:\"selfLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"[Output
  Only] Server defined URL for the resource.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"GroupList\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"[Output
  Only] Unique identifier for the resource; defined by the server.\";s:4:\"type\";s:6:\"string\";}s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"[Output
  Only] A list of Group resources.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Group\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:27:\"clouduseraccounts#groupList\";s:11:\"description\";s:87:\"[Output
  Only] Type of resource. Always clouduseraccounts#groupList for lists of groups.\";s:4:\"type\";s:6:\"string\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"[Output
  Only] A token used to continue a truncated list request.\";s:4:\"type\";s:6:\"string\";}s:8:\"selfLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"[Output
  Only] Server defined URL for this resource.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:22:\"GroupsAddMemberRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"users\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Fully-qualified
  URLs of the User resources to add.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:25:\"GroupsRemoveMemberRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"users\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Fully-qualified
  URLs of the User resources to remove.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:17:\"LinuxAccountViews\";O:8:\"stdClass\":3:{s:11:\"description\";s:271:\"A
  list of all Linux accounts for this project. This API is only used by Compute Engine
  virtual machines to get information about user accounts for a project or instance.
  Linux resources are read-only views into users and groups managed by the Compute
  Engine Accounts API.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"groupViews\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"[Output
  Only] A list of all groups within a project.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/LinuxGroupView\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:35:\"clouduseraccounts#linuxAccountViews\";s:11:\"description\";s:99:\"[Output
  Only] Type of the resource. Always clouduseraccounts#linuxAccountViews for Linux
  resources.\";s:4:\"type\";s:6:\"string\";}s:9:\"userViews\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"[Output
  Only] A list of all users within a project.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/LinuxUserView\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:34:\"LinuxGetAuthorizedKeysViewResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"resource\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AuthorizedKeysView\";s:11:\"description\";s:58:\"[Output
  Only] A list of authorized public keys for a user.\";}}s:4:\"type\";s:6:\"object\";}s:33:\"LinuxGetLinuxAccountViewsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"resource\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/LinuxAccountViews\";s:11:\"description\";s:60:\"[Output
  Only] A list of authorized user accounts and groups.\";}}s:4:\"type\";s:6:\"object\";}s:14:\"LinuxGroupView\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"A
  detailed view of a Linux group.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"gid\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"[Output
  Only] The Group ID.\";s:6:\"format\";s:6:\"uint32\";s:4:\"type\";s:7:\"integer\";}s:9:\"groupName\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"[Output
  Only] Group name.\";s:4:\"type\";s:6:\"string\";}s:7:\"members\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"[Output
  Only] List of user accounts that belong to the group.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:13:\"LinuxUserView\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"A
  detailed view of a Linux user account.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:5:\"gecos\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"[Output
  Only] The GECOS (user information) entry for this account.\";s:4:\"type\";s:6:\"string\";}s:3:\"gid\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"[Output
  Only] User's default group ID.\";s:6:\"format\";s:6:\"uint32\";s:4:\"type\";s:7:\"integer\";}s:13:\"homeDirectory\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"[Output
  Only] The path to the home directory for this account.\";s:4:\"type\";s:6:\"string\";}s:5:\"shell\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"[Output
  Only] The path to the login shell for this account.\";s:4:\"type\";s:6:\"string\";}s:3:\"uid\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"[Output
  Only] User ID.\";s:6:\"format\";s:6:\"uint32\";s:4:\"type\";s:7:\"integer\";}s:8:\"username\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"[Output
  Only] The username of the account.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"LogConfig\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Specifies
  what kind of log the caller must write\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"counter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/LogConfigCounterOptions\";s:11:\"description\";s:16:\"Counter
  options.\";}}s:4:\"type\";s:6:\"object\";}s:23:\"LogConfigCounterOptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Options
  for counters\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"field\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  field value to attribute.\";s:4:\"type\";s:6:\"string\";}s:6:\"metric\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  metric to update.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"Operation\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"An
  Operation resource, used to manage asynchronous API requests.\";s:10:\"properties\";O:8:\"stdClass\":23:{s:17:\"clientOperationId\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"[Output
  Only] Reserved for future use.\";s:4:\"type\";s:6:\"string\";}s:17:\"creationTimestamp\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"[Output
  Only] Creation timestamp in RFC3339 text format.\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:97:\"[Output
  Only] A textual description of the operation, which is set when the operation is
  created.\";s:4:\"type\";s:6:\"string\";}s:7:\"endTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:95:\"[Output
  Only] The time that this operation was completed. This value is in RFC3339 text
  format.\";s:4:\"type\";s:6:\"string\";}s:5:\"error\";O:8:\"stdClass\":3:{s:11:\"description\";s:103:\"[Output
  Only] If errors are generated during processing of the operation, this field will
  be populated.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"errors\";O:8:\"stdClass\":3:{s:11:\"description\";s:78:\"[Output
  Only] The array of errors encountered while processing this operation.\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"[Output
  Only] The error type identifier for this error.\";s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:98:\"[Output
  Only] Indicates the field in the request that caused the error. This property is
  optional.\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"[Output
  Only] An optional, human-readable error message.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:16:\"httpErrorMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:118:\"[Output
  Only] If the operation fails, this field contains the HTTP error message that was
  returned, such as NOT FOUND.\";s:4:\"type\";s:6:\"string\";}s:19:\"httpErrorStatusCode\";O:8:\"stdClass\":3:{s:11:\"description\";s:156:\"[Output
  Only] If the operation fails, this field contains the HTTP error status code that
  was returned. For example, a 404 means the resource was not found.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:95:\"[Output
  Only] The unique identifier for the resource. This identifier is defined by the
  server.\";s:6:\"format\";s:6:\"uint64\";s:4:\"type\";s:6:\"string\";}s:10:\"insertTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:95:\"[Output
  Only] The time that this operation was requested. This value is in RFC3339 text
  format.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:27:\"clouduseraccounts#operation\";s:11:\"description\";s:85:\"[Output
  Only] Type of the resource. Always compute#operation for Operation resources.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"[Output
  Only] Name of the resource.\";s:4:\"type\";s:6:\"string\";}s:13:\"operationType\";O:8:\"stdClass\":2:{s:11:\"description\";s:82:\"[Output
  Only] The type of operation, such as insert, update, or delete, and so on.\";s:4:\"type\";s:6:\"string\";}s:8:\"progress\";O:8:\"stdClass\":3:{s:11:\"description\";s:298:\"[Output
  Only] An optional progress indicator that ranges from 0 to 100. There is no requirement
  that this be linear or support any granularity of operations. This should not be
  used to guess when the operation will be complete. This number should monotonically
  increase as the operation progresses.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"region\";O:8:\"stdClass\":2:{s:11:\"description\";s:116:\"[Output
  Only] The URL of the region where the operation resides. Only available when performing
  regional operations.\";s:4:\"type\";s:6:\"string\";}s:8:\"selfLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"[Output
  Only] Server-defined URL for the resource.\";s:4:\"type\";s:6:\"string\";}s:9:\"startTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:107:\"[Output
  Only] The time that this operation was started by the server. This value is in RFC3339
  text format.\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:104:\"[Output
  Only] The status of the operation, which can be one of the following: PENDING, RUNNING,
  or DONE.\";s:4:\"enum\";a:3:{i:0;s:4:\"DONE\";i:1;s:7:\"PENDING\";i:2;s:7:\"RUNNING\";}s:4:\"type\";s:6:\"string\";}s:13:\"statusMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:85:\"[Output
  Only] An optional textual description of the current status of the operation.\";s:4:\"type\";s:6:\"string\";}s:8:\"targetId\";O:8:\"stdClass\":3:{s:11:\"description\";s:99:\"[Output
  Only] The unique target ID, which identifies a specific incarnation of the target
  resource.\";s:6:\"format\";s:6:\"uint64\";s:4:\"type\";s:6:\"string\";}s:10:\"targetLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"[Output
  Only] The URL of the resource that the operation modifies.\";s:4:\"type\";s:6:\"string\";}s:4:\"user\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"[Output
  Only] User who requested the operation, for example: user@example.com.\";s:4:\"type\";s:6:\"string\";}s:8:\"warnings\";O:8:\"stdClass\":3:{s:11:\"description\";s:113:\"[Output
  Only] If warning messages are generated during processing of the operation, this
  field will be populated.\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":3:{s:11:\"description\";s:140:\"[Output
  Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE
  if there are no results in the response.\";s:4:\"enum\";a:15:{i:0;s:14:\"CLEANUP_FAILED\";i:1;s:24:\"DEPRECATED_RESOURCE_USED\";i:2;s:32:\"DISK_SIZE_LARGER_THAN_IMAGE_SIZE\";i:3;s:27:\"INJECTED_KERNELS_DEPRECATED\";i:4;s:29:\"NEXT_HOP_ADDRESS_NOT_ASSIGNED\";i:5;s:26:\"NEXT_HOP_CANNOT_IP_FORWARD\";i:6;s:27:\"NEXT_HOP_INSTANCE_NOT_FOUND\";i:7;s:32:\"NEXT_HOP_INSTANCE_NOT_ON_NETWORK\";i:8;s:20:\"NEXT_HOP_NOT_RUNNING\";i:9;s:18:\"NOT_CRITICAL_ERROR\";i:10;s:18:\"NO_RESULTS_ON_PAGE\";i:11;s:22:\"REQUIRED_TOS_AGREEMENT\";i:12;s:20:\"RESOURCE_NOT_DELETED\";i:13;s:33:\"SINGLE_INSTANCE_PROPERTY_TEMPLATE\";i:14;s:11:\"UNREACHABLE\";}s:4:\"type\";s:6:\"string\";}s:4:\"data\";O:8:\"stdClass\":3:{s:11:\"description\";s:134:\"[Output
  Only] Metadata about this warning in key: value format. For example:\n\"data\":
  [ { \"key\": \"scope\", \"value\": \"zones/us-east1-d\" }\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":2:{s:11:\"description\";s:474:\"[Output
  Only] A key that provides more detail on the warning being returned. For example,
  for warnings where there are no results in a list request for a particular zone,
  this key might be scope and the key value might be the zone name. Other examples
  might be a key indicating a deprecated resource and a suggested replacement, or
  a warning about invalid network settings (for example, if an instance attempts to
  perform IP forwarding but is not enabled for IP forwarding).\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"[Output
  Only] A warning data value corresponding to the key.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"[Output
  Only] A human-readable description of the warning code.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:4:\"zone\";O:8:\"stdClass\":2:{s:11:\"description\";s:114:\"[Output
  Only] The URL of the zone where the operation resides. Only available when performing
  per-zone operations.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"OperationList\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Contains
  a list of Operation resources.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:95:\"[Output
  Only] The unique identifier for the resource. This identifier is defined by the
  server.\";s:4:\"type\";s:6:\"string\";}s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"[Output
  Only] A list of Operation resources.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Operation\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:31:\"clouduseraccounts#operationList\";s:11:\"description\";s:82:\"[Output
  Only] Type of resource. Always compute#operations for Operations resource.\";s:4:\"type\";s:6:\"string\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:330:\"[Output
  Only] This token allows you to get the next page of results for list requests. If
  the number of results is larger than maxResults, use the nextPageToken as a value
  for the query parameter pageToken in the next list request. Subsequent list requests
  will have their own nextPageToken to continue paging through the results.\";s:4:\"type\";s:6:\"string\";}s:8:\"selfLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"[Output
  Only] Server-defined URL for this resource.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Policy\";O:8:\"stdClass\":3:{s:11:\"description\";s:761:\"Defines
  an Identity and Access Management (IAM) policy. It is used to specify access control
  policies for Cloud Platform resources.\n\n\n\nA `Policy` consists of a list of `bindings`.
  A `Binding` binds a list of `members` to a `role`, where the members can be user
  accounts, Google groups, Google domains, and service accounts. A `role` is a named
  list of permissions defined by IAM.\n\n**Example**\n\n{ \"bindings\": [ { \"role\":
  \"roles/owner\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\",
  \"domain:google.com\", \"serviceAccount:my-other-app@appspot.gserviceaccount.com\",
  ] }, { \"role\": \"roles/viewer\", \"members\": [\"user:sean@example.com\"] } ]
  }\n\nFor a description of IAM and its features, see the [IAM developer's guide](https://cloud.google.com/iam).\";s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"auditConfigs\";O:8:\"stdClass\":3:{s:11:\"description\";s:264:\"Specifies
  audit logging configs for \"data access\". \"data access\": generally refers to
  data reads/writes and admin reads. \"admin activity\": generally refers to admin
  writes.\n\nNote: `AuditConfig` doesn't apply to \"admin activity\", which always
  enables audit logging.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/AuditConfig\";}s:4:\"type\";s:5:\"array\";}s:8:\"bindings\";O:8:\"stdClass\":3:{s:11:\"description\";s:158:\"Associates
  a list of `members` to a `role`. Multiple `bindings` must not be specified for the
  same `role`. `bindings` with no members will result in an error.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Binding\";}s:4:\"type\";s:5:\"array\";}s:4:\"etag\";O:8:\"stdClass\":3:{s:11:\"description\";s:606:\"`etag`
  is used for optimistic concurrency control as a way to help prevent simultaneous
  updates of a policy from overwriting each other. It is strongly suggested that systems
  make use of the `etag` in the read-modify-write cycle to perform policy updates
  in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`,
  and systems are expected to put that etag in the request to `setIamPolicy` to ensure
  that their change will be applied to the same version of the policy.\n\nIf no `etag`
  is provided in the call to `setIamPolicy`, then the existing policy is overwritten
  blindly.\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}s:8:\"iamOwned\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:7:\"boolean\";}s:5:\"rules\";O:8:\"stdClass\":3:{s:11:\"description\";s:466:\"If
  more than one rule is specified, the rules are applied in the following manner:
  - All matching LOG rules are always applied. - If any DENY/DENY_WITH_LOG rule matches,
  permission is denied. Logging will be applied if one or more matching rule requires
  logging. - Otherwise, if any ALLOW/ALLOW_WITH_LOG rule matches, permission is granted.
  Logging will be applied if one or more matching rule requires logging. - Otherwise,
  if no rule applies, permission is denied.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Rule\";}s:4:\"type\";s:5:\"array\";}s:7:\"version\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Version
  of the `Policy`. The default version is 0.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:9:\"PublicKey\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"A
  public key for authenticating to guests.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:17:\"creationTimestamp\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"[Output
  Only] Creation timestamp in RFC3339 text format.\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:101:\"An
  optional textual description of the resource; provided by the client when the resource
  is created.\";s:4:\"type\";s:6:\"string\";}s:19:\"expirationTimestamp\";O:8:\"stdClass\":2:{s:11:\"description\";s:136:\"Optional
  expiration timestamp. If provided, the timestamp must be in RFC3339 text format.
  If not provided, the public key never expires.\";s:4:\"type\";s:6:\"string\";}s:11:\"fingerprint\";O:8:\"stdClass\":2:{s:11:\"description\";s:102:\"[Output
  Only] The fingerprint of the key is defined by RFC4716 to be the MD5 digest of the
  public key.\";s:4:\"type\";s:6:\"string\";}s:3:\"key\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"Public
  key text in SSH format, defined by RFC4253 section 6.6.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Rule\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"A
  rule to be applied in a Policy.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:6:\"action\";O:8:\"stdClass\":3:{s:11:\"description\";s:8:\"Required\";s:4:\"enum\";a:6:{i:0;s:5:\"ALLOW\";i:1;s:14:\"ALLOW_WITH_LOG\";i:2;s:4:\"DENY\";i:3;s:13:\"DENY_WITH_LOG\";i:4;s:3:\"LOG\";i:5;s:9:\"NO_ACTION\";}s:4:\"type\";s:6:\"string\";}s:10:\"conditions\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Additional
  restrictions that must be met\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Condition\";}s:4:\"type\";s:5:\"array\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Human-readable
  description of the rule.\";s:4:\"type\";s:6:\"string\";}s:3:\"ins\";O:8:\"stdClass\":3:{s:11:\"description\";s:79:\"The
  rule matches if the PRINCIPAL/AUTHORITY_SELECTOR is in this set of entries.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:10:\"logConfigs\";O:8:\"stdClass\":3:{s:11:\"description\";s:101:\"The
  config returned to callers of tech.iam.IAM.CheckPolicy for any entries that match
  the LOG action.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/LogConfig\";}s:4:\"type\";s:5:\"array\";}s:6:\"notIns\";O:8:\"stdClass\":3:{s:11:\"description\";s:83:\"The
  rule matches if the PRINCIPAL/AUTHORITY_SELECTOR is not in this set of entries.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:11:\"permissions\";O:8:\"stdClass\":3:{s:11:\"description\";s:179:\"A
  permission is a string of form '..' (e.g., 'storage.buckets.list'). A value of '*'
  matches all permissions, and a verb part of '*' (e.g., 'storage.buckets.*') matches
  all verbs.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:22:\"TestPermissionsRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"permissions\";O:8:\"stdClass\":3:{s:11:\"description\";s:124:\"The
  set of permissions to check for the 'resource'. Permissions with wildcards (such
  as '*' or 'storage.*') are not allowed.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:23:\"TestPermissionsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"permissions\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"A
  subset of `TestPermissionsRequest.permissions` that the caller is allowed.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:4:\"User\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"A
  User resource.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:17:\"creationTimestamp\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"[Output
  Only] Creation timestamp in RFC3339 text format.\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:101:\"An
  optional textual description of the resource; provided by the client when the resource
  is created.\";s:4:\"type\";s:6:\"string\";}s:6:\"groups\";O:8:\"stdClass\":3:{s:11:\"description\";s:123:\"[Output
  Only] A list of URLs to Group resources who contain the user. Users are only members
  of groups in the same project.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"[Output
  Only] Unique identifier for the resource; defined by the server.\";s:6:\"format\";s:6:\"uint64\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:22:\"clouduseraccounts#user\";s:11:\"description\";s:76:\"[Output
  Only] Type of the resource. Always clouduseraccounts#user for users.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"Name
  of the resource; provided by the client when the resource is created.\";s:7:\"pattern\";s:21:\"[a-z][-a-z0-9_]{0,31}\";s:4:\"type\";s:6:\"string\";}s:5:\"owner\";O:8:\"stdClass\":2:{s:11:\"description\";s:165:\"Email
  address of account's owner. This account will be validated to make sure it exists.
  The email can belong to any domain, but it must be tied to a Google account.\";s:4:\"type\";s:6:\"string\";}s:10:\"publicKeys\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"[Output
  Only] Public keys that this user may use to login.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/PublicKey\";}s:4:\"type\";s:5:\"array\";}s:8:\"selfLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"[Output
  Only] Server defined URL for the resource.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"UserList\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"[Output
  Only] Unique identifier for the resource; defined by the server.\";s:4:\"type\";s:6:\"string\";}s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"[Output
  Only] A list of User resources.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/User\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:26:\"clouduseraccounts#userList\";s:11:\"description\";s:85:\"[Output
  Only] Type of resource. Always clouduseraccounts#userList for lists of users.\";s:4:\"type\";s:6:\"string\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"[Output
  Only] A token used to continue a truncated list request.\";s:4:\"type\";s:6:\"string\";}s:8:\"selfLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"[Output
  Only] Server defined URL for this resource.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
