---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":12:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Google\";s:3:\"url\";s:18:\"https://google.com\";}s:11:\"description\";s:98:\"Analyzes
  the performance of a web page and provides tailored suggestions to make that page
  faster.\";s:5:\"title\";s:18:\"PageSpeed Insights\";s:7:\"version\";s:2:\"v4\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:37:\"https://console.developers.google.com\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"tools\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:116:\"https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.6.2\";}s:6:\"format\";s:6:\"google\";s:3:\"url\";s:68:\"https://www.googleapis.com/discovery/v1/apis/pagespeedonline/v4/rest\";s:7:\"version\";s:2:\"v1\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"googleapis.com\";s:13:\"x-serviceName\";s:15:\"pagespeedonline\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:22:\"google_pagespeedonline\";s:4:\"type\";s:7:\"openapi\";}}"
host: www.googleapis.com
basePath: /pagespeedonline/v4
paths:
  /runPagespeed:
    get:
      description: Runs PageSpeed analysis on the page at the specified URL, and returns
        PageSpeed scores, a list of suggestions to make that page faster, and other
        information.
      operationId: pagespeedapi.runpagespeed
      parameters:
      - default: false
        description: Indicates if third party resources should be filtered out before
          PageSpeed analysis.
        in: query
        name: filter_third_party_resources
        type: boolean
      - description: The locale used to localize formatted results
        in: query
        name: locale
        type: string
      - collectionFormat: multi
        description: A PageSpeed rule to run; if none are given, all rules are run
        in: query
        items:
          type: string
        name: rule
        type: array
      - default: false
        description: Indicates if binary data containing a screenshot should be included
        in: query
        name: screenshot
        type: boolean
      - default: false
        description: Indicates if binary data containing snapshot images should be
          included
        in: query
        name: snapshots
        type: boolean
      - description: The analysis strategy (desktop or mobile) to use, and desktop
          is the default
        enum:
        - desktop
        - mobile
        in: query
        name: strategy
        type: string
      - description: The URL to fetch and analyze
        in: query
        name: url
        required: true
        type: string
      - description: Campaign name for analytics.
        in: query
        name: utm_campaign
        type: string
      - description: Campaign source for analytics.
        in: query
        name: utm_source
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/PagespeedApiPagespeedResponseV4'
      tags:
      - pagespeedapi
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":3:{s:26:\"PagespeedApiFormatStringV4\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"args\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"List
  of arguments for the format string.\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:3:\"key\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"The
  placeholder key for this arg, as a string.\";s:4:\"type\";s:6:\"string\";}s:5:\"rects\";O:8:\"stdClass\":3:{s:11:\"description\";s:239:\"The
  screen rectangles being referred to, with dimensions measured in CSS pixels. This
  is only ever used for SNAPSHOT_RECT arguments. If this is absent for a SNAPSHOT_RECT
  argument, it means that that argument refers to the entire snapshot.\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"height\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"left\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:3:\"top\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:5:\"width\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:15:\"secondary_rects\";O:8:\"stdClass\":3:{s:11:\"description\";s:138:\"Secondary
  screen rectangles being referred to, with dimensions measured in CSS pixels. This
  is only ever used for SNAPSHOT_RECT arguments.\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"height\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"left\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:3:\"top\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:5:\"width\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:133:\"Type
  of argument. One of URL, STRING_LITERAL, INT_LITERAL, BYTES, DURATION, VERBATIM_STRING,
  PERCENTAGE, HYPERLINK, or SNAPSHOT_RECT.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Argument
  value, as a localized string.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:6:\"format\";O:8:\"stdClass\":2:{s:11:\"description\";s:253:\"A
  localized format string with {{FOO}} placeholders, where 'FOO' is the key of the
  argument whose value should be substituted. For HYPERLINK arguments, the format
  string will instead contain {{BEGIN_FOO}} and {{END_FOO}} for the argument with
  key 'FOO'.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"PagespeedApiImageV4\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"data\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Image
  data base64 encoded.\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}s:6:\"height\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Height
  of screenshot in pixels.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:3:\"key\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Unique
  string key, if any, identifying this image.\";s:4:\"type\";s:6:\"string\";}s:9:\"mime_type\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Mime
  type of image data (e.g. \"image/jpeg\").\";s:4:\"type\";s:6:\"string\";}s:9:\"page_rect\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"height\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"left\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:3:\"top\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:5:\"width\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:5:\"width\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Width
  of screenshot in pixels.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:31:\"PagespeedApiPagespeedResponseV4\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":13:{s:13:\"captchaResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  captcha verify result\";s:4:\"type\";s:6:\"string\";}s:16:\"formattedResults\";O:8:\"stdClass\":3:{s:11:\"description\";s:117:\"Localized
  PageSpeed results. Contains a ruleResults entry for each PageSpeed rule instantiated
  and run by the server.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"locale\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"The
  locale of the formattedResults, e.g. \"en_US\".\";s:4:\"type\";s:6:\"string\";}s:11:\"ruleResults\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:106:\"The
  enum-like identifier for this rule. For instance \"EnableKeepAlive\" or \"AvoidCssImport\".
  Not localized.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"beta\";O:8:\"stdClass\":2:{s:11:\"description\";s:121:\"Whether
  this rule is in 'beta'. Rules in beta are new rules that are being tested, which
  do not impact the overall score.\";s:4:\"type\";s:7:\"boolean\";}s:6:\"groups\";O:8:\"stdClass\":3:{s:11:\"description\";s:116:\"List
  of rule groups that this rule belongs to. Each entry in the list is one of \"SPEED\",
  \"USABILITY\", or \"SECURITY\".\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:17:\"localizedRuleName\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"Localized
  name of the rule, intended for presentation to a user.\";s:4:\"type\";s:6:\"string\";}s:10:\"ruleImpact\";O:8:\"stdClass\":3:{s:11:\"description\";s:474:\"The
  impact (unbounded floating point value) that implementing the suggestions for this
  rule would have on making the page faster. Impact is comparable between rules to
  determine which rule's suggestions would have a higher or lower impact on making
  a page faster. For instance, if enabling compression would save 1MB, while optimizing
  images would save 500kB, the enable compression rule would have 2x the impact of
  the image optimization rule, all other things being equal.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:7:\"summary\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/PagespeedApiFormatStringV4\";s:11:\"description\";s:151:\"A
  brief summary description for the rule, indicating at a high level what should be
  done to follow the rule and what benefit can be gained by doing so.\";}s:9:\"urlBlocks\";O:8:\"stdClass\":3:{s:11:\"description\";s:128:\"List
  of blocks of URLs. Each block may contain a heading and a list of URLs. Each URL
  may optionally include additional details.\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"header\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/PagespeedApiFormatStringV4\";s:11:\"description\";s:46:\"Heading
  to be displayed with the list of URLs.\";}s:4:\"urls\";O:8:\"stdClass\":3:{s:11:\"description\";s:79:\"List
  of entries that provide information about URLs in the url block. Optional.\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"details\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"List
  of entries that provide additional details about a single URL. Optional.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/PagespeedApiFormatStringV4\";}s:4:\"type\";s:5:\"array\";}s:6:\"result\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/PagespeedApiFormatStringV4\";s:11:\"description\";s:101:\"A
  format string that gives information about the URL, and a list of arguments for
  that format string.\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:11:\"description\";s:112:\"Dictionary
  of formatted rule results, with one entry for each PageSpeed rule instantiated and
  run by the server.\";s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:86:\"Canonicalized
  and final URL for the document, after following page redirects (if any).\";s:4:\"type\";s:6:\"string\";}s:12:\"invalidRules\";O:8:\"stdClass\":3:{s:11:\"description\";s:103:\"List
  of rules that were specified in the request, but which the server did not know how
  to instantiate.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:22:\"pagespeedonline#result\";s:11:\"description\";s:15:\"Kind
  of result.\";s:4:\"type\";s:6:\"string\";}s:17:\"loadingExperience\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Metrics
  of end users' page loading experience.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"The
  url, pattern or origin which the metrics are on.\";s:4:\"type\";s:6:\"string\";}s:11:\"initial_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"metrics\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"The
  type of the metric.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"category\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"distributions\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"max\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:3:\"min\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"proportion\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:6:\"median\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:6:\"object\";}s:16:\"overall_category\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"pageStats\";O:8:\"stdClass\":3:{s:11:\"description\";s:95:\"Summary
  statistics for the page, such as number of JavaScript bytes, number of HTML bytes,
  etc.\";s:10:\"properties\";O:8:\"stdClass\":21:{s:3:\"cms\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Content
  management system (CMS) used for the page.\";s:4:\"type\";s:6:\"string\";}s:16:\"cssResponseBytes\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"Number
  of uncompressed response bytes for CSS resources on the page.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:18:\"flashResponseBytes\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"Number
  of response bytes for flash resources on the page.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:17:\"htmlResponseBytes\";O:8:\"stdClass\":3:{s:11:\"description\";s:93:\"Number
  of uncompressed response bytes for the main HTML document and all iframes on the
  page.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:18:\"imageResponseBytes\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"Number
  of response bytes for image resources on the page.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:23:\"javascriptResponseBytes\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"Number
  of uncompressed response bytes for JS resources on the page.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:27:\"numRenderBlockingRoundTrips\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"The
  needed round trips to load render blocking resources\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:18:\"numTotalRoundTrips\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"The
  needed round trips to load the full page\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:18:\"numberCssResources\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Number
  of CSS resources referenced by the page.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"numberHosts\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Number
  of unique hosts referenced by the page.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:17:\"numberJsResources\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"Number
  of JavaScript resources referenced by the page.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:15:\"numberResources\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Number
  of HTTP resources loaded by the page.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:22:\"numberRobotedResources\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Number
  of roboted resources.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:21:\"numberStaticResources\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Number
  of static (i.e. cacheable) resources on the page.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:36:\"numberTransientFetchFailureResources\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Number
  of transient-failed resources.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:18:\"otherResponseBytes\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"Number
  of response bytes for other resources on the page.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:24:\"overTheWireResponseBytes\";O:8:\"stdClass\":3:{s:11:\"description\";s:91:\"Number
  of over-the-wire bytes, uses the default gzip compression strategy as an estimation.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:11:\"robotedUrls\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"List
  of roboted urls.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:17:\"textResponseBytes\";O:8:\"stdClass\":3:{s:11:\"description\";s:147:\"Number
  of uncompressed response bytes for text resources not covered by other statistics
  (i.e non-HTML, non-script, non-CSS resources) on the page.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:17:\"totalRequestBytes\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Total
  size of all request bytes sent by the page.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:25:\"transientFetchFailureUrls\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"List
  of transient fetch failure urls.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:12:\"responseCode\";O:8:\"stdClass\":3:{s:11:\"description\";s:93:\"Response
  code for the document. 200 indicates a normal page load. 4xx/5xx indicates an error.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"ruleGroups\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"The
  name of this rule group: one of \"SPEED\", \"USABILITY\", or \"SECURITY\".\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"pass\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:5:\"score\";O:8:\"stdClass\":3:{s:11:\"description\";s:286:\"The
  score (0-100) for this rule group, which indicates how much better a page could
  be in that category (e.g. how much faster, or how much more usable, or how much
  more secure). A high score indicates little room for improvement, while a lower
  score indicates more room for improvement.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:11:\"description\";s:58:\"A
  map with one entry for each rule group in these results.\";s:4:\"type\";s:6:\"object\";}s:10:\"screenshot\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/PagespeedApiImageV4\";s:11:\"description\";s:56:\"Base64-encoded
  screenshot of the page that was analyzed.\";}s:9:\"snapshots\";O:8:\"stdClass\":3:{s:11:\"description\";s:84:\"Additional
  base64-encoded screenshots of the page, in various partial render states.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/PagespeedApiImageV4\";}s:4:\"type\";s:5:\"array\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"Title
  of the page, as displayed in the browser's title bar.\";s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"The
  version of PageSpeed used to generate these results.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"major\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"The
  major version number of PageSpeed used to generate these results.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:5:\"minor\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"The
  minor version number of PageSpeed used to generate these results.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}}"
...
