---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":12:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Google\";s:3:\"url\";s:18:\"https://google.com\";}s:11:\"description\";s:38:\"The
  API for Google Play Game Services.\";s:5:\"title\";s:25:\"Google Play Game Services\";s:7:\"version\";s:2:\"v1\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:37:\"https://console.developers.google.com\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:6:\"social\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:110:\"https://api.apis.guru/v2/cache/logo/https_www.gstatic.com_images_icons_material_product_2x_play_games_64dp.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.6.2\";}s:6:\"format\";s:6:\"google\";s:3:\"url\";s:58:\"https://www.googleapis.com/discovery/v1/apis/games/v1/rest\";s:7:\"version\";s:2:\"v1\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"googleapis.com\";s:13:\"x-serviceName\";s:5:\"games\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:12:\"google_games\";s:4:\"type\";s:7:\"openapi\";}}"
host: www.googleapis.com
basePath: /games/v1
paths: ~
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":98:{s:21:\"AchievementDefinition\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"This
  is a JSON template for an achievement definition object.\";s:10:\"properties\";O:8:\"stdClass\":13:{s:15:\"achievementType\";O:8:\"stdClass\":2:{s:11:\"description\";s:155:\"The
  type of the achievement.\nPossible values are:  \n- \"STANDARD\" - Achievement is
  either locked or unlocked. \n- \"INCREMENTAL\" - Achievement is incremental.\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  description of the achievement.\";s:4:\"type\";s:6:\"string\";}s:16:\"experiencePoints\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"Experience
  points which will be earned when unlocking this achievement.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:19:\"formattedTotalSteps\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"The
  total steps for an incremental achievement as a string.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  ID of the achievement.\";s:4:\"type\";s:6:\"string\";}s:12:\"initialState\";O:8:\"stdClass\":2:{s:11:\"description\";s:178:\"The
  initial state of the achievement.\nPossible values are:  \n- \"HIDDEN\" - Achievement
  is hidden. \n- \"REVEALED\" - Achievement is revealed. \n- \"UNLOCKED\" - Achievement
  is unlocked.\";s:4:\"type\";s:6:\"string\";}s:24:\"isRevealedIconUrlDefault\";O:8:\"stdClass\":2:{s:11:\"description\";s:104:\"Indicates
  whether the revealed icon image being returned is a default image, or is provided
  by the game.\";s:4:\"type\";s:7:\"boolean\";}s:24:\"isUnlockedIconUrlDefault\";O:8:\"stdClass\":2:{s:11:\"description\";s:97:\"Indicates
  whether the unlocked icon image being returned is a default image, or is game-provided.\";s:4:\"type\";s:7:\"boolean\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:27:\"games#achievementDefinition\";s:11:\"description\";s:108:\"Uniquely
  identifies the type of this resource. Value is always the fixed string games#achievementDefinition.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  name of the achievement.\";s:4:\"type\";s:6:\"string\";}s:15:\"revealedIconUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"The
  image URL for the revealed achievement icon.\";s:4:\"type\";s:6:\"string\";}s:10:\"totalSteps\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  total steps for an incremental achievement.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:15:\"unlockedIconUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"The
  image URL for the unlocked achievement icon.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:34:\"AchievementDefinitionsListResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"This
  is a JSON template for a list of achievement definition objects.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"The
  achievement definitions.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/AchievementDefinition\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:40:\"games#achievementDefinitionsListResponse\";s:11:\"description\";s:121:\"Uniquely
  identifies the type of this resource. Value is always the fixed string games#achievementDefinitionsListResponse.\";s:4:\"type\";s:6:\"string\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Token
  corresponding to the next page of results.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:28:\"AchievementIncrementResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"This
  is a JSON template for an achievement increment response\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"currentSteps\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"The
  current steps recorded for this incremental achievement.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:34:\"games#achievementIncrementResponse\";s:11:\"description\";s:115:\"Uniquely
  identifies the type of this resource. Value is always the fixed string games#achievementIncrementResponse.\";s:4:\"type\";s:6:\"string\";}s:13:\"newlyUnlocked\";O:8:\"stdClass\":2:{s:11:\"description\";s:97:\"Whether
  the current steps for the achievement has reached the number of steps required to
  unlock.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:25:\"AchievementRevealResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"This
  is a JSON template for an achievement reveal response\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"currentState\";O:8:\"stdClass\":2:{s:11:\"description\";s:238:\"The
  current state of the achievement for which a reveal was attempted. This might be
  UNLOCKED if the achievement was already unlocked.\nPossible values are:  \n- \"REVEALED\"
  - Achievement is revealed. \n- \"UNLOCKED\" - Achievement is unlocked.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:31:\"games#achievementRevealResponse\";s:11:\"description\";s:112:\"Uniquely
  identifies the type of this resource. Value is always the fixed string games#achievementRevealResponse.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:34:\"AchievementSetStepsAtLeastResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"This
  is a JSON template for an achievement set steps at least response.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"currentSteps\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"The
  current steps recorded for this incremental achievement.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:40:\"games#achievementSetStepsAtLeastResponse\";s:11:\"description\";s:121:\"Uniquely
  identifies the type of this resource. Value is always the fixed string games#achievementSetStepsAtLeastResponse.\";s:4:\"type\";s:6:\"string\";}s:13:\"newlyUnlocked\";O:8:\"stdClass\":2:{s:11:\"description\";s:101:\"Whether
  the the current steps for the achievement has reached the number of steps required
  to unlock.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:25:\"AchievementUnlockResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"This
  is a JSON template for an achievement unlock response\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:31:\"games#achievementUnlockResponse\";s:11:\"description\";s:112:\"Uniquely
  identifies the type of this resource. Value is always the fixed string games#achievementUnlockResponse.\";s:4:\"type\";s:6:\"string\";}s:13:\"newlyUnlocked\";O:8:\"stdClass\":2:{s:11:\"description\";s:131:\"Whether
  this achievement was newly unlocked (that is, whether the unlock request for the
  achievement was the first for the player).\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:32:\"AchievementUpdateMultipleRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"This
  is a JSON template for a list of achievement update requests.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:38:\"games#achievementUpdateMultipleRequest\";s:11:\"description\";s:119:\"Uniquely
  identifies the type of this resource. Value is always the fixed string games#achievementUpdateMultipleRequest.\";s:4:\"type\";s:6:\"string\";}s:7:\"updates\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  individual achievement update requests.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/AchievementUpdateRequest\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:33:\"AchievementUpdateMultipleResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"This
  is a JSON template for an achievement unlock response.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:39:\"games#achievementUpdateMultipleResponse\";s:11:\"description\";s:116:\"Uniquely
  identifies the type of this resource. Value is always the fixed string games#achievementUpdateListResponse.\";s:4:\"type\";s:6:\"string\";}s:19:\"updatedAchievements\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  updated state of the achievements.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/AchievementUpdateResponse\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:24:\"AchievementUpdateRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"This
  is a JSON template for a request to update an achievement.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:13:\"achievementId\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"The
  achievement this update is being applied to.\";s:4:\"type\";s:6:\"string\";}s:16:\"incrementPayload\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/GamesAchievementIncrement\";s:11:\"description\";s:77:\"The
  payload if an update of type INCREMENT was requested for the achievement.\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:30:\"games#achievementUpdateRequest\";s:11:\"description\";s:111:\"Uniquely
  identifies the type of this resource. Value is always the fixed string games#achievementUpdateRequest.\";s:4:\"type\";s:6:\"string\";}s:22:\"setStepsAtLeastPayload\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:45:\"#/definitions/GamesAchievementSetStepsAtLeast\";s:11:\"description\";s:86:\"The
  payload if an update of type SET_STEPS_AT_LEAST was requested for the achievement.\";}s:10:\"updateType\";O:8:\"stdClass\":2:{s:11:\"description\";s:262:\"The
  type of update being applied.\nPossible values are:  \n- \"REVEAL\" - Achievement
  is revealed. \n- \"UNLOCK\" - Achievement is unlocked. \n- \"INCREMENT\" - Achievement
  is incremented. \n- \"SET_STEPS_AT_LEAST\" - Achievement progress is set to at least
  the passed value.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:25:\"AchievementUpdateResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"This
  is a JSON template for an achievement update response.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:13:\"achievementId\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"The
  achievement this update is was applied to.\";s:4:\"type\";s:6:\"string\";}s:12:\"currentState\";O:8:\"stdClass\":2:{s:11:\"description\";s:178:\"The
  current state of the achievement.\nPossible values are:  \n- \"HIDDEN\" - Achievement
  is hidden. \n- \"REVEALED\" - Achievement is revealed. \n- \"UNLOCKED\" - Achievement
  is unlocked.\";s:4:\"type\";s:6:\"string\";}s:12:\"currentSteps\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"The
  current steps recorded for this achievement if it is incremental.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:31:\"games#achievementUpdateResponse\";s:11:\"description\";s:112:\"Uniquely
  identifies the type of this resource. Value is always the fixed string games#achievementUpdateResponse.\";s:4:\"type\";s:6:\"string\";}s:13:\"newlyUnlocked\";O:8:\"stdClass\":2:{s:11:\"description\";s:131:\"Whether
  this achievement was newly unlocked (that is, whether the unlock request for the
  achievement was the first for the player).\";s:4:\"type\";s:7:\"boolean\";}s:14:\"updateOccurred\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"Whether
  the requested updates actually affected the achievement.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:14:\"AggregateStats\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"This
  is a JSON template for aggregate stats.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:5:\"count\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"The
  number of messages sent between a pair of peers.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:20:\"games#aggregateStats\";s:11:\"description\";s:101:\"Uniquely
  identifies the type of this resource. Value is always the fixed string games#aggregateStats.\";s:4:\"type\";s:6:\"string\";}s:3:\"max\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"The
  maximum amount.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:3:\"min\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"The
  minimum amount.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:3:\"sum\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"The
  total number of bytes sent for messages between a pair of peers.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"AnonymousPlayer\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"This
  is a JSON template for an anonymous player\";s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"avatarImageUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"The
  base URL for the image to display for the anonymous player.\";s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"The
  name to display for the anonymous player.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:21:\"games#anonymousPlayer\";s:11:\"description\";s:102:\"Uniquely
  identifies the type of this resource. Value is always the fixed string games#anonymousPlayer.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"Application\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"This
  is a JSON template for the Application resource.\";s:10:\"properties\";O:8:\"stdClass\":13:{s:17:\"achievement_count\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"The
  number of achievements visible to the currently authenticated player.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"assets\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  assets of the application.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/ImageAsset\";}s:4:\"type\";s:5:\"array\";}s:6:\"author\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  author of the application.\";s:4:\"type\";s:6:\"string\";}s:8:\"category\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/ApplicationCategory\";s:11:\"description\";s:32:\"The
  category of the application.\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  description of the application.\";s:4:\"type\";s:6:\"string\";}s:15:\"enabledFeatures\";O:8:\"stdClass\":3:{s:11:\"description\";s:128:\"A
  list of features that have been enabled for the application.\nPossible values are:
  \ \n- \"SNAPSHOTS\" - Snapshots has been enabled\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  ID of the application.\";s:4:\"type\";s:6:\"string\";}s:9:\"instances\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  instances of the application.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Instance\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:17:\"games#application\";s:11:\"description\";s:98:\"Uniquely
  identifies the type of this resource. Value is always the fixed string games#application.\";s:4:\"type\";s:6:\"string\";}s:20:\"lastUpdatedTimestamp\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  last updated timestamp of the application.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:17:\"leaderboard_count\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"The
  number of leaderboards visible to the currently authenticated player.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  name of the application.\";s:4:\"type\";s:6:\"string\";}s:10:\"themeColor\";O:8:\"stdClass\":2:{s:11:\"description\";s:123:\"A
  hint to the client UI for what color to use as an app-themed color. The color is
  given as an RGB triplet (e.g. \"E0E0E0\").\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"ApplicationCategory\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"This
  is a JSON template for an application category object.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:25:\"games#applicationCategory\";s:11:\"description\";s:106:\"Uniquely
  identifies the type of this resource. Value is always the fixed string games#applicationCategory.\";s:4:\"type\";s:6:\"string\";}s:7:\"primary\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  primary category.\";s:4:\"type\";s:6:\"string\";}s:9:\"secondary\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  secondary category.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:25:\"ApplicationVerifyResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:85:\"This
  is a JSON template for a third party application verification response resource.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"alternate_player_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:142:\"An
  alternate ID that was once used for the player that was issued the auth token used
  in this request. (This field is not normally populated.)\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:31:\"games#applicationVerifyResponse\";s:11:\"description\";s:112:\"Uniquely
  identifies the type of this resource. Value is always the fixed string games#applicationVerifyResponse.\";s:4:\"type\";s:6:\"string\";}s:9:\"player_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"The
  ID of the player that was issued the auth token used in this request.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Category\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"This
  is a JSON template for data related to individual game categories.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"category\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"The
  category name.\";s:4:\"type\";s:6:\"string\";}s:16:\"experiencePoints\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Experience
  points earned in this category.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:14:\"games#category\";s:11:\"description\";s:95:\"Uniquely
  identifies the type of this resource. Value is always the fixed string games#category.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"CategoryListResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"This
  is a JSON template for a list of category data objects.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  list of categories with usage data.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Category\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:26:\"games#categoryListResponse\";s:11:\"description\";s:107:\"Uniquely
  identifies the type of this resource. Value is always the fixed string games#categoryListResponse.\";s:4:\"type\";s:6:\"string\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Token
  corresponding to the next page of results.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:23:\"EventBatchRecordFailure\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"This
  is a JSON template for a batch update failure resource.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"failureCause\";O:8:\"stdClass\":2:{s:11:\"description\";s:584:\"The
  cause for the update failure.\nPossible values are:  \n- \"TOO_LARGE\": A batch
  request was issued with more events than are allowed in a single batch. \n- \"TIME_PERIOD_EXPIRED\":
  A batch was sent with data too far in the past to record. \n- \"TIME_PERIOD_SHORT\":
  A batch was sent with a time range that was too short. \n- \"TIME_PERIOD_LONG\":
  A batch was sent with a time range that was too long. \n- \"ALREADY_UPDATED\": An
  attempt was made to record a batch of data which was already seen. \n- \"RECORD_RATE_HIGH\":
  An attempt was made to record data faster than the server will apply updates.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:29:\"games#eventBatchRecordFailure\";s:11:\"description\";s:110:\"Uniquely
  identifies the type of this resource. Value is always the fixed string games#eventBatchRecordFailure.\";s:4:\"type\";s:6:\"string\";}s:5:\"range\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/EventPeriodRange\";s:11:\"description\";s:68:\"The
  time range which was rejected; empty for a request-wide failure.\";}}s:4:\"type\";s:6:\"object\";}s:10:\"EventChild\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"This
  is a JSON template for an event child relationship resource.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"childId\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  ID of the child event.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:16:\"games#eventChild\";s:11:\"description\";s:97:\"Uniquely
  identifies the type of this resource. Value is always the fixed string games#eventChild.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"EventDefinition\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"This
  is a JSON template for an event definition resource.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:11:\"childEvents\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"A
  list of events that are a child of this event.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/EventChild\";}s:4:\"type\";s:5:\"array\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Description
  of what this event represents.\";s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  name to display for the event.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"The
  ID of the event.\";s:4:\"type\";s:6:\"string\";}s:8:\"imageUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"The
  base URL for the image that represents the event.\";s:4:\"type\";s:6:\"string\";}s:17:\"isDefaultImageUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:88:\"Indicates
  whether the icon image being returned is a default image, or is game-provided.\";s:4:\"type\";s:7:\"boolean\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:21:\"games#eventDefinition\";s:11:\"description\";s:102:\"Uniquely
  identifies the type of this resource. Value is always the fixed string games#eventDefinition.\";s:4:\"type\";s:6:\"string\";}s:10:\"visibility\";O:8:\"stdClass\":2:{s:11:\"description\";s:236:\"The
  visibility of event being tracked in this definition.\nPossible values are:  \n-
  \"REVEALED\": This event should be visible to all users. \n- \"HIDDEN\": This event
  should only be shown to users that have recorded this event at least once.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:27:\"EventDefinitionListResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"This
  is a JSON template for a ListDefinitions response.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"The
  event definitions.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/EventDefinition\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:33:\"games#eventDefinitionListResponse\";s:11:\"description\";s:114:\"Uniquely
  identifies the type of this resource. Value is always the fixed string games#eventDefinitionListResponse.\";s:4:\"type\";s:6:\"string\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"The
  pagination token for the next page of results.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"EventPeriodRange\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"This
  is a JSON template for an event period time range.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:22:\"games#eventPeriodRange\";s:11:\"description\";s:103:\"Uniquely
  identifies the type of this resource. Value is always the fixed string games#eventPeriodRange.\";s:4:\"type\";s:6:\"string\";}s:15:\"periodEndMillis\";O:8:\"stdClass\":3:{s:11:\"description\";s:78:\"The
  time when this update period ends, in millis, since 1970 UTC (Unix Epoch).\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:17:\"periodStartMillis\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"The
  time when this update period begins, in millis, since 1970 UTC (Unix Epoch).\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"EventPeriodUpdate\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"This
  is a JSON template for an event period update resource.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:23:\"games#eventPeriodUpdate\";s:11:\"description\";s:104:\"Uniquely
  identifies the type of this resource. Value is always the fixed string games#eventPeriodUpdate.\";s:4:\"type\";s:6:\"string\";}s:10:\"timePeriod\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/EventPeriodRange\";s:11:\"description\";s:45:\"The
  time period being covered by this update.\";}s:7:\"updates\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"The
  updates being made for this time period.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/EventUpdateRequest\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:18:\"EventRecordFailure\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"This
  is a JSON template for an event update failure resource.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"eventId\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"The
  ID of the event that was not updated.\";s:4:\"type\";s:6:\"string\";}s:12:\"failureCause\";O:8:\"stdClass\":2:{s:11:\"description\";s:225:\"The
  cause for the update failure.\nPossible values are:  \n- \"NOT_FOUND\" - An attempt
  was made to set an event that was not defined. \n- \"INVALID_UPDATE_VALUE\" - An
  attempt was made to increment an event by a non-positive value.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:24:\"games#eventRecordFailure\";s:11:\"description\";s:105:\"Uniquely
  identifies the type of this resource. Value is always the fixed string games#eventRecordFailure.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"EventRecordRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"This
  is a JSON template for an event period update resource.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:17:\"currentTimeMillis\";O:8:\"stdClass\":3:{s:11:\"description\";s:89:\"The
  current time when this update was sent, in milliseconds, since 1970 UTC (Unix Epoch).\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:24:\"games#eventRecordRequest\";s:11:\"description\";s:105:\"Uniquely
  identifies the type of this resource. Value is always the fixed string games#eventRecordRequest.\";s:4:\"type\";s:6:\"string\";}s:9:\"requestId\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"The
  request ID used to identify this attempt to record events.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:11:\"timePeriods\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"A
  list of the time period updates being made in this request.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/EventPeriodUpdate\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:18:\"EventUpdateRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"This
  is a JSON template for an event period update resource.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"definitionId\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"The
  ID of the event being modified in this update.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:24:\"games#eventUpdateRequest\";s:11:\"description\";s:105:\"Uniquely
  identifies the type of this resource. Value is always the fixed string games#eventUpdateRequest.\";s:4:\"type\";s:6:\"string\";}s:11:\"updateCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"The
  number of times this event occurred in this time period.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"EventUpdateResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"This
  is a JSON template for an event period update resource.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"batchFailures\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Any
  batch-wide failures which occurred applying updates.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/EventBatchRecordFailure\";}s:4:\"type\";s:5:\"array\";}s:13:\"eventFailures\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Any
  failures updating a particular event.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/EventRecordFailure\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:25:\"games#eventUpdateResponse\";s:11:\"description\";s:106:\"Uniquely
  identifies the type of this resource. Value is always the fixed string games#eventUpdateResponse.\";s:4:\"type\";s:6:\"string\";}s:12:\"playerEvents\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  current status of any updated events\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/PlayerEvent\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:25:\"GamesAchievementIncrement\";O:8:\"stdClass\":3:{s:11:\"description\";s:79:\"This
  is a JSON template for the payload to request to increment an achievement.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:31:\"games#GamesAchievementIncrement\";s:11:\"description\";s:112:\"Uniquely
  identifies the type of this resource. Value is always the fixed string games#GamesAchievementIncrement.\";s:4:\"type\";s:6:\"string\";}s:9:\"requestId\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"The
  requestId associated with an increment to an achievement.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:5:\"steps\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  number of steps to be incremented.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:31:\"GamesAchievementSetStepsAtLeast\";O:8:\"stdClass\":3:{s:11:\"description\";s:79:\"This
  is a JSON template for the payload to request to increment an achievement.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:37:\"games#GamesAchievementSetStepsAtLeast\";s:11:\"description\";s:118:\"Uniquely
  identifies the type of this resource. Value is always the fixed string games#GamesAchievementSetStepsAtLeast.\";s:4:\"type\";s:6:\"string\";}s:5:\"steps\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"The
  minimum number of steps for the achievement to be set to.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:10:\"ImageAsset\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"This
  is a JSON template for an image asset object.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"height\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  height of the asset.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:16:\"games#imageAsset\";s:11:\"description\";s:97:\"Uniquely
  identifies the type of this resource. Value is always the fixed string games#imageAsset.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  name of the asset.\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  URL of the asset.\";s:4:\"type\";s:6:\"string\";}s:5:\"width\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"The
  width of the asset.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Instance\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"This
  is a JSON template for the Instance resource.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:14:\"acquisitionUri\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"URI
  which shows where a user can acquire this instance.\";s:4:\"type\";s:6:\"string\";}s:15:\"androidInstance\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/InstanceAndroidDetails\";s:11:\"description\";s:39:\"Platform
  dependent details for Android.\";}s:11:\"iosInstance\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/InstanceIosDetails\";s:11:\"description\";s:35:\"Platform
  dependent details for iOS.\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:14:\"games#instance\";s:11:\"description\";s:95:\"Uniquely
  identifies the type of this resource. Value is always the fixed string games#instance.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Localized
  display name.\";s:4:\"type\";s:6:\"string\";}s:12:\"platformType\";O:8:\"stdClass\":2:{s:11:\"description\";s:151:\"The
  platform type.\nPossible values are:  \n- \"ANDROID\" - Instance is for Android.
  \n- \"IOS\" - Instance is for iOS \n- \"WEB_APP\" - Instance is for Web App.\";s:4:\"type\";s:6:\"string\";}s:12:\"realtimePlay\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"Flag
  to show if this game instance supports realtime play.\";s:4:\"type\";s:7:\"boolean\";}s:13:\"turnBasedPlay\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"Flag
  to show if this game instance supports turn based play.\";s:4:\"type\";s:7:\"boolean\";}s:11:\"webInstance\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/InstanceWebDetails\";s:11:\"description\";s:35:\"Platform
  dependent details for Web.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"InstanceAndroidDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"This
  is a JSON template for the Android instance details resource.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:17:\"enablePiracyCheck\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"Flag
  indicating whether the anti-piracy check is enabled.\";s:4:\"type\";s:7:\"boolean\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:28:\"games#instanceAndroidDetails\";s:11:\"description\";s:109:\"Uniquely
  identifies the type of this resource. Value is always the fixed string games#instanceAndroidDetails.\";s:4:\"type\";s:6:\"string\";}s:11:\"packageName\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"Android
  package name which maps to Google Play URL.\";s:4:\"type\";s:6:\"string\";}s:9:\"preferred\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"Indicates
  that this instance is the default for new installations.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:18:\"InstanceIosDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"This
  is a JSON template for the iOS details resource.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:16:\"bundleIdentifier\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Bundle
  identifier.\";s:4:\"type\";s:6:\"string\";}s:11:\"itunesAppId\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"iTunes
  App ID.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:24:\"games#instanceIosDetails\";s:11:\"description\";s:105:\"Uniquely
  identifies the type of this resource. Value is always the fixed string games#instanceIosDetails.\";s:4:\"type\";s:6:\"string\";}s:16:\"preferredForIpad\";O:8:\"stdClass\":2:{s:11:\"description\";s:82:\"Indicates
  that this instance is the default for new installations on iPad devices.\";s:4:\"type\";s:7:\"boolean\";}s:18:\"preferredForIphone\";O:8:\"stdClass\":2:{s:11:\"description\";s:84:\"Indicates
  that this instance is the default for new installations on iPhone devices.\";s:4:\"type\";s:7:\"boolean\";}s:11:\"supportIpad\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Flag
  to indicate if this instance supports iPad.\";s:4:\"type\";s:7:\"boolean\";}s:13:\"supportIphone\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Flag
  to indicate if this instance supports iPhone.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:18:\"InstanceWebDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"This
  is a JSON template for the Web details resource.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:24:\"games#instanceWebDetails\";s:11:\"description\";s:105:\"Uniquely
  identifies the type of this resource. Value is always the fixed string games#instanceWebDetails.\";s:4:\"type\";s:6:\"string\";}s:9:\"launchUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Launch
  URL for the game.\";s:4:\"type\";s:6:\"string\";}s:9:\"preferred\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"Indicates
  that this instance is the default for new installations.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:11:\"Leaderboard\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"This
  is a JSON template for the Leaderboard resource.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"iconUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  icon for the leaderboard.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"The
  leaderboard ID.\";s:4:\"type\";s:6:\"string\";}s:16:\"isIconUrlDefault\";O:8:\"stdClass\":2:{s:11:\"description\";s:88:\"Indicates
  whether the icon image being returned is a default image, or is game-provided.\";s:4:\"type\";s:7:\"boolean\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:17:\"games#leaderboard\";s:11:\"description\";s:98:\"Uniquely
  identifies the type of this resource. Value is always the fixed string games#leaderboard.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  name of the leaderboard.\";s:4:\"type\";s:6:\"string\";}s:5:\"order\";O:8:\"stdClass\":2:{s:11:\"description\";s:224:\"How
  scores are ordered.\nPossible values are:  \n- \"LARGER_IS_BETTER\" - Larger values
  are better; scores are sorted in descending order. \n- \"SMALLER_IS_BETTER\" - Smaller
  values are better; scores are sorted in ascending order.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"LeaderboardEntry\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"This
  is a JSON template for the Leaderboard Entry resource.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:14:\"formattedScore\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"The
  localized string for the numerical value of this score.\";s:4:\"type\";s:6:\"string\";}s:18:\"formattedScoreRank\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"The
  localized string for the rank of this score for this leaderboard.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:22:\"games#leaderboardEntry\";s:11:\"description\";s:103:\"Uniquely
  identifies the type of this resource. Value is always the fixed string games#leaderboardEntry.\";s:4:\"type\";s:6:\"string\";}s:6:\"player\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Player\";s:11:\"description\";s:32:\"The
  player who holds this score.\";}s:9:\"scoreRank\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"The
  rank of this score for this leaderboard.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:8:\"scoreTag\";O:8:\"stdClass\":2:{s:11:\"description\";s:134:\"Additional
  information about the score. Values must contain no more than 64 URI-safe characters
  as defined by section 2.3 of RFC 3986.\";s:4:\"type\";s:6:\"string\";}s:10:\"scoreValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  numerical value of this score.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:8:\"timeSpan\";O:8:\"stdClass\":2:{s:11:\"description\";s:202:\"The
  time span of this high score.\nPossible values are:  \n- \"ALL_TIME\" - The score
  is an all-time high score. \n- \"WEEKLY\" - The score is a weekly high score. \n-
  \"DAILY\" - The score is a daily high score.\";s:4:\"type\";s:6:\"string\";}s:20:\"writeTimestampMillis\";O:8:\"stdClass\":3:{s:11:\"description\";s:87:\"The
  timestamp at which this score was recorded, in milliseconds since the epoch in UTC.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:23:\"LeaderboardListResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"This
  is a JSON template for a list of leaderboard objects.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"The
  leaderboards.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Leaderboard\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:29:\"games#leaderboardListResponse\";s:11:\"description\";s:110:\"Uniquely
  identifies the type of this resource. Value is always the fixed string games#leaderboardListResponse.\";s:4:\"type\";s:6:\"string\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Token
  corresponding to the next page of results.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"LeaderboardScoreRank\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"This
  is a JSON template for a score rank in a leaderboard.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:18:\"formattedNumScores\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"The
  number of scores in the leaderboard as a string.\";s:4:\"type\";s:6:\"string\";}s:13:\"formattedRank\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  rank in the leaderboard as a string.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:26:\"games#leaderboardScoreRank\";s:11:\"description\";s:107:\"Uniquely
  identifies the type of this resource. Value is always the fixed string games#leaderboardScoreRank.\";s:4:\"type\";s:6:\"string\";}s:9:\"numScores\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  number of scores in the leaderboard.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:4:\"rank\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"The
  rank in the leaderboard.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"LeaderboardScores\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"This
  is a JSON template for a ListScores response.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  scores in the leaderboard.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/LeaderboardEntry\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:23:\"games#leaderboardScores\";s:11:\"description\";s:104:\"Uniquely
  identifies the type of this resource. Value is always the fixed string games#leaderboardScores.\";s:4:\"type\";s:6:\"string\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"The
  pagination token for the next page of results.\";s:4:\"type\";s:6:\"string\";}s:9:\"numScores\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  total number of scores in the leaderboard.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:11:\"playerScore\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/LeaderboardEntry\";s:11:\"description\";s:299:\"The
  score of the requesting player on the leaderboard. The player's score may appear
  both here and in the list of scores above. If you are viewing a public leaderboard
  and the player is not sharing their gameplay information publicly, the scoreRank
  and formattedScoreRank values will not be present.\";}s:13:\"prevPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"The
  pagination token for the previous page of results.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"MetagameConfig\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"This
  is a JSON template for the metagame config resource\";s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"currentVersion\";O:8:\"stdClass\":3:{s:11:\"description\";s:123:\"Current
  version of the metagame configuration data. When this data is updated, the version
  number will be increased by one.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:20:\"games#metagameConfig\";s:11:\"description\";s:101:\"Uniquely
  identifies the type of this resource. Value is always the fixed string games#metagameConfig.\";s:4:\"type\";s:6:\"string\";}s:12:\"playerLevels\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"The
  list of player levels.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/PlayerLevel\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:18:\"NetworkDiagnostics\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"This
  is a JSON template for network diagnostics reported for a client.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:21:\"androidNetworkSubtype\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"The
  Android network subtype.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:18:\"androidNetworkType\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  Android network type.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:14:\"iosNetworkType\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"iOS
  network type as defined in Reachability.h.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:24:\"games#networkDiagnostics\";s:11:\"description\";s:105:\"Uniquely
  identifies the type of this resource. Value is always the fixed string games#networkDiagnostics.\";s:4:\"type\";s:6:\"string\";}s:19:\"networkOperatorCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:296:\"The
  MCC+MNC code for the client's network connection. On Android: http://developer.android.com/reference/android/telephony/TelephonyManager.html#getNetworkOperator()
  On iOS, see: https://developer.apple.com/library/ios/documentation/NetworkingInternet/Reference/CTCarrier/Reference/Reference.html\";s:4:\"type\";s:6:\"string\";}s:19:\"networkOperatorName\";O:8:\"stdClass\":2:{s:11:\"description\";s:345:\"The
  name of the carrier of the client's network connection. On Android: http://developer.android.com/reference/android/telephony/TelephonyManager.html#getNetworkOperatorName()
  On iOS: https://developer.apple.com/library/ios/documentation/NetworkingInternet/Reference/CTCarrier/Reference/Reference.html#//apple_ref/occ/instp/CTCarrier/carrierName\";s:4:\"type\";s:6:\"string\";}s:25:\"registrationLatencyMillis\";O:8:\"stdClass\":3:{s:11:\"description\";s:105:\"The
  amount of time in milliseconds it took for the client to establish a connection
  with the XMPP server.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:17:\"ParticipantResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"This
  is a JSON template for a result for a match participant.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:23:\"games#participantResult\";s:11:\"description\";s:104:\"Uniquely
  identifies the type of this resource. Value is always the fixed string games#participantResult.\";s:4:\"type\";s:6:\"string\";}s:13:\"participantId\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  ID of the participant.\";s:4:\"type\";s:6:\"string\";}s:7:\"placing\";O:8:\"stdClass\":3:{s:11:\"description\";s:200:\"The
  placement or ranking of the participant in the match results; a number from one
  to the number of participants in the match. Multiple participants may have the same
  placing value in case of a type.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"result\";O:8:\"stdClass\":2:{s:11:\"description\";s:518:\"The
  result of the participant for this match.\nPossible values are:  \n- \"MATCH_RESULT_WIN\"
  - The participant won the match. \n- \"MATCH_RESULT_LOSS\" - The participant lost
  the match. \n- \"MATCH_RESULT_TIE\" - The participant tied the match. \n- \"MATCH_RESULT_NONE\"
  - There was no winner for the match (nobody wins or loses this kind of game.) \n-
  \"MATCH_RESULT_DISCONNECT\" - The participant disconnected / left during the match.
  \n- \"MATCH_RESULT_DISAGREED\" - Different clients reported different results for
  this participant.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:22:\"PeerChannelDiagnostics\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"This
  is a JSON template for peer channel diagnostics.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:13:\"bytesReceived\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/AggregateStats\";s:11:\"description\";s:25:\"Number
  of bytes received.\";}s:9:\"bytesSent\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/AggregateStats\";s:11:\"description\";s:21:\"Number
  of bytes sent.\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:28:\"games#peerChannelDiagnostics\";s:11:\"description\";s:109:\"Uniquely
  identifies the type of this resource. Value is always the fixed string games#peerChannelDiagnostics.\";s:4:\"type\";s:6:\"string\";}s:15:\"numMessagesLost\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Number
  of messages lost.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:19:\"numMessagesReceived\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Number
  of messages received.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:15:\"numMessagesSent\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Number
  of messages sent.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:15:\"numSendFailures\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Number
  of send failures.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:22:\"roundtripLatencyMillis\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/AggregateStats\";s:11:\"description\";s:40:\"Roundtrip
  latency stats in milliseconds.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"PeerSessionDiagnostics\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"This
  is a JSON template for peer session diagnostics.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:24:\"connectedTimestampMillis\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Connected
  time in milliseconds.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:28:\"games#peerSessionDiagnostics\";s:11:\"description\";s:109:\"Uniquely
  identifies the type of this resource. Value is always the fixed string games#peerSessionDiagnostics.\";s:4:\"type\";s:6:\"string\";}s:13:\"participantId\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  participant ID of the peer.\";s:4:\"type\";s:6:\"string\";}s:15:\"reliableChannel\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/PeerChannelDiagnostics\";s:11:\"description\";s:29:\"Reliable
  channel diagnostics.\";}s:17:\"unreliableChannel\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/PeerChannelDiagnostics\";s:11:\"description\";s:31:\"Unreliable
  channel diagnostics.\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Played\";O:8:\"stdClass\":3:{s:11:\"description\";s:105:\"This
  is a JSON template for metadata about a player playing a game with the currently
  authenticated user.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"autoMatched\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"True
  if the player was auto-matched with the currently authenticated user.\";s:4:\"type\";s:7:\"boolean\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:12:\"games#played\";s:11:\"description\";s:93:\"Uniquely
  identifies the type of this resource. Value is always the fixed string games#played.\";s:4:\"type\";s:6:\"string\";}s:10:\"timeMillis\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"The
  last time the player played the game in milliseconds since the epoch in UTC.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Player\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"This
  is a JSON template for a Player resource.\";s:10:\"properties\";O:8:\"stdClass\":12:{s:14:\"avatarImageUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"The
  base URL for the image that represents the player.\";s:4:\"type\";s:6:\"string\";}s:18:\"bannerUrlLandscape\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"The
  url to the landscape mode player banner image.\";s:4:\"type\";s:6:\"string\";}s:17:\"bannerUrlPortrait\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"The
  url to the portrait mode player banner image.\";s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  name to display for the player.\";s:4:\"type\";s:6:\"string\";}s:14:\"experienceInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/PlayerExperienceInfo\";s:11:\"description\";s:71:\"An
  object to represent Play Game experience information for the player.\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:12:\"games#player\";s:11:\"description\";s:93:\"Uniquely
  identifies the type of this resource. Value is always the fixed string games#player.\";s:4:\"type\";s:6:\"string\";}s:14:\"lastPlayedWith\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Played\";s:11:\"description\";s:159:\"Details
  about the last time this player played a multiplayer game with the currently authenticated
  player. Populated for PLAYED_WITH player collection members.\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:126:\"An
  object representation of the individual components of the player's name. For some
  players, these fields may not be present.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"familyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:79:\"The
  family name of this player. In some places, this is known as the last name.\";s:4:\"type\";s:6:\"string\";}s:9:\"givenName\";O:8:\"stdClass\":2:{s:11:\"description\";s:79:\"The
  given name of this player. In some places, this is known as the first name.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"originalPlayerId\";O:8:\"stdClass\":2:{s:11:\"description\";s:274:\"The
  player ID that was used for this player the first time they signed into the game
  in question. This is only populated for calls to player.get for the requesting player,
  only if the player ID has subsequently changed, and only to clients that support
  remapping player IDs.\";s:4:\"type\";s:6:\"string\";}s:8:\"playerId\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  ID of the player.\";s:4:\"type\";s:6:\"string\";}s:15:\"profileSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ProfileSettings\";s:11:\"description\";s:104:\"The
  player's profile settings. Controls whether or not the player's profile is visible
  to other players.\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"The
  player's title rewarded for their game activities.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"PlayerAchievement\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"This
  is a JSON template for an achievement object.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:16:\"achievementState\";O:8:\"stdClass\":2:{s:11:\"description\";s:170:\"The
  state of the achievement.\nPossible values are:  \n- \"HIDDEN\" - Achievement is
  hidden. \n- \"REVEALED\" - Achievement is revealed. \n- \"UNLOCKED\" - Achievement
  is unlocked.\";s:4:\"type\";s:6:\"string\";}s:12:\"currentSteps\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  current steps for an incremental achievement.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:16:\"experiencePoints\";O:8:\"stdClass\":3:{s:11:\"description\";s:199:\"Experience
  points earned for the achievement. This field is absent for achievements that have
  not yet been unlocked and 0 for achievements that have been unlocked by testers
  but that are unpublished.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:27:\"formattedCurrentStepsString\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"The
  current steps for an incremental achievement as a string.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  ID of the achievement.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:23:\"games#playerAchievement\";s:11:\"description\";s:104:\"Uniquely
  identifies the type of this resource. Value is always the fixed string games#playerAchievement.\";s:4:\"type\";s:6:\"string\";}s:20:\"lastUpdatedTimestamp\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"The
  timestamp of the last modification to this achievement's state.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:29:\"PlayerAchievementListResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"This
  is a JSON template for a list of achievement objects.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"The
  achievements.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/PlayerAchievement\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:35:\"games#playerAchievementListResponse\";s:11:\"description\";s:116:\"Uniquely
  identifies the type of this resource. Value is always the fixed string games#playerAchievementListResponse.\";s:4:\"type\";s:6:\"string\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Token
  corresponding to the next page of results.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"PlayerEvent\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"This
  is a JSON template for an event status resource.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"definitionId\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  ID of the event definition.\";s:4:\"type\";s:6:\"string\";}s:18:\"formattedNumEvents\";O:8:\"stdClass\":2:{s:11:\"description\";s:175:\"The
  current number of times this event has occurred, as a string. The formatting of
  this string depends on the configuration of your event in the Play Games Developer
  Console.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:17:\"games#playerEvent\";s:11:\"description\";s:98:\"Uniquely
  identifies the type of this resource. Value is always the fixed string games#playerEvent.\";s:4:\"type\";s:6:\"string\";}s:9:\"numEvents\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"The
  current number of times this event has occurred.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:8:\"playerId\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  ID of the player.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:23:\"PlayerEventListResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"This
  is a JSON template for a ListByPlayer response.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"The
  player events.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/PlayerEvent\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:29:\"games#playerEventListResponse\";s:11:\"description\";s:110:\"Uniquely
  identifies the type of this resource. Value is always the fixed string games#playerEventListResponse.\";s:4:\"type\";s:6:\"string\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"The
  pagination token for the next page of results.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"PlayerExperienceInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"This
  is a JSON template for 1P/3P metadata about the player's experience.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:23:\"currentExperiencePoints\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"The
  current number of experience points for the player.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:12:\"currentLevel\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/PlayerLevel\";s:11:\"description\";s:32:\"The
  current level of the player.\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:26:\"games#playerExperienceInfo\";s:11:\"description\";s:107:\"Uniquely
  identifies the type of this resource. Value is always the fixed string games#playerExperienceInfo.\";s:4:\"type\";s:6:\"string\";}s:26:\"lastLevelUpTimestampMillis\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"The
  timestamp when the player was leveled up, in millis since Unix epoch UTC.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:9:\"nextLevel\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/PlayerLevel\";s:11:\"description\";s:114:\"The
  next level of the player. If the current level is the maximum level, this should
  be same as the current level.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"PlayerLeaderboardScore\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"This
  is a JSON template for a player leaderboard score object.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:28:\"games#playerLeaderboardScore\";s:11:\"description\";s:109:\"Uniquely
  identifies the type of this resource. Value is always the fixed string games#playerLeaderboardScore.\";s:4:\"type\";s:6:\"string\";}s:14:\"leaderboard_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  ID of the leaderboard this score is in.\";s:4:\"type\";s:6:\"string\";}s:10:\"publicRank\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/LeaderboardScoreRank\";s:11:\"description\";s:131:\"The
  public rank of the score in this leaderboard. This object will not be present if
  the user is not sharing their scores publicly.\";}s:11:\"scoreString\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  formatted value of this score.\";s:4:\"type\";s:6:\"string\";}s:8:\"scoreTag\";O:8:\"stdClass\":2:{s:11:\"description\";s:134:\"Additional
  information about the score. Values must contain no more than 64 URI-safe characters
  as defined by section 2.3 of RFC 3986.\";s:4:\"type\";s:6:\"string\";}s:10:\"scoreValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  numerical value of this score.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:10:\"socialRank\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/LeaderboardScoreRank\";s:11:\"description\";s:49:\"The
  social rank of the score in this leaderboard.\";}s:8:\"timeSpan\";O:8:\"stdClass\":2:{s:11:\"description\";s:182:\"The
  time span of this score.\nPossible values are:  \n- \"ALL_TIME\" - The score is
  an all-time score. \n- \"WEEKLY\" - The score is a weekly score. \n- \"DAILY\" -
  The score is a daily score.\";s:4:\"type\";s:6:\"string\";}s:14:\"writeTimestamp\";O:8:\"stdClass\":3:{s:11:\"description\";s:87:\"The
  timestamp at which this score was recorded, in milliseconds since the epoch in UTC.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:34:\"PlayerLeaderboardScoreListResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"This
  is a JSON template for a list of player leaderboard scores.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"The
  leaderboard scores.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/PlayerLeaderboardScore\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:40:\"games#playerLeaderboardScoreListResponse\";s:11:\"description\";s:121:\"Uniquely
  identifies the type of this resource. Value is always the fixed string games#playerLeaderboardScoreListResponse.\";s:4:\"type\";s:6:\"string\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"The
  pagination token for the next page of results.\";s:4:\"type\";s:6:\"string\";}s:6:\"player\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Player\";s:11:\"description\";s:49:\"The
  Player resources for the owner of this score.\";}}s:4:\"type\";s:6:\"object\";}s:11:\"PlayerLevel\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"This
  is a JSON template for 1P/3P metadata about a user's level.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:17:\"games#playerLevel\";s:11:\"description\";s:98:\"Uniquely
  identifies the type of this resource. Value is always the fixed string games#playerLevel.\";s:4:\"type\";s:6:\"string\";}s:5:\"level\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"The
  level for the user.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:19:\"maxExperiencePoints\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"The
  maximum experience points for this level.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:19:\"minExperiencePoints\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"The
  minimum experience points for this level.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"PlayerListResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"This
  is a JSON template for a third party player list response.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"The
  players.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Player\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:24:\"games#playerListResponse\";s:11:\"description\";s:105:\"Uniquely
  identifies the type of this resource. Value is always the fixed string games#playerListResponse.\";s:4:\"type\";s:6:\"string\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Token
  corresponding to the next page of results.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"PlayerScore\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"This
  is a JSON template for a player score.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:14:\"formattedScore\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"The
  formatted score for this player score.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:17:\"games#playerScore\";s:11:\"description\";s:98:\"Uniquely
  identifies the type of this resource. Value is always the fixed string games#playerScore.\";s:4:\"type\";s:6:\"string\";}s:5:\"score\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"The
  numerical value for this player score.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:8:\"scoreTag\";O:8:\"stdClass\":2:{s:11:\"description\";s:135:\"Additional
  information about this score. Values will contain no more than 64 URI-safe characters
  as defined by section 2.3 of RFC 3986.\";s:4:\"type\";s:6:\"string\";}s:8:\"timeSpan\";O:8:\"stdClass\":2:{s:11:\"description\";s:190:\"The
  time span for this player score.\nPossible values are:  \n- \"ALL_TIME\" - The score
  is an all-time score. \n- \"WEEKLY\" - The score is a weekly score. \n- \"DAILY\"
  - The score is a daily score.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:23:\"PlayerScoreListResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"This
  is a JSON template for a list of score submission statuses.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:29:\"games#playerScoreListResponse\";s:11:\"description\";s:110:\"Uniquely
  identifies the type of this resource. Value is always the fixed string games#playerScoreListResponse.\";s:4:\"type\";s:6:\"string\";}s:15:\"submittedScores\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  score submissions statuses.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/PlayerScoreResponse\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:19:\"PlayerScoreResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"This
  is a JSON template for a list of leaderboard entry resources.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:20:\"beatenScoreTimeSpans\";O:8:\"stdClass\":3:{s:11:\"description\";s:248:\"The
  time spans where the submitted score is better than the existing score for that
  time span.\nPossible values are:  \n- \"ALL_TIME\" - The score is an all-time score.
  \n- \"WEEKLY\" - The score is a weekly score. \n- \"DAILY\" - The score is a daily
  score.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:14:\"formattedScore\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  formatted value of the submitted score.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:25:\"games#playerScoreResponse\";s:11:\"description\";s:106:\"Uniquely
  identifies the type of this resource. Value is always the fixed string games#playerScoreResponse.\";s:4:\"type\";s:6:\"string\";}s:13:\"leaderboardId\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"The
  leaderboard ID that this score was submitted to.\";s:4:\"type\";s:6:\"string\";}s:8:\"scoreTag\";O:8:\"stdClass\":2:{s:11:\"description\";s:135:\"Additional
  information about this score. Values will contain no more than 64 URI-safe characters
  as defined by section 2.3 of RFC 3986.\";s:4:\"type\";s:6:\"string\";}s:14:\"unbeatenScores\";O:8:\"stdClass\":3:{s:11:\"description\";s:210:\"The
  scores in time spans that have not been beaten. As an example, the submitted score
  may be better than the player's DAILY score, but not better than the player's scores
  for the WEEKLY or ALL_TIME time spans.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/PlayerScore\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:25:\"PlayerScoreSubmissionList\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"This
  is a JSON template for a list of score submission requests\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:31:\"games#playerScoreSubmissionList\";s:11:\"description\";s:112:\"Uniquely
  identifies the type of this resource. Value is always the fixed string games#playerScoreSubmissionList.\";s:4:\"type\";s:6:\"string\";}s:6:\"scores\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"The
  score submissions.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ScoreSubmission\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:15:\"ProfileSettings\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"This
  is a JSON template for profile settings\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:21:\"games#profileSettings\";s:11:\"description\";s:102:\"Uniquely
  identifies the type of this resource. Value is always the fixed string games#profileSettings.\";s:4:\"type\";s:6:\"string\";}s:14:\"profileVisible\";O:8:\"stdClass\":2:{s:11:\"description\";s:86:\"The
  player's current profile visibility. This field is visible to both 1P and 3P APIs.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:9:\"PushToken\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"This
  is a JSON template for a push token resource.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:14:\"clientRevision\";O:8:\"stdClass\":2:{s:11:\"description\";s:262:\"The
  revision of the client SDK used by your application, in the same format that's used
  by revisions.check. Used to send backward compatible messages. Format: [PLATFORM_TYPE]:[VERSION_NUMBER].
  Possible values of PLATFORM_TYPE are:  \n- IOS - Push token is for iOS\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/PushTokenId\";s:11:\"description\";s:38:\"Unique
  identifier for this push token.\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:15:\"games#pushToken\";s:11:\"description\";s:96:\"Uniquely
  identifies the type of this resource. Value is always the fixed string games#pushToken.\";s:4:\"type\";s:6:\"string\";}s:8:\"language\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"The
  preferred language for notifications that are sent using this token.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"PushTokenId\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"This
  is a JSON template for a push token ID resource.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"ios\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"A
  push token ID for iOS devices.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"apns_device_token\";O:8:\"stdClass\":3:{s:11:\"description\";s:119:\"Device
  token supplied by an iOS system call to register for remote notifications. Encode
  this field as web-safe base64.\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}s:16:\"apns_environment\";O:8:\"stdClass\":2:{s:11:\"description\";s:86:\"Indicates
  whether this token should be used for the production or sandbox APNS server.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:17:\"games#pushTokenId\";s:11:\"description\";s:98:\"Uniquely
  identifies the type of this resource. Value is always the fixed string games#pushTokenId.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Quest\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"This
  is a JSON template for a Quest resource.\";s:10:\"properties\";O:8:\"stdClass\":16:{s:23:\"acceptedTimestampMillis\";O:8:\"stdClass\":3:{s:11:\"description\";s:141:\"The
  timestamp at which the user accepted the quest in milliseconds since the epoch in
  UTC. Only present if the player has accepted the quest.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:13:\"applicationId\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"The
  ID of the application this quest is part of.\";s:4:\"type\";s:6:\"string\";}s:9:\"bannerUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  banner image URL for the quest.\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  description of the quest.\";s:4:\"type\";s:6:\"string\";}s:18:\"endTimestampMillis\";O:8:\"stdClass\":3:{s:11:\"description\";s:92:\"The
  timestamp at which the quest ceases to be active in milliseconds since the epoch
  in UTC.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:7:\"iconUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  icon image URL for the quest.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"The
  ID of the quest.\";s:4:\"type\";s:6:\"string\";}s:18:\"isDefaultBannerUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:90:\"Indicates
  whether the banner image being returned is a default image, or is game-provided.\";s:4:\"type\";s:7:\"boolean\";}s:16:\"isDefaultIconUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:88:\"Indicates
  whether the icon image being returned is a default image, or is game-provided.\";s:4:\"type\";s:7:\"boolean\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:11:\"games#quest\";s:11:\"description\";s:92:\"Uniquely
  identifies the type of this resource. Value is always the fixed string games#quest.\";s:4:\"type\";s:6:\"string\";}s:26:\"lastUpdatedTimestampMillis\";O:8:\"stdClass\":3:{s:11:\"description\";s:152:\"The
  timestamp at which the quest was last updated by the user in milliseconds since
  the epoch in UTC. Only present if the player has accepted the quest.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:10:\"milestones\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"The
  quest milestones.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/QuestMilestone\";}s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  name of the quest.\";s:4:\"type\";s:6:\"string\";}s:21:\"notifyTimestampMillis\";O:8:\"stdClass\":3:{s:11:\"description\";s:119:\"The
  timestamp at which the user should be notified that the quest will end soon in milliseconds
  since the epoch in UTC.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:20:\"startTimestampMillis\";O:8:\"stdClass\":3:{s:11:\"description\";s:87:\"The
  timestamp at which the quest becomes active in milliseconds since the epoch in UTC.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":2:{s:11:\"description\";s:552:\"The
  state of the quest.\nPossible values are:  \n- \"UPCOMING\": The quest is upcoming.
  The user can see the quest, but cannot accept it until it is open. \n- \"OPEN\":
  The quest is currently open and may be accepted at this time. \n- \"ACCEPTED\":
  The user is currently participating in this quest. \n- \"COMPLETED\": The user has
  completed the quest. \n- \"FAILED\": The quest was attempted but was not completed
  before the deadline expired. \n- \"EXPIRED\": The quest has expired and was not
  accepted. \n- \"DELETED\": The quest should be deleted from the local database.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"QuestContribution\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"This
  is a JSON template for a Quest Criterion Contribution resource.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"formattedValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:161:\"The
  formatted value of the contribution as a string. Format depends on the configuration
  for the associated event definition in the Play Games Developer Console.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:23:\"games#questContribution\";s:11:\"description\";s:104:\"Uniquely
  identifies the type of this resource. Value is always the fixed string games#questContribution.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  value of the contribution.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"QuestCriterion\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"This
  is a JSON template for a Quest Criterion resource.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:22:\"completionContribution\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/QuestContribution\";s:11:\"description\";s:105:\"The
  total number of times the associated event must be incremented for the player to
  complete this quest.\";}s:19:\"currentContribution\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/QuestContribution\";s:11:\"description\";s:255:\"The
  number of increments the player has made toward the completion count event increments
  required to complete the quest. This value will not exceed the completion contribution.\nThere
  will be no currentContribution until the player has accepted the quest.\";}s:7:\"eventId\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"The
  ID of the event the criterion corresponds to.\";s:4:\"type\";s:6:\"string\";}s:21:\"initialPlayerProgress\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/QuestContribution\";s:11:\"description\";s:291:\"The
  value of the event associated with this quest at the time that the quest was accepted.
  This value may change if event increments that took place before the start of quest
  are uploaded after the quest starts.\nThere will be no initialPlayerProgress until
  the player has accepted the quest.\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:20:\"games#questCriterion\";s:11:\"description\";s:101:\"Uniquely
  identifies the type of this resource. Value is always the fixed string games#questCriterion.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"QuestListResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"This
  is a JSON template for a list of quest objects.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"The
  quests.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Quest\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:23:\"games#questListResponse\";s:11:\"description\";s:104:\"Uniquely
  identifies the type of this resource. Value is always the fixed string games#questListResponse.\";s:4:\"type\";s:6:\"string\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Token
  corresponding to the next page of results.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"QuestMilestone\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"This
  is a JSON template for a Quest Milestone resource.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:20:\"completionRewardData\";O:8:\"stdClass\":3:{s:11:\"description\";s:172:\"The
  completion reward data of the milestone, represented as a Base64-encoded string.
  This is a developer-specified binary blob with size between 0 and 2 KB before encoding.\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}s:8:\"criteria\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  criteria of the milestone.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/QuestCriterion\";}s:4:\"type\";s:5:\"array\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"The
  milestone ID.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:20:\"games#questMilestone\";s:11:\"description\";s:101:\"Uniquely
  identifies the type of this resource. Value is always the fixed string games#questMilestone.\";s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":2:{s:11:\"description\";s:349:\"The
  current state of the milestone.\nPossible values are:  \n- \"COMPLETED_NOT_CLAIMED\"
  - The milestone is complete, but has not yet been claimed. \n- \"CLAIMED\" - The
  milestone is complete and has been claimed. \n- \"NOT_COMPLETED\" - The milestone
  has not yet been completed. \n- \"NOT_STARTED\" - The milestone is for a quest that
  has not yet been accepted.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"RevisionCheckResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"This
  is a JSON template for the result of checking a revision.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"apiVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"The
  version of the API this client revision should use when calling API methods.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:27:\"games#revisionCheckResponse\";s:11:\"description\";s:108:\"Uniquely
  identifies the type of this resource. Value is always the fixed string games#revisionCheckResponse.\";s:4:\"type\";s:6:\"string\";}s:14:\"revisionStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:287:\"The
  result of the revision check.\nPossible values are:  \n- \"OK\" - The revision being
  used is current. \n- \"DEPRECATED\" - There is currently a newer version available,
  but the revision being used still works. \n- \"INVALID\" - The revision being used
  is not supported in any released version.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Room\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"This
  is a JSON template for a room resource object.\";s:10:\"properties\";O:8:\"stdClass\":13:{s:13:\"applicationId\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  ID of the application being played.\";s:4:\"type\";s:6:\"string\";}s:20:\"autoMatchingCriteria\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/RoomAutoMatchingCriteria\";s:11:\"description\";s:50:\"Criteria
  for auto-matching players into this room.\";}s:18:\"autoMatchingStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/RoomAutoMatchStatus\";s:11:\"description\";s:100:\"Auto-matching
  status for this room. Not set if the room is not currently in the auto-matching
  queue.\";}s:15:\"creationDetails\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/RoomModification\";s:11:\"description\";s:32:\"Details
  about the room creation.\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:205:\"This
  short description is generated by our servers and worded relative to the player
  requesting the room. It is intended to be displayed when the room is shown in a
  list (that is, an invitation to a room.)\";s:4:\"type\";s:6:\"string\";}s:9:\"inviterId\";O:8:\"stdClass\":2:{s:11:\"description\";s:109:\"The
  ID of the participant that invited the user to the room. Not set if the user was
  not invited to the room.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:10:\"games#room\";s:11:\"description\";s:91:\"Uniquely
  identifies the type of this resource. Value is always the fixed string games#room.\";s:4:\"type\";s:6:\"string\";}s:17:\"lastUpdateDetails\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/RoomModification\";s:11:\"description\";s:42:\"Details
  about the last update to the room.\";}s:12:\"participants\";O:8:\"stdClass\":3:{s:11:\"description\";s:126:\"The
  participants involved in the room, along with their statuses. Includes participants
  who have left or declined invitations.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/RoomParticipant\";}s:4:\"type\";s:5:\"array\";}s:6:\"roomId\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Globally
  unique ID for a room.\";s:4:\"type\";s:6:\"string\";}s:17:\"roomStatusVersion\";O:8:\"stdClass\":3:{s:11:\"description\";s:120:\"The
  version of the room status: an increasing counter, used by the client to ignore
  out-of-order updates to room status.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:583:\"The
  status of the room.\nPossible values are:  \n- \"ROOM_INVITING\" - One or more players
  have been invited and not responded. \n- \"ROOM_AUTO_MATCHING\" - One or more slots
  need to be filled by auto-matching. \n- \"ROOM_CONNECTING\" - Players have joined
  and are connecting to each other (either before or after auto-matching). \n- \"ROOM_ACTIVE\"
  - All players have joined and connected to each other. \n- \"ROOM_DELETED\" - The
  room should no longer be shown on the client. Returned in sync calls when a player
  joins a room (as a tombstone), or for rooms where all joined participants have left.\";s:4:\"type\";s:6:\"string\";}s:7:\"variant\";O:8:\"stdClass\":3:{s:11:\"description\";s:92:\"The
  variant / mode of the application being played; can be any integer value, or left
  blank.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:19:\"RoomAutoMatchStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"This
  is a JSON template for status of room automatching that is in progress.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:25:\"games#roomAutoMatchStatus\";s:11:\"description\";s:106:\"Uniquely
  identifies the type of this resource. Value is always the fixed string games#roomAutoMatchStatus.\";s:4:\"type\";s:6:\"string\";}s:19:\"waitEstimateSeconds\";O:8:\"stdClass\":3:{s:11:\"description\";s:99:\"An
  estimate for the amount of time (in seconds) that auto-matching is expected to take
  to complete.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:24:\"RoomAutoMatchingCriteria\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"This
  is a JSON template for a room auto-match criteria object.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:16:\"exclusiveBitmask\";O:8:\"stdClass\":3:{s:11:\"description\";s:170:\"A
  bitmask indicating when auto-matches are valid. When ANDed with other exclusive
  bitmasks, the result must be zero. Can be used to support exclusive roles within
  a game.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:30:\"games#roomAutoMatchingCriteria\";s:11:\"description\";s:111:\"Uniquely
  identifies the type of this resource. Value is always the fixed string games#roomAutoMatchingCriteria.\";s:4:\"type\";s:6:\"string\";}s:22:\"maxAutoMatchingPlayers\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"The
  maximum number of players that should be added to the room by auto-matching.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:22:\"minAutoMatchingPlayers\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"The
  minimum number of players that should be added to the room by auto-matching.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:17:\"RoomClientAddress\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"This
  is a JSON template for the client address when setting up a room.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:23:\"games#roomClientAddress\";s:11:\"description\";s:104:\"Uniquely
  identifies the type of this resource. Value is always the fixed string games#roomClientAddress.\";s:4:\"type\";s:6:\"string\";}s:11:\"xmppAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"The
  XMPP address of the client on the Google Games XMPP network.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"RoomCreateRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"This
  is a JSON template for a room creation request.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:20:\"autoMatchingCriteria\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/RoomAutoMatchingCriteria\";s:11:\"description\";s:50:\"Criteria
  for auto-matching players into this room.\";}s:12:\"capabilities\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"The
  capabilities that this client supports for realtime communication.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:13:\"clientAddress\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/RoomClientAddress\";s:11:\"description\";s:48:\"Client
  address for the player creating the room.\";}s:16:\"invitedPlayerIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"The
  player IDs to invite to the room.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:23:\"games#roomCreateRequest\";s:11:\"description\";s:104:\"Uniquely
  identifies the type of this resource. Value is always the fixed string games#roomCreateRequest.\";s:4:\"type\";s:6:\"string\";}s:18:\"networkDiagnostics\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/NetworkDiagnostics\";s:11:\"description\";s:53:\"Network
  diagnostics for the client creating the room.\";}s:9:\"requestId\";O:8:\"stdClass\":3:{s:11:\"description\";s:130:\"A
  randomly generated numeric ID. This number is used at the server to ensure that
  the request is handled correctly across retries.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:7:\"variant\";O:8:\"stdClass\":3:{s:11:\"description\";s:192:\"The
  variant / mode of the application to be played. This can be any integer value, or
  left blank. You should use a small number of variants to keep the auto-matching
  pool as large as possible.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:15:\"RoomJoinRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"This
  is a JSON template for a join room request.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"capabilities\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"The
  capabilities that this client supports for realtime communication.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:13:\"clientAddress\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/RoomClientAddress\";s:11:\"description\";s:47:\"Client
  address for the player joining the room.\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:21:\"games#roomJoinRequest\";s:11:\"description\";s:102:\"Uniquely
  identifies the type of this resource. Value is always the fixed string games#roomJoinRequest.\";s:4:\"type\";s:6:\"string\";}s:18:\"networkDiagnostics\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/NetworkDiagnostics\";s:11:\"description\";s:52:\"Network
  diagnostics for the client joining the room.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"RoomLeaveDiagnostics\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"This
  is a JSON template for room leave diagnostics.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:21:\"androidNetworkSubtype\";O:8:\"stdClass\":3:{s:11:\"description\";s:105:\"Android
  network subtype. http://developer.android.com/reference/android/net/NetworkInfo.html#getSubtype()\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:18:\"androidNetworkType\";O:8:\"stdClass\":3:{s:11:\"description\";s:99:\"Android
  network type. http://developer.android.com/reference/android/net/NetworkInfo.html#getType()\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:14:\"iosNetworkType\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"iOS
  network type as defined in Reachability.h.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:26:\"games#roomLeaveDiagnostics\";s:11:\"description\";s:107:\"Uniquely
  identifies the type of this resource. Value is always the fixed string games#roomLeaveDiagnostics.\";s:4:\"type\";s:6:\"string\";}s:19:\"networkOperatorCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:296:\"The
  MCC+MNC code for the client's network connection. On Android: http://developer.android.com/reference/android/telephony/TelephonyManager.html#getNetworkOperator()
  On iOS, see: https://developer.apple.com/library/ios/documentation/NetworkingInternet/Reference/CTCarrier/Reference/Reference.html\";s:4:\"type\";s:6:\"string\";}s:19:\"networkOperatorName\";O:8:\"stdClass\":2:{s:11:\"description\";s:345:\"The
  name of the carrier of the client's network connection. On Android: http://developer.android.com/reference/android/telephony/TelephonyManager.html#getNetworkOperatorName()
  On iOS: https://developer.apple.com/library/ios/documentation/NetworkingInternet/Reference/CTCarrier/Reference/Reference.html#//apple_ref/occ/instp/CTCarrier/carrierName\";s:4:\"type\";s:6:\"string\";}s:11:\"peerSession\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Diagnostics
  about all peer sessions.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/PeerSessionDiagnostics\";}s:4:\"type\";s:5:\"array\";}s:11:\"socketsUsed\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Whether
  or not sockets were used.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:16:\"RoomLeaveRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"This
  is a JSON template for a leave room request.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:22:\"games#roomLeaveRequest\";s:11:\"description\";s:103:\"Uniquely
  identifies the type of this resource. Value is always the fixed string games#roomLeaveRequest.\";s:4:\"type\";s:6:\"string\";}s:16:\"leaveDiagnostics\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/RoomLeaveDiagnostics\";s:11:\"description\";s:42:\"Diagnostics
  for a player leaving the room.\";}s:6:\"reason\";O:8:\"stdClass\":2:{s:11:\"description\";s:1105:\"Reason
  for leaving the match.\nPossible values are:  \n- \"PLAYER_LEFT\" - The player chose
  to leave the room.. \n- \"GAME_LEFT\" - The game chose to remove the player from
  the room. \n- \"REALTIME_ABANDONED\" - The player switched to another application
  and abandoned the room. \n- \"REALTIME_PEER_CONNECTION_FAILURE\" - The client was
  unable to establish a connection to other peer(s). \n- \"REALTIME_SERVER_CONNECTION_FAILURE\"
  - The client was unable to communicate with the server. \n- \"REALTIME_SERVER_ERROR\"
  - The client received an error response when it tried to communicate with the server.
  \n- \"REALTIME_TIMEOUT\" - The client timed out while waiting for a room. \n- \"REALTIME_CLIENT_DISCONNECTING\"
  - The client disconnects without first calling Leave. \n- \"REALTIME_SIGN_OUT\"
  - The user signed out of G+ while in the room. \n- \"REALTIME_GAME_CRASHED\" - The
  game crashed. \n- \"REALTIME_ROOM_SERVICE_CRASHED\" - RoomAndroidService crashed.
  \n- \"REALTIME_DIFFERENT_CLIENT_ROOM_OPERATION\" - Another client is trying to enter
  a room. \n- \"REALTIME_SAME_CLIENT_ROOM_OPERATION\" - The same client is trying
  to enter a new room.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"RoomList\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"This
  is a JSON template for a list of rooms.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:10:\"The
  rooms.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Room\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:14:\"games#roomList\";s:11:\"description\";s:95:\"Uniquely
  identifies the type of this resource. Value is always the fixed string games#roomList.\";s:4:\"type\";s:6:\"string\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"The
  pagination token for the next page of results.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"RoomModification\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"This
  is a JSON template for room modification metadata.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:22:\"games#roomModification\";s:11:\"description\";s:103:\"Uniquely
  identifies the type of this resource. Value is always the fixed string games#roomModification.\";s:4:\"type\";s:6:\"string\";}s:23:\"modifiedTimestampMillis\";O:8:\"stdClass\":3:{s:11:\"description\";s:86:\"The
  timestamp at which they modified the room, in milliseconds since the epoch in UTC.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:13:\"participantId\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"The
  ID of the participant that modified the room.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"RoomP2PStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"This
  is a JSON template for an update on the status of a peer in a room.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:28:\"connectionSetupLatencyMillis\";O:8:\"stdClass\":3:{s:11:\"description\";s:83:\"The
  amount of time in milliseconds it took to establish connections with this peer.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:5:\"error\";O:8:\"stdClass\":2:{s:11:\"description\";s:358:\"The
  error code in event of a failure.\nPossible values are:  \n- \"P2P_FAILED\" - The
[...]
