---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":12:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Google\";s:3:\"url\";s:18:\"https://google.com\";}s:11:\"description\";s:56:\"Help
  the third party sites to implement federated login.\";s:5:\"title\";s:23:\"Google
  Identity Toolkit\";s:7:\"version\";s:2:\"v3\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:37:\"https://console.developers.google.com\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:8:\"security\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:116:\"https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.6.2\";}s:6:\"format\";s:6:\"google\";s:3:\"url\";s:68:\"https://www.googleapis.com/discovery/v1/apis/identitytoolkit/v3/rest\";s:7:\"version\";s:2:\"v1\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"googleapis.com\";s:13:\"x-serviceName\";s:15:\"identitytoolkit\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:22:\"google_identitytoolkit\";s:4:\"type\";s:7:\"openapi\";}}"
host: www.googleapis.com
basePath: /identitytoolkit/v3/relyingparty
paths:
  /createAuthUri:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Creates the URI used by the IdP to authenticate the user.
      operationId: relyingparty.createAuthUri
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/IdentitytoolkitRelyingpartyCreateAuthUriRequest'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/CreateAuthUriResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - relyingparty
  /deleteAccount:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Delete user account.
      operationId: relyingparty.deleteAccount
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/IdentitytoolkitRelyingpartyDeleteAccountRequest'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/DeleteAccountResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - relyingparty
  /downloadAccount:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Batch download user accounts.
      operationId: relyingparty.downloadAccount
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/IdentitytoolkitRelyingpartyDownloadAccountRequest'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/DownloadAccountResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/firebase
      tags:
      - relyingparty
  /emailLinkSignin:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Reset password for a user.
      operationId: relyingparty.emailLinkSignin
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/IdentitytoolkitRelyingpartyEmailLinkSigninRequest'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/EmailLinkSigninResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - relyingparty
  /getAccountInfo:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Returns the account info.
      operationId: relyingparty.getAccountInfo
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/IdentitytoolkitRelyingpartyGetAccountInfoRequest'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/GetAccountInfoResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - relyingparty
  /getOobConfirmationCode:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Get a code for user action confirmation.
      operationId: relyingparty.getOobConfirmationCode
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/Relyingparty'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/GetOobConfirmationCodeResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - relyingparty
  /getProjectConfig:
    get:
      description: Get project configuration.
      operationId: relyingparty.getProjectConfig
      parameters:
      - description: Delegated GCP project number of the request.
        in: query
        name: delegatedProjectNumber
        type: string
      - description: GCP project number of the request.
        in: query
        name: projectNumber
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/IdentitytoolkitRelyingpartyGetProjectConfigResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - relyingparty
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
  /getRecaptchaParam:
    get:
      description: Get recaptcha secure param.
      operationId: relyingparty.getRecaptchaParam
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/GetRecaptchaParamResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - relyingparty
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
  /publicKeys:
    get:
      description: Get token signing public key.
      operationId: relyingparty.getPublicKeys
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/IdentitytoolkitRelyingpartyGetPublicKeysResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - relyingparty
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
  /resetPassword:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Reset password for a user.
      operationId: relyingparty.resetPassword
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/IdentitytoolkitRelyingpartyResetPasswordRequest'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ResetPasswordResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - relyingparty
  /sendVerificationCode:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Send SMS verification code.
      operationId: relyingparty.sendVerificationCode
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/IdentitytoolkitRelyingpartySendVerificationCodeRequest'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/IdentitytoolkitRelyingpartySendVerificationCodeResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - relyingparty
  /setAccountInfo:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Set account info for a user.
      operationId: relyingparty.setAccountInfo
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/IdentitytoolkitRelyingpartySetAccountInfoRequest'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/SetAccountInfoResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - relyingparty
  /setProjectConfig:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Set project configuration.
      operationId: relyingparty.setProjectConfig
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/IdentitytoolkitRelyingpartySetProjectConfigRequest'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/IdentitytoolkitRelyingpartySetProjectConfigResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - relyingparty
  /signOutUser:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Sign out user.
      operationId: relyingparty.signOutUser
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/IdentitytoolkitRelyingpartySignOutUserRequest'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/IdentitytoolkitRelyingpartySignOutUserResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - relyingparty
  /signupNewUser:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Signup new user.
      operationId: relyingparty.signupNewUser
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/IdentitytoolkitRelyingpartySignupNewUserRequest'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/SignupNewUserResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - relyingparty
  /uploadAccount:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Batch upload existing user accounts.
      operationId: relyingparty.uploadAccount
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/IdentitytoolkitRelyingpartyUploadAccountRequest'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/UploadAccountResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/firebase
      tags:
      - relyingparty
  /verifyAssertion:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Verifies the assertion returned by the IdP.
      operationId: relyingparty.verifyAssertion
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/IdentitytoolkitRelyingpartyVerifyAssertionRequest'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/VerifyAssertionResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - relyingparty
  /verifyCustomToken:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Verifies the developer asserted ID token.
      operationId: relyingparty.verifyCustomToken
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/IdentitytoolkitRelyingpartyVerifyCustomTokenRequest'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/VerifyCustomTokenResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - relyingparty
  /verifyPassword:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Verifies the user entered password.
      operationId: relyingparty.verifyPassword
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/IdentitytoolkitRelyingpartyVerifyPasswordRequest'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/VerifyPasswordResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - relyingparty
  /verifyPhoneNumber:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Verifies ownership of a phone number and creates/updates the user
        account accordingly.
      operationId: relyingparty.verifyPhoneNumber
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/IdentitytoolkitRelyingpartyVerifyPhoneNumberRequest'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/IdentitytoolkitRelyingpartyVerifyPhoneNumberResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      tags:
      - relyingparty
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":40:{s:21:\"CreateAuthUriResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Response
  of creating the IDP authentication URL.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:12:\"allProviders\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"all
  providers the user has once used to do federated login\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"authUri\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"The
  URI used by the IDP to authenticate the user.\";s:4:\"type\";s:6:\"string\";}s:15:\"captchaRequired\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"True
  if captcha is required.\";s:4:\"type\";s:7:\"boolean\";}s:19:\"forExistingProvider\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"True
  if the authUri is for user's existing provider.\";s:4:\"type\";s:7:\"boolean\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:37:\"identitytoolkit#CreateAuthUriResponse\";s:11:\"description\";s:56:\"The
  fixed string identitytoolkit#CreateAuthUriResponse\".\";s:4:\"type\";s:6:\"string\";}s:10:\"providerId\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  provider ID of the auth URI.\";s:4:\"type\";s:6:\"string\";}s:10:\"registered\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"Whether
  the user is registered if the identifier is an email.\";s:4:\"type\";s:7:\"boolean\";}s:9:\"sessionId\";O:8:\"stdClass\":2:{s:11:\"description\";s:75:\"Session
  ID which should be passed in the following verifyAssertion request.\";s:4:\"type\";s:6:\"string\";}s:13:\"signinMethods\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"All
  sign-in methods this user has used.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:21:\"DeleteAccountResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Respone
  of deleting account.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:37:\"identitytoolkit#DeleteAccountResponse\";s:11:\"description\";s:57:\"The
  fixed string \"identitytoolkit#DeleteAccountResponse\".\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:23:\"DownloadAccountResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Response
  of downloading accounts in batch.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:39:\"identitytoolkit#DownloadAccountResponse\";s:11:\"description\";s:59:\"The
  fixed string \"identitytoolkit#DownloadAccountResponse\".\";s:4:\"type\";s:6:\"string\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:91:\"The
  next page token. To be used in a subsequent request to return the next page of results.\";s:4:\"type\";s:6:\"string\";}s:5:\"users\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"The
  user accounts data.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/UserInfo\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:23:\"EmailLinkSigninResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Response
  of email signIn.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"The
  user's email.\";s:4:\"type\";s:6:\"string\";}s:9:\"expiresIn\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Expiration
  time of STS id token in seconds.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:7:\"idToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"The
  STS id token to login the newly signed in user.\";s:4:\"type\";s:6:\"string\";}s:9:\"isNewUser\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Whether
  the user is new.\";s:4:\"type\";s:7:\"boolean\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:39:\"identitytoolkit#EmailLinkSigninResponse\";s:11:\"description\";s:59:\"The
  fixed string \"identitytoolkit#EmailLinkSigninResponse\".\";s:4:\"type\";s:6:\"string\";}s:7:\"localId\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  RP local ID of the user.\";s:4:\"type\";s:6:\"string\";}s:12:\"refreshToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"The
  refresh token for the signed in user.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"EmailTemplate\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Template
  for an email template.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"body\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Email
  body.\";s:4:\"type\";s:6:\"string\";}s:6:\"format\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Email
  body format.\";s:4:\"type\";s:6:\"string\";}s:4:\"from\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"From
  address of the email.\";s:4:\"type\";s:6:\"string\";}s:15:\"fromDisplayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"From
  display name.\";s:4:\"type\";s:6:\"string\";}s:7:\"replyTo\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Reply-to
  address.\";s:4:\"type\";s:6:\"string\";}s:7:\"subject\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Subject
  of the email.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:22:\"GetAccountInfoResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Response
  of getting account information.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:38:\"identitytoolkit#GetAccountInfoResponse\";s:11:\"description\";s:58:\"The
  fixed string \"identitytoolkit#GetAccountInfoResponse\".\";s:4:\"type\";s:6:\"string\";}s:5:\"users\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"The
  info of the users.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/UserInfo\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:30:\"GetOobConfirmationCodeResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:85:\"Response
  of getting a code for user confirmation (reset password, change email etc.).\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"The
  email address that the email is sent to.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:46:\"identitytoolkit#GetOobConfirmationCodeResponse\";s:11:\"description\";s:66:\"The
  fixed string \"identitytoolkit#GetOobConfirmationCodeResponse\".\";s:4:\"type\";s:6:\"string\";}s:7:\"oobCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  code to be send to the user.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:25:\"GetRecaptchaParamResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Response
  of getting recaptcha param.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:41:\"identitytoolkit#GetRecaptchaParamResponse\";s:11:\"description\";s:61:\"The
  fixed string \"identitytoolkit#GetRecaptchaParamResponse\".\";s:4:\"type\";s:6:\"string\";}s:16:\"recaptchaSiteKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Site
  key registered at recaptcha.\";s:4:\"type\";s:6:\"string\";}s:15:\"recaptchaStoken\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"The
  stoken field for the recaptcha widget, used to request captcha challenge.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:47:\"IdentitytoolkitRelyingpartyCreateAuthUriRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Request
  to get the IDP authentication URL.\";s:10:\"properties\";O:8:\"stdClass\":16:{s:5:\"appId\";O:8:\"stdClass\":2:{s:11:\"description\";s:92:\"The
  app ID of the mobile app, base64(CERT_SHA1):PACKAGE_NAME for Android, BUNDLE_ID
  for iOS.\";s:4:\"type\";s:6:\"string\";}s:12:\"authFlowType\";O:8:\"stdClass\":2:{s:11:\"description\";s:123:\"Explicitly
  specify the auth flow type. Currently only support \"CODE_FLOW\" type. The field
  is only used for Google provider.\";s:4:\"type\";s:6:\"string\";}s:8:\"clientId\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  relying party OAuth client ID.\";s:4:\"type\";s:6:\"string\";}s:7:\"context\";O:8:\"stdClass\":2:{s:11:\"description\";s:117:\"The
  opaque value used by the client to maintain context info between the authentication
  request and the IDP callback.\";s:4:\"type\";s:6:\"string\";}s:11:\"continueUri\";O:8:\"stdClass\":2:{s:11:\"description\";s:75:\"The
  URI to which the IDP redirects the user after the federated login flow.\";s:4:\"type\";s:6:\"string\";}s:15:\"customParameter\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  customized query parameter.\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:234:\"The
  query parameter that client can customize by themselves in auth url. The following
  parameters are reserved for server so that they cannot be customized by clients:
  client_id, response_type, scope, redirect_uri, state, oauth_token.\";s:4:\"type\";s:6:\"object\";}s:12:\"hostedDomain\";O:8:\"stdClass\":2:{s:11:\"description\";s:97:\"The
  hosted domain to restrict sign-in to accounts at that domain for Google Apps hosted
  accounts.\";s:4:\"type\";s:6:\"string\";}s:10:\"identifier\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  email or federated ID of the user.\";s:4:\"type\";s:6:\"string\";}s:16:\"oauthConsumerKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"The
  developer's consumer key for OpenId OAuth Extension\";s:4:\"type\";s:6:\"string\";}s:10:\"oauthScope\";O:8:\"stdClass\":2:{s:11:\"description\";s:96:\"Additional
  oauth scopes, beyond the basid user profile, that the user would be prompted to
  grant\";s:4:\"type\";s:6:\"string\";}s:11:\"openidRealm\";O:8:\"stdClass\":2:{s:11:\"description\";s:128:\"Optional
  realm for OpenID protocol. The sub string \"scheme://domain:port\" of the param
  \"continueUri\" is used if this is not set.\";s:4:\"type\";s:6:\"string\";}s:6:\"otaApp\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"The
  native app package for OTA installation.\";s:4:\"type\";s:6:\"string\";}s:10:\"providerId\";O:8:\"stdClass\":2:{s:11:\"description\";s:154:\"The
  IdP ID. For white listed IdPs it's a short domain name e.g. google.com, aol.com,
  live.net and yahoo.com. For other OpenID IdPs it's the OP identifier.\";s:4:\"type\";s:6:\"string\";}s:9:\"sessionId\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  session_id passed by client.\";s:4:\"type\";s:6:\"string\";}s:8:\"tenantId\";O:8:\"stdClass\":2:{s:11:\"description\";s:160:\"For
  multi-tenant use cases, in order to construct sign-in URL with the correct IDP parameters,
  Firebear needs to know which Tenant to retrieve IDP configs from.\";s:4:\"type\";s:6:\"string\";}s:19:\"tenantProjectNumber\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Tenant
  project number to be used for idp discovery.\";s:6:\"format\";s:6:\"uint64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:47:\"IdentitytoolkitRelyingpartyDeleteAccountRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Request
  to delete account.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:22:\"delegatedProjectNumber\";O:8:\"stdClass\":3:{s:11:\"description\";s:102:\"GCP
  project number of the requesting delegated app. Currently only intended for Firebase
  V1 migration.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:7:\"idToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"The
  GITKit token or STS id token of the authenticated user.\";s:4:\"type\";s:6:\"string\";}s:7:\"localId\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  local ID of the user.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:49:\"IdentitytoolkitRelyingpartyDownloadAccountRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Request
  to download user account in batch.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:22:\"delegatedProjectNumber\";O:8:\"stdClass\":3:{s:11:\"description\";s:102:\"GCP
  project number of the requesting delegated app. Currently only intended for Firebase
  V1 migration.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:10:\"maxResults\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"The
  max number of results to return in the response.\";s:6:\"format\";s:6:\"uint32\";s:4:\"type\";s:7:\"integer\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"The
  token for the next page. This should be taken from the previous response.\";s:4:\"type\";s:6:\"string\";}s:15:\"targetProjectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:106:\"Specify
  which project (field value is actually project id) to operate. Only used when provided
  credential.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:49:\"IdentitytoolkitRelyingpartyEmailLinkSigninRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Request
  to sign in with email.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  email address of the user.\";s:4:\"type\";s:6:\"string\";}s:7:\"idToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Token
  for linking flow.\";s:4:\"type\";s:6:\"string\";}s:7:\"oobCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  confirmation code.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:48:\"IdentitytoolkitRelyingpartyGetAccountInfoRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Request
  to get the account information.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:22:\"delegatedProjectNumber\";O:8:\"stdClass\":3:{s:11:\"description\";s:102:\"GCP
  project number of the requesting delegated app. Currently only intended for Firebase
  V1 migration.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  list of emails of the users to inquiry.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"idToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  GITKit token of the authenticated user.\";s:4:\"type\";s:6:\"string\";}s:7:\"localId\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  list of local ID's of the users to inquiry.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:11:\"phoneNumber\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"Privileged
  caller can query users by specified phone number.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:51:\"IdentitytoolkitRelyingpartyGetProjectConfigResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Response
  of getting the project configuration.\";s:10:\"properties\";O:8:\"stdClass\":12:{s:17:\"allowPasswordUser\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Whether
  to allow password user sign in or sign up.\";s:4:\"type\";s:7:\"boolean\";}s:6:\"apiKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"Browser
  API key, needed when making http request to Apiary.\";s:4:\"type\";s:6:\"string\";}s:17:\"authorizedDomains\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Authorized
  domains.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:19:\"changeEmailTemplate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/EmailTemplate\";s:11:\"description\";s:22:\"Change
  email template.\";}s:18:\"dynamicLinksDomain\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"enableAnonymousUser\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Whether
  anonymous user is enabled.\";s:4:\"type\";s:7:\"boolean\";}s:9:\"idpConfig\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"OAuth2
  provider configuration.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/IdpConfig\";}s:4:\"type\";s:5:\"array\";}s:27:\"legacyResetPasswordTemplate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/EmailTemplate\";s:11:\"description\";s:37:\"Legacy
  reset password email template.\";}s:9:\"projectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Project
  ID of the relying party.\";s:4:\"type\";s:6:\"string\";}s:21:\"resetPasswordTemplate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/EmailTemplate\";s:11:\"description\";s:30:\"Reset
  password email template.\";}s:15:\"useEmailSending\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Whether
  to use email sending provided by Firebear.\";s:4:\"type\";s:7:\"boolean\";}s:19:\"verifyEmailTemplate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/EmailTemplate\";s:11:\"description\";s:22:\"Verify
  email template.\";}}s:4:\"type\";s:6:\"object\";}s:48:\"IdentitytoolkitRelyingpartyGetPublicKeysResponse\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:31:\"Respone
  of getting public keys.\";s:4:\"type\";s:6:\"object\";}s:47:\"IdentitytoolkitRelyingpartyResetPasswordRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Request
  to reset the password.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  email address of the user.\";s:4:\"type\";s:6:\"string\";}s:11:\"newPassword\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  new password inputted by the user.\";s:4:\"type\";s:6:\"string\";}s:11:\"oldPassword\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  old password inputted by the user.\";s:4:\"type\";s:6:\"string\";}s:7:\"oobCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  confirmation code.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:54:\"IdentitytoolkitRelyingpartySendVerificationCodeRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Request
  for Identitytoolkit-SendVerificationCode\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"iosReceipt\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Receipt
  of successful app token validation with APNS.\";s:4:\"type\";s:6:\"string\";}s:9:\"iosSecret\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Secret
  delivered to iOS app via APNS.\";s:4:\"type\";s:6:\"string\";}s:11:\"phoneNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"The
  phone number to send the verification code to in E.164 format.\";s:4:\"type\";s:6:\"string\";}s:14:\"recaptchaToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Recaptcha
  solution.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:55:\"IdentitytoolkitRelyingpartySendVerificationCodeResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Response
  for Identitytoolkit-SendVerificationCode\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"sessionInfo\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Encrypted
  session information\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:48:\"IdentitytoolkitRelyingpartySetAccountInfoRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Request
  to set the account information.\";s:10:\"properties\";O:8:\"stdClass\":23:{s:16:\"captchaChallenge\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  captcha challenge.\";s:4:\"type\";s:6:\"string\";}s:15:\"captchaResponse\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Response
  to the captcha.\";s:4:\"type\";s:6:\"string\";}s:9:\"createdAt\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"The
  timestamp when the account is created.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:16:\"customAttributes\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"The
  custom attributes to be set in the user's id token.\";s:4:\"type\";s:6:\"string\";}s:22:\"delegatedProjectNumber\";O:8:\"stdClass\":3:{s:11:\"description\";s:102:\"GCP
  project number of the requesting delegated app. Currently only intended for Firebase
  V1 migration.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:15:\"deleteAttribute\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  attributes users request to delete.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:14:\"deleteProvider\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  IDPs the user request to delete.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:11:\"disableUser\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Whether
  to disable the user.\";s:4:\"type\";s:7:\"boolean\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  name of the user.\";s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  email of the user.\";s:4:\"type\";s:6:\"string\";}s:13:\"emailVerified\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Mark
  the email as verified or not.\";s:4:\"type\";s:7:\"boolean\";}s:7:\"idToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  GITKit token of the authenticated user.\";s:4:\"type\";s:6:\"string\";}s:10:\"instanceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Instance
  id token of the app.\";s:4:\"type\";s:6:\"string\";}s:11:\"lastLoginAt\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Last
  login timestamp.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:7:\"localId\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  local ID of the user.\";s:4:\"type\";s:6:\"string\";}s:7:\"oobCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"The
  out-of-band code of the change email request.\";s:4:\"type\";s:6:\"string\";}s:8:\"password\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  new password of the user.\";s:4:\"type\";s:6:\"string\";}s:11:\"phoneNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"Privileged
  caller can update user with specified phone number.\";s:4:\"type\";s:6:\"string\";}s:8:\"photoUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  photo url of the user.\";s:4:\"type\";s:6:\"string\";}s:8:\"provider\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"The
  associated IDPs of the user.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:17:\"returnSecureToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"Whether
  return sts id token and refresh token instead of gitkit token.\";s:4:\"type\";s:7:\"boolean\";}s:23:\"upgradeToFederatedLogin\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Mark
  the user to upgrade to federated login.\";s:4:\"type\";s:7:\"boolean\";}s:10:\"validSince\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Timestamp
  in seconds for valid login token.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:50:\"IdentitytoolkitRelyingpartySetProjectConfigRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Request
  to set the project configuration.\";s:10:\"properties\";O:8:\"stdClass\":11:{s:17:\"allowPasswordUser\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Whether
  to allow password user sign in or sign up.\";s:4:\"type\";s:7:\"boolean\";}s:6:\"apiKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"Browser
  API key, needed when making http request to Apiary.\";s:4:\"type\";s:6:\"string\";}s:17:\"authorizedDomains\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Authorized
  domains for widget redirect.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:19:\"changeEmailTemplate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/EmailTemplate\";s:11:\"description\";s:22:\"Change
  email template.\";}s:22:\"delegatedProjectNumber\";O:8:\"stdClass\":3:{s:11:\"description\";s:102:\"GCP
  project number of the requesting delegated app. Currently only intended for Firebase
  V1 migration.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:19:\"enableAnonymousUser\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Whether
  to enable anonymous user.\";s:4:\"type\";s:7:\"boolean\";}s:9:\"idpConfig\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Oauth2
  provider configuration.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/IdpConfig\";}s:4:\"type\";s:5:\"array\";}s:27:\"legacyResetPasswordTemplate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/EmailTemplate\";s:11:\"description\";s:37:\"Legacy
  reset password email template.\";}s:21:\"resetPasswordTemplate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/EmailTemplate\";s:11:\"description\";s:30:\"Reset
  password email template.\";}s:15:\"useEmailSending\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Whether
  to use email sending provided by Firebear.\";s:4:\"type\";s:7:\"boolean\";}s:19:\"verifyEmailTemplate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/EmailTemplate\";s:11:\"description\";s:22:\"Verify
  email template.\";}}s:4:\"type\";s:6:\"object\";}s:51:\"IdentitytoolkitRelyingpartySetProjectConfigResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Response
  of setting the project configuration.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"projectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Project
  ID of the relying party.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:45:\"IdentitytoolkitRelyingpartySignOutUserRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Request
  to sign out user.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"instanceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Instance
  id token of the app.\";s:4:\"type\";s:6:\"string\";}s:7:\"localId\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  local ID of the user.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:46:\"IdentitytoolkitRelyingpartySignOutUserResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Response
  of signing out user.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"localId\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  local ID of the user.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:47:\"IdentitytoolkitRelyingpartySignupNewUserRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"Request
  to signup new user, create anonymous user or anonymous user reauth.\";s:10:\"properties\";O:8:\"stdClass\":14:{s:16:\"captchaChallenge\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  captcha challenge.\";s:4:\"type\";s:6:\"string\";}s:15:\"captchaResponse\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Response
  to the captcha.\";s:4:\"type\";s:6:\"string\";}s:8:\"disabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"Whether
  to disable the user. Only can be used by service account.\";s:4:\"type\";s:7:\"boolean\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  name of the user.\";s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  email of the user.\";s:4:\"type\";s:6:\"string\";}s:13:\"emailVerified\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"Mark
  the email as verified or not. Only can be used by service account.\";s:4:\"type\";s:7:\"boolean\";}s:7:\"idToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  GITKit token of the authenticated user.\";s:4:\"type\";s:6:\"string\";}s:10:\"instanceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Instance
  id token of the app.\";s:4:\"type\";s:6:\"string\";}s:7:\"localId\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"Privileged
  caller can create user with specified user id.\";s:4:\"type\";s:6:\"string\";}s:8:\"password\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  new password of the user.\";s:4:\"type\";s:6:\"string\";}s:11:\"phoneNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"Privileged
  caller can create user with specified phone number.\";s:4:\"type\";s:6:\"string\";}s:8:\"photoUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  photo url of the user.\";s:4:\"type\";s:6:\"string\";}s:8:\"tenantId\";O:8:\"stdClass\":2:{s:11:\"description\";s:160:\"For
  multi-tenant use cases, in order to construct sign-in URL with the correct IDP parameters,
  Firebear needs to know which Tenant to retrieve IDP configs from.\";s:4:\"type\";s:6:\"string\";}s:19:\"tenantProjectNumber\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Tenant
  project number to be used for idp discovery.\";s:6:\"format\";s:6:\"uint64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:47:\"IdentitytoolkitRelyingpartyUploadAccountRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Request
  to upload user account in batch.\";s:10:\"properties\";O:8:\"stdClass\":14:{s:14:\"allowOverwrite\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"Whether
  allow overwrite existing account when user local_id exists.\";s:4:\"type\";s:7:\"boolean\";}s:9:\"blockSize\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"cpuMemCost\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"The
  following 4 fields are for standard scrypt algorithm.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:22:\"delegatedProjectNumber\";O:8:\"stdClass\":3:{s:11:\"description\";s:102:\"GCP
  project number of the requesting delegated app. Currently only intended for Firebase
  V1 migration.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:5:\"dkLen\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:13:\"hashAlgorithm\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  password hash algorithm.\";s:4:\"type\";s:6:\"string\";}s:10:\"memoryCost\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"Memory
  cost for hash calculation. Used by scrypt similar algorithms.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:15:\"parallelization\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"rounds\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"Rounds
  for hash calculation. Used by scrypt and similar algorithms.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:13:\"saltSeparator\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"The
  salt separator.\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}s:11:\"sanityCheck\";O:8:\"stdClass\":2:{s:11:\"description\";s:105:\"If
  true, backend will do sanity check(including duplicate email and federated id) when
  uploading account.\";s:4:\"type\";s:7:\"boolean\";}s:9:\"signerKey\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  key for to hash the password.\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}s:15:\"targetProjectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:106:\"Specify
  which project (field value is actually project id) to operate. Only used when provided
  credential.\";s:4:\"type\";s:6:\"string\";}s:5:\"users\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  account info to be stored.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/UserInfo\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:49:\"IdentitytoolkitRelyingpartyVerifyAssertionRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Request
  to verify the IDP assertion.\";s:10:\"properties\";O:8:\"stdClass\":13:{s:10:\"autoCreate\";O:8:\"stdClass\":2:{s:11:\"description\";s:184:\"When
  it's true, automatically creates a new account if the user doesn't exist. When it's
  false, allows existing user to sign in normally and throws exception if the user
  doesn't exist.\";s:4:\"type\";s:7:\"boolean\";}s:22:\"delegatedProjectNumber\";O:8:\"stdClass\":3:{s:11:\"description\";s:102:\"GCP
  project number of the requesting delegated app. Currently only intended for Firebase
  V1 migration.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:7:\"idToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  GITKit token of the authenticated user.\";s:4:\"type\";s:6:\"string\";}s:10:\"instanceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Instance
  id token of the app.\";s:4:\"type\";s:6:\"string\";}s:14:\"pendingIdToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"The
  GITKit token for the non-trusted IDP pending to be confirmed by the user.\";s:4:\"type\";s:6:\"string\";}s:8:\"postBody\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"The
  post body if the request is a HTTP POST.\";s:4:\"type\";s:6:\"string\";}s:10:\"requestUri\";O:8:\"stdClass\":2:{s:11:\"description\";s:112:\"The
  URI to which the IDP redirects the user back. It may contain federated login result
  params added by the IDP.\";s:4:\"type\";s:6:\"string\";}s:19:\"returnIdpCredential\";O:8:\"stdClass\":2:{s:11:\"description\";s:102:\"Whether
  return 200 and IDP credential rather than throw exception when federated id is already
  linked.\";s:4:\"type\";s:7:\"boolean\";}s:18:\"returnRefreshToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Whether
  to return refresh tokens.\";s:4:\"type\";s:7:\"boolean\";}s:17:\"returnSecureToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"Whether
  return sts id token and refresh token instead of gitkit token.\";s:4:\"type\";s:7:\"boolean\";}s:9:\"sessionId\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"Session
  ID, which should match the one in previous createAuthUri request.\";s:4:\"type\";s:6:\"string\";}s:8:\"tenantId\";O:8:\"stdClass\":2:{s:11:\"description\";s:160:\"For
  multi-tenant use cases, in order to construct sign-in URL with the correct IDP parameters,
  Firebear needs to know which Tenant to retrieve IDP configs from.\";s:4:\"type\";s:6:\"string\";}s:19:\"tenantProjectNumber\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Tenant
  project number to be used for idp discovery.\";s:6:\"format\";s:6:\"uint64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:51:\"IdentitytoolkitRelyingpartyVerifyCustomTokenRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Request
  to verify a custom token\";s:10:\"properties\";O:8:\"stdClass\":4:{s:22:\"delegatedProjectNumber\";O:8:\"stdClass\":3:{s:11:\"description\";s:102:\"GCP
  project number of the requesting delegated app. Currently only intended for Firebase
  V1 migration.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:10:\"instanceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Instance
  id token of the app.\";s:4:\"type\";s:6:\"string\";}s:17:\"returnSecureToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"Whether
  return sts id token and refresh token instead of gitkit token.\";s:4:\"type\";s:7:\"boolean\";}s:5:\"token\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  custom token to verify\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:48:\"IdentitytoolkitRelyingpartyVerifyPasswordRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Request
  to verify the password.\";s:10:\"properties\";O:8:\"stdClass\":11:{s:16:\"captchaChallenge\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  captcha challenge.\";s:4:\"type\";s:6:\"string\";}s:15:\"captchaResponse\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Response
  to the captcha.\";s:4:\"type\";s:6:\"string\";}s:22:\"delegatedProjectNumber\";O:8:\"stdClass\":3:{s:11:\"description\";s:102:\"GCP
  project number of the requesting delegated app. Currently only intended for Firebase
  V1 migration.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  email of the user.\";s:4:\"type\";s:6:\"string\";}s:7:\"idToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  GITKit token of the authenticated user.\";s:4:\"type\";s:6:\"string\";}s:10:\"instanceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Instance
  id token of the app.\";s:4:\"type\";s:6:\"string\";}s:8:\"password\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  password inputed by the user.\";s:4:\"type\";s:6:\"string\";}s:14:\"pendingIdToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:79:\"The
  GITKit token for the non-trusted IDP, which is to be confirmed by the user.\";s:4:\"type\";s:6:\"string\";}s:17:\"returnSecureToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"Whether
  return sts id token and refresh token instead of gitkit token.\";s:4:\"type\";s:7:\"boolean\";}s:8:\"tenantId\";O:8:\"stdClass\":2:{s:11:\"description\";s:160:\"For
  multi-tenant use cases, in order to construct sign-in URL with the correct IDP parameters,
  Firebear needs to know which Tenant to retrieve IDP configs from.\";s:4:\"type\";s:6:\"string\";}s:19:\"tenantProjectNumber\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Tenant
  project number to be used for idp discovery.\";s:6:\"format\";s:6:\"uint64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:51:\"IdentitytoolkitRelyingpartyVerifyPhoneNumberRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Request
  for Identitytoolkit-VerifyPhoneNumber\";s:10:\"properties\";O:8:\"stdClass\":7:{s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"idToken\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"operation\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"phoneNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"sessionInfo\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"The
  session info previously returned by IdentityToolkit-SendVerificationCode.\";s:4:\"type\";s:6:\"string\";}s:14:\"temporaryProof\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"verificationProof\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:52:\"IdentitytoolkitRelyingpartyVerifyPhoneNumberResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Response
  for Identitytoolkit-VerifyPhoneNumber\";s:10:\"properties\";O:8:\"stdClass\":10:{s:9:\"expiresIn\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:7:\"idToken\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"isNewUser\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:7:\"localId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"phoneNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"refreshToken\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"temporaryProof\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"temporaryProofExpiresIn\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:17:\"verificationProof\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:26:\"verificationProofExpiresIn\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"IdpConfig\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Template
  for a single idp configuration.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:8:\"clientId\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"OAuth2
  client ID.\";s:4:\"type\";s:6:\"string\";}s:7:\"enabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Whether
  this IDP is enabled.\";s:4:\"type\";s:7:\"boolean\";}s:17:\"experimentPercent\";O:8:\"stdClass\":3:{s:11:\"description\";s:78:\"Percent
  of users who will be prompted/redirected federated login for this IDP.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"provider\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"OAuth2
  provider.\";s:4:\"type\";s:6:\"string\";}s:6:\"secret\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"OAuth2
  client secret.\";s:4:\"type\";s:6:\"string\";}s:20:\"whitelistedAudiences\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Whitelisted
  client IDs for audience check.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:12:\"Relyingparty\";O:8:\"stdClass\":3:{s:11:\"description\";s:83:\"Request
  of getting a code for user confirmation (reset password, change email etc.)\";s:10:\"properties\";O:8:\"stdClass\":15:{s:17:\"androidInstallApp\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"whether
  or not to install the android app on the device where the link is opened\";s:4:\"type\";s:7:\"boolean\";}s:21:\"androidMinimumVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:143:\"minimum
  version of the app. if the version on the device is lower than this version then
  the user is taken to the play store to upgrade the app\";s:4:\"type\";s:6:\"string\";}s:18:\"androidPackageName\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"android
  package name of the android app to handle the action code\";s:4:\"type\";s:6:\"string\";}s:18:\"canHandleCodeInApp\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"whether
  or not the app can handle the oob code without first going to web\";s:4:\"type\";s:7:\"boolean\";}s:11:\"captchaResp\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  recaptcha response from the user.\";s:4:\"type\";s:6:\"string\";}s:9:\"challenge\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"The
  recaptcha challenge presented to the user.\";s:4:\"type\";s:6:\"string\";}s:11:\"continueUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  url to continue to the Gitkit app\";s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  email of the user.\";s:4:\"type\";s:6:\"string\";}s:13:\"iOSAppStoreId\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"iOS
  app store id to download the app if it's not already installed\";s:4:\"type\";s:6:\"string\";}s:11:\"iOSBundleId\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"the
  iOS bundle id of iOS app to handle the action code\";s:4:\"type\";s:6:\"string\";}s:7:\"idToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"The
  user's Gitkit login token for email change.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:28:\"identitytoolkit#relyingparty\";s:11:\"description\";s:48:\"The
  fixed string \"identitytoolkit#relyingparty\".\";s:4:\"type\";s:6:\"string\";}s:8:\"newEmail\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"The
  new email if the code is for email change.\";s:4:\"type\";s:6:\"string\";}s:11:\"requestType\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"The
  request type.\";s:4:\"type\";s:6:\"string\";}s:6:\"userIp\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  IP address of the user.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"ResetPasswordResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Response
  of resetting the password.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:91:\"The
  user's email. If the out-of-band code is for email recovery, the user's original
  email.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:37:\"identitytoolkit#ResetPasswordResponse\";s:11:\"description\";s:57:\"The
  fixed string \"identitytoolkit#ResetPasswordResponse\".\";s:4:\"type\";s:6:\"string\";}s:8:\"newEmail\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"If
  the out-of-band code is for email recovery, the user's new email.\";s:4:\"type\";s:6:\"string\";}s:11:\"requestType\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"The
  request type.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:22:\"SetAccountInfoResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Respone
  of setting the account information.\";s:10:\"properties\";O:8:\"stdClass\":12:{s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  name of the user.\";s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  email of the user.\";s:4:\"type\";s:6:\"string\";}s:13:\"emailVerified\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"If
  email has been verified.\";s:4:\"type\";s:7:\"boolean\";}s:9:\"expiresIn\";O:8:\"stdClass\":3:{s:11:\"description\";s:95:\"If
  idToken is STS id token, then this field will be expiration time of STS id token
  in seconds.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:7:\"idToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"The
  Gitkit id token to login the newly sign up user.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:38:\"identitytoolkit#SetAccountInfoResponse\";s:11:\"description\";s:58:\"The
  fixed string \"identitytoolkit#SetAccountInfoResponse\".\";s:4:\"type\";s:6:\"string\";}s:7:\"localId\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  local ID of the user.\";s:4:\"type\";s:6:\"string\";}s:8:\"newEmail\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"The
  new email the user attempts to change to.\";s:4:\"type\";s:6:\"string\";}s:12:\"passwordHash\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"The
  user's hashed password.\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}s:8:\"photoUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  photo url of the user.\";s:4:\"type\";s:6:\"string\";}s:16:\"providerUserInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  user's profiles at the associated IdPs.\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  user's display name at the IDP.\";s:4:\"type\";s:6:\"string\";}s:11:\"federatedId\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"User's
  identifier at IDP.\";s:4:\"type\";s:6:\"string\";}s:8:\"photoUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  user's photo url at the IDP.\";s:4:\"type\";s:6:\"string\";}s:10:\"providerId\";O:8:\"stdClass\":2:{s:11:\"description\";s:155:\"The
  IdP ID. For whitelisted IdPs it's a short domain name, e.g., google.com, aol.com,
  live.net and yahoo.com. For other OpenID IdPs it's the OP identifier.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:12:\"refreshToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"If
  idToken is STS id token, then this field will be refresh token.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"SignupNewUserResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:82:\"Response
  of signing up new user, creating anonymous user or anonymous user reauth.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  name of the user.\";s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  email of the user.\";s:4:\"type\";s:6:\"string\";}s:9:\"expiresIn\";O:8:\"stdClass\":3:{s:11:\"description\";s:95:\"If
  idToken is STS id token, then this field will be expiration time of STS id token
  in seconds.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:7:\"idToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"The
  Gitkit id token to login the newly sign up user.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:37:\"identitytoolkit#SignupNewUserResponse\";s:11:\"description\";s:57:\"The
  fixed string \"identitytoolkit#SignupNewUserResponse\".\";s:4:\"type\";s:6:\"string\";}s:7:\"localId\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  RP local ID of the user.\";s:4:\"type\";s:6:\"string\";}s:12:\"refreshToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"If
  idToken is STS id token, then this field will be refresh token.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"UploadAccountResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Respone
  of uploading accounts in batch.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"error\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"The
  error encountered while processing the account info.\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"index\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"The
  index of the malformed account, starting from 0.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Detailed
  error message for the account info.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:37:\"identitytoolkit#UploadAccountResponse\";s:11:\"description\";s:57:\"The
  fixed string \"identitytoolkit#UploadAccountResponse\".\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"UserInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Template
  for an individual account info.\";s:10:\"properties\";O:8:\"stdClass\":19:{s:9:\"createdAt\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"User
  creation timestamp.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:16:\"customAttributes\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"The
  custom attributes to be set in the user's id token.\";s:4:\"type\";s:6:\"string\";}s:10:\"customAuth\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"Whether
  the user is authenticated by the developer.\";s:4:\"type\";s:7:\"boolean\";}s:8:\"disabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Whether
  the user is disabled.\";s:4:\"type\";s:7:\"boolean\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  name of the user.\";s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  email of the user.\";s:4:\"type\";s:6:\"string\";}s:13:\"emailVerified\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Whether
  the email has been verified.\";s:4:\"type\";s:7:\"boolean\";}s:11:\"lastLoginAt\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"last
  login timestamp.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:7:\"localId\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  local ID of the user.\";s:4:\"type\";s:6:\"string\";}s:12:\"passwordHash\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"The
  user's hashed password.\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}s:17:\"passwordUpdatedAt\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  timestamp when the password was last updated.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:11:\"phoneNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"User's
  phone number.\";s:4:\"type\";s:6:\"string\";}s:8:\"photoUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  URL of the user profile photo.\";s:4:\"type\";s:6:\"string\";}s:16:\"providerUserInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"The
  IDP of the user.\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  user's display name at the IDP.\";s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"User's
  email at IDP.\";s:4:\"type\";s:6:\"string\";}s:11:\"federatedId\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"User's
  identifier at IDP.\";s:4:\"type\";s:6:\"string\";}s:11:\"phoneNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"User's
  phone number.\";s:4:\"type\";s:6:\"string\";}s:8:\"photoUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  user's photo url at the IDP.\";s:4:\"type\";s:6:\"string\";}s:10:\"providerId\";O:8:\"stdClass\":2:{s:11:\"description\";s:156:\"The
  IdP ID. For white listed IdPs it's a short domain name, e.g., google.com, aol.com,
  live.net and yahoo.com. For other OpenID IdPs it's the OP identifier.\";s:4:\"type\";s:6:\"string\";}s:5:\"rawId\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"User's
  raw identifier directly returned from IDP.\";s:4:\"type\";s:6:\"string\";}s:10:\"screenName\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"User's
  screen name at Twitter or login name at Github.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:11:\"rawPassword\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  user's plain text password.\";s:4:\"type\";s:6:\"string\";}s:4:\"salt\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  user's password salt.\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}s:10:\"screenName\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"User's
  screen name at Twitter or login name at Github.\";s:4:\"type\";s:6:\"string\";}s:10:\"validSince\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Timestamp
  in seconds for valid login token.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Version
  of the user's password.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:23:\"VerifyAssertionResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Response
  of verifying the IDP assertion.\";s:10:\"properties\";O:8:\"stdClass\":39:{s:6:\"action\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"The
  action code.\";s:4:\"type\";s:6:\"string\";}s:18:\"appInstallationUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"URL
  for OTA app installation.\";s:4:\"type\";s:6:\"string\";}s:9:\"appScheme\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  custom scheme used by mobile app.\";s:4:\"type\";s:6:\"string\";}s:7:\"context\";O:8:\"stdClass\":2:{s:11:\"description\";s:117:\"The
  opaque value used by the client to maintain context info between the authentication
  request and the IDP callback.\";s:4:\"type\";s:6:\"string\";}s:11:\"dateOfBirth\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  birth date of the IdP account.\";s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  display name of the user.\";s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:84:\"The
  email returned by the IdP. NOTE: The federated login user may not own the email.\";s:4:\"type\";s:6:\"string\";}s:13:\"emailRecycled\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"It's
  true if the email is recycled.\";s:4:\"type\";s:7:\"boolean\";}s:13:\"emailVerified\";O:8:\"stdClass\":2:{s:11:\"description\";s:90:\"The
  value is true if the IDP is also the email provider. It means the user owns the
  email.\";s:4:\"type\";s:7:\"boolean\";}s:12:\"errorMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Client
  error code.\";s:4:\"type\";s:6:\"string\";}s:9:\"expiresIn\";O:8:\"stdClass\":3:{s:11:\"description\";s:95:\"If
  idToken is STS id token, then this field will be expiration time of STS id token
  in seconds.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:11:\"federatedId\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"The
  unique ID identifies the IdP account.\";s:4:\"type\";s:6:\"string\";}s:9:\"firstName\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  first name of the user.\";s:4:\"type\";s:6:\"string\";}s:8:\"fullName\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  full name of the user.\";s:4:\"type\";s:6:\"string\";}s:7:\"idToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"The
  ID token.\";s:4:\"type\";s:6:\"string\";}s:10:\"inputEmail\";O:8:\"stdClass\":2:{s:11:\"description\";s:176:\"It's
  the identifier param in the createAuthUri request if the identifier is an email.
  It can be used to check whether the user input email is different from the asserted
  email.\";s:4:\"type\";s:6:\"string\";}s:9:\"isNewUser\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"True
  if it's a new user sign-in, false if it's a returning user.\";s:4:\"type\";s:7:\"boolean\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:39:\"identitytoolkit#VerifyAssertionResponse\";s:11:\"description\";s:59:\"The
  fixed string \"identitytoolkit#VerifyAssertionResponse\".\";s:4:\"type\";s:6:\"string\";}s:8:\"language\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"The
  language preference of the user.\";s:4:\"type\";s:6:\"string\";}s:8:\"lastName\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  last name of the user.\";s:4:\"type\";s:6:\"string\";}s:7:\"localId\";O:8:\"stdClass\":2:{s:11:\"description\";s:94:\"The
  RP local ID if it's already been mapped to the IdP account identified by the federated
  ID.\";s:4:\"type\";s:6:\"string\";}s:16:\"needConfirmation\";O:8:\"stdClass\":2:{s:11:\"description\";s:86:\"Whether
  the assertion is from a non-trusted IDP and need account linking confirmation.\";s:4:\"type\";s:7:\"boolean\";}s:9:\"needEmail\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"Whether
  need client to supply email to complete the federated login flow.\";s:4:\"type\";s:7:\"boolean\";}s:8:\"nickName\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  nick name of the user.\";s:4:\"type\";s:6:\"string\";}s:16:\"oauthAccessToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  OAuth2 access token.\";s:4:\"type\";s:6:\"string\";}s:22:\"oauthAuthorizationCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  OAuth2 authorization code.\";s:4:\"type\";s:6:\"string\";}s:13:\"oauthExpireIn\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  lifetime in seconds of the OAuth2 access token.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"oauthIdToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"The
  OIDC id token.\";s:4:\"type\";s:6:\"string\";}s:17:\"oauthRequestToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"The
  user approved request token for the OpenID OAuth extension.\";s:4:\"type\";s:6:\"string\";}s:10:\"oauthScope\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"The
  scope for the OpenID OAuth extension.\";s:4:\"type\";s:6:\"string\";}s:16:\"oauthTokenSecret\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  OAuth1 access token secret.\";s:4:\"type\";s:6:\"string\";}s:13:\"originalEmail\";O:8:\"stdClass\":2:{s:11:\"description\";s:121:\"The
  original email stored in the mapping storage. It's returned when the federated ID
  is associated to a different email.\";s:4:\"type\";s:6:\"string\";}s:8:\"photoUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"The
  URI of the public accessible profiel picture.\";s:4:\"type\";s:6:\"string\";}s:10:\"providerId\";O:8:\"stdClass\":2:{s:11:\"description\";s:350:\"The
  IdP ID. For white listed IdPs it's a short domain name e.g. google.com, aol.com,
  live.net and yahoo.com. If the \"providerId\" param is set to OpenID OP identifer
  other than the whilte listed IdPs the OP identifier is returned. If the \"identifier\"
  param is federated ID in the createAuthUri request. The domain part of the federated
  ID is returned.\";s:4:\"type\";s:6:\"string\";}s:11:\"rawUserInfo\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Raw
  IDP-returned user info.\";s:4:\"type\";s:6:\"string\";}s:12:\"refreshToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"If
  idToken is STS id token, then this field will be refresh token.\";s:4:\"type\";s:6:\"string\";}s:10:\"screenName\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"The
  screen_name of a Twitter user or the login name at Github.\";s:4:\"type\";s:6:\"string\";}s:8:\"timeZone\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  timezone of the user.\";s:4:\"type\";s:6:\"string\";}s:16:\"verifiedProvider\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"When
  action is 'map', contains the idps which can be used for confirmation.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:25:\"VerifyCustomTokenResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Response
  from verifying a custom token\";s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"expiresIn\";O:8:\"stdClass\":3:{s:11:\"description\";s:95:\"If
  idToken is STS id token, then this field will be expiration time of STS id token
  in seconds.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:7:\"idToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  GITKit token for authenticated user.\";s:4:\"type\";s:6:\"string\";}s:9:\"isNewUser\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"True
  if it's a new user sign-in, false if it's a returning user.\";s:4:\"type\";s:7:\"boolean\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:41:\"identitytoolkit#VerifyCustomTokenResponse\";s:11:\"description\";s:61:\"The
  fixed string \"identitytoolkit#VerifyCustomTokenResponse\".\";s:4:\"type\";s:6:\"string\";}s:12:\"refreshToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"If
  idToken is STS id token, then this field will be refresh token.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:22:\"VerifyPasswordResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Request
  of verifying the password.\";s:10:\"properties\";O:8:\"stdClass\":12:{s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  name of the user.\";s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:84:\"The
  email returned by the IdP. NOTE: The federated login user may not own the email.\";s:4:\"type\";s:6:\"string\";}s:9:\"expiresIn\";O:8:\"stdClass\":3:{s:11:\"description\";s:95:\"If
  idToken is STS id token, then this field will be expiration time of STS id token
  in seconds.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:7:\"idToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  GITKit token for authenticated user.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:38:\"identitytoolkit#VerifyPasswordResponse\";s:11:\"description\";s:58:\"The
  fixed string \"identitytoolkit#VerifyPasswordResponse\".\";s:4:\"type\";s:6:\"string\";}s:7:\"localId\";O:8:\"stdClass\":2:{s:11:\"description\";s:94:\"The
  RP local ID if it's already been mapped to the IdP account identified by the federated
  ID.\";s:4:\"type\";s:6:\"string\";}s:16:\"oauthAccessToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  OAuth2 access token.\";s:4:\"type\";s:6:\"string\";}s:22:\"oauthAuthorizationCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  OAuth2 authorization code.\";s:4:\"type\";s:6:\"string\";}s:13:\"oauthExpireIn\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  lifetime in seconds of the OAuth2 access token.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"photoUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  URI of the user's photo at IdP\";s:4:\"type\";s:6:\"string\";}s:12:\"refreshToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"If
  idToken is STS id token, then this field will be refresh token.\";s:4:\"type\";s:6:\"string\";}s:10:\"registered\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Whether
  the email is registered.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}}"
...
