---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":12:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Google\";s:3:\"url\";s:18:\"https://google.com\";}s:11:\"description\";s:57:\"Searches
  for books and manages your Google Books library.\";s:5:\"title\";s:5:\"Books\";s:7:\"version\";s:2:\"v1\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:37:\"https://console.developers.google.com\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"media\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:95:\"https://api.apis.guru/v2/cache/logo/https_www.google.com_intl_en_images_logos_books_logo_lg.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.6.2\";}s:6:\"format\";s:6:\"google\";s:3:\"url\";s:58:\"https://www.googleapis.com/discovery/v1/apis/books/v1/rest\";s:7:\"version\";s:2:\"v1\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"googleapis.com\";s:13:\"x-serviceName\";s:5:\"books\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:12:\"google_books\";s:4:\"type\";s:7:\"openapi\";}}"
host: www.googleapis.com
basePath: /books/v1
paths:
  /cloudloading/addBook:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: ""
      operationId: cloudloading.addBook
      parameters:
      - description: A drive document id. The upload_client_token must not be set.
        in: query
        name: drive_document_id
        type: string
      - description: The document MIME type. It can be set only if the drive_document_id
          is set.
        in: query
        name: mime_type
        type: string
      - description: The document name. It can be set only if the drive_document_id
          is set.
        in: query
        name: name
        type: string
      - in: query
        name: upload_client_token
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/BooksCloudloadingResource'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/books
      tags:
      - cloudloading
  /cloudloading/deleteBook:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Remove the book and its contents
      operationId: cloudloading.deleteBook
      parameters:
      - description: The id of the book to be removed.
        in: query
        name: volumeId
        required: true
        type: string
      responses:
        200:
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/books
      tags:
      - cloudloading
  /cloudloading/updateBook:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: ""
      operationId: cloudloading.updateBook
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/BooksCloudloadingResource'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/BooksCloudloadingResource'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/books
      tags:
      - cloudloading
  /dictionary/listOfflineMetadata:
    get:
      description: Returns a list of offline dictionary metadata available
      operationId: dictionary.listOfflineMetadata
      parameters:
      - description: The device/version ID from which to request the data.
        in: query
        name: cpksver
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Metadata'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/books
      tags:
      - dictionary
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
  /familysharing/getFamilyInfo:
    get:
      description: Gets information regarding the family that the user is part of.
      operationId: familysharing.getFamilyInfo
      parameters:
      - description: String to identify the originator of this request.
        in: query
        name: source
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/FamilyInfo'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/books
      tags:
      - familysharing
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
  /familysharing/share:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Initiates sharing of the content with the user's family. Empty
        response indicates success.
      operationId: familysharing.share
      parameters:
      - description: The docid to share.
        in: query
        name: docId
        type: string
      - description: String to identify the originator of this request.
        in: query
        name: source
        type: string
      - description: The volume to share.
        in: query
        name: volumeId
        type: string
      responses:
        200:
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/books
      tags:
      - familysharing
  /familysharing/unshare:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Initiates revoking content that has already been shared with the
        user's family. Empty response indicates success.
      operationId: familysharing.unshare
      parameters:
      - description: The docid to unshare.
        in: query
        name: docId
        type: string
      - description: String to identify the originator of this request.
        in: query
        name: source
        type: string
      - description: The volume to unshare.
        in: query
        name: volumeId
        type: string
      responses:
        200:
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/books
      tags:
      - familysharing
  /myconfig/getUserSettings:
    get:
      description: Gets the current settings for the user.
      operationId: myconfig.getUserSettings
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Usersettings'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/books
      tags:
      - myconfig
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
  /myconfig/releaseDownloadAccess:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Release downloaded content access restriction.
      operationId: myconfig.releaseDownloadAccess
      parameters:
      - description: The device/version ID from which to release the restriction.
        in: query
        name: cpksver
        required: true
        type: string
      - description: ISO-639-1, ISO-3166-1 codes for message localization, i.e. en_US.
        in: query
        name: locale
        type: string
      - description: String to identify the originator of this request.
        in: query
        name: source
        type: string
      - collectionFormat: multi
        description: The volume(s) to release restrictions for.
        in: query
        items:
          type: string
        name: volumeIds
        required: true
        type: array
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/DownloadAccesses'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/books
      tags:
      - myconfig
  /myconfig/requestAccess:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Request concurrent and download access restrictions.
      operationId: myconfig.requestAccess
      parameters:
      - description: The device/version ID from which to request the restrictions.
        in: query
        name: cpksver
        required: true
        type: string
      - description: The type of access license to request. If not specified, the
          default is BOTH.
        enum:
        - BOTH
        - CONCURRENT
        - DOWNLOAD
        in: query
        name: licenseTypes
        type: string
      - description: ISO-639-1, ISO-3166-1 codes for message localization, i.e. en_US.
        in: query
        name: locale
        type: string
      - description: The client nonce value.
        in: query
        name: nonce
        required: true
        type: string
      - description: String to identify the originator of this request.
        in: query
        name: source
        required: true
        type: string
      - description: The volume to request concurrent/download restrictions for.
        in: query
        name: volumeId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/RequestAccess'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/books
      tags:
      - myconfig
  /myconfig/syncVolumeLicenses:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Request downloaded content access for specified volumes on the
        My eBooks shelf.
      operationId: myconfig.syncVolumeLicenses
      parameters:
      - description: The device/version ID from which to release the restriction.
        in: query
        name: cpksver
        required: true
        type: string
      - collectionFormat: multi
        description: List of features supported by the client, i.e., 'RENTALS'
        in: query
        items:
          enum:
          - RENTALS
          type: string
        name: features
        type: array
      - description: Set to true to include non-comics series. Defaults to false.
        in: query
        name: includeNonComicsSeries
        type: boolean
      - description: ISO-639-1, ISO-3166-1 codes for message localization, i.e. en_US.
        in: query
        name: locale
        type: string
      - description: The client nonce value.
        in: query
        name: nonce
        required: true
        type: string
      - description: Set to true to show pre-ordered books. Defaults to false.
        in: query
        name: showPreorders
        type: boolean
      - description: String to identify the originator of this request.
        in: query
        name: source
        required: true
        type: string
      - collectionFormat: multi
        description: The volume(s) to request download restrictions for.
        in: query
        items:
          type: string
        name: volumeIds
        type: array
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Volumes'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/books
      tags:
      - myconfig
  /myconfig/updateUserSettings:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Sets the settings for the user. If a sub-object is specified, it
        will overwrite the existing sub-object stored in the server. Unspecified sub-objects
        will retain the existing value.
      operationId: myconfig.updateUserSettings
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/Usersettings'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Usersettings'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/books
      tags:
      - myconfig
  /mylibrary/annotations:
    get:
      description: Retrieves a list of annotations, possibly filtered.
      operationId: mylibrary.annotations.list
      parameters:
      - description: The content version for the requested volume.
        in: query
        name: contentVersion
        type: string
      - description: The layer ID to limit annotation by.
        in: query
        name: layerId
        type: string
      - collectionFormat: multi
        description: The layer ID(s) to limit annotation by.
        in: query
        items:
          type: string
        name: layerIds
        type: array
      - description: Maximum number of results to return
        in: query
        maximum: 40
        minimum: 0
        name: maxResults
        type: integer
      - description: The value of the nextToken from the previous page.
        in: query
        name: pageToken
        type: string
      - description: Set to true to return deleted annotations. updatedMin must be
          in the request to use this. Defaults to false.
        in: query
        name: showDeleted
        type: boolean
      - description: String to identify the originator of this request.
        in: query
        name: source
        type: string
      - description: RFC 3339 timestamp to restrict to items updated prior to this
          timestamp (exclusive).
        in: query
        name: updatedMax
        type: string
      - description: RFC 3339 timestamp to restrict to items updated since this timestamp
          (inclusive).
        in: query
        name: updatedMin
        type: string
      - description: The volume to restrict annotations to.
        in: query
        name: volumeId
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Annotations'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/books
      tags:
      - mylibrary
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Inserts a new annotation.
      operationId: mylibrary.annotations.insert
      parameters:
      - description: The ID for the annotation to insert.
        in: query
        name: annotationId
        type: string
      - in: body
        name: body
        schema:
          $ref: '#/definitions/Annotation'
      - description: ISO-3166-1 code to override the IP-based location.
        in: query
        name: country
        type: string
      - description: Requests that only the summary of the specified layer be provided
          in the response.
        in: query
        name: showOnlySummaryInResponse
        type: boolean
      - description: String to identify the originator of this request.
        in: query
        name: source
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Annotation'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/books
      tags:
      - mylibrary
  /mylibrary/annotations/summary:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Gets the summary of specified layers.
      operationId: mylibrary.annotations.summary
      parameters:
      - collectionFormat: multi
        description: Array of layer IDs to get the summary for.
        in: query
        items:
          type: string
        name: layerIds
        required: true
        type: array
      - description: Volume id to get the summary for.
        in: query
        name: volumeId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/AnnotationsSummary'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/books
      tags:
      - mylibrary
  /mylibrary/annotations/{annotationId}:
    delete:
      description: Deletes an annotation.
      operationId: mylibrary.annotations.delete
      parameters:
      - description: The ID for the annotation to delete.
        in: path
        name: annotationId
        required: true
        type: string
      - description: String to identify the originator of this request.
        in: query
        name: source
        type: string
      responses:
        200:
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/books
      tags:
      - mylibrary
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    put:
      description: Updates an existing annotation.
      operationId: mylibrary.annotations.update
      parameters:
      - description: The ID for the annotation to update.
        in: path
        name: annotationId
        required: true
        type: string
      - in: body
        name: body
        schema:
          $ref: '#/definitions/Annotation'
      - description: String to identify the originator of this request.
        in: query
        name: source
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Annotation'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/books
      tags:
      - mylibrary
  /mylibrary/bookshelves:
    get:
      description: Retrieves a list of bookshelves belonging to the authenticated
        user.
      operationId: mylibrary.bookshelves.list
      parameters:
      - description: String to identify the originator of this request.
        in: query
        name: source
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Bookshelves'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/books
      tags:
      - mylibrary
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
  /mylibrary/bookshelves/{shelf}:
    get:
      description: Retrieves metadata for a specific bookshelf belonging to the authenticated
        user.
      operationId: mylibrary.bookshelves.get
      parameters:
      - description: ID of bookshelf to retrieve.
        in: path
        name: shelf
        required: true
        type: string
      - description: String to identify the originator of this request.
        in: query
        name: source
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Bookshelf'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/books
      tags:
      - mylibrary
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
  /mylibrary/bookshelves/{shelf}/addVolume:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Adds a volume to a bookshelf.
      operationId: mylibrary.bookshelves.addVolume
      parameters:
      - description: The reason for which the book is added to the library.
        enum:
        - IOS_PREX
        - IOS_SEARCH
        - ONBOARDING
        in: query
        name: reason
        type: string
      - description: ID of bookshelf to which to add a volume.
        in: path
        name: shelf
        required: true
        type: string
      - description: String to identify the originator of this request.
        in: query
        name: source
        type: string
      - description: ID of volume to add.
        in: query
        name: volumeId
        required: true
        type: string
      responses:
        200:
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/books
      tags:
      - mylibrary
  /mylibrary/bookshelves/{shelf}/clearVolumes:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Clears all volumes from a bookshelf.
      operationId: mylibrary.bookshelves.clearVolumes
      parameters:
      - description: ID of bookshelf from which to remove a volume.
        in: path
        name: shelf
        required: true
        type: string
      - description: String to identify the originator of this request.
        in: query
        name: source
        type: string
      responses:
        200:
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/books
      tags:
      - mylibrary
  /mylibrary/bookshelves/{shelf}/moveVolume:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Moves a volume within a bookshelf.
      operationId: mylibrary.bookshelves.moveVolume
      parameters:
      - description: ID of bookshelf with the volume.
        in: path
        name: shelf
        required: true
        type: string
      - description: String to identify the originator of this request.
        in: query
        name: source
        type: string
      - description: ID of volume to move.
        in: query
        name: volumeId
        required: true
        type: string
      - description: Position on shelf to move the item (0 puts the item before the
          current first item, 1 puts it between the first and the second and so on.)
        in: query
        name: volumePosition
        required: true
        type: integer
      responses:
        200:
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/books
      tags:
      - mylibrary
  /mylibrary/bookshelves/{shelf}/removeVolume:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Removes a volume from a bookshelf.
      operationId: mylibrary.bookshelves.removeVolume
      parameters:
      - description: The reason for which the book is removed from the library.
        enum:
        - ONBOARDING
        in: query
        name: reason
        type: string
      - description: ID of bookshelf from which to remove a volume.
        in: path
        name: shelf
        required: true
        type: string
      - description: String to identify the originator of this request.
        in: query
        name: source
        type: string
      - description: ID of volume to remove.
        in: query
        name: volumeId
        required: true
        type: string
      responses:
        200:
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/books
      tags:
      - mylibrary
  /mylibrary/bookshelves/{shelf}/volumes:
    get:
      description: Gets volume information for volumes on a bookshelf.
      operationId: mylibrary.bookshelves.volumes.list
      parameters:
      - description: ISO-3166-1 code to override the IP-based location.
        in: query
        name: country
        type: string
      - description: Maximum number of results to return
        in: query
        minimum: 0
        name: maxResults
        type: integer
      - description: Restrict information returned to a set of selected fields.
        enum:
        - full
        - lite
        in: query
        name: projection
        type: string
      - description: Full-text search query string in this bookshelf.
        in: query
        name: q
        type: string
      - description: The bookshelf ID or name retrieve volumes for.
        in: path
        name: shelf
        required: true
        type: string
      - description: Set to true to show pre-ordered books. Defaults to false.
        in: query
        name: showPreorders
        type: boolean
      - description: String to identify the originator of this request.
        in: query
        name: source
        type: string
      - description: Index of the first element to return (starts at 0)
        in: query
        minimum: 0
        name: startIndex
        type: integer
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Volumes'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/books
      tags:
      - mylibrary
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
  /mylibrary/readingpositions/{volumeId}:
    get:
      description: Retrieves my reading position information for a volume.
      operationId: mylibrary.readingpositions.get
      parameters:
      - description: Volume content version for which this reading position is requested.
        in: query
        name: contentVersion
        type: string
      - description: String to identify the originator of this request.
        in: query
        name: source
        type: string
      - description: ID of volume for which to retrieve a reading position.
        in: path
        name: volumeId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ReadingPosition'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/books
      tags:
      - mylibrary
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
  /mylibrary/readingpositions/{volumeId}/setPosition:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Sets my reading position information for a volume.
      operationId: mylibrary.readingpositions.setPosition
      parameters:
      - description: Action that caused this reading position to be set.
        enum:
        - bookmark
        - chapter
        - next-page
        - prev-page
        - scroll
        - search
        in: query
        name: action
        type: string
      - description: Volume content version for which this reading position applies.
        in: query
        name: contentVersion
        type: string
      - description: Random persistent device cookie optional on set position.
        in: query
        name: deviceCookie
        type: string
      - description: Position string for the new volume reading position.
        in: query
        name: position
        required: true
        type: string
      - description: String to identify the originator of this request.
        in: query
        name: source
        type: string
      - description: RFC 3339 UTC format timestamp associated with this reading position.
        in: query
        name: timestamp
        required: true
        type: string
      - description: ID of volume for which to update the reading position.
        in: path
        name: volumeId
        required: true
        type: string
      responses:
        200:
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/books
      tags:
      - mylibrary
  /notification/get:
    get:
      description: Returns notification details for a given notification id.
      operationId: notification.get
      parameters:
      - description: 'ISO-639-1 language and ISO-3166-1 country code. Ex: ''en_US''.
          Used for generating notification title and body.'
        in: query
        name: locale
        type: string
      - description: String to identify the notification.
        in: query
        name: notification_id
        required: true
        type: string
      - description: String to identify the originator of this request.
        in: query
        name: source
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Notification'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/books
      tags:
      - notification
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
  /onboarding/listCategories:
    get:
      description: List categories for onboarding experience.
      operationId: onboarding.listCategories
      parameters:
      - description: ISO-639-1 language and ISO-3166-1 country code. Default is en-US
          if unset.
        in: query
        name: locale
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Category'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/books
      tags:
      - onboarding
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
  /onboarding/listCategoryVolumes:
    get:
      description: List available volumes under categories for onboarding experience.
      operationId: onboarding.listCategoryVolumes
      parameters:
      - collectionFormat: multi
        description: List of category ids requested.
        in: query
        items:
          type: string
        name: categoryId
        type: array
      - description: ISO-639-1 language and ISO-3166-1 country code. Default is en-US
          if unset.
        in: query
        name: locale
        type: string
      - description: The maximum allowed maturity rating of returned volumes. Books
          with a higher maturity rating are filtered out.
        enum:
        - mature
        - not-mature
        in: query
        name: maxAllowedMaturityRating
        type: string
      - description: Number of maximum results per page to be included in the response.
        in: query
        name: pageSize
        type: integer
      - description: The value of the nextToken from the previous page.
        in: query
        name: pageToken
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Volume2'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/books
      tags:
      - onboarding
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
  /personalizedstream/get:
    get:
      description: Returns a stream of personalized book clusters
      operationId: personalizedstream.get
      parameters:
      - description: 'ISO-639-1 language and ISO-3166-1 country code. Ex: ''en_US''.
          Used for generating recommendations.'
        in: query
        name: locale
        type: string
      - description: The maximum allowed maturity rating of returned recommendations.
          Books with a higher maturity rating are filtered out.
        enum:
        - mature
        - not-mature
        in: query
        name: maxAllowedMaturityRating
        type: string
      - description: String to identify the originator of this request.
        in: query
        name: source
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Discoveryclusters'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/books
      tags:
      - personalizedstream
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
  /promooffer/accept:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: ""
      operationId: promooffer.accept
      parameters:
      - description: device android_id
        in: query
        name: androidId
        type: string
      - description: device device
        in: query
        name: device
        type: string
      - description: device manufacturer
        in: query
        name: manufacturer
        type: string
      - description: device model
        in: query
        name: model
        type: string
      - in: query
        name: offerId
        type: string
      - description: device product
        in: query
        name: product
        type: string
      - description: device serial
        in: query
        name: serial
        type: string
      - description: Volume id to exercise the offer
        in: query
        name: volumeId
        type: string
      responses:
        200:
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/books
      tags:
      - promooffer
  /promooffer/dismiss:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: ""
      operationId: promooffer.dismiss
      parameters:
      - description: device android_id
        in: query
        name: androidId
        type: string
      - description: device device
        in: query
        name: device
        type: string
      - description: device manufacturer
        in: query
        name: manufacturer
        type: string
      - description: device model
        in: query
        name: model
        type: string
      - description: Offer to dimiss
        in: query
        name: offerId
        type: string
      - description: device product
        in: query
        name: product
        type: string
      - description: device serial
        in: query
        name: serial
        type: string
      responses:
        200:
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/books
      tags:
      - promooffer
  /promooffer/get:
    get:
      description: Returns a list of promo offers available to the user
      operationId: promooffer.get
      parameters:
      - description: device android_id
        in: query
        name: androidId
        type: string
      - description: device device
        in: query
        name: device
        type: string
      - description: device manufacturer
        in: query
        name: manufacturer
        type: string
      - description: device model
        in: query
        name: model
        type: string
      - description: device product
        in: query
        name: product
        type: string
      - description: device serial
        in: query
        name: serial
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Offers'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/books
      tags:
      - promooffer
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
  /series/get:
    get:
      description: Returns Series metadata for the given series ids.
      operationId: series.get
      parameters:
      - collectionFormat: multi
        description: String that identifies the series
        in: query
        items:
          type: string
        name: series_id
        required: true
        type: array
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Series'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/books
      tags:
      - series
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
  /series/membership/get:
    get:
      description: Returns Series membership data given the series id.
      operationId: series.membership.get
      parameters:
      - description: Number of maximum results per page to be included in the response.
        in: query
        name: page_size
        type: integer
      - description: The value of the nextToken from the previous page.
        in: query
        name: page_token
        type: string
      - description: String that identifies the series
        in: query
        name: series_id
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Seriesmembership'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/books
      tags:
      - series
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
  /users/{userId}/bookshelves:
    get:
      description: Retrieves a list of public bookshelves for the specified user.
      operationId: bookshelves.list
      parameters:
      - description: String to identify the originator of this request.
        in: query
        name: source
        type: string
      - description: ID of user for whom to retrieve bookshelves.
        in: path
        name: userId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Bookshelves'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/books
      tags:
      - bookshelves
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
  /users/{userId}/bookshelves/{shelf}:
    get:
      description: Retrieves metadata for a specific bookshelf for the specified user.
      operationId: bookshelves.get
      parameters:
      - description: ID of bookshelf to retrieve.
        in: path
        name: shelf
        required: true
        type: string
      - description: String to identify the originator of this request.
        in: query
        name: source
        type: string
      - description: ID of user for whom to retrieve bookshelves.
        in: path
        name: userId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Bookshelf'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/books
      tags:
      - bookshelves
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
  /users/{userId}/bookshelves/{shelf}/volumes:
    get:
      description: Retrieves volumes in a specific bookshelf for the specified user.
      operationId: bookshelves.volumes.list
      parameters:
      - description: Maximum number of results to return
        in: query
        minimum: 0
        name: maxResults
        type: integer
      - description: ID of bookshelf to retrieve volumes.
        in: path
        name: shelf
        required: true
        type: string
      - description: Set to true to show pre-ordered books. Defaults to false.
        in: query
        name: showPreorders
        type: boolean
      - description: String to identify the originator of this request.
        in: query
        name: source
        type: string
      - description: Index of the first element to return (starts at 0)
        in: query
        minimum: 0
        name: startIndex
        type: integer
      - description: ID of user for whom to retrieve bookshelf volumes.
        in: path
        name: userId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Volumes'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/books
      tags:
      - bookshelves
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
  /volumes:
    get:
      description: Performs a book search.
      operationId: volumes.list
      parameters:
      - description: Restrict to volumes by download availability.
        enum:
        - epub
        in: query
        name: download
        type: string
      - description: Filter search results.
        enum:
        - ebooks
        - free-ebooks
        - full
        - paid-ebooks
        - partial
        in: query
        name: filter
        type: string
      - description: Restrict results to books with this language code.
        in: query
        name: langRestrict
        type: string
      - description: Restrict search to this user's library.
        enum:
        - my-library
        - no-restrict
        in: query
        name: libraryRestrict
        type: string
      - description: The maximum allowed maturity rating of returned recommendations.
          Books with a higher maturity rating are filtered out.
        enum:
        - mature
        - not-mature
        in: query
        name: maxAllowedMaturityRating
        type: string
      - description: Maximum number of results to return.
        in: query
        maximum: 40
        minimum: 0
        name: maxResults
        type: integer
      - description: Sort search results.
        enum:
        - newest
        - relevance
        in: query
        name: orderBy
        type: string
      - description: Restrict and brand results for partner ID.
        in: query
        name: partner
        type: string
      - description: Restrict to books or magazines.
        enum:
        - all
        - books
        - magazines
        in: query
        name: printType
        type: string
      - description: Restrict information returned to a set of selected fields.
        enum:
        - full
        - lite
        in: query
        name: projection
        type: string
      - description: Full-text search query string.
        in: query
        name: q
        required: true
        type: string
      - description: Set to true to show books available for preorder. Defaults to
          false.
        in: query
        name: showPreorders
        type: boolean
      - description: String to identify the originator of this request.
        in: query
        name: source
        type: string
      - description: Index of the first result to return (starts at 0)
        in: query
        minimum: 0
        name: startIndex
        type: integer
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Volumes'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/books
      tags:
      - volumes
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
  /volumes/mybooks:
    get:
      description: Return a list of books in My Library.
      operationId: volumes.mybooks.list
      parameters:
      - collectionFormat: multi
        description: How the book was acquired
        in: query
        items:
          enum:
          - FAMILY_SHARED
          - PREORDERED
          - PREVIOUSLY_RENTED
          - PUBLIC_DOMAIN
          - PURCHASED
          - RENTED
          - SAMPLE
          - UPLOADED
          type: string
        name: acquireMethod
        type: array
      - description: ISO-3166-1 code to override the IP-based location.
        in: query
        name: country
        type: string
      - description: ISO-639-1 language and ISO-3166-1 country code. Ex:'en_US'. Used
          for generating recommendations.
        in: query
        name: locale
        type: string
      - description: Maximum number of results to return.
        in: query
        maximum: 100
        minimum: 0
        name: maxResults
        type: integer
      - collectionFormat: multi
        description: The processing state of the user uploaded volumes to be returned.
          Applicable only if the UPLOADED is specified in the acquireMethod.
        in: query
        items:
          enum:
          - COMPLETED_FAILED
          - COMPLETED_SUCCESS
          - RUNNING
          type: string
        name: processingState
        type: array
      - description: String to identify the originator of this request.
        in: query
        name: source
        type: string
      - description: Index of the first result to return (starts at 0)
        in: query
        minimum: 0
        name: startIndex
        type: integer
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Volumes'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/books
      tags:
      - volumes
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
  /volumes/recommended:
    get:
      description: Return a list of recommended books for the current user.
      operationId: volumes.recommended.list
      parameters:
      - description: 'ISO-639-1 language and ISO-3166-1 country code. Ex: ''en_US''.
          Used for generating recommendations.'
        in: query
        name: locale
        type: string
      - description: The maximum allowed maturity rating of returned recommendations.
          Books with a higher maturity rating are filtered out.
        enum:
        - mature
        - not-mature
        in: query
        name: maxAllowedMaturityRating
        type: string
      - description: String to identify the originator of this request.
        in: query
        name: source
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Volumes'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/books
      tags:
      - volumes
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
  /volumes/recommended/rate:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Rate a recommended book for the current user.
      operationId: volumes.recommended.rate
      parameters:
      - description: 'ISO-639-1 language and ISO-3166-1 country code. Ex: ''en_US''.
          Used for generating recommendations.'
        in: query
        name: locale
        type: string
      - description: Rating to be given to the volume.
        enum:
        - HAVE_IT
        - NOT_INTERESTED
        in: query
        name: rating
        required: true
        type: string
      - description: String to identify the originator of this request.
        in: query
        name: source
        type: string
      - description: ID of the source volume.
        in: query
        name: volumeId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/BooksVolumesRecommendedRateResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/books
      tags:
      - volumes
  /volumes/useruploaded:
    get:
      description: Return a list of books uploaded by the current user.
      operationId: volumes.useruploaded.list
      parameters:
      - description: 'ISO-639-1 language and ISO-3166-1 country code. Ex: ''en_US''.
          Used for generating recommendations.'
        in: query
        name: locale
        type: string
      - description: Maximum number of results to return.
        in: query
        maximum: 40
        minimum: 0
        name: maxResults
        type: integer
      - collectionFormat: multi
        description: The processing state of the user uploaded volumes to be returned.
        in: query
        items:
          enum:
          - COMPLETED_FAILED
          - COMPLETED_SUCCESS
          - RUNNING
          type: string
        name: processingState
        type: array
      - description: String to identify the originator of this request.
        in: query
        name: source
        type: string
      - description: Index of the first result to return (starts at 0)
        in: query
        minimum: 0
        name: startIndex
        type: integer
      - collectionFormat: multi
        description: The ids of the volumes to be returned. If not specified all that
          match the processingState are returned.
        in: query
        items:
          type: string
        name: volumeId
        type: array
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Volumes'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/books
      tags:
      - volumes
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
  /volumes/{volumeId}:
    get:
      description: Gets volume information for a single volume.
      operationId: volumes.get
      parameters:
      - description: ISO-3166-1 code to override the IP-based location.
        in: query
        name: country
        type: string
      - description: Set to true to include non-comics series. Defaults to false.
        in: query
        name: includeNonComicsSeries
        type: boolean
      - description: Brand results for partner ID.
        in: query
        name: partner
        type: string
      - description: Restrict information returned to a set of selected fields.
        enum:
        - full
        - lite
        in: query
        name: projection
        type: string
      - description: String to identify the originator of this request.
        in: query
        name: source
        type: string
      - in: query
        name: user_library_consistent_read
        type: boolean
      - description: ID of volume to retrieve.
        in: path
        name: volumeId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Volume'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/books
      tags:
      - volumes
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
  /volumes/{volumeId}/associated:
    get:
      description: Return a list of associated books.
      operationId: volumes.associated.list
      parameters:
      - description: Association type.
        enum:
        - end-of-sample
        - end-of-volume
        - related-for-play
        in: query
        name: association
        type: string
      - description: 'ISO-639-1 language and ISO-3166-1 country code. Ex: ''en_US''.
          Used for generating recommendations.'
        in: query
        name: locale
        type: string
      - description: The maximum allowed maturity rating of returned recommendations.
          Books with a higher maturity rating are filtered out.
        enum:
        - mature
        - not-mature
        in: query
        name: maxAllowedMaturityRating
        type: string
      - description: String to identify the originator of this request.
        in: query
        name: source
        type: string
      - description: ID of the source volume.
        in: path
        name: volumeId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Volumes'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/books
      tags:
      - volumes
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
  /volumes/{volumeId}/layers/{layerId}:
    get:
      description: Gets the volume annotations for a volume and layer.
      operationId: layers.volumeAnnotations.list
      parameters:
      - description: The content version for the requested volume.
        in: query
        name: contentVersion
        required: true
        type: string
      - description: The end offset to end retrieving data from.
        in: query
        name: endOffset
        type: string
      - description: The end position to end retrieving data from.
        in: query
        name: endPosition
        type: string
      - description: The ID for the layer to get the annotations.
        in: path
        name: layerId
        required: true
        type: string
      - description: 'The locale information for the data. ISO-639-1 language and
          ISO-3166-1 country code. Ex: ''en_US''.'
        in: query
        name: locale
        type: string
      - description: Maximum number of results to return
        in: query
        maximum: 200
        minimum: 0
        name: maxResults
        type: integer
      - description: The value of the nextToken from the previous page.
        in: query
        name: pageToken
        type: string
      - description: Set to true to return deleted annotations. updatedMin must be
          in the request to use this. Defaults to false.
        in: query
        name: showDeleted
        type: boolean
      - description: String to identify the originator of this request.
        in: query
        name: source
        type: string
      - description: The start offset to start retrieving data from.
        in: query
        name: startOffset
        type: string
      - description: The start position to start retrieving data from.
        in: query
        name: startPosition
        type: string
      - description: RFC 3339 timestamp to restrict to items updated prior to this
          timestamp (exclusive).
        in: query
        name: updatedMax
        type: string
      - description: RFC 3339 timestamp to restrict to items updated since this timestamp
          (inclusive).
        in: query
        name: updatedMin
        type: string
      - description: The version of the volume annotations that you are requesting.
        in: query
        name: volumeAnnotationsVersion
        type: string
      - description: The volume to retrieve annotations for.
        in: path
        name: volumeId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Volumeannotations'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/books
      tags:
      - layers
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
  /volumes/{volumeId}/layers/{layerId}/annotations/{annotationId}:
    get:
      description: Gets the volume annotation.
      operationId: layers.volumeAnnotations.get
      parameters:
      - description: The ID of the volume annotation to retrieve.
        in: path
        name: annotationId
        required: true
        type: string
      - description: The ID for the layer to get the annotations.
        in: path
        name: layerId
        required: true
        type: string
      - description: 'The locale information for the data. ISO-639-1 language and
          ISO-3166-1 country code. Ex: ''en_US''.'
        in: query
        name: locale
        type: string
      - description: String to identify the originator of this request.
        in: query
        name: source
        type: string
      - description: The volume to retrieve annotations for.
        in: path
        name: volumeId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Volumeannotation'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/books
      tags:
      - layers
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
  /volumes/{volumeId}/layers/{layerId}/data:
    get:
      description: Gets the annotation data for a volume and layer.
      operationId: layers.annotationData.list
      parameters:
      - collectionFormat: multi
        description: The list of Annotation Data Ids to retrieve. Pagination is ignored
          if this is set.
        in: query
        items:
          type: string
        name: annotationDataId
        type: array
      - description: The content version for the requested volume.
        in: query
        name: contentVersion
        required: true
        type: string
      - description: The requested pixel height for any images. If height is provided
          width must also be provided.
        in: query
        name: h
        type: integer
      - description: The ID for the layer to get the annotation data.
        in: path
        name: layerId
        required: true
        type: string
      - description: 'The locale information for the data. ISO-639-1 language and
          ISO-3166-1 country code. Ex: ''en_US''.'
        in: query
        name: locale
        type: string
      - description: Maximum number of results to return
        in: query
        maximum: 200
        minimum: 0
        name: maxResults
        type: integer
      - description: The value of the nextToken from the previous page.
        in: query
        name: pageToken
        type: string
      - description: The requested scale for the image.
        in: query
        minimum: 0
        name: scale
        type: integer
      - description: String to identify the originator of this request.
        in: query
        name: source
        type: string
      - description: RFC 3339 timestamp to restrict to items updated prior to this
          timestamp (exclusive).
        in: query
        name: updatedMax
        type: string
      - description: RFC 3339 timestamp to restrict to items updated since this timestamp
          (inclusive).
        in: query
        name: updatedMin
        type: string
      - description: The volume to retrieve annotation data for.
        in: path
        name: volumeId
        required: true
        type: string
      - description: The requested pixel width for any images. If width is provided
          height must also be provided.
        in: query
        name: w
        type: integer
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Annotationsdata'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/books
      tags:
      - layers
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
  /volumes/{volumeId}/layers/{layerId}/data/{annotationDataId}:
    get:
      description: Gets the annotation data.
      operationId: layers.annotationData.get
      parameters:
      - description: For the dictionary layer. Whether or not to allow web definitions.
        in: query
        name: allowWebDefinitions
        type: boolean
      - description: The ID of the annotation data to retrieve.
        in: path
        name: annotationDataId
        required: true
        type: string
      - description: The content version for the volume you are trying to retrieve.
        in: query
        name: contentVersion
        required: true
        type: string
      - description: The requested pixel height for any images. If height is provided
          width must also be provided.
        in: query
        name: h
        type: integer
      - description: The ID for the layer to get the annotations.
        in: path
        name: layerId
        required: true
        type: string
      - description: 'The locale information for the data. ISO-639-1 language and
          ISO-3166-1 country code. Ex: ''en_US''.'
        in: query
        name: locale
        type: string
      - description: The requested scale for the image.
        in: query
        minimum: 0
        name: scale
        type: integer
      - description: String to identify the originator of this request.
        in: query
        name: source
        type: string
      - description: The volume to retrieve annotations for.
        in: path
        name: volumeId
        required: true
        type: string
      - description: The requested pixel width for any images. If width is provided
          height must also be provided.
        in: query
        name: w
        type: integer
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Annotationdata'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/books
      tags:
      - layers
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
  /volumes/{volumeId}/layersummary:
    get:
      description: List the layer summaries for a volume.
      operationId: layers.list
      parameters:
      - description: The content version for the requested volume.
        in: query
        name: contentVersion
        type: string
      - description: Maximum number of results to return
        in: query
        maximum: 200
        minimum: 0
        name: maxResults
        type: integer
      - description: The value of the nextToken from the previous page.
        in: query
        name: pageToken
        type: string
      - description: String to identify the originator of this request.
        in: query
        name: source
        type: string
      - description: The volume to retrieve layers for.
        in: path
        name: volumeId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Layersummaries'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/books
      tags:
      - layers
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
  /volumes/{volumeId}/layersummary/{summaryId}:
    get:
      description: Gets the layer summary for a volume.
      operationId: layers.get
      parameters:
      - description: The content version for the requested volume.
        in: query
        name: contentVersion
        type: string
      - description: String to identify the originator of this request.
        in: query
        name: source
        type: string
      - description: The ID for the layer to get the summary for.
        in: path
        name: summaryId
        required: true
        type: string
      - description: The volume to retrieve layers for.
        in: path
        name: volumeId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Layersummary'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/books
      tags:
      - layers
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":35:{s:10:\"Annotation\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":17:{s:17:\"afterSelectedText\";O:8:\"stdClass\":2:{s:11:\"description\";s:137:\"Anchor
  text after excerpt. For requests, if the user bookmarked a screen that has no flowing
  text on it, then this field should be empty.\";s:4:\"type\";s:6:\"string\";}s:18:\"beforeSelectedText\";O:8:\"stdClass\":2:{s:11:\"description\";s:138:\"Anchor
  text before excerpt. For requests, if the user bookmarked a screen that has no flowing
  text on it, then this field should be empty.\";s:4:\"type\";s:6:\"string\";}s:19:\"clientVersionRanges\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Selection
  ranges sent from the client.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"cfiRange\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/BooksAnnotationsRange\";s:11:\"description\";s:55:\"Range
  in CFI format for this annotation sent by client.\";}s:14:\"contentVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Content
  version the client sent in.\";s:4:\"type\";s:6:\"string\";}s:12:\"gbImageRange\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/BooksAnnotationsRange\";s:11:\"description\";s:60:\"Range
  in GB image format for this annotation sent by client.\";}s:11:\"gbTextRange\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/BooksAnnotationsRange\";s:11:\"description\";s:59:\"Range
  in GB text format for this annotation sent by client.\";}s:13:\"imageCfiRange\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/BooksAnnotationsRange\";s:11:\"description\";s:61:\"Range
  in image CFI format for this annotation sent by client.\";}}s:4:\"type\";s:6:\"object\";}s:7:\"created\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Timestamp
  for the created time of this annotation.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:20:\"currentVersionRanges\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Selection
  ranges for the most recent content version.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"cfiRange\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/BooksAnnotationsRange\";s:11:\"description\";s:58:\"Range
  in CFI format for this annotation for version above.\";}s:14:\"contentVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Content
  version applicable to ranges below.\";s:4:\"type\";s:6:\"string\";}s:12:\"gbImageRange\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/BooksAnnotationsRange\";s:11:\"description\";s:63:\"Range
  in GB image format for this annotation for version above.\";}s:11:\"gbTextRange\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/BooksAnnotationsRange\";s:11:\"description\";s:62:\"Range
  in GB text format for this annotation for version above.\";}s:13:\"imageCfiRange\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/BooksAnnotationsRange\";s:11:\"description\";s:64:\"Range
  in image CFI format for this annotation for version above.\";}}s:4:\"type\";s:6:\"object\";}s:4:\"data\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"User-created
  data for this annotation.\";s:4:\"type\";s:6:\"string\";}s:7:\"deleted\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Indicates
  that this annotation is deleted.\";s:4:\"type\";s:7:\"boolean\";}s:14:\"highlightStyle\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  highlight style for this annotation.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Id
  of this annotation, in the form of a GUID.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:16:\"books#annotation\";s:11:\"description\";s:14:\"Resource
  type.\";s:4:\"type\";s:6:\"string\";}s:7:\"layerId\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  layer this annotation is for.\";s:4:\"type\";s:6:\"string\";}s:12:\"layerSummary\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:21:\"allowedCharacterCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"Maximum
  allowed characters on this layer, especially for the \"copy\" layer.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"limitType\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"Type
  of limitation on this layer. \"limited\" or \"unlimited\" for the \"copy\" layer.\";s:4:\"type\";s:6:\"string\";}s:23:\"remainingCharacterCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"Remaining
  allowed characters on this layer, especially for the \"copy\" layer.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:7:\"pageIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Pages
  that this annotation spans.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:12:\"selectedText\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Excerpt
  from the volume.\";s:4:\"type\";s:6:\"string\";}s:8:\"selfLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"URL
  to this resource.\";s:4:\"type\";s:6:\"string\";}s:7:\"updated\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"Timestamp
  for the last time this annotation was modified.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:8:\"volumeId\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  volume that this annotation belongs to.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"Annotationdata\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:14:\"annotationType\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  type of annotation this data is for.\";s:4:\"type\";s:6:\"string\";}s:4:\"data\";O:8:\"stdClass\":0:{}s:12:\"encoded_data\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Base64
  encoded data for this annotation data.\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Unique
  id for this annotation data.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:20:\"books#annotationdata\";s:11:\"description\";s:13:\"Resource
  Type\";s:4:\"type\";s:6:\"string\";}s:7:\"layerId\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  Layer id for this data. *\";s:4:\"type\";s:6:\"string\";}s:8:\"selfLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"URL
  for this resource. *\";s:4:\"type\";s:6:\"string\";}s:7:\"updated\";O:8:\"stdClass\":3:{s:11:\"description\";s:83:\"Timestamp
  for the last time this data was updated. (RFC 3339 UTC date-time format).\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:8:\"volumeId\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  volume id for this data. *\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"Annotations\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"A
  list of annotations.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Annotation\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:17:\"books#annotations\";s:11:\"description\";s:14:\"Resource
  type.\";s:4:\"type\";s:6:\"string\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:119:\"Token
  to pass in for pagination for the next page. This will not be present if this request
  does not have more results.\";s:4:\"type\";s:6:\"string\";}s:10:\"totalItems\";O:8:\"stdClass\":3:{s:11:\"description\";s:137:\"Total
  number of annotations found. This may be greater than the number of notes returned
  in this response if results have been paginated.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:18:\"AnnotationsSummary\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"kind\";O:8:\"stdClass\":2:{s:7:\"default\";s:24:\"books#annotationsSummary\";s:4:\"type\";s:6:\"string\";}s:6:\"layers\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:21:\"allowedCharacterCount\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"layerId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"limitType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"remainingCharacterCount\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"updated\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:15:\"Annotationsdata\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"A
  list of Annotation Data.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/Annotationdata\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:21:\"books#annotationsdata\";s:11:\"description\";s:13:\"Resource
  type\";s:4:\"type\";s:6:\"string\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:119:\"Token
  to pass in for pagination for the next page. This will not be present if this request
  does not have more results.\";s:4:\"type\";s:6:\"string\";}s:10:\"totalItems\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"The
  total number of volume annotations found.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:21:\"BooksAnnotationsRange\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"endOffset\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"The
  offset from the ending position.\";s:4:\"type\";s:6:\"string\";}s:11:\"endPosition\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  ending position for the range.\";s:4:\"type\";s:6:\"string\";}s:11:\"startOffset\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  offset from the starting position.\";s:4:\"type\";s:6:\"string\";}s:13:\"startPosition\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"The
  starting position for the range.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:25:\"BooksCloudloadingResource\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"author\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"processingState\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"volumeId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:35:\"BooksVolumesRecommendedRateResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"consistency_token\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"Bookshelf\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:6:\"access\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Whether
  this bookshelf is PUBLIC or PRIVATE.\";s:4:\"type\";s:6:\"string\";}s:7:\"created\";O:8:\"stdClass\":3:{s:11:\"description\";s:86:\"Created
  time for this bookshelf (formatted UTC timestamp with millisecond resolution).\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Description
  of this bookshelf.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Id
  of this bookshelf, only unique by user.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:15:\"books#bookshelf\";s:11:\"description\";s:37:\"Resource
  type for bookshelf metadata.\";s:4:\"type\";s:6:\"string\";}s:8:\"selfLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"URL
  to this resource.\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Title
  of this bookshelf.\";s:4:\"type\";s:6:\"string\";}s:7:\"updated\";O:8:\"stdClass\":3:{s:11:\"description\";s:91:\"Last
  modified time of this bookshelf (formatted UTC timestamp with millisecond resolution).\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"volumeCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Number
  of volumes in this bookshelf.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:18:\"volumesLastUpdated\";O:8:\"stdClass\":3:{s:11:\"description\";s:114:\"Last
  time a volume was added or removed from this bookshelf (formatted UTC timestamp
  with millisecond resolution).\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"Bookshelves\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"A
  list of bookshelves.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Bookshelf\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:17:\"books#bookshelves\";s:11:\"description\";s:14:\"Resource
  type.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Category\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"A
  list of onboarding categories.\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"badgeUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"categoryId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:19:\"onboarding#category\";s:11:\"description\";s:14:\"Resource
  type.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:27:\"ConcurrentAccessRestriction\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":11:{s:13:\"deviceAllowed\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"Whether
  access is granted for this (user, device, volume).\";s:4:\"type\";s:7:\"boolean\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:33:\"books#concurrentAccessRestriction\";s:11:\"description\";s:14:\"Resource
  type.\";s:4:\"type\";s:6:\"string\";}s:20:\"maxConcurrentDevices\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"The
  maximum number of concurrent access licenses for this volume.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Error/warning
  message.\";s:4:\"type\";s:6:\"string\";}s:5:\"nonce\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"Client
  nonce for verification. Download access and client-validation only.\";s:4:\"type\";s:6:\"string\";}s:10:\"reasonCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Error/warning
  reason code.\";s:4:\"type\";s:6:\"string\";}s:10:\"restricted\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"Whether
  this volume has any concurrent access restrictions.\";s:4:\"type\";s:7:\"boolean\";}s:9:\"signature\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Response
  signature.\";s:4:\"type\";s:6:\"string\";}s:6:\"source\";O:8:\"stdClass\":2:{s:11:\"description\";s:83:\"Client
  app identifier for verification. Download access and client-validation only.\";s:4:\"type\";s:6:\"string\";}s:17:\"timeWindowSeconds\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Time
  in seconds for license auto-expiration.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"volumeId\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"Identifies
  the volume for which this entry applies.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"Dictlayerdata\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"common\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:102:\"The
  display title and localized canonical name to use when searching for this entity
  on Google search.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"dict\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"source\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"The
  source, url and attribution for this dictionary data.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"attribution\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"words\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"derivatives\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"source\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"attribution\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:8:\"examples\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"source\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"attribution\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:6:\"senses\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:12:\"conjugations\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:11:\"definitions\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"definition\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"examples\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"source\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"attribution\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:12:\"partOfSpeech\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"pronunciation\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"pronunciationUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"source\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"attribution\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"syllabification\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"synonyms\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"source\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"attribution\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:6:\"source\";O:8:\"stdClass\":3:{s:11:\"description\";s:90:\"The
  words with different meanings but not related words, e.g. \"go\" (game) and \"go\"
  (verb).\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"attribution\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:4:\"kind\";O:8:\"stdClass\":2:{s:7:\"default\";s:19:\"books#dictlayerdata\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"Discoveryclusters\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"clusters\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:29:\"banner_with_content_container\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:13:\"fillColorArgb\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"imageUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"maskColorArgb\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"moreButtonText\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"moreButtonUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"textColorArgb\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"subTitle\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"totalVolumes\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:3:\"uid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"volumes\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Volume\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:24:\"books#discovery#clusters\";s:11:\"description\";s:13:\"Resorce
  type.\";s:4:\"type\";s:6:\"string\";}s:13:\"totalClusters\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:25:\"DownloadAccessRestriction\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":12:{s:13:\"deviceAllowed\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"If
  restricted, whether access is granted for this (user, device, volume).\";s:4:\"type\";s:7:\"boolean\";}s:17:\"downloadsAcquired\";O:8:\"stdClass\":3:{s:11:\"description\";s:119:\"If
  restricted, the number of content download licenses already acquired (including
  the requesting client, if licensed).\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"justAcquired\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"If
  deviceAllowed, whether access was just acquired with this request.\";s:4:\"type\";s:7:\"boolean\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:31:\"books#downloadAccessRestriction\";s:11:\"description\";s:14:\"Resource
  type.\";s:4:\"type\";s:6:\"string\";}s:18:\"maxDownloadDevices\";O:8:\"stdClass\":3:{s:11:\"description\";s:79:\"If
  restricted, the maximum number of content download licenses for this volume.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Error/warning
  message.\";s:4:\"type\";s:6:\"string\";}s:5:\"nonce\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"Client
  nonce for verification. Download access and client-validation only.\";s:4:\"type\";s:6:\"string\";}s:10:\"reasonCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:163:\"Error/warning
  reason code. Additional codes may be added in the future. 0 OK 100 ACCESS_DENIED_PUBLISHER_LIMIT
  101 ACCESS_DENIED_LIMIT 200 WARNING_USED_LAST_ACCESS\";s:4:\"type\";s:6:\"string\";}s:10:\"restricted\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"Whether
  this volume has any download access restrictions.\";s:4:\"type\";s:7:\"boolean\";}s:9:\"signature\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Response
  signature.\";s:4:\"type\";s:6:\"string\";}s:6:\"source\";O:8:\"stdClass\":2:{s:11:\"description\";s:83:\"Client
  app identifier for verification. Download access and client-validation only.\";s:4:\"type\";s:6:\"string\";}s:8:\"volumeId\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"Identifies
  the volume for which this entry applies.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"DownloadAccesses\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:18:\"downloadAccessList\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"A
  list of download access responses.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/DownloadAccessRestriction\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:22:\"books#downloadAccesses\";s:11:\"description\";s:14:\"Resource
  type.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"FamilyInfo\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:16:\"books#familyInfo\";s:11:\"description\";s:14:\"Resource
  type.\";s:4:\"type\";s:6:\"string\";}s:10:\"membership\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"Family
  membership info of the user that made the request.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:17:\"acquirePermission\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Restrictions
  on user buying and acquiring content.\";s:4:\"type\";s:6:\"string\";}s:8:\"ageGroup\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  age group of the user.\";s:4:\"type\";s:6:\"string\";}s:21:\"allowedMaturityRating\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"The
  maximum allowed maturity rating for the user.\";s:4:\"type\";s:6:\"string\";}s:10:\"isInFamily\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"role\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  role of the user in the family.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:12:\"Geolayerdata\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"common\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"lang\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"The
  language of the information url and description.\";s:4:\"type\";s:6:\"string\";}s:15:\"previewImageUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"The
  URL for the preview image information.\";s:4:\"type\";s:6:\"string\";}s:7:\"snippet\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  description for this location.\";s:4:\"type\";s:6:\"string\";}s:10:\"snippetUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"The
  URL for information for this location. Ex: wikipedia link.\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:102:\"The
  display title and localized canonical name to use when searching for this entity
  on Google search.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:3:\"geo\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:8:\"boundary\";O:8:\"stdClass\":3:{s:11:\"description\";s:99:\"The
  boundary of the location as a set of loops containing pairs of latitude, longitude
  coordinates.\";s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"latitude\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"uint32\";s:4:\"type\";s:7:\"integer\";}s:9:\"longitude\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"uint32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";s:5:\"array\";}s:11:\"cachePolicy\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"The
  cache policy active for this data. EX: UNRESTRICTED, RESTRICTED, NEVER\";s:4:\"type\";s:6:\"string\";}s:11:\"countryCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  country code of the location.\";s:4:\"type\";s:6:\"string\";}s:8:\"latitude\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  latitude of the location.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:9:\"longitude\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  longitude of the location.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:7:\"mapType\";O:8:\"stdClass\":2:{s:11:\"description\";s:94:\"The
  type of map that should be used for this location. EX: HYBRID, ROADMAP, SATELLITE,
  TERRAIN\";s:4:\"type\";s:6:\"string\";}s:8:\"viewport\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"The
  viewport for showing this location. This is a latitude, longitude rectangle.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"hi\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"latitude\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:9:\"longitude\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:2:\"lo\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"latitude\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:9:\"longitude\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:4:\"zoom\";O:8:\"stdClass\":3:{s:11:\"description\";s:246:\"The
[...]
