---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Google\";s:3:\"url\";s:18:\"https://google.com\";}s:11:\"description\";s:38:\"An
  API to publish custom Android apps.\";s:5:\"title\";s:33:\"Google Play Custom App
  Publishing\";s:7:\"version\";s:2:\"v1\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:37:\"https://console.developers.google.com\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:15:\"developer_tools\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:116:\"https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.6.2\";}s:6:\"format\";s:6:\"google\";s:3:\"url\";s:66:\"https://www.googleapis.com/discovery/v1/apis/playcustomapp/v1/rest\";s:7:\"version\";s:2:\"v1\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"googleapis.com\";s:13:\"x-serviceName\";s:13:\"playcustomapp\";}"
host: www.googleapis.com
basePath: /playcustomapp/v1/accounts
paths:
  /{account}/customApps:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Create and publish a new custom app.
      operationId: playcustomapp.accounts.customApps.create
      parameters:
      - description: Developer account ID.
        in: path
        name: account
        required: true
        type: string
      - in: body
        name: body
        schema:
          $ref: '#/definitions/CustomApp'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/CustomApp'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/androidpublisher
      tags:
      - accounts
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":1:{s:9:\"CustomApp\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"This
  resource represents a custom app.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"languageCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Default
  listing language in BCP 47 format.\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Title
  for the Android app.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
