---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Google\";s:3:\"url\";s:18:\"https://google.com\";}s:11:\"description\";s:21:\"Groups
  Migration Api.\";s:5:\"title\";s:20:\"Groups Migration API\";s:7:\"version\";s:2:\"v1\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:37:\"https://console.developers.google.com\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:82:\"https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png\";}s:8:\"x-origin\";O:8:\"stdClass\":3:{s:6:\"format\";s:6:\"google\";s:3:\"url\";s:68:\"https://www.googleapis.com/discovery/v1/apis/groupsmigration/v1/rest\";s:7:\"version\";s:2:\"v1\";}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"googleapis.com\";s:13:\"x-serviceName\";s:15:\"groupsmigration\";}"
host: www.googleapis.com
basePath: /groups/v1/groups
paths:
  /{groupId}/archive:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      consumes:
      - message/rfc822
      description: Inserts a new mail into the archive of the Google group.
      operationId: groupsmigration.archive.insert
      parameters:
      - description: The group ID
        in: path
        name: groupId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Groups'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/apps.groups.migration
      tags:
      - archive
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":1:{s:6:\"Groups\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"JSON
  response template for groups migration API.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:22:\"groupsmigration#groups\";s:11:\"description\";s:36:\"The
  kind of insert resource this is.\";s:4:\"type\";s:6:\"string\";}s:12:\"responseCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  status of the insert request.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
