---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Google\";s:3:\"url\";s:18:\"https://google.com\";}s:11:\"description\";s:158:\"The
  Admin SDK Directory API lets you view and manage enterprise resources such as users
  and groups, administrative notifications, security features, and more.\";s:5:\"title\";s:15:\"Admin
  Directory\";s:7:\"version\";s:12:\"directory_v1\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:37:\"https://console.developers.google.com\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:105:\"https://api.apis.guru/v2/cache/logo/https_www.gstatic.com_images_icons_material_product_2x_admin_64dp.png\";}s:8:\"x-origin\";O:8:\"stdClass\":3:{s:6:\"format\";s:6:\"google\";s:3:\"url\";s:68:\"https://www.googleapis.com/discovery/v1/apis/admin/directory_v1/rest\";s:7:\"version\";s:2:\"v1\";}s:11:\"x-preferred\";b:0;s:14:\"x-providerName\";s:14:\"googleapis.com\";s:13:\"x-serviceName\";s:5:\"admin\";}"
host: www.googleapis.com
basePath: /admin/directory/v1
paths: ~
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":56:{s:5:\"Alias\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"JSON
  template for Alias object in Directory API.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:5:\"alias\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"A
  alias email\";s:4:\"type\";s:6:\"string\";}s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"ETag
  of the resource.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"Unique
  id of the group (Read-only) Unique id of the user (Read-only)\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:21:\"admin#directory#alias\";s:11:\"description\";s:25:\"Kind
  of resource this is.\";s:4:\"type\";s:6:\"string\";}s:12:\"primaryEmail\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"Group's
  primary email (Read-only) User's primary email (Read-only)\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Aliases\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"JSON
  response template to list aliases in Directory API.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"aliases\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"List
  of alias objects.\";s:5:\"items\";O:8:\"stdClass\":0:{}s:4:\"type\";s:5:\"array\";}s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"ETag
  of the resource.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:23:\"admin#directory#aliases\";s:11:\"description\";s:25:\"Kind
  of resource this is.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:3:\"Asp\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"The
  template that returns individual ASP (Access Code) data.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:6:\"codeId\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  unique ID of the ASP.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"creationTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"The
  time when the ASP was created. Expressed in Unix time format.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"ETag
  of the ASP.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:19:\"admin#directory#asp\";s:11:\"description\";s:65:\"The
  type of the API resource. This is always admin#directory#asp.\";s:4:\"type\";s:6:\"string\";}s:12:\"lastTimeUsed\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"The
  time when the ASP was last used. Expressed in Unix time format.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:105:\"The
  name of the application that the user, represented by their userId, entered when
  the ASP was created.\";s:4:\"type\";s:6:\"string\";}s:7:\"userKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"The
  unique ID of the user who issued the ASP.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Asps\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"ETag
  of the resource.\";s:4:\"type\";s:6:\"string\";}s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"A
  list of ASP resources.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Asp\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:23:\"admin#directory#aspList\";s:11:\"description\";s:69:\"The
  type of the API resource. This is always admin#directory#aspList.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"CalendarResource\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"JSON
  template for Calendar Resource object in Directory API.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:5:\"etags\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"ETag
  of the resource.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:52:\"admin#directory#resources#calendars#CalendarResource\";s:11:\"description\";s:116:\"The
  type of the resource. For calendar resources, the value is admin#directory#resources#calendars#CalendarResource.\";s:4:\"type\";s:6:\"string\";}s:19:\"resourceDescription\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"The
  brief description of the calendar resource.\";s:4:\"type\";s:6:\"string\";}s:13:\"resourceEmail\";O:8:\"stdClass\":2:{s:11:\"description\";s:104:\"The
  read-only email ID for the calendar resource. Generated as part of creating a new
  calendar resource.\";s:4:\"type\";s:6:\"string\";}s:10:\"resourceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  unique ID for the calendar resource.\";s:4:\"type\";s:6:\"string\";}s:12:\"resourceName\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"The
  name of the calendar resource. For example, Training Room 1A\";s:4:\"type\";s:6:\"string\";}s:12:\"resourceType\";O:8:\"stdClass\":2:{s:11:\"description\";s:94:\"The
  type of the calendar resource. Used for grouping resources in the calendar user
  interface.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"CalendarResources\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"JSON
  template for Calendar Resource List Response object in Directory API.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"ETag
  of the resource.\";s:4:\"type\";s:6:\"string\";}s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  CalendarResources in this page of results.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/CalendarResource\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:57:\"admin#directory#resources#calendars#calendarResourcesList\";s:11:\"description\";s:127:\"Identifies
  this as a collection of CalendarResources. This is always admin#directory#resources#calendars#calendarResourcesList.\";s:4:\"type\";s:6:\"string\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:142:\"The
  continuation token, used to page through large result sets. Provide this value in
  a subsequent request to return the next page of results.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Channel\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"An
  notification channel used to watch for resource changes.\";s:10:\"properties\";O:8:\"stdClass\":10:{s:7:\"address\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"The
  address where notifications are delivered for this channel.\";s:4:\"type\";s:6:\"string\";}s:10:\"expiration\";O:8:\"stdClass\":3:{s:11:\"description\";s:107:\"Date
  and time of notification channel expiration, expressed as a Unix timestamp, in milliseconds.
  Optional.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"A
  UUID or similar unique string that identifies this channel.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:11:\"api#channel\";s:11:\"description\";s:121:\"Identifies
  this as a notification channel used to watch for changes to a resource. Value: the
  fixed string \"api#channel\".\";s:4:\"type\";s:6:\"string\";}s:6:\"params\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Declares
  a new parameter by name.\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:70:\"Additional
  parameters controlling delivery channel behavior. Optional.\";s:4:\"type\";s:6:\"object\";}s:7:\"payload\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"A
  Boolean value to indicate whether payload is wanted. Optional.\";s:4:\"type\";s:7:\"boolean\";}s:10:\"resourceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:110:\"An
  opaque ID that identifies the resource being watched on this channel. Stable across
  different API versions.\";s:4:\"type\";s:6:\"string\";}s:11:\"resourceUri\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"A
  version-specific identifier for the watched resource.\";s:4:\"type\";s:6:\"string\";}s:5:\"token\";O:8:\"stdClass\":2:{s:11:\"description\";s:113:\"An
  arbitrary string delivered to the target address with each notification delivered
  over this channel. Optional.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"The
  type of delivery mechanism used for this channel.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"ChromeOsDevice\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"JSON
  template for Chrome Os Device resource in Directory API.\";s:10:\"properties\";O:8:\"stdClass\":25:{s:16:\"activeTimeRanges\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"List
  of active time ranges (Read-only)\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"activeTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Duration
  in milliseconds\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"date\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"Date
  of usage\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:16:\"annotatedAssetId\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"AssetId
  specified during enrollment or through later annotation\";s:4:\"type\";s:6:\"string\";}s:17:\"annotatedLocation\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"Address
  or location of the device as noted by the administrator\";s:4:\"type\";s:6:\"string\";}s:13:\"annotatedUser\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"User
  of the device\";s:4:\"type\";s:6:\"string\";}s:8:\"bootMode\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Chromebook
  boot mode (Read-only)\";s:4:\"type\";s:6:\"string\";}s:8:\"deviceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Unique
  identifier of Chrome OS Device (Read-only)\";s:4:\"type\";s:6:\"string\";}s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"ETag
  of the resource.\";s:4:\"type\";s:6:\"string\";}s:18:\"ethernetMacAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"Chromebook
  Mac Address on ethernet network interface (Read-only)\";s:4:\"type\";s:6:\"string\";}s:15:\"firmwareVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Chromebook
  firmware version (Read-only)\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:30:\"admin#directory#chromeosdevice\";s:11:\"description\";s:25:\"Kind
  of resource this is.\";s:4:\"type\";s:6:\"string\";}s:18:\"lastEnrollmentTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"Date
  and time the device was last enrolled (Read-only)\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:8:\"lastSync\";O:8:\"stdClass\":3:{s:11:\"description\";s:130:\"Date
  and time the device was last synchronized with the policy settings in the Google
  Apps administrator control panel (Read-only)\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:10:\"macAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"Chromebook
  Mac Address on wifi network interface (Read-only)\";s:4:\"type\";s:6:\"string\";}s:4:\"meid\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"Mobile
  Equipment identifier for the 3G mobile card in the Chromebook (Read-only)\";s:4:\"type\";s:6:\"string\";}s:5:\"model\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Chromebook
  Model (Read-only)\";s:4:\"type\";s:6:\"string\";}s:5:\"notes\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Notes
  added by the administrator\";s:4:\"type\";s:6:\"string\";}s:11:\"orderNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Chromebook
  order number (Read-only)\";s:4:\"type\";s:6:\"string\";}s:11:\"orgUnitPath\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"OrgUnit
  of the device\";s:4:\"type\";s:6:\"string\";}s:9:\"osVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Chromebook
  Os Version (Read-only)\";s:4:\"type\";s:6:\"string\";}s:15:\"platformVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Chromebook
  platform version (Read-only)\";s:4:\"type\";s:6:\"string\";}s:11:\"recentUsers\";O:8:\"stdClass\":3:{s:11:\"description\";s:79:\"List
  of recent device users, in descending order by last login time (Read-only)\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"Email
  address of the user. Present only if the user type is managed\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"The
  type of the user\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:12:\"serialNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Chromebook
  serial number (Read-only)\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"status
  of the device (Read-only)\";s:4:\"type\";s:6:\"string\";}s:14:\"supportEndDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Final
  date the device will be supported (Read-only)\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:13:\"willAutoRenew\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"Will
  Chromebook auto renew after support end date (Read-only)\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:20:\"ChromeOsDeviceAction\";O:8:\"stdClass\":3:{s:11:\"description\";s:85:\"JSON
  request template for firing actions on ChromeOs Device in Directory Devices API.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"action\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Action
  to be taken on the ChromeOs Device\";s:4:\"type\";s:6:\"string\";}s:17:\"deprovisionReason\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"ChromeOsDevices\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"JSON
  response template for List Chrome OS Devices operation in Directory API.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:15:\"chromeosdevices\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"List
  of Chrome OS Device objects.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ChromeOsDevice\";}s:4:\"type\";s:5:\"array\";}s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"ETag
  of the resource.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:31:\"admin#directory#chromeosdevices\";s:11:\"description\";s:25:\"Kind
  of resource this is.\";s:4:\"type\";s:6:\"string\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Token
  used to access next page of this result.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Customer\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"JSON
  template for Customer Resource object in Directory API.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:14:\"alternateEmail\";O:8:\"stdClass\":2:{s:11:\"description\";s:117:\"The
  customer's secondary contact email address. This email address cannot be on the
  same domain as the customerDomain\";s:4:\"type\";s:6:\"string\";}s:20:\"customerCreationTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  customer's creation time (Readonly)\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:14:\"customerDomain\";O:8:\"stdClass\":2:{s:11:\"description\";s:102:\"The
  customer's primary domain name string. Do not include the www prefix when creating
  a new customer.\";s:4:\"type\";s:6:\"string\";}s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"ETag
  of the resource.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"The
  unique ID for the customer's Google account. (Readonly)\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:24:\"admin#directory#customer\";s:11:\"description\";s:70:\"Identifies
  the resource as a customer. Value: admin#directory#customer\";s:4:\"type\";s:6:\"string\";}s:8:\"language\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"The
  customer's ISO 639-2 language code. The default value is en-US\";s:4:\"type\";s:6:\"string\";}s:11:\"phoneNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"The
  customer's contact phone number in E.164 format.\";s:4:\"type\";s:6:\"string\";}s:13:\"postalAddress\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/CustomerPostalAddress\";s:11:\"description\";s:42:\"The
  customer's postal address information.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"CustomerPostalAddress\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"JSON
  template for postal address of a customer.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:12:\"addressLine1\";O:8:\"stdClass\":2:{s:11:\"description\";s:81:\"A
  customer's physical address. The address can be composed of one to three lines.\";s:4:\"type\";s:6:\"string\";}s:12:\"addressLine2\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Address
  line 2 of the address.\";s:4:\"type\";s:6:\"string\";}s:12:\"addressLine3\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Address
  line 3 of the address.\";s:4:\"type\";s:6:\"string\";}s:11:\"contactName\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  customer contact's name.\";s:4:\"type\";s:6:\"string\";}s:11:\"countryCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:96:\"This
  is a required property. For countryCode information see the ISO 3166 country code
  elements.\";s:4:\"type\";s:6:\"string\";}s:8:\"locality\";O:8:\"stdClass\":2:{s:11:\"description\";s:82:\"Name
  of the locality. An example of a locality value is the city of San Francisco.\";s:4:\"type\";s:6:\"string\";}s:16:\"organizationName\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  company or company division name.\";s:4:\"type\";s:6:\"string\";}s:10:\"postalCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:163:\"The
  postal code. A postalCode example is a postal zip code such as 10009. This is in
  accordance with - http://portablecontacts.net/draft-spec.html#address_element.\";s:4:\"type\";s:6:\"string\";}s:6:\"region\";O:8:\"stdClass\":2:{s:11:\"description\";s:81:\"Name
  of the region. An example of a region value is NY for the state of New York.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"DomainAlias\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"JSON
  template for Domain Alias object in Directory API.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"creationTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  creation time of the domain alias. (Read-only).\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:15:\"domainAliasName\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  domain alias name.\";s:4:\"type\";s:6:\"string\";}s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"ETag
  of the resource.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:27:\"admin#directory#domainAlias\";s:11:\"description\";s:25:\"Kind
  of resource this is.\";s:4:\"type\";s:6:\"string\";}s:16:\"parentDomainName\";O:8:\"stdClass\":2:{s:11:\"description\";s:137:\"The
  parent domain name that the domain alias is associated with. This can either be
  a primary or secondary domain name within a customer.\";s:4:\"type\";s:6:\"string\";}s:8:\"verified\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"Indicates
  the verification state of a domain alias. (Read-only)\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:13:\"DomainAliases\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"JSON
  response template to list domain aliases in Directory API.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"domainAliases\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"List
  of domain alias objects.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/DomainAlias\";}s:4:\"type\";s:5:\"array\";}s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"ETag
  of the resource.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:29:\"admin#directory#domainAliases\";s:11:\"description\";s:25:\"Kind
  of resource this is.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Domains\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"JSON
  template for Domain object in Directory API.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:12:\"creationTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Creation
  time of the domain. (Read-only).\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:13:\"domainAliases\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"List
  of domain alias objects. (Read-only)\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/DomainAlias\";}s:4:\"type\";s:5:\"array\";}s:10:\"domainName\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  domain name of the customer.\";s:4:\"type\";s:6:\"string\";}s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"ETag
  of the resource.\";s:4:\"type\";s:6:\"string\";}s:9:\"isPrimary\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Indicates
  if the domain is a primary domain (Read-only).\";s:4:\"type\";s:7:\"boolean\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:22:\"admin#directory#domain\";s:11:\"description\";s:25:\"Kind
  of resource this is.\";s:4:\"type\";s:6:\"string\";}s:8:\"verified\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"Indicates
  the verification state of a domain. (Read-only).\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Domains2\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"JSON
  response template to list Domains in Directory API.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"domains\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"List
  of domain objects.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Domains\";}s:4:\"type\";s:5:\"array\";}s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"ETag
  of the resource.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:23:\"admin#directory#domains\";s:11:\"description\";s:25:\"Kind
  of resource this is.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Group\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"JSON
  template for Group resource in Directory API.\";s:10:\"properties\";O:8:\"stdClass\":10:{s:12:\"adminCreated\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Is
  the group created by admin (Read-only) *\";s:4:\"type\";s:7:\"boolean\";}s:7:\"aliases\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"List
  of aliases (Read-only)\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Description
  of the group\";s:4:\"type\";s:6:\"string\";}s:18:\"directMembersCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Group
  direct members count\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Email
  of Group\";s:4:\"type\";s:6:\"string\";}s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"ETag
  of the resource.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Unique
  identifier of Group (Read-only)\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:21:\"admin#directory#group\";s:11:\"description\";s:25:\"Kind
  of resource this is.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Group
  name\";s:4:\"type\";s:6:\"string\";}s:18:\"nonEditableAliases\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"List
  of non editable aliases (Read-only)\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Groups\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"JSON
  response template for List Groups operation in Directory API.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"ETag
  of the resource.\";s:4:\"type\";s:6:\"string\";}s:6:\"groups\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"List
  of group objects.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Group\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:22:\"admin#directory#groups\";s:11:\"description\";s:25:\"Kind
  of resource this is.\";s:4:\"type\";s:6:\"string\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Token
  used to access next page of this result.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Member\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"JSON
  template for Member resource in Directory API.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Email
  of member (Read-only)\";s:4:\"type\";s:6:\"string\";}s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"ETag
  of the resource.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:127:\"Unique
  identifier of customer member (Read-only) Unique identifier of group (Read-only)
  Unique identifier of member (Read-only)\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:22:\"admin#directory#member\";s:11:\"description\";s:25:\"Kind
  of resource this is.\";s:4:\"type\";s:6:\"string\";}s:4:\"role\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Role
  of member\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Status
  of member (Immutable)\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Type
  of member (Immutable)\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Members\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"JSON
  response template for List Members operation in Directory API.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"ETag
  of the resource.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:23:\"admin#directory#members\";s:11:\"description\";s:25:\"Kind
  of resource this is.\";s:4:\"type\";s:6:\"string\";}s:7:\"members\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"List
  of member objects.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Member\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Token
  used to access next page of this result.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"MobileDevice\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"JSON
  template for Mobile Device resource in Directory API.\";s:10:\"properties\";O:8:\"stdClass\":40:{s:9:\"adbStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"Adb
  (USB debugging) enabled or disabled on device (Read-only)\";s:4:\"type\";s:7:\"boolean\";}s:12:\"applications\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"List
  of applications installed on Mobile Device\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Display
  name of application\";s:4:\"type\";s:6:\"string\";}s:11:\"packageName\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Package
  name of application\";s:4:\"type\";s:6:\"string\";}s:10:\"permission\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"List
  of Permissions for application\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:11:\"versionCode\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Version
  code of application\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"versionName\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Version
  name of application\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:15:\"basebandVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Mobile
  Device Baseband version (Read-only)\";s:4:\"type\";s:6:\"string\";}s:17:\"bootloaderVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Mobile
  Device Bootloader version (Read-only)\";s:4:\"type\";s:6:\"string\";}s:5:\"brand\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Mobile
  Device Brand (Read-only)\";s:4:\"type\";s:6:\"string\";}s:11:\"buildNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Mobile
  Device Build number (Read-only)\";s:4:\"type\";s:6:\"string\";}s:15:\"defaultLanguage\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"The
  default locale used on the Mobile Device (Read-only)\";s:4:\"type\";s:6:\"string\";}s:22:\"developerOptionsStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"Developer
  options enabled or disabled on device (Read-only)\";s:4:\"type\";s:7:\"boolean\";}s:23:\"deviceCompromisedStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Mobile
  Device compromised status (Read-only)\";s:4:\"type\";s:6:\"string\";}s:8:\"deviceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Mobile
  Device serial number (Read-only)\";s:4:\"type\";s:6:\"string\";}s:20:\"devicePasswordStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"DevicePasswordStatus
  (Read-only)\";s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"List
  of owner user's email addresses (Read-only)\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:16:\"encryptionStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Mobile
  Device Encryption Status (Read-only)\";s:4:\"type\";s:6:\"string\";}s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"ETag
  of the resource.\";s:4:\"type\";s:6:\"string\";}s:9:\"firstSync\";O:8:\"stdClass\":3:{s:11:\"description\";s:131:\"Date
  and time the device was first synchronized with the policy settings in the Google
  Apps administrator control panel (Read-only)\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:8:\"hardware\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Mobile
  Device Hardware (Read-only)\";s:4:\"type\";s:6:\"string\";}s:10:\"hardwareId\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Mobile
  Device Hardware Id (Read-only)\";s:4:\"type\";s:6:\"string\";}s:4:\"imei\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Mobile
  Device IMEI number (Read-only)\";s:4:\"type\";s:6:\"string\";}s:13:\"kernelVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Mobile
  Device Kernel version (Read-only)\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:28:\"admin#directory#mobiledevice\";s:11:\"description\";s:25:\"Kind
  of resource this is.\";s:4:\"type\";s:6:\"string\";}s:8:\"lastSync\";O:8:\"stdClass\":3:{s:11:\"description\";s:130:\"Date
  and time the device was last synchronized with the policy settings in the Google
  Apps administrator control panel (Read-only)\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:30:\"managedAccountIsOnOwnerProfile\";O:8:\"stdClass\":2:{s:11:\"description\";s:81:\"Boolean
  indicating if this account is on owner/primary profile or not (Read-only)\";s:4:\"type\";s:7:\"boolean\";}s:12:\"manufacturer\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Mobile
  Device manufacturer (Read-only)\";s:4:\"type\";s:6:\"string\";}s:4:\"meid\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Mobile
  Device MEID number (Read-only)\";s:4:\"type\";s:6:\"string\";}s:5:\"model\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Name
  of the model of the device\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"List
  of owner user's names (Read-only)\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:15:\"networkOperator\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"Mobile
  Device mobile or network operator (if available) (Read-only)\";s:4:\"type\";s:6:\"string\";}s:2:\"os\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Name
  of the mobile operating system\";s:4:\"type\";s:6:\"string\";}s:17:\"otherAccountsInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"List
  of accounts added on device (Read-only)\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:9:\"privilege\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"DMAgentPermission
  (Read-only)\";s:4:\"type\";s:6:\"string\";}s:14:\"releaseVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Mobile
  Device release version version (Read-only)\";s:4:\"type\";s:6:\"string\";}s:10:\"resourceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Unique
  identifier of Mobile Device (Read-only)\";s:4:\"type\";s:6:\"string\";}s:18:\"securityPatchLevel\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Mobile
  Device Security patch level (Read-only)\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:12:\"serialNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Mobile
  Device SSN or Serial Number (Read-only)\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Status
  of the device (Read-only)\";s:4:\"type\";s:6:\"string\";}s:19:\"supportsWorkProfile\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Work
  profile supported on device (Read-only)\";s:4:\"type\";s:7:\"boolean\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  type of device (Read-only)\";s:4:\"type\";s:6:\"string\";}s:20:\"unknownSourcesStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"Unknown
  sources enabled or disabled on device (Read-only)\";s:4:\"type\";s:7:\"boolean\";}s:9:\"userAgent\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Mobile
  Device user agent\";s:4:\"type\";s:6:\"string\";}s:14:\"wifiMacAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Mobile
  Device WiFi MAC address (Read-only)\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"MobileDeviceAction\";O:8:\"stdClass\":3:{s:11:\"description\";s:84:\"JSON
  request template for firing commands on Mobile Device in Directory Devices API.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"action\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Action
  to be taken on the Mobile Device\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"MobileDevices\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"JSON
  response template for List Mobile Devices operation in Directory API.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"ETag
  of the resource.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:29:\"admin#directory#mobiledevices\";s:11:\"description\";s:25:\"Kind
  of resource this is.\";s:4:\"type\";s:6:\"string\";}s:13:\"mobiledevices\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"List
  of Mobile Device objects.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/MobileDevice\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Token
  used to access next page of this result.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"Notification\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Template
  for a notification resource.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:4:\"body\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Body
  of the notification (Read-only)\";s:4:\"type\";s:6:\"string\";}s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"ETag
  of the resource.\";s:4:\"type\";s:6:\"string\";}s:11:\"fromAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"Address
  from which the notification is received (Read-only)\";s:4:\"type\";s:6:\"string\";}s:8:\"isUnread\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"Boolean
  indicating whether the notification is unread or not.\";s:4:\"type\";s:7:\"boolean\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:28:\"admin#directory#notification\";s:11:\"description\";s:25:\"The
  type of the resource.\";s:4:\"type\";s:6:\"string\";}s:14:\"notificationId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"sendTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Time
  at which notification was sent (Read-only)\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"subject\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Subject
  of the notification (Read-only)\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"Notifications\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Template
  for notifications list response.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"ETag
  of the resource.\";s:4:\"type\";s:6:\"string\";}s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"List
  of notifications in this page.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/Notification\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:29:\"admin#directory#notifications\";s:11:\"description\";s:25:\"The
  type of the resource.\";s:4:\"type\";s:6:\"string\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Token
  for fetching the next page of notifications.\";s:4:\"type\";s:6:\"string\";}s:24:\"unreadNotificationsCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Number
  of unread notification for the domain.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:7:\"OrgUnit\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"JSON
  template for Org Unit resource in Directory API.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:16:\"blockInheritance\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Should
  block inheritance\";s:4:\"type\";s:7:\"boolean\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Description
  of OrgUnit\";s:4:\"type\";s:6:\"string\";}s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"ETag
  of the resource.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:23:\"admin#directory#orgUnit\";s:11:\"description\";s:25:\"Kind
  of resource this is.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Name
  of OrgUnit\";s:4:\"type\";s:6:\"string\";}s:9:\"orgUnitId\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Id
  of OrgUnit\";s:4:\"type\";s:6:\"string\";}s:11:\"orgUnitPath\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Path
  of OrgUnit\";s:4:\"type\";s:6:\"string\";}s:15:\"parentOrgUnitId\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Id
  of parent OrgUnit\";s:4:\"type\";s:6:\"string\";}s:17:\"parentOrgUnitPath\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Path
  of parent OrgUnit\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"OrgUnits\";O:8:\"stdClass\":3:{s:11:\"description\";s:78:\"JSON
  response template for List Organization Units operation in Directory API.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"ETag
  of the resource.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:24:\"admin#directory#orgUnits\";s:11:\"description\";s:25:\"Kind
  of resource this is.\";s:4:\"type\";s:6:\"string\";}s:17:\"organizationUnits\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"List
  of user objects.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/OrgUnit\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:9:\"Privilege\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"JSON
  template for privilege resource in Directory API.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:15:\"childPrivileges\";O:8:\"stdClass\":3:{s:11:\"description\";s:158:\"A
  list of child privileges. Privileges for a service form a tree. Each privilege can
  have a list of child privileges; this list is empty for a leaf privilege.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Privilege\";}s:4:\"type\";s:5:\"array\";}s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"ETag
  of the resource.\";s:4:\"type\";s:6:\"string\";}s:12:\"isOuScopable\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"If
  the privilege can be restricted to an organization unit.\";s:4:\"type\";s:7:\"boolean\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:25:\"admin#directory#privilege\";s:11:\"description\";s:71:\"The
  type of the API resource. This is always admin#directory#privilege.\";s:4:\"type\";s:6:\"string\";}s:13:\"privilegeName\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  name of the privilege.\";s:4:\"type\";s:6:\"string\";}s:9:\"serviceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"The
  obfuscated ID of the service this privilege is for.\";s:4:\"type\";s:6:\"string\";}s:11:\"serviceName\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"The
  name of the service this privilege is for.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"Privileges\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"JSON
  response template for List privileges operation in Directory API.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"ETag
  of the resource.\";s:4:\"type\";s:6:\"string\";}s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"A
  list of Privilege resources.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Privilege\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:26:\"admin#directory#privileges\";s:11:\"description\";s:72:\"The
  type of the API resource. This is always admin#directory#privileges.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Role\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"JSON
  template for role resource in Directory API.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"ETag
  of the resource.\";s:4:\"type\";s:6:\"string\";}s:16:\"isSuperAdminRole\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Returns
  true if the role is a super admin role.\";s:4:\"type\";s:7:\"boolean\";}s:12:\"isSystemRole\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Returns
  true if this is a pre-defined system role.\";s:4:\"type\";s:7:\"boolean\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:20:\"admin#directory#role\";s:11:\"description\";s:66:\"The
  type of the API resource. This is always admin#directory#role.\";s:4:\"type\";s:6:\"string\";}s:15:\"roleDescription\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"A
  short description of the role.\";s:4:\"type\";s:6:\"string\";}s:6:\"roleId\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"ID
  of the role.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:8:\"roleName\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Name
  of the role.\";s:4:\"type\";s:6:\"string\";}s:14:\"rolePrivileges\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"The
  set of privileges that are granted to this role.\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"privilegeName\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  name of the privilege.\";s:4:\"type\";s:6:\"string\";}s:9:\"serviceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"The
  obfuscated ID of the service this privilege is for.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:14:\"RoleAssignment\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"JSON
  template for roleAssignment resource in Directory API.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:10:\"assignedTo\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"The
  unique ID of the user this role is assigned to.\";s:4:\"type\";s:6:\"string\";}s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"ETag
  of the resource.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:30:\"admin#directory#roleAssignment\";s:11:\"description\";s:76:\"The
  type of the API resource. This is always admin#directory#roleAssignment.\";s:4:\"type\";s:6:\"string\";}s:9:\"orgUnitId\";O:8:\"stdClass\":2:{s:11:\"description\";s:141:\"If
  the role is restricted to an organization unit, this contains the ID for the organization
  unit the exercise of this role is restricted to.\";s:4:\"type\";s:6:\"string\";}s:16:\"roleAssignmentId\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"ID
  of this roleAssignment.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:6:\"roleId\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  ID of the role that is assigned.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:9:\"scopeType\";O:8:\"stdClass\":2:{s:11:\"description\";s:85:\"The
  scope in which this role is assigned. Possible values are: \n- CUSTOMER\n- ORG_UNIT\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"RoleAssignments\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"JSON
  response template for List roleAssignments operation in Directory API.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"ETag
  of the resource.\";s:4:\"type\";s:6:\"string\";}s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"A
  list of RoleAssignment resources.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/RoleAssignment\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:31:\"admin#directory#roleAssignments\";s:11:\"description\";s:77:\"The
  type of the API resource. This is always admin#directory#roleAssignments.\";s:4:\"type\";s:6:\"string\";}s:13:\"nextPageToken\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Roles\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"JSON
  response template for List roles operation in Directory API.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"ETag
  of the resource.\";s:4:\"type\";s:6:\"string\";}s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"A
  list of Role resources.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Role\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:21:\"admin#directory#roles\";s:11:\"description\";s:67:\"The
  type of the API resource. This is always admin#directory#roles.\";s:4:\"type\";s:6:\"string\";}s:13:\"nextPageToken\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Schema\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"JSON
  template for Schema resource in Directory API.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"ETag
  of the resource.\";s:4:\"type\";s:6:\"string\";}s:6:\"fields\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Fields
  of Schema\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/SchemaFieldSpec\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:22:\"admin#directory#schema\";s:11:\"description\";s:25:\"Kind
  of resource this is.\";s:4:\"type\";s:6:\"string\";}s:8:\"schemaId\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Unique
  identifier of Schema (Read-only)\";s:4:\"type\";s:6:\"string\";}s:10:\"schemaName\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Schema
  name\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"SchemaFieldSpec\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"JSON
  template for FieldSpec resource for Schemas in Directory API.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"ETag
  of the resource.\";s:4:\"type\";s:6:\"string\";}s:7:\"fieldId\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Unique
  identifier of Field (Read-only)\";s:4:\"type\";s:6:\"string\";}s:9:\"fieldName\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Name
  of the field.\";s:4:\"type\";s:6:\"string\";}s:9:\"fieldType\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Type
  of the field.\";s:4:\"type\";s:6:\"string\";}s:7:\"indexed\";O:8:\"stdClass\":3:{s:7:\"default\";b:1;s:11:\"description\";s:55:\"Boolean
  specifying whether the field is indexed or not.\";s:4:\"type\";s:7:\"boolean\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:32:\"admin#directory#schema#fieldspec\";s:11:\"description\";s:25:\"Kind
  of resource this is.\";s:4:\"type\";s:6:\"string\";}s:11:\"multiValued\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"Boolean
  specifying whether this is a multi-valued field or not.\";s:4:\"type\";s:7:\"boolean\";}s:19:\"numericIndexingSpec\";O:8:\"stdClass\":3:{s:11:\"description\";s:179:\"Indexing
  spec for a numeric field. By default, only exact match queries will be supported
  for numeric fields. Setting the numericIndexingSpec allows range queries to be supported.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"maxValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:167:\"Maximum
  value of this field. This is meant to be indicative rather than enforced. Values
  outside this range will still be indexed, but search may not be as performant.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:8:\"minValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:167:\"Minimum
  value of this field. This is meant to be indicative rather than enforced. Values
  outside this range will still be indexed, but search may not be as performant.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:14:\"readAccessType\";O:8:\"stdClass\":3:{s:7:\"default\";s:16:\"ALL_DOMAIN_USERS\";s:11:\"description\";s:127:\"Read
  ACLs on the field specifying who can view values of this field. Valid values are
  \"ALL_DOMAIN_USERS\" and \"ADMINS_AND_SELF\".\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Schemas\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"JSON
  response template for List Schema operation in Directory API.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"ETag
  of the resource.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:23:\"admin#directory#schemas\";s:11:\"description\";s:25:\"Kind
  of resource this is.\";s:4:\"type\";s:6:\"string\";}s:7:\"schemas\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"List
  of UserSchema objects.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Schema\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Token\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"JSON
  template for token resource in Directory API.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:9:\"anonymous\";O:8:\"stdClass\":2:{s:11:\"description\";s:115:\"Whether
  the application is registered with Google. The value is true if the application
  has an anonymous Client ID.\";s:4:\"type\";s:7:\"boolean\";}s:8:\"clientId\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"The
  Client ID of the application the token is issued to.\";s:4:\"type\";s:6:\"string\";}s:11:\"displayText\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"The
  displayable name of the application the token is issued to.\";s:4:\"type\";s:6:\"string\";}s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"ETag
  of the resource.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:21:\"admin#directory#token\";s:11:\"description\";s:67:\"The
  type of the API resource. This is always admin#directory#token.\";s:4:\"type\";s:6:\"string\";}s:9:\"nativeApp\";O:8:\"stdClass\":2:{s:11:\"description\";s:137:\"Whether
  the token is issued to an installed application. The value is true if the application
  is installed to a desktop or mobile device.\";s:4:\"type\";s:7:\"boolean\";}s:6:\"scopes\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"A
  list of authorization scopes the application is granted.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"userKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"The
  unique ID of the user that issued the token.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Tokens\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"JSON
  response template for List tokens operation in Directory API.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"ETag
  of the resource.\";s:4:\"type\";s:6:\"string\";}s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"A
  list of Token resources.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Token\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:25:\"admin#directory#tokenList\";s:11:\"description\";s:71:\"The
  type of the API resource. This is always admin#directory#tokenList.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"User\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"JSON
  template for User object in Directory API.\";s:10:\"properties\";O:8:\"stdClass\":35:{s:9:\"addresses\";O:8:\"stdClass\":0:{}s:13:\"agreedToTerms\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Indicates
  if user has agreed to terms (Read-only)\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:7:\"aliases\";O:8:\"stdClass\":4:{s:11:\"description\";s:27:\"List
  of aliases (Read-only)\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:25:\"changePasswordAtNextLogin\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"Boolean
  indicating if the user should change password in next login\";s:4:\"type\";s:7:\"boolean\";}s:12:\"creationTime\";O:8:\"stdClass\":4:{s:11:\"description\";s:48:\"User's
  Google account creation time. (Read-only)\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:13:\"customSchemas\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/UserCustomProperties\";}s:11:\"description\";s:26:\"Custom
  fields of the user.\";s:4:\"type\";s:6:\"object\";}s:10:\"customerId\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"CustomerId
  of User (Read-only)\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:12:\"deletionTime\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:6:\"emails\";O:8:\"stdClass\":0:{}s:4:\"etag\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"ETag
  of the resource.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:11:\"externalIds\";O:8:\"stdClass\":0:{}s:12:\"hashFunction\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"Hash
  function name for password. Supported are MD5, SHA-1 and crypt\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Unique
  identifier of User (Read-only)\";s:4:\"type\";s:6:\"string\";}s:3:\"ims\";O:8:\"stdClass\":0:{}s:26:\"includeInGlobalAddressList\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"Boolean
  indicating if user is included in Global Address List\";s:4:\"type\";s:7:\"boolean\";}s:13:\"ipWhitelisted\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Boolean
  indicating if ip is whitelisted\";s:4:\"type\";s:7:\"boolean\";}s:7:\"isAdmin\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Boolean
  indicating if the user is admin (Read-only)\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:16:\"isDelegatedAdmin\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"Boolean
  indicating if the user is delegated admin (Read-only)\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:14:\"isMailboxSetup\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Is
  mailbox setup (Read-only)\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:4:\"kind\";O:8:\"stdClass\":4:{s:7:\"default\";s:20:\"admin#directory#user\";s:11:\"description\";s:25:\"Kind
  of resource this is.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:13:\"lastLoginTime\";O:8:\"stdClass\":4:{s:11:\"description\";s:35:\"User's
  last login time. (Read-only)\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/UserName\";s:11:\"description\";s:11:\"User's
  name\";}s:18:\"nonEditableAliases\";O:8:\"stdClass\":4:{s:11:\"description\";s:40:\"List
  of non editable aliases (Read-only)\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:5:\"notes\";O:8:\"stdClass\":0:{}s:11:\"orgUnitPath\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"OrgUnit
  of User\";s:4:\"type\";s:6:\"string\";}s:13:\"organizations\";O:8:\"stdClass\":0:{}s:8:\"password\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"User's
  password\";s:4:\"type\";s:6:\"string\";}s:6:\"phones\";O:8:\"stdClass\":0:{}s:12:\"primaryEmail\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"username
  of User\";s:4:\"type\";s:6:\"string\";}s:9:\"relations\";O:8:\"stdClass\":0:{}s:9:\"suspended\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Indicates
  if user is suspended\";s:4:\"type\";s:7:\"boolean\";}s:16:\"suspensionReason\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Suspension
  reason if user is suspended (Read-only)\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:18:\"thumbnailPhotoEtag\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"ETag
  of the user's photo (Read-only)\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:17:\"thumbnailPhotoUrl\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Photo
  Url of the user (Read-only)\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"websites\";O:8:\"stdClass\":0:{}}s:4:\"type\";s:6:\"object\";}s:9:\"UserAbout\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"JSON
  template for About (notes) of a user in Directory API.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"contentType\";O:8:\"stdClass\":2:{s:11:\"description\";s:155:\"About
  entry can have a type which indicates the content type. It can either be plain or
  html. By default, notes contents are assumed to contain plain text.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Actual
  value of notes.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"UserAddress\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"JSON
  template for address.\";s:10:\"properties\";O:8:\"stdClass\":13:{s:7:\"country\";O:8:\"stdClass\":2:{s:11:\"description\";s:8:\"Country.\";s:4:\"type\";s:6:\"string\";}s:11:\"countryCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Country
  code.\";s:4:\"type\";s:6:\"string\";}s:10:\"customType\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Custom
  type.\";s:4:\"type\";s:6:\"string\";}s:15:\"extendedAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Extended
  Address.\";s:4:\"type\";s:6:\"string\";}s:9:\"formatted\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Formatted
  address.\";s:4:\"type\";s:6:\"string\";}s:8:\"locality\";O:8:\"stdClass\":2:{s:11:\"description\";s:9:\"Locality.\";s:4:\"type\";s:6:\"string\";}s:5:\"poBox\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Other
  parts of address.\";s:4:\"type\";s:6:\"string\";}s:10:\"postalCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Postal
  code.\";s:4:\"type\";s:6:\"string\";}s:7:\"primary\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"If
  this is user's primary address. Only one entry could be marked as primary.\";s:4:\"type\";s:7:\"boolean\";}s:6:\"region\";O:8:\"stdClass\":2:{s:11:\"description\";s:7:\"Region.\";s:4:\"type\";s:6:\"string\";}s:18:\"sourceIsStructured\";O:8:\"stdClass\":2:{s:11:\"description\";s:184:\"User
  supplied address was structured. Structured addresses are NOT supported at this
  time. You might be able to write structured addresses, but any values will eventually
  be clobbered.\";s:4:\"type\";s:7:\"boolean\";}s:13:\"streetAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:7:\"Street.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:292:\"Each
  entry can have a type which indicates standard values of that entry. For example
  address could be of home, work etc. In addition to the standard type, an entry can
  have a custom type and can take any value. Such type should have the CUSTOM value
  as type and also have a customType value.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"UserCustomProperties\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":0:{}s:11:\"description\";s:85:\"JSON
  template for a set of custom properties (i.e. all fields in a particular schema)\";s:4:\"type\";s:6:\"object\";}s:9:\"UserEmail\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"JSON
  template for an email.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"address\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Email
  id of the user.\";s:4:\"type\";s:6:\"string\";}s:10:\"customType\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Custom
  Type.\";s:4:\"type\";s:6:\"string\";}s:7:\"primary\";O:8:\"stdClass\":2:{s:11:\"description\";s:75:\"If
  this is user's primary email. Only one entry could be marked as primary.\";s:4:\"type\";s:7:\"boolean\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:289:\"Each
  entry can have a type which indicates standard types of that entry. For example
  email could be of home, work etc. In addition to the standard type, an entry can
  have a custom type and can take any value Such types should have the CUSTOM value
  as type and also have a customType value.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"UserExternalId\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"JSON
  template for an externalId entry.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"customType\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Custom
  type.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"The
  type of the Id.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"The
  value of the id.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"UserIm\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"JSON
  template for instant messenger of an user.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:14:\"customProtocol\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Custom
  protocol.\";s:4:\"type\";s:6:\"string\";}s:10:\"customType\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Custom
  type.\";s:4:\"type\";s:6:\"string\";}s:2:\"im\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Instant
  messenger id.\";s:4:\"type\";s:6:\"string\";}s:7:\"primary\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"If
  this is user's primary im. Only one entry could be marked as primary.\";s:4:\"type\";s:7:\"boolean\";}s:8:\"protocol\";O:8:\"stdClass\":2:{s:11:\"description\";s:193:\"Protocol
  used in the instant messenger. It should be one of the values from ImProtocolTypes
  map. Similar to type, it can take a CUSTOM value and specify the custom name in
  customProtocol field.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:303:\"Each
  entry can have a type which indicates standard types of that entry. For example
  instant messengers could be of home, work etc. In addition to the standard type,
  an entry can have a custom type and can take any value. Such types should have the
  CUSTOM value as type and also have a customType value.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"UserMakeAdmin\";O:8:\"stdClass\":3:{s:11:\"description\";s:83:\"JSON
  request template for setting/revoking admin status of a user in Directory API.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Boolean
  indicating new admin status of the user\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:8:\"UserName\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"JSON
  template for name of a user in Directory API.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"familyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:9:\"Last
  Name\";s:4:\"type\";s:6:\"string\";}s:8:\"fullName\";O:8:\"stdClass\":2:{s:11:\"description\";s:9:\"Full
  Name\";s:4:\"type\";s:6:\"string\";}s:9:\"givenName\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"First
  Name\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"UserOrganization\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"JSON
  template for an organization entry.\";s:10:\"properties\";O:8:\"stdClass\":11:{s:10:\"costCenter\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  cost center of the users department.\";s:4:\"type\";s:6:\"string\";}s:10:\"customType\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Custom
  type.\";s:4:\"type\";s:6:\"string\";}s:10:\"department\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Department
  within the organization.\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Description
  of the organization.\";s:4:\"type\";s:6:\"string\";}s:6:\"domain\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"The
  domain to which the organization belongs to.\";s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"Location
  of the organization. This need not be fully qualified address.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Name
  of the organization\";s:4:\"type\";s:6:\"string\";}s:7:\"primary\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"If
  it user's primary organization.\";s:4:\"type\";s:7:\"boolean\";}s:6:\"symbol\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Symbol
  of the organization.\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Title
  (designation) of the user in the organization.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:301:\"Each
  entry can have a type which indicates standard types of that entry. For example
  organization could be of school, work etc. In addition to the standard type, an
  entry can have a custom type and can give it any name. Such types should have the
  CUSTOM value as type and also have a CustomType value.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"UserPhone\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"JSON
  template for a phone entry.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"customType\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Custom
  Type.\";s:4:\"type\";s:6:\"string\";}s:7:\"primary\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"If
  this is user's primary phone or not.\";s:4:\"type\";s:7:\"boolean\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:304:\"Each
  entry can have a type which indicates standard types of that entry. For example
  phone could be of home_fax, work, mobile etc. In addition to the standard type,
  an entry can have a custom type and can give it any name. Such types should have
  the CUSTOM value as type and also have a customType value.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Phone
  number.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"UserPhoto\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"JSON
  template for Photo object in Directory API.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"ETag
  of the resource.\";s:4:\"type\";s:6:\"string\";}s:6:\"height\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Height
  in pixels of the photo\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Unique
  identifier of User (Read-only)\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:26:\"admin#directory#user#photo\";s:11:\"description\";s:25:\"Kind
  of resource this is.\";s:4:\"type\";s:6:\"string\";}s:8:\"mimeType\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Mime
  Type of the photo\";s:4:\"type\";s:6:\"string\";}s:9:\"photoData\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Base64
  encoded photo data\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}s:12:\"primaryEmail\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Primary
  email of User (Read-only)\";s:4:\"type\";s:6:\"string\";}s:5:\"width\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Width
  in pixels of the photo\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:12:\"UserRelation\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"JSON
  template for a relation entry.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"customType\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Custom
  Type.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:119:\"The
  relation of the user. Some of the possible values are mother, father, sister, brother,
  manager, assistant, partner.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  name of the relation.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"UserUndelete\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"JSON
  request template to undelete a user in Directory API.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"orgUnitPath\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"OrgUnit
  of User\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"UserWebsite\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"JSON
  template for a website entry.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"customType\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Custom
  Type.\";s:4:\"type\";s:6:\"string\";}s:7:\"primary\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"If
  this is user's primary website or not.\";s:4:\"type\";s:7:\"boolean\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:300:\"Each
  entry can have a type which indicates standard types of that entry. For example
  website could be of home, work, blog etc. In addition to the standard type, an entry
  can have a custom type and can give it any name. Such types should have the CUSTOM
  value as type and also have a customType value.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:8:\"Website.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Users\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"JSON
  response template for List Users operation in Apps Directory API.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"ETag
  of the resource.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:21:\"admin#directory#users\";s:11:\"description\";s:25:\"Kind
  of resource this is.\";s:4:\"type\";s:6:\"string\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Token
  used to access next page of this result.\";s:4:\"type\";s:6:\"string\";}s:13:\"trigger_event\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"Event
  that triggered this response (only used in case of Push Response)\";s:4:\"type\";s:6:\"string\";}s:5:\"users\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"List
  of user objects.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/User\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:16:\"VerificationCode\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"JSON
  template for verification codes in Directory API.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"ETag
  of the resource.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:32:\"admin#directory#verificationCode\";s:11:\"description\";s:74:\"The
  type of the resource. This is always admin#directory#verificationCode.\";s:4:\"type\";s:6:\"string\";}s:6:\"userId\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  obfuscated unique ID of the user.\";s:4:\"type\";s:6:\"string\";}s:16:\"verificationCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:120:\"A
  current verification code for the user. Invalidated or used verification codes are
  not returned as part of the result.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"VerificationCodes\";O:8:\"stdClass\":3:{s:11:\"description\";s:78:\"JSON
  response template for List verification codes operation in Directory API.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"ETag
  of the resource.\";s:4:\"type\";s:6:\"string\";}s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"A
  list of verification code resources.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/VerificationCode\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:37:\"admin#directory#verificationCodesList\";s:11:\"description\";s:79:\"The
  type of the resource. This is always admin#directory#verificationCodesList.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
