---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Google\";s:3:\"url\";s:18:\"https://google.com\";}s:11:\"description\";s:127:\"Fetches
  reports for the administrators of G Suite customers about the usage, collaboration,
  security, and risk for their users.\";s:5:\"title\";s:13:\"Admin Reports\";s:7:\"version\";s:10:\"reports_v1\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:37:\"https://console.developers.google.com\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:9:\"analytics\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:71:\"https://www.gstatic.com/images/icons/material/product/2x/admin_64dp.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.6.0\";}s:6:\"format\";s:6:\"google\";s:3:\"url\";s:66:\"https://www.googleapis.com/discovery/v1/apis/admin/reports_v1/rest\";s:7:\"version\";s:2:\"v1\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"googleapis.com\";s:13:\"x-serviceName\";s:5:\"admin\";}"
host: www.googleapis.com
basePath: /admin/reports/v1
paths:
  /activity/users/{userKey}/applications/{applicationName}:
    get:
      description: Retrieves a list of activities for a specific customer and application.
      operationId: reports.activities.list
      parameters:
      - description: Represents the profile id or the user email for which the data
          should be filtered. When 'all' is specified as the userKey, it returns usageReports
          for all users.
        in: path
        name: userKey
        required: true
        type: string
      - description: Application name for which the events are to be retrieved.
        in: path
        name: applicationName
        required: true
        type: string
      - description: IP Address of host where the event was performed. Supports both
          IPv4 and IPv6 addresses.
        in: query
        name: actorIpAddress
        type: string
      - description: Represents the customer for which the data is to be fetched.
        in: query
        name: customerId
        type: string
      - description: Return events which occurred at or before this time.
        in: query
        name: endTime
        type: string
      - description: Name of the event being queried.
        in: query
        name: eventName
        type: string
      - description: Event parameters in the form [parameter1 name][operator][parameter1
          value],[parameter2 name][operator][parameter2 value],...
        in: query
        name: filters
        type: string
      - description: Number of activity records to be shown in each page.
        in: query
        maximum: 1000
        minimum: 1
        name: maxResults
        type: integer
      - description: Token to specify next page.
        in: query
        name: pageToken
        type: string
      - description: Return events which occurred at or after this time.
        in: query
        name: startTime
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Activities'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/admin.reports.audit.readonly
      tags:
      - activities
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
  /activity/users/{userKey}/applications/{applicationName}/watch:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Push changes to activities
      operationId: reports.activities.watch
      parameters:
      - description: Represents the profile id or the user email for which the data
          should be filtered. When 'all' is specified as the userKey, it returns usageReports
          for all users.
        in: path
        name: userKey
        required: true
        type: string
      - description: Application name for which the events are to be retrieved.
        in: path
        name: applicationName
        required: true
        type: string
      - description: IP Address of host where the event was performed. Supports both
          IPv4 and IPv6 addresses.
        in: query
        name: actorIpAddress
        type: string
      - description: Represents the customer for which the data is to be fetched.
        in: query
        name: customerId
        type: string
      - description: Return events which occurred at or before this time.
        in: query
        name: endTime
        type: string
      - description: Name of the event being queried.
        in: query
        name: eventName
        type: string
      - description: Event parameters in the form [parameter1 name][operator][parameter1
          value],[parameter2 name][operator][parameter2 value],...
        in: query
        name: filters
        type: string
      - description: Number of activity records to be shown in each page.
        in: query
        maximum: 1000
        minimum: 1
        name: maxResults
        type: integer
      - description: Token to specify next page.
        in: query
        name: pageToken
        type: string
      - description: Return events which occurred at or after this time.
        in: query
        name: startTime
        type: string
      - in: body
        name: resource
        schema:
          $ref: '#/definitions/Channel'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Channel'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/admin.reports.audit.readonly
      tags:
      - activities
  /admin/reports_v1/channels/stop:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Stop watching resources through this channel
      operationId: admin.channels.stop
      parameters:
      - in: body
        name: resource
        schema:
          $ref: '#/definitions/Channel'
      responses:
        200:
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/admin.reports.audit.readonly
      tags:
      - channels
  /usage/dates/{date}:
    get:
      description: Retrieves a report which is a collection of properties / statistics
        for a specific customer.
      operationId: reports.customerUsageReports.get
      parameters:
      - description: Represents the date in yyyy-mm-dd format for which the data is
          to be fetched.
        in: path
        name: date
        required: true
        type: string
      - description: Represents the customer for which the data is to be fetched.
        in: query
        name: customerId
        type: string
      - description: Token to specify next page.
        in: query
        name: pageToken
        type: string
      - description: Represents the application name, parameter name pairs to fetch
          in csv as app_name1:param_name1, app_name2:param_name2.
        in: query
        name: parameters
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/UsageReports'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/admin.reports.usage.readonly
      tags:
      - customerUsageReports
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
  /usage/users/{userKey}/dates/{date}:
    get:
      description: Retrieves a report which is a collection of properties / statistics
        for a set of users.
      operationId: reports.userUsageReport.get
      parameters:
      - description: Represents the profile id or the user email for which the data
          should be filtered.
        in: path
        name: userKey
        required: true
        type: string
      - description: Represents the date in yyyy-mm-dd format for which the data is
          to be fetched.
        in: path
        name: date
        required: true
        type: string
      - description: Represents the customer for which the data is to be fetched.
        in: query
        name: customerId
        type: string
      - description: Represents the set of filters including parameter operator value.
        in: query
        name: filters
        type: string
      - description: Maximum number of results to return. Maximum allowed is 1000
        in: query
        maximum: 1000
        name: maxResults
        type: integer
      - description: Token to specify next page.
        in: query
        name: pageToken
        type: string
      - description: Represents the application name, parameter name pairs to fetch
          in csv as app_name1:param_name1, app_name2:param_name2.
        in: query
        name: parameters
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/UsageReports'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/admin.reports.usage.readonly
      tags:
      - userUsageReport
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":5:{s:10:\"Activities\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"JSON
  template for a collection of activites.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"ETag
  of the resource.\";s:4:\"type\";s:6:\"string\";}s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Each
  record in read response.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Activity\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:24:\"admin#reports#activities\";s:11:\"description\";s:30:\"Kind
  of list response this is.\";s:4:\"type\";s:6:\"string\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Token
  for retrieving the next page\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Activity\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"JSON
  template for the activity resource.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:5:\"actor\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"User
  doing the action.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"callerType\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"User
  or OAuth 2LO request.\";s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Email
  address of the user.\";s:4:\"type\";s:6:\"string\";}s:3:\"key\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"For
  OAuth 2LO API requests, consumer_key of the requestor.\";s:4:\"type\";s:6:\"string\";}s:9:\"profileId\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Obfuscated
  user id of the user.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"ETag
  of the entry.\";s:4:\"type\";s:6:\"string\";}s:6:\"events\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Activity
  events.\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Name
  of event.\";s:4:\"type\";s:6:\"string\";}s:10:\"parameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Parameter
  value pairs for various applications.\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:9:\"boolValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Boolean
  value of the parameter.\";s:4:\"type\";s:7:\"boolean\";}s:8:\"intValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Integral
  value of the parameter.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:13:\"multiIntValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Multi-int
  value of the parameter.\";s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:10:\"multiValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Multi-string
  value of the parameter.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  name of the parameter.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"String
  value of the parameter.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Type
  of event.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Unique
  identifier for each activity record.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:15:\"applicationName\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Application
  name to which the event belongs.\";s:4:\"type\";s:6:\"string\";}s:10:\"customerId\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Obfuscated
  customer ID of the source customer.\";s:4:\"type\";s:6:\"string\";}s:4:\"time\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Time
  of occurrence of the activity.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:15:\"uniqueQualifier\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"Unique
  qualifier if multiple events have the same time.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"ipAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"IP
  Address of the user doing the action.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:22:\"admin#reports#activity\";s:11:\"description\";s:25:\"Kind
  of resource this is.\";s:4:\"type\";s:6:\"string\";}s:11:\"ownerDomain\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Domain
  of source customer.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Channel\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"An
  notification channel used to watch for resource changes.\";s:10:\"properties\";O:8:\"stdClass\":10:{s:7:\"address\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"The
  address where notifications are delivered for this channel.\";s:4:\"type\";s:6:\"string\";}s:10:\"expiration\";O:8:\"stdClass\":3:{s:11:\"description\";s:107:\"Date
  and time of notification channel expiration, expressed as a Unix timestamp, in milliseconds.
  Optional.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"A
  UUID or similar unique string that identifies this channel.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:11:\"api#channel\";s:11:\"description\";s:121:\"Identifies
  this as a notification channel used to watch for changes to a resource. Value: the
  fixed string \"api#channel\".\";s:4:\"type\";s:6:\"string\";}s:6:\"params\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Declares
  a new parameter by name.\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:70:\"Additional
  parameters controlling delivery channel behavior. Optional.\";s:4:\"type\";s:6:\"object\";}s:7:\"payload\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"A
  Boolean value to indicate whether payload is wanted. Optional.\";s:4:\"type\";s:7:\"boolean\";}s:10:\"resourceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:110:\"An
  opaque ID that identifies the resource being watched on this channel. Stable across
  different API versions.\";s:4:\"type\";s:6:\"string\";}s:11:\"resourceUri\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"A
  version-specific identifier for the watched resource.\";s:4:\"type\";s:6:\"string\";}s:5:\"token\";O:8:\"stdClass\":2:{s:11:\"description\";s:113:\"An
  arbitrary string delivered to the target address with each notification delivered
  over this channel. Optional.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"The
  type of delivery mechanism used for this channel.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"UsageReport\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"JSON
  template for a usage report.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"date\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"The
  date to which the record belongs.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:6:\"entity\";O:8:\"stdClass\":4:{s:11:\"description\";s:39:\"Information
  about the type of the item.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"customerId\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Obfuscated
  customer id for the record.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:9:\"profileId\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Obfuscated
  user id for the record.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"The
  type of item, can be a customer or user.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:9:\"userEmail\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"user's
  email.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"object\";}s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"ETag
  of the resource.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:25:\"admin#reports#usageReport\";s:11:\"description\";s:19:\"The
  kind of object.\";s:4:\"type\";s:6:\"string\";}s:10:\"parameters\";O:8:\"stdClass\":4:{s:11:\"description\";s:47:\"Parameter
  value pairs for various applications.\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:9:\"boolValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Boolean
  value of the parameter.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:13:\"datetimeValue\";O:8:\"stdClass\":4:{s:11:\"description\";s:42:\"RFC
  3339 formatted value of the parameter.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"intValue\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"Integral
  value of the parameter.\";s:6:\"format\";s:5:\"int64\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"msgValue\";O:8:\"stdClass\":4:{s:11:\"description\";s:38:\"Nested
  message value of the parameter.\";s:5:\"items\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  name of the parameter.\";s:4:\"type\";s:6:\"string\";}s:11:\"stringValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"String
  value of the parameter.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:12:\"UsageReports\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"JSON
  template for a collection of usage reports.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"ETag
  of the resource.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:26:\"admin#reports#usageReports\";s:11:\"description\";s:19:\"The
  kind of object.\";s:4:\"type\";s:6:\"string\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Token
  for retrieving the next page\";s:4:\"type\";s:6:\"string\";}s:12:\"usageReports\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Various
  application parameter records.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/UsageReport\";}s:4:\"type\";s:5:\"array\";}s:8:\"warnings\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Warnings
  if any.\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Machine
  readable code / warning type.\";s:4:\"type\";s:6:\"string\";}s:4:\"data\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"Key-Value
  pairs to give detailed information on the warning.\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":2:{s:11:\"description\";s:81:\"Key
  associated with a key-value pair to give detailed information on the warning.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:83:\"Value
  associated with a key-value pair to give detailed information on the warning.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Human
  readable message for the warning.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}}"
...
