---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Google\";s:3:\"url\";s:18:\"https://google.com\";}s:11:\"description\";s:116:\"Generates
  performance reports, generates ad codes, and provides publisher management capabilities
  for AdSense Hosts.\";s:5:\"title\";s:12:\"AdSense Host\";s:7:\"version\";s:4:\"v4.1\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:37:\"https://console.developers.google.com\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:116:\"https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.6.2\";}s:6:\"format\";s:6:\"google\";s:3:\"url\";s:66:\"https://www.googleapis.com/discovery/v1/apis/adsensehost/v4.1/rest\";s:7:\"version\";s:2:\"v1\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"googleapis.com\";s:13:\"x-serviceName\";s:11:\"adsensehost\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"google_adsensehost\";s:4:\"type\";s:7:\"openapi\";}}"
host: www.googleapis.com
basePath: /adsensehost/v4.1
paths: ~
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":14:{s:7:\"Account\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Unique
  identifier of this account.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:19:\"adsensehost#account\";s:11:\"description\";s:59:\"Kind
  of resource this is, in this case adsensehost#account.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Name
  of this account.\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"Approval
  status of this account. One of: PENDING, APPROVED, DISABLED.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Accounts\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"ETag
  of this response for caching purposes.\";s:4:\"type\";s:6:\"string\";}s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"The
  accounts returned in this list response.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Account\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:20:\"adsensehost#accounts\";s:11:\"description\";s:56:\"Kind
  of list this is, in this case adsensehost#accounts.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"AdClient\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"arcOptIn\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Whether
  this ad client is opted in to ARC.\";s:4:\"type\";s:7:\"boolean\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Unique
  identifier of this ad client.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:20:\"adsensehost#adClient\";s:11:\"description\";s:60:\"Kind
  of resource this is, in this case adsensehost#adClient.\";s:4:\"type\";s:6:\"string\";}s:11:\"productCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:86:\"This
  ad client's product code, which corresponds to the PRODUCT_CODE report dimension.\";s:4:\"type\";s:6:\"string\";}s:17:\"supportsReporting\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Whether
  this ad client supports being reported on.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:9:\"AdClients\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"ETag
  of this response for caching purposes.\";s:4:\"type\";s:6:\"string\";}s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  ad clients returned in this list response.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/AdClient\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:21:\"adsensehost#adClients\";s:11:\"description\";s:57:\"Kind
  of list this is, in this case adsensehost#adClients.\";s:4:\"type\";s:6:\"string\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:139:\"Continuation
  token used to page through ad clients. To retrieve the next page of results, set
  the next request's \"pageToken\" value to this.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"AdCode\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"adCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"The
  ad code snippet.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:18:\"adsensehost#adCode\";s:11:\"description\";s:46:\"Kind
  this is, in this case adsensehost#adCode.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"AdStyle\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"colors\";O:8:\"stdClass\":3:{s:11:\"description\";s:145:\"The
  colors included in the style. These are represented as six hexadecimal characters,
  similar to HTML color codes, but without the leading hash.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"background\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  color of the ad background.\";s:4:\"type\";s:6:\"string\";}s:6:\"border\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  color of the ad border.\";s:4:\"type\";s:6:\"string\";}s:4:\"text\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  color of the ad text.\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  color of the ad title.\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  color of the ad url.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"corners\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"The
  style of the corners in the ad (deprecated: never populated, ignored).\";s:4:\"type\";s:6:\"string\";}s:4:\"font\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  font which is included in the style.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"family\";O:8:\"stdClass\":2:{s:11:\"description\";s:118:\"The
  family of the font. Possible values are: ACCOUNT_DEFAULT_FAMILY, ADSENSE_DEFAULT_FAMILY,
  ARIAL, TIMES and VERDANA.\";s:4:\"type\";s:6:\"string\";}s:4:\"size\";O:8:\"stdClass\":2:{s:11:\"description\";s:111:\"The
  size of the font. Possible values are: ACCOUNT_DEFAULT_SIZE, ADSENSE_DEFAULT_SIZE,
  SMALL, MEDIUM and LARGE.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:19:\"adsensehost#adStyle\";s:11:\"description\";s:47:\"Kind
  this is, in this case adsensehost#adStyle.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"AdUnit\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"Identity
  code of this ad unit, not necessarily unique across ad clients.\";s:4:\"type\";s:6:\"string\";}s:18:\"contentAdsSettings\";O:8:\"stdClass\":3:{s:11:\"description\";s:90:\"Settings
  specific to content ads (AFC) and highend mobile content ads (AFMC - deprecated).\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"backupOption\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"The
  backup option to be used in instances where no ad is available.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"color\";O:8:\"stdClass\":2:{s:11:\"description\";s:151:\"Color
  to use when type is set to COLOR. These are represented as six hexadecimal characters,
  similar to HTML color codes, but without the leading hash.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"Type
  of the backup option. Possible values are BLANK, COLOR and URL.\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"URL
  to use when type is set to URL.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"size\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"Size
  of this ad unit. Size values are in the form SIZE_{width}_{height}.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:75:\"Type
  of this ad unit. Possible values are TEXT, TEXT_IMAGE, IMAGE and LINK.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"customStyle\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/AdStyle\";s:11:\"description\";s:50:\"Custom
  style information specific to this ad unit.\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:143:\"Unique
  identifier of this ad unit. This should be considered an opaque identifier; it is
  not safe to rely on it being in any particular format.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:18:\"adsensehost#adUnit\";s:11:\"description\";s:58:\"Kind
  of resource this is, in this case adsensehost#adUnit.\";s:4:\"type\";s:6:\"string\";}s:24:\"mobileContentAdsSettings\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"Settings
  specific to WAP mobile content ads (AFMC - deprecated).\";s:10:\"properties\";O:8:\"stdClass\":4:{s:14:\"markupLanguage\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"The
  markup language to use for this ad unit.\";s:4:\"type\";s:6:\"string\";}s:17:\"scriptingLanguage\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"The
  scripting language to use for this ad unit.\";s:4:\"type\";s:6:\"string\";}s:4:\"size\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Size
  of this ad unit.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Type
  of this ad unit.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Name
  of this ad unit.\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:351:\"Status
  of this ad unit. Possible values are:\nNEW: Indicates that the ad unit was created
  within the last seven days and does not yet have any activity associated with it.\n\nACTIVE:
  Indicates that there has been activity on this ad unit in the last seven days.\n\nINACTIVE:
  Indicates that there has been no activity on this ad unit in the last seven days.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"AdUnits\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"ETag
  of this response for caching purposes.\";s:4:\"type\";s:6:\"string\";}s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"The
  ad units returned in this list response.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/AdUnit\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:19:\"adsensehost#adUnits\";s:11:\"description\";s:55:\"Kind
  of list this is, in this case adsensehost#adUnits.\";s:4:\"type\";s:6:\"string\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:137:\"Continuation
  token used to page through ad units. To retrieve the next page of results, set the
  next request's \"pageToken\" value to this.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"AssociationSession\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:9:\"accountId\";O:8:\"stdClass\":2:{s:11:\"description\";s:95:\"Hosted
  account id of the associated publisher after association. Present if status is ACCEPTED.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Unique
  identifier of this association session.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:30:\"adsensehost#associationSession\";s:11:\"description\";s:70:\"Kind
  of resource this is, in this case adsensehost#associationSession.\";s:4:\"type\";s:6:\"string\";}s:12:\"productCodes\";O:8:\"stdClass\":3:{s:11:\"description\";s:100:\"The
  products to associate with the user. Options: AFC, AFG, AFV, AFS (deprecated), AFMC
  (deprecated)\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:11:\"redirectUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:99:\"Redirect
  URL of this association session. Used to redirect users into the AdSense association
  flow.\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:138:\"Status
  of the completed association, available once the association callback token has
  been verified. One of ACCEPTED, REJECTED, or ERROR.\";s:4:\"type\";s:6:\"string\";}s:10:\"userLocale\";O:8:\"stdClass\":2:{s:11:\"description\";s:92:\"The
  preferred locale of the user themselves when going through the AdSense association
  flow.\";s:4:\"type\";s:6:\"string\";}s:13:\"websiteLocale\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  locale of the user's hosted website.\";s:4:\"type\";s:6:\"string\";}s:10:\"websiteUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  URL of the user's hosted website.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"CustomChannel\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"Code
  of this custom channel, not necessarily unique across ad clients.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:150:\"Unique
  identifier of this custom channel. This should be considered an opaque identifier;
  it is not safe to rely on it being in any particular format.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:25:\"adsensehost#customChannel\";s:11:\"description\";s:65:\"Kind
  of resource this is, in this case adsensehost#customChannel.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Name
  of this custom channel.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"CustomChannels\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"ETag
  of this response for caching purposes.\";s:4:\"type\";s:6:\"string\";}s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  custom channels returned in this list response.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/CustomChannel\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:26:\"adsensehost#customChannels\";s:11:\"description\";s:62:\"Kind
  of list this is, in this case adsensehost#customChannels.\";s:4:\"type\";s:6:\"string\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:144:\"Continuation
  token used to page through custom channels. To retrieve the next page of results,
  set the next request's \"pageToken\" value to this.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Report\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:8:\"averages\";O:8:\"stdClass\":3:{s:11:\"description\";s:135:\"The
  averages of the report. This is the same length as any other row in the report;
  cells corresponding to dimension columns are empty.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"headers\";O:8:\"stdClass\":3:{s:11:\"description\";s:176:\"The
  header information of the columns requested in the report. This is a list of headers;
  one for each dimension in the request, followed by one for each metric in the request.\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"currency\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"The
  currency of this column. Only present if the header type is METRIC_CURRENCY.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  name of the header.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:89:\"The
  type of the header; one of DIMENSION, METRIC_TALLY, METRIC_RATIO, or METRIC_CURRENCY.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:18:\"adsensehost#report\";s:11:\"description\";s:46:\"Kind
  this is, in this case adsensehost#report.\";s:4:\"type\";s:6:\"string\";}s:4:\"rows\";O:8:\"stdClass\":3:{s:11:\"description\";s:221:\"The
  output rows of the report. Each row is a list of cells; one for each dimension in
  the request, followed by one for each metric in the request. The dimension cells
  contain strings, and the metric cells contain numbers.\";s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";s:5:\"array\";}s:16:\"totalMatchedRows\";O:8:\"stdClass\":3:{s:11:\"description\";s:171:\"The
  total number of rows matched by the report request. Fewer rows may be returned in
  the response due to being limited by the row count requested or the report row limit.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:6:\"totals\";O:8:\"stdClass\":3:{s:11:\"description\";s:133:\"The
  totals of the report. This is the same length as any other row in the report; cells
  corresponding to dimension columns are empty.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:8:\"warnings\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"Any
  warnings associated with generation of the report.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:10:\"UrlChannel\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:147:\"Unique
  identifier of this URL channel. This should be considered an opaque identifier;
  it is not safe to rely on it being in any particular format.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:22:\"adsensehost#urlChannel\";s:11:\"description\";s:62:\"Kind
  of resource this is, in this case adsensehost#urlChannel.\";s:4:\"type\";s:6:\"string\";}s:10:\"urlPattern\";O:8:\"stdClass\":2:{s:11:\"description\";s:104:\"URL
  Pattern of this URL channel. Does not include \"http://\" or \"https://\". Example:
  www.example.com/home\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"UrlChannels\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"ETag
  of this response for caching purposes.\";s:4:\"type\";s:6:\"string\";}s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"The
  URL channels returned in this list response.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/UrlChannel\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:23:\"adsensehost#urlChannels\";s:11:\"description\";s:59:\"Kind
  of list this is, in this case adsensehost#urlChannels.\";s:4:\"type\";s:6:\"string\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:141:\"Continuation
  token used to page through URL channels. To retrieve the next page of results, set
  the next request's \"pageToken\" value to this.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
