---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Google\";s:3:\"url\";s:18:\"https://google.com\";}s:11:\"description\";s:38:\"Accesses
  Google Cloud Monitoring data.\";s:5:\"title\";s:16:\"Cloud Monitoring\";s:7:\"version\";s:7:\"v2beta2\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:37:\"https://console.developers.google.com\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:90:\"https://api.apis.guru/v2/cache/logo/https_cloud.google.com__static_images_new-gcp-logo.png\";}s:8:\"x-origin\";O:8:\"stdClass\":3:{s:6:\"format\";s:6:\"google\";s:3:\"url\";s:73:\"https://www.googleapis.com/discovery/v1/apis/cloudmonitoring/v2beta2/rest\";s:7:\"version\";s:2:\"v1\";}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"googleapis.com\";s:13:\"x-serviceName\";s:15:\"cloudmonitoring\";}"
host: www.googleapis.com
basePath: /cloudmonitoring/v2beta2/projects
paths:
  /{project}/metricDescriptors:
    get:
      description: List metric descriptors that match the query. If the query is not
        set, then all of the metric descriptors will be returned. Large responses
        will be paginated, use the nextPageToken returned in the response to request
        subsequent pages of results by setting the pageToken query parameter to the
        value of the nextPageToken.
      operationId: cloudmonitoring.metricDescriptors.list
      parameters:
      - description: The project id. The value can be the numeric project ID or string-based
          project name.
        in: path
        name: project
        required: true
        type: string
      - default: 100
        description: Maximum number of metric descriptors per page. Used for pagination.
          If not specified, count = 100.
        in: query
        maximum: 1000
        minimum: 1
        name: count
        type: integer
      - description: The pagination token, which is used to page through large result
          sets. Set this value to the value of the nextPageToken to retrieve the next
          page of results.
        in: query
        name: pageToken
        type: string
      - description: The query used to search against existing metrics. Separate keywords
          with a space; the service joins all keywords with AND, meaning that all
          keywords must match for a metric to be returned. If this field is omitted,
          all metrics are returned. If an empty string is passed with this field,
          no metrics are returned.
        in: query
        name: query
        type: string
      - in: body
        name: body
        schema:
          $ref: '#/definitions/ListMetricDescriptorsRequest'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ListMetricDescriptorsResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/monitoring
      tags:
      - metricDescriptors
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Create a new metric.
      operationId: cloudmonitoring.metricDescriptors.create
      parameters:
      - description: The project id. The value can be the numeric project ID or string-based
          project name.
        in: path
        name: project
        required: true
        type: string
      - in: body
        name: body
        schema:
          $ref: '#/definitions/MetricDescriptor'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/MetricDescriptor'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/monitoring
      tags:
      - metricDescriptors
  /{project}/metricDescriptors/{metric}:
    delete:
      description: Delete an existing metric.
      operationId: cloudmonitoring.metricDescriptors.delete
      parameters:
      - description: The project ID to which the metric belongs.
        in: path
        name: project
        required: true
        type: string
      - description: Name of the metric.
        in: path
        name: metric
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/DeleteMetricDescriptorResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/monitoring
      tags:
      - metricDescriptors
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
  /{project}/timeseries/{metric}:
    get:
      description: List the data points of the time series that match the metric and
        labels values and that have data points in the interval. Large responses are
        paginated; use the nextPageToken returned in the response to request subsequent
        pages of results by setting the pageToken query parameter to the value of
        the nextPageToken.
      operationId: cloudmonitoring.timeseries.list
      parameters:
      - description: The project ID to which this time series belongs. The value can
          be the numeric project ID or string-based project name.
        in: path
        name: project
        required: true
        type: string
      - description: Metric names are protocol-free URLs as listed in the Supported
          Metrics page. For example, compute.googleapis.com/instance/disk/read_ops_count.
        in: path
        name: metric
        required: true
        type: string
      - description: End of the time interval (inclusive), which is expressed as an
          RFC 3339 timestamp.
        in: query
        name: youngest
        required: true
        type: string
      - description: The aggregation function that will reduce the data points in
          each window to a single point. This parameter is only valid for non-cumulative
          metrics with a value type of INT64 or DOUBLE.
        enum:
        - max
        - mean
        - min
        - sum
        in: query
        name: aggregator
        type: string
      - default: 6000
        description: Maximum number of data points per page, which is used for pagination
          of results.
        in: query
        maximum: 12000
        minimum: 1
        name: count
        type: integer
      - collectionFormat: multi
        description: 'A collection of labels for the matching time series, which are
          represented as:  n- key==value: key equals the value n- key=~value: key
          regex matches the value n- key!=value: key does not equal the value n- key!~value:
          key regex does not match the value  For example, to list all of the time
          series descriptors for the region us-central1, you could specify:nlabel=cloud.googleapis.com%2Flocation=~us-central1.*'
        in: query
        items:
          type: string
        name: labels
        type: array
      - description: Start of the time interval (exclusive), which is expressed as
          an RFC 3339 timestamp. If neither oldest nor timespan is specified, the
          default time interval will be (youngest - 4 hours, youngest]
        in: query
        name: oldest
        type: string
      - description: The pagination token, which is used to page through large result
          sets. Set this value to the value of the nextPageToken to retrieve the next
          page of results.
        in: query
        name: pageToken
        type: string
      - description: 'Length of the time interval to query, which is an alternative
          way to declare the interval: (youngest - timespan, youngest]. The timespan
          and oldest parameters should not be used together. Units:  n- s: second
          n- m: minute n- h: hour n- d: day n- w: week  Examples: 2s, 3m, 4w. Only
          one unit is allowed, for example: 2w3d is not allowed; you should use 17d
          instead.nnIf neither oldest nor timespan is specified, the default time
          interval will be (youngest - 4 hours, youngest].'
        in: query
        name: timespan
        type: string
      - description: 'The sampling window. At most one data point will be returned
          for each window in the requested time interval. This parameter is only valid
          for non-cumulative metric types. Units:  n- m: minute n- h: hour n- d: day
          n- w: week  Examples: 3m, 4w. Only one unit is allowed, for example: 2w3d
          is not allowed; you should use 17d instead.'
        in: query
        name: window
        type: string
      - in: body
        name: body
        schema:
          $ref: '#/definitions/ListTimeseriesRequest'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ListTimeseriesResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/monitoring
      tags:
      - timeseries
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
  /{project}/timeseries:write:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Put data points to one or more time series for one or more metrics.
        If a time series does not exist, a new time series will be created. It is
        not allowed to write a time series point that is older than the existing youngest
        point of that time series. Points that are older than the existing youngest
        point of that time series will be discarded silently. Therefore, users should
        make sure that points of a time series are written sequentially in the order
        of their end time.
      operationId: cloudmonitoring.timeseries.write
      parameters:
      - description: The project ID. The value can be the numeric project ID or string-based
          project name.
        in: path
        name: project
        required: true
        type: string
      - in: body
        name: body
        schema:
          $ref: '#/definitions/WriteTimeseriesRequest'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/WriteTimeseriesResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/monitoring
      tags:
      - timeseries
  /{project}/timeseriesDescriptors/{metric}:
    get:
      description: List the descriptors of the time series that match the metric and
        labels values and that have data points in the interval. Large responses are
        paginated; use the nextPageToken returned in the response to request subsequent
        pages of results by setting the pageToken query parameter to the value of
        the nextPageToken.
      operationId: cloudmonitoring.timeseriesDescriptors.list
      parameters:
      - description: The project ID to which this time series belongs. The value can
          be the numeric project ID or string-based project name.
        in: path
        name: project
        required: true
        type: string
      - description: Metric names are protocol-free URLs as listed in the Supported
          Metrics page. For example, compute.googleapis.com/instance/disk/read_ops_count.
        in: path
        name: metric
        required: true
        type: string
      - description: End of the time interval (inclusive), which is expressed as an
          RFC 3339 timestamp.
        in: query
        name: youngest
        required: true
        type: string
      - description: The aggregation function that will reduce the data points in
          each window to a single point. This parameter is only valid for non-cumulative
          metrics with a value type of INT64 or DOUBLE.
        enum:
        - max
        - mean
        - min
        - sum
        in: query
        name: aggregator
        type: string
      - default: 100
        description: Maximum number of time series descriptors per page. Used for
          pagination. If not specified, count = 100.
        in: query
        maximum: 1000
        minimum: 1
        name: count
        type: integer
      - collectionFormat: multi
        description: 'A collection of labels for the matching time series, which are
          represented as:  n- key==value: key equals the value n- key=~value: key
          regex matches the value n- key!=value: key does not equal the value n- key!~value:
          key regex does not match the value  For example, to list all of the time
          series descriptors for the region us-central1, you could specify:nlabel=cloud.googleapis.com%2Flocation=~us-central1.*'
        in: query
        items:
          type: string
        name: labels
        type: array
      - description: Start of the time interval (exclusive), which is expressed as
          an RFC 3339 timestamp. If neither oldest nor timespan is specified, the
          default time interval will be (youngest - 4 hours, youngest]
        in: query
        name: oldest
        type: string
      - description: The pagination token, which is used to page through large result
          sets. Set this value to the value of the nextPageToken to retrieve the next
          page of results.
        in: query
        name: pageToken
        type: string
      - description: 'Length of the time interval to query, which is an alternative
          way to declare the interval: (youngest - timespan, youngest]. The timespan
          and oldest parameters should not be used together. Units:  n- s: second
          n- m: minute n- h: hour n- d: day n- w: week  Examples: 2s, 3m, 4w. Only
          one unit is allowed, for example: 2w3d is not allowed; you should use 17d
          instead.nnIf neither oldest nor timespan is specified, the default time
          interval will be (youngest - 4 hours, youngest].'
        in: query
        name: timespan
        type: string
      - description: 'The sampling window. At most one data point will be returned
          for each window in the requested time interval. This parameter is only valid
          for non-cumulative metric types. Units:  n- m: minute n- h: hour n- d: day
          n- w: week  Examples: 3m, 4w. Only one unit is allowed, for example: 2w3d
          is not allowed; you should use 17d instead.'
        in: query
        name: window
        type: string
      - in: body
        name: body
        schema:
          $ref: '#/definitions/ListTimeseriesDescriptorsRequest'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ListTimeseriesDescriptorsResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/cloud-platform
      - Oauth2:
        - https://www.googleapis.com/auth/monitoring
      tags:
      - timeseriesDescriptors
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":21:{s:30:\"DeleteMetricDescriptorResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"The
  response of cloudmonitoring.metricDescriptors.delete.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:46:\"cloudmonitoring#deleteMetricDescriptorResponse\";s:11:\"description\";s:115:\"Identifies
  what kind of resource this is. Value: the fixed string \"cloudmonitoring#deleteMetricDescriptorResponse\".\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:28:\"ListMetricDescriptorsRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"The
  request of cloudmonitoring.metricDescriptors.list.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:44:\"cloudmonitoring#listMetricDescriptorsRequest\";s:11:\"description\";s:113:\"Identifies
  what kind of resource this is. Value: the fixed string \"cloudmonitoring#listMetricDescriptorsRequest\".\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:29:\"ListMetricDescriptorsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"The
  response of cloudmonitoring.metricDescriptors.list.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:45:\"cloudmonitoring#listMetricDescriptorsResponse\";s:11:\"description\";s:114:\"Identifies
  what kind of resource this is. Value: the fixed string \"cloudmonitoring#listMetricDescriptorsResponse\".\";s:4:\"type\";s:6:\"string\";}s:7:\"metrics\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"The
  returned metric descriptors.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/MetricDescriptor\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:191:\"Pagination
  token. If present, indicates that additional results are available for retrieval.
  To access the results past the pagination limit, pass this value to the pageToken
  query parameter.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:32:\"ListTimeseriesDescriptorsRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"The
  request of cloudmonitoring.timeseriesDescriptors.list\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:48:\"cloudmonitoring#listTimeseriesDescriptorsRequest\";s:11:\"description\";s:117:\"Identifies
  what kind of resource this is. Value: the fixed string \"cloudmonitoring#listTimeseriesDescriptorsRequest\".\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:33:\"ListTimeseriesDescriptorsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"The
  response of cloudmonitoring.timeseriesDescriptors.list\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:49:\"cloudmonitoring#listTimeseriesDescriptorsResponse\";s:11:\"description\";s:118:\"Identifies
  what kind of resource this is. Value: the fixed string \"cloudmonitoring#listTimeseriesDescriptorsResponse\".\";s:4:\"type\";s:6:\"string\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:190:\"Pagination
  token. If present, indicates that additional results are available for retrieval.
  To access the results past the pagination limit, set this value to the pageToken
  query parameter.\";s:4:\"type\";s:6:\"string\";}s:6:\"oldest\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"The
  oldest timestamp of the interval of this query, as an RFC 3339 string.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:10:\"timeseries\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"The
  returned time series descriptors.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/TimeseriesDescriptor\";}s:4:\"type\";s:5:\"array\";}s:8:\"youngest\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"The
  youngest timestamp of the interval of this query, as an RFC 3339 string.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"ListTimeseriesRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  request of cloudmonitoring.timeseries.list\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:37:\"cloudmonitoring#listTimeseriesRequest\";s:11:\"description\";s:106:\"Identifies
  what kind of resource this is. Value: the fixed string \"cloudmonitoring#listTimeseriesRequest\".\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:22:\"ListTimeseriesResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  response of cloudmonitoring.timeseries.list\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:38:\"cloudmonitoring#listTimeseriesResponse\";s:11:\"description\";s:107:\"Identifies
  what kind of resource this is. Value: the fixed string \"cloudmonitoring#listTimeseriesResponse\".\";s:4:\"type\";s:6:\"string\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:300:\"Pagination
  token. If present, indicates that additional results are available for retrieval.
  To access the results past the pagination limit, set the pageToken query parameter
  to this value. All of the points of a time series will be returned before returning
  any point of the subsequent time series.\";s:4:\"type\";s:6:\"string\";}s:6:\"oldest\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"The
  oldest timestamp of the interval of this query as an RFC 3339 string.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:10:\"timeseries\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  returned time series.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Timeseries\";}s:4:\"type\";s:5:\"array\";}s:8:\"youngest\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"The
  youngest timestamp of the interval of this query as an RFC 3339 string.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"MetricDescriptor\";O:8:\"stdClass\":3:{s:11:\"description\";s:86:\"A
  metricDescriptor defines the name, label keys, and data type of a particular metric.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Description
  of this metric.\";s:4:\"type\";s:6:\"string\";}s:6:\"labels\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Labels
  defined for this metric.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/MetricDescriptorLabelDescriptor\";}s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  name of this metric.\";s:4:\"type\";s:6:\"string\";}s:7:\"project\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  project ID to which the metric belongs.\";s:4:\"type\";s:6:\"string\";}s:14:\"typeDescriptor\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/MetricDescriptorTypeDescriptor\";s:11:\"description\";s:33:\"Type
  description for this metric.\";}}s:4:\"type\";s:6:\"object\";}s:31:\"MetricDescriptorLabelDescriptor\";O:8:\"stdClass\":3:{s:11:\"description\";s:153:\"A
  label in a metric is a description of this metric, including the key of this description
  (what the description is), and the value for this description.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Label
  description.\";s:4:\"type\";s:6:\"string\";}s:3:\"key\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Label
  key.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:30:\"MetricDescriptorTypeDescriptor\";O:8:\"stdClass\":3:{s:11:\"description\";s:109:\"A
  type in a metric contains information about how the metric is collected and what
  its data points look like.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"metricType\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"The
  method of collecting data for the metric. See Metric types.\";s:4:\"type\";s:6:\"string\";}s:9:\"valueType\";O:8:\"stdClass\":2:{s:11:\"description\";s:90:\"The
  data type of of individual points in the metric's time series. See Metric value
  types.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Point\";O:8:\"stdClass\":3:{s:11:\"description\";s:96:\"Point
  is a single point in a time series. It consists of a start time, an end time, and
  a value.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:9:\"boolValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"The
  value of this data point. Either \"true\" or \"false\".\";s:4:\"type\";s:7:\"boolean\";}s:17:\"distributionValue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/PointDistribution\";s:11:\"description\";s:209:\"The
  value of this data point as a distribution. A distribution value can contain a list
  of buckets and/or an underflowBucket and an overflowBucket. The values of these
  points can be used to create a histogram.\";}s:11:\"doubleValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"The
  value of this data point as a double-precision floating-point number.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:3:\"end\";O:8:\"stdClass\":3:{s:11:\"description\";s:345:\"The
  interval [start, end] is the time period to which the point's value applies. For
  gauge metrics, whose values are instantaneous measurements, this interval should
  be empty (start should equal end). For cumulative metrics (of which deltas and rates
  are special cases), the interval should be non-empty. Both start and end are RFC
  3339 strings.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:10:\"int64Value\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  value of this data point as a 64-bit integer.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:5:\"start\";O:8:\"stdClass\":3:{s:11:\"description\";s:345:\"The
  interval [start, end] is the time period to which the point's value applies. For
  gauge metrics, whose values are instantaneous measurements, this interval should
  be empty (start should equal end). For cumulative metrics (of which deltas and rates
  are special cases), the interval should be non-empty. Both start and end are RFC
  3339 strings.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"stringValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"The
  value of this data point in string format.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"PointDistribution\";O:8:\"stdClass\":3:{s:11:\"description\";s:245:\"Distribution
  data point value type. When writing distribution points, try to be consistent with
  the boundaries of your buckets. If you must modify the bucket boundaries, then do
  so by merging, partitioning, or appending rather than skewing them.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"buckets\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"The
  finite buckets.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/PointDistributionBucket\";}s:4:\"type\";s:5:\"array\";}s:14:\"overflowBucket\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:45:\"#/definitions/PointDistributionOverflowBucket\";s:11:\"description\";s:20:\"The
  overflow bucket.\";}s:15:\"underflowBucket\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:46:\"#/definitions/PointDistributionUnderflowBucket\";s:11:\"description\";s:21:\"The
  underflow bucket.\";}}s:4:\"type\";s:6:\"object\";}s:23:\"PointDistributionBucket\";O:8:\"stdClass\":3:{s:11:\"description\";s:226:\"The
  histogram's bucket. Buckets that form the histogram of a distribution value. If
  the upper bound of a bucket, say U1, does not equal the lower bound of the next
  bucket, say L2, this means that there is no event in [U1, L2).\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"count\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"The
  number of events whose values are in the interval defined by this bucket.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:10:\"lowerBound\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"The
  lower bound of the value interval of this bucket (inclusive).\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:10:\"upperBound\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"The
  upper bound of the value interval of this bucket (exclusive).\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:31:\"PointDistributionOverflowBucket\";O:8:\"stdClass\":3:{s:11:\"description\";s:149:\"The
  overflow bucket is a special bucket that does not have the upperBound field; it
  includes all of the events that are no less than its lower bound.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"count\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"The
  number of events whose values are in the interval defined by this bucket.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:10:\"lowerBound\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"The
  lower bound of the value interval of this bucket (inclusive).\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:32:\"PointDistributionUnderflowBucket\";O:8:\"stdClass\":3:{s:11:\"description\";s:147:\"The
  underflow bucket is a special bucket that does not have the lowerBound field; it
  includes all of the events that are less than its upper bound.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"count\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"The
  number of events whose values are in the interval defined by this bucket.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:10:\"upperBound\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"The
  upper bound of the value interval of this bucket (exclusive).\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:10:\"Timeseries\";O:8:\"stdClass\":3:{s:11:\"description\";s:253:\"The
  monitoring data is organized as metrics and stored as data points that are recorded
  over time. Each data point represents information like the CPU utilization of your
  virtual machine. A historical record of these data points is called a time series.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"points\";O:8:\"stdClass\":3:{s:11:\"description\";s:114:\"The
  data points of this time series. The points are listed in order of their end timestamp,
  from younger to older.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Point\";}s:4:\"type\";s:5:\"array\";}s:14:\"timeseriesDesc\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/TimeseriesDescriptor\";s:11:\"description\";s:35:\"The
  descriptor of this time series.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"TimeseriesDescriptor\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"TimeseriesDescriptor
  identifies a single time series.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"labels\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"The
  label's name.\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:17:\"The label's
  name.\";s:4:\"type\";s:6:\"object\";}s:6:\"metric\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  name of the metric.\";s:4:\"type\";s:6:\"string\";}s:7:\"project\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"The
  Developers Console project number to which this time series belongs.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:25:\"TimeseriesDescriptorLabel\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"The
  label's name.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"The
  label's value.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"TimeseriesPoint\";O:8:\"stdClass\":3:{s:11:\"description\";s:157:\"When
  writing time series, TimeseriesPoint should be used instead of Timeseries, to enforce
  single point for each time series in the timeseries.write request.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"point\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Point\";s:11:\"description\";s:44:\"The
  data point in this time series snapshot.\";}s:14:\"timeseriesDesc\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/TimeseriesDescriptor\";s:11:\"description\";s:35:\"The
  descriptor of this time series.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"WriteTimeseriesRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  request of cloudmonitoring.timeseries.write\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"commonLabels\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"The
  label's name.\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:17:\"The label's
  name.\";s:4:\"type\";s:6:\"object\";}s:10:\"timeseries\";O:8:\"stdClass\":3:{s:11:\"description\";s:191:\"Provide
  time series specific labels and the data points for each time series. The labels
  in timeseries and the common_labels should form a complete list of labels that required
  by the metric.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/TimeseriesPoint\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:23:\"WriteTimeseriesResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"The
  response of cloudmonitoring.timeseries.write\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:39:\"cloudmonitoring#writeTimeseriesResponse\";s:11:\"description\";s:108:\"Identifies
  what kind of resource this is. Value: the fixed string \"cloudmonitoring#writeTimeseriesResponse\".\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
