---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Google\";s:3:\"url\";s:18:\"https://google.com\";}s:11:\"description\";s:77:\"Declares,
  configures, and deploys complex solutions on Google Cloud Platform.\";s:5:\"title\";s:31:\"Google
  Cloud Deployment Manager\";s:7:\"version\";s:2:\"v2\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:37:\"https://console.developers.google.com\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:90:\"https://api.apis.guru/v2/cache/logo/https_cloud.google.com__static_images_new-gcp-logo.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.6.2\";}s:6:\"format\";s:6:\"google\";s:3:\"url\";s:70:\"https://www.googleapis.com/discovery/v1/apis/deploymentmanager/v2/rest\";s:7:\"version\";s:2:\"v1\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"googleapis.com\";s:13:\"x-serviceName\";s:17:\"deploymentmanager\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:24:\"google_deploymentmanager\";s:4:\"type\";s:7:\"openapi\";}}"
host: www.googleapis.com
basePath: /deploymentmanager/v2/projects
paths: ~
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":35:{s:11:\"AuditConfig\";O:8:\"stdClass\":3:{s:11:\"description\";s:1089:\"Specifies
  the audit configuration for a service. The configuration determines which permission
  types are logged, and what identities, if any, are exempted from logging. An AuditConfig
  must have one or more AuditLogConfigs.\n\nIf there are AuditConfigs for both `allServices`
  and a specific service, the union of the two AuditConfigs is used for that service:
  the log_types specified in each AuditConfig are enabled, and the exempted_members
  in each AuditLogConfig are exempted.\n\nExample Policy with multiple AuditConfigs:\n\n{
  \"audit_configs\": [ { \"service\": \"allServices\" \"audit_log_configs\": [ { \"log_type\":
  \"DATA_READ\", \"exempted_members\": [ \"user:foo@gmail.com\" ] }, { \"log_type\":
  \"DATA_WRITE\", }, { \"log_type\": \"ADMIN_READ\", } ] }, { \"service\": \"fooservice.googleapis.com\"
  \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", }, { \"log_type\": \"DATA_WRITE\",
  \"exempted_members\": [ \"user:bar@gmail.com\" ] } ] } ] }\n\nFor fooservice, this
  policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts foo@gmail.com
  from DATA_READ logging, and bar@gmail.com from DATA_WRITE logging.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"auditLogConfigs\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"The
  configuration for logging of each type of permission.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/AuditLogConfig\";}s:4:\"type\";s:5:\"array\";}s:15:\"exemptedMembers\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"service\";O:8:\"stdClass\":2:{s:11:\"description\";s:184:\"Specifies
  a service that will be enabled for audit logging. For example, `storage.googleapis.com`,
  `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"AuditLogConfig\";O:8:\"stdClass\":3:{s:11:\"description\";s:311:\"Provides
  the configuration for logging a type of permissions. Example:\n\n{ \"audit_log_configs\":
  [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:foo@gmail.com\"
  ] }, { \"log_type\": \"DATA_WRITE\", } ] }\n\nThis enables 'DATA_READ' and 'DATA_WRITE'
  logging, while exempting foo@gmail.com from DATA_READ logging.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"exemptedMembers\";O:8:\"stdClass\":3:{s:11:\"description\";s:127:\"Specifies
  the identities that do not cause logging for this type of permission. Follows the
  same format of [Binding.members][].\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"logType\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  log type that this config enables.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:27:\"AuthorizationLoggingOptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"Authorization-related
  information used by Cloud Audit Logging.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"permissionType\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"The
  type of the permission that was checked.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Binding\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Associates
  `members` with a `role`.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"condition\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Expr\";s:11:\"description\";s:281:\"The
  condition that is associated with this binding. NOTE: an unsatisfied condition will
  not allow user access via current binding. Different bindings, including their conditions,
  are examined independently. This field is only visible as GOOGLE_INTERNAL or CONDITION_TRUSTED_TESTER.\";}s:7:\"members\";O:8:\"stdClass\":3:{s:11:\"description\";s:870:\"Specifies
  the identities requesting access for a Cloud Platform resource. `members` can have
  the following values:\n\n* `allUsers`: A special identifier that represents anyone
  who is on the internet; with or without a Google account.\n\n* `allAuthenticatedUsers`:
  A special identifier that represents anyone who is authenticated with a Google account
  or a service account.\n\n* `user:{emailid}`: An email address that represents a
  specific Google account. For example, `alice@gmail.com` .\n\n\n\n* `serviceAccount:{emailid}`:
  An email address that represents a service account. For example, `my-other-app@appspot.gserviceaccount.com`.\n\n*
  `group:{emailid}`: An email address that represents a Google group. For example,
  `admins@example.com`.\n\n\n\n* `domain:{domain}`: A Google Apps domain name that
  represents all the users of that domain. For example, `google.com` or `example.com`.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"role\";O:8:\"stdClass\":2:{s:11:\"description\";s:98:\"Role
  that is assigned to `members`. For example, `roles/viewer`, `roles/editor`, or `roles/owner`.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"Condition\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"A
  condition to be met.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:3:\"iam\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Trusted
  attributes supplied by the IAM system.\";s:4:\"type\";s:6:\"string\";}s:2:\"op\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"An
  operator to apply the subject with.\";s:4:\"type\";s:6:\"string\";}s:3:\"svc\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Trusted
  attributes discharged by the service.\";s:4:\"type\";s:6:\"string\";}s:3:\"sys\";O:8:\"stdClass\":2:{s:11:\"description\";s:106:\"Trusted
  attributes supplied by any service that owns resources and uses the IAM system for
  access control.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"DEPRECATED.
  Use 'values' instead.\";s:4:\"type\";s:6:\"string\";}s:6:\"values\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"The
  objects of the condition. This is mutually exclusive with 'value'.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:10:\"ConfigFile\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"content\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  contents of the file.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"Deployment\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:10:\"properties\";O:8:\"stdClass\":11:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"An
  optional user-provided description of the deployment.\";s:4:\"type\";s:6:\"string\";}s:11:\"fingerprint\";O:8:\"stdClass\":3:{s:11:\"description\";s:538:\"Provides
  a fingerprint to use in requests to modify a deployment, such as update(), stop(),
  and cancelPreview() requests. A fingerprint is a randomly generated value that must
  be provided with update(), stop(), and cancelPreview() requests to perform optimistic
  locking. This ensures optimistic concurrency so that only one request happens at
  a time.\n\nThe fingerprint is initially generated by Deployment Manager and changes
  after every request to modify data. To get the latest fingerprint value, perform
  a get() request to a deployment.\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"Output
  only. Unique identifier for the resource; defined by the server.\";s:6:\"format\";s:6:\"uint64\";s:4:\"type\";s:6:\"string\";}s:10:\"insertTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"Output
  only. Timestamp when the deployment was created, in RFC3339 text format .\";s:4:\"type\";s:6:\"string\";}s:6:\"labels\";O:8:\"stdClass\":3:{s:11:\"description\";s:352:\"Map
  of labels; provided by the client when the resource is created or updated. Specifically:
  Label keys must be between 1 and 63 characters long and must conform to the following
  regular expression: [a-z]([-a-z0-9]*[a-z0-9])? Label values must be between 0 and
  63 characters long and must conform to the regular expression ([a-z]([-a-z0-9]*[a-z0-9])?)?\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/DeploymentLabelEntry\";}s:4:\"type\";s:5:\"array\";}s:8:\"manifest\";O:8:\"stdClass\":2:{s:11:\"description\";s:95:\"Output
  only. URL of the manifest representing the last manifest that was successfully deployed.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:434:\"Name
  of the resource; provided by the client when the resource is created. The name must
  be 1-63 characters long, and comply with RFC1035. Specifically, the name must be
  1-63 characters long and match the regular expression [a-z]([-a-z0-9]*[a-z0-9])?
  which means the first character must be a lowercase letter, and all following characters
  must be a dash, lowercase letter, or digit, except the last character, which cannot
  be a dash.\";s:4:\"type\";s:6:\"string\";}s:9:\"operation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Operation\";s:11:\"description\";s:95:\"Output
  only. The Operation that most recently ran, or is currently running, on this deployment.\";}s:8:\"selfLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Output
  only. Self link for the deployment.\";s:4:\"type\";s:6:\"string\";}s:6:\"target\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/TargetConfiguration\";s:11:\"description\";s:119:\"[Input
  Only] The parameters that define your deployment, including the deployment configuration
  and relevant templates.\";}s:6:\"update\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/DeploymentUpdate\";s:11:\"description\";s:140:\"Output
  only. If Deployment Manager is currently updating or previewing an update to this
  deployment, the updated configuration appears here.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"DeploymentLabelEntry\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"DeploymentUpdate\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:111:\"Output
  only. An optional user-provided description of the deployment after the current
  update has been applied.\";s:4:\"type\";s:6:\"string\";}s:6:\"labels\";O:8:\"stdClass\":3:{s:11:\"description\";s:365:\"Output
  only. Map of labels; provided by the client when the resource is created or updated.
  Specifically: Label keys must be between 1 and 63 characters long and must conform
  to the following regular expression: [a-z]([-a-z0-9]*[a-z0-9])? Label values must
  be between 0 and 63 characters long and must conform to the regular expression ([a-z]([-a-z0-9]*[a-z0-9])?)?\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/DeploymentUpdateLabelEntry\";}s:4:\"type\";s:5:\"array\";}s:8:\"manifest\";O:8:\"stdClass\":2:{s:11:\"description\";s:90:\"Output
  only. URL of the manifest representing the update configuration of this deployment.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:26:\"DeploymentUpdateLabelEntry\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:31:\"DeploymentsCancelPreviewRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"fingerprint\";O:8:\"stdClass\":3:{s:11:\"description\";s:615:\"Specifies
  a fingerprint for cancelPreview() requests. A fingerprint is a randomly generated
  value that must be provided in cancelPreview() requests to perform optimistic locking.
  This ensures optimistic concurrency so that the deployment does not have conflicting
  requests (e.g. if someone attempts to make a new update request while another user
  attempts to cancel a preview, this would prevent one of the requests).\n\nThe fingerprint
  is initially generated by Deployment Manager and changes after every request to
  modify a deployment. To get the latest fingerprint value, perform a get() request
  on the deployment.\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:23:\"DeploymentsListResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:134:\"A
  response containing a partial list of deployments and a page token used to build
  the next request if the request has been truncated.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"deployments\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Output
  only. The deployments contained in this response.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Deployment\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"Output
  only. A token used to continue a truncated list request.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:22:\"DeploymentsStopRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"fingerprint\";O:8:\"stdClass\":3:{s:11:\"description\";s:603:\"Specifies
  a fingerprint for stop() requests. A fingerprint is a randomly generated value that
  must be provided in stop() requests to perform optimistic locking. This ensures
  optimistic concurrency so that the deployment does not have conflicting requests
  (e.g. if someone attempts to make a new update request while another user attempts
  to stop an ongoing update request, this would prevent a collision).\n\nThe fingerprint
  is initially generated by Deployment Manager and changes after every request to
  modify a deployment. To get the latest fingerprint value, perform a get() request
  on the deployment.\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Expr\";O:8:\"stdClass\":3:{s:11:\"description\";s:173:\"Represents
  an expression text. Example:\n\ntitle: \"User account presence\" description: \"Determines
  whether the request has a user account\" expression: \"size(request.user) > 0\"\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:131:\"An
  optional description of the expression. This is a longer text which describes the
  expression, e.g. when hovered over it in a UI.\";s:4:\"type\";s:6:\"string\";}s:10:\"expression\";O:8:\"stdClass\":2:{s:11:\"description\";s:189:\"Textual
  representation of an expression in Common Expression Language syntax.\n\nThe application
  context of the containing message determines which well-known feature set of CEL
  is supported.\";s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:126:\"An
  optional string indicating the location of the expression for error reporting, e.g.
  a file name and a position in the file.\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:147:\"An
  optional title for the expression, i.e. a short string describing its purpose. This
  can be used e.g. in UIs which allow to enter the expression.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:22:\"GlobalSetPolicyRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"bindings\";O:8:\"stdClass\":3:{s:11:\"description\";s:105:\"Flatten
  Policy to create a backwacd compatible wire-format. Deprecated. Use 'policy' to
  specify bindings.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Binding\";}s:4:\"type\";s:5:\"array\";}s:4:\"etag\";O:8:\"stdClass\":3:{s:11:\"description\";s:105:\"Flatten
  Policy to create a backward compatible wire-format. Deprecated. Use 'policy' to
  specify the etag.\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}s:6:\"policy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Policy\";s:11:\"description\";s:217:\"REQUIRED:
  The complete policy to be applied to the 'resource'. The size of the policy is limited
  to a few 10s of KB. An empty policy is in general a valid policy but certain services
  (like Projects) might reject them.\";}}s:4:\"type\";s:6:\"object\";}s:10:\"ImportFile\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"content\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  contents of the file.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  name of the file.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"LogConfig\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Specifies
  what kind of log the caller must write\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"cloudAudit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/LogConfigCloudAuditOptions\";s:11:\"description\";s:20:\"Cloud
  audit options.\";}s:7:\"counter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/LogConfigCounterOptions\";s:11:\"description\";s:16:\"Counter
  options.\";}s:10:\"dataAccess\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/LogConfigDataAccessOptions\";s:11:\"description\";s:20:\"Data
  access options.\";}}s:4:\"type\";s:6:\"object\";}s:26:\"LogConfigCloudAuditOptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Write
  a Cloud Audit log\";s:10:\"properties\";O:8:\"stdClass\":2:{s:27:\"authorizationLoggingOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/AuthorizationLoggingOptions\";s:11:\"description\";s:53:\"Information
  used by the Cloud Audit Logging pipeline.\";}s:7:\"logName\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"The
  log_name to populate in the Cloud Audit Record.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:23:\"LogConfigCounterOptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:905:\"Increment
  a streamz counter with the specified metric and field names.\n\nMetric names should
  start with a '/', generally be lowercase-only, and end in \"_count\". Field names
  should not contain an initial slash. The actual exported metric names will have
  \"/iam/policy\" prepended.\n\nField names correspond to IAM request parameters and
  field values are their respective values.\n\nAt present the only supported field
  names are - \"iam_principal\", corresponding to IAMContext.principal; - \"\" (empty
  string), resulting in one aggretated counter with no field.\n\nExamples: counter
  { metric: \"/debug_access_count\" field: \"iam_principal\" } ==> increment counter
  /iam/policy/backend_debug_access_count {iam_principal=[value of IAMContext.principal]}\n\nAt
  this time we do not support: * multiple field names (though this may be supported
  in the future) * decrementing the counter * incrementing it by anything other than
  1\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"field\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  field value to attribute.\";s:4:\"type\";s:6:\"string\";}s:6:\"metric\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  metric to update.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:26:\"LogConfigDataAccessOptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Write
  a Data Access (Gin) log\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"logMode\";O:8:\"stdClass\":2:{s:11:\"description\";s:135:\"Whether
  Gin logging should happen in a fail-closed manner at the caller. This is relevant
  only in the LocalIAM implementation, for now.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Manifest\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:10:\"properties\";O:8:\"stdClass\":8:{s:6:\"config\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ConfigFile\";s:11:\"description\";s:54:\"Output
  only. The YAML configuration for this manifest.\";}s:14:\"expandedConfig\";O:8:\"stdClass\":2:{s:11:\"description\";s:91:\"Output
  only. The fully-expanded configuration file, including any templates and references.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"Output
  only. Unique identifier for the resource; defined by the server.\";s:6:\"format\";s:6:\"uint64\";s:4:\"type\";s:6:\"string\";}s:7:\"imports\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Output
  only. The imported files for this manifest.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/ImportFile\";}s:4:\"type\";s:5:\"array\";}s:10:\"insertTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"Output
  only. Timestamp when the manifest was created, in RFC3339 text format.\";s:4:\"type\";s:6:\"string\";}s:6:\"layout\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Output
  only. The YAML layout for this manifest.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Output
  only.\n\nThe name of the manifest.\";s:4:\"type\";s:6:\"string\";}s:8:\"selfLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Output
  only. Self link for the manifest.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"ManifestsListResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:132:\"A
  response containing a partial list of manifests and a page token used to build the
  next request if the request has been truncated.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"manifests\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"Output
  only. Manifests contained in this list response.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Manifest\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"Output
  only. A token used to continue a truncated list request.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"Operation\";O:8:\"stdClass\":3:{s:11:\"description\";s:312:\"An
  Operation resource, used to manage asynchronous API requests. (== resource_for v1.globalOperations
  ==) (== resource_for beta.globalOperations ==) (== resource_for v1.regionOperations
  ==) (== resource_for beta.regionOperations ==) (== resource_for v1.zoneOperations
  ==) (== resource_for beta.zoneOperations ==)\";s:10:\"properties\";O:8:\"stdClass\":23:{s:17:\"clientOperationId\";O:8:\"stdClass\":2:{s:11:\"description\";s:96:\"[Output
  Only] The value of `requestId` if you provided it in the request. Not present otherwise.\";s:4:\"type\";s:6:\"string\";}s:17:\"creationTimestamp\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"[Deprecated]
  This field is deprecated.\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:97:\"[Output
  Only] A textual description of the operation, which is set when the operation is
  created.\";s:4:\"type\";s:6:\"string\";}s:7:\"endTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:95:\"[Output
  Only] The time that this operation was completed. This value is in RFC3339 text
  format.\";s:4:\"type\";s:6:\"string\";}s:5:\"error\";O:8:\"stdClass\":3:{s:11:\"description\";s:103:\"[Output
  Only] If errors are generated during processing of the operation, this field will
  be populated.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"errors\";O:8:\"stdClass\":3:{s:11:\"description\";s:78:\"[Output
  Only] The array of errors encountered while processing this operation.\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"[Output
  Only] The error type identifier for this error.\";s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:98:\"[Output
  Only] Indicates the field in the request that caused the error. This property is
  optional.\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"[Output
  Only] An optional, human-readable error message.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:16:\"httpErrorMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:118:\"[Output
  Only] If the operation fails, this field contains the HTTP error message that was
  returned, such as NOT FOUND.\";s:4:\"type\";s:6:\"string\";}s:19:\"httpErrorStatusCode\";O:8:\"stdClass\":3:{s:11:\"description\";s:156:\"[Output
  Only] If the operation fails, this field contains the HTTP error status code that
  was returned. For example, a 404 means the resource was not found.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:95:\"[Output
  Only] The unique identifier for the resource. This identifier is defined by the
  server.\";s:6:\"format\";s:6:\"uint64\";s:4:\"type\";s:6:\"string\";}s:10:\"insertTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:95:\"[Output
  Only] The time that this operation was requested. This value is in RFC3339 text
  format.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:27:\"deploymentmanager#operation\";s:11:\"description\";s:85:\"[Output
  Only] Type of the resource. Always compute#operation for Operation resources.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"[Output
  Only] Name of the resource.\";s:4:\"type\";s:6:\"string\";}s:13:\"operationType\";O:8:\"stdClass\":2:{s:11:\"description\";s:82:\"[Output
  Only] The type of operation, such as insert, update, or delete, and so on.\";s:4:\"type\";s:6:\"string\";}s:8:\"progress\";O:8:\"stdClass\":3:{s:11:\"description\";s:298:\"[Output
  Only] An optional progress indicator that ranges from 0 to 100. There is no requirement
  that this be linear or support any granularity of operations. This should not be
  used to guess when the operation will be complete. This number should monotonically
  increase as the operation progresses.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"region\";O:8:\"stdClass\":2:{s:11:\"description\";s:228:\"[Output
  Only] The URL of the region where the operation resides. Only available when performing
  regional operations. You must specify this field as part of the HTTP request URL.
  It is not settable as a field in the request body.\";s:4:\"type\";s:6:\"string\";}s:8:\"selfLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"[Output
  Only] Server-defined URL for the resource.\";s:4:\"type\";s:6:\"string\";}s:9:\"startTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:107:\"[Output
  Only] The time that this operation was started by the server. This value is in RFC3339
  text format.\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:104:\"[Output
  Only] The status of the operation, which can be one of the following: PENDING, RUNNING,
  or DONE.\";s:4:\"type\";s:6:\"string\";}s:13:\"statusMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:85:\"[Output
  Only] An optional textual description of the current status of the operation.\";s:4:\"type\";s:6:\"string\";}s:8:\"targetId\";O:8:\"stdClass\":3:{s:11:\"description\";s:99:\"[Output
  Only] The unique target ID, which identifies a specific incarnation of the target
  resource.\";s:6:\"format\";s:6:\"uint64\";s:4:\"type\";s:6:\"string\";}s:10:\"targetLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:184:\"[Output
  Only] The URL of the resource that the operation modifies. For operations related
  to creating a snapshot, this points to the persistent disk that the snapshot was
  created from.\";s:4:\"type\";s:6:\"string\";}s:4:\"user\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"[Output
  Only] User who requested the operation, for example: user@example.com.\";s:4:\"type\";s:6:\"string\";}s:8:\"warnings\";O:8:\"stdClass\":3:{s:11:\"description\";s:113:\"[Output
  Only] If warning messages are generated during processing of the operation, this
  field will be populated.\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:140:\"[Output
  Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE
  if there are no results in the response.\";s:4:\"type\";s:6:\"string\";}s:4:\"data\";O:8:\"stdClass\":3:{s:11:\"description\";s:134:\"[Output
  Only] Metadata about this warning in key: value format. For example:\n\"data\":
  [ { \"key\": \"scope\", \"value\": \"zones/us-east1-d\" }\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":2:{s:11:\"description\";s:474:\"[Output
  Only] A key that provides more detail on the warning being returned. For example,
  for warnings where there are no results in a list request for a particular zone,
  this key might be scope and the key value might be the zone name. Other examples
  might be a key indicating a deprecated resource and a suggested replacement, or
  a warning about invalid network settings (for example, if an instance attempts to
  perform IP forwarding but is not enabled for IP forwarding).\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"[Output
  Only] A warning data value corresponding to the key.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"[Output
  Only] A human-readable description of the warning code.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:4:\"zone\";O:8:\"stdClass\":2:{s:11:\"description\";s:226:\"[Output
  Only] The URL of the zone where the operation resides. Only available when performing
  per-zone operations. You must specify this field as part of the HTTP request URL.
  It is not settable as a field in the request body.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:22:\"OperationsListResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:133:\"A
  response containing a partial list of operations and a page token used to build
  the next request if the request has been truncated.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"Output
  only. A token used to continue a truncated list request.\";s:4:\"type\";s:6:\"string\";}s:10:\"operations\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Output
  only. Operations contained in this list response.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Operation\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Policy\";O:8:\"stdClass\":3:{s:11:\"description\";s:1013:\"Defines
  an Identity and Access Management (IAM) policy. It is used to specify access control
  policies for Cloud Platform resources.\n\n\n\nA `Policy` consists of a list of `bindings`.
  A `binding` binds a list of `members` to a `role`, where the members can be user
  accounts, Google groups, Google domains, and service accounts. A `role` is a named
  list of permissions defined by IAM.\n\n**JSON Example**\n\n{ \"bindings\": [ { \"role\":
  \"roles/owner\", \"members\": [ \"user:mike@example.com\", \"group:admins@example.com\",
  \"domain:google.com\", \"serviceAccount:my-other-app@appspot.gserviceaccount.com\"
  ] }, { \"role\": \"roles/viewer\", \"members\": [\"user:sean@example.com\"] } ]
  }\n\n**YAML Example**\n\nbindings: - members: - user:mike@example.com - group:admins@example.com
  - domain:google.com - serviceAccount:my-other-app@appspot.gserviceaccount.com role:
  roles/owner - members: - user:sean@example.com role: roles/viewer\n\n\n\nFor a description
  of IAM and its features, see the [IAM developer's guide](https://cloud.google.com/iam/docs).\";s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"auditConfigs\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"Specifies
  cloud audit logging configuration for this policy.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/AuditConfig\";}s:4:\"type\";s:5:\"array\";}s:8:\"bindings\";O:8:\"stdClass\":3:{s:11:\"description\";s:95:\"Associates
  a list of `members` to a `role`. `bindings` with no members will result in an error.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Binding\";}s:4:\"type\";s:5:\"array\";}s:4:\"etag\";O:8:\"stdClass\":3:{s:11:\"description\";s:606:\"`etag`
  is used for optimistic concurrency control as a way to help prevent simultaneous
  updates of a policy from overwriting each other. It is strongly suggested that systems
  make use of the `etag` in the read-modify-write cycle to perform policy updates
  in order to avoid race conditions: An `etag` is returned in the response to `getIamPolicy`,
  and systems are expected to put that etag in the request to `setIamPolicy` to ensure
  that their change will be applied to the same version of the policy.\n\nIf no `etag`
  is provided in the call to `setIamPolicy`, then the existing policy is overwritten
  blindly.\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}s:8:\"iamOwned\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:7:\"boolean\";}s:5:\"rules\";O:8:\"stdClass\":3:{s:11:\"description\";s:466:\"If
  more than one rule is specified, the rules are applied in the following manner:
  - All matching LOG rules are always applied. - If any DENY/DENY_WITH_LOG rule matches,
  permission is denied. Logging will be applied if one or more matching rule requires
  logging. - Otherwise, if any ALLOW/ALLOW_WITH_LOG rule matches, permission is granted.
  Logging will be applied if one or more matching rule requires logging. - Otherwise,
  if no rule applies, permission is denied.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Rule\";}s:4:\"type\";s:5:\"array\";}s:7:\"version\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Deprecated.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Resource\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:10:\"properties\";O:8:\"stdClass\":12:{s:13:\"accessControl\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/ResourceAccessControl\";s:11:\"description\";s:47:\"The
  Access Control Policy set on this resource.\";}s:15:\"finalProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:108:\"Output
  only. The evaluated properties of the resource with references expanded. Returned
  as serialized YAML.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"Output
  only. Unique identifier for the resource; defined by the server.\";s:6:\"format\";s:6:\"uint64\";s:4:\"type\";s:6:\"string\";}s:10:\"insertTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:90:\"Output
  only. Timestamp when the resource was created or acquired, in RFC3339 text format
  .\";s:4:\"type\";s:6:\"string\";}s:8:\"manifest\";O:8:\"stdClass\":2:{s:11:\"description\";s:89:\"Output
  only. URL of the manifest representing the current configuration of this resource.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"Output
  only. The name of the resource as it appears in the YAML config.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"description\";s:123:\"Output
  only. The current properties of the resource before any references have been filled
  in. Returned as serialized YAML.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:107:\"Output
  only. The type of the resource, for example compute.v1.instance, or cloudfunctions.v1beta1.function.\";s:4:\"type\";s:6:\"string\";}s:6:\"update\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ResourceUpdate\";s:11:\"description\";s:138:\"Output
  only. If Deployment Manager is currently updating or previewing an update to this
  resource, the updated configuration appears here.\";}s:10:\"updateTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"Output
  only. Timestamp when the resource was updated, in RFC3339 text format .\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Output
  only. The URL of the actual resource.\";s:4:\"type\";s:6:\"string\";}s:8:\"warnings\";O:8:\"stdClass\":3:{s:11:\"description\";s:112:\"Output
  only. If warning messages are generated during processing of this resource, this
  field will be populated.\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:140:\"[Output
  Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE
  if there are no results in the response.\";s:4:\"type\";s:6:\"string\";}s:4:\"data\";O:8:\"stdClass\":3:{s:11:\"description\";s:134:\"[Output
  Only] Metadata about this warning in key: value format. For example:\n\"data\":
  [ { \"key\": \"scope\", \"value\": \"zones/us-east1-d\" }\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":2:{s:11:\"description\";s:474:\"[Output
  Only] A key that provides more detail on the warning being returned. For example,
  for warnings where there are no results in a list request for a particular zone,
  this key might be scope and the key value might be the zone name. Other examples
  might be a key indicating a deprecated resource and a suggested replacement, or
  a warning about invalid network settings (for example, if an instance attempts to
  perform IP forwarding but is not enabled for IP forwarding).\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"[Output
  Only] A warning data value corresponding to the key.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"[Output
  Only] A human-readable description of the warning code.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:21:\"ResourceAccessControl\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  access controls set on the resource.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"gcpIamPolicy\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"The
  GCP IAM Policy to set on the resource.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"ResourceUpdate\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:10:\"properties\";O:8:\"stdClass\":8:{s:13:\"accessControl\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/ResourceAccessControl\";s:11:\"description\";s:85:\"The
  Access Control Policy to set on this resource after updating the resource itself.\";}s:5:\"error\";O:8:\"stdClass\":3:{s:11:\"description\";s:97:\"Output
  only. If errors are generated during update of the resource, this field will be
  populated.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"errors\";O:8:\"stdClass\":3:{s:11:\"description\";s:78:\"[Output
  Only] The array of errors encountered while processing this operation.\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"[Output
  Only] The error type identifier for this error.\";s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:98:\"[Output
  Only] Indicates the field in the request that caused the error. This property is
  optional.\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"[Output
  Only] An optional, human-readable error message.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:15:\"finalProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:113:\"Output
  only. The expanded properties of the resource with reference values expanded. Returned
  as serialized YAML.\";s:4:\"type\";s:6:\"string\";}s:6:\"intent\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"Output
  only. The intent of the resource: PREVIEW, UPDATE, or CANCEL.\";s:4:\"type\";s:6:\"string\";}s:8:\"manifest\";O:8:\"stdClass\":2:{s:11:\"description\";s:88:\"Output
  only. URL of the manifest representing the update configuration of this resource.\";s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"description\";s:122:\"Output
  only. The set of updated properties for this resource, before references are expanded.
  Returned as serialized YAML.\";s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Output
  only. The state of the resource.\";s:4:\"type\";s:6:\"string\";}s:8:\"warnings\";O:8:\"stdClass\":3:{s:11:\"description\";s:112:\"Output
  only. If warning messages are generated during processing of this resource, this
  field will be populated.\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:140:\"[Output
  Only] A warning code, if applicable. For example, Compute Engine returns NO_RESULTS_ON_PAGE
  if there are no results in the response.\";s:4:\"type\";s:6:\"string\";}s:4:\"data\";O:8:\"stdClass\":3:{s:11:\"description\";s:134:\"[Output
  Only] Metadata about this warning in key: value format. For example:\n\"data\":
  [ { \"key\": \"scope\", \"value\": \"zones/us-east1-d\" }\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":2:{s:11:\"description\";s:474:\"[Output
  Only] A key that provides more detail on the warning being returned. For example,
  for warnings where there are no results in a list request for a particular zone,
  this key might be scope and the key value might be the zone name. Other examples
  might be a key indicating a deprecated resource and a suggested replacement, or
  a warning about invalid network settings (for example, if an instance attempts to
  perform IP forwarding but is not enabled for IP forwarding).\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"[Output
  Only] A warning data value corresponding to the key.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"[Output
  Only] A human-readable description of the warning code.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:21:\"ResourcesListResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:132:\"A
  response containing a partial list of resources and a page token used to build the
  next request if the request has been truncated.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"A
  token used to continue a truncated list request.\";s:4:\"type\";s:6:\"string\";}s:9:\"resources\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Resources
  contained in this list response.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Resource\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Rule\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"A
  rule to be applied in a Policy.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:6:\"action\";O:8:\"stdClass\":2:{s:11:\"description\";s:8:\"Required\";s:4:\"type\";s:6:\"string\";}s:10:\"conditions\";O:8:\"stdClass\":3:{s:11:\"description\";s:89:\"Additional
  restrictions that must be met. All conditions must pass for the rule to match.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Condition\";}s:4:\"type\";s:5:\"array\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Human-readable
  description of the rule.\";s:4:\"type\";s:6:\"string\";}s:3:\"ins\";O:8:\"stdClass\":3:{s:11:\"description\";s:132:\"If
  one or more 'in' clauses are specified, the rule matches if the PRINCIPAL/AUTHORITY_SELECTOR
  is in at least one of these entries.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:10:\"logConfigs\";O:8:\"stdClass\":3:{s:11:\"description\";s:101:\"The
  config returned to callers of tech.iam.IAM.CheckPolicy for any entries that match
  the LOG action.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/LogConfig\";}s:4:\"type\";s:5:\"array\";}s:6:\"notIns\";O:8:\"stdClass\":3:{s:11:\"description\";s:126:\"If
  one or more 'not_in' clauses are specified, the rule matches if the PRINCIPAL/AUTHORITY_SELECTOR
  is in none of the entries.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:11:\"permissions\";O:8:\"stdClass\":3:{s:11:\"description\";s:179:\"A
  permission is a string of form '..' (e.g., 'storage.buckets.list'). A value of '*'
  matches all permissions, and a verb part of '*' (e.g., 'storage.buckets.*') matches
  all verbs.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:19:\"TargetConfiguration\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"config\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ConfigFile\";s:11:\"description\";s:45:\"The
  configuration to use for this deployment.\";}s:7:\"imports\";O:8:\"stdClass\":3:{s:11:\"description\";s:188:\"Specifies
  any files to import for this configuration. This can be used to import templates
  or other files. For example, you might import a text file in order to use the file
  in a template.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/ImportFile\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:22:\"TestPermissionsRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"permissions\";O:8:\"stdClass\":3:{s:11:\"description\";s:124:\"The
  set of permissions to check for the 'resource'. Permissions with wildcards (such
  as '*' or 'storage.*') are not allowed.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:23:\"TestPermissionsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"permissions\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"A
  subset of `TestPermissionsRequest.permissions` that the caller is allowed.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Type\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"A
  resource type supported by Deployment Manager.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"Output
  only. Unique identifier for the resource; defined by the server.\";s:6:\"format\";s:6:\"uint64\";s:4:\"type\";s:6:\"string\";}s:10:\"insertTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"Output
  only. Timestamp when the type was created, in RFC3339 text format.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Name
  of the type.\";s:4:\"type\";s:6:\"string\";}s:9:\"operation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Operation\";s:11:\"description\";s:89:\"Output
  only. The Operation that most recently ran, or is currently running, on this type.\";}s:8:\"selfLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Output
  only. Self link for the type.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"TypesListResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"A
  response that returns all Types supported by Deployment Manager\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"A
  token used to continue a truncated list request.\";s:4:\"type\";s:6:\"string\";}s:5:\"types\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"Output
  only. A list of resource types supported by Deployment Manager.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Type\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}}"
...
