---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":12:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Google\";s:3:\"url\";s:18:\"https://google.com\";}s:11:\"description\";s:69:\"API
  for viewing and managing your reports in DoubleClick Bid Manager.\";s:5:\"title\";s:23:\"DoubleClick
  Bid Manager\";s:7:\"version\";s:2:\"v1\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:37:\"https://console.developers.google.com\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:9:\"marketing\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:118:\"https://api.apis.guru/v2/cache/logo/https_www.doubleclickbygoogle.com_static_core_img_doubleclick-google-logo-wide.svg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.6.2\";}s:6:\"format\";s:6:\"google\";s:3:\"url\";s:74:\"https://www.googleapis.com/discovery/v1/apis/doubleclickbidmanager/v1/rest\";s:7:\"version\";s:2:\"v1\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"googleapis.com\";s:13:\"x-serviceName\";s:21:\"doubleclickbidmanager\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:28:\"google_doubleclickbidmanager\";s:4:\"type\";s:7:\"openapi\";}}"
host: www.googleapis.com
basePath: /doubleclickbidmanager/v1
paths:
  /lineitems/downloadlineitems:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Retrieves line items in CSV format. TrueView line items are not
        supported.
      operationId: lineitems.downloadlineitems
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/DownloadLineItemsRequest'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/DownloadLineItemsResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/doubleclickbidmanager
      tags:
      - lineitems
  /lineitems/uploadlineitems:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Uploads line items in CSV format. TrueView line items are not supported.
      operationId: lineitems.uploadlineitems
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/UploadLineItemsRequest'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/UploadLineItemsResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/doubleclickbidmanager
      tags:
      - lineitems
  /queries:
    get:
      description: Retrieves stored queries.
      operationId: queries.listqueries
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ListQueriesResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/doubleclickbidmanager
      tags:
      - queries
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
  /queries/{queryId}/reports:
    get:
      description: Retrieves stored reports.
      operationId: reports.listreports
      parameters:
      - description: Query ID with which the reports are associated.
        in: path
        name: queryId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ListReportsResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/doubleclickbidmanager
      tags:
      - reports
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
  /query:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Creates a query.
      operationId: queries.createquery
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/Query'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Query'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/doubleclickbidmanager
      tags:
      - queries
  /query/{queryId}:
    delete:
      description: Deletes a stored query as well as the associated stored reports.
      operationId: queries.deletequery
      parameters:
      - description: Query ID to delete.
        in: path
        name: queryId
        required: true
        type: string
      responses:
        200:
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/doubleclickbidmanager
      tags:
      - queries
    get:
      description: Retrieves a stored query.
      operationId: queries.getquery
      parameters:
      - description: Query ID to retrieve.
        in: path
        name: queryId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Query'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/doubleclickbidmanager
      tags:
      - queries
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Runs a stored query to generate a report.
      operationId: queries.runquery
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/RunQueryRequest'
      - description: Query ID to run.
        in: path
        name: queryId
        required: true
        type: string
      responses:
        200:
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/doubleclickbidmanager
      tags:
      - queries
  /sdf/download:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Retrieves entities in SDF format.
      operationId: sdf.download
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/DownloadRequest'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/DownloadResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/doubleclickbidmanager
      tags:
      - sdf
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":21:{s:24:\"DownloadLineItemsRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Request
  to fetch stored line items.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"fileSpec\";O:8:\"stdClass\":3:{s:11:\"description\";s:105:\"File
  specification (column names, types, order) in which the line items will be returned.
  Default to EWF.\";s:4:\"enum\";a:1:{i:0;s:3:\"EWF\";}s:4:\"type\";s:6:\"string\";}s:9:\"filterIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:117:\"Ids
  of the specified filter type used to filter line items to fetch. If omitted, all
  the line items will be returned.\";s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:10:\"filterType\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Filter
  type used to filter line items to fetch.\";s:4:\"enum\";a:3:{i:0;s:13:\"ADVERTISER_ID\";i:1;s:18:\"INSERTION_ORDER_ID\";i:2;s:12:\"LINE_ITEM_ID\";}s:4:\"type\";s:6:\"string\";}s:6:\"format\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"Format
  in which the line items will be returned. Default to CSV.\";s:4:\"enum\";a:1:{i:0;s:3:\"CSV\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:25:\"DownloadLineItemsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Download
  line items response.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"lineItems\";O:8:\"stdClass\":2:{s:11:\"description\";s:107:\"Retrieved
  line items in CSV format. For more information about file formats, see  Entity Write
  File Format.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"DownloadRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:81:\"Request
  to fetch stored insertion orders, line items, TrueView ad groups and ads.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"fileTypes\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"File
  types that will be returned.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"enum\";a:5:{i:0;s:2:\"AD\";i:1;s:8:\"AD_GROUP\";i:2;s:8:\"CAMPAIGN\";i:3;s:15:\"INSERTION_ORDER\";i:4;s:9:\"LINE_ITEM\";}s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:9:\"filterIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:267:\"The
  IDs of the specified filter type. This is used to filter entities to fetch. At least
  one ID must be specified. Only one ID is allowed for the ADVERTISER_ID filter type.
  For INSERTION_ORDER_ID or LINE_ITEM_ID filter types, all IDs must be from the same
  Advertiser.\";s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:10:\"filterType\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Filter
  type used to filter line items to fetch.\";s:4:\"enum\";a:4:{i:0;s:13:\"ADVERTISER_ID\";i:1;s:11:\"CAMPAIGN_ID\";i:2;s:18:\"INSERTION_ORDER_ID\";i:3;s:12:\"LINE_ITEM_ID\";}s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":2:{s:11:\"description\";s:94:\"SDF
  Version (column names, types, order) in which the entities will be returned. Default
  to 3.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"DownloadResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Download
  response.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"adGroups\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Retrieved
  ad groups in SDF format.\";s:4:\"type\";s:6:\"string\";}s:3:\"ads\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Retrieved
  ads in SDF format.\";s:4:\"type\";s:6:\"string\";}s:9:\"campaigns\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Retrieved
  campaigns in SDF format.\";s:4:\"type\";s:6:\"string\";}s:15:\"insertionOrders\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Retrieved
  insertion orders in SDF format.\";s:4:\"type\";s:6:\"string\";}s:9:\"lineItems\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Retrieved
  line items in SDF format.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"FilterPair\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Filter
  used to match traffic data in your report.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Filter
  type.\";s:4:\"enum\";a:118:{i:0;s:39:\"FILTER_ACTIVE_VIEW_EXPECTED_VIEWABILITY\";i:1;s:18:\"FILTER_ACTIVITY_ID\";i:2;s:17:\"FILTER_ADVERTISER\";i:3;s:26:\"FILTER_ADVERTISER_CURRENCY\";i:4;s:26:\"FILTER_ADVERTISER_TIMEZONE\";i:5;s:18:\"FILTER_AD_POSITION\";i:6;s:10:\"FILTER_AGE\";i:7;s:27:\"FILTER_BRANDSAFE_CHANNEL_ID\";i:8;s:14:\"FILTER_BROWSER\";i:9;s:33:\"FILTER_BUDGET_SEGMENT_DESCRIPTION\";i:10;s:31:\"FILTER_CAMPAIGN_DAILY_FREQUENCY\";i:11;s:14:\"FILTER_CARRIER\";i:12;s:17:\"FILTER_CHANNEL_ID\";i:13;s:11:\"FILTER_CITY\";i:14;s:28:\"FILTER_COMPANION_CREATIVE_ID\";i:15;s:23:\"FILTER_CONVERSION_DELAY\";i:16;s:14:\"FILTER_COUNTRY\";i:17;s:22:\"FILTER_CREATIVE_HEIGHT\";i:18;s:18:\"FILTER_CREATIVE_ID\";i:19;s:20:\"FILTER_CREATIVE_SIZE\";i:20;s:20:\"FILTER_CREATIVE_TYPE\";i:21;s:21:\"FILTER_CREATIVE_WIDTH\";i:22;s:20:\"FILTER_DATA_PROVIDER\";i:23;s:11:\"FILTER_DATE\";i:24;s:18:\"FILTER_DAY_OF_WEEK\";i:25;s:19:\"FILTER_DFP_ORDER_ID\";i:26;s:10:\"FILTER_DMA\";i:27;s:18:\"FILTER_EXCHANGE_ID\";i:28;s:26:\"FILTER_FLOODLIGHT_PIXEL_ID\";i:29;s:13:\"FILTER_GENDER\";i:30;s:22:\"FILTER_INSERTION_ORDER\";i:31;s:23:\"FILTER_INVENTORY_FORMAT\";i:32;s:23:\"FILTER_INVENTORY_SOURCE\";i:33;s:28:\"FILTER_INVENTORY_SOURCE_TYPE\";i:34;s:14:\"FILTER_KEYWORD\";i:35;s:16:\"FILTER_LINE_ITEM\";i:36;s:32:\"FILTER_LINE_ITEM_DAILY_FREQUENCY\";i:37;s:35:\"FILTER_LINE_ITEM_LIFETIME_FREQUENCY\";i:38;s:21:\"FILTER_LINE_ITEM_TYPE\";i:39;s:17:\"FILTER_MEDIA_PLAN\";i:40;s:25:\"FILTER_MOBILE_DEVICE_MAKE\";i:41;s:31:\"FILTER_MOBILE_DEVICE_MAKE_MODEL\";i:42;s:25:\"FILTER_MOBILE_DEVICE_TYPE\";i:43;s:17:\"FILTER_MOBILE_GEO\";i:44;s:12:\"FILTER_MONTH\";i:45;s:20:\"FILTER_MRAID_SUPPORT\";i:46;s:18:\"FILTER_NIELSEN_AGE\";i:47;s:27:\"FILTER_NIELSEN_COUNTRY_CODE\";i:48;s:24:\"FILTER_NIELSEN_DEVICE_ID\";i:49;s:21:\"FILTER_NIELSEN_GENDER\";i:50;s:20:\"FILTER_NOT_SUPPORTED\";i:51;s:15:\"FILTER_ORDER_ID\";i:52;s:9:\"FILTER_OS\";i:53;s:20:\"FILTER_PAGE_CATEGORY\";i:54;s:18:\"FILTER_PAGE_LAYOUT\";i:55;s:14:\"FILTER_PARTNER\";i:56;s:23:\"FILTER_PARTNER_CURRENCY\";i:57;s:23:\"FILTER_PUBLIC_INVENTORY\";i:58;s:14:\"FILTER_QUARTER\";i:59;s:13:\"FILTER_REGION\";i:60;s:25:\"FILTER_REGULAR_CHANNEL_ID\";i:61;s:14:\"FILTER_SITE_ID\";i:62;s:20:\"FILTER_SITE_LANGUAGE\";i:63;s:24:\"FILTER_SKIPPABLE_SUPPORT\";i:64;s:25:\"FILTER_TARGETED_USER_LIST\";i:65;s:18:\"FILTER_TIME_OF_DAY\";i:66;s:30:\"FILTER_TRUEVIEW_AD_GROUP_AD_ID\";i:67;s:27:\"FILTER_TRUEVIEW_AD_GROUP_ID\";i:68;s:19:\"FILTER_TRUEVIEW_AGE\";i:69;s:24:\"FILTER_TRUEVIEW_CATEGORY\";i:70;s:20:\"FILTER_TRUEVIEW_CITY\";i:71;s:31:\"FILTER_TRUEVIEW_CONVERSION_TYPE\";i:72;s:23:\"FILTER_TRUEVIEW_COUNTRY\";i:73;s:31:\"FILTER_TRUEVIEW_CUSTOM_AFFINITY\";i:74;s:19:\"FILTER_TRUEVIEW_DMA\";i:75;s:22:\"FILTER_TRUEVIEW_GENDER\";i:76;s:23:\"FILTER_TRUEVIEW_IAR_AGE\";i:77;s:28:\"FILTER_TRUEVIEW_IAR_CATEGORY\";i:78;s:24:\"FILTER_TRUEVIEW_IAR_CITY\";i:79;s:27:\"FILTER_TRUEVIEW_IAR_COUNTRY\";i:80;s:26:\"FILTER_TRUEVIEW_IAR_GENDER\";i:81;s:28:\"FILTER_TRUEVIEW_IAR_INTEREST\";i:82;s:28:\"FILTER_TRUEVIEW_IAR_LANGUAGE\";i:83;s:35:\"FILTER_TRUEVIEW_IAR_PARENTAL_STATUS\";i:84;s:26:\"FILTER_TRUEVIEW_IAR_REGION\";i:85;s:36:\"FILTER_TRUEVIEW_IAR_REMARKETING_LIST\";i:86;s:31:\"FILTER_TRUEVIEW_IAR_TIME_OF_DAY\";i:87;s:35:\"FILTER_TRUEVIEW_IAR_YOUTUBE_CHANNEL\";i:88;s:33:\"FILTER_TRUEVIEW_IAR_YOUTUBE_VIDEO\";i:89;s:27:\"FILTER_TRUEVIEW_IAR_ZIPCODE\";i:90;s:24:\"FILTER_TRUEVIEW_INTEREST\";i:91;s:23:\"FILTER_TRUEVIEW_KEYWORD\";i:92;s:31:\"FILTER_TRUEVIEW_PARENTAL_STATUS\";i:93;s:25:\"FILTER_TRUEVIEW_PLACEMENT\";i:94;s:22:\"FILTER_TRUEVIEW_REGION\";i:95;s:32:\"FILTER_TRUEVIEW_REMARKETING_LIST\";i:96;s:19:\"FILTER_TRUEVIEW_URL\";i:97;s:23:\"FILTER_TRUEVIEW_ZIPCODE\";i:98;s:14:\"FILTER_UNKNOWN\";i:99;s:16:\"FILTER_USER_LIST\";i:100;s:28:\"FILTER_USER_LIST_FIRST_PARTY\";i:101;s:28:\"FILTER_USER_LIST_THIRD_PARTY\";i:102;s:34:\"FILTER_VIDEO_AD_POSITION_IN_STREAM\";i:103;s:27:\"FILTER_VIDEO_COMPANION_SIZE\";i:104;s:27:\"FILTER_VIDEO_COMPANION_TYPE\";i:105;s:30:\"FILTER_VIDEO_CREATIVE_DURATION\";i:106;s:40:\"FILTER_VIDEO_CREATIVE_DURATION_SKIPPABLE\";i:107;s:29:\"FILTER_VIDEO_DURATION_SECONDS\";i:108;s:27:\"FILTER_VIDEO_FORMAT_SUPPORT\";i:109;s:27:\"FILTER_VIDEO_INVENTORY_TYPE\";i:110;s:24:\"FILTER_VIDEO_PLAYER_SIZE\";i:111;s:24:\"FILTER_VIDEO_RATING_TIER\";i:112;s:30:\"FILTER_VIDEO_SKIPPABLE_SUPPORT\";i:113;s:26:\"FILTER_VIDEO_VPAID_SUPPORT\";i:114;s:11:\"FILTER_WEEK\";i:115;s:11:\"FILTER_YEAR\";i:116;s:23:\"FILTER_YOUTUBE_VERTICAL\";i:117;s:15:\"FILTER_ZIP_CODE\";}s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Filter
  value.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"ListQueriesResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"List
  queries response.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:41:\"doubleclickbidmanager#listQueriesResponse\";s:11:\"description\";s:110:\"Identifies
  what kind of resource this is. Value: the fixed string \"doubleclickbidmanager#listQueriesResponse\".\";s:4:\"type\";s:6:\"string\";}s:7:\"queries\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Retrieved
  queries.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Query\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:19:\"ListReportsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"List
  reports response.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:41:\"doubleclickbidmanager#listReportsResponse\";s:11:\"description\";s:110:\"Identifies
  what kind of resource this is. Value: the fixed string \"doubleclickbidmanager#listReportsResponse\".\";s:4:\"type\";s:6:\"string\";}s:7:\"reports\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Retrieved
  reports.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Report\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:10:\"Parameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Parameters
  of a query or report.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"filters\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Filters
  used to match traffic data in your report.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/FilterPair\";}s:4:\"type\";s:5:\"array\";}s:8:\"groupBys\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Data
  is grouped by the filters listed in this field.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"enum\";a:118:{i:0;s:39:\"FILTER_ACTIVE_VIEW_EXPECTED_VIEWABILITY\";i:1;s:18:\"FILTER_ACTIVITY_ID\";i:2;s:17:\"FILTER_ADVERTISER\";i:3;s:26:\"FILTER_ADVERTISER_CURRENCY\";i:4;s:26:\"FILTER_ADVERTISER_TIMEZONE\";i:5;s:18:\"FILTER_AD_POSITION\";i:6;s:10:\"FILTER_AGE\";i:7;s:27:\"FILTER_BRANDSAFE_CHANNEL_ID\";i:8;s:14:\"FILTER_BROWSER\";i:9;s:33:\"FILTER_BUDGET_SEGMENT_DESCRIPTION\";i:10;s:31:\"FILTER_CAMPAIGN_DAILY_FREQUENCY\";i:11;s:14:\"FILTER_CARRIER\";i:12;s:17:\"FILTER_CHANNEL_ID\";i:13;s:11:\"FILTER_CITY\";i:14;s:28:\"FILTER_COMPANION_CREATIVE_ID\";i:15;s:23:\"FILTER_CONVERSION_DELAY\";i:16;s:14:\"FILTER_COUNTRY\";i:17;s:22:\"FILTER_CREATIVE_HEIGHT\";i:18;s:18:\"FILTER_CREATIVE_ID\";i:19;s:20:\"FILTER_CREATIVE_SIZE\";i:20;s:20:\"FILTER_CREATIVE_TYPE\";i:21;s:21:\"FILTER_CREATIVE_WIDTH\";i:22;s:20:\"FILTER_DATA_PROVIDER\";i:23;s:11:\"FILTER_DATE\";i:24;s:18:\"FILTER_DAY_OF_WEEK\";i:25;s:19:\"FILTER_DFP_ORDER_ID\";i:26;s:10:\"FILTER_DMA\";i:27;s:18:\"FILTER_EXCHANGE_ID\";i:28;s:26:\"FILTER_FLOODLIGHT_PIXEL_ID\";i:29;s:13:\"FILTER_GENDER\";i:30;s:22:\"FILTER_INSERTION_ORDER\";i:31;s:23:\"FILTER_INVENTORY_FORMAT\";i:32;s:23:\"FILTER_INVENTORY_SOURCE\";i:33;s:28:\"FILTER_INVENTORY_SOURCE_TYPE\";i:34;s:14:\"FILTER_KEYWORD\";i:35;s:16:\"FILTER_LINE_ITEM\";i:36;s:32:\"FILTER_LINE_ITEM_DAILY_FREQUENCY\";i:37;s:35:\"FILTER_LINE_ITEM_LIFETIME_FREQUENCY\";i:38;s:21:\"FILTER_LINE_ITEM_TYPE\";i:39;s:17:\"FILTER_MEDIA_PLAN\";i:40;s:25:\"FILTER_MOBILE_DEVICE_MAKE\";i:41;s:31:\"FILTER_MOBILE_DEVICE_MAKE_MODEL\";i:42;s:25:\"FILTER_MOBILE_DEVICE_TYPE\";i:43;s:17:\"FILTER_MOBILE_GEO\";i:44;s:12:\"FILTER_MONTH\";i:45;s:20:\"FILTER_MRAID_SUPPORT\";i:46;s:18:\"FILTER_NIELSEN_AGE\";i:47;s:27:\"FILTER_NIELSEN_COUNTRY_CODE\";i:48;s:24:\"FILTER_NIELSEN_DEVICE_ID\";i:49;s:21:\"FILTER_NIELSEN_GENDER\";i:50;s:20:\"FILTER_NOT_SUPPORTED\";i:51;s:15:\"FILTER_ORDER_ID\";i:52;s:9:\"FILTER_OS\";i:53;s:20:\"FILTER_PAGE_CATEGORY\";i:54;s:18:\"FILTER_PAGE_LAYOUT\";i:55;s:14:\"FILTER_PARTNER\";i:56;s:23:\"FILTER_PARTNER_CURRENCY\";i:57;s:23:\"FILTER_PUBLIC_INVENTORY\";i:58;s:14:\"FILTER_QUARTER\";i:59;s:13:\"FILTER_REGION\";i:60;s:25:\"FILTER_REGULAR_CHANNEL_ID\";i:61;s:14:\"FILTER_SITE_ID\";i:62;s:20:\"FILTER_SITE_LANGUAGE\";i:63;s:24:\"FILTER_SKIPPABLE_SUPPORT\";i:64;s:25:\"FILTER_TARGETED_USER_LIST\";i:65;s:18:\"FILTER_TIME_OF_DAY\";i:66;s:30:\"FILTER_TRUEVIEW_AD_GROUP_AD_ID\";i:67;s:27:\"FILTER_TRUEVIEW_AD_GROUP_ID\";i:68;s:19:\"FILTER_TRUEVIEW_AGE\";i:69;s:24:\"FILTER_TRUEVIEW_CATEGORY\";i:70;s:20:\"FILTER_TRUEVIEW_CITY\";i:71;s:31:\"FILTER_TRUEVIEW_CONVERSION_TYPE\";i:72;s:23:\"FILTER_TRUEVIEW_COUNTRY\";i:73;s:31:\"FILTER_TRUEVIEW_CUSTOM_AFFINITY\";i:74;s:19:\"FILTER_TRUEVIEW_DMA\";i:75;s:22:\"FILTER_TRUEVIEW_GENDER\";i:76;s:23:\"FILTER_TRUEVIEW_IAR_AGE\";i:77;s:28:\"FILTER_TRUEVIEW_IAR_CATEGORY\";i:78;s:24:\"FILTER_TRUEVIEW_IAR_CITY\";i:79;s:27:\"FILTER_TRUEVIEW_IAR_COUNTRY\";i:80;s:26:\"FILTER_TRUEVIEW_IAR_GENDER\";i:81;s:28:\"FILTER_TRUEVIEW_IAR_INTEREST\";i:82;s:28:\"FILTER_TRUEVIEW_IAR_LANGUAGE\";i:83;s:35:\"FILTER_TRUEVIEW_IAR_PARENTAL_STATUS\";i:84;s:26:\"FILTER_TRUEVIEW_IAR_REGION\";i:85;s:36:\"FILTER_TRUEVIEW_IAR_REMARKETING_LIST\";i:86;s:31:\"FILTER_TRUEVIEW_IAR_TIME_OF_DAY\";i:87;s:35:\"FILTER_TRUEVIEW_IAR_YOUTUBE_CHANNEL\";i:88;s:33:\"FILTER_TRUEVIEW_IAR_YOUTUBE_VIDEO\";i:89;s:27:\"FILTER_TRUEVIEW_IAR_ZIPCODE\";i:90;s:24:\"FILTER_TRUEVIEW_INTEREST\";i:91;s:23:\"FILTER_TRUEVIEW_KEYWORD\";i:92;s:31:\"FILTER_TRUEVIEW_PARENTAL_STATUS\";i:93;s:25:\"FILTER_TRUEVIEW_PLACEMENT\";i:94;s:22:\"FILTER_TRUEVIEW_REGION\";i:95;s:32:\"FILTER_TRUEVIEW_REMARKETING_LIST\";i:96;s:19:\"FILTER_TRUEVIEW_URL\";i:97;s:23:\"FILTER_TRUEVIEW_ZIPCODE\";i:98;s:14:\"FILTER_UNKNOWN\";i:99;s:16:\"FILTER_USER_LIST\";i:100;s:28:\"FILTER_USER_LIST_FIRST_PARTY\";i:101;s:28:\"FILTER_USER_LIST_THIRD_PARTY\";i:102;s:34:\"FILTER_VIDEO_AD_POSITION_IN_STREAM\";i:103;s:27:\"FILTER_VIDEO_COMPANION_SIZE\";i:104;s:27:\"FILTER_VIDEO_COMPANION_TYPE\";i:105;s:30:\"FILTER_VIDEO_CREATIVE_DURATION\";i:106;s:40:\"FILTER_VIDEO_CREATIVE_DURATION_SKIPPABLE\";i:107;s:29:\"FILTER_VIDEO_DURATION_SECONDS\";i:108;s:27:\"FILTER_VIDEO_FORMAT_SUPPORT\";i:109;s:27:\"FILTER_VIDEO_INVENTORY_TYPE\";i:110;s:24:\"FILTER_VIDEO_PLAYER_SIZE\";i:111;s:24:\"FILTER_VIDEO_RATING_TIER\";i:112;s:30:\"FILTER_VIDEO_SKIPPABLE_SUPPORT\";i:113;s:26:\"FILTER_VIDEO_VPAID_SUPPORT\";i:114;s:11:\"FILTER_WEEK\";i:115;s:11:\"FILTER_YEAR\";i:116;s:23:\"FILTER_YOUTUBE_VERTICAL\";i:117;s:15:\"FILTER_ZIP_CODE\";}s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:17:\"includeInviteData\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Whether
  to include data from Invite Media.\";s:4:\"type\";s:7:\"boolean\";}s:7:\"metrics\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Metrics
  to include as columns in your report.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"enum\";a:307:{i:0;s:58:\"METRIC_ACTIVE_VIEW_AUDIBLE_VISIBLE_ON_COMPLETE_IMPRESSIONS\";i:1;s:40:\"METRIC_ACTIVE_VIEW_AVERAGE_VIEWABLE_TIME\";i:2;s:44:\"METRIC_ACTIVE_VIEW_DISTRIBUTION_UNMEASURABLE\";i:3;s:42:\"METRIC_ACTIVE_VIEW_DISTRIBUTION_UNVIEWABLE\";i:4;s:40:\"METRIC_ACTIVE_VIEW_DISTRIBUTION_VIEWABLE\";i:5;s:39:\"METRIC_ACTIVE_VIEW_ELIGIBLE_IMPRESSIONS\";i:6;s:41:\"METRIC_ACTIVE_VIEW_MEASURABLE_IMPRESSIONS\";i:7;s:45:\"METRIC_ACTIVE_VIEW_PCT_MEASURABLE_IMPRESSIONS\";i:8;s:43:\"METRIC_ACTIVE_VIEW_PCT_VIEWABLE_IMPRESSIONS\";i:9;s:51:\"METRIC_ACTIVE_VIEW_PERCENT_AUDIBLE_VISIBLE_AT_START\";i:10;s:53:\"METRIC_ACTIVE_VIEW_PERCENT_AUDIBLE_VISIBLE_FIRST_QUAR\";i:11;s:54:\"METRIC_ACTIVE_VIEW_PERCENT_AUDIBLE_VISIBLE_ON_COMPLETE\";i:12;s:54:\"METRIC_ACTIVE_VIEW_PERCENT_AUDIBLE_VISIBLE_SECOND_QUAR\";i:13;s:53:\"METRIC_ACTIVE_VIEW_PERCENT_AUDIBLE_VISIBLE_THIRD_QUAR\";i:14;s:54:\"METRIC_ACTIVE_VIEW_PERCENT_VIEWABLE_FOR_TIME_THRESHOLD\";i:15;s:43:\"METRIC_ACTIVE_VIEW_PERCENT_VISIBLE_AT_START\";i:16;s:45:\"METRIC_ACTIVE_VIEW_PERCENT_VISIBLE_FIRST_QUAR\";i:17;s:46:\"METRIC_ACTIVE_VIEW_PERCENT_VISIBLE_ON_COMPLETE\";i:18;s:46:\"METRIC_ACTIVE_VIEW_PERCENT_VISIBLE_SECOND_QUAR\";i:19;s:45:\"METRIC_ACTIVE_VIEW_PERCENT_VISIBLE_THIRD_QUAR\";i:20;s:43:\"METRIC_ACTIVE_VIEW_UNMEASURABLE_IMPRESSIONS\";i:21;s:41:\"METRIC_ACTIVE_VIEW_UNVIEWABLE_IMPRESSIONS\";i:22;s:46:\"METRIC_ACTIVE_VIEW_VIEWABLE_FOR_TIME_THRESHOLD\";i:23;s:39:\"METRIC_ACTIVE_VIEW_VIEWABLE_IMPRESSIONS\";i:24;s:19:\"METRIC_BID_REQUESTS\";i:25;s:31:\"METRIC_BILLABLE_COST_ADVERTISER\";i:26;s:28:\"METRIC_BILLABLE_COST_PARTNER\";i:27;s:24:\"METRIC_BILLABLE_COST_USD\";i:28;s:13:\"METRIC_CLICKS\";i:29;s:42:\"METRIC_CLICK_TO_POST_CLICK_CONVERSION_RATE\";i:30;s:42:\"METRIC_COMSCORE_VCE_AUDIENCE_AVG_FREQUENCY\";i:31;s:40:\"METRIC_COMSCORE_VCE_AUDIENCE_IMPRESSIONS\";i:32;s:46:\"METRIC_COMSCORE_VCE_AUDIENCE_IMPRESSIONS_SHARE\";i:33;s:38:\"METRIC_COMSCORE_VCE_AUDIENCE_REACH_PCT\";i:34;s:38:\"METRIC_COMSCORE_VCE_AUDIENCE_SHARE_PCT\";i:35;s:39:\"METRIC_COMSCORE_VCE_GROSS_RATING_POINTS\";i:36;s:30:\"METRIC_COMSCORE_VCE_POPULATION\";i:37;s:35:\"METRIC_COMSCORE_VCE_UNIQUE_AUDIENCE\";i:38;s:28:\"METRIC_CONVERSIONS_PER_MILLE\";i:39;s:48:\"METRIC_COOKIE_REACH_AVERAGE_IMPRESSION_FREQUENCY\";i:40;s:36:\"METRIC_COOKIE_REACH_IMPRESSION_REACH\";i:41;s:26:\"METRIC_CPM_FEE1_ADVERTISER\";i:42;s:23:\"METRIC_CPM_FEE1_PARTNER\";i:43;s:19:\"METRIC_CPM_FEE1_USD\";i:44;s:26:\"METRIC_CPM_FEE2_ADVERTISER\";i:45;s:23:\"METRIC_CPM_FEE2_PARTNER\";i:46;s:19:\"METRIC_CPM_FEE2_USD\";i:47;s:26:\"METRIC_CPM_FEE3_ADVERTISER\";i:48;s:23:\"METRIC_CPM_FEE3_PARTNER\";i:49;s:19:\"METRIC_CPM_FEE3_USD\";i:50;s:26:\"METRIC_CPM_FEE4_ADVERTISER\";i:51;s:23:\"METRIC_CPM_FEE4_PARTNER\";i:52;s:19:\"METRIC_CPM_FEE4_USD\";i:53;s:26:\"METRIC_CPM_FEE5_ADVERTISER\";i:54;s:23:\"METRIC_CPM_FEE5_PARTNER\";i:55;s:19:\"METRIC_CPM_FEE5_USD\";i:56;s:10:\"METRIC_CTR\";i:57;s:27:\"METRIC_DATA_COST_ADVERTISER\";i:58;s:24:\"METRIC_DATA_COST_PARTNER\";i:59;s:20:\"METRIC_DATA_COST_USD\";i:60;s:23:\"METRIC_FEE10_ADVERTISER\";i:61;s:20:\"METRIC_FEE10_PARTNER\";i:62;s:16:\"METRIC_FEE10_USD\";i:63;s:23:\"METRIC_FEE11_ADVERTISER\";i:64;s:20:\"METRIC_FEE11_PARTNER\";i:65;s:16:\"METRIC_FEE11_USD\";i:66;s:23:\"METRIC_FEE12_ADVERTISER\";i:67;s:20:\"METRIC_FEE12_PARTNER\";i:68;s:16:\"METRIC_FEE12_USD\";i:69;s:23:\"METRIC_FEE13_ADVERTISER\";i:70;s:20:\"METRIC_FEE13_PARTNER\";i:71;s:16:\"METRIC_FEE13_USD\";i:72;s:23:\"METRIC_FEE14_ADVERTISER\";i:73;s:20:\"METRIC_FEE14_PARTNER\";i:74;s:16:\"METRIC_FEE14_USD\";i:75;s:23:\"METRIC_FEE15_ADVERTISER\";i:76;s:20:\"METRIC_FEE15_PARTNER\";i:77;s:16:\"METRIC_FEE15_USD\";i:78;s:23:\"METRIC_FEE16_ADVERTISER\";i:79;s:20:\"METRIC_FEE16_PARTNER\";i:80;s:16:\"METRIC_FEE16_USD\";i:81;s:23:\"METRIC_FEE17_ADVERTISER\";i:82;s:20:\"METRIC_FEE17_PARTNER\";i:83;s:16:\"METRIC_FEE17_USD\";i:84;s:23:\"METRIC_FEE18_ADVERTISER\";i:85;s:20:\"METRIC_FEE18_PARTNER\";i:86;s:16:\"METRIC_FEE18_USD\";i:87;s:23:\"METRIC_FEE19_ADVERTISER\";i:88;s:20:\"METRIC_FEE19_PARTNER\";i:89;s:16:\"METRIC_FEE19_USD\";i:90;s:23:\"METRIC_FEE20_ADVERTISER\";i:91;s:20:\"METRIC_FEE20_PARTNER\";i:92;s:16:\"METRIC_FEE20_USD\";i:93;s:23:\"METRIC_FEE21_ADVERTISER\";i:94;s:20:\"METRIC_FEE21_PARTNER\";i:95;s:16:\"METRIC_FEE21_USD\";i:96;s:23:\"METRIC_FEE22_ADVERTISER\";i:97;s:20:\"METRIC_FEE22_PARTNER\";i:98;s:16:\"METRIC_FEE22_USD\";i:99;s:22:\"METRIC_FEE2_ADVERTISER\";i:100;s:19:\"METRIC_FEE2_PARTNER\";i:101;s:15:\"METRIC_FEE2_USD\";i:102;s:22:\"METRIC_FEE3_ADVERTISER\";i:103;s:19:\"METRIC_FEE3_PARTNER\";i:104;s:15:\"METRIC_FEE3_USD\";i:105;s:22:\"METRIC_FEE4_ADVERTISER\";i:106;s:19:\"METRIC_FEE4_PARTNER\";i:107;s:15:\"METRIC_FEE4_USD\";i:108;s:22:\"METRIC_FEE5_ADVERTISER\";i:109;s:19:\"METRIC_FEE5_PARTNER\";i:110;s:15:\"METRIC_FEE5_USD\";i:111;s:22:\"METRIC_FEE6_ADVERTISER\";i:112;s:19:\"METRIC_FEE6_PARTNER\";i:113;s:15:\"METRIC_FEE6_USD\";i:114;s:22:\"METRIC_FEE7_ADVERTISER\";i:115;s:19:\"METRIC_FEE7_PARTNER\";i:116;s:15:\"METRIC_FEE7_USD\";i:117;s:22:\"METRIC_FEE8_ADVERTISER\";i:118;s:19:\"METRIC_FEE8_PARTNER\";i:119;s:15:\"METRIC_FEE8_USD\";i:120;s:22:\"METRIC_FEE9_ADVERTISER\";i:121;s:19:\"METRIC_FEE9_PARTNER\";i:122;s:15:\"METRIC_FEE9_USD\";i:123;s:18:\"METRIC_IMPRESSIONS\";i:124;s:37:\"METRIC_IMPRESSIONS_TO_CONVERSION_RATE\";i:125;s:18:\"METRIC_LAST_CLICKS\";i:126;s:23:\"METRIC_LAST_IMPRESSIONS\";i:127;s:28:\"METRIC_MEDIA_COST_ADVERTISER\";i:128;s:35:\"METRIC_MEDIA_COST_ECPAPC_ADVERTISER\";i:129;s:32:\"METRIC_MEDIA_COST_ECPAPC_PARTNER\";i:130;s:28:\"METRIC_MEDIA_COST_ECPAPC_USD\";i:131;s:35:\"METRIC_MEDIA_COST_ECPAPV_ADVERTISER\";i:132;s:32:\"METRIC_MEDIA_COST_ECPAPV_PARTNER\";i:133;s:28:\"METRIC_MEDIA_COST_ECPAPV_USD\";i:134;s:33:\"METRIC_MEDIA_COST_ECPA_ADVERTISER\";i:135;s:30:\"METRIC_MEDIA_COST_ECPA_PARTNER\";i:136;s:26:\"METRIC_MEDIA_COST_ECPA_USD\";i:137;s:34:\"METRIC_MEDIA_COST_ECPCV_ADVERTISER\";i:138;s:31:\"METRIC_MEDIA_COST_ECPCV_PARTNER\";i:139;s:27:\"METRIC_MEDIA_COST_ECPCV_USD\";i:140;s:33:\"METRIC_MEDIA_COST_ECPC_ADVERTISER\";i:141;s:30:\"METRIC_MEDIA_COST_ECPC_PARTNER\";i:142;s:26:\"METRIC_MEDIA_COST_ECPC_USD\";i:143;s:33:\"METRIC_MEDIA_COST_ECPM_ADVERTISER\";i:144;s:30:\"METRIC_MEDIA_COST_ECPM_PARTNER\";i:145;s:26:\"METRIC_MEDIA_COST_ECPM_USD\";i:146;s:25:\"METRIC_MEDIA_COST_PARTNER\";i:147;s:21:\"METRIC_MEDIA_COST_USD\";i:148;s:42:\"METRIC_MEDIA_COST_VIEWABLE_ECPM_ADVERTISER\";i:149;s:39:\"METRIC_MEDIA_COST_VIEWABLE_ECPM_PARTNER\";i:150;s:35:\"METRIC_MEDIA_COST_VIEWABLE_ECPM_USD\";i:151;s:28:\"METRIC_MEDIA_FEE1_ADVERTISER\";i:152;s:25:\"METRIC_MEDIA_FEE1_PARTNER\";i:153;s:21:\"METRIC_MEDIA_FEE1_USD\";i:154;s:28:\"METRIC_MEDIA_FEE2_ADVERTISER\";i:155;s:25:\"METRIC_MEDIA_FEE2_PARTNER\";i:156;s:21:\"METRIC_MEDIA_FEE2_USD\";i:157;s:28:\"METRIC_MEDIA_FEE3_ADVERTISER\";i:158;s:25:\"METRIC_MEDIA_FEE3_PARTNER\";i:159;s:21:\"METRIC_MEDIA_FEE3_USD\";i:160;s:28:\"METRIC_MEDIA_FEE4_ADVERTISER\";i:161;s:25:\"METRIC_MEDIA_FEE4_PARTNER\";i:162;s:21:\"METRIC_MEDIA_FEE4_USD\";i:163;s:28:\"METRIC_MEDIA_FEE5_ADVERTISER\";i:164;s:25:\"METRIC_MEDIA_FEE5_PARTNER\";i:165;s:21:\"METRIC_MEDIA_FEE5_USD\";i:166;s:18:\"METRIC_PIXEL_LOADS\";i:167;s:30:\"METRIC_PLATFORM_FEE_ADVERTISER\";i:168;s:27:\"METRIC_PLATFORM_FEE_PARTNER\";i:169;s:23:\"METRIC_PLATFORM_FEE_USD\";i:170;s:29:\"METRIC_POST_CLICK_DFA_REVENUE\";i:171;s:28:\"METRIC_POST_VIEW_DFA_REVENUE\";i:172;s:24:\"METRIC_PROFIT_ADVERTISER\";i:173;s:31:\"METRIC_PROFIT_ECPAPC_ADVERTISER\";i:174;s:28:\"METRIC_PROFIT_ECPAPC_PARTNER\";i:175;s:24:\"METRIC_PROFIT_ECPAPC_USD\";i:176;s:31:\"METRIC_PROFIT_ECPAPV_ADVERTISER\";i:177;s:28:\"METRIC_PROFIT_ECPAPV_PARTNER\";i:178;s:24:\"METRIC_PROFIT_ECPAPV_USD\";i:179;s:29:\"METRIC_PROFIT_ECPA_ADVERTISER\";i:180;s:26:\"METRIC_PROFIT_ECPA_PARTNER\";i:181;s:22:\"METRIC_PROFIT_ECPA_USD\";i:182;s:29:\"METRIC_PROFIT_ECPC_ADVERTISER\";i:183;s:26:\"METRIC_PROFIT_ECPC_PARTNER\";i:184;s:22:\"METRIC_PROFIT_ECPC_USD\";i:185;s:29:\"METRIC_PROFIT_ECPM_ADVERTISER\";i:186;s:26:\"METRIC_PROFIT_ECPM_PARTNER\";i:187;s:22:\"METRIC_PROFIT_ECPM_USD\";i:188;s:20:\"METRIC_PROFIT_MARGIN\";i:189;s:21:\"METRIC_PROFIT_PARTNER\";i:190;s:17:\"METRIC_PROFIT_USD\";i:191;s:38:\"METRIC_PROFIT_VIEWABLE_ECPM_ADVERTISER\";i:192;s:35:\"METRIC_PROFIT_VIEWABLE_ECPM_PARTNER\";i:193;s:31:\"METRIC_PROFIT_VIEWABLE_ECPM_USD\";i:194;s:29:\"METRIC_REACH_COOKIE_FREQUENCY\";i:195;s:25:\"METRIC_REACH_COOKIE_REACH\";i:196;s:25:\"METRIC_REVENUE_ADVERTISER\";i:197;s:32:\"METRIC_REVENUE_ECPAPC_ADVERTISER\";i:198;s:29:\"METRIC_REVENUE_ECPAPC_PARTNER\";i:199;s:25:\"METRIC_REVENUE_ECPAPC_USD\";i:200;s:32:\"METRIC_REVENUE_ECPAPV_ADVERTISER\";i:201;s:29:\"METRIC_REVENUE_ECPAPV_PARTNER\";i:202;s:25:\"METRIC_REVENUE_ECPAPV_USD\";i:203;s:30:\"METRIC_REVENUE_ECPA_ADVERTISER\";i:204;s:27:\"METRIC_REVENUE_ECPA_PARTNER\";i:205;s:23:\"METRIC_REVENUE_ECPA_USD\";i:206;s:31:\"METRIC_REVENUE_ECPCV_ADVERTISER\";i:207;s:28:\"METRIC_REVENUE_ECPCV_PARTNER\";i:208;s:24:\"METRIC_REVENUE_ECPCV_USD\";i:209;s:30:\"METRIC_REVENUE_ECPC_ADVERTISER\";i:210;s:27:\"METRIC_REVENUE_ECPC_PARTNER\";i:211;s:23:\"METRIC_REVENUE_ECPC_USD\";i:212;s:33:\"METRIC_REVENUE_ECPIAVC_ADVERTISER\";i:213;s:30:\"METRIC_REVENUE_ECPM_ADVERTISER\";i:214;s:27:\"METRIC_REVENUE_ECPM_PARTNER\";i:215;s:23:\"METRIC_REVENUE_ECPM_USD\";i:216;s:22:\"METRIC_REVENUE_PARTNER\";i:217;s:18:\"METRIC_REVENUE_USD\";i:218;s:39:\"METRIC_REVENUE_VIEWABLE_ECPM_ADVERTISER\";i:219;s:36:\"METRIC_REVENUE_VIEWABLE_ECPM_PARTNER\";i:220;s:32:\"METRIC_REVENUE_VIEWABLE_ECPM_USD\";i:221;s:35:\"METRIC_RICH_MEDIA_VIDEO_COMPLETIONS\";i:222;s:48:\"METRIC_RICH_MEDIA_VIDEO_FIRST_QUARTILE_COMPLETES\";i:223;s:36:\"METRIC_RICH_MEDIA_VIDEO_FULL_SCREENS\";i:224;s:33:\"METRIC_RICH_MEDIA_VIDEO_MIDPOINTS\";i:225;s:29:\"METRIC_RICH_MEDIA_VIDEO_MUTES\";i:226;s:30:\"METRIC_RICH_MEDIA_VIDEO_PAUSES\";i:227;s:29:\"METRIC_RICH_MEDIA_VIDEO_PLAYS\";i:228;s:29:\"METRIC_RICH_MEDIA_VIDEO_SKIPS\";i:229;s:48:\"METRIC_RICH_MEDIA_VIDEO_THIRD_QUARTILE_COMPLETES\";i:230;s:31:\"METRIC_TEA_TRUEVIEW_IMPRESSIONS\";i:231;s:34:\"METRIC_TEA_TRUEVIEW_UNIQUE_COOKIES\";i:232;s:33:\"METRIC_TEA_TRUEVIEW_UNIQUE_PEOPLE\";i:233;s:24:\"METRIC_TOTAL_CONVERSIONS\";i:234;s:34:\"METRIC_TOTAL_MEDIA_COST_ADVERTISER\";i:235;s:41:\"METRIC_TOTAL_MEDIA_COST_ECPAPC_ADVERTISER\";i:236;s:38:\"METRIC_TOTAL_MEDIA_COST_ECPAPC_PARTNER\";i:237;s:34:\"METRIC_TOTAL_MEDIA_COST_ECPAPC_USD\";i:238;s:41:\"METRIC_TOTAL_MEDIA_COST_ECPAPV_ADVERTISER\";i:239;s:38:\"METRIC_TOTAL_MEDIA_COST_ECPAPV_PARTNER\";i:240;s:34:\"METRIC_TOTAL_MEDIA_COST_ECPAPV_USD\";i:241;s:39:\"METRIC_TOTAL_MEDIA_COST_ECPA_ADVERTISER\";i:242;s:36:\"METRIC_TOTAL_MEDIA_COST_ECPA_PARTNER\";i:243;s:32:\"METRIC_TOTAL_MEDIA_COST_ECPA_USD\";i:244;s:40:\"METRIC_TOTAL_MEDIA_COST_ECPCV_ADVERTISER\";i:245;s:37:\"METRIC_TOTAL_MEDIA_COST_ECPCV_PARTNER\";i:246;s:33:\"METRIC_TOTAL_MEDIA_COST_ECPCV_USD\";i:247;s:39:\"METRIC_TOTAL_MEDIA_COST_ECPC_ADVERTISER\";i:248;s:36:\"METRIC_TOTAL_MEDIA_COST_ECPC_PARTNER\";i:249;s:32:\"METRIC_TOTAL_MEDIA_COST_ECPC_USD\";i:250;s:39:\"METRIC_TOTAL_MEDIA_COST_ECPM_ADVERTISER\";i:251;s:36:\"METRIC_TOTAL_MEDIA_COST_ECPM_PARTNER\";i:252;s:32:\"METRIC_TOTAL_MEDIA_COST_ECPM_USD\";i:253;s:31:\"METRIC_TOTAL_MEDIA_COST_PARTNER\";i:254;s:27:\"METRIC_TOTAL_MEDIA_COST_USD\";i:255;s:48:\"METRIC_TOTAL_MEDIA_COST_VIEWABLE_ECPM_ADVERTISER\";i:256;s:45:\"METRIC_TOTAL_MEDIA_COST_VIEWABLE_ECPM_PARTNER\";i:257;s:41:\"METRIC_TOTAL_MEDIA_COST_VIEWABLE_ECPM_USD\";i:258;s:38:\"METRIC_TRUEVIEW_AVERAGE_CPE_ADVERTISER\";i:259;s:35:\"METRIC_TRUEVIEW_AVERAGE_CPE_PARTNER\";i:260;s:31:\"METRIC_TRUEVIEW_AVERAGE_CPE_USD\";i:261;s:56:\"METRIC_TRUEVIEW_CONVERSION_COST_MANY_PER_VIEW_ADVERTISER\";i:262;s:53:\"METRIC_TRUEVIEW_CONVERSION_COST_MANY_PER_VIEW_PARTNER\";i:263;s:49:\"METRIC_TRUEVIEW_CONVERSION_COST_MANY_PER_VIEW_USD\";i:264;s:55:\"METRIC_TRUEVIEW_CONVERSION_COST_ONE_PER_VIEW_ADVERTISER\";i:265;s:52:\"METRIC_TRUEVIEW_CONVERSION_COST_ONE_PER_VIEW_PARTNER\";i:266;s:48:\"METRIC_TRUEVIEW_CONVERSION_COST_ONE_PER_VIEW_USD\";i:267;s:40:\"METRIC_TRUEVIEW_CONVERSION_MANY_PER_VIEW\";i:268;s:39:\"METRIC_TRUEVIEW_CONVERSION_ONE_PER_VIEW\";i:269;s:44:\"METRIC_TRUEVIEW_CONVERSION_RATE_ONE_PER_VIEW\";i:270;s:57:\"METRIC_TRUEVIEW_CONVERSION_VALUE_MANY_PER_VIEW_ADVERTISER\";i:271;s:54:\"METRIC_TRUEVIEW_CONVERSION_VALUE_MANY_PER_VIEW_PARTNER\";i:272;s:50:\"METRIC_TRUEVIEW_CONVERSION_VALUE_MANY_PER_VIEW_USD\";i:273;s:56:\"METRIC_TRUEVIEW_CONVERSION_VALUE_ONE_PER_VIEW_ADVERTISER\";i:274;s:53:\"METRIC_TRUEVIEW_CONVERSION_VALUE_ONE_PER_VIEW_PARTNER\";i:275;s:49:\"METRIC_TRUEVIEW_CONVERSION_VALUE_ONE_PER_VIEW_USD\";i:276;s:51:\"METRIC_TRUEVIEW_COST_CONVERSION_MANY_PER_VIEW_RATIO\";i:277;s:50:\"METRIC_TRUEVIEW_COST_CONVERSION_ONE_PER_VIEW_RATIO\";i:278;s:30:\"METRIC_TRUEVIEW_CPV_ADVERTISER\";i:279;s:27:\"METRIC_TRUEVIEW_CPV_PARTNER\";i:280;s:23:\"METRIC_TRUEVIEW_CPV_USD\";i:281;s:28:\"METRIC_TRUEVIEW_EARNED_LIKES\";i:282;s:41:\"METRIC_TRUEVIEW_EARNED_PLAYLIST_ADDITIONS\";i:283;s:29:\"METRIC_TRUEVIEW_EARNED_SHARES\";i:284;s:34:\"METRIC_TRUEVIEW_EARNED_SUBSCRIBERS\";i:285;s:28:\"METRIC_TRUEVIEW_EARNED_VIEWS\";i:286;s:27:\"METRIC_TRUEVIEW_ENGAGEMENTS\";i:287;s:31:\"METRIC_TRUEVIEW_ENGAGEMENT_RATE\";i:288;s:32:\"METRIC_TRUEVIEW_IMPRESSION_SHARE\";i:289;s:30:\"METRIC_TRUEVIEW_LOST_IS_BUDGET\";i:290;s:28:\"METRIC_TRUEVIEW_LOST_IS_RANK\";i:291;s:38:\"METRIC_TRUEVIEW_TOTAL_CONVERSION_VALUE\";i:292;s:50:\"METRIC_TRUEVIEW_TOTAL_CONVERSION_VALUES_ADVERTISER\";i:293;s:47:\"METRIC_TRUEVIEW_TOTAL_CONVERSION_VALUES_PARTNER\";i:294;s:43:\"METRIC_TRUEVIEW_TOTAL_CONVERSION_VALUES_USD\";i:295;s:30:\"METRIC_TRUEVIEW_UNIQUE_VIEWERS\";i:296;s:52:\"METRIC_TRUEVIEW_VALUE_CONVERSION_MANY_PER_VIEW_RATIO\";i:297;s:51:\"METRIC_TRUEVIEW_VALUE_CONVERSION_ONE_PER_VIEW_RATIO\";i:298;s:21:\"METRIC_TRUEVIEW_VIEWS\";i:299;s:25:\"METRIC_TRUEVIEW_VIEW_RATE\";i:300;s:39:\"METRIC_TRUEVIEW_VIEW_THROUGH_CONVERSION\";i:301;s:30:\"METRIC_UNIQUE_VISITORS_COOKIES\";i:302;s:14:\"METRIC_UNKNOWN\";i:303;s:29:\"METRIC_VIDEO_COMPANION_CLICKS\";i:304;s:34:\"METRIC_VIDEO_COMPANION_IMPRESSIONS\";i:305;s:28:\"METRIC_VIDEO_COMPLETION_RATE\";i:306;s:28:\"METRIC_VIEWABLE_BID_REQUESTS\";}s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Report
  type.\";s:4:\"enum\";a:32:{i:0;s:15:\"TYPE_ACTIVE_GRP\";i:1;s:25:\"TYPE_AUDIENCE_COMPOSITION\";i:2;s:25:\"TYPE_AUDIENCE_PERFORMANCE\";i:3;s:16:\"TYPE_CLIENT_SAFE\";i:4;s:17:\"TYPE_COMSCORE_VCE\";i:5;s:14:\"TYPE_CROSS_FEE\";i:6;s:18:\"TYPE_CROSS_PARTNER\";i:7;s:44:\"TYPE_CROSS_PARTNER_THIRD_PARTY_DATA_PROVIDER\";i:8;s:25:\"TYPE_ESTIMATED_CONVERSION\";i:9;s:8:\"TYPE_FEE\";i:10;s:12:\"TYPE_GENERAL\";i:11;s:27:\"TYPE_INVENTORY_AVAILABILITY\";i:12;s:12:\"TYPE_KEYWORD\";i:13;s:26:\"TYPE_LINEAR_TV_SEARCH_LIFT\";i:14;s:29:\"TYPE_NIELSEN_AUDIENCE_PROFILE\";i:15;s:30:\"TYPE_NIELSEN_DAILY_REACH_BUILD\";i:16;s:33:\"TYPE_NIELSEN_ONLINE_GLOBAL_MARKET\";i:17;s:17:\"TYPE_NIELSEN_SITE\";i:18;s:18:\"TYPE_NOT_SUPPORTED\";i:19;s:13:\"TYPE_ORDER_ID\";i:20;s:18:\"TYPE_PAGE_CATEGORY\";i:21;s:35:\"TYPE_PETRA_NIELSEN_AUDIENCE_PROFILE\";i:22;s:36:\"TYPE_PETRA_NIELSEN_DAILY_REACH_BUILD\";i:23;s:39:\"TYPE_PETRA_NIELSEN_ONLINE_GLOBAL_MARKET\";i:24;s:15:\"TYPE_PIXEL_LOAD\";i:25;s:24:\"TYPE_REACH_AND_FREQUENCY\";i:26;s:19:\"TYPE_REACH_AUDIENCE\";i:27;s:30:\"TYPE_THIRD_PARTY_DATA_PROVIDER\";i:28;s:13:\"TYPE_TRUEVIEW\";i:29;s:17:\"TYPE_TRUEVIEW_IAR\";i:30;s:17:\"TYPE_VERIFICATION\";i:31;s:21:\"TYPE_YOUTUBE_VERTICAL\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Query\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Represents
  a query.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:27:\"doubleclickbidmanager#query\";s:11:\"description\";s:96:\"Identifies
  what kind of resource this is. Value: the fixed string \"doubleclickbidmanager#query\".\";s:4:\"type\";s:6:\"string\";}s:8:\"metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/QueryMetadata\";s:11:\"description\";s:15:\"Query
  metadata.\";}s:6:\"params\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Parameters\";s:11:\"description\";s:17:\"Query
  parameters.\";}s:7:\"queryId\";O:8:\"stdClass\":3:{s:11:\"description\";s:9:\"Query
  ID.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:19:\"reportDataEndTimeMs\";O:8:\"stdClass\":3:{s:11:\"description\";s:156:\"The
  ending time for the data that is shown in the report. Note, reportDataEndTimeMs
  is required if metadata.dataRange is CUSTOM_DATES and ignored otherwise.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:21:\"reportDataStartTimeMs\";O:8:\"stdClass\":3:{s:11:\"description\";s:160:\"The
  starting time for the data that is shown in the report. Note, reportDataStartTimeMs
  is required if metadata.dataRange is CUSTOM_DATES and ignored otherwise.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:8:\"schedule\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/QuerySchedule\";s:11:\"description\";s:49:\"Information
  on how often and when to run a query.\";}s:12:\"timezoneCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:75:\"Canonical
  timezone code for report data time. Defaults to America/New_York.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"QueryMetadata\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Query
  metadata.\";s:10:\"properties\";O:8:\"stdClass\":11:{s:9:\"dataRange\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Range
  of report data.\";s:4:\"enum\";a:19:{i:0;s:8:\"ALL_TIME\";i:1;s:11:\"CURRENT_DAY\";i:2;s:12:\"CUSTOM_DATES\";i:3;s:12:\"LAST_14_DAYS\";i:4;s:12:\"LAST_30_DAYS\";i:5;s:13:\"LAST_365_DAYS\";i:6;s:11:\"LAST_7_DAYS\";i:7;s:12:\"LAST_90_DAYS\";i:8;s:13:\"MONTH_TO_DATE\";i:9;s:12:\"PREVIOUS_DAY\";i:10;s:19:\"PREVIOUS_HALF_MONTH\";i:11;s:14:\"PREVIOUS_MONTH\";i:12;s:16:\"PREVIOUS_QUARTER\";i:13;s:13:\"PREVIOUS_WEEK\";i:14;s:13:\"PREVIOUS_YEAR\";i:15;s:15:\"QUARTER_TO_DATE\";i:16;s:18:\"TYPE_NOT_SUPPORTED\";i:17;s:12:\"WEEK_TO_DATE\";i:18;s:12:\"YEAR_TO_DATE\";}s:4:\"type\";s:6:\"string\";}s:6:\"format\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Format
  of the generated report.\";s:4:\"enum\";a:3:{i:0;s:3:\"CSV\";i:1;s:9:\"EXCEL_CSV\";i:2;s:4:\"XLSX\";}s:4:\"type\";s:6:\"string\";}s:37:\"googleCloudStoragePathForLatestReport\";O:8:\"stdClass\":2:{s:11:\"description\";s:83:\"The
  path to the location in Google Cloud Storage where the latest report is stored.\";s:4:\"type\";s:6:\"string\";}s:30:\"googleDrivePathForLatestReport\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"The
  path in Google Drive for the latest report.\";s:4:\"type\";s:6:\"string\";}s:21:\"latestReportRunTimeMs\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  time when the latest report started to run.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:6:\"locale\";O:8:\"stdClass\":2:{s:11:\"description\";s:320:\"Locale
  of the generated reports. Valid values are cs CZECH de GERMAN en ENGLISH es SPANISH
  fr FRENCH it ITALIAN ja JAPANESE ko KOREAN pl POLISH pt-BR BRAZILIAN_PORTUGUESE
  ru RUSSIAN tr TURKISH uk UKRAINIAN zh-CN CHINA_CHINESE zh-TW TAIWAN_CHINESE\n\nAn
  locale string not in the list above will generate reports in English.\";s:4:\"type\";s:6:\"string\";}s:11:\"reportCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"Number
  of reports that have been generated for the query.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"running\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Whether
  the latest report is currently running.\";s:4:\"type\";s:7:\"boolean\";}s:16:\"sendNotification\";O:8:\"stdClass\":2:{s:11:\"description\";s:79:\"Whether
  to send an email notification when a report is ready. Default to false.\";s:4:\"type\";s:7:\"boolean\";}s:17:\"shareEmailAddress\";O:8:\"stdClass\":3:{s:11:\"description\";s:119:\"List
  of email addresses which are sent email notifications when the report is finished.
  Separate from sendNotification.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"Query
  title. It is used to name the reports generated from this query.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"QuerySchedule\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"Information
  on how frequently and when to run a query.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"endTimeMs\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Datetime
  to periodically run the query until.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:9:\"frequency\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"How
  often the query is run.\";s:4:\"enum\";a:6:{i:0;s:5:\"DAILY\";i:1;s:7:\"MONTHLY\";i:2;s:8:\"ONE_TIME\";i:3;s:9:\"QUARTERLY\";i:4;s:12:\"SEMI_MONTHLY\";i:5;s:6:\"WEEKLY\";}s:4:\"type\";s:6:\"string\";}s:18:\"nextRunMinuteOfDay\";O:8:\"stdClass\":3:{s:11:\"description\";s:145:\"Time
  of day at which a new report will be generated, represented as minutes past midnight.
  Range is 0 to 1439. Only applies to scheduled reports.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:19:\"nextRunTimezoneCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:81:\"Canonical
  timezone code for report generation time. Defaults to America/New_York.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Report\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Represents
  a report.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"key\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/ReportKey\";s:11:\"description\";s:30:\"Key
  used to identify a report.\";}s:8:\"metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ReportMetadata\";s:11:\"description\";s:16:\"Report
  metadata.\";}s:6:\"params\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Parameters\";s:11:\"description\";s:18:\"Report
  parameters.\";}}s:4:\"type\";s:6:\"object\";}s:13:\"ReportFailure\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"An
  explanation of a report failure.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"errorCode\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Error
  code that shows why the report was not created.\";s:4:\"enum\";a:18:{i:0;s:20:\"AUTHENTICATION_ERROR\";i:1;s:34:\"DEPRECATED_REPORTING_INVALID_QUERY\";i:2;s:26:\"REPORTING_BUCKET_NOT_FOUND\";i:3;s:30:\"REPORTING_CREATE_BUCKET_FAILED\";i:4;s:30:\"REPORTING_DELETE_BUCKET_FAILED\";i:5;s:21:\"REPORTING_FATAL_ERROR\";i:6;s:26:\"REPORTING_ILLEGAL_FILENAME\";i:7;s:30:\"REPORTING_IMCOMPATIBLE_METRICS\";i:8;s:62:\"REPORTING_INVALID_QUERY_MISSING_PARTNER_AND_ADVERTISER_FILTERS\";i:9;s:37:\"REPORTING_INVALID_QUERY_TITLE_MISSING\";i:10;s:59:\"REPORTING_INVALID_QUERY_TOO_MANY_UNFILTERED_LARGE_GROUP_BYS\";i:11;s:25:\"REPORTING_QUERY_NOT_FOUND\";i:12;s:25:\"REPORTING_TRANSIENT_ERROR\";i:13;s:41:\"REPORTING_UPDATE_BUCKET_PERMISSION_FAILED\";i:14;s:36:\"REPORTING_WRITE_BUCKET_OBJECT_FAILED\";i:15;s:12:\"SERVER_ERROR\";i:16;s:23:\"UNAUTHORIZED_API_ACCESS\";i:17;s:16:\"VALIDATION_ERROR\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"ReportKey\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Key
  used to identify a report.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"queryId\";O:8:\"stdClass\":3:{s:11:\"description\";s:9:\"Query
  ID.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:8:\"reportId\";O:8:\"stdClass\":3:{s:11:\"description\";s:10:\"Report
  ID.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"ReportMetadata\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Report
  metadata.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:22:\"googleCloudStoragePath\";O:8:\"stdClass\":2:{s:11:\"description\";s:76:\"The
  path to the location in Google Cloud Storage where the report is stored.\";s:4:\"type\";s:6:\"string\";}s:19:\"reportDataEndTimeMs\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"The
  ending time for the data that is shown in the report.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:21:\"reportDataStartTimeMs\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"The
  starting time for the data that is shown in the report.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ReportStatus\";s:11:\"description\";s:14:\"Report
  status.\";}}s:4:\"type\";s:6:\"object\";}s:12:\"ReportStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Report
  status.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"failure\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ReportFailure\";s:11:\"description\";s:45:\"If
  the report failed, this records the cause.\";}s:12:\"finishTimeMs\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"The
  time when this report either completed successfully or failed.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:6:\"format\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"The
  file type of the report.\";s:4:\"enum\";a:3:{i:0;s:3:\"CSV\";i:1;s:9:\"EXCEL_CSV\";i:2;s:4:\"XLSX\";}s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  state of the report.\";s:4:\"enum\";a:3:{i:0;s:4:\"DONE\";i:1;s:6:\"FAILED\";i:2;s:7:\"RUNNING\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"RowStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Represents
  the upload status of a row in the request.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"changed\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"Whether
  the stored entity is changed as a result of upload.\";s:4:\"type\";s:7:\"boolean\";}s:8:\"entityId\";O:8:\"stdClass\":3:{s:11:\"description\";s:10:\"Entity
  Id.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:10:\"entityName\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Entity
  name.\";s:4:\"type\";s:6:\"string\";}s:6:\"errors\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Reasons
  why the entity can't be uploaded.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:9:\"persisted\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Whether
  the entity is persisted.\";s:4:\"type\";s:7:\"boolean\";}s:9:\"rowNumber\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Row
  number.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:15:\"RunQueryRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Request
  to run a stored query to generate a report.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"dataRange\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Report
  data range used to generate the report.\";s:4:\"enum\";a:19:{i:0;s:8:\"ALL_TIME\";i:1;s:11:\"CURRENT_DAY\";i:2;s:12:\"CUSTOM_DATES\";i:3;s:12:\"LAST_14_DAYS\";i:4;s:12:\"LAST_30_DAYS\";i:5;s:13:\"LAST_365_DAYS\";i:6;s:11:\"LAST_7_DAYS\";i:7;s:12:\"LAST_90_DAYS\";i:8;s:13:\"MONTH_TO_DATE\";i:9;s:12:\"PREVIOUS_DAY\";i:10;s:19:\"PREVIOUS_HALF_MONTH\";i:11;s:14:\"PREVIOUS_MONTH\";i:12;s:16:\"PREVIOUS_QUARTER\";i:13;s:13:\"PREVIOUS_WEEK\";i:14;s:13:\"PREVIOUS_YEAR\";i:15;s:15:\"QUARTER_TO_DATE\";i:16;s:18:\"TYPE_NOT_SUPPORTED\";i:17;s:12:\"WEEK_TO_DATE\";i:18;s:12:\"YEAR_TO_DATE\";}s:4:\"type\";s:6:\"string\";}s:19:\"reportDataEndTimeMs\";O:8:\"stdClass\":3:{s:11:\"description\";s:147:\"The
  ending time for the data that is shown in the report. Note, reportDataEndTimeMs
  is required if dataRange is CUSTOM_DATES and ignored otherwise.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:21:\"reportDataStartTimeMs\";O:8:\"stdClass\":3:{s:11:\"description\";s:151:\"The
  starting time for the data that is shown in the report. Note, reportDataStartTimeMs
  is required if dataRange is CUSTOM_DATES and ignored otherwise.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:12:\"timezoneCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:75:\"Canonical
  timezone code for report data time. Defaults to America/New_York.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:22:\"UploadLineItemsRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Request
  to upload line items.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"dryRun\";O:8:\"stdClass\":2:{s:11:\"description\";s:76:\"Set
  to true to get upload status without actually persisting the line items.\";s:4:\"type\";s:7:\"boolean\";}s:6:\"format\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Format
  the line items are in. Default to CSV.\";s:4:\"enum\";a:1:{i:0;s:3:\"CSV\";}s:4:\"type\";s:6:\"string\";}s:9:\"lineItems\";O:8:\"stdClass\":2:{s:11:\"description\";s:100:\"Line
  items in CSV to upload. Refer to  Entity Write File Format for more information
  on file format.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:23:\"UploadLineItemsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Upload
  line items response.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"uploadStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/UploadStatus\";s:11:\"description\";s:17:\"Status
  of upload.\";}}s:4:\"type\";s:6:\"object\";}s:12:\"UploadStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Represents
  the status of upload.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"errors\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Reasons
  why upload can't be completed.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:9:\"rowStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Per-row
  upload status.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/RowStatus\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}}"
...
