---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Google\";s:3:\"url\";s:18:\"https://google.com\";}s:11:\"description\";s:44:\"Interacts
  with Glass users via the timeline.\";s:5:\"title\";s:13:\"Google Mirror\";s:7:\"version\";s:2:\"v1\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:37:\"https://console.developers.google.com\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:116:\"https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.6.2\";}s:6:\"format\";s:6:\"google\";s:3:\"url\";s:59:\"https://www.googleapis.com/discovery/v1/apis/mirror/v1/rest\";s:7:\"version\";s:2:\"v1\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"googleapis.com\";s:13:\"x-serviceName\";s:6:\"mirror\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:13:\"google_mirror\";s:4:\"type\";s:7:\"openapi\";}}"
host: www.googleapis.com
basePath: /mirror/v1
paths:
  /accounts/{userToken}/{accountType}/{accountName}:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Inserts a new account for a user
      operationId: accounts.insert
      parameters:
      - description: The name of the account to be passed to the Android Account Manager.
        in: path
        name: accountName
        required: true
        type: string
      - description: Account type to be passed to Android Account Manager.
        in: path
        name: accountType
        required: true
        type: string
      - in: body
        name: body
        schema:
          $ref: '#/definitions/Account'
      - description: The ID for the user.
        in: path
        name: userToken
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Account'
      tags:
      - accounts
  /contacts:
    get:
      description: Retrieves a list of contacts for the authenticated user.
      operationId: contacts.list
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ContactsListResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/glass.timeline
      tags:
      - contacts
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Inserts a new contact.
      operationId: contacts.insert
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/Contact'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Contact'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/glass.timeline
      tags:
      - contacts
  /contacts/{id}:
    delete:
      description: Deletes a contact.
      operationId: contacts.delete
      parameters:
      - description: The ID of the contact.
        in: path
        name: id
        required: true
        type: string
      responses:
        200:
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/glass.timeline
      tags:
      - contacts
    get:
      description: Gets a single contact by ID.
      operationId: contacts.get
      parameters:
      - description: The ID of the contact.
        in: path
        name: id
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Contact'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/glass.timeline
      tags:
      - contacts
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    patch:
      description: Updates a contact in place. This method supports patch semantics.
      operationId: contacts.patch
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/Contact'
      - description: The ID of the contact.
        in: path
        name: id
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Contact'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/glass.timeline
      tags:
      - contacts
    put:
      description: Updates a contact in place.
      operationId: contacts.update
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/Contact'
      - description: The ID of the contact.
        in: path
        name: id
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Contact'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/glass.timeline
      tags:
      - contacts
  /locations:
    get:
      description: Retrieves a list of locations for the user.
      operationId: locations.list
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/LocationsListResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/glass.location
      - Oauth2:
        - https://www.googleapis.com/auth/glass.timeline
      tags:
      - locations
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
  /locations/{id}:
    get:
      description: Gets a single location by ID.
      operationId: locations.get
      parameters:
      - description: The ID of the location or latest for the last known location.
        in: path
        name: id
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Location'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/glass.location
      - Oauth2:
        - https://www.googleapis.com/auth/glass.timeline
      tags:
      - locations
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
  /settings/{id}:
    get:
      description: Gets a single setting by ID.
      operationId: settings.get
      parameters:
      - description: 'The ID of the setting. The following IDs are valid: n- locale
          - The key to the useru2019s language/locale (BCP 47 identifier) that Glassware
          should use to render localized content. n- timezone - The key to the useru2019s
          current time zone region as defined in the tz database. Example: America/Los_Angeles.'
        in: path
        name: id
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Setting'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/glass.timeline
      tags:
      - settings
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
  /subscriptions:
    get:
      description: Retrieves a list of subscriptions for the authenticated user and
        service.
      operationId: subscriptions.list
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/SubscriptionsListResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/glass.timeline
      tags:
      - subscriptions
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Creates a new subscription.
      operationId: subscriptions.insert
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/Subscription'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Subscription'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/glass.timeline
      tags:
      - subscriptions
  /subscriptions/{id}:
    delete:
      description: Deletes a subscription.
      operationId: subscriptions.delete
      parameters:
      - description: The ID of the subscription.
        in: path
        name: id
        required: true
        type: string
      responses:
        200:
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/glass.timeline
      tags:
      - subscriptions
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    put:
      description: Updates an existing subscription in place.
      operationId: subscriptions.update
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/Subscription'
      - description: The ID of the subscription.
        in: path
        name: id
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Subscription'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/glass.timeline
      tags:
      - subscriptions
  /timeline:
    get:
      description: Retrieves a list of timeline items for the authenticated user.
      operationId: timeline.list
      parameters:
      - description: If provided, only items with the given bundleId will be returned.
        in: query
        name: bundleId
        type: string
      - description: If true, tombstone records for deleted items will be returned.
        in: query
        name: includeDeleted
        type: boolean
      - description: The maximum number of items to include in the response, used
          for paging.
        in: query
        name: maxResults
        type: integer
      - description: Controls the order in which timeline items are returned.
        enum:
        - displayTime
        - writeTime
        in: query
        name: orderBy
        type: string
      - description: Token for the page of results to return.
        in: query
        name: pageToken
        type: string
      - description: If true, only pinned items will be returned.
        in: query
        name: pinnedOnly
        type: boolean
      - description: If provided, only items with the given sourceItemId will be returned.
        in: query
        name: sourceItemId
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/TimelineListResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/glass.location
      - Oauth2:
        - https://www.googleapis.com/auth/glass.timeline
      tags:
      - timeline
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      consumes:
      - audio/1d-interleaved-parityfec
      - audio/32kadpcm
      - audio/3gpp
      - audio/3gpp2
      - audio/ac3
      - audio/adpcm
      - audio/amr
      - audio/amr-wb
      - audio/amr-wb+
      - audio/aptx
      - audio/asc
      - audio/atrac-advanced-lossless
      - audio/atrac-x
      - audio/atrac3
      - audio/basic
      - audio/bv16
      - audio/bv32
      - audio/clearmode
      - audio/cn
      - audio/dat12
      - audio/dls
      - audio/dsr-es201108
      - audio/dsr-es202050
      - audio/dsr-es202211
      - audio/dsr-es202212
      - audio/dv
      - audio/dvi4
      - audio/eac3
      - audio/encaprtp
      - audio/evrc
      - audio/evrc-qcp
      - audio/evrc0
      - audio/evrc1
      - audio/evrcb
      - audio/evrcb0
      - audio/evrcb1
      - audio/evrcnw
      - audio/evrcnw0
      - audio/evrcnw1
      - audio/evrcwb
      - audio/evrcwb0
      - audio/evrcwb1
      - audio/evs
      - audio/fwdred
      - audio/g711-0
      - audio/g719
      - audio/g722
      - audio/g7221
      - audio/g723
      - audio/g726-16
      - audio/g726-24
      - audio/g726-32
      - audio/g726-40
      - audio/g728
      - audio/g729
      - audio/g7291
      - audio/g729d
      - audio/g729e
      - audio/gsm
      - audio/gsm-efr
      - audio/gsm-hr-08
      - audio/ilbc
      - audio/ip-mr_v2.5
      - audio/isac
      - audio/l16
      - audio/l20
      - audio/l24
      - audio/l8
      - audio/lpc
      - audio/melp
      - audio/melp1200
      - audio/melp2400
      - audio/melp600
      - audio/midi
      - audio/mobile-xmf
      - audio/mp3
      - audio/mp4
      - audio/mp4a-latm
      - audio/mpa
      - audio/mpa-robust
      - audio/mpeg
      - audio/mpeg4-generic
      - audio/musepack
      - audio/ogg
      - audio/opus
      - audio/parityfec
      - audio/pcma
      - audio/pcma-wb
      - audio/pcmu
      - audio/pcmu-wb
      - audio/prs.sid
      - audio/qcelp
      - audio/raptorfec
      - audio/red
      - audio/rtp-enc-aescm128
      - audio/rtp-midi
      - audio/rtploopback
      - audio/rtx
      - audio/s3m
      - audio/silk
      - audio/smv
      - audio/smv-qcp
      - audio/smv0
      - audio/sp-midi
      - audio/speex
      - audio/t140c
      - audio/t38
      - audio/telephone-event
      - audio/tone
      - audio/uemclip
      - audio/ulpfec
      - audio/vdvi
      - audio/vmr-wb
      - audio/vnd.3gpp.iufp
      - audio/vnd.4sb
      - audio/vnd.audiokoz
      - audio/vnd.celp
      - audio/vnd.cisco.nse
      - audio/vnd.cmles.radio-events
      - audio/vnd.cns.anp1
      - audio/vnd.cns.inf1
      - audio/vnd.dece.audio
      - audio/vnd.digital-winds
      - audio/vnd.dlna.adts
      - audio/vnd.dolby.heaac.1
      - audio/vnd.dolby.heaac.2
      - audio/vnd.dolby.mlp
      - audio/vnd.dolby.mps
      - audio/vnd.dolby.pl2
      - audio/vnd.dolby.pl2x
      - audio/vnd.dolby.pl2z
      - audio/vnd.dolby.pulse.1
      - audio/vnd.dra
      - audio/vnd.dts
      - audio/vnd.dts.hd
      - audio/vnd.dvb.file
      - audio/vnd.everad.plj
      - audio/vnd.hns.audio
      - audio/vnd.lucent.voice
      - audio/vnd.ms-playready.media.pya
      - audio/vnd.nokia.mobile-xmf
      - audio/vnd.nortel.vbk
      - audio/vnd.nuera.ecelp4800
      - audio/vnd.nuera.ecelp7470
      - audio/vnd.nuera.ecelp9600
      - audio/vnd.octel.sbc
      - audio/vnd.presonus.multitrack
      - audio/vnd.qcelp
      - audio/vnd.rhetorex.32kadpcm
      - audio/vnd.rip
      - audio/vnd.rn-realaudio
      - audio/vnd.sealedmedia.softseal.mpeg
      - audio/vnd.vmx.cvsd
      - audio/vnd.wave
      - audio/vorbis
      - audio/vorbis-config
      - audio/wav
      - audio/wave
      - audio/webm
      - audio/x-aac
      - audio/x-aiff
      - audio/x-caf
      - audio/x-flac
      - audio/x-m4a
      - audio/x-matroska
      - audio/x-mpegurl
      - audio/x-ms-wax
      - audio/x-ms-wma
      - audio/x-pn-realaudio
      - audio/x-pn-realaudio-plugin
      - audio/x-realaudio
      - audio/x-tta
      - audio/x-wav
      - audio/xm
      - image/apng
      - image/bmp
      - image/cgm
      - image/dicom-rle
      - image/emf
      - image/fits
      - image/g3fax
      - image/gif
      - image/ief
      - image/jls
      - image/jp2
      - image/jpeg
      - image/jpm
      - image/jpx
      - image/ktx
      - image/naplps
      - image/pjpeg
      - image/png
      - image/prs.btif
      - image/prs.pti
      - image/pwg-raster
      - image/sgi
      - image/svg+xml
      - image/t38
      - image/tiff
      - image/tiff-fx
      - image/vnd.adobe.photoshop
      - image/vnd.airzip.accelerator.azv
      - image/vnd.cns.inf2
      - image/vnd.dece.graphic
      - image/vnd.djvu
      - image/vnd.dvb.subtitle
      - image/vnd.dwg
      - image/vnd.dxf
      - image/vnd.fastbidsheet
      - image/vnd.fpx
      - image/vnd.fst
      - image/vnd.fujixerox.edmics-mmr
      - image/vnd.fujixerox.edmics-rlc
      - image/vnd.globalgraphics.pgb
      - image/vnd.microsoft.icon
      - image/vnd.mix
      - image/vnd.mozilla.apng
      - image/vnd.ms-modi
      - image/vnd.ms-photo
      - image/vnd.net-fpx
      - image/vnd.radiance
      - image/vnd.sealed.png
      - image/vnd.sealedmedia.softseal.gif
      - image/vnd.sealedmedia.softseal.jpg
      - image/vnd.svf
      - image/vnd.tencent.tap
      - image/vnd.valve.source.texture
      - image/vnd.wap.wbmp
      - image/vnd.xiff
      - image/vnd.zbrush.pcx
      - image/webp
      - image/wmf
      - image/x-3ds
      - image/x-cmu-raster
      - image/x-cmx
      - image/x-freehand
      - image/x-icon
      - image/x-jng
      - image/x-mrsid-image
      - image/x-ms-bmp
      - image/x-pcx
      - image/x-pict
      - image/x-portable-anymap
      - image/x-portable-bitmap
      - image/x-portable-graymap
      - image/x-portable-pixmap
      - image/x-rgb
      - image/x-tga
      - image/x-xbitmap
      - image/x-xcf
      - image/x-xpixmap
      - image/x-xwindowdump
      - video/1d-interleaved-parityfec
      - video/3gpp
      - video/3gpp-tt
      - video/3gpp2
      - video/bmpeg
      - video/bt656
      - video/celb
      - video/dv
      - video/encaprtp
      - video/h261
      - video/h263
      - video/h263-1998
      - video/h263-2000
      - video/h264
      - video/h264-rcdo
      - video/h264-svc
      - video/h265
      - video/iso.segment
      - video/jpeg
      - video/jpeg2000
      - video/jpm
      - video/mj2
      - video/mp1s
      - video/mp2p
      - video/mp2t
      - video/mp4
      - video/mp4v-es
      - video/mpeg
      - video/mpeg4-generic
      - video/mpv
      - video/nv
      - video/ogg
      - video/parityfec
      - video/pointer
      - video/quicktime
      - video/raptorfec
      - video/raw
      - video/rtp-enc-aescm128
      - video/rtploopback
      - video/rtx
      - video/smpte292m
      - video/ulpfec
      - video/vc1
      - video/vnd.cctv
      - video/vnd.dece.hd
      - video/vnd.dece.mobile
      - video/vnd.dece.mp4
      - video/vnd.dece.pd
      - video/vnd.dece.sd
      - video/vnd.dece.video
      - video/vnd.directv.mpeg
      - video/vnd.directv.mpeg-tts
      - video/vnd.dlna.mpeg-tts
      - video/vnd.dvb.file
      - video/vnd.fvt
      - video/vnd.hns.video
      - video/vnd.iptvforum.1dparityfec-1010
      - video/vnd.iptvforum.1dparityfec-2005
      - video/vnd.iptvforum.2dparityfec-1010
      - video/vnd.iptvforum.2dparityfec-2005
      - video/vnd.iptvforum.ttsavc
      - video/vnd.iptvforum.ttsmpeg2
      - video/vnd.motorola.video
      - video/vnd.motorola.videop
      - video/vnd.mpegurl
      - video/vnd.ms-playready.media.pyv
      - video/vnd.nokia.interleaved-multimedia
      - video/vnd.nokia.videovoip
      - video/vnd.objectvideo
      - video/vnd.radgamettools.bink
      - video/vnd.radgamettools.smacker
      - video/vnd.sealed.mpeg1
      - video/vnd.sealed.mpeg4
      - video/vnd.sealed.swf
      - video/vnd.sealedmedia.softseal.mov
      - video/vnd.uvvu.mp4
      - video/vnd.vivo
      - video/vp8
      - video/webm
      - video/x-f4v
      - video/x-fli
      - video/x-flv
      - video/x-m4v
      - video/x-matroska
      - video/x-mng
      - video/x-ms-asf
      - video/x-ms-vob
      - video/x-ms-wm
      - video/x-ms-wmv
      - video/x-ms-wmx
      - video/x-ms-wvx
      - video/x-msvideo
      - video/x-sgi-movie
      - video/x-smv
      description: Inserts a new item into the timeline.
      operationId: timeline.insert
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/TimelineItem'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/TimelineItem'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/glass.location
      - Oauth2:
        - https://www.googleapis.com/auth/glass.timeline
      tags:
      - timeline
  /timeline/{id}:
    delete:
      description: Deletes a timeline item.
      operationId: timeline.delete
      parameters:
      - description: The ID of the timeline item.
        in: path
        name: id
        required: true
        type: string
      responses:
        200:
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/glass.location
      - Oauth2:
        - https://www.googleapis.com/auth/glass.timeline
      tags:
      - timeline
    get:
      description: Gets a single timeline item by ID.
      operationId: timeline.get
      parameters:
      - description: The ID of the timeline item.
        in: path
        name: id
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/TimelineItem'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/glass.location
      - Oauth2:
        - https://www.googleapis.com/auth/glass.timeline
      tags:
      - timeline
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    patch:
      description: Updates a timeline item in place. This method supports patch semantics.
      operationId: timeline.patch
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/TimelineItem'
      - description: The ID of the timeline item.
        in: path
        name: id
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/TimelineItem'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/glass.location
      - Oauth2:
        - https://www.googleapis.com/auth/glass.timeline
      tags:
      - timeline
    put:
      consumes:
      - audio/1d-interleaved-parityfec
      - audio/32kadpcm
      - audio/3gpp
      - audio/3gpp2
      - audio/ac3
      - audio/adpcm
      - audio/amr
      - audio/amr-wb
      - audio/amr-wb+
      - audio/aptx
      - audio/asc
      - audio/atrac-advanced-lossless
      - audio/atrac-x
      - audio/atrac3
      - audio/basic
      - audio/bv16
      - audio/bv32
      - audio/clearmode
      - audio/cn
      - audio/dat12
      - audio/dls
      - audio/dsr-es201108
      - audio/dsr-es202050
      - audio/dsr-es202211
      - audio/dsr-es202212
      - audio/dv
      - audio/dvi4
      - audio/eac3
      - audio/encaprtp
      - audio/evrc
      - audio/evrc-qcp
      - audio/evrc0
      - audio/evrc1
      - audio/evrcb
      - audio/evrcb0
      - audio/evrcb1
      - audio/evrcnw
      - audio/evrcnw0
      - audio/evrcnw1
      - audio/evrcwb
      - audio/evrcwb0
      - audio/evrcwb1
      - audio/evs
      - audio/fwdred
      - audio/g711-0
      - audio/g719
      - audio/g722
      - audio/g7221
      - audio/g723
      - audio/g726-16
      - audio/g726-24
      - audio/g726-32
      - audio/g726-40
      - audio/g728
      - audio/g729
      - audio/g7291
      - audio/g729d
      - audio/g729e
      - audio/gsm
      - audio/gsm-efr
      - audio/gsm-hr-08
      - audio/ilbc
      - audio/ip-mr_v2.5
      - audio/isac
      - audio/l16
      - audio/l20
      - audio/l24
      - audio/l8
      - audio/lpc
      - audio/melp
      - audio/melp1200
      - audio/melp2400
      - audio/melp600
      - audio/midi
      - audio/mobile-xmf
      - audio/mp3
      - audio/mp4
      - audio/mp4a-latm
      - audio/mpa
      - audio/mpa-robust
      - audio/mpeg
      - audio/mpeg4-generic
      - audio/musepack
      - audio/ogg
      - audio/opus
      - audio/parityfec
      - audio/pcma
      - audio/pcma-wb
      - audio/pcmu
      - audio/pcmu-wb
      - audio/prs.sid
      - audio/qcelp
      - audio/raptorfec
      - audio/red
      - audio/rtp-enc-aescm128
      - audio/rtp-midi
      - audio/rtploopback
      - audio/rtx
      - audio/s3m
      - audio/silk
      - audio/smv
      - audio/smv-qcp
      - audio/smv0
      - audio/sp-midi
      - audio/speex
      - audio/t140c
      - audio/t38
      - audio/telephone-event
      - audio/tone
      - audio/uemclip
      - audio/ulpfec
      - audio/vdvi
      - audio/vmr-wb
      - audio/vnd.3gpp.iufp
      - audio/vnd.4sb
      - audio/vnd.audiokoz
      - audio/vnd.celp
      - audio/vnd.cisco.nse
      - audio/vnd.cmles.radio-events
      - audio/vnd.cns.anp1
      - audio/vnd.cns.inf1
      - audio/vnd.dece.audio
      - audio/vnd.digital-winds
      - audio/vnd.dlna.adts
      - audio/vnd.dolby.heaac.1
      - audio/vnd.dolby.heaac.2
      - audio/vnd.dolby.mlp
      - audio/vnd.dolby.mps
      - audio/vnd.dolby.pl2
      - audio/vnd.dolby.pl2x
      - audio/vnd.dolby.pl2z
      - audio/vnd.dolby.pulse.1
      - audio/vnd.dra
      - audio/vnd.dts
      - audio/vnd.dts.hd
      - audio/vnd.dvb.file
      - audio/vnd.everad.plj
      - audio/vnd.hns.audio
      - audio/vnd.lucent.voice
      - audio/vnd.ms-playready.media.pya
      - audio/vnd.nokia.mobile-xmf
      - audio/vnd.nortel.vbk
      - audio/vnd.nuera.ecelp4800
      - audio/vnd.nuera.ecelp7470
      - audio/vnd.nuera.ecelp9600
      - audio/vnd.octel.sbc
      - audio/vnd.presonus.multitrack
      - audio/vnd.qcelp
      - audio/vnd.rhetorex.32kadpcm
      - audio/vnd.rip
      - audio/vnd.rn-realaudio
      - audio/vnd.sealedmedia.softseal.mpeg
      - audio/vnd.vmx.cvsd
      - audio/vnd.wave
      - audio/vorbis
      - audio/vorbis-config
      - audio/wav
      - audio/wave
      - audio/webm
      - audio/x-aac
      - audio/x-aiff
      - audio/x-caf
      - audio/x-flac
      - audio/x-m4a
      - audio/x-matroska
      - audio/x-mpegurl
      - audio/x-ms-wax
      - audio/x-ms-wma
      - audio/x-pn-realaudio
      - audio/x-pn-realaudio-plugin
      - audio/x-realaudio
      - audio/x-tta
      - audio/x-wav
      - audio/xm
      - image/apng
      - image/bmp
      - image/cgm
      - image/dicom-rle
      - image/emf
      - image/fits
      - image/g3fax
      - image/gif
      - image/ief
      - image/jls
      - image/jp2
      - image/jpeg
      - image/jpm
      - image/jpx
      - image/ktx
      - image/naplps
      - image/pjpeg
      - image/png
      - image/prs.btif
      - image/prs.pti
      - image/pwg-raster
      - image/sgi
      - image/svg+xml
      - image/t38
      - image/tiff
      - image/tiff-fx
      - image/vnd.adobe.photoshop
      - image/vnd.airzip.accelerator.azv
      - image/vnd.cns.inf2
      - image/vnd.dece.graphic
      - image/vnd.djvu
      - image/vnd.dvb.subtitle
      - image/vnd.dwg
      - image/vnd.dxf
      - image/vnd.fastbidsheet
      - image/vnd.fpx
      - image/vnd.fst
      - image/vnd.fujixerox.edmics-mmr
      - image/vnd.fujixerox.edmics-rlc
      - image/vnd.globalgraphics.pgb
      - image/vnd.microsoft.icon
      - image/vnd.mix
      - image/vnd.mozilla.apng
      - image/vnd.ms-modi
      - image/vnd.ms-photo
      - image/vnd.net-fpx
      - image/vnd.radiance
      - image/vnd.sealed.png
      - image/vnd.sealedmedia.softseal.gif
      - image/vnd.sealedmedia.softseal.jpg
      - image/vnd.svf
      - image/vnd.tencent.tap
      - image/vnd.valve.source.texture
      - image/vnd.wap.wbmp
      - image/vnd.xiff
      - image/vnd.zbrush.pcx
      - image/webp
      - image/wmf
      - image/x-3ds
      - image/x-cmu-raster
      - image/x-cmx
      - image/x-freehand
      - image/x-icon
      - image/x-jng
      - image/x-mrsid-image
      - image/x-ms-bmp
      - image/x-pcx
      - image/x-pict
      - image/x-portable-anymap
      - image/x-portable-bitmap
      - image/x-portable-graymap
      - image/x-portable-pixmap
      - image/x-rgb
      - image/x-tga
      - image/x-xbitmap
      - image/x-xcf
      - image/x-xpixmap
      - image/x-xwindowdump
      - video/1d-interleaved-parityfec
      - video/3gpp
      - video/3gpp-tt
      - video/3gpp2
      - video/bmpeg
      - video/bt656
      - video/celb
      - video/dv
      - video/encaprtp
      - video/h261
      - video/h263
      - video/h263-1998
      - video/h263-2000
      - video/h264
      - video/h264-rcdo
      - video/h264-svc
      - video/h265
      - video/iso.segment
      - video/jpeg
      - video/jpeg2000
      - video/jpm
      - video/mj2
      - video/mp1s
      - video/mp2p
      - video/mp2t
      - video/mp4
      - video/mp4v-es
      - video/mpeg
      - video/mpeg4-generic
      - video/mpv
      - video/nv
      - video/ogg
      - video/parityfec
      - video/pointer
      - video/quicktime
      - video/raptorfec
      - video/raw
      - video/rtp-enc-aescm128
      - video/rtploopback
      - video/rtx
      - video/smpte292m
      - video/ulpfec
      - video/vc1
      - video/vnd.cctv
      - video/vnd.dece.hd
      - video/vnd.dece.mobile
      - video/vnd.dece.mp4
      - video/vnd.dece.pd
      - video/vnd.dece.sd
      - video/vnd.dece.video
      - video/vnd.directv.mpeg
      - video/vnd.directv.mpeg-tts
      - video/vnd.dlna.mpeg-tts
      - video/vnd.dvb.file
      - video/vnd.fvt
      - video/vnd.hns.video
      - video/vnd.iptvforum.1dparityfec-1010
      - video/vnd.iptvforum.1dparityfec-2005
      - video/vnd.iptvforum.2dparityfec-1010
      - video/vnd.iptvforum.2dparityfec-2005
      - video/vnd.iptvforum.ttsavc
      - video/vnd.iptvforum.ttsmpeg2
      - video/vnd.motorola.video
      - video/vnd.motorola.videop
      - video/vnd.mpegurl
      - video/vnd.ms-playready.media.pyv
      - video/vnd.nokia.interleaved-multimedia
      - video/vnd.nokia.videovoip
      - video/vnd.objectvideo
      - video/vnd.radgamettools.bink
      - video/vnd.radgamettools.smacker
      - video/vnd.sealed.mpeg1
      - video/vnd.sealed.mpeg4
      - video/vnd.sealed.swf
      - video/vnd.sealedmedia.softseal.mov
      - video/vnd.uvvu.mp4
      - video/vnd.vivo
      - video/vp8
      - video/webm
      - video/x-f4v
      - video/x-fli
      - video/x-flv
      - video/x-m4v
      - video/x-matroska
      - video/x-mng
      - video/x-ms-asf
      - video/x-ms-vob
      - video/x-ms-wm
      - video/x-ms-wmv
      - video/x-ms-wmx
      - video/x-ms-wvx
      - video/x-msvideo
      - video/x-sgi-movie
      - video/x-smv
      description: Updates a timeline item in place.
      operationId: timeline.update
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/TimelineItem'
      - description: The ID of the timeline item.
        in: path
        name: id
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/TimelineItem'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/glass.location
      - Oauth2:
        - https://www.googleapis.com/auth/glass.timeline
      tags:
      - timeline
  /timeline/{itemId}/attachments:
    get:
      description: Returns a list of attachments for a timeline item.
      operationId: timeline.attachments.list
      parameters:
      - description: The ID of the timeline item whose attachments should be listed.
        in: path
        name: itemId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/AttachmentsListResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/glass.timeline
      tags:
      - timeline
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      consumes:
      - audio/1d-interleaved-parityfec
      - audio/32kadpcm
      - audio/3gpp
      - audio/3gpp2
      - audio/ac3
      - audio/adpcm
      - audio/amr
      - audio/amr-wb
      - audio/amr-wb+
      - audio/aptx
      - audio/asc
      - audio/atrac-advanced-lossless
      - audio/atrac-x
      - audio/atrac3
      - audio/basic
      - audio/bv16
      - audio/bv32
      - audio/clearmode
      - audio/cn
      - audio/dat12
      - audio/dls
      - audio/dsr-es201108
      - audio/dsr-es202050
      - audio/dsr-es202211
      - audio/dsr-es202212
      - audio/dv
      - audio/dvi4
      - audio/eac3
      - audio/encaprtp
      - audio/evrc
      - audio/evrc-qcp
      - audio/evrc0
      - audio/evrc1
      - audio/evrcb
      - audio/evrcb0
      - audio/evrcb1
      - audio/evrcnw
      - audio/evrcnw0
      - audio/evrcnw1
      - audio/evrcwb
      - audio/evrcwb0
      - audio/evrcwb1
      - audio/evs
      - audio/fwdred
      - audio/g711-0
      - audio/g719
      - audio/g722
      - audio/g7221
      - audio/g723
      - audio/g726-16
      - audio/g726-24
      - audio/g726-32
      - audio/g726-40
      - audio/g728
      - audio/g729
      - audio/g7291
      - audio/g729d
      - audio/g729e
      - audio/gsm
      - audio/gsm-efr
      - audio/gsm-hr-08
      - audio/ilbc
      - audio/ip-mr_v2.5
      - audio/isac
      - audio/l16
      - audio/l20
      - audio/l24
      - audio/l8
      - audio/lpc
      - audio/melp
      - audio/melp1200
      - audio/melp2400
      - audio/melp600
      - audio/midi
      - audio/mobile-xmf
      - audio/mp3
      - audio/mp4
      - audio/mp4a-latm
      - audio/mpa
      - audio/mpa-robust
      - audio/mpeg
      - audio/mpeg4-generic
      - audio/musepack
      - audio/ogg
      - audio/opus
      - audio/parityfec
      - audio/pcma
      - audio/pcma-wb
      - audio/pcmu
      - audio/pcmu-wb
      - audio/prs.sid
      - audio/qcelp
      - audio/raptorfec
      - audio/red
      - audio/rtp-enc-aescm128
      - audio/rtp-midi
      - audio/rtploopback
      - audio/rtx
      - audio/s3m
      - audio/silk
      - audio/smv
      - audio/smv-qcp
      - audio/smv0
      - audio/sp-midi
      - audio/speex
      - audio/t140c
      - audio/t38
      - audio/telephone-event
      - audio/tone
      - audio/uemclip
      - audio/ulpfec
      - audio/vdvi
      - audio/vmr-wb
      - audio/vnd.3gpp.iufp
      - audio/vnd.4sb
      - audio/vnd.audiokoz
      - audio/vnd.celp
      - audio/vnd.cisco.nse
      - audio/vnd.cmles.radio-events
      - audio/vnd.cns.anp1
      - audio/vnd.cns.inf1
      - audio/vnd.dece.audio
      - audio/vnd.digital-winds
      - audio/vnd.dlna.adts
      - audio/vnd.dolby.heaac.1
      - audio/vnd.dolby.heaac.2
      - audio/vnd.dolby.mlp
      - audio/vnd.dolby.mps
      - audio/vnd.dolby.pl2
      - audio/vnd.dolby.pl2x
      - audio/vnd.dolby.pl2z
      - audio/vnd.dolby.pulse.1
      - audio/vnd.dra
      - audio/vnd.dts
      - audio/vnd.dts.hd
      - audio/vnd.dvb.file
      - audio/vnd.everad.plj
      - audio/vnd.hns.audio
      - audio/vnd.lucent.voice
      - audio/vnd.ms-playready.media.pya
      - audio/vnd.nokia.mobile-xmf
      - audio/vnd.nortel.vbk
      - audio/vnd.nuera.ecelp4800
      - audio/vnd.nuera.ecelp7470
      - audio/vnd.nuera.ecelp9600
      - audio/vnd.octel.sbc
      - audio/vnd.presonus.multitrack
      - audio/vnd.qcelp
      - audio/vnd.rhetorex.32kadpcm
      - audio/vnd.rip
      - audio/vnd.rn-realaudio
      - audio/vnd.sealedmedia.softseal.mpeg
      - audio/vnd.vmx.cvsd
      - audio/vnd.wave
      - audio/vorbis
      - audio/vorbis-config
      - audio/wav
      - audio/wave
      - audio/webm
      - audio/x-aac
      - audio/x-aiff
      - audio/x-caf
      - audio/x-flac
      - audio/x-m4a
      - audio/x-matroska
      - audio/x-mpegurl
      - audio/x-ms-wax
      - audio/x-ms-wma
      - audio/x-pn-realaudio
      - audio/x-pn-realaudio-plugin
      - audio/x-realaudio
      - audio/x-tta
      - audio/x-wav
      - audio/xm
      - image/apng
      - image/bmp
      - image/cgm
      - image/dicom-rle
      - image/emf
      - image/fits
      - image/g3fax
      - image/gif
      - image/ief
      - image/jls
      - image/jp2
      - image/jpeg
      - image/jpm
      - image/jpx
      - image/ktx
      - image/naplps
      - image/pjpeg
      - image/png
      - image/prs.btif
      - image/prs.pti
      - image/pwg-raster
      - image/sgi
      - image/svg+xml
      - image/t38
      - image/tiff
      - image/tiff-fx
      - image/vnd.adobe.photoshop
      - image/vnd.airzip.accelerator.azv
      - image/vnd.cns.inf2
      - image/vnd.dece.graphic
      - image/vnd.djvu
      - image/vnd.dvb.subtitle
      - image/vnd.dwg
      - image/vnd.dxf
      - image/vnd.fastbidsheet
      - image/vnd.fpx
      - image/vnd.fst
      - image/vnd.fujixerox.edmics-mmr
      - image/vnd.fujixerox.edmics-rlc
      - image/vnd.globalgraphics.pgb
      - image/vnd.microsoft.icon
      - image/vnd.mix
      - image/vnd.mozilla.apng
      - image/vnd.ms-modi
      - image/vnd.ms-photo
      - image/vnd.net-fpx
      - image/vnd.radiance
      - image/vnd.sealed.png
      - image/vnd.sealedmedia.softseal.gif
      - image/vnd.sealedmedia.softseal.jpg
      - image/vnd.svf
      - image/vnd.tencent.tap
      - image/vnd.valve.source.texture
      - image/vnd.wap.wbmp
      - image/vnd.xiff
      - image/vnd.zbrush.pcx
      - image/webp
      - image/wmf
      - image/x-3ds
      - image/x-cmu-raster
      - image/x-cmx
      - image/x-freehand
      - image/x-icon
      - image/x-jng
      - image/x-mrsid-image
      - image/x-ms-bmp
      - image/x-pcx
      - image/x-pict
      - image/x-portable-anymap
      - image/x-portable-bitmap
      - image/x-portable-graymap
      - image/x-portable-pixmap
      - image/x-rgb
      - image/x-tga
      - image/x-xbitmap
      - image/x-xcf
      - image/x-xpixmap
      - image/x-xwindowdump
      - video/1d-interleaved-parityfec
      - video/3gpp
      - video/3gpp-tt
      - video/3gpp2
      - video/bmpeg
      - video/bt656
      - video/celb
      - video/dv
      - video/encaprtp
      - video/h261
      - video/h263
      - video/h263-1998
      - video/h263-2000
      - video/h264
      - video/h264-rcdo
      - video/h264-svc
      - video/h265
      - video/iso.segment
      - video/jpeg
      - video/jpeg2000
      - video/jpm
      - video/mj2
      - video/mp1s
      - video/mp2p
      - video/mp2t
      - video/mp4
      - video/mp4v-es
      - video/mpeg
      - video/mpeg4-generic
      - video/mpv
      - video/nv
      - video/ogg
      - video/parityfec
      - video/pointer
      - video/quicktime
      - video/raptorfec
      - video/raw
      - video/rtp-enc-aescm128
      - video/rtploopback
      - video/rtx
      - video/smpte292m
      - video/ulpfec
      - video/vc1
      - video/vnd.cctv
      - video/vnd.dece.hd
      - video/vnd.dece.mobile
      - video/vnd.dece.mp4
      - video/vnd.dece.pd
      - video/vnd.dece.sd
      - video/vnd.dece.video
      - video/vnd.directv.mpeg
      - video/vnd.directv.mpeg-tts
      - video/vnd.dlna.mpeg-tts
      - video/vnd.dvb.file
      - video/vnd.fvt
      - video/vnd.hns.video
      - video/vnd.iptvforum.1dparityfec-1010
      - video/vnd.iptvforum.1dparityfec-2005
      - video/vnd.iptvforum.2dparityfec-1010
      - video/vnd.iptvforum.2dparityfec-2005
      - video/vnd.iptvforum.ttsavc
      - video/vnd.iptvforum.ttsmpeg2
      - video/vnd.motorola.video
      - video/vnd.motorola.videop
      - video/vnd.mpegurl
      - video/vnd.ms-playready.media.pyv
      - video/vnd.nokia.interleaved-multimedia
      - video/vnd.nokia.videovoip
      - video/vnd.objectvideo
      - video/vnd.radgamettools.bink
      - video/vnd.radgamettools.smacker
      - video/vnd.sealed.mpeg1
      - video/vnd.sealed.mpeg4
      - video/vnd.sealed.swf
      - video/vnd.sealedmedia.softseal.mov
      - video/vnd.uvvu.mp4
      - video/vnd.vivo
      - video/vp8
      - video/webm
      - video/x-f4v
      - video/x-fli
      - video/x-flv
      - video/x-m4v
      - video/x-matroska
      - video/x-mng
      - video/x-ms-asf
      - video/x-ms-vob
      - video/x-ms-wm
      - video/x-ms-wmv
      - video/x-ms-wmx
      - video/x-ms-wvx
      - video/x-msvideo
      - video/x-sgi-movie
      - video/x-smv
      description: Adds a new attachment to a timeline item.
      operationId: timeline.attachments.insert
      parameters:
      - description: The ID of the timeline item the attachment belongs to.
        in: path
        name: itemId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Attachment'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/glass.timeline
      tags:
      - timeline
  /timeline/{itemId}/attachments/{attachmentId}:
    delete:
      description: Deletes an attachment from a timeline item.
      operationId: timeline.attachments.delete
      parameters:
      - description: The ID of the attachment.
        in: path
        name: attachmentId
        required: true
        type: string
      - description: The ID of the timeline item the attachment belongs to.
        in: path
        name: itemId
        required: true
        type: string
      responses:
        200:
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/glass.timeline
      tags:
      - timeline
    get:
      description: Retrieves an attachment on a timeline item by item ID and attachment
        ID.
      operationId: timeline.attachments.get
      parameters:
      - description: The ID of the attachment.
        in: path
        name: attachmentId
        required: true
        type: string
      - description: The ID of the timeline item the attachment belongs to.
        in: path
        name: itemId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Attachment'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/glass.timeline
      tags:
      - timeline
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":20:{s:7:\"Account\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"Represents
  an account passed into the Account Manager on Glass.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"authTokens\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/AuthToken\";}s:4:\"type\";s:5:\"array\";}s:8:\"features\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:8:\"password\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"userData\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/UserData\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:10:\"Attachment\";O:8:\"stdClass\":3:{s:11:\"description\";s:83:\"Represents
  media content, such as a photo, that can be attached to a timeline item.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"contentType\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  MIME type of the attachment.\";s:4:\"type\";s:6:\"string\";}s:10:\"contentUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  URL for the content.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  ID of the attachment.\";s:4:\"type\";s:6:\"string\";}s:19:\"isProcessingContent\";O:8:\"stdClass\":2:{s:11:\"description\";s:176:\"Indicates
  that the contentUrl is not available because the attachment content is still being
  processed. If the caller wishes to retrieve the content, it should try again later.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:23:\"AttachmentsListResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:106:\"A
  list of Attachments. This is the response from the server to GET requests on the
  attachments collection.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  list of attachments.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Attachment\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:22:\"mirror#attachmentsList\";s:11:\"description\";s:60:\"The
  type of resource. This is always mirror#attachmentsList.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"AuthToken\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"authToken\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Command\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"A
  single menu command that is part of a Contact.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:320:\"The
  type of operation this command corresponds to. Allowed values are:  \n- TAKE_A_NOTE
  - Shares a timeline item with the transcription of user speech from the \"Take a
  note\" voice menu command.  \n- POST_AN_UPDATE - Shares a timeline item with the
  transcription of user speech from the \"Post an update\" voice menu command.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Contact\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"A
  person or group that can be used as a creator or a contact.\";s:10:\"properties\";O:8:\"stdClass\":12:{s:14:\"acceptCommands\";O:8:\"stdClass\":3:{s:11:\"description\";s:231:\"A
  list of voice menu commands that a contact can handle. Glass shows up to three contacts
  for each voice menu command. If there are more than that, the three contacts with
  the highest priority are shown for that particular command.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Command\";}s:4:\"type\";s:5:\"array\";}s:11:\"acceptTypes\";O:8:\"stdClass\":3:{s:11:\"description\";s:236:\"A
  list of MIME types that a contact supports. The contact will be shown to the user
  if any of its acceptTypes matches any of the types of the attachments on the item.
  If no acceptTypes are given, the contact will be shown for all items.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  name to display for this contact.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:95:\"An
  ID for this contact. This is generated by the application and is treated as an opaque
  token.\";s:4:\"type\";s:6:\"string\";}s:9:\"imageUrls\";O:8:\"stdClass\":3:{s:11:\"description\";s:202:\"Set
  of image URLs to display for a contact. Most contacts will have a single image,
  but a \"group\" contact may include up to 8 image URLs and they will be resized
  and cropped into a mosaic on the client.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:14:\"mirror#contact\";s:11:\"description\";s:52:\"The
  type of resource. This is always mirror#contact.\";s:4:\"type\";s:6:\"string\";}s:11:\"phoneNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:135:\"Primary
  phone number for the contact. This can be a fully-qualified number, with country
  calling code and area code, or a local number.\";s:4:\"type\";s:6:\"string\";}s:8:\"priority\";O:8:\"stdClass\":3:{s:11:\"description\";s:150:\"Priority
  for the contact to determine ordering in a list of contacts. Contacts with higher
  priorities will be shown before ones with lower priorities.\";s:6:\"format\";s:6:\"uint32\";s:4:\"type\";s:7:\"integer\";}s:15:\"sharingFeatures\";O:8:\"stdClass\":3:{s:11:\"description\";s:89:\"A
  list of sharing features that a contact can handle. Allowed values are:  \n- ADD_CAPTION\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:6:\"source\";O:8:\"stdClass\":2:{s:11:\"description\";s:81:\"The
  ID of the application that created this contact. This is populated by the API\";s:4:\"type\";s:6:\"string\";}s:13:\"speakableName\";O:8:\"stdClass\":2:{s:11:\"description\";s:293:\"Name
  of this contact as it should be pronounced. If this contact's name must be spoken
  as part of a voice disambiguation menu, this name is used as the expected pronunciation.
  This is useful for contact names with unpronounceable characters or whose display
  spelling is otherwise not phonetic.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:194:\"The
  type for this contact. This is used for sorting in UIs. Allowed values are:  \n-
  INDIVIDUAL - Represents a single person. This is the default. \n- GROUP - Represents
  more than a single person.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"ContactsListResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:122:\"A
  list of Contacts representing contacts. This is the response from the server to
  GET requests on the contacts collection.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"Contact
  list.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Contact\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:15:\"mirror#contacts\";s:11:\"description\";s:53:\"The
  type of resource. This is always mirror#contacts.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Location\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"A
  geographic location that can be associated with a timeline item.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:8:\"accuracy\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  accuracy of the location fix in meters.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:7:\"address\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  full address of the location.\";s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:94:\"The
  name to be displayed. This may be a business name or a user-defined place, such
  as \"Home\".\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  ID of the location.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:15:\"mirror#location\";s:11:\"description\";s:53:\"The
  type of resource. This is always mirror#location.\";s:4:\"type\";s:6:\"string\";}s:8:\"latitude\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  latitude, in degrees.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:9:\"longitude\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"The
  longitude, in degrees.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:9:\"timestamp\";O:8:\"stdClass\":3:{s:11:\"description\";s:78:\"The
  time at which this location was captured, formatted according to RFC 3339.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"LocationsListResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:102:\"A
  list of Locations. This is the response from the server to GET requests on the locations
  collection.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"The
  list of locations.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Location\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:20:\"mirror#locationsList\";s:11:\"description\";s:58:\"The
  type of resource. This is always mirror#locationsList.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"MenuItem\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"A
  custom menu item that can be presented to the user by a timeline item.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:6:\"action\";O:8:\"stdClass\":2:{s:11:\"description\";s:1849:\"Controls
  the behavior when the user picks the menu option. Allowed values are:  \n- CUSTOM
  - Custom action set by the service. When the user selects this menuItem, the API
  triggers a notification to your callbackUrl with the userActions.type set to CUSTOM
  and the userActions.payload set to the ID of this menu item. This is the default
  value. \n- Built-in actions:  \n- REPLY - Initiate a reply to the timeline item
  using the voice recording UI. The creator attribute must be set in the timeline
  item for this menu to be available. \n- REPLY_ALL - Same behavior as REPLY. The
  original timeline item's recipients will be added to the reply item. \n- DELETE
  - Delete the timeline item. \n- SHARE - Share the timeline item with the available
  contacts. \n- READ_ALOUD - Read the timeline item's speakableText aloud; if this
  field is not set, read the text field; if none of those fields are set, this menu
  item is ignored. \n- GET_MEDIA_INPUT - Allow users to provide media payloads to
  Glassware from a menu item (currently, only transcribed text from voice input is
  supported). Subscribe to notifications when users invoke this menu item to receive
  the timeline item ID. Retrieve the media from the timeline item in the payload property.
  \n- VOICE_CALL - Initiate a phone call using the timeline item's creator.phoneNumber
  attribute as recipient. \n- NAVIGATE - Navigate to the timeline item's location.
  \n- TOGGLE_PINNED - Toggle the isPinned state of the timeline item. \n- OPEN_URI
  - Open the payload of the menu item in the browser. \n- PLAY_VIDEO - Open the payload
  of the menu item in the Glass video player. \n- SEND_MESSAGE - Initiate sending
  a message to the timeline item's creator:  \n- If the creator.phoneNumber is set
  and Glass is connected to an Android phone, the message is an SMS. \n- Otherwise,
  if the creator.email is set, the message is an email.\";s:4:\"type\";s:6:\"string\";}s:18:\"contextual_command\";O:8:\"stdClass\":2:{s:11:\"description\";s:379:\"The
  ContextualMenus.Command associated with this MenuItem (e.g. READ_ALOUD). The voice
  label for this command will be displayed in the voice menu and the touch label will
  be displayed in the touch menu. Note that the default menu value's display name
  will be overriden if you specify this property. Values that do not correspond to
  a ContextualMenus.Command name will be ignored.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:98:\"The
  ID for this menu item. This is generated by the application and is treated as an
  opaque token.\";s:4:\"type\";s:6:\"string\";}s:7:\"payload\";O:8:\"stdClass\":2:{s:11:\"description\";s:338:\"A
  generic payload whose meaning changes depending on this MenuItem's action.  \n-
  When the action is OPEN_URI, the payload is the URL of the website to view. \n-
  When the action is PLAY_VIDEO, the payload is the streaming URL of the video \n-
  When the action is GET_MEDIA_INPUT, the payload is the text transcription of a user's
  speech input\";s:4:\"type\";s:6:\"string\";}s:18:\"removeWhenSelected\";O:8:\"stdClass\":2:{s:11:\"description\";s:99:\"If
  set to true on a CUSTOM menu item, that item will be removed from the menu after
  it is selected.\";s:4:\"type\";s:7:\"boolean\";}s:6:\"values\";O:8:\"stdClass\":3:{s:11:\"description\";s:221:\"For
  CUSTOM items, a list of values controlling the appearance of the menu item in each
  of its states. A value for the DEFAULT state must be provided. If the PENDING or
  CONFIRMED states are missing, they will not be shown.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/MenuValue\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:9:\"MenuValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"A
  single value that is part of a MenuItem.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:163:\"The
  name to display for the menu item. If you specify this property for a built-in menu
  item, the default contextual voice command for that menu item is not shown.\";s:4:\"type\";s:6:\"string\";}s:7:\"iconUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"URL
  of an icon to display with the menu item.\";s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":2:{s:11:\"description\";s:337:\"The
  state that this value applies to. Allowed values are:  \n- DEFAULT - Default value
  shown when displayed in the menuItems list. \n- PENDING - Value shown when the menuItem
  has been selected by the user but can still be cancelled. \n- CONFIRMED - Value
  shown when the menuItem has been selected by the user and can no longer be cancelled.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"Notification\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"A
  notification delivered by the API.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:10:\"collection\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"The
  collection that generated the notification.\";s:4:\"type\";s:6:\"string\";}s:6:\"itemId\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"The
  ID of the item that generated the notification.\";s:4:\"type\";s:6:\"string\";}s:9:\"operation\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"The
  type of operation that generated the notification.\";s:4:\"type\";s:6:\"string\";}s:11:\"userActions\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"A
  list of actions taken by the user that triggered the notification.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/UserAction\";}s:4:\"type\";s:5:\"array\";}s:9:\"userToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:76:\"The
  user token provided by the service when it subscribed for notifications.\";s:4:\"type\";s:6:\"string\";}s:11:\"verifyToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:85:\"The
  secret verify token provided by the service when it subscribed for notifications.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"NotificationConfig\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"Controls
  how notifications for a timeline item are presented to the user.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"deliveryTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"The
  time at which the notification should be delivered.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:5:\"level\";O:8:\"stdClass\":2:{s:11:\"description\";s:154:\"Describes
  how important the notification is. Allowed values are:  \n- DEFAULT - Notifications
  of default importance. A chime will be played to alert users.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Setting\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"A
  setting for Glass.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:299:\"The
  setting's ID. The following IDs are valid:  \n- locale - The key to the user\u2019s
  language/locale (BCP 47 identifier) that Glassware should use to render localized
  content.  \n- timezone - The key to the user\u2019s current time zone region as
  defined in the tz database. Example: America/Los_Angeles.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:14:\"mirror#setting\";s:11:\"description\";s:52:\"The
  type of resource. This is always mirror#setting.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  setting value, as a string.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"Subscription\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"A
  subscription to events on a collection.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:11:\"callbackUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:75:\"The
  URL where notifications should be delivered (must start with https://).\";s:4:\"type\";s:6:\"string\";}s:10:\"collection\";O:8:\"stdClass\":2:{s:11:\"description\";s:199:\"The
  collection to subscribe to. Allowed values are:  \n- timeline - Changes in the timeline
  including insertion, deletion, and updates. \n- locations - Location updates. \n-
  settings - Settings updates.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  ID of the subscription.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:19:\"mirror#subscription\";s:11:\"description\";s:57:\"The
  type of resource. This is always mirror#subscription.\";s:4:\"type\";s:6:\"string\";}s:12:\"notification\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/Notification\";s:11:\"description\";s:87:\"Container
  object for notifications. This is not populated in the Subscription resource.\";}s:9:\"operation\";O:8:\"stdClass\":3:{s:11:\"description\";s:346:\"A
  list of operations that should be subscribed to. An empty list indicates that all
  operations on the collection should be subscribed to. Allowed values are:  \n- UPDATE
  - The item has been updated. \n- INSERT - A new item has been inserted. \n- DELETE
  - The item has been deleted. \n- MENU_ACTION - A custom menu item has been triggered
  by the user.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"updated\";O:8:\"stdClass\":3:{s:11:\"description\";s:87:\"The
  time at which this subscription was last modified, formatted according to RFC 3339.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:9:\"userToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:100:\"An
  opaque token sent to the subscriber in notifications so that it can determine the
  ID of the user.\";s:4:\"type\";s:6:\"string\";}s:11:\"verifyToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:123:\"A
  secret token sent to the subscriber in notifications so that it can verify that
  the notification was generated by Google.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:25:\"SubscriptionsListResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:109:\"A
  list of Subscriptions. This is the response from the server to GET requests on the
  subscription collection.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"The
  list of subscriptions.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/Subscription\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:24:\"mirror#subscriptionsList\";s:11:\"description\";s:62:\"The
  type of resource. This is always mirror#subscriptionsList.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"TimelineItem\";O:8:\"stdClass\":3:{s:11:\"description\";s:98:\"Each
  item in the user's timeline is represented as a TimelineItem JSON structure, described
  below.\";s:10:\"properties\";O:8:\"stdClass\":26:{s:11:\"attachments\";O:8:\"stdClass\":3:{s:11:\"description\";s:373:\"A
  list of media attachments associated with this item. As a convenience, you can refer
  to attachments in your HTML payloads with the attachment or cid scheme. For example:
  \ \n- attachment: <img src=\"attachment:attachment_index\"> where attachment_index
  is the 0-based index of this array. \n- cid: <img src=\"cid:attachment_id\"> where
  attachment_id is the ID of the attachment.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Attachment\";}s:4:\"type\";s:5:\"array\";}s:8:\"bundleId\";O:8:\"stdClass\":2:{s:11:\"description\";s:147:\"The
  bundle ID for this item. Services can specify a bundleId to group many items together.
  They appear under a single top-level item on the device.\";s:4:\"type\";s:6:\"string\";}s:12:\"canonicalUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:108:\"A
  canonical URL pointing to the canonical/high quality version of the data represented
  by the timeline item.\";s:4:\"type\";s:6:\"string\";}s:7:\"created\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"The
  time at which this item was created, formatted according to RFC 3339.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"creator\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Contact\";s:11:\"description\";s:41:\"The
  user or group that created this item.\";}s:11:\"displayTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:319:\"The
  time that should be displayed when this item is viewed in the timeline, formatted
  according to RFC 3339. This user's timeline is sorted chronologically on display
  time, so this will also determine where the item is displayed in the timeline. If
  not set by the service, the display time defaults to the updated time.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"ETag
  for this item.\";s:4:\"type\";s:6:\"string\";}s:4:\"html\";O:8:\"stdClass\":2:{s:11:\"description\";s:875:\"HTML
  content for this item. If both text and html are provided for an item, the html
  will be rendered in the timeline.\nAllowed HTML elements - You can use these elements
  in your timeline cards.\n \n- Headers: h1, h2, h3, h4, h5, h6 \n- Images: img \n-
  Lists: li, ol, ul \n- HTML5 semantics: article, aside, details, figure, figcaption,
  footer, header, nav, section, summary, time \n- Structural: blockquote, br, div,
  hr, p, span \n- Style: b, big, center, em, i, u, s, small, strike, strong, style,
  sub, sup \n- Tables: table, tbody, td, tfoot, th, thead, tr  \nBlocked HTML elements:
  These elements and their contents are removed from HTML payloads.\n \n- Document
  headers: head, title \n- Embeds: audio, embed, object, source, video \n- Frames:
  frame, frameset \n- Scripting: applet, script  \nOther elements: Any elements that
  aren't listed are removed, but their contents are preserved.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"The
  ID of the timeline item. This is unique within a user's timeline.\";s:4:\"type\";s:6:\"string\";}s:9:\"inReplyTo\";O:8:\"stdClass\":2:{s:11:\"description\";s:193:\"If
  this item was generated as a reply to another item, this field will be set to the
  ID of the item being replied to. This can be used to attach a reply to the appropriate
  conversation or post.\";s:4:\"type\";s:6:\"string\";}s:13:\"isBundleCover\";O:8:\"stdClass\":2:{s:11:\"description\";s:508:\"Whether
  this item is a bundle cover.\n\nIf an item is marked as a bundle cover, it will
  be the entry point to the bundle of items that have the same bundleId as that item.
  It will be shown only on the main timeline \u2014 not within the opened bundle.\n\nOn
  the main timeline, items that are shown are:  \n- Items that have isBundleCover
  set to true  \n- Items that do not have a bundleId  In a bundle sub-timeline, items
  that are shown are:  \n- Items that have the bundleId in question AND isBundleCover
  set to false\";s:4:\"type\";s:7:\"boolean\";}s:9:\"isDeleted\";O:8:\"stdClass\":2:{s:11:\"description\";s:75:\"When
  true, indicates this item is deleted, and only the ID property is set.\";s:4:\"type\";s:7:\"boolean\";}s:8:\"isPinned\";O:8:\"stdClass\":2:{s:11:\"description\";s:309:\"When
  true, indicates this item is pinned, which means it's grouped alongside \"active\"
  items like navigation and hangouts, on the opposite side of the home screen from
  historical (non-pinned) timeline items. You can allow the user to toggle the value
  of this property with the TOGGLE_PINNED built-in menu item.\";s:4:\"type\";s:7:\"boolean\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:19:\"mirror#timelineItem\";s:11:\"description\";s:57:\"The
  type of resource. This is always mirror#timelineItem.\";s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Location\";s:11:\"description\";s:50:\"The
  geographic location associated with this item.\";}s:9:\"menuItems\";O:8:\"stdClass\":3:{s:11:\"description\";s:99:\"A
  list of menu items that will be presented to the user when this item is selected
  in the timeline.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/MenuItem\";}s:4:\"type\";s:5:\"array\";}s:12:\"notification\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/NotificationConfig\";s:11:\"description\";s:124:\"Controls
  how notifications for this item are presented on the device. If this is missing,
  no notification will be generated.\";}s:8:\"pinScore\";O:8:\"stdClass\":3:{s:11:\"description\";s:195:\"For
  pinned items, this determines the order in which the item is displayed in the timeline,
  with a higher score appearing closer to the clock. Note: setting this field is currently
  not supported.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"recipients\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"A
  list of users or groups that this item has been shared with.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Contact\";}s:4:\"type\";s:5:\"array\";}s:8:\"selfLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"A
  URL that can be used to retrieve this item.\";s:4:\"type\";s:6:\"string\";}s:12:\"sourceItemId\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"Opaque
  string you can use to map a timeline item to data in your own service.\";s:4:\"type\";s:6:\"string\";}s:13:\"speakableText\";O:8:\"stdClass\":2:{s:11:\"description\";s:464:\"The
  speakable version of the content of this item. Along with the READ_ALOUD menu item,
  use this field to provide text that would be clearer when read aloud, or to provide
  extended information to what is displayed visually on Glass.\n\nGlassware should
  also specify the speakableType field, which will be spoken before this text in cases
  where the additional context is useful, for example when the user requests that
  the item be read aloud following a notification.\";s:4:\"type\";s:6:\"string\";}s:13:\"speakableType\";O:8:\"stdClass\":2:{s:11:\"description\";s:580:\"A
  speakable description of the type of this item. This will be announced to the user
  prior to reading the content of the item in cases where the additional context is
  useful, for example when the user requests that the item be read aloud following
  a notification.\n\nThis should be a short, simple noun phrase such as \"Email\",
  \"Text message\", or \"Daily Planet News Update\".\n\nGlassware are encouraged to
  populate this field for every timeline item, even if the item does not contain speakableText
  or text so that the user can learn the type of the item without looking at the screen.\";s:4:\"type\";s:6:\"string\";}s:4:\"text\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Text
  content of this item.\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  title of this item.\";s:4:\"type\";s:6:\"string\";}s:7:\"updated\";O:8:\"stdClass\":3:{s:11:\"description\";s:79:\"The
  time at which this item was last modified, formatted according to RFC 3339.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"TimelineListResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:106:\"A
  list of timeline items. This is the response from the server to GET requests on
  the timeline collection.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Items
  in the timeline.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/TimelineItem\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:15:\"mirror#timeline\";s:11:\"description\";s:53:\"The
  type of resource. This is always mirror#timeline.\";s:4:\"type\";s:6:\"string\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:113:\"The
  next page token. Provide this as the pageToken parameter in the request to retrieve
  the next page of results.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"UserAction\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"Represents
  an action taken by the user that triggered a notification.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"payload\";O:8:\"stdClass\":2:{s:11:\"description\";s:122:\"An
  optional payload for the action.\n\nFor actions of type CUSTOM, this is the ID of
  the custom menu item that was selected.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:518:\"The
  type of action. The value of this can be:  \n- SHARE - the user shared an item.
  \n- REPLY - the user replied to an item. \n- REPLY_ALL - the user replied to all
  recipients of an item. \n- CUSTOM - the user selected a custom menu item on the
  timeline item. \n- DELETE - the user deleted the item. \n- PIN - the user pinned
  the item. \n- UNPIN - the user unpinned the item. \n- LAUNCH - the user initiated
  a voice command.  In the future, additional types may be added. UserActions with
  unrecognized types should be ignored.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"UserData\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
