---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Google\";s:3:\"url\";s:18:\"https://google.com\";}s:11:\"description\";s:150:\"Creates
  and conducts surveys, lists the surveys that an authenticated user owns, and retrieves
  survey results and information about specified surveys.\";s:5:\"title\";s:7:\"Surveys\";s:7:\"version\";s:2:\"v2\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:37:\"https://console.developers.google.com\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:116:\"https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.6.2\";}s:6:\"format\";s:6:\"google\";s:3:\"url\";s:60:\"https://www.googleapis.com/discovery/v1/apis/surveys/v2/rest\";s:7:\"version\";s:2:\"v1\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"googleapis.com\";s:13:\"x-serviceName\";s:7:\"surveys\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:14:\"google_surveys\";s:4:\"type\";s:7:\"openapi\";}}"
host: www.googleapis.com
basePath: /surveys/v2
paths: ~
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":17:{s:9:\"FieldMask\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"fields\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/FieldMask\";}s:4:\"type\";s:5:\"array\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:8:\"PageInfo\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"resultPerPage\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"startIndex\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"totalResults\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:17:\"ResultsGetRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"resultMask\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ResultsMask\";}}s:4:\"type\";s:6:\"object\";}s:11:\"ResultsMask\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"fields\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/FieldMask\";}s:4:\"type\";s:5:\"array\";}s:10:\"projection\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Survey\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Representation
  of an individual survey object.\";s:10:\"properties\";O:8:\"stdClass\":11:{s:8:\"audience\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/SurveyAudience\";s:11:\"description\";s:61:\"Targeting-criteria
  message containing demographic information\";}s:4:\"cost\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/SurveyCost\";s:11:\"description\";s:69:\"Cost
  to run the survey and collect the necessary number of responses.\";}s:12:\"customerData\";O:8:\"stdClass\":3:{s:11:\"description\";s:170:\"Additional
  information to store on behalf of the API consumer and associate with this question.
  This binary blob is treated as opaque. This field is limited to 64K bytes.\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Text
  description of the survey.\";s:4:\"type\";s:6:\"string\";}s:6:\"owners\";O:8:\"stdClass\":3:{s:11:\"description\";s:109:\"List
  of email addresses for survey owners. Must contain at least the address of the user
  making the API call.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:9:\"questions\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"List
  of questions defining the survey.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/SurveyQuestion\";}s:4:\"type\";s:5:\"array\";}s:15:\"rejectionReason\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/SurveyRejection\";s:11:\"description\";s:83:\"Reason
  for the survey being rejected. Only present if the survey state is rejected.\";}s:5:\"state\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"State
  that the survey is in.\";s:4:\"type\";s:6:\"string\";}s:11:\"surveyUrlId\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"Unique
  survey ID, that is viewable in the URL of the Survey Creator UI\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Optional
  name that will be given to the survey.\";s:4:\"type\";s:6:\"string\";}s:19:\"wantedResponseCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Number
  of responses desired for the survey.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:14:\"SurveyAudience\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"Specifications
  for the target audience of a survey run through the API.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"ages\";O:8:\"stdClass\":3:{s:11:\"description\";s:119:\"Optional
  list of age buckets to target. Supported age buckets are: ['18-24', '25-34', '35-44',
  '45-54', '55-64', '65+']\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"country\";O:8:\"stdClass\":2:{s:11:\"description\";s:188:\"Required
  country code that surveys should be targeted to. Accepts standard ISO 3166-1 2 character
  language codes. For instance, 'US' for the United States, and 'GB' for the United
  Kingdom.\";s:4:\"type\";s:6:\"string\";}s:18:\"countrySubdivision\";O:8:\"stdClass\":2:{s:11:\"description\";s:300:\"Country
  subdivision (states/provinces/etc) that surveys should be targeted to. For all countries
  except GB, ISO-3166-2 subdivision code is required (eg. 'US-OH' for Ohio, United
  States). For GB, NUTS 1 statistical region codes for the United Kingdom is required
  (eg. 'UK-UKC' for North East England).\";s:4:\"type\";s:6:\"string\";}s:6:\"gender\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Optional
  gender to target.\";s:4:\"type\";s:6:\"string\";}s:9:\"languages\";O:8:\"stdClass\":3:{s:11:\"description\";s:380:\"Language
  code that surveys should be targeted to. For instance, 'en-US'. Surveys may target
  bilingual users by specifying a list of language codes (for example, 'de' and 'en-US').
  In that case, all languages will be used for targeting users but the survey content
  (which is displayed) must match the first language listed. Accepts standard BCP47
  language codes. See specification.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:16:\"populationSource\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"Online
  population source where the respondents are sampled from.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"SurveyCost\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"Message
  defining the cost to run a given survey through API.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:20:\"costPerResponseNanos\";O:8:\"stdClass\":3:{s:11:\"description\";s:143:\"Cost
  per survey response in nano units of the given currency. To get the total cost for
  a survey, multiply this value by wanted_response_count.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:12:\"currencyCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Currency
  code that the cost is given in.\";s:4:\"type\";s:6:\"string\";}s:23:\"maxCostPerResponseNanos\";O:8:\"stdClass\":3:{s:11:\"description\";s:1198:\"*Deprecated*
  Threshold to start a survey automatically if the quoted price is at most this value.
  When a survey has a Screener (threshold) question, it must go through an incidence
  pricing test to determine the final cost per response. Typically you will have to
  make a followup call to start the survey giving the final computed cost per response.
  If the survey has no threshold_answers, setting this property will return an error.
  By specifying this property, you indicate the max price per response you are willing
  to pay in advance of the incidence test. If the price turns out to be lower than
  the specified value, the survey will begin immediately and you will be charged at
  the rate determined by the incidence pricing test. If the price turns out to be
  greater than the specified value the survey will not be started and you will instead
  be notified what price was determined by the incidence test. At that point, you
  must raise the value of this property to be greater than or equal to that cost before
  attempting to start the survey again. This will immediately start the survey as
  long the incidence test was run within the last 21 days. This will no longer be
  available after June 2018.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:5:\"nanos\";O:8:\"stdClass\":3:{s:11:\"description\";s:98:\"Cost
  of survey in nano units of the given currency. DEPRECATED in favor of cost_per_response_nanos\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"SurveyQuestion\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Message
  defining the question specifications.\";s:10:\"properties\";O:8:\"stdClass\":18:{s:11:\"answerOrder\";O:8:\"stdClass\":2:{s:11:\"description\";s:125:\"The
  randomization option for multiple choice and multi-select questions. If not specified,
  this option defaults to randomize.\";s:4:\"type\";s:6:\"string\";}s:7:\"answers\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Required
  list of answer options for a question.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:8:\"hasOther\";O:8:\"stdClass\":2:{s:11:\"description\";s:218:\"Option
  to allow open-ended text box for Single Answer and Multiple Answer question types.
  This can be used with SINGLE_ANSWER, SINGLE_ANSWER_WITH_IMAGE, MULTIPLE_ANSWERS,
  and MULTIPLE_ANSWERS_WITH_IMAGE question types.\";s:4:\"type\";s:7:\"boolean\";}s:14:\"highValueLabel\";O:8:\"stdClass\":2:{s:11:\"description\";s:192:\"For
  rating questions, the text for the higher end of the scale, such as 'Best'. For
  numeric questions, a string representing a floating-point that is the maximum allowed
  number for a response.\";s:4:\"type\";s:6:\"string\";}s:6:\"images\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/SurveyQuestionImage\";}s:4:\"type\";s:5:\"array\";}s:24:\"lastAnswerPositionPinned\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"Currently
  only support pinning an answer option to the last position.\";s:4:\"type\";s:7:\"boolean\";}s:13:\"lowValueLabel\";O:8:\"stdClass\":2:{s:11:\"description\";s:192:\"For
  rating questions, the text for the lower end of the scale, such as 'Worst'. For
  numeric questions, a string representing a floating-point that is the minimum allowed
  number for a response.\";s:4:\"type\";s:6:\"string\";}s:18:\"mustPickSuggestion\";O:8:\"stdClass\":2:{s:11:\"description\";s:129:\"Option
  to force the user to pick one of the open text suggestions. This requires that suggestions
  are provided for this question.\";s:4:\"type\";s:7:\"boolean\";}s:8:\"numStars\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Number
  of stars to use for ratings questions.\";s:4:\"type\";s:6:\"string\";}s:19:\"openTextPlaceholder\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Placeholder
  text for an open text question.\";s:4:\"type\";s:6:\"string\";}s:19:\"openTextSuggestions\";O:8:\"stdClass\":3:{s:11:\"description\";s:117:\"A
  list of suggested answers for open text question auto-complete. This is only valid
  if single_line_response is true.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:8:\"question\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Required
  question text shown to the respondent.\";s:4:\"type\";s:6:\"string\";}s:13:\"sentimentText\";O:8:\"stdClass\":2:{s:11:\"description\";s:192:\"Used
  by the Rating Scale with Text question type. This text goes along with the question
  field that is presented to the respondent, and is the actual text that the respondent
  is asked to rate.\";s:4:\"type\";s:6:\"string\";}s:18:\"singleLineResponse\";O:8:\"stdClass\":2:{s:11:\"description\";s:164:\"Option
  to allow multiple line open text responses instead of a single line response. Note
  that we don't show auto-complete suggestions with multiple line responses.\";s:4:\"type\";s:7:\"boolean\";}s:16:\"thresholdAnswers\";O:8:\"stdClass\":3:{s:11:\"description\";s:145:\"The
  threshold/screener answer options, which will screen a user into the rest of the
  survey. These will be a subset of the answer option strings.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:143:\"Required
  field defining the question type. For details about configuring different type of
  questions, consult the question configuration guide.\";s:4:\"type\";s:6:\"string\";}s:22:\"unitOfMeasurementLabel\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"Optional
  unit of measurement for display (for example: hours, people, miles).\";s:4:\"type\";s:6:\"string\";}s:7:\"videoId\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"The
  YouTube video ID to be show in video questions.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"SurveyQuestionImage\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Container
  object for image data and alt_text.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"altText\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"The
  alt text property used in image tags is required for all images.\";s:4:\"type\";s:6:\"string\";}s:4:\"data\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"Inline
  jpeg, gif, tiff, bmp, or png image raw bytes for an image question types.\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  read-only URL for the hosted images.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"SurveyRejection\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"Message
  representing why the survey was rejected from review, if it was.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"explanation\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"A
  human-readable explanation of what was wrong with the survey.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:114:\"Which
  category of rejection this was. See the  Google Surveys Help Center for additional
  details on each category.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"SurveyResults\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Reference
  to the current results for a given survey.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"Human
  readable string describing the status of the request.\";s:4:\"type\";s:6:\"string\";}s:11:\"surveyUrlId\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"External
  survey ID as viewable by survey owners in the editor view.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"SurveysDeleteResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"requestId\";O:8:\"stdClass\":2:{s:11:\"description\";s:116:\"Unique
  request ID used for logging and debugging. Please include in any error reporting
  or troubleshooting requests.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"SurveysListResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"pageInfo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/PageInfo\";}s:9:\"requestId\";O:8:\"stdClass\":2:{s:11:\"description\";s:116:\"Unique
  request ID used for logging and debugging. Please include in any error reporting
  or troubleshooting requests.\";s:4:\"type\";s:6:\"string\";}s:9:\"resources\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"An
  individual survey resource.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Survey\";}s:4:\"type\";s:5:\"array\";}s:15:\"tokenPagination\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/TokenPagination\";}}s:4:\"type\";s:6:\"object\";}s:19:\"SurveysStartRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:23:\"maxCostPerResponseNanos\";O:8:\"stdClass\":3:{s:11:\"description\";s:196:\"*Deprecated*
  Threshold to start a survey automatically if the quoted prices is less than or equal
  to this value. See Survey.Cost for more details. This will no longer be available
  after June 2018.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"SurveysStartResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"requestId\";O:8:\"stdClass\":2:{s:11:\"description\";s:116:\"Unique
  request ID used for logging and debugging. Please include in any error reporting
  or troubleshooting requests.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"SurveysStopResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"requestId\";O:8:\"stdClass\":2:{s:11:\"description\";s:116:\"Unique
  request ID used for logging and debugging. Please include in any error reporting
  or troubleshooting requests.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"TokenPagination\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"nextPageToken\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"previousPageToken\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
