---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":12:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Google\";s:3:\"url\";s:18:\"https://google.com\";}s:11:\"description\";s:54:\"Verifies
  ownership of websites or domains with Google.\";s:5:\"title\";s:24:\"Google Site
  Verification\";s:7:\"version\";s:2:\"v1\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:37:\"https://console.developers.google.com\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:15:\"developer_tools\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:116:\"https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.6.2\";}s:6:\"format\";s:6:\"google\";s:3:\"url\";s:69:\"https://www.googleapis.com/discovery/v1/apis/siteVerification/v1/rest\";s:7:\"version\";s:2:\"v1\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"googleapis.com\";s:13:\"x-serviceName\";s:16:\"siteVerification\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:23:\"google_siteverification\";s:4:\"type\";s:7:\"openapi\";}}"
host: www.googleapis.com
basePath: /siteVerification/v1
paths:
  /token:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Get a verification token for placing on a website or domain.
      operationId: webResource.getToken
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/SiteVerificationWebResourceGettokenRequest'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/SiteVerificationWebResourceGettokenResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/siteverification
      - Oauth2:
        - https://www.googleapis.com/auth/siteverification.verify_only
      tags:
      - webResource
  /webResource:
    get:
      description: Get the list of your verified websites and domains.
      operationId: webResource.list
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/SiteVerificationWebResourceListResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/siteverification
      tags:
      - webResource
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Attempt verification of a website or domain.
      operationId: webResource.insert
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/SiteVerificationWebResourceResource'
      - description: The method to use for verifying a site or domain.
        in: query
        name: verificationMethod
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/SiteVerificationWebResourceResource'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/siteverification
      - Oauth2:
        - https://www.googleapis.com/auth/siteverification.verify_only
      tags:
      - webResource
  /webResource/{id}:
    delete:
      description: Relinquish ownership of a website or domain.
      operationId: webResource.delete
      parameters:
      - description: The id of a verified site or domain.
        in: path
        name: id
        required: true
        type: string
      responses:
        200:
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/siteverification
      tags:
      - webResource
    get:
      description: Get the most current data for a website or domain.
      operationId: webResource.get
      parameters:
      - description: The id of a verified site or domain.
        in: path
        name: id
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/SiteVerificationWebResourceResource'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/siteverification
      tags:
      - webResource
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    patch:
      description: Modify the list of owners for your website or domain. This method
        supports patch semantics.
      operationId: webResource.patch
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/SiteVerificationWebResourceResource'
      - description: The id of a verified site or domain.
        in: path
        name: id
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/SiteVerificationWebResourceResource'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/siteverification
      tags:
      - webResource
    put:
      description: Modify the list of owners for your website or domain.
      operationId: webResource.update
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/SiteVerificationWebResourceResource'
      - description: The id of a verified site or domain.
        in: path
        name: id
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/SiteVerificationWebResourceResource'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/siteverification
      tags:
      - webResource
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":4:{s:42:\"SiteVerificationWebResourceGettokenRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"site\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"The
  site for which a verification token will be generated.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"identifier\";O:8:\"stdClass\":2:{s:11:\"description\";s:146:\"The
  site identifier. If the type is set to SITE, the identifier is a URL. If the type
  is set to INET_DOMAIN, the site identifier is a domain name.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"The
  type of resource to be verified. Can be SITE or INET_DOMAIN (domain name).\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"verificationMethod\";O:8:\"stdClass\":2:{s:11:\"description\";s:148:\"The
  verification method that will be used to verify this site. For sites, 'FILE' or
  'META' methods may be used. For domains, only 'DNS' may be used.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:43:\"SiteVerificationWebResourceGettokenResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"method\";O:8:\"stdClass\":2:{s:11:\"description\";s:347:\"The
  verification method to use in conjunction with this token. For FILE, the token should
  be placed in the top-level directory of the site, stored inside a file of the same
  name. For META, the token should be placed in the HEAD tag of the default page that
  is loaded for the site. For DNS, the token should be placed in a TXT record of the
  domain.\";s:4:\"type\";s:6:\"string\";}s:5:\"token\";O:8:\"stdClass\":2:{s:11:\"description\";s:100:\"The
  verification token. The token must be placed appropriately in order for verification
  to succeed.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:39:\"SiteVerificationWebResourceListResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"The
  list of sites that are owned by the authenticated user.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:49:\"#/definitions/SiteVerificationWebResourceResource\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:35:\"SiteVerificationWebResourceResource\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:144:\"The
  string used to identify this site. This value should be used in the \"id\" portion
  of the REST URL for the Get, Update, and Delete operations.\";s:4:\"type\";s:6:\"string\";}s:6:\"owners\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  email addresses of all verified owners.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"site\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"The
  address and type of a site that is verified or will be verified.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"identifier\";O:8:\"stdClass\":2:{s:11:\"description\";s:146:\"The
  site identifier. If the type is set to SITE, the identifier is a URL. If the type
  is set to INET_DOMAIN, the site identifier is a domain name.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"The
  site type. Can be SITE or INET_DOMAIN (domain name).\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}}"
...
