---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":12:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Google\";s:3:\"url\";s:18:\"https://google.com\";}s:11:\"description\";s:45:\"Views
  and manages your Google Analytics data.\";s:5:\"title\";s:16:\"Google Analytics\";s:7:\"version\";s:2:\"v3\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:37:\"https://console.developers.google.com\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:9:\"analytics\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:109:\"https://api.apis.guru/v2/cache/logo/https_www.gstatic.com_images_icons_material_product_2x_analytics_64dp.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.6.2\";}s:6:\"format\";s:6:\"google\";s:3:\"url\";s:62:\"https://www.googleapis.com/discovery/v1/apis/analytics/v3/rest\";s:7:\"version\";s:2:\"v1\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"googleapis.com\";s:13:\"x-serviceName\";s:9:\"analytics\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:16:\"google_analytics\";s:4:\"type\";s:7:\"openapi\";}}"
host: www.googleapis.com
basePath: /analytics/v3
paths:
  /data/ga:
    get:
      description: Returns Analytics data for a view (profile).
      operationId: data.ga.get
      parameters:
      - description: A comma-separated list of Analytics dimensions. E.g., 'ga:browser,ga:city'.
        in: query
        name: dimensions
        type: string
      - description: End date for fetching Analytics data. Request can should specify
          an end date formatted as YYYY-MM-DD, or as a relative date (e.g., today,
          yesterday, or 7daysAgo). The default value is yesterday.
        in: query
        name: end-date
        required: true
        type: string
      - description: A comma-separated list of dimension or metric filters to be applied
          to Analytics data.
        in: query
        name: filters
        type: string
      - description: Unique table ID for retrieving Analytics data. Table ID is of
          the form ga:XXXX, where XXXX is the Analytics view (profile) ID.
        in: query
        name: ids
        required: true
        type: string
      - description: The response will include empty rows if this parameter is set
          to true, the default is true
        in: query
        name: include-empty-rows
        type: boolean
      - description: The maximum number of entries to include in this feed.
        in: query
        name: max-results
        type: integer
      - description: A comma-separated list of Analytics metrics. E.g., 'ga:sessions,ga:pageviews'.
          At least one metric must be specified.
        in: query
        name: metrics
        required: true
        type: string
      - description: The selected format for the response. Default format is JSON.
        enum:
        - dataTable
        - json
        in: query
        name: output
        type: string
      - description: The desired sampling level.
        enum:
        - DEFAULT
        - FASTER
        - HIGHER_PRECISION
        in: query
        name: samplingLevel
        type: string
      - description: An Analytics segment to be applied to data.
        in: query
        name: segment
        type: string
      - description: A comma-separated list of dimensions or metrics that determine
          the sort order for Analytics data.
        in: query
        name: sort
        type: string
      - description: Start date for fetching Analytics data. Requests can specify
          a start date formatted as YYYY-MM-DD, or as a relative date (e.g., today,
          yesterday, or 7daysAgo). The default value is 7daysAgo.
        in: query
        name: start-date
        required: true
        type: string
      - description: An index of the first entity to retrieve. Use this parameter
          as a pagination mechanism along with the max-results parameter.
        in: query
        minimum: 1
        name: start-index
        type: integer
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/GaData'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.readonly
      tags:
      - data
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
  /data/mcf:
    get:
      description: Returns Analytics Multi-Channel Funnels data for a view (profile).
      operationId: data.mcf.get
      parameters:
      - description: A comma-separated list of Multi-Channel Funnels dimensions. E.g.,
          'mcf:source,mcf:medium'.
        in: query
        name: dimensions
        type: string
      - description: End date for fetching Analytics data. Requests can specify a
          start date formatted as YYYY-MM-DD, or as a relative date (e.g., today,
          yesterday, or 7daysAgo). The default value is 7daysAgo.
        in: query
        name: end-date
        required: true
        type: string
      - description: A comma-separated list of dimension or metric filters to be applied
          to the Analytics data.
        in: query
        name: filters
        type: string
      - description: Unique table ID for retrieving Analytics data. Table ID is of
          the form ga:XXXX, where XXXX is the Analytics view (profile) ID.
        in: query
        name: ids
        required: true
        type: string
      - description: The maximum number of entries to include in this feed.
        in: query
        name: max-results
        type: integer
      - description: A comma-separated list of Multi-Channel Funnels metrics. E.g.,
          'mcf:totalConversions,mcf:totalConversionValue'. At least one metric must
          be specified.
        in: query
        name: metrics
        required: true
        type: string
      - description: The desired sampling level.
        enum:
        - DEFAULT
        - FASTER
        - HIGHER_PRECISION
        in: query
        name: samplingLevel
        type: string
      - description: A comma-separated list of dimensions or metrics that determine
          the sort order for the Analytics data.
        in: query
        name: sort
        type: string
      - description: Start date for fetching Analytics data. Requests can specify
          a start date formatted as YYYY-MM-DD, or as a relative date (e.g., today,
          yesterday, or 7daysAgo). The default value is 7daysAgo.
        in: query
        name: start-date
        required: true
        type: string
      - description: An index of the first entity to retrieve. Use this parameter
          as a pagination mechanism along with the max-results parameter.
        in: query
        minimum: 1
        name: start-index
        type: integer
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/McfData'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.readonly
      tags:
      - data
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
  /data/realtime:
    get:
      description: Returns real time data for a view (profile).
      operationId: data.realtime.get
      parameters:
      - description: A comma-separated list of real time dimensions. E.g., 'rt:medium,rt:city'.
        in: query
        name: dimensions
        type: string
      - description: A comma-separated list of dimension or metric filters to be applied
          to real time data.
        in: query
        name: filters
        type: string
      - description: Unique table ID for retrieving real time data. Table ID is of
          the form ga:XXXX, where XXXX is the Analytics view (profile) ID.
        in: query
        name: ids
        required: true
        type: string
      - description: The maximum number of entries to include in this feed.
        in: query
        name: max-results
        type: integer
      - description: A comma-separated list of real time metrics. E.g., 'rt:activeUsers'.
          At least one metric must be specified.
        in: query
        name: metrics
        required: true
        type: string
      - description: A comma-separated list of dimensions or metrics that determine
          the sort order for real time data.
        in: query
        name: sort
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/RealtimeData'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.readonly
      tags:
      - data
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
  /management/accountSummaries:
    get:
      description: Lists account summaries (lightweight tree comprised of accounts/properties/profiles)
        to which the user has access.
      operationId: management.accountSummaries.list
      parameters:
      - description: The maximum number of account summaries to include in this response,
          where the largest acceptable value is 1000.
        in: query
        name: max-results
        type: integer
      - description: An index of the first entity to retrieve. Use this parameter
          as a pagination mechanism along with the max-results parameter.
        in: query
        minimum: 1
        name: start-index
        type: integer
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/AccountSummaries'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.edit
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.readonly
      tags:
      - management
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
  /management/accounts:
    get:
      description: Lists all accounts to which the user has access.
      operationId: management.accounts.list
      parameters:
      - description: The maximum number of accounts to include in this response.
        in: query
        name: max-results
        type: integer
      - description: An index of the first account to retrieve. Use this parameter
          as a pagination mechanism along with the max-results parameter.
        in: query
        minimum: 1
        name: start-index
        type: integer
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Accounts'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.edit
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.readonly
      tags:
      - management
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
  /management/accounts/{accountId}/entityUserLinks:
    get:
      description: Lists account-user links for a given account.
      operationId: management.accountUserLinks.list
      parameters:
      - description: Account ID to retrieve the user links for.
        in: path
        name: accountId
        required: true
        type: string
      - description: The maximum number of account-user links to include in this response.
        in: query
        name: max-results
        type: integer
      - description: An index of the first account-user link to retrieve. Use this
          parameter as a pagination mechanism along with the max-results parameter.
        in: query
        minimum: 1
        name: start-index
        type: integer
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/EntityUserLinks'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.manage.users
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.manage.users.readonly
      tags:
      - management
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Adds a new user to the given account.
      operationId: management.accountUserLinks.insert
      parameters:
      - description: Account ID to create the user link for.
        in: path
        name: accountId
        required: true
        type: string
      - in: body
        name: body
        schema:
          $ref: '#/definitions/EntityUserLink'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/EntityUserLink'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.manage.users
      tags:
      - management
  /management/accounts/{accountId}/entityUserLinks/{linkId}:
    delete:
      description: Removes a user from the given account.
      operationId: management.accountUserLinks.delete
      parameters:
      - description: Account ID to delete the user link for.
        in: path
        name: accountId
        required: true
        type: string
      - description: Link ID to delete the user link for.
        in: path
        name: linkId
        required: true
        type: string
      responses:
        200:
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.manage.users
      tags:
      - management
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    put:
      description: Updates permissions for an existing user on the given account.
      operationId: management.accountUserLinks.update
      parameters:
      - description: Account ID to update the account-user link for.
        in: path
        name: accountId
        required: true
        type: string
      - in: body
        name: body
        schema:
          $ref: '#/definitions/EntityUserLink'
      - description: Link ID to update the account-user link for.
        in: path
        name: linkId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/EntityUserLink'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.manage.users
      tags:
      - management
  /management/accounts/{accountId}/filters:
    get:
      description: Lists all filters for an account
      operationId: management.filters.list
      parameters:
      - description: Account ID to retrieve filters for.
        in: path
        name: accountId
        required: true
        type: string
      - description: The maximum number of filters to include in this response.
        in: query
        name: max-results
        type: integer
      - description: An index of the first entity to retrieve. Use this parameter
          as a pagination mechanism along with the max-results parameter.
        in: query
        minimum: 1
        name: start-index
        type: integer
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Filters'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.edit
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.readonly
      tags:
      - management
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Create a new filter.
      operationId: management.filters.insert
      parameters:
      - description: Account ID to create filter for.
        in: path
        name: accountId
        required: true
        type: string
      - in: body
        name: body
        schema:
          $ref: '#/definitions/Filter'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Filter'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.edit
      tags:
      - management
  /management/accounts/{accountId}/filters/{filterId}:
    delete:
      description: Delete a filter.
      operationId: management.filters.delete
      parameters:
      - description: Account ID to delete the filter for.
        in: path
        name: accountId
        required: true
        type: string
      - description: ID of the filter to be deleted.
        in: path
        name: filterId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Filter'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.edit
      tags:
      - management
    get:
      description: Returns a filters to which the user has access.
      operationId: management.filters.get
      parameters:
      - description: Account ID to retrieve filters for.
        in: path
        name: accountId
        required: true
        type: string
      - description: Filter ID to retrieve filters for.
        in: path
        name: filterId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Filter'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.edit
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.readonly
      tags:
      - management
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    patch:
      description: Updates an existing filter. This method supports patch semantics.
      operationId: management.filters.patch
      parameters:
      - description: Account ID to which the filter belongs.
        in: path
        name: accountId
        required: true
        type: string
      - in: body
        name: body
        schema:
          $ref: '#/definitions/Filter'
      - description: ID of the filter to be updated.
        in: path
        name: filterId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Filter'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.edit
      tags:
      - management
    put:
      description: Updates an existing filter.
      operationId: management.filters.update
      parameters:
      - description: Account ID to which the filter belongs.
        in: path
        name: accountId
        required: true
        type: string
      - in: body
        name: body
        schema:
          $ref: '#/definitions/Filter'
      - description: ID of the filter to be updated.
        in: path
        name: filterId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Filter'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.edit
      tags:
      - management
  /management/accounts/{accountId}/webproperties:
    get:
      description: Lists web properties to which the user has access.
      operationId: management.webproperties.list
      parameters:
      - description: Account ID to retrieve web properties for. Can either be a specific
          account ID or '~all', which refers to all the accounts that user has access
          to.
        in: path
        name: accountId
        required: true
        type: string
      - description: The maximum number of web properties to include in this response.
        in: query
        name: max-results
        type: integer
      - description: An index of the first entity to retrieve. Use this parameter
          as a pagination mechanism along with the max-results parameter.
        in: query
        minimum: 1
        name: start-index
        type: integer
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Webproperties'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.edit
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.readonly
      tags:
      - management
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Create a new property if the account has fewer than 20 properties.
        Web properties are visible in the Google Analytics interface only if they
        have at least one profile.
      operationId: management.webproperties.insert
      parameters:
      - description: Account ID to create the web property for.
        in: path
        name: accountId
        required: true
        type: string
      - in: body
        name: body
        schema:
          $ref: '#/definitions/Webproperty'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Webproperty'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.edit
      tags:
      - management
  /management/accounts/{accountId}/webproperties/{webPropertyId}:
    get:
      description: Gets a web property to which the user has access.
      operationId: management.webproperties.get
      parameters:
      - description: Account ID to retrieve the web property for.
        in: path
        name: accountId
        required: true
        type: string
      - description: ID to retrieve the web property for.
        in: path
        name: webPropertyId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Webproperty'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.edit
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.readonly
      tags:
      - management
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    patch:
      description: Updates an existing web property. This method supports patch semantics.
      operationId: management.webproperties.patch
      parameters:
      - description: Account ID to which the web property belongs
        in: path
        name: accountId
        required: true
        type: string
      - in: body
        name: body
        schema:
          $ref: '#/definitions/Webproperty'
      - description: Web property ID
        in: path
        name: webPropertyId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Webproperty'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.edit
      tags:
      - management
    put:
      description: Updates an existing web property.
      operationId: management.webproperties.update
      parameters:
      - description: Account ID to which the web property belongs
        in: path
        name: accountId
        required: true
        type: string
      - in: body
        name: body
        schema:
          $ref: '#/definitions/Webproperty'
      - description: Web property ID
        in: path
        name: webPropertyId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Webproperty'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.edit
      tags:
      - management
  /management/accounts/{accountId}/webproperties/{webPropertyId}/customDataSources:
    get:
      description: List custom data sources to which the user has access.
      operationId: management.customDataSources.list
      parameters:
      - description: Account Id for the custom data sources to retrieve.
        in: path
        name: accountId
        required: true
        type: string
      - description: The maximum number of custom data sources to include in this
          response.
        in: query
        minimum: 1
        name: max-results
        type: integer
      - description: A 1-based index of the first custom data source to retrieve.
          Use this parameter as a pagination mechanism along with the max-results
          parameter.
        in: query
        minimum: 1
        name: start-index
        type: integer
      - description: Web property Id for the custom data sources to retrieve.
        in: path
        name: webPropertyId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/CustomDataSources'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.edit
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.readonly
      tags:
      - management
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
  /management/accounts/{accountId}/webproperties/{webPropertyId}/customDataSources/{customDataSourceId}/deleteUploadData:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Delete data associated with a previous upload.
      operationId: management.uploads.deleteUploadData
      parameters:
      - description: Account Id for the uploads to be deleted.
        in: path
        name: accountId
        required: true
        type: string
      - in: body
        name: body
        schema:
          $ref: '#/definitions/AnalyticsDataimportDeleteUploadDataRequest'
      - description: Custom data source Id for the uploads to be deleted.
        in: path
        name: customDataSourceId
        required: true
        type: string
      - description: Web property Id for the uploads to be deleted.
        in: path
        name: webPropertyId
        required: true
        type: string
      responses:
        200:
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.edit
      tags:
      - management
  /management/accounts/{accountId}/webproperties/{webPropertyId}/customDataSources/{customDataSourceId}/uploads:
    get:
      description: List uploads to which the user has access.
      operationId: management.uploads.list
      parameters:
      - description: Account Id for the uploads to retrieve.
        in: path
        name: accountId
        required: true
        type: string
      - description: Custom data source Id for uploads to retrieve.
        in: path
        name: customDataSourceId
        required: true
        type: string
      - description: The maximum number of uploads to include in this response.
        in: query
        minimum: 1
        name: max-results
        type: integer
      - description: A 1-based index of the first upload to retrieve. Use this parameter
          as a pagination mechanism along with the max-results parameter.
        in: query
        minimum: 1
        name: start-index
        type: integer
      - description: Web property Id for the uploads to retrieve.
        in: path
        name: webPropertyId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Uploads'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.edit
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.readonly
      tags:
      - management
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      consumes:
      - application/octet-stream
      description: Upload data for a custom data source.
      operationId: management.uploads.uploadData
      parameters:
      - description: Account Id associated with the upload.
        in: path
        name: accountId
        required: true
        type: string
      - description: Custom data source Id to which the data being uploaded belongs.
        in: path
        name: customDataSourceId
        required: true
        type: string
      - description: Web property UA-string associated with the upload.
        in: path
        name: webPropertyId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Upload'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.edit
      tags:
      - management
  /management/accounts/{accountId}/webproperties/{webPropertyId}/customDataSources/{customDataSourceId}/uploads/{uploadId}:
    get:
      description: List uploads to which the user has access.
      operationId: management.uploads.get
      parameters:
      - description: Account Id for the upload to retrieve.
        in: path
        name: accountId
        required: true
        type: string
      - description: Custom data source Id for upload to retrieve.
        in: path
        name: customDataSourceId
        required: true
        type: string
      - description: Upload Id to retrieve.
        in: path
        name: uploadId
        required: true
        type: string
      - description: Web property Id for the upload to retrieve.
        in: path
        name: webPropertyId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Upload'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.edit
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.readonly
      tags:
      - management
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
  /management/accounts/{accountId}/webproperties/{webPropertyId}/customDimensions:
    get:
      description: Lists custom dimensions to which the user has access.
      operationId: management.customDimensions.list
      parameters:
      - description: Account ID for the custom dimensions to retrieve.
        in: path
        name: accountId
        required: true
        type: string
      - description: The maximum number of custom dimensions to include in this response.
        in: query
        name: max-results
        type: integer
      - description: An index of the first entity to retrieve. Use this parameter
          as a pagination mechanism along with the max-results parameter.
        in: query
        minimum: 1
        name: start-index
        type: integer
      - description: Web property ID for the custom dimensions to retrieve.
        in: path
        name: webPropertyId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/CustomDimensions'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.readonly
      tags:
      - management
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Create a new custom dimension.
      operationId: management.customDimensions.insert
      parameters:
      - description: Account ID for the custom dimension to create.
        in: path
        name: accountId
        required: true
        type: string
      - in: body
        name: body
        schema:
          $ref: '#/definitions/CustomDimension'
      - description: Web property ID for the custom dimension to create.
        in: path
        name: webPropertyId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/CustomDimension'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.edit
      tags:
      - management
  /management/accounts/{accountId}/webproperties/{webPropertyId}/customDimensions/{customDimensionId}:
    get:
      description: Get a custom dimension to which the user has access.
      operationId: management.customDimensions.get
      parameters:
      - description: Account ID for the custom dimension to retrieve.
        in: path
        name: accountId
        required: true
        type: string
      - description: The ID of the custom dimension to retrieve.
        in: path
        name: customDimensionId
        required: true
        type: string
      - description: Web property ID for the custom dimension to retrieve.
        in: path
        name: webPropertyId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/CustomDimension'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.edit
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.readonly
      tags:
      - management
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    patch:
      description: Updates an existing custom dimension. This method supports patch
        semantics.
      operationId: management.customDimensions.patch
      parameters:
      - description: Account ID for the custom dimension to update.
        in: path
        name: accountId
        required: true
        type: string
      - in: body
        name: body
        schema:
          $ref: '#/definitions/CustomDimension'
      - description: Custom dimension ID for the custom dimension to update.
        in: path
        name: customDimensionId
        required: true
        type: string
      - default: false
        description: Force the update and ignore any warnings related to the custom
          dimension being linked to a custom data source / data set.
        in: query
        name: ignoreCustomDataSourceLinks
        type: boolean
      - description: Web property ID for the custom dimension to update.
        in: path
        name: webPropertyId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/CustomDimension'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.edit
      tags:
      - management
    put:
      description: Updates an existing custom dimension.
      operationId: management.customDimensions.update
      parameters:
      - description: Account ID for the custom dimension to update.
        in: path
        name: accountId
        required: true
        type: string
      - in: body
        name: body
        schema:
          $ref: '#/definitions/CustomDimension'
      - description: Custom dimension ID for the custom dimension to update.
        in: path
        name: customDimensionId
        required: true
        type: string
      - default: false
        description: Force the update and ignore any warnings related to the custom
          dimension being linked to a custom data source / data set.
        in: query
        name: ignoreCustomDataSourceLinks
        type: boolean
      - description: Web property ID for the custom dimension to update.
        in: path
        name: webPropertyId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/CustomDimension'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.edit
      tags:
      - management
  /management/accounts/{accountId}/webproperties/{webPropertyId}/customMetrics:
    get:
      description: Lists custom metrics to which the user has access.
      operationId: management.customMetrics.list
      parameters:
      - description: Account ID for the custom metrics to retrieve.
        in: path
        name: accountId
        required: true
        type: string
      - description: The maximum number of custom metrics to include in this response.
        in: query
        name: max-results
        type: integer
      - description: An index of the first entity to retrieve. Use this parameter
          as a pagination mechanism along with the max-results parameter.
        in: query
        minimum: 1
        name: start-index
        type: integer
      - description: Web property ID for the custom metrics to retrieve.
        in: path
        name: webPropertyId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/CustomMetrics'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.readonly
      tags:
      - management
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Create a new custom metric.
      operationId: management.customMetrics.insert
      parameters:
      - description: Account ID for the custom metric to create.
        in: path
        name: accountId
        required: true
        type: string
      - in: body
        name: body
        schema:
          $ref: '#/definitions/CustomMetric'
      - description: Web property ID for the custom dimension to create.
        in: path
        name: webPropertyId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/CustomMetric'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.edit
      tags:
      - management
  /management/accounts/{accountId}/webproperties/{webPropertyId}/customMetrics/{customMetricId}:
    get:
      description: Get a custom metric to which the user has access.
      operationId: management.customMetrics.get
      parameters:
      - description: Account ID for the custom metric to retrieve.
        in: path
        name: accountId
        required: true
        type: string
      - description: The ID of the custom metric to retrieve.
        in: path
        name: customMetricId
        required: true
        type: string
      - description: Web property ID for the custom metric to retrieve.
        in: path
        name: webPropertyId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/CustomMetric'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.edit
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.readonly
      tags:
      - management
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    patch:
      description: Updates an existing custom metric. This method supports patch semantics.
      operationId: management.customMetrics.patch
      parameters:
      - description: Account ID for the custom metric to update.
        in: path
        name: accountId
        required: true
        type: string
      - in: body
        name: body
        schema:
          $ref: '#/definitions/CustomMetric'
      - description: Custom metric ID for the custom metric to update.
        in: path
        name: customMetricId
        required: true
        type: string
      - default: false
        description: Force the update and ignore any warnings related to the custom
          metric being linked to a custom data source / data set.
        in: query
        name: ignoreCustomDataSourceLinks
        type: boolean
      - description: Web property ID for the custom metric to update.
        in: path
        name: webPropertyId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/CustomMetric'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.edit
      tags:
      - management
    put:
      description: Updates an existing custom metric.
      operationId: management.customMetrics.update
      parameters:
      - description: Account ID for the custom metric to update.
        in: path
        name: accountId
        required: true
        type: string
      - in: body
        name: body
        schema:
          $ref: '#/definitions/CustomMetric'
      - description: Custom metric ID for the custom metric to update.
        in: path
        name: customMetricId
        required: true
        type: string
      - default: false
        description: Force the update and ignore any warnings related to the custom
          metric being linked to a custom data source / data set.
        in: query
        name: ignoreCustomDataSourceLinks
        type: boolean
      - description: Web property ID for the custom metric to update.
        in: path
        name: webPropertyId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/CustomMetric'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.edit
      tags:
      - management
  /management/accounts/{accountId}/webproperties/{webPropertyId}/entityAdWordsLinks:
    get:
      description: Lists webProperty-AdWords links for a given web property.
      operationId: management.webPropertyAdWordsLinks.list
      parameters:
      - description: ID of the account which the given web property belongs to.
        in: path
        name: accountId
        required: true
        type: string
      - description: The maximum number of webProperty-AdWords links to include in
          this response.
        in: query
        name: max-results
        type: integer
      - description: An index of the first webProperty-AdWords link to retrieve. Use
          this parameter as a pagination mechanism along with the max-results parameter.
        in: query
        minimum: 1
        name: start-index
        type: integer
      - description: Web property ID to retrieve the AdWords links for.
        in: path
        name: webPropertyId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/EntityAdWordsLinks'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.edit
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.readonly
      tags:
      - management
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Creates a webProperty-AdWords link.
      operationId: management.webPropertyAdWordsLinks.insert
      parameters:
      - description: ID of the Google Analytics account to create the link for.
        in: path
        name: accountId
        required: true
        type: string
      - in: body
        name: body
        schema:
          $ref: '#/definitions/EntityAdWordsLink'
      - description: Web property ID to create the link for.
        in: path
        name: webPropertyId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/EntityAdWordsLink'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.edit
      tags:
      - management
  /management/accounts/{accountId}/webproperties/{webPropertyId}/entityAdWordsLinks/{webPropertyAdWordsLinkId}:
    delete:
      description: Deletes a web property-AdWords link.
      operationId: management.webPropertyAdWordsLinks.delete
      parameters:
      - description: ID of the account which the given web property belongs to.
        in: path
        name: accountId
        required: true
        type: string
      - description: Web property AdWords link ID.
        in: path
        name: webPropertyAdWordsLinkId
        required: true
        type: string
      - description: Web property ID to delete the AdWords link for.
        in: path
        name: webPropertyId
        required: true
        type: string
      responses:
        200:
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.edit
      tags:
      - management
    get:
      description: Returns a web property-AdWords link to which the user has access.
      operationId: management.webPropertyAdWordsLinks.get
      parameters:
      - description: ID of the account which the given web property belongs to.
        in: path
        name: accountId
        required: true
        type: string
      - description: Web property-AdWords link ID.
        in: path
        name: webPropertyAdWordsLinkId
        required: true
        type: string
      - description: Web property ID to retrieve the AdWords link for.
        in: path
        name: webPropertyId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/EntityAdWordsLink'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.edit
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.readonly
      tags:
      - management
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    patch:
      description: Updates an existing webProperty-AdWords link. This method supports
        patch semantics.
      operationId: management.webPropertyAdWordsLinks.patch
      parameters:
      - description: ID of the account which the given web property belongs to.
        in: path
        name: accountId
        required: true
        type: string
      - in: body
        name: body
        schema:
          $ref: '#/definitions/EntityAdWordsLink'
      - description: Web property-AdWords link ID.
        in: path
        name: webPropertyAdWordsLinkId
        required: true
        type: string
      - description: Web property ID to retrieve the AdWords link for.
        in: path
        name: webPropertyId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/EntityAdWordsLink'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.edit
      tags:
      - management
    put:
      description: Updates an existing webProperty-AdWords link.
      operationId: management.webPropertyAdWordsLinks.update
      parameters:
      - description: ID of the account which the given web property belongs to.
        in: path
        name: accountId
        required: true
        type: string
      - in: body
        name: body
        schema:
          $ref: '#/definitions/EntityAdWordsLink'
      - description: Web property-AdWords link ID.
        in: path
        name: webPropertyAdWordsLinkId
        required: true
        type: string
      - description: Web property ID to retrieve the AdWords link for.
        in: path
        name: webPropertyId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/EntityAdWordsLink'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.edit
      tags:
      - management
  /management/accounts/{accountId}/webproperties/{webPropertyId}/entityUserLinks:
    get:
      description: Lists webProperty-user links for a given web property.
      operationId: management.webpropertyUserLinks.list
      parameters:
      - description: Account ID which the given web property belongs to.
        in: path
        name: accountId
        required: true
        type: string
      - description: The maximum number of webProperty-user Links to include in this
          response.
        in: query
        name: max-results
        type: integer
      - description: An index of the first webProperty-user link to retrieve. Use
          this parameter as a pagination mechanism along with the max-results parameter.
        in: query
        minimum: 1
        name: start-index
        type: integer
      - description: Web Property ID for the webProperty-user links to retrieve. Can
          either be a specific web property ID or '~all', which refers to all the
          web properties that user has access to.
        in: path
        name: webPropertyId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/EntityUserLinks'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.manage.users
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.manage.users.readonly
      tags:
      - management
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Adds a new user to the given web property.
      operationId: management.webpropertyUserLinks.insert
      parameters:
      - description: Account ID to create the user link for.
        in: path
        name: accountId
        required: true
        type: string
      - in: body
        name: body
        schema:
          $ref: '#/definitions/EntityUserLink'
      - description: Web Property ID to create the user link for.
        in: path
        name: webPropertyId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/EntityUserLink'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.manage.users
      tags:
      - management
  /management/accounts/{accountId}/webproperties/{webPropertyId}/entityUserLinks/{linkId}:
    delete:
      description: Removes a user from the given web property.
      operationId: management.webpropertyUserLinks.delete
      parameters:
      - description: Account ID to delete the user link for.
        in: path
        name: accountId
        required: true
        type: string
      - description: Link ID to delete the user link for.
        in: path
        name: linkId
        required: true
        type: string
      - description: Web Property ID to delete the user link for.
        in: path
        name: webPropertyId
        required: true
        type: string
      responses:
        200:
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.manage.users
      tags:
      - management
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    put:
      description: Updates permissions for an existing user on the given web property.
      operationId: management.webpropertyUserLinks.update
      parameters:
      - description: Account ID to update the account-user link for.
        in: path
        name: accountId
        required: true
        type: string
      - in: body
        name: body
        schema:
          $ref: '#/definitions/EntityUserLink'
      - description: Link ID to update the account-user link for.
        in: path
        name: linkId
        required: true
        type: string
      - description: Web property ID to update the account-user link for.
        in: path
        name: webPropertyId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/EntityUserLink'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.manage.users
      tags:
      - management
  /management/accounts/{accountId}/webproperties/{webPropertyId}/profiles:
    get:
      description: Lists views (profiles) to which the user has access.
      operationId: management.profiles.list
      parameters:
      - description: Account ID for the view (profiles) to retrieve. Can either be
          a specific account ID or '~all', which refers to all the accounts to which
          the user has access.
        in: path
        name: accountId
        required: true
        type: string
      - description: The maximum number of views (profiles) to include in this response.
        in: query
        name: max-results
        type: integer
      - description: An index of the first entity to retrieve. Use this parameter
          as a pagination mechanism along with the max-results parameter.
        in: query
        minimum: 1
        name: start-index
        type: integer
      - description: Web property ID for the views (profiles) to retrieve. Can either
          be a specific web property ID or '~all', which refers to all the web properties
          to which the user has access.
        in: path
        name: webPropertyId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Profiles'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.edit
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.readonly
      tags:
      - management
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Create a new view (profile).
      operationId: management.profiles.insert
      parameters:
      - description: Account ID to create the view (profile) for.
        in: path
        name: accountId
        required: true
        type: string
      - in: body
        name: body
        schema:
          $ref: '#/definitions/Profile'
      - description: Web property ID to create the view (profile) for.
        in: path
        name: webPropertyId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Profile'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.edit
      tags:
      - management
  /management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}:
    delete:
      description: Deletes a view (profile).
      operationId: management.profiles.delete
      parameters:
      - description: Account ID to delete the view (profile) for.
        in: path
        name: accountId
        required: true
        type: string
      - description: ID of the view (profile) to be deleted.
        in: path
        name: profileId
        required: true
        type: string
      - description: Web property ID to delete the view (profile) for.
        in: path
        name: webPropertyId
        required: true
        type: string
      responses:
        200:
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.edit
      tags:
      - management
    get:
      description: Gets a view (profile) to which the user has access.
      operationId: management.profiles.get
      parameters:
      - description: Account ID to retrieve the view (profile) for.
        in: path
        name: accountId
        required: true
        type: string
      - description: View (Profile) ID to retrieve the view (profile) for.
        in: path
        name: profileId
        required: true
        type: string
      - description: Web property ID to retrieve the view (profile) for.
        in: path
        name: webPropertyId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Profile'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.edit
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.readonly
      tags:
      - management
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    patch:
      description: Updates an existing view (profile). This method supports patch
        semantics.
      operationId: management.profiles.patch
      parameters:
      - description: Account ID to which the view (profile) belongs
        in: path
        name: accountId
        required: true
        type: string
      - in: body
        name: body
        schema:
          $ref: '#/definitions/Profile'
      - description: ID of the view (profile) to be updated.
        in: path
        name: profileId
        required: true
        type: string
      - description: Web property ID to which the view (profile) belongs
        in: path
        name: webPropertyId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Profile'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.edit
      tags:
      - management
    put:
      description: Updates an existing view (profile).
      operationId: management.profiles.update
      parameters:
      - description: Account ID to which the view (profile) belongs
        in: path
        name: accountId
        required: true
        type: string
      - in: body
        name: body
        schema:
          $ref: '#/definitions/Profile'
      - description: ID of the view (profile) to be updated.
        in: path
        name: profileId
        required: true
        type: string
      - description: Web property ID to which the view (profile) belongs
        in: path
        name: webPropertyId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Profile'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.edit
      tags:
      - management
  /management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/entityUserLinks:
    get:
      description: Lists profile-user links for a given view (profile).
      operationId: management.profileUserLinks.list
      parameters:
      - description: Account ID which the given view (profile) belongs to.
        in: path
        name: accountId
        required: true
        type: string
      - description: The maximum number of profile-user links to include in this response.
        in: query
        name: max-results
        type: integer
      - description: View (Profile) ID to retrieve the profile-user links for. Can
          either be a specific profile ID or '~all', which refers to all the profiles
          that user has access to.
        in: path
        name: profileId
        required: true
        type: string
      - description: An index of the first profile-user link to retrieve. Use this
          parameter as a pagination mechanism along with the max-results parameter.
        in: query
        minimum: 1
        name: start-index
        type: integer
      - description: Web Property ID which the given view (profile) belongs to. Can
          either be a specific web property ID or '~all', which refers to all the
          web properties that user has access to.
        in: path
        name: webPropertyId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/EntityUserLinks'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.manage.users
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.manage.users.readonly
      tags:
      - management
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Adds a new user to the given view (profile).
      operationId: management.profileUserLinks.insert
      parameters:
      - description: Account ID to create the user link for.
        in: path
        name: accountId
        required: true
        type: string
      - in: body
        name: body
        schema:
          $ref: '#/definitions/EntityUserLink'
      - description: View (Profile) ID to create the user link for.
        in: path
        name: profileId
        required: true
        type: string
      - description: Web Property ID to create the user link for.
        in: path
        name: webPropertyId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/EntityUserLink'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.manage.users
      tags:
      - management
  /management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/entityUserLinks/{linkId}:
    delete:
      description: Removes a user from the given view (profile).
      operationId: management.profileUserLinks.delete
      parameters:
      - description: Account ID to delete the user link for.
        in: path
        name: accountId
        required: true
        type: string
      - description: Link ID to delete the user link for.
        in: path
        name: linkId
        required: true
        type: string
      - description: View (Profile) ID to delete the user link for.
        in: path
        name: profileId
        required: true
        type: string
      - description: Web Property ID to delete the user link for.
        in: path
        name: webPropertyId
        required: true
        type: string
      responses:
        200:
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.manage.users
      tags:
      - management
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    put:
      description: Updates permissions for an existing user on the given view (profile).
      operationId: management.profileUserLinks.update
      parameters:
      - description: Account ID to update the user link for.
        in: path
        name: accountId
        required: true
        type: string
      - in: body
        name: body
        schema:
          $ref: '#/definitions/EntityUserLink'
      - description: Link ID to update the user link for.
        in: path
        name: linkId
        required: true
        type: string
      - description: View (Profile ID) to update the user link for.
        in: path
        name: profileId
        required: true
        type: string
      - description: Web Property ID to update the user link for.
        in: path
        name: webPropertyId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/EntityUserLink'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.manage.users
      tags:
      - management
  /management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/experiments:
    get:
      description: Lists experiments to which the user has access.
      operationId: management.experiments.list
      parameters:
      - description: Account ID to retrieve experiments for.
        in: path
        name: accountId
        required: true
        type: string
      - description: The maximum number of experiments to include in this response.
        in: query
        name: max-results
        type: integer
      - description: View (Profile) ID to retrieve experiments for.
        in: path
        name: profileId
        required: true
        type: string
      - description: An index of the first experiment to retrieve. Use this parameter
          as a pagination mechanism along with the max-results parameter.
        in: query
        minimum: 1
        name: start-index
        type: integer
      - description: Web property ID to retrieve experiments for.
        in: path
        name: webPropertyId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Experiments'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.edit
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.readonly
      tags:
      - management
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Create a new experiment.
      operationId: management.experiments.insert
      parameters:
      - description: Account ID to create the experiment for.
        in: path
        name: accountId
        required: true
        type: string
      - in: body
        name: body
        schema:
          $ref: '#/definitions/Experiment'
      - description: View (Profile) ID to create the experiment for.
        in: path
        name: profileId
        required: true
        type: string
      - description: Web property ID to create the experiment for.
        in: path
        name: webPropertyId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Experiment'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.edit
      tags:
      - management
  /management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/experiments/{experimentId}:
    delete:
      description: Delete an experiment.
      operationId: management.experiments.delete
      parameters:
      - description: Account ID to which the experiment belongs
        in: path
        name: accountId
        required: true
        type: string
      - description: ID of the experiment to delete
        in: path
        name: experimentId
        required: true
        type: string
      - description: View (Profile) ID to which the experiment belongs
        in: path
        name: profileId
        required: true
        type: string
      - description: Web property ID to which the experiment belongs
        in: path
        name: webPropertyId
        required: true
        type: string
      responses:
        200:
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.edit
      tags:
      - management
    get:
      description: Returns an experiment to which the user has access.
      operationId: management.experiments.get
      parameters:
      - description: Account ID to retrieve the experiment for.
        in: path
        name: accountId
        required: true
        type: string
      - description: Experiment ID to retrieve the experiment for.
        in: path
        name: experimentId
        required: true
        type: string
      - description: View (Profile) ID to retrieve the experiment for.
        in: path
        name: profileId
        required: true
        type: string
      - description: Web property ID to retrieve the experiment for.
        in: path
        name: webPropertyId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Experiment'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.edit
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.readonly
      tags:
      - management
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    patch:
      description: Update an existing experiment. This method supports patch semantics.
      operationId: management.experiments.patch
      parameters:
      - description: Account ID of the experiment to update.
        in: path
        name: accountId
        required: true
        type: string
      - in: body
        name: body
        schema:
          $ref: '#/definitions/Experiment'
      - description: Experiment ID of the experiment to update.
        in: path
        name: experimentId
        required: true
        type: string
      - description: View (Profile) ID of the experiment to update.
        in: path
        name: profileId
        required: true
        type: string
      - description: Web property ID of the experiment to update.
        in: path
        name: webPropertyId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Experiment'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.edit
      tags:
      - management
    put:
      description: Update an existing experiment.
      operationId: management.experiments.update
      parameters:
      - description: Account ID of the experiment to update.
        in: path
        name: accountId
        required: true
        type: string
      - in: body
        name: body
        schema:
          $ref: '#/definitions/Experiment'
      - description: Experiment ID of the experiment to update.
        in: path
        name: experimentId
        required: true
        type: string
      - description: View (Profile) ID of the experiment to update.
        in: path
        name: profileId
        required: true
        type: string
      - description: Web property ID of the experiment to update.
        in: path
        name: webPropertyId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Experiment'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.edit
      tags:
      - management
  /management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/goals:
    get:
      description: Lists goals to which the user has access.
      operationId: management.goals.list
      parameters:
      - description: Account ID to retrieve goals for. Can either be a specific account
          ID or '~all', which refers to all the accounts that user has access to.
        in: path
        name: accountId
        required: true
        type: string
      - description: The maximum number of goals to include in this response.
        in: query
        name: max-results
        type: integer
      - description: View (Profile) ID to retrieve goals for. Can either be a specific
          view (profile) ID or '~all', which refers to all the views (profiles) that
          user has access to.
        in: path
        name: profileId
        required: true
        type: string
      - description: An index of the first goal to retrieve. Use this parameter as
          a pagination mechanism along with the max-results parameter.
        in: query
        minimum: 1
        name: start-index
        type: integer
      - description: Web property ID to retrieve goals for. Can either be a specific
          web property ID or '~all', which refers to all the web properties that user
          has access to.
        in: path
        name: webPropertyId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Goals'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.edit
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.readonly
      tags:
      - management
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Create a new goal.
      operationId: management.goals.insert
      parameters:
      - description: Account ID to create the goal for.
        in: path
        name: accountId
        required: true
        type: string
      - in: body
        name: body
        schema:
          $ref: '#/definitions/Goal'
      - description: View (Profile) ID to create the goal for.
        in: path
        name: profileId
        required: true
        type: string
      - description: Web property ID to create the goal for.
        in: path
        name: webPropertyId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Goal'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.edit
      tags:
      - management
  /management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/goals/{goalId}:
    get:
      description: Gets a goal to which the user has access.
      operationId: management.goals.get
      parameters:
      - description: Account ID to retrieve the goal for.
        in: path
        name: accountId
        required: true
        type: string
      - description: Goal ID to retrieve the goal for.
        in: path
        name: goalId
        required: true
        type: string
      - description: View (Profile) ID to retrieve the goal for.
        in: path
        name: profileId
        required: true
        type: string
      - description: Web property ID to retrieve the goal for.
        in: path
        name: webPropertyId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Goal'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.edit
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.readonly
      tags:
      - management
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    patch:
      description: Updates an existing goal. This method supports patch semantics.
      operationId: management.goals.patch
      parameters:
      - description: Account ID to update the goal.
        in: path
        name: accountId
        required: true
        type: string
      - in: body
        name: body
        schema:
          $ref: '#/definitions/Goal'
      - description: Index of the goal to be updated.
        in: path
        name: goalId
        required: true
        type: string
      - description: View (Profile) ID to update the goal.
        in: path
        name: profileId
        required: true
        type: string
      - description: Web property ID to update the goal.
        in: path
        name: webPropertyId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Goal'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.edit
      tags:
      - management
    put:
      description: Updates an existing goal.
      operationId: management.goals.update
      parameters:
      - description: Account ID to update the goal.
        in: path
        name: accountId
        required: true
        type: string
      - in: body
        name: body
        schema:
          $ref: '#/definitions/Goal'
      - description: Index of the goal to be updated.
        in: path
        name: goalId
        required: true
        type: string
      - description: View (Profile) ID to update the goal.
        in: path
        name: profileId
        required: true
        type: string
      - description: Web property ID to update the goal.
        in: path
        name: webPropertyId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Goal'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.edit
      tags:
      - management
  /management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/profileFilterLinks:
    get:
      description: Lists all profile filter links for a profile.
      operationId: management.profileFilterLinks.list
      parameters:
      - description: Account ID to retrieve profile filter links for.
        in: path
        name: accountId
        required: true
        type: string
      - description: The maximum number of profile filter links to include in this
          response.
        in: query
        name: max-results
        type: integer
      - description: Profile ID to retrieve filter links for. Can either be a specific
          profile ID or '~all', which refers to all the profiles that user has access
          to.
        in: path
        name: profileId
        required: true
        type: string
      - description: An index of the first entity to retrieve. Use this parameter
          as a pagination mechanism along with the max-results parameter.
        in: query
        minimum: 1
        name: start-index
        type: integer
      - description: Web property Id for profile filter links for. Can either be a
          specific web property ID or '~all', which refers to all the web properties
          that user has access to.
        in: path
        name: webPropertyId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ProfileFilterLinks'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.edit
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.readonly
      tags:
      - management
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Create a new profile filter link.
      operationId: management.profileFilterLinks.insert
      parameters:
      - description: Account ID to create profile filter link for.
        in: path
        name: accountId
        required: true
        type: string
      - in: body
        name: body
        schema:
          $ref: '#/definitions/ProfileFilterLink'
      - description: Profile ID to create filter link for.
        in: path
        name: profileId
        required: true
        type: string
      - description: Web property Id to create profile filter link for.
        in: path
        name: webPropertyId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ProfileFilterLink'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.edit
      tags:
      - management
  /management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/profileFilterLinks/{linkId}:
    delete:
      description: Delete a profile filter link.
      operationId: management.profileFilterLinks.delete
      parameters:
      - description: Account ID to which the profile filter link belongs.
        in: path
        name: accountId
        required: true
        type: string
      - description: ID of the profile filter link to delete.
        in: path
        name: linkId
        required: true
        type: string
      - description: Profile ID to which the filter link belongs.
        in: path
        name: profileId
        required: true
        type: string
      - description: Web property Id to which the profile filter link belongs.
        in: path
        name: webPropertyId
        required: true
        type: string
      responses:
        200:
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.edit
      tags:
      - management
    get:
      description: Returns a single profile filter link.
      operationId: management.profileFilterLinks.get
      parameters:
      - description: Account ID to retrieve profile filter link for.
        in: path
        name: accountId
        required: true
        type: string
      - description: ID of the profile filter link.
        in: path
        name: linkId
        required: true
        type: string
      - description: Profile ID to retrieve filter link for.
        in: path
        name: profileId
        required: true
        type: string
      - description: Web property Id to retrieve profile filter link for.
        in: path
        name: webPropertyId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ProfileFilterLink'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.edit
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.readonly
      tags:
      - management
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    patch:
      description: Update an existing profile filter link. This method supports patch
        semantics.
      operationId: management.profileFilterLinks.patch
      parameters:
      - description: Account ID to which profile filter link belongs.
        in: path
        name: accountId
        required: true
        type: string
      - in: body
        name: body
        schema:
          $ref: '#/definitions/ProfileFilterLink'
      - description: ID of the profile filter link to be updated.
        in: path
        name: linkId
        required: true
        type: string
      - description: Profile ID to which filter link belongs
        in: path
        name: profileId
        required: true
        type: string
      - description: Web property Id to which profile filter link belongs
        in: path
        name: webPropertyId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ProfileFilterLink'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.edit
      tags:
      - management
    put:
      description: Update an existing profile filter link.
      operationId: management.profileFilterLinks.update
      parameters:
      - description: Account ID to which profile filter link belongs.
        in: path
        name: accountId
        required: true
        type: string
      - in: body
        name: body
        schema:
          $ref: '#/definitions/ProfileFilterLink'
      - description: ID of the profile filter link to be updated.
        in: path
        name: linkId
        required: true
        type: string
      - description: Profile ID to which filter link belongs
        in: path
        name: profileId
        required: true
        type: string
      - description: Web property Id to which profile filter link belongs
        in: path
        name: webPropertyId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ProfileFilterLink'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.edit
      tags:
      - management
  /management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/unsampledReports:
    get:
      description: Lists unsampled reports to which the user has access.
      operationId: management.unsampledReports.list
      parameters:
      - description: Account ID to retrieve unsampled reports for. Must be a specific
          account ID, ~all is not supported.
        in: path
        name: accountId
        required: true
        type: string
      - description: The maximum number of unsampled reports to include in this response.
        in: query
        name: max-results
        type: integer
      - description: View (Profile) ID to retrieve unsampled reports for. Must be
          a specific view (profile) ID, ~all is not supported.
        in: path
        name: profileId
        required: true
        type: string
      - description: An index of the first unsampled report to retrieve. Use this
          parameter as a pagination mechanism along with the max-results parameter.
        in: query
        minimum: 1
        name: start-index
        type: integer
      - description: Web property ID to retrieve unsampled reports for. Must be a
          specific web property ID, ~all is not supported.
        in: path
        name: webPropertyId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/UnsampledReports'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.edit
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.readonly
      tags:
      - management
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Create a new unsampled report.
      operationId: management.unsampledReports.insert
      parameters:
      - description: Account ID to create the unsampled report for.
        in: path
        name: accountId
        required: true
        type: string
      - in: body
        name: body
        schema:
          $ref: '#/definitions/UnsampledReport'
      - description: View (Profile) ID to create the unsampled report for.
        in: path
        name: profileId
        required: true
        type: string
      - description: Web property ID to create the unsampled report for.
        in: path
        name: webPropertyId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/UnsampledReport'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.edit
      tags:
      - management
  /management/accounts/{accountId}/webproperties/{webPropertyId}/profiles/{profileId}/unsampledReports/{unsampledReportId}:
    delete:
      description: Deletes an unsampled report.
      operationId: management.unsampledReports.delete
      parameters:
      - description: Account ID to delete the unsampled report for.
        in: path
        name: accountId
        required: true
        type: string
      - description: View (Profile) ID to delete the unsampled report for.
        in: path
        name: profileId
        required: true
        type: string
      - description: ID of the unsampled report to be deleted.
        in: path
        name: unsampledReportId
        required: true
        type: string
      - description: Web property ID to delete the unsampled reports for.
        in: path
        name: webPropertyId
        required: true
        type: string
      responses:
        200:
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.edit
      tags:
      - management
    get:
      description: Returns a single unsampled report.
      operationId: management.unsampledReports.get
      parameters:
      - description: Account ID to retrieve unsampled report for.
        in: path
        name: accountId
        required: true
        type: string
      - description: View (Profile) ID to retrieve unsampled report for.
        in: path
        name: profileId
        required: true
        type: string
      - description: ID of the unsampled report to retrieve.
        in: path
        name: unsampledReportId
        required: true
        type: string
      - description: Web property ID to retrieve unsampled reports for.
        in: path
        name: webPropertyId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/UnsampledReport'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.edit
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.readonly
      tags:
      - management
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
  /management/accounts/{accountId}/webproperties/{webPropertyId}/remarketingAudiences:
    get:
      description: Lists remarketing audiences to which the user has access.
      operationId: management.remarketingAudience.list
      parameters:
      - description: The account ID of the remarketing audiences to retrieve.
        in: path
        name: accountId
        required: true
        type: string
      - description: The maximum number of remarketing audiences to include in this
          response.
        in: query
        name: max-results
        type: integer
      - description: An index of the first entity to retrieve. Use this parameter
          as a pagination mechanism along with the max-results parameter.
        in: query
        minimum: 1
        name: start-index
        type: integer
      - default: all
        in: query
        name: type
        type: string
      - description: The web property ID of the remarketing audiences to retrieve.
        in: path
        name: webPropertyId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/RemarketingAudiences'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.edit
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.readonly
      tags:
      - management
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Creates a new remarketing audience.
      operationId: management.remarketingAudience.insert
      parameters:
      - description: The account ID for which to create the remarketing audience.
        in: path
        name: accountId
        required: true
        type: string
      - in: body
        name: body
        schema:
          $ref: '#/definitions/RemarketingAudience'
      - description: Web property ID for which to create the remarketing audience.
        in: path
        name: webPropertyId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/RemarketingAudience'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.edit
      tags:
      - management
  /management/accounts/{accountId}/webproperties/{webPropertyId}/remarketingAudiences/{remarketingAudienceId}:
    delete:
      description: Delete a remarketing audience.
      operationId: management.remarketingAudience.delete
      parameters:
      - description: Account ID to which the remarketing audience belongs.
        in: path
        name: accountId
        required: true
        type: string
      - description: The ID of the remarketing audience to delete.
        in: path
        name: remarketingAudienceId
        required: true
        type: string
      - description: Web property ID to which the remarketing audience belongs.
        in: path
        name: webPropertyId
        required: true
        type: string
      responses:
        200:
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/analytics.edit
      tags:
      - management
    get:
      description: Gets a remarketing audience to which the user has access.
      operationId: management.remarketingAudience.get
      parameters:
[...]
