---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Google\";s:3:\"url\";s:18:\"https://google.com\";}s:11:\"description\";s:57:\"Manages
  the deployment of apps to Android for Work users.\";s:5:\"title\";s:15:\"Google
  Play EMM\";s:7:\"version\";s:2:\"v1\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:37:\"https://console.developers.google.com\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:100:\"https://api.apis.guru/v2/cache/logo/https_www.gstatic.com_android_market_images_web_play_logo_x2.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.6.2\";}s:6:\"format\";s:6:\"google\";s:3:\"url\";s:70:\"https://www.googleapis.com/discovery/v1/apis/androidenterprise/v1/rest\";s:7:\"version\";s:2:\"v1\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"googleapis.com\";s:13:\"x-serviceName\";s:17:\"androidenterprise\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:24:\"google_androidenterprise\";s:4:\"type\";s:7:\"openapi\";}}"
host: www.googleapis.com
basePath: /androidenterprise/v1
paths: ~
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":70:{s:13:\"Administrator\";O:8:\"stdClass\":3:{s:11:\"description\";s:99:\"This
  represents an enterprise admin who can manage the enterprise in the managed Google
  Play store.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  admin's email address.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"AdministratorWebToken\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"A
  token authorizing an admin to access an iframe.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:39:\"androidenterprise#administratorWebToken\";s:11:\"description\";s:108:\"Identifies
  what kind of resource this is. Value: the fixed string \"androidenterprise#administratorWebToken\".\";s:4:\"type\";s:6:\"string\";}s:5:\"token\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"An
  opaque token to be passed to the Play front-end to generate an iframe.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:25:\"AdministratorWebTokenSpec\";O:8:\"stdClass\":3:{s:11:\"description\";s:166:\"Specification
  for a token used to generate iframes. The token specifies what data the admin is
  allowed to modify and the URI the iframe is allowed to communiate with.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:43:\"androidenterprise#administratorWebTokenSpec\";s:11:\"description\";s:112:\"Identifies
  what kind of resource this is. Value: the fixed string \"androidenterprise#administratorWebTokenSpec\".\";s:4:\"type\";s:6:\"string\";}s:6:\"parent\";O:8:\"stdClass\":2:{s:11:\"description\";s:131:\"The
  URI of the parent frame hosting the iframe. To prevent XSS, the iframe may not be
  hosted at other URIs. This URI must be https.\";s:4:\"type\";s:6:\"string\";}s:10:\"permission\";O:8:\"stdClass\":3:{s:11:\"description\";s:272:\"The
  list of permissions the admin is granted within the iframe. The admin will only
  be allowed to view an iframe if they have all of the permissions associated with
  it. The only valid value is \"approveApps\" that will allow the admin to access
  the iframe in \"approve\" mode.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:25:\"AndroidDevicePolicyConfig\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Deprecated
  and unused.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:43:\"androidenterprise#androidDevicePolicyConfig\";s:11:\"description\";s:112:\"Identifies
  what kind of resource this is. Value: the fixed string \"androidenterprise#androidDevicePolicyConfig\".\";s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Deprecated
  and unused.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"AppRestrictionsSchema\";O:8:\"stdClass\":3:{s:11:\"description\";s:87:\"Represents
  the list of app restrictions available to be pre-configured for the product.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:39:\"androidenterprise#appRestrictionsSchema\";s:11:\"description\";s:108:\"Identifies
  what kind of resource this is. Value: the fixed string \"androidenterprise#appRestrictionsSchema\".\";s:4:\"type\";s:6:\"string\";}s:12:\"restrictions\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  set of restrictions that make up this schema.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/AppRestrictionsSchemaRestriction\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:32:\"AppRestrictionsSchemaChangeEvent\";O:8:\"stdClass\":3:{s:11:\"description\";s:212:\"An
  event generated when a new app version is uploaded to Google Play and its app restrictions
  schema changed. To fetch the app restrictions schema for an app, use Products.getAppRestrictionsSchema
  on the EMM API.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"productId\";O:8:\"stdClass\":2:{s:11:\"description\";s:137:\"The
  id of the product (e.g. \"app:com.google.android.gm\") for which the app restriction
  schema changed. This field will always be present.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:32:\"AppRestrictionsSchemaRestriction\";O:8:\"stdClass\":3:{s:11:\"description\";s:104:\"A
  restriction in the App Restriction Schema represents a piece of configuration that
  may be pre-applied.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:12:\"defaultValue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:62:\"#/definitions/AppRestrictionsSchemaRestrictionRestrictionValue\";s:11:\"description\";s:101:\"The
  default value of the restriction. bundle and bundleArray restrictions never have
  a default value.\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:79:\"A
  longer description of the restriction, giving more detail of what it affects.\";s:4:\"type\";s:6:\"string\";}s:5:\"entry\";O:8:\"stdClass\":3:{s:11:\"description\";s:91:\"For
  choice or multiselect restrictions, the list of possible entries' human-readable
  names.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:10:\"entryValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:252:\"For
  choice or multiselect restrictions, the list of possible entries' machine-readable
  values. These values should be used in the configuration, either as a single string
  value for a choice restriction or in a stringArray for a multiselect restriction.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:3:\"key\";O:8:\"stdClass\":2:{s:11:\"description\";s:105:\"The
  unique key that the product uses to identify the restriction, e.g. \"com.google.android.gm.fieldname\".\";s:4:\"type\";s:6:\"string\";}s:17:\"nestedRestriction\";O:8:\"stdClass\":3:{s:11:\"description\";s:202:\"For
  bundle or bundleArray restrictions, the list of nested restrictions. A bundle restriction
  is always nested within a bundleArray restriction, and a bundleArray restriction
  is at most two levels deep.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/AppRestrictionsSchemaRestriction\";}s:4:\"type\";s:5:\"array\";}s:15:\"restrictionType\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  type of the restriction.\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  name of the restriction.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:48:\"AppRestrictionsSchemaRestrictionRestrictionValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"A
  typed value for the restriction.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  type of the value being provided.\";s:4:\"type\";s:6:\"string\";}s:9:\"valueBool\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"The
  boolean value - this will only be present if type is bool.\";s:4:\"type\";s:7:\"boolean\";}s:12:\"valueInteger\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"The
  integer value - this will only be present if type is integer.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:16:\"valueMultiselect\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"The
  list of string values - this will only be present if type is multiselect.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:11:\"valueString\";O:8:\"stdClass\":2:{s:11:\"description\";s:76:\"The
  string value - this will be present for types string, choice and hidden.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"AppUpdateEvent\";O:8:\"stdClass\":3:{s:11:\"description\";s:269:\"An
  event generated when a new version of an app is uploaded to Google Play. Notifications
  are sent for new public versions only: alpha, beta, or canary versions do not generate
  this event. To fetch up-to-date version history for an app, use Products.Get on
  the EMM API.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"productId\";O:8:\"stdClass\":2:{s:11:\"description\";s:109:\"The
  id of the product (e.g. \"app:com.google.android.gm\") that was updated. This field
  will always be present.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"AppVersion\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"This
  represents a single version of the app.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"track\";O:8:\"stdClass\":2:{s:11:\"description\";s:111:\"The
  track that this app was published in. For example if track is \"alpha\", this is
  an alpha version of the app.\";s:4:\"type\";s:6:\"string\";}s:11:\"versionCode\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Unique
  increasing identifier for the app version.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:13:\"versionString\";O:8:\"stdClass\":2:{s:11:\"description\";s:171:\"The
  string used in the Play store by the app developer to identify the version. The
  string is not necessarily unique or localized (for example, the string could be
  \"1.4\").\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"ApprovalUrlInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Information
  on an approval URL.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"approvalUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:124:\"A
  URL that displays a product's permissions and that can also be used to approve the
  product with the Products.approve call.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:33:\"androidenterprise#approvalUrlInfo\";s:11:\"description\";s:102:\"Identifies
  what kind of resource this is. Value: the fixed string \"androidenterprise#approvalUrlInfo\".\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"AuthenticationToken\";O:8:\"stdClass\":3:{s:11:\"description\";s:132:\"An
  AuthenticationToken is used by the EMM's device policy client on a device to provision
  the given EMM-managed user on that device.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:37:\"androidenterprise#authenticationToken\";s:11:\"description\";s:106:\"Identifies
  what kind of resource this is. Value: the fixed string \"androidenterprise#authenticationToken\".\";s:4:\"type\";s:6:\"string\";}s:5:\"token\";O:8:\"stdClass\":2:{s:11:\"description\";s:161:\"The
  authentication token to be passed to the device policy client on the device where
  it can be used to provision the account for which this token was generated.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:22:\"ConfigurationVariables\";O:8:\"stdClass\":3:{s:11:\"description\";s:266:\"A
  configuration variables resource contains the managed configuration settings ID
  to be applied to a single user, as well as the variable set that is attributed to
  the user. The variable set will be used to replace placeholders in the managed configuration
  settings.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:40:\"androidenterprise#configurationVariables\";s:11:\"description\";s:109:\"Identifies
  what kind of resource this is. Value: the fixed string \"androidenterprise#configurationVariables\".\";s:4:\"type\";s:6:\"string\";}s:5:\"mcmId\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"The
  ID of the managed configurations settings.\";s:4:\"type\";s:6:\"string\";}s:11:\"variableSet\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"The
  variable set that is attributed to the user.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/VariableSet\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Device\";O:8:\"stdClass\":3:{s:11:\"description\";s:109:\"A
  Devices resource represents a mobile device managed by the EMM and belonging to
  a specific enterprise user.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"androidId\";O:8:\"stdClass\":2:{s:11:\"description\";s:118:\"The
  Google Play Services Android ID for the device encoded as a lowercase hex string.
  For example, \"123456789abcdef0\".\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:24:\"androidenterprise#device\";s:11:\"description\";s:93:\"Identifies
  what kind of resource this is. Value: the fixed string \"androidenterprise#device\".\";s:4:\"type\";s:6:\"string\";}s:14:\"managementType\";O:8:\"stdClass\":2:{s:11:\"description\";s:664:\"Identifies
  the extent to which the device is controlled by a managed Google Play EMM in various
  deployment configurations.\n\nPossible values include: \n- \"managedDevice\", a
  device that has the EMM's device policy controller (DPC) as the device owner. \n-
  \"managedProfile\", a device that has a profile managed by the DPC (DPC is profile
  owner) in addition to a separate, personal profile that is unavailable to the DPC.
  \n- \"containerApp\", no longer used (deprecated). \n- \"unmanagedProfile\", a device
  that has been allowed (by the domain's admin, using the Admin Console to enable
  the privilege) to use managed Google Play, but the profile is itself not owned by
  a DPC.\";s:4:\"type\";s:6:\"string\";}s:6:\"policy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Policy\";s:11:\"description\";s:34:\"The
  policy enforced on the device.\";}}s:4:\"type\";s:6:\"object\";}s:11:\"DeviceState\";O:8:\"stdClass\":3:{s:11:\"description\";s:99:\"The
  state of a user's device, as accessed by the getState and setState methods on device
  resources.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"accountState\";O:8:\"stdClass\":2:{s:11:\"description\";s:257:\"The
  state of the Google account on the device. \"enabled\" indicates that the Google
  account on the device can be used to access Google services (including Google Play),
  while \"disabled\" means that it cannot. A new device is initially in the \"disabled\"
  state.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:29:\"androidenterprise#deviceState\";s:11:\"description\";s:98:\"Identifies
  what kind of resource this is. Value: the fixed string \"androidenterprise#deviceState\".\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"DevicesListResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  device resources for the user.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"device\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"A
  managed device.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Device\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:37:\"androidenterprise#devicesListResponse\";s:11:\"description\";s:106:\"Identifies
  what kind of resource this is. Value: the fixed string \"androidenterprise#devicesListResponse\".\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"Enterprise\";O:8:\"stdClass\":3:{s:11:\"description\";s:821:\"An
  Enterprises resource represents the binding between an EMM and a specific organization.
  That binding can be instantiated in one of two different ways using this API as
  follows: \n- For Google managed domain customers, the process involves using Enterprises.enroll
  and Enterprises.setAccount (in conjunction with artifacts obtained from the Admin
  console and the Google API Console) and submitted to the EMM through a more-or-less
  manual process. \n- For managed Google Play Accounts customers, the process involves
  using Enterprises.generateSignupUrl and Enterprises.completeSignup in conjunction
  with the managed Google Play sign-up UI (Google-provided mechanism) to create the
  binding without manual steps. As an EMM, you can support either or both approaches
  in your EMM console. See Create an Enterprise for details.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:13:\"administrator\";O:8:\"stdClass\":3:{s:11:\"description\";s:100:\"Admins
  of the enterprise. This is only supported for enterprises created via the EMM-initiated
  flow.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/Administrator\";}s:4:\"type\";s:5:\"array\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  unique ID for the enterprise.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:28:\"androidenterprise#enterprise\";s:11:\"description\";s:97:\"Identifies
  what kind of resource this is. Value: the fixed string \"androidenterprise#enterprise\".\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"The
  name of the enterprise, for example, \"Example, Inc\".\";s:4:\"type\";s:6:\"string\";}s:13:\"primaryDomain\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"The
  enterprise's primary domain, such as \"example.com\".\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"EnterpriseAccount\";O:8:\"stdClass\":3:{s:11:\"description\";s:115:\"A
  service account that can be used to authenticate as the enterprise to API calls
  that require such authentication.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"accountEmail\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"The
  email address of the service account.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:35:\"androidenterprise#enterpriseAccount\";s:11:\"description\";s:104:\"Identifies
  what kind of resource this is. Value: the fixed string \"androidenterprise#enterpriseAccount\".\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:23:\"EnterprisesListResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  matching enterprise resources.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"enterprise\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"An
  enterprise.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Enterprise\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:41:\"androidenterprise#enterprisesListResponse\";s:11:\"description\";s:110:\"Identifies
  what kind of resource this is. Value: the fixed string \"androidenterprise#enterprisesListResponse\".\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:43:\"EnterprisesSendTestPushNotificationResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"messageId\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"The
  message ID of the test push notification that was sent.\";s:4:\"type\";s:6:\"string\";}s:9:\"topicName\";O:8:\"stdClass\":2:{s:11:\"description\";s:111:\"The
  name of the Cloud Pub/Sub topic to which notifications for this enterprise's enrolled
  account will be sent.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"Entitlement\";O:8:\"stdClass\":3:{s:11:\"description\";s:1341:\"The
  presence of an Entitlements resource indicates that a user has the right to use
  a particular app. Entitlements are user specific, not device specific. This allows
  a user with an entitlement to an app to install the app on all their devices. It's
  also possible for a user to hold an entitlement to an app without installing the
  app on any device.\n\nThe API can be used to create an entitlement. As an option,
  you can also use the API to trigger the installation of an app on all a user's managed
  devices at the same time the entitlement is created.\n\nIf the app is free, creating
  the entitlement also creates a group license for that app. For paid apps, creating
  the entitlement consumes one license, and that license remains consumed until the
  entitlement is removed. If the enterprise hasn't purchased enough licenses, then
  no entitlement is created and the installation fails. An entitlement is also not
  created for an app if the app requires permissions that the enterprise hasn't accepted.\n\nIf
  an entitlement is deleted, the app may be uninstalled from a user's device. As a
  best practice, uninstall the app by calling  Installs.delete() before deleting the
  entitlement.\n\nEntitlements for apps that a user pays for on an unmanaged profile
  have \"userPurchase\" as the entitlement reason. These entitlements cannot be removed
  via the API.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:29:\"androidenterprise#entitlement\";s:11:\"description\";s:98:\"Identifies
  what kind of resource this is. Value: the fixed string \"androidenterprise#entitlement\".\";s:4:\"type\";s:6:\"string\";}s:9:\"productId\";O:8:\"stdClass\":2:{s:11:\"description\";s:92:\"The
  ID of the product that the entitlement is for. For example, \"app:com.google.android.gm\".\";s:4:\"type\";s:6:\"string\";}s:6:\"reason\";O:8:\"stdClass\":2:{s:11:\"description\";s:163:\"The
  reason for the entitlement. For example, \"free\" for free apps. This property is
  temporary: it will be replaced by the acquisition kind field of group licenses.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:24:\"EntitlementsListResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  entitlement resources for the user.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"entitlement\";O:8:\"stdClass\":3:{s:11:\"description\";s:160:\"An
  entitlement of a user to a product (e.g. an app). For example, a free app that they
  have installed, or a paid app that they have been allocated a license to.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Entitlement\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:42:\"androidenterprise#entitlementsListResponse\";s:11:\"description\";s:111:\"Identifies
  what kind of resource this is. Value: the fixed string \"androidenterprise#entitlementsListResponse\".\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"GroupLicense\";O:8:\"stdClass\":3:{s:11:\"description\";s:937:\"Group
  license objects allow you to keep track of licenses (called entitlements) for both
  free and paid apps. For a free app, a group license is created when an enterprise
  admin first approves the product in Google Play or when the first entitlement for
  the product is created for a user via the API. For a paid app, a group license object
  is only created when an enterprise admin purchases the product in Google Play for
  the first time.\n\nUse the API to query group licenses. A Grouplicenses resource
  includes the total number of licenses purchased (paid apps only) and the total number
  of licenses currently in use. In other words, the total number of Entitlements that
  exist for the product.\n\nOnly one group license object is created per product and
  group license objects are never deleted. If a product is unapproved, its group license
  remains. This allows enterprise admins to keep track of any remaining entitlements
  for the product.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:15:\"acquisitionKind\";O:8:\"stdClass\":2:{s:11:\"description\";s:214:\"How
  this group license was acquired. \"bulkPurchase\" means that this Grouplicenses
  resource was created because the enterprise purchased licenses for this product;
  otherwise, the value is \"free\" (for free products).\";s:4:\"type\";s:6:\"string\";}s:8:\"approval\";O:8:\"stdClass\":2:{s:11:\"description\";s:360:\"Whether
  the product to which this group license relates is currently approved by the enterprise.
  Products are approved when a group license is first created, but this approval may
  be revoked by an enterprise admin via Google Play. Unapproved products will not
  be visible to end users in collections, and new entitlements to them should not
  normally be created.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:30:\"androidenterprise#groupLicense\";s:11:\"description\";s:99:\"Identifies
  what kind of resource this is. Value: the fixed string \"androidenterprise#groupLicense\".\";s:4:\"type\";s:6:\"string\";}s:14:\"numProvisioned\";O:8:\"stdClass\":3:{s:11:\"description\";s:120:\"The
  total number of provisioned licenses for this product. Returned by read operations,
  but ignored in write operations.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"numPurchased\";O:8:\"stdClass\":3:{s:11:\"description\";s:215:\"The
  number of purchased licenses (possibly in multiple purchases). If this field is
  omitted, then there is no limit on the number of licenses that can be provisioned
  (for example, if the acquisition kind is \"free\").\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"permissions\";O:8:\"stdClass\":2:{s:11:\"description\";s:694:\"The
  permission approval status of the product. This field is only set if the product
  is approved. Possible states are: \n- \"currentApproved\", the current set of permissions
  is approved, but additional permissions will require the administrator to reapprove
  the product (If the product was approved without specifying the approved permissions
  setting, then this is the default behavior.), \n- \"needsReapproval\", the product
  has unapproved permissions. No additional product licenses can be assigned until
  the product is reapproved, \n- \"allCurrentAndFutureApproved\", the current permissions
  are approved and any future permission updates will be automatically approved without
  administrator review.\";s:4:\"type\";s:6:\"string\";}s:9:\"productId\";O:8:\"stdClass\":2:{s:11:\"description\";s:88:\"The
  ID of the product that the license is for. For example, \"app:com.google.android.gm\".\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:29:\"GroupLicenseUsersListResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  user resources for the group license.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:47:\"androidenterprise#groupLicenseUsersListResponse\";s:11:\"description\";s:116:\"Identifies
  what kind of resource this is. Value: the fixed string \"androidenterprise#groupLicenseUsersListResponse\".\";s:4:\"type\";s:6:\"string\";}s:4:\"user\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"A
  user of an enterprise.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/User\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:25:\"GroupLicensesListResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  grouplicense resources for the enterprise.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"groupLicense\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"A
  group license for a product approved for use in the enterprise.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/GroupLicense\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:43:\"androidenterprise#groupLicensesListResponse\";s:11:\"description\";s:112:\"Identifies
  what kind of resource this is. Value: the fixed string \"androidenterprise#groupLicensesListResponse\".\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Install\";O:8:\"stdClass\":3:{s:11:\"description\";s:1283:\"The
  existence of an Installs resource indicates that an app is installed on a particular
  device (or that an install is pending).\n\nThe API can be used to create an install
  resource using the update method. This triggers the actual install of the app on
  the device. If the user does not already have an entitlement for the app, then an
  attempt is made to create one. If this fails (for example, because the app is not
  free and there is no available license), then the creation of the install fails.\n\nThe
  API can also be used to update an installed app. If the\_update\_method is used
  on an existing install, then the app will be updated to the latest available version.\n\nNote
  that it is not possible to force the installation of a specific version of an app:
  the version code is read-only.\n\nIf a user installs an app themselves (as permitted
  by the enterprise), then again an install resource and possibly an entitlement resource
  are automatically created.\n\nThe API can also be used to delete an install resource,
  which triggers the removal of the app from the device. Note that deleting an install
  does not automatically remove the corresponding entitlement, even if there are no
  remaining installs. The install resource will also be deleted if the user uninstalls
  the app themselves.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"installState\";O:8:\"stdClass\":2:{s:11:\"description\";s:223:\"Install
  state. The state \"installPending\" means that an install request has recently been
  made and download to the device is in progress. The state \"installed\" means that
  the app has been installed. This field is read-only.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:25:\"androidenterprise#install\";s:11:\"description\";s:94:\"Identifies
  what kind of resource this is. Value: the fixed string \"androidenterprise#install\".\";s:4:\"type\";s:6:\"string\";}s:9:\"productId\";O:8:\"stdClass\":2:{s:11:\"description\";s:88:\"The
  ID of the product that the install is for. For example, \"app:com.google.android.gm\".\";s:4:\"type\";s:6:\"string\";}s:11:\"versionCode\";O:8:\"stdClass\":3:{s:11:\"description\";s:100:\"The
  version of the installed product. Guaranteed to be set only if the install state
  is \"installed\".\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:19:\"InstallFailureEvent\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"An
  event generated when an app installation failed on a device\";s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"deviceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"The
  Android ID of the device. This field will always be present.\";s:4:\"type\";s:6:\"string\";}s:14:\"failureDetails\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Additional
  details on the failure if applicable.\";s:4:\"type\";s:6:\"string\";}s:13:\"failureReason\";O:8:\"stdClass\":2:{s:11:\"description\";s:75:\"The
  reason for the installation failure. This field will always be present.\";s:4:\"type\";s:6:\"string\";}s:9:\"productId\";O:8:\"stdClass\":2:{s:11:\"description\";s:136:\"The
  id of the product (e.g. \"app:com.google.android.gm\") for which the install failure
  event occured. This field will always be present.\";s:4:\"type\";s:6:\"string\";}s:6:\"userId\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"The
  ID of the user. This field will always be present.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"InstallsListResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"The
  install resources for the device.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"install\";O:8:\"stdClass\":3:{s:11:\"description\";s:145:\"An
  installation of an app for a user on a specific device. The existence of an install
  implies that the user must have an entitlement to the app.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Install\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:38:\"androidenterprise#installsListResponse\";s:11:\"description\";s:107:\"Identifies
  what kind of resource this is. Value: the fixed string \"androidenterprise#installsListResponse\".\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"LocalizedText\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"A
  localized string with its locale.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"locale\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"The
  BCP47 tag for a locale. (e.g. \"en-US\", \"de\").\";s:4:\"type\";s:6:\"string\";}s:4:\"text\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"The
  text localized in the associated locale.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"MaintenanceWindow\";O:8:\"stdClass\":3:{s:11:\"description\";s:138:\"Maintenance
  window for managed Google Play Accounts. This allows Play store to update the apps
  on the foreground in the designated window.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"durationMs\";O:8:\"stdClass\":3:{s:11:\"description\";s:118:\"Duration
  of the maintenance window, in milliseconds. The duration must be between 30 minutes
  and 24 hours (inclusive).\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:24:\"startTimeAfterMidnightMs\";O:8:\"stdClass\":3:{s:11:\"description\";s:110:\"Start
  time of the maintenance window, in milliseconds after midnight on the device. Windows
  can span midnight.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"ManagedConfiguration\";O:8:\"stdClass\":3:{s:11:\"description\";s:205:\"A
  managed configuration resource contains the set of managed properties defined by
  the app developer in the app's managed configurations schema, as well as any configuration
  variables defined for the user.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:22:\"configurationVariables\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/ConfigurationVariables\";s:11:\"description\";s:122:\"Contains
  the ID of the managed configuration profile and the set of configuration variables
  (if any) defined for the user.\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:38:\"androidenterprise#managedConfiguration\";s:11:\"description\";s:107:\"Identifies
  what kind of resource this is. Value: the fixed string \"androidenterprise#managedConfiguration\".\";s:4:\"type\";s:6:\"string\";}s:15:\"managedProperty\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"The
  set of managed properties for this configuration.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ManagedProperty\";}s:4:\"type\";s:5:\"array\";}s:9:\"productId\";O:8:\"stdClass\":2:{s:11:\"description\";s:94:\"The
  ID of the product that the managed configuration is for, e.g. \"app:com.google.android.gm\".\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:42:\"ManagedConfigurationsForDeviceListResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  managed configuration resources for the device.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:60:\"androidenterprise#managedConfigurationsForDeviceListResponse\";s:11:\"description\";s:129:\"Identifies
  what kind of resource this is. Value: the fixed string \"androidenterprise#managedConfigurationsForDeviceListResponse\".\";s:4:\"type\";s:6:\"string\";}s:29:\"managedConfigurationForDevice\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"A
  managed configuration for an app on a specific device.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/ManagedConfiguration\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:40:\"ManagedConfigurationsForUserListResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  managed configuration resources for the user.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:58:\"androidenterprise#managedConfigurationsForUserListResponse\";s:11:\"description\";s:127:\"Identifies
  what kind of resource this is. Value: the fixed string \"androidenterprise#managedConfigurationsForUserListResponse\".\";s:4:\"type\";s:6:\"string\";}s:27:\"managedConfigurationForUser\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"A
  managed configuration for an app for a specific user.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/ManagedConfiguration\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:29:\"ManagedConfigurationsSettings\";O:8:\"stdClass\":3:{s:11:\"description\";s:260:\"A
  managed configurations settings resource contains the set of managed properties
  that have been configured for an Android app to be applied to a set of users. The
  app's developer would have defined configurable properties in the managed configurations
  schema.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:47:\"androidenterprise#managedConfigurationsSettings\";s:11:\"description\";s:116:\"Identifies
  what kind of resource this is. Value: the fixed string \"androidenterprise#managedConfigurationsSettings\".\";s:4:\"type\";s:6:\"string\";}s:26:\"lastUpdatedTimestampMillis\";O:8:\"stdClass\":3:{s:11:\"description\";s:103:\"The
  last updated time of the managed configuration settings in milliseconds since 1970-01-01T00:00:00Z.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:15:\"managedProperty\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"The
  set of managed properties for this configuration.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ManagedProperty\";}s:4:\"type\";s:5:\"array\";}s:5:\"mcmId\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"The
  ID of the managed configurations settings.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"The
  name of the managed configurations settings.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:41:\"ManagedConfigurationsSettingsListResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"The
  managed configurations settings for a product.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:59:\"androidenterprise#managedConfigurationsSettingsListResponse\";s:11:\"description\";s:128:\"Identifies
  what kind of resource this is. Value: the fixed string \"androidenterprise#managedConfigurationsSettingsListResponse\".\";s:4:\"type\";s:6:\"string\";}s:29:\"managedConfigurationsSettings\";O:8:\"stdClass\":3:{s:11:\"description\";s:103:\"A
  managed configurations settings for an app that may be assigned to a group of users
  in an enterprise.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/ManagedConfigurationsSettings\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:15:\"ManagedProperty\";O:8:\"stdClass\":3:{s:11:\"description\";s:260:\"A
  managed property of a managed configuration. The property must match one of the
  properties in the app restrictions schema of the product. Exactly one of the value
  fields must be populated, and it must match the property's type in the app restrictions
  schema.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:3:\"key\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"The
  unique key that identifies the property.\";s:4:\"type\";s:6:\"string\";}s:9:\"valueBool\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"The
  boolean value - this will only be present if type of the property is bool.\";s:4:\"type\";s:7:\"boolean\";}s:11:\"valueBundle\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/ManagedPropertyBundle\";s:11:\"description\";s:95:\"The
  bundle of managed properties - this will only be present if type of the property
  is bundle.\";}s:16:\"valueBundleArray\";O:8:\"stdClass\":3:{s:11:\"description\";s:102:\"The
  list of bundles of properties - this will only be present if type of the property
  is bundle_array.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/ManagedPropertyBundle\";}s:4:\"type\";s:5:\"array\";}s:12:\"valueInteger\";O:8:\"stdClass\":3:{s:11:\"description\";s:81:\"The
  integer value - this will only be present if type of the property is integer.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"valueString\";O:8:\"stdClass\":2:{s:11:\"description\";s:97:\"The
  string value - this will only be present if type of the property is string, choice
  or hidden.\";s:4:\"type\";s:6:\"string\";}s:16:\"valueStringArray\";O:8:\"stdClass\":3:{s:11:\"description\";s:93:\"The
  list of string values - this will only be present if type of the property is multiselect.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:21:\"ManagedPropertyBundle\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"A
  bundle of managed properties.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"managedProperty\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  list of managed properties.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ManagedProperty\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:14:\"NewDeviceEvent\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"An
  event generated when a new device is ready to be managed.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"deviceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"The
  Android ID of the device. This field will always be present.\";s:4:\"type\";s:6:\"string\";}s:14:\"dpcPackageName\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Policy
  app on the device.\";s:4:\"type\";s:6:\"string\";}s:14:\"managementType\";O:8:\"stdClass\":2:{s:11:\"description\";s:273:\"Identifies
  the extent to which the device is controlled by an Android EMM in various deployment
  configurations.\n\nPossible values include: \n- \"managedDevice\", a device where
  the DPC is set as device owner, \n- \"managedProfile\", a device where the DPC is
  set as profile owner.\";s:4:\"type\";s:6:\"string\";}s:6:\"userId\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"The
  ID of the user. This field will always be present.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"NewPermissionsEvent\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"An
  event generated when new permissions are added to an app.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"approvedPermissions\";O:8:\"stdClass\":3:{s:11:\"description\";s:171:\"The
  set of permissions that the enterprise admin has already approved for this application.
  Use Permissions.Get on the EMM API to retrieve details about these permissions.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:9:\"productId\";O:8:\"stdClass\":2:{s:11:\"description\";s:129:\"The
  id of the product (e.g. \"app:com.google.android.gm\") for which new permissions
  were added. This field will always be present.\";s:4:\"type\";s:6:\"string\";}s:20:\"requestedPermissions\";O:8:\"stdClass\":3:{s:11:\"description\";s:140:\"The
  set of permissions that the app is currently requesting. Use Permissions.Get on
  the EMM API to retrieve details about these permissions.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:12:\"Notification\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"A
  notification of one event relating to an enterprise.\";s:10:\"properties\";O:8:\"stdClass\":10:{s:32:\"appRestrictionsSchemaChangeEvent\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:46:\"#/definitions/AppRestrictionsSchemaChangeEvent\";s:11:\"description\";s:56:\"Notifications
  about new app restrictions schema changes.\";}s:14:\"appUpdateEvent\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/AppUpdateEvent\";s:11:\"description\";s:32:\"Notifications
  about app updates.\";}s:12:\"enterpriseId\";O:8:\"stdClass\":2:{s:11:\"description\";s:89:\"The
  ID of the enterprise for which the notification is sent. This will always be present.\";s:4:\"type\";s:6:\"string\";}s:19:\"installFailureEvent\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/InstallFailureEvent\";s:11:\"description\";s:48:\"Notifications
  about an app installation failure.\";}s:14:\"newDeviceEvent\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NewDeviceEvent\";s:11:\"description\";s:32:\"Notifications
  about new devices.\";}s:19:\"newPermissionsEvent\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/NewPermissionsEvent\";s:11:\"description\";s:40:\"Notifications
  about new app permissions.\";}s:16:\"notificationType\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Type
  of the notification.\";s:4:\"type\";s:6:\"string\";}s:20:\"productApprovalEvent\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ProductApprovalEvent\";s:11:\"description\";s:59:\"Notifications
  about changes to a product's approval status.\";}s:30:\"productAvailabilityChangeEvent\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/ProductAvailabilityChangeEvent\";s:11:\"description\";s:49:\"Notifications
  about product availability changes.\";}s:15:\"timestampMillis\";O:8:\"stdClass\":3:{s:11:\"description\";s:117:\"The
  time when the notification was published in milliseconds since 1970-01-01T00:00:00Z.
  This will always be present.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"NotificationSet\";O:8:\"stdClass\":3:{s:11:\"description\";s:179:\"A
  resource returned by the PullNotificationSet API, which contains a collection of
  notifications for enterprises associated with the service account authenticated
  for the request.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:33:\"androidenterprise#notificationSet\";s:11:\"description\";s:102:\"Identifies
  what kind of resource this is. Value: the fixed string \"androidenterprise#notificationSet\".\";s:4:\"type\";s:6:\"string\";}s:12:\"notification\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"The
  notifications received, or empty if no notifications are present.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/Notification\";}s:4:\"type\";s:5:\"array\";}s:17:\"notificationSetId\";O:8:\"stdClass\":2:{s:11:\"description\";s:174:\"The
  notification set ID, required to mark the notification as received with the Enterprises.AcknowledgeNotification
  API. This will be omitted if no notifications are present.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"PageInfo\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"resultPerPage\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"startIndex\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"totalResults\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:10:\"Permission\";O:8:\"stdClass\":3:{s:11:\"description\";s:464:\"A
  Permissions resource represents some extra capability, to be granted to an Android
  app, which requires explicit consent. An enterprise admin must consent to these
  permissions on behalf of their users before an entitlement for the app can be created.\n\nThe
  permissions collection is read-only. The information provided for each permission
  (localized name and description) is intended to be used in the MDM user interface
  when obtaining consent from the enterprise.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:89:\"A
  longer description of the Permissions resource, giving more details of what it affects.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:28:\"androidenterprise#permission\";s:11:\"description\";s:97:\"Identifies
  what kind of resource this is. Value: the fixed string \"androidenterprise#permission\".\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  name of the permission.\";s:4:\"type\";s:6:\"string\";}s:12:\"permissionId\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"An
  opaque string uniquely identifying the permission.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Policy\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"The
  device policy for a given managed device.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:16:\"autoUpdatePolicy\";O:8:\"stdClass\":2:{s:11:\"description\";s:272:\"The
  auto-update policy for apps installed on the device. \"choiceToTheUser\" allows
  the device's user to configure the app update policy. \"always\" enables auto updates.
  \"never\" disables auto updates. \"wifiOnly\" enables auto updates only when the
  device is connected to wifi.\";s:4:\"type\";s:6:\"string\";}s:17:\"maintenanceWindow\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/MaintenanceWindow\";s:11:\"description\";s:86:\"The
  maintenance window defining when apps running in the foreground should be updated.\";}s:25:\"productAvailabilityPolicy\";O:8:\"stdClass\":2:{s:11:\"description\";s:528:\"The
  availability granted to the device for the specified products. \"all\" gives the
  device access to all products, regardless of approval status. \"all\" does not enable
  automatic visibility of \"alpha\" or \"beta\" tracks. \"whitelist\" grants the device
  access the products specified in productPolicy[]. Only products that are approved
  or products that were previously approved (products with revoked approval) by the
  enterprise can be whitelisted. If no value is provided, the availability set at
  the user level is applied by default.\";s:4:\"type\";s:6:\"string\";}s:13:\"productPolicy\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  list of product policies.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ProductPolicy\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Product\";O:8:\"stdClass\":3:{s:11:\"description\";s:444:\"A
  Products resource represents an app in the Google Play store that is available to
  at least some users in the enterprise. (Some apps are restricted to a single enterprise,
  and no information about them is made available outside that enterprise.)\n\nThe
  information provided for each product (localized name, icon, link to the full Google
  Play details page) is intended to allow a basic representation of the product within
  an EMM user interface.\";s:10:\"properties\";O:8:\"stdClass\":23:{s:10:\"appVersion\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"App
  versions currently available for this product.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/AppVersion\";}s:4:\"type\";s:5:\"array\";}s:10:\"authorName\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"The
  name of the author of the product (for example, the app developer).\";s:4:\"type\";s:6:\"string\";}s:18:\"availableCountries\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"The
  countries which this app is available in.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:15:\"availableTracks\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  tracks that are visible to the enterprise.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:8:\"category\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"The
  app category (e.g. RACING, SOCIAL, etc.)\";s:4:\"type\";s:6:\"string\";}s:13:\"contentRating\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  content rating for this app.\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"The
  localized promotional description, if available.\";s:4:\"type\";s:6:\"string\";}s:10:\"detailsUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"A
  link to the (consumer) Google Play details page for the product.\";s:4:\"type\";s:6:\"string\";}s:19:\"distributionChannel\";O:8:\"stdClass\":2:{s:11:\"description\";s:424:\"How
  and to whom the package is made available. The value publicGoogleHosted means that
  the package is available through the Play store and not restricted to a specific
  enterprise. The value privateGoogleHosted means that the package is a private app
  (restricted to an enterprise) but hosted by Google. The value privateSelfHosted
  means that the package is a private app (restricted to an enterprise) and is privately
  hosted.\";s:4:\"type\";s:6:\"string\";}s:7:\"iconUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:118:\"A
  link to an image that can be used as an icon for the product. This image is suitable
  for use at up to 512px x 512px.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:25:\"androidenterprise#product\";s:11:\"description\";s:94:\"Identifies
  what kind of resource this is. Value: the fixed string \"androidenterprise#product\".\";s:4:\"type\";s:6:\"string\";}s:26:\"lastUpdatedTimestampMillis\";O:8:\"stdClass\":3:{s:11:\"description\";s:103:\"The
  approximate time (within 7 days) the app was last published, expressed in milliseconds
  since epoch.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:20:\"minAndroidSdkVersion\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  minimum Android SDK necessary to run the app.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"permissions\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"A
  list of permissions required by the app.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ProductPermission\";}s:4:\"type\";s:5:\"array\";}s:9:\"productId\";O:8:\"stdClass\":2:{s:11:\"description\";s:105:\"A
  string of the form app:<package name>. For example, app:com.google.android.gm represents
  the Gmail app.\";s:4:\"type\";s:6:\"string\";}s:14:\"productPricing\";O:8:\"stdClass\":2:{s:11:\"description\";s:215:\"Whether
  this product is free, free with in-app purchases, or paid. If the pricing is unknown,
  this means the product is not generally available anymore (even though it might
  still be available to people who own it).\";s:4:\"type\";s:6:\"string\";}s:13:\"recentChanges\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"A
  description of the recent changes made to the app.\";s:4:\"type\";s:6:\"string\";}s:20:\"requiresContainerApp\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Deprecated.\";s:4:\"type\";s:7:\"boolean\";}s:14:\"screenshotUrls\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"A
  list of screenshot links representing the app.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:18:\"signingCertificate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/ProductSigningCertificate\";s:11:\"description\";s:42:\"The
  certificate used to sign this product.\";}s:12:\"smallIconUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:125:\"A
  link to a smaller image that can be used as an icon for the product. This image
  is suitable for use at up to 128px x 128px.\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  name of the product.\";s:4:\"type\";s:6:\"string\";}s:14:\"workDetailsUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:95:\"A
  link to the managed Google Play details page for the product, for use by an Enterprise
  admin.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"ProductApprovalEvent\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"An
  event generated when a product's approval status is changed.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"approved\";O:8:\"stdClass\":2:{s:11:\"description\";s:82:\"Whether
  the product was approved or unapproved. This field will always be present.\";s:4:\"type\";s:6:\"string\";}s:9:\"productId\";O:8:\"stdClass\":2:{s:11:\"description\";s:134:\"The
  id of the product (e.g. \"app:com.google.android.gm\") for which the approval status
  has changed. This field will always be present.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:30:\"ProductAvailabilityChangeEvent\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"An
  event generated whenever a product's availability changes.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:18:\"availabilityStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"The
  new state of the product. This field will always be present.\";s:4:\"type\";s:6:\"string\";}s:9:\"productId\";O:8:\"stdClass\":2:{s:11:\"description\";s:135:\"The
  id of the product (e.g. \"app:com.google.android.gm\") for which the product availability
  changed. This field will always be present.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"ProductPermission\";O:8:\"stdClass\":3:{s:11:\"description\";s:287:\"A
  product permissions resource represents the set of permissions required by a specific
  app and whether or not they have been accepted by an enterprise admin.\n\nThe API
  can be used to read the set of permissions, and also to update the set to indicate
  that permissions have been accepted.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"permissionId\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"An
  opaque string uniquely identifying the permission.\";s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Whether
  the permission has been accepted or not.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"ProductPermissions\";O:8:\"stdClass\":3:{s:11:\"description\";s:115:\"Information
  about the permissions required by a specific app and whether they have been accepted
  by the enterprise.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:36:\"androidenterprise#productPermissions\";s:11:\"description\";s:105:\"Identifies
  what kind of resource this is. Value: the fixed string \"androidenterprise#productPermissions\".\";s:4:\"type\";s:6:\"string\";}s:10:\"permission\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  permissions required by the app.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ProductPermission\";}s:4:\"type\";s:5:\"array\";}s:9:\"productId\";O:8:\"stdClass\":2:{s:11:\"description\";s:83:\"The
  ID of the app that the permissions relate to, e.g. \"app:com.google.android.gm\".\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"ProductPolicy\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  policy for a product.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"productId\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"The
  ID of the product. For example, \"app:com.google.android.gm\".\";s:4:\"type\";s:6:\"string\";}s:6:\"tracks\";O:8:\"stdClass\":3:{s:11:\"description\";s:940:\"Grants
  visibility to the specified track(s) of the product to the device. The track available
  to the device is based on the following order of preference: alpha, beta, production.
  For example, if an app has a prod version, a beta version and an alpha version and
  the enterprise has been granted visibility to both the alpha and beta tracks, if
  tracks is {\"beta\", \"production\"} then the beta version of the app is made available
  to the device. If there are no app versions in the specified track adding the \"alpha\"
  and \"beta\" values to the list of tracks will have no effect. Note that the enterprise
  requires access to alpha and/or beta tracks before users can be granted visibility
  to apps in those tracks.\n\nThe allowed sets are: {} (considered equivalent to {\"production\"})
  {\"production\"} {\"beta\", \"production\"} {\"alpha\", \"beta\", \"production\"}
  The order of elements is not relevant. Any other set of tracks will be rejected
  with an error.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:10:\"ProductSet\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"A
  set of products.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:28:\"androidenterprise#productSet\";s:11:\"description\";s:97:\"Identifies
  what kind of resource this is. Value: the fixed string \"androidenterprise#productSet\".\";s:4:\"type\";s:6:\"string\";}s:9:\"productId\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"The
  list of product IDs making up the set of products.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:18:\"productSetBehavior\";O:8:\"stdClass\":2:{s:11:\"description\";s:796:\"The
  interpretation of this product set. \"unknown\" should never be sent and is ignored
  if received. \"whitelist\" means that the user is entitled to access the product
  set. \"includeAll\" means that all products are accessible, including products that
  are approved, products with revoked approval, and products that have never been
  approved. \"allApproved\" means that the user is entitled to access all products
  that are approved for the enterprise. If the value is \"allApproved\" or \"includeAll\",
  the productId field is ignored. If no value is provided, it is interpreted as \"whitelist\"
  for backwards compatibility. Further \"allApproved\" or \"includeAll\" does not
  enable automatic visibility of \"alpha\" or \"beta\" tracks for Android app. Use
  ProductVisibility to enable \"alpha\" or \"beta\" tracks per user.\";s:4:\"type\";s:6:\"string\";}s:17:\"productVisibility\";O:8:\"stdClass\":3:{s:11:\"description\";s:374:\"Additional
  list of product IDs making up the product set. Unlike the productID array, in this
  list It's possible to specify which tracks (alpha, beta, production) of a product
  are visible to the user. See ProductVisibility and its fields for more information.
  Specifying the same product ID both here and in the productId array is not allowed
  and it will result in an error.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ProductVisibility\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:25:\"ProductSigningCertificate\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"certificateHashSha1\";O:8:\"stdClass\":2:{s:11:\"description\";s:159:\"The
  base64 urlsafe encoded SHA1 hash of the certificate. (This field is deprecated in
  favor of SHA2-256. It should not be used and may be removed at any time.)\";s:4:\"type\";s:6:\"string\";}s:21:\"certificateHashSha256\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"The
  base64 urlsafe encoded SHA2-256 hash of the certificate.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"ProductVisibility\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"A
  product to be made visible to a user.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"productId\";O:8:\"stdClass\":2:{s:11:\"description\";s:97:\"The
  product ID to make visible to the user. Required for each item in the productVisibility
  list.\";s:4:\"type\";s:6:\"string\";}s:6:\"tracks\";O:8:\"stdClass\":3:{s:11:\"description\";s:958:\"Grants
  visibility to the specified track(s) of the product to the user. The track available
  to the user is based on the following order of preference: alpha, beta, production.
  For example, if an app has a prod version, a beta version and an alpha version and
  the enterprise has been granted visibility to both the alpha and beta tracks, if
  tracks is {\"beta\", \"production\"} the user will be able to install the app and
  they will get the beta version of the app. If there are no app versions in the specified
  track adding the \"alpha\" and \"beta\" values to the list of tracks will have no
  effect. Note that the enterprise requires access to alpha and/or beta tracks before
  users can be granted visibility to apps in those tracks.\n\nThe allowed sets are:
  {} (considered equivalent to {\"production\"}) {\"production\"} {\"beta\", \"production\"}
  {\"alpha\", \"beta\", \"production\"} The order of elements is not relevant. Any
  other set of tracks will be rejected with an error.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:22:\"ProductsApproveRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"approvalUrlInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ApprovalUrlInfo\";s:11:\"description\";s:361:\"The
  approval URL that was shown to the user. Only the permissions shown to the user
  with that URL will be accepted, which may not be the product's entire set of permissions.
  For example, the URL may only display new permissions from an update after the product
  was approved, or not include new permissions if the product was updated since the
  URL was generated.\";}s:19:\"approvedPermissions\";O:8:\"stdClass\":2:{s:11:\"description\";s:388:\"Sets
  how new permission requests for the product are handled. \"allPermissions\" automatically
  approves all current and future permissions for the product. \"currentPermissionsOnly\"
  approves the current set of permissions for the product, but any future permissions
  added through updates will require manual reapproval. If not specified, only the
  current set of permissions will be approved.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:35:\"ProductsGenerateApprovalUrlResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:540:\"A
  URL that can be rendered in an iframe to display the permissions (if any) of a product.
  This URL can be used to approve the product only once and only within 24 hours of
  being generated, using the Products.approve call. If the product is currently unapproved
  and has no permissions, this URL will point to an empty page. If the product is
  currently approved, a URL will only be generated if that product has added permissions
  since it was last approved, and the URL will only display those new permissions
  that have not yet been accepted.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"ProductsListResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"The
  matching products.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:38:\"androidenterprise#productsListResponse\";s:11:\"description\";s:107:\"Identifies
  what kind of resource this is. Value: the fixed string \"androidenterprise#productsListResponse\".\";s:4:\"type\";s:6:\"string\";}s:8:\"pageInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/PageInfo\";s:11:\"description\";s:31:\"General
  pagination information.\";}s:7:\"product\";O:8:\"stdClass\":3:{s:11:\"description\";s:103:\"Information
  about a product (e.g. an app) in the Google Play store, for display to an enterprise
  admin.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Product\";}s:4:\"type\";s:5:\"array\";}s:15:\"tokenPagination\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/TokenPagination\";s:11:\"description\";s:44:\"Pagination
  information for token pagination.\";}}s:4:\"type\";s:6:\"object\";}s:14:\"ServiceAccount\";O:8:\"stdClass\":3:{s:11:\"description\";s:119:\"A
  service account identity, including the name and credentials that can be used to
  authenticate as the service account.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"key\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ServiceAccountKey\";s:11:\"description\";s:68:\"Credentials
  that can be used to authenticate as this ServiceAccount.\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:32:\"androidenterprise#serviceAccount\";s:11:\"description\";s:101:\"Identifies
  what kind of resource this is. Value: the fixed string \"androidenterprise#serviceAccount\".\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:97:\"The
  account name of the service account, in the form of an email address. Assigned by
  the server.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"ServiceAccountKey\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"Credentials
  that can be used to authenticate as a service account.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"data\";O:8:\"stdClass\":2:{s:11:\"description\";s:154:\"The
  body of the private key credentials file, in string format. This is only populated
  when the ServiceAccountKey is created, and is not stored by Google.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"An
  opaque, unique identifier for this ServiceAccountKey. Assigned by the server.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:35:\"androidenterprise#serviceAccountKey\";s:11:\"description\";s:104:\"Identifies
  what kind of resource this is. Value: the fixed string \"androidenterprise#serviceAccountKey\".\";s:4:\"type\";s:6:\"string\";}s:10:\"publicData\";O:8:\"stdClass\":2:{s:11:\"description\";s:225:\"Public
  key data for the credentials file. This is an X.509 cert. If you are using the googleCredentials
  key type, this is identical to the cert that can be retrieved by using the X.509
  cert url inside of the credentials file.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"The
  file format of the generated key data.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:30:\"ServiceAccountKeysListResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"serviceAccountKey\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"The
  service account credentials.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ServiceAccountKey\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:10:\"SignupInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:101:\"A
  resource returned by the GenerateSignupUrl API, which contains the Signup URL and
  Completion Token.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"completionToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:130:\"An
  opaque token that will be required, along with the Enterprise Token, for obtaining
  the enterprise resource from CompleteSignup.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:28:\"androidenterprise#signupInfo\";s:11:\"description\";s:97:\"Identifies
  what kind of resource this is. Value: the fixed string \"androidenterprise#signupInfo\".\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:111:\"A
  URL under which the Admin can sign up for an enterprise. The page pointed to cannot
  be rendered in an iframe.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"StoreCluster\";O:8:\"stdClass\":3:{s:11:\"description\";s:104:\"Definition
  of a managed Google Play store cluster, a list of products displayed as part of
  a store page.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:75:\"Unique
  ID of this cluster. Assigned by the server. Immutable once assigned.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:30:\"androidenterprise#storeCluster\";s:11:\"description\";s:99:\"Identifies
  what kind of resource this is. Value: the fixed string \"androidenterprise#storeCluster\".\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:212:\"Ordered
  list of localized strings giving the name of this page. The text displayed is the
  one that best matches the user locale, or the first entry if there is no good match.
  There needs to be at least one entry.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/LocalizedText\";}s:4:\"type\";s:5:\"array\";}s:11:\"orderInPage\";O:8:\"stdClass\":2:{s:11:\"description\";s:402:\"String
  (US-ASCII only) used to determine order of this cluster within the parent page's
  elements. Page elements are sorted in lexicographic order of this field. Duplicated
  values are allowed, but ordering between elements with duplicate order is undefined.\n\nThe
  value of this field is never visible to a user, it is used solely for the purpose
  of defining an ordering. Maximum length is 256 characters.\";s:4:\"type\";s:6:\"string\";}s:9:\"productId\";O:8:\"stdClass\":3:{s:11:\"description\";s:113:\"List
  of products in the order they are displayed in the cluster. There should not be
  duplicates within a cluster.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:11:\"StoreLayout\";O:8:\"stdClass\":3:{s:11:\"description\";s:139:\"General
  setting for the managed Google Play store layout, currently only specifying the
  page to display the first time the store is opened.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"homepageId\";O:8:\"stdClass\":2:{s:11:\"description\";s:209:\"The
  ID of the store page to be used as the homepage. The homepage is the first page
  shown in the managed Google Play Store.\n\nNot specifying a homepage is equivalent
  to setting the store layout type to \"basic\".\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:29:\"androidenterprise#storeLayout\";s:11:\"description\";s:98:\"Identifies
  what kind of resource this is. Value: the fixed string \"androidenterprise#storeLayout\".\";s:4:\"type\";s:6:\"string\";}s:15:\"storeLayoutType\";O:8:\"stdClass\":2:{s:11:\"description\";s:231:\"The
  store layout type. By default, this value is set to \"basic\" if the homepageId
  field is not set, and to \"custom\" otherwise. If set to \"basic\", the layout will
  consist of all approved apps that have been whitelisted for the user.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:31:\"StoreLayoutClustersListResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"The
  store page resources for the enterprise.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"cluster\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"A
  store cluster of an enterprise.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/StoreCluster\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:49:\"androidenterprise#storeLayoutClustersListResponse\";s:11:\"description\";s:118:\"Identifies
  what kind of resource this is. Value: the fixed string \"androidenterprise#storeLayoutClustersListResponse\".\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:28:\"StoreLayoutPagesListResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"The
  store page resources for the enterprise.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:46:\"androidenterprise#storeLayoutPagesListResponse\";s:11:\"description\";s:115:\"Identifies
  what kind of resource this is. Value: the fixed string \"androidenterprise#storeLayoutPagesListResponse\".\";s:4:\"type\";s:6:\"string\";}s:4:\"page\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"A
  store page of an enterprise.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/StorePage\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:9:\"StorePage\";O:8:\"stdClass\":3:{s:11:\"description\";s:156:\"Definition
  of a managed Google Play store page, made of a localized name and links to other
  pages. A page also contains clusters defined as a subcollection.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"Unique
  ID of this page. Assigned by the server. Immutable once assigned.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:27:\"androidenterprise#storePage\";s:11:\"description\";s:96:\"Identifies
  what kind of resource this is. Value: the fixed string \"androidenterprise#storePage\".\";s:4:\"type\";s:6:\"string\";}s:4:\"link\";O:8:\"stdClass\":3:{s:11:\"description\";s:387:\"Ordered
  list of pages a user should be able to reach from this page. The pages must exist,
  must not be this page, and once a link is created the page linked to cannot be deleted
  until all links to it are removed. It is recommended that the basic pages are created
  first, before adding the links between pages.\n\nNo attempt is made to verify that
  all pages are reachable from the homepage.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:212:\"Ordered
  list of localized strings giving the name of this page. The text displayed is the
  one that best matches the user locale, or the first entry if there is no good match.
  There needs to be at least one entry.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/LocalizedText\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:15:\"TokenPagination\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"nextPageToken\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"previousPageToken\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"User\";O:8:\"stdClass\":3:{s:11:\"description\";s:618:\"A
  Users resource represents an account associated with an enterprise. The account
  may be specific to a device or to an individual user (who can then use the account
  across multiple devices). The account may provide access to managed Google Play
  only, or to other Google services, depending on the identity model: \n- The Google
  managed domain identity model requires synchronization to Google account sources
  (via primaryEmail). \n- The managed Google Play Accounts identity model provides
  a dynamic means for enterprises to create user or device accounts as needed. These
  accounts provide access to managed Google Play.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:17:\"accountIdentifier\";O:8:\"stdClass\":2:{s:11:\"description\";s:229:\"A
  unique identifier you create for this user, such as \"user342\" or \"asset#44418\".
  Do not use personally identifiable information (PII) for this property. Must always
  be set for EMM-managed users. Not set for Google-managed users.\";s:4:\"type\";s:6:\"string\";}s:11:\"accountType\";O:8:\"stdClass\":2:{s:11:\"description\";s:299:\"The
  type of account that this user represents. A userAccount can be installed on multiple
  devices, but a deviceAccount is specific to a single device. An EMM-managed user
  (emmManaged) can be either type (userAccount, deviceAccount), but a Google-managed
  user (googleManaged) is always a userAccount.\";s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:278:\"The
  name that will appear in user interfaces. Setting this property is optional when
  creating EMM-managed users. If you do set this property, use something generic about
  the organization (such as \"Example, Inc.\") or your name (as EMM). Not used for
  Google-managed user accounts.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  unique ID for the user.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:22:\"androidenterprise#user\";s:11:\"description\";s:91:\"Identifies
  what kind of resource this is. Value: the fixed string \"androidenterprise#user\".\";s:4:\"type\";s:6:\"string\";}s:14:\"managementType\";O:8:\"stdClass\":2:{s:11:\"description\";s:198:\"The
  entity that manages the user. With googleManaged users, the source of truth is Google
  so EMMs have to make sure a Google Account exists for the user. With emmManaged
  users, the EMM is in charge.\";s:4:\"type\";s:6:\"string\";}s:12:\"primaryEmail\";O:8:\"stdClass\":2:{s:11:\"description\";s:147:\"The
  user's primary email address, for example, \"jsmith@example.com\". Will always be
  set for Google managed users and not set for EMM managed users.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"UserToken\";O:8:\"stdClass\":3:{s:11:\"description\";s:251:\"A
  UserToken is used by a user when setting up a managed device or profile with their
  managed Google Play account on a device. When the user enters their email address
  and token (activation code) the appropriate EMM app can be automatically downloaded.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:27:\"androidenterprise#userToken\";s:11:\"description\";s:96:\"Identifies
  what kind of resource this is. Value: the fixed string \"androidenterprise#userToken\".\";s:4:\"type\";s:6:\"string\";}s:5:\"token\";O:8:\"stdClass\":2:{s:11:\"description\";s:139:\"The
  token (activation code) to be entered by the user. This consists of a sequence of
  decimal digits. Note that the leading digit may be 0.\";s:4:\"type\";s:6:\"string\";}s:6:\"userId\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  unique ID for the user.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"UsersListResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"The
  matching user resources.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:35:\"androidenterprise#usersListResponse\";s:11:\"description\";s:104:\"Identifies
  what kind of resource this is. Value: the fixed string \"androidenterprise#usersListResponse\".\";s:4:\"type\";s:6:\"string\";}s:4:\"user\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"A
  user of an enterprise.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/User\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:11:\"VariableSet\";O:8:\"stdClass\":3:{s:11:\"description\";s:276:\"A
  variable set is a key-value pair of EMM-provided placeholders and its corresponding
  value, which is attributed to a user. For example, $FIRSTNAME could be a placeholder,
  and its value could be Alice. Placeholders should start with a '$' sign and should
  be alphanumeric only.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:29:\"androidenterprise#variableSet\";s:11:\"description\";s:98:\"Identifies
  what kind of resource this is. Value: the fixed string \"androidenterprise#variableSet\".\";s:4:\"type\";s:6:\"string\";}s:11:\"placeholder\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  placeholder string; defined by EMM.\";s:4:\"type\";s:6:\"string\";}s:9:\"userValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"The
  value of the placeholder, specific to the user.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
