---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Google\";s:3:\"url\";s:18:\"https://google.com\";}s:11:\"description\";s:73:\"Accesses
  the inventory of Ad Exchange seller users and generates reports.\";s:5:\"title\";s:18:\"Ad
  Exchange Seller\";s:7:\"version\";s:4:\"v2.0\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:37:\"https://console.developers.google.com\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:118:\"https://api.apis.guru/v2/cache/logo/https_www.doubleclickbygoogle.com_static_core_img_doubleclick-google-logo-wide.svg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.6.2\";}s:6:\"format\";s:6:\"google\";s:3:\"url\";s:71:\"https://www.googleapis.com/discovery/v1/apis/adexchangeseller/v2.0/rest\";s:7:\"version\";s:2:\"v1\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"googleapis.com\";s:13:\"x-serviceName\";s:16:\"adexchangeseller\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:23:\"google_adexchangeseller\";s:4:\"type\";s:7:\"openapi\";}}"
host: www.googleapis.com
basePath: /adexchangeseller/v2.0
paths: ~
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":17:{s:7:\"Account\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Unique
  identifier of this account.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:24:\"adexchangeseller#account\";s:11:\"description\";s:64:\"Kind
  of resource this is, in this case adexchangeseller#account.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Name
  of this account.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Accounts\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"ETag
  of this response for caching purposes.\";s:4:\"type\";s:6:\"string\";}s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"The
  accounts returned in this list response.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Account\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:25:\"adexchangeseller#accounts\";s:11:\"description\";s:61:\"Kind
  of list this is, in this case adexchangeseller#accounts.\";s:4:\"type\";s:6:\"string\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:137:\"Continuation
  token used to page through accounts. To retrieve the next page of results, set the
  next request's \"pageToken\" value to this.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"AdClient\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"arcOptIn\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Whether
  this ad client is opted in to ARC.\";s:4:\"type\";s:7:\"boolean\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Unique
  identifier of this ad client.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:25:\"adexchangeseller#adClient\";s:11:\"description\";s:65:\"Kind
  of resource this is, in this case adexchangeseller#adClient.\";s:4:\"type\";s:6:\"string\";}s:11:\"productCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:86:\"This
  ad client's product code, which corresponds to the PRODUCT_CODE report dimension.\";s:4:\"type\";s:6:\"string\";}s:17:\"supportsReporting\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Whether
  this ad client supports being reported on.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:9:\"AdClients\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"ETag
  of this response for caching purposes.\";s:4:\"type\";s:6:\"string\";}s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  ad clients returned in this list response.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/AdClient\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:26:\"adexchangeseller#adClients\";s:11:\"description\";s:62:\"Kind
  of list this is, in this case adexchangeseller#adClients.\";s:4:\"type\";s:6:\"string\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:139:\"Continuation
  token used to page through ad clients. To retrieve the next page of results, set
  the next request's \"pageToken\" value to this.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Alert\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:141:\"Unique
  identifier of this alert. This should be considered an opaque identifier; it is
  not safe to rely on it being in any particular format.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:22:\"adexchangeseller#alert\";s:11:\"description\";s:62:\"Kind
  of resource this is, in this case adexchangeseller#alert.\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  localized alert message.\";s:4:\"type\";s:6:\"string\";}s:8:\"severity\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"Severity
  of this alert. Possible values: INFO, WARNING, SEVERE.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:169:\"Type
  of this alert. Possible values: SELF_HOLD, MIGRATED_TO_BILLING3, ADDRESS_PIN_VERIFICATION,
  PHONE_PIN_VERIFICATION, CORPORATE_ENTITY, GRAYLISTED_PUBLISHER, API_HOLD.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Alerts\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"The
  alerts returned in this list response.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Alert\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:23:\"adexchangeseller#alerts\";s:11:\"description\";s:59:\"Kind
  of list this is, in this case adexchangeseller#alerts.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"CustomChannel\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"Code
  of this custom channel, not necessarily unique across ad clients.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:150:\"Unique
  identifier of this custom channel. This should be considered an opaque identifier;
  it is not safe to rely on it being in any particular format.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:30:\"adexchangeseller#customChannel\";s:11:\"description\";s:70:\"Kind
  of resource this is, in this case adexchangeseller#customChannel.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Name
  of this custom channel.\";s:4:\"type\";s:6:\"string\";}s:13:\"targetingInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"The
  targeting information of this custom channel, if activated.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"adsAppearOn\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"The
  name used to describe this channel externally.\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  external description of the channel.\";s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:346:\"The
  locations in which ads appear. (Only valid for content and mobile content ads).
  Acceptable values for content ads are: TOP_LEFT, TOP_CENTER, TOP_RIGHT, MIDDLE_LEFT,
  MIDDLE_CENTER, MIDDLE_RIGHT, BOTTOM_LEFT, BOTTOM_CENTER, BOTTOM_RIGHT, MULTIPLE_LOCATIONS.
  Acceptable values for mobile content ads are: TOP, MIDDLE, BOTTOM, MULTIPLE_LOCATIONS.\";s:4:\"type\";s:6:\"string\";}s:12:\"siteLanguage\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"The
  language of the sites ads will be displayed on.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:14:\"CustomChannels\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"ETag
  of this response for caching purposes.\";s:4:\"type\";s:6:\"string\";}s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  custom channels returned in this list response.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/CustomChannel\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:31:\"adexchangeseller#customChannels\";s:11:\"description\";s:67:\"Kind
  of list this is, in this case adexchangeseller#customChannels.\";s:4:\"type\";s:6:\"string\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:144:\"Continuation
  token used to page through custom channels. To retrieve the next page of results,
  set the next request's \"pageToken\" value to this.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Metadata\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/ReportingMetadataEntry\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:25:\"adexchangeseller#metadata\";s:11:\"description\";s:61:\"Kind
  of list this is, in this case adexchangeseller#metadata.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"PreferredDeal\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:14:\"advertiserName\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"The
  name of the advertiser this deal is for.\";s:4:\"type\";s:6:\"string\";}s:16:\"buyerNetworkName\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"The
  name of the buyer network this deal is for.\";s:4:\"type\";s:6:\"string\";}s:12:\"currencyCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:89:\"The
  currency code that applies to the fixed_cpm value. If not set then assumed to be
  USD.\";s:4:\"type\";s:6:\"string\";}s:7:\"endTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:149:\"Time
  when this deal stops being active in seconds since the epoch (GMT). If not set then
  this deal is valid until manually disabled by the publisher.\";s:6:\"format\";s:6:\"uint64\";s:4:\"type\";s:6:\"string\";}s:8:\"fixedCpm\";O:8:\"stdClass\":3:{s:11:\"description\";s:233:\"The
  fixed price for this preferred deal. In cpm micros of currency according to currencyCode.
  If set, then this preferred deal is eligible for the fixed price tier of buying
  (highest priority, pay exactly the configured fixed price).\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Unique
  identifier of this preferred deal.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:30:\"adexchangeseller#preferredDeal\";s:11:\"description\";s:70:\"Kind
  of resource this is, in this case adexchangeseller#preferredDeal.\";s:4:\"type\";s:6:\"string\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:131:\"Time
  when this deal becomes active in seconds since the epoch (GMT). If not set then
  this deal is active immediately upon creation.\";s:6:\"format\";s:6:\"uint64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"PreferredDeals\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  preferred deals returned in this list response.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/PreferredDeal\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:31:\"adexchangeseller#preferredDeals\";s:11:\"description\";s:67:\"Kind
  of list this is, in this case adexchangeseller#preferredDeals.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Report\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:8:\"averages\";O:8:\"stdClass\":3:{s:11:\"description\";s:135:\"The
  averages of the report. This is the same length as any other row in the report;
  cells corresponding to dimension columns are empty.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"headers\";O:8:\"stdClass\":3:{s:11:\"description\";s:176:\"The
  header information of the columns requested in the report. This is a list of headers;
  one for each dimension in the request, followed by one for each metric in the request.\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"currency\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"The
  currency of this column. Only present if the header type is METRIC_CURRENCY.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  name of the header.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:89:\"The
  type of the header; one of DIMENSION, METRIC_TALLY, METRIC_RATIO, or METRIC_CURRENCY.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:23:\"adexchangeseller#report\";s:11:\"description\";s:51:\"Kind
  this is, in this case adexchangeseller#report.\";s:4:\"type\";s:6:\"string\";}s:4:\"rows\";O:8:\"stdClass\":3:{s:11:\"description\";s:221:\"The
  output rows of the report. Each row is a list of cells; one for each dimension in
  the request, followed by one for each metric in the request. The dimension cells
  contain strings, and the metric cells contain numbers.\";s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";s:5:\"array\";}s:16:\"totalMatchedRows\";O:8:\"stdClass\":3:{s:11:\"description\";s:171:\"The
  total number of rows matched by the report request. Fewer rows may be returned in
  the response due to being limited by the row count requested or the report row limit.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:6:\"totals\";O:8:\"stdClass\":3:{s:11:\"description\";s:133:\"The
  totals of the report. This is the same length as any other row in the report; cells
  corresponding to dimension columns are empty.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:8:\"warnings\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"Any
  warnings associated with generation of the report.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:22:\"ReportingMetadataEntry\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:20:\"compatibleDimensions\";O:8:\"stdClass\":3:{s:11:\"description\";s:158:\"For
  metrics this is a list of dimension IDs which the metric is compatible with, for
  dimensions it is a list of compatibility groups the dimension belongs to.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:17:\"compatibleMetrics\";O:8:\"stdClass\":3:{s:11:\"description\";s:108:\"The
  names of the metrics the dimension or metric this reporting metadata entry describes
  is compatible with.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:117:\"Unique
  identifier of this reporting metadata entry, corresponding to the name of the appropriate
  dimension or metric.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:39:\"adexchangeseller#reportingMetadataEntry\";s:11:\"description\";s:79:\"Kind
  of resource this is, in this case adexchangeseller#reportingMetadataEntry.\";s:4:\"type\";s:6:\"string\";}s:18:\"requiredDimensions\";O:8:\"stdClass\":3:{s:11:\"description\";s:275:\"The
  names of the dimensions which the dimension or metric this reporting metadata entry
  describes requires to also be present in order for the report to be valid. Omitting
  these will not cause an error or warning, but may result in data which cannot be
  correctly interpreted.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:15:\"requiredMetrics\";O:8:\"stdClass\":3:{s:11:\"description\";s:272:\"The
  names of the metrics which the dimension or metric this reporting metadata entry
  describes requires to also be present in order for the report to be valid. Omitting
  these will not cause an error or warning, but may result in data which cannot be
  correctly interpreted.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:17:\"supportedProducts\";O:8:\"stdClass\":3:{s:11:\"description\";s:103:\"The
  codes of the projects supported by the dimension or metric this reporting metadata
  entry describes.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:11:\"SavedReport\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Unique
  identifier of this saved report.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:28:\"adexchangeseller#savedReport\";s:11:\"description\";s:68:\"Kind
  of resource this is, in this case adexchangeseller#savedReport.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"This
  saved report's name.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"SavedReports\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"ETag
  of this response for caching purposes.\";s:4:\"type\";s:6:\"string\";}s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  saved reports returned in this list response.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/SavedReport\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:29:\"adexchangeseller#savedReports\";s:11:\"description\";s:65:\"Kind
  of list this is, in this case adexchangeseller#savedReports.\";s:4:\"type\";s:6:\"string\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:142:\"Continuation
  token used to page through saved reports. To retrieve the next page of results,
  set the next request's \"pageToken\" value to this.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"UrlChannel\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:147:\"Unique
  identifier of this URL channel. This should be considered an opaque identifier;
  it is not safe to rely on it being in any particular format.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:27:\"adexchangeseller#urlChannel\";s:11:\"description\";s:67:\"Kind
  of resource this is, in this case adexchangeseller#urlChannel.\";s:4:\"type\";s:6:\"string\";}s:10:\"urlPattern\";O:8:\"stdClass\":2:{s:11:\"description\";s:104:\"URL
  Pattern of this URL channel. Does not include \"http://\" or \"https://\". Example:
  www.example.com/home\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"UrlChannels\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"ETag
  of this response for caching purposes.\";s:4:\"type\";s:6:\"string\";}s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"The
  URL channels returned in this list response.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/UrlChannel\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:28:\"adexchangeseller#urlChannels\";s:11:\"description\";s:64:\"Kind
  of list this is, in this case adexchangeseller#urlChannels.\";s:4:\"type\";s:6:\"string\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:141:\"Continuation
  token used to page through URL channels. To retrieve the next page of results, set
  the next request's \"pageToken\" value to this.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
