---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":12:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Google\";s:3:\"url\";s:18:\"https://google.com\";}s:11:\"description\";s:45:\"Accesses
  Tag Manager accounts and containers.\";s:5:\"title\";s:11:\"Tag Manager\";s:7:\"version\";s:2:\"v1\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:37:\"https://console.developers.google.com\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:9:\"analytics\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:116:\"https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.6.2\";}s:6:\"format\";s:6:\"google\";s:3:\"url\";s:63:\"https://www.googleapis.com/discovery/v1/apis/tagmanager/v1/rest\";s:7:\"version\";s:2:\"v1\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"googleapis.com\";s:13:\"x-serviceName\";s:10:\"tagmanager\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:17:\"google_tagmanager\";s:4:\"type\";s:7:\"openapi\";}}"
host: www.googleapis.com
basePath: /tagmanager/v1
paths:
  /accounts:
    get:
      description: Lists all GTM Accounts that a user has access to.
      operationId: accounts.list
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ListAccountsResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/tagmanager.edit.containers
      - Oauth2:
        - https://www.googleapis.com/auth/tagmanager.manage.accounts
      - Oauth2:
        - https://www.googleapis.com/auth/tagmanager.readonly
      tags:
      - accounts
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
  /accounts/{accountId}:
    get:
      description: Gets a GTM Account.
      operationId: accounts.get
      parameters:
      - description: The GTM Account ID.
        in: path
        name: accountId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Account'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/tagmanager.edit.containers
      - Oauth2:
        - https://www.googleapis.com/auth/tagmanager.manage.accounts
      - Oauth2:
        - https://www.googleapis.com/auth/tagmanager.readonly
      tags:
      - accounts
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    put:
      description: Updates a GTM Account.
      operationId: accounts.update
      parameters:
      - description: The GTM Account ID.
        in: path
        name: accountId
        required: true
        type: string
      - in: body
        name: body
        schema:
          $ref: '#/definitions/Account'
      - description: When provided, this fingerprint must match the fingerprint of
          the account in storage.
        in: query
        name: fingerprint
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Account'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/tagmanager.manage.accounts
      tags:
      - accounts
  /accounts/{accountId}/containers:
    get:
      description: Lists all Containers that belongs to a GTM Account.
      operationId: accounts.containers.list
      parameters:
      - description: The GTM Account ID.
        in: path
        name: accountId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ListContainersResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/tagmanager.edit.containers
      - Oauth2:
        - https://www.googleapis.com/auth/tagmanager.readonly
      tags:
      - accounts
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Creates a Container.
      operationId: accounts.containers.create
      parameters:
      - description: The GTM Account ID.
        in: path
        name: accountId
        required: true
        type: string
      - in: body
        name: body
        schema:
          $ref: '#/definitions/Container'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Container'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/tagmanager.edit.containers
      tags:
      - accounts
  /accounts/{accountId}/containers/{containerId}:
    delete:
      description: Deletes a Container.
      operationId: accounts.containers.delete
      parameters:
      - description: The GTM Account ID.
        in: path
        name: accountId
        required: true
        type: string
      - description: The GTM Container ID.
        in: path
        name: containerId
        required: true
        type: string
      responses:
        200:
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/tagmanager.delete.containers
      tags:
      - accounts
    get:
      description: Gets a Container.
      operationId: accounts.containers.get
      parameters:
      - description: The GTM Account ID.
        in: path
        name: accountId
        required: true
        type: string
      - description: The GTM Container ID.
        in: path
        name: containerId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Container'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/tagmanager.edit.containers
      - Oauth2:
        - https://www.googleapis.com/auth/tagmanager.readonly
      tags:
      - accounts
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    put:
      description: Updates a Container.
      operationId: accounts.containers.update
      parameters:
      - description: The GTM Account ID.
        in: path
        name: accountId
        required: true
        type: string
      - in: body
        name: body
        schema:
          $ref: '#/definitions/Container'
      - description: The GTM Container ID.
        in: path
        name: containerId
        required: true
        type: string
      - description: When provided, this fingerprint must match the fingerprint of
          the container in storage.
        in: query
        name: fingerprint
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Container'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/tagmanager.edit.containers
      tags:
      - accounts
  /accounts/{accountId}/containers/{containerId}/environments:
    get:
      description: Lists all GTM Environments of a GTM Container.
      operationId: accounts.containers.environments.list
      parameters:
      - description: The GTM Account ID.
        in: path
        name: accountId
        required: true
        type: string
      - description: The GTM Container ID.
        in: path
        name: containerId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ListEnvironmentsResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/tagmanager.edit.containers
      - Oauth2:
        - https://www.googleapis.com/auth/tagmanager.readonly
      tags:
      - accounts
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Creates a GTM Environment.
      operationId: accounts.containers.environments.create
      parameters:
      - description: The GTM Account ID.
        in: path
        name: accountId
        required: true
        type: string
      - in: body
        name: body
        schema:
          $ref: '#/definitions/Environment'
      - description: The GTM Container ID.
        in: path
        name: containerId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Environment'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/tagmanager.edit.containers
      tags:
      - accounts
  /accounts/{accountId}/containers/{containerId}/environments/{environmentId}:
    delete:
      description: Deletes a GTM Environment.
      operationId: accounts.containers.environments.delete
      parameters:
      - description: The GTM Account ID.
        in: path
        name: accountId
        required: true
        type: string
      - description: The GTM Container ID.
        in: path
        name: containerId
        required: true
        type: string
      - description: The GTM Environment ID.
        in: path
        name: environmentId
        required: true
        type: string
      responses:
        200:
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/tagmanager.edit.containers
      tags:
      - accounts
    get:
      description: Gets a GTM Environment.
      operationId: accounts.containers.environments.get
      parameters:
      - description: The GTM Account ID.
        in: path
        name: accountId
        required: true
        type: string
      - description: The GTM Container ID.
        in: path
        name: containerId
        required: true
        type: string
      - description: The GTM Environment ID.
        in: path
        name: environmentId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Environment'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/tagmanager.edit.containers
      - Oauth2:
        - https://www.googleapis.com/auth/tagmanager.readonly
      tags:
      - accounts
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    patch:
      description: Updates a GTM Environment. This method supports patch semantics.
      operationId: accounts.containers.environments.patch
      parameters:
      - description: The GTM Account ID.
        in: path
        name: accountId
        required: true
        type: string
      - in: body
        name: body
        schema:
          $ref: '#/definitions/Environment'
      - description: The GTM Container ID.
        in: path
        name: containerId
        required: true
        type: string
      - description: The GTM Environment ID.
        in: path
        name: environmentId
        required: true
        type: string
      - description: When provided, this fingerprint must match the fingerprint of
          the environment in storage.
        in: query
        name: fingerprint
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Environment'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/tagmanager.edit.containers
      tags:
      - accounts
    put:
      description: Updates a GTM Environment.
      operationId: accounts.containers.environments.update
      parameters:
      - description: The GTM Account ID.
        in: path
        name: accountId
        required: true
        type: string
      - in: body
        name: body
        schema:
          $ref: '#/definitions/Environment'
      - description: The GTM Container ID.
        in: path
        name: containerId
        required: true
        type: string
      - description: The GTM Environment ID.
        in: path
        name: environmentId
        required: true
        type: string
      - description: When provided, this fingerprint must match the fingerprint of
          the environment in storage.
        in: query
        name: fingerprint
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Environment'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/tagmanager.edit.containers
      tags:
      - accounts
  /accounts/{accountId}/containers/{containerId}/folders:
    get:
      description: Lists all GTM Folders of a Container.
      operationId: accounts.containers.folders.list
      parameters:
      - description: The GTM Account ID.
        in: path
        name: accountId
        required: true
        type: string
      - description: The GTM Container ID.
        in: path
        name: containerId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ListFoldersResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/tagmanager.edit.containers
      - Oauth2:
        - https://www.googleapis.com/auth/tagmanager.readonly
      tags:
      - accounts
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Creates a GTM Folder.
      operationId: accounts.containers.folders.create
      parameters:
      - description: The GTM Account ID.
        in: path
        name: accountId
        required: true
        type: string
      - in: body
        name: body
        schema:
          $ref: '#/definitions/Folder'
      - description: The GTM Container ID.
        in: path
        name: containerId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Folder'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/tagmanager.edit.containers
      tags:
      - accounts
  /accounts/{accountId}/containers/{containerId}/folders/{folderId}:
    delete:
      description: Deletes a GTM Folder.
      operationId: accounts.containers.folders.delete
      parameters:
      - description: The GTM Account ID.
        in: path
        name: accountId
        required: true
        type: string
      - description: The GTM Container ID.
        in: path
        name: containerId
        required: true
        type: string
      - description: The GTM Folder ID.
        in: path
        name: folderId
        required: true
        type: string
      responses:
        200:
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/tagmanager.edit.containers
      tags:
      - accounts
    get:
      description: Gets a GTM Folder.
      operationId: accounts.containers.folders.get
      parameters:
      - description: The GTM Account ID.
        in: path
        name: accountId
        required: true
        type: string
      - description: The GTM Container ID.
        in: path
        name: containerId
        required: true
        type: string
      - description: The GTM Folder ID.
        in: path
        name: folderId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Folder'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/tagmanager.edit.containers
      - Oauth2:
        - https://www.googleapis.com/auth/tagmanager.readonly
      tags:
      - accounts
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    put:
      description: Updates a GTM Folder.
      operationId: accounts.containers.folders.update
      parameters:
      - description: The GTM Account ID.
        in: path
        name: accountId
        required: true
        type: string
      - in: body
        name: body
        schema:
          $ref: '#/definitions/Folder'
      - description: The GTM Container ID.
        in: path
        name: containerId
        required: true
        type: string
      - description: When provided, this fingerprint must match the fingerprint of
          the folder in storage.
        in: query
        name: fingerprint
        type: string
      - description: The GTM Folder ID.
        in: path
        name: folderId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Folder'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/tagmanager.edit.containers
      tags:
      - accounts
  /accounts/{accountId}/containers/{containerId}/folders/{folderId}/entities:
    get:
      description: List all entities in a GTM Folder.
      operationId: accounts.containers.folders.entities.list
      parameters:
      - description: The GTM Account ID.
        in: path
        name: accountId
        required: true
        type: string
      - description: The GTM Container ID.
        in: path
        name: containerId
        required: true
        type: string
      - description: The GTM Folder ID.
        in: path
        name: folderId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/FolderEntities'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/tagmanager.edit.containers
      - Oauth2:
        - https://www.googleapis.com/auth/tagmanager.readonly
      tags:
      - accounts
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
  /accounts/{accountId}/containers/{containerId}/move_folders/{folderId}:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    put:
      description: Moves entities to a GTM Folder.
      operationId: accounts.containers.move_folders.update
      parameters:
      - description: The GTM Account ID.
        in: path
        name: accountId
        required: true
        type: string
      - in: body
        name: body
        schema:
          $ref: '#/definitions/Folder'
      - description: The GTM Container ID.
        in: path
        name: containerId
        required: true
        type: string
      - description: The GTM Folder ID.
        in: path
        name: folderId
        required: true
        type: string
      - collectionFormat: multi
        description: The tags to be moved to the folder.
        in: query
        items:
          type: string
        name: tagId
        type: array
      - collectionFormat: multi
        description: The triggers to be moved to the folder.
        in: query
        items:
          type: string
        name: triggerId
        type: array
      - collectionFormat: multi
        description: The variables to be moved to the folder.
        in: query
        items:
          type: string
        name: variableId
        type: array
      responses:
        200:
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/tagmanager.edit.containers
      tags:
      - accounts
  /accounts/{accountId}/containers/{containerId}/reauthorize_environments/{environmentId}:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    put:
      description: Re-generates the authorization code for a GTM Environment.
      operationId: accounts.containers.reauthorize_environments.update
      parameters:
      - description: The GTM Account ID.
        in: path
        name: accountId
        required: true
        type: string
      - in: body
        name: body
        schema:
          $ref: '#/definitions/Environment'
      - description: The GTM Container ID.
        in: path
        name: containerId
        required: true
        type: string
      - description: The GTM Environment ID.
        in: path
        name: environmentId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Environment'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/tagmanager.publish
      tags:
      - accounts
  /accounts/{accountId}/containers/{containerId}/tags:
    get:
      description: Lists all GTM Tags of a Container.
      operationId: accounts.containers.tags.list
      parameters:
      - description: The GTM Account ID.
        in: path
        name: accountId
        required: true
        type: string
      - description: The GTM Container ID.
        in: path
        name: containerId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ListTagsResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/tagmanager.edit.containers
      - Oauth2:
        - https://www.googleapis.com/auth/tagmanager.readonly
      tags:
      - accounts
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Creates a GTM Tag.
      operationId: accounts.containers.tags.create
      parameters:
      - description: The GTM Account ID.
        in: path
        name: accountId
        required: true
        type: string
      - in: body
        name: body
        schema:
          $ref: '#/definitions/Tag'
      - description: The GTM Container ID.
        in: path
        name: containerId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Tag'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/tagmanager.edit.containers
      tags:
      - accounts
  /accounts/{accountId}/containers/{containerId}/tags/{tagId}:
    delete:
      description: Deletes a GTM Tag.
      operationId: accounts.containers.tags.delete
      parameters:
      - description: The GTM Account ID.
        in: path
        name: accountId
        required: true
        type: string
      - description: The GTM Container ID.
        in: path
        name: containerId
        required: true
        type: string
      - description: The GTM Tag ID.
        in: path
        name: tagId
        required: true
        type: string
      responses:
        200:
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/tagmanager.edit.containers
      tags:
      - accounts
    get:
      description: Gets a GTM Tag.
      operationId: accounts.containers.tags.get
      parameters:
      - description: The GTM Account ID.
        in: path
        name: accountId
        required: true
        type: string
      - description: The GTM Container ID.
        in: path
        name: containerId
        required: true
        type: string
      - description: The GTM Tag ID.
        in: path
        name: tagId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Tag'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/tagmanager.edit.containers
      - Oauth2:
        - https://www.googleapis.com/auth/tagmanager.readonly
      tags:
      - accounts
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    put:
      description: Updates a GTM Tag.
      operationId: accounts.containers.tags.update
      parameters:
      - description: The GTM Account ID.
        in: path
        name: accountId
        required: true
        type: string
      - in: body
        name: body
        schema:
          $ref: '#/definitions/Tag'
      - description: The GTM Container ID.
        in: path
        name: containerId
        required: true
        type: string
      - description: When provided, this fingerprint must match the fingerprint of
          the tag in storage.
        in: query
        name: fingerprint
        type: string
      - description: The GTM Tag ID.
        in: path
        name: tagId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Tag'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/tagmanager.edit.containers
      tags:
      - accounts
  /accounts/{accountId}/containers/{containerId}/triggers:
    get:
      description: Lists all GTM Triggers of a Container.
      operationId: accounts.containers.triggers.list
      parameters:
      - description: The GTM Account ID.
        in: path
        name: accountId
        required: true
        type: string
      - description: The GTM Container ID.
        in: path
        name: containerId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ListTriggersResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/tagmanager.edit.containers
      - Oauth2:
        - https://www.googleapis.com/auth/tagmanager.readonly
      tags:
      - accounts
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Creates a GTM Trigger.
      operationId: accounts.containers.triggers.create
      parameters:
      - description: The GTM Account ID.
        in: path
        name: accountId
        required: true
        type: string
      - in: body
        name: body
        schema:
          $ref: '#/definitions/Trigger'
      - description: The GTM Container ID.
        in: path
        name: containerId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Trigger'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/tagmanager.edit.containers
      tags:
      - accounts
  /accounts/{accountId}/containers/{containerId}/triggers/{triggerId}:
    delete:
      description: Deletes a GTM Trigger.
      operationId: accounts.containers.triggers.delete
      parameters:
      - description: The GTM Account ID.
        in: path
        name: accountId
        required: true
        type: string
      - description: The GTM Container ID.
        in: path
        name: containerId
        required: true
        type: string
      - description: The GTM Trigger ID.
        in: path
        name: triggerId
        required: true
        type: string
      responses:
        200:
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/tagmanager.edit.containers
      tags:
      - accounts
    get:
      description: Gets a GTM Trigger.
      operationId: accounts.containers.triggers.get
      parameters:
      - description: The GTM Account ID.
        in: path
        name: accountId
        required: true
        type: string
      - description: The GTM Container ID.
        in: path
        name: containerId
        required: true
        type: string
      - description: The GTM Trigger ID.
        in: path
        name: triggerId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Trigger'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/tagmanager.edit.containers
      - Oauth2:
        - https://www.googleapis.com/auth/tagmanager.readonly
      tags:
      - accounts
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    put:
      description: Updates a GTM Trigger.
      operationId: accounts.containers.triggers.update
      parameters:
      - description: The GTM Account ID.
        in: path
        name: accountId
        required: true
        type: string
      - in: body
        name: body
        schema:
          $ref: '#/definitions/Trigger'
      - description: The GTM Container ID.
        in: path
        name: containerId
        required: true
        type: string
      - description: When provided, this fingerprint must match the fingerprint of
          the trigger in storage.
        in: query
        name: fingerprint
        type: string
      - description: The GTM Trigger ID.
        in: path
        name: triggerId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Trigger'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/tagmanager.edit.containers
      tags:
      - accounts
  /accounts/{accountId}/containers/{containerId}/variables:
    get:
      description: Lists all GTM Variables of a Container.
      operationId: accounts.containers.variables.list
      parameters:
      - description: The GTM Account ID.
        in: path
        name: accountId
        required: true
        type: string
      - description: The GTM Container ID.
        in: path
        name: containerId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ListVariablesResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/tagmanager.edit.containers
      - Oauth2:
        - https://www.googleapis.com/auth/tagmanager.readonly
      tags:
      - accounts
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Creates a GTM Variable.
      operationId: accounts.containers.variables.create
      parameters:
      - description: The GTM Account ID.
        in: path
        name: accountId
        required: true
        type: string
      - in: body
        name: body
        schema:
          $ref: '#/definitions/Variable'
      - description: The GTM Container ID.
        in: path
        name: containerId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Variable'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/tagmanager.edit.containers
      tags:
      - accounts
  /accounts/{accountId}/containers/{containerId}/variables/{variableId}:
    delete:
      description: Deletes a GTM Variable.
      operationId: accounts.containers.variables.delete
      parameters:
      - description: The GTM Account ID.
        in: path
        name: accountId
        required: true
        type: string
      - description: The GTM Container ID.
        in: path
        name: containerId
        required: true
        type: string
      - description: The GTM Variable ID.
        in: path
        name: variableId
        required: true
        type: string
      responses:
        200:
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/tagmanager.edit.containers
      tags:
      - accounts
    get:
      description: Gets a GTM Variable.
      operationId: accounts.containers.variables.get
      parameters:
      - description: The GTM Account ID.
        in: path
        name: accountId
        required: true
        type: string
      - description: The GTM Container ID.
        in: path
        name: containerId
        required: true
        type: string
      - description: The GTM Variable ID.
        in: path
        name: variableId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Variable'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/tagmanager.edit.containers
      - Oauth2:
        - https://www.googleapis.com/auth/tagmanager.readonly
      tags:
      - accounts
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    put:
      description: Updates a GTM Variable.
      operationId: accounts.containers.variables.update
      parameters:
      - description: The GTM Account ID.
        in: path
        name: accountId
        required: true
        type: string
      - in: body
        name: body
        schema:
          $ref: '#/definitions/Variable'
      - description: The GTM Container ID.
        in: path
        name: containerId
        required: true
        type: string
      - description: When provided, this fingerprint must match the fingerprint of
          the variable in storage.
        in: query
        name: fingerprint
        type: string
      - description: The GTM Variable ID.
        in: path
        name: variableId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/Variable'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/tagmanager.edit.containers
      tags:
      - accounts
  /accounts/{accountId}/containers/{containerId}/versions:
    get:
      description: Lists all Container Versions of a GTM Container.
      operationId: accounts.containers.versions.list
      parameters:
      - description: The GTM Account ID.
        in: path
        name: accountId
        required: true
        type: string
      - description: The GTM Container ID.
        in: path
        name: containerId
        required: true
        type: string
      - default: false
        description: Retrieve headers only when true.
        in: query
        name: headers
        type: boolean
      - default: false
        description: Also retrieve deleted (archived) versions when true.
        in: query
        name: includeDeleted
        type: boolean
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ListContainerVersionsResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/tagmanager.edit.containers
      - Oauth2:
        - https://www.googleapis.com/auth/tagmanager.edit.containerversions
      - Oauth2:
        - https://www.googleapis.com/auth/tagmanager.readonly
      tags:
      - accounts
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Creates a Container Version.
      operationId: accounts.containers.versions.create
      parameters:
      - description: The GTM Account ID.
        in: path
        name: accountId
        required: true
        type: string
      - in: body
        name: body
        schema:
          $ref: '#/definitions/CreateContainerVersionRequestVersionOptions'
      - description: The GTM Container ID.
        in: path
        name: containerId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/CreateContainerVersionResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/tagmanager.edit.containerversions
      tags:
      - accounts
  /accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}:
    delete:
      description: Deletes a Container Version.
      operationId: accounts.containers.versions.delete
      parameters:
      - description: The GTM Account ID.
        in: path
        name: accountId
        required: true
        type: string
      - description: The GTM Container ID.
        in: path
        name: containerId
        required: true
        type: string
      - description: The GTM Container Version ID.
        in: path
        name: containerVersionId
        required: true
        type: string
      responses:
        200:
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/tagmanager.edit.containerversions
      tags:
      - accounts
    get:
      description: Gets a Container Version.
      operationId: accounts.containers.versions.get
      parameters:
      - description: The GTM Account ID.
        in: path
        name: accountId
        required: true
        type: string
      - description: The GTM Container ID.
        in: path
        name: containerId
        required: true
        type: string
      - description: The GTM Container Version ID. Specify published to retrieve the
          currently published version.
        in: path
        name: containerVersionId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ContainerVersion'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/tagmanager.edit.containers
      - Oauth2:
        - https://www.googleapis.com/auth/tagmanager.edit.containerversions
      - Oauth2:
        - https://www.googleapis.com/auth/tagmanager.readonly
      tags:
      - accounts
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    put:
      description: Updates a Container Version.
      operationId: accounts.containers.versions.update
      parameters:
      - description: The GTM Account ID.
        in: path
        name: accountId
        required: true
        type: string
      - in: body
        name: body
        schema:
          $ref: '#/definitions/ContainerVersion'
      - description: The GTM Container ID.
        in: path
        name: containerId
        required: true
        type: string
      - description: The GTM Container Version ID.
        in: path
        name: containerVersionId
        required: true
        type: string
      - description: When provided, this fingerprint must match the fingerprint of
          the container version in storage.
        in: query
        name: fingerprint
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ContainerVersion'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/tagmanager.edit.containerversions
      tags:
      - accounts
  /accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/publish:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Publishes a Container Version.
      operationId: accounts.containers.versions.publish
      parameters:
      - description: The GTM Account ID.
        in: path
        name: accountId
        required: true
        type: string
      - description: The GTM Container ID.
        in: path
        name: containerId
        required: true
        type: string
      - description: The GTM Container Version ID.
        in: path
        name: containerVersionId
        required: true
        type: string
      - description: When provided, this fingerprint must match the fingerprint of
          the container version in storage.
        in: query
        name: fingerprint
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/PublishContainerVersionResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/tagmanager.publish
      tags:
      - accounts
  /accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/restore:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Restores a Container Version. This will overwrite the container's
        current configuration (including its variables, triggers and tags). The operation
        will not have any effect on the version that is being served (i.e. the published
        version).
      operationId: accounts.containers.versions.restore
      parameters:
      - description: The GTM Account ID.
        in: path
        name: accountId
        required: true
        type: string
      - description: The GTM Container ID.
        in: path
        name: containerId
        required: true
        type: string
      - description: The GTM Container Version ID.
        in: path
        name: containerVersionId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ContainerVersion'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/tagmanager.edit.containers
      tags:
      - accounts
  /accounts/{accountId}/containers/{containerId}/versions/{containerVersionId}/undelete:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Undeletes a Container Version.
      operationId: accounts.containers.versions.undelete
      parameters:
      - description: The GTM Account ID.
        in: path
        name: accountId
        required: true
        type: string
      - description: The GTM Container ID.
        in: path
        name: containerId
        required: true
        type: string
      - description: The GTM Container Version ID.
        in: path
        name: containerVersionId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ContainerVersion'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/tagmanager.edit.containerversions
      tags:
      - accounts
  /accounts/{accountId}/permissions:
    get:
      description: List all users that have access to the account along with Account
        and Container Permissions granted to each of them.
      operationId: accounts.permissions.list
      parameters:
      - description: The GTM Account ID. @required tagmanager.accounts.permissions.list
        in: path
        name: accountId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ListAccountUsersResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/tagmanager.manage.users
      tags:
      - accounts
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Creates a user's Account & Container Permissions.
      operationId: accounts.permissions.create
      parameters:
      - description: The GTM Account ID.
        in: path
        name: accountId
        required: true
        type: string
      - in: body
        name: body
        schema:
          $ref: '#/definitions/UserAccess'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/UserAccess'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/tagmanager.manage.users
      tags:
      - accounts
  /accounts/{accountId}/permissions/{permissionId}:
    delete:
      description: Removes a user from the account, revoking access to it and all
        of its containers.
      operationId: accounts.permissions.delete
      parameters:
      - description: The GTM Account ID.
        in: path
        name: accountId
        required: true
        type: string
      - description: The GTM User ID.
        in: path
        name: permissionId
        required: true
        type: string
      responses:
        200:
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/tagmanager.manage.users
      tags:
      - accounts
    get:
      description: Gets a user's Account & Container Permissions.
      operationId: accounts.permissions.get
      parameters:
      - description: The GTM Account ID.
        in: path
        name: accountId
        required: true
        type: string
      - description: The GTM User ID.
        in: path
        name: permissionId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/UserAccess'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/tagmanager.manage.users
      tags:
      - accounts
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    put:
      description: Updates a user's Account & Container Permissions.
      operationId: accounts.permissions.update
      parameters:
      - description: The GTM Account ID.
        in: path
        name: accountId
        required: true
        type: string
      - in: body
        name: body
        schema:
          $ref: '#/definitions/UserAccess'
      - description: The GTM User ID.
        in: path
        name: permissionId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/UserAccess'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/tagmanager.manage.users
      tags:
      - accounts
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":31:{s:7:\"Account\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Represents
  a Google Tag Manager Account.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"accountId\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"The
  Account ID uniquely identifies the GTM Account.\";s:4:\"type\";s:6:\"string\";}s:11:\"fingerprint\";O:8:\"stdClass\":2:{s:11:\"description\";s:122:\"The
  fingerprint of the GTM Account as computed at storage time. This value is recomputed
  whenever the account is modified.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Account
  display name.\";s:4:\"type\";s:6:\"string\";}s:9:\"shareData\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"Whether
  the account shares data anonymously with Google and others.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:13:\"AccountAccess\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"Defines
  the Google Tag Manager Account access permissions.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"permission\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"List
  of Account permissions. Valid account permissions are read and manage.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"enum\";a:6:{i:0;s:6:\"delete\";i:1;s:4:\"edit\";i:2;s:13:\"editWorkspace\";i:3;s:6:\"manage\";i:4;s:7:\"publish\";i:5;s:4:\"read\";}s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:9:\"Condition\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Represents
  a predicate.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"parameter\";O:8:\"stdClass\":3:{s:11:\"description\";s:573:\"A
  list of named parameters (key/value), depending on the condition's type. Notes:
  \n- For binary operators, include parameters named arg0 and arg1 for specifying
  the left and right operands, respectively. \n- At this time, the left operand (arg0)
  must be a reference to a variable. \n- For case-insensitive Regex matching, include
  a boolean parameter named ignore_case that is set to true. If not specified or set
  to any other value, the matching will be case sensitive. \n- To negate an operator,
  include a boolean parameter named negate boolean parameter that is set to true.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Parameter\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  type of operator for this condition.\";s:4:\"enum\";a:11:{i:0;s:8:\"contains\";i:1;s:11:\"cssSelector\";i:2;s:8:\"endsWith\";i:3;s:6:\"equals\";i:4;s:7:\"greater\";i:5;s:15:\"greaterOrEquals\";i:6;s:4:\"less\";i:7;s:12:\"lessOrEquals\";i:8;s:10:\"matchRegex\";i:9;s:10:\"startsWith\";i:10;s:10:\"urlMatches\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"Container\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Represents
  a Google Tag Manager Container.\";s:10:\"properties\";O:8:\"stdClass\":11:{s:9:\"accountId\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"GTM
  Account ID.\";s:4:\"type\";s:6:\"string\";}s:11:\"containerId\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"The
  Container ID uniquely identifies the GTM Container.\";s:4:\"type\";s:6:\"string\";}s:10:\"domainName\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"Optional
  list of domain names associated with the Container.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:22:\"enabledBuiltInVariable\";O:8:\"stdClass\":3:{s:11:\"description\";s:423:\"List
  of enabled built-in variables. Valid values include: pageUrl, pageHostname, pagePath,
  referrer, event, clickElement, clickClasses, clickId, clickTarget, clickUrl, clickText,
  formElement, formClasses, formId, formTarget, formUrl, formText, errorMessage, errorUrl,
  errorLine, newHistoryFragment, oldHistoryFragment, newHistoryState, oldHistoryState,
  historySource, containerVersion, debugMode, randomNumber, containerId.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"enum\";a:102:{i:0;s:12:\"advertiserId\";i:1;s:26:\"advertisingTrackingEnabled\";i:2;s:18:\"ampBrowserLanguage\";i:3;s:16:\"ampCanonicalHost\";i:4;s:16:\"ampCanonicalPath\";i:5;s:15:\"ampCanonicalUrl\";i:6;s:11:\"ampClientId\";i:7;s:19:\"ampClientMaxScrollX\";i:8;s:19:\"ampClientMaxScrollY\";i:9;s:21:\"ampClientScreenHeight\";i:10;s:20:\"ampClientScreenWidth\";i:11;s:16:\"ampClientScrollX\";i:12;s:16:\"ampClientScrollY\";i:13;s:18:\"ampClientTimestamp\";i:14;s:17:\"ampClientTimezone\";i:15;s:11:\"ampGtmEvent\";i:16;s:19:\"ampPageDownloadTime\";i:17;s:15:\"ampPageLoadTime\";i:18;s:13:\"ampPageViewId\";i:19;s:11:\"ampReferrer\";i:20;s:8:\"ampTitle\";i:21;s:19:\"ampTotalEngagedTime\";i:22;s:5:\"appId\";i:23;s:7:\"appName\";i:24;s:14:\"appVersionCode\";i:25;s:14:\"appVersionName\";i:26;s:12:\"clickClasses\";i:27;s:12:\"clickElement\";i:28;s:7:\"clickId\";i:29;s:11:\"clickTarget\";i:30;s:9:\"clickText\";i:31;s:8:\"clickUrl\";i:32;s:11:\"containerId\";i:33;s:16:\"containerVersion\";i:34;s:9:\"debugMode\";i:35;s:10:\"deviceName\";i:36;s:26:\"elementVisibilityFirstTime\";i:37;s:22:\"elementVisibilityRatio\";i:38;s:27:\"elementVisibilityRecentTime\";i:39;s:21:\"elementVisibilityTime\";i:40;s:15:\"environmentName\";i:41;s:9:\"errorLine\";i:42;s:12:\"errorMessage\";i:43;s:8:\"errorUrl\";i:44;s:5:\"event\";i:45;s:9:\"eventName\";i:46;s:30:\"firebaseEventParameterCampaign\";i:47;s:35:\"firebaseEventParameterCampaignAclid\";i:48;s:34:\"firebaseEventParameterCampaignAnid\";i:49;s:44:\"firebaseEventParameterCampaignClickTimestamp\";i:50;s:37:\"firebaseEventParameterCampaignContent\";i:51;s:33:\"firebaseEventParameterCampaignCp1\";i:52;s:35:\"firebaseEventParameterCampaignGclid\";i:53;s:36:\"firebaseEventParameterCampaignSource\";i:54;s:34:\"firebaseEventParameterCampaignTerm\";i:55;s:30:\"firebaseEventParameterCurrency\";i:56;s:43:\"firebaseEventParameterDynamicLinkAcceptTime\";i:57;s:39:\"firebaseEventParameterDynamicLinkLinkid\";i:58;s:51:\"firebaseEventParameterNotificationMessageDeviceTime\";i:59;s:43:\"firebaseEventParameterNotificationMessageId\";i:60;s:45:\"firebaseEventParameterNotificationMessageName\";i:61;s:45:\"firebaseEventParameterNotificationMessageTime\";i:62;s:39:\"firebaseEventParameterNotificationTopic\";i:63;s:40:\"firebaseEventParameterPreviousAppVersion\";i:64;s:39:\"firebaseEventParameterPreviousOsVersion\";i:65;s:27:\"firebaseEventParameterPrice\";i:66;s:31:\"firebaseEventParameterProductId\";i:67;s:30:\"firebaseEventParameterQuantity\";i:68;s:27:\"firebaseEventParameterValue\";i:69;s:11:\"formClasses\";i:70;s:11:\"formElement\";i:71;s:6:\"formId\";i:72;s:10:\"formTarget\";i:73;s:8:\"formText\";i:74;s:7:\"formUrl\";i:75;s:13:\"historySource\";i:76;s:6:\"htmlId\";i:77;s:8:\"language\";i:78;s:18:\"newHistoryFragment\";i:79;s:15:\"newHistoryState\";i:80;s:18:\"oldHistoryFragment\";i:81;s:15:\"oldHistoryState\";i:82;s:9:\"osVersion\";i:83;s:12:\"pageHostname\";i:84;s:8:\"pagePath\";i:85;s:7:\"pageUrl\";i:86;s:8:\"platform\";i:87;s:12:\"randomNumber\";i:88;s:8:\"referrer\";i:89;s:10:\"resolution\";i:90;s:20:\"scrollDepthDirection\";i:91;s:20:\"scrollDepthThreshold\";i:92;s:16:\"scrollDepthUnits\";i:93;s:10:\"sdkVersion\";i:94;s:16:\"videoCurrentTime\";i:95;s:13:\"videoDuration\";i:96;s:12:\"videoPercent\";i:97;s:13:\"videoProvider\";i:98;s:11:\"videoStatus\";i:99;s:10:\"videoTitle\";i:100;s:8:\"videoUrl\";i:101;s:12:\"videoVisible\";}s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:11:\"fingerprint\";O:8:\"stdClass\":2:{s:11:\"description\";s:124:\"The
  fingerprint of the GTM Container as computed at storage time. This value is recomputed
  whenever the account is modified.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Container
  display name.\";s:4:\"type\";s:6:\"string\";}s:5:\"notes\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Container
  Notes.\";s:4:\"type\";s:6:\"string\";}s:8:\"publicId\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Container
  Public ID.\";s:4:\"type\";s:6:\"string\";}s:17:\"timeZoneCountryId\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Container
  Country ID.\";s:4:\"type\";s:6:\"string\";}s:10:\"timeZoneId\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Container
  Time Zone ID.\";s:4:\"type\";s:6:\"string\";}s:12:\"usageContext\";O:8:\"stdClass\":3:{s:11:\"description\";s:82:\"List
  of Usage Contexts for the Container. Valid values include: web, android, ios.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"enum\";a:6:{i:0;s:3:\"amp\";i:1;s:7:\"android\";i:2;s:11:\"androidSdk5\";i:3;s:3:\"ios\";i:4;s:7:\"iosSdk5\";i:5;s:3:\"web\";}s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:15:\"ContainerAccess\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"Defines
  the Google Tag Manager Container access permissions.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"containerId\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"GTM
  Container ID.\";s:4:\"type\";s:6:\"string\";}s:10:\"permission\";O:8:\"stdClass\":3:{s:11:\"description\";s:92:\"List
  of Container permissions. Valid container permissions are: read, edit, delete, publish.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"enum\";a:6:{i:0;s:6:\"delete\";i:1;s:4:\"edit\";i:2;s:13:\"editWorkspace\";i:3;s:6:\"manage\";i:4;s:7:\"publish\";i:5;s:4:\"read\";}s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:16:\"ContainerVersion\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Represents
  a Google Tag Manager Container Version.\";s:10:\"properties\";O:8:\"stdClass\":14:{s:9:\"accountId\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"GTM
  Account ID.\";s:4:\"type\";s:6:\"string\";}s:9:\"container\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Container\";s:11:\"description\";s:47:\"The
  container that this version was taken from.\";}s:11:\"containerId\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"GTM
  Container ID.\";s:4:\"type\";s:6:\"string\";}s:18:\"containerVersionId\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"The
  Container Version ID uniquely identifies the GTM Container Version.\";s:4:\"type\";s:6:\"string\";}s:7:\"deleted\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"A
  value of true indicates this container version has been deleted.\";s:4:\"type\";s:7:\"boolean\";}s:11:\"fingerprint\";O:8:\"stdClass\":2:{s:11:\"description\";s:142:\"The
  fingerprint of the GTM Container Version as computed at storage time. This value
  is recomputed whenever the container version is modified.\";s:4:\"type\";s:6:\"string\";}s:6:\"folder\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"The
  folders in the container that this version was taken from.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Folder\";}s:4:\"type\";s:5:\"array\";}s:5:\"macro\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"The
  macros in the container that this version was taken from.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Macro\";}s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Container
  version display name.\";s:4:\"type\";s:6:\"string\";}s:5:\"notes\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"User
  notes on how to apply this container version in the container.\";s:4:\"type\";s:6:\"string\";}s:4:\"rule\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"The
  rules in the container that this version was taken from.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Rule\";}s:4:\"type\";s:5:\"array\";}s:3:\"tag\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"The
  tags in the container that this version was taken from.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Tag\";}s:4:\"type\";s:5:\"array\";}s:7:\"trigger\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"The
  triggers in the container that this version was taken from.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Trigger\";}s:4:\"type\";s:5:\"array\";}s:8:\"variable\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"The
  variables in the container that this version was taken from.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Variable\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:22:\"ContainerVersionHeader\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"Represents
  a Google Tag Manager Container Version Header.\";s:10:\"properties\";O:8:\"stdClass\":10:{s:9:\"accountId\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"GTM
  Account ID.\";s:4:\"type\";s:6:\"string\";}s:11:\"containerId\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"GTM
  Container ID.\";s:4:\"type\";s:6:\"string\";}s:18:\"containerVersionId\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"The
  Container Version ID uniquely identifies the GTM Container Version.\";s:4:\"type\";s:6:\"string\";}s:7:\"deleted\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"A
  value of true indicates this container version has been deleted.\";s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Container
  version display name.\";s:4:\"type\";s:6:\"string\";}s:9:\"numMacros\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Number
  of macros in the container version.\";s:4:\"type\";s:6:\"string\";}s:8:\"numRules\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Number
  of rules in the container version.\";s:4:\"type\";s:6:\"string\";}s:7:\"numTags\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Number
  of tags in the container version.\";s:4:\"type\";s:6:\"string\";}s:11:\"numTriggers\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Number
  of triggers in the container version.\";s:4:\"type\";s:6:\"string\";}s:12:\"numVariables\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Number
  of variables in the container version.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:43:\"CreateContainerVersionRequestVersionOptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Options
  for new container versions.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"The
  name of the container version to be created.\";s:4:\"type\";s:6:\"string\";}s:5:\"notes\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"The
  notes of the container version to be created.\";s:4:\"type\";s:6:\"string\";}s:12:\"quickPreview\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"The
  creation of this version may be for quick preview and shouldn't be saved.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:30:\"CreateContainerVersionResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Create
  container versions response.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"compilerError\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Compiler
  errors or not.\";s:4:\"type\";s:7:\"boolean\";}s:16:\"containerVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ContainerVersion\";s:11:\"description\";s:30:\"The
  container version created.\";}}s:4:\"type\";s:6:\"object\";}s:11:\"Environment\";O:8:\"stdClass\":3:{s:11:\"description\";s:202:\"Represents
  a Google Tag Manager Environment. Note that a user can create, delete and update
  environments of type USER, but can only update the enable_debug and url fields of
  environments of other types.\";s:10:\"properties\";O:8:\"stdClass\":12:{s:9:\"accountId\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"GTM
  Account ID.\";s:4:\"type\";s:6:\"string\";}s:17:\"authorizationCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  environment authorization code.\";s:4:\"type\";s:6:\"string\";}s:24:\"authorizationTimestampMs\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"The
  last update time-stamp for the authorization code.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:11:\"containerId\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"GTM
  Container ID.\";s:4:\"type\";s:6:\"string\";}s:18:\"containerVersionId\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:82:\"The
  environment description. Can be set or changed only on USER type environments.\";s:4:\"type\";s:6:\"string\";}s:11:\"enableDebug\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"Whether
  or not to enable debug by default on for the environment.\";s:4:\"type\";s:7:\"boolean\";}s:13:\"environmentId\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"GTM
  Environment ID uniquely identifies the GTM Environment.\";s:4:\"type\";s:6:\"string\";}s:11:\"fingerprint\";O:8:\"stdClass\":2:{s:11:\"description\";s:130:\"The
  fingerprint of the GTM environment as computed at storage time. This value is recomputed
  whenever the environment is modified.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:83:\"The
  environment display name. Can be set or changed only on USER type environments.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  type of this environment.\";s:4:\"enum\";a:4:{i:0;s:5:\"draft\";i:1;s:6:\"latest\";i:2;s:4:\"live\";i:3;s:4:\"user\";}s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Default
  preview page url for the environment.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Folder\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Represents
  a Google Tag Manager Folder.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"accountId\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"GTM
  Account ID.\";s:4:\"type\";s:6:\"string\";}s:11:\"containerId\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"GTM
  Container ID.\";s:4:\"type\";s:6:\"string\";}s:11:\"fingerprint\";O:8:\"stdClass\":2:{s:11:\"description\";s:120:\"The
  fingerprint of the GTM Folder as computed at storage time. This value is recomputed
  whenever the folder is modified.\";s:4:\"type\";s:6:\"string\";}s:8:\"folderId\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"The
  Folder ID uniquely identifies the GTM Folder.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Folder
  display name.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"FolderEntities\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Represents
  a Google Tag Manager Folder's contents.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"tag\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  list of tags inside the folder.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Tag\";}s:4:\"type\";s:5:\"array\";}s:7:\"trigger\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  list of triggers inside the folder.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Trigger\";}s:4:\"type\";s:5:\"array\";}s:8:\"variable\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  list of variables inside the folder.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Variable\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:24:\"ListAccountUsersResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"List
  AccountUsers Response.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"userAccess\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"All
  GTM AccountUsers of a GTM Account.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/UserAccess\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:20:\"ListAccountsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"List
  Accounts Response.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"accounts\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"List
  of GTM Accounts that a user has access to.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Account\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:29:\"ListContainerVersionsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"List
  container versions response.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"containerVersion\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"All
  versions of a GTM Container.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ContainerVersion\";}s:4:\"type\";s:5:\"array\";}s:22:\"containerVersionHeader\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"All
  container version headers of a GTM Container.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/ContainerVersionHeader\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:22:\"ListContainersResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"List
  Containers Response.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"containers\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"All
  Containers of a GTM Account.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Container\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:24:\"ListEnvironmentsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"List
  Environments Response.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"environments\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"All
  Environments of a GTM Container.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Environment\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:19:\"ListFoldersResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"List
  Folders Response.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"folders\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"All
  GTM Folders of a GTM Container.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Folder\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:16:\"ListTagsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"List
  Tags Response.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"tags\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"All
  GTM Tags of a GTM Container.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Tag\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:20:\"ListTriggersResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"List
  triggers response.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"triggers\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"All
  GTM Triggers of a GTM Container.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Trigger\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:21:\"ListVariablesResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"List
  Variables Response.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"variables\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"All
  GTM Variables of a GTM Container.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Variable\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Macro\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Represents
  a Google Tag Manager Macro.\";s:10:\"properties\";O:8:\"stdClass\":13:{s:9:\"accountId\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"GTM
  Account ID.\";s:4:\"type\";s:6:\"string\";}s:11:\"containerId\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"GTM
  Container ID.\";s:4:\"type\";s:6:\"string\";}s:15:\"disablingRuleId\";O:8:\"stdClass\":3:{s:11:\"description\";s:208:\"For
  mobile containers only: A list of rule IDs for disabling conditional macros; the
  macro is enabled if one of the enabling rules is true while all the disabling rules
  are false. Treated as an unordered set.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:14:\"enablingRuleId\";O:8:\"stdClass\":3:{s:11:\"description\";s:207:\"For
  mobile containers only: A list of rule IDs for enabling conditional macros; the
  macro is enabled if one of the enabling rules is true while all the disabling rules
  are false. Treated as an unordered set.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:11:\"fingerprint\";O:8:\"stdClass\":2:{s:11:\"description\";s:118:\"The
  fingerprint of the GTM Macro as computed at storage time. This value is recomputed
  whenever the macro is modified.\";s:4:\"type\";s:6:\"string\";}s:7:\"macroId\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"The
  Macro ID uniquely identifies the GTM Macro.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Macro
  display name.\";s:4:\"type\";s:6:\"string\";}s:5:\"notes\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"User
  notes on how to apply this macro in the container.\";s:4:\"type\";s:6:\"string\";}s:9:\"parameter\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"The
  macro's parameters.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Parameter\";}s:4:\"type\";s:5:\"array\";}s:14:\"parentFolderId\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Parent
  folder id.\";s:4:\"type\";s:6:\"string\";}s:13:\"scheduleEndMs\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"The
  end timestamp in milliseconds to schedule a macro.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:15:\"scheduleStartMs\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"The
  start timestamp in milliseconds to schedule a macro.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"GTM
  Macro Type.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"Parameter\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Represents
  a Google Tag Manager Parameter.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:3:\"key\";O:8:\"stdClass\":2:{s:11:\"description\";s:134:\"The
  named key that uniquely identifies a parameter. Required for top-level parameters,
  as well as map values. Ignored for list values.\";s:4:\"type\";s:6:\"string\";}s:4:\"list\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"This
  list parameter's parameters (keys will be ignored).\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Parameter\";}s:4:\"type\";s:5:\"array\";}s:3:\"map\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"This
  map parameter's parameters (must have keys; keys must be unique).\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Parameter\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:430:\"The
  parameter type. Valid values are: \n- boolean: The value represents a boolean, represented
  as 'true' or 'false' \n- integer: The value represents a 64-bit signed integer value,
  in base 10 \n- list: A list of parameters should be specified \n- map: A map of
  parameters should be specified \n- template: The value represents any text; this
  can include variable references (even variable references that might return non-string
  types)\";s:4:\"enum\";a:5:{i:0;s:7:\"boolean\";i:1;s:7:\"integer\";i:2;s:4:\"list\";i:3;s:3:\"map\";i:4;s:8:\"template\";}s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:116:\"A
  parameter's value (may contain variable references such as \"{{myVariable}}\") as
  appropriate to the specified type.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:31:\"PublishContainerVersionResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Publish
  container version response.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"compilerError\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Compiler
  errors or not.\";s:4:\"type\";s:7:\"boolean\";}s:16:\"containerVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ContainerVersion\";s:11:\"description\";s:30:\"The
  container version created.\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Rule\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Represents
  a Google Tag Manager Rule.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:9:\"accountId\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"GTM
  Account ID.\";s:4:\"type\";s:6:\"string\";}s:9:\"condition\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"The
  list of conditions that make up this rule (implicit AND between them).\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Condition\";}s:4:\"type\";s:5:\"array\";}s:11:\"containerId\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"GTM
  Container ID.\";s:4:\"type\";s:6:\"string\";}s:11:\"fingerprint\";O:8:\"stdClass\":2:{s:11:\"description\";s:116:\"The
  fingerprint of the GTM Rule as computed at storage time. This value is recomputed
  whenever the rule is modified.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Rule
  display name.\";s:4:\"type\";s:6:\"string\";}s:5:\"notes\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"User
  notes on how to apply this rule in the container.\";s:4:\"type\";s:6:\"string\";}s:6:\"ruleId\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"The
  Rule ID uniquely identifies the GTM Rule.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"SetupTag\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:18:\"stopOnSetupFailure\";O:8:\"stdClass\":2:{s:11:\"description\";s:142:\"If
  true, fire the main tag if and only if the setup tag fires successfully. If false,
  fire the main tag regardless of setup tag firing status.\";s:4:\"type\";s:7:\"boolean\";}s:7:\"tagName\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  name of the setup tag.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:3:\"Tag\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Represents
  a Google Tag Manager Tag.\";s:10:\"properties\";O:8:\"stdClass\":21:{s:9:\"accountId\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"GTM
  Account ID.\";s:4:\"type\";s:6:\"string\";}s:14:\"blockingRuleId\";O:8:\"stdClass\":3:{s:11:\"description\";s:86:\"Blocking
  rule IDs. If any of the listed rules evaluate to true, the tag will not fire.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:17:\"blockingTriggerId\";O:8:\"stdClass\":3:{s:11:\"description\";s:92:\"Blocking
  trigger IDs. If any of the listed triggers evaluate to true, the tag will not fire.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:11:\"containerId\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"GTM
  Container ID.\";s:4:\"type\";s:6:\"string\";}s:11:\"fingerprint\";O:8:\"stdClass\":2:{s:11:\"description\";s:114:\"The
  fingerprint of the GTM Tag as computed at storage time. This value is recomputed
  whenever the tag is modified.\";s:4:\"type\";s:6:\"string\";}s:12:\"firingRuleId\";O:8:\"stdClass\":3:{s:11:\"description\";s:131:\"Firing
  rule IDs. A tag will fire when any of the listed rules are true and all of its blockingRuleIds
  (if any specified) are false.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:15:\"firingTriggerId\";O:8:\"stdClass\":3:{s:11:\"description\";s:140:\"Firing
  trigger IDs. A tag will fire when any of the listed triggers are true and all of
  its blockingTriggerIds (if any specified) are false.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:8:\"liveOnly\";O:8:\"stdClass\":2:{s:11:\"description\";s:100:\"If
  set to true, this tag will only fire in the live environment (e.g. not in preview
  or debug mode).\";s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Tag
  display name.\";s:4:\"type\";s:6:\"string\";}s:5:\"notes\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"User
  notes on how to apply this tag in the container.\";s:4:\"type\";s:6:\"string\";}s:9:\"parameter\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"The
  tag's parameters.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Parameter\";}s:4:\"type\";s:5:\"array\";}s:14:\"parentFolderId\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Parent
  folder id.\";s:4:\"type\";s:6:\"string\";}s:6:\"paused\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"True
  if the tag is paused.\";s:4:\"type\";s:7:\"boolean\";}s:8:\"priority\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Parameter\";s:11:\"description\";s:214:\"User
  defined numeric priority of the tag. Tags are fired asynchronously in order of priority.
  Tags with higher numeric value fire first. A tag's priority can be a positive or
  negative value. The default value is 0.\";}s:13:\"scheduleEndMs\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"The
  end timestamp in milliseconds to schedule a tag.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:15:\"scheduleStartMs\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"The
  start timestamp in milliseconds to schedule a tag.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:8:\"setupTag\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"The
  list of setup tags. Currently we only allow one.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/SetupTag\";}s:4:\"type\";s:5:\"array\";}s:15:\"tagFiringOption\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Option
  to fire this tag.\";s:4:\"enum\";a:3:{i:0;s:12:\"oncePerEvent\";i:1;s:11:\"oncePerLoad\";i:2;s:9:\"unlimited\";}s:4:\"type\";s:6:\"string\";}s:5:\"tagId\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  Tag ID uniquely identifies the GTM Tag.\";s:4:\"type\";s:6:\"string\";}s:11:\"teardownTag\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"The
  list of teardown tags. Currently we only allow one.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/TeardownTag\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"GTM
  Tag Type.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"TeardownTag\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:21:\"stopTeardownOnFailure\";O:8:\"stdClass\":2:{s:11:\"description\";s:148:\"If
  true, fire the teardown tag if and only if the main tag fires successfully. If false,
  fire the teardown tag regardless of main tag firing status.\";s:4:\"type\";s:7:\"boolean\";}s:7:\"tagName\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  name of the teardown tag.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Trigger\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Represents
  a Google Tag Manager Trigger\";s:10:\"properties\";O:8:\"stdClass\":28:{s:9:\"accountId\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"GTM
  Account ID.\";s:4:\"type\";s:6:\"string\";}s:15:\"autoEventFilter\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Used
  in the case of auto event tracking.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Condition\";}s:4:\"type\";s:5:\"array\";}s:15:\"checkValidation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Parameter\";s:11:\"description\";s:209:\"Whether
  or not we should only fire tags if the form submit or link click event is not cancelled
  by some other event handler (e.g. because of validation). Only valid for Form Submission
  and Link Click triggers.\";}s:11:\"containerId\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"GTM
  Container ID.\";s:4:\"type\";s:6:\"string\";}s:29:\"continuousTimeMinMilliseconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Parameter\";s:11:\"description\";s:110:\"A
  visibility trigger minimum continuous visible time (in milliseconds). Only valid
  for AMP Visibility trigger.\";}s:17:\"customEventFilter\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"Used
  in the case of custom event, which is fired iff all Conditions are true.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Condition\";}s:4:\"type\";s:5:\"array\";}s:9:\"eventName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Parameter\";s:11:\"description\";s:67:\"Name
  of the GTM event that is fired. Only valid for Timer triggers.\";}s:6:\"filter\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"The
  trigger will only fire iff all Conditions are true.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Condition\";}s:4:\"type\";s:5:\"array\";}s:11:\"fingerprint\";O:8:\"stdClass\":2:{s:11:\"description\";s:122:\"The
  fingerprint of the GTM Trigger as computed at storage time. This value is recomputed
  whenever the trigger is modified.\";s:4:\"type\";s:6:\"string\";}s:30:\"horizontalScrollPercentageList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Parameter\";s:11:\"description\";s:184:\"List
  of integer percentage values for scroll triggers. The trigger will fire when each
  percentage is reached when the view is scrolled horizontally. Only valid for AMP
  scroll triggers.\";}s:8:\"interval\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Parameter\";s:11:\"description\";s:96:\"Time
  between triggering recurring Timer Events (in milliseconds). Only valid for Timer
  triggers.\";}s:15:\"intervalSeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Parameter\";s:11:\"description\";s:81:\"Time
  between Timer Events to fire (in seconds). Only valid for AMP Timer trigger.\";}s:5:\"limit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Parameter\";s:11:\"description\";s:182:\"Limit
  of the number of GTM events this Timer Trigger will fire. If no limit is set, we
  will continue to fire GTM events until the user leaves the page. Only valid for
  Timer triggers.\";}s:21:\"maxTimerLengthSeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Parameter\";s:11:\"description\";s:77:\"Max
  time to fire Timer Events (in seconds). Only valid for AMP Timer trigger.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Trigger
  display name.\";s:4:\"type\";s:6:\"string\";}s:9:\"parameter\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Additional
  parameters.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Parameter\";}s:4:\"type\";s:5:\"array\";}s:14:\"parentFolderId\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Parent
  folder id.\";s:4:\"type\";s:6:\"string\";}s:8:\"selector\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Parameter\";s:11:\"description\";s:89:\"A
  click trigger CSS selector (i.e. \"a\", \"button\" etc.). Only valid for AMP Click
  trigger.\";}s:24:\"totalTimeMinMilliseconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Parameter\";s:11:\"description\";s:105:\"A
  visibility trigger minimum total visible time (in milliseconds). Only valid for
  AMP Visibility trigger.\";}s:9:\"triggerId\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"The
  Trigger ID uniquely identifies the GTM Trigger.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"Defines
  the data layer event that causes this trigger.\";s:4:\"enum\";a:18:{i:0;s:6:\"always\";i:1;s:8:\"ampClick\";i:2;s:9:\"ampScroll\";i:3;s:8:\"ampTimer\";i:4;s:13:\"ampVisibility\";i:5;s:5:\"click\";i:6;s:11:\"customEvent\";i:7;s:8:\"domReady\";i:8;s:17:\"elementVisibility\";i:9;s:14:\"formSubmission\";i:10;s:13:\"historyChange\";i:11;s:7:\"jsError\";i:12;s:9:\"linkClick\";i:13;s:8:\"pageview\";i:14;s:11:\"scrollDepth\";i:15;s:5:\"timer\";i:16;s:12:\"windowLoaded\";i:17;s:12:\"youTubeVideo\";}s:4:\"type\";s:6:\"string\";}s:15:\"uniqueTriggerId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Parameter\";s:11:\"description\";s:376:\"Globally
  unique id of the trigger that auto-generates this (a Form Submit, Link Click or
  Timer listener) if any. Used to make incompatible auto-events work together with
  trigger filtering based on trigger ids. This value is populated during output generation
  since the tags implied by triggers don't exist until then. Only valid for Form Submit,
  Link Click and Timer triggers.\";}s:28:\"verticalScrollPercentageList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Parameter\";s:11:\"description\";s:182:\"List
  of integer percentage values for scroll triggers. The trigger will fire when each
  percentage is reached when the view is scrolled vertically. Only valid for AMP scroll
  triggers.\";}s:18:\"visibilitySelector\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Parameter\";s:11:\"description\";s:86:\"A
  visibility trigger CSS selector (i.e. \"#id\"). Only valid for AMP Visibility trigger.\";}s:20:\"visiblePercentageMax\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Parameter\";s:11:\"description\";s:87:\"A
  visibility trigger maximum percent visibility. Only valid for AMP Visibility trigger.\";}s:20:\"visiblePercentageMin\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Parameter\";s:11:\"description\";s:87:\"A
  visibility trigger minimum percent visibility. Only valid for AMP Visibility trigger.\";}s:11:\"waitForTags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Parameter\";s:11:\"description\";s:232:\"Whether
  or not we should delay the form submissions or link opening until all of the tags
  have fired (by preventing the default action and later simulating the default action).
  Only valid for Form Submission and Link Click triggers.\";}s:18:\"waitForTagsTimeout\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Parameter\";s:11:\"description\";s:154:\"How
  long to wait (in milliseconds) for tags to fire when 'waits_for_tags' above evaluates
  to true. Only valid for Form Submission and Link Click triggers.\";}}s:4:\"type\";s:6:\"object\";}s:10:\"UserAccess\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"Represents
  a user's permissions to an account and its container.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:13:\"accountAccess\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/AccountAccess\";s:11:\"description\";s:31:\"GTM
  Account access permissions.\";}s:9:\"accountId\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"GTM
  Account ID.\";s:4:\"type\";s:6:\"string\";}s:15:\"containerAccess\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"GTM
  Container access permissions.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ContainerAccess\";}s:4:\"type\";s:5:\"array\";}s:12:\"emailAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"User's
  email address.\";s:4:\"type\";s:6:\"string\";}s:12:\"permissionId\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Account
  Permission ID.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Variable\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Represents
  a Google Tag Manager Variable.\";s:10:\"properties\";O:8:\"stdClass\":13:{s:9:\"accountId\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"GTM
  Account ID.\";s:4:\"type\";s:6:\"string\";}s:11:\"containerId\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"GTM
  Container ID.\";s:4:\"type\";s:6:\"string\";}s:18:\"disablingTriggerId\";O:8:\"stdClass\":3:{s:11:\"description\";s:221:\"For
  mobile containers only: A list of trigger IDs for disabling conditional variables;
  the variable is enabled if one of the enabling trigger is true while all the disabling
  trigger are false. Treated as an unordered set.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:17:\"enablingTriggerId\";O:8:\"stdClass\":3:{s:11:\"description\";s:222:\"For
  mobile containers only: A list of trigger IDs for enabling conditional variables;
  the variable is enabled if one of the enabling triggers is true while all the disabling
  triggers are false. Treated as an unordered set.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:11:\"fingerprint\";O:8:\"stdClass\":2:{s:11:\"description\";s:124:\"The
  fingerprint of the GTM Variable as computed at storage time. This value is recomputed
  whenever the variable is modified.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Variable
  display name.\";s:4:\"type\";s:6:\"string\";}s:5:\"notes\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"User
  notes on how to apply this variable in the container.\";s:4:\"type\";s:6:\"string\";}s:9:\"parameter\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"The
  variable's parameters.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Parameter\";}s:4:\"type\";s:5:\"array\";}s:14:\"parentFolderId\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Parent
  folder id.\";s:4:\"type\";s:6:\"string\";}s:13:\"scheduleEndMs\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"The
  end timestamp in milliseconds to schedule a variable.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:15:\"scheduleStartMs\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"The
  start timestamp in milliseconds to schedule a variable.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"GTM
  Variable Type.\";s:4:\"type\";s:6:\"string\";}s:10:\"variableId\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"The
  Variable ID uniquely identifies the GTM Variable.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
