---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Google\";s:3:\"url\";s:18:\"https://google.com\";}s:11:\"description\";s:49:\"The
  Publishing API for Google Play Game Services.\";s:5:\"title\";s:36:\"Google Play
  Game Services Publishing\";s:7:\"version\";s:15:\"v1configuration\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:37:\"https://console.developers.google.com\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:110:\"https://api.apis.guru/v2/cache/logo/https_www.gstatic.com_images_icons_material_product_2x_play_games_64dp.png\";}s:8:\"x-origin\";O:8:\"stdClass\":3:{s:6:\"format\";s:6:\"google\";s:3:\"url\";s:84:\"https://www.googleapis.com/discovery/v1/apis/gamesConfiguration/v1configuration/rest\";s:7:\"version\";s:2:\"v1\";}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"googleapis.com\";s:13:\"x-serviceName\";s:18:\"gamesConfiguration\";}"
host: www.googleapis.com
basePath: /games/v1configuration
paths:
  /achievements/{achievementId}:
    delete:
      description: Delete the achievement configuration with the given ID.
      operationId: gamesConfiguration.achievementConfigurations.delete
      parameters:
      - description: The ID of the achievement used by this method.
        in: path
        name: achievementId
        required: true
        type: string
      responses:
        200:
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/androidpublisher
      tags:
      - achievementConfigurations
    get:
      description: Retrieves the metadata of the achievement configuration with the
        given ID.
      operationId: gamesConfiguration.achievementConfigurations.get
      parameters:
      - description: The ID of the achievement used by this method.
        in: path
        name: achievementId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/AchievementConfiguration'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/androidpublisher
      tags:
      - achievementConfigurations
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    patch:
      description: Update the metadata of the achievement configuration with the given
        ID. This method supports patch semantics.
      operationId: gamesConfiguration.achievementConfigurations.patch
      parameters:
      - description: The ID of the achievement used by this method.
        in: path
        name: achievementId
        required: true
        type: string
      - in: body
        name: body
        schema:
          $ref: '#/definitions/AchievementConfiguration'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/AchievementConfiguration'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/androidpublisher
      tags:
      - achievementConfigurations
    put:
      description: Update the metadata of the achievement configuration with the given
        ID.
      operationId: gamesConfiguration.achievementConfigurations.update
      parameters:
      - description: The ID of the achievement used by this method.
        in: path
        name: achievementId
        required: true
        type: string
      - in: body
        name: body
        schema:
          $ref: '#/definitions/AchievementConfiguration'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/AchievementConfiguration'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/androidpublisher
      tags:
      - achievementConfigurations
  /applications/{applicationId}/achievements:
    get:
      description: Returns a list of the achievement configurations in this application.
      operationId: gamesConfiguration.achievementConfigurations.list
      parameters:
      - description: The application ID from the Google Play developer console.
        in: path
        name: applicationId
        required: true
        type: string
      - description: The maximum number of resource configurations to return in the
          response, used for paging. For any response, the actual number of resources
          returned may be less than the specified maxResults.
        in: query
        maximum: 200
        minimum: 1
        name: maxResults
        type: integer
      - description: The token returned by the previous request.
        in: query
        name: pageToken
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/AchievementConfigurationListResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/androidpublisher
      tags:
      - achievementConfigurations
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Insert a new achievement configuration in this application.
      operationId: gamesConfiguration.achievementConfigurations.insert
      parameters:
      - description: The application ID from the Google Play developer console.
        in: path
        name: applicationId
        required: true
        type: string
      - in: body
        name: body
        schema:
          $ref: '#/definitions/AchievementConfiguration'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/AchievementConfiguration'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/androidpublisher
      tags:
      - achievementConfigurations
  /applications/{applicationId}/leaderboards:
    get:
      description: Returns a list of the leaderboard configurations in this application.
      operationId: gamesConfiguration.leaderboardConfigurations.list
      parameters:
      - description: The application ID from the Google Play developer console.
        in: path
        name: applicationId
        required: true
        type: string
      - description: The maximum number of resource configurations to return in the
          response, used for paging. For any response, the actual number of resources
          returned may be less than the specified maxResults.
        in: query
        maximum: 200
        minimum: 1
        name: maxResults
        type: integer
      - description: The token returned by the previous request.
        in: query
        name: pageToken
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/LeaderboardConfigurationListResponse'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/androidpublisher
      tags:
      - leaderboardConfigurations
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      description: Insert a new leaderboard configuration in this application.
      operationId: gamesConfiguration.leaderboardConfigurations.insert
      parameters:
      - description: The application ID from the Google Play developer console.
        in: path
        name: applicationId
        required: true
        type: string
      - in: body
        name: body
        schema:
          $ref: '#/definitions/LeaderboardConfiguration'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/LeaderboardConfiguration'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/androidpublisher
      tags:
      - leaderboardConfigurations
  /images/{resourceId}/imageType/{imageType}:
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    post:
      consumes:
      - image/bmp
      - image/cgm
      - image/dicom-rle
      - image/emf
      - image/fits
      - image/g3fax
      - image/gif
      - image/ief
      - image/jls
      - image/jp2
      - image/jpeg
      - image/jpm
      - image/jpx
      - image/ktx
      - image/naplps
      - image/pjpeg
      - image/png
      - image/prs.btif
      - image/prs.pti
      - image/pwg-raster
      - image/sgi
      - image/svg+xml
      - image/t38
      - image/tiff
      - image/tiff-fx
      - image/vnd.adobe.photoshop
      - image/vnd.airzip.accelerator.azv
      - image/vnd.cns.inf2
      - image/vnd.dece.graphic
      - image/vnd.djvu
      - image/vnd.dvb.subtitle
      - image/vnd.dwg
      - image/vnd.dxf
      - image/vnd.fastbidsheet
      - image/vnd.fpx
      - image/vnd.fst
      - image/vnd.fujixerox.edmics-mmr
      - image/vnd.fujixerox.edmics-rlc
      - image/vnd.globalgraphics.pgb
      - image/vnd.microsoft.icon
      - image/vnd.mix
      - image/vnd.mozilla.apng
      - image/vnd.ms-modi
      - image/vnd.ms-photo
      - image/vnd.net-fpx
      - image/vnd.radiance
      - image/vnd.sealed.png
      - image/vnd.sealedmedia.softseal.gif
      - image/vnd.sealedmedia.softseal.jpg
      - image/vnd.svf
      - image/vnd.tencent.tap
      - image/vnd.valve.source.texture
      - image/vnd.wap.wbmp
      - image/vnd.xiff
      - image/vnd.zbrush.pcx
      - image/webp
      - image/wmf
      - image/x-3ds
      - image/x-cmu-raster
      - image/x-cmx
      - image/x-freehand
      - image/x-icon
      - image/x-jng
      - image/x-mrsid-image
      - image/x-ms-bmp
      - image/x-pcx
      - image/x-pict
      - image/x-portable-anymap
      - image/x-portable-bitmap
      - image/x-portable-graymap
      - image/x-portable-pixmap
      - image/x-rgb
      - image/x-tga
      - image/x-xbitmap
      - image/x-xcf
      - image/x-xpixmap
      - image/x-xwindowdump
      description: Uploads an image for a resource with the given ID and image type.
      operationId: gamesConfiguration.imageConfigurations.upload
      parameters:
      - description: The ID of the resource used by this method.
        in: path
        name: resourceId
        required: true
        type: string
      - description: Selects which image in a resource for this method.
        enum:
        - ACHIEVEMENT_ICON
        - LEADERBOARD_ICON
        in: path
        name: imageType
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/ImageConfiguration'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/androidpublisher
      tags:
      - imageConfigurations
  /leaderboards/{leaderboardId}:
    delete:
      description: Delete the leaderboard configuration with the given ID.
      operationId: gamesConfiguration.leaderboardConfigurations.delete
      parameters:
      - description: The ID of the leaderboard.
        in: path
        name: leaderboardId
        required: true
        type: string
      responses:
        200:
          description: Successful response
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/androidpublisher
      tags:
      - leaderboardConfigurations
    get:
      description: Retrieves the metadata of the leaderboard configuration with the
        given ID.
      operationId: gamesConfiguration.leaderboardConfigurations.get
      parameters:
      - description: The ID of the leaderboard.
        in: path
        name: leaderboardId
        required: true
        type: string
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/LeaderboardConfiguration'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/androidpublisher
      tags:
      - leaderboardConfigurations
    parameters:
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/userIp'
    patch:
      description: Update the metadata of the leaderboard configuration with the given
        ID. This method supports patch semantics.
      operationId: gamesConfiguration.leaderboardConfigurations.patch
      parameters:
      - description: The ID of the leaderboard.
        in: path
        name: leaderboardId
        required: true
        type: string
      - in: body
        name: body
        schema:
          $ref: '#/definitions/LeaderboardConfiguration'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/LeaderboardConfiguration'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/androidpublisher
      tags:
      - leaderboardConfigurations
    put:
      description: Update the metadata of the leaderboard configuration with the given
        ID.
      operationId: gamesConfiguration.leaderboardConfigurations.update
      parameters:
      - description: The ID of the leaderboard.
        in: path
        name: leaderboardId
        required: true
        type: string
      - in: body
        name: body
        schema:
          $ref: '#/definitions/LeaderboardConfiguration'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/LeaderboardConfiguration'
      security:
      - Oauth2:
        - https://www.googleapis.com/auth/androidpublisher
      tags:
      - leaderboardConfigurations
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":11:{s:24:\"AchievementConfiguration\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"This
  is a JSON template for an achievement configuration resource.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:15:\"achievementType\";O:8:\"stdClass\":2:{s:11:\"description\";s:155:\"The
  type of the achievement.\nPossible values are:  \n- \"STANDARD\" - Achievement is
  either locked or unlocked. \n- \"INCREMENTAL\" - Achievement is incremental.\";s:4:\"type\";s:6:\"string\";}s:5:\"draft\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/AchievementConfigurationDetail\";s:11:\"description\";s:34:\"The
  draft data of the achievement.\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  ID of the achievement.\";s:4:\"type\";s:6:\"string\";}s:12:\"initialState\";O:8:\"stdClass\":2:{s:11:\"description\";s:178:\"The
  initial state of the achievement.\nPossible values are:  \n- \"HIDDEN\" - Achievement
  is hidden. \n- \"REVEALED\" - Achievement is revealed. \n- \"UNLOCKED\" - Achievement
  is unlocked.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:43:\"gamesConfiguration#achievementConfiguration\";s:11:\"description\";s:124:\"Uniquely
  identifies the type of this resource. Value is always the fixed string gamesConfiguration#achievementConfiguration.\";s:4:\"type\";s:6:\"string\";}s:9:\"published\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/AchievementConfigurationDetail\";s:11:\"description\";s:48:\"The
  read-only published data of the achievement.\";}s:13:\"stepsToUnlock\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"Steps
  to unlock. Only applicable to incremental achievements.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:5:\"token\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  token for this resource.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:30:\"AchievementConfigurationDetail\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"This
  is a JSON template for an achievement configuration detail.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/LocalizedStringBundle\";s:11:\"description\";s:50:\"Localized
  strings for the achievement description.\";}s:7:\"iconUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"The
  icon url of this achievement. Writes to this field are ignored.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:49:\"gamesConfiguration#achievementConfigurationDetail\";s:11:\"description\";s:130:\"Uniquely
  identifies the type of this resource. Value is always the fixed string gamesConfiguration#achievementConfigurationDetail.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/LocalizedStringBundle\";s:11:\"description\";s:43:\"Localized
  strings for the achievement name.\";}s:10:\"pointValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Point
  value for the achievement.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"sortRank\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"The
  sort rank of this achievement. Writes to this field are ignored.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:36:\"AchievementConfigurationListResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"This
  is a JSON template for a ListConfigurations response.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  achievement configurations.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/AchievementConfiguration\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:55:\"gamesConfiguration#achievementConfigurationListResponse\";s:11:\"description\";s:123:\"Uniquely
  identifies the type of this resource. Value is always the fixed string games#achievementConfigurationListResponse.\";s:4:\"type\";s:6:\"string\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"The
  pagination token for the next page of results.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:29:\"GamesNumberAffixConfiguration\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"This
  is a JSON template for a number affix resource.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:3:\"few\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/LocalizedStringBundle\";s:11:\"description\";s:157:\"When
  the language requires special treatment of \"small\" numbers (as with 2, 3, and
  4 in Czech; or numbers ending 2, 3, or 4 but not 12, 13, or 14 in Polish).\";}s:4:\"many\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/LocalizedStringBundle\";s:11:\"description\";s:106:\"When
  the language requires special treatment of \"large\" numbers (as with numbers ending
  11-99 in Maltese).\";}s:3:\"one\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/LocalizedStringBundle\";s:11:\"description\";s:198:\"When
  the language requires special treatment of numbers like one (as with the number
  1 in English and most other languages; in Russian, any number ending in 1 but not
  ending in 11 is in this class).\";}s:5:\"other\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/LocalizedStringBundle\";s:11:\"description\";s:126:\"When
  the language does not require special treatment of the given quantity (as with all
  numbers in Chinese, or 42 in English).\";}s:3:\"two\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/LocalizedStringBundle\";s:11:\"description\";s:107:\"When
  the language requires special treatment of numbers like two (as with 2 in Welsh,
  or 102 in Slovenian).\";}s:4:\"zero\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/LocalizedStringBundle\";s:11:\"description\";s:76:\"When
  the language requires special treatment of the number 0 (as in Arabic).\";}}s:4:\"type\";s:6:\"object\";}s:30:\"GamesNumberFormatConfiguration\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"This
  is a JSON template for a number format resource.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"currencyCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"The
  curreny code string. Only used for CURRENCY format type.\";s:4:\"type\";s:6:\"string\";}s:16:\"numDecimalPlaces\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"The
  number of decimal places for number. Only used for NUMERIC format type.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:16:\"numberFormatType\";O:8:\"stdClass\":2:{s:11:\"description\";s:361:\"The
  formatting for the number.\nPossible values are:  \n- \"NUMERIC\" - Numbers are
  formatted to have no digits or a fixed number of digits after the decimal point
  according to locale. An optional custom unit can be added.\n- \"TIME_DURATION\"
  - Numbers are formatted to hours, minutes and seconds.\n- \"CURRENCY\" - Numbers
  are formatted to currency according to locale.\";s:4:\"type\";s:6:\"string\";}s:6:\"suffix\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:43:\"#/definitions/GamesNumberAffixConfiguration\";s:11:\"description\";s:124:\"An
  optional suffix for the NUMERIC format type. These strings follow the same  plural
  rules as all Android string resources.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"ImageConfiguration\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"This
  is a JSON template for an image configuration resource.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"imageType\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  image type for the image.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:37:\"gamesConfiguration#imageConfiguration\";s:11:\"description\";s:118:\"Uniquely
  identifies the type of this resource. Value is always the fixed string gamesConfiguration#imageConfiguration.\";s:4:\"type\";s:6:\"string\";}s:10:\"resourceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"The
  resource ID of resource which the image belongs to.\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  url for this image.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:24:\"LeaderboardConfiguration\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"This
  is a JSON template for an leaderboard configuration resource.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:5:\"draft\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/LeaderboardConfigurationDetail\";s:11:\"description\";s:34:\"The
  draft data of the leaderboard.\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  ID of the leaderboard.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:43:\"gamesConfiguration#leaderboardConfiguration\";s:11:\"description\";s:124:\"Uniquely
  identifies the type of this resource. Value is always the fixed string gamesConfiguration#leaderboardConfiguration.\";s:4:\"type\";s:6:\"string\";}s:9:\"published\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/LeaderboardConfigurationDetail\";s:11:\"description\";s:48:\"The
  read-only published data of the leaderboard.\";}s:8:\"scoreMax\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Maximum
  score that can be posted to this leaderboard.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:8:\"scoreMin\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Minimum
  score that can be posted to this leaderboard.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:10:\"scoreOrder\";O:8:\"stdClass\":2:{s:11:\"description\";s:180:\"The
  type of the leaderboard.\nPossible values are:  \n- \"LARGER_IS_BETTER\" - Larger
  scores posted are ranked higher. \n- \"SMALLER_IS_BETTER\" - Smaller scores posted
  are ranked higher.\";s:4:\"type\";s:6:\"string\";}s:5:\"token\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  token for this resource.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:30:\"LeaderboardConfigurationDetail\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"This
  is a JSON template for a leaderboard configuration detail.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"iconUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"The
  icon url of this leaderboard. Writes to this field are ignored.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:49:\"gamesConfiguration#leaderboardConfigurationDetail\";s:11:\"description\";s:130:\"Uniquely
  identifies the type of this resource. Value is always the fixed string gamesConfiguration#leaderboardConfigurationDetail.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/LocalizedStringBundle\";s:11:\"description\";s:43:\"Localized
  strings for the leaderboard name.\";}s:11:\"scoreFormat\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/GamesNumberFormatConfiguration\";s:11:\"description\";s:41:\"The
  score formatting for the leaderboard.\";}s:8:\"sortRank\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"The
  sort rank of this leaderboard. Writes to this field are ignored.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:36:\"LeaderboardConfigurationListResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"This
  is a JSON template for a ListConfigurations response.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  leaderboard configurations.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/LeaderboardConfiguration\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:55:\"gamesConfiguration#leaderboardConfigurationListResponse\";s:11:\"description\";s:123:\"Uniquely
  identifies the type of this resource. Value is always the fixed string games#leaderboardConfigurationListResponse.\";s:4:\"type\";s:6:\"string\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"The
  pagination token for the next page of results.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"LocalizedString\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"This
  is a JSON template for a localized string resource.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:34:\"gamesConfiguration#localizedString\";s:11:\"description\";s:115:\"Uniquely
  identifies the type of this resource. Value is always the fixed string gamesConfiguration#localizedString.\";s:4:\"type\";s:6:\"string\";}s:6:\"locale\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"The
  locale string.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"The
  string value.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"LocalizedStringBundle\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"This
  is a JSON template for a localized string bundle resource.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:40:\"gamesConfiguration#localizedStringBundle\";s:11:\"description\";s:121:\"Uniquely
  identifies the type of this resource. Value is always the fixed string gamesConfiguration#localizedStringBundle.\";s:4:\"type\";s:6:\"string\";}s:12:\"translations\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"The
  locale strings.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/LocalizedString\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}}"
...
