---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":12:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Google\";s:3:\"url\";s:18:\"https://google.com\";}s:11:\"description\";s:70:\"Lets
  Android application developers access their Google Play accounts.\";s:5:\"title\";s:21:\"Google
  Play Developer\";s:7:\"version\";s:2:\"v2\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:37:\"https://console.developers.google.com\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:15:\"developer_tools\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:100:\"https://api.apis.guru/v2/cache/logo/https_www.gstatic.com_android_market_images_web_play_logo_x2.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.6.2\";}s:6:\"format\";s:6:\"google\";s:3:\"url\";s:69:\"https://www.googleapis.com/discovery/v1/apis/androidpublisher/v2/rest\";s:7:\"version\";s:2:\"v1\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"googleapis.com\";s:13:\"x-serviceName\";s:16:\"androidpublisher\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:23:\"google_androidpublisher\";s:4:\"type\";s:7:\"openapi\";}}"
host: www.googleapis.com
basePath: /androidpublisher/v2/applications
paths: ~
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":53:{s:3:\"Apk\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"binary\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/ApkBinary\";s:11:\"description\";s:49:\"Information
  about the binary payload of this APK.\";}s:11:\"versionCode\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"The
  version code of the APK, as specified in the APK's manifest file.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:9:\"ApkBinary\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Represents
  the binary payload of an APK.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"sha1\";O:8:\"stdClass\":2:{s:11:\"description\";s:103:\"A
  sha1 hash of the APK payload, encoded as a hex string and matching the output of
  the sha1sum command.\";s:4:\"type\";s:6:\"string\";}s:6:\"sha256\";O:8:\"stdClass\":2:{s:11:\"description\";s:107:\"A
  sha256 hash of the APK payload, encoded as a hex string and matching the output
  of the sha256sum command.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"ApkListing\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"language\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"The
  language code, in BCP 47 format (eg \"en-US\").\";s:4:\"type\";s:6:\"string\";}s:13:\"recentChanges\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Describe
  what's new in your APK.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:23:\"ApkListingsListResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:40:\"androidpublisher#apkListingsListResponse\";s:11:\"description\";s:109:\"Identifies
  what kind of resource this is. Value: the fixed string \"androidpublisher#apkListingsListResponse\".\";s:4:\"type\";s:6:\"string\";}s:8:\"listings\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/ApkListing\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:30:\"ApksAddExternallyHostedRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:19:\"externallyHostedApk\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/ExternallyHostedApk\";s:11:\"description\";s:68:\"The
  definition of the externally-hosted APK and where it is located.\";}}s:4:\"type\";s:6:\"object\";}s:31:\"ApksAddExternallyHostedResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:19:\"externallyHostedApk\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/ExternallyHostedApk\";s:11:\"description\";s:68:\"The
  definition of the externally-hosted APK and where it is located.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"ApksListResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"apks\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Apk\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:33:\"androidpublisher#apksListResponse\";s:11:\"description\";s:102:\"Identifies
  what kind of resource this is. Value: the fixed string \"androidpublisher#apksListResponse\".\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"AppDetails\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"contactEmail\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"The
  user-visible support email for this app.\";s:4:\"type\";s:6:\"string\";}s:12:\"contactPhone\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"The
  user-visible support telephone number for this app.\";s:4:\"type\";s:6:\"string\";}s:14:\"contactWebsite\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  user-visible website for this app.\";s:4:\"type\";s:6:\"string\";}s:15:\"defaultLanguage\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Default
  language code, in BCP 47 format (eg \"en-US\").\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"AppEdit\";O:8:\"stdClass\":3:{s:11:\"description\";s:118:\"Represents
  an edit of an app. An edit allows clients to make multiple changes before committing
  them in one operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"expiryTimeSeconds\";O:8:\"stdClass\":2:{s:11:\"description\";s:140:\"The
  time at which the edit will expire and will be no longer valid for use in any subsequent
  API calls (encoded as seconds since the Epoch).\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"The
  ID of the edit that can be used in subsequent API calls.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Bundle\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"sha1\";O:8:\"stdClass\":2:{s:11:\"description\";s:106:\"A
  sha1 hash of the upload payload, encoded as a hex string and matching the output
  of the sha1sum command.\";s:4:\"type\";s:6:\"string\";}s:6:\"sha256\";O:8:\"stdClass\":2:{s:11:\"description\";s:110:\"A
  sha256 hash of the upload payload, encoded as a hex string and matching the output
  of the sha256sum command.\";s:4:\"type\";s:6:\"string\";}s:11:\"versionCode\";O:8:\"stdClass\":3:{s:11:\"description\";s:115:\"The
  version code of the Android App Bundle. As specified in the Android App Bundle's
  base module APK manifest file.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:19:\"BundlesListResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"bundles\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Bundle\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:36:\"androidpublisher#bundlesListResponse\";s:11:\"description\";s:105:\"Identifies
  what kind of resource this is. Value: the fixed string \"androidpublisher#bundlesListResponse\".\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Comment\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"developerComment\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/DeveloperComment\";s:11:\"description\";s:27:\"A
  comment from a developer.\";}s:11:\"userComment\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/UserComment\";s:11:\"description\";s:22:\"A
  comment from a user.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"DeobfuscationFile\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Represents
  a deobfuscation file.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"symbolType\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  type of the deobfuscation file.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:32:\"DeobfuscationFilesUploadResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"deobfuscationFile\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/DeobfuscationFile\";}}s:4:\"type\";s:6:\"object\";}s:16:\"DeveloperComment\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"lastModified\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:48:\"The
  last time at which this comment was updated.\";}s:4:\"text\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"The
  content of the comment, i.e. reply body.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"DeviceMetadata\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":11:{s:7:\"cpuMake\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Device
  CPU make e.g. \"Qualcomm\"\";s:4:\"type\";s:6:\"string\";}s:8:\"cpuModel\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Device
  CPU model e.g. \"MSM8974\"\";s:4:\"type\";s:6:\"string\";}s:11:\"deviceClass\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Device
  class (e.g. tablet)\";s:4:\"type\";s:6:\"string\";}s:11:\"glEsVersion\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"OpenGL
  version\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"manufacturer\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Device
  manufacturer (e.g. Motorola)\";s:4:\"type\";s:6:\"string\";}s:14:\"nativePlatform\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"Comma
  separated list of native platforms (e.g. \"arm\", \"arm7\")\";s:4:\"type\";s:6:\"string\";}s:11:\"productName\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Device
  model name (e.g. Droid)\";s:4:\"type\";s:6:\"string\";}s:5:\"ramMb\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Device
  RAM in Megabytes e.g. \"2048\"\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:16:\"screenDensityDpi\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Screen
  density in DPI\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:14:\"screenHeightPx\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Screen
  height in pixels\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:13:\"screenWidthPx\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Screen
  width in pixels\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:13:\"ExpansionFile\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"fileSize\";O:8:\"stdClass\":3:{s:11:\"description\";s:208:\"If
  set this field indicates that this APK has an Expansion File uploaded to it: this
  APK does not reference another APK's Expansion File. The field's value is the size
  of the uploaded Expansion File in bytes.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:17:\"referencesVersion\";O:8:\"stdClass\":3:{s:11:\"description\";s:110:\"If
  set this APK's Expansion File references another APK's Expansion File. The file_size
  field will not be set.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:28:\"ExpansionFilesUploadResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"expansionFile\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ExpansionFile\";}}s:4:\"type\";s:6:\"object\";}s:19:\"ExternallyHostedApk\";O:8:\"stdClass\":3:{s:11:\"description\";s:256:\"Defines
  an APK available for this application that is hosted externally and not uploaded
  to Google Play. This function is only available to enterprises who are using Google
  Play for Work, and whos application is restricted to the enterprise private channel\";s:10:\"properties\";O:8:\"stdClass\":15:{s:16:\"applicationLabel\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  application label.\";s:4:\"type\";s:6:\"string\";}s:18:\"certificateBase64s\";O:8:\"stdClass\":3:{s:11:\"description\";s:140:\"A
  certificate (or array of certificates if a certificate-chain is used) used to signed
  this APK, represented as a base64 encoded byte array.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:19:\"externallyHostedUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"The
  URL at which the APK is hosted. This must be an https URL.\";s:4:\"type\";s:6:\"string\";}s:14:\"fileSha1Base64\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"The
  SHA1 checksum of this APK, represented as a base64 encoded byte array.\";s:4:\"type\";s:6:\"string\";}s:16:\"fileSha256Base64\";O:8:\"stdClass\":2:{s:11:\"description\";s:76:\"The
  SHA256 checksum of this APK, represented as a base64 encoded byte array.\";s:4:\"type\";s:6:\"string\";}s:8:\"fileSize\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  file size in bytes of this APK.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:10:\"iconBase64\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"The
  icon image from the APK, as a base64 encoded byte array.\";s:4:\"type\";s:6:\"string\";}s:10:\"maximumSdk\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  maximum SDK supported by this APK (optional).\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"minimumSdk\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"The
  minimum SDK targeted by this APK.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"nativeCodes\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"The
  native code environments supported by this APK (optional).\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:11:\"packageName\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"The
  package name.\";s:4:\"type\";s:6:\"string\";}s:12:\"usesFeatures\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"The
  features required by this APK (optional).\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:15:\"usesPermissions\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  permissions requested by this APK.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:47:\"#/definitions/ExternallyHostedApkUsesPermission\";}s:4:\"type\";s:5:\"array\";}s:11:\"versionCode\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  version code of this APK.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"versionName\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  version name of this APK.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:33:\"ExternallyHostedApkUsesPermission\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"A
  permission used by this APK.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"maxSdkVersion\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"Optionally,
  the maximum SDK version for which the permission is required.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  name of the permission requested.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Image\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"A
  unique id representing this image.\";s:4:\"type\";s:6:\"string\";}s:4:\"sha1\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"A
  sha1 hash of the image that was uploaded.\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"A
  URL that will serve a preview of the image.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:23:\"ImagesDeleteAllResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"deleted\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Image\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:18:\"ImagesListResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"images\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Image\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:20:\"ImagesUploadResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"image\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Image\";}}s:4:\"type\";s:6:\"object\";}s:12:\"InAppProduct\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":11:{s:15:\"defaultLanguage\";O:8:\"stdClass\":2:{s:11:\"description\";s:88:\"The
  default language of the localized data, as defined by BCP 47. e.g. \"en-US\", \"en-GB\".\";s:4:\"type\";s:6:\"string\";}s:12:\"defaultPrice\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Price\";s:11:\"description\";s:135:\"Default
  price cannot be zero. In-app products can never be free. Default price is always
  in the developer's Checkout merchant currency.\";}s:8:\"listings\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/InAppProductListing\";s:11:\"description\";s:81:\"The
  language of the localized data, as defined by BCP 47. i.e.: \"en-US\", \"en-GB\".\";}s:11:\"description\";s:45:\"List
  of localized title and description data.\";s:4:\"type\";s:6:\"object\";}s:11:\"packageName\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  package name of the parent app.\";s:4:\"type\";s:6:\"string\";}s:6:\"prices\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Price\";s:11:\"description\";s:38:\"Region
  code, as defined by ISO 3166-2.\";}s:11:\"description\";s:96:\"Prices per buyer
  region. None of these prices should be zero. In-app products can never be free.\";s:4:\"type\";s:6:\"object\";}s:12:\"purchaseType\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Purchase
  type enum value. Unmodifiable after creation.\";s:4:\"type\";s:6:\"string\";}s:6:\"season\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Season\";s:11:\"description\";s:97:\"Definition
  of a season for a seasonal subscription. Can be defined only for yearly subscriptions.\";}s:3:\"sku\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"The
  stock-keeping-unit (SKU) of the product, unique within an app.\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"subscriptionPeriod\";O:8:\"stdClass\":2:{s:11:\"description\";s:173:\"Subscription
  period, specified in ISO 8601 format. Acceptable values are \"P1W\" (one week),
  \"P1M\" (one month), \"P3M\" (three months), \"P6M\" (six months), and \"P1Y\" (one
  year).\";s:4:\"type\";s:6:\"string\";}s:11:\"trialPeriod\";O:8:\"stdClass\":2:{s:11:\"description\";s:176:\"Trial
  period, specified in ISO 8601 format. Acceptable values are anything between \"P7D\"
  (seven days) and \"P999D\" (999 days). Seasonal subscriptions cannot have a trial
  period.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"InAppProductListing\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:25:\"InappproductsListResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"inappproduct\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/InAppProduct\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:42:\"androidpublisher#inappproductsListResponse\";s:11:\"description\";s:111:\"Identifies
  what kind of resource this is. Value: the fixed string \"androidpublisher#inappproductsListResponse\".\";s:4:\"type\";s:6:\"string\";}s:8:\"pageInfo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/PageInfo\";}s:15:\"tokenPagination\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/TokenPagination\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Listing\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:15:\"fullDescription\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"Full
  description of the app; this may be up to 4000 characters in length.\";s:4:\"type\";s:6:\"string\";}s:8:\"language\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"Language
  localization code (for example, \"de-AT\" for Austrian German).\";s:4:\"type\";s:6:\"string\";}s:16:\"shortDescription\";O:8:\"stdClass\":2:{s:11:\"description\";s:105:\"Short
  description of the app (previously known as promo text); this may be up to 80 characters
  in length.\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"App's
  localized title.\";s:4:\"type\";s:6:\"string\";}s:5:\"video\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"URL
  of a promotional YouTube video for the app.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"ListingsListResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:37:\"androidpublisher#listingsListResponse\";s:11:\"description\";s:106:\"Identifies
  what kind of resource this is. Value: the fixed string \"androidpublisher#listingsListResponse\".\";s:4:\"type\";s:6:\"string\";}s:8:\"listings\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Listing\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:8:\"MonthDay\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"day\";O:8:\"stdClass\":3:{s:11:\"description\";s:83:\"Day
  of a month, value in [1, 31] range. Valid range depends on the specified month.\";s:6:\"format\";s:6:\"uint32\";s:4:\"type\";s:7:\"integer\";}s:5:\"month\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Month
  of a year. e.g. 1 = JAN, 2 = FEB etc.\";s:6:\"format\";s:6:\"uint32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:8:\"PageInfo\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"resultPerPage\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"startIndex\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"totalResults\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Price\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"currency\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"3
  letter Currency code, as defined by ISO 4217.\";s:4:\"type\";s:6:\"string\";}s:11:\"priceMicros\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"The
  price in millionths of the currency base unit represented as a string.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"ProductPurchase\";O:8:\"stdClass\":3:{s:11:\"description\";s:83:\"A
  ProductPurchase resource indicates the status of a user's inapp product purchase.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:16:\"consumptionState\";O:8:\"stdClass\":3:{s:11:\"description\";s:99:\"The
  consumption state of the inapp product. Possible values are:  \n- Yet to be consumed
  \n- Consumed\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:16:\"developerPayload\";O:8:\"stdClass\":2:{s:11:\"description\";s:83:\"A
  developer-specified string that contains supplemental information about an order.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:32:\"androidpublisher#productPurchase\";s:11:\"description\";s:77:\"This
  kind represents an inappPurchase object in the androidpublisher service.\";s:4:\"type\";s:6:\"string\";}s:7:\"orderId\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"The
  order id associated with the purchase of the inapp product.\";s:4:\"type\";s:6:\"string\";}s:13:\"purchaseState\";O:8:\"stdClass\":3:{s:11:\"description\";s:79:\"The
  purchase state of the order. Possible values are:  \n- Purchased \n- Canceled\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:18:\"purchaseTimeMillis\";O:8:\"stdClass\":3:{s:11:\"description\";s:82:\"The
  time the product was purchased, in milliseconds since the epoch (Jan 1, 1970).\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:12:\"purchaseType\";O:8:\"stdClass\":3:{s:11:\"description\";s:258:\"The
  type of purchase of the inapp product. This field is only set if this purchase was
  not made using the standard in-app billing flow. Possible values are:  \n- Test
  (i.e. purchased from a license testing account) \n- Promo (i.e. purchased using
  a promo code)\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Prorate\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"defaultPrice\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Price\";s:11:\"description\";s:233:\"Default
  price cannot be zero and must be less than the full subscription price. Default
  price is always in the developer's Checkout merchant currency. Targeted countries
  have their prices set automatically based on the default_price.\";}s:5:\"start\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/MonthDay\";s:11:\"description\";s:54:\"Defines
  the first day on which the price takes effect.\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Review\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"authorName\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"The
  name of the user who wrote the review.\";s:4:\"type\";s:6:\"string\";}s:8:\"comments\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"A
  repeated field containing comments for the review.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Comment\";}s:4:\"type\";s:5:\"array\";}s:8:\"reviewId\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Unique
  identifier for this review.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"ReviewReplyResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"lastEdited\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:40:\"The
  time at which the reply took effect.\";}s:9:\"replyText\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  reply text that was applied.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"ReviewsListResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"pageInfo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/PageInfo\";}s:7:\"reviews\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Review\";}s:4:\"type\";s:5:\"array\";}s:15:\"tokenPagination\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/TokenPagination\";}}s:4:\"type\";s:6:\"object\";}s:19:\"ReviewsReplyRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"replyText\";O:8:\"stdClass\":2:{s:11:\"description\";s:125:\"The
  text to set as the reply. Replies of more than approximately 350 characters will
  be rejected. HTML tags will be stripped.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"ReviewsReplyResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"result\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ReviewReplyResult\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Season\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"end\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/MonthDay\";s:11:\"description\";s:44:\"Inclusive
  end date of the recurrence period.\";}s:10:\"prorations\";O:8:\"stdClass\":3:{s:11:\"description\";s:226:\"Optionally
  present list of prorations for the season. Each proration is a one-off discounted
  entry into a subscription. Each proration contains the first date on which the discount
  is available and the new pricing information.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Prorate\";}s:4:\"type\";s:5:\"array\";}s:5:\"start\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/MonthDay\";s:11:\"description\";s:46:\"Inclusive
  start date of the recurrence period.\";}}s:4:\"type\";s:6:\"object\";}s:30:\"SubscriptionCancelSurveyResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:116:\"Information
  provided by the user when they complete the subscription cancellation flow (cancellation
  reason survey).\";s:10:\"properties\";O:8:\"stdClass\":2:{s:18:\"cancelSurveyReason\";O:8:\"stdClass\":3:{s:11:\"description\";s:187:\"The
  cancellation reason the user chose in the survey. Possible values are:  \n- Other
  \n- I don't use this service enough \n- Technical issues \n- Cost-related reasons
  \n- I found a better app\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:21:\"userInputCancelReason\";O:8:\"stdClass\":2:{s:11:\"description\";s:86:\"The
  customized input cancel reason from the user. Only present when cancelReason is
  0.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:24:\"SubscriptionDeferralInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:109:\"A
  SubscriptionDeferralInfo contains the data needed to defer a subscription purchase
  to a future expiry time.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:23:\"desiredExpiryTimeMillis\";O:8:\"stdClass\":3:{s:11:\"description\";s:180:\"The
  desired next expiry time to assign to the subscription, in milliseconds since the
  Epoch. The given time must be later/greater than the current expiry time for the
  subscription.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:24:\"expectedExpiryTimeMillis\";O:8:\"stdClass\":3:{s:11:\"description\";s:156:\"The
  expected expiry time for the subscription. If the current expiry time for the subscription
  is not the value specified here, the deferral will not occur.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"SubscriptionPurchase\";O:8:\"stdClass\":3:{s:11:\"description\";s:87:\"A
  SubscriptionPurchase resource indicates the status of a user's subscription purchase.\";s:10:\"properties\";O:8:\"stdClass\":20:{s:12:\"autoRenewing\";O:8:\"stdClass\":2:{s:11:\"description\";s:95:\"Whether
  the subscription will automatically be renewed when it reaches its current expiry
  time.\";s:4:\"type\";s:7:\"boolean\";}s:12:\"cancelReason\";O:8:\"stdClass\":3:{s:11:\"description\";s:307:\"The
  reason why a subscription was canceled or is not auto-renewing. Possible values
  are:  \n- User canceled the subscription \n- Subscription was canceled by the system,
  for example because of a billing problem \n- Subscription was replaced with a new
  subscription \n- Subscription was canceled by the developer\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:18:\"cancelSurveyResult\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/SubscriptionCancelSurveyResult\";s:11:\"description\";s:116:\"Information
  provided by the user when they complete the subscription cancellation flow (cancellation
  reason survey).\";}s:11:\"countryCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:100:\"ISO
  3166-1 alpha-2 billing country/region code of the user at the time the subscription
  was granted.\";s:4:\"type\";s:6:\"string\";}s:16:\"developerPayload\";O:8:\"stdClass\":2:{s:11:\"description\";s:83:\"A
  developer-specified string that contains supplemental information about an order.\";s:4:\"type\";s:6:\"string\";}s:12:\"emailAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:128:\"The
  email address of the user when the subscription was purchased. Only present for
  purchases made with 'Subscribe with Google'.\";s:4:\"type\";s:6:\"string\";}s:16:\"expiryTimeMillis\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"Time
  at which the subscription will expire, in milliseconds since the Epoch.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:10:\"familyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:126:\"The
  family name of the user when the subscription was purchased. Only present for purchases
  made with 'Subscribe with Google'.\";s:4:\"type\";s:6:\"string\";}s:9:\"givenName\";O:8:\"stdClass\":2:{s:11:\"description\";s:125:\"The
  given name of the user when the subscription was purchased. Only present for purchases
  made with 'Subscribe with Google'.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:37:\"androidpublisher#subscriptionPurchase\";s:11:\"description\";s:83:\"This
  kind represents a subscriptionPurchase object in the androidpublisher service.\";s:4:\"type\";s:6:\"string\";}s:19:\"linkedPurchaseToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:708:\"The
  purchase token of the originating purchase if this subscription is one of the following:
  \ \n- Re-signup of a canceled but non-lapsed subscription \n- Upgrade/downgrade
  from a previous subscription  For example, suppose a user originally signs up and
  you receive purchase token X, then the user cancels and goes through the resignup
  flow (before their subscription lapses) and you receive purchase token Y, and finally
  the user upgrades their subscription and you receive purchase token Z. If you call
  this API with purchase token Z, this field will be set to Y. If you call this API
  with purchase token Y, this field will be set to X. If you call this API with purchase
  token X, this field will not be set.\";s:4:\"type\";s:6:\"string\";}s:7:\"orderId\";O:8:\"stdClass\":2:{s:11:\"description\";s:92:\"The
  order id of the latest recurring order associated with the purchase of the subscription.\";s:4:\"type\";s:6:\"string\";}s:12:\"paymentState\";O:8:\"stdClass\":3:{s:11:\"description\";s:113:\"The
  payment state of the subscription. Possible values are:  \n- Payment pending \n-
  Payment received \n- Free trial\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:17:\"priceAmountMicros\";O:8:\"stdClass\":3:{s:11:\"description\";s:228:\"Price
  of the subscription, not including tax. Price is expressed in micro-units, where
  1,000,000 micro-units represents one unit of the currency. For example, if the subscription
  price is \u20AC1.99, price_amount_micros is 1990000.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:17:\"priceCurrencyCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:147:\"ISO
  4217 currency code for the subscription price. For example, if the price is specified
  in British pounds sterling, price_currency_code is \"GBP\".\";s:4:\"type\";s:6:\"string\";}s:9:\"profileId\";O:8:\"stdClass\":2:{s:11:\"description\";s:125:\"The
  profile id of the user when the subscription was purchased. Only present for purchases
  made with 'Subscribe with Google'.\";s:4:\"type\";s:6:\"string\";}s:11:\"profileName\";O:8:\"stdClass\":2:{s:11:\"description\";s:127:\"The
  profile name of the user when the subscription was purchased. Only present for purchases
  made with 'Subscribe with Google'.\";s:4:\"type\";s:6:\"string\";}s:12:\"purchaseType\";O:8:\"stdClass\":3:{s:11:\"description\";s:212:\"The
  type of purchase of the subscription. This field is only set if this purchase was
  not made using the standard in-app billing flow. Possible values are:  \n- Test
  (i.e. purchased from a license testing account)\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:15:\"startTimeMillis\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"Time
  at which the subscription was granted, in milliseconds since the Epoch.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:26:\"userCancellationTimeMillis\";O:8:\"stdClass\":3:{s:11:\"description\";s:128:\"The
  time at which the subscription was canceled by the user, in milliseconds since the
  epoch. Only present if cancelReason is 0.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:33:\"SubscriptionPurchasesDeferRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"deferralInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/SubscriptionDeferralInfo\";s:11:\"description\";s:71:\"The
  information about the new desired expiry time for the subscription.\";}}s:4:\"type\";s:6:\"object\";}s:34:\"SubscriptionPurchasesDeferResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:19:\"newExpiryTimeMillis\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"The
  new expiry time for the subscription in milliseconds since the Epoch.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Testers\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"googleGroups\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:21:\"googlePlusCommunities\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:9:\"Timestamp\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"nanos\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"seconds\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"TokenPagination\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"nextPageToken\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"previousPageToken\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Track\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"track\";O:8:\"stdClass\":2:{s:11:\"description\";s:89:\"Identifier
  for this track. One of \"alpha\", \"beta\", \"production\", \"rollout\" or \"internal\".\";s:4:\"type\";s:6:\"string\";}s:12:\"userFraction\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:12:\"versionCodes\";O:8:\"stdClass\":3:{s:11:\"description\";s:173:\"Version
  codes to make active on this track. Note that this list should contain all versions
  you wish to be active, including those you wish to retain from previous releases.\";s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:18:\"TracksListResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:35:\"androidpublisher#tracksListResponse\";s:11:\"description\";s:104:\"Identifies
  what kind of resource this is. Value: the fixed string \"androidpublisher#tracksListResponse\".\";s:4:\"type\";s:6:\"string\";}s:6:\"tracks\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Track\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:11:\"UserComment\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":12:{s:16:\"androidOsVersion\";O:8:\"stdClass\":3:{s:11:\"description\";s:123:\"Integer
  Android SDK version of the user's device at the time the review was written, e.g.
  23 is Marshmallow. May be absent.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:14:\"appVersionCode\";O:8:\"stdClass\":3:{s:11:\"description\";s:95:\"Integer
  version code of the app as installed at the time the review was written. May be
  absent.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:14:\"appVersionName\";O:8:\"stdClass\":2:{s:11:\"description\";s:94:\"String
  version name of the app as installed at the time the review was written. May be
  absent.\";s:4:\"type\";s:6:\"string\";}s:6:\"device\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"Codename
  for the reviewer's device, e.g. klte, flounder. May be absent.\";s:4:\"type\";s:6:\"string\";}s:14:\"deviceMetadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/DeviceMetadata\";s:11:\"description\";s:63:\"Some
  information about the characteristics of the user's device\";}s:12:\"lastModified\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:48:\"The
  last time at which this comment was updated.\";}s:12:\"originalText\";O:8:\"stdClass\":2:{s:11:\"description\";s:140:\"Untranslated
  text of the review, in the case where the review has been translated. If the review
  has not been translated this is left blank.\";s:4:\"type\";s:6:\"string\";}s:16:\"reviewerLanguage\";O:8:\"stdClass\":2:{s:11:\"description\";s:154:\"Language
  code for the reviewer. This is taken from the device settings so is not guaranteed
  to match the language the review is written in. May be absent.\";s:4:\"type\";s:6:\"string\";}s:10:\"starRating\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"The
  star rating associated with the review, from 1 to 5.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"text\";O:8:\"stdClass\":2:{s:11:\"description\";s:213:\"The
  content of the comment, i.e. review body. In some cases users have been able to
  write a review with separate title and body; in those cases the title and body are
  concatenated and separated by a tab character.\";s:4:\"type\";s:6:\"string\";}s:15:\"thumbsDownCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Number
  of users who have given this review a thumbs down\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:13:\"thumbsUpCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"Number
  of users who have given this review a thumbs up\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:14:\"VoidedPurchase\";O:8:\"stdClass\":3:{s:11:\"description\";s:94:\"A
  VoidedPurchase resource indicates a purchase that was either canceled/refunded/charged-back.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:31:\"androidpublisher#voidedPurchase\";s:11:\"description\";s:78:\"This
  kind represents a voided purchase object in the androidpublisher service.\";s:4:\"type\";s:6:\"string\";}s:18:\"purchaseTimeMillis\";O:8:\"stdClass\":3:{s:11:\"description\";s:87:\"The
  time at which the purchase was made, in milliseconds since the epoch (Jan 1, 1970).\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:13:\"purchaseToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:91:\"The
  token that was generated when a purchase was made. This uniquely identifies a purchase.\";s:4:\"type\";s:6:\"string\";}s:16:\"voidedTimeMillis\";O:8:\"stdClass\":3:{s:11:\"description\";s:113:\"The
  time at which the purchase was canceled/refunded/charged-back, in milliseconds since
  the epoch (Jan 1, 1970).\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:27:\"VoidedPurchasesListResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"pageInfo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/PageInfo\";}s:15:\"tokenPagination\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/TokenPagination\";}s:15:\"voidedPurchases\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/VoidedPurchase\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}}"
...
