---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":12:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Google\";s:3:\"url\";s:18:\"https://google.com\";}s:11:\"description\";s:120:\"Manages
  files in Drive including uploading, downloading, searching, detecting changes, and
  updating sharing permissions.\";s:5:\"title\";s:5:\"Drive\";s:7:\"version\";s:2:\"v3\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:37:\"https://console.developers.google.com\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:7:\"storage\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:105:\"https://api.apis.guru/v2/cache/logo/https_www.gstatic.com_images_icons_material_product_2x_drive_32dp.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.6.2\";}s:6:\"format\";s:6:\"google\";s:3:\"url\";s:58:\"https://www.googleapis.com/discovery/v1/apis/drive/v3/rest\";s:7:\"version\";s:2:\"v1\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"googleapis.com\";s:13:\"x-serviceName\";s:5:\"drive\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:12:\"google_drive\";s:4:\"type\";s:7:\"openapi\";}}"
host: www.googleapis.com
basePath: /drive/v3
paths: ~
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":19:{s:5:\"About\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"Information
  about the user, the user's Drive, and system capabilities.\";s:10:\"properties\";O:8:\"stdClass\":11:{s:12:\"appInstalled\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Whether
  the user has installed the requesting app.\";s:4:\"type\";s:7:\"boolean\";}s:19:\"canCreateTeamDrives\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Whether
  the user can create Team Drives.\";s:4:\"type\";s:7:\"boolean\";}s:13:\"exportFormats\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:11:\"description\";s:72:\"A
  map of source MIME type to possible targets for all supported exports.\";s:4:\"type\";s:6:\"object\";}s:18:\"folderColorPalette\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"The
  currently supported folder colors as RGB hex strings.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:13:\"importFormats\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:11:\"description\";s:72:\"A
  map of source MIME type to possible targets for all supported imports.\";s:4:\"type\";s:6:\"object\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:11:\"drive#about\";s:11:\"description\";s:80:\"Identifies
  what kind of resource this is. Value: the fixed string \"drive#about\".\";s:4:\"type\";s:6:\"string\";}s:14:\"maxImportSizes\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:53:\"A
  map of maximum import sizes by MIME type, in bytes.\";s:4:\"type\";s:6:\"object\";}s:13:\"maxUploadSize\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  maximum upload size in bytes.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:12:\"storageQuota\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"The
  user's storage quota limits and usage. All fields are measured in bytes.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"limit\";O:8:\"stdClass\":3:{s:11:\"description\";s:91:\"The
  usage limit, if applicable. This will not be present if the user has unlimited storage.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:5:\"usage\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  total usage across all services.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:12:\"usageInDrive\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  usage by all files in Google Drive.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:17:\"usageInDriveTrash\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  usage by trashed files in Google Drive.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"teamDriveThemes\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"A
  list of themes that are supported for Team Drives.\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"backgroundImageLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"A
  link to this Team Drive theme's background image.\";s:4:\"type\";s:6:\"string\";}s:8:\"colorRgb\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"The
  color of this Team Drive theme as an RGB hex string.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"The
  ID of the theme.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:4:\"user\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/User\";s:11:\"description\";s:23:\"The
  authenticated user.\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Change\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"A
  change to a file or Team Drive.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:4:\"file\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/File\";s:11:\"description\";s:119:\"The
  updated state of the file. Present if the type is file and the file has not been
  removed from this list of changes.\";}s:6:\"fileId\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  ID of the file which has changed.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:12:\"drive#change\";s:11:\"description\";s:81:\"Identifies
  what kind of resource this is. Value: the fixed string \"drive#change\".\";s:4:\"type\";s:6:\"string\";}s:7:\"removed\";O:8:\"stdClass\":2:{s:11:\"description\";s:117:\"Whether
  the file or Team Drive has been removed from this list of changes, for example by
  deletion or loss of access.\";s:4:\"type\";s:7:\"boolean\";}s:9:\"teamDrive\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/TeamDrive\";s:11:\"description\";s:157:\"The
  updated state of the Team Drive. Present if the type is teamDrive, the user is still
  a member of the Team Drive, and the Team Drive has not been removed.\";}s:11:\"teamDriveId\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"The
  ID of the Team Drive associated with this change.\";s:4:\"type\";s:6:\"string\";}s:4:\"time\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"The
  time of this change (RFC 3339 date-time).\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"The
  type of the change. Possible values are file and teamDrive.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"ChangeList\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"A
  list of changes for a user.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"changes\";O:8:\"stdClass\":3:{s:11:\"description\";s:137:\"The
  list of changes. If nextPageToken is populated, then this list may be incomplete
  and an additional page of results should be fetched.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Change\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:16:\"drive#changeList\";s:11:\"description\";s:85:\"Identifies
  what kind of resource this is. Value: the fixed string \"drive#changeList\".\";s:4:\"type\";s:6:\"string\";}s:17:\"newStartPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:126:\"The
  starting page token for future changes. This will be present only if the end of
  the current changes list has been reached.\";s:4:\"type\";s:6:\"string\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:245:\"The
  page token for the next page of changes. This will be absent if the end of the changes
  list has been reached. If the token is rejected for any reason, it should be discarded,
  and pagination should be restarted from the first page of results.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Channel\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"An
  notification channel used to watch for resource changes.\";s:10:\"properties\";O:8:\"stdClass\":10:{s:7:\"address\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"The
  address where notifications are delivered for this channel.\";s:4:\"type\";s:6:\"string\";}s:10:\"expiration\";O:8:\"stdClass\":3:{s:11:\"description\";s:107:\"Date
  and time of notification channel expiration, expressed as a Unix timestamp, in milliseconds.
  Optional.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"A
  UUID or similar unique string that identifies this channel.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:11:\"api#channel\";s:11:\"description\";s:121:\"Identifies
  this as a notification channel used to watch for changes to a resource. Value: the
  fixed string \"api#channel\".\";s:4:\"type\";s:6:\"string\";}s:6:\"params\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Declares
  a new parameter by name.\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:70:\"Additional
  parameters controlling delivery channel behavior. Optional.\";s:4:\"type\";s:6:\"object\";}s:7:\"payload\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"A
  Boolean value to indicate whether payload is wanted. Optional.\";s:4:\"type\";s:7:\"boolean\";}s:10:\"resourceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:110:\"An
  opaque ID that identifies the resource being watched on this channel. Stable across
  different API versions.\";s:4:\"type\";s:6:\"string\";}s:11:\"resourceUri\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"A
  version-specific identifier for the watched resource.\";s:4:\"type\";s:6:\"string\";}s:5:\"token\";O:8:\"stdClass\":2:{s:11:\"description\";s:113:\"An
  arbitrary string delivered to the target address with each notification delivered
  over this channel. Optional.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"The
  type of delivery mechanism used for this channel.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Comment\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"A
  comment on a file.\";s:10:\"properties\";O:8:\"stdClass\":12:{s:6:\"anchor\";O:8:\"stdClass\":2:{s:11:\"description\";s:141:\"A
  region of the document represented as a JSON string. See anchor documentation for
  details on how to define and interpret anchor properties.\";s:4:\"type\";s:6:\"string\";}s:6:\"author\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/User\";s:11:\"description\";s:33:\"The
  user who created the comment.\";}s:7:\"content\";O:8:\"stdClass\":2:{s:11:\"description\";s:121:\"The
  plain text content of the comment. This field is used for setting the content, while
  htmlContent should be displayed.\";s:4:\"type\";s:6:\"string\";}s:11:\"createdTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"The
  time at which the comment was created (RFC 3339 date-time).\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"deleted\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"Whether
  the comment has been deleted. A deleted comment has no content.\";s:4:\"type\";s:7:\"boolean\";}s:11:\"htmlContent\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"The
  content of the comment with HTML formatting.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  ID of the comment.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:13:\"drive#comment\";s:11:\"description\";s:82:\"Identifies
  what kind of resource this is. Value: the fixed string \"drive#comment\".\";s:4:\"type\";s:6:\"string\";}s:12:\"modifiedTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:82:\"The
  last time the comment or any of its replies was modified (RFC 3339 date-time).\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:17:\"quotedFileContent\";O:8:\"stdClass\":3:{s:11:\"description\";s:166:\"The
  file content to which the comment refers, typically within the anchor region. For
  a text file, for example, this would be the text at the location of the comment.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"mimeType\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"The
  MIME type of the quoted content.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:84:\"The
  quoted content itself. This is interpreted as plain text if set through the API.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"replies\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"The
  full list of replies to the comment in chronological order.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Reply\";}s:4:\"type\";s:5:\"array\";}s:8:\"resolved\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"Whether
  the comment has been resolved by one of its replies.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:11:\"CommentList\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"A
  list of comments on a file.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"comments\";O:8:\"stdClass\":3:{s:11:\"description\";s:138:\"The
  list of comments. If nextPageToken is populated, then this list may be incomplete
  and an additional page of results should be fetched.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Comment\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:17:\"drive#commentList\";s:11:\"description\";s:86:\"Identifies
  what kind of resource this is. Value: the fixed string \"drive#commentList\".\";s:4:\"type\";s:6:\"string\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:247:\"The
  page token for the next page of comments. This will be absent if the end of the
  comments list has been reached. If the token is rejected for any reason, it should
  be discarded, and pagination should be restarted from the first page of results.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"File\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  metadata for a file.\";s:10:\"properties\";O:8:\"stdClass\":52:{s:13:\"appProperties\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:148:\"A
  collection of arbitrary key-value pairs which are private to the requesting app.\nEntries
  with null values are cleared in update and copy requests.\";s:4:\"type\";s:6:\"object\";}s:12:\"capabilities\";O:8:\"stdClass\":3:{s:11:\"description\";s:122:\"Capabilities
  the current user has on this file. Each capability corresponds to a fine-grained
  action that a user may take.\";s:10:\"properties\";O:8:\"stdClass\":17:{s:14:\"canAddChildren\";O:8:\"stdClass\":2:{s:11:\"description\";s:109:\"Whether
  the current user can add children to this folder. This is always false when the
  item is not a folder.\";s:4:\"type\";s:7:\"boolean\";}s:30:\"canChangeViewersCanCopyContent\";O:8:\"stdClass\":2:{s:11:\"description\";s:87:\"Whether
  the current user can change whether viewers can copy the contents of this file.\";s:4:\"type\";s:7:\"boolean\";}s:10:\"canComment\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Whether
  the current user can comment on this file.\";s:4:\"type\";s:7:\"boolean\";}s:7:\"canCopy\";O:8:\"stdClass\":2:{s:11:\"description\";s:181:\"Whether
  the current user can copy this file. For a Team Drive item, whether the current
  user can copy non-folder descendants of this item, or this item itself if it is
  not a folder.\";s:4:\"type\";s:7:\"boolean\";}s:9:\"canDelete\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Whether
  the current user can delete this file.\";s:4:\"type\";s:7:\"boolean\";}s:11:\"canDownload\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Whether
  the current user can download this file.\";s:4:\"type\";s:7:\"boolean\";}s:7:\"canEdit\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Whether
  the current user can edit this file.\";s:4:\"type\";s:7:\"boolean\";}s:15:\"canListChildren\";O:8:\"stdClass\":2:{s:11:\"description\";s:114:\"Whether
  the current user can list the children of this folder. This is always false when
  the item is not a folder.\";s:4:\"type\";s:7:\"boolean\";}s:24:\"canMoveItemIntoTeamDrive\";O:8:\"stdClass\":2:{s:11:\"description\";s:144:\"Whether
  the current user can move this item into a Team Drive. If the item is in a Team
  Drive, this field is equivalent to canMoveTeamDriveItem.\";s:4:\"type\";s:7:\"boolean\";}s:20:\"canMoveTeamDriveItem\";O:8:\"stdClass\":2:{s:11:\"description\";s:234:\"Whether
  the current user can move this Team Drive item by changing its parent. Note that
  a request to change the parent for this item may still fail depending on the new
  parent that is being added. Only populated for Team Drive files.\";s:4:\"type\";s:7:\"boolean\";}s:16:\"canReadRevisions\";O:8:\"stdClass\":2:{s:11:\"description\";s:207:\"Whether
  the current user can read the revisions resource of this file. For a Team Drive
  item, whether revisions of non-folder descendants of this item, or this item itself
  if it is not a folder, can be read.\";s:4:\"type\";s:7:\"boolean\";}s:16:\"canReadTeamDrive\";O:8:\"stdClass\":2:{s:11:\"description\";s:113:\"Whether
  the current user can read the Team Drive to which this file belongs. Only populated
  for Team Drive files.\";s:4:\"type\";s:7:\"boolean\";}s:17:\"canRemoveChildren\";O:8:\"stdClass\":2:{s:11:\"description\";s:114:\"Whether
  the current user can remove children from this folder. This is always false when
  the item is not a folder.\";s:4:\"type\";s:7:\"boolean\";}s:9:\"canRename\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Whether
  the current user can rename this file.\";s:4:\"type\";s:7:\"boolean\";}s:8:\"canShare\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"Whether
  the current user can modify the sharing settings for this file.\";s:4:\"type\";s:7:\"boolean\";}s:8:\"canTrash\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Whether
  the current user can move this file to trash.\";s:4:\"type\";s:7:\"boolean\";}s:10:\"canUntrash\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"Whether
  the current user can restore this file from trash.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:12:\"contentHints\";O:8:\"stdClass\":3:{s:11:\"description\";s:100:\"Additional
  information about the content of the file. These fields are never populated in responses.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"indexableText\";O:8:\"stdClass\":2:{s:11:\"description\";s:126:\"Text
  to be indexed for the file to improve fullText queries. This is limited to 128KB
  in length and may contain HTML elements.\";s:4:\"type\";s:6:\"string\";}s:9:\"thumbnail\";O:8:\"stdClass\":3:{s:11:\"description\";s:95:\"A
  thumbnail for the file. This will only be used if Drive cannot generate a standard
  thumbnail.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"image\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"The
  thumbnail data encoded with URL-safe Base64 (RFC 4648 section 5).\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}s:8:\"mimeType\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  MIME type of the thumbnail.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:11:\"createdTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"The
  time at which the file was created (RFC 3339 date-time).\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"A
  short description of the file.\";s:4:\"type\";s:6:\"string\";}s:17:\"explicitlyTrashed\";O:8:\"stdClass\":2:{s:11:\"description\";s:101:\"Whether
  the file has been explicitly trashed, as opposed to recursively trashed from a parent
  folder.\";s:4:\"type\";s:7:\"boolean\";}s:13:\"fileExtension\";O:8:\"stdClass\":2:{s:11:\"description\";s:104:\"The
  final component of fullFileExtension. This is only available for files with binary
  content in Drive.\";s:4:\"type\";s:6:\"string\";}s:14:\"folderColorRgb\";O:8:\"stdClass\":2:{s:11:\"description\";s:227:\"The
  color for a folder as an RGB hex string. The supported colors are published in the
  folderColorPalette field of the About resource.\nIf an unsupported color is specified,
  the closest color in the palette will be used instead.\";s:4:\"type\";s:6:\"string\";}s:17:\"fullFileExtension\";O:8:\"stdClass\":2:{s:11:\"description\";s:318:\"The
  full file extension extracted from the name field. May contain multiple concatenated
  extensions, such as \"tar.gz\". This is only available for files with binary content
  in Drive.\nThis is automatically updated when the name field changes, however it
  is not cleared if the new name does not contain a valid extension.\";s:4:\"type\";s:6:\"string\";}s:23:\"hasAugmentedPermissions\";O:8:\"stdClass\":2:{s:11:\"description\";s:115:\"Whether
  any users are granted file access directly on this file. This field is only populated
  for Team Drive files.\";s:4:\"type\";s:7:\"boolean\";}s:12:\"hasThumbnail\";O:8:\"stdClass\":2:{s:11:\"description\";s:180:\"Whether
  this file has a thumbnail. This does not indicate whether the requesting app has
  access to the thumbnail. To check access, look for the presence of the thumbnailLink
  field.\";s:4:\"type\";s:7:\"boolean\";}s:14:\"headRevisionId\";O:8:\"stdClass\":2:{s:11:\"description\";s:108:\"The
  ID of the file's head revision. This is currently only available for files with
  binary content in Drive.\";s:4:\"type\";s:6:\"string\";}s:8:\"iconLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"A
  static, unauthenticated link to the file's icon.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"The
  ID of the file.\";s:4:\"type\";s:6:\"string\";}s:18:\"imageMediaMetadata\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Additional
  metadata about image media, if available.\";s:10:\"properties\";O:8:\"stdClass\":21:{s:8:\"aperture\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  aperture used to create the photo (f-number).\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:10:\"cameraMake\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"The
  make of the camera used to create the photo.\";s:4:\"type\";s:6:\"string\";}s:11:\"cameraModel\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"The
  model of the camera used to create the photo.\";s:4:\"type\";s:6:\"string\";}s:10:\"colorSpace\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  color space of the photo.\";s:4:\"type\";s:6:\"string\";}s:12:\"exposureBias\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"The
  exposure bias of the photo (APEX value).\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:12:\"exposureMode\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  exposure mode used to create the photo.\";s:4:\"type\";s:6:\"string\";}s:12:\"exposureTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  length of the exposure, in seconds.\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:9:\"flashUsed\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Whether
  a flash was used to create the photo.\";s:4:\"type\";s:7:\"boolean\";}s:11:\"focalLength\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"The
  focal length used to create the photo, in millimeters.\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:6:\"height\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  height of the image in pixels.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"isoSpeed\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  ISO speed used to create the photo.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"lens\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  lens used to create the photo.\";s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Geographic
  location information stored in the image.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"altitude\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  altitude stored in the image.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:8:\"latitude\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  latitude stored in the image.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:9:\"longitude\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  longitude stored in the image.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:16:\"maxApertureValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:92:\"The
  smallest f-number of the lens at the focal length used to create the photo (APEX
  value).\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:12:\"meteringMode\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  metering mode used to create the photo.\";s:4:\"type\";s:6:\"string\";}s:8:\"rotation\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"The
  rotation in clockwise degrees from the image's original orientation.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"sensor\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"The
  type of sensor used to create the photo.\";s:4:\"type\";s:6:\"string\";}s:15:\"subjectDistance\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"The
  distance to the subject of the photo, in meters.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"time\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"The
  date and time the photo was taken (EXIF DateTime).\";s:4:\"type\";s:6:\"string\";}s:12:\"whiteBalance\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"The
  white balance mode used to create the photo.\";s:4:\"type\";s:6:\"string\";}s:5:\"width\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  width of the image in pixels.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:15:\"isAppAuthorized\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"Whether
  the file was created or opened by the requesting app.\";s:4:\"type\";s:7:\"boolean\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:10:\"drive#file\";s:11:\"description\";s:79:\"Identifies
  what kind of resource this is. Value: the fixed string \"drive#file\".\";s:4:\"type\";s:6:\"string\";}s:17:\"lastModifyingUser\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/User\";s:11:\"description\";s:33:\"The
  last user to modify the file.\";}s:11:\"md5Checksum\";O:8:\"stdClass\":2:{s:11:\"description\";s:108:\"The
  MD5 checksum for the content of the file. This is only applicable to files with
  binary content in Drive.\";s:4:\"type\";s:6:\"string\";}s:8:\"mimeType\";O:8:\"stdClass\":2:{s:11:\"description\";s:367:\"The
  MIME type of the file.\nDrive will attempt to automatically detect an appropriate
  value from uploaded content if no value is provided. The value cannot be changed
  unless a new revision is uploaded.\nIf a file is created with a Google Doc MIME
  type, the uploaded content will be imported if possible. The supported import formats
  are published in the About resource.\";s:4:\"type\";s:6:\"string\";}s:12:\"modifiedByMe\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Whether
  the file has been modified by this user.\";s:4:\"type\";s:7:\"boolean\";}s:16:\"modifiedByMeTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"The
  last time the file was modified by the user (RFC 3339 date-time).\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:12:\"modifiedTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:146:\"The
  last time the file was modified by anyone (RFC 3339 date-time).\nNote that setting
  modifiedTime will also update modifiedByMeTime for the user.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:217:\"The
  name of the file. This is not necessarily unique within a folder. Note that for
  immutable items such as the top level folders of Team Drives, My Drive root folder,
  and Application Data folder the name is constant.\";s:4:\"type\";s:6:\"string\";}s:16:\"originalFilename\";O:8:\"stdClass\":2:{s:11:\"description\";s:168:\"The
  original filename of the uploaded content if available, or else the original value
  of the name field. This is only available for files with binary content in Drive.\";s:4:\"type\";s:6:\"string\";}s:9:\"ownedByMe\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"Whether
  the user owns the file. Not populated for Team Drive files.\";s:4:\"type\";s:7:\"boolean\";}s:6:\"owners\";O:8:\"stdClass\":3:{s:11:\"description\";s:126:\"The
  owners of the file. Currently, only certain legacy files may have more than one
  owner. Not populated for Team Drive files.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/User\";}s:4:\"type\";s:5:\"array\";}s:7:\"parents\";O:8:\"stdClass\":3:{s:11:\"description\";s:371:\"The
  IDs of the parent folders which contain the file.\nIf not specified as part of a
  create request, the file will be placed directly in the user's My Drive folder.
  If not specified as part of a copy request, the file will inherit any discoverable
  parents of the source file. Update requests must use the addParents and removeParents
  parameters to modify the parents list.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:13:\"permissionIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"List
  of permission IDs for users with access to this file.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:11:\"permissions\";O:8:\"stdClass\":3:{s:11:\"description\";s:144:\"The
  full list of permissions for the file. This is only available if the requesting
  user can share the file. Not populated for Team Drive files.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Permission\";}s:4:\"type\";s:5:\"array\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:138:\"A
  collection of arbitrary key-value pairs which are visible to all apps.\nEntries
  with null values are cleared in update and copy requests.\";s:4:\"type\";s:6:\"object\";}s:14:\"quotaBytesUsed\";O:8:\"stdClass\":3:{s:11:\"description\";s:139:\"The
  number of storage quota bytes used by the file. This includes the head revision
  as well as previous revisions with keepForever enabled.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:6:\"shared\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"Whether
  the file has been shared. Not populated for Team Drive files.\";s:4:\"type\";s:7:\"boolean\";}s:16:\"sharedWithMeTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:88:\"The
  time at which the file was shared with the user, if applicable (RFC 3339 date-time).\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"sharingUser\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/User\";s:11:\"description\";s:69:\"The
  user who shared the file with the requesting user, if applicable.\";}s:4:\"size\";O:8:\"stdClass\":3:{s:11:\"description\";s:103:\"The
  size of the file's content in bytes. This is only applicable to files with binary
  content in Drive.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:6:\"spaces\";O:8:\"stdClass\":3:{s:11:\"description\";s:116:\"The
  list of spaces which contain the file. The currently supported values are 'drive',
  'appDataFolder' and 'photos'.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"starred\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Whether
  the user has starred the file.\";s:4:\"type\";s:7:\"boolean\";}s:11:\"teamDriveId\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"ID
  of the Team Drive the file resides in.\";s:4:\"type\";s:6:\"string\";}s:13:\"thumbnailLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:166:\"A
  short-lived link to the file's thumbnail, if available. Typically lasts on the order
  of hours. Only populated when the requesting app can access the file's content.\";s:4:\"type\";s:6:\"string\";}s:16:\"thumbnailVersion\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"The
  thumbnail version for use in thumbnail cache invalidation.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:7:\"trashed\";O:8:\"stdClass\":2:{s:11:\"description\";s:173:\"Whether
  the file has been trashed, either explicitly or from a trashed parent folder. Only
  the owner may trash a file, and other users cannot see files in the owner's trash.\";s:4:\"type\";s:7:\"boolean\";}s:11:\"trashedTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:93:\"The
  time that the item was trashed (RFC 3339 date-time). Only populated for Team Drive
  files.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:12:\"trashingUser\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/User\";s:11:\"description\";s:102:\"If
  the file has been explicitly trashed, the user who trashed it. Only populated for
  Team Drive files.\";}s:7:\"version\";O:8:\"stdClass\":3:{s:11:\"description\";s:150:\"A
  monotonically increasing version number for the file. This reflects every change
  made to the file on the server, even those not visible to the user.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:18:\"videoMediaMetadata\";O:8:\"stdClass\":3:{s:11:\"description\";s:89:\"Additional
  metadata about video media. This may not be available immediately upon upload.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"durationMillis\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"The
  duration of the video in milliseconds.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:6:\"height\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  height of the video in pixels.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:5:\"width\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  width of the video in pixels.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:10:\"viewedByMe\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Whether
  the file has been viewed by this user.\";s:4:\"type\";s:7:\"boolean\";}s:14:\"viewedByMeTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"The
  last time the file was viewed by the user (RFC 3339 date-time).\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:21:\"viewersCanCopyContent\";O:8:\"stdClass\":2:{s:11:\"description\";s:134:\"Whether
  users with only reader or commenter permission can copy the file's content. This
  affects copy, download, and print operations.\";s:4:\"type\";s:7:\"boolean\";}s:14:\"webContentLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:123:\"A
  link for downloading the content of the file in a browser. This is only available
  for files with binary content in Drive.\";s:4:\"type\";s:6:\"string\";}s:11:\"webViewLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:79:\"A
  link for opening the file in a relevant Google editor or viewer in a browser.\";s:4:\"type\";s:6:\"string\";}s:15:\"writersCanShare\";O:8:\"stdClass\":2:{s:11:\"description\";s:112:\"Whether
  users with only writer permission can modify the file's permissions. Not populated
  for Team Drive files.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:8:\"FileList\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"A
  list of files.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"files\";O:8:\"stdClass\":3:{s:11:\"description\";s:135:\"The
  list of files. If nextPageToken is populated, then this list may be incomplete and
  an additional page of results should be fetched.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/File\";}s:4:\"type\";s:5:\"array\";}s:16:\"incompleteSearch\";O:8:\"stdClass\":2:{s:11:\"description\";s:389:\"Whether
  the search process was incomplete. If true, then some search results may be missing,
  since all documents were not searched. This may occur when searching multiple Team
  Drives with the \"user,allTeamDrives\" corpora, but all corpora could not be searched.
  When this happens, it is suggested that clients narrow their query by choosing a
  different corpus such as \"user\" or \"teamDrive\".\";s:4:\"type\";s:7:\"boolean\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:14:\"drive#fileList\";s:11:\"description\";s:83:\"Identifies
  what kind of resource this is. Value: the fixed string \"drive#fileList\".\";s:4:\"type\";s:6:\"string\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:241:\"The
  page token for the next page of files. This will be absent if the end of the files
  list has been reached. If the token is rejected for any reason, it should be discarded,
  and pagination should be restarted from the first page of results.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"GeneratedIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"A
  list of generated file IDs which can be provided in create requests.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"ids\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"The
  IDs generated for the requesting user in the specified space.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:18:\"drive#generatedIds\";s:11:\"description\";s:87:\"Identifies
  what kind of resource this is. Value: the fixed string \"drive#generatedIds\".\";s:4:\"type\";s:6:\"string\";}s:5:\"space\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"The
  type of file that can be created with these IDs.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"Permission\";O:8:\"stdClass\":3:{s:11:\"description\";s:119:\"A
  permission for a file. A permission grants a user, group, domain or the world access
  to a file or a folder hierarchy.\";s:10:\"properties\";O:8:\"stdClass\":12:{s:18:\"allowFileDiscovery\";O:8:\"stdClass\":2:{s:11:\"description\";s:137:\"Whether
  the permission allows the file to be discovered through search. This is only applicable
  for permissions of type domain or anyone.\";s:4:\"type\";s:7:\"boolean\";}s:7:\"deleted\";O:8:\"stdClass\":2:{s:11:\"description\";s:125:\"Whether
  the account associated with this permission has been deleted. This field only pertains
  to user and group permissions.\";s:4:\"type\";s:7:\"boolean\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"A
  displayable name for users, groups or domains.\";s:4:\"type\";s:6:\"string\";}s:6:\"domain\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  domain to which this permission refers.\";s:4:\"type\";s:6:\"string\";}s:12:\"emailAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"The
  email address of the user or group to which this permission refers.\";s:4:\"type\";s:6:\"string\";}s:14:\"expirationTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:259:\"The
  time at which this permission will expire (RFC 3339 date-time). Expiration times
  have the following restrictions:  \n- They can only be set on user and group permissions
  \n- The time must be in the future \n- The time cannot be more than a year in the
  future\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:123:\"The
  ID of this permission. This is a unique identifier for the grantee, and is published
  in User resources as permissionId.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:16:\"drive#permission\";s:11:\"description\";s:85:\"Identifies
  what kind of resource this is. Value: the fixed string \"drive#permission\".\";s:4:\"type\";s:6:\"string\";}s:9:\"photoLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"A
  link to the user's profile photo, if available.\";s:4:\"type\";s:6:\"string\";}s:4:\"role\";O:8:\"stdClass\":2:{s:11:\"description\";s:178:\"The
  role granted by this permission. While new values may be supported in the future,
  the following are currently allowed:  \n- organizer \n- owner \n- writer \n- commenter
  \n- reader\";s:4:\"type\";s:6:\"string\";}s:26:\"teamDrivePermissionDetails\";O:8:\"stdClass\":3:{s:11:\"description\";s:171:\"Details
  of whether the permissions on this Team Drive item are inherited or directly on
  this item. This is an output-only field which is present only for Team Drive items.\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"inherited\";O:8:\"stdClass\":2:{s:11:\"description\";s:99:\"Whether
  this permission is inherited. This field is always populated. This is an output-only
  field.\";s:4:\"type\";s:7:\"boolean\";}s:13:\"inheritedFrom\";O:8:\"stdClass\":2:{s:11:\"description\";s:141:\"The
  ID of the item from which this permission is inherited. This is an output-only field
  and is only populated for members of the Team Drive.\";s:4:\"type\";s:6:\"string\";}s:4:\"role\";O:8:\"stdClass\":2:{s:11:\"description\";s:161:\"The
  primary role for this user. While new values may be added in the future, the following
  are currently possible:  \n- organizer \n- writer \n- commenter \n- reader\";s:4:\"type\";s:6:\"string\";}s:23:\"teamDrivePermissionType\";O:8:\"stdClass\":2:{s:11:\"description\";s:143:\"The
  Team Drive permission type for this user. While new values may be added in future,
  the following are currently possible:  \n- file \n- member\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"The
  type of the grantee. Valid values are:  \n- user \n- group \n- domain \n- anyone\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"PermissionList\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"A
  list of permissions for a file.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:20:\"drive#permissionList\";s:11:\"description\";s:89:\"Identifies
  what kind of resource this is. Value: the fixed string \"drive#permissionList\".\";s:4:\"type\";s:6:\"string\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:259:\"The
  page token for the next page of permissions. This field will be absent if the end
  of the permissions list has been reached. If the token is rejected for any reason,
  it should be discarded, and pagination should be restarted from the first page of
  results.\";s:4:\"type\";s:6:\"string\";}s:11:\"permissions\";O:8:\"stdClass\":3:{s:11:\"description\";s:141:\"The
  list of permissions. If nextPageToken is populated, then this list may be incomplete
  and an additional page of results should be fetched.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Permission\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Reply\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"A
  reply to a comment on a file.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:6:\"action\";O:8:\"stdClass\":2:{s:11:\"description\";s:93:\"The
  action the reply performed to the parent comment. Valid values are:  \n- resolve
  \n- reopen\";s:4:\"type\";s:6:\"string\";}s:6:\"author\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/User\";s:11:\"description\";s:31:\"The
  user who created the reply.\";}s:7:\"content\";O:8:\"stdClass\":2:{s:11:\"description\";s:174:\"The
  plain text content of the reply. This field is used for setting the content, while
  htmlContent should be displayed. This is required on creates if no action is specified.\";s:4:\"type\";s:6:\"string\";}s:11:\"createdTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"The
  time at which the reply was created (RFC 3339 date-time).\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"deleted\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"Whether
  the reply has been deleted. A deleted reply has no content.\";s:4:\"type\";s:7:\"boolean\";}s:11:\"htmlContent\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"The
  content of the reply with HTML formatting.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"The
  ID of the reply.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:11:\"drive#reply\";s:11:\"description\";s:80:\"Identifies
  what kind of resource this is. Value: the fixed string \"drive#reply\".\";s:4:\"type\";s:6:\"string\";}s:12:\"modifiedTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"The
  last time the reply was modified (RFC 3339 date-time).\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"ReplyList\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"A
  list of replies to a comment on a file.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:15:\"drive#replyList\";s:11:\"description\";s:84:\"Identifies
  what kind of resource this is. Value: the fixed string \"drive#replyList\".\";s:4:\"type\";s:6:\"string\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:245:\"The
  page token for the next page of replies. This will be absent if the end of the replies
  list has been reached. If the token is rejected for any reason, it should be discarded,
  and pagination should be restarted from the first page of results.\";s:4:\"type\";s:6:\"string\";}s:7:\"replies\";O:8:\"stdClass\":3:{s:11:\"description\";s:137:\"The
  list of replies. If nextPageToken is populated, then this list may be incomplete
  and an additional page of results should be fetched.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Reply\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Revision\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  metadata for a revision to a file.\";s:10:\"properties\";O:8:\"stdClass\":12:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  ID of the revision.\";s:4:\"type\";s:6:\"string\";}s:11:\"keepForever\";O:8:\"stdClass\":2:{s:11:\"description\";s:303:\"Whether
  to keep this revision forever, even if it is no longer the head revision. If not
  set, the revision will be automatically purged 30 days after newer content is uploaded.
  This can be set on a maximum of 200 revisions for a file.\nThis field is only applicable
  to files with binary content in Drive.\";s:4:\"type\";s:7:\"boolean\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:14:\"drive#revision\";s:11:\"description\";s:83:\"Identifies
  what kind of resource this is. Value: the fixed string \"drive#revision\".\";s:4:\"type\";s:6:\"string\";}s:17:\"lastModifyingUser\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/User\";s:11:\"description\";s:38:\"The
  last user to modify this revision.\";}s:11:\"md5Checksum\";O:8:\"stdClass\":2:{s:11:\"description\";s:106:\"The
  MD5 checksum of the revision's content. This is only applicable to files with binary
  content in Drive.\";s:4:\"type\";s:6:\"string\";}s:8:\"mimeType\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  MIME type of the revision.\";s:4:\"type\";s:6:\"string\";}s:12:\"modifiedTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"The
  last time the revision was modified (RFC 3339 date-time).\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:16:\"originalFilename\";O:8:\"stdClass\":2:{s:11:\"description\";s:114:\"The
  original filename used to create this revision. This is only applicable to files
  with binary content in Drive.\";s:4:\"type\";s:6:\"string\";}s:11:\"publishAuto\";O:8:\"stdClass\":2:{s:11:\"description\";s:103:\"Whether
  subsequent revisions will be automatically republished. This is only applicable
  to Google Docs.\";s:4:\"type\";s:7:\"boolean\";}s:9:\"published\";O:8:\"stdClass\":2:{s:11:\"description\";s:75:\"Whether
  this revision is published. This is only applicable to Google Docs.\";s:4:\"type\";s:7:\"boolean\";}s:22:\"publishedOutsideDomain\";O:8:\"stdClass\":2:{s:11:\"description\";s:94:\"Whether
  this revision is published outside the domain. This is only applicable to Google
  Docs.\";s:4:\"type\";s:7:\"boolean\";}s:4:\"size\";O:8:\"stdClass\":3:{s:11:\"description\";s:107:\"The
  size of the revision's content in bytes. This is only applicable to files with binary
  content in Drive.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"RevisionList\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"A
  list of revisions of a file.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:18:\"drive#revisionList\";s:11:\"description\";s:87:\"Identifies
  what kind of resource this is. Value: the fixed string \"drive#revisionList\".\";s:4:\"type\";s:6:\"string\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:249:\"The
  page token for the next page of revisions. This will be absent if the end of the
  revisions list has been reached. If the token is rejected for any reason, it should
  be discarded, and pagination should be restarted from the first page of results.\";s:4:\"type\";s:6:\"string\";}s:9:\"revisions\";O:8:\"stdClass\":3:{s:11:\"description\";s:139:\"The
  list of revisions. If nextPageToken is populated, then this list may be incomplete
  and an additional page of results should be fetched.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Revision\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:14:\"StartPageToken\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:20:\"drive#startPageToken\";s:11:\"description\";s:89:\"Identifies
  what kind of resource this is. Value: the fixed string \"drive#startPageToken\".\";s:4:\"type\";s:6:\"string\";}s:14:\"startPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"The
  starting page token for listing changes.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"TeamDrive\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Representation
  of a Team Drive.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:19:\"backgroundImageFile\";O:8:\"stdClass\":3:{s:11:\"description\";s:269:\"An
  image file and cropping parameters from which a background image for this Team Drive
  is set. This is a write only field; it can only be set on drive.teamdrives.update
  requests that don't set themeId. When specified, all fields of the backgroundImageFile
  must be set.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"The
  ID of an image file in Drive to use for the background image.\";s:4:\"type\";s:6:\"string\";}s:5:\"width\";O:8:\"stdClass\":3:{s:11:\"description\";s:309:\"The
  width of the cropped image in the closed range of 0 to 1. This value represents
  the width of the cropped image divided by the width of the entire image. The height
  is computed by applying a width to height aspect ratio of 80 to 9. The resulting
  image must be at least 1280 pixels wide and 144 pixels high.\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:11:\"xCoordinate\";O:8:\"stdClass\":3:{s:11:\"description\";s:299:\"The
  X coordinate of the upper left corner of the cropping area in the background image.
  This is a value in the closed range of 0 to 1. This value represents the horizontal
  distance from the left side of the entire image to the left side of the cropping
  area divided by the width of the entire image.\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:11:\"yCoordinate\";O:8:\"stdClass\":3:{s:11:\"description\";s:296:\"The
  Y coordinate of the upper left corner of the cropping area in the background image.
  This is a value in the closed range of 0 to 1. This value represents the vertical
  distance from the top side of the entire image to the top side of the cropping area
  divided by the height of the entire image.\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:19:\"backgroundImageLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"A
  short-lived link to this Team Drive's background image.\";s:4:\"type\";s:6:\"string\";}s:12:\"capabilities\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Capabilities
  the current user has on this Team Drive.\";s:10:\"properties\";O:8:\"stdClass\":14:{s:14:\"canAddChildren\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"Whether
  the current user can add children to folders in this Team Drive.\";s:4:\"type\";s:7:\"boolean\";}s:28:\"canChangeTeamDriveBackground\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"Whether
  the current user can change the background of this Team Drive.\";s:4:\"type\";s:7:\"boolean\";}s:10:\"canComment\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"Whether
  the current user can comment on files in this Team Drive.\";s:4:\"type\";s:7:\"boolean\";}s:7:\"canCopy\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"Whether
  the current user can copy files in this Team Drive.\";s:4:\"type\";s:7:\"boolean\";}s:18:\"canDeleteTeamDrive\";O:8:\"stdClass\":2:{s:11:\"description\";s:155:\"Whether
  the current user can delete this Team Drive. Attempting to delete the Team Drive
  may still fail if there are untrashed items inside the Team Drive.\";s:4:\"type\";s:7:\"boolean\";}s:11:\"canDownload\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"Whether
  the current user can download files in this Team Drive.\";s:4:\"type\";s:7:\"boolean\";}s:7:\"canEdit\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"Whether
  the current user can edit files in this Team Drive\";s:4:\"type\";s:7:\"boolean\";}s:15:\"canListChildren\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"Whether
  the current user can list the children of folders in this Team Drive.\";s:4:\"type\";s:7:\"boolean\";}s:16:\"canManageMembers\";O:8:\"stdClass\":2:{s:11:\"description\";s:96:\"Whether
  the current user can add members to this Team Drive or remove them or change their
  role.\";s:4:\"type\";s:7:\"boolean\";}s:16:\"canReadRevisions\";O:8:\"stdClass\":2:{s:11:\"description\";s:85:\"Whether
  the current user can read the revisions resource of files in this Team Drive.\";s:4:\"type\";s:7:\"boolean\";}s:17:\"canRemoveChildren\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"Whether
  the current user can remove children from folders in this Team Drive.\";s:4:\"type\";s:7:\"boolean\";}s:9:\"canRename\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"Whether
  the current user can rename files or folders in this Team Drive.\";s:4:\"type\";s:7:\"boolean\";}s:18:\"canRenameTeamDrive\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Whether
  the current user can rename this Team Drive.\";s:4:\"type\";s:7:\"boolean\";}s:8:\"canShare\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"Whether
  the current user can share files or folders in this Team Drive.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:8:\"colorRgb\";O:8:\"stdClass\":2:{s:11:\"description\";s:133:\"The
  color of this Team Drive as an RGB hex string. It can only be set on a drive.teamdrives.update
  request that does not set themeId.\";s:4:\"type\";s:6:\"string\";}s:11:\"createdTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"The
  time at which the Team Drive was created (RFC 3339 date-time).\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:91:\"The
  ID of this Team Drive which is also the ID of the top level folder for this Team
  Drive.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:15:\"drive#teamDrive\";s:11:\"description\";s:84:\"Identifies
  what kind of resource this is. Value: the fixed string \"drive#teamDrive\".\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  name of this Team Drive.\";s:4:\"type\";s:6:\"string\";}s:7:\"themeId\";O:8:\"stdClass\":2:{s:11:\"description\";s:400:\"The
  ID of the theme from which the background image and color will be set. The set of
  possible teamDriveThemes can be retrieved from a drive.about.get response. When
  not specified on a drive.teamdrives.create request, a random theme is chosen from
  which the background image and color are set. This is a write-only field; it can
  only be set on requests that don't set colorRgb or backgroundImageFile.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"TeamDriveList\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"A
  list of Team Drives.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:19:\"drive#teamDriveList\";s:11:\"description\";s:88:\"Identifies
  what kind of resource this is. Value: the fixed string \"drive#teamDriveList\".\";s:4:\"type\";s:6:\"string\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:253:\"The
  page token for the next page of Team Drives. This will be absent if the end of the
  Team Drives list has been reached. If the token is rejected for any reason, it should
  be discarded, and pagination should be restarted from the first page of results.\";s:4:\"type\";s:6:\"string\";}s:10:\"teamDrives\";O:8:\"stdClass\":3:{s:11:\"description\";s:141:\"The
  list of Team Drives. If nextPageToken is populated, then this list may be incomplete
  and an additional page of results should be fetched.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/TeamDrive\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:4:\"User\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Information
  about a Drive user.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"A
  plain text displayable name for this user.\";s:4:\"type\";s:6:\"string\";}s:12:\"emailAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:145:\"The
  email address of the user. This may not be present in certain contexts if the user
  has not made their email address visible to the requester.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:10:\"drive#user\";s:11:\"description\";s:79:\"Identifies
  what kind of resource this is. Value: the fixed string \"drive#user\".\";s:4:\"type\";s:6:\"string\";}s:2:\"me\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Whether
  this user is the requesting user.\";s:4:\"type\";s:7:\"boolean\";}s:12:\"permissionId\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"The
  user's ID as visible in Permission resources.\";s:4:\"type\";s:6:\"string\";}s:9:\"photoLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"A
  link to the user's profile photo, if available.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
