---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Google\";s:3:\"url\";s:18:\"https://google.com\";}s:11:\"description\";s:83:\"Manages
  product items, inventory, and Merchant Center accounts for Google Shopping.\";s:5:\"title\";s:24:\"Content
  API for Shopping\";s:7:\"version\";s:2:\"v2\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:37:\"https://console.developers.google.com\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:9:\"ecommerce\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:90:\"https://api.apis.guru/v2/cache/logo/https_cloud.google.com__static_images_new-gcp-logo.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.6.0\";}s:6:\"format\";s:6:\"google\";s:3:\"url\";s:60:\"https://www.googleapis.com/discovery/v1/apis/content/v2/rest\";s:7:\"version\";s:2:\"v1\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"googleapis.com\";s:13:\"x-serviceName\";s:7:\"content\";}"
host: www.googleapis.com
basePath: /content/v2
paths: ~
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":158:{s:7:\"Account\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"Account
  data.\";s:10:\"properties\";O:8:\"stdClass\":10:{s:12:\"adultContent\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"Indicates
  whether the merchant sells adult content.\";s:4:\"type\";s:7:\"boolean\";}s:12:\"adwordsLinks\";O:8:\"stdClass\":3:{s:11:\"description\";s:347:\"List
  of linked AdWords accounts that are active or pending approval. To create a new
  link request, add a new link with status active to the list. It will remain in a
  pending state until approved or rejected either in the AdWords interface or through
  the  AdWords API. To delete an active link, or to cancel a link request, remove
  it from the list.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/AccountAdwordsLink\";}s:4:\"type\";s:5:\"array\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Merchant
  Center account ID.\";s:6:\"format\";s:6:\"uint64\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:15:\"content#account\";s:11:\"description\";s:84:\"Identifies
  what kind of resource this is. Value: the fixed string \"content#account\".\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Display
  name for the account.\";s:4:\"type\";s:6:\"string\";}s:10:\"reviewsUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"URL
  for individual seller reviews, i.e., reviews for each child account.\";s:4:\"type\";s:6:\"string\";}s:8:\"sellerId\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"Client-specific,
  locally-unique, internal ID for the child account.\";s:4:\"type\";s:6:\"string\";}s:5:\"users\";O:8:\"stdClass\":3:{s:11:\"description\";s:107:\"Users
  with access to the account. Every account (except for subaccounts) must have at
  least one admin user.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/AccountUser\";}s:4:\"type\";s:5:\"array\";}s:10:\"websiteUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  merchant's website.\";s:4:\"type\";s:6:\"string\";}s:19:\"youtubeChannelLinks\";O:8:\"stdClass\":3:{s:11:\"description\";s:322:\"List
  of linked YouTube channels that are active or pending approval. To create a new
  link request, add a new link with status active to the list. It will remain in a
  pending state until approved or rejected in the YT Creator Studio interface. To
  delete an active link, or to cancel a link request, remove it from the list.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/AccountYouTubeChannelLink\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:18:\"AccountAdwordsLink\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"adwordsId\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Customer
  ID of the AdWords account.\";s:6:\"format\";s:6:\"uint64\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:656:\"Status
  of the link between this Merchant Center account and the AdWords account. Upon retrieval,
  it represents the actual status of the link and can be either active if it was approved
  in Google AdWords or pending if it's pending approval. Upon insertion, it represents
  the intended status of the link. Re-uploading a link with status active when it's
  still pending or with status pending when it's already active will have no effect:
  the status will remain unchanged. Re-uploading a link with deprecated status inactive
  is equivalent to not submitting the link at all and will delete the link if it was
  active or cancel the link request if it was pending.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"AccountIdentifier\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"aggregatorId\";O:8:\"stdClass\":3:{s:11:\"description\";s:118:\"The
  aggregator ID, set for aggregators and subaccounts (in that case, it represents
  the aggregator of the subaccount).\";s:6:\"format\";s:6:\"uint64\";s:4:\"type\";s:6:\"string\";}s:10:\"merchantId\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"The
  merchant account ID, set for individual accounts and subaccounts.\";s:6:\"format\";s:6:\"uint64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"AccountStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:137:\"The
  status of an account, i.e., information about its products, which is computed offline
  and not returned immediately at insertion time.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"accountId\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"The
  ID of the account for which the status is reported.\";s:4:\"type\";s:6:\"string\";}s:18:\"accountLevelIssues\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"A
  list of account level issues.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/AccountStatusAccountLevelIssue\";}s:4:\"type\";s:5:\"array\";}s:17:\"dataQualityIssues\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"A
  list of data quality issues.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/AccountStatusDataQualityIssue\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:21:\"content#accountStatus\";s:11:\"description\";s:90:\"Identifies
  what kind of resource this is. Value: the fixed string \"content#accountStatus\".\";s:4:\"type\";s:6:\"string\";}s:14:\"websiteClaimed\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Whether
  the account's website is claimed or not.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:30:\"AccountStatusAccountLevelIssue\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"country\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Country
  for which this issue is reported.\";s:4:\"type\";s:6:\"string\";}s:6:\"detail\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Additional
  details about the issue.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Issue
  identifier.\";s:4:\"type\";s:6:\"string\";}s:8:\"severity\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Severity
  of the issue.\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Short
  description of the issue.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:29:\"AccountStatusDataQualityIssue\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:7:\"country\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Country
  for which this issue is reported.\";s:4:\"type\";s:6:\"string\";}s:6:\"detail\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"A
  more detailed description of the issue.\";s:4:\"type\";s:6:\"string\";}s:14:\"displayedValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Actual
  value displayed on the landing page.\";s:4:\"type\";s:6:\"string\";}s:12:\"exampleItems\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Example
  items featuring the issue.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/AccountStatusExampleItem\";}s:4:\"type\";s:5:\"array\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Issue
  identifier.\";s:4:\"type\";s:6:\"string\";}s:11:\"lastChecked\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Last
  time the account was checked for this issue.\";s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"The
  attribute name that is relevant for the issue.\";s:4:\"type\";s:6:\"string\";}s:8:\"numItems\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"Number
  of items in the account found to have the said issue.\";s:6:\"format\";s:6:\"uint32\";s:4:\"type\";s:7:\"integer\";}s:8:\"severity\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Severity
  of the problem.\";s:4:\"type\";s:6:\"string\";}s:14:\"submittedValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Submitted
  value that causes the issue.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:24:\"AccountStatusExampleItem\";O:8:\"stdClass\":3:{s:11:\"description\";s:143:\"An
  example of an item that has poor data quality. An item value on the landing page
  differs from what is submitted, or conflicts with a policy.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"itemId\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"Unique
  item ID as specified in the uploaded product data.\";s:4:\"type\";s:6:\"string\";}s:4:\"link\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Landing
  page of the item.\";s:4:\"type\";s:6:\"string\";}s:14:\"submittedValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  item value that was submitted.\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Title
  of the item.\";s:4:\"type\";s:6:\"string\";}s:18:\"valueOnLandingPage\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  actual value on the landing page.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"AccountTax\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  tax settings of a merchant account.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"accountId\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"The
  ID of the account to which these account tax settings belong.\";s:6:\"format\";s:6:\"uint64\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:18:\"content#accountTax\";s:11:\"description\";s:87:\"Identifies
  what kind of resource this is. Value: the fixed string \"content#accountTax\".\";s:4:\"type\";s:6:\"string\";}s:5:\"rules\";O:8:\"stdClass\":3:{s:11:\"description\";s:132:\"Tax
  rules. Updating the tax rules will enable US taxes (not reversible). Defining no
  rules is equivalent to not charging tax at all.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/AccountTaxTaxRule\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:17:\"AccountTaxTaxRule\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"Tax
  calculation rule to apply in a state or province (USA only).\";s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"country\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Country
  code in which tax is applicable.\";s:4:\"type\";s:6:\"string\";}s:10:\"locationId\";O:8:\"stdClass\":3:{s:11:\"description\";s:107:\"State
  (or province) is which the tax is applicable, described by its location id (also
  called criteria id).\";s:6:\"format\";s:6:\"uint64\";s:4:\"type\";s:6:\"string\";}s:11:\"ratePercent\";O:8:\"stdClass\":2:{s:11:\"description\";s:124:\"Explicit
  tax rate in percent, represented as a floating point number without the percentage
  character. Must not be negative.\";s:4:\"type\";s:6:\"string\";}s:13:\"shippingTaxed\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"If
  true, shipping charges are also taxed.\";s:4:\"type\";s:7:\"boolean\";}s:13:\"useGlobalRate\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"Whether
  the tax rate is taken from a global tax table or specified explicitly.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:11:\"AccountUser\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"admin\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Whether
  user is an admin.\";s:4:\"type\";s:7:\"boolean\";}s:12:\"emailAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"User's
  email address.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:25:\"AccountYouTubeChannelLink\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"channelId\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Channel
  ID.\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:659:\"Status
  of the link between this Merchant Center account and the YouTube channel. Upon retrieval,
  it represents the actual status of the link and can be either active if it was approved
  in YT Creator Studio or pending if it's pending approval. Upon insertion, it represents
  the intended status of the link. Re-uploading a link with status active when it's
  still pending or with status pending when it's already active will have no effect:
  the status will remain unchanged. Re-uploading a link with deprecated status inactive
  is equivalent to not submitting the link at all and will delete the link if it was
  active or cancel the link request if it was pending.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:24:\"AccountsAuthInfoResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:18:\"accountIdentifiers\";O:8:\"stdClass\":3:{s:11:\"description\";s:266:\"The
  account identifiers corresponding to the authenticated user.\n- For an individual
  account: only the merchant ID is defined\n- For an aggregator: only the aggregator
  ID is defined\n- For a subaccount of an MCA: both the merchant ID and the aggregator
  ID are defined.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/AccountIdentifier\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:32:\"content#accountsAuthInfoResponse\";s:11:\"description\";s:101:\"Identifies
  what kind of resource this is. Value: the fixed string \"content#accountsAuthInfoResponse\".\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:28:\"AccountsClaimWebsiteResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:36:\"content#accountsClaimWebsiteResponse\";s:11:\"description\";s:105:\"Identifies
  what kind of resource this is. Value: the fixed string \"content#accountsClaimWebsiteResponse\".\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:26:\"AccountsCustomBatchRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"entries\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  request entries to be processed in the batch.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/AccountsCustomBatchRequestEntry\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:31:\"AccountsCustomBatchRequestEntry\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"A
  batch entry encoding a single non-batch accounts request.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:7:\"account\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Account\";s:11:\"description\";s:80:\"The
  account to create or update. Only defined if the method is insert or update.\";}s:9:\"accountId\";O:8:\"stdClass\":3:{s:11:\"description\";s:90:\"The
  ID of the targeted account. Only defined if the method is get, delete or claimwebsite.\";s:6:\"format\";s:6:\"uint64\";s:4:\"type\";s:6:\"string\";}s:7:\"batchId\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"An
  entry ID, unique within the batch request.\";s:6:\"format\";s:6:\"uint32\";s:4:\"type\";s:7:\"integer\";}s:5:\"force\";O:8:\"stdClass\":2:{s:11:\"description\";s:105:\"Whether
  the account should be deleted if the account has offers. Only applicable if the
  method is delete.\";s:4:\"type\";s:7:\"boolean\";}s:10:\"merchantId\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  ID of the managing account.\";s:6:\"format\";s:6:\"uint64\";s:4:\"type\";s:6:\"string\";}s:6:\"method\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"overwrite\";O:8:\"stdClass\":2:{s:11:\"description\";s:139:\"Only
  applicable if the method is claimwebsite. Indicates whether or not to take the claim
  from another account in case there is a conflict.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:27:\"AccountsCustomBatchResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"entries\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"The
  result of the execution of the batch requests.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/AccountsCustomBatchResponseEntry\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:35:\"content#accountsCustomBatchResponse\";s:11:\"description\";s:104:\"Identifies
  what kind of resource this is. Value: the fixed string \"content#accountsCustomBatchResponse\".\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:32:\"AccountsCustomBatchResponseEntry\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"A
  batch entry encoding a single non-batch accounts response.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"account\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Account\";s:11:\"description\";s:97:\"The
  retrieved, created, or updated account. Not defined if the method was delete or
  claimwebsite.\";}s:7:\"batchId\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  ID of the request entry this entry responds to.\";s:6:\"format\";s:6:\"uint32\";s:4:\"type\";s:7:\"integer\";}s:6:\"errors\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Errors\";s:11:\"description\";s:59:\"A
  list of errors defined if and only if the request failed.\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:40:\"content#accountsCustomBatchResponseEntry\";s:11:\"description\";s:109:\"Identifies
  what kind of resource this is. Value: the fixed string \"content#accountsCustomBatchResponseEntry\".\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"AccountsListResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:28:\"content#accountsListResponse\";s:11:\"description\";s:97:\"Identifies
  what kind of resource this is. Value: the fixed string \"content#accountsListResponse\".\";s:4:\"type\";s:6:\"string\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"The
  token for the retrieval of the next page of accounts.\";s:4:\"type\";s:6:\"string\";}s:9:\"resources\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Account\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:33:\"AccountstatusesCustomBatchRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"entries\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  request entries to be processed in the batch.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:52:\"#/definitions/AccountstatusesCustomBatchRequestEntry\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:38:\"AccountstatusesCustomBatchRequestEntry\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"A
  batch entry encoding a single non-batch accountstatuses request.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"accountId\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"The
  ID of the (sub-)account whose status to get.\";s:6:\"format\";s:6:\"uint64\";s:4:\"type\";s:6:\"string\";}s:7:\"batchId\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"An
  entry ID, unique within the batch request.\";s:6:\"format\";s:6:\"uint32\";s:4:\"type\";s:7:\"integer\";}s:10:\"merchantId\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  ID of the managing account.\";s:6:\"format\";s:6:\"uint64\";s:4:\"type\";s:6:\"string\";}s:6:\"method\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"The
  method (get).\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:34:\"AccountstatusesCustomBatchResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"entries\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"The
  result of the execution of the batch requests.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:53:\"#/definitions/AccountstatusesCustomBatchResponseEntry\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:42:\"content#accountstatusesCustomBatchResponse\";s:11:\"description\";s:111:\"Identifies
  what kind of resource this is. Value: the fixed string \"content#accountstatusesCustomBatchResponse\".\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:39:\"AccountstatusesCustomBatchResponseEntry\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"A
  batch entry encoding a single non-batch accountstatuses response.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"accountStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/AccountStatus\";s:11:\"description\";s:80:\"The
  requested account status. Defined if and only if the request was successful.\";}s:7:\"batchId\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  ID of the request entry this entry responds to.\";s:6:\"format\";s:6:\"uint32\";s:4:\"type\";s:7:\"integer\";}s:6:\"errors\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Errors\";s:11:\"description\";s:59:\"A
  list of errors defined if and only if the request failed.\";}}s:4:\"type\";s:6:\"object\";}s:27:\"AccountstatusesListResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:35:\"content#accountstatusesListResponse\";s:11:\"description\";s:104:\"Identifies
  what kind of resource this is. Value: the fixed string \"content#accountstatusesListResponse\".\";s:4:\"type\";s:6:\"string\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"The
  token for the retrieval of the next page of account statuses.\";s:4:\"type\";s:6:\"string\";}s:9:\"resources\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/AccountStatus\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:28:\"AccounttaxCustomBatchRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"entries\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  request entries to be processed in the batch.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:47:\"#/definitions/AccounttaxCustomBatchRequestEntry\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:33:\"AccounttaxCustomBatchRequestEntry\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"A
  batch entry encoding a single non-batch accounttax request.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"accountId\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"The
  ID of the account for which to get/update account tax settings.\";s:6:\"format\";s:6:\"uint64\";s:4:\"type\";s:6:\"string\";}s:10:\"accountTax\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/AccountTax\";s:11:\"description\";s:73:\"The
  account tax settings to update. Only defined if the method is update.\";}s:7:\"batchId\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"An
  entry ID, unique within the batch request.\";s:6:\"format\";s:6:\"uint32\";s:4:\"type\";s:7:\"integer\";}s:10:\"merchantId\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  ID of the managing account.\";s:6:\"format\";s:6:\"uint64\";s:4:\"type\";s:6:\"string\";}s:6:\"method\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:29:\"AccounttaxCustomBatchResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"entries\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"The
  result of the execution of the batch requests.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:48:\"#/definitions/AccounttaxCustomBatchResponseEntry\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:37:\"content#accounttaxCustomBatchResponse\";s:11:\"description\";s:106:\"Identifies
  what kind of resource this is. Value: the fixed string \"content#accounttaxCustomBatchResponse\".\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:34:\"AccounttaxCustomBatchResponseEntry\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"A
  batch entry encoding a single non-batch accounttax response.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"accountTax\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/AccountTax\";s:11:\"description\";s:46:\"The
  retrieved or updated account tax settings.\";}s:7:\"batchId\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  ID of the request entry this entry responds to.\";s:6:\"format\";s:6:\"uint32\";s:4:\"type\";s:7:\"integer\";}s:6:\"errors\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Errors\";s:11:\"description\";s:59:\"A
  list of errors defined if and only if the request failed.\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:42:\"content#accounttaxCustomBatchResponseEntry\";s:11:\"description\";s:111:\"Identifies
  what kind of resource this is. Value: the fixed string \"content#accounttaxCustomBatchResponseEntry\".\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:22:\"AccounttaxListResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:30:\"content#accounttaxListResponse\";s:11:\"description\";s:99:\"Identifies
  what kind of resource this is. Value: the fixed string \"content#accounttaxListResponse\".\";s:4:\"type\";s:6:\"string\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"The
  token for the retrieval of the next page of account tax settings.\";s:4:\"type\";s:6:\"string\";}s:9:\"resources\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/AccountTax\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:11:\"CarrierRate\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"carrierName\";O:8:\"stdClass\":2:{s:11:\"description\";s:137:\"Carrier
  service, such as \"UPS\" or \"Fedex\". The list of supported carriers can be retrieved
  via the getSupportedCarriers method. Required.\";s:4:\"type\";s:6:\"string\";}s:14:\"carrierService\";O:8:\"stdClass\":2:{s:11:\"description\";s:155:\"Carrier
  service, such as \"ground\" or \"2 days\". The list of supported services for a
  carrier can be retrieved via the getSupportedCarriers method. Required.\";s:4:\"type\";s:6:\"string\";}s:14:\"flatAdjustment\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Price\";s:11:\"description\";s:193:\"Additive
  shipping rate modifier. Can be negative. For example { \"value\": \"1\", \"currency\"
  : \"USD\" } adds $1 to the rate, { \"value\": \"-3\", \"currency\" : \"USD\" } removes
  $3 from the rate. Optional.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"Name
  of the carrier rate. Must be unique per rate group. Required.\";s:4:\"type\";s:6:\"string\";}s:16:\"originPostalCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Shipping
  origin for this carrier rate. Required.\";s:4:\"type\";s:6:\"string\";}s:20:\"percentageAdjustment\";O:8:\"stdClass\":2:{s:11:\"description\";s:174:\"Multiplicative
  shipping rate modifier as a number in decimal notation. Can be negative. For example
  \"5.4\" increases the rate by 5.4%, \"-3\" decreases the rate by 3%. Optional.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"CarriersCarrier\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"country\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"The
  CLDR country code of the carrier (e.g., \"US\"). Always present.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"The
  name of the carrier (e.g., \"UPS\"). Always present.\";s:4:\"type\";s:6:\"string\";}s:8:\"services\";O:8:\"stdClass\":3:{s:11:\"description\";s:94:\"A
  list of supported services (e.g., \"ground\") for that carrier. Contains at least
  one service.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Datafeed\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Datafeed
  configuration data.\";s:10:\"properties\";O:8:\"stdClass\":12:{s:17:\"attributeLanguage\";O:8:\"stdClass\":2:{s:11:\"description\";s:87:\"The
  two-letter ISO 639-1 language in which the attributes are defined in the data feed.\";s:4:\"type\";s:6:\"string\";}s:15:\"contentLanguage\";O:8:\"stdClass\":2:{s:11:\"description\";s:152:\"[DEPRECATED]
  Please use target.language instead. The two-letter ISO 639-1 language of the items
  in the feed. Must be a valid language for targetCountry.\";s:4:\"type\";s:6:\"string\";}s:11:\"contentType\";O:8:\"stdClass\":2:{s:11:\"description\";s:114:\"The
  type of data feed. For product inventory feeds, only feeds for local stores, not
  online stores, are supported.\";s:4:\"type\";s:6:\"string\";}s:13:\"fetchSchedule\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/DatafeedFetchSchedule\";s:11:\"description\";s:33:\"Fetch
  schedule for the feed file.\";}s:8:\"fileName\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"The
  filename of the feed. All feeds must have a unique file name.\";s:4:\"type\";s:6:\"string\";}s:6:\"format\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/DatafeedFormat\";s:11:\"description\";s:24:\"Format
  of the feed file.\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  ID of the data feed.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:20:\"intendedDestinations\";O:8:\"stdClass\":3:{s:11:\"description\";s:150:\"[DEPRECATED]
  Please use target.includedDestination instead. The list of intended destinations
  (corresponds to checked check boxes in Merchant Center).\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:16:\"content#datafeed\";s:11:\"description\";s:85:\"Identifies
  what kind of resource this is. Value: the fixed string \"content#datafeed\".\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"A
  descriptive name of the data feed.\";s:4:\"type\";s:6:\"string\";}s:13:\"targetCountry\";O:8:\"stdClass\":2:{s:11:\"description\";s:163:\"[DEPRECATED]
  Please use target.country instead. The country where the items in the feed will
  be included in the search index, represented as a CLDR territory code.\";s:4:\"type\";s:6:\"string\";}s:7:\"targets\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"The
  targets this feed should apply to (country, language, destinations).\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/DatafeedTarget\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:21:\"DatafeedFetchSchedule\";O:8:\"stdClass\":3:{s:11:\"description\";s:237:\"The
  required fields vary based on the frequency of fetching. For a monthly fetch schedule,
  day_of_month and hour are required. For a weekly fetch schedule, weekday and hour
  are required. For a daily fetch schedule, only hour is required.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:10:\"dayOfMonth\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"The
  day of the month the feed file should be fetched (1-31).\";s:6:\"format\";s:6:\"uint32\";s:4:\"type\";s:7:\"integer\";}s:8:\"fetchUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:231:\"The
  URL where the feed file can be fetched. Google Merchant Center will support automatic
  scheduled uploads using the HTTP, HTTPS, FTP, or SFTP protocols, so the value will
  need to be a valid link using one of those four protocols.\";s:4:\"type\";s:6:\"string\";}s:4:\"hour\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"The
  hour of the day the feed file should be fetched (0-23).\";s:6:\"format\";s:6:\"uint32\";s:4:\"type\";s:7:\"integer\";}s:12:\"minuteOfHour\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"The
  minute of the hour the feed file should be fetched (0-59). Read-only.\";s:6:\"format\";s:6:\"uint32\";s:4:\"type\";s:7:\"integer\";}s:8:\"password\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"An
  optional password for fetch_url.\";s:4:\"type\";s:6:\"string\";}s:6:\"paused\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Whether
  the scheduled fetch is paused or not.\";s:4:\"type\";s:7:\"boolean\";}s:8:\"timeZone\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"Time
  zone used for schedule. UTC by default. E.g., \"America/Los_Angeles\".\";s:4:\"type\";s:6:\"string\";}s:8:\"username\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"An
  optional user name for fetch_url.\";s:4:\"type\";s:6:\"string\";}s:7:\"weekday\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"The
  day of the week the feed file should be fetched.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"DatafeedFormat\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"columnDelimiter\";O:8:\"stdClass\":2:{s:11:\"description\";s:163:\"Delimiter
  for the separation of values in a delimiter-separated values feed. If not specified,
  the delimiter will be auto-detected. Ignored for non-DSV data feeds.\";s:4:\"type\";s:6:\"string\";}s:12:\"fileEncoding\";O:8:\"stdClass\":2:{s:11:\"description\";s:97:\"Character
  encoding scheme of the data feed. If not specified, the encoding will be auto-detected.\";s:4:\"type\";s:6:\"string\";}s:11:\"quotingMode\";O:8:\"stdClass\":2:{s:11:\"description\";s:126:\"Specifies
  how double quotes are interpreted. If not specified, the mode will be auto-detected.
  Ignored for non-DSV data feeds.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"DatafeedStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:142:\"The
  status of a datafeed, i.e., the result of the last retrieval of the datafeed computed
  asynchronously when the feed processing is finished.\";s:10:\"properties\";O:8:\"stdClass\":10:{s:7:\"country\";O:8:\"stdClass\":2:{s:11:\"description\";s:84:\"The
  country for which the status is reported, represented as a  CLDR territory code.\";s:4:\"type\";s:6:\"string\";}s:10:\"datafeedId\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"The
  ID of the feed for which the status is reported.\";s:6:\"format\";s:6:\"uint64\";s:4:\"type\";s:6:\"string\";}s:6:\"errors\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  list of errors occurring in the feed.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/DatafeedStatusError\";}s:4:\"type\";s:5:\"array\";}s:10:\"itemsTotal\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"The
  number of items in the feed that were processed.\";s:6:\"format\";s:6:\"uint64\";s:4:\"type\";s:6:\"string\";}s:10:\"itemsValid\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"The
  number of items in the feed that were valid.\";s:6:\"format\";s:6:\"uint64\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:22:\"content#datafeedStatus\";s:11:\"description\";s:91:\"Identifies
  what kind of resource this is. Value: the fixed string \"content#datafeedStatus\".\";s:4:\"type\";s:6:\"string\";}s:8:\"language\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"The
  two-letter ISO 639-1 language for which the status is reported.\";s:4:\"type\";s:6:\"string\";}s:14:\"lastUploadDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"The
  last date at which the feed was uploaded.\";s:4:\"type\";s:6:\"string\";}s:16:\"processingStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  processing status of the feed.\";s:4:\"type\";s:6:\"string\";}s:8:\"warnings\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  list of errors occurring in the feed.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/DatafeedStatusError\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:19:\"DatafeedStatusError\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"An
  error occurring in the feed, like \"invalid price\".\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"The
  code of the error, e.g., \"validation/invalid_value\".\";s:4:\"type\";s:6:\"string\";}s:5:\"count\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  number of occurrences of the error in the feed.\";s:6:\"format\";s:6:\"uint64\";s:4:\"type\";s:6:\"string\";}s:8:\"examples\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"A
  list of example occurrences of the error, grouped by product.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/DatafeedStatusExample\";}s:4:\"type\";s:5:\"array\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"The
  error message, e.g., \"Invalid price\".\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"DatafeedStatusExample\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"An
  example occurrence for a particular error.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"itemId\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  ID of the example item.\";s:4:\"type\";s:6:\"string\";}s:10:\"lineNumber\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"Line
  number in the data feed where the example is found.\";s:6:\"format\";s:6:\"uint64\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  problematic value.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"DatafeedTarget\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"country\";O:8:\"stdClass\":2:{s:11:\"description\";s:116:\"The
  country where the items in the feed will be included in the search index, represented
  as a  CLDR territory code.\";s:4:\"type\";s:6:\"string\";}s:20:\"excludedDestinations\";O:8:\"stdClass\":3:{s:11:\"description\";s:110:\"The
  list of destinations to exclude for this target (corresponds to unchecked check
  boxes in Merchant Center).\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:20:\"includedDestinations\";O:8:\"stdClass\":3:{s:11:\"description\";s:200:\"The
  list of destinations to include for this target (corresponds to checked check boxes
  in Merchant Center). Default destinations are always included unless provided in
  the excluded_destination field.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:8:\"language\";O:8:\"stdClass\":2:{s:11:\"description\";s:107:\"The
  two-letter ISO 639-1 language of the items in the feed. Must be a valid language
  for targets[].country.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:27:\"DatafeedsCustomBatchRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"entries\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  request entries to be processed in the batch.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/DatafeedsCustomBatchRequestEntry\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:32:\"DatafeedsCustomBatchRequestEntry\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"A
  batch entry encoding a single non-batch datafeeds request.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"batchId\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"An
  entry ID, unique within the batch request.\";s:6:\"format\";s:6:\"uint32\";s:4:\"type\";s:7:\"integer\";}s:8:\"datafeed\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Datafeed\";s:11:\"description\";s:24:\"The
  data feed to insert.\";}s:10:\"datafeedId\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  ID of the data feed to get or delete.\";s:6:\"format\";s:6:\"uint64\";s:4:\"type\";s:6:\"string\";}s:10:\"merchantId\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  ID of the managing account.\";s:6:\"format\";s:6:\"uint64\";s:4:\"type\";s:6:\"string\";}s:6:\"method\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:28:\"DatafeedsCustomBatchResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"entries\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"The
  result of the execution of the batch requests.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:47:\"#/definitions/DatafeedsCustomBatchResponseEntry\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:36:\"content#datafeedsCustomBatchResponse\";s:11:\"description\";s:105:\"Identifies
  what kind of resource this is. Value: the fixed string \"content#datafeedsCustomBatchResponse\".\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:33:\"DatafeedsCustomBatchResponseEntry\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"A
  batch entry encoding a single non-batch datafeeds response.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"batchId\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  ID of the request entry this entry responds to.\";s:6:\"format\";s:6:\"uint32\";s:4:\"type\";s:7:\"integer\";}s:8:\"datafeed\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Datafeed\";s:11:\"description\";s:75:\"The
  requested data feed. Defined if and only if the request was successful.\";}s:6:\"errors\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Errors\";s:11:\"description\";s:59:\"A
  list of errors defined if and only if the request failed.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"DatafeedsListResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:29:\"content#datafeedsListResponse\";s:11:\"description\";s:98:\"Identifies
  what kind of resource this is. Value: the fixed string \"content#datafeedsListResponse\".\";s:4:\"type\";s:6:\"string\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"The
  token for the retrieval of the next page of datafeeds.\";s:4:\"type\";s:6:\"string\";}s:9:\"resources\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Datafeed\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:34:\"DatafeedstatusesCustomBatchRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"entries\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  request entries to be processed in the batch.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:53:\"#/definitions/DatafeedstatusesCustomBatchRequestEntry\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:39:\"DatafeedstatusesCustomBatchRequestEntry\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"A
  batch entry encoding a single non-batch datafeedstatuses request.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"batchId\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"An
  entry ID, unique within the batch request.\";s:6:\"format\";s:6:\"uint32\";s:4:\"type\";s:7:\"integer\";}s:7:\"country\";O:8:\"stdClass\":2:{s:11:\"description\";s:181:\"The
  country for which to get the datafeed status. If this parameter is provided then
  language must also be provided. Note that for multi-target datafeeds this parameter
  is required.\";s:4:\"type\";s:6:\"string\";}s:10:\"datafeedId\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  ID of the data feed to get.\";s:6:\"format\";s:6:\"uint64\";s:4:\"type\";s:6:\"string\";}s:8:\"language\";O:8:\"stdClass\":2:{s:11:\"description\";s:181:\"The
  language for which to get the datafeed status. If this parameter is provided then
  country must also be provided. Note that for multi-target datafeeds this parameter
  is required.\";s:4:\"type\";s:6:\"string\";}s:10:\"merchantId\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  ID of the managing account.\";s:6:\"format\";s:6:\"uint64\";s:4:\"type\";s:6:\"string\";}s:6:\"method\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:35:\"DatafeedstatusesCustomBatchResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"entries\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"The
  result of the execution of the batch requests.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:54:\"#/definitions/DatafeedstatusesCustomBatchResponseEntry\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:43:\"content#datafeedstatusesCustomBatchResponse\";s:11:\"description\";s:112:\"Identifies
  what kind of resource this is. Value: the fixed string \"content#datafeedstatusesCustomBatchResponse\".\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:40:\"DatafeedstatusesCustomBatchResponseEntry\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"A
  batch entry encoding a single non-batch datafeedstatuses response.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"batchId\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  ID of the request entry this entry responds to.\";s:6:\"format\";s:6:\"uint32\";s:4:\"type\";s:7:\"integer\";}s:14:\"datafeedStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/DatafeedStatus\";s:11:\"description\";s:82:\"The
  requested data feed status. Defined if and only if the request was successful.\";}s:6:\"errors\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Errors\";s:11:\"description\";s:59:\"A
  list of errors defined if and only if the request failed.\";}}s:4:\"type\";s:6:\"object\";}s:28:\"DatafeedstatusesListResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:36:\"content#datafeedstatusesListResponse\";s:11:\"description\";s:105:\"Identifies
  what kind of resource this is. Value: the fixed string \"content#datafeedstatusesListResponse\".\";s:4:\"type\";s:6:\"string\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"The
  token for the retrieval of the next page of datafeed statuses.\";s:4:\"type\";s:6:\"string\";}s:9:\"resources\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/DatafeedStatus\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:12:\"DeliveryTime\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:20:\"maxTransitTimeInDays\";O:8:\"stdClass\":3:{s:11:\"description\";s:176:\"Maximum
  number of business days that is spent in transit. 0 means same day delivery, 1 means
  next day delivery. Must be greater than or equal to minTransitTimeInDays. Required.\";s:6:\"format\";s:6:\"uint32\";s:4:\"type\";s:7:\"integer\";}s:20:\"minTransitTimeInDays\";O:8:\"stdClass\":3:{s:11:\"description\";s:121:\"Minimum
  number of business days that is spent in transit. 0 means same day delivery, 1 means
  next day delivery. Required.\";s:6:\"format\";s:6:\"uint32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Error\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"An
  error returned by the API.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"domain\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  domain of the error.\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"A
  description of the error.\";s:4:\"type\";s:6:\"string\";}s:6:\"reason\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"The
  error code.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Errors\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"A
  list of errors returned by a failed batch entry.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"The
  HTTP status of the first error in errors.\";s:6:\"format\";s:6:\"uint32\";s:4:\"type\";s:7:\"integer\";}s:6:\"errors\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"A
  list of errors.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Error\";}s:4:\"type\";s:5:\"array\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"The
  message of the first error in errors.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Headers\";O:8:\"stdClass\":3:{s:11:\"description\";s:144:\"A
  non-empty list of row or column headers for a table. Exactly one of prices, weights,
  numItems, postalCodeGroupNames, or locations must be set.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"locations\";O:8:\"stdClass\":3:{s:11:\"description\";s:95:\"A
  list of location ID sets. Must be non-empty. Can only be set if all other fields
  are not set.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/LocationIdSet\";}s:4:\"type\";s:5:\"array\";}s:13:\"numberOfItems\";O:8:\"stdClass\":3:{s:11:\"description\";s:239:\"A
  list of inclusive number of items upper bounds. The last value can be \"infinity\".
  For example [\"10\", \"50\", \"infinity\"] represents the headers \"<= 10 items\",
  \" 50 items\". Must be non-empty. Can only be set if all other fields are not set.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:20:\"postalCodeGroupNames\";O:8:\"stdClass\":3:{s:11:\"description\";s:276:\"A
  list of postal group names. The last value can be \"all other locations\". Example:
  [\"zone 1\", \"zone 2\", \"all other locations\"]. The referred postal code groups
  must match the delivery country of the service. Must be non-empty. Can only be set
  if all other fields are not set.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:6:\"prices\";O:8:\"stdClass\":3:{s:11:\"description\";s:309:\"be
  \"infinity\". For example [{\"value\": \"10\", \"currency\": \"USD\"}, {\"value\":
  \"500\", \"currency\": \"USD\"}, {\"value\": \"infinity\", \"currency\": \"USD\"}]
  represents the headers \"<= $10\", \" $500\". All prices within a service must have
  the same currency. Must be non-empty. Can only be set if all other fields are not
  set.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Price\";}s:4:\"type\";s:5:\"array\";}s:7:\"weights\";O:8:\"stdClass\":3:{s:11:\"description\";s:291:\"be
  \"infinity\". For example [{\"value\": \"10\", \"unit\": \"kg\"}, {\"value\": \"50\",
  \"unit\": \"kg\"}, {\"value\": \"infinity\", \"unit\": \"kg\"}] represents the headers
  \"<= 10kg\", \" 50kg\". All weights within a service must have the same unit. Must
  be non-empty. Can only be set if all other fields are not set.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Weight\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:11:\"Installment\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"amount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Price\";s:11:\"description\";s:42:\"The
  amount the buyer has to pay per month.\";}s:6:\"months\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"The
  number of installments the buyer has to pay.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"Inventory\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:12:\"availability\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  availability of the product.\";s:4:\"type\";s:6:\"string\";}s:11:\"installment\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Installment\";s:11:\"description\";s:66:\"Number
  and amount of installments to pay for an item. Brazil only.\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:17:\"content#inventory\";s:11:\"description\";s:86:\"Identifies
  what kind of resource this is. Value: the fixed string \"content#inventory\".\";s:4:\"type\";s:6:\"string\";}s:13:\"loyaltyPoints\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/LoyaltyPoints\";s:11:\"description\";s:72:\"Loyalty
  points that users receive after purchasing the item. Japan only.\";}s:6:\"pickup\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/InventoryPickup\";s:11:\"description\";s:266:\"Store
  pickup information. Only supported for local inventory. Not setting pickup means
  \"don't update\" while setting it to the empty value ({} in JSON) means \"delete\".
  Otherwise, pickupMethod and pickupSla must be set together, unless pickupMethod
  is \"not supported\".\";}s:5:\"price\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Price\";s:11:\"description\";s:25:\"The
  price of the product.\";}s:8:\"quantity\";O:8:\"stdClass\":3:{s:11:\"description\";s:102:\"The
  quantity of the product. Must be equal to or greater than zero. Supported only for
  local products.\";s:6:\"format\";s:6:\"uint32\";s:4:\"type\";s:7:\"integer\";}s:9:\"salePrice\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Price\";s:11:\"description\";s:81:\"The
  sale price of the product. Mandatory if sale_price_effective_date is defined.\";}s:22:\"salePriceEffectiveDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:145:\"A
  date range represented by a pair of ISO 8601 dates separated by a space, comma,
  or slash. Both dates might be specified as 'null' if undecided.\";s:4:\"type\";s:6:\"string\";}s:20:\"sellOnGoogleQuantity\";O:8:\"stdClass\":3:{s:11:\"description\";s:104:\"The
  quantity of the product that is reserved for sell-on-google ads. Supported only
  for online products.\";s:6:\"format\";s:6:\"uint32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:27:\"InventoryCustomBatchRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"entries\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  request entries to be processed in the batch.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/InventoryCustomBatchRequestEntry\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:32:\"InventoryCustomBatchRequestEntry\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"A
  batch entry encoding a single non-batch inventory request.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"batchId\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"An
  entry ID, unique within the batch request.\";s:6:\"format\";s:6:\"uint32\";s:4:\"type\";s:7:\"integer\";}s:9:\"inventory\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Inventory\";s:11:\"description\";s:38:\"Price
  and availability of the product.\";}s:10:\"merchantId\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  ID of the managing account.\";s:6:\"format\";s:6:\"uint64\";s:4:\"type\";s:6:\"string\";}s:9:\"productId\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"The
  ID of the product for which to update price and availability.\";s:4:\"type\";s:6:\"string\";}s:9:\"storeCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:131:\"The
  code of the store for which to update price and availability. Use online to update
  price and availability of an online product.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:28:\"InventoryCustomBatchResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"entries\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"The
  result of the execution of the batch requests.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:47:\"#/definitions/InventoryCustomBatchResponseEntry\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:36:\"content#inventoryCustomBatchResponse\";s:11:\"description\";s:105:\"Identifies
  what kind of resource this is. Value: the fixed string \"content#inventoryCustomBatchResponse\".\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:33:\"InventoryCustomBatchResponseEntry\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"A
  batch entry encoding a single non-batch inventory response.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"batchId\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  ID of the request entry this entry responds to.\";s:6:\"format\";s:6:\"uint32\";s:4:\"type\";s:7:\"integer\";}s:6:\"errors\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Errors\";s:11:\"description\";s:59:\"A
  list of errors defined if and only if the request failed.\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:41:\"content#inventoryCustomBatchResponseEntry\";s:11:\"description\";s:110:\"Identifies
  what kind of resource this is. Value: the fixed string \"content#inventoryCustomBatchResponseEntry\".\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"InventoryPickup\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"pickupMethod\";O:8:\"stdClass\":2:{s:11:\"description\";s:245:\"Whether
  store pickup is available for this offer and whether the pickup option should be
  shown as buy, reserve, or not supported. Only supported for local inventory. Unless
  the value is \"not supported\", must be submitted together with pickupSla.\";s:4:\"type\";s:6:\"string\";}s:9:\"pickupSla\";O:8:\"stdClass\":2:{s:11:\"description\";s:177:\"The
  expected date that an order will be ready for pickup, relative to when the order
  is placed. Only supported for local inventory. Must be submitted together with pickupMethod.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"InventorySetRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:12:\"availability\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  availability of the product.\";s:4:\"type\";s:6:\"string\";}s:11:\"installment\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Installment\";s:11:\"description\";s:66:\"Number
  and amount of installments to pay for an item. Brazil only.\";}s:13:\"loyaltyPoints\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/LoyaltyPoints\";s:11:\"description\";s:72:\"Loyalty
  points that users receive after purchasing the item. Japan only.\";}s:6:\"pickup\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/InventoryPickup\";s:11:\"description\";s:266:\"Store
  pickup information. Only supported for local inventory. Not setting pickup means
  \"don't update\" while setting it to the empty value ({} in JSON) means \"delete\".
  Otherwise, pickupMethod and pickupSla must be set together, unless pickupMethod
  is \"not supported\".\";}s:5:\"price\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Price\";s:11:\"description\";s:25:\"The
  price of the product.\";}s:8:\"quantity\";O:8:\"stdClass\":3:{s:11:\"description\";s:102:\"The
  quantity of the product. Must be equal to or greater than zero. Supported only for
  local products.\";s:6:\"format\";s:6:\"uint32\";s:4:\"type\";s:7:\"integer\";}s:9:\"salePrice\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Price\";s:11:\"description\";s:81:\"The
  sale price of the product. Mandatory if sale_price_effective_date is defined.\";}s:22:\"salePriceEffectiveDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:145:\"A
  date range represented by a pair of ISO 8601 dates separated by a space, comma,
  or slash. Both dates might be specified as 'null' if undecided.\";s:4:\"type\";s:6:\"string\";}s:20:\"sellOnGoogleQuantity\";O:8:\"stdClass\":3:{s:11:\"description\";s:104:\"The
  quantity of the product that is reserved for sell-on-google ads. Supported only
  for online products.\";s:6:\"format\";s:6:\"uint32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:20:\"InventorySetResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:28:\"content#inventorySetResponse\";s:11:\"description\";s:97:\"Identifies
  what kind of resource this is. Value: the fixed string \"content#inventorySetResponse\".\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"LocationIdSet\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"locationIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:91:\"A
  non-empty list of location IDs. They must all be of the same location type (e.g.,
  state).\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:13:\"LoyaltyPoints\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:119:\"Name
  of loyalty points program. It is recommended to limit the name to 12 full-width
  characters or 24 Roman characters.\";s:4:\"type\";s:6:\"string\";}s:11:\"pointsValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"The
  retailer's loyalty points in absolute value.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:5:\"ratio\";O:8:\"stdClass\":3:{s:11:\"description\";s:149:\"The
  ratio of a point when converted to currency. Google assumes currency based on Merchant
  Center settings. If ratio is left out, it defaults to 1.0.\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Order\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":20:{s:12:\"acknowledged\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Whether
  the order was acknowledged.\";s:4:\"type\";s:7:\"boolean\";}s:11:\"channelType\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"The
  channel type of the order: \"purchaseOnGoogle\" or \"googleExpress\".\";s:4:\"type\";s:6:\"string\";}s:8:\"customer\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/OrderCustomer\";s:11:\"description\";s:49:\"The
  details of the customer who placed the order.\";}s:15:\"deliveryDetails\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/OrderDeliveryDetails\";s:11:\"description\";s:29:\"The
  details for the delivery.\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"The
  REST id of the order. Globally unique.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:13:\"content#order\";s:11:\"description\";s:82:\"Identifies
  what kind of resource this is. Value: the fixed string \"content#order\".\";s:4:\"type\";s:6:\"string\";}s:9:\"lineItems\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Line
  items that are ordered.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/OrderLineItem\";}s:4:\"type\";s:5:\"array\";}s:10:\"merchantId\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"uint64\";s:4:\"type\";s:6:\"string\";}s:15:\"merchantOrderId\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Merchant-provided
  id of the order.\";s:4:\"type\";s:6:\"string\";}s:9:\"netAmount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Price\";s:11:\"description\";s:156:\"The
  net amount for the order. For example, if an order was originally for a grand total
  of $100 and a refund was issued for $20, the net amount will be $80.\";}s:13:\"paymentMethod\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/OrderPaymentMethod\";s:11:\"description\";s:34:\"The
  details of the payment method.\";}s:13:\"paymentStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  status of the payment.\";s:4:\"type\";s:6:\"string\";}s:10:\"placedDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"The
  date when the order was placed, in ISO 8601 format.\";s:4:\"type\";s:6:\"string\";}s:10:\"promotions\";O:8:\"stdClass\":3:{s:11:\"description\";s:110:\"The
  details of the merchant provided promotions applied to the order. More details about
  the program are here.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/OrderPromotion\";}s:4:\"type\";s:5:\"array\";}s:7:\"refunds\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Refunds
  for the order.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/OrderRefund\";}s:4:\"type\";s:5:\"array\";}s:9:\"shipments\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Shipments
  of the order.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/OrderShipment\";}s:4:\"type\";s:5:\"array\";}s:12:\"shippingCost\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Price\";s:11:\"description\";s:41:\"The
  total cost of shipping for all items.\";}s:15:\"shippingCostTax\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Price\";s:11:\"description\";s:36:\"The
  tax for the total shipping cost.\";}s:14:\"shippingOption\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  requested shipping option.\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  status of the order.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"OrderAddress\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:7:\"country\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"CLDR
  country code (e.g. \"US\").\";s:4:\"type\";s:6:\"string\";}s:11:\"fullAddress\";O:8:\"stdClass\":3:{s:11:\"description\";s:163:\"Strings
  representing the lines of the printed label for mailing the order, for example:\nJohn
  Smith\n1600 Amphitheatre Parkway\nMountain View, CA, 94043\nUnited States\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:15:\"isPostOfficeBox\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Whether
  the address is a post office box.\";s:4:\"type\";s:7:\"boolean\";}s:8:\"locality\";O:8:\"stdClass\":2:{s:11:\"description\";s:110:\"City,
  town or commune. May also include dependent localities or sublocalities (e.g. neighborhoods
  or suburbs).\";s:4:\"type\";s:6:\"string\";}s:10:\"postalCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Postal
  Code or ZIP (e.g. \"94043\").\";s:4:\"type\";s:6:\"string\";}s:13:\"recipientName\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Name
  of the recipient.\";s:4:\"type\";s:6:\"string\";}s:6:\"region\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"Top-level
  administrative subdivision of the country (e.g. \"CA\").\";s:4:\"type\";s:6:\"string\";}s:13:\"streetAddress\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Street-level
  part of the address.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:17:\"OrderCancellation\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:5:\"actor\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  actor that created the cancellation.\";s:4:\"type\";s:6:\"string\";}s:12:\"creationDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"Date
  on which the cancellation has been created, in ISO 8601 format.\";s:4:\"type\";s:6:\"string\";}s:8:\"quantity\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  quantity that was canceled.\";s:6:\"format\";s:6:\"uint32\";s:4:\"type\";s:7:\"integer\";}s:6:\"reason\";O:8:\"stdClass\":2:{s:11:\"description\";s:215:\"The
  reason for the cancellation. Orders that are cancelled with a noInventory reason
  will lead to the removal of the product from POG until you make an update to that
  product. This will not affect your Shopping ads.\";s:4:\"type\";s:6:\"string\";}s:10:\"reasonText\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  explanation of the reason.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"OrderCustomer\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Email
  address of the customer.\";s:4:\"type\";s:6:\"string\";}s:27:\"explicitMarketingPreference\";O:8:\"stdClass\":2:{s:11:\"description\";s:288:\"If
  set, this indicates the user explicitly chose to opt in or out of providing marketing
  rights to the merchant. If unset, this indicates the user has already made this
  choice in a previous purchase, and was thus not shown the marketing right opt in/out
  checkbox during the checkout flow.\";s:4:\"type\";s:7:\"boolean\";}s:8:\"fullName\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Full
  name of the customer.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"OrderDeliveryDetails\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"address\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/OrderAddress\";s:11:\"description\";s:20:\"The
  delivery address\";}s:11:\"phoneNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"The
  phone number of the person receiving the delivery.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"OrderLineItem\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":15:{s:13:\"cancellations\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Cancellations
  of the line item.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/OrderCancellation\";}s:4:\"type\";s:5:\"array\";}s:11:\"channelType\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"The
  channel type of the order: \"purchaseOnGoogle\" or \"googleExpress\".\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  id of the line item.\";s:4:\"type\";s:6:\"string\";}s:5:\"price\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Price\";s:11:\"description\";s:108:\"Total
  price for the line item. For example, if two items for $10 are purchased, the total
  price will be $20.\";}s:7:\"product\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/OrderLineItemProduct\";s:11:\"description\";s:50:\"Product
  data from the time of the order placement.\";}s:16:\"quantityCanceled\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Number
  of items canceled.\";s:6:\"format\";s:6:\"uint32\";s:4:\"type\";s:7:\"integer\";}s:17:\"quantityDelivered\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Number
  of items delivered.\";s:6:\"format\";s:6:\"uint32\";s:4:\"type\";s:7:\"integer\";}s:15:\"quantityOrdered\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Number
  of items ordered.\";s:6:\"format\";s:6:\"uint32\";s:4:\"type\";s:7:\"integer\";}s:15:\"quantityPending\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Number
  of items pending.\";s:6:\"format\";s:6:\"uint32\";s:4:\"type\";s:7:\"integer\";}s:16:\"quantityReturned\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Number
  of items returned.\";s:6:\"format\";s:6:\"uint32\";s:4:\"type\";s:7:\"integer\";}s:15:\"quantityShipped\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Number
  of items shipped.\";s:6:\"format\";s:6:\"uint32\";s:4:\"type\";s:7:\"integer\";}s:10:\"returnInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/OrderLineItemReturnInfo\";s:11:\"description\";s:47:\"Details
  of the return policy for the line item.\";}s:7:\"returns\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Returns
  of the line item.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/OrderReturn\";}s:4:\"type\";s:5:\"array\";}s:15:\"shippingDetails\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/OrderLineItemShippingDetails\";s:11:\"description\";s:52:\"Details
  of the requested shipping for the line item.\";}s:3:\"tax\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Price\";s:11:\"description\";s:141:\"Total
  tax amount for the line item. For example, if two items are purchased, and each
  have a cost tax of $2, the total tax amount will be $4.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"OrderLineItemProduct\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":15:{s:5:\"brand\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Brand
  of the item.\";s:4:\"type\";s:6:\"string\";}s:7:\"channel\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  item's channel (online or local).\";s:4:\"type\";s:6:\"string\";}s:9:\"condition\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Condition
  or state of the item.\";s:4:\"type\";s:6:\"string\";}s:15:\"contentLanguage\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"The
  two-letter ISO 639-1 language code for the item.\";s:4:\"type\";s:6:\"string\";}s:4:\"gtin\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Global
  Trade Item Number (GTIN) of the item.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  REST id of the product.\";s:4:\"type\";s:6:\"string\";}s:9:\"imageLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"URL
  of an image of the item.\";s:4:\"type\";s:6:\"string\";}s:11:\"itemGroupId\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"Shared
  identifier for all variants of the same product.\";s:4:\"type\";s:6:\"string\";}s:3:\"mpn\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Manufacturer
  Part Number (MPN) of the item.\";s:4:\"type\";s:6:\"string\";}s:7:\"offerId\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"An
  identifier of the item.\";s:4:\"type\";s:6:\"string\";}s:5:\"price\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Price\";s:11:\"description\";s:18:\"Price
  of the item.\";}s:10:\"shownImage\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"URL
  to the cached image shown to the user when order was placed.\";s:4:\"type\";s:6:\"string\";}s:13:\"targetCountry\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"The
  CLDR territory code of the target country of the product.\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  title of the product.\";s:4:\"type\";s:6:\"string\";}s:17:\"variantAttributes\";O:8:\"stdClass\":3:{s:11:\"description\";s:183:\"Variant
  attributes for the item. These are dimensions of the product, such as color, gender,
  material, pattern, and size. You can find a comprehensive list of variant attributes
  here.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:50:\"#/definitions/OrderLineItemProductVariantAttribute\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:36:\"OrderLineItemProductVariantAttribute\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"dimension\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  dimension of the variant.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  value for the dimension.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:23:\"OrderLineItemReturnInfo\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"daysToReturn\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"How
  many days later the item can be returned.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"isReturnable\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Whether
  the item is returnable.\";s:4:\"type\";s:7:\"boolean\";}s:9:\"policyUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"URL
  of the item return policy.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:28:\"OrderLineItemShippingDetails\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"deliverByDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"The
  delivery by date, in ISO 8601 format.\";s:4:\"type\";s:6:\"string\";}s:6:\"method\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:48:\"#/definitions/OrderLineItemShippingDetailsMethod\";s:11:\"description\";s:31:\"Details
  of the shipping method.\";}s:10:\"shipByDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  ship by date, in ISO 8601 format.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:34:\"OrderLineItemShippingDetailsMethod\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"carrier\";O:8:\"stdClass\":2:{s:11:\"description\";s:96:\"The
  carrier for the shipping. Optional. See shipments[].carrier for a list of acceptable
  values.\";s:4:\"type\";s:6:\"string\";}s:16:\"maxDaysInTransit\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Maximum
  transit time.\";s:6:\"format\";s:6:\"uint32\";s:4:\"type\";s:7:\"integer\";}s:10:\"methodName\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  name of the shipping method.\";s:4:\"type\";s:6:\"string\";}s:16:\"minDaysInTransit\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Minimum
  transit time.\";s:6:\"format\";s:6:\"uint32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:18:\"OrderPaymentMethod\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:14:\"billingAddress\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/OrderAddress\";s:11:\"description\";s:20:\"The
  billing address.\";}s:15:\"expirationMonth\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"The
  card expiration month (January = 1, February = 2 etc.).\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:14:\"expirationYear\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  card expiration year (4-digit, e.g. 2015).\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:14:\"lastFourDigits\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  last four digits of the card number.\";s:4:\"type\";s:6:\"string\";}s:11:\"phoneNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  billing phone number.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:127:\"The
  type of instrument.\n\nAcceptable values are:  \n- \"AMEX\" \n- \"DISCOVER\" \n-
  \"JCB\" \n- \"MASTERCARD\" \n- \"UNIONPAY\" \n- \"VISA\" \n- \"\"\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"OrderPromotion\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:8:\"benefits\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/OrderPromotionBenefit\";}s:4:\"type\";s:5:\"array\";}s:14:\"effectiveDates\";O:8:\"stdClass\":2:{s:11:\"description\";s:491:\"The
  date and time frame when the promotion is active and ready for validation review.
  Note that the promotion live time may be delayed for a few hours due to the validation
  review.\nStart date and end date are separated by a forward slash (/). The start
  date is specified by the format (YYYY-MM-DD), followed by the letter ?T?, the time
  of the day when the sale starts (in Greenwich Mean Time, GMT), followed by an expression
  of the time zone for the sale. The end date is in the same format.\";s:4:\"type\";s:6:\"string\";}s:21:\"genericRedemptionCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:97:\"Optional.
  The text code that corresponds to the promotion when applied on the retailer?s website.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  unique ID of the promotion.\";s:4:\"type\";s:6:\"string\";}s:9:\"longTitle\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  full title of the promotion.\";s:4:\"type\";s:6:\"string\";}s:20:\"productApplicability\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"Whether
  the promotion is applicable to all products or only specific products.\";s:4:\"type\";s:6:\"string\";}s:17:\"redemptionChannel\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Indicates
  that the promotion is valid online.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"OrderPromotionBenefit\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"discount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Price\";s:11:\"description\";s:62:\"The
  discount in the order price when the promotion is applied.\";}s:8:\"offerIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:99:\"The
  OfferId(s) that were purchased in this order and map to this specific benefit of
  the promotion.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"subType\";O:8:\"stdClass\":2:{s:11:\"description\";s:131:\"Further
  describes the benefit of the promotion. Note that we will expand on this enumeration
  as we support new promotion sub-types.\";s:4:\"type\";s:6:\"string\";}s:9:\"taxImpact\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Price\";s:11:\"description\";s:48:\"The
  impact on tax when the promotion is applied.\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:103:\"Describes
  whether the promotion applies to products (e.g. 20% off) or to shipping (e.g. Free
  Shipping).\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"OrderRefund\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:5:\"actor\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  actor that created the refund.\";s:4:\"type\";s:6:\"string\";}s:6:\"amount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Price\";s:11:\"description\";s:28:\"The
  amount that is refunded.\";}s:12:\"creationDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"Date
  on which the item has been created, in ISO 8601 format.\";s:4:\"type\";s:6:\"string\";}s:6:\"reason\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  reason for the refund.\";s:4:\"type\";s:6:\"string\";}s:10:\"reasonText\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  explanation of the reason.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"OrderReturn\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:5:\"actor\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  actor that created the refund.\";s:4:\"type\";s:6:\"string\";}s:12:\"creationDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"Date
  on which the item has been created, in ISO 8601 format.\";s:4:\"type\";s:6:\"string\";}s:8:\"quantity\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Quantity
  that is returned.\";s:6:\"format\";s:6:\"uint32\";s:4:\"type\";s:7:\"integer\";}s:6:\"reason\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  reason for the return.\";s:4:\"type\";s:6:\"string\";}s:10:\"reasonText\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  explanation of the reason.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"OrderShipment\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:7:\"carrier\";O:8:\"stdClass\":2:{s:11:\"description\";s:377:\"The
  carrier handling the shipment.\n\nAcceptable values are:  \n- \"gsx\" \n- \"ups\"
  \n- \"united parcel service\" \n- \"usps\" \n- \"united states postal service\"
  \n- \"fedex\" \n- \"dhl\" \n- \"ecourier\" \n- \"cxt\" \n- \"google\" \n- \"on trac\"
  \n- \"ontrac\" \n- \"on-trac\" \n- \"on_trac\" \n- \"delvic\" \n- \"dynamex\" \n-
  \"lasership\" \n- \"smartpost\" \n- \"fedex smartpost\" \n- \"mpx\" \n- \"uds\"
  \n- \"united delivery service\"\";s:4:\"type\";s:6:\"string\";}s:12:\"creationDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"Date
  on which the shipment has been created, in ISO 8601 format.\";s:4:\"type\";s:6:\"string\";}s:12:\"deliveryDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:103:\"Date
  on which the shipment has been delivered, in ISO 8601 format. Present only if status
  is delievered\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  id of the shipment.\";s:4:\"type\";s:6:\"string\";}s:9:\"lineItems\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"The
  line items that are shipped.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/OrderShipmentLineItemShipment\";}s:4:\"type\";s:5:\"array\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  status of the shipment.\";s:4:\"type\";s:6:\"string\";}s:10:\"trackingId\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  tracking id for the shipment.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:29:\"OrderShipmentLineItemShipment\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"lineItemId\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  id of the line item that is shipped.\";s:4:\"type\";s:6:\"string\";}s:8:\"quantity\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  quantity that is shipped.\";s:6:\"format\";s:6:\"uint32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:24:\"OrdersAcknowledgeRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"operationId\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"The
  ID of the operation. Unique across all operations for a given order.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:25:\"OrdersAcknowledgeResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"executionStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  status of the execution.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:33:\"content#ordersAcknowledgeResponse\";s:11:\"description\";s:102:\"Identifies
  what kind of resource this is. Value: the fixed string \"content#ordersAcknowledgeResponse\".\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:30:\"OrdersAdvanceTestOrderResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:38:\"content#ordersAdvanceTestOrderResponse\";s:11:\"description\";s:107:\"Identifies
  what kind of resource this is. Value: the fixed string \"content#ordersAdvanceTestOrderResponse\".\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:27:\"OrdersCancelLineItemRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:6:\"amount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Price\";s:11:\"description\";s:212:\"Amount
  to refund for the cancelation. Optional. If not set, Google will calculate the default
  based on the price and tax of the items involved. The amount must not be larger
  than the net amount left on the order.\";}s:10:\"lineItemId\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  ID of the line item to cancel.\";s:4:\"type\";s:6:\"string\";}s:11:\"operationId\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"The
  ID of the operation. Unique across all operations for a given order.\";s:4:\"type\";s:6:\"string\";}s:8:\"quantity\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"The
  quantity to cancel.\";s:6:\"format\";s:6:\"uint32\";s:4:\"type\";s:7:\"integer\";}s:6:\"reason\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  reason for the cancellation.\";s:4:\"type\";s:6:\"string\";}s:10:\"reasonText\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  explanation of the reason.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:28:\"OrdersCancelLineItemResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"executionStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  status of the execution.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:36:\"content#ordersCancelLineItemResponse\";s:11:\"description\";s:105:\"Identifies
  what kind of resource this is. Value: the fixed string \"content#ordersCancelLineItemResponse\".\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"OrdersCancelRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"operationId\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"The
  ID of the operation. Unique across all operations for a given order.\";s:4:\"type\";s:6:\"string\";}s:6:\"reason\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  reason for the cancellation.\";s:4:\"type\";s:6:\"string\";}s:10:\"reasonText\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  explanation of the reason.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"OrdersCancelResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"executionStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  status of the execution.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:28:\"content#ordersCancelResponse\";s:11:\"description\";s:97:\"Identifies
  what kind of resource this is. Value: the fixed string \"content#ordersCancelResponse\".\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:28:\"OrdersCreateTestOrderRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"templateName\";O:8:\"stdClass\":2:{s:11:\"description\";s:158:\"The
  test order template to use. Specify as an alternative to testOrder as a shortcut
  for retrieving a template and then creating an order using that template.\";s:4:\"type\";s:6:\"string\";}s:9:\"testOrder\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/TestOrder\";s:11:\"description\";s:25:\"The
  test order to create.\";}}s:4:\"type\";s:6:\"object\";}s:29:\"OrdersCreateTestOrderResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:37:\"content#ordersCreateTestOrderResponse\";s:11:\"description\";s:106:\"Identifies
  what kind of resource this is. Value: the fixed string \"content#ordersCreateTestOrderResponse\".\";s:4:\"type\";s:6:\"string\";}s:7:\"orderId\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  ID of the newly created test order.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:24:\"OrdersCustomBatchRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"entries\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  request entries to be processed in the batch.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/OrdersCustomBatchRequestEntry\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:29:\"OrdersCustomBatchRequestEntry\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":12:{s:7:\"batchId\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"An
  entry ID, unique within the batch request.\";s:6:\"format\";s:6:\"uint32\";s:4:\"type\";s:7:\"integer\";}s:6:\"cancel\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:49:\"#/definitions/OrdersCustomBatchRequestEntryCancel\";s:11:\"description\";s:27:\"Required
  for cancel method.\";}s:14:\"cancelLineItem\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:57:\"#/definitions/OrdersCustomBatchRequestEntryCancelLineItem\";s:11:\"description\";s:35:\"Required
  for cancelLineItem method.\";}s:10:\"merchantId\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  ID of the managing account.\";s:6:\"format\";s:6:\"uint64\";s:4:\"type\";s:6:\"string\";}s:15:\"merchantOrderId\";O:8:\"stdClass\":2:{s:11:\"description\";s:91:\"The
  merchant order id. Required for updateMerchantOrderId and getByMerchantOrderId methods.\";s:4:\"type\";s:6:\"string\";}s:6:\"method\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"The
  method to apply.\";s:4:\"type\";s:6:\"string\";}s:11:\"operationId\";O:8:\"stdClass\":2:{s:11:\"description\";s:134:\"The
  ID of the operation. Unique across all operations for a given order. Required for
  all methods beside get and getByMerchantOrderId.\";s:4:\"type\";s:6:\"string\";}s:7:\"orderId\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"The
  ID of the order. Required for all methods beside getByMerchantOrderId.\";s:4:\"type\";s:6:\"string\";}s:6:\"refund\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:49:\"#/definitions/OrdersCustomBatchRequestEntryRefund\";s:11:\"description\";s:27:\"Required
  for refund method.\";}s:14:\"returnLineItem\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:57:\"#/definitions/OrdersCustomBatchRequestEntryReturnLineItem\";s:11:\"description\";s:35:\"Required
  for returnLineItem method.\";}s:13:\"shipLineItems\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:56:\"#/definitions/OrdersCustomBatchRequestEntryShipLineItems\";s:11:\"description\";s:34:\"Required
  for shipLineItems method.\";}s:14:\"updateShipment\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:57:\"#/definitions/OrdersCustomBatchRequestEntryUpdateShipment\";s:11:\"description\";s:35:\"Required
  for updateShipment method.\";}}s:4:\"type\";s:6:\"object\";}s:35:\"OrdersCustomBatchRequestEntryCancel\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"reason\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  reason for the cancellation.\";s:4:\"type\";s:6:\"string\";}s:10:\"reasonText\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  explanation of the reason.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:43:\"OrdersCustomBatchRequestEntryCancelLineItem\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"amount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Price\";s:11:\"description\";s:212:\"Amount
  to refund for the cancelation. Optional. If not set, Google will calculate the default
  based on the price and tax of the items involved. The amount must not be larger
  than the net amount left on the order.\";}s:10:\"lineItemId\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  ID of the line item to cancel.\";s:4:\"type\";s:6:\"string\";}s:8:\"quantity\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"The
  quantity to cancel.\";s:6:\"format\";s:6:\"uint32\";s:4:\"type\";s:7:\"integer\";}s:6:\"reason\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  reason for the cancellation.\";s:4:\"type\";s:6:\"string\";}s:10:\"reasonText\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  explanation of the reason.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:35:\"OrdersCustomBatchRequestEntryRefund\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"amount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Price\";s:11:\"description\";s:28:\"The
  amount that is refunded.\";}s:6:\"reason\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  reason for the refund.\";s:4:\"type\";s:6:\"string\";}s:10:\"reasonText\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  explanation of the reason.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:43:\"OrdersCustomBatchRequestEntryReturnLineItem\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"lineItemId\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  ID of the line item to return.\";s:4:\"type\";s:6:\"string\";}s:8:\"quantity\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"The
  quantity to return.\";s:6:\"format\";s:6:\"uint32\";s:4:\"type\";s:7:\"integer\";}s:6:\"reason\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  reason for the return.\";s:4:\"type\";s:6:\"string\";}s:10:\"reasonText\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  explanation of the reason.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:42:\"OrdersCustomBatchRequestEntryShipLineItems\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"carrier\";O:8:\"stdClass\":2:{s:11:\"description\";s:175:\"Deprecated.
  Please use shipmentInfo instead. The carrier handling the shipment. See shipments[].carrier
  in the  Orders resource representation for a list of acceptable values.\";s:4:\"type\";s:6:\"string\";}s:9:\"lineItems\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Line
  items to ship.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/OrderShipmentLineItemShipment\";}s:4:\"type\";s:5:\"array\";}s:10:\"shipmentId\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"Deprecated.
  Please use shipmentInfo instead. The ID of the shipment.\";s:4:\"type\";s:6:\"string\";}s:13:\"shipmentInfos\";O:8:\"stdClass\":3:{s:11:\"description\";s:139:\"Shipment
  information. This field is repeated because a single line item can be shipped in
  several packages (and have several tracking IDs).\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:68:\"#/definitions/OrdersCustomBatchRequestEntryShipLineItemsShipmentInfo\";}s:4:\"type\";s:5:\"array\";}s:10:\"trackingId\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"Deprecated.
  Please use shipmentInfo instead. The tracking id for the shipment.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:54:\"OrdersCustomBatchRequestEntryShipLineItemsShipmentInfo\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"carrier\";O:8:\"stdClass\":2:{s:11:\"description\";s:130:\"The
  carrier handling the shipment. See shipments[].carrier in the  Orders resource representation
  for a list of acceptable values.\";s:4:\"type\";s:6:\"string\";}s:10:\"shipmentId\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  ID of the shipment.\";s:4:\"type\";s:6:\"string\";}s:10:\"trackingId\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  tracking id for the shipment.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:43:\"OrdersCustomBatchRequestEntryUpdateShipment\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"carrier\";O:8:\"stdClass\":2:{s:11:\"description\";s:154:\"The
  carrier handling the shipment. Not updated if missing. See shipments[].carrier in
  the  Orders resource representation for a list of acceptable values.\";s:4:\"type\";s:6:\"string\";}s:10:\"shipmentId\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  ID of the shipment.\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"New
  status for the shipment. Not updated if missing.\";s:4:\"type\";s:6:\"string\";}s:10:\"trackingId\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"The
  tracking id for the shipment. Not updated if missing.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:25:\"OrdersCustomBatchResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"entries\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"The
  result of the execution of the batch requests.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/OrdersCustomBatchResponseEntry\";}s:4:\"type\";s:5:\"array\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:33:\"content#ordersCustomBatchResponse\";s:11:\"description\";s:102:\"Identifies
  what kind of resource this is. Value: the fixed string \"content#ordersCustomBatchResponse\".\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:30:\"OrdersCustomBatchResponseEntry\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"batchId\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  ID of the request entry this entry responds to.\";s:6:\"format\";s:6:\"uint32\";s:4:\"type\";s:7:\"integer\";}s:6:\"errors\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Errors\";s:11:\"description\";s:59:\"A
  list of errors defined if and only if the request failed.\";}s:15:\"executionStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:125:\"The
  status of the execution. Only defined if the method is not get or getByMerchantOrderId
  and if the request was successful.\";s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:38:\"content#ordersCustomBatchResponseEntry\";s:11:\"description\";s:107:\"Identifies
  what kind of resource this is. Value: the fixed string \"content#ordersCustomBatchResponseEntry\".\";s:4:\"type\";s:6:\"string\";}s:5:\"order\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Order\";s:11:\"description\";s:89:\"The
  retrieved order. Only defined if the method is get and if the request was successful.\";}}s:4:\"type\";s:6:\"object\";}s:34:\"OrdersGetByMerchantOrderIdResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:42:\"content#ordersGetByMerchantOrderIdResponse\";s:11:\"description\";s:111:\"Identifies
  what kind of resource this is. Value: the fixed string \"content#ordersGetByMerchantOrderIdResponse\".\";s:4:\"type\";s:6:\"string\";}s:5:\"order\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Order\";s:11:\"description\";s:20:\"The
  requested order.\";}}s:4:\"type\";s:6:\"object\";}s:34:\"OrdersGetTestOrderTemplateResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"kind\";O:8:\"stdClass\":3:{s:7:\"default\";s:42:\"content#ordersGetTestOrderTemplateResponse\";s:11:\"description\";s:111:\"Identifies
  what kind of resource this is. Value: the fixed string \"content#ordersGetTestOrderTemplateResponse\".\";s:4:\"type\";s:6:\"string\";}s:8:\"template\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/TestOrder\";s:11:\"description\";s:34:\"The
[...]
