---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":9:{s:11:\"description\";s:15:\"Botify Saas API\";s:5:\"title\";s:6:\"Botify\";s:7:\"version\";s:5:\"1.0.0\";s:21:\"x-apisguru-categories\";a:2:{i:0;s:9:\"analytics\";i:1;s:5:\"tools\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#1A1A1A\";s:3:\"url\";s:102:\"https://api.apis.guru/v2/cache/logo/https_static.botify.com_images_logos_botify-white.dc4215a12b9c.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:38:\"https://api.botify.com/v1/swagger.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:10:\"botify.com\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"botify\";s:4:\"type\";s:7:\"openapi\";}}"
host: api.botify.com
basePath: /v1
paths:
  /analyses/{username}/{project_slug}:
    get:
      description: List all analyses for a project
      operationId: getProjectAnalyses
      parameters:
      - default: 1
        description: Page Number
        in: query
        name: page
        required: false
        type: integer
      - description: Page Size
        format: int32
        in: query
        name: size
        required: false
        type: integer
      - description: Return only successfully finished analyses
        in: query
        name: only_success
        required: false
        type: boolean
      - description: Which fields to return (comma-separated)
        in: query
        name: fields
        required: false
        type: string
      responses:
        200:
          description: Successful operation
          schema:
            properties:
              count:
                type: integer
              next:
                type: string
              page:
                type: integer
              previous:
                type: string
              results:
                items:
                  $ref: '#/definitions/Analysis'
                type: array
              size:
                type: integer
            type: object
        default:
          description: error payload
          schema:
            $ref: '#/definitions/DefaultPayload'
      summary: List all analyses for a project
      tags:
      - Project
    parameters:
    - description: User's identifier
      in: path
      name: username
      required: true
      type: string
    - description: Project's identifier
      in: path
      name: project_slug
      required: true
      type: string
  /analyses/{username}/{project_slug}/{analysis_slug}:
    get:
      description: Get an Analysis detail
      operationId: getAnalysisSummary
      parameters:
      - description: Previous analysis identifier
        in: query
        name: previous_crawl
        required: false
        type: string
      responses:
        200:
          description: Successful operation
          schema:
            $ref: '#/definitions/AnalysisDetail'
        default:
          description: error payload
          schema:
            $ref: '#/definitions/DefaultPayload'
      summary: Get an Analysis detail
      tags:
      - Analysis
    parameters:
    - description: User's identifier
      in: path
      name: username
      required: true
      type: string
    - description: Project's identifier
      in: path
      name: project_slug
      required: true
      type: string
    - description: Analysis' identifier
      in: path
      name: analysis_slug
      required: true
      type: string
    put:
      description: Update an Analysis' attribute
      operationId: updateAnalysis
      parameters:
      - description: Analysis Update
        in: body
        name: AnalysisUpdate
        schema:
          $ref: '#/definitions/AnalysisUpdate'
      responses:
        200:
          description: Successful operation
          schema:
            $ref: '#/definitions/AnalysisUpdate'
        default:
          description: error payload
          schema:
            $ref: '#/definitions/DefaultPayload'
      summary: Update an Analysis' attribute
      tags:
      - Analysis
  /analyses/{username}/{project_slug}/{analysis_slug}/crawl_statistics:
    get:
      description: Return global statistics for an analysis
      operationId: getCrawlStatistics
      parameters: []
      responses:
        200:
          description: Successful operation
          schema:
            $ref: '#/definitions/CrawlStatistics'
        default:
          description: error payload
          schema:
            $ref: '#/definitions/DefaultPayload'
      summary: Return global statistics for an analysis
      tags:
      - Analysis
    parameters:
    - description: User's identifier
      in: path
      name: username
      required: true
      type: string
    - description: Project's identifier
      in: path
      name: project_slug
      required: true
      type: string
    - description: Analysis' identifier
      in: path
      name: analysis_slug
      required: true
      type: string
  /analyses/{username}/{project_slug}/{analysis_slug}/crawl_statistics/time:
    get:
      description: Return crawl statistics grouped by time frequency (1 min, 5 mins
        or 60 min) for an analysis
      operationId: getCrawlStatisticsByFrequency
      parameters:
      - description: max number of elements to retrieve
        format: int32
        in: query
        name: limit
        required: false
        type: integer
      - description: Aggregation frequency
        enum:
        - 1mn
        - 5mn
        - 60mn
        in: query
        name: frequency
        required: true
        type: string
      responses:
        200:
          description: Successful operation
          schema:
            $ref: '#/definitions/CrawlStatisticsTime'
        default:
          description: error payload
          schema:
            $ref: '#/definitions/DefaultPayload'
      summary: Return crawl statistics grouped by time frequency (1 min, 5 mins or
        60 min)
      tags:
      - Analysis
    parameters:
    - description: User's identifier
      in: path
      name: username
      required: true
      type: string
    - description: Project's identifier
      in: path
      name: project_slug
      required: true
      type: string
    - description: Analysis' identifier
      in: path
      name: analysis_slug
      required: true
      type: string
  /analyses/{username}/{project_slug}/{analysis_slug}/crawl_statistics/urls/{list_type}:
    get:
      description: Return a list of 1000 latest URLs crawled (all crawled URLs or
        only URLS with HTTP errors)
      operationId: getCrawlStatisticsUrls
      parameters: []
      responses:
        200:
          description: Successful operation
          schema:
            items:
              $ref: '#/definitions/CrawlStatisticsUrls'
            type: array
        default:
          description: error payload
          schema:
            $ref: '#/definitions/DefaultPayload'
      summary: Return a list of 1000 latest URLs crawled (all crawled URLs or only
        URLS with HTTP errors)
      tags:
      - Analysis
    parameters:
    - description: User's identifier
      in: path
      name: username
      required: true
      type: string
    - description: Project's identifier
      in: path
      name: project_slug
      required: true
      type: string
    - description: Analysis' identifier
      in: path
      name: analysis_slug
      required: true
      type: string
    - description: URLs list type (crawled URLs or error URLs)
      enum:
      - crawled
      - errors
      in: path
      name: list_type
      required: true
      type: string
  /analyses/{username}/{project_slug}/{analysis_slug}/features/ganalytics/orphan_urls/{medium}/{source}:
    get:
      description: 'Legacy    List of Orphan URLs. URLs which generated visits from
        the selected source according to Google Analytics data, but were not crawled
        with by the Botify crawler (either because no links to them were found on
        the website, or because the crawler was not allowed to follow these links
        according to the project settings).   For a search engine (medium: origanic;
        sources: all, aol, ask, baidu, bing, google, naver, yahoo, yandex) or a social
        network (medium: social; sources: all, facebook, google+, linkedin, pinterest,
        reddit, tumblr, twitter)'
      operationId: getGanalyticsOrphanURLs
      parameters:
      - default: 1
        description: Page Number
        in: query
        name: page
        required: false
        type: integer
      - description: Page Size
        in: query
        name: size
        required: false
        type: integer
      responses:
        200:
          description: Successful operation
          schema:
            properties:
              count:
                type: integer
              next:
                type: string
              page:
                type: integer
              previous:
                type: string
              results:
                items:
                  $ref: '#/definitions/CrawlOrphanURLs'
                type: array
              size:
                type: integer
            type: object
        default:
          description: error payload
          schema:
            $ref: '#/definitions/DefaultPayload'
      summary: List of Orphan URLs
      tags:
      - Analysis
    parameters:
    - description: User's identifier
      in: path
      name: username
      required: true
      type: string
    - description: Project's identifier
      in: path
      name: project_slug
      required: true
      type: string
    - description: Analysis' identifier
      in: path
      name: analysis_slug
      required: true
      type: string
    - description: 'Type of traffic, value: ''organic'' (from search engine)or ''social''
        (from a social network)'
      enum:
      - organic
      - social
      in: path
      name: medium
      required: true
      type: string
    - description: 'Traffic source, value: name of the search engine or social network'
      enum:
      - all
      - aol
      - ask
      - baidu
      - bing
      - facebook
      - google
      - google+
      - linkedin
      - naver
      - pinterest
      - reddit
      - tumblr
      - twitter
      - yahoo
      - yandex
      in: path
      name: source
      required: true
      type: string
  /analyses/{username}/{project_slug}/{analysis_slug}/features/links/percentiles:
    get:
      description: Get inlinks percentiles
      operationId: getLinksPercentiles
      parameters: []
      responses:
        200:
          description: Successful operation
          schema:
            $ref: '#/definitions/LinksPercentiles'
        default:
          description: error payload
          schema:
            $ref: '#/definitions/DefaultPayload'
      summary: Get inlinks percentiles
      tags:
      - Analysis
    parameters:
    - description: User's identifier
      in: path
      name: username
      required: true
      type: string
    - description: Project's identifier
      in: path
      name: project_slug
      required: true
      type: string
    - description: Analysis' identifier
      in: path
      name: analysis_slug
      required: true
      type: string
  /analyses/{username}/{project_slug}/{analysis_slug}/features/pagerank/lost:
    get:
      description: Lost pagerank
      operationId: getPageRankLost
      parameters: []
      responses:
        200:
          description: Successful operation
          schema:
            $ref: '#/definitions/PageRankLost'
        default:
          description: error payload
          schema:
            $ref: '#/definitions/DefaultPayload'
      summary: Lost pagerank
      tags:
      - Analysis
    parameters:
    - description: User's identifier
      in: path
      name: username
      required: true
      type: string
    - description: Project's identifier
      in: path
      name: project_slug
      required: true
      type: string
    - description: Analysis' identifier
      in: path
      name: analysis_slug
      required: true
      type: string
  /analyses/{username}/{project_slug}/{analysis_slug}/features/search_console/stats:
    get:
      description: List clicks and impressions per day
      operationId: getKeywordsStats
      parameters: []
      responses:
        200:
          description: Successful operation
          schema:
            $ref: '#/definitions/KeywordsStats'
        default:
          description: error payload
          schema:
            $ref: '#/definitions/DefaultPayload'
      summary: List clicks and impressions per day
      tags:
      - Analysis
    parameters:
    - description: User's identifier
      in: path
      name: username
      required: true
      type: string
    - description: Project's identifier
      in: path
      name: project_slug
      required: true
      type: string
    - description: Analysis' identifier
      in: path
      name: analysis_slug
      required: true
      type: string
  /analyses/{username}/{project_slug}/{analysis_slug}/features/sitemaps/report:
    get:
      description: Get global information of the sitemaps found (sitemaps indexes,
        invalid sitemaps urls, etc.)
      operationId: getSitemapsReport
      parameters: []
      responses:
        200:
          description: Successful operation
          schema:
            $ref: '#/definitions/SitemapsReport'
        default:
          description: error payload
          schema:
            $ref: '#/definitions/DefaultPayload'
      summary: Get global information of the sitemaps found (sitemaps indexes, invalid
        sitemaps urls, etc
      tags:
      - Analysis
    parameters:
    - description: User's identifier
      in: path
      name: username
      required: true
      type: string
    - description: Project's identifier
      in: path
      name: project_slug
      required: true
      type: string
    - description: Analysis' identifier
      in: path
      name: analysis_slug
      required: true
      type: string
  /analyses/{username}/{project_slug}/{analysis_slug}/features/sitemaps/samples/out_of_config:
    get:
      description: Sample list of URLs which were found in your sitemaps but outside
        of the crawl perimeter defined for the project, for instance domain/subdomain
        or protocol (HTTP/HTTPS) not allowed in the crawl settings.
      operationId: getSitemapsSamplesOutOfConfig
      parameters:
      - default: 1
        description: Page Number
        in: query
        name: page
        required: false
        type: integer
      - description: Page Size
        in: query
        name: size
        required: false
        type: integer
      responses:
        200:
          description: Successful operation
          schema:
            properties:
              count:
                type: integer
              next:
                type: string
              page:
                type: integer
              previous:
                type: string
              results:
                items:
                  type: string
                type: array
              size:
                type: integer
            type: object
        default:
          description: error payload
          schema:
            $ref: '#/definitions/DefaultPayload'
      summary: Sample list of URLs which were found in your sitemaps but outside of
        the
      tags:
      - Analysis
    parameters:
    - description: User's identifier
      in: path
      name: username
      required: true
      type: string
    - description: Project's identifier
      in: path
      name: project_slug
      required: true
      type: string
    - description: Analysis' identifier
      in: path
      name: analysis_slug
      required: true
      type: string
  /analyses/{username}/{project_slug}/{analysis_slug}/features/sitemaps/samples/sitemap_only:
    get:
      description: Sample list of URLs which were found in your sitemaps, within the
        project allowed scope (allowed domains/subdomains/protocols), but not found
        by the Botify crawler.
      operationId: getSitemapsSamplesSitemapsOnly
      parameters:
      - default: 1
        description: Page Number
        in: query
        name: page
        required: false
        type: integer
      - description: Page Size
        in: query
        name: size
        required: false
        type: integer
      responses:
        200:
          description: Successful operation
          schema:
            properties:
              count:
                type: integer
              next:
                type: string
              page:
                type: integer
              previous:
                type: string
              results:
                items:
                  type: string
                type: array
              size:
                type: integer
            type: object
        default:
          description: error payload
          schema:
            $ref: '#/definitions/DefaultPayload'
      summary: Sample list of URLs which were found in your sitemaps, within the project
      tags:
      - Analysis
    parameters:
    - description: User's identifier
      in: path
      name: username
      required: true
      type: string
    - description: Project's identifier
      in: path
      name: project_slug
      required: true
      type: string
    - description: Analysis' identifier
      in: path
      name: analysis_slug
      required: true
      type: string
  /analyses/{username}/{project_slug}/{analysis_slug}/features/top_domains/domains:
    get:
      description: Top domains
      operationId: getLinksTopDomains
      parameters:
      - default: 1
        description: Page Number
        in: query
        name: page
        required: false
        type: integer
      - description: Page Size
        in: query
        name: size
        required: false
        type: integer
      responses:
        200:
          description: Successful operation
          schema:
            properties:
              count:
                type: integer
              next:
                type: string
              page:
                type: integer
              previous:
                type: string
              results:
                items:
                  $ref: '#/definitions/LinksTopDomains'
                type: array
              size:
                type: integer
            type: object
        default:
          description: error payload
          schema:
            $ref: '#/definitions/DefaultPayload'
      summary: Top domains
      tags:
      - Analysis
    parameters:
    - description: User's identifier
      in: path
      name: username
      required: true
      type: string
    - description: Project's identifier
      in: path
      name: project_slug
      required: true
      type: string
    - description: Analysis' identifier
      in: path
      name: analysis_slug
      required: true
      type: string
  /analyses/{username}/{project_slug}/{analysis_slug}/features/top_domains/subdomains:
    get:
      description: Top subddomains
      operationId: getLinksTopSubdomains
      parameters:
      - default: 1
        description: Page Number
        in: query
        name: page
        required: false
        type: integer
      - description: Page Size
        in: query
        name: size
        required: false
        type: integer
      responses:
        200:
          description: Successful operation
          schema:
            properties:
              count:
                type: integer
              next:
                type: string
              page:
                type: integer
              previous:
                type: string
              results:
                items:
                  $ref: '#/definitions/LinksTopDomains'
                type: array
              size:
                type: integer
            type: object
        default:
          description: error payload
          schema:
            $ref: '#/definitions/DefaultPayload'
      summary: Top subddomains
      tags:
      - Analysis
    parameters:
    - description: User's identifier
      in: path
      name: username
      required: true
      type: string
    - description: Project's identifier
      in: path
      name: project_slug
      required: true
      type: string
    - description: Analysis' identifier
      in: path
      name: analysis_slug
      required: true
      type: string
  /analyses/{username}/{project_slug}/{analysis_slug}/features/visits/orphan_urls/{medium}/{source}:
    get:
      description: 'List of Orphan URLs. URLs which generated visits from the selected
        source according to Google Analytics data, but were not crawled with by the
        Botify crawler (either because no links to them were found on the website,
        or because the crawler was not allowed to follow these links according to
        the project settings).   For a search engine (medium: origanic; sources: all,
        aol, ask, baidu, bing, google, naver, yahoo, yandex) or a social network (medium:
        social; sources: all, facebook, google+, linkedin, pinterest, reddit, tumblr,
        twitter)'
      operationId: getVisitsOrphanURLs
      parameters:
      - default: 1
        description: Page Number
        in: query
        name: page
        required: false
        type: integer
      - description: Page Size
        in: query
        name: size
        required: false
        type: integer
      responses:
        200:
          description: Successful operation
          schema:
            properties:
              count:
                type: integer
              next:
                type: string
              page:
                type: integer
              previous:
                type: string
              results:
                items:
                  $ref: '#/definitions/CrawlOrphanURLs'
                type: array
              size:
                type: integer
            type: object
        default:
          description: error payload
          schema:
            $ref: '#/definitions/DefaultPayload'
      summary: List of Orphan URLs
      tags:
      - Analysis
    parameters:
    - description: User's identifier
      in: path
      name: username
      required: true
      type: string
    - description: Project's identifier
      in: path
      name: project_slug
      required: true
      type: string
    - description: Analysis' identifier
      in: path
      name: analysis_slug
      required: true
      type: string
    - description: 'Type of traffic, value: ''organic'' (from search engine)or ''social''
        (from a social network)'
      enum:
      - organic
      - social
      in: path
      name: medium
      required: true
      type: string
    - description: 'Traffic source, value: name of the search engine or social network'
      enum:
      - all
      - aol
      - ask
      - baidu
      - bing
      - facebook
      - google
      - google+
      - linkedin
      - naver
      - pinterest
      - reddit
      - tumblr
      - twitter
      - yahoo
      - yandex
      in: path
      name: source
      required: true
      type: string
  /analyses/{username}/{project_slug}/{analysis_slug}/staticfiles/robots-txt-indexes:
    get:
      description: Return a list of all robots.txt files found on the project's domains.
      operationId: getRobotsTxtIndexesView
      parameters:
      - default: 1
        description: Page Number
        in: query
        name: page
        required: false
        type: integer
      - description: Page Size
        in: query
        name: size
        required: false
        type: integer
      responses:
        200:
          description: Successful operation
          schema:
            properties:
              count:
                type: integer
              next:
                type: string
              page:
                type: integer
              previous:
                type: string
              results:
                items:
                  $ref: '#/definitions/Default'
                type: array
              size:
                type: integer
            type: object
        default:
          description: error payload
          schema:
            $ref: '#/definitions/DefaultPayload'
      summary: Return a list of all robots
      tags:
      - Analysis
    parameters:
    - description: User's identifier
      in: path
      name: username
      required: true
      type: string
    - description: Project's identifier
      in: path
      name: project_slug
      required: true
      type: string
    - description: Analysis' identifier
      in: path
      name: analysis_slug
      required: true
      type: string
  /analyses/{username}/{project_slug}/{analysis_slug}/staticfiles/robots-txt-indexes/{robots_txt}:
    get:
      description: Return content of a robots.txt file.
      operationId: getRobotsTxtFileView
      parameters:
      - default: 1
        description: Page Number
        in: query
        name: page
        required: false
        type: integer
      - description: Page Size
        in: query
        name: size
        required: false
        type: integer
      responses:
        200:
          description: Successful operation
          schema:
            properties:
              count:
                type: integer
              next:
                type: string
              page:
                type: integer
              previous:
                type: string
              results:
                items:
                  $ref: '#/definitions/Default'
                type: array
              size:
                type: integer
            type: object
        default:
          description: error payload
          schema:
            $ref: '#/definitions/DefaultPayload'
      summary: Return content of a robots
      tags:
      - Analysis
    parameters:
    - description: User's identifier
      in: path
      name: username
      required: true
      type: string
    - description: Project's identifier
      in: path
      name: project_slug
      required: true
      type: string
    - description: Analysis' identifier
      in: path
      name: analysis_slug
      required: true
      type: string
    - description: Filename
      in: path
      name: robots_txt
      required: true
      type: string
  /analyses/{username}/{project_slug}/{analysis_slug}/urls:
    parameters:
    - description: User's identifier
      in: path
      name: username
      required: true
      type: string
    - description: Project's identifier
      in: path
      name: project_slug
      required: true
      type: string
    - description: Analysis' identifier
      in: path
      name: analysis_slug
      required: true
      type: string
    post:
      description: Executes a query and returns a paginated response
      operationId: getUrls
      parameters:
      - description: Query
        in: body
        name: Query
        schema:
          $ref: '#/definitions/Query'
      - default: current
        description: Analysis context
        enum:
        - current
        - disappeared
        - new
        - search_engines_orphans
        - gsc_keywords
        - gsc_keywords_by_country
        in: query
        name: area
        required: false
        type: string
      - description: Page Number
        format: int32
        in: query
        name: page
        required: false
        type: integer
      - description: Page Size
        format: int32
        in: query
        name: size
        required: false
        type: integer
      - description: Previous analysis identifier
        in: query
        name: previous_crawl
        required: false
        type: string
      responses:
        200:
          description: Successful operation
          schema:
            properties:
              count:
                type: integer
              next:
                type: string
              page:
                type: integer
              previous:
                type: string
              results:
                items:
                  $ref: '#/definitions/UrlDetail'
                type: array
              size:
                type: integer
            type: object
        default:
          description: error payload
          schema:
            $ref: '#/definitions/DefaultPayload'
      summary: Executes a query and returns a paginated response
      tags:
      - Analysis
  /analyses/{username}/{project_slug}/{analysis_slug}/urls/aggs:
    parameters:
    - description: User's identifier
      in: path
      name: username
      required: true
      type: string
    - description: Project's identifier
      in: path
      name: project_slug
      required: true
      type: string
    - description: Analysis' identifier
      in: path
      name: analysis_slug
      required: true
      type: string
    post:
      description: Query aggregator. It accepts multiple queries and dispatches them
        on ES or BQ.
      operationId: getUrlsAggs
      parameters:
      - description: AggsQueries
        in: body
        name: AggsQueries
        schema:
          $ref: '#/definitions/AggsQueries'
      - default: current
        description: Analysis context
        enum:
        - current
        - disappeared
        - new
        - search_engines_orphans
        - gsc_keywords
        - gsc_keywords_by_country
        in: query
        name: area
        required: false
        type: string
      - description: Previous analysis identifier
        in: query
        name: previous_crawl
        required: false
        type: string
      responses:
        200:
          description: Successful operation
          schema:
            items:
              $ref: '#/definitions/Aggs'
            type: array
        default:
          description: error payload
          schema:
            $ref: '#/definitions/DefaultPayload'
      summary: Query aggregator
      tags:
      - Analysis
  /analyses/{username}/{project_slug}/{analysis_slug}/urls/datamodel:
    get:
      description: Gets an Analysis datamodel
      operationId: getUrlsDatamodel
      parameters:
      - default: current
        description: Analysis context
        enum:
        - current
        - disappeared
        - new
        - search_engines_orphans
        - gsc_keywords
        - gsc_keywords_by_country
        in: query
        name: area
        required: false
        type: string
      responses:
        200:
          description: Successful operation
          schema:
            $ref: '#/definitions/Datamodel'
        default:
          description: error payload
          schema:
            $ref: '#/definitions/DefaultPayload'
      summary: Gets an Analysis datamodel
      tags:
      - Analysis
    parameters:
    - description: User's identifier
      in: path
      name: username
      required: true
      type: string
    - description: Project's identifier
      in: path
      name: project_slug
      required: true
      type: string
    - description: Analysis' identifier
      in: path
      name: analysis_slug
      required: true
      type: string
  /analyses/{username}/{project_slug}/{analysis_slug}/urls/datasets:
    get:
      description: Gets Analysis Datasets
      operationId: getUrlsDatasets
      parameters:
      - default: current
        description: Analysis context
        enum:
        - current
        - disappeared
        - new
        - search_engines_orphans
        - gsc_keywords
        - gsc_keywords_by_country
        in: query
        name: area
        required: false
        type: string
      - default: true
        description: Include deprecated fields
        in: query
        name: deprecated_fields
        required: false
        type: boolean
      responses:
        200:
          description: Successful operation
          schema:
            $ref: '#/definitions/Datasets'
        default:
          description: error payload
          schema:
            $ref: '#/definitions/DefaultPayload'
      summary: Gets Analysis Datasets
      tags:
      - Analysis
    parameters:
    - description: User's identifier
      in: path
      name: username
      required: true
      type: string
    - description: Project's identifier
      in: path
      name: project_slug
      required: true
      type: string
    - description: Analysis' identifier
      in: path
      name: analysis_slug
      required: true
      type: string
  /analyses/{username}/{project_slug}/{analysis_slug}/urls/export:
    get:
      description: A list of the CSV Exports requests and their current status
      operationId: getUrlsExports
      parameters:
      - default: 1
        description: Page Number
        in: query
        name: page
        required: false
        type: integer
      - description: Page Size
        in: query
        name: size
        required: false
        type: integer
      responses:
        200:
          description: Successful operation
          schema:
            properties:
              count:
                type: integer
              next:
                type: string
              page:
                type: integer
              previous:
                type: string
              results:
                items:
                  $ref: '#/definitions/CsvExportStatus'
                type: array
              size:
                type: integer
            type: object
        default:
          description: error payload
          schema:
            $ref: '#/definitions/DefaultPayload'
      summary: A list of the CSV Exports requests and their current status
      tags:
      - Analysis
    parameters:
    - description: User's identifier
      in: path
      name: username
      required: true
      type: string
    - description: Project's identifier
      in: path
      name: project_slug
      required: true
      type: string
    - description: Analysis' identifier
      in: path
      name: analysis_slug
      required: true
      type: string
    post:
      description: Creates a new UrlExport object and starts a task that will export
        the results into a csv. Returns the model id that manages the task
      operationId: createUrlsExport
      parameters:
      - description: Query
        in: body
        name: Query
        schema:
          $ref: '#/definitions/Query'
      - default: current
        description: Analysis context
        enum:
        - current
        - disappeared
        - new
        - search_engines_orphans
        - gsc_keywords
        - gsc_keywords_by_country
        in: query
        name: area
        required: false
        type: string
      - description: Previous analysis identifier
        in: query
        name: previous_crawl
        required: false
        type: string
      - description: Maximum size of the export (deprecated => size instead)
        format: int32
        in: query
        name: export_size
        required: false
        type: integer
      - description: Maximum size of the export
        format: int32
        in: query
        name: size
        required: false
        type: integer
      responses:
        201:
          description: Successful operation
          schema:
            $ref: '#/definitions/CsvExportStatus'
        default:
          description: error payload
          schema:
            $ref: '#/definitions/DefaultPayload'
      summary: Creates a new UrlExport object and starts a task that will export the
        results into a csv
      tags:
      - Analysis
  /analyses/{username}/{project_slug}/{analysis_slug}/urls/export/{url_export_id}:
    get:
      description: Checks the status of an CSVUrlExportJob object. Returns json object
        with the status.
      operationId: getUrlsExportStatus
      parameters: []
      responses:
        200:
          description: Successful operation
          schema:
            $ref: '#/definitions/CsvExportStatus'
        default:
          description: error payload
          schema:
            $ref: '#/definitions/DefaultPayload'
      summary: Checks the status of an CSVUrlExportJob object
      tags:
      - Analysis
    parameters:
    - description: User's identifier
      in: path
      name: username
      required: true
      type: string
    - description: Project's identifier
      in: path
      name: project_slug
      required: true
      type: string
    - description: Analysis' identifier
      in: path
      name: analysis_slug
      required: true
      type: string
    - description: Url Export ID
      in: path
      name: url_export_id
      required: true
      type: string
  /analyses/{username}/{project_slug}/{analysis_slug}/urls/html/{url}:
    get:
      description: Gets the HTML of an URL for an analysis
      operationId: getUrlHTML
      parameters: []
      responses:
        200:
          description: Successful operation
          schema:
            $ref: '#/definitions/UrlHTML'
        default:
          description: error payload
          schema:
            $ref: '#/definitions/DefaultPayload'
      summary: Gets the HTML of an URL for an analysis
      tags:
      - Analysis
    parameters:
    - description: User's identifier
      in: path
      name: username
      required: true
      type: string
    - description: Project's identifier
      in: path
      name: project_slug
      required: true
      type: string
    - description: Analysis' identifier
      in: path
      name: analysis_slug
      required: true
      type: string
    - description: (Urlencoded) Searched URL
      in: path
      name: url
      required: true
      type: string
  /analyses/{username}/{project_slug}/{analysis_slug}/urls/suggested_filters:
    parameters:
    - description: User's identifier
      in: path
      name: username
      required: true
      type: string
    - description: Project's identifier
      in: path
      name: project_slug
      required: true
      type: string
    - description: Analysis' identifier
      in: path
      name: analysis_slug
      required: true
      type: string
    post:
      description: Return most frequent segments (= suggested patterns in the previous
        version) for a Botify Query.
      operationId: getUrlsSuggestedFilters
      parameters:
      - description: AggsQuery
        in: body
        name: AggsQuery
        schema:
          $ref: '#/definitions/AggsQuery'
      - default: current
        description: Analysis context
        enum:
        - current
        - new
        in: query
        name: area
        required: false
        type: string
      responses:
        201:
          description: Successful operation
          schema:
            $ref: '#/definitions/AggsQuery'
        default:
          description: error payload
          schema:
            $ref: '#/definitions/DefaultPayload'
      summary: Return most frequent segments (= suggested patterns in the previous
        version)
      tags:
      - Analysis
  /analyses/{username}/{project_slug}/{analysis_slug}/urls/{url}:
    get:
      description: Gets the detail of an URL for an analysis
      operationId: getUrlDetail
      parameters:
      - collectionFormat: csv
        description: comma separated list of fields to return (c.f. URLs Datamodel)
        in: query
        items:
          type: string
        name: fields
        required: false
        type: array
      responses:
        200:
          description: Successful operation
          schema:
            $ref: '#/definitions/UrlDetail'
        default:
          description: error payload
          schema:
            $ref: '#/definitions/DefaultPayload'
      summary: Gets the detail of an URL for an analysis
      tags:
      - Analysis
    parameters:
    - description: User's identifier
      in: path
      name: username
      required: true
      type: string
    - description: Project's identifier
      in: path
      name: project_slug
      required: true
      type: string
    - description: Analysis' identifier
      in: path
      name: analysis_slug
      required: true
      type: string
    - description: (Urlencoded) Searched URL
      in: path
      name: url
      required: true
      type: string
  /projects/{username}:
    get:
      description: List all active projects for the user
      operationId: getUserProjects
      parameters:
      - description: Project's name
        in: query
        name: name
        type: string
      - default: 1
        description: Page Number
        in: query
        name: page
        required: false
        type: integer
      - description: Page Size
        in: query
        name: size
        required: false
        type: integer
      responses:
        200:
          description: Successful operation
          schema:
            properties:
              count:
                type: integer
              next:
                type: string
              page:
                type: integer
              previous:
                type: string
              results:
                items:
                  $ref: '#/definitions/Project'
                type: array
              size:
                type: integer
            type: object
        default:
          description: error payload
          schema:
            $ref: '#/definitions/DefaultPayload'
      summary: List all active projects for the user
      tags:
      - User
    parameters:
    - description: User's identifier
      in: path
      name: username
      required: true
      type: string
  /projects/{username}/{project_slug}/filters:
    get:
      description: List all the project's saved filters (each filter's name, ID and
        filter value)
      operationId: getSavedFilters
      parameters: []
      responses:
        200:
          description: Successful operation
          schema:
            $ref: '#/definitions/ProjectSavedFilter'
        default:
          description: error payload
          schema:
            $ref: '#/definitions/DefaultPayload'
      summary: List all the project's saved filters (each filter's name, ID and filter
        value)
      tags:
      - Project
    parameters:
    - description: User's identifier
      in: path
      name: username
      required: true
      type: string
    - description: Project's identifier
      in: path
      name: project_slug
      required: true
      type: string
  /projects/{username}/{project_slug}/filters/{identifier}:
    get:
      description: Retrieves a specific saved filter's name, ID and filter value
      operationId: getSavedFilter
      parameters: []
      responses:
        200:
          description: Successful operation
          schema:
            $ref: '#/definitions/ProjectSavedFilter'
        default:
          description: error payload
          schema:
            $ref: '#/definitions/DefaultPayload'
      summary: Retrieves a specific saved filter's name, ID and filter value
      tags:
      - Project
    parameters:
    - description: User's identifier
      in: path
      name: username
      required: true
      type: string
    - description: Project's identifier
      in: path
      name: project_slug
      required: true
      type: string
    - in: path
      name: identifier
      required: true
      type: string
  /projects/{username}/{project_slug}/urls/aggs:
    parameters:
    - description: User's identifier
      in: path
      name: username
      required: true
      type: string
    - description: Project's identifier
      in: path
      name: project_slug
      required: true
      type: string
    post:
      description: Project Query aggregator. It accepts multiple queries that will
        be executed on all completed analyses in the project
      operationId: getProjectUrlsAggs
      parameters:
      - description: AggsQueries
        in: body
        name: AggsQueries
        schema:
          $ref: '#/definitions/AggsQueries'
      - default: current
        description: Analyses context
        enum:
        - current
        - disappeared
        - new
        - gsc_keywords
        - gsc_keywords_by_country
        in: query
        name: area
        required: false
        type: string
      - description: Last analysis on the trend
        in: query
        name: last_analysis_slug
        required: false
        type: string
      - default: 20
        description: Max number of analysis to return
        format: int32
        in: query
        maximum: 20
        minimum: 1
        name: nb_analyses
        required: false
        type: integer
      responses:
        201:
          description: Successful operation
          schema:
            $ref: '#/definitions/Default'
        default:
          description: error payload
          schema:
            $ref: '#/definitions/DefaultPayload'
      summary: Project Query aggregator
      tags:
      - Project
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":62:{s:20:\"AdvancedExportStatus\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":9:{s:20:\"advanced_export_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"date_created\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:11:\"full_export\";O:8:\"stdClass\":2:{s:7:\"default\";b:0;s:4:\"type\";s:7:\"boolean\";}s:6:\"job_id\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"job_status\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:7:\"job_url\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"query\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:7:\"results\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"user\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:20:\"advanced_export_type\";}s:4:\"type\";s:6:\"object\";}s:16:\"AdvancedExporter\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"full_export\";O:8:\"stdClass\":2:{s:7:\"default\";b:0;s:4:\"type\";s:7:\"boolean\";}s:5:\"group\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"lines\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:4:\"type\";i:1;s:4:\"name\";i:2;s:5:\"group\";i:3;s:5:\"lines\";}s:4:\"type\";s:6:\"object\";}s:17:\"AdvancedExporters\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"exporters\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/AdvancedExporter\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:9:\"exporters\";}s:4:\"type\";s:6:\"object\";}s:4:\"Aggs\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"error\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/ErrorAgg\";}s:6:\"status\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:1:{i:0;s:6:\"status\";}s:4:\"type\";s:6:\"object\";}s:11:\"AggsQueries\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/AggsQuery\";}s:4:\"type\";s:5:\"array\";}s:9:\"AggsQuery\";O:8:\"stdClass\":3:{s:11:\"description\";s:9:\"AggsQuery\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"aggs\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:7:\"filters\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:20:\"AnalysesUpdateLaunch\";O:8:\"stdClass\":4:{s:11:\"description\";s:23:\"Launch
  Analyses Updates\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"analyses\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:16:\"refresh_features\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:2:{i:0;s:8:\"analyses\";i:1;s:16:\"refresh_features\";}s:4:\"type\";s:6:\"object\";}s:8:\"Analysis\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":25:{s:10:\"comparable\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:18:\"computing_revision\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:6:\"config\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:17:\"crawl_launch_type\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:12:\"date_created\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:13:\"date_finished\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:18:\"date_last_modified\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Date
  of last modified analysis\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:13:\"date_launched\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:8:\"failures\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"features\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:13:\"friendly_name\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:20:\"import_keywords_data\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:31:\"import_keywords_data_by_country\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"owner\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:6:\"pinned\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:12:\"pins_balance\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:17:\"red_button_domain\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"slug\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:16:\"to_be_deleted_at\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:9:\"urls_done\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:13:\"urls_in_queue\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"user\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/User\";}}s:8:\"required\";a:1:{i:0;s:4:\"user\";}s:4:\"type\";s:6:\"object\";}s:14:\"AnalysisDetail\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":25:{s:10:\"comparable\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:18:\"computing_revision\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:6:\"config\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:17:\"crawl_launch_type\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:12:\"date_created\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:13:\"date_finished\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:18:\"date_last_modified\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Date
  of last modified analysis\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:13:\"date_launched\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:8:\"failures\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:8:\"features\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:13:\"friendly_name\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:20:\"import_keywords_data\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:31:\"import_keywords_data_by_country\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"owner\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:6:\"pinned\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:12:\"pins_balance\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:17:\"red_button_domain\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"slug\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:16:\"to_be_deleted_at\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:9:\"urls_done\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:13:\"urls_in_queue\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"user\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/User\";}}s:8:\"required\";a:1:{i:0;s:4:\"user\";}s:4:\"type\";s:6:\"object\";}s:14:\"AnalysisUpdate\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Analysis
  Update\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"pinned\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:20:\"AnalysisUpdateLaunch\";O:8:\"stdClass\":4:{s:11:\"description\";s:22:\"Launch
  Analysis Update\";s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"refresh_features\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:16:\"refresh_features\";}s:4:\"type\";s:6:\"object\";}s:21:\"AnalysisUpdateSuggest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"add_on_features\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/SuggestedUpdatesAddOnFeatures\";}s:4:\"type\";s:5:\"array\";}s:18:\"features_to_update\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/SuggestedUpdatesFeaturesToUpdate\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:2:{i:0;s:15:\"add_on_features\";i:1;s:18:\"features_to_update\";}s:4:\"type\";s:6:\"object\";}s:9:\"BqlDryRun\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"error\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:5:\"query\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:5:\"query\";}s:4:\"type\";s:6:\"object\";}s:26:\"CheckExternalStorageAccess\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"access_ok\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"CrawlOrphanURLs\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"visits\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:2:{i:0;s:3:\"url\";i:1;s:6:\"visits\";}s:4:\"type\";s:6:\"object\";}s:15:\"CrawlStatistics\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":11:{s:10:\"crawler_ip\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"depth_current\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:11:\"last_upd_dt\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"pages_dones\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:15:\"pages_dones_2xx\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:15:\"pages_dones_3xx\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:15:\"pages_dones_4xx\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:15:\"pages_dones_5xx\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:24:\"pages_dones_networkerror\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:15:\"pages_dones_xxx\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:11:\"pages_known\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:10:{i:0;s:13:\"depth_current\";i:1;s:24:\"pages_dones_networkerror\";i:2;s:15:\"pages_dones_3xx\";i:3;s:11:\"pages_dones\";i:4;s:15:\"pages_dones_2xx\";i:5;s:11:\"last_upd_dt\";i:6;s:15:\"pages_dones_5xx\";i:7;s:15:\"pages_dones_xxx\";i:8;s:15:\"pages_dones_4xx\";i:9;s:11:\"pages_known\";}s:4:\"type\";s:6:\"object\";}s:19:\"CrawlStatisticsTime\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":10:{s:9:\"avg_delay\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/CrawlStatisticsTimePoint\";}s:4:\"type\";s:5:\"array\";}s:8:\"avg_size\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/CrawlStatisticsTimePoint\";}s:4:\"type\";s:5:\"array\";}s:9:\"frequency\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"http_code_2xx\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/CrawlStatisticsTimePoint\";}s:4:\"type\";s:5:\"array\";}s:13:\"http_code_3xx\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/CrawlStatisticsTimePoint\";}s:4:\"type\";s:5:\"array\";}s:13:\"http_code_4xx\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/CrawlStatisticsTimePoint\";}s:4:\"type\";s:5:\"array\";}s:13:\"http_code_5xx\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/CrawlStatisticsTimePoint\";}s:4:\"type\";s:5:\"array\";}s:13:\"http_code_xxx\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/CrawlStatisticsTimePoint\";}s:4:\"type\";s:5:\"array\";}s:16:\"last_update_date\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:8:\"new_urls\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/CrawlStatisticsTimePoint\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:10:{i:0;s:9:\"avg_delay\";i:1;s:13:\"http_code_2xx\";i:2;s:13:\"http_code_3xx\";i:3;s:13:\"http_code_4xx\";i:4;s:13:\"http_code_5xx\";i:5;s:13:\"http_code_xxx\";i:6;s:9:\"frequency\";i:7;s:16:\"last_update_date\";i:8;s:8:\"avg_size\";i:9;s:8:\"new_urls\";}s:4:\"type\";s:6:\"object\";}s:24:\"CrawlStatisticsTimePoint\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"count\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:8:\"datetime\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:5:\"count\";i:1;s:8:\"datetime\";}s:4:\"type\";s:6:\"object\";}s:19:\"CrawlStatisticsUrls\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":9:{s:12:\"content_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"date\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"delay_first_byte\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:15:\"delay_last_byte\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:4:\"gzip\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"http\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:6:\"length\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:12:\"redirects_to\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:8:{i:0;s:4:\"http\";i:1;s:3:\"url\";i:2;s:15:\"delay_last_byte\";i:3;s:4:\"gzip\";i:4;s:6:\"length\";i:5;s:12:\"content_type\";i:6;s:4:\"date\";i:7;s:16:\"delay_first_byte\";}s:4:\"type\";s:6:\"object\";}s:15:\"CsvExportStatus\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":10:{s:4:\"area\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"date_created\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:6:\"job_id\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"job_status\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:7:\"job_url\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:10:\"nb_results\";O:8:\"stdClass\":4:{s:6:\"format\";s:5:\"int64\";s:7:\"maximum\";i:2147483647;s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:5:\"query\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Query\";}s:7:\"results\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"size\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:4:\"user\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:5:\"query\";i:1;s:4:\"size\";}s:4:\"type\";s:6:\"object\";}s:9:\"Datamodel\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"aliases\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:6:\"fields\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/DatamodelField\";}s:4:\"type\";s:5:\"array\";}s:6:\"groups\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/DatamodelGroup\";}s:4:\"type\";s:5:\"array\";}s:21:\"max_timeseries_fields\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:2:{i:0;s:6:\"fields\";i:1;s:6:\"groups\";}s:4:\"type\";s:6:\"object\";}s:14:\"DatamodelField\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":10:{s:7:\"aliases\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:5:\"group\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"multiple\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"optional\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"permissions\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"subtype\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"suggestion\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:8:{i:0;s:8:\"multiple\";i:1;s:4:\"name\";i:2;s:7:\"subtype\";i:3;s:5:\"group\";i:4;s:4:\"type\";i:5;s:2:\"id\";i:6;s:11:\"permissions\";i:7;s:8:\"optional\";}s:4:\"type\";s:6:\"object\";}s:14:\"DatamodelGroup\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:2:\"id\";i:1;s:4:\"name\";}s:4:\"type\";s:6:\"object\";}s:7:\"Dataset\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"fields\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/DatasetField\";}s:4:\"type\";s:5:\"array\";}s:6:\"groups\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/DatasetGroup\";}s:4:\"type\";s:5:\"array\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"multiple\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:2:\"id\";i:1;s:4:\"name\";i:2;s:6:\"groups\";i:3;s:6:\"fields\";}s:4:\"type\";s:6:\"object\";}s:12:\"DatasetField\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":13:{s:7:\"aliases\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:10:\"deprecated\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:5:\"group\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"meta\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:8:\"multiple\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"optional\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"permissions\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:8:\"settings\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:7:\"subtype\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"suggestion\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:7:{i:0;s:8:\"multiple\";i:1;s:4:\"name\";i:2;s:7:\"subtype\";i:3;s:4:\"type\";i:4;s:2:\"id\";i:5;s:11:\"permissions\";i:6;s:8:\"optional\";}s:4:\"type\";s:6:\"object\";}s:12:\"DatasetGroup\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"multiple\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"parent\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:2:\"id\";i:1;s:4:\"name\";}s:4:\"type\";s:6:\"object\";}s:8:\"Datasets\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"datasets\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Dataset\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:8:\"datasets\";}s:4:\"type\";s:6:\"object\";}s:7:\"Default\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:14:\"DefaultPayload\";O:8:\"stdClass\":3:{s:11:\"description\";s:79:\"default
  payload for object for all HTTP codes that are not covered individually\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"error\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"error_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Error
  Code\";s:4:\"type\";s:6:\"string\";}s:12:\"error_detail\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"If
  available, detailed error\";s:4:\"type\";s:6:\"object\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Error
  Message\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:8:\"ErrorAgg\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"error_code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:7:\"message\";i:1;s:10:\"error_code\";}s:4:\"type\";s:6:\"object\";}s:11:\"FieldValues\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"count\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:7:\"results\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/FieldValuesResult\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:2:{i:0;s:5:\"count\";i:1;s:7:\"results\";}s:4:\"type\";s:6:\"object\";}s:17:\"FieldValuesResult\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"nb_urls\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:5:\"value\";i:1;s:7:\"nb_urls\";}s:4:\"type\";s:6:\"object\";}s:11:\"HtmlExtract\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Html
  Extract\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"config\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:12:\"extract_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"KeywordsStat\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"data\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/KeywordsStatData\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"type\";i:1;s:4:\"data\";}s:4:\"type\";s:6:\"object\";}s:16:\"KeywordsStatData\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":5:{s:3:\"all\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/KeywordsStatDetail\";}s:4:\"date\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:7:\"desktop\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/KeywordsStatDetail\";}s:6:\"mobile\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/KeywordsStatDetail\";}s:6:\"tablet\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/KeywordsStatDetail\";}}s:8:\"required\";a:5:{i:0;s:4:\"date\";i:1;s:3:\"all\";i:2;s:7:\"desktop\";i:3;s:6:\"mobile\";i:4;s:6:\"tablet\";}s:4:\"type\";s:6:\"object\";}s:18:\"KeywordsStatDetail\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"clicks\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:11:\"impressions\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:14:\"sampled_clicks\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:19:\"sampled_impressions\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:4:{i:0;s:6:\"clicks\";i:1;s:11:\"impressions\";i:2;s:14:\"sampled_clicks\";i:3;s:19:\"sampled_impressions\";}s:4:\"type\";s:6:\"object\";}s:13:\"KeywordsStats\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"stats\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/KeywordsStat\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:5:\"stats\";}s:4:\"type\";s:6:\"object\";}s:16:\"LinksPercentiles\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"domain\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"percentiles\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/LinksPercentilesItem\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:2:{i:0;s:6:\"domain\";i:1;s:11:\"percentiles\";}s:4:\"type\";s:6:\"object\";}s:20:\"LinksPercentilesItem\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":6:{s:3:\"avg\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:3:\"max\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:12:\"metric_total\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:3:\"min\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:9:\"url_total\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:6:{i:0;s:3:\"min\";i:1;s:3:\"max\";i:2;s:9:\"url_total\";i:3;s:12:\"metric_total\";i:4;s:3:\"avg\";i:5;s:2:\"id\";}s:4:\"type\";s:6:\"object\";}s:15:\"LinksTopDomains\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":7:{s:6:\"domain\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"follow_links\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:14:\"follow_samples\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/LinksTopDomainsSamples\";}s:4:\"type\";s:5:\"array\";}s:14:\"nofollow_links\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:16:\"nofollow_samples\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/LinksTopDomainsSamples\";}s:4:\"type\";s:5:\"array\";}s:19:\"unique_follow_links\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:21:\"unique_nofollow_links\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:7:{i:0;s:12:\"follow_links\";i:1;s:14:\"nofollow_links\";i:2;s:6:\"domain\";i:3;s:14:\"follow_samples\";i:4;s:16:\"nofollow_samples\";i:5;s:19:\"unique_follow_links\";i:6;s:21:\"unique_nofollow_links\";}s:4:\"type\";s:6:\"object\";}s:22:\"LinksTopDomainsSamples\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"sources\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:12:\"unique_links\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:3:\"url\";i:1;s:7:\"sources\";i:2;s:12:\"unique_links\";}s:4:\"type\";s:6:\"object\";}s:12:\"PageRankLost\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"external\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:11:\"non_crawled\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:10:\"robots_txt\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}}s:8:\"required\";a:3:{i:0;s:11:\"non_crawled\";i:1;s:8:\"external\";i:2;s:10:\"robots_txt\";}s:4:\"type\";s:6:\"object\";}s:7:\"Project\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":14:{s:6:\"active\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:23:\"auto_pin_first_analysis\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:16:\"current_settings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ProjectSettings\";}s:12:\"date_created\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:16:\"has_log_analysis\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:7:\"boolean\";}s:13:\"last_analysis\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"object\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"pins_balance\";O:8:\"stdClass\":4:{s:6:\"format\";s:5:\"int64\";s:7:\"maximum\";i:2147483647;s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:16:\"retention_period\";O:8:\"stdClass\":4:{s:6:\"format\";s:5:\"int64\";s:7:\"maximum\";i:2147483647;s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:12:\"settings_url\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"slug\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"timezone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"user\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/User\";}}s:8:\"required\";a:4:{i:0;s:4:\"name\";i:1;s:4:\"slug\";i:2;s:4:\"user\";i:3;s:16:\"current_settings\";}s:4:\"type\";s:6:\"object\";}s:18:\"ProjectSavedFilter\";O:8:\"stdClass\":4:{s:11:\"description\";s:25:\"Project's
  saved UrlFilter\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"filters\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:10:\"identifier\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:7:\"filters\";}s:4:\"type\";s:6:\"object\";}s:15:\"ProjectSettings\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":18:{s:15:\"allowed_domains\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:19:\"blacklisted_domains\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:13:\"compare_crawl\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"crawl_gzip\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:13:\"extra_headers\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:30:\"google_analytics_account_email\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"Keep
  email in case user delete his social auth connection\";s:4:\"type\";s:6:\"string\";}s:24:\"google_analytics_nb_days\";O:8:\"stdClass\":4:{s:6:\"format\";s:5:\"int64\";s:7:\"maximum\";i:90;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:24:\"google_analytics_site_id\";O:8:\"stdClass\":4:{s:6:\"format\";s:5:\"int64\";s:7:\"maximum\";i:2147483647;s:7:\"minimum\";i:-2147483648;s:4:\"type\";s:7:\"integer\";}s:21:\"google_social_auth_id\";O:8:\"stdClass\":4:{s:6:\"format\";s:5:\"int64\";s:7:\"maximum\";i:2147483647;s:7:\"minimum\";i:-2147483648;s:4:\"type\";s:7:\"integer\";}s:14:\"has_robots_txt\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:15:\"header_settings\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:9:\"max_depth\";O:8:\"stdClass\":4:{s:6:\"format\";s:5:\"int64\";s:7:\"maximum\";i:2147483647;s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:12:\"max_nb_pages\";O:8:\"stdClass\":4:{s:6:\"format\";s:5:\"int64\";s:7:\"maximum\";i:2147483647;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:17:\"max_pages_per_sec\";O:8:\"stdClass\":4:{s:6:\"format\";s:5:\"int64\";s:7:\"maximum\";i:2147483647;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:16:\"respect_nofollow\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"sitemaps\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:10:\"start_urls\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:10:\"user_agent\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:6:{i:0;s:10:\"start_urls\";i:1;s:12:\"max_nb_pages\";i:2;s:19:\"blacklisted_domains\";i:3;s:15:\"allowed_domains\";i:4;s:8:\"sitemaps\";i:5;s:15:\"header_settings\";}s:4:\"type\";s:6:\"object\";}s:13:\"ProjectsPaths\";O:8:\"stdClass\":4:{s:11:\"description\";s:14:\"Projects
  paths\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"projects\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:8:\"projects\";}s:4:\"type\";s:6:\"object\";}s:5:\"Query\";O:8:\"stdClass\":3:{s:11:\"description\";s:5:\"Query\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"fields\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:7:\"filters\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:4:\"sort\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:11:\"RegexConfig\";O:8:\"stdClass\":4:{s:11:\"description\";s:12:\"Regex
  config\";s:10:\"properties\";O:8:\"stdClass\":9:{s:11:\"aggregation\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"cast\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"date_format\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"float_format\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"ignore_case\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:5:\"match\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"regex\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"slug\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:6:{i:0;s:4:\"name\";i:1;s:11:\"aggregation\";i:2;s:4:\"cast\";i:3;s:5:\"match\";i:4;s:5:\"regex\";i:5;s:11:\"ignore_case\";}s:4:\"type\";s:6:\"object\";}s:13:\"RewritingRule\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"ignore_case\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:5:\"regex\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"replace\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:5:\"regex\";i:1;s:7:\"replace\";i:2;s:11:\"ignore_case\";}s:4:\"type\";s:6:\"object\";}s:14:\"SitemapsReport\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":5:{s:5:\"count\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:6:\"errors\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/SitemapsReportSitemap\";}s:4:\"type\";s:5:\"array\";}s:15:\"sitemap_indexes\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/SitemapsReportSitemap\";}s:4:\"type\";s:5:\"array\";}s:12:\"sitemap_only\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/SitemapsReportOnly\";}s:8:\"sitemaps\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/SitemapsReportSitemap\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:5:{i:0;s:5:\"count\";i:1;s:12:\"sitemap_only\";i:2;s:15:\"sitemap_indexes\";i:3;s:8:\"sitemaps\";i:4;s:6:\"errors\";}s:4:\"type\";s:6:\"object\";}s:18:\"SitemapsReportOnly\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"in_configuration\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:20:\"out_of_configuration\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:2:{i:0;s:20:\"out_of_configuration\";i:1;s:16:\"in_configuration\";}s:4:\"type\";s:6:\"object\";}s:21:\"SitemapsReportSitemap\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":6:{s:5:\"error\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/SitemapsReportSitemapError\";}s:9:\"file_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"invalid_urls\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:15:\"sitemap_indexes\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"valid_urls\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:1:{i:0;s:3:\"url\";}s:4:\"type\";s:6:\"object\";}s:26:\"SitemapsReportSitemapError\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"type\";i:1;s:7:\"message\";}s:4:\"type\";s:6:\"object\";}s:29:\"SuggestedUpdatesAddOnFeatures\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"options\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:7:\"options\";}s:4:\"type\";s:6:\"object\";}s:32:\"SuggestedUpdatesFeaturesToUpdate\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"new_options\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:16:\"previous_options\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:3:{i:0;s:4:\"name\";i:1;s:16:\"previous_options\";i:2;s:11:\"new_options\";}s:4:\"type\";s:6:\"object\";}s:20:\"TestRegexExtractRule\";O:8:\"stdClass\":4:{s:11:\"description\";s:23:\"Test
  regex extract rule\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"content\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"extract_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"rule\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/RegexConfig\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:12:\"extract_type\";i:1;s:4:\"rule\";}s:4:\"type\";s:6:\"object\";}s:17:\"URLRewritingRules\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"rules\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/RewritingRule\";}s:4:\"type\";s:5:\"array\";}s:4:\"urls\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:2:{i:0;s:4:\"urls\";i:1;s:5:\"rules\";}s:4:\"type\";s:6:\"object\";}s:9:\"UrlDetail\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:7:\"UrlHTML\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:11:\"UrlKeywords\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:4:\"User\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:12:\"company_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"date_joined\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"first_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"is_organization\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:9:\"last_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"login\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"string\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}}"
...
