---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":15:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:9:\"x-twitter\";s:12:\"PermittedSoc\";}s:11:\"description\";s:496:\"<fullname>AWS
  Lambda</fullname> <p> <b>Overview</b> </p> <p>This is the <i>AWS Lambda API Reference</i>.
  The AWS Lambda Developer Guide provides additional information. For the service
  overview, see <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/welcome.html\">What
  is AWS Lambda</a>, and for information about how the service works, see <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/lambda-introduction.html\">AWS
  Lambda: How it Works</a> in the <b>AWS Lambda Developer Guide</b>.</p>\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache
  2.0 License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:10:\"AWS
  Lambda\";s:7:\"version\";s:10:\"2015-03-31\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:90:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/lambda-2015-03-31.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v4\";s:13:\"x-serviceName\";s:6:\"lambda\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:16:\"amazonaws_lambda\";s:4:\"type\";s:7:\"openapi\";}}"
host: lambda.amazonaws.com
basePath: /
paths: ~
produces:
- application/json
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":147:{s:12:\"AccountLimit\";O:8:\"stdClass\":3:{s:11:\"description\";s:92:\"Provides
  limits of code size and concurrency associated with the current account and region.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:16:\"CodeSizeUnzipped\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Long\";s:11:\"description\";s:151:\"Size,
  in bytes, of code/dependencies that you can zip into a deployment package (uncompressed
  zip/jar size) for uploading. The default limit is 250 MB.\";}s:14:\"CodeSizeZipped\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Long\";s:11:\"description\";s:189:\"Size,
  in bytes, of a single zipped code/dependencies package you can upload for your Lambda
  function(.zip/.jar file). Try using Amazon S3 for uploading larger files. Default
  limit is 50 MB.\";}s:20:\"ConcurrentExecutions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:296:\"Number
  of simultaneous executions of your function per region. For more information or
  to request a limit increase for concurrent executions, see <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/concurrent-executions.html\">Lambda
  Function Concurrent Executions</a>. The default limit is 1000.\";}s:13:\"TotalCodeSize\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Long\";s:11:\"description\";s:96:\"Maximum
  size, in bytes, of a code package you can upload per region. The default size is
  75 GB. \";}s:30:\"UnreservedConcurrentExecutions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/UnreservedConcurrentExecutions\";s:11:\"description\";s:155:\"The
  number of concurrent executions available to functions that do not have concurrency
  limits set. For more information, see <a>concurrent-executions</a>.\";}}s:4:\"type\";s:6:\"object\";}s:12:\"AccountUsage\";O:8:\"stdClass\":3:{s:11:\"description\";s:91:\"Provides
  code size usage and function count associated with the current account and region.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"FunctionCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Long\";s:11:\"description\";s:59:\"The
  number of your account's existing functions per region.\";}s:13:\"TotalCodeSize\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Long\";s:11:\"description\";s:70:\"Total
  size, in bytes, of the account's deployment packages per region.\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Action\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:33:\"(lambda:[*]|lambda:[a-zA-Z]+|[*])\";s:4:\"type\";s:6:\"string\";}s:20:\"AddPermissionRequest\";O:8:\"stdClass\":5:{s:11:\"description\";s:4:\"<p/>\";s:7:\"example\";O:8:\"stdClass\":6:{s:6:\"Action\";s:21:\"lambda:InvokeFunction\";s:12:\"FunctionName\";s:10:\"MyFunction\";s:9:\"Principal\";s:16:\"s3.amazonaws.com\";s:13:\"SourceAccount\";s:12:\"123456789012\";s:9:\"SourceArn\";s:28:\"arn:aws:s3:::examplebucket/*\";s:11:\"StatementId\";s:4:\"ID-1\";}s:10:\"properties\";O:8:\"stdClass\":7:{s:6:\"Action\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Action\";s:11:\"description\";s:294:\"The
  AWS Lambda action you want to allow in this statement. Each Lambda action is a string
  starting with <code>lambda:</code> followed by the API name . For example, <code>lambda:CreateFunction</code>.
  You can use wildcard (<code>lambda:*</code>) to grant permission for all AWS Lambda
  actions. \";}s:16:\"EventSourceToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/EventSourceToken\";s:11:\"description\";s:136:\"A
  unique token that must be supplied by the principal invoking the function. This
  is currently only used for Alexa Smart Home functions.\";}s:9:\"Principal\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Principal\";s:11:\"description\";s:438:\"The
  principal who is getting this permission. It can be Amazon S3 service Principal
  (<code>s3.amazonaws.com</code>) if you want Amazon S3 to invoke the function, an
  AWS account ID if you are granting cross-account permission, or any valid AWS service
  principal such as <code>sns.amazonaws.com</code>. For example, you might want to
  allow a custom application in another AWS account to push events to AWS Lambda by
  invoking your function. \";}s:10:\"RevisionId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:363:\"An
  optional value you can use to ensure you are updating the latest update of the function
  version or alias. If the <code>RevisionID</code> you pass doesn't match the latest
  <code>RevisionId</code> of the function or alias, it will fail with an error message,
  advising you to retrieve the latest function version or alias <code>RevisionID</code>
  using either or .\";}s:13:\"SourceAccount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/SourceOwner\";s:11:\"description\";s:548:\"This
  parameter is used for S3 and SES. The AWS account ID (without a hyphen) of the source
  owner. For example, if the <code>SourceArn</code> identifies a bucket, then this
  is the bucket owner's account ID. You can use this additional condition to ensure
  the bucket you specify is owned by a specific account (it is possible the bucket
  owner deleted the bucket and some other AWS account created the bucket). You can
  also use this condition to specify all sources (that is, you don't specify the <code>SourceArn</code>)
  owned by a specific account. \";}s:9:\"SourceArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:452:\"<p>This
  is optional; however, when granting permission to invoke your function, you should
  specify this field with the Amazon Resource Name (ARN) as its value. This ensures
  that only events generated from the specified source can invoke the function.</p>
  <important> <p>If you add a permission without providing the source ARN, any AWS
  account that creates a mapping to your function ARN can send events to invoke your
  Lambda function.</p> </important>\";}s:11:\"StatementId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/StatementId\";s:11:\"description\";s:30:\"A
  unique statement identifier.\";}}s:8:\"required\";a:3:{i:0;s:11:\"StatementId\";i:1;s:6:\"Action\";i:2;s:9:\"Principal\";}s:4:\"type\";s:6:\"object\";}s:21:\"AddPermissionResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:7:\"example\";O:8:\"stdClass\":1:{s:9:\"Statement\";s:4:\"ID-1\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"Statement\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:156:\"The
  permission statement you specified in the request. The response returns the same
  as a string using a backslash (\"\\\") as an escape character in the JSON.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"AdditionalVersion\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:1024;s:9:\"minLength\";i:1;s:7:\"pattern\";s:6:\"[0-9]+\";s:4:\"type\";s:6:\"string\";}s:24:\"AdditionalVersionWeights\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/AdditionalVersion\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Weight\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:5:\"Alias\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:128;s:9:\"minLength\";i:1;s:7:\"pattern\";s:28:\"(?!^[0-9]+$)([a-zA-Z0-9-_]+)\";s:4:\"type\";s:6:\"string\";}s:18:\"AliasConfiguration\";O:8:\"stdClass\":4:{s:11:\"description\";s:73:\"Provides
  configuration information about a Lambda function version alias.\";s:7:\"example\";O:8:\"stdClass\":4:{s:8:\"AliasArn\";s:60:\"arn:aws:lambda:us-west-2:123456789012:function:functionAlias\";s:11:\"Description\";s:0:\"\";s:15:\"FunctionVersion\";s:1:\"1\";s:4:\"Name\";s:13:\"functionAlias\";}s:10:\"properties\";O:8:\"stdClass\":6:{s:8:\"AliasArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/FunctionArn\";s:11:\"description\";s:265:\"Lambda
  function ARN that is qualified using the alias name as the suffix. For example,
  if you create an alias called <code>BETA</code> that points to a helloworld function
  version, the ARN is <code>arn:aws:lambda:aws-regions:acct-id:function:helloworld:BETA</code>.\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Description\";s:11:\"description\";s:18:\"Alias
  description.\";}s:15:\"FunctionVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Version\";s:11:\"description\";s:43:\"Function
  version to which the alias points.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Alias\";s:11:\"description\";s:11:\"Alias
  name.\";}s:10:\"RevisionId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:64:\"Represents
  the latest updated revision of the function or alias.\";}s:13:\"RoutingConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/AliasRoutingConfiguration\";s:11:\"description\";s:211:\"Specifies
  an additional function versions the alias points to, allowing you to dictate what
  percentage of traffic will invoke each version. For more information, see <a>lambda-traffic-shifting-using-aliases</a>.\";}}s:4:\"type\";s:6:\"object\";}s:9:\"AliasList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/AliasConfiguration\";}s:4:\"type\";s:5:\"array\";}s:25:\"AliasRoutingConfiguration\";O:8:\"stdClass\":3:{s:11:\"description\";s:167:\"The
  parent object that implements what percentage of traffic will invoke each function
  version. For more information, see <a>lambda-traffic-shifting-using-aliases</a>.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:24:\"AdditionalVersionWeights\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/AdditionalVersionWeights\";s:11:\"description\";s:259:\"Set
  this value to dictate what percentage of traffic will invoke the updated function
  version. If set to an empty string, 100 percent of traffic will invoke <code>function-version</code>.
  For more information, see <a>lambda-traffic-shifting-using-aliases</a>.\";}}s:4:\"type\";s:6:\"object\";}s:3:\"Arn\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:64:\"arn:aws:([a-zA-Z0-9\\-])+:([a-z]{2}-[a-z]+-\\d{1})?:(\\d{12})?:(.*)\";s:4:\"type\";s:6:\"string\";}s:9:\"BatchSize\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:10000;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:4:\"Blob\";O:8:\"stdClass\":2:{s:6:\"format\";s:8:\"password\";s:4:\"type\";s:6:\"string\";}s:10:\"BlobStream\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Boolean\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:28:\"CodeStorageExceededException\";O:8:\"stdClass\":3:{s:11:\"description\";s:137:\"You
  have exceeded your maximum total code size per account. <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/limits.html\">Limits</a>
  \";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:4:\"<p/>\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:11:\"Concurrency\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:28:\"ReservedConcurrentExecutions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/ReservedConcurrentExecutions\";s:11:\"description\";s:119:\"The
  number of concurrent executions reserved for this function. For more information,
  see <a>concurrent-executions</a>.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"CreateAliasRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Description\";s:11:\"description\";s:25:\"Description
  of the alias.\";}s:15:\"FunctionVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Version\";s:11:\"description\";s:61:\"Lambda
  function version for which you are creating the alias.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Alias\";s:11:\"description\";s:36:\"Name
  for the alias you are creating.\";}s:13:\"RoutingConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/AliasRoutingConfiguration\";s:11:\"description\";s:205:\"Specifies
  an additional version your alias can point to, allowing you to dictate what percentage
  of traffic will invoke each version. For more information, see <a>lambda-traffic-shifting-using-aliases</a>.\";}}s:8:\"required\";a:2:{i:0;s:4:\"Name\";i:1;s:15:\"FunctionVersion\";}s:4:\"type\";s:6:\"object\";}s:31:\"CreateEventSourceMappingRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":6:{s:9:\"BatchSize\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/BatchSize\";s:11:\"description\";s:213:\"The
  largest number of records that AWS Lambda will retrieve from your event source at
  the time of invoking your function. Your function receives an event with all the
  retrieved records. The default is 100 records.\";}s:7:\"Enabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Enabled\";s:11:\"description\";s:110:\"Indicates
  whether AWS Lambda should begin polling the event source. By default, <code>Enabled</code>
  is true. \";}s:14:\"EventSourceArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:333:\"The
  Amazon Resource Name (ARN) of the Amazon Kinesis or the Amazon DynamoDB stream that
  is the event source. Any record added to this stream could cause AWS Lambda to invoke
  your Lambda function, it depends on the <code>BatchSize</code>. AWS Lambda POSTs
  the Amazon Kinesis event, containing records, to your Lambda function as JSON.\";}s:12:\"FunctionName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/FunctionName\";s:11:\"description\";s:928:\"<p>The
  Lambda function to invoke when AWS Lambda detects an event on the stream.</p> <p>
  You can specify the function name (for example, <code>Thumbnail</code>) or you can
  specify Amazon Resource Name (ARN) of the function (for example, <code>arn:aws:lambda:us-west-2:account-id:function:ThumbNail</code>).
  </p> <p> If you are using versioning, you can also provide a qualified function
  ARN (ARN that is qualified with function version or alias name as suffix). For more
  information about versioning, see <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/versioning-aliases.html\">AWS
  Lambda Function Versioning and Aliases</a> </p> <p>AWS Lambda also allows you to
  specify only the function name with the account ID qualifier (for example, <code>account-id:Thumbnail</code>).
  </p> <p>Note that the length constraint applies only to the ARN. If you specify
  only the function name, it is limited to 64 characters in length.</p>\";}s:16:\"StartingPosition\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/EventSourcePosition\";s:11:\"description\";s:668:\"The
  position in the DynamoDB or Kinesis stream where AWS Lambda should start reading.
  For more information, see <a href=\"http://docs.aws.amazon.com/kinesis/latest/APIReference/API_GetShardIterator.html#Kinesis-GetShardIterator-request-ShardIteratorType\">GetShardIterator</a>
  in the <i>Amazon Kinesis API Reference Guide</i> or <a href=\"http://docs.aws.amazon.com/amazondynamodb/latest/APIReference/API_streams_GetShardIterator.html\">GetShardIterator</a>
  in the <i>Amazon DynamoDB API Reference Guide</i>. The <code>AT_TIMESTAMP</code>
  value is supported only for <a href=\"http://docs.aws.amazon.com/streams/latest/dev/amazon-kinesis-streams.html\">Kinesis
  streams</a>. \";}s:25:\"StartingPositionTimestamp\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Date\";s:11:\"description\";s:615:\"The
  timestamp of the data record from which to start reading. Used with <a href=\"http://docs.aws.amazon.com/kinesis/latest/APIReference/API_GetShardIterator.html#Kinesis-GetShardIterator-request-ShardIteratorType\">shard
  iterator type</a> AT_TIMESTAMP. If a record with this exact timestamp does not exist,
  the iterator returned is for the next (later) record. If the timestamp is older
  than the current trim horizon, the iterator returned is for the oldest untrimmed
  data record (TRIM_HORIZON). Valid only for <a href=\"http://docs.aws.amazon.com/streams/latest/dev/amazon-kinesis-streams.html\">Kinesis
  streams</a>. \";}}s:8:\"required\";a:3:{i:0;s:14:\"EventSourceArn\";i:1;s:12:\"FunctionName\";i:2;s:16:\"StartingPosition\";}s:4:\"type\";s:6:\"object\";}s:21:\"CreateFunctionRequest\";O:8:\"stdClass\":5:{s:11:\"description\";s:4:\"<p/>\";s:7:\"example\";O:8:\"stdClass\":10:{s:4:\"Code\";O:8:\"stdClass\":0:{}s:11:\"Description\";s:0:\"\";s:12:\"FunctionName\";s:10:\"MyFunction\";s:7:\"Handler\";s:23:\"souce_file.handler_name\";s:10:\"MemorySize\";i:128;s:7:\"Publish\";b:1;s:4:\"Role\";s:53:\"arn:aws:iam::123456789012:role/service-role/role-name\";s:7:\"Runtime\";s:9:\"nodejs4.3\";s:7:\"Timeout\";i:15;s:9:\"VpcConfig\";O:8:\"stdClass\":0:{}}s:10:\"properties\";O:8:\"stdClass\":15:{s:4:\"Code\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/FunctionCode\";s:11:\"description\";s:33:\"The
  code for the Lambda function.\";}s:16:\"DeadLetterConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/DeadLetterConfig\";s:11:\"description\";s:152:\"The
  parent object that contains the target ARN (Amazon Resource Name) of an Amazon SQS
  queue or Amazon SNS topic. For more information, see <a>dlq</a>. \";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Description\";s:11:\"description\";s:123:\"A
  short, user-defined function description. Lambda does not use this value. Assign
  a meaningful description as you see fit.\";}s:11:\"Environment\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Environment\";}s:12:\"FunctionName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/FunctionName\";s:11:\"description\";s:396:\"The
  name you want to assign to the function you are uploading. The function names appear
  in the console and are returned in the <a>ListFunctions</a> API. Function names
  are used to specify functions to other AWS Lambda API operations, such as <a>Invoke</a>.
  Note that the length constraint applies only to the ARN. If you specify only the
  function name, it is limited to 64 characters in length. \";}s:7:\"Handler\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Handler\";s:11:\"description\";s:403:\"The
  function within your code that Lambda calls to begin execution. For Node.js, it
  is the <i>module-name</i>.<i>export</i> value in your function. For Java, it can
  be <code>package.class-name::handler</code> or <code>package.class-name</code>.
  For more information, see <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/java-programming-model-handler-types.html\">Lambda
  Function Handler (Java)</a>. \";}s:9:\"KMSKeyArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/KMSKeyArn\";s:11:\"description\";s:160:\"The
  Amazon Resource Name (ARN) of the KMS key used to encrypt your function's environment
  variables. If not provided, AWS Lambda will use a default service key.\";}s:10:\"MemorySize\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MemorySize\";s:11:\"description\";s:389:\"The
  amount of memory, in MB, your Lambda function is given. Lambda uses this memory
  size to infer the amount of CPU and memory allocated to your function. Your function
  use-case determines your CPU and memory requirements. For example, a database operation
  might need less memory compared to an image processing function. The default value
  is 128 MB. The value must be a multiple of 64 MB.\";}s:7:\"Publish\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:132:\"This
  boolean parameter can be used to request AWS Lambda to create the Lambda function
  and publish a version as an atomic operation.\";}s:4:\"Role\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/RoleArn\";s:11:\"description\";s:290:\"The
  Amazon Resource Name (ARN) of the IAM role that Lambda assumes when it executes
  your function to access any other Amazon Web Services (AWS) resources. For more
  information, see <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/lambda-introduction.html\">AWS
  Lambda: How it Works</a>. \";}s:7:\"Runtime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Runtime\";s:11:\"description\";s:888:\"<p>The
  runtime environment for the Lambda function you are uploading.</p> <p>To use the
  Python runtime v3.6, set the value to \"python3.6\". To use the Python runtime v2.7,
  set the value to \"python2.7\". To use the Node.js runtime v6.10, set the value
  to \"nodejs6.10\". To use the Node.js runtime v4.3, set the value to \"nodejs4.3\".
  To use the .NET Core runtime v1.0, set the value to \"dotnetcore1.0\". To use the
  .NET Core runtime v2.0, set the value to \"dotnetcore2.0\".</p> <note> <p>Node v0.10.42
  is currently marked as deprecated. You must migrate existing functions to the newer
  Node.js runtime versions available on AWS Lambda (nodejs4.3 or nodejs6.10) as soon
  as possible. Failure to do so will result in an invalid parameter error being returned.
  Note that you will have to follow this procedure for each region that contains functions
  written in the Node v0.10.42 runtime.</p> </note>\";}s:4:\"Tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Tags\";s:11:\"description\";s:228:\"The
  list of tags (key-value pairs) assigned to the new function. For more information,
  see <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/tagging.html\">Tagging
  Lambda Functions</a> in the <b>AWS Lambda Developer Guide</b>.\";}s:7:\"Timeout\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Timeout\";s:11:\"description\";s:221:\"The
  function execution time at which Lambda should terminate the function. Because the
  execution time has cost implications, we recommend you set this value based on your
  expected execution time. The default is 3 seconds.\";}s:13:\"TracingConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/TracingConfig\";s:11:\"description\";s:65:\"The
  parent object that contains your function's tracing settings.\";}s:9:\"VpcConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/VpcConfig\";s:11:\"description\";s:237:\"If
  your Lambda function accesses resources in a VPC, you provide this parameter identifying
  the list of security group IDs and subnet IDs. These must belong to the same VPC.
  You must provide at least one security group and one subnet ID.\";}}s:8:\"required\";a:5:{i:0;s:12:\"FunctionName\";i:1;s:7:\"Runtime\";i:2;s:4:\"Role\";i:3;s:7:\"Handler\";i:4;s:4:\"Code\";}s:4:\"type\";s:6:\"object\";}s:4:\"Date\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:16:\"DeadLetterConfig\";O:8:\"stdClass\":3:{s:11:\"description\";s:157:\"The
  Amazon Resource Name (ARN) of an Amazon SQS queue or Amazon SNS topic you specify
  as your Dead Letter Queue (DLQ). For more information, see <a>dlq</a>. \";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"TargetArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ResourceArn\";s:11:\"description\";s:169:\"The
  Amazon Resource Name (ARN) of an Amazon SQS queue or Amazon SNS topic you specify
  as your Dead Letter Queue (DLQ). <a>dlq</a>. For more information, see <a>dlq</a>.
  \";}}s:4:\"type\";s:6:\"object\";}s:18:\"DeleteAliasRequest\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":2:{s:12:\"FunctionName\";s:10:\"myFunction\";s:4:\"Name\";s:5:\"alias\";}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:31:\"DeleteEventSourceMappingRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:7:\"example\";O:8:\"stdClass\":1:{s:4:\"UUID\";s:16:\"12345kxodurf3443\";}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:32:\"DeleteFunctionConcurrencyRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:21:\"DeleteFunctionRequest\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":2:{s:12:\"FunctionName\";s:10:\"myFunction\";s:9:\"Qualifier\";s:1:\"1\";}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:11:\"Description\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:256;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";}s:24:\"EC2AccessDeniedException\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:4:\"Type\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:21:\"EC2ThrottledException\";O:8:\"stdClass\":3:{s:11:\"description\";s:135:\"AWS
  Lambda was throttled by Amazon EC2 during Lambda function initialization using the
  execution role provided for the Lambda function.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:4:\"Type\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:22:\"EC2UnexpectedException\";O:8:\"stdClass\":3:{s:11:\"description\";s:96:\"AWS
  Lambda received an unexpected EC2 client exception while setting up for the Lambda
  function.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"EC2ErrorCode\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:4:\"Type\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:24:\"ENILimitReachedException\";O:8:\"stdClass\":3:{s:11:\"description\";s:191:\"AWS
  Lambda was not able to create an Elastic Network Interface (ENI) in the VPC, specified
  as part of Lambda function configuration, because the limit for network interfaces
  has been reached.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:4:\"Type\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Enabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"Environment\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"The
  parent object that contains your environment's configuration settings.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"Variables\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/EnvironmentVariables\";s:11:\"description\";s:77:\"The
  key-value pairs that represent your environment's configuration settings.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"EnvironmentError\";O:8:\"stdClass\":3:{s:11:\"description\";s:94:\"The
  parent object that contains error information associated with your configuration
  settings.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"ErrorCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:56:\"The
  error code returned by the environment error object.\";}s:7:\"Message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/SensitiveString\";s:11:\"description\";s:53:\"The
  message returned by the environment error object.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"EnvironmentResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:152:\"The
  parent object returned that contains your environment's configuration settings or
  any error information associated with your configuration settings.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"Error\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/EnvironmentError\";}s:9:\"Variables\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/EnvironmentVariables\";s:11:\"description\";s:107:\"The
  key-value pairs returned that represent your environment's configuration settings
  or error information.\";}}s:4:\"type\";s:6:\"object\";}s:23:\"EnvironmentVariableName\";O:8:\"stdClass\":3:{s:6:\"format\";s:8:\"password\";s:7:\"pattern\";s:23:\"[a-zA-Z]([a-zA-Z0-9_])+\";s:4:\"type\";s:6:\"string\";}s:24:\"EnvironmentVariableValue\";O:8:\"stdClass\":2:{s:6:\"format\";s:8:\"password\";s:4:\"type\";s:6:\"string\";}s:20:\"EnvironmentVariables\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/EnvironmentVariableName\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/EnvironmentVariableValue\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:31:\"EventSourceMappingConfiguration\";O:8:\"stdClass\":4:{s:11:\"description\";s:73:\"Describes
  mapping between an Amazon Kinesis stream and a Lambda function.\";s:7:\"example\";O:8:\"stdClass\":8:{s:9:\"BatchSize\";i:123;s:14:\"EventSourceArn\";s:28:\"arn:aws:s3:::examplebucket/*\";s:11:\"FunctionArn\";s:57:\"arn:aws:lambda:us-west-2:123456789012:function:myFunction\";s:12:\"LastModified\";s:28:\"2016-11-21T19:49:20.006+0000\";s:20:\"LastProcessingResult\";s:0:\"\";s:5:\"State\";s:0:\"\";s:21:\"StateTransitionReason\";s:0:\"\";s:4:\"UUID\";s:13:\"1234xCy789012\";}s:10:\"properties\";O:8:\"stdClass\":8:{s:9:\"BatchSize\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/BatchSize\";s:11:\"description\";s:185:\"The
  largest number of records that AWS Lambda will retrieve from your event source at
  the time of invoking your function. Your function receives an event with all the
  retrieved records.\";}s:14:\"EventSourceArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:89:\"The
  Amazon Resource Name (ARN) of the Amazon Kinesis stream that is the source of events.\";}s:11:\"FunctionArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/FunctionArn\";s:11:\"description\";s:77:\"The
  Lambda function to invoke when AWS Lambda detects an event on the stream.\";}s:12:\"LastModified\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Date\";s:11:\"description\";s:75:\"The
  UTC time string indicating the last time the event mapping was updated.\";}s:20:\"LastProcessingResult\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:69:\"The
  result of the last AWS Lambda invocation of your Lambda function.\";}s:5:\"State\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:212:\"The
  state of the event source mapping. It can be <code>Creating</code>, <code>Enabled</code>,
  <code>Disabled</code>, <code>Enabling</code>, <code>Disabling</code>, <code>Updating</code>,
  or <code>Deleting</code>.\";}s:21:\"StateTransitionReason\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:133:\"The
  reason the event source mapping is in its current state. It is either user-requested
  or an AWS Lambda-initiated state transition.\";}s:4:\"UUID\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:58:\"The
  AWS Lambda assigned opaque identifier for the mapping.\";}}s:4:\"type\";s:6:\"object\";}s:23:\"EventSourceMappingsList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/EventSourceMappingConfiguration\";}s:4:\"type\";s:5:\"array\";}s:19:\"EventSourcePosition\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:12:\"TRIM_HORIZON\";i:1;s:6:\"LATEST\";i:2;s:12:\"AT_TIMESTAMP\";}s:4:\"type\";s:6:\"string\";}s:16:\"EventSourceToken\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:256;s:9:\"minLength\";i:0;s:7:\"pattern\";s:16:\"[a-zA-Z0-9._\\-]+\";s:4:\"type\";s:6:\"string\";}s:11:\"FunctionArn\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:96:\"arn:aws:lambda:[a-z]{2}-[a-z]+-\\d{1}:\\d{12}:function:[a-zA-Z0-9-_]+(:(\\$LATEST|[a-zA-Z0-9-_]+))?\";s:4:\"type\";s:6:\"string\";}s:12:\"FunctionCode\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  code for the Lambda function.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"S3Bucket\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/S3Bucket\";s:11:\"description\";s:178:\"Amazon
  S3 bucket name where the .zip file containing your deployment package is stored.
  This bucket must reside in the same AWS region where you are creating the Lambda
  function.\";}s:5:\"S3Key\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/S3Key\";s:11:\"description\";s:74:\"The
  Amazon S3 object (the deployment package) key name you want to upload.\";}s:15:\"S3ObjectVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/S3ObjectVersion\";s:11:\"description\";s:73:\"The
  Amazon S3 object (the deployment package) version you want to upload.\";}s:7:\"ZipFile\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Blob\";s:11:\"description\";s:486:\"The
  contents of your zip file containing your deployment package. If you are using the
  web API directly, the contents of the zip file must be base64-encoded. If you are
  using the AWS SDKs or the AWS CLI, the SDKs or CLI will do the encoding for you.
  For more information about creating a .zip file, see <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/intro-permission-model.html#lambda-intro-execution-role.html\">Execution
  Permissions</a> in the <b>AWS Lambda Developer Guide</b>. \";}}s:4:\"type\";s:6:\"object\";}s:20:\"FunctionCodeLocation\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"The
  object for the Lambda function location.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"Location\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:135:\"The
  presigned URL you can use to download the function's .zip file that you previously
  uploaded. The URL is valid for up to 10 minutes.\";}s:14:\"RepositoryType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:56:\"The
  repository from which you can download the function.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"FunctionConfiguration\";O:8:\"stdClass\":4:{s:11:\"description\";s:48:\"A
  complex type that describes function metadata.\";s:7:\"example\";O:8:\"stdClass\":13:{s:10:\"CodeSha256\";s:46:\"LQT+0DHxxxxcfwLyQjzoEFKZtdqQjHXanlSdfXBlEW0VA=\";s:8:\"CodeSize\";i:123;s:11:\"Description\";s:0:\"\";s:11:\"FunctionArn\";s:57:\"arn:aws:lambda:us-west-2:123456789012:function:myFunction\";s:12:\"FunctionName\";s:10:\"myFunction\";s:7:\"Handler\";s:13:\"index.handler\";s:12:\"LastModified\";s:28:\"2016-11-21T19:49:20.006+0000\";s:10:\"MemorySize\";i:128;s:4:\"Role\";s:53:\"arn:aws:iam::123456789012:role/lambda_basic_execution\";s:7:\"Runtime\";s:9:\"python2.7\";s:7:\"Timeout\";i:123;s:7:\"Version\";s:1:\"1\";s:9:\"VpcConfig\";O:8:\"stdClass\":0:{}}s:10:\"properties\";O:8:\"stdClass\":19:{s:10:\"CodeSha256\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:58:\"It
  is the SHA256 hash of your function deployment package.\";}s:8:\"CodeSize\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Long\";s:11:\"description\";s:59:\"The
  size, in bytes, of the function .zip file you uploaded.\";}s:16:\"DeadLetterConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/DeadLetterConfig\";s:11:\"description\";s:152:\"The
  parent object that contains the target ARN (Amazon Resource Name) of an Amazon SQS
  queue or Amazon SNS topic. For more information, see <a>dlq</a>. \";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Description\";s:11:\"description\";s:30:\"The
  user-provided description.\";}s:11:\"Environment\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/EnvironmentResponse\";s:11:\"description\";s:74:\"The
  parent object that contains your environment's configuration settings.\";}s:11:\"FunctionArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/NameSpacedFunctionArn\";s:11:\"description\";s:56:\"The
  Amazon Resource Name (ARN) assigned to the function.\";}s:12:\"FunctionName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/NamespacedFunctionName\";s:11:\"description\";s:163:\"The
  name of the function. Note that the length constraint applies only to the ARN. If
  you specify only the function name, it is limited to 64 characters in length.\";}s:7:\"Handler\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Handler\";s:11:\"description\";s:59:\"The
  function Lambda calls to begin executing your function.\";}s:9:\"KMSKeyArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/KMSKeyArn\";s:11:\"description\";s:169:\"The
  Amazon Resource Name (ARN) of the KMS key used to encrypt your function's environment
  variables. If empty, it means you are using the AWS Lambda default service key.\";}s:12:\"LastModified\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:289:\"The
  time stamp of the last time you updated the function. The time stamp is conveyed
  as a string complying with ISO-8601 in this way YYYY-MM-DDThh:mm:ssTZD (e.g., 1997-07-16T19:20:30+01:00).
  For more information, see <a href=\"https://www.w3.org/TR/NOTE-datetime\">Date and
  Time Formats</a>.\";}s:9:\"MasterArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/FunctionArn\";s:11:\"description\";s:62:\"Returns
  the ARN (Amazon Resource Name) of the master function.\";}s:10:\"MemorySize\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MemorySize\";s:11:\"description\";s:85:\"The
  memory size, in MB, you configured for the function. Must be a multiple of 64 MB.\";}s:10:\"RevisionId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:64:\"Represents
  the latest updated revision of the function or alias.\";}s:4:\"Role\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/RoleArn\";s:11:\"description\";s:154:\"The
  Amazon Resource Name (ARN) of the IAM role that Lambda assumes when it executes
  your function to access any other Amazon Web Services (AWS) resources.\";}s:7:\"Runtime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Runtime\";s:11:\"description\";s:48:\"The
  runtime environment for the Lambda function.\";}s:7:\"Timeout\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Timeout\";s:11:\"description\";s:221:\"The
  function execution time at which Lambda should terminate the function. Because the
  execution time has cost implications, we recommend you set this value based on your
  expected execution time. The default is 3 seconds.\";}s:13:\"TracingConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/TracingConfigResponse\";s:11:\"description\";s:65:\"The
  parent object that contains your function's tracing settings.\";}s:7:\"Version\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Version\";s:11:\"description\";s:35:\"The
  version of the Lambda function.\";}s:9:\"VpcConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/VpcConfigResponse\";s:11:\"description\";s:55:\"VPC
  configuration associated with your Lambda function.\";}}s:4:\"type\";s:6:\"object\";}s:12:\"FunctionList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/FunctionConfiguration\";}s:4:\"type\";s:5:\"array\";}s:12:\"FunctionName\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:140;s:9:\"minLength\";i:1;s:7:\"pattern\";s:110:\"(arn:aws:lambda:)?([a-z]{2}-[a-z]+-\\d{1}:)?(\\d{12}:)?(function:)?([a-zA-Z0-9-_]+)(:(\\$LATEST|[a-zA-Z0-9-_]+))?\";s:4:\"type\";s:6:\"string\";}s:15:\"FunctionVersion\";O:8:\"stdClass\":2:{s:4:\"enum\";a:1:{i:0;s:3:\"ALL\";}s:4:\"type\";s:6:\"string\";}s:25:\"GetAccountSettingsRequest\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":0:{}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:26:\"GetAccountSettingsResponse\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":2:{s:12:\"AccountLimit\";O:8:\"stdClass\":0:{}s:12:\"AccountUsage\";O:8:\"stdClass\":0:{}}s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"AccountLimit\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/AccountLimit\";}s:12:\"AccountUsage\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/AccountUsage\";}}s:4:\"type\";s:6:\"object\";}s:15:\"GetAliasRequest\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":2:{s:12:\"FunctionName\";s:10:\"myFunction\";s:4:\"Name\";s:15:\"myFunctionAlias\";}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:28:\"GetEventSourceMappingRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:7:\"example\";O:8:\"stdClass\":1:{s:4:\"UUID\";s:23:\"123489-xxxxx-kdla8d89d7\";}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:31:\"GetFunctionConfigurationRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:7:\"example\";O:8:\"stdClass\":2:{s:12:\"FunctionName\";s:10:\"myFunction\";s:9:\"Qualifier\";s:1:\"1\";}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:18:\"GetFunctionRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:7:\"example\";O:8:\"stdClass\":2:{s:12:\"FunctionName\";s:10:\"myFunction\";s:9:\"Qualifier\";s:1:\"1\";}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:19:\"GetFunctionResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:100:\"This
  response contains the object for the Lambda function location (see <a>FunctionCodeLocation</a>.\";s:7:\"example\";O:8:\"stdClass\":2:{s:4:\"Code\";O:8:\"stdClass\":2:{s:8:\"Location\";s:12:\"somelocation\";s:14:\"RepositoryType\";s:2:\"S3\";}s:13:\"Configuration\";O:8:\"stdClass\":14:{s:10:\"CodeSha256\";s:46:\"LQT+0DHxxxxcfwLyQjzoEFKZtdqQjHXanlSdfXBlEW0VA=\";s:8:\"CodeSize\";i:262;s:11:\"Description\";s:30:\"A
  starter AWS Lambda function.\";s:11:\"Environment\";O:8:\"stdClass\":1:{s:9:\"Variables\";O:8:\"stdClass\":1:{s:9:\"S3_BUCKET\";s:4:\"test\";}}s:11:\"FunctionArn\";s:57:\"arn:aws:lambda:us-west-2:123456789012:function:myFunction\";s:12:\"FunctionName\";s:10:\"myFunction\";s:7:\"Handler\";s:13:\"index.handler\";s:12:\"LastModified\";s:28:\"2016-11-21T19:49:20.006+0000\";s:10:\"MemorySize\";i:128;s:4:\"Role\";s:53:\"arn:aws:iam::123456789012:role/lambda_basic_execution\";s:7:\"Runtime\";s:9:\"nodejs4.3\";s:7:\"Timeout\";i:3;s:7:\"Version\";s:7:\"$LATEST\";s:9:\"VpcConfig\";O:8:\"stdClass\":2:{s:16:\"SecurityGroupIds\";a:0:{}s:9:\"SubnetIds\";a:0:{}}}}s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"Code\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/FunctionCodeLocation\";}s:11:\"Concurrency\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Concurrency\";s:11:\"description\";s:109:\"The
  concurrent execution limit set for this function. For more information, see <a>concurrent-executions</a>.\";}s:13:\"Configuration\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/FunctionConfiguration\";}s:4:\"Tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Tags\";s:11:\"description\";s:218:\"Returns
  the list of tags associated with the function. For more information, see <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/tagging.html\">Tagging
  Lambda Functions</a> in the <b>AWS Lambda Developer Guide</b>.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"GetPolicyRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:7:\"example\";O:8:\"stdClass\":2:{s:12:\"FunctionName\";s:10:\"myFunction\";s:9:\"Qualifier\";s:1:\"1\";}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:17:\"GetPolicyResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:7:\"example\";O:8:\"stdClass\":1:{s:6:\"Policy\";s:0:\"\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"Policy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:161:\"The
  resource policy associated with the specified function. The response returns the
  same as a string using a backslash (\"\\\") as an escape character in the JSON.\";}s:10:\"RevisionId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:64:\"Represents
  the latest updated revision of the function or alias.\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Handler\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:128;s:7:\"pattern\";s:6:\"[^\\s]+\";s:4:\"type\";s:6:\"string\";}s:10:\"HttpStatus\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"Integer\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:30:\"InvalidParameterValueException\";O:8:\"stdClass\":3:{s:11:\"description\";s:267:\"One
  of the parameters in the request is invalid. For example, if you provided an IAM
  role for AWS Lambda to assume in the <code>CreateFunction</code> or the <code>UpdateFunctionConfiguration</code>
  API, that AWS Lambda is unable to assume you will get this exception.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:4:\"<p/>\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:4:\"<p/>\";}}s:4:\"type\";s:6:\"object\";}s:30:\"InvalidRequestContentException\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"The
  request body could not be parsed as JSON.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:4:\"<p/>\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:4:\"<p/>\";}}s:4:\"type\";s:6:\"object\";}s:23:\"InvalidRuntimeException\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"The
  runtime or runtime version specified is not supported.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:4:\"Type\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:31:\"InvalidSecurityGroupIDException\";O:8:\"stdClass\":3:{s:11:\"description\";s:83:\"The
  Security Group ID provided in the Lambda function VPC configuration is invalid.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:4:\"Type\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:24:\"InvalidSubnetIDException\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"The
  Subnet ID provided in the Lambda function VPC configuration is invalid.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:4:\"Type\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:23:\"InvalidZipFileException\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"AWS
  Lambda could not unzip the function zip file.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:4:\"Type\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:17:\"InvocationRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:7:\"example\";O:8:\"stdClass\":6:{s:13:\"ClientContext\";s:5:\"MyApp\";s:12:\"FunctionName\";s:10:\"MyFunction\";s:14:\"InvocationType\";s:5:\"Event\";s:7:\"LogType\";s:4:\"Tail\";s:7:\"Payload\";s:28:\"fileb://file-path/input.json\";s:9:\"Qualifier\";s:1:\"1\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Payload\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Blob\";s:11:\"description\";s:63:\"JSON
  that you want to provide to your Lambda function as input.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"InvocationResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:72:\"Upon
  success, returns an empty response. Otherwise, throws an exception.\";s:7:\"example\";O:8:\"stdClass\":4:{s:13:\"FunctionError\";s:0:\"\";s:9:\"LogResult\";s:0:\"\";s:7:\"Payload\";s:1:\"?\";s:10:\"StatusCode\";i:123;}s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Payload\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Blob\";s:11:\"description\";s:403:\"<p>
  It is the JSON representation of the object returned by the Lambda function. This
  is present only if the invocation type is <code>RequestResponse</code>. </p> <p>In
  the event of a function error this field contains a message describing the error.
  For the <code>Handled</code> errors the Lambda function will report this message.
  For <code>Unhandled</code> errors AWS Lambda reports the message. </p>\";}}s:4:\"type\";s:6:\"object\";}s:14:\"InvocationType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:5:\"Event\";i:1;s:15:\"RequestResponse\";i:2;s:6:\"DryRun\";}s:4:\"type\";s:6:\"string\";}s:18:\"InvokeAsyncRequest\";O:8:\"stdClass\":5:{s:11:\"description\";s:4:\"<p/>\";s:7:\"example\";O:8:\"stdClass\":2:{s:12:\"FunctionName\";s:10:\"myFunction\";s:10:\"InvokeArgs\";s:28:\"fileb://file-path/input.json\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"InvokeArgs\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/BlobStream\";s:11:\"description\";s:63:\"JSON
  that you want to provide to your Lambda function as input.\";}}s:8:\"required\";a:1:{i:0;s:10:\"InvokeArgs\";}s:4:\"type\";s:6:\"object\";}s:19:\"InvokeAsyncResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:72:\"Upon
  success, it returns empty response. Otherwise, throws an exception.\";s:7:\"example\";O:8:\"stdClass\":1:{s:6:\"Status\";i:123;}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:24:\"KMSAccessDeniedException\";O:8:\"stdClass\":3:{s:11:\"description\";s:130:\"Lambda
  was unable to decrypt the environment variables because KMS access was denied. Check
  the Lambda function's KMS permissions.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:4:\"Type\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:20:\"KMSDisabledException\";O:8:\"stdClass\":3:{s:11:\"description\";s:138:\"Lambda
  was unable to decrypt the environment variables because the KMS key used is disabled.
  Check the Lambda function's KMS key settings.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:4:\"Type\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:24:\"KMSInvalidStateException\";O:8:\"stdClass\":3:{s:11:\"description\";s:154:\"Lambda
  was unable to decrypt the environment variables because the KMS key used is in an
  invalid state for Decrypt. Check the function's KMS key settings.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:4:\"Type\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:9:\"KMSKeyArn\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:27:\"(arn:aws:[a-z0-9-.]+:.*)|()\";s:4:\"type\";s:6:\"string\";}s:20:\"KMSNotFoundException\";O:8:\"stdClass\":3:{s:11:\"description\";s:129:\"Lambda
  was unable to decrypt the environment variables because the KMS key was not found.
  Check the function's KMS key settings. \";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:4:\"Type\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:18:\"ListAliasesRequest\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":4:{s:12:\"FunctionName\";s:10:\"myFunction\";s:15:\"FunctionVersion\";s:1:\"1\";s:6:\"Marker\";s:0:\"\";s:8:\"MaxItems\";i:123;}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:19:\"ListAliasesResponse\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":2:{s:7:\"Aliases\";a:0:{}s:10:\"NextMarker\";s:0:\"\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Aliases\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/AliasList\";s:11:\"description\";s:18:\"A
  list of aliases.\";}s:10:\"NextMarker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:44:\"A
  string, present if there are more aliases.\";}}s:4:\"type\";s:6:\"object\";}s:30:\"ListEventSourceMappingsRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:4:\"<p/>\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:31:\"ListEventSourceMappingsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"Contains
  a list of event sources (see <a>EventSourceMappingConfiguration</a>)\";s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"EventSourceMappings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/EventSourceMappingsList\";s:11:\"description\";s:65:\"An
  array of <code>EventSourceMappingConfiguration</code> objects.\";}s:10:\"NextMarker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:58:\"A
  string, present if there are more event source mappings.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"ListFunctionsRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:7:\"example\";O:8:\"stdClass\":2:{s:6:\"Marker\";s:0:\"\";s:8:\"MaxItems\";i:123;}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:21:\"ListFunctionsResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:88:\"Contains
  a list of AWS Lambda function configurations (see <a>FunctionConfiguration</a>.\";s:7:\"example\";O:8:\"stdClass\":2:{s:9:\"Functions\";a:0:{}s:10:\"NextMarker\";s:0:\"\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"Functions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/FunctionList\";s:11:\"description\";s:27:\"A
  list of Lambda functions.\";}s:10:\"NextMarker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:46:\"A
  string, present if there are more functions.\";}}s:4:\"type\";s:6:\"object\";}s:15:\"ListTagsRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:16:\"ListTagsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Tags\";s:11:\"description\";s:206:\"The
  list of tags assigned to the function. For more information, see <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/tagging.html\">Tagging
  Lambda Functions</a> in the <b>AWS Lambda Developer Guide</b>.\";}}s:4:\"type\";s:6:\"object\";}s:29:\"ListVersionsByFunctionRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:7:\"example\";O:8:\"stdClass\":3:{s:12:\"FunctionName\";s:10:\"myFunction\";s:6:\"Marker\";s:0:\"\";s:8:\"MaxItems\";i:123;}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:30:\"ListVersionsByFunctionResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:7:\"example\";O:8:\"stdClass\":2:{s:10:\"NextMarker\";s:0:\"\";s:8:\"Versions\";a:0:{}}s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"NextMarker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:54:\"A
  string, present if there are more function versions.\";}s:8:\"Versions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/FunctionList\";s:11:\"description\";s:35:\"A
  list of Lambda function versions.\";}}s:4:\"type\";s:6:\"object\";}s:7:\"LogType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:4:\"None\";i:1;s:4:\"Tail\";}s:4:\"type\";s:6:\"string\";}s:4:\"Long\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"MasterRegion\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:32:\"ALL|[a-z]{2}(-gov)?-[a-z]+-\\d{1}\";s:4:\"type\";s:6:\"string\";}s:12:\"MaxListItems\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:10000;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:10:\"MemorySize\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:3008;s:7:\"minimum\";i:128;s:4:\"type\";s:7:\"integer\";}s:21:\"NameSpacedFunctionArn\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:98:\"arn:aws:lambda:[a-z]{2}-[a-z]+-\\d{1}:\\d{12}:function:[a-zA-Z0-9-_\\.]+(:(\\$LATEST|[a-zA-Z0-9-_]+))?\";s:4:\"type\";s:6:\"string\";}s:22:\"NamespacedFunctionName\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:170;s:9:\"minLength\";i:1;s:7:\"pattern\";s:112:\"(arn:aws:lambda:)?([a-z]{2}-[a-z]+-\\d{1}:)?(\\d{12}:)?(function:)?([a-zA-Z0-9-_\\.]+)(:(\\$LATEST|[a-zA-Z0-9-_]+))?\";s:4:\"type\";s:6:\"string\";}s:21:\"NamespacedStatementId\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:100;s:9:\"minLength\";i:1;s:7:\"pattern\";s:17:\"([a-zA-Z0-9-_.]+)\";s:4:\"type\";s:6:\"string\";}s:29:\"PolicyLengthExceededException\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Lambda
  function access policy is limited to 20 KB.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Type\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:27:\"PreconditionFailedException\";O:8:\"stdClass\":3:{s:11:\"description\";s:214:\"The
  RevisionId provided does not match the latest RevisionId for the Lambda function
  or alias. Call the <code>GetFunction</code> or the <code>GetAlias</code> API to
  retrieve the latest RevisionId for your resource.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:4:\"<p/>\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:4:\"<p/>\";}}s:4:\"type\";s:6:\"object\";}s:9:\"Principal\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:2:\".*\";s:4:\"type\";s:6:\"string\";}s:21:\"PublishVersionRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:7:\"example\";O:8:\"stdClass\":3:{s:10:\"CodeSha256\";s:0:\"\";s:11:\"Description\";s:0:\"\";s:12:\"FunctionName\";s:10:\"myFunction\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"CodeSha256\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:389:\"The
  SHA256 hash of the deployment package you want to publish. This provides validation
  on the code you are publishing. If you provide this parameter, the value must match
  the SHA256 of the $LATEST version for the publication to succeed. You can use the
  <b>DryRun</b> parameter of <a>UpdateFunctionCode</a> to verify the hash value that
  will be returned before publishing your new version.\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Description\";s:11:\"description\";s:128:\"The
  description for the version you are publishing. If not provided, AWS Lambda copies
  the description from the $LATEST version.\";}s:10:\"RevisionId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:363:\"An
  optional value you can use to ensure you are updating the latest update of the function
  version or alias. If the <code>RevisionID</code> you pass doesn't match the latest
  <code>RevisionId</code> of the function or alias, it will fail with an error message,
  advising you to retrieve the latest function version or alias <code>RevisionID</code>
  using either or .\";}}s:4:\"type\";s:6:\"object\";}s:29:\"PutFunctionConcurrencyRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:28:\"ReservedConcurrentExecutions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/ReservedConcurrentExecutions\";s:11:\"description\";s:114:\"The
  concurrent execution limit reserved for this function. For more information, see
  <a>concurrent-executions</a>.\";}}s:8:\"required\";a:1:{i:0;s:28:\"ReservedConcurrentExecutions\";}s:4:\"type\";s:6:\"object\";}s:9:\"Qualifier\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:128;s:9:\"minLength\";i:1;s:7:\"pattern\";s:18:\"(|[a-zA-Z0-9$_-]+)\";s:4:\"type\";s:6:\"string\";}s:23:\"RemovePermissionRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:7:\"example\";O:8:\"stdClass\":3:{s:12:\"FunctionName\";s:10:\"myFunction\";s:9:\"Qualifier\";s:1:\"1\";s:11:\"StatementId\";s:17:\"role-statement-id\";}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:24:\"RequestTooLargeException\";O:8:\"stdClass\":3:{s:11:\"description\";s:188:\"The
  request payload exceeded the <code>Invoke</code> request body JSON input limit.
  For more information, see <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/limits.html\">Limits</a>.
  \";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Type\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:28:\"ReservedConcurrentExecutions\";O:8:\"stdClass\":2:{s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:11:\"ResourceArn\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:27:\"(arn:aws:[a-z0-9-.]+:.*)|()\";s:4:\"type\";s:6:\"string\";}s:25:\"ResourceConflictException\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"The
  resource already exists.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:4:\"<p/>\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:4:\"<p/>\";}}s:4:\"type\";s:6:\"object\";}s:25:\"ResourceNotFoundException\";O:8:\"stdClass\":3:{s:11:\"description\";s:113:\"The
  resource (for example, a Lambda function or access policy statement) specified in
  the request does not exist.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:4:\"Type\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:7:\"RoleArn\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:48:\"arn:aws:iam::\\d{12}:role/?[a-zA-Z_0-9+=,.@\\-_/]+\";s:4:\"type\";s:6:\"string\";}s:7:\"Runtime\";O:8:\"stdClass\":2:{s:4:\"enum\";a:11:{i:0;s:6:\"nodejs\";i:1;s:9:\"nodejs4.3\";i:2;s:10:\"nodejs6.10\";i:3;s:10:\"nodejs8.10\";i:4;s:5:\"java8\";i:5;s:9:\"python2.7\";i:6;s:9:\"python3.6\";i:7;s:13:\"dotnetcore1.0\";i:8;s:13:\"dotnetcore2.0\";i:9;s:14:\"nodejs4.3-edge\";i:10;s:5:\"go1.x\";}s:4:\"type\";s:6:\"string\";}s:8:\"S3Bucket\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:63;s:9:\"minLength\";i:3;s:7:\"pattern\";s:26:\"^[0-9A-Za-z\\.\\-_]*(?<!\\.)$\";s:4:\"type\";s:6:\"string\";}s:5:\"S3Key\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:1024;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:15:\"S3ObjectVersion\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:1024;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:15:\"SecurityGroupId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"SecurityGroupIds\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/SecurityGroupId\";}s:8:\"maxItems\";i:5;s:4:\"type\";s:5:\"array\";}s:15:\"SensitiveString\";O:8:\"stdClass\":2:{s:6:\"format\";s:8:\"password\";s:4:\"type\";s:6:\"string\";}s:16:\"ServiceException\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"The
  AWS Lambda service encountered an internal error.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:4:\"Type\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:11:\"SourceOwner\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:6:\"\\d{12}\";s:4:\"type\";s:6:\"string\";}s:11:\"StatementId\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:100;s:9:\"minLength\";i:1;s:7:\"pattern\";s:16:\"([a-zA-Z0-9-_]+)\";s:4:\"type\";s:6:\"string\";}s:6:\"String\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:36:\"SubnetIPAddressLimitReachedException\";O:8:\"stdClass\":3:{s:11:\"description\";s:138:\"AWS
  Lambda was not able to set up VPC access for the Lambda function because one or
  more configured subnets has no available IP addresses.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:4:\"Type\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:8:\"SubnetId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"SubnetIds\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/SubnetId\";}s:8:\"maxItems\";i:16;s:4:\"type\";s:5:\"array\";}s:6:\"TagKey\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"TagKeyList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/TagKey\";}s:4:\"type\";s:5:\"array\";}s:18:\"TagResourceRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Tags\";s:11:\"description\";s:240:\"The
  list of tags (key-value pairs) you are assigning to the Lambda function. For more
  information, see <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/tagging.html\">Tagging
  Lambda Functions</a> in the <b>AWS Lambda Developer Guide</b>.\";}}s:8:\"required\";a:1:{i:0;s:4:\"Tags\";}s:4:\"type\";s:6:\"object\";}s:8:\"TagValue\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Tags\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/TagKey\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/TagValue\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:14:\"ThrottleReason\";O:8:\"stdClass\":2:{s:4:\"enum\";a:5:{i:0;s:33:\"ConcurrentInvocationLimitExceeded\";i:1;s:35:\"FunctionInvocationRateLimitExceeded\";i:2;s:49:\"ReservedFunctionConcurrentInvocationLimitExceeded\";i:3;s:43:\"ReservedFunctionInvocationRateLimitExceeded\";i:4;s:23:\"CallerRateLimitExceeded\";}s:4:\"type\";s:6:\"string\";}s:7:\"Timeout\";O:8:\"stdClass\":2:{s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:9:\"Timestamp\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:24:\"TooManyRequestsException\";O:8:\"stdClass\":3:{s:11:\"description\";s:1:\"
  \";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"Reason\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ThrottleReason\";}s:4:\"Type\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:13:\"TracingConfig\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"The
  parent object that contains your function's tracing settings.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Mode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/TracingMode\";s:11:\"description\";s:331:\"Can
  be either PassThrough or Active. If PassThrough, Lambda will only trace the request
  from an upstream service if it contains a tracing header with \"sampled=1\". If
  Active, Lambda will respect any tracing header it receives from an upstream service.
  If no tracing header is received, Lambda will call X-Ray for a tracing decision.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"TracingConfigResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:78:\"Parent
  object of the tracing information associated with your Lambda function.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Mode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/TracingMode\";s:11:\"description\";s:54:\"The
  tracing mode associated with your Lambda function.\";}}s:4:\"type\";s:6:\"object\";}s:11:\"TracingMode\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:6:\"Active\";i:1;s:11:\"PassThrough\";}s:4:\"type\";s:6:\"string\";}s:30:\"UnreservedConcurrentExecutions\";O:8:\"stdClass\":2:{s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:29:\"UnsupportedMediaTypeException\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"The
  content type of the <code>Invoke</code> request body is not JSON.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Type\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:20:\"UntagResourceRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:18:\"UpdateAliasRequest\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":4:{s:11:\"Description\";s:0:\"\";s:12:\"FunctionName\";s:10:\"myFunction\";s:15:\"FunctionVersion\";s:1:\"1\";s:4:\"Name\";s:13:\"functionAlias\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Description\";s:11:\"description\";s:65:\"You
  can change the description of the alias using this parameter.\";}s:15:\"FunctionVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Version\";s:11:\"description\";s:90:\"Using
  this parameter you can change the Lambda function version to which the alias points.\";}s:10:\"RevisionId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:363:\"An
  optional value you can use to ensure you are updating the latest update of the function
  version or alias. If the <code>RevisionID</code> you pass doesn't match the latest
  <code>RevisionId</code> of the function or alias, it will fail with an error message,
  advising you to retrieve the latest function version or alias <code>RevisionID</code>
  using either or .\";}s:13:\"RoutingConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/AliasRoutingConfiguration\";s:11:\"description\";s:205:\"Specifies
  an additional version your alias can point to, allowing you to dictate what percentage
  of traffic will invoke each version. For more information, see <a>lambda-traffic-shifting-using-aliases</a>.\";}}s:4:\"type\";s:6:\"object\";}s:31:\"UpdateEventSourceMappingRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:7:\"example\";O:8:\"stdClass\":4:{s:9:\"BatchSize\";i:123;s:7:\"Enabled\";b:1;s:12:\"FunctionName\";s:10:\"myFunction\";s:4:\"UUID\";s:13:\"1234xCy789012\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"BatchSize\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/BatchSize\";s:11:\"description\";s:102:\"The
  maximum number of stream records that can be sent to your Lambda function for a
  single invocation.\";}s:7:\"Enabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Enabled\";s:11:\"description\";s:118:\"Specifies
  whether AWS Lambda should actively poll the stream or not. If disabled, AWS Lambda
  will not poll the stream.\";}s:12:\"FunctionName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/FunctionName\";s:11:\"description\";s:1000:\"<p>The
  Lambda function to which you want the stream records sent.</p> <p> You can specify
  a function name (for example, <code>Thumbnail</code>) or you can specify Amazon
  Resource Name (ARN) of the function (for example, <code>arn:aws:lambda:us-west-2:account-id:function:ThumbNail</code>).
  AWS Lambda also allows you to specify a partial ARN (for example, <code>account-id:Thumbnail</code>).
  Note that the length constraint applies only to the ARN. If you specify only the
  function name, it is limited to 64 characters in length. </p> <p>If you are using
  versioning, you can also provide a qualified function ARN (ARN that is qualified
  with function version or alias name as suffix). For more information about versioning,
  see <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/versioning-aliases.html\">AWS
  Lambda Function Versioning and Aliases</a> </p> <p>Note that the length constraint
  applies only to the ARN. If you specify only the function name, it is limited to
  64 character in length.</p>\";}}s:4:\"type\";s:6:\"object\";}s:25:\"UpdateFunctionCodeRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:7:\"example\";O:8:\"stdClass\":6:{s:12:\"FunctionName\";s:10:\"myFunction\";s:7:\"Publish\";b:1;s:8:\"S3Bucket\";s:8:\"myBucket\";s:5:\"S3Key\";s:5:\"myKey\";s:15:\"S3ObjectVersion\";s:1:\"1\";s:7:\"ZipFile\";s:26:\"fileb://file-path/file.zip\";}s:10:\"properties\";O:8:\"stdClass\":7:{s:6:\"DryRun\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:406:\"This
  boolean parameter can be used to test your request to AWS Lambda to update the Lambda
  function and publish a version as an atomic operation. It will do all necessary
  computation and validation of your code but will not upload it or a publish a version.
  Each time this operation is invoked, the <code>CodeSha256</code> hash value of the
  provided code will also be computed and returned in the response.\";}s:7:\"Publish\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:132:\"This
  boolean parameter can be used to request AWS Lambda to update the Lambda function
  and publish a version as an atomic operation.\";}s:10:\"RevisionId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:363:\"An
  optional value you can use to ensure you are updating the latest update of the function
  version or alias. If the <code>RevisionID</code> you pass doesn't match the latest
  <code>RevisionId</code> of the function or alias, it will fail with an error message,
  advising you to retrieve the latest function version or alias <code>RevisionID</code>
  using either or .\";}s:8:\"S3Bucket\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/S3Bucket\";s:11:\"description\";s:178:\"Amazon
  S3 bucket name where the .zip file containing your deployment package is stored.
  This bucket must reside in the same AWS Region where you are creating the Lambda
  function.\";}s:5:\"S3Key\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/S3Key\";s:11:\"description\";s:74:\"The
  Amazon S3 object (the deployment package) key name you want to upload.\";}s:15:\"S3ObjectVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/S3ObjectVersion\";s:11:\"description\";s:73:\"The
  Amazon S3 object (the deployment package) version you want to upload.\";}s:7:\"ZipFile\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Blob\";s:11:\"description\";s:445:\"The
  contents of your zip file containing your deployment package. If you are using the
  web API directly, the contents of the zip file must be base64-encoded. If you are
  using the AWS SDKs or the AWS CLI, the SDKs or CLI will do the encoding for you.
  For more information about creating a .zip file, see <a href=\"http://docs.aws.amazon.com/lambda/latest/dg/intro-permission-model.html#lambda-intro-execution-role.html\">Execution
  Permissions</a>. \";}}s:4:\"type\";s:6:\"object\";}s:34:\"UpdateFunctionConfigurationRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:4:\"<p/>\";s:7:\"example\";O:8:\"stdClass\":8:{s:11:\"Description\";s:0:\"\";s:12:\"FunctionName\";s:10:\"myFunction\";s:7:\"Handler\";s:13:\"index.handler\";s:10:\"MemorySize\";i:128;s:4:\"Role\";s:53:\"arn:aws:iam::123456789012:role/lambda_basic_execution\";s:7:\"Runtime\";s:9:\"python2.7\";s:7:\"Timeout\";i:123;s:9:\"VpcConfig\";O:8:\"stdClass\":0:{}}s:10:\"properties\";O:8:\"stdClass\":12:{s:16:\"DeadLetterConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/DeadLetterConfig\";s:11:\"description\";s:152:\"The
  parent object that contains the target ARN (Amazon Resource Name) of an Amazon SQS
  queue or Amazon SNS topic. For more information, see <a>dlq</a>. \";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Description\";s:11:\"description\";s:126:\"A
  short user-defined function description. AWS Lambda does not use this value. Assign
  a meaningful description as you see fit.\";}s:11:\"Environment\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Environment\";s:11:\"description\";s:74:\"The
  parent object that contains your environment's configuration settings.\";}s:7:\"Handler\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Handler\";s:11:\"description\";s:144:\"The
  function that Lambda calls to begin executing your function. For Node.js, it is
  the <code>module-name.export</code> value in your function. \";}s:9:\"KMSKeyArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/KMSKeyArn\";s:11:\"description\";s:205:\"The
  Amazon Resource Name (ARN) of the KMS key used to encrypt your function's environment
  variables. If you elect to use the AWS Lambda default service key, pass in an empty
  string (\"\") for this parameter.\";}s:10:\"MemorySize\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MemorySize\";s:11:\"description\";s:382:\"The
  amount of memory, in MB, your Lambda function is given. AWS Lambda uses this memory
  size to infer the amount of CPU allocated to your function. Your function use-case
  determines your CPU and memory requirements. For example, a database operation might
  need less memory compared to an image processing function. The default value is
  128 MB. The value must be a multiple of 64 MB.\";}s:10:\"RevisionId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:363:\"An
  optional value you can use to ensure you are updating the latest update of the function
  version or alias. If the <code>RevisionID</code> you pass doesn't match the latest
  <code>RevisionId</code> of the function or alias, it will fail with an error message,
  advising you to retrieve the latest function version or alias <code>RevisionID</code>
  using either or .\";}s:4:\"Role\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/RoleArn\";s:11:\"description\";s:102:\"The
  Amazon Resource Name (ARN) of the IAM role that Lambda will assume when it executes
  your function.\";}s:7:\"Runtime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Runtime\";s:11:\"description\";s:870:\"<p>The
  runtime environment for the Lambda function.</p> <p>To use the Python runtime v3.6,
  set the value to \"python3.6\". To use the Python runtime v2.7, set the value to
  \"python2.7\". To use the Node.js runtime v6.10, set the value to \"nodejs6.10\".
  To use the Node.js runtime v4.3, set the value to \"nodejs4.3\". To use the .NET
  Core runtime v1.0, set the value to \"dotnetcore1.0\". To use the .NET Core runtime
  v2.0, set the value to \"dotnetcore2.0\".</p> <note> <p>Node v0.10.42 is currently
  marked as deprecated. You must migrate existing functions to the newer Node.js runtime
  versions available on AWS Lambda (nodejs4.3 or nodejs6.10) as soon as possible.
  Failure to do so will result in an invalid parameter error being returned. Note
  that you will have to follow this procedure for each region that contains functions
  written in the Node v0.10.42 runtime.</p> </note>\";}s:7:\"Timeout\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Timeout\";s:11:\"description\";s:225:\"The
  function execution time at which AWS Lambda should terminate the function. Because
  the execution time has cost implications, we recommend you set this value based
  on your expected execution time. The default is 3 seconds.\";}s:13:\"TracingConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/TracingConfig\";s:11:\"description\";s:65:\"The
  parent object that contains your function's tracing settings.\";}s:9:\"VpcConfig\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/VpcConfig\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Version\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:1024;s:9:\"minLength\";i:1;s:7:\"pattern\";s:17:\"(\\$LATEST|[0-9]+)\";s:4:\"type\";s:6:\"string\";}s:9:\"VpcConfig\";O:8:\"stdClass\":3:{s:11:\"description\";s:237:\"If
  your Lambda function accesses resources in a VPC, you provide this parameter identifying
  the list of security group IDs and subnet IDs. These must belong to the same VPC.
  You must provide at least one security group and one subnet ID.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"SecurityGroupIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/SecurityGroupIds\";s:11:\"description\";s:54:\"A
  list of one or more security groups IDs in your VPC.\";}s:9:\"SubnetIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/SubnetIds\";s:11:\"description\";s:45:\"A
  list of one or more subnet IDs in your VPC.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"VpcConfigResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"VPC
  configuration associated with your Lambda function.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"SecurityGroupIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/SecurityGroupIds\";s:11:\"description\";s:65:\"A
  list of security group IDs associated with the Lambda function.\";}s:9:\"SubnetIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/SubnetIds\";s:11:\"description\";s:57:\"A
  list of subnet IDs associated with the Lambda function.\";}s:5:\"VpcId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/VpcId\";s:11:\"description\";s:47:\"The
  VPC ID associated with you Lambda function.\";}}s:4:\"type\";s:6:\"object\";}s:5:\"VpcId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Weight\";O:8:\"stdClass\":4:{s:6:\"format\";s:6:\"double\";s:7:\"maximum\";i:1;s:7:\"minimum\";i:0;s:4:\"type\";s:6:\"number\";}}"
...
