---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":4:{s:5:\"title\";s:53:\"Fichier canadien sur les
  \xE9l\xE9ments nutritifs (FC\xC9N)\";s:11:\"description\";s:236:\"Le Fichier canadien
  sur les \xE9l\xE9ments nutritifs (FC\xC9N) est la base de donn\xE9es de r\xE9f\xE9rence
  sur la composition des aliments qui nous informe de la quantit\xE9 des \xE9l\xE9ments
  nutritifs dans les aliments couramment consomm\xE9s au Canada.\";s:7:\"version\";s:5:\"1.0.0\";s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:0:\"\";s:5:\"email\";s:25:\"open-ouvert@tbs-sct.gc.ca\";}}"
host: cta-hc-sc-apicast-production.api.canada.ca
basePath: /v1/
paths:
  /food:
    get:
      tags:
      - Aliment
      description: ""
      parameters:
      - $ref: '#/parameters/UserKeys'
      - $ref: '#/parameters/QueryLang'
      - $ref: '#/parameters/QueryType'
      - name: id
        in: query
        type: string
        description: Affiche les du00e9tails de l'aliment selon le code de l'aliment
          spu00e9cifiu00e9 dans la requu00eate.
      responses:
        200:
          description: ""
          schema:
            type: array
            items:
              $ref: '#/definitions/Food'
            xml:
              name: Foods
              wrapped: true
        204:
          $ref: '#/definitions/204'
        404:
          $ref: '#/definitions/404'
  /nutrientamount:
    get:
      tags:
      - u00c9lu00e9ments nutritifs
      parameters:
      - $ref: '#/parameters/UserKeys'
      - $ref: '#/parameters/QueryLang'
      - $ref: '#/parameters/QueryType'
      - name: id
        in: query
        type: string
        description: Affiche les teneurs en u00e9lu00e9ment nutritif selon le code
          de l'aliment spu00e9cifiu00e9 dans la requu00eate.
      responses:
        200:
          description: ""
          schema:
            type: array
            items:
              $ref: '#/definitions/NutrientAmount'
            xml:
              name: NutrientAmounts
              wrapped: true
        204:
          $ref: '#/definitions/204'
        404:
          $ref: '#/definitions/404'
  /nutrientgroup:
    get:
      tags:
      - u00c9lu00e9ments nutritifs
      description: ""
      parameters:
      - $ref: '#/parameters/UserKeys'
      - $ref: '#/parameters/QueryLang'
      - $ref: '#/parameters/QueryType'
      - name: id
        in: query
        type: string
        description: Affiche le groupe d'u00e9lu00e9ments nutritifs selon le numu00e9ro
          d'identification du groupe d'u00e9lu00e9ments nutritifs spu00e9cifiu00e9
          dans la requu00eate.
      responses:
        200:
          description: ""
          schema:
            type: array
            items:
              $ref: '#/definitions/NutrientGroup'
            xml:
              name: NutrientGroups
              wrapped: true
        204:
          $ref: '#/definitions/204'
        404:
          $ref: '#/definitions/404'
  /nutrientname:
    get:
      tags:
      - u00c9lu00e9ments nutritifs
      description: ""
      parameters:
      - $ref: '#/parameters/UserKeys'
      - $ref: '#/parameters/QueryLang'
      - $ref: '#/parameters/QueryType'
      - name: id
        in: query
        type: string
        description: Affiche l'u00e9lu00e9ment nutritif selon le numu00e9ro d'identification
          de l'u00e9lu00e9ment nutritif spu00e9cifiu00e9 dans la requu00eate.
      responses:
        200:
          description: ""
          schema:
            type: array
            items:
              $ref: '#/definitions/NutrientName'
            xml:
              name: NutrientNames
              wrapped: true
        204:
          $ref: '#/definitions/204'
        404:
          $ref: '#/definitions/404'
  /nutrientsource:
    get:
      tags:
      - u00c9lu00e9ments nutritifs
      description: ""
      parameters:
      - $ref: '#/parameters/UserKeys'
      - $ref: '#/parameters/QueryLang'
      - $ref: '#/parameters/QueryType'
      - name: id
        in: query
        type: string
        description: Affiche la source d'u00e9lu00e9ments nutritifs selon le numu00e9ro
          d'identification de la source d'u00e9lu00e9ments nutritifs spu00e9cifiu00e9
          dans la requu00eate.
      responses:
        200:
          description: ""
          schema:
            type: array
            items:
              $ref: '#/definitions/NutrientSource'
            xml:
              name: NutrientSources
              wrapped: true
        204:
          $ref: '#/definitions/204'
        404:
          $ref: '#/definitions/404'
  /servingsize:
    get:
      tags:
      - Portion comestible
      description: ""
      parameters:
      - $ref: '#/parameters/UserKeys'
      - $ref: '#/parameters/QueryLang'
      - $ref: '#/parameters/QueryType'
      - name: id
        in: query
        type: string
        description: Affiche les portions comestibles selon le code de l'aliment spu00e9cifiu00e9
          dans la requu00eate.
      responses:
        200:
          description: ""
          schema:
            type: array
            items:
              $ref: '#/definitions/ServingSize'
            xml:
              name: ServiceSizes
              wrapped: true
        204:
          $ref: '#/definitions/204'
        404:
          $ref: '#/definitions/404'
  /refuseamount:
    get:
      tags:
      - Portion non comestible
      description: ""
      parameters:
      - $ref: '#/parameters/UserKeys'
      - $ref: '#/parameters/QueryLang'
      - $ref: '#/parameters/QueryType'
      - name: id
        in: query
        type: string
        description: Affiche la ou les portions non comestibles selon le code de l'aliment
          spu00e9cifiu00e9 dans la requu00eate.
      responses:
        200:
          description: ""
          schema:
            type: array
            items:
              $ref: '#/definitions/RefuseAmount'
            xml:
              name: RefuseAmounts
              wrapped: true
        204:
          $ref: '#/definitions/204'
        404:
          $ref: '#/definitions/404'
  /yieldamount:
    get:
      tags:
      - Rendement
      description: ""
      parameters:
      - $ref: '#/parameters/UserKeys'
      - $ref: '#/parameters/QueryLang'
      - $ref: '#/parameters/QueryType'
      - name: id
        in: query
        type: string
        description: Affiche le ou les rendements selon le code de l'aliment spu00e9cifiu00e9
          dans la requu00eate.
      responses:
        200:
          description: ""
          schema:
            type: array
            items:
              $ref: '#/definitions/YieldAmount'
            xml:
              name: YieldAmounts
              wrapped: true
        204:
          $ref: '#/definitions/204'
        404:
          $ref: '#/definitions/404'
produces:
- application/json
- application/xml
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":10:{s:3:\"204\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"404\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Food\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:117:\"Contient
  la description et le code de chaque aliment. Un aliment ne peut \xEAtre davantage
  d\xE9compos\xE9 en ingr\xE9dients.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"food_code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"Le
  code attribu\xE9 \xE0 un aliment.\";}s:16:\"food_description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"Le
  nom complet de l'aliment.\";}}s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:4:\"Food\";}}s:14:\"NutrientAmount\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:94:\"Les
  quantit\xE9s des \xE9l\xE9ments nutritifs pour 100 g de portion comestible, pour
  chaque aliment.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:9:\"food_code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"Le
  code attribu\xE9 \xE0 chaque aliment.\";}s:14:\"nutrient_value\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:129:\"Valeur
  moyenne dans une portion de 100g de portion comestible (le nombre de d\xE9cimale
  ne refl\xE8te pas l'exactitude des donn\xE9es).\";}s:14:\"standard_error\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"L'\xE9cart-type
  de la moyenne.\";}s:18:\"number_observation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:52:\"Le
  nombre d'\xE9chantillons utilis\xE9s pour une \xE9tude.\";}s:16:\"nutrient_name_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:52:\"Le
  num\xE9ro d'identification d'un \xE9l\xE9ment nutritif.\";}s:17:\"nutrient_web_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"Le
  nom de l'\xE9l\xE9ment nutritif pour le WEB.\";}s:18:\"nutrient_source_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:64:\"Le
  num\xE9ro d'identification d'une source d'\xE9l\xE9ments nutritifs.\";}}s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:14:\"NutrientAmount\";}}s:13:\"NutrientGroup\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:97:\"La
  liste des groupes d'\xE9l\xE9ments nutritifs bas\xE9s sur les similarit\xE9s des
  \xE9l\xE9ments nutritifs.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:17:\"nutrient_group_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:74:\"Le
  num\xE9ro d'identification attribu\xE9 \xE0 un groupe d'\xE9l\xE9ments nutritifs.\";}s:19:\"nutrient_group_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"Le
  nom d'un groupe d'\xE9l\xE9ments nutritifs.\";}s:20:\"nutrient_group_order\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:55:\"L'ordre
  d'affichage des groupes d'\xE9l\xE9ments nutritifs.\";}}s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:13:\"NutrientGroup\";}}s:12:\"NutrientName\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:34:\"La
  liste des \xE9l\xE9ments nutritifs.\";s:10:\"properties\";O:8:\"stdClass\":10:{s:16:\"nutrient_name_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:63:\"Le
  num\xE9ro d'identification attribu\xE9 \xE0 un \xE9l\xE9ment nutritif.\";}s:13:\"nutrient_code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"Le
  code attribu\xE9 \xE0 un \xE9l\xE9ment nutritif.\";}s:15:\"nutrient_symbol\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:128:\"Le
  symbole ou l'abr\xE9viation des \xE9l\xE9ments nutritifs. Ces symboles peuvent \xEAtre
  diff\xE9rents de la nomenclature internationale.\";}s:4:\"unit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"L'unit\xE9
  de mesure.\";}s:13:\"nutrient_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"Le
  nom de l'\xE9l\xE9ment nutritif.\";}s:7:\"tagname\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:217:\"Un
  syst\xE8me d'abr\xE9viation des constituants alimentaires d\xE9velopp\xE9 par le
  r\xE9seau international des syst\xE8mes de donn\xE9es sur l'alimentation (INFOODS)
  pour faciliter l'\xE9change d'information au niveau international.\";}s:17:\"nutrient_decimals\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:84:\"Le
  nombre de d\xE9cimales utilis\xE9es pour arrondir la valeur des \xE9l\xE9ments nutritifs.\";}s:18:\"nutrient_web_order\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"L'ordre
  d'affichage des \xE9l\xE9ments nutritifs.\";}s:17:\"nutrient_web_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"Le
  nom de l'\xE9l\xE9ment nutritif pour le WEB.\";}s:17:\"nutrient_group_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:63:\"Le
  num\xE9ro d'identification d'un groupe d'\xE9l\xE9ments nutritifs.\";}}s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:12:\"NutrientName\";}}s:14:\"NutrientSource\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:56:\"La
  liste des sources et/ou types d'\xE9l\xE9ments nutritifs.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:18:\"nutrient_source_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:75:\"Le
  num\xE9ro d'identification attribu\xE9 \xE0 une source d'\xE9l\xE9ments nutritifs.\";}s:27:\"nutrient_source_description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:51:\"La
  description d'une source d'\xE9l\xE9ments nutritifs.\";}s:20:\"nutrient_source_code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:66:\"Le
  code qui identifie une source d'\xE9l\xE9ments nutritifs au Canada.\";}}s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:14:\"NutrientSource\";}}s:11:\"ServingSize\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:183:\"Mesures
  et facteurs de conversion par aliment. Les facteurs sont utilis\xE9s (multiplier
  avec la valeur pour 100g) pour obtenir la valeur de l'\xE9l\xE9ment nutritif pour
  la mesure donn\xE9e.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"food_code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"Le
  code attribu\xE9 \xE0 chaque aliment.\";}s:16:\"food_description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"Le
  nom complet de l'aliment.\";}s:23:\"conversion_factor_value\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:130:\"Le
  facteur utilis\xE9 (multiplier avec la valeur pour 100g) afin d'obtenir la valeur
  de l'\xE9l\xE9ment nutritif pour la mesure donn\xE9e.\";}s:12:\"measure_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"La
  description de la mesure.\";}}s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:11:\"ServingSize\";}}s:12:\"RefuseAmount\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:69:\"D\xE9signe
  la partie non comestible d'une portion, pour chaque aliment.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"food_code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"Le
  code attribu\xE9 \xE0 chaque aliment.\";}s:16:\"food_description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"Le
  nom complet de l'aliment.\";}s:13:\"refuse_amount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"Pourcentage
  des portions non comestibles.\";}s:11:\"refuse_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"La
  description de la portion non comestible.\";}}s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:12:\"RefuseAmount\";}}s:11:\"YieldAmount\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:191:\"Contient
  les rendements provenant des portions non comestibles et/ou des pertes de cuisson
  de certains aliments. Ces rendements sont souvent consult\xE9s \xE0 des fins d'inventaires
  alimentaires.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"food_code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"Le
  code attribu\xE9 \xE0 chaque aliment.\";}s:16:\"food_description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"Le
  nom complet de l'aliment.\";}s:12:\"yield_amount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:73:\"Le
  rendement provenant des portions non comestibles et pertes de cuisson.\";}s:10:\"yield_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"La
  description du rendement.\";}}s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:11:\"YieldAmount\";}}}"
...
