---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":4:{s:5:\"title\";s:29:\"Clinical Trial Database
  (CTA)\";s:11:\"description\";s:309:\"The Clinical Trials Database provides to the
  public a listing of specific information relating to phase I, II and III clinical
  trials in patients. The database is managed by Health Canada and provides a source
  of information about Canadian clinical trials involving human pharmaceutical and
  biological drugs.\n\";s:7:\"version\";s:5:\"1.0.0\";s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:0:\"\";s:5:\"email\";s:25:\"open-ouvert@tbs-sct.gc.ca\";}}"
host: cta-hc-sc-apicast-production.api.canada.ca
basePath: /v1/
paths:
  /sponsor:
    get:
      tags:
      - Sponsor
      description: Returns all sponsors.
      parameters:
      - $ref: '#/parameters/UserKeys'
      - $ref: '#/parameters/QueryLang'
      - $ref: '#/parameters/QueryType'
      - name: id
        in: query
        type: string
        description: Limit results to those with matching sponsor ID
      responses:
        200:
          description: Returns a list of all sponsors, or if an ID is provided, the
            list of all sponsors that correspond to the given sponsor ID
          schema:
            type: array
            items:
              $ref: '#/definitions/Sponsor'
            xml:
              name: Sponsors
              wrapped: true
        204:
          $ref: '#/definitions/204'
        404:
          $ref: '#/definitions/404'
  /medicalcondition:
    get:
      tags:
      - Medical Condition
      description: Returns all medical conditions.
      parameters:
      - $ref: '#/parameters/UserKeys'
      - $ref: '#/parameters/QueryLang'
      - $ref: '#/parameters/QueryType'
      - name: id
        in: query
        type: string
        description: Limit results to those with matching sponsor ID
      responses:
        200:
          description: Returns a list of all medical conditions, or if an ID is provided,
            the list of all medical conditions that correspond to the given medical
            condition ID
          schema:
            type: array
            items:
              $ref: '#/definitions/MedicalCondition'
            xml:
              name: MedicalConditions
              wrapped: true
        204:
          $ref: '#/definitions/204'
        404:
          $ref: '#/definitions/404'
  /drugproduct:
    get:
      tags:
      - Drug Product
      description: Returns all drug products.
      parameters:
      - $ref: '#/parameters/UserKeys'
      - $ref: '#/parameters/QueryLang'
      - $ref: '#/parameters/QueryType'
      - name: id
        in: query
        type: string
        description: Limit results to those with matching brand ID
      responses:
        200:
          description: Returns a list of all drug products, or if an ID is provided,
            the list of all protocols that correspond to the given brand ID
          schema:
            type: array
            items:
              $ref: '#/definitions/DrugProduct'
            xml:
              name: DrugProducts
              wrapped: true
        204:
          $ref: '#/definitions/204'
        404:
          $ref: '#/definitions/404'
  /protocol:
    get:
      tags:
      - Protocol
      description: Returns all protocols.
      parameters:
      - $ref: '#/parameters/UserKeys'
      - $ref: '#/parameters/QueryLang'
      - $ref: '#/parameters/QueryType'
      - name: id
        in: query
        type: string
        description: Limit results to those with matching protocol ID
      responses:
        200:
          description: Returns a list of all protocols, or if an ID is provided, the
            list of all protocols that correspond to the given protocol ID
          schema:
            type: array
            items:
              $ref: '#/definitions/Protocol'
            xml:
              name: Protocols
              wrapped: true
        204:
          $ref: '#/definitions/204'
        404:
          $ref: '#/definitions/404'
  /status:
    get:
      tags:
      - Trial Status
      description: Returns all trial statuses.
      parameters:
      - $ref: '#/parameters/UserKeys'
      - $ref: '#/parameters/QueryLang'
      - $ref: '#/parameters/QueryType'
      - name: id
        in: query
        type: string
        description: Limit results to those with matching status ID
      responses:
        200:
          description: Returns a list of all statuses, or if an ID is provided, the
            list of all stasuses that correspond to the given status ID
          schema:
            type: array
            items:
              $ref: '#/definitions/TrialStatus'
            xml:
              name: TrialStatuses
              wrapped: true
        204:
          $ref: '#/definitions/204'
        404:
          $ref: '#/definitions/404'
  /studypopulation:
    get:
      tags:
      - Study Population
      description: Returns all study populations.
      parameters:
      - $ref: '#/parameters/UserKeys'
      - $ref: '#/parameters/QueryLang'
      - $ref: '#/parameters/QueryType'
      - name: id
        in: query
        type: string
        description: Limit results to those with matching study population ID
      responses:
        200:
          description: Returns a list of all study populations, or if an ID is provided,
            the list of all study populations that correspond to the given study population
            ID
          schema:
            type: array
            items:
              $ref: '#/definitions/StudyPopulation'
            xml:
              name: StudyPopulations
              wrapped: true
        204:
          $ref: '#/definitions/204'
        404:
          $ref: '#/definitions/404'
produces:
- application/json
- application/xml
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":8:{s:3:\"204\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"404\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"DrugProduct\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:216:\"Basic
  information about the drug product, such as the name given to the drug used in the
  clinical trial. This may be a code name, the chemical name of the active ingredient,
  the non-proprietary name, or a brand name.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"protocol_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:50:\"The
  identification number assigned to the protocol\";}s:13:\"submission_no\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"The
  control number\";}s:8:\"brand_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"The
  identification number assigned to a brand\";}s:15:\"manufacturer_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"The
  identification number assigned to a sponsor\";}s:17:\"manufacturer_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"The
  name of the sponsor\";}s:10:\"brand_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  brand name for the drug product\";}}}s:16:\"MedicalCondition\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:105:\"The
  disease or a description of the intended indication that is being investigated in
  the clinical trial.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"med_condition_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  identification number assigned to a medical condition\";}s:13:\"med_condition\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"The
  medical condition\";}}}s:8:\"Protocol\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:120:\"A
  document that describes the objective(s), design, methodology, statistical considerations
  and organization of a trial.\";s:10:\"properties\";O:8:\"stdClass\":10:{s:11:\"protocol_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:48:\"The
  identification number assigned to a protocol\";}s:11:\"protocol_no\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"The
  protocol number\";}s:13:\"submission_no\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"The
  control number\";}s:9:\"status_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"The
  identification number assigned to a status\";}s:10:\"start_date\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"The
  study start date\";}s:8:\"end_date\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"The
  study end date\";}s:8:\"nol_date\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  date of the No Objection Letter\";}s:14:\"protocol_title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"The
  protocol title\";}s:16:\"medConditionList\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/StudyPopulation\";}}s:19:\"studyPopulationList\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/StudyPopulation\";}}}}s:7:\"Sponsor\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:527:\"A
  clinical trial sponsor is an individual, corporate body, institution or organization
  that conducts a clinical trial. The sponsor is responsible for every aspect of a
  clinical trial, including ensuring that the trial is carried out under good clinical
  practices at each clinical trial site.\n\nEach clinical trial site must have a Qualified
  Investigator, i.e., a licensed physician or dentist. The Qualified Investigator
  is the person responsible to the sponsor for the conduct of the clinical trial at
  the clinical trial site.\n\";s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"manufacturer_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"The
  identification number assigned to a sponsor\";}s:17:\"manufacturer_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"The
  name of the sponsor\";}}}s:11:\"TrialStatus\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:383:\"A
  \"PENDING\" status means Health Canada is pending the receipt of information from
  the sponsor indicating that the trial started. An \"ONGOING\" status means Health
  Canada has received information from the sponsor indicating the proposed study start
  date, and an \"ENDED\" status means Health Canada has received information from
  the sponsor indicating that the clinical trial has ended.\n\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"status_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"The
  identification number assigned to a status\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"The
  status of the trial\";}}}s:15:\"StudyPopulation\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:129:\"Characteristics
  of subjects that are eligible to participate in the clinical trial, e.g., adult
  males and females, children, etc.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"study_population_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:56:\"The
  identification number assigned to a study population\";}s:16:\"study_population\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"The
  study population\";}}}}"
...
