---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":7:{s:5:\"title\";s:25:\"All APIs - Non-production\";s:7:\"version\";s:5:\"1.0.0\";s:7:\"contact\";O:8:\"stdClass\":3:{s:4:\"name\";s:13:\"Mike
  Ralphson\";s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:3:\"url\";s:42:\"https://github.com/mermade/mashery2openapi\";}s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:3:\"MIT\";s:3:\"url\";s:35:\"https://opensource.org/licenses/MIT\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"http://developers.homeretailgroup.com/io-docs\";s:6:\"format\";s:7:\"io_docs\";}}s:11:\"description\";s:958:\"Test
  our API services directly from the documentation. You may want to use this page
  in conjunction with: These IO Docs provide access to all of our APIs in a non-production
  environment. This includes all Open Access APIs as well as our Transactional APIs,
  allowing basket management and order placement, and our API for customer account
  management. Access to the Transactional APIs in production is made available on
  an invitation basis to partners with well-defined use cases that can drive significant
  volume. Access to the Customer API in production is tightly restricted and typically
  only granted to partners with whom we have a contractual relationship covering all
  necessary aspects of data protection. \n\nNote that the payload version supported
  by each API may differ between brands. For information on the preferred version
  to use in each case, please refer to the respective API documentation page e.g.
  [Location](docs/api__documentation/location/)\";s:12:\"x-mashery-id\";s:4:\"2570\";}"
host: api.homeretailgroup.com
basePath: /
paths: ~
produces: []
schemes:
- http
definitions: !php/object "O:8:\"stdClass\":0:{}"
...
