---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":15:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:9:\"x-twitter\";s:12:\"PermittedSoc\";}s:11:\"description\";s:459:\"Amazon
  Elastic Container Registry (Amazon ECR) is a managed Docker registry service. Customers
  can use the familiar Docker CLI to push, pull, and manage images. Amazon ECR provides
  a secure, scalable, and reliable registry. Amazon ECR supports private Docker repositories
  with resource-based permissions using IAM so that specific users or Amazon EC2 instances
  can access repositories and images. Developers can use the Docker CLI to author
  and manage images.\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache
  2.0 License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:29:\"Amazon
  EC2 Container Registry\";s:7:\"version\";s:10:\"2015-09-21\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:87:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/ecr-2015-09-21.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v4\";s:13:\"x-serviceName\";s:3:\"ecr\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:13:\"amazonaws_ecr\";s:4:\"type\";s:7:\"openapi\";}}"
host: ecr.amazonaws.com
basePath: /
paths: ~
produces:
- application/json
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":130:{s:3:\"Arn\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"AuthorizationData\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"An
  object representing authorization data for an Amazon ECR registry.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:18:\"authorizationToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Base64\";s:11:\"description\";s:249:\"A
  base64-encoded string that contains authorization data for the specified Amazon
  ECR registry. When the string is decoded, it is presented in the format <code>user:password</code>
  for private registry authentication using <code>docker login</code>.\";}s:9:\"expiresAt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/ExpirationTimestamp\";s:11:\"description\";s:124:\"The
  Unix time in seconds and milliseconds when the authorization token expires. Authorization
  tokens are valid for 12 hours.\";}s:13:\"proxyEndpoint\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ProxyEndpoint\";s:11:\"description\";s:278:\"The
  registry URL to use for this authorization token in a <code>docker login</code>
  command. The Amazon ECR registry URL format is <code>https://aws_account_id.dkr.ecr.region.amazonaws.com</code>.
  For example, <code>https://012345678910.dkr.ecr.us-east-1.amazonaws.com</code>..
  \";}}s:4:\"type\";s:6:\"object\";}s:21:\"AuthorizationDataList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/AuthorizationData\";}s:4:\"type\";s:5:\"array\";}s:6:\"Base64\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:5:\"^\\S+$\";s:4:\"type\";s:6:\"string\";}s:34:\"BatchCheckLayerAvailabilityRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"layerDigests\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:45:\"#/definitions/BatchedOperationLayerDigestList\";s:11:\"description\";s:41:\"The
  digests of the image layers to check.\";}s:10:\"registryId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/RegistryId\";s:11:\"description\";s:155:\"The
  AWS account ID associated with the registry that contains the image layers to check.
  If you do not specify a registry, the default registry is assumed.\";}s:14:\"repositoryName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/RepositoryName\";s:11:\"description\";s:77:\"The
  name of the repository that is associated with the image layers to check.\";}}s:8:\"required\";a:2:{i:0;s:14:\"repositoryName\";i:1;s:12:\"layerDigests\";}s:4:\"type\";s:6:\"object\";}s:35:\"BatchCheckLayerAvailabilityResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"failures\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/LayerFailureList\";s:11:\"description\";s:38:\"Any
  failures associated with the call.\";}s:6:\"layers\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/LayerList\";s:11:\"description\";s:89:\"A
  list of image layer objects corresponding to the image layer references in the request.\";}}s:4:\"type\";s:6:\"object\";}s:23:\"BatchDeleteImageRequest\";O:8:\"stdClass\":5:{s:11:\"description\";s:143:\"Deletes
  specified images within a specified repository. Images are specified with either
  the <code>imageTag</code> or <code>imageDigest</code>.\";s:7:\"example\";O:8:\"stdClass\":2:{s:8:\"imageIds\";a:1:{i:0;O:8:\"stdClass\":1:{s:8:\"imageTag\";s:7:\"precise\";}}s:14:\"repositoryName\";s:6:\"ubuntu\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"imageIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/ImageIdentifierList\";s:11:\"description\";s:181:\"A
  list of image ID references that correspond to images to delete. The format of the
  <code>imageIds</code> reference is <code>imageTag=tag</code> or <code>imageDigest=digest</code>.\";}s:10:\"registryId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/RegistryId\";s:11:\"description\";s:149:\"The
  AWS account ID associated with the registry that contains the image to delete. If
  you do not specify a registry, the default registry is assumed.\";}s:14:\"repositoryName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/RepositoryName\";s:11:\"description\";s:49:\"The
  repository that contains the image to delete.\";}}s:8:\"required\";a:2:{i:0;s:14:\"repositoryName\";i:1;s:8:\"imageIds\";}s:4:\"type\";s:6:\"object\";}s:24:\"BatchDeleteImageResponse\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":2:{s:8:\"failures\";a:0:{}s:8:\"imageIds\";a:1:{i:0;O:8:\"stdClass\":2:{s:11:\"imageDigest\";s:71:\"sha256:examplee6d1e504117a17000003d3753086354a38375961f2e665416ef4b1b2f\";s:8:\"imageTag\";s:7:\"precise\";}}}s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"failures\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ImageFailureList\";s:11:\"description\";s:38:\"Any
  failures associated with the call.\";}s:8:\"imageIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/ImageIdentifierList\";s:11:\"description\";s:36:\"The
  image IDs of the deleted images.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"BatchGetImageRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":2:{s:8:\"imageIds\";a:1:{i:0;O:8:\"stdClass\":1:{s:8:\"imageTag\";s:7:\"precise\";}}s:14:\"repositoryName\";s:6:\"ubuntu\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:18:\"acceptedMediaTypes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/MediaTypeList\";s:11:\"description\";s:262:\"<p>The
  accepted media types for the request.</p> <p>Valid values: <code>application/vnd.docker.distribution.manifest.v1+json</code>
  | <code>application/vnd.docker.distribution.manifest.v2+json</code> | <code>application/vnd.oci.image.manifest.v1+json</code>
  </p>\";}s:8:\"imageIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/ImageIdentifierList\";s:11:\"description\";s:183:\"A
  list of image ID references that correspond to images to describe. The format of
  the <code>imageIds</code> reference is <code>imageTag=tag</code> or <code>imageDigest=digest</code>.\";}s:10:\"registryId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/RegistryId\";s:11:\"description\";s:152:\"The
  AWS account ID associated with the registry that contains the images to describe.
  If you do not specify a registry, the default registry is assumed.\";}s:14:\"repositoryName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/RepositoryName\";s:11:\"description\";s:52:\"The
  repository that contains the images to describe.\";}}s:8:\"required\";a:2:{i:0;s:14:\"repositoryName\";i:1;s:8:\"imageIds\";}s:4:\"type\";s:6:\"object\";}s:21:\"BatchGetImageResponse\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":2:{s:8:\"failures\";a:0:{}s:6:\"images\";a:1:{i:0;O:8:\"stdClass\":4:{s:7:\"imageId\";O:8:\"stdClass\":2:{s:11:\"imageDigest\";s:71:\"sha256:example76bdff6d83a09ba2a818f0d00000063724a9ac3ba5019c56f74ebf42a\";s:8:\"imageTag\";s:7:\"precise\";}s:13:\"imageManifest\";s:64:\"{\n
  \"schemaVersion\": 1,\n \"name\": \"ubuntu\",\n \"tag\": \"precise\",\n...\";s:10:\"registryId\";s:12:\"244698725403\";s:14:\"repositoryName\";s:6:\"ubuntu\";}}}s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"failures\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ImageFailureList\";s:11:\"description\";s:38:\"Any
  failures associated with the call.\";}s:6:\"images\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/ImageList\";s:11:\"description\";s:77:\"A
  list of image objects corresponding to the image references in the request.\";}}s:4:\"type\";s:6:\"object\";}s:27:\"BatchedOperationLayerDigest\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:1000;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";}s:31:\"BatchedOperationLayerDigestList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/BatchedOperationLayerDigest\";}s:8:\"maxItems\";i:100;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:26:\"CompleteLayerUploadRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"layerDigests\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/LayerDigestList\";s:11:\"description\";s:50:\"The
  <code>sha256</code> digest of the image layer.\";}s:10:\"registryId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/RegistryId\";s:11:\"description\";s:141:\"The
  AWS account ID associated with the registry to which to upload layers. If you do
  not specify a registry, the default registry is assumed.\";}s:14:\"repositoryName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/RepositoryName\";s:11:\"description\";s:61:\"The
  name of the repository to associate with the image layer.\";}s:8:\"uploadId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/UploadId\";s:11:\"description\";s:101:\"The
  upload ID from a previous <a>InitiateLayerUpload</a> operation to associate with
  the image layer.\";}}s:8:\"required\";a:3:{i:0;s:14:\"repositoryName\";i:1;s:8:\"uploadId\";i:2;s:12:\"layerDigests\";}s:4:\"type\";s:6:\"object\";}s:27:\"CompleteLayerUploadResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"layerDigest\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/LayerDigest\";s:11:\"description\";s:50:\"The
  <code>sha256</code> digest of the image layer.\";}s:10:\"registryId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/RegistryId\";s:11:\"description\";s:44:\"The
  registry ID associated with the request.\";}s:14:\"repositoryName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/RepositoryName\";s:11:\"description\";s:48:\"The
  repository name associated with the request.\";}s:8:\"uploadId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/UploadId\";s:11:\"description\";s:40:\"The
  upload ID associated with the layer.\";}}s:4:\"type\";s:6:\"object\";}s:23:\"CreateRepositoryRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":1:{s:14:\"repositoryName\";s:23:\"project-a/nginx-web-app\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"repositoryName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/RepositoryName\";s:11:\"description\";s:248:\"The
  name to use for the repository. The repository name may be specified on its own
  (such as <code>nginx-web-app</code>) or it can be prepended with a namespace to
  group the repository into a category (such as <code>project-a/nginx-web-app</code>).\";}}s:8:\"required\";a:1:{i:0;s:14:\"repositoryName\";}s:4:\"type\";s:6:\"object\";}s:24:\"CreateRepositoryResponse\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":1:{s:10:\"repository\";O:8:\"stdClass\":3:{s:10:\"registryId\";s:12:\"012345678901\";s:13:\"repositoryArn\";s:69:\"arn:aws:ecr:us-west-2:012345678901:repository/project-a/nginx-web-app\";s:14:\"repositoryName\";s:23:\"project-a/nginx-web-app\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"repository\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Repository\";s:11:\"description\";s:32:\"The
  repository that was created.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"CreationTimestamp\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:28:\"DeleteLifecyclePolicyRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"registryId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/RegistryId\";s:11:\"description\";s:144:\"The
  AWS account ID associated with the registry that contains the repository. If you
  do not specify a registry, the default registry is assumed.\";}s:14:\"repositoryName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/RepositoryName\";s:11:\"description\";s:27:\"The
  name of the repository.\";}}s:8:\"required\";a:1:{i:0;s:14:\"repositoryName\";}s:4:\"type\";s:6:\"object\";}s:29:\"DeleteLifecyclePolicyResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:15:\"lastEvaluatedAt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/EvaluationTimestamp\";s:11:\"description\";s:66:\"The
  time stamp of the last time that the lifecycle policy was run.\";}s:19:\"lifecyclePolicyText\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/LifecyclePolicyText\";s:11:\"description\";s:31:\"The
  JSON lifecycle policy text.\";}s:10:\"registryId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/RegistryId\";s:11:\"description\";s:44:\"The
  registry ID associated with the request.\";}s:14:\"repositoryName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/RepositoryName\";s:11:\"description\";s:48:\"The
  repository name associated with the request.\";}}s:4:\"type\";s:6:\"object\";}s:29:\"DeleteRepositoryPolicyRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":1:{s:14:\"repositoryName\";s:6:\"ubuntu\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"registryId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/RegistryId\";s:11:\"description\";s:161:\"The
  AWS account ID associated with the registry that contains the repository policy
  to delete. If you do not specify a registry, the default registry is assumed.\";}s:14:\"repositoryName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/RepositoryName\";s:11:\"description\";s:83:\"The
  name of the repository that is associated with the repository policy to delete.\";}}s:8:\"required\";a:1:{i:0;s:14:\"repositoryName\";}s:4:\"type\";s:6:\"object\";}s:30:\"DeleteRepositoryPolicyResponse\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":3:{s:10:\"policyText\";s:7:\"{
  ... }\";s:10:\"registryId\";s:12:\"012345678901\";s:14:\"repositoryName\";s:6:\"ubuntu\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"policyText\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/RepositoryPolicyText\";s:11:\"description\";s:64:\"The
  JSON repository policy that was deleted from the repository.\";}s:10:\"registryId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/RegistryId\";s:11:\"description\";s:44:\"The
  registry ID associated with the request.\";}s:14:\"repositoryName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/RepositoryName\";s:11:\"description\";s:48:\"The
  repository name associated with the request.\";}}s:4:\"type\";s:6:\"object\";}s:23:\"DeleteRepositoryRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":2:{s:5:\"force\";b:1;s:14:\"repositoryName\";s:6:\"ubuntu\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"force\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/ForceFlag\";s:11:\"description\";s:54:\"
  If a repository contains images, forces the deletion.\";}s:10:\"registryId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/RegistryId\";s:11:\"description\";s:154:\"The
  AWS account ID associated with the registry that contains the repository to delete.
  If you do not specify a registry, the default registry is assumed.\";}s:14:\"repositoryName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/RepositoryName\";s:11:\"description\";s:37:\"The
  name of the repository to delete.\";}}s:8:\"required\";a:1:{i:0;s:14:\"repositoryName\";}s:4:\"type\";s:6:\"object\";}s:24:\"DeleteRepositoryResponse\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":1:{s:10:\"repository\";O:8:\"stdClass\":3:{s:10:\"registryId\";s:12:\"012345678901\";s:13:\"repositoryArn\";s:52:\"arn:aws:ecr:us-west-2:012345678901:repository/ubuntu\";s:14:\"repositoryName\";s:6:\"ubuntu\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"repository\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Repository\";s:11:\"description\";s:32:\"The
  repository that was deleted.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"DescribeImagesFilter\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"An
  object representing a filter on a <a>DescribeImages</a> operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"tagStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/TagStatus\";s:11:\"description\";s:166:\"The
  tag status with which to filter your <a>DescribeImages</a> results. You can filter
  results based on whether they are <code>TAGGED</code> or <code>UNTAGGED</code>.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"DescribeImagesRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":6:{s:6:\"filter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/DescribeImagesFilter\";s:11:\"description\";s:87:\"The
  filter key and value with which to filter your <code>DescribeImages</code> results.\";}s:8:\"imageIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/ImageIdentifierList\";s:11:\"description\";s:51:\"The
  list of image IDs for the requested repository.\";}s:10:\"maxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MaxResults\";s:11:\"description\";s:691:\"The
  maximum number of repository results returned by <code>DescribeImages</code> in
  paginated output. When this parameter is used, <code>DescribeImages</code> only
  returns <code>maxResults</code> results in a single page along with a <code>nextToken</code>
  response element. The remaining results of the initial request can be seen by sending
  another <code>DescribeImages</code> request with the returned <code>nextToken</code>
  value. This value can be between 1 and 100. If this parameter is not used, then
  <code>DescribeImages</code> returns up to 100 results and a <code>nextToken</code>
  value, if applicable. This option cannot be used when you specify images with <code>imageIds</code>.\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:455:\"The
  <code>nextToken</code> value returned from a previous paginated <code>DescribeImages</code>
  request where <code>maxResults</code> was used and the results exceeded the value
  of that parameter. Pagination continues from the end of the previous results that
  returned the <code>nextToken</code> value. This value is <code>null</code> when
  there are no more results to return. This option cannot be used when you specify
  images with <code>imageIds</code>.\";}s:10:\"registryId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/RegistryId\";s:11:\"description\";s:172:\"The
  AWS account ID associated with the registry that contains the repository in which
  to describe images. If you do not specify a registry, the default registry is assumed.\";}s:14:\"repositoryName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/RepositoryName\";s:11:\"description\";s:116:\"A
  list of repositories to describe. If this parameter is omitted, then all repositories
  in a registry are described.\";}}s:8:\"required\";a:1:{i:0;s:14:\"repositoryName\";}s:4:\"type\";s:6:\"object\";}s:22:\"DescribeImagesResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"imageDetails\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ImageDetailList\";s:11:\"description\";s:71:\"A
  list of <a>ImageDetail</a> objects that contain data about the image.\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:317:\"The
  <code>nextToken</code> value to include in a future <code>DescribeImages</code>
  request. When the results of a <code>DescribeImages</code> request exceed <code>maxResults</code>,
  this value can be used to retrieve the next page of results. This value is <code>null</code>
  when there are no more results to return.\";}}s:4:\"type\";s:6:\"object\";}s:27:\"DescribeRepositoriesRequest\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":0:{}s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"maxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MaxResults\";s:11:\"description\";s:728:\"The
  maximum number of repository results returned by <code>DescribeRepositories</code>
  in paginated output. When this parameter is used, <code>DescribeRepositories</code>
  only returns <code>maxResults</code> results in a single page along with a <code>nextToken</code>
  response element. The remaining results of the initial request can be seen by sending
  another <code>DescribeRepositories</code> request with the returned <code>nextToken</code>
  value. This value can be between 1 and 100. If this parameter is not used, then
  <code>DescribeRepositories</code> returns up to 100 results and a <code>nextToken</code>
  value, if applicable. This option cannot be used when you specify repositories with
  <code>repositoryNames</code>.\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:652:\"<p>The
  <code>nextToken</code> value returned from a previous paginated <code>DescribeRepositories</code>
  request where <code>maxResults</code> was used and the results exceeded the value
  of that parameter. Pagination continues from the end of the previous results that
  returned the <code>nextToken</code> value. This value is <code>null</code> when
  there are no more results to return. This option cannot be used when you specify
  repositories with <code>repositoryNames</code>.</p> <note> <p>This token should
  be treated as an opaque identifier that is only used to retrieve the next items
  in a list and not for other programmatic purposes.</p> </note>\";}s:10:\"registryId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/RegistryId\";s:11:\"description\";s:162:\"The
  AWS account ID associated with the registry that contains the repositories to be
  described. If you do not specify a registry, the default registry is assumed.\";}s:15:\"repositoryNames\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/RepositoryNameList\";s:11:\"description\";s:116:\"A
  list of repositories to describe. If this parameter is omitted, then all repositories
  in a registry are described.\";}}s:4:\"type\";s:6:\"object\";}s:28:\"DescribeRepositoriesResponse\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":1:{s:12:\"repositories\";a:2:{i:0;O:8:\"stdClass\":3:{s:10:\"registryId\";s:12:\"012345678910\";s:13:\"repositoryArn\";s:52:\"arn:aws:ecr:us-west-2:012345678910:repository/ubuntu\";s:14:\"repositoryName\";s:6:\"ubuntu\";}i:1;O:8:\"stdClass\":3:{s:10:\"registryId\";s:12:\"012345678910\";s:13:\"repositoryArn\";s:50:\"arn:aws:ecr:us-west-2:012345678910:repository/test\";s:14:\"repositoryName\";s:4:\"test\";}}}s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:329:\"The
  <code>nextToken</code> value to include in a future <code>DescribeRepositories</code>
  request. When the results of a <code>DescribeRepositories</code> request exceed
  <code>maxResults</code>, this value can be used to retrieve the next page of results.
  This value is <code>null</code> when there are no more results to return.\";}s:12:\"repositories\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/RepositoryList\";s:11:\"description\";s:65:\"A
  list of repository objects corresponding to valid repositories.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"EmptyUploadException\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"The
  specified layer upload does not contain any layer parts.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ExceptionMessage\";s:11:\"description\";s:48:\"The
  error message associated with the exception.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"EvaluationTimestamp\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:16:\"ExceptionMessage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"ExpirationTimestamp\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:9:\"ForceFlag\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:35:\"GetAuthorizationTokenRegistryIdList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/RegistryId\";}s:8:\"maxItems\";i:10;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:28:\"GetAuthorizationTokenRequest\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":0:{}s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"registryIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:49:\"#/definitions/GetAuthorizationTokenRegistryIdList\";s:11:\"description\";s:171:\"A
  list of AWS account IDs that are associated with the registries for which to get
  authorization tokens. If you do not specify a registry, the default registry is
  assumed.\";}}s:4:\"type\";s:6:\"object\";}s:29:\"GetAuthorizationTokenResponse\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":1:{s:17:\"authorizationData\";a:1:{i:0;O:8:\"stdClass\":3:{s:18:\"authorizationToken\";s:10:\"QVdTOkN...\";s:9:\"expiresAt\";s:13:\"1470951892432\";s:13:\"proxyEndpoint\";s:52:\"https://012345678901.dkr.ecr.us-west-2.amazonaws.com\";}}}s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"authorizationData\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/AuthorizationDataList\";s:11:\"description\";s:113:\"A
  list of authorization token data objects that correspond to the <code>registryIds</code>
  values in the request.\";}}s:4:\"type\";s:6:\"object\";}s:29:\"GetDownloadUrlForLayerRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"layerDigest\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/LayerDigest\";s:11:\"description\";s:42:\"The
  digest of the image layer to download.\";}s:10:\"registryId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/RegistryId\";s:11:\"description\";s:157:\"The
  AWS account ID associated with the registry that contains the image layer to download.
  If you do not specify a registry, the default registry is assumed.\";}s:14:\"repositoryName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/RepositoryName\";s:11:\"description\";s:79:\"The
  name of the repository that is associated with the image layer to download.\";}}s:8:\"required\";a:2:{i:0;s:14:\"repositoryName\";i:1;s:11:\"layerDigest\";}s:4:\"type\";s:6:\"object\";}s:30:\"GetDownloadUrlForLayerResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"downloadUrl\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Url\";s:11:\"description\";s:62:\"The
  pre-signed Amazon S3 download URL for the requested layer.\";}s:11:\"layerDigest\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/LayerDigest\";s:11:\"description\";s:42:\"The
  digest of the image layer to download.\";}}s:4:\"type\";s:6:\"object\";}s:32:\"GetLifecyclePolicyPreviewRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":6:{s:6:\"filter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/LifecyclePolicyPreviewFilter\";s:11:\"description\";s:93:\"An
  optional parameter that filters results based on image tag status and all tags,
  if tagged.\";}s:8:\"imageIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/ImageIdentifierList\";s:11:\"description\";s:36:\"The
  list of imageIDs to be included.\";}s:10:\"maxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MaxResults\";s:11:\"description\";s:827:\"The
  maximum number of repository results returned by <code>GetLifecyclePolicyPreviewRequest</code>
  in&#x2028; paginated output. When this parameter is used, <code>GetLifecyclePolicyPreviewRequest</code>
  only returns&#x2028; <code>maxResults</code> results in a single page along with
  a <code>nextToken</code>&#x2028; response element. The remaining results of the
  initial request can be seen by sending&#x2028; another <code>GetLifecyclePolicyPreviewRequest</code>
  request with the returned <code>nextToken</code>&#x2028; value. This value can be
  between 1 and 100. If this&#x2028; parameter is not used, then <code>GetLifecyclePolicyPreviewRequest</code>
  returns up to&#x2028; 100 results and a <code>nextToken</code> value, if&#x2028;
  applicable. This option cannot be used when you specify images with <code>imageIds</code>.\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:505:\"The
  <code>nextToken</code> value returned from a previous paginated&#x2028; <code>GetLifecyclePolicyPreviewRequest</code>
  request where <code>maxResults</code> was used and the&#x2028; results exceeded
  the value of that parameter. Pagination continues from the end of the&#x2028; previous
  results that returned the <code>nextToken</code> value. This value is&#x2028; <code>null</code>
  when there are no more results to return. This option cannot be used when you specify
  images with <code>imageIds</code>.\";}s:10:\"registryId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/RegistryId\";s:11:\"description\";s:144:\"The
  AWS account ID associated with the registry that contains the repository. If you
  do not specify a registry, the default registry is assumed.\";}s:14:\"repositoryName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/RepositoryName\";s:11:\"description\";s:27:\"The
  name of the repository.\";}}s:8:\"required\";a:1:{i:0;s:14:\"repositoryName\";}s:4:\"type\";s:6:\"object\";}s:33:\"GetLifecyclePolicyPreviewResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:19:\"lifecyclePolicyText\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/LifecyclePolicyText\";s:11:\"description\";s:31:\"The
  JSON lifecycle policy text.\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:339:\"The
  <code>nextToken</code> value to include in a future <code>GetLifecyclePolicyPreview</code>
  request. When the results of a <code>GetLifecyclePolicyPreview</code> request exceed
  <code>maxResults</code>, this value can be used to retrieve the next page of results.
  This value is <code>null</code> when there are no more results to return.\";}s:14:\"previewResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:46:\"#/definitions/LifecyclePolicyPreviewResultList\";s:11:\"description\";s:52:\"The
  results of the lifecycle policy preview request.\";}s:10:\"registryId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/RegistryId\";s:11:\"description\";s:44:\"The
  registry ID associated with the request.\";}s:14:\"repositoryName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/RepositoryName\";s:11:\"description\";s:48:\"The
  repository name associated with the request.\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/LifecyclePolicyPreviewStatus\";s:11:\"description\";s:51:\"The
  status of the lifecycle policy preview request.\";}s:7:\"summary\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:43:\"#/definitions/LifecyclePolicyPreviewSummary\";s:11:\"description\";s:62:\"The
  list of images that is returned as a result of the action.\";}}s:4:\"type\";s:6:\"object\";}s:25:\"GetLifecyclePolicyRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"registryId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/RegistryId\";s:11:\"description\";s:144:\"The
  AWS account ID associated with the registry that contains the repository. If you
  do not specify a registry, the default registry is assumed.\";}s:14:\"repositoryName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/RepositoryName\";s:11:\"description\";s:27:\"The
  name of the repository.\";}}s:8:\"required\";a:1:{i:0;s:14:\"repositoryName\";}s:4:\"type\";s:6:\"object\";}s:26:\"GetLifecyclePolicyResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:15:\"lastEvaluatedAt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/EvaluationTimestamp\";s:11:\"description\";s:66:\"The
  time stamp of the last time that the lifecycle policy was run.\";}s:19:\"lifecyclePolicyText\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/LifecyclePolicyText\";s:11:\"description\";s:31:\"The
  JSON lifecycle policy text.\";}s:10:\"registryId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/RegistryId\";s:11:\"description\";s:44:\"The
  registry ID associated with the request.\";}s:14:\"repositoryName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/RepositoryName\";s:11:\"description\";s:48:\"The
  repository name associated with the request.\";}}s:4:\"type\";s:6:\"object\";}s:26:\"GetRepositoryPolicyRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":1:{s:14:\"repositoryName\";s:6:\"ubuntu\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"registryId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/RegistryId\";s:11:\"description\";s:144:\"The
  AWS account ID associated with the registry that contains the repository. If you
  do not specify a registry, the default registry is assumed.\";}s:14:\"repositoryName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/RepositoryName\";s:11:\"description\";s:55:\"The
  name of the repository with the policy to retrieve.\";}}s:8:\"required\";a:1:{i:0;s:14:\"repositoryName\";}s:4:\"type\";s:6:\"object\";}s:27:\"GetRepositoryPolicyResponse\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":3:{s:10:\"policyText\";s:297:\"{\n
  \ \"Version\" : \"2008-10-17\",\n  \"Statement\" : [ {\n    \"Sid\" : \"new statement\",\n
  \   \"Effect\" : \"Allow\",\n    \"Principal\" : {\n     \"AWS\" : \"arn:aws:iam::012345678901:role/CodeDeployDemo\"\n
  \   },\n\"Action\" : [ \"ecr:GetDownloadUrlForLayer\", \"ecr:BatchGetImage\", \"ecr:BatchCheckLayerAvailability\"
  ]\n } ]\n}\";s:10:\"registryId\";s:12:\"012345678901\";s:14:\"repositoryName\";s:6:\"ubuntu\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"policyText\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/RepositoryPolicyText\";s:11:\"description\";s:63:\"The
  JSON repository policy text associated with the repository.\";}s:10:\"registryId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/RegistryId\";s:11:\"description\";s:44:\"The
  registry ID associated with the request.\";}s:14:\"repositoryName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/RepositoryName\";s:11:\"description\";s:48:\"The
  repository name associated with the request.\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Image\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"An
  object representing an Amazon ECR image.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"imageId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ImageIdentifier\";s:11:\"description\";s:77:\"An
  object containing the image tag and image digest associated with an image.\";}s:13:\"imageManifest\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ImageManifest\";s:11:\"description\";s:45:\"The
  image manifest associated with the image.\";}s:10:\"registryId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/RegistryId\";s:11:\"description\";s:69:\"The
  AWS account ID associated with the registry containing the image.\";}s:14:\"repositoryName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/RepositoryName\";s:11:\"description\";s:53:\"The
  name of the repository associated with the image.\";}}s:4:\"type\";s:6:\"object\";}s:15:\"ImageActionType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:1:{i:0;s:6:\"EXPIRE\";}s:4:\"type\";s:6:\"string\";}s:27:\"ImageAlreadyExistsException\";O:8:\"stdClass\":3:{s:11:\"description\";s:120:\"The
  specified image has already been pushed, and there were no changes to the manifest
  or image tag after the last push.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ExceptionMessage\";s:11:\"description\";s:48:\"The
  error message associated with the exception.\";}}s:4:\"type\";s:6:\"object\";}s:10:\"ImageCount\";O:8:\"stdClass\":2:{s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:11:\"ImageDetail\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"An
  object that describes an image returned by a <a>DescribeImages</a> operation.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"imageDigest\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ImageDigest\";s:11:\"description\";s:53:\"The
  <code>sha256</code> digest of the image manifest.\";}s:13:\"imagePushedAt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/PushTimestamp\";s:11:\"description\";s:122:\"The
  date and time, expressed in standard JavaScript date format, at which the current
  image was pushed to the repository. \";}s:16:\"imageSizeInBytes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ImageSizeInBytes\";s:11:\"description\";s:383:\"<p>The
  size, in bytes, of the image in the repository.</p> <note> <p>Beginning with Docker
  version 1.9, the Docker client compresses image layers before pushing them to a
  V2 Docker registry. The output of the <code>docker images</code> command shows the
  uncompressed image size, so it may return a larger image size than the image sizes
  returned by <a>DescribeImages</a>.</p> </note>\";}s:9:\"imageTags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ImageTagList\";s:11:\"description\";s:44:\"The
  list of tags associated with this image.\";}s:10:\"registryId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/RegistryId\";s:11:\"description\";s:76:\"The
  AWS account ID associated with the registry to which this image belongs.\";}s:14:\"repositoryName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/RepositoryName\";s:11:\"description\";s:55:\"The
  name of the repository to which this image belongs.\";}}s:4:\"type\";s:6:\"object\";}s:15:\"ImageDetailList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ImageDetail\";}s:4:\"type\";s:5:\"array\";}s:11:\"ImageDigest\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"ImageFailure\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"An
  object representing an Amazon ECR image failure.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"failureCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ImageFailureCode\";s:11:\"description\";s:37:\"The
  code associated with the failure.\";}s:13:\"failureReason\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ImageFailureReason\";s:11:\"description\";s:27:\"The
  reason for the failure.\";}s:7:\"imageId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ImageIdentifier\";s:11:\"description\";s:41:\"The
  image ID associated with the failure.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"ImageFailureCode\";O:8:\"stdClass\":2:{s:4:\"enum\";a:5:{i:0;s:18:\"InvalidImageDigest\";i:1;s:15:\"InvalidImageTag\";i:2;s:26:\"ImageTagDoesNotMatchDigest\";i:3;s:13:\"ImageNotFound\";i:4;s:19:\"MissingDigestAndTag\";}s:4:\"type\";s:6:\"string\";}s:16:\"ImageFailureList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ImageFailure\";}s:4:\"type\";s:5:\"array\";}s:18:\"ImageFailureReason\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"ImageIdentifier\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"An
  object with identifying information for an Amazon ECR image.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"imageDigest\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ImageDigest\";s:11:\"description\";s:53:\"The
  <code>sha256</code> digest of the image manifest.\";}s:8:\"imageTag\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/ImageTag\";s:11:\"description\";s:27:\"The
  tag used for the image.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"ImageIdentifierList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ImageIdentifier\";}s:8:\"maxItems\";i:100;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:9:\"ImageList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Image\";}s:4:\"type\";s:5:\"array\";}s:13:\"ImageManifest\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"ImageNotFoundException\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"The
  image requested does not exist in the specified repository.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ExceptionMessage\";}}s:4:\"type\";s:6:\"object\";}s:16:\"ImageSizeInBytes\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"ImageTag\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"ImageTagList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/ImageTag\";}s:4:\"type\";s:5:\"array\";}s:26:\"InitiateLayerUploadRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"registryId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/RegistryId\";s:11:\"description\";s:152:\"The
  AWS account ID associated with the registry to which you intend to upload layers.
  If you do not specify a registry, the default registry is assumed.\";}s:14:\"repositoryName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/RepositoryName\";s:11:\"description\";s:64:\"The
  name of the repository to which you intend to upload layers.\";}}s:8:\"required\";a:1:{i:0;s:14:\"repositoryName\";}s:4:\"type\";s:6:\"object\";}s:27:\"InitiateLayerUploadResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"partSize\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/PartSize\";s:11:\"description\";s:76:\"The
  size, in bytes, that Amazon ECR expects future layer part uploads to be.\";}s:8:\"uploadId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/UploadId\";s:11:\"description\";s:137:\"The
  upload ID for the layer upload. This parameter is passed to further <a>UploadLayerPart</a>
  and <a>CompleteLayerUpload</a> operations.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"InvalidLayerException\";O:8:\"stdClass\":3:{s:11:\"description\";s:121:\"The
  layer digest calculation performed by Amazon ECR upon receipt of the image layer
  does not match the digest specified.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ExceptionMessage\";s:11:\"description\";s:48:\"The
  error message associated with the exception.\";}}s:4:\"type\";s:6:\"object\";}s:25:\"InvalidLayerPartException\";O:8:\"stdClass\":3:{s:11:\"description\";s:130:\"The
  layer part size is not valid, or the first byte specified is not consecutive to
  the last byte of a previous layer part upload.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:21:\"lastValidByteReceived\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/PartSize\";s:11:\"description\";s:94:\"The
  last valid byte received from the layer part upload that is associated with the
  exception.\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ExceptionMessage\";s:11:\"description\";s:48:\"The
  error message associated with the exception.\";}s:10:\"registryId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/RegistryId\";s:11:\"description\";s:46:\"The
  registry ID associated with the exception.\";}s:14:\"repositoryName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/RepositoryName\";s:11:\"description\";s:50:\"The
  repository name associated with the exception.\";}s:8:\"uploadId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/UploadId\";s:11:\"description\";s:44:\"The
  upload ID associated with the exception.\";}}s:4:\"type\";s:6:\"object\";}s:25:\"InvalidParameterException\";O:8:\"stdClass\":3:{s:11:\"description\";s:88:\"The
  specified parameter is invalid. Review the available parameters for the API request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ExceptionMessage\";s:11:\"description\";s:48:\"The
  error message associated with the exception.\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Layer\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"An
  object representing an Amazon ECR image layer.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:17:\"layerAvailability\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/LayerAvailability\";s:11:\"description\";s:43:\"The
  availability status of the image layer.\";}s:11:\"layerDigest\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/LayerDigest\";s:11:\"description\";s:50:\"The
  <code>sha256</code> digest of the image layer.\";}s:9:\"layerSize\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/LayerSizeInBytes\";s:11:\"description\";s:39:\"The
  size, in bytes, of the image layer.\";}s:9:\"mediaType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/MediaType\";s:11:\"description\";s:160:\"The
  media type of the layer, such as <code>application/vnd.docker.image.rootfs.diff.tar.gzip</code>
  or <code>application/vnd.oci.image.layer.v1.tar+gzip</code>.\";}}s:4:\"type\";s:6:\"object\";}s:27:\"LayerAlreadyExistsException\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"The
  image layer already exists in the associated repository.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ExceptionMessage\";s:11:\"description\";s:48:\"The
  error message associated with the exception.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"LayerAvailability\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:9:\"AVAILABLE\";i:1;s:11:\"UNAVAILABLE\";}s:4:\"type\";s:6:\"string\";}s:11:\"LayerDigest\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:29:\"[a-zA-Z0-9-_+.]+:[a-fA-F0-9]+\";s:4:\"type\";s:6:\"string\";}s:15:\"LayerDigestList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/LayerDigest\";}s:8:\"maxItems\";i:100;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:12:\"LayerFailure\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"An
  object representing an Amazon ECR image layer failure.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"failureCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/LayerFailureCode\";s:11:\"description\";s:45:\"The
  failure code associated with the failure.\";}s:13:\"failureReason\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/LayerFailureReason\";s:11:\"description\";s:27:\"The
  reason for the failure.\";}s:11:\"layerDigest\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/BatchedOperationLayerDigest\";s:11:\"description\";s:45:\"The
  layer digest associated with the failure.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"LayerFailureCode\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:18:\"InvalidLayerDigest\";i:1;s:18:\"MissingLayerDigest\";}s:4:\"type\";s:6:\"string\";}s:16:\"LayerFailureList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/LayerFailure\";}s:4:\"type\";s:5:\"array\";}s:18:\"LayerFailureReason\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:26:\"LayerInaccessibleException\";O:8:\"stdClass\":3:{s:11:\"description\";s:137:\"The
  specified layer is not available because it is not associated with an image. Unassociated
  image layers may be cleaned up at any time.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ExceptionMessage\";s:11:\"description\";s:48:\"The
  error message associated with the exception.\";}}s:4:\"type\";s:6:\"object\";}s:9:\"LayerList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Layer\";}s:4:\"type\";s:5:\"array\";}s:13:\"LayerPartBlob\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:26:\"LayerPartTooSmallException\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Layer
  parts must be at least 5 MiB in size.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ExceptionMessage\";s:11:\"description\";s:48:\"The
  error message associated with the exception.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"LayerSizeInBytes\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:23:\"LayersNotFoundException\";O:8:\"stdClass\":3:{s:11:\"description\";s:97:\"The
  specified layers could not be found, or the specified layer is not valid for this
  repository.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ExceptionMessage\";s:11:\"description\";s:48:\"The
  error message associated with the exception.\";}}s:4:\"type\";s:6:\"object\";}s:32:\"LifecyclePolicyNotFoundException\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"The
  lifecycle policy could not be found, and no policy is set to the repository.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ExceptionMessage\";}}s:4:\"type\";s:6:\"object\";}s:28:\"LifecyclePolicyPreviewFilter\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"The
  filter for the lifecycle policy preview.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"tagStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/TagStatus\";s:11:\"description\";s:28:\"The
  tag status of the image.\";}}s:4:\"type\";s:6:\"object\";}s:41:\"LifecyclePolicyPreviewInProgressException\";O:8:\"stdClass\":3:{s:11:\"description\";s:88:\"The
  previous lifecycle policy preview request has not completed. Please try again later.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ExceptionMessage\";}}s:4:\"type\";s:6:\"object\";}s:39:\"LifecyclePolicyPreviewNotFoundException\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"There
  is no dry run for this repository.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ExceptionMessage\";}}s:4:\"type\";s:6:\"object\";}s:28:\"LifecyclePolicyPreviewResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  result of the lifecycle policy preview.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"action\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/LifecyclePolicyRuleAction\";s:11:\"description\";s:31:\"The
  type of action to be taken.\";}s:19:\"appliedRulePriority\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/LifecyclePolicyRulePriority\";s:11:\"description\";s:33:\"The
  priority of the applied rule.\";}s:11:\"imageDigest\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ImageDigest\";s:11:\"description\";s:53:\"The
  <code>sha256</code> digest of the image manifest.\";}s:13:\"imagePushedAt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/PushTimestamp\";s:11:\"description\";s:121:\"The
  date and time, expressed in standard JavaScript date format, at which the current
  image was pushed to the repository.\";}s:9:\"imageTags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ImageTagList\";s:11:\"description\";s:44:\"The
  list of tags associated with this image.\";}}s:4:\"type\";s:6:\"object\";}s:32:\"LifecyclePolicyPreviewResultList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/LifecyclePolicyPreviewResult\";}s:4:\"type\";s:5:\"array\";}s:28:\"LifecyclePolicyPreviewStatus\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:11:\"IN_PROGRESS\";i:1;s:8:\"COMPLETE\";i:2;s:7:\"EXPIRED\";i:3;s:6:\"FAILED\";}s:4:\"type\";s:6:\"string\";}s:29:\"LifecyclePolicyPreviewSummary\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"The
  summary of the lifecycle policy preview request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:23:\"expiringImageTotalCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ImageCount\";s:11:\"description\";s:30:\"The
  number of expiring images.\";}}s:4:\"type\";s:6:\"object\";}s:25:\"LifecyclePolicyRuleAction\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  type of action to be taken.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ImageActionType\";s:11:\"description\";s:31:\"The
  type of action to be taken.\";}}s:4:\"type\";s:6:\"object\";}s:27:\"LifecyclePolicyRulePriority\";O:8:\"stdClass\":2:{s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:19:\"LifecyclePolicyText\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:10240;s:9:\"minLength\";i:100;s:4:\"type\";s:6:\"string\";}s:22:\"LimitExceededException\";O:8:\"stdClass\":3:{s:11:\"description\";s:295:\"The
  operation did not succeed because it would have exceeded a service limit for your
  account. For more information, see <a href=\"http://docs.aws.amazon.com/AmazonECR/latest/userguide/service_limits.html\">Amazon
  ECR Default Service Limits</a> in the Amazon Elastic Container Registry User Guide.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ExceptionMessage\";s:11:\"description\";s:48:\"The
  error message associated with the exception.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"ListImagesFilter\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"An
  object representing a filter on a <a>ListImages</a> operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"tagStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/TagStatus\";s:11:\"description\";s:162:\"The
  tag status with which to filter your <a>ListImages</a> results. You can filter results
  based on whether they are <code>TAGGED</code> or <code>UNTAGGED</code>.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"ListImagesRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":1:{s:14:\"repositoryName\";s:6:\"ubuntu\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"filter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ListImagesFilter\";s:11:\"description\";s:83:\"The
  filter key and value with which to filter your <code>ListImages</code> results.\";}s:10:\"maxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MaxResults\";s:11:\"description\";s:591:\"The
  maximum number of image results returned by <code>ListImages</code> in paginated
  output. When this parameter is used, <code>ListImages</code> only returns <code>maxResults</code>
  results in a single page along with a <code>nextToken</code> response element. The
  remaining results of the initial request can be seen by sending another <code>ListImages</code>
  request with the returned <code>nextToken</code> value. This value can be between
  1 and 100. If this parameter is not used, then <code>ListImages</code> returns up
  to 100 results and a <code>nextToken</code> value, if applicable.\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:550:\"<p>The
  <code>nextToken</code> value returned from a previous paginated <code>ListImages</code>
  request where <code>maxResults</code> was used and the results exceeded the value
  of that parameter. Pagination continues from the end of the previous results that
  returned the <code>nextToken</code> value. This value is <code>null</code> when
  there are no more results to return.</p> <note> <p>This token should be treated
  as an opaque identifier that is only used to retrieve the next items in a list and
  not for other programmatic purposes.</p> </note>\";}s:10:\"registryId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/RegistryId\";s:11:\"description\";s:168:\"The
  AWS account ID associated with the registry that contains the repository in which
  to list images. If you do not specify a registry, the default registry is assumed.\";}s:14:\"repositoryName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/RepositoryName\";s:11:\"description\";s:43:\"The
  repository with image IDs to be listed.\";}}s:8:\"required\";a:1:{i:0;s:14:\"repositoryName\";}s:4:\"type\";s:6:\"object\";}s:18:\"ListImagesResponse\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":1:{s:8:\"imageIds\";a:1:{i:0;O:8:\"stdClass\":2:{s:11:\"imageDigest\";s:71:\"sha256:764f63476bdff6d83a09ba2a818f0d35757063724a9ac3ba5019c56f74ebf42a\";s:8:\"imageTag\";s:7:\"precise\";}}}s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"imageIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/ImageIdentifierList\";s:11:\"description\";s:51:\"The
  list of image IDs for the requested repository.\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:309:\"The
  <code>nextToken</code> value to include in a future <code>ListImages</code> request.
  When the results of a <code>ListImages</code> request exceed <code>maxResults</code>,
  this value can be used to retrieve the next page of results. This value is <code>null</code>
  when there are no more results to return.\";}}s:4:\"type\";s:6:\"object\";}s:10:\"MaxResults\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:100;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:9:\"MediaType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"MediaTypeList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/MediaType\";}s:8:\"maxItems\";i:100;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:9:\"NextToken\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"PartSize\";O:8:\"stdClass\":2:{s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:13:\"ProxyEndpoint\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"PushTimestamp\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:15:\"PutImageRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"imageManifest\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ImageManifest\";s:11:\"description\";s:61:\"The
  image manifest corresponding to the image to be uploaded.\";}s:8:\"imageTag\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/ImageTag\";s:11:\"description\";s:137:\"The
  tag to associate with the image. This parameter is required for images that use
  the Docker Image Manifest V2 Schema 2 or OCI formats.\";}s:10:\"registryId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/RegistryId\";s:11:\"description\";s:170:\"The
  AWS account ID associated with the registry that contains the repository in which
  to put the image. If you do not specify a registry, the default registry is assumed.\";}s:14:\"repositoryName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/RepositoryName\";s:11:\"description\";s:53:\"The
  name of the repository in which to put the image.\";}}s:8:\"required\";a:2:{i:0;s:14:\"repositoryName\";i:1;s:13:\"imageManifest\";}s:4:\"type\";s:6:\"object\";}s:16:\"PutImageResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"image\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Image\";s:11:\"description\";s:30:\"Details
  of the image uploaded.\";}}s:4:\"type\";s:6:\"object\";}s:25:\"PutLifecyclePolicyRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"lifecyclePolicyText\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/LifecyclePolicyText\";s:11:\"description\";s:59:\"The
  JSON repository policy text to apply to the repository.\";}s:10:\"registryId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/RegistryId\";s:11:\"description\";s:152:\"The
  AWS account ID associated with the registry that contains the repository. If you
  do&#x2028; not specify a registry, the default registry is assumed.\";}s:14:\"repositoryName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/RepositoryName\";s:11:\"description\";s:49:\"The
  name of the repository to receive the policy.\";}}s:8:\"required\";a:2:{i:0;s:14:\"repositoryName\";i:1;s:19:\"lifecyclePolicyText\";}s:4:\"type\";s:6:\"object\";}s:26:\"PutLifecyclePolicyResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"lifecyclePolicyText\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/LifecyclePolicyText\";s:11:\"description\";s:32:\"The
  JSON repository policy text.\";}s:10:\"registryId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/RegistryId\";s:11:\"description\";s:44:\"The
  registry ID associated with the request.\";}s:14:\"repositoryName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/RepositoryName\";s:11:\"description\";s:48:\"The
  repository name associated with the request.\";}}s:4:\"type\";s:6:\"object\";}s:10:\"RegistryId\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:9:\"[0-9]{12}\";s:4:\"type\";s:6:\"string\";}s:10:\"Repository\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"An
  object representing a repository.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"createdAt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/CreationTimestamp\";s:11:\"description\";s:78:\"The
  date and time, in JavaScript date format, when the repository was created.\";}s:10:\"registryId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/RegistryId\";s:11:\"description\";s:77:\"The
  AWS account ID associated with the registry that contains the repository.\";}s:13:\"repositoryArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Arn\";s:11:\"description\";s:319:\"The
  Amazon Resource Name (ARN) that identifies the repository. The ARN contains the
  <code>arn:aws:ecr</code> namespace, followed by the region of the repository, AWS
  account ID of the repository owner, repository namespace, and repository name. For
  example, <code>arn:aws:ecr:region:012345678910:repository/test</code>.\";}s:14:\"repositoryName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/RepositoryName\";s:11:\"description\";s:27:\"The
  name of the repository.\";}s:13:\"repositoryUri\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Url\";s:11:\"description\";s:110:\"The
  URI for the repository. You can use this URI for Docker <code>push</code> or <code>pull</code>
  operations.\";}}s:4:\"type\";s:6:\"object\";}s:32:\"RepositoryAlreadyExistsException\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"The
  specified repository already exists in the specified registry.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ExceptionMessage\";s:11:\"description\";s:48:\"The
  error message associated with the exception.\";}}s:4:\"type\";s:6:\"object\";}s:14:\"RepositoryList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Repository\";}s:4:\"type\";s:5:\"array\";}s:14:\"RepositoryName\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:256;s:9:\"minLength\";i:2;s:7:\"pattern\";s:62:\"(?:[a-z0-9]+(?:[._-][a-z0-9]+)*/)*[a-z0-9]+(?:[._-][a-z0-9]+)*\";s:4:\"type\";s:6:\"string\";}s:18:\"RepositoryNameList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/RepositoryName\";}s:8:\"maxItems\";i:100;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:27:\"RepositoryNotEmptyException\";O:8:\"stdClass\":3:{s:11:\"description\";s:153:\"The
  specified repository contains images. To delete a repository that contains images,
  you must force the deletion with the <code>force</code> parameter.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ExceptionMessage\";s:11:\"description\";s:48:\"The
  error message associated with the exception.\";}}s:4:\"type\";s:6:\"object\";}s:27:\"RepositoryNotFoundException\";O:8:\"stdClass\":3:{s:11:\"description\";s:162:\"The
  specified repository could not be found. Check the spelling of the specified repository
  and ensure that you are performing operations on the correct registry.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ExceptionMessage\";s:11:\"description\";s:48:\"The
  error message associated with the exception.\";}}s:4:\"type\";s:6:\"object\";}s:33:\"RepositoryPolicyNotFoundException\";O:8:\"stdClass\":3:{s:11:\"description\";s:96:\"The
  specified repository and registry combination does not have an associated repository
  policy.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ExceptionMessage\";s:11:\"description\";s:48:\"The
  error message associated with the exception.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"RepositoryPolicyText\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:10240;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";}s:15:\"ServerException\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"These
  errors are usually caused by a server-side issue.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ExceptionMessage\";s:11:\"description\";s:48:\"The
  error message associated with the exception.\";}}s:4:\"type\";s:6:\"object\";}s:26:\"SetRepositoryPolicyRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"force\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/ForceFlag\";s:11:\"description\";s:241:\"If
  the policy you are attempting to set on a repository policy would prevent you from
  setting another policy in the future, you must force the <a>SetRepositoryPolicy</a>
  operation. This is intended to prevent accidental repository lock outs.\";}s:10:\"policyText\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/RepositoryPolicyText\";s:11:\"description\";s:59:\"The
  JSON repository policy text to apply to the repository.\";}s:10:\"registryId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/RegistryId\";s:11:\"description\";s:144:\"The
  AWS account ID associated with the registry that contains the repository. If you
  do not specify a registry, the default registry is assumed.\";}s:14:\"repositoryName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/RepositoryName\";s:11:\"description\";s:49:\"The
  name of the repository to receive the policy.\";}}s:8:\"required\";a:2:{i:0;s:14:\"repositoryName\";i:1;s:10:\"policyText\";}s:4:\"type\";s:6:\"object\";}s:27:\"SetRepositoryPolicyResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"policyText\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/RepositoryPolicyText\";s:11:\"description\";s:58:\"The
  JSON repository policy text applied to the repository.\";}s:10:\"registryId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/RegistryId\";s:11:\"description\";s:44:\"The
  registry ID associated with the request.\";}s:14:\"repositoryName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/RepositoryName\";s:11:\"description\";s:48:\"The
  repository name associated with the request.\";}}s:4:\"type\";s:6:\"object\";}s:34:\"StartLifecyclePolicyPreviewRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:19:\"lifecyclePolicyText\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/LifecyclePolicyText\";s:11:\"description\";s:114:\"The
  policy to be evaluated against. If you do not specify a policy, the current policy
  for the repository is used.\";}s:10:\"registryId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/RegistryId\";s:11:\"description\";s:144:\"The
  AWS account ID associated with the registry that contains the repository. If you
  do not specify a registry, the default registry is assumed.\";}s:14:\"repositoryName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/RepositoryName\";s:11:\"description\";s:43:\"The
  name of the repository to be evaluated.\";}}s:8:\"required\";a:1:{i:0;s:14:\"repositoryName\";}s:4:\"type\";s:6:\"object\";}s:35:\"StartLifecyclePolicyPreviewResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:19:\"lifecyclePolicyText\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/LifecyclePolicyText\";s:11:\"description\";s:32:\"The
  JSON repository policy text.\";}s:10:\"registryId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/RegistryId\";s:11:\"description\";s:44:\"The
  registry ID associated with the request.\";}s:14:\"repositoryName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/RepositoryName\";s:11:\"description\";s:48:\"The
  repository name associated with the request.\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/LifecyclePolicyPreviewStatus\";s:11:\"description\";s:51:\"The
  status of the lifecycle policy preview request.\";}}s:4:\"type\";s:6:\"object\";}s:9:\"TagStatus\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:6:\"TAGGED\";i:1;s:8:\"UNTAGGED\";}s:4:\"type\";s:6:\"string\";}s:8:\"UploadId\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:75:\"[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}\";s:4:\"type\";s:6:\"string\";}s:22:\"UploadLayerPartRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":6:{s:13:\"layerPartBlob\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/LayerPartBlob\";s:11:\"description\";s:38:\"The
  base64-encoded layer part payload.\";}s:13:\"partFirstByte\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/PartSize\";s:11:\"description\";s:54:\"The
  integer value of the first byte of the layer part.\";}s:12:\"partLastByte\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/PartSize\";s:11:\"description\";s:53:\"The
  integer value of the last byte of the layer part.\";}s:10:\"registryId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/RegistryId\";s:11:\"description\";s:154:\"The
  AWS account ID associated with the registry to which you are uploading layer parts.
  If you do not specify a registry, the default registry is assumed.\";}s:14:\"repositoryName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/RepositoryName\";s:11:\"description\";s:66:\"The
  name of the repository to which you are uploading layer parts.\";}s:8:\"uploadId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/UploadId\";s:11:\"description\";s:107:\"The
  upload ID from a previous <a>InitiateLayerUpload</a> operation to associate with
  the layer part upload.\";}}s:8:\"required\";a:5:{i:0;s:14:\"repositoryName\";i:1;s:8:\"uploadId\";i:2;s:13:\"partFirstByte\";i:3;s:12:\"partLastByte\";i:4;s:13:\"layerPartBlob\";}s:4:\"type\";s:6:\"object\";}s:23:\"UploadLayerPartResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:16:\"lastByteReceived\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/PartSize\";s:11:\"description\";s:59:\"The
  integer value of the last byte received in the request.\";}s:10:\"registryId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/RegistryId\";s:11:\"description\";s:44:\"The
  registry ID associated with the request.\";}s:14:\"repositoryName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/RepositoryName\";s:11:\"description\";s:48:\"The
  repository name associated with the request.\";}s:8:\"uploadId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/UploadId\";s:11:\"description\";s:42:\"The
  upload ID associated with the request.\";}}s:4:\"type\";s:6:\"object\";}s:23:\"UploadNotFoundException\";O:8:\"stdClass\":3:{s:11:\"description\";s:91:\"The
  upload could not be found, or the specified upload id is not valid for this repository.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ExceptionMessage\";s:11:\"description\";s:48:\"The
  error message associated with the exception.\";}}s:4:\"type\";s:6:\"object\";}s:3:\"Url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}"
...
