---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":14:{s:7:\"version\";s:10:\"2012-10-25\";s:9:\"x-release\";s:2:\"v4\";s:5:\"title\";s:18:\"AWS
  Direct Connect\";s:11:\"description\";s:855:\"AWS Direct Connect links your internal
  network to an AWS Direct Connect location over a standard 1 gigabit or 10 gigabit
  Ethernet fiber-optic cable. One end of the cable is connected to your router, the
  other to an AWS Direct Connect router. With this connection in place, you can create
  virtual interfaces directly to the AWS cloud (for example, to Amazon Elastic Compute
  Cloud (Amazon EC2) and Amazon Simple Storage Service (Amazon S3)) and to Amazon
  Virtual Private Cloud (Amazon VPC), bypassing Internet service providers in your
  network path. An AWS Direct Connect location provides access to AWS in the region
  it is associated with, as well as access to other US regions. For example, you can
  provision a single connection to any AWS Direct Connect location in the US and use
  it to access public AWS services in all US Regions and AWS GovCloud (US).\";s:6:\"x-logo\";O:8:\"stdClass\":2:{s:3:\"url\";s:70:\"https://media.amazonwebservices.com/blog/2007/big_pbaws_logo_300px.jpg\";s:15:\"backgroundColor\";s:7:\"#FFFFFF\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:7:\"contact\";O:8:\"stdClass\":3:{s:4:\"name\";s:13:\"Mike
  Ralphson\";s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";}s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache
  2.0 License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:13:\"x-serviceName\";s:13:\"directconnect\";s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:3:\"url\";s:97:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/directconnect-2012-10-25.normal.json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:17:\"x-apisguru-direct\";b:1;}}s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:11:\"x-preferred\";b:1;}"
host: directconnect.amazonaws.com
basePath: /
paths: ~
produces:
- application/json
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":127:{s:3:\"ASN\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:111:\"<p>The
  autonomous system (AS) number for Border Gateway Protocol (BGP) configuration.</p>
  <p>Example: 65000</p>\";}s:13:\"AddressFamily\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:4:\"ipv4\";i:1;s:4:\"ipv6\";}s:11:\"description\";s:168:\"<p>Indicates
  the address family for the BGP peer.</p> <ul> <li> <p> <b>ipv4</b>: IPv4 address
  family</p> </li> <li> <p> <b>ipv6</b>: IPv6 address family</p> </li> </ul>\";}s:39:\"AllocateConnectionOnInterconnectRequest\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:5:{i:0;s:9:\"bandwidth\";i:1;s:14:\"connectionName\";i:2;s:12:\"ownerAccount\";i:3;s:14:\"interconnectId\";i:4;s:4:\"vlan\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"bandwidth\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Bandwidth\";s:11:\"description\";s:159:\"<p>Bandwidth
  of the connection.</p> <p>Example: \"<i>500Mbps</i>\"</p> <p>Default: None</p> <p>Values:
  50Mbps, 100Mbps, 200Mbps, 300Mbps, 400Mbps, or 500Mbps</p>\";}s:14:\"connectionName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ConnectionName\";s:11:\"description\";s:111:\"<p>Name
  of the provisioned connection.</p> <p>Example: \"<i>500M Connection to AWS</i>\"</p>
  <p>Default: None</p>\";}s:12:\"ownerAccount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/OwnerAccount\";s:11:\"description\";s:136:\"<p>Numeric
  account Id of the customer for whom the connection will be provisioned.</p> <p>Example:
  123443215678</p> <p>Default: None</p>\";}s:14:\"interconnectId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/InterconnectId\";s:11:\"description\";s:126:\"<p>ID
  of the interconnect on which the connection will be provisioned.</p> <p>Example:
  dxcon-456abc78</p> <p>Default: None</p>\";}s:4:\"vlan\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/VLAN\";s:11:\"description\";s:97:\"<p>The
  dedicated VLAN provisioned to the connection.</p> <p>Example: 101</p> <p>Default:
  None</p>\";}}s:11:\"description\";s:79:\"Container for the parameters to the AllocateConnectionOnInterconnect
  operation.\";}s:31:\"AllocateHostedConnectionRequest\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:5:{i:0;s:12:\"connectionId\";i:1;s:12:\"ownerAccount\";i:2;s:9:\"bandwidth\";i:3;s:14:\"connectionName\";i:4;s:4:\"vlan\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"connectionId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ConnectionId\";s:11:\"description\";s:153:\"<p>The
  ID of the interconnect or LAG on which the connection will be provisioned.</p> <p>Example:
  dxcon-456abc78 or dxlag-abc123</p> <p>Default: None</p>\";}s:12:\"ownerAccount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/OwnerAccount\";s:11:\"description\";s:140:\"<p>The
  numeric account ID of the customer for whom the connection will be provisioned.</p>
  <p>Example: 123443215678</p> <p>Default: None</p>\";}s:9:\"bandwidth\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Bandwidth\";s:11:\"description\";s:168:\"<p>The
  bandwidth of the connection.</p> <p>Example: <code>500Mbps</code> </p> <p>Default:
  None</p> <p>Values: 50Mbps, 100Mbps, 200Mbps, 300Mbps, 400Mbps, or 500Mbps</p>\";}s:14:\"connectionName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ConnectionName\";s:11:\"description\";s:121:\"<p>The
  name of the provisioned connection.</p> <p>Example: \"<code>500M Connection to AWS</code>\"</p>
  <p>Default: None</p>\";}s:4:\"vlan\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/VLAN\";s:11:\"description\";s:104:\"<p>The
  dedicated VLAN provisioned to the hosted connection.</p> <p>Example: 101</p> <p>Default:
  None</p>\";}}s:11:\"description\";s:62:\"Container for the parameters to theHostedConnection
  operation.\";}s:38:\"AllocatePrivateVirtualInterfaceRequest\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:12:\"connectionId\";i:1;s:12:\"ownerAccount\";i:2;s:36:\"newPrivateVirtualInterfaceAllocation\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"connectionId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ConnectionId\";s:11:\"description\";s:100:\"<p>The
  connection ID on which the private virtual interface is provisioned.</p> <p>Default:
  None</p>\";}s:12:\"ownerAccount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/OwnerAccount\";s:11:\"description\";s:92:\"<p>The
  AWS account that will own the new private virtual interface.</p> <p>Default: None</p>\";}s:36:\"newPrivateVirtualInterfaceAllocation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:50:\"#/definitions/NewPrivateVirtualInterfaceAllocation\";s:11:\"description\";s:101:\"<p>Detailed
  information for the private virtual interface to be provisioned.</p> <p>Default:
  None</p>\";}}s:11:\"description\";s:78:\"Container for the parameters to the AllocatePrivateVirtualInterface
  operation.\";}s:37:\"AllocatePublicVirtualInterfaceRequest\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:12:\"connectionId\";i:1;s:12:\"ownerAccount\";i:2;s:35:\"newPublicVirtualInterfaceAllocation\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"connectionId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ConnectionId\";s:11:\"description\";s:99:\"<p>The
  connection ID on which the public virtual interface is provisioned.</p> <p>Default:
  None</p>\";}s:12:\"ownerAccount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/OwnerAccount\";s:11:\"description\";s:91:\"<p>The
  AWS account that will own the new public virtual interface.</p> <p>Default: None</p>\";}s:35:\"newPublicVirtualInterfaceAllocation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:49:\"#/definitions/NewPublicVirtualInterfaceAllocation\";s:11:\"description\";s:100:\"<p>Detailed
  information for the public virtual interface to be provisioned.</p> <p>Default:
  None</p>\";}}s:11:\"description\";s:77:\"Container for the parameters to the AllocatePublicVirtualInterface
  operation.\";}s:13:\"AmazonAddress\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:101:\"<p>IP
  address assigned to the Amazon interface.</p> <p>Example: 192.168.1.1/30 or 2001:db8::1/125</p>\";}s:33:\"AssociateConnectionWithLagRequest\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:12:\"connectionId\";i:1;s:5:\"lagId\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"connectionId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ConnectionId\";s:11:\"description\";s:82:\"<p>The
  ID of the connection.</p> <p>Example: dxcon-abc123</p> <p>Default: None</p>\";}s:5:\"lagId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/LagId\";s:11:\"description\";s:114:\"<p>The
  ID of the LAG with which to associate the connection.</p> <p>Example: dxlag-abc123</p>
  <p>Default: None</p>\";}}s:11:\"description\";s:73:\"Container for the parameters
  to the AssociateConnectionWithLag operation.\";}s:32:\"AssociateHostedConnectionRequest\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:12:\"connectionId\";i:1;s:18:\"parentConnectionId\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"connectionId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ConnectionId\";s:11:\"description\";s:89:\"<p>The
  ID of the hosted connection.</p> <p>Example: dxcon-abc123</p> <p>Default: None</p>\";}s:18:\"parentConnectionId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ConnectionId\";s:11:\"description\";s:111:\"<p>The
  ID of the interconnect or the LAG.</p> <p>Example: dxcon-abc123 or dxlag-abc123</p>
  <p>Default: None</p>\";}}s:11:\"description\";s:72:\"Container for the parameters
  to the AssociateHostedConnection operation.\";}s:32:\"AssociateVirtualInterfaceRequest\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:18:\"virtualInterfaceId\";i:1;s:12:\"connectionId\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:18:\"virtualInterfaceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/VirtualInterfaceId\";s:11:\"description\";s:91:\"<p>The
  ID of the virtual interface.</p> <p>Example: dxvif-123dfg56</p> <p>Default: None</p>\";}s:12:\"connectionId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ConnectionId\";s:11:\"description\";s:151:\"<p>The
  ID of the LAG or connection with which to associate the virtual interface.</p> <p>Example:
  dxlag-abc123 or dxcon-abc123</p> <p>Default: None</p>\";}}s:11:\"description\";s:72:\"Container
  for the parameters to the AssociateVirtualInterface operation.\";}s:9:\"AwsDevice\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:98:\"<p>An
  abstract ID for the physical Direct Connect endpoint.</p> <p>Example: EQC50-abcdef123456</p>\";}s:10:\"BGPAuthKey\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:82:\"<p>The
  authentication key for BGP configuration.</p> <p>Example: asdf34example</p>\";}s:7:\"BGPPeer\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:3:\"asn\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/ASN\";}s:7:\"authKey\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/BGPAuthKey\";}s:13:\"addressFamily\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/AddressFamily\";}s:13:\"amazonAddress\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/AmazonAddress\";}s:15:\"customerAddress\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/CustomerAddress\";}s:12:\"bgpPeerState\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/BGPPeerState\";}s:9:\"bgpStatus\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/BGPStatus\";}}s:11:\"description\";s:52:\"A
  structure containing information about a BGP peer.\";}s:11:\"BGPPeerList\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:61:\"A
  list of the BGP peers configured on this virtual interface.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/BGPPeer\";}}s:12:\"BGPPeerState\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:5:{i:0;s:9:\"verifying\";i:1;s:7:\"pending\";i:2;s:9:\"available\";i:3;s:8:\"deleting\";i:4;s:7:\"deleted\";}s:11:\"description\";s:609:\"<p>The
  state of the BGP peer.</p> <ul> <li> <p> <b>Verifying</b>: The BGP peering addresses
  or ASN require validation before the BGP peer can be created. This state only applies
  to BGP peers on a public virtual interface. </p> </li> <li> <p> <b>Pending</b>:
  The BGP peer has been created, and is in this state until it is ready to be established.</p>
  </li> <li> <p> <b>Available</b>: The BGP peer can be established.</p> </li> <li>
  <p> <b>Deleting</b>: The BGP peer is in the process of being deleted.</p> </li>
  <li> <p> <b>Deleted</b>: The BGP peer has been deleted and cannot be established.</p>
  </li> </ul>\";}s:9:\"BGPStatus\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:2:\"up\";i:1;s:4:\"down\";}s:11:\"description\";s:165:\"<p>The
  Up/Down state of the BGP peer.</p> <ul> <li> <p> <b>Up</b>: The BGP peer is established.</p>
  </li> <li> <p> <b>Down</b>: The BGP peer is down.</p> </li> </ul>\";}s:9:\"Bandwidth\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:78:\"<p>Bandwidth
  of the connection.</p> <p>Example: 1Gbps</p> <p>Default: None</p>\";}s:11:\"BooleanFlag\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"CIDR\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:24:\"ConfirmConnectionRequest\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:12:\"connectionId\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"connectionId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ConnectionId\";}}s:11:\"description\";s:64:\"Container
  for the parameters to the ConfirmConnection operation.\";}s:25:\"ConfirmConnectionResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"connectionState\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ConnectionState\";}}s:11:\"description\";s:55:\"The
  response received when ConfirmConnection is called.\";}s:37:\"ConfirmPrivateVirtualInterfaceRequest\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:18:\"virtualInterfaceId\";i:1;s:16:\"virtualGatewayId\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:18:\"virtualInterfaceId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/VirtualInterfaceId\";}s:16:\"virtualGatewayId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/VirtualGatewayId\";s:11:\"description\";s:354:\"<p>ID
  of the virtual private gateway that will be attached to the virtual interface.</p>
  <p> A virtual private gateway can be managed via the Amazon Virtual Private Cloud
  (VPC) console or the <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/APIReference/ApiReference-query-CreateVpnGateway.html\">EC2
  CreateVpnGateway</a> action.</p> <p>Default: None</p>\";}}s:11:\"description\";s:77:\"Container
  for the parameters to the ConfirmPrivateVirtualInterface operation.\";}s:38:\"ConfirmPrivateVirtualInterfaceResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:21:\"virtualInterfaceState\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/VirtualInterfaceState\";}}s:11:\"description\";s:68:\"The
  response received when ConfirmPrivateVirtualInterface is called.\";}s:36:\"ConfirmPublicVirtualInterfaceRequest\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:18:\"virtualInterfaceId\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:18:\"virtualInterfaceId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/VirtualInterfaceId\";}}s:11:\"description\";s:76:\"Container
  for the parameters to the ConfirmPublicVirtualInterface operation.\";}s:37:\"ConfirmPublicVirtualInterfaceResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:21:\"virtualInterfaceState\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/VirtualInterfaceState\";}}s:11:\"description\";s:67:\"The
  response received when ConfirmPublicVirtualInterface is called.\";}s:10:\"Connection\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:12:\"ownerAccount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/OwnerAccount\";s:11:\"description\";s:49:\"The
  AWS account that will own the new connection.\";}s:12:\"connectionId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ConnectionId\";}s:14:\"connectionName\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ConnectionName\";}s:15:\"connectionState\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ConnectionState\";}s:6:\"region\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Region\";}s:8:\"location\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/LocationCode\";}s:9:\"bandwidth\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Bandwidth\";s:11:\"description\";s:141:\"<p>Bandwidth
  of the connection.</p> <p>Example: 1Gbps (for regular connections), or 500Mbps (for
  hosted connections)</p> <p>Default: None</p>\";}s:4:\"vlan\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/VLAN\";}s:11:\"partnerName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/PartnerName\";s:11:\"description\";s:83:\"The
  name of the AWS Direct Connect service provider associated with the connection.\";}s:12:\"loaIssueTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/LoaIssueTime\";s:11:\"description\";s:75:\"The
  time of the most recent call to <a>DescribeLoa</a> for this connection.\";}s:5:\"lagId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/LagId\";}s:9:\"awsDevice\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/AwsDevice\";s:11:\"description\";s:75:\"The
  Direct Connection endpoint which the physical connection terminates on.\";}}s:11:\"description\";s:113:\"A
  connection represents the physical network connection between the AWS Direct Connect
  location and the customer.\";}s:12:\"ConnectionId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:213:\"<p>The
  ID of the connection. This field is also used as the ID type for operations that
  use multiple connection types (LAG, interconnect, and/or connection).</p> <p>Example:
  dxcon-fg5678gh</p> <p>Default: None</p>\";}s:14:\"ConnectionList\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:22:\"A
  list of connections.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Connection\";}}s:14:\"ConnectionName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:101:\"<p>The
  name of the connection.</p> <p>Example: \"<i>My Connection to AWS</i>\"</p> <p>Default:
  None</p>\";}s:15:\"ConnectionState\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:8:{i:0;s:8:\"ordering\";i:1;s:9:\"requested\";i:2;s:7:\"pending\";i:3;s:9:\"available\";i:4;s:4:\"down\";i:5;s:8:\"deleting\";i:6;s:7:\"deleted\";i:7;s:8:\"rejected\";}s:11:\"description\";s:1024:\"<p>State
  of the connection.</p> <ul> <li> <p> <b>Ordering</b>: The initial state of a hosted
  connection provisioned on an interconnect. The connection stays in the ordering
  state until the owner of the hosted connection confirms or declines the connection
  order.</p> </li> <li> <p> <b>Requested</b>: The initial state of a standard connection.
  The connection stays in the requested state until the Letter of Authorization (LOA)
  is sent to the customer.</p> </li> <li> <p> <b>Pending</b>: The connection has been
  approved, and is being initialized.</p> </li> <li> <p> <b>Available</b>: The network
  link is up, and the connection is ready for use.</p> </li> <li> <p> <b>Down</b>:
  The network link is down.</p> </li> <li> <p> <b>Deleting</b>: The connection is
  in the process of being deleted.</p> </li> <li> <p> <b>Deleted</b>: The connection
  has been deleted.</p> </li> <li> <p> <b>Rejected</b>: A hosted connection in the
  'Ordering' state will enter the 'Rejected' state if it is deleted by the end customer.</p>
  </li> </ul>\";}s:11:\"Connections\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"connections\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ConnectionList\";s:11:\"description\";s:22:\"A
  list of connections.\";}}s:11:\"description\";s:45:\"A structure containing a list
  of connections.\";}s:5:\"Count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:20:\"CreateBGPPeerRequest\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:18:\"virtualInterfaceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/VirtualInterfaceId\";s:11:\"description\";s:133:\"<p>The
  ID of the virtual interface on which the BGP peer will be provisioned.</p> <p>Example:
  dxvif-456abc78</p> <p>Default: None</p>\";}s:10:\"newBGPPeer\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/NewBGPPeer\";s:11:\"description\";s:80:\"<p>Detailed
  information for the BGP peer to be created.</p> <p>Default: None</p>\";}}s:11:\"description\";s:60:\"Container
  for the parameters to the CreateBGPPeer operation.\";}s:21:\"CreateBGPPeerResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"virtualInterface\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/VirtualInterface\";}}s:11:\"description\";s:51:\"The
  response received when CreateBGPPeer is called.\";}s:23:\"CreateConnectionRequest\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:8:\"location\";i:1;s:9:\"bandwidth\";i:2;s:14:\"connectionName\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"location\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/LocationCode\";}s:9:\"bandwidth\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Bandwidth\";}s:14:\"connectionName\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ConnectionName\";}s:5:\"lagId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/LagId\";}}s:11:\"description\";s:63:\"Container
  for the parameters to the CreateConnection operation.\";}s:25:\"CreateInterconnectRequest\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:16:\"interconnectName\";i:1;s:9:\"bandwidth\";i:2;s:8:\"location\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:16:\"interconnectName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/InterconnectName\";s:11:\"description\";s:105:\"<p>The
  name of the interconnect.</p> <p>Example: \"<i>1G Interconnect to AWS</i>\"</p>
  <p>Default: None</p>\";}s:9:\"bandwidth\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Bandwidth\";s:11:\"description\";s:106:\"<p>The
  port bandwidth</p> <p>Example: 1Gbps</p> <p>Default: None</p> <p>Available values:
  1Gbps,10Gbps</p>\";}s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/LocationCode\";s:11:\"description\";s:83:\"<p>Where
  the interconnect is located</p> <p>Example: EqSV5</p> <p>Default: None</p>\";}s:5:\"lagId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/LagId\";}}s:11:\"description\";s:65:\"Container
  for the parameters to the CreateInterconnect operation.\";}s:16:\"CreateLagRequest\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:4:{i:0;s:19:\"numberOfConnections\";i:1;s:8:\"location\";i:2;s:20:\"connectionsBandwidth\";i:3;s:7:\"lagName\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:19:\"numberOfConnections\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Count\";s:11:\"description\";s:108:\"<p>The
  number of physical connections initially provisioned and bundled by the LAG.</p>
  <p>Default: None</p>\";}s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/LocationCode\";s:11:\"description\";s:119:\"<p>The
  AWS Direct Connect location in which the LAG should be allocated.</p> <p>Example:
  EqSV5</p> <p>Default: None</p>\";}s:20:\"connectionsBandwidth\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Bandwidth\";s:11:\"description\";s:139:\"<p>The
  bandwidth of the individual physical connections bundled by the LAG.</p> <p>Default:
  None</p> <p>Available values: 1Gbps, 10Gbps</p>\";}s:7:\"lagName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/LagName\";s:11:\"description\";s:96:\"<p>The
  name of the LAG.</p> <p>Example: \"<code>3x10G LAG to AWS</code>\"</p> <p>Default:
  None</p>\";}s:12:\"connectionId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ConnectionId\";s:11:\"description\";s:83:\"<p>The
  ID of an existing connection to migrate to the LAG.</p> <p>Default: None</p>\";}}s:11:\"description\";s:56:\"Container
  for the parameters to the CreateLag operation.\";}s:36:\"CreatePrivateVirtualInterfaceRequest\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:12:\"connectionId\";i:1;s:26:\"newPrivateVirtualInterface\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"connectionId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ConnectionId\";}s:26:\"newPrivateVirtualInterface\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/NewPrivateVirtualInterface\";s:11:\"description\";s:97:\"<p>Detailed
  information for the private virtual interface to be created.</p> <p>Default: None</p>\";}}s:11:\"description\";s:76:\"Container
  for the parameters to the CreatePrivateVirtualInterface operation.\";}s:35:\"CreatePublicVirtualInterfaceRequest\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:12:\"connectionId\";i:1;s:25:\"newPublicVirtualInterface\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"connectionId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ConnectionId\";}s:25:\"newPublicVirtualInterface\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/NewPublicVirtualInterface\";s:11:\"description\";s:96:\"<p>Detailed
  information for the public virtual interface to be created.</p> <p>Default: None</p>\";}}s:11:\"description\";s:75:\"Container
  for the parameters to the CreatePublicVirtualInterface operation.\";}s:15:\"CustomerAddress\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:103:\"<p>IP
  address assigned to the customer interface.</p> <p>Example: 192.168.1.2/30 or 2001:db8::2/125</p>\";}s:20:\"DeleteBGPPeerRequest\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:18:\"virtualInterfaceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/VirtualInterfaceId\";s:11:\"description\";s:131:\"<p>The
  ID of the virtual interface from which the BGP peer will be deleted.</p> <p>Example:
  dxvif-456abc78</p> <p>Default: None</p>\";}s:3:\"asn\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/ASN\";}s:15:\"customerAddress\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/CustomerAddress\";}}s:11:\"description\";s:60:\"Container
  for the parameters to the DeleteBGPPeer operation.\";}s:21:\"DeleteBGPPeerResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"virtualInterface\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/VirtualInterface\";}}s:11:\"description\";s:51:\"The
  response received when DeleteBGPPeer is called.\";}s:23:\"DeleteConnectionRequest\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:12:\"connectionId\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"connectionId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ConnectionId\";}}s:11:\"description\";s:63:\"Container
  for the parameters to the DeleteConnection operation.\";}s:25:\"DeleteInterconnectRequest\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:14:\"interconnectId\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"interconnectId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/InterconnectId\";}}s:11:\"description\";s:65:\"Container
  for the parameters to the DeleteInterconnect operation.\";}s:26:\"DeleteInterconnectResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"interconnectState\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/InterconnectState\";}}s:11:\"description\";s:56:\"The
  response received when DeleteInterconnect is called.\";}s:16:\"DeleteLagRequest\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:5:\"lagId\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"lagId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/LagId\";s:11:\"description\";s:85:\"<p>The
  ID of the LAG to delete.</p> <p>Example: dxlag-abc123</p> <p>Default: None</p>\";}}s:11:\"description\";s:56:\"Container
  for the parameters to the DeleteLag operation.\";}s:29:\"DeleteVirtualInterfaceRequest\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:18:\"virtualInterfaceId\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:18:\"virtualInterfaceId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/VirtualInterfaceId\";}}s:11:\"description\";s:69:\"Container
  for the parameters to the DeleteVirtualInterface operation.\";}s:30:\"DeleteVirtualInterfaceResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:21:\"virtualInterfaceState\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/VirtualInterfaceState\";}}s:11:\"description\";s:60:\"The
  response received when DeleteVirtualInterface is called.\";}s:28:\"DescribeConnectionLoaRequest\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:12:\"connectionId\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"connectionId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ConnectionId\";}s:12:\"providerName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ProviderName\";s:11:\"description\";s:253:\"<p>The
  name of the APN partner or service provider who establishes connectivity on your
  behalf. If you supply this parameter, the LOA-CFA lists the provider name alongside
  your company name as the requester of the cross connect.</p> <p>Default: None</p>\";}s:14:\"loaContentType\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/LoaContentType\";}}s:11:\"description\";s:68:\"Container
  for the parameters to the DescribeConnectionLoa operation.\";}s:29:\"DescribeConnectionLoaResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"loa\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Loa\";}}s:11:\"description\";s:59:\"The
  response received when DescribeConnectionLoa is called.\";}s:40:\"DescribeConnectionsOnInterconnectRequest\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:14:\"interconnectId\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"interconnectId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/InterconnectId\";s:11:\"description\";s:125:\"<p>ID
  of the interconnect on which a list of connection is provisioned.</p> <p>Example:
  dxcon-abc123</p> <p>Default: None</p>\";}}s:11:\"description\";s:80:\"Container
  for the parameters to the DescribeConnectionsOnInterconnect operation.\";}s:26:\"DescribeConnectionsRequest\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"connectionId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ConnectionId\";}}s:11:\"description\";s:66:\"Container
  for the parameters to the DescribeConnections operation.\";}s:32:\"DescribeHostedConnectionsRequest\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:12:\"connectionId\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"connectionId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ConnectionId\";s:11:\"description\";s:155:\"<p>The
  ID of the interconnect or LAG on which the hosted connections are provisioned.</p>
  <p>Example: dxcon-abc123 or dxlag-abc123</p> <p>Default: None</p>\";}}s:11:\"description\";s:72:\"Container
  for the parameters to the DescribeHostedConnections operation.\";}s:30:\"DescribeInterconnectLoaRequest\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:14:\"interconnectId\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"interconnectId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/InterconnectId\";}s:12:\"providerName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ProviderName\";s:11:\"description\";s:238:\"<p>The
  name of the service provider who establishes connectivity on your behalf. If you
  supply this parameter, the LOA-CFA lists the provider name alongside your company
  name as the requester of the cross connect.</p> <p>Default: None</p>\";}s:14:\"loaContentType\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/LoaContentType\";}}s:11:\"description\";s:70:\"Container
  for the parameters to the DescribeInterconnectLoa operation.\";}s:31:\"DescribeInterconnectLoaResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"loa\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Loa\";}}s:11:\"description\";s:61:\"The
  response received when DescribeInterconnectLoa is called.\";}s:28:\"DescribeInterconnectsRequest\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"interconnectId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/InterconnectId\";}}s:11:\"description\";s:68:\"Container
  for the parameters to the DescribeInterconnects operation.\";}s:19:\"DescribeLagsRequest\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"lagId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/LagId\";s:11:\"description\";s:75:\"<p>The
  ID of the LAG.</p> <p>Example: dxlag-abc123</p> <p>Default: None</p>\";}}s:11:\"description\";s:59:\"Container
  for the parameters to the DescribeLags operation.\";}s:18:\"DescribeLoaRequest\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:12:\"connectionId\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"connectionId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ConnectionId\";s:11:\"description\";s:159:\"<p>The
  ID of a connection, LAG, or interconnect for which to get the LOA-CFA information.</p>
  <p>Example: dxcon-abc123 or dxlag-abc123</p> <p>Default: None</p>\";}s:12:\"providerName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ProviderName\";s:11:\"description\";s:238:\"<p>The
  name of the service provider who establishes connectivity on your behalf. If you
  supply this parameter, the LOA-CFA lists the provider name alongside your company
  name as the requester of the cross connect.</p> <p>Default: None</p>\";}s:14:\"loaContentType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/LoaContentType\";s:11:\"description\";s:171:\"<p>A
  standard media type indicating the content type of the LOA-CFA document. Currently,
  the only supported value is \"application/pdf\".</p> <p>Default: application/pdf</p>\";}}s:11:\"description\";s:58:\"Container
  for the parameters to the DescribeLoa operation.\";}s:19:\"DescribeTagsRequest\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:12:\"resourceArns\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"resourceArns\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ResourceArnList\";s:11:\"description\";s:65:\"The
  Amazon Resource Names (ARNs) of the Direct Connect resources.\";}}s:11:\"description\";s:59:\"Container
  for the parameters to the DescribeTags operation.\";}s:20:\"DescribeTagsResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"resourceTags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ResourceTagList\";s:11:\"description\";s:27:\"Information
  about the tags.\";}}s:11:\"description\";s:50:\"The response received when DescribeTags
  is called.\";}s:32:\"DescribeVirtualInterfacesRequest\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"connectionId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ConnectionId\";}s:18:\"virtualInterfaceId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/VirtualInterfaceId\";}}s:11:\"description\";s:72:\"Container
  for the parameters to the DescribeVirtualInterfaces operation.\";}s:28:\"DirectConnectClientException\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";s:11:\"description\";s:343:\"This
  is an exception thrown when there is an issue with the input provided by the API
  call. For example, the name provided for a connection contains a pound sign (#).
  This can also occur when a valid value is provided, but is otherwise constrained.
  For example, the valid VLAN tag range is 1-4096 but each can only be used once per
  connection.\";}}s:11:\"description\";s:110:\"The API was called with invalid parameters.
  The error message will contain additional details about the cause.\";}s:28:\"DirectConnectServerException\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";s:11:\"description\";s:77:\"This
  is an exception thrown when there is a backend issue on the server side.\";}}s:11:\"description\";s:116:\"A
  server-side error occurred during the API call. The error message will contain additional
  details about the cause.\";}s:36:\"DisassociateConnectionFromLagRequest\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:12:\"connectionId\";i:1;s:5:\"lagId\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"connectionId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ConnectionId\";s:11:\"description\";s:111:\"<p>The
  ID of the connection to disassociate from the LAG.</p> <p>Example: dxcon-abc123</p>
  <p>Default: None</p>\";}s:5:\"lagId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/LagId\";s:11:\"description\";s:75:\"<p>The
  ID of the LAG.</p> <p>Example: dxlag-abc123</p> <p>Default: None</p>\";}}s:11:\"description\";s:76:\"Container
  for the parameters to the DisassociateConnectionFromLag operation.\";}s:25:\"DuplicateTagKeysException\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:11:\"description\";s:39:\"A
  tag key was specified more than once.\";}s:12:\"ErrorMessage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"Interconnect\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:14:\"interconnectId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/InterconnectId\";}s:16:\"interconnectName\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/InterconnectName\";}s:17:\"interconnectState\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/InterconnectState\";}s:6:\"region\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Region\";}s:8:\"location\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/LocationCode\";}s:9:\"bandwidth\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Bandwidth\";}s:12:\"loaIssueTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/LoaIssueTime\";s:11:\"description\";s:82:\"The
  time of the most recent call to DescribeInterconnectLoa for this Interconnect.\";}s:5:\"lagId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/LagId\";}s:9:\"awsDevice\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/AwsDevice\";s:11:\"description\";s:75:\"The
  Direct Connection endpoint which the physical connection terminates on.\";}}s:11:\"description\";s:692:\"<p>An
  interconnect is a connection that can host other connections.</p> <p>Like a standard
  AWS Direct Connect connection, an interconnect represents the physical connection
  between an AWS Direct Connect partner's network and a specific Direct Connect location.
  An AWS Direct Connect partner who owns an interconnect can provision hosted connections
  on the interconnect for their end customers, thereby providing the end customers
  with connectivity to AWS services.</p> <p>The resources of the interconnect, including
  bandwidth and VLAN numbers, are shared by all of the hosted connections on the interconnect,
  and the owner of the interconnect determines how these resources are assigned.</p>\";}s:14:\"InterconnectId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:63:\"<p>The
  ID of the interconnect.</p> <p>Example: dxcon-abc123</p>\";}s:16:\"InterconnectList\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:24:\"A
  list of interconnects.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/Interconnect\";}}s:16:\"InterconnectName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:84:\"<p>The
  name of the interconnect.</p> <p>Example: \"<i>1G Interconnect to AWS</i>\"</p>\";}s:17:\"InterconnectState\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:6:{i:0;s:9:\"requested\";i:1;s:7:\"pending\";i:2;s:9:\"available\";i:3;s:4:\"down\";i:4;s:8:\"deleting\";i:5;s:7:\"deleted\";}s:11:\"description\";s:644:\"<p>State
  of the interconnect.</p> <ul> <li> <p> <b>Requested</b>: The initial state of an
  interconnect. The interconnect stays in the requested state until the Letter of
  Authorization (LOA) is sent to the customer.</p> </li> <li> <p> <b>Pending</b>:
  The interconnect has been approved, and is being initialized.</p> </li> <li> <p>
  <b>Available</b>: The network link is up, and the interconnect is ready for use.</p>
  </li> <li> <p> <b>Down</b>: The network link is down.</p> </li> <li> <p> <b>Deleting</b>:
  The interconnect is in the process of being deleted.</p> </li> <li> <p> <b>Deleted</b>:
  The interconnect has been deleted.</p> </li> </ul>\";}s:13:\"Interconnects\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"interconnects\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/InterconnectList\";s:11:\"description\";s:24:\"A
  list of interconnects.\";}}s:11:\"description\";s:47:\"A structure containing a
  list of interconnects.\";}s:3:\"Lag\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:20:\"connectionsBandwidth\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Bandwidth\";s:11:\"description\";s:118:\"<p>The
  individual bandwidth of the physical connections bundled by the LAG.</p> <p>Available
  values: 1Gbps, 10Gbps</p>\";}s:19:\"numberOfConnections\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Count\";s:11:\"description\";s:77:\"The
  number of physical connections bundled by the LAG, up to a maximum of 10.\";}s:5:\"lagId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/LagId\";}s:12:\"ownerAccount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/OwnerAccount\";s:11:\"description\";s:21:\"The
  owner of the LAG.\";}s:7:\"lagName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/LagName\";s:11:\"description\";s:20:\"The
  name of the LAG.\";}s:8:\"lagState\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/LagState\";}s:8:\"location\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/LocationCode\";}s:6:\"region\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Region\";}s:12:\"minimumLinks\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Count\";s:11:\"description\";s:337:\"The
  minimum number of physical connections that must be operational for the LAG itself
  to be operational. If the number of operational connections drops below this setting,
  the LAG state changes to <code>down</code>. This value can help to ensure that a
  LAG is not overutilized if a significant number of its bundled connections go down.\";}s:9:\"awsDevice\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/AwsDevice\";s:11:\"description\";s:54:\"The
  AWS Direct Connection endpoint that hosts the LAG.\";}s:11:\"connections\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ConnectionList\";s:11:\"description\";s:42:\"A
  list of connections bundled by this LAG.\";}s:23:\"allowsHostedConnections\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/BooleanFlag\";s:11:\"description\";s:144:\"<p>Indicates
  whether the LAG can host other connections.</p> <note> <p>This is intended for use
  by AWS Direct Connect partners only.</p> </note>\";}}s:11:\"description\";s:350:\"Describes
  a link aggregation group (LAG). A LAG is a connection that uses the Link Aggregation
  Control Protocol (LACP) to logically aggregate a bundle of physical connections.
  Like an interconnect, it can host other connections. All connections in a LAG must
  terminate on the same physical AWS Direct Connect endpoint, and must be the same
  bandwidth.\";}s:5:\"LagId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:56:\"<p>The
  ID of the LAG.</p> <p>Example: dxlag-fg5678gh</p>\";}s:7:\"LagList\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:15:\"A
  list of LAGs.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Lag\";}}s:7:\"LagName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"LagState\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:6:{i:0;s:9:\"requested\";i:1;s:7:\"pending\";i:2;s:9:\"available\";i:3;s:4:\"down\";i:4;s:8:\"deleting\";i:5;s:7:\"deleted\";}s:11:\"description\";s:582:\"<p>The
  state of the LAG.</p> <ul> <li> <p> <b>Requested</b>: The initial state of a LAG.
  The LAG stays in the requested state until the Letter of Authorization (LOA) is
  available.</p> </li> <li> <p> <b>Pending</b>: The LAG has been approved, and is
  being initialized.</p> </li> <li> <p> <b>Available</b>: The network link is established,
  and the LAG is ready for use.</p> </li> <li> <p> <b>Down</b>: The network link is
  down.</p> </li> <li> <p> <b>Deleting</b>: The LAG is in the process of being deleted.</p>
  </li> <li> <p> <b>Deleted</b>: The LAG has been deleted.</p> </li> </ul>\";}s:4:\"Lags\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"lags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/LagList\";s:11:\"description\";s:15:\"A
  list of LAGs.\";}}s:11:\"description\";s:38:\"A structure containing a list of LAGs.\";}s:3:\"Loa\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"loaContent\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/LoaContent\";}s:14:\"loaContentType\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/LoaContentType\";}}s:11:\"description\";s:111:\"A
  structure containing the Letter of Authorization - Connecting Facility Assignment
  (LOA-CFA) for a connection.\";}s:10:\"LoaContent\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  binary contents of the LOA-CFA document.\";}s:14:\"LoaContentType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:1:{i:0;s:15:\"application/pdf\";}s:11:\"description\";s:171:\"<p>A
  standard media type indicating the content type of the LOA-CFA document. Currently,
  the only supported value is \"application/pdf\".</p> <p>Default: application/pdf</p>\";}s:12:\"LoaIssueTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:8:\"Location\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"locationCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/LocationCode\";s:11:\"description\";s:58:\"The
  code used to indicate the AWS Direct Connect location.\";}}s:11:\"description\";s:84:\"An
  AWS Direct Connect location where connections and interconnects can be requested.\";}s:12:\"LocationCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:82:\"<p>Where
  the connection is located.</p> <p>Example: EqSV5</p> <p>Default: None</p>\";}s:12:\"LocationList\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Location\";}}s:12:\"LocationName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"Locations\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"locations\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/LocationList\";s:11:\"description\";s:113:\"A
  list of colocation hubs where network providers have equipment. Most regions have
  multiple locations available.\";}}s:11:\"description\";s:314:\"A location is a network
  facility where AWS Direct Connect routers are available to be connected. Generally,
  these are colocation hubs where many network providers have equipment, and where
  cross connects can be delivered. Locations include a name and facility code, and
  must be provided when creating a connection.\";}s:10:\"NewBGPPeer\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:3:\"asn\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/ASN\";}s:7:\"authKey\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/BGPAuthKey\";}s:13:\"addressFamily\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/AddressFamily\";}s:13:\"amazonAddress\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/AmazonAddress\";}s:15:\"customerAddress\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/CustomerAddress\";}}s:11:\"description\";s:56:\"A
  structure containing information about a new BGP peer.\";}s:26:\"NewPrivateVirtualInterface\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:4:{i:0;s:20:\"virtualInterfaceName\";i:1;s:4:\"vlan\";i:2;s:3:\"asn\";i:3;s:16:\"virtualGatewayId\";}s:10:\"properties\";O:8:\"stdClass\":8:{s:20:\"virtualInterfaceName\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/VirtualInterfaceName\";}s:4:\"vlan\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/VLAN\";}s:3:\"asn\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/ASN\";}s:7:\"authKey\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/BGPAuthKey\";}s:13:\"amazonAddress\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/AmazonAddress\";}s:15:\"customerAddress\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/CustomerAddress\";}s:13:\"addressFamily\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/AddressFamily\";}s:16:\"virtualGatewayId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/VirtualGatewayId\";}}s:11:\"description\";s:73:\"A
  structure containing information about a new private virtual interface.\";}s:36:\"NewPrivateVirtualInterfaceAllocation\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:20:\"virtualInterfaceName\";i:1;s:4:\"vlan\";i:2;s:3:\"asn\";}s:10:\"properties\";O:8:\"stdClass\":7:{s:20:\"virtualInterfaceName\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/VirtualInterfaceName\";}s:4:\"vlan\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/VLAN\";}s:3:\"asn\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/ASN\";}s:7:\"authKey\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/BGPAuthKey\";}s:13:\"amazonAddress\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/AmazonAddress\";}s:13:\"addressFamily\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/AddressFamily\";}s:15:\"customerAddress\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/CustomerAddress\";}}s:11:\"description\";s:110:\"A
  structure containing information about a private virtual interface that will be
  provisioned on a connection.\";}s:25:\"NewPublicVirtualInterface\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:20:\"virtualInterfaceName\";i:1;s:4:\"vlan\";i:2;s:3:\"asn\";}s:10:\"properties\";O:8:\"stdClass\":8:{s:20:\"virtualInterfaceName\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/VirtualInterfaceName\";}s:4:\"vlan\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/VLAN\";}s:3:\"asn\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/ASN\";}s:7:\"authKey\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/BGPAuthKey\";}s:13:\"amazonAddress\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/AmazonAddress\";}s:15:\"customerAddress\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/CustomerAddress\";}s:13:\"addressFamily\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/AddressFamily\";}s:19:\"routeFilterPrefixes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/RouteFilterPrefixList\";}}s:11:\"description\";s:72:\"A
  structure containing information about a new public virtual interface.\";}s:35:\"NewPublicVirtualInterfaceAllocation\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:20:\"virtualInterfaceName\";i:1;s:4:\"vlan\";i:2;s:3:\"asn\";}s:10:\"properties\";O:8:\"stdClass\":8:{s:20:\"virtualInterfaceName\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/VirtualInterfaceName\";}s:4:\"vlan\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/VLAN\";}s:3:\"asn\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/ASN\";}s:7:\"authKey\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/BGPAuthKey\";}s:13:\"amazonAddress\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/AmazonAddress\";}s:15:\"customerAddress\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/CustomerAddress\";}s:13:\"addressFamily\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/AddressFamily\";}s:19:\"routeFilterPrefixes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/RouteFilterPrefixList\";}}s:11:\"description\";s:109:\"A
  structure containing information about a public virtual interface that will be provisioned
  on a connection.\";}s:12:\"OwnerAccount\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"PartnerName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"ProviderName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Region\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:101:\"<p>The
  AWS region where the connection is located.</p> <p>Example: us-east-1</p> <p>Default:
  None</p>\";}s:11:\"ResourceArn\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"ResourceArnList\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ResourceArn\";}}s:11:\"ResourceTag\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"resourceArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ResourceArn\";s:11:\"description\";s:62:\"The
  Amazon Resource Name (ARN) of the Direct Connect resource.\";}s:4:\"tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/TagList\";s:11:\"description\";s:9:\"The
  tags.\";}}s:11:\"description\";s:51:\"The tags associated with a Direct Connect
  resource.\";}s:15:\"ResourceTagList\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ResourceTag\";}}s:17:\"RouteFilterPrefix\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"cidr\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/CIDR\";s:11:\"description\";s:197:\"<p>CIDR
  notation for the advertised route. Multiple routes are separated by commas.</p>
  <p>IPv6 CIDRs must be at least a /64 or shorter</p> <p>Example: 10.10.10.0/24,10.10.11.0/24,2001:db8::/64</p>\";}}s:11:\"description\";s:124:\"A
  route filter prefix that the customer can advertise through Border Gateway Protocol
  (BGP) over a public virtual interface.\";}s:21:\"RouteFilterPrefixList\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:95:\"A
  list of routes to be advertised to the AWS network in this region (public virtual
  interface).\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/RouteFilterPrefix\";}}s:12:\"RouterConfig\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"Tag\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:3:\"key\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/TagKey\";s:11:\"description\";s:19:\"The
  key of the tag.\";}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/TagValue\";s:11:\"description\";s:21:\"The
  value of the tag.\";}}s:11:\"description\";s:24:\"Information about a tag.\";}s:6:\"TagKey\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:7:\"pattern\";s:31:\"^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:128;}s:10:\"TagKeyList\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/TagKey\";}}s:7:\"TagList\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Tag\";}s:8:\"minItems\";i:1;}s:18:\"TagResourceRequest\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:11:\"resourceArn\";i:1;s:4:\"tags\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"resourceArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ResourceArn\";s:11:\"description\";s:151:\"<p>The
  Amazon Resource Name (ARN) of the Direct Connect resource.</p> <p>Example: arn:aws:directconnect:us-east-1:123456789012:dxcon/dxcon-fg5678gh</p>\";}s:4:\"tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/TagList\";s:11:\"description\";s:24:\"The
  list of tags to add.\";}}s:11:\"description\";s:58:\"Container for the parameters
  to the TagResource operation.\";}s:19:\"TagResourceResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:11:\"description\";s:49:\"The
  response received when TagResource is called.\";}s:8:\"TagValue\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:7:\"pattern\";s:31:\"^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$\";s:9:\"minLength\";i:0;s:9:\"maxLength\";i:256;}s:20:\"TooManyTagsException\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:11:\"description\";s:99:\"You
  have reached the limit on the number of tags that can be assigned to a Direct Connect
  resource.\";}s:20:\"UntagResourceRequest\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:11:\"resourceArn\";i:1;s:7:\"tagKeys\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"resourceArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ResourceArn\";s:11:\"description\";s:62:\"The
  Amazon Resource Name (ARN) of the Direct Connect resource.\";}s:7:\"tagKeys\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/TagKeyList\";s:11:\"description\";s:31:\"The
  list of tag keys to remove.\";}}s:11:\"description\";s:60:\"Container for the parameters
  to the UntagResource operation.\";}s:21:\"UntagResourceResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:11:\"description\";s:51:\"The
  response received when UntagResource is called.\";}s:16:\"UpdateLagRequest\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:5:\"lagId\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"lagId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/LagId\";s:11:\"description\";s:85:\"<p>The
  ID of the LAG to update.</p> <p>Example: dxlag-abc123</p> <p>Default: None</p>\";}s:7:\"lagName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/LagName\";s:11:\"description\";s:97:\"<p>The
  name for the LAG.</p> <p>Example: \"<code>3x10G LAG to AWS</code>\"</p> <p>Default:
  None</p>\";}s:12:\"minimumLinks\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Count\";s:11:\"description\";s:133:\"<p>The
  minimum number of physical connections that must be operational for the LAG itself
  to be operational.</p> <p>Default: None</p>\";}}s:11:\"description\";s:56:\"Container
  for the parameters to the UpdateLag operation.\";}s:4:\"VLAN\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:39:\"<p>The
  VLAN ID.</p> <p>Example: 101</p>\";}s:14:\"VirtualGateway\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"virtualGatewayId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/VirtualGatewayId\";}s:19:\"virtualGatewayState\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/VirtualGatewayState\";}}s:11:\"description\";s:379:\"<p>You
  can create one or more AWS Direct Connect private virtual interfaces linking to
  your virtual private gateway.</p> <p>Virtual private gateways can be managed using
  the Amazon Virtual Private Cloud (Amazon VPC) console or the <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/APIReference/ApiReference-query-CreateVpnGateway.html\">Amazon
  EC2 CreateVpnGateway action</a>.</p>\";}s:16:\"VirtualGatewayId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:131:\"<p>The
  ID of the virtual private gateway to a VPC. This only applies to private virtual
  interfaces.</p> <p>Example: vgw-123er56</p>\";}s:18:\"VirtualGatewayList\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:35:\"A
  list of virtual private gateways.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/VirtualGateway\";}}s:19:\"VirtualGatewayState\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:462:\"<p>State
  of the virtual private gateway.</p> <ul> <li> <p> <b>Pending</b>: This is the initial
  state after calling <i>CreateVpnGateway</i>.</p> </li> <li> <p> <b>Available</b>:
  Ready for use by a private virtual interface.</p> </li> <li> <p> <b>Deleting</b>:
  This is the initial state after calling <i>DeleteVpnGateway</i>.</p> </li> <li>
  <p> <b>Deleted</b>: In this state, a private virtual interface is unable to send
  traffic over this gateway.</p> </li> </ul>\";}s:15:\"VirtualGateways\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"virtualGateways\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/VirtualGatewayList\";s:11:\"description\";s:35:\"A
  list of virtual private gateways.\";}}s:11:\"description\";s:58:\"A structure containing
  a list of virtual private gateways.\";}s:16:\"VirtualInterface\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":17:{s:12:\"ownerAccount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/OwnerAccount\";s:11:\"description\";s:56:\"The
  AWS account that will own the new virtual interface.\";}s:18:\"virtualInterfaceId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/VirtualInterfaceId\";}s:8:\"location\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/LocationCode\";}s:12:\"connectionId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ConnectionId\";}s:20:\"virtualInterfaceType\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/VirtualInterfaceType\";}s:20:\"virtualInterfaceName\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/VirtualInterfaceName\";}s:4:\"vlan\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/VLAN\";}s:3:\"asn\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/ASN\";}s:7:\"authKey\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/BGPAuthKey\";}s:13:\"amazonAddress\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/AmazonAddress\";}s:15:\"customerAddress\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/CustomerAddress\";}s:13:\"addressFamily\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/AddressFamily\";}s:21:\"virtualInterfaceState\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/VirtualInterfaceState\";}s:20:\"customerRouterConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/RouterConfig\";s:11:\"description\";s:61:\"Information
  for generating the customer router configuration.\";}s:16:\"virtualGatewayId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/VirtualGatewayId\";}s:19:\"routeFilterPrefixes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/RouteFilterPrefixList\";}s:8:\"bgpPeers\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/BGPPeerList\";}}s:11:\"description\";s:106:\"A
  virtual interface (VLAN) transmits the traffic between the AWS Direct Connect location
  and the customer.\";}s:18:\"VirtualInterfaceId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:91:\"<p>The
  ID of the virtual interface.</p> <p>Example: dxvif-123dfg56</p> <p>Default: None</p>\";}s:20:\"VirtualInterfaceList\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:29:\"A
  list of virtual interfaces.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/VirtualInterface\";}}s:20:\"VirtualInterfaceName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:91:\"<p>The
  name of the virtual interface assigned by the customer.</p> <p>Example: \"My VPC\"</p>\";}s:21:\"VirtualInterfaceState\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:8:{i:0;s:10:\"confirming\";i:1;s:9:\"verifying\";i:2;s:7:\"pending\";i:3;s:9:\"available\";i:4;s:4:\"down\";i:5;s:8:\"deleting\";i:6;s:7:\"deleted\";i:7;s:8:\"rejected\";}s:11:\"description\";s:1419:\"<p>State
  of the virtual interface.</p> <ul> <li> <p> <b>Confirming</b>: The creation of the
  virtual interface is pending confirmation from the virtual interface owner. If the
  owner of the virtual interface is different from the owner of the connection on
  which it is provisioned, then the virtual interface will remain in this state until
  it is confirmed by the virtual interface owner.</p> </li> <li> <p> <b>Verifying</b>:
  This state only applies to public virtual interfaces. Each public virtual interface
  needs validation before the virtual interface can be created.</p> </li> <li> <p>
  <b>Pending</b>: A virtual interface is in this state from the time that it is created
  until the virtual interface is ready to forward traffic.</p> </li> <li> <p> <b>Available</b>:
  A virtual interface that is able to forward traffic.</p> </li> <li> <p> <b>Down</b>:
  A virtual interface that is BGP down.</p> </li> <li> <p> <b>Deleting</b>: A virtual
  interface is in this state immediately after calling <a>DeleteVirtualInterface</a>
  until it can no longer forward traffic.</p> </li> <li> <p> <b>Deleted</b>: A virtual
  interface that cannot forward traffic.</p> </li> <li> <p> <b>Rejected</b>: The virtual
  interface owner has declined creation of the virtual interface. If a virtual interface
  in the 'Confirming' state is deleted by the virtual interface owner, the virtual
  interface will enter the 'Rejected' state.</p> </li> </ul>\";}s:20:\"VirtualInterfaceType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:125:\"<p>The
  type of virtual interface.</p> <p>Example: private (Amazon VPC) or public (Amazon
  S3, Amazon DynamoDB, and so on.)</p>\";}s:17:\"VirtualInterfaces\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"virtualInterfaces\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/VirtualInterfaceList\";s:11:\"description\";s:29:\"A
  list of virtual interfaces.\";}}s:11:\"description\";s:52:\"A structure containing
  a list of virtual interfaces.\";}}"
...
