---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":6:{s:11:\"description\";s:17:\"Bias removing api\";s:7:\"version\";s:5:\"1.0.0\";s:5:\"title\";s:24:\"Nearly
  Nameless Nick API\";s:14:\"termsOfService\";s:24:\"http://swagger.io/terms/\";s:7:\"contact\";O:8:\"stdClass\":1:{s:5:\"email\";s:18:\"apiteam@swagger.io\";}s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:10:\"Apache
  2.0\";s:3:\"url\";s:47:\"http://www.apache.org/licenses/LICENSE-2.0.html\";}}"
host: nnn.mediaiqdigital.com
basePath: /v1
paths:
  /resume:
    post:
      tags:
      - resume
      summary: Remove bias from a resume
      description: ""
      operationId: unbiasResume
      consumes:
      - multipart/form-data
      produces:
      - application/json
      parameters:
      - in: formData
        name: upfile
        type: file
        description: The file to upload.
      responses:
        200:
          description: Unbiased resume
          schema:
            $ref: '#/definitions/Resume'
        400:
          description: Invalid input
  /diversity_score:
    post:
      tags:
      - diversity
      summary: Get diversity score
      description: Measure how a candidate can make your team more divers
      operationId: measureResume
      consumes:
      - multipart/form-data
      produces:
      - application/json
      parameters:
      - in: formData
        name: upfile
        type: file
        description: The file to upload.
      responses:
        200:
          description: Get diversity score
          schema:
            $ref: '#/definitions/DiversityScore'
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":3:{s:6:\"Resume\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:6:\"skills\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:10:\"experience\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:9:\"education\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:14:\"DiversityScore\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"candidate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"personality\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:25:\"#/definitions/Personality\";}}}s:4:\"team\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"personality\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:25:\"#/definitions/Personality\";}}}}}}s:11:\"Personality\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"dominance\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:10:\"steadiness\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:17:\"conscientiousness\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"influence\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}}}"
...
