---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":2:{s:5:\"title\";s:8:\"Contacts\";s:7:\"version\";s:3:\"1.6\";}"
host: graph.windows.net
basePath: /myorganization
paths:
  /contacts:
    get:
      parameters:
      - in: query
        description: 'The version of the Graph API to target. Beginning with version
          1.5, the api-version string is represented in major.minor format. Prior
          releases were represented as date strings: ''2013-11-08'' and ''2013-04-05''.
          Required.'
        name: api-version
        required: true
        type: string
        enum:
        - "1.5"
        - "1.6"
        default: "1.6"
      responses:
        200:
          description: OK. Indicates success. The results are returned in the response
            body.
          examples:
            application/json:
              odata.metadata: https://graph.windows.net/myorganization/$metadata#directoryObjects/Microsoft.DirectoryServices.Contact
              value:
              - odata.type: Microsoft.DirectoryServices.Contact
                objectType: Contact
                objectId: 31944231-fd52-4a7f-b32e-7902a01fddf9
                deletionTimestamp: ~
                city: ~
                companyName: ~
                country: ~
                department: ~
                dirSyncEnabled: ~
                displayName: Marcus Breyer
                facsimileTelephoneNumber: ~
                givenName: Marcus
                jobTitle: ~
                lastDirSyncTime: ~
                mail: Marcus@contoso.com
                mailNickname: MarcusBreyer
                mobile: ~
                physicalDeliveryOfficeName: ~
                postalCode: ~
                provisioningErrors: []
                proxyAddresses:
                - SMTP:Marcus@contoso.com
                sipProxyAddress: ~
                state: ~
                streetAddress: ~
                surname: Breyer
                telephoneNumber: ~
              - odata.type: Microsoft.DirectoryServices.Contact
                objectType: Contact
                objectId: 35110b16-360c-4c4a-93b2-03f065fabd93
                deletionTimestamp: ~
                city: ~
                companyName: ~
                country: ~
                department: ~
                dirSyncEnabled: ~
                displayName: Yossi Ran
                facsimileTelephoneNumber: ~
                givenName: Yossi
                jobTitle: ~
                lastDirSyncTime: ~
                mail: Yossi@contoso.com
                mailNickname: YossiRan
                mobile: ~
                physicalDeliveryOfficeName: ~
                postalCode: ~
                provisioningErrors: []
                proxyAddresses:
                - SMTP:Yossi@contoso.com
                sipProxyAddress: ~
                state: ~
                streetAddress: ~
                surname: Ran
                telephoneNumber: ~
              - odata.type: Microsoft.DirectoryServices.Contact
                objectType: Contact
                objectId: 7163f3b8-70c9-43d2-b9e1-4467ddaf087a
                deletionTimestamp: ~
                city: ~
                companyName: ~
                country: ~
                department: ~
                dirSyncEnabled: ~
                displayName: Jeremy Nelson
                facsimileTelephoneNumber: ~
                givenName: Jeremy
                jobTitle: ~
                lastDirSyncTime: ~
                mail: Jeremy@contoso.com
                mailNickname: JeremyNelson
                mobile: ~
                physicalDeliveryOfficeName: ~
                postalCode: ~
                provisioningErrors: []
                proxyAddresses:
                - SMTP:Jeremy@contoso.com
                sipProxyAddress: ~
                state: ~
                streetAddress: ~
                surname: Nelson
                telephoneNumber: ~
              - odata.type: Microsoft.DirectoryServices.Contact
                objectType: Contact
                objectId: 83234b5c-3a10-4108-8f36-39b1addadfdb
                deletionTimestamp: ~
                city: ~
                companyName: ~
                country: ~
                department: ~
                dirSyncEnabled: ~
                displayName: David Strome
                facsimileTelephoneNumber: ~
                givenName: David
                jobTitle: ~
                lastDirSyncTime: ~
                mail: David@contoso.com
                mailNickname: DavidStrome
                mobile: ~
                physicalDeliveryOfficeName: ~
                postalCode: ~
                provisioningErrors: []
                proxyAddresses:
                - SMTP:David@contoso.com
                sipProxyAddress: ~
                state: ~
                streetAddress: ~
                surname: Strome
                telephoneNumber: ~
              - odata.type: Microsoft.DirectoryServices.Contact
                objectType: Contact
                objectId: 8c1315ce-bf6f-4e26-b24f-c830606ef41c
                deletionTimestamp: ~
                city: ~
                companyName: ~
                country: ~
                department: ~
                dirSyncEnabled: ~
                displayName: Holly Holt
                facsimileTelephoneNumber: ~
                givenName: Holly
                jobTitle: ~
                lastDirSyncTime: ~
                mail: Holly@contoso.com
                mailNickname: HollyHolt
                mobile: ~
                physicalDeliveryOfficeName: ~
                postalCode: ~
                provisioningErrors: []
                proxyAddresses:
                - SMTP:Holly@contoso.com
                sipProxyAddress: ~
                state: ~
                streetAddress: ~
                surname: Holt
                telephoneNumber: ~
      description: '<p><i>Required scope</i>: <b><i>Contacts.Read</i></b> or <b><i>Contacts.Write</i></b></p>'
      summary: You can get a collection of contacts from your tenant.
      operationId: get contacts
  /contacts/{object_id}:
    get:
      parameters:
      - in: path
        description: The object ID (GUID) of the target contact.
        name: object_id
        required: true
        type: string
        default: 31944231-fd52-4a7f-b32e-7902a01fddf9
      - in: query
        description: 'Specifies the version of the Graph API to target. Beginning
          with version 1.5, the api-version string is represented in major.minor format.
          Prior releases were represented as date strings: ''2013-11-08'' and ''2013-04-05''.
          Required.'
        name: api-version
        required: true
        type: string
        enum:
        - "1.5"
        - "1.6"
        default: "1.6"
      responses:
        200:
          description: OK. Indicates success. The contact is returned in the response
            body.
          examples:
            application/json:
              odata.metadata: https://graph.windows.net/graphdir1.onmicrosoft.com/$metadata#directoryObjects/Microsoft.DirectoryServices.Contact/@Element
              odata.type: Microsoft.DirectoryServices.Contact
              objectType: Contact
              objectId: 31944231-fd52-4a7f-b32e-7902a01fddf9
              deletionTimestamp: ~
              city: ~
              companyName: ~
              country: ~
              department: ~
              dirSyncEnabled: ~
              displayName: Marcus Breyer
              facsimileTelephoneNumber: ~
              givenName: Marcus
              jobTitle: ~
              lastDirSyncTime: ~
              mail: Marcus@contoso.com
              mailNickname: MarcusBreyer
              mobile: ~
              physicalDeliveryOfficeName: ~
              postalCode: ~
              provisioningErrors: []
              proxyAddresses:
              - SMTP:Marcus@contoso.com
              sipProxyAddress: ~
              state: ~
              streetAddress: ~
              surname: Breyer
              telephoneNumber: ~
      description: '<p><i>Required scope</i>: <b><i>Contacts.Read</i></b> or <b><i>Contacts.Write</i></b></p>'
      summary: Get a contact by using the object ID.
      operationId: get contact by id
    patch:
      parameters:
      - in: path
        description: The object ID (GUID) of the target contact.
        name: object_id
        required: true
        type: string
        default: 7163f3b8-70c9-43d2-b9e1-4467ddaf087a
      - in: query
        description: 'The version of the Graph API to target. Beginning with version
          1.5, the api-version string is represented in major.minor format. Prior
          releases were represented as date strings: ''2013-11-08'' and ''2013-04-05''.
          Required.'
        name: api-version
        required: true
        type: string
        enum:
        - "1.5"
        - "1.6"
        default: "1.6"
      - in: body
        description: this is request body, not real parameter
        name: bodyparam
        required: false
        schema:
          $ref: '#/definitions/contact'
          example:
            department: Sales
            jobTitle: Sales Rep
      responses:
        204:
          description: No Content. Indicates success. No response body is returned.
          examples:
            application/json: none
      description: '<p><i>Required scope</i>: <b><i>Contacts.Write</i></b></p>'
      summary: Change a contact's properties.
      operationId: update contact
    delete:
      parameters:
      - in: path
        description: The object ID (GUID) of the target contact.
        name: object_id
        required: true
        type: string
        default: 7163f3b8-70c9-43d2-b9e1-4467ddaf087a
      - in: query
        description: 'Specifies the version of the Graph API to target. Beginning
          with version 1.5, the api-version string is represented in major.minor format.
          Prior releases were represented as date strings: ''2013-11-08'' and ''2013-04-05''.
          Required.'
        name: api-version
        required: false
        type: string
        enum:
        - "1.5"
        - "1.6"
        default: "1.6"
      responses:
        204:
          description: No Content. Indicates success.
          examples:
            application/json: none
      description: '<p><i>Required scope</i>: <b><i>Contacts.Write</i></b></p>'
      summary: Delete a contact.
      operationId: delete contact
  /contacts/{object_id}/$links/manager:
    get:
      parameters:
      - in: path
        description: The object ID (GUID) of the target contact.
        name: object_id
        required: true
        type: string
        default: 31944231-fd52-4a7f-b32e-7902a01fddf9
      - in: query
        description: 'The version of the Graph API to target. Beginning with version
          1.5, the api-version string is represented in major.minor format. Prior
          releases were represented as date strings: ''2013-11-08'' and ''2013-04-05''.
          Required.'
        name: api-version
        required: true
        type: string
        enum:
        - "1.5"
        - "1.6"
        default: "1.6"
      responses:
        200:
          description: OK. Indicates success. A link to the contact's manager is returned.
          examples:
            application/json:
              odata.metadata: https://graph.windows.net/myorganization/$metadata#directoryObjects/$links/manager
              url: https://graph.windows.net/myorganization/directoryObjects/35110b16-360c-4c4a-93b2-03f065fabd93/Microsoft.WindowsAzure.ActiveDirectory.Contact
        404:
          description: Not Found. The requested resource was not found. This can occur
            if the manager property is not currently set for the specified contact.
            It can also have other causes, for example, a bad domain. A code and associated
            message is returned with the error.
          examples:
            application/json:
              odata.error:
                code: Request_ResourceNotFound
                message:
                  lang: en
                  value: Resource not found for the segment 'manager'.
      description: '<p><i>Required scope</i>: <b><i>Contacts.Read</i></b> or <b><i>Contacts.Write</i></b></p>'
      summary: Get a link to the contact's manager.
      operationId: get contact manager link
    put:
      parameters:
      - in: path
        description: The object ID (GUID) of the target contact.
        name: object_id
        required: true
        type: string
        default: 31944231-fd52-4a7f-b32e-7902a01fddf9
      - in: query
        description: 'The version of the Graph API to target. Beginning with version
          1.5, the api-version string is represented in major.minor format. Prior
          releases were represented as date strings: ''2013-11-08'' and ''2013-04-05''.
          Required.'
        name: api-version
        required: true
        type: string
        enum:
        - "1.5"
        - "1.6"
        default: "1.6"
      - in: body
        description: The request body contains a single property that specifies the
          URL of the user or contact to add as manager.
        name: bodyparam
        required: true
        schema:
          required:
          - url
          properties:
            url:
              type: string
          example:
            url: https://graph.windows.net/myorganization/directoryObjects/35110b16-360c-4c4a-93b2-03f065fabd93
      responses:
        204:
          description: No Content. Indicates success. No response body is returned.
          examples:
            application/json: none
      description: '<p><i>Required scope</i>: <b><i>Contacts.Write</i></b></p>'
      summary: Update the contact's manager
      operationId: update contact manager
    delete:
      parameters:
      - in: path
        description: The object ID (GUID) of the target contact.
        name: object_id
        required: true
        type: string
        default: 31944231-fd52-4a7f-b32e-7902a01fddf9
      - in: query
        description: 'The version of the Graph API to target. Beginning with version
          1.5, the api-version string is represented in major.minor format. Prior
          releases were represented as date strings: ''2013-11-08'' and ''2013-04-05''.
          Required.'
        name: api-version
        required: true
        type: string
        enum:
        - "1.5"
        - "1.6"
        default: "1.6"
      responses:
        204:
          description: No Content. Indicates success. N response body is returned.
          examples:
            application/json: none
      description: '<p><i>Required scope</i>: <b><i>Contacts.Write</i></b></p>'
      summary: Delete the contact's manager.
      operationId: delete contact manager by id
  /contacts/{object_id}/$links/directReports:
    get:
      parameters:
      - in: path
        description: The object ID (GUID) of the target contact.
        name: object_id
        required: true
        type: string
        default: 31944231-fd52-4a7f-b32e-7902a01fddf9
      - in: query
        description: 'The version of the Graph API to target. Beginning with version
          1.5, the api-version string is represented in major.minor format. Prior
          releases were represented as date strings: ''2013-11-08'' and ''2013-04-05''.
          Required.'
        name: api-version
        required: true
        type: string
        enum:
        - "1.5"
        - "1.6"
        default: "1.6"
      responses:
        200:
          description: OK. Indicates success. One or more direct reports are returned.
          examples:
            application/json:
              odata.metadata: https://graph.windows.net/myorganization/$metadata#directoryObjects/$links/directReports
              value:
              - url: https://graph.windows.net/myorganization/directoryObjects/8c1315ce-bf6f-4e26-b24f-c830606ef41c/Microsoft.DirectoryServices.Contact
      description: '<p><i>Required scope</i>: <b><i>Contacts.Read</i></b> or <b><i>Contacts.Write</i></b></p>'
      summary: Get a links to the contact's direct reports.
      operationId: get contact direct reports links
  /contacts/{object_id}/$links/memberOf:
    get:
      parameters:
      - in: path
        description: The object ID (GUID) of the target contact.
        name: object_id
        required: true
        type: string
        default: 31944231-fd52-4a7f-b32e-7902a01fddf9
      - in: query
        description: 'The version of the Graph API to target. Beginning with version
          1.5, the api-version string is represented in major.minor format. Prior
          releases were represented as date strings: ''2013-11-08'' and ''2013-04-05''.
          Required.'
        name: api-version
        required: true
        type: string
        enum:
        - "1.5"
        - "1.6"
        default: "1.6"
      responses:
        200:
          description: OK. Indicates success. One or more groups and/or directory
            roles are returned.
          examples:
            application/json:
              odata.metadata: https://graph.windows.net/myorganization/$metadata#directoryObjects/$links/memberOf
              value:
              - url: https://graph.windows.net/myorganization/directoryObjects/12345678-b942-47c9-a10e-a4bee353ce60/Microsoft.DirectoryServices.Group
      description: '<p><i>Required scope</i>: <b><i>Contacts.Read</i></b> or <b><i>Contacts.Write</i></b></p>'
      summary: Get a links to the contact's direct group and directory role memberships.
      operationId: get contact memberOf links
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":2:{s:7:\"contact\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":25:{s:10:\"objectType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:8:\"objectId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:17:\"deletionTimestamp\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;}s:4:\"city\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"department\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"dirSyncEnabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"displayName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:24:\"facsimileTelephoneNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"givenName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"jobTitle\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"lastDirSyncTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;}s:4:\"mail\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"mailNickname\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"mobile\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:26:\"physicalDeliveryOfficeName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"postalCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"provisioningErrors\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ProvisioningError\";}s:8:\"readOnly\";b:1;}s:14:\"proxyAddresses\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"readOnly\";b:1;s:7:\"example\";O:8:\"stdClass\":1:{s:14:\"proxyAddresses\";a:1:{i:0;s:47:\"SMTP:garthf@a830edad9050849NDA1.onmicrosoft.com\";}}}s:15:\"sipProxyAddress\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:5:\"state\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"streetAddress\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"surname\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"telephoneNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"thumbnailPhoto\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:11:\"displayName\";}}s:17:\"ProvisioningError\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"errorDetail\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:8:\"resolved\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:8:\"readOnly\";b:1;}s:15:\"serviceInstance\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:8:\"readOnly\";b:1;}s:9:\"timestamp\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;}}}}"
...
