---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:25:\"GraphRbacManagementClient\";s:7:\"version\";s:3:\"1.6\";s:11:\"description\";s:32:\"The
  Graph RBAC Management Client\";}"
host: graph.windows.net
paths: ~
produces:
- application/json
- text/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":55:{s:16:\"InformationalUrl\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:172:\"Represents
  a group of URIs that provide terms of service, marketing, support and privacy policy
  information about an application. The default value for each string is null.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:14:\"termsOfService\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  terms of service URI\";s:4:\"type\";s:6:\"string\";}s:9:\"marketing\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"The
  marketing URI\";s:4:\"type\";s:6:\"string\";}s:7:\"privacy\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  privacy policy URI\";s:4:\"type\";s:6:\"string\";}s:7:\"support\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"The
  support URI\";s:4:\"type\";s:6:\"string\";}}}s:16:\"OAuth2Permission\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:383:\"Represents
  an OAuth 2.0 delegated permission scope. The specified OAuth 2.0 delegated permission
  scopes may be requested by client applications (through the requiredResourceAccess
  collection on the Application object) when calling a resource application. The oauth2Permissions
  property of the ServicePrincipal entity and of the Application entity is a collection
  of OAuth2Permission.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:23:\"adminConsentDescription\";O:8:\"stdClass\":2:{s:11:\"description\";s:86:\"Permission
  help text that appears in the admin consent and app assignment experiences.\";s:4:\"type\";s:6:\"string\";}s:23:\"adminConsentDisplayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:97:\"Display
  name for the permission that appears in the admin consent and app assignment experiences.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:75:\"Unique
  scope permission identifier inside the oauth2Permissions collection.\";s:4:\"type\";s:6:\"string\";}s:9:\"isEnabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:232:\"When
  creating or updating a permission, this property must be set to true (which is the
  default). To delete a permission, this property must first be set to false. At that
  point, in a subsequent call, the permission may be removed. \";s:4:\"type\";s:7:\"boolean\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:210:\"Specifies
  whether this scope permission can be consented to by an end user, or whether it
  is a tenant-wide permission that must be consented to by a Company Administrator.
  Possible values are \"User\" or \"Admin\".\";s:4:\"type\";s:6:\"string\";}s:22:\"userConsentDescription\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"Permission
  help text that appears in the end user consent experience.\";s:4:\"type\";s:6:\"string\";}s:22:\"userConsentDisplayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"Display
  name for the permission that appears in the end user consent experience.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:103:\"The
  value of the scope claim that the resource application should expect in the OAuth
  2.0 access token.\";s:4:\"type\";s:6:\"string\";}}}s:14:\"OptionalClaims\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:50:\"Specifying
  the claims to be included in the token.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"idToken\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"Optional
  claims requested to be included in the id token.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/OptionalClaim\";}}s:11:\"accessToken\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"Optional
  claims requested to be included in the access token.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/OptionalClaim\";}}s:9:\"samlToken\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"Optional
  claims requested to be included in the saml token.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/OptionalClaim\";}}}}s:13:\"OptionalClaim\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:48:\"Specifying
  the claims to be included in a token.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Claim
  name.\";s:4:\"type\";s:6:\"string\";}s:6:\"source\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Claim
  source.\";s:4:\"type\";s:6:\"string\";}s:9:\"essential\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Is
  this a requied claim.\";s:4:\"type\";s:7:\"boolean\";}s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}}s:24:\"PreAuthorizedApplication\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:61:\"Contains
  information about pre authorized client application.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"appId\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Represents
  the application id.\";s:4:\"type\";s:6:\"string\";}s:11:\"permissions\";O:8:\"stdClass\":3:{s:11:\"description\";s:82:\"Collection
  of required app permissions/entitlements from the resource application.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:48:\"#/definitions/PreAuthorizedApplicationPermission\";}}s:10:\"extensions\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"Collection
  of extensions from the resource application.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:47:\"#/definitions/PreAuthorizedApplicationExtension\";}}}}s:34:\"PreAuthorizedApplicationPermission\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:58:\"Contains
  information about the pre-authorized permissions.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"directAccessGrant\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"Indicates
  whether the permission set is DirectAccess or impersonation.\";s:4:\"type\";s:7:\"boolean\";}s:12:\"accessGrants\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"The
  list of permissions.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:33:\"PreAuthorizedApplicationExtension\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:99:\"Representation
  of an app PreAuthorizedApplicationExtension required by a pre authorized client
  app.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"conditions\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"The
  extension's conditions.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:10:\"GraphError\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"odata.error\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:24:\"#/definitions/OdataError\";s:11:\"description\";s:18:\"A
  Graph API error.\";}}s:11:\"description\";s:35:\"Active Directory error information.\";}s:10:\"OdataError\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Error
  code.\";}s:7:\"message\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";s:11:\"description\";s:14:\"Error
  Message.\";}}s:11:\"description\";s:41:\"Active Directory OData error information.\";}s:12:\"ErrorMessage\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:16:\"x-ms-client-name\";s:7:\"message\";s:11:\"description\";s:20:\"Error
  message value.\";}}s:11:\"description\";s:31:\"Active Directory error message.\";}s:15:\"DirectoryObject\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:13:\"discriminator\";s:10:\"objectType\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"objectId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"The
  object ID.\";s:8:\"readOnly\";b:1;}s:10:\"objectType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"The
  object type.\";s:8:\"readOnly\";b:1;}s:17:\"deletionTimestamp\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:51:\"The
  time at which the directory object was deleted.\";s:8:\"readOnly\";b:1;}}s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:11:\"description\";s:44:\"Represents
  an Azure Active Directory object.\";}s:13:\"KeyCredential\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:9:\"startDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:11:\"Start
  date.\";}s:7:\"endDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:9:\"End
  date.\";}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"Key
  value.\";}s:5:\"keyId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:7:\"Key
  ID.\";}s:5:\"usage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:49:\"Usage.
  Acceptable values are 'Verify' and 'Sign'.\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:65:\"Type.
  Acceptable values are 'AsymmetricX509Cert' and 'Symmetric'.\";}s:19:\"customKeyIdentifier\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"Custom
  Key Identifier\";}}s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:11:\"description\";s:44:\"Active
  Directory Key Credential information.\";}s:18:\"PasswordCredential\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"startDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:11:\"Start
  date.\";}s:7:\"endDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:9:\"End
  date.\";}s:5:\"keyId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:7:\"Key
  ID.\";}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"Key
  value.\";}s:19:\"customKeyIdentifier\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"byte\";s:11:\"description\";s:21:\"Custom
  Key Identifier\";}}s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:11:\"description\";s:49:\"Active
  Directory Password Credential information.\";}s:22:\"RequiredResourceAccess\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"resourceAccess\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ResourceAccess\";}s:11:\"description\";s:111:\"The
  list of OAuth2.0 permission scopes and app roles that the application requires from
  the specified resource.\";}s:13:\"resourceAppId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:158:\"The
  unique identifier for the resource that the application requires access to. This
  should be equal to the appId declared on the target resource application.\";}}s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:8:\"required\";a:1:{i:0;s:14:\"resourceAccess\";}s:11:\"description\";s:403:\"Specifies
  the set of OAuth 2.0 permission scopes and app roles under the specified resource
  that an application requires access to. The specified OAuth 2.0 permission scopes
  may be requested by client applications (through the requiredResourceAccess collection)
  when calling a resource application. The requiredResourceAccess property of the
  Application entity is a collection of RequiredResourceAccess.\";}s:14:\"ResourceAccess\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:113:\"The
  unique identifier for one of the OAuth2Permission or AppRole instances that the
  resource application exposes.\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:118:\"Specifies
  whether the id property references an OAuth2Permission or an AppRole. Possible values
  are \"scope\" or \"role\".\";}}s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:8:\"required\";a:1:{i:0;s:2:\"id\";}s:11:\"description\";s:182:\"Specifies
  an OAuth 2.0 permission scope or an app role that an application requires. The resourceAccess
  property of the RequiredResourceAccess type is a collection of ResourceAccess.\";}s:21:\"GroupMembershipClaims\";O:8:\"stdClass\":3:{s:11:\"description\";s:92:\"Configures
  the groups claim issued in a user or OAuth 2.0 access token that the app expects.\";s:4:\"enum\";a:3:{i:0;s:4:\"None\";i:1;s:13:\"SecurityGroup\";i:2;s:3:\"All\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:25:\"GroupMembershipClaimTypes\";s:13:\"modelAsString\";b:1;}}s:15:\"ApplicationBase\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:79:\"Active
  Directive Application common properties shared among GET, POST and PATCH\";s:10:\"properties\";O:8:\"stdClass\":29:{s:17:\"allowGuestsSignIn\";O:8:\"stdClass\":2:{s:11:\"description\";s:108:\"A
  property on the application to indicate if the application accepts other IDPs or
  not or partially accepts.\";s:4:\"type\";s:7:\"boolean\";}s:21:\"allowPassthroughUsers\";O:8:\"stdClass\":2:{s:11:\"description\";s:103:\"Indicates
  that the application supports pass through users who have no presence in the resource
  tenant.\";s:4:\"type\";s:7:\"boolean\";}s:10:\"appLogoUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"The
  url for the application logo image stored in a CDN.\";s:4:\"type\";s:6:\"string\";}s:8:\"appRoles\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/AppRole\";}s:11:\"description\";s:136:\"The
  collection of application roles that an application may declare. These roles can
  be assigned to users, groups or service principals.\";}s:14:\"appPermissions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:28:\"The
  application permissions.\";}s:23:\"availableToOtherTenants\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:54:\"Whether
  the application is available to other tenants.\";}s:8:\"errorUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:92:\"A
  URL provided by the author of the application to report errors when using the application.\";s:4:\"type\";s:6:\"string\";}s:21:\"groupMembershipClaims\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/GroupMembershipClaims\";s:11:\"description\";s:92:\"Configures
  the groups claim issued in a user or OAuth 2.0 access token that the app expects.\";}s:8:\"homepage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"The
  home page of the application.\";}s:17:\"informationalUrls\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/InformationalUrl\";s:11:\"description\";s:47:\"urls
  with more informations of the application.\";}s:25:\"isDeviceOnlyAuthSupported\";O:8:\"stdClass\":2:{s:11:\"description\";s:103:\"Specifies
  whether this application supports device authentication without a user. The default
  is false.\";s:4:\"type\";s:7:\"boolean\";}s:14:\"keyCredentials\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/KeyCredential\";}s:11:\"description\";s:38:\"A
  collection of KeyCredential objects.\";}s:23:\"knownClientApplications\";O:8:\"stdClass\":3:{s:11:\"description\";s:284:\"Client
  applications that are tied to this resource application. Consent to any of the known
  client applications will result in implicit consent to the resource application
  through a combined consent dialog (showing the OAuth permission scopes required
  by the client and the resource).\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:9:\"logoutUrl\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"the
  url of the logout page\";}s:23:\"oauth2AllowImplicitFlow\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:47:\"Whether
  to allow implicit grant flow for OAuth2\";}s:26:\"oauth2AllowUrlPathMatching\";O:8:\"stdClass\":2:{s:11:\"description\";s:166:\"Specifies
  whether during a token Request Azure AD will allow path matching of the redirect
  URI against the applications collection of replyURLs. The default is false.\";s:4:\"type\";s:7:\"boolean\";}s:17:\"oauth2Permissions\";O:8:\"stdClass\":3:{s:11:\"description\";s:195:\"The
  collection of OAuth 2.0 permission scopes that the web API (resource) application
  exposes to client applications. These permission scopes may be granted to client
  applications during consent.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/OAuth2Permission\";}}s:25:\"oauth2RequirePostResponse\";O:8:\"stdClass\":2:{s:11:\"description\";s:196:\"Specifies
  whether, as part of OAuth 2.0 token requests, Azure AD will allow POST requests,
  as opposed to GET requests. The default is false, which specifies that only GET
  requests will be allowed.\";s:4:\"type\";s:7:\"boolean\";}s:15:\"orgRestrictions\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"A
  list of tenants allowed to access application.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:14:\"optionalClaims\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/OptionalClaims\";}s:19:\"passwordCredentials\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/PasswordCredential\";}s:11:\"description\";s:42:\"A
  collection of PasswordCredential objects\";}s:25:\"preAuthorizedApplications\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/PreAuthorizedApplication\";}s:11:\"description\";s:37:\"list
  of pre-authorizaed applications.\";}s:12:\"publicClient\";O:8:\"stdClass\":2:{s:11:\"description\";s:134:\"Specifies
  whether this application is a public client (such as an installed application running
  on a mobile device). Default is false.\";s:4:\"type\";s:7:\"boolean\";}s:15:\"publisherDomain\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"Reliable
  domain which can be used to identify an application.\";s:4:\"type\";s:6:\"string\";}s:9:\"replyUrls\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:47:\"A
  collection of reply URLs for the application.\";}s:22:\"requiredResourceAccess\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/RequiredResourceAccess\";}s:11:\"description\";s:248:\"Specifies
  resources that this application requires access to and the set of OAuth permission
  scopes and application roles that it needs under each of those resources. This pre-configuration
  of required resource access drives the consent experience.\";}s:15:\"samlMetadataUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"The
  URL to the SAML metadata for the application.\";s:4:\"type\";s:6:\"string\";}s:14:\"signInAudience\";O:8:\"stdClass\":2:{s:11:\"description\";s:119:\"Audience
  for signing in to the application (AzureADMyOrganizatio, AzureADAllorganizations,
  AzureADAndMicrosofAccounts).\";s:4:\"type\";s:6:\"string\";}s:11:\"wwwHomepage\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  primary Web page.\";s:4:\"type\";s:6:\"string\";}}}s:27:\"ApplicationCreateParameters\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ApplicationBase\";}}s:8:\"required\";a:2:{i:0;s:11:\"displayName\";i:1;s:14:\"identifierUris\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"displayName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"The
  display name of the application.\";}s:14:\"identifierUris\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:41:\"A
  collection of URIs for the application.\";}}s:11:\"description\";s:50:\"Request
  parameters for creating a new application.\";}s:27:\"ApplicationUpdateParameters\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ApplicationBase\";}}s:11:\"description\";s:50:\"Request
  parameters for updating a new application.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"displayName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"The
  display name of the application.\";}s:14:\"identifierUris\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:41:\"A
  collection of URIs for the application.\";}}}s:11:\"Application\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/DirectoryObject\";}}s:10:\"properties\";O:8:\"stdClass\":32:{s:5:\"appId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"The
  application ID.\";}s:17:\"allowGuestsSignIn\";O:8:\"stdClass\":2:{s:11:\"description\";s:108:\"A
  property on the application to indicate if the application accepts other IDPs or
  not or partially accepts.\";s:4:\"type\";s:7:\"boolean\";}s:21:\"allowPassthroughUsers\";O:8:\"stdClass\":2:{s:11:\"description\";s:103:\"Indicates
  that the application supports pass through users who have no presence in the resource
  tenant.\";s:4:\"type\";s:7:\"boolean\";}s:10:\"appLogoUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"The
  url for the application logo image stored in a CDN.\";s:4:\"type\";s:6:\"string\";}s:8:\"appRoles\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/AppRole\";}s:11:\"description\";s:136:\"The
  collection of application roles that an application may declare. These roles can
  be assigned to users, groups or service principals.\";}s:14:\"appPermissions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:28:\"The
  application permissions.\";}s:23:\"availableToOtherTenants\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:54:\"Whether
  the application is available to other tenants.\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"The
  display name of the application.\";}s:8:\"errorUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:92:\"A
  URL provided by the author of the application to report errors when using the application.\";s:4:\"type\";s:6:\"string\";}s:21:\"groupMembershipClaims\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/GroupMembershipClaims\";s:11:\"description\";s:92:\"Configures
  the groups claim issued in a user or OAuth 2.0 access token that the app expects.\";}s:8:\"homepage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"The
  home page of the application.\";}s:14:\"identifierUris\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:41:\"A
  collection of URIs for the application.\";}s:17:\"informationalUrls\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/InformationalUrl\";s:11:\"description\";s:47:\"urls
  with more informations of the application.\";}s:25:\"isDeviceOnlyAuthSupported\";O:8:\"stdClass\":2:{s:11:\"description\";s:103:\"Specifies
  whether this application supports device authentication without a user. The default
  is false.\";s:4:\"type\";s:7:\"boolean\";}s:14:\"keyCredentials\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/KeyCredential\";}s:11:\"description\";s:38:\"A
  collection of KeyCredential objects.\";}s:23:\"knownClientApplications\";O:8:\"stdClass\":3:{s:11:\"description\";s:284:\"Client
  applications that are tied to this resource application. Consent to any of the known
  client applications will result in implicit consent to the resource application
  through a combined consent dialog (showing the OAuth permission scopes required
  by the client and the resource).\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:9:\"logoutUrl\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"the
  url of the logout page\";}s:23:\"oauth2AllowImplicitFlow\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:47:\"Whether
  to allow implicit grant flow for OAuth2\";}s:26:\"oauth2AllowUrlPathMatching\";O:8:\"stdClass\":2:{s:11:\"description\";s:166:\"Specifies
  whether during a token Request Azure AD will allow path matching of the redirect
  URI against the applications collection of replyURLs. The default is false.\";s:4:\"type\";s:7:\"boolean\";}s:17:\"oauth2Permissions\";O:8:\"stdClass\":3:{s:11:\"description\";s:195:\"The
  collection of OAuth 2.0 permission scopes that the web API (resource) application
  exposes to client applications. These permission scopes may be granted to client
  applications during consent.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/OAuth2Permission\";}}s:25:\"oauth2RequirePostResponse\";O:8:\"stdClass\":2:{s:11:\"description\";s:196:\"Specifies
  whether, as part of OAuth 2.0 token requests, Azure AD will allow POST requests,
  as opposed to GET requests. The default is false, which specifies that only GET
  requests will be allowed.\";s:4:\"type\";s:7:\"boolean\";}s:15:\"orgRestrictions\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"A
  list of tenants allowed to access application.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:14:\"optionalClaims\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/OptionalClaims\";}s:19:\"passwordCredentials\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/PasswordCredential\";}s:11:\"description\";s:42:\"A
  collection of PasswordCredential objects\";}s:25:\"preAuthorizedApplications\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/PreAuthorizedApplication\";}s:11:\"description\";s:37:\"list
  of pre-authorizaed applications.\";}s:12:\"publicClient\";O:8:\"stdClass\":2:{s:11:\"description\";s:134:\"Specifies
  whether this application is a public client (such as an installed application running
  on a mobile device). Default is false.\";s:4:\"type\";s:7:\"boolean\";}s:15:\"publisherDomain\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"Reliable
  domain which can be used to identify an application.\";s:4:\"type\";s:6:\"string\";}s:9:\"replyUrls\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:47:\"A
  collection of reply URLs for the application.\";}s:22:\"requiredResourceAccess\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/RequiredResourceAccess\";}s:11:\"description\";s:248:\"Specifies
  resources that this application requires access to and the set of OAuth permission
  scopes and application roles that it needs under each of those resources. This pre-configuration
  of required resource access drives the consent experience.\";}s:15:\"samlMetadataUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"The
  URL to the SAML metadata for the application.\";s:4:\"type\";s:6:\"string\";}s:14:\"signInAudience\";O:8:\"stdClass\":2:{s:11:\"description\";s:119:\"Audience
  for signing in to the application (AzureADMyOrganizatio, AzureADAllorganizations,
  AzureADAndMicrosofAccounts).\";s:4:\"type\";s:6:\"string\";}s:11:\"wwwHomepage\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  primary Web page.\";s:4:\"type\";s:6:\"string\";}}s:11:\"description\";s:41:\"Active
  Directory application information.\";}s:21:\"ApplicationListResult\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Application\";}s:11:\"description\";s:29:\"A
  collection of applications.\";}s:14:\"odata.nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"The
  URL to get the next set of results.\";}}s:11:\"description\";s:34:\"Application
  list operation result.\";}s:7:\"AppRole\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:54:\"Unique
  role identifier inside the appRoles collection.\";}s:18:\"allowedMemberTypes\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:233:\"Specifies
  whether this app role definition can be assigned to users and groups by setting
  to 'User', or to other applications (that are accessing this application in daemon
  service scenarios) by setting to 'Application', or to both. \";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:86:\"Permission
  help text that appears in the admin app assignment and consent experiences.\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:97:\"Display
  name for the permission that appears in the admin consent and app assignment experiences.\";}s:9:\"isEnabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:207:\"When
  creating or updating a role definition, this must be set to true (which is the default).
  To delete a role, this must first be set to false. At that point, in a subsequent
  call, this role may be removed.\";}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:114:\"Specifies
  the value of the roles claim that the application should expect in the authentication
  and access tokens.\";}}}s:18:\"AddOwnerParameters\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"url\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:338:\"A
  owner object URL, such as \"https://graph.windows.net/0b1f9851-1bf0-433f-aec3-cb9272f093dc/directoryObjects/f260bbc4-c254-447b-94cf-293b5ec434dd\",
  where \"0b1f9851-1bf0-433f-aec3-cb9272f093dc\" is the tenantId and \"f260bbc4-c254-447b-94cf-293b5ec434dd\"
  is the objectId of the owner (user, application, servicePrincipal, group) to be
  added.\";}}s:8:\"required\";a:1:{i:0;s:3:\"url\";}s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:11:\"description\";s:56:\"Request
  parameters for adding a owner to an application.\";}s:23:\"KeyCredentialListResult\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/KeyCredential\";}s:11:\"description\";s:31:\"A
  collection of KeyCredentials.\";}}s:11:\"description\";s:36:\"KeyCredential list
  operation result.\";}s:25:\"DirectoryObjectListResult\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/DirectoryObject\";}s:11:\"description\";s:32:\"A
  collection of DirectoryObject.\";}s:14:\"odata.nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"The
  URL to get the next set of results.\";}}s:11:\"description\";s:38:\"DirectoryObject
  list operation result.\";}s:30:\"KeyCredentialsUpdateParameters\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/KeyCredential\";}s:11:\"description\";s:31:\"A
  collection of KeyCredentials.\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}s:11:\"description\";s:56:\"Request
  parameters for a KeyCredentials update operation\";}s:28:\"PasswordCredentialListResult\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/PasswordCredential\";}s:11:\"description\";s:36:\"A
  collection of PasswordCredentials.\";}}s:11:\"description\";s:41:\"PasswordCredential
  list operation result.\";}s:35:\"PasswordCredentialsUpdateParameters\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/PasswordCredential\";}s:11:\"description\";s:36:\"A
  collection of PasswordCredentials.\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}s:11:\"description\";s:62:\"Request
  parameters for a PasswordCredentials update operation.\";}s:24:\"GroupAddMemberParameters\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"url\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:340:\"A
  member object URL, such as \"https://graph.windows.net/0b1f9851-1bf0-433f-aec3-cb9272f093dc/directoryObjects/f260bbc4-c254-447b-94cf-293b5ec434dd\",
  where \"0b1f9851-1bf0-433f-aec3-cb9272f093dc\" is the tenantId and \"f260bbc4-c254-447b-94cf-293b5ec434dd\"
  is the objectId of the member (user, application, servicePrincipal, group) to be
  added.\";}}s:8:\"required\";a:1:{i:0;s:3:\"url\";}s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:11:\"description\";s:50:\"Request
  parameters for adding a member to a group.\";}s:21:\"GroupCreateParameters\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"displayName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"Group
  display name\";}s:11:\"mailEnabled\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:127:\"Whether
  the group is mail-enabled. Must be false. This is because only pure security groups
  can be created using the Graph API.\";s:4:\"enum\";a:1:{i:0;b:0;}}s:12:\"mailNickname\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"Mail
  nickname\";}s:15:\"securityEnabled\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:130:\"Whether
  the group is a security group. Must be true. This is because only pure security
  groups can be created using the Graph API.\";s:4:\"enum\";a:1:{i:0;b:1;}}}s:8:\"required\";a:4:{i:0;s:11:\"displayName\";i:1;s:11:\"mailEnabled\";i:2;s:12:\"mailNickname\";i:3;s:15:\"securityEnabled\";}s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:11:\"description\";s:44:\"Request
  parameters for creating a new group.\";}s:7:\"ADGroup\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/DirectoryObject\";}}s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"displayName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"The
  display name of the group.\";}s:11:\"mailEnabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:127:\"Whether
  the group is mail-enabled. Must be false. This is because only pure security groups
  can be created using the Graph API.\";}s:12:\"mailNickname\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"The
  mail alias for the group. \";}s:15:\"securityEnabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:37:\"Whether
  the group is security-enable.\";}s:4:\"mail\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"The
  primary email address of the group.\";}}s:24:\"x-ms-discriminator-value\";s:5:\"Group\";s:11:\"description\";s:35:\"Active
  Directory group information.\";}s:15:\"GroupListResult\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/ADGroup\";}s:11:\"description\";s:40:\"A
  collection of Active Directory groups.\";}s:14:\"odata.nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"The
  URL to get the next set of results.\";}}s:11:\"description\";s:46:\"Server response
  for Get tenant groups API call\";}s:30:\"GroupGetMemberGroupsParameters\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:19:\"securityEnabledOnly\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:125:\"If
  true, only membership in security-enabled groups should be checked. Otherwise, membership
  in all groups should be checked.\";}}s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:8:\"required\";a:1:{i:0;s:19:\"securityEnabledOnly\";}s:11:\"description\";s:48:\"Request
  parameters for GetMemberGroups API call.\";}s:26:\"GroupGetMemberGroupsResult\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:57:\"A
  collection of group IDs of which the group is a member.\";}}s:11:\"description\";s:45:\"Server
  response for GetMemberGroups API call.\";}s:30:\"CheckGroupMembershipParameters\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"groupId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"The
  object ID of the group to check.\";}s:8:\"memberId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:111:\"The
  object ID of the contact, group, user, or service principal to check for membership
  in the specified group.\";}}s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:8:\"required\";a:2:{i:0;s:7:\"groupId\";i:1;s:8:\"memberId\";}s:11:\"description\";s:43:\"Request
  parameters for IsMemberOf API call.\";}s:26:\"CheckGroupMembershipResult\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:149:\"True
  if the specified user, group, contact, or service principal has either direct or
  transitive membership in the specified group; otherwise, false.\";}}s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:11:\"description\";s:39:\"Server
  response for IsMemberOf API call\";}s:20:\"ServicePrincipalBase\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:85:\"Active
  Directory service principal common perperties shared among GET, POST and PATCH\";s:10:\"properties\";O:8:\"stdClass\":6:{s:14:\"accountEnabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"whether
  or not the service principal account is enabled\";s:4:\"type\";s:6:\"string\";}s:25:\"appRoleAssignmentRequired\";O:8:\"stdClass\":2:{s:11:\"description\";s:139:\"Specifies
  whether an AppRoleAssignment to a user or group is required before Azure AD will
  issue a user or access token to the application.\";s:4:\"type\";s:7:\"boolean\";}s:14:\"keyCredentials\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"The
  collection of key credentials associated with the service principal.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/KeyCredential\";}}s:19:\"passwordCredentials\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"The
  collection of password credentials associated with the service principal.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/PasswordCredential\";}}s:20:\"servicePrincipalType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"the
  type of the servie principal\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:11:\"description\";s:82:\"Optional
  list of tags that you can apply to your service principals. Not nullable.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:32:\"ServicePrincipalCreateParameters\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/ServicePrincipalBase\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"appId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"The
  application ID.\";}}s:8:\"required\";a:1:{i:0;s:5:\"appId\";}s:11:\"description\";s:56:\"Request
  parameters for creating a new service principal.\";}s:32:\"ServicePrincipalUpdateParameters\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/ServicePrincipalBase\";}}s:11:\"description\";s:60:\"Request
  parameters for update an existing service principal.\";}s:16:\"ServicePrincipal\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:47:\"Active
  Directory service principal information.\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/DirectoryObject\";}}s:10:\"properties\";O:8:\"stdClass\":21:{s:14:\"accountEnabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"whether
  or not the service principal account is enabled\";s:4:\"type\";s:6:\"string\";}s:16:\"alternativeNames\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"altenative
  names\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:14:\"appDisplayName\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"The
  display name exposed by the associated application.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:5:\"appId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"The
  application ID.\";}s:16:\"appOwnerTenantId\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:1;s:4:\"type\";s:6:\"string\";}s:25:\"appRoleAssignmentRequired\";O:8:\"stdClass\":2:{s:11:\"description\";s:139:\"Specifies
  whether an AppRoleAssignment to a user or group is required before Azure AD will
  issue a user or access token to the application.\";s:4:\"type\";s:7:\"boolean\";}s:8:\"appRoles\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/AppRole\";}s:11:\"description\";s:136:\"The
  collection of application roles that an application may declare. These roles can
  be assigned to users, groups or service principals.\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"The
  display name of the service principal.\";}s:8:\"errorUrl\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:103:\"A
  URL provided by the author of the associated application to report errors when using
  the application.\";}s:8:\"homepage\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"The
  URL to the homepage of the associated application.\";s:4:\"type\";s:6:\"string\";}s:14:\"keyCredentials\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"The
  collection of key credentials associated with the service principal.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/KeyCredential\";}}s:9:\"logoutUrl\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:68:\"A
  URL provided by the author of the associated application to logout\";}s:17:\"oauth2Permissions\";O:8:\"stdClass\":4:{s:11:\"description\";s:64:\"The
  OAuth 2.0 permissions exposed by the associated application.\";s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/OAuth2Permission\";}}s:19:\"passwordCredentials\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"The
  collection of password credentials associated with the service principal.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/PasswordCredential\";}}s:34:\"preferredTokenSigningKeyThumbprint\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"The
  thubmbprint of preferred certificate to sign the token\";s:4:\"type\";s:6:\"string\";}s:13:\"publisherName\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"The
  publisher's name of the associated application\";s:4:\"type\";s:6:\"string\";}s:9:\"replyUrls\";O:8:\"stdClass\":3:{s:11:\"description\";s:201:\"The
  URLs that user tokens are sent to for sign in with the associated application.  The
  redirect URIs that the oAuth 2.0 authorization code and access tokens are sent to
  for the associated application.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:15:\"samlMetadataUrl\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:58:\"The
  URL to the SAML metadata of the associated application\";}s:21:\"servicePrincipalNames\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:40:\"A
  collection of service principal names.\";}s:20:\"servicePrincipalType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"the
  type of the servie principal\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:11:\"description\";s:82:\"Optional
  list of tags that you can apply to your service principals. Not nullable.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:26:\"ServicePrincipalListResult\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ServicePrincipal\";}s:11:\"description\";s:31:\"the
  list of service principals.\";}s:14:\"odata.nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"the
  URL to get the next set of results.\";}}s:11:\"description\";s:59:\"Server response
  for get tenant service principals API call.\";}s:15:\"PasswordProfile\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"password\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:8:\"Password\";}s:28:\"forceChangePasswordNextLogin\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:49:\"Whether
  to force a password change on next login.\";}}s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:8:\"required\";a:1:{i:0;s:8:\"password\";}s:11:\"description\";s:44:\"The
  password profile associated with a user.\";}s:8:\"UserBase\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"immutableId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:242:\"This
  must be specified if you are using a federated domain for the user's userPrincipalName
  (UPN) property when creating a new user account. It is used to associate an on-premises
  Active Directory user account with their Azure AD user object.\";}s:13:\"usageLocation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:213:\"A
  two letter country code (ISO standard 3166). Required for users that will be assigned
  licenses due to legal requirement to check for availability of services in countries.
  Examples include: \"US\", \"JP\", and \"GB\".\";}s:9:\"givenName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"The
  given name for the user.\";}s:7:\"surname\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"The
  user's surname (family name or last name).\";}s:8:\"userType\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:103:\"A
  string value that can be used to classify user types in your directory, such as
  'Member' and 'Guest'.\";s:4:\"enum\";a:2:{i:0;s:6:\"Member\";i:1;s:5:\"Guest\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:8:\"UserType\";s:13:\"modelAsString\";b:1;}}}s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}s:20:\"UserCreateParameters\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/UserBase\";}}s:10:\"properties\";O:8:\"stdClass\":6:{s:14:\"accountEnabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:31:\"Whether
  the account is enabled.\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"The
  display name of the user.\";}s:15:\"passwordProfile\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PasswordProfile\";s:11:\"description\";s:16:\"Password
  Profile\";}s:17:\"userPrincipalName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:107:\"The
  user principal name (someuser@contoso.com). It must contain one of the verified
  domains for the tenant.\";}s:12:\"mailNickname\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"The
  mail alias for the user.\";}s:4:\"mail\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"The
  primary email address of the user.\";}}s:8:\"required\";a:5:{i:0;s:14:\"accountEnabled\";i:1;s:11:\"displayName\";i:2;s:15:\"passwordProfile\";i:3;s:17:\"userPrincipalName\";i:4;s:12:\"mailNickname\";}s:11:\"description\";s:66:\"Request
  parameters for creating a new work or school account user.\";}s:20:\"UserUpdateParameters\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/UserBase\";}}s:10:\"properties\";O:8:\"stdClass\":5:{s:14:\"accountEnabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:31:\"Whether
  the account is enabled.\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"The
  display name of the user.\";}s:15:\"passwordProfile\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PasswordProfile\";s:11:\"description\";s:33:\"The
  password profile of the user.\";}s:17:\"userPrincipalName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:107:\"The
  user principal name (someuser@contoso.com). It must contain one of the verified
  domains for the tenant.\";}s:12:\"mailNickname\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"The
  mail alias for the user.\";}}s:11:\"description\";s:72:\"Request parameters for
  updating an existing work or school account user.\";}s:4:\"User\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/DirectoryObject\";}}s:10:\"properties\";O:8:\"stdClass\":11:{s:11:\"immutableId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:242:\"This
  must be specified if you are using a federated domain for the user's userPrincipalName
  (UPN) property when creating a new user account. It is used to associate an on-premises
  Active Directory user account with their Azure AD user object.\";}s:13:\"usageLocation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:213:\"A
  two letter country code (ISO standard 3166). Required for users that will be assigned
  licenses due to legal requirement to check for availability of services in countries.
  Examples include: \"US\", \"JP\", and \"GB\".\";}s:9:\"givenName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"The
  given name for the user.\";}s:7:\"surname\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"The
  user's surname (family name or last name).\";}s:8:\"userType\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:103:\"A
  string value that can be used to classify user types in your directory, such as
  'Member' and 'Guest'.\";s:4:\"enum\";a:2:{i:0;s:6:\"Member\";i:1;s:5:\"Guest\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:8:\"UserType\";s:13:\"modelAsString\";b:1;}}s:14:\"accountEnabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:31:\"Whether
  the account is enabled.\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"The
  display name of the user.\";}s:17:\"userPrincipalName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"The
  principal name of the user.\";}s:12:\"mailNickname\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"The
  mail alias for the user.\";}s:4:\"mail\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"The
  primary email address of the user.\";}s:11:\"signInNames\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/SignInName\";}s:11:\"description\";s:30:\"The
  sign-in names of the user.\";}}s:11:\"description\";s:34:\"Active Directory user
  information.\";}s:10:\"SignInName\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:119:\"A
  string value that can be used to classify user sign-in types in your directory,
  such as 'emailAddress' or 'userName'.\";}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:114:\"The
  sign-in used by the local account. Must be unique across the company/tenant. For
  example, 'johnc@example.com'.\";}}s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:11:\"description\";s:106:\"Contains
  information about a sign-in name of a local account user in an Azure Active Directory
  B2C tenant.\";}s:29:\"UserGetMemberGroupsParameters\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:19:\"securityEnabledOnly\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:125:\"If
  true, only membership in security-enabled groups should be checked. Otherwise, membership
  in all groups should be checked.\";}}s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:8:\"required\";a:1:{i:0;s:19:\"securityEnabledOnly\";}s:11:\"description\";s:48:\"Request
  parameters for GetMemberGroups API call.\";}s:25:\"UserGetMemberGroupsResult\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:56:\"A
  collection of group IDs of which the user is a member.\";}}s:11:\"description\";s:45:\"Server
  response for GetMemberGroups API call.\";}s:14:\"UserListResult\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/User\";}s:11:\"description\";s:18:\"the
  list of users.\";}s:14:\"odata.nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"The
  URL to get the next set of results.\";}}s:11:\"description\";s:46:\"Server response
  for Get tenant users API call.\";}s:20:\"GetObjectsParameters\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"objectIds\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:25:\"The
  requested object IDs.\";}s:5:\"types\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:27:\"The
  requested object types.\";}s:32:\"includeDirectoryObjectReferences\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:60:\"If
  true, also searches for object IDs in the partner tenant.\";}}s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:11:\"description\";s:53:\"Request
  parameters for the GetObjectsByObjectIds API.\";}s:6:\"Domain\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:18:\"authenticationType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"the
  type of the authentication into the domain.\";s:8:\"readOnly\";b:1;}s:9:\"isDefault\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:44:\"if
  this is the default domain in the tenant.\";s:8:\"readOnly\";b:1;}s:10:\"isVerified\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:39:\"if
  this domain's ownership is verified.\";s:8:\"readOnly\";b:1;}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"the
  domain name.\";}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:11:\"description\";s:36:\"Active
  Directory Domain information.\";}s:16:\"DomainListResult\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Domain\";}s:11:\"description\";s:20:\"the
  list of domains.\";}}s:11:\"description\";s:48:\"Server response for Get tenant
  domains API call.\";}s:21:\"OAuth2PermissionGrant\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:10:\"odata.type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:49:\"Microsoft.DirectoryServices.OAuth2PermissionGrant\";}s:8:\"clientId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:152:\"The
  id of the resource's service principal granted consent to impersonate the user when
  accessing the resource (represented by the resourceId property).\";}s:8:\"objectId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"The
  id of the permission grant\";}s:11:\"consentType\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:107:\"Indicates
  if consent was provided by the administrator (on behalf of the organization) or
  by an individual.\";s:4:\"enum\";a:2:{i:0;s:13:\"AllPrincipals\";i:1;s:9:\"Principal\";}s:9:\"x-ms-enum\";O:8:\"stdClass\":2:{s:4:\"name\";s:11:\"ConsentType\";s:13:\"modelAsString\";b:1;}}s:11:\"principalId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:127:\"When
  consent type is Principal, this property specifies the id of the user that granted
  consent and applies only for that user.\";}s:10:\"resourceId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"Object
  Id of the resource you want to grant\";}s:5:\"scope\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:136:\"Specifies
  the value of the scope claim that the resource application should expect in the
  OAuth 2.0 access token. For example, User.Read\";}s:9:\"startTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"Start
  time for TTL\";}s:10:\"expiryTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"Expiry
  time for TTL\";}}s:7:\"example\";O:8:\"stdClass\":8:{s:10:\"odata.type\";s:10:\"odata.type\";s:10:\"resourceId\";s:10:\"resourceId\";s:8:\"clientId\";s:8:\"clientId\";s:5:\"scope\";s:5:\"scope\";s:10:\"expiryTime\";s:10:\"expiryTime\";s:11:\"consentType\";s:11:\"consentType\";s:11:\"principalId\";s:0:\"\";s:9:\"startTime\";s:9:\"startTime\";}}s:31:\"OAuth2PermissionGrantListResult\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/OAuth2PermissionGrant\";}s:11:\"description\";s:37:\"the
  list of oauth2 permissions grants\";}s:14:\"odata.nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"the
  URL to get the next set of results.\";}}s:11:\"description\";s:49:\"Server response
  for get oauth2 permissions grants\";}}"
...
