---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:25:\"GraphRbacManagementClient\";s:7:\"version\";s:3:\"1.6\";s:11:\"description\";s:32:\"The
  Graph RBAC Management Client\";}"
host: graph.windows.net
paths:
  /{tenantID}/me:
    get:
      tags:
      - Objects
      operationId: Objects_GetCurrentUser
      description: Gets the details for the currently logged-in user.
      parameters:
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/tenantIDInPath'
      responses:
        200:
          description: OK. The operation was successful.
          schema:
            $ref: '#/definitions/AADObject'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/GraphError'
  /{tenantID}/applications:
    post:
      tags:
      - Application
      operationId: Applications_Create
      description: Create a new application.
      parameters:
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/ApplicationCreateParameters'
        description: The parameters for creating an application.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/tenantIDInPath'
      responses:
        201:
          description: The application was created successfully.
          schema:
            $ref: '#/definitions/Application'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/GraphError'
    get:
      tags:
      - Application
      operationId: Applications_List
      description: Lists applications by filter parameters.
      parameters:
      - name: $filter
        in: query
        required: false
        type: string
        description: The filters to apply to the operation.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/tenantIDInPath'
      responses:
        200:
          description: OK. The operation was successful.
          schema:
            $ref: '#/definitions/ApplicationListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/GraphError'
      x-ms-odata: '#/definitions/Application'
      x-ms-pageable:
        nextLinkName: odata.nextLink
        operationName: Applications_ListNext
  /{tenantID}/applications/{applicationObjectId}:
    delete:
      tags:
      - Application
      operationId: Applications_Delete
      description: Delete an application.
      parameters:
      - name: applicationObjectId
        in: path
        required: true
        type: string
        description: Application object ID.
        x-ms-skip-url-encoding: true
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/tenantIDInPath'
      responses:
        204:
          description: No Content
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/GraphError'
    get:
      tags:
      - Application
      operationId: Applications_Get
      description: Get an application by object ID.
      parameters:
      - name: applicationObjectId
        in: path
        required: true
        type: string
        description: Application object ID.
        x-ms-skip-url-encoding: true
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/tenantIDInPath'
      responses:
        200:
          description: OK. The operation was successful.
          schema:
            $ref: '#/definitions/Application'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/GraphError'
    patch:
      tags:
      - Application
      operationId: Applications_Patch
      description: Update an existing application.
      parameters:
      - name: applicationObjectId
        in: path
        required: true
        type: string
        description: Application object ID.
        x-ms-skip-url-encoding: true
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/ApplicationUpdateParameters'
        description: Parameters to update an existing application.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/tenantIDInPath'
      responses:
        204:
          description: No Content
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/GraphError'
  /{tenantID}/applications/{applicationObjectId}/keyCredentials:
    get:
      tags:
      - ApplicationKeyCredentials
      operationId: Applications_ListKeyCredentials
      description: Get the keyCredentials associated with an application.
      parameters:
      - name: applicationObjectId
        in: path
        required: true
        type: string
        description: Application object ID.
        x-ms-skip-url-encoding: true
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/tenantIDInPath'
      responses:
        200:
          description: OK. The operation was successful.
          schema:
            $ref: '#/definitions/KeyCredentialListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/GraphError'
      x-ms-pageable:
        nextLinkName: ~
    patch:
      tags:
      - ApplicationKeyCredentials
      operationId: Applications_UpdateKeyCredentials
      description: Update the keyCredentials associated with an application.
      parameters:
      - name: applicationObjectId
        in: path
        required: true
        type: string
        description: Application object ID.
        x-ms-skip-url-encoding: true
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/KeyCredentialsUpdateParameters'
        description: Parameters to update the keyCredentials of an existing application.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/tenantIDInPath'
      responses:
        204:
          description: No Content
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/GraphError'
  /{tenantID}/applications/{applicationObjectId}/passwordCredentials:
    get:
      tags:
      - ApplicationPasswordCredentials
      operationId: Applications_ListPasswordCredentials
      description: Get the passwordCredentials associated with an application.
      parameters:
      - name: applicationObjectId
        in: path
        required: true
        type: string
        description: Application object ID.
        x-ms-skip-url-encoding: true
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/tenantIDInPath'
      responses:
        200:
          description: OK. The operation was successful.
          schema:
            $ref: '#/definitions/PasswordCredentialListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/GraphError'
      x-ms-pageable:
        nextLinkName: ~
    patch:
      tags:
      - ApplicationPasswordCredentials
      operationId: Applications_UpdatePasswordCredentials
      description: Update passwordCredentials associated with an application.
      parameters:
      - name: applicationObjectId
        in: path
        required: true
        type: string
        description: Application object ID.
        x-ms-skip-url-encoding: true
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/PasswordCredentialsUpdateParameters'
        description: Parameters to update passwordCredentials of an existing application.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/tenantIDInPath'
      responses:
        204:
          description: No Content
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/GraphError'
  /{tenantID}/isMemberOf:
    post:
      tags:
      - Group
      operationId: Groups_IsMemberOf
      description: Checks whether the specified user, group, contact, or service principal
        is a direct or transitive member of the specified group.
      parameters:
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/CheckGroupMembershipParameters'
        description: The check group membership parameters.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/tenantIDInPath'
      responses:
        200:
          description: OK. Indicates success. Returns true if the user, contact, group,
            or service principal is a direct or a transitive member of the specified
            group; otherwsie, false.
          schema:
            $ref: '#/definitions/CheckGroupMembershipResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/GraphError'
  /{tenantID}/groups/{groupObjectId}/$links/members/{memberObjectId}:
    delete:
      tags:
      - Group
      operationId: Groups_RemoveMember
      description: Remove a member from a group.
      parameters:
      - name: groupObjectId
        in: path
        required: true
        type: string
        description: The object ID of the group from which to remove the member.
        x-ms-skip-url-encoding: true
      - name: memberObjectId
        in: path
        required: true
        type: string
        description: Member object id
        x-ms-skip-url-encoding: true
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/tenantIDInPath'
      responses:
        204:
          description: No Content. Indicates success. No response body is returned.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/GraphError'
  /{tenantID}/groups/{groupObjectId}/$links/members:
    post:
      tags:
      - Group
      operationId: Groups_AddMember
      description: Add a member to a group.
      parameters:
      - name: groupObjectId
        in: path
        required: true
        type: string
        description: The object ID of the group to which to add the member.
        x-ms-skip-url-encoding: true
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/GroupAddMemberParameters'
        description: The URL of the member object, such as https://graph.windows.net/0b1f9851-1bf0-433f-aec3-cb9272f093dc/directoryObjects/f260bbc4-c254-447b-94cf-293b5ec434dd.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/tenantIDInPath'
      responses:
        204:
          description: No Content. Indicates success. No response body is returned.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/GraphError'
  /{tenantID}/groups/{groupObjectId}:
    delete:
      tags:
      - Group
      operationId: Groups_Delete
      description: Delete a group from the directory.
      parameters:
      - name: groupObjectId
        in: path
        required: true
        type: string
        description: The object ID of the group to delete.
        x-ms-skip-url-encoding: true
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/tenantIDInPath'
      responses:
        204:
          description: No Content
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/GraphError'
  /{tenantID}/groups:
    post:
      tags:
      - Group
      operationId: Groups_Create
      description: Create a group in the directory.
      parameters:
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/GroupCreateParameters'
        description: The parameters for the group to create.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/tenantIDInPath'
      responses:
        201:
          description: Created
          schema:
            $ref: '#/definitions/ADGroup'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/GraphError'
    get:
      tags:
      - Group
      operationId: Groups_List
      description: Gets list of groups for the current tenant.
      parameters:
      - name: $filter
        in: query
        required: false
        type: string
        description: The filter to apply to the operation.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/tenantIDInPath'
      responses:
        200:
          description: OK. The operation was successful.
          schema:
            $ref: '#/definitions/GroupListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/GraphError'
      x-ms-pageable:
        nextLinkName: odata.nextLink
        operationName: Groups_ListNext
      x-ms-odata: '#/definitions/ADGroup'
  /{tenantID}/groups/{objectId}/members:
    get:
      tags:
      - Group
      operationId: Groups_GetGroupMembers
      description: Gets the members of a group.
      parameters:
      - name: objectId
        in: path
        required: true
        type: string
        description: The object ID of the group whose members should be retrieved.
        x-ms-skip-url-encoding: true
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/tenantIDInPath'
      responses:
        200:
          description: OK. The operation was successful.
          schema:
            $ref: '#/definitions/GetObjectsResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/GraphError'
      x-ms-pageable:
        nextLinkName: odata.nextLink
        operationName: Groups_GetGroupMembersNext
  /{tenantID}/groups/{objectId}:
    get:
      tags:
      - Group
      operationId: Groups_Get
      description: Gets group information from the directory.
      parameters:
      - name: objectId
        in: path
        required: true
        type: string
        description: The object ID of the user for which to get group information.
        x-ms-skip-url-encoding: true
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/tenantIDInPath'
      responses:
        200:
          description: OK. The operation was successful.
          schema:
            $ref: '#/definitions/ADGroup'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/GraphError'
  /{tenantID}/groups/{objectId}/getMemberGroups:
    post:
      tags:
      - Group
      operationId: Groups_GetMemberGroups
      description: Gets a collection of object IDs of groups of which the specified
        group is a member.
      parameters:
      - name: objectId
        in: path
        required: true
        type: string
        description: The object ID of the group for which to get group membership.
        x-ms-skip-url-encoding: true
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/GroupGetMemberGroupsParameters'
        description: Group filtering parameters.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/tenantIDInPath'
      responses:
        200:
          description: OK. The operation was successful.
          schema:
            $ref: '#/definitions/GroupGetMemberGroupsResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/GraphError'
      x-ms-pageable:
        nextLinkName: ~
  /{tenantID}/servicePrincipals:
    post:
      tags:
      - ServicePrincipal
      operationId: ServicePrincipals_Create
      description: Creates a service principal in the directory.
      parameters:
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/ServicePrincipalCreateParameters'
        description: Parameters to create a service principal.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/tenantIDInPath'
      responses:
        201:
          description: The service principal was created successfully.
          schema:
            $ref: '#/definitions/ServicePrincipal'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/GraphError'
    get:
      tags:
      - ServicePrincipal
      operationId: ServicePrincipals_List
      description: Gets a list of service principals from the current tenant.
      parameters:
      - name: $filter
        in: query
        required: false
        type: string
        description: The filter to apply to the operation.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/tenantIDInPath'
      responses:
        200:
          description: OK. The operation was successful.
          schema:
            $ref: '#/definitions/ServicePrincipalListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/GraphError'
      x-ms-pageable:
        nextLinkName: odata.nextLink
        operationName: ServicePrincipals_ListNext
      x-ms-odata: '#/definitions/ServicePrincipal'
  /{tenantID}/servicePrincipals/{objectId}:
    delete:
      tags:
      - ServicePrincipal
      operationId: ServicePrincipals_Delete
      description: Deletes a service principal from the directory.
      parameters:
      - name: objectId
        in: path
        required: true
        type: string
        description: The object ID of the service principal to delete.
        x-ms-skip-url-encoding: true
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/tenantIDInPath'
      responses:
        204:
          description: No Content
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/GraphError'
    get:
      tags:
      - ServicePrincipal
      operationId: ServicePrincipals_Get
      description: Gets service principal information from the directory.
      parameters:
      - name: objectId
        in: path
        required: true
        type: string
        description: The object ID of the service principal to get.
        x-ms-skip-url-encoding: true
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/tenantIDInPath'
      responses:
        200:
          description: OK. The operation was successful.
          schema:
            $ref: '#/definitions/ServicePrincipal'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/GraphError'
  /{tenantID}/servicePrincipals/{objectId}/keyCredentials:
    get:
      tags:
      - ServicePrincipalKeyCredentials
      operationId: ServicePrincipals_ListKeyCredentials
      description: Get the keyCredentials associated with the specified service principal.
      parameters:
      - name: objectId
        in: path
        required: true
        type: string
        description: The object ID of the service principal for which to get keyCredentials.
        x-ms-skip-url-encoding: true
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/tenantIDInPath'
      responses:
        200:
          description: OK. The operation was successful.
          schema:
            $ref: '#/definitions/KeyCredentialListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/GraphError'
      x-ms-pageable:
        nextLinkName: ~
    patch:
      tags:
      - ServicePrincipalKeyCredentials
      operationId: ServicePrincipals_UpdateKeyCredentials
      description: Update the keyCredentials associated with a service principal.
      parameters:
      - name: objectId
        in: path
        required: true
        type: string
        description: The object ID for which to get service principal information.
        x-ms-skip-url-encoding: true
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/KeyCredentialsUpdateParameters'
        description: Parameters to update the keyCredentials of an existing service
          principal.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/tenantIDInPath'
      responses:
        204:
          description: No Content
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/GraphError'
  /{tenantID}/servicePrincipals/{objectId}/passwordCredentials:
    get:
      tags:
      - ServicePrincipalPasswordCredentials
      operationId: ServicePrincipals_ListPasswordCredentials
      description: Gets the passwordCredentials associated with a service principal.
      parameters:
      - name: objectId
        in: path
        required: true
        type: string
        description: The object ID of the service principal.
        x-ms-skip-url-encoding: true
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/tenantIDInPath'
      responses:
        200:
          description: OK. The operation was successful.
          schema:
            $ref: '#/definitions/PasswordCredentialListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/GraphError'
      x-ms-pageable:
        nextLinkName: ~
    patch:
      tags:
      - ServicePrincipalPasswordCredentials
      operationId: ServicePrincipals_UpdatePasswordCredentials
      description: Updates the passwordCredentials associated with a service principal.
      parameters:
      - name: objectId
        in: path
        required: true
        type: string
        description: The object ID of the service principal.
        x-ms-skip-url-encoding: true
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/PasswordCredentialsUpdateParameters'
        description: Parameters to update the passwordCredentials of an existing service
          principal.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/tenantIDInPath'
      responses:
        204:
          description: No Content
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/GraphError'
  /{tenantID}/users:
    post:
      tags:
      - User
      operationId: Users_Create
      description: Create a new user.
      parameters:
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/UserCreateParameters'
        description: Parameters to create a user.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/tenantIDInPath'
      responses:
        201:
          description: Created. Indicates success. The new user is returned in the
            response body.
          schema:
            $ref: '#/definitions/User'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/GraphError'
    get:
      tags:
      - User
      operationId: Users_List
      description: Gets list of users for the current tenant.
      parameters:
      - name: $filter
        in: query
        required: false
        type: string
        description: The filter to apply to the operation.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/tenantIDInPath'
      responses:
        200:
          description: OK. The operation was successful.
          schema:
            $ref: '#/definitions/UserListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/GraphError'
      x-ms-pageable:
        nextLinkName: odata.nextLink
        operationName: Users_ListNext
      x-ms-odata: '#/definitions/User'
  /{tenantID}/users/{upnOrObjectId}:
    get:
      tags:
      - User
      operationId: Users_Get
      description: Gets user information from the directory.
      parameters:
      - name: upnOrObjectId
        in: path
        required: true
        type: string
        description: The object ID or principal name of the user for which to get
          information.
        x-ms-skip-url-encoding: true
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/tenantIDInPath'
      responses:
        200:
          description: OK. The operation was successful.
          schema:
            $ref: '#/definitions/User'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/GraphError'
    patch:
      tags:
      - User
      operationId: Users_Update
      description: Updates a user.
      parameters:
      - name: upnOrObjectId
        in: path
        required: true
        type: string
        description: The object ID or principal name of the user to update.
        x-ms-skip-url-encoding: true
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/UserUpdateParameters'
        description: Parameters to update an existing user.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/tenantIDInPath'
      responses:
        204:
          description: No Content.
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/GraphError'
    delete:
      tags:
      - User
      operationId: Users_Delete
      description: Delete a user.
      parameters:
      - name: upnOrObjectId
        in: path
        required: true
        type: string
        description: The object ID or principal name of the user to delete.
        x-ms-skip-url-encoding: true
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/tenantIDInPath'
      responses:
        204:
          description: No Content
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/GraphError'
  /{tenantID}/users/{objectId}/getMemberGroups:
    post:
      tags:
      - User
      operationId: Users_GetMemberGroups
      description: Gets a collection that contains the object IDs of the groups of
        which the user is a member.
      parameters:
      - name: objectId
        in: path
        required: true
        type: string
        description: The object ID of the user for which to get group membership.
        x-ms-skip-url-encoding: true
      - name: parameters
        in: body
        required: true
        schema:
          $ref: '#/definitions/UserGetMemberGroupsParameters'
        description: User filtering parameters.
      - $ref: '#/parameters/ApiVersionParameter'
      - $ref: '#/parameters/tenantIDInPath'
      responses:
        200:
          description: OK. The operation was successful.
          schema:
            $ref: '#/definitions/UserGetMemberGroupsResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/GraphError'
      x-ms-pageable:
        nextLinkName: ~
produces:
- application/json
- text/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":33:{s:10:\"GraphError\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"odata.error\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:24:\"#/definitions/OdataError\";s:11:\"description\";s:18:\"A
  Graph API error.\";}}s:11:\"description\";s:35:\"Active Directory error information.\";}s:10:\"OdataError\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Error
  code.\";}s:7:\"message\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:19:\"x-ms-client-flatten\";b:1;s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";s:11:\"description\";s:14:\"Error
  Message.\";}}s:11:\"description\";s:41:\"Active Directory OData error information.\";}s:12:\"ErrorMessage\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:16:\"x-ms-client-name\";s:7:\"message\";s:11:\"description\";s:20:\"Error
  message value.\";}}s:11:\"description\";s:31:\"Active Directory error message.\";}s:13:\"KeyCredential\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:9:\"startDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:11:\"Start
  date.\";}s:7:\"endDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:9:\"End
  date.\";}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"Key
  value.\";}s:5:\"keyId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:7:\"Key
  ID.\";}s:5:\"usage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:49:\"Usage.
  Acceptable values are 'Verify' and 'Sign'.\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:65:\"Type.
  Acceptable values are 'AsymmetricX509Cert' and 'Symmetric'.\";}}s:11:\"description\";s:44:\"Active
  Directory Key Credential information.\";}s:18:\"PasswordCredential\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"startDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:11:\"Start
  date.\";}s:7:\"endDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:9:\"End
  date.\";}s:5:\"keyId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:7:\"Key
  ID.\";}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"Key
  value.\";}}s:11:\"description\";s:49:\"Active Directory Password Credential information.\";}s:27:\"ApplicationCreateParameters\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":7:{s:23:\"availableToOtherTenants\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:54:\"Whether
  the application is available to other tenants.\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"The
  display name of the application.\";}s:8:\"homepage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"The
  home page of the application.\";}s:14:\"identifierUris\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:41:\"A
  collection of URIs for the application.\";}s:9:\"replyUrls\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:47:\"A
  collection of reply URLs for the application.\";}s:14:\"keyCredentials\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/KeyCredential\";}s:11:\"description\";s:34:\"The
  list of KeyCredential objects.\";}s:19:\"passwordCredentials\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/PasswordCredential\";}s:11:\"description\";s:39:\"The
  list of PasswordCredential objects.\";}}s:8:\"required\";a:3:{i:0;s:23:\"availableToOtherTenants\";i:1;s:11:\"displayName\";i:2;s:14:\"identifierUris\";}s:11:\"description\";s:50:\"Request
  parameters for creating a new application.\";}s:27:\"ApplicationUpdateParameters\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:23:\"availableToOtherTenants\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:53:\"Whether
  the application is available to other tenants\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"The
  display name of the application.\";}s:8:\"homepage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"The
  home page of the application.\";}s:14:\"identifierUris\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:41:\"A
  collection of URIs for the application.\";}s:9:\"replyUrls\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:47:\"A
  collection of reply URLs for the application.\";}s:14:\"keyCredentials\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/KeyCredential\";}s:11:\"description\";s:34:\"The
  list of KeyCredential objects.\";}s:19:\"passwordCredentials\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/PasswordCredential\";}s:11:\"description\";s:39:\"The
  list of PasswordCredential objects.\";}}s:11:\"description\";s:56:\"Request parameters
  for updating an existing application.\";}s:11:\"Application\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:8:\"objectId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"The
  object ID.\";}s:10:\"objectType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"The
  object type.\";}s:5:\"appId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"The
  application ID.\";}s:14:\"appPermissions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:28:\"The
  application permissions.\";}s:23:\"availableToOtherTenants\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:57:\"Whether
  the application is be available to other tenants.\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"The
  display name of the application.\";}s:14:\"identifierUris\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:41:\"A
  collection of URIs for the application.\";}s:9:\"replyUrls\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:47:\"A
  collection of reply URLs for the application.\";}s:8:\"homepage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"The
  home page of the application.\";}}s:11:\"description\";s:41:\"Active Directory application
  information.\";}s:21:\"ApplicationListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Application\";}s:11:\"description\";s:29:\"A
  collection of applications.\";}s:14:\"odata.nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"The
  URL to get the next set of results.\";}}s:11:\"description\";s:34:\"Application
  list operation result.\";}s:23:\"KeyCredentialListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/KeyCredential\";}s:11:\"description\";s:31:\"A
  collection of KeyCredentials.\";}}s:11:\"description\";s:36:\"KeyCredential list
  operation result.\";}s:30:\"KeyCredentialsUpdateParameters\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/KeyCredential\";}s:11:\"description\";s:31:\"A
  collection of KeyCredentials.\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}s:11:\"description\";s:56:\"Request
  parameters for a KeyCredentials update operation\";}s:28:\"PasswordCredentialListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/PasswordCredential\";}s:11:\"description\";s:36:\"A
  collection of PasswordCredentials.\";}}s:11:\"description\";s:41:\"PasswordCredential
  list operation result.\";}s:35:\"PasswordCredentialsUpdateParameters\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/PasswordCredential\";}s:11:\"description\";s:36:\"A
  collection of PasswordCredentials.\";}}s:8:\"required\";a:1:{i:0;s:5:\"value\";}s:11:\"description\";s:62:\"Request
  parameters for a PasswordCredentials update operation.\";}s:9:\"AADObject\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:8:\"objectId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"The
  ID of the object.\";}s:10:\"objectType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"The
  type of AAD object.\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"The
  display name of the object.\";}s:17:\"userPrincipalName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"The
  principal name of the object.\";}s:4:\"mail\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"The
  primary email address of the object.\";}s:11:\"mailEnabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:39:\"Whether
  the AAD object is mail-enabled.\";}s:15:\"securityEnabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:43:\"Whether
  the AAD object is security-enabled.\";}s:10:\"signInName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"The
  sign-in name of the object.\";}s:21:\"servicePrincipalNames\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:67:\"A
  collection of service principal names associated with the object.\";}s:8:\"userType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"The
  user type of the object.\";}}s:11:\"description\";s:45:\"The properties of an Active
  Directory object.\";}s:16:\"GetObjectsResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/AADObject\";}s:11:\"description\";s:41:\"A
  collection of Active Directory objects.\";}s:14:\"odata.nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"The
  URL to get the next set of results.\";}}s:11:\"description\";s:63:\"The response
  to an Active Directory object inquiry API request.\";}s:24:\"GroupAddMemberParameters\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"url\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:340:\"A
  member object URL, such as \"https://graph.windows.net/0b1f9851-1bf0-433f-aec3-cb9272f093dc/directoryObjects/f260bbc4-c254-447b-94cf-293b5ec434dd\",
  where \"0b1f9851-1bf0-433f-aec3-cb9272f093dc\" is the tenantId and \"f260bbc4-c254-447b-94cf-293b5ec434dd\"
  is the objectId of the member (user, application, servicePrincipal, group) to be
  added.\";}}s:8:\"required\";a:1:{i:0;s:3:\"url\";}s:11:\"description\";s:50:\"Request
  parameters for adding a member to a group.\";}s:21:\"GroupCreateParameters\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"displayName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"Group
  display name\";}s:11:\"mailEnabled\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:127:\"Whether
  the group is mail-enabled. Must be false. This is because only pure security groups
  can be created using the Graph API.\";s:4:\"enum\";a:1:{i:0;b:0;}}s:12:\"mailNickname\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"Mail
  nickname\";}s:15:\"securityEnabled\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:130:\"Whether
  the group is a security group. Must be true. This is because only pure security
  groups can be created using the Graph API.\";s:4:\"enum\";a:1:{i:0;b:1;}}}s:8:\"required\";a:4:{i:0;s:11:\"displayName\";i:1;s:11:\"mailEnabled\";i:2;s:12:\"mailNickname\";i:3;s:15:\"securityEnabled\";}s:11:\"description\";s:44:\"Request
  parameters for creating a new group.\";}s:7:\"ADGroup\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"objectId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"The
  object ID.\";}s:10:\"objectType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"The
  object type.\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"The
  display name of the group.\";}s:15:\"securityEnabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:37:\"Whether
  the group is security-enable.\";}s:4:\"mail\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"The
  primary email address of the group.\";}}s:11:\"description\";s:35:\"Active Directory
  group information.\";}s:15:\"GroupListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/ADGroup\";}s:11:\"description\";s:40:\"A
  collection of Active Directory groups.\";}s:14:\"odata.nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"The
  URL to get the next set of results.\";}}s:11:\"description\";s:46:\"Server response
  for Get tenant groups API call\";}s:30:\"GroupGetMemberGroupsParameters\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:19:\"securityEnabledOnly\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:125:\"If
  true, only membership in security-enabled groups should be checked. Otherwise, membership
  in all groups should be checked.\";}}s:8:\"required\";a:1:{i:0;s:19:\"securityEnabledOnly\";}s:11:\"description\";s:48:\"Request
  parameters for GetMemberGroups API call.\";}s:26:\"GroupGetMemberGroupsResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:57:\"A
  collection of group IDs of which the group is a member.\";}}s:11:\"description\";s:45:\"Server
  response for GetMemberGroups API call.\";}s:30:\"CheckGroupMembershipParameters\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"groupId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"The
  object ID of the group to check.\";}s:8:\"memberId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:111:\"The
  object ID of the contact, group, user, or service principal to check for membership
  in the specified group.\";}}s:8:\"required\";a:2:{i:0;s:7:\"groupId\";i:1;s:8:\"memberId\";}s:11:\"description\";s:43:\"Request
  parameters for IsMemberOf API call.\";}s:26:\"CheckGroupMembershipResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:149:\"True
  if the specified user, group, contact, or service principal has either direct or
  transitive membership in the specified group; otherwise, false.\";}}s:11:\"description\";s:39:\"Server
  response for IsMemberOf API call\";}s:32:\"ServicePrincipalCreateParameters\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"appId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"application
  Id\";}s:14:\"accountEnabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:30:\"Whether
  the account is enabled\";}s:14:\"keyCredentials\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/KeyCredential\";}s:11:\"description\";s:38:\"A
  collection of KeyCredential objects.\";}s:19:\"passwordCredentials\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/PasswordCredential\";}s:11:\"description\";s:42:\"A
  collection of PasswordCredential objects\";}}s:8:\"required\";a:2:{i:0;s:5:\"appId\";i:1;s:14:\"accountEnabled\";}s:11:\"description\";s:56:\"Request
  parameters for creating a new service principal.\";}s:16:\"ServicePrincipal\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"objectId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"The
  object ID.\";}s:10:\"objectType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"The
  object type.\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"The
  display name of the service principal.\";}s:5:\"appId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"The
  application ID.\";}s:21:\"servicePrincipalNames\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:40:\"A
  collection of service principal names.\";}}s:11:\"description\";s:47:\"Active Directory
  service principal information.\";}s:26:\"ServicePrincipalListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ServicePrincipal\";}s:11:\"description\";s:31:\"the
  list of service principals.\";}s:14:\"odata.nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"the
  URL to get the next set of results.\";}}s:11:\"description\";s:59:\"Server response
  for get tenant service principals API call.\";}s:15:\"PasswordProfile\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"password\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:8:\"Password\";}s:28:\"forceChangePasswordNextLogin\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:49:\"Whether
  to force a password change on next login.\";}}s:8:\"required\";a:1:{i:0;s:8:\"password\";}s:11:\"description\";s:44:\"The
  password profile associated with a user.\";}s:20:\"UserCreateParameters\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":6:{s:14:\"accountEnabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:31:\"Whether
  the account is enabled.\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"The
  display name of the user.\";}s:15:\"passwordProfile\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PasswordProfile\";s:11:\"description\";s:16:\"Password
  Profile\";}s:17:\"userPrincipalName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:107:\"The
  user principal name (someuser@contoso.com). It must contain one of the verified
  domains for the tenant.\";}s:12:\"mailNickname\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"The
  mail alias for the user.\";}s:11:\"immutableId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:242:\"This
  must be specified if you are using a federated domain for the user's userPrincipalName
  (UPN) property when creating a new user account. It is used to associate an on-premises
  Active Directory user account with their Azure AD user object.\";}}s:8:\"required\";a:5:{i:0;s:14:\"accountEnabled\";i:1;s:11:\"displayName\";i:2;s:15:\"passwordProfile\";i:3;s:17:\"userPrincipalName\";i:4;s:12:\"mailNickname\";}s:11:\"description\";s:66:\"Request
  parameters for creating a new work or school account user.\";}s:20:\"UserUpdateParameters\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:14:\"accountEnabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:31:\"Whether
  the account is enabled.\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"The
  display name of the user.\";}s:15:\"passwordProfile\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PasswordProfile\";s:11:\"description\";s:33:\"The
  password profile of the user.\";}s:12:\"mailNickname\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"The
  mail alias for the user.\";}}s:11:\"description\";s:72:\"Request parameters for
  updating an existing work or school account user.\";}s:4:\"User\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:8:\"objectId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"The
  object ID.\";}s:10:\"objectType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"The
  object type.\";}s:17:\"userPrincipalName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"The
  principal name of the user.\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"The
  display name of the user.\";}s:10:\"signInName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"The
  sign-in name of the user.\";}s:4:\"mail\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"The
  primary email address of the user.\";}s:12:\"mailNickname\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"The
  mail alias for the user.\";}}s:11:\"description\";s:34:\"Active Directory user information.\";}s:29:\"UserGetMemberGroupsParameters\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:19:\"securityEnabledOnly\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:125:\"If
  true, only membership in security-enabled groups should be checked. Otherwise, membership
  in all groups should be checked.\";}}s:8:\"required\";a:1:{i:0;s:19:\"securityEnabledOnly\";}s:11:\"description\";s:48:\"Request
  parameters for GetMemberGroups API call.\";}s:25:\"UserGetMemberGroupsResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:56:\"A
  collection of group IDs of which the user is a member.\";}}s:11:\"description\";s:45:\"Server
  response for GetMemberGroups API call.\";}s:14:\"UserListResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/User\";}s:11:\"description\";s:18:\"the
  list of users.\";}s:14:\"odata.nextLink\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"The
  URL to get the next set of results.\";}}s:11:\"description\";s:46:\"Server response
  for Get tenant users API call.\";}}"
...
