---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":4:{s:7:\"version\";s:5:\"1.0.0\";s:5:\"title\";s:16:\"Draft
  Orders API\";s:11:\"description\";s:2989:\"### Draft Orders API \n  \n  This API
  is about operations you can perform on the draft order object as defind below:\n\nField
  | Definition | Data Type\n  -----|-----------|-------------------------\n  `id`|
  `id` of the draft order |`string`\n  `order_id`  | The id of the order associated
  to the draft order, once created. | `string`        \n  `name` | Name of the draft
  order, format #D<number>, where number, is an sequential identifier unique to the
  shop, starting at 1. For example #D133 | `integer`\n  `customer` | Customer object
  will be serialized with only the default address, however only the ID can be set
  in order to associate the customer to the draft order. Setting the value to null
  removes the customer from the draft order. | `object`\n  `shipping_address` | The
  mailing address to where the draft order will be shipped. | `string`\n  `billing_address`
  | The mailing address associated with the payment method. | `string`\n  `note` |
  The text of an optional note that a shop owner can attach to the draft order. |
  `string`\n  `email` | The email address used for sending notifications. |`string`\n
  \ `currency` | The three letter code for the currency to be used for the payment.
  | `string`\n  `invoice_sent_at` | DateTime when the invoice was emailed to the customer
  by Shopify. | `dateTime`\n  `invoice_url` | The url to send to the customer so that
  they can complete the checkout.  When using `send_invoice`, this url is emailed
  to the customer. This field can be used so that an API client can use another method
  of communication to provide the url to the customer. | `string`\n  `line_item`[
  ] | | array of `line_item` objects\n  `metafields`[ ] | | array of `metafield` objects\n
  \ `shipping_line` | | `object`\n  `tags` | Tags are additional short descriptors,
  commonly used for filtering and searching, formatted as a string of comma-separated
  values. Each individual tag is limited to 40 characters in length. | `string`\n
  \ `tax_exempt` | Sets whether taxes are exempt for this draft order. If this value
  is `false`, Shopify will honor the `tax_exempt` value for each `line_item`. | `boolean`\n
  \ `tax_lines` | Tax lines describing the sum of each type of tax line for line items
  and shipping line. | array of `tax_line` objects\n  `discount` | Order level discount.
  | `string`\n  `taxes_included` | Shop settings taxes are included in the price |
  `boolean`\n  `total_tax` | Total tax amount | `integer`\n  `completed_at` | Date
  at which an order was created and the draft order moved to \u201Ccompleted\u201D
  status. | `DateTime`\n  `created_at` | By default, this auto-generated property
  is the date and time when the order was created in Shopify, in ISO 8601 format.
  If you are importing orders to the Shopify platform from another system, the writable
  `processed_at` property will override the `created_at` date. | `dateTime`\n  `updated_at`
  | | `dateTime`\n  `status` | String describing the state of the draft order. Possible
  values are `open`, `invoice sent`, or `completed`. | `string`\n  \n\n \n\";s:12:\"x-draftorder\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:5:\"title\";i:1;s:4:\"rate\";i:2;s:5:\"price\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:5:\"title\";}s:4:\"rate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"Rate
  for this tax\";}s:5:\"price\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:5:\"Total\";}}}}"
host: myshopify.com
basePath: /v1
paths: ~
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":11:{s:10:\"DraftOrder\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:12:{i:0;s:2:\"id\";i:1;s:4:\"name\";i:2;s:8:\"currency\";i:3;s:10:\"line_items\";i:4;s:10:\"tax_exempt\";i:5;s:14:\"taxes_included\";i:6;s:9:\"total_tax\";i:7;s:14:\"subtotal_price\";i:8;s:11:\"total_price\";i:9;s:10:\"created_at\";i:10;s:10:\"updated_at\";i:11;s:6:\"status\";}s:10:\"properties\";O:8:\"stdClass\":26:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"The
  `id` of the draft order.\";s:8:\"readOnly\";b:1;}s:8:\"order_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:66:\"The
  `id` of the order associated to the draft order, once created.\";s:8:\"readOnly\";b:1;}s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"Name
  of the draft order\";s:8:\"readOnly\";b:1;}s:8:\"customer\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:4:\"$ref\";s:22:\"#/definitions/customer\";}s:16:\"shipping_address\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:61:\"The
  mailing address to where the draft order will be shipped.\";}s:15:\"billing_address\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:55:\"The
  mailing address associated with the payment method.\";}s:4:\"note\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:77:\"The
  text of an optional note that a shop owner can attach to the draft order.\";}s:5:\"email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:49:\"The
  email address used for sending notifications.\";}s:8:\"currency\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:66:\"The
  three letter code for the currency to be used for the payment.\";s:8:\"readOnly\";b:1;}s:15:\"invoice_sent_at\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:50:\"Date
  when the invoice was emailed to the customer.\";s:6:\"format\";s:9:\"date-time\";s:8:\"readOnly\";b:1;}s:11:\"invoice_url\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:125:\"The
  url to send to the customer for completing the checkout.  When using `send_invoice`,
  this url is emailed to the customer.\";s:8:\"readOnly\";b:1;}s:10:\"line_items\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/line_item\";}}s:10:\"metafields\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/metafield\";}}s:13:\"shipping_line\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/shipping_line\";}}s:4:\"tags\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:189:\"Tags
  are additional short descriptors, commonly used for filtering and searching, formatted
  as a string of comma-separated values. Each individual tag is limited to 40 characters
  in length.\";}s:10:\"tax_exempt\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:141:\"Sets
  whether taxes are exempt for this draft order. If this value is `false`, Shopify
  will honor the `tax_exempt` value for each `line_item`.\";}s:9:\"tax_lines\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:91:\"An
  array of `tax_line` objects, each of which details the taxes applicable to the checkout.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/tax_line\";}s:8:\"readOnly\";b:1;}s:8:\"discount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/discount\";}}s:14:\"taxes_included\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:99:\"States
  whether or not taxes are included in the order subtotal. Valid values are `true`
  or `false`.\";s:8:\"readOnly\";b:1;}s:9:\"total_tax\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"Total
  tax amount\";s:8:\"readOnly\";b:1;}s:14:\"subtotal_price\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:70:\"Subtotal
  after discounts, before shipping and taxes have been applied.\";s:8:\"readOnly\";b:1;}s:11:\"total_price\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"Includes
  discounts, shipping and taxes.\";s:8:\"readOnly\";b:1;}s:12:\"completed_at\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:87:\"Date
  at which an order was created and the draft order moved to \u201Ccompleted\u201D
  status.\";s:8:\"readOnly\";b:1;}s:10:\"created_at\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:266:\"By
  default, this auto-generated property is the date and time when the order was created
  in Shopify, in ISO 8601 format. If you are importing orders to the Shopify platform
  from another system, the writable `processed_at` property will override the `created_at
  date`\";s:8:\"readOnly\";b:1;}s:10:\"updated_at\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:56:\"The
  date and time when the draft order was last updated.\";s:8:\"readOnly\";b:1;}s:6:\"status\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:4:\"open\";i:1;s:12:\"invoice_sent\";i:2;s:9:\"completed\";}s:11:\"description\";s:85:\"String
  describing the state of the draft order - `open`, `invoice sent`, `completed`.\";s:8:\"readOnly\";b:1;}}}s:19:\"draft_order_invoice\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"to\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:210:\"Email
  associated with the `draft_order_invoice`.  If not specified, the email associated
  with the draft order, or the customer's email will be used instead.  If no email
  address is specified an error is raised.\";}s:4:\"from\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:259:\"The
  email address that the email will appear to be sent from. This defaults to the shop's
  customer email, and if none exists, simply the shop's account email. When provided,
  this email address must correspond to the email address of one of the staff accounts.\";}s:3:\"bcc\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:103:\"Optional
  array of email addresses to bcc. These must correspond to valid staff account email
  addresses.\";}s:7:\"subject\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:168:\"The
  subject of the email that will be sent. When not provided, defaults to the Draft
  Order Invoice template's subject, as specified in the shop's Notification settings.\";}s:14:\"custom_message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:56:\"An
  optional custom message inserted in the email's body.\";}}}s:8:\"checkout\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"to\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:210:\"Email
  associated with the `draft_order_invoice`.  If not specified, the email associated
  with the draft order, or the customer's email will be used instead.  If no email
  address is specified an error is raised.\";}s:4:\"from\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:255:\"Email
  address that the email will appear to be sent from. This defaults to the shop's
  customer email, and if none exists, simply the shop's account email. When provided,
  this email address must correspond to the email address of one of the staff accounts.\";}s:3:\"bcc\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"array
  of staff account e-mail addresses.\";}s:7:\"subject\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"subject
  of custom message.\";}s:14:\"custom_message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"Custom
  message.\";}}}s:9:\"line_item\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:2:\"id\";i:1;s:4:\"name\";i:2;s:8:\"quantity\";}s:10:\"properties\";O:8:\"stdClass\":19:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"Can\u2019t
  be null\";s:8:\"readOnly\";b:1;}s:10:\"variant_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:65:\"The
  `id` of the product variant corresponding to the `line_item`.\";s:8:\"readOnly\";b:0;}s:10:\"product_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:75:\"The
  `id` of the product corresponding to the line item\u2019s product variant.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"The
  readable name of the product and variant.\";}s:5:\"title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:121:\"The
  title of the product or variant.  Can only be specified if this is a custom line
  item, in which case it is mandatory.\";}s:13:\"variant_title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:64:\"The
  title of the product variant.  Default value is \u201CCustom\u201D\";}s:5:\"price\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:212:\"The
  price of the item before discounts have been applied.  Can only be specified if
  this is a custom line item, in which case it is mandatory.  To change the price
  of a product, use `discount` as specified below.\";}s:6:\"vendor\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"vendor\";}s:5:\"grams\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:106:\"Weight
  in grams.  Can only be specified if this is a custom line item.  If not specified,
  defaults to `0`.\";}s:8:\"quantity\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:8:\"quantity\";}s:17:\"requires_shipping\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:162:\"States
  whether or not the fulfillment requires shipping. Values are `true` or `false`.
  \ Can only be specified if this is a custom line item.  Defaults to `false`.\";}s:3:\"sku\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:52:\"Can
  only be specified if this is a custom line item.\";}s:7:\"taxable\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:161:\"States
  whether or not the product is taxable. Values are `true` or `false`.  Can only be
  specified if this is a custom line item.  Mandatory for custom products.\";}s:9:\"gift_card\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:68:\"Indicates
  if the product is a gift card. Values - `true` or `false`.\";}s:19:\"fulfillment_service\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:183:\"Service
  provider who is doing the fulfillment. Valid values are either `manual` or the name
  of the provider. eg `amazon`, `shipwire`, etc.  Defaults to `manual` for custom
  line items.\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:334:\"An
  array of custom information for an item that has been added to the cart. Often used
  to provide product customization options. For more information, see the [documentation
  on collecting customization information on the product page] (https://help.shopify.com/themes/customization/products/get-customization-information-for-products)\";}s:6:\"custom\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:134:\"Indicates
  if the line item is a custom line item.  `false` if the line item is a product variant,
  `true` if the line item is `custom`.\";s:8:\"readOnly\";b:1;}s:8:\"discount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/discount\";}}s:8:\"tax_line\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/tax_line\";}}}}s:13:\"shipping_rate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:6:\"handle\";i:1;s:5:\"title\";i:2;s:5:\"price\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"handle\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"handle
  of the shipping rate\";}s:5:\"title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"The
  shipping method name.\";}s:14:\"phone_required\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:127:\"Indicates
  if a phone number is required, when `shipping_rate` is applied to a draft order.
  \ Possible values - `true` or `false`\";}s:5:\"price\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"The
  price of the shipping rate.\";}}}s:13:\"shipping_line\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:5:\"title\";i:1;s:5:\"price\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"handle\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:77:\"The
  handle of the shipping rate which was selected and applied, if applicable\";}s:5:\"title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"The
  title of the shipping method.\";}s:5:\"price\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:34:\"The
  price of this shipping method.\";}s:5:\"phone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:66:\"The
  phone number, if required as specified in the `shipping_rate`.\";}s:9:\"tax_lines\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/tax_line\";}}}}s:9:\"metafield\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:44:\"Unique
  numeric identifier for the metafield.\";}}}s:8:\"tax_line\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:5:\"title\";i:1;s:4:\"rate\";i:2;s:5:\"price\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"The
  name of the tax.\";}s:4:\"rate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"The
  rate of tax to be applied.\";}s:5:\"price\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"The
  amount of tax to be charged.\";}}}s:8:\"discount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:11:\"description\";i:1;s:5:\"value\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"Reason
  for the discount\";}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:167:\"The
  value of the discount. If the type of the discount is `fixed_amount`, then this
  is a fixed dollar amount, if the type is `percentage`, then this is the percentage.\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:106:\"The
  type of the discount. Can be one of - `percentage` or `fixed_amount`. `Fixed_amount`
  is default value.\";s:4:\"enum\";a:2:{i:0;s:10:\"percentage\";i:1;s:22:\"fixed_amount
  (default)\";}}s:6:\"amount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  applied amount of the discount.\";}}}s:8:\"customer\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:205:\"Customer
  to be associated with the draft order; however only the `id` can be set in order
  to associate the customer to the draft order.  Setting the value to null removes
  the customer from the draft order.\";s:10:\"properties\";O:8:\"stdClass\":12:{s:17:\"accepts_marketing\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:125:\"Indicates
  whether or not the customer would like to receive email updates from the shop. Valid
  values are `true` and `false`.\";}s:10:\"created_at\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:55:\"The
  date and time when the customer record was created.\";}s:5:\"email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"The
  customer's email address.\";}s:10:\"first_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  customer's first name.\";}s:8:\"order_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:7:\"integer\";s:11:\"description\";s:43:\"Unique
  numeric identifier for the customer.\";}s:9:\"last_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"Customer's
  last name.\";}s:4:\"note\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"Extra
  information about the customer.\";}s:12:\"orders_count\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:55:\"The
  number of orders placed by this customer to a shop.\";}s:5:\"state\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Description.\";}s:11:\"total_spent\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:35:\"Total
  amount spent by the customer.\";}s:10:\"updated_at\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:60:\"The
  date and time when the customer record was last updated.\";}s:4:\"tags\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:196:\"Tags
  are additional short descriptors, commonly used for filtering and searching, formatted
  as a string of comma-separated values. For example, if an order has three tags -
  `tag1`, `tag2`, `tag3`.\";}}}s:5:\"Error\";O:8:\"stdClass\":2:{s:8:\"required\";a:2:{i:0;s:4:\"code\";i:1;s:7:\"message\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}"
...
