---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:9:\"Bokun API\";s:11:\"description\";s:347:\"<p>Further
  documentation of this api is available <a href=\"https://docs.google.com/document/d/1tkLLqeAvVtRrDpsM1uJZJvhHg3EfsMw1z_SN8Lbe2Rs/pub\"
  target=\"_blank\">here</a>.</p> <p>You can generate a client in your preferred language
  using <a href=\"http://editor.swagger.io/#/?import=https://bokun.github.io/api-docs/bokun.yaml\">swagger
  editor</a></p>\";s:7:\"version\";s:3:\"1.0\";}"
host: api.bokuntest.com
paths:
  /accommodation.json/search:
    post:
      produces:
      - application/json
      tags:
      - accommodation
      operationId: accommodationSearch
      summary: Search accommodations and availability
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/AccommodationQuery'
      - in: query
        description: The currency code to use for calculating prices.
        name: currency
        required: false
        type: string
        default: ISK
      - in: query
        description: The language the content should be served in
        name: lang
        required: false
        type: string
        default: EN
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/SearchResultsDto'
  /accommodation.json/check-room-availability:
    post:
      produces:
      - application/json
      tags:
      - accommodation
      operationId: checkRoomAvailability
      summary: Get a list of all rooms available for a given stay interval.
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/RoomAvailabilityRequestDto'
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/RoomAvailabilityResponseDto'
  /accommodation.json/{id}/check-availability:
    post:
      produces:
      - application/json
      tags:
      - accommodation
      operationId: checkAccommodationAvailability
      summary: Check availability for a selected Accommodation
      parameters:
      - in: path
        description: ID of the Accommodation
        name: id
        required: true
        type: integer
        format: int64
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/AccommodationQuery'
      - in: query
        description: The currency code to use for calculating prices.
        name: currency
        required: false
        type: string
        default: ISK
      - in: query
        description: The language the content should be served in
        name: lang
        required: false
        type: string
        default: EN
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/AccommodationAvailabilityReportDto'
  /accommodation.json/{id}:
    get:
      produces:
      - application/json
      tags:
      - accommodation
      operationId: getAccommodation
      summary: Get Accommodation by ID
      parameters:
      - in: path
        description: ID of accommodation to be fetched
        name: id
        required: true
        type: integer
        format: int64
      - in: query
        description: The language the content should be served in
        name: lang
        required: false
        type: string
        default: EN
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/AccommodationDto'
  /accommodation.json/{id}/rooms:
    get:
      produces:
      - application/json
      tags:
      - accommodation
      operationId: getRoomsByRoomType
      summary: Get a list of all rooms for a particular Accommodation.
      parameters:
      - in: path
        description: ID of the accommodation
        name: id
        required: true
        type: integer
        format: int64
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/RoomsGroupedByTypeContainer'
  /accommodation.json/availabilities:
    get:
      produces:
      - application/json
      tags:
      - accommodation
      operationId: getAccommodationAvailabilities
      summary: Get room availabilities for one or more accommodations over an interval
      parameters:
      - in: query
        description: Comma separated IDs of the Accommodations
        name: ids
        required: true
        type: string
      - in: query
        description: The start date of the interval (yyyy-MM-dd)
        name: start
        required: true
        type: string
      - in: query
        description: The end date of the interval (yyyy-MM-dd)
        name: end
        required: true
        type: string
      - in: query
        description: The language the content should be served in
        name: lang
        required: false
        type: string
        default: EN
      - in: query
        description: The currency code to use for calculating prices.
        name: currency
        required: false
        type: string
        default: ISK
      responses:
        200:
          description: Activity availability response.
          schema:
            $ref: '#/definitions/AccommodationAvailabilitiesDto'
  /accommodation.json/slug/{slug}:
    get:
      produces:
      - application/json
      tags:
      - accommodation
      operationId: findAccommodationBySlug
      summary: Look up Accommodation by slug
      parameters:
      - in: path
        description: The slug of the accommodation to be fetched
        name: slug
        required: true
        type: string
      - in: query
        description: The language the content should be served in
        name: lang
        required: false
        type: string
        default: EN
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/AccommodationDto'
  /car-rental.json/list:
    get:
      produces:
      - application/json
      tags:
      - car-rental
      operationId: listCarRentals
      summary: List all car rentals
      parameters:
      - in: query
        description: The currency code to use for calculating prices.
        name: currency
        required: false
        type: string
        default: ISK
      - in: query
        description: The language the content should be served in
        name: lang
        required: false
        type: string
        default: EN
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/CarRentalSearchResultsDto'
  /car-rental.json/slug/{slug}:
    get:
      produces:
      - application/json
      tags:
      - car-rental
      operationId: findCarRentalBySlug
      summary: Look up Car Rental by slug
      parameters:
      - in: path
        description: The slug of the car rental to be fetched
        name: slug
        required: true
        type: string
      - in: query
        description: The currency code to use for calculating prices.
        name: currency
        required: false
        type: string
        default: ISK
      - in: query
        description: The language the content should be served in
        name: lang
        required: false
        type: string
        default: EN
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/CarRentalDto'
  /car-rental.json/{id}:
    get:
      produces:
      - application/json
      tags:
      - car-rental
      operationId: getCarRental
      summary: Get Car Rental by ID
      parameters:
      - in: path
        description: ID of car rentals to be fetched
        name: id
        required: true
        type: integer
        format: int64
      - in: query
        description: The currency code to use for calculating prices.
        name: currency
        required: false
        type: string
        default: ISK
      - in: query
        description: The language the content should be served in
        name: lang
        required: false
        type: string
        default: EN
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/CarRentalDto'
  /car-rental.json/search-cars:
    post:
      produces:
      - application/json
      tags:
      - car-rental
      operationId: searchCars
      summary: Search types of rental cars
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/CarQuery'
      - in: query
        description: The currency code to use for calculating prices.
        name: currency
        required: false
        type: string
        default: ISK
      - in: query
        description: The language the content should be served in
        name: lang
        required: false
        type: string
        default: EN
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/CarSearchResultsDto'
  /currency.json/findAll:
    get:
      produces:
      - application/json
      tags:
      - currency
      operationId: allCurrencies
      summary: Get all Supported Currencies
      description: Get a list of all the available currencies, along with conversion
        rates.
      responses:
        200:
          description: No response was specified
          schema:
            type: array
            items:
              $ref: '#/definitions/CurrencyDto'
  /tag.json/groups:
    get:
      produces:
      - application/json
      tags:
      - tag
      operationId: getTagGroups
      summary: Get the tag groups
      parameters:
      - in: query
        description: Comma separated list of required flags
        name: flags
        required: false
        type: string
      - in: query
        description: The language the content should be served in
        name: lang
        required: false
        type: string
        default: EN
      responses:
        200:
          description: No response was specified
          schema:
            type: array
            items:
              $ref: '#/definitions/TagGroupDto'
  /category.json/{productType}:
    get:
      produces:
      - application/json
      tags:
      - category
      operationId: categoriesByProductType
      summary: Get all categories for the specified product type
      parameters:
      - in: path
        description: The product type to be categorized
        name: productType
        required: true
        type: string
      - in: query
        description: Specifies whether to get only categories for bookable items in
          this product type or not
        name: item
        required: false
        type: string
      - in: query
        description: Comma separated list of required flags
        name: flags
        required: false
        type: string
      - in: query
        description: The language the content should be served in
        name: lang
        required: false
        type: string
        default: EN
      responses:
        200:
          description: No response was specified
          schema:
            type: array
            items:
              $ref: '#/definitions/CategoryDto'
  /activity.json/{id}/upcoming-availabilities/{max}:
    get:
      produces:
      - application/json
      tags:
      - activity
      operationId: getUpcomingAvailabilities
      summary: Get the next upcoming Activity availabilities
      parameters:
      - in: path
        description: ID of activity to be fetched
        name: id
        required: true
        type: integer
        format: int64
      - in: path
        description: The max number of upcoming availabilities to get.
        name: max
        required: true
        type: integer
        format: int32
      - in: query
        description: The language the content should be served in
        name: lang
        required: false
        type: string
        default: EN
      - in: query
        description: Specify whether to include availabilities that are sold out.
        name: includeSoldOut
        required: false
        type: boolean
        default: false
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/ActivityAvailabilityDto'
  /activity.json/slug/{slug}:
    get:
      produces:
      - application/json
      tags:
      - activity
      operationId: findActivityBySlug
      summary: Look up Activity by slug
      parameters:
      - in: path
        description: The slug of the activity to be fetched
        name: slug
        required: true
        type: string
      - in: query
        description: The language the content should be served in
        name: lang
        required: false
        type: string
        default: EN
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/ActivityDto'
  /activity.json/{id}/pickup-places:
    get:
      produces:
      - application/json
      tags:
      - activity
      operationId: getPickupPlaces
      summary: Get Pickup / Dropoff places for an Activity
      parameters:
      - in: path
        description: ID of the Activity
        name: id
        required: true
        type: integer
        format: int64
      - in: query
        description: The currency code to use for calculating prices.
        name: currency
        required: false
        type: string
        default: ISK
      - in: query
        description: The language the content should be served in
        name: lang
        required: false
        type: string
        default: EN
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/ActivityPlacesDto'
  /activity.json/search:
    post:
      produces:
      - application/json
      tags:
      - activity
      operationId: activitySearch
      summary: Search activities and availability
      parameters:
      - in: body
        description: JSON object
        name: body
        required: true
        schema:
          $ref: '#/definitions/ActivityQuery'
      - in: query
        description: The currency code to use for calculating prices.
        name: currency
        required: false
        type: string
        default: ISK
      - in: query
        description: The language the content should be served in
        name: lang
        required: false
        type: string
        default: EN
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/SearchResultsDto'
  /activity.json/{id}/availabilities:
    get:
      produces:
      - application/json
      tags:
      - activity
      operationId: getActivityAvailabilities
      summary: Get Activity availabilities for an interval
      parameters:
      - in: path
        description: ID of activity to be fetched
        name: id
        required: true
        type: integer
        format: int64
      - in: query
        description: The start date of the interval ('yyyy-MM-dd')
        name: start
        required: true
        type: string
      - in: query
        description: The end date of the interval ('yyyy-MM-dd')
        name: end
        required: true
        type: string
      - in: query
        description: The language the content should be served in
        name: lang
        required: false
        type: string
        default: EN
      - in: query
        description: The currency code to use for calculating prices.
        name: currency
        required: false
        type: string
        default: ISK
      - in: query
        description: Specify whether to include availabilities that are sold out.
        name: includeSoldOut
        required: false
        type: boolean
        default: false
      responses:
        200:
          description: No response was specified
          schema:
            type: array
            items:
              $ref: '#/definitions/ActivityAvailabilityDto'
  /activity.json/active-ids:
    get:
      produces:
      - application/json
      tags:
      - activity
      operationId: getActivityIds
      summary: Get IDs of all active Activities that can be booked
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/SellableActivities'
  /activity.json/list-by-id:
    get:
      produces:
      - application/json
      tags:
      - activity
      operationId: activityListByIds
      summary: Get a list of Activities matching the IDs provided
      parameters:
      - in: query
        description: Comma separated list of Activity IDs
        name: ids
        required: true
        type: string
      - in: query
        description: The currency code to use for calculating prices.
        name: currency
        required: false
        type: string
        default: ISK
      - in: query
        description: The language the content should be served in
        name: lang
        required: false
        type: string
        default: EN
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/SearchResultsDto'
  /activity.json/{id}/price-list:
    get:
      produces:
      - application/json
      tags:
      - activity
      operationId: priceList
      summary: Get Activity price list
      parameters:
      - in: path
        description: ID of activity for which we want prices
        name: id
        required: true
        type: integer
        format: int64
      - in: query
        description: The currency code in which we want the prices.
        name: currency
        required: false
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/ActivityPriceListDto'
  /activity.json/{id}:
    get:
      produces:
      - application/json
      tags:
      - activity
      operationId: getActivity
      summary: Get Activity by ID
      parameters:
      - in: path
        description: ID of activity to be fetched
        name: id
        required: true
        type: integer
        format: int64
      - in: query
        description: The currency code to use for calculating prices.
        name: currency
        required: false
        type: string
        default: ISK
      - in: query
        description: The language the content should be served in
        name: lang
        required: false
        type: string
        default: EN
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/ActivityDto'
  /shopping-cart.json/session/{sessionId}/car-rental:
    post:
      produces:
      - application/json
      tags:
      - shopping-cart
      operationId: addCarRentalToSessionCart
      summary: Add car rental booking to a session cart
      parameters:
      - in: path
        description: The session ID of shopping cart
        name: sessionId
        required: true
        type: string
      - in: body
        description: JSON object describing the car rental booking request, can be
          array of such objects
        name: body
        required: true
        schema:
          $ref: '#/definitions/CarRentalBookingRequestDto'
      - in: query
        description: Affiliate tracking code.
        name: trackingCode
        required: false
        type: string
      - in: query
        description: ID of the vessel associated with this booking.
        name: vesselId
        required: false
        type: integer
        format: int64
      - in: query
        description: ID of the harbour associated with this booking.
        name: harbourId
        required: false
        type: integer
        format: int64
      - in: query
        description: The currency code to use for calculating prices.
        name: currency
        required: false
        type: string
        default: ISK
      - in: query
        description: The language the content should be served in
        name: lang
        required: false
        type: string
        default: EN
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/ShoppingCart'
  /shopping-cart.json/session/{sessionId}:
    get:
      produces:
      - application/json
      tags:
      - shopping-cart
      operationId: getSessionCart
      summary: Get a session shopping cart
      parameters:
      - in: path
        description: The session ID of shopping cart to be fetched
        name: sessionId
        required: true
        type: string
      - in: query
        description: The currency code to use for calculating prices.
        name: currency
        required: false
        type: string
        default: ISK
      - in: query
        description: The language the content should be served in
        name: lang
        required: false
        type: string
        default: EN
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/ShoppingCart'
  /shopping-cart.json/session/{sessionId}/remove-car/{carBookingId}:
    get:
      produces:
      - application/json
      tags:
      - shopping-cart
      operationId: removeCarFromSessionCart
      summary: Remove a car booking from a session cart
      parameters:
      - in: path
        description: The session ID of shopping cart
        name: sessionId
        required: true
        type: string
      - in: path
        description: The ID of the car booking to remove
        name: carBookingId
        required: true
        type: integer
        format: int64
      - in: query
        description: The currency code to use for calculating prices.
        name: currency
        required: false
        type: string
        default: ISK
      - in: query
        description: The language the content should be served in
        name: lang
        required: false
        type: string
        default: EN
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/ShoppingCart'
  /shopping-cart.json/session/{sessionId}/route:
    post:
      produces:
      - application/json
      tags:
      - shopping-cart
      operationId: addRouteToSessionCart
      summary: Add route booking to a session cart
      parameters:
      - in: path
        description: The session ID of shopping cart
        name: sessionId
        required: true
        type: string
      - in: body
        description: JSON object describing the route booking request, can be array
          of such objects
        name: body
        required: true
        schema:
          $ref: '#/definitions/TransportBookingRequestDto'
      - in: query
        description: Affiliate tracking code.
        name: trackingCode
        required: false
        type: string
      - in: query
        description: ID of the vessel associated with this booking.
        name: vesselId
        required: false
        type: integer
        format: int64
      - in: query
        description: ID of the harbour associated with this booking.
        name: harbourId
        required: false
        type: integer
        format: int64
      - in: query
        description: The currency code to use for calculating prices.
        name: currency
        required: false
        type: string
        default: ISK
      - in: query
        description: The language the content should be served in
        name: lang
        required: false
        type: string
        default: EN
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/ShoppingCart'
  /shopping-cart.json/session/{sessionId}/remove-room/{roomBookingId}:
    get:
      produces:
      - application/json
      tags:
      - shopping-cart
      operationId: removeRoomFromSessionCart
      summary: Remove a room booking from a session cart
      parameters:
      - in: path
        description: The session ID of shopping cart
        name: sessionId
        required: true
        type: string
      - in: path
        description: The ID of the room booking to remove
        name: roomBookingId
        required: true
        type: integer
        format: int64
      - in: query
        description: The currency code to use for calculating prices.
        name: currency
        required: false
        type: string
        default: ISK
      - in: query
        description: The language the content should be served in
        name: lang
        required: false
        type: string
        default: EN
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/ShoppingCart'
  /shopping-cart.json/session/{sessionId}/remove-extra/{bType}/{bId}/{eId}:
    get:
      produces:
      - application/json
      tags:
      - shopping-cart
      operationId: removeExtraBookingFromSessionCart
      summary: Remove an extra booking from an existing parent booking in a session
        cart
      parameters:
      - in: path
        description: The session ID of shopping cart
        name: sessionId
        required: true
        type: string
      - in: path
        description: The booking type
        name: bType
        required: true
        type: string
      - in: path
        description: The ID of the parent booking of this type
        name: bId
        required: true
        type: integer
        format: int64
      - in: path
        description: The ID of the extra to be removed (NOT the extra booking)
        name: eId
        required: true
        type: integer
        format: int64
      - in: query
        description: The currency code to use for calculating prices.
        name: currency
        required: false
        type: string
        default: ISK
      - in: query
        description: The language the content should be served in
        name: lang
        required: false
        type: string
        default: EN
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/ShoppingCart'
  /shopping-cart.json/session/{sessionId}/accommodation:
    post:
      produces:
      - application/json
      tags:
      - shopping-cart
      operationId: addAccommodationToSessionCart
      summary: Add accommodation booking to a session cart
      parameters:
      - in: path
        description: The session ID of shopping cart
        name: sessionId
        required: true
        type: string
      - in: body
        description: JSON object describing the accommodation booking request, can
          be array of such objects
        name: body
        required: true
        schema:
          $ref: '#/definitions/AccommodationBookingRequestDto'
      - in: query
        description: Affiliate tracking code.
        name: trackingCode
        required: false
        type: string
      - in: query
        description: ID of the vessel associated with this booking.
        name: vesselId
        required: false
        type: integer
        format: int64
      - in: query
        description: ID of the harbour associated with this booking.
        name: harbourId
        required: false
        type: integer
        format: int64
      - in: query
        description: The currency code to use for calculating prices.
        name: currency
        required: false
        type: string
        default: ISK
      - in: query
        description: The language the content should be served in
        name: lang
        required: false
        type: string
        default: EN
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/ShoppingCart'
  /shopping-cart.json/session/{sessionId}/activity:
    post:
      produces:
      - application/json
      tags:
      - shopping-cart
      operationId: addActivityToSessionCart
      summary: Add activity booking to a session cart
      parameters:
      - in: path
        description: The session ID of shopping cart
        name: sessionId
        required: true
        type: string
      - in: body
        description: JSON object describing the activity booking request, can be array
          of such objects
        name: body
        required: true
        schema:
          $ref: '#/definitions/ActivityBookingRequestDto'
      - in: query
        description: Affiliate tracking code.
        name: trackingCode
        required: false
        type: string
      - in: query
        description: ID of the vessel associated with this booking.
        name: vesselId
        required: false
        type: integer
        format: int64
      - in: query
        description: ID of the harbour associated with this booking.
        name: harbourId
        required: false
        type: integer
        format: int64
      - in: query
        description: The currency code to use for calculating prices.
        name: currency
        required: false
        type: string
        default: ISK
      - in: query
        description: The language the content should be served in
        name: lang
        required: false
        type: string
        default: EN
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/ShoppingCart'
  /shopping-cart.json/session/{sessionId}/remove-accommodation/{accommodationBookingId}:
    get:
      produces:
      - application/json
      tags:
      - shopping-cart
      operationId: removeAccommodationFromSessionCart
      summary: Remove an accommodation booking from a session cart
      parameters:
      - in: path
        description: The session ID of shopping cart
        name: sessionId
        required: true
        type: string
      - in: path
        description: The ID of the accommodation booking to remove
        name: accommodationBookingId
        required: true
        type: integer
        format: int64
      - in: query
        description: The currency code to use for calculating prices.
        name: currency
        required: false
        type: string
        default: ISK
      - in: query
        description: The language the content should be served in
        name: lang
        required: false
        type: string
        default: EN
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/ShoppingCart'
  /shopping-cart.json/session/{sessionId}/remove-activity/{activityBookingId}:
    get:
      produces:
      - application/json
      tags:
      - shopping-cart
      operationId: removeActivityFromSessionCart
      summary: Remove an activity booking from a session cart
      parameters:
      - in: path
        description: The session ID of shopping cart
        name: sessionId
        required: true
        type: string
      - in: path
        description: The ID of the activity booking to remove
        name: activityBookingId
        required: true
        type: integer
        format: int64
      - in: query
        description: The currency code to use for calculating prices.
        name: currency
        required: false
        type: string
        default: ISK
      - in: query
        description: The language the content should be served in
        name: lang
        required: false
        type: string
        default: EN
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/ShoppingCart'
  /shopping-cart.json/session/{sessionId}/remove-car-rental/{carRentalBookingId}:
    get:
      produces:
      - application/json
      tags:
      - shopping-cart
      operationId: removeCarRentalFromSessionCart
      summary: Remove a car rental booking from a session cart
      parameters:
      - in: path
        description: The session ID of shopping cart
        name: sessionId
        required: true
        type: string
      - in: path
        description: The ID of the car rental booking to remove
        name: carRentalBookingId
        required: true
        type: integer
        format: int64
      - in: query
        description: The currency code to use for calculating prices.
        name: currency
        required: false
        type: string
        default: ISK
      - in: query
        description: The language the content should be served in
        name: lang
        required: false
        type: string
        default: EN
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/ShoppingCart'
  /shopping-cart.json/session/{sessionId}/add-or-update-extra/{bType}/{bId}:
    post:
      produces:
      - application/json
      tags:
      - shopping-cart
      operationId: addOrUpdateExtraBookingInSessionCart
      summary: Add or update an extra booking for an existing parent booking in a
        session cart
      parameters:
      - in: path
        description: The session ID of shopping cart
        name: sessionId
        required: true
        type: string
      - in: path
        description: The booking type
        name: bType
        required: true
        type: string
      - in: path
        description: The ID of the parent booking of this type
        name: bId
        required: true
        type: integer
        format: int64
      - in: body
        description: JSON object describing the extra booking request
        name: body
        required: true
        schema:
          $ref: '#/definitions/ExtraBookingRequestDto'
      - in: query
        description: The currency code to use for calculating prices.
        name: currency
        required: false
        type: string
        default: ISK
      - in: query
        description: The language the content should be served in
        name: lang
        required: false
        type: string
        default: EN
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/ShoppingCart'
  /shopping-cart.json/session/{sessionId}/remove-route/{routeBookingId}:
    get:
      produces:
      - application/json
      tags:
      - shopping-cart
      operationId: removeRouteFromSessionCart
      summary: Remove a route booking from a session cart
      parameters:
      - in: path
        description: The session ID of shopping cart
        name: sessionId
        required: true
        type: string
      - in: path
        description: The ID of the route booking to remove
        name: routeBookingId
        required: true
        type: integer
        format: int64
      - in: query
        description: The currency code to use for calculating prices.
        name: currency
        required: false
        type: string
        default: ISK
      - in: query
        description: The language the content should be served in
        name: lang
        required: false
        type: string
        default: EN
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/ShoppingCart'
  /language.json/findAll:
    get:
      produces:
      - application/json
      tags:
      - language
      operationId: allLanguages
      summary: Get all Languages supported by the Channel
      responses:
        200:
          description: No response was specified
          schema:
            type: array
            items:
              $ref: '#/definitions/TranslationLanguageDto'
  /route.json/list:
    get:
      produces:
      - application/json
      tags:
      - route
      operationId: listRoutes
      summary: 'List '
      parameters:
      - in: query
        description: The currency code to use for calculating prices.
        name: currency
        required: false
        type: string
        default: ISK
      - in: query
        description: The language the content should be served in
        name: lang
        required: false
        type: string
        default: EN
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/RouteDto'
  /route.json/check-availability:
    post:
      produces:
      - application/json
      tags:
      - route
      operationId: checkRouteAvailability
      summary: Get availability report for a particular route
      parameters:
      - in: body
        description: JSON query
        name: query
        required: true
        schema:
          $ref: '#/definitions/TransportQuery'
      - in: query
        description: The currency code to use for calculating prices.
        name: currency
        required: false
        type: string
        default: ISK
      - in: query
        description: The language the content should be served in
        name: lang
        required: false
        type: string
        default: EN
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/RouteAvailabilityReportDto'
  /route.json/{id}:
    get:
      produces:
      - application/json
      tags:
      - route
      operationId: getRoute
      summary: Get Route by ID
      parameters:
      - in: path
        description: ID of transport route to be fetched
        name: id
        required: true
        type: integer
        format: int64
      - in: query
        description: The currency code to use for calculating prices.
        name: currency
        required: false
        type: string
        default: ISK
      - in: query
        description: The language the content should be served in
        name: lang
        required: false
        type: string
        default: EN
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/RouteDto'
  /question.json/shopping-cart/{sessionId}:
    get:
      produces:
      - application/json
      tags:
      - question
      operationId: forShoppingCart
      summary: Get questions for the shopping cart specified
      parameters:
      - in: path
        description: The session ID of shopping cart
        name: sessionId
        required: true
        type: string
      responses:
        200:
          description: The questions
          schema:
            $ref: '#/definitions/BookingQuestionsDto'
    post:
      produces:
      - application/json
      tags:
      - question
      operationId: answerShoppingCart
      summary: Answer questions for the shopping cart specified
      parameters:
      - in: path
        description: The session ID of shopping cart
        name: sessionId
        required: true
        type: string
      - in: body
        description: The answers
        name: body
        required: true
        schema:
          $ref: '#/definitions/BookingAnswersDto'
      responses:
        200:
          description: API response
          schema:
            $ref: '#/definitions/ApiResponse'
  /question.json/booking/{bookingId}:
    get:
      produces:
      - application/json
      tags:
      - question
      operationId: forBooking
      summary: Get questions for the booking specified
      parameters:
      - in: path
        description: The ID of the booking
        name: bookingId
        required: true
        format: int64
        type: integer
      responses:
        200:
          description: The questions
          schema:
            $ref: '#/definitions/BookingQuestionsDto'
    post:
      produces:
      - application/json
      tags:
      - question
      operationId: answerBooking
      summary: Answer questions for the booking specified
      parameters:
      - in: path
        description: The ID of the booking
        name: bookingId
        required: true
        format: int64
        type: integer
      - in: body
        description: The answers
        name: body
        required: true
        schema:
          $ref: '#/definitions/BookingAnswersDto'
      responses:
        200:
          description: API Response
          schema:
            $ref: '#/definitions/ApiResponse'
  /question.json/activity-booking/{activityBookingId}:
    get:
      produces:
      - application/json
      tags:
      - question
      operationId: forActivityBooking
      summary: Get questions for the activity booking specified
      parameters:
      - in: path
        description: The ID of the activity booking
        name: activityBookingId
        required: true
        format: int64
        type: integer
      responses:
        200:
          description: Questions
          schema:
            $ref: '#/definitions/BookingQuestionsDto'
    post:
      produces:
      - application/json
      tags:
      - question
      operationId: answerActivityBooking
      summary: Answer questions for the activity booking specified
      parameters:
      - in: path
        description: The ID of the activity booking
        name: activityBookingId
        required: true
        format: int64
        type: integer
      - in: body
        description: The answers
        name: body
        required: true
        schema:
          $ref: '#/definitions/BookingAnswersDto'
      responses:
        200:
          description: API response
          schema:
            $ref: '#/definitions/ApiResponse'
  /cart.json/{sessionId}:
    get:
      produces:
      - application/json
      tags:
      - cart
      operationId: cartGet
      summary: Get the contents of the shopping cart with the session ID supplied.
      parameters:
      - in: path
        description: The session ID of shopping cart
        name: sessionId
        required: true
        type: string
      responses:
        200:
          description: The shopping cart
          schema:
            $ref: '#/definitions/ShoppingCart'
  /cart.json/{sessionId}/activity:
    post:
      produces:
      - application/json
      tags:
      - cart
      operationId: cartAddActivity
      summary: Add an activity to the shopping cart
      parameters:
      - in: path
        description: The session ID of shopping cart
        name: sessionId
        required: true
        type: string
      - in: body
        description: The activity booking request
        name: body
        required: true
        schema:
          $ref: '#/definitions/ActivityBookingRequest'
      responses:
        200:
          description: The shopping cart
          schema:
            $ref: '#/definitions/ShoppingCart'
  /cart.json/{sessionId}/remove/{productBookingConfirmationCode}:
    get:
      produces:
      - application/json
      tags:
      - cart
      operationId: cartRemove
      summary: Remove a product booking from the shopping cart.
      parameters:
      - in: path
        description: The session ID of shopping cart
        name: sessionId
        required: true
        type: string
      - in: path
        description: The confirmation code of the product booking you want to remove
        name: productBookingConfirmationCode
        required: true
        type: string
      responses:
        200:
          description: The shopping cart
          schema:
            $ref: '#/definitions/ShoppingCart'
  /cart.json/{sessionId}/apply-promo-code/{promoCode}:
    get:
      produces:
      - application/json
      tags:
      - cart
      operationId: cartApplyPromoCode
      summary: Apply a promo code to the shopping cart.
      parameters:
      - in: path
        description: The session ID of shopping cart
        name: sessionId
        required: true
        type: string
      - in: path
        description: The promo code you wish to apply to the shopping cart
        name: promoCode
        required: true
        type: string
      responses:
        200:
          description: The shopping cart
          schema:
            $ref: '#/definitions/ShoppingCart'
  /cart.json/{sessionId}/remove-promo-code:
    get:
      produces:
      - application/json
      tags:
      - cart
      operationId: cartRemovePromoCode
      summary: Remove any promo code from the shopping cart.
      parameters:
      - in: path
        description: The session ID of shopping cart
        name: sessionId
        required: true
        type: string
      responses:
        200:
          description: The shopping cart
          schema:
            $ref: '#/definitions/ShoppingCart'
  /cart.json/{sessionId}/apply-gift-card/{giftCardCode}:
    get:
      produces:
      - application/json
      tags:
      - cart
      operationId: cartApplyGiftCard
      summary: Apply a gift card to the shopping cart.
      parameters:
      - in: path
        description: The session ID of shopping cart
        name: sessionId
        required: true
        type: string
      - in: path
        description: The gift card code you wish to apply to the shopping cart
        name: giftCardCode
        required: true
        type: string
      responses:
        200:
          description: The shopping cart
          schema:
            $ref: '#/definitions/ShoppingCart'
  /cart.json/{sessionId}/track-affiliate/{affiliateCode}:
    get:
      produces:
      - application/json
      tags:
      - cart
      operationId: cartApplyAffiliate
      summary: Apply an affiliate tracking code to the shopping cart.
      parameters:
      - in: path
        description: The session ID of shopping cart
        name: sessionId
        required: true
        type: string
      - in: path
        description: The affiliate tracking code you wish to apply to the shopping
          cart
        name: affiliateCode
        required: true
        type: string
      responses:
        200:
          description: The shopping cart
          schema:
            $ref: '#/definitions/ShoppingCart'
  /checkout.json/options/shopping-cart/{sessionId}:
    get:
      produces:
      - application/json
      tags:
      - checkout
      operationId: checkoutOptionsForShoppingCart
      summary: Get checkout options for the shopping cart specified
      parameters:
      - in: path
        description: The session ID of shopping cart
        name: sessionId
        required: true
        type: string
      responses:
        200:
          description: The checkout options
          schema:
            $ref: '#/definitions/Checkout'
  /checkout.json/options/booking-request:
    post:
      produces:
      - application/json
      tags:
      - checkout
      operationId: checkoutOptionsForBookingRequest
      summary: Get checkout options for the booking request specified
      parameters:
      - in: body
        description: The booking request
        name: body
        required: true
        schema:
          $ref: '#/definitions/BookingRequest'
      responses:
        200:
          description: The checkout options
          schema:
            $ref: '#/definitions/Checkout'
  /checkout.json/submit:
    post:
      produces:
      - application/json
      tags:
      - checkout
      operationId: processCheckout
      summary: Process the checkout request
      parameters:
      - in: body
        description: The booking request
        name: body
        required: true
        schema:
          $ref: '#/definitions/CheckoutRequest'
      responses:
        200:
          description: The checkout response
          schema:
            $ref: '#/definitions/CheckoutResponse'
  /checkout.json/confirm-reserved/{code}:
    post:
      produces:
      - application/json
      tags:
      - checkout
      operationId: confirmReservedCheckout
      summary: Confirm a reservation made via checkout
      parameters:
      - in: path
        description: The booking confirmation code
        name: code
        required: true
        type: string
      - in: body
        description: The booking request
        name: body
        required: true
        schema:
          $ref: '#/definitions/BookingConfirmation'
      responses:
        200:
          description: The checkout response
          schema:
            $ref: '#/definitions/CheckoutResponse'
  /booking.json/guest/{sessionId}/reserved:
    get:
      produces:
      - application/json
      tags:
      - booking
      operationId: guestGetReserved
      summary: Get a list of reserved bookings for the guest (if any exist)
      parameters:
      - in: path
        description: The session ID of the guest
        name: sessionId
        required: true
        type: string
      - in: query
        description: The currency code to use for calculating prices.
        name: currency
        required: false
        type: string
        default: ISK
      responses:
        200:
          description: No response was specified
          schema:
            type: array
            items:
              $ref: '#/definitions/booking'
  /booking.json/activity-booking/{confirmationCode}/customer-status/{status}:
    get:
      produces:
      - application/json
      tags:
      - booking
      operationId: setActivityBookingCustomerStatus
      summary: Change the arrived status of an activity booking
      parameters:
      - in: path
        description: The confirmation code for the product booking
        name: confirmationCode
        required: true
        type: string
      - in: path
        description: The arrived status (yes/no true/false)
        name: status
        required: true
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/ActivityBookingDetailsDto'
  /booking.json/cancel-product-booking/{productConfirmationCode}:
    post:
      produces:
      - application/json
      tags:
      - booking
      operationId: cancelProductBooking
      summary: Cancel for given product booking
      parameters:
      - in: path
        description: The confirmation code for the activity booking
        name: productConfirmationCode
        required: true
        type: string
      - in: body
        description: JSON object
        name: body
        required: true
        schema:
          $ref: '#/definitions/cancelProductBooking'
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/ApiResponse'
  /booking.json/cancel-booking/{confirmationCode}:
    post:
      produces:
      - application/json
      tags:
      - booking
      operationId: cancelBooking
      summary: Cancel for given booking
      parameters:
      - in: path
        description: The confirmation code for the booking that you want to cancel
        name: confirmationCode
        required: true
        type: string
      - in: body
        description: JSON object
        name: body
        required: true
        schema:
          $ref: '#/definitions/cancelBooking'
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/ApiResponse'
  /booking.json/accommodation-booking/{id}:
    get:
      produces:
      - application/json
      tags:
      - booking
      operationId: accommodationBooking
      summary: Show accommodation booking information
      parameters:
      - in: path
        description: The id or confirmation code for the product booking
        name: id
        required: true
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/AccommodationBookingDetailsDto'
  /booking.json/car-rental-booking/reserve-and-confirm:
    post:
      produces:
      - application/json
      tags:
      - booking
      operationId: reserveAndConfirmCarRentalBooking
      summary: Reserve and confirm a single car rental booking (bypasses shopping
        cart)
      parameters:
      - in: body
        description: JSON object
        name: body
        required: true
        schema:
          $ref: '#/definitions/SingleCarRentalBookingRequestDto'
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/booking'
  /booking.json/{confirmationCode}/abort-reserved:
    get:
      produces:
      - application/json
      tags:
      - booking
      operationId: abortReservedBooking
      summary: Abort a reserved booking
      parameters:
      - in: path
        description: The confirmation code of the booking. The booking ID can also
          be used.
        name: confirmationCode
        required: true
        type: string
      - in: query
        description: Specifies whether the booking is aborted due to a timeout.
        name: timeout
        required: false
        type: boolean
        default: false
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/ApiResponse'
  /booking.json/car-rental-booking/{confirmationCode}/customer-status/{status}:
    get:
      produces:
      - application/json
      tags:
      - booking
      operationId: setCarRentalBookingCustomerStatus
      summary: Change the arrived status of a car rental booking
      parameters:
      - in: path
        description: The confirmation code for the product booking
        name: confirmationCode
        required: true
        type: string
      - in: path
        description: The arrived status (yes/no or true/false)
        name: status
        required: true
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/CarRentalBookingDetailsDto'
  /booking.json/accommodation-booking/{confirmationCode}/customer-status/{status}:
    get:
      produces:
      - application/json
      tags:
      - booking
      operationId: setAccommodationBookingCustomerStatus
      summary: Change the arrived status of an accommodation booking
      parameters:
      - in: path
        description: The confirmation code for the product booking
        name: confirmationCode
        required: true
        type: string
      - in: path
        description: The arrived status (yes/no true/false)
        name: status
        required: true
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/AccommodationBookingDetailsDto'
  /booking.json/activity-booking/reserve-and-confirm:
    post:
      produces:
      - application/json
      tags:
      - booking
      operationId: reserveAndConfirmActivityBooking
      summary: Reserve and confirm a single activity booking (bypasses shopping cart)
      parameters:
      - in: body
        description: JSON object
        name: body
        required: true
        schema:
          $ref: '#/definitions/SingleActivityBookingRequestDto'
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/booking'
  /booking.json/accommodation-booking/{productConfirmationCode}/ticket:
    get:
      produces:
      - application/pdf
      tags:
      - booking
      operationId: getAccommodationTicket
      summary: Get ticket for given accommodation booking
      parameters:
      - in: path
        description: The confirmation code of the accommodation booking
        name: productConfirmationCode
        required: true
        type: string
      responses:
        200:
          description: No response was specified
  /booking.json/{confirmationCode}/confirm:
    post:
      produces:
      - application/json
      tags:
      - booking
      operationId: confirmBooking
      summary: Confirm a booking (after payment)
      parameters:
      - in: path
        description: The confirmation code of the booking. The booking ID can also
          be used.
        name: confirmationCode
        required: true
        type: string
      - in: query
        description: The currency code to use for calculating prices.
        name: currency
        required: false
        type: string
        default: ISK
      - in: query
        description: The language the content should be served in
        name: lang
        required: false
        type: string
        default: IS
      - in: query
        description: Specifies whether to send email booking confirmation to the customer
        name: sendCustomerNotification
        required: false
        type: boolean
        default: true
      - in: body
        description: The confirmation object, which can optionally contain payments
          and other data
        name: body
        required: true
        schema:
          $ref: '#/definitions/BookingConfirmationDto'
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/booking'
  /booking.json/booking/{confirmationCode}:
    get:
      produces:
      - application/json
      tags:
      - booking
      operationId: booking
      summary: Fetch a booking by confirmation code
      parameters:
      - in: path
        description: The confirmation code of the booking
        name: confirmationCode
        required: true
        type: string
      - in: query
        description: The currency code to use for calculating prices.
        name: currency
        required: false
        type: string
        default: ISK
      - in: query
        description: The language the content should be served in
        name: lang
        required: false
        type: string
        default: IS
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/booking'
  /booking.json/activity-booking/{id}:
    get:
      produces:
      - application/json
      tags:
      - booking
      operationId: activityBooking
      summary: Show activity booking information
      parameters:
      - in: path
        description: The id or confirmation code for the product booking
        name: id
        required: true
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/ActivityBookingDetailsDto'
  /booking.json/route-booking/{confirmationCode}/customer-status/{status}:
    get:
      produces:
      - application/json
      tags:
      - booking
      operationId: setRouteBookingCustomerStatus
      summary: Change the arrived status of a route booking
      parameters:
      - in: path
        description: The confirmation code for the product booking
        name: confirmationCode
        required: true
        type: string
      - in: path
        description: The arrived status (yes/no or true/false)
        name: status
        required: true
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/RouteBookingDetailsDto'
  /booking.json/{confirmationCode}/payment-error:
    post:
      produces:
      - application/json
      tags:
      - booking
      operationId: paymentError
      summary: Indicate that an error occurred in payment
      parameters:
      - in: path
        description: The confirmation code of the booking. The booking ID can also
          be used.
        name: confirmationCode
        required: true
        type: string
      - in: body
        description: JSON object describing the error
        name: body
        required: true
        schema:
          $ref: '#/definitions/ErrorDto'
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/ApiResponse'
  /booking.json/accommodation-booking/reserve-and-confirm:
    post:
      produces:
      - application/json
      tags:
      - booking
      operationId: reserveAndConfirmAccommodationBooking
      summary: Reserve and confirm a single accommodation booking (bypasses shopping
        cart)
      parameters:
      - in: body
        description: JSON object
        name: body
        required: true
        schema:
          $ref: '#/definitions/SingleAccommodationBookingRequestDto'
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/booking'
  /booking.json/guest/{sessionId}/reserve-pay-confirm:
    post:
      produces:
      - application/json
      tags:
      - booking
      operationId: guestReserveChargeAndConfirm
      summary: Reserve the booking for the guest, charge the card and confirm
      parameters:
      - in: path
        description: The session ID of the guest
        name: sessionId
        required: true
        type: string
      - in: query
        description: The currency code to use for calculating prices.
        name: currency
        required: false
        type: string
        default: ISK
      - in: query
        description: Specifies whether to send email booking confirmation to the customer
        name: sendCustomerNotification
        required: false
        type: boolean
        default: true
      - in: body
        description: JSON object
        name: body
        required: true
        schema:
          $ref: '#/definitions/BookingReservationRequestDto'
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/booking'
  /booking.json/transport-booking/{productConfirmationCode}/ticket:
    get:
      produces:
      - application/pdf
      tags:
      - booking
      operationId: getTransportTicket
      summary: Get ticket for given transport booking
      parameters:
      - in: path
        description: The confirmation code of the transport booking
        name: productConfirmationCode
        required: true
        type: string
      responses:
        200:
          description: No response was specified
  /booking.json/product-booking-search:
    post:
      produces:
      - application/json
      tags:
      - booking
      operationId: productBookingSearch
      summary: Search for bookings and return a list of booking information
      parameters:
      - in: body
        description: JSON object
        name: body
        required: true
        schema:
          $ref: '#/definitions/ProductBookingQuery'
      responses:
        200:
          description: No response was specified
          schema:
            type: array
            items:
              $ref: '#/definitions/ProductBookingSearchResultsDto'
  /booking.json/{confirmationCode}/move-back-to-cart/session/{sessionId}:
    get:
      produces:
      - application/json
      tags:
      - booking
      operationId: moveReservedBookingBackToSessionCart
      summary: Move a reserved booking back to a session cart
      parameters:
      - in: path
        description: The session ID of the guest
        name: sessionId
        required: true
        type: string
      - in: path
        description: The confirmation code of the booking. The booking ID can also
          be used.
        name: confirmationCode
        required: true
        type: string
      - in: query
        description: The currency code to use for calculating prices.
        name: currency
        required: false
        type: string
        default: ISK
      - in: query
        description: The language the content should be served in
        name: lang
        required: false
        type: string
        default: IS
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/ShoppingCart'
  /booking.json/guest/{sessionId}/reserve:
    post:
      produces:
      - application/json
      tags:
      - booking
      operationId: guestReserve
      summary: Reserve the booking for the guest (before payment)
      parameters:
      - in: path
        description: The session ID of the guest
        name: sessionId
        required: true
        type: string
      - in: query
        description: The currency code to use for calculating prices.
        name: currency
        required: false
        type: string
        default: ISK
      - in: query
        description: Comma separated names of parameters for the payment provider.
        name: paymentParameters
        required: false
        type: string
      - in: body
        description: JSON object
        name: body
        required: true
        schema:
          $ref: '#/definitions/BookingReservationRequestDto'
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/booking'
  /booking.json/route-booking/{id}:
    get:
      produces:
      - application/json
      tags:
      - booking
      operationId: routeBooking
      summary: Show route booking information
      parameters:
      - in: path
        description: The id or confirmation code for the product booking
        name: id
        required: true
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/RouteBookingDetailsDto'
  /booking.json/{id}/summary:
    get:
      produces:
      - application/pdf
      tags:
      - booking
      operationId: getSummary
      summary: Get summary for given booking
      parameters:
      - in: path
        description: The id of the booking
        name: id
        required: true
        type: integer
        format: int64
      responses:
        200:
          description: No response was specified
  /booking.json/edit:
    post:
      produces:
      - application/json
      tags:
      - booking
      operationId: bookingExecuteEdit
      summary: Edit bookings
      parameters:
      - in: body
        description: JSON object
        name: body
        required: true
        schema:
          $ref: '#/definitions/Action'
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/BookingEditResult'
  /booking.json/car-rental-booking/{productConfirmationCode}/ticket:
    get:
      produces:
      - application/pdf
      tags:
      - booking
      operationId: getCarRentalTicket
      summary: Get ticket for given car rental booking
      parameters:
      - in: path
        description: The confirmation code of the car rental booking
        name: productConfirmationCode
        required: true
        type: string
      responses:
        200:
          description: No response was specified
  /booking.json/route-booking/reserve-and-confirm:
    post:
      produces:
      - application/json
      tags:
      - booking
      operationId: reserveAndConfirmRouteBooking
      summary: Reserve and confirm a single route booking (bypasses shopping cart)
      parameters:
      - in: body
        description: JSON object
        name: body
        required: true
        schema:
          $ref: '#/definitions/SingleTransportBookingRequestDto'
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/booking'
  /booking.json/activity-booking/{productConfirmationCode}/ticket:
    get:
      produces:
      - application/pdf
      tags:
      - booking
      operationId: getActivityTicket
      summary: Get ticket for given activity booking
      parameters:
      - in: path
        description: The confirmation code of the activity booking
        name: productConfirmationCode
        required: true
        type: string
      responses:
        200:
          description: No response was specified
  /booking.json/car-rental-booking/{id}:
    get:
      produces:
      - application/json
      tags:
      - booking
      operationId: carRentalBooking
      summary: Show car rental booking information
      parameters:
      - in: path
        description: The id or confirmation code for the product booking
        name: id
        required: true
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/CarRentalBookingDetailsDto'
  /product-list.json/slug/{slug}:
    get:
      produces:
      - application/json
      tags:
      - product-list
      operationId: getProductListBySlug
      summary: Get Product List by slug
      parameters:
      - in: path
        description: The slug of the Product List to be fetched
        name: slug
        required: true
        type: string
      - in: query
        description: The currency code to use for calculating prices.
        name: currency
        required: false
        type: string
        default: ISK
      - in: query
        description: Comma separated list of required flags
        name: flags
        required: false
        type: string
      - in: query
        description: The language the content should be served in
        name: lang
        required: false
        type: string
        default: EN
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/ProductListDto'
  /product-list.json/list:
    get:
      produces:
      - application/json
      tags:
      - product-list
      operationId: getAllProductLists
      summary: Get all available Product Lists
      parameters:
      - in: query
        description: The language the content should be served in
        name: lang
        required: false
        type: string
        default: EN
      responses:
        200:
          description: No response was specified
          schema:
            type: array
            items:
              $ref: '#/definitions/ProductListDescriptionDto'
  /product-list.json/{id}:
    get:
      produces:
      - application/json
      tags:
      - product-list
      operationId: getProductListById
      summary: Get Product List by ID
      parameters:
      - in: path
        description: ID of the Product List to be fetched
        name: id
        required: true
        type: integer
        format: int64
      - in: query
        description: The currency code to use for calculating prices.
        name: currency
        required: false
        type: string
        default: ISK
      - in: query
        description: Comma separated list of required flags
        name: flags
        required: false
        type: string
      - in: query
        description: The language the content should be served in
        name: lang
        required: false
        type: string
        default: EN
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/ProductListDto'
  /country.json/findAll:
    get:
      produces:
      - application/json
      tags:
      - country
      operationId: allCountries
      summary: Get all supported countries/nationalities
      description: Get a list of all the available countries, along with the ISO code
        for each country.
      responses:
        200:
          description: No response was specified
          schema:
            type: array
            items:
              $ref: '#/definitions/CountryDto'
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":326:{s:20:\"ActivitiesBySupplier\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"supplierId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:11:\"activityIds\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";s:5:\"array\";}}}s:18:\"SellableActivities\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"suppliers\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/ActivitiesBySupplier\";}s:4:\"type\";s:5:\"array\";}}}s:16:\"ItemQuestionsDto\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:9:\"bookingId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:10:\"itemTypeId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:13:\"itemTypeTitle\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"questions\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/QuestionSpecificationDto\";}s:4:\"type\";s:5:\"array\";}s:6:\"people\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/PersonQuestionsDto\";}s:4:\"type\";s:5:\"array\";}s:6:\"extras\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ExtraQuestionsDto\";}s:4:\"type\";s:5:\"array\";}}}s:30:\"AccommodationBookingAnswersDto\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:15:\"accommodationId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:7:\"answers\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/AnswerDto\";}s:4:\"type\";s:5:\"array\";}s:9:\"bookingId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:5:\"rooms\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/RoomAnswersDto\";}s:4:\"type\";s:5:\"array\";}}}s:18:\"RoomBookingRequest\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:10:\"roomTypeId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:7:\"answers\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/AnswerDto\";}s:4:\"type\";s:5:\"array\";}s:6:\"guests\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/PersonAnswersDto\";}s:4:\"type\";s:5:\"array\";}s:10:\"roomRateId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:6:\"roomId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:17:\"externalReference\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"checkInDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"checkOutDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"adults\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"children\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"infants\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"extras\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/ExtraBookingRequest\";}s:4:\"type\";s:5:\"array\";}}}s:24:\"QuestionSpecificationDto\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":16:{s:10:\"questionId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"questionCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"label\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"help\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"placeholder\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"dataType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:8:{i:0;s:10:\"SHORT_TEXT\";i:1;s:9:\"LONG_TEXT\";i:2;s:3:\"INT\";i:3;s:6:\"DOUBLE\";i:4;s:7:\"BOOLEAN\";i:5;s:4:\"DATE\";i:6;s:13:\"DATE_AND_TIME\";i:7;s:7:\"OPTIONS\";}s:4:\"type\";s:6:\"string\";}s:10:\"dataFormat\";O:8:\"stdClass\":2:{s:4:\"enum\";a:10:{i:0;s:13:\"EMAIL_ADDRESS\";i:1;s:3:\"URL\";i:2;s:12:\"PHONE_NUMBER\";i:3;s:7:\"COUNTRY\";i:4;s:8:\"LANGUAGE\";i:5;s:4:\"TIME\";i:6;s:12:\"DAY_OF_MONTH\";i:7;s:5:\"MONTH\";i:8;s:4:\"YEAR\";i:9;s:7:\"PATTERN\";}s:4:\"type\";s:6:\"string\";}s:7:\"pattern\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"required\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:12:\"defaultValue\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"flags\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:17:\"selectFromOptions\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:14:\"selectMultiple\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:13:\"answerOptions\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/AnswerOptionDto\";}s:4:\"type\";s:5:\"array\";}s:7:\"answers\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:16:\"originalQuestion\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:32:\"AccommodationBookingQuestionsDto\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"bookingId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:15:\"accommodationId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:18:\"accommodationTitle\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"questions\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/QuestionSpecificationDto\";}s:4:\"type\";s:5:\"array\";}s:5:\"rooms\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/RoomQuestionsDto\";}s:4:\"type\";s:5:\"array\";}}}s:9:\"AnswerDto\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"questionId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"values\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}}s:18:\"ItemBookingRequest\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"itemTypeId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:7:\"answers\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/AnswerDto\";}s:4:\"type\";s:5:\"array\";}s:6:\"people\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/PersonAnswersDto\";}s:4:\"type\";s:5:\"array\";}s:8:\"quantity\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"extras\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/ExtraBookingRequest\";}s:4:\"type\";s:5:\"array\";}}}s:17:\"BookingDetailsDto\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":29:{s:12:\"creationDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:9:\"bookingId\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:2:\"id\";}}s:8:\"language\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"confirmationCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:24:\"externalBookingReference\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/RoomBookingStatusEnum\";}s:8:\"currency\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"totalPrice\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"totalPaid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"totalDue\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:19:\"totalPriceConverted\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:22:\"paymentProviderDetails\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/PaymentProviderDetailsDto\";}s:8:\"customer\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CustomerDto\";}s:7:\"invoice\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/CustomerInvoiceDto\";}s:16:\"customerPayments\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/CustomerPaymentDto\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:15:\"customerPayment\";}}s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":1:{s:7:\"wrapped\";b:1;}}s:12:\"extranetUser\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ExtranetUserDto\";}s:11:\"paymentType\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/PaymentPaidTypeEnum\";}s:9:\"affiliate\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/AffiliateDto\";}s:6:\"vessel\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/VesselDto\";}s:7:\"harbour\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/HarbourDto\";}s:5:\"agent\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/BookingAgentWithLinksDto\";}s:6:\"seller\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/VendorDto\";}s:14:\"bookingChannel\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/BookingChannelDto\";}s:12:\"systemConfig\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/IntegratedSystemConfigDto\";}s:21:\"accommodationBookings\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/AccommodationBookingDetailsDto\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:20:\"accommodationBooking\";}}s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":1:{s:7:\"wrapped\";b:1;}}s:17:\"carRentalBookings\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/CarRentalBookingDetailsDto\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:16:\"carRentalBooking\";}}s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":1:{s:7:\"wrapped\";b:1;}}s:16:\"activityBookings\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/ActivityBookingDetailsDto\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:15:\"activityBooking\";}}s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":1:{s:7:\"wrapped\";b:1;}}s:13:\"routeBookings\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/RouteBookingDetailsDto\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:12:\"routeBooking\";}}s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":1:{s:7:\"wrapped\";b:1;}}s:13:\"bookingFields\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/BookingFieldDto\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:12:\"bookingField\";}}s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":1:{s:7:\"wrapped\";b:1;}}}s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:7:\"booking\";}}s:16:\"PersonAnswersDto\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"details\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/AnswerDto\";}s:4:\"type\";s:5:\"array\";}}}s:16:\"NameValuePairDto\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:25:\"PaymentProviderDetailsDto\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"supportedMethods\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:15:\"supportedMethod\";}}s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":1:{s:7:\"wrapped\";b:1;}}s:10:\"parameters\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/PaymentProviderParam\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:20:\"paymentProviderParam\";}}s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":1:{s:7:\"wrapped\";b:1;}}}}s:20:\"PaymentProviderParam\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:12:\"AffiliateDto\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:8:\"idNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"externalId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"trackingCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"flags\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:4:\"flag\";}}s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":1:{s:7:\"wrapped\";b:1;}}}s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:9:\"affiliate\";}}s:15:\"TicketReference\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"bookingId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:12:\"productTitle\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"productConfirmationCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"ticket\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:17:\"BookingChannelDto\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":13:{s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:10:\"externalId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"uuid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"backend\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:21:\"overrideVoucherHeader\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"voucherName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"voucherPhoneNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"voucherEmailAddress\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"voucherLogoStyle\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"voucherWebsite\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"voucherLogo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/PhotoDto\";}s:5:\"flags\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:4:\"flag\";}}s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":1:{s:7:\"wrapped\";b:1;}}}s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:14:\"bookingChannel\";}}s:17:\"OnRequestSettings\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"responseDeadline\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"responseCallbackUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:17:\"BookingAnswersDto\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:18:\"mainContactDetails\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/AnswerDto\";}s:4:\"type\";s:5:\"array\";}s:16:\"activityBookings\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/ActivityBookingAnswersDto\";}s:4:\"type\";s:5:\"array\";}s:21:\"accommodationBookings\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/AccommodationBookingAnswersDto\";}s:4:\"type\";s:5:\"array\";}s:14:\"rentalBookings\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/RentalBookingAnswersDto\";}s:4:\"type\";s:5:\"array\";}s:17:\"transportBookings\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/TransportBookingAnswersDto\";}s:4:\"type\";s:5:\"array\";}}}s:20:\"ShoppingCartCheckout\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"uuid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:24:\"externalBookingReference\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"bookingAnswers\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/BookingAnswersDto\";}}}s:28:\"TransportBookingQuestionsDto\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:9:\"bookingId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:7:\"routeId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:10:\"routeTitle\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"questions\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/QuestionSpecificationDto\";}s:4:\"type\";s:5:\"array\";}s:10:\"passengers\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/PassengerQuestionsDto\";}s:4:\"type\";s:5:\"array\";}s:15:\"pickupQuestions\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/QuestionSpecificationDto\";}s:4:\"type\";s:5:\"array\";}s:16:\"dropoffQuestions\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/QuestionSpecificationDto\";}s:4:\"type\";s:5:\"array\";}}}s:25:\"RentalBookingQuestionsDto\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"bookingId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:8:\"rentalId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:11:\"rentalTitle\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"questions\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/QuestionSpecificationDto\";}s:4:\"type\";s:5:\"array\";}s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ItemQuestionsDto\";}s:4:\"type\";s:5:\"array\";}}}s:22:\"ActivityBookingRequest\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":20:{s:10:\"activityId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:7:\"answers\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/AnswerDto\";}s:4:\"type\";s:5:\"array\";}s:13:\"pickupAnswers\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/AnswerDto\";}s:4:\"type\";s:5:\"array\";}s:14:\"dropoffAnswers\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/AnswerDto\";}s:4:\"type\";s:5:\"array\";}s:6:\"rateId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:11:\"startTimeId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:4:\"date\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"pickup\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:13:\"pickupPlaceId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:17:\"pickupDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"dropoff\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:14:\"dropoffPlaceId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:18:\"dropoffDescription\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"checkedIn\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"note\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"customized\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:14:\"customizedTime\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"customizedPrice\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"onRequest\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/OnRequestSettings\";}s:10:\"passengers\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/PassengerBookingRequest\";}s:4:\"type\";s:5:\"array\";}}}s:18:\"PersonQuestionsDto\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"personId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:7:\"details\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/QuestionSpecificationDto\";}s:4:\"type\";s:5:\"array\";}}}s:23:\"PassengerBookingRequest\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:17:\"pricingCategoryId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:16:\"passengerDetails\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/AnswerDto\";}s:4:\"type\";s:5:\"array\";}s:7:\"answers\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/AnswerDto\";}s:4:\"type\";s:5:\"array\";}s:6:\"extras\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/ExtraBookingRequest\";}s:4:\"type\";s:5:\"array\";}}}s:16:\"RoomQuestionsDto\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:9:\"bookingId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:10:\"roomTypeId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:13:\"roomTypeTitle\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"roomRateTitle\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"startDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"endDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"questions\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/QuestionSpecificationDto\";}s:4:\"type\";s:5:\"array\";}s:6:\"guests\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/PersonQuestionsDto\";}s:4:\"type\";s:5:\"array\";}s:6:\"extras\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ExtraQuestionsDto\";}s:4:\"type\";s:5:\"array\";}}}s:19:\"BookingQuestionsDto\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:18:\"mainContactDetails\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/QuestionSpecificationDto\";}s:4:\"type\";s:5:\"array\";}s:16:\"activityBookings\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/ActivityBookingQuestionsDto\";}s:4:\"type\";s:5:\"array\";}s:21:\"accommodationBookings\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/AccommodationBookingQuestionsDto\";}s:4:\"type\";s:5:\"array\";}s:14:\"rentalBookings\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/RentalBookingQuestionsDto\";}s:4:\"type\";s:5:\"array\";}s:17:\"transportBookings\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/TransportBookingQuestionsDto\";}s:4:\"type\";s:5:\"array\";}}}s:16:\"CheckoutResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:15:\"redirectRequest\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/RedirectRequest\";}s:8:\"dccQuote\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/DccQuoteDto\";}s:7:\"booking\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/BookingDetailsDto\";}s:11:\"bookingHash\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"travelDocuments\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/TravelDocuments\";}}}s:19:\"BookingConfirmation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:24:\"externalBookingReference\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:24:\"showPricesInNotification\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:29:\"sendNotificationToMainContact\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:18:\"transactionDetails\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/TransactionDetails\";}s:6:\"amount\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:8:\"currency\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:27:\"ActivityBookingQuestionsDto\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:9:\"bookingId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:10:\"activityId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:13:\"activityTitle\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"questions\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/QuestionSpecificationDto\";}s:4:\"type\";s:5:\"array\";}s:10:\"passengers\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/PassengerQuestionsDto\";}s:4:\"type\";s:5:\"array\";}s:15:\"pickupQuestions\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/QuestionSpecificationDto\";}s:4:\"type\";s:5:\"array\";}s:16:\"dropoffQuestions\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/QuestionSpecificationDto\";}s:4:\"type\";s:5:\"array\";}}}s:14:\"PaymentMethods\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"allowedMethods\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:4:\"CARD\";i:1;s:4:\"CASH\";i:2;s:7:\"VOUCHER\";i:3;s:28:\"RESERVE_FOR_EXTERNAL_PAYMENT\";}s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:12:\"cardProvider\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/CardPaymentProvider\";}}}s:11:\"TokenCharge\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"token\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:8:\"Checkout\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"options\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/CheckoutOption\";}s:4:\"type\";s:5:\"array\";}s:9:\"questions\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/BookingQuestionsDto\";}}}s:10:\"CardCharge\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"cardNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"expiryMonth\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"expiryYear\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:3:\"cvc\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:14:\"BookingRequest\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:18:\"mainContactDetails\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/AnswerDto\";}s:4:\"type\";s:5:\"array\";}s:16:\"activityBookings\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$re
[...]
