---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":14:{s:7:\"contact\";O:8:\"stdClass\":2:{s:5:\"email\";s:23:\"contact-api@netatmo.com\";s:4:\"name\";s:7:\"Netatmo\";}s:11:\"description\";s:736:\"<h3>Welcome
  to the Netatmo swagger on-line documentation !</h3>This site is a complement to
  the official <a href=\"https://dev.netatmo.com/\">Netatmo developper documentation</a>
  using swagger to bring interactivity and easy testing of requests with the \"try
  it\" button (authenticate with the authorization code 0Auth2 flow by clicking the
  authenticate button in the methods). You can find the source code for this site
  can be found in the project <a href=\"https://github.com/cbornet/netatmo-swagger-ui\">netatmo-swagger-ui</a>.
  You can also use the online <a href=\"./swagger.json\">swagger declaration</a> file
  to generate code or static documentation (see <a href=\"https://github.com/cbornet/netatmo-swagger-api\">netatmo-swagger-api</a>).\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:26:\"Netatmo
  : Terms of Service\";s:3:\"url\";s:56:\"https://dev.netatmo.com/dev/resources/legal/introduction\";}s:14:\"termsOfService\";s:56:\"https://dev.netatmo.com/dev/resources/legal/introduction\";s:5:\"title\";s:7:\"Netatmo\";s:7:\"version\";s:5:\"1.1.1\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:39:\"https://dev.netatmo.com/dev/createanapp\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:3:\"iot\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:97:\"https://api.apis.guru/v2/cache/logo/https_dev.netatmo.com_images_common_netatmo-connect-horiz.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:82:\"https://raw.githubusercontent.com/cbornet/netatmo-swagger-decl/master/swagger.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:11:\"netatmo.net\";s:16:\"x-unofficialSpec\";b:1;s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:7:\"netatmo\";s:4:\"type\";s:7:\"openapi\";}}"
host: api.netatmo.net
basePath: /api
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":60:{s:15:\"NADashboardData\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":24:{s:16:\"AbsolutePressure\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Real
  measured pressure @ time_utc (in mb)\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:9:\"BoilerOff\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"BoilerOn\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:3:\"CO2\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Last
  Co2 measured @ time_utc (in ppm)\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:9:\"GustAngle\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Direction
  of the last 5 min highest gust wind\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"GustStrength\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Speed
  of the last 5 min highest gust wind\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"Humidity\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Last
  humidity measured @ time_utc (in %)\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:5:\"Noise\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Last
  noise measured @ time_utc (in db)\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:8:\"Pressure\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Last
  Sea level pressure measured @ time_utc (in mb)\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:4:\"Rain\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Last
  rain measured (in mm)\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:11:\"Temperature\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Last
  temperature measure @ time_utc (in \xB0C)\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:9:\"WindAngle\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"Current
  5 min average wind direction measured @ time_utc (in \xB0)\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"WindStrength\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"Current
  5 min average wind speed measured @ time_utc (in km/h)\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:13:\"date_max_temp\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Timestamp
  when max temperature was measured\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:13:\"date_min_temp\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Timestamp
  when min temperature was measured\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"device_id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:10:\"health_idx\";O:8:\"stdClass\":3:{s:11:\"description\";s:78:\"Current
  health index: 0 = Healthy, 1 = Fine, 2 = Fair, 3 = Poor, 4 = Unhealthy\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"max_temp\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Min
  temperature of the day (measured @ date_min_temp)\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:8:\"min_temp\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Max
  temperature of the day (measured @ date_max_temp)\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:14:\"pressure_trend\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Pressure
  evolution trend\";s:4:\"type\";s:6:\"string\";}s:10:\"sum_rain_1\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Amount
  of rain in last hour\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:11:\"sum_rain_24\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Amount
  of rain today\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:10:\"temp_trend\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Temperature
  evolution trend\";s:4:\"type\";s:6:\"string\";}s:8:\"time_utc\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}}s:6:\"NADate\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"sec\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"usec\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}}s:8:\"NADevice\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":32:{s:3:\"_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"behavior\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"cipher_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"dashboard_data\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/NADashboardData\";s:11:\"description\";s:71:\"It
  contains all the measurements that can be displayed on the dashboard\";}s:9:\"data_type\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:10:\"date_setup\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/NADate\";}s:8:\"firmware\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:15:\"first_pid_avail\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:14:\"heating_system\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/NAHeatingSystem\";}s:11:\"house_model\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/NAHouseModel\";}s:10:\"hw_version\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:2:\"ip\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"last_fw_update\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:16:\"last_radio_store\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:17:\"last_status_store\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"last_upgrade\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"module_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"modules\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"It
  lists which modules are linked with this device\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:17:\"new_feature_avail\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:5:\"place\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/NAPlace\";}s:15:\"public_ext_data\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"setpoint\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:25:\"setpoint_default_duration\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:14:\"setpoint_order\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/NAObject\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";s:6:\"object\";}s:12:\"station_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"therm_program\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/NAThermProgram\";}s:4:\"type\";s:6:\"object\";}s:20:\"therm_program_backup\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/NAThermProgram\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";s:6:\"object\";}s:19:\"therm_program_order\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/NAObject\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:326:\"Included
  in every device or module. It defines the type of the device/module. Its values
  are among :\nNAMain : for the base station\nNAModule1 : for the outdoor module\nNAModule4
  : for the additionnal indoor module\nNAModule3 : for the rain gauge module\nNAPlug
  : for the thermostat relay/plug\nNATherm1 : for the thermostat module\n\";s:4:\"type\";s:6:\"string\";}s:8:\"udp_conn\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"user_owner\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:11:\"wifi_status\";O:8:\"stdClass\":3:{s:11:\"description\";s:198:\"It
  contains the current wifi status. The different thresholds to take into account
  are\nRSSI_THRESHOLD_0 = 86 bad signal\nRSSI_THRESHOLD_1 = 71 middle quality signal\nRSSI_THRESHOLD_2
  = 56 good signal\n\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}}s:16:\"NADeviceListBody\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"devices\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/NADevice\";}s:4:\"type\";s:5:\"array\";}s:7:\"modules\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/NAModule\";}s:4:\"type\";s:5:\"array\";}}}s:20:\"NADeviceListResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"body\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/NADeviceListBody\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"time_exec\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:11:\"time_server\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}}s:18:\"NAHealthyHomeCoach\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":14:{s:3:\"_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"cipher_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"co2_calibrating\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:14:\"dashboard_data\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/NADashboardData\";s:11:\"description\";s:71:\"It
  contains all the measurements that can be displayed on the dashboard\";}s:9:\"data_type\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:10:\"date_setup\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"firmware\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"last_setup\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:17:\"last_status_store\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"last_upgrade\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"place\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/NAPlace\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:125:\"Included
  in every device or module. It defines the type of the device/module. Its values
  are among :\nNHC: Healthy Home Coach\n\";s:4:\"type\";s:6:\"string\";}s:11:\"wifi_status\";O:8:\"stdClass\":3:{s:11:\"description\";s:198:\"It
  contains the current wifi status. The different thresholds to take into account
  are\nRSSI_THRESHOLD_0 = 86 bad signal\nRSSI_THRESHOLD_1 = 71 middle quality signal\nRSSI_THRESHOLD_2
  = 56 good signal\n\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}}s:26:\"NAHealthyHomeCoachDataBody\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"devices\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/NAHealthyHomeCoach\";}s:4:\"type\";s:5:\"array\";}s:4:\"user\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/NAUser\";}}}s:30:\"NAHealthyHomeCoachDataResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"body\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/NAHealthyHomeCoachDataBody\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"time_exec\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:11:\"time_server\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}}s:15:\"NAHeatingSystem\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"heating_energy\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:26:\"heating_system_window_seen\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}}s:12:\"NAHouseModel\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":17:{s:9:\"algo_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"ca\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/NAHouseModelCa\";}s:9:\"ext_temps\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";s:6:\"object\";}s:22:\"first_anticipate_avail\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:15:\"first_pid_avail\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"gefs\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/NAStation\";}s:6:\"in_use\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"last_compute_try\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/NADate\";}s:12:\"link_station\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/NALinkStation\";}s:8:\"pid_algo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/NAPidAlgo\";}s:18:\"prefered_algo_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"simple_algo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/NASimpleAlgo\";}s:7:\"station\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/NAStation\";}s:28:\"station_firsttime_anticipate\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"time\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/NADate\";}s:17:\"time_algo_changed\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:17:\"time_pid_computed\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}}s:14:\"NAHouseModelCa\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"so\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"te\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:2:\"ti\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}}s:13:\"NALinkStation\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"Temperature\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:3:\"ext\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"mac\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:6:\"NAMain\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":16:{s:3:\"_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"cipher_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"co2_calibrating\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:14:\"dashboard_data\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/NADashboardData\";s:11:\"description\";s:71:\"It
  contains all the measurements that can be displayed on the dashboard\";}s:9:\"data_type\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:10:\"date_setup\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"firmware\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"last_setup\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:17:\"last_status_store\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"last_upgrade\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"module_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"modules\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/NAStationModule\";}s:4:\"type\";s:5:\"array\";}s:5:\"place\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/NAPlace\";}s:12:\"station_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:326:\"Included
  in every device or module. It defines the type of the device/module. Its values
  are among :\nNAMain : for the base station\nNAModule1 : for the outdoor module\nNAModule4
  : for the additionnal indoor module\nNAModule3 : for the rain gauge module\nNAPlug
  : for the thermostat relay/plug\nNATherm1 : for the thermostat module\n\";s:4:\"type\";s:6:\"string\";}s:11:\"wifi_status\";O:8:\"stdClass\":3:{s:11:\"description\";s:198:\"It
  contains the current wifi status. The different thresholds to take into account
  are\nRSSI_THRESHOLD_0 = 86 bad signal\nRSSI_THRESHOLD_1 = 71 middle quality signal\nRSSI_THRESHOLD_2
  = 56 good signal\n\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}}s:17:\"NAMeasureBodyElem\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"beg_time\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"step_time\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:5:\"value\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";s:5:\"array\";}}}s:17:\"NAMeasureResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"body\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/NAMeasureBodyElem\";}s:4:\"type\";s:5:\"array\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"time_exec\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:11:\"time_server\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}}s:8:\"NAModule\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":15:{s:3:\"_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"battery_vp\";O:8:\"stdClass\":3:{s:11:\"description\";s:797:\"It
  contains the current battery status. The threshold depends on the kind of module,
  below is the list of the different threshold to take into account according the
  module type.\n\"Indoor module Battery range: 6000 ... 4200\" |\nINDOOR_BATTERY_LEVEL_FULL
  = 5640\nINDOOR_BATTERY_LEVEL_HIGH = 5280\nINDOOR_BATTERY_LEVEL_MEDIUM = 4920\nINDOOR_BATTERY_LEVEL_LOW
  = 4560\n\"Below 4560: very low\" |\n  \n\"Raingauge and outdoor module Battery range:
  6000 ... 3600\" |\nBATTERY_LEVEL_FULL = 5500\nBATTERY_LEVEL_HIGH = 5000\nBATTERY_LEVEL_MEDIUM
  = 4500\nBATTERY_LEVEL_LOW = 4000\n\"Below 4000: very low\" |\n  \n\"Thermostat Battery
  range: 4500 ... 3000\" |\nTHERMOSTAT_BATTERY_LEVEL_FULL = 4100\nTHERMOSTAT_BATTERY_LEVEL_HIGH
  = 3600\nTHERMOSTAT_BATTERY_LEVEL_MEDIUM = 3300\nTHERMOSTAT_BATTERY_LEVEL_LOW = 3000\n\"Below
  3000: very low\"\n\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:14:\"dashboard_data\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/NADashboardData\";s:11:\"description\";s:71:\"It
  contains all the measurements that can be displayed on the dashboard\";}s:9:\"data_type\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:10:\"date_setup\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/NADate\";}s:8:\"firmware\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"last_message\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"last_seen\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"main_device\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"module_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"public_ext_data\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"rf_status\";O:8:\"stdClass\":3:{s:11:\"description\";s:228:\"\"It
  contains the current radio status. The different thresholds to take into account
  are :\" |\nRADIO_THRESHOLD_SIGNAL_LOW = 90 \nRADIO_THRESHOLD_SIGNAL_MEDIUM = 80\nRADIO_THRESHOLD_SIGNAL_HIGH
  = 70\nRADIO_THRESHOLD_SIGNAL_FULL = 60\n\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:17:\"therm_orientation\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:15:\"therm_relay_cmd\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:326:\"Included
  in every device or module. It defines the type of the device/module. Its values
  are among :\nNAMain : for the base station\nNAModule1 : for the outdoor module\nNAModule4
  : for the additionnal indoor module\nNAModule3 : for the rain gauge module\nNAPlug
  : for the thermostat relay/plug\nNATherm1 : for the thermostat module\n\";s:4:\"type\";s:6:\"string\";}}}s:17:\"NANewScheduleBody\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"schedule_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"Id
  of the schedule. It can be use with the method \"switchschedule\" \n\";s:4:\"type\";s:6:\"string\";}}}s:21:\"NANewScheduleResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"body\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/NANewScheduleBody\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"time_exec\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:11:\"time_server\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}}s:8:\"NAObject\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"$id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:12:\"NAOkResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"body\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"time_exec\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:11:\"time_server\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}}s:24:\"NAPartnerDevicesResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"body\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"time_exec\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:11:\"time_server\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}}s:9:\"NAPidAlgo\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"gain\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"period\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:2:\"td\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:2:\"ti\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}}s:7:\"NAPlace\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":8:{s:8:\"altitude\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:4:\"city\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"from_ip\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:18:\"improveLocProposed\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"location\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:4:\"type\";s:5:\"array\";}s:8:\"timezone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"trust_location\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}}s:6:\"NAPlug\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":13:{s:3:\"_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"firmware\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"last_bilan\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/NAYearMonth\";}s:14:\"last_plug_seen\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:17:\"last_status_store\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"modules\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/NAThermostat\";}s:4:\"type\";s:5:\"array\";}s:5:\"place\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/NAPlace\";}s:21:\"plug_connected_boiler\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"station_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"syncing\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:326:\"Included
  in every device or module. It defines the type of the device/module. Its values
  are among :\nNAMain : for the base station\nNAModule1 : for the outdoor module\nNAModule4
  : for the additionnal indoor module\nNAModule3 : for the rain gauge module\nNAPlug
  : for the thermostat relay/plug\nNATherm1 : for the thermostat module\n\";s:4:\"type\";s:6:\"string\";}s:8:\"udp_conn\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"wifi_status\";O:8:\"stdClass\":3:{s:11:\"description\";s:198:\"It
  contains the current wifi status. The different thresholds to take into account
  are\nRSSI_THRESHOLD_0 = 86 bad signal\nRSSI_THRESHOLD_1 = 71 middle quality signal\nRSSI_THRESHOLD_2
  = 56 good signal\n\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}}s:10:\"NASetpoint\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"setpoint_endtime\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:13:\"setpoint_mode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"setpoint_temp\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}}}s:13:\"NASetpointLog\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"setpoint\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/NASetpoint\";}s:9:\"timestamp\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}}}s:12:\"NASimpleAlgo\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"high_deadband\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}}s:9:\"NAStation\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:8:\"lag_down\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"lag_up\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:13:\"off_overshoot\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:12:\"on_overshoot\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:2:\"pk\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:3:\"tau\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}}s:17:\"NAStationDataBody\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"devices\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/NAMain\";}s:4:\"type\";s:5:\"array\";}s:4:\"user\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/NAUser\";}}}s:21:\"NAStationDataResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"body\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/NAStationDataBody\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"time_exec\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:11:\"time_server\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}}s:15:\"NAStationModule\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":12:{s:3:\"_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"battery_percent\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"It
  contains the current battery level in percentage.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"battery_vp\";O:8:\"stdClass\":3:{s:11:\"description\";s:797:\"It
  contains the current battery status. The threshold depends on the kind of module,
  below is the list of the different threshold to take into account according the
  module type.\n\"Indoor module Battery range: 6000 ... 4200\" |\nINDOOR_BATTERY_LEVEL_FULL
  = 5640\nINDOOR_BATTERY_LEVEL_HIGH = 5280\nINDOOR_BATTERY_LEVEL_MEDIUM = 4920\nINDOOR_BATTERY_LEVEL_LOW
  = 4560\n\"Below 4560: very low\" |\n  \n\"Raingauge and outdoor module Battery range:
  6000 ... 3600\" |\nBATTERY_LEVEL_FULL = 5500\nBATTERY_LEVEL_HIGH = 5000\nBATTERY_LEVEL_MEDIUM
  = 4500\nBATTERY_LEVEL_LOW = 4000\n\"Below 4000: very low\" |\n  \n\"Thermostat Battery
  range: 4500 ... 3000\" |\nTHERMOSTAT_BATTERY_LEVEL_FULL = 4100\nTHERMOSTAT_BATTERY_LEVEL_HIGH
  = 3600\nTHERMOSTAT_BATTERY_LEVEL_MEDIUM = 3300\nTHERMOSTAT_BATTERY_LEVEL_LOW = 3000\n\"Below
  3000: very low\"\n\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:14:\"dashboard_data\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/NADashboardData\";s:11:\"description\";s:71:\"It
  contains all the measurements that can be displayed on the dashboard\";}s:9:\"data_type\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:8:\"firmware\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"last_message\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"last_seen\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"last_setup\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"module_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"rf_status\";O:8:\"stdClass\":3:{s:11:\"description\";s:228:\"\"It
  contains the current radio status. The different thresholds to take into account
  are :\" |\nRADIO_THRESHOLD_SIGNAL_LOW = 90 \nRADIO_THRESHOLD_SIGNAL_MEDIUM = 80\nRADIO_THRESHOLD_SIGNAL_HIGH
  = 70\nRADIO_THRESHOLD_SIGNAL_FULL = 60\n\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:326:\"Included
  in every device or module. It defines the type of the device/module. Its values
  are among :\nNAMain : for the base station\nNAModule1 : for the outdoor module\nNAModule4
  : for the additionnal indoor module\nNAModule3 : for the rain gauge module\nNAPlug
  : for the thermostat relay/plug\nNATherm1 : for the thermostat module\n\";s:4:\"type\";s:6:\"string\";}}}s:14:\"NAThermMeasure\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"setpoint_temp\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:11:\"temperature\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:4:\"time\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}}s:14:\"NAThermProgram\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"program_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"selected\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"timetable\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/NATimeTableItem\";}s:4:\"type\";s:5:\"array\";}s:5:\"zones\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/NAZone\";}s:4:\"type\";s:5:\"array\";}}}s:16:\"NAThermStateBody\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":15:{s:10:\"battery_vp\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:14:\"last_plug_seen\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:15:\"last_therm_seen\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"measured\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/NAThermMeasure\";}s:21:\"plug_connected_boiler\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"rf_status\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"setpoint\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/NASetpoint\";}s:14:\"setpoint_order\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/NASetpoint\";}s:17:\"therm_orientation\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:13:\"therm_program\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/NAThermProgram\";}s:20:\"therm_program_backup\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/NAThermProgram\";}s:4:\"type\";s:5:\"array\";}s:19:\"therm_program_order\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/NAThermProgram\";}s:15:\"therm_relay_cmd\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"udp_conn\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"wifi_status\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}}s:20:\"NAThermStateResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"body\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/NAThermStateBody\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"time_exec\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:11:\"time_server\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}}s:12:\"NAThermostat\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":15:{s:3:\"_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"battery_vp\";O:8:\"stdClass\":3:{s:11:\"description\";s:797:\"It
  contains the current battery status. The threshold depends on the kind of module,
  below is the list of the different threshold to take into account according the
  module type.\n\"Indoor module Battery range: 6000 ... 4200\" |\nINDOOR_BATTERY_LEVEL_FULL
  = 5640\nINDOOR_BATTERY_LEVEL_HIGH = 5280\nINDOOR_BATTERY_LEVEL_MEDIUM = 4920\nINDOOR_BATTERY_LEVEL_LOW
  = 4560\n\"Below 4560: very low\" |\n  \n\"Raingauge and outdoor module Battery range:
  6000 ... 3600\" |\nBATTERY_LEVEL_FULL = 5500\nBATTERY_LEVEL_HIGH = 5000\nBATTERY_LEVEL_MEDIUM
  = 4500\nBATTERY_LEVEL_LOW = 4000\n\"Below 4000: very low\" |\n  \n\"Thermostat Battery
  range: 4500 ... 3000\" |\nTHERMOSTAT_BATTERY_LEVEL_FULL = 4100\nTHERMOSTAT_BATTERY_LEVEL_HIGH
  = 3600\nTHERMOSTAT_BATTERY_LEVEL_MEDIUM = 3300\nTHERMOSTAT_BATTERY_LEVEL_LOW = 3000\n\"Below
  3000: very low\"\n\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"firmware\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"last_message\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:15:\"last_therm_seen\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"measured\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NAThermMeasure\";s:11:\"description\";s:51:\"It
  contains the last measurements of the Thermostat\";}s:11:\"module_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"rf_status\";O:8:\"stdClass\":3:{s:11:\"description\";s:228:\"\"It
  contains the current radio status. The different thresholds to take into account
  are :\" |\nRADIO_THRESHOLD_SIGNAL_LOW = 90 \nRADIO_THRESHOLD_SIGNAL_MEDIUM = 80\nRADIO_THRESHOLD_SIGNAL_HIGH
  = 70\nRADIO_THRESHOLD_SIGNAL_FULL = 60\n\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"setpoint\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/NASetpoint\";s:11:\"description\";s:44:\"Setpoint
  currently in use by the Thermostat.\";}s:16:\"setpoint_history\";O:8:\"stdClass\":3:{s:11:\"description\";s:81:\"The
  last 20 setpoints (mode, endtime, and timestamp) the thermostats has entered.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/NASetpointLog\";}s:4:\"type\";s:5:\"array\";}s:14:\"setpoint_order\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/NASetpoint\";}s:17:\"therm_orientation\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:18:\"therm_program_list\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"List
  of the weekly heating planning used by the thermostat\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/NAThermProgram\";}s:4:\"type\";s:5:\"array\";}s:15:\"therm_relay_cmd\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:326:\"Included
  in every device or module. It defines the type of the device/module. Its values
  are among :\nNAMain : for the base station\nNAModule1 : for the outdoor module\nNAModule4
  : for the additionnal indoor module\nNAModule3 : for the rain gauge module\nNAPlug
  : for the thermostat relay/plug\nNATherm1 : for the thermostat module\n\";s:4:\"type\";s:6:\"string\";}}}s:20:\"NAThermostatDataBody\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"devices\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/NAPlug\";}s:4:\"type\";s:5:\"array\";}s:4:\"user\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/NAUser\";}}}s:24:\"NAThermostatDataResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"body\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/NAThermostatDataBody\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"time_exec\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:11:\"time_server\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}}s:15:\"NATimeTableItem\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"m_offset\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}}s:6:\"NAUser\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":8:{s:3:\"_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"administrative\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/NAUserAdministrative\";s:11:\"description\";s:55:\"Contains
  administrative information related to the user\";}s:13:\"date_creation\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/NADate\";}s:7:\"devices\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"An
  array of string containing the ids of the devices owned by the user\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:14:\"friend_devices\";O:8:\"stdClass\":3:{s:11:\"description\";s:92:\"An
  array of string containing the ids of the devices on which the user has a \"guest\"
  access\n\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"mail\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"timeline_not_read\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:13:\"timeline_size\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}}s:20:\"NAUserAdministrative\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":7:{s:7:\"country\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"user
  country\";s:4:\"type\";s:6:\"string\";}s:14:\"feel_like_algo\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"algorithm
  used to compute feel like temperature, 0 -> humidex, 1 -> heat-index\";s:4:\"type\";s:6:\"string\";}s:4:\"lang\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"user
  locale\";s:4:\"type\";s:6:\"string\";}s:12:\"pressureunit\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"0
  -> mbar, 1 -> inHg, 2 -> mmHg\";s:4:\"type\";s:6:\"string\";}s:10:\"reg_locale\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"user
  regional preferences (used for displaying date)\";s:4:\"type\";s:6:\"string\";}s:4:\"unit\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"0
  -> metric system, 1 -> imperial system\";s:4:\"type\";s:6:\"string\";}s:8:\"windunit\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"0
  -> kph, 1 -> mph, 2 -> ms, 3 -> beaufort, 4 -> knot\";s:4:\"type\";s:6:\"string\";}}}s:14:\"NAUserResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"body\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/NAUser\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"time_exec\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:11:\"time_server\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}}s:16:\"NAWelcomeCameras\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":8:{s:11:\"alim_status\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"If
  power supply is ok (on/off)\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Id
  of the camera\";s:4:\"type\";s:6:\"string\";}s:8:\"is_local\";O:8:\"stdClass\":2:{s:11:\"description\";s:114:\"Only
  for scope access_camera. If Camera and application requesting the information are
  on the same IP (true/false)\";s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Name
  of the camera\";s:4:\"type\";s:6:\"string\";}s:9:\"sd_status\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"If
  SD card status is ok (on/off)\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"If
  camera is monitoring (on/off)\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Type
  of the camera\";s:4:\"type\";s:6:\"string\";}s:7:\"vpn_url\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"Only
  for scope access_camera. Address of the camera\";s:4:\"type\";s:6:\"string\";}}}s:15:\"NAWelcomeEvents\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":11:{s:9:\"camera_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Camera
  that detected the event\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Identifier
  of the event\";s:4:\"type\";s:6:\"string\";}s:10:\"is_arrival\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"If
  person was considered away before being seen during this event\";s:4:\"type\";s:7:\"boolean\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"User
  facing event description\";s:4:\"type\";s:6:\"string\";}s:9:\"person_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Id
  of the person the event is about (if any)\";s:4:\"type\";s:6:\"string\";}s:8:\"snapshot\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/NAWelcomeSnapshot\";s:11:\"description\";s:56:\"Snapshot
  id, version and key. (Used in Getcamerapicture)\";}s:8:\"sub_type\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"Subtypes
  of SD and Alim events. Go to Welcome page for further details.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"time\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Time
  of occurence of event\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"Type
  of events. Go to the Welcome page for further details.\";s:4:\"type\";s:6:\"string\";}s:8:\"video_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Identifier
  of the video\";s:4:\"type\";s:6:\"string\";}s:12:\"video_status\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Status
  of the video (recording, deleted or available)\";s:4:\"type\";s:6:\"string\";}}}s:19:\"NAWelcomeEventsData\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"events_list\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/NAWelcomeEvents\";}s:4:\"type\";s:5:\"array\";}}}s:23:\"NAWelcomeEventsResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"body\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/NAWelcomeEventsData\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"time_exec\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:11:\"time_server\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}}s:13:\"NAWelcomeFace\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Id
  of the face.\";s:4:\"type\";s:6:\"string\";}s:3:\"key\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Key
  for this face to use in getcamerapicture.\";s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Version
  of the face if user changed their photo.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}}s:19:\"NAWelcomeGlobalInfo\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"show_tags\";O:8:\"stdClass\":2:{s:11:\"description\";s:9:\"show
  tags\";s:4:\"type\";s:7:\"boolean\";}}}s:17:\"NAWelcomeHomeData\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"global_info\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/NAWelcomeGlobalInfo\";}s:5:\"homes\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/NAWelcomeHomes\";}s:4:\"type\";s:5:\"array\";}s:4:\"user\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/NAWelcomeUser\";}}}s:25:\"NAWelcomeHomeDataResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"body\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/NAWelcomeHomeData\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"time_exec\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:11:\"time_server\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}}s:14:\"NAWelcomeHomes\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":7:{s:7:\"cameras\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/NAWelcomeCameras\";}s:4:\"type\";s:5:\"array\";}s:6:\"events\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/NAWelcomeEvents\";}s:4:\"type\";s:5:\"array\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Id
  of the home.\";s:4:\"type\";s:6:\"string\";}s:7:\"modules\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/NAWelcomeModules\";}s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Name
  of the home\";s:4:\"type\";s:6:\"string\";}s:7:\"persons\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/NAWelcomePersons\";}s:4:\"type\";s:5:\"array\";}s:5:\"place\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/NAWelcomePlace\";}}}s:16:\"NAWelcomeModules\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":7:{s:15:\"battery_percent\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"remaining
  battery percentage\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"mac
  address of the module\";s:4:\"type\";s:6:\"string\";}s:13:\"last_activity\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Timestamp
  of last move detected by the module\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"name
  of the module (given by the user)\";s:4:\"type\";s:6:\"string\";}s:2:\"rf\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Radio
  status\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"status
  of the module\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"NACamDoorTag
  for tags\";s:4:\"type\";s:6:\"string\";}}}s:16:\"NAWelcomePersons\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"face\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/NAWelcomeFace\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Id
  of the person.\";s:4:\"type\";s:6:\"string\";}s:9:\"last_seen\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Time
  at which the person was last seen.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"out_of_sight\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"True
  if the Person is out of sight.\";s:4:\"type\";s:7:\"boolean\";}s:6:\"pseudo\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"Name
  of the person, if pseudo is missing, person is unknown.\";s:4:\"type\";s:6:\"string\";}}}s:28:\"NAWelcomePersonsAwayResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"time_exec\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:11:\"time_server\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}}s:14:\"NAWelcomePlace\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"city\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"City
  of the home.\";s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Country
  of the home.\";s:4:\"type\";s:6:\"string\";}s:8:\"timezone\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Timezone
  of the home.\";s:4:\"type\";s:6:\"string\";}}}s:17:\"NAWelcomeSnapshot\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Id
  of the snapshot.\";s:4:\"type\";s:6:\"string\";}s:3:\"key\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Key
  for this snapshot.\";s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Version
  of the snapshot.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}}s:13:\"NAWelcomeUser\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"lang\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"user
  locale\";s:4:\"type\";s:6:\"string\";}s:10:\"reg_locale\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"user
  regional preferences (used for displaying date)\";s:4:\"type\";s:6:\"string\";}}}s:24:\"NAWelcomeWebhookResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"time_exec\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}}s:11:\"NAYearMonth\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:1:\"m\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:1:\"y\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}}s:6:\"NAZone\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"temp\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:4:\"type\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}}}"
...
