---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":7:{s:5:\"title\";s:25:\"BlipADeal Worldwide Deals\";s:11:\"description\";s:986:\"The
  Blip-A-Deal API allows you to utilise our database of over 6 million daily deals
  and coupons annually from over 14 countries around the globe. We currently have
  a presence in Australia, Canada, Hong Kong, India, Indonesia, Malaysia, New Zealand,
  Philippines, Singapore, Russia, Taiwan, Thailand, United Kingdom and United States.
  \r\n\r\nYou can find deals based on free text, keyword, categorisation and location.
  The Blip-A-Deal API will make it easy to find deals that are geographically close
  to where you are, deals in a selected location and can even find deals that match
  certain free text criteria. For countries that dont have english as their primary
  language, translations are also provide for native and english languages. \r\n\r\nThere
  are different ways to invoke the API so to find out more information about the API
  and to gain access please visit http://www.blipadeal.com/dev-api-home. If there
  are any bugs, problems or any general feedback please feel free to let us know\";s:7:\"contact\";O:8:\"stdClass\":1:{s:4:\"name\";s:9:\"blipadeal\";}s:7:\"version\";N;s:6:\"x-logo\";s:86:\"https://s3.amazonaws.com/mashape-production-logos/apis/53aa3205e4b0a705fcc30146_medium\";s:20:\"x-mashape-categories\";a:1:{i:0;s:8:\"commerce\";}s:8:\"x-origin\";O:8:\"stdClass\":2:{s:6:\"format\";s:7:\"mashape\";s:3:\"url\";s:62:\"https://market.mashape.com/blipadeal/blipadeal-worldwide-deals\";}}"
host: blipadeal-blipadeal-world-wide-deals.p.mashape.com
basePath: ""
paths: ~
definitions: !php/object "O:8:\"stdClass\":2:{s:8:\"Resource\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:14:\"message_status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"category_name_list\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"message_key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"message_action\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"country_select\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"city_select\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"message_desc\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"category_deal_list\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/Category_deal_list\";}}}}s:18:\"Category_deal_list\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:17:\"blp_category_city\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"blp_main_deal_country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"blp_category_display\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"blp_category_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"blp_category_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}"
...
