---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":14:{s:7:\"contact\";O:8:\"stdClass\":3:{s:5:\"email\";s:30:\"ibl-team@lists.forge.bbc.co.uk\";s:4:\"name\";s:16:\"Open
  iBL Project\";s:3:\"url\";s:27:\"http://developer.bbc.co.uk/\";}s:11:\"description\";s:27:\"The
  definitive iPlayer API.\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:3:\"MIT\";s:3:\"url\";s:35:\"https://opensource.org/licenses/MIT\";}s:5:\"title\";s:26:\"BBC
  iPlayer Business Layer\";s:7:\"version\";s:3:\"1.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"media\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:108:\"https://api.apis.guru/v2/cache/logo/http_static.bbci.co.uk_tviplayer_1.101.2_img_navigation_iplayer_pink.svg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:77:\"https://raw.githubusercontent.com/Mermade/bbcparse/master/iblApi/swagger.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:10:\"bbci.co.uk\";s:9:\"x-release\";s:9:\"1.0.0-375\";s:11:\"x-schema-id\";s:49:\"https://ibl.api.bbci.co.uk/ibl/v1/schema/ibl.json\";s:16:\"x-unofficialSpec\";b:1;s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:4:\"bbci\";s:4:\"type\";s:7:\"openapi\";}}"
host: ibl.api.bbci.co.uk
basePath: /ibl/v1
paths:
  /atoz/{letter}/programmes:
    get:
      description: Get the Programmes whose title begins with the given initial character.
      operationId: atoz.letter.programmes.get
      parameters:
      - description: Letter to search by, a to z or the string '0-9'
        in: path
        name: letter
        pattern: '[a-z](0-9)'
        required: true
        type: string
      - $ref: '#/parameters/rights'
      - $ref: '#/parameters/page'
      - $ref: '#/parameters/per_page'
      - $ref: '#/parameters/initial_child_count'
      - description: The sort order of the results.
        enum:
        - title
        in: query
        name: sort
        required: true
        type: string
      - $ref: '#/parameters/sort_direction'
      - $ref: '#/parameters/availability'
      responses:
        200:
          description: Default response
          schema:
            $ref: '#/definitions/ibl'
      security: []
      summary: Programmes by initial title character
      tags:
      - A to Z
  /categories:
    get:
      description: Get the list of all the categories in TV & iPlayer.
      operationId: Get_Categories_
      parameters:
      - $ref: '#/parameters/lang'
      responses:
        200:
          description: Default response
          schema:
            $ref: '#/definitions/ibl'
      security: []
      summary: Get categories
      tags:
      - Categories
  /categories/{category}:
    get:
      description: Get sub-categories
      operationId: categories.category.get
      parameters:
      - $ref: '#/parameters/category'
      - $ref: '#/parameters/lang'
      responses:
        200:
          description: Default response
          schema:
            $ref: '#/definitions/ibl'
      security: []
      summary: Get sub-categories
      tags:
      - Categories
  /categories/{category}/episodes:
    get:
      description: Get the list of all the episodes for a given category in TV & iPlayer.
      operationId: categories.category.episodes.get
      parameters:
      - $ref: '#/parameters/category'
      - $ref: '#/parameters/lang'
      - $ref: '#/parameters/rights'
      - $ref: '#/parameters/availability'
      - $ref: '#/parameters/page'
      - $ref: '#/parameters/per_page'
      - description: The sort order of the results.
        enum:
        - recent
        - popular
        in: query
        name: sort
        required: false
        type: string
      responses:
        200:
          description: Default response
          schema:
            $ref: '#/definitions/ibl'
      security: []
      summary: List all the episodes for a category.
      tags:
      - Episodes
  /categories/{category}/highlights:
    get:
      description: Get the editorial highlights of a given category in TV & iPlayer.
      operationId: categories.category.highlights.get
      parameters:
      - $ref: '#/parameters/category'
      - $ref: '#/parameters/lang'
      - $ref: '#/parameters/rights'
      - $ref: '#/parameters/availability'
      - $ref: '#/parameters/mixin'
      responses:
        200:
          description: Default response
          schema:
            $ref: '#/definitions/ibl'
      security: []
      summary: List the highlights for a category.
      tags:
      - Programmes (TLEOs)
  /categories/{category}/programmes:
    get:
      description: Get the list of all the Programmes (TLEOs) for a given category
        in TV & iPlayer.
      operationId: categories.category.programmes.get
      parameters:
      - $ref: '#/parameters/category'
      - $ref: '#/parameters/lang'
      - $ref: '#/parameters/rights'
      - $ref: '#/parameters/availability'
      - $ref: '#/parameters/page'
      - $ref: '#/parameters/per_page'
      responses:
        200:
          description: Default response
          schema:
            $ref: '#/definitions/ibl'
      security: []
      summary: List all the programmes for a category.
      tags:
      - Programmes (TLEOs)
  /channels:
    get:
      description: Get the list of all the channels TV & iPlayer.
      operationId: Get_Channels_
      parameters:
      - description: The region to get the channels for.
        in: query
        name: region
        required: false
        type: string
      - $ref: '#/parameters/lang'
      responses:
        200:
          description: Default response
          schema:
            $ref: '#/definitions/ibl'
      security: []
      summary: List all the channels.
      tags:
      - Channels
  /channels/{channel}/broadcasts:
    get:
      description: Get broadcasts by channel
      operationId: channels.channel.broadcasts.get
      parameters:
      - $ref: '#/parameters/channel'
      - $ref: '#/parameters/lang'
      - $ref: '#/parameters/rights'
      - $ref: '#/parameters/availability'
      - $ref: '#/parameters/mixin'
      - $ref: '#/parameters/per_page'
      - description: Time to return results from, e.g. -3h
        in: query
        name: from
        required: false
        type: string
      responses:
        200:
          description: Default response
          schema:
            $ref: '#/definitions/ibl'
      security: []
      summary: Get broadcasts by channel
      tags:
      - Programmes (TLEOs)
  /channels/{channel}/highlights:
    get:
      description: Get the editorial highlights of a given channel in TV & iPlayer.
      operationId: channels.channel.highlights.get
      parameters:
      - $ref: '#/parameters/channel'
      - $ref: '#/parameters/lang'
      - $ref: '#/parameters/rights'
      - $ref: '#/parameters/availability'
      - description: Whether to include live programmes
        in: query
        name: live
        required: false
        type: boolean
      - $ref: '#/parameters/mixin'
      responses:
        200:
          description: Default response
          schema:
            $ref: '#/definitions/ibl'
      security: []
      summary: List the highlights for a channel.
      tags:
      - Channels
  /channels/{channel}/programmes:
    get:
      description: Get programmes by channel
      operationId: channels.channel.programmes.get
      parameters:
      - $ref: '#/parameters/channel'
      - $ref: '#/parameters/lang'
      - $ref: '#/parameters/rights'
      - $ref: '#/parameters/availability'
      - $ref: '#/parameters/page'
      - $ref: '#/parameters/per_page'
      responses:
        200:
          description: Default response
          schema:
            $ref: '#/definitions/ibl'
      security: []
      summary: Get programmes by channel
      tags:
      - Programmes (TLEOs)
  /channels/{channel}/schedule/{date}:
    get:
      description: Get schedule by channel
      operationId: channels.channel.schedule.date.get
      parameters:
      - $ref: '#/parameters/channel'
      - description: The date to return the schedule for, yyyy-mm-dd format
        in: path
        name: date
        required: true
        type: string
      - $ref: '#/parameters/lang'
      - $ref: '#/parameters/rights'
      - $ref: '#/parameters/availability'
      responses:
        200:
          description: Default response
          schema:
            $ref: '#/definitions/ibl'
      security: []
      summary: Get schedule by channel
      tags:
      - Channels
  /clips/{pid}:
    get:
      description: Get Clips
      operationId: Get_Clips_
      parameters:
      - $ref: '#/parameters/pid'
      - $ref: '#/parameters/rights'
      - $ref: '#/parameters/availability'
      responses:
        200:
          description: Default response
          schema:
            $ref: '#/definitions/ibl'
      security: []
      summary: Get Clips
      tags:
      - Episodes
  /episodes/{pid}:
    get:
      description: Get the episode for a given episode identifier.
      operationId: episodes.pid.get
      parameters:
      - $ref: '#/parameters/pid'
      - $ref: '#/parameters/rights'
      - $ref: '#/parameters/availability'
      - $ref: '#/parameters/mixin'
      responses:
        200:
          description: Default response
          schema:
            $ref: '#/definitions/ibl'
      security: []
      summary: Episode for a given pid.
      tags:
      - Episodes
  /episodes/{pid}/next:
    get:
      description: Get Onward Journey (next programme)
      operationId: Get_Onward_Journey
      parameters:
      - $ref: '#/parameters/pid'
      - $ref: '#/parameters/rights'
      - $ref: '#/parameters/availability'
      responses:
        200:
          description: Default response
          schema:
            $ref: '#/definitions/ibl'
      security: []
      summary: Get Onward Journey
      tags:
      - Episodes
  /episodes/{pid}/postrolls:
    get:
      description: Get Follow-ups (post-rolls)
      operationId: getPostRolls
      parameters:
      - $ref: '#/parameters/pid'
      - $ref: '#/parameters/rights'
      - $ref: '#/parameters/availability'
      responses:
        200:
          description: Default response
          schema:
            $ref: '#/definitions/ibl'
      security: []
      summary: Get Follow-ups (post-rolls)
      tags:
      - Episodes
  /episodes/{pid}/prerolls:
    get:
      description: Get Trailers (pre-rolls)
      operationId: episodes.pid.prerolls.get
      parameters:
      - $ref: '#/parameters/pid'
      - $ref: '#/parameters/rights'
      - $ref: '#/parameters/availability'
      responses:
        200:
          description: Default response
          schema:
            $ref: '#/definitions/ibl'
      security: []
      summary: Get Trailers (pre-rolls)
      tags:
      - Episodes
  /episodes/{pid}/recommendations:
    get:
      description: Get programme recommendations
      operationId: episodes.pid.recommendations.get
      parameters:
      - $ref: '#/parameters/pid'
      - $ref: '#/parameters/rights'
      - $ref: '#/parameters/availability'
      - $ref: '#/parameters/page'
      - $ref: '#/parameters/per_page'
      responses:
        200:
          description: Default response
          schema:
            $ref: '#/definitions/ibl'
      security: []
      summary: Get programme recommendations
      tags:
      - Episodes
  /groups/popular/episodes:
    get:
      description: Get programmes popular
      operationId: groups.popular.episodes.get
      parameters:
      - $ref: '#/parameters/rights'
      - $ref: '#/parameters/page'
      - $ref: '#/parameters/per_page'
      - $ref: '#/parameters/initial_child_count'
      - $ref: '#/parameters/sort'
      - $ref: '#/parameters/sort_direction'
      - $ref: '#/parameters/availability'
      - $ref: '#/parameters/mixin'
      responses:
        200:
          description: Default response
          schema:
            $ref: '#/definitions/ibl'
      security: []
      summary: Get programmes popular
      tags:
      - Episodes
  /groups/{pid}/episodes:
    get:
      description: Get episodes by group, brand or series
      operationId: groups.pid.episodes.get
      parameters:
      - $ref: '#/parameters/pid'
      - $ref: '#/parameters/rights'
      - $ref: '#/parameters/page'
      - $ref: '#/parameters/per_page'
      - $ref: '#/parameters/initial_child_count'
      - $ref: '#/parameters/sort'
      - $ref: '#/parameters/sort_direction'
      - $ref: '#/parameters/availability'
      - $ref: '#/parameters/mixin'
      responses:
        200:
          description: Default response
          schema:
            $ref: '#/definitions/ibl'
      security: []
      summary: Get episodes by group, brand or series
      tags:
      - Episodes
  /home/highlights:
    get:
      description: Get programme highlights
      operationId: home.highlights.get
      parameters:
      - $ref: '#/parameters/lang'
      - $ref: '#/parameters/rights'
      - $ref: '#/parameters/availability'
      - $ref: '#/parameters/mixin'
      responses:
        200:
          description: Default response
          schema:
            $ref: '#/definitions/ibl'
      security: []
      summary: Get programme highlights
      tags:
      - Programmes (TLEOs)
  /programmes/{pid}:
    get:
      description: Get the programme for a given programme identifier.
      operationId: programmes.pid.get
      parameters:
      - $ref: '#/parameters/pid'
      - $ref: '#/parameters/rights'
      - $ref: '#/parameters/availability'
      - $ref: '#/parameters/initial_child_count'
      responses:
        200:
          description: Default response
          schema:
            $ref: '#/definitions/ibl'
      security: []
      summary: Programme for a given pid.
      tags:
      - Programmes (TLEOs)
  /programmes/{pid}/episodes:
    get:
      description: Get the child episodes belonging to a given programme identifier.
      operationId: programmes.pid.episodes.get
      parameters:
      - $ref: '#/parameters/pid'
      - $ref: '#/parameters/rights'
      - $ref: '#/parameters/availability'
      - $ref: '#/parameters/initial_child_count'
      responses:
        200:
          description: Default response
          schema:
            $ref: '#/definitions/ibl'
      security: []
      summary: Child episodes for a given programme pid.
      tags:
      - Episodes
  /regions:
    get:
      description: Get the list of all the regions TV & iPlayer.
      operationId: Get_Regions_
      parameters:
      - $ref: '#/parameters/lang'
      responses:
        200:
          description: Default response
          schema:
            $ref: '#/definitions/ibl'
      security: []
      summary: List all regions
      tags:
      - Regions
  /schema/ibl.json:
    get:
      description: Get schema
      operationId: Get_Schema_
      parameters: []
      responses:
        200:
          description: Default response
          schema:
            $ref: '#/definitions/ibl'
      security: []
      summary: Get schema
      tags:
      - Metadata
  /search:
    get:
      description: Search
      operationId: Search_
      parameters:
      - $ref: '#/parameters/q'
      - $ref: '#/parameters/lang'
      - $ref: '#/parameters/rights'
      - $ref: '#/parameters/availability'
      responses:
        200:
          description: Default response
          schema:
            $ref: '#/definitions/ibl'
      security: []
      summary: Search
      tags:
      - Search
  /search-suggest:
    get:
      description: Search-suggest
      operationId: search_suggest.get
      parameters:
      - $ref: '#/parameters/q'
      - $ref: '#/parameters/lang'
      - $ref: '#/parameters/rights'
      - $ref: '#/parameters/availability'
      responses:
        200:
          description: Default response
          schema:
            $ref: '#/definitions/ibl'
      security: []
      summary: Search-suggest
      tags:
      - Search
  /status:
    get:
      description: Get the current iPlayer business layer status. This tells the caller
        the status of the iPlayer data, but not necessarily the overall status of
        the website. In the future it might include the status of the dependent data
        services within the BBC.
      operationId: Get_Status_
      parameters: []
      responses:
        200:
          description: Default response
          schema:
            $ref: '#/definitions/ibl'
      security: []
      summary: Get status
      tags:
      - Metadata
  /user/purchases:
    get:
      description: Get user store purchases
      operationId: user.purchases.get
      parameters:
      - $ref: '#/parameters/identity_cookie'
      responses:
        200:
          description: Default response
          schema:
            $ref: '#/definitions/ibl'
      security:
      - basic: []
      summary: Get user store purchases
      tags:
      - User
  /user/recommendations:
    get:
      description: Get user store recommendations
      operationId: user.recommendations.get
      parameters:
      - $ref: '#/parameters/identity_cookie'
      responses:
        200:
          description: Default response
          schema:
            $ref: '#/definitions/ibl'
      security: []
      summary: Get user store recommendations
      tags:
      - User
  /user/watching:
    get:
      description: Get user watching
      operationId: user.watching.get
      parameters:
      - $ref: '#/parameters/identity_cookie'
      responses:
        200:
          description: Default response
          schema:
            $ref: '#/definitions/ibl'
      security: []
      summary: Get user watching
      tags:
      - User
produces:
- application/json
schemes:
- http
- https
definitions: !php/object "O:8:\"stdClass\":19:{s:5:\"added\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"programme\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/programme\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"enum\";a:1:{i:0;s:5:\"added\";}}s:3:\"urn\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:3:\"urn\";i:1;s:4:\"type\";i:2;s:9:\"programme\";}s:4:\"type\";s:6:\"object\";}s:8:\"autoplay\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"episode\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/episode\";}s:6:\"source\";O:8:\"stdClass\":1:{s:4:\"enum\";a:4:{i:0;s:5:\"precs\";i:1;s:6:\"receng\";i:2;s:4:\"next\";i:3;s:8:\"watching\";}}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"enum\";a:1:{i:0;s:8:\"autoplay\";}}}s:8:\"required\";a:3:{i:0;s:7:\"episode\";i:1;s:4:\"type\";i:2;s:6:\"source\";}s:4:\"type\";s:6:\"object\";}s:9:\"broadcast\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":15:{s:23:\"available_on_hd_service\";O:8:\"stdClass\":1:{s:4:\"type\";a:2:{i:0;s:6:\"string\";i:1;s:4:\"null\";}}s:7:\"blanked\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:13:\"channel_title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"duration\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:5:\"value\";i:1;s:4:\"text\";}s:4:\"type\";s:6:\"object\";}s:7:\"episode\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/episode\";}s:10:\"episode_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"repeat\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:13:\"scheduled_end\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"scheduled_start\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"service_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"transmission_end\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"transmission_start\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"enum\";a:1:{i:0;s:9:\"broadcast\";}}s:10:\"version_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:10:{i:0;s:2:\"id\";i:1;s:4:\"type\";i:2;s:15:\"scheduled_start\";i:3;s:13:\"scheduled_end\";i:4;s:6:\"repeat\";i:5;s:7:\"blanked\";i:6;s:7:\"episode\";i:7;s:10:\"episode_id\";i:8;s:10:\"version_id\";i:9;s:10:\"service_id\";}s:4:\"type\";s:6:\"object\";}s:8:\"category\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":9:{s:19:\"child_episode_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:21:\"child_programme_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:16:\"contextual_title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":1:{s:4:\"enum\";a:3:{i:0;s:5:\"genre\";i:1;s:13:\"accessibility\";i:2;s:8:\"national\";}}s:15:\"parent_category\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"sub_categories\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/category\";}s:4:\"type\";s:5:\"array\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"enum\";a:1:{i:0;s:8:\"category\";}}}s:8:\"required\";a:4:{i:0;s:2:\"id\";i:1;s:5:\"title\";i:2;s:4:\"type\";i:3;s:4:\"kind\";}s:4:\"type\";s:6:\"object\";}s:7:\"channel\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":7:{s:12:\"has_schedule\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"master_brand_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"master_brand_title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"on_air\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"enum\";a:1:{i:0;s:7:\"channel\";}}}s:8:\"required\";a:6:{i:0;s:2:\"id\";i:1;s:5:\"title\";i:2;s:4:\"type\";i:3;s:12:\"has_schedule\";i:4;s:15:\"master_brand_id\";i:5;s:18:\"master_brand_title\";}s:4:\"type\";s:6:\"object\";}s:4:\"clip\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":12:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"images\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"inherited_from\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"standard\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"enum\";a:1:{i:0;s:5:\"image\";}}}s:8:\"required\";a:2:{i:0;s:4:\"type\";i:1;s:8:\"standard\";}s:4:\"type\";s:6:\"object\";}s:6:\"labels\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"editorial\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"master_brand\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/master_brand\";}s:14:\"onward_journey\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"enum\";a:1:{i:0;s:7:\"episode\";}}}s:4:\"type\";s:6:\"object\";}s:14:\"promotion_type\";O:8:\"stdClass\":1:{s:4:\"enum\";a:2:{i:0;s:13:\"available_now\";i:1;s:11:\"coming_soon\";}}s:8:\"synopses\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"editorial\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"large\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"medium\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"small\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"tleo_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"tleo_type\";O:8:\"stdClass\":1:{s:4:\"enum\";a:3:{i:0;s:7:\"episode\";i:1;s:5:\"brand\";i:2;s:6:\"series\";}}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"enum\";a:1:{i:0;s:4:\"clip\";}}s:8:\"versions\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":12:{s:12:\"availability\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":4:{s:14:\"accurate_start\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"end\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"remaining\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"text\";}s:4:\"type\";s:6:\"object\";}s:5:\"start\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:5:\"start\";}s:4:\"type\";s:6:\"object\";}s:13:\"credits_start\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"download\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"duration\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"text\";i:1;s:5:\"value\";}s:4:\"type\";s:6:\"object\";}s:15:\"first_broadcast\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"guidance\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"text\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"large\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"medium\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"small\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:1:{i:0;s:2:\"id\";}s:4:\"type\";s:6:\"object\";}s:2:\"hd\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"rrc\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"description\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"large\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"small\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:5:\"small\";i:1;s:5:\"large\";}s:4:\"type\";s:6:\"object\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:11:\"description\";}s:4:\"type\";s:6:\"object\";}s:10:\"service_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"enum\";a:2:{i:0;s:7:\"version\";i:1;s:13:\"version_large\";}}}s:8:\"required\";a:7:{i:0;s:2:\"id\";i:1;s:4:\"type\";i:2;s:2:\"hd\";i:3;s:8:\"download\";i:4;s:8:\"duration\";i:5;s:4:\"kind\";i:6;s:12:\"availability\";}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:8:{i:0;s:2:\"id\";i:1;s:4:\"type\";i:2;s:5:\"title\";i:3;s:6:\"images\";i:4;s:7:\"tleo_id\";i:5;s:8:\"synopses\";i:6;s:8:\"versions\";i:7;s:12:\"master_brand\";}s:4:\"type\";s:6:\"object\";}s:7:\"episode\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":33:{s:15:\"audio_described\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"categories\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:18:\"editorial_subtitle\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"editorial_title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"guidance\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"has_credits\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"images\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"inherited_from\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"standard\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"enum\";a:1:{i:0;s:5:\"image\";}}}s:8:\"required\";a:2:{i:0;s:4:\"type\";i:1;s:8:\"standard\";}s:4:\"type\";s:6:\"object\";}s:6:\"labels\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"category\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"editorial\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"editorial_category\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"time\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"lexical_sort_letter\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"live\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:12:\"master_brand\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/master_brand\";}s:14:\"next_broadcast\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"channel_title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"scheduled_start\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:13:\"channel_title\";i:1;s:15:\"scheduled_start\";}s:4:\"type\";s:6:\"object\";}s:14:\"original_title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"parent_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"parent_position\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:10:\"preview_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"promoted\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:13:\"related_links\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"enum\";a:1:{i:0;s:4:\"link\";}}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:5:{i:0;s:2:\"id\";i:1;s:3:\"url\";i:2;s:4:\"type\";i:3;s:4:\"kind\";i:4;s:5:\"title\";}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:12:\"release_date\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"release_date_time\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"requires_sign_in\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:19:\"requires_tv_licence\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:6:\"signed\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"enum\";a:2:{i:0;s:9:\"available\";i:1;s:11:\"unavailable\";}}s:8:\"subtitle\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"suppliers\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";b:0;s:5:\"items\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:2:\"id\";i:1;s:5:\"title\";}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:8:\"synopses\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"editorial\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"large\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"medium\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"preview\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"small\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"tleo_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"tleo_type\";O:8:\"stdClass\":1:{s:4:\"enum\";a:3:{i:0;s:7:\"episode\";i:1;s:5:\"brand\";i:2;s:6:\"series\";}}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"enum\";a:2:{i:0;s:7:\"episode\";i:1;s:13:\"episode_large\";}}s:8:\"versions\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:7:\"x-anyOf\";a:2:{i:0;O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":12:{s:12:\"availability\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":4:{s:14:\"accurate_start\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"end\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"remaining\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"text\";}s:4:\"type\";s:6:\"object\";}s:5:\"start\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:5:\"start\";}s:4:\"type\";s:6:\"object\";}s:13:\"credits_start\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"download\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"duration\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"text\";i:1;s:5:\"value\";}s:4:\"type\";s:6:\"object\";}s:15:\"first_broadcast\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"guidance\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"text\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"large\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"medium\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"small\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:1:{i:0;s:2:\"id\";}s:4:\"type\";s:6:\"object\";}s:2:\"hd\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"rrc\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"description\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"large\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"small\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:5:\"small\";i:1;s:5:\"large\";}s:4:\"type\";s:6:\"object\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:11:\"description\";}s:4:\"type\";s:6:\"object\";}s:10:\"service_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"enum\";a:2:{i:0;s:7:\"version\";i:1;s:13:\"version_large\";}}}s:8:\"required\";a:7:{i:0;s:2:\"id\";i:1;s:4:\"type\";i:2;s:2:\"hd\";i:3;s:8:\"download\";i:4;s:8:\"duration\";i:5;s:4:\"kind\";i:6;s:12:\"availability\";}s:4:\"type\";s:6:\"object\";}i:1;O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":10:{s:8:\"download\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"duration\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"text\";i:1;s:5:\"value\";}s:4:\"type\";s:6:\"object\";}s:8:\"guidance\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"text\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"large\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"medium\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"small\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:1:{i:0;s:2:\"id\";}s:4:\"type\";s:6:\"object\";}s:2:\"hd\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"store_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"store_profile\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"store_session\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"ceiling\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"stats\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:9:\"assetName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"contentType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"contentVariant\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"episodeName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"parentPID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"parentPIDType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"productVariant\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"viewerId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"token\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:5:\"token\";i:1;s:5:\"stats\";}s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"enum\";a:1:{i:0;s:13:\"store_version\";}}}s:8:\"required\";a:8:{i:0;s:2:\"id\";i:1;s:4:\"type\";i:2;s:8:\"store_id\";i:3;s:13:\"store_profile\";i:4;s:2:\"hd\";i:5;s:8:\"download\";i:6;s:8:\"duration\";i:7;s:4:\"kind\";}s:4:\"type\";s:6:\"object\";}}}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:17:{i:0;s:2:\"id\";i:1;s:4:\"type\";i:2;s:5:\"title\";i:3;s:6:\"images\";i:4;s:6:\"signed\";i:5;s:15:\"audio_described\";i:6;s:6:\"status\";i:7;s:7:\"tleo_id\";i:8;s:8:\"guidance\";i:9;s:8:\"synopses\";i:10;s:8:\"versions\";i:11;s:9:\"suppliers\";i:12;s:9:\"tleo_type\";i:13;s:10:\"categories\";i:14;s:12:\"master_brand\";i:15;s:19:\"lexical_sort_letter\";i:16;s:16:\"requires_sign_in\";}s:4:\"type\";s:6:\"object\";}s:5:\"group\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":12:{s:5:\"count\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:22:\"episode_sort_direction\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"group_type\";O:8:\"stdClass\":1:{s:4:\"enum\";a:2:{i:0;s:4:\"tleo\";i:1;s:7:\"curated\";}}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"images\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"standard\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"enum\";a:1:{i:0;s:5:\"image\";}}s:8:\"vertical\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:4:\"type\";i:1;s:8:\"standard\";i:2;s:8:\"vertical\";}s:4:\"type\";s:6:\"object\";}s:16:\"initial_children\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:7:\"x-anyOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/episode\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/broadcast\";}}}s:4:\"type\";s:5:\"array\";}s:12:\"master_brand\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/master_brand\";}s:13:\"related_links\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"kind\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:4:\"kind\";i:1;s:3:\"url\";i:2;s:5:\"title\";}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:7:\"stacked\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"synopses\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"large\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"medium\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"small\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"enum\";a:2:{i:0;s:5:\"group\";i:1;s:11:\"group_large\";}}}s:8:\"required\";a:2:{i:0;s:2:\"id\";i:1;s:4:\"type\";}s:4:\"type\";s:6:\"object\";}s:3:\"ibl\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":34:{s:5:\"added\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"count\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"count_all\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"elements\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/added\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:3:{i:0;s:8:\"elements\";i:1;s:5:\"count\";i:2;s:9:\"count_all\";}s:4:\"type\";s:6:\"object\";}s:4:\"adds\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"added\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:2:\"id\";i:1;s:5:\"added\";}s:4:\"type\";s:6:\"object\";}s:15:\"atoz_programmes\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"character\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"count\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"elements\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/programme\";}s:4:\"type\";s:5:\"array\";}s:4:\"page\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"per_page\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}s:8:\"required\";a:5:{i:0;s:9:\"character\";i:1;s:4:\"page\";i:2;s:5:\"count\";i:3;s:8:\"per_page\";i:4;s:8:\"elements\";}s:4:\"type\";s:6:\"object\";}s:8:\"autoplay\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/autoplay\";}s:8:\"maxItems\";i:1;s:8:\"minItems\";i:0;s:4:\"type\";s:5:\"array\";}s:10:\"broadcasts\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"channel\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/channel\";}s:5:\"count\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"elements\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/broadcast\";}s:4:\"type\";s:5:\"array\";}s:4:\"page\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"per_page\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}s:8:\"required\";a:5:{i:0;s:8:\"elements\";i:1;s:4:\"page\";i:2;s:8:\"per_page\";i:3;s:5:\"count\";i:4;s:7:\"channel\";}s:4:\"type\";s:6:\"object\";}s:10:\"categories\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/category\";}s:4:\"type\";s:5:\"array\";}s:8:\"category\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/category\";}s:19:\"category_highlights\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"category\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/category\";}s:8:\"elements\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:7:\"x-anyOf\";a:3:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/episode\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/group\";}i:2;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/promotion\";}}}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:2:{i:0;s:8:\"category\";i:1;s:8:\"elements\";}s:4:\"type\";s:6:\"object\";}s:19:\"category_programmes\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"category\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/category\";}s:5:\"count\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"elements\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/programme\";}s:4:\"type\";s:5:\"array\";}s:4:\"page\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"per_page\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}s:8:\"required\";a:5:{i:0;s:8:\"category\";i:1;s:4:\"page\";i:2;s:5:\"count\";i:3;s:8:\"per_page\";i:4;s:8:\"elements\";}s:4:\"type\";s:6:\"object\";}s:18:\"channel_highlights\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"channel\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/channel\";}s:8:\"elements\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:7:\"x-anyOf\";a:3:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/episode\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/group\";}i:2;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/promotion\";}}}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:2:{i:0;s:7:\"channel\";i:1;s:8:\"elements\";}s:4:\"type\";s:6:\"object\";}s:8:\"channels\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/channel\";}s:4:\"type\";s:5:\"array\";}s:5:\"clips\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/clip\";}s:8:\"maxItems\";i:1;s:4:\"type\";s:5:\"array\";}s:23:\"episode_recommendations\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"blend\";O:8:\"stdClass\":1:{s:4:\"enum\";a:2:{i:0;s:7:\"curated\";i:1;s:11:\"algorithmic\";}}s:5:\"count\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"elements\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/episode\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:3:{i:0;s:8:\"elements\";i:1;s:5:\"count\";i:2;s:5:\"blend\";}s:4:\"type\";s:6:\"object\";}s:8:\"episodes\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/episode\";}s:4:\"type\";s:5:\"array\";}s:5:\"error\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"details\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"http_response_code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}s:8:\"required\";a:2:{i:0;s:7:\"details\";i:1;s:18:\"http_response_code\";}s:4:\"type\";s:6:\"object\";}s:14:\"group_episodes\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":5:{s:5:\"count\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"elements\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/episode\";}s:4:\"type\";s:5:\"array\";}s:5:\"group\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/group\";}s:4:\"page\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"per_page\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}s:8:\"required\";a:4:{i:0;s:8:\"elements\";i:1;s:4:\"page\";i:2;s:8:\"per_page\";i:3;s:5:\"count\";}s:4:\"type\";s:6:\"object\";}s:15:\"home_highlights\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"elements\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:7:\"x-anyOf\";a:3:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/episode\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/group\";}i:2;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/promotion\";}}}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:8:\"elements\";}s:4:\"type\";s:6:\"object\";}s:4:\"next\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"programme\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/episode\";}s:8:\"maxItems\";i:1;s:8:\"minItems\";i:0;s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:9:\"postrolls\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/trailer\";}s:4:\"type\";s:5:\"array\";}s:8:\"prerolls\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/trailer\";}s:4:\"type\";s:5:\"array\";}s:18:\"programme_episodes\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"count\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"elements\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/episode\";}s:4:\"type\";s:5:\"array\";}s:4:\"page\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"per_page\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}s:8:\"required\";a:4:{i:0;s:8:\"elements\";i:1;s:4:\"page\";i:2;s:8:\"per_page\";i:3;s:5:\"count\";}s:4:\"type\";s:6:\"object\";}s:10:\"programmes\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/programme\";}s:4:\"type\";s:5:\"array\";}s:9:\"purchases\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":6:{s:5:\"count\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"elements\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/episode\";}s:4:\"type\";s:5:\"array\";}s:4:\"page\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"per_page\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:11:\"revocations\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:20:\"value_added_material\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:6:{i:0;s:8:\"elements\";i:1;s:4:\"page\";i:2;s:8:\"per_page\";i:3;s:5:\"count\";i:4;s:11:\"revocations\";i:5;s:20:\"value_added_material\";}s:4:\"type\";s:6:\"object\";}s:7:\"regions\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/region\";}s:4:\"type\";s:5:\"array\";}s:8:\"schedule\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"channel\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/channel\";}s:8:\"elements\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/broadcast\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:2:{i:0;s:8:\"elements\";i:1;s:7:\"channel\";}s:4:\"type\";s:6:\"object\";}s:6:\"schema\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"search\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":5:{s:5:\"count\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"page\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"per_page\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"query\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"results\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:7:\"x-anyOf\";a:3:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/episode\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/programme\";}i:2;O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/search_group\";}}}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:2:{i:0;s:7:\"results\";i:1;s:5:\"query\";}s:4:\"type\";s:6:\"object\";}s:14:\"search_suggest\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"query\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"results\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/programme\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:2:{i:0;s:7:\"results\";i:1;s:5:\"query\";}s:4:\"type\";s:6:\"object\";}s:6:\"status\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"release\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"service\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:7:\"service\";i:1;s:7:\"release\";}s:4:\"type\";s:6:\"object\";}s:8:\"trailers\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"elements\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/clip\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:8:\"elements\";}s:4:\"type\";s:6:\"object\";}s:20:\"user_recommendations\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"elements\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/user_recommendation\";}s:4:\"type\";s:5:\"array\";}s:7:\"rec_set\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"rec_source\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:8:\"elements\";i:1;s:10:\"rec_source\";i:2;s:7:\"rec_set\";}s:4:\"type\";s:6:\"object\";}s:7:\"version\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"versions\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/store_version\";}s:4:\"type\";s:5:\"array\";}s:8:\"watching\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"count\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"count_all\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"elements\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/watching\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:3:{i:0;s:8:\"elements\";i:1;s:5:\"count\";i:2;s:9:\"count_all\";}s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:2:{i:0;s:6:\"schema\";i:1;s:7:\"version\";}s:4:\"type\";s:6:\"object\";}s:12:\"master_brand\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"attribution\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"ident_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"titles\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"large\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"medium\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"small\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:5:\"small\";i:1;s:6:\"medium\";i:2;s:5:\"large\";}s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:3:{i:0;s:2:\"id\";i:1;s:6:\"titles\";i:2;s:11:\"attribution\";}s:4:\"type\";s:6:\"object\";}s:9:\"programme\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":14:{s:10:\"categories\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:5:\"count\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"images\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"inherited_from\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"standard\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"enum\";a:1:{i:0;s:5:\"image\";}}}s:8:\"required\";a:2:{i:0;s:4:\"type\";i:1;s:8:\"standard\";}s:4:\"type\";s:6:\"object\";}s:16:\"initial_children\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/episode\";}s:4:\"type\";s:5:\"array\";}s:6:\"labels\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"category\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"lexical_sort_letter\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"master_brand\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/master_brand\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"enum\";a:2:{i:0;s:9:\"available\";i:1;s:11:\"unavailable\";}}s:9:\"suppliers\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";b:0;s:5:\"items\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:2:\"id\";i:1;s:5:\"title\";}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:8:\"synopses\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"large\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"medium\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"small\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"tleo_type\";O:8:\"stdClass\":1:{s:4:\"enum\";a:3:{i:0;s:5:\"brand\";i:1;s:6:\"series\";i:2;s:7:\"episode\";}}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"enum\";a:2:{i:0;s:9:\"programme\";i:1;s:15:\"programme_large\";}}}s:8:\"required\";a:12:{i:0;s:2:\"id\";i:1;s:4:\"type\";i:2;s:5:\"title\";i:3;s:8:\"synopses\";i:4;s:19:\"lexical_sort_letter\";i:5;s:6:\"images\";i:6;s:12:\"master_brand\";i:7;s:9:\"suppliers\";i:8;s:10:\"categories\";i:9;s:6:\"status\";i:10;s:5:\"count\";i:11;s:16:\"initial_children\";}s:4:\"type\";s:6:\"object\";}s:9:\"promotion\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":8:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"images\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"inherited_from\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"standard\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"enum\";a:1:{i:0;s:5:\"image\";}}}s:8:\"required\";a:2:{i:0;s:4:\"type\";i:1;s:8:\"standard\";}s:4:\"type\";s:6:\"object\";}s:6:\"labels\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"promotion\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:9:\"promotion\";}s:4:\"type\";s:6:\"object\";}s:8:\"subtitle\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"synopses\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"large\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"medium\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"small\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"enum\";a:1:{i:0;s:9:\"promotion\";}}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:2:\"id\";i:1;s:4:\"type\";}s:4:\"type\";s:6:\"object\";}s:6:\"region\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":1:{s:4:\"enum\";a:2:{i:0;s:8:\"regional\";i:1;s:8:\"national\";}}s:8:\"short_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"enum\";a:1:{i:0;s:6:\"region\";}}}s:8:\"required\";a:5:{i:0;s:2:\"id\";i:1;s:8:\"short_id\";i:2;s:4:\"type\";i:3;s:5:\"title\";i:4;s:4:\"kind\";}s:4:\"type\";s:6:\"object\";}s:12:\"search_group\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"episode\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/episode\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"enum\";a:1:{i:0;s:12:\"search_group\";}}}s:8:\"required\";a:3:{i:0;s:2:\"id\";i:1;s:4:\"type\";i:2;s:7:\"episode\";}s:4:\"type\";s:6:\"object\";}s:13:\"store_version\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":10:{s:8:\"download\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"duration\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"text\";i:1;s:5:\"value\";}s:4:\"type\";s:6:\"object\";}s:8:\"guidance\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"text\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"large\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"medium\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"small\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:1:{i:0;s:2:\"id\";}s:4:\"type\";s:6:\"object\";}s:2:\"hd\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"store_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"store_profile\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"store_session\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"ceiling\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"stats\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:9:\"assetName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"contentType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"contentVariant\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"episodeName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"parentPID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"parentPIDType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"productVariant\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"viewerId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"token\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:5:\"token\";i:1;s:5:\"stats\";}s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"enum\";a:1:{i:0;s:13:\"store_version\";}}}s:8:\"required\";a:8:{i:0;s:2:\"id\";i:1;s:4:\"type\";i:2;s:8:\"store_id\";i:3;s:13:\"store_profile\";i:4;s:2:\"hd\";i:5;s:8:\"download\";i:6;s:8:\"duration\";i:7;s:4:\"kind\";}s:4:\"type\";s:6:\"object\";}s:7:\"trailer\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":1:{s:4:\"enum\";a:3:{i:0;s:13:\"available_now\";i:1;s:11:\"coming_soon\";i:2;s:5:\"other\";}}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"enum\";a:1:{i:0;s:7:\"trailer\";}}s:10:\"version_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:5:{i:0;s:2:\"id\";i:1;s:4:\"type\";i:2;s:5:\"title\";i:3;s:4:\"kind\";i:4;s:10:\"version_id\";}s:4:\"type\";s:6:\"object\";}s:19:\"user_recommendation\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"algorithm\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"episode\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/episode\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"enum\";a:1:{i:0;s:19:\"user_recommendation\";}}}s:8:\"required\";a:3:{i:0;s:9:\"algorithm\";i:1;s:4:\"type\";i:2;s:7:\"episode\";}s:4:\"type\";s:6:\"object\";}s:7:\"version\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":12:{s:12:\"availability\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":4:{s:14:\"accurate_start\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"end\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"remaining\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"text\";}s:4:\"type\";s:6:\"object\";}s:5:\"start\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:5:\"start\";}s:4:\"type\";s:6:\"object\";}s:13:\"credits_start\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"download\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"duration\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"text\";i:1;s:5:\"value\";}s:4:\"type\";s:6:\"object\";}s:15:\"first_broadcast\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"guidance\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"text\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"large\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"medium\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"small\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:1:{i:0;s:2:\"id\";}s:4:\"type\";s:6:\"object\";}s:2:\"hd\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"kind\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"rrc\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"description\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"large\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"small\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:5:\"small\";i:1;s:5:\"large\";}s:4:\"type\";s:6:\"object\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:11:\"description\";}s:4:\"type\";s:6:\"object\";}s:10:\"service_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"enum\";a:2:{i:0;s:7:\"version\";i:1;s:13:\"version_large\";}}}s:8:\"required\";a:7:{i:0;s:2:\"id\";i:1;s:4:\"type\";i:2;s:2:\"hd\";i:3;s:8:\"download\";i:4;s:8:\"duration\";i:5;s:4:\"kind\";i:6;s:12:\"availability\";}s:4:\"type\";s:6:\"object\";}s:8:\"watching\";O:8:\"stdClass\":4:{s:20:\"additionalProperties\";b:0;s:10:\"properties\";O:8:\"stdClass\":10:{s:7:\"episode\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/episode\";}s:8:\"has_next\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:6:\"offset\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"programme\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/programme\";}s:8:\"progress\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"remaining\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"enum\";a:2:{i:0;s:7:\"current\";i:1;s:4:\"next\";}}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"enum\";a:1:{i:0;s:8:\"watching\";}}s:3:\"urn\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/version\";}}s:8:\"required\";a:6:{i:0;s:4:\"type\";i:1;s:3:\"urn\";i:2;s:7:\"episode\";i:3;s:9:\"programme\";i:4;s:7:\"version\";i:5;s:8:\"has_next\";}s:4:\"type\";s:6:\"object\";}}"
...
