---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:7:\"version\";s:3:\"1.0\";s:5:\"title\";s:31:\"Billing
  document validation API\";s:11:\"description\";s:79:\"APIs for validation of the
  various billing documents (invoice, credit note, ..)\";}"
host: syn.testpoint.io
basePath: /
paths:
  /invoice:
    post:
      summary: Validate an invoice
      description: Validate an invoice
      operationId: validate
      parameters:
      - name: invoice
        in: body
        description: invoice to be sent
        required: true
        schema:
          title: NewInvoice
          required:
          - IssueDate
          - DueDate
          - InvoiceTypeCode
          - BuyerReference
          - OrderReference
          - AccountingSupplierParty
          - AccountingCustomerParty
          properties:
            IssueDate:
              type: string
              format: date
            DueDate:
              type: string
              format: date
            InvoiceTypeCode:
              type: string
            Note:
              type: string
            DocumentCurrencyCode:
              type: string
            BuyerReference:
              type: string
            OrderReference:
              title: Identification GUID
              required:
              - ID
              properties:
                ID:
                  type: string
            AccountingSupplierParty:
              title: Suppier Party
              properties:
                Party:
                  title: Party Details
                  required:
                  - PartyIdentification
                  - PartyName
                  properties:
                    PartyIdentification:
                      title: Identification GUID
                      required:
                      - ID
                      properties:
                        ID:
                          type: string
                    PartyName:
                      title: Name
                      required:
                      - Name
                      properties:
                        Name:
                          type: string
                    PostalAddress:
                      title: Address
                      properties:
                        CityName:
                          type: string
                        PostalZone:
                          type: string
                        CountrySubentity:
                          type: string
                        AddressLine:
                          title: Address Line
                          properties:
                            Line:
                              type: string
                        Country:
                          title: Country
                          properties:
                            IdentificationCode:
                              description: Country Code
                              type: string
                    PartyLegalEntity:
                      title: Company ID
                      required:
                      - CompanyID
                      properties:
                        CompanyID:
                          type: string
            AccountingCustomerParty:
              title: Buyer Party
              properties:
                Party:
                  title: Party Details
                  required:
                  - PartyIdentification
                  - PartyName
                  properties:
                    PartyIdentification:
                      $ref: http://json-schema.org/schema#/definitions/ID
                    PartyName:
                      $ref: http://json-schema.org/schema#/definitions/Name
                    PostalAddress:
                      $ref: http://json-schema.org/schema#/definitions/Address
                    PartyLegalEntity:
                      $ref: http://json-schema.org/schema#/definitions/CompanyID
                BuyerContact:
                  title: Contact
                  properties:
                    ID:
                      type: string
                    Telephone:
                      type: string
                    ElectronicMail:
                      type: string
            Delivery:
              title: Delivery Details
              properties:
                ActualDeliveryDate:
                  type: string
                DeliveryAddress:
                  title: Address
                  properties:
                    CityName:
                      type: string
                    PostalZone:
                      type: string
                    CountrySubentity:
                      type: string
                    AddressLine:
                      $ref: http://json-schema.org/schema#/definitions/AddressLine
                    Country:
                      $ref: http://json-schema.org/schema#/definitions/Country
            PaymentMeans:
              title: Playment
              properties:
                ID:
                  type: string
                PaymentMeansCode:
                  type: string
                InstructionID:
                  type: string
                PayeeFinancialAccount:
                  title: PayeeFinancialAccount
                  properties:
                    ID:
                      type: string
                    FinancialInstitutionBranch:
                      title: FinancialInstitutionBranch
                      properties:
                        ID:
                          type: string
                        Name:
                          type: string
            TaxTotal:
              title: TaxAmount
              required:
              - TaxAmount
              properties:
                TaxAmount:
                  title: Currency
                  required:
                  - currency
                  - value
                  properties:
                    currency:
                      type: string
                    value:
                      type: string
            LegalMonetaryTotal:
              title: LegalMonetaryTotal
              properties:
                LineExtensionAmount:
                  title: Currency
                  required:
                  - currency
                  - value
                  properties:
                    currency:
                      type: string
                    value:
                      type: string
                TaxExclusiveAmount:
                  title: Currency
                  required:
                  - currency
                  - value
                  properties:
                    currency:
                      type: string
                    value:
                      type: string
                TaxInclusiveAmount:
                  title: Currency
                  required:
                  - currency
                  - value
                  properties:
                    currency:
                      type: string
                    value:
                      type: string
                PayableAmount:
                  title: Currency
                  required:
                  - currency
                  - value
                  properties:
                    currency:
                      type: string
                    value:
                      type: string
            InvoiceLine:
              type: array
              items:
                title: InvoiceLine
                properties:
                  ID:
                    type: string
                  Note:
                    type: string
                  InvoicedQuantity:
                    type: string
                    format: integer
                  LineExtensionAmount:
                    title: Currency
                    required:
                    - currency
                    - value
                    properties:
                      currency:
                        type: string
                      value:
                        type: string
                  TaxTotal:
                    title: TaxTotal
                    properties:
                      TaxAmount:
                        title: Currency
                        required:
                        - currency
                        - value
                        properties:
                          currency:
                            type: string
                          value:
                            type: string
                      TaxSubtotal:
                        title: TaxSubtotal
                        properties:
                          TaxAmount:
                            title: Currency
                            required:
                            - currency
                            - value
                            properties:
                              currency:
                                type: string
                              value:
                                type: string
                          TaxCategory:
                            title: TaxCategory
                            properties:
                              TaxScheme:
                                title: Identification GUID
                                required:
                                - ID
                                properties:
                                  ID:
                                    type: string
                  Item:
                    title: Item Identification
                    properties:
                      Description:
                        type: string
                      SellersItemIdentification:
                        title: Identification GUID
                        required:
                        - ID
                        properties:
                          ID:
                            type: string
                      StandardItemIdentification:
                        title: Identification GUID
                        required:
                        - ID
                        properties:
                          ID:
                            type: string
                  Price:
                    title: Item Price
                    properties:
                      PriceAmount:
                        title: Currency
                        required:
                        - currency
                        - value
                        properties:
                          currency:
                            type: string
                          value:
                            type: string
                      BaseQuantity:
                        type: string
                        format: integer
      responses:
        200:
          description: OK
        403:
          description: Forbidden Error
        500:
          description: Any appropriate HTTP server error
definitions: !php/object "O:8:\"stdClass\":11:{s:7:\"Invoice\";O:8:\"stdClass\":3:{s:5:\"title\";s:10:\"NewInvoice\";s:8:\"required\";a:7:{i:0;s:9:\"IssueDate\";i:1;s:7:\"DueDate\";i:2;s:15:\"InvoiceTypeCode\";i:3;s:14:\"BuyerReference\";i:4;s:14:\"OrderReference\";i:5;s:23:\"AccountingSupplierParty\";i:6;s:23:\"AccountingCustomerParty\";}s:10:\"properties\";O:8:\"stdClass\":14:{s:9:\"IssueDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";}s:7:\"DueDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";}s:15:\"InvoiceTypeCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Note\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"DocumentCurrencyCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"BuyerReference\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"OrderReference\";O:8:\"stdClass\":3:{s:5:\"title\";s:19:\"Identification
  GUID\";s:8:\"required\";a:1:{i:0;s:2:\"ID\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"ID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:23:\"AccountingSupplierParty\";O:8:\"stdClass\":2:{s:5:\"title\";s:13:\"Suppier
  Party\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"Party\";O:8:\"stdClass\":3:{s:5:\"title\";s:13:\"Party
  Details\";s:8:\"required\";a:2:{i:0;s:19:\"PartyIdentification\";i:1;s:9:\"PartyName\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:19:\"PartyIdentification\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"http://json-schema.org/schema#/definitions/ID\";}s:9:\"PartyName\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:47:\"http://json-schema.org/schema#/definitions/Name\";}s:13:\"PostalAddress\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:50:\"http://json-schema.org/schema#/definitions/Address\";}s:16:\"PartyLegalEntity\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:52:\"http://json-schema.org/schema#/definitions/CompanyID\";}}}}}s:23:\"AccountingCustomerParty\";O:8:\"stdClass\":2:{s:5:\"title\";s:11:\"Buyer
  Party\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"Party\";O:8:\"stdClass\":3:{s:5:\"title\";s:13:\"Party
  Details\";s:8:\"required\";a:2:{i:0;s:19:\"PartyIdentification\";i:1;s:9:\"PartyName\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:19:\"PartyIdentification\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"http://json-schema.org/schema#/definitions/ID\";}s:9:\"PartyName\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:47:\"http://json-schema.org/schema#/definitions/Name\";}s:13:\"PostalAddress\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:50:\"http://json-schema.org/schema#/definitions/Address\";}s:16:\"PartyLegalEntity\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:52:\"http://json-schema.org/schema#/definitions/CompanyID\";}}}s:12:\"BuyerContact\";O:8:\"stdClass\":2:{s:5:\"title\";s:7:\"Contact\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"ID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"Telephone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"ElectronicMail\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}s:8:\"Delivery\";O:8:\"stdClass\":2:{s:5:\"title\";s:16:\"Delivery
  Details\";s:10:\"properties\";O:8:\"stdClass\":2:{s:18:\"ActualDeliveryDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"DeliveryAddress\";O:8:\"stdClass\":2:{s:5:\"title\";s:7:\"Address\";s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"CityName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"PostalZone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"CountrySubentity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"AddressLine\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:54:\"http://json-schema.org/schema#/definitions/AddressLine\";}s:7:\"Country\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:50:\"http://json-schema.org/schema#/definitions/Country\";}}}}}s:12:\"PaymentMeans\";O:8:\"stdClass\":2:{s:5:\"title\";s:8:\"Playment\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"ID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"PaymentMeansCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"InstructionID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"PayeeFinancialAccount\";O:8:\"stdClass\":2:{s:5:\"title\";s:21:\"PayeeFinancialAccount\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"ID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:26:\"FinancialInstitutionBranch\";O:8:\"stdClass\":2:{s:5:\"title\";s:26:\"FinancialInstitutionBranch\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"ID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}}}s:8:\"TaxTotal\";O:8:\"stdClass\":3:{s:5:\"title\";s:9:\"TaxAmount\";s:8:\"required\";a:1:{i:0;s:9:\"TaxAmount\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"TaxAmount\";O:8:\"stdClass\":3:{s:5:\"title\";s:8:\"Currency\";s:8:\"required\";a:2:{i:0;s:8:\"currency\";i:1;s:5:\"value\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"currency\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}s:18:\"LegalMonetaryTotal\";O:8:\"stdClass\":2:{s:5:\"title\";s:18:\"LegalMonetaryTotal\";s:10:\"properties\";O:8:\"stdClass\":4:{s:19:\"LineExtensionAmount\";O:8:\"stdClass\":3:{s:5:\"title\";s:8:\"Currency\";s:8:\"required\";a:2:{i:0;s:8:\"currency\";i:1;s:5:\"value\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"currency\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:18:\"TaxExclusiveAmount\";O:8:\"stdClass\":3:{s:5:\"title\";s:8:\"Currency\";s:8:\"required\";a:2:{i:0;s:8:\"currency\";i:1;s:5:\"value\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"currency\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:18:\"TaxInclusiveAmount\";O:8:\"stdClass\":3:{s:5:\"title\";s:8:\"Currency\";s:8:\"required\";a:2:{i:0;s:8:\"currency\";i:1;s:5:\"value\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"currency\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:13:\"PayableAmount\";O:8:\"stdClass\":3:{s:5:\"title\";s:8:\"Currency\";s:8:\"required\";a:2:{i:0;s:8:\"currency\";i:1;s:5:\"value\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"currency\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}s:11:\"InvoiceLine\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"title\";s:11:\"InvoiceLine\";s:10:\"properties\";O:8:\"stdClass\":7:{s:2:\"ID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Note\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"InvoicedQuantity\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:7:\"integer\";}s:19:\"LineExtensionAmount\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:51:\"http://json-schema.org/schema#/definitions/Currency\";}s:8:\"TaxTotal\";O:8:\"stdClass\":2:{s:5:\"title\";s:8:\"TaxTotal\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"TaxAmount\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:51:\"http://json-schema.org/schema#/definitions/Currency\";}s:11:\"TaxSubtotal\";O:8:\"stdClass\":2:{s:5:\"title\";s:11:\"TaxSubtotal\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"TaxAmount\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:51:\"http://json-schema.org/schema#/definitions/Currency\";}s:11:\"TaxCategory\";O:8:\"stdClass\":2:{s:5:\"title\";s:11:\"TaxCategory\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"TaxScheme\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"http://json-schema.org/schema#/definitions/ID\";}}}}}}}s:4:\"Item\";O:8:\"stdClass\":2:{s:5:\"title\";s:19:\"Item
  Identification\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"Description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:25:\"SellersItemIdentification\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"http://json-schema.org/schema#/definitions/ID\";}s:26:\"StandardItemIdentification\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"http://json-schema.org/schema#/definitions/ID\";}}}s:5:\"Price\";O:8:\"stdClass\":2:{s:5:\"title\";s:10:\"Item
  Price\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"PriceAmount\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:51:\"http://json-schema.org/schema#/definitions/Currency\";}s:12:\"BaseQuantity\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:7:\"integer\";}}}}}}}}s:11:\"InvoiceLine\";O:8:\"stdClass\":2:{s:5:\"title\";s:11:\"InvoiceLine\";s:10:\"properties\";O:8:\"stdClass\":7:{s:2:\"ID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Note\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"InvoicedQuantity\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:7:\"integer\";}s:19:\"LineExtensionAmount\";O:8:\"stdClass\":3:{s:5:\"title\";s:8:\"Currency\";s:8:\"required\";a:2:{i:0;s:8:\"currency\";i:1;s:5:\"value\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"currency\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:8:\"TaxTotal\";O:8:\"stdClass\":2:{s:5:\"title\";s:8:\"TaxTotal\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"TaxAmount\";O:8:\"stdClass\":3:{s:5:\"title\";s:8:\"Currency\";s:8:\"required\";a:2:{i:0;s:8:\"currency\";i:1;s:5:\"value\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"currency\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:11:\"TaxSubtotal\";O:8:\"stdClass\":2:{s:5:\"title\";s:11:\"TaxSubtotal\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"TaxAmount\";O:8:\"stdClass\":3:{s:5:\"title\";s:8:\"Currency\";s:8:\"required\";a:2:{i:0;s:8:\"currency\";i:1;s:5:\"value\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"currency\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:11:\"TaxCategory\";O:8:\"stdClass\":2:{s:5:\"title\";s:11:\"TaxCategory\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"TaxScheme\";O:8:\"stdClass\":3:{s:5:\"title\";s:19:\"Identification
  GUID\";s:8:\"required\";a:1:{i:0;s:2:\"ID\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"ID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}}}}}s:4:\"Item\";O:8:\"stdClass\":2:{s:5:\"title\";s:19:\"Item
  Identification\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"Description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:25:\"SellersItemIdentification\";O:8:\"stdClass\":3:{s:5:\"title\";s:19:\"Identification
  GUID\";s:8:\"required\";a:1:{i:0;s:2:\"ID\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"ID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:26:\"StandardItemIdentification\";O:8:\"stdClass\":3:{s:5:\"title\";s:19:\"Identification
  GUID\";s:8:\"required\";a:1:{i:0;s:2:\"ID\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"ID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}s:5:\"Price\";O:8:\"stdClass\":2:{s:5:\"title\";s:10:\"Item
  Price\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"PriceAmount\";O:8:\"stdClass\":3:{s:5:\"title\";s:8:\"Currency\";s:8:\"required\";a:2:{i:0;s:8:\"currency\";i:1;s:5:\"value\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"currency\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:12:\"BaseQuantity\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:7:\"integer\";}}}}}s:8:\"Currency\";O:8:\"stdClass\":3:{s:5:\"title\";s:8:\"Currency\";s:8:\"required\";a:2:{i:0;s:8:\"currency\";i:1;s:5:\"value\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"currency\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:5:\"Party\";O:8:\"stdClass\":3:{s:5:\"title\";s:13:\"Party
  Details\";s:8:\"required\";a:2:{i:0;s:19:\"PartyIdentification\";i:1;s:9:\"PartyName\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:19:\"PartyIdentification\";O:8:\"stdClass\":3:{s:5:\"title\";s:19:\"Identification
  GUID\";s:8:\"required\";a:1:{i:0;s:2:\"ID\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"ID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:9:\"PartyName\";O:8:\"stdClass\":3:{s:5:\"title\";s:4:\"Name\";s:8:\"required\";a:1:{i:0;s:4:\"Name\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:13:\"PostalAddress\";O:8:\"stdClass\":2:{s:5:\"title\";s:7:\"Address\";s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"CityName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"PostalZone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"CountrySubentity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"AddressLine\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:54:\"http://json-schema.org/schema#/definitions/AddressLine\";}s:7:\"Country\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:50:\"http://json-schema.org/schema#/definitions/Country\";}}}s:16:\"PartyLegalEntity\";O:8:\"stdClass\":3:{s:5:\"title\";s:10:\"Company
  ID\";s:8:\"required\";a:1:{i:0;s:9:\"CompanyID\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"CompanyID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}s:7:\"Contact\";O:8:\"stdClass\":2:{s:5:\"title\";s:7:\"Contact\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"ID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"Telephone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"ElectronicMail\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:9:\"CompanyID\";O:8:\"stdClass\":3:{s:5:\"title\";s:10:\"Company
  ID\";s:8:\"required\";a:1:{i:0;s:9:\"CompanyID\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"CompanyID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:7:\"Address\";O:8:\"stdClass\":2:{s:5:\"title\";s:7:\"Address\";s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"CityName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"PostalZone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"CountrySubentity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"AddressLine\";O:8:\"stdClass\":2:{s:5:\"title\";s:12:\"Address
  Line\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Line\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:7:\"Country\";O:8:\"stdClass\":2:{s:5:\"title\";s:7:\"Country\";s:10:\"properties\";O:8:\"stdClass\":1:{s:18:\"IdentificationCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Country
  Code\";s:4:\"type\";s:6:\"string\";}}}}}s:7:\"Country\";O:8:\"stdClass\":2:{s:5:\"title\";s:7:\"Country\";s:10:\"properties\";O:8:\"stdClass\":1:{s:18:\"IdentificationCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Country
  Code\";s:4:\"type\";s:6:\"string\";}}}s:11:\"AddressLine\";O:8:\"stdClass\":2:{s:5:\"title\";s:12:\"Address
  Line\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Line\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:4:\"Name\";O:8:\"stdClass\":3:{s:5:\"title\";s:4:\"Name\";s:8:\"required\";a:1:{i:0;s:4:\"Name\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:2:\"ID\";O:8:\"stdClass\":3:{s:5:\"title\";s:19:\"Identification
  GUID\";s:8:\"required\";a:1:{i:0;s:2:\"ID\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"ID\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}"
...
