---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":12:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Google\";s:3:\"url\";s:18:\"https://google.com\";}s:11:\"description\";s:63:\"Provides
  tools for running validation tests against single URLs\";s:5:\"title\";s:39:\"Google
  Search Console URL Testing Tools\";s:7:\"version\";s:2:\"v1\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:37:\"https://console.developers.google.com\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:6:\"search\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:116:\"https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.6.2\";}s:6:\"format\";s:6:\"google\";s:3:\"url\";s:63:\"https://searchconsole.googleapis.com/$discovery/rest?version=v1\";s:7:\"version\";s:2:\"v1\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"googleapis.com\";s:13:\"x-serviceName\";s:13:\"searchconsole\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:20:\"google_searchconsole\";s:4:\"type\";s:7:\"openapi\";}}"
host: searchconsole.googleapis.com
basePath: /
paths:
  /v1/urlTestingTools/mobileFriendlyTest:run:
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
    post:
      description: Runs Mobile-Friendly Test for a given URL.
      operationId: urlTestingTools.mobileFriendlyTest.run
      parameters:
      - in: body
        name: body
        schema:
          $ref: '#/definitions/RunMobileFriendlyTestRequest'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/RunMobileFriendlyTestResponse'
      tags:
      - urlTestingTools
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":7:{s:15:\"BlockedResource\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Blocked
  resource.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"URL
  of the blocked resource.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Image\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Describe
  image data.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":3:{s:11:\"description\";s:136:\"Image
  data in format determined by the mime type. Currently, the format\nwill always be
  \"image/png\", but this might change in the future.\";s:6:\"format\";s:4:\"byte\";s:4:\"type\";s:6:\"string\";}s:8:\"mimeType\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  mime-type of the image data.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"MobileFriendlyIssue\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Mobile-friendly
  issue.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"rule\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Rule
  violated.\";s:4:\"enum\";a:7:{i:0;s:32:\"MOBILE_FRIENDLY_RULE_UNSPECIFIED\";i:1;s:25:\"USES_INCOMPATIBLE_PLUGINS\";i:2;s:18:\"CONFIGURE_VIEWPORT\";i:3;s:20:\"FIXED_WIDTH_VIEWPORT\";i:4;s:24:\"SIZE_CONTENT_TO_VIEWPORT\";i:5;s:22:\"USE_LEGIBLE_FONT_SIZES\";i:6;s:21:\"TAP_TARGETS_TOO_CLOSE\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"ResourceIssue\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Information
  about a resource with issue.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"blockedResource\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/BlockedResource\";s:11:\"description\";s:35:\"Describes
  a blocked resource issue.\";}}s:4:\"type\";s:6:\"object\";}s:28:\"RunMobileFriendlyTestRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Mobile-friendly
  test request.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"requestScreenshot\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"Whether
  or not screenshot is requested. Default is false.\";s:4:\"type\";s:7:\"boolean\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"URL
  for inspection.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:29:\"RunMobileFriendlyTestResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:84:\"Mobile-friendly
  test response, including mobile-friendly issues and resource\nissues.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:18:\"mobileFriendliness\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"Test
  verdict, whether the page is mobile friendly or not.\";s:4:\"enum\";a:3:{i:0;s:39:\"MOBILE_FRIENDLY_TEST_RESULT_UNSPECIFIED\";i:1;s:15:\"MOBILE_FRIENDLY\";i:2;s:19:\"NOT_MOBILE_FRIENDLY\";}s:4:\"type\";s:6:\"string\";}s:20:\"mobileFriendlyIssues\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"List
  of mobile-usability issues.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/MobileFriendlyIssue\";}s:4:\"type\";s:5:\"array\";}s:14:\"resourceIssues\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Information
  about embedded resources issues.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ResourceIssue\";}s:4:\"type\";s:5:\"array\";}s:10:\"screenshot\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Image\";s:11:\"description\";s:32:\"Screenshot
  of the requested URL.\";}s:10:\"testStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/TestStatus\";s:11:\"description\";s:60:\"Final
  state of the test, can be either complete or an error.\";}}s:4:\"type\";s:6:\"object\";}s:10:\"TestStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"Final
  state of the test, including error details if necessary.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"details\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Error
  details if applicable.\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Status
  of the test.\";s:4:\"enum\";a:4:{i:0;s:23:\"TEST_STATUS_UNSPECIFIED\";i:1;s:8:\"COMPLETE\";i:2;s:14:\"INTERNAL_ERROR\";i:3;s:16:\"PAGE_UNREACHABLE\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
