---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":14:{s:7:\"contact\";O:8:\"stdClass\":3:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";}s:11:\"description\";s:2497:\"<fullname>Resource
  Groups Tagging API</fullname> <p>This guide describes the API operations for the
  resource groups tagging.</p> <p>A tag is a label that you assign to an AWS resource.
  A tag consists of a key and a value, both of which you define. For example, if you
  have two Amazon EC2 instances, you might assign both a tag key of \"Stack.\" But
  the value of \"Stack\" might be \"Testing\" for one and \"Production\" for the other.</p>
  <p>Tagging can help you organize your resources and enables you to simplify resource
  management, access management and cost allocation. For more information about tagging,
  see <a href=\"http://docs.aws.amazon.com/awsconsolehelpdocs/latest/gsg/tag-editor.html\">Working
  with Tag Editor</a> and <a href=\"http://docs.aws.amazon.com/awsconsolehelpdocs/latest/gsg/resource-groups.html\">Working
  with Resource Groups</a>. For more information about permissions you need to use
  the resource groups tagging APIs, see <a href=\"http://docs.aws.amazon.com/awsconsolehelpdocs/latest/gsg/obtaining-permissions-for-resource-groups.html\">Obtaining
  Permissions for Resource Groups </a> and <a href=\"http://docs.aws.amazon.com/awsconsolehelpdocs/latest/gsg/obtaining-permissions-for-tagging.html\">Obtaining
  Permissions for Tagging </a>.</p> <p>You can use the resource groups tagging APIs
  to complete the following tasks:</p> <ul> <li> <p>Tag and untag supported resources
  located in the specified region for the AWS account</p> </li> <li> <p>Use tag-based
  filters to search for resources located in the specified region for the AWS account</p>
  </li> <li> <p>List all existing tag keys in the specified region for the AWS account</p>
  </li> <li> <p>List all existing values for the specified key in the specified region
  for the AWS account</p> </li> </ul> <p>Not all resources can have tags. For a lists
  of resources that you can tag, see <a href=\"http://docs.aws.amazon.com/awsconsolehelpdocs/latest/gsg/supported-resources.html\">Supported
  Resources</a> in the <i>AWS Resource Groups and Tag Editor User Guide</i>.</p> <p>To
  make full use of the resource groups tagging APIs, you might need additional IAM
  permissions, including permission to access the resources of individual services
  as well as permission to view and apply tags to those resources. For more information,
  see <a href=\"http://docs.aws.amazon.com/awsconsolehelpdocs/latest/gsg/obtaining-permissions-for-tagging.html\">Obtaining
  Permissions for Tagging</a> in the <i>AWS Resource Groups and Tag Editor User Guide</i>.</p>\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache
  2.0 License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:31:\"AWS
  Resource Groups Tagging API\";s:7:\"version\";s:10:\"2017-01-26\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:104:\"https://api.apis.guru/v2/cache/logo/https_media.amazonwebservices.com_blog_2007_big_pbaws_logo_300px.jpg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:108:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/resourcegroupstaggingapi-2017-01-26.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v4\";s:13:\"x-serviceName\";s:7:\"tagging\";}"
host: tagging.amazonaws.com
basePath: /
paths: ~
produces:
- application/json
schemes:
- http
definitions: !php/object "O:8:\"stdClass\":40:{s:18:\"AmazonResourceType\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:256;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";}s:9:\"ErrorCode\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:24:\"InternalServiceException\";i:1;s:25:\"InvalidParameterException\";}s:4:\"type\";s:6:\"string\";}s:12:\"ErrorMessage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"ExceptionMessage\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:2048;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";}s:18:\"FailedResourcesMap\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ResourceARN\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/FailureInfo\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:11:\"FailureInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Details
  of the common errors that all actions return.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"ErrorCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/ErrorCode\";s:11:\"description\";s:228:\"The
  code of the common error. Valid values include <code>InternalServiceException</code>,
  <code>InvalidParameterException</code>, and any valid error code returned by the
  AWS service that hosts the resource that you want to tag.\";}s:12:\"ErrorMessage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";s:11:\"description\";s:32:\"The
  message of the common error.\";}s:10:\"StatusCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StatusCode\";s:11:\"description\";s:41:\"The
  HTTP status code of the common error.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"GetResourcesInput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:15:\"PaginationToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PaginationToken\";s:11:\"description\";s:234:\"A
  string that indicates that additional data is available. Leave this value empty
  for your initial request. If the response includes a <code>PaginationToken</code>,
  use that string for this value to request an additional page of data.\";}s:19:\"ResourceTypeFilters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/ResourceTypeFilterList\";s:11:\"description\";s:1125:\"<p>The
  constraints on the resources that you want returned. The format of each resource
  type is <code>service[:resourceType]</code>. For example, specifying a resource
  type of <code>ec2</code> returns all tagged Amazon EC2 resources (which includes
  tagged EC2 instances). Specifying a resource type of <code>ec2:instance</code> returns
  only EC2 instances. </p> <p>The string for each service name and resource type is
  the same as that embedded in a resource's Amazon Resource Name (ARN). Consult the
  <i>AWS General Reference</i> for the following:</p> <ul> <li> <p>For a list of service
  name strings, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#genref-aws-service-namespaces\">AWS
  Service Namespaces</a>.</p> </li> <li> <p>For resource type strings, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#arns-syntax\">Example
  ARNs</a>.</p> </li> <li> <p>For more information about ARNs, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon
  Resource Names (ARNs) and AWS Service Namespaces</a>.</p> </li> </ul>\";}s:16:\"ResourcesPerPage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ResourcesPerPage\";s:11:\"description\";s:174:\"A
  limit that restricts the number of resources returned by GetResources in paginated
  output. You can set ResourcesPerPage to a minimum of 1 item and the maximum of 50
  items. \";}s:10:\"TagFilters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/TagFilterList\";s:11:\"description\";s:503:\"<p>A
  list of tags (keys and values). A request can include up to 50 keys, and each key
  can include up to 20 values.</p> <p>If you specify multiple filters connected by
  an AND operator in a single request, the response returns only those resources that
  are associated with every specified filter.</p> <p>If you specify multiple filters
  connected by an OR operator in a single request, the response returns all resources
  that are associated with at least one or possibly more of the specified filters.</p>\";}s:11:\"TagsPerPage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/TagsPerPage\";s:11:\"description\";s:1067:\"<p>A
  limit that restricts the number of tags (key and value pairs) returned by GetResources
  in paginated output. A resource with no tags is counted as having one tag (one key
  and value pair).</p> <p> <code>GetResources</code> does not split a resource and
  its associated tags across pages. If the specified <code>TagsPerPage</code> would
  cause such a break, a <code>PaginationToken</code> is returned in place of the affected
  resource and its tags. Use that token in another request to get the remaining data.
  For example, if you specify a <code>TagsPerPage</code> of <code>100</code> and the
  account has 22 resources with 10 tags each (meaning that each resource has 10 key
  and value pairs), the output will consist of 3 pages, with the first page displaying
  the first 10 resources, each with its 10 tags, the second page displaying the next
  10 resources each with its 10 tags, and the third page displaying the remaining
  2 resources, each with its 10 tags.</p> <p/> <p>You can set <code>TagsPerPage</code>
  to a minimum of 100 items and the maximum of 500 items.</p>\";}}s:4:\"type\";s:6:\"object\";}s:18:\"GetResourcesOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"PaginationToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PaginationToken\";s:11:\"description\";s:219:\"A
  string that indicates that the response contains more data than can be returned
  in a single response. To receive additional data, specify this string for the <code>PaginationToken</code>
  value in a subsequent request.\";}s:22:\"ResourceTagMappingList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/ResourceTagMappingList\";s:11:\"description\";s:76:\"A
  list of resource ARNs and the tags (keys and values) associated with each.\";}}s:4:\"type\";s:6:\"object\";}s:15:\"GetTagKeysInput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"PaginationToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PaginationToken\";s:11:\"description\";s:221:\"A
  string that indicates that additional data is available. Leave this value empty
  for your initial request. If the response includes a PaginationToken, use that string
  for this value to request an additional page of data.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"GetTagKeysOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"PaginationToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PaginationToken\";s:11:\"description\";s:219:\"A
  string that indicates that the response contains more data than can be returned
  in a single response. To receive additional data, specify this string for the <code>PaginationToken</code>
  value in a subsequent request.\";}s:7:\"TagKeys\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/TagKeyList\";s:11:\"description\";s:42:\"A
  list of all tag keys in the AWS account.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"GetTagValuesInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"Key\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/TagKey\";s:11:\"description\";s:99:\"The
  key for which you want to list all existing values in the specified region for the
  AWS account.\";}s:15:\"PaginationToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PaginationToken\";s:11:\"description\";s:221:\"A
  string that indicates that additional data is available. Leave this value empty
  for your initial request. If the response includes a PaginationToken, use that string
  for this value to request an additional page of data.\";}}s:8:\"required\";a:1:{i:0;s:3:\"Key\";}s:4:\"type\";s:6:\"object\";}s:18:\"GetTagValuesOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"PaginationToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PaginationToken\";s:11:\"description\";s:219:\"A
  string that indicates that the response contains more data than can be returned
  in a single response. To receive additional data, specify this string for the <code>PaginationToken</code>
  value in a subsequent request.\";}s:9:\"TagValues\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/TagValuesOutputList\";s:11:\"description\";s:66:\"A
  list of all tag values for the specified key in the AWS account.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"InternalServiceException\";O:8:\"stdClass\":3:{s:11:\"description\";s:108:\"The
  request processing failed because of an unknown error, exception, or failure. You
  can retry the request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ExceptionMessage\";}}s:4:\"type\";s:6:\"object\";}s:25:\"InvalidParameterException\";O:8:\"stdClass\":3:{s:11:\"description\";s:117:\"A
  parameter is missing or a malformed string or invalid or out-of-range value was
  supplied for the request parameter.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ExceptionMessage\";}}s:4:\"type\";s:6:\"object\";}s:15:\"PaginationToken\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:2048;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";}s:31:\"PaginationTokenExpiredException\";O:8:\"stdClass\":3:{s:11:\"description\";s:156:\"A
  <code>PaginationToken</code> is valid for a maximum of 15 minutes. Your request
  was denied because the specified <code>PaginationToken</code> has expired.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ExceptionMessage\";}}s:4:\"type\";s:6:\"object\";}s:11:\"ResourceARN\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:1600;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:15:\"ResourceARNList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ResourceARN\";}s:8:\"maxItems\";i:20;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:18:\"ResourceTagMapping\";O:8:\"stdClass\":3:{s:11:\"description\";s:85:\"A
  list of resource ARNs and the tags (keys and values) that are associated with each.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"ResourceARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ResourceARN\";s:11:\"description\";s:28:\"An
  array of resource ARN(s).\";}s:4:\"Tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/TagList\";s:11:\"description\";s:61:\"The
  tags that have been applied to one or more AWS resources.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"ResourceTagMappingList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ResourceTagMapping\";}s:4:\"type\";s:5:\"array\";}s:22:\"ResourceTypeFilterList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/AmazonResourceType\";}s:4:\"type\";s:5:\"array\";}s:16:\"ResourcesPerPage\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"StatusCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:3:\"Tag\";O:8:\"stdClass\":4:{s:11:\"description\";s:348:\"The
  metadata that you apply to AWS resources to help you categorize and organize them.
  Each tag consists of a key and an optional value, both of which you define. For
  more information, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/Using_Tags.html#tag-basics\">Tag
  Basics</a> in the <i>Amazon EC2 User Guide for Linux Instances</i>.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"Key\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/TagKey\";s:11:\"description\";s:129:\"One
  part of a key-value pair that make up a tag. A key is a general label that acts
  like a category for more specific tag values.\";}s:5:\"Value\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/TagValue\";s:11:\"description\";s:115:\"The
  optional part of a key-value pair that make up a tag. A value acts as a descriptor
  within a tag category (key).\";}}s:8:\"required\";a:2:{i:0;s:3:\"Key\";i:1;s:5:\"Value\";}s:4:\"type\";s:6:\"object\";}s:9:\"TagFilter\";O:8:\"stdClass\":3:{s:11:\"description\";s:83:\"A
  list of tags (keys and values) that are used to specify the associated resources.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"Key\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/TagKey\";s:11:\"description\";s:129:\"One
  part of a key-value pair that make up a tag. A key is a general label that acts
  like a category for more specific tag values.\";}s:6:\"Values\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/TagValueList\";s:11:\"description\";s:115:\"The
  optional part of a key-value pair that make up a tag. A value acts as a descriptor
  within a tag category (key).\";}}s:4:\"type\";s:6:\"object\";}s:13:\"TagFilterList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/TagFilter\";}s:8:\"maxItems\";i:50;s:8:\"minItems\";i:0;s:4:\"type\";s:5:\"array\";}s:6:\"TagKey\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:128;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:10:\"TagKeyList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/TagKey\";}s:4:\"type\";s:5:\"array\";}s:18:\"TagKeyListForUntag\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/TagKey\";}s:8:\"maxItems\";i:50;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:7:\"TagList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Tag\";}s:4:\"type\";s:5:\"array\";}s:6:\"TagMap\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/TagKey\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/TagValue\";}}s:4:\"type\";s:6:\"object\";}s:8:\"maxItems\";i:50;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:17:\"TagResourcesInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"ResourceARNList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ResourceARNList\";s:11:\"description\";s:411:\"A
  list of ARNs. An ARN (Amazon Resource Name) uniquely identifies a resource. You
  can specify a minimum of 1 and a maximum of 20 ARNs (resources) to tag. An ARN can
  be set to a maximum of 1600 characters. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon
  Resource Names (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.\";}s:4:\"Tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/TagMap\";s:11:\"description\";s:110:\"The
  tags that you want to add to the specified resources. A tag consists of a key and
  a value that you define.\";}}s:8:\"required\";a:2:{i:0;s:15:\"ResourceARNList\";i:1;s:4:\"Tags\";}s:4:\"type\";s:6:\"object\";}s:18:\"TagResourcesOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:18:\"FailedResourcesMap\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/FailedResourcesMap\";s:11:\"description\";s:127:\"Details
  of resources that could not be tagged. An error code, status code, and error message
  are returned for each failed item.\";}}s:4:\"type\";s:6:\"object\";}s:8:\"TagValue\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:256;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";}s:12:\"TagValueList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/TagValue\";}s:8:\"maxItems\";i:20;s:8:\"minItems\";i:0;s:4:\"type\";s:5:\"array\";}s:19:\"TagValuesOutputList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/TagValue\";}s:4:\"type\";s:5:\"array\";}s:11:\"TagsPerPage\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:18:\"ThrottledException\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"The
  request was denied to limit the frequency of submitted requests.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ExceptionMessage\";}}s:4:\"type\";s:6:\"object\";}s:19:\"UntagResourcesInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"ResourceARNList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ResourceARNList\";s:11:\"description\";s:413:\"A
  list of ARNs. An ARN (Amazon Resource Name) uniquely identifies a resource. You
  can specify a minimum of 1 and a maximum of 20 ARNs (resources) to untag. An ARN
  can be set to a maximum of 1600 characters. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html\">Amazon
  Resource Names (ARNs) and AWS Service Namespaces</a> in the <i>AWS General Reference</i>.\";}s:7:\"TagKeys\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/TagKeyListForUntag\";s:11:\"description\";s:76:\"A
  list of the tag keys that you want to remove from the specified resources.\";}}s:8:\"required\";a:2:{i:0;s:15:\"ResourceARNList\";i:1;s:7:\"TagKeys\";}s:4:\"type\";s:6:\"object\";}s:20:\"UntagResourcesOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:18:\"FailedResourcesMap\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/FailedResourcesMap\";s:11:\"description\";s:129:\"Details
  of resources that could not be untagged. An error code, status code, and error message
  are returned for each failed item.\";}}s:4:\"type\";s:6:\"object\";}}"
...
