---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":14:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:9:\"x-twitter\";s:12:\"PermittedSoc\";}s:11:\"description\";s:34:\"API
  for AWS Elemental MediaConnect\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache
  2.0 License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:16:\"AWS
  MediaConnect\";s:7:\"version\";s:10:\"2018-11-14\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:96:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/mediaconnect-2018-11-14.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v4\";s:13:\"x-serviceName\";s:12:\"mediaconnect\";}"
host: mediaconnect.amazonaws.com
basePath: /
paths:
  /v1/entitlements:
    get:
      description: Displays a list of all entitlements that have been granted to this
        account. This request returns 20 results per page.
      operationId: ListEntitlements
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ListEntitlementsRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ListEntitlementsResponse'
        480:
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        481:
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        482:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        483:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
  /v1/flows:
    get:
      description: Displays a list of flows that are associated with this account.
        This request returns a paginated result.
      operationId: ListFlows
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ListFlowsRequest'
      - description: Pagination limit
        in: query
        name: MaxResults
        required: false
        type: string
      - description: Pagination token
        in: query
        name: NextToken
        required: false
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ListFlowsResponse'
        480:
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        481:
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        482:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        483:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a new flow. The request must include one source. The request
        optionally can include outputs (up to 20) and entitlements (up to 50).
      operationId: CreateFlow
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/CreateFlowRequest'
      responses:
        201:
          description: Success
          schema:
            $ref: '#/definitions/CreateFlowResponse'
        480:
          description: CreateFlow420Exception
          schema:
            $ref: '#/definitions/CreateFlow420Exception'
        481:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        482:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        483:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        484:
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        485:
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
  /v1/flows/start/{flowArn}:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Starts a flow.
      operationId: StartFlow
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/StartFlowRequest'
      - in: path
        name: flowArn
        required: true
        type: string
      responses:
        202:
          description: Success
          schema:
            $ref: '#/definitions/StartFlowResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        482:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        483:
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        484:
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        485:
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
  /v1/flows/stop/{flowArn}:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Stops a flow.
      operationId: StopFlow
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/StopFlowRequest'
      - in: path
        name: flowArn
        required: true
        type: string
      responses:
        202:
          description: Success
          schema:
            $ref: '#/definitions/StopFlowResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        482:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        483:
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        484:
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        485:
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
  /v1/flows/{flowArn}:
    delete:
      description: Deletes a flow. Before you can delete a flow, you must stop the
        flow.
      operationId: DeleteFlow
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DeleteFlowRequest'
      - in: path
        name: flowArn
        required: true
        type: string
      responses:
        202:
          description: Success
          schema:
            $ref: '#/definitions/DeleteFlowResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        482:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        483:
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        484:
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        485:
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    get:
      description: Displays the details of a flow. The response includes the flow
        ARN, name, and Availability Zone, as well as details about the source, outputs,
        and entitlements.
      operationId: DescribeFlow
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DescribeFlowRequest'
      - in: path
        name: flowArn
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DescribeFlowResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        482:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        483:
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        484:
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        485:
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
  /v1/flows/{flowArn}/entitlements:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Grants entitlements to an existing flow.
      operationId: GrantFlowEntitlements
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/GrantFlowEntitlementsRequest'
      - in: path
        name: flowArn
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GrantFlowEntitlementsResponse'
        480:
          description: GrantFlowEntitlements420Exception
          schema:
            $ref: '#/definitions/GrantFlowEntitlements420Exception'
        481:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        482:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        483:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        484:
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        485:
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        486:
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
  /v1/flows/{flowArn}/entitlements/{entitlementArn}:
    delete:
      description: Revokes an entitlement from a flow. Once an entitlement is revoked,
        the content becomes unavailable to the subscriber and the associated output
        is removed.
      operationId: RevokeFlowEntitlement
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/RevokeFlowEntitlementRequest'
      - in: path
        name: flowArn
        required: true
        type: string
      - in: path
        name: entitlementArn
        required: true
        type: string
      responses:
        202:
          description: Success
          schema:
            $ref: '#/definitions/RevokeFlowEntitlementResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        482:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        483:
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        484:
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        485:
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: You can change an entitlement's description, subscribers, and encryption.
        If you change the subscribers, the service will remove the outputs that are
        are used by the subscribers that are removed.
      operationId: UpdateFlowEntitlement
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/UpdateFlowEntitlementRequest'
      - in: path
        name: flowArn
        required: true
        type: string
      - in: path
        name: entitlementArn
        required: true
        type: string
      responses:
        202:
          description: Success
          schema:
            $ref: '#/definitions/UpdateFlowEntitlementResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        482:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        483:
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        484:
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        485:
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
  /v1/flows/{flowArn}/outputs:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Adds outputs to an existing flow. You can create up to 20 outputs
        per flow.
      operationId: AddFlowOutputs
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/AddFlowOutputsRequest'
      - in: path
        name: flowArn
        required: true
        type: string
      responses:
        201:
          description: Success
          schema:
            $ref: '#/definitions/AddFlowOutputsResponse'
        480:
          description: AddFlowOutputs420Exception
          schema:
            $ref: '#/definitions/AddFlowOutputs420Exception'
        481:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        482:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        483:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        484:
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        485:
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        486:
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
  /v1/flows/{flowArn}/outputs/{outputArn}:
    delete:
      description: Removes an output from an existing flow. This request can be made
        only on an output that does not have an entitlement associated with it. If
        the output has an entitlement, you must revoke the entitlement instead. When
        an entitlement is revoked from a flow, the service automatically removes the
        associated output.
      operationId: RemoveFlowOutput
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/RemoveFlowOutputRequest'
      - in: path
        name: flowArn
        required: true
        type: string
      - in: path
        name: outputArn
        required: true
        type: string
      responses:
        202:
          description: Success
          schema:
            $ref: '#/definitions/RemoveFlowOutputResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        482:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        483:
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        484:
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        485:
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: Updates an existing flow output.
      operationId: UpdateFlowOutput
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/UpdateFlowOutputRequest'
      - in: path
        name: flowArn
        required: true
        type: string
      - in: path
        name: outputArn
        required: true
        type: string
      responses:
        202:
          description: Success
          schema:
            $ref: '#/definitions/UpdateFlowOutputResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        482:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        483:
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        484:
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        485:
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
  /v1/flows/{flowArn}/source/{sourceArn}:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: Updates the source of a flow.
      operationId: UpdateFlowSource
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/UpdateFlowSourceRequest'
      - in: path
        name: flowArn
        required: true
        type: string
      - in: path
        name: sourceArn
        required: true
        type: string
      responses:
        202:
          description: Success
          schema:
            $ref: '#/definitions/UpdateFlowSourceResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        482:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        483:
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        484:
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        485:
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
produces:
- application/json
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":65:{s:26:\"AddFlowOutputs420Exception\";O:8:\"stdClass\":0:{}s:21:\"AddFlowOutputsRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:47:\"A
  request to add outputs to the specified flow.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Outputs\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/__listOfAddOutputRequest\";s:11:\"description\";s:39:\"A
  list of outputs that you want to add.\";}}s:8:\"required\";a:1:{i:0;s:7:\"Outputs\";}s:4:\"type\";s:6:\"object\";}s:22:\"AddFlowOutputsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"FlowArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:53:\"The
  ARN of the flow that these outputs were added to.\";}s:7:\"Outputs\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/__listOfOutput\";s:11:\"description\";s:39:\"The
  details of the newly added outputs.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"AddOutputRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:45:\"The
  output that you want to add to this flow.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:138:\"A
  description of the output. This description appears only on the AWS Elemental MediaConnect
  console and will not be seen by the end user.\";}s:11:\"Destination\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:68:\"The
  IP address from which video will be sent to output destinations.\";}s:10:\"Encryption\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Encryption\";s:11:\"description\";s:122:\"The
  type of key used for the encryption. If no keyType is provided, the service will
  use the default setting (static-key).\";}s:10:\"MaxLatency\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__integer\";s:11:\"description\";s:59:\"The
  maximum latency in milliseconds for Zixi-based streams.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:74:\"The
  name of the output. This value must be unique within the current flow.\";}s:4:\"Port\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__integer\";s:11:\"description\";s:59:\"The
  port to use when content is distributed to this output.\";}s:8:\"Protocol\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Protocol\";s:11:\"description\";s:35:\"The
  protocol to use for the output.\";}s:16:\"SmoothingLatency\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__integer\";s:11:\"description\";s:66:\"The
  smoothing latency in milliseconds for RTP and RTP-FEC streams.\";}s:8:\"StreamId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:105:\"The
  stream ID that you want to use for this transport. This parameter applies only to
  Zixi-based streams.\";}}s:8:\"required\";a:3:{i:0;s:11:\"Destination\";i:1;s:4:\"Port\";i:2;s:8:\"Protocol\";}s:4:\"type\";s:6:\"object\";}s:9:\"Algorithm\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:6:\"aes128\";i:1;s:6:\"aes192\";i:2;s:6:\"aes256\";}s:4:\"type\";s:6:\"string\";}s:19:\"BadRequestException\";O:8:\"stdClass\":0:{}s:22:\"CreateFlow420Exception\";O:8:\"stdClass\":0:{}s:17:\"CreateFlowRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:139:\"Creates
  a new flow. The request must include one source. The request optionally can include
  outputs (up to 20) and entitlements (up to 50).\";s:10:\"properties\";O:8:\"stdClass\":5:{s:16:\"AvailabilityZone\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:141:\"The
  Availability Zone that you want to create the flow in. These options are limited
  to the Availability Zones within the current AWS Region.\";}s:12:\"Entitlements\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:45:\"#/definitions/__listOfGrantEntitlementRequest\";s:11:\"description\";s:50:\"The
  entitlements that you want to grant on a flow.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:21:\"The
  name of the flow.\";}s:7:\"Outputs\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/__listOfAddOutputRequest\";s:11:\"description\";s:46:\"The
  outputs that you want to add to this flow.\";}s:6:\"Source\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/SetSourceRequest\";}}s:8:\"required\";a:2:{i:0;s:6:\"Source\";i:1;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:18:\"CreateFlowResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Flow\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Flow\";}}s:4:\"type\";s:6:\"object\";}s:17:\"DeleteFlowRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:18:\"DeleteFlowResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"FlowArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:37:\"The
  ARN of the flow that was deleted.\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Status\";s:11:\"description\";s:58:\"The
  status of the flow when the DeleteFlow process begins.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"DescribeFlowRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:20:\"DescribeFlowResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Flow\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Flow\";}s:8:\"Messages\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Messages\";}}s:4:\"type\";s:6:\"object\";}s:10:\"Encryption\";O:8:\"stdClass\":4:{s:11:\"description\";s:45:\"Information
  about the encryption of the flow.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"Algorithm\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Algorithm\";s:11:\"description\";s:90:\"The
  type of algorithm that is used for the encryption (such as aes128, aes192, or aes256).\";}s:7:\"KeyType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/KeyType\";s:11:\"description\";s:130:\"The
  type of key that is used for the encryption. If no keyType is provided, the service
  will use the default setting (static-key).\";}s:7:\"RoleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:115:\"The
  ARN of the role that you created during setup (when you set up AWS Elemental MediaConnect
  as a trusted entity).\";}s:9:\"SecretArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:108:\"The
  ARN that was assigned to the secret that you created in AWS Secrets Manager to store
  the encryption key.\";}}s:8:\"required\";a:3:{i:0;s:9:\"SecretArn\";i:1;s:9:\"Algorithm\";i:2;s:7:\"RoleArn\";}s:4:\"type\";s:6:\"object\";}s:11:\"Entitlement\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"The
  settings for a flow entitlement.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:33:\"A
  description of the entitlement.\";}s:10:\"Encryption\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Encryption\";s:11:\"description\";s:96:\"The
  type of encryption that will be used on the output that is associated with this
  entitlement.\";}s:14:\"EntitlementArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:27:\"The
  ARN of the entitlement.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:28:\"The
  name of the entitlement.\";}s:11:\"Subscribers\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/__listOf__string\";s:11:\"description\";s:173:\"The
  AWS account IDs that you want to share your content with. The receiving accounts
  (subscribers) will be allowed to create their own flow using your content as the
  source.\";}}s:8:\"required\";a:3:{i:0;s:14:\"EntitlementArn\";i:1;s:11:\"Subscribers\";i:2;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:4:\"Flow\";O:8:\"stdClass\":4:{s:11:\"description\";s:73:\"The
  settings for a flow, including its source, outputs, and entitlements.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:16:\"AvailabilityZone\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:134:\"The
  Availability Zone that you want to create the flow in. These options are limited
  to the Availability Zones within the current AWS.\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:116:\"A
  description of the flow. This value is not used or seen outside of the current AWS
  Elemental MediaConnect account.\";}s:8:\"EgressIp\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:68:\"The
  IP address from which video will be sent to output destinations.\";}s:12:\"Entitlements\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/__listOfEntitlement\";s:11:\"description\";s:30:\"The
  entitlements in this flow.\";}s:7:\"FlowArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:86:\"The
  Amazon Resource Name (ARN), a unique identifier for any AWS resource, of the flow.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:21:\"The
  name of the flow.\";}s:7:\"Outputs\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/__listOfOutput\";s:11:\"description\";s:25:\"The
  outputs in this flow.\";}s:6:\"Source\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Source\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Status\";s:11:\"description\";s:31:\"The
  current status of the flow.\";}}s:8:\"required\";a:7:{i:0;s:6:\"Status\";i:1;s:12:\"Entitlements\";i:2;s:7:\"Outputs\";i:3;s:16:\"AvailabilityZone\";i:4;s:7:\"FlowArn\";i:5;s:6:\"Source\";i:6;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:18:\"ForbiddenException\";O:8:\"stdClass\":0:{}s:23:\"GrantEntitlementRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:50:\"The
  entitlements that you want to grant on a flow.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:157:\"A
  description of the entitlement. This description appears only on the AWS Elemental
  MediaConnect console and will not be seen by the subscriber or end user.\";}s:10:\"Encryption\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Encryption\";s:11:\"description\";s:96:\"The
  type of encryption that will be used on the output that is associated with this
  entitlement.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:79:\"The
  name of the entitlement. This value must be unique within the current flow.\";}s:11:\"Subscribers\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/__listOf__string\";s:11:\"description\";s:174:\"The
  AWS account IDs that you want to share your content with. The receiving accounts
  (subscribers) will be allowed to create their own flows using your content as the
  source.\";}}s:8:\"required\";a:1:{i:0;s:11:\"Subscribers\";}s:4:\"type\";s:6:\"object\";}s:33:\"GrantFlowEntitlements420Exception\";O:8:\"stdClass\":0:{}s:28:\"GrantFlowEntitlementsRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:42:\"A
  request to grant entitlements on a flow.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"Entitlements\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:45:\"#/definitions/__listOfGrantEntitlementRequest\";s:11:\"description\";s:48:\"The
  list of entitlements that you want to grant.\";}}s:8:\"required\";a:1:{i:0;s:12:\"Entitlements\";}s:4:\"type\";s:6:\"object\";}s:29:\"GrantFlowEntitlementsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"Entitlements\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/__listOfEntitlement\";s:11:\"description\";s:40:\"The
  entitlements that were just granted.\";}s:7:\"FlowArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:60:\"The
  ARN of the flow that these entitlements were granted to.\";}}s:4:\"type\";s:6:\"object\";}s:28:\"InternalServerErrorException\";O:8:\"stdClass\":0:{}s:7:\"KeyType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:1:{i:0;s:10:\"static-key\";}s:4:\"type\";s:6:\"string\";}s:23:\"ListEntitlementsRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:24:\"ListEntitlementsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"Entitlements\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/__listOfListedEntitlement\";s:11:\"description\";s:77:\"A
  list of entitlements that have been granted to you from other AWS accounts.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:352:\"The
  token that identifies which batch of results that you want to see. For example,
  you submit a ListEntitlements request with MaxResults set at 5. The service returns
  the first batch of results (up to 5) and a NextToken value. To see the next batch
  of results, you can submit the ListEntitlements request a second time and specify
  the NextToken value.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"ListFlowsRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:17:\"ListFlowsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"Flows\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/__listOfListedFlow\";s:11:\"description\";s:25:\"A
  list of flow summaries.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:338:\"The
  token that identifies which batch of results that you want to see. For example,
  you submit a ListFlows request with MaxResults set at 5. The service returns the
  first batch of results (up to 5) and a NextToken value. To see the next batch of
  results, you can submit the ListFlows request a second time and specify the NextToken
  value.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"ListedEntitlement\";O:8:\"stdClass\":4:{s:11:\"description\";s:68:\"An
  entitlement that has been granted to you from other AWS accounts.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"EntitlementArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:27:\"The
  ARN of the entitlement.\";}s:15:\"EntitlementName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:28:\"The
  name of the entitlement.\";}}s:8:\"required\";a:2:{i:0;s:14:\"EntitlementArn\";i:1;s:15:\"EntitlementName\";}s:4:\"type\";s:6:\"object\";}s:10:\"ListedFlow\";O:8:\"stdClass\":4:{s:11:\"description\";s:84:\"Provides
  a summary of a flow, including its ARN, Availability Zone, and source type.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:16:\"AvailabilityZone\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:51:\"The
  Availability Zone that the flow was created in.\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:26:\"A
  description of the flow.\";}s:7:\"FlowArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:20:\"The
  ARN of the flow.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:21:\"The
  name of the flow.\";}s:10:\"SourceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/SourceType\";s:11:\"description\";s:237:\"The
  type of source. This value is either owned (originated somewhere other than an AWS
  Elemental MediaConnect flow owned by another AWS account) or entitled (originated
  at an AWS Elemental MediaConnect flow owned by another AWS account).\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Status\";s:11:\"description\";s:31:\"The
  current status of the flow.\";}}s:8:\"required\";a:6:{i:0;s:6:\"Status\";i:1;s:11:\"Description\";i:2;s:10:\"SourceType\";i:3;s:16:\"AvailabilityZone\";i:4;s:7:\"FlowArn\";i:5;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:10:\"MaxResults\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:1000;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:8:\"Messages\";O:8:\"stdClass\":4:{s:11:\"description\";s:44:\"Messages
  that provide the state of the flow.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"Errors\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/__listOf__string\";s:11:\"description\";s:76:\"A
  list of errors that might have been generated from processes on this flow.\";}}s:8:\"required\";a:1:{i:0;s:6:\"Errors\";}s:4:\"type\";s:6:\"object\";}s:17:\"NotFoundException\";O:8:\"stdClass\":0:{}s:6:\"Output\";O:8:\"stdClass\":4:{s:11:\"description\";s:27:\"The
  settings for an output.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:28:\"A
  description of the output.\";}s:11:\"Destination\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:46:\"The
  address where you want to send the output.\";}s:10:\"Encryption\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Encryption\";s:11:\"description\";s:122:\"The
  type of key used for the encryption. If no keyType is provided, the service will
  use the default setting (static-key).\";}s:14:\"EntitlementArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:100:\"The
  ARN of the entitlement on the originator''s flow. This value is relevant only on
  entitled flows.\";}s:17:\"MediaLiveInputArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:144:\"The
  input ARN of the AWS Elemental MediaLive channel. This parameter is relevant only
  for outputs that were added by creating a MediaLive input.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:74:\"The
  name of the output. This value must be unique within the current flow.\";}s:9:\"OutputArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:22:\"The
  ARN of the output.\";}s:4:\"Port\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__integer\";s:11:\"description\";s:59:\"The
  port to use when content is distributed to this output.\";}s:9:\"Transport\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Transport\";s:11:\"description\";s:71:\"Attributes
  related to the transport stream that are used in the output.\";}}s:8:\"required\";a:2:{i:0;s:9:\"OutputArn\";i:1;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:8:\"Protocol\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:9:\"zixi-push\";i:1;s:7:\"rtp-fec\";i:2;s:3:\"rtp\";}s:4:\"type\";s:6:\"string\";}s:23:\"RemoveFlowOutputRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:24:\"RemoveFlowOutputResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"FlowArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:67:\"The
  ARN of the flow that is associated with the output you removed.\";}s:9:\"OutputArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:39:\"The
  ARN of the output that was removed.\";}}s:4:\"type\";s:6:\"object\";}s:28:\"RevokeFlowEntitlementRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:29:\"RevokeFlowEntitlementResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"EntitlementArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:44:\"The
  ARN of the entitlement that was revoked.\";}s:7:\"FlowArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:58:\"The
  ARN of the flow that the entitlement was revoked from.\";}}s:4:\"type\";s:6:\"object\";}s:27:\"ServiceUnavailableException\";O:8:\"stdClass\":0:{}s:16:\"SetSourceRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  settings for the source of the flow.\";s:10:\"properties\";O:8:\"stdClass\":10:{s:10:\"Decryption\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Encryption\";s:11:\"description\";s:77:\"The
  type of encryption that is used on the content ingested from this source.\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:119:\"A
  description for the source. This value is not used or seen outside of the current
  AWS Elemental MediaConnect account.\";}s:14:\"EntitlementArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:175:\"The
  ARN of the entitlement that allows you to subscribe to this flow. The entitlement
  is set by the flow originator, and the ARN is generated as part of the originator's
  flow.\";}s:10:\"IngestPort\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__integer\";s:11:\"description\";s:65:\"The
  port that the flow will be listening on for incoming content.\";}s:10:\"MaxBitrate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__integer\";s:11:\"description\";s:54:\"The
  smoothing max bitrate for RTP and RTP-FEC streams.\";}s:10:\"MaxLatency\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__integer\";s:11:\"description\";s:59:\"The
  maximum latency in milliseconds for Zixi-based streams.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:23:\"The
  name of the source.\";}s:8:\"Protocol\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Protocol\";s:11:\"description\";s:40:\"The
  protocol that is used by the source.\";}s:8:\"StreamId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:105:\"The
  stream ID that you want to use for this transport. This parameter applies only to
  Zixi-based streams.\";}s:13:\"WhitelistCidr\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:200:\"The
  range of IP addresses that should be allowed to contribute content to your source.
  These IP addresses should in the form of a Classless Inter-Domain Routing (CIDR)
  block; for example, 10.0.0.0/16.\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Source\";O:8:\"stdClass\":4:{s:11:\"description\";s:40:\"The
  settings for the source of the flow.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:10:\"Decryption\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Encryption\";s:11:\"description\";s:77:\"The
  type of encryption that is used on the content ingested from this source.\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:119:\"A
  description for the source. This value is not used or seen outside of the current
  AWS Elemental MediaConnect account.\";}s:14:\"EntitlementArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:211:\"The
  ARN of the entitlement that allows you to subscribe to content that comes from another
  AWS account. The entitlement is set by the content originator and the ARN is generated
  as part of the originator's flow.\";}s:8:\"IngestIp\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:71:\"The
  IP address that the flow will be listening on for incoming content.\";}s:10:\"IngestPort\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__integer\";s:11:\"description\";s:65:\"The
  port that the flow will be listening on for incoming content.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:23:\"The
  name of the source.\";}s:9:\"SourceArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:22:\"The
  ARN of the source.\";}s:9:\"Transport\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Transport\";s:11:\"description\";s:71:\"Attributes
  related to the transport stream that are used in the source.\";}s:13:\"WhitelistCidr\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:200:\"The
  range of IP addresses that should be allowed to contribute content to your source.
  These IP addresses should in the form of a Classless Inter-Domain Routing (CIDR)
  block; for example, 10.0.0.0/16.\";}}s:8:\"required\";a:2:{i:0;s:9:\"SourceArn\";i:1;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:10:\"SourceType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:5:\"OWNED\";i:1;s:8:\"ENTITLED\";}s:4:\"type\";s:6:\"string\";}s:16:\"StartFlowRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:17:\"StartFlowResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"FlowArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:37:\"The
  ARN of the flow that you started.\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Status\";s:11:\"description\";s:57:\"The
  status of the flow when the StartFlow process begins.\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"enum\";a:7:{i:0;s:7:\"STANDBY\";i:1;s:6:\"ACTIVE\";i:2;s:8:\"UPDATING\";i:3;s:8:\"DELETING\";i:4;s:8:\"STARTING\";i:5;s:8:\"STOPPING\";i:6;s:5:\"ERROR\";}s:4:\"type\";s:6:\"string\";}s:15:\"StopFlowRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:16:\"StopFlowResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"FlowArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:37:\"The
  ARN of the flow that you stopped.\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Status\";s:11:\"description\";s:56:\"The
  status of the flow when the StopFlow process begins.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"TooManyRequestsException\";O:8:\"stdClass\":0:{}s:9:\"Transport\";O:8:\"stdClass\":4:{s:11:\"description\";s:79:\"Attributes
  related to the transport stream that are used in a source or output.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"MaxBitrate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__integer\";s:11:\"description\";s:54:\"The
  smoothing max bitrate for RTP and RTP-FEC streams.\";}s:10:\"MaxLatency\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__integer\";s:11:\"description\";s:59:\"The
  maximum latency in milliseconds for Zixi-based streams.\";}s:8:\"Protocol\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Protocol\";s:11:\"description\";s:50:\"The
  protocol that is used by the source or output.\";}s:16:\"SmoothingLatency\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__integer\";s:11:\"description\";s:66:\"The
  smoothing latency in milliseconds for RTP and RTP-FEC streams.\";}s:8:\"StreamId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:105:\"The
  stream ID that you want to use for this transport. This parameter applies only to
  Zixi-based streams.\";}}s:8:\"required\";a:1:{i:0;s:8:\"Protocol\";}s:4:\"type\";s:6:\"object\";}s:16:\"UpdateEncryption\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Information
  about the encryption of the flow.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"Algorithm\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Algorithm\";s:11:\"description\";s:90:\"The
  type of algorithm that is used for the encryption (such as aes128, aes192, or aes256).\";}s:7:\"KeyType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/KeyType\";s:11:\"description\";s:130:\"The
  type of key that is used for the encryption. If no keyType is provided, the service
  will use the default setting (static-key).\";}s:7:\"RoleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:115:\"The
  ARN of the role that you created during setup (when you set up AWS Elemental MediaConnect
  as a trusted entity).\";}s:9:\"SecretArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:108:\"The
  ARN that was assigned to the secret that you created in AWS Secrets Manager to store
  the encryption key.\";}}s:4:\"type\";s:6:\"object\";}s:28:\"UpdateFlowEntitlementRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  entitlement fields that you want to update.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:157:\"A
  description of the entitlement. This description appears only on the AWS Elemental
  MediaConnect console and will not be seen by the subscriber or end user.\";}s:10:\"Encryption\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/UpdateEncryption\";s:11:\"description\";s:88:\"The
  type of encryption that will be used on the output associated with this entitlement.\";}s:11:\"Subscribers\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/__listOf__string\";s:11:\"description\";s:173:\"The
  AWS account IDs that you want to share your content with. The receiving accounts
  (subscribers) will be allowed to create their own flow using your content as the
  source.\";}}s:4:\"type\";s:6:\"object\";}s:29:\"UpdateFlowEntitlementResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"Entitlement\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Entitlement\";}s:7:\"FlowArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:57:\"The
  ARN of the flow that this entitlement was granted on.\";}}s:4:\"type\";s:6:\"object\";}s:23:\"UpdateFlowOutputRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  fields that you want to update in the output.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:138:\"A
  description of the output. This description appears only on the AWS Elemental MediaConnect
  console and will not be seen by the end user.\";}s:11:\"Destination\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:49:\"The
  IP address where you want to send the output.\";}s:10:\"Encryption\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/UpdateEncryption\";s:11:\"description\";s:122:\"The
  type of key used for the encryption. If no keyType is provided, the service will
  use the default setting (static-key).\";}s:10:\"MaxLatency\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__integer\";s:11:\"description\";s:59:\"The
  maximum latency in milliseconds for Zixi-based streams.\";}s:4:\"Port\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__integer\";s:11:\"description\";s:59:\"The
  port to use when content is distributed to this output.\";}s:8:\"Protocol\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Protocol\";s:11:\"description\";s:35:\"The
  protocol to use for the output.\";}s:16:\"SmoothingLatency\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__integer\";s:11:\"description\";s:66:\"The
  smoothing latency in milliseconds for RTP and RTP-FEC streams.\";}s:8:\"StreamId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:105:\"The
  stream ID that you want to use for this transport. This parameter applies only to
  Zixi-based streams.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"UpdateFlowOutputResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"FlowArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:63:\"The
  ARN of the flow that is associated with the updated output.\";}s:6:\"Output\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Output\";}}s:4:\"type\";s:6:\"object\";}s:23:\"UpdateFlowSourceRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"A
  request to update the source of a flow.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:10:\"Decryption\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/UpdateEncryption\";s:11:\"description\";s:69:\"The
  type of encryption used on the content ingested from this source.\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:119:\"A
  description for the source. This value is not used or seen outside of the current
  AWS Elemental MediaConnect account.\";}s:14:\"EntitlementArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:175:\"The
  ARN of the entitlement that allows you to subscribe to this flow. The entitlement
  is set by the flow originator, and the ARN is generated as part of the originator's
  flow.\";}s:10:\"IngestPort\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__integer\";s:11:\"description\";s:65:\"The
  port that the flow will be listening on for incoming content.\";}s:10:\"MaxBitrate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__integer\";s:11:\"description\";s:54:\"The
  smoothing max bitrate for RTP and RTP-FEC streams.\";}s:10:\"MaxLatency\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__integer\";s:11:\"description\";s:59:\"The
  maximum latency in milliseconds for Zixi-based streams.\";}s:8:\"Protocol\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Protocol\";s:11:\"description\";s:40:\"The
  protocol that is used by the source.\";}s:8:\"StreamId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:105:\"The
  stream ID that you want to use for this transport. This parameter applies only to
  Zixi-based streams.\";}s:13:\"WhitelistCidr\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:200:\"The
  range of IP addresses that should be allowed to contribute content to your source.
  These IP addresses should in the form of a Classless Inter-Domain Routing (CIDR)
  block; for example, 10.0.0.0/16.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"UpdateFlowSourceResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"FlowArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:44:\"The
  ARN of the flow that you want to update.\";}s:6:\"Source\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Source\";s:11:\"description\";s:40:\"The
  settings for the source of the flow.\";}}s:4:\"type\";s:6:\"object\";}s:9:\"__integer\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:24:\"__listOfAddOutputRequest\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/AddOutputRequest\";}s:4:\"type\";s:5:\"array\";}s:19:\"__listOfEntitlement\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Entitlement\";}s:4:\"type\";s:5:\"array\";}s:31:\"__listOfGrantEntitlementRequest\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/GrantEntitlementRequest\";}s:4:\"type\";s:5:\"array\";}s:25:\"__listOfListedEntitlement\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ListedEntitlement\";}s:4:\"type\";s:5:\"array\";}s:18:\"__listOfListedFlow\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/ListedFlow\";}s:4:\"type\";s:5:\"array\";}s:14:\"__listOfOutput\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Output\";}s:4:\"type\";s:5:\"array\";}s:16:\"__listOf__string\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/__string\";}s:4:\"type\";s:5:\"array\";}s:8:\"__string\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}"
...
