---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":8:{s:11:\"description\";s:315:\"The OpenAPI documentation
  for the RESTful interface of the Carl-Maria-von-Weber-Gesamtausgabe. <br/> (No registration,
  authentication, or API key is required) <br/> For feedback or requests about this
  API please contact stadler@weber-gesamtausgabe.de or start the discussion at https://github.com/Edirom/WeGA-WebApp\";s:5:\"title\";s:4:\"WeGA\";s:7:\"version\";s:5:\"1.0.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:9:\"open_data\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:93:\"https://api.apis.guru/v2/cache/logo/https_weber-gesamtausgabe.de_resources_img_logo_weber.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:50:\"https://weber-gesamtausgabe.de/api/v1/swagger.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:22:\"weber-gesamtausgabe.de\";}"
host: weber-gesamtausgabe.de
basePath: /api/v1
paths:
  /code/findByElement/{element}:
    get:
      description: ""
      parameters:
      - description: The XML element to search for
        in: path
        name: element
        required: true
        type: string
      - default: http://www.tei-c.org/ns/1.0
        description: The element namespace. Defaults to the TEI namespace
        in: query
        name: namespace
        required: false
        type: string
      - $ref: '#/parameters/docTypeParam'
      - $ref: '#/parameters/offsetParam'
      - $ref: '#/parameters/limitParam'
      responses:
        200:
          description: An array of documents
          schema:
            items:
              $ref: '#/definitions/CodeSample'
            type: array
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      summary: Finds code samples by XML element
      tags:
      - Code Samples
  /documents:
    get:
      description: The Documents endpoint returns a list of all documents from the
        WeGA digital edition.n
      parameters:
      - $ref: '#/parameters/docTypeParam'
      - $ref: '#/parameters/offsetParam'
      - $ref: '#/parameters/limitParam'
      responses:
        200:
          description: An array of documents
          schema:
            items:
              $ref: '#/definitions/Document'
            type: array
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      summary: Lists all documents
      tags:
      - Documents
  /documents/findByAuthor/{authorID}:
    get:
      description: This endpoint returns a list of documents by a given author u2013
        optionally filtered by document type n
      parameters:
      - default: A002068
        description: The author ID to search for. Accepted ID formats are WeGA, e.g.
          A002068 or http://weber-gesamtausgabe.de/A002068, VIAF, e.g. http://viaf.org/viaf/310642461,
          or  GND, e.g. http://d-nb.info/gnd/118629662n
        in: path
        name: authorID
        required: true
        type: string
      - $ref: '#/parameters/docTypeParam'
      - $ref: '#/parameters/offsetParam'
      - $ref: '#/parameters/limitParam'
      responses:
        200:
          description: An array of documents
          schema:
            items:
              $ref: '#/definitions/Document'
            type: array
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      summary: Finds documents by author
      tags:
      - Documents
  /documents/findByDate:
    get:
      description: This endpoint returns a list of documents related to the given
        date u2013 optionally filtered by document type. n
      parameters:
      - default: "1786-11-18"
        description: The min date to search for
        format: date
        in: query
        name: fromDate
        required: true
        type: string
      - description: The max date to search for
        format: date
        in: query
        name: toDate
        required: false
        type: string
      - $ref: '#/parameters/docTypeParam'
      - $ref: '#/parameters/offsetParam'
      - $ref: '#/parameters/limitParam'
      responses:
        200:
          description: An array of documents
          schema:
            items:
              $ref: '#/definitions/Document'
            type: array
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      summary: Finds documents by date
      tags:
      - Documents
  /documents/findByMention/{docID}:
    get:
      description: This endpoint returns a list of documents that reference a particular
        docID u2013 optionally filtered by document type. n
      parameters:
      - default: A002068
        description: The document ID that is to be mentioned. Accepted ID formats
          are WeGA, e.g. A002068 or http://weber-gesamtausgabe.de/A002068, VIAF, e.g.
          http://viaf.org/viaf/310642461, or  GND, e.g. http://d-nb.info/gnd/118629662n
        in: path
        name: docID
        required: true
        type: string
      - $ref: '#/parameters/docTypeParam'
      - $ref: '#/parameters/offsetParam'
      - $ref: '#/parameters/limitParam'
      responses:
        200:
          description: An array of documents
          schema:
            items:
              $ref: '#/definitions/Document'
            type: array
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      summary: Finds documents by reference
      tags:
      - Documents
  /documents/{docID}:
    get:
      description: This endpoint returns documents, indicated by an ID.n Accepted
        ID formats are WeGA, e.g. A002068 or http://weber-gesamtausgabe.de/A002068,
        VIAF, e.g. http://viaf.org/viaf/310642461, or  GND, e.g. http://d-nb.info/gnd/118629662n
      parameters:
      - default: A002068
        description: The document identifier to search for
        in: path
        name: docID
        required: true
        type: string
      responses:
        200:
          description: An array of documents
          schema:
            items:
              $ref: '#/definitions/Document'
            type: array
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      summary: Returns documents by ID
      tags:
      - Documents
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":4:{s:10:\"CodeSample\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"codeSample\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"The
  code snippet\";s:4:\"type\";s:6:\"string\";}s:5:\"docID\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"The
  WeGA document identifier representing a specific document\";s:4:\"type\";s:6:\"string\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Unique
  identifier representing a specific document\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Document\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"docID\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"The
  WeGA document identifier representing a specific document\";s:4:\"type\";s:6:\"string\";}s:7:\"docType\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  WeGA document type\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  title of the document\";s:4:\"type\";s:6:\"string\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Unique
  identifier representing a specific document\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Error\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"fields\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"svnHistoryPatch\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"author\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  Subversion commit author\";s:4:\"type\";s:6:\"string\";}s:8:\"dateTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  Subversion commit dateTime\";s:4:\"type\";s:6:\"string\";}s:4:\"path\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"The
  Subversion path, starting from the repository root\";s:4:\"type\";s:6:\"string\";}s:3:\"rev\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  Subversion commit revision\";s:4:\"type\";s:7:\"integer\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Unique
  identifier representing a specific document\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:5:\"patch\";}}}"
...
