---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:13:\"Meinkonto API\";s:11:\"description\";s:128:\"Meinkonto
  API is designed to expose aggregated funtionality from multiple backend systems
  like SAP, HGSP, Download manager, eCom\";s:7:\"version\";s:3:\"1.0\";}"
host: account.haufe.lexware.com
basePath: /v1.0/meinkonto-api
paths:
  /user:
    get:
      summary: User Data
      description: The User endpoint returns information about the currently logged
        in user. It displays basic information like first name, last name.
      parameters:
      - name: X-HGSP-SECURITY
        in: header
        required: true
        type: string
        description: The ssoToken received during authentication. This header is needed
          in order to determine the user who is accessing the API
      tags:
      - User
      responses:
        200:
          description: Returns an Object which has mutiple values related to a user
          schema:
            $ref: '#/definitions/user'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error'
    put:
      summary: User Data
      description: The User endpoint modifies information about the currently logged
        in user.
      parameters:
      - name: X-HGSP-SECURITY
        in: header
        required: true
        type: string
        description: The ssoToken received during authentication. This header is needed
          in order to determine the user who is accessing the API
      - name: user
        in: body
        description: The properties which should be modified
        schema:
          $ref: '#/definitions/user'
      tags:
      - User
      responses:
        200:
          description: Returns an Object with the modified values related to a user
          schema:
            $ref: '#/definitions/user'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error'
  /user/address:
    get:
      summary: Default debtor address data
      description: The endpoint can retrive the current user billing address
      parameters:
      - name: X-HGSP-SECURITY
        in: header
        required: true
        type: string
        description: The ssoToken received during authentication. This header is needed
          in order to determine the user who is accessing the API
      tags:
      - Debtor
      responses:
        200:
          description: The current billing address of the user
          schema:
            $ref: '#/definitions/address'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error'
    put:
      summary: Modify Default debtor address data
      description: The endpoint can modify the current user billing address
      parameters:
      - name: X-HGSP-SECURITY
        in: header
        required: true
        type: string
        description: The ssoToken received during authentication. This header is needed
          in order to determine the user who is accessing the API
      tags:
      - Debtor
      responses:
        200:
          description: The modified billing address of the user
          schema:
            $ref: '#/definitions/address'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error'
  /user/payment:
    get:
      summary: Default debtor payment data
      description: The endpoint can retrive the current user payment information
      parameters:
      - name: X-HGSP-SECURITY
        in: header
        required: true
        type: string
        description: The ssoToken received during authentication. This header is needed
          in order to determine the user who is accessing the API
      tags:
      - Debtor
      responses:
        200:
          description: The current payment method of the user
          schema:
            $ref: '#/definitions/payment'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error'
    put:
      summary: Modify Default debtor payment data
      description: The endpoint can modify the current user payment information
      parameters:
      - name: X-HGSP-SECURITY
        in: header
        required: true
        type: string
        description: The ssoToken received during authentication. This header is needed
          in order to determine the user who is accessing the API
      tags:
      - Debtor
      responses:
        200:
          description: The modified payment method of the user
          schema:
            items:
              $ref: '#/definitions/payment'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error'
  /user/products:
    get:
      summary: User Product List
      description: This endpoint can be used to retrive a list of basic userproduct
        information
      parameters:
      - name: X-HGSP-SECURITY
        in: header
        required: true
        type: string
        description: The ssoToken received during authentication. This header is needed
          in order to determine the user who is accessing the API
      tags:
      - Products
      responses:
        200:
          description: A list of products a user has
          schema:
            type: array
            $ref: '#/definitions/product'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error'
  /user/products/{id}:
    get:
      summary: User Product Information
      description: The endpoint returns more data about a single product. It needs
        both parts of the primary key to be present
      parameters:
      - name: X-HGSP-SECURITY
        in: header
        required: true
        type: string
        description: The ssoToken received during authentication. This header is needed
          in order to determine the user who is accessing the API
      - name: id
        in: path
        required: true
        type: string
        description: The combined product_id and order_id
      tags:
      - Products
      responses:
        200:
          description: Detailed information for the product
          schema:
            $ref: '#/definitions/product'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error'
  /user/products/{id}/download:
    get:
      summary: User Product Download
      description: The endpoint returns a download link
      parameters:
      - name: X-HGSP-SECURITY
        in: header
        required: true
        type: string
        description: The ssoToken received during authentication. This header is needed
          in order to determine the user who is accessing the API
      - name: id
        in: path
        required: true
        type: string
        description: The combined product_id and order_id
      tags:
      - Products
      responses:
        200:
          description: The download link for the selected product
          schema:
            $ref: '#/definitions/product_download'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error'
  /user/documents:
    get:
      summary: User Document List
      description: The endpoint returns a list of basic information of the document
        retalted to the selected user
      parameters:
      - name: X-HGSP-SECURITY
        in: header
        required: true
        type: string
        description: The ssoToken received during authentication. This header is needed
          in order to determine the user who is accessing the API
      tags:
      - Documents
      responses:
        200:
          description: A list of documents issued for a user
          schema:
            type: array
            $ref: '#/definitions/document'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error'
  /user/documents/{id}:
    get:
      summary: User Document Information
      description: User Account information about a specific Document issued
      parameters:
      - name: X-HGSP-SECURITY
        in: header
        required: true
        type: string
        description: The ssoToken received during authentication. This header is needed
          in order to determine the user who is accessing the API
      - name: id
        in: path
        required: true
        type: string
        description: The document id
      tags:
      - Documents
      responses:
        200:
          description: An object containing all info needed about a Document issued
            for the user
          schema:
            $ref: '#/definitions/document'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error'
  /user/documents/{id}/download:
    get:
      summary: User Document Download
      description: Offers the PDF document for download
      parameters:
      - name: X-HGSP-SECURITY
        in: header
        required: true
        type: string
        description: The ssoToken received during authentication. This header is needed
          in order to determine the user who is accessing the API
      - name: id
        in: path
        required: true
        type: string
        description: The document id
      tags:
      - Documents
      responses:
        200:
          description: The response will be of application/pdf mime type with body
            containing the PDF document
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error'
produces:
- application/hal+json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":8:{s:4:\"user\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":10:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"The
  HGSP user id\";}s:10:\"salutation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:50:\"The
  HGSP user gender capitalized (e.g. Herr, Frau)\";}s:5:\"title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"The
  HGSP user title (e.g. Dr.)\";}s:10:\"given_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"The
  HGSP user first name\";}s:11:\"family_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"The
  HGSP user last name\";}s:5:\"email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"The
  email of the user\";}s:5:\"phone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"The
  phone of the user\";}s:9:\"id_mapped\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:341:\"The
  the process of associating (mapping) a user to a debtor is called idmapping. A user
  can have only one debtor assigned at any given point in time. The flag signifies
  whether a user has a mapped debtor/company. A debtor is a person/company that has
  several data attached to it like an address (billing), payment methods and products
  bought\";}s:10:\"company_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:123:\"The
  HGSP internal representation of the company/debtor. The user needs to be idmapped
  so that this information is available\";}s:15:\"sap_customer_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:144:\"The
  SAP customer id is the SAP own internal representation of the debtor id. The user
  needs to be idmapped so that this information is available\";}}}s:7:\"address\";O:8:\"stdClass\":2:{s:11:\"description\";s:134:\"The
  address is either defined by the street, postal_code city and country, or by the
  postbox. Only one of the two choices are accepted\";s:10:\"properties\";O:8:\"stdClass\":5:{s:14:\"street_address\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:53:\"The
  street (and number) of the debtor billing address\";}s:11:\"postal_code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  postalCode of the debtor billing address\";}s:4:\"city\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"The
  city of the debtor billing address\";}s:7:\"country\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"The
  country of the debtor billing address\";}s:7:\"postbox\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"The
  postbox of the debtor billing address\";}}}s:7:\"payment\";O:8:\"stdClass\":2:{s:11:\"description\";s:262:\"The
  invoice can be of type Debit or Invoice. If invoice then no other attributes are
  set. For Debit the banck_name and account_owner are mandatory. Either the iban and
  bic are set or the banc_code and account_number. It is mandatory to have one of
  the two pairs.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:6:\"method\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:84:\"The
  type of payment data. The following values are allowed returned Debit or Invoice\";}s:9:\"bank_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:51:\"The
  bank_name of the debtor payment data Debit only\";}s:13:\"account_owner\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:55:\"The
  account_owner of the debtor payment data Debit only\";}s:9:\"bank_code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:52:\"The
  bank_Code of the debtor payment data Debit only.\";}s:14:\"account_number\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:56:\"The
  account_number of the debtor payment data Debit only\";}s:4:\"iban\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"The
  iban of the debtor payment data Debit only\";}s:3:\"bic\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"The
  bic of the debtor payment data Debit only\";}}}s:7:\"product\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":9:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"The
  combined product_id and order_id with a '-' delimiter\";}s:10:\"product_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:72:\"The
  product_id along with the order_id will uniquely reference a product\";}s:8:\"order_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:72:\"The
  order_id along with the product_id will uniquely reference a product\";}s:14:\"product_status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:674:\"Can
  have one of the following values | 'notdelivered' | 'holdingperiod' -  this is a
  product that the user bought in the past and is now in the process of evaluating
  a product upgrade to a higher-value edition. During three months the customer has
  the possibility to cancel the upgrade, returning to the lower-value edition. During
  this time the status of the old edition is 'holdingperiod' | 'returned' | 'cancelled'
  - can be a cancelled product upgrade or the previous version once the product was
  upgraded | 'active' | 'testphase' - it represents the status of the upgraded-to
  higher-value product during the 3 months evaluation period or a product which is
  in test phase\";}s:12:\"product_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"A
  product's name\";}s:12:\"rnc_possible\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:79:\"marker
  if a product can be used in an \"Return and Cancellation\" (rnc) workflow.\";}s:12:\"downloadable\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:49:\"marker
  if a product can be issued a download link\";}s:10:\"media_type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:181:\"the
  product's media_type number. It is a SAP identifier which identifies a product name,
  variant and version. For example \"Buchalter pro 20\" has the medienausgabe number
  08856-2009.\";}s:14:\"serial_numbers\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/serial_number\";}s:11:\"description\";s:52:\"a
  list of serial numbers associated with the product\";}}}s:13:\"serial_number\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"The
  serial number of a product\";}}}s:16:\"product_download\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"download_link\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:49:\"A
  generated URL to download the specified product\";}s:13:\"download_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:95:\"When
  multiple download links are generated, this field will tell you more about the current
  URL\";}s:3:\"ttl\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:50:\"The
  time-to-live information for the download link\";}}}s:8:\"document\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":8:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  SAP document (bill) ID\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:58:\"The
  documment type (bill, ebill, return, credit, reminder)\";}s:4:\"date\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"The
  date when the document item was issued\";}s:8:\"currency\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"The
  currency used for the documment item\";}s:6:\"amount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"The
  amount issued for the document item\";}s:12:\"downloadable\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:57:\"Marker
  which tells if the document is downloadable or not\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:48:\"The
  name of the document (it may be quite large)\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  status of the document\";}}}s:5:\"error\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"error_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"error_description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}"
...
