---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":4:{s:7:\"version\";s:3:\"0.1\";s:5:\"title\";s:19:\"PJLink
  Microservice\";s:11:\"description\";s:53:\"A RESTful API to interact with PJLink-enabled
  devices\";s:7:\"license\";O:8:\"stdClass\":1:{s:4:\"name\";s:10:\"Apache 2.0\";}}"
host: api.byu.edu:443
basePath: /byuoitav-adcp-control-microservice/0.1
paths:
  /health:
    get:
      summary: Check Service Health
      description: Returns information about the microservice's health.
      tags:
      - Health
      responses:
        200:
          description: A health response
          schema:
            type: array
            items:
              $ref: '#/definitions/Response'
        401:
          $ref: '#/responses/401'
        500:
          $ref: '#/responses/500'
        503:
          $ref: '#/responses/503'
        default:
          $ref: '#/responses/default'
  /command:
    get:
      summary: Use Microservice
      description: Returns information about the /command endpoint.
      tags:
      - FTP
      responses:
        200:
          description: Endpoint information
          schema:
            type: array
            items:
              $ref: '#/definitions/Response'
        401:
          $ref: '#/responses/401'
        500:
          $ref: '#/responses/500'
        503:
          $ref: '#/responses/503'
        default:
          $ref: '#/responses/default'
    post:
      summary: Send a human-readable PJLink command
      description: Send a human-readable PJLink class 1 command
      parameters:
      - name: body
        description: Contains address of device, password and command in JSON
        in: body
        required: true
        schema:
          $ref: '#/definitions/CommandRequest'
      tags:
      - Command
      responses:
        200:
          description: Device response received
          schema:
            $ref: '#/definitions/CommandResponse'
        401:
          $ref: '#/responses/401'
        500:
          $ref: '#/responses/500'
        501:
          $ref: '#/responses/503'
        default:
          $ref: '#/responses/default'
  /raw:
    get:
      summary: Use Microservice
      description: Returns information about the /raw endpoint.
      tags:
      - FTP
      responses:
        200:
          description: Endpoint information
          schema:
            type: array
            items:
              $ref: '#/definitions/Response'
        401:
          $ref: '#/responses/401'
        500:
          $ref: '#/responses/500'
        503:
          $ref: '#/responses/503'
        default:
          $ref: '#/responses/default'
    post:
      summary: Send a raw PJLink command
      description: Send a raw PJLink class 1 command, including status queries
      parameters:
      - name: body
        description: Contains address of device, password, and command
        in: body
        required: true
        schema:
          $ref: '#/definitions/RawRequest'
      tags:
      - Raw
      responses:
        200:
          description: Device response received
          schema:
            $ref: '#/definitions/RawResponse'
        401:
          $ref: '#/responses/401'
        500:
          $ref: '#/responses/500'
        501:
          $ref: '#/responses/503'
        default:
          $ref: '#/responses/default'
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":7:{s:7:\"HATEOAS\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"rel\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:50:\"A
  human-readable name for what the link represents\";}s:4:\"href\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"The
  link to the endpoint\";}}}s:8:\"Response\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"links\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/HATEOAS\";}}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:49:\"A
  human-readable message about what just happened\";}}}s:5:\"Error\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:10:\"RawRequest\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"address\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"Hostname
  or IP address of device\";}s:4:\"port\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"PJLink
  service port; typically 4352\";}s:8:\"password\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"PJLink
  password as set on device\";}s:5:\"class\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"PJLink
  class\";}s:7:\"command\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"PJLink
  command (e.g. 'POWR')\";}s:9:\"parameter\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:51:\"PJLink
  command parameter (e.g. '?' to query status)\";}}}s:11:\"RawResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"class\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"PJLink
  class response of device\";}s:7:\"command\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"PJLink
  command\";}s:8:\"response\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:39:\"one
  or more response values per command\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:14:\"CommandRequest\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"address\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"Hostname
  or IP address of device\";}s:4:\"port\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"PJLink
  service port; typically 4352\";}s:8:\"password\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"PJLink
  password as set on device\";}s:5:\"class\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"PJLink
  class\";}s:7:\"command\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"human
  readable PJLink command (e.g. 'power')\";}s:9:\"parameter\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:55:\"PJLink
  command parameter (e.g. 'query' to query status)\";}}}s:15:\"CommandResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"class\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"PJLink
  class response of device\";}s:7:\"command\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"human
  readable PJLink command (e.g. 'power')\";}s:8:\"response\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:39:\"one
  or more response values per command\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}"
...
