---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:27:\"pi designation microservice\";s:11:\"description\";s:61:\"mananage
  room configurations and branch environment variables\";s:7:\"version\";s:3:\"0.4\";}"
host: api.byu.edu:443
basePath: /byuoitav-av-api/0.4
paths:
  /health:
    get:
      summary: Check Service Health
      description: Returns information about the microservice's health
      tags:
      - Health
      responses:
        200:
          description: A health message
          schema:
            type: array
            items:
              $ref: '#/definitions/Response'
        401:
          $ref: '#/responses/401'
        500:
          $ref: '#/responses/500'
        503:
          $ref: '#/responses/503'
        default:
          $ref: '#/responses/default'
  /buildings/{building}/rooms/{room}:
    get:
      summary: Get a Specific Room
      description: Returns information about a specific room in a specified building
      parameters:
      - $ref: '#/parameters/building'
      - $ref: '#/parameters/room'
      tags:
      - Rooms
      - Buildings
      responses:
        200:
          description: A room object
          schema:
            $ref: '#/definitions/RoomResponse'
        401:
          $ref: '#/responses/401'
        500:
          $ref: '#/responses/500'
        503:
          $ref: '#/responses/503'
        default:
          $ref: '#/responses/default'
    put:
      summary: Modify a Room
      description: Update various qualities about a room
      parameters:
      - $ref: '#/parameters/building'
      - $ref: '#/parameters/room'
      - name: body
        description: The updated room information
        in: body
        schema:
          $ref: '#/definitions/RoomRequest'
      tags:
      - Rooms
      - Buildings
      responses:
        201:
          description: All went well
          schema:
            $ref: '#/definitions/RoomResponse'
        401:
          $ref: '#/responses/401'
        500:
          $ref: '#/responses/500'
        503:
          $ref: '#/responses/503'
        default:
          $ref: '#/responses/default'
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":7:{s:7:\"HATEOAS\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"rel\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:50:\"A
  human-readable name for what the link represents\";}s:4:\"href\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"The
  link to the endpoint\";}}}s:11:\"RoomRequest\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  human-readable name of the room\";}s:6:\"roomID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"The
  room number\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"A
  human-readable description of the room\";}}}s:12:\"RoomResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:5:\"links\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/HATEOAS\";}}s:17:\"currentVideoInput\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:50:\"The
  human-readable name of the current video input\";}s:17:\"currentAudioInput\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:50:\"The
  human-readable name of the current audio input\";}s:5:\"power\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"The
  current power state\";}s:7:\"blanked\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:37:\"Whether
  or not the display is blanked\";}s:8:\"displays\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Display\";}}s:12:\"audioDevices\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/AudioDevice\";}}}}s:11:\"AudioDevice\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"The
  name of the audio device\";}s:5:\"power\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  power state of the audio device\";}s:5:\"input\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:49:\"The
  name of the current input to the audio device\";}s:5:\"muted\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:50:\"Whether
  or not the audio device is currently muted\";}s:6:\"volume\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:58:\"The
  volume of the audio device (usually between 0 and 100)\";}}}s:7:\"Display\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"The
  name of the audio device\";}s:5:\"power\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  power state of the audio device\";}s:5:\"input\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:49:\"The
  name of the current input to the audio device\";}s:5:\"muted\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:50:\"Whether
  or not the audio device is currently muted\";}}}s:8:\"Response\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"links\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/HATEOAS\";}}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:49:\"A
  human-readable message about what just happened\";}}}s:5:\"Error\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}"
...
