---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"Retrieves balances,
  cards and transaction information on accounts \";s:7:\"version\";s:6:\"v1.0.0\";s:5:\"title\";s:22:\"Holdings
  Accounts APIs\";}"
host: api.temenos.com
basePath: /api/v1.0.0/v1.0.0/
paths:
  /holdings/accounts:
    get:
      operationId: getAccounts
      produces:
      - application/json
      parameters:
      - name: accountId
        in: query
        description: The identifier of the account. Often referred to as the account
          number, yet for consistency this is always referred to as accountId.
        required: false
        type: string
      - name: customerId
        in: query
        description: The identifier of the customer
        required: false
        type: string
      - name: productId
        in: query
        description: The identifier of the product
        required: false
        type: string
      - name: currencyId
        in: query
        description: The identifier of the curreny. The is the 3 letter ISO 4217 code
          of the currency.
        required: false
        type: string
      - name: limitReference
        in: query
        description: Identifies the type of limit applicable to the Account
        required: false
        type: string
      - name: page_size
        in: query
        description: The total number of records per page
        required: false
        type: integer
        format: int32
      - name: page_start
        in: query
        description: The record from which the response should be displayed
        required: false
        type: integer
        format: int32
      - name: page_token
        in: query
        description: Unique id expected to get as part of response from t24 on every
          enquiry request.
        required: false
        type: string
      - name: credentials
        in: query
        required: false
        type: string
      - name: companyId
        in: query
        required: false
        type: string
      responses:
        200:
          description: AccountsResponse
          schema:
            $ref: '#/definitions/holdingsAccountsResponse'
        default:
          description: QueryErrorResponse
          schema:
            $ref: '#/definitions/QueryErrorResponse'
  /holdings/accounts/{accountId}/transactions:
    get:
      operationId: getAccountTransactions
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: The identifier of the account. Often referred to as the account
          number, yet for consistency this is always referred to as accountId.
        required: true
        type: string
      - name: bookingDate
        in: query
        description: The date on which the entry was generated. Normally, but not
          necessarily, the actual date at the time the entry is generated, e.g. if
          the previous day's business is still being processed after midnight, the
          actual date changes, but the run date is still the previous day.
        required: false
        type: string
      - name: processingDate
        in: query
        description: The bank date that an accounting movement is applied to the bank
          GL
        required: false
        type: string
      - name: valueDate
        in: query
        description: The applicable value date
        required: false
        type: string
      - name: description
        in: query
        description: The name used for display purposes
        required: false
        type: string
      - name: reversalMarker
        in: query
        required: false
        type: string
      - name: includeSubAcct
        in: query
        required: false
        type: string
      - name: page_size
        in: query
        description: The total number of records per page
        required: false
        type: integer
        format: int32
      - name: page_start
        in: query
        description: The record from which the response should be displayed
        required: false
        type: integer
        format: int32
      - name: page_token
        in: query
        description: Unique id expected to get as part of response from t24 on every
          enquiry request.
        required: false
        type: string
      - name: credentials
        in: query
        required: false
        type: string
      - name: companyId
        in: query
        required: false
        type: string
      responses:
        200:
          description: AccountTransactionsResponse
          schema:
            $ref: '#/definitions/holdingsAccountTransactionsResponse'
        default:
          description: QueryErrorResponse
          schema:
            $ref: '#/definitions/QueryErrorResponse'
  /holdings/accounts/{accountId}/cards:
    get:
      operationId: getAccountCards
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: The identifier of the account. Often referred to as the account
          number, yet for consistency this is always referred to as accountId.
        required: true
        type: string
      - name: cardIssueId
        in: query
        description: The identifier of the issued card, consisting of three elements.
          The card type, a full stop and the card number. The card type must be a
          valid cardType. The card number may be any alphanumeric construction, e.g.
          VISA.1234567887654321 GC.1111222233334444 AB21.1111111122222222
        required: false
        type: string
      - name: selIssueDate
        in: query
        required: false
        type: string
      - name: selExpiryDate
        in: query
        required: false
        type: string
      - name: selStatus
        in: query
        required: false
        type: string
      - name: page_size
        in: query
        description: The total number of records per page
        required: false
        type: integer
        format: int32
      - name: page_start
        in: query
        description: The record from which the response should be displayed
        required: false
        type: integer
        format: int32
      - name: page_token
        in: query
        description: Unique id expected to get as part of response from t24 on every
          enquiry request.
        required: false
        type: string
      - name: credentials
        in: query
        required: false
        type: string
      - name: companyId
        in: query
        required: false
        type: string
      responses:
        200:
          description: AccountCardsResponse
          schema:
            $ref: '#/definitions/holdingsAccountCardsResponse'
        default:
          description: QueryErrorResponse
          schema:
            $ref: '#/definitions/QueryErrorResponse'
  /holdings/accounts/balances:
    get:
      operationId: getAccountBalanceToday
      produces:
      - application/json
      parameters:
      - name: accountId
        in: query
        description: The identifier of the account. Often referred to as the account
          number, yet for consistency this is always referred to as accountId.
        required: false
        type: string
      - name: customerId
        in: query
        description: The identifier of the customer
        required: false
        type: string
      - name: productId
        in: query
        description: The identifier of the product
        required: false
        type: string
      - name: currencyId
        in: query
        description: The identifier of the curreny. The is the 3 letter ISO 4217 code
          of the currency.
        required: false
        type: string
      - name: limitReferenceId
        in: query
        description: The identifier of the limit reference
        required: false
        type: string
      - name: page_size
        in: query
        description: The total number of records per page
        required: false
        type: integer
        format: int32
      - name: page_start
        in: query
        description: The record from which the response should be displayed
        required: false
        type: integer
        format: int32
      - name: page_token
        in: query
        description: Unique id expected to get as part of response from t24 on every
          enquiry request.
        required: false
        type: string
      - name: credentials
        in: query
        required: false
        type: string
      - name: companyId
        in: query
        required: false
        type: string
      responses:
        200:
          description: AccountBalanceTodayResponse
          schema:
            $ref: '#/definitions/holdingsAccountBalanceTodayResponse'
        default:
          description: QueryErrorResponse
          schema:
            $ref: '#/definitions/QueryErrorResponse'
  /holdings/accounts/{accountId}:
    get:
      operationId: getAccountDetails
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        required: true
        type: string
      - name: arrangementId
        in: query
        description: The unique identifiier of an arrangement contract. The format
          of the ID is YYDDDXXXXX prefixed with AA. YYDDD is the year and date of
          input in julian date format, XXXXX - is a random generated string.
        required: false
        type: string
      - name: page_size
        in: query
        description: The total number of records per page
        required: false
        type: integer
        format: int32
      - name: page_start
        in: query
        description: The record from which the response should be displayed
        required: false
        type: integer
        format: int32
      - name: page_token
        in: query
        description: Unique id expected to get as part of response from t24 on every
          enquiry request.
        required: false
        type: string
      - name: credentials
        in: query
        required: false
        type: string
      - name: companyId
        in: query
        required: false
        type: string
      responses:
        200:
          description: AccountDetailsResponse
          schema:
            $ref: '#/definitions/holdingsAccountDetailsResponse'
        default:
          description: QueryErrorResponse
          schema:
            $ref: '#/definitions/QueryErrorResponse'
  /holdings/accounts/{accountId}/alertEvents:
    get:
      operationId: getEligibleEvents
      produces:
      - application/json
      parameters:
      - name: accountId
        in: path
        description: The identifier of the account. Often referred to as the account
          number, yet for consistency this is always referred to as accountId.
        required: true
        type: string
      - name: page_size
        in: query
        description: The total number of records per page
        required: false
        type: integer
        format: int32
      - name: page_start
        in: query
        description: The record from which the response should be displayed
        required: false
        type: integer
        format: int32
      - name: page_token
        in: query
        description: Unique id expected to get as part of response from t24 on every
          enquiry request.
        required: false
        type: string
      - name: credentials
        in: query
        required: false
        type: string
      - name: companyId
        in: query
        required: false
        type: string
      responses:
        200:
          description: EligibleEventsResponse
          schema:
            $ref: '#/definitions/holdingsEligibleEventsResponse'
        default:
          description: QueryErrorResponse
          schema:
            $ref: '#/definitions/QueryErrorResponse'
schemes:
- http
- https
definitions: !php/object "O:8:\"stdClass\":18:{s:11:\"QueryHeader\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:5:\"audit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"T24_time\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:29:\"Time
  taken to response by T24\";}s:13:\"versionNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  CURR.NO. of the record\";}s:10:\"parse_time\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:40:\"Time
  taken to parse the response by IRIS\";}}}s:9:\"page_size\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:36:\"The
  total number of records per page\";}s:10:\"page_start\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:54:\"The
  record from which the response should be displayed\";}s:10:\"total_size\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:35:\"The
  total number of records present\";}s:10:\"page_token\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:79:\"Unique
  id expected to get as part of response from t24 on every enquiry request\";}}}s:24:\"holdingsAccountsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"header\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/QueryHeader\";}s:4:\"body\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/holdingsAccountsResponseBody\";}}s:11:\"description\";s:24:\"holdingsAccountsResponse\";}s:28:\"holdingsAccountsResponseBody\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":16:{s:11:\"productName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"The
  name that is displayed for the product\";}s:9:\"accountId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:132:\"The
  identifier of the account. Often referred to as the account number, yet for consistency
  this is always referred to as accountId.\";s:9:\"maxLength\";i:16;}s:11:\"displayName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"The
  name used for display purposes\";s:9:\"maxLength\";i:35;}s:10:\"currencyId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:81:\"The
  identifier of the curreny. The is the 3 letter ISO 4217 code of the currency.\";s:9:\"maxLength\";i:3;}s:12:\"lockedAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:75:\"The
  amount of funds that have been blocked (reserved) for specific purposes\";}s:14:\"workingBalance\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:159:\"For
  Nostro and Internal Accounts, the same as Online Cleared Balance. For all other
  accounts it is the cleared balance plus the total of all unapproved debits.\";}s:19:\"onlineActualBalance\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:149:\"Balance
  of the account that represents total of transactions posted against the account
  excluding any entries with the processing date in the future.\";}s:16:\"availableBalance\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:218:\"Projected
  net movements of funds against the account. Depending on the setup in the field
  AVAILABLE.BAL.UPD in the ACCOUNT.PARAMETER record, may or may not include unauthorised
  debits, credits, both debits and credits.\";}s:8:\"sortCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:96:\"The
  bank identifier code which identifies both the bank and the branch where the account
  is held\";}s:10:\"customerId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"The
  identifier of the customer\";s:9:\"maxLength\";i:10;}s:14:\"availableLimit\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:95:\"The
  amount of an allocated credit limit that is available for the nomniated customer
  to utilise\";s:9:\"maxLength\";i:19;}s:4:\"IBAN\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:9:\"maxLength\";i:19;}s:11:\"portfolioId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"The
  identifier of the portfolio\";s:9:\"maxLength\";i:18;}s:11:\"openingDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:0:\"\";}s:14:\"limitReference\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:54:\"Identifies
  the type of limit applicable to the Account\";s:9:\"maxLength\";i:10;}s:14:\"clearedBalance\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:155:\"Total
  of cleared funds booked against the account. Same as onlineActuaBalance except credit
  or reversed debit entries with the exposure date in the future.\";}}}}s:11:\"ErrorHeader\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"audit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"T24_time\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:29:\"Time
  taken to response by T24\";}s:13:\"versionNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  CURR.NO. of the record\";}s:10:\"parse_time\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:40:\"Time
  taken to parse the response by IRIS\";}}}}}s:18:\"QueryErrorResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"header\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ErrorHeader\";}s:5:\"error\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/QueryErrorResponseBody\";}}s:11:\"description\";s:18:\"QueryErrorResponse\";}s:22:\"QueryErrorResponseBody\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  identifier of the error message\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"The
  actual t24 error message\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"The
  identifier of error type\";}}}s:46:\"holdingsAccountTransactionsResponseQueryHeader\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:5:\"audit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"T24_time\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:29:\"Time
  taken to response by T24\";}s:13:\"versionNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  CURR.NO. of the record\";}s:10:\"parse_time\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:40:\"Time
  taken to parse the response by IRIS\";}}}s:9:\"page_size\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:36:\"The
  total number of records per page\";}s:10:\"page_start\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:54:\"The
  record from which the response should be displayed\";}s:10:\"total_size\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:35:\"The
  total number of records present\";}s:10:\"page_token\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:79:\"Unique
  id expected to get as part of response from t24 on every enquiry request\";}s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"accountId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:132:\"The
  identifier of the account. Often referred to as the account number, yet for consistency
  this is always referred to as accountId.\";}s:10:\"customerId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"The
  identifier of the customer\";}s:15:\"accountCurrency\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"The
  currency of the account\";}s:14:\"openingBalance\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:9:\"maxLength\";i:19;}}}}}s:35:\"holdingsAccountTransactionsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"header\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:60:\"#/definitions/holdingsAccountTransactionsResponseQueryHeader\";}s:4:\"body\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:53:\"#/definitions/holdingsAccountTransactionsResponseBody\";}}s:11:\"description\";s:35:\"holdingsAccountTransactionsResponse\";}s:39:\"holdingsAccountTransactionsResponseBody\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:11:\"bookingDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:271:\"The
  date on which the entry was generated. Normally, but not necessarily, the actual
  date at the time the entry is generated, e.g. if the previous day's business is
  still being processed after midnight, the actual date changes, but the run date
  is still the previous day.\";}s:13:\"transactionId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"The
  unique transaction identifier\";s:9:\"maxLength\";i:150;}s:15:\"transactionName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"The
  name of the transaction\";}s:9:\"valueDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:25:\"The
  applicable value date\";}s:17:\"transactionAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:22:\"The
  transaction amount\";}s:20:\"debitCreditIndicator\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:16:\"transactionTotal\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  total amount of the transaction\";}}}}s:38:\"AccountTransactionsResponseQueryHeader\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:5:\"audit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"T24_time\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:29:\"Time
  taken to response by T24\";}s:13:\"versionNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  CURR.NO. of the record\";}s:10:\"parse_time\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:40:\"Time
  taken to parse the response by IRIS\";}}}s:9:\"page_size\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:36:\"The
  total number of records per page\";}s:10:\"page_start\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:54:\"The
  record from which the response should be displayed\";}s:10:\"total_size\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:35:\"The
  total number of records present\";}s:10:\"page_token\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:79:\"Unique
  id expected to get as part of response from t24 on every enquiry request\";}s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"accountId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:132:\"The
  identifier of the account. Often referred to as the account number, yet for consistency
  this is always referred to as accountId.\";}s:10:\"customerId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"The
  identifier of the customer\";}s:15:\"accountCurrency\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"The
  currency of the account\";}s:14:\"openingBalance\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:9:\"maxLength\";i:19;}}}}}s:28:\"holdingsAccountCardsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"header\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/QueryHeader\";}s:4:\"body\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/holdingsAccountCardsResponseBody\";}}s:11:\"description\";s:28:\"holdingsAccountCardsResponse\";}s:32:\"holdingsAccountCardsResponseBody\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":13:{s:11:\"cardIssueId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:275:\"The
  identifier of the issued card, consisting of three elements. The card type, a full
  stop and the card number. The card type must be a valid cardType. The card number
  may be any alphanumeric construction, e.g. VISA.1234567887654321 GC.1111222233334444
  AB21.1111111122222222\";s:9:\"maxLength\";i:24;}s:10:\"cardNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:312:\"The
  cardType and number of the card. Card issues are defined with an ID consisting of
  three elements. The card type, a full stop and the card number. The card type must
  be a valid cardType. The card number may be any alphanumeric construction, e.g.
  VISA.1234567887654321 GC.1111222233334444 AB21.1111111122222222\";}s:9:\"accountId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:132:\"The
  identifier of the account. Often referred to as the account number, yet for consistency
  this is always referred to as accountId.\";s:9:\"maxLength\";i:16;}s:12:\"customerName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"The
  name that is displayed for the customer\";s:9:\"maxLength\";i:35;}s:8:\"cardType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:49:\"The
  type of the card, e.g. Visa, Mastercard, etc.\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"The
  name used for display purposes\";}s:10:\"currencyId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:81:\"The
  identifier of the curreny. The is the 3 letter ISO 4217 code of the currency.\";s:9:\"maxLength\";i:3;}s:9:\"issueDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"The
  date the item was issued.\";s:9:\"maxLength\";i:11;}s:10:\"expiryDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:73:\"The
  date an agreement such as a credit facility or limit is due to expire\";s:9:\"maxLength\";i:11;}s:16:\"cancellationDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"The
  date of cancellation\";s:9:\"maxLength\";i:11;}s:18:\"cancellationReason\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"The
  reason for the cancellation\";s:9:\"maxLength\";i:2;}s:6:\"status\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:53:\"Get
  a detail status of the specified service/services\";s:9:\"maxLength\";i:3;}s:14:\"fullCardNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:106:\"The
  complete card number including the combination of bank codes, account number and
  other card convention\";}}}}s:35:\"holdingsAccountBalanceTodayResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"header\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/QueryHeader\";}s:4:\"body\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:53:\"#/definitions/holdingsAccountBalanceTodayResponseBody\";}}s:11:\"description\";s:35:\"holdingsAccountBalanceTodayResponse\";}s:39:\"holdingsAccountBalanceTodayResponseBody\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:9:\"accountId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:132:\"The
  identifier of the account. Often referred to as the account number, yet for consistency
  this is always referred to as accountId.\";s:9:\"maxLength\";i:19;}s:11:\"accountName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"The
  name of the account that is displayed\";s:9:\"maxLength\";i:19;}s:16:\"limitReferenceId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"The
  identifier of the limit reference\";s:9:\"maxLength\";i:10;}s:9:\"productId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"The
  identifier of the product\";s:9:\"maxLength\";i:6;}s:10:\"currencyId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:81:\"The
  identifier of the curreny. The is the 3 letter ISO 4217 code of the currency.\";s:9:\"maxLength\";i:3;}s:14:\"workingBalance\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:159:\"For
  Nostro and Internal Accounts, the same as Online Cleared Balance. For all other
  accounts it is the cleared balance plus the total of all unapproved debits.\";s:9:\"maxLength\";i:19;}s:13:\"ledgerBalance\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:113:\"The
  total of all entries posted against the account excluding any entries with the processing
  date in the future.\";s:9:\"maxLength\";i:19;}s:14:\"clearedBalance\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:155:\"Total
  of cleared funds booked against the account. Same as onlineActuaBalance except credit
  or reversed debit entries with the exposure date in the future.\";s:9:\"maxLength\";i:19;}s:12:\"lockedAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:75:\"The
  amount of funds that have been blocked (reserved) for specific purposes\";s:9:\"maxLength\";i:19;}s:14:\"useableBalance\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:205:\"Derived
  from the online cleared balance and represents the total of cleared collected funds
  posted against the account. Excludes unapproved entries, and credit entries with
  the exposure date in the future.\";}}}}s:30:\"holdingsAccountDetailsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"header\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/QueryHeader\";}s:4:\"body\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:48:\"#/definitions/holdingsAccountDetailsResponseBody\";}}s:11:\"description\";s:30:\"holdingsAccountDetailsResponse\";}s:34:\"holdingsAccountDetailsResponseBody\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":15:{s:19:\"sharedLimitAccounts\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:18:\"sharedLimitAccount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:22:\"sharedLimitAccountType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}}}}s:8:\"taxRates\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:26:\"The
  applicable rate of tax\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"taxRate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  applicable rate of tax\";}}}}s:9:\"interests\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:20:\"interestPropertyName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:52:\"The
  name that is displayed for the interest property\";}s:20:\"interestCompoundType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:76:\"The
  indicator used to specify the method of calculation of compound interest\";}s:25:\"interestCompoundTypeValue\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:74:\"The
  calculated interest amount using the associated compound interest type\";}s:20:\"consolidateInterests\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:19:\"consolidateInterest\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}}}}}}}s:22:\"sharedInterestAccounts\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:21:\"sharedInterestAccount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:25:\"sharedInterestAccountType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}}}}s:7:\"charges\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:16:\"paymentFrequency\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:60:\"The
  frequency at which a payment is required to be generated\";}s:15:\"paymentTypeName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"The
  name that is displayed for the paymentType\";}s:12:\"propertyName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:13:\"paymentMethod\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"The
  type of method used for the payment\";}s:26:\"chargeSchedulePaymentValue\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"The
  amount of the scheduled charge\";}}}}s:17:\"openActualBalance\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:79:\"The
  actual balance of the account as at the start of the current business day. \";}s:23:\"availableOverdraftLimit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:40:\"The
  amount of the unused overdraft limit\";}s:11:\"openingDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:0:\"\";}s:22:\"approvedOverdraftLimit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:37:\"The
  ammount of the approved overdraft\";}s:15:\"limitExpiryDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:86:\"This
  field specifies the validity of the Limit, i.e. how long is it to remain in force\";}s:14:\"availableFunds\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:0:\"\";}s:25:\"outstandingOverdraftLimit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:45:\"The
  outstanding amount of the overdraft limit\";}s:20:\"onlineClearedBalance\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:175:\"The
  total of cleared funds booked against the account. Same as onlineActualBalance with
  the exception of credit or reversed debit entries with the exposure date in the
  future.\";}s:18:\"openClearedBalance\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:78:\"The
  cleared balance of the account as at the start of the current business day\";}s:18:\"accountWithBankBIC\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:84:\"BIC
  of Account with Bank being the bank where the beneficiary maintains his account.\";}}}}s:30:\"holdingsEligibleEventsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"header\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/QueryHeader\";}s:4:\"body\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:48:\"#/definitions/holdingsEligibleEventsResponseBody\";}}s:11:\"description\";s:30:\"holdingsEligibleEventsResponse\";}s:34:\"holdingsEligibleEventsResponseBody\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:6:\"fields\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"fieldDisplayName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:7:\"operand\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"Defines
  the operand\";}s:10:\"fieldValue\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}}}}s:7:\"eventId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"The
  identifier of the event\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"The
  name used for display purposes\";}s:16:\"displayCondition\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:14:\"messageGroupId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:17:\"subscriptionLevel\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}}}}}"
...
