---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Get and Management
  of Payments\";s:7:\"version\";s:6:\"v1.0.0\";s:5:\"title\";s:13:\"Payments APIs\";}"
host: api.temenos.com
basePath: /api/v1.0.0/
paths:
  /payments/paymentOrders/External:
    post:
      operationId: createExternalPaymentOrder
      parameters:
      - in: body
        name: payload
        description: body Payload
        required: true
        schema:
          $ref: '#/definitions/createExternalPaymentOrder'
      - name: validate_only
        in: query
        description: The identifier to indicate if it is set to only validate or not.
        required: false
        type: boolean
      - name: credentials
        in: query
        required: false
        type: string
      - name: companyId
        in: query
        required: false
        type: string
      responses:
        200:
          description: SepaInstantPaymentResponse
          schema:
            $ref: '#/definitions/SepaInstantPaymentResponse'
        default:
          description: ScreenErrorResponse
          schema:
            $ref: '#/definitions/ScreenErrorResponse'
  /payments/paymentOrders/{paymentOrderId}/cancelPaymentOrder:
    put:
      operationId: cancelExternalPaymentOrder
      parameters:
      - in: body
        name: payload
        description: body Payload
        required: true
        schema:
          $ref: '#/definitions/cancelExternalPaymentOrder'
      - name: paymentOrderId
        in: path
        required: true
        type: string
      - name: validate_only
        in: query
        description: The identifier to indicate if it is set to only validate or not.
        required: false
        type: boolean
      - name: credentials
        in: query
        required: false
        type: string
      - name: companyId
        in: query
        required: false
        type: string
      responses:
        200:
          description: ExternalPaymentOrderResponse
          schema:
            $ref: '#/definitions/ExternalPaymentOrderResponse'
        default:
          description: ScreenErrorResponse
          schema:
            $ref: '#/definitions/ScreenErrorResponse'
  /payments/IBANStructures/{countryId}:
    get:
      operationId: getIBANStructures
      parameters:
      - name: countryId
        in: path
        required: true
        type: string
      - name: IBANCountryCode
        in: query
        required: false
        type: string
      - name: page_size
        in: query
        description: The total number of records per page
        required: false
        type: integer
        format: int32
      - name: page_start
        in: query
        description: The record from which the response should be displayed
        required: false
        type: integer
        format: int32
      - name: page_token
        in: query
        description: Unique id expected to get as part of response from t24 on every
          enquiry request.
        required: false
        type: string
      - name: credentials
        in: query
        required: false
        type: string
      - name: companyId
        in: query
        required: false
        type: string
      responses:
        200:
          description: IBANStructuresResponse
          schema:
            $ref: '#/definitions/IBANStructuresResponse'
        default:
          description: QueryErrorResponse
          schema:
            $ref: '#/definitions/QueryErrorResponse'
  /payments/IBANs/{inIBANPlusId}:
    get:
      operationId: getIBANs
      parameters:
      - name: inIBANPlusId
        in: path
        required: true
        type: string
      - name: page_size
        in: query
        description: The total number of records per page
        required: false
        type: integer
        format: int32
      - name: page_start
        in: query
        description: The record from which the response should be displayed
        required: false
        type: integer
        format: int32
      - name: page_token
        in: query
        description: Unique id expected to get as part of response from t24 on every
          enquiry request.
        required: false
        type: string
      - name: credentials
        in: query
        required: false
        type: string
      - name: companyId
        in: query
        required: false
        type: string
      responses:
        200:
          description: IBANsResponse
          schema:
            $ref: '#/definitions/IBANsResponse'
        default:
          description: QueryErrorResponse
          schema:
            $ref: '#/definitions/QueryErrorResponse'
  /payments/paymentOrders:
    get:
      operationId: getPaymentOrders
      parameters:
      - name: paymentOrderId
        in: query
        description: The identifier of the payment order
        required: false
        type: string
      - name: currentPaymentState
        in: query
        required: false
        type: string
      - name: paymentStatus
        in: query
        description: ""
        required: false
        type: string
      - name: paymentOrderProductIdNE
        in: query
        required: false
        type: string
      - name: paymentOrderProductId
        in: query
        description: The identifier of the payment order product
        required: false
        type: string
      - name: debitAccountId
        in: query
        description: The identifier of the debit account
        required: false
        type: string
      - name: orderingCustomerId
        in: query
        description: The identifier of the ordering customer
        required: false
        type: string
      - name: page_size
        in: query
        description: The total number of records per page
        required: false
        type: integer
        format: int32
      - name: page_start
        in: query
        description: The record from which the response should be displayed
        required: false
        type: integer
        format: int32
      - name: page_token
        in: query
        description: Unique id expected to get as part of response from t24 on every
          enquiry request.
        required: false
        type: string
      - name: credentials
        in: query
        required: false
        type: string
      - name: companyId
        in: query
        required: false
        type: string
      responses:
        200:
          description: PaymentOrdersResponse
          schema:
            $ref: '#/definitions/PaymentOrdersResponse'
        default:
          description: QueryErrorResponse
          schema:
            $ref: '#/definitions/QueryErrorResponse'
  /payments/paymentOrders/{paymentOrderId}:
    put:
      operationId: updatePaymentOrder
      parameters:
      - in: body
        name: payload
        description: body Payload
        required: true
        schema:
          $ref: '#/definitions/updatePaymentOrder'
      - name: paymentOrderId
        in: path
        required: true
        type: string
      - name: validate_only
        in: query
        description: The identifier to indicate if it is set to only validate or not.
        required: false
        type: boolean
      - name: credentials
        in: query
        required: false
        type: string
      - name: companyId
        in: query
        required: false
        type: string
      responses:
        200:
          description: PaymentOrderResponse
          schema:
            $ref: '#/definitions/PaymentOrderResponse'
        default:
          description: ScreenErrorResponse
          schema:
            $ref: '#/definitions/ScreenErrorResponse'
    delete:
      operationId: deletePaymentOrder
      parameters:
      - name: paymentOrderId
        in: path
        required: true
        type: string
      - name: credentials
        in: query
        required: false
        type: string
      - name: companyId
        in: query
        required: false
        type: string
      responses:
        200:
          description: PaymentOrderResponse
          schema:
            $ref: '#/definitions/PaymentOrderResponse'
        default:
          description: ScreenErrorResponse
          schema:
            $ref: '#/definitions/ScreenErrorResponse'
  /payments/paymentOrders/:
    post:
      operationId: createPaymentOrder
      parameters:
      - in: body
        name: payload
        description: body Payload
        required: true
        schema:
          $ref: '#/definitions/createPaymentOrder'
      - name: validate_only
        in: query
        description: The identifier to indicate if it is set to only validate or not.
        required: false
        type: boolean
      - name: credentials
        in: query
        required: false
        type: string
      - name: companyId
        in: query
        required: false
        type: string
      responses:
        200:
          description: PaymentOrderResponse
          schema:
            $ref: '#/definitions/PaymentOrderResponse'
        default:
          description: ScreenErrorResponse
          schema:
            $ref: '#/definitions/ScreenErrorResponse'
  /payments/paymentOrders/domesticPayments:
    post:
      operationId: createDomesticPayment
      parameters:
      - in: body
        name: payload
        description: body Payload
        required: true
        schema:
          $ref: '#/definitions/createDomesticPayment'
      - name: validate_only
        in: query
        description: The identifier to indicate if it is set to only validate or not.
        required: false
        type: boolean
      - name: credentials
        in: query
        required: false
        type: string
      - name: companyId
        in: query
        required: false
        type: string
      responses:
        200:
          description: PaymentOrderResponse
          schema:
            $ref: '#/definitions/PaymentOrderResponse'
        default:
          description: ScreenErrorResponse
          schema:
            $ref: '#/definitions/ScreenErrorResponse'
  /payments/paymentOrders/internationalPayments:
    post:
      operationId: createInternationalPayment
      parameters:
      - in: body
        name: payload
        description: body Payload
        required: true
        schema:
          $ref: '#/definitions/createInternationalPayment'
      - name: validate_only
        in: query
        description: The identifier to indicate if it is set to only validate or not.
        required: false
        type: boolean
      - name: credentials
        in: query
        required: false
        type: string
      - name: companyId
        in: query
        required: false
        type: string
      responses:
        200:
          description: PaymentOrderResponse
          schema:
            $ref: '#/definitions/PaymentOrderResponse'
        default:
          description: ScreenErrorResponse
          schema:
            $ref: '#/definitions/ScreenErrorResponse'
  /payments/paymentOrders/utilityPayments:
    post:
      operationId: createUtilityPayment
      parameters:
      - in: body
        name: payload
        description: body Payload
        required: true
        schema:
          $ref: '#/definitions/createUtilityPayment'
      - name: validate_only
        in: query
        description: The identifier to indicate if it is set to only validate or not.
        required: false
        type: boolean
      - name: credentials
        in: query
        required: false
        type: string
      - name: companyId
        in: query
        required: false
        type: string
      responses:
        200:
          description: PaymentOrderResponse
          schema:
            $ref: '#/definitions/PaymentOrderResponse'
        default:
          description: ScreenErrorResponse
          schema:
            $ref: '#/definitions/ScreenErrorResponse'
  /payments/depositPayments:
    post:
      operationId: createDepositPayment
      parameters:
      - in: body
        name: payload
        description: body Payload
        required: true
        schema:
          $ref: '#/definitions/createDepositPayment'
      - name: validate_only
        in: query
        description: The identifier to indicate if it is set to only validate or not.
        required: false
        type: boolean
      - name: credentials
        in: query
        required: false
        type: string
      - name: companyId
        in: query
        required: false
        type: string
      responses:
        200:
          description: FundsTransferResponse
          schema:
            $ref: '#/definitions/FundsTransferResponse'
        default:
          description: ScreenErrorResponse
          schema:
            $ref: '#/definitions/ScreenErrorResponse'
  /payments/depositWithdrawals:
    post:
      operationId: createDepositWithdrawal
      parameters:
      - in: body
        name: payload
        description: body Payload
        required: true
        schema:
          $ref: '#/definitions/createDepositWithdrawal'
      - name: validate_only
        in: query
        description: The identifier to indicate if it is set to only validate or not.
        required: false
        type: boolean
      - name: credentials
        in: query
        required: false
        type: string
      - name: companyId
        in: query
        required: false
        type: string
      responses:
        200:
          description: FundsTransferResponse
          schema:
            $ref: '#/definitions/FundsTransferResponse'
        default:
          description: ScreenErrorResponse
          schema:
            $ref: '#/definitions/ScreenErrorResponse'
  /payments/loanPayments:
    post:
      operationId: createLoanPayment
      parameters:
      - in: body
        name: payload
        description: body Payload
        required: true
        schema:
          $ref: '#/definitions/createLoanPayment'
      - name: validate_only
        in: query
        description: The identifier to indicate if it is set to only validate or not.
        required: false
        type: boolean
      - name: credentials
        in: query
        required: false
        type: string
      - name: companyId
        in: query
        required: false
        type: string
      responses:
        200:
          description: FundsTransferResponse
          schema:
            $ref: '#/definitions/FundsTransferResponse'
        default:
          description: ScreenErrorResponse
          schema:
            $ref: '#/definitions/ScreenErrorResponse'
  /payments/loanPartialPayments:
    post:
      operationId: createLoanPartialPayment
      parameters:
      - in: body
        name: payload
        description: body Payload
        required: true
        schema:
          $ref: '#/definitions/createLoanPartialPayment'
      - name: validate_only
        in: query
        description: The identifier to indicate if it is set to only validate or not.
        required: false
        type: boolean
      - name: credentials
        in: query
        required: false
        type: string
      - name: companyId
        in: query
        required: false
        type: string
      responses:
        200:
          description: FundsTransferResponse
          schema:
            $ref: '#/definitions/FundsTransferResponse'
        default:
          description: ScreenErrorResponse
          schema:
            $ref: '#/definitions/ScreenErrorResponse'
  /payments/standingOrders:
    get:
      operationId: getStandingOrders
      parameters:
      - name: debitCustomerId
        in: query
        description: The identifier of the customer that is debited
        required: false
        type: string
      - name: standingOrderId
        in: query
        description: The unique standing order identifier
        required: false
        type: string
      - name: accountId
        in: query
        description: The identifier of the account. Often referred to as the account
          number, yet for consistency this is always referred to as accountId.
        required: false
        type: string
      - name: orderingCustomerId
        in: query
        description: The identifier of the ordering customer
        required: false
        type: string
      - name: page_size
        in: query
        description: The total number of records per page
        required: false
        type: integer
        format: int32
      - name: page_start
        in: query
        description: The record from which the response should be displayed
        required: false
        type: integer
        format: int32
      - name: page_token
        in: query
        description: Unique id expected to get as part of response from t24 on every
          enquiry request.
        required: false
        type: string
      - name: credentials
        in: query
        required: false
        type: string
      - name: companyId
        in: query
        required: false
        type: string
      responses:
        200:
          description: StandingOrdersResponse
          schema:
            $ref: '#/definitions/StandingOrdersResponse'
        default:
          description: QueryErrorResponse
          schema:
            $ref: '#/definitions/QueryErrorResponse'
  /payments/standingOrders/{standingOrderId}:
    post:
      operationId: createStandingOrder
      parameters:
      - in: body
        name: payload
        description: body Payload
        required: true
        schema:
          $ref: '#/definitions/createStandingOrder'
      - name: standingOrderId
        in: path
        required: true
        type: string
      - name: validate_only
        in: query
        description: The identifier to indicate if it is set to only validate or not.
        required: false
        type: boolean
      - name: credentials
        in: query
        required: false
        type: string
      - name: companyId
        in: query
        required: false
        type: string
      responses:
        200:
          description: StandingOrderResponse
          schema:
            $ref: '#/definitions/StandingOrderResponse'
        default:
          description: ScreenErrorResponse
          schema:
            $ref: '#/definitions/ScreenErrorResponse'
    put:
      operationId: updateStandingOrder
      parameters:
      - in: body
        name: payload
        description: body Payload
        required: true
        schema:
          $ref: '#/definitions/updateStandingOrder'
      - name: standingOrderId
        in: path
        required: true
        type: string
      - name: validate_only
        in: query
        description: The identifier to indicate if it is set to only validate or not.
        required: false
        type: boolean
      - name: credentials
        in: query
        required: false
        type: string
      - name: companyId
        in: query
        required: false
        type: string
      responses:
        200:
          description: StandingOrderResponse
          schema:
            $ref: '#/definitions/StandingOrderResponse'
        default:
          description: ScreenErrorResponse
          schema:
            $ref: '#/definitions/ScreenErrorResponse'
    delete:
      operationId: deleteStandingOrder
      parameters:
      - name: standingOrderId
        in: path
        required: true
        type: string
      - name: credentials
        in: query
        required: false
        type: string
      - name: companyId
        in: query
        required: false
        type: string
      responses:
        200:
          description: StandingOrderResponse
          schema:
            $ref: '#/definitions/StandingOrderResponse'
        default:
          description: ScreenErrorResponse
          schema:
            $ref: '#/definitions/ScreenErrorResponse'
  /payments/standingOrders/domesticStandingOrders/{standingOrderId}:
    post:
      operationId: createDomesticStandingOrder
      parameters:
      - in: body
        name: payload
        description: body Payload
        required: true
        schema:
          $ref: '#/definitions/createDomesticStandingOrder'
      - name: standingOrderId
        in: path
        required: true
        type: string
      - name: validate_only
        in: query
        description: The identifier to indicate if it is set to only validate or not.
        required: false
        type: boolean
      - name: credentials
        in: query
        required: false
        type: string
      - name: companyId
        in: query
        required: false
        type: string
      responses:
        200:
          description: StandingOrderResponse
          schema:
            $ref: '#/definitions/StandingOrderResponse'
        default:
          description: ScreenErrorResponse
          schema:
            $ref: '#/definitions/ScreenErrorResponse'
  /payments/standingOrders/internationalStandingOrders/{standingOrderId}:
    post:
      operationId: createInternationalStandingOrder
      parameters:
      - in: body
        name: payload
        description: body Payload
        required: true
        schema:
          $ref: '#/definitions/createInternationalStandingOrder'
      - name: standingOrderId
        in: path
        required: true
        type: string
      - name: validate_only
        in: query
        description: The identifier to indicate if it is set to only validate or not.
        required: false
        type: boolean
      - name: credentials
        in: query
        required: false
        type: string
      - name: companyId
        in: query
        required: false
        type: string
      responses:
        200:
          description: StandingOrderResponse
          schema:
            $ref: '#/definitions/StandingOrderResponse'
        default:
          description: ScreenErrorResponse
          schema:
            $ref: '#/definitions/ScreenErrorResponse'
  /payments/standingOrders/utilityStandingOrders/{standingOrderId}:
    post:
      operationId: createUtilityStandingOrder
      parameters:
      - in: body
        name: payload
        description: body Payload
        required: true
        schema:
          $ref: '#/definitions/createUtilityStandingOrder'
      - name: standingOrderId
        in: path
        required: true
        type: string
      - name: validate_only
        in: query
        description: The identifier to indicate if it is set to only validate or not.
        required: false
        type: boolean
      - name: credentials
        in: query
        required: false
        type: string
      - name: companyId
        in: query
        required: false
        type: string
      responses:
        200:
          description: StandingOrderResponse
          schema:
            $ref: '#/definitions/StandingOrderResponse'
        default:
          description: ScreenErrorResponse
          schema:
            $ref: '#/definitions/ScreenErrorResponse'
  /payments/products:
    get:
      operationId: getPaymentOrderProducts
      parameters:
      - name: paymentProductGroupId
        in: query
        required: false
        type: string
      - name: paymentOrderProductId
        in: query
        description: The identifier of the payment order product
        required: false
        type: string
      - name: page_size
        in: query
        description: The total number of records per page
        required: false
        type: integer
        format: int32
      - name: page_start
        in: query
        description: The record from which the response should be displayed
        required: false
        type: integer
        format: int32
      - name: page_token
        in: query
        description: Unique id expected to get as part of response from t24 on every
          enquiry request.
        required: false
        type: string
      - name: credentials
        in: query
        required: false
        type: string
      - name: companyId
        in: query
        required: false
        type: string
      responses:
        200:
          description: PaymentOrderProductsResponse
          schema:
            $ref: '#/definitions/PaymentOrderProductsResponse'
        default:
          description: QueryErrorResponse
          schema:
            $ref: '#/definitions/QueryErrorResponse'
  /payments/purposes:
    get:
      operationId: getPaymentpurposeCodes
      parameters:
      - name: paymentOrderPurposeCodeId
        in: query
        description: The identifier of the payment order purpose code
        required: false
        type: string
      - name: page_size
        in: query
        description: The total number of records per page
        required: false
        type: integer
        format: int32
      - name: page_start
        in: query
        description: The record from which the response should be displayed
        required: false
        type: integer
        format: int32
      - name: page_token
        in: query
        description: Unique id expected to get as part of response from t24 on every
          enquiry request.
        required: false
        type: string
      - name: credentials
        in: query
        required: false
        type: string
      - name: companyId
        in: query
        required: false
        type: string
      responses:
        200:
          description: PaymentOrderPurposesResponse
          schema:
            $ref: '#/definitions/PaymentOrderPurposesResponse'
        default:
          description: QueryErrorResponse
          schema:
            $ref: '#/definitions/QueryErrorResponse'
  /payments/countryRules:
    get:
      operationId: getPaymentOrderCountryRules
      parameters:
      - name: countryId
        in: query
        description: The identifier of the country, normally the SWIFT code of the
          country.
        required: false
        type: string
      - name: page_size
        in: query
        description: The total number of records per page
        required: false
        type: integer
        format: int32
      - name: page_start
        in: query
        description: The record from which the response should be displayed
        required: false
        type: integer
        format: int32
      - name: page_token
        in: query
        description: Unique id expected to get as part of response from t24 on every
          enquiry request.
        required: false
        type: string
      - name: credentials
        in: query
        required: false
        type: string
      - name: companyId
        in: query
        required: false
        type: string
      responses:
        200:
          description: PaymentOrderCountryRulesResponse
          schema:
            $ref: '#/definitions/PaymentOrderCountryRulesResponse'
        default:
          description: QueryErrorResponse
          schema:
            $ref: '#/definitions/QueryErrorResponse'
  /payments/BICs:
    get:
      operationId: getBICs
      parameters:
      - name: BIC
        in: query
        description: ""
        required: false
        type: string
      - name: nationalityId
        in: query
        description: The identifier of the nationality of a legal entity
        required: false
        type: string
      - name: page_size
        in: query
        description: The total number of records per page
        required: false
        type: integer
        format: int32
      - name: page_start
        in: query
        description: The record from which the response should be displayed
        required: false
        type: integer
        format: int32
      - name: page_token
        in: query
        description: Unique id expected to get as part of response from t24 on every
          enquiry request.
        required: false
        type: string
      - name: credentials
        in: query
        required: false
        type: string
      - name: companyId
        in: query
        required: false
        type: string
      responses:
        200:
          description: BICsResponse
          schema:
            $ref: '#/definitions/BICsResponse'
        default:
          description: QueryErrorResponse
          schema:
            $ref: '#/definitions/QueryErrorResponse'
schemes:
- http
- https
definitions: !php/object "O:8:\"stdClass\":67:{s:26:\"createExternalPaymentOrder\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"header\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/PayloadHeader\";}s:4:\"body\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/createExternalPaymentOrderBody\";}}s:11:\"description\";s:18:\"SepaInstantPayment\";}s:30:\"createExternalPaymentOrderBody\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:10:\"narratives\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:108:\"The
  additional text printed on descriptive statements in addition to the standard narrative
  and/or reference\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"narrative\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:108:\"The
  additional text printed on descriptive statements in addition to the standard narrative
  and/or reference\";}}}}s:8:\"contexts\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"contextName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"The
  name that is displayed for the context\";}s:12:\"contextValue\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}}}}s:7:\"charges\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"chargeAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:61:\"Holds
  the charge amount equivalent in charge account currency\";}s:16:\"chargeCurrencyId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  identifier of the currency of the charge\";}}}}s:21:\"paymentOrderProductId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"The
  identifier of the payment order product\";}s:16:\"debitAccountIBAN\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"IBAN
  of the debit account\";}s:17:\"paymentCurrencyId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"The
  identifier of the payment currency\";}s:6:\"amount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:0:\"\";}s:15:\"beneficiaryIBAN\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"The
  IBAN of the beneficiary's account\";}s:7:\"consent\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:15:\"beneficiaryName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"The
  name displayed of the beneficiary\";}s:17:\"endToEndReference\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"This
  field is used for SEPA\";}s:13:\"paymentScheme\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}}}s:13:\"PayloadHeader\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"override\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"overrideDetails\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"The
  identifier of the override\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"The
  actual override message\";}s:12:\"responseCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"The
  user input to accept/reject the override.\";}}}}}}s:5:\"audit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"versionNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  CURR.NO. of the record\";}}}}}s:26:\"SepaInstantPaymentResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"header\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ScreenHeader\";}s:4:\"body\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/SepaInstantPaymentResponseBody\";}}s:11:\"description\";s:26:\"SepaInstantPaymentResponse\";}s:30:\"SepaInstantPaymentResponseBody\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:10:\"narratives\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:108:\"The
  additional text printed on descriptive statements in addition to the standard narrative
  and/or reference\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"narrative\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:108:\"The
  additional text printed on descriptive statements in addition to the standard narrative
  and/or reference\";}}}}s:8:\"contexts\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"contextName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"The
  name that is displayed for the context\";}s:12:\"contextValue\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}}}}s:7:\"charges\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"chargeAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:61:\"Holds
  the charge amount equivalent in charge account currency\";}s:16:\"chargeCurrencyId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  identifier of the currency of the charge\";}}}}s:21:\"paymentOrderProductId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"The
  identifier of the payment order product\";}s:16:\"debitAccountIBAN\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"IBAN
  of the debit account\";}s:17:\"paymentCurrencyId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"The
  identifier of the payment currency\";}s:6:\"amount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:0:\"\";}s:15:\"beneficiaryIBAN\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"The
  IBAN of the beneficiary's account\";}s:7:\"consent\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:15:\"beneficiaryName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"The
  name displayed of the beneficiary\";}s:17:\"endToEndReference\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"This
  field is used for SEPA\";}s:13:\"paymentScheme\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}}}s:19:\"ScreenErrorResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"header\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ErrorHeader\";}s:5:\"error\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/ScreenErrorResponseBody\";}s:8:\"override\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/overrideBody\";}}s:11:\"description\";s:19:\"ScreenErrorResponse\";}s:23:\"ScreenErrorResponseBody\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"errorDetails\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"fieldName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"The
  name of the field\";}s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  identifier of the error message\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"The
  actual t24 error message\";}}}}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"The
  identifier of error type\";}}}s:11:\"QueryHeader\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:5:\"audit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"T24_time\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:29:\"Time
  taken to response by T24\";}s:13:\"versionNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  CURR.NO. of the record\";}s:10:\"parse_time\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:40:\"Time
  taken to parse the response by IRIS\";}}}s:9:\"page_size\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:36:\"The
  total number of records per page\";}s:10:\"page_start\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:54:\"The
  record from which the response should be displayed\";}s:10:\"total_size\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:35:\"The
  total number of records present\";}s:10:\"page_token\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:79:\"Unique
  id expected to get as part of response from t24 on every enquiry request\";}}}s:11:\"ErrorHeader\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"audit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"T24_time\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:29:\"Time
  taken to response by T24\";}s:13:\"versionNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  CURR.NO. of the record\";}s:10:\"parse_time\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:40:\"Time
  taken to parse the response by IRIS\";}}}}}s:12:\"ScreenHeader\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"The
  Identifier of the record created\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"The
  status of the record\";}s:17:\"transactionStatus\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"The
  status of the transaction\";}s:5:\"audit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"T24_time\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:29:\"Time
  taken to response by T24\";}s:13:\"versionNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  CURR.NO. of the record\";}s:10:\"parse_time\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:40:\"Time
  taken to parse the response by IRIS\";}}}}}s:12:\"overrideBody\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"overrideDetails\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"The
  identifier of the override\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"The
  actual override message\";}}}}}}s:26:\"cancelExternalPaymentOrder\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"header\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/PayloadHeader\";}s:4:\"body\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/cancelExternalPaymentOrderBody\";}}s:11:\"description\";s:20:\"ExternalPaymentOrder\";}s:30:\"cancelExternalPaymentOrderBody\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:14:\"internalStatus\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:86:\"This
  field shows the status of the payment order like: Cancel, Error, Reject & Return
  \";}s:18:\"cancellationReason\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"The
  reason for the cancellation\";}s:7:\"remarks\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:7:\"Remarks\";}s:9:\"initiator\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}}}s:28:\"ExternalPaymentOrderResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"header\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ScreenHeader\";}s:4:\"body\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/ExternalPaymentOrderResponseBody\";}}s:11:\"description\";s:28:\"ExternalPaymentOrderResponse\";}s:32:\"ExternalPaymentOrderResponseBody\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:14:\"internalStatus\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:86:\"This
  field shows the status of the payment order like: Cancel, Error, Reject & Return
  \";}s:18:\"cancellationReason\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"The
  reason for the cancellation\";}s:7:\"remarks\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:7:\"Remarks\";}s:9:\"initiator\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}}}s:22:\"IBANStructuresResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"header\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/QueryHeader\";}s:4:\"body\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/IBANStructuresResponseBody\";}}s:11:\"description\";s:22:\"IBANStructuresResponse\";}s:26:\"IBANStructuresResponseBody\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"IBANCountryId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:9:\"maxLength\";i:35;}s:15:\"IBANCountryCode\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:9:\"maxLength\";i:35;}}}}s:18:\"QueryErrorResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"header\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ErrorHeader\";}s:5:\"error\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/QueryErrorResponseBody\";}}s:11:\"description\";s:18:\"QueryErrorResponse\";}s:22:\"QueryErrorResponseBody\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  identifier of the error message\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"The
  actual t24 error message\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"The
  identifier of error type\";}}}s:13:\"IBANsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"header\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/QueryHeader\";}s:4:\"body\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/IBANsResponseBody\";}}s:11:\"description\";s:13:\"IBANsResponse\";}s:17:\"IBANsResponseBody\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"institutionNames\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"institutionName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:9:\"maxLength\";i:35;}}}}s:10:\"IBANPlusId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:9:\"maxLength\";i:35;}s:11:\"countryName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:77:\"The
  name that is displayed for the country, normalized to its ISO equivalent.\";s:9:\"maxLength\";i:70;}}}}s:21:\"PaymentOrdersResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"header\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/QueryHeader\";}s:4:\"body\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/PaymentOrdersResponseBody\";}}s:11:\"description\";s:21:\"PaymentOrdersResponse\";}s:25:\"PaymentOrdersResponseBody\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":41:{s:6:\"debits\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:14:\"debitAccountId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  identifier of the debit account\";s:9:\"maxLength\";i:34;}s:16:\"debitAccountIBAN\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"IBAN
  of the debit account\";s:9:\"maxLength\";i:35;}s:13:\"debitCurrency\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Currency
  of the debit account\";s:9:\"maxLength\";i:3;}s:14:\"debitValueDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:70:\"The
  date on which the Invocation amount will be debited for settlement\";}s:16:\"totalDebitAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:22:\"The
  total debit amount\";}}}}s:7:\"credits\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:15:\"creditAccountId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"The
  identifier of the credit account\";s:9:\"maxLength\";i:19;}s:17:\"creditAccountIBAN\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"IBAN
  of the credit account\";s:9:\"maxLength\";i:35;}s:23:\"requiredCreditValueDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:94:\"The
  credit value date i.e. tentative date on which the payment system will process the
  payment\";}s:15:\"creditValueDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:54:\"The
  value date applied to the credit side of a payment\";}}}}s:10:\"narratives\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:108:\"The
  additional text printed on descriptive statements in addition to the standard narrative
  and/or reference\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"narrative\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:108:\"The
  additional text printed on descriptive statements in addition to the standard narrative
  and/or reference\";s:9:\"maxLength\";i:65;}}}}s:22:\"additionalInformations\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:46:\"Additional
  Information provided to add context\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:21:\"additionalInformation\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"Additional
  Information provided to add context\";s:9:\"maxLength\";i:65;}}}}s:22:\"remittanceInformations\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:32:\"The
  Information about remittance\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:21:\"remittanceInformation\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"The
  Information about remittance\";s:9:\"maxLength\";i:35;}}}}s:13:\"beneficiaries\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:13:\"beneficiaryId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"The
  identifier of the beneficiary\";s:9:\"maxLength\";i:17;}s:20:\"beneficiaryAccountId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"The
  identifier of the beneficiary account\";s:9:\"maxLength\";i:34;}s:14:\"beneficiaryBIC\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:55:\"BIC
  (Bank Identifier Code) of the beneficiary customer \";s:9:\"maxLength\";i:35;}s:15:\"beneficiaryName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"The
  name displayed of the beneficiary\";s:9:\"maxLength\";i:70;}s:22:\"beneficiaryCountryCode\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:9:\"maxLength\";i:2;}s:15:\"beneficiaryIBAN\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"The
  IBAN of the beneficiary's account\";s:9:\"maxLength\";i:35;}s:19:\"accountWithBankIBAN\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:85:\"IBAN
  of Account with Bank being the bank where the beneficiary maintains his account.\";s:9:\"maxLength\";i:35;}}}}s:17:\"invoiceReferences\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:41:\"It
  provides the reference of the invoice \";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"invoiceReference\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"It
  provides the reference of the invoice \";s:9:\"maxLength\";i:35;}}}}s:7:\"charges\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:15:\"chargeAccountId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"The
  identifier of the charge account\";s:9:\"maxLength\";i:34;}s:23:\"chargeAccountCurrencyId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:52:\"The
  identifier of the currency fo the charge account\";s:9:\"maxLength\";i:3;}s:10:\"chargeType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"The
  type of charge\";s:9:\"maxLength\";i:20;}s:10:\"chargeName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"The
  name that is displayed for the charge\";s:9:\"maxLength\";i:50;}s:16:\"chargeCurrencyId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  identifier of the currency of the charge\";s:9:\"maxLength\";i:3;}s:12:\"chargeAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:61:\"Holds
  the charge amount equivalent in charge account currency\";s:9:\"maxLength\";i:19;}s:27:\"chargeAccountCurrencyAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:0:\"\";}}}}s:14:\"paymentOrderId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  identifier of the payment order\";s:9:\"maxLength\";i:35;}s:21:\"paymentOrderProductId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"The
  identifier of the payment order product\";s:9:\"maxLength\";i:35;}s:18:\"orderingCustomerId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"The
  identifier of the ordering customer\";s:9:\"maxLength\";i:35;}s:20:\"orderingCustomerName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:52:\"The
  name that is displayed for the ordering customer\";s:9:\"maxLength\";i:140;}s:17:\"paymentCurrencyId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"The
  identifier of the payment currency\";s:9:\"maxLength\";i:3;}s:6:\"amount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:0:\"\";}s:13:\"executionDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:34:\"Processing
  date of the transaction\";}s:12:\"treasuryRate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:87:\"The
  Treasury rate for the conversion between payment currency and the ordering currency\";s:9:\"maxLength\";i:11;}s:11:\"forexSpread\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:9:\"maxLength\";i:12;}s:17:\"forexCustomerRate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:9:\"maxLength\";i:11;}s:17:\"orderingPortfolio\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"The
  debit portfolio identifier\";s:9:\"maxLength\";i:18;}s:15:\"creditPortfolio\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"Portfolio
  id to be credit\";s:9:\"maxLength\";i:18;}s:17:\"orderingReference\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"The
  reference related to the ordering details\";s:9:\"maxLength\";i:18;}s:12:\"chargeBearer\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"Bearer
  of the charges of the order\";s:9:\"maxLength\";i:35;}s:18:\"accountWithBankBIC\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:84:\"BIC
  of Account with Bank being the bank where the beneficiary maintains his account.\";s:9:\"maxLength\";i:27;}s:27:\"beneficiaryBankClearingCode\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:50:\"Clearing
  code or sort code of the beneficiary bank\";s:9:\"maxLength\";i:35;}s:27:\"accountWithBankClearingCode\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:111:\"Clearing
  code or sort code of the account with bank being the bank where the beneficiary
  maintains his account.\";s:9:\"maxLength\";i:35;}s:15:\"clearingChannel\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"Clearing
  channel for the payment order\";s:9:\"maxLength\";i:35;}s:27:\"structuredCreditorReference\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:9:\"maxLength\";i:65;}s:9:\"signatory\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  authorised signatories\";s:9:\"maxLength\";i:35;}s:7:\"purpose\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:9:\"maxLength\";i:65;}s:27:\"structuredCommunicationCode\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:9:\"maxLength\";i:35;}s:16:\"structuredIssuer\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:9:\"maxLength\";i:65;}s:17:\"endToEndReference\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"This
  field is used for SEPA\";s:9:\"maxLength\";i:35;}s:22:\"instructionIdReference\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:67:\"The
  reference used in SEPA payments to indicate the type of payment\";s:9:\"maxLength\";i:35;}s:18:\"termsAndConditions\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"The
  description of the terms and conditions\";s:9:\"maxLength\";i:120;}s:13:\"paymentStatus\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:9:\"maxLength\";i:35;}s:13:\"currentStatus\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"Current
  state of the payment order\";s:9:\"maxLength\";i:65;}s:14:\"internalStatus\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:86:\"This
  field shows the status of the payment order like: Cancel, Error, Reject & Return
  \";s:9:\"maxLength\";i:10;}s:8:\"systemId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:68:\"The
  system application identifier from which the entry was generated\";s:9:\"maxLength\";i:35;}s:14:\"indicativeRate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:9:\"maxLength\";i:11;}s:12:\"PSDCompliant\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:77:\"Defines
  whether the transaction is PSD (Payment Services Directive) compliant\";s:9:\"maxLength\";i:35;}s:13:\"versionNumber\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:9:\"maxLength\";i:4;}}}}s:18:\"updatePaymentOrder\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"header\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/PayloadHeader\";}s:4:\"body\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/updatePaymentOrderBody\";}}s:11:\"description\";s:12:\"PaymentOrder\";}s:22:\"updatePaymentOrderBody\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":53:{s:10:\"narratives\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:108:\"The
  additional text printed on descriptive statements in addition to the standard narrative
  and/or reference\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"narrative\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:108:\"The
  additional text printed on descriptive statements in addition to the standard narrative
  and/or reference\";}}}}s:22:\"additionalInformations\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:46:\"Additional
  Information provided to add context\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:21:\"additionalInformation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"Additional
  Information provided to add context\";}}}}s:22:\"remittanceInformations\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:32:\"The
  Information about remittance\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:21:\"remittanceInformation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"The
  Information about remittance\";}}}}s:11:\"signatories\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:26:\"The
  authorised signatories\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"signatory\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  authorised signatories\";}}}}s:17:\"invoiceReferences\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:41:\"It
  provides the reference of the invoice \";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"invoiceReference\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"It
  provides the reference of the invoice \";}}}}s:7:\"charges\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"chargeType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"The
  type of charge\";}s:10:\"chargeName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"The
  name that is displayed for the charge\";}s:14:\"chargeCurrency\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:76:\"Holds
  the currency code of the charge account from where the fee is deducted\";}s:12:\"chargeAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:61:\"Holds
  the charge amount equivalent in charge account currency\";}s:27:\"chargeAccountCurrencyAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:0:\"\";}}}}s:9:\"overrides\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:74:\"Records
  the override messages generated during processing of an activity. \";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"override\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:74:\"Records
  the override messages generated during processing of an activity. \";}}}}s:21:\"paymentOrderProductId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"The
  identifier of the payment order product\";}s:14:\"debitAccountId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  identifier of the debit account\";}s:16:\"debitAccountIBAN\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"IBAN
  of the debit account\";}s:13:\"debitCurrency\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Currency
  of the debit account\";}s:14:\"debitValueDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:70:\"The
  date on which the Invocation amount will be debited for settlement\";}s:15:\"creditAccountId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"The
  identifier of the credit account\";}s:17:\"creditAccountIBAN\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"IBAN
  of the credit account\";}s:18:\"orderingCustomerId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"The
  identifier of the ordering customer\";}s:20:\"orderingCustomerName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:52:\"The
  name that is displayed for the ordering customer\";}s:17:\"paymentCurrencyId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"The
  identifier of the payment currency\";}s:6:\"amount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:0:\"\";}s:13:\"executionDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:34:\"Processing
  date of the transaction\";}s:12:\"treasuryRate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:87:\"The
  Treasury rate for the conversion between payment currency and the ordering currency\";}s:11:\"forexSpread\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:17:\"forexCustomerRate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:17:\"orderingPortfolio\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"The
  debit portfolio identifier\";}s:15:\"creditPortfolio\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"Portfolio
  id to be credit\";}s:17:\"orderingReference\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"The
  reference related to the ordering details\";}s:12:\"chargeBearer\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"Bearer
  of the charges of the order\";}s:13:\"beneficiaryId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"The
  identifier of the beneficiary\";}s:20:\"beneficiaryAccountId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"The
  identifier of the beneficiary account\";}s:14:\"beneficiaryBIC\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:55:\"BIC
  (Bank Identifier Code) of the beneficiary customer \";}s:15:\"beneficiaryName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"The
  name displayed of the beneficiary\";}s:18:\"accountWithBankBIC\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:84:\"BIC
  of Account with Bank being the bank where the beneficiary maintains his account.\";}s:27:\"beneficiaryBankClearingCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:50:\"Clearing
  code or sort code of the beneficiary bank\";}s:27:\"accountWithBankClearingCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:111:\"Clearing
  code or sort code of the account with bank being the bank where the beneficiary
  maintains his account.\";}s:15:\"clearingChannel\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"Clearing
  channel for the payment order\";}s:27:\"structuredCreditorReference\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:22:\"beneficiaryCountryCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:15:\"beneficiaryIBAN\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"The
  IBAN of the beneficiary's account\";}s:19:\"accountWithBankIBAN\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:85:\"IBAN
  of Account with Bank being the bank where the beneficiary maintains his account.\";}s:23:\"requiredCreditValueDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:94:\"The
  credit value date i.e. tentative date on which the payment system will process the
  payment\";}s:7:\"purpose\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:27:\"structuredCommunicationCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:16:\"structuredIssuer\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:17:\"endToEndReference\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"This
  field is used for SEPA\";}s:22:\"instructionIdReference\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:67:\"The
  reference used in SEPA payments to indicate the type of payment\";}s:18:\"termsAndConditions\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"The
  description of the terms and conditions\";}s:14:\"indicativeRate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:15:\"chargeAccountId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"The
  identifier of the charge account\";}s:23:\"chargeAccountCurrencyId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:52:\"The
  identifier of the currency fo the charge account\";}s:15:\"creditValueDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:54:\"The
  value date applied to the credit side of a payment\";}s:12:\"PSDCompliant\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:77:\"Defines
  whether the transaction is PSD (Payment Services Directive) compliant\";}s:16:\"totalDebitAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:22:\"The
  total debit amount\";}s:19:\"localInstrumentCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"holds
  the local mode of clearing\";}s:12:\"recordStatus\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"The
  status of the record processed\";}}}s:20:\"PaymentOrderResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"header\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ScreenHeader\";}s:4:\"body\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/PaymentOrderResponseBody\";}}s:11:\"description\";s:20:\"PaymentOrderResponse\";}s:24:\"PaymentOrderResponseBody\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":53:{s:10:\"narratives\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:108:\"The
  additional text printed on descriptive statements in addition to the standard narrative
  and/or reference\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"narrative\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:108:\"The
  additional text printed on descriptive statements in addition to the standard narrative
  and/or reference\";}}}}s:22:\"additionalInformations\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:46:\"Additional
  Information provided to add context\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:21:\"additionalInformation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"Additional
  Information provided to add context\";}}}}s:22:\"remittanceInformations\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:32:\"The
  Information about remittance\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:21:\"remittanceInformation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"The
  Information about remittance\";}}}}s:11:\"signatories\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:26:\"The
  authorised signatories\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"signatory\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  authorised signatories\";}}}}s:17:\"invoiceReferences\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:41:\"It
  provides the reference of the invoice \";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"invoiceReference\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"It
  provides the reference of the invoice \";}}}}s:7:\"charges\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"chargeType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"The
  type of charge\";}s:10:\"chargeName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"The
  name that is displayed for the charge\";}s:14:\"chargeCurrency\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:76:\"Holds
  the currency code of the charge account from where the fee is deducted\";}s:12:\"chargeAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:61:\"Holds
  the charge amount equivalent in charge account currency\";}s:27:\"chargeAccountCurrencyAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:0:\"\";}}}}s:9:\"overrides\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:74:\"Records
  the override messages generated during processing of an activity. \";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"override\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:74:\"Records
  the override messages generated during processing of an activity. \";}}}}s:21:\"paymentOrderProductId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"The
  identifier of the payment order product\";}s:14:\"debitAccountId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  identifier of the debit account\";}s:16:\"debitAccountIBAN\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"IBAN
  of the debit account\";}s:13:\"debitCurrency\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Currency
  of the debit account\";}s:14:\"debitValueDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:70:\"The
  date on which the Invocation amount will be debited for settlement\";}s:15:\"creditAccountId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"The
  identifier of the credit account\";}s:17:\"creditAccountIBAN\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"IBAN
  of the credit account\";}s:18:\"orderingCustomerId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"The
  identifier of the ordering customer\";}s:20:\"orderingCustomerName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:52:\"The
  name that is displayed for the ordering customer\";}s:17:\"paymentCurrencyId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"The
  identifier of the payment currency\";}s:6:\"amount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:0:\"\";}s:13:\"executionDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:34:\"Processing
  date of the transaction\";}s:12:\"treasuryRate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:87:\"The
  Treasury rate for the conversion between payment currency and the ordering currency\";}s:11:\"forexSpread\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:17:\"forexCustomerRate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:17:\"orderingPortfolio\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"The
  debit portfolio identifier\";}s:15:\"creditPortfolio\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"Portfolio
  id to be credit\";}s:17:\"orderingReference\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"The
  reference related to the ordering details\";}s:12:\"chargeBearer\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"Bearer
  of the charges of the order\";}s:13:\"beneficiaryId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"The
  identifier of the beneficiary\";}s:20:\"beneficiaryAccountId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"The
  identifier of the beneficiary account\";}s:14:\"beneficiaryBIC\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:55:\"BIC
  (Bank Identifier Code) of the beneficiary customer \";}s:15:\"beneficiaryName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"The
  name displayed of the beneficiary\";}s:18:\"accountWithBankBIC\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:84:\"BIC
  of Account with Bank being the bank where the beneficiary maintains his account.\";}s:27:\"beneficiaryBankClearingCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:50:\"Clearing
  code or sort code of the beneficiary bank\";}s:27:\"accountWithBankClearingCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:111:\"Clearing
  code or sort code of the account with bank being the bank where the beneficiary
  maintains his account.\";}s:15:\"clearingChannel\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"Clearing
  channel for the payment order\";}s:27:\"structuredCreditorReference\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:22:\"beneficiaryCountryCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:15:\"beneficiaryIBAN\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"The
  IBAN of the beneficiary's account\";}s:19:\"accountWithBankIBAN\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:85:\"IBAN
  of Account with Bank being the bank where the beneficiary maintains his account.\";}s:23:\"requiredCreditValueDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:94:\"The
  credit value date i.e. tentative date on which the payment system will process the
  payment\";}s:7:\"purpose\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:27:\"structuredCommunicationCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:16:\"structuredIssuer\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:17:\"endToEndReference\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"This
  field is used for SEPA\";}s:22:\"instructionIdReference\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:67:\"The
  reference used in SEPA payments to indicate the type of payment\";}s:18:\"termsAndConditions\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"The
  description of the terms and conditions\";}s:14:\"indicativeRate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:15:\"chargeAccountId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"The
  identifier of the charge account\";}s:23:\"chargeAccountCurrencyId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:52:\"The
  identifier of the currency fo the charge account\";}s:15:\"creditValueDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:54:\"The
  value date applied to the credit side of a payment\";}s:12:\"PSDCompliant\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:77:\"Defines
  whether the transaction is PSD (Payment Services Directive) compliant\";}s:16:\"totalDebitAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:22:\"The
  total debit amount\";}s:19:\"localInstrumentCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"holds
  the local mode of clearing\";}s:12:\"recordStatus\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"The
  status of the record processed\";}}}s:18:\"createPaymentOrder\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"header\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/PayloadHeader\";}s:4:\"body\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/createPaymentOrderBody\";}}s:11:\"description\";s:12:\"PaymentOrder\";}s:22:\"createPaymentOrderBody\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":53:{s:10:\"narratives\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:108:\"The
  additional text printed on descriptive statements in addition to the standard narrative
  and/or reference\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"narrative\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:108:\"The
  additional text printed on descriptive statements in addition to the standard narrative
  and/or reference\";}}}}s:22:\"additionalInformations\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:46:\"Additional
  Information provided to add context\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:21:\"additionalInformation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"Additional
  Information provided to add context\";}}}}s:22:\"remittanceInformations\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:32:\"The
  Information about remittance\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:21:\"remittanceInformation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"The
  Information about remittance\";}}}}s:11:\"signatories\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:26:\"The
  authorised signatories\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"signatory\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  authorised signatories\";}}}}s:17:\"invoiceReferences\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:41:\"It
  provides the reference of the invoice \";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"invoiceReference\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"It
  provides the reference of the invoice \";}}}}s:7:\"charges\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"chargeType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"The
  type of charge\";}s:10:\"chargeName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"The
  name that is displayed for the charge\";}s:14:\"chargeCurrency\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:76:\"Holds
  the currency code of the charge account from where the fee is deducted\";}s:12:\"chargeAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:61:\"Holds
  the charge amount equivalent in charge account currency\";}s:27:\"chargeAccountCurrencyAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:0:\"\";}}}}s:9:\"overrides\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:74:\"Records
  the override messages generated during processing of an activity. \";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"override\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:74:\"Records
  the override messages generated during processing of an activity. \";}}}}s:21:\"paymentOrderProductId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"The
  identifier of the payment order product\";}s:14:\"debitAccountId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  identifier of the debit account\";}s:16:\"debitAccountIBAN\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"IBAN
  of the debit account\";}s:13:\"debitCurrency\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Currency
  of the debit account\";}s:14:\"debitValueDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:70:\"The
  date on which the Invocation amount will be debited for settlement\";}s:15:\"creditAccountId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"The
  identifier of the credit account\";}s:17:\"creditAccountIBAN\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"IBAN
  of the credit account\";}s:18:\"orderingCustomerId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"The
  identifier of the ordering customer\";}s:20:\"orderingCustomerName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:52:\"The
  name that is displayed for the ordering customer\";}s:17:\"paymentCurrencyId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"The
  identifier of the payment currency\";}s:6:\"amount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:0:\"\";}s:13:\"executionDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:34:\"Processing
  date of the transaction\";}s:12:\"treasuryRate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:87:\"The
  Treasury rate for the conversion between payment currency and the ordering currency\";}s:11:\"forexSpread\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:17:\"forexCustomerRate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:17:\"orderingPortfolio\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"The
  debit portfolio identifier\";}s:15:\"creditPortfolio\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"Portfolio
  id to be credit\";}s:17:\"orderingReference\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"The
  reference related to the ordering details\";}s:12:\"chargeBearer\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"Bearer
  of the charges of the order\";}s:13:\"beneficiaryId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"The
  identifier of the beneficiary\";}s:20:\"beneficiaryAccountId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"The
  identifier of the beneficiary account\";}s:14:\"beneficiaryBIC\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:55:\"BIC
  (Bank Identifier Code) of the beneficiary customer \";}s:15:\"beneficiaryName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"The
  name displayed of the beneficiary\";}s:18:\"accountWithBankBIC\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:84:\"BIC
  of Account with Bank being the bank where the beneficiary maintains his account.\";}s:27:\"beneficiaryBankClearingCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:50:\"Clearing
  code or sort code of the beneficiary bank\";}s:27:\"accountWithBankClearingCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:111:\"Clearing
  code or sort code of the account with bank being the bank where the beneficiary
  maintains his account.\";}s:15:\"clearingChannel\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"Clearing
  channel for the payment order\";}s:27:\"structuredCreditorReference\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:22:\"beneficiaryCountryCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:15:\"beneficiaryIBAN\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"The
  IBAN of the beneficiary's account\";}s:19:\"accountWithBankIBAN\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:85:\"IBAN
  of Account with Bank being the bank where the beneficiary maintains his account.\";}s:23:\"requiredCreditValueDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:94:\"The
  credit value date i.e. tentative date on which the payment system will process the
  payment\";}s:7:\"purpose\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:27:\"structuredCommunicationCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:16:\"structuredIssuer\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:17:\"endToEndReference\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"This
  field is used for SEPA\";}s:22:\"instructionIdReference\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:67:\"The
  reference used in SEPA payments to indicate the type of payment\";}s:18:\"termsAndConditions\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"The
  description of the terms and conditions\";}s:14:\"indicativeRate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:15:\"chargeAccountId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"The
  identifier of the charge account\";}s:23:\"chargeAccountCurrencyId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:52:\"The
  identifier of the currency fo the charge account\";}s:15:\"creditValueDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:54:\"The
  value date applied to the credit side of a payment\";}s:12:\"PSDCompliant\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:77:\"Defines
  whether the transaction is PSD (Payment Services Directive) compliant\";}s:16:\"totalDebitAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:22:\"The
  total debit amount\";}s:19:\"localInstrumentCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"holds
  the local mode of clearing\";}s:12:\"recordStatus\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"The
  status of the record processed\";}}}s:21:\"createDomesticPayment\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"header\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/PayloadHeader\";}s:4:\"body\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/createDomesticPaymentBody\";}}s:11:\"description\";s:12:\"PaymentOrder\";}s:25:\"createDomesticPaymentBody\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":53:{s:10:\"narratives\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:108:\"The
  additional text printed on descriptive statements in addition to the standard narrative
  and/or reference\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"narrative\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:108:\"The
  additional text printed on descriptive statements in addition to the standard narrative
  and/or reference\";}}}}s:22:\"additionalInformations\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:46:\"Additional
  Information provided to add context\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:21:\"additionalInformation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"Additional
  Information provided to add context\";}}}}s:22:\"remittanceInformations\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:32:\"The
  Information about remittance\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:21:\"remittanceInformation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"The
  Information about remittance\";}}}}s:11:\"signatories\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:26:\"The
  authorised signatories\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"signatory\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  authorised signatories\";}}}}s:17:\"invoiceReferences\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:41:\"It
  provides the reference of the invoice \";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"invoiceReference\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"It
  provides the reference of the invoice \";}}}}s:7:\"charges\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"chargeType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"The
  type of charge\";}s:10:\"chargeName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"The
  name that is displayed for the charge\";}s:14:\"chargeCurrency\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:76:\"Holds
  the currency code of the charge account from where the fee is deducted\";}s:12:\"chargeAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:61:\"Holds
  the charge amount equivalent in charge account currency\";}s:27:\"chargeAccountCurrencyAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:0:\"\";}}}}s:9:\"overrides\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:74:\"Records
  the override messages generated during processing of an activity. \";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"override\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:74:\"Records
  the override messages generated during processing of an activity. \";}}}}s:21:\"paymentOrderProductId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"The
  identifier of the payment order product\";}s:14:\"debitAccountId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  identifier of the debit account\";}s:16:\"debitAccountIBAN\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"IBAN
  of the debit account\";}s:13:\"debitCurrency\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Currency
  of the debit account\";}s:14:\"debitValueDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:70:\"The
  date on which the Invocation amount will be debited for settlement\";}s:15:\"creditAccountId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"The
  identifier of the credit account\";}s:17:\"creditAccountIBAN\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"IBAN
  of the credit account\";}s:18:\"orderingCustomerId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"The
  identifier of the ordering customer\";}s:20:\"orderingCustomerName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:52:\"The
  name that is displayed for the ordering customer\";}s:17:\"paymentCurrencyId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"The
  identifier of the payment currency\";}s:6:\"amount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:0:\"\";}s:13:\"executionDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:34:\"Processing
  date of the transaction\";}s:12:\"treasuryRate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:87:\"The
  Treasury rate for the conversion between payment currency and the ordering currency\";}s:11:\"forexSpread\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:17:\"forexCustomerRate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:17:\"orderingPortfolio\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"The
  debit portfolio identifier\";}s:15:\"creditPortfolio\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"Portfolio
  id to be credit\";}s:17:\"orderingReference\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"The
  reference related to the ordering details\";}s:12:\"chargeBearer\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"Bearer
  of the charges of the order\";}s:13:\"beneficiaryId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"The
  identifier of the beneficiary\";}s:20:\"beneficiaryAccountId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"The
  identifier of the beneficiary account\";}s:14:\"beneficiaryBIC\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:55:\"BIC
  (Bank Identifier Code) of the beneficiary customer \";}s:15:\"beneficiaryName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"The
  name displayed of the beneficiary\";}s:18:\"accountWithBankBIC\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:84:\"BIC
  of Account with Bank being the bank where the beneficiary maintains his account.\";}s:27:\"beneficiaryBankClearingCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:50:\"Clearing
  code or sort code of the beneficiary bank\";}s:27:\"accountWithBankClearingCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:111:\"Clearing
  code or sort code of the account with bank being the bank where the beneficiary
  maintains his account.\";}s:15:\"clearingChannel\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"Clearing
  channel for the payment order\";}s:27:\"structuredCreditorReference\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:22:\"beneficiaryCountryCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:15:\"beneficiaryIBAN\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"The
  IBAN of the beneficiary's account\";}s:19:\"accountWithBankIBAN\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:85:\"IBAN
  of Account with Bank being the bank where the beneficiary maintains his account.\";}s:23:\"requiredCreditValueDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:94:\"The
  credit value date i.e. tentative date on which the payment system will process the
  payment\";}s:7:\"purpose\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:27:\"structuredCommunicationCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:16:\"structuredIssuer\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:17:\"endToEndReference\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"This
  field is used for SEPA\";}s:22:\"instructionIdReference\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:67:\"The
  reference used in SEPA payments to indicate the type of payment\";}s:18:\"termsAndConditions\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"The
  description of the terms and conditions\";}s:14:\"indicativeRate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:15:\"chargeAccountId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"The
  identifier of the charge account\";}s:23:\"chargeAccountCurrencyId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:52:\"The
[...]
