---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"Allows the creation,
  viewing and management of customer documents and images.\";s:7:\"version\";s:6:\"v1.0.0\";s:5:\"title\";s:30:\"Party
  Customers Documents APIs\";}"
host: api.temenos.com
basePath: /api/v1.0.0
paths:
  /party/customers/{customerId}/documents:
    get:
      operationId: getCustomerDocuments
      produces:
      - application/json
      parameters:
      - name: customerId
        in: path
        required: true
        type: string
      - name: page_size
        in: query
        description: The total number of records per page
        required: false
        type: integer
        format: int32
      - name: page_start
        in: query
        description: The record from which the response should be displayed
        required: false
        type: integer
        format: int32
      - name: page_token
        in: query
        description: Random and unique string for each page. Used for security purpose
        required: false
        type: string
      responses:
        200:
          description: getCustomerDocumentsResponse
          schema:
            $ref: '#/definitions/getCustomerDocumentsResponse'
        default:
          description: getCustomerDocumentsErrorResponse
          schema:
            $ref: '#/definitions/getCustomerDocumentsErrorResponse'
  /party/customers/{customerId}/images/{imageId}:
    get:
      operationId: getDocumentImage
      produces:
      - application/json
      parameters:
      - name: customerId
        in: path
        required: true
        type: string
      - name: imageId
        in: path
        required: true
        type: string
      responses:
        200:
          description: getDocumentImageResponse
          schema:
            $ref: '#/definitions/getDocumentImageResponse'
        default:
          description: getDocumentImageErrorResponse
          schema:
            $ref: '#/definitions/getDocumentImageErrorResponse'
    put:
      operationId: updateDocumentImage
      produces:
      - application/json
      parameters:
      - name: customerId
        in: path
        required: true
        type: string
      - name: imageId
        in: path
        required: true
        type: string
      - in: body
        name: payload
        required: true
        schema:
          $ref: '#/definitions/updateDocumentImage'
      - name: validate_only
        in: query
        required: false
        type: boolean
      responses:
        200:
          description: updateDocumentImageResponse
          schema:
            $ref: '#/definitions/updateDocumentImageResponse'
        default:
          description: updateDocumentImageErrorResponse
          schema:
            $ref: '#/definitions/updateDocumentImageErrorResponse'
  /party/customers/{customerId}/images:
    get:
      operationId: getCustomerImages
      produces:
      - application/json
      parameters:
      - name: customerId
        in: path
        required: true
        type: string
      - name: page_size
        in: query
        description: The total number of records per page
        required: false
        type: integer
        format: int32
      - name: page_start
        in: query
        description: The record from which the response should be displayed
        required: false
        type: integer
        format: int32
      - name: page_token
        in: query
        description: Random and unique string for each page. Used for security purpose
        required: false
        type: string
      responses:
        200:
          description: getCustomerImagesResponse
          schema:
            $ref: '#/definitions/getCustomerImagesResponse'
        default:
          description: getCustomerImagesErrorResponse
          schema:
            $ref: '#/definitions/getCustomerImagesErrorResponse'
    post:
      operationId: createDocumentImage
      produces:
      - application/json
      parameters:
      - name: customerId
        in: path
        required: true
        type: string
      - in: body
        name: payload
        required: true
        schema:
          $ref: '#/definitions/createDocumentImage'
      - name: validate_only
        in: query
        required: false
        type: boolean
      responses:
        200:
          description: createDocumentImageResponse
          schema:
            $ref: '#/definitions/createDocumentImageResponse'
        default:
          description: createDocumentImageErrorResponse
          schema:
            $ref: '#/definitions/createDocumentImageErrorResponse'
schemes:
- http
- https
definitions: !php/object "O:8:\"stdClass\":28:{s:11:\"QueryHeader\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:5:\"audit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"T24_time\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:10:\"parse_time\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:9:\"page_size\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:10:\"page_start\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:10:\"total_size\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:10:\"page_token\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:28:\"getCustomerDocumentsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"header\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/QueryHeader\";}s:4:\"body\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/getCustomerDocumentsResponseBody\";}}s:11:\"description\";s:28:\"getCustomerDocumentsResponse\";}s:32:\"getCustomerDocumentsResponseBody\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:7:\"imageId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:50:\"The
  identifier of the image used for advertisement\";s:9:\"maxLength\";i:12;}s:9:\"imageType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:327:\"Identifies
  the type of image to be stored and its location. Typical usage would be to segregate
  images by criteria such as PASSPORTS, PHOTOGRAPHS, SIGNATURES and DOCUMENTS. Image
  types can be used to assist selection of records in Enquiries as well as the physical
  distribution of files.Must be a valid record on IM.IMAGE.TYPE.\";s:9:\"maxLength\";i:15;}s:16:\"imageApplication\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:65:\"This
  field is used to link an image to a T24 application or file.\";s:9:\"maxLength\";i:30;}s:15:\"companyMnemonic\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:80:\"Shortened
  identiifier for a company. 3 alphanumer characters, e.g. BNK, BN1, BN2\";s:9:\"maxLength\";i:3;}s:14:\"imageReference\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  reference of the image\";s:9:\"maxLength\";i:35;}s:11:\"displayName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"The
  name used for display purposes\";s:9:\"maxLength\";i:35;}s:9:\"imagePath\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"Identifies
  the image stored on the file system.\";s:9:\"maxLength\";i:50;}}}}s:11:\"ErrorHeader\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"audit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"T24_time\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:10:\"parse_time\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}}}s:33:\"getCustomerDocumentsErrorResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"header\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ErrorHeader\";}s:5:\"error\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:51:\"#/definitions/getCustomerDocumentsErrorResponseBody\";}}s:11:\"description\";s:33:\"getCustomerDocumentsErrorResponse\";}s:37:\"getCustomerDocumentsErrorResponseBody\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:13:\"PayloadHeader\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"override_acceptId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:19:\"updateDocumentImage\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"header\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/PayloadHeader\";}s:4:\"body\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/updateDocumentImageBody\";}}s:11:\"description\";s:19:\"updateDocumentImage\";}s:23:\"updateDocumentImageBody\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"description\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:34:\"The
  name used for display purposes\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"displayName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"The
  name used for display purposes\";}}}}s:9:\"imageType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:327:\"Identifies
  the type of image to be stored and its location. Typical usage would be to segregate
  images by criteria such as PASSPORTS, PHOTOGRAPHS, SIGNATURES and DOCUMENTS. Image
  types can be used to assist selection of records in Enquiries as well as the physical
  distribution of files.Must be a valid record on IM.IMAGE.TYPE.\";}s:16:\"imageApplication\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:65:\"This
  field is used to link an image to a T24 application or file.\";}s:15:\"companyMnemonic\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:80:\"Shortened
  identiifier for a company. 3 alphanumer characters, e.g. BNK, BN1, BN2\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"The
  name used for display purposes\";}s:9:\"mediaType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:4:\"enum\";a:4:{i:0;s:5:\"IMAGE\";i:1;s:5:\"SOUND\";i:2;s:5:\"VIDEO\";i:3;s:8:\"DOCUMENT\";}}}}s:12:\"ScreenHeader\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"transactionStatus\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"audit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"T24_time\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:10:\"parse_time\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}}}s:27:\"updateDocumentImageResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"header\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ScreenHeader\";}s:4:\"body\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/updateDocumentImageResponseBody\";}}s:11:\"description\";s:27:\"updateDocumentImageResponse\";}s:31:\"updateDocumentImageResponseBody\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:11:\"description\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:34:\"The
  name used for display purposes\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"displayName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"The
  name used for display purposes\";}}}}s:9:\"imageType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:327:\"Identifies
  the type of image to be stored and its location. Typical usage would be to segregate
  images by criteria such as PASSPORTS, PHOTOGRAPHS, SIGNATURES and DOCUMENTS. Image
  types can be used to assist selection of records in Enquiries as well as the physical
  distribution of files.Must be a valid record on IM.IMAGE.TYPE.\";}s:16:\"imageApplication\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:65:\"This
  field is used to link an image to a T24 application or file.\";}s:15:\"companyMnemonic\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:80:\"Shortened
  identiifier for a company. 3 alphanumer characters, e.g. BNK, BN1, BN2\";}s:14:\"imageReference\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  reference of the image\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"The
  name used for display purposes\";}s:9:\"mediaType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:4:\"enum\";a:4:{i:0;s:5:\"IMAGE\";i:1;s:5:\"SOUND\";i:2;s:5:\"VIDEO\";i:3;s:8:\"DOCUMENT\";}}}}s:32:\"updateDocumentImageErrorResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"header\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ErrorHeader\";}s:5:\"error\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:50:\"#/definitions/updateDocumentImageErrorResponseBody\";}}s:11:\"description\";s:32:\"updateDocumentImageErrorResponse\";}s:36:\"updateDocumentImageErrorResponseBody\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"errorDetails\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"fieldName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:24:\"getDocumentImageResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"header\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ScreenHeader\";}s:4:\"body\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/getDocumentImageResponseBody\";}}s:11:\"description\";s:24:\"getDocumentImageResponse\";}s:28:\"getDocumentImageResponseBody\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:11:\"description\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:34:\"The
  name used for display purposes\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"displayName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"The
  name used for display purposes\";}}}}s:9:\"imageType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:327:\"Identifies
  the type of image to be stored and its location. Typical usage would be to segregate
  images by criteria such as PASSPORTS, PHOTOGRAPHS, SIGNATURES and DOCUMENTS. Image
  types can be used to assist selection of records in Enquiries as well as the physical
  distribution of files.Must be a valid record on IM.IMAGE.TYPE.\";}s:16:\"imageApplication\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:65:\"This
  field is used to link an image to a T24 application or file.\";}s:15:\"companyMnemonic\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:80:\"Shortened
  identiifier for a company. 3 alphanumer characters, e.g. BNK, BN1, BN2\";}s:14:\"imageReference\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  reference of the image\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"The
  name used for display purposes\";}s:9:\"mediaType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:4:\"enum\";a:4:{i:0;s:5:\"IMAGE\";i:1;s:5:\"SOUND\";i:2;s:5:\"VIDEO\";i:3;s:8:\"DOCUMENT\";}}}}s:29:\"getDocumentImageErrorResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"header\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ErrorHeader\";}s:5:\"error\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:47:\"#/definitions/getDocumentImageErrorResponseBody\";}}s:11:\"description\";s:29:\"getDocumentImageErrorResponse\";}s:33:\"getDocumentImageErrorResponseBody\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"errorDetails\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"fieldName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:25:\"getCustomerImagesResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"header\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/QueryHeader\";}s:4:\"body\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/getCustomerImagesResponseBody\";}}s:11:\"description\";s:25:\"getCustomerImagesResponse\";}s:29:\"getCustomerImagesResponseBody\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:7:\"imageId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:50:\"The
  identifier of the image used for advertisement\";s:9:\"maxLength\";i:12;}s:9:\"imageType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:327:\"Identifies
  the type of image to be stored and its location. Typical usage would be to segregate
  images by criteria such as PASSPORTS, PHOTOGRAPHS, SIGNATURES and DOCUMENTS. Image
  types can be used to assist selection of records in Enquiries as well as the physical
  distribution of files.Must be a valid record on IM.IMAGE.TYPE.\";s:9:\"maxLength\";i:15;}s:16:\"imageApplication\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:65:\"This
  field is used to link an image to a T24 application or file.\";s:9:\"maxLength\";i:30;}s:15:\"companyMnemonic\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:80:\"Shortened
  identiifier for a company. 3 alphanumer characters, e.g. BNK, BN1, BN2\";s:9:\"maxLength\";i:3;}s:14:\"imageReference\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  reference of the image\";s:9:\"maxLength\";i:35;}s:11:\"displayName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"The
  name used for display purposes\";s:9:\"maxLength\";i:35;}s:9:\"imagePath\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"Identifies
  the image stored on the file system.\";s:9:\"maxLength\";i:50;}}}}s:30:\"getCustomerImagesErrorResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"header\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ErrorHeader\";}s:5:\"error\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:48:\"#/definitions/getCustomerImagesErrorResponseBody\";}}s:11:\"description\";s:30:\"getCustomerImagesErrorResponse\";}s:34:\"getCustomerImagesErrorResponseBody\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:19:\"createDocumentImage\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"header\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/PayloadHeader\";}s:4:\"body\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/createDocumentImageBody\";}}s:11:\"description\";s:19:\"createDocumentImage\";}s:23:\"createDocumentImageBody\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"description\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:34:\"The
  name used for display purposes\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"displayName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"The
  name used for display purposes\";}}}}s:9:\"imageType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:327:\"Identifies
  the type of image to be stored and its location. Typical usage would be to segregate
  images by criteria such as PASSPORTS, PHOTOGRAPHS, SIGNATURES and DOCUMENTS. Image
  types can be used to assist selection of records in Enquiries as well as the physical
  distribution of files.Must be a valid record on IM.IMAGE.TYPE.\";}s:15:\"companyMnemonic\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:80:\"Shortened
  identiifier for a company. 3 alphanumer characters, e.g. BNK, BN1, BN2\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"The
  name used for display purposes\";}s:9:\"mediaType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:4:\"enum\";a:4:{i:0;s:5:\"IMAGE\";i:1;s:5:\"SOUND\";i:2;s:5:\"VIDEO\";i:3;s:8:\"DOCUMENT\";}}}}s:27:\"createDocumentImageResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"header\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ScreenHeader\";}s:4:\"body\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/createDocumentImageResponseBody\";}}s:11:\"description\";s:27:\"createDocumentImageResponse\";}s:31:\"createDocumentImageResponseBody\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:11:\"description\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:34:\"The
  name used for display purposes\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"displayName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"The
  name used for display purposes\";}}}}s:9:\"imageType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:327:\"Identifies
  the type of image to be stored and its location. Typical usage would be to segregate
  images by criteria such as PASSPORTS, PHOTOGRAPHS, SIGNATURES and DOCUMENTS. Image
  types can be used to assist selection of records in Enquiries as well as the physical
  distribution of files.Must be a valid record on IM.IMAGE.TYPE.\";}s:16:\"imageApplication\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:65:\"This
  field is used to link an image to a T24 application or file.\";}s:15:\"companyMnemonic\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:80:\"Shortened
  identiifier for a company. 3 alphanumer characters, e.g. BNK, BN1, BN2\";}s:14:\"imageReference\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  reference of the image\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"The
  name used for display purposes\";}s:9:\"mediaType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:4:\"enum\";a:4:{i:0;s:5:\"IMAGE\";i:1;s:5:\"SOUND\";i:2;s:5:\"VIDEO\";i:3;s:8:\"DOCUMENT\";}}}}s:32:\"createDocumentImageErrorResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"header\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ErrorHeader\";}s:5:\"error\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:50:\"#/definitions/createDocumentImageErrorResponseBody\";}}s:11:\"description\";s:32:\"createDocumentImageErrorResponse\";}s:36:\"createDocumentImageErrorResponseBody\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"errorDetails\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"fieldName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}"
...
