---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":12:{s:7:\"contact\";O:8:\"stdClass\":2:{s:5:\"email\";s:20:\"partner@flinkster.de\";s:4:\"name\";s:12:\"DB
  Rent GmbH\";}s:11:\"description\";s:918:\"This REST-API enables you to query for
  private transport sharing offers provided by companies and cities in Germany, Netherland
  and Austria. \nYou can search for informations about the rental stations (points
  or areas) where you can find the rentals by utilizing the /areas/ ressource. \nWith
  the help of the proximity search in the /bookingproposals/ URI you can request the
  availabilities of the rentalobjects for spontaneous or planed usage in the future.
  \n\nFeel free to browse through data by setting the parameter 'providernetwork'
  to the value: \n 1: Search for car sharing offers provided by the Flinkster platform
  (http://www.flinkster.de)\n2: Finding bike rental offers from Call a Bike (http://www.callabike.de)
  \n\nYou can find more details in the documentation section (Unfortunately only available
  in german language).\n\nHave lots of fun and we are lucky to take notice of your
  products or getting your feedback.\";s:14:\"termsOfService\";s:41:\"https://developer.deutschebahn.com/store/\";s:5:\"title\";s:16:\"Flinkster_API_NG\";s:7:\"version\";s:2:\"v1\";s:21:\"x-apisguru-categories\";a:2:{i:0;s:9:\"transport\";i:1;s:9:\"open_data\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:102:\"https://api.apis.guru/v2/cache/logo/https_pbs.twimg.com_profile_images_591140150413025280_Cjcqjl2J.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:80:\"https://developer.deutschebahn.com/store/api-docs/DBOpenData/Flinkster_API_NG/v1\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:16:\"deutschebahn.com\";s:13:\"x-serviceName\";s:9:\"flinkster\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:22:\"deutschebahn_flinkster\";s:4:\"type\";s:7:\"openapi\";}}"
host: api.deutschebahn.com
basePath: /flinkster-api-ng/v1
paths:
  /areas:
    get:
      description: Search for areas (locations of rental objects) by criteria.
      operationId: listAreas
      parameters:
      - format: double
        in: query
        name: lat
        required: false
        type: number
      - format: double
        in: query
        name: lon
        required: false
        type: number
      - format: int32
        in: query
        name: radius
        required: false
        type: integer
      - format: int32
        in: query
        name: offset
        required: false
        type: integer
      - format: int32
        in: query
        name: limit
        required: false
        type: integer
      - in: query
        name: expand
        required: false
        type: string
      - in: query
        name: type
        required: false
        type: string
      - in: query
        name: provider
        required: false
        type: string
      - in: query
        name: providernetwork
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/AreaJO'
        403:
          description: ForbiddennIf provider is not allowed to display this area.
          schema:
            $ref: '#/definitions/AreaJO'
        404:
          description: Not FoundnIf no area was found for the given UID.
          schema:
            $ref: '#/definitions/AreaJO'
      summary: List Areas by Criteria.
      tags:
      - areas
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /areas/{areaUID}:
    get:
      description: Search for a specific area by UID.
      operationId: getArea
      parameters:
      - description: 'The Area UID '
        in: path
        name: areaUID
        required: true
        type: string
      - description: Expand Provider
        in: query
        name: expand
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/AreaJO'
        403:
          description: ForbiddennIf provider is not allowed to display this area.
          schema:
            $ref: '#/definitions/AreaJO'
        404:
          description: Not FoundnIf no area was found for the given UID.
          schema:
            $ref: '#/definitions/AreaJO'
      summary: Get area by UID.
      tags:
      - areas
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /bookingproposals:
    get:
      description: Here you can query all bookable Rental Objects with different Parameters
        (Time, Location,...)
      operationId: listBookingProposals
      parameters:
      - format: double
        in: query
        name: lat
        required: false
        type: number
      - format: double
        in: query
        name: lon
        required: false
        type: number
      - format: int32
        in: query
        name: radius
        required: false
        type: integer
      - format: int32
        in: query
        name: offset
        required: false
        type: integer
      - format: int32
        in: query
        name: limit
        required: false
        type: integer
      - in: query
        name: providernetwork
        required: false
        type: string
      - in: query
        name: begin
        required: false
        type: string
      - in: query
        name: end
        required: false
        type: string
      - in: query
        name: expand
        required: false
        type: string
      - in: query
        name: view
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/RentalObjectJO'
        400:
          description: Bad RequestnOne or more parameters have invalid values.
          schema:
            $ref: '#/definitions/ErrorJO'
        403:
          description: ForbiddennProvider is not allowed to use this interface.
          schema:
            $ref: '#/definitions/ErrorJO'
      summary: Query for available RentalObjects of a specific view
      tags:
      - bookingproposals
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /index:
    get:
      description: Show Service index.
      operationId: getIndex
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/JsonCollection'
      summary: Show index.
      tags:
      - index
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /providernetworks/{providernetworkUID}/categories:
    get:
      description: Search for categorie.
      operationId: listCategories
      parameters:
      - in: path
        name: providernetworkUID
        required: true
        type: string
      - in: query
        name: expand
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/CategoryJO'
        400:
          description: Bad RequestnOne or more parameters have invalid values.
          schema:
            $ref: '#/definitions/ErrorJO'
        403:
          description: ForbiddennProvider is not allowed to use this interface.
          schema:
            $ref: '#/definitions/ErrorJO'
      summary: Lists all categories
      tags:
      - categories
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /providernetworks/{providernetworkUID}/categories/{categoryUID}:
    get:
      description: Search for categorie.
      operationId: getCategory
      parameters:
      - description: Provider Network UID
        in: path
        name: providernetworkUID
        required: true
        type: string
      - in: path
        name: categoryUID
        required: true
        type: string
      - in: query
        name: expand
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/CategoryJO'
        400:
          description: Bad RequestnOne or more parameters have invalid values.
          schema:
            $ref: '#/definitions/ErrorJO'
        403:
          description: ForbiddennProvider is not allowed to use this interface.
          schema:
            $ref: '#/definitions/ErrorJO'
      summary: Get a Category by UID
      tags:
      - categories
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /providernetworks/{providernetworkUID}/prices:
    get:
      description: Prices of a rental object by query params. The params depend on
        the price determination strategy of the provider network.n
      operationId: getPrices
      parameters:
      - in: path
        name: providernetworkUID
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/RentalObjectJO'
        400:
          description: Bad RequestnOne or more parameters have invalid values.
          schema:
            $ref: '#/definitions/ErrorJO'
        403:
          description: ForbiddennProvider is not allowed to use this interface.
          schema:
            $ref: '#/definitions/ErrorJO'
      summary: Get information about the prices.
      tags:
      - prices
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /providernetworks/{providernetworkUID}/rentalobjects/{rentalObjectUID}:
    get:
      description: Get information about the Rental Object.n
      operationId: getRentalObject
      parameters:
      - in: path
        name: rentalObjectUID
        required: true
        type: string
      - in: path
        name: providernetworkUID
        required: true
        type: string
      - in: query
        name: expand
        required: false
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/RentalObjectJO'
        400:
          description: Bad RequestnOne or more parameters have invalid values.
          schema:
            $ref: '#/definitions/ErrorJO'
        403:
          description: ForbiddennProvider is not allowed to use this interface.
          schema:
            $ref: '#/definitions/ErrorJO'
      summary: Get information about the RentalObject.
      tags:
      - rentalobjects
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /providernetworks/{uid}:
    get:
      description: Get information about the ProviderNetworkResources.n
      operationId: getProviderNetwork
      parameters:
      - in: path
        name: uid
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/RentalObjectJO'
        400:
          description: Bad RequestnOne or more parameters have invalid values.
          schema:
            $ref: '#/definitions/ErrorJO'
        403:
          description: ForbiddennProvider is not allowed to use this interface.
          schema:
            $ref: '#/definitions/ErrorJO'
      summary: Get information about the ProviderNetworkResources.
      tags:
      - providernetworks
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /providers/{uid}:
    get:
      description: Get information about the ProviderResourcesCtrl.n
      operationId: getProvider
      parameters:
      - in: path
        name: uid
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/RentalObjectJO'
        400:
          description: Bad RequestnOne or more parameters have invalid values.
          schema:
            $ref: '#/definitions/ErrorJO'
        403:
          description: ForbiddennProvider is not allowed to use this interface.
          schema:
            $ref: '#/definitions/ErrorJO'
      summary: Get information about the ProviderResourceImpl.
      tags:
      - providers
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
produces:
- application/json
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":24:{s:9:\"AddressJO\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"city\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"district\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"isoCountryCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"number\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"street\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"zip\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"AreaJO\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":13:{s:6:\"_links\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/LinkJO\";}s:4:\"type\";s:5:\"array\";}s:7:\"address\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/AddressJO\";}s:10:\"attributes\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:6:\"object\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"expand\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"geometry\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/GeometryJO\";}s:4:\"href\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"provider\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/ProviderJO\";}s:14:\"providerAreaId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"providerNetworkIds\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"enum\";a:5:{i:0;s:7:\"STATION\";i:1;s:13:\"OPERATIONAREA\";i:2;s:11:\"PARKINGAREA\";i:3;s:10:\"GASSTATION\";i:4;s:7:\"UNKNOWN\";}s:4:\"type\";s:6:\"string\";}s:3:\"uid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"BookingProposalJO\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":12:{s:6:\"_links\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/LinkJO\";}s:4:\"type\";s:5:\"array\";}s:4:\"area\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/AreaJO\";}s:10:\"attributes\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:6:\"object\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"distance\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:6:\"expand\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"href\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"position\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/GeoJsonObject\";}s:5:\"price\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/JsonCollectionPriceJO\";}s:12:\"rentalObject\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/RentalObjectJO\";}s:3:\"uid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"CategoryJO\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:6:\"_links\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/LinkJO\";}s:4:\"type\";s:5:\"array\";}s:10:\"attributes\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:6:\"object\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"expand\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"href\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"price\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/PriceJO\";}s:4:\"type\";s:5:\"array\";}s:3:\"uid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:3:\"Crs\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:4:\"name\";i:1;s:4:\"link\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"ErrorJO\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"attributes\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:6:\"object\";}s:4:\"code\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:5:\"level\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:4:\"INFO\";i:1;s:7:\"WARNING\";i:2;s:5:\"ERROR\";}s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Feature\";O:8:\"stdClass\":3:{s:13:\"discriminator\";s:4:\"type\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"bbox\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:4:\"type\";s:5:\"array\";}s:3:\"crs\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Crs\";}s:8:\"geometry\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/GeoJsonObject\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:17:\"FeatureCollection\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/GeoJsonObject\";}i:1;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"features\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Feature\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}}}s:13:\"GeoJsonObject\";O:8:\"stdClass\":3:{s:13:\"discriminator\";s:4:\"type\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"bbox\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:4:\"type\";s:5:\"array\";}s:3:\"crs\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Crs\";}}s:4:\"type\";s:6:\"object\";}s:10:\"GeometryJO\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"centroid\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Point\";}s:8:\"position\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/GeoJsonObject\";}}s:4:\"type\";s:6:\"object\";}s:14:\"JsonCollection\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:6:\"_links\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/LinkJO\";}s:4:\"type\";s:5:\"array\";}s:4:\"href\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/JsonObject\";}s:4:\"type\";s:5:\"array\";}s:5:\"limit\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"offset\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"size\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:21:\"JsonCollectionPriceJO\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:6:\"_links\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/LinkJO\";}s:4:\"type\";s:5:\"array\";}s:4:\"href\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/PriceJO\";}s:4:\"type\";s:5:\"array\";}s:5:\"limit\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"offset\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"size\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:10:\"JsonObject\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:6:\"_links\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/LinkJO\";}s:4:\"type\";s:5:\"array\";}s:10:\"attributes\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:6:\"object\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"expand\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"href\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"uid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"LineString\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/GeoJsonObject\";}i:1;O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}}s:6:\"LinkJO\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"href\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"rel\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"verb\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"LngLatAlt\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"altitude\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:8:\"latitude\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:9:\"longitude\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:15:\"MultiLineString\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/GeoJsonObject\";}i:1;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"coordinates\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/LngLatAlt\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}}}s:10:\"MultiPoint\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/GeoJsonObject\";}i:1;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"coordinates\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/LngLatAlt\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}}}s:12:\"MultiPolygon\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/GeoJsonObject\";}i:1;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"coordinates\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/LngLatAlt\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}}}s:5:\"Point\";O:8:\"stdClass\":3:{s:13:\"discriminator\";s:4:\"type\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"bbox\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:4:\"type\";s:5:\"array\";}s:11:\"coordinates\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/LngLatAlt\";}s:3:\"crs\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Crs\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Polygon\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/GeoJsonObject\";}i:1;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"coordinates\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/LngLatAlt\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}}}s:7:\"PriceJO\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":13:{s:6:\"_links\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/LinkJO\";}s:4:\"type\";s:5:\"array\";}s:10:\"attributes\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:6:\"object\";}s:8:\"currency\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"expand\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"grossamount\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:4:\"href\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"interval\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"preferredprice\";O:8:\"stdClass\":2:{s:7:\"default\";b:0;s:4:\"type\";s:7:\"boolean\";}s:7:\"taxrate\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:4:\"TIME\";i:1;s:8:\"DISTANCE\";}s:4:\"type\";s:6:\"string\";}s:3:\"uid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"ProviderJO\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:6:\"_links\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/LinkJO\";}s:4:\"type\";s:5:\"array\";}s:10:\"attributes\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:6:\"object\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"expand\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"href\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"uid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"RentalObjectJO\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":13:{s:6:\"_links\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/LinkJO\";}s:4:\"type\";s:5:\"array\";}s:10:\"attributes\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:6:\"object\";}s:8:\"category\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/CategoryJO\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"expand\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"href\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"provider\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/ProviderJO\";}s:18:\"providerNetworkIds\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";s:5:\"array\";}s:22:\"providerRentalObjectId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"rentalModel\";O:8:\"stdClass\":2:{s:4:\"enum\";a:5:{i:0;s:12:\"FREEFLOATING\";i:1;s:23:\"FREEFLOATINGWITHSTATION\";i:2;s:12:\"STATIONBASED\";i:3;s:11:\"PARKINGAREA\";i:4;s:7:\"UNKNOWN\";}s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"enum\";a:5:{i:0;s:7:\"VEHICLE\";i:1;s:11:\"VEHICLEPOOL\";i:2;s:4:\"BIKE\";i:3;s:7:\"PEDELEC\";i:4;s:7:\"UNKNOWN\";}s:4:\"type\";s:6:\"string\";}s:3:\"uid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
