---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:7:\"contact\";O:8:\"stdClass\":2:{s:5:\"email\";s:37:\"Joachim.Schirrmacher@deutschebahn.com\";s:4:\"name\";s:14:\"DB
  Systel GmbH\";}s:11:\"description\";s:57:\"This REST-API enables you to query station
  and stop infos\";s:14:\"termsOfService\";s:41:\"https://developer.deutschebahn.com/store/\";s:5:\"title\";s:15:\"Betriebsstellen\";s:7:\"version\";s:2:\"v1\";s:21:\"x-apisguru-categories\";a:2:{i:0;s:9:\"transport\";i:1;s:9:\"open_data\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:68:\"https://pbs.twimg.com/profile_images/591140150413025280/Cjcqjl2J.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:79:\"https://developer.deutschebahn.com/store/api-docs/DBOpenData/Betriebsstellen/v1\";s:7:\"version\";s:3:\"2.0\";}}s:14:\"x-providerName\";s:16:\"deutschebahn.com\";s:13:\"x-serviceName\";s:15:\"betriebsstellen\";s:11:\"x-preferred\";b:1;}"
host: api.deutschebahn.com
basePath: /betriebsstellen/v1
paths: []
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":3:{s:5:\"Error\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Station\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":13:{s:2:\"RB\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Regional
  code\";s:4:\"type\";s:7:\"integer\";}s:3:\"UIC\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"UIC
  RICS code\";s:4:\"type\";s:6:\"string\";}s:6:\"abbrev\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Abbrevation
  name of station or halt\";s:4:\"type\";s:6:\"string\";}s:13:\"borderStation\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Station
  is at a country border\";s:4:\"type\";s:7:\"boolean\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Identifying
  number\";s:4:\"type\";s:7:\"integer\";}s:12:\"locationCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Primary
  location code\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Long
  name of station or halt\";s:4:\"type\";s:6:\"string\";}s:5:\"short\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Short
  name of station or halt\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"State
  of operation\";s:4:\"enum\";a:5:{i:0;s:6:\"in use\";i:1;s:14:\"out of service\";i:2;s:8:\"formerly\";i:3;s:7:\"planned\";i:4;s:5:\"study\";}s:4:\"type\";s:6:\"string\";}s:17:\"timeTableRelevant\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Relevant
  for time table\";s:4:\"type\";s:7:\"boolean\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Type
  of station or halt\";s:4:\"enum\";a:4:{i:0;s:4:\"Abzw\";i:1;s:4:\"Anst\";i:2;s:6:\"Awanst\";i:3;s:2:\"Bf\";}s:4:\"type\";s:6:\"string\";}s:9:\"validFrom\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Start
  date for validity\";s:4:\"type\";s:6:\"string\";}s:9:\"validTill\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"End
  date for validity or null if still valid\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"StationList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Station\";}s:4:\"type\";s:5:\"array\";}}"
...
