---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":12:{s:7:\"contact\";O:8:\"stdClass\":2:{s:5:\"email\";s:37:\"Joachim.Schirrmacher@deutschebahn.com\";s:4:\"name\";s:14:\"DB
  Systel GmbH\";}s:11:\"description\";s:79:\"This REST-API enables you to query information
  about travel centers in Germany.\";s:14:\"termsOfService\";s:41:\"https://developer.deutschebahn.com/store/\";s:5:\"title\";s:16:\"Reisezentren-API\";s:7:\"version\";s:2:\"v1\";s:21:\"x-apisguru-categories\";a:2:{i:0;s:9:\"transport\";i:1;s:9:\"open_data\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:102:\"https://api.apis.guru/v2/cache/logo/https_pbs.twimg.com_profile_images_591140150413025280_Cjcqjl2J.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:76:\"https://developer.deutschebahn.com/store/api-docs/DBOpenData/Reisezentren/v1\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:16:\"deutschebahn.com\";s:13:\"x-serviceName\";s:12:\"reisezentren\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:25:\"deutschebahn_reisezentren\";s:4:\"type\";s:7:\"openapi\";}}"
host: api.deutschebahn.com
basePath: /reisezentren/v1
paths:
  /reisezentren:
    get:
      description: Get all station infos
      parameters:
      - description: A station name or part of it
        in: query
        name: name
        required: false
        type: string
      produces:
      - application/json
      responses:
        200:
          description: List has been created
          schema:
            $ref: '#/definitions/TravelCenterList'
        404:
          description: No travel centers could be found matching the given name
          schema:
            $ref: '#/definitions/Error'
        416:
          description: Filtering required - specify a name fragment of at least 3
            characters
          schema:
            $ref: '#/definitions/Error'
      summary: Get all station infos
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      operationId: reisezentren.get
  /reisezentren/loc/{lat}/{lon}:
    get:
      description: Get information about a station near a location
      parameters:
      - description: Latitude
        format: float
        in: path
        name: lat
        required: true
        type: number
      - description: Longitude
        format: float
        in: path
        name: lon
        required: true
        type: number
      produces:
      - application/json
      responses:
        200:
          description: A station was found
          schema:
            $ref: '#/definitions/TravelCenter'
      summary: Get information about a station near a location
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      operationId: reisezentren.loc.lat.lon.get
  /reisezentren/loc/{lat}/{lon}/{dist}:
    get:
      description: Get stations in a given radius
      parameters:
      - description: Latitude
        format: float
        in: path
        name: lat
        required: true
        type: number
      - description: Longitude
        format: float
        in: path
        name: lon
        required: true
        type: number
      - description: Radius
        format: float
        in: path
        name: dist
        required: true
        type: number
      produces:
      - application/json
      responses:
        200:
          description: A station was found
          schema:
            $ref: '#/definitions/TravelCenter'
      summary: Get stations in a given radius
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      operationId: reisezentren.loc.lat.lon.dist.get
  /reisezentren/{id}:
    get:
      description: Get information about a specific station
      parameters:
      - description: Station id
        in: path
        name: id
        required: true
        type: string
      responses:
        200:
          description: The travel center was found
          schema:
            $ref: '#/definitions/TravelCenter'
        404:
          description: No travel center found
          schema:
            $ref: '#/definitions/Error'
      summary: Get information about a specific station
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
      operationId: reisezentren.id.get
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":4:{s:5:\"Error\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"OpeningTime\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:12:\"TravelCenter\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:7:\"address\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Street
  address of travel center\";s:4:\"type\";s:6:\"string\";}s:4:\"city\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"City
  of travel center\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Identifying
  number\";s:4:\"type\";s:7:\"integer\";}s:3:\"lat\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Latitude
  of travel center location\";s:4:\"type\";s:6:\"number\";}s:3:\"lon\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Longitude
  of travel center location\";s:4:\"type\";s:6:\"number\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Name
  of travel center\";s:4:\"type\";s:6:\"string\";}s:12:\"openingTimes\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"Opening
  times of the travel center, ordered by week day\";s:10:\"properties\";O:8:\"stdClass\":7:{s:3:\"fri\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/OpeningTime\";}s:3:\"mon\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/OpeningTime\";}s:3:\"sat\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/OpeningTime\";}s:3:\"sun\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/OpeningTime\";}s:3:\"thu\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/OpeningTime\";}s:3:\"tue\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/OpeningTime\";}s:3:\"wed\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/OpeningTime\";}}s:4:\"type\";s:6:\"object\";}s:8:\"postCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Post
  code of travel center\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Type
  of travel center\";s:4:\"enum\";a:2:{i:0;s:12:\"Reisezentrum\";i:1;s:15:\"Mobility
  Center\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"TravelCenterList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/TravelCenter\";}s:4:\"type\";s:5:\"array\";}}"
...
