---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":9:{s:11:\"description\";s:83:\"An API providing
  master data for german railway stations by DB Station&Service AG. \";s:5:\"title\";s:27:\"Stationsdatenbereitstellung\";s:7:\"version\";s:6:\"2.1.02\";s:21:\"x-apisguru-categories\";a:2:{i:0;s:9:\"transport\";i:1;s:9:\"open_data\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:102:\"https://api.apis.guru/v2/cache/logo/https_pbs.twimg.com_profile_images_591140150413025280_Cjcqjl2J.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:82:\"https://developer.deutschebahn.com/store/api-docs/DBOpenData/StaDa-Station_Data/v2\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:16:\"deutschebahn.com\";s:13:\"x-serviceName\";s:5:\"stada\";}"
host: api.deutschebahn.com
basePath: /stada/v2
paths:
  /stations:
    get:
      description: Get a QueryResult object containing station objects from the database
        applying to the parameters described below. nnQueryResult is a container providing
        the following information about the query result.n  1. the total number of
        hitsn  2. the maximum number of hits to be returned in that QueryResult objectn  3.
        the offset of the first hit returned in that QueryResult object with respect
        to all hits returned by the queryn  4. the result objectsn  nThe parameters
        described below work as filters to reduce the number of hits returned. Some
        of these parameters must be used only once, others are allowed to be used
        multiple times. Valid parameters that are allowed to be used only once are
        _offset_, _limit_ and _logicaloperator_. nnAll other parameters described
        below may be used multiple times.nnIf a parameter is given more than once,
        the result will contain all hits that match all given parameter values.nnE.g.
        _federalstate=berlin&federalstate=saarland_ returns all stations in Berlin
        and Saarland.nnIf more than one filter criterion is used at the same time,
        the different filter criteria are interpreted as if they are combined by a
        logical AND operator, unless the parameter _logicaloperator_ is set to _or_.nnE.g.
        _category=1-2&federalstate=hamburg_ returns all stations in Hamburg having
        category 1 or 2.nn_category=1-2&federalstate=hamburg&federalsate=hessen_ returns
        all stations in Hamburg and Hessen having category 1 or 2, whilenn_searchstring=berlin*&federalstate=hamburg&federalsate=hessen&logicaloperator=or_
        will return all stations with a name starting with 'berlin' as well as all
        stations in Hamburg and Hessen.nnIf no 'limit' parameter is given, the number
        of hits (stations) is set to its maximum value of 10000.nnTo specify parameter
        values containing German umlauts, the following encoding has to be usedn  *
        u00e4  => %C3%A4n  * u00f6  => %C3%B6n  * u00fc  => %C3%BCn  * u00c4  => %C3%84n  *
        u00d6  => %C3%96n  * u00dc  => %C3%9Cn  * u00df  => %C3%9Fn
      parameters:
      - description: Offset of the first hit returned in the QueryResult object with
          respect to all hits returned by the query. If this parameter is omitted,
          it will be set to 0 internally.
        format: int64
        in: query
        name: offset
        required: false
        type: integer
      - description: The maximum number of hits to be returned by that query. If 'limit'
          is set greater than 10000, it will be reset to 10000 internally and only
          10000 hits will be returned.
        format: int64
        in: query
        name: limit
        required: false
        type: integer
      - description: String to search for a station name. The wildcards * (indicating
          an arbitrary number of characters) and ? (indicating one single character)
          can be used in the search pattern. A comma separated list of station names
          is also supported (e.g. searchstring=hamburg*,berlin*).
        format: string
        in: query
        name: searchstring
        required: false
        type: string
      - description: Filter by station category. Category ranges are supported as
          well as lists of categories (e.g. category=2-4 or category=1,3-5). The category
          must be between 1 and 7 otherwise a parameter exception is returned.
        format: string
        in: query
        name: category
        required: false
        type: string
      - description: Filter by German federal state. Lists of federal states are also
          supported (e.g. federalstate=bayern,hamburg). Wildcards are not allowed
          here.
        format: string
        in: query
        name: federalstate
        required: false
        type: string
      - description: Filter by EVA number. Wildcards are not allowed here.
        format: int64
        in: query
        name: eva
        required: false
        type: integer
      - description: Filter by Ril100-identifier. Wildcards are not allowed here.
        format: string
        in: query
        name: ril
        required: false
        type: string
      - description: 'Logical operator to combine query parameters (default=AND).
          See above for further details.  Allowed values: or, and'
        format: string
        in: query
        name: logicaloperator
        required: false
        type: string
      produces:
      - application/json
      responses:
        200:
          description: station data
          schema:
            $ref: '#/definitions/QueryResult'
        400:
          description: bad request (illegal parameter or illegal parameter value)
          schema:
            $ref: '#/definitions/Error'
        404:
          description: not found
          schema:
            $ref: '#/definitions/Error'
        500:
          description: internal server error
          schema:
            $ref: '#/definitions/Error'
      summary: This operation provides the master data for german railway stations.
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /stations/{id}:
    get:
      description: Get a QueryResult object containing one station object specified
        by its id.
      parameters:
      - description: Station ID (Bahnhofsnummer)
        format: int32
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        200:
          description: station data
          schema:
            $ref: '#/definitions/QueryResult'
        400:
          description: bad request (illegal parameter or illegal parameter value)
          schema:
            $ref: '#/definitions/Error'
        404:
          description: not found
          schema:
            $ref: '#/definitions/Error'
        500:
          description: internal server error
          schema:
            $ref: '#/definitions/Error'
      summary: This operation provides the master data for a german railway station
        selected by its station-id.
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /szentralen:
    get:
      description: Get a QueryResult object containing SZentralen objects from the
        database applying to the parameters described below. nnQueryResult is a container
        providing the following information about the query result.n  1. the total
        number of hitsn  2. the maximum number of hits to be returned in that QueryResult
        objectn  3. the offset of the first hit returned in that QueryResult object
        with respect to all hits returned by the queryn  4. the result objectsn
      parameters:
      - description: Offset of the first hit returned in the QueryResult object with
          respect to all hits returned by the query. If this parameter is omitted,
          it will be set to 0 internally.
        format: int64
        in: query
        name: offset
        required: false
        type: integer
      - description: The maximum number of hits to be returned by that query. If 'limit'
          is set greater than 100, it will be reset to 100 internally and only 100
          hits will be returned.
        format: int64
        in: query
        name: limit
        required: false
        type: integer
      responses:
        200:
          description: 3-S-Zentralen data
          schema:
            $ref: '#/definitions/QueryResult'
        400:
          description: bad request (illegal parameter or illegal parameter value)
          schema:
            $ref: '#/definitions/Error'
        404:
          description: not found
          schema:
            $ref: '#/definitions/Error'
        500:
          description: internal server error
          schema:
            $ref: '#/definitions/Error'
      summary: This operation provides the master data for 3-S-Zentralen.
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
  /szentralen/{id}:
    get:
      description: 'Get a QueryResult object containing one SZentralen object specified
        by its id. '
      parameters:
      - description: id of the 3-S-Zentrale.
        format: int32
        in: path
        name: id
        required: true
        type: integer
      responses:
        200:
          description: 3-S-Zentralen data
          schema:
            $ref: '#/definitions/QueryResult'
        400:
          description: bad request (illegal parameter or illegal parameter value)
          schema:
            $ref: '#/definitions/Error'
        404:
          description: not found
          schema:
            $ref: '#/definitions/Error'
        500:
          description: internal server error
          schema:
            $ref: '#/definitions/Error'
      summary: This operation provides the master data for 3-S-Zentralen select by
        its id.
      x-auth-type: Application & Application User
      x-throttling-tier: Unlimited
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":19:{s:7:\"Address\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"city\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"houseNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"street\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"zipcode\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:15:\"Aufgabentraeger\";O:8:\"stdClass\":3:{s:11:\"description\";s:94:\"local
  public sector entity, responsible for short distance public transport in a specific
  area\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"full
  name of Aufgabentraeger\";s:4:\"type\";s:6:\"string\";}s:9:\"shortname\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"unique
  identifier\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"EVANumber\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:20:\"geographicCoordinate\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/GeographicPoint\";}s:6:\"isMain\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"station
  related EVA-Numbers\";s:4:\"type\";s:7:\"boolean\";}s:6:\"number\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"EVA
  identifier\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Error\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"errMsg\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"error
  message\";s:4:\"type\";s:6:\"string\";}s:5:\"errNo\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"error
  number\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:15:\"GeographicPoint\";O:8:\"stdClass\":3:{s:11:\"description\";s:83:\"GEOJSON
  objekt of type point. By default WGS84 is the coordinate system in GEOJSON.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"coordinates\";O:8:\"stdClass\":3:{s:11:\"description\";s:81:\"first
  value is longitude, second latitude third altitude (currently not provided)\";s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:106:\"the
  type of the GEOJSON Object e.g. point. Currently only point coordinates without
  altitude are provided.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"OpeningHours\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"period
  of time from/to\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"fromTime\";O:8:\"stdClass\":2:{s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:6:\"toTime\";O:8:\"stdClass\":2:{s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Partial\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:3:\"yes\";i:1;s:2:\"no\";i:2;s:7:\"partial\";}s:4:\"type\";s:6:\"string\";}s:11:\"QueryResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"limit\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"maximum
  number of result objects to be returned\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:6:\"offset\";O:8:\"stdClass\":3:{s:11:\"description\";s:96:\"offset
  of the first result object with respect to the total number of hits produced by
  the query\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:6:\"result\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"result
  objects produced by that query\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ResultObject\";}s:4:\"type\";s:5:\"array\";}s:5:\"total\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"total
  number of hits produced by that query\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:18:\"RegionalBereichRef\";O:8:\"stdClass\":3:{s:11:\"description\";s:88:\"reference
  object. an internal organization type of Station&Service, regional department.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"name
  of the regional department\";s:4:\"type\";s:6:\"string\";}s:6:\"number\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"unique
  identifier of the regional department\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"shortName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"Regionalbereich\";O:8:\"stdClass\":3:{s:11:\"description\";s:88:\"reference
  object. an internal organization type of Station&Service, regional department.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"name
  of the regional department\";s:4:\"type\";s:6:\"string\";}s:6:\"number\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"unique
  identifier of the regional department\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"shortName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"ResultObject\";O:8:\"stdClass\":2:{s:11:\"description\";s:79:\"An
  object of type Station or of type SZentrale depending on the query submitted\";s:4:\"type\";s:6:\"object\";}s:16:\"RiL100Identifier\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:20:\"geographicCoordinate\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/GeographicPoint\";}s:18:\"hasSteamPermission\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"permission
  for steam engines y/n\";s:4:\"type\";s:7:\"boolean\";}s:6:\"isMain\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"is
  stations main Ril100. Determination of Station&Service AG\";s:4:\"type\";s:7:\"boolean\";}s:13:\"rilIdentifier\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"Unique
  identifier of 'Betriebsstelle' according to Ril100\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"SZentrale\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"3-S-Zentralen
  are 7/24 hours operating centers for german railway stations\";s:10:\"properties\";O:8:\"stdClass\":9:{s:7:\"address\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Address\";}s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"email
  adress of the 3-S-Zentrale (no longer supported!)\";s:4:\"type\";s:6:\"string\";}s:17:\"internalFaxNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"internal
  fax number\";s:4:\"type\";s:6:\"string\";}s:19:\"internalPhoneNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"internal
  phone number\";s:4:\"type\";s:6:\"string\";}s:17:\"mobilePhoneNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"mobile
  phone number (no longer supported!)\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"unique
  identifier of 3SZentrale\";s:4:\"type\";s:6:\"string\";}s:6:\"number\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"unique
  identifier for SZentrale\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:15:\"publicFaxNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"public
  fax number\";s:4:\"type\";s:6:\"string\";}s:17:\"publicPhoneNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"SZentraleRef\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"reference
  object contained in station\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"unique
  identifier of 3SZentrale\";s:4:\"type\";s:6:\"string\";}s:6:\"number\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"unique
  identifier for SZentrale\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:17:\"publicPhoneNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Schedule\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"a
  weekly schedule\";s:10:\"properties\";O:8:\"stdClass\":8:{s:6:\"friday\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/OpeningHours\";}s:7:\"holiday\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/OpeningHours\";}s:6:\"monday\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/OpeningHours\";}s:8:\"saturday\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/OpeningHours\";}s:6:\"sunday\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/OpeningHours\";}s:8:\"thursday\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/OpeningHours\";}s:7:\"tuesday\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/OpeningHours\";}s:9:\"wednesday\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/OpeningHours\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Station\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":30:{s:13:\"DBinformation\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Schedule\";}s:15:\"aufgabentraeger\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/Aufgabentraeger\";}s:8:\"category\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"the
  stations category (1..7)\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"evaNumbers\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"station
  related EVA-Numbers\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/EVANumber\";}s:4:\"type\";s:5:\"array\";}s:12:\"federalState\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"german
  federal state\";s:4:\"type\";s:6:\"string\";}s:17:\"hasBicycleParking\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"public
  bicycle parking y/n\";s:4:\"type\";s:7:\"boolean\";}s:12:\"hasCarRental\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"car
  sharing or car rental y/n\";s:4:\"type\";s:7:\"boolean\";}s:11:\"hasDBLounge\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"DB
  lounge y/n\";s:4:\"type\";s:7:\"boolean\";}s:23:\"hasLocalPublicTransport\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"local
  public transport y/n\";s:4:\"type\";s:7:\"boolean\";}s:15:\"hasLockerSystem\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"public
  facilities y/n\";s:4:\"type\";s:7:\"boolean\";}s:15:\"hasLostAndFound\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"lost
  and found y/n\";s:4:\"type\";s:7:\"boolean\";}s:18:\"hasMobilityService\";O:8:\"stdClass\":2:{s:11:\"description\";s:106:\"values
  are 'no', 'yes, advance notification is requested...' or 'yes, advance notification
  is required...'\";s:4:\"type\";s:6:\"string\";}s:10:\"hasParking\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"public
  parking y/n\";s:4:\"type\";s:7:\"boolean\";}s:19:\"hasPublicFacilities\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"public
  facilities y/n\";s:4:\"type\";s:7:\"boolean\";}s:17:\"hasRailwayMission\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"railway
  mission y/n\";s:4:\"type\";s:7:\"boolean\";}s:17:\"hasSteplessAccess\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Partial\";s:11:\"description\";s:48:\"stepless
  access is availiable yes, no or partial\";}s:11:\"hasTaxiRank\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"taxi
  rank in front of the station y/n\";s:4:\"type\";s:7:\"boolean\";}s:15:\"hasTravelCenter\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"local
  travel center y/n\";s:4:\"type\";s:7:\"boolean\";}s:20:\"hasTravelNecessities\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"a
  shop for travel necessities y/n\";s:4:\"type\";s:7:\"boolean\";}s:7:\"hasWiFi\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"public
  Wi-Fi is available y/n\";s:4:\"type\";s:7:\"boolean\";}s:17:\"localServiceStaff\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Schedule\";}s:13:\"mailingAdress\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Address\";s:11:\"description\";s:38:\"mailing
  address of the railway station\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"the
  stations name\";s:4:\"type\";s:6:\"string\";}s:6:\"number\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"unique
  identifier representing a specific railway station\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:13:\"priceCategory\";O:8:\"stdClass\":3:{s:11:\"description\";s:81:\"determines
  in some respect the price for train stops at a specific station (1..7)\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:15:\"regionalbereich\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/RegionalBereichRef\";}s:17:\"riL100Identifiers\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"station
  related Ril100s\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/RiL100Identifier\";}s:4:\"type\";s:5:\"array\";}s:17:\"stationManagement\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/StationManagementRef\";}s:9:\"szentrale\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/SZentraleRef\";}s:15:\"timetableOffice\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/TimetableOffice\";}}s:4:\"type\";s:6:\"object\";}s:17:\"StationManagement\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"number\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"identifier\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:20:\"StationManagementRef\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"number\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"identifier\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:15:\"TimetableOffice\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:5:\"email\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"identifier\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
