---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Google\";s:3:\"url\";s:18:\"https://google.com\";}s:11:\"description\";s:75:\"Manages
  lightweight user-provided functions executed in response to events.\";s:5:\"title\";s:15:\"Cloud
  Functions\";s:7:\"version\";s:2:\"v1\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:37:\"https://console.developers.google.com\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:116:\"https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.6.2\";}s:6:\"format\";s:6:\"google\";s:3:\"url\";s:64:\"https://cloudfunctions.googleapis.com/$discovery/rest?version=v1\";s:7:\"version\";s:2:\"v1\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"googleapis.com\";s:13:\"x-serviceName\";s:14:\"cloudfunctions\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:21:\"google_cloudfunctions\";s:4:\"type\";s:7:\"openapi\";}}"
host: cloudfunctions.googleapis.com
basePath: /
paths: ~
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":20:{s:19:\"CallFunctionRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Request
  for the `CallFunction` method.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Input
  to be passed to the function.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"CallFunctionResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Response
  of `CallFunction` method.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"error\";O:8:\"stdClass\":2:{s:11:\"description\";s:84:\"Either
  system or user-function generated error. Set if execution\nwas not successful.\";s:4:\"type\";s:6:\"string\";}s:11:\"executionId\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Execution
  id of function invocation.\";s:4:\"type\";s:6:\"string\";}s:6:\"result\";O:8:\"stdClass\":2:{s:11:\"description\";s:142:\"Result
  populated for successful execution of synchronous function. Will\nnot be populated
  if function does not return a result through context.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"CloudFunction\";O:8:\"stdClass\":3:{s:11:\"description\";s:144:\"Describes
  a Cloud Function that contains user computation executed in\nresponse to an event.
  It encapsulate function and triggers configurations.\";s:10:\"properties\";O:8:\"stdClass\":16:{s:17:\"availableMemoryMb\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"The
  amount of memory in MB available for a function.\nDefaults to 256MB.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"User-provided
  description of a function.\";s:4:\"type\";s:6:\"string\";}s:10:\"entryPoint\";O:8:\"stdClass\":2:{s:11:\"description\";s:354:\"The
  name of the function (as defined in source code) that will be\nexecuted. Defaults
  to the resource name suffix, if not specified. For\nbackward compatibility, if function
  with given name is not found, then the\nsystem will try to use function named \"function\".\nFor
  Node.js this is name of a function exported by the module specified\nin `source_location`.\";s:4:\"type\";s:6:\"string\";}s:12:\"eventTrigger\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/EventTrigger\";s:11:\"description\";s:73:\"A
  source that fires events in response to a condition in another service.\";}s:12:\"httpsTrigger\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/HttpsTrigger\";s:11:\"description\";s:63:\"An
  HTTPS endpoint type of source that can be triggered via URL.\";}s:6:\"labels\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:43:\"Labels
  associated with this Cloud Function.\";s:4:\"type\";s:6:\"object\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:130:\"A
  user-defined name of the function. Function names must be unique\nglobally and match
  pattern `projects/*/locations/*/functions/*`\";s:4:\"type\";s:6:\"string\";}s:7:\"runtime\";O:8:\"stdClass\":2:{s:11:\"description\";s:83:\"The
  runtime in which the function is going to run. If empty, defaults to\nNode.js 6.\";s:4:\"type\";s:6:\"string\";}s:19:\"serviceAccountEmail\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"Output
  only. The email of the function's service account.\";s:4:\"type\";s:6:\"string\";}s:16:\"sourceArchiveUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:107:\"The
  Google Cloud Storage URL, starting with gs://, pointing to the zip\narchive which
  contains the function.\";s:4:\"type\";s:6:\"string\";}s:16:\"sourceRepository\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/SourceRepository\";s:11:\"description\";s:67:\"**Beta
  Feature**\n\nThe source repository where a function is hosted.\";}s:15:\"sourceUploadUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:119:\"The
  Google Cloud Storage signed URL used for source uploading, generated\nby google.cloud.functions.v1.GenerateUploadUrl\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Output
  only. Status of the function deployment.\";s:4:\"enum\";a:6:{i:0;s:33:\"CLOUD_FUNCTION_STATUS_UNSPECIFIED\";i:1;s:6:\"ACTIVE\";i:2;s:7:\"OFFLINE\";i:3;s:18:\"DEPLOY_IN_PROGRESS\";i:4;s:18:\"DELETE_IN_PROGRESS\";i:5;s:7:\"UNKNOWN\";}s:4:\"type\";s:6:\"string\";}s:7:\"timeout\";O:8:\"stdClass\":3:{s:11:\"description\";s:175:\"The
  function execution timeout. Execution is considered failed and\ncan be terminated
  if the function is not completed at the end of the\ntimeout period. Defaults to
  60 seconds.\";s:6:\"format\";s:15:\"google-duration\";s:4:\"type\";s:6:\"string\";}s:10:\"updateTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"Output
  only. The last update timestamp of a Cloud Function.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:9:\"versionId\";O:8:\"stdClass\":3:{s:11:\"description\";s:136:\"Output
  only.\nThe version identifier of the Cloud Function. Each deployment attempt\nresults
  in a new version of a function being created.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"EventTrigger\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"Describes
  EventTrigger, used to request events be sent from another\nservice.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"eventType\";O:8:\"stdClass\":2:{s:11:\"description\";s:598:\"Required.
  The type of event to observe. For example:\n`providers/cloud.storage/eventTypes/object.change`
  and\n`providers/cloud.pubsub/eventTypes/topic.publish`.\n\nEvent types match pattern
  `providers/*/eventTypes/*.*`.\nThe pattern contains:\n\n1. namespace: For example,
  `cloud.storage` and\n   `google.firebase.analytics`.\n2. resource type: The type
  of resource on which event occurs. For\n   example, the Google Cloud Storage API
  includes the type `object`.\n3. action: The action that generates the event. For
  example, action for\n   a Google Cloud Storage Object is 'change'.\nThese parts
  are lower case.\";s:4:\"type\";s:6:\"string\";}s:13:\"failurePolicy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/FailurePolicy\";s:11:\"description\";s:39:\"Specifies
  policy for failed executions.\";}s:8:\"resource\";O:8:\"stdClass\":2:{s:11:\"description\";s:807:\"Required.
  The resource(s) from which to observe events, for example,\n`projects/_/buckets/myBucket`.\n\nNot
  all syntactically correct values are accepted by all services. For\nexample:\n\n1.
  The authorization model must support it. Google Cloud Functions\n   only allows
  EventTriggers to be deployed that observe resources in the\n   same project as the
  `CloudFunction`.\n2. The resource type must match the pattern expected for an\n
  \  `event_type`. For example, an `EventTrigger` that has an\n   `event_type` of
  \"google.pubsub.topic.publish\" should have a resource\n   that matches Google Cloud
  Pub/Sub topics.\n\nAdditionally, some services may support short names when creating
  an\n`EventTrigger`. These will always be returned in the normalized \"long\"\nformat.\n\nSee
  each *service's* documentation for supported formats.\";s:4:\"type\";s:6:\"string\";}s:7:\"service\";O:8:\"stdClass\":2:{s:11:\"description\";s:242:\"The
  hostname of the service that should be observed.\n\nIf no string is provided, the
  default service implementing the API will\nbe used. For example, `storage.googleapis.com`
  is the default for all\nevent types in the `google.storage` namespace.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"FailurePolicy\";O:8:\"stdClass\":3:{s:11:\"description\";s:132:\"Describes
  the policy in case of function's execution failure.\nIf empty, then defaults to
  ignoring failures (i.e. not retrying them).\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"retry\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Retry\";s:11:\"description\";s:69:\"If
  specified, then the function will be retried in case of a failure.\";}}s:4:\"type\";s:6:\"object\";}s:26:\"GenerateDownloadUrlRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Request
  of `GenerateDownloadUrl` method.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"versionId\";O:8:\"stdClass\":3:{s:11:\"description\";s:79:\"The
  optional version of function. If not set, default, current version\nis used.\";s:6:\"format\";s:6:\"uint64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:27:\"GenerateDownloadUrlResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Response
  of `GenerateDownloadUrl` method.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"downloadUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:100:\"The
  generated Google Cloud Storage signed URL that should be used for\nfunction source
  code download.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:24:\"GenerateUploadUrlRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Request
  of `GenerateSourceUploadUrl` method.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:25:\"GenerateUploadUrlResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Response
  of `GenerateSourceUploadUrl` method.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"uploadUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:169:\"The
  generated Google Cloud Storage signed URL that should be used for a\nfunction source
  code upload. The uploaded file should be a zip archive\nwhich contains a function.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"HttpsTrigger\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"Describes
  HttpsTrigger, could be used to connect web hooks to function.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Output
  only. The deployed url for the function.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"ListFunctionsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Response
  for the `ListFunctions` method.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"functions\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"The
  functions that match the request.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/CloudFunction\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:187:\"If
  not empty, indicates that there may be more functions that match\nthe request; this
  value should be passed in a new\ngoogle.cloud.functions.v1.ListFunctionsRequest\nto
  get more functions.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"ListLocationsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  response message for Locations.ListLocations.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"locations\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"A
  list of locations that matches the specified filter in the request.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Location\";}s:4:\"type\";s:5:\"array\";}s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  standard List next-page token.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:22:\"ListOperationsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  response message for Operations.ListOperations.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"nextPageToken\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  standard List next-page token.\";s:4:\"type\";s:6:\"string\";}s:10:\"operations\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"A
  list of operations that matches the specified filter in the request.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Operation\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Location\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"A
  resource that represents Google Cloud Platform location.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:88:\"The
  friendly name for this location, typically a nearby city name.\nFor example, \"Tokyo\".\";s:4:\"type\";s:6:\"string\";}s:6:\"labels\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:103:\"Cross-service
  attributes for the location. For example\n\n    {\"cloud.googleapis.com/region\":
  \"us-east1\"}\";s:4:\"type\";s:6:\"object\";}s:10:\"locationId\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"The
  canonical id for this location. For example: `\"us-east1\"`.\";s:4:\"type\";s:6:\"string\";}s:8:\"metadata\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:61:\"Properties
  of the object. Contains field @type with type URL.\";}s:11:\"description\";s:84:\"Service-specific
  metadata. For example the available capacity at the given\nlocation.\";s:4:\"type\";s:6:\"object\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:132:\"Resource
  name for the location, which may vary between implementations.\nFor example: `\"projects/example-project/locations/us-east1\"`\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"Operation\";O:8:\"stdClass\":3:{s:11:\"description\";s:91:\"This
  resource represents a long-running operation that is the result of a\nnetwork API
  call.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"done\";O:8:\"stdClass\":2:{s:11:\"description\";s:155:\"If
  the value is `false`, it means the operation is still in progress.\nIf `true`, the
  operation is completed, and either `error` or `response` is\navailable.\";s:4:\"type\";s:7:\"boolean\";}s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Status\";s:11:\"description\";s:69:\"The
  error result of the operation in case of failure or cancellation.\";}s:8:\"metadata\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:61:\"Properties
  of the object. Contains field @type with type URL.\";}s:11:\"description\";s:281:\"Service-specific
  metadata associated with the operation.  It typically\ncontains progress information
  and common metadata such as create time.\nSome services might not provide such metadata.
  \ Any method that returns a\nlong-running operation should document the metadata
  type, if any.\";s:4:\"type\";s:6:\"object\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:203:\"The
  server-assigned name, which is only unique within the same service that\noriginally
  returns it. If you use the default HTTP mapping, the\n`name` should have the format
  of `operations/some/unique/name`.\";s:4:\"type\";s:6:\"string\";}s:8:\"response\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:61:\"Properties
  of the object. Contains field @type with type URL.\";}s:11:\"description\";s:492:\"The
  normal response of the operation in case of success.  If the original\nmethod returns
  no data on success, such as `Delete`, the response is\n`google.protobuf.Empty`.
  \ If the original method is standard\n`Get`/`Create`/`Update`, the response should
  be the resource.  For other\nmethods, the response should have the type `XxxResponse`,
  where `Xxx`\nis the original method name.  For example, if the original method name\nis
  `TakeSnapshot()`, the inferred response type is\n`TakeSnapshotResponse`.\";s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:19:\"OperationMetadataV1\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Metadata
  describing an Operation\";s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"request\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:61:\"Properties
  of the object. Contains field @type with type URL.\";}s:11:\"description\";s:48:\"The
  original request that started the operation.\";s:4:\"type\";s:6:\"object\";}s:6:\"target\";O:8:\"stdClass\":2:{s:11:\"description\";s:96:\"Target
  of the operation - for example\nprojects/project-1/locations/region-1/functions/function-1\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Type
  of operation.\";s:4:\"enum\";a:4:{i:0;s:21:\"OPERATION_UNSPECIFIED\";i:1;s:15:\"CREATE_FUNCTION\";i:2;s:15:\"UPDATE_FUNCTION\";i:3;s:15:\"DELETE_FUNCTION\";}s:4:\"type\";s:6:\"string\";}s:10:\"updateTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  last update timestamp of the operation.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:9:\"versionId\";O:8:\"stdClass\":3:{s:11:\"description\";s:124:\"Version
  id of the function created or updated by an API call.\nThis field is only pupulated
  for Create and Update operations.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:24:\"OperationMetadataV1Beta2\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Metadata
  describing an Operation\";s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"request\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:61:\"Properties
  of the object. Contains field @type with type URL.\";}s:11:\"description\";s:48:\"The
  original request that started the operation.\";s:4:\"type\";s:6:\"object\";}s:6:\"target\";O:8:\"stdClass\":2:{s:11:\"description\";s:96:\"Target
  of the operation - for example\nprojects/project-1/locations/region-1/functions/function-1\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Type
  of operation.\";s:4:\"enum\";a:4:{i:0;s:21:\"OPERATION_UNSPECIFIED\";i:1;s:15:\"CREATE_FUNCTION\";i:2;s:15:\"UPDATE_FUNCTION\";i:3;s:15:\"DELETE_FUNCTION\";}s:4:\"type\";s:6:\"string\";}s:10:\"updateTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  last update timestamp of the operation.\";s:6:\"format\";s:15:\"google-datetime\";s:4:\"type\";s:6:\"string\";}s:9:\"versionId\";O:8:\"stdClass\":3:{s:11:\"description\";s:124:\"Version
  id of the function created or updated by an API call.\nThis field is only pupulated
  for Create and Update operations.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Retry\";O:8:\"stdClass\":3:{s:11:\"description\";s:273:\"Describes
  the retry policy in case of function's execution failure.\nA function execution
  will be retried on any failure.\nA failed execution will be retried up to 7 days
  with an exponential backoff\n(capped at 10 seconds).\nRetried execution is charged
  as any other execution.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:16:\"SourceRepository\";O:8:\"stdClass\":3:{s:11:\"description\";s:113:\"Describes
  SourceRepository, used to represent parameters related to\nsource repository where
  a function is hosted.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"deployedUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:182:\"Output
  only. The URL pointing to the hosted repository where the function\nwere defined
  at the time of deployment. It always points to a specific\ncommit in the format
  described above.\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:629:\"The
  URL pointing to the hosted repository where the function is defined.\nThere are
  supported Cloud Source Repository URLs in the following\nformats:\n\nTo refer to
  a specific commit:\n`https://source.developers.google.com/projects/*/repos/*/revisions/*/paths/*`\nTo
  refer to a moveable alias (branch):\n`https://source.developers.google.com/projects/*/repos/*/moveable-aliases/*/paths/*`\nIn
  particular, to refer to HEAD use `master` moveable alias.\nTo refer to a specific
  fixed alias (tag):\n`https://source.developers.google.com/projects/*/repos/*/fixed-aliases/*/paths/*`\n\nYou
  may omit `paths/*` if you want to use the main directory.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Status\";O:8:\"stdClass\":3:{s:11:\"description\";s:2437:\"The
  `Status` type defines a logical error model that is suitable for different\nprogramming
  environments, including REST APIs and RPC APIs. It is used by\n[gRPC](https://github.com/grpc).
  The error model is designed to be:\n\n- Simple to use and understand for most users\n-
  Flexible enough to meet unexpected needs\n\n# Overview\n\nThe `Status` message contains
  three pieces of data: error code, error message,\nand error details. The error code
  should be an enum value of\ngoogle.rpc.Code, but it may accept additional error
  codes if needed.  The\nerror message should be a developer-facing English message
  that helps\ndevelopers *understand* and *resolve* the error. If a localized user-facing\nerror
  message is needed, put the localized message in the error details or\nlocalize it
  in the client. The optional error details may contain arbitrary\ninformation about
  the error. There is a predefined set of error detail types\nin the package `google.rpc`
  that can be used for common error conditions.\n\n# Language mapping\n\nThe `Status`
  message is the logical representation of the error model, but it\nis not necessarily
  the actual wire format. When the `Status` message is\nexposed in different client
  libraries and different wire protocols, it can be\nmapped differently. For example,
  it will likely be mapped to some exceptions\nin Java, but more likely mapped to
  some error codes in C.\n\n# Other uses\n\nThe error model and the `Status` message
  can be used in a variety of\nenvironments, either with or without APIs, to provide
  a\nconsistent developer experience across different environments.\n\nExample uses
  of this error model include:\n\n- Partial errors. If a service needs to return partial
  errors to the client,\n    it may embed the `Status` in the normal response to indicate
  the partial\n    errors.\n\n- Workflow errors. A typical workflow has multiple steps.
  Each step may\n    have a `Status` message for error reporting.\n\n- Batch operations.
  If a client uses batch request and batch response, the\n    `Status` message should
  be used directly inside batch response, one for\n    each error sub-response.\n\n-
  Asynchronous operations. If an API call embeds asynchronous operation\n    results
  in its response, the status of those operations should be\n    represented directly
  using the `Status` message.\n\n- Logging. If some API errors are stored in logs,
  the message `Status` could\n    be used directly after any stripping needed for
  security/privacy reasons.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"The
  status code, which should be an enum value of google.rpc.Code.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"details\";O:8:\"stdClass\":3:{s:11:\"description\";s:105:\"A
  list of messages that carry the error details.  There is a common set of\nmessage
  types for APIs to use.\";s:5:\"items\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:11:\"description\";s:61:\"Properties
  of the object. Contains field @type with type URL.\";}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:188:\"A
  developer-facing error message, which should be in English. Any\nuser-facing error
  message should be localized and sent in the\ngoogle.rpc.Status.details field, or
  localized by the client.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
