---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":14:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:9:\"x-twitter\";s:12:\"PermittedSoc\";}s:11:\"description\";s:268:\"Amazon
  Comprehend is an AWS service for gaining insight into the content of documents.
  Use these actions to determine the topics contained in your documents, the topics
  they discuss, the predominant sentiment expressed in them, the predominant language
  used, and more.\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache
  2.0 License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:17:\"Amazon
  Comprehend\";s:7:\"version\";s:10:\"2017-11-27\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:94:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/comprehend-2017-11-27.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v4\";s:13:\"x-serviceName\";s:10:\"comprehend\";}"
host: comprehend.amazonaws.com
basePath: /
paths: ~
produces:
- application/json
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":125:{s:15:\"AnyLengthString\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:37:\"BatchDetectDominantLanguageItemResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:136:\"The
  result of calling the operation. The operation returns one object for each document
  that is successfully processed by the operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"Index\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:55:\"The
  zero-based index of the document in the input list.\";}s:9:\"Languages\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/ListOfDominantLanguages\";s:11:\"description\";s:94:\"One
  or more <a>DominantLanguage</a> objects describing the dominant languages in the
  document.\";}}s:4:\"type\";s:6:\"object\";}s:34:\"BatchDetectDominantLanguageRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"TextList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StringList\";s:11:\"description\";s:219:\"A
  list containing the text of the input documents. The list can contain a maximum
  of 25 documents. Each document should contain at least 20 characters and must contain
  fewer than 5,000 bytes of UTF-8 encoded characters.\";}}s:8:\"required\";a:1:{i:0;s:8:\"TextList\";}s:4:\"type\";s:6:\"object\";}s:35:\"BatchDetectDominantLanguageResponse\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"ErrorList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/BatchItemErrorList\";s:11:\"description\";s:275:\"A
  list containing one object for each document that contained an error. The results
  are sorted in ascending order by the <code>Index</code> field and match the order
  of the documents in the input list. If there are no errors in the batch, the <code>ErrorList</code>
  is empty.\";}s:10:\"ResultList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:48:\"#/definitions/ListOfDetectDominantLanguageResult\";s:11:\"description\";s:268:\"A
  list of objects containing the results of the operation. The results are sorted
  in ascending order by the <code>Index</code> field and match the order of the documents
  in the input list. If all of the documents contain an error, the <code>ResultList</code>
  is empty.\";}}s:8:\"required\";a:2:{i:0;s:10:\"ResultList\";i:1;s:9:\"ErrorList\";}s:4:\"type\";s:6:\"object\";}s:29:\"BatchDetectEntitiesItemResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:136:\"The
  result of calling the operation. The operation returns one object for each document
  that is successfully processed by the operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"Entities\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ListOfEntities\";s:11:\"description\";s:80:\"One
  or more <a>Entity</a> objects, one for each entity detected in the document.\";}s:5:\"Index\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:55:\"The
  zero-based index of the document in the input list.\";}}s:4:\"type\";s:6:\"object\";}s:26:\"BatchDetectEntitiesRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"LanguageCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/LanguageCode\";s:11:\"description\";s:130:\"The
  language of the input documents. You can specify English (\"en\") or Spanish (\"es\").
  All documents must be in the same language.\";}s:8:\"TextList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StringList\";s:11:\"description\";s:177:\"A
  list containing the text of the input documents. The list can contain a maximum
  of 25 documents. Each document must contain fewer than 5,000 bytes of UTF-8 encoded
  characters.\";}}s:8:\"required\";a:2:{i:0;s:8:\"TextList\";i:1;s:12:\"LanguageCode\";}s:4:\"type\";s:6:\"object\";}s:27:\"BatchDetectEntitiesResponse\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"ErrorList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/BatchItemErrorList\";s:11:\"description\";s:275:\"A
  list containing one object for each document that contained an error. The results
  are sorted in ascending order by the <code>Index</code> field and match the order
  of the documents in the input list. If there are no errors in the batch, the <code>ErrorList</code>
  is empty.\";}s:10:\"ResultList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/ListOfDetectEntitiesResult\";s:11:\"description\";s:268:\"A
  list of objects containing the results of the operation. The results are sorted
  in ascending order by the <code>Index</code> field and match the order of the documents
  in the input list. If all of the documents contain an error, the <code>ResultList</code>
  is empty.\";}}s:8:\"required\";a:2:{i:0;s:10:\"ResultList\";i:1;s:9:\"ErrorList\";}s:4:\"type\";s:6:\"object\";}s:31:\"BatchDetectKeyPhrasesItemResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:136:\"The
  result of calling the operation. The operation returns one object for each document
  that is successfully processed by the operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"Index\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:55:\"The
  zero-based index of the document in the input list.\";}s:10:\"KeyPhrases\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ListOfKeyPhrases\";s:11:\"description\";s:87:\"One
  or more <a>KeyPhrase</a> objects, one for each key phrase detected in the document.\";}}s:4:\"type\";s:6:\"object\";}s:28:\"BatchDetectKeyPhrasesRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"LanguageCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/LanguageCode\";s:11:\"description\";s:130:\"The
  language of the input documents. You can specify English (\"en\") or Spanish (\"es\").
  All documents must be in the same language.\";}s:8:\"TextList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StringList\";s:11:\"description\";s:177:\"A
  list containing the text of the input documents. The list can contain a maximum
  of 25 documents. Each document must contain fewer that 5,000 bytes of UTF-8 encoded
  characters.\";}}s:8:\"required\";a:2:{i:0;s:8:\"TextList\";i:1;s:12:\"LanguageCode\";}s:4:\"type\";s:6:\"object\";}s:29:\"BatchDetectKeyPhrasesResponse\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"ErrorList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/BatchItemErrorList\";s:11:\"description\";s:275:\"A
  list containing one object for each document that contained an error. The results
  are sorted in ascending order by the <code>Index</code> field and match the order
  of the documents in the input list. If there are no errors in the batch, the <code>ErrorList</code>
  is empty.\";}s:10:\"ResultList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/ListOfDetectKeyPhrasesResult\";s:11:\"description\";s:268:\"A
  list of objects containing the results of the operation. The results are sorted
  in ascending order by the <code>Index</code> field and match the order of the documents
  in the input list. If all of the documents contain an error, the <code>ResultList</code>
  is empty.\";}}s:8:\"required\";a:2:{i:0;s:10:\"ResultList\";i:1;s:9:\"ErrorList\";}s:4:\"type\";s:6:\"object\";}s:30:\"BatchDetectSentimentItemResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:136:\"The
  result of calling the operation. The operation returns one object for each document
  that is successfully processed by the operation.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"Index\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:55:\"The
  zero-based index of the document in the input list.\";}s:9:\"Sentiment\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/SentimentType\";s:11:\"description\";s:39:\"The
  sentiment detected in the document.\";}s:14:\"SentimentScore\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/SentimentScore\";s:11:\"description\";s:94:\"The
  level of confidence that Amazon Comprehend has in the accuracy of its sentiment
  detection.\";}}s:4:\"type\";s:6:\"object\";}s:27:\"BatchDetectSentimentRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"LanguageCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/LanguageCode\";s:11:\"description\";s:130:\"The
  language of the input documents. You can specify English (\"en\") or Spanish (\"es\").
  All documents must be in the same language.\";}s:8:\"TextList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StringList\";s:11:\"description\";s:177:\"A
  list containing the text of the input documents. The list can contain a maximum
  of 25 documents. Each document must contain fewer that 5,000 bytes of UTF-8 encoded
  characters.\";}}s:8:\"required\";a:2:{i:0;s:8:\"TextList\";i:1;s:12:\"LanguageCode\";}s:4:\"type\";s:6:\"object\";}s:28:\"BatchDetectSentimentResponse\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"ErrorList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/BatchItemErrorList\";s:11:\"description\";s:275:\"A
  list containing one object for each document that contained an error. The results
  are sorted in ascending order by the <code>Index</code> field and match the order
  of the documents in the input list. If there are no errors in the batch, the <code>ErrorList</code>
  is empty.\";}s:10:\"ResultList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/ListOfDetectSentimentResult\";s:11:\"description\";s:268:\"A
  list of objects containing the results of the operation. The results are sorted
  in ascending order by the <code>Index</code> field and match the order of the documents
  in the input list. If all of the documents contain an error, the <code>ResultList</code>
  is empty.\";}}s:8:\"required\";a:2:{i:0;s:10:\"ResultList\";i:1;s:9:\"ErrorList\";}s:4:\"type\";s:6:\"object\";}s:27:\"BatchDetectSyntaxItemResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:118:\"The
  result of calling the operation. The operation returns one object that is successfully
  processed by the operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"Index\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:55:\"The
  zero-based index of the document in the input list.\";}s:12:\"SyntaxTokens\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ListOfSyntaxTokens\";s:11:\"description\";s:73:\"The
  syntax tokens for the words in the document, one token for each word.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"BatchDetectSyntaxRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"LanguageCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/SyntaxLanguageCode\";s:11:\"description\";s:130:\"The
  language of the input documents. You can specify English (\"en\") or Spanish (\"es\").
  All documents must be in the same language.\";}s:8:\"TextList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StringList\";s:11:\"description\";s:177:\"A
  list containing the text of the input documents. The list can contain a maximum
  of 25 documents. Each document must contain fewer that 5,000 bytes of UTF-8 encoded
  characters.\";}}s:8:\"required\";a:2:{i:0;s:8:\"TextList\";i:1;s:12:\"LanguageCode\";}s:4:\"type\";s:6:\"object\";}s:25:\"BatchDetectSyntaxResponse\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"ErrorList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/BatchItemErrorList\";s:11:\"description\";s:275:\"A
  list containing one object for each document that contained an error. The results
  are sorted in ascending order by the <code>Index</code> field and match the order
  of the documents in the input list. If there are no errors in the batch, the <code>ErrorList</code>
  is empty.\";}s:10:\"ResultList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/ListOfDetectSyntaxResult\";s:11:\"description\";s:268:\"A
  list of objects containing the results of the operation. The results are sorted
  in ascending order by the <code>Index</code> field and match the order of the documents
  in the input list. If all of the documents contain an error, the <code>ResultList</code>
  is empty.\";}}s:8:\"required\";a:2:{i:0;s:10:\"ResultList\";i:1;s:9:\"ErrorList\";}s:4:\"type\";s:6:\"object\";}s:14:\"BatchItemError\";O:8:\"stdClass\":3:{s:11:\"description\";s:175:\"Describes
  an error that occurred while processing a document in a batch. The operation returns
  on <code>BatchItemError</code> object for each document that contained an error.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"ErrorCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:36:\"The
  numeric error code of the error.\";}s:12:\"ErrorMessage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:32:\"A
  text description of the error.\";}s:5:\"Index\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:55:\"The
  zero-based index of the document in the input list.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"BatchItemErrorList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/BatchItemError\";}s:4:\"type\";s:5:\"array\";}s:31:\"BatchSizeLimitExceededException\";O:8:\"stdClass\":3:{s:11:\"description\";s:108:\"The
  number of documents in the request exceeds the limit of 25. Try your request again
  with fewer documents.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:24:\"ClientRequestTokenString\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:64;s:9:\"minLength\";i:1;s:7:\"pattern\";s:15:\"^[a-zA-Z0-9-]+$\";s:4:\"type\";s:6:\"string\";}s:43:\"DescribeDominantLanguageDetectionJobRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"JobId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/JobId\";s:11:\"description\";s:115:\"The
  identifier that Amazon Comprehend generated for the job. The operation returns this
  identifier in its response.\";}}s:8:\"required\";a:1:{i:0;s:5:\"JobId\";}s:4:\"type\";s:6:\"object\";}s:44:\"DescribeDominantLanguageDetectionJobResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:38:\"DominantLanguageDetectionJobProperties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:52:\"#/definitions/DominantLanguageDetectionJobProperties\";s:11:\"description\";s:89:\"An
  object that contains the properties associated with a dominant language detection
  job.\";}}s:4:\"type\";s:6:\"object\";}s:35:\"DescribeEntitiesDetectionJobRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"JobId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/JobId\";s:11:\"description\";s:115:\"The
  identifier that Amazon Comprehend generated for the job. The operation returns this
  identifier in its response.\";}}s:8:\"required\";a:1:{i:0;s:5:\"JobId\";}s:4:\"type\";s:6:\"object\";}s:36:\"DescribeEntitiesDetectionJobResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:30:\"EntitiesDetectionJobProperties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/EntitiesDetectionJobProperties\";s:11:\"description\";s:81:\"An
  object that contains the properties associated with an entities detection job.\";}}s:4:\"type\";s:6:\"object\";}s:37:\"DescribeKeyPhrasesDetectionJobRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"JobId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/JobId\";s:11:\"description\";s:115:\"The
  identifier that Amazon Comprehend generated for the job. The operation returns this
  identifier in its response.\";}}s:8:\"required\";a:1:{i:0;s:5:\"JobId\";}s:4:\"type\";s:6:\"object\";}s:38:\"DescribeKeyPhrasesDetectionJobResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:32:\"KeyPhrasesDetectionJobProperties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:46:\"#/definitions/KeyPhrasesDetectionJobProperties\";s:11:\"description\";s:84:\"An
  object that contains the properties associated with a key phrases detection job.
  \";}}s:4:\"type\";s:6:\"object\";}s:36:\"DescribeSentimentDetectionJobRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"JobId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/JobId\";s:11:\"description\";s:115:\"The
  identifier that Amazon Comprehend generated for the job. The operation returns this
  identifier in its response.\";}}s:8:\"required\";a:1:{i:0;s:5:\"JobId\";}s:4:\"type\";s:6:\"object\";}s:37:\"DescribeSentimentDetectionJobResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:31:\"SentimentDetectionJobProperties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:45:\"#/definitions/SentimentDetectionJobProperties\";s:11:\"description\";s:81:\"An
  object that contains the properties associated with a sentiment detection job.\";}}s:4:\"type\";s:6:\"object\";}s:33:\"DescribeTopicsDetectionJobRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"JobId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/JobId\";s:11:\"description\";s:57:\"The
  identifier assigned by the user to the detection job.\";}}s:8:\"required\";a:1:{i:0;s:5:\"JobId\";}s:4:\"type\";s:6:\"object\";}s:34:\"DescribeTopicsDetectionJobResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:28:\"TopicsDetectionJobProperties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/TopicsDetectionJobProperties\";s:11:\"description\";s:45:\"The
  list of properties for the requested job.\";}}s:4:\"type\";s:6:\"object\";}s:29:\"DetectDominantLanguageRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Text\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:139:\"A
  UTF-8 text string. Each string should contain at least 20 characters and must contain
  fewer that 5,000 bytes of UTF-8 encoded characters.\";}}s:8:\"required\";a:1:{i:0;s:4:\"Text\";}s:4:\"type\";s:6:\"object\";}s:30:\"DetectDominantLanguageResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"Languages\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/ListOfDominantLanguages\";s:11:\"description\";s:377:\"The
  languages that Amazon Comprehend detected in the input text. For each language,
  the response returns the RFC 5646 language code and the level of confidence that
  Amazon Comprehend has in the accuracy of its inference. For more information about
  RFC 5646, see <a href=\"https://tools.ietf.org/html/rfc5646\">Tags for Identifying
  Languages</a> on the <i>IETF Tools</i> web site.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"DetectEntitiesRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"LanguageCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/LanguageCode\";s:11:\"description\";s:130:\"The
  language of the input documents. You can specify English (\"en\") or Spanish (\"es\").
  All documents must be in the same language.\";}s:4:\"Text\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:97:\"A
  UTF-8 text string. Each string must contain fewer that 5,000 bytes of UTF-8 encoded
  characters.\";}}s:8:\"required\";a:2:{i:0;s:4:\"Text\";i:1;s:12:\"LanguageCode\";}s:4:\"type\";s:6:\"object\";}s:22:\"DetectEntitiesResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"Entities\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ListOfEntities\";s:11:\"description\";s:289:\"A
  collection of entities identified in the input text. For each entity, the response
  provides the entity text, entity type, where the entity text begins and ends, and
  the level of confidence that Amazon Comprehend has in the detection. For a list
  of entity types, see <a>how-entities</a>. \";}}s:4:\"type\";s:6:\"object\";}s:23:\"DetectKeyPhrasesRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"LanguageCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/LanguageCode\";s:11:\"description\";s:130:\"The
  language of the input documents. You can specify English (\"en\") or Spanish (\"es\").
  All documents must be in the same language.\";}s:4:\"Text\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:97:\"A
  UTF-8 text string. Each string must contain fewer that 5,000 bytes of UTF-8 encoded
  characters.\";}}s:8:\"required\";a:2:{i:0;s:4:\"Text\";i:1;s:12:\"LanguageCode\";}s:4:\"type\";s:6:\"object\";}s:24:\"DetectKeyPhrasesResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"KeyPhrases\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ListOfKeyPhrases\";s:11:\"description\";s:279:\"A
  collection of key phrases that Amazon Comprehend identified in the input text. For
  each key phrase, the response provides the text of the key phrase, where the key
  phrase begins and ends, and the level of confidence that Amazon Comprehend has in
  the accuracy of the detection. \";}}s:4:\"type\";s:6:\"object\";}s:22:\"DetectSentimentRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"LanguageCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/LanguageCode\";s:11:\"description\";s:130:\"The
  language of the input documents. You can specify English (\"en\") or Spanish (\"es\").
  All documents must be in the same language.\";}s:4:\"Text\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:97:\"A
  UTF-8 text string. Each string must contain fewer that 5,000 bytes of UTF-8 encoded
  characters.\";}}s:8:\"required\";a:2:{i:0;s:4:\"Text\";i:1;s:12:\"LanguageCode\";}s:4:\"type\";s:6:\"object\";}s:23:\"DetectSentimentResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"Sentiment\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/SentimentType\";s:11:\"description\";s:85:\"The
  inferred sentiment that Amazon Comprehend has the highest level of confidence in.\";}s:14:\"SentimentScore\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/SentimentScore\";s:11:\"description\";s:79:\"An
  object that lists the sentiments, and their corresponding confidence levels.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"DetectSyntaxRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"LanguageCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/SyntaxLanguageCode\";s:11:\"description\";s:91:\"The
  language code of the input documents. You can specify English (\"en\") or Spanish
  (\"es\").\";}s:4:\"Text\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:90:\"A
  UTF-8 string. Each string must contain fewer that 5,000 bytes of UTF encoded characters.\";}}s:8:\"required\";a:2:{i:0;s:4:\"Text\";i:1;s:12:\"LanguageCode\";}s:4:\"type\";s:6:\"object\";}s:20:\"DetectSyntaxResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"SyntaxTokens\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ListOfSyntaxTokens\";s:11:\"description\";s:278:\"A
  collection of syntax tokens describing the text. For each token, the response provides
  the text, the token type, where the text begins and ends, and the level of confidence
  that Amazon Comprehend has that the token is correct. For a list of token types,
  see <a>how-syntax</a>.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"DominantLanguage\";O:8:\"stdClass\":3:{s:11:\"description\";s:149:\"Returns
  the code for the dominant language in the input text and the level of confidence
  that Amazon Comprehend has in the accuracy of the detection.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"LanguageCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:210:\"The
  RFC 5646 language code for the dominant language. For more information about RFC
  5646, see <a href=\"https://tools.ietf.org/html/rfc5646\">Tags for Identifying Languages</a>
  on the <i>IETF Tools</i> web site.\";}s:5:\"Score\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Float\";s:11:\"description\";s:84:\"The
  level of confidence that Amazon Comprehend has in the accuracy of the detection.\";}}s:4:\"type\";s:6:\"object\";}s:34:\"DominantLanguageDetectionJobFilter\";O:8:\"stdClass\":3:{s:11:\"description\";s:119:\"Provides
  information for filtering a list of dominant language detection jobs. For more information,
  see the operation.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"JobName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/JobName\";s:11:\"description\";s:31:\"Filters
  on the name of the job.\";}s:9:\"JobStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/JobStatus\";s:11:\"description\";s:90:\"Filters
  the list of jobs based on job status. Returns only jobs with the specified status.\";}s:15:\"SubmitTimeAfter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:196:\"Filters
  the list of jobs based on the time that the job was submitted for processing. Returns
  only jobs submitted after the specified time. Jobs are returned in descending order,
  newest to oldest.\";}s:16:\"SubmitTimeBefore\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:196:\"Filters
  the list of jobs based on the time that the job was submitted for processing. Returns
  only jobs submitted before the specified time. Jobs are returned in ascending order,
  oldest to newest.\";}}s:4:\"type\";s:6:\"object\";}s:38:\"DominantLanguageDetectionJobProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"Provides
  information about a dominant language detection job.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:17:\"DataAccessRoleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/IamRoleArn\";s:11:\"description\";s:91:\"The
  Amazon Resource Name (ARN) that gives Amazon Comprehend read access to your input
  data.\";}s:7:\"EndTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:60:\"The
  time that the dominant language detection job completed.\";}s:15:\"InputDataConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/InputDataConfig\";s:11:\"description\";s:100:\"The
  input data configuration that you supplied when you created the dominant language
  detection job.\";}s:5:\"JobId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/JobId\";s:11:\"description\";s:63:\"The
  identifier assigned to the dominant language detection job.\";}s:7:\"JobName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/JobName\";s:11:\"description\";s:66:\"The
  name that you assigned to the dominant language detection job.\";}s:9:\"JobStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/JobStatus\";s:11:\"description\";s:161:\"The
  current status of the dominant language detection job. If the status is <code>FAILED</code>,
  the <code>Message</code> field shows the reason for the failure.\";}s:7:\"Message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/AnyLengthString\";s:11:\"description\";s:38:\"A
  description for the status of a job.\";}s:16:\"OutputDataConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/OutputDataConfig\";s:11:\"description\";s:101:\"The
  output data configuration that you supplied when you created the dominant language
  detection job.\";}s:10:\"SubmitTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:79:\"The
  time that the dominant language detection job was submitted for processing.\";}}s:4:\"type\";s:6:\"object\";}s:42:\"DominantLanguageDetectionJobPropertiesList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:52:\"#/definitions/DominantLanguageDetectionJobProperties\";}s:4:\"type\";s:5:\"array\";}s:26:\"EntitiesDetectionJobFilter\";O:8:\"stdClass\":3:{s:11:\"description\";s:119:\"Provides
  information for filtering a list of dominant language detection jobs. For more information,
  see the operation.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"JobName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/JobName\";s:11:\"description\";s:31:\"Filters
  on the name of the job.\";}s:9:\"JobStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/JobStatus\";s:11:\"description\";s:90:\"Filters
  the list of jobs based on job status. Returns only jobs with the specified status.\";}s:15:\"SubmitTimeAfter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:196:\"Filters
  the list of jobs based on the time that the job was submitted for processing. Returns
  only jobs submitted after the specified time. Jobs are returned in descending order,
  newest to oldest.\";}s:16:\"SubmitTimeBefore\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:196:\"Filters
  the list of jobs based on the time that the job was submitted for processing. Returns
  only jobs submitted before the specified time. Jobs are returned in ascending order,
  oldest to newest.\";}}s:4:\"type\";s:6:\"object\";}s:30:\"EntitiesDetectionJobProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Provides
  information about an entities detection job.\";s:10:\"properties\";O:8:\"stdClass\":10:{s:17:\"DataAccessRoleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/IamRoleArn\";s:11:\"description\";s:91:\"The
  Amazon Resource Name (ARN) that gives Amazon Comprehend read access to your input
  data.\";}s:7:\"EndTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:50:\"The
  time that the entities detection job completed\";}s:15:\"InputDataConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/InputDataConfig\";s:11:\"description\";s:91:\"The
  input data configuration that you supplied when you created the entities detection
  job.\";}s:5:\"JobId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/JobId\";s:11:\"description\";s:54:\"The
  identifier assigned to the entities detection job.\";}s:7:\"JobName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/JobName\";s:11:\"description\";s:54:\"The
  name that you assigned the entities detection job.\";}s:9:\"JobStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/JobStatus\";s:11:\"description\";s:152:\"The
  current status of the entities detection job. If the status is <code>FAILED</code>,
  the <code>Message</code> field shows the reason for the failure.\";}s:12:\"LanguageCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/LanguageCode\";s:11:\"description\";s:41:\"The
  language code of the input documents.\";}s:7:\"Message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/AnyLengthString\";s:11:\"description\";s:37:\"A
  description of the status of a job.\";}s:16:\"OutputDataConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/OutputDataConfig\";s:11:\"description\";s:93:\"The
  output data configuration that you supplied when you created the entities detection
  job. \";}s:10:\"SubmitTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:70:\"The
  time that the entities detection job was submitted for processing.\";}}s:4:\"type\";s:6:\"object\";}s:34:\"EntitiesDetectionJobPropertiesList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/EntitiesDetectionJobProperties\";}s:4:\"type\";s:5:\"array\";}s:6:\"Entity\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"<p>Provides
  information about an entity. </p> <p> </p>\";s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"BeginOffset\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:344:\"A
  character offset in the input text that shows where the entity begins (the first
  character is at position 0). The offset returns the position of each UTF-8 code
  point in the string. A <i>code point</i> is the abstract character from a particular
  graphical representation. For example, a multi-byte UTF-8 character maps to a single
  code point.\";}s:9:\"EndOffset\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:304:\"A
  character offset in the input text that shows where the entity ends. The offset
  returns the position of each UTF-8 code point in the string. A <i>code point</i>
  is the abstract character from a particular graphical representation. For example,
  a multi-byte UTF-8 character maps to a single code point. \";}s:5:\"Score\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Float\";s:11:\"description\";s:84:\"The
  level of confidence that Amazon Comprehend has in the accuracy of the detection.\";}s:4:\"Text\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:23:\"The
  text of the entity.\";}s:4:\"Type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/EntityType\";s:11:\"description\";s:18:\"The
  entity's type.\";}}s:4:\"type\";s:6:\"object\";}s:10:\"EntityType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:9:{i:0;s:6:\"PERSON\";i:1;s:8:\"LOCATION\";i:2;s:12:\"ORGANIZATION\";i:3;s:15:\"COMMERCIAL_ITEM\";i:4;s:5:\"EVENT\";i:5;s:4:\"DATE\";i:6;s:8:\"QUANTITY\";i:7;s:5:\"TITLE\";i:8;s:5:\"OTHER\";}s:4:\"type\";s:6:\"string\";}s:5:\"Float\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:10:\"IamRoleArn\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:39:\"arn:aws(-[^:]+)?:iam::[0-9]{12}:role/.+\";s:4:\"type\";s:6:\"string\";}s:15:\"InputDataConfig\";O:8:\"stdClass\":4:{s:11:\"description\";s:47:\"The
  input properties for a topic detection job.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"InputFormat\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/InputFormat\";s:11:\"description\";s:471:\"<p>Specifies
  how the text in an input file should be processed:</p> <ul> <li> <p> <code>ONE_DOC_PER_FILE</code>
  - Each file is considered a separate document. Use this option when you are processing
  large documents, such as newspaper articles or scientific papers.</p> </li> <li>
  <p> <code>ONE_DOC_PER_LINE</code> - Each line in a file is considered a separate
  document. Use this option when you are processing many short documents, such as
  text messages.</p> </li> </ul>\";}s:5:\"S3Uri\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/S3Uri\";s:11:\"description\";s:462:\"<p>The
  Amazon S3 URI for the input data. The URI must be in same region as the API endpoint
  that you are calling. The URI can point to a single input file or it can provide
  the prefix for a collection of data files. </p> <p>For example, if you use the URI
  <code>S3://bucketName/prefix</code>, if the prefix is a single file, Amazon Comprehend
  uses that file as input. If more than one file begins with the prefix, Amazon Comprehend
  uses all of them as input.</p>\";}}s:8:\"required\";a:1:{i:0;s:5:\"S3Uri\";}s:4:\"type\";s:6:\"object\";}s:11:\"InputFormat\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:16:\"ONE_DOC_PER_FILE\";i:1;s:16:\"ONE_DOC_PER_LINE\";}s:4:\"type\";s:6:\"string\";}s:7:\"Integer\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:23:\"InternalServerException\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"An
  internal server error occurred. Retry your request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:22:\"InvalidFilterException\";O:8:\"stdClass\":3:{s:11:\"description\";s:114:\"The
  filter specified for the <code>ListTopicDetectionJobs</code> operation is invalid.
  Specify a different filter.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:23:\"InvalidRequestException\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"The
  request is invalid.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:5:\"JobId\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:32;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:7:\"JobName\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:256;s:9:\"minLength\";i:1;s:7:\"pattern\";s:32:\"^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-%@]*)$\";s:4:\"type\";s:6:\"string\";}s:20:\"JobNotFoundException\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"The
  specified job was not found. Check the job ID and try again.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:9:\"JobStatus\";O:8:\"stdClass\":2:{s:4:\"enum\";a:6:{i:0;s:9:\"SUBMITTED\";i:1;s:11:\"IN_PROGRESS\";i:2;s:9:\"COMPLETED\";i:3;s:6:\"FAILED\";i:4;s:14:\"STOP_REQUESTED\";i:5;s:7:\"STOPPED\";}s:4:\"type\";s:6:\"string\";}s:9:\"KeyPhrase\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Describes
  a key noun phrase.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"BeginOffset\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:348:\"A
  character offset in the input text that shows where the key phrase begins (the first
  character is at position 0). The offset returns the position of each UTF-8 code
  point in the string. A <i>code point</i> is the abstract character from a particular
  graphical representation. For example, a multi-byte UTF-8 character maps to a single
  code point.\";}s:9:\"EndOffset\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:302:\"A
  character offset in the input text where the key phrase ends. The offset returns
  the position of each UTF-8 code point in the string. A <code>code point</code> is
  the abstract character from a particular graphical representation. For example,
  a multi-byte UTF-8 character maps to a single code point.\";}s:5:\"Score\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Float\";s:11:\"description\";s:84:\"The
  level of confidence that Amazon Comprehend has in the accuracy of the detection.\";}s:4:\"Text\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:30:\"The
  text of a key noun phrase.\";}}s:4:\"type\";s:6:\"object\";}s:28:\"KeyPhrasesDetectionJobFilter\";O:8:\"stdClass\":3:{s:11:\"description\";s:119:\"Provides
  information for filtering a list of dominant language detection jobs. For more information,
  see the operation.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"JobName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/JobName\";s:11:\"description\";s:31:\"Filters
  on the name of the job.\";}s:9:\"JobStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/JobStatus\";s:11:\"description\";s:90:\"Filters
  the list of jobs based on job status. Returns only jobs with the specified status.\";}s:15:\"SubmitTimeAfter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:196:\"Filters
  the list of jobs based on the time that the job was submitted for processing. Returns
  only jobs submitted after the specified time. Jobs are returned in descending order,
  newest to oldest.\";}s:16:\"SubmitTimeBefore\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:196:\"Filters
  the list of jobs based on the time that the job was submitted for processing. Returns
  only jobs submitted before the specified time. Jobs are returned in ascending order,
  oldest to newest.\";}}s:4:\"type\";s:6:\"object\";}s:32:\"KeyPhrasesDetectionJobProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"Provides
  information about a key phrases detection job.\";s:10:\"properties\";O:8:\"stdClass\":10:{s:17:\"DataAccessRoleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/IamRoleArn\";s:11:\"description\";s:91:\"The
  Amazon Resource Name (ARN) that gives Amazon Comprehend read access to your input
  data.\";}s:7:\"EndTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:54:\"The
  time that the key phrases detection job completed.\";}s:15:\"InputDataConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/InputDataConfig\";s:11:\"description\";s:94:\"The
  input data configuration that you supplied when you created the key phrases detection
  job.\";}s:5:\"JobId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/JobId\";s:11:\"description\";s:57:\"The
  identifier assigned to the key phrases detection job.\";}s:7:\"JobName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/JobName\";s:11:\"description\";s:57:\"The
  name that you assigned the key phrases detection job.\";}s:9:\"JobStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/JobStatus\";s:11:\"description\";s:155:\"The
  current status of the key phrases detection job. If the status is <code>FAILED</code>,
  the <code>Message</code> field shows the reason for the failure.\";}s:12:\"LanguageCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/LanguageCode\";s:11:\"description\";s:41:\"The
  language code of the input documents.\";}s:7:\"Message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/AnyLengthString\";s:11:\"description\";s:37:\"A
  description of the status of a job.\";}s:16:\"OutputDataConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/OutputDataConfig\";s:11:\"description\";s:95:\"The
  output data configuration that you supplied when you created the key phrases detection
  job.\";}s:10:\"SubmitTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:73:\"The
  time that the key phrases detection job was submitted for processing.\";}}s:4:\"type\";s:6:\"object\";}s:36:\"KeyPhrasesDetectionJobPropertiesList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/KeyPhrasesDetectionJobProperties\";}s:4:\"type\";s:5:\"array\";}s:12:\"LanguageCode\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:2:\"en\";i:1;s:2:\"es\";}s:4:\"type\";s:6:\"string\";}s:40:\"ListDominantLanguageDetectionJobsRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"Filter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:48:\"#/definitions/DominantLanguageDetectionJobFilter\";s:11:\"description\";s:165:\"Filters
  that jobs that are returned. You can filter jobs on their name, status, or the date
  and time that they were submitted. You can only set one filter at a time.\";}s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/MaxResultsInteger\";s:11:\"description\";s:73:\"The
  maximum number of results to return in each page. The default is 100.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:46:\"Identifies
  the next page of results to return.\";}}s:4:\"type\";s:6:\"object\";}s:41:\"ListDominantLanguageDetectionJobsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:42:\"DominantLanguageDetectionJobPropertiesList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:56:\"#/definitions/DominantLanguageDetectionJobPropertiesList\";s:11:\"description\";s:62:\"A
  list containing the properties of each job that is returned.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:46:\"Identifies
  the next page of results to return.\";}}s:4:\"type\";s:6:\"object\";}s:32:\"ListEntitiesDetectionJobsRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"Filter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/EntitiesDetectionJobFilter\";s:11:\"description\";s:164:\"Filters
  the jobs that are returned. You can filter jobs on their name, status, or the date
  and time that they were submitted. You can only set one filter at a time.\";}s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/MaxResultsInteger\";s:11:\"description\";s:73:\"The
  maximum number of results to return in each page. The default is 100.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:46:\"Identifies
  the next page of results to return.\";}}s:4:\"type\";s:6:\"object\";}s:33:\"ListEntitiesDetectionJobsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:34:\"EntitiesDetectionJobPropertiesList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:48:\"#/definitions/EntitiesDetectionJobPropertiesList\";s:11:\"description\";s:62:\"A
  list containing the properties of each job that is returned.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:46:\"Identifies
  the next page of results to return.\";}}s:4:\"type\";s:6:\"object\";}s:34:\"ListKeyPhrasesDetectionJobsRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"Filter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/KeyPhrasesDetectionJobFilter\";s:11:\"description\";s:164:\"Filters
  the jobs that are returned. You can filter jobs on their name, status, or the date
  and time that they were submitted. You can only set one filter at a time.\";}s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/MaxResultsInteger\";s:11:\"description\";s:73:\"The
  maximum number of results to return in each page. The default is 100.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:46:\"Identifies
  the next page of results to return.\";}}s:4:\"type\";s:6:\"object\";}s:35:\"ListKeyPhrasesDetectionJobsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:36:\"KeyPhrasesDetectionJobPropertiesList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:50:\"#/definitions/KeyPhrasesDetectionJobPropertiesList\";s:11:\"description\";s:62:\"A
  list containing the properties of each job that is returned.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:46:\"Identifies
  the next page of results to return.\";}}s:4:\"type\";s:6:\"object\";}s:34:\"ListOfDetectDominantLanguageResult\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:51:\"#/definitions/BatchDetectDominantLanguageItemResult\";}s:4:\"type\";s:5:\"array\";}s:26:\"ListOfDetectEntitiesResult\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/BatchDetectEntitiesItemResult\";}s:4:\"type\";s:5:\"array\";}s:28:\"ListOfDetectKeyPhrasesResult\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/BatchDetectKeyPhrasesItemResult\";}s:4:\"type\";s:5:\"array\";}s:27:\"ListOfDetectSentimentResult\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/BatchDetectSentimentItemResult\";}s:4:\"type\";s:5:\"array\";}s:24:\"ListOfDetectSyntaxResult\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/BatchDetectSyntaxItemResult\";}s:4:\"type\";s:5:\"array\";}s:23:\"ListOfDominantLanguages\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/DominantLanguage\";}s:4:\"type\";s:5:\"array\";}s:14:\"ListOfEntities\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Entity\";}s:4:\"type\";s:5:\"array\";}s:16:\"ListOfKeyPhrases\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/KeyPhrase\";}s:4:\"type\";s:5:\"array\";}s:18:\"ListOfSyntaxTokens\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/SyntaxToken\";}s:4:\"type\";s:5:\"array\";}s:33:\"ListSentimentDetectionJobsRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"Filter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/SentimentDetectionJobFilter\";s:11:\"description\";s:164:\"Filters
  the jobs that are returned. You can filter jobs on their name, status, or the date
  and time that they were submitted. You can only set one filter at a time.\";}s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/MaxResultsInteger\";s:11:\"description\";s:73:\"The
  maximum number of results to return in each page. The default is 100.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:46:\"Identifies
  the next page of results to return.\";}}s:4:\"type\";s:6:\"object\";}s:34:\"ListSentimentDetectionJobsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:46:\"Identifies
  the next page of results to return.\";}s:35:\"SentimentDetectionJobPropertiesList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:49:\"#/definitions/SentimentDetectionJobPropertiesList\";s:11:\"description\";s:62:\"A
  list containing the properties of each job that is returned.\";}}s:4:\"type\";s:6:\"object\";}s:30:\"ListTopicsDetectionJobsRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"Filter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/TopicsDetectionJobFilter\";s:11:\"description\";s:165:\"Filters
  the jobs that are returned. Jobs can be filtered on their name, status, or the date
  and time that they were submitted. You can set only one filter at a time.\";}s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/MaxResultsInteger\";s:11:\"description\";s:73:\"The
  maximum number of results to return in each page. The default is 100.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:46:\"Identifies
  the next page of results to return.\";}}s:4:\"type\";s:6:\"object\";}s:31:\"ListTopicsDetectionJobsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:46:\"Identifies
  the next page of results to return.\";}s:32:\"TopicsDetectionJobPropertiesList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:46:\"#/definitions/TopicsDetectionJobPropertiesList\";s:11:\"description\";s:62:\"A
  list containing the properties of each job that is returned.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"MaxResultsInteger\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:500;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:21:\"NumberOfTopicsInteger\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:100;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:16:\"OutputDataConfig\";O:8:\"stdClass\":4:{s:11:\"description\";s:85:\"<p>Provides
  configuration parameters for the output of topic detection jobs.</p> <p/>\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"S3Uri\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/S3Uri\";s:11:\"description\";s:617:\"<p>When
  you use the <code>OutputDataConfig</code> object with asynchronous operations, you
  specify the Amazon S3 location where you want to write the output data. The URI
  must be in the same region as the API endpoint that you are calling. The location
  is used as the prefix for the actual location of the output file.</p> <p>When the
  topic detection job is finished, the service creates an output file in a directory
  specific to the job. The <code>S3Uri</code> field contains the location of the output
  file, called <code>output.tar.gz</code>. It is a compressed archive that contains
  the ouput of the operation.</p>\";}}s:8:\"required\";a:1:{i:0;s:5:\"S3Uri\";}s:4:\"type\";s:6:\"object\";}s:15:\"PartOfSpeechTag\";O:8:\"stdClass\":3:{s:11:\"description\";s:263:\"Identifies
  the part of speech represented by the token and gives the confidence that Amazon
  Comprehend has that the part of speech was correctly identified. For more information
  about the parts of speech that Amazon Comprehend can identify, see <a>how-syntax</a>.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"Score\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Float\";s:11:\"description\";s:91:\"The
  confidence that Amazon Comprehend has that the part of speech was correctly identified.\";}s:3:\"Tag\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/PartOfSpeechTagType\";s:11:\"description\";s:56:\"Identifies
  the part of speech that the token represents.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"PartOfSpeechTagType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:17:{i:0;s:3:\"ADJ\";i:1;s:3:\"ADP\";i:2;s:3:\"ADV\";i:3;s:3:\"AUX\";i:4;s:4:\"CONJ\";i:5;s:3:\"DET\";i:6;s:4:\"INTJ\";i:7;s:4:\"NOUN\";i:8;s:3:\"NUM\";i:9;s:1:\"O\";i:10;s:4:\"PART\";i:11;s:4:\"PRON\";i:12;s:5:\"PROPN\";i:13;s:5:\"PUNCT\";i:14;s:5:\"SCONJ\";i:15;s:3:\"SYM\";i:16;s:4:\"VERB\";}s:4:\"type\";s:6:\"string\";}s:5:\"S3Uri\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:1024;s:7:\"pattern\";s:45:\"s3://[a-z0-9][\\.\\-a-z0-9]{1,61}[a-z0-9](/.*)?\";s:4:\"type\";s:6:\"string\";}s:27:\"SentimentDetectionJobFilter\";O:8:\"stdClass\":3:{s:11:\"description\";s:119:\"Provides
  information for filtering a list of dominant language detection jobs. For more information,
  see the operation.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"JobName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/JobName\";s:11:\"description\";s:31:\"Filters
  on the name of the job.\";}s:9:\"JobStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/JobStatus\";s:11:\"description\";s:90:\"Filters
  the list of jobs based on job status. Returns only jobs with the specified status.\";}s:15:\"SubmitTimeAfter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:196:\"Filters
  the list of jobs based on the time that the job was submitted for processing. Returns
  only jobs submitted after the specified time. Jobs are returned in descending order,
  newest to oldest.\";}s:16:\"SubmitTimeBefore\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:196:\"Filters
  the list of jobs based on the time that the job was submitted for processing. Returns
  only jobs submitted before the specified time. Jobs are returned in ascending order,
  oldest to newest.\";}}s:4:\"type\";s:6:\"object\";}s:31:\"SentimentDetectionJobProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Provides
  information about a sentiment detection job.\";s:10:\"properties\";O:8:\"stdClass\":10:{s:17:\"DataAccessRoleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/IamRoleArn\";s:11:\"description\";s:91:\"The
  Amazon Resource Name (ARN) that gives Amazon Comprehend read access to your input
  data.\";}s:7:\"EndTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:48:\"The
  time that the sentiment detection job ended.\";}s:15:\"InputDataConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/InputDataConfig\";s:11:\"description\";s:92:\"The
  input data configuration that you supplied when you created the sentiment detection
  job.\";}s:5:\"JobId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/JobId\";s:11:\"description\";s:55:\"The
  identifier assigned to the sentiment detection job.\";}s:7:\"JobName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/JobName\";s:11:\"description\";s:57:\"The
  name that you assigned to the sentiment detection job\";}s:9:\"JobStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/JobStatus\";s:11:\"description\";s:154:\"The
  current status of the sentiment detection job. If the status is <code>FAILED</code>,
  the <code>Messages</code> field shows the reason for the failure.\";}s:12:\"LanguageCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/LanguageCode\";s:11:\"description\";s:41:\"The
  language code of the input documents.\";}s:7:\"Message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/AnyLengthString\";s:11:\"description\";s:37:\"A
  description of the status of a job.\";}s:16:\"OutputDataConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/OutputDataConfig\";s:11:\"description\";s:93:\"The
  output data configuration that you supplied when you created the sentiment detection
  job.\";}s:10:\"SubmitTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:71:\"The
  time that the sentiment detection job was submitted for processing.\";}}s:4:\"type\";s:6:\"object\";}s:35:\"SentimentDetectionJobPropertiesList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/SentimentDetectionJobProperties\";}s:4:\"type\";s:5:\"array\";}s:14:\"SentimentScore\";O:8:\"stdClass\":3:{s:11:\"description\";s:108:\"Describes
  the level of confidence that Amazon Comprehend has in the accuracy of its detection
  of sentiments.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"Mixed\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Float\";s:11:\"description\";s:120:\"The
  level of confidence that Amazon Comprehend has in the accuracy of its detection
  of the <code>MIXED</code> sentiment.\";}s:8:\"Negative\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Float\";s:11:\"description\";s:123:\"The
  level of confidence that Amazon Comprehend has in the accuracy of its detection
  of the <code>NEGATIVE</code> sentiment.\";}s:7:\"Neutral\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Float\";s:11:\"description\";s:122:\"The
  level of confidence that Amazon Comprehend has in the accuracy of its detection
  of the <code>NEUTRAL</code> sentiment.\";}s:8:\"Positive\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Float\";s:11:\"description\";s:123:\"The
  level of confidence that Amazon Comprehend has in the accuracy of its detection
  of the <code>POSITIVE</code> sentiment.\";}}s:4:\"type\";s:6:\"object\";}s:13:\"SentimentType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:8:\"POSITIVE\";i:1;s:8:\"NEGATIVE\";i:2;s:7:\"NEUTRAL\";i:3;s:5:\"MIXED\";}s:4:\"type\";s:6:\"string\";}s:40:\"StartDominantLanguageDetectionJobRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":5:{s:18:\"ClientRequestToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/ClientRequestTokenString\";s:11:\"description\";s:113:\"A
  unique identifier for the request. If you do not set the client request token, Amazon
  Comprehend generates one.\";}s:17:\"DataAccessRoleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/IamRoleArn\";s:11:\"description\";s:410:\"The
  Amazon Resource Name (ARN) of the AWS Identity and Access Management (IAM) role
  that grants Amazon Comprehend read access to your input data. For more information,
  see <a href=\"https://docs.aws.amazon.com/comprehend/latest/dg/access-control-managing-permissions.html#auth-role-permissions\">https://docs.aws.amazon.com/comprehend/latest/dg/access-control-managing-permissions.html#auth-role-permissions</a>.\";}s:15:\"InputDataConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/InputDataConfig\";s:11:\"description\";s:64:\"Specifies
  the format and location of the input data for the job.\";}s:7:\"JobName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/JobName\";s:11:\"description\";s:26:\"An
  identifier for the job.\";}s:16:\"OutputDataConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/OutputDataConfig\";s:11:\"description\";s:41:\"Specifies
  where to send the output files.\";}}s:8:\"required\";a:3:{i:0;s:15:\"InputDataConfig\";i:1;s:16:\"OutputDataConfig\";i:2;s:17:\"DataAccessRoleArn\";}s:4:\"type\";s:6:\"object\";}s:41:\"StartDominantLanguageDetectionJobResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"JobId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/JobId\";s:11:\"description\";s:105:\"The
  identifier generated for the job. To get the status of a job, use this identifier
  with the operation.\";}s:9:\"JobStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/JobStatus\";s:11:\"description\";s:382:\"<p>The
  status of the job. </p> <ul> <li> <p>SUBMITTED - The job has been received and is
  queued for processing.</p> </li> <li> <p>IN_PROGRESS - Amazon Comprehend is processing
  the job.</p> </li> <li> <p>COMPLETED - The job was successfully completed and the
  output is available.</p> </li> <li> <p>FAILED - The job did not complete. To get
  details, use the operation.</p> </li> </ul>\";}}s:4:\"type\";s:6:\"object\";}s:32:\"StartEntitiesDetectionJobRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":6:{s:18:\"ClientRequestToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/ClientRequestTokenString\";s:11:\"description\";s:112:\"A
  unique identifier for the request. If you don't set the client request token, Amazon
  Comprehend generates one.\";}s:17:\"DataAccessRoleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/IamRoleArn\";s:11:\"description\";s:410:\"The
  Amazon Resource Name (ARN) of the AWS Identity and Access Management (IAM) role
  that grants Amazon Comprehend read access to your input data. For more information,
  see <a href=\"https://docs.aws.amazon.com/comprehend/latest/dg/access-control-managing-permissions.html#auth-role-permissions\">https://docs.aws.amazon.com/comprehend/latest/dg/access-control-managing-permissions.html#auth-role-permissions</a>.\";}s:15:\"InputDataConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/InputDataConfig\";s:11:\"description\";s:64:\"Specifies
  the format and location of the input data for the job.\";}s:7:\"JobName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/JobName\";s:11:\"description\";s:26:\"The
  identifier of the job.\";}s:12:\"LanguageCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/LanguageCode\";s:11:\"description\";s:130:\"The
  language of the input documents. You can specify English (\"en\") or Spanish (\"es\").
  All documents must be in the same language.\";}s:16:\"OutputDataConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/OutputDataConfig\";s:11:\"description\";s:41:\"Specifies
  where to send the output files.\";}}s:8:\"required\";a:4:{i:0;s:15:\"InputDataConfig\";i:1;s:16:\"OutputDataConfig\";i:2;s:17:\"DataAccessRoleArn\";i:3;s:12:\"LanguageCode\";}s:4:\"type\";s:6:\"object\";}s:33:\"StartEntitiesDetectionJobResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"JobId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/JobId\";s:11:\"description\";s:103:\"The
  identifier generated for the job. To get the status of job, use this identifier
  with the operation.\";}s:9:\"JobStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/JobStatus\";s:11:\"description\";s:382:\"<p>The
  status of the job. </p> <ul> <li> <p>SUBMITTED - The job has been received and is
  queued for processing.</p> </li> <li> <p>IN_PROGRESS - Amazon Comprehend is processing
  the job.</p> </li> <li> <p>COMPLETED - The job was successfully completed and the
  output is available.</p> </li> <li> <p>FAILED - The job did not complete. To get
  details, use the operation.</p> </li> </ul>\";}}s:4:\"type\";s:6:\"object\";}s:34:\"StartKeyPhrasesDetectionJobRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":6:{s:18:\"ClientRequestToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/ClientRequestTokenString\";s:11:\"description\";s:112:\"A
  unique identifier for the request. If you don't set the client request token, Amazon
  Comprehend generates one.\";}s:17:\"DataAccessRoleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/IamRoleArn\";s:11:\"description\";s:410:\"The
  Amazon Resource Name (ARN) of the AWS Identity and Access Management (IAM) role
  that grants Amazon Comprehend read access to your input data. For more information,
  see <a href=\"https://docs.aws.amazon.com/comprehend/latest/dg/access-control-managing-permissions.html#auth-role-permissions\">https://docs.aws.amazon.com/comprehend/latest/dg/access-control-managing-permissions.html#auth-role-permissions</a>.\";}s:15:\"InputDataConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/InputDataConfig\";s:11:\"description\";s:64:\"Specifies
  the format and location of the input data for the job.\";}s:7:\"JobName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/JobName\";s:11:\"description\";s:26:\"The
  identifier of the job.\";}s:12:\"LanguageCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/LanguageCode\";s:11:\"description\";s:130:\"The
  language of the input documents. You can specify English (\"en\") or Spanish (\"es\").
  All documents must be in the same language.\";}s:16:\"OutputDataConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/OutputDataConfig\";s:11:\"description\";s:41:\"Specifies
  where to send the output files.\";}}s:8:\"required\";a:4:{i:0;s:15:\"InputDataConfig\";i:1;s:16:\"OutputDataConfig\";i:2;s:17:\"DataAccessRoleArn\";i:3;s:12:\"LanguageCode\";}s:4:\"type\";s:6:\"object\";}s:35:\"StartKeyPhrasesDetectionJobResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"JobId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/JobId\";s:11:\"description\";s:105:\"The
  identifier generated for the job. To get the status of a job, use this identifier
  with the operation.\";}s:9:\"JobStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/JobStatus\";s:11:\"description\";s:382:\"<p>The
  status of the job. </p> <ul> <li> <p>SUBMITTED - The job has been received and is
  queued for processing.</p> </li> <li> <p>IN_PROGRESS - Amazon Comprehend is processing
  the job.</p> </li> <li> <p>COMPLETED - The job was successfully completed and the
  output is available.</p> </li> <li> <p>FAILED - The job did not complete. To get
  details, use the operation.</p> </li> </ul>\";}}s:4:\"type\";s:6:\"object\";}s:33:\"StartSentimentDetectionJobRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":6:{s:18:\"ClientRequestToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/ClientRequestTokenString\";s:11:\"description\";s:112:\"A
  unique identifier for the request. If you don't set the client request token, Amazon
  Comprehend generates one.\";}s:17:\"DataAccessRoleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/IamRoleArn\";s:11:\"description\";s:410:\"The
  Amazon Resource Name (ARN) of the AWS Identity and Access Management (IAM) role
  that grants Amazon Comprehend read access to your input data. For more information,
  see <a href=\"https://docs.aws.amazon.com/comprehend/latest/dg/access-control-managing-permissions.html#auth-role-permissions\">https://docs.aws.amazon.com/comprehend/latest/dg/access-control-managing-permissions.html#auth-role-permissions</a>.\";}s:15:\"InputDataConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/InputDataConfig\";s:11:\"description\";s:64:\"Specifies
  the format and location of the input data for the job.\";}s:7:\"JobName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/JobName\";s:11:\"description\";s:26:\"The
  identifier of the job.\";}s:12:\"LanguageCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/LanguageCode\";s:11:\"description\";s:130:\"The
  language of the input documents. You can specify English (\"en\") or Spanish (\"es\").
  All documents must be in the same language.\";}s:16:\"OutputDataConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/OutputDataConfig\";s:11:\"description\";s:42:\"Specifies
  where to send the output files. \";}}s:8:\"required\";a:4:{i:0;s:15:\"InputDataConfig\";i:1;s:16:\"OutputDataConfig\";i:2;s:17:\"DataAccessRoleArn\";i:3;s:12:\"LanguageCode\";}s:4:\"type\";s:6:\"object\";}s:34:\"StartSentimentDetectionJobResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"JobId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/JobId\";s:11:\"description\";s:105:\"The
  identifier generated for the job. To get the status of a job, use this identifier
  with the operation.\";}s:9:\"JobStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/JobStatus\";s:11:\"description\";s:382:\"<p>The
  status of the job. </p> <ul> <li> <p>SUBMITTED - The job has been received and is
  queued for processing.</p> </li> <li> <p>IN_PROGRESS - Amazon Comprehend is processing
  the job.</p> </li> <li> <p>COMPLETED - The job was successfully completed and the
  output is available.</p> </li> <li> <p>FAILED - The job did not complete. To get
  details, use the operation.</p> </li> </ul>\";}}s:4:\"type\";s:6:\"object\";}s:30:\"StartTopicsDetectionJobRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":6:{s:18:\"ClientRequestToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/ClientRequestTokenString\";s:11:\"description\";s:113:\"A
  unique identifier for the request. If you do not set the client request token, Amazon
  Comprehend generates one.\";}s:17:\"DataAccessRoleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/IamRoleArn\";s:11:\"description\";s:410:\"The
  Amazon Resource Name (ARN) of the AWS Identity and Access Management (IAM) role
  that grants Amazon Comprehend read access to your input data. For more information,
  see <a href=\"https://docs.aws.amazon.com/comprehend/latest/dg/access-control-managing-permissions.html#auth-role-permissions\">https://docs.aws.amazon.com/comprehend/latest/dg/access-control-managing-permissions.html#auth-role-permissions</a>.\";}s:15:\"InputDataConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/InputDataConfig\";s:11:\"description\";s:64:\"Specifies
  the format and location of the input data for the job.\";}s:7:\"JobName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/JobName\";s:11:\"description\";s:26:\"The
  identifier of the job.\";}s:14:\"NumberOfTopics\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/NumberOfTopicsInteger\";s:11:\"description\";s:31:\"The
  number of topics to detect.\";}s:16:\"OutputDataConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/OutputDataConfig\";s:11:\"description\";s:254:\"Specifies
  where to send the output files. The output is a compressed archive with two files,
  <code>topic-terms.csv</code> that lists the terms associated with each topic, and
  <code>doc-topics.csv</code> that lists the documents associated with each topic\";}}s:8:\"required\";a:3:{i:0;s:15:\"InputDataConfig\";i:1;s:16:\"OutputDataConfig\";i:2;s:17:\"DataAccessRoleArn\";}s:4:\"type\";s:6:\"object\";}s:31:\"StartTopicsDetectionJobResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"JobId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/JobId\";s:11:\"description\";s:146:\"The
  identifier generated for the job. To get the status of the job, use this identifier
  with the <code>DescribeTopicDetectionJob</code> operation.\";}s:9:\"JobStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/JobStatus\";s:11:\"description\";s:421:\"<p>The
  status of the job: </p> <ul> <li> <p>SUBMITTED - The job has been received and is
  queued for processing.</p> </li> <li> <p>IN_PROGRESS - Amazon Comprehend is processing
  the job.</p> </li> <li> <p>COMPLETED - The job was successfully completed and the
  output is available.</p> </li> <li> <p>FAILED - The job did not complete. To get
  details, use the <code>DescribeTopicDetectionJob</code> operation.</p> </li> </ul>\";}}s:4:\"type\";s:6:\"object\";}s:39:\"StopDominantLanguageDetectionJobRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"JobId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/JobId\";s:11:\"description\";s:62:\"The
  identifier of the dominant language detection job to stop.\";}}s:8:\"required\";a:1:{i:0;s:5:\"JobId\";}s:4:\"type\";s:6:\"object\";}s:40:\"StopDominantLanguageDetectionJobResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"JobId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/JobId\";s:11:\"description\";s:62:\"The
  identifier of the dominant language detection job to stop.\";}s:9:\"JobStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/JobStatus\";s:11:\"description\";s:191:\"Either
  <code>STOP_REQUESTED</code> if the job is currently running, or <code>STOPPED</code>
  if the job was previously stopped with the <code>StopDominantLanguageDetectionJob</code>
  operation.\";}}s:4:\"type\";s:6:\"object\";}s:31:\"StopEntitiesDetectionJobRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"JobId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/JobId\";s:11:\"description\";s:53:\"The
  identifier of the entities detection job to stop.\";}}s:8:\"required\";a:1:{i:0;s:5:\"JobId\";}s:4:\"type\";s:6:\"object\";}s:32:\"StopEntitiesDetectionJobResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"JobId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/JobId\";s:11:\"description\";s:53:\"The
  identifier of the entities detection job to stop.\";}s:9:\"JobStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/JobStatus\";s:11:\"description\";s:183:\"Either
  <code>STOP_REQUESTED</code> if the job is currently running, or <code>STOPPED</code>
  if the job was previously stopped with the <code>StopEntitiesDetectionJob</code>
  operation.\";}}s:4:\"type\";s:6:\"object\";}s:33:\"StopKeyPhrasesDetectionJobRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"JobId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/JobId\";s:11:\"description\";s:56:\"The
  identifier of the key phrases detection job to stop.\";}}s:8:\"required\";a:1:{i:0;s:5:\"JobId\";}s:4:\"type\";s:6:\"object\";}s:34:\"StopKeyPhrasesDetectionJobResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"JobId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/JobId\";s:11:\"description\";s:56:\"The
  identifier of the key phrases detection job to stop.\";}s:9:\"JobStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/JobStatus\";s:11:\"description\";s:185:\"Either
  <code>STOP_REQUESTED</code> if the job is currently running, or <code>STOPPED</code>
  if the job was previously stopped with the <code>StopKeyPhrasesDetectionJob</code>
  operation.\";}}s:4:\"type\";s:6:\"object\";}s:32:\"StopSentimentDetectionJobRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"JobId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/JobId\";s:11:\"description\";s:54:\"The
  identifier of the sentiment detection job to stop.\";}}s:8:\"required\";a:1:{i:0;s:5:\"JobId\";}s:4:\"type\";s:6:\"object\";}s:33:\"StopSentimentDetectionJobResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"JobId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/JobId\";s:11:\"description\";s:54:\"The
  identifier of the sentiment detection job to stop.\";}s:9:\"JobStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/JobStatus\";s:11:\"description\";s:184:\"Either
  <code>STOP_REQUESTED</code> if the job is currently running, or <code>STOPPED</code>
  if the job was previously stopped with the <code>StopSentimentDetectionJob</code>
  operation.\";}}s:4:\"type\";s:6:\"object\";}s:6:\"String\";O:8:\"stdClass\":2:{s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:10:\"StringList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:4:\"type\";s:5:\"array\";}s:18:\"SyntaxLanguageCode\";O:8:\"stdClass\":2:{s:4:\"enum\";a:1:{i:0;s:2:\"en\";}s:4:\"type\";s:6:\"string\";}s:11:\"SyntaxToken\";O:8:\"stdClass\":3:{s:11:\"description\";s:153:\"Represents
  a work in the input text that was recognized and assigned a part of speech. There
  is one syntax token record for each word in the source text.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"BeginOffset\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:95:\"The
  zero-based offset from the beginning of the source text to the first character in
  the word.\";}s:9:\"EndOffset\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:94:\"The
  zero-based offset from the beginning of the source text to the last character in
  the word.\";}s:12:\"PartOfSpeech\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PartOfSpeechTag\";s:11:\"description\";s:180:\"Provides
  the part of speech label and the confidence level that Amazon Comprehend has that
  the part of speech was correctly identified. For more information, see <a>how-syntax</a>.\";}s:4:\"Text\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:48:\"The
  word that was recognized in the source text.\";}s:7:\"TokenId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:32:\"A
  unique identifier for a token.\";}}s:4:\"type\";s:6:\"object\";}s:30:\"TextSizeLimitExceededException\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"The
  size of the input text exceeds the limit. Use a smaller document.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:9:\"Timestamp\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:24:\"TooManyRequestsException\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"The
  number of requests exceeds the limit. Resubmit your request later.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:24:\"TopicsDetectionJobFilter\";O:8:\"stdClass\":3:{s:11:\"description\";s:84:\"Provides
  information for filtering topic detection jobs. For more information, see .\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"JobName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/JobName\";s:11:\"description\";s:4:\"<p/>\";}s:9:\"JobStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/JobStatus\";s:11:\"description\";s:106:\"Filters
  the list of topic detection jobs based on job status. Returns only jobs with the
  specified status.\";}s:15:\"SubmitTimeAfter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:195:\"Filters
  the list of jobs based on the time that the job was submitted for processing. Only
  returns jobs submitted after the specified time. Jobs are returned in ascending
  order, oldest to newest.\";}s:16:\"SubmitTimeBefore\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:197:\"Filters
  the list of jobs based on the time that the job was submitted for processing. Only
  returns jobs submitted before the specified time. Jobs are returned in descending
  order, newest to oldest.\";}}s:4:\"type\";s:6:\"object\";}s:28:\"TopicsDetectionJobProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Provides
  information about a topic detection job.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:7:\"EndTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:52:\"The
  time that the topic detection job was completed.\";}s:15:\"InputDataConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/InputDataConfig\";s:11:\"description\";s:79:\"The
  input data configuration supplied when you created the topic detection job.\";}s:5:\"JobId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/JobId\";s:11:\"description\";s:51:\"The
  identifier assigned to the topic detection job.\";}s:7:\"JobName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/JobName\";s:11:\"description\";s:36:\"The
  name of the topic detection job.\";}s:9:\"JobStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/JobStatus\";s:11:\"description\";s:155:\"The
  current status of the topic detection job. If the status is <code>Failed</code>,
  the reason for the failure is shown in the <code>Message</code> field.\";}s:7:\"Message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/AnyLengthString\";s:11:\"description\";s:38:\"A
  description for the status of a job.\";}s:14:\"NumberOfTopics\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:101:\"The
  number of topics to detect supplied when you created the topic detection job. The
  default is 10. \";}s:16:\"OutputDataConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/OutputDataConfig\";s:11:\"description\";s:80:\"The
  output data configuration supplied when you created the topic detection job.\";}s:10:\"SubmitTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:67:\"The
  time that the topic detection job was submitted for processing.\";}}s:4:\"type\";s:6:\"object\";}s:32:\"TopicsDetectionJobPropertiesList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/TopicsDetectionJobProperties\";}s:4:\"type\";s:5:\"array\";}s:28:\"UnsupportedLanguageException\";O:8:\"stdClass\":3:{s:11:\"description\";s:317:\"Amazon
  Comprehend can't process the language of the input text. For all APIs except <code>DetectDominantLanguage</code>,
  Amazon Comprehend accepts only English or Spanish text. For the <code>DetectDominantLanguage</code>
  API, Amazon Comprehend detects 100 languages. For a list of languages, see <a>how-languages</a>
  \";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}}"
...
