---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":15:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:9:\"x-twitter\";s:12:\"PermittedSoc\";}s:11:\"description\";s:268:\"Amazon
  Comprehend is an AWS service for gaining insight into the content of documents.
  Use these actions to determine the topics contained in your documents, the topics
  they discuss, the predominant sentiment expressed in them, the predominant language
  used, and more.\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache
  2.0 License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:17:\"Amazon
  Comprehend\";s:7:\"version\";s:10:\"2017-11-27\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:94:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/comprehend-2017-11-27.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v4\";s:13:\"x-serviceName\";s:10:\"comprehend\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:20:\"amazonaws_comprehend\";s:4:\"type\";s:7:\"openapi\";}}"
host: comprehend.amazonaws.com
basePath: /
paths: ~
produces:
- application/json
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":70:{s:15:\"AnyLengthString\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:37:\"BatchDetectDominantLanguageItemResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:136:\"The
  result of calling the operation. The operation returns one object for each document
  that is successfully processed by the operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"Index\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:55:\"The
  zero-based index of the document in the input list.\";}s:9:\"Languages\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/ListOfDominantLanguages\";s:11:\"description\";s:94:\"One
  or more <a>DominantLanguage</a> objects describing the dominant languages in the
  document.\";}}s:4:\"type\";s:6:\"object\";}s:34:\"BatchDetectDominantLanguageRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"TextList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StringList\";s:11:\"description\";s:219:\"A
  list containing the text of the input documents. The list can contain a maximum
  of 25 documents. Each document should contain at least 20 characters and must contain
  fewer than 5,000 bytes of UTF-8 encoded characters.\";}}s:8:\"required\";a:1:{i:0;s:8:\"TextList\";}s:4:\"type\";s:6:\"object\";}s:35:\"BatchDetectDominantLanguageResponse\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"ErrorList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/BatchItemErrorList\";s:11:\"description\";s:275:\"A
  list containing one object for each document that contained an error. The results
  are sorted in ascending order by the <code>Index</code> field and match the order
  of the documents in the input list. If there are no errors in the batch, the <code>ErrorList</code>
  is empty.\";}s:10:\"ResultList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:48:\"#/definitions/ListOfDetectDominantLanguageResult\";s:11:\"description\";s:268:\"A
  list of objects containing the results of the operation. The results are sorted
  in ascending order by the <code>Index</code> field and match the order of the documents
  in the input list. If all of the documents contain an error, the <code>ResultList</code>
  is empty.\";}}s:8:\"required\";a:2:{i:0;s:10:\"ResultList\";i:1;s:9:\"ErrorList\";}s:4:\"type\";s:6:\"object\";}s:29:\"BatchDetectEntitiesItemResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:136:\"The
  result of calling the operation. The operation returns one object for each document
  that is successfully processed by the operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"Entities\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ListOfEntities\";s:11:\"description\";s:80:\"One
  or more <a>Entity</a> objects, one for each entity detected in the document.\";}s:5:\"Index\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:55:\"The
  zero-based index of the document in the input list.\";}}s:4:\"type\";s:6:\"object\";}s:26:\"BatchDetectEntitiesRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"LanguageCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:80:\"The
  language of the input documents. All documents must be in the same language.\";}s:8:\"TextList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StringList\";s:11:\"description\";s:177:\"A
  list containing the text of the input documents. The list can contain a maximum
  of 25 documents. Each document must contain fewer than 5,000 bytes of UTF-8 encoded
  characters.\";}}s:8:\"required\";a:2:{i:0;s:8:\"TextList\";i:1;s:12:\"LanguageCode\";}s:4:\"type\";s:6:\"object\";}s:27:\"BatchDetectEntitiesResponse\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"ErrorList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/BatchItemErrorList\";s:11:\"description\";s:275:\"A
  list containing one object for each document that contained an error. The results
  are sorted in ascending order by the <code>Index</code> field and match the order
  of the documents in the input list. If there are no errors in the batch, the <code>ErrorList</code>
  is empty.\";}s:10:\"ResultList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/ListOfDetectEntitiesResult\";s:11:\"description\";s:268:\"A
  list of objects containing the results of the operation. The results are sorted
  in ascending order by the <code>Index</code> field and match the order of the documents
  in the input list. If all of the documents contain an error, the <code>ResultList</code>
  is empty.\";}}s:8:\"required\";a:2:{i:0;s:10:\"ResultList\";i:1;s:9:\"ErrorList\";}s:4:\"type\";s:6:\"object\";}s:31:\"BatchDetectKeyPhrasesItemResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:136:\"The
  result of calling the operation. The operation returns one object for each document
  that is successfully processed by the operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"Index\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:55:\"The
  zero-based index of the document in the input list.\";}s:10:\"KeyPhrases\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ListOfKeyPhrases\";s:11:\"description\";s:87:\"One
  or more <a>KeyPhrase</a> objects, one for each key phrase detected in the document.\";}}s:4:\"type\";s:6:\"object\";}s:28:\"BatchDetectKeyPhrasesRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"LanguageCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:80:\"The
  language of the input documents. All documents must be in the same language.\";}s:8:\"TextList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StringList\";s:11:\"description\";s:177:\"A
  list containing the text of the input documents. The list can contain a maximum
  of 25 documents. Each document must contain fewer that 5,000 bytes of UTF-8 encoded
  characters.\";}}s:8:\"required\";a:2:{i:0;s:8:\"TextList\";i:1;s:12:\"LanguageCode\";}s:4:\"type\";s:6:\"object\";}s:29:\"BatchDetectKeyPhrasesResponse\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"ErrorList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/BatchItemErrorList\";s:11:\"description\";s:275:\"A
  list containing one object for each document that contained an error. The results
  are sorted in ascending order by the <code>Index</code> field and match the order
  of the documents in the input list. If there are no errors in the batch, the <code>ErrorList</code>
  is empty.\";}s:10:\"ResultList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/ListOfDetectKeyPhrasesResult\";s:11:\"description\";s:268:\"A
  list of objects containing the results of the operation. The results are sorted
  in ascending order by the <code>Index</code> field and match the order of the documents
  in the input list. If all of the documents contain an error, the <code>ResultList</code>
  is empty.\";}}s:8:\"required\";a:2:{i:0;s:10:\"ResultList\";i:1;s:9:\"ErrorList\";}s:4:\"type\";s:6:\"object\";}s:30:\"BatchDetectSentimentItemResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:136:\"The
  result of calling the operation. The operation returns one object for each document
  that is successfully processed by the operation.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"Index\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:55:\"The
  zero-based index of the document in the input list.\";}s:9:\"Sentiment\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/SentimentType\";s:11:\"description\";s:39:\"The
  sentiment detected in the document.\";}s:14:\"SentimentScore\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/SentimentScore\";s:11:\"description\";s:94:\"The
  level of confidence that Amazon Comprehend has in the accuracy of its sentiment
  detection.\";}}s:4:\"type\";s:6:\"object\";}s:27:\"BatchDetectSentimentRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"LanguageCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:80:\"The
  language of the input documents. All documents must be in the same language.\";}s:8:\"TextList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StringList\";s:11:\"description\";s:177:\"A
  list containing the text of the input documents. The list can contain a maximum
  of 25 documents. Each document must contain fewer that 5,000 bytes of UTF-8 encoded
  characters.\";}}s:8:\"required\";a:2:{i:0;s:8:\"TextList\";i:1;s:12:\"LanguageCode\";}s:4:\"type\";s:6:\"object\";}s:28:\"BatchDetectSentimentResponse\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"ErrorList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/BatchItemErrorList\";s:11:\"description\";s:275:\"A
  list containing one object for each document that contained an error. The results
  are sorted in ascending order by the <code>Index</code> field and match the order
  of the documents in the input list. If there are no errors in the batch, the <code>ErrorList</code>
  is empty.\";}s:10:\"ResultList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/ListOfDetectSentimentResult\";s:11:\"description\";s:268:\"A
  list of objects containing the results of the operation. The results are sorted
  in ascending order by the <code>Index</code> field and match the order of the documents
  in the input list. If all of the documents contain an error, the <code>ResultList</code>
  is empty.\";}}s:8:\"required\";a:2:{i:0;s:10:\"ResultList\";i:1;s:9:\"ErrorList\";}s:4:\"type\";s:6:\"object\";}s:14:\"BatchItemError\";O:8:\"stdClass\":3:{s:11:\"description\";s:175:\"Describes
  an error that occurred while processing a document in a batch. The operation returns
  on <code>BatchItemError</code> object for each document that contained an error.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"ErrorCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:36:\"The
  numeric error code of the error.\";}s:12:\"ErrorMessage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:32:\"A
  text description of the error.\";}s:5:\"Index\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:55:\"The
  zero-based index of the document in the input list.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"BatchItemErrorList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/BatchItemError\";}s:4:\"type\";s:5:\"array\";}s:31:\"BatchSizeLimitExceededException\";O:8:\"stdClass\":3:{s:11:\"description\";s:108:\"The
  number of documents in the request exceeds the limit of 25. Try your request again
  with fewer documents.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:24:\"ClientRequestTokenString\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:64;s:9:\"minLength\";i:1;s:7:\"pattern\";s:15:\"^[a-zA-Z0-9-]+$\";s:4:\"type\";s:6:\"string\";}s:33:\"DescribeTopicsDetectionJobRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"JobId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/JobId\";s:11:\"description\";s:57:\"The
  identifier assigned by the user to the detection job.\";}}s:8:\"required\";a:1:{i:0;s:5:\"JobId\";}s:4:\"type\";s:6:\"object\";}s:34:\"DescribeTopicsDetectionJobResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:28:\"TopicsDetectionJobProperties\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/TopicsDetectionJobProperties\";s:11:\"description\";s:45:\"The
  list of properties for the requested job.\";}}s:4:\"type\";s:6:\"object\";}s:29:\"DetectDominantLanguageRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Text\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:139:\"A
  UTF-8 text string. Each string should contain at least 20 characters and must contain
  fewer that 5,000 bytes of UTF-8 encoded characters.\";}}s:8:\"required\";a:1:{i:0;s:4:\"Text\";}s:4:\"type\";s:6:\"object\";}s:30:\"DetectDominantLanguageResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"Languages\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/ListOfDominantLanguages\";s:11:\"description\";s:377:\"The
  languages that Amazon Comprehend detected in the input text. For each language,
  the response returns the RFC 5646 language code and the level of confidence that
  Amazon Comprehend has in the accuracy of its inference. For more information about
  RFC 5646, see <a href=\"https://tools.ietf.org/html/rfc5646\">Tags for Identifying
  Languages</a> on the <i>IETF Tools</i> web site.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"DetectEntitiesRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"LanguageCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/LanguageCode\";s:11:\"description\";s:427:\"The
  RFC 5646 language code of the input text. If the request does not specify the language
  code, the service detects the dominant language. If you specify a language code
  that the service does not support, it returns <code>UnsupportedLanguageException</code>
  exception. For more information about RFC 5646, see <a href=\"https://tools.ietf.org/html/rfc5646\">Tags
  for Identifying Languages</a> on the <i>IETF Tools</i> web site. \";}s:4:\"Text\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:97:\"A
  UTF-8 text string. Each string must contain fewer that 5,000 bytes of UTF-8 encoded
  characters.\";}}s:8:\"required\";a:2:{i:0;s:4:\"Text\";i:1;s:12:\"LanguageCode\";}s:4:\"type\";s:6:\"object\";}s:22:\"DetectEntitiesResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"Entities\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ListOfEntities\";s:11:\"description\";s:289:\"A
  collection of entities identified in the input text. For each entity, the response
  provides the entity text, entity type, where the entity text begins and ends, and
  the level of confidence that Amazon Comprehend has in the detection. For a list
  of entity types, see <a>how-entities</a>. \";}}s:4:\"type\";s:6:\"object\";}s:23:\"DetectKeyPhrasesRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"LanguageCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/LanguageCode\";s:11:\"description\";s:428:\"The
  RFC 5646 language code for the input text. If you don't specify a language code,
  Amazon Comprehend detects the dominant language. If you specify the code for a language
  that Amazon Comprehend does not support, it returns and <code>UnsupportedLanguageException</code>.
  For more information about RFC 5646, see <a href=\"https://tools.ietf.org/html/rfc5646\">Tags
  for Identifying Languages</a> on the <i>IETF Tools</i> web site.\";}s:4:\"Text\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:97:\"A
  UTF-8 text string. Each string must contain fewer that 5,000 bytes of UTF-8 encoded
  characters.\";}}s:8:\"required\";a:2:{i:0;s:4:\"Text\";i:1;s:12:\"LanguageCode\";}s:4:\"type\";s:6:\"object\";}s:24:\"DetectKeyPhrasesResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"KeyPhrases\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ListOfKeyPhrases\";s:11:\"description\";s:279:\"A
  collection of key phrases that Amazon Comprehend identified in the input text. For
  each key phrase, the response provides the text of the key phrase, where the key
  phrase begins and ends, and the level of confidence that Amazon Comprehend has in
  the accuracy of the detection. \";}}s:4:\"type\";s:6:\"object\";}s:22:\"DetectSentimentRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"LanguageCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/LanguageCode\";s:11:\"description\";s:428:\"The
  RFC 5646 language code for the input text. If you don't specify a language code,
  Amazon Comprehend detects the dominant language. If you specify the code for a language
  that Amazon Comprehend does not support, it returns and <code>UnsupportedLanguageException</code>.
  For more information about RFC 5646, see <a href=\"https://tools.ietf.org/html/rfc5646\">Tags
  for Identifying Languages</a> on the <i>IETF Tools</i> web site.\";}s:4:\"Text\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:97:\"A
  UTF-8 text string. Each string must contain fewer that 5,000 bytes of UTF-8 encoded
  characters.\";}}s:8:\"required\";a:2:{i:0;s:4:\"Text\";i:1;s:12:\"LanguageCode\";}s:4:\"type\";s:6:\"object\";}s:23:\"DetectSentimentResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"Sentiment\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/SentimentType\";s:11:\"description\";s:85:\"The
  inferred sentiment that Amazon Comprehend has the highest level of confidence in.\";}s:14:\"SentimentScore\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/SentimentScore\";s:11:\"description\";s:79:\"An
  object that lists the sentiments, and their corresponding confidence levels.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"DominantLanguage\";O:8:\"stdClass\":3:{s:11:\"description\";s:149:\"Returns
  the code for the dominant language in the input text and the level of confidence
  that Amazon Comprehend has in the accuracy of the detection.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"LanguageCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:54:\"The
  RFC 5646 language code for the dominant language. \";}s:5:\"Score\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Float\";s:11:\"description\";s:84:\"The
  level of confidence that Amazon Comprehend has in the accuracy of the detection.\";}}s:4:\"type\";s:6:\"object\";}s:6:\"Entity\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"<p>Provides
  information about an entity. </p> <p> </p>\";s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"BeginOffset\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:344:\"A
  character offset in the input text that shows where the entity begins (the first
  character is at position 0). The offset returns the position of each UTF-8 code
  point in the string. A <i>code point</i> is the abstract character from a particular
  graphical representation. For example, a multi-byte UTF-8 character maps to a single
  code point.\";}s:9:\"EndOffset\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:304:\"A
  character offset in the input text that shows where the entity ends. The offset
  returns the position of each UTF-8 code point in the string. A <i>code point</i>
  is the abstract character from a particular graphical representation. For example,
  a multi-byte UTF-8 character maps to a single code point. \";}s:5:\"Score\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Float\";s:11:\"description\";s:84:\"The
  level of confidence that Amazon Comprehend has in the accuracy of the detection.\";}s:4:\"Text\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:23:\"The
  text of the entity.\";}s:4:\"Type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/EntityType\";s:11:\"description\";s:18:\"The
  entity's type.\";}}s:4:\"type\";s:6:\"object\";}s:10:\"EntityType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:9:{i:0;s:6:\"PERSON\";i:1;s:8:\"LOCATION\";i:2;s:12:\"ORGANIZATION\";i:3;s:15:\"COMMERCIAL_ITEM\";i:4;s:5:\"EVENT\";i:5;s:4:\"DATE\";i:6;s:8:\"QUANTITY\";i:7;s:5:\"TITLE\";i:8;s:5:\"OTHER\";}s:4:\"type\";s:6:\"string\";}s:5:\"Float\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:10:\"IamRoleArn\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:39:\"arn:aws(-[^:]+)?:iam::[0-9]{12}:role/.+\";s:4:\"type\";s:6:\"string\";}s:15:\"InputDataConfig\";O:8:\"stdClass\":4:{s:11:\"description\";s:47:\"The
  input properties for a topic detection job.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"InputFormat\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/InputFormat\";s:11:\"description\";s:471:\"<p>Specifies
  how the text in an input file should be processed:</p> <ul> <li> <p> <code>ONE_DOC_PER_FILE</code>
  - Each file is considered a separate document. Use this option when you are processing
  large documents, such as newspaper articles or scientific papers.</p> </li> <li>
  <p> <code>ONE_DOC_PER_LINE</code> - Each line in a file is considered a separate
  document. Use this option when you are processing many short documents, such as
  text messages.</p> </li> </ul>\";}s:5:\"S3Uri\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/S3Uri\";s:11:\"description\";s:462:\"<p>The
  Amazon S3 URI for the input data. The URI must be in same region as the API endpoint
  that you are calling. The URI can point to a single input file or it can provide
  the prefix for a collection of data files. </p> <p>For example, if you use the URI
  <code>S3://bucketName/prefix</code>, if the prefix is a single file, Amazon Comprehend
  uses that file as input. If more than one file begins with the prefix, Amazon Comprehend
  uses all of them as input.</p>\";}}s:8:\"required\";a:1:{i:0;s:5:\"S3Uri\";}s:4:\"type\";s:6:\"object\";}s:11:\"InputFormat\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:16:\"ONE_DOC_PER_FILE\";i:1;s:16:\"ONE_DOC_PER_LINE\";}s:4:\"type\";s:6:\"string\";}s:7:\"Integer\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:23:\"InternalServerException\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"An
  internal server error occurred. Retry your request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:22:\"InvalidFilterException\";O:8:\"stdClass\":3:{s:11:\"description\";s:114:\"The
  filter specified for the <code>ListTopicDetectionJobs</code> operation is invalid.
  Specify a different filter.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:23:\"InvalidRequestException\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"The
  request is invalid.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:5:\"JobId\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:32;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:7:\"JobName\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:256;s:9:\"minLength\";i:1;s:7:\"pattern\";s:32:\"^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-%@]*)$\";s:4:\"type\";s:6:\"string\";}s:20:\"JobNotFoundException\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"The
  specified job was not found. Check the job ID and try again.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:9:\"JobStatus\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:9:\"SUBMITTED\";i:1;s:11:\"IN_PROGRESS\";i:2;s:9:\"COMPLETED\";i:3;s:6:\"FAILED\";}s:4:\"type\";s:6:\"string\";}s:9:\"KeyPhrase\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Describes
  a key noun phrase.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"BeginOffset\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:348:\"A
  character offset in the input text that shows where the key phrase begins (the first
  character is at position 0). The offset returns the position of each UTF-8 code
  point in the string. A <i>code point</i> is the abstract character from a particular
  graphical representation. For example, a multi-byte UTF-8 character maps to a single
  code point.\";}s:9:\"EndOffset\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:302:\"A
  character offset in the input text where the key phrase ends. The offset returns
  the position of each UTF-8 code point in the string. A <code>code point</code> is
  the abstract character from a particular graphical representation. For example,
  a multi-byte UTF-8 character maps to a single code point.\";}s:5:\"Score\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Float\";s:11:\"description\";s:84:\"The
  level of confidence that Amazon Comprehend has in the accuracy of the detection.\";}s:4:\"Text\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:30:\"The
  text of a key noun phrase.\";}}s:4:\"type\";s:6:\"object\";}s:12:\"LanguageCode\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:2:\"en\";i:1;s:2:\"es\";}s:4:\"type\";s:6:\"string\";}s:34:\"ListOfDetectDominantLanguageResult\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:51:\"#/definitions/BatchDetectDominantLanguageItemResult\";}s:4:\"type\";s:5:\"array\";}s:26:\"ListOfDetectEntitiesResult\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/BatchDetectEntitiesItemResult\";}s:4:\"type\";s:5:\"array\";}s:28:\"ListOfDetectKeyPhrasesResult\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/BatchDetectKeyPhrasesItemResult\";}s:4:\"type\";s:5:\"array\";}s:27:\"ListOfDetectSentimentResult\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/BatchDetectSentimentItemResult\";}s:4:\"type\";s:5:\"array\";}s:23:\"ListOfDominantLanguages\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/DominantLanguage\";}s:4:\"type\";s:5:\"array\";}s:14:\"ListOfEntities\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Entity\";}s:4:\"type\";s:5:\"array\";}s:16:\"ListOfKeyPhrases\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/KeyPhrase\";}s:4:\"type\";s:5:\"array\";}s:30:\"ListTopicsDetectionJobsRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"Filter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/TopicsDetectionJobFilter\";s:11:\"description\";s:165:\"Filters
  the jobs that are returned. Jobs can be filtered on their name, status, or the date
  and time that they were submitted. You can set only one filter at a time.\";}s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/MaxResultsInteger\";s:11:\"description\";s:53:\"The
  maximum number of results to return in each page.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:46:\"Identifies
  the next page of results to return.\";}}s:4:\"type\";s:6:\"object\";}s:31:\"ListTopicsDetectionJobsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:46:\"Identifies
  the next page of results to return.\";}s:32:\"TopicsDetectionJobPropertiesList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:46:\"#/definitions/TopicsDetectionJobPropertiesList\";s:11:\"description\";s:62:\"A
  list containing the properties of each job that is returned.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"MaxResultsInteger\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:500;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:21:\"NumberOfTopicsInteger\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:100;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:16:\"OutputDataConfig\";O:8:\"stdClass\":4:{s:11:\"description\";s:85:\"<p>Provides
  configuration parameters for the output of topic detection jobs.</p> <p/>\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"S3Uri\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/S3Uri\";s:11:\"description\";s:484:\"<p>The
  Amazon S3 URI where you want to write the output data. The URI must be in the same
  region as the API endpoint that you are calling. </p> <p>The service creates an
  output file called <code>output.tar.gz</code>. It is a compressed archive that contains
  two files, <code>topic-terms.csv</code> that lists the terms associated with each
  topic, and <code>doc-topics.csv</code> that lists the documents associated with
  each topic. For more information, see <a>topic-modeling</a>.</p>\";}}s:8:\"required\";a:1:{i:0;s:5:\"S3Uri\";}s:4:\"type\";s:6:\"object\";}s:5:\"S3Uri\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:1024;s:7:\"pattern\";s:18:\"s3://([^/]+)(/.*)?\";s:4:\"type\";s:6:\"string\";}s:14:\"SentimentScore\";O:8:\"stdClass\":3:{s:11:\"description\";s:108:\"Describes
  the level of confidence that Amazon Comprehend has in the accuracy of its detection
  of sentiments.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"Mixed\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Float\";s:11:\"description\";s:120:\"The
  level of confidence that Amazon Comprehend has in the accuracy of its detection
  of the <code>MIXED</code> sentiment.\";}s:8:\"Negative\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Float\";s:11:\"description\";s:123:\"The
  level of confidence that Amazon Comprehend has in the accuracy of its detection
  of the <code>NEGATIVE</code> sentiment.\";}s:7:\"Neutral\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Float\";s:11:\"description\";s:122:\"The
  level of confidence that Amazon Comprehend has in the accuracy of its detection
  of the <code>NEUTRAL</code> sentiment.\";}s:8:\"Positive\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Float\";s:11:\"description\";s:123:\"The
  level of confidence that Amazon Comprehend has in the accuracy of its detection
  of the <code>POSITIVE</code> sentiment.\";}}s:4:\"type\";s:6:\"object\";}s:13:\"SentimentType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:8:\"POSITIVE\";i:1;s:8:\"NEGATIVE\";i:2;s:7:\"NEUTRAL\";i:3;s:5:\"MIXED\";}s:4:\"type\";s:6:\"string\";}s:30:\"StartTopicsDetectionJobRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":6:{s:18:\"ClientRequestToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/ClientRequestTokenString\";s:11:\"description\";s:113:\"A
  unique identifier for the request. If you do not set the client request token, Amazon
  Comprehend generates one.\";}s:17:\"DataAccessRoleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/IamRoleArn\";s:11:\"description\";s:146:\"The
  Amazon Resource Name (ARN) of the AWS Identity and Access Management (IAM) role
  that grants Amazon Comprehend read access to your input data. \";}s:15:\"InputDataConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/InputDataConfig\";s:11:\"description\";s:64:\"Specifies
  the format and location of the input data for the job.\";}s:7:\"JobName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/JobName\";s:11:\"description\";s:26:\"The
  identifier of the job.\";}s:14:\"NumberOfTopics\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/NumberOfTopicsInteger\";s:11:\"description\";s:31:\"The
  number of topics to detect.\";}s:16:\"OutputDataConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/OutputDataConfig\";s:11:\"description\";s:41:\"Specifies
  where to send the output files.\";}}s:8:\"required\";a:3:{i:0;s:15:\"InputDataConfig\";i:1;s:16:\"OutputDataConfig\";i:2;s:17:\"DataAccessRoleArn\";}s:4:\"type\";s:6:\"object\";}s:31:\"StartTopicsDetectionJobResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"JobId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/JobId\";s:11:\"description\";s:146:\"The
  identifier generated for the job. To get the status of the job, use this identifier
  with the <code>DescribeTopicDetectionJob</code> operation.\";}s:9:\"JobStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/JobStatus\";s:11:\"description\";s:421:\"<p>The
  status of the job: </p> <ul> <li> <p>SUBMITTED - The job has been received and is
  queued for processing.</p> </li> <li> <p>IN_PROGRESS - Amazon Comprehend is processing
  the job.</p> </li> <li> <p>COMPLETED - The job was successfully completed and the
  output is available.</p> </li> <li> <p>FAILED - The job did not complete. To get
  details, use the <code>DescribeTopicDetectionJob</code> operation.</p> </li> </ul>\";}}s:4:\"type\";s:6:\"object\";}s:6:\"String\";O:8:\"stdClass\":2:{s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:10:\"StringList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:4:\"type\";s:5:\"array\";}s:30:\"TextSizeLimitExceededException\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"The
  size of the input text exceeds the limit. Use a smaller document.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:9:\"Timestamp\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:24:\"TooManyRequestsException\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"The
  number of requests exceeds the limit. Resubmit your request later.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:24:\"TopicsDetectionJobFilter\";O:8:\"stdClass\":3:{s:11:\"description\";s:84:\"Provides
  information for filtering topic detection jobs. For more information, see .\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"JobName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/JobName\";s:11:\"description\";s:4:\"<p/>\";}s:9:\"JobStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/JobStatus\";s:11:\"description\";s:106:\"Filters
  the list of topic detection jobs based on job status. Returns only jobs with the
  specified status.\";}s:15:\"SubmitTimeAfter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:195:\"Filters
  the list of jobs based on the time that the job was submitted for processing. Only
  returns jobs submitted after the specified time. Jobs are returned in ascending
  order, oldest to newest.\";}s:16:\"SubmitTimeBefore\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:197:\"Filters
  the list of jobs based on the time that the job was submitted for processing. Only
  returns jobs submitted before the specified time. Jobs are returned in descending
  order, newest to oldest.\";}}s:4:\"type\";s:6:\"object\";}s:28:\"TopicsDetectionJobProperties\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Provides
  information about a topic detection job.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:7:\"EndTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:52:\"The
  time that the topic detection job was completed.\";}s:15:\"InputDataConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/InputDataConfig\";s:11:\"description\";s:79:\"The
  input data configuration supplied when you created the topic detection job.\";}s:5:\"JobId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/JobId\";s:11:\"description\";s:51:\"The
  identifier assigned to the topic detection job.\";}s:7:\"JobName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/JobName\";s:11:\"description\";s:36:\"The
  name of the topic detection job.\";}s:9:\"JobStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/JobStatus\";s:11:\"description\";s:155:\"The
  current status of the topic detection job. If the status is <code>Failed</code>,
  the reason for the failure is shown in the <code>Message</code> field.\";}s:7:\"Message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/AnyLengthString\";s:11:\"description\";s:38:\"A
  description for the status of a job.\";}s:14:\"NumberOfTopics\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:101:\"The
  number of topics to detect supplied when you created the topic detection job. The
  default is 10. \";}s:16:\"OutputDataConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/OutputDataConfig\";s:11:\"description\";s:80:\"The
  output data configuration supplied when you created the topic detection job.\";}s:10:\"SubmitTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:67:\"The
  time that the topic detection job was submitted for processing.\";}}s:4:\"type\";s:6:\"object\";}s:32:\"TopicsDetectionJobPropertiesList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/TopicsDetectionJobProperties\";}s:4:\"type\";s:5:\"array\";}s:28:\"UnsupportedLanguageException\";O:8:\"stdClass\":3:{s:11:\"description\";s:317:\"Amazon
  Comprehend can't process the language of the input text. For all APIs except <code>DetectDominantLanguage</code>,
  Amazon Comprehend accepts only English or Spanish text. For the <code>DetectDominantLanguage</code>
  API, Amazon Comprehend detects 100 languages. For a list of languages, see <a>how-languages</a>
  \";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}}"
...
