---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":6:{s:11:\"description\";s:27:\"PayUMoney API Documentation\";s:7:\"version\";s:3:\"1.0\";s:5:\"title\";s:27:\"Payumoney
  API Documentation\";s:14:\"termsOfService\";s:7:\"urn:tos\";s:7:\"contact\";O:8:\"stdClass\":0:{}s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:10:\"Apache
  2.0\";s:3:\"url\";s:42:\"http://www.apache.org/licenses/LICENSE-2.0\";}}"
host: payumoney.com
basePath: https
paths: ~
definitions: !php/object "O:8:\"stdClass\":20:{s:9:\"ResultDTO\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"errorCode\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:0:\"\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:12:\"responseCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:6:\"result\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/result1\";}}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:10:\"ResultDTO1\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:9:\"errorCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"guid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"result\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:4:\"rows\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:9:\"sessionId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:24:\"ResultDTO1_refundPayment\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:9:\"errorCode\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"Error
  Code,if applicable\";s:7:\"example\";s:0:\"\";}s:4:\"guid\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:7:\"example\";s:0:\"\";}s:7:\"message\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"Response
  Status Message\";s:7:\"example\";s:16:\"Refund Initiated\";}s:6:\"result\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"Refund
  Id\";s:7:\"example\";s:6:\"190651\";}s:4:\"rows\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:0:\"\";s:7:\"example\";s:1:\"0\";}s:9:\"sessionId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:7:\"example\";s:0:\"\";}s:6:\"status\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:0:\"\";s:7:\"example\";s:1:\"0\";}}}s:24:\"ResultDTO1_RefundDetails\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:9:\"errorCode\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"Error
  Code returned by Payumoney,if applicable\";s:7:\"example\";s:0:\"\";}s:4:\"guid\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:7:\"example\";s:0:\"\";}s:7:\"message\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"Response
  Message\";s:7:\"example\";s:16:\"Refund Details :\";}s:6:\"result\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:9:\"PaymentId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:54:\"The
  id of the sale transaction which is being refunded\";s:7:\"example\";s:8:\"58876807\";}s:13:\"Refund
  Amount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"Amount
  being refunded\";s:7:\"example\";s:3:\"1.0\";}s:19:\"Refund Completed On\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"Refund
  processing time if already processed\";s:7:\"example\";s:4:\"null\";}s:17:\"Refund
  Created On\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"Timestamp
  when refund request was raised\";s:7:\"example\";s:21:\"2017-04-26 15:59:51.0\";}s:13:\"Refund
  Status\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"Status
  of the Refund being checked\";s:7:\"example\";s:16:\"refundinprogress\";}s:8:\"RefundId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:67:\"Refund
  Id passed in the request,returned after initiating a refund.\";s:7:\"example\";s:6:\"190783\";}s:12:\"Total
  Amount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"The
  Sale transaction amount.\";s:7:\"example\";s:4:\"1.06\";}}}s:4:\"rows\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:0:\"\";s:7:\"example\";s:1:\"0\";}s:9:\"sessionId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:7:\"example\";s:0:\"\";}s:6:\"status\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:0:\"\";s:7:\"example\";s:1:\"0\";}}}s:33:\"ResultDTO1_RefundDetailsByPayment\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:9:\"errorCode\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"Error
  Code returned by Payumoney,if applicable\";s:7:\"example\";s:0:\"\";}s:4:\"guid\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:7:\"example\";s:0:\"\";}s:7:\"message\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:7:\"example\";s:16:\"Refund
  Details :\";}s:6:\"result\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"PaymentId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"Payment
  Id passed in the request\";s:7:\"example\";s:8:\"58876807\";}s:11:\"Amount Left\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"Amount
  remaining with merchant after refund\";s:7:\"example\";s:6:\"1266.0\";}s:18:\"Refund
  Details Map\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Refund
  request details\";s:7:\"example\";s:138:\"[{RefundId=190783, Refund Amount=10.0,
  Refund Completed On=null, Refund Status=refundinprogress, Refund Created On=2017-04-26
  15:59:51.0}]\";}s:12:\"Total Amount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"The
  total sale transaction amount\";s:7:\"example\";s:6:\"1276.0\";}}}s:4:\"rows\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:0:\"\";s:7:\"example\";s:1:\"0\";}s:9:\"sessionId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:7:\"example\";s:0:\"\";}s:6:\"status\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:0:\"\";s:7:\"example\";s:1:\"0\";}}}s:7:\"result1\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"amount\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:21:\"merchantTransactionId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"paymentId\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:30:\"ResultDTO_chkMerchantTxnStatus\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"errorCode\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:0:\"\";s:7:\"example\";s:0:\"\";}s:7:\"message\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"The
  response message\";s:7:\"example\";s:20:\"All txnIds are valid\";}s:12:\"responseCode\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:7:\"example\";s:0:\"\";}s:6:\"result\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"amount\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:23:\"The
  transaction amount.\";s:7:\"example\";s:5:\"106.1\";}s:21:\"merchantTransactionId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:68:\"The
  Unique transaction Id passed my merchant in the payment request.\";s:7:\"example\";s:15:\"396132-58876806\";}s:9:\"paymentId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:35:\"The
  Payumoney generated Payment Id.\";s:7:\"example\";s:8:\"58876806\";}s:6:\"status\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:59:\"The
  status of the payment transaction passed in the request\";s:7:\"example\";s:20:\"Money
  with Payumoney\";}}}s:6:\"status\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:24:\"The
  API response status.\";s:7:\"example\";s:1:\"0\";}}}s:31:\"ResultDTO_addInvoiceMerchantAPI\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"errorCode\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:0:\"\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:12:\"responseCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:6:\"result\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:6:\"amount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:13:\"customerEmail\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:12:\"customerName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:9:\"emailSent\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:0:\"\";}s:9:\"paymentId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:10:\"paymentURL\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:13:\"transactionId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}}}s:6:\"status\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:0:\"\";}}}s:31:\"ResultDTO_smsInvoiceMerchantAPI\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"errorCode\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:0:\"\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:12:\"responseCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:6:\"result\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:6:\"amount\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:0:\"\";}s:20:\"customerMobileNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:12:\"customerName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:21:\"merchantTransactionId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:9:\"paymentId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:0:\"\";}s:3:\"url\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}}}s:6:\"status\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:0:\"\";}}}s:28:\"ResultDTO_getPaymentResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"errorCode\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:24:\"Error
  Code,if applicable\";s:7:\"example\";s:0:\"\";}s:7:\"message\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:7:\"example\";s:20:\"All
  txnIds are valid\";}s:12:\"responseCode\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"API
  response code\";s:7:\"example\";s:0:\"\";}s:6:\"result\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:21:\"merchantTransactionId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:48:\"The
  unique transaction id passed by the merchant\";s:7:\"example\";s:15:\"396132-58876806\";}s:13:\"postBackParam\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"The
  parameters posted back in the response for a particular transaction\";s:10:\"properties\";O:8:\"stdClass\":71:{s:7:\"addedon\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"The
  Timestamp when a transaction is done.\";s:7:\"example\";s:19:\"2017-04-26 15:22:05\";}s:17:\"additionalCharges\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:66:\"The
  value of surcharge/convinience fee charged in the transaction.\";s:7:\"example\";s:3:\"6.1\";}s:16:\"additional_param\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:7:\"example\";s:0:\"\";}s:8:\"address1\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:7:\"example\";s:0:\"\";}s:8:\"address2\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:7:\"example\";s:0:\"\";}s:6:\"amount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"The
  transsaction amount.\";s:7:\"example\";s:5:\"100.0\";}s:12:\"amount_split\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:92:\"The
  transaction amount split between wallet & other payment mode in a payumoney transaction.\";s:7:\"example\";s:16:\"{\"PAYU\":\"106.1\"}\";}s:12:\"bank_ref_num\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:7:\"example\";s:10:\"1182885976\";}s:8:\"bankcode\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:70:\"The
  payumoney code number of issuing bank involved in the transaction.\";s:7:\"example\";s:4:\"MAST\";}s:12:\"calledStatus\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:0:\"\";s:7:\"example\";s:5:\"false\";}s:9:\"cardToken\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:7:\"example\";s:0:\"\";}s:19:\"card_merchant_param\";O:8:\"stdClass\":3:{s:4:\"type\";s:4:\"null\";s:11:\"description\";s:0:\"\";s:7:\"example\";s:0:\"\";}s:9:\"card_type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:7:\"example\";s:0:\"\";}s:8:\"cardhash\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:53:\"This
  field is no longer supported in postback params.\";s:7:\"example\";s:53:\"This field
  is no longer supported in postback params.\";}s:7:\"cardnum\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"The
  masked card number.\";s:7:\"example\";s:16:\"500446XXXXXX0000\";}s:4:\"city\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:7:\"example\";s:0:\"\";}s:7:\"country\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:7:\"example\";s:0:\"\";}s:9:\"createdOn\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:47:\"Epoch
  time(Unix time) when transaction is done.\";s:7:\"example\";s:13:\"1493200111000\";}s:8:\"discount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"Discount,
  if applicable in a transaction.\";s:7:\"example\";s:4:\"0.00\";}s:5:\"email\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  email id of the payer.\";s:7:\"example\";s:14:\"test@email.com\";}s:18:\"encryptedPaymentId\";O:8:\"stdClass\":3:{s:4:\"type\";s:4:\"null\";s:11:\"description\";s:0:\"\";s:7:\"example\";s:0:\"\";}s:5:\"error\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"The
  error code associated with the transaction.\";s:7:\"example\";s:4:\"E000\";}s:13:\"error_Message\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"The
  error code associated with the transaction.\";s:7:\"example\";s:8:\"No Error\";}s:8:\"fetchAPI\";O:8:\"stdClass\":3:{s:4:\"type\";s:4:\"null\";s:11:\"description\";s:0:\"\";s:7:\"example\";s:0:\"\";}s:6:\"field1\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:7:\"example\";s:0:\"\";}s:6:\"field2\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:7:\"example\";s:0:\"\";}s:6:\"field3\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:7:\"example\";s:0:\"\";}s:6:\"field4\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:7:\"example\";s:0:\"\";}s:6:\"field5\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:7:\"example\";s:0:\"\";}s:6:\"field6\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:7:\"example\";s:0:\"\";}s:6:\"field7\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:7:\"example\";s:0:\"\";}s:6:\"field8\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:7:\"example\";s:0:\"\";}s:6:\"field9\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:7:\"example\";s:0:\"\";}s:9:\"firstname\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:63:\"The
  firstname of the customer collected at the time of payment.\";s:7:\"example\";s:8:\"Tom
  Jude\";}s:4:\"hash\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:91:\"The
  response hash to be validated by merchant to ensure the response has not been tampered.\";s:7:\"example\";s:128:\"9a5e632d332c11eb74f8a76ba3dcccd0548f1f26a73bc2541f85198a3cf0eb948ad8caff6b0921ae9a11aa7648c70f0a87ac29d09790ba2f1c31d48823ba9a85\";}s:3:\"key\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:51:\"The
  merchant key available from Payumoney dashboar.\";s:7:\"example\";s:6:\"40747T\";}s:8:\"lastname\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:7:\"example\";s:0:\"\";}s:6:\"meCode\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:7:\"example\";s:106:\"{\"tranportalid\":\"90000970\",\"pg_alias\":\"90000970\",\"pg_name\":\"hdfctraveltesting\",\"tranportalpwd\":\"password\"}\";}s:8:\"mihpayid\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:7:\"example\";s:14:\"70000000688113\";}s:4:\"mode\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:90:\"Payment
  Mode in: \n- Netbanking (NB)\n- Debit Card(DC) \n- Credit Card(CC)\n- Wallet (WALLET).\";s:7:\"example\";s:2:\"DC\";}s:12:\"name_on_card\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"The
  card holder name\";s:7:\"example\";s:3:\"Tom\";}s:16:\"net_amount_debit\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:7:\"example\";s:5:\"106.1\";}s:13:\"offer_availed\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:7:\"example\";s:0:\"\";}s:20:\"offer_failure_reason\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:7:\"example\";s:0:\"\";}s:9:\"offer_key\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:7:\"example\";s:0:\"\";}s:10:\"offer_type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:7:\"example\";s:0:\"\";}s:12:\"paisa_mecode\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:7:\"example\";s:0:\"\";}s:9:\"paymentId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:29:\"The
  PayU generated Payment Id\";s:7:\"example\";s:8:\"58876806\";}s:11:\"payuMoneyId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:52:\"The
  Payumoney generated Payment Id.Same as paymentId\";s:7:\"example\";s:8:\"58876806\";}s:7:\"pg_TYPE\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:48:\"The
  payment gateway used to process the payment.\";s:7:\"example\";s:6:\"HDFCPG\";}s:9:\"pg_ref_no\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:7:\"example\";s:0:\"\";}s:5:\"phone\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"The
  phone number of the payer.\";s:7:\"example\";s:10:\"6121212232\";}s:15:\"postBackParamId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:0:\"\";s:7:\"example\";s:8:\"39803778\";}s:7:\"postUrl\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:52:\"The
  actual URL where response is posted in SURL/FURL\";s:7:\"example\";s:76:\"https://test.payumoney.com/customer/dashboard/#/payment/notification/success\";}s:11:\"productinfo\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:54:\"The
  product description passed in the payment request.\";s:7:\"example\";s:11:\"productInfo\";}s:5:\"state\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:7:\"example\";s:0:\"\";}s:6:\"status\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"The
  transaction status\";s:7:\"example\";s:6:\"sucess\";}s:5:\"txnid\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:64:\"The
  unique merchant transaction id passed in the payment request\";s:7:\"example\";s:15:\"396132-58876806\";}s:4:\"udf1\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:7:\"example\";s:0:\"\";}s:5:\"udf10\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"User
  Defined Field\";s:7:\"example\";s:0:\"\";}s:4:\"udf2\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"User
  Defined Field\";s:7:\"example\";s:0:\"\";}s:4:\"udf3\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"User
  Defined Field\";s:7:\"example\";s:0:\"\";}s:4:\"udf4\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"User
  Defined Field\";s:7:\"example\";s:0:\"\";}s:4:\"udf5\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"User
  Defined Field\";s:7:\"example\";s:0:\"\";}s:4:\"udf6\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"User
  Defined Field\";s:7:\"example\";s:0:\"\";}s:4:\"udf7\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"User
  Defined Field\";s:7:\"example\";s:0:\"\";}s:4:\"udf8\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"User
  Defined Field\";s:7:\"example\";s:0:\"\";}s:4:\"udf9\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"User
  Defined Field\";s:7:\"example\";s:0:\"\";}s:14:\"unmappedstatus\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"PayU
  parameter for internal use.\";s:7:\"example\";s:8:\"captured\";}s:7:\"version\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:7:\"example\";s:0:\"\";}s:7:\"zipcode\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:7:\"example\";s:0:\"\";}}s:4:\"type\";s:6:\"object\";}}}}s:6:\"status\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:23:\"The
  API Response Status\";s:7:\"example\";s:1:\"0\";}}}s:20:\"InvoiceSearchRequest\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:6:\"amount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"Amount
  for which invoice is to be searched\";s:7:\"example\";s:5:\"10.00\";}s:18:\"invoiceDescription\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:51:\"Description
  for which the invoice is to be searched\";s:7:\"example\";s:16:\"Rent for January\";}s:13:\"invoiceNumber\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"Unique
  Id to identify an invoice\";s:7:\"example\";s:11:\"INV12345678\";}s:6:\"source\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:48:\"Parameter
  to identify source sending the request\";s:7:\"example\";s:15:\"API_INT_INVOICE\";}s:6:\"status\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:58:\"Parameter
  to identify status of the invoice to be searched\";s:7:\"example\";s:6:\"ACTIVE\";}s:7:\"tinyUrl\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"Url
  for which invoice is to be searched\";s:7:\"example\";s:18:\"www.pmny.com/txnID\";}s:2:\"to\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"End
  date to search invoices\";s:6:\"format\";s:9:\"date-time\";}s:4:\"from\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Start
  date to search invoices\";s:6:\"format\";s:9:\"date-time\";}}}s:24:\"InvoiceSearchResponseDTO\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:9:\"errorCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:4:\"guid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"null\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"SUCCESS\";}s:6:\"result\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:21:\"invoiceSearchResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:7:\"addedOn\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:70:\"https://www.payumoney.com/invoicing/invoice/5860100/INV585808382170816\";}s:13:\"invoiceNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:18:\"INV585808382170816\";}s:18:\"invoiceDescription\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:200;}s:6:\"amount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"SUCCESS\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:70:\"https://www.payumoney.com/invoicing/invoice/5860100/INV585808382170816\";}s:12:\"shortenedUrl\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:18:\"INV585808382170816\";}s:10:\"expiryDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:200;}}}s:9:\"errorCode\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:200;}s:8:\"errorMsg\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"SUCCESS\";}}}s:4:\"rows\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:6:\"Amount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"discount\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:60:\"Discount
  amount which will be levied upto two decimal places\";s:8:\"required\";b:0;s:7:\"example\";s:5:\"10.00\";}s:14:\"shippingCharge\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:61:\"Shipping
  Charge which will be charged upto two decimal places\";s:8:\"required\";b:0;s:7:\"example\";s:5:\"10.00\";}s:9:\"subAmount\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:69:\"Mandatory
  Field. Amount which will be charged upto two decimal places\";s:7:\"example\";s:5:\"10.00\";s:8:\"required\";b:1;}s:3:\"tax\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:49:\"Tax
  which will be charged upto two decimal places\";s:8:\"required\";b:0;s:7:\"example\";s:5:\"10.00\";}}}s:7:\"Channel\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"viaEmail\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:53:\"For
  sending payment links by Email, value is set to 1\";s:8:\"required\";b:0;s:7:\"example\";i:1;}s:6:\"viaSms\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:51:\"For
  sending payment links by SMS, value is set to 1\";s:8:\"required\";b:0;s:7:\"example\";i:1;}}}s:28:\"SingleInvoicePaymentResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:9:\"errorCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:4:\"guid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"null\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"SUCCESS\";}s:6:\"result\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"specialMsg\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:70:\"https://www.payumoney.com/invoicing/invoice/5860100/INV585808382170816\";}s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:18:\"INV585808382170816\";}s:9:\"errorCode\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:200;}s:8:\"errorMsg\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"SUCCESS\";}}}s:4:\"rows\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:7:\"Address\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"addressCity\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"Address
  city of the consumer\";s:8:\"required\";b:0;s:7:\"example\";s:7:\"Gurgaon\";}s:14:\"addressCountry\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"Address
  country of the consumer\";s:8:\"required\";b:0;s:7:\"example\";s:5:\"India\";}s:12:\"addressState\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Address
  state of the consumer\";s:8:\"required\";b:0;s:7:\"example\";s:7:\"Haryana\";}s:14:\"addressStreet1\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"Address
  street of the consumer\";s:8:\"required\";b:0;s:7:\"example\";s:46:\"Payu Payments
  Pvt. Ltd , Sector 49, Sohna road\";}s:14:\"addressStreet2\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"Address
  street of the consumer\";s:8:\"required\";b:0;s:7:\"example\";s:5:\"10.00\";}s:10:\"addressZip\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"Address
  zip of the consumer\";s:8:\"required\";b:0;s:7:\"example\";s:6:\"313001\";}}}s:27:\"SingleInvoicePaymentRequest\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":17:{s:7:\"addedOn\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"Creation
  date and time for a payment link\";s:8:\"required\";b:0;s:6:\"format\";s:9:\"date-time\";}s:6:\"amount\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Amount\";}s:11:\"bulkRequest\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:72:\"For
  single invoice creation, value of bulkRequest is 0. (For future use)\";s:8:\"required\";b:0;s:7:\"example\";i:0;}s:7:\"channel\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Channel\";}s:8:\"currency\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:98:\"Three
  digit alphabetic currency of the amount for which invoice is to be generated (Default
  : INR)\";s:8:\"required\";b:0;s:7:\"example\";s:3:\"INR\";}s:12:\"customParams\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"CustomerID\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:55:\"User
  defined parameters (Up to 15 parameters supported)\";s:8:\"required\";b:0;s:7:\"example\";s:8:\"23451243\";}}}s:10:\"expiryDate\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"Expiration
  date and time for the payment links\";s:8:\"required\";b:0;s:6:\"format\";s:9:\"date-time\";}s:4:\"furl\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:82:\"Failure
  Url on which merchant will be redirected in case of a unsuccessful payment\";s:8:\"required\";b:0;s:7:\"example\";s:31:\"www.payumoney.com/failure/txnID\";}s:18:\"invoiceDescription\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:91:\"Mandatory
  Field. Description of the invoice to be generated. Max. 40 characters supported.
  \";s:8:\"required\";b:1;s:7:\"example\";s:16:\"Rent for January\";}s:13:\"invoiceNumber\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:131:\"Unique
  Id to identify an invoice. 16 characters invoice number supported. Merchant can
  either pass a value or it is auto generated.\";s:8:\"required\";b:0;s:7:\"example\";s:11:\"INV12345678\";}s:13:\"invoiceStatus\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:60:\"Current
  Status of the Invoice Link (ACTIVE/INACTIVE/EXPIRED)\";s:8:\"required\";b:0;s:7:\"example\";s:1:\"0\";}s:18:\"maxPaymentsAllowed\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:63:\"Maximum
  number of successful payment allowed for a payment link\";s:8:\"required\";b:0;s:6:\"format\";s:5:\"int32\";}s:10:\"merchantId\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:72:\"Mandatory
  Field. Merchant Id of the merchant requesting Invoice Creation\";s:8:\"required\";b:1;s:7:\"example\";s:3:\"146\";}s:9:\"signature\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:87:\"Mandatory
  Field. Signature/Hash for the invoice to be generated (For security purposes)\";s:8:\"required\";b:1;s:7:\"example\";s:64:\"E7A90CEF655ED35375FE0C3AF0C8BDB7ACEDAA88687A2CEB6A567F09073AA9B0\";}s:6:\"source\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:53:\"Source
  of Invoice creation request (For internal use)\";s:8:\"required\";b:0;s:7:\"example\";s:15:\"API_INT_INVOICE\";}s:4:\"surl\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:80:\"Success
  Url on which merchant will be redirected in case of a successful payment\";s:8:\"required\";b:0;s:7:\"example\";s:31:\"www.payumoney.com/success/txnID\";}s:11:\"userDetails\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/UserDetails\";}}}s:11:\"UserDetails\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"address\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Address\";}s:16:\"alternate_number\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"Additional
  Mobile Number \";s:8:\"required\";b:0;s:7:\"example\";s:10:\"9806754321\";}s:5:\"email\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"Email
  ID on which the payment link is send\";s:8:\"required\";b:0;s:7:\"example\";s:18:\"john.doe@gmail.com\";}s:4:\"name\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"Consumer
  Name\";s:8:\"required\";b:0;s:7:\"example\";s:8:\"John Doe\";}s:12:\"phone_number\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:54:\"Mobile
  Number on which the payment link is send as SMS\";s:8:\"required\";b:0;s:7:\"example\";s:10:\"9999988888\";}}}s:21:\"ManageInvoiceResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:9:\"errorCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:4:\"guid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"result\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"ACTIVE\";}s:9:\"errorCode\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:200;}s:8:\"errorMsg\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"SUCCESS\";}}}s:4:\"rows\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:28:\"GenerateSignatureResponseDTO\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:9:\"errorCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:4:\"guid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"null\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"SUCCESS\";}s:6:\"result\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"signature\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:21:\"asdfg456789fghjkl6789\";}s:9:\"errorCode\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"example\";i:200;}s:8:\"errorMsg\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"SUCCESS\";}}}s:4:\"rows\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}}"
...
