---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:31:\"Vandelay Industries API
  - DRAFT\";s:11:\"description\";s:562:\"[Vandelay Industries](http://www.urbandictionary.com/define.php?term=Vandelay)
  is a vertically integrated chemical manufaturing, import/export, and sales enterprise
  headquartered in the Upper West Side, NYC. It was founded by Art Vandely in 1990.\n\nIt
  is known both for the quality of its product as well as its aggressive salesperson
  recruiting program.\n\nThe Vandelay Industries API platform, documented here, represents
  a unified view of its ERP and CRM systems for use by both internal applications
  and 3rd-party strategic partner system integrations.\n \n     \n\";s:7:\"version\";s:5:\"0.0.1\";}"
host: vandelay.apivista.com
basePath: /v1
paths:
  /text:
    get:
      tags:
      - StackOverflow
      summary: Return plain text w/ line breaks...
      operationId: showText
      parameters:
      - name: limit
        in: query
        description: How many items to return at one time (max 100)
        minimum: 0
        maximum: 63333
        required: false
        type: integer
        format: int32
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Text'
  /factories:
    get:
      tags:
      - real estate
      summary: List factories in the ERP system
      description: The factory is an important top-level object for tracking both
        manufacturing activities as well as supply chain & order fulfillment, underpinning
        Vandelay's import/export business.
      operationId: getFactories
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Factory'
  /factories/{factoryId}/machines:
    get:
      tags:
      - capital equipment
      summary: List machines at a given factory
      description: The factory is an important top-level object for tracking both
        manufacturing activities as well as supply chain & order fulfillment, underpinning
        Vandelay's import/export business.
      operationId: getMachines
      parameters:
      - name: factoryId
        in: path
        description: The ID of the factory housing the machine
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Machine'
  /warehouses:
    get:
      tags:
      - real estate
      summary: List warehouses in the ERP system
      description: The warehouse is an important top-level object for tracking both
        inbound material and outbound product.
      operationId: getWarehouses
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Warehouse'
  /warehouses/{warehouseId}/inventory:
    get:
      tags:
      - inventory
      summary: Return an array containing inventory for a single warehouse
      description: Currently an unpaged inventory list
      operationId: getWarehouse
      parameters:
      - name: warehouseId
        in: path
        description: The ID of the warehouse to return inventory for
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/Inventory'
    post:
      tags:
      - inventory
      summary: Records the addition of inventory to a warehouse
      description: xxxn
      operationId: addItem
      parameters:
      - name: warehouseId
        in: path
        description: The ID of the warehouse receiving the item
        required: true
        type: string
      - name: item
        description: This object represents all the Item specificsn
        in: body
        required: true
        schema:
          $ref: '#/definitions/InventoryItem'
      responses:
        201:
          description: Item Added
          schema:
            type: array
            items:
              $ref: '#/definitions/Inventory'
produces:
- application/json
- text/plain
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":7:{s:7:\"Factory\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"factoryId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:11:\"factoryName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:17:\"Newark
  Latex Mfg.\";}s:18:\"factoryDescription\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:108:\"Key
  East Coast facility for raw latex material to be processed into final products for
  the medical industry.\";}s:14:\"factoryAddress\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Address\";}}}s:7:\"Machine\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"factoryId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:9:\"machineId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:11:\"machineName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:15:\"Extruder
  AB-100\";}s:18:\"machineDescription\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:38:\"Extruder
  with 1,000fpm output capacity\";}}}s:9:\"Warehouse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"warehouseId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:13:\"warehouseName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:16:\"Pier
  10 Holdings\";}s:20:\"warehouseDescription\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:96:\"Key
  East Coast shipping/receiving location for storing finished product, ready for distribution.\";}s:16:\"warehouseAddress\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Address\";}}}s:9:\"Inventory\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"warehouseId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:6:\"itemId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:7:\"itemSKU\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:12:\"itemQuantity\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:8:\"itemName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:15:\"Waterproof
  seal\";}s:15:\"itemDescription\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:38:\"For
  sealing specimens to preserve them\";}}}s:13:\"InventoryItem\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"itemSKU\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:12:\"itemQuantity\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:8:\"itemName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:15:\"Waterproof
  seal\";}s:15:\"itemDescription\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:38:\"For
  sealing specimens to preserve them\";}}}s:7:\"Address\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:12:\"buildingName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"streetLine1\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"streetLine2\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"city\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"stateProvince\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"zipPostalCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:4:\"Text\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"multiLineString\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:21:\"return
  \n\nvalue      \n\";}}}}"
...
