---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":4:{s:11:\"description\";s:387:\"The Product API
  will enable our hotels partners to create and edit their room types and rate plans
  via APIs, without having to use EPC or contact their market manager. The API also
  enables our partners to read the definition of the room types and rate plans created
  in the system. </br><br/>Use your existing EQC credentials or the following test
  credentials: EQCtest12933873 / cc47an46\n\";s:7:\"version\";s:3:\"2.0\";s:5:\"title\";s:11:\"Product
  API\";s:7:\"contact\";O:8:\"stdClass\":3:{s:4:\"name\";s:20:\"Lodging Connectivity\";s:3:\"url\";s:34:\"developer.expediapartnercental.com\";s:5:\"email\";s:22:\"lctvikings@expedia.com\";}}"
host: services.expediapartnercentral.com
basePath: /products
paths: ~
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":28:{s:41:\"ResponseWrapperDTO\xABList\xABRoomTypeDTO\xBB\xBB\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"entity\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/RoomTypeDTO\";}}s:6:\"errors\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/ErrorDTO\";}}}}s:19:\"DistributionRuleDTO\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:17:\"distributionModel\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"compensation\";O:8:\"stdClass\":3:{s:11:\"description\";s:121:\"Applicable
  compensation rules for this distribution model. Defaults to the value defined on
  the contract with the partner\";s:8:\"readOnly\";b:1;s:4:\"$ref\";s:33:\"#/definitions/CompensationRuleDTO\";}s:17:\"distributionModel\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:404:\"Distribution
  model adopted by the rate plan, matching property configuration. ExpediaCollect:
  indicates that when customers book this rate plan, they will pay Expedia. HotelCollect:
  indicates that when customers book this rate plan, they will pay the property. Note:
  if a product can be sold as both ExpediaCollect and HotelCollect, there will be
  2 distribution rules under the rate plan to indicate this\";s:4:\"enum\";a:2:{i:0;s:12:\"HotelCollect\";i:1;s:14:\"ExpediaCollect\";}}s:9:\"expediaId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:202:\"String,
  min 1, max 50 characters. Expedia rate plan ID that will be specified in booking
  messages and that should be used to manage avail/rates if this set of distribution
  rules is marked as manageable.\";}s:10:\"manageable\";O:8:\"stdClass\":4:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:0;s:11:\"description\";s:296:\"Cannot
  be provided in a create request. Default to yes for HotelCollect-only or ExpediaCollect-only
  rate plans. For ExpediaTravelerPreference rate plans, if rate acquisition type is
  net, ExpediaCollect will default to true; if rate acquisition type is Sell/LAR,
  HotelCollect will default to true.\";s:8:\"readOnly\";b:1;}s:11:\"partnerCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:297:\"Unique
  partner identifier for the rate plan. For a given room type, this code has to be
  unique per distribution model (e.g. for all ExpediaCollect rate plan distribution
  rules under this room, this code has to be unique). Uniqueness will be validated
  by Expedia during create or update operations.\";}}}s:8:\"ErrorDTO\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:18:\"PropertyAddressDTO\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"city\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"City
  in which the property is located\";}s:11:\"countryCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:78:\"ISO
  3166-1 Alpha 3 country code, for the country where the property is located\";}s:5:\"line1\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"First
  line of address\";}s:5:\"line2\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"Second
  line of address, not always available\";}s:10:\"postalCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"Postal
  or State Code, might not be available\";}s:5:\"state\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:65:\"State/Province,
  which is optional and thus might not be available\";}}}s:11:\"RoomTypeDTO\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:7:{i:0;s:13:\"ageCategories\";i:1;s:12:\"extraBedding\";i:2;s:12:\"maxOccupancy\";i:3;s:4:\"name\";i:4;s:11:\"partnerCode\";i:5;s:18:\"smokingPreferences\";i:6;s:15:\"standardBedding\";}s:10:\"properties\";O:8:\"stdClass\":12:{s:13:\"ageCategories\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:121:\"Defines
  the different age categories supported by the room type. At the very least, the
  'Adult' category must be defined.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/RoomTypeAgeCategoryDTO\";}}s:12:\"extraBedding\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:92:\"Defines
  the configuration (type, size and quality) of any extra beds the room type may have.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/BedDTO\";}}s:12:\"maxOccupancy\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"Defines
  the maximum occupancy for the room, counting adults and children.\";s:4:\"$ref\";s:26:\"#/definitions/OccupancyDTO\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:130:\"Formed
  by a [ISO 639-1]-[ISO-3166-1]. If applicable, it contains the RNS attributes used
  to generate the value. Max 255 characters\";s:4:\"$ref\";s:29:\"#/definitions/RoomTypeNameDTO\";}s:11:\"partnerCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:53:\"Partner
  room type code/identifier. Max. 40 characters\";}s:10:\"resourceId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:88:\"Expedia
  ID for this resource. Generated when created. Generated on POST, required on PUT\";}s:8:\"roomSize\";O:8:\"stdClass\":2:{s:11:\"description\";s:101:\"Used
  to define room size. When used, both size in square feet and in square meters must
  be specified.\";s:4:\"$ref\";s:25:\"#/definitions/RoomSizeDTO\";}s:18:\"smokingPreferences\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:412:\"Used
  to define whether the room type is smoking, nonsmoking, or if both options are available
  on request. If a single smoking option is provided, then the room is, by default,
  only available in this configuration. If both options are provided, then a choice
  will be offered to the customer at the time he makes a reservation, and the customer
  preference will be sent in electronic booking messages to the partner\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:7:\"Smoking\";i:1;s:11:\"Non-Smoking\";}}}s:15:\"standardBedding\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:81:\"Lists
  the different combination of beds (type, size and quality) a room may have.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/BeddingOptionDTO\";}}s:6:\"status\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:217:\"Room
  type status is derived from the rate plans under the room type: if at least 1 rate
  plan is active, the room type status will be active. If all rate plans are inactive,
  then the room type becomes inactive as well.\";s:4:\"enum\";a:2:{i:0;s:6:\"Active\";i:1;s:8:\"Inactive\";}}s:5:\"views\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:52:\"Used
  to indicate the views available from this room.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:26:{i:0;s:8:\"Bay
  View\";i:1;s:10:\"Beach View\";i:2;s:10:\"Canal View\";i:3;s:9:\"City View\";i:4;s:14:\"Courtyard
  View\";i:5;s:11:\"Desert View\";i:6;s:11:\"Garden View\";i:7;s:9:\"Golf View\";i:8;s:11:\"Harbor
  View\";i:9;s:9:\"Hill View\";i:10;s:11:\"Lagoon View\";i:11;s:9:\"Lake View\";i:12;s:17:\"Partial
  Lake View\";i:13;s:11:\"Marina View\";i:14;s:13:\"Mountain View\";i:15;s:10:\"Ocean
  View\";i:16;s:18:\"Partial Ocean View\";i:17;s:9:\"Park View\";i:18;s:9:\"Pool View\";i:19;s:11:\"Resort
  View\";i:20;s:10:\"River View\";i:21;s:8:\"Sea View\";i:22;s:16:\"Partial Sea View\";i:23;s:11:\"Valley
  View\";i:24;s:13:\"Vineyard View\";i:25;s:10:\"Water View\";}}}s:23:\"wheelchairAccessibility\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:0;s:11:\"description\";s:83:\"Used
  to indicate whether the room is configured to be wheelchair accessible or not.\";}}}s:24:\"CancelPolicyExceptionDTO\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"endDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:55:\"Format:
  YYYY-MM-DD. Cancel penalty exception's end date\";}s:9:\"penalties\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:45:\"Definition
  of the exception penalties applied\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/PenaltyDTO\";}}s:9:\"startDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:60:\"Format:
  YYYY-MM-DD. Cancel penalty exception's starting date\";}}}s:24:\"AdditionalGuestAmountDTO\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"ageCategory\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"The
  age category for the additional guests\";s:4:\"enum\";a:6:{i:0;s:5:\"Adult\";i:1;s:9:\"ChildAgeA\";i:2;s:9:\"ChildAgeB\";i:3;s:9:\"ChildAgeC\";i:4;s:9:\"ChildAgeD\";i:5;s:6:\"Infant\";}}s:6:\"amount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:47:\"Min
  value 0.000, accepts up to 3 decimal points\";}s:7:\"dateEnd\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:112:\"Date
  at which this amount will not be effective anymore. If no end date defined, will
  be returned as 2079-06-06.\";}s:9:\"dateStart\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:70:\"Date
  at which this amount started being applicable, can be in the past\";}}}s:19:\"CompensationRuleDTO\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:9:\"minAmount\";i:1;s:7:\"percent\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"exceptions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:165:\"Depending
  on the contractual agreement between Expedia and the partner, compensation can vary
  based on different criteria. This array of exceptions will reflect this\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/CompensationExceptionRuleDTO\";}}s:9:\"minAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:100:\"Minimum
  amount. Accepts up to 3 decimal points. Only applicable to ExpediaCollect distribution
  rules\";}s:7:\"percent\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:113:\"Compensation
  percentage applied by default. Expressed as a value. Between 0 and 1, accepts up
  to 4 decimal points\";}}}s:18:\"RoomTypeAmenityDTO\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:4:\"code\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"Uniquely
  identifies an amenitiy\";}s:10:\"detailCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:132:\"Adds
  precision or qualifies the amenity. Mandatory for some amenity, optional for other
  and prohibited by the rest of the amenities.\";}s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:131:\"Integer.
  Adds precision to the amenity. Mandatory for some amenity, optional for other and
  prohibited by the rest of the amenities.\";}}}s:41:\"ResponseWrapperDTO\xABList\xABRatePlanDTO\xBB\xBB\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"entity\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/RatePlanDTO\";}}s:6:\"errors\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/ErrorDTO\";}}}}s:16:\"BeddingOptionDTO\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"option\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/BedDTO\";}}}}s:41:\"ResponseWrapperDTO\xABList\xABPropertyDTO\xBB\xBB\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"entity\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/PropertyDTO\";}}s:6:\"errors\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/ErrorDTO\";}}}}s:16:\"RnsAttributesDTO\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:13:\"accessibility\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:0;s:11:\"description\";s:69:\"Attribute
  that determines if room is considered wheelchair accessible\";}s:4:\"area\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:53:\"Attributed
  used to highlight the location of the room\";}s:14:\"bedroomDetails\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:84:\"Attribute
  that describes details of the bedroom used to compose the name of the room\";}s:11:\"customLabel\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:143:\"Free
  text that can be appended to the name generated by the attributes. Use of this attribute
  is discouraged (see full spec). Max 37 characters\";}s:15:\"featuredAmenity\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:61:\"Attribute
  used to highlight a feature of the room on its name\";}s:14:\"includeBedType\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:0;s:11:\"description\";s:77:\"Attribute
  that determines whether or not to include bed type on the room name\";}s:18:\"includeSmokingPref\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:0;s:11:\"description\";s:56:\"Attribute
  that determines if room has smoking preference\";}s:9:\"roomClass\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:77:\"Attribute
  that described the class of room, which is used to compose the name\";}s:10:\"typeOfRoom\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:77:\"Attribute
  that determines the type of room, which is used to compose the name\";}s:4:\"view\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:70:\"Attribute
  that gives additional information about the view of the room\";}}}s:10:\"PenaltyDTO\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"amount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:544:\"Min
  value 0.000 (3 decimal points). The amount provided here should be based on the
  property rate acquisition type. If the property rate acquisition type is Net, the
  rate provided here should be net of Expedia compensation. If it is SellLAR, the
  rate should be what the customer will be charged (inclusive of Expedia compensation).
  Used to define a flat amount that would be charged as a cancel or change penalty.
  This would normally replace a per-stay fee, but it can also be added on top of a
  per-stay fee if that is what the partner requires\";}s:8:\"deadline\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:125:\"Number
  of hours prior to the arrival of the guest. When set to 0, it means up until end
  of the day of arrival. Min 0, Max 999\";}s:10:\"perStayFee\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:79:\"Fee
  that will be charged if the customer cancels within the specified deadline.\";s:4:\"enum\";a:13:{i:0;s:4:\"None\";i:1;s:18:\"1stNightRoomAndTax\";i:2;s:17:\"2NightsRoomAndTax\";i:3;s:19:\"10PercentCostOfStay\";i:4;s:19:\"20PercentCostOfStay\";i:5;s:19:\"30PercentCostOfStay\";i:6;s:19:\"40PercentCostOfStay\";i:7;s:19:\"50PercentCostOfStay\";i:8;s:19:\"60PercentCostOfStay\";i:9;s:19:\"70PercentCostOfStay\";i:10;s:19:\"80PercentCostOfStay\";i:11;s:19:\"90PercentCostOfStay\";i:12;s:14:\"FullCostOfStay\";}}}}s:12:\"OccupancyDTO\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"adults\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:8:\"children\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:5:\"total\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:11:\"RatePlanDTO\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:17:\"distributionRules\";i:1;s:4:\"name\";i:2;s:20:\"occupantsForBaseRate\";}s:10:\"properties\";O:8:\"stdClass\":21:{s:22:\"additionalGuestAmounts\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:131:\"Array
  of additional guest amounts. Up to 6 can be specified, 1 per category. Only 1 amount
  can be given per category, for all dates\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/AdditionalGuestAmountDTO\";}}s:11:\"bookDateEnd\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:221:\"Date
  at which this rate plan stops being available for searching on any Expedia POS.
  Format YYYY-MM-DD. If not restricted, will be returned as 2079-06-06. If in 2079,
  indicates this rate plan book end date is unrestricted\";}s:13:\"bookDateStart\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:235:\"Date
  at which this rate plan starts being available for searching on any Expedia POS.
  If in the past, indicates rate plan book date start is not restricted. Accepted
  format: YYYY-MM-DD. If not restricted, will be returned as 1900-01-01\";}s:12:\"cancelPolicy\";O:8:\"stdClass\":2:{s:11:\"description\";s:217:\"Default
  cancel policy. If not provided in a create request, the product API will select
  a refundable cancellation policy that is currently used by the most recently created
  standalone rate plan under the same property\";s:4:\"$ref\";s:29:\"#/definitions/CancelPolicyDTO\";}s:17:\"distributionRules\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:104:\"Used
  to provide information about how this rate plan can be sold (ExpediaCollect, HotelCollect
  or both).\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/DistributionRuleDTO\";}}s:14:\"maxAdvBookDays\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:82:\"The
  maximum days before a stay date that the rate plan can be sold. Min 1, Max 500\";}s:13:\"maxLOSDefault\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:264:\"Default
  maximum LengthOfStay restriction. Min 1, Max 28. Set to 28 by default if not provided
  in a create request. Will always be considered along the value defined for each
  stay date, and the most restrictive of this default and the daily restriction will
  prevail\";}s:14:\"minAdvBookDays\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:82:\"The
  minimum days before a stay date that the rate plan can be sold. Min 1, Max 500\";}s:13:\"minLOSDefault\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:263:\"Default
  minimum LengthOfStay restriction. Min 1, Max 28. Set to 1 by default if not provided
  in a create request. Will always be considered along the value defined for each
  stay date, and the most restrictive of this default and the daily restriction will
  prevail\";}s:10:\"mobileOnly\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:0;s:11:\"description\";s:82:\"Indicates
  this rate plan is only available through shopping done on mobile devices\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:157:\"Name
  of the rate plan, for information/identification purposes. Min 1, Max 40 characters.
  If not provided, defaults to the manageable rate plan partner code.\";}s:20:\"occupantsForBaseRate\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:205:\"Max
  occupants allowed for the base rate. Min 1, Max 20. This is only applicable for
  per day pricing properties, and required in create requests. It indicates how many
  occupants the per day price applies to\";}s:12:\"pricingModel\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:132:\"Rate
  Plan pricing model. Will default to property\u2019s pricing model, and if provided,
  it has to match the property\u2019s pricing model\";s:4:\"enum\";a:4:{i:0;s:13:\"PerDayPricing\";i:1;s:27:\"PerDayPricingByDayOfArrival\";i:2;s:21:\"OccupancyBasedPricing\";i:3;s:35:\"OccupancyBasedPricingByDayOfArrival\";}}s:19:\"rateAcquisitionType\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:50:\"Rate
  acquisition type, inherited from the Property\";s:8:\"readOnly\";b:1;s:4:\"enum\";a:2:{i:0;s:7:\"NetRate\";i:1;s:7:\"SellLAR\";}}s:10:\"resourceId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:88:\"Expedia
  ID for this resource. Generated when created. Generated on POST, required on PUT\";}s:6:\"status\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:50:\"Defaults
  to active if not provided during creation\";s:4:\"enum\";a:2:{i:0;s:6:\"Active\";i:1;s:8:\"Inactive\";}}s:12:\"taxInclusive\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:0;s:11:\"description\";s:271:\"Returned
  to indicate whether the rate being exchanged over other APIs (availability/rates
  or booking) is inclusive of taxes or not. During creation, for properties managing
  net rates, the default value is false. For sell rates, it is based on the property's
  configuration\";}s:13:\"travelDateEnd\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:216:\"Latest
  date at which customers can checkout for a stay including this rate plan. Format
  YYYY-MM-DD. If not restricted, will be returned as 2079-06-06. If in 2079, indicates
  rate plan travel end date is not restricted\";}s:15:\"travelDateStart\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:223:\"Date
  at which customers can start checking in for a stay including this rate plan. Format
  YYYY-MM-DD. If not restricted, will be returned at 1900-01-01.If in the past, indicates
  rate plan travel start date is not restricted\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:131:\"Rate
  Plan type. Only Standalone type can be managed through the Product API. Defaults
  to Standalone if not provided during creation\";s:4:\"enum\";a:3:{i:0;s:10:\"Standalone\";i:1;s:7:\"Package\";i:2;s:9:\"Corporate\";}}s:18:\"valueAddInclusions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:174:\"Array
  of value add inclusions. Value add inclusions are special features included with
  this rate. Breakfast, Internet, or parking inclusions are the most frequently used
  ones\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:6:\"BedDTO\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"quantity\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:4:\"size\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:33:\"ResponseWrapperDTO\xABRoomTypeDTO\xBB\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"entity\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/RoomTypeDTO\";}s:6:\"errors\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/ErrorDTO\";}}}}s:33:\"ResponseWrapperDTO\xABRatePlanDTO\xBB\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"entity\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/RatePlanDTO\";}s:6:\"errors\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/ErrorDTO\";}}}}s:22:\"RoomTypeAgeCategoryDTO\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"category\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:49:\"The
  age category whose occupancy is being defined\";s:4:\"enum\";a:6:{i:0;s:5:\"Adult\";i:1;s:9:\"ChildAgeA\";i:2;s:9:\"ChildAgeB\";i:3;s:9:\"ChildAgeC\";i:4;s:9:\"ChildAgeD\";i:5;s:6:\"Infant\";}}s:6:\"minAge\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:51:\"Minimum
  age allowed for the category. Min 0, max 99\";}}}s:28:\"CompensationExceptionRuleDTO\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":11:{s:7:\"dateEnd\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:59:\"End
  date of the exception rule. Accepted format: YYYY-MM-DD\";}s:9:\"dateStart\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:64:\"Starting
  date of the exception rule. Accepted format: YYYY-MM-DD\";}s:3:\"fri\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:0;s:11:\"description\";s:79:\"For
  any exception, all 7 days of week are returned with a true/false indicator.\";}s:9:\"minAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:30:\"Accepts
  up to 3 decimal points\";}s:3:\"mon\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:0;s:11:\"description\";s:79:\"For
  any exception, all 7 days of week are returned with a true/false indicator.\";}s:7:\"percent\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:47:\"Between
  0 and 1, accepts up to 3 decimal points\";}s:3:\"sat\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:0;s:11:\"description\";s:79:\"For
  any exception, all 7 days of week are returned with a true/false indicator.\";}s:3:\"sun\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:0;s:11:\"description\";s:79:\"For
  any exception, all 7 days of week are returned with a true/false indicator.\";}s:3:\"thu\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:0;s:11:\"description\";s:79:\"For
  any exception, all 7 days of week are returned with a true/false indicator.\";}s:3:\"tue\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:0;s:11:\"description\";s:79:\"For
  any exception, all 7 days of week are returned with a true/false indicator.\";}s:3:\"wed\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:0;s:11:\"description\";s:79:\"For
  any exception, all 7 days of week are returned with a true/false indicator.\";}}}s:9:\"CutOffDTO\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"day\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:62:\"Can
  be of same day or next day. Complements the time attribute\";s:4:\"enum\";a:2:{i:0;s:7:\"sameDay\";i:1;s:7:\"nextDay\";}}s:4:\"time\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:89:\"Indicates
  at which time we\u2019ll stop making inventory available for same day reservations\";}}}s:15:\"RoomTypeNameDTO\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"attributes\";O:8:\"stdClass\":2:{s:11:\"description\";s:133:\"Defines
  the attributes used to compose the common name for the room. You should not provide
  a custom name when using these attributes\";s:4:\"$ref\";s:30:\"#/definitions/RnsAttributesDTO\";}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:109:\"The
  custom name provided for the room. Max. 255 characters. Not to be used in conjunction
  with the attributes\";}}}s:33:\"ResponseWrapperDTO\xABPropertyDTO\xBB\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"entity\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/PropertyDTO\";}s:6:\"errors\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/ErrorDTO\";}}}}s:15:\"CancelPolicyDTO\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"defaultPenalties\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:61:\"Default
  penalties' definition. Min 1, Max 2 penalties defined\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/PenaltyDTO\";}}s:10:\"exceptions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:62:\"List
  os exceptional cancel penalties defined for the Rate Plan\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/CancelPolicyExceptionDTO\";}}}}s:48:\"ResponseWrapperDTO\xABList\xABRoomTypeAmenityDTO\xBB\xBB\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"entity\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/RoomTypeAmenityDTO\";}}s:6:\"errors\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/ErrorDTO\";}}}}s:11:\"PropertyDTO\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":15:{s:7:\"address\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Property
  address details\";s:4:\"$ref\";s:32:\"#/definitions/PropertyAddressDTO\";}s:21:\"baseAllocationEnabled\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:0;s:11:\"description\";s:86:\"Boolean
  to indicate whether this property has a base allocation contract with Expedia.\";}s:16:\"cancellationTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:254:\"Cancellation
  deadline reference time. When cancel policies are defined and exchanged via the
  rate plan resource, a deadline in hours is provided. The deadline in hours is always
  relative to this property cancellation deadline reference time configuration\";}s:8:\"currency\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:138:\"Format:
  ISO 4217 Alpha 3. This currency code is applicable to all amounts found in any resources
  available as part of the EPS Product API.\";}s:18:\"distributionModels\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:81:\"Distribution
  model(s) under which the property is configured to work with Expedia\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:14:\"ExpediaCollect\";i:1;s:12:\"HotelCollect\";}}}s:15:\"minLOSThreshold\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:215:\"This
  property configuration is used by Expedia when MinLOS Restrictions updates are received
  via EQC AR. If the MinLOS restriction update attempted via EQC AR is greater than
  this value, the update will be rejected.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:49:\"Name
  describing the property. Max. 255 characters\";}s:11:\"partnerCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:176:\"Partner
  property code/identifier. Max 64 characters. Optional field returned for connected
  properties. This code allows partner to uniquely identify the property in its system.\";}s:12:\"pricingModel\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:71:\"Configuration
  of the property when it comes to pricing rooms and rates.\";s:4:\"enum\";a:2:{i:0;s:13:\"PerDayPricing\";i:1;s:21:\"OccupancyBasedPricing\";}}s:19:\"rateAcquisitionType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:190:\"Describes
  which type of rate will be provided via this API, but also which type of rate should
  be used when managing availability and rates in  ExpediaPartnerCentral or using
  EC or EQC APIs.\";s:4:\"enum\";a:2:{i:0;s:7:\"NetRate\";i:1;s:7:\"SellLAR\";}}s:17:\"reservationCutOff\";O:8:\"stdClass\":2:{s:11:\"description\";s:92:\"Used
  to indicate when we stop making rate plans available to book for same day reservations.\";s:4:\"$ref\";s:23:\"#/definitions/CutOffDTO\";}s:10:\"resourceId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:88:\"Expedia
  ID for this resource. Generated when created. Generated on POST, required on PUT\";}s:6:\"status\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:105:\"Status
  in which the property can be in; Allowed values are: Active, Inactive, Onboarding,
  UnderConversion\";s:4:\"enum\";a:4:{i:0;s:6:\"Active\";i:1;s:8:\"Inactive\";i:2;s:10:\"Onboarding\";i:3;s:15:\"UnderConversion\";}}s:12:\"taxInclusive\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:7:\"example\";b:0;s:11:\"description\";s:131:\"Returned
  to indicate whether the rate being exchanged over other APIs (availability/rates
  or booking) is inclusive of taxes or not.\";}s:8:\"timezone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:149:\"Descriptive
  information about property timezone configuration in Expedia system. Description
  will start by a GMT offset, followed by a friendly name.\";}}}s:11:\"RoomSizeDTO\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:10:\"squareFeet\";i:1;s:12:\"squareMeters\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"squareFeet\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:38:\"Room
  size in square feet. No decimals.\";}s:12:\"squareMeters\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:40:\"Room
  size in square meters. No decimals.\";}}}}"
...
