---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":4:{s:5:\"title\";s:12:\"Insights API\";s:7:\"version\";s:3:\"1.0\";s:11:\"description\";s:63:\"API
  to retrieve realtime market analytics for lodging suppliers\";s:7:\"contact\";O:8:\"stdClass\":1:{s:5:\"email\";s:20:\"insights@expedia.com\";}}"
host: services.expediapartnercentral.com
basePath: /insights/public
paths:
  /v1/missedOpportunitiesInPackages:
    get:
      tags:
      - v1
      operationId: missedOpportunitiesInPackages
      summary: get missed opportunities from Packages by hotel ID
      description: get missed opportunities from Packages for the specified booking
        date range
      produces:
      - application/json
      parameters:
      - in: query
        description: hotel ID
        name: hotelId
        type: integer
      - in: query
        description: 'The book start date(format: yyyy-MM-dd). Default = today.'
        name: startDate
        type: string
      - in: query
        description: 'The book end date(format: yyyy-MM-dd). Default = today.'
        name: endDate
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/MissedOppJSONResponse'
        400:
          description: 'status: ''Error'', errorCode: 3021, errorMsg: ''The endDate
            was not valid date, the date format should be yyyy-MM-dd.'''
  /v1/fairShare:
    get:
      tags:
      - v1
      operationId: fairShare
      summary: Get the fair share data for the given stayDates
      description: Get the fair share data for the given stayDates
      produces:
      - application/json
      parameters:
      - in: query
        description: hotel ID
        name: hotelId
        type: integer
      - in: query
        description: (Optional)the number of days from today to the future, default
          value is 1
        name: dayNum
        type: integer
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/FairShareJSONResponse'
        400:
          description: 'status: ''Error'', errorCode: 2002, errorMsg: ''This hotel
            has no competitors'''
  /v1/compressionOutlook:
    get:
      tags:
      - v1
      operationId: compressionOutlook
      summary: get compression data between startDate and endDate
      description: get compression data
      produces:
      - application/json
      parameters:
      - in: query
        description: hotel ID
        name: hotelId
        type: integer
      - in: query
        description: start date (yyyy-mm-dd)
        name: startDate
        type: string
      - in: query
        description: end date (yyyy-mm-dd)
        name: endDate
        type: string
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/compressionOutlookJSONResponse'
        400:
          description: 'status: ''Error'', errorCode: 2002, errorMsg: ''This hotel
            has no compression data available'''
  /v1/priceDistribution:
    get:
      tags:
      - v1
      operationId: priceDistribution
      summary: Get price distribution information
      description: Get price distribution information
      produces:
      - application/json
      parameters:
      - in: query
        description: hotel ID. (required)
        name: hotelId
        type: integer
      - in: query
        description: check in date, format is YYYY-MM-DD. (required)
        name: checkInDate
        type: string
      - in: query
        description: length of stay. (required)
        name: lengthOfStay
        type: integer
      - in: query
        description: price range size, default is 20. (optional)
        name: rangeSize
        type: integer
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/priceDistributionJSONResponse'
        400:
          description: 'status: ''Error'', errorCode: 3112, errorMsg: ''The length
            of stay should be positive integer.'''
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":51:{s:21:\"MissedOppJSONResponse\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:2:\"id\";s:21:\"MissedOppJSONResponse\";s:8:\"required\";a:4:{i:0;s:6:\"status\";i:1;s:9:\"errorCode\";i:2;s:8:\"errorMsg\";i:3;s:4:\"data\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"status
  of the request\";}s:9:\"errorCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"error
  code\";}s:8:\"errorMsg\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"error
  message\";}s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/MissedOpportunitiesData\";}}}s:23:\"MissedOpportunitiesData\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:2:\"id\";s:23:\"MissedOpportunitiesData\";s:8:\"required\";a:5:{i:0;s:13:\"viewedHotelId\";i:1;s:15:\"viewedHotelName\";i:2;s:18:\"totalViewerCounter\";i:3;s:19:\"missedOpportunities\";i:4;s:9:\"timeStamp\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:13:\"viewedHotelId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:15:\"viewed
  hotel id\";}s:15:\"viewedHotelName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"viewed
  hotel name\";}s:18:\"totalViewerCounter\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:18:\"total
  viewer count\";}s:19:\"missedOpportunities\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:29:\"missed
  opportunities by hotel\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/MissedOpportunitiesItem\";}}s:9:\"timeStamp\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"timeStamp
  of the data creation\";}}}s:23:\"MissedOpportunitiesItem\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:2:\"id\";s:23:\"MissedOpportunitiesItem\";s:8:\"required\";a:3:{i:0;s:7:\"hotelId\";i:1;s:9:\"hotelName\";i:2;s:8:\"bookings\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"hotelId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:15:\"booked
  hotel id\";}s:9:\"hotelName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"booked
  hotel name\";}s:10:\"roomNights\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:18:\"room
  neights count\";}s:8:\"bookings\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:19:\"total
  booking count\";}}}s:33:\"MissedOpportunitiesV2JSONResponse\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:2:\"id\";s:33:\"MissedOpportunitiesV2JSONResponse\";s:8:\"required\";a:4:{i:0;s:6:\"status\";i:1;s:9:\"errorCode\";i:2;s:8:\"errorMsg\";i:3;s:4:\"data\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"status
  of the request\";}s:9:\"errorCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"error
  code\";}s:8:\"errorMsg\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"error
  message\";}s:4:\"data\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:35:\"missed
  opportunities by checkinDate\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/MissedOpportunitiesData\";}}}}s:33:\"MissedOpportunitiesV3JSONResponse\";O:8:\"stdClass\":3:{s:2:\"id\";s:33:\"MissedOpportunitiesV3JSONResponse\";s:8:\"required\";a:4:{i:0;s:6:\"status\";i:1;s:9:\"errorCode\";i:2;s:8:\"errorMsg\";i:3;s:4:\"data\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"status
  of the request\";}s:9:\"errorCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"error
  code\";}s:8:\"errorMsg\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"error
  message\";}s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/MissedOpportunitiesV3Data\";}}}s:25:\"MissedOpportunitiesV3Data\";O:8:\"stdClass\":3:{s:2:\"id\";s:25:\"MissedOpportunitiesV3Data\";s:8:\"required\";a:6:{i:0;s:13:\"viewedHotelId\";i:1;s:15:\"viewedHotelName\";i:2;s:8:\"bookDate\";i:3;s:17:\"totalLostBookings\";i:4;s:12:\"totalLostUSD\";i:5;s:19:\"missedOpportunities\";}s:10:\"properties\";O:8:\"stdClass\":6:{s:13:\"viewedHotelId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:15:\"viewed
  hotel id\";}s:15:\"viewedHotelName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"viewed
  hotel name\";}s:8:\"bookDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"booked
  date\";}s:17:\"totalLostBookings\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:25:\"total
  lost bookings count\";}s:12:\"totalLostUSD\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";s:11:\"description\";s:20:\"total
  lost US Dollar\";}s:19:\"missedOpportunities\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:29:\"missed
  opportunities by hotel\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/MissedOpportunitiesV3Item\";}}}}s:25:\"MissedOpportunitiesV3Item\";O:8:\"stdClass\":3:{s:2:\"id\";s:25:\"MissedOpportunitiesV3Item\";s:8:\"required\";a:5:{i:0;s:7:\"hotelId\";i:1;s:9:\"hotelName\";i:2;s:12:\"lostBookings\";i:3;s:7:\"lostUSD\";i:4;s:7:\"details\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"hotelId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:15:\"booked
  hotel id\";}s:9:\"hotelName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"booked
  hotel name\";}s:12:\"lostBookings\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:33:\"total
  lost bookings to this hotel\";}s:7:\"lostUSD\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";s:11:\"description\";s:34:\"total
  lost US Dollar to this hotel\";}s:7:\"details\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:41:\"details
  for the lost bookings information\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/MissedOpportunitiesV3Details\";}}}}s:28:\"MissedOpportunitiesV3Details\";O:8:\"stdClass\":3:{s:2:\"id\";s:28:\"MissedOpportunitiesV3Details\";s:8:\"required\";a:3:{i:0;s:11:\"viewedPrice\";i:1;s:11:\"bookedPrice\";i:2;s:11:\"checkInDate\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"viewedPrice\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";s:11:\"description\";s:34:\"your
  price viewed by hotel shopper\";}s:11:\"bookedPrice\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";s:11:\"description\";s:51:\"competitor's
  price which is booked by hotel shopper\";}s:11:\"checkInDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"checkinDate
  of this booking\";}}}s:30:\"SellTonightSoldOutJSONResponse\";O:8:\"stdClass\":3:{s:2:\"id\";s:30:\"SellTonightSoldOutJSONResponse\";s:8:\"required\";a:4:{i:0;s:6:\"status\";i:1;s:9:\"errorCode\";i:2;s:8:\"errorMsg\";i:3;s:4:\"data\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"status
  of the request\";}s:9:\"errorCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"error
  code\";}s:8:\"errorMsg\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"error
  message\";}s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/SellTonightSoldOutData\";}}}s:22:\"SellTonightSoldOutData\";O:8:\"stdClass\":3:{s:2:\"id\";s:22:\"SellTonightSoldOutData\";s:8:\"required\";a:2:{i:0;s:10:\"marketName\";i:1;s:6:\"hotels\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"marketName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"market
  name\";}s:6:\"hotels\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:36:\"competitors'
  hotel room availability\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/HotelAvailabilityItem\";}}}}s:21:\"HotelAvailabilityItem\";O:8:\"stdClass\":3:{s:2:\"id\";s:21:\"HotelAvailabilityItem\";s:8:\"required\";a:2:{i:0;s:9:\"hotelName\";i:1;s:12:\"availability\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"hotelName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"hotel
  name\";}s:12:\"availability\";O:8:\"stdClass\":3:{s:4:\"type\";s:3:\"int\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:25:\"hotel
  room's availability\";}}}s:32:\"SellTonightRoomsLeftJSONResponse\";O:8:\"stdClass\":3:{s:2:\"id\";s:32:\"SellTonightRoomsLeftJSONResponse\";s:8:\"required\";a:4:{i:0;s:6:\"status\";i:1;s:9:\"errorCode\";i:2;s:8:\"errorMsg\";i:3;s:4:\"data\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"status
  of the request\";}s:9:\"errorCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"error
  code\";}s:8:\"errorMsg\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"error
  message\";}s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/SellTonightRoomsLeftData\";}}}s:24:\"SellTonightRoomsLeftData\";O:8:\"stdClass\":3:{s:2:\"id\";s:24:\"SellTonightRoomsLeftData\";s:8:\"required\";a:2:{i:0;s:10:\"marketName\";i:1;s:6:\"hotels\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"marketName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"market
  name\";}s:6:\"hotels\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:36:\"competitors'
  hotel room availability\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/HotelAvailabilityItem2\";}}}}s:22:\"HotelAvailabilityItem2\";O:8:\"stdClass\":3:{s:2:\"id\";s:22:\"HotelAvailabilityItem2\";s:8:\"required\";a:3:{i:0;s:9:\"hotelName\";i:1;s:9:\"hotelType\";i:2;s:12:\"availability\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"hotelName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"hotel
  name\";}s:9:\"hotelType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"hotel
  type\";}s:12:\"availability\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:25:\"hotel
  room's availability\";}}}s:23:\"CompressionJSONResponse\";O:8:\"stdClass\":3:{s:2:\"id\";s:23:\"CompressionJSONResponse\";s:8:\"required\";a:4:{i:0;s:6:\"status\";i:1;s:9:\"errorCode\";i:2;s:8:\"errorMsg\";i:3;s:4:\"data\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"status
  of the request\";}s:9:\"errorCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"error
  code\";}s:8:\"errorMsg\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"error
  message\";}s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/CompressionData\";}}}s:15:\"CompressionData\";O:8:\"stdClass\":3:{s:2:\"id\";s:15:\"CompressionData\";s:8:\"required\";a:3:{i:0;s:10:\"regionName\";i:1;s:9:\"startDate\";i:2;s:18:\"compressionPercent\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"regionName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"region
  name\";}s:9:\"startDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"start
  date\";}s:18:\"compressionPercent\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:19:\"compression
  percent\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}}s:25:\"SameDaySortV2JSONResponse\";O:8:\"stdClass\":3:{s:2:\"id\";s:25:\"SameDaySortV2JSONResponse\";s:8:\"required\";a:4:{i:0;s:6:\"status\";i:1;s:9:\"errorCode\";i:2;s:8:\"errorMsg\";i:3;s:4:\"data\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"status
  of the request\";}s:9:\"errorCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"error
  code\";}s:8:\"errorMsg\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"error
  message\";}s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/SameDaySortRankData\";}}}s:19:\"SameDaySortRankData\";O:8:\"stdClass\":3:{s:2:\"id\";s:19:\"SameDaySortRankData\";s:8:\"required\";a:4:{i:0;s:11:\"currentRank\";i:1;s:12:\"previousRank\";i:2;s:12:\"currentPrice\";i:3;s:13:\"previousPrice\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"currentRank\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";s:11:\"description\";s:12:\"current
  Rank\";}s:12:\"previousRank\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";s:11:\"description\";s:13:\"previous
  Rank\";}s:12:\"currentPrice\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";s:11:\"description\";s:13:\"current
  Price\";}s:13:\"previousPrice\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";s:11:\"description\";s:14:\"previous
  Price\";}}}s:30:\"compressionOutlookJSONResponse\";O:8:\"stdClass\":3:{s:2:\"id\";s:30:\"compressionOutlookJSONResponse\";s:8:\"required\";a:4:{i:0;s:6:\"status\";i:1;s:9:\"errorCode\";i:2;s:8:\"errorMsg\";i:3;s:4:\"data\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"status
  of the request\";}s:9:\"errorCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"error
  code\";}s:8:\"errorMsg\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"error
  message\";}s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/compressionOutlookData\";}}}s:22:\"compressionOutlookData\";O:8:\"stdClass\":3:{s:2:\"id\";s:22:\"compressionOutlookData\";s:8:\"required\";a:2:{i:0;s:10:\"regionName\";i:1;s:11:\"compression\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"regionName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"region
  name\";}s:11:\"compression\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:15:\"compression
  set\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/compressionOutlookItem\";}}}}s:22:\"compressionOutlookItem\";O:8:\"stdClass\":3:{s:2:\"id\";s:22:\"compressionOutlookItem\";s:8:\"required\";a:2:{i:0;s:4:\"date\";i:1;s:18:\"compressionPercent\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"date\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"date\";}s:18:\"compressionPercent\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:19:\"compression
  percent\";}}}s:22:\"addCompSetJSONResponse\";O:8:\"stdClass\":3:{s:2:\"id\";s:22:\"addCompSetJSONResponse\";s:8:\"required\";a:4:{i:0;s:6:\"status\";i:1;s:9:\"errorCode\";i:2;s:8:\"errorMsg\";i:3;s:4:\"data\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"status
  of the request\";}s:9:\"errorCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"error
  code\";}s:8:\"errorMsg\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"error
  message\";}s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/addCompSetData\";}}}s:14:\"addCompSetData\";O:8:\"stdClass\":3:{s:2:\"id\";s:14:\"addCompSetData\";s:8:\"required\";a:5:{i:0;s:7:\"HotelId\";i:1;s:9:\"HotelName\";i:2;s:9:\"startDate\";i:3;s:7:\"endDate\";i:4;s:7:\"compSet\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"HotelId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:14:\"owner
  hotel id\";}s:9:\"HotelName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"owner
  hotel name\";}s:9:\"startDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"start
  date\";}s:7:\"endDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:8:\"end
  date\";}s:7:\"compSet\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:15:\"competitors
  set\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/addCompSetItem\";}}}}s:14:\"addCompSetItem\";O:8:\"stdClass\":3:{s:2:\"id\";s:14:\"addCompSetItem\";s:8:\"required\";a:3:{i:0;s:7:\"hotelId\";i:1;s:9:\"hotelName\";i:2;s:9:\"eventDate\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"hotelId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:8:\"hotel
  id\";}s:9:\"hotelName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"hotel
  name\";}s:9:\"eventDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"event
  date\";}}}s:27:\"SoldOutRoomTypeJSONResponse\";O:8:\"stdClass\":3:{s:2:\"id\";s:27:\"SoldOutRoomTypeJSONResponse\";s:8:\"required\";a:4:{i:0;s:6:\"status\";i:1;s:9:\"errorCode\";i:2;s:8:\"errorMsg\";i:3;s:4:\"data\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"status
  of the request\";}s:9:\"errorCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"error
  code\";}s:8:\"errorMsg\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"error
  message\";}s:4:\"data\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:28:\"Sold
  out room types by hotel\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/SoldOutRoomTypeData\";}}}}s:19:\"SoldOutRoomTypeData\";O:8:\"stdClass\":3:{s:2:\"id\";s:19:\"SoldOutRoomTypeData\";s:8:\"required\";a:3:{i:0;s:7:\"hotelId\";i:1;s:9:\"hotelName\";i:2;s:9:\"roomTypes\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"hotelId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:8:\"hotel
  id\";}s:9:\"hotelName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"hotel
  name\";}s:9:\"roomTypes\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:13:\"Sold
  out by r\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/SoldOutRoomTypeItem\";}}}}s:19:\"SoldOutRoomTypeItem\";O:8:\"stdClass\":3:{s:2:\"id\";s:19:\"SoldOutRoomTypeItem\";s:8:\"required\";a:1:{i:0;s:10:\"roomTypeId\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"roomTypeId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:12:\"room
  type id\";}}}s:31:\"GainedOpportunitiesJSONResponse\";O:8:\"stdClass\":3:{s:2:\"id\";s:31:\"GainedOpportunitiesJSONResponse\";s:8:\"required\";a:4:{i:0;s:6:\"status\";i:1;s:9:\"errorCode\";i:2;s:8:\"errorMsg\";i:3;s:4:\"data\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"status
  of the request\";}s:9:\"errorCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"error
  code\";}s:8:\"errorMsg\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"error
  message\";}s:4:\"data\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:29:\"gained
  opportunities by dates\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/GainedOpportunitiesData\";}}}}s:23:\"GainedOpportunitiesData\";O:8:\"stdClass\":3:{s:2:\"id\";s:23:\"GainedOpportunitiesData\";s:8:\"required\";a:5:{i:0;s:13:\"bookedHotelId\";i:1;s:15:\"bookedHotelName\";i:2;s:4:\"date\";i:3;s:18:\"totalViewerCounter\";i:4;s:19:\"gainedOpportunities\";}s:10:\"properties\";O:8:\"stdClass\":6:{s:13:\"bookedHotelId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:15:\"booked
  hotel id\";}s:15:\"bookedHotelName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"booked
  hotel name\";}s:4:\"date\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"booked
  date\";}s:18:\"totalViewerCounter\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:21:\"the
  total view number\";}s:19:\"gainedOpportunities\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:38:\"gained
  opportunities from these hotels\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/GainedOpportunitiesItem\";}}s:9:\"timeStamp\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"timeStamp
  of the data creation\";}}}s:23:\"GainedOpportunitiesItem\";O:8:\"stdClass\":3:{s:2:\"id\";s:23:\"GainedOpportunitiesItem\";s:8:\"required\";a:3:{i:0;s:7:\"hotelId\";i:1;s:9:\"hotelName\";i:2;s:5:\"views\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"hotelId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:15:\"viewed
  hotel id\";}s:9:\"hotelName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"viewed
  hotel name\";}s:5:\"views\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:11:\"view
  number\";}}}s:21:\"GeoDemandJSONResponse\";O:8:\"stdClass\":3:{s:2:\"id\";s:21:\"GeoDemandJSONResponse\";s:8:\"required\";a:4:{i:0;s:6:\"status\";i:1;s:9:\"errorCode\";i:2;s:8:\"errorMsg\";i:3;s:4:\"data\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"status
  of the request\";}s:9:\"errorCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"error
  code\";}s:8:\"errorMsg\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"error
  message\";}s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/GeoDemandData\";}}}s:13:\"GeoDemandData\";O:8:\"stdClass\":3:{s:2:\"id\";s:13:\"GeoDemandData\";s:8:\"required\";a:2:{i:0;s:14:\"totalTravelers\";i:1;s:16:\"travelersDetails\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"totalTravelers\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:21:\"Total
  travelers today\";}s:16:\"travelersDetails\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:29:\"missed
  opportunities by hotel\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/GeoDemandItem\";}}}}s:13:\"GeoDemandItem\";O:8:\"stdClass\":3:{s:2:\"id\";s:13:\"GeoDemandItem\";s:8:\"required\";a:3:{i:0;s:6:\"region\";i:1;s:8:\"regionId\";i:2;s:3:\"num\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"region\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"region
  name\";}s:8:\"regionId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:9:\"region
  id\";}s:3:\"num\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:58:\"the
  number of travelers visited this hotel's infosite page\";}}}s:30:\"SameDaySortHistoryJSONResponse\";O:8:\"stdClass\":3:{s:2:\"id\";s:30:\"SameDaySortHistoryJSONResponse\";s:8:\"required\";a:4:{i:0;s:6:\"status\";i:1;s:9:\"errorCode\";i:2;s:8:\"errorMsg\";i:3;s:4:\"data\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"status
  of the request\";}s:9:\"errorCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"error
  code\";}s:8:\"errorMsg\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"error
  message\";}s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/SameDaySortHistoryData\";}}}s:22:\"SameDaySortHistoryData\";O:8:\"stdClass\":3:{s:2:\"id\";s:22:\"SameDaySortHistoryData\";s:8:\"required\";a:3:{i:0;s:10:\"searchDate\";i:1;s:7:\"avgRank\";i:2;s:14:\"avgPriceAmount\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"searchDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"The
  date when we search this hotel\";}s:7:\"avgRank\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";s:11:\"description\";s:44:\"Average
  sort rank in the related search date\";}s:14:\"avgPriceAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";s:11:\"description\";s:47:\"Average
  price amount in the related search date\";}}}s:34:\"MissedOpposLeaderBoardJSONResponse\";O:8:\"stdClass\":3:{s:2:\"id\";s:34:\"MissedOpposLeaderBoardJSONResponse\";s:8:\"required\";a:4:{i:0;s:6:\"status\";i:1;s:9:\"errorCode\";i:2;s:8:\"errorMsg\";i:3;s:4:\"data\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"status
  of the request\";}s:9:\"errorCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"error
  code\";}s:8:\"errorMsg\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"error
  message\";}s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/MissedOpposLeaderBoardData\";}}}s:26:\"MissedOpposLeaderBoardData\";O:8:\"stdClass\":3:{s:2:\"id\";s:26:\"MissedOpposLeaderBoardData\";s:8:\"required\";a:5:{i:0;s:13:\"viewedHotelId\";i:1;s:15:\"viewedHotelName\";i:2;s:18:\"totalViewerCounter\";i:3;s:19:\"missedOpportunities\";i:4;s:9:\"timeStamp\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"viewedHotelId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:15:\"viewed
  hotel id\";}s:15:\"viewedHotelName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"viewed
  hotel name\";}s:19:\"missedOpportunities\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:29:\"missed
  opportunities by hotel\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/MissedOpportunitiesItem\";}}}}s:20:\"newsfeedJSONResponse\";O:8:\"stdClass\":3:{s:2:\"id\";s:20:\"newsfeedJSONResponse\";s:8:\"required\";a:4:{i:0;s:6:\"status\";i:1;s:9:\"errorCode\";i:2;s:8:\"errorMsg\";i:3;s:4:\"data\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"status
  of the request\";}s:9:\"errorCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"error
  code\";}s:8:\"errorMsg\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"error
  message\";}s:4:\"data\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:13:\"newsfeed
  list\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/newsfeedData\";}}}}s:12:\"newsfeedData\";O:8:\"stdClass\":3:{s:2:\"id\";s:12:\"newsfeedData\";s:8:\"required\";a:5:{i:0;s:3:\"_id\";i:1;s:7:\"hotelId\";i:2;s:9:\"eventType\";i:3;s:9:\"eventDate\";i:4;s:4:\"data\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:3:\"_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:8:\"event
  id\";}s:7:\"hotelId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:8:\"hotel
  id\";}s:9:\"eventType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"event
  type\";}s:9:\"eventDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"event
  date\";}s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"event
  data\";}}}s:23:\"NewsfeedADRJSONResponse\";O:8:\"stdClass\":3:{s:2:\"id\";s:23:\"NewsfeedADRJSONResponse\";s:8:\"required\";a:4:{i:0;s:6:\"status\";i:1;s:9:\"errorCode\";i:2;s:8:\"errorMsg\";i:3;s:4:\"data\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"status
  of the request\";}s:9:\"errorCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"error
  code\";}s:8:\"errorMsg\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"error
  message\";}s:4:\"data\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:36:\"Average
  Daily Rate (ADR) for per day\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/NewsfeedADRData\";}}}}s:15:\"NewsfeedADRData\";O:8:\"stdClass\":3:{s:2:\"id\";s:15:\"NewsfeedADRData\";s:8:\"required\";a:4:{i:0;s:4:\"date\";i:1;s:3:\"avg\";i:2;s:3:\"min\";i:3;s:3:\"max\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"date\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"date\";}s:3:\"avg\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";s:11:\"description\";s:27:\"Average
  daily rate of hotel\";}s:3:\"min\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";s:11:\"description\";s:46:\"Minimal
  average daily rate of competitor hotel\";}s:3:\"max\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";s:11:\"description\";s:46:\"Maximal
  average daily rate of competitor hotel\";}}}s:34:\"FairShareInfositeViewsJSONResponse\";O:8:\"stdClass\":3:{s:2:\"id\";s:34:\"FairShareInfositeViewsJSONResponse\";s:8:\"required\";a:4:{i:0;s:6:\"status\";i:1;s:9:\"errorCode\";i:2;s:8:\"errorMsg\";i:3;s:4:\"data\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"status
  of the request\";}s:9:\"errorCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"error
  code\";}s:8:\"errorMsg\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"error
  message\";}s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"float\";s:11:\"description\";s:80:\"the
  comparison of today's fair share with last 7, 14, 21 and 28 days' fair share\";}}}s:21:\"FairShareJSONResponse\";O:8:\"stdClass\":3:{s:2:\"id\";s:21:\"FairShareJSONResponse\";s:8:\"required\";a:4:{i:0;s:6:\"status\";i:1;s:9:\"errorCode\";i:2;s:8:\"errorMsg\";i:3;s:4:\"data\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"status
  of the request\";}s:9:\"errorCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"error
  code\";}s:8:\"errorMsg\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"error
  message\";}s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/FairShareData\";}}}s:13:\"FairShareData\";O:8:\"stdClass\":3:{s:2:\"id\";s:13:\"FairShareData\";s:8:\"required\";a:4:{i:0;s:9:\"roomCount\";i:1;s:16:\"compSetRoomCount\";i:2;s:9:\"fairShare\";i:3;s:5:\"daily\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"roomCount\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:23:\"your
  hotel's room count\";}s:16:\"compSetRoomCount\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:23:\"competitors'
  room count\";}s:9:\"fairShare\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"float\";s:11:\"description\";s:65:\"fair
  share metrics. it's roomCount/(roomCount + compSetRoomCount)\";}s:5:\"daily\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:24:\"fair
  share data by daily\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/DailyFairShareItem\";}}}}s:18:\"DailyFairShareItem\";O:8:\"stdClass\":3:{s:2:\"id\";s:18:\"DailyFairShareItem\";s:8:\"required\";a:3:{i:0;s:4:\"date\";i:1;s:11:\"bookedRooms\";i:2;s:18:\"compSetBookedRooms\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"date\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"date\";}s:11:\"bookedRooms\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"your
  hotel's booked room number\";}s:18:\"compSetBookedRooms\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"competitors'
  booked room number\";}}}s:30:\"InterestPriceRangeJSONResponse\";O:8:\"stdClass\":3:{s:2:\"id\";s:30:\"InterestPriceRangeJSONResponse\";s:8:\"required\";a:4:{i:0;s:6:\"status\";i:1;s:9:\"errorCode\";i:2;s:8:\"errorMsg\";i:3;s:4:\"data\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"status
  of the request\";}s:9:\"errorCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"error
  code\";}s:8:\"errorMsg\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"error
  message\";}s:4:\"data\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:40:\"Interest
  price range at a specified time\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/interestPriceRangeData\";}}}}s:22:\"interestPriceRangeData\";O:8:\"stdClass\":3:{s:2:\"id\";s:22:\"interestPriceRangeData\";s:8:\"required\";a:2:{i:0;s:10:\"priceRange\";i:1;s:5:\"count\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"priceRange\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"price
  range\";}s:5:\"count\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:41:\"the
  number of booking in this price range\";}}}s:29:\"priceDistributionJSONResponse\";O:8:\"stdClass\":3:{s:2:\"id\";s:29:\"priceDistributionJSONResponse\";s:8:\"required\";a:4:{i:0;s:6:\"status\";i:1;s:9:\"errorCode\";i:2;s:8:\"errorMsg\";i:3;s:4:\"data\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"status
  of the request\";}s:9:\"errorCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"error
  code\";}s:8:\"errorMsg\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"error
  message\";}s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/priceDistributionJSONData\";}}}s:25:\"priceDistributionJSONData\";O:8:\"stdClass\":3:{s:2:\"id\";s:25:\"priceDistributionJSONData\";s:8:\"required\";a:2:{i:0;s:20:\"priceDistributionArr\";i:1;s:14:\"lowestPriceArr\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:20:\"priceDistributionArr\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:52:\"price
  distribution in one market at a specified time\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/priceDistributionData\";}}s:14:\"lowestPriceArr\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:55:\"the
  list of hotel with lowest price at a specified time\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/lowestPriceData\";}}}}s:21:\"priceDistributionData\";O:8:\"stdClass\":3:{s:2:\"id\";s:21:\"priceDistributionData\";s:8:\"required\";a:4:{i:0;s:5:\"rooms\";i:1;s:13:\"yourHotelflag\";i:2;s:10:\"priceRange\";i:3;s:10:\"percentage\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"rooms\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:39:\"the
  number of rooms in this price range\";}s:13:\"yourHotelflag\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:36:\"the
  price distribution of your hotel\";}s:10:\"priceRange\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"price
  range\";}s:10:\"percentage\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:32:\"percentage
  of total rooms booked\";}}}s:15:\"lowestPriceData\";O:8:\"stdClass\":3:{s:2:\"id\";s:15:\"lowestPriceData\";s:8:\"required\";a:3:{i:0;s:7:\"hotelId\";i:1;s:11:\"lowestPrice\";i:2;s:9:\"hotelName\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"hotelId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:8:\"hotel
  id\";}s:11:\"lowestPrice\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:29:\"the
  lowest ADR price of hotel\";}s:9:\"hotelName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"hotel
  name\";}}}}"
...
