---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:9:\"Promo API\";s:7:\"version\";s:1:\"1\";s:11:\"description\";s:77:\"The
  Promo API allows you to read, create and update promotions via API calls.\";}"
host: services.expediapartnercentral.com
basePath: /promotions
paths:
  /v1/hotels/{hotelID}/promos:
    get:
      tags:
      - Promo
      produces:
      - application/json
      operationId: getAllPromotionsForHotel
      summary: Get all promos for a hotel.
      parameters:
      - name: Authorization
        in: header
        required: true
        type: string
        default: Basic RVFDdGVzdDEyOTMzODczOmNjNDdhbjQ2
      - in: path
        description: The Id of the hotel to retrieve promotions for.
        name: hotelID
        required: true
        type: integer
        default: "12933873"
      - name: returnScore
        in: query
        description: If specified, will add a score element to the promo payload,
          indicating strenght of the promotion. Optional, false by default.
        required: false
        type: boolean
        default: false
      - name: activeOnly
        in: query
        description: If specified to true, will only return active promotions. Optional,
          false by default.
        required: false
        type: boolean
        default: false
      responses:
        200:
          description: Success request
          schema:
            $ref: '#/definitions/PromoRS'
        400:
          description: 'Parsing error/content validation error and the other client
            side error. Error code range: (2000, 3999)'
        401:
          description: 'Authentication error. Error code range: (1000, 1099)'
        403:
          description: 'Authorization error. Error code range: (1100, 1999)'
        500:
          description: 'System error. Error code range: (4000, 9999)'
    post:
      tags:
      - Promo
      produces:
      - application/json
      operationId: createPromo
      summary: Create promo for given hotel.
      consumes:
      - application/json
      parameters:
      - name: Authorization
        in: header
        required: true
        type: string
        default: Basic RVFDdGVzdDEyOTMzODczOmNjNDdhbjQ2
      - in: body
        description: 'Promo object that is to be created. It support status update
          with promo id in this version. Required fields: promo id, status.'
        name: body
        required: true
        schema:
          $ref: '#/definitions/PromoType'
      - in: path
        description: The Id of the hotel to create the promotions for.
        name: hotelID
        required: true
        type: integer
        default: "12933873"
      responses:
        200:
          description: Success request
          schema:
            $ref: '#/definitions/PromoRS'
        400:
          description: 'Parsing error/content validation error and the other client
            side error. Error code range: (2000, 3999)'
        401:
          description: 'Authentication error. Error code range: (1000, 1099)'
        403:
          description: 'Authorization error. Error code range: (1100, 1999)'
        500:
          description: 'System error. Error code range: (4000, 9999)'
  /v1/hotels/{hotelID}/promos/{promoID}:
    get:
      tags:
      - Promo
      produces:
      - application/json
      operationId: getPromoById
      summary: Get promo details
      parameters:
      - name: Authorization
        in: header
        required: true
        type: string
        default: Basic RVFDdGVzdDEyOTMzODczOmNjNDdhbjQ2
      - in: path
        description: The Id of the hotel to retrieve promotions for.
        name: hotelID
        required: true
        type: integer
        default: "12933873"
      - in: path
        description: The Id of the promo to retrieve
        name: promoID
        required: true
        type: integer
        default: "215717520"
      - name: returnScore
        in: query
        description: If specified, will add a score element to the promo payload,
          indicating strenght of the promotion. Optional, false by default.
        required: false
        type: boolean
        default: false
      - name: activeOnly
        in: query
        description: If specified to true, will only return active promotions. Optional,
          false by default.
        required: false
        type: boolean
        default: false
      responses:
        200:
          description: Success request
          schema:
            $ref: '#/definitions/PromoRS'
        400:
          description: 'Parsing error/content validation error and the other client
            side error. Error code range: (2000, 3999)'
        401:
          description: 'Authentication error. Error code range: (1000, 1099)'
        403:
          description: 'Authorization error. Error code range: (1100, 1999)'
        500:
          description: 'System error. Error code range: (4000, 9999)'
    put:
      tags:
      - Promo
      produces:
      - application/json
      operationId: updatePromo
      summary: Update promo
      parameters:
      - name: Authorization
        in: header
        required: true
        type: string
        default: Basic RVFDdGVzdDEyOTMzODczOmNjNDdhbjQ2
      - in: body
        description: 'Promo object that needs to be updated. It support status update
          with promo id in this version. Required fields: promo id, status.'
        name: body
        required: true
        schema:
          $ref: '#/definitions/PromoType'
      - in: path
        description: The Id of the hotel to retrieve promotions for.
        name: hotelID
        required: true
        type: integer
        default: "12933873"
      - in: path
        description: The Id of the promo to retrieve
        name: promoID
        required: true
        type: integer
        default: "215717520"
      responses:
        200:
          description: Success request
          schema:
            $ref: '#/definitions/PromoRS'
        400:
          description: 'Parsing error/content validation error and the other client
            side error. Error code range: (2000, 3999)'
        401:
          description: 'Authentication error. Error code range: (1000, 1099)'
        403:
          description: 'Authorization error. Error code range: (1100, 1999)'
        500:
          description: 'System error. Error code range: (4000, 9999)'
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":7:{s:9:\"ErrorType\";O:8:\"stdClass\":2:{s:8:\"required\";a:2:{i:0;s:4:\"code\";i:1;s:7:\"message\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"code\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:30:\"Error
  code, range (1000, 9999)\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"Error
  message\";}s:7:\"promoId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:36:\"The
  unique identifier for the promo.\";}s:4:\"link\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:61:\"The
  link for the additional information related to this error\";}}}s:18:\"TravelDateBlackout\";O:8:\"stdClass\":2:{s:8:\"required\";a:2:{i:0;s:5:\"start\";i:1;s:3:\"end\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"start\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"Data
  format: xs:date\";}s:3:\"end\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"Data
  format: xs:date\";}}}s:9:\"PromoType\";O:8:\"stdClass\":2:{s:8:\"required\";a:8:{i:0;s:8:\"RatePlan\";i:1;s:4:\"name\";i:2;s:15:\"travelDateStart\";i:3;s:13:\"travelDateEnd\";i:4;s:17:\"bookDateTimeStart\";i:5;s:15:\"bookDateTimeEnd\";i:6;s:7:\"percent\";i:7;s:6:\"minLOS\";}s:10:\"properties\";O:8:\"stdClass\":15:{s:8:\"RatePlan\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/RatePlan\";}s:11:\"description\";s:253:\"Derived
  rate plan IDs should never be provided, as the promotion will always be attached
  to the parent. If a derived rate plan is provided, the promo will be created on
  the parent. If the same promo already exists on the parent, it will return an error.\";}s:18:\"TravelDateBlackout\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/TravelDateBlackout\";}}s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:74:\"Promo
  ID. Unique identifier generated by the promo service for each promo.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"Promo
  name. Max 80 characters.\";}s:6:\"status\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:6:\"Active\";i:1;s:8:\"Inactive\";}s:11:\"description\";s:33:\"Promo
  status. Active or Inactive.\";}s:15:\"travelDateStart\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  travel start date during which the Promotion is in effect. Format YYYY-MM-DD (e.g.
  2014-09-16).\";}s:13:\"travelDateEnd\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:97:\"The
  travel end date during which the Promotion is in effect. Format YYYY-MM-DD (e.g.
  2014-12-31).\";}s:17:\"bookDateTimeStart\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:254:\"The
  start date and time when this promotion becomes available for booking. Format YYYY-MM-DDThh:mm:ss
  (e.g. 2014-09-16T00:00:00). No timezone information can be provided, it will always
  be relative to the property's configured timezone in Expedia system.\";}s:15:\"bookDateTimeEnd\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:257:\"The
  end date and time when this promotion is no longer available for booking. Format
  YYYY-MM-DDThh:mm:ss (e.g. 2014-09-30T11:59:00). No timezone information can be provided,
  it will always be relative to the property's configured timezone in Expedia system.\";}s:7:\"percent\";O:8:\"stdClass\":5:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"minimum\";i:10;s:7:\"maximum\";i:75;s:11:\"description\";s:209:\"The
  discount(percentage) applies to all nights of the guest's stay. The range must be
  between 10 and 75 inclusively, in increments of 1. Either percent or amount discount
  is returned not both at the same time.\";}s:6:\"amount\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:7:\"minimum\";i:1;s:7:\"maximum\";i:12000000;s:11:\"description\";s:288:\"Used
  for promo with amount ($) discount. Amount discount can be used only by HotelCollect-only
  products. Range between 1 and 12,000,000 inclusive. When creating a promotion for
  a HotelCollect-only rate plan, use either the percent field or the amount field,
  but not both at the same time.\";}s:6:\"minLOS\";O:8:\"stdClass\":5:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:7:\"minimum\";i:1;s:7:\"maximum\";i:4;s:11:\"description\";s:89:\"The
  minimum night(s) that guest must stay. The range must be between 1 and 4 inclusively.\";}s:14:\"minAdvBookDays\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:244:\"The
  minimum days before a travel date that the booking must take place. Optional, if
  not provided, means bookings can take place up until checkin day, assuming other
  constraints are met. The value should be a positive integer between 0 and 500.\";}s:10:\"mobileOnly\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:122:\"Boolean.
  Should this promotion only be displayed through mobile applications (available through
  smart phones and tablets).\";}s:5:\"score\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:7:\"minimum\";i:0;s:7:\"maximum\";i:10;s:11:\"description\";s:195:\"A
  promo score calculated by the promo service. Range between 0.0 and 10.0 inclusive.
  Only returned if appropriate parameter is passed in request. Cannot be specified
  in create or update requests.\";}}}s:5:\"Hotel\";O:8:\"stdClass\":2:{s:8:\"required\";a:1:{i:0;s:2:\"id\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:35:\"The
  unique identifier for the hotel\";}}}s:8:\"RatePlan\";O:8:\"stdClass\":2:{s:8:\"required\";a:1:{i:0;s:2:\"id\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:403:\"The
  unique identifier for the rate plan. At least one rate plan ID for an active Expedia
  rate plan is required when requesting to create a promotion. Derived rate plan IDs
  should never be provided, as the promotion will always be attached to the parent.
  If a derived rate plan is provided, the promo will be created on the parent. If
  the same promo already exists on the parent, it will return an error.\";}}}s:11:\"WarningType\";O:8:\"stdClass\":2:{s:8:\"required\";a:2:{i:0;s:4:\"code\";i:1;s:7:\"message\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"code\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:32:\"Warning
  code, range (7000, 7999)\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"Warning
  message\";}s:7:\"promoId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:35:\"The
  unique identifier for the promo\";}s:4:\"link\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:63:\"The
  link for the additional information related to this warning\";}}}s:7:\"PromoRS\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"Entity\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/PromoType\";}}s:8:\"Warnings\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/WarningType\";}}s:6:\"Errors\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/ErrorType\";}}s:9:\"requestId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"A
  generated id (UUID) for tracking\";}}}}"
...
