---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":15:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:9:\"x-twitter\";s:12:\"PermittedSoc\";}s:11:\"description\";s:469:\"<fullname>AWS
  Import/Export Service</fullname> AWS Import/Export accelerates transferring large
  amounts of data between the AWS cloud and portable storage devices that you mail
  to us. AWS Import/Export transfers data directly onto and off of your storage devices
  using Amazon's high-speed internal network and bypassing the Internet. For large
  data sets, AWS Import/Export is often faster than Internet transfer and more cost
  effective than upgrading your connectivity.\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache
  2.0 License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:17:\"AWS
  Import/Export\";s:7:\"version\";s:10:\"2010-06-01\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:96:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/importexport-2010-06-01.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v2\";s:13:\"x-serviceName\";s:12:\"importexport\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:22:\"amazonaws_importexport\";s:4:\"type\";s:7:\"openapi\";}}"
host: importexport.amazonaws.com
basePath: /
paths:
  /?Operation=CancelJob:
    parameters:
    - $ref: '#/parameters/AWSAccessKeyId'
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/SignatureMethod'
    - $ref: '#/parameters/SignatureVersion'
    - $ref: '#/parameters/Timestamp'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/Signature'
    post:
      description: This operation cancels a specified job. Only the job owner can
        cancel it. The operation fails if the job has already started or is complete.
      operationId: CancelJob
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/CancelJobInput'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/CancelJobOutput'
        480:
          description: InvalidJobIdException
          schema:
            $ref: '#/definitions/InvalidJobIdException'
          x-aws-exception: true
        481:
          description: ExpiredJobIdException
          schema:
            $ref: '#/definitions/ExpiredJobIdException'
          x-aws-exception: true
        482:
          description: CanceledJobIdException
          schema:
            $ref: '#/definitions/CanceledJobIdException'
          x-aws-exception: true
        483:
          description: UnableToCancelJobIdException
          schema:
            $ref: '#/definitions/UnableToCancelJobIdException'
          x-aws-exception: true
        484:
          description: InvalidAccessKeyIdException
          schema:
            $ref: '#/definitions/InvalidAccessKeyIdException'
          x-aws-exception: true
        485:
          description: InvalidVersionException
          schema:
            $ref: '#/definitions/InvalidVersionException'
          x-aws-exception: true
  /?Operation=CreateJob:
    parameters:
    - $ref: '#/parameters/AWSAccessKeyId'
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/SignatureMethod'
    - $ref: '#/parameters/SignatureVersion'
    - $ref: '#/parameters/Timestamp'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/Signature'
    post:
      description: This operation initiates the process of scheduling an upload or
        download of your data. You include in the request a manifest that describes
        the data transfer specifics. The response to the request includes a job ID,
        which you can use in other operations, a signature that you use to identify
        your storage device, and the address where you should ship your storage device.
      operationId: CreateJob
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/CreateJobInput'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/CreateJobOutput'
        480:
          description: MissingParameterException
          schema:
            $ref: '#/definitions/MissingParameterException'
          x-aws-exception: true
        481:
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
          x-aws-exception: true
        482:
          description: InvalidAccessKeyIdException
          schema:
            $ref: '#/definitions/InvalidAccessKeyIdException'
          x-aws-exception: true
        483:
          description: InvalidAddressException
          schema:
            $ref: '#/definitions/InvalidAddressException'
          x-aws-exception: true
        484:
          description: InvalidManifestFieldException
          schema:
            $ref: '#/definitions/InvalidManifestFieldException'
          x-aws-exception: true
        485:
          description: MissingManifestFieldException
          schema:
            $ref: '#/definitions/MissingManifestFieldException'
          x-aws-exception: true
        486:
          description: NoSuchBucketException
          schema:
            $ref: '#/definitions/NoSuchBucketException'
          x-aws-exception: true
        487:
          description: MissingCustomsException
          schema:
            $ref: '#/definitions/MissingCustomsException'
          x-aws-exception: true
        488:
          description: InvalidCustomsException
          schema:
            $ref: '#/definitions/InvalidCustomsException'
          x-aws-exception: true
        489:
          description: InvalidFileSystemException
          schema:
            $ref: '#/definitions/InvalidFileSystemException'
          x-aws-exception: true
        490:
          description: MultipleRegionsException
          schema:
            $ref: '#/definitions/MultipleRegionsException'
          x-aws-exception: true
        491:
          description: BucketPermissionException
          schema:
            $ref: '#/definitions/BucketPermissionException'
          x-aws-exception: true
        492:
          description: MalformedManifestException
          schema:
            $ref: '#/definitions/MalformedManifestException'
          x-aws-exception: true
        493:
          description: CreateJobQuotaExceededException
          schema:
            $ref: '#/definitions/CreateJobQuotaExceededException'
          x-aws-exception: true
        494:
          description: InvalidJobIdException
          schema:
            $ref: '#/definitions/InvalidJobIdException'
          x-aws-exception: true
        495:
          description: InvalidVersionException
          schema:
            $ref: '#/definitions/InvalidVersionException'
          x-aws-exception: true
  /?Operation=GetShippingLabel:
    parameters:
    - $ref: '#/parameters/AWSAccessKeyId'
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/SignatureMethod'
    - $ref: '#/parameters/SignatureVersion'
    - $ref: '#/parameters/Timestamp'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/Signature'
    post:
      description: This operation generates a pre-paid UPS shipping label that you
        will use to ship your device to AWS for processing.
      operationId: GetShippingLabel
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/GetShippingLabelInput'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetShippingLabelOutput'
        480:
          description: InvalidJobIdException
          schema:
            $ref: '#/definitions/InvalidJobIdException'
          x-aws-exception: true
        481:
          description: ExpiredJobIdException
          schema:
            $ref: '#/definitions/ExpiredJobIdException'
          x-aws-exception: true
        482:
          description: CanceledJobIdException
          schema:
            $ref: '#/definitions/CanceledJobIdException'
          x-aws-exception: true
        483:
          description: InvalidAccessKeyIdException
          schema:
            $ref: '#/definitions/InvalidAccessKeyIdException'
          x-aws-exception: true
        484:
          description: InvalidAddressException
          schema:
            $ref: '#/definitions/InvalidAddressException'
          x-aws-exception: true
        485:
          description: InvalidVersionException
          schema:
            $ref: '#/definitions/InvalidVersionException'
          x-aws-exception: true
        486:
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
          x-aws-exception: true
  /?Operation=GetStatus:
    parameters:
    - $ref: '#/parameters/AWSAccessKeyId'
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/SignatureMethod'
    - $ref: '#/parameters/SignatureVersion'
    - $ref: '#/parameters/Timestamp'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/Signature'
    post:
      description: This operation returns information about a job, including where
        the job is in the processing pipeline, the status of the results, and the
        signature value associated with the job. You can only return information about
        jobs you own.
      operationId: GetStatus
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/GetStatusInput'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetStatusOutput'
        480:
          description: InvalidJobIdException
          schema:
            $ref: '#/definitions/InvalidJobIdException'
          x-aws-exception: true
        481:
          description: ExpiredJobIdException
          schema:
            $ref: '#/definitions/ExpiredJobIdException'
          x-aws-exception: true
        482:
          description: CanceledJobIdException
          schema:
            $ref: '#/definitions/CanceledJobIdException'
          x-aws-exception: true
        483:
          description: InvalidAccessKeyIdException
          schema:
            $ref: '#/definitions/InvalidAccessKeyIdException'
          x-aws-exception: true
        484:
          description: InvalidVersionException
          schema:
            $ref: '#/definitions/InvalidVersionException'
          x-aws-exception: true
  /?Operation=ListJobs:
    parameters:
    - $ref: '#/parameters/AWSAccessKeyId'
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/SignatureMethod'
    - $ref: '#/parameters/SignatureVersion'
    - $ref: '#/parameters/Timestamp'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/Signature'
    post:
      description: This operation returns the jobs associated with the requester.
        AWS Import/Export lists the jobs in reverse chronological order based on the
        date of creation. For example if Job Test1 was created 2009Dec30 and Test2
        was created 2010Feb05, the ListJobs operation would return Test2 followed
        by Test1.
      operationId: ListJobs
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ListJobsInput'
      - description: Pagination limit
        in: query
        name: MaxJobs
        required: false
        type: string
      - description: Pagination token
        in: query
        name: Marker
        required: false
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ListJobsOutput'
        480:
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
          x-aws-exception: true
        481:
          description: InvalidAccessKeyIdException
          schema:
            $ref: '#/definitions/InvalidAccessKeyIdException'
          x-aws-exception: true
        482:
          description: InvalidVersionException
          schema:
            $ref: '#/definitions/InvalidVersionException'
          x-aws-exception: true
  /?Operation=UpdateJob:
    parameters:
    - $ref: '#/parameters/AWSAccessKeyId'
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/SignatureMethod'
    - $ref: '#/parameters/SignatureVersion'
    - $ref: '#/parameters/Timestamp'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/Signature'
    post:
      description: You use this operation to change the parameters specified in the
        original manifest file by supplying a new manifest file. The manifest file
        attached to this request replaces the original manifest file. You can only
        use the operation after a CreateJob request but before the data transfer starts
        and you can only use it on jobs you own.
      operationId: UpdateJob
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/UpdateJobInput'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/UpdateJobOutput'
        480:
          description: MissingParameterException
          schema:
            $ref: '#/definitions/MissingParameterException'
          x-aws-exception: true
        481:
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
          x-aws-exception: true
        482:
          description: InvalidAccessKeyIdException
          schema:
            $ref: '#/definitions/InvalidAccessKeyIdException'
          x-aws-exception: true
        483:
          description: InvalidAddressException
          schema:
            $ref: '#/definitions/InvalidAddressException'
          x-aws-exception: true
        484:
          description: InvalidManifestFieldException
          schema:
            $ref: '#/definitions/InvalidManifestFieldException'
          x-aws-exception: true
        485:
          description: InvalidJobIdException
          schema:
            $ref: '#/definitions/InvalidJobIdException'
          x-aws-exception: true
        486:
          description: MissingManifestFieldException
          schema:
            $ref: '#/definitions/MissingManifestFieldException'
          x-aws-exception: true
        487:
          description: NoSuchBucketException
          schema:
            $ref: '#/definitions/NoSuchBucketException'
          x-aws-exception: true
        488:
          description: ExpiredJobIdException
          schema:
            $ref: '#/definitions/ExpiredJobIdException'
          x-aws-exception: true
        489:
          description: CanceledJobIdException
          schema:
            $ref: '#/definitions/CanceledJobIdException'
          x-aws-exception: true
        490:
          description: MissingCustomsException
          schema:
            $ref: '#/definitions/MissingCustomsException'
          x-aws-exception: true
        491:
          description: InvalidCustomsException
          schema:
            $ref: '#/definitions/InvalidCustomsException'
          x-aws-exception: true
        492:
          description: InvalidFileSystemException
          schema:
            $ref: '#/definitions/InvalidFileSystemException'
          x-aws-exception: true
        493:
          description: MultipleRegionsException
          schema:
            $ref: '#/definitions/MultipleRegionsException'
          x-aws-exception: true
        494:
          description: BucketPermissionException
          schema:
            $ref: '#/definitions/BucketPermissionException'
          x-aws-exception: true
        495:
          description: MalformedManifestException
          schema:
            $ref: '#/definitions/MalformedManifestException'
          x-aws-exception: true
        496:
          description: UnableToUpdateJobIdException
          schema:
            $ref: '#/definitions/UnableToUpdateJobIdException'
          x-aws-exception: true
        497:
          description: InvalidVersionException
          schema:
            $ref: '#/definitions/InvalidVersionException'
          x-aws-exception: true
produces: []
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":76:{s:10:\"APIVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Specifies
  the version of the client tool.\";s:4:\"type\";s:6:\"string\";}s:8:\"Artifact\";O:8:\"stdClass\":3:{s:11:\"description\";s:85:\"A
  discrete item that contains the description and URL of an artifact (such as a PDF).\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"Description\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Description\";}s:3:\"URL\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/URL\";}}s:4:\"type\";s:6:\"object\";}s:12:\"ArtifactList\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"A
  collection of artifacts.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Artifact\";}s:4:\"type\";s:5:\"array\";}s:25:\"BucketPermissionException\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"The
  account specified does not have the appropriate bucket permissions.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:14:\"CancelJobInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:44:\"Input
  structure for the CancelJob operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"APIVersion\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/APIVersion\";}s:5:\"JobId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/JobId\";}}s:8:\"required\";a:1:{i:0;s:5:\"JobId\";}s:4:\"type\";s:6:\"object\";}s:15:\"CancelJobOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Output
  structure for the CancelJob operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Success\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Success\";}}s:4:\"type\";s:6:\"object\";}s:22:\"CanceledJobIdException\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"The
  specified job ID has been canceled and is no longer valid.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Carrier\";O:8:\"stdClass\":2:{s:11:\"description\";s:89:\"Name
  of the shipping company. This value is included when the LocationCode is \"Returned\".\";s:4:\"type\";s:6:\"string\";}s:14:\"CreateJobInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:44:\"Input
  structure for the CreateJob operation.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"APIVersion\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/APIVersion\";}s:7:\"JobType\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/JobType\";}s:8:\"Manifest\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Manifest\";}s:16:\"ManifestAddendum\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ManifestAddendum\";}s:12:\"ValidateOnly\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ValidateOnly\";}}s:8:\"required\";a:3:{i:0;s:7:\"JobType\";i:1;s:8:\"Manifest\";i:2;s:12:\"ValidateOnly\";}s:4:\"type\";s:6:\"object\";}s:15:\"CreateJobOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Output
  structure for the CreateJob operation.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"ArtifactList\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ArtifactList\";}s:5:\"JobId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/JobId\";}s:7:\"JobType\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/JobType\";}s:9:\"Signature\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Signature\";}s:21:\"SignatureFileContents\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/SignatureFileContents\";}s:14:\"WarningMessage\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/WarningMessage\";}}s:4:\"type\";s:6:\"object\";}s:31:\"CreateJobQuotaExceededException\";O:8:\"stdClass\":3:{s:11:\"description\";s:179:\"Each
  account can create only a certain number of jobs per day. If you need to create
  more than this, please contact awsimportexport@amazon.com to explain your particular
  use case.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:12:\"CreationDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:94:\"Timestamp
  of the CreateJob request in ISO8601 date format. For example \"2010-03-28T20:27:35Z\".\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:15:\"CurrentManifest\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"The
  last manifest submitted, which will be used to process the job.\";s:4:\"type\";s:6:\"string\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  associated description for this object.\";s:4:\"type\";s:6:\"string\";}s:10:\"ErrorCount\";O:8:\"stdClass\":2:{s:11:\"description\";s:93:\"Number
  of errors. We return this value when the ProgressCode is Success or SuccessWithErrors.\";s:4:\"type\";s:7:\"integer\";}s:12:\"ErrorMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"The
  human-readable description of a particular error.\";s:4:\"type\";s:6:\"string\";}s:21:\"ExpiredJobIdException\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"Indicates
  that the specified job has expired out of the system.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:13:\"GenericString\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"GetShippingLabelInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":12:{s:10:\"APIVersion\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/APIVersion\";}s:4:\"city\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/city\";}s:7:\"company\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/company\";}s:7:\"country\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/country\";}s:6:\"jobIds\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/JobIdList\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/name\";}s:11:\"phoneNumber\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/phoneNumber\";}s:10:\"postalCode\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/postalCode\";}s:15:\"stateOrProvince\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/stateOrProvince\";}s:7:\"street1\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/street1\";}s:7:\"street2\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/street2\";}s:7:\"street3\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/street3\";}}s:8:\"required\";a:1:{i:0;s:6:\"jobIds\";}s:4:\"type\";s:6:\"object\";}s:22:\"GetShippingLabelOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"ShippingLabelURL\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/GenericString\";}s:7:\"Warning\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/GenericString\";}}s:4:\"type\";s:6:\"object\";}s:14:\"GetStatusInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:44:\"Input
  structure for the GetStatus operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"APIVersion\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/APIVersion\";}s:5:\"JobId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/JobId\";}}s:8:\"required\";a:1:{i:0;s:5:\"JobId\";}s:4:\"type\";s:6:\"object\";}s:15:\"GetStatusOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Output
  structure for the GetStatus operation.\";s:10:\"properties\";O:8:\"stdClass\":16:{s:12:\"ArtifactList\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ArtifactList\";}s:7:\"Carrier\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Carrier\";}s:12:\"CreationDate\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/CreationDate\";}s:15:\"CurrentManifest\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/CurrentManifest\";}s:10:\"ErrorCount\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/ErrorCount\";}s:5:\"JobId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/JobId\";}s:7:\"JobType\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/JobType\";}s:12:\"LocationCode\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/LocationCode\";}s:15:\"LocationMessage\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/LocationMessage\";}s:9:\"LogBucket\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/LogBucket\";}s:6:\"LogKey\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/LogKey\";}s:12:\"ProgressCode\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ProgressCode\";}s:15:\"ProgressMessage\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ProgressMessage\";}s:9:\"Signature\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Signature\";}s:21:\"SignatureFileContents\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Signature\";}s:14:\"TrackingNumber\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/TrackingNumber\";}}s:4:\"type\";s:6:\"object\";}s:27:\"InvalidAccessKeyIdException\";O:8:\"stdClass\":3:{s:11:\"description\";s:175:\"The
  AWS Access Key ID specified in the request did not match the manifest's accessKeyId
  value. The manifest and the request authentication must use the same AWS Access
  Key ID.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:23:\"InvalidAddressException\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"The
  address specified in the manifest is invalid.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:23:\"InvalidCustomsException\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"One
  or more customs parameters was invalid. Please correct and resubmit.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:26:\"InvalidFileSystemException\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"File
  system specified in export manifest is invalid.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:21:\"InvalidJobIdException\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"The
  JOBID was missing, not found, or not associated with the AWS account.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:29:\"InvalidManifestFieldException\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"One
  or more manifest fields was invalid. Please correct and resubmit.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:25:\"InvalidParameterException\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"One
  or more parameters had an invalid value.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:23:\"InvalidVersionException\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  client tool version is invalid.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:10:\"IsCanceled\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Indicates
  whether the job was canceled.\";s:4:\"type\";s:7:\"boolean\";}s:11:\"IsTruncated\";O:8:\"stdClass\":2:{s:11:\"description\";s:127:\"Indicates
  whether the list of jobs was truncated. If true, then call ListJobs again using
  the last JobId element as the marker.\";s:4:\"type\";s:7:\"boolean\";}s:3:\"Job\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"Representation
  of a job returned by the ListJobs operation.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"CreationDate\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/CreationDate\";}s:10:\"IsCanceled\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/IsCanceled\";}s:5:\"JobId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/JobId\";}s:7:\"JobType\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/JobType\";}}s:4:\"type\";s:6:\"object\";}s:5:\"JobId\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"A
  unique identifier which refers to a particular job.\";s:4:\"type\";s:6:\"string\";}s:9:\"JobIdList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/GenericString\";}s:4:\"type\";s:5:\"array\";}s:7:\"JobType\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"Specifies
  whether the job to initiate is an import or export job.\";s:4:\"enum\";a:2:{i:0;s:6:\"Import\";i:1;s:6:\"Export\";}s:4:\"type\";s:6:\"string\";}s:8:\"JobsList\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"A
  list container for Jobs returned by the ListJobs operation.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Job\";}s:4:\"type\";s:5:\"array\";}s:13:\"ListJobsInput\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Input
  structure for the ListJobs operation.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"APIVersion\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/APIVersion\";}s:6:\"Marker\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Marker\";}s:7:\"MaxJobs\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/MaxJobs\";}}s:4:\"type\";s:6:\"object\";}s:14:\"ListJobsOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Output
  structure for the ListJobs operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"IsTruncated\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/IsTruncated\";}s:4:\"Jobs\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/JobsList\";}}s:4:\"type\";s:6:\"object\";}s:12:\"LocationCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"A
  token representing the location of the storage device, such as \"AtAWS\".\";s:4:\"type\";s:6:\"string\";}s:15:\"LocationMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"A
  more human readable form of the physical location of the storage device.\";s:4:\"type\";s:6:\"string\";}s:9:\"LogBucket\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Amazon
  S3 bucket for user logs.\";s:4:\"type\";s:6:\"string\";}s:6:\"LogKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  key where the user logs were stored.\";s:4:\"type\";s:6:\"string\";}s:26:\"MalformedManifestException\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Your
  manifest is not well-formed.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Manifest\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"The
  UTF-8 encoded text of the manifest file.\";s:4:\"type\";s:6:\"string\";}s:16:\"ManifestAddendum\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"For
  internal use only.\";s:4:\"type\";s:6:\"string\";}s:6:\"Marker\";O:8:\"stdClass\":2:{s:11:\"description\";s:162:\"Specifies
  the JOBID to start after when listing the jobs created with your account. AWS Import/Export
  lists your jobs in reverse chronological order. See MaxJobs.\";s:4:\"type\";s:6:\"string\";}s:7:\"MaxJobs\";O:8:\"stdClass\":2:{s:11:\"description\";s:249:\"Sets
  the maximum number of jobs returned in the response. If there are additional jobs
  that were not returned because MaxJobs was exceeded, the response contains &lt;IsTruncated&gt;true&lt;/IsTruncated&gt;.
  To return the additional jobs, see Marker.\";s:4:\"type\";s:7:\"integer\";}s:23:\"MissingCustomsException\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"One
  or more required customs parameters was missing from the manifest.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:29:\"MissingManifestFieldException\";O:8:\"stdClass\":3:{s:11:\"description\";s:93:\"One
  or more required fields were missing from the manifest file. Please correct and
  resubmit.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:25:\"MissingParameterException\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"One
  or more required parameters was missing from the request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:24:\"MultipleRegionsException\";O:8:\"stdClass\":3:{s:11:\"description\";s:136:\"Your
  manifest file contained buckets from multiple regions. A job is restricted to buckets
  from one region. Please correct and resubmit.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:21:\"NoSuchBucketException\";O:8:\"stdClass\":3:{s:11:\"description\";s:232:\"The
  specified bucket does not exist. Create the specified bucket or change the manifest's
  bucket, exportBucket, or logBucket field to a bucket that the account, as specified
  by the manifest's Access Key ID, has write permissions to.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:12:\"ProgressCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"A
  token representing the state of the job, such as \"Started\".\";s:4:\"type\";s:6:\"string\";}s:15:\"ProgressMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"A
  more human readable form of the job status.\";s:4:\"type\";s:6:\"string\";}s:9:\"Signature\";O:8:\"stdClass\":2:{s:11:\"description\";s:238:\"An
  encrypted code used to authenticate the request and response, for example, \"DV+TpDfx1/TdSE9ktyK9k/bDTVI=\".
  Only use this value is you want to create the signature file yourself. Generally
  you should use the SignatureFileContents value.\";s:4:\"type\";s:6:\"string\";}s:21:\"SignatureFileContents\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"The
  actual text of the SIGNATURE file to be written to disk.\";s:4:\"type\";s:6:\"string\";}s:7:\"Success\";O:8:\"stdClass\":2:{s:11:\"description\";s:75:\"Specifies
  whether (true) or not (false) AWS Import/Export updated your job.\";s:4:\"type\";s:7:\"boolean\";}s:14:\"TrackingNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:165:\"The
  shipping tracking number assigned by AWS Import/Export to the storage device when
  it's returned to you. We return this value when the LocationCode is \"Returned\".\";s:4:\"type\";s:6:\"string\";}s:3:\"URL\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  URL for a given Artifact.\";s:4:\"type\";s:6:\"string\";}s:28:\"UnableToCancelJobIdException\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"AWS
  Import/Export cannot cancel the job\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:28:\"UnableToUpdateJobIdException\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"AWS
  Import/Export cannot update the job\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:14:\"UpdateJobInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:43:\"Input
  structure for the UpateJob operation.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"APIVersion\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/APIVersion\";}s:5:\"JobId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/JobId\";}s:7:\"JobType\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/JobType\";}s:8:\"Manifest\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Manifest\";}s:12:\"ValidateOnly\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ValidateOnly\";}}s:8:\"required\";a:4:{i:0;s:5:\"JobId\";i:1;s:8:\"Manifest\";i:2;s:7:\"JobType\";i:3;s:12:\"ValidateOnly\";}s:4:\"type\";s:6:\"object\";}s:15:\"UpdateJobOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"Output
  structure for the UpateJob operation.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"ArtifactList\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ArtifactList\";}s:7:\"Success\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Success\";}s:14:\"WarningMessage\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/WarningMessage\";}}s:4:\"type\";s:6:\"object\";}s:12:\"ValidateOnly\";O:8:\"stdClass\":2:{s:11:\"description\";s:91:\"Validate
  the manifest and parameter values in the request but do not actually create a job.\";s:4:\"type\";s:7:\"boolean\";}s:14:\"WarningMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:121:\"An
  optional message notifying you of non-fatal issues with the job, such as use of
  an incompatible Amazon S3 bucket name.\";s:4:\"type\";s:6:\"string\";}s:4:\"city\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"Specifies
  the name of your city for the return address.\";s:4:\"type\";s:6:\"string\";}s:7:\"company\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"Specifies
  the name of the company that will ship this package.\";s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"Specifies
  the name of your country for the return address.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"Specifies
  the name of the person responsible for shipping this package.\";s:4:\"type\";s:6:\"string\";}s:11:\"phoneNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:79:\"Specifies
  the phone number of the person responsible for shipping this package.\";s:4:\"type\";s:6:\"string\";}s:10:\"postalCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Specifies
  the postal code for the return address.\";s:4:\"type\";s:6:\"string\";}s:15:\"stateOrProvince\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"Specifies
  the name of your state or your province for the return address.\";s:4:\"type\";s:6:\"string\";}s:7:\"street1\";O:8:\"stdClass\":2:{s:11:\"description\";s:100:\"Specifies
  the first part of the street address for the return address, for example 1234 Main
  Street.\";s:4:\"type\";s:6:\"string\";}s:7:\"street2\";O:8:\"stdClass\":2:{s:11:\"description\";s:103:\"Specifies
  the optional second part of the street address for the return address, for example
  Suite 100.\";s:4:\"type\";s:6:\"string\";}s:7:\"street3\";O:8:\"stdClass\":2:{s:11:\"description\";s:105:\"Specifies
  the optional third part of the street address for the return address, for example
  c/o Jane Doe.\";s:4:\"type\";s:6:\"string\";}}"
...
