---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":8:{s:5:\"title\";s:10:\"Learnifier\";s:7:\"version\";s:5:\"1.1.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:9:\"education\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#000000\";s:3:\"url\";s:83:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_learnifier_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:45:\"http://learnifier.com/apidocs/learnifier.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"learnifier.com\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:10:\"learnifier\";s:4:\"type\";s:7:\"openapi\";}}"
host: learnifier.com
paths:
  /coursedesigns:
    get:
      description: Lists all global course design templates. Only api callers that
        have full access can call this method.
      parameters: []
      responses:
        200:
          description: List with course design templates
          schema:
            items:
              $ref: '#/definitions/CourseDesign'
            type: array
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      summary: Lists all global course design templates
      tags:
      - Course Designs
      operationId: coursedesigns.get
  /extorgunit:
    get:
      description: Returns information about the organization unit with the specified
        external id.n
      parameters:
      - description: The external id of the organization unit
        format: extid
        in: query
        name: extid
        required: true
        type: string
      responses:
        200:
          description: A response with an organization unit
          schema:
            $ref: '#/definitions/OrgUnit'
        404:
          description: Organization Unit not found
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      summary: Get Organization Unit with External Id
      tags:
      - Organization Units
      operationId: extorgunit.get
  /extparticipation:
    get:
      description: Gets a participation by external id.
      parameters:
      - description: The external id of the participation
        format: extid
        in: query
        name: extid
        required: true
        type: string
      responses:
        200:
          description: The matching participation
          schema:
            $ref: '#/definitions/Participation'
        404:
          description: User not found
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      summary: Gets a participation by external id
      tags:
      - Users
      operationId: extparticipation.get
  /extproject:
    get:
      description: Gets an Organization Unit by external id
      parameters:
      - description: The external id of the organization unit
        format: extid
        in: query
        name: extid
        required: true
        type: string
      responses:
        200:
          description: The matching project
          schema:
            $ref: '#/definitions/Project'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      summary: Gets Organization Unit by external id
      tags:
      - Projects
      operationId: extproject.get
  /extuser:
    get:
      description: Gets a user by external id.
      parameters:
      - description: The external id of the user
        format: extid
        in: query
        name: extid
        required: true
        type: string
      responses:
        200:
          description: User was successfully added
          schema:
            $ref: '#/definitions/User'
        404:
          description: User not found
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      summary: Gets a user by external id
      tags:
      - Users
      operationId: extuser.get
  /globalusergroups:
    get:
      description: Returns a list of Global User Groups. Global User Groups are set
        up for the realm, and will generate groups that can be used on the client
        level.n
      parameters: []
      responses:
        200:
          description: List of Global User Groups.
          schema:
            items:
              $ref: '#/definitions/GlobalUserGroup'
            type: array
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      summary: List Global User Groups.
      tags:
      - Global User Groups
      operationId: globalusergroups.get
  /globalusergroups/{groupid}/members:
    get:
      description: Returns a list of all members in User Groups that are based on
        the Global Group with this groupid.n
      parameters:
      - description: ID of group
        format: int64
        in: path
        name: groupid
        required: true
        type: integer
      responses:
        200:
          description: List of users
          schema:
            items:
              $ref: '#/definitions/User'
            type: array
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      summary: List of all users in group.
      tags:
      - Global User Groups
      operationId: globalusergroups.groupid.members.get
  /orgunits:
    get:
      description: The orgunits endpoint returns information about the available organization
        units (orgunits).nThe response includes the display name, internal and external
        id and client number.n
      responses:
        200:
          description: A response with organization units
          schema:
            $ref: '#/definitions/OrgUnits'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      summary: Organization Units
      tags:
      - Organization Units
      operationId: orgunits.get
    post:
      description: Adds an Organization Unit
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/AddOrganizationUnit'
      responses:
        200:
          description: Organization Unit was successfully added
          schema:
            $ref: '#/definitions/AddOrganizationUnitResponse'
        409:
          description: An organization with the same clientNumber or external id already
            existed.
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      summary: Adds an Organization Unit
      tags:
      - Organization Units
      operationId: orgunits.post
  /orgunits/{orgid}:
    get:
      description: Returns information about the specified organization unit.nThe
        response includes the display name, internal and external id and client number.n
      parameters:
      - description: Id of the organization unit
        in: path
        name: orgid
        required: true
        type: integer
      responses:
        200:
          description: A response with an organization unit
          schema:
            $ref: '#/definitions/OrgUnit'
        404:
          description: Organization Unit not found
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      summary: Get Organization Unit
      tags:
      - Organization Units
      operationId: orgunits.orgid.get
    patch:
      description: Adds an Organization Unit
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/UpdateOrganizationUnit'
      - in: path
        name: orgid
        required: true
        type: string
      responses:
        201:
          description: Organization Unit was successfully updated
        409:
          description: An organization with the same clientNumber or external id already
            existed.
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      summary: Updates an Organization Unit
      tags:
      - Organization Units
      operationId: orgunits.orgid.patch
  /orgunits/{orgid}/projects:
    get:
      description: Returns the available projects for the organization unitn
      parameters:
      - description: Id of the organization unit
        in: path
        name: orgid
        required: true
        type: number
      responses:
        200:
          description: A list with projects
          schema:
            items:
              $ref: '#/definitions/Project'
            type: array
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      summary: Organization Unit Projects
      tags:
      - Projects
      operationId: orgunits.orgid.projects.get
    post:
      description: Creates a new projectn
      parameters:
      - description: Id of the organization unit
        in: path
        name: orgid
        required: true
        type: integer
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/AddProject'
      responses:
        201:
          description: The project was succesfully created created.
          headers:
            location:
              description: Location to the added project
              format: uri
              type: string
          schema:
            $ref: '#/definitions/Project'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      summary: Create project
      tags:
      - Projects
      operationId: orgunits.orgid.projects.post
  /orgunits/{orgid}/projects/{projectid}:
    delete:
      description: Deletes the project. The project can only be deleted if the project
        do not contain any participants.n
      parameters:
      - description: Id of the organization unit
        in: path
        name: orgid
        required: true
        type: integer
      - description: Id of the project
        in: path
        name: projectid
        required: true
        type: integer
      responses:
        204:
          description: The project was deleted
        404:
          description: The project could not be found
        406:
          description: The project could not be delted due to constraints
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      summary: Deletes the project
      tags:
      - Projects
      operationId: orgunits.orgid.projects.projectid.delete
    get:
      description: Returns project informationn
      parameters:
      - description: Id of the organization unit
        in: path
        name: orgid
        required: true
        type: integer
      - description: Id of the project
        in: path
        name: projectid
        required: true
        type: integer
      responses:
        200:
          description: Project information
          schema:
            $ref: '#/definitions/Project'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      summary: Project information
      tags:
      - Projects
      operationId: orgunits.orgid.projects.projectid.get
    patch:
      description: Updates information about a project. Values are only updated if
        the fields are specified in the inputn
      parameters:
      - description: Id of the organization unit
        in: path
        name: orgid
        required: true
        type: integer
      - description: Id of the project
        in: path
        name: projectid
        required: true
        type: integer
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/UpdateProject'
      responses:
        200:
          description: The project was succesfully updated
          headers:
            location:
              description: Location to the added project
              format: uri
              type: string
          schema:
            $ref: '#/definitions/Project'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      summary: Update project information
      tags:
      - Projects
      operationId: orgunits.orgid.projects.projectid.patch
  /orgunits/{orgid}/projects/{projectid}/participants:
    get:
      description: Returns project participantsn
      parameters:
      - description: Id of the organization unit
        in: path
        name: orgid
        required: true
        type: integer
      - description: Id of the project
        in: path
        name: projectid
        required: true
        type: integer
      responses:
        200:
          description: Project information
          schema:
            items:
              $ref: '#/definitions/Participation'
            type: array
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      summary: Project participants
      tags:
      - Projects
      operationId: orgunits.orgid.projects.projectid.participants.get
    post:
      description: Add a user to the project. Participant information is created for
        the user. In the body object, only one of either email or userid must be specified.
        The participant needs to be activated before it the user can access it.n
      parameters:
      - description: Id of the organization unit
        in: path
        name: orgid
        required: true
        type: integer
      - description: Id of the project
        in: path
        name: projectid
        required: true
        type: integer
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/AddParticipant'
      responses:
        201:
          description: Participant was created
          headers:
            location:
              description: Location to the added participant
              format: uri
              type: string
        409:
          description: Participant with the same email already existed. Location header
            contains the url to the already existing participant.
          headers:
            location:
              description: Location to the participant
              format: uri
              type: string
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      summary: Add participant
      tags:
      - Projects
      operationId: orgunits.orgid.projects.projectid.participants.post
  /orgunits/{orgid}/projects/{projectid}/participants/${participantId}:
    delete:
      description: Deletes a participant. The user itself will still remain but any
        state related to the project will be deleted.nIt might not be possible due
        to constraints from the products in the project to delete the participant.
        Howevernthis can only be determined at the time of the delete. If a delete
        fails the participant will have their inErrornflag set.n
      parameters:
      - description: Id of the organization unit
        in: path
        name: orgid
        required: true
        type: integer
      - description: Id of the project
        in: path
        name: projectid
        required: true
        type: integer
      - description: Participant id
        in: path
        name: participantId
        required: true
        type: integer
      responses:
        204:
          description: Participant is deleted
        409:
          description: The delete failed due to internal constraints
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      summary: Deletes a participant
      tags:
      - Projects
      operationId: orgunits.orgid.projects.projectid.participants._participantId.delete
  /orgunits/{orgid}/projects/{projectid}/participants/${participantId}/activate:
    post:
      description: Activates a participant so that it can be usedn
      parameters:
      - description: Id of the organization unit
        in: path
        name: orgid
        required: true
        type: integer
      - description: Id of the project
        in: path
        name: projectid
        required: true
        type: integer
      - description: Id of the participant
        in: path
        name: participantId
        required: true
        type: integer
      responses:
        201:
          description: Participant is activated
        406:
          description: The participant could not be activated
          schema:
            $ref: '#/definitions/ActivationError'
        422:
          description: The participant could not be activated due to invalid project
            state
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      summary: Activate participant
      tags:
      - Projects
      operationId: orgunits.orgid.projects.projectid.participants._participantId.activate.post
  /orgunits/{orgid}/projects/{projectid}/participants/${participantId}/loginlink:
    post:
      description: Returns a single sign on link for the participant. The link is
        only usable once and should be used directly. The link expires after a few
        minutes.nnThis operation requires the *login link* permission.n
      parameters:
      - description: Id of the organization unit
        in: path
        name: orgid
        required: true
        type: integer
      - description: Id of the project
        in: path
        name: projectid
        required: true
        type: integer
      - description: Id of the participant
        in: path
        name: participantId
        required: true
        type: integer
      responses:
        200:
          description: A generated one time use login link
          schema:
            $ref: '#/definitions/LoginLink'
        422:
          description: The participant is not in a state where a loginlink is possible
            to get
          schema:
            $ref: '#/definitions/Error'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      summary: Participant login link
      tags:
      - Projects
      operationId: orgunits.orgid.projects.projectid.participants._participantId.loginlink.post
  /orgunits/{orgid}/projects/{projectid}/teammembers:
    get:
      description: Returns the project team members. A team member is a ....n
      parameters:
      - description: Id of the organization unit
        in: path
        name: orgid
        required: true
        type: integer
      - description: Id of the project
        in: path
        name: projectid
        required: true
        type: integer
      responses:
        200:
          description: Project information
          schema:
            items:
              $ref: '#/definitions/ProjectTeamMember'
            type: array
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      summary: Project team members
      tags:
      - Projects
      operationId: orgunits.orgid.projects.projectid.teammembers.get
  /orgunits/{orgid}/usergroups:
    get:
      description: Returns a list of User Groups for the org unit.n
      parameters:
      - description: ID of organization
        format: int64
        in: path
        name: orgid
        required: true
        type: integer
      responses:
        200:
          description: List of User Groups.
          schema:
            items:
              $ref: '#/definitions/UserGroup'
            type: array
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      summary: List User Groups.
      tags:
      - User Groups
      operationId: orgunits.orgid.usergroups.get
    post:
      description: Create a User Group.n
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/AddUserGroup'
      - description: ID of organization
        format: int64
        in: path
        name: orgid
        required: true
        type: integer
      responses:
        200:
          description: List of User Groups.
          schema:
            items:
              $ref: '#/definitions/GroupId'
            type: array
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      summary: Create a User Group.
      tags:
      - User Groups
      operationId: orgunits.orgid.usergroups.post
  /orgunits/{orgid}/usergroups/{groupid}:
    get:
      description: Returns single User Group.n
      parameters:
      - description: ID of organization
        format: int64
        in: path
        name: orgid
        required: true
        type: integer
      - description: ID of group
        format: int64
        in: path
        name: groupid
        required: true
        type: integer
      responses:
        200:
          description: User Group.
          schema:
            $ref: '#/definitions/UserGroup'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      summary: Get user group
      tags:
      - User Groups
      operationId: orgunits.orgid.usergroups.groupid.get
  /orgunits/{orgid}/usergroups/{groupid}/members:
    get:
      description: Returns a list of all members in User Groups that are based on
        the Global Group with this groupid.n
      parameters:
      - description: ID of organization
        format: int64
        in: path
        name: orgid
        required: true
        type: integer
      - description: ID of group
        format: int64
        in: path
        name: groupid
        required: true
        type: integer
      responses:
        200:
          description: List of users
          schema:
            items:
              $ref: '#/definitions/User'
            type: array
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      summary: List of all users in group.
      tags:
      - User Groups
      operationId: orgunits.orgid.usergroups.groupid.members.get
    post:
      description: Adds a user to user group.n
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/AddUserGroupMember'
      - description: ID of organization
        format: int64
        in: path
        name: orgid
        required: true
        type: integer
      - description: ID of group
        format: int64
        in: path
        name: groupid
        required: true
        type: integer
      responses:
        200:
          description: User ID of added user
          schema:
            $ref: '#/definitions/UserId'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      summary: Add user group member.
      tags:
      - User Groups
      operationId: orgunits.orgid.usergroups.groupid.members.post
  /orgunits/{orgid}/usergroups/{groupid}/members/{uuid}:
    delete:
      description: Removes a user from a user group.n
      parameters:
      - description: ID of organization
        format: int64
        in: path
        name: orgid
        required: true
        type: integer
      - description: ID of group
        format: int64
        in: path
        name: groupid
        required: true
        type: integer
      - description: UUID of user to remove from group.
        format: uuid
        in: path
        name: uuid
        required: true
        type: string
      responses:
        200:
          description: OK
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      summary: Remove user group member.
      tags:
      - User Groups
      operationId: orgunits.orgid.usergroups.groupid.members.uuid.delete
  /users:
    get:
      description: Lists all users. Only api callers that have full access can call
        this method.
      parameters:
      - default: 5000
        description: The maximum number of users to return
        format: integer
        in: query
        name: limit
        required: false
        type: integer
      - default: 0
        description: The offset to start listing users from
        format: integer
        in: query
        name: offset
        required: false
        type: integer
      responses:
        200:
          description: List with users
          headers:
            X-Limit:
              description: The limit that was used
              type: integer
            X-More:
              description: Indicates if there are more users available
              type: boolean
            X-Offset:
              description: The offset that was used
              type: integer
            X-Size:
              description: The number of users returned
              type: integer
          schema:
            items:
              $ref: '#/definitions/UserWithPermissions'
            type: array
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      summary: Lists all users
      tags:
      - Users
      operationId: users.get
    post:
      description: Adds a user. No two users can have the same email address. Email
        is saved WITH case but compared regardless of case. Email can be changed for
        a user assuming it doesn't cause a conflict.
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/AddUser'
      responses:
        200:
          description: User was successfully added
          schema:
            $ref: '#/definitions/AddUserResponse'
        409:
          description: A user with the same primary email already existed.
          schema:
            $ref: '#/definitions/AddUserResponse'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      summary: Adds a user
      tags:
      - Users
      operationId: users.post
  /users/{userid}:
    get:
      description: Returns information about a usern
      parameters:
      - description: A user id
        in: path
        name: userid
        required: true
        type: string
      responses:
        200:
          description: User information
          schema:
            $ref: '#/definitions/User'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      summary: User information
      tags:
      - Users
      operationId: users.userid.get
    patch:
      description: Updates a user. All values that have a key defined in the input
        will be set. So if a value should not be updated omit it totally from the
        input, otherwise it will be unset.
      parameters:
      - description: The user id
        format: uuid
        in: path
        name: userid
        required: true
        type: string
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/AddUser'
      responses:
        201:
          description: User was successfully updated
        409:
          description: A user with the same primary email already existed.
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      summary: Updates user information
      tags:
      - Users
      operationId: users.userid.patch
  /users/{userid}/pic?key={APIKEY}:
    get:
      description: Returns a thumbnail picture of the user. This can either be a selected
        picture or an auto generated image. This method doesn't require a full sign
        in. The api key is sufficient.nThe image is square and is likely, but not
        necessary, to be in 128x128 PNG format. However the format will always be
        either PNG, JPEG or GIF.n
      parameters:
      - description: The user id
        in: path
        name: userid
        required: true
        type: string
      - in: path
        name: APIKEY
        required: true
        type: string
      responses:
        200:
          description: An image. Check the Content-Type header to determine which
            type the returned image have
        302:
          description: A redirect to the profile
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      summary: User profile picture
      tags:
      - Users
      operationId: users.userid.pic_key_APIKEY.get
  /users/{userid}/projectParticipations:
    get:
      description: Returns information about the projects the user is a participant
        in. Only the projects that the current token have access to will be listed.n
      parameters:
      - description: A user id
        format: uuid
        in: path
        name: userid
        required: true
        type: string
      responses:
        200:
          description: Project participation info
          schema:
            $ref: '#/definitions/UserParticipationInfo'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      summary: Returns information about the projects the user is a participant in.
      tags:
      - Users
      operationId: users.userid.projectParticipations.get
produces:
- application/json
schemes:
- http
definitions: !php/object "O:8:\"stdClass\":32:{s:15:\"ActivationError\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"code\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Optional
  error code\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"failures\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ProductFailure\";}s:4:\"type\";s:5:\"array\";}s:5:\"field\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"The
  input field that the error was related to\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Optional
  error message\";s:4:\"type\";s:6:\"string\";}}}s:19:\"AddOrganizationUnit\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:6:\"caller\";O:8:\"stdClass\":4:{s:11:\"description\";s:48:\"The
  id of the user that initiated this operation\";s:7:\"example\";s:36:\"81590981-1e05-4fd5-aa15-15bc4b06cf7f\";s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";}s:12:\"clientNumber\";O:8:\"stdClass\":3:{s:11:\"description\";s:101:\"A
  client number. Sometimes used when communicating with external system. Must be unique
  if specified.\";s:7:\"example\";s:6:\"X-1234\";s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":4:{s:11:\"description\";s:106:\"The
  country code that best matches the organization unit. If unspecified the platform
  default will be set.\";s:7:\"example\";s:2:\"se\";s:6:\"format\";s:6:\"locale\";s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  name shown for the organization unit\";s:7:\"example\";s:11:\"Sample Corp\";s:4:\"type\";s:6:\"string\";}s:10:\"externalId\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"The
  external id (foreign key). Must not exceed 255 characters.\";s:4:\"type\";s:6:\"string\";}s:6:\"parent\";O:8:\"stdClass\":4:{s:11:\"description\";s:66:\"A
  Organization Unit id of the parent Organization Unit (optional).\";s:7:\"example\";s:4:\"1234\";s:6:\"format\";s:4:\"id64\";s:4:\"type\";s:6:\"number\";}}s:8:\"required\";a:1:{i:0;s:11:\"displayName\";}}s:27:\"AddOrganizationUnitResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"ouId\";O:8:\"stdClass\":4:{s:11:\"description\";s:24:\"The
  Organization Unit id\";s:7:\"example\";s:2:\"12\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"number\";}}}s:14:\"AddParticipant\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"email\";O:8:\"stdClass\":4:{s:11:\"description\";s:133:\"The
  email of the user. If no user exists with the specified email a user will be created
  with default values and the specified email.\";s:7:\"example\";s:16:\"user@example.com\";s:6:\"format\";s:5:\"email\";s:4:\"type\";s:6:\"string\";}s:5:\"extid\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"An
  optional external id for the participation\";s:4:\"type\";s:6:\"string\";}s:6:\"userid\";O:8:\"stdClass\":3:{s:7:\"example\";s:36:\"81590981-1e05-4fd5-aa15-15bc4b06cf7f\";s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";}}}s:10:\"AddProject\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:7:\"country\";O:8:\"stdClass\":4:{s:11:\"description\";s:61:\"The
  country code. Default value will be used if not specified\";s:7:\"example\";s:2:\"SE\";s:6:\"format\";s:11:\"countrycode\";s:4:\"type\";s:6:\"string\";}s:9:\"createdBy\";O:8:\"stdClass\":4:{s:11:\"description\";s:114:\"The
  id of the user that created the project. If the creator is not known this value
  can be *null* or not specified\";s:7:\"example\";s:36:\"8c102c8e-fabd-4c8a-b245-4d2d2f77fc4b\";s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";}s:8:\"designId\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"The
  id of the design this project should be based on\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:6:\"locale\";O:8:\"stdClass\":4:{s:11:\"description\";s:80:\"The
  primary locale for this project. Default value will be used if not specified\";s:7:\"example\";s:5:\"en-US\";s:6:\"format\";s:6:\"locale\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  internal name of the project\";s:4:\"type\";s:6:\"string\";}s:4:\"note\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  internal note field\";s:4:\"type\";s:6:\"string\";}s:8:\"timezone\";O:8:\"stdClass\":4:{s:11:\"description\";s:70:\"The
  main timezone for the project. Do not specify for default timezone\";s:7:\"example\";s:16:\"Europe/Stockholm\";s:6:\"format\";s:8:\"timezone\";s:4:\"type\";s:6:\"string\";}s:15:\"userDescription\";O:8:\"stdClass\":2:{s:11:\"description\";s:87:\"The
  description presented to participants. Do not specify for default value from design\";s:4:\"type\";s:6:\"string\";}s:9:\"userTitle\";O:8:\"stdClass\":2:{s:11:\"description\";s:81:\"The
  title presented to participants. Do not specify for default value from design\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:8:\"designId\";}}s:7:\"AddUser\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":8:{s:11:\"displayName\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  name shown when the user is listed\";s:7:\"example\";s:8:\"Jane Doe\";s:4:\"type\";s:6:\"string\";}s:10:\"externalId\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"The
  external id (foreign key). Must not exceed 255 characters.\";s:4:\"type\";s:6:\"string\";}s:9:\"firstName\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  first (given) name of the user\";s:7:\"example\";s:4:\"Jane\";s:4:\"type\";s:6:\"string\";}s:8:\"hardLock\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"True
  if the user should be locked from the system\";s:4:\"type\";s:7:\"boolean\";}s:7:\"homeOrg\";O:8:\"stdClass\":4:{s:11:\"description\";s:81:\"The
  primary organization for the user. Must match the id of an Organization Unit.\";s:7:\"example\";i:1234;s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:8:\"lastName\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  last name (surname) of the user\";s:7:\"example\";s:3:\"Doe\";s:6:\"format\";s:6:\"string\";}s:6:\"locale\";O:8:\"stdClass\":4:{s:11:\"description\";s:81:\"The
  user's preferred language/locale setting. Affects date and number formatting.\";s:7:\"example\";s:5:\"en-US\";s:6:\"format\";s:6:\"locale\";s:4:\"type\";s:6:\"string\";}s:12:\"primaryEmail\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"The
  primary email for the user. Used for communication from the platform.\";s:7:\"example\";s:20:\"jane.doe@example.com\";s:4:\"type\";s:6:\"string\";}}}s:12:\"AddUserGroup\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"Name
  of group.\";s:7:\"example\";s:3:\"Foo\";s:4:\"type\";s:6:\"string\";}s:6:\"parent\";O:8:\"stdClass\":4:{s:11:\"description\";s:28:\"Optional
  ID of parent group.\";s:7:\"example\";i:1010;s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}}s:18:\"AddUserGroupMember\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"uuid\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"UUID
  of user to add to this group.\";s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"uuid\";}}s:15:\"AddUserResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"userId\";O:8:\"stdClass\":4:{s:11:\"description\";s:11:\"The
  user id\";s:7:\"example\";s:36:\"81590981-1e05-4fd5-aa15-15bc4b06cf7f\";s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";}}}s:14:\"BackOfficeRole\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"The
  id of the role\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"The
  name of the role\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:2:\"id\";i:1;s:4:\"name\";}}s:10:\"ClientRole\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"The
  id of the role\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"The
  name of the role\";s:4:\"type\";s:6:\"string\";}}}s:11:\"ClientRoles\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"An
  organization unit id\";s:4:\"type\";s:6:\"string\";}s:5:\"roles\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"A
  list with client roles\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/ClientRole\";}s:4:\"type\";s:5:\"array\";}}}s:12:\"CourseDesign\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":12:{s:7:\"created\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  time this entry was created\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:9:\"createdBy\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"UUID
  of the user that created this entry.\";s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Course
  description\";s:4:\"type\";s:6:\"string\";}s:7:\"enabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"True
  if this design is enabled for use\";s:4:\"type\";s:7:\"boolean\";}s:6:\"locale\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"BCP-47
  locale\";s:6:\"format\";s:6:\"locale\";s:4:\"type\";s:6:\"string\";}s:6:\"locked\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  time when this entry was locked or null\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:8:\"lockedBy\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"UUID
  of the user that has locked this design\";s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";}s:12:\"lockedDesign\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"True
  if this design is locked for editing\";s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:8:\"The
  name\";s:4:\"type\";s:6:\"string\";}s:6:\"softid\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"The
  soft identifier\";s:4:\"type\";s:6:\"string\";}s:6:\"sticky\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"True
  if this design is sticky\";s:4:\"type\";s:7:\"boolean\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Course
  tags\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:5:{i:0;s:4:\"name\";i:1;s:6:\"locale\";i:2;s:7:\"enabled\";i:3;s:12:\"lockedDesign\";i:4;s:6:\"sticky\";}}s:5:\"Error\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Optional
  error code\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:5:\"field\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"The
  input field that the error was related to\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Optional
  error message\";s:4:\"type\";s:6:\"string\";}}}s:15:\"GlobalUserGroup\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:7:\"created\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Timestamp
  when group was created.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:9:\"createdBy\";O:8:\"stdClass\":4:{s:11:\"description\";s:41:\"UUID
  of the user that created this group.\";s:7:\"example\";s:36:\"81590981-1e05-4fd5-aa15-15bc4b06cf7f\";s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"The
  id of the group.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  name of the group.\";s:4:\"type\";s:6:\"string\";}s:6:\"parent\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Id
  of parent group, null if group has no parent.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:7:\"softiId\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Alternative
  unique ID for the group.\";s:4:\"type\";s:6:\"string\";}s:7:\"updated\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"Timestamp
  when group was last modified.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:9:\"updatedBy\";O:8:\"stdClass\":4:{s:11:\"description\";s:46:\"UUID
  of the user that last updated this group.\";s:7:\"example\";s:36:\"81590981-1e05-4fd5-aa15-15bc4b06cf7f\";s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:2:\"id\";i:1;s:7:\"created\";}}s:7:\"GroupId\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"groupId\";O:8:\"stdClass\":4:{s:11:\"description\";s:12:\"ID
  of group.\";s:7:\"example\";s:4:\"1010\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:1:{i:0;s:7:\"groupId\";}}s:9:\"LoginLink\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"link\";O:8:\"stdClass\":4:{s:11:\"description\";s:16:\"An
  full http url\";s:7:\"example\";s:39:\"http://www.example.com/login/1234567890\";s:6:\"format\";s:3:\"url\";s:4:\"type\";s:6:\"string\";}}}s:7:\"OrgUnit\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"externalId\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"The
  external id (foreign key). Must not exceed 255 characters.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:89:\"Unique
  identifier representing a specific organization unit. Id numbers are never reused.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  name of the client.\";s:4:\"type\";s:6:\"string\";}s:8:\"parentId\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"Unique
  identifier of the parent or *null* if there is no parent.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"The
  organization unit type. The only type is *client* at the moment.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:2:\"id\";i:1;s:4:\"type\";}}s:8:\"OrgUnits\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"orgUnits\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/OrgUnit\";}s:4:\"type\";s:5:\"array\";}}}s:13:\"Participation\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":17:{s:10:\"accessLink\";O:8:\"stdClass\":4:{s:11:\"description\";s:211:\"A
  link to access this particular participation. The link requires the user to login.
  Users that access the platform the first time must set a password. This value is
  null if this participation is not activated. \";s:7:\"example\";s:40:\"http://www.example.com/accesslink/123451\";s:6:\"format\";s:3:\"url\";s:4:\"type\";s:6:\"string\";}s:9:\"activated\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"True
  if this participation has been activated and can be used\";s:4:\"type\";s:7:\"boolean\";}s:19:\"activitiesCompleted\";O:8:\"stdClass\":4:{s:11:\"description\";s:34:\"The
  number of activities completed\";s:7:\"example\";i:3;s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"number\";}s:15:\"activitiesTotal\";O:8:\"stdClass\":4:{s:11:\"description\";s:30:\"The
  total number of activities\";s:7:\"example\";i:5;s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"number\";}s:12:\"errorMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:84:\"An
  optional error message that may describe why the participation is in error state.\";s:4:\"type\";s:6:\"string\";}s:10:\"expiration\";O:8:\"stdClass\":3:{s:11:\"description\";s:100:\"The
  timestamp when this participation will expire. Expiration never happens if this
  value is *null*.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:10:\"externalId\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"The
  external id (foreign key). Must not exceed 255 characters.\";s:4:\"type\";s:6:\"string\";}s:11:\"firstAccess\";O:8:\"stdClass\":3:{s:11:\"description\";s:98:\"The
  timestamp when the participant accessed the project for the first time. This value
  can be null\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:15:\"firstActivation\";O:8:\"stdClass\":3:{s:11:\"description\";s:81:\"The
  timestamp when this participation was first activated. This value can be null\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:9:\"firstMail\";O:8:\"stdClass\":3:{s:11:\"description\";s:86:\"The
  timestamp when the first mail was sent to this participant. This value can be null\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:78:\"Unique
  identifier representing this participation. Id numbers are never reused\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:7:\"inError\";O:8:\"stdClass\":2:{s:11:\"description\";s:119:\"True
  if this participation is in an error state. The user is not able to access participations
  that are in error state.\";s:4:\"type\";s:7:\"boolean\";}s:10:\"lastAccess\";O:8:\"stdClass\":3:{s:11:\"description\";s:93:\"The
  timestamp when the participant accessed the project the last time. This value can
  be null\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:14:\"lastActivation\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"The
  timestamp when this participation was last activated. This value can be null\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:8:\"lastMail\";O:8:\"stdClass\":3:{s:11:\"description\";s:85:\"The
  timestamp when the last mail was sent to this participant. This value can be null\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:9:\"projectId\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  id of the project this participation belongs to\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:6:\"userId\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"The
  id of the user this participation belongs to\";s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";}}}s:14:\"ProductFailure\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"The
  error message\";s:4:\"type\";s:6:\"string\";}s:9:\"productId\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"A
  product id\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  technical error type\";s:4:\"type\";s:6:\"string\";}}}s:7:\"Project\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":15:{s:8:\"adminUrl\";O:8:\"stdClass\":4:{s:11:\"description\";s:121:\"URL
  to the page where project administration can be done. Administrative access is still
  required when accessing the url.\";s:7:\"example\";s:36:\"http://www.example.com/adminUrl/1234\";s:6:\"format\";s:3:\"url\";s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":4:{s:11:\"description\";s:16:\"The
  country code\";s:7:\"example\";s:2:\"SE\";s:6:\"format\";s:11:\"countrycode\";s:4:\"type\";s:6:\"string\";}s:7:\"created\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"The
  timestamp when this project was created.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:9:\"createdBy\";O:8:\"stdClass\":4:{s:11:\"description\";s:93:\"The
  id of the user that created the project. If the creator is not known this value
  is *null*\";s:7:\"example\";s:36:\"8c102c8e-fabd-4c8a-b245-4d2d2f77fc4b\";s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";}s:8:\"designId\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"The
  id of the design this project are using or null if no design is used\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:10:\"externalId\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"The
  external id (foreign key). Must not exceed 255 characters.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:79:\"Unique
  identifier representing a specific project. Id numbers are never reused.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:6:\"locale\";O:8:\"stdClass\":4:{s:11:\"description\";s:35:\"The
  primary locale for this project\";s:7:\"example\";s:5:\"en-US\";s:6:\"format\";s:6:\"locale\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  internal name of the project\";s:4:\"type\";s:6:\"string\";}s:4:\"note\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  internal note field\";s:4:\"type\";s:6:\"string\";}s:5:\"orgId\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"The
  id of the organization unit this project belongs to\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:6:\"status\";O:8:\"stdClass\":4:{s:11:\"description\";s:56:\"Project
  status. Can be either ACTIVATED, NEW or DISABLED\";s:4:\"enum\";a:3:{i:0;s:9:\"ACTIVATED\";i:1;s:3:\"NEW\";i:2;s:8:\"DISABLED\";}s:7:\"example\";s:9:\"ACTIVATED\";s:4:\"type\";s:6:\"string\";}s:8:\"timezone\";O:8:\"stdClass\":4:{s:11:\"description\";s:33:\"The
  main timezone for the project\";s:7:\"example\";s:16:\"Europe/Stockholm\";s:6:\"format\";s:8:\"timezone\";s:4:\"type\";s:6:\"string\";}s:15:\"userDescription\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"The
  description presented to participants. This value can be *null*.\";s:4:\"type\";s:6:\"string\";}s:9:\"userTitle\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  title presented to participants\";s:4:\"type\";s:6:\"string\";}}}s:17:\"ProjectTeamMember\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"roles\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/TeamRole\";s:4:\"type\";s:5:\"array\";}s:6:\"userid\";O:8:\"stdClass\":4:{s:11:\"description\";s:93:\"The
  id of the user that created the project. If the creator is not known this value
  is *null*\";s:7:\"example\";s:36:\"81590981-1e05-4fd5-aa15-15bc4b06cf7f\";s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";}}}s:8:\"TeamRole\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"roleid\";O:8:\"stdClass\":3:{s:7:\"example\";s:36:\"2afae00f-8357-4b56-94bb-44a3cf0b8ffa\";s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";}}}s:22:\"UpdateOrganizationUnit\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:6:\"caller\";O:8:\"stdClass\":4:{s:11:\"description\";s:48:\"The
  id of the user that initiated this operation\";s:7:\"example\";s:36:\"81590981-1e05-4fd5-aa15-15bc4b06cf7f\";s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";}s:12:\"clientNumber\";O:8:\"stdClass\":3:{s:11:\"description\";s:101:\"A
  client number. Sometimes used when communicating with external system. Must be unique
  if specified.\";s:7:\"example\";s:6:\"X-1234\";s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":4:{s:11:\"description\";s:106:\"The
  country code that best matches the organization unit. If unspecified the platform
  default will be set.\";s:7:\"example\";s:2:\"se\";s:6:\"format\";s:6:\"locale\";s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"The
  name shown for the organization unit\";s:7:\"example\";s:11:\"Sample Corp\";s:4:\"type\";s:6:\"string\";}s:10:\"externalId\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"The
  external id (foreign key). Must not exceed 255 characters.\";s:4:\"type\";s:6:\"string\";}s:6:\"parent\";O:8:\"stdClass\":4:{s:11:\"description\";s:66:\"A
  Organization Unit id of the parent Organization Unit (optional).\";s:7:\"example\";s:4:\"1234\";s:6:\"format\";s:4:\"id64\";s:4:\"type\";s:6:\"number\";}}}s:13:\"UpdateProject\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":8:{s:7:\"country\";O:8:\"stdClass\":4:{s:11:\"description\";s:16:\"The
  country code\";s:7:\"example\";s:2:\"SE\";s:6:\"format\";s:11:\"countrycode\";s:4:\"type\";s:6:\"string\";}s:6:\"locale\";O:8:\"stdClass\":4:{s:11:\"description\";s:35:\"The
  primary locale for this project\";s:7:\"example\";s:5:\"en-US\";s:6:\"format\";s:6:\"locale\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  internal name of the project\";s:4:\"type\";s:6:\"string\";}s:4:\"note\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  internal note field\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":4:{s:11:\"description\";s:56:\"Project
  status. Can be either ACTIVATED, NEW or DISABLED\";s:4:\"enum\";a:3:{i:0;s:9:\"ACTIVATED\";i:1;s:3:\"NEW\";i:2;s:8:\"DISABLED\";}s:7:\"example\";s:9:\"ACTIVATED\";s:4:\"type\";s:6:\"string\";}s:8:\"timezone\";O:8:\"stdClass\":4:{s:11:\"description\";s:33:\"The
  main timezone for the project\";s:7:\"example\";s:16:\"Europe/Stockholm\";s:6:\"format\";s:8:\"timezone\";s:4:\"type\";s:6:\"string\";}s:15:\"userDescription\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"The
  description presented to participants. This value can be *null*.\";s:4:\"type\";s:6:\"string\";}s:9:\"userTitle\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  title presented to participants\";s:4:\"type\";s:6:\"string\";}}}s:4:\"User\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":13:{s:21:\"authorizationPossible\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"True
  if the user can authorize herself/himself\";s:4:\"type\";s:7:\"boolean\";}s:11:\"displayName\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Full
  name of the user\";s:7:\"example\";s:8:\"Jane Doe\";s:4:\"type\";s:6:\"string\";}s:10:\"externalId\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"The
  external id (foreign key). Must not exceed 255 characters.\";s:4:\"type\";s:6:\"string\";}s:10:\"firstLogin\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"The
  timestamp when the first login was made. This value can be *null*.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:9:\"firstName\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"The
  first name of the user (or given name)\";s:7:\"example\";s:4:\"Jane\";s:4:\"type\";s:6:\"string\";}s:8:\"hardLock\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"True
  if the user is locked and the lock has been set by an administrator\";s:4:\"type\";s:7:\"boolean\";}s:7:\"homeOrg\";O:8:\"stdClass\":4:{s:11:\"description\";s:81:\"The
  primary organization for the user. Must match the id of an Organization Unit.\";s:7:\"example\";i:1234;s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:2:\"id\";O:8:\"stdClass\":4:{s:11:\"description\";s:48:\"The
  id of the user this participation belongs to\";s:7:\"example\";s:36:\"81590981-1e05-4fd5-aa15-15bc4b06cf7f\";s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";}s:9:\"lastLogin\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"The
  timestamp when the last login was made. This value can be *null*.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:8:\"lastName\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  last name of the user (or surname)\";s:7:\"example\";s:3:\"Doe\";s:4:\"type\";s:6:\"string\";}s:6:\"locked\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"Lock
  status. A locked user will not be able to access the platform.\";s:4:\"type\";s:7:\"boolean\";}s:5:\"prefs\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/UserPreferences\";}s:12:\"primaryEmail\";O:8:\"stdClass\":3:{s:11:\"description\";s:79:\"The
  primary email for this user. If the user has no email this value is *null*.\";s:6:\"format\";s:5:\"email\";s:4:\"type\";s:6:\"string\";}}}s:9:\"UserGroup\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:8:\"children\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Children
  User Groups.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/UserGroup\";}s:4:\"type\";s:5:\"array\";}s:8:\"globalId\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"Global
  group ID if this group is based on a global group, otherwise null.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:7:\"groupId\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"Unique
  identifier representing a User Group. Id numbers are never reused.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  name of the User Group.\";s:4:\"type\";s:6:\"string\";}s:6:\"parent\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"Unique
  identifier of the parent or *null* if there is no parent.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:9:\"userGroup\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"If
  of internal user group object that holds the members of this group.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}}s:6:\"UserId\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"uuid\";O:8:\"stdClass\":4:{s:11:\"description\";s:34:\"UUID
  of user to add to this group.\";s:7:\"example\";s:36:\"aa7685cb-d47e-419e-8541-0d13cdcfe779\";s:6:\"format\";s:4:\"uuid\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"uuid\";}}s:21:\"UserParticipationInfo\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":21:{s:10:\"accessLink\";O:8:\"stdClass\":4:{s:11:\"description\";s:211:\"A
  link to access this particular participation. The link requires the user to login.
  Users that access the platform the first time must set a password. This value is
  null if this participation is not activated. \";s:7:\"example\";s:40:\"http://www.example.com/accesslink/123451\";s:6:\"format\";s:3:\"url\";s:4:\"type\";s:6:\"string\";}s:9:\"activated\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"True
  if this participation has been activated and can be used\";s:4:\"type\";s:7:\"boolean\";}s:19:\"activitiesCompleted\";O:8:\"stdClass\":4:{s:11:\"description\";s:34:\"The
  number of activities completed\";s:7:\"example\";s:1:\"3\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"number\";}s:15:\"activitiesTotal\";O:8:\"stdClass\":4:{s:11:\"description\";s:30:\"The
  total number of activities\";s:7:\"example\";s:1:\"5\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"number\";}s:12:\"errorMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:84:\"An
  optional error message that may describe why the participation is in error state.\";s:4:\"type\";s:6:\"string\";}s:10:\"expiration\";O:8:\"stdClass\":3:{s:11:\"description\";s:100:\"The
  timestamp when this participation will expire. Expiration never happens if this
  value is *null*.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:10:\"externalId\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"The
  external id (foreign key). Must not exceed 255 characters.\";s:4:\"type\";s:6:\"string\";}s:11:\"firstAccess\";O:8:\"stdClass\":3:{s:11:\"description\";s:98:\"The
  timestamp when the participant accessed the project for the first time. This value
  can be null\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:15:\"firstActivation\";O:8:\"stdClass\":3:{s:11:\"description\";s:81:\"The
  timestamp when this participation was first activated. This value can be null\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:9:\"firstMail\";O:8:\"stdClass\":3:{s:11:\"description\";s:86:\"The
  timestamp when the first mail was sent to this participant. This value can be null\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Participation
  id\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:7:\"inError\";O:8:\"stdClass\":2:{s:11:\"description\";s:119:\"True
  if this participation is in an error state. The user is not able to access participations
  that are in error state.\";s:4:\"type\";s:7:\"boolean\";}s:10:\"lastAccess\";O:8:\"stdClass\":3:{s:11:\"description\";s:93:\"The
  timestamp when the participant accessed the project the last time. This value can
  be null\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:14:\"lastActivation\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"The
  timestamp when this participation was last activated. This value can be null\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:8:\"lastMail\";O:8:\"stdClass\":3:{s:11:\"description\";s:85:\"The
  timestamp when the last mail was sent to this participant. This value can be null\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:9:\"projectId\";O:8:\"stdClass\":3:{s:11:\"description\";s:10:\"Project
  id\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:11:\"projectName\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  internal name of the project\";s:4:\"type\";s:6:\"string\";}s:12:\"projectOrgId\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"The
  organization id\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:13:\"projectStatus\";O:8:\"stdClass\":4:{s:11:\"description\";s:56:\"Project
  status. Can be either ACTIVATED, NEW or DISABLED\";s:4:\"enum\";a:3:{i:0;s:9:\"ACTIVATED\";i:1;s:3:\"NEW\";i:2;s:8:\"DISABLED\";}s:7:\"example\";s:9:\"ACTIVATED\";s:4:\"type\";s:6:\"string\";}s:16:\"projectThumbnail\";O:8:\"stdClass\":4:{s:11:\"description\";s:68:\"An
  url to the project thumbnail. This url can be accessed by anyone.\";s:7:\"example\";s:36:\"http://www.example.com/thumbnail.png\";s:6:\"format\";s:3:\"url\";s:4:\"type\";s:6:\"string\";}s:16:\"projectUserTitle\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  title presented to participants\";s:4:\"type\";s:6:\"string\";}}}s:15:\"UserPreferences\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"locale\";O:8:\"stdClass\":4:{s:11:\"description\";s:91:\"The
  preferred locale. This value can be *null* if no specific preference has been selected.\";s:7:\"example\";s:5:\"sv-SE\";s:6:\"format\";s:6:\"locale\";s:4:\"type\";s:6:\"string\";}}}s:19:\"UserWithPermissions\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/User\";}i:1;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"backOfficeRoles\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/BackOfficeRole\";}s:4:\"type\";s:5:\"array\";}s:11:\"clientRoles\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"A
  list with client roles\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ClientRoles\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}}}}"
...
