---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:24:\"platform@williamhill.com\";s:4:\"name\";s:17:\"William
  Hill Labs\";s:3:\"url\";s:32:\"http://developer.williamhill.com\";s:9:\"x-twitter\";s:11:\"WilliamHill\";}s:11:\"description\";s:168:\"The
  Accounts API is a collection of methods used to query a customer account. It allows
  the developer to retrieve account-related data such as the user account balance.\";s:5:\"title\";s:8:\"Accounts\";s:7:\"version\";s:5:\"2.0.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:13:\"entertainment\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:85:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_WillHillHelp_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:73:\"https://developer.williamhill.com/wh-docs/docs-sdks/accounts/swagger/docs\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"whapi.com\";s:13:\"x-serviceName\";s:8:\"accounts\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:14:\"whapi_accounts\";s:4:\"type\";s:7:\"openapi\";}}"
host: sandbox.whapi.com
basePath: /v2/accounts
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":10:{s:14:\"accountBalance\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:14:\"availableFunds\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Current
  available funds in this account\";s:4:\"type\";s:6:\"number\";}s:7:\"balance\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Current
  balance of account\";s:4:\"type\";s:6:\"number\";}s:12:\"currencyCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:94:\"A
  three-character ISO4217 currency code. This will be the currency that the user registered
  in\";s:4:\"type\";s:6:\"string\";}s:17:\"withdrawableFunds\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Current
  withdrawable balance of this account\";s:4:\"type\";s:6:\"number\";}}s:8:\"required\";a:2:{i:0;s:7:\"balance\";i:1;s:12:\"currencyCode\";}s:4:\"type\";s:6:\"object\";}s:13:\"accountErrors\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"errors\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/error\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:15:\"accountFlagsSet\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"token\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"accounts\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":21:{s:9:\"accountId\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Account
  ID\";s:4:\"type\";s:6:\"string\";}s:10:\"accountNum\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Account
  number\";s:4:\"type\";s:6:\"string\";}s:4:\"city\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  city of the customer's address\";s:4:\"type\";s:6:\"string\";}s:11:\"contactable\";O:8:\"stdClass\":2:{s:11:\"description\";s:79:\"Is
  it okay for the bookmaker to contact the customer with marketing information\";s:4:\"type\";s:7:\"boolean\";}s:7:\"country\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  country of the customer's address\";s:4:\"type\";s:6:\"string\";}s:11:\"countryCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:91:\"A
  two-character ISO 3166-1-Alpha-2 code representing the customer's country of registration\";s:4:\"type\";s:6:\"string\";}s:6:\"county\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"The
  county of the customer's address\";s:4:\"type\";s:6:\"string\";}s:12:\"currencyCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:98:\"A
  three-character ISO4217 currency code. This will be the currency that the customer
  registered in\";s:4:\"type\";s:6:\"string\";}s:10:\"customerId\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Customer
  ID\";s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:76:\"The
  primary email address of the customer with that account. Must be unique.\";s:4:\"type\";s:6:\"string\";}s:9:\"firstName\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"The
  first name of the customer with that account\";s:4:\"type\";s:6:\"string\";}s:5:\"flags\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/flags\";}s:8:\"lastName\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"The
  last name of the customer with that account\";s:4:\"type\";s:6:\"string\";}s:6:\"mobile\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"The
  mobile number of the customer with that account\";s:4:\"type\";s:6:\"string\";}s:18:\"partnerContactable\";O:8:\"stdClass\":2:{s:11:\"description\";s:107:\"Is
  it okay for the bookmaker to give the user's contact details to companies with which
  it has partnerships\";s:4:\"type\";s:7:\"boolean\";}s:8:\"postcode\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  postCode of the customer's address\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Account
  status\";s:4:\"type\";s:6:\"string\";}s:7:\"street1\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"Line
  number 1 of the customer's street address written out in full\";s:4:\"type\";s:6:\"string\";}s:7:\"street2\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"Line
  number 2 of the customer's street address written out in full\";s:4:\"type\";s:6:\"string\";}s:7:\"street3\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"Line
  number 3 of the customer's street address written out in full\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"The
  title of the name of the customer with that account\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:10:\"accountNum\";i:1;s:9:\"firstName\";i:2;s:8:\"lastName\";i:3;s:6:\"status\";}s:4:\"type\";s:6:\"object\";}s:5:\"error\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"A
  unique William Hill identifier for the error\";s:4:\"type\";s:6:\"string\";}s:5:\"field\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"To
  help pinpoint the exact parameter where a request has failed\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:87:\"A
  unique William Hill text string to enable you to identify the error (in English
  only)\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"flags\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/flags_inner\";}s:4:\"type\";s:5:\"array\";}s:11:\"flags_inner\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"flagName\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Name
  of the flag to set.\";s:4:\"type\";s:6:\"string\";}s:10:\"flagReason\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  reason that the flag has been set.\";s:4:\"type\";s:6:\"string\";}s:9:\"flagValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Value
  to set the flag to.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:8:\"flagName\";i:1;s:9:\"flagValue\";}}s:11:\"getPayments\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"payments\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/payment\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:7:\"payment\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":10:{s:6:\"action\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Action
  of the payment (D = Deposit, W = withdrawal)\";s:7:\"pattern\";s:5:\"(D|W)\";s:4:\"type\";s:6:\"string\";}s:6:\"amount\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  amount of the payment\";s:4:\"type\";s:6:\"number\";}s:7:\"channel\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"The
  channel through which the payment was made\";s:4:\"type\";s:6:\"string\";}s:9:\"commision\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  commision for the payment\";s:4:\"type\";s:6:\"number\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"ID
  of the payment\";s:4:\"type\";s:6:\"string\";}s:9:\"ipAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"The
  IP address from which the payment was made\";s:4:\"type\";s:6:\"string\";}s:8:\"methodId\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"ID
  of the payment method\";s:4:\"type\";s:6:\"string\";}s:15:\"paymentDateTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  date and time when the payment was made\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  status of the payment\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Type
  of the payment\";s:7:\"pattern\";s:11:\"([A-Za-z]*)\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:5:{i:0;s:6:\"action\";i:1;s:6:\"amount\";i:2;s:2:\"id\";i:3;s:15:\"paymentDateTime\";i:4;s:6:\"status\";}s:4:\"type\";s:6:\"object\";}s:18:\"rewardsEligibility\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"eligibilty
  status\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"status\";O:8:\"stdClass\":3:{s:7:\"pattern\";s:27:\"(eligible|optedIn|optedOut)\";s:4:\"type\";s:6:\"string\";s:4:\"x-eg\";s:8:\"eligible\";}}s:4:\"type\";s:6:\"object\";}}"
...
