---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":12:{s:7:\"contact\";O:8:\"stdClass\":1:{s:9:\"x-twitter\";s:11:\"WilliamHill\";}s:11:\"description\";s:704:\"The
  William Hill Numbers API uses a single method that allows you to generate random
  numbers for your application. Numbers can either be unique or can be produced with
  the chance that some might be the same. For example, you can have a highest value
  of 6 and a lowest value of 1 with a count of 2 with a unique value of false - this
  will give you two numbers between 1 and 6 which are independent, just like two dice
  being rolled.<br /><br />The Numbers API is a Private API and therefore not automatically
  available to developers. To use this API, contact your business manager who will
  guide you through the separate Terms and Conditions of use before you can have the
  API assigned to your application.\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:19:\"William
  Hill Online\";s:3:\"url\";s:19:\"www.williamhill.com\";}s:5:\"title\";s:7:\"Numbers\";s:7:\"version\";s:3:\"2.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:13:\"entertainment\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:85:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_WillHillHelp_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:72:\"https://developer.williamhill.com/wh-docs/docs-sdks/numbers/swagger/docs\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"whapi.com\";s:13:\"x-serviceName\";s:7:\"numbers\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:13:\"whapi_numbers\";s:4:\"type\";s:7:\"openapi\";}}"
host: sandbox.whapi.com
basePath: /v2/numbers
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":3:{s:5:\"error\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"A
  unique William Hill identifier for the error\";s:4:\"type\";s:6:\"string\";}s:5:\"field\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"To
  help pinpoint the exact parameter where a request has failed\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:87:\"A
  unique William Hill text string to enable you to identify the error (in English
  only)\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"numbersErrors\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"errors\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/error\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:7:\"success\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"randomNumbers\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"An
  array of random numbers\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"type\";s:5:\"array\";}s:9:\"sessionId\";O:8:\"stdClass\":2:{s:11:\"description\";s:296:\"This
  is either the IP address of the customer if not authenticated, or if used in \u2018Live\u2019
  mode, when there is a financial outcome, it is the IP address and customerId for
  the account the ticket was generated for. This is used for audit purposes in case
  of financial query about a game outcome.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
