---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":4:{s:7:\"version\";s:0:\"\";s:5:\"title\";s:16:\"DonorsChoose.org\";s:11:\"description\";s:100:\"Help
  classroom projects by integrating project information and donation functionality
  into your app.\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:3:\"MIT\";s:3:\"url\";s:55:\"http://github.com/gruntjs/grunt/blob/master/LICENSE-MIT\";}}"
host: apisecure.donorschoose.org
basePath: /common/
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":17:{s:8:\"subject1\";O:8:\"stdClass\":4:{s:5:\"title\";s:8:\"subject1\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:4:\"enum\";a:4:{i:0;s:8:\"Value_-1\";i:1;s:7:\"Value_1\";i:2;s:8:\"Value_11\";i:3;s:8:\"Value_12\";}}s:8:\"subject2\";O:8:\"stdClass\":4:{s:5:\"title\";s:8:\"subject2\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:4:\"enum\";a:5:{i:0;s:8:\"Value_-2\";i:1;s:7:\"Value_2\";i:2;s:8:\"Value_27\";i:3;s:8:\"Value_28\";i:4;s:8:\"Value_29\";}}s:8:\"subject3\";O:8:\"stdClass\":4:{s:5:\"title\";s:8:\"subject3\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:4:\"enum\";a:5:{i:0;s:8:\"Value_-3\";i:1;s:7:\"Value_9\";i:2;s:8:\"Value_13\";i:3;s:8:\"Value_14\";i:4;s:8:\"Value_15\";}}s:8:\"subject4\";O:8:\"stdClass\":4:{s:5:\"title\";s:8:\"subject4\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:4:\"enum\";a:5:{i:0;s:8:\"Value_-4\";i:1;s:7:\"Value_4\";i:2;s:7:\"Value_6\";i:3;s:7:\"Value_7\";i:4;s:7:\"Value_8\";}}s:8:\"subject5\";O:8:\"stdClass\":4:{s:5:\"title\";s:8:\"subject5\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:4:\"enum\";a:8:{i:0;s:8:\"Value_-5\";i:1;s:8:\"Value_18\";i:2;s:8:\"Value_21\";i:3;s:8:\"Value_26\";i:4;s:8:\"Value_16\";i:5;s:8:\"Value_17\";i:6;s:8:\"Value_20\";i:7;s:8:\"Value_19\";}}s:8:\"subject6\";O:8:\"stdClass\":4:{s:5:\"title\";s:8:\"subject6\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:4:\"enum\";a:5:{i:0;s:8:\"Value_-6\";i:1;s:8:\"Value_10\";i:2;s:7:\"Value_3\";i:3;s:8:\"Value_22\";i:4;s:8:\"Value_25\";}}s:8:\"subject7\";O:8:\"stdClass\":4:{s:5:\"title\";s:8:\"subject7\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:4:\"enum\";a:1:{i:0;s:8:\"Value_-7\";}}s:15:\"partiallyFunded\";O:8:\"stdClass\":3:{s:5:\"title\";s:15:\"partiallyFunded\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:3:\"yes\";i:1;s:2:\"no\";}}s:14:\"costToComplete\";O:8:\"stdClass\":4:{s:5:\"title\";s:14:\"costToComplete\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:4:\"enum\";a:4:{i:0;s:7:\"Value_1\";i:1;s:7:\"Value_2\";i:2;s:7:\"Value_3\";i:3;s:7:\"Value_4\";}}s:12:\"proposalType\";O:8:\"stdClass\":4:{s:5:\"title\";s:12:\"proposalType\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:4:\"enum\";a:6:{i:0;s:7:\"Value_1\";i:1;s:7:\"Value_2\";i:2;s:7:\"Value_3\";i:3;s:7:\"Value_4\";i:4;s:7:\"Value_5\";i:5;s:7:\"Value_6\";}}s:17:\"proposalTypeCombo\";O:8:\"stdClass\":3:{s:5:\"title\";s:17:\"proposalTypeCombo\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:13:\"TripsVisitors\";i:1;s:8:\"Supplies\";}}s:9:\"gradeType\";O:8:\"stdClass\":4:{s:5:\"title\";s:9:\"gradeType\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:4:\"enum\";a:5:{i:0;s:7:\"Value_1\";i:1;s:7:\"Value_2\";i:2;s:7:\"Value_3\";i:3;s:7:\"Value_4\";i:4;s:7:\"Value_5\";}}s:13:\"resourceUsage\";O:8:\"stdClass\":4:{s:5:\"title\";s:13:\"resourceUsage\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:4:\"enum\";a:2:{i:0;s:7:\"Value_1\";i:1;s:7:\"Value_2\";}}s:11:\"teacherType\";O:8:\"stdClass\":4:{s:5:\"title\";s:11:\"teacherType\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:4:\"enum\";a:1:{i:0;s:7:\"Value_1\";}}s:10:\"schoolType\";O:8:\"stdClass\":4:{s:5:\"title\";s:10:\"schoolType\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:4:\"enum\";a:3:{i:0;s:7:\"Value_1\";i:1;s:7:\"Value_4\";i:2;s:7:\"Value_5\";}}s:6:\"sortBy\";O:8:\"stdClass\":4:{s:5:\"title\";s:6:\"sortBy\";s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:4:\"enum\";a:4:{i:0;s:7:\"Value_0\";i:1;s:7:\"Value_1\";i:2;s:7:\"Value_2\";i:3;s:7:\"Value_4\";}}s:6:\"action\";O:8:\"stdClass\":3:{s:5:\"title\";s:6:\"action\";s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:6:\"donate\";i:1;s:8:\"giftcode\";}}}"
...
