---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":4:{s:11:\"description\";s:58:\"\u7B80\u5355\u4F18\u96C5\u7684restfun\u98CE\u683C\uFF0Chttp://blog.csdn.net/forezp\";s:7:\"version\";s:3:\"1.0\";s:5:\"title\";s:38:\"springboot\u5229\u7528swagger\u6784\u5EFAapi\u6587\u6863\";s:14:\"termsOfService\";s:27:\"http://blog.csdn.net/forezp\";}"
host: www.dashuxia.xin
basePath: /
paths:
  /Images/{id}:
    get:
      tags:
      - image-controller
      summary: getImage
      operationId: getImageUsingGET
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: integer
        format: int64
      responses:
        200:
          description: OK
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /Images/{id}/thumbnail:
    get:
      tags:
      - image-controller
      summary: getThumbnail
      operationId: getThumbnailUsingGET
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: integer
        format: int64
      responses:
        200:
          description: OK
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /MP_verify_HHA3VDSY1Q3Zn9r1.txt:
    get:
      tags:
      - verify-controller
      summary: read
      operationId: readUsingGET
      consumes:
      - application/json
      produces:
      - '*/*'
      responses:
        200:
          description: OK
          schema:
            type: string
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /MP_verify_T7ILea1OMIoUi2kI.txt:
    get:
      tags:
      - verify-controller
      summary: verify
      operationId: verifyUsingGET
      consumes:
      - application/json
      produces:
      - '*/*'
      responses:
        200:
          description: OK
          schema:
            type: string
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /api/v1/AllCourse:
    post:
      tags:
      - course-controller
      summary: getAllCoursesByCourseCategory
      operationId: getAllCoursesByCourseCategoryUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: courseCategoryId
        in: query
        description: courseCategoryId
        required: true
        type: integer
        format: int64
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/CourseContainer'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /api/v1/AvailableCourse:
    post:
      tags:
      - course-controller
      summary: getCoursesByCourseCategory
      operationId: getCoursesByCourseCategoryUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: courseCategoryId
        in: query
        description: courseCategoryId
        required: true
        type: integer
        format: int64
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/CourseContainer'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /api/v1/AvailableCourse/book:
    post:
      tags:
      - course-controller
      summary: bookCourse
      operationId: bookCourseUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: studentId
        in: query
        description: studentId
        required: true
        type: string
      - name: courseId
        in: query
        description: courseId
        required: true
        type: integer
        format: int64
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ChildContainer'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /api/v1/CourseCategory:
    get:
      tags:
      - course-category-controller
      summary: getCourseCategories
      operationId: getCourseCategoriesUsingGET
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: studentId
        in: query
        description: studentId
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/BookedCourseCategoryContainer'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /api/v1/Customer/AddChild:
    post:
      tags:
      - customer-controller
      summary: addChild
      operationId: addChildUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: children
        description: children
        required: true
        schema:
          type: array
          items:
            $ref: '#/definitions/ChildContainer'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Customer'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /api/v1/Customer/Detail:
    get:
      tags:
      - customer-controller
      summary: getCustomer
      operationId: getCustomerUsingGET
      consumes:
      - application/json
      produces:
      - '*/*'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/CustomerContainer'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /api/v1/Customer/SignUp:
    post:
      tags:
      - customer-controller
      summary: create
      operationId: createUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: customerDTO
        description: customerDTO
        required: true
        schema:
          $ref: '#/definitions/CustomerContainer'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Customer'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /api/v1/JsApiSignature:
    post:
      tags:
      - wx-js-sdk-signature-controller
      summary: createSignature
      operationId: createSignatureUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: body
        description: body
        required: true
        schema:
          $ref: '#/definitions/SignatureRequestBody'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/WxJsapiSignature'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /api/v1/Student:
    get:
      tags:
      - student-controller
      summary: showStudents
      operationId: showStudentsUsingGET
      consumes:
      - application/json
      produces:
      - '*/*'
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/ChildContainer'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
    post:
      tags:
      - student-controller
      summary: showStudents
      operationId: showStudentsUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: studentId
        in: query
        description: studentId
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ChildContainer'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /api/v1/StudentManager/search:
    post:
      tags:
      - student-manager-controller
      summary: searchStudent
      operationId: searchStudentUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: keyword
        in: query
        description: keyword
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/ChildContainer'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /api/v1/StudentManager/{id}:
    get:
      tags:
      - student-manager-controller
      summary: showStudent
      operationId: showStudentUsingGET
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: studentId
        in: path
        description: studentId
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ChildContainer'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
    post:
      tags:
      - student-manager-controller
      summary: signAndUploadImage
      operationId: signAndUploadImageUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: studentId
        in: path
        description: studentId
        required: true
        type: string
      - name: imageName
        in: query
        description: imageName
        required: true
        type: string
      - name: material
        in: query
        description: material
        required: true
        type: string
      - name: teacher
        in: query
        description: teacher
        required: true
        type: string
      - name: courseId
        in: query
        description: courseId
        required: true
        type: integer
        format: int64
      - name: file
        in: query
        description: file
        required: true
        type: array
        items:
          type: file
        collectionFormat: multi
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ChildContainer'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /verify:
    post:
      tags:
      - verify-code-controller
      summary: create
      operationId: createUsingPOST_1
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - in: body
        name: smsContainer
        description: smsContainer
        required: true
        schema:
          $ref: '#/definitions/SmsContainer'
      responses:
        200:
          description: OK
          schema:
            type: integer
            format: int64
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /verify/{id}:
    get:
      tags:
      - verify-code-controller
      summary: findOne
      operationId: findOneUsingGET
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: id
        in: path
        description: id
        required: true
        type: integer
        format: int64
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/VerifyCode'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
definitions: !php/object "O:8:\"stdClass\":14:{s:12:\"SmsContainer\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"mobile\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:8:\"Customer\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:9:\"activated\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:7:\"address\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:11:\"mobilePhone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"openCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"students\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Student\";}}}}s:17:\"CustomerContainer\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:7:\"address\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"children\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ChildContainer\";}}s:11:\"mobilePhone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"openCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"verifyCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"verifyCodeId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}}}s:14:\"ChildContainer\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:3:\"age\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:8:\"birthday\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"childName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"courseCategories\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/CourseCategoryContainer\";}}s:6:\"gender\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:3:\"BOY\";i:1;s:4:\"GIRL\";}}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"paints\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/PaintContainer\";}}s:15:\"reversedCourses\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/CourseContainer\";}}s:11:\"usedCourses\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/CourseContainer\";}}}}s:23:\"CourseCategoryContainer\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:10:\"courseName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:6:\"images\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ImageContainer\";}}s:10:\"leftPeriod\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:8:\"priority\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:11:\"totalPeriod\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:7:\"Student\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:8:\"birthday\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"child\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"courseCount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}s:6:\"gender\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:3:\"BOY\";i:1;s:4:\"GIRL\";}}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"studentName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:20:\"SignatureRequestBody\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:9:\"Timestamp\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:4:\"date\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:3:\"day\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:5:\"hours\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:7:\"minutes\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:5:\"month\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:5:\"nanos\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:7:\"seconds\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:4:\"time\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:14:\"timezoneOffset\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:4:\"year\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:14:\"ImageContainer\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"date\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:9:\"imageName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"imageUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"priority\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:12:\"thumbnailUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:29:\"BookedCourseCategoryContainer\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:10:\"courseName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"demoCourse\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:6:\"images\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ImageContainer\";}}s:10:\"leftPeriod\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:8:\"priority\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:5:\"valid\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}}s:10:\"VerifyCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"exceedTime\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:6:\"mobile\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:14:\"PaintContainer\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:9:\"createdBy\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"date\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:9:\"imageName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"imageUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"material\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"teacher\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"thumbnailUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:15:\"CourseContainer\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:10:\"bookedSeat\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:16:\"courseCategoryId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:10:\"courseName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"date\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:7:\"maxSeat\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:8:\"timeFrom\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"timeTo\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:16:\"WxJsapiSignature\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:5:\"appId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"nonceStr\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"signature\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"timestamp\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}"
...
