---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":15:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:9:\"x-twitter\";s:12:\"PermittedSoc\";}s:11:\"description\";s:1911:\"<p>Amazon
  Glacier is a storage solution for \"cold data.\"</p> <p>Amazon Glacier is an extremely
  low-cost storage service that provides secure, durable, and easy-to-use storage
  for data backup and archival. With Amazon Glacier, customers can store their data
  cost effectively for months, years, or decades. Amazon Glacier also enables customers
  to offload the administrative burdens of operating and scaling storage to AWS, so
  they don't have to worry about capacity planning, hardware provisioning, data replication,
  hardware failure and recovery, or time-consuming hardware migrations.</p> <p>Amazon
  Glacier is a great storage choice when low storage cost is paramount, your data
  is rarely retrieved, and retrieval latency of several hours is acceptable. If your
  application requires fast or frequent access to your data, consider using Amazon
  S3. For more information, see <a href=\"http://aws.amazon.com/s3/\">Amazon Simple
  Storage Service (Amazon S3)</a>.</p> <p>You can store any kind of data in any format.
  There is no maximum limit on the total amount of data you can store in Amazon Glacier.</p>
  <p>If you are a first-time user of Amazon Glacier, we recommend that you begin by
  reading the following sections in the <i>Amazon Glacier Developer Guide</i>:</p>
  <ul> <li> <p> <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/introduction.html\">What
  is Amazon Glacier</a> - This section of the Developer Guide describes the underlying
  data model, the operations it supports, and the AWS SDKs that you can use to interact
  with the service.</p> </li> <li> <p> <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/amazon-glacier-getting-started.html\">Getting
  Started with Amazon Glacier</a> - The Getting Started section walks you through
  the process of creating a vault, uploading archives, creating jobs to download archives,
  retrieving the job output, and deleting archives.</p> </li> </ul>\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache
  2.0 License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:14:\"Amazon
  Glacier\";s:7:\"version\";s:10:\"2012-06-01\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:91:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/glacier-2012-06-01.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v4\";s:13:\"x-serviceName\";s:7:\"glacier\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:17:\"amazonaws_glacier\";s:4:\"type\";s:7:\"openapi\";}}"
host: glacier.amazonaws.com
basePath: /
paths: ~
produces:
- application/json
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":113:{s:25:\"AbortMultipartUploadInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:426:\"<p>Provides
  options to abort a multipart upload identified by the upload ID.</p> <p>For information
  about the underlying REST API, see <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/api-multipart-abort-upload.html\">Abort
  Multipart Upload</a>. For conceptual information, see <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/working-with-archives.html\">Working
  with Archives in Amazon Glacier</a>.</p>\";s:7:\"example\";O:8:\"stdClass\":3:{s:9:\"accountId\";s:1:\"-\";s:8:\"uploadId\";s:88:\"19gaRezEXAMPLES6Ry5YYdqthHOC_kGRCT03L9yetr220UmPtBYKk-OssZtLqyFu7sY1_lR7vgFuJV6NtcV5zpsJ\";s:9:\"vaultName\";s:8:\"my-vault\";}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:19:\"AbortVaultLockInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:49:\"The
  input values for <code>AbortVaultLock</code>.\";s:7:\"example\";O:8:\"stdClass\":2:{s:9:\"accountId\";s:1:\"-\";s:9:\"vaultName\";s:12:\"examplevault\";}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:23:\"AccessControlPolicyList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Grant\";}s:4:\"type\";s:5:\"array\";}s:10:\"ActionCode\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:16:\"ArchiveRetrieval\";i:1;s:18:\"InventoryRetrieval\";i:2;s:6:\"Select\";}s:4:\"type\";s:6:\"string\";}s:19:\"AddTagsToVaultInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:49:\"The
  input values for <code>AddTagsToVault</code>.\";s:7:\"example\";O:8:\"stdClass\":3:{s:4:\"Tags\";O:8:\"stdClass\":2:{s:11:\"examplekey1\";s:13:\"examplevalue1\";s:11:\"examplekey2\";s:13:\"examplevalue2\";}s:9:\"accountId\";s:1:\"-\";s:9:\"vaultName\";s:8:\"my-vault\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/TagMap\";s:11:\"description\";s:106:\"The
  tags to add to the vault. Each tag is composed of a key and a value. The value can
  be an empty string.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"ArchiveCreationOutput\";O:8:\"stdClass\":4:{s:11:\"description\";s:388:\"<p>Contains
  the Amazon Glacier response to your request.</p> <p>For information about the underlying
  REST API, see <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/api-archive-post.html\">Upload
  Archive</a>. For conceptual information, see <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/working-with-archives.html\">Working
  with Archives in Amazon Glacier</a>.</p>\";s:7:\"example\";O:8:\"stdClass\":3:{s:9:\"archiveId\";s:138:\"kKB7ymWJVpPSwhGP6ycSOAekp9ZYe_--zM_mw6k76ZFGEIWQX-ybtRDvc2VkPSDtfKmQrj0IRQLSGsNuDp-AJVlu2ccmDSyDUmZwKbwbpAdGATGDiB3hHO0bjbGehXTcApVud_wyDw\";s:8:\"checksum\";s:64:\"969fb39823836d81f0cc028195fcdbcbbe76cdde932d4646fa7de5f21e18aa67\";s:8:\"location\";s:178:\"/0123456789012/vaults/my-vault/archives/kKB7ymWJVpPSwhGP6ycSOAekp9ZYe_--zM_mw6k76ZFGEIWQX-ybtRDvc2VkPSDtfKmQrj0IRQLSGsNuDp-AJVlu2ccmDSyDUmZwKbwbpAdGATGDiB3hHO0bjbGehXTcApVud_wyDw\";}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:8:\"CSVInput\";O:8:\"stdClass\":3:{s:11:\"description\";s:79:\"Contains
  information about the comma-separated value (CSV) file to select from.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:8:\"Comments\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:120:\"A
  single character used to indicate that a row should be ignored when the character
  is present at the start of that row.\";}s:14:\"FieldDelimiter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:75:\"A
  value used to separate individual fields from each other within a record.\";}s:14:\"FileHeaderInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/FileHeaderInfo\";s:11:\"description\";s:113:\"Describes
  the first line of input. Valid values are <code>None</code>, <code>Ignore</code>,
  and <code>Use</code>.\";}s:14:\"QuoteCharacter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:83:\"A
  value used as an escape character where the field delimiter is part of the value.\";}s:20:\"QuoteEscapeCharacter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:98:\"A
  single character used for escaping the quotation-mark character inside an already
  escaped value.\";}s:15:\"RecordDelimiter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:60:\"A
  value used to separate individual records from each other.\";}}s:4:\"type\";s:6:\"object\";}s:9:\"CSVOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:99:\"Contains
  information about the comma-separated value (CSV) file that the job results are
  stored in.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:14:\"FieldDelimiter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:75:\"A
  value used to separate individual fields from each other within a record.\";}s:14:\"QuoteCharacter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:83:\"A
  value used as an escape character where the field delimiter is part of the value.\";}s:20:\"QuoteEscapeCharacter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:98:\"A
  single character used for escaping the quotation-mark character inside an already
  escaped value.\";}s:11:\"QuoteFields\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/QuoteFields\";s:11:\"description\";s:92:\"A
  value that indicates whether all output fields should be contained within quotation
  marks.\";}s:15:\"RecordDelimiter\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:60:\"A
  value used to separate individual records from each other.\";}}s:4:\"type\";s:6:\"object\";}s:9:\"CannedACL\";O:8:\"stdClass\":2:{s:4:\"enum\";a:7:{i:0;s:7:\"private\";i:1;s:11:\"public-read\";i:2;s:17:\"public-read-write\";i:3;s:13:\"aws-exec-read\";i:4;s:18:\"authenticated-read\";i:5;s:17:\"bucket-owner-read\";i:6;s:25:\"bucket-owner-full-control\";}s:4:\"type\";s:6:\"string\";}s:28:\"CompleteMultipartUploadInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:334:\"Provides
  options to complete a multipart upload operation. This informs Amazon Glacier that
  all the archive parts have been uploaded and Amazon Glacier can now assemble the
  archive from the uploaded parts. After assembling and saving the archive to the
  vault, Amazon Glacier returns the URI path of the newly created archive resource.\";s:7:\"example\";O:8:\"stdClass\":5:{s:9:\"accountId\";s:1:\"-\";s:11:\"archiveSize\";s:7:\"3145728\";s:8:\"checksum\";s:64:\"9628195fcdbcbbe76cdde456d4646fa7de5f219fb39823836d81f0cc0e18aa67\";s:8:\"uploadId\";s:88:\"19gaRezEXAMPLES6Ry5YYdqthHOC_kGRCT03L9yetr220UmPtBYKk-OssZtLqyFu7sY1_lR7vgFuJV6NtcV5zpsJ\";s:9:\"vaultName\";s:8:\"my-vault\";}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:22:\"CompleteVaultLockInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:52:\"The
  input values for <code>CompleteVaultLock</code>.\";s:7:\"example\";O:8:\"stdClass\":3:{s:9:\"accountId\";s:1:\"-\";s:6:\"lockId\";s:24:\"AE863rKkWZU53SLW5be4DUcW\";s:9:\"vaultName\";s:13:\"example-vault\";}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:16:\"CreateVaultInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:35:\"Provides
  options to create a vault.\";s:7:\"example\";O:8:\"stdClass\":2:{s:9:\"accountId\";s:1:\"-\";s:9:\"vaultName\";s:8:\"my-vault\";}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:17:\"CreateVaultOutput\";O:8:\"stdClass\":4:{s:11:\"description\";s:53:\"Contains
  the Amazon Glacier response to your request.\";s:7:\"example\";O:8:\"stdClass\":1:{s:8:\"location\";s:29:\"/111122223333/vaults/my-vault\";}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:19:\"DataRetrievalPolicy\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Data
  retrieval policy.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"Rules\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/DataRetrievalRulesList\";s:11:\"description\";s:154:\"The
  policy rule. Although this is a list type, currently there must be only one rule,
  which contains a Strategy field and optionally a BytesPerHour field.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"DataRetrievalRule\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Data
  retrieval policy rule.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"BytesPerHour\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/NullableLong\";s:11:\"description\";s:290:\"<p>The
  maximum number of bytes that can be retrieved in an hour.</p> <p>This field is required
  only if the value of the Strategy field is <code>BytesPerHour</code>. Your PUT operation
  will be rejected if the Strategy field is not set to <code>BytesPerHour</code> and
  you set this field.</p>\";}s:8:\"Strategy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:96:\"<p>The
  type of data retrieval policy to set.</p> <p>Valid values: BytesPerHour|FreeTier|None</p>\";}}s:4:\"type\";s:6:\"object\";}s:22:\"DataRetrievalRulesList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/DataRetrievalRule\";}s:4:\"type\";s:5:\"array\";}s:8:\"DateTime\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"DeleteArchiveInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:70:\"Provides
  options for deleting an archive from an Amazon Glacier vault.\";s:7:\"example\";O:8:\"stdClass\":3:{s:9:\"accountId\";s:1:\"-\";s:9:\"archiveId\";s:138:\"NkbByEejwEggmBz2fTHgJrg0XBoDfjP4q6iu87-TjhqG6eGoOY9Z8i1_AUyUsuhPAdTqLHy8pTl5nfCFJmDl2yEZONi5L26Omw12vcs01MNGntHEQL8MBfGlqrEXAMPLEArchiveId\";s:9:\"vaultName\";s:12:\"examplevault\";}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:28:\"DeleteVaultAccessPolicyInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:30:\"DeleteVaultAccessPolicy
  input.\";s:7:\"example\";O:8:\"stdClass\":2:{s:9:\"accountId\";s:1:\"-\";s:9:\"vaultName\";s:12:\"examplevault\";}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:16:\"DeleteVaultInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:58:\"Provides
  options for deleting a vault from Amazon Glacier.\";s:7:\"example\";O:8:\"stdClass\":2:{s:9:\"accountId\";s:1:\"-\";s:9:\"vaultName\";s:8:\"my-vault\";}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:29:\"DeleteVaultNotificationsInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:94:\"Provides
  options for deleting a vault notification configuration from an Amazon Glacier vault.\";s:7:\"example\";O:8:\"stdClass\":2:{s:9:\"accountId\";s:1:\"-\";s:9:\"vaultName\";s:12:\"examplevault\";}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:16:\"DescribeJobInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:50:\"Provides
  options for retrieving a job description.\";s:7:\"example\";O:8:\"stdClass\":3:{s:9:\"accountId\";s:1:\"-\";s:5:\"jobId\";s:90:\"zbxcm3Z_3z5UkoroF7SuZKrxgGoDc3RloGduS7Eg-RO47Yc6FxsdGBgf_Q2DK5Ejh18CnTS5XW4_XqlNHS61dsO4Cn\";s:9:\"vaultName\";s:8:\"my-vault\";}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:18:\"DescribeVaultInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:80:\"Provides
  options for retrieving metadata for a specific vault in Amazon Glacier.\";s:7:\"example\";O:8:\"stdClass\":2:{s:9:\"accountId\";s:1:\"-\";s:9:\"vaultName\";s:8:\"my-vault\";}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:19:\"DescribeVaultOutput\";O:8:\"stdClass\":4:{s:11:\"description\";s:53:\"Contains
  the Amazon Glacier response to your request.\";s:7:\"example\";O:8:\"stdClass\":5:{s:12:\"CreationDate\";s:24:\"2016-09-23T19:27:18.665Z\";s:16:\"NumberOfArchives\";i:0;s:11:\"SizeInBytes\";i:0;s:8:\"VaultARN\";s:54:\"arn:aws:glacier:us-west-2:111122223333:vaults/my-vault\";s:9:\"VaultName\";s:8:\"my-vault\";}s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"CreationDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:179:\"The
  Universal Coordinated Time (UTC) date when the vault was created. This value should
  be a string in the ISO 8601 date format, for example <code>2012-03-20T17:03:43.221Z</code>.\";}s:17:\"LastInventoryDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:207:\"The
  Universal Coordinated Time (UTC) date when Amazon Glacier completed the last vault
  inventory. This value should be a string in the ISO 8601 date format, for example
  <code>2012-03-20T17:03:43.221Z</code>.\";}s:16:\"NumberOfArchives\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/long\";s:11:\"description\";s:196:\"The
  number of archives in the vault as of the last inventory date. This field will return
  <code>null</code> if an inventory has not yet run on the vault, for example if you
  just created the vault.\";}s:11:\"SizeInBytes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/long\";s:11:\"description\";s:198:\"Total
  size, in bytes, of the archives in the vault as of the last inventory date. This
  field will return null if an inventory has not yet run on the vault, for example
  if you just created the vault.\";}s:8:\"VaultARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:44:\"The
  Amazon Resource Name (ARN) of the vault.\";}s:9:\"VaultName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:22:\"The
  name of the vault.\";}}s:4:\"type\";s:6:\"object\";}s:10:\"Encryption\";O:8:\"stdClass\":3:{s:11:\"description\";s:86:\"Contains
  information about the encryption used to store the job results in Amazon S3. \";s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"EncryptionType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/EncryptionType\";s:11:\"description\";s:137:\"The
  server-side encryption algorithm used when storing job results in Amazon S3, for
  example <code>AES256</code> or <code>aws:kms</code>.\";}s:10:\"KMSContext\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:135:\"Optional.
  If the encryption type is <code>aws:kms</code>, you can use this value to specify
  the encryption context for the job results.\";}s:8:\"KMSKeyId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:186:\"The
  AWS KMS key ID to use for object encryption. All GET and PUT requests for an object
  protected by AWS KMS fail if not made by using Secure Sockets Layer (SSL) or Signature
  Version 4. \";}}s:4:\"type\";s:6:\"object\";}s:14:\"EncryptionType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:7:\"aws:kms\";i:1;s:6:\"AES256\";}s:4:\"type\";s:6:\"string\";}s:14:\"ExpressionType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:1:{i:0;s:3:\"SQL\";}s:4:\"type\";s:6:\"string\";}s:14:\"FileHeaderInfo\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:3:\"USE\";i:1;s:6:\"IGNORE\";i:2;s:4:\"NONE\";}s:4:\"type\";s:6:\"string\";}s:27:\"GetDataRetrievalPolicyInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:33:\"Input
  for GetDataRetrievalPolicy.\";s:7:\"example\";O:8:\"stdClass\":1:{s:9:\"accountId\";s:1:\"-\";}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:28:\"GetDataRetrievalPolicyOutput\";O:8:\"stdClass\":4:{s:11:\"description\";s:88:\"Contains
  the Amazon Glacier response to the <code>GetDataRetrievalPolicy</code> request.\";s:7:\"example\";O:8:\"stdClass\":1:{s:6:\"Policy\";O:8:\"stdClass\":1:{s:5:\"Rules\";a:1:{i:0;O:8:\"stdClass\":2:{s:12:\"BytesPerHour\";i:10737418240;s:8:\"Strategy\";s:12:\"BytesPerHour\";}}}}s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"Policy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/DataRetrievalPolicy\";s:11:\"description\";s:59:\"Contains
  the returned data retrieval policy in JSON format.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"GetJobOutputInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:65:\"Provides
  options for downloading output of an Amazon Glacier job.\";s:7:\"example\";O:8:\"stdClass\":4:{s:9:\"accountId\";s:1:\"-\";s:5:\"jobId\";s:92:\"zbxcm3Z_3z5UkoroF7SuZKrxgGoDc3RloGduS7Eg-RO47Yc6FxsdGBgf_Q2DK5Ejh18CnTS5XW4_XqlNHS61dsO4CnMW\";s:5:\"range\";s:0:\"\";s:9:\"vaultName\";s:7:\"my-vaul\";}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:18:\"GetJobOutputOutput\";O:8:\"stdClass\":4:{s:11:\"description\";s:53:\"Contains
  the Amazon Glacier response to your request.\";s:7:\"example\";O:8:\"stdClass\":4:{s:12:\"acceptRanges\";s:5:\"bytes\";s:4:\"body\";s:14:\"inventory-data\";s:11:\"contentType\";s:16:\"application/json\";s:6:\"status\";i:200;}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"body\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Stream\";s:11:\"description\";s:52:\"The
  job data, either archive data or inventory data.\";}}s:4:\"type\";s:6:\"object\";}s:25:\"GetVaultAccessPolicyInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:31:\"Input
  for GetVaultAccessPolicy.\";s:7:\"example\";O:8:\"stdClass\":2:{s:9:\"accountId\";s:1:\"-\";s:9:\"vaultName\";s:13:\"example-vault\";}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:26:\"GetVaultAccessPolicyOutput\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"Output
  for GetVaultAccessPolicy.\";s:7:\"example\";O:8:\"stdClass\":1:{s:6:\"policy\";O:8:\"stdClass\":1:{s:6:\"Policy\";s:250:\"{\"Version\":\"2012-10-17\",\"Statement\":[{\"Sid\":\"Define-owner-access-rights\",\"Effect\":\"Allow\",\"Principal\":{\"AWS\":\"arn:aws:iam::999999999999:root\"},\"Action\":\"glacier:DeleteArchive\",\"Resource\":\"arn:aws:glacier:us-west-2:999999999999:vaults/examplevault\"}]}\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"policy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/VaultAccessPolicy\";s:11:\"description\";s:59:\"Contains
  the returned vault access policy as a JSON string.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"GetVaultLockInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:47:\"The
  input values for <code>GetVaultLock</code>.\";s:7:\"example\";O:8:\"stdClass\":2:{s:9:\"accountId\";s:1:\"-\";s:9:\"vaultName\";s:12:\"examplevault\";}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:18:\"GetVaultLockOutput\";O:8:\"stdClass\":4:{s:11:\"description\";s:53:\"Contains
  the Amazon Glacier response to your request.\";s:7:\"example\";O:8:\"stdClass\":4:{s:12:\"CreationDate\";s:11:\"exampledate\";s:14:\"ExpirationDate\";s:11:\"exampledate\";s:6:\"Policy\";s:313:\"{\"Version\":\"2012-10-17\",\"Statement\":[{\"Sid\":\"Define-vault-lock\",\"Effect\":\"Deny\",\"Principal\":{\"AWS\":\"arn:aws:iam::999999999999:root\"},\"Action\":\"glacier:DeleteArchive\",\"Resource\":\"arn:aws:glacier:us-west-2:999999999999:vaults/examplevault\",\"Condition\":{\"NumericLessThanEquals\":{\"glacier:ArchiveAgeinDays\":\"365\"}}}]}\";s:5:\"State\";s:10:\"InProgress\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"CreationDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:93:\"The
  UTC date and time at which the vault lock was put into the <code>InProgress</code>
  state.\";}s:14:\"ExpirationDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:140:\"The
  UTC date and time at which the lock ID expires. This value can be <code>null</code>
  if the vault lock is in a <code>Locked</code> state.\";}s:6:\"Policy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:78:\"The
  vault lock policy as a JSON string, which uses \"\\\" as an escape character.\";}s:5:\"State\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:76:\"The
  state of the vault lock. <code>InProgress</code> or <code>Locked</code>.\";}}s:4:\"type\";s:6:\"object\";}s:26:\"GetVaultNotificationsInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:94:\"Provides
  options for retrieving the notification configuration set on an Amazon Glacier vault.\";s:7:\"example\";O:8:\"stdClass\":2:{s:9:\"accountId\";s:1:\"-\";s:9:\"vaultName\";s:8:\"my-vault\";}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:27:\"GetVaultNotificationsOutput\";O:8:\"stdClass\":4:{s:11:\"description\";s:53:\"Contains
  the Amazon Glacier response to your request.\";s:7:\"example\";O:8:\"stdClass\":1:{s:23:\"vaultNotificationConfig\";O:8:\"stdClass\":2:{s:6:\"Events\";a:2:{i:0;s:27:\"InventoryRetrievalCompleted\";i:1;s:25:\"ArchiveRetrievalCompleted\";}s:8:\"SNSTopic\";s:44:\"arn:aws:sns:us-west-2:0123456789012:my-vault\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:23:\"vaultNotificationConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/VaultNotificationConfig\";s:11:\"description\";s:56:\"Returns
  the notification configuration set on the vault.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"GlacierJobDescription\";O:8:\"stdClass\":4:{s:11:\"description\";s:50:\"Contains
  the description of an Amazon Glacier job.\";s:7:\"example\";O:8:\"stdClass\":7:{s:6:\"Action\";s:18:\"InventoryRetrieval\";s:9:\"Completed\";b:0;s:12:\"CreationDate\";s:24:\"2015-07-17T20:23:41.616Z\";s:28:\"InventoryRetrievalParameters\";O:8:\"stdClass\":1:{s:6:\"Format\";s:4:\"JSON\";}s:5:\"JobId\";s:92:\"zbxcm3Z_3z5UkoroF7SuZKrxgGoDc3RloGduS7Eg-RO47Yc6FxsdGBgf_Q2DK5Ejh18CnTS5XW4_XqlNHS61dsO4CnMW\";s:10:\"StatusCode\";s:10:\"InProgress\";s:8:\"VaultARN\";s:55:\"arn:aws:glacier:us-west-2:0123456789012:vaults/my-vault\";}s:10:\"properties\";O:8:\"stdClass\":21:{s:6:\"Action\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ActionCode\";s:11:\"description\";s:123:\"The
  job type. This value is either <code>ArchiveRetrieval</code>, <code>InventoryRetrieval</code>,
  or <code>Select</code>. \";}s:9:\"ArchiveId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:94:\"The
  archive ID requested for a select job or archive retrieval. Otherwise, this field
  is null.\";}s:21:\"ArchiveSHA256TreeHash\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:128:\"The
  SHA256 tree hash of the entire archive for an archive retrieval. For inventory retrieval
  or select jobs, this field is null.\";}s:18:\"ArchiveSizeInBytes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Size\";s:11:\"description\";s:168:\"For
  an archive retrieval job, this value is the size in bytes of the archive being requested
  for download. For an inventory retrieval or select job, this value is null.\";}s:9:\"Completed\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/boolean\";s:11:\"description\";s:100:\"The
  job status. When a job is completed, you get the job's output using Get Job Output
  (GET output).\";}s:14:\"CompletionDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:93:\"The
  UTC time that the job request completed. While the job is in progress, the value
  is null.\";}s:12:\"CreationDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:154:\"The
  UTC date when the job was created. This value is a string representation of ISO
  8601 date format, for example <code>\"2012-03-20T17:03:43.221Z\"</code>.\";}s:28:\"InventoryRetrievalParameters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:46:\"#/definitions/InventoryRetrievalJobDescription\";s:11:\"description\";s:46:\"Parameters
  used for range inventory retrieval.\";}s:20:\"InventorySizeInBytes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Size\";s:11:\"description\";s:164:\"For
  an inventory retrieval job, this value is the size in bytes of the inventory requested
  for download. For an archive retrieval or select job, this value is null.\";}s:14:\"JobDescription\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:53:\"The
  job description provided when initiating the job.\";}s:5:\"JobId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:55:\"An
  opaque string that identifies an Amazon Glacier job.\";}s:13:\"JobOutputPath\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:33:\"Contains
  the job output location.\";}s:14:\"OutputLocation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/OutputLocation\";s:11:\"description\";s:67:\"Contains
  the location where the data from the select job is stored.\";}s:18:\"RetrievalByteRange\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:365:\"The
  retrieved byte range for archive retrieval jobs in the form <i>StartByteValue</i>-<i>EndByteValue</i>.
  If no range was specified in the archive retrieval, then the whole archive is retrieved.
  In this case, <i>StartByteValue</i> equals 0 and <i>EndByteValue</i> equals the
  size of the archive minus 1. For inventory retrieval or select jobs, this field
  is null. \";}s:14:\"SHA256TreeHash\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:773:\"<p>For
  an archive retrieval job, this value is the checksum of the archive. Otherwise,
  this value is null.</p> <p>The SHA256 tree hash value for the requested range of
  an archive. If the <b>InitiateJob</b> request for an archive specified a tree-hash
  aligned range, then this field returns a value.</p> <p>If the whole archive is retrieved,
  this value is the same as the ArchiveSHA256TreeHash value.</p> <p>This field is
  null for the following:</p> <ul> <li> <p>Archive retrieval jobs that specify a range
  that is not tree-hash aligned</p> </li> </ul> <ul> <li> <p>Archival jobs that specify
  a range that is equal to the whole archive, when the job status is <code>InProgress</code>
  </p> </li> </ul> <ul> <li> <p>Inventory jobs</p> </li> <li> <p>Select jobs</p> </li>
  </ul>\";}s:8:\"SNSTopic\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:47:\"An
  Amazon SNS topic that receives notification.\";}s:16:\"SelectParameters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/SelectParameters\";s:11:\"description\";s:42:\"Contains
  the parameters used for a select.\";}s:10:\"StatusCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StatusCode\";s:11:\"description\";s:132:\"The
  status code can be <code>InProgress</code>, <code>Succeeded</code>, or <code>Failed</code>,
  and indicates the status of the job.\";}s:13:\"StatusMessage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:49:\"A
  friendly message that describes the job status.\";}s:4:\"Tier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:177:\"The
  tier to use for a select or an archive retrieval. Valid values are <code>Expedited</code>,
  <code>Standard</code>, or <code>Bulk</code>. <code>Standard</code> is the default.\";}s:8:\"VaultARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:90:\"The
  Amazon Resource Name (ARN) of the vault from which an archive retrieval was requested.\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Grant\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Contains
  information about a grant.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Grantee\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Grantee\";s:11:\"description\";s:12:\"The
  grantee.\";}s:10:\"Permission\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Permission\";s:11:\"description\";s:47:\"Specifies
  the permission given to the grantee. \";}}s:4:\"type\";s:6:\"object\";}s:7:\"Grantee\";O:8:\"stdClass\":4:{s:11:\"description\";s:39:\"Contains
  information about the grantee.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"DisplayName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:27:\"Screen
  name of the grantee.\";}s:12:\"EmailAddress\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:29:\"Email
  address of the grantee.\";}s:2:\"ID\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:37:\"The
  canonical user ID of the grantee.\";}s:4:\"Type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Type\";s:11:\"description\";s:15:\"Type
  of grantee\";}s:3:\"URI\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:25:\"URI
  of the grantee group.\";}}s:8:\"required\";a:1:{i:0;s:4:\"Type\";}s:4:\"type\";s:6:\"object\";}s:16:\"InitiateJobInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:54:\"Provides
  options for initiating an Amazon Glacier job.\";s:7:\"example\";O:8:\"stdClass\":3:{s:9:\"accountId\";s:1:\"-\";s:13:\"jobParameters\";O:8:\"stdClass\":4:{s:11:\"Description\";s:16:\"My
  inventory job\";s:6:\"Format\";s:3:\"CSV\";s:8:\"SNSTopic\";s:75:\"arn:aws:sns:us-west-2:111111111111:Glacier-InventoryRetrieval-topic-Example\";s:4:\"Type\";s:19:\"inventory-retrieval\";}s:9:\"vaultName\";s:12:\"examplevault\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"jobParameters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/JobParameters\";s:11:\"description\";s:48:\"Provides
  options for specifying job information.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"InitiateJobOutput\";O:8:\"stdClass\":4:{s:11:\"description\";s:53:\"Contains
  the Amazon Glacier response to your request.\";s:7:\"example\";O:8:\"stdClass\":2:{s:5:\"jobId\";s:93:\"
  HkF9p6o7yjhFx-K3CGl6fuSm6VzW9T7esGQfco8nUXVYwS0jlb5gq1JZ55yHgt5vP54ZShjoQzQVVh7vEXAMPLEjobID\";s:8:\"location\";s:131:\"/111122223333/vaults/examplevault/jobs/HkF9p6o7yjhFx-K3CGl6fuSm6VzW9T7esGQfco8nUXVYwS0jlb5gq1JZ55yHgt5vP54ZShjoQzQVVh7vEXAMPLEjobID\";}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:28:\"InitiateMultipartUploadInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:78:\"Provides
  options for initiating a multipart upload to an Amazon Glacier vault.\";s:7:\"example\";O:8:\"stdClass\":3:{s:9:\"accountId\";s:1:\"-\";s:8:\"partSize\";s:7:\"1048576\";s:9:\"vaultName\";s:8:\"my-vault\";}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:29:\"InitiateMultipartUploadOutput\";O:8:\"stdClass\":4:{s:11:\"description\";s:44:\"The
  Amazon Glacier response to your request.\";s:7:\"example\";O:8:\"stdClass\":2:{s:8:\"location\";s:136:\"/111122223333/vaults/my-vault/multipart-uploads/19gaRezEXAMPLES6Ry5YYdqthHOC_kGRCT03L9yetr220UmPtBYKk-OssZtLqyFu7sY1_lR7vgFuJV6NtcV5zpsJ\";s:8:\"uploadId\";s:88:\"19gaRezEXAMPLES6Ry5YYdqthHOC_kGRCT03L9yetr220UmPtBYKk-OssZtLqyFu7sY1_lR7vgFuJV6NtcV5zpsJ\";}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:22:\"InitiateVaultLockInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:52:\"The
  input values for <code>InitiateVaultLock</code>.\";s:7:\"example\";O:8:\"stdClass\":3:{s:9:\"accountId\";s:1:\"-\";s:6:\"policy\";O:8:\"stdClass\":1:{s:6:\"Policy\";s:313:\"{\"Version\":\"2012-10-17\",\"Statement\":[{\"Sid\":\"Define-vault-lock\",\"Effect\":\"Deny\",\"Principal\":{\"AWS\":\"arn:aws:iam::999999999999:root\"},\"Action\":\"glacier:DeleteArchive\",\"Resource\":\"arn:aws:glacier:us-west-2:999999999999:vaults/examplevault\",\"Condition\":{\"NumericLessThanEquals\":{\"glacier:ArchiveAgeinDays\":\"365\"}}}]}\";}s:9:\"vaultName\";s:8:\"my-vault\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"policy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/VaultLockPolicy\";s:11:\"description\";s:78:\"The
  vault lock policy as a JSON string, which uses \"\\\" as an escape character.\";}}s:4:\"type\";s:6:\"object\";}s:23:\"InitiateVaultLockOutput\";O:8:\"stdClass\":4:{s:11:\"description\";s:53:\"Contains
  the Amazon Glacier response to your request.\";s:7:\"example\";O:8:\"stdClass\":1:{s:6:\"lockId\";s:24:\"AE863rKkWZU53SLW5be4DUcW\";}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:18:\"InputSerialization\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Describes
  how the archive is serialized.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"csv\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/CSVInput\";s:11:\"description\";s:52:\"Describes
  the serialization of a CSV-encoded object.\";}}s:4:\"type\";s:6:\"object\";}s:29:\"InsufficientCapacityException\";O:8:\"stdClass\":3:{s:11:\"description\";s:165:\"Returned
  if there is insufficient capacity to process this expedited request. This error
  only applies to expedited retrievals and not to standard or bulk retrievals.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/string\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/string\";}}s:4:\"type\";s:6:\"object\";}s:30:\"InvalidParameterValueException\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"Returned
  if a parameter of the request is incorrectly specified.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:15:\"400
  Bad Request\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:64:\"Returned
  if a parameter of the request is incorrectly specified.\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:6:\"Client\";}}s:4:\"type\";s:6:\"object\";}s:32:\"InventoryRetrievalJobDescription\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"Describes
  the options for a range inventory retrieval job.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"EndDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/DateTime\";s:11:\"description\";s:217:\"The
  end of the date range in UTC for vault inventory retrieval that includes archives
  created before this date. This value should be a string in the ISO 8601 date format,
  for example <code>2013-03-20T17:03:43Z</code>.\";}s:6:\"Format\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:204:\"The
  output format for the vault inventory list, which is set by the <b>InitiateJob</b>
  request when initiating a job to retrieve a vault inventory. Valid values are <code>CSV</code>
  and <code>JSON</code>.\";}s:5:\"Limit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:167:\"The
  maximum number of inventory items returned per vault inventory retrieval request.
  This limit is set when initiating the job with the a <b>InitiateJob</b> request.
  \";}s:6:\"Marker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:467:\"An
  opaque string that represents where to continue pagination of the vault inventory
  retrieval results. You use the marker in a new <b>InitiateJob</b> request to obtain
  additional inventory items. If there are no more inventory items, this value is
  <code>null</code>. For more information, see <a href=\"http://docs.aws.amazon.com/amazonglacier/latest/dev/api-initiate-job-post.html#api-initiate-job-post-vault-inventory-list-filtering\">
  Range Inventory Retrieval</a>.\";}s:9:\"StartDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/DateTime\";s:11:\"description\";s:253:\"The
  start of the date range in Universal Coordinated Time (UTC) for vault inventory
  retrieval that includes archives created on or after this date. This value should
  be a string in the ISO 8601 date format, for example <code>2013-03-20T17:03:43Z</code>.\";}}s:4:\"type\";s:6:\"object\";}s:26:\"InventoryRetrievalJobInput\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"Provides
  options for specifying a range inventory retrieval job.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"EndDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:217:\"The
  end of the date range in UTC for vault inventory retrieval that includes archives
  created before this date. This value should be a string in the ISO 8601 date format,
  for example <code>2013-03-20T17:03:43Z</code>.\";}s:5:\"Limit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:140:\"Specifies
  the maximum number of inventory items returned per vault inventory retrieval request.
  Valid values are greater than or equal to 1.\";}s:6:\"Marker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:267:\"An
  opaque string that represents where to continue pagination of the vault inventory
  retrieval results. You use the marker in a new <b>InitiateJob</b> request to obtain
  additional inventory items. If there are no more inventory items, this value is
  <code>null</code>.\";}s:9:\"StartDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:224:\"The
  start of the date range in UTC for vault inventory retrieval that includes archives
  created on or after this date. This value should be a string in the ISO 8601 date
  format, for example <code>2013-03-20T17:03:43Z</code>.\";}}s:4:\"type\";s:6:\"object\";}s:7:\"JobList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/GlacierJobDescription\";}s:4:\"type\";s:5:\"array\";}s:13:\"JobParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Provides
  options for defining a job.\";s:10:\"properties\";O:8:\"stdClass\":10:{s:9:\"ArchiveId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:265:\"The
  ID of the archive that you want to retrieve. This field is required only if <code>Type</code>
  is set to <code>select</code> or <code>archive-retrieval</code>code&gt;. An error
  occurs if you specify this request parameter for an inventory retrieval job request.
  \";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:227:\"The
  optional description for the job. The description must be less than or equal to
  1,024 bytes. The allowable characters are 7-bit ASCII without control codes-specifically,
  ASCII values 32-126 decimal or 0x20-0x7E hexadecimal.\";}s:6:\"Format\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:273:\"When
  initiating a job to retrieve a vault inventory, you can optionally add this parameter
  to your request to specify the output format. If you are initiating an inventory
  job and do not specify a Format field, JSON is the default format. Valid values
  are \"CSV\" and \"JSON\".\";}s:28:\"InventoryRetrievalParameters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/InventoryRetrievalJobInput\";s:11:\"description\";s:52:\"Input
  parameters used for range inventory retrieval.\";}s:14:\"OutputLocation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/OutputLocation\";s:11:\"description\";s:80:\"Contains
  information about the location where the select job results are stored.\";}s:18:\"RetrievalByteRange\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:608:\"<p>The
  byte range to retrieve for an archive retrieval. in the form \"<i>StartByteValue</i>-<i>EndByteValue</i>\"
  If not specified, the whole archive is retrieved. If specified, the byte range must
  be megabyte (1024*1024) aligned which means that <i>StartByteValue</i> must be divisible
  by 1 MB and <i>EndByteValue</i> plus 1 must be divisible by 1 MB or be the end of
  the archive specified as the archive byte size value minus 1. If RetrievalByteRange
  is not megabyte aligned, this operation returns a 400 response. </p> <p>An error
  occurs if you specify this field for an inventory retrieval job request.</p>\";}s:8:\"SNSTopic\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:233:\"The
  Amazon SNS topic ARN to which Amazon Glacier sends a notification when the job is
  completed and the output is ready for you to download. The specified topic publishes
  the notification to its subscribers. The SNS topic must exist.\";}s:16:\"SelectParameters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/SelectParameters\";s:11:\"description\";s:42:\"Contains
  the parameters that define a job.\";}s:4:\"Tier\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:181:\"The
  tier to use for a select or an archive retrieval job. Valid values are <code>Expedited</code>,
  <code>Standard</code>, or <code>Bulk</code>. <code>Standard</code> is the default.\";}s:4:\"Type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:204:\"The
  job type. You can initiate a job to perform a select query on an archive, retrieve
  an archive, or get an inventory of a vault. Valid values are \"select\", \"archive-retrieval\"
  and \"inventory-retrieval\".\";}}s:4:\"type\";s:6:\"object\";}s:22:\"LimitExceededException\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"Returned
  if the request results in a vault or account limit being exceeded.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:15:\"400
  Bad Request\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:78:\"Returned
  if the request results in a vault limit or tags limit being exceeded.\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:6:\"Client\";}}s:4:\"type\";s:6:\"object\";}s:13:\"ListJobsInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:71:\"Provides
  options for retrieving a job list for an Amazon Glacier vault.\";s:7:\"example\";O:8:\"stdClass\":2:{s:9:\"accountId\";s:1:\"-\";s:9:\"vaultName\";s:8:\"my-vault\";}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:14:\"ListJobsOutput\";O:8:\"stdClass\":4:{s:11:\"description\";s:53:\"Contains
  the Amazon Glacier response to your request.\";s:7:\"example\";O:8:\"stdClass\":1:{s:7:\"JobList\";a:2:{i:0;O:8:\"stdClass\":13:{s:6:\"Action\";s:16:\"ArchiveRetrieval\";s:9:\"ArchiveId\";s:138:\"kKB7ymWJVpPSwhGP6ycSOAekp9ZYe_--zM_mw6k76ZFGEIWQX-ybtRDvc2VkPSDtfKmQrj0IRQLSGsNuDp-AJVlu2ccmDSyDUmZwKbwbpAdGATGDiB3hHO0bjbGehXTcApVud_wyDw\";s:21:\"ArchiveSHA256TreeHash\";s:64:\"9628195fcdbcbbe76cdde932d4646fa7de5f219fb39823836d81f0cc0e18aa67\";s:18:\"ArchiveSizeInBytes\";i:3145728;s:9:\"Completed\";b:0;s:12:\"CreationDate\";s:24:\"2015-07-17T21:16:13.840Z\";s:14:\"JobDescription\";s:30:\"Retrieve
  archive on 2015-07-17\";s:5:\"JobId\";s:92:\"l7IL5-EkXyEY9Ws95fClzIbk2O5uLYaFdAYOi-azsX_Z8V6NH4yERHzars8wTKYQMX6nBDI9cMNHzyZJO59-8N9aHWav\";s:18:\"RetrievalByteRange\";s:9:\"0-3145727\";s:14:\"SHA256TreeHash\";s:64:\"9628195fcdbcbbe76cdde932d4646fa7de5f219fb39823836d81f0cc0e18aa67\";s:8:\"SNSTopic\";s:44:\"arn:aws:sns:us-west-2:0123456789012:my-vault\";s:10:\"StatusCode\";s:10:\"InProgress\";s:8:\"VaultARN\";s:55:\"arn:aws:glacier:us-west-2:0123456789012:vaults/my-vault\";}i:1;O:8:\"stdClass\":7:{s:6:\"Action\";s:18:\"InventoryRetrieval\";s:9:\"Completed\";b:0;s:12:\"CreationDate\";s:24:\"2015-07-17T20:23:41.616Z\";s:28:\"InventoryRetrievalParameters\";O:8:\"stdClass\":1:{s:6:\"Format\";s:4:\"JSON\";}s:5:\"JobId\";s:92:\"zbxcm3Z_3z5UkoroF7SuZKrxgGoDc3RloGduS7Eg-RO47Yc6FxsdGBgf_Q2DK5Ejh18CnTS5XW4_XqlNHS61dsO4CnMW\";s:10:\"StatusCode\";s:10:\"InProgress\";s:8:\"VaultARN\";s:55:\"arn:aws:glacier:us-west-2:0123456789012:vaults/my-vault\";}}}s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"JobList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/JobList\";s:11:\"description\";s:76:\"A
  list of job objects. Each job object contains metadata describing the job.\";}s:6:\"Marker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:307:\"
  An opaque string used for pagination that specifies the job at which the listing
  of jobs should begin. You get the <code>marker</code> value from a previous List
  Jobs response. You only need to include the marker if you are continuing the pagination
  of the results started in a previous List Jobs request. \";}}s:4:\"type\";s:6:\"object\";}s:25:\"ListMultipartUploadsInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:98:\"Provides
  options for retrieving list of in-progress multipart uploads for an Amazon Glacier
  vault.\";s:7:\"example\";O:8:\"stdClass\":2:{s:9:\"accountId\";s:1:\"-\";s:9:\"vaultName\";s:12:\"examplevault\";}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:26:\"ListMultipartUploadsOutput\";O:8:\"stdClass\":4:{s:11:\"description\";s:53:\"Contains
  the Amazon Glacier response to your request.\";s:7:\"example\";O:8:\"stdClass\":2:{s:6:\"Marker\";s:4:\"null\";s:11:\"UploadsList\";a:3:{i:0;O:8:\"stdClass\":5:{s:18:\"ArchiveDescription\";s:9:\"archive
  1\";s:12:\"CreationDate\";s:24:\"2012-03-19T23:20:59.130Z\";s:17:\"MultipartUploadId\";s:92:\"xsQdFIRsfJr20CW2AbZBKpRZAFTZSJIMtL2hYf8mvp8dM0m4RUzlaqoEye6g3h3ecqB_zqwB7zLDMeSWhwo65re4C4Ev\";s:15:\"PartSizeInBytes\";i:4194304;s:8:\"VaultARN\";s:58:\"arn:aws:glacier:us-west-2:012345678901:vaults/examplevault\";}i:1;O:8:\"stdClass\":5:{s:18:\"ArchiveDescription\";s:9:\"archive
  2\";s:12:\"CreationDate\";s:24:\"2012-04-01T15:00:00.000Z\";s:17:\"MultipartUploadId\";s:92:\"nPyGOnyFcx67qqX7E-0tSGiRi88hHMOwOxR-_jNyM6RjVMFfV29lFqZ3rNsSaWBugg6OP92pRtufeHdQH7ClIpSF6uJc\";s:15:\"PartSizeInBytes\";i:4194304;s:8:\"VaultARN\";s:58:\"arn:aws:glacier:us-west-2:012345678901:vaults/examplevault\";}i:2;O:8:\"stdClass\":5:{s:18:\"ArchiveDescription\";s:9:\"archive
  3\";s:12:\"CreationDate\";s:24:\"2012-03-20T17:03:43.221Z\";s:17:\"MultipartUploadId\";s:92:\"qt-RBst_7yO8gVIonIBsAxr2t-db0pE4s8MNeGjKjGdNpuU-cdSAcqG62guwV9r5jh5mLyFPzFEitTpNE7iQfHiu1XoV\";s:15:\"PartSizeInBytes\";i:4194304;s:8:\"VaultARN\";s:58:\"arn:aws:glacier:us-west-2:012345678901:vaults/examplevault\";}}}s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"Marker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:235:\"An
  opaque string that represents where to continue pagination of the results. You use
  the marker in a new List Multipart Uploads request to obtain more uploads in the
  list. If there are no more uploads, this value is <code>null</code>.\";}s:11:\"UploadsList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/UploadsList\";s:11:\"description\";s:40:\"A
  list of in-progress multipart uploads.\";}}s:4:\"type\";s:6:\"object\";}s:14:\"ListPartsInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:117:\"Provides
  options for retrieving a list of parts of an archive that have been uploaded in
  a specific multipart upload.\";s:7:\"example\";O:8:\"stdClass\":3:{s:9:\"accountId\";s:1:\"-\";s:8:\"uploadId\";s:92:\"OW2fM5iVylEpFEMM9_HpKowRapC3vn5sSL39_396UW9zLFUWVrnRHaPjUJddQ5OxSHVXjYtrN47NBZ-khxOjyEXAMPLE\";s:9:\"vaultName\";s:12:\"examplevault\";}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:15:\"ListPartsOutput\";O:8:\"stdClass\":4:{s:11:\"description\";s:53:\"Contains
  the Amazon Glacier response to your request.\";s:7:\"example\";O:8:\"stdClass\":7:{s:18:\"ArchiveDescription\";s:19:\"archive
  description\";s:12:\"CreationDate\";s:24:\"2012-03-20T17:03:43.221Z\";s:6:\"Marker\";s:4:\"null\";s:17:\"MultipartUploadId\";s:92:\"OW2fM5iVylEpFEMM9_HpKowRapC3vn5sSL39_396UW9zLFUWVrnRHaPjUJddQ5OxSHVXjYtrN47NBZ-khxOjyEXAMPLE\";s:15:\"PartSizeInBytes\";i:4194304;s:5:\"Parts\";a:2:{i:0;O:8:\"stdClass\":2:{s:12:\"RangeInBytes\";s:9:\"0-4194303\";s:14:\"SHA256TreeHash\";s:34:\"01d34dabf7be316472c93b1ef80721f5d4\";}i:1;O:8:\"stdClass\":2:{s:12:\"RangeInBytes\";s:15:\"4194304-8388607\";s:14:\"SHA256TreeHash\";s:34:\"0195875365afda349fc21c84c099987164\";}}s:8:\"VaultARN\";s:57:\"arn:aws:glacier:us-west-2:012345678901:vaults/demo1-vault\";}s:10:\"properties\";O:8:\"stdClass\":7:{s:18:\"ArchiveDescription\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:91:\"The
  description of the archive that was specified in the Initiate Multipart Upload request.\";}s:12:\"CreationDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:57:\"The
  UTC time at which the multipart upload was initiated.\";}s:6:\"Marker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:218:\"An
  opaque string that represents where to continue pagination of the results. You use
  the marker in a new List Parts request to obtain more jobs in the list. If there
  are no more parts, this value is <code>null</code>.\";}s:17:\"MultipartUploadId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:55:\"The
  ID of the upload to which the parts are associated.\";}s:15:\"PartSizeInBytes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/long\";s:11:\"description\";s:107:\"The
  part size in bytes. This is the same value that you specified in the Initiate Multipart
  Upload request.\";}s:5:\"Parts\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/PartList\";s:11:\"description\";s:160:\"A
  list of the part sizes of the multipart upload. Each object in the array contains
  a <code>RangeBytes</code> and <code>sha256-tree-hash</code> name/value pair.\";}s:8:\"VaultARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:88:\"The
  Amazon Resource Name (ARN) of the vault to which the multipart upload was initiated.\";}}s:4:\"type\";s:6:\"object\";}s:28:\"ListProvisionedCapacityInput\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":1:{s:9:\"accountId\";s:1:\"-\";}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:29:\"ListProvisionedCapacityOutput\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":1:{s:23:\"ProvisionedCapacityList\";a:2:{i:0;O:8:\"stdClass\":3:{s:10:\"CapacityId\";s:24:\"zSaq7NzHFQDANTfQkDen4V7z\";s:14:\"ExpirationDate\";s:24:\"2016-12-12T00:00:00.000Z\";s:9:\"StartDate\";s:24:\"2016-11-11T20:11:51.095Z\";}i:1;O:8:\"stdClass\":3:{s:10:\"CapacityId\";s:24:\"yXaq7NzHFQNADTfQkDen4V7z\";s:14:\"ExpirationDate\";s:24:\"2017-01-15T00:00:00.000Z\";s:9:\"StartDate\";s:24:\"2016-12-13T20:11:51.095Z\";}}}s:10:\"properties\";O:8:\"stdClass\":1:{s:23:\"ProvisionedCapacityList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/ProvisionedCapacityList\";s:11:\"description\";s:53:\"The
  response body contains the following JSON fields.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"ListTagsForVaultInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:55:\"The
  input value for <code>ListTagsForVaultInput</code>.\";s:7:\"example\";O:8:\"stdClass\":2:{s:9:\"accountId\";s:1:\"-\";s:9:\"vaultName\";s:12:\"examplevault\";}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:22:\"ListTagsForVaultOutput\";O:8:\"stdClass\":4:{s:11:\"description\";s:53:\"Contains
  the Amazon Glacier response to your request.\";s:7:\"example\";O:8:\"stdClass\":1:{s:4:\"Tags\";O:8:\"stdClass\":2:{s:4:\"date\";s:8:\"july2015\";s:2:\"id\";s:4:\"1234\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/TagMap\";s:11:\"description\";s:74:\"The
  tags attached to the vault. Each tag is composed of a key and a value.\";}}s:4:\"type\";s:6:\"object\";}s:15:\"ListVaultsInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:135:\"Provides
  options to retrieve the vault list owned by the calling user's account. The list
  provides metadata information for each vault.\";s:7:\"example\";O:8:\"stdClass\":3:{s:9:\"accountId\";s:1:\"-\";s:5:\"limit\";s:0:\"\";s:6:\"marker\";s:0:\"\";}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:16:\"ListVaultsOutput\";O:8:\"stdClass\":4:{s:11:\"description\";s:53:\"Contains
  the Amazon Glacier response to your request.\";s:7:\"example\";O:8:\"stdClass\":1:{s:9:\"VaultList\";a:1:{i:0;O:8:\"stdClass\":6:{s:12:\"CreationDate\";s:24:\"2015-04-06T21:23:45.708Z\";s:17:\"LastInventoryDate\";s:24:\"2015-04-07T00:26:19.028Z\";s:16:\"NumberOfArchives\";i:1;s:11:\"SizeInBytes\";i:3178496;s:8:\"VaultARN\";s:55:\"arn:aws:glacier:us-west-2:0123456789012:vaults/my-vault\";s:9:\"VaultName\";s:8:\"my-vault\";}}}s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"Marker\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:146:\"The
  vault ARN at which to continue pagination of the results. You use the marker in
  another List Vaults request to obtain more vaults in the list.\";}s:9:\"VaultList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/VaultList\";s:11:\"description\";s:15:\"List
  of vaults.\";}}s:4:\"type\";s:6:\"object\";}s:30:\"MissingParameterValueException\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"Returned
  if a required header or parameter is missing from the request.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:15:\"400
  Bad Request\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:60:\"Returned
  if no authentication data is found for the request.\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:7:\"Client.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"NotificationEventList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/string\";}s:4:\"type\";s:5:\"array\";}s:12:\"NullableLong\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:14:\"OutputLocation\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"Contains
  information about the location where the select job results are stored.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"S3\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/S3Location\";s:11:\"description\";s:74:\"Describes
  an S3 location that will receive the results of the job request.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"OutputSerialization\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Describes
  how the select output is serialized.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"csv\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/CSVOutput\";s:11:\"description\";s:57:\"Describes
  the serialization of CSV-encoded query results.\";}}s:4:\"type\";s:6:\"object\";}s:8:\"PartList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/PartListElement\";}s:4:\"type\";s:5:\"array\";}s:15:\"PartListElement\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"A
  list of the part sizes of the multipart upload.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"RangeInBytes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:68:\"The
  byte range of a part, inclusive of the upper value of the range.\";}s:14:\"SHA256TreeHash\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:110:\"The
  SHA256 tree hash value that Amazon Glacier calculated for the part. This field is
  never <code>null</code>.\";}}s:4:\"type\";s:6:\"object\";}s:10:\"Permission\";O:8:\"stdClass\":2:{s:4:\"enum\";a:5:{i:0;s:12:\"FULL_CONTROL\";i:1;s:5:\"WRITE\";i:2;s:9:\"WRITE_ACP\";i:3;s:4:\"READ\";i:4;s:8:\"READ_ACP\";}s:4:\"type\";s:6:\"string\";}s:23:\"PolicyEnforcedException\";O:8:\"stdClass\":3:{s:11:\"description\";s:140:\"Returned
  if a retrieval job would exceed the current data policy's retrieval rate limit.
  For more information about data retrieval policies,\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:23:\"PolicyEnforcedException\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:60:\"InitiateJob
  request denied by current data retrieval policy.\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:6:\"Client\";}}s:4:\"type\";s:6:\"object\";}s:30:\"ProvisionedCapacityDescription\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  definition for a provisioned capacity unit.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"CapacityId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:53:\"The
  ID that identifies the provisioned capacity unit.\";}s:14:\"ExpirationDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:89:\"The
  date that the provisioned capacity unit expires, in Universal Coordinated Time (UTC).\";}s:9:\"StartDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:95:\"The
  date that the provisioned capacity unit was purchased, in Universal Coordinated
  Time (UTC).\";}}s:4:\"type\";s:6:\"object\";}s:23:\"ProvisionedCapacityList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/ProvisionedCapacityDescription\";}s:4:\"type\";s:5:\"array\";}s:32:\"PurchaseProvisionedCapacityInput\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":1:{s:9:\"accountId\";s:1:\"-\";}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:33:\"PurchaseProvisionedCapacityOutput\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":1:{s:10:\"capacityId\";s:24:\"zSaq7NzHFQDANTfQkDen4V7z\";}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:11:\"QuoteFields\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:6:\"ALWAYS\";i:1;s:8:\"ASNEEDED\";}s:4:\"type\";s:6:\"string\";}s:24:\"RemoveTagsFromVaultInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:58:\"The
  input value for <code>RemoveTagsFromVaultInput</code>.\";s:7:\"example\";O:8:\"stdClass\":3:{s:7:\"TagKeys\";a:2:{i:0;s:11:\"examplekey1\";i:1;s:11:\"examplekey2\";}s:9:\"accountId\";s:1:\"-\";s:9:\"vaultName\";s:12:\"examplevault\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"TagKeys\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/TagKeyList\";s:11:\"description\";s:69:\"A
  list of tag keys. Each corresponding tag is removed from the vault.\";}}s:4:\"type\";s:6:\"object\";}s:23:\"RequestTimeoutException\";O:8:\"stdClass\":3:{s:11:\"description\";s:92:\"Returned
  if, when uploading an archive, Amazon Glacier times out while receiving the upload.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:19:\"408
  Request Timeout\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:92:\"Returned
  if, when uploading an archive, Amazon Glacier times out while receiving the upload.\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:6:\"Client\";}}s:4:\"type\";s:6:\"object\";}s:25:\"ResourceNotFoundException\";O:8:\"stdClass\":3:{s:11:\"description\";s:89:\"Returned
  if the specified resource (such as a vault, upload ID, or job ID) doesn't exist.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:13:\"404
  Not Found\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:89:\"Returned
  if the specified resource (such as a vault, upload ID, or job ID) doesn't exist.\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:6:\"Client\";}}s:4:\"type\";s:6:\"object\";}s:10:\"S3Location\";O:8:\"stdClass\":3:{s:11:\"description\";s:93:\"Contains
  information about the location in Amazon S3 where the select job results are stored.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:17:\"AccessControlList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/AccessControlPolicyList\";s:11:\"description\";s:59:\"A
  list of grants that control access to the staged results.\";}s:10:\"BucketName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:66:\"The
  name of the Amazon S3 bucket where the job results are stored.\";}s:9:\"CannedACL\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/CannedACL\";s:11:\"description\";s:65:\"The
  canned access control list (ACL) to apply to the job results.\";}s:10:\"Encryption\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/Encryption\";s:11:\"description\";s:85:\"Contains
  information about the encryption used to store the job results in Amazon S3.\";}s:6:\"Prefix\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:61:\"The
  prefix that is prepended to the results for this request.\";}s:12:\"StorageClass\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/StorageClass\";s:11:\"description\";s:48:\"The
  storage class used to store the job results.\";}s:7:\"Tagging\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/hashmap\";s:11:\"description\";s:47:\"The
  tag-set that is applied to the job results.\";}s:12:\"UserMetadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/hashmap\";s:11:\"description\";s:61:\"A
  map of metadata to store with the job results in Amazon S3.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"SelectParameters\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"Contains
  information about the parameters used for a select.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"Expression\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:49:\"The
  expression that is used to select the object.\";}s:14:\"ExpressionType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ExpressionType\";s:11:\"description\";s:66:\"The
  type of the provided expression, for example <code>SQL</code>.\";}s:18:\"InputSerialization\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/InputSerialization\";s:11:\"description\";s:49:\"Describes
  the serialization format of the object.\";}s:19:\"OutputSerialization\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/OutputSerialization\";s:11:\"description\";s:59:\"Describes
  how the results of the select job are serialized.\";}}s:4:\"type\";s:6:\"object\";}s:27:\"ServiceUnavailableException\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Returned
  if the service cannot complete the request.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:25:\"500
  Internal Server Error\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:52:\"Returned
  if the service cannot complete the request.\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:6:\"Server\";}}s:4:\"type\";s:6:\"object\";}s:27:\"SetDataRetrievalPolicyInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:29:\"SetDataRetrievalPolicy
  input.\";s:7:\"example\";O:8:\"stdClass\":2:{s:6:\"Policy\";O:8:\"stdClass\":1:{s:5:\"Rules\";a:1:{i:0;O:8:\"stdClass\":2:{s:12:\"BytesPerHour\";i:10737418240;s:8:\"Strategy\";s:12:\"BytesPerHour\";}}}s:9:\"accountId\";s:1:\"-\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"Policy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/DataRetrievalPolicy\";s:11:\"description\";s:41:\"The
  data retrieval policy in JSON format.\";}}s:4:\"type\";s:6:\"object\";}s:25:\"SetVaultAccessPolicyInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:27:\"SetVaultAccessPolicy
  input.\";s:7:\"example\";O:8:\"stdClass\":3:{s:9:\"accountId\";s:1:\"-\";s:6:\"policy\";O:8:\"stdClass\":1:{s:6:\"Policy\";s:250:\"{\"Version\":\"2012-10-17\",\"Statement\":[{\"Sid\":\"Define-owner-access-rights\",\"Effect\":\"Allow\",\"Principal\":{\"AWS\":\"arn:aws:iam::999999999999:root\"},\"Action\":\"glacier:DeleteArchive\",\"Resource\":\"arn:aws:glacier:us-west-2:999999999999:vaults/examplevault\"}]}\";}s:9:\"vaultName\";s:12:\"examplevault\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"policy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/VaultAccessPolicy\";s:11:\"description\";s:41:\"The
  vault access policy as a JSON string.\";}}s:4:\"type\";s:6:\"object\";}s:26:\"SetVaultNotificationsInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:101:\"Provides
  options to configure notifications that will be sent when specific events happen
  to a vault.\";s:7:\"example\";O:8:\"stdClass\":3:{s:9:\"accountId\";s:1:\"-\";s:9:\"vaultName\";s:12:\"examplevault\";s:23:\"vaultNotificationConfig\";O:8:\"stdClass\":2:{s:6:\"Events\";a:2:{i:0;s:25:\"ArchiveRetrievalCompleted\";i:1;s:27:\"InventoryRetrievalCompleted\";}s:8:\"SNSTopic\";s:42:\"arn:aws:sns:us-west-2:012345678901:mytopic\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:23:\"vaultNotificationConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/VaultNotificationConfig\";s:11:\"description\";s:59:\"Provides
  options for specifying notification configuration.\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Size\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"StatusCode\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:10:\"InProgress\";i:1;s:9:\"Succeeded\";i:2;s:6:\"Failed\";}s:4:\"type\";s:6:\"string\";}s:12:\"StorageClass\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:8:\"STANDARD\";i:1;s:18:\"REDUCED_REDUNDANCY\";i:2;s:11:\"STANDARD_IA\";}s:4:\"type\";s:6:\"string\";}s:6:\"Stream\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"TagKey\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"TagKeyList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/string\";}s:4:\"type\";s:5:\"array\";}s:6:\"TagMap\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/TagKey\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/TagValue\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:8:\"TagValue\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"Type\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:21:\"AmazonCustomerByEmail\";i:1;s:13:\"CanonicalUser\";i:2;s:5:\"Group\";}s:4:\"type\";s:6:\"string\";}s:18:\"UploadArchiveInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:46:\"Provides
  options to add an archive to a vault.\";s:7:\"example\";O:8:\"stdClass\":5:{s:9:\"accountId\";s:1:\"-\";s:18:\"archiveDescription\";s:0:\"\";s:4:\"body\";s:22:\"example-data-to-upload\";s:8:\"checksum\";s:0:\"\";s:9:\"vaultName\";s:8:\"my-vault\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"body\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Stream\";s:11:\"description\";s:19:\"The
  data to upload.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"UploadListElement\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"A
  list of in-progress multipart uploads for a vault.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:18:\"ArchiveDescription\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:91:\"The
  description of the archive that was specified in the Initiate Multipart Upload request.\";}s:12:\"CreationDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:57:\"The
  UTC time at which the multipart upload was initiated.\";}s:17:\"MultipartUploadId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:29:\"The
  ID of a multipart upload.\";}s:15:\"PartSizeInBytes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/long\";s:11:\"description\";s:183:\"The
  part size, in bytes, specified in the Initiate Multipart Upload request. This is
  the size of all the parts in the upload except the last part, which may be smaller
  than this size.\";}s:8:\"VaultARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:70:\"The
  Amazon Resource Name (ARN) of the vault that contains the archive.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"UploadMultipartPartInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:80:\"Provides
  options to upload a part of an archive in a multipart upload operation.\";s:7:\"example\";O:8:\"stdClass\":6:{s:9:\"accountId\";s:1:\"-\";s:4:\"body\";s:5:\"part1\";s:8:\"checksum\";s:32:\"c06f7cd4baacb087002a99a5f48bf953\";s:5:\"range\";s:17:\"bytes
  0-1048575/*\";s:8:\"uploadId\";s:88:\"19gaRezEXAMPLES6Ry5YYdqthHOC_kGRCT03L9yetr220UmPtBYKk-OssZtLqyFu7sY1_lR7vgFuJV6NtcV5zpsJ\";s:9:\"vaultName\";s:12:\"examplevault\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"body\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Stream\";s:11:\"description\";s:19:\"The
  data to upload.\";}}s:4:\"type\";s:6:\"object\";}s:25:\"UploadMultipartPartOutput\";O:8:\"stdClass\":4:{s:11:\"description\";s:53:\"Contains
  the Amazon Glacier response to your request.\";s:7:\"example\";O:8:\"stdClass\":1:{s:8:\"checksum\";s:32:\"c06f7cd4baacb087002a99a5f48bf953\";}s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:11:\"UploadsList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/UploadListElement\";}s:4:\"type\";s:5:\"array\";}s:17:\"VaultAccessPolicy\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Contains
  the vault access policy.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"Policy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:24:\"The
  vault access policy.\";}}s:4:\"type\";s:6:\"object\";}s:9:\"VaultList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/DescribeVaultOutput\";}s:4:\"type\";s:5:\"array\";}s:15:\"VaultLockPolicy\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Contains
  the vault lock policy.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"Policy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:22:\"The
  vault lock policy.\";}}s:4:\"type\";s:6:\"object\";}s:23:\"VaultNotificationConfig\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Represents
  a vault's notification configuration.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"Events\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/NotificationEventList\";s:11:\"description\";s:113:\"A
  list of one or more events for which Amazon Glacier will send a notification to
  the specified Amazon SNS topic.\";}s:8:\"SNSTopic\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:85:\"The
  Amazon Simple Notification Service (Amazon SNS) topic Amazon Resource Name (ARN).\";}}s:4:\"type\";s:6:\"object\";}s:7:\"boolean\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:7:\"hashmap\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:10:\"httpstatus\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"long\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"string\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}"
...
