---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":15:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:9:\"x-twitter\";s:12:\"PermittedSoc\";}s:11:\"description\";s:204:\"For
  more information about AWS CloudHSM, see <a href=\"http://aws.amazon.com/cloudhsm/\">AWS
  CloudHSM</a> and the <a href=\"http://docs.aws.amazon.com/cloudhsm/latest/userguide/\">AWS
  CloudHSM User Guide</a>.\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache
  2.0 License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:15:\"AWS
  CloudHSM V2\";s:7:\"version\";s:10:\"2017-04-28\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:94:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/cloudhsmv2-2017-04-28.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v4\";s:13:\"x-serviceName\";s:10:\"cloudhsmv2\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:20:\"amazonaws_cloudhsmv2\";s:4:\"type\";s:7:\"openapi\";}}"
host: cloudhsmv2.amazonaws.com
basePath: /
paths:
  /:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a new AWS CloudHSM cluster.
      operationId: CreateCluster
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/CreateClusterRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/CreateClusterResponse'
        480:
          description: CloudHsmInternalFailureException
          schema:
            $ref: '#/definitions/CloudHsmInternalFailureException'
        481:
          description: CloudHsmServiceException
          schema:
            $ref: '#/definitions/CloudHsmServiceException'
        482:
          description: CloudHsmResourceNotFoundException
          schema:
            $ref: '#/definitions/CloudHsmResourceNotFoundException'
        483:
          description: CloudHsmInvalidRequestException
          schema:
            $ref: '#/definitions/CloudHsmInvalidRequestException'
        484:
          description: CloudHsmAccessDeniedException
          schema:
            $ref: '#/definitions/CloudHsmAccessDeniedException'
  /#CreateHsm:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a new hardware security module (HSM) in the specified AWS
        CloudHSM cluster.
      operationId: CreateHsm
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/CreateHsmRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/CreateHsmResponse'
        480:
          description: CloudHsmInternalFailureException
          schema:
            $ref: '#/definitions/CloudHsmInternalFailureException'
        481:
          description: CloudHsmServiceException
          schema:
            $ref: '#/definitions/CloudHsmServiceException'
        482:
          description: CloudHsmInvalidRequestException
          schema:
            $ref: '#/definitions/CloudHsmInvalidRequestException'
        483:
          description: CloudHsmResourceNotFoundException
          schema:
            $ref: '#/definitions/CloudHsmResourceNotFoundException'
        484:
          description: CloudHsmAccessDeniedException
          schema:
            $ref: '#/definitions/CloudHsmAccessDeniedException'
  /#DeleteCluster:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Deletes the specified AWS CloudHSM cluster. Before you can delete
        a cluster, you must delete all HSMs in the cluster. To see if the cluster
        contains any HSMs, use <a>DescribeClusters</a>. To delete an HSM, use <a>DeleteHsm</a>.
      operationId: DeleteCluster
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DeleteClusterRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DeleteClusterResponse'
        480:
          description: CloudHsmInternalFailureException
          schema:
            $ref: '#/definitions/CloudHsmInternalFailureException'
        481:
          description: CloudHsmServiceException
          schema:
            $ref: '#/definitions/CloudHsmServiceException'
        482:
          description: CloudHsmResourceNotFoundException
          schema:
            $ref: '#/definitions/CloudHsmResourceNotFoundException'
        483:
          description: CloudHsmInvalidRequestException
          schema:
            $ref: '#/definitions/CloudHsmInvalidRequestException'
        484:
          description: CloudHsmAccessDeniedException
          schema:
            $ref: '#/definitions/CloudHsmAccessDeniedException'
  /#DeleteHsm:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Deletes the specified HSM. To specify an HSM, you can use its identifier
        (ID), the IP address of the HSM's elastic network interface (ENI), or the
        ID of the HSM's ENI. You need to specify only one of these values. To find
        these values, use <a>DescribeClusters</a>.
      operationId: DeleteHsm
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DeleteHsmRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DeleteHsmResponse'
        480:
          description: CloudHsmInternalFailureException
          schema:
            $ref: '#/definitions/CloudHsmInternalFailureException'
        481:
          description: CloudHsmServiceException
          schema:
            $ref: '#/definitions/CloudHsmServiceException'
        482:
          description: CloudHsmResourceNotFoundException
          schema:
            $ref: '#/definitions/CloudHsmResourceNotFoundException'
        483:
          description: CloudHsmInvalidRequestException
          schema:
            $ref: '#/definitions/CloudHsmInvalidRequestException'
        484:
          description: CloudHsmAccessDeniedException
          schema:
            $ref: '#/definitions/CloudHsmAccessDeniedException'
  /#DescribeBackups:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: <p>Gets information about backups of AWS CloudHSM clusters.</p>
        <p>This is a paginated operation, which means that each response might contain
        only a subset of all the backups. When the response contains only a subset
        of backups, it includes a <code>NextToken</code> value. Use this value in
        a subsequent <code>DescribeBackups</code> request to get more backups. When
        you receive a response with no <code>NextToken</code> (or an empty or null
        value), that means there are no more backups to get.</p>
      operationId: DescribeBackups
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DescribeBackupsRequest'
      - description: Pagination limit
        in: query
        name: MaxResults
        required: false
        type: string
      - description: Pagination token
        in: query
        name: NextToken
        required: false
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DescribeBackupsResponse'
        480:
          description: CloudHsmInternalFailureException
          schema:
            $ref: '#/definitions/CloudHsmInternalFailureException'
        481:
          description: CloudHsmServiceException
          schema:
            $ref: '#/definitions/CloudHsmServiceException'
        482:
          description: CloudHsmResourceNotFoundException
          schema:
            $ref: '#/definitions/CloudHsmResourceNotFoundException'
        483:
          description: CloudHsmInvalidRequestException
          schema:
            $ref: '#/definitions/CloudHsmInvalidRequestException'
        484:
          description: CloudHsmAccessDeniedException
          schema:
            $ref: '#/definitions/CloudHsmAccessDeniedException'
  /#DescribeClusters:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: <p>Gets information about AWS CloudHSM clusters.</p> <p>This is
        a paginated operation, which means that each response might contain only a
        subset of all the clusters. When the response contains only a subset of clusters,
        it includes a <code>NextToken</code> value. Use this value in a subsequent
        <code>DescribeClusters</code> request to get more clusters. When you receive
        a response with no <code>NextToken</code> (or an empty or null value), that
        means there are no more clusters to get.</p>
      operationId: DescribeClusters
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DescribeClustersRequest'
      - description: Pagination limit
        in: query
        name: MaxResults
        required: false
        type: string
      - description: Pagination token
        in: query
        name: NextToken
        required: false
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DescribeClustersResponse'
        480:
          description: CloudHsmInternalFailureException
          schema:
            $ref: '#/definitions/CloudHsmInternalFailureException'
        481:
          description: CloudHsmServiceException
          schema:
            $ref: '#/definitions/CloudHsmServiceException'
        482:
          description: CloudHsmInvalidRequestException
          schema:
            $ref: '#/definitions/CloudHsmInvalidRequestException'
        483:
          description: CloudHsmAccessDeniedException
          schema:
            $ref: '#/definitions/CloudHsmAccessDeniedException'
  /#InitializeCluster:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Claims an AWS CloudHSM cluster by submitting the cluster certificate
        issued by your issuing certificate authority (CA) and the CA's root certificate.
        Before you can claim a cluster, you must sign the cluster's certificate signing
        request (CSR) with your issuing CA. To get the cluster's CSR, use <a>DescribeClusters</a>.
      operationId: InitializeCluster
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/InitializeClusterRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/InitializeClusterResponse'
        480:
          description: CloudHsmInternalFailureException
          schema:
            $ref: '#/definitions/CloudHsmInternalFailureException'
        481:
          description: CloudHsmServiceException
          schema:
            $ref: '#/definitions/CloudHsmServiceException'
        482:
          description: CloudHsmResourceNotFoundException
          schema:
            $ref: '#/definitions/CloudHsmResourceNotFoundException'
        483:
          description: CloudHsmInvalidRequestException
          schema:
            $ref: '#/definitions/CloudHsmInvalidRequestException'
        484:
          description: CloudHsmAccessDeniedException
          schema:
            $ref: '#/definitions/CloudHsmAccessDeniedException'
  /#ListTags:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: <p>Gets a list of tags for the specified AWS CloudHSM cluster.</p>
        <p>This is a paginated operation, which means that each response might contain
        only a subset of all the tags. When the response contains only a subset of
        tags, it includes a <code>NextToken</code> value. Use this value in a subsequent
        <code>ListTags</code> request to get more tags. When you receive a response
        with no <code>NextToken</code> (or an empty or null value), that means there
        are no more tags to get.</p>
      operationId: ListTags
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ListTagsRequest'
      - description: Pagination limit
        in: query
        name: MaxResults
        required: false
        type: string
      - description: Pagination token
        in: query
        name: NextToken
        required: false
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ListTagsResponse'
        480:
          description: CloudHsmInternalFailureException
          schema:
            $ref: '#/definitions/CloudHsmInternalFailureException'
        481:
          description: CloudHsmServiceException
          schema:
            $ref: '#/definitions/CloudHsmServiceException'
        482:
          description: CloudHsmResourceNotFoundException
          schema:
            $ref: '#/definitions/CloudHsmResourceNotFoundException'
        483:
          description: CloudHsmInvalidRequestException
          schema:
            $ref: '#/definitions/CloudHsmInvalidRequestException'
        484:
          description: CloudHsmAccessDeniedException
          schema:
            $ref: '#/definitions/CloudHsmAccessDeniedException'
  /#TagResource:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Adds or overwrites one or more tags for the specified AWS CloudHSM
        cluster.
      operationId: TagResource
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/TagResourceRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/TagResourceResponse'
        480:
          description: CloudHsmInternalFailureException
          schema:
            $ref: '#/definitions/CloudHsmInternalFailureException'
        481:
          description: CloudHsmServiceException
          schema:
            $ref: '#/definitions/CloudHsmServiceException'
        482:
          description: CloudHsmResourceNotFoundException
          schema:
            $ref: '#/definitions/CloudHsmResourceNotFoundException'
        483:
          description: CloudHsmInvalidRequestException
          schema:
            $ref: '#/definitions/CloudHsmInvalidRequestException'
        484:
          description: CloudHsmAccessDeniedException
          schema:
            $ref: '#/definitions/CloudHsmAccessDeniedException'
  /#UntagResource:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Removes the specified tag or tags from the specified AWS CloudHSM
        cluster.
      operationId: UntagResource
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/UntagResourceRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/UntagResourceResponse'
        480:
          description: CloudHsmInternalFailureException
          schema:
            $ref: '#/definitions/CloudHsmInternalFailureException'
        481:
          description: CloudHsmServiceException
          schema:
            $ref: '#/definitions/CloudHsmServiceException'
        482:
          description: CloudHsmResourceNotFoundException
          schema:
            $ref: '#/definitions/CloudHsmResourceNotFoundException'
        483:
          description: CloudHsmInvalidRequestException
          schema:
            $ref: '#/definitions/CloudHsmInvalidRequestException'
        484:
          description: CloudHsmAccessDeniedException
          schema:
            $ref: '#/definitions/CloudHsmAccessDeniedException'
produces:
- application/json
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":64:{s:6:\"Backup\";O:8:\"stdClass\":4:{s:11:\"description\";s:63:\"Contains
  information about a backup of an AWS CloudHSM cluster.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"BackupId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/BackupId\";s:11:\"description\";s:34:\"The
  identifier (ID) of the backup.\";}s:11:\"BackupState\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/BackupState\";s:11:\"description\";s:24:\"The
  state of the backup.\";}s:9:\"ClusterId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/ClusterId\";s:11:\"description\";s:54:\"The
  identifier (ID) of the cluster that was backed up.\";}s:15:\"CreateTimestamp\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:46:\"The
  date and time when the backup was created.\";}}s:8:\"required\";a:1:{i:0;s:8:\"BackupId\";}s:4:\"type\";s:6:\"object\";}s:8:\"BackupId\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:25:\"backup-[2-7a-zA-Z]{11,16}\";s:4:\"type\";s:6:\"string\";}s:12:\"BackupPolicy\";O:8:\"stdClass\":2:{s:4:\"enum\";a:1:{i:0;s:7:\"DEFAULT\";}s:4:\"type\";s:6:\"string\";}s:11:\"BackupState\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:18:\"CREATE_IN_PROGRESS\";i:1;s:5:\"READY\";i:2;s:7:\"DELETED\";}s:4:\"type\";s:6:\"string\";}s:7:\"Backups\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Backup\";}s:4:\"type\";s:5:\"array\";}s:4:\"Cert\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:5000;s:7:\"pattern\";s:18:\"[a-zA-Z0-9+-/=\\s]*\";s:4:\"type\";s:6:\"string\";}s:12:\"Certificates\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"Contains
  one or more certificates or a certificate signing request (CSR).\";s:10:\"properties\";O:8:\"stdClass\":5:{s:22:\"AwsHardwareCertificate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Cert\";s:11:\"description\";s:61:\"The
  HSM hardware certificate issued (signed) by AWS CloudHSM.\";}s:18:\"ClusterCertificate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Cert\";s:11:\"description\";s:105:\"The
  cluster certificate issued (signed) by the issuing certificate authority (CA) of
  the cluster's owner.\";}s:10:\"ClusterCsr\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Cert\";s:11:\"description\";s:124:\"The
  cluster's certificate signing request (CSR). The CSR exists only when the cluster's
  state is <code>UNINITIALIZED</code>.\";}s:14:\"HsmCertificate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Cert\";s:11:\"description\";s:56:\"The
  HSM certificate issued (signed) by the HSM hardware.\";}s:31:\"ManufacturerHardwareCertificate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Cert\";s:11:\"description\";s:74:\"The
  HSM hardware certificate issued (signed) by the hardware manufacturer.\";}}s:4:\"type\";s:6:\"object\";}s:29:\"CloudHsmAccessDeniedException\";O:8:\"stdClass\":3:{s:11:\"description\";s:107:\"The
  request was rejected because the requester does not have permission to perform the
  requested operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/errorMessage\";}}s:4:\"type\";s:6:\"object\";}s:32:\"CloudHsmInternalFailureException\";O:8:\"stdClass\":3:{s:11:\"description\";s:97:\"The
  request was rejected because of an AWS CloudHSM internal failure. The request can
  be retried.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/errorMessage\";}}s:4:\"type\";s:6:\"object\";}s:31:\"CloudHsmInvalidRequestException\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"The
  request was rejected because it is not a valid request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/errorMessage\";}}s:4:\"type\";s:6:\"object\";}s:33:\"CloudHsmResourceNotFoundException\";O:8:\"stdClass\":3:{s:11:\"description\";s:78:\"The
  request was rejected because it refers to a resource that cannot be found.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/errorMessage\";}}s:4:\"type\";s:6:\"object\";}s:24:\"CloudHsmServiceException\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  request was rejected because an error occurred.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/errorMessage\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Cluster\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Contains
  information about an AWS CloudHSM cluster.\";s:10:\"properties\";O:8:\"stdClass\":13:{s:12:\"BackupPolicy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/BackupPolicy\";s:11:\"description\";s:28:\"The
  cluster's backup policy.\";}s:12:\"Certificates\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/Certificates\";s:11:\"description\";s:73:\"Contains
  one or more certificates or a certificate signing request (CSR).\";}s:9:\"ClusterId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/ClusterId\";s:11:\"description\";s:30:\"The
  cluster's identifier (ID).\";}s:15:\"CreateTimestamp\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:47:\"The
  date and time when the cluster was created.\";}s:7:\"HsmType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/HsmType\";s:11:\"description\";s:42:\"The
  type of HSM that the cluster contains.\";}s:4:\"Hsms\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Hsms\";s:11:\"description\";s:51:\"Contains
  information about the HSMs in the cluster.\";}s:13:\"PreCoPassword\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/PreCoPassword\";s:11:\"description\";s:71:\"The
  default password for the cluster's Pre-Crypto Officer (PRECO) user.\";}s:13:\"SecurityGroup\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/SecurityGroup\";s:11:\"description\";s:52:\"The
  identifier (ID) of the cluster's security group.\";}s:14:\"SourceBackupId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/BackupId\";s:11:\"description\";s:128:\"The
  identifier (ID) of the backup used to create the cluster. This value exists only
  when the cluster was created from a backup.\";}s:5:\"State\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ClusterState\";s:11:\"description\";s:20:\"The
  cluster's state.\";}s:12:\"StateMessage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/StateMessage\";s:11:\"description\";s:37:\"A
  description of the cluster's state.\";}s:13:\"SubnetMapping\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/ExternalSubnetMapping\";s:11:\"description\";s:74:\"A
  map of the cluster's subnets and their corresponding Availability Zones.\";}s:5:\"VpcId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/VpcId\";s:11:\"description\";s:81:\"The
  identifier (ID) of the virtual private cloud (VPC) that contains the cluster.\";}}s:4:\"type\";s:6:\"object\";}s:9:\"ClusterId\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:26:\"cluster-[2-7a-zA-Z]{11,16}\";s:4:\"type\";s:6:\"string\";}s:12:\"ClusterState\";O:8:\"stdClass\":2:{s:4:\"enum\";a:9:{i:0;s:18:\"CREATE_IN_PROGRESS\";i:1;s:13:\"UNINITIALIZED\";i:2;s:22:\"INITIALIZE_IN_PROGRESS\";i:3;s:11:\"INITIALIZED\";i:4;s:6:\"ACTIVE\";i:5;s:18:\"UPDATE_IN_PROGRESS\";i:6;s:18:\"DELETE_IN_PROGRESS\";i:7;s:7:\"DELETED\";i:8;s:8:\"DEGRADED\";}s:4:\"type\";s:6:\"string\";}s:8:\"Clusters\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Cluster\";}s:4:\"type\";s:5:\"array\";}s:20:\"CreateClusterRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"HsmType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/HsmType\";s:11:\"description\";s:100:\"The
  type of HSM to use in the cluster. Currently the only allowed value is <code>hsm1.medium</code>.\";}s:14:\"SourceBackupId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/BackupId\";s:11:\"description\";s:191:\"The
  identifier (ID) of the cluster backup to restore. Use this value to restore the
  cluster from a backup instead of creating a new cluster. To find the backup ID,
  use <a>DescribeBackups</a>.\";}s:9:\"SubnetIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/SubnetIds\";s:11:\"description\";s:352:\"<p>The
  identifiers (IDs) of the subnets where you are creating the cluster. You must specify
  at least one subnet. If you specify multiple subnets, they must meet the following
  criteria:</p> <ul> <li> <p>All subnets must be in the same virtual private cloud
  (VPC).</p> </li> <li> <p>You can specify only one subnet per Availability Zone.</p>
  </li> </ul>\";}}s:8:\"required\";a:2:{i:0;s:9:\"SubnetIds\";i:1;s:7:\"HsmType\";}s:4:\"type\";s:6:\"object\";}s:21:\"CreateClusterResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Cluster\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Cluster\";s:11:\"description\";s:47:\"Information
  about the cluster that was created.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"CreateHsmRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"AvailabilityZone\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ExternalAz\";s:11:\"description\";s:124:\"The
  Availability Zone where you are creating the HSM. To find the cluster's Availability
  Zones, use <a>DescribeClusters</a>.\";}s:9:\"ClusterId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/ClusterId\";s:11:\"description\";s:94:\"The
  identifier (ID) of the HSM's cluster. To find the cluster ID, use <a>DescribeClusters</a>.\";}s:9:\"IpAddress\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/IpAddress\";s:11:\"description\";s:235:\"The
  HSM's IP address. If you specify an IP address, use an available address from the
  subnet that maps to the Availability Zone where you are creating the HSM. If you
  don't specify an IP address, one is chosen for you from that subnet.\";}}s:8:\"required\";a:2:{i:0;s:9:\"ClusterId\";i:1;s:16:\"AvailabilityZone\";}s:4:\"type\";s:6:\"object\";}s:17:\"CreateHsmResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"Hsm\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Hsm\";s:11:\"description\";s:43:\"Information
  about the HSM that was created.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"DeleteClusterRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"ClusterId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/ClusterId\";s:11:\"description\";s:110:\"The
  identifier (ID) of the cluster that you are deleting. To find the cluster ID, use
  <a>DescribeClusters</a>.\";}}s:8:\"required\";a:1:{i:0;s:9:\"ClusterId\";}s:4:\"type\";s:6:\"object\";}s:21:\"DeleteClusterResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Cluster\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Cluster\";s:11:\"description\";s:47:\"Information
  about the cluster that was deleted.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"DeleteHsmRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"ClusterId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/ClusterId\";s:11:\"description\";s:79:\"The
  identifier (ID) of the cluster that contains the HSM that you are deleting.\";}s:5:\"EniId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/EniId\";s:11:\"description\";s:92:\"The
  identifier (ID) of the elastic network interface (ENI) of the HSM that you are deleting.\";}s:5:\"EniIp\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/IpAddress\";s:11:\"description\";s:87:\"The
  IP address of the elastic network interface (ENI) of the HSM that you are deleting.\";}s:5:\"HsmId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/HsmId\";s:11:\"description\";s:53:\"The
  identifier (ID) of the HSM that you are deleting.\";}}s:8:\"required\";a:1:{i:0;s:9:\"ClusterId\";}s:4:\"type\";s:6:\"object\";}s:17:\"DeleteHsmResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"HsmId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/HsmId\";s:11:\"description\";s:48:\"The
  identifier (ID) of the HSM that was deleted.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"DescribeBackupsRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"Filters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Filters\";s:11:\"description\";s:452:\"<p>One
  or more filters to limit the items returned in the response.</p> <p>Use the <code>backupIds</code>
  filter to return only the specified backups. Specify backups by their backup identifier
  (ID).</p> <p>Use the <code>clusterIds</code> filter to return only the backups for
  the specified clusters. Specify clusters by their cluster identifier (ID).</p> <p>Use
  the <code>states</code> filter to return only backups that match the specified state.</p>\";}s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/MaxSize\";s:11:\"description\";s:167:\"The
  maximum number of backups to return in the response. When there are more backups
  than the number you specify, the response contains a <code>NextToken</code> value.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:112:\"The
  <code>NextToken</code> value that you received in the previous response. Use this
  value to get more backups.\";}}s:4:\"type\";s:6:\"object\";}s:23:\"DescribeBackupsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Backups\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Backups\";s:11:\"description\";s:18:\"A
  list of backups.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:173:\"An
  opaque string that indicates that the response contains only a subset of backups.
  Use this value in a subsequent <code>DescribeBackups</code> request to get more
  backups.\";}}s:4:\"type\";s:6:\"object\";}s:23:\"DescribeClustersRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"Filters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Filters\";s:11:\"description\";s:466:\"<p>One
  or more filters to limit the items returned in the response.</p> <p>Use the <code>clusterIds</code>
  filter to return only the specified clusters. Specify clusters by their cluster
  identifier (ID).</p> <p>Use the <code>vpcIds</code> filter to return only the clusters
  in the specified virtual private clouds (VPCs). Specify VPCs by their VPC identifier
  (ID).</p> <p>Use the <code>states</code> filter to return only clusters that match
  the specified state.</p>\";}s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/MaxSize\";s:11:\"description\";s:169:\"The
  maximum number of clusters to return in the response. When there are more clusters
  than the number you specify, the response contains a <code>NextToken</code> value.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:113:\"The
  <code>NextToken</code> value that you received in the previous response. Use this
  value to get more clusters.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"DescribeClustersResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"Clusters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Clusters\";s:11:\"description\";s:19:\"A
  list of clusters.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:176:\"An
  opaque string that indicates that the response contains only a subset of clusters.
  Use this value in a subsequent <code>DescribeClusters</code> request to get more
  clusters.\";}}s:4:\"type\";s:6:\"object\";}s:5:\"EniId\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:21:\"eni-[0-9a-fA-F]{8,17}\";s:4:\"type\";s:6:\"string\";}s:10:\"ExternalAz\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:71:\"[a-z]{2}(-(gov|isob|iso))?-(east|west|north|south|central){1,2}-\\d[a-z]\";s:4:\"type\";s:6:\"string\";}s:21:\"ExternalSubnetMapping\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/ExternalAz\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/SubnetId\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:5:\"Field\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:14:\"[a-zA-Z0-9_-]+\";s:4:\"type\";s:6:\"string\";}s:7:\"Filters\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Field\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Strings\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:3:\"Hsm\";O:8:\"stdClass\":4:{s:11:\"description\";s:87:\"Contains
  information about a hardware security module (HSM) in an AWS CloudHSM cluster.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:16:\"AvailabilityZone\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ExternalAz\";s:11:\"description\";s:44:\"The
  Availability Zone that contains the HSM.\";}s:9:\"ClusterId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/ClusterId\";s:11:\"description\";s:57:\"The
  identifier (ID) of the cluster that contains the HSM.\";}s:5:\"EniId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/EniId\";s:11:\"description\";s:65:\"The
  identifier (ID) of the HSM's elastic network interface (ENI).\";}s:5:\"EniIp\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/IpAddress\";s:11:\"description\";s:60:\"The
  IP address of the HSM's elastic network interface (ENI).\";}s:5:\"HsmId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/HsmId\";s:11:\"description\";s:26:\"The
  HSM's identifier (ID).\";}s:5:\"State\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/HsmState\";s:11:\"description\";s:16:\"The
  HSM's state.\";}s:12:\"StateMessage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:33:\"A
  description of the HSM's state.\";}s:8:\"SubnetId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/SubnetId\";s:11:\"description\";s:67:\"The
  subnet that contains the HSM's elastic network interface (ENI).\";}}s:8:\"required\";a:1:{i:0;s:5:\"HsmId\";}s:4:\"type\";s:6:\"object\";}s:5:\"HsmId\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:22:\"hsm-[2-7a-zA-Z]{11,16}\";s:4:\"type\";s:6:\"string\";}s:8:\"HsmState\";O:8:\"stdClass\":2:{s:4:\"enum\";a:5:{i:0;s:18:\"CREATE_IN_PROGRESS\";i:1;s:6:\"ACTIVE\";i:2;s:8:\"DEGRADED\";i:3;s:18:\"DELETE_IN_PROGRESS\";i:4;s:7:\"DELETED\";}s:4:\"type\";s:6:\"string\";}s:7:\"HsmType\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:14:\"(hsm1\\.medium)\";s:4:\"type\";s:6:\"string\";}s:4:\"Hsms\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Hsm\";}s:4:\"type\";s:5:\"array\";}s:24:\"InitializeClusterRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"ClusterId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/ClusterId\";s:11:\"description\";s:110:\"The
  identifier (ID) of the cluster that you are claiming. To find the cluster ID, use
  <a>DescribeClusters</a>.\";}s:10:\"SignedCert\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Cert\";s:11:\"description\";s:167:\"The
  cluster certificate issued (signed) by your issuing certificate authority (CA).
  The certificate must be in PEM format and can contain a maximum of 5000 characters.\";}s:11:\"TrustAnchor\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Cert\";s:11:\"description\";s:387:\"The
  issuing certificate of the issuing certificate authority (CA) that issued (signed)
  the cluster certificate. This can be a root (self-signed) certificate or a certificate
  chain that begins with the certificate that issued the cluster certificate and ends
  with a root certificate. The certificate or certificate chain must be in PEM format
  and can contain a maximum of 5000 characters.\";}}s:8:\"required\";a:3:{i:0;s:9:\"ClusterId\";i:1;s:10:\"SignedCert\";i:2;s:11:\"TrustAnchor\";}s:4:\"type\";s:6:\"object\";}s:25:\"InitializeClusterResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"State\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ClusterState\";s:11:\"description\";s:20:\"The
  cluster's state.\";}s:12:\"StateMessage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/StateMessage\";s:11:\"description\";s:37:\"A
  description of the cluster's state.\";}}s:4:\"type\";s:6:\"object\";}s:9:\"IpAddress\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:34:\"\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}\\.\\d{1,3}\";s:4:\"type\";s:6:\"string\";}s:15:\"ListTagsRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/MaxSize\";s:11:\"description\";s:161:\"The
  maximum number of tags to return in the response. When there are more tags than
  the number you specify, the response contains a <code>NextToken</code> value.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:109:\"The
  <code>NextToken</code> value that you received in the previous response. Use this
  value to get more tags.\";}s:10:\"ResourceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/ClusterId\";s:11:\"description\";s:124:\"The
  cluster identifier (ID) for the cluster whose tags you are getting. To find the
  cluster ID, use <a>DescribeClusters</a>.\";}}s:8:\"required\";a:1:{i:0;s:10:\"ResourceId\";}s:4:\"type\";s:6:\"object\";}s:16:\"ListTagsResponse\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:160:\"An
  opaque string that indicates that the response contains only a subset of tags. Use
  this value in a subsequent <code>ListTags</code> request to get more tags.\";}s:7:\"TagList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/TagList\";s:11:\"description\";s:15:\"A
  list of tags.\";}}s:8:\"required\";a:1:{i:0;s:7:\"TagList\";}s:4:\"type\";s:6:\"object\";}s:7:\"MaxSize\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:100;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:9:\"NextToken\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:256;s:7:\"pattern\";s:2:\".*\";s:4:\"type\";s:6:\"string\";}s:13:\"PreCoPassword\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:32;s:9:\"minLength\";i:7;s:4:\"type\";s:6:\"string\";}s:13:\"SecurityGroup\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:14:\"sg-[0-9a-fA-F]\";s:4:\"type\";s:6:\"string\";}s:12:\"StateMessage\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:300;s:7:\"pattern\";s:2:\".*\";s:4:\"type\";s:6:\"string\";}s:6:\"String\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"Strings\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:4:\"type\";s:5:\"array\";}s:8:\"SubnetId\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:24:\"subnet-[0-9a-fA-F]{8,17}\";s:4:\"type\";s:6:\"string\";}s:9:\"SubnetIds\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/SubnetId\";}s:8:\"maxItems\";i:10;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:3:\"Tag\";O:8:\"stdClass\":4:{s:11:\"description\";s:42:\"Contains
  a tag. A tag is a key-value pair.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"Key\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/TagKey\";s:11:\"description\";s:19:\"The
  key of the tag.\";}s:5:\"Value\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/TagValue\";s:11:\"description\";s:21:\"The
  value of the tag.\";}}s:8:\"required\";a:2:{i:0;s:3:\"Key\";i:1;s:5:\"Value\";}s:4:\"type\";s:6:\"object\";}s:6:\"TagKey\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:128;s:9:\"minLength\";i:1;s:7:\"pattern\";s:31:\"^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$\";s:4:\"type\";s:6:\"string\";}s:10:\"TagKeyList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/TagKey\";}s:8:\"maxItems\";i:50;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:7:\"TagList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Tag\";}s:8:\"maxItems\";i:50;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:18:\"TagResourceRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"ResourceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/ClusterId\";s:11:\"description\";s:118:\"The
  cluster identifier (ID) for the cluster that you are tagging. To find the cluster
  ID, use <a>DescribeClusters</a>.\";}s:7:\"TagList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/TagList\";s:11:\"description\";s:27:\"A
  list of one or more tags.\";}}s:8:\"required\";a:2:{i:0;s:10:\"ResourceId\";i:1;s:7:\"TagList\";}s:4:\"type\";s:6:\"object\";}s:19:\"TagResourceResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:8:\"TagValue\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:256;s:9:\"minLength\";i:0;s:7:\"pattern\";s:31:\"^([\\p{L}\\p{Z}\\p{N}_.:/=+\\-@]*)$\";s:4:\"type\";s:6:\"string\";}s:9:\"Timestamp\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:20:\"UntagResourceRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"ResourceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/ClusterId\";s:11:\"description\";s:125:\"The
  cluster identifier (ID) for the cluster whose tags you are removing. To find the
  cluster ID, use <a>DescribeClusters</a>.\";}s:10:\"TagKeyList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/TagKeyList\";s:11:\"description\";s:113:\"A
  list of one or more tag keys for the tags that you are removing. Specify only the
  tag keys, not the tag values.\";}}s:8:\"required\";a:2:{i:0;s:10:\"ResourceId\";i:1;s:10:\"TagKeyList\";}s:4:\"type\";s:6:\"object\";}s:21:\"UntagResourceResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:5:\"VpcId\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:15:\"vpc-[0-9a-fA-F]\";s:4:\"type\";s:6:\"string\";}s:12:\"errorMessage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}"
...
