---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":15:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:9:\"x-twitter\";s:12:\"PermittedSoc\";}s:11:\"description\";s:623:\"You
  can use Code Signing for Amazon FreeRTOS (AWS Signer) to sign code that you created
  for any of the IoT devices that Amazon Web Services supports. AWS Signer is integrated
  with Amazon FreeRTOS, AWS Certificate Manager, and AWS CloudTrail. Amazon FreeRTOS
  customers can use AWS Signer to sign code images before making them available for
  microcontrollers. You can use ACM to import third-party certificates to be used
  by AWS Signer. For general information about using AWS Signer, see the <a href=\"http://docs.aws.amazon.com/signer/latest/developerguide/Welcome.html\">Code
  Signing for Amazon FreeRTOS Developer Guide</a>.\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache
  2.0 License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:10:\"AWS
  Signer\";s:7:\"version\";s:10:\"2017-08-25\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:90:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/signer-2017-08-25.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v4\";s:13:\"x-serviceName\";s:6:\"signer\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:16:\"amazonaws_signer\";s:4:\"type\";s:7:\"openapi\";}}"
host: signer.amazonaws.com
basePath: /
paths: ~
produces:
- application/json
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":74:{s:21:\"AccessDeniedException\";O:8:\"stdClass\":0:{}s:10:\"BucketName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:27:\"CancelSigningProfileRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:8:\"Category\";O:8:\"stdClass\":2:{s:4:\"enum\";a:1:{i:0;s:6:\"AWSIoT\";}s:4:\"type\";s:6:\"string\";}s:14:\"CertificateArn\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"ClientRequestToken\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"CompletedAt\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:9:\"CreatedAt\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:25:\"DescribeSigningJobRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:26:\"DescribeSigningJobResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":13:{s:11:\"completedAt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/CompletedAt\";s:11:\"description\";s:49:\"Date
  and time that the signing job was completed.\";}s:9:\"createdAt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/CreatedAt\";s:11:\"description\";s:47:\"Date
  and time that the signing job was created.\";}s:5:\"jobId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/JobId\";s:11:\"description\";s:36:\"The
  ID of the signing job on output.\";}s:9:\"overrides\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/SigningPlatformOverrides\";s:11:\"description\";s:67:\"A
  list of any overrides that were applied to the signing operation.\";}s:10:\"platformId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/PlatformId\";s:11:\"description\";s:81:\"The
  microcontroller platform to which your signed code image will be distributed.\";}s:11:\"profileName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ProfileName\";s:11:\"description\";s:61:\"The
  name of the profile that initiated the signing operation.\";}s:11:\"requestedBy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/RequestedBy\";s:11:\"description\";s:49:\"The
  IAM principal that requested the signing job.\";}s:12:\"signedObject\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/SignedObject\";s:11:\"description\";s:73:\"Name
  of the S3 bucket where the signed code image is saved by AWS Signer.\";}s:15:\"signingMaterial\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/SigningMaterial\";s:11:\"description\";s:60:\"Amazon
  Resource Name (ARN) of your code signing certificate.\";}s:17:\"signingParameters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/SigningParameters\";s:11:\"description\";s:143:\"Map
  of user-assigned key-value pairs used during signing. These values contain any information
  that you specified for use in your signing job. \";}s:6:\"source\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Source\";s:11:\"description\";s:69:\"The
  object that contains the name of your S3 bucket or your raw code.\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/SigningStatus\";s:11:\"description\";s:26:\"Status
  of the signing job.\";}s:12:\"statusReason\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/StatusReason\";s:11:\"description\";s:45:\"String
  value that contains the status reason.\";}}s:4:\"type\";s:6:\"object\";}s:11:\"Destination\";O:8:\"stdClass\":3:{s:11:\"description\";s:94:\"Points
  to an <code>S3Destination</code> object that contains information about your S3
  bucket.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"s3\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/S3Destination\";s:11:\"description\";s:38:\"The
  <code>S3Destination</code> object.\";}}s:4:\"type\";s:6:\"object\";}s:11:\"DisplayName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"EncryptionAlgorithm\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:3:\"RSA\";i:1;s:5:\"ECDSA\";}s:4:\"type\";s:6:\"string\";}s:26:\"EncryptionAlgorithmOptions\";O:8:\"stdClass\":4:{s:11:\"description\";s:73:\"The
  encryption algorithm options that are available to an AWS Signer job.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"allowedValues\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/EncryptionAlgorithms\";s:11:\"description\";s:80:\"The
  set of accepted encryption algorithms that are allowed in an AWS Signer job.\";}s:12:\"defaultValue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/EncryptionAlgorithm\";s:11:\"description\";s:67:\"The
  default encryption algorithm that is used by an AWS Signer job.\";}}s:8:\"required\";a:2:{i:0;s:13:\"allowedValues\";i:1;s:12:\"defaultValue\";}s:4:\"type\";s:6:\"object\";}s:20:\"EncryptionAlgorithms\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/EncryptionAlgorithm\";}s:4:\"type\";s:5:\"array\";}s:25:\"GetSigningPlatformRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:26:\"GetSigningPlatformResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:8:\"category\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Category\";s:11:\"description\";s:49:\"The
  category type of the target signing platform.\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/DisplayName\";s:11:\"description\";s:48:\"The
  display name of the target signing platform.\";}s:11:\"maxSizeInMB\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/MaxSizeInMB\";s:11:\"description\";s:82:\"The
  maximum size (in MB) of the payload that can be signed by the target platform.\";}s:7:\"partner\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:64:\"A
  list of partner entities that use the target signing platform.\";}s:10:\"platformId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/PlatformId\";s:11:\"description\";s:38:\"The
  ID of the target signing platform.\";}s:20:\"signingConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/SigningConfiguration\";s:11:\"description\";s:67:\"A
  list of configurations applied to the target platform at signing.\";}s:18:\"signingImageFormat\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/SigningImageFormat\";s:11:\"description\";s:50:\"The
  format of the target platform's signing image.\";}s:6:\"target\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:68:\"The
  validation template that is used by the target signing platform.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"GetSigningProfileRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:25:\"GetSigningProfileResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:9:\"overrides\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/SigningPlatformOverrides\";s:11:\"description\";s:81:\"A
  list of overrides applied by the target signing profile for signing operations.\";}s:10:\"platformId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/PlatformId\";s:11:\"description\";s:66:\"The
  ID of the platform that is used by the target signing profile.\";}s:11:\"profileName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ProfileName\";s:11:\"description\";s:39:\"The
  name of the target signing profile.\";}s:15:\"signingMaterial\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/SigningMaterial\";s:11:\"description\";s:79:\"The
  ARN of the certificate that the target profile uses for signing operations.\";}s:17:\"signingParameters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/SigningParameters\";s:11:\"description\";s:95:\"A
  map of key-value pairs for signing operations that is attached to the target signing
  profile.\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/SigningProfileStatus\";s:11:\"description\";s:41:\"The
  status of the target signing profile.\";}}s:4:\"type\";s:6:\"object\";}s:13:\"HashAlgorithm\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:4:\"SHA1\";i:1;s:6:\"SHA256\";}s:4:\"type\";s:6:\"string\";}s:20:\"HashAlgorithmOptions\";O:8:\"stdClass\":4:{s:11:\"description\";s:60:\"The
  hash algorithms that are available to an AWS Signer job.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"allowedValues\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/HashAlgorithms\";s:11:\"description\";s:65:\"The
  set of accepted hash algorithms allowed in an AWS Signer job.\";}s:12:\"defaultValue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/HashAlgorithm\";s:11:\"description\";s:61:\"The
  default hash algorithm that is used in an AWS Signer job.\";}}s:8:\"required\";a:2:{i:0;s:13:\"allowedValues\";i:1;s:12:\"defaultValue\";}s:4:\"type\";s:6:\"object\";}s:14:\"HashAlgorithms\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/HashAlgorithm\";}s:4:\"type\";s:5:\"array\";}s:11:\"ImageFormat\";O:8:\"stdClass\":2:{s:4:\"enum\";a:1:{i:0;s:4:\"JSON\";}s:4:\"type\";s:6:\"string\";}s:12:\"ImageFormats\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ImageFormat\";}s:4:\"type\";s:5:\"array\";}s:29:\"InternalServiceErrorException\";O:8:\"stdClass\":0:{}s:5:\"JobId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"Key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"ListSigningJobsRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:23:\"ListSigningJobsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"jobs\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/SigningJobs\";s:11:\"description\";s:28:\"A
  list of your signing jobs.\";}s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:56:\"String
  for specifying the next set of paginated results.\";}}s:4:\"type\";s:6:\"object\";}s:27:\"ListSigningPlatformsRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:28:\"ListSigningPlatformsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:65:\"Value
  for specifying the next set of paginated results to return.\";}s:9:\"platforms\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/SigningPlatforms\";s:11:\"description\";s:58:\"A
  list of all platforms that match the request parameters.\";}}s:4:\"type\";s:6:\"object\";}s:26:\"ListSigningProfilesRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:27:\"ListSigningProfilesResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"nextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:65:\"Value
  for specifying the next set of paginated results to return.\";}s:8:\"profiles\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/SigningProfiles\";s:11:\"description\";s:196:\"A
  list of profiles that are available in the AWS account. This includes profiles with
  the status of <code>CANCELED</code> if the <code>includeCanceled</code> parameter
  is set to <code>true</code>.\";}}s:4:\"type\";s:6:\"object\";}s:10:\"MaxResults\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:25;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:11:\"MaxSizeInMB\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"NextToken\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"PlatformId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"Prefix\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"ProfileName\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:20;s:9:\"minLength\";i:2;s:7:\"pattern\";s:17:\"^[a-zA-Z0-9_]{2,}\";s:4:\"type\";s:6:\"string\";}s:24:\"PutSigningProfileRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"overrides\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/SigningPlatformOverrides\";s:11:\"description\";s:218:\"A
  subfield of <code>platform</code>. This specifies any different configuration options
  that you want to apply to the chosen platform (such as a different <code>hash-algorithm</code>
  or <code>signing-algorithm</code>).\";}s:10:\"platformId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/PlatformId\";s:11:\"description\";s:44:\"The
  ID of the signing profile to be created.\";}s:15:\"signingMaterial\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/SigningMaterial\";s:11:\"description\";s:100:\"The
  AWS Certificate Manager certificate that will be used to sign code with the new
  signing profile.\";}s:17:\"signingParameters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/SigningParameters\";s:11:\"description\";s:106:\"Map
  of key-value pairs for signing. These can include any information that you want
  to use during signing.\";}}s:8:\"required\";a:2:{i:0;s:15:\"signingMaterial\";i:1;s:10:\"platformId\";}s:4:\"type\";s:6:\"object\";}s:25:\"PutSigningProfileResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:62:\"The
  Amazon Resource Name (ARN) of the signing profile created.\";}}s:4:\"type\";s:6:\"object\";}s:11:\"RequestedBy\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:25:\"ResourceNotFoundException\";O:8:\"stdClass\":0:{}s:13:\"S3Destination\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"The
  name and prefix of the S3 bucket where AWS Signer saves your signed objects.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"bucketName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/BucketName\";s:11:\"description\";s:22:\"Name
  of the S3 bucket.\";}s:6:\"prefix\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Prefix\";s:11:\"description\";s:102:\"An
  Amazon S3 prefix that you can use to limit responses to those that begin with the
  specified prefix.\";}}s:4:\"type\";s:6:\"object\";}s:14:\"S3SignedObject\";O:8:\"stdClass\":3:{s:11:\"description\";s:73:\"The
  S3 bucket name and key where AWS Signer saved your signed code image.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"bucketName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/BucketName\";s:11:\"description\";s:22:\"Name
  of the S3 bucket.\";}s:3:\"key\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/key\";s:11:\"description\";s:69:\"Key
  name that uniquely identifies a signed code image in your bucket.\";}}s:4:\"type\";s:6:\"object\";}s:8:\"S3Source\";O:8:\"stdClass\":4:{s:11:\"description\";s:67:\"Information
  about the S3 bucket where you saved your unsigned code.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"bucketName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/BucketName\";s:11:\"description\";s:22:\"Name
  of the S3 bucket.\";}s:3:\"key\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Key\";s:11:\"description\";s:63:\"Key
  name of the bucket object that contains your unsigned code.\";}s:7:\"version\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Version\";s:11:\"description\";s:63:\"Version
  of your source image in your version enabled S3 bucket.\";}}s:8:\"required\";a:3:{i:0;s:10:\"bucketName\";i:1;s:3:\"key\";i:2;s:7:\"version\";}s:4:\"type\";s:6:\"object\";}s:12:\"SignedObject\";O:8:\"stdClass\":3:{s:11:\"description\";s:103:\"Points
  to an <code>S3SignedObject</code> object that contains information about your signed
  code image.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"s3\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/S3SignedObject\";s:11:\"description\";s:32:\"The
  <code>S3SignedObject</code>.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"SigningConfiguration\";O:8:\"stdClass\":4:{s:11:\"description\";s:45:\"The
  configuration of an AWS Signer operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:26:\"encryptionAlgorithmOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/EncryptionAlgorithmOptions\";s:11:\"description\";s:74:\"The
  encryption algorithm options that are available for an AWS Signer job.\";}s:20:\"hashAlgorithmOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/HashAlgorithmOptions\";s:11:\"description\";s:68:\"The
  hash algorithm options that are available for an AWS Signer job.\";}}s:8:\"required\";a:2:{i:0;s:26:\"encryptionAlgorithmOptions\";i:1;s:20:\"hashAlgorithmOptions\";}s:4:\"type\";s:6:\"object\";}s:29:\"SigningConfigurationOverrides\";O:8:\"stdClass\":3:{s:11:\"description\";s:97:\"A
  signing configuration that overrides the default encryption or hash algorithm of
  a signing job.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"encryptionAlgorithm\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/EncryptionAlgorithm\";s:11:\"description\";s:91:\"A
  specified override of the default encryption algorithm that is used in an AWS Signer
  job.\";}s:13:\"hashAlgorithm\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/HashAlgorithm\";s:11:\"description\";s:85:\"A
  specified override of the default hash algorithm that is used in an AWS Signer job.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"SigningImageFormat\";O:8:\"stdClass\":4:{s:11:\"description\";s:54:\"The
  image format of an AWS Signer platform or profile.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"defaultFormat\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ImageFormat\";s:11:\"description\";s:50:\"The
  default format of an AWS Signer signing image.\";}s:16:\"supportedFormats\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ImageFormats\";s:11:\"description\";s:53:\"The
  supported formats of an AWS Signer signing image.\";}}s:8:\"required\";a:2:{i:0;s:16:\"supportedFormats\";i:1;s:13:\"defaultFormat\";}s:4:\"type\";s:6:\"object\";}s:10:\"SigningJob\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Contains
  information about a signing job.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:9:\"createdAt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/CreatedAt\";s:11:\"description\";s:51:\"The
  date and time that the signing job was created.\";}s:5:\"jobId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/JobId\";s:11:\"description\";s:26:\"The
  ID of the signing job.\";}s:12:\"signedObject\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/SignedObject\";s:11:\"description\";s:104:\"A
  <code>SignedObject</code> structure that contains information about a signing job's
  signed code image.\";}s:15:\"signingMaterial\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/SigningMaterial\";s:11:\"description\";s:127:\"A
  <code>SigningMaterial</code> object that contains the Amazon Resource Name (ARN)
  of the certificate used for the signing job.\";}s:6:\"source\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Source\";s:11:\"description\";s:88:\"A
  <code>Source</code> that contains information about a signing job's code image source.\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/SigningStatus\";s:11:\"description\";s:30:\"The
  status of the signing job.\";}}s:4:\"type\";s:6:\"object\";}s:11:\"SigningJobs\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/SigningJob\";}s:4:\"type\";s:5:\"array\";}s:15:\"SigningMaterial\";O:8:\"stdClass\":4:{s:11:\"description\";s:51:\"The
  ACM certificate that is used to sign your code.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"certificateArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/CertificateArn\";s:11:\"description\";s:82:\"The
  Amazon Resource Name (ARN) of the certificates that is used to sign your code.\";}}s:8:\"required\";a:1:{i:0;s:14:\"certificateArn\";}s:4:\"type\";s:6:\"object\";}s:19:\"SigningParameterKey\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"SigningParameterValue\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"SigningParameters\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/SigningParameterKey\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/SigningParameterValue\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:15:\"SigningPlatform\";O:8:\"stdClass\":3:{s:11:\"description\";s:111:\"Contains
  information about the signing configurations and parameters that is used to perform
  an AWS Signer job.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:8:\"category\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Category\";s:11:\"description\";s:39:\"The
  category of an AWS Signer platform.\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:43:\"The
  display name of an AWS Signer platform.\";}s:11:\"maxSizeInMB\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/MaxSizeInMB\";s:11:\"description\";s:77:\"The
  maximum size (in MB) of code that can be signed by a AWS Signer platform.\";}s:7:\"partner\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:54:\"Any
  partner entities linked to an AWS Signer platform.\";}s:10:\"platformId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:33:\"The
  ID of an AWS Signer platform.\";}s:20:\"signingConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/SigningConfiguration\";s:11:\"description\";s:136:\"The
  configuration of an AWS Signer platform. This includes the designated hash algorithm
  and encryption algorithm of a signing platform.\";}s:18:\"signingImageFormat\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/SigningImageFormat\";s:11:\"description\";s:64:\"The
  signing image format that is used by an AWS Signer platform.\";}s:6:\"target\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:66:\"The
  types of targets that can be signed by an AWS Signer platform.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"SigningPlatformOverrides\";O:8:\"stdClass\":3:{s:11:\"description\";s:86:\"Any
  overrides that are applied to the signing configuration of an AWS Signer platform.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:20:\"signingConfiguration\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/SigningConfigurationOverrides\";}}s:4:\"type\";s:6:\"object\";}s:16:\"SigningPlatforms\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/SigningPlatform\";}s:4:\"type\";s:5:\"array\";}s:14:\"SigningProfile\";O:8:\"stdClass\":3:{s:11:\"description\";s:132:\"Contains
  information about the ACM certificates and AWS Signer configuration parameters that
  can be used by a given AWS Signer user.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"platformId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/PlatformId\";s:11:\"description\";s:68:\"The
  ID of a platform that is available for use by a signing profile.\";}s:11:\"profileName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ProfileName\";s:11:\"description\";s:35:\"The
  name of the AWS Signer profile.\";}s:15:\"signingMaterial\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/SigningMaterial\";s:11:\"description\";s:67:\"The
  ACM certificate that is available for use by a signing profile.\";}s:17:\"signingParameters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/SigningParameters\";s:11:\"description\";s:64:\"The
  parameters that are available for use by an AWS Signer user.\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/SigningProfileStatus\";s:11:\"description\";s:36:\"The
  status of an AWS Signer profile.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"SigningProfileStatus\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:6:\"Active\";i:1;s:8:\"Canceled\";}s:4:\"type\";s:6:\"string\";}s:15:\"SigningProfiles\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/SigningProfile\";}s:4:\"type\";s:5:\"array\";}s:13:\"SigningStatus\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:10:\"InProgress\";i:1;s:6:\"Failed\";i:2;s:9:\"Succeeded\";}s:4:\"type\";s:6:\"string\";}s:6:\"Source\";O:8:\"stdClass\":3:{s:11:\"description\";s:113:\"An
  <code>S3Source</code> object that contains information about the S3 bucket where
  you saved your unsigned code.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"s3\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/S3Source\";s:11:\"description\";s:33:\"The
  <code>S3Source</code> object.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"StartSigningJobRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:18:\"clientRequestToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ClientRequestToken\";s:11:\"description\";s:133:\"String
  that identifies the signing request. All calls after the first that use this token
  return the same response as the first call.\";}s:11:\"destination\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Destination\";s:11:\"description\";s:123:\"The
  S3 bucket in which to save your signed object. The destination contains the name
  of your bucket and an optional prefix.\";}s:11:\"profileName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ProfileName\";s:11:\"description\";s:32:\"The
  name of the signing profile.\";}s:6:\"source\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Source\";s:11:\"description\";s:85:\"The
  S3 bucket that contains the object to sign or a BLOB that contains your raw code.\";}}s:8:\"required\";a:3:{i:0;s:6:\"source\";i:1;s:11:\"destination\";i:2;s:18:\"clientRequestToken\";}s:4:\"type\";s:6:\"object\";}s:23:\"StartSigningJobResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"jobId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/JobId\";s:11:\"description\";s:27:\"The
  ID of your signing job.\";}}s:4:\"type\";s:6:\"object\";}s:12:\"StatusReason\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"String\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"ThrottlingException\";O:8:\"stdClass\":0:{}s:19:\"ValidationException\";O:8:\"stdClass\":0:{}s:7:\"Version\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"bool\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"string\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}"
...
