---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":9:{s:11:\"description\";s:25:\"A messaging app
  for teams\";s:14:\"termsOfService\";s:38:\"https://slack.com/terms-of-service/api\";s:5:\"title\";s:5:\"Slack\";s:7:\"version\";s:5:\"1.0.0\";s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:95:\"https://api.apis.guru/v2/cache/logo/http_static.tumblr.com_wvuzcz9_LlKncfhmp_slack_logo_240.png\";}s:8:\"x-origin\";O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:104:\"https://raw.githubusercontent.com/APIs-guru/unofficial_openapi_specs/master/slack.com/1.0.0/swagger.yaml\";s:7:\"version\";s:3:\"2.0\";}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"slack.com\";s:16:\"x-unofficialSpec\";b:1;}"
host: slack.com
basePath: /api
paths:
  /auth.test:
    get:
      description: Checks authentication and tells you who you are.
      parameters:
      - description: Authentication token
        in: query
        name: token
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/user'
      security:
      - oauth_2_0:
        - identify
  /channels.history:
    get:
      description: Fetches history of messages and events from a channel.
      parameters:
      - description: Channel to fetch history for.
        in: query
        name: channel
        required: true
        type: string
      - default: now
        description: Timestamp of the oldest recent seen message.
        in: query
        name: latest
        type: string
      - description: Timestamp of the latest previously seen message.
        in: query
        name: oldest
        type: string
      - default: 100
        description: Number of messages to return, between 1 and 1000.
        in: query
        name: count
        type: number
      - in: query
        name: has_more
        type: boolean
      - in: query
        name: is_limited
        type: boolean
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/channelsHistory'
  /channels.info:
    get:
      description: Gets information about a channel.
      parameters:
      - description: Channel to fetch history for.
        in: query
        name: channel
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/searchAll'
  /channels.invite:
    get:
      description: Invites a user to a channel.
      parameters:
      - description: Channel to fetch history for.
        in: query
        name: channel
        required: true
        type: string
      - description: User to invite to channel.
        in: query
        name: user
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/channelsInvite'
  /channels.join:
    get:
      description: Joins a channel, creating it if needed.
      parameters:
      - description: Name of channel to join
        in: query
        name: name
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/channelsInvite'
  /channels.leave:
    get:
      description: Leaves a channel.
      parameters:
      - description: Channel to fetch history for.
        in: query
        name: channel
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ok'
  /channels.list:
    get:
      description: Lists all channels in a Slack team.
      parameters:
      - description: Don't return archived channels.
        in: query
        name: exclude_archived
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/channels'
  /channels.mark:
    get:
      description: Sets the read cursor in a channel.
      parameters:
      - description: Channel to fetch history for.
        in: query
        name: channel
        required: true
        type: string
      - description: Timestamp of the most recently seen message.
        in: query
        name: ts
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ok'
  /channels.setPurpose:
    get:
      description: Sets the purpose for a channel.
      parameters:
      - description: Channel to fetch history for.
        in: query
        name: channel
        required: true
        type: string
      - description: The new purpose
        in: query
        name: purpose
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/purpose'
  /channels.setTopic:
    get:
      description: Sets the topic for a channel.
      parameters:
      - description: Channel to fetch history for.
        in: query
        name: channel
        required: true
        type: string
      - description: The new topic
        in: query
        name: topic
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/topic'
  /chat.delete:
    get:
      description: Deletes a message.
      parameters:
      - description: Channel to fetch history for.
        in: query
        name: channel
        required: true
        type: string
      - description: Timestamp of the most recently seen message.
        in: query
        name: ts
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/chatOk'
  /chat.postMessage:
    get:
      description: Sends a message to a channel.
      parameters:
      - description: Channel to fetch history for.
        in: query
        name: channel
        required: true
        type: string
      - description: Text of the message to send. See below for an explanation of
          formatting.
        in: query
        name: text
        required: true
        type: string
      - description: Name of bot.
        in: query
        name: username
        type: string
      - description: Change how messages are treated. See below.
        in: query
        name: parse
        type: string
      - description: Find and link channel names and usernames.
        in: query
        name: link_names
        type: string
      - description: Pass 1 to enable unfurling of primarily text-based content.
        in: query
        name: unfurl_links
        type: string
      - description: URL to an image to use as the icon for this message
        in: query
        name: icon_url
        type: string
      - description: emoji to use as the icon for this message. Overrides icon_url.
        in: query
        name: icon_emoji
        type: string
      - description: Structured message attachments.
        in: query
        name: attachments
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/chatOk'
  /chat.update:
    get:
      description: Updates a message.
      parameters:
      - description: Channel to fetch history for.
        in: query
        name: channel
        required: true
        type: string
      - description: Text of the message to send. See below for an explanation of
          formatting.
        in: query
        name: text
        required: true
        type: string
      - description: Timestamp of the most recently seen message.
        in: query
        name: ts
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/chatUpdate'
  /emoji.list:
    get:
      description: Lists custom emoji for a team.
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/emojiList'
  /files.info:
    get:
      description: Gets information about a team file.
      parameters:
      - description: File to fetch info for
        in: query
        name: file
        required: true
        type: string
      - default: 100
        description: Number of items to return per page.
        in: query
        name: count
        type: number
      - default: 1
        description: Page number of results to return.
        in: query
        name: page
        type: number
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/fileObj'
  /files.list:
    get:
      description: Lists and filters team files.
      parameters:
      - description: File to fetch info for
        in: query
        name: file
        required: true
        type: string
      - description: Filter files created by a single user.
        in: query
        name: user
        type: string
      - description: Filter files created after this timestamp (inclusive).
        in: query
        name: ts_from
        type: string
      - default: now
        description: Filter files created before this timestamp (inclusive).
        in: query
        name: ts_to
        type: string
      - description: You can pass multiple values in the types argument, like types=posts,snippets.The
          default value is all, which does not filter the list.
        enum:
        - pdfs
        - zips
        - posts
        - images
        - snippets
        - gdocs
        - all
        in: query
        name: types
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/files'
  /files.upload:
    get:
      description: Uploads or creates a file.
      parameters:
      - description: File contents via multipart/form-data.
        in: query
        name: file
        type: string
      - description: File contents via a POST var.
        in: query
        name: content
        type: string
      - description: Slack-internal file type identifier.
        in: query
        name: filetype
        type: string
      - description: Filename of file.
        in: query
        name: filename
        type: string
      - description: Title of file.
        in: query
        name: title
        type: string
      - description: Initial comment to add to file.
        in: query
        name: initial_comment
        type: string
      - description: Comma separated list of channels to share the file into.
        in: query
        name: channels
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/fileObj'
  /groups.history:
    get:
      description: Fetches history of messages and events from a private group.
      parameters:
      - description: Group to fetch history for.
        in: query
        name: channel
        required: true
        type: string
      - default: now
        description: Timestamp of the oldest recent seen message.
        in: query
        name: latest
        type: string
      - description: Timestamp of the latest previously seen message.
        in: query
        name: oldest
        type: string
      - default: 100
        description: Number of messages to return, between 1 and 1000.
        in: query
        name: count
        type: number
      - in: query
        name: has_more
        type: boolean
      - in: query
        name: is_limited
        type: boolean
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/channelsHistory'
  /groups.list:
    get:
      description: Lists private groups that the calling user has access to.
      parameters:
      - description: Don't return archived channels.
        in: query
        name: exclude_archived
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/groups'
  /groups.mark:
    get:
      description: Sets the read cursor in a private group.
      parameters:
      - description: Group to fetch history for.
        in: query
        name: channel
        required: true
        type: string
      - description: Timestamp of the most recently seen message.
        in: query
        name: ts
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ok'
  /groups.setPurpose:
    get:
      description: Sets the purpose for a private group.
      parameters:
      - description: Group to fetch history for.
        in: query
        name: channel
        required: true
        type: string
      - description: The new purpose
        in: query
        name: purpose
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/purpose'
  /groups.setTopic:
    get:
      description: Sets the topic for a private group.
      parameters:
      - description: Channel to fetch history for.
        in: query
        name: channel
        required: true
        type: string
      - description: The new topic
        in: query
        name: topic
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/topic'
  /im.history:
    get:
      description: Fetches history of messages and events from direct message channel.
      parameters:
      - description: Direct message channel to fetch history for.
        in: query
        name: channel
        required: true
        type: string
      - default: now
        description: Timestamp of the oldest recent seen message.
        in: query
        name: latest
        type: string
      - description: Timestamp of the latest previously seen message.
        in: query
        name: oldest
        type: string
      - default: 100
        description: Number of messages to return, between 1 and 1000.
        in: query
        name: count
        type: number
      - in: query
        name: has_more
        type: boolean
      - in: query
        name: is_limited
        type: boolean
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/channelsHistory'
  /im.list:
    get:
      description: Lists direct message channels for the calling user.
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ims'
  /im.mark:
    get:
      description: Sets the read cursor in a direct message channel.
      parameters:
      - description: Channel to fetch history for.
        in: query
        name: channel
        required: true
        type: string
      - description: Timestamp of the most recently seen message.
        in: query
        name: ts
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/ok'
  /search.all:
    get:
      description: Searches for messages and files matching a query.
      parameters:
      - description: Search query. May contains booleans, etc.
        in: query
        name: query
        required: true
        type: string
      - default: score
        description: Return matches sorted by either score or timestamp.
        enum:
        - timestamp
        - score
        in: query
        name: sort
        type: string
      - default: desc
        description: Change sort direction to ascending (asc) or descending (desc).
        enum:
        - desc
        - asc
        in: query
        name: sort_dir
        type: string
      - description: Pass a value of 1 to enable query highlight markers .
        in: query
        name: highlight
        type: string
      - default: 100
        description: Number of items to return per page.
        in: query
        name: count
        type: number
      - default: 1
        description: Page number of results to return.
        in: query
        name: page
        type: number
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/searchAll'
  /search.files:
    get:
      description: Searches for files matching a query.
      parameters:
      - description: Search query. May contains booleans, etc.
        in: query
        name: query
        required: true
        type: string
      - default: score
        description: Return matches sorted by either score or timestamp.
        enum:
        - timestamp
        - score
        in: query
        name: sort
        type: string
      - default: desc
        description: Change sort direction to ascending (asc) or descending (desc).
        enum:
        - desc
        - asc
        in: query
        name: sort_dir
        type: string
      - description: Pass a value of 1 to enable query highlight markers .
        in: query
        name: highlight
        type: string
      - default: 100
        description: Number of items to return per page.
        in: query
        name: count
        type: number
      - default: 1
        description: Page number of results to return.
        in: query
        name: page
        type: number
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/searchFiles'
  /search.messages:
    get:
      description: Searches for messages matching a query.
      parameters:
      - description: Search query. May contains booleans, etc.
        in: query
        name: query
        required: true
        type: string
      - default: score
        description: Return matches sorted by either score or timestamp.
        enum:
        - timestamp
        - score
        in: query
        name: sort
        type: string
      - default: desc
        description: Change sort direction to ascending (asc) or descending (desc).
        enum:
        - desc
        - asc
        in: query
        name: sort_dir
        type: string
      - description: Pass a value of 1 to enable query highlight markers .
        in: query
        name: highlight
        type: string
      - default: 100
        description: Number of items to return per page.
        in: query
        name: count
        type: number
      - default: 1
        description: Page number of results to return.
        in: query
        name: page
        type: number
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/searchMessages'
  /stars.list:
    get:
      description: Lists stars for a user.
      parameters:
      - description: Show stars by this user. Defaults to the authed user.
        in: query
        name: user
        type: string
      - default: 100
        description: Number of items to return per page.
        in: query
        name: count
        type: number
      - default: 1
        description: Page number of results to return.
        in: query
        name: page
        type: number
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/starList'
  /users.list:
    get:
      description: Lists all users in a Slack team.
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/usersList'
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":20:{s:12:\"channalsInfo\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"channel\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":15:{s:7:\"created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"creator\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"is_archived\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"is_channel\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"is_general\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"is_member\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"last_read\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"latest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"attachments\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":11:{s:8:\"fallback\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"from_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:11:\"image_bytes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:12:\"image_height\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"image_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"image_width\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:12:\"service_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"title_link\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:4:\"text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"ts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"user\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"members\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"purpose\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"creator\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"last_set\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"topic\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"creator\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"last_set\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"unread_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"unread_count_display\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:2:\"ok\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:8:\"channels\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"channels\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:7:\"created\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"creator\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"is_archived\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"is_member\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:7:\"members\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"num_members\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"purpose\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"creator\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"last_set\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"topic\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"creator\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"last_set\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:2:\"ok\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:15:\"channelsHistory\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"has_more\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:6:\"latest\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"messages\";O:8:\"stdClass\":2:{s:5:\"items\";a:3:{i:0;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"ts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"user\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}i:1;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"is_starred\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"ts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"user\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}i:2;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"ts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"wibblr\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:5:\"array\";}s:2:\"ok\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:14:\"channelsInvite\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"channel\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":15:{s:7:\"created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"creator\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"is_archived\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"is_channel\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"is_general\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"is_member\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"last_read\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"latest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"subtype\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"ts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"user\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"members\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"purpose\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"creator\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"last_set\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"topic\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"creator\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"last_set\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"unread_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"unread_count_display\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:2:\"ok\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:6:\"chatOk\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"channel\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"ok\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:2:\"ts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"chatUpdate\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"channel\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"ok\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"ts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"emojiList\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"emoji\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"bowtie\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"shipit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"squirrel\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:2:\"ok\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:7:\"fileObj\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"file\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:2:\"ok\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:5:\"files\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"files\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":27:{s:8:\"channels\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":0:{}s:4:\"type\";s:5:\"array\";}s:14:\"comments_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"editable\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:13:\"external_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"filetype\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"groups\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":0:{}s:4:\"type\";s:5:\"array\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"ims\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:15:\"initial_comment\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"comment\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"timestamp\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"user\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"is_external\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"is_public\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"mimetype\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"mode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"permalink\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"permalink_public\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"pretty_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"public_url_shared\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"size\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"timestamp\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"url_download\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"url_private\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"url_private_download\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"user\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:2:\"ok\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:6:\"paging\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"count\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"page\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"pages\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"total\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:6:\"groups\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"groups\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:7:\"created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"creator\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"is_archived\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"is_group\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:7:\"members\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"purpose\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"creator\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"last_set\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"topic\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"creator\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"last_set\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:2:\"ok\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:3:\"ims\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"ims\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"is_user_deleted\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"user\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:2:\"ok\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:2:\"ok\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"ok\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:7:\"purpose\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"ok\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:7:\"purpose\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"searchAll\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"channel\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":15:{s:7:\"created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"creator\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"is_archived\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"is_channel\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"is_general\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"is_member\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"last_read\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"latest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"attachments\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":11:{s:8:\"fallback\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"from_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:11:\"image_bytes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:12:\"image_height\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"image_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"image_width\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:12:\"service_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"title_link\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:4:\"text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"ts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"user\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"members\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"purpose\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"creator\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"last_set\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"topic\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"creator\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"last_set\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"unread_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:20:\"unread_count_display\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:2:\"ok\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:11:\"searchFiles\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"files\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"matches\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":32:{s:8:\"channels\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":0:{}s:4:\"type\";s:5:\"array\";}s:14:\"comments_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"edit_link\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"editable\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:13:\"external_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"filetype\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"groups\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":0:{}s:4:\"type\";s:5:\"array\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"ims\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:15:\"initial_comment\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"comment\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"timestamp\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"user\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"is_external\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"is_public\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:5:\"lines\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:10:\"lines_more\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"mimetype\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"mode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"permalink\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"permalink_public\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"pretty_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"preview\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"preview_highlight\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"public_url_shared\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"size\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"timestamp\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"url_download\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"url_private\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"url_private_download\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"user\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:10:\"pagination\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:5:\"first\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"last\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"page\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:10:\"page_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"per_page\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:11:\"total_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:6:\"paging\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"count\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"page\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"pages\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"total\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:5:\"total\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:2:\"ok\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:5:\"query\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"searchMessages\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"messages\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"matches\";O:8:\"stdClass\":2:{s:5:\"items\";a:2:{i:0;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":11:{s:7:\"channel\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"next\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"ts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"user\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"username\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"next_2\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"ts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"user\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"username\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"permalink\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"previous\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"ts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"user\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"username\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"previous_2\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"ts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"user\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"username\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"ts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"user\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"username\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}i:1;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:7:\"channel\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"permalink\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"previous\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"ts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"user\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"username\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"previous_2\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"ts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"user\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"username\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"ts\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"user\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"username\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:5:\"array\";}s:10:\"pagination\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:5:\"first\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"last\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"page\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:10:\"page_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:8:\"per_page\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:11:\"total_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:6:\"paging\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"count\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"page\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"pages\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"total\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:5:\"total\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:2:\"ok\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:5:\"query\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"starList\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";a:4:{i:0;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"channel\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}i:1;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"file\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}i:2;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"comment\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"file\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}i:3;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"channel\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:5:\"array\";}s:2:\"ok\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:6:\"paging\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"count\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"page\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"pages\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:5:\"total\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:5:\"topic\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"ok\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:5:\"topic\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"user\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"ok\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"team\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"team_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"user\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"user_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"usersList\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"members\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:5:\"color\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"deleted\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"has_files\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"is_admin\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"is_owner\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"profile\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":11:{s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"first_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"image_192\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"image_24\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"image_32\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"image_48\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"image_72\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"last_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"phone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"real_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"skype\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:2:\"ok\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}}"
...
