---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:11:\"description\";s:434:\"Headline : Eloqua
  is a platform for businesses interested in automated marketing and reporting services.
  The Eloqua platform provides services to aid in campaign execution, testing, measurement,
  prospect profiling, and lead nurturing. The services provided by the API allow users
  to integrate their existing systems with the Eloqua platform and manage a variety
  of assets and data stores that are accumulated in platform's data store.\";s:7:\"version\";s:3:\"1.0\";s:5:\"title\";s:6:\"Eloqua\";}"
host: secure.eloqua.com
basePath: ""
paths:
  /assets:
    get:
      summary: Retrieve object
      description: Retrieve object
      operationId: GET
      consumes: []
      parameters:
      - name: count
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: extensions
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: lastUpdatedAt
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: depth
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: orderBy
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: search
        in: query
        description: (Untitled)
        required: false
        type: string
      responses:
        200:
          description: No error, operation successful.rn
          schema:
            $ref: '#/definitions/minimal'
  /assets//cloud/component/{componentId}/instance:
    post:
      summary: Create object
      description: Create object
      operationId: POST
      consumes: []
      parameters: []
      responses:
        200:
          description: (Untitled)
          schema:
            $ref: '#/definitions/cloudComponentInstance'
    parameters:
    - name: componentId
      in: path
      description: (Untitled)
      required: true
      type: string
  /assets//contact/field:
    post:
      summary: Create object
      description: Create object
      operationId: POST
      consumes:
      - application/json
      parameters:
      - in: body
        name: body
        description: (Untitled)
        required: true
        schema:
          $ref: '#/definitions/contactField'
      responses:
        200:
          description: (Untitled)
          schema:
            $ref: '#/definitions/contactField'
  /assets//contact/fields:
    get:
      summary: Retrieve object
      description: Retrieve object
      operationId: GET
      consumes: []
      parameters:
      - name: depth
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: orderBy
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: page
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: search
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: lastUpdatedAt
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: count
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: extensions
        in: query
        description: (Untitled)
        required: false
        type: string
      responses:
        200:
          description: No error, operation successful.rn
          schema:
            $ref: '#/definitions/contactField'
  /assets//contact/filters:
    get:
      summary: Retrieve object
      description: Retrieve object
      operationId: GET
      consumes: []
      parameters:
      - name: lastUpdatedAt
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: page
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: search
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: count
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: extensions
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: orderBy
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: depth
        in: query
        description: (Untitled)
        required: false
        type: string
      responses:
        200:
          description: No error, operation successful.rn
          schema:
            $ref: '#/definitions/contactFilter'
  /assets//contact/import:
    post:
      summary: Create object
      description: Create object
      operationId: POST
      consumes:
      - application/json
      parameters:
      - in: body
        name: body
        description: (Untitled)
        required: true
        schema:
          $ref: '#/definitions/contactImport'
      responses:
        200:
          description: (Untitled)
          schema:
            $ref: '#/definitions/contactImport'
  /assets//contact/import/priorities:
    get:
      summary: Retrieve object
      description: Retrieve object
      operationId: GET
      consumes: []
      parameters:
      - name: extensions
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: page
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: depth
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: count
        in: query
        description: (Untitled)
        required: false
        type: string
      responses:
        200:
          description: No error, operation successful.rn
          schema:
            $ref: '#/definitions/dataImportPriority'
  /assets//contact/import/{id}/preview:
    get:
      summary: Retrieve object
      description: Retrieve object
      operationId: GET
      consumes: []
      parameters:
      - name: count
        in: query
        description: (Untitled)
        required: false
        type: string
      responses:
        200:
          description: No error, operation successful.rn
          schema:
            $ref: '#/definitions/dataImportPreview'
    parameters:
    - name: id
      in: path
      description: (Untitled)
      required: true
      type: string
  /assets//contact/import/{id}/{fileType}:
    post:
      summary: Create object
      description: Create object
      operationId: POST
      consumes: []
      parameters: []
      responses:
        200:
          description: (Untitled)
          schema:
            $ref: '#/definitions/contactImport'
    parameters:
    - name: id
      in: path
      description: (Untitled)
      required: true
      type: string
    - name: fileType
      in: path
      description: (Untitled)
      required: true
      type: string
  /assets//contact/imports:
    get:
      summary: Retrieve object
      description: Retrieve object
      operationId: GET
      consumes: []
      parameters:
      - name: lastUpdatedAt
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: search
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: orderBy
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: count
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: extensions
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: depth
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: page
        in: query
        description: (Untitled)
        required: false
        type: string
      responses:
        200:
          description: No error, operation successful.rn
          schema:
            $ref: '#/definitions/contactImport'
  /assets//contact/list/intersection:
    post:
      summary: Create object
      description: Create object
      operationId: POST
      consumes:
      - application/json
      parameters:
      - in: body
        name: body
        description: (Untitled)
        required: true
        schema:
          $ref: '#/definitions/minimal'
      responses:
        200:
          description: (Untitled)
          schema:
            $ref: '#/definitions/contactList'
  /assets//contact/list/union:
    post:
      summary: Create object
      description: Create object
      operationId: POST
      consumes:
      - application/json
      parameters:
      - in: body
        name: body
        description: (Untitled)
        required: true
        schema:
          $ref: '#/definitions/minimal'
      responses:
        200:
          description: (Untitled)
          schema:
            $ref: '#/definitions/contactList'
  /assets//contact/list/{id}/remainder:
    post:
      summary: Create object
      description: Create object
      operationId: POST
      consumes:
      - application/json
      parameters:
      - in: body
        name: body
        description: (Untitled)
        required: true
        schema:
          $ref: '#/definitions/minimal'
      responses:
        200:
          description: (Untitled)
          schema:
            $ref: '#/definitions/contactList'
    parameters:
    - name: id
      in: path
      description: (Untitled)
      required: true
      type: string
  /assets//contact/lists:
    get:
      summary: Retrieve object
      description: Retrieve object
      operationId: GET
      consumes: []
      parameters:
      - name: orderBy
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: search
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: depth
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: count
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: extensions
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: page
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: lastUpdatedAt
        in: query
        description: (Untitled)
        required: false
        type: string
      responses:
        200:
          description: No error, operation successful.rn
          schema:
            $ref: '#/definitions/contactList'
  /assets//contact/segment/{id}/active/validationErrors:
    get:
      summary: Retrieve object
      description: Retrieve object
      operationId: GET
      consumes: []
      parameters: []
      responses:
        200:
          description: No error, operation successful.rn
          schema:
            $ref: '#/definitions/objectValidationError'
    parameters:
    - name: id
      in: path
      description: (Untitled)
      required: true
      type: string
  /assets//contact/segment/{id}/count:
    get:
      summary: Retrieve object
      description: Retrieve object
      operationId: GET
      consumes: []
      parameters: []
      responses:
        200:
          description: No error, operation successful.rn
          schema:
            $ref: '#/definitions/contactSegmentCount'
    parameters:
    - name: id
      in: path
      description: (Untitled)
      required: true
      type: string
  /assets//contact/segment/{id}/list:
    post:
      summary: Create object
      description: Create object
      operationId: POST
      consumes:
      - application/json
      parameters:
      - in: body
        name: body
        description: (Untitled)
        required: true
        schema:
          $ref: '#/definitions/contactList'
      responses:
        200:
          description: (Untitled)
          schema:
            $ref: '#/definitions/contactList'
    parameters:
    - name: id
      in: path
      description: (Untitled)
      required: true
      type: string
  /assets//contact/segments:
    get:
      summary: Retrieve object
      description: Retrieve object
      operationId: GET
      consumes: []
      parameters:
      - name: page
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: lastUpdatedAt
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: count
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: orderBy
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: search
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: depth
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: extensions
        in: query
        description: (Untitled)
        required: false
        type: string
      responses:
        200:
          description: No error, operation successful.rn
          schema:
            $ref: '#/definitions/contactSegment'
  /assets//contact/segments/recent:
    get:
      summary: Retrieve object
      description: Retrieve object
      operationId: GET
      consumes: []
      parameters:
      - name: depth
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: extensions
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: count
        in: query
        description: (Untitled)
        required: false
        type: string
      responses:
        200:
          description: No error, operation successful.rn
          schema:
            $ref: '#/definitions/contactSegment'
  /assets//contact/view:
    post:
      summary: Create object
      description: Create object
      operationId: POST
      consumes:
      - application/json
      parameters:
      - in: body
        name: body
        description: (Untitled)
        required: true
        schema:
          $ref: '#/definitions/contactView'
      responses:
        200:
          description: (Untitled)
          schema:
            $ref: '#/definitions/contactView'
  /assets//contact/views:
    get:
      summary: Retrieve object
      description: Retrieve object
      operationId: GET
      consumes: []
      parameters:
      - name: depth
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: lastUpdatedAt
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: extensions
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: count
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: search
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: page
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: orderBy
        in: query
        description: (Untitled)
        required: false
        type: string
      responses:
        200:
          description: No error, operation successful.rn
          schema:
            $ref: '#/definitions/contactView'
  /assets//contentSection:
    post:
      summary: Create object
      description: Create object
      operationId: POST
      consumes:
      - application/json
      parameters:
      - in: body
        name: body
        description: (Untitled)
        required: true
        schema:
          $ref: '#/definitions/contentSection'
      responses:
        200:
          description: (Untitled)
          schema:
            $ref: '#/definitions/contentSection'
  /assets//contentSections:
    get:
      summary: Retrieve object
      description: Retrieve object
      operationId: GET
      consumes: []
      parameters:
      - name: search
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: extensions
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: lastUpdatedAt
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: orderBy
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: count
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: depth
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: page
        in: query
        description: (Untitled)
        required: false
        type: string
      responses:
        200:
          description: No error, operation successful.rn
          schema:
            $ref: '#/definitions/contentSection'
  /assets//customObject:
    post:
      summary: Create object
      description: Create object
      operationId: POST
      consumes:
      - application/json
      parameters:
      - in: body
        name: body
        description: (Untitled)
        required: true
        schema:
          $ref: '#/definitions/customObject'
      responses:
        200:
          description: (Untitled)
          schema:
            $ref: '#/definitions/customObject'
  /assets//customObject/updateRuleSets:
    get:
      summary: Retrieve object
      description: Retrieve object
      operationId: GET
      consumes: []
      parameters:
      - name: depth
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: orderBy
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: lastUpdatedAt
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: page
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: extensions
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: count
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: search
        in: query
        description: (Untitled)
        required: false
        type: string
      responses:
        200:
          description: No error, operation successful.rn
          schema:
            $ref: '#/definitions/customObjectUpdateRuleSet'
  /assets//customObjects:
    get:
      summary: Retrieve object
      description: Retrieve object
      operationId: GET
      consumes: []
      parameters:
      - name: search
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: orderBy
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: extensions
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: page
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: count
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: lastUpdatedAt
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: depth
        in: query
        description: (Untitled)
        required: false
        type: string
      responses:
        200:
          description: No error, operation successful.rn
          schema:
            $ref: '#/definitions/customObject'
  /assets//dynamicContent:
    post:
      summary: Create object
      description: Create object
      operationId: POST
      consumes:
      - application/json
      parameters:
      - in: body
        name: body
        description: (Untitled)
        required: true
        schema:
          $ref: '#/definitions/dynamicContent'
      responses:
        200:
          description: (Untitled)
          schema:
            $ref: '#/definitions/dynamicContent'
  /assets//dynamicContents:
    get:
      summary: Retrieve object
      description: Retrieve object
      operationId: GET
      consumes: []
      parameters:
      - name: search
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: extensions
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: count
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: orderBy
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: lastUpdatedAt
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: depth
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: page
        in: query
        description: (Untitled)
        required: false
        type: string
      responses:
        200:
          description: No error, operation successful.rn
          schema:
            $ref: '#/definitions/dynamicContent'
  /assets//email/config:
    get:
      summary: Retrieve object
      description: Retrieve object
      operationId: GET
      consumes: []
      parameters: []
      responses:
        200:
          description: No error, operation successful.rn
          schema:
            $ref: '#/definitions/emailConfig'
    put:
      summary: Update object
      description: Update object
      operationId: PUT
      consumes:
      - application/json
      parameters:
      - in: body
        name: body
        description: (Untitled)
        required: true
        schema:
          $ref: '#/definitions/emailConfig'
      responses:
        200:
          description: No error, operation successful.rn
          schema:
            $ref: '#/definitions/emailConfig'
  /assets//email/deployment:
    post:
      summary: Create object
      description: Create object
      operationId: POST
      consumes:
      - application/json
      parameters:
      - in: body
        name: body
        description: (Untitled)
        required: true
        schema:
          $ref: '#/definitions/emailDeployment'
      responses:
        200:
          description: (Untitled)
          schema:
            $ref: '#/definitions/emailDeployment'
  /assets//email/deployments:
    get:
      summary: Retrieve object
      description: Retrieve object
      operationId: GET
      consumes: []
      parameters:
      - name: orderBy
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: extensions
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: page
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: search
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: depth
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: count
        in: query
        description: (Untitled)
        required: false
        type: string
      responses:
        200:
          description: No error, operation successful.rn
          schema:
            $ref: '#/definitions/emailDeployment'
  /assets//email/deployments/inline:
    get:
      summary: Retrieve object
      description: Retrieve object
      operationId: GET
      consumes: []
      parameters:
      - name: depth
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: count
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: page
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: extensions
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: search
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: orderBy
        in: query
        description: (Untitled)
        required: false
        type: string
      responses:
        200:
          description: No error, operation successful.rn
          schema:
            $ref: '#/definitions/emailDeployment'
  /assets//email/encodings:
    get:
      summary: Retrieve object
      description: Retrieve object
      operationId: GET
      consumes: []
      parameters:
      - name: depth
        in: query
        description: (Untitled)
        required: false
        type: string
      responses:
        200:
          description: No error, operation successful.rn
          schema:
            $ref: '#/definitions/emailEncoding'
  /assets//email/footer:
    post:
      summary: Create object
      description: Create object
      operationId: POST
      consumes:
      - application/json
      parameters:
      - in: body
        name: body
        description: (Untitled)
        required: true
        schema:
          $ref: '#/definitions/emailFooter'
      responses:
        200:
          description: (Untitled)
          schema:
            $ref: '#/definitions/emailFooter'
  /assets//email/footers:
    get:
      summary: Retrieve object
      description: Retrieve object
      operationId: GET
      consumes: []
      parameters:
      - name: search
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: orderBy
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: extensions
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: page
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: lastUpdatedAt
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: count
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: depth
        in: query
        description: (Untitled)
        required: false
        type: string
      responses:
        200:
          description: No error, operation successful.rn
          schema:
            $ref: '#/definitions/emailFooter'
  /assets//email/header:
    post:
      summary: Create object
      description: Create object
      operationId: POST
      consumes:
      - application/json
      parameters:
      - in: body
        name: body
        description: (Untitled)
        required: true
        schema:
          $ref: '#/definitions/emailHeader'
      responses:
        200:
          description: (Untitled)
          schema:
            $ref: '#/definitions/emailHeader'
  /assets//email/header/folder:
    post:
      summary: Create object
      description: Create object
      operationId: POST
      consumes:
      - application/json
      parameters:
      - in: body
        name: body
        description: (Untitled)
        required: true
        schema:
          $ref: '#/definitions/folder'
      responses:
        200:
          description: (Untitled)
          schema:
            $ref: '#/definitions/folder'
  /assets//email/header/folder/root:
    get:
      summary: Retrieve object
      description: Retrieve object
      operationId: GET
      consumes: []
      parameters:
      - name: extensions
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: depth
        in: query
        description: (Untitled)
        required: false
        type: string
      responses:
        200:
          description: No error, operation successful.rn
          schema:
            $ref: '#/definitions/folder'
  /assets//email/header/folder/root/contents:
    get:
      summary: Retrieve object
      description: Retrieve object
      operationId: GET
      consumes: []
      parameters:
      - name: extensions
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: orderBy
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: page
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: lastUpdatedAt
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: search
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: count
        in: query
        description: (Untitled)
        required: false
        type: string
      responses:
        200:
          description: No error, operation successful.rn
          schema:
            $ref: '#/definitions/minimal'
  /assets//email/header/folder/{id}/dependencies:
    get:
      summary: Retrieve object
      description: Retrieve object
      operationId: GET
      consumes: []
      parameters: []
      responses:
        200:
          description: No error, operation successful.rn
          schema:
            $ref: '#/definitions/minimal'
    parameters:
    - name: id
      in: path
      description: (Untitled)
      required: true
      type: string
  /assets//email/header/folder/{id}/folders:
    get:
      summary: Retrieve object
      description: Retrieve object
      operationId: GET
      consumes: []
      parameters:
      - name: search
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: count
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: page
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: orderBy
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: extensions
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: lastUpdatedAt
        in: query
        description: (Untitled)
        required: false
        type: string
      responses:
        200:
          description: No error, operation successful.rn
          schema:
            $ref: '#/definitions/folder'
    parameters:
    - name: id
      in: path
      description: (Untitled)
      required: true
      type: string
  /assets//email/header/{id}/copy:
    post:
      summary: Create object
      description: Create object
      operationId: POST
      consumes:
      - application/json
      parameters:
      - in: body
        name: body
        description: (Untitled)
        required: true
        schema:
          $ref: '#/definitions/emailHeader'
      responses:
        200:
          description: (Untitled)
          schema:
            $ref: '#/definitions/emailHeader'
    parameters:
    - name: id
      in: path
      description: (Untitled)
      required: true
      type: string
  /assets//email/header/{id}/security/grants:
    get:
      summary: Retrieve object
      description: Retrieve object
      operationId: GET
      consumes: []
      parameters:
      - name: page
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: depth
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: orderBy
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: count
        in: query
        description: (Untitled)
        required: false
        type: string
      responses:
        200:
          description: No error, operation successful.rn
          schema:
            $ref: '#/definitions/assetGrant'
    patch:
      summary: (Untitled)
      description: (Untitled)
      operationId: PATCH
      consumes:
      - application/json
      parameters:
      - in: body
        name: body
        description: (Untitled)
        required: true
        schema:
          $ref: '#/definitions/assetGrant'
      responses:
        200:
          description: (Untitled)
          schema:
            $ref: '#/definitions/assetGrant'
    parameters:
    - name: id
      in: path
      description: (Untitled)
      required: true
      type: string
  /assets//email/headers:
    get:
      summary: Retrieve object
      description: Retrieve object
      operationId: GET
      consumes: []
      parameters:
      - name: page
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: lastUpdatedAt
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: extensions
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: orderBy
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: count
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: search
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: depth
        in: query
        description: (Untitled)
        required: false
        type: string
      responses:
        200:
          description: No error, operation successful.rn
          schema:
            $ref: '#/definitions/emailHeader'
  /assets//email/plainTextGenerator:
    post:
      summary: Create object
      description: Create object
      operationId: POST
      consumes:
      - application/json
      parameters:
      - in: body
        name: body
        description: (Untitled)
        required: true
        schema:
          $ref: '#/definitions/email'
      responses: []
  /assets//email/signature/layout:
    post:
      summary: Create object
      description: Create object
      operationId: POST
      consumes:
      - application/json
      parameters:
      - in: body
        name: body
        description: (Untitled)
        required: true
        schema:
          $ref: '#/definitions/emailSignatureLayout'
      responses:
        200:
          description: (Untitled)
          schema:
            $ref: '#/definitions/emailSignatureLayout'
  /assets//email/signature/layouts:
    get:
      summary: Retrieve object
      description: Retrieve object
      operationId: GET
      consumes: []
      parameters:
      - name: extensions
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: search
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: lastUpdatedAt
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: depth
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: page
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: orderBy
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: count
        in: query
        description: (Untitled)
        required: false
        type: string
      responses:
        200:
          description: No error, operation successful.rn
          schema:
            $ref: '#/definitions/emailSignatureLayout'
  /assets//email/signature/rule:
    post:
      summary: Create object
      description: Create object
      operationId: POST
      consumes:
      - application/json
      parameters:
      - in: body
        name: body
        description: (Untitled)
        required: true
        schema:
          $ref: '#/definitions/emailSignatureRule'
      responses:
        200:
          description: (Untitled)
          schema:
            $ref: '#/definitions/emailSignatureRule'
  /assets//email/signature/rule/{id}:
    get:
      summary: Retrieve object
      description: Retrieve object
      operationId: GET
      consumes: []
      parameters:
      - name: extensions
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: depth
        in: query
        description: (Untitled)
        required: false
        type: string
      responses:
        200:
          description: No error, operation successful.rn
          schema:
            $ref: '#/definitions/emailSignatureRule'
    put:
      summary: Update object
      description: Update object
      operationId: PUT
      consumes:
      - application/json
      parameters:
      - in: body
        name: body
        description: (Untitled)
        required: true
        schema:
          $ref: '#/definitions/emailSignatureRule'
      responses:
        200:
          description: No error, operation successful.rn
          schema:
            $ref: '#/definitions/emailSignatureRule'
    delete:
      summary: Delete object
      description: Delete object
      operationId: DELETE
      consumes: []
      parameters: []
      responses: []
    parameters:
    - name: id
      in: path
      description: (Untitled)
      required: true
      type: string
  /assets//email/signature/rules:
    get:
      summary: Retrieve object
      description: Retrieve object
      operationId: GET
      consumes: []
      parameters:
      - name: orderBy
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: page
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: extensions
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: search
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: count
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: depth
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: lastUpdatedAt
        in: query
        description: (Untitled)
        required: false
        type: string
      responses:
        200:
          description: No error, operation successful.rn
          schema:
            $ref: '#/definitions/emailSignatureRule'
  /assets//email/{id}/deliverability:
    get:
      summary: Retrieve object
      description: Retrieve object
      operationId: GET
      consumes: []
      parameters:
      - name: contactIds
        in: query
        description: (Untitled)
        required: false
        type: string
      responses:
        200:
          description: No error, operation successful.rn
          schema:
            $ref: '#/definitions/contactEmailDeliverability'
    parameters:
    - name: id
      in: path
      description: (Untitled)
      required: true
      type: string
  /assets//emails:
    get:
      summary: Retrieve object
      description: Retrieve object
      operationId: GET
      consumes: []
      parameters:
      - name: page
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: orderBy
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: count
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: extensions
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: search
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: depth
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: lastUpdatedAt
        in: query
        description: (Untitled)
        required: false
        type: string
      responses:
        200:
          description: No error, operation successful.rn
          schema:
            $ref: '#/definitions/email'
  /assets//eventRegistration:
    post:
      summary: Create object
      description: Create object
      operationId: POST
      consumes:
      - application/json
      parameters:
      - in: body
        name: body
        description: (Untitled)
        required: true
        schema:
          $ref: '#/definitions/eventRegistration'
      responses:
        200:
          description: (Untitled)
          schema:
            $ref: '#/definitions/eventRegistration'
  /assets//eventRegistrations:
    get:
      summary: Retrieve object
      description: Retrieve object
      operationId: GET
      consumes: []
      parameters:
      - name: depth
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: orderBy
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: page
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: extensions
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: count
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: search
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: lastUpdatedAt
        in: query
        description: (Untitled)
        required: false
        type: string
      responses:
        200:
          description: No error, operation successful.rn
          schema:
            $ref: '#/definitions/eventRegistration'
  /assets//fieldMerge:
    post:
      summary: Create object
      description: Create object
      operationId: POST
      consumes:
      - application/json
      parameters:
      - in: body
        name: body
        description: (Untitled)
        required: true
        schema:
          $ref: '#/definitions/fieldMerge'
      responses:
        200:
          description: (Untitled)
          schema:
            $ref: '#/definitions/fieldMerge'
  /assets//fieldMerges:
    get:
      summary: Retrieve object
      description: Retrieve object
      operationId: GET
      consumes: []
      parameters:
      - name: depth
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: page
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: extensions
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: lastUpdatedAt
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: orderBy
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: search
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: count
        in: query
        description: (Untitled)
        required: false
        type: string
      responses:
        200:
          description: No error, operation successful.rn
          schema:
            $ref: '#/definitions/fieldMerge'
  /assets//folder/{id}/ancestors:
    get:
      summary: Retrieve object
      description: Retrieve object
      operationId: GET
      consumes: []
      parameters: []
      responses:
        200:
          description: No error, operation successful.rn
          schema:
            $ref: '#/definitions/folder'
    parameters:
    - name: id
      in: path
      description: (Untitled)
      required: true
      type: string
  /assets//form/external:
    get:
      summary: Retrieve object
      description: Retrieve object
      operationId: GET
      consumes: []
      parameters:
      - name: url
        in: query
        description: (Untitled)
        required: false
        type: string
      responses:
        200:
          description: No error, operation successful.rn
          schema:
            $ref: '#/definitions/form'
  /assets//form/{id}/integration:
    get:
      summary: Retrieve object
      description: Retrieve object
      operationId: GET
      consumes: []
      parameters: []
      responses:
        200:
          description: No error, operation successful.rn
          schema:
            $ref: '#/definitions/formIntegration'
    parameters:
    - name: id
      in: path
      description: (Untitled)
      required: true
      type: string
  /assets//forms:
    get:
      summary: Retrieve object
      description: Retrieve object
      operationId: GET
      consumes: []
      parameters:
      - name: extensions
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: search
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: orderBy
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: count
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: lastUpdatedAt
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: page
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: depth
        in: query
        description: (Untitled)
        required: false
        type: string
      responses:
        200:
          description: No error, operation successful.rn
          schema:
            $ref: '#/definitions/form'
  /assets//hyperlink:
    post:
      summary: Create object
      description: Create object
      operationId: POST
      consumes:
      - application/json
      parameters:
      - in: body
        name: body
        description: (Untitled)
        required: true
        schema:
          $ref: '#/definitions/hyperlink'
      responses:
        200:
          description: (Untitled)
          schema:
            $ref: '#/definitions/hyperlink'
  /assets//image:
    post:
      summary: Create object
      description: Create object
      operationId: POST
      consumes:
      - application/json
      parameters:
      - in: body
        name: body
        description: (Untitled)
        required: true
        schema:
          $ref: '#/definitions/imageFile'
      responses:
        200:
          description: (Untitled)
          schema:
            $ref: '#/definitions/imageFile'
  /assets//image/{id}/content/replace:
    post:
      summary: Create object
      description: Create object
      operationId: POST
      consumes: []
      parameters: []
      responses:
        200:
          description: (Untitled)
          schema:
            $ref: '#/definitions/imageFile'
    parameters:
    - name: id
      in: path
      description: (Untitled)
      required: true
      type: string
  /assets//importedFile:
    post:
      summary: Create object
      description: Create object
      operationId: POST
      consumes:
      - application/json
      parameters:
      - in: body
        name: body
        description: (Untitled)
        required: true
        schema:
          $ref: '#/definitions/importedFile'
      responses:
        200:
          description: (Untitled)
          schema:
            $ref: '#/definitions/importedFile'
  /assets//importedFile/{id}/content/Replace:
    post:
      summary: Create object
      description: Create object
      operationId: POST
      consumes: []
      parameters: []
      responses:
        200:
          description: (Untitled)
          schema:
            $ref: '#/definitions/importedFile'
    parameters:
    - name: id
      in: path
      description: (Untitled)
      required: true
      type: string
  /assets//importedFiles:
    get:
      summary: Retrieve object
      description: Retrieve object
      operationId: GET
      consumes: []
      parameters:
      - name: depth
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: orderBy
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: lastUpdatedAt
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: search
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: extensions
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: page
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: count
        in: query
        description: (Untitled)
        required: false
        type: string
      responses:
        200:
          description: No error, operation successful.rn
          schema:
            $ref: '#/definitions/importedFile'
  /assets//landingPage:
    post:
      summary: Create object
      description: Create object
      operationId: POST
      consumes:
      - application/json
      parameters:
      - in: body
        name: body
        description: (Untitled)
        required: true
        schema:
          $ref: '#/definitions/landingPage'
      responses:
        200:
          description: (Untitled)
          schema:
            $ref: '#/definitions/landingPage'
  /assets//landingPage/{id}/campaigns:
    get:
      summary: Retrieve object
      description: Retrieve object
      operationId: GET
      consumes: []
      parameters:
      - name: depth
        in: query
        description: (Untitled)
        required: false
        type: string
      responses:
        200:
          description: No error, operation successful.rn
          schema:
            $ref: '#/definitions/campaign'
    parameters:
    - name: id
      in: path
      description: (Untitled)
      required: true
      type: string
  /assets//landingPage/{id}/content:
    post:
      summary: Create object
      description: Create object
      operationId: POST
      consumes: []
      parameters: []
      responses: []
    parameters:
    - name: id
      in: path
      description: (Untitled)
      required: true
      type: string
  /assets//landingPage/{id}/content/files:
    post:
      summary: Create object
      description: Create object
      operationId: POST
      consumes:
      - application/json
      parameters:
      - in: body
        name: body
        description: (Untitled)
        required: true
        schema:
          $ref: '#/definitions/urlReplacement'
      responses:
        200:
          description: (Untitled)
          schema:
            $ref: '#/definitions/landingPage'
    parameters:
    - name: id
      in: path
      description: (Untitled)
      required: true
      type: string
  /assets//landingPage/{id}/content/hyperlinks:
    post:
      summary: Create object
      description: Create object
      operationId: POST
      consumes:
      - application/json
      parameters:
      - in: body
        name: body
        description: (Untitled)
        required: true
        schema:
          $ref: '#/definitions/redirectLink'
      responses:
        200:
          description: (Untitled)
          schema:
            $ref: '#/definitions/landingPage'
    parameters:
    - name: id
      in: path
      description: (Untitled)
      required: true
      type: string
  /assets//landingPage/{id}/content/images:
    post:
      summary: Create object
      description: Create object
      operationId: POST
      consumes:
      - application/json
      parameters:
      - in: body
        name: body
        description: (Untitled)
        required: true
        schema:
          $ref: '#/definitions/urlReplacement'
      responses:
        200:
          description: (Untitled)
          schema:
            $ref: '#/definitions/landingPage'
    parameters:
    - name: id
      in: path
      description: (Untitled)
      required: true
      type: string
  /assets//landingPages:
    get:
      summary: Retrieve object
      description: Retrieve object
      operationId: GET
      consumes: []
      parameters:
      - name: orderBy
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: search
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: lastUpdatedAt
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: extensions
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: count
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: depth
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: page
        in: query
        description: (Untitled)
        required: false
        type: string
      responses:
        200:
          description: No error, operation successful.rn
          schema:
            $ref: '#/definitions/landingPage'
  /assets//microsite:
    post:
      summary: Create object
      description: Create object
      operationId: POST
      consumes:
      - application/json
      parameters:
      - in: body
        name: body
        description: (Untitled)
        required: true
        schema:
          $ref: '#/definitions/microsite'
      responses:
        200:
          description: (Untitled)
          schema:
            $ref: '#/definitions/microsite'
  /assets//microsites:
    get:
      summary: Retrieve object
      description: Retrieve object
      operationId: GET
      consumes: []
      parameters:
      - name: orderBy
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: search
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: page
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: extensions
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: lastUpdatedAt
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: count
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: depth
        in: query
        description: (Untitled)
        required: false
        type: string
      responses:
        200:
          description: No error, operation successful.rn
          schema:
            $ref: '#/definitions/microsite'
  /assets//optionList:
    post:
      summary: Create object
      description: Create object
      operationId: POST
      consumes:
      - application/json
      parameters:
      - in: body
        name: body
        description: (Untitled)
        required: true
        schema:
          $ref: '#/definitions/optionList'
      responses:
        200:
          description: (Untitled)
          schema:
            $ref: '#/definitions/optionList'
  /assets//optionLists:
    get:
      summary: Retrieve object
      description: Retrieve object
      operationId: GET
      consumes: []
      parameters:
      - name: extensions
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: lastUpdatedAt
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: orderBy
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: count
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: page
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: depth
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: search
        in: query
        description: (Untitled)
        required: false
        type: string
      responses:
        200:
          description: No error, operation successful.rn
          schema:
            $ref: '#/definitions/optionList'
  /assets//pageTags:
    get:
      summary: Retrieve object
      description: Retrieve object
      operationId: GET
      consumes: []
      parameters:
      - name: orderBy
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: page
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: count
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: depth
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: search
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: extensions
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: lastUpdatedAt
        in: query
        description: (Untitled)
        required: false
        type: string
      responses:
        200:
          description: No error, operation successful.rn
          schema:
            $ref: '#/definitions/pageTag'
  /assets//program/{programId}/occurrence/{occurrenceId}/logs:
    get:
      summary: Retrieve object
      description: Retrieve object
      operationId: GET
      consumes: []
      parameters:
      - name: count
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: page
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: startAt
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: endAt
        in: query
        description: (Untitled)
        required: false
        type: string
      responses:
        200:
          description: No error, operation successful.rn
          schema:
            $ref: '#/definitions/programLog'
    parameters:
    - name: programId
      in: path
      description: (Untitled)
      required: true
      type: string
    - name: occurrenceId
      in: path
      description: (Untitled)
      required: true
      type: string
  /assets//programs:
    get:
      summary: Retrieve object
      description: Retrieve object
      operationId: GET
      consumes: []
      parameters:
      - name: page
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: depth
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: extensions
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: count
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: search
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: orderBy
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: lastUpdatedAt
        in: query
        description: (Untitled)
        required: false
        type: string
      responses:
        200:
          description: No error, operation successful.rn
          schema:
            $ref: '#/definitions/program'
  /assets//style:
    post:
      summary: Create object
      description: Create object
      operationId: POST
      consumes:
      - application/json
      parameters:
      - in: body
        name: body
        description: (Untitled)
        required: true
        schema:
          $ref: '#/definitions/documentStyle'
      responses:
        200:
          description: (Untitled)
          schema:
            $ref: '#/definitions/documentStyle'
  /assets//styles:
    get:
      summary: Retrieve object
      description: Retrieve object
      operationId: GET
      consumes: []
      parameters:
      - name: search
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: depth
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: page
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: lastUpdatedAt
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: extensions
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: orderBy
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: count
        in: query
        description: (Untitled)
        required: false
        type: string
      responses:
        200:
          description: No error, operation successful.rn
          schema:
            $ref: '#/definitions/documentStyle'
  /assets//template/categories:
    get:
      summary: Retrieve object
      description: Retrieve object
      operationId: GET
      consumes: []
      parameters:
      - name: depth
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: count
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: extensions
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: page
        in: query
        description: (Untitled)
        required: false
        type: string
      responses:
        200:
          description: No error, operation successful.rn
          schema:
            $ref: '#/definitions/templateCategory'
  /assets//templates:
    get:
      summary: Retrieve object
      description: Retrieve object
      operationId: GET
      consumes: []
      parameters:
      - name: depth
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: search
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: extensions
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: count
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: page
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: lastUpdatedAt
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: orderBy
        in: query
        description: (Untitled)
        required: false
        type: string
      responses:
        200:
          description: No error, operation successful.rn
          schema:
            $ref: '#/definitions/template'
  /assets//templates/email:
    get:
      summary: Retrieve object
      description: Retrieve object
      operationId: GET
      consumes: []
      parameters:
      - name: extensions
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: count
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: search
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: depth
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: page
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: orderBy
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: lastUpdatedAt
        in: query
        description: (Untitled)
        required: false
        type: string
      responses:
        200:
          description: No error, operation successful.rn
          schema:
            $ref: '#/definitions/template'
  /assets//templates/form:
    get:
      summary: Retrieve object
      description: Retrieve object
      operationId: GET
      consumes: []
      parameters:
      - name: page
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: count
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: orderBy
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: depth
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: lastUpdatedAt
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: extensions
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: search
        in: query
        description: (Untitled)
        required: false
        type: string
      responses:
        200:
          description: No error, operation successful.rn
          schema:
            $ref: '#/definitions/template'
  /assets//templates/landingpage:
    get:
      summary: Retrieve object
      description: Retrieve object
      operationId: GET
      consumes: []
      parameters:
      - name: extensions
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: depth
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: lastUpdatedAt
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: orderBy
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: search
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: page
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: count
        in: query
        description: (Untitled)
        required: false
        type: string
      responses:
        200:
          description: No error, operation successful.rn
          schema:
            $ref: '#/definitions/template'
  /assets//trackedUrls:
    get:
      summary: Retrieve object
      description: Retrieve object
      operationId: GET
      consumes: []
      parameters:
      - name: extensions
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: search
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: depth
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: lastUpdatedAt
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: orderBy
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: page
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: count
        in: query
        description: (Untitled)
        required: false
        type: string
      responses:
        200:
          description: No error, operation successful.rn
          schema:
            $ref: '#/definitions/trackedUrl'
  /data/account/view/{id}/account/{accountId}:
    get:
      summary: Retrieve object
      description: Retrieve object
      operationId: GET
      consumes: []
      parameters: []
      responses:
        200:
          description: No error, operation successful.rn
          schema:
            $ref: '#/definitions/accountViewData'
    parameters:
    - name: accountId
      in: path
      description: (Untitled)
      required: true
      type: string
    - name: id
      in: path
      description: (Untitled)
      required: true
      type: string
  /data/account/view/{id}/accounts:
    get:
      summary: Retrieve object
      description: Retrieve object
      operationId: GET
      consumes: []
      parameters:
      - name: lastUpdatedAt
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: page
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: count
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: orderBy
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: search
        in: query
        description: (Untitled)
        required: false
        type: string
      responses:
        200:
          description: No error, operation successful.rn
          schema:
            $ref: '#/definitions/accountViewData'
    parameters:
    - name: id
      in: path
      description: (Untitled)
      required: true
      type: string
  /data/activities/contact/{id}/automation:
    get:
      summary: Retrieve object
      description: Retrieve object
      operationId: GET
      consumes: []
      parameters:
      - name: page
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: endAt
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: startAt
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: count
        in: query
        description: (Untitled)
        required: false
        type: string
      responses:
        200:
          description: No error, operation successful.rn
          schema:
            $ref: '#/definitions/automationActivity'
    parameters:
    - name: id
      in: path
      description: (Untitled)
      required: true
      type: string
  /data/activities/contact/{id}/automation/bounceback:
    get:
      summary: Retrieve object
      description: Retrieve object
      operationId: GET
      consumes: []
      parameters:
      - name: count
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: endAt
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: startAt
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: page
        in: query
        description: (Untitled)
        required: false
        type: string
      responses:
        200:
          description: No error, operation successful.rn
          schema:
            $ref: '#/definitions/bouncebackActivity'
    parameters:
    - name: id
      in: path
      description: (Untitled)
      required: true
      type: string
  /data/activities/contact/{id}/automation/externalcall:
    get:
      summary: Retrieve object
      description: Retrieve object
      operationId: GET
      consumes: []
      parameters:
      - name: count
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: startAt
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: endAt
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: page
        in: query
        description: (Untitled)
        required: false
        type: string
      responses:
        200:
          description: No error, operation successful.rn
          schema:
            $ref: '#/definitions/externalCallActivity'
    parameters:
    - name: id
      in: path
      description: (Untitled)
      required: true
      type: string
  /data/activities/contact/{id}/automation/program:
    get:
      summary: Retrieve object
      description: Retrieve object
      operationId: GET
      consumes: []
      parameters:
      - name: endAt
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: count
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: page
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: startAt
        in: query
        description: (Untitled)
        required: false
        type: string
      responses:
        200:
          description: No error, operation successful.rn
          schema:
            $ref: '#/definitions/programActivity'
    parameters:
    - name: id
      in: path
      description: (Untitled)
      required: true
      type: string
  /data/contact/view/{id}/contact/{contactId}:
    get:
      summary: Retrieve object
      description: Retrieve object
      operationId: GET
      consumes: []
      parameters: []
      responses:
        200:
          description: No error, operation successful.rn
          schema:
            $ref: '#/definitions/contactViewData'
    parameters:
    - name: contactId
      in: path
      description: (Untitled)
      required: true
      type: string
    - name: id
      in: path
      description: (Untitled)
      required: true
      type: string
  /data/contact/view/{id}/contacts:
    get:
      summary: Retrieve object
      description: Retrieve object
      operationId: GET
      consumes: []
      parameters:
      - name: lastUpdatedAt
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: orderBy
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: page
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: count
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: search
        in: query
        description: (Untitled)
        required: false
        type: string
      responses:
        200:
          description: No error, operation successful.rn
          schema:
            $ref: '#/definitions/contactViewData'
    parameters:
    - name: id
      in: path
      description: (Untitled)
      required: true
      type: string
  /data/contact/view/{id}/contacts/campaign/element/{elementId}:
    get:
      summary: Retrieve object
      description: Retrieve object
      operationId: GET
      consumes: []
      parameters:
      - name: orderBy
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: page
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: lastUpdatedAt
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: search
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: count
        in: query
        description: (Untitled)
        required: false
        type: string
      responses:
        200:
          description: No error, operation successful.rn
          schema:
            $ref: '#/definitions/contactViewData'
    parameters:
    - name: elementId
      in: path
      description: (Untitled)
      required: true
      type: string
    - name: id
      in: path
      description: (Untitled)
      required: true
      type: string
  /data/contact/view/{id}/contacts/filter/{filterId}:
    get:
      summary: Retrieve object
      description: Retrieve object
      operationId: GET
      consumes: []
      parameters:
      - name: orderBy
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: count
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: lastUpdatedAt
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: page
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: search
        in: query
        description: (Untitled)
        required: false
        type: string
      responses:
        200:
          description: No error, operation successful.rn
          schema:
            $ref: '#/definitions/contactViewData'
    parameters:
    - name: filterId
      in: path
      description: (Untitled)
      required: true
      type: string
    - name: id
      in: path
      description: (Untitled)
      required: true
      type: string
  /data/contact/view/{id}/contacts/list/{listId}:
    get:
      summary: Retrieve object
      description: Retrieve object
      operationId: GET
      consumes: []
      parameters:
      - name: count
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: search
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: page
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: lastUpdatedAt
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: orderBy
        in: query
        description: (Untitled)
        required: false
        type: string
      responses:
        200:
          description: No error, operation successful.rn
          schema:
            $ref: '#/definitions/contactViewData'
    parameters:
    - name: listId
      in: path
      description: (Untitled)
      required: true
      type: string
    - name: id
      in: path
      description: (Untitled)
      required: true
      type: string
  /data/contact/view/{id}/contacts/segment/{segmentId}:
    get:
      summary: Retrieve object
      description: Retrieve object
      operationId: GET
      consumes: []
      parameters:
      - name: orderBy
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: search
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: lastUpdatedAt
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: count
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: page
        in: query
        description: (Untitled)
        required: false
        type: string
      responses:
        200:
          description: No error, operation successful.rn
          schema:
            $ref: '#/definitions/contactViewData'
    parameters:
    - name: id
      in: path
      description: (Untitled)
      required: true
      type: string
    - name: segmentId
      in: path
      description: (Untitled)
      required: true
      type: string
  /data/contact/view/{id}/contacts/segment/{segmentId}/excluded:
    get:
      summary: Retrieve object
      description: Retrieve object
      operationId: GET
      consumes: []
      parameters:
      - name: search
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: page
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: count
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: orderBy
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: lastUpdatedAt
        in: query
        description: (Untitled)
        required: false
        type: string
      responses:
        200:
          description: No error, operation successful.rn
          schema:
            $ref: '#/definitions/contactViewData'
    parameters:
    - name: segmentId
      in: path
      description: (Untitled)
      required: true
      type: string
    - name: id
      in: path
      description: (Untitled)
      required: true
      type: string
  /data/contact/view/{id}/contacts/segment/{segmentId}/included:
    get:
      summary: Retrieve object
      description: Retrieve object
      operationId: GET
      consumes: []
      parameters:
      - name: page
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: orderBy
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: count
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: search
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: lastUpdatedAt
        in: query
        description: (Untitled)
        required: false
        type: string
      responses:
        200:
          description: No error, operation successful.rn
          schema:
            $ref: '#/definitions/contactViewData'
    parameters:
    - name: segmentId
      in: path
      description: (Untitled)
      required: true
      type: string
    - name: id
      in: path
      description: (Untitled)
      required: true
      type: string
  /data/contact/{id}/email/group/{groupId}/subscription:
    get:
      summary: Retrieve object
      description: Retrieve object
      operationId: GET
      consumes: []
      parameters: []
      responses:
        200:
          description: No error, operation successful.rn
          schema:
            $ref: '#/definitions/contactEmailSubscription'
    put:
      summary: Update object
      description: Update object
      operationId: PUT
      consumes:
      - application/json
      parameters:
      - in: body
        name: body
        description: (Untitled)
        required: true
        schema:
          $ref: '#/definitions/contactEmailSubscription'
      responses:
        200:
          description: No error, operation successful.rn
          schema:
            $ref: '#/definitions/contactEmailSubscription'
    parameters:
    - name: groupId
      in: path
      description: (Untitled)
      required: true
      type: string
    - name: id
      in: path
      description: (Untitled)
      required: true
      type: string
  /data/contacts/campaign/element/{id}/export:
    post:
      summary: Create object
      description: Create object
      operationId: POST
      consumes:
      - application/json
      parameters:
      - in: body
        name: body
        description: (Untitled)
        required: true
        schema:
          $ref: '#/definitions/dataExport'
      responses: []
    parameters:
    - name: id
      in: path
      description: (Untitled)
      required: true
      type: string
  /settings/campaign/responseActivities:
    get:
      summary: Retrieve object
      description: Retrieve object
      operationId: GET
      consumes: []
      parameters:
      - name: count
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: page
        in: query
        description: (Untitled)
        required: false
        type: string
      responses:
        200:
          description: No error, operation successful.rn
          schema:
            $ref: '#/definitions/campaignResponseActivity'
  /settings/notifications/visitor:
    get:
      summary: Retrieve object
      description: Retrieve object
      operationId: GET
      consumes: []
      parameters:
      - name: lastUpdatedAt
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: page
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: count
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: search
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: user
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: orderBy
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: extensions
        in: query
        description: (Untitled)
        required: false
        type: string
      responses:
        200:
          description: No error, operation successful.rn
          schema:
            $ref: '#/definitions/visitorNotification'
  /system/cloud/component/providers:
    get:
      summary: Retrieve object
      description: Retrieve object
      operationId: GET
      consumes: []
      parameters: []
      responses:
        200:
          description: No error, operation successful.rn
          schema:
            $ref: '#/definitions/cloudComponentProvider'
  /system/cloud/components:
    get:
      summary: Retrieve object
      description: Retrieve object
      operationId: GET
      consumes: []
      parameters:
      - name: pageSize
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: page
        in: query
        description: (Untitled)
        required: false
        type: string
      responses:
        200:
          description: No error, operation successful.rn
          schema:
            $ref: '#/definitions/cloudComponent'
  /system/cloud/components/enabled:
    get:
      summary: Retrieve object
      description: Retrieve object
      operationId: GET
      consumes: []
      parameters:
      - name: page
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: pageSize
        in: query
        description: (Untitled)
        required: false
        type: string
      responses:
        200:
          description: No error, operation successful.rn
          schema:
            $ref: '#/definitions/cloudComponent'
    post:
      summary: Create object
      description: Create object
      operationId: POST
      consumes:
      - application/json
      parameters:
      - in: body
        name: body
        description: (Untitled)
        required: true
        schema:
          $ref: '#/definitions/cloudComponent'
      responses:
        200:
          description: (Untitled)
          schema:
            $ref: '#/definitions/cloudComponent'
  /system/scheduledTask/exports:
    get:
      summary: Retrieve object
      description: Retrieve object
      operationId: GET
      consumes: []
      parameters:
      - name: count
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: page
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: search
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: depth
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: orderBy
        in: query
        description: (Untitled)
        required: false
        type: string
      responses:
        200:
          description: No error, operation successful.rn
          schema:
            $ref: '#/definitions/scheduledExport'
  /system/scheduledTasks:
    get:
      summary: Retrieve object
      description: Retrieve object
      operationId: GET
      consumes: []
      parameters:
      - name: orderBy
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: depth
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: search
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: count
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: page
        in: query
        description: (Untitled)
        required: false
        type: string
      responses:
        200:
          description: No error, operation successful.rn
          schema:
            $ref: '#/definitions/scheduledExport'
  /system/scheduledtask/connection:
    post:
      summary: Create object
      description: Create object
      operationId: POST
      consumes:
      - application/json
      parameters:
      - in: body
        name: body
        description: (Untitled)
        required: true
        schema:
          $ref: '#/definitions/sftpConnection'
      responses:
        200:
          description: (Untitled)
          schema:
            $ref: '#/definitions/sftpConnection'
  /system/scheduledtask/connection/{id}/test:
    post:
      summary: Create object
      description: Create object
      operationId: POST
      consumes: []
      parameters:
      - name: path
        in: query
        description: (Untitled)
        required: false
        type: string
      responses: []
    parameters:
    - name: id
      in: path
      description: (Untitled)
      required: true
      type: string
  /system/scheduledtask/connections:
    get:
      summary: Retrieve object
      description: Retrieve object
      operationId: GET
      consumes: []
      parameters:
      - name: orderBy
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: depth
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: count
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: search
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: page
        in: query
        description: (Untitled)
        required: false
        type: string
      responses:
        200:
          description: No error, operation successful.rn
          schema:
            $ref: '#/definitions/sftpConnection'
  /system/security/group/{id}/security/assetGrants:
    get:
      summary: Retrieve object
      description: Retrieve object
      operationId: GET
      consumes: []
      parameters:
      - name: page
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: search
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: lastUpdatedAt
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: extensions
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: depth
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: count
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: orderBy
        in: query
        description: (Untitled)
        required: false
        type: string
      responses:
        200:
          description: No error, operation successful.rn
          schema:
            $ref: '#/definitions/assetGrant'
    patch:
      summary: (Untitled)
      description: (Untitled)
      operationId: PATCH
      consumes:
      - application/json
      parameters:
      - in: body
        name: body
        description: (Untitled)
        required: true
        schema:
          $ref: '#/definitions/assetGrant'
      responses:
        200:
          description: (Untitled)
          schema:
            $ref: '#/definitions/assetGrant'
    parameters:
    - name: id
      in: path
      description: (Untitled)
      required: true
      type: string
  /system/site:
    get:
      summary: Retrieve object
      description: Retrieve object
      operationId: GET
      consumes: []
      parameters:
      - name: depth
        in: query
        description: (Untitled)
        required: false
        type: string
      responses:
        200:
          description: No error, operation successful.rn
          schema:
            $ref: '#/definitions/site'
  /system/timeZones:
    get:
      summary: Retrieve object
      description: Retrieve object
      operationId: GET
      consumes: []
      parameters: []
      responses:
        200:
          description: No error, operation successful.rn
          schema:
            $ref: '#/definitions/timeZone'
  /system/user/current:
    get:
      summary: Retrieve object
      description: Retrieve object
      operationId: GET
      consumes: []
      parameters:
      - name: extensions
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: depth
        in: query
        description: (Untitled)
        required: false
        type: string
      responses:
        200:
          description: No error, operation successful.rn
          schema:
            $ref: '#/definitions/user'
  /system/users:
    get:
      summary: Retrieve object
      description: Retrieve object
      operationId: GET
      consumes: []
      parameters:
      - name: extensions
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: count
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: orderBy
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: search
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: depth
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: lastUpdatedAt
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: page
        in: query
        description: (Untitled)
        required: false
        type: string
      responses:
        200:
          description: No error, operation successful.rn
          schema:
            $ref: '#/definitions/user'
  /systems/integration/integrationRuleSets:
    get:
      summary: Retrieve object
      description: Retrieve object
      operationId: GET
      consumes: []
      parameters:
      - name: orderBy
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: count
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: extensions
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: depth
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: search
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: lastUpdatedAt
        in: query
        description: (Untitled)
        required: false
        type: string
      - name: page
        in: query
        description: (Untitled)
        required: false
        type: string
      responses:
        200:
          description: No error, operation successful.rn
          schema:
            $ref: '#/definitions/integrationRuleSet'
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":62:{s:24:\"contactEmailSubscription\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"contactId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"emailGroup\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":23:{s:13:\"emailHeaderId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"emailFooterId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:25:\"subscriptionLandingPageId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:27:\"unsubscriptionLandingPageId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:33:\"isVisibleInPublicSubscriptionList\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:24:\"isVisibleInOutlookPlugin\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"subscriptionListId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"unSubscriptionListId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:28:\"subscriptionListDataLookupId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:30:\"unSubscriptionListDataLookupId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"permissions\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"folderId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"sourceTemplateId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"createdBy\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"createdAt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"updatedBy\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"updatedAt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"accessedAt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"scheduledFor\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"depth\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:12:\"isSubscribed\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"updatedAt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:14:\"cloudComponent\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"iconUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"providerName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"uptimeMetric\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"componentImage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"height\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"width\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:11:\"isAvailable\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:10:\"fieldMerge\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":20:{s:6:\"syntax\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"defaultValue\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"contactFieldId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"accountFieldId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"eventId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"eventFieldId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"e
[...]
