---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":4:{s:7:\"version\";s:4:\"v1.0\";s:5:\"title\";s:15:\"RingCentral
  API\";s:11:\"description\";s:32:\"RingCentral Connect Platform API\";s:14:\"termsOfService\";s:45:\"http://www.ringcentral.com/legal/eulatos.html\";}"
host: platform.devtest.ringcentral.com
basePath: /
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":155:{s:19:\"Account.ServiceInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"Canonical
  URI of a service info resource\";}s:11:\"billingPlan\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/BillingPlanInfo\";s:11:\"description\";s:35:\"Information
  on account billing plan\";}s:5:\"brand\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/BrandInfo\";s:11:\"description\";s:28:\"Information
  on account brand\";}s:11:\"servicePlan\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ServicePlanInfo\";s:11:\"description\";s:35:\"Information
  on account service plan\";}s:17:\"targetServicePlan\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/TargetServicePlanInfo\";s:11:\"description\";s:42:\"Information
  on account target service plan\";}}}s:11:\"AccountInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"Internal
  identifier of an account\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"Canonical
  URI of an account\";}s:10:\"mainNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"Main
  phone number of the current account\";}s:8:\"operator\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ExtensionInfo\";s:11:\"description\";s:110:\"Operator's
  extension information. This extension will receive all calls and messages intended
  for the operator\";}s:9:\"partnerId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:66:\"Additional
  account identifier, developed and applied by the client\";}s:11:\"serviceInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/Account.ServiceInfo\";s:11:\"description\";s:75:\"Account
  service information, including brand, service plan and billing plan\";}s:16:\"setupWizardState\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"Specifies
  account configuration wizard state (web service setup). The default value is 'NotStarted'\";s:4:\"enum\";a:3:{i:0;s:10:\"NotStarted\";i:1;s:10:\"Incomplete\";i:2;s:9:\"Completed\";}}s:6:\"status\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Status
  of the current account\";s:4:\"enum\";a:2:{i:0;s:9:\"Confirmed\";i:1;s:8:\"Disabled\";}}s:10:\"statusInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StatusInfo\";s:11:\"description\";s:83:\"Status
  information (reason, comment, lifetime). Returned for 'Disabled' status only\";}}}s:13:\"AccountLimits\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:30:\"freeSoftPhoneLinesPerExtension\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:69:\"The
  maximum number of free softphone digital lines per user extension\";}s:11:\"meetingSize\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:87:\"The
  maximum number of participants in RingCentral Meeting hosted by this account's user\";}s:29:\"maxMonitoredExtensionsPerUser\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:98:\"The
  maximum number of extensions which can be included in the list of users monitored
  for Presence\";}}}s:18:\"AccountServiceInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:50:\"Canonical
  URI of the account Service Info resource\";}s:15:\"servicePlanName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"Account
  Service Plan name\";}s:5:\"brand\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/BrandInfo\";s:11:\"description\";s:28:\"Information
  on account brand\";}s:11:\"servicePlan\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ServicePlanInfo\";s:11:\"description\";s:35:\"Information
  on account service plan\";}s:11:\"billingPlan\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/BillingPlanInfo\";s:11:\"description\";s:35:\"Information
  on account billing plan\";}s:15:\"serviceFeatures\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:54:\"Service
  features information, see Service Feature List\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ServiceFeatureInfo\";}}s:6:\"limits\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/AccountLimits\";s:11:\"description\";s:42:\"Limits
  which are effective for the account\";}}}s:9:\"AddonInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:98:\"Addon
  identifier. For HardPhones of certain types, which are compatible with this addon
  identifier\";}s:5:\"count\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:98:\"Number
  of addons. For HardPhones of certain types, which are compatible with such addon
  identifier\";}}}s:26:\"AnsweringRule.ScheduleInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"weeklyRanges\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/WeeklyScheduleInfo\";s:11:\"description\";s:57:\"Weekly
  schedule. If specified, ranges cannot be specified\";}s:6:\"ranges\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/RangesInfo\";s:11:\"description\";s:68:\"Specific
  data ranges. If specified, weeklyRanges cannot be specified\";}}}s:17:\"AnsweringRuleInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":13:{s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"Canonical
  URI to the answering rule resource\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"Internal
  identifier of an asnwering rule\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"Type
  of an answering rule\";s:4:\"enum\";a:3:{i:0;s:13:\"BusinessHours\";i:1;s:10:\"AfterHours\";i:2;s:6:\"Custom\";}}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"Name
  of an answering rule specified by user\";}s:7:\"enabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:52:\"Specifies
  if an answering rule is active or inactive\";}s:8:\"schedule\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ScheduleInfo\";s:11:\"description\";s:49:\"Schedule
  when an answering rule should be applied\";}s:13:\"calledNumbers\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:62:\"Answering
  rules are applied when calling to selected number(s)\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/AnsweringRuleInfo.CalleeInfo\";}}s:7:\"callers\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:76:\"Answering
  rules are applied when calls are received from specified caller(s)\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/AnsweringRuleInfo.CallerInfo\";}}s:18:\"callHandlingAction\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"Specifies
  how incoming calls are forwarded\";s:4:\"enum\";a:4:{i:0;s:12:\"ForwardCalls\";i:1;s:16:\"TakeMessagesOnly\";i:2;s:20:\"PlayAnnouncementOnly\";i:3;s:23:\"UnconditionalForwarding\";}}s:10:\"forwarding\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ForwardingInfo\";s:11:\"description\";s:171:\"Forwarding
  parameters. Returned if 'ForwardCalls' is specified in 'callHandlingAction'. These
  settings determine the forwarding numbers to which the call will be forwarded\";}s:23:\"unconditionalForwarding\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/UnconditionalForwardingInfo\";s:11:\"description\";s:111:\"Unconditional
  forwarding parameters. Returned if 'UnconditionalForwarding' is specified in 'callHandlingAction'\";}s:9:\"voicemail\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/VoicemailInfo\";s:11:\"description\";s:58:\"Specifies
  whether to take a voicemail and who should do it\";}s:9:\"greetings\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:50:\"Predefined
  greetings applied for an answering rule\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/GreetingInfo\";}}}}s:28:\"AnsweringRuleInfo.CalleeInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"phoneNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"Called
  phone number\";}}}s:28:\"AnsweringRuleInfo.CallerInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"callerId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"Phone
  number of a caller\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"Contact
  name of a caller\";}}}s:14:\"AttachmentInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"Link
  to custom data attachment\";}s:11:\"contentType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:51:\"Type
  of custom data attachment, see also MIME Types\";}}}s:15:\"BillingPlanInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"Internal
  identifier of a billing plan\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"Billing
  plan name\";}s:12:\"durationUnit\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"Duration
  period\";s:4:\"enum\";a:2:{i:0;s:5:\"Month\";i:1;s:3:\"Day\";}}s:8:\"duration\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"Number
  of duration units\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"Billing
  plan type\";s:4:\"enum\";a:6:{i:0;s:7:\"Initial\";i:1;s:7:\"Regular\";i:2;s:9:\"Suspended\";i:3;s:5:\"Trial\";i:4;s:9:\"TrialNoCC\";i:5;s:4:\"Free\";}}}}s:6:\"Binary\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"data\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Required.
  Binary data.\";s:6:\"format\";s:6:\"binary\";}}}s:17:\"BlockedNumberInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:114:\"Standard
  resource properties ID and canonical URI, see the section called \u201CResource
  Identification Properties\u201D\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"Canonical
  URI of a blocked number resource\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:49:\"Name
  assigned by a user to a blocked phone number\";}s:11:\"phoneNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"Phone
  number to be blocked\";}}}s:9:\"BrandInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"Internal
  identifier of a brand\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:52:\"Brand
  name, for example \"RingCentral UK\", \"ClearFax\"\";}s:11:\"homeCountry\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/CountryInfo\";s:11:\"description\";s:24:\"Home
  country information\";}}}s:19:\"BusinessAddressInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"country\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"Name
  of a country\";}s:5:\"state\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"Name
  of a state/province\";}s:4:\"city\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Name
  of a city\";}s:6:\"street\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Street
  address\";}s:3:\"zip\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:8:\"Zip
  code\";}}}s:25:\"BusinessHour.ScheduleInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"weeklyRanges\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/WeeklyScheduleInfo\";s:11:\"description\";s:15:\"Weekly
  schedule\";}}}s:11:\"CallLogInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"Internal
  identifier of a cal log record\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"Canonical
  URI of a call log record\";}s:9:\"sessionId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"Internal
  identifier of a call session\";}s:4:\"from\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/CallerInfo\";s:11:\"description\";s:18:\"Caller
  information\";}s:2:\"to\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/CallerInfo\";s:11:\"description\";s:18:\"Callee
  information\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"Call
  type\";s:4:\"enum\";a:2:{i:0;s:5:\"Voice\";i:1;s:3:\"Fax\";}}s:9:\"direction\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Call
  direction\";s:4:\"enum\";a:2:{i:0;s:7:\"Inbound\";i:1;s:8:\"Outbound\";}}s:6:\"action\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"Action
  description of the call operation\";s:4:\"enum\";a:21:{i:0;s:7:\"Unknown\";i:1;s:10:\"Phone
  Call\";i:2;s:11:\"Phone Login\";i:3;s:12:\"Incoming Fax\";i:4;s:11:\"Accept Call\";i:5;s:6:\"FindMe\";i:6;s:8:\"FollowMe\";i:7;s:12:\"Outgoing
  Fax\";i:8;s:11:\"Call Return\";i:9;s:12:\"Calling Card\";i:10;s:13:\"Ring Directly\";i:11;s:11:\"RingOut
  Web\";i:12;s:9:\"VoIP Call\";i:13;s:10:\"RingOut PC\";i:14;s:6:\"RingMe\";i:15;s:8:\"Transfer\";i:16;s:8:\"411
  Info\";i:17;s:9:\"Emergency\";i:18;s:11:\"E911 Update\";i:19;s:7:\"Support\";i:20;s:14:\"RingOut
  Mobile\";}}s:6:\"result\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"Status
  description of the call operation\";s:4:\"enum\";a:37:{i:0;s:7:\"Unknown\";i:1;s:16:\"ResultInProgress\";i:2;s:6:\"Missed\";i:3;s:13:\"Call
  accepted\";i:4;s:9:\"Voicemail\";i:5;s:8:\"Rejected\";i:6;s:5:\"Reply\";i:7;s:8:\"Received\";i:8;s:13:\"Receive
  Error\";i:9;s:13:\"Fax on Demand\";i:10;s:15:\"Partial Receive\";i:11;s:7:\"Blocked\";i:12;s:14:\"Call
  connected\";i:13;s:9:\"No Answer\";i:14;s:22:\"International Disabled\";i:15;s:4:\"Busy\";i:16;s:10:\"Send
  Error\";i:17;s:4:\"Sent\";i:18;s:14:\"No fax machine\";i:19;s:11:\"ResultEmpty\";i:20;s:7:\"Account\";i:21;s:9:\"Suspended\";i:22;s:11:\"Call
  Failed\";i:23;s:12:\"Call Failure\";i:24;s:14:\"Internal Error\";i:25;s:16:\"IP
  Phone offline\";i:26;s:17:\"Restricted Number\";i:27;s:12:\"Wrong Number\";i:28;s:7:\"Stopped\";i:29;s:7:\"Hang
  up\";i:30;s:17:\"Poor Line Quality\";i:31;s:14:\"Partially Sent\";i:32;s:25:\"International
  Restriction\";i:33;s:9:\"Abandoned\";i:34;s:8:\"Declined\";i:35;s:17:\"Fax Receipt
  Error\";i:36;s:14:\"Fax Send Error\";}}s:9:\"startTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  call start datetime in ISO 8601 format including timezone, for example 2016-03-10T18:07:52.534Z\";s:6:\"format\";s:9:\"date-time\";}s:8:\"duration\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:24:\"Call
  duration in seconds\";}s:9:\"recording\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/RecordingInfo\";s:11:\"description\";s:53:\"Call
  recording data. Returned if the call is recorded\";}}}s:13:\"CallLogRecord\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":15:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"Internal
  identifier of a cal log record\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"Canonical
  URI of a call log record\";}s:9:\"sessionId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"Internal
  identifier of a call session\";}s:4:\"from\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/CallerInfo\";s:11:\"description\";s:18:\"Caller
  information\";}s:2:\"to\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/CallerInfo\";s:11:\"description\";s:18:\"Callee
  information\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"Call
  type\";s:4:\"enum\";a:2:{i:0;s:5:\"Voice\";i:1;s:3:\"Fax\";}}s:9:\"direction\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Call
  direction\";s:4:\"enum\";a:2:{i:0;s:7:\"Inbound\";i:1;s:8:\"Outbound\";}}s:6:\"action\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"Action
  description of the call operation\";s:4:\"enum\";a:21:{i:0;s:7:\"Unknown\";i:1;s:10:\"Phone
  Call\";i:2;s:11:\"Phone Login\";i:3;s:12:\"Incoming Fax\";i:4;s:11:\"Accept Call\";i:5;s:6:\"FindMe\";i:6;s:8:\"FollowMe\";i:7;s:12:\"Outgoing
  Fax\";i:8;s:11:\"Call Return\";i:9;s:12:\"Calling Card\";i:10;s:13:\"Ring Directly\";i:11;s:11:\"RingOut
  Web\";i:12;s:9:\"VoIP Call\";i:13;s:10:\"RingOut PC\";i:14;s:6:\"RingMe\";i:15;s:8:\"Transfer\";i:16;s:8:\"411
  Info\";i:17;s:9:\"Emergency\";i:18;s:11:\"E911 Update\";i:19;s:7:\"Support\";i:20;s:14:\"RingOut
  Mobile\";}}s:6:\"result\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"Status
  description of the call operation\";s:4:\"enum\";a:37:{i:0;s:7:\"Unknown\";i:1;s:16:\"ResultInProgress\";i:2;s:6:\"Missed\";i:3;s:13:\"Call
  accepted\";i:4;s:9:\"Voicemail\";i:5;s:8:\"Rejected\";i:6;s:5:\"Reply\";i:7;s:8:\"Received\";i:8;s:13:\"Receive
  Error\";i:9;s:13:\"Fax on Demand\";i:10;s:15:\"Partial Receive\";i:11;s:7:\"Blocked\";i:12;s:14:\"Call
  connected\";i:13;s:9:\"No Answer\";i:14;s:22:\"International Disabled\";i:15;s:4:\"Busy\";i:16;s:10:\"Send
  Error\";i:17;s:4:\"Sent\";i:18;s:14:\"No fax machine\";i:19;s:11:\"ResultEmpty\";i:20;s:7:\"Account\";i:21;s:9:\"Suspended\";i:22;s:11:\"Call
  Failed\";i:23;s:12:\"Call Failure\";i:24;s:14:\"Internal Error\";i:25;s:16:\"IP
  Phone offline\";i:26;s:17:\"Restricted Number\";i:27;s:12:\"Wrong Number\";i:28;s:7:\"Stopped\";i:29;s:7:\"Hang
  up\";i:30;s:17:\"Poor Line Quality\";i:31;s:14:\"Partially Sent\";i:32;s:25:\"International
  Restriction\";i:33;s:9:\"Abandoned\";i:34;s:8:\"Declined\";i:35;s:17:\"Fax Receipt
  Error\";i:36;s:14:\"Fax Send Error\";}}s:9:\"startTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  call start datetime in ISO 8601 format including timezone, for example 2016-03-10T18:07:52.534Z\";s:6:\"format\";s:9:\"date-time\";}s:8:\"duration\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:24:\"Call
  duration in seconds\";}s:9:\"recording\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/RecordingInfo\";s:11:\"description\";s:112:\"Call
  recording data. Returned if the call is recorded, the withRecording parameter is
  set to 'True' in this case\";}s:16:\"lastModifiedTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:152:\"For
  'Detailed' view only. The datetime when the call log record was modified in ISO
  8601 format including timezone, for example 2016-03-10T18:07:52.534Z\";s:6:\"format\";s:9:\"date-time\";}s:9:\"transport\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"For
  'Detailed' view only. Call transport\";s:4:\"enum\";a:2:{i:0;s:4:\"PSTN\";i:1;s:4:\"VoIP\";}}s:4:\"legs\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:41:\"For
  'Detailed' view only. Leg description\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/LegInfo\";}}}}s:16:\"CalledNumberInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"phoneNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"Called
  phone number\";}}}s:10:\"CallerInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"phoneNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:374:\"Phone
  number of a party. Usually it is a plain number including country and area code
  like 18661234567. But sometimes it could be returned from database with some formatting
  applied, for example (866)123-4567. This property is filled in all cases where parties
  communicate by means of global phone numbers, for example when calling to direct
  numbers or sending/receiving SMS\";}s:15:\"extensionNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:219:\"Extension
  short number (usually 3 or 4 digits). This property is filled when parties communicate
  by means of short internal numbers, for example when calling to other extension
  or sending/receiving Company Pager message\";}s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:265:\"Contains
  party location (city, state) if one can be determined from phoneNumber. This property
  is filled only when phoneNumber is not empty and server can calculate location information
  from it (for example, this information is unavailable for US toll-free numbers)\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:154:\"Symbolic
  name associated with a party. If the phone does not belong to the known extension,
  only the location is returned, the name is not determined then\";}}}s:11:\"CallersInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"callerId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"Phone
  number of a caller\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"Contact
  name of a caller\";}}}s:32:\"Conferencing.Request.PhoneNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"phoneNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"Dial-in
  phone number to connect to a conference\";}s:7:\"default\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:206:\"'True'
  if the number is default for the conference. Default conference number is a domestic
  number that can be set by user (otherwise it is set by the system). Only one default
  number per country is allowed\";}}}s:16:\"ConferencingInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"Canonical
  URI of a conferencing\";}s:19:\"allowJoinBeforeHost\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:78:\"Determines
  if host user allows conference participants to join before the host\";}s:8:\"hostCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"Access
  code for a host user\";}s:4:\"mode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:49:\"Internal
  parameter specifying conferencing engine\";}s:15:\"participantCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"Access
  code for any participant\";}s:11:\"phoneNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:92:\"Primary
  conference phone number for user's home country returned in E.164 (11-digits) format\";}s:12:\"tapToJoinUri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:81:\"Short
  URL leading to the service web page Tap to Join for audio conference bridge\";}s:12:\"phoneNumbers\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:344:\"List
  of multiple dial-in phone numbers to connect to audio conference service, relevant
  for user's brand. Each number is given with the country and location information,
  in order to let the user choose the less expensive way to connect to a conference.
  The first number in the list is the primary conference number, that is default and
  domestic\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/ConferencingInfo.PhoneNumberInfo\";}}}}s:32:\"ConferencingInfo.PhoneNumberInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"country\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:58:\"#/definitions/ConferencingInfo.PhoneNumberInfo.CountryInfo\";s:11:\"description\";s:58:\"Information
  on a home country of a conference phone number\";}s:7:\"default\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:206:\"'True'
  if the number is default for the conference. Default conference number is a domestic
  number that can be set by user (otherwise it is set by the system). Only one default
  number per country is allowed\";}s:11:\"hasGreeting\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:55:\"'True'
  if the greeting message is played on this number\";}s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:59:\"Location
  (city, region, state) of a conference phone number\";}s:11:\"phoneNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"Dial-in
  phone number to connect to a conference\";}}}s:44:\"ConferencingInfo.PhoneNumberInfo.CountryInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"Internal
  identifier of a country\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"Canonical
  URI of a country\";}s:11:\"callingCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:88:\"Country
  calling code defined by ITU-T recommendations E.123 and E.164, see Calling Codes\";}s:16:\"emergencyCalling\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:78:\"Emergency
  calling feature availability/emergency address requirement indicator\";}s:7:\"isoCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:56:\"Country
  code according to the ISO standard, see ISO 3166\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"Official
  name of a country\";}}}s:18:\"ContactAddressInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"country\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:69:\"Country
  name of extension user company. Not returned for Address Book\";}s:5:\"state\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"State/province
  name of extension user company\";}s:4:\"city\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"City
  name of extension user company\";}s:6:\"street\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"Street
  address of extension user company\";}s:3:\"zip\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"Zip
  code of extension user company\";}}}s:11:\"ContactInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:9:\"firstName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:55:\"For
  User extension type only. Extension user first name\";}s:8:\"lastName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:54:\"For
  User extension type only. Extension user last name\";}s:7:\"company\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"Extension
  user company name\";}s:5:\"email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"Email
  of extension user\";}s:13:\"businessPhone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"Extension
  user contact phone number\";}s:15:\"businessAddress\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ContactAddressInfo\";s:11:\"description\";s:42:\"Business
  address of extension user company\";}}}s:11:\"CountryInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"Internal
  identifier of a home country\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"Canonical
  URI of a home country\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"Official
  name of a home country\";}}}s:18:\"CustomGreetingInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"Link
  to an extension custom greeting\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"Internal
  identifier of an answering rule\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:92:\"Type
  of a greeting, specifying the case when the greeting is played. See also Greeting
  Types\";s:4:\"enum\";a:6:{i:0;s:12:\"Introductory\";i:1;s:12:\"Announcement\";i:2;s:17:\"ConnectingMessage\";i:3;s:15:\"ConnectingAudio\";i:4;s:9:\"Voicemail\";i:5;s:11:\"Unavailable\";}}s:11:\"contentType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"Content
  media type in WAV/MP3 format\";}s:10:\"contentUri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"Link
  to a greeting content (audio file)\";}}}s:36:\"CustomGreetingInfo.AnsweringRuleInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"Internal
  identifier of an answering rule\";}}}s:12:\"DeliveryMode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:13:\"transportType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:85:\"Notifications
  transportation provider name. 'APNS' (Apple Push Notifications Service)\";s:4:\"enum\";a:3:{i:0;s:6:\"PubNub\";i:1;s:4:\"APNS\";i:2;s:16:\"PubNub/APNS/VoIP\";}}s:10:\"encryption\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:122:\"Optional
  parameter. Specifies if the message will be encrypted or not. For APNS transport
  type the value is always \"false\"\";}s:7:\"address\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:93:\"PubNub
  channel name. For APNS transport type - internal identifier of a device \"device_token\"\";}s:13:\"subscriberKey\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:66:\"PubNub
  subscriber credentials required to subscribe to the channel\";}s:9:\"secretKey\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:109:\"PubNub
  subscriber credentials required to subscribe to the channel. Optional (for PubNub
  transport type only)\";}s:19:\"encryptionAlgorithm\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:59:\"Encryption
  algorithm 'AES' (for PubNub transport type only)\";}s:13:\"encryptionKey\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:72:\"Key
  for notification message decryption (for PubNub transport type only)\";}}}s:33:\"Department.Response.ExtensionInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"Internal
  identifier of an extension\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Canonical
  URI of an extension\";}s:15:\"extensionNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"Number
  of department extension\";}s:9:\"partnerId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:546:\"For
  Partner Applications Internal identifier of an extension created by partner. The
  RingCentral supports the mapping of accounts and stores the corresponding account
  ID/extension ID for each partner ID of a client application. In request URIs partner
  IDs are accepted instead of regular RingCentral native IDs as path parameters using
  pid = XXX clause. Though in response URIs contain the corresponding account IDs
  and extension IDs. In all request and response bodies these values are reflected
  via partnerId attributes of account and extension\";}}}s:14:\"DepartmentInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"Internal
  identifier of a department extension\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"Canonical
  URI of a department extension\";}s:15:\"extensionNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"Number
  of a department extension\";}}}s:21:\"DetailedPresenceEvent\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":11:{s:11:\"extensionId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:55:\"Internal
  identifier of an extension. Optional parameter\";s:7:\"default\";s:1:\"~\";}s:15:\"telephonyStatus\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:95:\"Telephony
  presence status. Returned if telephony status is changed. See Telephony Status Values\";s:4:\"enum\";a:5:{i:0;s:6:\"NoCall\";i:1;s:13:\"CallConnected\";i:2;s:7:\"Ringing\";i:3;s:6:\"OnHold\";i:4;s:10:\"ParkedCall\";}}s:15:\"terminationType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:209:\"Type
  of call termination. Supported for calls in 'NoCall' status. If the returned termination
  type is 'Intermediate' it means the call is not actually ended, the connection is
  established on one of the devices\";s:4:\"enum\";a:2:{i:0;s:5:\"final\";i:1;s:12:\"intermediate\";}}s:11:\"activeCalls\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:30:\"Collection
  of Active Call Info\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:50:\"#/definitions/DetailedPresenceEvent.ActiveCallInfo\";}}s:8:\"sequence\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:54:\"Order
  number of a notification to state the chronology\";}s:14:\"presenceStatus\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:63:\"Aggregated
  presence status, calculated from a number of sources\";s:4:\"enum\";a:3:{i:0;s:7:\"Offline\";i:1;s:4:\"Busy\";i:2;s:9:\"Available\";}}s:10:\"userStatus\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:66:\"User-defined
  presence status (as previously published by the user)\";s:4:\"enum\";a:3:{i:0;s:7:\"Offline\";i:1;s:4:\"Busy\";i:2;s:9:\"Available\";}}s:9:\"dndStatus\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"Extended
  DnD (Do not Disturb) status\";s:4:\"enum\";a:4:{i:0;s:12:\"TakeAllCalls\";i:1;s:19:\"DoNotAcceptAnyCalls\";i:2;s:26:\"DoNotAcceptDepartmentCalls\";i:3;s:23:\"TakeDepartmentCallsOnly\";}}s:18:\"allowSeeMyPresence\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:71:\"If
  'True' enables other extensions to see the extension presence status\";}s:19:\"ringOnMonitoredCall\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:93:\"If
  'True' enables to ring extension phone, if any user monitored by this extension
  is ringing\";}s:17:\"pickUpCallsOnHold\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:72:\"If
  'True' enables the extension user to pick up a monitored line on hold\";}}}s:36:\"DetailedPresenceEvent.ActiveCallInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Internal
  identifier of a call\";}s:9:\"direction\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Call
  direction\";s:4:\"enum\";a:2:{i:0;s:7:\"Inbound\";i:1;s:8:\"Outbound\";}}s:4:\"from\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"Phone
  number or extension number of a caller\";}s:2:\"to\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"Phone
  number or extension number of a callee\";}s:15:\"telephonyStatus\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:82:\"Telephony
  call status. See Telephony Status Values for detailed status description\";s:4:\"enum\";a:5:{i:0;s:6:\"NoCall\";i:1;s:13:\"CallConnected\";i:2;s:7:\"Ringing\";i:3;s:6:\"OnHold\";i:4;s:10:\"ParkedCall\";}}s:9:\"sessionId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"Internal
  identifier of a call session\";}s:15:\"terminationType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:209:\"Type
  of call termination. Supported for calls in 'NoCall' status. If the returned termination
  type is 'Intermediate' it means the call is not actually ended, the connection is
  established on one of the devices\";s:4:\"enum\";a:2:{i:0;s:5:\"Final\";i:1;s:12:\"Intermediate\";}}}}s:28:\"DetailedPresenceNotification\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"uuid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"Universally
  unique identifier of a notification\";}s:5:\"event\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"Event
  filter URI\";}s:14:\"subscriptionId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"Internal
  identifier of a subscription\";}s:9:\"timestamp\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:114:\"The
  datetime of sending a notification in ISO 8601 format including timezone, for example
  2016-03-10T18:07:52.534Z\";s:6:\"format\";s:9:\"date-time\";}s:4:\"body\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/DetailedPresenceEvent\";s:11:\"description\";s:25:\"Notification
  payload body\";}}}s:35:\"DetailedPresenceWithSIPNotification\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"uuid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"Universally
  unique identifier of a notification\";}s:5:\"event\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"Event
  filter URI\";}s:14:\"subscriptionId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"Internal
  identifier of a subscription\";}s:9:\"timestamp\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:114:\"The
  datetime of sending a notification in ISO 8601 format including timezone, for example
  2016-03-10T18:07:52.534Z\";s:6:\"format\";s:9:\"date-time\";}s:4:\"body\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/DetailedPresencewithSIPEvent\";s:11:\"description\";s:25:\"Notification
  payload body\";}}}s:28:\"DetailedPresencewithSIPEvent\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":11:{s:11:\"extensionId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:55:\"Internal
  identifier of an extension. Optional parameter\";s:7:\"default\";s:1:\"~\";}s:15:\"telephonyStatus\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:95:\"Telephony
  presence status. Returned if telephony status is changed. See Telephony Status Values\";s:4:\"enum\";a:5:{i:0;s:6:\"NoCall\";i:1;s:13:\"CallConnected\";i:2;s:7:\"Ringing\";i:3;s:6:\"OnHold\";i:4;s:10:\"ParkedCall\";}}s:15:\"terminationType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:209:\"Type
  of call termination. Supported for calls in 'NoCall' status. If the returned termination
  type is 'Intermediate' it means the call is not actually ended, the connection is
  established on one of the devices\";s:4:\"enum\";a:2:{i:0;s:5:\"Final\";i:1;s:12:\"Intermediate\";}}s:11:\"activeCalls\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:27:\"Information
  on active calls\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:57:\"#/definitions/DetailedPresencewithSIPEvent.ActiveCallInfo\";}}s:8:\"sequence\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:54:\"Order
  number of a notification to state the chronology\";}s:14:\"presenceStatus\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:63:\"Aggregated
  presence status, calculated from a number of sources\";s:4:\"enum\";a:3:{i:0;s:7:\"Offline\";i:1;s:4:\"Busy\";i:2;s:9:\"Available\";}}s:10:\"userStatus\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:66:\"User-defined
  presence status (as previously published by the user)\";s:4:\"enum\";a:3:{i:0;s:7:\"Offline\";i:1;s:4:\"Busy\";i:2;s:9:\"Available\";}}s:9:\"dndStatus\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"Extended
  DnD (Do not Disturb) status\";s:4:\"enum\";a:4:{i:0;s:12:\"TakeAllCalls\";i:1;s:19:\"DoNotAcceptAnyCalls\";i:2;s:26:\"DoNotAcceptDepartmentCalls\";i:3;s:23:\"TakeDepartmentCallsOnly\";}}s:18:\"allowSeeMyPresence\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:71:\"If
  'True' enables other extensions to see the extension presence status\";}s:19:\"ringOnMonitoredCall\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:93:\"If
  'True' enables to ring extension phone, if any user monitored by this extension
  is ringing\";}s:17:\"pickUpCallsOnHold\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:72:\"If
  'True' enables the extension user to pick up a monitored line on hold\";}}}s:43:\"DetailedPresencewithSIPEvent.ActiveCallInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Internal
  identifier of a call\";}s:9:\"direction\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Call
  direction\";s:4:\"enum\";a:2:{i:0;s:7:\"Inbound\";i:1;s:8:\"Outbound\";}}s:4:\"from\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"Phone
  number or extension number of a caller\";}s:2:\"to\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"Phone
  number or extension number of a callee\";}s:15:\"telephonyStatus\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:82:\"Telephony
  call status. See Telephony Status Values for detailed status description\";s:4:\"enum\";a:5:{i:0;s:6:\"NoCall\";i:1;s:13:\"CallConnected\";i:2;s:7:\"Ringing\";i:3;s:6:\"OnHold\";i:4;s:10:\"ParkedCall\";}}s:9:\"sessionId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"Internal
  identifier of a call session\";}s:7:\"sipData\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/SIPData\";s:11:\"description\";s:23:\"SIP
  connection settings\";}}}s:10:\"DeviceInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":13:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"Internal
  identifier of a device\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"Canonical
  URI of a device\";}s:3:\"sku\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:264:\"Device
  identification number (stock keeping unit) in the format TP-ID [-AT-AC], where TP
  is device type (HP for RC HardPhone, DV for all other devices including softphone);
  ID - device model ID; AT -addon type ID; AC - addon count (if any). For example
  'HP-56-2-2'\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"Device
  type. The default value is 'HardPhone'\";s:4:\"enum\";a:3:{i:0;s:9:\"SoftPhone\";i:1;s:10:\"OtherPhone\";i:2;s:9:\"HardPhone\";}}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:171:\"Device
  name. Mandatory if ordering \"SoftPhone\" or \"OtherPhone\". Optional for \"HardPhone\".
  If not specified for HardPhone, then device \"model\" name is used as device \"name\"\";}s:6:\"serial\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:139:\"Serial
  number for HardPhone (is returned only when the phone is shipped and provisioned);
  endpoint_id for softphone and mobile applications\";}s:12:\"computerName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"PC
  name for softphone\";}s:5:\"model\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/ModelInfo\";s:11:\"description\";s:27:\"HardPhone
  model information\";}s:9:\"extension\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/DeviceInfo.ExtensionInfo\";s:11:\"description\";s:52:\"This
  attribute can be omitted for unassigned devices\";}s:23:\"emergencyServiceAddress\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/EmergencyAddressInfo\";s:11:\"description\";s:100:\"Address
  for emergency cases. The same emergency address is assigned to all the numbers of
  one device\";}s:10:\"phoneLines\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/PhoneLinesInfo\";s:11:\"description\";s:23:\"Phone
  lines information\";}s:8:\"shipping\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ShippingInfo\";s:11:\"description\";s:166:\"Shipping
  information, according to which devices (in case of \"HardPhone\") or e911 stickers
  (in case of \"SoftPhone\" and \"OtherPhone\") will be delivered to the customer\";}s:12:\"boxBillingId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:206:\"Box
  billing identifier of a device. Applicable only for HardPhones. It is an alternative
  way to identify the device to be ordered. Either \"model\" structure, or \"boxBillingId\"
  must be specified for HardPhone\";}}}s:24:\"DeviceInfo.ExtensionInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"Internal
  identifier of an extension\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Canonical
  URI of an extension\";}s:15:\"extensionNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"Number
  of department extension\";}s:9:\"partnerId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:546:\"For
  Partner Applications Internal identifier of an extension created by partner. The
  RingCentral supports the mapping of accounts and stores the corresponding account
  ID/extension ID for each partner ID of a client application. In request URIs partner
  IDs are accepted instead of regular RingCentral native IDs as path parameters using
  pid = XXX clause. Though in response URIs contain the corresponding account IDs
  and extension IDs. In all request and response bodies these values are reflected
  via partnerId attributes of account and extension\";}}}s:13:\"DialInNumbers\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"phoneNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:66:\"Phone
  number of the dial-in number for the meeting in e.164 format\";}s:15:\"formattedNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:84:\"Phone
  number of the dial-in number formatted according to the extension home country\";}s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:82:\"Optional
  field in case the dial-in number is associated with a particular location\";}s:7:\"country\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/DialInNumbers.CountryInfo\";s:11:\"description\";s:52:\"Country
  resource corresponding to the dial-in number\";}}}s:25:\"DialInNumbers.CountryInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"Internal
  identifier of a country\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"Canonical
  URI of a country\";}s:11:\"callingCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:88:\"Country
  calling code defined by ITU-T recommendations E.123 and E.164, see Calling Codes\";}s:7:\"isoCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:56:\"Country
  code according to the ISO standard, see ISO 3166\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"Official
  name of a country\";}}}s:22:\"DialingPlanCountryInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"Internal
  identifier of a country\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"Canonical
  URI of a country\";}s:11:\"callingCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:88:\"Country
  calling code defined by ITU-T recommendations E.123 and E.164, see Calling Codes\";}s:7:\"isoCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:56:\"Country
  code according to the ISO standard, see ISO 3166\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"Official
  name of a country\";}}}s:20:\"EmergencyAddressInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:12:\"customerName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"Name
  of a customer\";}s:6:\"street\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:68:\"Street
  address, line 1 - street address, P.O. box, company name, c/o\";}s:7:\"street2\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:70:\"Street
  address, line 2 - apartment, suite, unit, building, floor, etc.\";}s:4:\"city\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"City
  name\";}s:5:\"state\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"State/province
  name\";}s:3:\"zip\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:8:\"Zip
  code\";}s:7:\"country\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Country
  name\";}}}s:13:\"ExtensionInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":16:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"Internal
  identifier of an extension\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Canonical
  URI of an extension\";}s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ContactInfo\";s:11:\"description\";s:28:\"Contact
  detailed information\";}s:11:\"departments\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:171:\"Information
  on department extension(s), to which the requested extension belongs. Returned only
  for user extensions, members of department, requested by single extensionId\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/DepartmentInfo\";}}s:15:\"extensionNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"Number
  of department extension\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"Extension
  user name\";}s:9:\"partnerId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:546:\"For
  Partner Applications Internal identifier of an extension created by partner. The
  RingCentral supports the mapping of accounts and stores the corresponding account
  ID/extension ID for each partner ID of a client application. In request URIs partner
  IDs are accepted instead of regular RingCentral native IDs as path parameters using
  pid = XXX clause. Though in response URIs contain the corresponding account IDs
  and extension IDs. In all request and response bodies these values are reflected
  via partnerId attributes of account and extension\";}s:11:\"permissions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ExtensionPermissions\";s:11:\"description\";s:102:\"Extension
  permissions, corresponding to the Service Web permissions 'Admin' and 'InternationalCalling'\";}s:12:\"profileImage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ProfileImageInfo\";s:11:\"description\";s:28:\"Information
  on profile image\";}s:10:\"references\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:60:\"List
  of non-RC internal identifiers assigned to an extension\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ReferenceInfo\";}}s:16:\"regionalSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/RegionalSettings\";s:11:\"description\";s:56:\"Extension
  region data (timezone, home country, language)\";}s:15:\"serviceFeatures\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:149:\"Extension
  service features returned in response only when the logged-in user requests his/her
  own extension info, see also Extension Service Features\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/ExtensionServiceFeatureInfo\";}}s:16:\"setupWizardState\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:101:\"Specifies
  extension configuration wizard state (web service setup). The default value is 'NotStarted'\";s:4:\"enum\";a:3:{i:0;s:10:\"NotStarted\";i:1;s:10:\"Incomplete\";i:2;s:9:\"Completed\";}}s:6:\"status\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:83:\"Extension
  current state. If the status is 'Unassigned'. Returned for all extensions\";s:4:\"enum\";a:4:{i:0;s:7:\"Enabled\";i:1;s:8:\"Disabled\";i:2;s:12:\"NotActivated\";i:3;s:10:\"Unassigned\";}}s:10:\"statusInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StatusInfo\";s:11:\"description\";s:73:\"Status
  information (reason, comment). Returned for 'Disabled' status only\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Extension
  type\";s:4:\"enum\";a:12:{i:0;s:4:\"User\";i:1;s:7:\"FaxUser\";i:2;s:11:\"VirtualUser\";i:3;s:11:\"DigitalUser\";i:4;s:10:\"Department\";i:5;s:12:\"Announcement\";i:6;s:9:\"Voicemail\";i:7;s:16:\"SharedLinesGroup\";i:8;s:15:\"PagingOnlyGroup\";i:9;s:7:\"IvrMenu\";i:10;s:20:\"ApplicationExtension\";i:11;s:12:\"ParkLocation\";}}}}s:33:\"ExtensionInfo.Request.ContactInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ContactInfo\";s:11:\"description\";s:19:\"Contact
  information\";}s:16:\"regionalSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:64:\"#/definitions/ExtensionInfo.Request.ContactInfo.RegionalSettings\";s:11:\"description\";s:46:\"Region
  data (timezone, home country, language)\";}s:16:\"setupWizardState\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:101:\"Specifies
  extension configuration wizard state (web service setup). The default value is 'NotStarted'\";s:4:\"enum\";a:3:{i:0;s:10:\"NotStarted\";i:1;s:10:\"Incomplete\";i:2;s:9:\"Completed\";}}s:10:\"department\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"Extension
  user department\";}}}s:50:\"ExtensionInfo.Request.ContactInfo.RegionalSettings\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"timezone\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:73:\"#/definitions/ExtensionInfo.Request.ContactInfo.RegionalSettings.Timezone\";s:11:\"description\";s:13:\"Timezone
  data\";}s:8:\"language\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:73:\"#/definitions/ExtensionInfo.Request.ContactInfo.RegionalSettings.Language\";s:11:\"description\";s:28:\"User
  interface language data\";}s:16:\"greetingLanguage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:81:\"#/definitions/ExtensionInfo.Request.ContactInfo.RegionalSettings.GreetingLanguage\";s:11:\"description\";s:52:\"Information
  on language used for telephony greetings\";}s:16:\"formattingLocale\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:81:\"#/definitions/ExtensionInfo.Request.ContactInfo.RegionalSettings.FormattingLocale\";s:11:\"description\";s:65:\"Formatting
  language preferences for numbers, dates and currencies\";}}}s:67:\"ExtensionInfo.Request.ContactInfo.RegionalSettings.FormattingLocale\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"Internal
  identifier of a formatting language\";}}}s:67:\"ExtensionInfo.Request.ContactInfo.RegionalSettings.GreetingLanguage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"Internal
  identifier of a greeting language\";}}}s:59:\"ExtensionInfo.Request.ContactInfo.RegionalSettings.Language\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:61:\"Language
  identifier. The default value is \"1033\" (English US)\";}}}s:59:\"ExtensionInfo.Request.ContactInfo.RegionalSettings.Timezone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:58:\"Timezone
  identifier. The default value is \"58\" (US&Canada)\";}}}s:31:\"ExtensionInfo.Request.PartnerId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"partnerId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"Extension
  partner identifier\";}}}s:33:\"ExtensionInfo.Request.PasswordPIN\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"password\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Password
  for extension\";}s:6:\"ivrPin\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:7:\"IVR
  PIN\";}}}s:31:\"ExtensionInfo.Request.Provision\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"status\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"Mandatory.
  Resulting extension status\";s:4:\"enum\";a:1:{i:0;s:12:\"NotActivated\";}}s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:57:\"#/definitions/ExtensionInfo.Request.Provision.ContactInfo\";s:11:\"description\";s:45:\"Mandatory.
  Extension user contact information\";}}}s:43:\"ExtensionInfo.Request.Provision.ContactInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"firstName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"Mandatory.
  Extension user first name\";}s:8:\"lastName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"Mandatory.
  Extension user last name\";}s:5:\"email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"Mandatory.
  Extension user contact email\";}}}s:32:\"ExtensionInfo.Request.StatusInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"status\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"Required
  extension status\";s:4:\"enum\";a:3:{i:0;s:8:\"Disabled\";i:1;s:7:\"Enabled\";i:2;s:12:\"NotActivated\";}}s:10:\"statusInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StatusInfo\";s:11:\"description\";s:60:\"Extension
  status information, only for the 'Disabled' status\";}}}s:18:\"ExtensionInfoEvent\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"extensionId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"Internal
  identifier of an extension\";s:7:\"default\";s:1:\"~\";}s:9:\"eventType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Type
  of extension info change\";s:4:\"enum\";a:2:{i:0;s:6:\"Update\";i:1;s:6:\"Delete\";}}}}s:25:\"ExtensionInfoNotification\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"uuid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"Universally
  unique identifier of a notification\";}s:5:\"event\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"Event
  filter URI\";}s:14:\"subscriptionId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"Internal
  identifier of a subscription\";}s:9:\"timestamp\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:110:\"Datetime
  of sending a notification in ISO 8601 format including timezone, for example 2016-03-10T18:07:52.534Z\";s:6:\"format\";s:9:\"date-time\";}s:4:\"body\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ExtensionInfoEvent\";s:11:\"description\";s:25:\"Notification
  payload body\";}}}s:18:\"ExtensionListEvent\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"extensionId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"Internal
  identifier of an extension\";s:7:\"default\";s:1:\"~\";}s:9:\"eventType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Type
  of extension info change\";s:4:\"enum\";a:3:{i:0;s:6:\"Create\";i:1;s:6:\"Update\";i:2;s:6:\"Delete\";}}}}s:25:\"ExtensionListNotification\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"uuid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"Universally
  unique identifier of a notification\";}s:5:\"event\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"Event
  filter URI\";}s:14:\"subscriptionId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"Internal
  identifier of a subscription\";}s:9:\"timestamp\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:110:\"Datetime
  of sending a notification in ISO 8601 format including timezone, for example 2016-03-10T18:07:52.534Z\";s:6:\"format\";s:9:\"date-time\";}s:4:\"body\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ExtensionListEvent\";s:11:\"description\";s:25:\"Notification
  payload body\";}}}s:20:\"ExtensionPermissions\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"admin\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/PermissionInfo\";s:11:\"description\";s:16:\"Admin
  permission\";}s:20:\"internationalCalling\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/PermissionInfo\";s:11:\"description\";s:32:\"International
  Calling permission\";}}}s:27:\"ExtensionServiceFeatureInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"enabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:59:\"Feature
  status; shows feature availability for an extension\";}s:11:\"featureName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:62:\"Feature
  name, see all available values in Service Feature List\";}s:6:\"reason\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:273:\"Reason
  of limitation for a particular service feature. Returned only if the enabled parameter
  value is 'False', see Service Feature Limitations and Reasons. When retrieving service
  features for an extension, the reasons for the limitations, if any, are returned
  in response\";}}}s:16:\"ExternalUserInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"accountId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"User
  type of a meeting account\";s:7:\"default\";s:1:\"~\";}s:6:\"userId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"Meeting
  account user identifier\";}s:9:\"userToken\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"Meeting
  account user token\";}s:8:\"userType\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:25:\"Meeting
  account user type\";}}}s:20:\"FormattingLocaleInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"Internal
  identifier of a formatting language\";}s:10:\"localeCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"Localization
  code of a formatting language\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"Official
  name of a formatting language\";}}}s:14:\"ForwardingInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:18:\"notifyMySoftPhones\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:123:\"Specifies
  if the user's softphone(s) are notified before forwarding the incoming call to desk
  phones and forwarding numbers\";}s:21:\"notifyAdminSoftPhones\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:158:\"Specifies
  if the administrator's softphone is notified before forwarding the incoming call
  to desk phones and forwarding numbers. The default value is 'False'\";}s:19:\"softPhonesRingCount\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:40:\"Number
  of rings before forwarding starts\";}s:11:\"ringingMode\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:224:\"Specifies
  the order in which forwarding numbers ring. 'Sequentially' means that forwarding
  numbers are ringing one at a time, in order of priority. 'Simultaneously' means
  that forwarding numbers are ring all at the same time\";s:4:\"enum\";a:2:{i:0;s:12:\"Sequentially\";i:1;s:14:\"Simultaneously\";}}s:5:\"rules\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:37:\"Information
  on a call forwarding rule\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/RuleInfo\";}}}}s:20:\"ForwardingNumberInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:58:\"Internal
  identifier of a forwarding/call flip phone number\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:52:\"Canonical
  URI of a forwarding/call flip phone number\";}s:11:\"phoneNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"Forwarding/Call
  flip phone number\";}s:5:\"label\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"Forwarding/Call
  flip number title\";}s:8:\"features\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:74:\"Type
  of option this phone number is used for. Multiple values are accepted\";s:4:\"enum\";a:2:{i:0;s:8:\"CallFlip\";i:1;s:14:\"CallForwarding\";}}s:10:\"flipNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:86:\"Number
  assigned to the call flip phone number, corresponds to the shortcut dial number\";}}}s:15:\"FullCountryInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"Internal
  identifier of a country\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"Canonical
  URI of a country\";}s:11:\"callingCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:88:\"Country
  calling code defined by ITU-T recommendations E.123 and E.164, see Calling Codes\";}s:16:\"emergencyCalling\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:78:\"Emergency
  calling feature availability/emergency address requirement indicator\";}s:7:\"isoCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:56:\"Country
  code according to the ISO standard, see ISO 3166\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"Official
  name of a country\";}s:13:\"numberSelling\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:60:\"Determines
  whether phone numbers are available for a country\";}s:12:\"loginAllowed\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:80:\"Specifies
  whether login with the phone numbers of this country is enabled or not\";}}}s:9:\"GrantInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"Canonical
  URI of a grant\";}s:9:\"extension\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/GrantInfo.ExtensionInfo\";s:11:\"description\";s:21:\"Extension
  information\";}s:10:\"callPickup\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:164:\"Specifies
  if picking up of other extensions' calls is allowed for the extension. If 'Presence'
  feature is disabled for the given extension, the flag is not returned\";}s:14:\"callMonitoring\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:170:\"Specifies
  if monitoring of other extensions' calls is allowed for the extension. If 'CallMonitoring'
  feature is disabled for the given extension, the flag is not returned\";}}}s:23:\"GrantInfo.ExtensionInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"Internal
  identifier of an extension\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Canonical
  URI of an extension\";}s:15:\"extensionNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"Extension
  short number (usually 3 or 4 digits)\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Extension
  type\";s:4:\"enum\";a:12:{i:0;s:4:\"User\";i:1;s:8:\"Fax User\";i:2;s:11:\"VirtualUser\";i:3;s:11:\"DigitalUser\";i:4;s:10:\"Department\";i:5;s:12:\"Announcement\";i:6;s:9:\"Voicemail\";i:7;s:16:\"SharedLinesGroup\";i:8;s:10:\"PagingOnly\";i:9;s:7:\"IvrMenu\";i:10;s:20:\"ApplicationExtension\";i:11;s:13:\"Park
  Location\";}}}}s:12:\"GreetingInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:92:\"Type
  of a greeting, specifying the case when the greeting is played. See also Greeting
  Types\";s:4:\"enum\";a:6:{i:0;s:12:\"Introductory\";i:1;s:12:\"Announcement\";i:2;s:17:\"ConnectingMessage\";i:3;s:15:\"ConnectingAudio\";i:4;s:9:\"Voicemail\";i:5;s:11:\"Unavailable\";}}s:6:\"preset\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/PresetInfo\";s:11:\"description\";s:31:\"Predefined
  greeting information\";}}}s:20:\"GreetingLanguageInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"Internal
  identifier of a greeting language\";}s:10:\"localeCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"Localization
  code of a greeting language\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"Official
  name of a greeting language\";}}}s:9:\"GroupInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"Internal
  identifier of a group\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"Canonical
  URI of a group\";}s:13:\"contactsCount\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:29:\"Amount
  of contacts in a group\";}s:9:\"groupName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"Name
  of a group\";}s:5:\"notes\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"Notes
  for a group\";}}}s:8:\"ImageUri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"Link
  to an image.\";}}}s:24:\"IncomingCallNotification\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":17:{s:5:\"event\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"Event
  filter URI\";}s:4:\"uuid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"Universally
  unique identifier of a notification\";}s:14:\"subscriptionId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"Internal
  identifier of a subscription\";}s:9:\"timestamp\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:105:\"The
  datetime of a call action in ISO 8601 format including timezone, for example 2016-03-10T18:07:52.534Z\";s:6:\"format\";s:9:\"date-time\";}s:11:\"extensionId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"Internal
  identifier of an extension\";s:7:\"default\";s:1:\"~\";}s:6:\"action\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"Calling
  action, for example 'StartRing'\";}s:9:\"sessionId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"Identifier
  of a call session\";}s:8:\"serverId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Identifier
  of a server\";}s:4:\"from\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"Phone
  number of a caller\";}s:8:\"fromName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Caller
  name\";}s:2:\"to\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"Phone
  number of a callee\";}s:6:\"toName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Callee
  name\";}s:3:\"sid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"Unique
  identifier of a session\";}s:5:\"toUrl\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"SIP
  proxy registration name\";}s:6:\"srvLvl\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"User
  data\";}s:9:\"srvLvlExt\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"User
  data\";}s:6:\"recUrl\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"File
  containing recorded caller name\";}}}s:28:\"InstantMessageAttachmentInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"Internal
  identifier of a message attachment\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"Type
  of a message attachment. The default value is 'Text'\";}s:11:\"contentType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:85:\"Content
  type of an attachment, see also MIME Types. The default value is 'text/plain'\";}}}s:19:\"InstantMessageEvent\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":14:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"Internal
  identifier of a message\";}s:2:\"to\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:31:\"Message
  receiver(s) information\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/InstantMessageEvent.CallerInfo\";}}s:4:\"from\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/InstantMessageEvent.CallerInfo\";s:11:\"description\";s:26:\"Message
  sender information\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"Type
  of a message. The default value is 'SMS'\";}s:12:\"creationTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:101:\"Message
  creation datetime in ISO 8601 format including timezone, for example 2016-03-10T18:07:52.534Z\";s:6:\"format\";s:9:\"date-time\";}s:16:\"lastModifiedTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:118:\"The
  datetime when the message was modified in ISO 8601 format including timezone, for
  example 2016-03-10T18:07:52.534Z\";s:6:\"format\";s:9:\"date-time\";}s:10:\"readStatus\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:50:\"Status
  of a message. The default value is 'Unread'\";}s:8:\"priority\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"The
  default value is 'Normal'\";}s:11:\"attachments\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:23:\"Message
  attachment data\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/InstantMessageAttachmentInfo\";}}s:9:\"direction\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:49:\"Message
  direction. The default value is 'Inbound'\";}s:12:\"availability\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"Message
  availability status. The default value is 'Alive'\";}s:7:\"subject\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:83:\"Message
  subject. It replicates message text which is also returned as an attachment\";}s:13:\"messageStatus\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:52:\"Status
  of a message. The default value is 'Received'\";}s:14:\"conversationId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:53:\"Identifier
  of the conversation the message belongs to\";}}}s:30:\"InstantMessageEvent.CallerInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"phoneNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"Phone
  number in E.164 (with '+' sign) format\";}s:15:\"extensionNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"Extension
  number\";}s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:265:\"Contains
  party location (city, state) if one can be determined from phoneNumber. This property
  is filled only when phoneNumber is not empty and server can calculate location information
  from it (for example, this information is unavailable for US toll-free numbers)\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:162:\"Symbolic
  name associated with a caller/callee. If the phone does not belong to the known
  extension, only the location is returned, the name is not determined then\";}}}s:26:\"InstantMessageNotification\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"uuid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"Universally
  unique identifier of a notification\";}s:5:\"event\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"Event
  filter URI\";}s:14:\"subscriptionId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"Internal
  identifier of a subscription\";}s:9:\"timestamp\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:110:\"Datetime
  of sending a notification in ISO 8601 format including timezone, for example 2016-03-10T18:07:52.534Z\";s:6:\"format\";s:9:\"date-time\";}s:4:\"body\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/InstantMessageEvent\";s:11:\"description\";s:25:\"Notification
  payload body\";}}}s:12:\"LanguageInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"Internal
  identifier of a language\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"Canonical
  URI of a language\";}s:8:\"greeting\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:62:\"Indicates
  whether a language is available as greeting language\";}s:16:\"formattingLocale\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:62:\"Indicates
  whether a language is available as formatting locale\";}s:10:\"localeCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"Localization
  code of a language\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"Official
  name of a language\";}s:2:\"ui\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:56:\"Indicates
  whether a language is available as UI language\";}}}s:7:\"LegInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:6:\"action\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"Action
  description of the call operation\";s:4:\"enum\";a:21:{i:0;s:7:\"Unknown\";i:1;s:10:\"Phone
  Call\";i:2;s:11:\"Phone Login\";i:3;s:12:\"Incoming Fax\";i:4;s:11:\"Accept Call\";i:5;s:6:\"FindMe\";i:6;s:8:\"FollowMe\";i:7;s:12:\"Outgoing
  Fax\";i:8;s:11:\"Call Return\";i:9;s:12:\"Calling Card\";i:10;s:13:\"Ring Directly\";i:11;s:11:\"RingOut
  Web\";i:12;s:9:\"VoIP Call\";i:13;s:10:\"RingOut PC\";i:14;s:6:\"RingMe\";i:15;s:8:\"Transfer\";i:16;s:8:\"411
  Info\";i:17;s:9:\"Emergency\";i:18;s:11:\"E911 Update\";i:19;s:7:\"Support\";i:20;s:14:\"RingOut
  Mobile\";}}s:9:\"direction\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Call
  direction\";s:4:\"enum\";a:2:{i:0;s:7:\"Inbound\";i:1;s:8:\"Outbound\";}}s:8:\"duration\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:24:\"Call
  duration in seconds\";}s:9:\"extension\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/LegInfo.ExtensionInfo\";s:11:\"description\";s:24:\"Information
  on extension\";}s:7:\"legType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:8:\"Leg
  type\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  call start datetime in ISO 8601 format including timezone, for example 2016-03-10T18:07:52.534Z\";s:6:\"format\";s:9:\"date-time\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"Call
  type\";s:4:\"enum\";a:2:{i:0;s:5:\"Voice\";i:1;s:3:\"Fax\";}}s:6:\"result\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"Status
  description of the call operation\";s:4:\"enum\";a:37:{i:0;s:7:\"Unknown\";i:1;s:16:\"ResultInProgress\";i:2;s:6:\"Missed\";i:3;s:13:\"Call
  accepted\";i:4;s:9:\"Voicemail\";i:5;s:8:\"Rejected\";i:6;s:5:\"Reply\";i:7;s:8:\"Received\";i:8;s:13:\"Receive
  Error\";i:9;s:13:\"Fax on Demand\";i:10;s:15:\"Partial Receive\";i:11;s:7:\"Blocked\";i:12;s:14:\"Call
  connected\";i:13;s:9:\"No Answer\";i:14;s:22:\"International Disabled\";i:15;s:4:\"Busy\";i:16;s:10:\"Send
  Error\";i:17;s:4:\"Sent\";i:18;s:14:\"No fax machine\";i:19;s:11:\"ResultEmpty\";i:20;s:7:\"Account\";i:21;s:9:\"Suspended\";i:22;s:11:\"Call
  Failed\";i:23;s:12:\"Call Failure\";i:24;s:14:\"Internal Error\";i:25;s:16:\"IP
  Phone offline\";i:26;s:17:\"Restricted Number\";i:27;s:12:\"Wrong Number\";i:28;s:7:\"Stopped\";i:29;s:7:\"Hang
  up\";i:30;s:17:\"Poor Line Quality\";i:31;s:14:\"Partially Sent\";i:32;s:25:\"International
  Restriction\";i:33;s:9:\"Abandoned\";i:34;s:8:\"Declined\";i:35;s:17:\"Fax Receipt
  Error\";i:36;s:14:\"Fax Send Error\";}}s:4:\"from\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/CallerInfo\";s:11:\"description\";s:18:\"Caller
  information\";}s:2:\"to\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/CallerInfo\";s:11:\"description\";s:18:\"Callee
  information\";}s:9:\"transport\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Call
  transport\";s:4:\"enum\";a:2:{i:0;s:4:\"PSTN\";i:1;s:4:\"VoIP\";}}s:9:\"recording\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/RecordingInfo\";s:11:\"description\";s:53:\"Call
  recording data. Returned if the call is recorded\";}}}s:21:\"LegInfo.ExtensionInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"Internal
  identifier of an extension\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Canonical
  URI of an extension\";}}}s:9:\"LinksInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"startUri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"Link
  to start a meeting\";}s:7:\"joinUri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Link
  to join a meeting\";}}}s:12:\"LocationInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"Canonical
  URI of a location\";}s:8:\"areaCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"Area
  code of the location\";}s:4:\"city\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"Official
  name of the city, belonging to the certain state\";}s:3:\"npa\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:271:\"Area
  code of the location (3-digit usually), according to the NANP number format, that
  can be summarized as NPA-NXX-xxxx and covers Canada, the United States, parts of
  the Caribbean Sea, and some Atlantic and Pacific islands. See for details North
  American Numbering Plan\";}s:3:\"nxx\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:263:\"Central
  office code of the location, according to the NANP number format, that can be summarized
  as NPA-NXX-xxxx and covers Canada, the United States, parts of the Caribbean Sea,
  and some Atlantic and Pacific islands. See for details North American Numbering
  Plan\";}s:5:\"state\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:64:\"ID
  and URI of the state this location belongs to, see State Info\";}}}s:33:\"LookUpPhoneNumber.PhoneNumberInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"phoneNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"Phone
  number in E.164 format without a '+'\";}s:15:\"formattedNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:67:\"Phone
  number formatted according to current brand's default country\";}s:13:\"vanityPattern\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:165:\"Vanity
  pattern for this number. Returned only when vanity search option is requested. Vanity
  pattern corresponds to request parameters nxx plus line or numberPattern\";}s:4:\"rank\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:88:\"The
  value is returned if the extendedSearch parameter is true. '10' is the closest match\";}}}s:11:\"MeetingInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"Canonical
  URI of a meeting resource\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:55:\"Internal
  identifier of a meeting as retrieved from Zoom\";}s:5:\"topic\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"Topic
  of a meeting\";}s:11:\"meetingType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"Type
  of a meeting\";s:4:\"enum\";a:3:{i:0;s:9:\"Scheduled\";i:1;s:7:\"Instant\";i:2;s:9:\"Recurring\";}}s:8:\"password\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"Password
  required to join a meeting\";}s:6:\"status\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"Current
  status of a meeting\";s:4:\"enum\";a:2:{i:0;s:10:\"NotStarted\";i:1;s:7:\"Started\";}}s:5:\"links\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/LinksInfo\";s:11:\"description\";s:31:\"Links
  to start/join the meeting\";}s:8:\"schedule\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/MeetingScheduleInfo\";s:11:\"description\";s:21:\"Schedule
  of a meeting\";}s:19:\"allowJoinBeforeHost\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:152:\"If
  'True' then the meeting can be joined and started by any participant (not host only).
  Supported for the meetings of 'Scheduled' and 'Recurring' type.\";}s:14:\"startHostVideo\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:50:\"Enables
  starting video when host joins the meeting\";}s:22:\"startParticipantsVideo\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:57:\"Enables
  starting video when participants join the meeting\";}s:12:\"audioOptions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:67:\"Meeting
  audio options. Possible values are 'Phone', 'ComputerAudio'\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:19:\"MeetingScheduleInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"startTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"Start
  time of a meeting in ISO 8601 format including timezone, for example 2016-03-10T18:07:52.534Z\";s:6:\"format\";s:9:\"date-time\";}s:17:\"durationInMinutes\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:32:\"Duration
  of a meeting in minutes\";}s:8:\"timeZone\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:46:\"#/definitions/MeetingScheduleInfo.TimezoneInfo\";s:11:\"description\";s:21:\"Timezone
  of a meeting\";}}}s:32:\"MeetingScheduleInfo.TimezoneInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"Identifier
  of a timezone\";}}}s:18:\"MeetingServiceInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:48:\"Canonical
  URI of a meeting service info resource\";}s:10:\"supportUri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:62:\"URI
  to retrieve support information for meetings functionality\";}s:20:\"intlDialInNumbersUri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"URI
  to retrieve international dial in numbers\";}s:16:\"externalUserInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ExternalUserInfo\";s:11:\"description\";s:18:\"External
  user data\";}s:13:\"dialInNumbers\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/DialInNumbers\";s:11:\"description\";s:20:\"Dial-in
  numbers data\";}}}s:21:\"MessageAttachmentInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"Internal
  identifier of a message attachment\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"Canonical
  URI of a message attachment\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"Type
  of message attachment\";s:4:\"enum\";a:5:{i:0;s:14:\"AudioRecording\";i:1;s:18:\"AudioTranscription\";i:2;s:4:\"Text\";i:3;s:14:\"SourceDocument\";i:4;s:16:\"RenderedDocument\";}}s:11:\"contentType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:58:\"MIME
  type for a given attachment, for instance 'audio/wav'\";}s:10:\"vmDuration\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:51:\"Voicemail
  only Duration of the voicemail in seconds\";}}}s:13:\"MessageChange\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Message
  type\";s:4:\"enum\";a:4:{i:0;s:9:\"Voicemail\";i:1;s:3:\"SMS\";i:2;s:3:\"Fax\";i:3;s:5:\"Pager\";}}s:8:\"newCount\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:63:\"The
  number of new messages. Can be omitted if the value is zero\";}s:12:\"updatedCount\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:67:\"The
  number of updated messages. Can be omitted if the value is zero\";}}}s:12:\"MessageEvent\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"extensionId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:55:\"Internal
  identifier of an extension. Optional parameter\";s:7:\"default\";s:1:\"~\";}s:11:\"lastUpdated\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:123:\"The
  datetime when the message was last modified in ISO 8601 format including timezone,
  for example 2016-03-10T18:07:52.534Z\";s:6:\"format\";s:9:\"date-time\";}s:7:\"changes\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:15:\"Message
  changes\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/MessageChange\";}}}}s:11:\"MessageInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":22:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"Internal
  identifier of a message\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"Canonical
  URI of a message\";}s:11:\"attachments\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:31:\"The
  list of message attachments\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/MessageAttachmentInfo\";}}s:12:\"availability\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:241:\"Message
  availability status. Message in 'Deleted' state is still preserved with all its
  attachments and can be restored. 'Purged' means that all attachments are already
  deleted and the message itself is about to be physically deleted shortly\";s:4:\"enum\";a:3:{i:0;s:5:\"Alive\";i:1;s:7:\"Deleted\";i:2;s:6:\"Purged\";}}s:14:\"conversationId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:73:\"SMS
  and Pager only. Identifier of the conversation the message belongs to\";s:6:\"format\";s:5:\"int64\";}s:12:\"creationTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:101:\"Message
  creation datetime in ISO 8601 format including timezone, for example 2016-03-10T18:07:52.534Z\";s:6:\"format\";s:9:\"date-time\";}s:17:\"deliveryErrorCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:49:\"SMS
  only. Delivery error code returned by gateway\";}s:9:\"direction\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:134:\"Message
  direction. Note that for some message types not all directions are allowed. For
  example voicemail messages can be only inbound\";s:4:\"enum\";a:2:{i:0;s:7:\"Inbound\";i:1;s:8:\"Outbound\";}}s:12:\"faxPageCount\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:35:\"Fax
  only. Page count in fax message\";}s:13:\"faxResolution\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:142:\"Fax
  only. Resolution of fax message. ('High' for black and white image scanned at 200
  dpi, 'Low' for black and white image scanned at 100 dpi)\";s:4:\"enum\";a:2:{i:0;s:4:\"High\";i:1;s:3:\"Low\";}}s:4:\"from\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/MessageInfo.CallerInfo\";s:11:\"description\";s:18:\"Sender
  information\";}s:16:\"lastModifiedTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:128:\"The
  datetime when the message was modified on server in ISO 8601 format including timezone,
  for example 2016-03-10T18:07:52.534Z\";s:6:\"format\";s:9:\"date-time\";}s:13:\"messageStatus\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:81:\"Message
  status. Different message types may have different allowed status values.\";s:4:\"enum\";a:6:{i:0;s:6:\"Queued\";i:1;s:4:\"Sent\";i:2;s:9:\"Delivered\";i:3;s:14:\"DeliveryFailed\";i:4;s:13:\"SendingFailed\";i:5;s:8:\"Received\";}}s:14:\"pgToDepartment\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:81:\"Pager
  only True if at least one of the message recipients is Department extension\";}s:8:\"priority\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"Message
  priority\";s:4:\"enum\";a:2:{i:0;s:6:\"Normal\";i:1;s:4:\"High\";}}s:10:\"readStatus\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"Message
[...]
