---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":4:{s:11:\"description\";s:428:\"This is an interactive
  API explorer for the RingCentral Connect Platform. To use this service, you will
  need to have a developer account.\r\n\r\n## Links\r\n* <a href=\"/api-explorer/latest/swagger-ring_basic.json\"
  target=\"_blank\">RingCentral API Spec</a><span>&nbsp;&nbsp;(OpenAPI fka Swagger
  format)&nbsp;&nbsp;&nbsp;&nbsp;</span><a href=\"https://github.com/OAI/OpenAPI-Specification\"
  target=\"_blank\">Learn more about OpenAPI</a>\r\n\r\n\";s:7:\"version\";s:3:\"1.0\";s:5:\"title\";s:41:\"RingCentral
  Connect Platform API Explorer\";s:14:\"termsOfService\";s:33:\"https://developer.ringcentral.com\";}"
host: platform.devtest.ringcentral.com
basePath: /restapi
paths: ~
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":164:{s:26:\"CreateAnsweringRuleRequest\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":12:{s:7:\"enabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:72:\"Specifies
  if the rule is active or inactive. The default value is 'True'\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:58:\"Type
  of an answering rule, the supported value is 'Custom'\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:72:\"Name
  of an answering rule specified by user. Max number of symbols is 30\";}s:7:\"callers\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/CallersInfoRequest\";}s:11:\"description\";s:83:\"Answering
  rule will be applied when calls are received from the specified caller(s)\";}s:13:\"calledNumbers\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/CalledNumberInfoRequest\";}s:11:\"description\";s:67:\"Answering
  rule will be applied when calling the specified number(s)\";}s:8:\"schedule\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:45:\"#/definitions/CustomAnsweringRuleScheduleInfo\";s:11:\"description\";s:49:\"Schedule
  when an answering rule should be applied\";}s:18:\"callHandlingAction\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:6:{i:0;s:12:\"ForwardCalls\";i:1;s:23:\"UnconditionalForwarding\";i:2;s:10:\"AgentQueue\";i:3;s:19:\"TransferToExtension\";i:4;s:16:\"TakeMessagesOnly\";i:5;s:20:\"PlayAnnouncementOnly\";}s:11:\"description\";s:187:\"Specifies
  how incoming calls should be forwarded. The default value for user extension type
  is 'ForwardCalls'. The default value for department (call queue) extension type
  is 'AgentQueue'\";}s:10:\"forwarding\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:45:\"#/definitions/ForwardingInfoCreateRuleRequest\";s:11:\"description\";s:289:\"Forwarding
  parameters. If the 'callHandlingAction' parameter value is set to 'ForwardCalls'
  - should be specified . The settings determine the forwarding numbers to which the
  call should be forwarded. If not specified in request, then the business-hours forwarding
  rules are set by default\";}s:23:\"unconditionalForwarding\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:48:\"#/definitions/UnconditionalForwardingInfoRequest\";s:11:\"description\";s:136:\"Unconditional
  forwarding parameters. Should be specified if the 'callHandlingAction' parameter
  value is set to 'UnconditionalForwarding'\";}s:5:\"queue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/QueueInfoRequest\";s:11:\"description\";s:130:\"Queue
  settings applied for department (call queue) extension type, with the 'AgentQueue'
  value specified as a call handling action\";}s:9:\"voicemail\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/VoicemailInfoRequest\";s:11:\"description\";s:58:\"Specifies
  whether to take a voicemail and who should do it\";}s:9:\"greetings\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/GreetingInfo\";}s:11:\"description\";s:111:\"Greetings
  applied for an answering rule; only predefined greetings can be applied, see Dictionary
  Greeting List\";}}}s:18:\"CallersInfoRequest\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"callerId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"Phone
  number of a caller\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"Contact
  name of a caller\";}}}s:23:\"CalledNumberInfoRequest\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"phoneNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"Called
  phone number\";}}}s:31:\"CustomAnsweringRuleScheduleInfo\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"weeklyRanges\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:51:\"#/definitions/CustomAnsweringRuleWeeklyScheduleInfo\";s:11:\"description\";s:57:\"Weekly
  schedule. If specified, ranges cannot be specified\";}s:6:\"ranges\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/RangesInfo\";s:11:\"description\";s:68:\"Specific
  data ranges. If specified, weeklyRanges cannot be specified\";}}}s:37:\"CustomAnsweringRuleWeeklyScheduleInfo\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":7:{s:6:\"monday\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/CustomAnsweringRuleTimeInterval\";}s:11:\"description\";s:35:\"Time
  intervals for a particular day\";}s:7:\"tuesday\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/CustomAnsweringRuleTimeInterval\";}s:11:\"description\";s:35:\"Time
  intervals for a particular day\";}s:9:\"wednesday\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/CustomAnsweringRuleTimeInterval\";}s:11:\"description\";s:35:\"Time
  intervals for a particular day\";}s:8:\"thursday\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/CustomAnsweringRuleTimeInterval\";}s:11:\"description\";s:35:\"Time
  intervals for a particular day\";}s:6:\"friday\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/CustomAnsweringRuleTimeInterval\";}s:11:\"description\";s:35:\"Time
  intervals for a particular day\";}s:8:\"saturday\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/CustomAnsweringRuleTimeInterval\";}s:11:\"description\";s:35:\"Time
  intervals for a particular day\";}s:6:\"sunday\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/CustomAnsweringRuleTimeInterval\";}s:11:\"description\";s:35:\"Time
  intervals for a particular day\";}}}s:29:\"CustomAnsweringRuleRangesInfo\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"from\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"Date
  and time in format YYYY-MM-DD hh:mm\";}s:2:\"to\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"Date
  and time in format YYYY-MM-DD hh:mm\";}}}s:31:\"CustomAnsweringRuleTimeInterval\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"from\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"Time
  in format hh:mm\";}s:2:\"to\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"Time
  in format hh:mm\";}}}s:31:\"ForwardingInfoCreateRuleRequest\";O:8:\"stdClass\":2:{s:8:\"required\";a:1:{i:0;s:5:\"rules\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:18:\"notifyMySoftPhones\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:90:\"Specifies
  if the first ring on desktop/mobile apps is enabled. The default value is 'True'\";}s:21:\"notifyAdminSoftPhones\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:179:\"Specifies
  if the administrator's softphone (desktop application) is notified before forwarding
  the incoming call to desk phones and forwarding numbers. The default value is 'True'\";}s:19:\"softPhonesRingCount\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:94:\"Specifies
  delay between ring on apps and starting of a call forwarding. The default value
  is 1\";}s:11:\"ringingMode\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:12:\"Sequentially\";i:1;s:14:\"Simultaneously\";}s:11:\"description\";s:264:\"Specifies
  the order in which forwarding numbers ring. 'Sequentially' means that forwarding
  numbers are ringing one at a time, in order of priority. 'Simultaneously' means
  that forwarding numbers are ringing all at the same time. The default value is 'Sequentially'\";}s:5:\"rules\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/RuleInfoCreateRuleRequest\";}s:11:\"description\";s:119:\"Information
  on a call forwarding rule. By default includes all forwarding numbers used in default
  rule (business hours)\";}}}s:25:\"RuleInfoCreateRuleRequest\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"index\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:36:\"Forwarding
  number (or group) ordinal\";}s:9:\"ringCount\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:50:\"Number
  of rings for a forwarding number (or group)\";}s:17:\"forwardingNumbers\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:56:\"#/definitions/ForwardingNumberInfoRulesCreateRuleRequest\";}s:11:\"description\";s:33:\"Forwarding
  number (or group) data\";}}}s:42:\"ForwardingNumberInfoRulesCreateRuleRequest\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"Internal
  identifier of a forwarding number\";}}}s:34:\"UnconditionalForwardingInfoRequest\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"phoneNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"Phone
  number to which the call is forwarded\";}}}s:16:\"QueueInfoRequest\";O:8:\"stdClass\":2:{s:8:\"required\";a:2:{i:0;s:16:\"fixedOrderAgents\";i:1;s:8:\"transfer\";}s:10:\"properties\";O:8:\"stdClass\":10:{s:12:\"transferMode\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:8:\"Rotating\";i:1;s:12:\"Simultaneous\";i:2;s:10:\"FixedOrder\";}s:11:\"description\";s:85:\"Specifies
  how calls are transferred to group members. The default value is 'Rotating'\";}s:16:\"fixedOrderAgents\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/FixedOrderAgentRequest\";}s:11:\"description\";s:99:\"Ordered
  list of agents (department members). The default value is the list from business
  hours rule\";}s:25:\"holdAudioInterruptionMode\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:5:\"Never\";i:1;s:13:\"WhenMusicEnds\";i:2;s:12:\"Periodically\";}s:11:\"description\";s:156:\"Connecting
  audio interruption mode. The default value is 'Never' if holdAudioInterruptPeriod
  is not specified, otherwise the default value is 'Periodically'\";}s:24:\"holdAudioInterruptPeriod\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:150:\"Connecting
  audio interruption message period in seconds, the possible values are from 1 to
  60. Mandatory if interruption mode is set to 'Periodically'\";}s:12:\"agentTimeout\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:150:\"Maximum
  time in seconds to wait for a call queue member before trying the next member. The
  possible values are from 10 to 300. The default value is 60\";}s:10:\"wrapUpTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:145:\"Minimum
  post-call wrap up time in seconds before agent status is automatically set. The
  possible values are from 0 to 60. The default value is 15\";}s:8:\"holdTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:135:\"Maximum
  hold time in seconds to wait for an available call queue member. The possible values
  are from 0 to 900. The default vale is 180\";}s:10:\"maxCallers\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:95:\"Maximum
  count of callers on hold. The possible values are from 0 to 30. The default value
  is 10\";}s:16:\"maxCallersAction\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:9:\"Voicemail\";i:1;s:12:\"Announcement\";}s:11:\"description\";s:110:\"Action
  which should be taken if count of callers on hold exceeds the maximum. The default
  value is 'Voicemail'\";}s:8:\"transfer\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/TransferredExtensionRequest\";s:11:\"description\";s:213:\"Transfer
  settings applied for department (call queue) extension type with 'TransferToExtension'
  call handling action. It is possible to use any extension of a given account, including
  the extension of a department\";}}}s:27:\"TransferredExtensionRequest\";O:8:\"stdClass\":2:{s:8:\"required\";a:1:{i:0;s:9:\"extension\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"extension\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:45:\"#/definitions/TransferredExtensionInfoRequest\";s:11:\"description\";s:53:\"Information
  on an agent (department member) extension\";}}}s:31:\"TransferredExtensionInfoRequest\";O:8:\"stdClass\":2:{s:8:\"required\";a:1:{i:0;s:2:\"id\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:35:\"Internal
  identifier of an extension\";}}}s:22:\"FixedOrderAgentRequest\";O:8:\"stdClass\":2:{s:8:\"required\";a:2:{i:0;s:9:\"extension\";i:1;s:5:\"index\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"extension\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:49:\"#/definitions/FixedOrderAgentExtensionInfoRequest\";s:11:\"description\";s:53:\"Information
  on an agent (department member) extension\";}s:5:\"index\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:39:\"Ordinal
  of an agent (department member)\";}}}s:35:\"FixedOrderAgentExtensionInfoRequest\";O:8:\"stdClass\":2:{s:8:\"required\";a:1:{i:0;s:2:\"id\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"Internal
  identifier of an extension\";}}}s:26:\"UpdateAnsweringRuleRequest\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":11:{s:7:\"enabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:48:\"Specifies
  if the answering rule is active or not\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:72:\"Custom
  name of an answering rule. The maximum number of characters is 64\";}s:7:\"callers\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CallersInfo\";}s:11:\"description\";s:76:\"Answering
  rules are applied when calls are received from specified caller(s)\";}s:13:\"calledNumbers\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/CalledNumberInfo\";}s:11:\"description\";s:62:\"Answering
  rules are applied when calling to selected number(s)\";}s:8:\"schedule\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ScheduleInfo\";s:11:\"description\";s:49:\"Schedule
  when an answering rule should be applied\";}s:18:\"callHandlingAction\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:6:{i:0;s:12:\"ForwardCalls\";i:1;s:23:\"UnconditionalForwarding\";i:2;s:10:\"AgentQueue\";i:3;s:19:\"TransferToExtension\";i:4;s:16:\"TakeMessagesOnly\";i:5;s:20:\"PlayAnnouncementOnly\";}s:11:\"description\";s:187:\"Specifies
  how incoming calls should be forwarded. The default value for user extension type
  is 'ForwardCalls'. The default value for department (call queue) extension type
  is 'AgentQueue'\";}s:10:\"forwarding\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:45:\"#/definitions/ForwardingInfoCreateRuleRequest\";s:11:\"description\";s:172:\"Forwarding
  parameters. Specified if 'ForwardCalls' is specified in 'callHandlingAction'. These
  settings determine the forwarding numbers to which the call will be forwarded\";}s:23:\"unconditionalForwarding\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/UnconditionalForwardingInfo\";s:11:\"description\";s:112:\"Unconditional
  forwarding parameters. Specified if 'UnconditionalForwarding' is specified in 'callHandlingAction'\";}s:5:\"queue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/QueueInfoRequest\";s:11:\"description\";s:130:\"Queue
  settings applied for department (call queue) extension type, with the 'AgentQueue'
  value specified as a call handling action\";}s:9:\"greetings\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/GreetingInfo\";}s:11:\"description\";s:111:\"Greetings
  applied for an answering rule; only predefined greetings can be applied, see Dictionary
  Greeting List\";}s:9:\"voicemail\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/VoicemailInfoRequest\";s:11:\"description\";s:58:\"Specifies
  whether to take a voicemail and who should do it\";}}}s:30:\"UserBusinessHoursUpdateRequest\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"schedule\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:43:\"#/definitions/UserBusinessHoursScheduleInfo\";s:11:\"description\";s:42:\"Schedule
  when an answering rule is applied\";}}}s:21:\"CustomGreetingRequest\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:6:{i:0;s:12:\"Introductory\";i:1;s:12:\"Announcement\";i:2;s:17:\"ConnectingMessage\";i:3;s:15:\"ConnectingAudio\";i:4;s:9:\"Voicemail\";i:5;s:11:\"Unavailable\";}s:11:\"description\";s:87:\"Type
  of a greeting, specifying the case when the greeting is played. See Greeting Types\";}s:13:\"answeringRule\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:45:\"#/definitions/CustomGreetingAnsweringRuleInfo\";s:11:\"description\";s:64:\"Information
  on an answering rule that the greeting is applied to\";}}}s:31:\"CustomGreetingAnsweringRuleInfo\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"Internal
  identifier of an answering rule\";}}}s:29:\"CreateForwardingNumberRequest\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"phoneNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"Forwarding/Call
  flip phone number\";}s:5:\"label\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"Name
  of a Forwarding/Call flip number\";}}}s:29:\"UpdateForwardingNumberRequest\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"phoneNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"Forwarding/Call
  flip phone number\";}s:5:\"label\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"Name
  of a Forwarding/Call flip number\";}s:10:\"flipNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:86:\"Number
  assigned to the call flip phone number, corresponds to the shortcut dial number\";}}}s:25:\"CreatePagerMessageRequest\";O:8:\"stdClass\":2:{s:8:\"required\";a:3:{i:0;s:4:\"from\";i:1;s:2:\"to\";i:2;s:4:\"text\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"from\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:43:\"#/definitions/PagerMessageCallerInfoRequest\";s:11:\"description\";s:25:\"Sender
  of a pager message\";}s:2:\"to\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/PagerMessageCallerInfoRequest\";}s:11:\"description\";s:71:\"Optional
  if replyOn parameter is specified. Receiver of a pager message\";}s:4:\"text\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:213:\"Text
  of a pager message. Max length is 1024 symbols (2-byte UTF-16 encoded). If a character
  is encoded in 4 bytes in UTF-16 it is treated as 2 characters, thus restricting
  the maximum message length to 512 symbols\";}s:7:\"replyOn\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:56:\"Internal
  identifier of a message this message replies to\";}}}s:29:\"PagerMessageCallerInfoRequest\";O:8:\"stdClass\":2:{s:8:\"required\";a:1:{i:0;s:11:\"extensionId\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"extensionId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:169:\"Internal
  identifier of an extension. It is strongly recommended not to use extensionNumber
  instead of extensionId, though it is still supported for compatibility reasons\";}}}s:16:\"CreateSMSMessage\";O:8:\"stdClass\":2:{s:8:\"required\";a:3:{i:0;s:4:\"from\";i:1;s:2:\"to\";i:2;s:4:\"text\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"from\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/SMSMessageCallerInfoRequest\";s:11:\"description\";s:277:\"Sender
  of an SMS/MMS message. The phoneNumber property should correspond to one of the
  account phone numbers which is allowed to send SMS/MMS. Please call the method Get
  Extension Phone Number List to check if the 'SmsSender'/'MmsSender' feature is available
  for a phone number\";}s:2:\"to\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/SMSMessageCallerInfoRequest\";}s:11:\"description\";s:26:\"Receiver
  of an SMS message\";}s:4:\"text\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:207:\"Text
  of a message. Max length is 1000 symbols (2-byte UTF-16 encoded). If a character
  is encoded in 4 bytes in UTF-16 it is treated as 2 characters, thus restricting
  the maximum message length to 500 symbols\";}}}s:27:\"SMSMessageCallerInfoRequest\";O:8:\"stdClass\":2:{s:8:\"required\";a:1:{i:0;s:11:\"phoneNumber\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"phoneNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"Phone
  number in E.164 (with '+' sign) format\";}}}s:20:\"UpdateMessageRequest\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"readStatus\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:4:\"Read\";i:1;s:6:\"Unread\";}s:11:\"description\";s:69:\"Read
  status of a message to be changed. Multiple values are supported\";}}}s:18:\"MakeRingOutRequest\";O:8:\"stdClass\":2:{s:8:\"required\";a:2:{i:0;s:4:\"from\";i:1;s:2:\"to\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"from\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:46:\"#/definitions/MakeRingOutCallerInfoRequestFrom\";s:11:\"description\";s:170:\"Phone
  number of the caller. This number corresponds to the 1st leg of the RingOut call.
  This number can be one of user's configured forwarding numbers or arbitrary number\";}s:2:\"to\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/MakeRingOutCallerInfoRequestTo\";s:11:\"description\";s:86:\"Phone
  number of the callee. This number corresponds to the 2nd leg of the RingOut call\";}s:8:\"callerId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/MakeRingOutCallerInfoRequestTo\";s:11:\"description\";s:54:\"The
  number which will be displayed to the called party\";}s:10:\"playPrompt\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:72:\"The
  audio prompt that the calling party hears when the call is connected\";}s:7:\"country\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/MakeRingOutCoutryInfo\";s:11:\"description\";s:104:\"Optional.
  Dialing plan country data. If not specified, then extension home country is applied
  by default\";}}}s:32:\"MakeRingOutCallerInfoRequestFrom\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"phoneNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"Phone
  number in E.164 format\";}s:18:\"forwardingNumberId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:135:\"Internal
  identifier of a forwarding number; returned in response in the id field. Can be
  specified instead of the phoneNumber attribute\";}}}s:30:\"MakeRingOutCallerInfoRequestTo\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"phoneNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"Phone
  number in E.164 format\";}}}s:21:\"MakeRingOutCoutryInfo\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"Dialing
  plan country identifier\";}}}s:28:\"CreateSipRegistrationRequest\";O:8:\"stdClass\":2:{s:8:\"required\";a:1:{i:0;s:7:\"sipInfo\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"sipInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/SipInfoRequest\";s:11:\"description\";s:23:\"SIP
  settings for device\";}}}s:14:\"SipInfoRequest\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"transport\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:2:\"WS\";i:1;s:3:\"WSS\";}s:11:\"description\";s:78:\"Preferred
  transport. SIP info will be returned for this transport if supported\";}}}s:23:\"ParsePhoneNumberRequest\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"originalStrings\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:153:\"Phone
  numbers passed in a list. The maximum value of phone numbers is limited to 64. The
  maximum number of symbols in each phone number in a string is 64\";}}}s:25:\"CreateSubscriptionRequest\";O:8:\"stdClass\":2:{s:8:\"required\";a:2:{i:0;s:12:\"eventFilters\";i:1;s:12:\"deliveryMode\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"eventFilters\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:129:\"Collection
  of URIs to API resources (see Event Types for details). For APNS transport type
  only message event filter is available\";}s:12:\"deliveryMode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:45:\"#/definitions/NotificationDeliveryModeRequest\";s:11:\"description\";s:30:\"Notification
  delivery settings\";}}}s:31:\"NotificationDeliveryModeRequest\";O:8:\"stdClass\":2:{s:8:\"required\";a:1:{i:0;s:13:\"transportType\";}s:10:\"properties\";O:8:\"stdClass\":6:{s:13:\"transportType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:6:\"PubNub\";i:1;s:7:\"WebHook\";}s:11:\"description\";s:42:\"Notifications
  transportation provider name\";}s:7:\"address\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:201:\"Mandatory
  for 'APNS' and 'WebHook' transport types. For 'APNS' - internal identifier of a
  device  device_token ; for 'WebHook' - URL of a consumer service (cannot be changed
  during subscription update)\";}s:10:\"encryption\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:107:\"Specifies
  if the message will be encrypted or not. The value can be 'True' only for 'PubNub'
  transport type\";}s:9:\"expiresIn\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:76:\"Optional.
  Subscription lifetime in seconds. Max value is 7 days (604800 sec)\";}s:15:\"certificateName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:73:\"For
  'PubNub/APNS' and 'PubNub/GCM' transport types. Name of a certificate\";}s:14:\"registrationId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:80:\"For
  'PubNub/APNS' and 'PubNub/GCM' transport types. Identifier of a registration\";}}}s:25:\"ModifySubscriptionRequest\";O:8:\"stdClass\":2:{s:8:\"required\";a:1:{i:0;s:12:\"eventFilters\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"eventFilters\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:53:\"Collection
  of URIs to API resources (see Event Types)\";}}}s:15:\"GlipCreateGroup\";O:8:\"stdClass\":2:{s:8:\"required\";a:1:{i:0;s:4:\"type\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:11:\"PrivateChat\";i:1;s:4:\"Team\";}s:11:\"description\";s:155:\"Type
  of a group to be created. 'PrivateChat' is a group of 2 members. 'Team' is a chat
  of 1 and more participants, the membership can be modified in future\";}s:8:\"isPublic\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:45:\"For
  'Team' group type only. Team access level\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"For
  'Team' group type only. Team name\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"For
  'Team' group type only. Team description\";}s:7:\"members\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:89:\"Identifier(s)
  of group members. For 'PrivateChat' group type 2 members only are supported\";}}}s:16:\"EditGroupRequest\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"addedPersonIds\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:37:\"List
  of users to be added to the team\";}s:17:\"addedPersonEmails\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:69:\"List
  of user email addresses to be added to the team (i.e. as guests)\";}s:16:\"removedPersonIds\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:41:\"List
  of users to be removed from the team\";}}}s:14:\"GlipCreatePost\";O:8:\"stdClass\":2:{s:8:\"required\";a:1:{i:0;s:7:\"groupId\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"groupId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"Internal
  identifier of a group to send post to\";}s:4:\"text\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"Text
  of a post, the maximum is 10000 characters\";}}}s:20:\"GetTokenInfoResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":7:{s:12:\"access_token\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"Access
  token to pass to subsequent API requests\";}s:10:\"expires_in\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:50:\"Issued
  access token TTL (time to live), in seconds\";}s:13:\"refresh_token\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:68:\"Refresh
  token to get a new access token, when the issued one expires\";}s:24:\"refresh_token_expires_in\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:51:\"Issued
  refresh token TTL (time to live), in seconds\";}s:5:\"scope\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:73:\"List
  of permissions allowed with this access token, white-space separated\";}s:10:\"token_type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:167:\"Type
  of token. The only possible value supported is 'Bearer'. This value should be used
  when specifying access token in Authorization header of subsequent API requests\";}s:8:\"owner_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"Extension
  identifier\";}}}s:8:\"Versions\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"Canonical
  URI of the API version\";}s:11:\"apiVersions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/VersionInfo\";}s:11:\"description\";s:44:\"API
  version data: link, number, release date\";}s:13:\"serverVersion\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Server
  version\";}s:14:\"serverRevision\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"Server
  revision\";}}}s:11:\"VersionInfo\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Canonical
  URI of API versions\";}s:13:\"versionString\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"Version
  of the RingCentral API\";}s:11:\"releaseDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"Release
  date of this version\";}s:9:\"uriString\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"URI
  part determining the current version\";}}}s:7:\"Version\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"Canonical
  URI of the version info resource\";}s:13:\"versionString\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"Version
  of the RingCentral API\";}s:11:\"releaseDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"Release
  date of this version\";}s:9:\"uriString\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"URI
  part determining the current version\";}}}s:11:\"AccountInfo\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":10:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"Internal
  identifier of an account\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"Canonical
  URI of an account\";}s:10:\"mainNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"Main
  phone number of the current account\";}s:8:\"operator\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ExtensionInfo\";s:11:\"description\";s:110:\"Operator's
  extension information. This extension will receive all calls and messages intended
  for the operator\";}s:9:\"partnerId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:66:\"Additional
  account identifier, developed and applied by the client\";}s:11:\"serviceInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ServiceInfo\";s:11:\"description\";s:75:\"Account
  service information, including brand, service plan and billing plan\";}s:16:\"setupWizardState\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:10:\"NotStarted\";i:1;s:10:\"Incomplete\";i:2;s:9:\"Completed\";}s:11:\"description\";s:99:\"Specifies
  account configuration wizard state (web service setup). The default value is 'NotStarted'\";}s:16:\"regionalSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/RegionalSettings\";s:11:\"description\";s:66:\"Account
  level region data (web service Auto-Receptionist settings)\";}s:6:\"status\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:9:\"Confirmed\";i:1;s:8:\"Disabled\";}s:11:\"description\";s:29:\"Status
  of the current account\";}s:10:\"statusInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/AccountStatusInfo\";s:11:\"description\";s:83:\"Status
  information (reason, comment, lifetime). Returned for 'Disabled' status only\";}}}s:11:\"ServiceInfo\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"Canonical
  URI of a service info resource\";}s:11:\"billingPlan\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/BillingPlanInfo\";s:11:\"description\";s:35:\"Information
  on account billing plan\";}s:5:\"brand\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/BrandInfo\";s:11:\"description\";s:28:\"Information
  on account brand\";}s:11:\"servicePlan\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ServicePlanInfo\";s:11:\"description\";s:35:\"Information
  on account service plan\";}s:17:\"targetServicePlan\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/TargetServicePlanInfo\";s:11:\"description\";s:42:\"Information
  on account target service plan\";}}}s:15:\"BillingPlanInfo\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"Internal
  identifier of a billing plan\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"Billing
  plan name\";}s:12:\"durationUnit\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:5:\"Month\";i:1;s:3:\"Day\";}s:11:\"description\";s:15:\"Duration
  period\";}s:8:\"duration\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"Number
  of duration units\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:6:{i:0;s:7:\"Initial\";i:1;s:7:\"Regular\";i:2;s:9:\"Suspended\";i:3;s:5:\"Trial\";i:4;s:9:\"TrialNoCC\";i:5;s:4:\"Free\";}s:11:\"description\";s:17:\"Billing
  plan type\";}s:18:\"includedPhoneLines\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:55:\"Count
  of phone lines included into account service plan\";}}}s:9:\"BrandInfo\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"Internal
  identifier of a brand\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:52:\"Brand
  name, for example 'RingCentral UK', 'ClearFax'\";}s:11:\"homeCountry\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/CountryInfo\";s:11:\"description\";s:24:\"Home
  country information\";}}}s:11:\"CountryInfo\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"Internal
  identifier of a home country\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"Canonical
  URI of a home country\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"Official
  name of a home country\";}s:7:\"isoCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:56:\"Country
  code according to the ISO standard, see ISO 3166\";}s:11:\"callingCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:88:\"Country
  calling code defined by ITU-T recommendations E.123 and E.164, see Calling Codes\";}}}s:15:\"ServicePlanInfo\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"Internal
  identifier of a service plan\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Name
  of a service plan\";}s:7:\"edition\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"Edition
  of a service plan\";}}}s:21:\"TargetServicePlanInfo\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"Internal
  identifier of a target service plan\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Name
  of a target service plan\";}}}s:17:\"AccountStatusInfo\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"comment\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:61:\"A
  free-form user comment, describing the status change reason\";}s:6:\"reason\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"Type
  of suspension\";}}}s:19:\"AccountPhoneNumbers\";O:8:\"stdClass\":2:{s:8:\"required\";a:3:{i:0;s:7:\"records\";i:1;s:6:\"paging\";i:2;s:10:\"navigation\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"records\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/PhoneNumberInfo\";}s:11:\"description\";s:29:\"List
  of account phone numbers\";}s:6:\"paging\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/PagingInfo\";s:11:\"description\";s:21:\"Information
  on paging\";}s:10:\"navigation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NavigationInfo\";s:11:\"description\";s:25:\"Information
  on navigation\";}}}s:13:\"ExtensionList\";O:8:\"stdClass\":2:{s:8:\"required\";a:3:{i:0;s:7:\"records\";i:1;s:10:\"navigation\";i:2;s:6:\"paging\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"records\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ExtensionInfo\";}s:11:\"description\";s:45:\"List
  of extensions with extension information\";}s:10:\"navigation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NavigationInfo\";s:11:\"description\";s:25:\"Information
  on navigation\";}s:6:\"paging\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/PagingInfo\";s:11:\"description\";s:21:\"Information
  on paging\";}}}s:14:\"NavigationInfo\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"firstPage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"Canonical
  URI for the first page of the list\";}s:8:\"nextPage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"Canonical
  URI for the next page of the list\";}s:12:\"previousPage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"Canonical
  URI for the previous page of the list\";}s:8:\"lastPage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"Canonical
  URI for the last page of the list\";}}}s:10:\"PagingInfo\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"page\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:173:\"The
  current page number. 1-indexed, so the first page is 1 by default. May be omitted
  if result is empty (because non-existent page was specified or perPage=0 was requested)\";}s:7:\"perPage\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:196:\"Current
  page size, describes how many items are in each page. Default value is 100. Maximum
  value is 1000. If perPage value in the request is greater than 1000, the maximum
  value (1000) is applied\";}s:9:\"pageStart\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:113:\"The
  zero-based number of the first element on the current page. Omitted if the page
  is omitted or result is empty\";}s:7:\"pageEnd\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:111:\"The
  zero-based index of the last element on the current page. Omitted if the page is
  omitted or result is empty\";}s:10:\"totalPages\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:100:\"The
  total number of pages in a dataset. May be omitted for some resources due to performance
  reasons\";}s:13:\"totalElements\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:102:\"The
  total number of elements in a dataset. May be omitted for some resource due to performance
  reasons\";}}}s:13:\"ExtensionInfo\";O:8:\"stdClass\":2:{s:8:\"required\";a:5:{i:0;s:2:\"id\";i:1;s:3:\"uri\";i:2;s:12:\"profileImage\";i:3;s:6:\"status\";i:4;s:4:\"type\";}s:10:\"properties\";O:8:\"stdClass\":17:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"Internal
  identifier of an extension\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Canonical
  URI of an extension\";}s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ContactInfo\";s:11:\"description\";s:28:\"Contact
  detailed information\";}s:11:\"departments\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/DepartmentInfo\";s:11:\"description\";s:171:\"Information
  on department extension(s), to which the requested extension belongs. Returned only
  for user extensions, members of department, requested by single extensionId\";}s:15:\"extensionNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"Number
  of extension\";}s:7:\"account\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ExtensionAccountInfo\";s:11:\"description\";s:81:\"Account
  of a requested extension. Returned for currently logged-in extension only\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"Extension
  user name\";}s:9:\"partnerId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:546:\"For
  Partner Applications Internal identifier of an extension created by partner. The
  RingCentral supports the mapping of accounts and stores the corresponding account
  ID/extension ID for each partner ID of a client application. In request URIs partner
  IDs are accepted instead of regular RingCentral native IDs as path parameters using
  pid = XXX clause. Though in response URIs contain the corresponding account IDs
  and extension IDs. In all request and response bodies these values are reflected
  via partnerId attributes of account and extension\";}s:11:\"permissions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ExtensionPermissions\";s:11:\"description\";s:102:\"Extension
  permissions, corresponding to the Service Web permissions 'Admin' and 'InternationalCalling'\";}s:12:\"profileImage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ProfileImageInfo\";s:11:\"description\";s:28:\"Information
  on profile image\";}s:10:\"references\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ReferenceInfo\";}s:11:\"description\";s:60:\"List
  of non-RC internal identifiers assigned to an extension\";}s:16:\"regionalSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/RegionalSettings\";s:11:\"description\";s:56:\"Extension
  region data (timezone, home country, language)\";}s:15:\"serviceFeatures\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/ExtensionServiceFeatureInfo\";}s:11:\"description\";s:149:\"Extension
  service features returned in response only when the logged-in user requests his/her
  own extension info, see also Extension Service Features\";}s:16:\"setupWizardState\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:10:\"NotStarted\";i:1;s:10:\"Incomplete\";i:2;s:9:\"Completed\";}s:11:\"description\";s:101:\"Specifies
  extension configuration wizard state (web service setup). The default value is 'NotStarted'\";}s:6:\"status\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:4:{i:0;s:7:\"Enabled\";i:1;s:8:\"Disabled\";i:2;s:12:\"NotActivated\";i:3;s:10:\"Unassigned\";}s:11:\"description\";s:83:\"Extension
  current state. If the status is 'Unassigned'. Returned for all extensions\";}s:10:\"statusInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/ExtensionStatusInfo\";s:11:\"description\";s:73:\"Status
  information (reason, comment). Returned for 'Disabled' status only\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:13:{i:0;s:4:\"User\";i:1;s:7:\"FaxUser\";i:2;s:11:\"VirtualUser\";i:3;s:11:\"DigitalUser\";i:4;s:10:\"Department\";i:5;s:12:\"Announcement\";i:6;s:9:\"Voicemail\";i:7;s:16:\"SharedLinesGroup\";i:8;s:10:\"PagingOnly\";i:9;s:7:\"IvrMenu\";i:10;s:20:\"ApplicationExtension\";i:11;s:12:\"ParkLocation\";i:12;s:7:\"Limited\";}s:11:\"description\";s:14:\"Extension
  type\";}}}s:11:\"ContactInfo\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":9:{s:9:\"firstName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:55:\"For
  User extension type only. Extension user first name\";}s:8:\"lastName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:54:\"For
  User extension type only. Extension user last name\";}s:7:\"company\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"Extension
  user company name\";}s:5:\"email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"Email
  of extension user\";}s:13:\"businessPhone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"Extension
  user contact phone number\";}s:15:\"businessAddress\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ContactAddressInfo\";s:11:\"description\";s:42:\"Business
  address of extension user company\";}s:16:\"emailAsLoginName\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:97:\"If
  'True' then contact email is enabled as login name for this user. The default value
  is 'False'\";}s:14:\"pronouncedName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/PronouncedNameInfo\";s:11:\"description\";s:188:\"Voice
  name data; the option ensures user's name is pronounced correctly by the system
  voice operator. The name can be spelled/recorded by user, or just taken as it is
  from the user profile\";}s:10:\"department\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"Extension
  user department, if any\";}}}s:18:\"ContactAddressInfo\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"country\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:69:\"Country
  name of extension user company. Not returned for Address Book\";}s:5:\"state\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"State/province
  name of extension user company\";}s:4:\"city\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"City
  name of extension user company\";}s:6:\"street\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"Street
  address of extension user company\";}s:3:\"zip\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"Zip
  code of extension user company\";}}}s:18:\"PronouncedNameInfo\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:7:\"Default\";i:1;s:12:\"TextToSpeech\";i:2;s:8:\"Recorded\";}s:11:\"description\";s:288:\"Voice
  name typeDefault - default extension name; first name and last name specified in
  user profileTextToSpeech - custom text; user name spelled the way it sounds and
  specified by userRecorded - custom audio; user name recorded in user's own voice
  (supported only for extension retrieval)\";}s:4:\"text\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Custom
  text\";}}}s:14:\"DepartmentInfo\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"Internal
  identifier of a department extension\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"Canonical
  URI of a department extension\";}s:15:\"extensionNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"Number
  of a department extension\";}}}s:20:\"ExtensionAccountInfo\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"Internal
  identifier of an account\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"Canonical
  URI of an account\";}}}s:20:\"ExtensionPermissions\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"admin\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/PermissionInfo\";s:11:\"description\";s:16:\"Admin
  permission\";}s:20:\"internationalCalling\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/PermissionInfo\";s:11:\"description\";s:32:\"International
  Calling permission\";}}}s:14:\"PermissionInfo\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"enabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:43:\"Specifies
  if a permission is enabled or not\";}}}s:16:\"ProfileImageInfo\";O:8:\"stdClass\":2:{s:8:\"required\";a:1:{i:0;s:3:\"uri\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:91:\"Link
  to a profile image. If an image is not uploaded for an extension, only uri is returned\";}s:4:\"etag\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Identifier
  of an image\";}s:12:\"lastModified\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:100:\"The
  datetime when an image was last updated in ISO 8601 format, for example 2016-03-10T18:07:52.534Z\";}s:11:\"contentType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"The
  type of an image\";}s:6:\"scales\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:54:\"List
  of URIs to profile images in different dimensions\";}}}s:13:\"ReferenceInfo\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"ref\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"Non-RingCentral
  identifier of an extension\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:9:\"PartnerId\";i:1;s:19:\"CustomerDirectoryId\";}s:11:\"description\";s:27:\"Type
  of external identifier\";}}}s:16:\"RegionalSettings\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"homeCountry\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/CountryInfo\";s:11:\"description\";s:29:\"Extension
  country information\";}s:8:\"timezone\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/TimezoneInfo\";s:11:\"description\";s:30:\"Extension
  timezone information\";}s:8:\"language\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/LanguageInfo\";s:11:\"description\";s:28:\"User
  interface language data\";}s:16:\"greetingLanguage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/GreetingLanguageInfo\";s:11:\"description\";s:52:\"Information
  on language used for telephony greetings\";}s:16:\"formattingLocale\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/FormattingLocaleInfo\";s:11:\"description\";s:65:\"Formatting
  language preferences for numbers, dates and currencies\";}s:10:\"timeFormat\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:3:\"12h\";i:1;s:3:\"24h\";}s:11:\"description\";s:47:\"Time
  format setting. The default value is '12h'\";}}}s:12:\"TimezoneInfo\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"Internal
  identifier of a timezone\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"Canonical
  URI of a timezone\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"Short
  name of a timezone\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"Meaningful
  description of a timezone\";}}}s:12:\"LanguageInfo\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":7:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"Internal
  identifier of a language\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"Canonical
  URI of a language\";}s:8:\"greeting\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:62:\"Indicates
  whether a language is available as greeting language\";}s:16:\"formattingLocale\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:62:\"Indicates
  whether a language is available as formatting locale\";}s:10:\"localeCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"Localization
  code of a language\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"Official
  name of a language\";}s:2:\"ui\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:56:\"Indicates
  whether a language is available as UI language\";}}}s:20:\"GreetingLanguageInfo\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"Internal
  identifier of a greeting language\";}s:10:\"localeCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"Localization
  code of a greeting language\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"Official
  name of a greeting language\";}}}s:20:\"FormattingLocaleInfo\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"Internal
  identifier of a formatting language\";}s:10:\"localeCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"Localization
  code of a formatting language\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"Official
  name of a formatting language\";}}}s:27:\"ExtensionServiceFeatureInfo\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"enabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:59:\"Feature
  status; shows feature availability for an extension\";}s:11:\"featureName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:62:\"Feature
  name, see all available values in Service Feature List\";}s:6:\"reason\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:273:\"Reason
  of limitation for a particular service feature. Returned only if the enabled parameter
  value is 'False', see Service Feature Limitations and Reasons. When retrieving service
  features for an extension, the reasons for the limitations, if any, are returned
  in response\";}}}s:19:\"ExtensionStatusInfo\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"comment\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:61:\"A
  free-form user comment, describing the status change reason\";}s:6:\"reason\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"Type
  of suspension\";}}}s:21:\"ExtensionPhoneNumbers\";O:8:\"stdClass\":2:{s:8:\"required\";a:3:{i:0;s:7:\"records\";i:1;s:10:\"navigation\";i:2;s:6:\"paging\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"records\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/PhoneNumberInfo\";}s:11:\"description\";s:21:\"List
  of phone numbers\";}s:10:\"navigation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NavigationInfo\";s:11:\"description\";s:25:\"Information
  on navigation\";}s:6:\"paging\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/PagingInfo\";s:11:\"description\";s:21:\"Information
  on paging\";}}}s:15:\"PhoneNumberInfo\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":11:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:37:\"Internal
  identifier of a phone number\";}s:7:\"country\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/CountryInfo\";s:11:\"description\";s:43:\"Brief
  information on a phone number country\";}s:9:\"extension\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/PhoneNumbersExtensionInfo\";s:11:\"description\";s:112:\"Information
  on the extension, to which the phone number is assigned. Returned only for account
  phone number list\";}s:8:\"features\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:346:\"Indicates
  phone number features. Returned only for extension phone number list. The supported
  values are: 'CallerId' - specified if a phone number can be displayed as caller
  ID 'SmsSender' - specified if sending of outbound SMS from this phone number is
  allowed 'MmsSender' - specified if sending of outbound MMS from this phone number
  is allowed\";}s:5:\"label\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:128:\"Custom
  user name of a phone number, if any. Supported for numbers assigned to Auto-Receptionist,
  with usage type 'CompanyNumber'\";}s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:51:\"Location
  (City, State). Filled for local US numbers\";}s:11:\"paymentType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:8:\"External\";i:1;s:8:\"TollFree\";i:2;s:5:\"Local\";}s:11:\"description\";s:115:\"Payment
  type. 'External' is returned for forwarded numbers which are not terminated in the
  RingCentral phone system\";}s:11:\"phoneNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Phone
  number\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:154:\"Status
  of a phone number. If the value is 'Normal', the phone number is ready to be used.
  Otherwise it is an external number not yet ported to RingCentral\";}s:9:\"usageType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:5:{i:0;s:13:\"CompanyNumber\";i:1;s:17:\"MainCompanyNumber\";i:2;s:23:\"AdditionalCompanyNumber\";i:3;s:12:\"DirectNumber\";i:4;s:16:\"CompanyFaxNumber\";}s:11:\"description\";s:28:\"Usage
  type of a phone number\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:8:\"VoiceFax\";i:1;s:7:\"FaxOnly\";i:2;s:9:\"VoiceOnly\";}s:11:\"description\";s:22:\"Type
  of a phone number\";}}}s:25:\"PhoneNumbersExtensionInfo\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"Internal
  identifier of an extension\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Canonical
  URI of an extension\";}s:15:\"extensionNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"Number
  of department extension\";}s:9:\"partnerId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:546:\"For
  Partner Applications Internal identifier of an extension created by partner. The
  RingCentral supports the mapping of accounts and stores the corresponding account
  ID/extension ID for each partner ID of a client application. In request URIs partner
  IDs are accepted instead of regular RingCentral native IDs as path parameters using
  pid = XXX clause. Though in response URIs contain the corresponding account IDs
  and extension IDs. In all request and response bodies these values are reflected
  via partnerId attributes of account and extension\";}}}s:18:\"AnsweringRulesList\";O:8:\"stdClass\":2:{s:8:\"required\";a:4:{i:0;s:3:\"uri\";i:1;s:7:\"records\";i:2;s:6:\"paging\";i:3;s:10:\"navigation\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"Canonical
  URI of an answering rule resource\";}s:7:\"records\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:49:\"#/definitions/AnsweringRulesListAnsweringRuleInfo\";}s:11:\"description\";s:23:\"List
  of answering rules\";}s:6:\"paging\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/PagingInfo\";s:11:\"description\";s:21:\"Information
  on paging\";}s:10:\"navigation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NavigationInfo\";s:11:\"description\";s:25:\"Information
  on navigation\";}}}s:35:\"AnsweringRulesListAnsweringRuleInfo\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"Canonical
  URI to the answering rule resource\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"Internal
  identifier of an asnwering rule\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:13:\"BusinessHours\";i:1;s:10:\"AfterHours\";i:2;s:6:\"Custom\";}s:11:\"description\";s:25:\"Type
  of an answering rule\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"Name
  of an answering rule specified by user\";}s:7:\"enabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:52:\"Specifies
  if an answering rule is active or inactive\";}}}s:17:\"AnsweringRuleInfo\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":14:{s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"Canonical
  URI to the answering rule resource\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"Internal
  identifier of an asnwering rule\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:13:\"BusinessHours\";i:1;s:10:\"AfterHours\";i:2;s:6:\"Custom\";}s:11:\"description\";s:25:\"Type
  of an answering rule\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"Name
  of an answering rule specified by user\";}s:7:\"enabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:52:\"Specifies
  if an answering rule is active or inactive\";}s:8:\"schedule\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ScheduleInfo\";s:11:\"description\";s:49:\"Schedule
  when an answering rule should be applied\";}s:13:\"calledNumbers\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/CalledNumberInfo\";}s:11:\"description\";s:62:\"Answering
  rules are applied when calling to selected number(s)\";}s:7:\"callers\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CallersInfo\";}s:11:\"description\";s:76:\"Answering
  rules are applied when calls are received from specified caller(s)\";}s:18:\"callHandlingAction\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:4:{i:0;s:12:\"ForwardCalls\";i:1;s:16:\"TakeMessagesOnly\";i:2;s:20:\"PlayAnnouncementOnly\";i:3;s:23:\"UnconditionalForwarding\";}s:11:\"description\";s:42:\"Specifies
  how incoming calls are forwarded\";}s:10:\"forwarding\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ForwardingInfo\";s:11:\"description\";s:171:\"Forwarding
  parameters. Returned if 'ForwardCalls' is specified in 'callHandlingAction'. These
  settings determine the forwarding numbers to which the call will be forwarded\";}s:23:\"unconditionalForwarding\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/UnconditionalForwardingInfo\";s:11:\"description\";s:111:\"Unconditional
  forwarding parameters. Returned if 'UnconditionalForwarding' is specified in 'callHandlingAction'\";}s:5:\"queue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/FixedOrderAgent\";s:11:\"description\";s:130:\"Queue
  settings applied for department (call queue) extension type, with the 'AgentQueue'
  value specified as a call handling action\";}s:9:\"voicemail\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/VoicemailInfo\";s:11:\"description\";s:58:\"Specifies
  whether to take a voicemail and who should do it\";}s:9:\"greetings\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/GreetingInfo\";}s:11:\"description\";s:80:\"Predefined
  greetings applied for an answering rule, see Dictionary Greeting List\";}}}s:12:\"ScheduleInfo\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"weeklyRanges\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/WeeklyScheduleInfo\";s:11:\"description\";s:53:\"Weekly
  schedule. Not returned if ranges are specified\";}s:6:\"ranges\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/RangesInfo\";s:11:\"description\";s:64:\"Specific
  data ranges. Not returned if weeklyRanges are specified\";}s:3:\"ref\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:13:\"BusinessHours\";i:1;s:10:\"AfterHours\";}s:11:\"description\";s:126:\"The
  user's schedule specified for business hours or after hours; it can also be set/retrieved
  calling the corresponding method\";}}}s:18:\"WeeklyScheduleInfo\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":7:{s:6:\"monday\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/TimeInterval\";}s:11:\"description\";s:35:\"Time
  intervals for a particular day\";}s:7:\"tuesday\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/TimeInterval\";}s:11:\"description\";s:35:\"Time
  intervals for a particular day\";}s:9:\"wednesday\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/TimeInterval\";}s:11:\"description\";s:35:\"Time
  intervals for a particular day\";}s:8:\"thursday\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/TimeInterval\";}s:11:\"description\";s:35:\"Time
  intervals for a particular day\";}s:6:\"friday\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/TimeInterval\";}s:11:\"description\";s:35:\"Time
  intervals for a particular day\";}s:8:\"saturday\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/TimeInterval\";}s:11:\"description\";s:35:\"Time
  intervals for a particular day\";}s:6:\"sunday\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/TimeInterval\";}s:11:\"description\";s:35:\"Time
  intervals for a particular day\";}}}s:10:\"RangesInfo\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"from\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"Date
  and time in format YYYY-MM-DD hh:mm\";}s:2:\"to\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"Date
  and time in format YYYY-MM-DD hh:mm\";}}}s:12:\"TimeInterval\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"from\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"Time
  in format hh:mm\";}s:2:\"to\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"Time
  in format hh:mm\";}}}s:16:\"CalledNumberInfo\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"phoneNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"Called
  phone number\";}}}s:11:\"CallersInfo\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"callerId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"Phone
  number of a caller\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"Contact
  name of a caller\";}}}s:14:\"ForwardingInfo\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:18:\"notifyMySoftPhones\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:123:\"Specifies
  if the user's softphone(s) are notified before forwarding the incoming call to desk
  phones and forwarding numbers\";}s:21:\"notifyAdminSoftPhones\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:181:\"For
  Internal Use Only. Specifies if the administrator's softphone is notified before
  forwarding the incoming call to desk phones and forwarding numbers. The default
  value is 'False'\";}s:19:\"softPhonesRingCount\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:40:\"Number
  of rings before forwarding starts\";}s:11:\"ringingMode\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:12:\"Sequentially\";i:1;s:14:\"Simultaneously\";}s:11:\"description\";s:224:\"Specifies
  the order in which forwarding numbers ring. 'Sequentially' means that forwarding
  numbers are ringing one at a time, in order of priority. 'Simultaneously' means
  that forwarding numbers are ring all at the same time\";}s:5:\"rules\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/RuleInfo\";}s:11:\"description\";s:37:\"Information
  on a call forwarding rule\";}}}s:8:\"RuleInfo\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"index\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:36:\"Forwarding
  number (or group) ordinal\";}s:9:\"ringCount\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:50:\"Number
  of rings for a forwarding number (or group)\";}s:17:\"forwardingNumbers\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/ForwardingNumberInfoRules\";}s:11:\"description\";s:33:\"Forwarding
  number (or group) data\";}}}s:25:\"ForwardingNumberInfoRules\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"Link
  to a forwarding number resource\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"Internal
  identifier of a forwarding number\";}s:11:\"phoneNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"Phone
  number to which the call is forwarded\";}s:5:\"label\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"Name
  of a forwarding number\";}}}s:27:\"UnconditionalForwardingInfo\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"phoneNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"Phone
  number to which the call is forwarded\";}}}s:9:\"QueueInfo\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":10:{s:12:\"transferMode\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:8:\"Rotating\";i:1;s:12:\"Simultaneous\";i:2;s:10:\"FixedOrder\";}s:11:\"description\";s:52:\"Specifies
  how calls are transferred to group members\";}s:16:\"fixedOrderAgents\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/FixedOrderAgent\";}s:11:\"description\";s:43:\"Ordered
  list of agents (department members)\";}s:25:\"holdAudioInterruptionMode\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:5:\"Never\";i:1;s:13:\"WhenMusicEnds\";i:2;s:12:\"Periodically\";}s:11:\"description\";s:34:\"Connecting
  audio interruption mode\";}s:24:\"holdAudioInterruptPeriod\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:56:\"Connecting
  audio interruption message period in seconds.\";}s:12:\"agentTimeout\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:85:\"Maximum
  time in seconds to wait for a call queue member before trying the next member\";}s:10:\"wrapUpTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:82:\"Minimum
  post-call wrap up time in seconds before agent status is automatically set\";}s:8:\"holdTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:71:\"Maximum
  hold time in seconds to wait for an available call queue member\";}s:10:\"maxCallers\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:32:\"Maximum
  count of callers on hold\";}s:16:\"maxCallersAction\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:9:\"Voicemail\";i:1;s:12:\"Announcement\";}s:11:\"description\";s:76:\"Action
  which should be taken if count of callers on hold exceeds the maximum\";}s:8:\"transfer\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/TransferredExtension\";s:11:\"description\";s:117:\"Transfer
  settings applied for department (call queue) extension type, with 'TransferToExtension'
  call handling action\";}}}s:15:\"FixedOrderAgent\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"extension\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/FixedOrderAgentExtensionInfo\";s:11:\"description\";s:53:\"Information
  on an agent (department member) extension\";}s:5:\"index\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:39:\"Ordinal
  of an agent (department member)\";}}}s:28:\"FixedOrderAgentExtensionInfo\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"Internal
  identifier of an extension\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Link
  to an extension resource\";}}}s:13:\"VoicemailInfo\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"enabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:52:\"If
  'True' then voicemails are allowed to be received\";}s:9:\"recipient\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/RecipientInfo\";s:11:\"description\";s:14:\"Recipient
  data\";}}}s:13:\"RecipientInfo\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"Link
  to a recipient extension resource\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"Internal
  identifier of a recipient extension\";}}}s:12:\"GreetingInfo\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:7:{i:0;s:12:\"Introductory\";i:1;s:12:\"Announcement\";i:2;s:17:\"ConnectingMessage\";i:3;s:15:\"ConnectingAudio\";i:4;s:9:\"Voicemail\";i:5;s:11:\"Unavailable\";i:6;s:15:\"InterruptPrompt\";}s:11:\"description\";s:87:\"Type
  of a greeting, specifying the case when the greeting is played. See Greeting Types\";}s:9:\"usageType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:26:\"UserExtensionAnsweringRule\";i:1;s:32:\"DepartmentExtensionAnsweringRule\";}s:11:\"description\";s:105:\"Usage
  type of a greeting, specifying if the greeting is applied to user extension or department
  extension\";}s:6:\"preset\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/PresetInfo\";s:11:\"description\";s:31:\"Predefined
  greeting information\";}}}s:10:\"PresetInfo\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"Link
  to a greeting resource\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"Internal
  identifier of greeting\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"Name
  of a greeting\";}}}s:17:\"UserBusinessHours\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"Canonical
  URI of a business-hours resource\";}s:8:\"schedule\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:43:\"#/definitions/UserBusinessHoursScheduleInfo\";s:11:\"description\";s:42:\"Schedule
  when an answering rule is applied\";}}}s:29:\"UserBusinessHoursScheduleInfo\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"weeklyRanges\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/WeeklyScheduleInfo\";s:11:\"description\";s:15:\"Weekly
  schedule\";}}}s:23:\"UserBusinessHoursUpdate\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"Canonical
  URI of a business-hours resource\";}s:8:\"schedule\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:43:\"#/definitions/UserBusinessHoursScheduleInfo\";s:11:\"description\";s:42:\"Schedule
  when an answering rule is applied\";}}}s:18:\"CustomGreetingInfo\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"Link
  to an extension custom greeting\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"Internal
  identifier of an answering rule\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:6:{i:0;s:12:\"Introductory\";i:1;s:12:\"Announcement\";i:2;s:17:\"ConnectingMessage\";i:3;s:15:\"ConnectingAudio\";i:4;s:9:\"Voicemail\";i:5;s:11:\"Unavailable\";}s:11:\"description\";s:87:\"Type
  of a greeting, specifying the case when the greeting is played. See Greeting Types\";}s:11:\"contentType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"Content
  media type in WAV/MP3 format\";}s:10:\"contentUri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"Link
  to a greeting content (audio file)\";}}}s:20:\"AuthorizationProfile\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:50:\"Canonical
  URI of an authorization profile resource\";}s:11:\"permissions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/UserPermissions\";}s:11:\"description\";s:32:\"List
  of user permissions granted\";}}}s:15:\"UserPermissions\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"permission\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/UserPermissionInfo\";s:11:\"description\";s:35:\"Information
  on a permission granted\";}s:6:\"scopes\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:36:\"List
  of active scopes for permission\";}}}s:18:\"UserPermissionInfo\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"Internal
  identifier of a permission\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"Canonical
  URI of a permission resource\";}}}s:25:\"AuthorizationProfileCheck\";O:8:\"stdClass\":2:{s:8:\"required\";a:2:{i:0;s:3:\"uri\";i:1;s:10:\"successful\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"Canonical
  URI of a permission resource\";}s:10:\"successful\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:46:\"Specifies
  if check result is successful or not\";}s:7:\"details\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/PermissionDetailsInfo\";s:11:\"description\";s:69:\"Information
  on a permission checked. Returned if successful is 'True'\";}s:6:\"scopes\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:70:\"List
  of active scopes for permission. Returned if successful is 'True'\";}}}s:21:\"PermissionDetailsInfo\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"permission\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/UserPermissionInfo\";s:11:\"description\";s:35:\"Information
  on a permission checked\";}}}s:20:\"ExtensionActiveCalls\";O:8:\"stdClass\":2:{s:8:\"required\";a:3:{i:0;s:7:\"records\";i:1;s:10:\"navigation\";i:2;s:6:\"paging\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"records\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/CallLogRecord\";}s:11:\"description\";s:24:\"List
  of call log records\";}s:10:\"navigation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NavigationInfo\";s:11:\"description\";s:25:\"Information
  on navigation\";}s:6:\"paging\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/PagingInfo\";s:11:\"description\";s:21:\"Information
  on paging\";}}}s:16:\"ExtensionCallLog\";O:8:\"stdClass\":2:{s:8:\"required\";a:3:{i:0;s:7:\"records\";i:1;s:10:\"navigation\";i:2;s:6:\"paging\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"records\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/CallLogRecord\";}s:11:\"description\";s:24:\"List
  of call log records\";}s:10:\"navigation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NavigationInfo\";s:11:\"description\";s:25:\"Information
  on navigation\";}s:6:\"paging\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/PagingInfo\";s:11:\"description\";s:21:\"Information
  on paging\";}}}s:13:\"CallLogRecord\";O:8:\"stdClass\":2:{s:8:\"required\";a:1:{i:0;s:4:\"legs\";}s:10:\"properties\";O:8:\"stdClass\":14:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"Internal
  identifier of a cal log record\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"Canonical
  URI of a call log record\";}s:9:\"sessionId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"Internal
  identifier of a call session\";}s:4:\"from\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/CallLogCallerInfo\";s:11:\"description\";s:18:\"Caller
  information\";}s:2:\"to\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/CallLogCallerInfo\";s:11:\"description\";s:18:\"Callee
  information\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:5:\"Voice\";i:1;s:3:\"Fax\";}s:11:\"description\";s:9:\"Call
  type\";}s:9:\"direction\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:7:\"Inbound\";i:1;s:8:\"Outbound\";}s:11:\"description\";s:14:\"Call
  direction\";}s:6:\"action\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:21:{i:0;s:7:\"Unknown\";i:1;s:10:\"Phone
  Call\";i:2;s:11:\"Phone Login\";i:3;s:12:\"Incoming Fax\";i:4;s:11:\"Accept Call\";i:5;s:6:\"FindMe\";i:6;s:8:\"FollowMe\";i:7;s:12:\"Outgoing
  Fax\";i:8;s:11:\"Call Return\";i:9;s:12:\"Calling Card\";i:10;s:13:\"Ring Directly\";i:11;s:11:\"RingOut
  Web\";i:12;s:9:\"VoIP Call\";i:13;s:10:\"RingOut PC\";i:14;s:6:\"RingMe\";i:15;s:8:\"Transfer\";i:16;s:8:\"411
  Info\";i:17;s:9:\"Emergency\";i:18;s:11:\"E911 Update\";i:19;s:7:\"Support\";i:20;s:14:\"RingOut
  Mobile\";}s:11:\"description\";s:40:\"Action description of the call operation\";}s:6:\"result\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:37:{i:0;s:7:\"Unknown\";i:1;s:16:\"ResultInProgress\";i:2;s:6:\"Missed\";i:3;s:13:\"Call
  accepted\";i:4;s:9:\"Voicemail\";i:5;s:8:\"Rejected\";i:6;s:5:\"Reply\";i:7;s:8:\"Received\";i:8;s:13:\"Receive
  Error\";i:9;s:13:\"Fax on Demand\";i:10;s:15:\"Partial Receive\";i:11;s:7:\"Blocked\";i:12;s:14:\"Call
  connected\";i:13;s:9:\"No Answer\";i:14;s:22:\"International Disabled\";i:15;s:4:\"Busy\";i:16;s:10:\"Send
  Error\";i:17;s:4:\"Sent\";i:18;s:14:\"No fax machine\";i:19;s:11:\"ResultEmpty\";i:20;s:7:\"Account\";i:21;s:9:\"Suspended\";i:22;s:11:\"Call
  Failed\";i:23;s:12:\"Call Failure\";i:24;s:14:\"Internal Error\";i:25;s:16:\"IP
  Phone offline\";i:26;s:17:\"Restricted Number\";i:27;s:12:\"Wrong Number\";i:28;s:7:\"Stopped\";i:29;s:7:\"Hang
  up\";i:30;s:17:\"Poor Line Quality\";i:31;s:14:\"Partially Sent\";i:32;s:25:\"International
  Restriction\";i:33;s:9:\"Abandoned\";i:34;s:8:\"Declined\";i:35;s:17:\"Fax Receipt
  Error\";i:36;s:14:\"Fax Send Error\";}s:11:\"description\";s:40:\"Status description
  of the call operation\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:99:\"The
  call start datetime in ISO 8601 format including timezone, for example 2016-03-10T18:07:52.534Z\";}s:8:\"duration\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:24:\"Call
  duration in seconds\";}s:9:\"recording\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/RecordingInfo\";s:11:\"description\";s:112:\"Call
  recording data. Returned if the call is recorded, the withRecording parameter is
  set to 'True' in this case\";}s:16:\"lastModifiedTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:152:\"For
  'Detailed' view only. The datetime when the call log record was modified in ISO
  8601 format including timezone, for example 2016-03-10T18:07:52.534Z\";}s:4:\"legs\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/CallLogRecordLegInfo\";}s:11:\"description\";s:41:\"For
  'Detailed' view only. Leg description\";}}}s:17:\"CallLogCallerInfo\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"phoneNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:374:\"Phone
  number of a party. Usually it is a plain number including country and area code
  like 18661234567. But sometimes it could be returned from database with some formatting
  applied, for example (866)123-4567. This property is filled in all cases where parties
  communicate by means of global phone numbers, for example when calling to direct
  numbers or sending/receiving SMS\";}s:15:\"extensionNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:219:\"Extension
  short number (usually 3 or 4 digits). This property is filled when parties communicate
  by means of short internal numbers, for example when calling to other extension
  or sending/receiving Company Pager message\";}s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:265:\"Contains
  party location (city, state) if one can be determined from phoneNumber. This property
  is filled only when phoneNumber is not empty and server can calculate location information
  from it (for example, this information is unavailable for US toll-free numbers)\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:154:\"Symbolic
  name associated with a party. If the phone does not belong to the known extension,
  only the location is returned, the name is not determined then\";}s:6:\"device\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/CallLogRecordDeviceInfo\";s:11:\"description\";s:44:\"For
  'Detailed' view only. Device information\";}}}s:23:\"CallLogRecordDeviceInfo\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"Internal
  identifier of a device\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"Link
  to a device\";}}}s:20:\"CallLogRecordLegInfo\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":12:{s:6:\"action\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:21:{i:0;s:7:\"Unknown\";i:1;s:10:\"Phone
  Call\";i:2;s:11:\"Phone Login\";i:3;s:12:\"Incoming Fax\";i:4;s:11:\"Accept Call\";i:5;s:6:\"FindMe\";i:6;s:8:\"FollowMe\";i:7;s:12:\"Outgoing
  Fax\";i:8;s:11:\"Call Return\";i:9;s:12:\"Calling Card\";i:10;s:13:\"Ring Directly\";i:11;s:11:\"RingOut
  Web\";i:12;s:9:\"VoIP Call\";i:13;s:10:\"RingOut PC\";i:14;s:6:\"RingMe\";i:15;s:8:\"Transfer\";i:16;s:8:\"411
  Info\";i:17;s:9:\"Emergency\";i:18;s:11:\"E911 Update\";i:19;s:7:\"Support\";i:20;s:14:\"RingOut
  Mobile\";}s:11:\"description\";s:40:\"Action description of the call operation\";}s:9:\"direction\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:7:\"Inbound\";i:1;s:8:\"Outbound\";}s:11:\"description\";s:14:\"Call
  direction\";}s:8:\"duration\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:24:\"Call
  duration in seconds\";}s:9:\"extension\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ExtensionInfoCallLog\";s:11:\"description\";s:24:\"Information
  on extension\";}s:7:\"legType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:8:\"Leg
  type\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:99:\"The
  call start datetime in ISO 8601 format including timezone, for example 2016-03-10T18:07:52.534Z\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:5:\"Voice\";i:1;s:3:\"Fax\";}s:11:\"description\";s:9:\"Call
  type\";}s:6:\"result\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:37:{i:0;s:7:\"Unknown\";i:1;s:16:\"ResultInProgress\";i:2;s:6:\"Missed\";i:3;s:13:\"Call
  accepted\";i:4;s:9:\"Voicemail\";i:5;s:8:\"Rejected\";i:6;s:5:\"Reply\";i:7;s:8:\"Received\";i:8;s:13:\"Receive
  Error\";i:9;s:13:\"Fax on Demand\";i:10;s:15:\"Partial Receive\";i:11;s:7:\"Blocked\";i:12;s:14:\"Call
  connected\";i:13;s:9:\"No Answer\";i:14;s:22:\"International Disabled\";i:15;s:4:\"Busy\";i:16;s:10:\"Send
  Error\";i:17;s:4:\"Sent\";i:18;s:14:\"No fax machine\";i:19;s:11:\"ResultEmpty\";i:20;s:7:\"Account\";i:21;s:9:\"Suspended\";i:22;s:11:\"Call
  Failed\";i:23;s:12:\"Call Failure\";i:24;s:14:\"Internal Error\";i:25;s:16:\"IP
  Phone offline\";i:26;s:17:\"Restricted Number\";i:27;s:12:\"Wrong Number\";i:28;s:7:\"Stopped\";i:29;s:7:\"Hang
  up\";i:30;s:17:\"Poor Line Quality\";i:31;s:14:\"Partially Sent\";i:32;s:25:\"International
  Restriction\";i:33;s:9:\"Abandoned\";i:34;s:8:\"Declined\";i:35;s:17:\"Fax Receipt
  Error\";i:36;s:14:\"Fax Send Error\";}s:11:\"description\";s:40:\"Status description
  of the call operation\";}s:4:\"from\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/CallLogCallerInfo\";s:11:\"description\";s:18:\"Caller
  information\";}s:2:\"to\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/CallLogCallerInfo\";s:11:\"description\";s:18:\"Callee
  information\";}s:9:\"transport\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:4:\"PSTN\";i:1;s:4:\"VoIP\";}s:11:\"description\";s:19:\"Call
  transport type\";}s:9:\"recording\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/RecordingInfo\";s:11:\"description\";s:346:\"Call
  recording data. Returned if the call is recorded. Each call recording is stored
  in the system for 90 days. But if the number of recordings exceeds the admissible
  limit (100,000 recordings per account) then the older recordings are replaced with
  the new ones. Thus a link to an older recording in a certain call log record becomes
  unavailable\";}}}s:13:\"RecordingInfo\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"Internal
  identifier of a call recording\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"Link
  to a call recording metadata resource\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:9:\"Automatic\";i:1;s:8:\"OnDemand\";}s:11:\"description\";s:29:\"Indicates
  recording mode used\";}s:10:\"contentUri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"Link
  to the call recording binary content\";}}}s:20:\"ExtensionInfoCallLog\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"Internal
  identifier of an extension\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Canonical
  URI of an extension\";}}}s:22:\"ExtensionCallLogRecord\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":12:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"Internal
  identifier of a cal log record\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"Canonical
  URI of a call log record\";}s:9:\"sessionId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"Internal
  identifier of a call session\";}s:4:\"from\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/CallLogCallerInfo\";s:11:\"description\";s:18:\"Caller
  information\";}s:2:\"to\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/CallLogCallerInfo\";s:11:\"description\";s:18:\"Callee
  information\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:5:\"Voice\";i:1;s:3:\"Fax\";}s:11:\"description\";s:9:\"Call
  type\";}s:9:\"direction\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:7:\"Inbound\";i:1;s:8:\"Outbound\";}s:11:\"description\";s:14:\"Call
  direction\";}s:6:\"action\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:21:{i:0;s:7:\"Unknown\";i:1;s:10:\"Phone
  Call\";i:2;s:11:\"Phone Login\";i:3;s:12:\"Incoming Fax\";i:4;s:11:\"Accept Call\";i:5;s:6:\"FindMe\";i:6;s:8:\"FollowMe\";i:7;s:12:\"Outgoing
  Fax\";i:8;s:11:\"Call Return\";i:9;s:12:\"Calling Card\";i:10;s:13:\"Ring Directly\";i:11;s:11:\"RingOut
  Web\";i:12;s:9:\"VoIP Call\";i:13;s:10:\"RingOut PC\";i:14;s:6:\"RingMe\";i:15;s:8:\"Transfer\";i:16;s:8:\"411
  Info\";i:17;s:9:\"Emergency\";i:18;s:11:\"E911 Update\";i:19;s:7:\"Support\";i:20;s:14:\"RingOut
  Mobile\";}s:11:\"description\";s:40:\"Action description of the call operation\";}s:6:\"result\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:37:{i:0;s:7:\"Unknown\";i:1;s:16:\"ResultInProgress\";i:2;s:6:\"Missed\";i:3;s:13:\"Call
  accepted\";i:4;s:9:\"Voicemail\";i:5;s:8:\"Rejected\";i:6;s:5:\"Reply\";i:7;s:8:\"Received\";i:8;s:13:\"Receive
  Error\";i:9;s:13:\"Fax on Demand\";i:10;s:15:\"Partial Receive\";i:11;s:7:\"Blocked\";i:12;s:14:\"Call
  connected\";i:13;s:9:\"No Answer\";i:14;s:22:\"International Disabled\";i:15;s:4:\"Busy\";i:16;s:10:\"Send
  Error\";i:17;s:4:\"Sent\";i:18;s:14:\"No fax machine\";i:19;s:11:\"ResultEmpty\";i:20;s:7:\"Account\";i:21;s:9:\"Suspended\";i:22;s:11:\"Call
  Failed\";i:23;s:12:\"Call Failure\";i:24;s:14:\"Internal Error\";i:25;s:16:\"IP
  Phone offline\";i:26;s:17:\"Restricted Number\";i:27;s:12:\"Wrong Number\";i:28;s:7:\"Stopped\";i:29;s:7:\"Hang
  up\";i:30;s:17:\"Poor Line Quality\";i:31;s:14:\"Partially Sent\";i:32;s:25:\"International
  Restriction\";i:33;s:9:\"Abandoned\";i:34;s:8:\"Declined\";i:35;s:17:\"Fax Receipt
  Error\";i:36;s:14:\"Fax Send Error\";}s:11:\"description\";s:40:\"Status description
  of the call operation\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:99:\"The
  call start datetime in ISO 8601 format including timezone, for example 2016-03-10T18:07:52.534Z\";}s:8:\"duration\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:24:\"Call
[...]
