---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":4:{s:7:\"version\";s:4:\"v1.0\";s:5:\"title\";s:15:\"RingCentral
  API\";s:11:\"description\";s:32:\"RingCentral Connect Platform API\";s:14:\"termsOfService\";s:45:\"http://www.ringcentral.com/legal/eulatos.html\";}"
host: platform.devtest.ringcentral.com
basePath: /
paths: ~
produces:
- https
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":107:{s:11:\"AccountInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"Internal
  identifier of an account\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"Canonical
  URI of an account\";}s:10:\"mainNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"Main
  phone number of the current account\";}s:8:\"operator\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ExtensionInfo\";}s:9:\"partnerId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:66:\"Additional
  account identifier, developed and applied by the client\";}s:11:\"serviceInfo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ServiceInfo\";}s:16:\"setupWizardState\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"Specifies
  account configuration wizard state (web service setup). The default value is 'NotStarted'\";s:4:\"enum\";a:3:{i:0;s:10:\"NotStarted\";i:1;s:10:\"Incomplete\";i:2;s:9:\"Completed\";}}s:6:\"status\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Status
  of the current account\";s:4:\"enum\";a:2:{i:0;s:9:\"Confirmed\";i:1;s:8:\"Disabled\";}}s:10:\"statusInfo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/StatusInfo\";}}}s:13:\"AccountLimits\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:30:\"freeSoftPhoneLinesPerExtension\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:69:\"The
  maximum number of free softphone digital lines per user extension\";}s:11:\"meetingSize\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:87:\"The
  maximum number of participants in RingCentral Meeting hosted by this account's user\";}s:29:\"maxMonitoredExtensionsPerUser\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:98:\"The
  maximum number of extensions which can be included in the list of users monitored
  for Presence\";}}}s:9:\"AddonInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:98:\"Addon
  identifier. For HardPhones of certain types, which are compatible with this addon
  identifier\";}s:5:\"count\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:98:\"Number
  of addons. For HardPhones of certain types, which are compatible with such addon
  identifier\";}}}s:17:\"AnsweringRuleInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"Canonical
  URI to the answering rule resource\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"Internal
  identifier of an asnwering rule\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"Type
  of an answering rule\";s:4:\"enum\";a:3:{i:0;s:13:\"BusinessHours\";i:1;s:10:\"AfterHours\";i:2;s:6:\"Custom\";}}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"Name
  of an answering rule specified by user\";}s:7:\"enabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:52:\"Specifies
  if an answering rule is active or inactive\";}s:8:\"schedule\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ScheduleInfo\";}s:13:\"calledNumbers\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:62:\"Answering
  rules are applied when calling to selected number(s)\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/AnsweringRuleInfo.CalleeInfo\";}}s:7:\"callers\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:76:\"Answering
  rules are applied when calls are received from specified caller(s)\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/AnsweringRuleInfo.CallerInfo\";}}s:18:\"callHandlingAction\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"Specifies
  how incoming calls are forwarded\";s:4:\"enum\";a:4:{i:0;s:12:\"ForwardCalls\";i:1;s:16:\"TakeMessagesOnly\";i:2;s:20:\"PlayAnnouncementOnly\";i:3;s:23:\"UnconditionalForwarding\";}}s:10:\"forwarding\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ForwardingInfo\";}s:23:\"unconditionalForwarding\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/UnconditionalForwardingInfo\";}s:9:\"voicemail\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/VoicemailInfo\";}}}s:28:\"AnsweringRuleInfo.CalleeInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"phoneNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"Called
  phone number\";}}}s:28:\"AnsweringRuleInfo.CallerInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"callerId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"Phone
  number of a caller\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"Contact
  name of a caller\";}}}s:14:\"AttachmentInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"Link
  to custom data attachment\";}s:11:\"contentType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:51:\"Type
  of custom data attachment, see also MIME Types\";}}}s:15:\"BillingPlanInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"Internal
  identifier of a billing plan\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"Billing
  plan name\";}s:12:\"durationUnit\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"Duration
  period\";s:4:\"enum\";a:2:{i:0;s:5:\"Month\";i:1;s:3:\"Day\";}}s:8:\"duration\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"Number
  of duration units\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"Billing
  plan type\";s:4:\"enum\";a:6:{i:0;s:7:\"Initial\";i:1;s:7:\"Regular\";i:2;s:9:\"Suspended\";i:3;s:5:\"Trial\";i:4;s:9:\"TrialNoCC\";i:5;s:4:\"Free\";}}}}s:17:\"BlockedNumberInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:114:\"Standard
  resource properties ID and canonical URI, see the section called \u201CResource
  Identification Properties\u201D\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"Canonical
  URI of a blocked number resource\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:49:\"Name
  assigned by a user to a blocked phone number\";}s:11:\"phoneNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"Phone
  number to be blocked\";}}}s:9:\"BrandInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"Internal
  identifier of a brand\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:52:\"Brand
  name, for example \"RingCentral UK\", \"ClearFax\"\";}s:11:\"homeCountry\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CountryInfo\";}}}s:19:\"BusinessAddressInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"country\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"Name
  of a country\";}s:5:\"state\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"Name
  of a state/province\";}s:4:\"city\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Name
  of a city\";}s:6:\"street\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Street
  address\";}s:3:\"zip\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:8:\"Zip
  code\";}}}s:25:\"BusinessHour.ScheduleInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"weeklyRanges\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/WeeklyScheduleInfo\";}}}s:11:\"CallLogInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"Internal
  identifier of a cal log record\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"Canonical
  URI of a call log record\";}s:9:\"sessionId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"Internal
  identifier of a call session\";}s:4:\"from\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/CallerInfo\";}s:2:\"to\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/CallerInfo\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"Call
  type\";s:4:\"enum\";a:2:{i:0;s:5:\"Voice\";i:1;s:3:\"Fax\";}}s:9:\"direction\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Call
  direction\";s:4:\"enum\";a:2:{i:0;s:7:\"Inbound\";i:1;s:8:\"Outbound\";}}s:6:\"action\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"Action
  description of the call operation\";s:4:\"enum\";a:21:{i:0;s:7:\"Unknown\";i:1;s:10:\"Phone
  Call\";i:2;s:11:\"Phone Login\";i:3;s:12:\"Incoming Fax\";i:4;s:11:\"Accept Call\";i:5;s:6:\"FindMe\";i:6;s:8:\"FollowMe\";i:7;s:12:\"Outgoing
  Fax\";i:8;s:11:\"Call Return\";i:9;s:12:\"Calling Card\";i:10;s:13:\"Ring Directly\";i:11;s:11:\"RingOut
  Web\";i:12;s:9:\"VoIP Call\";i:13;s:10:\"RingOut PC\";i:14;s:6:\"RingMe\";i:15;s:8:\"Transfer\";i:16;s:8:\"411
  Info\";i:17;s:9:\"Emergency\";i:18;s:11:\"E911 Update\";i:19;s:7:\"Support\";i:20;s:14:\"RingOut
  Mobile\";}}s:6:\"result\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"Status
  description of the call operation\";s:4:\"enum\";a:37:{i:0;s:7:\"Unknown\";i:1;s:16:\"ResultInProgress\";i:2;s:6:\"Missed\";i:3;s:13:\"Call
  accepted\";i:4;s:9:\"Voicemail\";i:5;s:8:\"Rejected\";i:6;s:5:\"Reply\";i:7;s:8:\"Received\";i:8;s:13:\"Receive
  Error\";i:9;s:13:\"Fax on Demand\";i:10;s:15:\"Partial Receive\";i:11;s:7:\"Blocked\";i:12;s:14:\"Call
  connected\";i:13;s:9:\"No Answer\";i:14;s:22:\"International Disabled\";i:15;s:4:\"Busy\";i:16;s:10:\"Send
  Error\";i:17;s:4:\"Sent\";i:18;s:14:\"No fax machine\";i:19;s:11:\"ResultEmpty\";i:20;s:7:\"Account\";i:21;s:9:\"Suspended\";i:22;s:11:\"Call
  Failed\";i:23;s:12:\"Call Failure\";i:24;s:14:\"Internal Error\";i:25;s:16:\"IP
  Phone offline\";i:26;s:17:\"Restricted Number\";i:27;s:12:\"Wrong Number\";i:28;s:7:\"Stopped\";i:29;s:7:\"Hang
  up\";i:30;s:17:\"Poor Line Quality\";i:31;s:14:\"Partially Sent\";i:32;s:25:\"International
  Restriction\";i:33;s:9:\"Abandoned\";i:34;s:8:\"Declined\";i:35;s:17:\"Fax Receipt
  Error\";i:36;s:14:\"Fax Send Error\";}}s:9:\"startTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  call start datetime in ISO 8601 format including timezone, for example 2016-03-10T18:07:52.534Z\";s:6:\"format\";s:9:\"date-time\";}s:8:\"duration\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:24:\"Call
  duration in seconds\";}s:9:\"recording\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/RecordingInfo\";}}}s:13:\"CallLogRecord\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":15:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"Internal
  identifier of a cal log record\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"Canonical
  URI of a call log record\";}s:9:\"sessionId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"Internal
  identifier of a call session\";}s:4:\"from\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/CallerInfo\";}s:2:\"to\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/CallerInfo\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"Call
  type\";s:4:\"enum\";a:2:{i:0;s:5:\"Voice\";i:1;s:3:\"Fax\";}}s:9:\"direction\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Call
  direction\";s:4:\"enum\";a:2:{i:0;s:7:\"Inbound\";i:1;s:8:\"Outbound\";}}s:6:\"action\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"Action
  description of the call operation\";s:4:\"enum\";a:21:{i:0;s:7:\"Unknown\";i:1;s:10:\"Phone
  Call\";i:2;s:11:\"Phone Login\";i:3;s:12:\"Incoming Fax\";i:4;s:11:\"Accept Call\";i:5;s:6:\"FindMe\";i:6;s:8:\"FollowMe\";i:7;s:12:\"Outgoing
  Fax\";i:8;s:11:\"Call Return\";i:9;s:12:\"Calling Card\";i:10;s:13:\"Ring Directly\";i:11;s:11:\"RingOut
  Web\";i:12;s:9:\"VoIP Call\";i:13;s:10:\"RingOut PC\";i:14;s:6:\"RingMe\";i:15;s:8:\"Transfer\";i:16;s:8:\"411
  Info\";i:17;s:9:\"Emergency\";i:18;s:11:\"E911 Update\";i:19;s:7:\"Support\";i:20;s:14:\"RingOut
  Mobile\";}}s:6:\"result\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"Status
  description of the call operation\";s:4:\"enum\";a:37:{i:0;s:7:\"Unknown\";i:1;s:16:\"ResultInProgress\";i:2;s:6:\"Missed\";i:3;s:13:\"Call
  accepted\";i:4;s:9:\"Voicemail\";i:5;s:8:\"Rejected\";i:6;s:5:\"Reply\";i:7;s:8:\"Received\";i:8;s:13:\"Receive
  Error\";i:9;s:13:\"Fax on Demand\";i:10;s:15:\"Partial Receive\";i:11;s:7:\"Blocked\";i:12;s:14:\"Call
  connected\";i:13;s:9:\"No Answer\";i:14;s:22:\"International Disabled\";i:15;s:4:\"Busy\";i:16;s:10:\"Send
  Error\";i:17;s:4:\"Sent\";i:18;s:14:\"No fax machine\";i:19;s:11:\"ResultEmpty\";i:20;s:7:\"Account\";i:21;s:9:\"Suspended\";i:22;s:11:\"Call
  Failed\";i:23;s:12:\"Call Failure\";i:24;s:14:\"Internal Error\";i:25;s:16:\"IP
  Phone offline\";i:26;s:17:\"Restricted Number\";i:27;s:12:\"Wrong Number\";i:28;s:7:\"Stopped\";i:29;s:7:\"Hang
  up\";i:30;s:17:\"Poor Line Quality\";i:31;s:14:\"Partially Sent\";i:32;s:25:\"International
  Restriction\";i:33;s:9:\"Abandoned\";i:34;s:8:\"Declined\";i:35;s:17:\"Fax Receipt
  Error\";i:36;s:14:\"Fax Send Error\";}}s:9:\"startTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  call start datetime in ISO 8601 format including timezone, for example 2016-03-10T18:07:52.534Z\";s:6:\"format\";s:9:\"date-time\";}s:8:\"duration\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:24:\"Call
  duration in seconds\";}s:9:\"recording\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/RecordingInfo\";}s:16:\"lastModifiedTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:152:\"For
  'Detailed' view only. The datetime when the call log record was modified in ISO
  8601 format including timezone, for example 2016-03-10T18:07:52.534Z\";s:6:\"format\";s:9:\"date-time\";}s:9:\"transport\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"For
  'Detailed' view only. Call transport\";s:4:\"enum\";a:2:{i:0;s:4:\"PSTN\";i:1;s:4:\"VoIP\";}}s:4:\"legs\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:41:\"For
  'Detailed' view only. Leg description\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/LegInfo\";}}}}s:10:\"CallerInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"phoneNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:374:\"Phone
  number of a party. Usually it is a plain number including country and area code
  like 18661234567. But sometimes it could be returned from database with some formatting
  applied, for example (866)123-4567. This property is filled in all cases where parties
  communicate by means of global phone numbers, for example when calling to direct
  numbers or sending/receiving SMS\";}s:15:\"extensionNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:219:\"Extension
  short number (usually 3 or 4 digits). This property is filled when parties communicate
  by means of short internal numbers, for example when calling to other extension
  or sending/receiving Company Pager message\";}s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:265:\"Contains
  party location (city, state) if one can be determined from phoneNumber. This property
  is filled only when phoneNumber is not empty and server can calculate location information
  from it (for example, this information is unavailable for US toll-free numbers)\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:154:\"Symbolic
  name associated with a party. If the phone does not belong to the known extension,
  only the location is returned, the name is not determined then\";}}}s:32:\"Conferencing.Request.PhoneNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"phoneNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"Dial-in
  phone number to connect to a conference\";}s:7:\"default\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:206:\"'True'
  if the number is default for the conference. Default conference number is a domestic
  number that can be set by user (otherwise it is set by the system). Only one default
  number per country is allowed\";}}}s:16:\"ConferencingInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"Canonical
  URI of a conferencing\";}s:19:\"allowJoinBeforeHost\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:78:\"Determines
  if host user allows conference participants to join before the host\";}s:8:\"hostCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"Access
  code for a host user\";}s:4:\"mode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:49:\"Internal
  parameter specifying conferencing engine\";}s:15:\"participantCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"Access
  code for any participant\";}s:11:\"phoneNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:92:\"Primary
  conference phone number for user's home country returned in E.164 (11-digits) format\";}s:12:\"tapToJoinUri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:81:\"Short
  URL leading to the service web page Tap to Join for audio conference bridge\";}s:12:\"phoneNumbers\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:344:\"List
  of multiple dial-in phone numbers to connect to audio conference service, relevant
  for user's brand. Each number is given with the country and location information,
  in order to let the user choose the less expensive way to connect to a conference.
  The first number in the list is the primary conference number, that is default and
  domestic\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/ConferencingInfo.PhoneNumberInfo\";}}}}s:32:\"ConferencingInfo.PhoneNumberInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"country\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:58:\"#/definitions/ConferencingInfo.PhoneNumberInfo.CountryInfo\";}s:7:\"default\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:206:\"'True'
  if the number is default for the conference. Default conference number is a domestic
  number that can be set by user (otherwise it is set by the system). Only one default
  number per country is allowed\";}s:11:\"hasGreeting\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:55:\"'True'
  if the greeting message is played on this number\";}s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:59:\"Location
  (city, region, state) of a conference phone number\";}s:11:\"phoneNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"Dial-in
  phone number to connect to a conference\";}}}s:44:\"ConferencingInfo.PhoneNumberInfo.CountryInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"Internal
  identifier of a country\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"Canonical
  URI of a country\";}s:11:\"callingCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:88:\"Country
  calling code defined by ITU-T recommendations E.123 and E.164, see Calling Codes\";}s:16:\"emergencyCalling\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:78:\"Emergency
  calling feature availability/emergency address requirement indicator\";}s:7:\"isoCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:56:\"Country
  code according to the ISO standard, see ISO 3166\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"Official
  name of a country\";}}}s:18:\"ContactAddressInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"country\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:69:\"Country
  name of extension user company. Not returned for Address Book\";}s:5:\"state\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"State/province
  name of extension user company\";}s:4:\"city\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"City
  name of extension user company\";}s:6:\"street\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"Street
  address of extension user company\";}s:3:\"zip\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"Zip
  code of extension user company\";}}}s:11:\"ContactInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:9:\"firstName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:55:\"For
  User extension type only. Extension user first name\";}s:8:\"lastName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:54:\"For
  User extension type only. Extension user last name\";}s:7:\"company\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"Extension
  user company name\";}s:5:\"email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"Email
  of extension user\";}s:13:\"businessPhone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"Extension
  user contact phone number\";}s:15:\"businessAddress\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ContactAddressInfo\";}}}s:11:\"CountryInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"Internal
  identifier of a home country\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"Canonical
  URI of a home country\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"Official
  name of a home country\";}}}s:12:\"DeliveryMode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:13:\"transportType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:85:\"Notifications
  transportation provider name. 'APNS' (Apple Push Notifications Service)\";s:4:\"enum\";a:3:{i:0;s:6:\"PubNub\";i:1;s:4:\"APNS\";i:2;s:16:\"PubNub/APNS/VoIP\";}}s:10:\"encryption\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:122:\"Optional
  parameter. Specifies if the message will be encrypted or not. For APNS transport
  type the value is always \"false\"\";}s:7:\"address\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:93:\"PubNub
  channel name. For APNS transport type - internal identifier of a device \"device_token\"\";}s:13:\"subscriberKey\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:66:\"PubNub
  subscriber credentials required to subscribe to the channel\";}s:9:\"secretKey\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:109:\"PubNub
  subscriber credentials required to subscribe to the channel. Optional (for PubNub
  transport type only)\";}s:19:\"encryptionAlgorithm\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:59:\"Encryption
  algorithm 'AES' (for PubNub transport type only)\";}s:13:\"encryptionKey\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:72:\"Key
  for notification message decryption (for PubNub transport type only)\";}}}s:33:\"Department.Response.ExtensionInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"Internal
  identifier of an extension\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Canonical
  URI of an extension\";}s:15:\"extensionNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"Number
  of department extension\";}s:9:\"partnerId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:546:\"For
  Partner Applications Internal identifier of an extension created by partner. The
  RingCentral supports the mapping of accounts and stores the corresponding account
  ID/extension ID for each partner ID of a client application. In request URIs partner
  IDs are accepted instead of regular RingCentral native IDs as path parameters using
  pid = XXX clause. Though in response URIs contain the corresponding account IDs
  and extension IDs. In all request and response bodies these values are reflected
  via partnerId attributes of account and extension\";}}}s:14:\"DepartmentInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"Internal
  identifier of a department extension\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"Canonical
  URI of a department extension\";}s:15:\"extensionNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"Number
  of a department extension\";}}}s:10:\"DeviceInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":13:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"Internal
  identifier of a device\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"Canonical
  URI of a device\";}s:3:\"sku\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:264:\"Device
  identification number (stock keeping unit) in the format TP-ID [-AT-AC], where TP
  is device type (HP for RC HardPhone, DV for all other devices including softphone);
  ID - device model ID; AT -addon type ID; AC - addon count (if any). For example
  'HP-56-2-2'\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"Device
  type. The default value is 'HardPhone'\";s:4:\"enum\";a:3:{i:0;s:9:\"SoftPhone\";i:1;s:10:\"OtherPhone\";i:2;s:9:\"HardPhone\";}}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:171:\"Device
  name. Mandatory if ordering \"SoftPhone\" or \"OtherPhone\". Optional for \"HardPhone\".
  If not specified for HardPhone, then device \"model\" name is used as device \"name\"\";}s:6:\"serial\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:139:\"Serial
  number for HardPhone (is returned only when the phone is shipped and provisioned);
  endpoint_id for softphone and mobile applications\";}s:12:\"computerName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"PC
  name for softphone\";}s:5:\"model\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/ModelInfo\";}s:9:\"extension\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/DeviceInfo.ExtensionInfo\";}s:23:\"emergencyServiceAddress\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/EmergencyAddressInfo\";}s:10:\"phoneLines\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/PhoneLinesInfo\";}s:8:\"shipping\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ShippingInfo\";}s:12:\"boxBillingId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:206:\"Box
  billing identifier of a device. Applicable only for HardPhones. It is an alternative
  way to identify the device to be ordered. Either \"model\" structure, or \"boxBillingId\"
  must be specified for HardPhone\";}}}s:24:\"DeviceInfo.ExtensionInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"Internal
  identifier of an extension\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Canonical
  URI of an extension\";}s:15:\"extensionNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"Number
  of department extension\";}s:9:\"partnerId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:546:\"For
  Partner Applications Internal identifier of an extension created by partner. The
  RingCentral supports the mapping of accounts and stores the corresponding account
  ID/extension ID for each partner ID of a client application. In request URIs partner
  IDs are accepted instead of regular RingCentral native IDs as path parameters using
  pid = XXX clause. Though in response URIs contain the corresponding account IDs
  and extension IDs. In all request and response bodies these values are reflected
  via partnerId attributes of account and extension\";}}}s:20:\"EmergencyAddressInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:12:\"customerName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"Name
  of a customer\";}s:6:\"street\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:68:\"Street
  address, line 1 - street address, P.O. box, company name, c/o\";}s:7:\"street2\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:70:\"Street
  address, line 2 - apartment, suite, unit, building, floor, etc.\";}s:4:\"city\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"City
  name\";}s:5:\"state\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"State/province
  name\";}s:3:\"zip\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:8:\"Zip
  code\";}s:7:\"country\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Country
  name\";}}}s:13:\"ExtensionInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":16:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"Internal
  identifier of an extension\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Canonical
  URI of an extension\";}s:7:\"contact\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ContactInfo\";}s:11:\"departments\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/DepartmentInfo\";}s:15:\"extensionNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"Number
  of department extension\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"Extension
  user name\";}s:9:\"partnerId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:546:\"For
  Partner Applications Internal identifier of an extension created by partner. The
  RingCentral supports the mapping of accounts and stores the corresponding account
  ID/extension ID for each partner ID of a client application. In request URIs partner
  IDs are accepted instead of regular RingCentral native IDs as path parameters using
  pid = XXX clause. Though in response URIs contain the corresponding account IDs
  and extension IDs. In all request and response bodies these values are reflected
  via partnerId attributes of account and extension\";}s:11:\"permissions\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/ExtensionPermissions\";}s:12:\"profileImage\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/ProfileImageInfo\";}s:10:\"references\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:60:\"List
  of non-RC internal identifiers assigned to an extension\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ReferenceInfo\";}}s:16:\"regionalSettings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/RegionalSettings\";}s:15:\"serviceFeatures\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:149:\"Extension
  service features returned in response only when the logged-in user requests his/her
  own extension info, see also Extension Service Features\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/ExtensionServiceFeatureInfo\";}}s:16:\"setupWizardState\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:101:\"Specifies
  extension configuration wizard state (web service setup). The default value is 'NotStarted'\";s:4:\"enum\";a:3:{i:0;s:10:\"NotStarted\";i:1;s:10:\"Incomplete\";i:2;s:9:\"Completed\";}}s:6:\"status\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:83:\"Extension
  current state. If the status is 'Unassigned'. Returned for all extensions\";s:4:\"enum\";a:4:{i:0;s:7:\"Enabled\";i:1;s:8:\"Disabled\";i:2;s:12:\"NotActivated\";i:3;s:10:\"Unassigned\";}}s:10:\"statusInfo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/StatusInfo\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Extension
  type\";s:4:\"enum\";a:12:{i:0;s:4:\"User\";i:1;s:7:\"FaxUser\";i:2;s:11:\"VirtualUser\";i:3;s:11:\"DigitalUser\";i:4;s:10:\"Department\";i:5;s:12:\"Announcement\";i:6;s:9:\"Voicemail\";i:7;s:16:\"SharedLinesGroup\";i:8;s:15:\"PagingOnlyGroup\";i:9;s:7:\"IvrMenu\";i:10;s:20:\"ApplicationExtension\";i:11;s:12:\"ParkLocation\";}}}}s:33:\"ExtensionInfo.Request.ContactInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"contact\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ContactInfo\";}s:16:\"regionalSettings\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:64:\"#/definitions/ExtensionInfo.Request.ContactInfo.RegionalSettings\";}s:16:\"setupWizardState\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:101:\"Specifies
  extension configuration wizard state (web service setup). The default value is 'NotStarted'\";s:4:\"enum\";a:3:{i:0;s:10:\"NotStarted\";i:1;s:10:\"Incomplete\";i:2;s:9:\"Completed\";}}s:10:\"department\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"Extension
  user department\";}}}s:50:\"ExtensionInfo.Request.ContactInfo.RegionalSettings\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"timezone\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:73:\"#/definitions/ExtensionInfo.Request.ContactInfo.RegionalSettings.Timezone\";}s:8:\"language\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:73:\"#/definitions/ExtensionInfo.Request.ContactInfo.RegionalSettings.Language\";}s:16:\"greetingLanguage\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:81:\"#/definitions/ExtensionInfo.Request.ContactInfo.RegionalSettings.GreetingLanguage\";}s:16:\"formattingLocale\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:81:\"#/definitions/ExtensionInfo.Request.ContactInfo.RegionalSettings.FormattingLocale\";}}}s:67:\"ExtensionInfo.Request.ContactInfo.RegionalSettings.FormattingLocale\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"Internal
  identifier of a formatting language\";}}}s:67:\"ExtensionInfo.Request.ContactInfo.RegionalSettings.GreetingLanguage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"Internal
  identifier of a greeting language\";}}}s:59:\"ExtensionInfo.Request.ContactInfo.RegionalSettings.Language\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:61:\"Language
  identifier. The default value is \"1033\" (English US)\";}}}s:59:\"ExtensionInfo.Request.ContactInfo.RegionalSettings.Timezone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:58:\"Timezone
  identifier. The default value is \"58\" (US&Canada)\";}}}s:31:\"ExtensionInfo.Request.PartnerId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"partnerId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"Extension
  partner identifier\";}}}s:33:\"ExtensionInfo.Request.PasswordPIN\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"password\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Password
  for extension\";}s:6:\"ivrPin\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:7:\"IVR
  PIN\";}}}s:31:\"ExtensionInfo.Request.Provision\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"status\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"Mandatory.
  Resulting extension status\";s:4:\"enum\";a:1:{i:0;s:12:\"NotActivated\";}}s:7:\"contact\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:57:\"#/definitions/ExtensionInfo.Request.Provision.ContactInfo\";}}}s:43:\"ExtensionInfo.Request.Provision.ContactInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"firstName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"Mandatory.
  Extension user first name\";}s:8:\"lastName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"Mandatory.
  Extension user last name\";}s:5:\"email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"Mandatory.
  Extension user contact email\";}}}s:32:\"ExtensionInfo.Request.StatusInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"status\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"Required
  extension status\";s:4:\"enum\";a:3:{i:0;s:8:\"Disabled\";i:1;s:7:\"Enabled\";i:2;s:12:\"NotActivated\";}}s:10:\"statusInfo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/StatusInfo\";}}}s:20:\"ExtensionPermissions\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"admin\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/PermissionInfo\";}s:20:\"internationalCalling\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/PermissionInfo\";}}}s:27:\"ExtensionServiceFeatureInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"enabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:59:\"Feature
  status; shows feature availability for an extension\";}s:11:\"featureName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:62:\"Feature
  name, see all available values in Service Feature List\";}s:6:\"reason\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:273:\"Reason
  of limitation for a particular service feature. Returned only if the enabled parameter
  value is 'False', see Service Feature Limitations and Reasons. When retrieving service
  features for an extension, the reasons for the limitations, if any, are returned
  in response\";}}}s:20:\"FormattingLocaleInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"Internal
  identifier of a formatting language\";}s:10:\"localeCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"Localization
  code of a formatting language\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"Official
  name of a formatting language\";}}}s:14:\"ForwardingInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:18:\"notifyMySoftPhones\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:123:\"Specifies
  if the user's softphone(s) are notified before forwarding the incoming call to desk
  phones and forwarding numbers\";}s:21:\"notifyAdminSoftPhones\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:158:\"Specifies
  if the administrator's softphone is notified before forwarding the incoming call
  to desk phones and forwarding numbers. The default value is 'False'\";}s:19:\"softPhonesRingCount\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:40:\"Number
  of rings before forwarding starts\";}s:11:\"ringingMode\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:224:\"Specifies
  the order in which forwarding numbers ring. 'Sequentially' means that forwarding
  numbers are ringing one at a time, in order of priority. 'Simultaneously' means
  that forwarding numbers are ring all at the same time\";s:4:\"enum\";a:2:{i:0;s:12:\"Sequentially\";i:1;s:14:\"Simultaneously\";}}s:5:\"rules\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:37:\"Information
  on a call forwarding rule\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/RuleInfo\";}}}}s:20:\"ForwardingNumberInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:58:\"Internal
  identifier of a forwarding/call flip phone number\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:52:\"Canonical
  URI of a forwarding/call flip phone number\";}s:11:\"phoneNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"Forwarding/Call
  flip phone number\";}s:5:\"label\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"Forwarding/Call
  flip number title\";}s:8:\"features\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:74:\"Type
  of option this phone number is used for. Multiple values are accepted\";s:4:\"enum\";a:2:{i:0;s:8:\"CallFlip\";i:1;s:14:\"CallForwarding\";}}s:10:\"flipNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:86:\"Number
  assigned to the call flip phone number, corresponds to the shortcut dial number\";}}}s:15:\"FullCountryInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"Internal
  identifier of a country\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"Canonical
  URI of a country\";}s:11:\"callingCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:88:\"Country
  calling code defined by ITU-T recommendations E.123 and E.164, see Calling Codes\";}s:16:\"emergencyCalling\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:78:\"Emergency
  calling feature availability/emergency address requirement indicator\";}s:7:\"isoCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:56:\"Country
  code according to the ISO standard, see ISO 3166\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"Official
  name of a country\";}s:13:\"numberSelling\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:60:\"Determines
  whether phone numbers are available for a country\";}s:12:\"loginAllowed\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:80:\"Specifies
  whether login with the phone numbers of this country is enabled or not\";}}}s:9:\"GrantInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"Canonical
  URI of a grant\";}s:9:\"extension\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/GrantInfo.ExtensionInfo\";}s:10:\"callPickup\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:164:\"Specifies
  if picking up of other extensions' calls is allowed for the extension. If 'Presence'
  feature is disabled for the given extension, the flag is not returned\";}s:14:\"callMonitoring\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:170:\"Specifies
  if monitoring of other extensions' calls is allowed for the extension. If 'CallMonitoring'
  feature is disabled for the given extension, the flag is not returned\";}}}s:23:\"GrantInfo.ExtensionInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"Internal
  identifier of an extension\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Canonical
  URI of an extension\";}s:15:\"extensionNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"Extension
  short number (usually 3 or 4 digits)\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Extension
  type\";s:4:\"enum\";a:12:{i:0;s:4:\"User\";i:1;s:8:\"Fax User\";i:2;s:11:\"VirtualUser\";i:3;s:11:\"DigitalUser\";i:4;s:10:\"Department\";i:5;s:12:\"Announcement\";i:6;s:9:\"Voicemail\";i:7;s:16:\"SharedLinesGroup\";i:8;s:10:\"PagingOnly\";i:9;s:7:\"IvrMenu\";i:10;s:20:\"ApplicationExtension\";i:11;s:13:\"Park
  Location\";}}}}s:20:\"GreetingLanguageInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"Internal
  identifier of a greeting language\";}s:10:\"localeCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"Localization
  code of a greeting language\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"Official
  name of a greeting language\";}}}s:9:\"GroupInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"Internal
  identifier of a group\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"Canonical
  URI of a group\";}s:13:\"contactsCount\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:29:\"Amount
  of contacts in a group\";}s:9:\"groupName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"Name
  of a group\";}s:5:\"notes\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"Notes
  for a group\";}}}s:12:\"LanguageInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"Internal
  identifier of a language\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"Canonical
  URI of a language\";}s:8:\"greeting\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:62:\"Indicates
  whether a language is available as greeting language\";}s:16:\"formattingLocale\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:62:\"Indicates
  whether a language is available as formatting locale\";}s:10:\"localeCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"Localization
  code of a language\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"Official
  name of a language\";}s:2:\"ui\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:56:\"Indicates
  whether a language is available as UI language\";}}}s:7:\"LegInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:6:\"action\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"Action
  description of the call operation\";s:4:\"enum\";a:21:{i:0;s:7:\"Unknown\";i:1;s:10:\"Phone
  Call\";i:2;s:11:\"Phone Login\";i:3;s:12:\"Incoming Fax\";i:4;s:11:\"Accept Call\";i:5;s:6:\"FindMe\";i:6;s:8:\"FollowMe\";i:7;s:12:\"Outgoing
  Fax\";i:8;s:11:\"Call Return\";i:9;s:12:\"Calling Card\";i:10;s:13:\"Ring Directly\";i:11;s:11:\"RingOut
  Web\";i:12;s:9:\"VoIP Call\";i:13;s:10:\"RingOut PC\";i:14;s:6:\"RingMe\";i:15;s:8:\"Transfer\";i:16;s:8:\"411
  Info\";i:17;s:9:\"Emergency\";i:18;s:11:\"E911 Update\";i:19;s:7:\"Support\";i:20;s:14:\"RingOut
  Mobile\";}}s:9:\"direction\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Call
  direction\";s:4:\"enum\";a:2:{i:0;s:7:\"Inbound\";i:1;s:8:\"Outbound\";}}s:8:\"duration\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:24:\"Call
  duration in seconds\";}s:9:\"extension\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/LegInfo.ExtensionInfo\";}s:7:\"legType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:8:\"Leg
  type\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"The
  call start datetime in ISO 8601 format including timezone, for example 2016-03-10T18:07:52.534Z\";s:6:\"format\";s:9:\"date-time\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"Call
  type\";s:4:\"enum\";a:2:{i:0;s:5:\"Voice\";i:1;s:3:\"Fax\";}}s:6:\"result\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"Status
  description of the call operation\";s:4:\"enum\";a:37:{i:0;s:7:\"Unknown\";i:1;s:16:\"ResultInProgress\";i:2;s:6:\"Missed\";i:3;s:13:\"Call
  accepted\";i:4;s:9:\"Voicemail\";i:5;s:8:\"Rejected\";i:6;s:5:\"Reply\";i:7;s:8:\"Received\";i:8;s:13:\"Receive
  Error\";i:9;s:13:\"Fax on Demand\";i:10;s:15:\"Partial Receive\";i:11;s:7:\"Blocked\";i:12;s:14:\"Call
  connected\";i:13;s:9:\"No Answer\";i:14;s:22:\"International Disabled\";i:15;s:4:\"Busy\";i:16;s:10:\"Send
  Error\";i:17;s:4:\"Sent\";i:18;s:14:\"No fax machine\";i:19;s:11:\"ResultEmpty\";i:20;s:7:\"Account\";i:21;s:9:\"Suspended\";i:22;s:11:\"Call
  Failed\";i:23;s:12:\"Call Failure\";i:24;s:14:\"Internal Error\";i:25;s:16:\"IP
  Phone offline\";i:26;s:17:\"Restricted Number\";i:27;s:12:\"Wrong Number\";i:28;s:7:\"Stopped\";i:29;s:7:\"Hang
  up\";i:30;s:17:\"Poor Line Quality\";i:31;s:14:\"Partially Sent\";i:32;s:25:\"International
  Restriction\";i:33;s:9:\"Abandoned\";i:34;s:8:\"Declined\";i:35;s:17:\"Fax Receipt
  Error\";i:36;s:14:\"Fax Send Error\";}}s:4:\"from\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/CallerInfo\";}s:2:\"to\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/CallerInfo\";}s:9:\"transport\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Call
  transport\";s:4:\"enum\";a:2:{i:0;s:4:\"PSTN\";i:1;s:4:\"VoIP\";}}s:9:\"recording\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/RecordingInfo\";}}}s:21:\"LegInfo.ExtensionInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:35:\"Internal
  identifier of an extension\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Canonical
  URI of an extension\";}}}s:12:\"LocationInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"Canonical
  URI of a location\";}s:8:\"areaCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"Area
  code of the location\";}s:4:\"city\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"Official
  name of the city, belonging to the certain state\";}s:3:\"npa\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:271:\"Area
  code of the location (3-digit usually), according to the NANP number format, that
  can be summarized as NPA-NXX-xxxx and covers Canada, the United States, parts of
  the Caribbean Sea, and some Atlantic and Pacific islands. See for details North
  American Numbering Plan\";}s:3:\"nxx\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:263:\"Central
  office code of the location, according to the NANP number format, that can be summarized
  as NPA-NXX-xxxx and covers Canada, the United States, parts of the Caribbean Sea,
  and some Atlantic and Pacific islands. See for details North American Numbering
  Plan\";}s:5:\"state\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:64:\"ID
  and URI of the state this location belongs to, see State Info\";}}}s:33:\"LookUpPhoneNumber.PhoneNumberInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"phoneNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"Phone
  number in E.164 format without a '+'\";}s:15:\"formattedNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:67:\"Phone
  number formatted according to current brand's default country\";}s:13:\"vanityPattern\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:165:\"Vanity
  pattern for this number. Returned only when vanity search option is requested. Vanity
  pattern corresponds to request parameters nxx plus line or numberPattern\";}s:4:\"rank\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:88:\"The
  value is returned if the extendedSearch parameter is true. '10' is the closest match\";}}}s:21:\"MessageAttachmentInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"Internal
  identifier of a message attachment\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"Canonical
  URI of a message attachment\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"Type
  of message attachment\";s:4:\"enum\";a:5:{i:0;s:14:\"AudioRecording\";i:1;s:18:\"AudioTranscription\";i:2;s:4:\"Text\";i:3;s:14:\"SourceDocument\";i:4;s:16:\"RenderedDocument\";}}s:11:\"contentType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:58:\"MIME
  type for a given attachment, for instance 'audio/wav'\";}s:10:\"vmDuration\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:51:\"Voicemail
  only Duration of the voicemail in seconds\";}}}s:11:\"MessageInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":22:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"Internal
  identifier of a message\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"Canonical
  URI of a message\";}s:11:\"attachments\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:31:\"The
  list of message attachments\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/MessageAttachmentInfo\";}}s:12:\"availability\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:241:\"Message
  availability status. Message in 'Deleted' state is still preserved with all its
  attachments and can be restored. 'Purged' means that all attachments are already
  deleted and the message itself is about to be physically deleted shortly\";s:4:\"enum\";a:3:{i:0;s:5:\"Alive\";i:1;s:7:\"Deleted\";i:2;s:6:\"Purged\";}}s:14:\"conversationId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:73:\"SMS
  and Pager only. Identifier of the conversation the message belongs to\";s:6:\"format\";s:5:\"int64\";}s:12:\"creationTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:101:\"Message
  creation datetime in ISO 8601 format including timezone, for example 2016-03-10T18:07:52.534Z\";s:6:\"format\";s:9:\"date-time\";}s:17:\"deliveryErrorCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:49:\"SMS
  only. Delivery error code returned by gateway\";}s:9:\"direction\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:134:\"Message
  direction. Note that for some message types not all directions are allowed. For
  example voicemail messages can be only inbound\";s:4:\"enum\";a:2:{i:0;s:7:\"Inbound\";i:1;s:8:\"Outbound\";}}s:12:\"faxPageCount\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:35:\"Fax
  only. Page count in fax message\";}s:13:\"faxResolution\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:142:\"Fax
  only. Resolution of fax message. ('High' for black and white image scanned at 200
  dpi, 'Low' for black and white image scanned at 100 dpi)\";s:4:\"enum\";a:2:{i:0;s:4:\"High\";i:1;s:3:\"Low\";}}s:4:\"from\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/MessageInfo.CallerInfo\";}s:16:\"lastModifiedTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:128:\"The
  datetime when the message was modified on server in ISO 8601 format including timezone,
  for example 2016-03-10T18:07:52.534Z\";s:6:\"format\";s:9:\"date-time\";}s:13:\"messageStatus\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:81:\"Message
  status. Different message types may have different allowed status values.\";s:4:\"enum\";a:6:{i:0;s:6:\"Queued\";i:1;s:4:\"Sent\";i:2;s:9:\"Delivered\";i:3;s:14:\"DeliveryFailed\";i:4;s:13:\"SendingFailed\";i:5;s:8:\"Received\";}}s:14:\"pgToDepartment\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:81:\"Pager
  only True if at least one of the message recipients is Department extension\";}s:8:\"priority\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"Message
  priority\";s:4:\"enum\";a:2:{i:0;s:6:\"Normal\";i:1;s:4:\"High\";}}s:10:\"readStatus\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"Message
  read status\";s:4:\"enum\";a:2:{i:0;s:4:\"Read\";i:1;s:6:\"Unread\";}}s:15:\"smsDeliveryTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:227:\"SMS
  only. The datetime when outbound SMS was delivered to recipient's handset in ISO
  8601 format including timezone, for example 2016-03-10T18:07:52.534Z. It is filled
  only if the carrier sends a delivery receipt to RingCentral\";s:6:\"format\";s:9:\"date-time\";}s:23:\"smsSendingAttemptsCount\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:110:\"SMS
  only. Number of attempts made to send an outbound SMS to the gateway (if gateway
  is temporary unavailable)\";}s:7:\"subject\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:110:\"Message
  subject. For SMS and Pager messages it replicates message text which is also returned
  as an attachment\";}s:2:\"to\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:21:\"Recipient
  information\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/MessageInfo.CallerInfo\";}}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Message
  type\";s:4:\"enum\";a:5:{i:0;s:3:\"Fax\";i:1;s:3:\"SMS\";i:2;s:9:\"VoiceMail\";i:3;s:5:\"Pager\";i:4;s:4:\"Text\";}}s:21:\"vmTranscriptionStatus\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:152:\"Voicemail
  only. Status of voicemail to text transcription. If VoicemailToText feature is not
  activated for account, the 'NotAvailable' value is returned\";s:4:\"enum\";a:6:{i:0;s:12:\"NotAvailable\";i:1;s:10:\"InProgress\";i:2;s:8:\"TimedOut\";i:3;s:9:\"Completed\";i:4;s:18:\"CompletedPartially\";i:5;s:6:\"Failed\";}}}}s:22:\"MessageInfo.CallerInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:15:\"extensionNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:219:\"Extension
  short number (usually 3 or 4 digits). This property is filled when parties communicate
  by means of short internal numbers, for example when calling to other extension
  or sending/receiving Company Pager message\";}s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:265:\"Contains
  party location (city, state) if one can be determined from phoneNumber. This property
  is filled only when phoneNumber is not empty and server can calculate location information
  from it (for example, this information is unavailable for US toll-free numbers)\";}s:13:\"messageStatus\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:60:\"Status
  of a message. Returned for outbound fax messages only\";s:4:\"enum\";a:6:{i:0;s:6:\"Queued\";i:1;s:4:\"Sent\";i:2;s:9:\"Delivered\";i:3;s:14:\"DeliveryFailed\";i:4;s:13:\"SendingFailed\";i:5;s:8:\"Received\";}}s:12:\"faxErrorCode\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:112:\"Fax
  only. Error code returned in case of fax sending failure. Returned if messageStatus
  value is 'SendingFailed'\";s:4:\"enum\";a:21:{i:0;s:9:\"Undefined\";i:1;s:19:\"NoFaxSendPermission\";i:2;s:25:\"NoInternationalPermission\";i:3;s:12:\"NoFaxMachine\";i:4;s:17:\"OutgoingCallError\";i:5;s:15:\"RenderingFailed\";i:6;s:12:\"TooManyPages\";i:7;s:15:\"ReturnToDBQueue\";i:8;s:10:\"NoCallTime\";i:9;s:11:\"WrongNumber\";i:10;s:16:\"ProhibitedNumber\";i:11;s:13:\"InternalError\";i:12;s:20:\"FaxSendingProhibited\";i:13;s:21:\"ThePhoneIsBlacklisted\";i:14;s:12:\"UserNotFound\";i:15;s:12:\"ConvertError\";i:16;s:14:\"DBGeneralError\";i:17;s:18:\"SkypeBillingFailed\";i:18;s:16:\"AccountSuspended\";i:19;s:21:\"ProhibitedDestination\";i:20;s:21:\"InternationalDisabled\";}}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:154:\"Symbolic
  name associated with a party. If the phone does not belong to the known extension,
  only the location is returned, the name is not determined then\";}s:11:\"phoneNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:374:\"Phone
  number of a party. Usually it is a plain number including country and area code
  like 18661234567. But sometimes it could be returned from database with some formatting
  applied, for example (866)123-4567. This property is filled in all cases where parties
  communicate by means of global phone numbers, for example when calling to direct
  numbers or sending/receiving SMS\";}}}s:9:\"ModelInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:101:\"Device
  model identifier. Mandatory when ordering a HardPhone if boxBillingId is not used
  for ordering\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Device
  name\";}s:6:\"addons\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:18:\"Addons
  description\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/AddonInfo\";}}}}s:14:\"NavigationInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"firstPage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"Canonical
  URI for the first page of the list\";}s:8:\"nextPage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"Canonical
  URI for the next page of the list\";}s:12:\"previousPage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"Canonical
  URI for the previous page of the list\";}s:8:\"lastPage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"Canonical
  URI for the last page of the list\";}}}s:10:\"PagingInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"page\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:173:\"The
  current page number. 1-indexed, so the first page is 1 by default. May be omitted
  if result is empty (because non-existent page was specified or perPage=0 was requested)\";}s:7:\"perPage\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:196:\"Current
  page size, describes how many items are in each page. Default value is 100. Maximum
  value is 1000. If perPage value in the request is greater than 1000, the maximum
  value (1000) is applied\";}s:9:\"pageStart\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:113:\"The
  zero-based number of the first element on the current page. Omitted if the page
  is omitted or result is empty\";}s:7:\"pageEnd\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:111:\"The
  zero-based index of the last element on the current page. Omitted if the page is
  omitted or result is empty\";}s:10:\"totalPages\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:100:\"The
  total number of pages in a dataset. May be omitted for some resources due to performance
  reasons\";}s:13:\"totalElements\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:102:\"The
  total number of elements in a dataset. May be omitted for some resource due to performance
  reasons\";}}}s:28:\"ParsePhoneNumber.CountryInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"Internal
  identifier of a country\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"Canonical
  URI of a country\";}s:11:\"callingCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:88:\"Country
  calling code defined by ITU-T recommendations E.123 and E.164, see Calling Codes\";}s:16:\"emergencyCalling\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:78:\"Emergency
  calling feature availability/emergency address requirement indicator\";}s:7:\"isoCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:56:\"Country
  code according to the ISO standard, see ISO 3166\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"Official
  name of a country\";}}}s:32:\"ParsePhoneNumber.PhoneNumberInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:8:\"areaCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:271:\"Area
  code of the location (3-digit usually), according to the NANP number format, that
  can be summarized as NPA-NXX-xxxx and covers Canada, the United States, parts of
  the Caribbean Sea, and some Atlantic and Pacific islands. See North American Numbering
  Plan for details\";}s:7:\"country\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:52:\"Information
  on a country the phone number belongs to\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/ParsePhoneNumber.CountryInfo\";}}s:8:\"dialable\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"Dialing
  format of a phone number\";}s:4:\"e164\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"E.164
  (11-digits) format of a phone number\";}s:22:\"formattedInternational\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"International
  format of a phone number\";}s:17:\"formattedNational\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"Domestic
  format of a phone number\";}s:14:\"originalString\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:63:\"One
  of the numbers to be parsed, passed as a string in response\";}s:7:\"special\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:66:\"\"True\"
  if the number is in a special format (for example N11 code)\";}s:10:\"normalized\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:70:\"E.164
  (11-digits) format of a phone number without the plus sign ('+')\";}}}s:14:\"PermissionInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"enabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:43:\"Specifies
  if a permission is enabled or not\";}}}s:19:\"PersonalContactInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":30:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:31:\"Standard
  resource properties ID\";}s:3:\"url\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"Canonical
  URI\";}s:12:\"availability\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:170:\"This
  property has a special meaning only on Address Book Sync (e.g. a contact can be
  'Deleted'). For simple contact list reading it has always the default value - 'Alive'\";s:4:\"enum\";a:3:{i:0;s:5:\"Alive\";i:1;s:7:\"Deleted\";i:2;s:6:\"Purged\";}}s:9:\"firstName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"First
  name of a personal contact\";}s:8:\"lastName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"Last
  name of a personal contact\";}s:10:\"middleName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"Middle
  name of a personal contact\";}s:8:\"nickName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"Nick
  name of a personal contact\";}s:7:\"company\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"Company
  name of a personal contact\";}s:8:\"jobTitle\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"Job
  title of a personal contact\";}s:9:\"homePhone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"Home
  phone of a personal contact\";}s:10:\"homePhone2\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"The
  2-d home phone of a personal contact\";}s:13:\"businessPhone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"Business
  phone of a personal contact\";}s:14:\"businessPhone2\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  2-d business phone of a personal contact\";}s:11:\"mobilePhone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"Mobile
  phone of a personal contact\";}s:11:\"businessFax\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"Business
  fax of a personal contact\";}s:12:\"companyPhone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"Company
  phone of a personal contact\";}s:14:\"assistantPhone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"Assistant
  phone of a personal contact\";}s:8:\"carPhone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"Car
  phone of a personal contact\";}s:10:\"otherPhone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"Other
  phone of a personal contact\";}s:8:\"otherFax\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"Other
  fax of a personal contact\";}s:13:\"callbackPhone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"Callback
  phone of a personal contact\";}s:5:\"email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"Email
  of a personal contact\";}s:6:\"email2\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  2-d email of a personal contact\";}s:6:\"email3\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  3-d email of a personal contact\";}s:11:\"homeAddress\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ContactAddressInfo\";}s:15:\"businessAddress\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ContactAddressInfo\";}s:12:\"otherAddress\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ContactAddressInfo\";}s:8:\"birthday\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:111:\"Date
  of birth of a personal contact in ISO 8601 format including timezone, for example
  2016-03-10T18:07:52.534Z\";s:6:\"format\";s:9:\"date-time\";}s:7:\"webPage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"Web
  page of a personal contact\";}s:5:\"notes\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"Notes
  of a personal contact\";}}}s:14:\"PhoneLinesInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"lineType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"Type
  of phone line\";s:4:\"enum\";a:4:{i:0;s:10:\"Standalone\";i:1;s:14:\"StandaloneFree\";i:2;s:10:\"BlaPrimary\";i:3;s:12:\"BlaSecondary\";}}s:9:\"phoneInfo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/PhoneLinesInfo.PhoneNumberInfo\";}}}s:30:\"PhoneLinesInfo.PhoneNumberInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:37:\"Internal
  identifier of a phone number\";}s:7:\"country\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CountryInfo\";}s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:51:\"Location
  (City, State). Filled for local US numbers\";}s:11:\"paymentType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:115:\"Payment
  type. 'External' is returned for forwarded numbers which are not terminated in the
  RingCentral phone system\";s:4:\"enum\";a:3:{i:0;s:8:\"External\";i:1;s:8:\"TollFree\";i:2;s:5:\"Local\";}}s:11:\"phoneNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Phone
  number\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:154:\"Status
  of a phone number. If the value is 'Normal', the phone number is ready to be used.
  Otherwise it is an external number not yet ported to RingCentral\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"Phone
  number type\";s:4:\"enum\";a:3:{i:0;s:8:\"VoiceFax\";i:1;s:7:\"FaxOnly\";i:2;s:9:\"VoiceOnly\";}}s:9:\"usageType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"Usage
  type of the phone number\";s:4:\"enum\";a:6:{i:0;s:17:\"MainCompanyNumber\";i:1;s:23:\"AdditionalCompanyNumber\";i:2;s:13:\"CompanyNumber\";i:3;s:12:\"DirectNumber\";i:4;s:16:\"CompanyFaxNumber\";i:5;s:15:\"ForwardedNumber\";}}}}s:15:\"PhoneNumberInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:37:\"Internal
  identifier of a phone number\";}s:7:\"country\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CountryInfo\";}s:9:\"extension\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/PhoneNumberInfo.ExtensionInfo\";}s:8:\"features\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:161:\"Indicates
  if this phone number is enabled to appear as CallerId and/or to send outbound SMS
  from it. Returned only for the request of Extension phone number list\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:51:\"Location
  (City, State). Filled for local US numbers\";}s:11:\"paymentType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:115:\"Payment
  type. 'External' is returned for forwarded numbers which are not terminated in the
  RingCentral phone system\";s:4:\"enum\";a:3:{i:0;s:8:\"External\";i:1;s:8:\"TollFree\";i:2;s:5:\"Local\";}}s:11:\"phoneNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Phone
  number\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:154:\"Status
  of a phone number. If the value is 'Normal', the phone number is ready to be used.
  Otherwise it is an external number not yet ported to RingCentral\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"Phone
  number type\";s:4:\"enum\";a:3:{i:0;s:8:\"VoiceFax\";i:1;s:7:\"FaxOnly\";i:2;s:9:\"VoiceOnly\";}}s:9:\"usageType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"Usage
  type of the phone number\";s:4:\"enum\";a:6:{i:0;s:17:\"MainCompanyNumber\";i:1;s:23:\"AdditionalCompanyNumber\";i:2;s:13:\"CompanyNumber\";i:3;s:12:\"DirectNumber\";i:4;s:16:\"CompanyFaxNumber\";i:5;s:15:\"ForwardedNumber\";}}}}s:29:\"PhoneNumberInfo.ExtensionInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"Internal
  identifier of an extension\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Canonical
  URI of an extension\";}s:15:\"extensionNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"Number
  of department extension\";}s:9:\"partnerId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:546:\"For
  Partner Applications Internal identifier of an extension created by partner. The
  RingCentral supports the mapping of accounts and stores the corresponding account
  ID/extension ID for each partner ID of a client application. In request URIs partner
  IDs are accepted instead of regular RingCentral native IDs as path parameters using
  pid = XXX clause. Though in response URIs contain the corresponding account IDs
  and extension IDs. In all request and response bodies these values are reflected
  via partnerId attributes of account and extension\";}}}s:12:\"PresenceInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"Canonical
  URI of a presence info resource\";}s:18:\"allowSeeMyPresence\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:71:\"If
  'True' enables other extensions to see the extension presence status\";}s:9:\"dndStatus\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:580:\"Extended
  DnD (Do not Disturb) status. Cannot be set for Department/Announcement/Voicemail
  (Take Messages Only)/Fax User/Shared Lines Group/Paging Only Group/IVR Menu/Application
  Extension/Park Location extensions. The 'DoNotAcceptDepartmentCalls' and 'TakeDepartmentCallsOnly'
  values are applicable only for extensions - members of a Department; if these values
  are set for department outsiders, the 400 Bad Request error code is returned. The
  'TakeDepartmentCallsOnly' status can be set through the old RingCentral user interface
  and is available for some migrated accounts only.\";s:4:\"enum\";a:4:{i:0;s:12:\"TakeAllCalls\";i:1;s:19:\"DoNotAcceptAnyCalls\";i:2;s:26:\"DoNotAcceptDepartmentCalls\";i:3;s:23:\"TakeDepartmentCallsOnly\";}}s:9:\"extension\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/PresenceInfo.ExtensionInfo\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:55:\"Custom
  status message (as previously published by user)\";}s:17:\"pickUpCallsOnHold\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:72:\"If
  'True' enables the extension user to pick up a monitored line on hold\";}s:14:\"presenceStatus\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:63:\"Aggregated
  presence status, calculated from a number of sources\";s:4:\"enum\";a:3:{i:0;s:7:\"Offline\";i:1;s:4:\"Busy\";i:2;s:9:\"Available\";}}s:19:\"ringOnMonitoredCall\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:93:\"If
  'True' enables to ring extension phone, if any user monitored by this extension
  is ringing\";}s:15:\"telephonyStatus\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"Telephony
  presence status\";s:4:\"enum\";a:5:{i:0;s:6:\"NoCall\";i:1;s:13:\"CallConnected\";i:2;s:7:\"Ringing\";i:3;s:6:\"OnHold\";i:4;s:10:\"ParkedCall\";}}s:10:\"userStatus\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:66:\"User-defined
  presence status (as previously published by the user)\";s:4:\"enum\";a:3:{i:0;s:7:\"Offline\";i:1;s:4:\"Busy\";i:2;s:9:\"Available\";}}}}s:26:\"PresenceInfo.ExtensionInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"Internal
  identifier of an extension\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Canonical
  URI of an extension\";}s:15:\"extensionNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"Extension
  number (usually 3 or 4 digits)\";}}}s:16:\"ProfileImageInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:91:\"Link
  to a profile image. If an image is not uploaded for an extension, only uri is returned\";}s:4:\"etag\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Identifier
  of an image\";}s:12:\"lastModified\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:100:\"The
  datetime when an image was last updated in ISO 8601 format, for example 2016-03-10T18:07:52.534Z\";s:6:\"format\";s:9:\"date-time\";}s:11:\"contentType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"The
  type of an image\";}s:6:\"scales\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:54:\"List
  of URIs to profile images in different dimensions\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:10:\"RangesInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"from\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"Date
  and time in format YYYY-MM-DD hh:mm\";s:6:\"format\";s:9:\"date-time\";}s:2:\"to\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"Date
  and time in format YYYY-MM-DD hh:mm\";s:6:\"format\";s:9:\"date-time\";}}}s:13:\"RecipientInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"Link
  to a recipient extension resource\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"Internal
  identifier of a recipient extension\";}}}s:13:\"RecordingInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:41:\"Internal
  identifier of the call recording\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"Link
  to the call recording metadata resource\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Indicates
  recording mode used\";s:4:\"enum\";a:2:{i:0;s:9:\"Automatic\";i:1;s:8:\"OnDemand\";}}s:10:\"contentUri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"Link
  to the call recording binary content\";}}}s:13:\"ReferenceInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"ref\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"Non-RC
  identifier of an extension\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"Type
  of external identifier\";s:4:\"enum\";a:2:{i:0;s:9:\"PartnerId\";i:1;s:19:\"CustomerDirectoryId\";}}}}s:16:\"RegionalSettings\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"homeCountry\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CountryInfo\";}s:8:\"timezone\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/TimezoneInfo\";}s:8:\"language\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/LanguageInfo\";}s:16:\"greetingLanguage\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/GreetingLanguageInfo\";}s:16:\"formattingLocale\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/FormattingLocaleInfo\";}}}s:40:\"ReservePhoneNumber.Request.ReserveRecord\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"phoneNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"Phone
  number in E.164 format without a '+'\";}s:12:\"reservedTill\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:381:\"The
  datetime up to which the number is reserved in ISO 8601 format including timezone,
  for example 2016-03-10T18:07:52.534Z. If it is omitted or explicitly set to 'null',
  the number will be un-reserved if it was reserved previously by the same session.
  'Min' value is 30 seconds; 'Max' value is 30 days (for reservation by brand) and
  20 minutes (for reservation by account/session)\";s:6:\"format\";s:9:\"date-time\";}}}s:41:\"ReservePhoneNumber.Response.ReserveRecord\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"phoneNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"Phone
  number in E.164 format without a '+'\";}s:15:\"formattedNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"Domestic
  format of a phone number\";}s:12:\"reservedTill\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:175:\"The
  datetime up to which the number is reserved in ISO 8601 format including timezone,
  for example 2016-03-10T18:07:52.534Z. No value means that number is not reserved
  anymore\";s:6:\"format\";s:9:\"date-time\";}s:13:\"reservationId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:193:\"Internal
  identifier of phone number reservation; encoded data including reservation type
  (by brand, by account, by session), particular brand/account/session data, and reservation
  date and time\";}s:6:\"status\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"Phone
  number status\";s:4:\"enum\";a:3:{i:0;s:7:\"Enabled\";i:1;s:7:\"Pending\";i:2;s:8:\"Disabled\";}}s:5:\"error\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:60:\"The
  error code in case of reservation/un-reservation failure\";s:4:\"enum\";a:3:{i:0;s:26:\"NumberIsAlreadyProvisioned\";i:1;s:14:\"NumberReserved\";i:2;s:18:\"NumberNotAvailable\";}}}}s:27:\"RingOut.Request.CountryInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"Dialing
  plan country identifier\";}}}s:20:\"RingOut.Request.From\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"phoneNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"Phone
  number in E.164 format\";}s:18:\"forwardingNumberId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:135:\"Internal
  identifier of a forwarding number; returned in response in the id field. Can be
  specified instead of the phoneNumber attribute\";}}}s:18:\"RingOut.Request.To\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"phoneNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"Phone
  number in E.164 format\";}}}s:11:\"RingOutInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"Internal
  identifier of a RingOut call\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/RingOutStatusInfo\";}}}s:17:\"RingOutStatusInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"callStatus\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"Status
  of a call\";s:4:\"enum\";a:12:{i:0;s:7:\"Invalid\";i:1;s:7:\"Success\";i:2;s:10:\"InProgress\";i:3;s:4:\"Busy\";i:4;s:8:\"NoAnswer\";i:5;s:8:\"Rejected\";i:6;s:12:\"GenericError\";i:7;s:8:\"Finished\";i:8;s:21:\"InternationalDisabled\";i:9;s:18:\"DestinationBlocked\";i:10;s:14:\"NotEnoughFunds\";i:11;s:10:\"NoSuchUser\";}}s:12:\"callerStatus\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"Status
  of a calling party\";s:4:\"enum\";a:12:{i:0;s:7:\"Invalid\";i:1;s:7:\"Success\";i:2;s:10:\"InProgress\";i:3;s:4:\"Busy\";i:4;s:8:\"NoAnswer\";i:5;s:8:\"Rejected\";i:6;s:12:\"GenericError\";i:7;s:8:\"Finished\";i:8;s:21:\"InternationalDisabled\";i:9;s:18:\"DestinationBlocked\";i:10;s:14:\"NotEnoughFunds\";i:11;s:10:\"NoSuchUser\";}}s:12:\"calleeStatus\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"Status
  of a called party\";s:4:\"enum\";a:12:{i:0;s:7:\"Invalid\";i:1;s:7:\"Success\";i:2;s:10:\"InProgress\";i:3;s:4:\"Busy\";i:4;s:8:\"NoAnswer\";i:5;s:8:\"Rejected\";i:6;s:12:\"GenericError\";i:7;s:8:\"Finished\";i:8;s:21:\"InternationalDisabled\";i:9;s:18:\"DestinationBlocked\";i:10;s:14:\"NotEnoughFunds\";i:11;s:10:\"NoSuchUser\";}}}}s:8:\"RuleInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"index\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:36:\"Forwarding
  number (or group) ordinal\";}s:9:\"ringCount\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:50:\"Number
  of rings for a forwarding number (or group)\";}s:17:\"forwardingNumbers\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:33:\"Forwarding
  number (or group) data\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/RuleInfo.ForwardingNumberInfo\";}}}}s:29:\"RuleInfo.ForwardingNumberInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"Link
  to a forwarding number resource\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"Internal
  identifier of a forwarding number\";}s:11:\"phoneNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"Phone
  number to which the call is forwarded\";}s:5:\"label\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"Title
  of a forwarding number\";}}}s:12:\"ScheduleInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"weeklyRanges\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/WeeklyScheduleInfo\";}s:6:\"ranges\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/RangesInfo\";}s:3:\"ref\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:126:\"The
  user's schedule specified for business hours or after hours; it can also be set/retrieved
  calling the corresponding method\";s:4:\"enum\";a:2:{i:0;s:13:\"BusinessHours\";i:1;s:10:\"AfterHours\";}}}}s:10:\"ServerInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"Canonical
  URI of the API version\";}s:11:\"apiVersions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:55:\"Full
  API version information: uri, number, release date\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/VersionInfo\";}}s:13:\"serverVersion\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Server
  version\";}s:14:\"serverRevision\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"Server
  revision\";}}}s:18:\"ServiceFeatureInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"featureName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:62:\"Feature
  name, see all available values in Service Feature List\";}s:7:\"enabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:60:\"Feature
  status, shows feature availability for the extension\";}}}s:11:\"ServiceInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"Canonical
  URI of a service info resource\";}s:11:\"billingPlan\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/BillingPlanInfo\";}s:5:\"brand\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/BrandInfo\";}s:11:\"servicePlan\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ServicePlanInfo\";}s:17:\"targetServicePlan\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/TargetServicePlanInfo\";}}}s:15:\"ServicePlanInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"Internal
  identifier of a service plan\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Name
  of a service plan\";}s:7:\"edition\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"Edition
  of a service plan\";}}}s:15:\"ShippingAddress\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:12:\"customerName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"Name
  of a receiver\";}s:6:\"street\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:68:\"Street
  address, line 1 - street address, P.O. box, company name, c/o\";}s:7:\"street2\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:70:\"Street
  address, line 2 - apartment, suite, unit, building, floor, etc.\";}s:4:\"city\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"City
  name\";}s:5:\"state\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"State/province
  name\";}s:3:\"zip\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:8:\"Zip
  code\";}s:7:\"country\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Country
  name\";}}}s:12:\"ShippingInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"status\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:253:\"Shipping
  status of the order item. It is set to 'Initial' when the order is submitted. Then
  it is changed to 'Accepted' when a distributor starts processing the order. Finally
  it is changed to Shipped which means that distributor has shipped the device.\";s:4:\"enum\";a:3:{i:0;s:7:\"Initial\";i:1;s:8:\"Accepted\";i:2;s:7:\"Shipped\";}}s:7:\"carrier\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:69:\"Shipping
  carrier name. Appears only if the device status is \"Shipped\"\";}s:14:\"trackingNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:80:\"Carrier-specific
  tracking number. Appears only if the device status is \"Shipped\"\";}s:6:\"method\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:27:\"Shipping
  method information\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ShippingMethod\";}}s:7:\"address\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:287:\"Shipping
  address for the order. If it coincides with the Emergency Service Address, then
  can be omitted. By default the same value as the emergencyServiceAddress. Multiple
  addresses can be specified; in case an order contains several devices, they can
  be delivered to different addresses\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ShippingAddress\";}}}}s:14:\"ShippingMethod\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:52:\"Method
  identifier. The default value is \"1\" (Ground)\";s:4:\"enum\";a:3:{i:0;s:1:\"1\";i:1;s:1:\"2\";i:2;s:1:\"3\";}}s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"Method
  name, corresponding to the identifier\";s:4:\"enum\";a:3:{i:0;s:6:\"Ground\";i:1;s:5:\"2
[...]
