---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":4:{s:11:\"description\";s:709:\"<p>This is a beta
  interactive API explorer for the RingCentral Connect Platform. To use this service,
  you will need to have an account with the proper credentials to generate an OAuth2
  access token.</p><p><h2>Quick Start</h2></p><ol><li>1) Go to <b>Authentication >
  /oauth/token</b></li><li>2) Enter <b>app_key, app_secret, username, password</b>
  fields and then click \"Try it out!\"</li><li>3) Upon success, your access_token
  is loaded and you can access any form requiring authorization.</li></ol><h2>Links</h2><ul><li><a
  href=\"https://github.com/ringcentral\" target=\"_blank\">RingCentral SDKs on Github</a></li><li><a
  href=\"mailto:devsupport@ringcentral.com\">RingCentral Developer Support Email</a></li></ul>\";s:7:\"version\";s:3:\"1.0\";s:5:\"title\";s:41:\"RingCentral
  Connect Platform API Explorer\";s:14:\"termsOfService\";s:33:\"https://developer.ringcentral.com\";}"
host: platform.devtest.ringcentral.com
basePath: /restapi
paths: ~
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":124:{s:35:\"ModifyAccountBusinessAddressRequest\";O:8:\"stdClass\":2:{s:8:\"required\";a:1:{i:0;s:15:\"businessAddress\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"company\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"Company
  business name\";}s:5:\"email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"Company
  business email address\";}s:15:\"businessAddress\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/BusinessAddressInfo\";s:11:\"description\";s:24:\"Company
  business address\";}}}s:19:\"BusinessAddressInfo\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"country\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"Name
  of a country\";}s:5:\"state\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"Name
  of a state/province\";}s:4:\"city\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Name
  of a city\";}s:6:\"street\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Street
  address\";}s:3:\"zip\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:8:\"Zip
  code\";}}}s:26:\"CreateAnsweringRuleRequest\";O:8:\"stdClass\":2:{s:8:\"required\";a:2:{i:0;s:4:\"type\";i:1;s:4:\"name\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:65:\"Type
  of an answering rule. The 'Custom' value should be specified\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"Name
  of an answering rule specified by user\";}s:7:\"callers\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/CallersInfoRequest\";}s:11:\"description\";s:83:\"Answering
  rule will be applied when calls are received from the specified caller(s)\";}s:10:\"forwarding\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:45:\"#/definitions/ForwardingInfoCreateRuleRequest\";s:11:\"description\";s:198:\"Forwarding
  parameters. Should be specified if the 'callHandlingAction' parameter value is set
  to 'ForwardCalls'. These settings determine the forwarding numbers to which the
  call should be forwarded\";}}}s:18:\"CallersInfoRequest\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"callerId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"Phone
  number of a caller\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"Contact
  name of a caller\";}}}s:31:\"ForwardingInfoCreateRuleRequest\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"rules\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/RuleInfoCreateRuleRequest\";}s:11:\"description\";s:37:\"Information
  on a call forwarding rule\";}}}s:25:\"RuleInfoCreateRuleRequest\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"index\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:36:\"Forwarding
  number (or group) ordinal\";}s:9:\"ringCount\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:50:\"Number
  of rings for a forwarding number (or group)\";}s:17:\"forwardingNumbers\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:56:\"#/definitions/ForwardingNumberInfoRulesCreateRuleRequest\";}s:11:\"description\";s:33:\"Forwarding
  number (or group) data\";}}}s:42:\"ForwardingNumberInfoRulesCreateRuleRequest\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"Internal
  identifier of a forwarding number\";}}}s:26:\"UpdateAnsweringRuleRequest\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"forwarding\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:45:\"#/definitions/ForwardingInfoCreateRuleRequest\";s:11:\"description\";s:171:\"Forwarding
  parameters. Returned if 'ForwardCalls' is specified in 'callHandlingAction'. These
  settings determine the forwarding numbers to which the call will be forwarded\";}}}s:29:\"UpdateConferencingInfoRequest\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"phoneNumbers\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/PhoneNumberInfoConferencing\";}s:11:\"description\";s:336:\"Multiple
  dial-in phone numbers to connect to audio conference service, relevant for user's
  brand. Each number is given with the country and location information, in order
  to let the user choose the less expensive way to connect to a conference. The first
  number in the list is the primary conference number, that is default and domestic\";}s:11:\"phoneNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"Dial-in
  phone number to connect to a conference\";}s:7:\"default\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:206:\"'True'
  if the number is default for the conference. Default conference number is a domestic
  number that can be set by user (otherwise it is set by the system). Only one default
  number per country is allowed\";}s:19:\"allowJoinBeforeHost\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:78:\"Determines
  if host user allows conference participants to join before the host\";}}}s:29:\"CreateForwardingNumberRequest\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"phoneNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"Forwarding/Call
  flip phone number\";}s:5:\"label\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"Forwarding/Call
  flip number title\";}}}s:29:\"UpdateForwardingNumberRequest\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"phoneNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"Forwarding/Call
  flip phone number\";}s:5:\"label\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"Forwarding/Call
  flip number title\";}s:10:\"flipNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:86:\"Number
  assigned to the call flip phone number, corresponds to the shortcut dial number\";}}}s:25:\"CreatePagerMessageRequest\";O:8:\"stdClass\":2:{s:8:\"required\";a:2:{i:0;s:4:\"from\";i:1;s:4:\"text\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"from\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:43:\"#/definitions/MessageStoreCallerInfoRequest\";s:11:\"description\";s:70:\"Sender
  of a pager message. The extensionNumber property must be filled\";}s:7:\"replyOn\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:56:\"Internal
  identifier of a message this message replies to\";}s:4:\"text\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:213:\"Text
  of a pager message. Max length is 1024 symbols (2-byte UTF-16 encoded). If a character
  is encoded in 4 bytes in UTF-16 it is treated as 2 characters, thus restricting
  the maximum message length to 512 symbols\";}s:2:\"to\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/MessageStoreCallerInfoRequest\";}s:11:\"description\";s:116:\"Optional
  if replyOn parameter is specified. Receiver of a pager message. The extensionNumber
  property must be filled\";}}}s:29:\"MessageStoreCallerInfoRequest\";O:8:\"stdClass\":2:{s:8:\"required\";a:1:{i:0;s:15:\"extensionNumber\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:15:\"extensionNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:219:\"Extension
  short number (usually 3 or 4 digits). This property is filled when parties communicate
  by means of short internal numbers, for example when calling to other extension
  or sending/receiving Company Pager message\";}s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:265:\"Contains
  party location (city, state) if one can be determined from phoneNumber. This property
  is filled only when phoneNumber is not empty and server can calculate location information
  from it (for example, this information is unavailable for US toll-free numbers)\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:153:\"Symbolic
  name associated with a party. If the phone does not belong to the known extension,only
  the location is returned, the name is not determined then\";}s:11:\"phoneNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:374:\"Phone
  number of a party. Usually it is a plain number including country and area code
  like 18661234567. But sometimes it could be returned from database with some formatting
  applied, for example (866)123-4567. This property is filled in all cases where parties
  communicate by means of global phone numbers, for example when calling to direct
  numbers or sending/receiving SMS\";}}}s:23:\"CreateFaxMessageRequest\";O:8:\"stdClass\":2:{s:8:\"required\";a:1:{i:0;s:2:\"to\";}s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"to\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/MessageStoreCallerInfoRequest\";}s:11:\"description\";s:90:\"Recipient
  information. Phone number property is mandatory. Optional for resend fax request\";}s:10:\"resolution\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:4:\"High\";i:1;s:3:\"Low\";}s:11:\"description\";s:14:\"Fax
  resolution\";}s:8:\"sendTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:164:\"The
  datetime to send fax at, in ISO 8601 format including timezone, for example 2016-03-10T18:07:52.534Z.
  If time is not specified, the fax will be send immediately\";}s:10:\"coverIndex\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:4:\"0-16\";s:11:\"description\";s:173:\"Optional.
  Cover page index. If not specified, the default cover page which is configured in
  \ Outbound Fax Settings  is attached. See also 'Available Cover Pages' table below\";}s:13:\"coverPageText\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:125:\"Optional.
  Cover page text, entered by the fax sender and printed on the cover page. Maximum
  length is limited to 1024 symbols\";}s:17:\"originalMessageId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:106:\"Internal
  identifier of the original fax message which needs to be resent. Mandatory for resend
  fax request\";}}}s:16:\"CreateSMSMessage\";O:8:\"stdClass\":2:{s:8:\"required\";a:3:{i:0;s:4:\"from\";i:1;s:2:\"to\";i:2;s:4:\"text\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"from\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:43:\"#/definitions/MessageStoreCallerInfoRequest\";s:11:\"description\";s:144:\"Sender
  of an SMS message. The phoneNumber property must be filled to correspond to one
  of the account phone numbers which is allowed to send SMS\";}s:2:\"to\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/MessageStoreCallerInfoRequest\";}s:11:\"description\";s:67:\"Receiver
  of an SMS message. The phoneNumber property must be filled\";}s:4:\"text\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:207:\"Text
  of a message. Max length is 1000 symbols (2-byte UTF-16 encoded). If a character
  is encoded in 4 bytes in UTF-16 it is treated as 2 characters, thus restricting
  the maximum message length to 500 symbols\";}}}s:20:\"UpdateMessageRequest\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"readStatus\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:4:\"Read\";i:1;s:6:\"Unread\";}s:11:\"description\";s:68:\"Read
  status of a message to be changed. Multiple values are accepted\";}}}s:18:\"MakeRingOutRequest\";O:8:\"stdClass\":2:{s:8:\"required\";a:2:{i:0;s:4:\"from\";i:1;s:2:\"to\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"from\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:46:\"#/definitions/MakeRingOutCallerInfoRequestFrom\";s:11:\"description\";s:170:\"Phone
  number of the caller. This number corresponds to the 1st leg of the RingOut call.
  This number can be one of user's configured forwarding numbers or arbitrary number\";}s:2:\"to\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/MakeRingOutCallerInfoRequestTo\";s:11:\"description\";s:92:\"Phone
  number of the called party. This number corresponds to the 2nd leg of the RingOut
  call\";}s:8:\"callerId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/MakeRingOutCallerInfoRequestTo\";s:11:\"description\";s:54:\"The
  number which will be displayed to the called party\";}s:10:\"playPrompt\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:72:\"The
  audio prompt that the calling party hears when the call is connected\";}s:7:\"country\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/MakeRingOutCoutryInfo\";s:11:\"description\";s:104:\"Optional.
  Dialing plan country data. If not specified, then extension home country is applied
  by default\";}}}s:32:\"MakeRingOutCallerInfoRequestFrom\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"phoneNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"Phone
  number in E.164 format\";}s:18:\"forwardingNumberId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:135:\"Internal
  identifier of a forwarding number; returned in response in the id field. Can be
  specified instead of the phoneNumber attribute\";}}}s:30:\"MakeRingOutCallerInfoRequestTo\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"phoneNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"Phone
  number in E.164 format\";}}}s:21:\"MakeRingOutCoutryInfo\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"Dialing
  plan country identifier\";}}}s:23:\"ParsePhoneNumberRequest\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"originalStrings\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:155:\"Phone
  numbers passed in a string. The maximum value of phone numbers is limited to 64.
  The maximum number of symbols in each phone number in a string is 64\";}}}s:7:\"_empty_\";O:8:\"stdClass\":2:{s:8:\"required\";a:4:{i:0;s:3:\"uri\";i:1;s:7:\"records\";i:2;s:6:\"paging\";i:3;s:10:\"navigation\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"Canonical
  URI of an answering rule resource\";}s:7:\"records\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/AnsweringRuleInfo\";}s:11:\"description\";s:23:\"List
  of answering rules\";}s:6:\"paging\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/PagingInfo\";s:11:\"description\";s:21:\"Information
  on paging\";}s:10:\"navigation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NavigationInfo\";s:11:\"description\";s:25:\"Information
  on navigation\";}}}s:25:\"CreateSubscriptionRequest\";O:8:\"stdClass\":2:{s:8:\"required\";a:1:{i:0;s:12:\"deliveryMode\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"eventFilters\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:140:\"Mandatory.
  Collection of URIs to API resources (see Event Types for details). For APNS transport
  type only message event filter is available\";}s:12:\"deliveryMode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:45:\"#/definitions/NotificationDeliveryModeRequest\";s:11:\"description\";s:30:\"Notification
  delivery settings\";}}}s:31:\"NotificationDeliveryModeRequest\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"transportType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:6:\"PubNub\";i:1;s:4:\"APNS\";i:2;s:16:\"PubNub/APNS/VoIP\";}s:11:\"description\";s:85:\"Notifications
  transportation provider name. 'APNS' (Apple Push Notifications Service)\";}s:10:\"encryption\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:258:\"Optional
  parameter. Specifies if the message will be encrypted or not. If request contains
  any presence event filter the value by default is 'True' (even if specified as 'false').
  If request contains only message event filters the value by default is 'False'\";}}}s:25:\"ModifySubscriptionRequest\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"eventFilters\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:70:\"Collection
  of URIs to API resources (see Event Types). Mandatory field\";}}}s:19:\"GetVersionsResponse\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"Canonical
  URI of the API version\";}s:11:\"apiVersions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/VersionInfo\";}s:11:\"description\";s:55:\"Full
  API version information: uri, number, release date\";}s:13:\"serverVersion\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Server
  version\";}s:14:\"serverRevision\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"Server
  revision\";}}}s:11:\"VersionInfo\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Canonical
  URI of API versions\";}s:13:\"versionString\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"Version
  of the RingCentral REST API\";}s:11:\"releaseDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"Release
  date of this version\";}s:9:\"uriString\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"URI
  part determining the current version\";}}}s:18:\"GetVersionResponse\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"Canonical
  URI of the version info resource\";}s:13:\"versionString\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"Version
  of the RingCentral REST API\";}s:11:\"releaseDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"Release
  date of this version\";}s:9:\"uriString\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"URI
  part determining the current version\";}}}s:22:\"GetAccountInfoResponse\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":9:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"Internal
  identifier of an account\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"Canonical
  URI of an account\";}s:10:\"mainNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"Main
  phone number of the current account\";}s:8:\"operator\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/GetExtensionInfoResponse\";s:11:\"description\";s:110:\"Operator's
  extension information. This extension will receive all calls and messages intended
  for the operator\";}s:9:\"partnerId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:66:\"Additional
  account identifier, developed and applied by the client\";}s:11:\"serviceInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ServiceInfo\";s:11:\"description\";s:75:\"Account
  service information, including brand, service plan and billing plan\";}s:16:\"setupWizardState\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:10:\"NotStarted\";i:1;s:10:\"Incomplete\";i:2;s:9:\"Completed\";}s:11:\"description\";s:99:\"Specifies
  account configuration wizard state (web service setup). The default value is 'NotStarted'\";}s:6:\"status\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:9:\"Confirmed\";i:1;s:8:\"Disabled\";}s:11:\"description\";s:29:\"Status
  of the current account\";}s:10:\"statusInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/AccountStatusInfo\";s:11:\"description\";s:83:\"Status
  information (reason, comment, lifetime). Returned for 'Disabled' status only\";}}}s:11:\"ServiceInfo\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":5:{s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"Canonical
  URI of a service info resource\";}s:11:\"billingPlan\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/BillingPlanInfo\";s:11:\"description\";s:35:\"Information
  on account billing plan\";}s:5:\"brand\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/BrandInfo\";s:11:\"description\";s:28:\"Information
  on account brand\";}s:11:\"servicePlan\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ServicePlanInfo\";s:11:\"description\";s:35:\"Information
  on account service plan\";}s:17:\"targetServicePlan\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/TargetServicePlanInfo\";s:11:\"description\";s:42:\"Information
  on account target service plan\";}}}s:15:\"BillingPlanInfo\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"Internal
  identifier of a billing plan\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"Billing
  plan name\";}s:12:\"durationUnit\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:5:\"Month\";i:1;s:3:\"Day\";}s:11:\"description\";s:15:\"Duration
  period\";}s:8:\"duration\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"Number
  of duration units\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:6:{i:0;s:7:\"Initial\";i:1;s:7:\"Regular\";i:2;s:9:\"Suspended\";i:3;s:5:\"Trial\";i:4;s:9:\"TrialNoCC\";i:5;s:4:\"Free\";}s:11:\"description\";s:17:\"Billing
  plan type\";}}}s:9:\"BrandInfo\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"Internal
  identifier of a brand\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:52:\"Brand
  name, for example  RingCentral UK ,  ClearFax \";}s:11:\"homeCountry\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/CountryInfo\";s:11:\"description\";s:24:\"Home
  country information\";}}}s:11:\"CountryInfo\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"Internal
  identifier of a home country\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"Canonical
  URI of a home country\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"Official
  name of a home country\";}}}s:15:\"ServicePlanInfo\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"Internal
  identifier of a service plan\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Name
  of a service plan\";}s:7:\"edition\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"Edition
  of a service plan\";}}}s:21:\"TargetServicePlanInfo\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"Internal
  identifier of a target service plan\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Name
  of a target service plan\";}}}s:17:\"AccountStatusInfo\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"comment\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:61:\"A
  free-form user comment, describing the status change reason\";}s:6:\"reason\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:11:\"Voluntarily\";i:1;s:13:\"Involuntarily\";}s:11:\"description\";s:18:\"Type
  of suspension\";}}}s:30:\"GetAccountPhoneNumbersResponse\";O:8:\"stdClass\":2:{s:8:\"required\";a:3:{i:0;s:7:\"records\";i:1;s:6:\"paging\";i:2;s:10:\"navigation\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"records\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/PhoneNumberInfo\";}s:11:\"description\";s:29:\"List
  of account phone numbers\";}s:6:\"paging\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/PagingInfo\";s:11:\"description\";s:21:\"Information
  on paging\";}s:10:\"navigation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NavigationInfo\";s:11:\"description\";s:25:\"Information
  on navigation\";}}}s:22:\"GetServiceInfoResponse\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:50:\"Canonical
  URI of the account Service Info resource\";}s:15:\"servicePlanName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"Account
  Service Plan name\";}s:15:\"serviceFeatures\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ServiceFeatureInfo\";}s:11:\"description\";s:54:\"Service
  features information, see Service Feature List\";}s:6:\"limits\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/AccountLimits\";s:11:\"description\";s:42:\"Limits
  which are effective for the account\";}}}s:18:\"ServiceFeatureInfo\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"featureName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:62:\"Feature
  name, see all available values in Service Feature List\";}s:7:\"enabled\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:4:\"True\";i:1;s:5:\"False\";}s:11:\"description\";s:60:\"Feature
  status, shows feature availability for the extension\";}}}s:13:\"AccountLimits\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":3:{s:30:\"freeSoftPhoneLinesPerExtension\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:69:\"The
  maximum number of free softphone digital lines per user extension\";}s:11:\"meetingSize\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:87:\"The
  maximum number of participants in RingCentral Meeting hosted by this account's user\";}s:29:\"maxMonitoredExtensionsPerUser\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:98:\"The
  maximum number of extensions which can be included in the list of users monitored
  for Presence\";}}}s:24:\"GetExtensionListResponse\";O:8:\"stdClass\":2:{s:8:\"required\";a:3:{i:0;s:7:\"records\";i:1;s:10:\"navigation\";i:2;s:6:\"paging\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"records\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/GetExtensionInfoResponse\";}s:11:\"description\";s:45:\"List
  of extensions with extension information\";}s:10:\"navigation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NavigationInfo\";s:11:\"description\";s:25:\"Information
  on navigation\";}s:6:\"paging\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/PagingInfo\";s:11:\"description\";s:21:\"Information
  on paging\";}}}s:14:\"NavigationInfo\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"firstPage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"Canonical
  URI for the first page of the list\";}s:8:\"nextPage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"Canonical
  URI for the next page of the list\";}s:12:\"previousPage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"Canonical
  URI for the previous page of the list\";}s:8:\"lastPage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"Canonical
  URI for the last page of the list\";}}}s:10:\"PagingInfo\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"page\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:173:\"The
  current page number. 1-indexed, so the first page is 1 by default. May be omitted
  if result is empty (because non-existent page was specified or perPage=0 was requested)\";}s:7:\"perPage\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:196:\"Current
  page size, describes how many items are in each page. Default value is 100. Maximum
  value is 1000. If perPage value in the request is greater than 1000, the maximum
  value (1000) is applied\";}s:9:\"pageStart\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:113:\"The
  zero-based number of the first element on the current page. Omitted if the page
  is omitted or result is empty\";}s:7:\"pageEnd\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:111:\"The
  zero-based index of the last element on the current page. Omitted if the page is
  omitted or result is empty\";}s:10:\"totalPages\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:100:\"The
  total number of pages in a dataset. May be omitted for some resources due to performance
  reasons\";}s:13:\"totalElements\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:102:\"The
  total number of elements in a dataset. May be omitted for some resource due to performance
  reasons\";}}}s:24:\"GetExtensionInfoResponse\";O:8:\"stdClass\":2:{s:8:\"required\";a:5:{i:0;s:2:\"id\";i:1;s:3:\"uri\";i:2;s:12:\"profileImage\";i:3;s:6:\"status\";i:4;s:4:\"type\";}s:10:\"properties\";O:8:\"stdClass\":16:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"Internal
  identifier of an extension\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Canonical
  URI of an extension\";}s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ContactInfo\";s:11:\"description\";s:28:\"Contact
  detailed information\";}s:11:\"departments\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/DepartmentInfo\";s:11:\"description\";s:171:\"Information
  on department extension(s), to which the requested extension belongs. Returned only
  for user extensions, members of department, requested by single extensionId\";}s:15:\"extensionNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"Number
  of department extension\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"Extension
  user name\";}s:9:\"partnerId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:546:\"For
  Partner Applications Internal identifier of an extension created by partner. The
  RingCentral supports the mapping of accounts and stores the corresponding account
  ID/extension ID for each partner ID of a client application. In request URIs partner
  IDs are accepted instead of regular RingCentral native IDs as path parameters using
  pid = XXX clause. Though in response URIs contain the corresponding account IDs
  and extension IDs. In all request and response bodies these values are reflected
  via partnerId attributes of account and extension\";}s:11:\"permissions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ExtensionPermissions\";s:11:\"description\";s:102:\"Extension
  permissions, corresponding to the Service Web permissions 'Admin' and 'InternationalCalling'\";}s:12:\"profileImage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ProfileImageInfo\";s:11:\"description\";s:28:\"Information
  on profile image\";}s:10:\"references\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ReferenceInfo\";}s:11:\"description\";s:60:\"List
  of non-RC internal identifiers assigned to an extension\";}s:16:\"regionalSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/RegionalSettings\";s:11:\"description\";s:56:\"Extension
  region data (timezone, home country, language)\";}s:15:\"serviceFeatures\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/ExtensionServiceFeatureInfo\";}s:11:\"description\";s:149:\"Extension
  service features returned in response only when the logged-in user requests his/her
  own extension info, see also Extension Service Features\";}s:16:\"setupWizardState\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:10:\"NotStarted\";i:1;s:10:\"Incomplete\";i:2;s:9:\"Completed\";}s:11:\"description\";s:101:\"Specifies
  extension configuration wizard state (web service setup). The default value is 'NotStarted'\";}s:6:\"status\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:4:{i:0;s:7:\"Enabled\";i:1;s:8:\"Disabled\";i:2;s:12:\"NotActivated\";i:3;s:10:\"Unassigned\";}s:11:\"description\";s:83:\"Extension
  current state. If the status is 'Unassigned'. Returned for all extensions\";}s:10:\"statusInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/ExtensionStatusInfo\";s:11:\"description\";s:73:\"Status
  information (reason, comment). Returned for 'Disabled' status only\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:12:{i:0;s:4:\"User\";i:1;s:7:\"FaxUser\";i:2;s:11:\"VirtualUser\";i:3;s:11:\"DigitalUser\";i:4;s:10:\"Department\";i:5;s:12:\"Announcement\";i:6;s:9:\"Voicemail\";i:7;s:16:\"SharedLinesGroup\";i:8;s:15:\"PagingOnlyGroup\";i:9;s:7:\"IvrMenu\";i:10;s:20:\"ApplicationExtension\";i:11;s:12:\"ParkLocation\";}s:11:\"description\";s:14:\"Extension
  type\";}}}s:11:\"ContactInfo\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":6:{s:9:\"firstName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:55:\"For
  User extension type only. Extension user first name\";}s:8:\"lastName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:54:\"For
  User extension type only. Extension user last name\";}s:7:\"company\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"Extension
  user company name\";}s:5:\"email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"Email
  of extension user\";}s:13:\"businessPhone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"Extension
  user contact phone number\";}s:15:\"businessAddress\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ContactAddressInfo\";s:11:\"description\";s:42:\"Business
  address of extension user company\";}}}s:18:\"ContactAddressInfo\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"country\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:69:\"Country
  name of extension user company. Not returned for Address Book\";}s:5:\"state\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"State/province
  name of extension user company\";}s:4:\"city\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"City
  name of extension user company\";}s:6:\"street\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"Street
  address of extension user company\";}s:3:\"zip\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"Zip
  code of extension user company\";}}}s:14:\"DepartmentInfo\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"Internal
  identifier of a department extension\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"Canonical
  URI of a department extension\";}s:15:\"extensionNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"Number
  of a department extension\";}}}s:20:\"ExtensionPermissions\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"admin\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/PermissionInfo\";s:11:\"description\";s:16:\"Admin
  permission\";}s:20:\"internationalCalling\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/PermissionInfo\";s:11:\"description\";s:32:\"International
  Calling permission\";}}}s:14:\"PermissionInfo\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"enabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:43:\"Specifies
  if a permission is enabled or not\";}}}s:16:\"ProfileImageInfo\";O:8:\"stdClass\":2:{s:8:\"required\";a:1:{i:0;s:3:\"uri\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:91:\"Link
  to a profile image. If an image is not uploaded for an extension, only uri is returned\";}s:4:\"etag\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Identifier
  of an image\";}s:12:\"lastModified\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:100:\"The
  datetime when an image was last updated in ISO 8601 format, for example 2016-03-10T18:07:52.534Z\";}s:11:\"contentType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"The
  type of an image\";}s:6:\"scales\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:54:\"List
  of URIs to profile images in different dimensions\";}}}s:13:\"ReferenceInfo\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"ref\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"Non-RC
  identifier of an extension\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:9:\"PartnerId\";i:1;s:19:\"CustomerDirectoryId\";}s:11:\"description\";s:27:\"Type
  of external identifier\";}}}s:16:\"RegionalSettings\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"homeCountry\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/CountryInfo\";s:11:\"description\";s:29:\"Extension
  country information\";}s:8:\"timezone\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/TimezoneInfo\";s:11:\"description\";s:30:\"Extension
  timezone information\";}s:8:\"language\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/LanguageInfo\";s:11:\"description\";s:28:\"User
  interface language data\";}s:16:\"greetingLanguage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/GreetingLanguageInfo\";s:11:\"description\";s:52:\"Information
  on language used for telephony greetings\";}s:16:\"formattingLocale\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/FormattingLocaleInfo\";s:11:\"description\";s:65:\"Formatting
  language preferences for numbers, dates and currencies\";}}}s:12:\"TimezoneInfo\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"Internal
  identifier of a timezone\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"Canonical
  URI of a timezone\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"Short
  name of a timezone\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"Meaningful
  description of the timezone\";}}}s:12:\"LanguageInfo\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":7:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"Internal
  identifier of a language\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"Canonical
  URI of a language\";}s:8:\"greeting\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:62:\"Indicates
  whether a language is available as greeting language\";}s:16:\"formattingLocale\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:62:\"Indicates
  whether a language is available as formatting locale\";}s:10:\"localeCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"Localization
  code of a language\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"Official
  name of a language\";}s:2:\"ui\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:56:\"Indicates
  whether a language is available as UI language\";}}}s:20:\"GreetingLanguageInfo\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"Internal
  identifier of a greeting language\";}s:10:\"localeCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"Localization
  code of a greeting language\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"Official
  name of a greeting language\";}}}s:20:\"FormattingLocaleInfo\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"Internal
  identifier of a formatting language\";}s:10:\"localeCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"Localization
  code of a formatting language\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"Official
  name of a formatting language\";}}}s:27:\"ExtensionServiceFeatureInfo\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"enabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:59:\"Feature
  status; shows feature availability for an extension\";}s:11:\"featureName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:62:\"Feature
  name, see all available values in Service Feature List\";}s:6:\"reason\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:5:{i:0;s:21:\"AccountTypeLimitation\";i:1;s:23:\"ExtensionTypeLimitation\";i:2;s:17:\"AccountLimitation\";i:3;s:19:\"ExtensionLimitation\";i:4;s:23:\"InsufficientPermissions\";}s:11:\"description\";s:273:\"Reason
  of limitation for a particular service feature. Returned only if the enabled parameter
  value is 'False', see Service Feature Limitations and Reasons. When retrieving service
  features for an extension, the reasons for the limitations, if any, are returned
  in response\";}}}s:19:\"ExtensionStatusInfo\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"comment\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:61:\"A
  free-form user comment, describing the status change reason\";}s:6:\"reason\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:11:\"Voluntarily\";i:1;s:13:\"Involuntarily\";}s:11:\"description\";s:18:\"Type
  of suspension\";}}}s:32:\"GetExtensionPhoneNumbersResponse\";O:8:\"stdClass\":2:{s:8:\"required\";a:3:{i:0;s:7:\"records\";i:1;s:10:\"navigation\";i:2;s:6:\"paging\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"records\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/PhoneNumberInfo\";}s:11:\"description\";s:21:\"List
  of phone numbers\";}s:10:\"navigation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NavigationInfo\";s:11:\"description\";s:25:\"Information
  on navigation\";}s:6:\"paging\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/PagingInfo\";s:11:\"description\";s:21:\"Information
  on paging\";}}}s:15:\"PhoneNumberInfo\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":10:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:37:\"Internal
  identifier of a phone number\";}s:7:\"country\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/CountryInfo\";s:11:\"description\";s:43:\"Brief
  information on a phone number country\";}s:9:\"extension\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ExtensionInfo\";s:11:\"description\";s:127:\"Information
  on the extension, to which the phone number is assigned. Returned only for the request
  of Account phone number list\";}s:8:\"features\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:6:\"format\";s:30:\"Set
  of 'CallerId', 'SmsSender'\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:24:\"'CallerId'
  | 'SmsSender'\";}s:11:\"description\";s:161:\"Indicates if this phone number is
  enabled to appear as CallerId and/or to send outbound SMS from it. Returned only
  for the request of Extension phone number list\";}s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:51:\"Location
  (City, State). Filled for local US numbers\";}s:11:\"paymentType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:8:\"External\";i:1;s:8:\"TollFree\";i:2;s:5:\"Local\";}s:11:\"description\";s:115:\"Payment
  type. 'External' is returned for forwarded numbers which are not terminated in the
  RingCentral phone system\";}s:11:\"phoneNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Phone
  number\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:154:\"Status
  of a phone number. If the value is 'Normal', the phone number is ready to be used.
  Otherwise it is an external number not yet ported to RingCentral\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:8:\"VoiceFax\";i:1;s:7:\"FaxOnly\";i:2;s:9:\"VoiceOnly\";}s:11:\"description\";s:17:\"Phone
  number type\";}s:9:\"usageType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:6:{i:0;s:17:\"MainCompanyNumber\";i:1;s:23:\"AdditionalCompanyNumber\";i:2;s:13:\"CompanyNumber\";i:3;s:12:\"DirectNumber\";i:4;s:16:\"CompanyFaxNumber\";i:5;s:15:\"ForwardedNumber\";}s:11:\"description\";s:30:\"Usage
  type of the phone number\";}}}s:13:\"ExtensionInfo\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"Internal
  identifier of an extension\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Canonical
  URI of an extension\";}s:15:\"extensionNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"Number
  of department extension\";}s:9:\"partnerId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:546:\"For
  Partner Applications Internal identifier of an extension created by partner. The
  RingCentral supports the mapping of accounts and stores the corresponding account
  ID/extension ID for each partner ID of a client application. In request URIs partner
  IDs are accepted instead of regular RingCentral native IDs as path parameters using
  pid = XXX clause. Though in response URIs contain the corresponding account IDs
  and extension IDs. In all request and response bodies these values are reflected
  via partnerId attributes of account and extension\";}}}s:17:\"AnsweringRuleInfo\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":12:{s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"Canonical
  URI to the answering rule resource\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"Internal
  identifier of an asnwering rule\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:13:\"BusinessHours\";i:1;s:10:\"AfterHours\";i:2;s:6:\"Custom\";}s:11:\"description\";s:25:\"Type
  of an answering rule\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"Name
  of an answering rule specified by user\";}s:7:\"enabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:52:\"Specifies
  if an answering rule is active or inactive\";}s:8:\"schedule\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ScheduleInfo\";s:11:\"description\";s:49:\"Schedule
  when an answering rule should be applied\";}s:13:\"calledNumbers\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/CalledNumberInfo\";}s:11:\"description\";s:62:\"Answering
  rules are applied when calling to selected number(s)\";}s:7:\"callers\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CallersInfo\";}s:11:\"description\";s:76:\"Answering
  rules are applied when calls are received from specified caller(s)\";}s:18:\"callHandlingAction\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:4:{i:0;s:12:\"ForwardCalls\";i:1;s:16:\"TakeMessagesOnly\";i:2;s:20:\"PlayAnnouncementOnly\";i:3;s:23:\"UnconditionalForwarding\";}s:11:\"description\";s:42:\"Specifies
  how incoming calls are forwarded\";}s:10:\"forwarding\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ForwardingInfo\";s:11:\"description\";s:171:\"Forwarding
  parameters. Returned if 'ForwardCalls' is specified in 'callHandlingAction'. These
  settings determine the forwarding numbers to which the call will be forwarded\";}s:23:\"unconditionalForwarding\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/UnconditionalForwardingInfo\";s:11:\"description\";s:111:\"Unconditional
  forwarding parameters. Returned if 'UnconditionalForwarding' is specified in 'callHandlingAction'\";}s:9:\"voicemail\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/VoicemailInfo\";s:11:\"description\";s:58:\"Specifies
  whether to take a voicemail and who should do it\";}}}s:12:\"ScheduleInfo\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"weeklyRanges\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/WeeklyScheduleInfo\";s:11:\"description\";s:15:\"Weekly
  schedule\";}s:6:\"ranges\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/RangesInfo\";s:11:\"description\";s:20:\"Specific
  data ranges\";}s:3:\"ref\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:13:\"BusinessHours\";i:1;s:10:\"AfterHours\";}s:11:\"description\";s:126:\"The
  user's schedule specified for business hours or after hours; it can also be set/retrieved
  calling the corresponding method\";}}}s:18:\"WeeklyScheduleInfo\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":7:{s:6:\"monday\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/TimeInterval\";}s:11:\"description\";s:35:\"Time
  intervals for a particular day\";}s:7:\"tuesday\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/TimeInterval\";}s:11:\"description\";s:35:\"Time
  intervals for a particular day\";}s:9:\"wednesday\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/TimeInterval\";}s:11:\"description\";s:35:\"Time
  intervals for a particular day\";}s:8:\"thursday\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/TimeInterval\";}s:11:\"description\";s:35:\"Time
  intervals for a particular day\";}s:6:\"friday\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/TimeInterval\";}s:11:\"description\";s:35:\"Time
  intervals for a particular day\";}s:8:\"saturday\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/TimeInterval\";}s:11:\"description\";s:35:\"Time
  intervals for a particular day\";}s:6:\"sunday\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/TimeInterval\";}s:11:\"description\";s:35:\"Time
  intervals for a particular day\";}}}s:10:\"RangesInfo\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"from\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:40:\"Date
  and time in format YYYY-MM-DD hh:mm\";}s:2:\"to\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:40:\"Date
  and time in format YYYY-MM-DD hh:mm\";}}}s:12:\"TimeInterval\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"from\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:20:\"Time
  in format hh:mm\";}s:2:\"to\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:20:\"Time
  in format hh:mm\";}}}s:16:\"CalledNumberInfo\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"phoneNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"Called
  phone number\";}}}s:11:\"CallersInfo\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"callerId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"Phone
  number of a caller\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"Contact
  name of a caller\";}}}s:14:\"ForwardingInfo\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":5:{s:18:\"notifyMySoftPhones\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:123:\"Specifies
  if the user's softphone(s) are notified before forwarding the incoming call to desk
  phones and forwarding numbers\";}s:21:\"notifyAdminSoftPhones\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:158:\"Specifies
  if the administrator's softphone is notified before forwarding the incoming call
  to desk phones and forwarding numbers. The default value is 'False'\";}s:19:\"softPhonesRingCount\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:40:\"Number
  of rings before forwarding starts\";}s:11:\"ringingMode\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:12:\"Sequentially\";i:1;s:14:\"Simultaneously\";}s:11:\"description\";s:224:\"Specifies
  the order in which forwarding numbers ring. 'Sequentially' means that forwarding
  numbers are ringing one at a time, in order of priority. 'Simultaneously' means
  that forwarding numbers are ring all at the same time\";}s:5:\"rules\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/RuleInfo\";}s:11:\"description\";s:37:\"Information
  on a call forwarding rule\";}}}s:8:\"RuleInfo\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"index\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:36:\"Forwarding
  number (or group) ordinal\";}s:9:\"ringCount\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:50:\"Number
  of rings for a forwarding number (or group)\";}s:17:\"forwardingNumbers\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/ForwardingNumberInfoRules\";}s:11:\"description\";s:33:\"Forwarding
  number (or group) data\";}}}s:25:\"ForwardingNumberInfoRules\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"Link
  to a forwarding number resource\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"Internal
  identifier of a forwarding number\";}s:11:\"phoneNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"Phone
  number to which the call is forwarded\";}s:5:\"label\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"Title
  of a forwarding number\";}}}s:27:\"UnconditionalForwardingInfo\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"phoneNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"Phone
  number to which the call is forwarded\";}}}s:13:\"VoicemailInfo\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"enabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:52:\"If
  'True' then voicemails are allowed to be received\";}s:9:\"recipient\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/RecipientInfo\";s:11:\"description\";s:14:\"Recipient
  data\";}}}s:13:\"RecipientInfo\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"Link
  to a recipient extension resource\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"Internal
  identifier of a recipient extension\";}}}s:28:\"GetUserBusinessHoursResponse\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"Canonical
  URI of a business-hours resource\";}s:8:\"schedule\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:43:\"#/definitions/ScheduleInfoUserBusinessHours\";s:11:\"description\";s:42:\"Schedule
  when an answering rule is applied\";}}}s:29:\"ScheduleInfoUserBusinessHours\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"weeklyRanges\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/WeeklyScheduleInfo\";s:11:\"description\";s:15:\"Weekly
  schedule\";}}}s:26:\"AccountActiveCallsResponse\";O:8:\"stdClass\":2:{s:8:\"required\";a:3:{i:0;s:7:\"records\";i:1;s:10:\"navigation\";i:2;s:6:\"paging\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"records\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/CallLogRecord\";}s:11:\"description\";s:24:\"List
  of call log records\";}s:10:\"navigation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NavigationInfo\";s:11:\"description\";s:25:\"Information
  on navigation\";}s:6:\"paging\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/PagingInfo\";s:11:\"description\";s:21:\"Information
  on paging\";}}}s:22:\"AccountCallLogResponse\";O:8:\"stdClass\":2:{s:8:\"required\";a:3:{i:0;s:7:\"records\";i:1;s:10:\"navigation\";i:2;s:6:\"paging\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"records\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/CallLogRecord\";}s:11:\"description\";s:24:\"List
  of call log records\";}s:10:\"navigation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NavigationInfo\";s:11:\"description\";s:25:\"Information
  on navigation\";}s:6:\"paging\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/PagingInfo\";s:11:\"description\";s:21:\"Information
  on paging\";}}}s:31:\"GetAccountCallLogRecordResponse\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":12:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"Internal
  identifier of a cal log record\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"Canonical
  URI of a call log record\";}s:9:\"sessionId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"Internal
  identifier of a call session\";}s:4:\"from\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/CallLogCallerInfo\";s:11:\"description\";s:18:\"Caller
  information\";}s:2:\"to\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/CallLogCallerInfo\";s:11:\"description\";s:18:\"Callee
  information\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:5:\"Voice\";i:1;s:3:\"Fax\";}s:11:\"description\";s:9:\"Call
  type\";}s:9:\"direction\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:7:\"Inbound\";i:1;s:8:\"Outbound\";}s:11:\"description\";s:14:\"Call
  direction\";}s:6:\"action\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:21:{i:0;s:7:\"Unknown\";i:1;s:10:\"Phone
  Call\";i:2;s:11:\"Phone Login\";i:3;s:12:\"Incoming Fax\";i:4;s:11:\"Accept Call\";i:5;s:6:\"FindMe\";i:6;s:8:\"FollowMe\";i:7;s:12:\"Outgoing
  Fax\";i:8;s:11:\"Call Return\";i:9;s:12:\"Calling Card\";i:10;s:13:\"Ring Directly\";i:11;s:11:\"RingOut
  Web\";i:12;s:9:\"VoIP Call\";i:13;s:10:\"RingOut PC\";i:14;s:6:\"RingMe\";i:15;s:8:\"Transfer\";i:16;s:8:\"411
  Info\";i:17;s:9:\"Emergency\";i:18;s:11:\"E911 Update\";i:19;s:7:\"Support\";i:20;s:14:\"RingOut
  Mobile\";}s:11:\"description\";s:40:\"Action description of the call operation\";}s:6:\"result\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:38:{i:0;s:7:\"Unknown\";i:1;s:16:\"ResultInProgress\";i:2;s:6:\"Missed\";i:3;s:13:\"Call
  accepted\";i:4;s:9:\"Voicemail\";i:5;s:8:\"Rejected\";i:6;s:5:\"Reply\";i:7;s:8:\"Received\";i:8;s:13:\"Receive
  Error\";i:9;s:13:\"Fax on Demand\";i:10;s:15:\"Partial Receive\";i:11;s:7:\"Blocked\";i:12;s:14:\"Call
  connected\";i:13;s:9:\"No Answer\";i:14;s:22:\"International Disabled\";i:15;s:4:\"Busy\";i:16;s:10:\"Send
  Error\";i:17;s:4:\"Sent\";i:18;s:14:\"No fax machine\";i:19;s:11:\"ResultEmpty\";i:20;s:7:\"Account\";i:21;s:9:\"Suspended\";i:22;s:11:\"Call
  Failed\";i:23;s:12:\"Call Failure\";i:24;s:14:\"Internal Error\";i:25;s:16:\"IP
  Phone offline\";i:26;s:17:\"Restricted Number\";i:27;s:12:\"Wrong Number\";i:28;s:7:\"Stopped\";i:29;s:7:\"Hang
  up\";i:30;s:17:\"Poor Line Quality\";i:31;s:14:\"Partially Sent\";i:32;s:22:\"International
  Disabled\";i:33;s:25:\"International Restriction\";i:34;s:9:\"Abandoned\";i:35;s:8:\"Declined\";i:36;s:17:\"Fax
  Receipt Error\";i:37;s:14:\"Fax Send Error\";}s:11:\"description\";s:40:\"Status
  description of the call operation\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:99:\"The
  call start datetime in ISO 8601 format including timezone, for example 2016-03-10T18:07:52.534Z\";}s:8:\"duration\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:24:\"Call
  duration in seconds\";}s:9:\"recording\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/RecordingInfo\";s:11:\"description\";s:53:\"Call
  recording data. Returned if the call is recorded\";}}}s:28:\"ExtensionActiveCallsResponse\";O:8:\"stdClass\":2:{s:8:\"required\";a:3:{i:0;s:7:\"records\";i:1;s:10:\"navigation\";i:2;s:6:\"paging\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"records\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/CallLogRecord\";}s:11:\"description\";s:24:\"List
  of call log records\";}s:10:\"navigation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NavigationInfo\";s:11:\"description\";s:25:\"Information
  on navigation\";}s:6:\"paging\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/PagingInfo\";s:11:\"description\";s:21:\"Information
  on paging\";}}}s:24:\"ExtensionCallLogResponse\";O:8:\"stdClass\":2:{s:8:\"required\";a:3:{i:0;s:7:\"records\";i:1;s:10:\"navigation\";i:2;s:6:\"paging\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"records\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/CallLogRecord\";}s:11:\"description\";s:24:\"List
  of call log records\";}s:10:\"navigation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NavigationInfo\";s:11:\"description\";s:25:\"Information
  on navigation\";}s:6:\"paging\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/PagingInfo\";s:11:\"description\";s:21:\"Information
  on paging\";}}}s:13:\"CallLogRecord\";O:8:\"stdClass\":2:{s:8:\"required\";a:1:{i:0;s:4:\"legs\";}s:10:\"properties\";O:8:\"stdClass\":15:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"Internal
  identifier of a cal log record\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"Canonical
  URI of a call log record\";}s:9:\"sessionId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"Internal
  identifier of a call session\";}s:4:\"from\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/CallLogCallerInfo\";s:11:\"description\";s:18:\"Caller
  information\";}s:2:\"to\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/CallLogCallerInfo\";s:11:\"description\";s:18:\"Callee
  information\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:5:\"Voice\";i:1;s:3:\"Fax\";}s:11:\"description\";s:9:\"Call
  type\";}s:9:\"direction\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:7:\"Inbound\";i:1;s:8:\"Outbound\";}s:11:\"description\";s:14:\"Call
  direction\";}s:6:\"action\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:21:{i:0;s:7:\"Unknown\";i:1;s:10:\"Phone
  Call\";i:2;s:11:\"Phone Login\";i:3;s:12:\"Incoming Fax\";i:4;s:11:\"Accept Call\";i:5;s:6:\"FindMe\";i:6;s:8:\"FollowMe\";i:7;s:12:\"Outgoing
  Fax\";i:8;s:11:\"Call Return\";i:9;s:12:\"Calling Card\";i:10;s:13:\"Ring Directly\";i:11;s:11:\"RingOut
  Web\";i:12;s:9:\"VoIP Call\";i:13;s:10:\"RingOut PC\";i:14;s:6:\"RingMe\";i:15;s:8:\"Transfer\";i:16;s:8:\"411
  Info\";i:17;s:9:\"Emergency\";i:18;s:11:\"E911 Update\";i:19;s:7:\"Support\";i:20;s:14:\"RingOut
  Mobile\";}s:11:\"description\";s:40:\"Action description of the call operation\";}s:6:\"result\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:38:{i:0;s:7:\"Unknown\";i:1;s:16:\"ResultInProgress\";i:2;s:6:\"Missed\";i:3;s:13:\"Call
  accepted\";i:4;s:9:\"Voicemail\";i:5;s:8:\"Rejected\";i:6;s:5:\"Reply\";i:7;s:8:\"Received\";i:8;s:13:\"Receive
  Error\";i:9;s:13:\"Fax on Demand\";i:10;s:15:\"Partial Receive\";i:11;s:7:\"Blocked\";i:12;s:14:\"Call
  connected\";i:13;s:9:\"No Answer\";i:14;s:22:\"International Disabled\";i:15;s:4:\"Busy\";i:16;s:10:\"Send
  Error\";i:17;s:4:\"Sent\";i:18;s:14:\"No fax machine\";i:19;s:11:\"ResultEmpty\";i:20;s:7:\"Account\";i:21;s:9:\"Suspended\";i:22;s:11:\"Call
  Failed\";i:23;s:12:\"Call Failure\";i:24;s:14:\"Internal Error\";i:25;s:16:\"IP
  Phone offline\";i:26;s:17:\"Restricted Number\";i:27;s:12:\"Wrong Number\";i:28;s:7:\"Stopped\";i:29;s:7:\"Hang
  up\";i:30;s:17:\"Poor Line Quality\";i:31;s:14:\"Partially Sent\";i:32;s:22:\"International
  Disabled\";i:33;s:25:\"International Restriction\";i:34;s:9:\"Abandoned\";i:35;s:8:\"Declined\";i:36;s:17:\"Fax
  Receipt Error\";i:37;s:14:\"Fax Send Error\";}s:11:\"description\";s:40:\"Status
  description of the call operation\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:99:\"The
  call start datetime in ISO 8601 format including timezone, for example 2016-03-10T18:07:52.534Z\";}s:8:\"duration\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:24:\"Call
  duration in seconds\";}s:9:\"recording\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/RecordingInfo\";s:11:\"description\";s:112:\"Call
  recording data. Returned if the call is recorded, the withRecording parameter is
  set to 'True' in this case\";}s:16:\"lastModifiedTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:152:\"For
  'Detailed' view only. The datetime when the call log record was modified in ISO
  8601 format including timezone, for example 2016-03-10T18:07:52.534Z\";}s:9:\"transport\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:4:\"PSTN\";i:1;s:4:\"VoIP\";}s:11:\"description\";s:40:\"For
  'Detailed' view only. Call transport\";}s:4:\"legs\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/CallLogRecordLegInfo\";}s:11:\"description\";s:41:\"For
  'Detailed' view only. Leg description\";}}}s:17:\"CallLogCallerInfo\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"phoneNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:374:\"Phone
  number of a party. Usually it is a plain number including country and area code
  like 18661234567. But sometimes it could be returned from database with some formatting
  applied, for example (866)123-4567. This property is filled in all cases where parties
  communicate by means of global phone numbers, for example when calling to direct
  numbers or sending/receiving SMS\";}s:15:\"extensionNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:219:\"Extension
  short number (usually 3 or 4 digits). This property is filled when parties communicate
  by means of short internal numbers, for example when calling to other extension
  or sending/receiving Company Pager message\";}s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:265:\"Contains
  party location (city, state) if one can be determined from phoneNumber. This property
  is filled only when phoneNumber is not empty and server can calculate location information
  from it (for example, this information is unavailable for US toll-free numbers)\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:154:\"Symbolic
  name associated with a party. If the phone does not belong to the known extension,
  only the location is returned, the name is not determined then\";}}}s:20:\"CallLogRecordLegInfo\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":12:{s:6:\"action\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:21:{i:0;s:7:\"Unknown\";i:1;s:10:\"Phone
  Call\";i:2;s:11:\"Phone Login\";i:3;s:12:\"Incoming Fax\";i:4;s:11:\"Accept Call\";i:5;s:6:\"FindMe\";i:6;s:8:\"FollowMe\";i:7;s:12:\"Outgoing
  Fax\";i:8;s:11:\"Call Return\";i:9;s:12:\"Calling Card\";i:10;s:13:\"Ring Directly\";i:11;s:11:\"RingOut
  Web\";i:12;s:9:\"VoIP Call\";i:13;s:10:\"RingOut PC\";i:14;s:6:\"RingMe\";i:15;s:8:\"Transfer\";i:16;s:8:\"411
  Info\";i:17;s:9:\"Emergency\";i:18;s:11:\"E911 Update\";i:19;s:7:\"Support\";i:20;s:14:\"RingOut
  Mobile\";}s:11:\"description\";s:40:\"Action description of the call operation\";}s:9:\"direction\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:7:\"Inbound\";i:1;s:8:\"Outbound\";}s:11:\"description\";s:14:\"Call
  direction\";}s:8:\"duration\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:24:\"Call
  duration in seconds\";}s:9:\"extension\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ExtensionInfoCallLog\";s:11:\"description\";s:24:\"Information
  on extension\";}s:7:\"legType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:8:\"Leg
  type\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:99:\"The
  call start datetime in ISO 8601 format including timezone, for example 2016-03-10T18:07:52.534Z\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:5:\"Voice\";i:1;s:3:\"Fax\";}s:11:\"description\";s:9:\"Call
  type\";}s:6:\"result\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:38:{i:0;s:7:\"Unknown\";i:1;s:16:\"ResultInProgress\";i:2;s:6:\"Missed\";i:3;s:13:\"Call
  accepted\";i:4;s:9:\"Voicemail\";i:5;s:8:\"Rejected\";i:6;s:5:\"Reply\";i:7;s:8:\"Received\";i:8;s:13:\"Receive
  Error\";i:9;s:13:\"Fax on Demand\";i:10;s:15:\"Partial Receive\";i:11;s:7:\"Blocked\";i:12;s:14:\"Call
  connected\";i:13;s:9:\"No Answer\";i:14;s:22:\"International Disabled\";i:15;s:4:\"Busy\";i:16;s:10:\"Send
  Error\";i:17;s:4:\"Sent\";i:18;s:14:\"No fax machine\";i:19;s:11:\"ResultEmpty\";i:20;s:7:\"Account\";i:21;s:9:\"Suspended\";i:22;s:11:\"Call
  Failed\";i:23;s:12:\"Call Failure\";i:24;s:14:\"Internal Error\";i:25;s:16:\"IP
  Phone offline\";i:26;s:17:\"Restricted Number\";i:27;s:12:\"Wrong Number\";i:28;s:7:\"Stopped\";i:29;s:7:\"Hang
  up\";i:30;s:17:\"Poor Line Quality\";i:31;s:14:\"Partially Sent\";i:32;s:22:\"International
  Disabled\";i:33;s:25:\"International Restriction\";i:34;s:9:\"Abandoned\";i:35;s:8:\"Declined\";i:36;s:17:\"Fax
  Receipt Error\";i:37;s:14:\"Fax Send Error\";}s:11:\"description\";s:40:\"Status
  description of the call operation\";}s:4:\"from\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/CallLogCallerInfo\";s:11:\"description\";s:18:\"Caller
  information\";}s:2:\"to\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/CallLogCallerInfo\";s:11:\"description\";s:18:\"Callee
  information\";}s:9:\"transport\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:4:\"PSTN\";i:1;s:4:\"VoIP\";}s:11:\"description\";s:14:\"Call
  transport\";}s:9:\"recording\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/RecordingInfo\";s:11:\"description\";s:53:\"Call
  recording data. Returned if the call is recorded\";}}}s:13:\"RecordingInfo\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:41:\"Internal
  identifier of the call recording\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"Link
  to the call recording metadata resource\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:9:\"Automatic\";i:1;s:8:\"OnDemand\";}s:11:\"description\";s:29:\"Indicates
  recording mode used\";}s:10:\"contentUri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"Link
  to the call recording binary content\";}}}s:20:\"ExtensionInfoCallLog\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:35:\"Internal
  identifier of an extension\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Canonical
  URI of an extension\";}}}s:33:\"GetExtensionCallLogRecordResponse\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":12:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"Internal
  identifier of a cal log record\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"Canonical
  URI of a call log record\";}s:9:\"sessionId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"Internal
  identifier of a call session\";}s:4:\"from\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/CallLogCallerInfo\";s:11:\"description\";s:18:\"Caller
  information\";}s:2:\"to\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/CallLogCallerInfo\";s:11:\"description\";s:18:\"Callee
  information\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:5:\"Voice\";i:1;s:3:\"Fax\";}s:11:\"description\";s:9:\"Call
  type\";}s:9:\"direction\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:7:\"Inbound\";i:1;s:8:\"Outbound\";}s:11:\"description\";s:14:\"Call
  direction\";}s:6:\"action\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:21:{i:0;s:7:\"Unknown\";i:1;s:10:\"Phone
  Call\";i:2;s:11:\"Phone Login\";i:3;s:12:\"Incoming Fax\";i:4;s:11:\"Accept Call\";i:5;s:6:\"FindMe\";i:6;s:8:\"FollowMe\";i:7;s:12:\"Outgoing
  Fax\";i:8;s:11:\"Call Return\";i:9;s:12:\"Calling Card\";i:10;s:13:\"Ring Directly\";i:11;s:11:\"RingOut
  Web\";i:12;s:9:\"VoIP Call\";i:13;s:10:\"RingOut PC\";i:14;s:6:\"RingMe\";i:15;s:8:\"Transfer\";i:16;s:8:\"411
  Info\";i:17;s:9:\"Emergency\";i:18;s:11:\"E911 Update\";i:19;s:7:\"Support\";i:20;s:14:\"RingOut
  Mobile\";}s:11:\"description\";s:40:\"Action description of the call operation\";}s:6:\"result\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:38:{i:0;s:7:\"Unknown\";i:1;s:16:\"ResultInProgress\";i:2;s:6:\"Missed\";i:3;s:13:\"Call
  accepted\";i:4;s:9:\"Voicemail\";i:5;s:8:\"Rejected\";i:6;s:5:\"Reply\";i:7;s:8:\"Received\";i:8;s:13:\"Receive
  Error\";i:9;s:13:\"Fax on Demand\";i:10;s:15:\"Partial Receive\";i:11;s:7:\"Blocked\";i:12;s:14:\"Call
  connected\";i:13;s:9:\"No Answer\";i:14;s:22:\"International Disabled\";i:15;s:4:\"Busy\";i:16;s:10:\"Send
  Error\";i:17;s:4:\"Sent\";i:18;s:14:\"No fax machine\";i:19;s:11:\"ResultEmpty\";i:20;s:7:\"Account\";i:21;s:9:\"Suspended\";i:22;s:11:\"Call
  Failed\";i:23;s:12:\"Call Failure\";i:24;s:14:\"Internal Error\";i:25;s:16:\"IP
  Phone offline\";i:26;s:17:\"Restricted Number\";i:27;s:12:\"Wrong Number\";i:28;s:7:\"Stopped\";i:29;s:7:\"Hang
  up\";i:30;s:17:\"Poor Line Quality\";i:31;s:14:\"Partially Sent\";i:32;s:22:\"International
  Disabled\";i:33;s:25:\"International Restriction\";i:34;s:9:\"Abandoned\";i:35;s:8:\"Declined\";i:36;s:17:\"Fax
  Receipt Error\";i:37;s:14:\"Fax Send Error\";}s:11:\"description\";s:40:\"Status
  description of the call operation\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:99:\"The
  call start datetime in ISO 8601 format including timezone, for example 2016-03-10T18:07:52.534Z\";}s:8:\"duration\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:24:\"Call
  duration in seconds\";}s:9:\"recording\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/RecordingInfo\";s:11:\"description\";s:53:\"Call
  recording data. Returned if the call is recorded\";}}}s:24:\"GetCallRecordingResponse\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:41:\"Internal
  identifier of the call recording\";}s:10:\"contentUri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"Link
  to the call recording binary content\";}s:11:\"contentType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:59:\"Call
  recording file format. Supported format is audio/x-wav\";}s:8:\"duration\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:22:\"Recorded
  call duration\";}}}s:27:\"GetConferencingInfoResponse\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":8:{s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"Canonical
  URI of a conferencing\";}s:19:\"allowJoinBeforeHost\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:78:\"Determines
  if host user allows conference participants to join before the host\";}s:8:\"hostCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"Access
  code for a host user\";}s:4:\"mode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:49:\"Internal
  parameter specifying conferencing engine\";}s:15:\"participantCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"Access
  code for any participant\";}s:11:\"phoneNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:92:\"Primary
  conference phone number for user's home country returned in E.164 (11-digits) format\";}s:12:\"tapToJoinUri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:81:\"Short
  URL leading to the service web page Tap to Join for audio conference bridge\";}s:12:\"phoneNumbers\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/PhoneNumberInfoConferencing\";}s:11:\"description\";s:344:\"List
  of multiple dial-in phone numbers to connect to audio conference service, relevant
  for user's brand. Each number is given with the country and location information,
  in order to let the user choose the less expensive way to connect to a conference.
  The first number in the list is the primary conference number, that is default and
  domestic\";}}}s:27:\"PhoneNumberInfoConferencing\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"country\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/GetCountryInfoConferencing\";s:11:\"description\";s:58:\"Information
  on a home country of a conference phone number\";}s:7:\"default\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:206:\"'True'
  if the number is default for the conference. Default conference number is a domestic
  number that can be set by user (otherwise it is set by the system). Only one default
  number per country is allowed\";}s:11:\"hasGreeting\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:55:\"'True'
  if the greeting message is played on this number\";}s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:59:\"Location
  (city, region, state) of a conference phone number\";}s:11:\"phoneNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"Dial-in
  phone number to connect to a conference\";}}}s:26:\"GetCountryInfoConferencing\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"Internal
  identifier of a country\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"Canonical
  URI of a country\";}s:11:\"callingCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:88:\"Country
  calling code defined by ITU-T recommendations E.123 and E.164, see Calling Codes\";}s:16:\"emergencyCalling\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:78:\"Emergency
  calling feature availability/emergency address requirement indicator\";}s:7:\"isoCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:56:\"Country
  code according to the ISO standard, see ISO 3166\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"Official
  name of a country\";}}}s:25:\"GetAccountDevicesResponse\";O:8:\"stdClass\":2:{s:8:\"required\";a:3:{i:0;s:7:\"records\";i:1;s:10:\"navigation\";i:2;s:6:\"paging\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"records\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/GetDeviceInfoResponse\";}s:11:\"description\";s:25:\"List
  of extension records\";}s:10:\"navigation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NavigationInfo\";s:11:\"description\";s:25:\"Information
  on navigation\";}s:6:\"paging\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/PagingInfo\";s:11:\"description\";s:21:\"Information
  on paging\";}}}s:21:\"GetDeviceInfoResponse\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":13:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"Internal
  identifier of a device\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"Canonical
  URI of a device\";}s:3:\"sku\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:264:\"Device
  identification number (stock keeping unit) in the format TP-ID [-AT-AC], where TP
  is device type (HP for RC HardPhone, DV for all other devices including softphone);
  ID - device model ID; AT -addon type ID; AC - addon count (if any). For example
  'HP-56-2-2'\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:9:\"SoftPhone\";i:1;s:10:\"OtherPhone\";i:2;s:9:\"HardPhone\";}s:11:\"description\";s:45:\"Device
  type. The default value is 'HardPhone'\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:171:\"Device
  name. Mandatory if ordering  SoftPhone  or  OtherPhone . Optional for  HardPhone
  . If not specified for HardPhone, then device  model  name is used as device  name
  \";}s:6:\"serial\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:139:\"Serial
  number for HardPhone (is returned only when the phone is shipped and provisioned);
  endpoint_id for softphone and mobile applications\";}s:12:\"computerName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"PC
  name for softphone\";}s:5:\"model\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/ModelInfo\";s:11:\"description\";s:27:\"HardPhone
  model information\";}s:9:\"extension\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ExtensionInfo\";s:11:\"description\";s:52:\"This
  attribute can be omitted for unassigned devices\";}s:23:\"emergencyServiceAddress\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/EmergencyAddressInfo\";s:11:\"description\";s:100:\"Address
  for emergency cases. The same emergency address is assigned to all the numbers of
  one device\";}s:10:\"phoneLines\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/PhoneLinesInfo\";s:11:\"description\";s:23:\"Phone
  lines information\";}s:8:\"shipping\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ShippingInfo\";s:11:\"description\";s:166:\"Shipping
  information, according to which devices (in case of  HardPhone ) or e911 stickers
  (in case of  SoftPhone  and  OtherPhone ) will be delivered to the customer\";}s:12:\"boxBillingId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:208:\"Box
  billing identifier of a device. Applicable only for HardPhones. It is an alternative
  way to identify the device to be ordered. Either\_ model  structure, or  boxBillingId
  \ must be specified for\_HardPhone\";}}}s:9:\"ModelInfo\";O:8:\"stdClass\":2:{s:8:\"required\";a:1:{i:0;s:6:\"addons\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:98:\"Addon
  identifier. For HardPhones of certain types, which are compatible with this addon
  identifier\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Device
  name\";}s:6:\"addons\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:18:\"Addons
  description\";}s:5:\"count\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:98:\"Number
  of addons. For HardPhones of certain types, which are compatible with such addon
  identifier\";}}}s:20:\"EmergencyAddressInfo\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":7:{s:12:\"customerName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"Name
  of a customer\";}s:6:\"street\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:68:\"Street
  address, line 1 - street address, P.O. box, company name, c/o\";}s:7:\"street2\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:70:\"Street
  address, line 2 - apartment, suite, unit, building, floor, etc.\";}s:4:\"city\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"City
  name\";}s:5:\"state\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"State/province
  name\";}s:3:\"zip\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:8:\"Zip
  code\";}s:7:\"country\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Country
  name\";}}}s:14:\"PhoneLinesInfo\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"lineType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:4:{i:0;s:10:\"Standalone\";i:1;s:14:\"StandaloneFree\";i:2;s:10:\"BlaPrimary\";i:3;s:12:\"BlaSecondary\";}s:11:\"description\";s:18:\"Type
  of phone line\";}s:9:\"phoneInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PhoneNumberInfo\";s:11:\"description\";s:24:\"Phone
  number information\";}}}s:12:\"ShippingInfo\";O:8:\"stdClass\":2:{s:8:\"required\";a:2:{i:0;s:6:\"method\";i:1;s:7:\"address\";}s:10:\"properties\";O:8:\"stdClass\":14:{s:6:\"status\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:7:\"Initial\";i:1;s:8:\"Accepted\";i:2;s:7:\"Shipped\";}s:11:\"description\";s:253:\"Shipping
  status of the order item. It is set to 'Initial' when the order is submitted. Then
  it is changed to 'Accepted' when a distributor starts processing the order. Finally
  it is changed to Shipped which means that distributor has shipped the device.\";}s:7:\"carrier\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:69:\"Shipping
  carrier name. Appears only if the device status is  Shipped \";}s:14:\"trackingNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:80:\"Carrier-specific
  tracking number. Appears only if the device status is  Shipped \";}s:6:\"method\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:27:\"Shipping
  method information\";}s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:1:\"1\";i:1;s:1:\"2\";i:2;s:1:\"3\";}s:11:\"description\";s:52:\"Method
  identifier. The default value is  1  (Ground)\";}s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:6:\"Ground\";i:1;s:5:\"2
  Day\";i:2;s:9:\"Overnight\";}s:11:\"description\";s:44:\"Method name, corresponding
  to the identifier\";}s:7:\"address\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:287:\"Shipping
  address for the order. If it coincides with the Emergency Service Address, then
  can be omitted. By default the same value as the emergencyServiceAddress. Multiple
  addresses can be specified; in case an order contains several devices, they can
  be delivered to different addresses\";}s:12:\"customerName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"Name
  of a receiver\";}s:6:\"street\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:68:\"Street
  address, line 1 - street address, P.O. box, company name, c/o\";}s:7:\"street2\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:70:\"Street
  address, line 2 - apartment, suite, unit, building, floor, etc.\";}s:4:\"city\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"City
  name\";}s:5:\"state\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"State/province
  name\";}s:3:\"zip\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:8:\"Zip
  code\";}s:7:\"country\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Country
  name\";}}}s:27:\"GetExtensionDevicesResponse\";O:8:\"stdClass\":2:{s:8:\"required\";a:3:{i:0;s:7:\"records\";i:1;s:10:\"navigation\";i:2;s:6:\"paging\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"records\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/GetDeviceInfoResponse\";}s:11:\"description\";s:25:\"List
  of extension devices\";}s:10:\"navigation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NavigationInfo\";s:11:\"description\";s:25:\"Information
  on navigation\";}s:6:\"paging\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/PagingInfo\";s:11:\"description\";s:21:\"Information
  on paging\";}}}s:40:\"GetExtensionForwardingNumberListResponse\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"records\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/ForwardingNumberInfo\";}s:11:\"description\";s:32:\"List
  of forwarding phone numbers\";}s:10:\"navigation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NavigationInfo\";s:11:\"description\";s:25:\"Information
  on navigation\";}s:6:\"paging\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/PagingInfo\";s:11:\"description\";s:21:\"Information
  on paging\";}}}s:20:\"ForwardingNumberInfo\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:58:\"Internal
  identifier of a forwarding/call flip phone number\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:52:\"Canonical
  URI of a forwarding/call flip phone number\";}s:11:\"phoneNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"Forwarding/Call
  flip phone number\";}s:5:\"label\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"Forwarding/Call
  flip number title\";}s:8:\"features\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:8:\"CallFlip\";i:1;s:14:\"CallForwarding\";}s:11:\"description\";s:74:\"Type
  of option this phone number is used for. Multiple values are accepted\";}s:10:\"flipNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:86:\"Number
  assigned to the call flip phone number, corresponds to the shortcut dial number\";}}}s:14:\"GetMessageList\";O:8:\"stdClass\":2:{s:8:\"required\";a:3:{i:0;s:7:\"records\";i:1;s:10:\"navigation\";i:2;s:6:\"paging\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"records\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/GetMessageInfoResponse\";}s:11:\"description\";s:40:\"List
  of records with message information\";}s:10:\"navigation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NavigationInfo\";s:11:\"description\";s:25:\"Information
  on navigation\";}s:6:\"paging\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/PagingInfo\";s:11:\"description\";s:21:\"Information
  on paging\";}}}s:22:\"GetMessageInfoResponse\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":22:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"Internal
  identifier of a message\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"Canonical
  URI of a message\";}s:11:\"attachments\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/MessageAttachmentInfo\";}s:11:\"description\";s:31:\"The
  list of message attachments\";}s:12:\"availability\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:5:\"Alive\";i:1;s:7:\"Deleted\";i:2;s:6:\"Purged\";}s:11:\"description\";s:241:\"Message
  availability status. Message in 'Deleted' state is still preserved with all its
  attachments and can be restored. 'Purged' means that all attachments are already
  deleted and the message itself is about to be physically deleted shortly\";}s:14:\"conversationId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:73:\"SMS
  and Pager only. Identifier of the conversation the message belongs to\";}s:12:\"creationTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:101:\"Message
  creation datetime in ISO 8601 format including timezone, for example 2016-03-10T18:07:52.534Z\";}s:17:\"deliveryErrorCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:49:\"SMS
  only. Delivery error code returned by gateway\";}s:9:\"direction\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:7:\"Inbound\";i:1;s:8:\"Outbound\";}s:11:\"description\";s:134:\"Message
  direction. Note that for some message types not all directions are allowed. For
  example voicemail messages can be only inbound\";}s:12:\"faxPageCount\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:35:\"Fax
  only. Page count in fax message\";}s:13:\"faxResolution\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:4:\"High\";i:1;s:3:\"Low\";}s:11:\"description\";s:142:\"Fax
[...]
