---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":4:{s:11:\"description\";s:709:\"<p>This is a beta
  interactive API explorer for the RingCentral Connect Platform. To use this service,
  you will need to have an account with the proper credentials to generate an OAuth2
  access token.</p><p><h2>Quick Start</h2></p><ol><li>1) Go to <b>Authentication >
  /oauth/token</b></li><li>2) Enter <b>app_key, app_secret, username, password</b>
  fields and then click \"Try it out!\"</li><li>3) Upon success, your access_token
  is loaded and you can access any form requiring authorization.</li></ol><h2>Links</h2><ul><li><a
  href=\"https://github.com/ringcentral\" target=\"_blank\">RingCentral SDKs on Github</a></li><li><a
  href=\"mailto:devsupport@ringcentral.com\">RingCentral Developer Support Email</a></li></ul>\";s:7:\"version\";s:3:\"1.0\";s:5:\"title\";s:41:\"RingCentral
  Connect Platform API Explorer\";s:14:\"termsOfService\";s:33:\"https://developer.ringcentral.com\";}"
host: platform.devtest.ringcentral.com
basePath: /restapi
paths: ~
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":82:{s:29:\"ModifyConferencingInfoRequest\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"phoneNumbers\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:10:\"parameters\";}s:11:\"description\";s:336:\"Multiple
  dial-in phone numbers to connect to audio conference service, relevant for user's
  brand. Each number is given with the country and location information, in order
  to let the user choose the less expensive way to connect to a conference. The first
  number in the list is the primary conference number, that is default and domestic\";}s:11:\"phoneNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"Dial-in
  phone number to connect to a conference\";}s:7:\"default\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:4:\"True\";i:1;s:5:\"False\";}s:11:\"description\";s:206:\"'True'
  if the number is default for the conference. Default conference number is a domestic
  number that can be set by user (otherwise it is set by the system). Only one default
  number per country is allowed\";}s:19:\"allowJoinBeforeHost\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:4:\"True\";i:1;s:5:\"False\";}s:11:\"description\";s:78:\"Determines
  if host user allows conference participants to join before the host\";}}}s:25:\"CreatePagerMessageRequest\";O:8:\"stdClass\":2:{s:8:\"required\";a:2:{i:0;s:4:\"from\";i:1;s:4:\"text\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"from\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:43:\"#/definitions/MessageStoreCallerInfoRequest\";s:11:\"description\";s:68:\"Sender
  of pager message. The extensionNumber property must be filled\";}s:7:\"replyOn\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:56:\"Internal
  identifier of a message this message replies to\";}s:4:\"text\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:49:\"Text
  of pager message. Max length is 1000 symbols\";}s:2:\"to\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/MessageStoreCallerInfoRequest\";}s:11:\"description\";s:114:\"Optional
  if replyOn parameter is specified. Receiver of pager message. The extensionNumber
  property must be filled\";}}}s:29:\"MessageStoreCallerInfoRequest\";O:8:\"stdClass\":2:{s:8:\"required\";a:1:{i:0;s:15:\"extensionNumber\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:15:\"extensionNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:219:\"Extension
  short number (usually 3 or 4 digits). This property is filled when parties communicate
  by means of short internal numbers, for example when calling to other extension
  or sending/receiving Company Pager message\";}s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:265:\"Contains
  party location (city, state) if one can be determined from phoneNumber. This property
  is filled only when phoneNumber is not empty and server can calculate location information
  from it (for example, this information is unavailable for US toll-free numbers)\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:153:\"Symbolic
  name associated with a party. If the phone does not belong to the known extension,only
  the location is returned, the name is not determined then\";}s:11:\"phoneNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:374:\"Phone
  number of a party. Usually it is a plain number including country and area code
  like 18661234567. But sometimes it could be returned from database with some formatting
  applied, for example (866)123-4567. This property is filled in all cases where parties
  communicate by means of global phone numbers, for example when calling to direct
  numbers or sending/receiving SMS\";}}}s:23:\"CreateFaxMessageRequest\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"to\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/MessageStoreCallerInfoRequest\";}s:11:\"description\";s:90:\"Recipient
  information. Phone number property is mandatory. Optional for resend fax request\";}s:10:\"resolution\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:4:\"High\";i:1;s:3:\"Low\";}s:11:\"description\";s:14:\"Fax
  resolution\";}s:8:\"sendTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:103:\"Optional.
  Timestamp to send fax at. If not specified (current or the past), the fax is sent
  immediately\";}s:10:\"coverIndex\";O:8:\"stdClass\":2:{s:4:\"type\";s:14:\"integer
  (0-16)\";s:11:\"description\";s:173:\"Optional. Cover page index. If not specified,
  the default cover page which is configured in  Outbound Fax Settings  is attached.
  See also 'Available Cover Pages' table below\";}s:13:\"coverPageText\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:125:\"Optional.
  Cover page text, entered by the fax sender and printed on the cover page. Maximum
  length is limited to 1024 symbols\";}s:17:\"originalMessageId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:106:\"Internal
  identifier of the original fax message which needs to be resent. Supported for resend
  fax request\";}}}s:16:\"CreateSMSMessage\";O:8:\"stdClass\":2:{s:8:\"required\";a:3:{i:0;s:4:\"from\";i:1;s:2:\"to\";i:2;s:4:\"text\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"from\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:43:\"#/definitions/MessageStoreCallerInfoRequest\";s:11:\"description\";s:141:\"Sender
  of SMS message. The phoneNumber property must be filled to correspond to one of
  the account phone numbers which is allowed to send SMS\";}s:2:\"to\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/MessageStoreCallerInfoRequest\";}s:11:\"description\";s:64:\"Receiver
  of SMS message. The phoneNumber property must be filled\";}s:4:\"text\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"Text
  of SMS message. Max length is 1000 symbols\";}}}s:20:\"UpdateMessageRequest\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"readStatus\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:4:\"Read\";i:1;s:6:\"Unread\";}s:11:\"description\";s:68:\"Read
  status of a message to be changed. Multiple values are accepted\";}}}s:18:\"MakeRingOutRequest\";O:8:\"stdClass\":2:{s:8:\"required\";a:2:{i:0;s:4:\"from\";i:1;s:2:\"to\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"from\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:46:\"#/definitions/MakeRingOutCallerInfoRequestFrom\";s:11:\"description\";s:171:\"Phone
  number of the caller. This number corresponds to the 1st leg of the RingOut call.
  This number can be one of user's configured forwarding numbers or arbitrary number.\";}s:2:\"to\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/MakeRingOutCallerInfoRequest\";s:11:\"description\";s:93:\"Phone
  number of the called party. This number corresponds to the 2nd leg of the RingOut
  call.\";}s:8:\"callerId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/MakeRingOutCallerInfoRequest\";s:11:\"description\";s:55:\"The
  number which will be displayed to the called party.\";}s:10:\"playPrompt\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:73:\"The
  audio prompt that the calling party hears when the call is connected.\";}}}s:32:\"MakeRingOutCallerInfoRequestFrom\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"phoneNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:406:\"Specified
  if forwardingNumberId Phone number of a party. Usually it is a plain number including
  country and area code like 18661234567. But sometimes it could be returned from
  database with some formatting applied, for example (866)123-4567. This property
  is filled in all cases where parties communicate by means of global phone numbers,
  for example when calling to direct numbers or sending/receiving SMS\";}s:18:\"forwardingNumberId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:69:\"Internal
  identifier of a forwarding number returned in response as ID\";}}}s:28:\"MakeRingOutCallerInfoRequest\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"phoneNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:374:\"Phone
  number of a party. Usually it is a plain number including country and area code
  like 18661234567. But sometimes it could be returned from database with some formatting
  applied, for example (866)123-4567. This property is filled in all cases where parties
  communicate by means of global phone numbers, for example when calling to direct
  numbers or sending/receiving SMS\";}}}s:25:\"CreateSubscriptionRequest\";O:8:\"stdClass\":2:{s:8:\"required\";a:1:{i:0;s:12:\"deliveryMode\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"eventFilters\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:140:\"Mandatory.
  Collection of URIs to API resources (see Event Types for details). For APNS transport
  type only message event filter is available\";}s:12:\"deliveryMode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:45:\"#/definitions/NotificationDeliveryModeRequest\";s:11:\"description\";s:30:\"Notification
  delivery settings\";}}}s:31:\"NotificationDeliveryModeRequest\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"transportType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:6:\"PubNub\";i:1;s:4:\"APNS\";}s:11:\"description\";s:85:\"Notifications
  transportation provider name. 'APNS' (Apple Push Notifications Service)\";}s:10:\"encryption\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:258:\"Optional
  parameter. Specifies if the message will be encrypted or not. If request contains
  any presence event filter the value by default is 'true' (even if specified as 'false').
  If request contains only message event filters the value by default is 'false'\";}}}s:25:\"ModifySubscriptionRequest\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"eventFilters\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:70:\"Collection
  of URIs to API resources (see Event Types). Mandatory field\";}}}s:19:\"GetVersionsResponse\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"Canonical
  URI of the API version\";}s:11:\"apiVersions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/VersionInfo\";}s:11:\"description\";s:55:\"Full
  API version information: uri, number, release date\";}s:13:\"serverVersion\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Server
  version\";}s:14:\"serverRevision\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"Server
  revision\";}}}s:11:\"VersionInfo\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Canonical
  URI of API versions\";}s:13:\"versionString\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"Version
  of the RingCentral REST API\";}s:11:\"releaseDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"Release
  date of this version\";}s:9:\"uriString\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"URI
  part determining the current version\";}}}s:18:\"GetVersionResponse\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"Canonical
  URI of the version info resource\";}s:13:\"versionString\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"Version
  of the RingCentral REST API\";}s:11:\"releaseDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"Release
  date of this version\";}s:9:\"uriString\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"URI
  part determining the current version\";}}}s:22:\"GetAccountInfoResponse\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":9:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"Internal
  identifier of an account\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"Canonical
  URI of an account\";}s:10:\"mainNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"Main
  phone number of the current account\";}s:8:\"operator\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/GetExtensionInfoResponse\";s:11:\"description\";s:110:\"Operator's
  extension information. This extension will receive all calls and messages intended
  for the operator\";}s:9:\"partnerId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:66:\"Additional
  account identifier, developed and applied by the client\";}s:11:\"serviceInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ServiceInfo\";s:11:\"description\";s:75:\"Account
  service information, including brand, service plan and billing plan\";}s:16:\"setupWizardState\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:10:\"NotStarted\";i:1;s:10:\"Incomplete\";i:2;s:9:\"Completed\";}s:11:\"description\";s:99:\"Specifies
  account configuration wizard state (web service setup). The default value is 'NotStarted'\";}s:6:\"status\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:9:\"Confirmed\";i:1;s:8:\"Disabled\";}s:11:\"description\";s:29:\"Status
  of the current account\";}s:10:\"statusInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/AccountStatusInfo\";s:11:\"description\";s:83:\"Status
  information (reason, comment, lifetime). Returned for 'Disabled' status only\";}}}s:11:\"ServiceInfo\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":5:{s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"Canonical
  URI of a service info resource\";}s:11:\"billingPlan\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/BillingPlanInfo\";s:11:\"description\";s:35:\"Information
  on account billing plan\";}s:5:\"brand\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/BrandInfo\";s:11:\"description\";s:28:\"Information
  on account brand\";}s:11:\"servicePlan\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ServicePlanInfo\";s:11:\"description\";s:35:\"Information
  on account service plan\";}s:17:\"targetServicePlan\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/TargetServicePlanInfo\";s:11:\"description\";s:42:\"Information
  on account target service plan\";}}}s:15:\"BillingPlanInfo\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"Internal
  identifier of a billing plan\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"Billing
  plan name\";}s:12:\"durationUnit\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:5:\"Month\";i:1;s:3:\"Day\";}s:11:\"description\";s:15:\"Duration
  period\";}s:8:\"duration\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"Number
  of duration units\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:6:{i:0;s:7:\"Initial\";i:1;s:7:\"Regular\";i:2;s:9:\"Suspended\";i:3;s:5:\"Trial\";i:4;s:9:\"TrialNoCC\";i:5;s:4:\"Free\";}s:11:\"description\";s:17:\"Billing
  plan type\";}}}s:9:\"BrandInfo\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"Internal
  identifier of a brand\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:52:\"Brand
  name, for example  RingCentral UK ,  ClearFax \";}s:11:\"homeCountry\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/CountryInfo\";s:11:\"description\";s:24:\"Home
  country information\";}}}s:11:\"CountryInfo\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"Internal
  identifier of a home country\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"Canonical
  URI of a home country\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"Official
  name of a home country\";}}}s:15:\"ServicePlanInfo\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"Internal
  identifier of a service plan\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Name
  of a service plan\";}s:7:\"edition\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"Edition
  of a service plan\";}}}s:21:\"TargetServicePlanInfo\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"Internal
  identifier of a target service plan\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Name
  of a target service plan\";}}}s:17:\"AccountStatusInfo\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"comment\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:61:\"A
  free-form user comment, describing the status change reason\";}s:6:\"reason\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:11:\"Voluntarily\";i:1;s:13:\"Involuntarily\";}s:11:\"description\";s:18:\"Type
  of suspension\";}}}s:22:\"GetServiceInfoResponse\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:50:\"Canonical
  URI of the account Service Info resource\";}s:15:\"servicePlanName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"Account
  Service Plan name\";}s:15:\"serviceFeatures\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ServiceFeatureInfo\";}s:11:\"description\";s:54:\"Service
  features information, see Service Feature List\";}s:6:\"limits\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/AccountLimits\";}s:11:\"description\";s:42:\"Limits
  which are effective for the account\";}}}s:18:\"ServiceFeatureInfo\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"featureName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:62:\"Feature
  name, see all available values in Service Feature List\";}s:7:\"enabled\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:4:\"True\";i:1;s:5:\"False\";}s:11:\"description\";s:60:\"Feature
  status, shows feature availability for the extension\";}}}s:13:\"AccountLimits\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":3:{s:30:\"freeSoftPhoneLinesPerExtension\";O:8:\"stdClass\":2:{s:4:\"type\";s:69:\"The
  maximum number of free softphone digital lines per user extension\";s:11:\"description\";s:0:\"\";}s:11:\"meetingSize\";O:8:\"stdClass\":2:{s:4:\"type\";s:87:\"The
  maximum number of participants in RingCentral Meeting hosted by this account's user\";s:11:\"description\";s:0:\"\";}s:29:\"maxMonitoredExtensionsPerUser\";O:8:\"stdClass\":2:{s:4:\"type\";s:98:\"The
  maximum number of extensions which can be included in the list of users monitored
  for Presence\";s:11:\"description\";s:0:\"\";}}}s:24:\"GetExtensionListResponse\";O:8:\"stdClass\":2:{s:8:\"required\";a:3:{i:0;s:7:\"records\";i:1;s:10:\"navigation\";i:2;s:6:\"paging\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"records\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/GetExtensionInfoResponse\";}s:11:\"description\";s:45:\"List
  of extensions with extension information\";}s:10:\"navigation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NavigationInfo\";s:11:\"description\";s:25:\"Information
  on navigation\";}s:6:\"paging\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/PagingInfo\";s:11:\"description\";s:21:\"Information
  on paging\";}}}s:14:\"NavigationInfo\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"firstPage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"Canonical
  URI for the first page of the list\";}s:8:\"nextPage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"Canonical
  URI for the next page of the list\";}s:12:\"previousPage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"Canonical
  URI for the previous page of the list\";}s:8:\"lastPage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"Canonical
  URI for the last page of the list\";}}}s:10:\"PagingInfo\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"page\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:173:\"The
  current page number. 1-indexed, so the first page is 1 by default. May be omitted
  if result is empty (because non-existent page was specified or perPage=0 was requested)\";}s:7:\"perPage\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:196:\"Current
  page size, describes how many items are in each page. Default value is 100. Maximum
  value is 1000. If perPage value in the request is greater than 1000, the maximum
  value (1000) is applied\";}s:9:\"pageStart\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:113:\"The
  zero-based number of the first element on the current page. Omitted if the page
  is omitted or result is empty\";}s:7:\"pageEnd\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:111:\"The
  zero-based index of the last element on the current page. Omitted if the page is
  omitted or result is empty\";}s:10:\"totalPages\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:100:\"The
  total number of pages in a dataset. May be omitted for some resources due to performance
  reasons\";}s:13:\"totalElements\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:102:\"The
  total number of elements in a dataset. May be omitted for some resource due to performance
  reasons\";}}}s:24:\"GetExtensionInfoResponse\";O:8:\"stdClass\":2:{s:8:\"required\";a:4:{i:0;s:2:\"id\";i:1;s:3:\"uri\";i:2;s:6:\"status\";i:3;s:4:\"type\";}s:10:\"properties\";O:8:\"stdClass\":16:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:92:\"Internal
  identifier of an extension. Returned for extensions with any status parameter value\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:86:\"Canonical
  URI of an extension. Returned for extensions with any status parameter value\";}s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ContactInfo\";s:11:\"description\";s:28:\"Contact
  detailed information\";}s:11:\"departments\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/DepartmentInfo\";s:11:\"description\";s:171:\"Information
  on department extension(s), to which the requested extension belongs. Returned only
  for user extensions, members of department, requested by single extensionId\";}s:15:\"extensionNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"Number
  of department extension\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"Extension
  user name\";}s:9:\"partnerId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:546:\"For
  Partner Applications Internal identifier of an extension created by partner. The
  RingCentral supports the mapping of accounts and stores the corresponding account
  ID/extension ID for each partner ID of a client application. In request URIs partner
  IDs are accepted instead of regular RingCentral native IDs as path parameters using
  pid = XXX clause. Though in response URIs contain the corresponding account IDs
  and extension IDs. In all request and response bodies these values are reflected
  via partnerId attributes of account and extension\";}s:11:\"permissions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ExtensionPermissions\";s:11:\"description\";s:102:\"Extension
  permissions, corresponding to the Service Web permissions 'Admin' and 'InternationalCalling'\";}s:12:\"profileImage\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:4:\"URIs\";}s:11:\"description\";s:115:\"List
  of links to profile picture of variant sizings. Can be returned for extensions with
  any status parameter value\";}s:7:\"_empty_\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ReferenceInfo\";}s:11:\"description\";s:60:\"List
  of non-RC internal identifiers assigned to an extension\";}s:16:\"regionalSettings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/RegionalSettings\";s:11:\"description\";s:56:\"Extension
  region data (timezone, home country, language)\";}s:15:\"serviceFeatures\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/ExtensionServiceFeatureInfo\";}s:11:\"description\";s:149:\"Extension
  service features returned in response only when the logged-in user requests his/her
  own extension info, see also Extension Service Features\";}s:16:\"setupWizardState\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:10:\"NotStarted\";i:1;s:10:\"Incomplete\";i:2;s:9:\"Completed\";}s:11:\"description\";s:101:\"Specifies
  extension configuration wizard state (web service setup). The default value is 'NotStarted'\";}s:6:\"status\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:4:{i:0;s:7:\"Enabled\";i:1;s:8:\"Disabled\";i:2;s:12:\"NotActivated\";i:3;s:10:\"Unassigned\";}s:11:\"description\";s:83:\"Extension
  current state. If the status is 'Unassigned'. Returned for all extensions\";}s:10:\"statusInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/ExtensionStatusInfo\";s:11:\"description\";s:73:\"Status
  information (reason, comment). Returned for 'Disabled' status only\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:12:{i:0;s:4:\"User\";i:1;s:7:\"FaxUser\";i:2;s:11:\"VirtualUser\";i:3;s:11:\"DigitalUser\";i:4;s:10:\"Department\";i:5;s:12:\"Announcement\";i:6;s:9:\"Voicemail\";i:7;s:16:\"SharedLinesGroup\";i:8;s:15:\"PagingOnlyGroup\";i:9;s:7:\"IvrMenu\";i:10;s:20:\"ApplicationExtension\";i:11;s:12:\"ParkLocation\";}s:11:\"description\";s:71:\"Extension
  type. Returned for extensions with any status parameter value\";}}}s:11:\"ContactInfo\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":6:{s:9:\"firstName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:55:\"For
  User extension type only. Extension user first name\";}s:8:\"lastName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:54:\"For
  User extension type only. Extension user last name\";}s:7:\"company\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"Extension
  user company name\";}s:5:\"email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"Email
  of extension user\";}s:13:\"businessPhone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"Extension
  user contact phone number\";}s:15:\"businessAddress\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ContactAddressInfo\";s:11:\"description\";s:42:\"Business
  address of extension user company\";}}}s:18:\"ContactAddressInfo\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"country\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"Country
  name of extension user company\";}s:5:\"state\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"State/province
  name of extension user company\";}s:4:\"city\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"City
  name of extension user company\";}s:6:\"street\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"Street
  address of extension user company\";}s:3:\"zip\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"Zip
  code of extension user company\";}}}s:14:\"DepartmentInfo\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"Internal
  identifier of a department extension\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"Canonical
  URI of a department extension\";}s:15:\"extensionNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"Number
  of a department extension\";}}}s:20:\"ExtensionPermissions\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"admin\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/PermissionInfo\";s:11:\"description\";s:16:\"Admin
  permission\";}s:20:\"internationalCalling\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/PermissionInfo\";s:11:\"description\";s:32:\"International
  Calling permission\";}}}s:14:\"PermissionInfo\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"enabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:43:\"Specifies
  if a permission is enabled or not\";}}}s:13:\"ReferenceInfo\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:9:\"PartnerId\";i:1;s:19:\"CustomerDirectoryId\";}s:11:\"description\";s:42:\"Non-RC
  internal identifier of an extension\";}s:3:\"ref\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"Reference
  of an\";}}}s:16:\"RegionalSettings\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"homeCountry\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/CountryInfo\";s:11:\"description\";s:29:\"Extension
  country information\";}s:8:\"timezone\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/TimezoneInfo\";s:11:\"description\";s:30:\"Extension
  timezone information\";}s:8:\"language\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/LanguageInfo\";s:11:\"description\";s:28:\"User
  interface language data\";}s:16:\"greetingLanguage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/GreetingLanguageInfo\";s:11:\"description\";s:52:\"Information
  on language used for telephony greetings\";}s:16:\"formattingLocale\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/FormattingLocaleInfo\";s:11:\"description\";s:65:\"Formatting
  language preferences for numbers, dates and currencies\";}}}s:12:\"TimezoneInfo\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"Internal
  identifier of a timezone\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"Canonical
  URI of a timezone\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"Short
  name of a timezone\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"Meaningful
  description of the timezone\";}}}s:12:\"LanguageInfo\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":7:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"Internal
  identifier of a language\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"Canonical
  URI of a language\";}s:8:\"greeting\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:62:\"Indicates
  whether a language is available as greeting language\";}s:16:\"formattingLocale\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:62:\"Indicates
  whether a language is available as formatting locale\";}s:10:\"localeCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"Localization
  code of a language\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"Official
  name of a language\";}s:2:\"ui\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:56:\"Indicates
  whether a language is available as UI language\";}}}s:20:\"GreetingLanguageInfo\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"Internal
  identifier of a greeting language\";}s:10:\"localeCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"Localization
  code of a greeting language\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"Official
  name of a greeting language\";}}}s:20:\"FormattingLocaleInfo\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"Internal
  identifier of a formatting language\";}s:10:\"localeCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"Localization
  code of a formatting language\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"Official
  name of a formatting language\";}}}s:27:\"ExtensionServiceFeatureInfo\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"enabled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:59:\"Feature
  status; shows feature availability for an extension\";}s:11:\"featureName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:62:\"Feature
  name, see all available values in Service Feature List\";}s:6:\"reason\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:273:\"Reason
  of limitation for a particular service feature. Returned only if the enabled parameter
  value is 'False', see Service Feature Limitations and Reasons. When retrieving service
  features for an extension, the reasons for the limitations, if any, are returned
  in response\";}}}s:25:\"ServiceFeatureLimitations\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":5:{s:21:\"AccountTypeLimitation\";O:8:\"stdClass\":2:{s:4:\"type\";s:76:\"Principal
  account type limitation. Feature is not supported for account type\";s:11:\"description\";s:59:\"Free
  Digital Line service feature is turned off on UBP tier\";}s:23:\"ExtensionTypeLimitation\";O:8:\"stdClass\":2:{s:4:\"type\";s:122:\"Principal
  extension type limitation. Feature is not supported for particular extension type
  (built-in Product restriction)\";s:11:\"description\";s:202:\"Announcement Only
  or Take Messages Only extension types that cannot send SMS, feature is disabled
  because of immutable extension type limitation and it is impossible to change the
  type of this extension\";}s:17:\"AccountLimitation\";O:8:\"stdClass\":2:{s:4:\"type\";s:159:\"Account
  limitation (service parameter setting at brand, tier or account level); can be changed
  only by RC Customer Support, or by upgrading to a different tier\";s:11:\"description\";s:51:\"SMS
  can be turned off for a particular account/tier\";}s:19:\"ExtensionLimitation\";O:8:\"stdClass\":2:{s:4:\"type\";s:141:\"Extension
  limitation, requiring chargeable action; can be changed by Account Administrator,
  requires chargeable action (except tier upgrades)\";s:11:\"description\";s:123:\"For
  Free Digital Line (FreeDL) service feature, available only if there is at least
  one paid digital line on this extension\";}s:23:\"InsufficientPermissions\";O:8:\"stdClass\":2:{s:4:\"type\";s:113:\"Extension
  limitation, resolution is not chargeable; can be changed by Account Administrator
  without extra charges\";s:11:\"description\";s:63:\"International Calling is turned
  off using extension permissions\";}}}s:19:\"ExtensionStatusInfo\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"comment\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:61:\"A
  free-form user comment, describing the status change reason\";}s:6:\"reason\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:11:\"Voluntarily\";i:1;s:13:\"Involuntarily\";}s:11:\"description\";s:18:\"Type
  of suspension\";}}}s:26:\"AccountActiveCallsResponse\";O:8:\"stdClass\":2:{s:8:\"required\";a:3:{i:0;s:7:\"records\";i:1;s:10:\"navigation\";i:2;s:6:\"paging\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"records\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/CallLogRecord\";}s:11:\"description\";s:24:\"List
  of call log records\";}s:10:\"navigation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NavigationInfo\";s:11:\"description\";s:25:\"Information
  on navigation\";}s:6:\"paging\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/PagingInfo\";s:11:\"description\";s:21:\"Information
  on paging\";}}}s:22:\"AccountCallLogResponse\";O:8:\"stdClass\":2:{s:8:\"required\";a:3:{i:0;s:7:\"records\";i:1;s:10:\"navigation\";i:2;s:6:\"paging\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"records\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/CallLogRecord\";}s:11:\"description\";s:24:\"List
  of call log records\";}s:10:\"navigation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NavigationInfo\";s:11:\"description\";s:25:\"Information
  on navigation\";}s:6:\"paging\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/PagingInfo\";s:11:\"description\";s:21:\"Information
  on paging\";}}}s:31:\"GetAccountCallLogRecordResponse\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":12:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"Internal
  identifier of a cal log record\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"Canonical
  URI of a call log record\";}s:9:\"sessionId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"Internal
  identifier of a call session\";}s:4:\"from\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/CallLogCallerInfo\";s:11:\"description\";s:18:\"Caller
  information\";}s:2:\"to\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/CallLogCallerInfo\";s:11:\"description\";s:18:\"Callee
  information\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:5:\"Voice\";i:1;s:3:\"Fax\";}s:11:\"description\";s:9:\"Call
  type\";}s:9:\"direction\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:7:\"Inbound\";i:1;s:8:\"Outbound\";}s:11:\"description\";s:14:\"Call
  direction\";}s:6:\"action\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:21:{i:0;s:7:\"Unknown\";i:1;s:10:\"Phone
  Call\";i:2;s:11:\"Phone Login\";i:3;s:12:\"Incoming Fax\";i:4;s:11:\"Accept Call\";i:5;s:6:\"FindMe\";i:6;s:8:\"FollowMe\";i:7;s:12:\"Outgoing
  Fax\";i:8;s:11:\"Call Return\";i:9;s:12:\"Calling Card\";i:10;s:13:\"Ring Directly\";i:11;s:11:\"RingOut
  Web\";i:12;s:9:\"VoIP Call\";i:13;s:10:\"RingOut PC\";i:14;s:6:\"RingMe\";i:15;s:8:\"Transfer\";i:16;s:8:\"411
  Info\";i:17;s:9:\"Emergency\";i:18;s:11:\"E911 Update\";i:19;s:7:\"Support\";i:20;s:14:\"RingOut
  Mobile\";}s:11:\"description\";s:41:\"Action description of the call operation.\";}s:6:\"result\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:38:{i:0;s:7:\"Unknown\";i:1;s:16:\"ResultInProgress\";i:2;s:6:\"Missed\";i:3;s:13:\"Call
  accepted\";i:4;s:9:\"Voicemail\";i:5;s:8:\"Rejected\";i:6;s:5:\"Reply\";i:7;s:8:\"Received\";i:8;s:13:\"Receive
  Error\";i:9;s:13:\"Fax on Demand\";i:10;s:15:\"Partial Receive\";i:11;s:7:\"Blocked\";i:12;s:14:\"Call
  connected\";i:13;s:9:\"No Answer\";i:14;s:22:\"International Disabled\";i:15;s:4:\"Busy\";i:16;s:10:\"Send
  Error\";i:17;s:4:\"Sent\";i:18;s:14:\"No fax machine\";i:19;s:11:\"ResultEmpty\";i:20;s:7:\"Account\";i:21;s:9:\"Suspended\";i:22;s:11:\"Call
  Failed\";i:23;s:12:\"Call Failure\";i:24;s:14:\"Internal Error\";i:25;s:16:\"IP
  Phone offline\";i:26;s:17:\"Restricted Number\";i:27;s:12:\"Wrong Number\";i:28;s:7:\"Stopped\";i:29;s:7:\"Hang
  up\";i:30;s:17:\"Poor Line Quality\";i:31;s:14:\"Partially Sent\";i:32;s:22:\"International
  Disabled\";i:33;s:25:\"International Restriction\";i:34;s:9:\"Abandoned\";i:35;s:8:\"Declined\";i:36;s:17:\"Fax
  Receipt Error\";i:37;s:14:\"Fax Send Error\";}s:11:\"description\";s:41:\"Status
  description of the call operation.\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:15:\"Call
  start time\";}s:8:\"duration\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:24:\"Call
  duration in seconds\";}s:9:\"recording\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/RecordingInfo\";s:11:\"description\";s:53:\"Call
  recording data. Returned if the call is recorded\";}}}s:28:\"ExtensionActiveCallsResponse\";O:8:\"stdClass\":2:{s:8:\"required\";a:3:{i:0;s:7:\"records\";i:1;s:10:\"navigation\";i:2;s:6:\"paging\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"records\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/CallLogRecord\";}s:11:\"description\";s:24:\"List
  of call log records\";}s:10:\"navigation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NavigationInfo\";s:11:\"description\";s:25:\"Information
  on navigation\";}s:6:\"paging\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/PagingInfo\";s:11:\"description\";s:21:\"Information
  on paging\";}}}s:24:\"ExtensionCallLogResponse\";O:8:\"stdClass\":2:{s:8:\"required\";a:3:{i:0;s:7:\"records\";i:1;s:10:\"navigation\";i:2;s:6:\"paging\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"records\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/CallLogRecord\";}s:11:\"description\";s:24:\"List
  of call log records\";}s:10:\"navigation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NavigationInfo\";s:11:\"description\";s:25:\"Information
  on navigation\";}s:6:\"paging\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/PagingInfo\";s:11:\"description\";s:21:\"Information
  on paging\";}}}s:13:\"CallLogRecord\";O:8:\"stdClass\":2:{s:8:\"required\";a:1:{i:0;s:4:\"legs\";}s:10:\"properties\";O:8:\"stdClass\":16:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"Internal
  identifier of a cal log record\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"Canonical
  URI of a call log record\";}s:9:\"sessionId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"Internal
  identifier of a call session\";}s:4:\"from\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/CallLogCallerInfo\";s:11:\"description\";s:18:\"Caller
  information\";}s:2:\"to\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/CallLogCallerInfo\";s:11:\"description\";s:18:\"Callee
  information\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:5:\"Voice\";i:1;s:3:\"Fax\";}s:11:\"description\";s:9:\"Call
  type\";}s:9:\"direction\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:7:\"Inbound\";i:1;s:8:\"Outbound\";}s:11:\"description\";s:14:\"Call
  direction\";}s:6:\"action\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:21:{i:0;s:7:\"Unknown\";i:1;s:10:\"Phone
  Call\";i:2;s:11:\"Phone Login\";i:3;s:12:\"Incoming Fax\";i:4;s:11:\"Accept Call\";i:5;s:6:\"FindMe\";i:6;s:8:\"FollowMe\";i:7;s:12:\"Outgoing
  Fax\";i:8;s:11:\"Call Return\";i:9;s:12:\"Calling Card\";i:10;s:13:\"Ring Directly\";i:11;s:11:\"RingOut
  Web\";i:12;s:9:\"VoIP Call\";i:13;s:10:\"RingOut PC\";i:14;s:6:\"RingMe\";i:15;s:8:\"Transfer\";i:16;s:8:\"411
  Info\";i:17;s:9:\"Emergency\";i:18;s:11:\"E911 Update\";i:19;s:7:\"Support\";i:20;s:14:\"RingOut
  Mobile\";}s:11:\"description\";s:41:\"Action description of the call operation.\";}s:6:\"result\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:38:{i:0;s:7:\"Unknown\";i:1;s:16:\"ResultInProgress\";i:2;s:6:\"Missed\";i:3;s:13:\"Call
  accepted\";i:4;s:9:\"Voicemail\";i:5;s:8:\"Rejected\";i:6;s:5:\"Reply\";i:7;s:8:\"Received\";i:8;s:13:\"Receive
  Error\";i:9;s:13:\"Fax on Demand\";i:10;s:15:\"Partial Receive\";i:11;s:7:\"Blocked\";i:12;s:14:\"Call
  connected\";i:13;s:9:\"No Answer\";i:14;s:22:\"International Disabled\";i:15;s:4:\"Busy\";i:16;s:10:\"Send
  Error\";i:17;s:4:\"Sent\";i:18;s:14:\"No fax machine\";i:19;s:11:\"ResultEmpty\";i:20;s:7:\"Account\";i:21;s:9:\"Suspended\";i:22;s:11:\"Call
  Failed\";i:23;s:12:\"Call Failure\";i:24;s:14:\"Internal Error\";i:25;s:16:\"IP
  Phone offline\";i:26;s:17:\"Restricted Number\";i:27;s:12:\"Wrong Number\";i:28;s:7:\"Stopped\";i:29;s:7:\"Hang
  up\";i:30;s:17:\"Poor Line Quality\";i:31;s:14:\"Partially Sent\";i:32;s:22:\"International
  Disabled\";i:33;s:25:\"International Restriction\";i:34;s:9:\"Abandoned\";i:35;s:8:\"Declined\";i:36;s:17:\"Fax
  Receipt Error\";i:37;s:14:\"Fax Send Error\";}s:11:\"description\";s:41:\"Status
  description of the call operation.\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:15:\"Call
  start time\";}s:8:\"duration\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:24:\"Call
  duration in seconds\";}s:9:\"transport\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:4:\"PSTN\";i:1;s:4:\"VoIP\";}s:11:\"description\";s:14:\"Call
  transport\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:4:\"null\";s:11:\"description\";s:18:\"Message
  attachment\";}s:9:\"recording\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/RecordingInfo\";s:11:\"description\";s:53:\"Call
  recording data. Returned if the call is recorded\";}s:7:\"billing\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:12:\"costIncluded\";i:1;s:13:\"costPurchased\";}s:11:\"description\";s:20:\"Information
  on costs\";}s:4:\"legs\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/CallLogRecordLegInfo\";}s:11:\"description\";s:15:\"Leg
  description\";}}}s:17:\"CallLogCallerInfo\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"phoneNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:374:\"Phone
  number of a party. Usually it is a plain number including country and area code
  like 18661234567. But sometimes it could be returned from database with some formatting
  applied, for example (866)123-4567. This property is filled in all cases where parties
  communicate by means of global phone numbers, for example when calling to direct
  numbers or sending/receiving SMS\";}s:15:\"extensionNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:219:\"Extension
  short number (usually 3 or 4 digits). This property is filled when parties communicate
  by means of short internal numbers, for example when calling to other extension
  or sending/receiving Company Pager message\";}s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:265:\"Contains
  party location (city, state) if one can be determined from phoneNumber. This property
  is filled only when phoneNumber is not empty and server can calculate location information
  from it (for example, this information is unavailable for US toll-free numbers)\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:154:\"Symbolic
  name associated with a party. If the phone does not belong to the known extension,
  only the location is returned, the name is not determined then\";}}}s:20:\"CallLogRecordLegInfo\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":13:{s:9:\"startTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:15:\"Call
  start time\";}s:8:\"duration\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:24:\"Call
  duration in seconds\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:5:\"Voice\";i:1;s:3:\"Fax\";}s:11:\"description\";s:9:\"Call
  type\";}s:9:\"direction\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:7:\"Inbound\";i:1;s:8:\"Outbound\";}s:11:\"description\";s:14:\"Call
  direction\";}s:6:\"action\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:21:{i:0;s:7:\"Unknown\";i:1;s:10:\"Phone
  Call\";i:2;s:11:\"Phone Login\";i:3;s:12:\"Incoming Fax\";i:4;s:11:\"Accept Call\";i:5;s:6:\"FindMe\";i:6;s:8:\"FollowMe\";i:7;s:12:\"Outgoing
  Fax\";i:8;s:11:\"Call Return\";i:9;s:12:\"Calling Card\";i:10;s:13:\"Ring Directly\";i:11;s:11:\"RingOut
  Web\";i:12;s:9:\"VoIP Call\";i:13;s:10:\"RingOut PC\";i:14;s:6:\"RingMe\";i:15;s:8:\"Transfer\";i:16;s:8:\"411
  Info\";i:17;s:9:\"Emergency\";i:18;s:11:\"E911 Update\";i:19;s:7:\"Support\";i:20;s:14:\"RingOut
  Mobile\";}s:11:\"description\";s:41:\"Action description of the call operation.\";}s:6:\"result\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:38:{i:0;s:7:\"Unknown\";i:1;s:16:\"ResultInProgress\";i:2;s:6:\"Missed\";i:3;s:13:\"Call
  accepted\";i:4;s:9:\"Voicemail\";i:5;s:8:\"Rejected\";i:6;s:5:\"Reply\";i:7;s:8:\"Received\";i:8;s:13:\"Receive
  Error\";i:9;s:13:\"Fax on Demand\";i:10;s:15:\"Partial Receive\";i:11;s:7:\"Blocked\";i:12;s:14:\"Call
  connected\";i:13;s:9:\"No Answer\";i:14;s:22:\"International Disabled\";i:15;s:4:\"Busy\";i:16;s:10:\"Send
  Error\";i:17;s:4:\"Sent\";i:18;s:14:\"No fax machine\";i:19;s:11:\"ResultEmpty\";i:20;s:7:\"Account\";i:21;s:9:\"Suspended\";i:22;s:11:\"Call
  Failed\";i:23;s:12:\"Call Failure\";i:24;s:14:\"Internal Error\";i:25;s:16:\"IP
  Phone offline\";i:26;s:17:\"Restricted Number\";i:27;s:12:\"Wrong Number\";i:28;s:7:\"Stopped\";i:29;s:7:\"Hang
  up\";i:30;s:17:\"Poor Line Quality\";i:31;s:14:\"Partially Sent\";i:32;s:22:\"International
  Disabled\";i:33;s:25:\"International Restriction\";i:34;s:9:\"Abandoned\";i:35;s:8:\"Declined\";i:36;s:17:\"Fax
  Receipt Error\";i:37;s:14:\"Fax Send Error\";}s:11:\"description\";s:41:\"Status
  description of the call operation.\";}s:4:\"from\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/CallLogCallerInfo\";s:11:\"description\";s:18:\"Caller
  information\";}s:2:\"to\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/CallLogCallerInfo\";s:11:\"description\";s:18:\"Callee
  information\";}s:9:\"transport\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:4:\"PSTN\";i:1;s:4:\"VoIP\";}s:11:\"description\";s:14:\"Call
  transport\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:4:\"null\";s:11:\"description\";s:18:\"Message
  attachment\";}s:9:\"recording\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/RecordingInfo\";s:11:\"description\";s:53:\"Call
  recording data. Returned if the call is recorded\";}s:7:\"billing\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:12:\"costIncluded\";i:1;s:13:\"costPurchased\";}s:11:\"description\";s:20:\"Information
  on costs\";}s:7:\"legType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:8:\"Leg
  type\";}}}s:13:\"RecordingInfo\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:41:\"Internal
  identifier of the call recording\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"Link
  to the call recording metadata resource\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:9:\"Automatic\";i:1;s:8:\"OnDemand\";}s:11:\"description\";s:29:\"Indicates
  recording mode used\";}s:10:\"contentUri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"Link
  to the call recording binary content\";}}}s:33:\"GetExtensionCallLogRecordResponse\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":12:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"Internal
  identifier of a cal log record\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"Canonical
  URI of a call log record\";}s:9:\"sessionId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"Internal
  identifier of a call session\";}s:4:\"from\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/CallLogCallerInfo\";s:11:\"description\";s:18:\"Caller
  information\";}s:2:\"to\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/CallLogCallerInfo\";s:11:\"description\";s:18:\"Callee
  information\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:5:\"Voice\";i:1;s:3:\"Fax\";}s:11:\"description\";s:9:\"Call
  type\";}s:9:\"direction\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:7:\"Inbound\";i:1;s:8:\"Outbound\";}s:11:\"description\";s:14:\"Call
  direction\";}s:6:\"action\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:21:{i:0;s:7:\"Unknown\";i:1;s:10:\"Phone
  Call\";i:2;s:11:\"Phone Login\";i:3;s:12:\"Incoming Fax\";i:4;s:11:\"Accept Call\";i:5;s:6:\"FindMe\";i:6;s:8:\"FollowMe\";i:7;s:12:\"Outgoing
  Fax\";i:8;s:11:\"Call Return\";i:9;s:12:\"Calling Card\";i:10;s:13:\"Ring Directly\";i:11;s:11:\"RingOut
  Web\";i:12;s:9:\"VoIP Call\";i:13;s:10:\"RingOut PC\";i:14;s:6:\"RingMe\";i:15;s:8:\"Transfer\";i:16;s:8:\"411
  Info\";i:17;s:9:\"Emergency\";i:18;s:11:\"E911 Update\";i:19;s:7:\"Support\";i:20;s:14:\"RingOut
  Mobile\";}s:11:\"description\";s:41:\"Action description of the call operation.\";}s:6:\"result\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:38:{i:0;s:7:\"Unknown\";i:1;s:16:\"ResultInProgress\";i:2;s:6:\"Missed\";i:3;s:13:\"Call
  accepted\";i:4;s:9:\"Voicemail\";i:5;s:8:\"Rejected\";i:6;s:5:\"Reply\";i:7;s:8:\"Received\";i:8;s:13:\"Receive
  Error\";i:9;s:13:\"Fax on Demand\";i:10;s:15:\"Partial Receive\";i:11;s:7:\"Blocked\";i:12;s:14:\"Call
  connected\";i:13;s:9:\"No Answer\";i:14;s:22:\"International Disabled\";i:15;s:4:\"Busy\";i:16;s:10:\"Send
  Error\";i:17;s:4:\"Sent\";i:18;s:14:\"No fax machine\";i:19;s:11:\"ResultEmpty\";i:20;s:7:\"Account\";i:21;s:9:\"Suspended\";i:22;s:11:\"Call
  Failed\";i:23;s:12:\"Call Failure\";i:24;s:14:\"Internal Error\";i:25;s:16:\"IP
  Phone offline\";i:26;s:17:\"Restricted Number\";i:27;s:12:\"Wrong Number\";i:28;s:7:\"Stopped\";i:29;s:7:\"Hang
  up\";i:30;s:17:\"Poor Line Quality\";i:31;s:14:\"Partially Sent\";i:32;s:22:\"International
  Disabled\";i:33;s:25:\"International Restriction\";i:34;s:9:\"Abandoned\";i:35;s:8:\"Declined\";i:36;s:17:\"Fax
  Receipt Error\";i:37;s:14:\"Fax Send Error\";}s:11:\"description\";s:41:\"Status
  description of the call operation.\";}s:9:\"startTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:15:\"Call
  start time\";}s:8:\"duration\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:24:\"Call
  duration in seconds\";}s:9:\"recording\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/RecordingInfo\";s:11:\"description\";s:53:\"Call
  recording data. Returned if the call is recorded\";}}}s:24:\"GetCallRecordingResponse\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:41:\"Internal
  identifier of the call recording\";}s:10:\"contentUri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"Link
  to the call recording binary content\";}s:11:\"contentType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:59:\"Call
  recording file format. Supported format is audio/x-wav\";}s:8:\"duration\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:22:\"Recorded
  call duration\";}}}s:27:\"GetConferencingInfoResponse\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":8:{s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"Canonical
  URI of a conferencing\";}s:19:\"allowJoinBeforeHost\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:4:\"True\";i:1;s:5:\"False\";}s:11:\"description\";s:78:\"Determines
  if host user allows conference participants to join before the host\";}s:8:\"hostCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"Access
  code for a host user\";}s:4:\"mode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:49:\"Internal
  parameter specifying conferencing engine\";}s:15:\"participantCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"Access
  code for any participant\";}s:11:\"phoneNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:92:\"Primary
  conference phone number for user's home country returned in E.164 (11-digits) format\";}s:12:\"tapToJoinUri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:81:\"Short
  URL leading to the service web page Tap to Join for audio conference bridge\";}s:12:\"phoneNumbers\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/PhoneNumberInfoConferencing\";}s:11:\"description\";s:344:\"List
  of multiple dial-in phone numbers to connect to audio conference service, relevant
  for user's brand. Each number is given with the country and location information,
  in order to let the user choose the less expensive way to connect to a conference.
  The first number in the list is the primary conference number, that is default and
  domestic\";}}}s:27:\"PhoneNumberInfoConferencing\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"country\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/GetCountryInfoConferencing\";s:11:\"description\";s:58:\"Information
  on a home country of a conference phone number\";}s:7:\"default\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:4:\"True\";i:1;s:5:\"False\";}s:11:\"description\";s:206:\"'True'
  if the number is default for the conference. Default conference number is a domestic
  number that can be set by user (otherwise it is set by the system). Only one default
  number per country is allowed\";}s:11:\"hasGreeting\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:4:\"True\";i:1;s:5:\"False\";}s:11:\"description\";s:55:\"'True'
  if the greeting message is played on this number\";}s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:59:\"Location
  (city, region, state) of a conference phone number\";}s:11:\"phoneNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"Dial-in
  phone number to connect to a conference\";}}}s:26:\"GetCountryInfoConferencing\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"Internal
  identifier of a country\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"Canonical
  URI of a country\";}s:11:\"callingCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:88:\"Country
  calling code defined by ITU-T recommendations E.123 and E.164, see Calling Codes\";}s:16:\"emergencyCalling\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:78:\"Emergency
  calling feature availability/emergency address requirement indicator\";}s:7:\"isoCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:56:\"Country
  code according to the ISO standard, see ISO 3166\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"Official
  name of a country\";}}}s:25:\"GetAccountDevicesResponse\";O:8:\"stdClass\":2:{s:8:\"required\";a:3:{i:0;s:7:\"records\";i:1;s:10:\"navigation\";i:2;s:6:\"paging\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"records\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/GetDeviceInfoResponse\";}s:11:\"description\";s:25:\"List
  of extension records\";}s:10:\"navigation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NavigationInfo\";s:11:\"description\";s:25:\"Information
  on navigation\";}s:6:\"paging\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/PagingInfo\";s:11:\"description\";s:21:\"Information
  on paging\";}}}s:21:\"GetDeviceInfoResponse\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":13:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"Internal
  identifier of a device\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"Canonical
  URI of a device\";}s:3:\"sku\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:264:\"Device
  identification number (stock keeping unit) in the format TP-ID [-AT-AC], where TP
  is device type (HP for RC HardPhone, DV for all other devices including softphone);
  ID - device model ID; AT -addon type ID; AC - addon count (if any). For example
  'HP-56-2-2'\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:9:\"SoftPhone\";i:1;s:10:\"OtherPhone\";i:2;s:9:\"HardPhone\";}s:11:\"description\";s:45:\"Device
  type. The default value is 'HardPhone'\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:171:\"Device
  name. Mandatory if ordering  SoftPhone  or  OtherPhone . Optional for  HardPhone
  . If not specified for HardPhone, then device  model  name is used as device  name
  \";}s:6:\"serial\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:139:\"Serial
  number for HardPhone (is returned only when the phone is shipped and provisioned);
  endpoint_id for softphone and mobile applications\";}s:12:\"computerName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"PC
  name for softphone\";}s:5:\"model\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/ModelInfo\";s:11:\"description\";s:27:\"HardPhone
  model information\";}s:9:\"extension\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ExtensionInfo\";s:11:\"description\";s:52:\"This
  attribute can be omitted for unassigned devices\";}s:23:\"emergencyServiceAddress\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/EmergencyAddressInfo\";s:11:\"description\";s:100:\"Address
  for emergency cases. The same emergency address is assigned to all the numbers of
  one device\";}s:10:\"phoneLines\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/PhoneLinesInfo\";s:11:\"description\";s:23:\"Phone
  lines information\";}s:8:\"shipping\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ShippingInfo\";s:11:\"description\";s:166:\"Shipping
  information, according to which devices (in case of  HardPhone ) or e911 stickers
  (in case of  SoftPhone  and  OtherPhone ) will be delivered to the customer\";}s:12:\"boxBillingId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:208:\"Box
  billing identifier of a device. Applicable only for HardPhones. It is an alternative
  way to identify the device to be ordered. Either\_ model  structure, or  boxBillingId
  \ must be specified for\_HardPhone\";}}}s:27:\"GetExtensionDevicesResponse\";O:8:\"stdClass\":2:{s:8:\"required\";a:3:{i:0;s:7:\"records\";i:1;s:10:\"navigation\";i:2;s:6:\"paging\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"records\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/GetDeviceInfoResponse\";}s:11:\"description\";s:25:\"List
  of extension records\";}s:10:\"navigation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NavigationInfo\";s:11:\"description\";s:25:\"Information
  on navigation\";}s:6:\"paging\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/PagingInfo\";s:11:\"description\";s:21:\"Information
  on paging\";}}}s:14:\"GetMessageList\";O:8:\"stdClass\":2:{s:8:\"required\";a:3:{i:0;s:7:\"records\";i:1;s:10:\"navigation\";i:2;s:6:\"paging\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"records\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/GetMessageInfoResponse\";}s:11:\"description\";s:40:\"List
  of records with message information\";}s:10:\"navigation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NavigationInfo\";s:11:\"description\";s:25:\"Information
  on navigation\";}s:6:\"paging\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/PagingInfo\";s:11:\"description\";s:21:\"Information
  on paging\";}}}s:22:\"GetMessageInfoResponse\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":22:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"Internal
  identifier of a message\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"Canonical
  URI of a message\";}s:11:\"attachments\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/MessageAttachmentInfo\";}s:11:\"description\";s:31:\"The
  list of message attachments\";}s:12:\"availability\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:5:\"Alive\";i:1;s:7:\"Deleted\";i:2;s:6:\"Purged\";}s:11:\"description\";s:241:\"Message
  availability status. Message in 'Deleted' state is still preserved with all its
  attachments and can be restored. 'Purged' means that all attachments are already
  deleted and the message itself is about to be physically deleted shortly\";}s:14:\"conversationId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:73:\"SMS
  and Pager only. Identifier of the conversation the message belongs to\";}s:12:\"creationTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:26:\"Message
  creation timestamp\";}s:17:\"deliveryErrorCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:49:\"SMS
  only. Delivery error code returned by gateway\";}s:9:\"direction\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:7:\"Inbound\";i:1;s:8:\"Outbound\";}s:11:\"description\";s:134:\"Message
  direction. Note that for some message types not all directions are allowed. For
  example voicemail messages can be only inbound\";}s:12:\"faxPageCount\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:35:\"Fax
  only. Page count in fax message\";}s:13:\"faxResolution\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:4:\"High\";i:1;s:3:\"Low\";}s:11:\"description\";s:142:\"Fax
  only. Resolution of fax message. ('High' for black and white image scanned at 200
  dpi, 'Low' for black and white image scanned at 100 dpi)\";}s:4:\"from\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/MessageStoreCallerInfoResponse\";s:11:\"description\";s:18:\"Sender
  information\";}s:16:\"lastModifiedTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:53:\"The
  timestamp when the message was modified on server\";}s:13:\"messageStatus\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:6:{i:0;s:6:\"Queued\";i:1;s:4:\"Sent\";i:2;s:9:\"Delivered\";i:3;s:14:\"DeliveryFailed\";i:4;s:13:\"SendingFailed\";i:5;s:8:\"Received\";}s:11:\"description\";s:359:\"Message
  status. Different message types may have different allowed status values.For outbound
  faxes the aggregated message status is returned: If status for at least one recipient
  is 'Queued', then 'Queued' value is returned If status for at least one recipient
  is 'SendingFailed', then 'SendingFailed' value is returned In other cases Sent status
  is returned\";}s:14:\"pgToDepartment\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:82:\"Pager
  only. True if at least one of the message recipients is Department extension\";}s:8:\"priority\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:6:\"Normal\";i:1;s:4:\"High\";}s:11:\"description\";s:16:\"Message
  priority\";}s:10:\"readStatus\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:4:\"Read\";i:1;s:6:\"Unread\";}s:11:\"description\";s:19:\"Message
  read status\";}s:15:\"smsDeliveryTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:152:\"SMS
  only. The timestamp when outbound SMS was delivered to recipient's handset. It is
  filled only if the carrier sends a delivery receipt to RingCentral\";}s:23:\"smsSendingAttemptsCount\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:110:\"SMS
  only. Number of attempts made to send an outbound SMS to the gateway (if gateway
  is temporary unavailable)\";}s:7:\"subject\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:110:\"Message
  subject. For SMS and Pager messages it replicates message text which is also returned
  as an attachment\";}s:2:\"to\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/MessageStoreCallerInfoResponse\";}s:11:\"description\";s:21:\"Recipient
  information\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:5:{i:0;s:3:\"Fax\";i:1;s:3:\"SMS\";i:2;s:9:\"VoiceMail\";i:3;s:5:\"Pager\";i:4;s:4:\"Text\";}s:11:\"description\";s:12:\"Message
  type\";}s:21:\"vmTranscriptionStatus\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:6:{i:0;s:12:\"NotAvailable\";i:1;s:10:\"InProgress\";i:2;s:8:\"TimedOut\";i:3;s:9:\"Completed\";i:4;s:18:\"CompletedPartially\";i:5;s:6:\"Failed\";}s:11:\"description\";s:152:\"Voicemail
  only. Status of voicemail to text transcription. If VoicemailToText feature is not
  activated for account, the 'NotAvailable' value is returned\";}}}s:21:\"MessageAttachmentInfo\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"Internal
  identifier of a message attachment\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"Canonical
  URI of a message attachment\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:5:{i:0;s:13:\"AutoRecording\";i:1;s:17:\"AutoTranscription\";i:2;s:4:\"Text\";i:3;s:14:\"SourceDocument\";i:4;s:16:\"RenderedDocument\";}s:11:\"description\";s:26:\"Type
  of message attachment\";}s:11:\"contentType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:58:\"MIME
  type for a given attachment, for instance 'audio/wav'\";}s:10:\"vmDuration\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:51:\"Voicemail
  only Duration of the voicemail in seconds\";}}}s:30:\"MessageStoreCallerInfoResponse\";O:8:\"stdClass\":2:{s:8:\"required\";a:1:{i:0;s:15:\"extensionNumber\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:15:\"extensionNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:219:\"Extension
  short number (usually 3 or 4 digits). This property is filled when parties communicate
  by means of short internal numbers, for example when calling to other extension
  or sending/receiving Company Pager message\";}s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:265:\"Contains
  party location (city, state) if one can be determined from phoneNumber. This property
  is filled only when phoneNumber is not empty and server can calculate location information
  from it (for example, this information is unavailable for US toll-free numbers)\";}s:13:\"messageStatus\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:6:{i:0;s:6:\"Queued\";i:1;s:4:\"Sent\";i:2;s:9:\"Delivered\";i:3;s:14:\"DeliveryFailed\";i:4;s:13:\"SendingFailed\";i:5;s:8:\"Received\";}s:11:\"description\";s:60:\"Status
  of a message. Returned for outbound fax messages only\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:154:\"Symbolic
  name associated with a party. If the phone does not belong to the known extension,
  only the location is returned, the name is not determined then\";}s:11:\"phoneNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:374:\"Phone
  number of a party. Usually it is a plain number including country and area code
  like 18661234567. But sometimes it could be returned from database with some formatting
  applied, for example (866)123-4567. This property is filled in all cases where parties
  communicate by means of global phone numbers, for example when calling to direct
  numbers or sending/receiving SMS\";}}}s:22:\"GetMessageSyncResponse\";O:8:\"stdClass\":2:{s:8:\"required\";a:2:{i:0;s:7:\"records\";i:1;s:8:\"syncInfo\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"records\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/MessageInfo\";}s:11:\"description\";s:56:\"List
  of message records with synchronization information\";}s:8:\"syncInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/SyncInfoMessages\";s:11:\"description\";s:25:\"Sync
  type, token and time\";}}}s:16:\"SyncInfoMessages\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"syncType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:5:\"FSync\";i:1;s:5:\"ISync\";}s:11:\"description\";s:23:\"Type
  of synchronization\";}s:9:\"syncToken\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"Synchronization
  token\";}s:8:\"syncTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:25:\"Last
  synchronization time\";}}}s:15:\"GetPresenceInfo\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":10:{s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"Canonical
  URI of a presence info resource\";}s:18:\"allowSeeMyPresence\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:71:\"If
  'True' enables other extensions to see the extension presence status\";}s:9:\"dndStatus\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:4:{i:0;s:12:\"TakeAllCalls\";i:1;s:19:\"DoNotAcceptAnyCalls\";i:2;s:26:\"DoNotAcceptDepartmentCalls\";i:3;s:23:\"TakeDepartmentCallsOnly\";}s:11:\"description\";s:580:\"Extended
  DnD (Do not Disturb) status. Cannot be set for Department/Announcement/Voicemail
  (Take Messages Only)/Fax User/Shared Lines Group/Paging Only Group/IVR Menu/Application
  Extension/Park Location extensions. The 'DoNotAcceptDepartmentCalls' and 'TakeDepartmentCallsOnly'
  values are applicable only for extensions - members of a Department; if these values
  are set for department outsiders, the 400 Bad Request error code is returned. The
  'TakeDepartmentCallsOnly' status can be set through the old RingCentral user interface
  and is available for some migrated accounts only.\";}s:9:\"extension\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/GetPresenceExtensionInfo\";s:11:\"description\";s:66:\"Information
  on extension, for which this presence data is returned\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:55:\"Custom
  status message (as previously published by user)\";}s:17:\"pickUpCallsOnHold\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:72:\"If
  'True' enables the extension user to pick up a monitored line on hold\";}s:14:\"presenceStatus\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:7:\"Offline\";i:1;s:4:\"Busy\";i:2;s:9:\"Available\";}s:11:\"description\";s:63:\"Aggregated
  presence status, calculated from a number of sources\";}s:19:\"ringOnMonitoredCall\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:93:\"If
  'True' enables to ring extension phone, if any user monitored by this extension
  is ringing\";}s:15:\"telephonyStatus\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:5:{i:0;s:6:\"NoCall\";i:1;s:13:\"CallConnected\";i:2;s:7:\"Ringing\";i:3;s:6:\"OnHold\";i:4;s:10:\"ParkedCall\";}s:11:\"description\";s:25:\"Telephony
  presence status\";}s:10:\"userStatus\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:7:\"Offline\";i:1;s:4:\"Busy\";i:2;s:9:\"Available\";}s:11:\"description\";s:66:\"User-defined
  presence status (as previously published by the user)\";}}}s:24:\"GetPresenceExtensionInfo\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"Internal
  identifier of an extension\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Canonical
  URI of an extension\";}s:15:\"extensionNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"Extension
  number (usually 3 or 4 digits)\";}}}s:24:\"GetRingOutStatusResponse\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"Internal
  identifier of a RingOut call\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/RingOutStatusInfo\";s:11:\"description\";s:26:\"RingOut
  status information\";}}}s:17:\"RingOutStatusInfo\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"callStatus\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:12:{i:0;s:7:\"Invalid\";i:1;s:7:\"Success\";i:2;s:10:\"InProgress\";i:3;s:4:\"Busy\";i:4;s:8:\"NoAnswer\";i:5;s:8:\"Rejected\";i:6;s:12:\"GenericError\";i:7;s:8:\"Finished\";i:8;s:21:\"InternationalDisabled\";i:9;s:18:\"DestinationBlocked\";i:10;s:14:\"NotEnoughFunds\";i:11;s:10:\"NoSuchUser\";}s:11:\"description\";s:16:\"Status
  of a call\";}s:12:\"callerStatus\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:12:{i:0;s:7:\"Invalid\";i:1;s:7:\"Success\";i:2;s:10:\"InProgress\";i:3;s:4:\"Busy\";i:4;s:8:\"NoAnswer\";i:5;s:8:\"Rejected\";i:6;s:12:\"GenericError\";i:7;s:8:\"Finished\";i:8;s:21:\"InternationalDisabled\";i:9;s:18:\"DestinationBlocked\";i:10;s:14:\"NotEnoughFunds\";i:11;s:10:\"NoSuchUser\";}s:11:\"description\";s:25:\"Status
  of a calling party\";}s:12:\"calleeStatus\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:12:{i:0;s:7:\"Invalid\";i:1;s:7:\"Success\";i:2;s:10:\"InProgress\";i:3;s:4:\"Busy\";i:4;s:8:\"NoAnswer\";i:5;s:8:\"Rejected\";i:6;s:12:\"GenericError\";i:7;s:8:\"Finished\";i:8;s:21:\"InternationalDisabled\";i:9;s:18:\"DestinationBlocked\";i:10;s:14:\"NotEnoughFunds\";i:11;s:10:\"NoSuchUser\";}s:11:\"description\";s:24:\"Status
  of a called party\";}}}s:22:\"GetCountryListResponse\";O:8:\"stdClass\":2:{s:8:\"required\";a:3:{i:0;s:7:\"records\";i:1;s:10:\"navigation\";i:2;s:6:\"paging\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"records\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/GetCountryInfoDictionaryResponse\";}s:11:\"description\";s:39:\"List
  of countries with the country data\";}s:10:\"navigation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NavigationInfo\";s:11:\"description\";s:25:\"Information
  on navigation\";}s:6:\"paging\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/PagingInfo\";s:11:\"description\";s:21:\"Information
  on paging\";}}}s:32:\"GetCountryInfoDictionaryResponse\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":7:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"Internal
  identifier of a country\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"Canonical
  URI of a country\";}s:11:\"callingCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:88:\"Country
  calling code defined by ITU-T recommendations E.123 and E.164, see Calling Codes\";}s:16:\"emergencyCalling\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:78:\"Emergency
  calling feature availability/emergency address requirement indicator\";}s:7:\"isoCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:56:\"Country
  code according to the ISO standard, see ISO 3166\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"Official
  name of a country\";}s:13:\"numberSelling\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:60:\"Determines
  whether phone numbers are available for a country\";}}}s:23:\"GetLocationListResponse\";O:8:\"stdClass\":2:{s:8:\"required\";a:2:{i:0;s:10:\"navigation\";i:1;s:6:\"paging\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"records\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/LocationInfo\";}s:11:\"description\";s:17:\"List
  of locations\";}s:10:\"navigation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NavigationInfo\";s:11:\"description\";s:25:\"Information
  on navigation\";}s:6:\"paging\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/PagingInfo\";s:11:\"description\";s:21:\"Information
  on paging\";}}}s:12:\"LocationInfo\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":6:{s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"Canonical
  URI of a location\";}s:8:\"areaCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"Area
  code of the location\";}s:4:\"city\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"Official
  name of the city, belonging to the certain state\";}s:3:\"npa\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:271:\"Area
  code of the location (3-digit usually), according to the NANP number format, that
  can be summarized as NPA-NXX-xxxx and covers Canada, the United States, parts of
  the Caribbean Sea, and some Atlantic and Pacific islands. See for details North
  American Numbering Plan\";}s:3:\"nxx\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:263:\"Central
  office code of the location, according to the NANP number format, that can be summarized
  as NPA-NXX-xxxx and covers Canada, the United States, parts of the Caribbean Sea,
  and some Atlantic and Pacific islands. See for details North American Numbering
  Plan\";}s:5:\"state\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:64:\"ID
  and URI of the state this location belongs to, see State Info\";}}}s:20:\"GetStateListResponse\";O:8:\"stdClass\":2:{s:8:\"required\";a:3:{i:0;s:7:\"records\";i:1;s:10:\"navigation\";i:2;s:6:\"paging\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"records\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/GetStateInfoResponse\";}s:11:\"description\";s:14:\"List
  of states\";}s:10:\"navigation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NavigationInfo\";s:11:\"description\";s:25:\"Information
  on navigation\";}s:6:\"paging\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/PagingInfo\";s:11:\"description\";s:21:\"Information
  on paging\";}}}s:20:\"GetStateInfoResponse\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"Internal
  identifier of a state\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"Canonical
  URI of a state\";}s:7:\"country\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/GetCountryInfoState\";s:11:\"description\";s:45:\"Information
  on a country the state belongs to\";}s:7:\"isoCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"Short
  code for a state (2-letter usually)\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"Official
  name of a state\";}}}s:19:\"GetCountryInfoState\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"Internal
  identifier of a state\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"Canonical
  URI of a state\";}}}s:23:\"GetTimezoneListResponse\";O:8:\"stdClass\":2:{s:8:\"required\";a:3:{i:0;s:7:\"records\";i:1;s:10:\"navigation\";i:2;s:6:\"paging\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"records\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/GetTimezoneInfoResponse\";}s:11:\"description\";s:17:\"List
  of timezones\";}s:10:\"navigation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NavigationInfo\";s:11:\"description\";s:25:\"Information
  on navigation\";}s:6:\"paging\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/PagingInfo\";s:11:\"description\";s:21:\"Information
  on paging\";}}}s:23:\"GetTimezoneInfoResponse\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"Internal
  identifier of a timezone\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Canonical
  URI of the timezone\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"Short
  name of the timezone\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"Description
  of the timezone\";}}}s:27:\"GetSubscriptionInfoResponse\";O:8:\"stdClass\":2:{s:8:\"required\";a:1:{i:0;s:12:\"deliveryMode\";}s:10:\"properties\";O:8:\"stdClass\":8:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"Internal
  identifier of a subscription\";}s:3:\"uri\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"Canonical
  URI of a subscription\";}s:12:\"eventFilters\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:78:\"Collection
  of URIs to API resources (message-store/presence/detailed presence)\";}s:14:\"expirationTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:28:\"Subscription
  expiration time\";}s:9:\"expiresIn\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:58:\"Subscription
  lifetime in seconds. The default value is 900\";}s:6:\"status\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:6:\"Active\";i:1;s:9:\"Suspended\";}s:11:\"description\";s:19:\"Subscription
  status\";}s:12:\"creationTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:26:\"Subscription
  creation time\";}s:12:\"deliveryMode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/NotificationDeliveryMode\";s:11:\"description\";s:18:\"Delivery
  mode data\";}}}s:24:\"NotificationDeliveryMode\";O:8:\"stdClass\":2:{s:8:\"required\";a:0:{}s:10:\"properties\";O:8:\"stdClass\":7:{s:13:\"transportType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:6:\"PubNub\";i:1;s:4:\"APNS\";}s:11:\"description\";s:85:\"Notifications
  transportation provider name. 'APNS' (Apple Push Notifications Service)\";}s:10:\"encryption\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:122:\"Optional
  parameter. Specifies if the message will be encrypted or not. For APNS transport
  type the value is always  false \";}s:7:\"address\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:93:\"PubNub
  channel name. For APNS transport type - internal identifier of a device  device_token
  \";}s:13:\"subscriberKey\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:66:\"PubNub
  subscriber credentials required to subscribe to the channel\";}s:9:\"secretKey\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:109:\"PubNub
  subscriber credentials required to subscribe to the channel. Optional (for PubNub
  transport type only)\";}s:19:\"encryptionAlgorithm\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:59:\"Encryption
  algorithm 'AES' (for PubNub transport type only)\";}s:13:\"encryptionKey\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:72:\"Key
  for notification message decryption (for PubNub transport type only)\";}}}}"
...
