---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":15:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:9:\"x-twitter\";s:12:\"PermittedSoc\";}s:11:\"description\";s:3834:\"<fullname>AWS
  Secrets Manager API Reference</fullname> <p>AWS Secrets Manager is a web service
  that enables you to store, manage, and retrieve, secrets.</p> <p>This guide provides
  descriptions of the Secrets Manager API. For more information about using this service,
  see the <a href=\"http://docs.aws.amazon.com/secretsmanager/latest/userguide/introduction.html\">AWS
  Secrets Manager User Guide</a>.</p> <p> <b>API Version</b> </p> <p>This version
  of the Secrets Manager API Reference documents the Secrets Manager API version 2017-10-17.</p>
  <note> <p>As an alternative to using the API directly, you can use one of the AWS
  SDKs, which consist of libraries and sample code for various programming languages
  and platforms (such as Java, Ruby, .NET, iOS, and Android). The SDKs provide a convenient
  way to create programmatic access to AWS Secrets Manager. For example, the SDKs
  take care of cryptographically signing requests, managing errors, and retrying requests
  automatically. For more information about the AWS SDKs, including how to download
  and install them, see <a href=\"http://aws.amazon.com/tools/\">Tools for Amazon
  Web Services</a>.</p> </note> <p>We recommend that you use the AWS SDKs to make
  programmatic API calls to Secrets Manager. However, you also can use the Secrets
  Manager HTTP Query API to make direct calls to the Secrets Manager web service.
  To learn more about the Secrets Manager HTTP Query API, see <a href=\"http://docs.aws.amazon.com/secretsmanager/latest/userguide/query-requests.html\">Making
  Query Requests</a> in the <i>AWS Secrets Manager User Guide</i>. </p> <p>Secrets
  Manager supports GET and POST requests for all actions. That is, the API doesn't
  require you to use GET for some actions and POST for others. However, GET requests
  are subject to the limitation size of a URL. Therefore, for operations that require
  larger sizes, use a POST request.</p> <p> <b>Support and Feedback for AWS Secrets
  Manager</b> </p> <p>We welcome your feedback. Send your comments to <a href=\"mailto:awssecretsmanager-feedback@amazon.com\">awssecretsmanager-feedback@amazon.com</a>,
  or post your feedback and questions in the <a href=\"http://forums.aws.amazon.com/forum.jspa?forumID=296\">AWS
  Secrets Manager Discussion Forum</a>. For more information about the AWS Discussion
  Forums, see <a href=\"http://forums.aws.amazon.com/help.jspa\">Forums Help</a>.</p>
  <p> <b>How examples are presented</b> </p> <p>The JSON that AWS Secrets Manager
  expects as your request parameters and that the service returns as a response to
  HTTP query requests are single, long strings without line breaks or white space
  formatting. The JSON shown in the examples is formatted with both line breaks and
  white space to improve readability. When example input parameters would also result
  in long strings that extend beyond the screen, we insert line breaks to enhance
  readability. You should always submit the input as a single JSON text string.</p>
  <p> <b>Logging API Requests</b> </p> <p>AWS Secrets Manager supports AWS CloudTrail,
  a service that records AWS API calls for your AWS account and delivers log files
  to an Amazon S3 bucket. By using information that's collected by AWS CloudTrail,
  you can determine which requests were successfully made to Secrets Manager, who
  made the request, when it was made, and so on. For more about AWS Secrets Manager
  and its support for AWS CloudTrail, see <a href=\"http://docs.aws.amazon.com/secretsmanager/latest/userguide/monitoring.html#monitoring_cloudtrail\">Logging
  AWS Secrets Manager Events with AWS CloudTrail</a> in the <i>AWS Secrets Manager
  User Guide</i>. To learn more about CloudTrail, including how to turn it on and
  find your log files, see the <a href=\"http://docs.aws.amazon.com/awscloudtrail/latest/userguide/what_is_cloud_trail_top_level.html\">AWS
  CloudTrail User Guide</a>.</p>\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache
  2.0 License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:19:\"AWS
  Secrets Manager\";s:7:\"version\";s:10:\"2017-10-17\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:98:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/secretsmanager-2017-10-17.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v4\";s:13:\"x-serviceName\";s:14:\"secretsmanager\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:24:\"amazonaws_secretsmanager\";s:4:\"type\";s:7:\"openapi\";}}"
host: secretsmanager.amazonaws.com
basePath: /
paths: ~
produces:
- application/json
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":84:{s:32:\"AutomaticallyRotateAfterDaysType\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:1000;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:11:\"BooleanType\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:25:\"CancelRotateSecretRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":1:{s:8:\"SecretId\";s:20:\"MyTestDatabaseSecret\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"SecretId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/SecretIdType\";s:11:\"description\";s:159:\"Specifies
  the secret for which you want to cancel a rotation request. You can specify either
  the Amazon Resource Name (ARN) or the friendly name of the secret.\";}}s:8:\"required\";a:1:{i:0;s:8:\"SecretId\";}s:4:\"type\";s:6:\"object\";}s:26:\"CancelRotateSecretResponse\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":2:{s:3:\"ARN\";s:80:\"arn:aws:secretsmanager:us-west-2:123456789012:secret:MyTestDatabaseSecret-a1b2c3\";s:4:\"Name\";s:4:\"Name\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"ARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/SecretARNType\";s:11:\"description\";s:54:\"The
  ARN of the secret for which rotation was canceled.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/SecretNameType\";s:11:\"description\";s:64:\"The
  friendly name of the secret for which rotation was canceled.\";}s:9:\"VersionId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/SecretVersionIdType\";s:11:\"description\";s:406:\"The
  unique identifier of the version of the secret that was created during the rotation.
  This version might not be complete, and should be evaluated for possible deletion.
  At the very least, you should remove the <code>VersionStage</code> value <code>AWSPENDING</code>
  to enable this version to be deleted. Failing to clean up a cancelled rotation can
  block you from successfully starting future rotations.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"ClientRequestTokenType\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:64;s:9:\"minLength\";i:32;s:4:\"type\";s:6:\"string\";}s:19:\"CreateSecretRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":4:{s:18:\"ClientRequestToken\";s:36:\"EXAMPLE1-90ab-cdef-fedc-ba987SECRET1\";s:11:\"Description\";s:44:\"My
  test database secret created with the CLI\";s:4:\"Name\";s:20:\"MyTestDatabaseSecret\";s:12:\"SecretString\";s:54:\"{\"username\":\"david\",\"password\":\"BnQw!XDWgaEeT9XGTT29\"}\";}s:10:\"properties\";O:8:\"stdClass\":7:{s:18:\"ClientRequestToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/ClientRequestTokenType\";s:11:\"description\";s:1873:\"<p>(Optional)
  If you include <code>SecretString</code> or <code>SecretBinary</code>, then an initial
  version is created as part of the secret, and this parameter specifies a unique
  identifier for the new version. </p> <note> <p>If you use the AWS CLI or one of
  the AWS SDK to call this operation, then you can leave this parameter empty. The
  CLI or SDK generates a random UUID for you and includes it as the value for this
  parameter in the request. If you don't use the SDK and instead generate a raw HTTP
  request to the Secrets Manager service endpoint, then you must generate a <code>ClientRequestToken</code>
  yourself for the new version and include that value in the request.</p> </note>
  <p>This value helps ensure idempotency. Secrets Manager uses this value to prevent
  the accidental creation of duplicate versions if there are failures and retries
  during a rotation. We recommend that you generate a <a href=\"https://wikipedia.org/wiki/Universally_unique_identifier\">UUID-type</a>
  value to ensure uniqueness of your versions within the specified secret. </p> <ul>
  <li> <p>If the <code>ClientRequestToken</code> value isn't already associated with
  a version of the secret then a new version of the secret is created. </p> </li>
  <li> <p>If a version with this value already exists and that version's <code>SecretString</code>
  and <code>SecretBinary</code> values are the same as those in the request, then
  the request is ignored (the operation is idempotent).</p> </li> <li> <p>If a version
  with this value already exists and that version's <code>SecretString</code> and
  <code>SecretBinary</code> values are different from those in the request then the
  request fails because you cannot modify an existing version. Instead, use <a>PutSecretValue</a>
  to create a new version.</p> </li> </ul> <p>This value becomes the <code>SecretVersionId</code>
  of the new version.</p>\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/DescriptionType\";s:11:\"description\";s:63:\"(Optional)
  Specifies a user-provided description of the secret.\";}s:8:\"KmsKeyId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/KmsKeyIdType\";s:11:\"description\";s:1073:\"<p>(Optional)
  Specifies the ARN, Key ID, or alias of the AWS KMS customer master key (CMK) to
  be used to encrypt the <code>SecretString</code> or <code>SecretBinary</code> values
  in the versions stored in this secret.</p> <p>You can specify any of the supported
  ways to identify a AWS KMS key ID. If you need to reference a CMK in a different
  account, you can use only the key ARN or the alias ARN.</p> <p>If you don't specify
  this value, then Secrets Manager defaults to using the AWS account's default CMK
  (the one named <code>aws/secretsmanager</code>). If a AWS KMS CMK with that name
  doesn't yet exist, then Secrets Manager creates it for you automatically the first
  time it needs to encrypt a version's <code>SecretString</code> or <code>SecretBinary</code>
  fields.</p> <important> <p>You can use the account's default CMK to encrypt and
  decrypt only if you call this operation using credentials from the same account
  that owns the secret. If the secret is in a different account, then you must create
  a custom CMK and specify the ARN in this field. </p> </important>\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/NameType\";s:11:\"description\";s:146:\"<p>Specifies
  the friendly name of the new secret.</p> <p>The secret name must be ASCII letters,
  digits, or the following characters : /_+=,.@-</p>\";}s:12:\"SecretBinary\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/SecretBinaryType\";s:11:\"description\";s:586:\"<p>(Optional)
  Specifies binary data that you want to encrypt and store in the new version of the
  secret. To use this parameter in the command-line tools, we recommend that you store
  your binary data in a file and then use the appropriate technique for your tool
  to pass the contents of the file as a parameter.</p> <p>Either <code>SecretString</code>
  or <code>SecretBinary</code> must have a value, but not both. They cannot both be
  empty.</p> <p>This parameter is not available using the Secrets Manager console.
  It can be accessed only by using the AWS CLI or one of the AWS SDKs.</p>\";}s:12:\"SecretString\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/SecretStringType\";s:11:\"description\";s:1203:\"<p>(Optional)
  Specifies text data that you want to encrypt and store in this new version of the
  secret.</p> <p>Either <code>SecretString</code> or <code>SecretBinary</code> must
  have a value, but not both. They cannot both be empty.</p> <p>If you create a secret
  by using the Secrets Manager console then Secrets Manager puts the protected secret
  text in only the <code>SecretString</code> parameter. The Secrets Manager console
  stores the information as a JSON structure of key/value pairs that the Lambda rotation
  function knows how to parse.</p> <p>For storing multiple values, we recommend that
  you use a JSON text string argument and specify key/value pairs. For information
  on how to format a JSON parameter for the various command line tool environments,
  see <a href=\"http://docs.aws.amazon.com/cli/latest/userguide/cli-using-param.html#cli-using-param-json\">Using
  JSON for Parameters</a> in the <i>AWS CLI User Guide</i>. For example:</p> <p> <code>[{\"username\":\"bob\"},{\"password\":\"abc123xyz456\"}]</code>
  </p> <p>If your command-line tool or SDK requires quotation marks around the parameter,
  you should use single quotes to avoid confusion with the double quotes required
  in the JSON text. </p>\";}s:4:\"Tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/TagListType\";s:11:\"description\";s:2306:\"<p>(Optional)
  Specifies a list of user-defined tags that are attached to the secret. Each tag
  is a \"Key\" and \"Value\" pair of strings. This operation only appends tags to
  the existing list of tags. To remove tags, you must use <a>UntagResource</a>.</p>
  <important> <ul> <li> <p>Secrets Manager tag key names are case sensitive. A tag
  with the key \"ABC\" is a different tag from one with key \"abc\".</p> </li> <li>
  <p>If you check tags in IAM policy <code>Condition</code> elements as part of your
  security strategy, then adding or removing a tag can change permissions. If the
  successful completion of this operation would result in you losing your permissions
  for this secret, then this operation is blocked and returns an <code>Access Denied</code>
  error.</p> </li> </ul> </important> <p>This parameter requires a JSON text string
  argument. For information on how to format a JSON parameter for the various command
  line tool environments, see <a href=\"http://docs.aws.amazon.com/cli/latest/userguide/cli-using-param.html#cli-using-param-json\">Using
  JSON for Parameters</a> in the <i>AWS CLI User Guide</i>. For example:</p> <p> <code>[{\"Key\":\"CostCenter\",\"Value\":\"12345\"},{\"Key\":\"environment\",\"Value\":\"production\"}]</code>
  </p> <p>If your command-line tool or SDK requires quotation marks around the parameter,
  you should use single quotes to avoid confusion with the double quotes required
  in the JSON text. </p> <p>The following basic restrictions apply to tags:</p> <ul>
  <li> <p>Maximum number of tags per secret\u201450</p> </li> <li> <p>Maximum key
  length\u2014127 Unicode characters in UTF-8</p> </li> <li> <p>Maximum value length\u2014255
  Unicode characters in UTF-8</p> </li> <li> <p>Tag keys and values are case sensitive.</p>
  </li> <li> <p>Do not use the <code>aws:</code> prefix in your tag names or values
  because it is reserved for AWS use. You can't edit or delete tag names or values
  with this prefix. Tags with this prefix do not count against your tags per secret
  limit.</p> </li> <li> <p>If your tagging schema will be used across multiple services
  and resources, remember that other services might have restrictions on allowed characters.
  Generally allowed characters are: letters, spaces, and numbers representable in
  UTF-8, plus the following special characters: + - = . _ : / @.</p> </li> </ul>\";}}s:8:\"required\";a:1:{i:0;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:20:\"CreateSecretResponse\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":3:{s:3:\"ARN\";s:80:\"arn:aws:secretsmanager:us-west-2:123456789012:secret:MyTestDatabaseSecret-a1b2c3\";s:4:\"Name\";s:20:\"MyTestDatabaseSecret\";s:9:\"VersionId\";s:36:\"EXAMPLE1-90ab-cdef-fedc-ba987SECRET1\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"ARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/SecretARNType\";s:11:\"description\";s:526:\"<p>The
  Amazon Resource Name (ARN) of the secret that you just created.</p> <note> <p>Secrets
  Manager automatically adds several random characters to the name at the end of the
  ARN when you initially create a secret. This affects only the ARN and not the actual
  friendly name. This ensures that if you create a new secret with the same name as
  an old secret that you previously deleted, then users with access to the old secret
  <i>don't</i> automatically get access to the new secret because the ARNs are different.</p>
  </note>\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/SecretNameType\";s:11:\"description\";s:54:\"The
  friendly name of the secret that you just created.\";}s:9:\"VersionId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/SecretVersionIdType\";s:11:\"description\";s:88:\"The
  unique identifier that's associated with the version of the secret you just created.\";}}s:4:\"type\";s:6:\"object\";}s:15:\"CreatedDateType\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:17:\"DecryptionFailure\";O:8:\"stdClass\":3:{s:11:\"description\";s:84:\"Secrets
  Manager can't decrypt the protected secret text using the provided KMS key. \";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:19:\"DeleteSecretRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":2:{s:20:\"RecoveryWindowInDays\";i:7;s:8:\"SecretId\";s:21:\"MyTestDatabaseSecret1\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:20:\"RecoveryWindowInDays\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/RecoveryWindowInDaysType\";s:11:\"description\";s:178:\"<p>(Optional)
  Specifies the number of days that Secrets Manager waits before it can delete the
  secret.</p> <p>This value can range from 7 to 30 days. The default value is 30.</p>\";}s:8:\"SecretId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/SecretIdType\";s:11:\"description\";s:135:\"Specifies
  the secret that you want to delete. You can specify either the Amazon Resource Name
  (ARN) or the friendly name of the secret.\";}}s:8:\"required\";a:1:{i:0;s:8:\"SecretId\";}s:4:\"type\";s:6:\"object\";}s:20:\"DeleteSecretResponse\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":3:{s:3:\"ARN\";s:80:\"arn:aws:secretsmanager:us-west-2:123456789012:secret:MyTestDatabaseSecret-a1b2c3\";s:12:\"DeletionDate\";s:14:\"1524085349.095\";s:4:\"Name\";s:20:\"MyTestDatabaseSecret\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"ARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/SecretARNType\";s:11:\"description\";s:57:\"The
  ARN of the secret that is now scheduled for deletion.\";}s:12:\"DeletionDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/DeletionDateType\";s:11:\"description\";s:232:\"The
  date and time after which this secret can be deleted by Secrets Manager and can
  no longer be restored. This value is the date and time of the delete request plus
  the number of days specified in <code>RecoveryWindowInDays</code>.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/SecretNameType\";s:11:\"description\";s:67:\"The
  friendly name of the secret that is now scheduled for deletion.\";}}s:4:\"type\";s:6:\"object\";}s:15:\"DeletedDateType\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:16:\"DeletionDateType\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:21:\"DescribeSecretRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":1:{s:8:\"SecretId\";s:20:\"MyTestDatabaseSecret\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"SecretId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/SecretIdType\";s:11:\"description\";s:154:\"The
  identifier of the secret whose details you want to retrieve. You can specify either
  the Amazon Resource Name (ARN) or the friendly name of the secret.\";}}s:8:\"required\";a:1:{i:0;s:8:\"SecretId\";}s:4:\"type\";s:6:\"object\";}s:22:\"DescribeSecretResponse\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":12:{s:3:\"ARN\";s:80:\"arn:aws:secretsmanager:us-west-2:123456789012:secret:MyTestDatabaseSecret-a1b2c3\";s:11:\"Description\";s:23:\"My
  test database secret\";s:8:\"KmsKeyId\";s:75:\"arn:aws:kms:us-west-2:123456789012:key/EXAMPLE1-90ab-cdef-fedc-ba987KMSKEY1\";s:16:\"LastAccessedDate\";s:10:\"1523923200\";s:15:\"LastChangedDate\";d:1523477145.7290001;s:15:\"LastRotatedDate\";d:1525747253.72;s:4:\"Name\";s:20:\"MyTestDatabaseSecret\";s:15:\"RotationEnabled\";b:1;s:17:\"RotationLambdaARN\";s:67:\"arn:aws:lambda:us-west-2:123456789012:function:MyTestRotationLambda\";s:13:\"RotationRules\";O:8:\"stdClass\":1:{s:22:\"AutomaticallyAfterDays\";i:30;}s:4:\"Tags\";a:2:{i:0;O:8:\"stdClass\":2:{s:3:\"Key\";s:9:\"SecondTag\";s:5:\"Value\";s:12:\"AnotherValue\";}i:1;O:8:\"stdClass\":2:{s:3:\"Key\";s:8:\"FirstTag\";s:5:\"Value\";s:9:\"SomeValue\";}}s:18:\"VersionIdsToStages\";O:8:\"stdClass\":2:{s:36:\"EXAMPLE1-90ab-cdef-fedc-ba987EXAMPLE\";a:1:{i:0;s:11:\"AWSPREVIOUS\";}s:36:\"EXAMPLE2-90ab-cdef-fedc-ba987EXAMPLE\";a:1:{i:0;s:10:\"AWSCURRENT\";}}}s:10:\"properties\";O:8:\"stdClass\":13:{s:3:\"ARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/SecretARNType\";s:11:\"description\";s:22:\"The
  ARN of the secret.\";}s:11:\"DeletedDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/DeletedDateType\";s:11:\"description\";s:374:\"<p>This
  value exists if the secret is scheduled for deletion. Some time after the specified
  date and time, Secrets Manager deletes the secret and all of its versions.</p> <p>If
  a secret is scheduled for deletion, then its details, including the encrypted secret
  information, is not accessible. To cancel a scheduled deletion and restore access,
  use <a>RestoreSecret</a>.</p>\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/DescriptionType\";s:11:\"description\";s:44:\"The
  user-provided description of the secret.\";}s:8:\"KmsKeyId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/KmsKeyIdType\";s:11:\"description\";s:361:\"The
  ARN or alias of the AWS KMS customer master key (CMK) that's used to encrypt the
  <code>SecretString</code> or <code>SecretBinary</code> fields in each version of
  the secret. If you don't provide a key, then Secrets Manager defaults to encrypting
  the secret fields with the default AWS KMS CMK (the one named <code>awssecretsmanager</code>)
  for this account.\";}s:16:\"LastAccessedDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/LastAccessedDateType\";s:11:\"description\";s:141:\"The
  last date that this secret was accessed. This value is truncated to midnight of
  the date and therefore shows only the date, not the time.\";}s:15:\"LastChangedDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/LastChangedDateType\";s:11:\"description\";s:64:\"The
  last date and time that this secret was modified in any way.\";}s:15:\"LastRotatedDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/LastRotatedDateType\";s:11:\"description\";s:93:\"The
  last date and time that the Secrets Manager rotation process for this secret was
  invoked.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/SecretNameType\";s:11:\"description\";s:46:\"The
  user-provided friendly name of the secret.\";}s:15:\"RotationEnabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/RotationEnabledType\";s:11:\"description\";s:252:\"<p>Specifies
  whether automatic rotation is enabled for this secret.</p> <p>To enable rotation,
  use <a>RotateSecret</a> with <code>AutomaticallyRotateAfterDays</code> set to a
  value greater than 0. To disable rotation, use <a>CancelRotateSecret</a>.</p>\";}s:17:\"RotationLambdaARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/RotationLambdaARNType\";s:11:\"description\";s:173:\"The
  ARN of a Lambda function that's invoked by Secrets Manager to rotate the secret
  either automatically per the schedule or manually by a call to <code>RotateSecret</code>.\";}s:13:\"RotationRules\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/RotationRulesType\";s:11:\"description\";s:69:\"A
  structure that contains the rotation configuration for this secret.\";}s:4:\"Tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/TagListType\";s:11:\"description\";s:157:\"The
  list of user-defined tags that are associated with the secret. To add tags to a
  secret, use <a>TagResource</a>. To remove tags, use <a>UntagResource</a>.\";}s:18:\"VersionIdsToStages\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:43:\"#/definitions/SecretVersionsToStagesMapType\";s:11:\"description\";s:417:\"<p>A
  list of all of the currently assigned <code>VersionStage</code> staging labels and
  the <code>SecretVersionId</code> that each is attached to. Staging labels are used
  to keep track of the different versions during the rotation process.</p> <note>
  <p>A version that does not have any staging labels attached is considered deprecated
  and subject to deletion. Such versions are not included in this list.</p> </note>\";}}s:4:\"type\";s:6:\"object\";}s:15:\"DescriptionType\";O:8:\"stdClass\":2:{s:9:\"maxLength\";i:2048;s:4:\"type\";s:6:\"string\";}s:17:\"EncryptionFailure\";O:8:\"stdClass\":3:{s:11:\"description\";s:336:\"Secrets
  Manager can't encrypt the protected secret text using the provided KMS key. Check
  that the customer master key (CMK) is available, enabled, and not in an invalid
  state. For more information, see <a href=\"http://docs.aws.amazon.com/kms/latest/developerguide/key-state.html\">How
  Key State Affects Use of a Customer Master Key</a>.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:12:\"ErrorMessage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"ExcludeCharactersType\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:4096;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";}s:20:\"ExcludeLowercaseType\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:18:\"ExcludeNumbersType\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:22:\"ExcludePunctuationType\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:20:\"ExcludeUppercaseType\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:24:\"GetRandomPasswordRequest\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":3:{s:12:\"IncludeSpace\";b:1;s:14:\"PasswordLength\";i:20;s:23:\"RequireEachIncludedType\";b:1;}s:10:\"properties\";O:8:\"stdClass\":8:{s:17:\"ExcludeCharacters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/ExcludeCharactersType\";s:11:\"description\";s:159:\"A
  string that includes characters that should not be included in the generated password.
  The default is that all characters from the included sets can be used.\";}s:16:\"ExcludeLowercase\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ExcludeLowercaseType\";s:11:\"description\";s:174:\"Specifies
  that the generated password should not include lowercase letters. The default if
  you do not include this switch parameter is that lowercase letters can be included.\";}s:14:\"ExcludeNumbers\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ExcludeNumbersType\";s:11:\"description\";s:152:\"Specifies
  that the generated password should not include digits. The default if you do not
  include this switch parameter is that digits can be included.\";}s:18:\"ExcludePunctuation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/ExcludePunctuationType\";s:11:\"description\";s:184:\"Specifies
  that the generated password should not include punctuation characters. The default
  if you do not include this switch parameter is that punctuation characters can be
  included.\";}s:16:\"ExcludeUppercase\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ExcludeUppercaseType\";s:11:\"description\";s:174:\"Specifies
  that the generated password should not include uppercase letters. The default if
  you do not include this switch parameter is that uppercase letters can be included.\";}s:12:\"IncludeSpace\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/IncludeSpaceType\";s:11:\"description\";s:171:\"Specifies
  that the generated password can include the space character. The default if you
  do not include this switch parameter is that the space character is not included.\";}s:14:\"PasswordLength\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/PasswordLengthType\";s:11:\"description\";s:118:\"The
  desired length of the generated password. The default value if you do not include
  this parameter is 32 characters.\";}s:23:\"RequireEachIncludedType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/RequireEachIncludedTypeType\";s:11:\"description\";s:224:\"A
  boolean value that specifies whether the generated password must include at least
  one of every allowed character type. The default value is <code>True</code> and
  the operation requires at least one of every character type.\";}}s:4:\"type\";s:6:\"object\";}s:25:\"GetRandomPasswordResponse\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":1:{s:14:\"RandomPassword\";s:21:\"N+Z43a,>vx7j
  O8^*<8i3\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"RandomPassword\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/RandomPasswordType\";s:11:\"description\";s:37:\"A
  string with the generated password.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"GetSecretValueRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":2:{s:8:\"SecretId\";s:20:\"MyTestDatabaseSecret\";s:12:\"VersionStage\";s:11:\"AWSPREVIOUS\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"SecretId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/SecretIdType\";s:11:\"description\";s:160:\"Specifies
  the secret containing the version that you want to retrieve. You can specify either
  the Amazon Resource Name (ARN) or the friendly name of the secret.\";}s:9:\"VersionId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/SecretVersionIdType\";s:11:\"description\";s:535:\"<p>Specifies
  the unique identifier of the version of the secret that you want to retrieve. If
  you specify this parameter then don't specify <code>VersionStage</code>. If you
  don't specify either a <code>VersionStage</code> or <code>SecretVersionId</code>
  then the default is to perform the operation on the version with the <code>VersionStage</code>
  value of <code>AWSCURRENT</code>.</p> <p>This value is typically a <a href=\"https://wikipedia.org/wiki/Universally_unique_identifier\">UUID-type</a>
  value with 32 hexadecimal digits.</p>\";}s:12:\"VersionStage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/SecretVersionStageType\";s:11:\"description\";s:496:\"<p>Specifies
  the secret version that you want to retrieve by the staging label attached to the
  version.</p> <p>Staging labels are used to keep track of different versions during
  the rotation process. If you use this parameter then don't specify <code>SecretVersionId</code>.
  If you don't specify either a <code>VersionStage</code> or <code>SecretVersionId</code>,
  then the default is to perform the operation on the version with the <code>VersionStage</code>
  value of <code>AWSCURRENT</code>.</p>\";}}s:8:\"required\";a:1:{i:0;s:8:\"SecretId\";}s:4:\"type\";s:6:\"object\";}s:22:\"GetSecretValueResponse\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":6:{s:3:\"ARN\";s:80:\"arn:aws:secretsmanager:us-west-2:123456789012:secret:MyTestDatabaseSecret-a1b2c3\";s:11:\"CreatedDate\";d:1523477145.7130001;s:4:\"Name\";s:20:\"MyTestDatabaseSecret\";s:12:\"SecretString\";s:62:\"{\n
  \ \"username\":\"david\",\n  \"password\":\"BnQw&XDWgaEeT9XGTT29\"\n}\n\";s:9:\"VersionId\";s:36:\"EXAMPLE1-90ab-cdef-fedc-ba987SECRET1\";s:13:\"VersionStages\";a:1:{i:0;s:11:\"AWSPREVIOUS\";}}s:10:\"properties\";O:8:\"stdClass\":7:{s:3:\"ARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/SecretARNType\";s:11:\"description\";s:22:\"The
  ARN of the secret.\";}s:11:\"CreatedDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/CreatedDateType\";s:11:\"description\";s:62:\"The
  date and time that this version of the secret was created.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/SecretNameType\";s:11:\"description\";s:32:\"The
  friendly name of the secret.\";}s:12:\"SecretBinary\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/SecretBinaryType\";s:11:\"description\";s:592:\"<p>The
  decrypted part of the protected secret information that was originally provided
  as binary data in the form of a byte array. The response parameter represents the
  binary data as a <a href=\"https://tools.ietf.org/html/rfc4648#section-4\">base64-encoded</a>
  string.</p> <p>This parameter is not used if the secret is created by the Secrets
  Manager console.</p> <p>If you store custom information in this field of the secret,
  then you must code your Lambda rotation function to parse and interpret whatever
  you store in the <code>SecretString</code> or <code>SecretBinary</code> fields.</p>\";}s:12:\"SecretString\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/SecretStringType\";s:11:\"description\";s:701:\"<p>The
  decrypted part of the protected secret information that was originally provided
  as a string.</p> <p>If you create this secret by using the Secrets Manager console
  then only the <code>SecretString</code> parameter contains data. Secrets Manager
  stores the information as a JSON structure of key/value pairs that the Lambda rotation
  function knows how to parse.</p> <p>If you store custom information in the secret
  by using the <a>CreateSecret</a>, <a>UpdateSecret</a>, or <a>PutSecretValue</a>
  API operations instead of the Secrets Manager console, or by using the <b>Other
  secret type</b> in the console, then you must code your Lambda rotation function
  to parse and interpret those values.</p>\";}s:9:\"VersionId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/SecretVersionIdType\";s:11:\"description\";s:52:\"The
  unique identifier of this version of the secret.\";}s:13:\"VersionStages\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/SecretVersionStagesType\";s:11:\"description\";s:85:\"A
  list of all of the staging labels currently attached to this version of the secret.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"IncludeSpaceType\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:20:\"InternalServiceError\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"An
  error occurred on the server side.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:25:\"InvalidNextTokenException\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"You
  provided an invalid <code>NextToken</code> value.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:25:\"InvalidParameterException\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"You
  provided an invalid value for a parameter.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:23:\"InvalidRequestException\";O:8:\"stdClass\":3:{s:11:\"description\";s:239:\"You
  provided a parameter value that is not valid for the current state of the resource.
  For example, if you try to enable rotation on a secret, you must already have a
  Lambda function ARN configured or included as a parameter in this call.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:12:\"KmsKeyIdType\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:2048;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";}s:20:\"LastAccessedDateType\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:19:\"LastChangedDateType\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:19:\"LastRotatedDateType\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:22:\"LimitExceededException\";O:8:\"stdClass\":3:{s:11:\"description\";s:86:\"The
  request failed because it would exceed one of the Secrets Manager internal limits.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:27:\"ListSecretVersionIdsRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":2:{s:17:\"IncludeDeprecated\";b:1;s:8:\"SecretId\";s:20:\"MyTestDatabaseSecret\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:17:\"IncludeDeprecated\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/BooleanType\";s:11:\"description\";s:218:\"(Optional)
  Specifies that you want the results to include versions that do not have any staging
  labels attached to them. Such versions are considered deprecated and are subject
  to deletion by Secrets Manager as needed.\";}s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/MaxResultsType\";s:11:\"description\";s:679:\"(Optional)
  Limits the number of results that you want to include in the response. If you don't
  include this parameter, it defaults to a value that's specific to the operation.
  If additional items exist beyond the maximum you specify, the <code>NextToken</code>
  response element is present and has a value (isn't null). Include that value as
  the <code>NextToken</code> request parameter in the next call to the operation to
  get the next part of the results. Note that Secrets Manager might return fewer results
  than the maximum even when there are more results available. You should check <code>NextToken</code>
  after every operation to ensure that you receive all of the results.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/NextTokenType\";s:11:\"description\";s:312:\"(Optional)
  Use this parameter in a request if you receive a <code>NextToken</code> response
  in a previous request that indicates that there's more output available. In a subsequent
  call, set it to the value of the previous call's <code>NextToken</code> response
  to indicate where the output should continue from.\";}s:8:\"SecretId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/SecretIdType\";s:11:\"description\";s:161:\"The
  identifier for the secret containing the versions you want to list. You can specify
  either the Amazon Resource Name (ARN) or the friendly name of the secret.\";}}s:8:\"required\";a:1:{i:0;s:8:\"SecretId\";}s:4:\"type\";s:6:\"object\";}s:28:\"ListSecretVersionIdsResponse\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":3:{s:3:\"ARN\";s:80:\"arn:aws:secretsmanager:us-west-2:123456789012:secret:MyTestDatabaseSecret-a1b2c3\";s:4:\"Name\";s:20:\"MyTestDatabaseSecret\";s:8:\"Versions\";a:3:{i:0;O:8:\"stdClass\":3:{s:11:\"CreatedDate\";d:1523477145.7130001;s:9:\"VersionId\";s:36:\"EXAMPLE1-90ab-cdef-fedc-ba987EXAMPLE\";s:13:\"VersionStages\";a:1:{i:0;s:11:\"AWSPREVIOUS\";}}i:1;O:8:\"stdClass\":3:{s:11:\"CreatedDate\";d:1523486221.391;s:9:\"VersionId\";s:36:\"EXAMPLE2-90ab-cdef-fedc-ba987EXAMPLE\";s:13:\"VersionStages\";a:1:{i:0;s:10:\"AWSCURRENT\";}}i:2;O:8:\"stdClass\":2:{s:11:\"CreatedDate\";d:1511974462.3599999;s:9:\"VersionId\";s:37:\"EXAMPLE3-90ab-cdef-fedc-ba987EXAMPLE;\";}}}s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"ARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/SecretARNType\";s:11:\"description\";s:505:\"<p>The
  Amazon Resource Name (ARN) for the secret.</p> <note> <p>Secrets Manager automatically
  adds several random characters to the name at the end of the ARN when you initially
  create a secret. This affects only the ARN and not the actual friendly name. This
  ensures that if you create a new secret with the same name as an old secret that
  you previously deleted, then users with access to the old secret <i>don't</i> automatically
  get access to the new secret because the ARNs are different.</p> </note>\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/SecretNameType\";s:11:\"description\";s:32:\"The
  friendly name of the secret.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/NextTokenType\";s:11:\"description\";s:531:\"If
  present in the response, this value indicates that there's more output available
  than what's included in the current response. This can occur even when the response
  includes no values at all, such as when you ask for a filtered view of a very long
  list. Use this value in the <code>NextToken</code> request parameter in a subsequent
  call to the operation to continue processing and get the next part of the output.
  You should repeat this until the <code>NextToken</code> response element comes back
  empty (as <code>null</code>).\";}s:8:\"Versions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/SecretVersionsListType\";s:11:\"description\";s:69:\"The
  list of the currently available versions of the specified secret.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"ListSecretsRequest\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":0:{}s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/MaxResultsType\";s:11:\"description\";s:679:\"(Optional)
  Limits the number of results that you want to include in the response. If you don't
  include this parameter, it defaults to a value that's specific to the operation.
  If additional items exist beyond the maximum you specify, the <code>NextToken</code>
  response element is present and has a value (isn't null). Include that value as
  the <code>NextToken</code> request parameter in the next call to the operation to
  get the next part of the results. Note that Secrets Manager might return fewer results
  than the maximum even when there are more results available. You should check <code>NextToken</code>
  after every operation to ensure that you receive all of the results.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/NextTokenType\";s:11:\"description\";s:312:\"(Optional)
  Use this parameter in a request if you receive a <code>NextToken</code> response
  in a previous request that indicates that there's more output available. In a subsequent
  call, set it to the value of the previous call's <code>NextToken</code> response
  to indicate where the output should continue from.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"ListSecretsResponse\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":1:{s:10:\"SecretList\";a:2:{i:0;O:8:\"stdClass\":5:{s:3:\"ARN\";s:80:\"arn:aws:secretsmanager:us-west-2:123456789012:secret:MyTestDatabaseSecret-a1b2c3\";s:11:\"Description\";s:23:\"My
  test database secret\";s:15:\"LastChangedDate\";d:1523477145.7290001;s:4:\"Name\";s:20:\"MyTestDatabaseSecret\";s:22:\"SecretVersionsToStages\";O:8:\"stdClass\":1:{s:36:\"EXAMPLE1-90ab-cdef-fedc-ba987EXAMPLE\";a:1:{i:0;s:10:\"AWSCURRENT\";}}}i:1;O:8:\"stdClass\":5:{s:3:\"ARN\";s:81:\"arn:aws:secretsmanager:us-west-2:123456789012:secret:MyTestDatabaseSecret1-d4e5f6\";s:11:\"Description\";s:47:\"Another
  secret created for a different database\";s:15:\"LastChangedDate\";d:1523482025.6849999;s:4:\"Name\";s:21:\"MyTestDatabaseSecret1\";s:22:\"SecretVersionsToStages\";O:8:\"stdClass\":1:{s:36:\"EXAMPLE2-90ab-cdef-fedc-ba987EXAMPLE\";a:1:{i:0;s:10:\"AWSCURRENT\";}}}}}s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/NextTokenType\";s:11:\"description\";s:531:\"If
  present in the response, this value indicates that there's more output available
  than what's included in the current response. This can occur even when the response
  includes no values at all, such as when you ask for a filtered view of a very long
  list. Use this value in the <code>NextToken</code> request parameter in a subsequent
  call to the operation to continue processing and get the next part of the output.
  You should repeat this until the <code>NextToken</code> response element comes back
  empty (as <code>null</code>).\";}s:10:\"SecretList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/SecretListType\";s:11:\"description\";s:37:\"A
  list of the secrets in the account.\";}}s:4:\"type\";s:6:\"object\";}s:32:\"MalformedPolicyDocumentException\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"The
  policy document that you provided isn't valid.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:14:\"MaxResultsType\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:100;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:8:\"NameType\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:512;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:13:\"NextTokenType\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:4096;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:18:\"PasswordLengthType\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:4096;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:21:\"PutSecretValueRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":3:{s:18:\"ClientRequestToken\";s:36:\"EXAMPLE2-90ab-cdef-fedc-ba987EXAMPLE\";s:8:\"SecretId\";s:20:\"MyTestDatabaseSecret\";s:12:\"SecretString\";s:54:\"{\"username\":\"david\",\"password\":\"BnQw!XDWgaEeT9XGTT29\"}\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:18:\"ClientRequestToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/ClientRequestTokenType\";s:11:\"description\";s:1728:\"<p>(Optional)
  Specifies a unique identifier for the new version of the secret. </p> <note> <p>If
  you use the AWS CLI or one of the AWS SDK to call this operation, then you can leave
  this parameter empty. The CLI or SDK generates a random UUID for you and includes
  that in the request. If you don't use the SDK and instead generate a raw HTTP request
  to the Secrets Manager service endpoint, then you must generate a <code>ClientRequestToken</code>
  yourself for new versions and include that value in the request. </p> </note> <p>This
  value helps ensure idempotency. Secrets Manager uses this value to prevent the accidental
  creation of duplicate versions if there are failures and retries during the Lambda
  rotation function's processing. We recommend that you generate a <a href=\"https://wikipedia.org/wiki/Universally_unique_identifier\">UUID-type</a>
  value to ensure uniqueness within the specified secret. </p> <ul> <li> <p>If the
  <code>ClientRequestToken</code> value isn't already associated with a version of
  the secret then a new version of the secret is created. </p> </li> <li> <p>If a
  version with this value already exists and that version's <code>SecretString</code>
  or <code>SecretBinary</code> values are the same as those in the request then the
  request is ignored (the operation is idempotent). </p> </li> <li> <p>If a version
  with this value already exists and that version's <code>SecretString</code> and
  <code>SecretBinary</code> values are different from those in the request then the
  request fails because you cannot modify an existing secret version. You can only
  create new versions to store new secret values.</p> </li> </ul> <p>This value becomes
  the <code>SecretVersionId</code> of the new version.</p>\";}s:12:\"SecretBinary\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/SecretBinaryType\";s:11:\"description\";s:530:\"<p>(Optional)
  Specifies binary data that you want to encrypt and store in the new version of the
  secret. To use this parameter in the command-line tools, we recommend that you store
  your binary data in a file and then use the appropriate technique for your tool
  to pass the contents of the file as a parameter. Either <code>SecretBinary</code>
  or <code>SecretString</code> must have a value, but not both. They cannot both be
  empty.</p> <p>This parameter is not accessible if the secret using the Secrets Manager
  console.</p> <p/>\";}s:8:\"SecretId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/SecretIdType\";s:11:\"description\";s:181:\"Specifies
  the secret to which you want to add a new version. You can specify either the Amazon
  Resource Name (ARN) or the friendly name of the secret. The secret must already
  exist.\";}s:12:\"SecretString\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/SecretStringType\";s:11:\"description\";s:1214:\"<p>(Optional)
  Specifies text data that you want to encrypt and store in this new version of the
  secret. Either <code>SecretString</code> or <code>SecretBinary</code> must have
  a value, but not both. They cannot both be empty.</p> <p>If you create this secret
  by using the Secrets Manager console then Secrets Manager puts the protected secret
  text in only the <code>SecretString</code> parameter. The Secrets Manager console
  stores the information as a JSON structure of key/value pairs that the default Lambda
  rotation function knows how to parse.</p> <p>For storing multiple values, we recommend
  that you use a JSON text string argument and specify key/value pairs. For information
  on how to format a JSON parameter for the various command line tool environments,
  see <a href=\"http://docs.aws.amazon.com/cli/latest/userguide/cli-using-param.html#cli-using-param-json\">Using
  JSON for Parameters</a> in the <i>AWS CLI User Guide</i>.</p> <p> For example:</p>
  <p> <code>[{\"username\":\"bob\"},{\"password\":\"abc123xyz456\"}]</code> </p> <p>If
  your command-line tool or SDK requires quotation marks around the parameter, you
  should use single quotes to avoid confusion with the double quotes required in the
  JSON text.</p>\";}s:13:\"VersionStages\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/SecretVersionStagesType\";s:11:\"description\";s:663:\"<p>(Optional)
  Specifies a list of staging labels that are attached to this version of the secret.
  These staging labels are used to track the versions through the rotation process
  by the Lambda rotation function.</p> <p>A staging label must be unique to a single
  version of the secret. If you specify a staging label that's already associated
  with a different version of the same secret then that staging label is automatically
  removed from the other version and attached to this version.</p> <p>If you do not
  specify a value for <code>VersionStages</code> then Secrets Manager automatically
  moves the staging label <code>AWSCURRENT</code> to this new version.</p>\";}}s:8:\"required\";a:1:{i:0;s:8:\"SecretId\";}s:4:\"type\";s:6:\"object\";}s:22:\"PutSecretValueResponse\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":4:{s:3:\"ARN\";s:80:\"arn:aws:secretsmanager:us-west-2:123456789012:secret:MyTestDatabaseSecret-a1b2c3\";s:4:\"Name\";s:20:\"MyTestDatabaseSecret\";s:9:\"VersionId\";s:36:\"EXAMPLE2-90ab-cdef-fedc-ba987EXAMPLE\";s:13:\"VersionStages\";a:1:{i:0;s:10:\"AWSCURRENT\";}}s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"ARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/SecretARNType\";s:11:\"description\";s:83:\"The
  Amazon Resource Name (ARN) for the secret for which you just created a version.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/SecretNameType\";s:11:\"description\";s:80:\"The
  friendly name of the secret for which you just created or updated a version.\";}s:9:\"VersionId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/SecretVersionIdType\";s:11:\"description\";s:79:\"The
  unique identifier of the version of the secret you just created or updated.\";}s:13:\"VersionStages\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/SecretVersionStagesType\";s:11:\"description\";s:182:\"The
  list of staging labels that are currently attached to this version of the secret.
  Staging labels are used to track a version as it progresses through the secret rotation
  process.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"RandomPasswordType\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:4096;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";}s:24:\"RecoveryWindowInDaysType\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:27:\"RequireEachIncludedTypeType\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:23:\"ResourceExistsException\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"A
  resource with the ID you requested already exists.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:25:\"ResourceNotFoundException\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"We
  can't find the resource that you asked for.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:20:\"RestoreSecretRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":1:{s:8:\"SecretId\";s:20:\"MyTestDatabaseSecret\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"SecretId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/SecretIdType\";s:11:\"description\";s:173:\"Specifies
  the secret that you want to restore from a previously scheduled deletion. You can
  specify either the Amazon Resource Name (ARN) or the friendly name of the secret.\";}}s:8:\"required\";a:1:{i:0;s:8:\"SecretId\";}s:4:\"type\";s:6:\"object\";}s:21:\"RestoreSecretResponse\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":2:{s:3:\"ARN\";s:80:\"arn:aws:secretsmanager:us-west-2:123456789012:secret:MyTestDatabaseSecret-a1b2c3\";s:4:\"Name\";s:20:\"MyTestDatabaseSecret\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"ARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/SecretARNType\";s:11:\"description\";s:40:\"The
  ARN of the secret that was restored.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/SecretNameType\";s:11:\"description\";s:50:\"The
  friendly name of the secret that was restored.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"RotateSecretRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":1:{s:8:\"SecretId\";s:20:\"MyTestDatabaseSecret\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:18:\"ClientRequestToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/ClientRequestTokenType\";s:11:\"description\";s:1780:\"<p>(Optional)
  Specifies a unique identifier for the new version of the secret that helps ensure
  idempotency. </p> <p>If you use the AWS CLI or one of the AWS SDK to call this operation,
  then you can leave this parameter empty. The CLI or SDK generates a random UUID
  for you and includes that in the request for this parameter. If you don't use the
  SDK and instead generate a raw HTTP request to the Secrets Manager service endpoint,
  then you must generate a <code>ClientRequestToken</code> yourself for new versions
  and include that value in the request.</p> <p>You only need to specify your own
  value if you are implementing your own retry logic and want to ensure that a given
  secret is not created twice. We recommend that you generate a <a href=\"https://wikipedia.org/wiki/Universally_unique_identifier\">UUID-type</a>
  value to ensure uniqueness within the specified secret. </p> <p>Secrets Manager
  uses this value to prevent the accidental creation of duplicate versions if there
  are failures and retries during the function's processing.</p> <ul> <li> <p>If the
  <code>ClientRequestToken</code> value isn't already associated with a version of
  the secret then a new version of the secret is created. </p> </li> <li> <p>If a
  version with this value already exists and that version's <code>SecretString</code>
  and <code>SecretBinary</code> values are the same as the request, then the request
  is ignored (the operation is idempotent). </p> </li> <li> <p>If a version with this
  value already exists and that version's <code>SecretString</code> and <code>SecretBinary</code>
  values are different from the request then an error occurs because you cannot modify
  an existing secret value.</p> </li> </ul> <p>This value becomes the <code>SecretVersionId</code>
  of the new version.</p>\";}s:17:\"RotationLambdaARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/RotationLambdaARNType\";s:11:\"description\";s:79:\"(Optional)
  Specifies the ARN of the Lambda function that can rotate the secret.\";}s:13:\"RotationRules\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/RotationRulesType\";s:11:\"description\";s:68:\"A
  structure that defines the rotation configuration for this secret.\";}s:8:\"SecretId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/SecretIdType\";s:11:\"description\";s:135:\"Specifies
  the secret that you want to rotate. You can specify either the Amazon Resource Name
  (ARN) or the friendly name of the secret.\";}}s:8:\"required\";a:1:{i:0;s:8:\"SecretId\";}s:4:\"type\";s:6:\"object\";}s:20:\"RotateSecretResponse\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":3:{s:9:\"SecretARN\";s:80:\"arn:aws:secretsmanager:us-west-2:123456789012:secret:MyTestDatabaseSecret-a1b2c3\";s:10:\"SecretName\";s:20:\"MyTestDatabaseSecret\";s:15:\"SecretVersionId\";s:36:\"EXAMPLE2-90ab-cdef-fedc-ba987SECRET2\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"ARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/SecretARNType\";s:11:\"description\";s:22:\"The
  ARN of the secret.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/SecretNameType\";s:11:\"description\";s:32:\"The
  friendly name of the secret.\";}s:9:\"VersionId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/SecretVersionIdType\";s:11:\"description\";s:88:\"The
  ID of the new version of the secret created by the rotation started by this request.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"RotationEnabledType\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:21:\"RotationLambdaARNType\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:2048;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";}s:17:\"RotationRulesType\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"A
  structure that defines the rotation configuration for the secret.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:22:\"AutomaticallyAfterDays\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:46:\"#/definitions/AutomaticallyRotateAfterDaysType\";s:11:\"description\";s:81:\"Specifies
  the number of days between automatic scheduled rotations of the secret.\";}}s:4:\"type\";s:6:\"object\";}s:13:\"SecretARNType\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:2048;s:9:\"minLength\";i:20;s:4:\"type\";s:6:\"string\";}s:16:\"SecretBinaryType\";O:8:\"stdClass\":4:{s:6:\"format\";s:8:\"password\";s:9:\"maxLength\";i:4096;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";}s:12:\"SecretIdType\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:2048;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:15:\"SecretListEntry\";O:8:\"stdClass\":3:{s:11:\"description\";s:213:\"A
  structure that contains the details about a secret. It does not include the encrypted
  <code>SecretString</code> and <code>SecretBinary</code> values. To get those values,
  use the <a>GetSecretValue</a> operation.\";s:10:\"properties\";O:8:\"stdClass\":13:{s:3:\"ARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/SecretARNType\";s:11:\"description\";s:296:\"<p>The
  Amazon Resource Name (ARN) of the secret.</p> <p>For more information about ARNs
  in Secrets Manager, see <a href=\"http://docs.aws.amazon.com/secretsmanager/latest/userguide/reference_iam-permissions.html#iam-resources\">Policy
  Resources</a> in the <i>AWS Secrets Manager User Guide</i>.</p>\";}s:11:\"DeletedDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/DeletedDateType\";s:11:\"description\";s:272:\"The
  date and time on which this secret was deleted. Not present on active secrets. The
  secret can be recovered until the number of days in the recovery window has passed,
  as specified in the <code>RecoveryWindowInDays</code> parameter of the <a>DeleteSecret</a>
  operation.\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/DescriptionType\";s:11:\"description\";s:44:\"The
  user-provided description of the secret.\";}s:8:\"KmsKeyId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/KmsKeyIdType\";s:11:\"description\";s:358:\"The
  ARN or alias of the AWS KMS customer master key (CMK) that's used to encrypt the
  <code>SecretString</code> and <code>SecretBinary</code> fields in each version of
  the secret. If you don't provide a key, then Secrets Manager defaults to encrypting
  the secret fields with the default KMS CMK (the one named <code>awssecretsmanager</code>)
  for this account.\";}s:16:\"LastAccessedDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/LastAccessedDateType\";s:11:\"description\";s:141:\"The
  last date that this secret was accessed. This value is truncated to midnight of
  the date and therefore shows only the date, not the time.\";}s:15:\"LastChangedDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/LastChangedDateType\";s:11:\"description\";s:64:\"The
  last date and time that this secret was modified in any way.\";}s:15:\"LastRotatedDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/LastRotatedDateType\";s:11:\"description\";s:77:\"The
  last date and time that the rotation process for this secret was invoked.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/SecretNameType\";s:11:\"description\";s:295:\"The
  friendly name of the secret. You can use forward slashes in the name to represent
  a path hierarchy. For example, <code>/prod/databases/dbserver1</code> could represent
  the secret for a server named <code>dbserver1</code> in the folder <code>databases</code>
  in the folder <code>prod</code>. \";}s:15:\"RotationEnabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/RotationEnabledType\";s:11:\"description\";s:75:\"Indicated
  whether automatic, scheduled rotation is enabled for this secret.\";}s:17:\"RotationLambdaARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/RotationLambdaARNType\";s:11:\"description\";s:183:\"The
  ARN of an AWS Lambda function that's invoked by Secrets Manager to rotate and expire
  the secret either automatically per the schedule or manually by a call to <a>RotateSecret</a>.\";}s:13:\"RotationRules\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/RotationRulesType\";s:11:\"description\";s:67:\"A
  structure that defines the rotation configuration for the secret.\";}s:22:\"SecretVersionsToStages\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:43:\"#/definitions/SecretVersionsToStagesMapType\";s:11:\"description\";s:431:\"<p>A
  list of all of the currently assigned <code>SecretVersionStage</code> staging labels
  and the <code>SecretVersionId</code> that each is attached to. Staging labels are
  used to keep track of the different versions during the rotation process.</p> <note>
  <p>A version that does not have any <code>SecretVersionStage</code> is considered
  deprecated and subject to deletion. Such versions are not included in this list.</p>
  </note>\";}s:4:\"Tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/TagListType\";s:11:\"description\";s:157:\"The
  list of user-defined tags that are associated with the secret. To add tags to a
  secret, use <a>TagResource</a>. To remove tags, use <a>UntagResource</a>.\";}}s:4:\"type\";s:6:\"object\";}s:14:\"SecretListType\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/SecretListEntry\";}s:4:\"type\";s:5:\"array\";}s:14:\"SecretNameType\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:256;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:16:\"SecretStringType\";O:8:\"stdClass\":4:{s:6:\"format\";s:8:\"password\";s:9:\"maxLength\";i:4096;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";}s:19:\"SecretVersionIdType\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:64;s:9:\"minLength\";i:32;s:4:\"type\";s:6:\"string\";}s:22:\"SecretVersionStageType\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:256;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:23:\"SecretVersionStagesType\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/SecretVersionStageType\";}s:8:\"maxItems\";i:20;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:23:\"SecretVersionsListEntry\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"A
  structure that contains information about one version of a secret.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"CreatedDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/CreatedDateType\";s:11:\"description\";s:57:\"The
  date and time this version of the secret was created.\";}s:16:\"LastAccessedDate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/LastAccessedDateType\";s:11:\"description\";s:150:\"The
  date that this version of the secret was last accessed. Note that the resolution
  of this field is at the date level and does not include the time.\";}s:9:\"VersionId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/SecretVersionIdType\";s:11:\"description\";s:60:\"The
  unique version identifier of this version of the secret.\";}s:13:\"VersionStages\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/SecretVersionStagesType\";s:11:\"description\";s:89:\"An
  array of staging labels that are currently associated with this version of the secret.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"SecretVersionsListType\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/SecretVersionsListEntry\";}s:4:\"type\";s:5:\"array\";}s:29:\"SecretVersionsToStagesMapType\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/SecretVersionIdType\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/SecretVersionStagesType\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:3:\"Tag\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"A
  structure that contains information about a tag.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"Key\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/TagKeyType\";s:11:\"description\";s:40:\"The
  key identifier, or name, of the tag.\";}s:5:\"Value\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/TagValueType\";s:11:\"description\";s:59:\"The
  string value that's associated with the key of the tag.\";}}s:4:\"type\";s:6:\"object\";}s:14:\"TagKeyListType\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/TagKeyType\";}s:4:\"type\";s:5:\"array\";}s:10:\"TagKeyType\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:128;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:11:\"TagListType\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Tag\";}s:4:\"type\";s:5:\"array\";}s:18:\"TagResourceRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":2:{s:8:\"SecretId\";s:15:\"MyExampleSecret\";s:4:\"Tags\";a:2:{i:0;O:8:\"stdClass\":2:{s:3:\"Key\";s:8:\"FirstTag\";s:5:\"Value\";s:9:\"SomeValue\";}i:1;O:8:\"stdClass\":2:{s:3:\"Key\";s:9:\"SecondTag\";s:5:\"Value\";s:12:\"AnotherValue\";}}}s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"SecretId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/SecretIdType\";s:11:\"description\";s:152:\"The
  identifier for the secret that you want to attach tags to. You can specify either
  the Amazon Resource Name (ARN) or the friendly name of the secret.\";}s:4:\"Tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/TagListType\";s:11:\"description\";s:584:\"<p>The
  tags to attach to the secret. Each element in the list consists of a <code>Key</code>
  and a <code>Value</code>.</p> <p>This parameter to the API requires a JSON text
  string argument. For information on how to format a JSON parameter for the various
  command line tool environments, see <a href=\"http://docs.aws.amazon.com/cli/latest/userguide/cli-using-param.html#cli-using-param-json\">Using
  JSON for Parameters</a> in the <i>AWS CLI User Guide</i>. For the AWS CLI, you can
  also use the syntax: <code>--Tags Key=\"Key1\",Value=\"Value1\",Key=\"Key2\",Value=\"Value2\"[,\u2026]</code>
  </p>\";}}s:8:\"required\";a:2:{i:0;s:8:\"SecretId\";i:1;s:4:\"Tags\";}s:4:\"type\";s:6:\"object\";}s:12:\"TagValueType\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:256;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";}s:20:\"UntagResourceRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":2:{s:8:\"SecretId\";s:20:\"MyTestDatabaseSecret\";s:7:\"TagKeys\";a:2:{i:0;s:8:\"FirstTag\";i:1;s:9:\"SecondTag\";}}s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"SecretId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/SecretIdType\";s:11:\"description\";s:154:\"The
  identifier for the secret that you want to remove tags from. You can specify either
  the Amazon Resource Name (ARN) or the friendly name of the secret.\";}s:7:\"TagKeys\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/TagKeyListType\";s:11:\"description\";s:474:\"<p>A
  list of tag key names to remove from the secret. You don't specify the value. Both
  the key and its associated value are removed.</p> <p>This parameter to the API requires
  a JSON text string argument. For information on how to format a JSON parameter for
  the various command line tool environments, see <a href=\"http://docs.aws.amazon.com/cli/latest/userguide/cli-using-param.html#cli-using-param-json\">Using
  JSON for Parameters</a> in the <i>AWS CLI User Guide</i>.</p>\";}}s:8:\"required\";a:2:{i:0;s:8:\"SecretId\";i:1;s:7:\"TagKeys\";}s:4:\"type\";s:6:\"object\";}s:19:\"UpdateSecretRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":2:{s:8:\"SecretId\";s:20:\"MyTestDatabaseSecret\";s:12:\"SecretString\";s:30:\"{JSON
  STRING WITH CREDENTIALS}\";}s:10:\"properties\";O:8:\"stdClass\":6:{s:18:\"ClientRequestToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/ClientRequestTokenType\";s:11:\"description\";s:1839:\"<p>(Optional)
  If you want to add a new version to the secret, this parameter specifies a unique
  identifier for the new version that helps ensure idempotency. </p> <p>If you use
  the AWS CLI or one of the AWS SDK to call this operation, then you can leave this
  parameter empty. The CLI or SDK generates a random UUID for you and includes that
  in the request. If you don't use the SDK and instead generate a raw HTTP request
  to the Secrets Manager service endpoint, then you must generate a <code>ClientRequestToken</code>
  yourself for new versions and include that value in the request.</p> <p>You typically
  only need to interact with this value if you implement your own retry logic and
  want to ensure that a given secret is not created twice. We recommend that you generate
  a <a href=\"https://wikipedia.org/wiki/Universally_unique_identifier\">UUID-type</a>
  value to ensure uniqueness within the specified secret. </p> <p>Secrets Manager
  uses this value to prevent the accidental creation of duplicate versions if there
  are failures and retries during the Lambda rotation function's processing.</p> <ul>
  <li> <p>If the <code>ClientRequestToken</code> value isn't already associated with
  a version of the secret then a new version of the secret is created. </p> </li>
  <li> <p>If a version with this value already exists and that version's <code>SecretString</code>
  and <code>SecretBinary</code> values are the same as those in the request then the
  request is ignored (the operation is idempotent). </p> </li> <li> <p>If a version
  with this value already exists and that version's <code>SecretString</code> and
  <code>SecretBinary</code> values are different from the request then an error occurs
  because you cannot modify an existing secret value.</p> </li> </ul> <p>This value
  becomes the <code>SecretVersionId</code> of the new version.</p>\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/DescriptionType\";s:11:\"description\";s:63:\"(Optional)
  Specifies a user-provided description of the secret.\";}s:8:\"KmsKeyId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/KmsKeyIdType\";s:11:\"description\";s:826:\"<p>(Optional)
  Specifies the ARN or alias of the AWS KMS customer master key (CMK) to be used to
  encrypt the protected text in the versions of this secret.</p> <p>If you don't specify
  this value, then Secrets Manager defaults to using the default CMK in the account
  (the one named <code>aws/secretsmanager</code>). If a AWS KMS CMK with that name
  doesn't exist, then Secrets Manager creates it for you automatically the first time
  it needs to encrypt a version's <code>Plaintext</code> or <code>PlaintextString</code>
  fields.</p> <important> <p>You can only use the account's default CMK to encrypt
  and decrypt if you call this operation using credentials from the same account that
  owns the secret. If the secret is in a different account, then you must create a
  custom CMK and provide the ARN in this field. </p> </important>\";}s:12:\"SecretBinary\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/SecretBinaryType\";s:11:\"description\";s:511:\"<p>(Optional)
  Specifies binary data that you want to encrypt and store in the new version of the
  secret. To use this parameter in the command-line tools, we recommend that you store
  your binary data in a file and then use the appropriate technique for your tool
  to pass the contents of the file as a parameter. Either <code>SecretBinary</code>
  or <code>SecretString</code> must have a value, but not both. They cannot both be
  empty.</p> <p>This parameter is not accessible using the Secrets Manager console.</p>\";}s:8:\"SecretId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/SecretIdType\";s:11:\"description\";s:177:\"Specifies
  the secret that you want to update or to which you want to add a new version. You
  can specify either the Amazon Resource Name (ARN) or the friendly name of the secret.\";}s:12:\"SecretString\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/SecretStringType\";s:11:\"description\";s:1206:\"<p>(Optional)
  Specifies text data that you want to encrypt and store in this new version of the
  secret. Either <code>SecretBinary</code> or <code>SecretString</code> must have
  a value, but not both. They cannot both be empty.</p> <p>If you create this secret
  by using the Secrets Manager console then Secrets Manager puts the protected secret
  text in only the <code>SecretString</code> parameter. The Secrets Manager console
  stores the information as a JSON structure of key/value pairs that the default Lambda
  rotation function knows how to parse.</p> <p>For storing multiple values, we recommend
  that you use a JSON text string argument and specify key/value pairs. For information
  on how to format a JSON parameter for the various command line tool environments,
  see <a href=\"http://docs.aws.amazon.com/cli/latest/userguide/cli-using-param.html#cli-using-param-json\">Using
  JSON for Parameters</a> in the <i>AWS CLI User Guide</i>. For example:</p> <p> <code>[{\"username\":\"bob\"},{\"password\":\"abc123xyz456\"}]</code>
  </p> <p>If your command-line tool or SDK requires quotation marks around the parameter,
  you should use single quotes to avoid confusion with the double quotes required
  in the JSON text.</p>\";}}s:8:\"required\";a:1:{i:0;s:8:\"SecretId\";}s:4:\"type\";s:6:\"object\";}s:20:\"UpdateSecretResponse\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":3:{s:3:\"ARN\";s:80:\"aws:arn:secretsmanager:us-west-2:123456789012:secret:MyTestDatabaseSecret-a1b2c3\";s:4:\"Name\";s:20:\"MyTestDatabaseSecret\";s:9:\"VersionId\";s:36:\"EXAMPLE1-90ab-cdef-fedc-ba987EXAMPLE\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"ARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/SecretARNType\";s:11:\"description\";s:482:\"<p>The
  ARN of this secret.</p> <note> <p>Secrets Manager automatically adds several random
  characters to the name at the end of the ARN when you initially create a secret.
  This affects only the ARN and not the actual friendly name. This ensures that if
  you create a new secret with the same name as an old secret that you previously
  deleted, then users with access to the old secret <i>don't</i> automatically get
  access to the new secret because the ARNs are different.</p> </note>\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/SecretNameType\";s:11:\"description\";s:33:\"The
  friendly name of this secret.\";}s:9:\"VersionId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/SecretVersionIdType\";s:11:\"description\";s:108:\"If
  a version of the secret was created or updated by this operation, then its unique
  identifier is returned.\";}}s:4:\"type\";s:6:\"object\";}s:31:\"UpdateSecretVersionStageRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":4:{s:15:\"MoveToVersionId\";s:36:\"EXAMPLE2-90ab-cdef-fedc-ba987SECRET2\";s:19:\"RemoveFromVersionId\";s:36:\"EXAMPLE1-90ab-cdef-fedc-ba987SECRET1\";s:8:\"SecretId\";s:20:\"MyTestDatabaseSecret\";s:12:\"VersionStage\";s:10:\"AWSCURRENT\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:15:\"MoveToVersionId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/SecretVersionIdType\";s:11:\"description\";s:254:\"<p>(Optional)
  The secret version ID that you want to add the staging labels to.</p> <p>If any
  of the staging labels are already attached to a different version of the secret,
  then they are removed from that version before adding them to this version.</p>\";}s:19:\"RemoveFromVersionId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/SecretVersionIdType\";s:11:\"description\";s:605:\"<p>(Optional)
  Specifies the secret version ID of the version that the staging labels are to be
  removed from.</p> <p>If you want to move a label to a new version, you do not have
  to explicitly remove it with this parameter. Adding a label using the <code>MoveToVersionId</code>
  parameter automatically removes it from the old version. However, if you do include
  both the \"MoveTo\" and \"RemoveFrom\" parameters, then the move is successful only
  if the staging labels are actually present on the \"RemoveFrom\" version. If a staging
  label was on a different version than \"RemoveFrom\", then the request fails.</p>\";}s:8:\"SecretId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/SecretIdType\";s:11:\"description\";s:176:\"Specifies
  the secret with the version whose list of staging labels you want to modify. You
  can specify either the Amazon Resource Name (ARN) or the friendly name of the secret.\";}s:12:\"VersionStage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/SecretVersionStageType\";s:11:\"description\";s:50:\"The
  list of staging labels to add to this version.\";}}s:8:\"required\";a:2:{i:0;s:8:\"SecretId\";i:1;s:12:\"VersionStage\";}s:4:\"type\";s:6:\"object\";}s:32:\"UpdateSecretVersionStageResponse\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":2:{s:3:\"ARN\";s:80:\"arn:aws:secretsmanager:us-west-2:123456789012:secret:MyTestDatabaseSecret-a1b2c3\";s:4:\"Name\";s:20:\"MyTestDatabaseSecret\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"ARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/SecretARNType\";s:11:\"description\";s:65:\"The
  ARN of the secret with the staging labels that were modified.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/SecretNameType\";s:11:\"description\";s:75:\"The
  friendly name of the secret with the staging labels that were modified.\";}}s:4:\"type\";s:6:\"object\";}}"
...
