---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:11:\"description\";s:209:\"El API permite
  registrar, consultar, modificar y eliminar datos del sistema de informaci\xF3n de
  la  Instituci\xF3n Educativa. Las funcionalidades estar\xE1n asociadas a las entidades
  de Estudiante, Docente y Curso.\";s:7:\"version\";s:5:\"1.0.0\";s:5:\"title\";s:13:\"CRUD
  REST API\";}"
host: li1115-212.members.linode.com
basePath: /v1
paths:
  /students:
    post:
      tags:
      - Estudiante
      summary: Registra un nuevo estudiante al sistema de informaciu00f3n
      description: Al registrar un nuevo estudiante se consulta el api externo api.genderize.io
        para verificar que el gu00e9nero y los nombres ingresados son coherentes.
        Se envia el resultado en la respuesta con el fin de que el administrador revise
        posibles errores al ingresar los datos del estudiante
      operationId: createStudent
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: body
        description: Datos de estudiante a registrar
        required: true
        schema:
          $ref: '#/definitions/Estudiante'
      responses:
        200:
          description: Objeto con atributo checkGender calculado usando api.genderize.io
            (determina si es necesario revisar el gu00e9nero ingresado)
          schema:
            type: object
            properties:
              checkGender:
                type: boolean
                description: Determina si es necesario revisar el gu00e9nero ingresado
    get:
      tags:
      - Estudiante
      summary: Consulta estudiantes en el sistema de informaciu00f3n
      description: Se consultaru00e1 la lista de todos los estudiantes en caso de
        no especificar un texto asociado a la consulta. La lista de estudiantes seru00e1n
        paginados con un mu00e1ximo de 10 elementos por pu00e1gina
      operationId: getStudent
      produces:
      - application/json
      parameters:
      - name: query
        in: query
        description: Texto asociado a la consulta de un estudiante.
        type: string
      - name: page
        in: query
        description: Numero de pagina asociada a la paginaciu00f3n de la lista de
          resultados
        type: integer
      responses:
        200:
          description: Lista de estudiantes asociados a la consulta
          schema:
            type: array
            items:
              $ref: '#/definitions/Estudiante'
  /students/{studentID}:
    put:
      tags:
      - Estudiante
      summary: Modifica los datos de un estudiante
      description: ""
      operationId: updateStudent
      consumes:
      - application/json
      parameters:
      - name: studentID
        in: path
        description: Identificador de MongoDB asociado al estudiante
        required: true
        type: string
      - in: body
        name: body
        description: Objeto con los nuevos datos del estudiante
        required: true
        schema:
          $ref: '#/definitions/Estudiante'
      responses:
        200:
          description: Se han modificado los datos del estudiante
    delete:
      tags:
      - Estudiante
      summary: Elimina los datos de un estudiante
      description: ""
      operationId: deleteStudent
      parameters:
      - name: studentID
        in: path
        description: Identificador de MongoDB asociado al estudiante
        required: true
        type: string
      responses:
        200:
          description: Se han eliminado los datos del estudiante
  /teachers:
    post:
      tags:
      - Docente
      summary: Registra un nuevo docente al sistema de informaciu00f3n
      description: Al registrar un nuevo docente se consulta el api externo api.genderize.io
        para verificar que el gu00e9nero y los nombres ingresados son coherentes.
        Se envia el resultado en la respuesta con el fin de que el administrador revise
        posibles errores al ingresar los datos del docente
      operationId: createTeacher
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: body
        description: Datos de docente a registrar
        required: true
        schema:
          $ref: '#/definitions/Docente'
      responses:
        200:
          description: Objeto con atributo checkGender calculado usando api.genderize.io
            (determina si es necesario revisar el gu00e9nero ingresado)
          schema:
            type: object
            properties:
              checkGender:
                type: boolean
                description: Determina si es necesario revisar el gu00e9nero ingresado
    get:
      tags:
      - Docente
      summary: Consulta docentes en el sistema de informaciu00f3n
      description: Se consultaru00e1 la lista de todos los docentes en caso de no
        especificar un texto asociado a la consulta. La lista de docentes seru00e1n
        paginados con un mu00e1ximo de 10 elementos por pu00e1gina
      operationId: getTeacher
      produces:
      - application/json
      parameters:
      - name: query
        in: query
        description: Texto asociado a la consulta de un docente.
        type: string
      - name: page
        in: query
        description: Numero de pagina asociada a la paginaciu00f3n de la lista de
          resultados
        type: integer
      responses:
        200:
          description: Lista de docentes asociados a la consulta
          schema:
            type: array
            items:
              $ref: '#/definitions/Docente'
  /teachers/{teacherID}:
    put:
      tags:
      - Docente
      summary: Modifica los datos de un docente
      description: ""
      operationId: updateTeacher
      consumes:
      - application/json
      parameters:
      - name: teacherID
        in: path
        description: Identificador de MongoDB asociado al docente
        required: true
        type: string
      - in: body
        name: body
        description: Objeto con los nuevos datos del docente
        required: true
        schema:
          $ref: '#/definitions/Docente'
      responses:
        200:
          description: Se han modificado los datos del docente
    delete:
      tags:
      - Docente
      summary: Elimina los datos de un docente
      description: ""
      operationId: deleteTeacher
      parameters:
      - name: teacherID
        in: path
        description: Identificador de MongoDB asociado al docente
        required: true
        type: string
      responses:
        200:
          description: Se han eliminado los datos del docente
  /courses:
    post:
      tags:
      - Curso
      summary: Registra un nuevo curso al sistema de informaciu00f3n
      description: ""
      operationId: createCourse
      consumes:
      - application/json
      parameters:
      - in: body
        name: body
        description: Datos de curso a registrar
        required: true
        schema:
          $ref: '#/definitions/Curso'
      responses:
        200:
          description: Se ha registrado un nuevo curso
    get:
      tags:
      - Curso
      summary: Consulta cursos en el sistema de informaciu00f3n
      description: Se consultaru00e1 la lista de todos los cursos en caso de no especificar
        un texto asociado a la consulta. La lista de cursos seru00e1n paginados con
        un mu00e1ximo de 10 elementos por pu00e1gina
      operationId: getCourse
      produces:
      - application/json
      parameters:
      - name: query
        in: query
        description: Texto asociado a la consulta de un curso
        type: string
      - name: page
        in: query
        description: Numero de pagina asociada a la paginaciu00f3n de la lista de
          resultados
        type: integer
      responses:
        200:
          description: Lista de cursos asociados a la consulta
          schema:
            type: array
            items:
              $ref: '#/definitions/Curso'
  /courses/{courseID}:
    put:
      tags:
      - Curso
      summary: Modifica los datos de un curso
      description: ""
      operationId: updateCourse
      consumes:
      - application/json
      parameters:
      - name: courseID
        in: path
        description: Identificador de MongoDB asociado al curso
        required: true
        type: string
      - in: body
        name: body
        description: Objeto con los nuevos datos del curso
        required: true
        schema:
          $ref: '#/definitions/Curso'
      responses:
        200:
          description: Se han modificado los datos del curso
    delete:
      tags:
      - Curso
      summary: Elimina los datos de un curso
      description: ""
      operationId: deleteCourse
      parameters:
      - name: courseID
        in: path
        description: Identificador de MongoDB asociado al curso
        required: true
        type: string
      responses:
        200:
          description: Se han eliminado los datos del curso
schemes:
- http
definitions: !php/object "O:8:\"stdClass\":3:{s:10:\"Estudiante\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"givenName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"Nombres
  de estudiante\";}s:10:\"familyName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"Apellidos
  de estudiante\";}s:10:\"personalId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Identificaci\xF3n
  de estudiante\";}s:6:\"gender\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"G\xE9nero
  de estudiante\";}}}s:7:\"Docente\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"givenName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"Nombres
  del docente\";}s:10:\"familyName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"Apellidos
  del docente\";}s:10:\"personalId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"Identificaci\xF3n
  del docente\";}s:6:\"gender\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"G\xE9nero
  del docente\";}}}s:5:\"Curso\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"Nombre
  del curso\";}s:8:\"courseId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"C\xF3digo
  del curso\";}s:12:\"observations\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"Observaciones
  del curso\";}}}}"
...
