---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":9:{s:7:\"contact\";O:8:\"stdClass\":1:{s:9:\"x-twitter\";s:6:\"vocadb\";}s:5:\"title\";s:6:\"VocaDB\";s:7:\"version\";s:2:\"v1\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"media\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_vocadb_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:33:\"http://vocadb.net/swagger/docs/v1\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:10:\"vocadb.net\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"vocadb\";s:4:\"type\";s:7:\"openapi\";}}"
host: vocadb.net
paths: ~
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":73:{s:27:\"ActivityEntryForApiContract\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:15:\"archivedVersion\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:49:\"#/definitions/ArchivedObjectVersionForApiContract\";}s:6:\"author\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/UserForApiContract\";}s:10:\"createDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:9:\"editEvent\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:7:\"Created\";i:1;s:7:\"Updated\";i:2;s:7:\"Deleted\";i:3;s:8:\"Restored\";}s:4:\"type\";s:6:\"string\";}s:5:\"entry\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/EntryForApiContract\";}}s:4:\"type\";s:6:\"object\";}s:20:\"AdvancedSearchFilter\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"filterType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:16:{i:0;s:7:\"Nothing\";i:1;s:10:\"ArtistType\";i:2;s:7:\"WebLink\";i:3;s:14:\"HasUserAccount\";i:4;s:13:\"RootVoicebank\";i:5;s:13:\"VoiceProvider\";i:6;s:12:\"HasStoreLink\";i:7;s:9:\"HasTracks\";i:8;s:14:\"NoCoverPicture\";i:9;s:8:\"HasAlbum\";i:10;s:16:\"HasOriginalMedia\";i:11;s:8:\"HasMedia\";i:12;s:21:\"HasMultipleVoicebanks\";i:13;s:14:\"HasPublishDate\";i:14;s:6:\"Lyrics\";i:15;s:13:\"LyricsContent\";}s:4:\"type\";s:6:\"string\";}s:6:\"negate\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:5:\"param\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"AlbumContract\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":14:{s:15:\"additionalNames\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"artistString\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"coverPictureMime\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"createDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"deleted\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"discType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:12:{i:0;s:7:\"Unknown\";i:1;s:5:\"Album\";i:2;s:6:\"Single\";i:3;s:2:\"EP\";i:4;s:10:\"SplitAlbum\";i:5;s:11:\"Compilation\";i:6;s:5:\"Video\";i:7;s:7:\"Artbook\";i:8;s:4:\"Game\";i:9;s:7:\"Fanmade\";i:10;s:12:\"Instrumental\";i:11;s:5:\"Other\";}s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"ratingAverage\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:11:\"ratingCount\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"releaseDate\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/OptionalDateTimeContract\";}s:12:\"releaseEvent\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/ReleaseEventForApiContract\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:5:\"Draft\";i:1;s:8:\"Finished\";i:2;s:8:\"Approved\";i:3;s:6:\"Locked\";}s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:27:\"AlbumDiscPropertiesContract\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"discNumber\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"mediaType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:5:\"Audio\";i:1;s:5:\"Video\";}s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"AlbumForApiContract\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":28:{s:15:\"additionalNames\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"artistString\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"artists\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/ArtistForAlbumForApiContract\";}s:4:\"type\";s:5:\"array\";}s:7:\"barcode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"catalogNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"createDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"defaultName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"defaultNameLanguage\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:11:\"Unspecified\";i:1;s:8:\"Japanese\";i:2;s:6:\"Romaji\";i:3;s:7:\"English\";}s:4:\"type\";s:6:\"string\";}s:7:\"deleted\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"discType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:12:{i:0;s:7:\"Unknown\";i:1;s:5:\"Album\";i:2;s:6:\"Single\";i:3;s:2:\"EP\";i:4;s:10:\"SplitAlbum\";i:5;s:11:\"Compilation\";i:6;s:5:\"Video\";i:7;s:7:\"Artbook\";i:8;s:4:\"Game\";i:9;s:7:\"Fanmade\";i:10;s:12:\"Instrumental\";i:11;s:5:\"Other\";}s:4:\"type\";s:6:\"string\";}s:5:\"discs\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/AlbumDiscPropertiesContract\";}s:4:\"type\";s:5:\"array\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"identifiers\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/AlbumIdentifierContract\";}s:4:\"type\";s:5:\"array\";}s:11:\"mainPicture\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/EntryThumbForApiContract\";}s:8:\"mergedTo\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"names\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/LocalizedStringContract\";}s:4:\"type\";s:5:\"array\";}s:3:\"pvs\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/PVContract\";}s:4:\"type\";s:5:\"array\";}s:13:\"ratingAverage\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:11:\"ratingCount\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"releaseDate\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/OptionalDateTimeContract\";}s:12:\"releaseEvent\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/ReleaseEventForApiContract\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:5:\"Draft\";i:1;s:8:\"Finished\";i:2;s:8:\"Approved\";i:3;s:6:\"Locked\";}s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/TagUsageForApiContract\";}s:4:\"type\";s:5:\"array\";}s:6:\"tracks\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/SongInAlbumForApiContract\";}s:4:\"type\";s:5:\"array\";}s:7:\"version\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"webLinks\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/WebLinkForApiContract\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:26:\"AlbumForUserForApiContract\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"album\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/AlbumForApiContract\";}s:9:\"mediaType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:12:\"PhysicalDisc\";i:1;s:15:\"DigitalDownload\";i:2;s:5:\"Other\";}s:4:\"type\";s:6:\"string\";}s:14:\"purchaseStatus\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:7:\"Nothing\";i:1;s:10:\"Wishlisted\";i:2;s:7:\"Ordered\";i:3;s:5:\"Owned\";}s:4:\"type\";s:6:\"string\";}s:6:\"rating\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:23:\"AlbumIdentifierContract\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:35:\"ArchivedObjectVersionForApiContract\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"changedFields\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:5:\"notes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:23:\"ArchivedWebLinkContract\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"category\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:8:\"Official\";i:1;s:10:\"Commercial\";i:2;s:9:\"Reference\";i:3;s:5:\"Other\";}s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"ArtistContract\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:15:\"additionalNames\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"artistType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:18:{i:0;s:7:\"Unknown\";i:1;s:6:\"Circle\";i:2;s:5:\"Label\";i:3;s:8:\"Producer\";i:4;s:8:\"Animator\";i:5;s:11:\"Illustrator\";i:6;s:8:\"Lyricist\";i:7;s:8:\"Vocaloid\";i:8;s:4:\"UTAU\";i:9;s:5:\"CeVIO\";i:10;s:21:\"OtherVoiceSynthesizer\";i:11;s:13:\"OtherVocalist\";i:12;s:10:\"OtherGroup\";i:13;s:15:\"OtherIndividual\";i:14;s:6:\"Utaite\";i:15;s:4:\"Band\";i:16;s:8:\"Vocalist\";i:17;s:9:\"Character\";}s:4:\"type\";s:6:\"string\";}s:7:\"deleted\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"pictureMime\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"releaseDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:5:\"Draft\";i:1;s:8:\"Finished\";i:2;s:8:\"Approved\";i:3;s:6:\"Locked\";}s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:28:\"ArtistForAlbumForApiContract\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:6:\"artist\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ArtistContract\";}s:10:\"categories\";O:8:\"stdClass\":2:{s:4:\"enum\";a:10:{i:0;s:7:\"Nothing\";i:1;s:8:\"Vocalist\";i:2;s:8:\"Producer\";i:3;s:8:\"Animator\";i:4;s:5:\"Label\";i:5;s:6:\"Circle\";i:6;s:5:\"Other\";i:7;s:4:\"Band\";i:8;s:11:\"Illustrator\";i:9;s:7:\"Subject\";}s:4:\"type\";s:6:\"string\";}s:14:\"effectiveRoles\";O:8:\"stdClass\":2:{s:4:\"enum\";a:17:{i:0;s:7:\"Default\";i:1;s:8:\"Animator\";i:2;s:8:\"Arranger\";i:3;s:8:\"Composer\";i:4;s:11:\"Distributor\";i:5;s:11:\"Illustrator\";i:6;s:15:\"Instrumentalist\";i:7;s:8:\"Lyricist\";i:8;s:9:\"Mastering\";i:9;s:9:\"Publisher\";i:10;s:8:\"Vocalist\";i:11;s:16:\"VoiceManipulator\";i:12;s:5:\"Other\";i:13;s:5:\"Mixer\";i:14;s:6:\"Chorus\";i:15;s:7:\"Encoder\";i:16;s:17:\"VocalDataProvider\";}s:4:\"type\";s:6:\"string\";}s:9:\"isSupport\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"roles\";O:8:\"stdClass\":2:{s:4:\"enum\";a:17:{i:0;s:7:\"Default\";i:1;s:8:\"Animator\";i:2;s:8:\"Arranger\";i:3;s:8:\"Composer\";i:4;s:11:\"Distributor\";i:5;s:11:\"Illustrator\";i:6;s:15:\"Instrumentalist\";i:7;s:8:\"Lyricist\";i:8;s:9:\"Mastering\";i:9;s:9:\"Publisher\";i:10;s:8:\"Vocalist\";i:11;s:16:\"VoiceManipulator\";i:12;s:5:\"Other\";i:13;s:5:\"Mixer\";i:14;s:6:\"Chorus\";i:15;s:7:\"Encoder\";i:16;s:17:\"VocalDataProvider\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"ArtistForApiContract\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":21:{s:15:\"additionalNames\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"artistLinks\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/ArtistForArtistForApiContract\";}s:4:\"type\";s:5:\"array\";}s:18:\"artistLinksReverse\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/ArtistForArtistForApiContract\";}s:4:\"type\";s:5:\"array\";}s:10:\"artistType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:18:{i:0;s:7:\"Unknown\";i:1;s:6:\"Circle\";i:2;s:5:\"Label\";i:3;s:8:\"Producer\";i:4;s:8:\"Animator\";i:5;s:11:\"Illustrator\";i:6;s:8:\"Lyricist\";i:7;s:8:\"Vocaloid\";i:8;s:4:\"UTAU\";i:9;s:5:\"CeVIO\";i:10;s:21:\"OtherVoiceSynthesizer\";i:11;s:13:\"OtherVocalist\";i:12;s:10:\"OtherGroup\";i:13;s:15:\"OtherIndividual\";i:14;s:6:\"Utaite\";i:15;s:4:\"Band\";i:16;s:8:\"Vocalist\";i:17;s:9:\"Character\";}s:4:\"type\";s:6:\"string\";}s:13:\"baseVoicebank\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ArtistContract\";}s:10:\"createDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"defaultName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"defaultNameLanguage\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:11:\"Unspecified\";i:1;s:8:\"Japanese\";i:2;s:6:\"Romaji\";i:3;s:7:\"English\";}s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"mainPicture\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/EntryThumbForApiContract\";}s:8:\"mergedTo\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"names\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/LocalizedStringContract\";}s:4:\"type\";s:5:\"array\";}s:11:\"pictureMime\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"relations\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/ArtistRelationsForApi\";}s:11:\"releaseDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:5:\"Draft\";i:1;s:8:\"Finished\";i:2;s:8:\"Approved\";i:3;s:6:\"Locked\";}s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/TagUsageForApiContract\";}s:4:\"type\";s:5:\"array\";}s:7:\"version\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"webLinks\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/WebLinkForApiContract\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:29:\"ArtistForArtistForApiContract\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"artist\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ArtistContract\";}s:8:\"linkType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:5:{i:0;s:17:\"CharacterDesigner\";i:1;s:5:\"Group\";i:2;s:11:\"Illustrator\";i:3;s:7:\"Manager\";i:4;s:13:\"VoiceProvider\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:22:\"ArtistForEventContract\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"artist\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ArtistContract\";}s:14:\"effectiveRoles\";O:8:\"stdClass\":2:{s:4:\"enum\";a:11:{i:0;s:7:\"Default\";i:1;s:6:\"Dancer\";i:2;s:2:\"DJ\";i:3;s:15:\"Instrumentalist\";i:4;s:9:\"Organizer\";i:5;s:8:\"Promoter\";i:6;s:2:\"VJ\";i:7;s:8:\"Vocalist\";i:8;s:16:\"VoiceManipulator\";i:9;s:14:\"OtherPerformer\";i:10;s:5:\"Other\";}s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"roles\";O:8:\"stdClass\":2:{s:4:\"enum\";a:11:{i:0;s:7:\"Default\";i:1;s:6:\"Dancer\";i:2;s:2:\"DJ\";i:3;s:15:\"Instrumentalist\";i:4;s:9:\"Organizer\";i:5;s:8:\"Promoter\";i:6;s:2:\"VJ\";i:7;s:8:\"Vocalist\";i:8;s:16:\"VoiceManipulator\";i:9;s:14:\"OtherPerformer\";i:10;s:5:\"Other\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"ArtistForSongContract\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:6:\"artist\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ArtistContract\";}s:10:\"categories\";O:8:\"stdClass\":2:{s:4:\"enum\";a:10:{i:0;s:7:\"Nothing\";i:1;s:8:\"Vocalist\";i:2;s:8:\"Producer\";i:3;s:8:\"Animator\";i:4;s:5:\"Label\";i:5;s:6:\"Circle\";i:6;s:5:\"Other\";i:7;s:4:\"Band\";i:8;s:11:\"Illustrator\";i:9;s:7:\"Subject\";}s:4:\"type\";s:6:\"string\";}s:14:\"effectiveRoles\";O:8:\"stdClass\":2:{s:4:\"enum\";a:17:{i:0;s:7:\"Default\";i:1;s:8:\"Animator\";i:2;s:8:\"Arranger\";i:3;s:8:\"Composer\";i:4;s:11:\"Distributor\";i:5;s:11:\"Illustrator\";i:6;s:15:\"Instrumentalist\";i:7;s:8:\"Lyricist\";i:8;s:9:\"Mastering\";i:9;s:9:\"Publisher\";i:10;s:8:\"Vocalist\";i:11;s:16:\"VoiceManipulator\";i:12;s:5:\"Other\";i:13;s:5:\"Mixer\";i:14;s:6:\"Chorus\";i:15;s:7:\"Encoder\";i:16;s:17:\"VocalDataProvider\";}s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"isCustomName\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"isSupport\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"roles\";O:8:\"stdClass\":2:{s:4:\"enum\";a:17:{i:0;s:7:\"Default\";i:1;s:8:\"Animator\";i:2;s:8:\"Arranger\";i:3;s:8:\"Composer\";i:4;s:11:\"Distributor\";i:5;s:11:\"Illustrator\";i:6;s:15:\"Instrumentalist\";i:7;s:8:\"Lyricist\";i:8;s:9:\"Mastering\";i:9;s:9:\"Publisher\";i:10;s:8:\"Vocalist\";i:11;s:16:\"VoiceManipulator\";i:12;s:5:\"Other\";i:13;s:5:\"Mixer\";i:14;s:6:\"Chorus\";i:15;s:7:\"Encoder\";i:16;s:17:\"VocalDataProvider\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:27:\"ArtistForUserForApiContract\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"artist\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/ArtistForApiContract\";}}s:4:\"type\";s:6:\"object\";}s:21:\"ArtistRelationsForApi\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"latestAlbums\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/AlbumForApiContract\";}s:4:\"type\";s:5:\"array\";}s:12:\"latestEvents\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/ReleaseEventForApiContract\";}s:4:\"type\";s:5:\"array\";}s:11:\"latestSongs\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/SongForApiContract\";}s:4:\"type\";s:5:\"array\";}s:13:\"popularAlbums\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/AlbumForApiContract\";}s:4:\"type\";s:5:\"array\";}s:12:\"popularSongs\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/SongForApiContract\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:21:\"CommentForApiContract\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:6:\"author\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/UserForApiContract\";}s:10:\"authorName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"created\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:5:\"entry\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/EntryRefContract\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:24:\"DiscussionFolderContract\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:15:\"lastTopicAuthor\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/UserForApiContract\";}s:13:\"lastTopicDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"topicCount\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:23:\"DiscussionTopicContract\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:6:\"author\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/UserForApiContract\";}s:12:\"commentCount\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"comments\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/CommentForApiContract\";}s:4:\"type\";s:5:\"array\";}s:7:\"content\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"created\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:8:\"folderId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"lastComment\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/CommentForApiContract\";}s:6:\"locked\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:31:\"EnglishTranslatedStringContract\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"english\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"original\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"EntryForApiContract\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":25:{s:12:\"activityDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:15:\"additionalNames\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"artistString\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"artistType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:18:{i:0;s:7:\"Unknown\";i:1;s:6:\"Circle\";i:2;s:5:\"Label\";i:3;s:8:\"Producer\";i:4;s:8:\"Animator\";i:5;s:11:\"Illustrator\";i:6;s:8:\"Lyricist\";i:7;s:8:\"Vocaloid\";i:8;s:4:\"UTAU\";i:9;s:5:\"CeVIO\";i:10;s:21:\"OtherVoiceSynthesizer\";i:11;s:13:\"OtherVocalist\";i:12;s:10:\"OtherGroup\";i:13;s:15:\"OtherIndividual\";i:14;s:6:\"Utaite\";i:15;s:4:\"Band\";i:16;s:8:\"Vocalist\";i:17;s:9:\"Character\";}s:4:\"type\";s:6:\"string\";}s:10:\"createDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"defaultName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"defaultNameLanguage\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:11:\"Unspecified\";i:1;s:8:\"Japanese\";i:2;s:6:\"Romaji\";i:3;s:7:\"English\";}s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"discType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:12:{i:0;s:7:\"Unknown\";i:1;s:5:\"Album\";i:2;s:6:\"Single\";i:3;s:2:\"EP\";i:4;s:10:\"SplitAlbum\";i:5;s:11:\"Compilation\";i:6;s:5:\"Video\";i:7;s:7:\"Artbook\";i:8;s:4:\"Game\";i:9;s:7:\"Fanmade\";i:10;s:12:\"Instrumental\";i:11;s:5:\"Other\";}s:4:\"type\";s:6:\"string\";}s:9:\"entryType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:11:{i:0;s:9:\"Undefined\";i:1;s:5:\"Album\";i:2;s:6:\"Artist\";i:3;s:15:\"DiscussionTopic\";i:4;s:2:\"PV\";i:5;s:12:\"ReleaseEvent\";i:6;s:18:\"ReleaseEventSeries\";i:7;s:4:\"Song\";i:8;s:8:\"SongList\";i:9;s:3:\"Tag\";i:10;s:4:\"User\";}s:4:\"type\";s:6:\"string\";}s:13:\"eventCategory\";O:8:\"stdClass\":2:{s:4:\"enum\";a:8:{i:0;s:11:\"Unspecified\";i:1;s:12:\"AlbumRelease\";i:2;s:11:\"Anniversary\";i:3;s:4:\"Club\";i:4;s:7:\"Concert\";i:5;s:7:\"Contest\";i:6;s:10:\"Convention\";i:7;s:5:\"Other\";}s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"mainPicture\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/EntryThumbForApiContract\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"names\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/LocalizedStringContract\";}s:4:\"type\";s:5:\"array\";}s:3:\"pVs\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/PVContract\";}s:4:\"type\";s:5:\"array\";}s:22:\"releaseEventSeriesName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:24:\"songListFeaturedCategory\";O:8:\"stdClass\":2:{s:4:\"enum\";a:5:{i:0;s:7:\"Nothing\";i:1;s:8:\"Concerts\";i:2;s:15:\"VocaloidRanking\";i:3;s:5:\"Pools\";i:4;s:5:\"Other\";}s:4:\"type\";s:6:\"string\";}s:8:\"songType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:13:{i:0;s:11:\"Unspecified\";i:1;s:8:\"Original\";i:2;s:8:\"Remaster\";i:3;s:5:\"Remix\";i:4;s:5:\"Cover\";i:5;s:11:\"Arrangement\";i:6;s:12:\"Instrumental\";i:7;s:6:\"Mashup\";i:8;s:7:\"MusicPV\";i:9;s:7:\"DramaPV\";i:10;s:4:\"Live\";i:11;s:12:\"Illustration\";i:12;s:5:\"Other\";}s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:5:\"Draft\";i:1;s:8:\"Finished\";i:2;s:8:\"Approved\";i:3;s:6:\"Locked\";}s:4:\"type\";s:6:\"string\";}s:15:\"tagCategoryName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/TagUsageForApiContract\";}s:4:\"type\";s:5:\"array\";}s:7:\"urlSlug\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"webLinks\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/ArchivedWebLinkContract\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:16:\"EntryRefContract\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"entryType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:11:{i:0;s:9:\"Undefined\";i:1;s:5:\"Album\";i:2;s:6:\"Artist\";i:3;s:15:\"DiscussionTopic\";i:4;s:2:\"PV\";i:5;s:12:\"ReleaseEvent\";i:6;s:18:\"ReleaseEventSeries\";i:7;s:4:\"Song\";i:8;s:8:\"SongList\";i:9;s:3:\"Tag\";i:10;s:4:\"User\";}s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:18:\"EntryThumbContract\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"entryType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:11:{i:0;s:9:\"Undefined\";i:1;s:5:\"Album\";i:2;s:6:\"Artist\";i:3;s:15:\"DiscussionTopic\";i:4;s:2:\"PV\";i:5;s:12:\"ReleaseEvent\";i:6;s:18:\"ReleaseEventSeries\";i:7;s:4:\"Song\";i:8;s:8:\"SongList\";i:9;s:3:\"Tag\";i:10;s:4:\"User\";}s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"mime\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:24:\"EntryThumbForApiContract\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"mime\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"urlSmallThumb\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"urlThumb\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"urlTinyThumb\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:23:\"LocalizedStringContract\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"language\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:11:\"Unspecified\";i:1;s:8:\"Japanese\";i:2;s:6:\"Romaji\";i:3;s:7:\"English\";}s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:29:\"LocalizedStringWithIdContract\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"language\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:11:\"Unspecified\";i:1;s:8:\"Japanese\";i:2;s:6:\"Romaji\";i:3;s:7:\"English\";}s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"LyricsForSongContract\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"cultureCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"source\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"translationType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:8:\"Original\";i:1;s:9:\"Romanized\";i:2;s:11:\"Translation\";}s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"OldUsernameContract\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"date\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"oldName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:24:\"OptionalDateTimeContract\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:3:\"day\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"formatted\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"isEmpty\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:5:\"month\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"year\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:10:\"PVContract\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":13:{s:6:\"author\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"createdBy\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"disabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:16:\"extendedMetadata\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/PVExtendedMetadata\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"length\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"publishDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:4:\"pvId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"pvType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:8:\"Original\";i:1;s:7:\"Reprint\";i:2;s:5:\"Other\";}s:4:\"type\";s:6:\"string\";}s:7:\"service\";O:8:\"stdClass\":2:{s:4:\"enum\";a:9:{i:0;s:13:\"NicoNicoDouga\";i:1;s:7:\"Youtube\";i:2;s:10:\"SoundCloud\";i:3;s:5:\"Vimeo\";i:4;s:6:\"Piapro\";i:5;s:8:\"Bilibili\";i:6;s:4:\"File\";i:7;s:9:\"LocalFile\";i:8;s:8:\"Creofuga\";}s:4:\"type\";s:6:\"string\";}s:8:\"thumbUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"PVExtendedMetadata\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"json\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"PVForSongContract\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":14:{s:6:\"author\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"createdBy\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"disabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:16:\"extendedMetadata\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/PVExtendedMetadata\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"length\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"publishDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:4:\"pvId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"pvType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:8:\"Original\";i:1;s:7:\"Reprint\";i:2;s:5:\"Other\";}s:4:\"type\";s:6:\"string\";}s:7:\"service\";O:8:\"stdClass\":2:{s:4:\"enum\";a:9:{i:0;s:13:\"NicoNicoDouga\";i:1;s:7:\"Youtube\";i:2;s:10:\"SoundCloud\";i:3;s:5:\"Vimeo\";i:4;s:6:\"Piapro\";i:5;s:8:\"Bilibili\";i:6;s:4:\"File\";i:7;s:9:\"LocalFile\";i:8;s:8:\"Creofuga\";}s:4:\"type\";s:6:\"string\";}s:4:\"song\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/SongContract\";}s:8:\"thumbUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:46:\"PartialFindResult[ActivityEntryForApiContract]\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/ActivityEntryForApiContract\";}s:4:\"type\";s:5:\"array\";}s:4:\"term\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"totalCount\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:38:\"PartialFindResult[AlbumForApiContract]\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/AlbumForApiContract\";}s:4:\"type\";s:5:\"array\";}s:4:\"term\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"totalCount\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:45:\"PartialFindResult[AlbumForUserForApiContract]\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/AlbumForUserForApiContract\";}s:4:\"type\";s:5:\"array\";}s:4:\"term\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"totalCount\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:39:\"PartialFindResult[ArtistForApiContract]\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/ArtistForApiContract\";}s:4:\"type\";s:5:\"array\";}s:4:\"term\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"totalCount\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:46:\"PartialFindResult[ArtistForUserForApiContract]\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/ArtistForUserForApiContract\";}s:4:\"type\";s:5:\"array\";}s:4:\"term\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"totalCount\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:40:\"PartialFindResult[CommentForApiContract]\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/CommentForApiContract\";}s:4:\"type\";s:5:\"array\";}s:4:\"term\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"totalCount\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:42:\"PartialFindResult[DiscussionTopicContract]\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/DiscussionTopicContract\";}s:4:\"type\";s:5:\"array\";}s:4:\"term\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"totalCount\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:38:\"PartialFindResult[EntryForApiContract]\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/EntryForApiContract\";}s:4:\"type\";s:5:\"array\";}s:4:\"term\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"totalCount\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:36:\"PartialFindResult[PVForSongContract]\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/PVForSongContract\";}s:4:\"type\";s:5:\"array\";}s:4:\"term\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"totalCount\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:49:\"PartialFindResult[RatedSongForUserForApiContract]\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/RatedSongForUserForApiContract\";}s:4:\"type\";s:5:\"array\";}s:4:\"term\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"totalCount\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:45:\"PartialFindResult[ReleaseEventForApiContract]\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/ReleaseEventForApiContract\";}s:4:\"type\";s:5:\"array\";}s:4:\"term\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"totalCount\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:45:\"PartialFindResult[ReleaseEventSeriesContract]\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/ReleaseEventSeriesContract\";}s:4:\"type\";s:5:\"array\";}s:4:\"term\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"totalCount\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:37:\"PartialFindResult[SongForApiContract]\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/SongForApiContract\";}s:4:\"type\";s:5:\"array\";}s:4:\"term\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"totalCount\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:43:\"PartialFindResult[SongInListForApiContract]\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/SongInListForApiContract\";}s:4:\"type\";s:5:\"array\";}s:4:\"term\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"totalCount\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:41:\"PartialFindResult[SongListForApiContract]\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/SongListForApiContract\";}s:4:\"type\";s:5:\"array\";}s:4:\"term\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"totalCount\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:36:\"PartialFindResult[TagForApiContract]\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/TagForApiContract\";}s:4:\"type\";s:5:\"array\";}s:4:\"term\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"totalCount\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:37:\"PartialFindResult[UserForApiContract]\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/UserForApiContract\";}s:4:\"type\";s:5:\"array\";}s:4:\"term\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"totalCount\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:38:\"PartialFindResult[UserMessageContract]\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/UserMessageContract\";}s:4:\"type\";s:5:\"array\";}s:4:\"term\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"totalCount\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:30:\"RatedSongForUserForApiContract\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"date\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:6:\"rating\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:7:\"Nothing\";i:1;s:7:\"Dislike\";i:2;s:4:\"Like\";i:3;s:8:\"Favorite\";}s:4:\"type\";s:6:\"string\";}s:4:\"song\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/SongForApiContract\";}s:4:\"user\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/UserForApiContract\";}}s:4:\"type\";s:6:\"object\";}s:20:\"RelatedSongsContract\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"artistMatches\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/SongForApiContract\";}s:4:\"type\";s:5:\"array\";}s:11:\"likeMatches\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/SongForApiContract\";}s:4:\"type\";s:5:\"array\";}s:10:\"tagMatches\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/SongForApiContract\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:26:\"ReleaseEventForApiContract\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":20:{s:15:\"additionalNames\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"artists\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/ArtistForEventContract\";}s:4:\"type\";s:5:\"array\";}s:8:\"category\";O:8:\"stdClass\":2:{s:4:\"enum\";a:8:{i:0;s:11:\"Unspecified\";i:1;s:12:\"AlbumRelease\";i:2;s:11:\"Anniversary\";i:3;s:4:\"Club\";i:4;s:7:\"Concert\";i:5;s:7:\"Contest\";i:6;s:10:\"Convention\";i:7;s:5:\"Other\";}s:4:\"type\";s:6:\"string\";}s:4:\"date\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"endDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"mainPicture\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/EntryThumbForApiContract\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"names\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/LocalizedStringContract\";}s:4:\"type\";s:5:\"array\";}s:6:\"series\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/ReleaseEventSeriesContract\";}s:8:\"seriesId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"seriesNumber\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"seriesSuffix\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"songList\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/SongListBaseContract\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:5:\"Draft\";i:1;s:8:\"Finished\";i:2;s:8:\"Approved\";i:3;s:6:\"Locked\";}s:4:\"type\";s:6:\"string\";}s:7:\"urlSlug\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"venueName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"webLinks\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/WebLinkForApiContract\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:26:\"ReleaseEventSeriesContract\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":11:{s:15:\"additionalNames\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"category\";O:8:\"stdClass\":2:{s:4:\"enum\";a:8:{i:0;s:11:\"Unspecified\";i:1;s:12:\"AlbumRelease\";i:2;s:11:\"Anniversary\";i:3;s:4:\"Club\";i:4;s:7:\"Concert\";i:5;s:7:\"Contest\";i:6;s:10:\"Convention\";i:7;s:5:\"Other\";}s:4:\"type\";s:6:\"string\";}s:7:\"deleted\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"pictureMime\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:5:\"Draft\";i:1;s:8:\"Finished\";i:2;s:8:\"Approved\";i:3;s:6:\"Locked\";}s:4:\"type\";s:6:\"string\";}s:7:\"urlSlug\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"webLinks\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/WebLinkContract\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:12:\"SongContract\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":16:{s:15:\"additionalNames\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"artistString\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"createDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"deleted\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:14:\"favoritedTimes\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:13:\"lengthSeconds\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"nicoId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"publishDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:10:\"pvServices\";O:8:\"stdClass\":2:{s:4:\"enum\";a:10:{i:0;s:7:\"Nothing\";i:1;s:13:\"NicoNicoDouga\";i:2;s:7:\"Youtube\";i:3;s:10:\"SoundCloud\";i:4;s:5:\"Vimeo\";i:5;s:6:\"Piapro\";i:6;s:8:\"Bilibili\";i:7;s:4:\"File\";i:8;s:9:\"LocalFile\";i:9;s:8:\"Creofuga\";}s:4:\"type\";s:6:\"string\";}s:11:\"ratingScore\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"songType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:13:{i:0;s:11:\"Unspecified\";i:1;s:8:\"Original\";i:2;s:8:\"Remaster\";i:3;s:5:\"Remix\";i:4;s:5:\"Cover\";i:5;s:11:\"Arrangement\";i:6;s:12:\"Instrumental\";i:7;s:6:\"Mashup\";i:8;s:7:\"MusicPV\";i:9;s:7:\"DramaPV\";i:10;s:4:\"Live\";i:11;s:12:\"Illustration\";i:12;s:5:\"Other\";}s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:5:\"Draft\";i:1;s:8:\"Finished\";i:2;s:8:\"Approved\";i:3;s:6:\"Locked\";}s:4:\"type\";s:6:\"string\";}s:8:\"thumbUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:18:\"SongForApiContract\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":27:{s:15:\"additionalNames\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"albums\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/AlbumContract\";}s:4:\"type\";s:5:\"array\";}s:12:\"artistString\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"artists\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/ArtistForSongContract\";}s:4:\"type\";s:5:\"array\";}s:10:\"createDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"defaultName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"defaultNameLanguage\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:11:\"Unspecified\";i:1;s:8:\"Japanese\";i:2;s:6:\"Romaji\";i:3;s:7:\"English\";}s:4:\"type\";s:6:\"string\";}s:14:\"favoritedTimes\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:13:\"lengthSeconds\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:6:\"lyrics\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/LyricsForSongContract\";}s:4:\"type\";s:5:\"array\";}s:11:\"mainPicture\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/EntryThumbForApiContract\";}s:8:\"mergedTo\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"names\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/LocalizedStringContract\";}s:4:\"type\";s:5:\"array\";}s:17:\"originalVersionId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"publishDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:10:\"pvServices\";O:8:\"stdClass\":2:{s:4:\"enum\";a:10:{i:0;s:7:\"Nothing\";i:1;s:13:\"NicoNicoDouga\";i:2;s:7:\"Youtube\";i:3;s:10:\"SoundCloud\";i:4;s:5:\"Vimeo\";i:5;s:6:\"Piapro\";i:6;s:8:\"Bilibili\";i:7;s:4:\"File\";i:8;s:9:\"LocalFile\";i:9;s:8:\"Creofuga\";}s:4:\"type\";s:6:\"string\";}s:3:\"pvs\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/PVContract\";}s:4:\"type\";s:5:\"array\";}s:11:\"ratingScore\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"releaseEvent\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/ReleaseEventForApiContract\";}s:8:\"songType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:13:{i:0;s:11:\"Unspecified\";i:1;s:8:\"Original\";i:2;s:8:\"Remaster\";i:3;s:5:\"Remix\";i:4;s:5:\"Cover\";i:5;s:11:\"Arrangement\";i:6;s:12:\"Instrumental\";i:7;s:6:\"Mashup\";i:8;s:7:\"MusicPV\";i:9;s:7:\"DramaPV\";i:10;s:4:\"Live\";i:11;s:12:\"Illustration\";i:12;s:5:\"Other\";}s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:5:\"Draft\";i:1;s:8:\"Finished\";i:2;s:8:\"Approved\";i:3;s:6:\"Locked\";}s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/TagUsageForApiContract\";}s:4:\"type\";s:5:\"array\";}s:8:\"thumbUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"webLinks\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/WebLinkForApiContract\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:25:\"SongInAlbumForApiContract\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"discNumber\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"song\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/SongForApiContract\";}s:11:\"trackNumber\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:22:\"SongInListEditContract\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"notes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"order\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"song\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/SongForApiContract\";}s:12:\"songInListId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:24:\"SongInListForApiContract\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"notes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"order\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"song\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/SongForApiContract\";}}s:4:\"type\";s:6:\"object\";}s:20:\"SongListBaseContract\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"featuredCategory\";O:8:\"stdClass\":2:{s:4:\"enum\";a:5:{i:0;s:7:\"Nothing\";i:1;s:8:\"Concerts\";i:2;s:15:\"VocaloidRanking\";i:3;s:5:\"Pools\";i:4;s:5:\"Other\";}s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:22:\"SongListForApiContract\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:6:\"author\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/UserForApiContract\";}s:9:\"eventDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:16:\"featuredCategory\";O:8:\"stdClass\":2:{s:4:\"enum\";a:5:{i:0;s:7:\"Nothing\";i:1;s:8:\"Concerts\";i:2;s:15:\"VocaloidRanking\";i:3;s:5:\"Pools\";i:4;s:5:\"Other\";}s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"mainPicture\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/EntryThumbForApiContract\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:23:\"SongListForEditContract\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":13:{s:6:\"author\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/UserWithEmailContract\";}s:7:\"canEdit\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:7:\"deleted\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"eventDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:16:\"featuredCategory\";O:8:\"stdClass\":2:{s:4:\"enum\";a:5:{i:0;s:7:\"Nothing\";i:1;s:8:\"Concerts\";i:2;s:15:\"VocaloidRanking\";i:3;s:5:\"Pools\";i:4;s:5:\"Other\";}s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"songLinks\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/SongInListEditContract\";}s:4:\"type\";s:5:\"array\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:5:\"Draft\";i:1;s:8:\"Finished\";i:2;s:8:\"Approved\";i:3;s:6:\"Locked\";}s:4:\"type\";s:6:\"string\";}s:5:\"thumb\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/EntryThumbContract\";}s:11:\"updateNotes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:18:\"SongRatingContract\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"rating\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:7:\"Nothing\";i:1;s:7:\"Dislike\";i:2;s:4:\"Like\";i:3;s:8:\"Favorite\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"TagBaseContract\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:15:\"additionalNames\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"categoryName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"urlSlug\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"TagForApiContract\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":19:{s:15:\"additionalNames\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"aliasedTo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/TagBaseContract\";}s:12:\"categoryName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"createDate\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:19:\"defaultNameLanguage\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:11:\"Unspecified\";i:1;s:8:\"Japanese\";i:2;s:6:\"Romaji\";i:3;s:7:\"English\";}s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"mainPicture\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/EntryThumbForApiContract\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"names\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/LocalizedStringWithIdContract\";}s:4:\"type\";s:5:\"array\";}s:6:\"parent\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/TagBaseContract\";}s:11:\"relatedTags\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/TagBaseContract\";}s:4:\"type\";s:5:\"array\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:5:\"Draft\";i:1;s:8:\"Finished\";i:2;s:8:\"Approved\";i:3;s:6:\"Locked\";}s:4:\"type\";s:6:\"string\";}s:7:\"targets\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:21:\"translatedDescription\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/EnglishTranslatedStringContract\";}s:7:\"urlSlug\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"usageCount\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:7:\"version\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"webLinks\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/WebLinkForApiContract\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:22:\"TagUsageForApiContract\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"count\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:3:\"tag\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/TagBaseContract\";}}s:4:\"type\";s:6:\"object\";}s:18:\"UserForApiContract\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:6:\"active\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:7:\"groupId\";O:8:\"stdClass\":2:{s:4:\"enum\";a:6:{i:0;s:7:\"Nothing\";i:1;s:7:\"Limited\";i:2;s:7:\"Regular\";i:3;s:7:\"Trusted\";i:4;s:9:\"Moderator\";i:5;s:5:\"Admin\";}s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:14:\"knownLanguages\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/UserKnownLanguageContract\";}s:4:\"type\";s:5:\"array\";}s:11:\"mainPicture\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/EntryThumbForApiContract\";}s:11:\"memberSince\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"oldUsernames\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/OldUsernameContract\";}s:4:\"type\";s:5:\"array\";}s:14:\"verifiedArtist\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:25:\"UserKnownLanguageContract\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"cultureCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"proficiency\";O:8:\"stdClass\":2:{s:4:\"enum\";a:5:{i:0;s:7:\"Nothing\";i:1;s:6:\"Basics\";i:2;s:12:\"Intermediate\";i:3;s:8:\"Advanced\";i:4;s:6:\"Native\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"UserMessageContract\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:4:\"body\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"createdFormatted\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"highPriority\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:5:\"inbox\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:7:\"Nothing\";i:1;s:8:\"Received\";i:2;s:4:\"Sent\";i:3;s:13:\"Notifications\";}s:4:\"type\";s:6:\"string\";}s:4:\"read\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"receiver\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/UserForApiContract\";}s:6:\"sender\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/UserForApiContract\";}s:7:\"subject\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"UserWithEmailContract\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"WebLinkContract\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"category\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:8:\"Official\";i:1;s:10:\"Commercial\";i:2;s:9:\"Reference\";i:3;s:5:\"Other\";}s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"descriptionOrUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"WebLinkForApiContract\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"category\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:8:\"Official\";i:1;s:10:\"Commercial\";i:2;s:9:\"Reference\";i:3;s:5:\"Other\";}s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
