---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:7:\"contact\";O:8:\"stdClass\":3:{s:5:\"email\";s:24:\"NPROneEnterprise@npr.org\";s:4:\"name\";s:23:\"NPR
  One Enterprise Team\";s:3:\"url\";s:18:\"http://dev.npr.org\";}s:11:\"description\";s:452:\"NPR
  One is a smart application that brings the best of NPR and Member Station programming,
  newscasts,\npodcasts, and stories together to create a new experience for listening.
  It provides an editor-curated and\nlocalized mobile listening experience based on
  the content the listener chooses, likes, shares, and enjoys.\nThe API provides all
  of the content and customization in a simple, structured way that is easy for application\ndevelopers
  to implement.\";s:14:\"termsOfService\";s:39:\"http://dev.npr.org/develop/terms-of-use\";s:5:\"title\";s:21:\"NPR
  One API Reference\";s:7:\"version\";s:7:\"Calcium\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"media\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:110:\"https://api.apis.guru/v2/cache/logo/https_pbs.twimg.com_profile_images_722199003845304320_s2zwEoao_400x400.jpg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:54:\"https://api.npr.org/documentation/calcium/swagger.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:7:\"npr.org\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:3:\"npr\";s:4:\"type\";s:7:\"openapi\";}}"
host: api.npr.org
paths: ~
produces:
- application/json
- application/vnd.collection.doc+json
- 'application/hal+json '
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":74:{s:16:\"AbstractCDocLink\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/AbstractLink\";}i:1;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"content-type\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"The
  MIME type of the response of this link\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:12:\"content-type\";}}}}s:12:\"AbstractLink\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"href\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"The
  link to be followed\";s:6:\"format\";s:3:\"uri\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"href\";}}s:15:\"AccessTokenData\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"access_token\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"The
  access token to use for all future calls\";s:4:\"type\";s:6:\"string\";}s:10:\"expires_in\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"The
  remaining lifetime of the access token (in seconds)\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:13:\"refresh_token\";O:8:\"stdClass\":2:{s:11:\"description\";s:190:\"The
  refresh token that can be used to obtain a new access token if the old one expires;
  if a refresh token is returned, it is the client's responsibility to securely cache
  it for future use.\";s:4:\"type\";s:6:\"string\";}s:10:\"token_type\";O:8:\"stdClass\":3:{s:11:\"description\";s:94:\"Identifies
  the type of token returned. At this time, this field always has the value `Bearer`.\";s:4:\"enum\";a:2:{i:0;s:6:\"Bearer\";i:1;s:3:\"MAC\";}s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:12:\"access_token\";i:1;s:10:\"token_type\";i:2;s:10:\"expires_in\";}}s:14:\"AdTrackingData\";O:8:\"stdClass\":3:{s:11:\"description\";s:125:\"All
  the information needed for the Sponsorship Service to send back tracking information
  to our external sponsorship provider\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"adId\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"The
  DAAST Ad node `id` attribute value, (e.g. AdswizzAd12345)\";s:4:\"type\";s:6:\"string\";}s:5:\"event\";O:8:\"stdClass\":4:{s:7:\"default\";s:5:\"start\";s:11:\"description\";s:49:\"The
  user-interaction event to submit tracking for\";s:4:\"enum\";a:5:{i:0;s:5:\"start\";i:1;s:13:\"firstQuartile\";i:2;s:8:\"midpoint\";i:3;s:13:\"thirdQuartile\";i:4;s:8:\"complete\";}s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"adId\";i:1;s:5:\"event\";}}s:18:\"AdTrackingDocument\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/CollectionDocument\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"attributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/AdTrackingData\";s:11:\"description\";s:125:\"All
  the information needed for the Sponsorship Service to send back tracking information
  to our external sponsorship provider\";}s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:8:\"Not
  used\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:4:\"null\";}s:4:\"type\";s:5:\"array\";}}}}s:11:\"description\";s:125:\"All
  the information needed for the Sponsorship Service to send back tracking information
  to our external sponsorship provider\";}s:5:\"AdXml\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"InLine\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/InLineXml\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:9:\"attribute\";b:1;}}}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":2:{s:4:\"name\";s:2:\"Ad\";s:9:\"namespace\";s:41:\"http://www.w3.org/2001/XMLSchema-instance\";}}s:11:\"Affiliation\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"A
  program (aggregation) that a given user has shown an affiliation with\";s:10:\"properties\";O:8:\"stdClass\":8:{s:19:\"daysSinceLastListen\";O:8:\"stdClass\":3:{s:11:\"description\";s:129:\"The
  number of days since a user last listened to a story from this aggregation. Absent
  if user never listened to the aggregation.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"following\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:169:\"Whether
  or not the user is following the aggregation. When changing affiliation status,
  the client is expected to toggle this value and then send the entire object back.\";s:4:\"type\";s:7:\"boolean\";}s:4:\"href\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"A
  link to more details about the program from the NPR Story API\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"A
  unique identifier for the aggregation (program)\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:15:\"notif_following\";O:8:\"stdClass\":3:{s:11:\"description\";s:168:\"The
  topic in Firebase Cloud Messaging to which the device should subscribe if it supports
  notifications and the user wants notifications about the podcasts they follow.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:11:\"notif_rated\";O:8:\"stdClass\":3:{s:11:\"description\";s:179:\"The
  topic in Firebase Cloud Messaging to which the device should subscribe if it supports
  notifications and the user wants notifications about the podcasts they have highly
  rated.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:6:\"rating\";O:8:\"stdClass\":3:{s:11:\"description\";s:115:\"The
  user's average rating for this affiliation on a scale of 0-1. Absent if user never
  listened to the aggregation.\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  title for the aggregation (program)\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:2:\"id\";i:1;s:4:\"href\";i:2;s:9:\"following\";}}s:32:\"AggregationAudioItemListDocument\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/CollectionDocument\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"attributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/AggregationData\";s:11:\"description\";s:44:\"The
  metadata which describes the aggregation\";}s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"An
  array of Audio Items (recommendations)\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/AudioItemDocument\";}s:4:\"type\";s:5:\"array\";}s:5:\"links\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/AggregationLinks\";s:11:\"description\";s:132:\"An
  array of links for the aggregation. Look here for images associated with the aggregation
  or for a more link to get more episodes.\";}}}}s:11:\"description\";s:105:\"An array
  of audio recommendations with additional metadata about the aggregation they are
  associated with\";}s:15:\"AggregationData\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"affiliation\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"A
  unique identifier for the aggregation\";s:4:\"type\";s:6:\"string\";}s:15:\"affiliationMeta\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Affiliation\";s:11:\"description\";s:68:\"Metadata
  about the logged-in user's relationship to this aggregation\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"A
  short description or teaser\";s:4:\"type\";s:6:\"string\";}s:7:\"station\";O:8:\"stdClass\":3:{s:7:\"default\";s:3:\"NPR\";s:11:\"description\";s:32:\"The
  producer of this aggregation\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  title of this aggregation\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":4:{s:7:\"default\";s:11:\"aggregation\";s:11:\"description\";s:90:\"The
  type of list returned; will always be `aggregation`; useful for parsing search results\";s:4:\"enum\";a:1:{i:0;s:11:\"aggregation\";}s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:4:\"type\";i:1;s:11:\"affiliation\";i:2;s:5:\"title\";}}s:16:\"AggregationLinks\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"image\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"One
  or more links to an image, along with metadata for display\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/ImageLink\";}s:4:\"type\";s:5:\"array\";}s:4:\"more\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"One
  or more links to more episodes for the aggregation\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/OtherLink\";}s:4:\"type\";s:5:\"array\";}s:3:\"web\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"One
  or more links to a web page for the item\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/OtherLink\";}s:4:\"type\";s:5:\"array\";}}}s:13:\"AudioItemData\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":23:{s:5:\"album\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Album
  information associated with the media\";s:4:\"type\";s:6:\"string\";}s:6:\"artist\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"The
  artist associated with the media\";s:4:\"type\";s:6:\"string\";}s:10:\"audioTitle\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"For
  first-party client use only\";s:4:\"type\";s:6:\"string\";}s:6:\"button\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"The
  text contents of an action button displayed on the client\";s:4:\"type\";s:6:\"string\";}s:4:\"date\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  publication date in ISO-8601 format\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"A
  short description or teaser\";s:4:\"type\";s:6:\"string\";}s:8:\"duration\";O:8:\"stdClass\":5:{s:11:\"description\";s:42:\"The
  length of the audio content in seconds\";s:6:\"format\";s:5:\"int32\";s:7:\"maximum\";i:9999;s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:7:\"expires\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  media's expiration date in ISO-8601 format\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:8:\"geofence\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Geofence\";s:11:\"description\";s:90:\"The
  geographic restrictions that should be applied by the client before playing this
  media\";}s:5:\"label\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"The record
  label associated with the media\";s:4:\"type\";s:6:\"string\";}s:12:\"organization\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/RecommendationOrganization\";s:11:\"description\";s:63:\"Data
  about the organization with which this media is associated\";}s:7:\"primary\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"Whether
  the audio is the primary audio of the story to which it is associated\";s:4:\"type\";s:7:\"boolean\";}s:7:\"program\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  program associated with this media\";s:4:\"type\";s:6:\"string\";}s:8:\"provider\";O:8:\"stdClass\":3:{s:7:\"default\";s:3:\"NPR\";s:11:\"description\";s:49:\"The
  name of the organization providing this media\";s:4:\"type\";s:6:\"string\";}s:6:\"rating\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/RatingData\";s:11:\"description\";s:87:\"An
  object which contains all data that should be sent back to NPR when sending a rating\";}s:9:\"rationale\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"A
  short summary of why this content was recommended\";s:4:\"type\";s:6:\"string\";}s:9:\"skippable\";O:8:\"stdClass\":3:{s:7:\"default\";b:1;s:11:\"description\";s:58:\"Whether
  the client should allow this content to be skipped\";s:4:\"type\";s:7:\"boolean\";}s:4:\"slug\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"A
  tag or category for this media\";s:4:\"type\";s:6:\"string\";}s:4:\"song\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  song title associated with the media\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  title of this media\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":4:{s:7:\"default\";s:5:\"audio\";s:11:\"description\";s:166:\"Help
  determine how content is displayed; for more information, see <a href='http://dev.npr.org/design/general-specifications/playing-audio/'>our
  design guidelines</a>\";s:4:\"enum\";a:10:{i:0;s:5:\"audio\";i:1;s:11:\"sponsorship\";i:2;s:9:\"stationId\";i:3;s:5:\"intro\";i:4;s:6:\"donate\";i:5;s:24:\"featureCardInformational\";i:6;s:23:\"featureCardNotification\";i:7;s:20:\"featureCardPromotion\";i:8;s:23:\"featureCardExternalLink\";i:9;s:23:\"featureCardAsyncRequest\";}s:4:\"type\";s:6:\"string\";}s:3:\"uid\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  media ID (for use in ratings objects)\";s:7:\"pattern\";s:18:\"^\\d{3,}:[\\w-]{5,}$\";s:4:\"type\";s:6:\"string\";}s:15:\"unavailableText\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"The
  text contents to be displayed on the client if no media URLs are available\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:6:{i:0;s:4:\"type\";i:1;s:3:\"uid\";i:2;s:5:\"title\";i:3;s:9:\"skippable\";i:4;s:9:\"rationale\";i:5;s:6:\"rating\";}}s:17:\"AudioItemDocument\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/CollectionDocument\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"attributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/AudioItemData\";s:11:\"description\";s:47:\"The
  metadata which comprises the recommendation\";}s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:8:\"Not
  used\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:4:\"null\";}s:4:\"type\";s:5:\"array\";}s:5:\"links\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/AudioItemLinks\";s:11:\"description\";s:43:\"A
  list of links. Look here for audio files.\";}}}}}s:14:\"AudioItemLinks\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":8:{s:6:\"action\";O:8:\"stdClass\":3:{s:11:\"description\";s:81:\"One
  or more links to be trigged by user actions, usually when a button is clicked\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/OtherLink\";}s:4:\"type\";s:5:\"array\";}s:5:\"audio\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"One
  or more links to audio files for the item\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/AudioLink\";}s:4:\"type\";s:5:\"array\";}s:5:\"image\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"One
  or more links to an image, along with metadata for display\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/ImageLink\";}s:4:\"type\";s:5:\"array\";}s:7:\"onramps\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"One
  or more shareable links for the item\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/OtherLink\";}s:4:\"type\";s:5:\"array\";}s:7:\"ratings\";O:8:\"stdClass\":3:{s:11:\"description\";s:181:\"This
  is an alternate URL to use to POST the ratings JSON. Difference between this and
  'recommendations' is that 'ratings' will NOT return back recommendations of audio
  to play next.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/OtherLink\";}s:4:\"type\";s:5:\"array\";}s:15:\"recommendations\";O:8:\"stdClass\":3:{s:11:\"description\";s:90:\"This
  is the URL that should be POSTed with the ratings JSON when this audio starts to
  play\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/OtherLink\";}s:4:\"type\";s:5:\"array\";}s:2:\"up\";O:8:\"stdClass\":3:{s:11:\"description\";s:97:\"One
  or more links to more details about the program or podcast with which this item
  is associated\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/OtherLink\";}s:4:\"type\";s:5:\"array\";}s:3:\"web\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"One
  or more links to a web page for the item\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/OtherLink\";}s:4:\"type\";s:5:\"array\";}}}s:21:\"AudioItemListDocument\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/CollectionDocument\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"attributes\";O:8:\"stdClass\":2:{s:11:\"description\";s:8:\"Not
  used\";s:4:\"type\";s:6:\"object\";}s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"An
  array of Audio Items (recommendations)\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/AudioItemDocument\";}s:4:\"type\";s:5:\"array\";}s:5:\"links\";O:8:\"stdClass\":2:{s:11:\"description\";s:8:\"Not
  used\";s:4:\"type\";s:6:\"object\";}}}}}s:9:\"AudioLink\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/AbstractLink\";}i:1;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"content-type\";O:8:\"stdClass\":4:{s:7:\"default\";s:9:\"audio/aac\";s:11:\"description\";s:207:\"The
  MIME type of the response of this link; note that the enumerated list of possible
  values is not exhaustive and other MIME types could occur. The list should be treated
  as examples, rather than absolutes.\";s:4:\"enum\";a:5:{i:0;s:9:\"audio/mp3\";i:1;s:9:\"audio/aac\";i:2;s:9:\"audio/3gp\";i:3;s:29:\"application/vnd.apple.mpegurl\";i:4;s:14:\"audio/x-ms-wax\";}s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:12:\"content-type\";}}}s:11:\"description\";s:34:\"A
  link to audio files for the item\";}s:5:\"Brand\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Branding
  information for the organization\";s:10:\"properties\";O:8:\"stdClass\":7:{s:4:\"band\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"The
  radio band for the organization if they are a station (AM or FM)\";s:4:\"type\";s:6:\"string\";}s:4:\"call\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"The
  call letter for the organization if they are a station\";s:4:\"type\";s:6:\"string\";}s:9:\"frequency\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"The
  radio frequency for the organization if they are a station\";s:4:\"type\";s:6:\"string\";}s:10:\"marketCity\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"The
  market city for the organization\";s:4:\"type\";s:6:\"string\";}s:11:\"marketState\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  market state for the organization\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  name of the organization\";s:4:\"type\";s:6:\"string\";}s:7:\"tagline\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  tagline for the organization\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:4:\"name\";i:1;s:4:\"call\";i:2;s:10:\"marketCity\";}}s:12:\"CategoryData\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"displayType\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"How
  clients should display this channel in the station profile view\";s:4:\"enum\";a:4:{i:0;s:7:\"default\";i:1;s:4:\"show\";i:2;s:8:\"playable\";i:3;s:8:\"newscast\";}s:4:\"type\";s:6:\"string\";}s:5:\"orgId\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"The
  unique identifier for the organization\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  title of this category\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:7:\"default\";s:8:\"category\";s:11:\"description\";s:52:\"The
  type of list returned; will always be `category`\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:4:\"type\";i:1;s:5:\"orgId\";i:2;s:5:\"title\";}}s:13:\"CategoryLinks\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"more\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"One
  or more links to more episodes for the aggregation\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/OtherLink\";}s:4:\"type\";s:5:\"array\";}}}s:11:\"ChannelData\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"A
  longer description of what this channel focuses on\";s:4:\"type\";s:6:\"string\";}s:11:\"displayType\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"How
  clients should display this channel in the explore view\";s:4:\"enum\";a:4:{i:0;s:7:\"default\";i:1;s:4:\"show\";i:2;s:8:\"playable\";i:3;s:8:\"newscast\";}s:4:\"type\";s:6:\"string\";}s:9:\"emptyText\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"Text
  for clients to display when the channel contains no recommendations\";s:4:\"type\";s:6:\"string\";}s:8:\"fullName\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"A
  short description of what this channel focuses on\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"The
  actual value that should be sent\";s:4:\"type\";s:6:\"string\";}s:11:\"refreshRule\";O:8:\"stdClass\":2:{s:11:\"description\";s:541:\"In
  the explore view of a client, this field indicates how this channel should be refreshed.
  \ This is an experimental field and subject to change, but for now zero indicates
  the client should refresh this channel every time a START rating is sent for a type=audio
  recommendation, while a 1 would indicate it can be refreshed much less often, such
  as on a 30 minute timer. 2 would indicate even less time to update, say every hour.
  We are still experimenting on the number of rules necessary and the best implementation
  for each type of rule. \";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:3:{i:0;s:2:\"id\";i:1;s:8:\"fullName\";i:2;s:11:\"description\";}}s:15:\"ChannelDocument\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/CollectionDocument\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"attributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ChannelData\";s:11:\"description\";s:16:\"The
  channel data\";}s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:8:\"Not
  used\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:4:\"null\";}s:4:\"type\";s:5:\"array\";}s:5:\"links\";O:8:\"stdClass\":2:{s:11:\"description\";s:8:\"Not
  used\";s:4:\"type\";s:6:\"object\";}}}}}s:12:\"ChannelsData\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"defaultChannel\";O:8:\"stdClass\":3:{s:7:\"default\";s:3:\"npr\";s:11:\"description\";s:34:\"The
  default channel NPR recommends\";s:4:\"type\";s:6:\"string\";}}}s:16:\"ChannelsDocument\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/CollectionDocument\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"attributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ChannelsData\";s:11:\"description\";s:24:\"The
  default channel data\";}s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  list of individual channels\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ChannelDocument\";}s:4:\"type\";s:5:\"array\";}s:5:\"links\";O:8:\"stdClass\":2:{s:11:\"description\";s:8:\"Not
  used\";s:4:\"type\";s:6:\"object\";}}}}}s:6:\"Cohort\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"An
  experimental grouping for User Experience A/B Testing\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"directory\";O:8:\"stdClass\":2:{s:11:\"description\";s:100:\"For
  internal use only; represents the current configuration file being used by the Listening
  Service\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"A
  short ID for this cohort; ignored on a PUT\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"A
  text string identifying the cohort, useful for metrics; ignored on a PUT\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:2:\"id\";i:1;s:4:\"name\";}}s:18:\"CollectionDocument\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Base
  Collection.Doc+JSON output\";s:10:\"properties\";O:8:\"stdClass\":6:{s:10:\"attributes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:6:\"errors\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"A
  list of encountered errors, ignored on POST, PUT\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:4:\"null\";}s:4:\"type\";s:5:\"array\";}s:4:\"href\";O:8:\"stdClass\":2:{s:11:\"description\";s:99:\"A
  URL representation of the resource; should generally be ignored by clients unless
  noted otherwise\";s:4:\"type\";s:6:\"string\";}s:5:\"items\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:4:\"null\";}s:4:\"type\";s:5:\"array\";}s:5:\"links\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:7:\"version\";O:8:\"stdClass\":3:{s:7:\"default\";s:3:\"1.0\";s:11:\"description\";s:54:\"The
  version of the Collection.Doc+JSON spec being used\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:6:{i:0;s:7:\"version\";i:1;s:4:\"href\";i:2;s:10:\"attributes\";i:3;s:5:\"items\";i:4;s:5:\"links\";i:5;s:6:\"errors\";}}s:12:\"CompanionXml\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":6:{s:21:\"CompanionClickThrough\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"StaticResource\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/StaticResourceXml\";}s:14:\"TrackingEvents\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/TrackingXml\";}s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":1:{s:7:\"wrapped\";b:1;}}s:6:\"height\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";s:3:\"xml\";O:8:\"stdClass\":1:{s:9:\"attribute\";b:1;}}s:2:\"id\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";s:3:\"xml\";O:8:\"stdClass\":1:{s:9:\"attribute\";b:1;}}s:5:\"width\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";s:3:\"xml\";O:8:\"stdClass\":1:{s:9:\"attribute\";b:1;}}}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:9:\"Companion\";}}s:11:\"CreativeXml\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"CompanionAds\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/CompanionXml\";}s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":1:{s:7:\"wrapped\";b:1;}}s:6:\"Linear\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/LinearXml\";}s:2:\"id\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";s:3:\"xml\";O:8:\"stdClass\":1:{s:9:\"attribute\";b:1;}}s:8:\"sequence\";O:8:\"stdClass\":4:{s:7:\"default\";i:1;s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";s:3:\"xml\";O:8:\"stdClass\":1:{s:9:\"attribute\";b:1;}}}s:8:\"required\";a:1:{i:0;s:8:\"sequence\";}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:8:\"Creative\";}}s:8:\"DAASTXml\";O:8:\"stdClass\":5:{s:11:\"description\";s:145:\"Please
  visit <a href='http://www.iab.net/DAAST' target='_blank'>http://www.iab.net/DAAST</a>
  for more information on the DAAST XML specification.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"Ad\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/AdXml\";}s:7:\"version\";O:8:\"stdClass\":3:{s:7:\"default\";s:3:\"1.0\";s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:9:\"attribute\";b:1;}}}s:8:\"required\";a:1:{i:0;s:7:\"version\";}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:5:\"DAAST\";}}s:14:\"DeviceCodeData\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"device_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:95:\"40-character
  code for the device to input into the /token endpoint, not for display to the user\";s:4:\"type\";s:6:\"string\";}s:10:\"expires_in\";O:8:\"stdClass\":4:{s:7:\"default\";i:1800;s:11:\"description\";s:96:\"The
  number of seconds for which this set of codes will be valid, after which they will
  be purged\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"interval\";O:8:\"stdClass\":4:{s:7:\"default\";i:5;s:11:\"description\";s:100:\"The
  number of seconds the client application should maintain between requests to the
  /token endpoint\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"user_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:119:\"6-character
  alphanumeric code for the user to enter at http://npr.org/device, to be displayed
  by the client application\";s:4:\"type\";s:6:\"string\";}s:16:\"verification_uri\";O:8:\"stdClass\":3:{s:7:\"default\";s:21:\"http://npr.org/device\";s:11:\"description\";s:89:\"The
  URL where the user should input their code, to be displayed by the client application\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:5:{i:0;s:11:\"device_code\";i:1;s:9:\"user_code\";i:2;s:16:\"verification_uri\";i:3;s:10:\"expires_in\";i:4;s:8:\"interval\";}}s:5:\"Error\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"A
  serialized version of any error encountered when processing this request\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"The
  error code\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:5:\"debug\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"Additional
  debug information if debug mode is turned on\";s:4:\"type\";s:6:\"string\";}s:4:\"text\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  error description\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"code\";}}s:13:\"ErrorDocument\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/CollectionDocument\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"attributes\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Ignore;
  will be empty for errors\";s:4:\"type\";s:6:\"object\";}s:6:\"errors\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"A
  list of encountered errors, ignored on POST, PUT\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Error\";}s:4:\"type\";s:5:\"array\";}s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Ignore;
  will be empty for errors\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:4:\"null\";}s:4:\"type\";s:5:\"array\";}s:5:\"links\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Ignore;
  will be empty for errors\";s:4:\"type\";s:6:\"object\";}}}}s:11:\"description\";s:72:\"A
  Collection.doc+JSON representation of an error result from an API call\";}s:16:\"ErrorXmlDocument\";O:8:\"stdClass\":5:{s:11:\"description\";s:54:\"One
  or more errors represented in a DAAST XML document\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"error\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"An
  individual error, presented in XML format\";s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:5:\"error\";}}s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":1:{s:7:\"wrapped\";b:0;}}s:7:\"version\";O:8:\"stdClass\":3:{s:7:\"default\";s:3:\"1.0\";s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:9:\"attribute\";b:1;}}}s:8:\"required\";a:2:{i:0;s:7:\"version\";i:1;s:5:\"error\";}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:5:\"DAAST\";}}s:8:\"Geofence\";O:8:\"stdClass\":3:{s:11:\"description\";s:90:\"The
  geographic restrictions that should be applied by the client before playing this
  media\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"countries\";O:8:\"stdClass\":3:{s:11:\"description\";s:111:\"The
  list of countries as ISO 3166-1 abbreviations in which this media should be available
  if restricted is true\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:10:\"restricted\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:53:\"Whether
  any geographic restrictions should be applied\";s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:2:{i:0;s:10:\"restricted\";i:1;s:9:\"countries\";}}s:11:\"HALDocument\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Base
  HAL output\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"_links\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:1:{i:0;s:6:\"_links\";}}s:9:\"ImageLink\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/AbstractLink\";}i:1;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"content-type\";O:8:\"stdClass\":4:{s:7:\"default\";s:10:\"image/jpeg\";s:11:\"description\";s:207:\"The
  MIME type of the response of this link; note that the enumerated list of possible
  values is not exhaustive and other MIME types could occur. The list should be treated
  as examples, rather than absolutes.\";s:4:\"enum\";a:3:{i:0;s:10:\"image/jpeg\";i:1;s:9:\"image/png\";i:2;s:9:\"image/gif\";}s:4:\"type\";s:6:\"string\";}s:5:\"image\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"A
  unique identifier for the image\";s:4:\"type\";s:6:\"string\";}s:8:\"producer\";O:8:\"stdClass\":2:{s:11:\"description\";s:91:\"The
  producer of the image; should be used for properly attributing the image when it
  exists\";s:4:\"type\";s:6:\"string\";}s:8:\"provider\";O:8:\"stdClass\":2:{s:11:\"description\";s:91:\"The
  provider of the image; should be used for properly attributing the image when it
  exists\";s:4:\"type\";s:6:\"string\";}s:3:\"rel\";O:8:\"stdClass\":4:{s:7:\"default\";s:11:\"logo_square\";s:11:\"description\";s:205:\"The
  crop type or intended display style/size; note that the enumerated list of possible
  values is not exhaustive and other values could occur. The list should be treated
  as examples, rather than absolutes.\";s:4:\"enum\";a:7:{i:0;s:11:\"logo_square\";i:1;s:4:\"icon\";i:2;s:4:\"wide\";i:3;s:8:\"standard\";i:4;s:6:\"square\";i:5;s:11:\"enlargement\";i:6;s:6:\"custom\";}s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:12:\"content-type\";}}}s:11:\"description\";s:41:\"An
  image, along with metadata for display\";}s:13:\"ImpressionXml\";O:8:\"stdClass\":4:{s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";s:3:\"xml\";O:8:\"stdClass\":1:{s:9:\"attribute\";b:1;}}}s:8:\"required\";a:1:{i:0;s:2:\"id\";}s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:10:\"Impression\";}}s:9:\"InLineXml\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:8:\"AdSystem\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"AdTitle\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"Category\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"Creatives\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CreativeXml\";}s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":1:{s:7:\"wrapped\";b:1;}}s:11:\"Description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"Extensions\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:9:\"Extension\";}}s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":1:{s:7:\"wrapped\";b:1;}}s:10:\"Impression\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ImpressionXml\";}s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":1:{s:7:\"wrapped\";b:0;}}}s:4:\"type\";s:6:\"object\";}s:9:\"LinearXml\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"Duration\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"MediaFiles\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/MediaFileXml\";}s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":1:{s:7:\"wrapped\";b:1;}}s:14:\"TrackingEvents\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/TrackingXml\";}s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":1:{s:7:\"wrapped\";b:1;}}}s:4:\"type\";s:6:\"object\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:6:\"Linear\";}}s:12:\"MediaFileXml\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"bitrate\";O:8:\"stdClass\":4:{s:7:\"default\";i:320000;s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";s:3:\"xml\";O:8:\"stdClass\":1:{s:9:\"attribute\";b:1;}}s:8:\"delivery\";O:8:\"stdClass\":3:{s:7:\"default\";s:11:\"progressive\";s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:9:\"attribute\";b:1;}}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:9:\"attribute\";b:1;}}}s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:9:\"MediaFile\";}}s:12:\"Organization\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"A
  station that a user has an affiliation with\";s:10:\"properties\";O:8:\"stdClass\":8:{s:4:\"call\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Station
  call letters\";s:4:\"type\";s:6:\"string\";}s:4:\"city\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"A
  short description of the station's main market city\";s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"A
  short displayable text field for the end user, strictly text; ignored on PUT\";s:4:\"type\";s:6:\"string\";}s:11:\"donationUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Station
  donation page URL\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Some
  unique identifier for the organization for the user\";s:4:\"type\";s:6:\"string\";}s:4:\"logo\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Station
  logo image url\";s:4:\"type\";s:6:\"string\";}s:9:\"notif_org\";O:8:\"stdClass\":3:{s:11:\"description\";s:167:\"The
  topic in Firebase Cloud Messaging to which the device should subscribe if it supports
  notifications and the user wants notifications about their localized station.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:9:\"smallLogo\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Station
  logo image url\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:2:\"id\";i:1;s:11:\"displayName\";i:2;s:4:\"call\";i:3;s:4:\"city\";}}s:37:\"OrganizationCategoryAudioListDocument\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/CollectionDocument\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"attributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/CategoryData\";s:11:\"description\";s:56:\"The
  metadata which describes the category of audio items\";}s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"An
  array of Audio Items (recommendations)\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/AudioItemDocument\";}s:4:\"type\";s:5:\"array\";}s:5:\"links\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/CategoryLinks\";s:11:\"description\";s:35:\"An
  array of links for the category.\";}}}}s:11:\"description\";s:71:\"An array of a
  certain category of audio recommendations from a provider\";}s:24:\"OrganizationOverviewData\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"brand\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Brand\";s:11:\"description\";s:49:\"Metadata
  about the branding for this organization\";}s:4:\"home\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"Flag
  indicating if the current view is in the user's home network\";s:4:\"type\";s:7:\"boolean\";}s:5:\"orgId\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"The
  unique identifier for the organization\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";O:8:\"stdClass\":4:{s:7:\"default\";s:12:\"organization\";s:11:\"description\";s:56:\"The
  type of list returned; will always be `organization`\";s:4:\"enum\";a:1:{i:0;s:12:\"organization\";}s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:4:\"type\";i:1;s:5:\"orgId\";i:2;s:5:\"brand\";}}s:28:\"OrganizationOverviewDocument\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/CollectionDocument\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"attributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/OrganizationOverviewData\";s:11:\"description\";s:31:\"Metadata
  about the organization\";}s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"A
  list of separate documents which each include their own list of audio\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:51:\"#/definitions/OrganizationCategoryAudioListDocument\";}s:4:\"type\";s:5:\"array\";}s:5:\"links\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/OrganizationOverviewLinks\";s:11:\"description\";s:156:\"An
  array of links for the organization. Look here for images associated with the organization
  and related links for the organization (their home page, etc).\";}}}}s:11:\"description\";s:88:\"a
  variety of details about an organization including various lists of recent audio
  items\";}s:25:\"OrganizationOverviewLinks\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"image\";O:8:\"stdClass\":3:{s:11:\"description\";s:79:\"One
  or more links to an image that can be as for branding (logo and small logo)\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/ImageLink\";}s:4:\"type\";s:5:\"array\";}s:7:\"related\";O:8:\"stdClass\":3:{s:11:\"description\";s:109:\"One
  or more links to related web pages for the organization (their twitter feed or facebook
  page for example)\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/OtherLink\";}s:4:\"type\";s:5:\"array\";}s:3:\"web\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"One
  or more links to main page for the organization (their homepage for example)\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/OtherLink\";}s:4:\"type\";s:5:\"array\";}}}s:9:\"OtherLink\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/AbstractLink\";}i:1;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"content-type\";O:8:\"stdClass\":4:{s:7:\"default\";s:16:\"application/json\";s:11:\"description\";s:207:\"The
  MIME type of the response of this link; note that the enumerated list of possible
  values is not exhaustive and other MIME types could occur. The list should be treated
  as examples, rather than absolutes.\";s:4:\"enum\";a:3:{i:0;s:16:\"application/json\";i:1;s:15:\"application/xml\";i:2;s:9:\"text/html\";}s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:12:\"content-type\";}}}s:11:\"description\";s:39:\"An
  individual link from a list of links\";}s:10:\"RatingData\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:12:\"affiliations\";O:8:\"stdClass\":3:{s:11:\"description\";s:194:\"An
  array of IDs & other data about collections or podcasts the user has ratings for;
  produced by the server and should be sent back as received; used for tracking program
  and podcast suggestions\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:4:\"null\";}s:4:\"type\";s:5:\"array\";}s:7:\"channel\";O:8:\"stdClass\":3:{s:7:\"default\";s:3:\"npr\";s:11:\"description\";s:43:\"The
  channel this media item was pulled from\";s:4:\"type\";s:6:\"string\";}s:6:\"cohort\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"The
  primary cohort of the current logged-in user\";s:4:\"type\";s:6:\"string\";}s:8:\"duration\";O:8:\"stdClass\":5:{s:11:\"description\";s:54:\"Number
  of seconds this audio piece is expected to last\";s:6:\"format\";s:5:\"int32\";s:7:\"maximum\";i:9999;s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:7:\"elapsed\";O:8:\"stdClass\":5:{s:11:\"description\";s:80:\"Number
  of seconds since the start of playback for this media item, as an integer\";s:6:\"format\";s:5:\"int32\";s:7:\"maximum\";i:9999;s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:7:\"mediaId\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"The
  media id as given by the media object\";s:7:\"pattern\";s:18:\"^\\d{3,}:[\\w-]{5,}$\";s:4:\"type\";s:6:\"string\";}s:6:\"origin\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"How
  the recommendation was generated\";s:7:\"pattern\";s:17:\"^[A-Z0-9_]{2,10}$\";s:4:\"type\";s:6:\"string\";}s:6:\"rating\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"String
  representing the rating\";s:7:\"pattern\";s:17:\"^[A-Z0-9_]{2,10}$\";s:4:\"type\";s:6:\"string\";}s:9:\"timestamp\";O:8:\"stdClass\":3:{s:11:\"description\";s:90:\"ISO-8601
  formatted date/time; typically replaced by the client with the actual rating time\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:8:{i:0;s:7:\"mediaId\";i:1;s:6:\"origin\";i:2;s:6:\"rating\";i:3;s:7:\"elapsed\";i:4;s:8:\"duration\";i:5;s:9:\"timestamp\";i:6;s:7:\"channel\";i:7;s:6:\"cohort\";}}s:26:\"RecommendationOrganization\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"Data
  about the organization with which this media is associated\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"donateUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"The
  URL of the organization's donate page\";s:4:\"type\";s:6:\"string\";}s:11:\"homepageUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  URL of the organization's homepage\";s:4:\"type\";s:6:\"string\";}s:7:\"logoUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"A
  URL for an image of the organization's logo\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  name of the organization\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}}s:18:\"SearchItemDocument\";O:8:\"stdClass\":3:{s:11:\"description\";s:92:\"A
  search result, which is either an AggregationAudioItemListDocument or an AudioItemDocument\";s:10:\"properties\";O:8:\"stdClass\":3:{s:17:\"ifTypeAggregation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:46:\"#/definitions/AggregationAudioItemListDocument\";s:11:\"description\";s:90:\"NOT
  A TRUE PROPERTY. This is the schema of the SearchItemDocument for `type='aggregation'`\";}s:11:\"ifTypeAudio\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/AudioItemDocument\";s:11:\"description\";s:84:\"NOT
  A TRUE PROPERTY. This is the schema of the SearchItemDocument for `type='audio'`\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:102:\"The
  type of search result, which is either an AggregationAudioItemListDocument or an
  AudioItemDocument\";s:4:\"enum\";a:2:{i:0;s:5:\"audio\";i:1;s:11:\"aggregation\";}s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"type\";}}s:18:\"SearchListDocument\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/CollectionDocument\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"attributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/SearchMetaData\";s:11:\"description\";s:34:\"The
  metadata for the search itself\";}s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"A
  list of aggregation or audio items (recommendations)\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/SearchItemDocument\";}s:4:\"type\";s:5:\"array\";}s:5:\"links\";O:8:\"stdClass\":2:{s:11:\"description\";s:8:\"Not
  used\";s:4:\"type\";s:6:\"object\";}}}}s:11:\"description\";s:48:\"An array of aggregation
  or audio recommendations\";}s:14:\"SearchMetaData\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"query\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"The
  search terms used in the original request\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:5:\"query\";}}s:11:\"SimpleError\";O:8:\"stdClass\":3:{s:11:\"description\";s:145:\"A
  simple representation of an error result from an API call, rarely used; in most
  cases we still return a Collection.doc+JSON document for errors\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"A
  message describing the error that occurred\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:7:\"default\";s:5:\"error\";s:11:\"description\";s:59:\"A
  short string representing the type of error that occurred\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:7:\"message\";i:1;s:4:\"type\";}}s:17:\"StaticResourceXml\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"creativeType\";O:8:\"stdClass\":3:{s:7:\"default\";s:10:\"image/jpeg\";s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:9:\"attribute\";b:1;}}}s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:14:\"StaticResource\";}}s:16:\"StationBrandData\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"An
  associative array of brand-related metadata for this station\";s:10:\"properties\";O:8:\"stdClass\":7:{s:4:\"band\";O:8:\"stdClass\":4:{s:7:\"default\";s:2:\"FM\";s:11:\"description\";s:87:\"The
  subsection of the radio spectrum -- 'AM' or 'FM' -- where this station can be heard\";s:4:\"enum\";a:2:{i:0;s:2:\"FM\";i:1;s:2:\"AM\";}s:4:\"type\";s:6:\"string\";}s:4:\"call\";O:8:\"stdClass\":3:{s:11:\"description\";s:185:\"The
  three-to-four-letter identifying code for this station. Please use this with caution;
  most stations prefer to be identified by their `name` in client applications instead
  of `call`.\";s:7:\"pattern\";s:17:\"^(W|K)[A-Z]{2,3}$\";s:4:\"type\";s:6:\"string\";}s:9:\"frequency\";O:8:\"stdClass\":3:{s:11:\"description\";s:181:\"Where
  on the radio dial the station can be heard. If the `band` is AM, the frequency will
  be between 540 and 1600. If the `band` is FM, the frequency will be between 87.8
  and 108.0.\";s:7:\"pattern\";s:14:\"^\\d{2,3}\\.?\\d$\";s:4:\"type\";s:6:\"string\";}s:10:\"marketCity\";O:8:\"stdClass\":3:{s:11:\"description\";s:208:\"The
  city that the station is most closely associated with. This may or may not be the
  city the station is licensed in and it may or may not be the city that the station
  or the station's antenna is located in.\";s:7:\"pattern\";s:15:\"^[A-Za-z '\\.]+$\";s:4:\"type\";s:6:\"string\";}s:11:\"marketState\";O:8:\"stdClass\":3:{s:11:\"description\";s:211:\"The
  state that the station is most closely associated with. This may or may not be the
  state the station is licensed in and it may or may not be the state that the station
  or the station's antenna is located in.\";s:7:\"pattern\";s:10:\"^[A-Z]{2}$\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:196:\"The
  display name for the station. In most cases, this will be the same as `call` letters
  combined with band. When returning networks, it will return the network name (e.g.
  Minnesota Public Radio).\";s:4:\"type\";s:6:\"string\";}s:7:\"tagline\";O:8:\"stdClass\":3:{s:7:\"default\";s:0:\"\";s:11:\"description\";s:33:\"A
  short text-logo for the station\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:4:\"name\";i:1;s:7:\"tagline\";i:2;s:10:\"marketCity\";i:3;s:11:\"marketState\";}}s:16:\"StationBrandLink\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/AbstractCDocLink\";}i:1;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"rel\";O:8:\"stdClass\":4:{s:7:\"default\";s:8:\"homepage\";s:11:\"description\";s:85:\"A
  short string identifier describing the way the way the link relates to the document\";s:4:\"enum\";a:7:{i:0;s:8:\"homepage\";i:1;s:4:\"logo\";i:2;s:10:\"small-logo\";i:3;s:14:\"hello-id-audio\";i:4;s:21:\"station-message-audio\";i:5;s:7:\"twitter\";i:6;s:8:\"facebook\";}s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:3:\"rel\";}}}s:11:\"description\";s:80:\"A
  link to a web page, logo, or audio file related to the branding of the station\";}s:11:\"StationData\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:5:\"brand\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/StationBrandData\";s:11:\"description\";s:63:\"An
  associative array of brand-related metadata for this station\";}s:11:\"eligibility\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/StationEligibilityData\";s:11:\"description\";s:69:\"An
  associative array of eligibility-related metadata for this station\";}s:4:\"guid\";O:8:\"stdClass\":3:{s:11:\"description\";s:100:\"The
  system's internal unique identifier for a station, not typically used by other APIs
  or consumers\";s:7:\"pattern\";s:14:\"^[0-9a-f]{32}$\";s:4:\"type\";s:6:\"string\";}s:7:\"network\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/StationNetworkData\";s:11:\"description\";s:64:\"Metadata
  about the network, if this station is part of a network\";}s:8:\"newscast\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/StationNewscastData\";s:11:\"description\";s:189:\"Metadata
  about the newscast for this station; this is handled internally by other microservices
  such as the NPR One Listening Service, so this data should typically not be used
  by consumers\";}s:5:\"orgId\";O:8:\"stdClass\":3:{s:11:\"description\";s:95:\"The
  system's unique ID for this station, used across NPR One Microservices and NPR's
  other APIs\";s:7:\"pattern\";s:9:\"^\\d{1,4}$\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:5:{i:0;s:5:\"orgId\";i:1;s:4:\"guid\";i:2;s:5:\"brand\";i:3;s:11:\"eligibility\";i:4;s:7:\"network\";}}s:15:\"StationDocument\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/CollectionDocument\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"attributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/StationData\";s:11:\"description\";s:28:\"The
  metadata for the station\";}s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:8:\"Not
  used\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:4:\"null\";}s:4:\"type\";s:5:\"array\";}s:5:\"links\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/StationLinks\";s:11:\"description\";s:92:\"A
  list of links consisting of logos, audio files, and external URLs related to this
  station.\";}}}}}s:19:\"StationDonationLink\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/StationLink\";}i:1;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"typeId\";O:8:\"stdClass\":4:{s:7:\"default\";s:1:\"4\";s:11:\"description\";s:116:\"An
  identifier for the type of link; '4' denotes a generic pledge page, while '27' is
  an NPR One-specific pledge page\";s:4:\"enum\";a:3:{i:0;s:1:\"4\";i:1;s:2:\"27\";i:2;s:2:\"28\";}s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:6:\"typeId\";}}}s:11:\"description\";s:39:\"A
  link to a pledge page for the station\";}s:22:\"StationEligibilityData\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"An
  associative array of eligibility-related metadata for this station\";s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"format\";O:8:\"stdClass\":3:{s:7:\"default\";s:12:\"Public
  Radio\";s:11:\"description\";s:45:\"The format of the programming on this station\";s:4:\"type\";s:6:\"string\";}s:9:\"musicOnly\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:44:\"Whether
  or not this station only plays music\";s:4:\"type\";s:7:\"boolean\";}s:6:\"nprOne\";O:8:\"stdClass\":3:{s:7:\"default\";b:1;s:11:\"description\";s:60:\"Whether
  or not this station is considered an NPR One station\";s:4:\"type\";s:7:\"boolean\";}s:6:\"status\";O:8:\"stdClass\":4:{s:7:\"default\";s:1:\"1\";s:11:\"description\";s:78:\"The
  status of the station within NPR's system, not typically used by consumers\";s:4:\"enum\";a:5:{i:0;s:1:\"1\";i:1;s:1:\"9\";i:2;s:2:\"10\";i:3;s:2:\"12\";i:4;s:2:\"15\";}s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:6:\"nprOne\";i:1;s:6:\"format\";i:2;s:9:\"musicOnly\";i:3;s:6:\"status\";}}s:11:\"StationLink\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/AbstractLink\";}i:1;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"guid\";O:8:\"stdClass\":3:{s:11:\"description\";s:83:\"The
  system's internal unique identifier for a link, not typically used by consumers\";s:7:\"pattern\";s:14:\"^[0-9a-f]{32}$\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":3:{s:7:\"default\";s:0:\"\";s:11:\"description\";s:51:\"The
  link text, provided by the station, for the URL\";s:4:\"type\";s:6:\"string\";}s:8:\"typeName\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"The
  semantic name corresponding to the `typeId`\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:8:\"typeName\";i:1;s:5:\"title\";}}}s:11:\"description\";s:29:\"A
  link related to the station\";}s:12:\"StationLinks\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:5:\"brand\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"One
  or more links to a web page for the station\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/StationBrandLink\";}s:4:\"type\";s:5:\"array\";}s:8:\"donation\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"One
  or more links to audio files related to this station\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/StationDonationLink\";}s:4:\"type\";s:5:\"array\";}s:8:\"podcasts\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"One
  or more links to podcasts related to this station\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/StationPodcastsLink\";}s:4:\"type\";s:5:\"array\";}s:7:\"related\";O:8:\"stdClass\":3:{s:11:\"description\";s:158:\"One
  or more links to miscellaneous related content for the station; these typically
  are not present, and clients should generally not need to use any of these\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/StationRelatedLink\";}s:4:\"type\";s:5:\"array\";}s:7:\"streams\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"One
  or more links to audio streams related to the station\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/StationStreamsLink\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:5:\"brand\";}}s:19:\"StationListDocument\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/CollectionDocument\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"attributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/StationSearchMetaData\";s:11:\"description\";s:34:\"The
  metadata for the search itself\";}s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"A
  list of stations\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/StationDocument\";}s:4:\"type\";s:5:\"array\";}s:5:\"links\";O:8:\"stdClass\":2:{s:11:\"description\";s:8:\"Not
  used\";s:4:\"type\";s:6:\"object\";}}}}s:11:\"description\";s:68:\"A collection
  of stations close to you or filtered by search criteria\";}s:18:\"StationNetworkData\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"Metadata
  about the network, if this station is part of a network\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"currentOrgId\";O:8:\"stdClass\":3:{s:11:\"description\";s:89:\"The
  current station being viewed. Client applications should generally ignore this field.\";s:7:\"pattern\";s:9:\"^\\d{1,4}$\";s:4:\"type\";s:6:\"string\";}s:5:\"tier1\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/StationNetworkTierOneData\";s:11:\"description\";s:64:\"The
  top-level organization, if this station is part of a network\";}s:15:\"usesInheritance\";O:8:\"stdClass\":2:{s:11:\"description\";s:101:\"Whether
  or not the current station inherits from a parent organization, also referred to
  as a network\";s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:2:{i:0;s:12:\"currentOrgId\";i:1;s:15:\"usesInheritance\";}}s:25:\"StationNetworkTierOneData\";O:8:\"stdClass\":3:{s:11:\"description\";s:94:\"Metadata
  about the top-level organization in the network, if this station is part of a network\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"The
  unique identifier of the top-level organization in the network\";s:7:\"pattern\";s:9:\"^\\d{1,4}$\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"The
  display name for the top-level organization in the network\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":4:{s:7:\"default\";s:2:\"10\";s:11:\"description\";s:93:\"The
  status of the top-level organization within NPR's system, not typically used by
  consumers\";s:4:\"enum\";a:5:{i:0;s:1:\"1\";i:1;s:1:\"9\";i:2;s:2:\"10\";i:3;s:2:\"12\";i:4;s:2:\"15\";}s:4:\"type\";s:6:\"string\";}s:5:\"tier2\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"One
  or more stations that are hierarchical children of this organization\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/StationNetworkTierTwoData\";}s:4:\"type\";s:5:\"array\";}s:15:\"usesInheritance\";O:8:\"stdClass\":2:{s:11:\"description\";s:94:\"Whether
  or not this station inherits from a parent organization, also referred to as a network\";s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:3:{i:0;s:2:\"id\";i:1;s:4:\"name\";i:2;s:15:\"usesInheritance\";}}s:27:\"StationNetworkTierThreeData\";O:8:\"stdClass\":3:{s:11:\"description\";s:89:\"Metadata
  about a tier 3 organization in the network, if this station is part of a network\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"The
  unique identifier of a tier 3 organization in the network\";s:7:\"pattern\";s:9:\"^\\d{1,4}$\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"The
  display name for a tier 3 organization in the network\";s:4:\"type\";s:6:\"string\";}s:15:\"usesInheritance\";O:8:\"stdClass\":2:{s:11:\"description\";s:94:\"Whether
  or not this station inherits from a parent organization, also referred to as a network\";s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:3:{i:0;s:2:\"id\";i:1;s:4:\"name\";i:2;s:15:\"usesInheritance\";}}s:25:\"StationNetworkTierTwoData\";O:8:\"stdClass\":3:{s:11:\"description\";s:89:\"Metadata
  about a tier 2 organization in the network, if this station is part of a network\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"The
  unique identifier of a tier 2 organization in the network\";s:7:\"pattern\";s:9:\"^\\d{1,4}$\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"The
  display name for a tier 2 organization in the network\";s:4:\"type\";s:6:\"string\";}s:5:\"tier3\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"One
  or more stations that are hierarchical children of this organization\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/StationNetworkTierThreeData\";}s:4:\"type\";s:5:\"array\";}s:15:\"usesInheritance\";O:8:\"stdClass\":2:{s:11:\"description\";s:94:\"Whether
  or not this station inherits from a parent organization, also referred to as a network\";s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:3:{i:0;s:2:\"id\";i:1;s:4:\"name\";i:2;s:15:\"usesInheritance\";}}s:19:\"StationNewscastData\";O:8:\"stdClass\":3:{s:11:\"description\";s:195:\"Metadata
  about the newscast for this station; newscasts are handled internally by other microservices
  such as the NPR One Listening Service, so this data should typically not be used
  by consumers\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":3:{s:11:\"description\";s:207:\"The
  ID of the newscast that should be played for this station; this is handled internally
  by other microservices such as the NPR One Listening Service, so this field should
  typically not be used by consumers\";s:7:\"pattern\";s:9:\"^\\d{1,4}$\";s:4:\"type\";s:6:\"string\";}s:7:\"recency\";O:8:\"stdClass\":3:{s:11:\"description\";s:144:\"How
  often the newscast should be played, in minutes; a value of `null` implies no information
  is available, and sensible defaults should be used\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:2:{i:0;s:2:\"id\";i:1;s:7:\"recency\";}}s:19:\"StationPodcastsLink\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/StationLink\";}i:1;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"typeId\";O:8:\"stdClass\":4:{s:7:\"default\";s:1:\"9\";s:11:\"description\";s:34:\"An
  identifier for the type of link\";s:4:\"enum\";a:1:{i:0;s:1:\"9\";}s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:6:\"typeId\";}}}s:11:\"description\";s:65:\"A
  link to an audio podcast or podcast feed related to the station\";}s:18:\"StationRelatedLink\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/StationLink\";}i:1;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"typeId\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"An
  identifier for the type of link\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:6:\"typeId\";}}}s:11:\"description\";s:140:\"A
  link to miscellaneous related content for the station; these typically are not present,
  and clients should generally not need to use these\";}s:21:\"StationSearchMetaData\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"city\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"The
  city searched for in the original request\";s:4:\"type\";s:6:\"string\";}s:3:\"lat\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  latitude parameter used in the original request\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:3:\"lon\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  longitude parameter in the original request\";s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:5:\"query\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"The
  search terms used in the original request\";s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"The
  state searched for in the original request\";s:4:\"type\";s:6:\"string\";}}}s:18:\"StationStreamsLink\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/StationLink\";}i:1;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"isPrimaryStream\";O:8:\"stdClass\":3:{s:7:\"default\";b:1;s:11:\"description\";s:69:\"Whether
  or not this stream is considered the station's primary stream\";s:4:\"type\";s:7:\"boolean\";}s:6:\"typeId\";O:8:\"stdClass\":4:{s:7:\"default\";s:2:\"10\";s:11:\"description\";s:36:\"An
  identifier for the type of stream\";s:4:\"enum\";a:4:{i:0;s:2:\"10\";i:1;s:2:\"11\";i:2;s:2:\"12\";i:3;s:2:\"13\";}s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:6:\"typeId\";}}}s:11:\"description\";s:48:\"A
  link to an audio stream related to the station\";}s:11:\"TrackingXml\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"event\";O:8:\"stdClass\":4:{s:7:\"default\";s:5:\"start\";s:4:\"enum\";a:6:{i:0;s:5:\"start\";i:1;s:13:\"firstQuartile\";i:2;s:8:\"midpoint\";i:3;s:13:\"thirdQuartile\";i:4;s:8:\"complete\";i:5;s:12:\"creativeView\";}s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:9:\"attribute\";b:1;}}}s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":1:{s:4:\"name\";s:8:\"Tracking\";}}s:10:\"UserAdData\";O:8:\"stdClass\":2:{s:11:\"description\";s:98:\"All
  information relevant to a user who has requested sponsorship or submitted tracking
  information\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"ipAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:271:\"The
  TCP/IP address of the client making the request. The server will attempt to grab
  this from the headers, so it probably does not need to be passed in the body unless
  you get back an error message stating that we were unable to determine an IP address
  from the request.\";s:4:\"type\";s:6:\"string\";}s:10:\"listenerId\";O:8:\"stdClass\":2:{s:11:\"description\";s:156:\"A
  client-designated unique identifier for the logged-in user, only used if neither
  an NPR.org public user ID nor an `X-Advertising-ID` header are available.\";s:4:\"type\";s:6:\"string\";}s:9:\"userAgent\";O:8:\"stdClass\":2:{s:11:\"description\";s:275:\"An
  identifying string for the browser making the request. The server will attempt to
  grab this from the headers, so it probably does not need to be passed in the body
  unless you get back an error message stating that we were unable to determine a
  User-Agent from the request.\";s:4:\"type\";s:6:\"string\";}}}s:14:\"UserAdDocument\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/CollectionDocument\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"attributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/UserAdData\";s:11:\"description\";s:98:\"All
  information relevant to a user who has requested sponsorship or submitted tracking
  information\";}s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:125:\"All
  the information needed for the Sponsorship Service to send back tracking information
  to our external sponsorship provider\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/AdTrackingDocument\";}s:4:\"type\";s:5:\"array\";}}}}s:11:\"description\";s:98:\"All
  information relevant to a user who has requested sponsorship or submitted tracking
  information\";}s:8:\"UserData\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Object;
  see description of a user object below\";s:10:\"properties\";O:8:\"stdClass\":7:{s:12:\"affiliations\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"Program(s)
  that the user has positively interacted with\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Affiliation\";}s:4:\"type\";s:5:\"array\";}s:6:\"cohort\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Cohort\";s:11:\"description\";s:54:\"Experimental
  groupings for User Experience A/B Testing\";}s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  user's email address\";s:4:\"type\";s:6:\"string\";}s:9:\"firstName\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  user's first name\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Some
  unique identifier for the user\";s:4:\"type\";s:6:\"string\";}s:8:\"lastName\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"The
  user's last name\";s:4:\"type\";s:6:\"string\";}s:13:\"organizations\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"User's
  chosen NPR Member Station(s)\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/Organization\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:3:{i:0;s:2:\"id\";i:1;s:6:\"cohort\";i:2;s:13:\"organizations\";}}s:12:\"UserDocument\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/CollectionDocument\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"attributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/UserData\";s:11:\"description\";s:46:\"Object;
  see description of a user object below\";}s:5:\"items\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Not
  used, ignored on a PUT\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:4:\"null\";}s:4:\"type\";s:5:\"array\";}s:5:\"links\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"A
  list of links, not used by the Identity Service; ignored on a PUT\";s:4:\"type\";s:6:\"object\";}}}}}}"
...
