---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":4:{s:7:\"version\";s:3:\"1.0\";s:5:\"title\";s:9:\"Reporting\";s:11:\"description\";s:3552:\"Welcome
  to the Seismic API.\r\nThis documentation is provided to help you understand how
  to make API calls.\r\nThis API will allow you to interact with the Seismic platform
  and gather data about the platform.\r\nIf you would like to use this API, please
  contact **support@seismic.com** with the email subject **\"API Access Request\"**
  and copy your Seismic customer success manager to ask about getting an API key.\r\n\r\nWe
  recommend using [Postman](https://www.getpostman.com) as a testing interface, however,
  samples are provided in several languages for your convenience.\r\n\r\nThe APIs
  are generally intended to be [RESTful](https://en.wikipedia.org/wiki/Representational_state_transfer),
  but in some cases there are exceptions.\r\n\r\n\r\n\r\n# Conventions and Formats\r\n##
  Date Formats\r\n\r\nAll timestamps (both those sent in requests and those returned
  in responses) are formatted using [RFC 3339](https://www.ietf.org/rfc/rfc3339.txt)
  timestamps. The preferred way to pass in a date is by converting the time to UTC
  such as this: 2018-01-01T08:00:00Z.\r\n\r\nIn cases where timestamps are rounded
  to a given day, you may omit the time component. So instead of 2018-01-01T00:00:00Z
  you can use 2018-01-01. Any date specified with no time is assumed to be 00:00:00
  UTC.\r\n\r\nOur APIs support the subset of dates after the start of the Unix epoch:
  1970-01-01T00:00:00+00:00 (00:00:00 UTC on January 1, 1970).\r\n\r\n# Errors\r\nThe
  Seismic API communicates errors through standard [HTTP status codes](https://en.wikipedia.org/wiki/List_of_HTTP_status_codes)
  with details supplied in the JSON response body. Generally the following pattern
  applies:\r\n\r\n* 2xx - Received, understood, and accepted a request.\r\n* 3xx -
  The user agent must take further action in order to complete the request.\r\n* 4xx
  - An error occurred in handling the request. The most common cause of this error
  is an invalid parameter.\r\n* 5xx- An error occurred in the Seismic platform while
  handling the request.\r\n\r\n\r\n<!--\r\n\r\n\r\n# Pagination\r\n## Marker-based
  Paging\r\nThe default behavior for paginated APIs is to use marker-based paging
  which returns a set of results in the `items` array along with a marker to continue
  retrieving additional items.  This is the highest performance approach for paginated
  APIs.  With marker-based paging, there is no way to determine the total number of
  records in a result set except by retrieving them all.\r\n\r\nTo get the first set
  of items, call the API with `limit` = *limit*.\r\nIf there are additional items
  beyond the limit, the API will return a `nextMarker` in the response.\r\n\r\nTo
  get the next set of items, call the API with `marker` = *nextMarker* and `limit`
  = *limit*.\r\n\r\nIf `nextMarker` is empty, null, or equal to \"\", then you have
  retrieved all of the items for the given request.\r\n\r\nApplications should not
  retain the markers long-term, they should generally be considered to have a shelf
  life of under 5 minutes.\r\n\r\n## Offset-based paging\r\nAPIs that use offset-based
  paging use the `offset` and `limit` query parameters and return a set of results
  in the `items` array as well as returning the `offset`, `limit`, and `totalItems`
  fields.\r\n\r\nTo fetch the first set of items, call the API with `offset` = 0 and
  `limit` = *limit*.  The default `offset` is 0, default `limit` is 100, maximum `limit`
  is 1000.\r\n\r\nTo fetch the next set of items, call the API with `offset` = *previous-offset*
  + *previous-limit* and `limit` = *limit*.\r\n\r\nIf the returned `offset` + `limit`
  >= `totalItems`, then you have retrieved all of the items and there are no more
  to retrieve. \r\n\r\n\r\n-->\";s:7:\"contact\";O:8:\"stdClass\":0:{}}"
host: api.seismic.com
basePath: /reporting
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":35:{s:4:\"JSON\";O:8:\"stdClass\":5:{s:5:\"title\";s:4:\"JSON\";s:7:\"example\";O:8:\"stdClass\":14:{s:2:\"id\";s:36:\"e9da8772-142d-4388-a4e1-68e3790871c8\";s:10:\"occurredAt\";s:20:\"2018-06-14T03:46:30Z\";s:6:\"action\";s:16:\"Add
  to WorkSpace\";s:10:\"actionType\";s:8:\"Built-in\";s:6:\"userId\";s:36:\"eb8d763c-ce43-4ede-8789-4c7269e1cd23\";s:12:\"userUsername\";s:20:\"tstrader@seismic.com\";s:12:\"instanceName\";s:22:\"CP150
  Product Overview\";s:14:\"instanceFormat\";s:3:\"pdf\";s:16:\"libraryContentId\";s:36:\"586e4485-2612-7d1b-a7d4-0775df648571\";s:18:\"libraryContentName\";s:22:\"CP150
  Product Overview\";s:23:\"libraryContentVersionId\";s:36:\"5fa13b27-3523-4978-a2cf-4864a9ef7590\";s:18:\"workspaceContentId\";N;s:25:\"workspaceContentVersionId\";N;s:16:\"contentProfileId\";s:36:\"374df864-f9d2-4b27-b7ed-682e10e39088\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":14:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"occurredAt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"action\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"actionType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"userId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"userUsername\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"instanceName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"instanceFormat\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"libraryContentId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"libraryContentName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"libraryContentVersionId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"workspaceContentId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:25:\"workspaceContentVersionId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"contentProfileId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:14:{i:0;s:2:\"id\";i:1;s:10:\"occurredAt\";i:2;s:6:\"action\";i:3;s:10:\"actionType\";i:4;s:6:\"userId\";i:5;s:12:\"userUsername\";i:6;s:12:\"instanceName\";i:7;s:14:\"instanceFormat\";i:8;s:16:\"libraryContentId\";i:9;s:18:\"libraryContentName\";i:10;s:23:\"libraryContentVersionId\";i:11;s:18:\"workspaceContentId\";i:12;s:25:\"workspaceContentVersionId\";i:13;s:16:\"contentProfileId\";}}s:5:\"JSON1\";O:8:\"stdClass\":5:{s:5:\"title\";s:5:\"JSON1\";s:7:\"example\";O:8:\"stdClass\":13:{s:2:\"id\";s:36:\"e9da8772-142d-4388-a4e1-68e3790871c8\";s:10:\"occurredAt\";s:20:\"2018-06-14T03:46:30Z\";s:6:\"action\";s:4:\"View\";s:6:\"userId\";s:36:\"eb8d763c-ce43-4ede-8789-4c7269e1cd23\";s:12:\"userUsername\";s:20:\"tstrader@seismic.com\";s:12:\"instanceName\";s:22:\"CP150
  Product Overview\";s:14:\"instanceFormat\";s:3:\"pdf\";s:16:\"libraryContentId\";s:36:\"586e4485-2612-7d1b-a7d4-0775df648571\";s:18:\"libraryContentName\";s:22:\"CP150
  Product Overview\";s:23:\"libraryContentVersionId\";s:36:\"5fa13b27-3523-4978-a2cf-4864a9ef7590\";s:18:\"workspaceContentId\";N;s:25:\"workspaceContentVersionId\";N;s:16:\"contentProfileId\";s:36:\"374df864-f9d2-4b27-b7ed-682e10e39088\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":13:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"occurredAt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"action\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"userId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"userUsername\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"instanceName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"instanceFormat\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"libraryContentId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"libraryContentName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"libraryContentVersionId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"workspaceContentId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:25:\"workspaceContentVersionId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"contentProfileId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:13:{i:0;s:2:\"id\";i:1;s:10:\"occurredAt\";i:2;s:6:\"action\";i:3;s:6:\"userId\";i:4;s:12:\"userUsername\";i:5;s:12:\"instanceName\";i:6;s:14:\"instanceFormat\";i:7;s:16:\"libraryContentId\";i:8;s:18:\"libraryContentName\";i:9;s:23:\"libraryContentVersionId\";i:10;s:18:\"workspaceContentId\";i:11;s:25:\"workspaceContentVersionId\";i:12;s:16:\"contentProfileId\";}}s:5:\"JSON2\";O:8:\"stdClass\":5:{s:5:\"title\";s:5:\"JSON2\";s:7:\"example\";O:8:\"stdClass\":5:{s:2:\"id\";s:36:\"f94b80f0-1ad8-eec3-1cea-b2e8e6ba3add\";s:10:\"occurredAt\";s:20:\"2018-02-04T01:23:17Z\";s:6:\"action\";s:5:\"Login\";s:6:\"userId\";s:36:\"f94b80f0-1ad8-eec3-1cea-b2e8e6ba3add\";s:12:\"userUsername\";s:20:\"tstrader@seismic.com\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"occurredAt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"action\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"userId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"userUsername\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:5:{i:0;s:2:\"id\";i:1;s:10:\"occurredAt\";i:2;s:6:\"action\";i:3;s:6:\"userId\";i:4;s:12:\"userUsername\";}}s:5:\"JSON3\";O:8:\"stdClass\":5:{s:5:\"title\";s:5:\"JSON3\";s:7:\"example\";O:8:\"stdClass\":13:{s:2:\"id\";s:36:\"db0b81fc-8589-5da8-fe32-e8421ce204b5\";s:13:\"searchCycleId\";s:36:\"db0b81fc-8589-5da8-fe32-e8421ce204b5\";s:13:\"searchTermRaw\";s:4:\"data\";s:20:\"searchTermNormalized\";s:4:\"data\";s:10:\"searchType\";s:14:\"Keyword
  Search\";s:6:\"sortBy\";s:9:\"Relevance\";s:10:\"occurredAt\";s:20:\"2018-12-08T08:19:55Z\";s:6:\"userId\";s:36:\"cf74eeb4-3aea-4af0-8b31-79f60c67ef36\";s:11:\"resultCount\";i:87;s:20:\"resultCountDocCenter\";i:17;s:21:\"resultCountNewsCenter\";i:64;s:20:\"resultCountWorkspace\";i:7;s:25:\"resultCountContentManager\";i:0;}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":13:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"searchCycleId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"searchTermRaw\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"searchTermNormalized\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"searchType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"sortBy\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"occurredAt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"userId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"resultCount\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:20:\"resultCountDocCenter\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:21:\"resultCountNewsCenter\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:20:\"resultCountWorkspace\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:25:\"resultCountContentManager\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}s:8:\"required\";a:13:{i:0;s:2:\"id\";i:1;s:13:\"searchCycleId\";i:2;s:13:\"searchTermRaw\";i:3;s:20:\"searchTermNormalized\";i:4;s:10:\"searchType\";i:5;s:6:\"sortBy\";i:6;s:10:\"occurredAt\";i:7;s:6:\"userId\";i:8;s:11:\"resultCount\";i:9;s:20:\"resultCountDocCenter\";i:10;s:21:\"resultCountNewsCenter\";i:11;s:20:\"resultCountWorkspace\";i:12;s:25:\"resultCountContentManager\";}}s:5:\"JSON5\";O:8:\"stdClass\":5:{s:5:\"title\";s:5:\"JSON5\";s:7:\"example\";O:8:\"stdClass\":4:{s:10:\"totalItems\";i:100;s:5:\"limit\";i:100;s:6:\"offset\";i:0;s:5:\"items\";a:1:{i:0;O:8:\"stdClass\":2:{s:4:\"user\";O:8:\"stdClass\":18:{s:6:\"userId\";s:36:\"f94b80f0-1ad8-eec3-1cea-b2e8e6ba3add\";s:5:\"ssoId\";s:9:\"123456789\";s:8:\"isActive\";s:4:\"true\";s:8:\"username\";s:20:\"tstrader@seismic.com\";s:5:\"email\";s:20:\"tstrader@seismic.com\";s:8:\"fullname\";s:11:\"Tom
  Strader\";s:11:\"licenseType\";s:7:\"premium\";s:9:\"firstName\";s:3:\"Tom\";s:8:\"lastName\";s:7:\"Strader\";s:5:\"title\";s:32:\"Sr.
  Director, Product Management\";s:12:\"organization\";s:11:\"Engineering\";s:7:\"address\";s:41:\"12770
  El Camino Real, San Diego, CA 92130\";s:11:\"phoneNumber\";s:10:\"4082195657\";s:9:\"createdAt\";s:20:\"2018-02-04T01:23:17Z\";s:13:\"lastUpdatedAt\";s:20:\"2018-02-04T01:23:17Z\";s:21:\"defaultContentProfile\";O:8:\"stdClass\":2:{s:16:\"contentProfileId\";s:36:\"f94b80f0-1ad8-eec3-1cea-b2e8e6ba3add\";s:4:\"name\";s:4:\"Core\";}s:6:\"groups\";a:1:{i:0;O:8:\"stdClass\":2:{s:7:\"groupId\";s:36:\"f94b80f0-1ad8-eec3-1cea-b2e8e6ba3add\";s:4:\"name\";s:16:\"Product
  Managers\";}}s:14:\"userProperties\";a:2:{i:0;O:8:\"stdClass\":3:{s:10:\"propertyId\";s:36:\"f94b80f0-1ad8-eec3-1cea-b2e8e6ba3add\";s:4:\"name\";s:6:\"Region\";s:6:\"values\";a:1:{i:0;s:4:\"West\";}}i:1;O:8:\"stdClass\":3:{s:10:\"propertyId\";s:36:\"f94b80f0-1ad8-eec3-1cea-b2e8e6ba3add\";s:4:\"name\";s:13:\"Business
  Unit\";s:6:\"values\";a:1:{i:0;s:4:\"Core\";}}}}s:13:\"loginsInRange\";O:8:\"stdClass\":3:{s:5:\"count\";i:100;s:14:\"firstLoginDate\";s:20:\"2018-02-04T01:23:17Z\";s:13:\"lastLoginDate\";s:20:\"2018-02-04T01:23:17Z\";}}}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"totalItems\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:5:\"limit\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:6:\"offset\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Item\";}}}s:8:\"required\";a:4:{i:0;s:10:\"totalItems\";i:1;s:5:\"limit\";i:2;s:6:\"offset\";i:3;s:5:\"items\";}}s:4:\"Item\";O:8:\"stdClass\":5:{s:5:\"title\";s:4:\"Item\";s:7:\"example\";O:8:\"stdClass\":2:{s:4:\"user\";O:8:\"stdClass\":18:{s:6:\"userId\";s:36:\"f94b80f0-1ad8-eec3-1cea-b2e8e6ba3add\";s:5:\"ssoId\";s:9:\"123456789\";s:8:\"isActive\";s:4:\"true\";s:8:\"username\";s:20:\"tstrader@seismic.com\";s:5:\"email\";s:20:\"tstrader@seismic.com\";s:8:\"fullname\";s:11:\"Tom
  Strader\";s:11:\"licenseType\";s:7:\"premium\";s:9:\"firstName\";s:3:\"Tom\";s:8:\"lastName\";s:7:\"Strader\";s:5:\"title\";s:32:\"Sr.
  Director, Product Management\";s:12:\"organization\";s:11:\"Engineering\";s:7:\"address\";s:41:\"12770
  El Camino Real, San Diego, CA 92130\";s:11:\"phoneNumber\";s:10:\"4082195657\";s:9:\"createdAt\";s:20:\"2018-02-04T01:23:17Z\";s:13:\"lastUpdatedAt\";s:20:\"2018-02-04T01:23:17Z\";s:21:\"defaultContentProfile\";O:8:\"stdClass\":2:{s:16:\"contentProfileId\";s:36:\"f94b80f0-1ad8-eec3-1cea-b2e8e6ba3add\";s:4:\"name\";s:4:\"Core\";}s:6:\"groups\";a:1:{i:0;O:8:\"stdClass\":2:{s:7:\"groupId\";s:36:\"f94b80f0-1ad8-eec3-1cea-b2e8e6ba3add\";s:4:\"name\";s:16:\"Product
  Managers\";}}s:14:\"userProperties\";a:2:{i:0;O:8:\"stdClass\":3:{s:10:\"propertyId\";s:36:\"f94b80f0-1ad8-eec3-1cea-b2e8e6ba3add\";s:4:\"name\";s:6:\"Region\";s:6:\"values\";a:1:{i:0;s:4:\"West\";}}i:1;O:8:\"stdClass\":3:{s:10:\"propertyId\";s:36:\"f94b80f0-1ad8-eec3-1cea-b2e8e6ba3add\";s:4:\"name\";s:13:\"Business
  Unit\";s:6:\"values\";a:1:{i:0;s:4:\"Core\";}}}}s:13:\"loginsInRange\";O:8:\"stdClass\":3:{s:5:\"count\";i:100;s:14:\"firstLoginDate\";s:20:\"2018-02-04T01:23:17Z\";s:13:\"lastLoginDate\";s:20:\"2018-02-04T01:23:17Z\";}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"user\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/User\";}s:13:\"loginsInRange\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/LoginsInRange\";}}s:8:\"required\";a:2:{i:0;s:4:\"user\";i:1;s:13:\"loginsInRange\";}}s:4:\"User\";O:8:\"stdClass\":5:{s:5:\"title\";s:4:\"User\";s:7:\"example\";O:8:\"stdClass\":18:{s:6:\"userId\";s:36:\"f94b80f0-1ad8-eec3-1cea-b2e8e6ba3add\";s:5:\"ssoId\";s:9:\"123456789\";s:8:\"isActive\";s:4:\"true\";s:8:\"username\";s:20:\"tstrader@seismic.com\";s:5:\"email\";s:20:\"tstrader@seismic.com\";s:8:\"fullname\";s:11:\"Tom
  Strader\";s:11:\"licenseType\";s:7:\"premium\";s:9:\"firstName\";s:3:\"Tom\";s:8:\"lastName\";s:7:\"Strader\";s:5:\"title\";s:32:\"Sr.
  Director, Product Management\";s:12:\"organization\";s:11:\"Engineering\";s:7:\"address\";s:41:\"12770
  El Camino Real, San Diego, CA 92130\";s:11:\"phoneNumber\";s:10:\"4082195657\";s:9:\"createdAt\";s:20:\"2018-02-04T01:23:17Z\";s:13:\"lastUpdatedAt\";s:20:\"2018-02-04T01:23:17Z\";s:21:\"defaultContentProfile\";O:8:\"stdClass\":2:{s:16:\"contentProfileId\";s:36:\"f94b80f0-1ad8-eec3-1cea-b2e8e6ba3add\";s:4:\"name\";s:4:\"Core\";}s:6:\"groups\";a:1:{i:0;O:8:\"stdClass\":2:{s:7:\"groupId\";s:36:\"f94b80f0-1ad8-eec3-1cea-b2e8e6ba3add\";s:4:\"name\";s:16:\"Product
  Managers\";}}s:14:\"userProperties\";a:2:{i:0;O:8:\"stdClass\":3:{s:10:\"propertyId\";s:36:\"f94b80f0-1ad8-eec3-1cea-b2e8e6ba3add\";s:4:\"name\";s:6:\"Region\";s:6:\"values\";a:1:{i:0;s:4:\"West\";}}i:1;O:8:\"stdClass\":3:{s:10:\"propertyId\";s:36:\"f94b80f0-1ad8-eec3-1cea-b2e8e6ba3add\";s:4:\"name\";s:13:\"Business
  Unit\";s:6:\"values\";a:1:{i:0;s:4:\"Core\";}}}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":18:{s:6:\"userId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"ssoId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"isActive\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"username\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"fullname\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"licenseType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"firstName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"lastName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"organization\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"address\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"phoneNumber\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"createdAt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"lastUpdatedAt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"defaultContentProfile\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/DefaultContentProfile\";}s:6:\"groups\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Group\";}}s:14:\"userProperties\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/UserProperty\";}}}s:8:\"required\";a:18:{i:0;s:6:\"userId\";i:1;s:5:\"ssoId\";i:2;s:8:\"isActive\";i:3;s:8:\"username\";i:4;s:5:\"email\";i:5;s:8:\"fullname\";i:6;s:11:\"licenseType\";i:7;s:9:\"firstName\";i:8;s:8:\"lastName\";i:9;s:5:\"title\";i:10;s:12:\"organization\";i:11;s:7:\"address\";i:12;s:11:\"phoneNumber\";i:13;s:9:\"createdAt\";i:14;s:13:\"lastUpdatedAt\";i:15;s:21:\"defaultContentProfile\";i:16;s:6:\"groups\";i:17;s:14:\"userProperties\";}}s:21:\"DefaultContentProfile\";O:8:\"stdClass\":5:{s:5:\"title\";s:21:\"DefaultContentProfile\";s:7:\"example\";O:8:\"stdClass\":2:{s:16:\"contentProfileId\";s:36:\"f94b80f0-1ad8-eec3-1cea-b2e8e6ba3add\";s:4:\"name\";s:4:\"Core\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"contentProfileId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:16:\"contentProfileId\";i:1;s:4:\"name\";}}s:5:\"Group\";O:8:\"stdClass\":5:{s:5:\"title\";s:5:\"Group\";s:7:\"example\";O:8:\"stdClass\":2:{s:7:\"groupId\";s:36:\"f94b80f0-1ad8-eec3-1cea-b2e8e6ba3add\";s:4:\"name\";s:16:\"Product
  Managers\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"groupId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:7:\"groupId\";i:1;s:4:\"name\";}}s:12:\"UserProperty\";O:8:\"stdClass\":5:{s:5:\"title\";s:12:\"UserProperty\";s:7:\"example\";O:8:\"stdClass\":3:{s:10:\"propertyId\";s:36:\"f94b80f0-1ad8-eec3-1cea-b2e8e6ba3add\";s:4:\"name\";s:6:\"Region\";s:6:\"values\";a:1:{i:0;s:4:\"West\";}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"propertyId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"values\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:8:\"required\";a:3:{i:0;s:10:\"propertyId\";i:1;s:4:\"name\";i:2;s:6:\"values\";}}s:13:\"LoginsInRange\";O:8:\"stdClass\":5:{s:5:\"title\";s:13:\"LoginsInRange\";s:7:\"example\";O:8:\"stdClass\":3:{s:5:\"count\";i:100;s:14:\"firstLoginDate\";s:20:\"2018-02-04T01:23:17Z\";s:13:\"lastLoginDate\";s:20:\"2018-02-04T01:23:17Z\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"count\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:14:\"firstLoginDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"lastLoginDate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:5:\"count\";i:1;s:14:\"firstLoginDate\";i:2;s:13:\"lastLoginDate\";}}s:12:\"LivesendLink\";O:8:\"stdClass\":5:{s:5:\"title\";s:12:\"LivesendLink\";s:7:\"example\";O:8:\"stdClass\":6:{s:2:\"id\";s:36:\"f0c1cd3e-edbb-ca88-440e-ffbcdfecd15b\";s:14:\"isSeparateSend\";b:0;s:16:\"notificationMode\";s:7:\"Summary\";s:9:\"createdAt\";s:23:\"2018-09-04
  17:19:55.140\";s:9:\"createdBy\";s:36:\"e1c8a522-d4a9-4d77-941c-5104e2d164b4\";s:17:\"createdByUsername\";s:20:\"tstrader@seismic.com\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"isSeparateSend\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:16:\"notificationMode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"createdAt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"createdBy\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"createdByUsername\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:6:{i:0;s:2:\"id\";i:1;s:14:\"isSeparateSend\";i:2;s:16:\"notificationMode\";i:3;s:9:\"createdAt\";i:4;s:9:\"createdBy\";i:5;s:17:\"createdByUsername\";}}s:19:\"LivesendLinkContent\";O:8:\"stdClass\":5:{s:5:\"title\";s:19:\"LivesendLinkContent\";s:7:\"example\";O:8:\"stdClass\":7:{s:2:\"id\";s:36:\"68b4e80e-4813-2964-3074-005754737d17\";s:14:\"livesendLinkId\";s:36:\"a91404f3-3f88-140b-5c3f-f1c808607859\";s:4:\"name\";s:28:\"Introduction
  to Seismic APIs\";s:9:\"createdAt\";s:23:\"2018-09-04 16:41:14.503\";s:9:\"createdBy\";s:36:\"16eaf222-7023-48de-83dc-00acd2a83cbb\";s:17:\"createdByUsername\";s:20:\"tstrader@seismic.com\";s:10:\"totalPages\";i:14;}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"livesendLinkId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"createdAt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"createdBy\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"createdByUsername\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"totalPages\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}s:8:\"required\";a:7:{i:0;s:2:\"id\";i:1;s:14:\"livesendLinkId\";i:2;s:4:\"name\";i:3;s:9:\"createdAt\";i:4;s:9:\"createdBy\";i:5;s:17:\"createdByUsername\";i:6;s:10:\"totalPages\";}}s:18:\"LivesendLinkMember\";O:8:\"stdClass\":5:{s:5:\"title\";s:18:\"LivesendLinkMember\";s:7:\"example\";O:8:\"stdClass\":2:{s:14:\"livesendLinkId\";s:36:\"fea94def-eb6d-fbe3-7a32-2bab18b00265\";s:5:\"email\";s:20:\"tstrader@seismic.com\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"livesendLinkId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:14:\"livesendLinkId\";i:1;s:5:\"email\";}}s:16:\"LivesendPageView\";O:8:\"stdClass\":5:{s:5:\"title\";s:16:\"LivesendPageView\";s:7:\"example\";O:8:\"stdClass\":7:{s:10:\"occurredAt\";s:20:\"2018-09-05T16:26:39Z\";s:9:\"pageIndex\";i:1;s:21:\"livesendLinkContentId\";s:36:\"85236eba-652f-7b0b-4802-0bf481b3d20b\";s:8:\"duration\";i:3100;s:24:\"livesendViewingSessionId\";s:36:\"ebbc3c9f-89c4-4c06-9f67-d0aee3dfce70\";s:16:\"sessionStartedAt\";s:20:\"2018-09-05T16:26:35Z\";s:14:\"sessionEndedAt\";s:20:\"2018-09-05T16:42:10Z\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:10:\"occurredAt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"pageIndex\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:21:\"livesendLinkContentId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"duration\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:24:\"livesendViewingSessionId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"sessionStartedAt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"sessionEndedAt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:7:{i:0;s:10:\"occurredAt\";i:1;s:9:\"pageIndex\";i:2;s:21:\"livesendLinkContentId\";i:3;s:8:\"duration\";i:4;s:24:\"livesendViewingSessionId\";i:5;s:16:\"sessionStartedAt\";i:6;s:14:\"sessionEndedAt\";}}s:16:\"LivesendDownload\";O:8:\"stdClass\":5:{s:5:\"title\";s:16:\"LivesendDownload\";s:7:\"example\";O:8:\"stdClass\":3:{s:21:\"livesendLinkContentId\";s:36:\"f9017a32-4f68-a139-6459-9e637db3b556\";s:24:\"livesendViewingSessionId\";s:36:\"52b83fe7-faf2-412c-9c85-d0980e4ea849\";s:9:\"downloads\";i:1;}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:21:\"livesendLinkContentId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:24:\"livesendViewingSessionId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"downloads\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}s:8:\"required\";a:3:{i:0;s:21:\"livesendLinkContentId\";i:1;s:24:\"livesendViewingSessionId\";i:2;s:9:\"downloads\";}}s:19:\"MeetingSpaceMeeting\";O:8:\"stdClass\":5:{s:5:\"title\";s:19:\"MeetingSpaceMeeting\";s:7:\"example\";O:8:\"stdClass\":8:{s:2:\"id\";s:36:\"f0c1cd3e-edbb-ca88-440e-ffbcdfecd15b\";s:9:\"createdAt\";s:23:\"2018-09-04
  17:19:55.140\";s:9:\"createdBy\";s:36:\"e1c8a522-d4a9-4d77-941c-5104e2d164b4\";s:17:\"createdByUsername\";s:20:\"tstrader@seismic.com\";s:13:\"totalDuration\";i:5;s:19:\"screenShareDuration\";i:2;s:21:\"documentShareDuration\";i:1;s:20:\"totalDocumentsShared\";i:3;}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"createdAt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"createdBy\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"createdByUsername\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"totalDuration\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:19:\"screenShareDuration\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:21:\"documentShareDuration\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:20:\"totalDocumentsShared\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}s:8:\"required\";a:8:{i:0;s:2:\"id\";i:1;s:9:\"createdAt\";i:2;s:9:\"createdBy\";i:3;s:17:\"createdByUsername\";i:4;s:13:\"totalDuration\";i:5;s:19:\"screenShareDuration\";i:6;s:21:\"documentShareDuration\";i:7;s:20:\"totalDocumentsShared\";}}s:19:\"MeetingSpaceContent\";O:8:\"stdClass\":5:{s:5:\"title\";s:19:\"MeetingSpaceContent\";s:7:\"example\";O:8:\"stdClass\":7:{s:2:\"id\";s:36:\"68b4e80e-4813-2964-3074-005754737d17\";s:21:\"meetingspaceMeetingId\";s:36:\"a91404f3-3f88-140b-5c3f-f1c808607859\";s:4:\"name\";s:28:\"Introduction
  to Seismic APIs\";s:9:\"createdAt\";s:23:\"2018-09-04 16:41:14.503\";s:9:\"createdBy\";s:36:\"16eaf222-7023-48de-83dc-00acd2a83cbb\";s:17:\"createdByUsername\";s:20:\"tstrader@seismic.com\";s:10:\"totalPages\";i:14;}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"meetingspaceMeetingId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"createdAt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"createdBy\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"createdByUsername\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"totalPages\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}s:8:\"required\";a:7:{i:0;s:2:\"id\";i:1;s:21:\"meetingspaceMeetingId\";i:2;s:4:\"name\";i:3;s:9:\"createdAt\";i:4;s:9:\"createdBy\";i:5;s:17:\"createdByUsername\";i:6;s:10:\"totalPages\";}}s:20:\"MeetingSpacePageView\";O:8:\"stdClass\":5:{s:5:\"title\";s:20:\"MeetingSpacePageView\";s:7:\"example\";O:8:\"stdClass\":4:{s:10:\"occurredAt\";s:20:\"2018-09-05T16:26:39Z\";s:9:\"pageIndex\";i:1;s:21:\"meetingspaceContentId\";s:36:\"85236eba-652f-7b0b-4802-0bf481b3d20b\";s:8:\"duration\";d:5.0999999999999996;}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"occurredAt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"pageIndex\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:21:\"meetingspaceContentId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"duration\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}}s:8:\"required\";a:4:{i:0;s:10:\"occurredAt\";i:1;s:9:\"pageIndex\";i:2;s:21:\"meetingspaceContentId\";i:3;s:8:\"duration\";}}s:16:\"GeneratedLiveDoc\";O:8:\"stdClass\":5:{s:5:\"title\";s:16:\"GeneratedLiveDoc\";s:7:\"example\";O:8:\"stdClass\":9:{s:2:\"id\";s:36:\"197f8197-1a66-45e8-b77a-037779067494\";s:16:\"libraryContentId\";s:36:\"03251ebe-0ecd-4d21-b7e6-6c8a0326916a\";s:23:\"libraryContentVersionId\";s:36:\"0036cd7a-357d-42e3-af03-96f55a01aa9a\";s:10:\"occurredAt\";s:20:\"2019-05-03T17:20:06Z\";s:14:\"previewImageId\";s:36:\"9ff027bc-77a1-4984-a198-2cd8f26af869\";s:14:\"processingTime\";d:5.6949310000000004;s:6:\"tenant\";s:4:\"demo\";s:16:\"thumbnailImageId\";s:36:\"9ff027bc-77a1-4984-a198-2cd8f26af869\";s:6:\"userId\";s:36:\"9ff027bc-77a1-4984-a198-2cd8f26af869\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"libraryContentId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"libraryContentVersionId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"occurredAt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"previewImageId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"processingTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:6:\"tenant\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"thumbnailImageId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"userId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:9:{i:0;s:2:\"id\";i:1;s:16:\"libraryContentId\";i:2;s:23:\"libraryContentVersionId\";i:3;s:10:\"occurredAt\";i:4;s:14:\"previewImageId\";i:5;s:14:\"processingTime\";i:6;s:6:\"tenant\";i:7;s:16:\"thumbnailImageId\";i:8;s:6:\"userId\";}}s:25:\"GeneratedLiveDocComponent\";O:8:\"stdClass\":5:{s:5:\"title\";s:25:\"GeneratedLiveDocComponent\";s:7:\"example\";O:8:\"stdClass\":9:{s:18:\"generatedLivedocId\";s:36:\"99322c92-9894-4381-af6b-7c8d86b5fb65\";s:2:\"id\";s:36:\"e3019f51-9802-464a-a317-b2b2939b9de3\";s:12:\"insertMethod\";s:9:\"Reference\";s:12:\"insertStatus\";s:7:\"Success\";s:16:\"libraryContentId\";s:36:\"14765bf1-2275-4aa7-a65b-7dd3b083012c\";s:18:\"libraryContentName\";s:16:\"StockTickerSlide\";s:21:\"libraryContentShortId\";s:7:\"S012345\";s:23:\"libraryContentVersionId\";s:36:\"96f78f34-c20a-40a2-bb2d-aa9fe50cc7a5\";s:12:\"parentPageId\";N;}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:18:\"generatedLivedocId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"insertMethod\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"insertStatus\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"libraryContentId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"libraryContentName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"libraryContentShortId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"libraryContentVersionId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"parentPageId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:9:{i:0;s:18:\"generatedLivedocId\";i:1;s:2:\"id\";i:2;s:12:\"insertMethod\";i:3;s:12:\"insertStatus\";i:4;s:16:\"libraryContentId\";i:5;s:18:\"libraryContentName\";i:6;s:21:\"libraryContentShortId\";i:7;s:23:\"libraryContentVersionId\";i:8;s:12:\"parentPageId\";}}s:21:\"GeneratedLiveDocSlide\";O:8:\"stdClass\":5:{s:5:\"title\";s:21:\"GeneratedLiveDocSlide\";s:7:\"example\";O:8:\"stdClass\":7:{s:18:\"generatedLivedocId\";s:36:\"99322c92-9894-4381-af6b-7c8d86b5fb65\";s:2:\"id\";s:36:\"a2c07a00-f4b4-4c6c-bc34-15273f7b81d8\";s:11:\"pageShortId\";s:3:\"602\";s:17:\"parentComponentId\";s:36:\"e3019f51-9802-464a-a317-b2b2939b9de3\";s:8:\"position\";i:1;s:16:\"thumbnailImageId\";s:36:\"a2c07a00-f4b4-4c6c-bc34-15273f7b81d8\";s:5:\"title\";s:11:\"Cover
  Slide\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:18:\"generatedLivedocId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"pageShortId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"parentComponentId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"position\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:16:\"thumbnailImageId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:7:{i:0;s:18:\"generatedLivedocId\";i:1;s:2:\"id\";i:2;s:11:\"pageShortId\";i:3;s:17:\"parentComponentId\";i:4;s:8:\"position\";i:5;s:16:\"thumbnailImageId\";i:6;s:5:\"title\";}}s:21:\"GeneratedLiveDocField\";O:8:\"stdClass\":5:{s:5:\"title\";s:21:\"GeneratedLiveDocField\";s:7:\"example\";O:8:\"stdClass\":5:{s:18:\"generatedLivedocId\";s:36:\"197f8197-1a66-45e8-b77a-037779067494\";s:2:\"id\";s:36:\"cede28c9-adcb-4ff2-ad60-00b0ec9dd0d1\";s:4:\"name\";s:7:\"Contact\";s:4:\"type\";s:6:\"String\";s:5:\"value\";s:8:\"Joe
  Demo\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:18:\"generatedLivedocId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:5:{i:0;s:18:\"generatedLivedocId\";i:1;s:2:\"id\";i:2;s:4:\"name\";i:3;s:4:\"type\";i:4;s:5:\"value\";}}s:28:\"GeneratedLiveDocOutputFormat\";O:8:\"stdClass\":5:{s:5:\"title\";s:28:\"GeneratedLiveDocOutputFormat\";s:7:\"example\";O:8:\"stdClass\":12:{s:2:\"id\";s:36:\"8f7664db-26a0-4724-bf2c-691641c7c704\";s:4:\"name\";N;s:8:\"fileName\";s:16:\"Hello
  World.pptx\";s:6:\"format\";s:4:\"PPTX\";s:18:\"generatedLivedocId\";s:36:\"197f8197-1a66-45e8-b77a-037779067494\";s:15:\"hasOpenPassword\";b:0;s:15:\"hasOwnerOptions\";b:0;s:16:\"hasOwnerPassword\";b:0;s:10:\"clearNotes\";s:5:\"false\";s:13:\"compatibility\";N;s:8:\"imageDpi\";s:3:\"200\";s:12:\"outputLayout\";N;}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"fileName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"format\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"generatedLivedocId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"hasOpenPassword\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:15:\"hasOwnerOptions\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:16:\"hasOwnerPassword\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"clearNotes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"compatibility\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"imageDpi\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"outputLayout\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:12:{i:0;s:2:\"id\";i:1;s:4:\"name\";i:2;s:8:\"fileName\";i:3;s:6:\"format\";i:4;s:18:\"generatedLivedocId\";i:5;s:15:\"hasOpenPassword\";i:6;s:15:\"hasOwnerOptions\";i:7;s:16:\"hasOwnerPassword\";i:8;s:10:\"clearNotes\";i:9;s:13:\"compatibility\";i:10;s:8:\"imageDpi\";i:11;s:12:\"outputLayout\";}}s:5:\"JSON6\";O:8:\"stdClass\":5:{s:5:\"title\";s:5:\"JSON6\";s:7:\"example\";O:8:\"stdClass\":21:{s:2:\"id\";s:36:\"e1fb5e17-da33-4a4a-9075-5830ecbd01b0\";s:4:\"name\";s:28:\"ContentManager
  Product Brief\";s:7:\"version\";s:3:\"1.0\";s:9:\"createdAt\";s:20:\"2018-06-13T20:34:52Z\";s:10:\"modifiedAt\";s:20:\"2018-06-13T20:34:52Z\";s:29:\"latestLibraryContentVersionId\";s:36:\"61f2c466-499a-4299-ad5a-eec97803824e\";s:31:\"latestLibraryContentVersionSize\";i:12345;s:36:\"latestLibraryContentVersionCreatedAt\";s:20:\"2018-06-13T20:34:52Z\";s:10:\"libraryURL\";s:30:\"https://tenant.seismic.com/***\";s:13:\"newscenterURL\";s:30:\"https://tenant.seismic.com/***\";s:12:\"doccenterURL\";s:30:\"https://tenant.seismic.com/***\";s:6:\"format\";s:3:\"PDF\";s:10:\"teamsiteId\";s:36:\"e1fb5e17-da33-4a4a-9075-5830ecbd01b0\";s:12:\"teamsiteName\";s:9:\"Marketing\";s:9:\"isDeleted\";b:0;s:7:\"ownerId\";s:36:\"1984b36f-8a8b-4538-b0ab-85c2e604ba2c\";s:13:\"ownerUsername\";s:20:\"tstrader@seismic.com\";s:11:\"isPublished\";b:1;s:18:\"assignedToProfiles\";a:2:{i:0;s:9:\"Profile
  1\";i:1;s:9:\"Profile 2\";}s:25:\"publishedVersionExpiresAt\";s:20:\"2018-06-13T20:34:52Z\";s:10:\"properties\";O:8:\"stdClass\":3:{s:17:\"Custom
  Property A\";s:14:\"property value\";s:17:\"Custom Property B\";a:2:{i:0;s:5:\"val
  1\";i:1;s:5:\"val 2\";}s:17:\"Custom Property C\";a:1:{i:0;s:5:\"val 1\";}}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":21:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"createdAt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"modifiedAt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:29:\"latestLibraryContentVersionId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:31:\"latestLibraryContentVersionSize\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:36:\"latestLibraryContentVersionCreatedAt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"libraryURL\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"newscenterURL\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"doccenterURL\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"format\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"teamsiteId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"teamsiteName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"isDeleted\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:7:\"ownerId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"ownerUsername\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"isPublished\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:18:\"assignedToProfiles\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:25:\"publishedVersionExpiresAt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Properties\";}}s:8:\"required\";a:21:{i:0;s:2:\"id\";i:1;s:4:\"name\";i:2;s:7:\"version\";i:3;s:9:\"createdAt\";i:4;s:10:\"modifiedAt\";i:5;s:29:\"latestLibraryContentVersionId\";i:6;s:31:\"latestLibraryContentVersionSize\";i:7;s:36:\"latestLibraryContentVersionCreatedAt\";i:8;s:10:\"libraryURL\";i:9;s:13:\"newscenterURL\";i:10;s:12:\"doccenterURL\";i:11;s:6:\"format\";i:12;s:10:\"teamsiteId\";i:13;s:12:\"teamsiteName\";i:14;s:9:\"isDeleted\";i:15;s:7:\"ownerId\";i:16;s:13:\"ownerUsername\";i:17;s:11:\"isPublished\";i:18;s:18:\"assignedToProfiles\";i:19;s:25:\"publishedVersionExpiresAt\";i:20;s:10:\"properties\";}}s:10:\"Properties\";O:8:\"stdClass\":5:{s:5:\"title\";s:10:\"Properties\";s:7:\"example\";O:8:\"stdClass\":3:{s:17:\"Custom
  Property A\";s:14:\"property value\";s:17:\"Custom Property B\";a:2:{i:0;s:5:\"val
  1\";i:1;s:5:\"val 2\";}s:17:\"Custom Property C\";a:1:{i:0;s:5:\"val 1\";}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:17:\"Custom
  Property A\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"Custom Property
  B\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:17:\"Custom
  Property C\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:8:\"required\";a:3:{i:0;s:17:\"Custom
  Property A\";i:1;s:17:\"Custom Property B\";i:2;s:17:\"Custom Property C\";}}s:5:\"JSON7\";O:8:\"stdClass\":5:{s:5:\"title\";s:5:\"JSON7\";s:7:\"example\";O:8:\"stdClass\":16:{s:2:\"id\";s:36:\"e1fb5e17-da33-4a4a-9075-5830ecbd01b0\";s:7:\"version\";s:3:\"1.0\";s:16:\"libraryContentId\";s:36:\"61f2c466-499a-4299-ad5a-eec97803824e\";s:4:\"size\";i:12345;s:6:\"format\";s:3:\"PDF\";s:4:\"name\";s:28:\"ContentManager
  Product Brief\";s:10:\"teamsiteId\";s:36:\"e1fb5e17-da33-4a4a-9075-5830ecbd01b0\";s:12:\"teamsiteName\";s:9:\"Marketing\";s:9:\"isDeleted\";b:0;s:9:\"createdAt\";s:20:\"2018-06-13T20:34:52Z\";s:9:\"createdBy\";s:20:\"tstrader@seismic.com\";s:10:\"modifiedAt\";s:20:\"2018-06-13T20:34:52Z\";s:11:\"isPublished\";b:1;s:18:\"assignedToProfiles\";a:2:{i:0;s:9:\"Profile
  1\";i:1;s:9:\"Profile 2\";}s:9:\"expiresAt\";s:20:\"2018-06-13T20:34:52Z\";s:9:\"isExpired\";b:1;}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":16:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"libraryContentId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"size\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:6:\"format\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"teamsiteId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"teamsiteName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"isDeleted\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"createdAt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"createdBy\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"modifiedAt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"isPublished\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:18:\"assignedToProfiles\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:9:\"expiresAt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"isExpired\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:16:{i:0;s:2:\"id\";i:1;s:7:\"version\";i:2;s:16:\"libraryContentId\";i:3;s:4:\"size\";i:4;s:6:\"format\";i:5;s:4:\"name\";i:6;s:10:\"teamsiteId\";i:7;s:12:\"teamsiteName\";i:8;s:9:\"isDeleted\";i:9;s:9:\"createdAt\";i:10;s:9:\"createdBy\";i:11;s:10:\"modifiedAt\";i:12;s:11:\"isPublished\";i:13;s:18:\"assignedToProfiles\";i:14;s:9:\"expiresAt\";i:15;s:9:\"isExpired\";}}s:5:\"JSON8\";O:8:\"stdClass\":5:{s:5:\"title\";s:5:\"JSON8\";s:7:\"example\";O:8:\"stdClass\":14:{s:2:\"id\";s:36:\"bd382f2b-4638-43ff-8942-33dab98033a1\";s:4:\"name\";s:1:\"1\";s:9:\"createdBy\";s:36:\"9ff027bc-77a1-4984-a198-2cd8f26af869\";s:9:\"createdAt\";s:20:\"2018-08-14T03:28:35Z\";s:10:\"modifiedAt\";s:20:\"2018-08-14T03:28:35Z\";s:9:\"isDeleted\";b:0;s:31:\"latestWorkspaceContentVersionId\";s:36:\"6044c6b1-d727-4bc6-bafa-b9f1a1e4f6a3\";s:38:\"latestWorkspaceContentVersionCreatedAt\";s:20:\"2018-08-14T03:28:35Z\";s:25:\"isContextualFolderContent\";s:5:\"False\";s:8:\"isFolder\";s:5:\"False\";s:13:\"isCartContent\";s:5:\"False\";s:16:\"libraryContentId\";s:0:\"\";s:7:\"version\";i:1;s:16:\"materializedPath\";s:73:\"9fd05cb7-55fd-4f4b-b4fc-4aa211db2457/bd382f2b-4638-43ff-8942-33dab98033a1\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":14:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"createdBy\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"createdAt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"modifiedAt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"isDeleted\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:31:\"latestWorkspaceContentVersionId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:38:\"latestWorkspaceContentVersionCreatedAt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:25:\"isContextualFolderContent\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"isFolder\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"isCartContent\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"libraryContentId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:16:\"materializedPath\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:14:{i:0;s:2:\"id\";i:1;s:4:\"name\";i:2;s:9:\"createdBy\";i:3;s:9:\"createdAt\";i:4;s:10:\"modifiedAt\";i:5;s:9:\"isDeleted\";i:6;s:31:\"latestWorkspaceContentVersionId\";i:7;s:38:\"latestWorkspaceContentVersionCreatedAt\";i:8;s:25:\"isContextualFolderContent\";i:9;s:8:\"isFolder\";i:10;s:13:\"isCartContent\";i:11;s:16:\"libraryContentId\";i:12;s:7:\"version\";i:13;s:16:\"materializedPath\";}}s:5:\"JSON9\";O:8:\"stdClass\":5:{s:5:\"title\";s:5:\"JSON9\";s:7:\"example\";O:8:\"stdClass\":14:{s:2:\"id\";s:36:\"bd382f2b-4638-43ff-8942-33dab98033a1\";s:18:\"workspaceContentId\";s:36:\"bd382f2b-4638-43ff-8942-33dab98033a1\";s:4:\"name\";s:1:\"1\";s:25:\"isContextualFolderContent\";s:5:\"False\";s:8:\"isFolder\";s:5:\"False\";s:13:\"isCartContent\";s:5:\"False\";s:20:\"isVirtualSharingNode\";s:5:\"False\";s:16:\"libraryContentId\";s:0:\"\";s:23:\"libraryContentVersionId\";s:0:\"\";s:7:\"version\";i:1;s:9:\"createdAt\";s:20:\"2018-08-14T03:28:35Z\";s:10:\"modifiedAt\";s:20:\"2018-08-14T03:28:35Z\";s:9:\"createdBy\";s:36:\"9ff027bc-77a1-4984-a198-2cd8f26af869\";s:25:\"workspaceMaterializedPath\";s:73:\"9fd05cb7-55fd-4f4b-b4fc-4aa211db2457/bd382f2b-4638-43ff-8942-33dab98033a1\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":14:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"workspaceContentId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:25:\"isContextualFolderContent\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"isFolder\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"isCartContent\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"isVirtualSharingNode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"libraryContentId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"libraryContentVersionId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:9:\"createdAt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"modifiedAt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"createdBy\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:25:\"workspaceMaterializedPath\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:14:{i:0;s:2:\"id\";i:1;s:18:\"workspaceContentId\";i:2;s:4:\"name\";i:3;s:25:\"isContextualFolderContent\";i:4;s:8:\"isFolder\";i:5;s:13:\"isCartContent\";i:6;s:20:\"isVirtualSharingNode\";i:7;s:16:\"libraryContentId\";i:8;s:23:\"libraryContentVersionId\";i:9;s:7:\"version\";i:10;s:9:\"createdAt\";i:11;s:10:\"modifiedAt\";i:12;s:9:\"createdBy\";i:13;s:25:\"workspaceMaterializedPath\";}}s:6:\"JSON10\";O:8:\"stdClass\":5:{s:5:\"title\";s:6:\"JSON10\";s:7:\"example\";O:8:\"stdClass\":19:{s:2:\"id\";s:36:\"e39f1b71-bfb8-4bb6-81d2-7733b4fad268\";s:8:\"username\";s:20:\"tstrader@seismic.com\";s:5:\"email\";s:20:\"tstrader@seismic.com\";s:11:\"emailDomain\";s:11:\"seismic.com\";s:8:\"fullName\";s:11:\"Tom
  Strader\";s:9:\"firstName\";s:3:\"Tom\";s:8:\"lastName\";s:7:\"Strader\";s:9:\"createdAt\";s:20:\"2015-10-01T15:45:59Z\";s:10:\"modifiedAt\";s:20:\"2018-06-12T00:49:49Z\";s:9:\"deletedAt\";s:20:\"2018-06-12T00:49:49Z\";s:12:\"organization\";s:18:\"Product
  Management\";s:5:\"title\";s:18:\"Product Management\";s:9:\"isDeleted\";b:0;s:11:\"licenseType\";s:7:\"premium\";s:17:\"isSeismicEmployee\";b:1;s:23:\"defaultContentProfileId\";s:36:\"e39f1b71-bfb8-4bb6-81d2-7733b4fad268\";s:25:\"defaultContentProfileName\";s:4:\"Core\";s:6:\"groups\";a:3:{i:0;s:9:\"Employees\";i:1;s:9:\"SuperUser\";i:2;s:18:\"Product
  Management\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:17:\"Custom Property A\";s:14:\"property
  value\";s:17:\"Custom Property B\";a:2:{i:0;s:5:\"val 1\";i:1;s:5:\"val 2\";}s:17:\"Custom
  Property C\";a:1:{i:0;s:5:\"val 1\";}}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":19:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"username\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"emailDomain\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"fullName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"firstName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"lastName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"createdAt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"modifiedAt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"deletedAt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"organization\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"isDeleted\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"licenseType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"isSeismicEmployee\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:23:\"defaultContentProfileId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:25:\"defaultContentProfileName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"groups\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Properties\";}}s:8:\"required\";a:19:{i:0;s:2:\"id\";i:1;s:8:\"username\";i:2;s:5:\"email\";i:3;s:11:\"emailDomain\";i:4;s:8:\"fullName\";i:5;s:9:\"firstName\";i:6;s:8:\"lastName\";i:7;s:9:\"createdAt\";i:8;s:10:\"modifiedAt\";i:9;s:9:\"deletedAt\";i:10;s:12:\"organization\";i:11;s:5:\"title\";i:12;s:9:\"isDeleted\";i:13;s:11:\"licenseType\";i:14;s:17:\"isSeismicEmployee\";i:15;s:23:\"defaultContentProfileId\";i:16;s:25:\"defaultContentProfileName\";i:17;s:6:\"groups\";i:18;s:10:\"properties\";}}s:6:\"JSON11\";O:8:\"stdClass\":5:{s:5:\"title\";s:6:\"JSON11\";s:7:\"example\";O:8:\"stdClass\":4:{s:6:\"userId\";s:36:\"e39f1b71-bfb8-4bb6-81d2-7733b4fad268\";s:17:\"contentPropertyId\";s:36:\"e39f1b71-bfb8-4bb6-81d2-7733b4fad268\";s:19:\"contentPropertyName\";s:10:\"Asset
  Type\";s:20:\"contentPropertyValue\";s:10:\"Whitepaper\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"userId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"contentPropertyId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"contentPropertyName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"contentPropertyValue\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:6:\"userId\";i:1;s:17:\"contentPropertyId\";i:2;s:19:\"contentPropertyName\";i:3;s:20:\"contentPropertyValue\";}}s:6:\"JSON12\";O:8:\"stdClass\":5:{s:5:\"title\";s:6:\"JSON12\";s:7:\"example\";O:8:\"stdClass\":15:{s:2:\"id\";s:36:\"e39f1b71-bfb8-4bb6-81d2-7733b4fad268\";s:8:\"username\";s:20:\"tstrader@seismic.com\";s:5:\"email\";s:20:\"tstrader@seismic.com\";s:8:\"fullName\";s:11:\"Tom
  Strader\";s:9:\"firstName\";s:3:\"Tom\";s:8:\"lastName\";s:7:\"Strader\";s:9:\"createdAt\";s:20:\"2015-10-01T15:45:59Z\";s:10:\"modifiedAt\";s:20:\"2018-06-12T00:49:49Z\";s:9:\"deletedAt\";s:20:\"2018-06-12T00:49:49Z\";s:12:\"organization\";s:18:\"Product
  Management\";s:9:\"isDeleted\";b:0;s:11:\"licenseType\";s:7:\"premium\";s:5:\"title\";s:0:\"\";s:10:\"properties\";O:8:\"stdClass\":3:{s:17:\"Custom
  Property A\";s:14:\"property value\";s:17:\"Custom Property B\";a:2:{i:0;s:5:\"val
  1\";i:1;s:5:\"val 2\";}s:17:\"Custom Property C\";a:1:{i:0;s:5:\"val 1\";}}s:6:\"groups\";a:3:{i:0;s:9:\"Employees\";i:1;s:9:\"SuperUser\";i:2;s:18:\"Product
  Management\";}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":15:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"username\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"fullName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"firstName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"lastName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"createdAt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"modifiedAt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"deletedAt\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"organization\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"isDeleted\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"licenseType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Properties\";}s:6:\"groups\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:8:\"required\";a:15:{i:0;s:2:\"id\";i:1;s:8:\"username\";i:2;s:5:\"email\";i:3;s:8:\"fullName\";i:4;s:9:\"firstName\";i:5;s:8:\"lastName\";i:6;s:9:\"createdAt\";i:7;s:10:\"modifiedAt\";i:8;s:9:\"deletedAt\";i:9;s:12:\"organization\";i:10;s:9:\"isDeleted\";i:11;s:11:\"licenseType\";i:12;s:5:\"title\";i:13;s:10:\"properties\";i:14;s:6:\"groups\";}}s:12:\"LoginRequest\";O:8:\"stdClass\":5:{s:5:\"title\";s:12:\"LoginRequest\";s:7:\"example\";O:8:\"stdClass\":5:{s:5:\"model\";s:12:\"liveinsights\";s:4:\"view\";s:13:\"user_activity\";s:7:\"filters\";O:8:\"stdClass\":1:{s:25:\"user_activity.action_type\";s:16:\"Download,Request\";}s:6:\"fields\";a:2:{i:0;s:25:\"user_activity.action_type\";i:1;s:19:\"user_activity.count\";}s:14:\"query_timezone\";s:19:\"America/Los_Angeles\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:5:\"model\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"view\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"filters\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Filters\";}s:6:\"fields\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:14:\"query_timezone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:5:{i:0;s:5:\"model\";i:1;s:4:\"view\";i:2;s:7:\"filters\";i:3;s:6:\"fields\";i:4;s:14:\"query_timezone\";}}s:7:\"Filters\";O:8:\"stdClass\":5:{s:5:\"title\";s:7:\"Filters\";s:7:\"example\";O:8:\"stdClass\":1:{s:25:\"user_activity.action_type\";s:16:\"Download,Request\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:25:\"user_activity.action_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:25:\"user_activity.action_type\";}}s:15:\"RunqueryRequest\";O:8:\"stdClass\":5:{s:5:\"title\";s:15:\"RunqueryRequest\";s:7:\"example\";O:8:\"stdClass\":4:{s:5:\"model\";s:12:\"liveinsights\";s:4:\"view\";s:13:\"user_activity\";s:7:\"filters\";O:8:\"stdClass\":1:{s:25:\"user_activity.action_type\";s:16:\"Download,Request\";}s:6:\"fields\";a:2:{i:0;s:25:\"user_activity.action_type\";i:1;s:19:\"user_activity.count\";}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"model\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"view\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"filters\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Filters\";}s:6:\"fields\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:8:\"required\";a:4:{i:0;s:5:\"model\";i:1;s:4:\"view\";i:2;s:7:\"filters\";i:3;s:6:\"fields\";}}}"
...
