---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:11:\"Nanopub API\";s:11:\"description\";s:49:\"Build
  applications on top of the nanopub database\";s:7:\"version\";s:5:\"1.0.0\";}"
host: petapico.d2s.labs.vu.nl
basePath: /api
paths:
  /database/api.php:
    get:
      summary: Searches the database on the given conditions for nanopubs
      description: The Products endpoint returns the nanopubs that fit the conditions
      parameters:
      - name: search-uri
        in: query
        description: The URI you are looking for
        required: true
        type: String
      - name: head
        in: query
        description: Search for URI in the head
        required: false
        type: boolean
      - name: assertion
        in: query
        description: Search for URI in the assertion
        required: false
        type: boolean
      - name: pubinfo
        in: query
        description: Search for URI in the pubinfo
        required: false
        type: boolean
      - name: format
        in: query
        description: Specify the return format (default JSON)
        required: false
        type: String
        format:
        - text
        - JSON
      responses:
        200:
          description: The nanopubs that fit the conditions (txt format)
          schema:
            $ref: '#/definitions/Nanopub'
        400:
          description: Invalid request
          schema:
            $ref: '#/definitions/Error'
        JSON:
          description: JSON formatted output
          schema:
            type: array
            items:
              $ref: '#/definitions/Nanopub'
            description: Output as an array
        txt:
          description: txt formatted output (newline seperator)
          schema:
            $ref: '#/definitions/Nanopub'
produces:
- application/json
schemes:
- http
definitions: !php/object "O:8:\"stdClass\":2:{s:7:\"Nanopub\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"The
  artifact code of the nanopub.\";}s:5:\"Error\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"The
  error message\";}}"
...
