---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":6:{s:11:\"description\";s:41:\"FranConnect SKY
  REST API Developer Portal\";s:7:\"version\";s:3:\"1.0\";s:5:\"title\";s:24:\"FranConnect
  SKY REST API\";s:14:\"termsOfService\";s:16:\"Terms of service\";s:7:\"contact\";O:8:\"stdClass\":1:{s:4:\"name\";s:11:\"FranConnect\";}s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:11:\"FranConnect\";s:3:\"url\";s:38:\"http://www.franconnect.com/license.txt\";}}"
host: api.franconnectqa.net:8095
basePath: /manage-finance
paths:
  /categories/addtional-items/franchiseeID/{id}/reportPeriod/{reportPeriod}:
    get:
      tags:
      - Finance Category Api
      summary: Get Additonal Invoice Items
      description: This method is to retrieve the Additional Invoice Items
      operationId: Get Additional Invoice Items
      produces:
      - application/xml
      - application/json
      parameters:
      - name: id
        in: path
        description: ParameterType:Integer
        required: false
        type: integer
        format: int32
        enum:
        - Integer
      - name: reportPeriod
        in: path
        description: ParameterType:String
        required: false
        type: string
        enum:
        - String
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Responseu00abResultu00abListu00abMapu00abstring,Listu00abMapu00abstring,objectu00bbu00bbu00bbu00bbu00bbu00bb'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /categories/kpis/franchiseeID/{id}/reportPeriod/{reportPeriod}:
    get:
      tags:
      - Finance Category Api
      summary: Get Non Finance Categories
      description: This method is to retrieve the Non Financial Categories
      operationId: Get Non Finance Categories
      produces:
      - application/xml
      - application/json
      parameters:
      - name: id
        in: path
        description: ParameterType:Integer
        required: false
        type: integer
        format: int32
        enum:
        - Integer
      - name: reportPeriod
        in: path
        description: ParameterType:String
        required: false
        type: string
        enum:
        - String
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Responseu00abResultu00abListu00abMapu00abstring,Listu00abMapu00abstring,objectu00bbu00bbu00bbu00bbu00bbu00bb'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /categories/profit-loss:
    get:
      tags:
      - Finance Category Api
      summary: Get Profit Loss Categories
      description: This method is to retrieve the Profit Loss Categories
      operationId: Get Profit Loss Categories
      produces:
      - application/xml
      - application/json
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Responseu00abResultu00abListu00abMapu00abstring,Listu00abMapu00abstring,objectu00bbu00bbu00bbu00bbu00bbu00bb'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /categories/sales/franchiseeID/{id}/reportPeriod/{reportPeriod}:
    get:
      tags:
      - Finance Category Api
      summary: Get Finance Categories
      description: This method is to retrieve the Financial Categories
      operationId: Get Finance Categories
      produces:
      - application/xml
      - application/json
      parameters:
      - name: id
        in: path
        description: ParameterType:Integer
        required: false
        type: integer
        format: int32
        enum:
        - Integer
      - name: reportPeriod
        in: path
        description: ParameterType:String
        required: false
        type: string
        enum:
        - String
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Responseu00abResultu00abListu00abMapu00abstring,Listu00abMapu00abstring,objectu00bbu00bbu00bbu00bbu00bbu00bb'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /payments/filter:
    post:
      tags:
      - Finance Payment Api
      summary: Get Payment and their Details
      description: This method is to retrieve the Finance Payment Records
      operationId: Get Payment and their Details
      consumes:
      - application/json
      produces:
      - application/xml
      - application/json
      parameters:
      - in: body
        name: salesFilter
        description: ParameterType:PaymentFilter
        required: false
        schema:
          $ref: '#/definitions/PaymentFilter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Responseu00abResultu00abListu00abMapu00abstring,objectu00bbu00bbu00bbu00bb'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /profit-loss:
    post:
      tags:
      - profit-loss-controller
      summary: Create New Profit/Loss Statement
      description: This method is to create the Finance Profit/Loss Record
      operationId: Create New Profit/Loss Statement
      consumes:
      - application/json
      produces:
      - application/xml
      - application/json
      parameters:
      - in: body
        name: datalist
        description: ParameterType:ArrayList<Entity>
        required: false
        schema:
          type: array
          items:
            $ref: '#/definitions/Mapu00abstring,objectu00bb'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Responseu00abResultu00abListu00abMapu00abstring,objectu00bbu00bbu00bbu00bb'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /profit-loss/filter:
    post:
      tags:
      - profit-loss-controller
      summary: Get Profit/Loss Statements and their Details
      description: This method is to retrieve the ProfitLoss Records
      operationId: Get Profit/Loss Statements and their Details
      consumes:
      - application/json
      produces:
      - application/xml
      - application/json
      parameters:
      - in: body
        name: profitLossFilter
        description: ParameterType:ProfitLossFilter
        required: false
        schema:
          $ref: '#/definitions/ProfitLossFilter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Responseu00abResultu00abListu00abMapu00abstring,objectu00bbu00bbu00bbu00bb'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /profit-loss/periods/franchisee/{id}:
    get:
      tags:
      - profit-loss-controller
      summary: Get Location Avaiable Report Periods
      description: This method is to retrieve the Location Avaiable Report Periods
      operationId: Get Location Avaiable Report Periods
      produces:
      - application/xml
      - application/json
      parameters:
      - name: id
        in: path
        description: ParameterType:Integer
        required: false
        type: integer
        format: int32
        enum:
        - Integer
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Responseu00abResultu00abListu00abListu00abMapu00abstring,stringu00bbu00bbu00bbu00bbu00bb'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /profit-loss/{id}:
    put:
      tags:
      - profit-loss-controller
      summary: Update Existing Profit/Loss Statement
      description: This method is to update the Finance Profit/Loss Record
      operationId: Update Existing Profit/Loss Statement
      consumes:
      - application/json
      produces:
      - application/xml
      - application/json
      parameters:
      - in: body
        name: datalist
        description: ParameterType:ArrayList<Entity>
        required: false
        schema:
          type: array
          items:
            $ref: '#/definitions/Mapu00abstring,objectu00bb'
      - name: id
        in: path
        description: id
        required: true
        type: integer
        format: int32
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Responseu00abResultu00abListu00abMapu00abstring,objectu00bbu00bbu00bbu00bb'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /royalties/filter:
    post:
      tags:
      - Finance Royalty Api
      summary: Get Royalty and their Details
      description: This method is to retrieve the Finance Royalty Records
      operationId: Get Royalty and their Details
      consumes:
      - application/json
      produces:
      - application/xml
      - application/json
      parameters:
      - in: body
        name: salesFilter
        description: ParameterType:PaymentFilter
        required: false
        schema:
          $ref: '#/definitions/RoyaltyFilter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Responseu00abResultu00abListu00abMapu00abstring,objectu00bbu00bbu00bbu00bb'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /royalties/status:
    get:
      tags:
      - Finance Royalty Api
      summary: Get Sales Report Statuses
      description: This endpoint is to retrieve the Sales Report Statuses
      operationId: Get Sales Report Statuses
      produces:
      - application/xml
      - application/json
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Responseu00abResultu00abListu00abMapu00abstring,objectu00bbu00bbu00bbu00bb'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /sales:
    post:
      tags:
      - Finance Sales Api
      summary: Create New Sales Report
      description: This method is to create the Finance Sales Record
      operationId: Create New Sales Report
      consumes:
      - application/json
      produces:
      - application/xml
      - application/json
      parameters:
      - in: body
        name: datalist
        description: ParameterType:ArrayList<Entity>
        required: false
        schema:
          type: array
          items:
            $ref: '#/definitions/Mapu00abstring,objectu00bb'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Responseu00abResultu00abListu00abMapu00abstring,objectu00bbu00bbu00bbu00bb'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /sales/filter:
    post:
      tags:
      - Finance Sales Api
      summary: Get Sales & their Details
      description: This method is to retrieve the Finance Sales Records
      operationId: Get Sales & their Details
      consumes:
      - application/json
      produces:
      - application/xml
      - application/json
      parameters:
      - in: body
        name: salesFilter
        description: ParameterType:SalesFilter
        required: false
        schema:
          $ref: '#/definitions/SalesFilter'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Responseu00abResultu00abListu00abMapu00abstring,objectu00bbu00bbu00bbu00bb'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /sales/periods/franchisee/{id}:
    get:
      tags:
      - Finance Sales Api
      summary: Get Location Avaiable Report Periods
      description: This method is to retrieve the Location Avaiable Report Periods
      operationId: Get Location Avaiable Report Periods_1
      produces:
      - application/xml
      - application/json
      parameters:
      - name: id
        in: path
        description: ParameterType:Integer
        required: false
        type: integer
        format: int32
        enum:
        - Integer
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Responseu00abResultu00abListu00abListu00abMapu00abstring,stringu00bbu00bbu00bbu00bbu00bb'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /sales/status:
    get:
      tags:
      - Finance Sales Api
      summary: Get Sales Report Statuses
      description: This endpoint is to retrieve the Sales Report Statuses
      operationId: Get Sales Report Statuses_1
      produces:
      - application/xml
      - application/json
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Responseu00abResultu00abListu00abMapu00abstring,objectu00bbu00bbu00bbu00bb'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /sales/type:
    get:
      tags:
      - Finance Sales Api
      summary: Get Sales Report Types
      description: This endpoint is to retrieve the Sales Report Types
      operationId: Get Sales Report Types
      produces:
      - application/xml
      - application/json
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Responseu00abResultu00abListu00abMapu00abstring,objectu00bbu00bbu00bbu00bb'
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
  /sales/{id}:
    put:
      tags:
      - Finance Sales Api
      summary: Update Existing Sales Report
      description: This method is to update the Finance Sales Record
      operationId: Update Existing Sales Report
      consumes:
      - application/json
      produces:
      - application/xml
      - application/json
      parameters:
      - in: body
        name: datalist
        description: ParameterType:ArrayList<Entity>
        required: false
        schema:
          type: array
          items:
            $ref: '#/definitions/Mapu00abstring,objectu00bb'
      - name: id
        in: path
        description: id
        required: true
        type: integer
        format: int32
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Responseu00abResultu00abListu00abMapu00abstring,objectu00bbu00bbu00bbu00bb'
        201:
          description: Created
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
definitions: !php/object "O:8:\"stdClass\":18:{s:9:\"Character\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:5:\"title\";s:9:\"Character\";}s:16:\"FilterConstraint\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:5:\"title\";s:16:\"FilterConstraint\";s:11:\"description\";s:76:\"This
  model is used for filter-contraints having field operation and values  \";}s:42:\"Map\xABstring,List\xABMap\xABstring,object\xBB\xBB\xBB\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:5:\"title\";s:42:\"Map\xABstring,List\xABMap\xABstring,object\xBB\xBB\xBB\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/List\";}}s:20:\"Map\xABstring,object\xBB\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:5:\"title\";s:20:\"Map\xABstring,object\xBB\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}s:20:\"Map\xABstring,string\xBB\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:5:\"title\";s:20:\"Map\xABstring,string\xBB\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"Page\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:7:\"groupBy\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"pageId\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:8:\"pageSize\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:4:\"size\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:4:\"sort\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Sort\";}s:10:\"totalPages\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:12:\"totalRecords\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";}s:7:\"viewAll\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:5:\"title\";s:4:\"Page\";}s:13:\"PaymentFilter\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"constraints\";O:8:\"stdClass\":6:{s:4:\"type\";s:6:\"object\";s:7:\"example\";s:39:\"format:
  {db_field:{operation:dataValue}\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:11:\"constraints\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:11:\"description\";s:4:\"page\";s:15:\"allowEmptyValue\";b:0;s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/FilterConstraint\";}}s:11:\"dateApplied\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}}s:6:\"fields\";O:8:\"stdClass\":5:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:6:\"fields\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:11:\"description\";s:6:\"fields\";s:15:\"allowEmptyValue\";b:0;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:12:\"franchiseeNo\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}s:9:\"invoiceNo\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}s:4:\"page\";O:8:\"stdClass\":4:{s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"page\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:11:\"description\";s:4:\"page\";s:15:\"allowEmptyValue\";b:0;s:4:\"$ref\";s:18:\"#/definitions/Page\";}}s:5:\"title\";s:13:\"PaymentFilter\";s:11:\"description\";s:29:\"Provides
  the filter parameter\";}s:16:\"ProfitLossFilter\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:11:\"constraints\";O:8:\"stdClass\":6:{s:4:\"type\";s:6:\"object\";s:7:\"example\";s:39:\"format:
  {db_field:{operation:dataValue}\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:11:\"constraints\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:11:\"description\";s:4:\"page\";s:15:\"allowEmptyValue\";b:0;s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/FilterConstraint\";}}s:7:\"endDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:6:\"fields\";O:8:\"stdClass\":5:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:6:\"fields\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:11:\"description\";s:6:\"fields\";s:15:\"allowEmptyValue\";b:0;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:12:\"franchisesNo\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}s:4:\"page\";O:8:\"stdClass\":4:{s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"page\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:11:\"description\";s:4:\"page\";s:15:\"allowEmptyValue\";b:0;s:4:\"$ref\";s:18:\"#/definitions/Page\";}s:7:\"plrepId\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}s:9:\"startDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:9:\"storeType\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Character\";}}s:14:\"submissionDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}}s:5:\"title\";s:16:\"ProfitLossFilter\";s:11:\"description\";s:29:\"Provides
  the filter parameter\";}s:58:\"Response\xABResult\xABList\xABList\xABMap\xABstring,string\xBB\xBB\xBB\xBB\xBB\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"response\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:60:\"#/definitions/Result\xABList\xABList\xABMap\xABstring,string\xBB\xBB\xBB\xBB\";}}s:5:\"title\";s:58:\"Response\xABResult\xABList\xABList\xABMap\xABstring,string\xBB\xBB\xBB\xBB\xBB\";}s:72:\"Response\xABResult\xABList\xABMap\xABstring,List\xABMap\xABstring,object\xBB\xBB\xBB\xBB\xBB\xBB\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"response\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:74:\"#/definitions/Result\xABList\xABMap\xABstring,List\xABMap\xABstring,object\xBB\xBB\xBB\xBB\xBB\";}}s:5:\"title\";s:72:\"Response\xABResult\xABList\xABMap\xABstring,List\xABMap\xABstring,object\xBB\xBB\xBB\xBB\xBB\xBB\";}s:50:\"Response\xABResult\xABList\xABMap\xABstring,object\xBB\xBB\xBB\xBB\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"response\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:52:\"#/definitions/Result\xABList\xABMap\xABstring,object\xBB\xBB\xBB\";}}s:5:\"title\";s:50:\"Response\xABResult\xABList\xABMap\xABstring,object\xBB\xBB\xBB\xBB\";}s:46:\"Result\xABList\xABList\xABMap\xABstring,string\xBB\xBB\xBB\xBB\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"data\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/Map\xABstring,string\xBB\";}}}s:4:\"page\";O:8:\"stdClass\":2:{s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"page\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:4:\"$ref\";s:18:\"#/definitions/Page\";}}s:5:\"title\";s:46:\"Result\xABList\xABList\xABMap\xABstring,string\xBB\xBB\xBB\xBB\";s:11:\"description\";s:61:\"Return
  the Result of anyType along with data & Page attribute\";}s:4:\"List\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:5:\"title\";s:4:\"List\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:60:\"Result\xABList\xABMap\xABstring,List\xABMap\xABstring,object\xBB\xBB\xBB\xBB\xBB\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"data\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:56:\"#/definitions/Map\xABstring,List\xABMap\xABstring,object\xBB\xBB\xBB\";}}s:4:\"page\";O:8:\"stdClass\":2:{s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"page\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:4:\"$ref\";s:18:\"#/definitions/Page\";}}s:5:\"title\";s:60:\"Result\xABList\xABMap\xABstring,List\xABMap\xABstring,object\xBB\xBB\xBB\xBB\xBB\";s:11:\"description\";s:61:\"Return
  the Result of anyType along with data & Page attribute\";}s:38:\"Result\xABList\xABMap\xABstring,object\xBB\xBB\xBB\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"data\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"data\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/Map\xABstring,object\xBB\";}}s:4:\"page\";O:8:\"stdClass\":2:{s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"page\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:4:\"$ref\";s:18:\"#/definitions/Page\";}}s:5:\"title\";s:38:\"Result\xABList\xABMap\xABstring,object\xBB\xBB\xBB\";s:11:\"description\";s:61:\"Return
  the Result of anyType along with data & Page attribute\";}s:13:\"RoyaltyFilter\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"constraints\";O:8:\"stdClass\":6:{s:4:\"type\";s:6:\"object\";s:7:\"example\";s:39:\"format:
  {db_field:{operation:dataValue}\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:11:\"constraints\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:11:\"description\";s:4:\"page\";s:15:\"allowEmptyValue\";b:0;s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/FilterConstraint\";}}s:6:\"fields\";O:8:\"stdClass\":5:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:6:\"fields\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:11:\"description\";s:6:\"fields\";s:15:\"allowEmptyValue\";b:0;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:12:\"franchiseeNo\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}s:11:\"invoiceDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}}s:4:\"page\";O:8:\"stdClass\":4:{s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"page\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:11:\"description\";s:4:\"page\";s:15:\"allowEmptyValue\";b:0;s:4:\"$ref\";s:18:\"#/definitions/Page\";}s:13:\"paymentStatus\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Character\";}}s:5:\"title\";s:13:\"RoyaltyFilter\";s:11:\"description\";s:29:\"Provides
  the filter parameter\";}s:11:\"SalesFilter\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:11:\"constraints\";O:8:\"stdClass\":6:{s:4:\"type\";s:6:\"object\";s:7:\"example\";s:39:\"format:
  {db_field:{operation:dataValue}\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:11:\"constraints\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:11:\"description\";s:4:\"page\";s:15:\"allowEmptyValue\";b:0;s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/FilterConstraint\";}}s:6:\"fields\";O:8:\"stdClass\":5:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:6:\"fields\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:11:\"description\";s:6:\"fields\";s:15:\"allowEmptyValue\";b:0;s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:12:\"franchiseeNo\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}s:4:\"page\";O:8:\"stdClass\":4:{s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"page\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:11:\"description\";s:4:\"page\";s:15:\"allowEmptyValue\";b:0;s:4:\"$ref\";s:18:\"#/definitions/Page\";}s:15:\"reportPeriodEnd\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}}s:17:\"reportPeriodStart\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}}s:16:\"reportSubmitDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}}s:10:\"reportType\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Character\";}}s:13:\"salesReportID\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}s:10:\"totalSales\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:5:\"title\";s:11:\"SalesFilter\";s:11:\"description\";s:29:\"Provides
  the filter parameter\";}s:4:\"Sort\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"columns\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:9:\"direction\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:3:\"ASC\";i:1;s:4:\"DESC\";}}}s:5:\"title\";s:4:\"Sort\";}}"
...
