---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":6:{s:7:\"version\";s:1:\"1\";s:5:\"title\";s:23:\"Weather
  Underground API\";s:11:\"description\";s:1023:\"Weather Underground provides real-time
  weather information via the Internet. Weather Underground provides weather reports
  for cities across the world as well as local weather reports for papers and Web
  sites. The Weather Underground API allows developers and users to access data from
  Weather Underground to integrate the data and functionality into other applications.
  They offer a variety of plans and pricing, though most use is free. Some example
  API methods include accessing weather information by cities and regions, retrieving
  forecast information, accessing satellite images, and current conditions by location.
  A unique feature of this API is the Developer Dashboard. Developers have great insight
  into usage and errors in real time. Over 80 languages are supported with this API.
  Finally, the folks at Weather Underground have come up with a cleaver way to allow
  for rate limit overages via a tool called Raindrops. This gives developers a cushion
  to avoid denial of service errors due to spikes in API requests.\";s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:24:\"The
  Weather Company, LLC\";s:3:\"url\";s:45:\"https://www.wunderground.com/about/contact-us\";}s:14:\"termsOfService\";s:53:\"https://www.wunderground.com/weather/api/d/terms.html\";s:6:\"x-tags\";a:3:{i:0;s:7:\"Weather\";i:1;s:10:\"Conditions\";i:2;s:8:\"Forecast\";}}"
host: api.wunderground.com
basePath: /api
paths:
  /{key}/conditions/q/{state}/{place}.json:
    get:
      description: Get current weather conditions for a given place.
      parameters:
      - description: The API key of the Weather Underground API
        in: path
        name: key
        required: true
        type: string
      - description: The state of the place to get weather information for. For example,
          'NY'
        in: path
        name: state
        required: true
        type: string
      - description: The place to get weather information for. For example, 'New York'
        in: path
        name: place
        required: true
        type: string
      responses:
        200:
          description: Weather conditions
          schema:
            $ref: '#/definitions/WeatherConditions'
      tags:
      - weather conditions
      x-apih-advice:
        totalUsageCount: 12
        topQueryParams: ~
        topPathParams:
        - paramName: key
          paramValues:
          - value: 844ce94be6db44dd
            count: 1
            source:
            - https://github.com/jacindaz/chrome-extension-rbm/blob/9e1504963fd3a3a972f951f13441a33c685302ab/javascript/github.js#L3
          - value: '{apiKey}'
            count: 1
            source:
            - https://github.com/gavinblair/weather/blob/16b2f962842bfc533e998bd35f3284ee2ae13685/js/weather.js#L23
          bestSources: ~
          count: 2
        - paramName: state
          paramValues:
          - value: MA
            count: 1
            source:
            - https://github.com/jacindaz/chrome-extension-rbm/blob/9e1504963fd3a3a972f951f13441a33c685302ab/javascript/github.js#L3
          bestSources: ~
          count: 1
        - paramName: place
          paramValues:
          - value: Boston
            count: 1
            source:
            - https://github.com/jacindaz/chrome-extension-rbm/blob/9e1504963fd3a3a972f951f13441a33c685302ab/javascript/github.js#L3
          bestSources: ~
          count: 1
        topPayloadParams: ~
        topJQueryAjaxParams: ~
        topResponseFields: ~
  /{key}/forecast/q/{state}/{place}.json:
    get:
      description: Get the weather forecast for the next 3 days for a given place.
      parameters:
      - description: The API key of the Weather Underground API
        in: path
        name: key
        required: true
        type: string
      - description: The state of the place to get weather information for. For example,
          'NY'
        in: path
        name: state
        required: true
        type: string
      - description: The place to get weather information for. For example, 'New York'
        in: path
        name: place
        required: true
        type: string
      responses:
        200:
          description: Weather forecast
          schema:
            $ref: '#/definitions/WeatherForecast'
      tags:
      - weather forecast
  /{key}/forecast10days/q/{state}/{place}.json:
    get:
      description: Get the weather forecast for the next 10 days for a given place.
      parameters:
      - description: The API key of the Weather Underground API
        in: path
        name: key
        required: true
        type: string
      - description: The state of the place to get weather information for. For example,
          'NY'
        in: path
        name: state
        required: true
        type: string
      - description: The place to get weather information for. For example, 'New York'
        in: path
        name: place
        required: true
        type: string
      responses:
        200:
          description: Weather forecast
          schema:
            $ref: '#/definitions/WeatherForecast'
      tags:
      - weather forecast
schemes:
- http
- https
definitions: !php/object "O:8:\"stdClass\":2:{s:17:\"WeatherConditions\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"response\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"version\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"termsofService\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"features\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"conditions\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:1:{i:0;s:10:\"conditions\";}}}s:8:\"required\";a:3:{i:0;s:7:\"version\";i:1;s:14:\"termsofService\";i:2;s:8:\"features\";}}s:19:\"current_observation\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":56:{s:5:\"image\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"link\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:3:\"url\";i:1;s:5:\"title\";i:2;s:4:\"link\";}}s:16:\"display_location\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:4:\"full\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"city\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"state_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"country_iso3166\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"zip\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"magic\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"wmo\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"latitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"longitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"elevation\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:12:{i:0;s:4:\"full\";i:1;s:4:\"city\";i:2;s:5:\"state\";i:3;s:10:\"state_name\";i:4;s:7:\"country\";i:5;s:15:\"country_iso3166\";i:6;s:3:\"zip\";i:7;s:5:\"magic\";i:8;s:3:\"wmo\";i:9;s:8:\"latitude\";i:10;s:9:\"longitude\";i:11;s:9:\"elevation\";}}s:20:\"observation_location\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:4:\"full\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"city\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"country_iso3166\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"latitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"longitude\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"elevation\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:8:{i:0;s:4:\"full\";i:1;s:4:\"city\";i:2;s:5:\"state\";i:3;s:7:\"country\";i:4;s:15:\"country_iso3166\";i:5;s:8:\"latitude\";i:6;s:9:\"longitude\";i:7;s:9:\"elevation\";}}s:9:\"estimated\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":0:{}}s:10:\"station_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"observation_time\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"observation_time_rfc822\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"observation_epoch\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"local_time_rfc822\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"local_epoch\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"local_tz_short\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"local_tz_long\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"local_tz_offset\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"weather\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"temperature_string\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"temp_f\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:6:\"temp_c\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:17:\"relative_humidity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"wind_string\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"wind_dir\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"wind_degrees\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"wind_mph\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"wind_gust_mph\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"wind_kph\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"wind_gust_kph\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"pressure_mb\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"pressure_in\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"pressure_trend\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"dewpoint_string\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"dewpoint_f\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"dewpoint_c\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:17:\"heat_index_string\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"heat_index_f\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"heat_index_c\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"windchill_string\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"windchill_f\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"windchill_c\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"feelslike_string\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"feelslike_f\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"feelslike_c\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"visibility_mi\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"visibility_km\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"solarradiation\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"UV\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"precip_1hr_string\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"precip_1hr_in\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"precip_1hr_metric\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"precip_today_string\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"precip_today_in\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"precip_today_metric\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"icon\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"icon_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"forecast_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"history_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"ob_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"nowcast\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:56:{i:0;s:5:\"image\";i:1;s:16:\"display_location\";i:2;s:20:\"observation_location\";i:3;s:9:\"estimated\";i:4;s:10:\"station_id\";i:5;s:16:\"observation_time\";i:6;s:23:\"observation_time_rfc822\";i:7;s:17:\"observation_epoch\";i:8;s:17:\"local_time_rfc822\";i:9;s:11:\"local_epoch\";i:10;s:14:\"local_tz_short\";i:11;s:13:\"local_tz_long\";i:12;s:15:\"local_tz_offset\";i:13;s:7:\"weather\";i:14;s:18:\"temperature_string\";i:15;s:6:\"temp_f\";i:16;s:6:\"temp_c\";i:17;s:17:\"relative_humidity\";i:18;s:11:\"wind_string\";i:19;s:8:\"wind_dir\";i:20;s:12:\"wind_degrees\";i:21;s:8:\"wind_mph\";i:22;s:13:\"wind_gust_mph\";i:23;s:8:\"wind_kph\";i:24;s:13:\"wind_gust_kph\";i:25;s:11:\"pressure_mb\";i:26;s:11:\"pressure_in\";i:27;s:14:\"pressure_trend\";i:28;s:15:\"dewpoint_string\";i:29;s:10:\"dewpoint_f\";i:30;s:10:\"dewpoint_c\";i:31;s:17:\"heat_index_string\";i:32;s:12:\"heat_index_f\";i:33;s:12:\"heat_index_c\";i:34;s:16:\"windchill_string\";i:35;s:11:\"windchill_f\";i:36;s:11:\"windchill_c\";i:37;s:16:\"feelslike_string\";i:38;s:11:\"feelslike_f\";i:39;s:11:\"feelslike_c\";i:40;s:13:\"visibility_mi\";i:41;s:13:\"visibility_km\";i:42;s:14:\"solarradiation\";i:43;s:2:\"UV\";i:44;s:17:\"precip_1hr_string\";i:45;s:13:\"precip_1hr_in\";i:46;s:17:\"precip_1hr_metric\";i:47;s:19:\"precip_today_string\";i:48;s:15:\"precip_today_in\";i:49;s:19:\"precip_today_metric\";i:50;s:4:\"icon\";i:51;s:8:\"icon_url\";i:52;s:12:\"forecast_url\";i:53;s:11:\"history_url\";i:54;s:6:\"ob_url\";i:55;s:7:\"nowcast\";}}}s:8:\"required\";a:2:{i:0;s:8:\"response\";i:1;s:19:\"current_observation\";}}s:15:\"WeatherForecast\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"response\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"version\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"termsofService\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"features\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"forecast\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:1:{i:0;s:8:\"forecast\";}}}s:8:\"required\";a:3:{i:0;s:7:\"version\";i:1;s:14:\"termsofService\";i:2;s:8:\"features\";}}s:8:\"forecast\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"txt_forecast\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"date\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"forecastday\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:6:\"period\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"icon\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"icon_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"fcttext\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"fcttext_metric\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"pop\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:7:{i:0;s:6:\"period\";i:1;s:4:\"icon\";i:2;s:8:\"icon_url\";i:3;s:5:\"title\";i:4;s:7:\"fcttext\";i:5;s:14:\"fcttext_metric\";i:6;s:3:\"pop\";}}}}s:8:\"required\";a:2:{i:0;s:4:\"date\";i:1;s:11:\"forecastday\";}}s:14:\"simpleforecast\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"forecastday\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":20:{s:4:\"date\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":17:{s:5:\"epoch\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"pretty\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"day\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"month\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"year\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"yday\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"hour\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:3:\"min\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"sec\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"isdst\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"monthname\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"monthname_short\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"weekday_short\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"weekday\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"ampm\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"tz_short\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"tz_long\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:17:{i:0;s:5:\"epoch\";i:1;s:6:\"pretty\";i:2;s:3:\"day\";i:3;s:5:\"month\";i:4;s:4:\"year\";i:5;s:4:\"yday\";i:6;s:4:\"hour\";i:7;s:3:\"min\";i:8;s:3:\"sec\";i:9;s:5:\"isdst\";i:10;s:9:\"monthname\";i:11;s:15:\"monthname_short\";i:12;s:13:\"weekday_short\";i:13;s:7:\"weekday\";i:14;s:4:\"ampm\";i:15;s:8:\"tz_short\";i:16;s:7:\"tz_long\";}}s:6:\"period\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"high\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"fahrenheit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"celsius\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:10:\"fahrenheit\";i:1;s:7:\"celsius\";}}s:3:\"low\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"fahrenheit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"celsius\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:10:\"fahrenheit\";i:1;s:7:\"celsius\";}}s:10:\"conditions\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"icon\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"icon_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"skyicon\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"pop\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"qpf_allday\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"in\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:2:\"mm\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:2:{i:0;s:2:\"in\";i:1;s:2:\"mm\";}}s:7:\"qpf_day\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"in\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:2:\"mm\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:2:{i:0;s:2:\"in\";i:1;s:2:\"mm\";}}s:9:\"qpf_night\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"in\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:2:\"mm\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:2:{i:0;s:2:\"in\";i:1;s:2:\"mm\";}}s:11:\"snow_allday\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"in\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:2:\"cm\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:2:{i:0;s:2:\"in\";i:1;s:2:\"cm\";}}s:8:\"snow_day\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"in\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:2:\"cm\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:2:{i:0;s:2:\"in\";i:1;s:2:\"cm\";}}s:10:\"snow_night\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"in\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:2:\"cm\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:2:{i:0;s:2:\"in\";i:1;s:2:\"cm\";}}s:7:\"maxwind\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"mph\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:3:\"kph\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:3:\"dir\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"degrees\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:4:{i:0;s:3:\"mph\";i:1;s:3:\"kph\";i:2;s:3:\"dir\";i:3;s:7:\"degrees\";}}s:7:\"avewind\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"mph\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:3:\"kph\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:3:\"dir\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"degrees\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:4:{i:0;s:3:\"mph\";i:1;s:3:\"kph\";i:2;s:3:\"dir\";i:3;s:7:\"degrees\";}}s:11:\"avehumidity\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"maxhumidity\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"minhumidity\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:20:{i:0;s:4:\"date\";i:1;s:6:\"period\";i:2;s:4:\"high\";i:3;s:3:\"low\";i:4;s:10:\"conditions\";i:5;s:4:\"icon\";i:6;s:8:\"icon_url\";i:7;s:7:\"skyicon\";i:8;s:3:\"pop\";i:9;s:10:\"qpf_allday\";i:10;s:7:\"qpf_day\";i:11;s:9:\"qpf_night\";i:12;s:11:\"snow_allday\";i:13;s:8:\"snow_day\";i:14;s:10:\"snow_night\";i:15;s:7:\"maxwind\";i:16;s:7:\"avewind\";i:17;s:11:\"avehumidity\";i:18;s:11:\"maxhumidity\";i:19;s:11:\"minhumidity\";}}}}s:8:\"required\";a:1:{i:0;s:11:\"forecastday\";}}}s:8:\"required\";a:2:{i:0;s:12:\"txt_forecast\";i:1;s:14:\"simpleforecast\";}}}s:8:\"required\";a:2:{i:0;s:8:\"response\";i:1;s:8:\"forecast\";}}}"
...
