---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":6:{s:7:\"version\";s:3:\"2.0\";s:22:\"x-WM-USE_PROXY_FOR_WEB\";b:1;s:25:\"x-WM-USE_PROXY_FOR_MOBILE\";b:1;s:11:\"x-WM-API_ID\";s:36:\"2c6414ed-a797-4391-9340-1faeff645301\";s:15:\"x-WM-SERVICE_ID\";s:12:\"wunderground\";s:17:\"x-WM-SERVICE_TYPE\";s:11:\"RestService\";}"
host: api.wunderground.com
basePath: ""
paths:
  /WeatherObserved/invoke/a64134bb22ac4df4/history_{yyyyMMdd}/q/{zipcode}.json:
    get:
      tags:
      - RestServiceVirtualController
      operationId: WeatherObserved_RestServiceVirtualController-invoke
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: yyyyMMdd
        in: path
        required: true
        type: string
      - name: zipcode
        in: path
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/RootResponse'
      x-WM-METHOD_NAME: invoke
      x-WM-ACCESS_SPECIFIER: APP_ONLY
    x-WM-BASE_PATH: /WeatherObserved/invoke/a64134bb22ac4df4/history_{yyyyMMdd}/q/{zipcode}.json
    x-WM-TAG: RestServiceVirtualController
    x-WM-RELATIVE_PATH: ""
    x-WM-COMPLETE_PATH: ${rest.WeatherObserved.scheme}://${rest.WeatherObserved.host}${rest.WeatherObserved.basepath}/a64134bb22ac4df4/history_{yyyyMMdd}/q/{zipcode}.json
schemes:
- http
definitions: !php/object "O:8:\"stdClass\":8:{s:4:\"date\";O:8:\"stdClass\":4:{s:8:\"required\";a:7:{i:0;s:4:\"hour\";i:1;s:4:\"mday\";i:2;s:3:\"min\";i:3;s:3:\"mon\";i:4;s:6:\"pretty\";i:5;s:6:\"tzname\";i:6;s:4:\"year\";}s:10:\"properties\";O:8:\"stdClass\":7:{s:6:\"pretty\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"min\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"hour\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"year\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"mday\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"mon\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"tzname\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:25:\"x-WM-FULLY_QUALIFIED_NAME\";s:20:\"WeatherObserved.date\";s:9:\"x-WM-TAGS\";a:1:{i:0;s:28:\"RestServiceVirtualController\";}}s:21:\"dailysummaryEntryItem\";O:8:\"stdClass\":4:{s:8:\"required\";a:70:{i:0;s:17:\"coolingdegreedays\";i:1;s:23:\"coolingdegreedaysnormal\";i:2;s:4:\"date\";i:3;s:3:\"fog\";i:4;s:11:\"gdegreedays\";i:5;s:4:\"hail\";i:6;s:17:\"heatingdegreedays\";i:7;s:23:\"heatingdegreedaysnormal\";i:8;s:8:\"humidity\";i:9;s:9:\"maxdewpti\";i:10;s:9:\"maxdewptm\";i:11;s:11:\"maxhumidity\";i:12;s:12:\"maxpressurei\";i:13;s:12:\"maxpressurem\";i:14;s:8:\"maxtempi\";i:15;s:8:\"maxtempm\";i:16;s:7:\"maxvisi\";i:17;s:7:\"maxvism\";i:18;s:8:\"maxwspdi\";i:19;s:8:\"maxwspdm\";i:20;s:10:\"meandewpti\";i:21;s:10:\"meandewptm\";i:22;s:13:\"meanpressurei\";i:23;s:13:\"meanpressurem\";i:24;s:9:\"meantempi\";i:25;s:9:\"meantempm\";i:26;s:8:\"meanvisi\";i:27;s:8:\"meanvism\";i:28;s:9:\"meanwdird\";i:29;s:9:\"meanwdire\";i:30;s:12:\"meanwindspdi\";i:31;s:12:\"meanwindspdm\";i:32;s:9:\"mindewpti\";i:33;s:9:\"mindewptm\";i:34;s:11:\"minhumidity\";i:35;s:12:\"minpressurei\";i:36;s:12:\"minpressurem\";i:37;s:8:\"mintempi\";i:38;s:8:\"mintempm\";i:39;s:7:\"minvisi\";i:40;s:7:\"minvism\";i:41;s:8:\"minwspdi\";i:42;s:8:\"minwspdm\";i:43;s:28:\"monthtodatecoolingdegreedays\";i:44;s:34:\"monthtodatecoolingdegreedaysnormal\";i:45;s:28:\"monthtodateheatingdegreedays\";i:46;s:34:\"monthtodateheatingdegreedaysnormal\";i:47;s:20:\"monthtodatesnowfalli\";i:48;s:20:\"monthtodatesnowfallm\";i:49;s:7:\"precipi\";i:50;s:7:\"precipm\";i:51;s:12:\"precipsource\";i:52;s:4:\"rain\";i:53;s:26:\"since1jancoolingdegreedays\";i:54;s:32:\"since1jancoolingdegreedaysnormal\";i:55;s:26:\"since1julheatingdegreedays\";i:56;s:32:\"since1julheatingdegreedaysnormal\";i:57;s:18:\"since1julsnowfalli\";i:58;s:18:\"since1julsnowfallm\";i:59;s:26:\"since1sepcoolingdegreedays\";i:60;s:32:\"since1sepcoolingdegreedaysnormal\";i:61;s:26:\"since1sepheatingdegreedays\";i:62;s:32:\"since1sepheatingdegreedaysnormal\";i:63;s:4:\"snow\";i:64;s:10:\"snowdepthi\";i:65;s:10:\"snowdepthm\";i:66;s:9:\"snowfalli\";i:67;s:9:\"snowfallm\";i:68;s:7:\"thunder\";i:69;s:7:\"tornado\";}s:10:\"properties\";O:8:\"stdClass\":70:{s:4:\"date\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/date\";}s:9:\"snowfallm\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"precipi\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"precipsource\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:26:\"since1julheatingdegreedays\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"snowfalli\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"precipm\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"meantempm\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"since1julsnowfallm\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:28:\"monthtodateheatingdegreedays\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"thunder\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"meantempi\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"since1julsnowfalli\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"meanvisi\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:32:\"since1jancoolingdegreedaysnormal\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"maxwspdi\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"meanvism\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"mintempm\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"minhumidity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"mintempi\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"humidity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:34:\"monthtodatecoolingdegreedaysnormal\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"maxwspdm\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:34:\"monthtodateheatingdegreedaysnormal\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"rain\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"gdegreedays\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:32:\"since1sepcoolingdegreedaysnormal\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:28:\"monthtodatecoolingdegreedays\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:32:\"since1sepheatingdegreedaysnormal\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"heatingdegreedaysnormal\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"monthtodatesnowfalli\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"mindewptm\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"snow\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"monthtodatesnowfallm\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"mindewpti\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"heatingdegreedays\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"snowdepthm\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"maxdewptm\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"fog\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"snowdepthi\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"maxdewpti\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"maxtempm\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"minwspdi\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"maxtempi\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:26:\"since1sepcoolingdegreedays\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"meanpressurem\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"minwspdm\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"coolingdegreedaysnormal\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"minpressurem\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"minvisi\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"tornado\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"meandewpti\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"maxhumidity\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"minpressurei\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"minvism\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"meandewptm\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"maxpressurem\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:26:\"since1jancoolingdegreedays\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"hail\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"meanwindspdm\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"maxpressurei\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"meanwdire\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:32:\"since1julheatingdegreedaysnormal\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"meanwdird\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"maxvism\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:26:\"since1sepheatingdegreedays\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"meanwindspdi\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"maxvisi\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"meanpressurei\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"coolingdegreedays\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:25:\"x-WM-FULLY_QUALIFIED_NAME\";s:37:\"WeatherObserved.dailysummaryEntryItem\";s:9:\"x-WM-TAGS\";a:1:{i:0;s:28:\"RestServiceVirtualController\";}}s:8:\"features\";O:8:\"stdClass\":4:{s:8:\"required\";a:1:{i:0;s:7:\"history\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"history\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}s:25:\"x-WM-FULLY_QUALIFIED_NAME\";s:24:\"WeatherObserved.features\";s:9:\"x-WM-TAGS\";a:1:{i:0;s:28:\"RestServiceVirtualController\";}}s:8:\"response\";O:8:\"stdClass\":4:{s:8:\"required\";a:3:{i:0;s:8:\"features\";i:1;s:14:\"termsofService\";i:2;s:7:\"version\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"features\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/features\";}s:7:\"version\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"termsofService\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:25:\"x-WM-FULLY_QUALIFIED_NAME\";s:24:\"WeatherObserved.response\";s:9:\"x-WM-TAGS\";a:1:{i:0;s:28:\"RestServiceVirtualController\";}}s:7:\"history\";O:8:\"stdClass\":4:{s:8:\"required\";a:4:{i:0;s:12:\"dailysummary\";i:1;s:4:\"date\";i:2;s:12:\"observations\";i:3;s:7:\"utcdate\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"date\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/date\";}s:12:\"dailysummary\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/dailysummaryEntryItem\";}s:12:\"x-WM-IS_LIST\";b:1;}s:12:\"observations\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/observationsEntryItem\";}s:12:\"x-WM-IS_LIST\";b:1;}s:7:\"utcdate\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/utcdate\";}}s:25:\"x-WM-FULLY_QUALIFIED_NAME\";s:23:\"WeatherObserved.history\";s:9:\"x-WM-TAGS\";a:1:{i:0;s:28:\"RestServiceVirtualController\";}}s:21:\"observationsEntryItem\";O:8:\"stdClass\":4:{s:8:\"required\";a:32:{i:0;s:5:\"conds\";i:1;s:4:\"date\";i:2;s:6:\"dewpti\";i:3;s:6:\"dewptm\";i:4;s:3:\"fog\";i:5;s:4:\"hail\";i:6;s:10:\"heatindexi\";i:7;s:10:\"heatindexm\";i:8;s:3:\"hum\";i:9;s:4:\"icon\";i:10;s:5:\"metar\";i:11;s:7:\"precipi\";i:12;s:7:\"precipm\";i:13;s:9:\"pressurei\";i:14;s:9:\"pressurem\";i:15;s:4:\"rain\";i:16;s:4:\"snow\";i:17;s:5:\"tempi\";i:18;s:5:\"tempm\";i:19;s:7:\"thunder\";i:20;s:7:\"tornado\";i:21;s:7:\"utcdate\";i:22;s:4:\"visi\";i:23;s:4:\"vism\";i:24;s:5:\"wdird\";i:25;s:5:\"wdire\";i:26;s:6:\"wgusti\";i:27;s:6:\"wgustm\";i:28;s:10:\"windchilli\";i:29;s:10:\"windchillm\";i:30;s:5:\"wspdi\";i:31;s:5:\"wspdm\";}s:10:\"properties\";O:8:\"stdClass\":32:{s:4:\"date\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/date\";}s:3:\"hum\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"precipi\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"precipm\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"tempi\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"icon\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"tempm\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"thunder\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"windchilli\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"wgusti\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"pressurei\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"windchillm\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"wgustm\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"wdire\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"wdird\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"wspdi\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"pressurem\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"utcdate\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/utcdate\";}s:5:\"wspdm\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"rain\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"metar\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"heatindexi\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"tornado\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"dewpti\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"hail\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"heatindexm\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"conds\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"snow\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"dewptm\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"vism\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"visi\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"fog\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:25:\"x-WM-FULLY_QUALIFIED_NAME\";s:37:\"WeatherObserved.observationsEntryItem\";s:9:\"x-WM-TAGS\";a:1:{i:0;s:28:\"RestServiceVirtualController\";}}s:12:\"RootResponse\";O:8:\"stdClass\":4:{s:8:\"required\";a:2:{i:0;s:7:\"history\";i:1;s:8:\"response\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"response\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/response\";}s:7:\"history\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/history\";}}s:25:\"x-WM-FULLY_QUALIFIED_NAME\";s:28:\"WeatherObserved.RootResponse\";s:9:\"x-WM-TAGS\";a:1:{i:0;s:28:\"RestServiceVirtualController\";}}s:7:\"utcdate\";O:8:\"stdClass\":4:{s:8:\"required\";a:7:{i:0;s:4:\"hour\";i:1;s:4:\"mday\";i:2;s:3:\"min\";i:3;s:3:\"mon\";i:4;s:6:\"pretty\";i:5;s:6:\"tzname\";i:6;s:4:\"year\";}s:10:\"properties\";O:8:\"stdClass\":7:{s:6:\"pretty\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"min\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"hour\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"year\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"mday\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"mon\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"tzname\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:25:\"x-WM-FULLY_QUALIFIED_NAME\";s:23:\"WeatherObserved.utcdate\";s:9:\"x-WM-TAGS\";a:1:{i:0;s:28:\"RestServiceVirtualController\";}}}"
...
