---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":6:{s:11:\"description\";s:88:\"This is the swagger.json
  for the macooa REST API. at [https://www.macooa.com/restapi/v1]\";s:7:\"version\";s:5:\"1.0.0\";s:5:\"title\";s:14:\"Swagger
  macooa\";s:14:\"termsOfService\";s:24:\"http://swagger.io/terms/\";s:7:\"contact\";O:8:\"stdClass\":1:{s:5:\"email\";s:15:\"info@macooa.com\";}s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:10:\"Apache
  2.0\";s:3:\"url\";s:47:\"http://www.apache.org/licenses/LICENSE-2.0.html\";}}"
host: macooa.com
basePath: /restapi/v1
paths:
  /person/:
    post:
      tags:
      - person
      summary: create a new person for given tenant
      description: create a new person for given tenant
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: body
        description: person object that needs to be created
        required: true
        schema:
          $ref: '#/definitions/person'
      responses:
        200:
          description: person created
    put:
      tags:
      - person
      summary: update an existing person
      description: update an existing person
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: body
        description: person object that needs to be updated
        required: true
        schema:
          $ref: '#/definitions/person'
      responses:
        200:
          description: person updated
    delete:
      tags:
      - person
      summary: deactivate an existing person
      description: deactivate an existing person
      responses:
        200:
          description: person deactivated
    get:
      tags:
      - person
      summary: Find person by Id
      description: Returns a single person
      operationId: getPersonById
      produces:
      - application/json
      parameters:
      - name: Id
        in: path
        description: ID of person to return
        required: true
        type: string
        format: alphanumeric24
      responses:
        200:
          description: person retrieved
          schema:
            $ref: '#/definitions/person'
  /organisation/:
    post:
      tags:
      - organisation
      summary: create a new organisation for given tenant
      description: create a new organisation for given tenant
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: body
        description: organisation object that needs to be created
        required: true
        schema:
          $ref: '#/definitions/organisation'
      responses:
        200:
          description: organisation created
    put:
      tags:
      - organisation
      summary: update an existing organisation
      description: update an existing organisation
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: body
        description: organisation object that needs to be updated
        required: true
        schema:
          $ref: '#/definitions/organisation'
      responses:
        200:
          description: organisation updated
    delete:
      tags:
      - organisation
      summary: deactivate an existing organisation
      description: deactivate an existing organisation
      responses:
        200:
          description: organisation deactivated
    get:
      tags:
      - organisation
      summary: Find organisation by Id
      description: Returns a single organisation
      operationId: getOrganisationById
      produces:
      - application/json
      parameters:
      - name: Id
        in: path
        description: ID of organisation to return
        required: true
        type: string
        format: alphanumeric24
      responses:
        200:
          description: organisation retrieved
          schema:
            $ref: '#/definitions/organisation'
  /contact/:
    post:
      tags:
      - contact
      summary: create a new contact assigned to an organisation
      description: create a contact assigned to an organisation
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: body
        description: contact object that needs to be created
        required: true
        schema:
          $ref: '#/definitions/contact'
      responses:
        200:
          description: contact created
    put:
      tags:
      - contact
      summary: update an existing contact
      description: update an existing contact
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: body
        description: contact object that needs to be updated
        required: true
        schema:
          $ref: '#/definitions/contact'
      responses:
        200:
          description: contact updated
    delete:
      tags:
      - contact
      summary: deactivate an existing contact
      description: deactivate an existing contact
      responses:
        200:
          description: contact deactivated
    get:
      tags:
      - contact
      summary: Find contact by Id
      description: Returns a single contact
      operationId: getContactById
      produces:
      - application/json
      parameters:
      - name: Id
        in: path
        description: ID of contact to return
        required: true
        type: string
        format: alphanumeric24
      responses:
        200:
          description: contact retrieved
          schema:
            $ref: '#/definitions/contact'
  /address/:
    post:
      tags:
      - address
      summary: create a new address assigned to an organisation or person
      description: create a contact assigned to an organisation or person
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: body
        description: address object that needs to be created
        required: true
        schema:
          $ref: '#/definitions/address'
      responses:
        200:
          description: address created
    put:
      tags:
      - address
      summary: update an existing address
      description: update an existing address
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: body
        description: address object that needs to be updated
        required: true
        schema:
          $ref: '#/definitions/address'
      responses:
        200:
          description: address updated
    delete:
      tags:
      - address
      summary: deactivate an existing address
      description: deactivate an existing address
      responses:
        200:
          description: address deleted
    get:
      tags:
      - address
      summary: Find address by Id
      description: Returns a single address
      operationId: getAddressById
      produces:
      - application/json
      parameters:
      - name: Id
        in: path
        description: ID of address to return
        required: true
        type: string
        format: alphanumeric24
      responses:
        200:
          description: address retrieved
          schema:
            $ref: '#/definitions/address'
  /contactdata/:
    post:
      tags:
      - contactdata
      summary: create new contactdata assigned to a contact or person
      description: create a contactdata assigned to a contact or person
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: body
        description: contactdata object that needs to be created
        required: true
        schema:
          $ref: '#/definitions/contactdata'
      responses:
        200:
          description: contactdata created
    put:
      tags:
      - contactdata
      summary: update existing contactdata
      description: update existing contactdata
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: body
        name: body
        description: contactdata object that needs to be updated
        required: true
        schema:
          $ref: '#/definitions/contactdata'
      responses:
        200:
          description: contactdata updated
    delete:
      tags:
      - contactdata
      summary: deactivate existing contactdata
      description: deactivate existing contactdata
      responses:
        200:
          description: contactdata deleted
    get:
      tags:
      - contactdata
      summary: Find contactdata by Id
      description: Returns contactdata
      operationId: getContactdataById
      produces:
      - application/json
      parameters:
      - name: Id
        in: path
        description: ID of contactdata to return
        required: true
        type: string
        format: alphanumeric24
      responses:
        200:
          description: contactdata retrieved
          schema:
            $ref: '#/definitions/contactdata'
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":5:{s:6:\"person\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:8:\"personId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:14:\"alphanumeric24\";}s:9:\"firstname\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:6:\"string\";}s:8:\"lastname\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:6:\"string\";}s:8:\"category\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:6:\"string\";s:4:\"enum\";a:4:{i:0;s:9:\"Lieferant\";i:1;s:7:\"Partner\";i:2;s:5:\"Kunde\";i:3;s:11:\"Kooperation\";}s:7:\"default\";s:5:\"Kunde\";}s:8:\"industry\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:6:\"string\";}s:5:\"notes\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:6:\"string\";}}}s:12:\"organisation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:14:\"organisationId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:14:\"alphanumeric24\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:6:\"string\";}s:8:\"category\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:6:\"string\";s:4:\"enum\";a:4:{i:0;s:9:\"Lieferant\";i:1;s:7:\"Partner\";i:2;s:5:\"Kunde\";i:3;s:11:\"Kooperation\";}s:7:\"default\";s:5:\"Kunde\";}s:8:\"industry\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:6:\"string\";}s:5:\"notes\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:6:\"string\";}}}s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:9:\"contactId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:14:\"alphanumeric24\";}s:14:\"organisationId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:14:\"alphanumeric24\";}s:9:\"firstname\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:6:\"string\";}s:8:\"lastname\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:6:\"string\";}s:12:\"userFunction\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:6:\"string\";}s:5:\"notes\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:6:\"string\";}}}s:7:\"address\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:9:\"addressId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:14:\"alphanumeric24\";}s:14:\"organisationId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:14:\"alphanumeric24\";}s:8:\"personId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:14:\"alphanumeric24\";}s:6:\"street\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:6:\"string\";}s:12:\"streetNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:6:\"string\";}s:7:\"zipCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:6:\"string\";}s:4:\"city\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:6:\"string\";}s:11:\"countryCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:7:\"string2\";}}}s:11:\"contactdata\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":27:{s:13:\"contactdataId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:14:\"alphanumeric24\";}s:9:\"contactId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:14:\"alphanumeric24\";}s:8:\"personId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:14:\"alphanumeric24\";}s:5:\"type1\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:5:\"email\";}s:6:\"label1\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:5:\"label\";s:4:\"enum\";a:3:{i:0;s:4:\"work\";i:1;s:7:\"private\";i:2;s:5:\"other\";}}s:6:\"value1\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:6:\"string\";}s:5:\"type2\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:5:\"email\";}s:6:\"label2\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:5:\"label\";s:4:\"enum\";a:3:{i:0;s:4:\"work\";i:1;s:7:\"private\";i:2;s:5:\"other\";}}s:6:\"value2\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:6:\"string\";}s:5:\"type3\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:5:\"email\";}s:6:\"label3\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:5:\"label\";s:4:\"enum\";a:3:{i:0;s:4:\"work\";i:1;s:7:\"private\";i:2;s:5:\"other\";}}s:6:\"value3\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:6:\"string\";}s:5:\"type4\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:5:\"phone\";}s:6:\"label4\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:5:\"label\";s:4:\"enum\";a:4:{i:0;s:4:\"work\";i:1;s:4:\"home\";i:2;s:4:\"cell\";i:3;s:5:\"other\";}}s:6:\"value4\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:6:\"string\";}s:5:\"type5\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:5:\"phone\";}s:6:\"label5\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:5:\"label\";s:4:\"enum\";a:4:{i:0;s:4:\"work\";i:1;s:4:\"home\";i:2;s:4:\"cell\";i:3;s:5:\"other\";}}s:6:\"value5\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:6:\"string\";}s:5:\"type6\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:5:\"phone\";}s:6:\"label6\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:5:\"label\";s:4:\"enum\";a:4:{i:0;s:4:\"work\";i:1;s:4:\"home\";i:2;s:4:\"cell\";i:3;s:5:\"other\";}}s:6:\"value6\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:6:\"string\";}s:5:\"type7\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:12:\"social
  media\";}s:6:\"label7\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:5:\"label\";s:4:\"enum\";a:3:{i:0;s:8:\"LinkedIn\";i:1;s:4:\"Xing\";i:2;s:5:\"other\";}}s:6:\"value7\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:6:\"string\";}s:5:\"type8\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:12:\"social
  media\";}s:6:\"label8\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:5:\"label\";s:4:\"enum\";a:3:{i:0;s:8:\"LinkedIn\";i:1;s:4:\"Xing\";i:2;s:5:\"other\";}}s:6:\"value8\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:6:\"string\";}}}}"
...
