---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:17:\"Provisioning APIs\";s:11:\"description\";s:50:\"Swagger
  UI documentation for Product Inventory API\";s:7:\"version\";s:5:\"0.9.0\";}"
host: api.tatacommuncations.com
basePath: /GSC/v1
paths:
  /customers/{customerId}/products:
    get:
      description: <p>Returns a list of all your in-service products.</p><p>Use this
        to see products and numbers that are in service. Products whose orders have
        not yet completed will not be listed here.</p><p>Use the API command for a
        specific product to get and search the detailed inventory of your in-service
        numbers.</p>
      summary: Get all your in-service products
      parameters:
      - description: The id of the customer
        name: customerId
        in: path
        required: true
        type: string
      - description: JWT Token (ex. 'Bearer &lttoken&gt')
        name: Authorization
        in: header
        required: true
        type: string
      produces:
      - application/json
      responses:
        200:
          description: An in-service summary products array
          schema:
            $ref: '#/definitions/inventory_array'
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/Error'
        401:
          description: The request requires user authentication.
          schema:
            $ref: '#/definitions/Error'
        403:
          description: The server understood the request, but is refusing to fulfill
            it.
          schema:
            $ref: '#/definitions/Error'
        404:
          description: The server has not found anything matching the Request-URI.
          schema:
            $ref: '#/definitions/Error'
        405:
          description: The method specified in the Request-Line is not allowed for
            the resource identified by the Request-URI.
          schema:
            $ref: '#/definitions/Error'
        500:
          description: The server encountered an unexpected condition which prevented
            it from fulfilling the request.
          schema:
            $ref: '#/definitions/Error'
      tags:
      - product inventory
  /customers/{customerId}/products/{productId}:
    get:
      description: <p>Returns details about a specific in-service product, identified
        by that product id.</p><p>Use this to list and search across all your in-service
        numbers that belong to the identified product.</p>
      summary: Get a specific in-service product
      parameters:
      - description: Optionally filter results by an ISO 3166-1 alpha-3 or alpha-2
          country code
        name: countryCode
        in: query
        required: false
        type: string
      - description: Optionally filter results by the connection type in use. Acceptable
          values list = [pstn, direct]
        name: connectionType
        in: query
        required: false
        type: string
      - description: Optionally filter results by the id of the associated organizational
          entity
        name: organizationId
        in: query
        required: false
        type: string
      - description: Optionally filter results by the id of the associated order
        name: orderId
        in: query
        required: false
        type: string
      - description: Optionally filter results by providing a date after when associated
          orders were placed
        name: orderDateFrom
        in: query
        required: false
        type: string
      - description: Optionally filter results by providing a date by when associated
          orders were placed
        name: orderDateTo
        in: query
        required: false
        type: string
      - description: Optionally filter results by providing a date after when service
          began
        name: inServiceDateFrom
        in: query
        required: false
        type: string
      - description: Optionally filter results by providing a date by when service
          began
        name: inServiceDateTo
        in: query
        required: false
        type: string
      - description: Optionally provide the number of results per page. Default results
          per page are 100, maximum results per page are 250
        name: pageSize
        in: query
        required: false
        type: integer
      - description: A page token to retrieve the next page of results. Use the system-provided
          pageToken value from a response payload here
        name: pageToken
        in: query
        required: false
        type: string
      - description: The id of the customer
        name: customerId
        in: path
        required: true
        type: string
      - description: The id of the product
        name: productId
        in: path
        required: true
        type: string
      - description: JWT Token (ex. 'Bearer &lttoken&gt')
        name: Authorization
        in: header
        required: true
        type: string
      produces:
      - application/json
      responses:
        200:
          description: An in-service product object
          schema:
            $ref: '#/definitions/inventory'
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/Error'
        401:
          description: The request requires user authentication.
          schema:
            $ref: '#/definitions/Error'
        403:
          description: The server understood the request, but is refusing to fulfill
            it.
          schema:
            $ref: '#/definitions/Error'
        404:
          description: The server has not found anything matching the Request-URI.
          schema:
            $ref: '#/definitions/Error'
        405:
          description: The method specified in the Request-Line is not allowed for
            the resource identified by the Request-URI.
          schema:
            $ref: '#/definitions/Error'
        500:
          description: The server encountered an unexpected condition which prevented
            it from fulfilling the request.
          schema:
            $ref: '#/definitions/Error'
      tags:
      - product inventory
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":5:{s:5:\"Error\";O:8:\"stdClass\":4:{s:11:\"description\";s:38:\"A
  generic error message in json format\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"The
  error message.\";}s:7:\"details\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"Additional
  data that was passed in to describe the error.\";}s:10:\"error_code\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:52:\"The
  error code to identify an error message by code.\";s:6:\"format\";s:5:\"int64\";}}s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:5:\"error\";}}s:23:\"productInventorySummary\";O:8:\"stdClass\":4:{s:11:\"description\";s:25:\"Product
  inventory summary\";s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"productId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:51:\"A
  product id, a unique code identifying the product\";}s:11:\"productName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"The
  product name\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"A
  descriptive paragraph of the product\";}s:6:\"status\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:55:\"Status
  of the in-service product. Possible values list \";s:4:\"enum\";a:2:{i:0;s:6:\"active\";i:1;s:8:\"inactive\";}}s:8:\"quantity\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:51:\"The
  quantity of numbers in service for this product\";s:6:\"format\";s:5:\"int64\";}}s:4:\"type\";s:6:\"object\";s:8:\"required\";a:5:{i:0;s:9:\"productId\";i:1;s:11:\"productName\";i:2;s:11:\"description\";i:3;s:6:\"status\";i:4;s:8:\"quantity\";}}s:15:\"inventory_array\";O:8:\"stdClass\":4:{s:11:\"description\";s:36:\"An
  in-service summary products array\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/productInventorySummary\";}}s:23:\"payloadInventoryNumbers\";O:8:\"stdClass\":4:{s:11:\"description\";s:12:\"nested
  model\";s:10:\"properties\";O:8:\"stdClass\":8:{s:11:\"countryCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:73:\"The
  ISO 3166-1 alpha-3 country code of the country the phone number is in\";}s:6:\"number\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"The
  actual phone number\";}s:14:\"connectionType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:65:\"The
  connection type in use. Possible values list = [pstn, direct]\";}s:12:\"connectionId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:60:\"The
  id of the direct connection, if connectionType is direct\";}s:14:\"organizationId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"The
  id of the associated organizational entity\";}s:7:\"orderId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"The
  id of the associated order\";}s:9:\"orderDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"The
  date the associated order was placed\";}s:13:\"inServiceDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"The
  date this number went into service\";}}s:4:\"type\";s:6:\"object\";s:8:\"required\";a:8:{i:0;s:11:\"countryCode\";i:1;s:6:\"number\";i:2;s:14:\"connectionType\";i:3;s:12:\"connectionId\";i:4;s:14:\"organizationId\";i:5;s:7:\"orderId\";i:6;s:9:\"orderDate\";i:7;s:13:\"inServiceDate\";}}s:9:\"inventory\";O:8:\"stdClass\":4:{s:11:\"description\";s:28:\"An
  in-service product object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:9:\"productId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:51:\"A
  product id, a unique code identifying the product\";}s:11:\"productName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"The
  product name\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"A
  descriptive paragraph of the product\";}s:6:\"status\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:55:\"Status
  of the in-service product. Possible values list \";s:4:\"enum\";a:2:{i:0;s:6:\"active\";i:1;s:8:\"inactive\";}}s:8:\"quantity\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:38:\"The
  total amount of in-service numbers\";s:6:\"format\";s:5:\"int64\";}s:11:\"resultCount\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:89:\"The
  number of filtered results returned, will be equal to quantity when no filter is
  used\";s:6:\"format\";s:5:\"int64\";}s:9:\"pageToken\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:118:\"A
  token to the next page of results, should be used as the value of the pageToken
  query parameter to get the next page\";}s:7:\"numbers\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:17:\"A
  list of numbers\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/payloadInventoryNumbers\";}}}s:4:\"type\";s:6:\"object\";s:8:\"required\";a:7:{i:0;s:9:\"productId\";i:1;s:11:\"productName\";i:2;s:11:\"description\";i:3;s:6:\"status\";i:4;s:8:\"quantity\";i:5;s:11:\"resultCount\";i:6;s:7:\"numbers\";}}}"
...
