---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:7:\"contact\";O:8:\"stdClass\":2:{s:5:\"email\";s:22:\"support@koomalooma.com\";s:9:\"x-twitter\";s:14:\"koomalooma_biz\";}s:11:\"description\";s:577:\"This
  is the koomalooma Partner API. koomalooma is the first Loyalty BPaaS (Business Process
  as a Service) for mobile and web companies. With koomalooma merchants issue points
  for actions their customers / users make on your mobile or web store, for example
  a purchase or a referral. koomalooma takes care of all the rest, from signing up
  users, keeping track of points and delivering rewards in over 80 countries. koomalooma
  offers an easy to integrate API and web backend to configure loyalty campaigns and
  track performance. You can find more at http://support.koomalooma.com\";s:14:\"termsOfService\";s:36:\"https://partner.koomalooma.com/terms\";s:5:\"title\";s:18:\"koomalooma
  Partner\";s:7:\"version\";s:3:\"1.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:9:\"ecommerce\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:82:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_koomalooma_profile_image.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:30:\"https://api.koomalooma.com/oas\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"koomalooma.com\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:10:\"koomalooma\";s:4:\"type\";s:7:\"openapi\";}}"
host: api.koomalooma.com
basePath: /api
paths:
  /users:
    post:
      responses:
        201:
          description: Created
          schema:
            $ref: '#/definitions/User'
        400:
          description: Bad Request
        403:
          description: Forbidden
      security:
      - api_key: []
      summary: Create a User
      operationId: users.post
  /users/{user_id}/commitments:
    post:
      parameters:
      - description: user_id of the user to assign points to
        in: path
        name: user_id
        required: true
        type: string
      - in: body
        name: commitmentRequest
        required: true
        schema:
          $ref: '#/definitions/CommitmentRequest'
      responses:
        201:
          description: Created
          schema:
            $ref: '#/definitions/Commitment'
        400:
          description: Bad Request
        403:
          description: Forbidden
      summary: Assign points to a User
      operationId: users.user_id.commitments.post
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":4:{s:10:\"Commitment\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":15:{s:19:\"confirmation_status\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:7:\"pending\";i:1;s:9:\"confirmed\";}s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":3:{s:7:\"default\";s:25:\"2016-12-31T12:34:56+00:00\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:18:\"free_loyalty_units\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"goal\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Goal\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:26:\"loyalty_accumulation_value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"loyalty_units\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"partner_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"promotion_goal_category\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:26:\"promotion_goal_description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:24:\"redeemable_loyalty_units\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"redeemed\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:22:\"redeemed_loyalty_units\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"updated_at\";O:8:\"stdClass\":3:{s:7:\"default\";s:25:\"2016-12-31T12:34:56+00:00\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"user_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:15:{i:0;s:2:\"id\";i:1;s:13:\"loyalty_units\";i:2;s:18:\"free_loyalty_units\";i:3;s:26:\"loyalty_accumulation_value\";i:4;s:7:\"user_id\";i:5;s:10:\"partner_id\";i:6;s:4:\"goal\";i:7;s:24:\"redeemable_loyalty_units\";i:8;s:22:\"redeemed_loyalty_units\";i:9;s:8:\"redeemed\";i:10;s:19:\"confirmation_status\";i:11;s:26:\"promotion_goal_description\";i:12;s:23:\"promotion_goal_category\";i:13;s:10:\"created_at\";i:14;s:10:\"updated_at\";}s:4:\"type\";s:6:\"object\";}s:17:\"CommitmentRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"campaign_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"promotion_goal_category\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:26:\"promotion_goal_description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"transaction_value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:11:\"campaign_id\";i:1;s:17:\"transaction_value\";i:2;s:26:\"promotion_goal_description\";i:3;s:23:\"promotion_goal_category\";}s:4:\"type\";s:6:\"object\";}s:4:\"Goal\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"type\";i:1;s:5:\"value\";}s:4:\"type\";s:6:\"object\";}s:4:\"User\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"partner_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"Your
  partner_id. You can use the value of data-partner-id parameter\";s:4:\"type\";s:6:\"string\";}s:15:\"partner_user_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:127:\"A
  unique string that identify your customer. !!IMPORTANT!! You should use always the
  same partner_user_id for the same customer\";s:4:\"type\";s:6:\"string\";}s:15:\"user_session_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:145:\"A
  unique string that identify the current user session. !!IMPORTANT!! This value should
  be the same set in %%sessionId%% of koomalooma javascript\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:10:\"partner_id\";i:1;s:15:\"partner_user_id\";i:2;s:15:\"user_session_id\";}s:4:\"type\";s:6:\"object\";}}"
...
