---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":14:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:9:\"x-twitter\";s:12:\"PermittedSoc\";}s:11:\"description\";s:406:\"<fullname>AWS
  DataSync</fullname> <p>AWS DataSync is a managed data transfer service that makes
  it simpler for you to automate moving data between on-premises storage and Amazon
  Simple Storage Service (Amazon S3) or Amazon Elastic File System (Amazon EFS). </p>
  <p>This API interface reference for AWS DataSync contains documentation for a programming
  interface that you can use to manage AWS DataSync.</p>\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache
  2.0 License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:12:\"AWS
  DataSync\";s:7:\"version\";s:10:\"2018-11-09\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:92:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/datasync-2018-11-09.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v4\";s:13:\"x-serviceName\";s:8:\"datasync\";}"
host: datasync.amazonaws.com
basePath: /
paths: ~
produces:
- application/json
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":105:{s:13:\"ActivationKey\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:29;s:7:\"pattern\";s:28:\"[A-Z0-9]{5}(-[A-Z0-9]{5}){4}\";s:4:\"type\";s:6:\"string\";}s:8:\"AgentArn\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:128;s:7:\"pattern\";s:74:\"^arn:(aws|aws-cn):datasync:[a-z\\-0-9]+:[0-9]{12}:agent/agent-[0-9a-z]{17}$\";s:4:\"type\";s:6:\"string\";}s:12:\"AgentArnList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/AgentArn\";}s:8:\"maxItems\";i:64;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:9:\"AgentList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/AgentListEntry\";}s:4:\"type\";s:5:\"array\";}s:14:\"AgentListEntry\";O:8:\"stdClass\":3:{s:11:\"description\";s:170:\"Represents
  a single entry in a list of agents. <code>AgentListEntry</code> returns an array
  that contains a list of agents when the <a>ListAgents</a> operation is called.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"AgentArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/AgentArn\";s:11:\"description\";s:44:\"The
  Amazon Resource Name (ARN) of the agent.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/TagValue\";s:11:\"description\";s:22:\"The
  name of the agent.\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/AgentStatus\";s:11:\"description\";s:24:\"The
  status of the agent.\";}}s:4:\"type\";s:6:\"object\";}s:11:\"AgentStatus\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:6:\"ONLINE\";i:1;s:7:\"OFFLINE\";}s:4:\"type\";s:6:\"string\";}s:5:\"Atime\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:4:\"NONE\";i:1;s:11:\"BEST_EFFORT\";}s:4:\"type\";s:6:\"string\";}s:14:\"BytesPerSecond\";O:8:\"stdClass\":2:{s:7:\"minimum\";i:-1;s:4:\"type\";s:7:\"integer\";}s:26:\"CancelTaskExecutionRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:26:\"CancelTaskExecutionRequest\";s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"TaskExecutionArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/TaskExecutionArn\";s:11:\"description\";s:63:\"The
  Amazon Resource Name (ARN) of the task execution to cancel.\";}}s:8:\"required\";a:1:{i:0;s:16:\"TaskExecutionArn\";}s:4:\"type\";s:6:\"object\";}s:27:\"CancelTaskExecutionResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:18:\"CreateAgentRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:18:\"CreateAgentRequest\";s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"ActivationKey\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ActivationKey\";s:11:\"description\";s:787:\"<p>Your
  agent activation key. You can get the activation key either by sending an HTTP GET
  request with redirects that enable you to get the agent IP address (port 80). Alternatively,
  you can get it from the AWS DataSync console. </p> <p>The redirect URL returned
  in the response provides you the activation key for your agent in the query string
  parameter <code>activationKey</code>. It might also include other activation-related
  parameters; however, these are merely defaults. The arguments you pass to this API
  call determine the actual configuration of your agent. For more information, see
  <a href=\"https://docs.aws.amazon.com/sync-service/latest/userguide/working-with-sync-agents.html#activating-sync-agent\">Activating
  a Sync Agent</a> in the <i>AWS DataSync User Guide.</i> </p>\";}s:9:\"AgentName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/TagValue\";s:11:\"description\";s:121:\"The
  name you configured for your agent. This value is a text reference that is used
  to identify the agent in the console.\";}s:4:\"Tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/TagList\";s:11:\"description\";s:363:\"<p>The
  key-value pair that represents the tag you want to associate with the agent. The
  value can be an empty string. This value helps you manage, filter, and search for
  your agents.</p> <note> <p>Valid characters for key and value are letters, spaces,
  and numbers representable in UTF-8 format, and the following special characters:
  + - = . _ : / @. </p> </note>\";}}s:8:\"required\";a:1:{i:0;s:13:\"ActivationKey\";}s:4:\"type\";s:6:\"object\";}s:19:\"CreateAgentResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"CreateAgentResponse\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"AgentArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/AgentArn\";s:11:\"description\";s:146:\"The
  Amazon Resource Name (ARN) of the agent. Use the <code>ListAgents</code> operation
  to return a list of agents for your account and AWS Region.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"CreateLocationEfsRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:24:\"CreateLocationEfsRequest\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"Ec2Config\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Ec2Config\";s:11:\"description\";s:67:\"The
  subnet and security group that the Amazon EFS file system uses.\";}s:16:\"EfsFilesystemArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/EfsFilesystemArn\";s:11:\"description\";s:62:\"The
  Amazon Resource Name (ARN) for the Amazon EFS file system.\";}s:12:\"Subdirectory\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/Subdirectory\";s:11:\"description\";s:219:\"A
  subdirectory in the location\u2019s path. This subdirectory in the EFS file system
  is used to read data from the EFS source location or write data to the EFS destination.
  By default, AWS DataSync uses the root directory.\";}s:4:\"Tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/TagList\";s:11:\"description\";s:239:\"The
  key-value pair that represents a tag that you want to add to the resource. The value
  can be an empty string. This value helps you manage, filter, and search for your
  resources. We recommend that you create a name tag for your location.\";}}s:8:\"required\";a:3:{i:0;s:12:\"Subdirectory\";i:1;s:16:\"EfsFilesystemArn\";i:2;s:9:\"Ec2Config\";}s:4:\"type\";s:6:\"object\";}s:25:\"CreateLocationEfsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"CreateLocationEfs\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"LocationArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/LocationArn\";s:11:\"description\";s:86:\"The
  Amazon Resource Name (ARN) of the Amazon EFS file system location that is created.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"CreateLocationNfsRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:24:\"CreateLocationNfsRequest\";s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"OnPremConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/OnPremConfig\";s:11:\"description\";s:100:\"Contains
  a list of Amazon Resource Names (ARNs) of agents that are used to connect to an
  NFS server.\";}s:14:\"ServerHostname\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ServerHostname\";s:11:\"description\";s:318:\"<p>The
  name of the NFS server. This value is the IP address or Domain Name Service (DNS)
  name of the NFS server. An agent that is installed on-premises uses this host name
  to mount the NFS server in a network. </p> <note> <p>This name must either be DNS-compliant
  or must be an IP version 4 (IPv4) address.</p> </note>\";}s:12:\"Subdirectory\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/Subdirectory\";s:11:\"description\";s:1322:\"<p>The
  subdirectory in the NFS file system that is used to read data from the NFS source
  location or write data to the NFS destination. The NFS path should be a path that's
  exported by the NFS server, or a subdirectory of that path. The path should be such
  that it can be mounted by other NFS clients in your network. </p> <p>To see all
  the paths exported by your NFS server. run \"<code>showmount -e nfs-server-name</code>\"
  from an NFS client that has access to your server. You can specify any directory
  that appears in the results, and any subdirectory of that directory. Ensure that
  the NFS export is accessible without Kerberos authentication. </p> <p>To transfer
  all the data in the folder you specified, DataSync needs to have permissions to
  read all the data. To ensure this, either configure the NFS export with <code>no_root_squash,</code>
  or ensure that the permissions for all of the files that you want sync allow read
  access for all users. Doing either enables the agent to read the files. For the
  agent to access directories, you must additionally enable all execute access. For
  information about NFS export configuration, see <a href=\"https://www.centos.org/docs/5/html/Deployment_Guide-en-US/s1-nfs-server-config-exports.html\">18.7.
  The /etc/exports Configuration File</a> in the Centos documentation. </p>\";}s:4:\"Tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/TagList\";s:11:\"description\";s:162:\"The
  key-value pair that represents the tag that you want to add to the location. The
  value can be an empty string. We recommend using tags to name your resources.\";}}s:8:\"required\";a:3:{i:0;s:12:\"Subdirectory\";i:1;s:14:\"ServerHostname\";i:2;s:12:\"OnPremConfig\";}s:4:\"type\";s:6:\"object\";}s:25:\"CreateLocationNfsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"CreateLocationNfsResponse\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"LocationArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/LocationArn\";s:11:\"description\";s:86:\"The
  Amazon Resource Name (ARN) of the source NFS file system location that is created.\";}}s:4:\"type\";s:6:\"object\";}s:23:\"CreateLocationS3Request\";O:8:\"stdClass\":4:{s:11:\"description\";s:23:\"CreateLocationS3Request\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"S3BucketArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/S3BucketArn\";s:11:\"description\";s:55:\"The
  Amazon Resource Name (ARN) of the Amazon S3 bucket.\";}s:8:\"S3Config\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/S3Config\";}s:12:\"Subdirectory\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/Subdirectory\";s:11:\"description\";s:156:\"A
  subdirectory in the Amazon S3 bucket. This subdirectory in Amazon S3 is used to
  read data from the S3 source location or write data to the S3 destination.\";}s:4:\"Tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/TagList\";s:11:\"description\";s:162:\"The
  key-value pair that represents the tag that you want to add to the location. The
  value can be an empty string. We recommend using tags to name your resources.\";}}s:8:\"required\";a:3:{i:0;s:12:\"Subdirectory\";i:1;s:11:\"S3BucketArn\";i:2;s:8:\"S3Config\";}s:4:\"type\";s:6:\"object\";}s:24:\"CreateLocationS3Response\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"CreateLocationS3Response\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"LocationArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/LocationArn\";s:11:\"description\";s:87:\"The
  Amazon Resource Name (ARN) of the source Amazon S3 bucket location that is created.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"CreateTaskRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:17:\"CreateTaskRequest\";s:10:\"properties\";O:8:\"stdClass\":6:{s:21:\"CloudWatchLogGroupArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/LogGroupArn\";s:11:\"description\";s:554:\"<p>The
  Amazon Resource Name (ARN) of the Amazon CloudWatch log group that is used to monitor
  and log events in the task. For more information on these groups, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/logs/Working-with-log-groups-and-streams.html\">Working
  with Log Groups and Log Streams</a> in the <i>Amazon CloudWatch User Guide. </i>
  </p> <p>For more information about how to useCloudWatchLogs with DataSync, see <a
  href=\"https://docs.aws.amazon.com/datasync/latest/userguide/monitor-datasync.html\">Monitoring
  Your Task</a>.</p>\";}s:22:\"DestinationLocationArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/LocationArn\";s:11:\"description\";s:70:\"The
  Amazon Resource Name (ARN) of an AWS storage resource's location. \";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/TagValue\";s:11:\"description\";s:101:\"The
  name of a task. This value is a text reference that is used to identify the task
  in the console. \";}s:7:\"Options\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Options\";s:11:\"description\";s:512:\"<p>The
  set of configuration options that control the behavior of a single execution of
  the task that occurs when you call <code>StartTaskExecution</code>. You can configure
  these options to preserve metadata such as user ID (UID) and group ID (GID), file
  permissions, data integrity verification, and so on.</p> <p>For each individual
  task execution, you can override these options by specifying the <code>OverrideOptions</code>
  before starting a the task execution. For more information, see the operation. </p>\";}s:17:\"SourceLocationArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/LocationArn\";s:11:\"description\";s:67:\"The
  Amazon Resource Name (ARN) of the source location for the task.\";}s:4:\"Tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/TagList\";s:11:\"description\";s:115:\"The
  key-value pair that represents the tag that you want to add to the resource. The
  value can be an empty string. \";}}s:8:\"required\";a:2:{i:0;s:17:\"SourceLocationArn\";i:1;s:22:\"DestinationLocationArn\";}s:4:\"type\";s:6:\"object\";}s:18:\"CreateTaskResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"CreateTaskResponse\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"TaskArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/TaskArn\";s:11:\"description\";s:43:\"The
  Amazon Resource Name (ARN) of the task.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"DeleteAgentRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:18:\"DeleteAgentRequest\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"AgentArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/AgentArn\";s:11:\"description\";s:156:\"The
  Amazon Resource Name (ARN) of the agent to delete. Use the <code>ListAgents</code>
  operation to return a list of agents for your account and AWS Region.\";}}s:8:\"required\";a:1:{i:0;s:8:\"AgentArn\";}s:4:\"type\";s:6:\"object\";}s:19:\"DeleteAgentResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:21:\"DeleteLocationRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:14:\"DeleteLocation\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"LocationArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/LocationArn\";s:11:\"description\";s:57:\"The
  Amazon Resource Name (ARN) of the location to delete.\";}}s:8:\"required\";a:1:{i:0;s:11:\"LocationArn\";}s:4:\"type\";s:6:\"object\";}s:22:\"DeleteLocationResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:17:\"DeleteTaskRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:10:\"DeleteTask\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"TaskArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/TaskArn\";s:11:\"description\";s:53:\"The
  Amazon Resource Name (ARN) of the task to delete.\";}}s:8:\"required\";a:1:{i:0;s:7:\"TaskArn\";}s:4:\"type\";s:6:\"object\";}s:18:\"DeleteTaskResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:20:\"DescribeAgentRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:13:\"DescribeAgent\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"AgentArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/AgentArn\";s:11:\"description\";s:56:\"The
  Amazon Resource Name (ARN) of the agent to describe.\";}}s:8:\"required\";a:1:{i:0;s:8:\"AgentArn\";}s:4:\"type\";s:6:\"object\";}s:21:\"DescribeAgentResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"DescribeAgentResponse\";s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"AgentArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/AgentArn\";s:11:\"description\";s:44:\"The
  Amazon Resource Name (ARN) of the agent.\";}s:12:\"CreationTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Time\";s:11:\"description\";s:73:\"The
  time that the agent was activated (that is, created in your account).\";}s:18:\"LastConnectionTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Time\";s:11:\"description\";s:43:\"The
  time that the agent was last connected.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/TagValue\";s:11:\"description\";s:22:\"The
  name of the agent.\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/AgentStatus\";s:11:\"description\";s:364:\"The
  status of the agent. If the status is ONLINE, then the agent is configured properly
  and is available to use. The Running status is the normal running status for an
  agent. If the status is OFFLINE, the agent's VM is turned off or the agent is in
  an unhealthy state. When the issue that caused the unhealthy state is resolved,
  the agent returns to ONLINE status.\";}}s:4:\"type\";s:6:\"object\";}s:26:\"DescribeLocationEfsRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:26:\"DescribeLocationEfsRequest\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"LocationArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/LocationArn\";s:11:\"description\";s:63:\"The
  Amazon Resource Name (ARN) of the EFS location to describe.\";}}s:8:\"required\";a:1:{i:0;s:11:\"LocationArn\";}s:4:\"type\";s:6:\"object\";}s:27:\"DescribeLocationEfsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"DescribeLocationEfsResponse\";s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"CreationTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Time\";s:11:\"description\";s:43:\"The
  time that the EFS location was created.\";}s:9:\"Ec2Config\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Ec2Config\";}s:11:\"LocationArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/LocationArn\";s:11:\"description\";s:70:\"The
  Amazon resource Name (ARN) of the EFS location that was described.\";}s:11:\"LocationUri\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/LocationUri\";s:11:\"description\";s:47:\"The
  URL of the EFS location that was described.\";}}s:4:\"type\";s:6:\"object\";}s:26:\"DescribeLocationNfsRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:26:\"DescribeLocationNfsRequest\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"LocationArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/LocationArn\";s:11:\"description\";s:63:\"The
  Amazon resource Name (ARN) of the NFS location to describe.\";}}s:8:\"required\";a:1:{i:0;s:11:\"LocationArn\";}s:4:\"type\";s:6:\"object\";}s:27:\"DescribeLocationNfsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"DescribeLocationNfsResponse\";s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"CreationTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Time\";s:11:\"description\";s:43:\"The
  time that the NFS location was created.\";}s:11:\"LocationArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/LocationArn\";s:11:\"description\";s:70:\"The
  Amazon resource Name (ARN) of the NFS location that was described.\";}s:11:\"LocationUri\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/LocationUri\";s:11:\"description\";s:54:\"The
  URL of the source NFS location that was described.\";}s:12:\"OnPremConfig\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/OnPremConfig\";}}s:4:\"type\";s:6:\"object\";}s:25:\"DescribeLocationS3Request\";O:8:\"stdClass\":4:{s:11:\"description\";s:25:\"DescribeLocationS3Request\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"LocationArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/LocationArn\";s:11:\"description\";s:76:\"The
  Amazon Resource Name (ARN) of the Amazon S3 bucket location to describe.\";}}s:8:\"required\";a:1:{i:0;s:11:\"LocationArn\";}s:4:\"type\";s:6:\"object\";}s:26:\"DescribeLocationS3Response\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"DescribeLocationS3Response\";s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"CreationTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Time\";s:11:\"description\";s:56:\"The
  time that the Amazon S3 bucket location was created.\";}s:11:\"LocationArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/LocationArn\";s:11:\"description\";s:64:\"The
  Amazon Resource Name (ARN) of the Amazon S3 bucket location.\";}s:11:\"LocationUri\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/LocationUri\";s:11:\"description\";s:53:\"The
  URL of the Amazon S3 location that was described.\";}s:8:\"S3Config\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/S3Config\";}}s:4:\"type\";s:6:\"object\";}s:28:\"DescribeTaskExecutionRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:28:\"DescribeTaskExecutionRequest\";s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"TaskExecutionArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/TaskExecutionArn\";s:11:\"description\";s:66:\"The
  Amazon Resource Name (ARN) of the task that is being executed.\";}}s:8:\"required\";a:1:{i:0;s:16:\"TaskExecutionArn\";}s:4:\"type\";s:6:\"object\";}s:29:\"DescribeTaskExecutionResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"DescribeTaskExecutionResponse\";s:10:\"properties\";O:8:\"stdClass\":10:{s:16:\"BytesTransferred\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/long\";s:11:\"description\";s:58:\"The
  physical number of bytes transferred over the network.\";}s:12:\"BytesWritten\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/long\";s:11:\"description\";s:76:\"The
  number of logical bytes written to the destination AWS storage resource.\";}s:24:\"EstimatedBytesToTransfer\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/long\";s:11:\"description\";s:82:\"The
  estimated physical number of bytes that is to be transferred over the network.\";}s:24:\"EstimatedFilesToTransfer\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/long\";s:11:\"description\";s:358:\"The
  expected number of files that is to be transferred over the network. This value
  is calculated during the PREPARING phase, before the TRANSFERRING phase. This value
  is the expected number of files to be transferred. It's calculated based on comparing
  the content of the source and destination locations and finding the delta that needs
  to be transferred. \";}s:16:\"FilesTransferred\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/long\";s:11:\"description\";s:612:\"<p>The
  actual number of files that was transferred over the network. This value is calculated
  and updated on an ongoing basis during the TRANSFERRING phase. It's updated periodically
  when each file is read from the source and sent over the network. </p> <p>If failures
  occur during a transfer, this value can be less than <code>EstimatedFilesToTransfer</code>.
  This value can also be greater than <code>EstimatedFilesTransferred</code> in some
  cases. This element is implementation-specific for some location types, so don't
  use it as an indicator for a correct file number or to monitor your task execution.</p>\";}s:7:\"Options\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Options\";}s:6:\"Result\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/TaskExecutionResultDetail\";s:11:\"description\";s:33:\"The
  result of the task execution.\";}s:9:\"StartTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Time\";s:11:\"description\";s:45:\"The
  time that the task execution was started.\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/TaskExecutionStatus\";s:11:\"description\";s:214:\"The
  status of the task. For detailed information about sync statuses, see <a href=\"https://docs.aws.amazon.com/sync-service/latest/userguide/understand-sync-task-statuses.html\">Understanding
  Sync Task Statuses</a>.\";}s:16:\"TaskExecutionArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/TaskExecutionArn\";s:11:\"description\";s:480:\"<p>The
  Amazon Resource Name (ARN) of the task execution that was described. <code>TaskExecutionArn</code>
  is hierarchical and includes <code>TaskArn</code> for the task that was executed.
  </p> <p>For example, a <code>TaskExecution</code> value with the ARN <code>arn:aws:sync:us-east-1:209870788375:task/task-0208075f79cedf4a2/execution/exec-08ef1e88ec491019b</code>
  executed the task with the ARN <code>arn:aws:sync:us-east-1:209870788375:task/task-0208075f79cedf4a2</code>.
  </p>\";}}s:4:\"type\";s:6:\"object\";}s:19:\"DescribeTaskRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:19:\"DescribeTaskRequest\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"TaskArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/TaskArn\";s:11:\"description\";s:55:\"The
  Amazon Resource Name (ARN) of the task to describe.\";}}s:8:\"required\";a:1:{i:0;s:7:\"TaskArn\";}s:4:\"type\";s:6:\"object\";}s:20:\"DescribeTaskResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"DescribeTaskResponse\";s:10:\"properties\";O:8:\"stdClass\":11:{s:21:\"CloudWatchLogGroupArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/LogGroupArn\";s:11:\"description\";s:357:\"The
  Amazon Resource Name (ARN) of the Amazon CloudWatch log group that was used to monitor
  and log events in the task. For more information on these groups, see <a href=\"https://docs.aws.amazon.com/AmazonCloudWatch/latest/logs/Working-with-log-groups-and-streams.html\">Working
  with Log Groups and Log Streams</a> in the <i>Amazon CloudWatch User Guide.</i>
  \";}s:12:\"CreationTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Time\";s:11:\"description\";s:35:\"The
  time that the task was created.\";}s:23:\"CurrentTaskExecutionArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/TaskExecutionArn\";s:11:\"description\";s:75:\"The
  Amazon Resource Name (ARN) of the task execution that is syncing files.\";}s:22:\"DestinationLocationArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/LocationArn\";s:11:\"description\";s:70:\"The
  Amazon Resource Name (ARN) of the AWS storage resource's location.\";}s:9:\"ErrorCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:123:\"Errors
  that AWS DataSync encountered during execution of the task. You can use this error
  code to help troubleshoot issues.\";}s:11:\"ErrorDetail\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:139:\"Detailed
  description of an error that was encountered during the task execution. You can
  use this information to help troubleshoot issues. \";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/TagValue\";s:11:\"description\";s:40:\"The
  name of the task that was described.\";}s:7:\"Options\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Options\";s:11:\"description\";s:461:\"<p>The
  set of configuration options that control the behavior of a single execution of
  the task that occurs when you call <code>StartTaskExecution</code>. You can configure
  these options to preserve metadata such as user ID (UID) and group (GID), file permissions,
  data integrity verification, and so on.</p> <p>For each individual task execution,
  you can override these options by specifying the overriding <code>OverrideOptions</code>
  value to operation. </p>\";}s:17:\"SourceLocationArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/LocationArn\";s:11:\"description\";s:68:\"The
  Amazon Resource Name (ARN) of the source file system's location.\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/TaskStatus\";s:11:\"description\";s:233:\"The
  status of the task that was described. For detailed information about sync statuses,
  see <a href=\"https://docs.aws.amazon.com/sync-service/latest/userguide/understand-sync-task-statuses.html\">Understanding
  Sync Task Statuses</a>.\";}s:7:\"TaskArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/TaskArn\";s:11:\"description\";s:62:\"The
  Amazon Resource Name (ARN) of the task that was described.\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Duration\";O:8:\"stdClass\":2:{s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:9:\"Ec2Config\";O:8:\"stdClass\":4:{s:11:\"description\";s:1289:\"<p>The
  subnet and the security group that the target Amazon EFS file system uses. The subnet
  must have at least one mount target for that file system. The security group that
  you provide needs to be able to communicate with the security group on the mount
  target in the subnet specified. </p> <p>The exact relationship between security
  group M (of the mount target) and security group S (which you provide for DataSync
  to use at this stage) is as follows: </p> <ul> <li> <p> Security group M (which
  you associate with the mount target) must allow inbound access for the Transmission
  Control Protocol (TCP) on the NFS port (2049) from security group S. You can enable
  inbound connections either by IP address (CIDR range) or security group. </p> </li>
  <li> <p>Security group S (provided to DataSync to access EFS) should have a rule
  that enables outbound connections to the NFS port on one of the file system\u2019s
  mount targets. You can enable outbound connections either by IP address (CIDR range)
  or security group. For information about security groups and mount targets, see
  <a href=\"https://docs.aws.amazon.com/efs/latest/ug/security-considerations.html#network-access\">Security
  Groups for Amazon EC2 Instances and Mount Targets</a> in the <i>Amazon EFS User
  Guide.</i> </p> </li> </ul>\";s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"SecurityGroupArns\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/Ec2SecurityGroupArnList\";s:11:\"description\";s:104:\"The
  Amazon Resource Names (ARNs) of the security groups that are configured for the
  Amazon EC2 resource.\";}s:9:\"SubnetArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/Ec2SubnetArn\";s:11:\"description\";s:63:\"The
  ARN of the subnet that the Amazon EC2 resource belongs in. \";}}s:8:\"required\";a:2:{i:0;s:9:\"SubnetArn\";i:1;s:17:\"SecurityGroupArns\";}s:4:\"type\";s:6:\"object\";}s:19:\"Ec2SecurityGroupArn\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:128;s:7:\"pattern\";s:62:\"^arn:(aws|aws-cn):ec2:[a-z\\-0-9]*:[0-9]{12}:security-group/.*$\";s:4:\"type\";s:6:\"string\";}s:23:\"Ec2SecurityGroupArnList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/Ec2SecurityGroupArn\";}s:8:\"maxItems\";i:5;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:12:\"Ec2SubnetArn\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:128;s:7:\"pattern\";s:54:\"^arn:(aws|aws-cn):ec2:[a-z\\-0-9]*:[0-9]{12}:subnet/.*$\";s:4:\"type\";s:6:\"string\";}s:16:\"EfsFilesystemArn\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:128;s:7:\"pattern\";s:76:\"^arn:(aws|aws-cn):elasticfilesystem:[a-z\\-0-9]*:[0-9]{12}:file-system/fs-.*$\";s:4:\"type\";s:6:\"string\";}s:3:\"Gid\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:4:\"NONE\";i:1;s:9:\"INT_VALUE\";i:2;s:4:\"NAME\";i:3;s:4:\"BOTH\";}s:4:\"type\";s:6:\"string\";}s:10:\"IamRoleArn\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:2048;s:7:\"pattern\";s:41:\"^arn:(aws|aws-cn):iam::[0-9]{12}:role/.*$\";s:4:\"type\";s:6:\"string\";}s:23:\"InvalidRequestException\";O:8:\"stdClass\":0:{}s:17:\"ListAgentsRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"ListAgentsRequest\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MaxResults\";s:11:\"description\";s:37:\"The
  maximum number of agents to list.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:87:\"An
  opaque string that indicates the position at which to begin the next list of agents.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"ListAgentsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"ListAgentsResponse\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"Agents\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/AgentList\";s:11:\"description\";s:33:\"A
  list of agents in your account.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:97:\"An
  opaque string that indicates the position at which to begin returning the next list
  of agents.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"ListLocationsRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"ListLocationsRequest\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MaxResults\";s:11:\"description\";s:42:\"The
  maximum number of locations to return.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:90:\"An
  opaque string that indicates the position at which to begin the next list of locations.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"ListLocationsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"ListLocationsResponse\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"Locations\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/LocationList\";s:11:\"description\";s:43:\"An
  array that contains a list of locations.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:100:\"An
  opaque string that indicates the position at which to begin returning the next list
  of locations.\";}}s:4:\"type\";s:6:\"object\";}s:26:\"ListTagsForResourceRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:26:\"ListTagsForResourceRequest\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MaxResults\";s:11:\"description\";s:42:\"The
  maximum number of locations to return.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:90:\"An
  opaque string that indicates the position at which to begin the next list of locations.\";}s:11:\"ResourceArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/TaggableResourceArn\";s:11:\"description\";s:66:\"The
  Amazon Resource Name (ARN) of the resource whose tags to list.\";}}s:8:\"required\";a:1:{i:0;s:11:\"ResourceArn\";}s:4:\"type\";s:6:\"object\";}s:27:\"ListTagsForResourceResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"ListTagsForResourceResponse\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:104:\"An
  opaque string that indicates the position at which to begin returning the next list
  of resource tags.\";}s:4:\"Tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/TagList\";s:11:\"description\";s:23:\"Array
  of resource tags.\";}}s:4:\"type\";s:6:\"object\";}s:25:\"ListTaskExecutionsRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"ListTaskExecutions\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MaxResults\";s:11:\"description\";s:45:\"The
  maximum number of executed tasks to list.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:99:\"An
  opaque string that indicates the position at which to begin the next list of the
  executed tasks.\";}s:7:\"TaskArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/TaskArn\";s:11:\"description\";s:72:\"The
  Amazon Resource Name (ARN) of the task whose tasks you want to list.\";}}s:4:\"type\";s:6:\"object\";}s:26:\"ListTaskExecutionsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"ListTaskExecutionsResponse\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:105:\"An
  opaque string that indicates the position at which to begin returning the next list
  of executed tasks.\";}s:14:\"TaskExecutions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/TaskExecutionList\";s:11:\"description\";s:25:\"A
  list of executed tasks.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"ListTasksRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"ListTasksRequest\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MaxResults\";s:11:\"description\";s:38:\"The
  maximum number of tasks to return.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:86:\"An
  opaque string that indicates the position at which to begin the next list of tasks.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"ListTasksResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"ListTasksResponse\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:96:\"An
  opaque string that indicates the position at which to begin returning the next list
  of tasks.\";}s:5:\"Tasks\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/TaskList\";s:11:\"description\";s:42:\"A
  list of all the tasks that are returned.\";}}s:4:\"type\";s:6:\"object\";}s:11:\"LocationArn\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:128;s:7:\"pattern\";s:75:\"^arn:(aws|aws-cn):datasync:[a-z\\-0-9]+:[0-9]{12}:location/loc-[0-9a-z]{17}$\";s:4:\"type\";s:6:\"string\";}s:12:\"LocationList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/LocationListEntry\";}s:4:\"type\";s:5:\"array\";}s:17:\"LocationListEntry\";O:8:\"stdClass\":3:{s:11:\"description\";s:182:\"Represents
  a single entry in a list of locations. <code>LocationListEntry</code> returns an
  array that contains a list of locations when the <a>ListLocations</a> operation
  is called.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"LocationArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/LocationArn\";s:11:\"description\";s:232:\"The
  Amazon Resource Name (ARN) of the location. For Network File System (NFS) or Amazon
  EFS, the location is the export path. For Amazon S3, the location is the prefix
  path that you want to mount and use as the root of the location.\";}s:11:\"LocationUri\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/LocationUri\";s:11:\"description\";s:893:\"<p>Represents
  a list of URLs of a location. <code>LocationUri</code> returns an array that contains
  a list of locations when the <a>ListLocations</a> operation is called.</p> <p>Format:
  <code>TYPE://GLOBAL_ID/SUBDIR</code>.</p> <p>TYPE designates the type of location.
  Valid values: NFS | EFS | S3.</p> <p>GLOBAL_ID is the globally unique identifier
  of the resource that backs the location. An example for EFS is <code>us-east-2.fs-abcd1234</code>.
  An example for Amazon S3 is the bucket name, such as <code>myBucket</code>. An example
  for NFS is a valid IPv4 address or a host name compliant with Domain Name Service
  (DNS).</p> <p>SUBDIR is a valid file system path, delimited by forward slashes as
  is the *nix convention. For NFS and Amazon EFS, it's the export path to mount the
  location. For Amazon S3, it's the prefix path that you mount to and treat as the
  root of the location.</p> <p/>\";}}s:4:\"type\";s:6:\"object\";}s:11:\"LocationUri\";O:8:\"stdClass\":2:{s:7:\"pattern\";s:30:\"(efs|nfs|s3)://[a-zA-Z0-9.\\-]+\";s:4:\"type\";s:6:\"string\";}s:11:\"LogGroupArn\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:562;s:7:\"pattern\";s:65:\"^arn:(aws|aws-cn):logs:[a-z\\-0-9]*:[0-9]{12}:log-group:([^:\\*]*)$\";s:4:\"type\";s:6:\"string\";}s:10:\"MaxResults\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:100;s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:5:\"Mtime\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:4:\"NONE\";i:1;s:8:\"PRESERVE\";}s:4:\"type\";s:6:\"string\";}s:9:\"NextToken\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:93;s:7:\"pattern\";s:15:\"[a-zA-Z0-9=_-]+\";s:4:\"type\";s:6:\"string\";}s:12:\"OnPremConfig\";O:8:\"stdClass\":4:{s:11:\"description\";s:97:\"A
  list of Amazon Resource Names (ARNs) of agents to use for a Network File System
  (NFS) location.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"AgentArns\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/AgentArnList\";s:11:\"description\";s:46:\"ARNs)of
  the agents to use for an NFS location.\";}}s:8:\"required\";a:1:{i:0;s:9:\"AgentArns\";}s:4:\"type\";s:6:\"object\";}s:7:\"Options\";O:8:\"stdClass\":3:{s:11:\"description\";s:597:\"<p>Represents
  the options that are available to control the behavior of a <a>StartTaskExecution</a>
  operation. Behavior includes preserving metadata such as user ID (UID), group ID
  (GID), and file permissions, and also overwriting files in the destination, data
  integrity verification, and so on.</p> <p>A task has a set of default options associated
  with it. If you don't specify an option in <a>StartTaskExecution</a>, the default
  value is used. You can override the defaults options on each task execution by specifying
  an overriding <code>Options</code> value to <a>StartTaskExecution</a>.</p>\";s:10:\"properties\";O:8:\"stdClass\":9:{s:5:\"Atime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Atime\";s:11:\"description\";s:812:\"<p>A
  file metadata value that shows the last time a file was accessed (that is, when
  the file was read or written to). If you set <code>Atime</code> to BEST_EFFORT,
  DataSync attempts to preserve the original <code>Atime</code> attribute on all source
  files (that is, the version before the PREPARING phase). However, <code>Atime</code>'s
  behavior is not fully standard across platforms, so AWS DataSync can only do this
  on a best-effort basis. </p> <p>Default value: BEST_EFFORT.</p> <p>BEST_EFFORT:
  Attempt to preserve the per-file <code>Atime</code> value (recommended).</p> <p>NONE:
  Ignore <code>Atime</code>.</p> <note> <p>If <code>Atime</code> is set to BEST_EFFORT,
  <code>Mtime</code> must be set to PRESERVE. </p> <p>If <code>Atime</code> is set
  to NONE, <code>Mtime</code> must also be NONE. </p> </note>\";}s:14:\"BytesPerSecond\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/BytesPerSecond\";s:11:\"description\";s:185:\"A
  value that limits the bandwidth used by AWS DataSync. For example, if you want AWS
  DataSync to use a maximum of 1 MB, set this value to <code>1048576</code> (<code>=1024*1024</code>).\";}s:3:\"Gid\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Gid\";s:11:\"description\";s:244:\"<p>The
  group ID (GID) of the file's owners. </p> <p>Default value: INT_VALUE. This preserves
  the integer value of the ID.</p> <p>INT_VALUE: Preserve the integer value of user
  ID (UID) and GID (recommended).</p> <p>NONE: Ignore UID and GID. </p>\";}s:5:\"Mtime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Mtime\";s:11:\"description\";s:475:\"<p>A
  value that indicates the last time that a file was modified (that is, a file was
  written to) before the PREPARING phase. </p> <p>Default value: PRESERVE. </p> <p>PRESERVE:
  Preserve original <code>Mtime</code> (recommended)</p> <p> NONE: Ignore <code>Mtime</code>.
  </p> <note> <p>If <code>Mtime</code> is set to PRESERVE, <code>Atime</code> must
  be set to BEST_EFFORT.</p> <p>If <code>Mtime</code> is set to NONE, <code>Atime</code>
  must also be set to NONE. </p> </note>\";}s:16:\"PosixPermissions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/PosixPermissions\";s:11:\"description\";s:366:\"<p>A
  value that determines which users or groups can access a file for a specific purpose
  such as reading, writing, or execution of the file. </p> <p>Default value: PRESERVE.</p>
  <p>PRESERVE: Preserve POSIX-style permissions (recommended).</p> <p>NONE: Ignore
  permissions. </p> <note> <p>AWS DataSync can preserve extant permissions of a source
  location.</p> </note>\";}s:20:\"PreserveDeletedFiles\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/PreserveDeletedFiles\";s:11:\"description\";s:299:\"<p>A
  value that specifies whether files in the destination that don't exist in the source
  file system should be preserved. </p> <p>Default value: PRESERVE.</p> <p>PRESERVE:
  Ignore such destination files (recommended). </p> <p>REMOVE: Delete destination
  files that aren\u2019t present in the source.</p>\";}s:15:\"PreserveDevices\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/PreserveDevices\";s:11:\"description\";s:572:\"<p>A
  value that determines whether AWS DataSync should preserve the metadata of block
  and character devices in the source file system, and recreate the files with that
  device name and metadata on the destination.</p> <note> <p>AWS DataSync can't sync
  the actual contents of such devices, because they are nonterminal and don't return
  an end-of-file (EOF) marker.</p> </note> <p>Default value: NONE.</p> <p>NONE: Ignore
  special devices (recommended). </p> <p>PRESERVE: Preserve character and block device
  metadata. This option isn't currently supported for Amazon EFS. </p>\";}s:3:\"Uid\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:17:\"#/definitions/Uid\";s:11:\"description\";s:243:\"<p>The
  user ID (UID) of the file's owner. </p> <p>Default value: INT_VALUE. This preserves
  the integer value of the ID.</p> <p>INT_VALUE: Preserve the integer value of UID
  and group ID (GID) (recommended).</p> <p>NONE: Ignore UID and GID. </p>\";}s:10:\"VerifyMode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/VerifyMode\";s:11:\"description\";s:321:\"<p>A
  value that determines whether a data integrity verification should be performed
  at the end of a task execution after all data and metadata have been transferred.
  </p> <p>Default value: POINT_IN_TIME_CONSISTENT.</p> <p>POINT_IN_TIME_CONSISTENT:
  Perform verification (recommended). </p> <p>NONE: Skip verification.</p>\";}}s:4:\"type\";s:6:\"object\";}s:11:\"PhaseStatus\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:7:\"PENDING\";i:1;s:7:\"SUCCESS\";i:2;s:5:\"ERROR\";}s:4:\"type\";s:6:\"string\";}s:16:\"PosixPermissions\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:4:\"NONE\";i:1;s:11:\"BEST_EFFORT\";i:2;s:8:\"PRESERVE\";}s:4:\"type\";s:6:\"string\";}s:20:\"PreserveDeletedFiles\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:8:\"PRESERVE\";i:1;s:6:\"REMOVE\";}s:4:\"type\";s:6:\"string\";}s:15:\"PreserveDevices\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:4:\"NONE\";i:1;s:8:\"PRESERVE\";}s:4:\"type\";s:6:\"string\";}s:11:\"S3BucketArn\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:76;s:7:\"pattern\";s:31:\"^arn:(aws|aws-cn):s3:::([^/]*)$\";s:4:\"type\";s:6:\"string\";}s:8:\"S3Config\";O:8:\"stdClass\":4:{s:11:\"description\";s:378:\"The
  Amazon Resource Name (ARN) of the AWS Identity and Access Management (IAM) role
  that is used to access an Amazon S3 bucket. For detailed information about using
  such a role, see <a href=\"https://alpha-aws-docs.aws.amazon.com/sync-service/latest/userguide/create-locations-cli.html#create-location-s3-cli\">Components
  and Terminology</a> in the <i>AWS DataSync User Guide</i>.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:19:\"BucketAccessRoleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/IamRoleArn\";s:11:\"description\";s:109:\"The
  Amazon S3 bucket to access. This bucket is used as a parameter in the <a>CreateLocationS3</a>
  operation. \";}}s:8:\"required\";a:1:{i:0;s:19:\"BucketAccessRoleArn\";}s:4:\"type\";s:6:\"object\";}s:14:\"ServerHostname\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:255;s:7:\"pattern\";s:61:\"^(([a-zA-Z0-9\\-]*[a-zA-Z0-9])\\.)*([A-Za-z0-9\\-]*[A-Za-z0-9])$\";s:4:\"type\";s:6:\"string\";}s:25:\"StartTaskExecutionRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:25:\"StartTaskExecutionRequest\";s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"OverrideOptions\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Options\";}s:7:\"TaskArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/TaskArn\";s:11:\"description\";s:52:\"The
  Amazon Resource Name (ARN) of the task to start.\";}}s:8:\"required\";a:1:{i:0;s:7:\"TaskArn\";}s:4:\"type\";s:6:\"object\";}s:26:\"StartTaskExecutionResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"StartTaskExecutionResponse\";s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"TaskExecutionArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/TaskExecutionArn\";s:11:\"description\";s:79:\"The
  Amazon Resource Name (ARN) of the specific task execution that was started.\";}}s:4:\"type\";s:6:\"object\";}s:12:\"Subdirectory\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:4096;s:7:\"pattern\";s:20:\"^[a-zA-Z0-9_\\-\\./]+$\";s:4:\"type\";s:6:\"string\";}s:6:\"TagKey\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:256;s:9:\"minLength\";i:1;s:7:\"pattern\";s:29:\"^[a-zA-Z0-9\\s+=._:/-]{1,128}$\";s:4:\"type\";s:6:\"string\";}s:10:\"TagKeyList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/TagKey\";}s:8:\"maxItems\";i:50;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:7:\"TagList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/TagListEntry\";}s:8:\"maxItems\";i:55;s:8:\"minItems\";i:0;s:4:\"type\";s:5:\"array\";}s:12:\"TagListEntry\";O:8:\"stdClass\":3:{s:11:\"description\";s:187:\"Represents
  a single entry in a list of AWS resource tags. <code>TagListEntry</code> returns
  an array that contains a list of tasks when the <a>ListTagsForResource</a> operation
  is called.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"Key\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/TagKey\";s:11:\"description\";s:32:\"The
  key for an AWS resource tag.\";}s:5:\"Value\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/TagValue\";s:11:\"description\";s:34:\"The
  value for an AWS resource tag.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"TagResourceRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:18:\"TagResourceRequest\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"ResourceArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/TaggableResourceArn\";s:11:\"description\";s:67:\"The
  Amazon Resource Name (ARN) of the resource to apply the tag to.\";}s:4:\"Tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/TagList\";s:11:\"description\";s:18:\"The
  tags to apply.\";}}s:8:\"required\";a:2:{i:0;s:11:\"ResourceArn\";i:1;s:4:\"Tags\";}s:4:\"type\";s:6:\"object\";}s:19:\"TagResourceResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:8:\"TagValue\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:256;s:9:\"minLength\";i:1;s:7:\"pattern\";s:29:\"^[a-zA-Z0-9\\s+=._:/-]{1,256}$\";s:4:\"type\";s:6:\"string\";}s:19:\"TaggableResourceArn\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:128;s:7:\"pattern\";s:101:\"^arn:(aws|aws-cn):datasync:[a-z\\-0-9]+:[0-9]{12}:(agent|task|location)/(agent|task|loc)-[0-9a-z]{17}$\";s:4:\"type\";s:6:\"string\";}s:7:\"TaskArn\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:128;s:7:\"pattern\";s:72:\"^arn:(aws|aws-cn):datasync:[a-z\\-0-9]*:[0-9]{12}:task/task-[0-9a-f]{17}$\";s:4:\"type\";s:6:\"string\";}s:16:\"TaskExecutionArn\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:128;s:7:\"pattern\";s:100:\"^arn:(aws|aws-cn):datasync:[a-z\\-0-9]*:[0-9]{12}:task/task-[0-9a-f]{17}/execution/exec-[0-9a-f]{17}$\";s:4:\"type\";s:6:\"string\";}s:17:\"TaskExecutionList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/TaskExecutionListEntry\";}s:4:\"type\";s:5:\"array\";}s:22:\"TaskExecutionListEntry\";O:8:\"stdClass\":3:{s:11:\"description\";s:215:\"Represents
  a single entry in a list of task executions. <code>TaskExecutionListEntry</code>
  returns an array that contains a list of specific invocations of a task when <a>ListTaskExecutions</a>
  operation is called.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/TaskExecutionStatus\";s:11:\"description\";s:31:\"The
  status of a task execution.\";}s:16:\"TaskExecutionArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/TaskExecutionArn\";s:11:\"description\";s:61:\"The
  Amazon Resource Name (ARN) of the task that was executed.\";}}s:4:\"type\";s:6:\"object\";}s:25:\"TaskExecutionResultDetail\";O:8:\"stdClass\":3:{s:11:\"description\";s:201:\"Describes
  the detailed result of a <code>TaskExecution</code> operation. This result includes
  the time in milliseconds spent in each phase, the status of the task execution,
  and the errors encountered.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:9:\"ErrorCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:123:\"Errors
  that AWS DataSync encountered during execution of the task. You can use this error
  code to help troubleshoot issues.\";}s:11:\"ErrorDetail\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/string\";s:11:\"description\";s:139:\"Detailed
  description of an error that was encountered during the task execution. You can
  use this information to help troubleshoot issues. \";}s:15:\"PrepareDuration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Duration\";s:11:\"description\";s:79:\"The
  total time in milliseconds that AWS DataSync spent in the PREPARING phase. \";}s:13:\"PrepareStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/PhaseStatus\";s:11:\"description\";s:34:\"The
  status of the PREPARING phase.\";}s:16:\"TransferDuration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Duration\";s:11:\"description\";s:81:\"The
  total time in milliseconds that AWS DataSync spent in the TRANSFERRING phase.\";}s:14:\"TransferStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/PhaseStatus\";s:11:\"description\";s:37:\"The
  status of the TRANSFERRING Phase.\";}s:14:\"VerifyDuration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Duration\";s:11:\"description\";s:78:\"The
  total time in milliseconds that AWS DataSync spent in the VERIFYING phase.\";}s:12:\"VerifyStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/PhaseStatus\";s:11:\"description\";s:34:\"The
  status of the VERIFYING Phase.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"TaskExecutionStatus\";O:8:\"stdClass\":2:{s:4:\"enum\";a:6:{i:0;s:9:\"LAUNCHING\";i:1;s:9:\"PREPARING\";i:2;s:12:\"TRANSFERRING\";i:3;s:9:\"VERIFYING\";i:4;s:7:\"SUCCESS\";i:5;s:5:\"ERROR\";}s:4:\"type\";s:6:\"string\";}s:8:\"TaskList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/TaskListEntry\";}s:4:\"type\";s:5:\"array\";}s:13:\"TaskListEntry\";O:8:\"stdClass\":3:{s:11:\"description\";s:268:\"Represents
  a single entry in a list of tasks. <code>TaskListEntry</code> returns an array that
  contains a list of tasks when the <a>ListTasks</a> operation is called. A task includes
  the source and destination file systems to sync and the options to use for the tasks.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/TagValue\";s:11:\"description\";s:21:\"The
  name of the task.\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/TaskStatus\";s:11:\"description\";s:23:\"The
  status of the task.\";}s:7:\"TaskArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/TaskArn\";s:11:\"description\";s:43:\"The
  Amazon Resource Name (ARN) of the task.\";}}s:4:\"type\";s:6:\"object\";}s:10:\"TaskStatus\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:9:\"AVAILABLE\";i:1;s:8:\"CREATING\";i:2;s:7:\"RUNNING\";i:3;s:11:\"UNAVAILABLE\";}s:4:\"type\";s:6:\"string\";}s:4:\"Time\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:3:\"Uid\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:4:\"NONE\";i:1;s:9:\"INT_VALUE\";i:2;s:4:\"NAME\";i:3;s:4:\"BOTH\";}s:4:\"type\";s:6:\"string\";}s:20:\"UntagResourceRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:20:\"UntagResourceRequest\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Keys\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/TagKeyList\";s:11:\"description\";s:52:\"The
  keys in the key-value pair in the tag to remove.\";}s:11:\"ResourceArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/TaggableResourceArn\";s:11:\"description\";s:70:\"The
  Amazon Resource Name (ARN) of the resource to remove the tag from.\";}}s:8:\"required\";a:2:{i:0;s:11:\"ResourceArn\";i:1;s:4:\"Keys\";}s:4:\"type\";s:6:\"object\";}s:21:\"UntagResourceResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:18:\"UpdateAgentRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:18:\"UpdateAgentRequest\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"AgentArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/AgentArn\";s:11:\"description\";s:54:\"The
  Amazon Resource Name (ARN) of the agent to update.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/TagValue\";s:11:\"description\";s:53:\"The
  name that you want to use to configure the agent.\";}}s:8:\"required\";a:1:{i:0;s:8:\"AgentArn\";}s:4:\"type\";s:6:\"object\";}s:19:\"UpdateAgentResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:17:\"UpdateTaskRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:18:\"UpdateTaskResponse\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/TagValue\";s:11:\"description\";s:31:\"The
  name of the task to update.\";}s:7:\"Options\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Options\";}s:7:\"TaskArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/TaskArn\";s:11:\"description\";s:74:\"The
  Amazon Resource Name (ARN) of the resource name of the task to update.\";}}s:8:\"required\";a:1:{i:0;s:7:\"TaskArn\";}s:4:\"type\";s:6:\"object\";}s:18:\"UpdateTaskResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:10:\"VerifyMode\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:24:\"POINT_IN_TIME_CONSISTENT\";i:1;s:4:\"NONE\";}s:4:\"type\";s:6:\"string\";}s:4:\"long\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"string\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}"
...
