---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:7:\"version\";s:3:\"2.0\";s:5:\"title\";s:9:\"Nexmo
  API\";s:11:\"description\";s:36:\"##OAI Specification of Nexmo's APIs.\";}"
host: api.nexmo.com
basePath: /v2
paths: ~
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":15:{s:18:\"applicationRequest\";O:8:\"stdClass\":4:{s:7:\"example\";O:8:\"stdClass\":9:{s:13:\"answer_method\";s:3:\"GET\";s:10:\"answer_url\";s:22:\"http://myanswerurl.com\";s:16:\"application_type\";s:5:\"voice\";s:13:\"backup_method\";s:3:\"GET\";s:10:\"backup_url\";s:23:\"http://mybackupurll.com\";s:12:\"event_method\";s:3:\"GET\";s:9:\"event_url\";s:21:\"http://myeventurl.com\";s:4:\"name\";s:16:\"Nexmo-conference\";s:13:\"numberpool_id\";s:2:\"10\";}s:10:\"properties\";O:8:\"stdClass\":9:{s:13:\"answer_method\";O:8:\"stdClass\":3:{s:7:\"default\";s:4:\"POST\";s:11:\"description\";s:63:\"HTTP
  method that is used to make the request. Defaults to POST.\";s:4:\"type\";s:6:\"string\";}s:10:\"answer_url\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"URL
  that gets called once a call is answered. The URL returns a NCCO.\";s:4:\"type\";s:6:\"string\";}s:16:\"application_type\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Type
  of application.\";s:4:\"enum\";a:1:{i:0;s:5:\"voice\";}s:4:\"type\";s:6:\"string\";}s:13:\"backup_method\";O:8:\"stdClass\":3:{s:7:\"default\";s:4:\"POST\";s:11:\"description\";s:63:\"HTTP
  method that is used to make the request. Defaults to POST.\";s:4:\"type\";s:6:\"string\";}s:10:\"backup_url\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Backup
  event URL in case primary is unavailable.\";s:4:\"type\";s:6:\"string\";}s:12:\"event_method\";O:8:\"stdClass\":3:{s:7:\"default\";s:4:\"POST\";s:11:\"description\";s:63:\"HTTP
  method that is used to make the request. Defaults to POST.\";s:4:\"type\";s:6:\"string\";}s:9:\"event_url\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"Asynchronous
  webhook that receives event information of a call.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Friendly
  name of application.\";s:4:\"type\";s:6:\"string\";}s:13:\"numberpool_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"ID
  of number pool connected to the application.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:4:\"name\";i:1;s:10:\"answer_url\";i:2;s:9:\"event_url\";i:3;s:16:\"application_type\";}s:4:\"type\";s:6:\"object\";}s:19:\"applicationResponse\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/applicationRequest\";}i:1;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"_links\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"numberpool\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"href\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"self\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"href\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:14:\"application_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}s:7:\"example\";O:8:\"stdClass\":11:{s:6:\"_links\";O:8:\"stdClass\":2:{s:10:\"numberpool\";O:8:\"stdClass\":1:{s:4:\"href\";s:15:\"/numberpools/10\";}s:4:\"self\";O:8:\"stdClass\":1:{s:4:\"href\";s:50:\"/applications/63f61863-4a51-4f6b-86e1-46edebcf9356\";}}s:13:\"answer_method\";s:3:\"GET\";s:10:\"answer_url\";s:22:\"http://myanswerurl.com\";s:14:\"application_id\";s:36:\"63f61863-4a51-4f6b-86e1-46edebcf9356\";s:16:\"application_type\";s:5:\"voice\";s:13:\"backup_method\";s:3:\"GET\";s:10:\"backup_url\";s:23:\"http://mybackupurll.com\";s:12:\"event_method\";s:3:\"GET\";s:9:\"event_url\";s:21:\"http://myeventurl.com\";s:4:\"name\";s:16:\"Nexmo-conference\";s:13:\"numberpool_id\";s:2:\"10\";}}s:8:\"callBase\";O:8:\"stdClass\":4:{s:11:\"description\";s:24:\"Destination
  of the call.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"from\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"An
  e.164 formatted number or a SIP URI.\";s:4:\"type\";s:6:\"string\";}s:2:\"to\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:2:\"to\";i:1;s:4:\"from\";}s:4:\"type\";s:6:\"object\";}s:11:\"callRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":16:{s:13:\"
  sip_username\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"SIP username for
  authentication\";s:4:\"type\";s:6:\"string\";}s:13:\"answer_method\";O:8:\"stdClass\":3:{s:7:\"default\";s:4:\"POST\";s:11:\"description\";s:62:\"HTTP
  method that is used to make the request. Defaults to POST\";s:4:\"type\";s:6:\"string\";}s:10:\"answer_url\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"URL
  that gets called once a call is answered. The URL returns a NCCO\";s:4:\"type\";s:6:\"string\";}s:13:\"backup_method\";O:8:\"stdClass\":3:{s:7:\"default\";s:4:\"POST\";s:11:\"description\";s:62:\"HTTP
  method that is used to make the request. Defaults to POST\";s:4:\"type\";s:6:\"string\";}s:10:\"backup_url\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"Backup
  event URL in case primary is unavailable\";s:4:\"type\";s:6:\"string\";}s:11:\"dtmf_answer\";O:8:\"stdClass\":2:{s:11:\"description\";s:128:\"Digits
  that are sent as soon as the call is answered (pauses are created using \u2018p\u2019
  = 500ms & \u2018*\u2019, \u2018#\u2019 are respected)\";s:4:\"type\";s:6:\"string\";}s:12:\"event_method\";O:8:\"stdClass\":3:{s:7:\"default\";s:4:\"POST\";s:11:\"description\";s:62:\"HTTP
  method that is used to make the request. Defaults to POST\";s:4:\"type\";s:6:\"string\";}s:9:\"event_url\";O:8:\"stdClass\":2:{s:11:\"description\";s:242:\"Asynchronous
  webhook that gets called each time one of the following call events are fired. The
  call states are:  \u2018started\u2019, \u2018ringing\u2019, answered,\u2019busy\u2019,
  \u2018failed\u2019, \u2018timeout\u2019, \u2018cancelled\u2019, \u2018machine\u2019,
  \u2018complete\u2019  \";s:4:\"type\";s:6:\"string\";}s:4:\"from\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"An
  e.164 formatted number or a SIP URI.\";s:4:\"type\";s:6:\"string\";}s:12:\"length_timer\";O:8:\"stdClass\":2:{s:11:\"description\";s:131:\"Timer
  in seconds that starts after a call moves to the \u2018in_progress\u2019 state.
  Call is dropped when it reaches 0. 0>=length_timer\n\";s:4:\"type\";s:7:\"integer\";}s:17:\"machine_detection\";O:8:\"stdClass\":2:{s:11:\"description\";s:152:\"How
  to behave if an answering machine is encountered. Options are \u2018continue\u2019
  or \u2018hangup\u2019. If continue, event_url is called with param MACHINE.  \";s:4:\"type\";s:6:\"string\";}s:15:\"machine_timeout\";O:8:\"stdClass\":3:{s:7:\"default\";i:5;s:11:\"description\";s:81:\"Machine
  detection analysis timeout in seconds. 2000>timeout<10000. Defaults to 5s\";s:4:\"type\";s:7:\"integer\";}s:13:\"ringing_timer\";O:8:\"stdClass\":2:{s:11:\"description\";s:143:\"Timer
  in seconds that starts after a call moves to the \u2018ringing\u2019 state. Call
  is dropped when it reaches 0. 0>=ringing_timer. Default is 60\n\";s:4:\"type\";s:7:\"integer\";}s:11:\"sip_headers\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"Array
  of custom SIP headers to send in all SIP requests. Prefixed with \u2018NX-\u2019\";s:5:\"items\";O:8:\"stdClass\":0:{}s:4:\"type\";s:5:\"array\";}s:12:\"sip_password\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"SIP
  password for authentication\";s:4:\"type\";s:6:\"string\";}s:2:\"to\";O:8:\"stdClass\":2:{s:11:\"description\";s:138:\"Array
  of destinations in either e.164 format or a SIP URI. Multiple destinations (max
  10). E.164 and SIP URI\u2019s can be mixed and matched.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:2:\"to\";i:1;s:4:\"from\";i:2;s:10:\"answer_url\";i:3;s:9:\"event_url\";}s:4:\"type\";s:6:\"object\";}s:12:\"callResponse\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":11:{s:6:\"_links\";O:8:\"stdClass\":1:{s:4:\"self\";O:8:\"stdClass\":1:{s:4:\"href\";s:43:\"/calls/63f61863-4a51-4f6b-86e1-46edebcf9356\";}}s:11:\"call_status\";s:11:\"in_progress\";s:9:\"call_uuid\";s:36:\"63f61863-4a51-4f6b-86e1-46edebcf9356\";s:8:\"duration\";s:0:\"\";s:8:\"end_time\";s:0:\"\";s:4:\"from\";s:11:\"27312076887\";s:7:\"network\";s:5:\"65512\";s:5:\"price\";s:0:\"\";s:4:\"rate\";s:4:\"0.39\";s:10:\"start_time\";s:19:\"2015-02-04
  22:45:00\";s:2:\"to\";s:12:\"447833726118\";}s:10:\"properties\";O:8:\"stdClass\":11:{s:6:\"_links\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"self\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"href\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:11:\"call_status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"call_uuid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"duration\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"end_time\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"from\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"network\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"price\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"rate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"start_time\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"to\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"common\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Human
  readable message\";s:4:\"type\";s:6:\"string\";}s:10:\"request_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  unique ID of the API request\";s:4:\"type\";s:6:\"string\";}s:11:\"status_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Unique
  Nexmo status code\";s:4:\"type\";s:6:\"string\";}s:9:\"timestamp\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Timestamp
  of resource creation UTC\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"conferenceResponse\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":6:{s:6:\"_links\";O:8:\"stdClass\":2:{s:12:\"participants\";a:5:{i:0;O:8:\"stdClass\":1:{s:4:\"href\";s:50:\"/participants/63f61863-4a51-4f6b-86e1-46edebcf9356\";}i:1;O:8:\"stdClass\":1:{s:4:\"href\";s:50:\"/participants/63f61863-4a51-4f6b-23e1-46edebcf9352\";}i:2;O:8:\"stdClass\":1:{s:4:\"href\";s:50:\"/participants/43f61863-4a51-4f6b-12e1-46edebcf9312\";}i:3;O:8:\"stdClass\":1:{s:4:\"href\";s:50:\"/participants/23f61863-4a51-4f6b-82e1-46edebcf9323\";}i:4;O:8:\"stdClass\":1:{s:4:\"href\";s:50:\"/participants/43f61863-4a51-4f6b-4e1-46edebcf93545\";}}s:4:\"self\";O:8:\"stdClass\":1:{s:4:\"href\";s:49:\"/conferences/13f61863-4a51-4f6b-86e1-46edebcf9356\";}}s:15:\"conference_uuid\";s:36:\"13f61863-4a51-4f6b-86e1-46edebcf9356\";s:8:\"end_time\";s:0:\"\";s:18:\"participants_count\";s:1:\"5\";s:10:\"start_time\";s:20:\"2015-02-04T22:45:00Z\";s:6:\"status\";s:11:\"in_progress\";}s:10:\"properties\";O:8:\"stdClass\":6:{s:6:\"_links\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"participants\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"href\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:4:\"self\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"href\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:15:\"conference_uuid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"end_time\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"participants_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"start_time\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"error\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":5:{s:6:\"detail\";s:47:\"The
  request cost exceeds your current ballance.\";s:8:\"instance\";s:64:\"https://api.nexmo.com/calls/63f61863-4a51-4f6b-86e1-46edebcf9356\";s:6:\"status\";s:3:\"403\";s:5:\"title\";s:13:\"Out
  Of Credit\";s:4:\"type\";s:42:\"https://docs.nexmo.com/Error#out-of-credit\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"detail\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"instance\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"participantResponse\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":14:{s:6:\"_links\";O:8:\"stdClass\":2:{s:4:\"call\";O:8:\"stdClass\":1:{s:4:\"href\";s:43:\"/calls/63f61863-4a51-4f6b-86e1-46edebcf9356\";}s:4:\"self\";O:8:\"stdClass\":1:{s:4:\"href\";s:64:\"/conferences/13f61863-4a51-4f6b-86e1-46edebcf9356/participants/1\";}}s:11:\"call_status\";s:11:\"in-progress\";s:9:\"call_uuid\";s:36:\"63f61863-4a51-4f6b-86e1-46edebcf9356\";s:8:\"duration\";s:0:\"\";s:7:\"earmuff\";s:5:\"false\";s:8:\"end_time\";s:0:\"\";s:4:\"from\";s:11:\"27312076887\";s:4:\"mute\";s:5:\"false\";s:7:\"network\";s:5:\"65512\";s:5:\"price\";s:0:\"\";s:4:\"rate\";s:4:\"0.39\";s:10:\"start_time\";s:20:\"2015-02-04T22:45:00Z\";s:2:\"to\";s:12:\"447833726118\";s:3:\"vol\";s:1:\"0\";}s:10:\"properties\";O:8:\"stdClass\":14:{s:6:\"_links\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"call\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"href\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"self\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"href\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:11:\"call_status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"call_uuid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"duration\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"earmuff\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"end_time\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"from\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"mute\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"network\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"price\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"rate\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"start_time\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"to\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"vol\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"recordingBase\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":11:{s:13:\"backup_method\";O:8:\"stdClass\":3:{s:7:\"default\";s:4:\"POST\";s:11:\"description\";s:62:\"HTTP
  method that is used to make the request. Defaults to POST\";s:4:\"type\";s:6:\"string\";}s:10:\"backup_url\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Backup
  callback URL in case primary is unavailable\";s:4:\"type\";s:6:\"string\";}s:11:\"beep_finish\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:101:\"Whether
  to beep when the recording finishes. Options are \u2018true\u2019 or \u2018false\u2019.
  Defaults to false\";s:4:\"type\";s:7:\"boolean\";}s:10:\"beep_start\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:99:\"Whether
  to beep when the recording starts. Options are \u2018true\u2019 or \u2018false\u2019.
  Defaults to false\";s:4:\"type\";s:7:\"boolean\";}s:15:\"destination_url\";O:8:\"stdClass\":2:{s:11:\"description\";s:115:\"Optional
  URL to record the recording to if it is not hosted by Nexmo. If omitted, the recording
  is hosted by Nexmo \";s:4:\"type\";s:6:\"string\";}s:12:\"event_method\";O:8:\"stdClass\":3:{s:7:\"default\";s:4:\"POST\";s:11:\"description\";s:62:\"HTTP
  method that is used to make the request. Defaults to POST\";s:4:\"type\";s:6:\"string\";}s:9:\"event_url\";O:8:\"stdClass\":2:{s:7:\"default\";s:116:\"Asynchronous
  webook that gets called following a recording that returns the URL of the recording
  and other meta data\";s:4:\"type\";s:6:\"string\";}s:6:\"format\";O:8:\"stdClass\":4:{s:7:\"default\";s:3:\"mp3\";s:11:\"description\";s:91:\"Format
  of the file. Options are \u2018mp3\u2019, \u2018wav\u2019 or \u2018vorbis\u2019.
  Defaults to \u2018mp3\u2019\";s:4:\"enum\";a:3:{i:0;s:3:\"mp3\";i:1;s:3:\"wav\";i:2;s:6:\"vorbis\";}s:4:\"type\";s:6:\"string\";}s:6:\"public\";O:8:\"stdClass\":3:{s:7:\"default\";b:1;s:11:\"description\";s:123:\"Whether
  to require credentials to access the file or public. Options are \u2018true\u2019
  or \u2018false\u2019. Defaults to \u2018false\u2019\";s:4:\"type\";s:7:\"boolean\";}s:8:\"streamed\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:253:\"If
  destination_url is specified, whether to stream the recording immediately or uploaded
  via a multipart form submission once the recording has finished. Options are \u2018true\u2019
  or \u2018false\u2019. Defaults to \u2018false\u2019 (only valid if split is \u2018false\u2019)\";s:4:\"type\";s:7:\"boolean\";}s:13:\"validity_time\";O:8:\"stdClass\":2:{s:11:\"description\";s:127:\"Time
  in minutes that the recording is valid for until it is deleted if hosted by Nexmo.
  1>validity_time. Default is indefinite \";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:1:{i:0;s:9:\"event_url\";}s:4:\"type\";s:6:\"object\";}s:16:\"recordingRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":12:{s:13:\"backup_method\";O:8:\"stdClass\":3:{s:7:\"default\";s:4:\"POST\";s:11:\"description\";s:62:\"HTTP
  method that is used to make the request. Defaults to POST\";s:4:\"type\";s:6:\"string\";}s:10:\"backup_url\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Backup
  callback URL in case primary is unavailable\";s:4:\"type\";s:6:\"string\";}s:11:\"beep_finish\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:101:\"Whether
  to beep when the recording finishes. Options are \u2018true\u2019 or \u2018false\u2019.
  Defaults to false\";s:4:\"type\";s:7:\"boolean\";}s:10:\"beep_start\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:99:\"Whether
  to beep when the recording starts. Options are \u2018true\u2019 or \u2018false\u2019.
  Defaults to false\";s:4:\"type\";s:7:\"boolean\";}s:15:\"destination_url\";O:8:\"stdClass\":2:{s:11:\"description\";s:115:\"Optional
  URL to record the recording to if it is not hosted by Nexmo. If omitted, the recording
  is hosted by Nexmo \";s:4:\"type\";s:6:\"string\";}s:12:\"event_method\";O:8:\"stdClass\":3:{s:7:\"default\";s:4:\"POST\";s:11:\"description\";s:62:\"HTTP
  method that is used to make the request. Defaults to POST\";s:4:\"type\";s:6:\"string\";}s:9:\"event_url\";O:8:\"stdClass\":2:{s:7:\"default\";s:116:\"Asynchronous
  webook that gets called following a recording that returns the URL of the recording
  and other meta data\";s:4:\"type\";s:6:\"string\";}s:6:\"format\";O:8:\"stdClass\":4:{s:7:\"default\";s:3:\"mp3\";s:11:\"description\";s:91:\"Format
  of the file. Options are \u2018mp3\u2019, \u2018wav\u2019 or \u2018vorbis\u2019.
  Defaults to \u2018mp3\u2019\";s:4:\"enum\";a:3:{i:0;s:3:\"mp3\";i:1;s:3:\"wav\";i:2;s:6:\"vorbis\";}s:4:\"type\";s:6:\"string\";}s:6:\"public\";O:8:\"stdClass\":3:{s:7:\"default\";b:1;s:11:\"description\";s:123:\"Whether
  to require credentials to access the file or public. Options are \u2018true\u2019
  or \u2018false\u2019. Defaults to \u2018false\u2019\";s:4:\"type\";s:7:\"boolean\";}s:5:\"split\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:167:\"Whether
  to split the recording into two separate recordings per leg (prefixed with \u2018a_\u2019
  or \u2018b_\u2019. Options are \u2018true\u2019 or \u2018false\u2019. Defaults to
  \u2018false\u2019\";s:4:\"type\";s:7:\"boolean\";}s:8:\"streamed\";O:8:\"stdClass\":3:{s:7:\"default\";b:0;s:11:\"description\";s:253:\"If
  destination_url is specified, whether to stream the recording immediately or uploaded
  via a multipart form submission once the recording has finished. Options are \u2018true\u2019
  or \u2018false\u2019. Defaults to \u2018false\u2019 (only valid if split is \u2018false\u2019)\";s:4:\"type\";s:7:\"boolean\";}s:13:\"validity_time\";O:8:\"stdClass\":2:{s:11:\"description\";s:127:\"Time
  in minutes that the recording is valid for until it is deleted if hosted by Nexmo.
  1>validity_time. Default is indefinite \";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:1:{i:0;s:9:\"event_url\";}s:4:\"type\";s:6:\"object\";}s:17:\"recordingResponse\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":5:{s:6:\"_links\";O:8:\"stdClass\":2:{s:4:\"call\";O:8:\"stdClass\":1:{s:4:\"href\";s:43:\"/calls/ssf61863-4a51-ef6b-11e1-w6edebcf93bb\";}s:4:\"self\";O:8:\"stdClass\":1:{s:4:\"href\";s:48:\"/recordings/63f61863-4a51-4f6b-86e1-46edebcf9356\";}}s:9:\"call_uuid\";s:36:\"ssf61863-4a51-ef6b-11e1-w6edebcf93bb\";s:8:\"duration\";s:4:\"1301\";s:14:\"recording_time\";s:19:\"2015-02-04
  22:45:00\";s:13:\"recording_url\";s:68:\"https://media.nexmo/a3euw8A/20f61863-4a51-ef6b-86e1-w6edebcf9356.mp3\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"_links\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"call\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"href\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"self\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"href\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:9:\"call_uuid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"duration\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Duration
  in seconds.\";s:4:\"type\";s:6:\"string\";}s:14:\"recording_time\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"recording_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"streamRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"level\";O:8:\"stdClass\":6:{s:7:\"default\";i:0;s:11:\"description\";s:81:\"Set
  the audio level of the stream. -1>=level=<1. Defaults to 0. Resolution is 0.1\";s:7:\"maximum\";i:-1;s:7:\"minimum\";i:1;s:10:\"multipleOf\";d:0.10000000000000001;s:4:\"type\";s:6:\"number\";}s:4:\"loop\";O:8:\"stdClass\":5:{s:7:\"default\";i:1;s:11:\"description\";s:125:\"Whether
  to loop the stream once the stream ends. Options are an integer 0>=loop<10 where
  0 loops continously. Defaults to 1. \";s:7:\"maximum\";i:10;s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:10:\"stream_url\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"A
  comma separated list of audio URLs to stream. \";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:10:\"stream_url\";}s:4:\"type\";s:6:\"object\";}s:10:\"ttsRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"gender\";O:8:\"stdClass\":4:{s:7:\"default\";s:6:\"female\";s:11:\"description\";s:85:\"The
  gender to use for TTS. Options are \u2018male\u2019 or \u2018female\u2019. Defaults
  to female\";s:4:\"enum\";a:2:{i:0;s:4:\"male\";i:1;s:6:\"female\";}s:4:\"type\";s:6:\"string\";}s:8:\"language\";O:8:\"stdClass\":3:{s:7:\"default\";s:5:\"en-gb\";s:11:\"description\";s:60:\"The
  language used to read the message. Defaults to \"en-gb\"  \";s:4:\"type\";s:6:\"string\";}s:5:\"level\";O:8:\"stdClass\":5:{s:11:\"description\";s:59:\"Set
  the audio level of the TTS. -1>=level=<1. Defaults to 0\";s:7:\"maximum\";i:1;s:7:\"minimum\";i:-1;s:10:\"multipleOf\";d:0.10000000000000001;s:4:\"type\";s:6:\"number\";}s:4:\"loop\";O:8:\"stdClass\":5:{s:7:\"default\";i:1;s:11:\"description\";s:113:\"Whether
  to loop the once the TTS ends. Options are an integer 0>=loop<10 where 0 loops continously.
  Defaults to 1\";s:7:\"maximum\";i:10;s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:4:\"text\";O:8:\"stdClass\":4:{s:11:\"description\";s:72:\"\nBody
  of the text message. 0>text<1500. Commas control pauses in speech.\";s:9:\"maxLength\";i:1500;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"text\";}s:4:\"type\";s:6:\"object\";}s:15:\"whisperResponse\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":7:{s:6:\"_links\";O:8:\"stdClass\":3:{s:6:\"parent\";O:8:\"stdClass\":1:{s:4:\"href\";s:49:\"/conferences/35f61863-4a51-4f6b-86e1-46edebcf93ad\";}s:12:\"participants\";a:3:{i:0;O:8:\"stdClass\":1:{s:4:\"href\";s:50:\"/participants/63f61863-4a51-4f6b-86e1-46edebcf9356\";}i:1;O:8:\"stdClass\":1:{s:4:\"href\";s:50:\"/participants/63f61863-4a51-4f6b-23e1-46edebcf9352\";}i:2;O:8:\"stdClass\":1:{s:4:\"href\";s:50:\"/participants/43f61863-4a51-4f6b-12e1-46edebcf9312\";}}s:4:\"self\";O:8:\"stdClass\":1:{s:4:\"href\";s:49:\"/conferences/63f61863-4a51-4f6b-86e1-46edebcf9356\";}}s:15:\"conference_uuid\";s:36:\"63f61863-4a51-4f6b-86e1-46edebcf9356\";s:8:\"end_time\";s:0:\"\";s:22:\"parent_conference_uuid\";s:36:\"35f61863-4a51-4f6b-86e1-46edebcf93ad\";s:18:\"participants_count\";s:1:\"3\";s:10:\"start_time\";s:20:\"2015-02-04T22:45:00Z\";s:6:\"status\";s:11:\"in_progress\";}s:10:\"properties\";O:8:\"stdClass\":7:{s:6:\"_links\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"parent\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"href\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"participants\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"href\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:4:\"self\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"href\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:15:\"conference_uuid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"end_time\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"parent_conference_uuid\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"participants_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"start_time\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
