---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":8:{s:11:\"description\";s:864:\"Icons8 API allows
  us to search and obtain [our icons](https://icons8.com/web-app).\n\nYou're welcome
  to use our icons to extend the functionality of your web and mobile applications,
  website templates, and even tattoos.\n\n![Tattoos](https://cdn.rawgit.com/icons8/api-docs/cff6fdf0/tattoos.svg)\n\n##
  Usage Examples\n\nSome examples of what you can do with our icons:\n\n* **Template
  customization.** This way, [Canva](https://www.canva.com/) uses our icons to customize
  their layouts.\n\n* **Graphics and text editors.** [Gravit](https://gravit.io/)
  allows to insert our icons into the mockups.\n\n* **Any application with customization.**
  [TimeTune](http://timetune.center/) uses our icons to customize the activities.\n\n##
  Getting Started\n\nTo get started, please [contact us](https://icons8.com/contact)
  to obtain an API key.\n\n## Pricing\n\nOur API license starts at $100/month.\";s:5:\"title\";s:6:\"Icons8\";s:7:\"version\";s:5:\"1.0.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"media\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:110:\"https://api.apis.guru/v2/cache/logo/https_pbs.twimg.com_profile_images_837777358883065857_YCw6bjtl_400x400.jpg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:6:\"2.7.11\";}s:6:\"format\";s:12:\"apiBlueprint\";s:3:\"url\";s:68:\"https://raw.githubusercontent.com/icons8/api-docs/master/apiary.apib\";s:7:\"version\";s:2:\"1A\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:10:\"icons8.com\";}"
host: api.icons8.com
basePath: /
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":12:{s:12:\"AuthArgument\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"hash\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"hash\";}s:4:\"type\";s:6:\"object\";}s:14:\"CategoryV3Item\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"category_code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"category_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"subcategory\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":0:{}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:30:\"CollectionWebFontTaskArguments\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"arguments\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}s:4:\"type\";s:6:\"object\";}s:21:\"CompactCategoryV3Item\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"api_code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:8:\"api_code\";}s:4:\"type\";s:6:\"object\";}s:17:\"CompactIconV3Item\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":12:{s:8:\"category\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"common_icon_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"features\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"platform_code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"share\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:11:\"subcategory\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:3:\"svg\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"vector\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:7:{i:0;s:2:\"id\";i:1;s:4:\"name\";i:2;s:13:\"platform_code\";i:3;s:7:\"created\";i:4;s:14:\"common_icon_id\";i:5;s:3:\"svg\";i:6;s:8:\"features\";}s:4:\"type\";s:6:\"object\";}s:10:\"IconV3Item\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/CompactIconV3Item\";}i:1;O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":12:{s:8:\"category\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"common_icon_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:7:\"created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"features\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"platform_code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"share\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:11:\"subcategory\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:3:\"svg\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"vector\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:7:{i:0;s:2:\"id\";i:1;s:4:\"name\";i:2;s:13:\"platform_code\";i:3;s:7:\"created\";i:4;s:14:\"common_icon_id\";i:5;s:3:\"svg\";i:6;s:8:\"features\";}s:4:\"type\";s:6:\"object\";}}}s:4:\"Meta\";O:8:\"stdClass\":0:{}s:6:\"Search\";O:8:\"stdClass\":0:{}s:9:\"TaskError\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"enum\";a:10:{i:0;s:14:\"json_not_valid\";i:1;s:13:\"auth_required\";i:2;s:11:\"auth_failed\";i:3;s:13:\"access_denied\";i:4;s:7:\"io_fail\";i:5;s:13:\"database_fail\";i:6;s:18:\"argument_is_missed\";i:7;s:17:\"argument_is_wrong\";i:8;s:12:\"paid_feature\";i:9;s:12:\"not_possible\";}s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"code\";i:1;s:11:\"description\";}s:4:\"type\";s:6:\"object\";}s:10:\"TaskResult\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"results\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"enum\";a:6:{i:0;s:11:\"`preparing+\";i:1;s:4:\"idle\";i:2;s:11:\"in_progress\";i:3;s:7:\"timeout\";i:4;s:8:\"complete\";i:5;s:6:\"failed\";}s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:15:\"create_web_font\";i:1;s:14:\"create_svg_set\";}s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:2:\"id\";i:1;s:4:\"type\";i:2;s:6:\"status\";}s:4:\"type\";s:6:\"object\";}s:11:\"TotalV3Item\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"api_code\";O:8:\"stdClass\":2:{s:4:\"enum\";a:7:{i:0;s:4:\"ios7\";i:1;s:4:\"win8\";i:2;s:5:\"win10\";i:3;s:7:\"android\";i:4;s:8:\"androidL\";i:5;s:5:\"color\";i:6;s:6:\"office\";}s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"total\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}s:8:\"required\";a:3:{i:0;s:4:\"name\";i:1;s:8:\"api_code\";i:2;s:5:\"total\";}s:4:\"type\";s:6:\"object\";}s:9:\"Web_Fonts\";O:8:\"stdClass\":0:{}}"
...
