---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:11:\"description\";s:241:\"The Box Content
  API gives you access to secure content management and content experience features
  for use in your own app. It strives to be RESTful and is organized around the main
  resources you\u2019re familiar with from the Box web interface.\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:10:\"Apache
  2.0\";s:3:\"url\";s:42:\"http://www.apache.org/licenses/LICENSE-2.0\";}s:5:\"title\";s:7:\"Box
  2.0\";s:7:\"version\";s:3:\"2.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:110:\"https://api.apis.guru/v2/cache/logo/https_pbs.twimg.com_profile_images_852979584169410562_etZ6V0rx_400x400.jpg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:77:\"https://raw.githubusercontent.com/box/box-openapi/master/v2.0/openapi-v2.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:7:\"box.com\";s:13:\"x-serviceName\";s:7:\"content\";}"
host: api.box.com
basePath: /2.0
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":83:{s:16:\"AssignmentCounts\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"Counts
  of assignments within this policy by apply-to type.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"file\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:12:\"file_version\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:6:\"folder\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:4:\"user\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:7:\"BoxFile\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/FileReference\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":26:{s:11:\"collections\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Collection\";}s:4:\"type\";s:5:\"array\";}s:13:\"comment_count\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  number of comments on a file.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:18:\"content_created_at\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"When
  the content of this file was created (more info).\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:19:\"content_modified_at\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"When
  the content of this file was last modified (more info).\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"When
  this file was created on Box\u2019s servers.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:10:\"created_by\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/UserReference\";s:11:\"description\";s:32:\"The
  user who first created file.\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  description of this file.\";s:4:\"type\";s:6:\"string\";}s:19:\"expiring_embed_link\";O:8:\"stdClass\":2:{s:11:\"description\";s:145:\"An
  expiring URL for an embedded preview session in an iframe. This URL will expire
  after 60 seconds and the session will expire after 60 minutes.\";s:4:\"type\";s:6:\"string\";}s:9:\"extension\";O:8:\"stdClass\":2:{s:11:\"description\";s:173:\"Indicates
  the suffix, when available, on the file. By default, set to an empty string. The
  suffix usually indicates the encoding (file format) of the file contents or usage.\";s:4:\"type\";s:6:\"string\";}s:12:\"file_version\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/FileVersionReference\";}s:10:\"is_package\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"Whether
  the file is a package. Used for Mac Packages used by iWorks.\";s:4:\"type\";s:7:\"boolean\";}s:11:\"item_status\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Whether
  this item is deleted or not.\";s:4:\"type\";s:6:\"string\";}s:4:\"lock\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Lock\";}s:11:\"modified_at\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"When
  this file was last updated on the Box servers.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"modified_by\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/UserReference\";s:11:\"description\";s:36:\"The
  user who last updated this file.\";}s:8:\"owned_by\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/UserReference\";s:11:\"description\";s:28:\"The
  user who owns this file.\";}s:6:\"parent\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ItemReference\";s:11:\"description\";s:32:\"The
  folder containing this file.\";}s:15:\"path_collection\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/PathCollection\";s:11:\"description\";s:55:\"The
  path of folders to this file, starting at the root.\";}s:11:\"permissions\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/FilePermissions\";}s:9:\"purged_at\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"When
  this file will be permanently deleted.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"shared_link\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/SharedLink\";}s:4:\"size\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Size
  of this file in bytes.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"All
  tags applied to this file.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:10:\"trashed_at\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"When
  this file was last moved to the trash.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:14:\"version_number\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  version number of the file.\";s:4:\"type\";s:6:\"string\";}s:14:\"watermark_info\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/WatermarkInfo\";}}}}s:11:\"description\";s:233:\"File
  information describe file objects in Box, with attributes like who created the file,
  when it was last modified, and other information. The actual content of the file
  itself is accessible through the /files/{id}/content endpoint.\";s:5:\"title\";s:11:\"File
  Object\";s:4:\"type\";s:6:\"object\";}s:15:\"ChunkPagination\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"chunk_size\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:20:\"next_stream_position\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"Collaboration\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Reference\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":10:{s:13:\"accessible_by\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/UserReference\";s:11:\"description\";s:50:\"The
  user or group who the collaboration applies to\";}s:15:\"acknowledged_at\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"When
  the status of this collab was changed\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:13:\"can_view_path\";O:8:\"stdClass\":2:{s:11:\"description\";s:218:\"Whether
  view path collaboration feature is enabled or not. View path collaborations allow
  the invitee to see the entire ancestral path to the associated folder. The user
  will not gain privileges in any ancestral folder\";s:4:\"type\";s:7:\"boolean\";}s:10:\"created_at\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  time this collaboration was created\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:10:\"created_by\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/UserReference\";s:11:\"description\";s:39:\"The
  user who created this collaboration\";}s:10:\"expires_at\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  time this collaboration will expire\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:4:\"item\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ItemReference\";}s:11:\"modified_at\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"The
  time this collaboration was last modified\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:4:\"role\";O:8:\"stdClass\":3:{s:11:\"description\";s:143:\"The
  level of access this user or group has. Can be editor, viewer, previewer, uploader,
  previewer uploader, viewer uploader, co-owner, or owner\";s:4:\"enum\";a:8:{i:0;s:6:\"editor\";i:1;s:6:\"viewer\";i:2;s:9:\"previewer\";i:3;s:8:\"uploader\";i:4;s:18:\"previewer
  uploader\";i:5;s:15:\"viewer uploader\";i:6;s:8:\"co-owner\";i:7;s:5:\"owner\";}s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"The
  status of this collab. Can be accepted, pending, or rejected\";s:4:\"type\";s:6:\"string\";}}}}s:11:\"description\";s:135:\"Collaborations
  are used to set and apply access permissions for users and groups to files and folders,
  similar to access control lists.\";s:4:\"type\";s:6:\"object\";}s:17:\"CollaborationList\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Pagination\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"entries\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/Collaboration\";}s:4:\"type\";s:5:\"array\";}}}}s:4:\"type\";s:6:\"object\";}s:10:\"Collection\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Reference\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"collection_type\";O:8:\"stdClass\":3:{s:11:\"description\";s:187:\"The
  type of the collection. This is used to determine the proper visual treatment for
  Box-internally created collections. Initially only \u201Cfavorites\u201D collection-type
  will be supported.\";s:4:\"enum\";a:1:{i:0;s:9:\"favorites\";}s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:93:\"The
  name of this collection. The only collection currently available is named \u201CFavorites\u201D\";s:4:\"type\";s:6:\"string\";}}}}s:11:\"description\";s:288:\"Collections
  contain information about the items contained inside of them, including files and
  folders. The only collection available currently is a \u201CFavorites\u201D collection.
  The contents of the collection are discovered in a similar way in which the contents
  of a folder are discovered.\";s:5:\"title\";s:17:\"Collection Object\";s:4:\"type\";s:6:\"object\";}s:14:\"CollectionList\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Pagination\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"entries\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Collection\";}s:4:\"type\";s:5:\"array\";}}}}s:4:\"type\";s:6:\"object\";}s:7:\"Comment\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Reference\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":7:{s:10:\"created_at\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"The
  time this comment was created\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:10:\"created_by\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/UserReference\";s:11:\"description\";s:57:\"A
  mini user object representing the author of the comment\";}s:16:\"is_reply_comment\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"Whether
  or not this comment is a reply to another comment\";s:4:\"type\";s:7:\"boolean\";}s:4:\"item\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ItemReference\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"The
  comment text that the user typed\";s:4:\"type\";s:6:\"string\";}s:11:\"modified_at\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  time this comment was last modified\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:14:\"tagged_message\";O:8:\"stdClass\":2:{s:11:\"description\";s:134:\"The
  string representing the comment text with @mentions included. @mention format is
  @[id:username]. Field is not included by default.\";s:4:\"type\";s:6:\"string\";}}}}s:11:\"description\";s:176:\"Comments
  are messages generated by Box users. Each message is tied to a specific file. You
  can create comments independently or create them as responses to other comments.\n\n\t\t\t\";s:5:\"title\";s:14:\"Comment
  Object\";s:4:\"type\";s:6:\"object\";}s:11:\"CommentList\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Pagination\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"entries\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Comment\";}s:4:\"type\";s:5:\"array\";}}}}s:4:\"type\";s:6:\"object\";}s:8:\"CopyFile\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"parent\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"version\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:31:\"CreateLegalHoldPolicyAssignment\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"Request
  object to create a new Legal Policy Hold Assignment\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"assign_to\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Reference\";s:11:\"description\";s:57:\"Target
  Object. Type of target and ID of the target entity\";}s:9:\"policy_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"ID
  of Policy to create Assignment for.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:31:\"CreateRetentionPolicyAssignment\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"Request
  object to create a new Retention Policy Assignment\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"assign_to\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Reference\";s:11:\"description\";s:57:\"Target
  Object. Type of target and ID of the target entity\";}s:9:\"policy_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"ID
  of Policy to create Assignment for.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"CreateTaskAssignment\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"assign_to\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/UserReference\";}s:4:\"task\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Task\";}}s:4:\"type\";s:6:\"object\";}s:12:\"DevicePinner\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Reference\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"created_at\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  time this pin was created\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"modified_at\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  time this pin was modified\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:8:\"owned_by\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/UserReference\";s:11:\"description\";s:32:\"The
  user that the pin belongs to\";}s:12:\"product_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  type of device being pinned\";s:4:\"type\";s:6:\"string\";}}}}s:11:\"description\";s:153:\"Device
  pins allow enterprises to control what devices can use native Box applications.
  To learn more about device pinning, please see our  documentation.\";s:5:\"title\";s:20:\"Device
  Pinner Object\";s:4:\"type\";s:6:\"object\";}s:16:\"DevicePinnerList\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Pagination\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"entries\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/DevicePinner\";}s:4:\"type\";s:5:\"array\";}}}}s:4:\"type\";s:6:\"object\";}s:10:\"EmailAlias\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Reference\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"is_confirmed\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}}}s:4:\"type\";s:6:\"object\";}s:14:\"EmailAliasList\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Pagination\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"entries\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/EmailAlias\";}s:4:\"type\";s:5:\"array\";}}}}s:4:\"type\";s:6:\"object\";}s:10:\"Enterprise\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Reference\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:11:\"description\";s:84:\"Mini
  representation of this user\u2019s enterprise, including the ID of its enterprise.\";s:4:\"type\";s:6:\"object\";}s:5:\"Error\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"context_info\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"errors\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"reason\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:8:\"help-url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"request_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"enum\";a:1:{i:0;s:5:\"error\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Event\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:10:\"properties\";O:8:\"stdClass\":7:{s:18:\"additional_details\";O:8:\"stdClass\":2:{s:11:\"description\";s:309:\"This
  object provides additional information about the event if available. This can include
  how a user performed an event as well as additional information to correlate an
  event to external Keysafe logs. Not all events have an additional_details object.
  \ This object is only available in the Enterprise Events.\";s:4:\"type\";s:6:\"object\";}s:10:\"created_by\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/UserReference\";s:11:\"description\";s:232:\"The
  user that performed the action. Some events may be performed by users not logged
  into Box. In those instances, not all attributes of this object will be populated
  and the event will be attributed to a unknown user (user_id = 2).\";}s:8:\"event_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"The
  id of the event, used for de-duplication purposes\";s:4:\"type\";s:6:\"string\";}s:10:\"event_type\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"One
  of the event types\";s:4:\"type\";s:6:\"string\";}s:10:\"session_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:95:\"The
  session of the user that performed the action. Not all events will populate this
  attribute.\";s:4:\"type\";s:6:\"string\";}s:6:\"source\";O:8:\"stdClass\":2:{s:11:\"description\";s:141:\"The
  object that was modified. See Object definitions for appropriate object: file, folder,
  comment, etc. Not all events have a source object.\";s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"enum\";a:1:{i:0;s:5:\"event\";}s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:12:\"Event
  Object\";s:4:\"type\";s:6:\"object\";}s:9:\"EventList\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ChunkPagination\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"entries\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Event\";}s:4:\"type\";s:5:\"array\";}}}}s:4:\"type\";s:6:\"object\";}s:15:\"FilePermissions\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"The
  permissions that the current user has on the file\";s:10:\"properties\";O:8:\"stdClass\":8:{s:12:\"can_download\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:23:\"can_invite_collaborator\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"can_preview\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"can_rename\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:20:\"can_set_share_access\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"can_share\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"can_upload\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"cand_delete\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:13:\"FileReference\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ItemReference\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"sha1\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  sha1 hash of this file.\";s:4:\"type\";s:6:\"string\";}}}}s:11:\"description\";s:39:\"It
  references either a file or a folder\";s:4:\"type\";s:6:\"object\";}s:17:\"FileReferenceList\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Pagination\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"entries\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/FileReference\";}s:4:\"type\";s:5:\"array\";}}}}s:4:\"type\";s:6:\"object\";}s:11:\"FileVersion\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/FileVersionReference\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"created_at\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"modified_at\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"modified_by\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/UserReference\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"size\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}}}}s:4:\"type\";s:6:\"object\";}s:20:\"FileVersionLegalHold\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Reference\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"deleted_at\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Time
  that this File-Version-Legal-Hold was deleted.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:4:\"file\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/FileReference\";s:11:\"description\";s:128:\"The
  parent file of the File-Version that is held. Note that there is no guarantee that
  the current version of this File is held.\";}s:12:\"file_version\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/FileVersionReference\";s:11:\"description\";s:30:\"The
  File-Version that is held.\";}s:29:\"legal_hold_policy_assignments\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"List
  of assignments contributing to this Hold.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/LegalHoldPolicyAssignment\";}s:4:\"type\";s:5:\"array\";}}}}s:11:\"description\";s:98:\"File-Version-Legal-Hold
  is an entity representing all holds on a File Version. Type is legal-hold.\";s:5:\"title\";s:30:\"File
  Version Legal Hold object\";s:4:\"type\";s:6:\"object\";}s:24:\"FileVersionLegalHoldList\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Pagination\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"entries\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/FileVersionLegalHold\";}s:4:\"type\";s:5:\"array\";}}}}s:4:\"type\";s:6:\"object\";}s:15:\"FileVersionList\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Pagination\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"entries\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/FileVersion\";}s:4:\"type\";s:5:\"array\";}}}}s:11:\"description\";s:29:\"A
  collection of FileVersions.\";s:4:\"type\";s:6:\"object\";}s:20:\"FileVersionReference\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Reference\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"sha1\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  sha1 hash of this file.\";s:4:\"type\";s:6:\"string\";}}}}s:11:\"description\";s:36:\"The
  version information of the file.\";s:4:\"type\";s:6:\"object\";}s:20:\"FileVersionRetention\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Reference\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"applied_at\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"The
  time that this file version retention was created.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:14:\"disposition_at\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"The
  time that the retention period expires on this file version retention.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:4:\"file\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/FileReference\";s:11:\"description\";s:52:\"The
  file this file version retention was applied to.\";}s:12:\"file_version\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/FileVersionReference\";s:11:\"description\";s:60:\"The
  file version this file version retention was applied to.\";}s:24:\"winning_retention_policy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/RetentionPolicyReference\";s:11:\"description\";s:129:\"The
  winning retention policy applied to this file_version_retention. A file version
  can have multiple retention policies applied.\";}}}}s:11:\"description\";s:452:\"A
  retention policy blocks permanent deletion of content for a specified amount of
  time. Admins can apply policies to specified folders, or an entire enterprise. A
  file version retention is a record for a retained file version. To use this feature,
  you must have the manage retention policies scope enabled for your API key via your
  application management console. For more information about retention policies, please
  visit our help documentation.\n\n\t\t\t\";s:5:\"title\";s:29:\"File Version Retention
  Object\";s:4:\"type\";s:6:\"object\";}s:24:\"FileVersionRetentionList\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Pagination\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"entries\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/FileVersionRetention\";}s:4:\"type\";s:5:\"array\";}}}}s:4:\"type\";s:6:\"object\";}s:6:\"Folder\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ItemReference\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":26:{s:21:\"allowed_invitee_roles\";O:8:\"stdClass\":3:{s:11:\"description\";s:84:\"Folder
  collaboration collaboration settings allowed by the enterprise administrator.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:33:\"allowed_shared_link_access_levels\";O:8:\"stdClass\":4:{s:11:\"description\";s:100:\"Access
  level settings for shared links set by administrator. Can be collaborators, open,
  or company.\";s:4:\"enum\";a:3:{i:0;s:13:\"collaborators\";i:1;s:4:\"open\";i:2;s:7:\"company\";}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:21:\"can_non_owners_invite\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"Whether
  non-owners can invite collaborators to this folder.\";s:4:\"type\";s:7:\"boolean\";}s:11:\"collections\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Collection\";}s:4:\"type\";s:5:\"array\";}s:18:\"content_created_at\";O:8:\"stdClass\":3:{s:11:\"description\";s:139:\"The
  time the folder or its contents were originally created (according to the uploader).May
  be null for some folders such as root or trash.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:19:\"content_modified_at\";O:8:\"stdClass\":3:{s:11:\"description\";s:135:\"The
  time the folder or its contents were last modified (according to the uploader).\nMay
  be null for some folders such as root or trash.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":3:{s:11:\"description\";s:84:\"The
  time the folder was created.\nMay be null for some folders such as root or trash.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:10:\"created_by\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/UserReference\";s:11:\"description\";s:33:\"The
  user who created this folder.\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  description of the folder.\";s:4:\"type\";s:6:\"string\";}s:19:\"folder_upload_email\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/FolderUploadEmail\";}s:18:\"has_collaborations\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Whether
  this folder has any collaborators.\";s:4:\"type\";s:7:\"boolean\";}s:19:\"is_externally_owned\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"Whether
  this folder is owned by a user outside of the enterprise\";s:4:\"type\";s:7:\"boolean\";}s:15:\"item_collection\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/ItemCollection\";}s:11:\"item_status\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Whether
  this item is deleted or not.\";s:4:\"type\";s:6:\"string\";}s:11:\"modified_by\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/UserReference\";s:11:\"description\";s:39:\"The
  user who last modified this folder.\";}s:8:\"owned_by\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/UserReference\";s:11:\"description\";s:30:\"The
  user who owns this folder.\";}s:6:\"parent\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ItemReference\";s:11:\"description\";s:125:\"The
  folder that contains this one.May be null for folders such as root, trash and child
  folders whose parent is inaccessible.\";}s:15:\"path_collection\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/PathCollection\";s:11:\"description\";s:57:\"The
  path of folders to this folder, starting at the root.\";}s:11:\"permissions\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/FolderPermissions\";}s:9:\"purged_at\";O:8:\"stdClass\":3:{s:11:\"description\";s:118:\"The
  time the folder or its contents will be purged from the trash.\nMay be null for
  some folders such as root or trash.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"shared_link\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/SharedLink\";s:11:\"description\";s:49:\"The
  shared link for this folder. Null if not set.\";}s:4:\"size\";O:8:\"stdClass\":3:{s:11:\"description\";s:113:\"The
  folder size in bytes. Be careful parsing this integer, it can easily go into EE
  notation: see IEEE754 format.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:10:\"sync_state\";O:8:\"stdClass\":3:{s:11:\"description\";s:114:\"Whether
  this folder will be synced by the Box sync clients or not. Can be synced, not_synced,
  or partially_synced.\";s:4:\"enum\";a:3:{i:0;s:6:\"synced\";i:1;s:10:\"not_synced\";i:2;s:16:\"partially_synced\";}s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"All
  tags applied to this folder.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:10:\"trashed_at\";O:8:\"stdClass\":3:{s:11:\"description\";s:110:\"The
  time the folder or its contents were put in the trash.\nMay be null for some folders
  such as root or trash.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:14:\"watermark_info\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/WatermarkInfo\";}}}}s:11:\"description\";s:392:\"Folders
  contain information about the items contained inside of them, including files and
  other folders. There is also a set of metadata such as who owns the folder and when
  it was modified that is also returned. When accessing other resources that make
  reference to folders, a \u2018mini folder\u2019 object will be used. The 'mini folder'
  object will return type, id, sequence_id, etag, and name.\";s:5:\"title\";s:13:\"Folder
  Object\";s:4:\"type\";s:6:\"object\";}s:17:\"FolderPermissions\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"The
  permissions that the current user has on the folder\";s:10:\"properties\";O:8:\"stdClass\":7:{s:12:\"can_download\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:23:\"can_invite_collaborator\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"can_rename\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:20:\"can_set_share_access\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"can_share\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"can_upload\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"cand_delete\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:17:\"FolderUploadEmail\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"The
  upload email address for this folder. Null if not set.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"access\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Group\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/GroupReference\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":7:{s:10:\"created_at\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"When
  this groups was created on Box\u2019s servers\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:128:\"Human
  readable description of this Group.  This can be up to 255 characters long. Needs
  to be accessed via the fields parameter.\";s:4:\"type\";s:6:\"string\";}s:24:\"external_sync_identifier\";O:8:\"stdClass\":2:{s:11:\"description\";s:373:\"An
  arbitrary identifier that can be used by external group sync tools to link this
  Box Group to an external group.  Example values of this field could be an Active
  Directory Object ID or a Google Group ID.  We recommend use of this field in order
  to avoid issues when group names are updated in either Box or external systems.
  Needs to be accessed via the fields parameter.\";s:4:\"type\";s:6:\"string\";}s:18:\"invitability_level\";O:8:\"stdClass\":3:{s:11:\"description\";s:255:\"Specifies
  who can invite this group to collaborate on folders (Create Collaboration).\nadmins_only
  Master Admin, Coadmins, group's Group Admin.\nadmins_and_members Admins listed above
  and group members.\nall_managed_users All managed users in the enterprise.\";s:4:\"enum\";a:3:{i:0;s:11:\"admins_only\";i:1;s:18:\"admins_and_members\";i:2;s:17:\"all_managed_users\";}s:4:\"type\";s:6:\"string\";}s:24:\"member_viewability_level\";O:8:\"stdClass\":3:{s:11:\"description\";s:234:\"Specifies
  who can view the members of this group (Get Memberships for Group).\nadmins_only
  Master Admin, Coadmins, group's Group Admin.\nadmins_and_members Admins and group
  members.\nall_managed_users All managed users in the enterprise.\";s:4:\"enum\";a:3:{i:0;s:11:\"admins_only\";i:1;s:18:\"admins_and_members\";i:2;s:17:\"all_managed_users\";}s:4:\"type\";s:6:\"string\";}s:11:\"modified_at\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"When
  this group was last updated on the Box servers\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:10:\"provenance\";O:8:\"stdClass\":2:{s:11:\"description\";s:381:\"Keeps
  track of which external source this group is coming from (e.g. \"Active Directory\",
  \"Google Groups\", \"Facebook Groups\").  This should be a human-readable identifier
  up to 255 characters long.  Setting this will also prevent Box users from editing
  this group directly through Box.  This is desirable for one-way syncing of groups.
  Needs to be accessed via the fields parameter.\";s:4:\"type\";s:6:\"string\";}}}}s:11:\"description\";s:108:\"Groups
  contain a set of users, and can be used in place of users in some operations, such
  as collaborations.\";s:5:\"title\";s:12:\"Group Object\";s:4:\"type\";s:6:\"object\";}s:9:\"GroupList\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Pagination\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"entries\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Group\";}s:4:\"type\";s:5:\"array\";}}}}s:4:\"type\";s:6:\"object\";}s:15:\"GroupMembership\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Reference\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"created_at\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"The
  time this membership was created.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:5:\"group\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/GroupReference\";}s:11:\"modified_at\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  time this membership was last modified.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:4:\"role\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  role of the user in the group.\";s:4:\"enum\";a:2:{i:0;s:6:\"member\";i:1;s:5:\"admin\";}s:4:\"type\";s:6:\"string\";}s:4:\"user\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/UserReference\";}}}}s:11:\"description\";s:196:\"Membership
  is used to signify that a user is part of a group. Membership can be added, requested,
  updated and deleted. You can also get all members of a group, or all memberships
  for a given user.\";s:5:\"title\";s:17:\"Membership Object\";s:4:\"type\";s:6:\"object\";}s:19:\"GroupMembershipList\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Pagination\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"entries\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/GroupMembership\";}s:4:\"type\";s:5:\"array\";}}}}s:4:\"type\";s:6:\"object\";}s:14:\"GroupReference\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Reference\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  name of this group\";s:4:\"type\";s:6:\"string\";}}}}s:11:\"description\";s:65:\"Mini
  representation of the group, including id and name of group.\";s:4:\"type\";s:6:\"object\";}s:6:\"Invite\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Reference\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:13:\"actionable_by\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/UserReference\";}s:10:\"created_at\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:10:\"invited_by\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/UserReference\";}s:10:\"invited_to\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Enterprise\";}s:11:\"modified_at\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:4:\"type\";s:6:\"object\";}s:10:\"InviteUser\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"actionable_by\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/UserReference\";}s:10:\"enterprise\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Reference\";}}s:4:\"type\";s:6:\"object\";}s:14:\"ItemCollection\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Pagination\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"entries\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/FileReference\";}s:4:\"type\";s:5:\"array\";}}}}s:11:\"description\";s:70:\"A
  collection of mini file and folder objects contained in this folder.\";s:4:\"type\";s:6:\"object\";}s:13:\"ItemReference\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Reference\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:107:\"A
  unique string identifying the version of this folder.\nMay be null for some folders
  such as root or trash.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  name of the folder.\";s:4:\"type\";s:6:\"string\";}s:11:\"sequence_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:98:\"A
  unique ID for use with the /events endpoint.\nMay be null for some folders such
  as root or trash.\";s:4:\"type\";s:6:\"string\";}}}}s:11:\"description\";s:39:\"It
  references either a file or a folder\";s:4:\"type\";s:6:\"object\";}s:17:\"ItemReferenceList\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Pagination\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"entries\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ItemReference\";}s:4:\"type\";s:5:\"array\";}}}}s:4:\"type\";s:6:\"object\";}s:15:\"LegalHoldPolicy\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Reference\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":11:{s:16:\"assignment_count\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/AssignmentCounts\";}s:10:\"created_at\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"Time
  the Policy was created.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:10:\"created_by\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/UserReference\";s:11:\"description\";s:29:\"User
  who created this Policy.\";}s:10:\"deleted_at\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Time
  that the policy release request was sent.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:100:\"The
  type and id of the content that is under retention. The type can either be folder
  or enterprise.\";s:4:\"type\";s:6:\"string\";}s:15:\"filter_ended_at\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"User-specified,
  optional date filter applies to Custodian assignments only.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:17:\"filter_started_at\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"User-specified,
  optional date filter applies to Custodian assignments only.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"modified_at\";O:8:\"stdClass\":3:{s:11:\"description\";s:96:\"Time
  that the Policy itself was modified. Does not update when assignments are added
  or removed.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"policy_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Name
  of the Policy. This is limited to 254 characters.\";s:4:\"type\";s:6:\"string\";}s:13:\"release_notes\";O:8:\"stdClass\":2:{s:11:\"description\";s:87:\"Notes
  around why the policy was released. Optional property with a 500 character limit.\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:6:\"active\";i:1;s:8:\"applying\";i:2;s:9:\"releasing\";i:3;s:8:\"released\";}s:4:\"type\";s:6:\"string\";}}}}s:11:\"description\";s:125:\"Legal
  Hold Policy information describes the basic characteristics of the Policy, such
  as name, description, and filter dates.\";s:5:\"title\";s:24:\"Legal Hold Policy
  object\";s:4:\"type\";s:6:\"object\";}s:25:\"LegalHoldPolicyAssignment\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Reference\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"assigned_at\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Time
  the Assignment was created.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"assigned_by\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/UserReference\";s:11:\"description\";s:33:\"User
  who created this assignment.\";}s:11:\"assigned_to\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ItemReference\";s:11:\"description\";s:58:\"The
  entity that this is assigned to. Includes type and ID.\";}s:10:\"deleted_at\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Time
  that the Assignment release request was sent. \";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:17:\"legal_hold_policy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/RetentionPolicyReference\";s:11:\"description\";s:43:\"The
  Policy that this Assignment is part of.\";}}}}s:11:\"description\";s:227:\"Legal
  Hold Assignments are used to assign Legal Hold Policies to Custodians, Folders,
  Files, or File Versions. Creating a Legal Hold Assignment puts a hold on the File-Versions
  that belong to the Assignment's 'apply-to' entity.\";s:5:\"title\";s:35:\"Legal
  Hold Policy Assignment object\";s:4:\"type\";s:6:\"object\";}s:29:\"LegalHoldPolicyAssignmentList\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Pagination\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"entries\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/LegalHoldPolicyAssignment\";}s:4:\"type\";s:5:\"array\";}}}}s:4:\"type\";s:6:\"object\";}s:19:\"LegalHoldPolicyList\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Pagination\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"entries\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/LegalHoldPolicy\";}s:4:\"type\";s:5:\"array\";}}}}s:4:\"type\";s:6:\"object\";}s:4:\"Lock\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Reference\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"created_at\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:10:\"created_by\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/UserReference\";}s:10:\"expired_at\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:21:\"is_download_prevented\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}}}s:11:\"description\";s:26:\"The
  lock held on the file.\";s:4:\"type\";s:6:\"object\";}s:16:\"MarkerPagination\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"limit\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:11:\"next_marker\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"prev_marker\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Metadata\";O:8:\"stdClass\":4:{s:11:\"description\";s:2056:\"Metadata
  can be used for many purposes. Enterprises may want to have a better way to organize
  their digital assets for their marketing teams or developers may want to provide
  advanced content functionality such as facilitating workflows or approvals. Metadata
  is also visible in the Box Web Application. To learn more, please visit the help
  documentation.\nTemplates\nMetadata that belongs to a file/folder is grouped by
  templates. Templates allow the metadata service to provide a multitude of services,
  such as pre-defining sets of key:value pairs or schema enforcement on specific fields.
  For example, a marketingCollateral template may define where and when specific marketing
  content should be used. You can also see the representation of the template in the
  Box web application while navigating to a file preview. Currently, metadata associated
  with folders does not show in the web application.\nEach file/folder can have multiple
  distinct template instances associated with it, such as a marketingCollateral and
  retentionPolicy template instances. Template instances are also grouped by scopes.
  Currently, the only scopes support are enterprise and global. Enterprise scopes
  are defined on a per enterprises basis, whereas global scopes are Box application-wide.
  Attribute order within template instances is not guaranteed.\nCurrently, there are
  four attributes supported by templates: string, enum, float, and  date (RFC 3339).\n\nGlobal
  Properties Template\nIn addition to enterprise scoped templates, every file on Box
  has access to the global properties template. The Properties template is a bucket
  of free form key:value string pairs, with no additional schema associated with it.
  Properties are ideal for scenarios where applications want to write metadata to
  file objects in a flexible way, without pre-defined template structure.\nProperties
  follow all the conventions of standard templates, except for being located at a
  different endpoint. All requests made to the properties template must be made to
  /files/{file_id}/metadata/global/properties.\";s:7:\"example\";O:8:\"stdClass\":1:{s:4:\"test\";s:9:\"testvalue\";}s:5:\"title\";s:15:\"Metadata
  Object\";s:4:\"type\";s:6:\"object\";}s:12:\"MetadataList\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Pagination\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"entries\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Metadata\";}s:4:\"type\";s:5:\"array\";}}}}s:11:\"description\";s:32:\"A
  collection of Metadata objects\";s:4:\"type\";s:6:\"object\";}s:16:\"MetadataTemplate\";O:8:\"stdClass\":4:{s:11:\"description\";s:226:\"Metadata
  that belongs to a file or folder is grouped by templates. Templates allow the metadata
  service to provide a multitude of services, such as pre-defining sets of key:value
  pairs or schema enforcement on specific fields.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"The
  display name of the template. The character limit is 4096.\";s:4:\"type\";s:6:\"string\";}s:6:\"fields\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"The
  ordered set of key:value pairs for the template.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/TemplateFields\";}s:4:\"type\";s:5:\"array\";}s:6:\"hidden\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Whether
  this template is hidden in the UI\";s:4:\"type\";s:7:\"boolean\";}s:5:\"scope\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  scope of the object.\";s:4:\"type\";s:6:\"string\";}s:11:\"templateKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:229:\"A
  unique identifier for the template. The identifier must be unique across the scope
  of the enterprise to which the metadata template is being applied to. Defaults to
  a string derived from the displayName if no value is provided.\";s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:24:\"Metadata
  Template Object\";s:4:\"type\";s:6:\"object\";}s:20:\"MetadataTemplateList\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/MarkerPagination\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"entries\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/MetadataTemplate\";}s:4:\"type\";s:5:\"array\";}}}}s:11:\"description\";s:31:\"A
  collection Metadata templates\";s:4:\"type\";s:6:\"object\";}s:10:\"ObjectList\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Pagination\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"entries\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}}}}s:4:\"type\";s:6:\"object\";}s:10:\"Pagination\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"limit\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:6:\"offset\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:5:\"order\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"by\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"direction\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:11:\"total_count\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:14:\"PathCollection\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Pagination\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"entries\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ItemReference\";}s:4:\"type\";s:5:\"array\";}}}}s:11:\"description\";s:42:\"The
  path of folders, starting at the root.\";s:4:\"type\";s:6:\"object\";}s:14:\"RealtimeServer\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"max_retries\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:13:\"retry_timeout\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:3:\"ttl\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:18:\"RealtimeServerList\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ChunkPagination\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"entries\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/RealtimeServer\";}s:4:\"type\";s:5:\"array\";}}}}s:4:\"type\";s:6:\"object\";}s:9:\"Reference\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"enum\";a:28:{i:0;s:6:\"folder\";i:1;s:4:\"file\";i:2;s:4:\"user\";i:3;s:12:\"file_version\";i:4;s:4:\"lock\";i:5;s:13:\"collaboration\";i:6;s:7:\"comment\";i:7;s:4:\"task\";i:8;s:8:\"web_link\";i:9;s:10:\"collection\";i:10;s:15:\"task_assignment\";i:11;s:5:\"event\";i:12;s:15:\"realtime_server\";i:13;s:13:\"webhook_event\";i:14;s:7:\"webhook\";i:15;s:10:\"enterprise\";i:16;s:6:\"invite\";i:17;s:11:\"email_alias\";i:18;s:5:\"group\";i:19;s:16:\"group_membership\";i:20;s:13:\"device_pinner\";i:21;s:16:\"retention_policy\";i:22;s:27:\"retention_policy_assignment\";i:23;s:22:\"file_version_retention\";i:24;s:17:\"legal_hold_policy\";i:25;s:28:\"legal_hold_policy_assignment\";i:26;s:10:\"legal_hold\";i:27;s:14:\"upload_session\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"RetentionPolicy\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/RetentionPolicyReference\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":7:{s:10:\"created_at\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"The
  time that the retention policy was created.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:10:\"created_by\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/UserReference\";s:11:\"description\";s:75:\"A
  mini user object representing the user that created the retention policy.\";}s:18:\"disposition_action\";O:8:\"stdClass\":3:{s:11:\"description\";s:326:\"The
  disposition action of the retention policy. This actioncan be permanently_delete,
  which will cause the content retained by the policy to be permanently deleted, or
  remove_retention, which will lift the retention policy from the content, allowing
  it to be deleted by users, once the retention policy time period has passed.\";s:4:\"enum\";a:2:{i:0;s:18:\"permanently_delete\";i:1;s:16:\"remove_retention\";}s:4:\"type\";s:6:\"string\";}s:11:\"modified_at\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"The
  time that the retention policy was last modified.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"policy_type\";O:8:\"stdClass\":3:{s:11:\"description\";s:231:\"The
  type of the retention policy. A retention policy type can either be finite, where
  a specific amount of time to retain the content is known upfront, or indefinite,
  where the amount of time to retain the content is still unknown.\";s:4:\"enum\";a:2:{i:0;s:6:\"finite\";i:1;s:10:\"indefinite\";}s:4:\"type\";s:6:\"string\";}s:16:\"retention_length\";O:8:\"stdClass\":3:{s:11:\"description\";s:155:\"The
  length of the retention policy. This length specifies the duration in days that
  the retention policy will beactive for after being assigned to content.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:223:\"The
  status of a retention policy. The status of a policy will be active, unless explicitly
  retired by an administrator, in which case the status will be retired. Once a policyhas
  been retired, it cannot become active again.\";s:4:\"enum\";a:2:{i:0;s:6:\"active\";i:1;s:7:\"retired\";}s:4:\"type\";s:6:\"string\";}}}}s:11:\"description\";s:427:\"A
  retention policy blocks permanent deletion of content for a specified amount of
  time. Admins can create retention policies and then later assign them to specific
  folders or their entire enterprise.  To use this feature, you must have the manage
  retention policies scope enabled for your API key via your application management
  console. For more information about retention policies, please visit our help documentation.
  \n\n\t\t\t\";s:5:\"title\";s:23:\"Retention Policy Object\";s:4:\"type\";s:6:\"object\";}s:25:\"RetentionPolicyAssignment\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Reference\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"assigned_at\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"The
  time that the retention policy assignment was created.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"assigned_by\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/UserReference\";s:11:\"description\";s:86:\"A
  mini user object representing the user that created the retention policy assignment.\";}s:11:\"assigned_to\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ItemReference\";s:11:\"description\";s:100:\"The
  type and id of the content that is under retention. The type can either be folder
  or enterprise.\";}s:16:\"retention_policy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/RetentionPolicyReference\";s:11:\"description\";s:104:\"A
  mini retention policy object representing the retention policy that has been assigned
  to this content.\";}}}}s:11:\"description\";s:176:\"The retention policy assignment
  endpoint provides a way for admins to apply a retention policy on a per-folder basis,
  or place a blanket policy over the entire enterprise.\n\n\t\t\t\";s:5:\"title\";s:34:\"Retention
  Policy Assignment Object\";s:4:\"type\";s:6:\"object\";}s:29:\"RetentionPolicyAssignmentList\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"entries\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/RetentionPolicyAssignment\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:19:\"RetentionPolicyList\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"entries\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/RetentionPolicy\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:24:\"RetentionPolicyReference\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Reference\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"policy_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  name given to the retention policy\";s:4:\"type\";s:6:\"string\";}}}}s:11:\"description\";s:43:\"Mini
  representation of the retention policy\";s:4:\"type\";s:6:\"object\";}s:10:\"SharedLink\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":11:{s:6:\"access\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"download_count\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:12:\"download_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"effective_access\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"is_password_enabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:8:\"password\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"permissions\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/SharedLinkPermissions\";}s:13:\"preview_count\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:11:\"unshared_at\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"vanity_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"SharedLinkPermissions\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"can_download\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"can_preview\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Task\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Reference\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":8:{s:6:\"action\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"The
  action the task assignee will be prompted to do. Must be review\";s:4:\"enum\";a:1:{i:0;s:6:\"review\";}s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"When
  this task was created\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:10:\"created_by\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/UserReference\";s:11:\"description\";s:30:\"The
  user who created this task\";}s:6:\"due_at\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"The
  date at which this task is due\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:12:\"is_completed\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Whether
  or not this task has been completed\";s:4:\"type\";s:7:\"boolean\";}s:4:\"item\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/FileReference\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"A
  message that will be included with this task\";s:4:\"type\";s:6:\"string\";}s:26:\"task_assignment_collection\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/TaskAssignmentList\";}}}}s:11:\"description\";s:164:\"Tasks
  enabled file-centric workflows in Box. User can create tasks on files and assign
  them to collaborators on Box. You can read more about tasks in Box here.\n\n\t\t\t\";s:5:\"title\";s:11:\"Task
  Object\";s:4:\"type\";s:6:\"object\";}s:14:\"TaskAssignment\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Reference\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":8:{s:11:\"assigned_at\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  date at which this task assignment was assigned\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"assigned_by\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/UserReference\";s:11:\"description\";s:42:\"The
  user who assigned this task assignment\";}s:11:\"assigned_to\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/UserReference\";}s:12:\"completed_at\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"The
  date at which this task assignment was completed\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:4:\"item\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/FileReference\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"A
  message that will be included with this task assignment\";s:4:\"type\";s:6:\"string\";}s:11:\"reminded_at\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  date at which this task assignment was reminded\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:16:\"resolution_state\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"State
  of this assignment (complete/incomplete)\";s:4:\"enum\";a:4:{i:0;s:9:\"completed\";i:1;s:10:\"incomplete\";i:2;s:8:\"approved\";i:3;s:8:\"rejected\";}s:4:\"type\";s:6:\"string\";}}}}s:4:\"type\";s:6:\"object\";}s:18:\"TaskAssignmentList\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Pagination\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"entries\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/TaskAssignment\";}s:4:\"type\";s:5:\"array\";}}}}s:11:\"description\";s:29:\"A
  collection Task Assignment.\";s:4:\"type\";s:6:\"object\";}s:8:\"TaskList\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Pagination\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"entries\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Task\";}s:4:\"type\";s:5:\"array\";}}}}s:11:\"description\";s:19:\"A
  collection Tasks.\";s:4:\"type\";s:6:\"object\";}s:14:\"TemplateFields\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:84:\"A
  description of the field. The character limit is 4096. All characters are allowed.\";s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:87:\"The
  display name of the field. The character limit is 4096. All characters are allowed.\";s:4:\"type\";s:6:\"string\";}s:6:\"hidden\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:3:\"key\";O:8:\"stdClass\":2:{s:11:\"description\";s:161:\"A
  unique identifier for the field. The identifier must be unique within the template
  to which it belongs. The character limit is 256. All characters are allowed.\";s:4:\"type\";s:6:\"string\";}s:7:\"options\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"The
  data type of the field's value.\";s:4:\"enum\";a:4:{i:0;s:6:\"string\";i:1;s:4:\"enum\";i:2;s:5:\"float\";i:3;s:4:\"date\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"UpdateMetadata\";O:8:\"stdClass\":3:{s:7:\"example\";a:1:{i:0;O:8:\"stdClass\":3:{s:2:\"op\";s:7:\"replace\";s:4:\"path\";s:5:\"/test\";s:5:\"value\";s:12:\"changedvalue\";}}s:5:\"items\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"from\";O:8:\"stdClass\":2:{s:11:\"description\";s:225:\"Required
  for move or copy. The path that designates the source key, in the format of a JSON-Pointer,
  formatted in the same way as path. Used in conjunction with path: from specifies
  the source, path specifies the destination.\";s:4:\"type\";s:6:\"string\";}s:2:\"op\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"The
  operation type. Must be add, replace, remove , test, move, or copy.\";s:4:\"enum\";a:6:{i:0;s:3:\"add\";i:1;s:7:\"replace\";i:2;s:6:\"remove\";i:3;s:4:\"test\";i:4;s:4:\"move\";i:5;s:4:\"copy\";}s:4:\"type\";s:6:\"string\";}s:4:\"path\";O:8:\"stdClass\":2:{s:11:\"description\";s:330:\"The
  path that designates the key, in the format of a JSON-Pointer. Since all keys are
  located at the root of the metadata instance, the key must be prefixed with a /.
  Special characters ~ and / in the key must be escaped according to JSON-Pointer
  specification. The value at the path must exist for the operation to be successful.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:316:\"The
  value to be set or tested. Required for add, replace, and test operations. For add,
  if value already exists, then previous value will be overwritten by the new value.
  For replace, the metadata value must exist before replacing.For test, the value
  of the existing metadata instance must match the specified value.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:2:\"op\";i:1;s:4:\"path\";}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:22:\"UpdateMetadataTemplate\";O:8:\"stdClass\":3:{s:7:\"example\";a:1:{i:0;O:8:\"stdClass\":3:{s:4:\"data\";O:8:\"stdClass\":1:{s:11:\"description\";s:4:\"Test\";}s:8:\"fieldKey\";s:4:\"test\";s:2:\"op\";s:9:\"editField\";}}s:5:\"items\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"data\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"The
  data for the operation.  Can vary depending on the operation.\";s:4:\"type\";s:6:\"object\";}s:14:\"enumOptionKeys\";O:8:\"stdClass\":3:{s:11:\"description\";s:94:\"For
  operations that affect multiple enum options, the keys of the enum options to be
  affected.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:8:\"fieldKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:81:\"For
  operations that affect a specific field, the key of the field to be affected.\";s:4:\"type\";s:6:\"string\";}s:9:\"fieldKeys\";O:8:\"stdClass\":3:{s:11:\"description\";s:82:\"For
  operations that affect multiple fields, the keys of the fields to be affected.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:2:\"op\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"The
  operation name.\";s:4:\"enum\";a:9:{i:0;s:13:\"addEnumOption\";i:1;s:8:\"addField\";i:2;s:14:\"editEnumOption\";i:3;s:9:\"editField\";i:4;s:12:\"editTemplate\";i:5;s:16:\"removeEnumOption\";i:6;s:11:\"removeField\";i:7;s:18:\"reorderEnumOptions\";i:8;s:13:\"reorderFields\";}s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:2:\"op\";}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:4:\"User\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/UserReference\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":22:{s:7:\"address\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"The
  user\u2019s address.\";s:4:\"type\";s:6:\"string\";}s:10:\"avatar_url\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"URL
  of this user\u2019s avatar image.\";s:4:\"type\";s:6:\"string\";}s:21:\"can_see_managed_users\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"Whether
  this user can see other enterprise users in her contact list.\";s:4:\"type\";s:7:\"boolean\";}s:10:\"created_at\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"The
  time this user was created.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:10:\"enterprise\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Enterprise\";}s:8:\"hostname\";O:8:\"stdClass\":2:{s:11:\"description\";s:91:\"The
  root (protocol, subdomain, domain) of any links that need to be generated for this
  user\";s:4:\"type\";s:6:\"string\";}s:28:\"is_exempt_from_device_limits\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"Whether
  to exempt this user from Enterprise device limits.\";s:4:\"type\";s:7:\"boolean\";}s:33:\"is_exempt_from_login_verification\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"Whether
  or not this user must use two-factor authentication.\";s:4:\"type\";s:7:\"boolean\";}s:29:\"is_external_collab_restricted\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"Whether
  this user is allowed to collaborate with users outside her enterprise.\";s:4:\"type\";s:7:\"boolean\";}s:15:\"is_sync_enabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Whether
  or not this user can use Box Sync.\";s:4:\"type\";s:7:\"boolean\";}s:9:\"job_title\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  user\u2019s job title.\";s:4:\"type\";s:6:\"string\";}s:8:\"language\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"The
  language of this user. (ISO 639-1 Language Code)\";s:4:\"type\";s:6:\"string\";}s:15:\"max_upload_size\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"The
  maximum individual file size in bytes this user can have.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:11:\"modified_at\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"The
  time this user was last modified.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"my_tags\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Tags
  for all files and folders owned by this user.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:5:\"phone\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  user\u2019s phone number.\";s:4:\"type\";s:6:\"string\";}s:4:\"role\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"This
  user\u2019s enterprise role. Can be admin, coadmin, or user.\";s:4:\"enum\";a:3:{i:0;s:5:\"admin\";i:1;s:7:\"coadmin\";i:2;s:4:\"user\";}s:4:\"type\";s:6:\"string\";}s:12:\"space_amount\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  user\u2019s total available space amount in bytes.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:10:\"space_used\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  amount of space in use by the user.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"Can
  be active, inactive, cannot_delete_edit, or cannot_delete_edit_upload.\";s:4:\"enum\";a:4:{i:0;s:6:\"active\";i:1;s:8:\"inactive\";i:2;s:18:\"cannot_delete_edit\";i:3;s:25:\"cannot_delete_edit_upload\";}s:4:\"type\";s:6:\"string\";}s:8:\"timezone\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"The
  timezone of this user. (tz Database timezones)\";s:4:\"type\";s:6:\"string\";}s:14:\"tracking_codes\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"An
  array of key/value pairs set by the user\u2019s admin.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}}}}s:11:\"description\";s:262:\"The
  users endpoint is used for managing a user and its content. For an individual user,
  this includes their own user information and content. For an enterprise admin, this
  includes both the individual user and any other users in the admin\u2019s enterprise
  account.\";s:5:\"title\";s:11:\"User Object\";s:4:\"type\";s:6:\"object\";}s:8:\"UserList\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Pagination\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"entries\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/User\";}s:4:\"type\";s:5:\"array\";}}}}s:4:\"type\";s:6:\"object\";}s:13:\"UserReference\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"It
  references a user\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Unqiue
  string identifying this user.\";s:4:\"type\";s:6:\"string\";}s:5:\"login\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"The
  email address this user uses to login.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Name
  of this user\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"enum\";a:1:{i:0;s:4:\"user\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"Watermark\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"watermark\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/WatermarkReference\";}}s:4:\"type\";s:6:\"object\";}s:13:\"WatermarkInfo\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"is_watermarked\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}}s:4:\"type\";s:5:\"array\";}s:18:\"WatermarkReference\";O:8:\"stdClass\":3:{s:11:\"description\";s:160:\"Waternmark
  a semi-transparent overlay on an embedded file preview that displays a viewer's
  email address or user ID and the time of access over a file's content\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"created_at\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"When
  this watermark was created\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:7:\"imprint\";O:8:\"stdClass\":2:{s:4:\"enum\";a:1:{i:0;s:7:\"default\";}s:4:\"type\";s:6:\"string\";}s:11:\"modified_at\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"When
  this task was modified\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:7:\"WebLink\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ItemReference\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":13:{s:10:\"created_at\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"When
  this file was created on Box\u2019s servers.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:10:\"created_by\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/UserReference\";s:11:\"description\";s:32:\"The
  user who first created file.\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:90:\"The
  description accompanying the web link. This is visible within the Box web application.\";s:4:\"type\";s:6:\"string\";}s:11:\"item_status\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Whether
  this item is deleted or not.\";s:4:\"type\";s:6:\"string\";}s:11:\"modified_at\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"When
  this file was last updated on the Box servers.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"modified_by\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/UserReference\";s:11:\"description\";s:36:\"The
  user who last updated this file.\";}s:8:\"owned_by\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/UserReference\";s:11:\"description\";s:28:\"The
  user who owns this file.\";}s:6:\"parent\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ItemReference\";s:11:\"description\";s:41:\"The
  parent object the web link belongs to\";}s:15:\"path_collection\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/PathCollection\";s:11:\"description\";s:55:\"The
  path of folders to this item, starting at the root.\";}s:9:\"purged_at\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"When
  this file will be permanently deleted.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"shared_link\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/SharedLink\";s:11:\"description\";s:37:\"The
  shared link object for this file.\";}s:10:\"trashed_at\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"When
  this file was last moved to the trash.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  URL this web link points to.\";s:4:\"type\";s:6:\"string\";}}}}s:11:\"description\";s:318:\"Web
  links are objects that point to URLs. These objects are also known as bookmarks
  within the Box web application. Web link objects are treated similarly to file objects,
  so they will also support shared links, copy, permanent delete, and restore with
  the format /web_links/{WEB_LINK_ID} in place of /files/{FILE_ID}.\";s:5:\"title\";s:15:\"Web
  Link Object\";s:4:\"type\";s:6:\"object\";}s:7:\"Webhook\";O:8:\"stdClass\":4:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Reference\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"address\";O:8:\"stdClass\":2:{s:11:\"description\";s:134:\"The
  notification URL of the webhook. The notification URL is the URL used by Box to
  send a notification when the webhook is triggered.\";s:4:\"type\";s:6:\"string\";}s:10:\"created_at\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"An
  RFC-3339 timestamp identifying the time that the webhook was created.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:10:\"created_by\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/UserReference\";}s:6:\"target\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Reference\";s:11:\"description\";s:28:\"A
  target is a file or folder\";}s:8:\"triggers\";O:8:\"stdClass\":3:{s:11:\"description\";s:149:\"An
  array of event names. The events that webhooks support are listed in the 'Event
  Triggers' (https://docs.box.com/reference#event-triggers) section.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}}}s:11:\"description\";s:240:\"When
  you create or retrieve a webhook a JSON object representing the webhook is returned
  to you. This JSON object's fields contain the name and ID of the webhook, along
  with configuration details such as its target and its notification URL.\";s:5:\"title\";s:14:\"Webhook
  Object\";s:4:\"type\";s:6:\"object\";}s:11:\"WebhookList\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Pagination\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"entries\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Webhook\";}s:4:\"type\";s:5:\"array\";}}}}s:4:\"type\";s:6:\"object\";}}"
...
