---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:11:\"description\";s:291:\"The Box Token
  API provides methods to retrieve an access token and revoke an access token. An
  access token is a data string that enables Box to verify that a request belongs
  to an authorized session. In the normal order of operations you will being by requesting
  authentication from the Box.\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:10:\"Apache
  2.0\";s:3:\"url\";s:42:\"http://www.apache.org/licenses/LICENSE-2.0\";}s:5:\"title\";s:20:\"Box
  2.0 OAuth2 Token\";s:7:\"version\";s:3:\"2.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:76:\"https://pbs.twimg.com/profile_images/852979584169410562/etZ6V0rx_400x400.jpg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:83:\"https://raw.githubusercontent.com/box/box-openapi/master/v2.0/token.openapi-v2.json\";s:7:\"version\";s:3:\"2.0\";}}s:14:\"x-providerName\";s:7:\"box.com\";s:13:\"x-serviceName\";s:5:\"token\";s:11:\"x-preferred\";b:1;}"
host: api.box.com
basePath: /oauth2
paths:
  /revoke:
    post:
      consumes:
      - application/x-www-form-urlencoded
      description: This is the URL of the Box revoke endpoint, the endpoint that revokes
        access tokens, or to put it another way, the endpoint that ends sessions,
        logging users out.
      externalDocs:
        url: https://docs.box.com/reference#revoke
      operationId: revokeToken
      parameters:
      - in: formData
        name: token
        required: true
        type: string
      - description: The client ID of the application requesting authentication.
        in: formData
        name: client_id
        required: true
        type: string
      - description: The client secret of the application requesting authentication.
        in: formData
        name: client_secret
        required: true
        type: string
      responses:
        200:
          description: Revoken token is successful
        default:
          description: Revoke token error
          schema:
            $ref: '#/definitions/OAuthError'
      summary: Revoke token
      tags:
      - AccessToken
  /token:
    post:
      consumes:
      - application/x-www-form-urlencoded
      description: This is the URL of the Box token endpoint, the endpoint that returns
        access tokens. An access token is a data string that enables Box to verify
        that a request belongs to an authorized session.
      externalDocs:
        url: https://docs.box.com/reference#token
      operationId: generateAccessToken
      parameters:
      - in: formData
        name: grant_type
        required: true
        type: string
      - description: The authorization code returned by Box in response to a successfull
          authentication request.
        in: formData
        name: code
        type: string
      - description: The client ID of the application requesting authentication.
        in: formData
        name: client_id
        required: true
        type: string
      - description: The client secret of the application requesting authentication.
        in: formData
        name: client_secret
        required: true
        type: string
      - description: The refresh_token that is used to get the new access_token
        in: formData
        name: refresh_token
        type: string
      - description: This is the primary/secondary application token you will exchange
          for the file token.
        in: formData
        name: subject_token
        type: string
      - description: The subject token type is urn:ietf:params:oauth:token-type:access_token
        in: formData
        name: subject_token_type
        type: string
      - description: Full url path to the file that the token should be generated
          for example, https://api.box.com/2.0/files/{file_id}
        in: formData
        name: resource
        type: string
      - description: Full url path to the file that the token should be generated
          for example, https://api.box.com/2.0/files/{file_id}
        in: formData
        name: actor_token
        type: string
      - description: Full url path to the file that the token should be generated
          for example, https://api.box.com/2.0/files/{file_id}
        enum:
        - urn:ietf:params:oauth:token-type:id_token
        in: formData
        name: actor_token_type
        type: string
      responses:
        200:
          description: A new access token is returned.
          schema:
            $ref: '#/definitions/AccessToken'
        default:
          description: Access token generation error
          schema:
            $ref: '#/definitions/OAuthError'
      summary: Generate Access token
      tags:
      - AccessToken
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":6:{s:11:\"AccessToken\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"access_token\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"expires_in\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:17:\"issued_token_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"refresh_token\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"restricted_to\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/RestrictedTo\";}s:4:\"type\";s:5:\"array\";}s:10:\"token_type\";O:8:\"stdClass\":2:{s:4:\"enum\";a:1:{i:0;s:6:\"bearer\";}s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:21:\"Access
  token response\";s:4:\"type\";s:6:\"object\";}s:13:\"FileReference\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ItemReference\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"sha1\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"The
  sha1 hash of this file.\";s:4:\"type\";s:6:\"string\";}}}}s:11:\"description\";s:39:\"It
  references either a file or a folder\";s:4:\"type\";s:6:\"object\";}s:13:\"ItemReference\";O:8:\"stdClass\":3:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Reference\";}i:1;O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"etag\";O:8:\"stdClass\":2:{s:11:\"description\";s:107:\"A
  unique string identifying the version of this folder.\nMay be null for some folders
  such as root or trash.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  name of the folder.\";s:4:\"type\";s:6:\"string\";}s:11:\"sequence_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:98:\"A
  unique ID for use with the /events endpoint.\nMay be null for some folders such
  as root or trash.\";s:4:\"type\";s:6:\"string\";}}}}s:11:\"description\";s:39:\"It
  references either a file or a folder\";s:4:\"type\";s:6:\"object\";}s:10:\"OAuthError\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"error\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"error_description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"error_uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"Reference\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"enum\";a:28:{i:0;s:6:\"folder\";i:1;s:4:\"file\";i:2;s:4:\"user\";i:3;s:12:\"file_version\";i:4;s:4:\"lock\";i:5;s:13:\"collaboration\";i:6;s:7:\"comment\";i:7;s:4:\"task\";i:8;s:8:\"web_link\";i:9;s:10:\"collection\";i:10;s:15:\"task_assignment\";i:11;s:5:\"event\";i:12;s:15:\"realtime_server\";i:13;s:13:\"webhook_event\";i:14;s:7:\"webhook\";i:15;s:10:\"enterprise\";i:16;s:6:\"invite\";i:17;s:11:\"email_alias\";i:18;s:5:\"group\";i:19;s:16:\"group_membership\";i:20;s:13:\"device_pinner\";i:21;s:16:\"retention_policy\";i:22;s:27:\"retention_policy_assignment\";i:23;s:22:\"file_version_retention\";i:24;s:17:\"legal_hold_policy\";i:25;s:28:\"legal_hold_policy_assignment\";i:26;s:10:\"legal_hold\";i:27;s:14:\"upload_session\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"RestrictedTo\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"object\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/FileReference\";}s:5:\"scope\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
