---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":2:{s:7:\"version\";s:3:\"2.0\";s:5:\"title\";s:23:\"EMS
  API dokumentatsioon\";}"
host: api.riigikogu.ee
basePath: /
paths: ~
produces:
- application/json
- application/hal+json
definitions: !php/object "O:8:\"stdClass\":100:{s:12:\"Ajakirjandus\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:16:\"membershipNumber\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:16:\"Koosseisu
  number\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"Kirjeldus\";}s:3:\"url\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:3:\"URL\";}s:4:\"date\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:8:\"Kuup\xE4ev\";}}s:5:\"title\";s:12:\"Ajakirjandus\";}s:17:\"Arvamus
  (eeln\xF5u)\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:6:\"_links\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"link\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}s:4:\"uuid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"UUID\";}s:9:\"reference\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"Viit\";}s:5:\"title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:8:\"Pealkiri\";}s:12:\"documentType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Dokumendi
  liik\";}s:4:\"date\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:8:\"Kuup\xE4ev\";}s:5:\"files\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:6:\"Failid\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Fail\";}}}s:5:\"title\";s:17:\"Arvamus
  (eeln\xF5u)\";}s:23:\"CommitteeVotingResource\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"_links\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"link\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}s:4:\"uuid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"UUID\";}s:4:\"user\";O:8:\"stdClass\":2:{s:11:\"description\";s:8:\"Kasutaja\";s:4:\"$ref\";s:22:\"#/definitions/Kasutaja\";}s:11:\"substitutee\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Asendusliige\";s:4:\"$ref\";s:22:\"#/definitions/Kasutaja\";}s:8:\"decision\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:5:\"Otsus\";}}s:5:\"title\";s:23:\"CommitteeVotingResource\";}s:14:\"Dokumendi
  fail\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":11:{s:6:\"_links\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"link\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}s:4:\"uuid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"UUID\";}s:8:\"fileName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"Faili
  nimi\";}s:13:\"fileExtension\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Faililaiend\";}s:9:\"fileTitle\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Faili
  pealkiri\";}s:21:\"accessRestrictionType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"Piirangu
  t\xFC\xFCp\";s:4:\"enum\";a:2:{i:0;s:6:\"PUBLIC\";i:1;s:28:\"FOR_USE_WITHIN_ESTABLISHMENT\";}}s:26:\"accessRestrictionStartDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:14:\"Piirangu
  algus\";}s:24:\"accessRestrictionEndDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:14:\"Piirangu
  l\xF5pp\";}s:22:\"accessRestrictionBasis\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:15:\"Piirangu
  alused\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/Klassifikaatori
  v\xE4\xE4rtus\";}}s:24:\"accessRestrictionHistory\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:16:\"Piirangu
  ajalugu\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/Piirangu
  ajaloo kirje\";}}s:7:\"created\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:11:\"Loomise
  aeg\";}}s:5:\"title\";s:14:\"Dokumendi fail\";}s:15:\"Dokumendit\xFC\xFCp\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"Nimi\";}s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"Kood\";}}s:5:\"title\";s:15:\"Dokumendit\xFC\xFCp\";}s:8:\"Dokument\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":11:{s:6:\"_links\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"link\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}s:4:\"uuid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"UUID\";}s:9:\"reference\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"Viit\";}s:5:\"title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:8:\"Pealkiri\";}s:12:\"documentType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Dokumendi
  liik\";}s:7:\"created\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:11:\"Loomise
  aeg\";}s:10:\"membership\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:8:\"Koosseis\";}s:6:\"volume\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"Toimik\";s:4:\"$ref\";s:27:\"#/definitions/Toimik
  (baas)\";}s:16:\"relatedDocuments\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:17:\"Seotud
  dokumendid\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/Dokument
  (baas)\";}}s:14:\"relatedVolumes\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:15:\"Seotud
  toimikud\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/Toimik
  (baas)\";}}s:5:\"files\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:6:\"Failid\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Fail\";}}}s:5:\"title\";s:8:\"Dokument\";}s:15:\"Dokument
  (ERJK)\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:6:\"_links\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"link\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}s:4:\"uuid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"UUID\";}s:9:\"reference\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"Viit\";}s:5:\"title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:8:\"Pealkiri\";}s:12:\"documentType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Dokumendi
  liik\";}s:4:\"date\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:8:\"Kuup\xE4ev\";}s:5:\"files\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:6:\"Failid\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Fail\";}}}s:5:\"title\";s:15:\"Dokument
  (ERJK)\";}s:15:\"Dokument (baas)\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"_links\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"link\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}s:4:\"uuid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"UUID\";}s:9:\"reference\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"Viit\";}s:5:\"title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:8:\"Pealkiri\";}s:12:\"documentType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Dokumendi
  liik\";}}s:5:\"title\";s:15:\"Dokument (baas)\";}s:24:\"Dokument (eeln\xF5u tekst)\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"_links\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"link\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}s:4:\"uuid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"UUID\";}s:9:\"reference\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"Viit\";}s:5:\"title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:8:\"Pealkiri\";}s:12:\"documentType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"T\xFC\xFCp\";}}s:5:\"title\";s:24:\"Dokument
  (eeln\xF5u tekst)\";}s:37:\"Dokument (kirjaliku k\xFCsimuse vastus)\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":13:{s:6:\"_links\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"link\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}s:4:\"uuid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"UUID\";}s:9:\"reference\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"Viit\";}s:5:\"title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:8:\"Pealkiri\";}s:12:\"documentType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Dokumendi
  liik\";}s:7:\"created\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:11:\"Loomise
  aeg\";}s:10:\"membership\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:8:\"Koosseis\";}s:6:\"volume\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"Toimik\";s:4:\"$ref\";s:27:\"#/definitions/Toimik
  (baas)\";}s:16:\"relatedDocuments\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:17:\"Seotud
  dokumendid\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/Dokument
  (baas)\";}}s:14:\"relatedVolumes\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:15:\"Seotud
  toimikud\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/Toimik
  (baas)\";}}s:5:\"files\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:6:\"Failid\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Fail\";}}s:11:\"respondDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:18:\"Vastamise
  kuup\xE4ev\";}s:10:\"respondent\";O:8:\"stdClass\":2:{s:11:\"description\";s:7:\"Vastaja\";s:4:\"$ref\";s:39:\"#/definitions/Klassifikaatori
  v\xE4\xE4rtus\";}}s:5:\"title\";s:37:\"Dokument (kirjaliku k\xFCsimuse vastus)\";}s:23:\"Dokument
  (muu k\xFCsimus)\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":17:{s:6:\"_links\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"link\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}s:4:\"uuid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"UUID\";}s:9:\"reference\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"Viit\";}s:5:\"title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:8:\"Pealkiri\";}s:12:\"documentType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Dokumendi
  liik\";}s:7:\"created\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:11:\"Loomise
  aeg\";}s:10:\"membership\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:8:\"Koosseis\";}s:6:\"volume\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"Toimik\";s:4:\"$ref\";s:27:\"#/definitions/Toimik
  (baas)\";}s:16:\"relatedDocuments\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:17:\"Seotud
  dokumendid\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/Dokument
  (baas)\";}}s:14:\"relatedVolumes\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:15:\"Seotud
  toimikud\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/Toimik
  (baas)\";}}s:5:\"files\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:6:\"Failid\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Fail\";}}s:4:\"date\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:8:\"Kuup\xE4ev\";}s:7:\"subType\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Muu
  k\xFCsimuse liik\";s:4:\"$ref\";s:39:\"#/definitions/Klassifikaatori v\xE4\xE4rtus\";}s:10:\"applicants\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:8:\"Esitajad\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Subjekt\";}}s:9:\"reporters\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:11:\"Ettekandjad\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Subjekt\";}}s:11:\"respondDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:18:\"T\xE4iskogu
  kuup\xE4ev\";}s:10:\"agendaItem\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"P\xE4evakorrapunkt\";s:4:\"$ref\";s:45:\"#/definitions/P\xE4evakorrapunkt
  (muu k\xFCsimus)\";}}s:5:\"title\";s:23:\"Dokument (muu k\xFCsimus)\";}s:28:\"Dokument
  (muudatusettepanek)\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:6:\"_links\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"link\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}s:4:\"uuid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"UUID\";}s:9:\"reference\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"Viit\";}s:5:\"title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:8:\"Pealkiri\";}s:12:\"documentType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Dokumendi
  liik\";}s:5:\"files\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:6:\"Failid\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Fail\";}}}s:5:\"title\";s:28:\"Dokument
  (muudatusettepanek)\";}s:27:\"Dokument (p\xE4evakorrapunkt)\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:6:\"_links\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"link\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}s:4:\"uuid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"UUID\";}s:9:\"reference\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"Viit\";}s:5:\"title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:8:\"Pealkiri\";}s:12:\"documentType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Dokumendi
  liik\";}s:7:\"created\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:11:\"Loomise
  aeg\";}s:10:\"membership\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:8:\"Koosseis\";}s:6:\"volume\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"Toimik\";s:4:\"$ref\";s:27:\"#/definitions/Toimik
  (baas)\";}s:16:\"relatedDocuments\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:17:\"Seotud
  dokumendid\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/Dokument
  (baas)\";}}s:14:\"relatedVolumes\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:15:\"Seotud
  toimikud\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/Toimik
  (baas)\";}}s:5:\"files\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:6:\"Failid\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Fail\";}}s:5:\"order\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:17:\"J\xE4rjekorranumber\";}}s:5:\"title\";s:27:\"Dokument
  (p\xE4evakorrapunkt)\";}s:18:\"EL toimik (otsing)\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":13:{s:6:\"_links\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"link\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}s:4:\"uuid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"UUID\";}s:9:\"reference\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"Viit\";}s:5:\"title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:8:\"Pealkiri\";}s:10:\"volumeType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"T\xFC\xFCp\";}s:7:\"created\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:11:\"Loomise
  aeg\";}s:4:\"mark\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:22:\"Registreerimise
  number\";}s:10:\"membership\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:16:\"Koosseisu
  number\";}s:7:\"titleEn\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"Pealkiri
  inglise keeles\";}s:6:\"elType\";O:8:\"stdClass\":2:{s:11:\"description\";s:4:\"Liik\";s:4:\"$ref\";s:39:\"#/definitions/Klassifikaatori
  v\xE4\xE4rtus\";}s:6:\"elMark\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"T\xE4his\";}s:11:\"receiveDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:18:\"Saabumise
  kuup\xE4ev\";}s:6:\"sector\";O:8:\"stdClass\":2:{s:11:\"description\";s:8:\"Valdkond\";s:4:\"$ref\";s:39:\"#/definitions/Klassifikaatori
  v\xE4\xE4rtus\";}}s:5:\"title\";s:18:\"EL toimik (otsing)\";}s:16:\"Eeln\xF5u (otsing)\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":13:{s:6:\"_links\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"link\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}s:4:\"uuid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"UUID\";}s:5:\"title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:8:\"Pealkiri\";}s:4:\"mark\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:20:\"Registreerimisnumber\";}s:10:\"membership\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:16:\"Koosseisu
  number\";}s:13:\"draftTypeCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"Liik\";}s:16:\"activeDraftStage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Aktiivne
  menetlusetapp\";}s:17:\"activeDraftStatus\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"Aktiivne
  staatus\";}s:16:\"proceedingStatus\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"Menetluse
  staatus\";s:4:\"enum\";a:2:{i:0;s:10:\"IN_PROCESS\";i:1;s:9:\"PROCESSED\";}}s:21:\"activeDraftStatusDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:35:\"Viimane
  staatuse muutumise kuup\xE4ev\";}s:16:\"leadingCommittee\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Juhtivkomisjon\";s:4:\"$ref\";s:21:\"#/definitions/Subjekt\";}s:9:\"initiated\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:19:\"Algatamise
  kuup\xE4ev\";}s:18:\"amendmentsDeadline\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:29:\"Muudatusettepanekute
  t\xE4htaeg\";}}s:5:\"title\";s:16:\"Eeln\xF5u (otsing)\";}s:16:\"Eeln\xF5u algataja\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"_links\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"link\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}s:4:\"uuid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"UUID\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"Nimi\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"T\xFC\xFCp\";s:4:\"enum\";a:3:{i:0;s:9:\"usergroup\";i:1;s:10:\"classifier\";i:2;s:14:\"plenary-member\";}}}s:5:\"title\";s:16:\"Eeln\xF5u
  algataja\";}s:13:\"Eeln\xF5u tekst\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"readingCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:8:\"Lugemine\";}s:8:\"document\";O:8:\"stdClass\":2:{s:11:\"description\";s:8:\"Dokument\";s:4:\"$ref\";s:38:\"#/definitions/Dokument
  (eeln\xF5u tekst)\";}s:4:\"file\";O:8:\"stdClass\":2:{s:11:\"description\";s:4:\"Fail\";s:4:\"$ref\";s:28:\"#/definitions/Dokumendi
  fail\";}}s:5:\"title\";s:13:\"Eeln\xF5u tekst\";}s:21:\"Eeln\xF5u toimik (baas)\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"_links\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"link\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}s:4:\"uuid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"UUID\";}s:5:\"title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:8:\"Pealkiri\";}s:4:\"mark\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:20:\"Registreerimisnumber\";}}s:5:\"title\";s:21:\"Eeln\xF5u
  toimik (baas)\";}s:4:\"Fail\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"_links\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"link\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}s:4:\"uuid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"UUID\";}s:8:\"fileName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"Faili
  nimi\";}s:13:\"fileExtension\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Faililaiend\";}}s:5:\"title\";s:4:\"Fail\";}s:10:\"Funktsioon\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"uuid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"UUID\";}s:5:\"title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:8:\"Pealkiri\";}s:4:\"mark\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"T\xE4his\";}s:6:\"series\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:6:\"Sarjad\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Sari\";}}}s:5:\"title\";s:10:\"Funktsioon\";}s:17:\"Funktsiooni
  grupp\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"uuid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"UUID\";}s:5:\"title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:8:\"Pealkiri\";}s:9:\"functions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:12:\"Funktsioonid\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Funktsioon\";}}}s:5:\"title\";s:17:\"Funktsiooni
  grupp\";}s:7:\"Haridus\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:6:\"_links\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"link\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}s:9:\"startYear\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:10:\"Algusaasta\";}s:7:\"endYear\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:10:\"L\xF5puaasta\";}s:11:\"institution\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Haridusasutus\";s:4:\"$ref\";s:39:\"#/definitions/Klassifikaatori
  v\xE4\xE4rtus\";}s:6:\"degree\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Haridusaste\";s:4:\"$ref\";s:39:\"#/definitions/Klassifikaatori
  v\xE4\xE4rtus\";}s:10:\"speciality\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"Eriala\";}}s:5:\"title\";s:7:\"Haridus\";}s:15:\"H\xE4\xE4letusp\xE4ev\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"date\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:8:\"Kuup\xE4ev\";}s:9:\"hasVoting\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:17:\"Toimus
  h\xE4\xE4letus\";}}s:5:\"title\";s:15:\"H\xE4\xE4letusp\xE4ev\";}s:6:\"Istung\";O:8:\"stdClass\":2:{s:5:\"title\";s:6:\"Istung\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:6:\"_links\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"link\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}s:11:\"agendaItems\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/Dokument
  (p\xE4evakorrapunkt)\";}}s:17:\"protocolDocuments\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/Dokument
  (baas)\";}}s:4:\"uuid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"UUID\";}s:5:\"title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:8:\"Pealkiri\";}s:15:\"sittingDateTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:13:\"Toimumise
  aeg\";}s:15:\"sittingTypeCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Istungi
  t\xFC\xFCp\";}}s:5:\"title\";s:6:\"Istung\";}}}s:11:\"Istungj\xE4rk\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:6:\"_links\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"link\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}s:10:\"membership\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:16:\"Koosseisu
  number\";}s:6:\"number\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:19:\"Istungj\xE4rgu
  number\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"T\xFC\xFCp\";s:4:\"$ref\";s:39:\"#/definitions/Klassifikaatori
  v\xE4\xE4rtus\";}s:9:\"startDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:5:\"Algus\";}s:7:\"endDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:5:\"L\xF5pp\";}}s:5:\"title\";s:11:\"Istungj\xE4rk\";}s:20:\"Kastuajagrupp
  (baas)\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"_links\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"link\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}s:4:\"uuid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"UUID\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"Nimi\";}s:6:\"active\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:8:\"Aktiivne\";}}s:5:\"title\";s:20:\"Kastuajagrupp
  (baas)\";}s:8:\"Kasutaja\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:6:\"_links\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"link\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}s:10:\"membership\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/Kasutajagrupi
  liige\";}s:4:\"uuid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"UUID\";}s:9:\"firstName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:7:\"Eesnimi\";}s:8:\"lastName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"Perekonnanimi\";}s:8:\"fullName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"T\xE4isnimi\";}s:6:\"active\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:8:\"Aktiivne\";}s:5:\"email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"E-mail\";}s:5:\"phone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:7:\"Telefon\";}s:5:\"photo\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Pilt
  (v\xE4ike)\";s:4:\"$ref\";s:18:\"#/definitions/Fail\";}}s:5:\"title\";s:8:\"Kasutaja\";}s:15:\"Kasutaja
  (baas)\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:6:\"_links\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"link\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}s:4:\"uuid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"UUID\";}s:9:\"firstName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:7:\"Eesnimi\";}s:8:\"lastName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"Perekonnanimi\";}s:8:\"fullName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"T\xE4isnimi\";}s:6:\"active\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:8:\"Aktiivne\";}}s:5:\"title\";s:15:\"Kasutaja
  (baas)\";}s:29:\"Kasutaja detailid (kontaktid)\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":11:{s:6:\"_links\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"link\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}s:4:\"uuid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"UUID\";}s:9:\"firstName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:7:\"Eesnimi\";}s:8:\"lastName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"Perekonnanimi\";}s:8:\"fullName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"T\xE4isnimi\";}s:6:\"active\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:8:\"Aktiivne\";}s:5:\"email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"E-mail\";}s:5:\"phone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:7:\"Telefon\";}s:9:\"userGroup\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Kasutajagrupp\";s:4:\"$ref\";s:36:\"#/definitions/Kasutajagrupp
  ja liige\";}s:18:\"jobDescriptionFile\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Ametijuhend\";s:4:\"$ref\";s:18:\"#/definitions/Fail\";}s:9:\"education\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:7:\"Haridus\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Haridus\";}}}s:5:\"title\";s:29:\"Kasutaja
  detailid (kontaktid)\";}s:19:\"Kasutajagrupi liige\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:6:\"_links\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"link\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}s:16:\"membershipNumber\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:16:\"Koosseisu
  number\";}s:9:\"startDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:18:\"Liikmelisuse
  algus\";}s:7:\"endDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:18:\"Liikmelisuse
  l\xF5pp\";}s:4:\"role\";O:8:\"stdClass\":2:{s:11:\"description\";s:4:\"Roll\";s:4:\"$ref\";s:39:\"#/definitions/Klassifikaatori
  v\xE4\xE4rtus\";}s:8:\"jobTitle\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Ametinimetus\";s:4:\"$ref\";s:39:\"#/definitions/Klassifikaatori
  v\xE4\xE4rtus\";}}s:5:\"title\";s:19:\"Kasutajagrupi liige\";}s:31:\"Kasutajagrupi
  liige (kontaktid)\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:6:\"_links\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"link\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}s:4:\"uuid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"UUID\";}s:9:\"firstName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:7:\"Eesnimi\";}s:8:\"lastName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"Perekonnanimi\";}s:8:\"fullName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"T\xE4isnimi\";}s:6:\"active\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:8:\"Aktiivne\";}s:5:\"email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"E-mail\";}s:5:\"phone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:7:\"Telefon\";}s:4:\"role\";O:8:\"stdClass\":2:{s:11:\"description\";s:4:\"Roll\";s:4:\"$ref\";s:39:\"#/definitions/Klassifikaatori
  v\xE4\xE4rtus\";}s:8:\"jobTitle\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Ametinimetus\";s:4:\"$ref\";s:39:\"#/definitions/Klassifikaatori
  v\xE4\xE4rtus\";}}s:5:\"title\";s:31:\"Kasutajagrupi liige (kontaktid)\";}s:13:\"Kasutajagrupp\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:6:\"_links\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"link\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}s:4:\"uuid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"UUID\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"Nimi\";}s:9:\"shortName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"L\xFChinimi\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"T\xFC\xFCp\";s:4:\"$ref\";s:39:\"#/definitions/Klassifikaatori
  v\xE4\xE4rtus\";}s:8:\"colorHex\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:5:\"V\xE4rv\";}s:15:\"secretariatName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"Sekretariaadi
  nimi\";}s:6:\"active\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:8:\"Aktiivne\";}s:7:\"members\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:7:\"Liikmed\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Kasutaja\";}}s:10:\"membership\";O:8:\"stdClass\":2:{s:11:\"description\";s:5:\"Liige\";s:4:\"$ref\";s:33:\"#/definitions/Kasutajagrupi
  liige\";}}s:5:\"title\";s:13:\"Kasutajagrupp\";}s:25:\"Kasutajagrupp (kontaktid)\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"_links\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"link\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}s:4:\"uuid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"UUID\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"Nimi\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"T\xFC\xFCp\";s:4:\"$ref\";s:39:\"#/definitions/Klassifikaatori
  v\xE4\xE4rtus\";}s:7:\"members\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:7:\"Liikmed\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/Kasutajagrupi
  liige (kontaktid)\";}}}s:5:\"title\";s:25:\"Kasutajagrupp (kontaktid)\";}s:22:\"Kasutajagrupp
  ja liige\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"_links\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"link\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}s:4:\"uuid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"UUID\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"Nimi\";}s:6:\"active\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:8:\"Aktiivne\";}s:10:\"membership\";O:8:\"stdClass\":2:{s:11:\"description\";s:5:\"Liige\";s:4:\"$ref\";s:33:\"#/definitions/Kasutajagrupi
  liige\";}}s:5:\"title\";s:22:\"Kasutajagrupp ja liige\";}s:14:\"Klassifikaator\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"_links\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"link\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"Kood\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"Kirjeldus\";}}s:5:\"title\";s:14:\"Klassifikaator\";}s:25:\"Klassifikaatori
  v\xE4\xE4rtus\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"Kood\";}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"V\xE4\xE4rtus\";}}s:5:\"title\";s:25:\"Klassifikaatori
  v\xE4\xE4rtus\";}s:36:\"Klassifikaatori v\xE4\xE4rtus (detailid)\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"_links\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"link\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}s:5:\"order\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:17:\"J\xE4rjekorranumber\";}s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"Kood\";}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"V\xE4\xE4rtus\";}s:6:\"active\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:8:\"Aktiivne\";}}s:5:\"title\";s:36:\"Klassifikaatori
  v\xE4\xE4rtus (detailid)\";}s:36:\"Kollektiivne p\xF6\xF6rdumine (dokument)\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":17:{s:6:\"_links\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"link\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}s:4:\"uuid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"UUID\";}s:9:\"reference\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"Viit\";}s:5:\"title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:8:\"Pealkiri\";}s:12:\"documentType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Dokumendi
  liik\";}s:7:\"created\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:11:\"Loomise
  aeg\";}s:10:\"membership\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:8:\"Koosseis\";}s:6:\"volume\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"Toimik\";s:4:\"$ref\";s:27:\"#/definitions/Toimik
  (baas)\";}s:16:\"relatedDocuments\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:17:\"Seotud
  dokumendid\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/Dokument
  (baas)\";}}s:14:\"relatedVolumes\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:15:\"Seotud
  toimikud\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/Toimik
  (baas)\";}}s:5:\"files\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:6:\"Failid\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Fail\";}}s:6:\"sender\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"Saatja\";}s:15:\"senderReference\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Saatja
  viit\";}s:14:\"submittingDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:18:\"Esitamise
  kuup\xE4ev\";}s:18:\"complianceDeadline\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:18:\"T\xE4itmise
  kuup\xE4ev\";}s:20:\"responsibleCommittee\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Vastutav
  komisjon\";s:4:\"$ref\";s:34:\"#/definitions/Kastuajagrupp (baas)\";}s:8:\"statuses\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:25:\"Staatused
  / menetlusk\xE4ik\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:47:\"#/definitions/Kollektiivse
  p\xF6\xF6rdumise staatus\";}}}s:5:\"title\";s:36:\"Kollektiivne p\xF6\xF6rdumine
  (dokument)\";}s:33:\"Kollektiivse p\xF6\xF6rdumise staatus\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"_links\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"link\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}s:4:\"date\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:8:\"Kuup\xE4ev\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:7:\"Staatus\";s:4:\"$ref\";s:39:\"#/definitions/Klassifikaatori
  v\xE4\xE4rtus\";}s:17:\"committeeDecision\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Komisjoni
  otsus\";s:4:\"$ref\";s:39:\"#/definitions/Klassifikaatori v\xE4\xE4rtus\";}}s:5:\"title\";s:33:\"Kollektiivse
  p\xF6\xF6rdumise staatus\";}s:16:\"Komisjoni istung\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:6:\"_links\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"link\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}s:4:\"uuid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"UUID\";}s:5:\"title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:8:\"Pealkiri\";}s:15:\"sittingDateTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:13:\"Toimumise
  aeg\";}s:10:\"volumeType\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Toimiku
  liik\";s:4:\"$ref\";s:39:\"#/definitions/Klassifikaatori v\xE4\xE4rtus\";}s:11:\"sittingType\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Istungi
  t\xFC\xFCp\";s:4:\"$ref\";s:39:\"#/definitions/Klassifikaatori v\xE4\xE4rtus\";}s:10:\"membership\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:8:\"Koosseis\";}s:19:\"agendaItemDocuments\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:18:\"P\xE4evakorrapunktid\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/Komisjoni
  p\xE4evakorrapunkt\";}}}s:5:\"title\";s:16:\"Komisjoni istung\";}s:23:\"Komisjoni
  istungi otsus\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:6:\"_links\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"link\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}s:4:\"uuid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"UUID\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"Kirjeldus\";}s:7:\"inFavor\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:5:\"Poolt\";}s:7:\"against\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:5:\"Vastu\";}s:7:\"neutral\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:10:\"Erapooletu\";}s:8:\"decision\";O:8:\"stdClass\":2:{s:11:\"description\";s:5:\"Otsus\";s:4:\"$ref\";s:39:\"#/definitions/Klassifikaatori
  v\xE4\xE4rtus\";}s:6:\"voters\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:12:\"H\xE4\xE4letajad\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/CommitteeVotingResource\";}}}s:5:\"title\";s:23:\"Komisjoni
  istungi otsus\";}s:34:\"Komisjoni istungi p\xE4evakorrapunkt\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:6:\"_links\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"link\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}s:4:\"uuid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"UUID\";}s:5:\"title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:8:\"Pealkiri\";}s:14:\"agendaItemType\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"P\xE4evakorrapunkti
  t\xFC\xFCp\";s:4:\"$ref\";s:39:\"#/definitions/Klassifikaatori v\xE4\xE4rtus\";}s:7:\"created\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:11:\"Loomise
  aeg\";}s:16:\"sittingDecisions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:15:\"Istungi
  otsused\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/Komisjoni
  istungi otsus\";}}}s:5:\"title\";s:34:\"Komisjoni istungi p\xE4evakorrapunkt\";}s:18:\"Komisjoni
  istungid\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"committee\";O:8:\"stdClass\":2:{s:11:\"description\";s:8:\"Komisjon\";s:4:\"$ref\";s:34:\"#/definitions/Kastuajagrupp
  (baas)\";}s:8:\"sittings\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:8:\"Istungid\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Istung\";}}}s:5:\"title\";s:18:\"Komisjoni
  istungid\";}s:27:\"Komisjoni liikme h\xE4\xE4letus\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:6:\"_links\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"link\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}s:4:\"uuid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"UUID\";}s:19:\"documentDescription\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"Dokumendi
  kirjeldus\";}s:8:\"decision\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Dokumendi
  otsus\";s:4:\"$ref\";s:39:\"#/definitions/Klassifikaatori v\xE4\xE4rtus\";}s:6:\"voting\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"H\xE4\xE4letus\";}s:10:\"substitute\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Asendusliige\";s:4:\"$ref\";s:29:\"#/definitions/Kasutaja
  (baas)\";}}s:5:\"title\";s:27:\"Komisjoni liikme h\xE4\xE4letus\";}s:26:\"Komisjoni
  liikme puudumine\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:6:\"_links\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"link\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}s:4:\"uuid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"UUID\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"Kirjeldus\";}s:11:\"absenceType\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Puudumise
  t\xFC\xFCp\";s:4:\"$ref\";s:39:\"#/definitions/Klassifikaatori v\xE4\xE4rtus\";}s:9:\"startDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:5:\"Algus\";}s:7:\"endDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:5:\"L\xF5pp\";}s:10:\"membership\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:8:\"Koosseis\";}}s:5:\"title\";s:26:\"Komisjoni
  liikme puudumine\";}s:26:\"Komisjoni p\xE4evakorrapunkt\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"_links\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"link\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}s:4:\"uuid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"UUID\";}s:5:\"title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:8:\"Pealkiri\";}s:14:\"agendaItemType\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"P\xE4evakorrapunkti
  t\xFC\xFCp\";s:4:\"$ref\";s:39:\"#/definitions/Klassifikaatori v\xE4\xE4rtus\";}s:16:\"sittingDecisions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:19:\"Liikme
  h\xE4\xE4letused\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/Komisjoni
  liikme h\xE4\xE4letus\";}}}s:5:\"title\";s:26:\"Komisjoni p\xE4evakorrapunkt\";}s:8:\"Koosseis\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"_links\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"link\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}s:6:\"number\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:16:\"Koosseisu
  number\";}s:9:\"startDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:5:\"Algus\";}s:7:\"endDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:5:\"L\xF5pp\";}s:8:\"sessions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:13:\"Istungj\xE4rgud\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Istungj\xE4rk\";}}}s:5:\"title\";s:8:\"Koosseis\";}s:8:\"K\xFCsimus\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"_links\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"link\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}s:4:\"uuid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"UUID\";}s:5:\"title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:8:\"Pealkiri\";}s:13:\"submittedDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:18:\"Esitamise
  kuup\xE4ev\";}}s:5:\"title\";s:8:\"K\xFCsimus\";}s:4:\"Link\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:11:\"deprecation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:11:\"deprecation\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:4:\"href\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"href\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:8:\"hreflang\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:8:\"hreflang\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:5:\"media\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:5:\"media\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:3:\"rel\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:3:\"rel\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:9:\"templated\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:5:\"title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:5:\"title\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"type\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}}s:5:\"title\";s:4:\"Link\";s:3:\"xml\";O:8:\"stdClass\":4:{s:4:\"name\";s:4:\"link\";s:9:\"namespace\";s:27:\"http://www.w3.org/2005/Atom\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:8:\"Lugemine\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"_links\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"link\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}s:11:\"readingCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"Kood\";}s:16:\"proceedingEvents\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:18:\"Menetluss\xFCndmused\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/Menetluss\xFCndmus\";}}}s:5:\"title\";s:8:\"Lugemine\";}s:8:\"L\xE4hetus\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"user\";O:8:\"stdClass\":2:{s:11:\"description\";s:8:\"Kasutaja\";s:4:\"$ref\";s:21:\"#/definitions/Subjekt\";}s:9:\"startDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:5:\"Algus\";}s:7:\"endDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:5:\"L\xF5pp\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"Kirjeldus\";}}s:5:\"title\";s:8:\"L\xE4hetus\";}s:6:\"Meedia\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"T\xFC\xFCp\";}s:3:\"url\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:3:\"URL\";}}s:5:\"title\";s:6:\"Meedia\";}s:16:\"Menetluss\xFCndmus\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"_links\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"link\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}s:4:\"date\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:8:\"Kuup\xE4ev\";}}s:5:\"title\";s:16:\"Menetluss\xFCndmus\";}s:10:\"M\xE4rks\xF5na\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"_links\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"link\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}s:4:\"edid\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:2:\"ID\";}s:4:\"text\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:5:\"Tekst\";}}s:5:\"title\";s:10:\"M\xE4rks\xF5na\";}s:14:\"Osav\xF5tu
  p\xE4ev\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"date\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:8:\"Kuup\xE4ev\";}s:8:\"sittings\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:8:\"Istungid\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/T\xE4iskogu
  istung (osav\xF5tt)\";}}}s:5:\"title\";s:14:\"Osav\xF5tu p\xE4ev\";}s:12:\"PageMetadata\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"number\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:6:\"number\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:4:\"size\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"size\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:13:\"totalElements\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:13:\"totalElements\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:10:\"totalPages\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:10:\"totalPages\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}}s:5:\"title\";s:12:\"PageMetadata\";}s:41:\"PagedResources\xABDokument
  (muu k\xFCsimus)\xBB\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"_embedded\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:8:\"embedded\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:1;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/Dokument
  (muu k\xFCsimus)\";}}s:6:\"_links\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"link\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}s:4:\"page\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/PageMetadata\";}}s:5:\"title\";s:41:\"PagedResources\xABDokument
  (muu k\xFCsimus)\xBB\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:13:\"pagedEntities\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:26:\"PagedResources\xABDokument\xBB\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"_embedded\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:8:\"embedded\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:1;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Dokument\";}}s:6:\"_links\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"link\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}s:4:\"page\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/PageMetadata\";}}s:5:\"title\";s:26:\"PagedResources\xABDokument\xBB\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:13:\"pagedEntities\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:36:\"PagedResources\xABEL
  toimik (otsing)\xBB\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"_embedded\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:8:\"embedded\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:1;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/EL
  toimik (otsing)\";}}s:6:\"_links\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"link\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}s:4:\"page\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/PageMetadata\";}}s:5:\"title\";s:36:\"PagedResources\xABEL
  toimik (otsing)\xBB\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:13:\"pagedEntities\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:34:\"PagedResources\xABEeln\xF5u
  (otsing)\xBB\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"_embedded\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:8:\"embedded\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:1;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/Eeln\xF5u
  (otsing)\";}}s:6:\"_links\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"link\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}s:4:\"page\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/PageMetadata\";}}s:5:\"title\";s:34:\"PagedResources\xABEeln\xF5u
  (otsing)\xBB\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:13:\"pagedEntities\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:45:\"PagedResources\xABRiigikogu
  liikme h\xE4\xE4letus\xBB\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"_embedded\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:8:\"embedded\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:1;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/Riigikogu
  liikme h\xE4\xE4letus\";}}s:6:\"_links\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"link\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}s:4:\"page\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/PageMetadata\";}}s:5:\"title\";s:45:\"PagedResources\xABRiigikogu
  liikme h\xE4\xE4letus\xBB\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:13:\"pagedEntities\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:39:\"PagedResources\xABToimik
  (arup\xE4rimine)\xBB\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"_embedded\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:8:\"embedded\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:1;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/Toimik
  (arup\xE4rimine)\";}}s:6:\"_links\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"link\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}s:4:\"page\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/PageMetadata\";}}s:5:\"title\";s:39:\"PagedResources\xABToimik
  (arup\xE4rimine)\xBB\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:13:\"pagedEntities\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:44:\"PagedResources\xABToimik
  (kirjalik k\xFCsimus)\xBB\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"_embedded\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:8:\"embedded\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:1;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/Toimik
  (kirjalik k\xFCsimus)\";}}s:6:\"_links\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"link\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}s:4:\"page\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/PageMetadata\";}}s:5:\"title\";s:44:\"PagedResources\xABToimik
  (kirjalik k\xFCsimus)\xBB\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:13:\"pagedEntities\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:33:\"PagedResources\xABToimik
  (otsing)\xBB\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"_embedded\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:8:\"embedded\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:1;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/Toimik
  (otsing)\";}}s:6:\"_links\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"link\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}s:4:\"page\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/PageMetadata\";}}s:5:\"title\";s:33:\"PagedResources\xABToimik
  (otsing)\xBB\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:13:\"pagedEntities\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:21:\"Piirangu
  ajaloo kirje\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"changeReason\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Muutmise
  p\xF5hjendus\";s:4:\"$ref\";s:39:\"#/definitions/Klassifikaatori v\xE4\xE4rtus\";}s:9:\"startDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:14:\"Piirangu
  algus\";}s:7:\"endDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:14:\"Piirangu
  l\xF5pp\";}}s:5:\"title\";s:21:\"Piirangu ajaloo kirje\";}s:18:\"P\xE4ev (s\xFCndmused)\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"date\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:8:\"Kuup\xE4ev\";}s:9:\"hasEvents\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:12:\"On
  s\xFCndmusi\";}}s:5:\"title\";s:18:\"P\xE4ev (s\xFCndmused)\";}s:10:\"P\xE4evakord\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"_links\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"link\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}s:8:\"sittings\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:8:\"Istungid\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/T\xE4iskogu
  istung\";}}s:5:\"title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:8:\"Pealkiri\";}s:11:\"weekEndDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:21:\"N\xE4dala
  l\xF5ppkuup\xE4ev\";}s:13:\"weekStartDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:21:\"N\xE4dala
  alguskuup\xE4ev\";}}s:5:\"title\";s:10:\"P\xE4evakord\";}s:31:\"P\xE4evakorrapunkt
  (arup\xE4rimine)\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"_links\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"link\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}s:4:\"uuid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"UUID\";}s:11:\"sittingDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:21:\"Istungi
  toimumise aeg\";}}s:5:\"title\";s:31:\"P\xE4evakorrapunkt (arup\xE4rimine)\";}s:31:\"P\xE4evakorrapunkt
  (muu k\xFCsimus)\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"_links\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"link\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}s:4:\"uuid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"UUID\";}s:15:\"sittingDateTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:13:\"Toimumise
  aeg\";}}s:5:\"title\";s:31:\"P\xE4evakorrapunkt (muu k\xFCsimus)\";}s:16:\"P\xE4evas\xFCndmused\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"date\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:8:\"Kuup\xE4ev\";}s:15:\"plenarySittings\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:18:\"T\xE4iskogu
  istungid\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/T\xE4iskogu
  istung\";}}s:17:\"committeeSittings\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:20:\"Komisjonide
  istungid\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/Komisjoni
  istungid\";}}s:11:\"secondments\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:10:\"L\xE4hetused\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/L\xE4hetus\";}}s:6:\"visits\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:8:\"Visiidid\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Visiit\";}}}s:5:\"title\";s:16:\"P\xE4evas\xFCndmused\";}s:15:\"Riigikogu
  liige\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":13:{s:6:\"_links\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"link\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}s:4:\"uuid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"UUID\";}s:9:\"firstName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:7:\"Eesnimi\";}s:8:\"lastName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"Perekonnanimi\";}s:8:\"fullName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"T\xE4isnimi\";}s:6:\"active\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:8:\"Aktiivne\";}s:5:\"email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"E-mail\";}s:5:\"phone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:7:\"Telefon\";}s:17:\"electoralDistrict\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Valimisringkond\";s:4:\"$ref\";s:39:\"#/definitions/Klassifikaatori
  v\xE4\xE4rtus\";}s:5:\"photo\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Pilt
  (v\xE4ike)\";s:4:\"$ref\";s:18:\"#/definitions/Fail\";}s:17:\"plenaryMembership\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"T\xE4iskogu
  liikmelisus\";s:4:\"$ref\";s:33:\"#/definitions/Kasutajagrupi liige\";}s:7:\"faction\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Fraktsioon\";s:4:\"$ref\";s:27:\"#/definitions/Kasutajagrupp\";}s:10:\"committees\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:10:\"Komisjonid\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/Kasutajagrupp\";}}}s:5:\"title\";s:15:\"Riigikogu
  liige\";}s:30:\"Riigikogu liige (h\xE4\xE4letused)\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":13:{s:6:\"_links\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"link\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}s:4:\"uuid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"UUID\";}s:9:\"firstName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:7:\"Eesnimi\";}s:8:\"lastName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"Perekonnanimi\";}s:8:\"fullName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"T\xE4isnimi\";}s:6:\"active\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:8:\"Aktiivne\";}s:8:\"factions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:12:\"Fraktsioonid\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/Kasutajagrupp
  ja liige\";}}s:7:\"inFavor\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:5:\"Poolt\";}s:7:\"against\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:5:\"Vastu\";}s:7:\"neutral\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:10:\"Erapooletu\";}s:9:\"abstained\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:15:\"Ei
  h\xE4\xE4letanud\";}s:7:\"present\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:5:\"Kohal\";}s:6:\"absent\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:5:\"Puudu\";}}s:5:\"title\";s:30:\"Riigikogu
  liige (h\xE4\xE4letused)\";}s:26:\"Riigikogu liige (osav\xF5tt)\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":14:{s:6:\"_links\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"link\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}s:4:\"uuid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"UUID\";}s:9:\"firstName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:7:\"Eesnimi\";}s:8:\"lastName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"Perekonnanimi\";}s:8:\"fullName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"T\xE4isnimi\";}s:6:\"active\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:8:\"Aktiivne\";}s:8:\"factions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:12:\"Fraktsioonid\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/Kasutajagrupp
  ja liige\";}}s:8:\"sittings\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:13:\"Istungite
  arv\";}s:12:\"participated\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:6:\"Osales\";}s:6:\"absent\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:6:\"Puudus\";}s:11:\"secondments\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:10:\"L\xE4hetused\";}s:4:\"sick\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:5:\"Haige\";}s:5:\"other\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:3:\"Muu\";}s:7:\"details\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:8:\"Detailid\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/Osav\xF5tu
  p\xE4ev\";}}}s:5:\"title\";s:26:\"Riigikogu liige (osav\xF5tt)\";}s:29:\"Riigikogu
  liige (s\xF5nav\xF5tud)\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:6:\"_links\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"link\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}s:4:\"uuid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"UUID\";}s:9:\"firstName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:7:\"Eesnimi\";}s:8:\"lastName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"Perekonnanimi\";}s:8:\"fullName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"T\xE4isnimi\";}s:6:\"active\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:8:\"Aktiivne\";}s:8:\"factions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:12:\"Fraktsioonid\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/Kasutajagrupp
  ja liige\";}}s:8:\"speeches\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:6:\"K\xF5ned\";}s:9:\"questions\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:10:\"K\xFCsimused\";}s:5:\"total\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:5:\"Kokku\";}}s:5:\"title\";s:29:\"Riigikogu
  liige (s\xF5nav\xF5tud)\";}s:25:\"Riigikogu liikme detailid\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":29:{s:6:\"_links\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"link\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}s:4:\"uuid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"UUID\";}s:9:\"firstName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:7:\"Eesnimi\";}s:8:\"lastName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"Perekonnanimi\";}s:8:\"fullName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"T\xE4isnimi\";}s:6:\"active\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:8:\"Aktiivne\";}s:5:\"email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"E-mail\";}s:5:\"phone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:7:\"Telefon\";}s:3:\"web\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:8:\"Koduleht\";}s:7:\"address\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:7:\"Aadress\";}s:4:\"room\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"Tuba\";}s:17:\"electoralDistrict\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Valimisringkond\";s:4:\"$ref\";s:39:\"#/definitions/Klassifikaatori
  v\xE4\xE4rtus\";}s:12:\"introduction\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Sissejuhatus\";}s:9:\"biography\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:7:\"Elulugu\";}s:5:\"photo\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Pilt
  (v\xE4ike)\";s:4:\"$ref\";s:18:\"#/definitions/Fail\";}s:8:\"photoBig\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Pilt
  (suur)\";s:4:\"$ref\";s:18:\"#/definitions/Fail\";}s:5:\"media\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:6:\"Meedia\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Meedia\";}}s:5:\"press\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:19:\"Ajakirjandustegevus\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/Ajakirjandus\";}}s:20:\"draftsResponsibleFor\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:16:\"Juhitud
  eeln\xF5ud\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/Eeln\xF5u
  toimik (baas)\";}}s:15:\"draftsInitiated\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:18:\"Algatatud
  eeln\xF5ud\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/Eeln\xF5u
  toimik (baas)\";}}s:15:\"interpellations\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:13:\"Arup\xE4rimised\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/K\xFCsimus\";}}s:16:\"writtenQuestions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:21:\"Kirjalikud
  k\xFCsimused\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/K\xFCsimus\";}}s:7:\"faction\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Fraktsioon\";s:4:\"$ref\";s:34:\"#/definitions/Kastuajagrupp
  (baas)\";}s:10:\"committees\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:10:\"Komisjonid\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/Kastuajagrupp
  (baas)\";}}s:12:\"associations\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:10:\"\xDChendused\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/Kastuajagrupp
  (baas)\";}}s:11:\"delegations\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:14:\"Delegatsioonid\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/Kastuajagrupp
  (baas)\";}}s:19:\"parliamentaryGroups\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:17:\"Parlamendir\xFChmad\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/Kastuajagrupp
  (baas)\";}}s:7:\"votings\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:12:\"H\xE4\xE4letused\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/Riigikogu
  liikme h\xE4\xE4letus\";}}s:10:\"lastSpeech\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Viimane
  s\xF5nav\xF5tt\";s:4:\"$ref\";s:24:\"#/definitions/S\xF5nav\xF5tt\";}}s:5:\"title\";s:25:\"Riigikogu
  liikme detailid\";}s:27:\"Riigikogu liikme h\xE4\xE4letus\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:6:\"_links\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"link\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}s:4:\"uuid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"UUID\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"T\xFC\xFCp\";s:4:\"$ref\";s:39:\"#/definitions/Klassifikaatori
  v\xE4\xE4rtus\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"Kirjeldus\";}s:13:\"startDateTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:5:\"Algus\";}s:8:\"decision\";O:8:\"stdClass\":2:{s:11:\"description\";s:5:\"Otsus\";s:4:\"$ref\";s:39:\"#/definitions/Klassifikaatori
  v\xE4\xE4rtus\";}s:12:\"relatedDraft\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Seotud
  eeln\xF5u\";s:4:\"$ref\";s:35:\"#/definitions/Eeln\xF5u toimik (baas)\";}}s:5:\"title\";s:27:\"Riigikogu
  liikme h\xE4\xE4letus\";}s:16:\"Saaliplaani koht\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"_links\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"link\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}s:5:\"place\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:4:\"Koht\";}s:4:\"user\";O:8:\"stdClass\":2:{s:11:\"description\";s:8:\"Kasutaja\";s:4:\"$ref\";s:29:\"#/definitions/Kasutaja
  (baas)\";}s:7:\"faction\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Fraktsioon\";s:4:\"$ref\";s:34:\"#/definitions/Kastuajagrupp
  (baas)\";}}s:5:\"title\";s:16:\"Saaliplaani koht\";}s:4:\"Sari\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"uuid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"UUID\";}s:5:\"title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:8:\"Pealkiri\";}s:4:\"mark\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"T\xE4his\";}s:9:\"reference\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"Viit\";}s:9:\"subseries\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:10:\"Alamsarjad\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Sari\";}}}s:5:\"title\";s:4:\"Sari\";}s:22:\"Steno
  p\xE4evakorrapunkt\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"uuid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"UUID\";}s:5:\"title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:8:\"Pealkiri\";}s:3:\"url\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"Steno
  URL\";}}s:5:\"title\";s:22:\"Steno p\xE4evakorrapunkt\";}s:23:\"Steno s\xF5nav\xF5ttude
  arv\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"uuid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"UUID\";}s:5:\"count\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:3:\"Arv\";}s:3:\"url\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"Steno
  URL\";}}s:5:\"title\";s:23:\"Steno s\xF5nav\xF5ttude arv\";}s:17:\"Steno s\xF5nav\xF5tud\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"uuid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"UUID\";}s:8:\"speeches\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:6:\"K\xF5ned\";}s:9:\"questions\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:10:\"K\xFCsimused\";}s:5:\"total\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:5:\"Kokku\";}}s:5:\"title\";s:17:\"Steno
  s\xF5nav\xF5tud\";}s:24:\"Steno viimane s\xF5nav\xF5tt\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"uuid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"UUID\";}s:4:\"date\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:8:\"Kuup\xE4ev\";}s:5:\"title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:8:\"Pealkiri\";}s:4:\"text\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:5:\"Tekst\";}s:3:\"url\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"Steno
  URL\";}}s:5:\"title\";s:24:\"Steno viimane s\xF5nav\xF5tt\";}s:7:\"Subjekt\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"_links\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"link\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}s:4:\"uuid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"UUID\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"Nimi\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"T\xFC\xFCp\";}s:6:\"active\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:8:\"Aktiivne\";}}s:5:\"title\";s:7:\"Subjekt\";}s:10:\"S\xF5nav\xF5tt\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"_links\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"link\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}s:5:\"title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:8:\"Pealkiri\";}s:4:\"text\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:5:\"Tekst\";}}s:5:\"title\";s:10:\"S\xF5nav\xF5tt\";}s:6:\"Toimik\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:6:\"_links\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"link\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}s:4:\"uuid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"UUID\";}s:9:\"reference\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"Viit\";}s:5:\"title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:8:\"Pealkiri\";}s:10:\"volumeType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"T\xFC\xFCp\";}s:7:\"created\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:11:\"Loomise
  aeg\";}s:4:\"mark\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:22:\"Registreerimise
  number\";}s:10:\"membership\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:16:\"Koosseisu
  number\";}s:4:\"year\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:5:\"Aasta\";}s:16:\"relatedDocuments\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:17:\"Seotud
  dokumendid\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/Dokument
  (baas)\";}}s:14:\"relatedVolumes\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:15:\"Seotud
  toimikud\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/Toimik
  (baas)\";}}s:9:\"documents\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:10:\"Dokumendid\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Dokument\";}}}s:5:\"title\";s:6:\"Toimik\";}s:13:\"Toimik
  (ERJK)\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:6:\"_links\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"link\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}s:4:\"uuid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"UUID\";}s:9:\"reference\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"Viit\";}s:5:\"title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:8:\"Pealkiri\";}s:10:\"volumeType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"T\xFC\xFCp\";}s:7:\"created\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:11:\"Loomise
  aeg\";}s:9:\"documents\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:10:\"Dokumendid\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/Dokument
  (ERJK)\";}}}s:5:\"title\";s:13:\"Toimik (ERJK)\";}s:21:\"Toimik (arup\xE4rimine)\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:6:\"_links\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"link\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}s:4:\"uuid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"UUID\";}s:4:\"mark\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:22:\"Registreerimise
  number\";}s:5:\"title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:8:\"Pealkiri\";}s:9:\"addressee\";O:8:\"stdClass\":2:{s:11:\"description\";s:9:\"Adressaat\";s:4:\"$ref\";s:39:\"#/definitions/Klassifikaatori
  v\xE4\xE4rtus\";}s:9:\"enquirers\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:8:\"K\xFCsijad\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Subjekt\";}}s:14:\"submittingDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:18:\"Esitamise
  kuup\xE4ev\";}s:14:\"answerDeadline\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:18:\"Vastamise
  t\xE4htaeg\";}s:10:\"agendaItem\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"P\xE4evakorrapunkt\";s:4:\"$ref\";s:45:\"#/definitions/P\xE4evakorrapunkt
  (arup\xE4rimine)\";}}s:5:\"title\";s:21:\"Toimik (arup\xE4rimine)\";}s:13:\"Toimik
  (baas)\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"_links\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"link\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}s:4:\"uuid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"UUID\";}s:9:\"reference\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"Viit\";}s:5:\"title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:8:\"Pealkiri\";}s:10:\"volumeType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"T\xFC\xFCp\";}}s:5:\"title\";s:13:\"Toimik
  (baas)\";}s:26:\"Toimik (kirjalik k\xFCsimus)\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:6:\"_links\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"link\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}s:4:\"uuid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"UUID\";}s:4:\"mark\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:22:\"Registreerimise
  number\";}s:10:\"membership\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:16:\"Koosseisu
  number\";}s:5:\"title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:8:\"Pealkiri\";}s:9:\"addressee\";O:8:\"stdClass\":2:{s:11:\"description\";s:9:\"Adressaat\";s:4:\"$ref\";s:39:\"#/definitions/Klassifikaatori
  v\xE4\xE4rtus\";}s:9:\"enquirers\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:8:\"K\xFCsijad\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Subjekt\";}}s:14:\"submittingDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:18:\"Esitamise
  kuup\xE4ev\";}s:14:\"answerDeadline\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:18:\"Vastamise
  t\xE4htaeg\";}s:14:\"answerDocument\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Vastuse
  dokument\";s:4:\"$ref\";s:51:\"#/definitions/Dokument (kirjaliku k\xFCsimuse vastus)\";}}s:5:\"title\";s:26:\"Toimik
  (kirjalik k\xFCsimus)\";}s:15:\"Toimik (otsing)\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:6:\"_links\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"link\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Link\";}}s:4:\"uuid\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"UUID\";}s:9:\"reference\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"Viit\";}s:5:\"title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:8:\"Pealkiri\";}s:10:\"volumeType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"T\xFC\xFCp\";}s:7:\"created\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:11:\"Loomise
  aeg\";}s:4:\"mark\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:22:\"Registreerimise
  number\";}s:10:\"membership\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:16:\"Koosseisu
  number\";}}s:5:\"title\";s:15:\"Toimik (otsing)\";}s:14:\"Toimiku t\xFC\xFCp\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"Nimi\";}s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"Kood\";}}s:5:\"title\";s:14:\"Toimiku
[...]
