---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":15:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:9:\"x-twitter\";s:12:\"PermittedSoc\";}s:11:\"description\";s:3447:\"<fullname>AWS
  CodeDeploy</fullname> <p>AWS CodeDeploy is a deployment service that automates application
  deployments to Amazon EC2 instances, on-premises instances running in your own facility,
  or serverless AWS Lambda functions.</p> <p>You can deploy a nearly unlimited variety
  of application content, such as an updated Lambda function, code, web and configuration
  files, executables, packages, scripts, multimedia files, and so on. AWS CodeDeploy
  can deploy application content stored in Amazon S3 buckets, GitHub repositories,
  or Bitbucket repositories. You do not need to make changes to your existing code
  before you can use AWS CodeDeploy.</p> <p>AWS CodeDeploy makes it easier for you
  to rapidly release new features, helps you avoid downtime during application deployment,
  and handles the complexity of updating your applications, without many of the risks
  associated with error-prone manual deployments.</p> <p> <b>AWS CodeDeploy Components</b>
  </p> <p>Use the information in this guide to help you work with the following AWS
  CodeDeploy components:</p> <ul> <li> <p> <b>Application</b>: A name that uniquely
  identifies the application you want to deploy. AWS CodeDeploy uses this name, which
  functions as a container, to ensure the correct combination of revision, deployment
  configuration, and deployment group are referenced during a deployment.</p> </li>
  <li> <p> <b>Deployment group</b>: A set of individual instances or CodeDeploy Lambda
  applications. A Lambda deployment group contains a group of applications. An EC2/On-premises
  deployment group contains individually tagged instances, Amazon EC2 instances in
  Auto Scaling groups, or both. </p> </li> <li> <p> <b>Deployment configuration</b>:
  A set of deployment rules and deployment success and failure conditions used by
  AWS CodeDeploy during a deployment.</p> </li> <li> <p> <b>Deployment</b>: The process
  and the components used in the process of updating a Lambda function or of installing
  content on one or more instances. </p> </li> <li> <p> <b>Application revisions</b>:
  For an AWS Lambda deployment, this is an AppSpec file that specifies the Lambda
  function to update and one or more functions to validate deployment lifecycle events.
  For an EC2/On-premises deployment, this is an archive file containing source content\u2014source
  code, web pages, executable files, and deployment scripts\u2014along with an AppSpec
  file. Revisions are stored in Amazon S3 buckets or GitHub repositories. For Amazon
  S3, a revision is uniquely identified by its Amazon S3 object key and its ETag,
  version, or both. For GitHub, a revision is uniquely identified by its commit ID.</p>
  </li> </ul> <p>This guide also contains information to help you get details about
  the instances in your deployments, to make on-premises instances available for AWS
  CodeDeploy deployments, and to get details about a Lambda function deployment.</p>
  <p> <b>AWS CodeDeploy Information Resources</b> </p> <ul> <li> <p> <a href=\"http://docs.aws.amazon.com/codedeploy/latest/userguide\">AWS
  CodeDeploy User Guide</a> </p> </li> <li> <p> <a href=\"http://docs.aws.amazon.com/codedeploy/latest/APIReference/\">AWS
  CodeDeploy API Reference Guide</a> </p> </li> <li> <p> <a href=\"http://docs.aws.amazon.com/cli/latest/reference/deploy/index.html\">AWS
  CLI Reference for AWS CodeDeploy</a> </p> </li> <li> <p> <a href=\"https://forums.aws.amazon.com/forum.jspa?forumID=179\">AWS
  CodeDeploy Developer Forum</a> </p> </li> </ul>\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache
  2.0 License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:14:\"AWS
  CodeDeploy\";s:7:\"version\";s:10:\"2014-10-06\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:94:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/codedeploy-2014-10-06.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v4\";s:13:\"x-serviceName\";s:10:\"codedeploy\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:20:\"amazonaws_codedeploy\";s:4:\"type\";s:7:\"openapi\";}}"
host: codedeploy.amazonaws.com
basePath: /
paths:
  /:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Adds tags to on-premises instances.
      operationId: AddTagsToOnPremisesInstances
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/AddTagsToOnPremisesInstancesInput'
      responses:
        200:
          description: Success
        480:
          description: InstanceNameRequiredException
          schema:
            $ref: '#/definitions/InstanceNameRequiredException'
        481:
          description: InvalidInstanceNameException
          schema:
            $ref: '#/definitions/InvalidInstanceNameException'
        482:
          description: TagRequiredException
          schema:
            $ref: '#/definitions/TagRequiredException'
        483:
          description: InvalidTagException
          schema:
            $ref: '#/definitions/InvalidTagException'
        484:
          description: TagLimitExceededException
          schema:
            $ref: '#/definitions/TagLimitExceededException'
        485:
          description: InstanceLimitExceededException
          schema:
            $ref: '#/definitions/InstanceLimitExceededException'
        486:
          description: InstanceNotRegisteredException
          schema:
            $ref: '#/definitions/InstanceNotRegisteredException'
  /#BatchGetApplicationRevisions:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Gets information about one or more application revisions.
      operationId: BatchGetApplicationRevisions
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/BatchGetApplicationRevisionsInput'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/BatchGetApplicationRevisionsOutput'
        480:
          description: ApplicationDoesNotExistException
          schema:
            $ref: '#/definitions/ApplicationDoesNotExistException'
        481:
          description: ApplicationNameRequiredException
          schema:
            $ref: '#/definitions/ApplicationNameRequiredException'
        482:
          description: InvalidApplicationNameException
          schema:
            $ref: '#/definitions/InvalidApplicationNameException'
        483:
          description: RevisionRequiredException
          schema:
            $ref: '#/definitions/RevisionRequiredException'
        484:
          description: InvalidRevisionException
          schema:
            $ref: '#/definitions/InvalidRevisionException'
        485:
          description: BatchLimitExceededException
          schema:
            $ref: '#/definitions/BatchLimitExceededException'
  /#BatchGetApplications:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Gets information about one or more applications.
      operationId: BatchGetApplications
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/BatchGetApplicationsInput'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/BatchGetApplicationsOutput'
        480:
          description: ApplicationNameRequiredException
          schema:
            $ref: '#/definitions/ApplicationNameRequiredException'
        481:
          description: InvalidApplicationNameException
          schema:
            $ref: '#/definitions/InvalidApplicationNameException'
        482:
          description: ApplicationDoesNotExistException
          schema:
            $ref: '#/definitions/ApplicationDoesNotExistException'
        483:
          description: BatchLimitExceededException
          schema:
            $ref: '#/definitions/BatchLimitExceededException'
  /#BatchGetDeploymentGroups:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Gets information about one or more deployment groups.
      operationId: BatchGetDeploymentGroups
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/BatchGetDeploymentGroupsInput'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/BatchGetDeploymentGroupsOutput'
        480:
          description: ApplicationNameRequiredException
          schema:
            $ref: '#/definitions/ApplicationNameRequiredException'
        481:
          description: InvalidApplicationNameException
          schema:
            $ref: '#/definitions/InvalidApplicationNameException'
        482:
          description: ApplicationDoesNotExistException
          schema:
            $ref: '#/definitions/ApplicationDoesNotExistException'
        483:
          description: DeploymentGroupNameRequiredException
          schema:
            $ref: '#/definitions/DeploymentGroupNameRequiredException'
        484:
          description: InvalidDeploymentGroupNameException
          schema:
            $ref: '#/definitions/InvalidDeploymentGroupNameException'
        485:
          description: BatchLimitExceededException
          schema:
            $ref: '#/definitions/BatchLimitExceededException'
  /#BatchGetDeploymentInstances:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Gets information about one or more instance that are part of a
        deployment group.
      operationId: BatchGetDeploymentInstances
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/BatchGetDeploymentInstancesInput'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/BatchGetDeploymentInstancesOutput'
        480:
          description: DeploymentIdRequiredException
          schema:
            $ref: '#/definitions/DeploymentIdRequiredException'
        481:
          description: DeploymentDoesNotExistException
          schema:
            $ref: '#/definitions/DeploymentDoesNotExistException'
        482:
          description: InstanceIdRequiredException
          schema:
            $ref: '#/definitions/InstanceIdRequiredException'
        483:
          description: InvalidDeploymentIdException
          schema:
            $ref: '#/definitions/InvalidDeploymentIdException'
        484:
          description: InvalidInstanceNameException
          schema:
            $ref: '#/definitions/InvalidInstanceNameException'
        485:
          description: BatchLimitExceededException
          schema:
            $ref: '#/definitions/BatchLimitExceededException'
  /#BatchGetDeployments:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Gets information about one or more deployments.
      operationId: BatchGetDeployments
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/BatchGetDeploymentsInput'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/BatchGetDeploymentsOutput'
        480:
          description: DeploymentIdRequiredException
          schema:
            $ref: '#/definitions/DeploymentIdRequiredException'
        481:
          description: InvalidDeploymentIdException
          schema:
            $ref: '#/definitions/InvalidDeploymentIdException'
        482:
          description: BatchLimitExceededException
          schema:
            $ref: '#/definitions/BatchLimitExceededException'
  /#BatchGetOnPremisesInstances:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Gets information about one or more on-premises instances.
      operationId: BatchGetOnPremisesInstances
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/BatchGetOnPremisesInstancesInput'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/BatchGetOnPremisesInstancesOutput'
        480:
          description: InstanceNameRequiredException
          schema:
            $ref: '#/definitions/InstanceNameRequiredException'
        481:
          description: InvalidInstanceNameException
          schema:
            $ref: '#/definitions/InvalidInstanceNameException'
        482:
          description: BatchLimitExceededException
          schema:
            $ref: '#/definitions/BatchLimitExceededException'
  /#ContinueDeployment:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'For a blue/green deployment, starts the process of rerouting traffic
        from instances in the original environment to instances in the replacement
        environment without waiting for a specified wait time to elapse. (Traffic
        rerouting, which is achieved by registering instances in the replacement environment
        with the load balancer, can start as soon as all instances have a status of
        Ready.) '
      operationId: ContinueDeployment
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ContinueDeploymentInput'
      responses:
        200:
          description: Success
        480:
          description: DeploymentIdRequiredException
          schema:
            $ref: '#/definitions/DeploymentIdRequiredException'
        481:
          description: DeploymentDoesNotExistException
          schema:
            $ref: '#/definitions/DeploymentDoesNotExistException'
        482:
          description: DeploymentAlreadyCompletedException
          schema:
            $ref: '#/definitions/DeploymentAlreadyCompletedException'
        483:
          description: InvalidDeploymentIdException
          schema:
            $ref: '#/definitions/InvalidDeploymentIdException'
        484:
          description: DeploymentIsNotInReadyStateException
          schema:
            $ref: '#/definitions/DeploymentIsNotInReadyStateException'
        485:
          description: UnsupportedActionForDeploymentTypeException
          schema:
            $ref: '#/definitions/UnsupportedActionForDeploymentTypeException'
  /#CreateApplication:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates an application.
      operationId: CreateApplication
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/CreateApplicationInput'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/CreateApplicationOutput'
        480:
          description: ApplicationNameRequiredException
          schema:
            $ref: '#/definitions/ApplicationNameRequiredException'
        481:
          description: InvalidApplicationNameException
          schema:
            $ref: '#/definitions/InvalidApplicationNameException'
        482:
          description: ApplicationAlreadyExistsException
          schema:
            $ref: '#/definitions/ApplicationAlreadyExistsException'
        483:
          description: ApplicationLimitExceededException
          schema:
            $ref: '#/definitions/ApplicationLimitExceededException'
        484:
          description: InvalidComputePlatformException
          schema:
            $ref: '#/definitions/InvalidComputePlatformException'
  /#CreateDeployment:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Deploys an application revision through the specified deployment
        group.
      operationId: CreateDeployment
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/CreateDeploymentInput'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/CreateDeploymentOutput'
        480:
          description: ApplicationNameRequiredException
          schema:
            $ref: '#/definitions/ApplicationNameRequiredException'
        481:
          description: InvalidApplicationNameException
          schema:
            $ref: '#/definitions/InvalidApplicationNameException'
        482:
          description: ApplicationDoesNotExistException
          schema:
            $ref: '#/definitions/ApplicationDoesNotExistException'
        483:
          description: DeploymentGroupNameRequiredException
          schema:
            $ref: '#/definitions/DeploymentGroupNameRequiredException'
        484:
          description: InvalidDeploymentGroupNameException
          schema:
            $ref: '#/definitions/InvalidDeploymentGroupNameException'
        485:
          description: DeploymentGroupDoesNotExistException
          schema:
            $ref: '#/definitions/DeploymentGroupDoesNotExistException'
        486:
          description: RevisionRequiredException
          schema:
            $ref: '#/definitions/RevisionRequiredException'
        487:
          description: RevisionDoesNotExistException
          schema:
            $ref: '#/definitions/RevisionDoesNotExistException'
        488:
          description: InvalidRevisionException
          schema:
            $ref: '#/definitions/InvalidRevisionException'
        489:
          description: InvalidDeploymentConfigNameException
          schema:
            $ref: '#/definitions/InvalidDeploymentConfigNameException'
        490:
          description: DeploymentConfigDoesNotExistException
          schema:
            $ref: '#/definitions/DeploymentConfigDoesNotExistException'
        491:
          description: DescriptionTooLongException
          schema:
            $ref: '#/definitions/DescriptionTooLongException'
        492:
          description: DeploymentLimitExceededException
          schema:
            $ref: '#/definitions/DeploymentLimitExceededException'
        493:
          description: InvalidTargetInstancesException
          schema:
            $ref: '#/definitions/InvalidTargetInstancesException'
        494:
          description: InvalidAutoRollbackConfigException
          schema:
            $ref: '#/definitions/InvalidAutoRollbackConfigException'
        495:
          description: InvalidLoadBalancerInfoException
          schema:
            $ref: '#/definitions/InvalidLoadBalancerInfoException'
        496:
          description: InvalidFileExistsBehaviorException
          schema:
            $ref: '#/definitions/InvalidFileExistsBehaviorException'
        497:
          description: InvalidRoleException
          schema:
            $ref: '#/definitions/InvalidRoleException'
        498:
          description: InvalidAutoScalingGroupException
          schema:
            $ref: '#/definitions/InvalidAutoScalingGroupException'
        499:
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        500:
          description: InvalidUpdateOutdatedInstancesOnlyValueException
          schema:
            $ref: '#/definitions/InvalidUpdateOutdatedInstancesOnlyValueException'
        501:
          description: InvalidIgnoreApplicationStopFailuresValueException
          schema:
            $ref: '#/definitions/InvalidIgnoreApplicationStopFailuresValueException'
        502:
          description: InvalidGitHubAccountTokenException
          schema:
            $ref: '#/definitions/InvalidGitHubAccountTokenException'
  /#CreateDeploymentConfig:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a deployment configuration.
      operationId: CreateDeploymentConfig
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/CreateDeploymentConfigInput'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/CreateDeploymentConfigOutput'
        480:
          description: InvalidDeploymentConfigNameException
          schema:
            $ref: '#/definitions/InvalidDeploymentConfigNameException'
        481:
          description: DeploymentConfigNameRequiredException
          schema:
            $ref: '#/definitions/DeploymentConfigNameRequiredException'
        482:
          description: DeploymentConfigAlreadyExistsException
          schema:
            $ref: '#/definitions/DeploymentConfigAlreadyExistsException'
        483:
          description: InvalidMinimumHealthyHostValueException
          schema:
            $ref: '#/definitions/InvalidMinimumHealthyHostValueException'
        484:
          description: DeploymentConfigLimitExceededException
          schema:
            $ref: '#/definitions/DeploymentConfigLimitExceededException'
        485:
          description: InvalidComputePlatformException
          schema:
            $ref: '#/definitions/InvalidComputePlatformException'
        486:
          description: InvalidTrafficRoutingConfigurationException
          schema:
            $ref: '#/definitions/InvalidTrafficRoutingConfigurationException'
  /#CreateDeploymentGroup:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a deployment group to which application revisions will
        be deployed.
      operationId: CreateDeploymentGroup
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/CreateDeploymentGroupInput'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/CreateDeploymentGroupOutput'
        480:
          description: ApplicationNameRequiredException
          schema:
            $ref: '#/definitions/ApplicationNameRequiredException'
        481:
          description: InvalidApplicationNameException
          schema:
            $ref: '#/definitions/InvalidApplicationNameException'
        482:
          description: ApplicationDoesNotExistException
          schema:
            $ref: '#/definitions/ApplicationDoesNotExistException'
        483:
          description: DeploymentGroupNameRequiredException
          schema:
            $ref: '#/definitions/DeploymentGroupNameRequiredException'
        484:
          description: InvalidDeploymentGroupNameException
          schema:
            $ref: '#/definitions/InvalidDeploymentGroupNameException'
        485:
          description: DeploymentGroupAlreadyExistsException
          schema:
            $ref: '#/definitions/DeploymentGroupAlreadyExistsException'
        486:
          description: InvalidEC2TagException
          schema:
            $ref: '#/definitions/InvalidEC2TagException'
        487:
          description: InvalidTagException
          schema:
            $ref: '#/definitions/InvalidTagException'
        488:
          description: InvalidAutoScalingGroupException
          schema:
            $ref: '#/definitions/InvalidAutoScalingGroupException'
        489:
          description: InvalidDeploymentConfigNameException
          schema:
            $ref: '#/definitions/InvalidDeploymentConfigNameException'
        490:
          description: DeploymentConfigDoesNotExistException
          schema:
            $ref: '#/definitions/DeploymentConfigDoesNotExistException'
        491:
          description: RoleRequiredException
          schema:
            $ref: '#/definitions/RoleRequiredException'
        492:
          description: InvalidRoleException
          schema:
            $ref: '#/definitions/InvalidRoleException'
        493:
          description: DeploymentGroupLimitExceededException
          schema:
            $ref: '#/definitions/DeploymentGroupLimitExceededException'
        494:
          description: LifecycleHookLimitExceededException
          schema:
            $ref: '#/definitions/LifecycleHookLimitExceededException'
        495:
          description: InvalidTriggerConfigException
          schema:
            $ref: '#/definitions/InvalidTriggerConfigException'
        496:
          description: TriggerTargetsLimitExceededException
          schema:
            $ref: '#/definitions/TriggerTargetsLimitExceededException'
        497:
          description: InvalidAlarmConfigException
          schema:
            $ref: '#/definitions/InvalidAlarmConfigException'
        498:
          description: AlarmsLimitExceededException
          schema:
            $ref: '#/definitions/AlarmsLimitExceededException'
        499:
          description: InvalidAutoRollbackConfigException
          schema:
            $ref: '#/definitions/InvalidAutoRollbackConfigException'
        500:
          description: InvalidLoadBalancerInfoException
          schema:
            $ref: '#/definitions/InvalidLoadBalancerInfoException'
        501:
          description: InvalidDeploymentStyleException
          schema:
            $ref: '#/definitions/InvalidDeploymentStyleException'
        502:
          description: InvalidBlueGreenDeploymentConfigurationException
          schema:
            $ref: '#/definitions/InvalidBlueGreenDeploymentConfigurationException'
        503:
          description: InvalidEC2TagCombinationException
          schema:
            $ref: '#/definitions/InvalidEC2TagCombinationException'
        504:
          description: InvalidOnPremisesTagCombinationException
          schema:
            $ref: '#/definitions/InvalidOnPremisesTagCombinationException'
        505:
          description: TagSetListLimitExceededException
          schema:
            $ref: '#/definitions/TagSetListLimitExceededException'
        506:
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
  /#DeleteApplication:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Deletes an application.
      operationId: DeleteApplication
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DeleteApplicationInput'
      responses:
        200:
          description: Success
        480:
          description: ApplicationNameRequiredException
          schema:
            $ref: '#/definitions/ApplicationNameRequiredException'
        481:
          description: InvalidApplicationNameException
          schema:
            $ref: '#/definitions/InvalidApplicationNameException'
  /#DeleteDeploymentConfig:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: <p>Deletes a deployment configuration.</p> <note> <p>A deployment
        configuration cannot be deleted if it is currently in use. Predefined configurations
        cannot be deleted.</p> </note>
      operationId: DeleteDeploymentConfig
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DeleteDeploymentConfigInput'
      responses:
        200:
          description: Success
        480:
          description: InvalidDeploymentConfigNameException
          schema:
            $ref: '#/definitions/InvalidDeploymentConfigNameException'
        481:
          description: DeploymentConfigNameRequiredException
          schema:
            $ref: '#/definitions/DeploymentConfigNameRequiredException'
        482:
          description: DeploymentConfigInUseException
          schema:
            $ref: '#/definitions/DeploymentConfigInUseException'
        483:
          description: InvalidOperationException
          schema:
            $ref: '#/definitions/InvalidOperationException'
  /#DeleteDeploymentGroup:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Deletes a deployment group.
      operationId: DeleteDeploymentGroup
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DeleteDeploymentGroupInput'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DeleteDeploymentGroupOutput'
        480:
          description: ApplicationNameRequiredException
          schema:
            $ref: '#/definitions/ApplicationNameRequiredException'
        481:
          description: InvalidApplicationNameException
          schema:
            $ref: '#/definitions/InvalidApplicationNameException'
        482:
          description: DeploymentGroupNameRequiredException
          schema:
            $ref: '#/definitions/DeploymentGroupNameRequiredException'
        483:
          description: InvalidDeploymentGroupNameException
          schema:
            $ref: '#/definitions/InvalidDeploymentGroupNameException'
        484:
          description: InvalidRoleException
          schema:
            $ref: '#/definitions/InvalidRoleException'
  /#DeleteGitHubAccountToken:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Deletes a GitHub account connection.
      operationId: DeleteGitHubAccountToken
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DeleteGitHubAccountTokenInput'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DeleteGitHubAccountTokenOutput'
        480:
          description: GitHubAccountTokenNameRequiredException
          schema:
            $ref: '#/definitions/GitHubAccountTokenNameRequiredException'
        481:
          description: GitHubAccountTokenDoesNotExistException
          schema:
            $ref: '#/definitions/GitHubAccountTokenDoesNotExistException'
        482:
          description: InvalidGitHubAccountTokenNameException
          schema:
            $ref: '#/definitions/InvalidGitHubAccountTokenNameException'
        483:
          description: ResourceValidationException
          schema:
            $ref: '#/definitions/ResourceValidationException'
        484:
          description: OperationNotSupportedException
          schema:
            $ref: '#/definitions/OperationNotSupportedException'
  /#DeregisterOnPremisesInstance:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Deregisters an on-premises instance.
      operationId: DeregisterOnPremisesInstance
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DeregisterOnPremisesInstanceInput'
      responses:
        200:
          description: Success
        480:
          description: InstanceNameRequiredException
          schema:
            $ref: '#/definitions/InstanceNameRequiredException'
        481:
          description: InvalidInstanceNameException
          schema:
            $ref: '#/definitions/InvalidInstanceNameException'
  /#GetApplication:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Gets information about an application.
      operationId: GetApplication
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/GetApplicationInput'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetApplicationOutput'
        480:
          description: ApplicationNameRequiredException
          schema:
            $ref: '#/definitions/ApplicationNameRequiredException'
        481:
          description: InvalidApplicationNameException
          schema:
            $ref: '#/definitions/InvalidApplicationNameException'
        482:
          description: ApplicationDoesNotExistException
          schema:
            $ref: '#/definitions/ApplicationDoesNotExistException'
  /#GetApplicationRevision:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Gets information about an application revision.
      operationId: GetApplicationRevision
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/GetApplicationRevisionInput'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetApplicationRevisionOutput'
        480:
          description: ApplicationDoesNotExistException
          schema:
            $ref: '#/definitions/ApplicationDoesNotExistException'
        481:
          description: ApplicationNameRequiredException
          schema:
            $ref: '#/definitions/ApplicationNameRequiredException'
        482:
          description: InvalidApplicationNameException
          schema:
            $ref: '#/definitions/InvalidApplicationNameException'
        483:
          description: RevisionDoesNotExistException
          schema:
            $ref: '#/definitions/RevisionDoesNotExistException'
        484:
          description: RevisionRequiredException
          schema:
            $ref: '#/definitions/RevisionRequiredException'
        485:
          description: InvalidRevisionException
          schema:
            $ref: '#/definitions/InvalidRevisionException'
  /#GetDeployment:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Gets information about a deployment.
      operationId: GetDeployment
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/GetDeploymentInput'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetDeploymentOutput'
        480:
          description: DeploymentIdRequiredException
          schema:
            $ref: '#/definitions/DeploymentIdRequiredException'
        481:
          description: InvalidDeploymentIdException
          schema:
            $ref: '#/definitions/InvalidDeploymentIdException'
        482:
          description: DeploymentDoesNotExistException
          schema:
            $ref: '#/definitions/DeploymentDoesNotExistException'
      x-waiters:
      - acceptors:
        - argument: deploymentInfo.status
          expected: Succeeded
          matcher: path
          state: success
        - argument: deploymentInfo.status
          expected: Failed
          matcher: path
          state: failure
        - argument: deploymentInfo.status
          expected: Stopped
          matcher: path
          state: failure
        delay: 15
        maxAttempts: 120
        operation: GetDeployment
  /#GetDeploymentConfig:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Gets information about a deployment configuration.
      operationId: GetDeploymentConfig
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/GetDeploymentConfigInput'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetDeploymentConfigOutput'
        480:
          description: InvalidDeploymentConfigNameException
          schema:
            $ref: '#/definitions/InvalidDeploymentConfigNameException'
        481:
          description: DeploymentConfigNameRequiredException
          schema:
            $ref: '#/definitions/DeploymentConfigNameRequiredException'
        482:
          description: DeploymentConfigDoesNotExistException
          schema:
            $ref: '#/definitions/DeploymentConfigDoesNotExistException'
  /#GetDeploymentGroup:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Gets information about a deployment group.
      operationId: GetDeploymentGroup
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/GetDeploymentGroupInput'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetDeploymentGroupOutput'
        480:
          description: ApplicationNameRequiredException
          schema:
            $ref: '#/definitions/ApplicationNameRequiredException'
        481:
          description: InvalidApplicationNameException
          schema:
            $ref: '#/definitions/InvalidApplicationNameException'
        482:
          description: ApplicationDoesNotExistException
          schema:
            $ref: '#/definitions/ApplicationDoesNotExistException'
        483:
          description: DeploymentGroupNameRequiredException
          schema:
            $ref: '#/definitions/DeploymentGroupNameRequiredException'
        484:
          description: InvalidDeploymentGroupNameException
          schema:
            $ref: '#/definitions/InvalidDeploymentGroupNameException'
        485:
          description: DeploymentGroupDoesNotExistException
          schema:
            $ref: '#/definitions/DeploymentGroupDoesNotExistException'
  /#GetDeploymentInstance:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Gets information about an instance as part of a deployment.
      operationId: GetDeploymentInstance
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/GetDeploymentInstanceInput'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetDeploymentInstanceOutput'
        480:
          description: DeploymentIdRequiredException
          schema:
            $ref: '#/definitions/DeploymentIdRequiredException'
        481:
          description: DeploymentDoesNotExistException
          schema:
            $ref: '#/definitions/DeploymentDoesNotExistException'
        482:
          description: InstanceIdRequiredException
          schema:
            $ref: '#/definitions/InstanceIdRequiredException'
        483:
          description: InvalidDeploymentIdException
          schema:
            $ref: '#/definitions/InvalidDeploymentIdException'
        484:
          description: InstanceDoesNotExistException
          schema:
            $ref: '#/definitions/InstanceDoesNotExistException'
        485:
          description: InvalidInstanceNameException
          schema:
            $ref: '#/definitions/InvalidInstanceNameException'
  /#GetOnPremisesInstance:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Gets information about an on-premises instance.
      operationId: GetOnPremisesInstance
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/GetOnPremisesInstanceInput'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetOnPremisesInstanceOutput'
        480:
          description: InstanceNameRequiredException
          schema:
            $ref: '#/definitions/InstanceNameRequiredException'
        481:
          description: InstanceNotRegisteredException
          schema:
            $ref: '#/definitions/InstanceNotRegisteredException'
        482:
          description: InvalidInstanceNameException
          schema:
            $ref: '#/definitions/InvalidInstanceNameException'
  /#ListApplicationRevisions:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Lists information about revisions for an application.
      operationId: ListApplicationRevisions
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ListApplicationRevisionsInput'
      - description: Pagination token
        in: query
        name: nextToken
        required: false
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ListApplicationRevisionsOutput'
        480:
          description: ApplicationDoesNotExistException
          schema:
            $ref: '#/definitions/ApplicationDoesNotExistException'
        481:
          description: ApplicationNameRequiredException
          schema:
            $ref: '#/definitions/ApplicationNameRequiredException'
        482:
          description: InvalidApplicationNameException
          schema:
            $ref: '#/definitions/InvalidApplicationNameException'
        483:
          description: InvalidSortByException
          schema:
            $ref: '#/definitions/InvalidSortByException'
        484:
          description: InvalidSortOrderException
          schema:
            $ref: '#/definitions/InvalidSortOrderException'
        485:
          description: InvalidBucketNameFilterException
          schema:
            $ref: '#/definitions/InvalidBucketNameFilterException'
        486:
          description: InvalidKeyPrefixFilterException
          schema:
            $ref: '#/definitions/InvalidKeyPrefixFilterException'
        487:
          description: BucketNameFilterRequiredException
          schema:
            $ref: '#/definitions/BucketNameFilterRequiredException'
        488:
          description: InvalidDeployedStateFilterException
          schema:
            $ref: '#/definitions/InvalidDeployedStateFilterException'
        489:
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
  /#ListApplications:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Lists the applications registered with the applicable IAM user
        or AWS account.
      operationId: ListApplications
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ListApplicationsInput'
      - description: Pagination token
        in: query
        name: nextToken
        required: false
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ListApplicationsOutput'
        480:
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
  /#ListDeploymentConfigs:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Lists the deployment configurations with the applicable IAM user
        or AWS account.
      operationId: ListDeploymentConfigs
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ListDeploymentConfigsInput'
      - description: Pagination token
        in: query
        name: nextToken
        required: false
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ListDeploymentConfigsOutput'
        480:
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
  /#ListDeploymentGroups:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Lists the deployment groups for an application registered with
        the applicable IAM user or AWS account.
      operationId: ListDeploymentGroups
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ListDeploymentGroupsInput'
      - description: Pagination token
        in: query
        name: nextToken
        required: false
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ListDeploymentGroupsOutput'
        480:
          description: ApplicationNameRequiredException
          schema:
            $ref: '#/definitions/ApplicationNameRequiredException'
        481:
          description: InvalidApplicationNameException
          schema:
            $ref: '#/definitions/InvalidApplicationNameException'
        482:
          description: ApplicationDoesNotExistException
          schema:
            $ref: '#/definitions/ApplicationDoesNotExistException'
        483:
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
  /#ListDeploymentInstances:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Lists the instance for a deployment associated with the applicable
        IAM user or AWS account.
      operationId: ListDeploymentInstances
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ListDeploymentInstancesInput'
      - description: Pagination token
        in: query
        name: nextToken
        required: false
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ListDeploymentInstancesOutput'
        480:
          description: DeploymentIdRequiredException
          schema:
            $ref: '#/definitions/DeploymentIdRequiredException'
        481:
          description: DeploymentDoesNotExistException
          schema:
            $ref: '#/definitions/DeploymentDoesNotExistException'
        482:
          description: DeploymentNotStartedException
          schema:
            $ref: '#/definitions/DeploymentNotStartedException'
        483:
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        484:
          description: InvalidDeploymentIdException
          schema:
            $ref: '#/definitions/InvalidDeploymentIdException'
        485:
          description: InvalidInstanceStatusException
          schema:
            $ref: '#/definitions/InvalidInstanceStatusException'
        486:
          description: InvalidInstanceTypeException
          schema:
            $ref: '#/definitions/InvalidInstanceTypeException'
        487:
          description: InvalidDeploymentInstanceTypeException
          schema:
            $ref: '#/definitions/InvalidDeploymentInstanceTypeException'
  /#ListDeployments:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Lists the deployments in a deployment group for an application
        registered with the applicable IAM user or AWS account.
      operationId: ListDeployments
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ListDeploymentsInput'
      - description: Pagination token
        in: query
        name: nextToken
        required: false
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ListDeploymentsOutput'
        480:
          description: ApplicationNameRequiredException
          schema:
            $ref: '#/definitions/ApplicationNameRequiredException'
        481:
          description: InvalidApplicationNameException
          schema:
            $ref: '#/definitions/InvalidApplicationNameException'
        482:
          description: ApplicationDoesNotExistException
          schema:
            $ref: '#/definitions/ApplicationDoesNotExistException'
        483:
          description: InvalidDeploymentGroupNameException
          schema:
            $ref: '#/definitions/InvalidDeploymentGroupNameException'
        484:
          description: DeploymentGroupDoesNotExistException
          schema:
            $ref: '#/definitions/DeploymentGroupDoesNotExistException'
        485:
          description: DeploymentGroupNameRequiredException
          schema:
            $ref: '#/definitions/DeploymentGroupNameRequiredException'
        486:
          description: InvalidTimeRangeException
          schema:
            $ref: '#/definitions/InvalidTimeRangeException'
        487:
          description: InvalidDeploymentStatusException
          schema:
            $ref: '#/definitions/InvalidDeploymentStatusException'
        488:
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
  /#ListGitHubAccountTokenNames:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Lists the names of stored connections to GitHub accounts.
      operationId: ListGitHubAccountTokenNames
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ListGitHubAccountTokenNamesInput'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ListGitHubAccountTokenNamesOutput'
        480:
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        481:
          description: ResourceValidationException
          schema:
            $ref: '#/definitions/ResourceValidationException'
        482:
          description: OperationNotSupportedException
          schema:
            $ref: '#/definitions/OperationNotSupportedException'
  /#ListOnPremisesInstances:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: <p>Gets a list of names for one or more on-premises instances.</p>
        <p>Unless otherwise specified, both registered and deregistered on-premises
        instance names will be listed. To list only registered or deregistered on-premises
        instance names, use the registration status parameter.</p>
      operationId: ListOnPremisesInstances
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ListOnPremisesInstancesInput'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ListOnPremisesInstancesOutput'
        480:
          description: InvalidRegistrationStatusException
          schema:
            $ref: '#/definitions/InvalidRegistrationStatusException'
        481:
          description: InvalidTagFilterException
          schema:
            $ref: '#/definitions/InvalidTagFilterException'
        482:
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
  /#PutLifecycleEventHookExecutionStatus:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Sets the result of a Lambda validation function. The function validates
        one or both lifecycle events (<code>BeforeAllowTraffic</code> and <code>AfterAllowTraffic</code>)
        and returns <code>Succeeded</code> or <code>Failed</code>.
      operationId: PutLifecycleEventHookExecutionStatus
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/PutLifecycleEventHookExecutionStatusInput'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/PutLifecycleEventHookExecutionStatusOutput'
        480:
          description: InvalidLifecycleEventHookExecutionStatusException
          schema:
            $ref: '#/definitions/InvalidLifecycleEventHookExecutionStatusException'
        481:
          description: InvalidLifecycleEventHookExecutionIdException
          schema:
            $ref: '#/definitions/InvalidLifecycleEventHookExecutionIdException'
        482:
          description: LifecycleEventAlreadyCompletedException
          schema:
            $ref: '#/definitions/LifecycleEventAlreadyCompletedException'
        483:
          description: DeploymentIdRequiredException
          schema:
            $ref: '#/definitions/DeploymentIdRequiredException'
        484:
          description: DeploymentDoesNotExistException
          schema:
            $ref: '#/definitions/DeploymentDoesNotExistException'
        485:
          description: InvalidDeploymentIdException
          schema:
            $ref: '#/definitions/InvalidDeploymentIdException'
        486:
          description: UnsupportedActionForDeploymentTypeException
          schema:
            $ref: '#/definitions/UnsupportedActionForDeploymentTypeException'
  /#RegisterApplicationRevision:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Registers with AWS CodeDeploy a revision for the specified application.
      operationId: RegisterApplicationRevision
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/RegisterApplicationRevisionInput'
      responses:
        200:
          description: Success
        480:
          description: ApplicationDoesNotExistException
          schema:
            $ref: '#/definitions/ApplicationDoesNotExistException'
        481:
          description: ApplicationNameRequiredException
          schema:
            $ref: '#/definitions/ApplicationNameRequiredException'
        482:
          description: InvalidApplicationNameException
          schema:
            $ref: '#/definitions/InvalidApplicationNameException'
        483:
          description: DescriptionTooLongException
          schema:
            $ref: '#/definitions/DescriptionTooLongException'
        484:
          description: RevisionRequiredException
          schema:
            $ref: '#/definitions/RevisionRequiredException'
        485:
          description: InvalidRevisionException
          schema:
            $ref: '#/definitions/InvalidRevisionException'
  /#RegisterOnPremisesInstance:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: <p>Registers an on-premises instance.</p> <note> <p>Only one IAM
        ARN (an IAM session ARN or IAM user ARN) is supported in the request. You
        cannot use both.</p> </note>
      operationId: RegisterOnPremisesInstance
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/RegisterOnPremisesInstanceInput'
      responses:
        200:
          description: Success
        480:
          description: InstanceNameAlreadyRegisteredException
          schema:
            $ref: '#/definitions/InstanceNameAlreadyRegisteredException'
        481:
          description: IamArnRequiredException
          schema:
            $ref: '#/definitions/IamArnRequiredException'
        482:
          description: IamSessionArnAlreadyRegisteredException
          schema:
            $ref: '#/definitions/IamSessionArnAlreadyRegisteredException'
        483:
          description: IamUserArnAlreadyRegisteredException
          schema:
            $ref: '#/definitions/IamUserArnAlreadyRegisteredException'
        484:
          description: InstanceNameRequiredException
          schema:
            $ref: '#/definitions/InstanceNameRequiredException'
        485:
          description: IamUserArnRequiredException
          schema:
            $ref: '#/definitions/IamUserArnRequiredException'
        486:
          description: InvalidInstanceNameException
          schema:
            $ref: '#/definitions/InvalidInstanceNameException'
        487:
          description: InvalidIamSessionArnException
          schema:
            $ref: '#/definitions/InvalidIamSessionArnException'
        488:
          description: InvalidIamUserArnException
          schema:
            $ref: '#/definitions/InvalidIamUserArnException'
        489:
          description: MultipleIamArnsProvidedException
          schema:
            $ref: '#/definitions/MultipleIamArnsProvidedException'
  /#RemoveTagsFromOnPremisesInstances:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Removes one or more tags from one or more on-premises instances.
      operationId: RemoveTagsFromOnPremisesInstances
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/RemoveTagsFromOnPremisesInstancesInput'
      responses:
        200:
          description: Success
        480:
          description: InstanceNameRequiredException
          schema:
            $ref: '#/definitions/InstanceNameRequiredException'
        481:
          description: InvalidInstanceNameException
          schema:
            $ref: '#/definitions/InvalidInstanceNameException'
        482:
          description: TagRequiredException
          schema:
            $ref: '#/definitions/TagRequiredException'
        483:
          description: InvalidTagException
          schema:
            $ref: '#/definitions/InvalidTagException'
        484:
          description: TagLimitExceededException
          schema:
            $ref: '#/definitions/TagLimitExceededException'
        485:
          description: InstanceLimitExceededException
          schema:
            $ref: '#/definitions/InstanceLimitExceededException'
        486:
          description: InstanceNotRegisteredException
          schema:
            $ref: '#/definitions/InstanceNotRegisteredException'
  /#SkipWaitTimeForInstanceTermination:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: In a blue/green deployment, overrides any specified wait time and
        starts terminating instances immediately after the traffic routing is completed.
      operationId: SkipWaitTimeForInstanceTermination
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/SkipWaitTimeForInstanceTerminationInput'
      responses:
        200:
          description: Success
        480:
          description: DeploymentIdRequiredException
          schema:
            $ref: '#/definitions/DeploymentIdRequiredException'
        481:
          description: DeploymentDoesNotExistException
          schema:
            $ref: '#/definitions/DeploymentDoesNotExistException'
        482:
          description: DeploymentAlreadyCompletedException
          schema:
            $ref: '#/definitions/DeploymentAlreadyCompletedException'
        483:
          description: InvalidDeploymentIdException
          schema:
            $ref: '#/definitions/InvalidDeploymentIdException'
        484:
          description: DeploymentNotStartedException
          schema:
            $ref: '#/definitions/DeploymentNotStartedException'
        485:
          description: UnsupportedActionForDeploymentTypeException
          schema:
            $ref: '#/definitions/UnsupportedActionForDeploymentTypeException'
  /#StopDeployment:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Attempts to stop an ongoing deployment.
      operationId: StopDeployment
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/StopDeploymentInput'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/StopDeploymentOutput'
        480:
          description: DeploymentIdRequiredException
          schema:
            $ref: '#/definitions/DeploymentIdRequiredException'
        481:
          description: DeploymentDoesNotExistException
          schema:
            $ref: '#/definitions/DeploymentDoesNotExistException'
        482:
          description: DeploymentAlreadyCompletedException
          schema:
            $ref: '#/definitions/DeploymentAlreadyCompletedException'
        483:
          description: InvalidDeploymentIdException
          schema:
            $ref: '#/definitions/InvalidDeploymentIdException'
  /#UpdateApplication:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Changes the name of an application.
      operationId: UpdateApplication
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/UpdateApplicationInput'
      responses:
        200:
          description: Success
        480:
          description: ApplicationNameRequiredException
          schema:
            $ref: '#/definitions/ApplicationNameRequiredException'
        481:
          description: InvalidApplicationNameException
          schema:
            $ref: '#/definitions/InvalidApplicationNameException'
        482:
          description: ApplicationAlreadyExistsException
          schema:
            $ref: '#/definitions/ApplicationAlreadyExistsException'
        483:
          description: ApplicationDoesNotExistException
          schema:
            $ref: '#/definitions/ApplicationDoesNotExistException'
  /#UpdateDeploymentGroup:
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Changes information about a deployment group.
      operationId: UpdateDeploymentGroup
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/UpdateDeploymentGroupInput'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/UpdateDeploymentGroupOutput'
        480:
          description: ApplicationNameRequiredException
          schema:
            $ref: '#/definitions/ApplicationNameRequiredException'
        481:
          description: InvalidApplicationNameException
          schema:
            $ref: '#/definitions/InvalidApplicationNameException'
        482:
          description: ApplicationDoesNotExistException
          schema:
            $ref: '#/definitions/ApplicationDoesNotExistException'
        483:
          description: InvalidDeploymentGroupNameException
          schema:
            $ref: '#/definitions/InvalidDeploymentGroupNameException'
        484:
          description: DeploymentGroupAlreadyExistsException
          schema:
            $ref: '#/definitions/DeploymentGroupAlreadyExistsException'
        485:
          description: DeploymentGroupNameRequiredException
          schema:
            $ref: '#/definitions/DeploymentGroupNameRequiredException'
        486:
          description: DeploymentGroupDoesNotExistException
          schema:
            $ref: '#/definitions/DeploymentGroupDoesNotExistException'
        487:
          description: InvalidEC2TagException
          schema:
            $ref: '#/definitions/InvalidEC2TagException'
        488:
          description: InvalidTagException
          schema:
            $ref: '#/definitions/InvalidTagException'
        489:
          description: InvalidAutoScalingGroupException
          schema:
            $ref: '#/definitions/InvalidAutoScalingGroupException'
        490:
          description: InvalidDeploymentConfigNameException
          schema:
            $ref: '#/definitions/InvalidDeploymentConfigNameException'
        491:
          description: DeploymentConfigDoesNotExistException
          schema:
            $ref: '#/definitions/DeploymentConfigDoesNotExistException'
        492:
          description: InvalidRoleException
          schema:
            $ref: '#/definitions/InvalidRoleException'
        493:
          description: LifecycleHookLimitExceededException
          schema:
            $ref: '#/definitions/LifecycleHookLimitExceededException'
        494:
          description: InvalidTriggerConfigException
          schema:
            $ref: '#/definitions/InvalidTriggerConfigException'
        495:
          description: TriggerTargetsLimitExceededException
          schema:
            $ref: '#/definitions/TriggerTargetsLimitExceededException'
        496:
          description: InvalidAlarmConfigException
          schema:
            $ref: '#/definitions/InvalidAlarmConfigException'
        497:
          description: AlarmsLimitExceededException
          schema:
            $ref: '#/definitions/AlarmsLimitExceededException'
        498:
          description: InvalidAutoRollbackConfigException
          schema:
            $ref: '#/definitions/InvalidAutoRollbackConfigException'
        499:
          description: InvalidLoadBalancerInfoException
          schema:
            $ref: '#/definitions/InvalidLoadBalancerInfoException'
        500:
          description: InvalidDeploymentStyleException
          schema:
            $ref: '#/definitions/InvalidDeploymentStyleException'
        501:
          description: InvalidBlueGreenDeploymentConfigurationException
          schema:
            $ref: '#/definitions/InvalidBlueGreenDeploymentConfigurationException'
        502:
          description: InvalidEC2TagCombinationException
          schema:
            $ref: '#/definitions/InvalidEC2TagCombinationException'
        503:
          description: InvalidOnPremisesTagCombinationException
          schema:
            $ref: '#/definitions/InvalidOnPremisesTagCombinationException'
        504:
          description: TagSetListLimitExceededException
          schema:
            $ref: '#/definitions/TagSetListLimitExceededException'
        505:
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
produces:
- application/json
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":316:{s:33:\"AddTagsToOnPremisesInstancesInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:77:\"Represents
  the input of, and adds tags to, an on-premises instance operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"instanceNames\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/InstanceNameList\";s:11:\"description\";s:60:\"The
  names of the on-premises instances to which to add tags.\";}s:4:\"tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/TagList\";s:11:\"description\";s:180:\"<p>The
  tag key-value pairs to add to the on-premises instances.</p> <p>Keys and values
  are both required. Keys cannot be null or empty strings. Value-only tags are not
  allowed.</p>\";}}s:8:\"required\";a:2:{i:0;s:4:\"tags\";i:1;s:13:\"instanceNames\";}s:4:\"type\";s:6:\"object\";}s:30:\"AdditionalDeploymentStatusInfo\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"Alarm\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Information
  about an alarm.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/AlarmName\";s:11:\"description\";s:115:\"The
  name of the alarm. Maximum length is 255 characters. Each alarm name can be used
  only once in a list of alarms.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"AlarmConfiguration\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"Information
  about alarms associated with the deployment group.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"alarms\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/AlarmList\";s:11:\"description\";s:112:\"A
  list of alarms configured for the deployment group. A maximum of 10 alarms can be
  added to a deployment group.\";}s:7:\"enabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:53:\"Indicates
  whether the alarm configuration is enabled.\";}s:22:\"ignorePollAlarmFailure\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:434:\"<p>Indicates
  whether a deployment should continue if information about the current state of alarms
  cannot be retrieved from Amazon CloudWatch. The default value is false.</p> <ul>
  <li> <p>true: The deployment will proceed even if alarm status information can't
  be retrieved from Amazon CloudWatch.</p> </li> <li> <p>false: The deployment will
  stop if alarm status information can't be retrieved from Amazon CloudWatch.</p>
  </li> </ul>\";}}s:4:\"type\";s:6:\"object\";}s:9:\"AlarmList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Alarm\";}s:4:\"type\";s:5:\"array\";}s:9:\"AlarmName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:28:\"AlarmsLimitExceededException\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"The
  maximum number of alarms for a deployment group (10) was exceeded.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:33:\"ApplicationAlreadyExistsException\";O:8:\"stdClass\":3:{s:11:\"description\";s:98:\"An
  application with the specified name already exists with the applicable IAM user
  or AWS account.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:32:\"ApplicationDoesNotExistException\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"The
  application does not exist with the applicable IAM user or AWS account.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:13:\"ApplicationId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"ApplicationInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Information
  about an application.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:13:\"applicationId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ApplicationId\";s:11:\"description\";s:19:\"The
  application ID.\";}s:15:\"applicationName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ApplicationName\";s:11:\"description\";s:21:\"The
  application name.\";}s:15:\"computePlatform\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ComputePlatform\";s:11:\"description\";s:109:\"The
  destination platform type for deployment of the application (<code>Lambda</code>
  or <code>Server</code>).\";}s:10:\"createTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:46:\"The
  time at which the application was created.\";}s:17:\"gitHubAccountName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/GitHubAccountTokenName\";s:11:\"description\";s:46:\"The
  name for a connection to a GitHub account.\";}s:14:\"linkedToGitHub\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:95:\"True
  if the user has authenticated with GitHub for the specified application; otherwise,
  false.\";}}s:4:\"type\";s:6:\"object\";}s:33:\"ApplicationLimitExceededException\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"More
  applications were attempted to be created than are allowed.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:15:\"ApplicationName\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:100;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:32:\"ApplicationNameRequiredException\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"The
  minimum number of required application names was not specified.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:25:\"ApplicationRevisionSortBy\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:12:\"registerTime\";i:1;s:13:\"firstUsedTime\";i:2;s:12:\"lastUsedTime\";}s:4:\"type\";s:6:\"string\";}s:20:\"ApplicationsInfoList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ApplicationInfo\";}s:4:\"type\";s:5:\"array\";}s:16:\"ApplicationsList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ApplicationName\";}s:4:\"type\";s:5:\"array\";}s:25:\"AutoRollbackConfiguration\";O:8:\"stdClass\":3:{s:11:\"description\";s:162:\"Information
  about a configuration for automatically rolling back to a previous version of an
  application revision when a deployment doesn't complete successfully.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"enabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:82:\"Indicates
  whether a defined automatic rollback configuration is currently enabled.\";}s:6:\"events\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/AutoRollbackEventsList\";s:11:\"description\";s:48:\"The
  event type or types that trigger a rollback.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"AutoRollbackEvent\";O:8:\"stdClass\":2:{s:4:\"enum\";a:3:{i:0;s:18:\"DEPLOYMENT_FAILURE\";i:1;s:24:\"DEPLOYMENT_STOP_ON_ALARM\";i:2;s:26:\"DEPLOYMENT_STOP_ON_REQUEST\";}s:4:\"type\";s:6:\"string\";}s:22:\"AutoRollbackEventsList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/AutoRollbackEvent\";}s:4:\"type\";s:5:\"array\";}s:16:\"AutoScalingGroup\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Information
  about an Auto Scaling group.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"hook\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/AutoScalingGroupHook\";s:11:\"description\";s:42:\"An
  Auto Scaling lifecycle event hook name.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/AutoScalingGroupName\";s:11:\"description\";s:28:\"The
  Auto Scaling group name.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"AutoScalingGroupHook\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"AutoScalingGroupList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/AutoScalingGroup\";}s:4:\"type\";s:5:\"array\";}s:20:\"AutoScalingGroupName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:24:\"AutoScalingGroupNameList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/AutoScalingGroupName\";}s:4:\"type\";s:5:\"array\";}s:33:\"BatchGetApplicationRevisionsInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:65:\"Represents
  the input of a BatchGetApplicationRevisions operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"applicationName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ApplicationName\";s:11:\"description\";s:82:\"The
  name of an AWS CodeDeploy application about which to get revision information.\";}s:9:\"revisions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/RevisionLocationList\";s:11:\"description\";s:80:\"Information
  to get about the application revisions, including type and location.\";}}s:8:\"required\";a:2:{i:0;s:15:\"applicationName\";i:1;s:9:\"revisions\";}s:4:\"type\";s:6:\"object\";}s:34:\"BatchGetApplicationRevisionsOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"Represents
  the output of a BatchGetApplicationRevisions operation.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"applicationName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ApplicationName\";s:11:\"description\";s:62:\"The
  name of the application that corresponds to the revisions.\";}s:12:\"errorMessage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";s:11:\"description\";s:68:\"Information
  about errors that may have occurred during the API call.\";}s:9:\"revisions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/RevisionInfoList\";s:11:\"description\";s:76:\"Additional
  information about the revisions, including the type and location.\";}}s:4:\"type\";s:6:\"object\";}s:25:\"BatchGetApplicationsInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:57:\"Represents
  the input of a BatchGetApplications operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"applicationNames\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/ApplicationsList\";s:11:\"description\";s:48:\"A
  list of application names separated by spaces.\";}}s:8:\"required\";a:1:{i:0;s:16:\"applicationNames\";}s:4:\"type\";s:6:\"object\";}s:26:\"BatchGetApplicationsOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"Represents
  the output of a BatchGetApplications operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"applicationsInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/ApplicationsInfoList\";s:11:\"description\";s:35:\"Information
  about the applications.\";}}s:4:\"type\";s:6:\"object\";}s:29:\"BatchGetDeploymentGroupsInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:61:\"Represents
  the input of a BatchGetDeploymentGroups operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"applicationName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ApplicationName\";s:11:\"description\";s:97:\"The
  name of an AWS CodeDeploy application associated with the applicable IAM user or
  AWS account.\";}s:20:\"deploymentGroupNames\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/DeploymentGroupsList\";s:11:\"description\";s:29:\"The
  deployment groups' names.\";}}s:8:\"required\";a:2:{i:0;s:15:\"applicationName\";i:1;s:20:\"deploymentGroupNames\";}s:4:\"type\";s:6:\"object\";}s:30:\"BatchGetDeploymentGroupsOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"Represents
  the output of a BatchGetDeploymentGroups operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:20:\"deploymentGroupsInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/DeploymentGroupInfoList\";s:11:\"description\";s:40:\"Information
  about the deployment groups.\";}s:12:\"errorMessage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";s:11:\"description\";s:68:\"Information
  about errors that may have occurred during the API call.\";}}s:4:\"type\";s:6:\"object\";}s:32:\"BatchGetDeploymentInstancesInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:64:\"Represents
  the input of a BatchGetDeploymentInstances operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"deploymentId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/DeploymentId\";s:11:\"description\";s:30:\"The
  unique ID of a deployment.\";}s:11:\"instanceIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/InstancesList\";s:11:\"description\";s:52:\"The
  unique IDs of instances in the deployment group.\";}}s:8:\"required\";a:2:{i:0;s:12:\"deploymentId\";i:1;s:11:\"instanceIds\";}s:4:\"type\";s:6:\"object\";}s:33:\"BatchGetDeploymentInstancesOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"Represents
  the output of a BatchGetDeploymentInstances operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"errorMessage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";s:11:\"description\";s:68:\"Information
  about errors that may have occurred during the API call.\";}s:16:\"instancesSummary\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/InstanceSummaryList\";s:11:\"description\";s:31:\"Information
  about the instance.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"BatchGetDeploymentsInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:56:\"Represents
  the input of a BatchGetDeployments operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"deploymentIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/DeploymentsList\";s:11:\"description\";s:46:\"A
  list of deployment IDs, separated by spaces.\";}}s:8:\"required\";a:1:{i:0;s:13:\"deploymentIds\";}s:4:\"type\";s:6:\"object\";}s:25:\"BatchGetDeploymentsOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"Represents
  the output of a BatchGetDeployments operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"deploymentsInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/DeploymentsInfoList\";s:11:\"description\";s:34:\"Information
  about the deployments.\";}}s:4:\"type\";s:6:\"object\";}s:32:\"BatchGetOnPremisesInstancesInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:64:\"Represents
  the input of a BatchGetOnPremisesInstances operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"instanceNames\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/InstanceNameList\";s:11:\"description\";s:70:\"The
  names of the on-premises instances about which to get information.\";}}s:8:\"required\";a:1:{i:0;s:13:\"instanceNames\";}s:4:\"type\";s:6:\"object\";}s:33:\"BatchGetOnPremisesInstancesOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"Represents
  the output of a BatchGetOnPremisesInstances operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"instanceInfos\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/InstanceInfoList\";s:11:\"description\";s:44:\"Information
  about the on-premises instances.\";}}s:4:\"type\";s:6:\"object\";}s:27:\"BatchLimitExceededException\";O:8:\"stdClass\":3:{s:11:\"description\";s:79:\"The
  maximum number of names or IDs allowed for this request (100) was exceeded.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:32:\"BlueGreenDeploymentConfiguration\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"Information
  about blue/green deployment options for a deployment group.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:21:\"deploymentReadyOption\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/DeploymentReadyOption\";s:11:\"description\";s:126:\"Information
  about the action to take when newly provisioned instances are ready to receive traffic
  in a blue/green deployment.\";}s:28:\"greenFleetProvisioningOption\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/GreenFleetProvisioningOption\";s:11:\"description\";s:105:\"Information
  about how instances are provisioned for a replacement environment in a blue/green
  deployment.\";}s:41:\"terminateBlueInstancesOnDeploymentSuccess\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:43:\"#/definitions/BlueInstanceTerminationOption\";s:11:\"description\";s:102:\"Information
  about whether to terminate instances in the original fleet during a blue/green deployment.\";}}s:4:\"type\";s:6:\"object\";}s:29:\"BlueInstanceTerminationOption\";O:8:\"stdClass\":3:{s:11:\"description\";s:122:\"Information
  about whether instances in the original environment are terminated when a blue/green
  deployment is successful.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"action\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/InstanceAction\";s:11:\"description\";s:349:\"<p>The
  action to take on instances in the original environment after a successful blue/green
  deployment.</p> <ul> <li> <p>TERMINATE: Instances are terminated after a specified
  wait time.</p> </li> <li> <p>KEEP_ALIVE: Instances are left running after they are
  deregistered from the load balancer and removed from the deployment group.</p> </li>
  </ul>\";}s:28:\"terminationWaitTimeInMinutes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Duration\";s:11:\"description\";s:176:\"The
  number of minutes to wait after a successful blue/green deployment before terminating
  instances from the original environment. The maximum setting is 2880 minutes (2
  days).\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Boolean\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:33:\"BucketNameFilterRequiredException\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"A
  bucket name is required, but was not provided.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:10:\"BundleType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:5:{i:0;s:3:\"tar\";i:1;s:3:\"tgz\";i:2;s:3:\"zip\";i:3;s:4:\"YAML\";i:4;s:4:\"JSON\";}s:4:\"type\";s:6:\"string\";}s:8:\"CommitId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"ComputePlatform\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:6:\"Server\";i:1;s:6:\"Lambda\";}s:4:\"type\";s:6:\"string\";}s:23:\"ContinueDeploymentInput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"deploymentId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/DeploymentId\";s:11:\"description\";s:124:\"The
  deployment ID of the blue/green deployment for which you want to start rerouting
  traffic to the replacement environment.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"CreateApplicationInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:54:\"Represents
  the input of a CreateApplication operation.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"applicationName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ApplicationName\";s:11:\"description\";s:98:\"The
  name of the application. This name must be unique with the applicable IAM user or
  AWS account.\";}s:15:\"computePlatform\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ComputePlatform\";s:11:\"description\";s:95:\"
  The destination platform type for the deployment (<code>Lambda</code> or <code>Server</code>).\";}}s:8:\"required\";a:1:{i:0;s:15:\"applicationName\";}s:4:\"type\";s:6:\"object\";}s:23:\"CreateApplicationOutput\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"Represents
  the output of a CreateApplication operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"applicationId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ApplicationId\";s:11:\"description\";s:24:\"A
  unique application ID.\";}}s:4:\"type\";s:6:\"object\";}s:27:\"CreateDeploymentConfigInput\";O:8:\"stdClass\":4:{s:11:\"description\";s:59:\"Represents
  the input of a CreateDeploymentConfig operation.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:15:\"computePlatform\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/ComputePlatform\";s:11:\"description\";s:98:\"The
  destination platform type for the deployment (<code>Lambda</code> or <code>Server</code>&gt;).\";}s:20:\"deploymentConfigName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/DeploymentConfigName\";s:11:\"description\";s:51:\"The
[...]
