---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":7:{s:11:\"description\";s:117:\"City Context provides
  a straightforward API to access UK Open Data: crime statistics, schools, demographics
  and more.\";s:5:\"title\";s:12:\"City Context\";s:7:\"version\";s:5:\"1.0.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:9:\"open_data\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.5.0\";}s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:45:\"https://www.citycontext.com/swagger/spec.json\";s:7:\"version\";s:3:\"1.2\";}}s:14:\"x-providerName\";s:15:\"citycontext.com\";s:11:\"x-preferred\";b:1;}"
host: api.citycontext.com
basePath: /v1
paths:
  /@{lat},{lon}:
    get:
      operationId: byPoint
      parameters:
      - description: Latitude
        format: float
        in: path
        name: lat
        required: true
        type: number
      - description: Longitude
        format: float
        in: path
        name: lon
        required: true
        type: number
      - description: Search radius for schools, in metres, between 100 and 4000
        in: query
        name: school_search_radius
        required: false
        type: integer
      - description: Search radius for parks, in metres, between 100 and 2000
        in: query
        name: park_search_radius
        required: false
        type: integer
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/PointInfo'
      summary: Query by coordinates (SRID 4326 - decimal degrees)
      tags:
      - citycontext
  /postcodes/{postcode}:
    get:
      operationId: byPostcode
      parameters:
      - description: Postcode
        in: path
        name: postcode
        required: true
        type: string
      - description: Search radius for schools, in metres, between 100 and 4000
        in: query
        name: school_search_radius
        required: false
        type: integer
      - description: Search radius for parks, in metres, between 100 and 2000
        in: query
        name: park_search_radius
        required: false
        type: integer
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/PointInfo'
      summary: Query by postcode
      tags:
      - citycontext
  /usage:
    get:
      operationId: usage
      parameters: []
      responses:
        200:
          description: No response was specified
          schema:
            $ref: '#/definitions/Usage'
      summary: Get usage in current month
      tags:
      - citycontext
produces:
- application/json
schemes:
- http
definitions: !php/object "O:8:\"stdClass\":4:{s:6:\"Latlon\";O:8:\"stdClass\":0:{}s:8:\"Location\";O:8:\"stdClass\":4:{s:11:\"description\";s:61:\"Latitude,
  Longitude and other info related to the given point\";s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"lat\";O:8:\"stdClass\":4:{s:6:\"format\";s:5:\"float\";s:7:\"maximum\";i:85;s:7:\"minimum\";i:-85;s:4:\"type\";s:6:\"number\";}s:3:\"lon\";O:8:\"stdClass\":4:{s:6:\"format\";s:5:\"float\";s:7:\"maximum\";i:180;s:7:\"minimum\";i:-180;s:4:\"type\";s:6:\"number\";}s:15:\"withinLondonCCZ\";O:8:\"stdClass\":2:{s:11:\"description\";s:92:\"Boolean
  flag indicating whether this point is located within London's Congestion Charge
  zone\";s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:2:{i:0;s:3:\"lat\";i:1;s:3:\"lon\";}s:4:\"type\";s:6:\"object\";}s:9:\"PointInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Contextual
  information around a given point\";s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"location\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Location\";}s:4:\"lsoa\";O:8:\"stdClass\":4:{s:11:\"description\";s:52:\"Statistics
  for lower layer super output areas (LSOA)\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"crimes\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"population\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":6:{s:17:\"allUsualResidents\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:30:\"communalEstablishmentResidents\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:18:\"householdResidents\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"households\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:17:\"personsPerHectare\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:19:\"personsPerHousehold\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:6:{i:0;s:17:\"allUsualResidents\";i:1;s:18:\"householdResidents\";i:2;s:30:\"communalEstablishmentResidents\";i:3;s:10:\"households\";i:4;s:19:\"personsPerHousehold\";i:5;s:17:\"personsPerHectare\";}s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:4:\"type\";s:6:\"object\";}s:5:\"parks\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"Parks
  within 1km of the point of interest, sorted by descending area\";s:5:\"items\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"areaSqm\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"centroid\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Latlon\";}s:14:\"distanceMeters\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:14:\"distanceMeters\";i:1;s:7:\"areaSqm\";i:2;s:8:\"centroid\";}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:7:\"schools\";O:8:\"stdClass\":3:{s:11:\"description\";s:86:\"Schools
  within 1km of the point of interest, sorted by ascending distance from the POI\";s:5:\"items\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":11:{s:14:\"distanceMeters\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:16:\"lastInpectionUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"URL
  to the last inspection report\";s:4:\"type\";s:6:\"string\";}s:18:\"lastInspectionDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Date
  of the last Ofsted inspection\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:23:\"leadershipAndManagement\";O:8:\"stdClass\":4:{s:11:\"description\";s:97:\"Leadership
  and management grade in the last Ofsted report, from 1 (outstanding) to 4 (inadequate)\";s:7:\"maximum\";i:4;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:8:\"location\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Latlon\";}s:20:\"overallEffectiveness\";O:8:\"stdClass\":4:{s:11:\"description\";s:93:\"Overall
  effectiveness grade in the last Ofsted report, from 1 (outstanding) to 4 (inadequate)\";s:7:\"maximum\";i:4;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:5:\"phase\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"qualityOfTeaching\";O:8:\"stdClass\":4:{s:11:\"description\";s:91:\"Quality
  of teaching grade in the last Ofsted report, from 1 (outstanding) to 4 (inadequate)\";s:7:\"maximum\";i:4;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:10:\"schoolName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"typeOfEstablishment\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"urn\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Unique
  school identifier\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:11:{i:0;s:3:\"urn\";i:1;s:10:\"schoolName\";i:2;s:19:\"typeOfEstablishment\";i:3;s:8:\"location\";i:4;s:18:\"lastInspectionDate\";i:5;s:16:\"lastInpectionUrl\";i:6;s:20:\"overallEffectiveness\";i:7;s:23:\"leadershipAndManagement\";i:8;s:17:\"qualityOfTeaching\";i:9;s:5:\"phase\";i:10;s:14:\"distanceMeters\";}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:3:{i:0;s:8:\"location\";i:1;s:5:\"parks\";i:2;s:7:\"schools\";}}s:5:\"Usage\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"User
  plan monthly API quota and usage\";s:10:\"properties\";O:8:\"stdClass\":6:{s:9:\"allowance\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"period\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"periodEnd\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"periodStart\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:4:\"plan\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"usage\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:5:{i:0;s:5:\"usage\";i:1;s:6:\"period\";i:2;s:4:\"plan\";i:3;s:11:\"periodStart\";i:4;s:9:\"periodEnd\";}}}"
...
