---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:16:\"Trade Events API\";s:11:\"description\";s:249:\"The
  Trade Events API provides data on events for U.S. businesses interested in selling
  their products and services overseas. These events include industry conferences,
  webinars, lectures, and trade missions organized by ITA and other trade agencies.\";s:7:\"version\";s:5:\"2.0.0\";}"
host: api.trade.gov
basePath: /v2
paths:
  /trade_events/search:
    get:
      summary: Trade Events API
      description: The Trade Events API provides data on events for U.S. businesses
        interested in selling their products and services overseas. These events include
        industry conferences, webinars, lectures, and trade missions organized by
        ITA and other trade agencies.
      parameters:
      - name: keyword
        in: query
        description: Searches for a match within the registration_title, description,
          event_name, industries, city, venues.city, venues.state, venues.country,
          contacts.first_name, contacts.last_name, and contacts.person_title fields.
        required: false
        type: string
        format: string
      - name: industries
        in: query
        description: Returns trade events for specific controlled industry terms.
          This method allows you to search for multiple industries (plural) separated
          by commas.
        required: false
        type: string
        format: string
      - name: countries
        in: query
        description: Returns trade events for a specific country based on ISO alpha-2
          country codes. This method allows you to search for multiple countries (plural)
          separated by commas but will only return one country (singular) per event.
        required: false
        type: string
        format: string
      - name: trade_regions
        in: query
        description: Returns trade events for a specific Trade Region.  Enter multiple
          values by separating with a comma.
        required: false
        type: string
        format: string
      - name: world_regions
        in: query
        description: Returns trade events for a specific World Region.  Enter multiple
          values by separating with a comma.
        required: false
        type: string
        format: string
      - name: sources
        in: query
        description: Searches only the events specified by the Source Abbreviation.
        required: false
        type: string
        format: string
      - name: start_date
        in: query
        description: Returns events based on their start date. Dates are filtered
          by comparing them against an inclusive range, which must be entered with
          the following format YYYY-mm-dd TO YYYY-mm-dd. Searching on a single date
          can be done by entering the same value for the start and end of the range.
        required: false
        type: string
        format: string
      - name: end_date
        in: query
        description: Returns events based on their end date. Dates are filtered by
          comparing them against an inclusive range, which must be entered with the
          following format YYYY-mm-dd TO YYYY-mm-dd. Searching on a single date can
          be done by entering the same value for the start and end of the range.
        required: false
        type: string
        format: string
      - name: size
        in: query
        description: The size parameter allows you to configure the number of results
          to be returned up to a maximum of 100.
        required: false
        type: string
        format: string
      - name: offset
        in: query
        description: The offset parameter defines the offset from the first result
          you want to fetch. Unless specified the API returns 10 results at a time.
        required: false
        type: string
        format: string
      tags:
      - Trade
      - Exporting
      - ITA
      - International
      - Events
      - Webinars
      - Seminars
      - Training
      responses:
        200:
          description: An array of products
          schema:
            type: array
            items:
              $ref: '#/definitions/Event'
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":1:{s:5:\"Event\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":27:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Unique
  identifier for event.\";s:4:\"type\";s:6:\"string\";}s:10:\"event_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Name
  given for the event.\";s:4:\"type\";s:6:\"string\";}s:10:\"event_type\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  type of the event.\";s:4:\"type\";s:6:\"string\";}s:10:\"start_date\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Start
  date of the event.\";s:4:\"type\";s:6:\"string\";}s:10:\"start_time\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  start time of the event.\";s:4:\"type\";s:6:\"string\";}s:8:\"end_date\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  date the event will end.\";s:4:\"type\";s:6:\"string\";}s:8:\"end_time\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  end time of the event.\";s:4:\"type\";s:6:\"string\";}s:9:\"time_zone\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  time zone of the event\u2019s location.\";s:4:\"type\";s:6:\"string\";}s:4:\"cost\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Cost
  of the event.\";s:4:\"type\";s:6:\"string\";}s:13:\"cost_currency\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  currency of the cost value.\";s:4:\"type\";s:6:\"string\";}s:17:\"registration_link\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"URL
  for the event's registration page.\";s:4:\"type\";s:6:\"string\";}s:18:\"registration_title\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Title
  of the registration URL.\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Text
  describing the event.\";s:4:\"type\";s:6:\"string\";}s:10:\"industries\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Industry
  categories assigned to the event.\";s:4:\"type\";s:6:\"string\";}s:14:\"ita_industries\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"The
  ITA industries associated with the assigned industries.\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Link
  to the event's web page.\";s:4:\"type\";s:6:\"string\";}s:6:\"venues\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Array
  of venue information.\";s:4:\"type\";s:6:\"string\";}s:8:\"contacts\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Array
  of contact information.\";s:4:\"type\";s:6:\"string\";}s:10:\"first_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  event contact\u2019s first name.\";s:4:\"type\";s:6:\"string\";}s:9:\"last_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  event contact\u2019s last name.\";s:4:\"type\";s:6:\"string\";}s:4:\"post\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  event contact\u2019s location.\";s:4:\"type\";s:6:\"string\";}s:12:\"person_title\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  event contact\u2019s title.\";s:4:\"type\";s:6:\"string\";}s:5:\"phone\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  event contact\u2019s phone number.\";s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"The
  event contact\u2019s email address.\";s:4:\"type\";s:6:\"string\";}s:6:\"source\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Agency
  providing the event information.\";s:4:\"type\";s:6:\"string\";}s:13:\"trade_regions\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"The
  trade regions associated with the event.\";s:4:\"type\";s:6:\"string\";}s:13:\"world_regions\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"The
  world regions associated with the event.\";s:4:\"type\";s:6:\"string\";}}}}"
...
