---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:38:\"International Trade Administration
  API\";s:11:\"description\";s:81:\"This is an inventory of APIs available at the
  International Trade Administration.\";s:7:\"version\";s:5:\"2.0.0\";}"
host: api.trade.gov
basePath: /v2
paths:
  /consolidated_screening_list/search:
    get:
      summary: Consolidated Screening List API
      description: The Consolidated Screening List API consolidates eleven export
        screening lists of the Departments of Commerce, State and the Treasury into
        a single data feed as an aid to industry in conducting electronic screens
        of potential parties to regulated transactions.
      parameters:
      - name: keyword
        in: query
        description: Searches for a match within the name, alt_names, remarks, and
          title fields from all eleven lists.
        required: false
        type: string
        format: string
      - name: sources
        in: query
        description: Searches only the lists specified by the Source Abbreviation.
        required: false
        type: string
        format: string
      - name: countries
        in: query
        description: Searches only entities whose country, nationalities, or citizenships
          fields match the country code based on ISO alpha-2 country codes. The country
          fields are found in the addresses and ids arrays. This method allows you
          to search for multiple countries (plural) separated by commas but will only
          return one country (singular) per entity.
        required: false
        type: string
        format: string
      - name: address
        in: query
        description: Searches against fields in the addresses array.
        required: false
        type: string
        format: string
      - name: name
        in: query
        description: Searches against the name and alt_names fields.
        required: false
        type: string
        format: string
      - name: fuzzy_name
        in: query
        description: Set fuzzy_name=true to utilize fuzzy name matching.  Fuzzy name
          matching enables users to query a name and get usable results without knowing
          the exact spelling of an entry.  The fuzzy_name parameter only works in
          tandem with name.
        required: false
        type: string
        format: string
      - name: type
        in: query
        description: Searches based on the type of the entry (e.g, Individual, Entity,
          Vessel).
        required: false
        type: string
        format: string
      - name: start_date
        in: query
        description: Returns entries based on their start date. Dates are filtered
          by comparing them against an inclusive range, which must be entered with
          the following format YYYY-mm-dd TO YYYY-mm-dd. Searching on a single date
          can be done by entering the same value for the start and end of the range.
        required: false
        type: string
        format: string
      - name: end_date
        in: query
        description: Returns entries based on their end date. Dates are filtered by
          comparing them against an inclusive range, which must be entered with the
          following format YYYY-mm-dd TO YYYY-mm-dd. Searching on a single date can
          be done by entering the same value for the start and end of the range.
        required: false
        type: string
        format: string
      - name: issue_date
        in: query
        description: Returns entries based on the issue dates of the ids array. Dates
          are filtered by comparing them against an inclusive range, which must be
          entered with the following format YYYY-mm-dd TO YYYY-mm-dd. Searching on
          a single date can be done by entering the same value for the start and end
          of the range.
        required: false
        type: string
        format: string
      - name: expiration_date
        in: query
        description: Returns entries based on the expiration dates of the ids array.
          Dates are filtered by comparing them against an inclusive range, which must
          be entered with the following format YYYY-mm-dd TO YYYY-mm-dd. Searching
          on a single date can be done by entering the same value for the start and
          end of the range.
        required: false
        type: string
        format: string
      - name: size
        in: query
        description: The size parameter allows you to configure the number of results
          to be returned up to a maximum of 100.
        required: false
        type: string
        format: string
      - name: offset
        in: query
        description: The offset parameter defines the offset from the first result
          you want to fetch. Unless specified the API returns 10 results at a time.
        required: false
        type: string
        format: string
      tags:
      - Trade
      - Exporting
      - ITA
      - International
      - Screening Lists
      - Compliance
      - Denied Parties
      responses:
        200:
          description: Successful List Response
          schema:
            type: array
            items:
              $ref: '#/definitions/List'
  /trade_events/search:
    get:
      summary: Trade Events API
      description: The Trade Events API provides data on events for U.S. businesses
        interested in selling their products and services overseas. These events include
        industry conferences, webinars, lectures, and trade missions organized by
        ITA and other trade agencies.
      parameters:
      - name: keyword
        in: query
        description: Searches for a match within the registration_title, description,
          event_name, industries, city, venues.city, venues.state, venues.country,
          contacts.first_name, contacts.last_name, and contacts.person_title fields.
        required: false
        type: string
        format: string
      - name: industries
        in: query
        description: Returns trade events for specific controlled industry terms.
          This method allows you to search for multiple industries (plural) separated
          by commas.
        required: false
        type: string
        format: string
      - name: countries
        in: query
        description: Returns trade events for a specific country based on ISO alpha-2
          country codes. This method allows you to search for multiple countries (plural)
          separated by commas but will only return one country (singular) per event.
        required: false
        type: string
        format: string
      - name: trade_regions
        in: query
        description: Returns trade events for a specific Trade Region.  Enter multiple
          values by separating with a comma.
        required: false
        type: string
        format: string
      - name: world_regions
        in: query
        description: Returns trade events for a specific World Region.  Enter multiple
          values by separating with a comma.
        required: false
        type: string
        format: string
      - name: sources
        in: query
        description: Searches only the events specified by the Source Abbreviation.
        required: false
        type: string
        format: string
      - name: start_date
        in: query
        description: Returns events based on their start date. Dates are filtered
          by comparing them against an inclusive range, which must be entered with
          the following format YYYY-mm-dd TO YYYY-mm-dd. Searching on a single date
          can be done by entering the same value for the start and end of the range.
        required: false
        type: string
        format: string
      - name: end_date
        in: query
        description: Returns events based on their end date. Dates are filtered by
          comparing them against an inclusive range, which must be entered with the
          following format YYYY-mm-dd TO YYYY-mm-dd. Searching on a single date can
          be done by entering the same value for the start and end of the range.
        required: false
        type: string
        format: string
      - name: size
        in: query
        description: The size parameter allows you to configure the number of results
          to be returned up to a maximum of 100.
        required: false
        type: string
        format: string
      - name: offset
        in: query
        description: The offset parameter defines the offset from the first result
          you want to fetch. Unless specified the API returns 10 results at a time.
        required: false
        type: string
        format: string
      tags:
      - Trade
      - Exporting
      - ITA
      - International
      - Events
      - Webinars
      - Seminars
      - Training
      responses:
        200:
          description: An array of products
          schema:
            type: array
            items:
              $ref: '#/definitions/Event'
  /trade_leads/search:
    get:
      summary: Trade Leads API
      description: The Trade Leads API provides contract opportunities for U.S. businesses
        selling their products and services overseas. These leads come from a variety
        of sources.
      parameters:
      - name: keyword
        in: query
        description: Searches for a match within the title, description, topic, tags,
          industry, ita_industries, and procurement_organization fields.
        required: false
        type: string
        format: string
      - name: industries
        in: query
        description: Returns trade leads for specific controlled industry terms. This
          method allows you to search for multiple industries (plural) separated by
          commas.
        required: false
        type: string
        format: string
      - name: countries
        in: query
        description: Returns trade leads for a specific country based on ISO alpha-2
          country codes. This method allows you to search for multiple countries (plural)
          separated by commas but will only return one country (singular) per lead.
        required: false
        type: string
        format: string
      - name: trade_regions
        in: query
        description: Returns trade leads for a specific Trade Region.  Enter multiple
          values by separating with a comma.
        required: false
        type: string
        format: string
      - name: world_regions
        in: query
        description: Returns trade leads for a specific World Region.  Enter multiple
          values by separating with a comma.
        required: false
        type: string
        format: string
      - name: sources
        in: query
        description: Searches only the leads specified by the Source field.
        required: false
        type: string
        format: string
      - name: publish_date
        in: query
        description: Returns leads based on their publish date. Dates are filtered
          by comparing them against an inclusive range, which must be entered with
          the following format YYYY-mm-dd TO YYYY-mm-dd. Searching on a single date
          can be done by entering the same value for the start and end of the range.
        required: false
        type: string
        format: string
      - name: end_date
        in: query
        description: Returns leads based on their end date. Dates are filtered by
          comparing them against an inclusive range, which must be entered with the
          following format YYYY-mm-dd TO YYYY-mm-dd. Searching on a single date can
          be done by entering the same value for the start and end of the range.
        required: false
        type: string
        format: string
      - name: publish_date_amended
        in: query
        description: Returns leads based on their amended publish date. Dates are
          filtered by comparing them against an inclusive range, which must be entered
          with the following format YYYY-mm-dd TO YYYY-mm-dd. Searching on a single
          date can be done by entering the same value for the start and end of the
          range.
        required: false
        type: string
        format: string
      - name: size
        in: query
        description: The size parameter allows you to configure the number of results
          to be returned up to a maximum of 100.
        required: false
        type: string
        format: string
      - name: offset
        in: query
        description: The offset parameter defines the offset from the first result
          you want to fetch. Unless specified the API returns 10 results at a time.
        required: false
        type: string
        format: string
      tags:
      - Trade
      - Exporting
      - ITA
      - International
      - Leads
      - Procurement Opportunities
      - Contracting Opportunities
      responses:
        200:
          description: Successful Lead Response
          schema:
            type: array
            items:
              $ref: '#/definitions/Lead'
  /tariff_rates/search:
    get:
      summary: Tariff Rates API
      description: The Tariff Rates API provides data about each country with whom
        the United States has a Free Trade Agreement (FTA). When the U.S. enters into
        an FTA with a foreign government, it negotiates lower tariff rates with that
        government for a wide variety of products. A tariff is a tax that a company
        must pay a foreign country when shipping a product to that country. Typically
        the FTA tariffs rates decline over several years.
      parameters:
      - name: keyword
        in: query
        description: Searches for a match within the subheading_description, tariff_rate_quota_note,
          rule_text, and tariff_line fields.
        required: false
        type: string
        format: string
      - name: sources
        in: query
        description: Returns tariff rates based on the ISO alpha-2 country codes of
          the source country. This method allows you to search for multiple sources
          (plural) separated by commas.
        required: false
        type: string
        format: string
      - name: final_years
        in: query
        description: Returns entries based on the final_year field. Years are specified
          as a comma-delimited list.
        required: false
        type: string
        format: string
      - name: partner_start_years
        in: query
        description: Returns entries based on the partner_start_year field. Years
          are specified as a comma-delimited list.
        required: false
        type: string
        format: string
      - name: reporter_start_years
        in: query
        description: Returns entries based on the reporter_start_year field. Years
          are specified as a comma-delimited list.
        required: false
        type: string
        format: string
      - name: size
        in: query
        description: The size parameter allows you to configure the number of results
          to be returned up to a maximum of 100.
        required: false
        type: string
        format: string
      - name: offset
        in: query
        description: The offset parameter defines the offset from the first result
          you want to fetch. Unless specified the API returns 10 results at a time.
        required: false
        type: string
        format: string
      tags:
      - Trade
      - Exporting
      - ITA
      - International
      - Tariffs
      - Duties
      - Free Trade Agreements
      responses:
        200:
          description: Successful Rate Response
          schema:
            type: array
            items:
              $ref: '#/definitions/Rate'
  /ita_faqs/search:
    get:
      summary: FAQs on Exporting API
      description: The Frequently Asked Questions (FAQs) API includes more than 200
        commonly asked questions about exporting. The answers provided are from government
        experts that specialize in unique aspects of trade.n
      parameters:
      - name: keyword
        in: query
        description: Searches for a match within the question and answer fields.
        required: false
        type: string
        format: string
      - name: topics
        in: query
        description: Returns FAQs based on topic name. This method allows you to search
          for multiple topics (plural) separated by commas.
        required: false
        type: string
        format: string
      - name: industries
        in: query
        description: Returns FAQs for specific controlled industry terms. This method
          allows you to search for multiple industries (plural) separated by commas.
        required: false
        type: string
        format: string
      - name: countries
        in: query
        description: Returns office locations for a specific country based on ISO
          alpha-2 country codes. This method allows you to search for multiple countries
          (plural) separated by commas.
        required: false
        type: string
        format: string
      - name: trade_regions
        in: query
        description: Returns FAQs based on trade region.  This method allows you to
          search for multiple trade regions separated by commas.
        required: false
        type: string
        format: string
      - name: world_regions
        in: query
        description: Returns FAQs based on world region.  This method allows you to
          search for multiple world regions separated by commas.
        required: false
        type: string
        format: string
      - name: first_published_date
        in: query
        description: 'Returns FAQs based on the date they were first published.  Dates
          are filtered by comparing them against an inclusive range, which must be
          entered with the following format:  YYYY-mm-dd TO YYYY-mm-dd.  Searching
          on a single date can be done by entering the same value for the start and
          end of the range.'
        required: false
        type: string
        format: string
      - name: last_published_date
        in: query
        description: 'Returns FAQs based on the date they were last updated.  Dates
          are filtered by comparing them against an inclusive range, which must be
          entered with the following format:  YYYY-mm-dd TO YYYY-mm-dd.  Searching
          on a single date can be done by entering the same value for the start and
          end of the range.'
        required: false
        type: string
        format: string
      - name: size
        in: query
        description: The size parameter allows you to configure the number of results
          to be returned up to a maximum of 100.
        required: false
        type: string
        format: string
      - name: offset
        in: query
        description: The offset parameter defines the offset from the first result
          you want to fetch. Unless specified the API returns 10 results at a time.
        required: false
        type: string
        format: string
      tags:
      - Trade
      - Exporting
      - ITA
      - International
      - FAQs
      responses:
        200:
          description: Successful Rate Response
          schema:
            type: array
            items:
              $ref: '#/definitions/FAQ'
  /ita_office_locations/search:
    get:
      summary: ITA Offices & Centers API
      description: The ITA Offices & Centers API provides contact and address information
        for all of ITA's domestic and international export assistance centers. There
        are almost 200 ITA centers worldwide whose locations are managed by ITA's
        internal office management system.
      parameters:
      - name: keyword
        in: query
        description: Returns office locations for a match within the post or office
          name fields.
        required: false
        type: string
        format: string
      - name: city
        in: query
        description: Returns office locations based on city name.
        required: false
        type: string
        format: string
      - name: state
        in: query
        description: Returns locations for export assistance centers located in a
          specific U.S. State or Dependent Area.
        required: false
        type: string
        format: string
      - name: countries
        in: query
        description: Returns office locations for a specific country based on ISO
          alpha-2 country codes. This method allows you to search for multiple countries
          (plural) separated by commas but will only return one country (singular)
          per office location.
        required: false
        type: string
        format: string
      - name: size
        in: query
        description: The size parameter allows you to configure the number of results
          to be returned up to a maximum of 100.
        required: false
        type: string
        format: string
      - name: offset
        in: query
        description: The offset parameter defines the offset from the first result
          you want to fetch. Unless specified the API returns 10 results at a time.
        required: false
        type: string
        format: string
      tags:
      - Trade
      - Exporting
      - ITA
      - International
      - Offices
      responses:
        200:
          description: Successful Office Response
          schema:
            type: array
            items:
              $ref: '#/definitions/Office'
  /trade_articles/search:
    get:
      summary: Trade News & Articles API
      description: The Trade News & Articles API provides in-depth news and articles
        written by Trade Specialists working in the Federal government. The authors
        include staff from ITA as well as other Trade Promotion Coordinating Committee
        (TPCC) agencies.
      parameters:
      - name: keyword
        in: query
        description: Searches for a match within the title, short_title, summary,
          content, and keyword fields.
        required: false
        type: string
        format: string
      - name: export_phases
        in: query
        description: Returns articles based on the export phase. Enter multiple terms
          by separating with a comma.
        required: false
        type: string
        format: string
      - name: industries
        in: query
        description: Returns articles for specific controlled industry terms. This
          method allows you to search for multiple industries separated by commas.
        required: false
        type: string
        format: string
      - name: countries
        in: query
        description: Returns office locations based on ISO alpha-2 country codes.  This
          method allows you to search for multiple countries separated by commas.
        required: false
        type: string
        format: string
      - name: topics
        in: query
        description: Returns articles based on topic. Enter multiple terms by separating
          with a comma.
        required: false
        type: string
        format: string
      - name: sub_topics
        in: query
        description: Returns articles based on sub-topic. Enter multiple terms by
          separating with a comma.
        required: false
        type: string
        format: string
      - name: geo_regions
        in: query
        description: Returns articles based on geo region. Enter multiple terms by
          separating with a comma.
        required: false
        type: string
        format: string
      - name: geo_subregions
        in: query
        description: Returns articles based on geo sub-region. Enter multiple terms
          by separating with a comma.
        required: false
        type: string
        format: string
      - name: trade_regions
        in: query
        description: Returns articles based on trade region. Enter multiple terms
          by separating with a comma.
        required: false
        type: string
        format: string
      - name: trade_programs
        in: query
        description: Returns articles based on trade program. Enter multiple terms
          by separating with a comma.
        required: false
        type: string
        format: string
      - name: trade_initiatives
        in: query
        description: Returns articles based on trade initiative. Enter multiple terms
          by separating with a comma.
        required: false
        type: string
        format: string
      - name: creation_date
        in: query
        description: 'Returns articles based on the date they were created. Dates
          are filtered by comparing them against an inclusive range, which must be
          entered with the following format: YYYY-mm-dd TO YYYY-mm-dd. Searching on
          a single date can be done by entering the same value for the start and end
          of the range.'
        required: false
        type: string
        format: string
      - name: release_date
        in: query
        description: 'Returns articles based on their release date. Dates are filtered
          by comparing them against an inclusive range, which must be entered with
          the following format: YYYY-mm-dd TO YYYY-mm-dd. Searching on a single date
          can be done by entering the same value for the start and end of the range.'
        required: false
        type: string
        format: string
      - name: expiration_date
        in: query
        description: 'Returns articles based on their expiration date. Dates are filtered
          by comparing them against an inclusive range, which must be entered with
          the following format: YYYY-mm-dd TO YYYY-mm-dd. Searching on a single date
          can be done by entering the same value for the start and end of the range.'
        required: false
        type: string
        format: string
      - name: size
        in: query
        description: The size parameter allows you to configure the maximum amount
          of hits to be returned.
        required: false
        type: string
        format: string
      - name: offset
        in: query
        description: The offset parameter defines the offset from the first result
          you want to fetch.
        required: false
        type: string
        format: string
      tags:
      - Trade
      - Exporting
      - ITA
      - International
      - News
      - Articles
      responses:
        200:
          description: Successful Article Response
          schema:
            type: array
            items:
              $ref: '#/definitions/Article'
  /ita_zipcode_to_post/search:
    get:
      summary: Zip Code to USEAC API
      description: The Zip Code to USEAC API provides direct access to the U.S. Export
        Assistance Centers (USEACs) that have been assigned to all of the 40,000+
        zip codes in the United States.
      parameters:
      - name: keyword
        in: query
        description: Returns zip code entries for a match within the post, office_name
          or zip_city fields.
        required: false
        type: string
        format: string
      - name: zip_codes
        in: query
        description: Returns zip code entries that match the specified zip codes.
          Enter muliple values separated by commas.
        required: false
        type: string
        format: string
      - name: size
        in: query
        description: The size parameter allows you to configure the number of results
          to be returned up to a maximum of 100.
        required: false
        type: string
        format: string
      - name: offset
        in: query
        description: The offset parameter defines the offset from the first result
          you want to fetch. Unless specified the API returns 10 results at a time.
        required: false
        type: string
        format: string
      tags:
      - Trade
      - Exporting
      - ITA
      - International
      - Offices
      responses:
        200:
          description: History information for the given user
          schema:
            $ref: '#/definitions/Center'
  /business_service_providers/search:
    get:
      summary: Business Service Providers API
      description: The Business Service Providers (BSP) API is a directory of U.S.
        and foreign-based businesses providing services that many small and medium
        sized exporters require to succeed in foreign markets Parameters.
      parameters:
      - name: keyword
        in: query
        description: Returns business service providers for a match in the company_name,
          company_description, or contact_name fields.
        required: false
        type: string
        format: string
      - name: ita_offices
        in: query
        description: Returns business service providers based on country. Enter multiple
          terms by separating with a comma.
        required: false
        type: string
        format: string
      - name: categories
        in: query
        description: Returns business service providers for a specific category. Enter
          multiple terms by separating with a comma.
        required: false
        type: string
        format: string
      - name: size
        in: query
        description: The size parameter allows you to configure the number of results
          to be returned up to a maximum of 100.
        required: false
        type: string
        format: string
      - name: offset
        in: query
        description: The offset parameter defines the offset from the first result
          you want to fetch. Unless specified the API returns 10 results at a time.
        required: false
        type: string
        format: string
      tags:
      - Trade
      - Exporting
      - ITA
      - International
      - Service Providers
      responses:
        200:
          description: History information for the given user
          schema:
            $ref: '#/definitions/Provider'
  /ita_taxonomies/search:
    get:
      summary: Ita Taxonomies API
      description: The ITA Taxonomies API gives developers direct access to the exporting,
        trade, and investment terms that ITA uses to tag the content and data in its
        other APIs.
      parameters:
      - name: keyword
        in: query
        description: Returns taxonomy terms for a match within label field.
        required: false
        type: string
        format: string
      - name: types
        in: query
        description: Returns terms that fall under the given high-level taxonomy types.
          Enter multiple values separated by commas. The possible values are Industries,
          Topics, Countries, Trade Regions, and World Regions.
        required: false
        type: string
        format: string
      - name: labels
        in: query
        description: Returns terms based on exact matching of the label field. Enter
          multiple values separated by commas.
        required: false
        type: string
        format: string
      - name: size
        in: query
        description: The size parameter allows you to configure the number of results
          to be returned up to a maximum of 100.
        required: false
        type: string
        format: string
      - name: offset
        in: query
        description: The offset parameter defines the offset from the first result
          you want to fetch. Unless specified the API returns 10 results at a time.
        required: false
        type: string
        format: string
      tags:
      - Trade
      - ITA
      responses:
        200:
          description: ""
          schema:
            $ref: '#/definitions/Taxonomy'
  /de_minimis/search:
    get:
      summary: De Minimis API
      description: The De Minimis API provides data about the De Minimis amount and
        the Value Added Tax (VAT) amount that products may be subject to when exported
        to foreign countries.  u201cDe Minimisu201d is the threshold for a productu2019s
        value below which no duty or tax is charged.  Furthermore, products below
        the De Minimis undergo minimal clearance procedures, such as customs and paperwork
        requirements.  Similarly, the value of the exported products must exceed the
        VAT amount before it is subject to VAT.
      parameters:
      - name: keyword
        in: query
        description: Returns de minimis rates for a match in the country or notes
          fields.
        required: false
        type: string
        format: string
      - name: countries
        in: query
        description: Returns de minimis rates based on ISO alpha-2 country codes.  Enter
          multiple terms by separating with a comma.
        required: false
        type: string
        format: string
      - name: size
        in: query
        description: The size parameter allows you to configure the maximum amount
          of hits to be returned.
        required: false
        type: string
        format: string
      - name: offset
        in: query
        description: The offset parameter defines the offset from the first result
          you want to fetch.
        required: false
        type: string
        format: string
      tags:
      - Trade
      - Exporting
      - ITA
      - International
      responses:
        200:
          description: Successful De Minimis Response
          schema:
            type: array
            items:
              $ref: '#/definitions/DeMinimis'
  /market_intelligence/search:
    get:
      summary: Market Intelligence API
      description: ""
      parameters:
      - name: keyword
        in: query
        description: 'Searches for a match within the atom, references, section, summary,
          and title fields.  Note:  the atom field is searchable, but not returned
          in the JSON results.'
        required: false
        type: string
        format: string
      - name: industries
        in: query
        description: Returns articles for a specific controlled industry term. This
          method allows you to search for multiple industries (plural) separated by
          commas.
        required: false
        type: string
        format: string
      - name: topics
        in: query
        description: Returns articles for a specific topic term. This method allows
          you to search for multiple topics (plural) separated by commas.
        required: false
        type: string
        format: string
      - name: countries
        in: query
        description: Returns articles for a specific country based on ISO alpha-2
          country codes. This method allows you to search for multiple countries (plural)
          separated by commas but will only return one country (singular) per event.
        required: false
        type: string
        format: string
      - name: trade_regions
        in: query
        description: Returns articles for a specific Trade Region.  Enter multiple
          values by separating with a comma.
        required: false
        type: string
        format: string
      - name: world_regions
        in: query
        description: Returns articles for a specific World Region.  Enter multiple
          values by separating with a comma.
        required: false
        type: string
        format: string
      - name: sources
        in: query
        description: Searches only the articles specified by the Source Abbreviation.
        required: false
        type: string
        format: string
      - name: first_published_date
        in: query
        description: 'Returns articles based on their initial publish date.  Dates
          are filtered by comparing them against an inclusive range, which must be
          entered with the following format:  YYYY-mm-dd TO YYYY-mm-dd.  Searching
          on a single date can be done by entering the same value for the start and
          end of the range.'
        required: false
        type: string
        format: string
      - name: last_published_date
        in: query
        description: 'Returns articles based on their most recent publish date.  Dates
          are filtered by comparing them against an inclusive range, which must be
          entered with the following format:  YYYY-mm-dd TO YYYY-mm-dd.  Searching
          on a single date can be done by entering the same value for the start and
          end of the range.'
        required: false
        type: string
        format: string
      - name: size
        in: query
        description: The size parameter allows you to configure the number of results
          to be returned up to a maximum of 100.
        required: false
        type: string
        format: string
      - name: offset
        in: query
        description: The offset parameter defines the offset from the first result
          you want to fetch. Unless specified the API returns 10 results at a time.
        required: false
        type: string
        format: string
      tags:
      - ITA
      responses:
        200:
          description: An array of products
          schema:
            type: array
            items:
              $ref: '#/definitions/MarketIntelligence'
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":13:{s:6:\"Report\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":9:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Unique
  identifier assigned to the report.\";s:4:\"type\";s:6:\"string\";}s:9:\"countries\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Country
  category(ies) assigned to the report.\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Abstract
  of the report's content.\";s:4:\"type\";s:6:\"string\";}s:15:\"expiration_date\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Date
  when the report is no longer valid.\";s:4:\"type\";s:6:\"string\";}s:10:\"industries\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Industry
  categories assigned to the report.\";s:4:\"type\";s:6:\"string\";}s:14:\"ita_industries\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"The
  ITA industries associated with the report.\";s:4:\"type\";s:6:\"string\";}s:11:\"report_type\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"The
  report type can either be CCG or Best Market Report.\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Report
  title (default sort).\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"URL
  for the report.\";s:4:\"type\";s:6:\"string\";}}}s:4:\"List\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":28:{s:9:\"addresses\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Array
  of entity's complete addresses.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Entity's
  name.\";s:4:\"type\";s:6:\"string\";}s:9:\"alt_names\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Alias
  names used by the entity.\";s:4:\"type\";s:6:\"string\";}s:15:\"source_list_url\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Location
  of the original list.\";s:4:\"type\";s:6:\"string\";}s:22:\"source_information_url\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Information
  from the Source agency about the list.\";s:4:\"type\";s:6:\"string\";}s:3:\"ids\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"An
  array showing specific identification information of the entity.\";s:4:\"type\";s:6:\"string\";}s:12:\"citizenships\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Entity's
  citizenships.\";s:4:\"type\";s:6:\"string\";}s:14:\"dates_of_birth\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Entity's
  dates of birth.\";s:4:\"type\";s:6:\"string\";}s:13:\"nationalities\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Entity's
  nationalities.\";s:4:\"type\";s:6:\"string\";}s:15:\"places_of_birth\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Entity's
  places of birth.\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Entity's
  title.\";s:4:\"type\";s:6:\"string\";}s:13:\"entity_number\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Unique
  id assigned by the originating list.\";s:4:\"type\";s:6:\"string\";}s:10:\"start_date\";O:8:\"stdClass\":2:{s:11:\"description\";s:103:\"The
  effective date for the entity to be included on the list as defined by the Federal
  Register Notice.\";s:4:\"type\";s:6:\"string\";}s:8:\"end_date\";O:8:\"stdClass\":2:{s:11:\"description\";s:98:\"The
  date on which the entity's inclusion on the list will be lifted, waived, or will
  have expired.\";s:4:\"type\";s:6:\"string\";}s:23:\"federal_register_notice\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"The
  official source of information about the parties on this list.\";s:4:\"type\";s:6:\"string\";}s:19:\"license_requirement\";O:8:\"stdClass\":2:{s:11:\"description\";s:79:\"The
  license requirement as determined by the Export Administration Regulations.\";s:4:\"type\";s:6:\"string\";}s:14:\"license_policy\";O:8:\"stdClass\":2:{s:11:\"description\";s:79:\"The
  policy set forth in the Export Administration Regulations regarding denial.\";s:4:\"type\";s:6:\"string\";}s:7:\"remarks\";O:8:\"stdClass\":2:{s:11:\"description\";s:81:\"Additional
  remarks or notes regarding the company, entity, or person on the list.\";s:4:\"type\";s:6:\"string\";}s:14:\"standard_order\";O:8:\"stdClass\":2:{s:11:\"description\";s:124:\"Whether
  or not (Y/N) the standard order applies to the Denied Party as defined by the Bureau
  of Industry and Security (BIS).\";s:4:\"type\";s:6:\"string\";}s:8:\"programs\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Agency
  programs related to the entity on the list.\";s:4:\"type\";s:6:\"string\";}s:6:\"source\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"The
  name of the source list where this entity is listed.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Classification
  of the entity.\";s:4:\"type\";s:6:\"string\";}s:9:\"call_sign\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Call
  sign of the vessel.\";s:4:\"type\";s:6:\"string\";}s:24:\"gross_registered_tonnage\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"The
  gross weight in tons registered for the vessel.\";s:4:\"type\";s:6:\"string\";}s:13:\"gross_tonnage\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"The
  gross weight in tons not-registered for the vessel.\";s:4:\"type\";s:6:\"string\";}s:11:\"vessel_flag\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Country
  flag of the vessel.\";s:4:\"type\";s:6:\"string\";}s:12:\"vessel_owner\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Owner/Operator
  of the vessel.\";s:4:\"type\";s:6:\"string\";}s:11:\"vessel_type\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Describes
  the type of vessel (ferry, bulk cargo, tug).\";s:4:\"type\";s:6:\"string\";}}}s:5:\"Event\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":27:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Unique
  identifier for event.\";s:4:\"type\";s:6:\"string\";}s:10:\"event_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Name
  given for the event.\";s:4:\"type\";s:6:\"string\";}s:10:\"event_type\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"The
  type of the event.\";s:4:\"type\";s:6:\"string\";}s:10:\"start_date\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Start
  date of the event.\";s:4:\"type\";s:6:\"string\";}s:10:\"start_time\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  start time of the event.\";s:4:\"type\";s:6:\"string\";}s:8:\"end_date\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  date the event will end.\";s:4:\"type\";s:6:\"string\";}s:8:\"end_time\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  end time of the event.\";s:4:\"type\";s:6:\"string\";}s:9:\"time_zone\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  time zone of the event\u2019s location.\";s:4:\"type\";s:6:\"string\";}s:4:\"cost\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Cost
  of the event.\";s:4:\"type\";s:6:\"string\";}s:13:\"cost_currency\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  currency of the cost value.\";s:4:\"type\";s:6:\"string\";}s:17:\"registration_link\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"URL
  for the event's registration page.\";s:4:\"type\";s:6:\"string\";}s:18:\"registration_title\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Title
  of the registration URL.\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Text
  describing the event.\";s:4:\"type\";s:6:\"string\";}s:10:\"industries\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Industry
  categories assigned to the event.\";s:4:\"type\";s:6:\"string\";}s:14:\"ita_industries\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"The
  ITA industries associated with the assigned industries.\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Link
  to the event's web page.\";s:4:\"type\";s:6:\"string\";}s:6:\"venues\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Array
  of venue information.\";s:4:\"type\";s:6:\"string\";}s:8:\"contacts\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Array
  of contact information.\";s:4:\"type\";s:6:\"string\";}s:10:\"first_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  event contact\u2019s first name.\";s:4:\"type\";s:6:\"string\";}s:9:\"last_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"The
  event contact\u2019s last name.\";s:4:\"type\";s:6:\"string\";}s:4:\"post\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  event contact\u2019s location.\";s:4:\"type\";s:6:\"string\";}s:12:\"person_title\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  event contact\u2019s title.\";s:4:\"type\";s:6:\"string\";}s:5:\"phone\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  event contact\u2019s phone number.\";s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"The
  event contact\u2019s email address.\";s:4:\"type\";s:6:\"string\";}s:6:\"source\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Agency
  providing the event information.\";s:4:\"type\";s:6:\"string\";}s:13:\"trade_regions\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"The
  trade regions associated with the event.\";s:4:\"type\";s:6:\"string\";}s:13:\"world_regions\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"The
  world regions associated with the event.\";s:4:\"type\";s:6:\"string\";}}}s:4:\"Lead\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":48:{s:7:\"country\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"Country
  where the procurement opportunity is taking place.\";s:4:\"type\";s:6:\"string\";}s:12:\"country_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Full
  country name.\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Title
  of the lead.\";s:4:\"type\";s:6:\"string\";}s:16:\"reference_number\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  lead's reference number.\";s:4:\"type\";s:6:\"string\";}s:15:\"contract_number\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Contract
  number for the opportunity.\";s:4:\"type\";s:6:\"string\";}s:14:\"project_number\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Number
  for the opportunity.\";s:4:\"type\";s:6:\"string\";}s:12:\"publish_date\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Date
  lead was posted.\";s:4:\"type\";s:6:\"string\";}s:8:\"end_date\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Closing
  date for the lead.\";s:4:\"type\";s:6:\"string\";}s:20:\"publish_date_amended\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Amended
  publish date for the lead.\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"Status
  of the lead (note this API only shows open leads).\";s:4:\"type\";s:6:\"string\";}s:8:\"industry\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"Industry
  category assigned to the opportunity.\";s:4:\"type\";s:6:\"string\";}s:14:\"ita_industries\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"ITA
  industry terms associated with the assigned industry.\";s:4:\"type\";s:6:\"string\";}s:12:\"project_size\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Budget
  for project in U.S. dollars.\";s:4:\"type\";s:6:\"string\";}s:18:\"min_contract_value\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Minimum
  value of the lead (in U.K. pounds).\";s:4:\"type\";s:6:\"string\";}s:18:\"max_contract_value\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Maximum
  value of the lead (in U.K. pounds).\";s:4:\"type\";s:6:\"string\";}s:17:\"specific_location\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Location
  of the opportunity.\";s:4:\"type\";s:6:\"string\";}s:16:\"specific_address\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Address
  of the opportunity's location.\";s:4:\"type\";s:6:\"string\";}s:11:\"notice_type\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Type
  of contract.\";s:4:\"type\";s:6:\"string\";}s:15:\"trade_agreement\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Relevant
  trade agreement for the contract.\";s:4:\"type\";s:6:\"string\";}s:8:\"bid_type\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  criteria for the contract.\";s:4:\"type\";s:6:\"string\";}s:14:\"funding_source\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Funding
  source of the project.\";s:4:\"type\";s:6:\"string\";}s:16:\"borrowing_entity\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Bank
  funding the project.\";s:4:\"type\";s:6:\"string\";}s:32:\"competitive_procurement_strategy\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Bidding
  criteria for respondents.\";s:4:\"type\";s:6:\"string\";}s:36:\"non_competitive_procurement_strategy\";O:8:\"stdClass\":2:{s:11:\"description\";s:47:\"States
  whether it is a competitive procurement.\";s:4:\"type\";s:6:\"string\";}s:24:\"procurement_organization\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Agency
  responsible for the contract.\";s:4:\"type\";s:6:\"string\";}s:18:\"procurement_office\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Office
  responsible of the contract.\";s:4:\"type\";s:6:\"string\";}s:26:\"procurement_office_address\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Address
  of the procurement office.\";s:4:\"type\";s:6:\"string\";}s:32:\"procurement_organization_address\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Address
  of the procurement organization.\";s:4:\"type\";s:6:\"string\";}s:19:\"classification_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Code
  that classifies the lead.\";s:4:\"type\";s:6:\"string\";}s:19:\"implementing_entity\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Agency
  responsible for the implementation.\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Description
  of the opportunity.\";s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Keywords
  associated with the opportunity.\";s:4:\"type\";s:6:\"string\";}s:7:\"contact\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Point
  of contact.\";s:4:\"type\";s:6:\"string\";}s:4:\"urls\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"URLs
  that pertain to the bid.\";s:4:\"type\";s:6:\"string\";}s:6:\"source\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Entity
  providing the trade lead information.\";s:4:\"type\";s:6:\"string\";}s:11:\"lead_source\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Source
  of the trade lead, typically an organization.\";s:4:\"type\";s:6:\"string\";}s:8:\"comments\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Comments
  about the project.\";s:4:\"type\";s:6:\"string\";}s:18:\"submitting_officer\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Contract
  officer name.\";s:4:\"type\";s:6:\"string\";}s:26:\"submitting_officer_contact\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Contract
  officer email.\";s:4:\"type\";s:6:\"string\";}s:10:\"categories\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"Array
  of categories that describe the procurement opportunity.\";s:4:\"type\";s:6:\"string\";}s:6:\"agency\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Agency
  responsible for the contract.\";s:4:\"type\";s:6:\"string\";}s:14:\"contract_value\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Value
  of the lead.\";s:4:\"type\";s:6:\"string\";}s:9:\"parent_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Procurement
  opportunity that this lead is related to.\";s:4:\"type\";s:6:\"string\";}s:18:\"procurement_method\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Describes
  who may respond to the lead.\";s:4:\"type\";s:6:\"string\";}s:5:\"topic\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"Short
  description of the category that the lead falls under\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"URL
  that pertains to the bid.\";s:4:\"type\";s:6:\"string\";}s:13:\"trade_regions\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  trade regions associated with the lead.\";s:4:\"type\";s:6:\"string\";}s:13:\"world_regions\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  world regions associated with the lead.\";s:4:\"type\";s:6:\"string\";}}}s:4:\"Rate\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":24:{s:6:\"source\";O:8:\"stdClass\":2:{s:11:\"description\";s:95:\"Two
  letter code for the \u201Creporter\u201D country with whom the U.S. has the Free
  Trade Agreement.\";s:4:\"type\";s:6:\"string\";}s:9:\"source_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Unique
  identifier.\";s:4:\"type\";s:6:\"string\";}s:11:\"tariff_line\";O:8:\"stdClass\":2:{s:11:\"description\";s:95:\"Product's
  Harmonized System (HS) code for the product according to the reporter's nomenclature.\";s:4:\"type\";s:6:\"string\";}s:22:\"subheading_description\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"English
  description at the subheading level (6-digit HS code).\";s:4:\"type\";s:6:\"string\";}s:4:\"hs_6\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"6-digit
  HS code for the product.\";s:4:\"type\";s:6:\"string\";}s:9:\"base_rate\";O:8:\"stdClass\":2:{s:11:\"description\";s:147:\"The
  numeric tariff rate from which tariff reductions are calculated. Typically, this
  is the applied tariff rate at the time the FTA was negotiated.\";s:4:\"type\";s:6:\"string\";}s:13:\"base_rate_alt\";O:8:\"stdClass\":2:{s:11:\"description\";s:166:\"The
  non-numeric (specific) tariff rate from which the tariff reductions are calculated.
  Typically, this is the applied tariff rate at the time the FTA was negotiated.\";s:4:\"type\";s:6:\"string\";}s:10:\"final_year\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"The
  year the tariff is eliminated under the FTA.\";s:4:\"type\";s:6:\"string\";}s:17:\"tariff_rate_quota\";O:8:\"stdClass\":2:{s:11:\"description\";s:80:\"Flag
  noting tariff treatment for products within quota (2) and out of quota (1).\";s:4:\"type\";s:6:\"string\";}s:22:\"tariff_rate_quota_note\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"Text
  note about the tariff-rate quota (TRQ) applicable to the product.\";s:4:\"type\";s:6:\"string\";}s:17:\"tariff_eliminated\";O:8:\"stdClass\":2:{s:11:\"description\";s:92:\"Flag
  noting whether or not the tariff is eventually eliminated. \u201CFalse\u201D= not
  eliminated.\";s:4:\"type\";s:6:\"string\";}s:12:\"partner_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Exporting
  country's code.\";s:4:\"type\";s:6:\"string\";}s:13:\"reporter_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Importing
  country's code.\";s:4:\"type\";s:6:\"string\";}s:14:\"staging_basket\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"The
  agreed tariff phase-out period for the product under the FTA.\";s:4:\"type\";s:6:\"string\";}s:18:\"partner_start_year\";O:8:\"stdClass\":2:{s:11:\"description\";s:87:\"Year
  the agreement entered into force for the partner. (The first year of tariff cuts).\";s:4:\"type\";s:6:\"string\";}s:19:\"reporter_start_year\";O:8:\"stdClass\":2:{s:11:\"description\";s:88:\"Year
  the agreement entered into force for the reporter. (The first year of tariff cuts).\";s:4:\"type\";s:6:\"string\";}s:22:\"partner_agreement_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Agreement
  name for the partner country.\";s:4:\"type\";s:6:\"string\";}s:23:\"reporter_agreement_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Agreement
  name for the reporter country.\";s:4:\"type\";s:6:\"string\";}s:10:\"quota_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:107:\"Description
  for products subject to tariff-rate quotas. (Describes in-quota and out-of-quota
  tariff lines).\";s:4:\"type\";s:6:\"string\";}s:9:\"rule_text\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"Text
  describing the applicable rule of origin for the product.\";s:4:\"type\";s:6:\"string\";}s:9:\"link_text\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"Text
  describing URL to more detailed rule of origin information.\";s:4:\"type\";s:6:\"string\";}s:8:\"link_url\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"URL
  to more detailed rule of origin information.\";s:4:\"type\";s:6:\"string\";}s:12:\"annual_rates\";O:8:\"stdClass\":2:{s:11:\"description\";s:76:\"Numeric
  year-by-year tariff rates under the FTA as the tariff is eliminated.\";s:4:\"type\";s:6:\"string\";}s:16:\"annual_rates_alt\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"Non-numeric
  (specific) year-by-year tariff rates under the FTA.\";s:4:\"type\";s:6:\"string\";}}}s:3:\"FAQ\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":11:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Unique
  identifier for the FAQ.\";s:4:\"type\";s:6:\"string\";}s:8:\"question\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"The
  question being addressed by the FAQ.\";s:4:\"type\";s:6:\"string\";}s:6:\"answer\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  answer portion of the FAQ.\";s:4:\"type\";s:6:\"string\";}s:20:\"first_published_date\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  date the FAQ was first published.\";s:4:\"type\";s:6:\"string\";}s:19:\"last_published_date\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  date the FAQ was last updated.\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"The
  URL where the published FAQ can be viewed.\";s:4:\"type\";s:6:\"string\";}s:10:\"industries\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Industry
  categories assigned to the FAQ.\";s:4:\"type\";s:6:\"string\";}s:6:\"topics\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Topic
  categories assigned to the FAQ.\";s:4:\"type\";s:6:\"string\";}s:9:\"countries\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Countries
  relevent to the FAQ.\";s:4:\"type\";s:6:\"string\";}s:13:\"trade_regions\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Trade
  regions relevent to the FAQ.\";s:4:\"type\";s:6:\"string\";}s:13:\"world_regions\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"World
  regions relevent to the FAQ.\";s:4:\"type\";s:6:\"string\";}}}s:6:\"Office\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":12:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Unique
  identifier for post.\";s:4:\"type\";s:6:\"string\";}s:4:\"post\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Name
  of the post (Default sort).\";s:4:\"type\";s:6:\"string\";}s:11:\"office_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Office
  name.\";s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"State
  abbreviation, for domestic offices.\";s:4:\"type\";s:6:\"string\";}s:4:\"city\";O:8:\"stdClass\":2:{s:11:\"description\";s:5:\"City.\";s:4:\"type\";s:6:\"string\";}s:7:\"address\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Street
  address of office.\";s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":2:{s:11:\"description\";s:8:\"Country.\";s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Office
  email address.\";s:4:\"type\";s:6:\"string\";}s:3:\"fax\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Fax
  number.\";s:4:\"type\";s:6:\"string\";}s:17:\"mail_instructions\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Snail
  mail instructions.\";s:4:\"type\";s:6:\"string\";}s:5:\"phone\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Office
  phone number.\";s:4:\"type\";s:6:\"string\";}s:9:\"post_type\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Type
  of post (domestic or international).\";s:4:\"type\";s:6:\"string\";}}}s:7:\"Article\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":31:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Unique
  identifier for the article.\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  title of the article.\";s:4:\"type\";s:6:\"string\";}s:11:\"short_title\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"A
  shortened title for the article.\";s:4:\"type\";s:6:\"string\";}s:7:\"summary\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"A
  summary of the article's content.\";s:4:\"type\";s:6:\"string\";}s:13:\"creation_date\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  date of the article's creation.\";s:4:\"type\";s:6:\"string\";}s:12:\"release_date\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  date of the article's release.\";s:4:\"type\";s:6:\"string\";}s:15:\"expiration_date\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"The
  date of the article's expiration.\";s:4:\"type\";s:6:\"string\";}s:15:\"source_agencies\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"The
  article's source agencies.\";s:4:\"type\";s:6:\"string\";}s:21:\"source_business_units\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"The
  business units for each source agency.\";s:4:\"type\";s:6:\"string\";}s:14:\"source_offices\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"The
  offices for each source business unit.\";s:4:\"type\";s:6:\"string\";}s:9:\"evergreen\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"Flag
  to designate \u201Ctimeless\u201D articles, always topically relevant.\";s:4:\"type\";s:6:\"string\";}s:7:\"content\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"The
  body of the article.\";s:4:\"type\";s:6:\"string\";}s:7:\"keyword\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"A
  list of keywords for the article assigned by the author.\";s:4:\"type\";s:6:\"string\";}s:13:\"export_phases\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"The
  export phases assigned to the article.\";s:4:\"type\";s:6:\"string\";}s:10:\"industries\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  industries assigned to the article.\";s:4:\"type\";s:6:\"string\";}s:9:\"countries\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"The
  countries associated with the article.\";s:4:\"type\";s:6:\"string\";}s:6:\"topics\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  topics assigned to the article.\";s:4:\"type\";s:6:\"string\";}s:10:\"sub_topics\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"The
  sub-topics assigned to the article for each topic.\";s:4:\"type\";s:6:\"string\";}s:11:\"geo_regions\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"The
  world regions covered by the article's content.\";s:4:\"type\";s:6:\"string\";}s:14:\"geo_subregions\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"The
  world sub-regions associated with the article for each geo region.\";s:4:\"type\";s:6:\"string\";}s:13:\"trade_regions\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"The
  trade regions covered by the article's content.\";s:4:\"type\";s:6:\"string\";}s:14:\"trade_programs\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"The
  trade programs covered by the article's content.\";s:4:\"type\";s:6:\"string\";}s:17:\"trade_initiatives\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"The
  trade initiatives covered by the article's content.\";s:4:\"type\";s:6:\"string\";}s:18:\"seo_metadata_title\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Title
  metadata for the article.\";s:4:\"type\";s:6:\"string\";}s:24:\"seo_metadata_description\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Description
  metadata for the article.\";s:4:\"type\";s:6:\"string\";}s:20:\"seo_metadata_keyword\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Keyword
  metadata for the article.\";s:4:\"type\";s:6:\"string\";}s:9:\"trade_url\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"The
  article's export.gov URL.\";s:4:\"type\";s:6:\"string\";}s:8:\"file_url\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  URLs for files included in the article.\";s:4:\"type\";s:6:\"string\";}s:9:\"image_url\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"The
  URLs for images included in the article.\";s:4:\"type\";s:6:\"string\";}s:15:\"url_html_source\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"The
  URL for the HTML of the article's source.\";s:4:\"type\";s:6:\"string\";}s:14:\"url_xml_source\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"The
  URL for the XML of the article's source.\";s:4:\"type\";s:6:\"string\";}}}s:6:\"Center\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":12:{s:8:\"zip_code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"5-digit
  U.S. ZIP Code.\";}s:8:\"zip_city\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"Name
  of the city corresponding to the ZIP code.\";}s:4:\"post\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"Name
  of the post (default sort).\";}s:11:\"office_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Office
  name.\";}s:7:\"country\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:70:\"This
  will always be US since this is a list of ITA offices in the U.S.\";}s:5:\"state\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"State
  abbreviation.\";}s:9:\"post_city\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:54:\"Name
  of the city corresponding to the office location.\";}s:7:\"address\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"Street
  address of office.\";}s:5:\"email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"Office
  email address.\";}s:3:\"fax\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Fax
  number.\";}s:17:\"mail_instructions\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"Snail
  mail instructions.\";}s:5:\"phone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"Office
  phone number.\";}}}s:8:\"Provider\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":11:{s:17:\"ita_contact_email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Email
  for ITA contact.\";}s:12:\"company_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"Name
  of company providing the service.\";}s:13:\"company_phone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"Phone
  number for company.\";}s:15:\"company_address\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"Street,
  city, and country address for company.\";}s:15:\"company_website\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"URL
  for company site.\";}s:19:\"company_description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"Description
  of company.\";}s:13:\"company_email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Email
  for contact at company.\";}s:10:\"ita_office\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"Name
  of ITA office that has provided company information.\";}s:13:\"contact_title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"Title
  of contact at company.\";}s:12:\"contact_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"Name
  of contact at company.\";}s:8:\"category\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"Category
  of services that company provides.\";}}}s:8:\"Taxonomy\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"The
  id assigned to the term.\";}s:5:\"label\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"The
  name of the given taxonomy term.\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:64:\"The
  high level taxonomy type under which the given term belongs.\";}s:12:\"sub_class_of\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:69:\"An
  array containing hashes with the id and label of each parent term.\";}s:11:\"annotations\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:92:\"A
  hash containing key/array pairs of object properties. Each array contains id/label
  hashes.\";}s:19:\"datatype_properties\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:94:\"A
  hash containing key/array pairs of datatype properties. Each array contains id/label
  hashes.\";}}}s:9:\"DeMinimis\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":7:{s:7:\"country\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Name
  of the country\";s:4:\"type\";s:6:\"string\";}s:9:\"countries\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"ISO-2
  country code\";s:4:\"type\";s:6:\"string\";}s:16:\"de_minimis_value\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"De
  Minimis value for that country\";s:4:\"type\";s:6:\"string\";}s:19:\"de_minimis_currency\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"ISO-3
  currency code for the country's De Minimis\";s:4:\"type\";s:6:\"string\";}s:10:\"vat_amount\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Value
  Added Tax amount\";s:4:\"type\";s:6:\"string\";}s:12:\"vat_currency\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"ISO-3
  currency code for the country's VAT\";s:4:\"type\";s:6:\"string\";}s:5:\"notes\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Notes
  for each De Minimis and VAT amount\";s:4:\"type\";s:6:\"string\";}}}s:18:\"MarketIntelligence\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":14:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Unique
  identifier for the article.\";s:4:\"type\";s:6:\"string\";}s:6:\"source\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"The
  source type of the article.\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  title of the article.\";s:4:\"type\";s:6:\"string\";}s:7:\"summary\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"A
  short summary of the article's content.\";s:4:\"type\";s:6:\"string\";}s:20:\"first_published_date\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"The
  date that the article of first published.\";s:4:\"type\";s:6:\"string\";}s:19:\"last_published_date\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  article's most recent publish date.\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:10:\"references\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:8:\"url_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"A
  unique URL indentifier for the article.\";s:4:\"type\";s:6:\"string\";}s:10:\"industries\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"The
  ITA industry terms associated with the article.\";s:4:\"type\";s:6:\"string\";}s:6:\"topics\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"The
  ITA topic terms associated with the article.\";s:4:\"type\";s:6:\"string\";}s:9:\"countries\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"The
  countries relevant to the article.\";s:4:\"type\";s:6:\"string\";}s:13:\"trade_regions\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"The
  trade regions relevant to the article.\";s:4:\"type\";s:6:\"string\";}s:13:\"world_regions\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"The
  world regions relevant to the article.\";s:4:\"type\";s:6:\"string\";}}}}"
...
