---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Allows the viewing
  and management of entitlements\";s:7:\"version\";s:6:\"v1.0.0\";s:5:\"title\";s:25:\"Holdings
  Entitlement APIs\";}"
host: api.server.com
basePath: /api/v1.0.0/
paths:
  /holdings/entitlements/{entitlementId}:
    get:
      operationId: getSecurityEntitlement
      produces:
      - application/json
      parameters:
      - name: entitlementId
        in: path
        description: The identifier of the entitlement
        required: true
        type: string
      - name: credentials
        in: query
        required: false
        type: string
      - name: companyId
        in: query
        required: false
        type: string
      responses:
        200:
          description: SecurityEntitlementResponse
          schema:
            $ref: '#/definitions/holdingsSecurityEntitlementResponse'
        default:
          description: ScreenErrorResponse
          schema:
            $ref: '#/definitions/ScreenErrorResponse'
    put:
      operationId: updateSecurityEntitlement
      produces:
      - application/json
      parameters:
      - name: entitlementId
        in: path
        description: The identifier of the entitlement
        required: true
        type: string
      - in: body
        name: payload
        description: body Payload
        required: true
        schema:
          $ref: '#/definitions/holdingsSecurityEntitlement'
      - name: validate_only
        in: query
        description: The identifier to indicate if it is set to only validate or not.
        required: false
        type: boolean
      - name: credentials
        in: query
        required: false
        type: string
      - name: companyId
        in: query
        required: false
        type: string
      responses:
        200:
          description: SecurityEntitlementResponse
          schema:
            $ref: '#/definitions/holdingsSecurityEntitlementResponse'
        default:
          description: ScreenErrorResponse
          schema:
            $ref: '#/definitions/ScreenErrorResponse'
schemes:
- http
- https
definitions: !php/object "O:8:\"stdClass\":10:{s:13:\"PayloadHeader\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"override\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"overrideDetails\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"The
  identifier of the override\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"The
  actual override message\";}s:12:\"responseCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"The
  user input to accept/reject the override.\";}}}}}}s:5:\"audit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"versionNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  CURR.NO. of the record\";}}}}}s:27:\"holdingsSecurityEntitlement\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"header\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/PayloadHeader\";}s:4:\"body\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/holdingsSecurityEntitlementBody\";}}s:11:\"description\";s:27:\"holdingsSecurityEntitlement\";}s:31:\"holdingsSecurityEntitlementBody\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":21:{s:13:\"optionDetails\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":14:{s:17:\"optionDescription\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"The
  description of the Option\";}s:14:\"optionQuantity\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:32:\"The
  quantity of the option trade\";}s:17:\"entitlementAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:110:\"The
  amount resultiung from the exceution of a corporate action that the portfolio owner
  is entitled to receive\";}s:14:\"optionCurrency\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  currency of the option\";}s:13:\"defaultOption\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:107:\"Indicates
  whether the option will be selected by default if no instruction is provided by
  the account owner\";}s:9:\"accountId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:132:\"The
  identifier of the account. Often referred to as the account number, yet for consistency
  this is always referred to as accountId.\";}s:15:\"sourceTaxAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:27:\"Holds
  the source tax amount\";}s:14:\"localTaxAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:26:\"Holds
  the local tax amount\";}s:16:\"commissionAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:32:\"The
  amount of commission charged\";}s:12:\"chargeAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:61:\"Holds
  the charge amount equivalent in charge account currency\";}s:9:\"netAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:22:\"Holds
  the total amount\";}s:17:\"optionReplyByDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:50:\"The
  CA cut-off date to choose a particular option.\";}s:17:\"optionReplyByTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:50:\"The
  CA cut-off time to choose a particular option.\";}s:20:\"newInstrumentDetails\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:15:\"newInstrumentId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  identifier of a new instrument \";}s:8:\"quantity\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:20:\"The
  nominal quantity\";}s:5:\"ratio\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:5:\"price\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:90:\"The
  Price at which the NOMINAL.AMOUNT of the Security is to be valued for the transaction.\";}}}}}}}s:25:\"sellBuyOptionDescriptions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:38:\"The
  description of the sell/buy Option\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:24:\"sellBuyOptionDescription\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"The
  description of the sell/buy Option\";}}}}s:15:\"localTaxAmounts\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:26:\"Holds
  the local tax amount\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"localTaxAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:26:\"Holds
  the local tax amount\";}}}}s:12:\"depositoryId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:80:\"The
  identifier of the depository. Must be a customerSecurity of type depository.\";}s:11:\"portfolioId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"The
  identifier of the portfolio\";}s:12:\"instrumentId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"The
  identifier of the instrument\";}s:9:\"accountId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:132:\"The
  identifier of the account. Often referred to as the account number, yet for consistency
  this is always referred to as accountId.\";}s:17:\"qualifyingHolding\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:48:\"The
  Portfolio's holding in the original security\";}s:13:\"eventQuantity\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:0:\"\";}s:8:\"currency\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:9:\"valueDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:25:\"The
  applicable value date\";}s:14:\"optionSelected\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:62:\"The
  option selected from the total number of options available\";}s:21:\"overOptionDescription\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:52:\"Option
  description or indicator for oversubscription\";}s:21:\"overSubscriptionPrice\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:63:\"Holds
  the price at which Over subscribed quantity is to be sold\";}s:22:\"overSubscribedQuantity\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:65:\"Holds
  Amount of additional shares that the user want to subscribe\";}s:15:\"accountCurrency\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"The
  currency of the account\";}s:15:\"sourceTaxAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:27:\"Holds
  the source tax amount\";}s:16:\"commissionAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:32:\"The
  amount of commission charged\";}s:26:\"netAmountInAccountCurrency\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:60:\"The
  net amount due to or from the Customer after +/- Charges\";}s:9:\"optStatus\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"Indicates
  the current status of the ENTITLEMENT\";}s:13:\"eventCurrency\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"Currency
  in which the event occurs\";}}}s:12:\"ScreenHeader\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"The
  Identifier of the record created\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"The
  status of the record\";}s:17:\"transactionStatus\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"The
  status of the transaction\";}s:5:\"audit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"T24_time\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:29:\"Time
  taken to response by T24\";}s:13:\"versionNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  CURR.NO. of the record\";}s:10:\"parse_time\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:40:\"Time
  taken to parse the response by IRIS\";}}}}}s:35:\"holdingsSecurityEntitlementResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"header\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ScreenHeader\";}s:4:\"body\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:53:\"#/definitions/holdingsSecurityEntitlementResponseBody\";}}s:11:\"description\";s:35:\"holdingsSecurityEntitlementResponse\";}s:39:\"holdingsSecurityEntitlementResponseBody\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":21:{s:13:\"optionDetails\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":14:{s:17:\"optionDescription\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"The
  description of the Option\";}s:14:\"optionQuantity\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:32:\"The
  quantity of the option trade\";}s:17:\"entitlementAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:110:\"The
  amount resultiung from the exceution of a corporate action that the portfolio owner
  is entitled to receive\";}s:14:\"optionCurrency\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  currency of the option\";}s:13:\"defaultOption\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:107:\"Indicates
  whether the option will be selected by default if no instruction is provided by
  the account owner\";}s:9:\"accountId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:132:\"The
  identifier of the account. Often referred to as the account number, yet for consistency
  this is always referred to as accountId.\";}s:15:\"sourceTaxAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:27:\"Holds
  the source tax amount\";}s:14:\"localTaxAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:26:\"Holds
  the local tax amount\";}s:16:\"commissionAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:32:\"The
  amount of commission charged\";}s:12:\"chargeAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:61:\"Holds
  the charge amount equivalent in charge account currency\";}s:9:\"netAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:22:\"Holds
  the total amount\";}s:17:\"optionReplyByDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:50:\"The
  CA cut-off date to choose a particular option.\";}s:17:\"optionReplyByTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:50:\"The
  CA cut-off time to choose a particular option.\";}s:20:\"newInstrumentDetails\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:15:\"newInstrumentId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  identifier of a new instrument \";}s:8:\"quantity\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:20:\"The
  nominal quantity\";}s:5:\"ratio\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:5:\"price\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:90:\"The
  Price at which the NOMINAL.AMOUNT of the Security is to be valued for the transaction.\";}}}}}}}s:25:\"sellBuyOptionDescriptions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:38:\"The
  description of the sell/buy Option\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:24:\"sellBuyOptionDescription\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"The
  description of the sell/buy Option\";}}}}s:15:\"localTaxAmounts\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:26:\"Holds
  the local tax amount\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"localTaxAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:26:\"Holds
  the local tax amount\";}}}}s:12:\"depositoryId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:80:\"The
  identifier of the depository. Must be a customerSecurity of type depository.\";}s:11:\"portfolioId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"The
  identifier of the portfolio\";}s:12:\"instrumentId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"The
  identifier of the instrument\";}s:9:\"accountId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:132:\"The
  identifier of the account. Often referred to as the account number, yet for consistency
  this is always referred to as accountId.\";}s:17:\"qualifyingHolding\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:48:\"The
  Portfolio's holding in the original security\";}s:13:\"eventQuantity\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:0:\"\";}s:8:\"currency\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:9:\"valueDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:25:\"The
  applicable value date\";}s:14:\"optionSelected\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:62:\"The
  option selected from the total number of options available\";}s:21:\"overOptionDescription\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:52:\"Option
  description or indicator for oversubscription\";}s:21:\"overSubscriptionPrice\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:63:\"Holds
  the price at which Over subscribed quantity is to be sold\";}s:22:\"overSubscribedQuantity\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:65:\"Holds
  Amount of additional shares that the user want to subscribe\";}s:15:\"accountCurrency\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"The
  currency of the account\";}s:15:\"sourceTaxAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:27:\"Holds
  the source tax amount\";}s:16:\"commissionAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:32:\"The
  amount of commission charged\";}s:26:\"netAmountInAccountCurrency\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:60:\"The
  net amount due to or from the Customer after +/- Charges\";}s:9:\"optStatus\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"Indicates
  the current status of the ENTITLEMENT\";}s:13:\"eventCurrency\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"Currency
  in which the event occurs\";}}}s:11:\"ErrorHeader\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"The
  Identifier of the record created\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"The
  status of the record\";}s:17:\"transactionStatus\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"The
  status of the transaction\";}s:5:\"audit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"T24_time\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:29:\"Time
  taken to response by T24\";}s:13:\"versionNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  CURR.NO. of the record\";}s:10:\"parse_time\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:40:\"Time
  taken to parse the response by IRIS\";}}}}}s:12:\"overrideBody\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"overrideDetails\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"The
  identifier of the override\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"The
  actual override message\";}}}}}}s:19:\"ScreenErrorResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"header\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ErrorHeader\";}s:5:\"error\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/ScreenErrorResponseBody\";}s:8:\"override\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/overrideBody\";}}s:11:\"description\";s:19:\"ScreenErrorResponse\";}s:23:\"ScreenErrorResponseBody\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"errorDetails\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"fieldName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"The
  name of the field\";}s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  identifier of the error message\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"The
  actual t24 error message\";}}}}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"The
  identifier of error type\";}}}}"
...
