---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:11:\"description\";s:103:\"Allows the viewing
  of Options of the Entitlement records and the Entitlements records awaiting approval\";s:7:\"version\";s:6:\"v1.0.0\";s:5:\"title\";s:32:\"Holdings
  Entitlement Report APIs\";}"
host: api.server.com
basePath: /api/v1.0.0/
paths:
  /holdings/entitlements/entitlementOptions:
    get:
      operationId: getPendingEntitlements
      produces:
      - application/json
      parameters:
      - name: diaryId
        in: query
        description: The identifier of the diary
        required: false
        type: string
      - name: portfolioId
        in: query
        description: The identifier of the portfolio
        required: false
        type: string
      - name: eventType
        in: query
        description: Event Type of the DIARY
        required: false
        type: string
      - name: accountOfficerId
        in: query
        description: The identifier of the account officer
        required: false
        type: string
      - name: page_size
        in: query
        description: The total number of records per page
        required: false
        type: integer
        format: int32
      - name: page_start
        in: query
        description: The record from which the response should be displayed
        required: false
        type: integer
        format: int32
      - name: page_token
        in: query
        description: Unique id expected to get as part of response from t24 on every
          enquiry request.
        required: false
        type: string
      - name: credentials
        in: query
        required: false
        type: string
      - name: companyId
        in: query
        required: false
        type: string
      responses:
        200:
          description: PendingEntitlementsResponse
          schema:
            $ref: '#/definitions/holdingsPendingEntitlementsResponse'
        default:
          description: QueryErrorResponse
          schema:
            $ref: '#/definitions/QueryErrorResponse'
  /holdings/entitlementApprovals:
    get:
      operationId: getEntitlementApprovals
      produces:
      - application/json
      parameters:
      - name: diaryId
        in: query
        description: The identifier of the diary
        required: false
        type: string
      - name: portfolioId
        in: query
        description: The identifier of the portfolio
        required: false
        type: string
      - name: eventType
        in: query
        description: Event Type of the DIARY
        required: false
        type: string
      - name: accountOfficerId
        in: query
        description: The identifier of the account officer
        required: false
        type: string
      - name: page_size
        in: query
        description: The total number of records per page
        required: false
        type: integer
        format: int32
      - name: page_start
        in: query
        description: The record from which the response should be displayed
        required: false
        type: integer
        format: int32
      - name: page_token
        in: query
        description: Unique id expected to get as part of response from t24 on every
          enquiry request.
        required: false
        type: string
      - name: credentials
        in: query
        required: false
        type: string
      - name: companyId
        in: query
        required: false
        type: string
      responses:
        200:
          description: EntitlementApprovalsResponse
          schema:
            $ref: '#/definitions/holdingsEntitlementApprovalsResponse'
        default:
          description: QueryErrorResponse
          schema:
            $ref: '#/definitions/QueryErrorResponse'
schemes:
- http
- https
definitions: !php/object "O:8:\"stdClass\":8:{s:11:\"QueryHeader\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:5:\"audit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"T24_time\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:29:\"Time
  taken to response by T24\";}s:13:\"versionNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  CURR.NO. of the record\";}s:10:\"parse_time\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:40:\"Time
  taken to parse the response by IRIS\";}}}s:9:\"page_size\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:36:\"The
  total number of records per page\";}s:10:\"page_start\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:54:\"The
  record from which the response should be displayed\";}s:10:\"total_size\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:35:\"The
  total number of records present\";}s:10:\"page_token\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:79:\"Unique
  id expected to get as part of response from t24 on every enquiry request\";}}}s:35:\"holdingsPendingEntitlementsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"header\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/QueryHeader\";}s:4:\"body\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:53:\"#/definitions/holdingsPendingEntitlementsResponseBody\";}}s:11:\"description\";s:35:\"holdingsPendingEntitlementsResponse\";}s:39:\"holdingsPendingEntitlementsResponseBody\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":22:{s:13:\"entitlementId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"The
  identifier of the entitlement\";s:9:\"maxLength\";i:44;}s:11:\"portfolioId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"The
  identifier of the portfolio\";s:9:\"maxLength\";i:14;}s:13:\"portfolioName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  name that is displayed for the portfolio\";s:9:\"maxLength\";i:30;}s:10:\"customerId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:30:\"The
  identifier of the customer\";}s:12:\"customerName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"The
  name that is displayed for the customer\";s:9:\"maxLength\";i:30;}s:12:\"instrumentId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"The
  identifier of the instrument\";s:9:\"maxLength\";i:12;}s:14:\"instrumentName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:72:\"The
  name that is displayed for the instrument, taken from securityMaster\";s:9:\"maxLength\";i:30;}s:17:\"qualifyingHolding\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:48:\"The
  Portfolio's holding in the original security\";}s:12:\"depositoryId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:80:\"The
  identifier of the depository. Must be a customerSecurity of type depository.\";}s:14:\"depositoryName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"The
  name that is displayed for the depository\";s:9:\"maxLength\";i:6;}s:6:\"exDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:80:\"All
  holders of the Security, specified as of this date are entitled to the event\";}s:11:\"replyByDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:20:\"The
  date to reply by\";}s:7:\"payDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:64:\"The
  date on which corporate cash is actually paid to shareholder\";}s:9:\"valueDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:25:\"The
  applicable value date\";}s:18:\"rightsInstrumentId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:60:\"Security
  Number of the Rights Security which is being issued\";}s:20:\"rightsInstrumentName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:49:\"Name
  of the Rights Security which is being issued\";}s:9:\"eventType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"Event
  Type of the DIARY\";}s:9:\"eventName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"The
  name that is displayed for the event\";}s:4:\"rate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:0:\"\";}s:10:\"currencyId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:81:\"The
  identifier of the curreny. The is the 3 letter ISO 4217 code of the currency.\";s:9:\"maxLength\";i:3;}s:9:\"optStatus\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"Indicates
  the current status of the ENTITLEMENT\";s:9:\"maxLength\";i:14;}s:12:\"recordStatus\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"The
  status of the record processed\";s:9:\"maxLength\";i:4;}}}}s:11:\"ErrorHeader\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"audit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"T24_time\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:29:\"Time
  taken to response by T24\";}s:13:\"versionNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  CURR.NO. of the record\";}s:10:\"parse_time\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:40:\"Time
  taken to parse the response by IRIS\";}}}}}s:18:\"QueryErrorResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"header\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ErrorHeader\";}s:5:\"error\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/QueryErrorResponseBody\";}}s:11:\"description\";s:18:\"QueryErrorResponse\";}s:22:\"QueryErrorResponseBody\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  identifier of the error message\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"The
  actual t24 error message\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"The
  identifier of error type\";}}}s:36:\"holdingsEntitlementApprovalsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"header\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/QueryHeader\";}s:4:\"body\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:54:\"#/definitions/holdingsEntitlementApprovalsResponseBody\";}}s:11:\"description\";s:36:\"holdingsEntitlementApprovalsResponse\";}s:40:\"holdingsEntitlementApprovalsResponseBody\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":22:{s:13:\"entitlementId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"The
  identifier of the entitlement\";s:9:\"maxLength\";i:44;}s:11:\"portfolioId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"The
  identifier of the portfolio\";s:9:\"maxLength\";i:14;}s:13:\"portfolioName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  name that is displayed for the portfolio\";s:9:\"maxLength\";i:30;}s:10:\"customerId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:30:\"The
  identifier of the customer\";}s:12:\"customerName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"The
  name that is displayed for the customer\";s:9:\"maxLength\";i:30;}s:12:\"instrumentId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"The
  identifier of the instrument\";s:9:\"maxLength\";i:12;}s:14:\"instrumentName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:72:\"The
  name that is displayed for the instrument, taken from securityMaster\";s:9:\"maxLength\";i:30;}s:17:\"qualifyingHolding\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:48:\"The
  Portfolio's holding in the original security\";}s:12:\"depositoryId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:80:\"The
  identifier of the depository. Must be a customerSecurity of type depository.\";}s:14:\"depositoryName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"The
  name that is displayed for the depository\";s:9:\"maxLength\";i:6;}s:6:\"exDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:80:\"All
  holders of the Security, specified as of this date are entitled to the event\";}s:11:\"replyByDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:20:\"The
  date to reply by\";}s:7:\"payDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:64:\"The
  date on which corporate cash is actually paid to shareholder\";}s:9:\"valueDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:25:\"The
  applicable value date\";}s:18:\"rightsInstrumentId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:60:\"Security
  Number of the Rights Security which is being issued\";}s:20:\"rightsInstrumentName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:49:\"Name
  of the Rights Security which is being issued\";}s:9:\"eventType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"Event
  Type of the DIARY\";}s:9:\"eventName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"The
  name that is displayed for the event\";s:9:\"maxLength\";i:35;}s:4:\"rate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:0:\"\";}s:10:\"currencyId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:81:\"The
  identifier of the curreny. The is the 3 letter ISO 4217 code of the currency.\";s:9:\"maxLength\";i:3;}s:9:\"optStatus\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"Indicates
  the current status of the ENTITLEMENT\";s:9:\"maxLength\";i:14;}s:12:\"recordStatus\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"The
  status of the record processed\";s:9:\"maxLength\";i:4;}}}}}"
...
