---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Version for creating
  Bid Bond guarantees\";s:7:\"version\";s:6:\"v1.0.0\";s:5:\"title\";s:21:\"createGuarnteeBidBond\";}"
host: api.server.com
basePath: /api/
paths:
  /product/guarantees/issuanceOfBbond:
    post:
      operationId: createGuarnteeBidBond
      produces:
      - application/json
      parameters:
      - in: body
        name: payload
        description: body Payload
        required: true
        schema:
          $ref: '#/definitions/createGuarnteeBidBond'
      - name: validate_only
        in: query
        description: The identifier to indicate if it is set to only validate or not.
        required: false
        type: boolean
      responses:
        200:
          description: createGuarnteeBidBondResponse
          schema:
            $ref: '#/definitions/createGuarnteeBidBondResponse'
        default:
          description: createGuarnteeBidBondErrorResponse
          schema:
            $ref: '#/definitions/createGuarnteeBidBondErrorResponse'
schemes:
- http
- https
definitions: !php/object "O:8:\"stdClass\":10:{s:13:\"PayloadHeader\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"override\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"overrideDetails\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"The
  identifier of the override\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"The
  actual override message\";}s:12:\"responseCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"The
  user input to accept/reject the override.\";}}}}}}}}s:21:\"createGuarnteeBidBond\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"header\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/PayloadHeader\";}s:4:\"body\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/createGuarnteeBidBondBody\";}}s:11:\"description\";s:21:\"createGuarnteeBidBond\";}s:25:\"createGuarnteeBidBondBody\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":19:{s:14:\"beneficiaryIds\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:33:\"The
  identifier of the beneficiary\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"beneficiaryId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"The
  identifier of the beneficiary\";}}}}s:20:\"beneficiaryAddresses\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:18:\"beneficiaryAddress\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}}}}s:7:\"charges\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"chargeDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:66:\"The
  date on which the charge will be debited to the charge account\";}s:14:\"chargeCurrency\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:76:\"Holds
  the currency code of the charge account from where the fee is deducted\";}s:18:\"debitChargeAccount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:10:\"chargeCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}}}}s:16:\"bidBondReference\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:53:\"Another
  ID for the transaction for retrieval purposes\";}s:10:\"customerId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"The
  identifier of the customer\";}s:8:\"currency\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:6:\"amount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:0:\"\";}s:8:\"dealDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:36:\"The
  date on which the deal was made.\";}s:9:\"valueDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:25:\"The
  applicable value date\";}s:10:\"expiryDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:73:\"The
  date an agreement such as a credit facility or limit is due to expire\";}s:12:\"maturityDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:63:\"The
  delivery period or maturity date of the contract transacted\";}s:18:\"termsAndConditions\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"The
  description of the terms and conditions\";}s:16:\"eventsProcessing\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:100:\"Determines
  whether the principal movements and raising entries will occur at Online or at End
  of Day\";}s:10:\"autoExpiry\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:111:\"Decision
  field to determine whether the contingent entries are to be reversed after the deal
  expiry date or not\";}s:15:\"liquidationMode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:62:\"Indicates
  the manner in which the overdue payments are handled\";}s:10:\"takeMargin\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:74:\"Field
  to check whether provision is to be taken for the transaction or not\";}s:13:\"marginPercent\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:54:\"Field
  to state the percentage of provision to be taken\";}s:12:\"marginAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:62:\"Actual
  amount of provision that is debited for the transaction\";}s:18:\"marginDebitAccount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:75:\"Field
  to state the account from which the provision amount is to be debited\";}}}s:12:\"ScreenHeader\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"The
  Identifier of the record created\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"The
  status of the record\";}s:17:\"transactionStatus\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"The
  status of the transaction\";}s:5:\"audit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"T24_time\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:29:\"Time
  taken to response by T24\";}s:10:\"parse_time\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:40:\"Time
  taken to parse the response by IRIS\";}}}}}s:29:\"createGuarnteeBidBondResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"header\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ScreenHeader\";}s:4:\"body\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:47:\"#/definitions/createGuarnteeBidBondResponseBody\";}}s:11:\"description\";s:29:\"createGuarnteeBidBondResponse\";}s:33:\"createGuarnteeBidBondResponseBody\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":22:{s:14:\"beneficiaryIds\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:33:\"The
  identifier of the beneficiary\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"beneficiaryId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"The
  identifier of the beneficiary\";}}}}s:20:\"beneficiaryAddresses\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:18:\"beneficiaryAddress\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}}}}s:7:\"charges\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:0:\"\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"chargeDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:66:\"The
  date on which the charge will be debited to the charge account\";}s:14:\"chargeCurrency\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:76:\"Holds
  the currency code of the charge account from where the fee is deducted\";}s:18:\"debitChargeAccount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:10:\"chargeCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}}}}s:16:\"bidBondReference\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:53:\"Another
  ID for the transaction for retrieval purposes\";}s:10:\"customerId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"The
  identifier of the customer\";}s:13:\"guaranteeType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:55:\"Refers
  to the type of the contract that is being issued\";}s:8:\"category\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:12:\"contractType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:73:\"Indicates
  if the position is related to Loan, Deposit ,FX-Forward/FX-Swap\";}s:8:\"currency\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:6:\"amount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:0:\"\";}s:8:\"dealDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:36:\"The
  date on which the deal was made.\";}s:9:\"valueDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:25:\"The
  applicable value date\";}s:10:\"expiryDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:73:\"The
  date an agreement such as a credit facility or limit is due to expire\";}s:12:\"maturityDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:63:\"The
  delivery period or maturity date of the contract transacted\";}s:18:\"termsAndConditions\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"The
  description of the terms and conditions\";}s:16:\"eventsProcessing\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:100:\"Determines
  whether the principal movements and raising entries will occur at Online or at End
  of Day\";}s:10:\"autoExpiry\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:111:\"Decision
  field to determine whether the contingent entries are to be reversed after the deal
  expiry date or not\";}s:15:\"liquidationMode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:62:\"Indicates
  the manner in which the overdue payments are handled\";}s:10:\"takeMargin\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:74:\"Field
  to check whether provision is to be taken for the transaction or not\";}s:13:\"marginPercent\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:54:\"Field
  to state the percentage of provision to be taken\";}s:12:\"marginAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:62:\"Actual
  amount of provision that is debited for the transaction\";}s:18:\"marginDebitAccount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:75:\"Field
  to state the account from which the provision amount is to be debited\";}}}s:11:\"ErrorHeader\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"The
  Identifier of the record created\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"The
  status of the record\";}s:17:\"transactionStatus\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"The
  status of the transaction\";}s:5:\"audit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"T24_time\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:29:\"Time
  taken to response by T24\";}s:10:\"parse_time\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:40:\"Time
  taken to parse the response by IRIS\";}}}}}s:12:\"overrideBody\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"overrideDetails\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"The
  identifier of the override\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"The
  actual override message\";}}}}}}s:34:\"createGuarnteeBidBondErrorResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"header\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ErrorHeader\";}s:5:\"error\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:52:\"#/definitions/createGuarnteeBidBondErrorResponseBody\";}s:8:\"override\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/overrideBody\";}}s:11:\"description\";s:34:\"createGuarnteeBidBondErrorResponse\";}s:38:\"createGuarnteeBidBondErrorResponseBody\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"errorDetails\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"fieldName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"The
  name of the field\";}s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  identifier of the error message\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"The
  actual t24 error message\";}}}}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"The
  identifier of error type\";}}}}"
...
