---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"POSTPUTRequests\";s:7:\"version\";s:6:\"v2.0.0\";s:5:\"title\";s:17:\"Serviceautomation\";}"
host: api.server.com
basePath: /api/v2.0.0/v2.0.0/
paths:
  /system/services/processes/{processId}:
    post:
      operationId: createCloseOfBusinessProcess
      produces:
      - application/json
      parameters:
      - name: processId
        in: path
        required: true
        type: string
      - in: body
        name: payload
        description: body Payload
        required: true
        schema:
          $ref: '#/definitions/systemCloseOfBusinessProcess'
      - name: validate_only
        in: query
        description: The identifier to indicate if it is set to only validate or not.
        required: false
        type: boolean
      - name: credentials
        in: query
        required: false
        type: string
      - name: companyId
        in: query
        required: false
        type: string
      responses:
        200:
          description: CloseOfBusinessProcessResponse
          schema:
            $ref: '#/definitions/systemCloseOfBusinessProcessResponse'
        default:
          description: ScreenErrorResponse
          schema:
            $ref: '#/definitions/ScreenErrorResponse'
    put:
      operationId: updateCloseOfBusinessProcess
      produces:
      - application/json
      parameters:
      - name: processId
        in: path
        required: true
        type: string
      - in: body
        name: payload
        description: body Payload
        required: true
        schema:
          $ref: '#/definitions/systemCloseOfBusinessProcess'
      - name: validate_only
        in: query
        description: The identifier to indicate if it is set to only validate or not.
        required: false
        type: boolean
      - name: credentials
        in: query
        required: false
        type: string
      - name: companyId
        in: query
        required: false
        type: string
      responses:
        200:
          description: CloseOfBusinessProcessResponse
          schema:
            $ref: '#/definitions/systemCloseOfBusinessProcessResponse'
        default:
          description: ScreenErrorResponse
          schema:
            $ref: '#/definitions/ScreenErrorResponse'
  /system/services/{serviceId}:
    post:
      operationId: createService
      produces:
      - application/json
      parameters:
      - name: serviceId
        in: path
        required: true
        type: string
      - in: body
        name: payload
        description: body Payload
        required: true
        schema:
          $ref: '#/definitions/systemService'
      - name: validate_only
        in: query
        description: The identifier to indicate if it is set to only validate or not.
        required: false
        type: boolean
      - name: credentials
        in: query
        required: false
        type: string
      - name: companyId
        in: query
        required: false
        type: string
      responses:
        200:
          description: ServiceResponse
          schema:
            $ref: '#/definitions/systemServiceResponse'
        default:
          description: ScreenErrorResponse
          schema:
            $ref: '#/definitions/ScreenErrorResponse'
    put:
      operationId: updateService
      produces:
      - application/json
      parameters:
      - name: serviceId
        in: path
        required: true
        type: string
      - in: body
        name: payload
        description: body Payload
        required: true
        schema:
          $ref: '#/definitions/systemService'
      - name: validate_only
        in: query
        description: The identifier to indicate if it is set to only validate or not.
        required: false
        type: boolean
      - name: credentials
        in: query
        required: false
        type: string
      - name: companyId
        in: query
        required: false
        type: string
      responses:
        200:
          description: ServiceResponse
          schema:
            $ref: '#/definitions/systemServiceResponse'
        default:
          description: ScreenErrorResponse
          schema:
            $ref: '#/definitions/ScreenErrorResponse'
  /system/services/workProfiles/{workProfileId}:
    post:
      operationId: createWorkloadProfile
      produces:
      - application/json
      parameters:
      - name: workProfileId
        in: path
        description: resource for workload profile URL
        required: true
        type: string
      - in: body
        name: payload
        description: body Payload
        required: true
        schema:
          $ref: '#/definitions/systemWorkloadProfile'
      - name: validate_only
        in: query
        description: The identifier to indicate if it is set to only validate or not.
        required: false
        type: boolean
      - name: credentials
        in: query
        required: false
        type: string
      - name: companyId
        in: query
        required: false
        type: string
      responses:
        200:
          description: WorkloadProfileResponse
          schema:
            $ref: '#/definitions/systemWorkloadProfileResponse'
        default:
          description: ScreenErrorResponse
          schema:
            $ref: '#/definitions/ScreenErrorResponse'
    put:
      operationId: updateWorkloadProfile
      produces:
      - application/json
      parameters:
      - name: workProfileId
        in: path
        description: resource for workload profile URL
        required: true
        type: string
      - in: body
        name: payload
        description: body Payload
        required: true
        schema:
          $ref: '#/definitions/systemWorkloadProfile'
      - name: validate_only
        in: query
        description: The identifier to indicate if it is set to only validate or not.
        required: false
        type: boolean
      - name: credentials
        in: query
        required: false
        type: string
      - name: companyId
        in: query
        required: false
        type: string
      responses:
        200:
          description: WorkloadProfileResponse
          schema:
            $ref: '#/definitions/systemWorkloadProfileResponse'
        default:
          description: ScreenErrorResponse
          schema:
            $ref: '#/definitions/ScreenErrorResponse'
schemes:
- http
- https
definitions: !php/object "O:8:\"stdClass\":18:{s:13:\"PayloadHeader\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"override\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"overrideDetails\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"The
  identifier of the override\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"The
  actual override message\";}s:12:\"responseCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"The
  user input to accept/reject the override.\";}}}}}}s:5:\"audit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"versionNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  CURR.NO. of the record\";}}}}}s:28:\"systemCloseOfBusinessProcess\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"header\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/PayloadHeader\";}s:4:\"body\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/systemCloseOfBusinessProcessBody\";}}s:11:\"description\";s:28:\"systemCloseOfBusinessProcess\";}s:32:\"systemCloseOfBusinessProcessBody\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":17:{s:10:\"batchStage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:85:\"Indicates
  which Stage of the  Batch and in which sequence number the service will run\";}s:16:\"batchEnvironment\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:84:\"Indicates
  whether service should run as a background process or a foreground process\";s:4:\"enum\";a:2:{i:0;s:1:\"B\";i:1;s:1:\"F\";}}s:5:\"jobId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"The
  identifier of the job\";}s:17:\"verificationJobId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:119:\"Same
  as jobID, but functionally it does the verififcation as to whether a job is completed
  before the jobID is executed\";}s:12:\"jobFrequency\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"Defines
  the frequency at which the job is processed next.\";}s:11:\"nextRunDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:54:\"Specifies
  bank date on which the job is to be next run\";}s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:83:\"Used
  to pass any data values which may be required by the job when it is being run.\";}s:6:\"userId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  unique user identifier\";}s:12:\"recordStatus\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"The
  status of the record processed\";}s:6:\"currNo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:68:\"Current
  Number which indicates how many times the record is modified\";}s:8:\"inputter\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"This
  shows the user who entered the transaction\";}s:10:\"authoriser\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:54:\"This
  indicates the user who authorised the transaction\";}s:8:\"dateTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:0:\"\";}s:9:\"companyId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:370:\"The
  identifier of the company, following the format CCGGGLLLL, where: CC is the country
  code, GGG is Company Group Code and LLLL is the Local Code. Country Code must be
  a valid countryCode, Company Group Code must be 3 numeric characters in the range
  001-999 and must be a valid companyGroup. The Local Code is 4 numeric characters
  in the range 0001-9999, e.g. GB0010001\";}s:8:\"deptCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:71:\"This
  indicates the department code where the transaction was authorised\";}s:11:\"auditorCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"This
  indicates the auditor code\";}s:13:\"auditTimeDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:34:\"This
  indicates the audit date time\";}}}s:12:\"ScreenHeader\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"The
  Identifier of the record created\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"The
  status of the record\";}s:17:\"transactionStatus\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"The
  status of the transaction\";}s:5:\"audit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"T24_time\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:29:\"Time
  taken to response by T24\";}s:13:\"versionNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  CURR.NO. of the record\";}s:10:\"parse_time\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:40:\"Time
  taken to parse the response by IRIS\";}}}}}s:36:\"systemCloseOfBusinessProcessResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"header\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ScreenHeader\";}s:4:\"body\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:54:\"#/definitions/systemCloseOfBusinessProcessResponseBody\";}}s:11:\"description\";s:36:\"systemCloseOfBusinessProcessResponse\";}s:40:\"systemCloseOfBusinessProcessResponseBody\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":17:{s:10:\"batchStage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:85:\"Indicates
  which Stage of the  Batch and in which sequence number the service will run\";}s:16:\"batchEnvironment\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:84:\"Indicates
  whether service should run as a background process or a foreground process\";s:4:\"enum\";a:2:{i:0;s:1:\"B\";i:1;s:1:\"F\";}}s:5:\"jobId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"The
  identifier of the job\";}s:17:\"verificationJobId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:119:\"Same
  as jobID, but functionally it does the verififcation as to whether a job is completed
  before the jobID is executed\";}s:12:\"jobFrequency\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"Defines
  the frequency at which the job is processed next.\";}s:11:\"nextRunDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:54:\"Specifies
  bank date on which the job is to be next run\";}s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:83:\"Used
  to pass any data values which may be required by the job when it is being run.\";}s:6:\"userId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  unique user identifier\";}s:12:\"recordStatus\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"The
  status of the record processed\";}s:6:\"currNo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:68:\"Current
  Number which indicates how many times the record is modified\";}s:8:\"inputter\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"This
  shows the user who entered the transaction\";}s:10:\"authoriser\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:54:\"This
  indicates the user who authorised the transaction\";}s:8:\"dateTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:0:\"\";}s:9:\"companyId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:370:\"The
  identifier of the company, following the format CCGGGLLLL, where: CC is the country
  code, GGG is Company Group Code and LLLL is the Local Code. Country Code must be
  a valid countryCode, Company Group Code must be 3 numeric characters in the range
  001-999 and must be a valid companyGroup. The Local Code is 4 numeric characters
  in the range 0001-9999, e.g. GB0010001\";}s:8:\"deptCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:71:\"This
  indicates the department code where the transaction was authorised\";}s:11:\"auditorCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"This
  indicates the auditor code\";}s:13:\"auditTimeDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:34:\"This
  indicates the audit date time\";}}}s:11:\"ErrorHeader\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"The
  Identifier of the record created\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"The
  status of the record\";}s:17:\"transactionStatus\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"The
  status of the transaction\";}s:5:\"audit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"T24_time\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:29:\"Time
  taken to response by T24\";}s:13:\"versionNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  CURR.NO. of the record\";}s:10:\"parse_time\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:40:\"Time
  taken to parse the response by IRIS\";}}}}}s:12:\"overrideBody\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"overrideDetails\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"The
  identifier of the override\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"The
  actual override message\";}}}}}}s:19:\"ScreenErrorResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"header\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ErrorHeader\";}s:5:\"error\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/ScreenErrorResponseBody\";}s:8:\"override\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/overrideBody\";}}s:11:\"description\";s:19:\"ScreenErrorResponse\";}s:23:\"ScreenErrorResponseBody\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"errorDetails\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"fieldName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"The
  name of the field\";}s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  identifier of the error message\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"The
  actual t24 error message\";}}}}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"The
  identifier of error type\";}}}s:13:\"systemService\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"header\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/PayloadHeader\";}s:4:\"body\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/systemServiceBody\";}}s:11:\"description\";s:13:\"systemService\";}s:17:\"systemServiceBody\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:17:\"jobServerProfiles\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"jobProfileId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"Reference
  to the record in TSA.WORKLOAD.PROFILE\";}s:10:\"serverName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:52:\"Hostname
  of the Server on which the service will run\";}s:15:\"jobServerStatus\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"Status
  of Server\";}}}}s:18:\"serviceDescription\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"Description
  of the Service\";}s:6:\"userId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  unique user identifier\";}s:12:\"jobOperation\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:4:\"enum\";a:3:{i:0;s:5:\"START\";i:1;s:4:\"STOP\";i:2;s:4:\"AUTO\";}}s:12:\"recordStatus\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"The
  status of the record processed\";s:4:\"enum\";a:1:{i:0;s:47:\"Status of record -authorised/on
  hold/unauth etc\";}}s:6:\"currNo\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:68:\"Current
  Number which indicates how many times the record is modified\";s:4:\"enum\";a:1:{i:0;s:35:\"No
  of times record has been changed\";}}s:8:\"inputter\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"This
  shows the user who entered the transaction\";s:4:\"enum\";a:1:{i:0;s:40:\"User who
  has input or changed the record\";}}s:8:\"dateTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:0:\"\";}s:10:\"authoriser\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:54:\"This
  indicates the user who authorised the transaction\";s:4:\"enum\";a:1:{i:0;s:43:\"User
  who has authorised the input or change\";}}s:8:\"deptCode\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:71:\"This
  indicates the department code where the transaction was authorised\";s:4:\"enum\";a:1:{i:0;s:30:\"Department
  handling the record\";}}s:11:\"auditorCode\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"This
  indicates the auditor code\";s:4:\"enum\";a:1:{i:0;s:42:\"Code of Auditor who has
  audited the record\";}}s:13:\"auditTimeDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:34:\"This
  indicates the audit date time\";}}}s:21:\"systemServiceResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"header\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ScreenHeader\";}s:4:\"body\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/systemServiceResponseBody\";}}s:11:\"description\";s:21:\"systemServiceResponse\";}s:25:\"systemServiceResponseBody\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:17:\"jobServerProfiles\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"jobProfileId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"Reference
  to the record in TSA.WORKLOAD.PROFILE\";}s:10:\"serverName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:52:\"Hostname
  of the Server on which the service will run\";}s:15:\"jobServerStatus\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"Status
  of Server\";}}}}s:18:\"serviceDescription\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"Description
  of the Service\";}s:6:\"userId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  unique user identifier\";}s:12:\"jobOperation\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:4:\"enum\";a:3:{i:0;s:5:\"START\";i:1;s:4:\"STOP\";i:2;s:4:\"AUTO\";}}s:12:\"recordStatus\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"The
  status of the record processed\";s:4:\"enum\";a:1:{i:0;s:47:\"Status of record -authorised/on
  hold/unauth etc\";}}s:6:\"currNo\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:68:\"Current
  Number which indicates how many times the record is modified\";s:4:\"enum\";a:1:{i:0;s:35:\"No
  of times record has been changed\";}}s:8:\"inputter\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"This
  shows the user who entered the transaction\";s:4:\"enum\";a:1:{i:0;s:40:\"User who
  has input or changed the record\";}}s:8:\"dateTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:0:\"\";}s:10:\"authoriser\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:54:\"This
  indicates the user who authorised the transaction\";s:4:\"enum\";a:1:{i:0;s:43:\"User
  who has authorised the input or change\";}}s:8:\"deptCode\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:71:\"This
  indicates the department code where the transaction was authorised\";s:4:\"enum\";a:1:{i:0;s:30:\"Department
  handling the record\";}}s:11:\"auditorCode\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"This
  indicates the auditor code\";s:4:\"enum\";a:1:{i:0;s:42:\"Code of Auditor who has
  audited the record\";}}s:13:\"auditTimeDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:34:\"This
  indicates the audit date time\";}}}s:21:\"systemWorkloadProfile\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"header\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/PayloadHeader\";}s:4:\"body\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/systemWorkloadProfileBody\";}}s:11:\"description\";s:21:\"systemWorkloadProfile\";}s:25:\"systemWorkloadProfileBody\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:11:\"displayName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"The
  name used for display purposes\";}s:9:\"startTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"Indicates
  start time\";}s:14:\"agentsRequired\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"Indicates
  the number of agents required\";}s:12:\"recordStatus\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"The
  status of the record processed\";}s:6:\"CurrNo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:68:\"Current
  Number which indicates how many times the record is modified\";}s:8:\"inputter\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"This
  shows the user who entered the transaction\";}s:10:\"authoriser\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:54:\"This
  indicates the user who authorised the transaction\";}s:8:\"datetime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:0:\"\";}s:6:\"coCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:8:\"deptCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:71:\"This
  indicates the department code where the transaction was authorised\";}s:11:\"auditorCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"This
  indicates the auditor code\";}s:13:\"auditTimeDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:34:\"This
  indicates the audit date time\";}}}s:29:\"systemWorkloadProfileResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"header\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ScreenHeader\";}s:4:\"body\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:47:\"#/definitions/systemWorkloadProfileResponseBody\";}}s:11:\"description\";s:29:\"systemWorkloadProfileResponse\";}s:33:\"systemWorkloadProfileResponseBody\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:11:\"displayName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"The
  name used for display purposes\";}s:9:\"startTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"Indicates
  start time\";}s:14:\"agentsRequired\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"Indicates
  the number of agents required\";}s:12:\"recordStatus\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"The
  status of the record processed\";}s:6:\"CurrNo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:68:\"Current
  Number which indicates how many times the record is modified\";}s:8:\"inputter\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"This
  shows the user who entered the transaction\";}s:10:\"authoriser\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:54:\"This
  indicates the user who authorised the transaction\";}s:8:\"datetime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:0:\"\";}s:6:\"coCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:8:\"deptCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:71:\"This
  indicates the department code where the transaction was authorised\";}s:11:\"auditorCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"This
  indicates the auditor code\";}s:13:\"auditTimeDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:34:\"This
  indicates the audit date time\";}}}}"
...
