---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"Allows the creation,
  viewing and management of security transfer orders\";s:7:\"version\";s:6:\"v1.0.0\";s:5:\"title\";s:35:\"Order
  Security Transfer Orders APIs\";}"
host: api.server.com
basePath: /api/v1.0.0
paths:
  /order/securityTransferOrders/inboundOrders:
    get:
      operationId: getInboundSecurityTransferOrders
      produces:
      - application/json
      parameters:
      - name: page_size
        in: query
        description: The total number of records per page
        required: false
        type: integer
        format: int32
      - name: page_start
        in: query
        description: The record from which the response should be displayed
        required: false
        type: integer
        format: int32
      - name: page_token
        in: query
        description: Random and unique string for each page. Used for security purpose
        required: false
        type: string
      responses:
        200:
          description: getInboundSecurityTransferOrdersResponse
          schema:
            $ref: '#/definitions/getInboundSecurityTransferOrdersResponse'
        default:
          description: getInboundSecurityTransferOrdersErrorResponse
          schema:
            $ref: '#/definitions/getInboundSecurityTransferOrdersErrorResponse'
  /order/securityTransferOrders/outboundOrders:
    get:
      operationId: getOutboundSecurityTransferOrders
      produces:
      - application/json
      parameters:
      - name: page_size
        in: query
        description: The total number of records per page
        required: false
        type: integer
        format: int32
      - name: page_start
        in: query
        description: The record from which the response should be displayed
        required: false
        type: integer
        format: int32
      - name: page_token
        in: query
        description: Random and unique string for each page. Used for security purpose
        required: false
        type: string
      responses:
        200:
          description: getOutboundSecurityTransferOrdersResponse
          schema:
            $ref: '#/definitions/getOutboundSecurityTransferOrdersResponse'
        default:
          description: getOutboundSecurityTransferOrdersErrorResponse
          schema:
            $ref: '#/definitions/getOutboundSecurityTransferOrdersErrorResponse'
  /order/securityTransferOrders:
    post:
      operationId: createSecurityTransferOrder
      produces:
      - application/json
      parameters:
      - in: body
        name: payload
        required: true
        schema:
          $ref: '#/definitions/createSecurityTransferOrder'
      - name: validate_only
        in: query
        required: false
        type: boolean
      responses:
        200:
          description: createSecurityTransferOrderResponse
          schema:
            $ref: '#/definitions/createSecurityTransferOrderResponse'
        default:
          description: createSecurityTransferOrderErrorResponse
          schema:
            $ref: '#/definitions/createSecurityTransferOrderErrorResponse'
  /order/securityTransferOrders/{securityTransferOrderId}:
    get:
      operationId: getSecurityTransferOrder
      produces:
      - application/json
      parameters:
      - name: securityTransferOrderId
        in: path
        required: true
        type: string
      responses:
        200:
          description: getSecurityTransferOrderResponse
          schema:
            $ref: '#/definitions/getSecurityTransferOrderResponse'
        default:
          description: getSecurityTransferOrderErrorResponse
          schema:
            $ref: '#/definitions/getSecurityTransferOrderErrorResponse'
    put:
      operationId: updateSecurityTransferOrder
      produces:
      - application/json
      parameters:
      - name: securityTransferOrderId
        in: path
        required: true
        type: string
      - in: body
        name: payload
        required: true
        schema:
          $ref: '#/definitions/updateSecurityTransferOrder'
      - name: validate_only
        in: query
        required: false
        type: boolean
      responses:
        200:
          description: updateSecurityTransferOrderResponse
          schema:
            $ref: '#/definitions/updateSecurityTransferOrderResponse'
        default:
          description: updateSecurityTransferOrderErrorResponse
          schema:
            $ref: '#/definitions/updateSecurityTransferOrderErrorResponse'
schemes:
- http
- https
definitions: !php/object "O:8:\"stdClass\":28:{s:11:\"QueryHeader\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:5:\"audit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"T24_time\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:10:\"parse_time\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:9:\"page_size\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:10:\"page_start\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:10:\"total_size\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:10:\"page_token\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:40:\"getInboundSecurityTransferOrdersResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"header\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/QueryHeader\";}s:4:\"body\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:58:\"#/definitions/getInboundSecurityTransferOrdersResponseBody\";}}s:11:\"description\";s:40:\"getInboundSecurityTransferOrdersResponse\";}s:44:\"getInboundSecurityTransferOrdersResponseBody\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:13:\"transactionId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"The
  unique transaction identifier\";s:9:\"maxLength\";i:16;}s:15:\"transactionType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:9:\"maxLength\";i:30;}s:12:\"instrumentId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"The
  identifier of the instrument\";s:9:\"maxLength\";i:30;}s:9:\"tradeDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"The
  trade date of the contract\";s:9:\"maxLength\";i:11;}s:9:\"valueDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"The
  applicable value date\";s:9:\"maxLength\";i:11;}s:14:\"depositoryName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"The
  name that is displayed for the depository\";s:9:\"maxLength\";i:30;}s:12:\"customerName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"The
  name that is displayed for the customer\";s:9:\"maxLength\";i:30;}s:13:\"portfolioName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  name that is displayed for the portfolio\";s:9:\"maxLength\";i:30;}s:8:\"quantity\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"The
  nominal quantity\";}s:5:\"price\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:90:\"The
  Price at which the NOMINAL.AMOUNT of the Security is to be valued for the transaction.\";}s:8:\"inputter\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"This
  shows the user who entered the transaction\";s:9:\"maxLength\";i:35;}s:8:\"dateTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:9:\"maxLength\";i:15;}}}}s:11:\"ErrorHeader\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"audit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"T24_time\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:10:\"parse_time\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}}}s:45:\"getInboundSecurityTransferOrdersErrorResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"header\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ErrorHeader\";}s:5:\"error\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:63:\"#/definitions/getInboundSecurityTransferOrdersErrorResponseBody\";}}s:11:\"description\";s:45:\"getInboundSecurityTransferOrdersErrorResponse\";}s:49:\"getInboundSecurityTransferOrdersErrorResponseBody\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:41:\"getOutboundSecurityTransferOrdersResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"header\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/QueryHeader\";}s:4:\"body\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:59:\"#/definitions/getOutboundSecurityTransferOrdersResponseBody\";}}s:11:\"description\";s:41:\"getOutboundSecurityTransferOrdersResponse\";}s:45:\"getOutboundSecurityTransferOrdersResponseBody\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:13:\"transactionId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"The
  unique transaction identifier\";s:9:\"maxLength\";i:16;}s:15:\"transactionType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:9:\"maxLength\";i:30;}s:12:\"instrumentId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"The
  identifier of the instrument\";s:9:\"maxLength\";i:30;}s:9:\"tradeDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"The
  trade date of the contract\";s:9:\"maxLength\";i:11;}s:9:\"valueDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"The
  applicable value date\";s:9:\"maxLength\";i:11;}s:14:\"depositoryName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"The
  name that is displayed for the depository\";s:9:\"maxLength\";i:30;}s:12:\"customerName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"The
  name that is displayed for the customer\";s:9:\"maxLength\";i:30;}s:13:\"portfolioName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"The
  name that is displayed for the portfolio\";s:9:\"maxLength\";i:30;}s:8:\"quantity\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"The
  nominal quantity\";}s:5:\"price\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:90:\"The
  Price at which the NOMINAL.AMOUNT of the Security is to be valued for the transaction.\";}s:8:\"inputter\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"This
  shows the user who entered the transaction\";s:9:\"maxLength\";i:35;}s:8:\"dateTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:9:\"maxLength\";i:15;}}}}s:46:\"getOutboundSecurityTransferOrdersErrorResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"header\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ErrorHeader\";}s:5:\"error\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:64:\"#/definitions/getOutboundSecurityTransferOrdersErrorResponseBody\";}}s:11:\"description\";s:46:\"getOutboundSecurityTransferOrdersErrorResponse\";}s:50:\"getOutboundSecurityTransferOrdersErrorResponseBody\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:13:\"PayloadHeader\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"override_acceptId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:27:\"createSecurityTransferOrder\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"header\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/PayloadHeader\";}s:4:\"body\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/createSecurityTransferOrderBody\";}}s:11:\"description\";s:27:\"createSecurityTransferOrder\";}s:31:\"createSecurityTransferOrderBody\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":34:{s:5:\"taxes\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:21:\"customerChargeTaxType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:23:\"customerChargeTaxAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:0:\"\";}s:21:\"customerChargeTaxCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}}}}s:12:\"instructions\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:20:\"customerInstructions\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}}}}s:15:\"transactionType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:12:\"instrumentId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"The
  identifier of the instrument\";}s:18:\"instrumentCurrency\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:12:\"transferDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:36:\"The
  transfer date of the transaction\";}s:9:\"valueDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:25:\"The
  applicable value date\";}s:12:\"depositoryId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:80:\"The
  identifier of the depository. Must be a customerSecurity of type depository.\";}s:19:\"deliveryInstruction\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:10:\"customerId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"The
  identifier of the customer\";}s:11:\"portfolioId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"The
  identifier of the portfolio\";}s:8:\"quantity\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"The
  nominal quantity\";}s:5:\"price\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:90:\"The
  Price at which the NOMINAL.AMOUNT of the Security is to be valued for the transaction.\";}s:7:\"nominee\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  nominee company of the security\";}s:9:\"grossCost\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:0:\"\";}s:25:\"valueInInstrumentCurrency\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:54:\"The
  amount converted to the currency of the instrument\";}s:7:\"charges\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:0:\"\";}s:13:\"actualCharges\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"The
  amount of the charge that was applied\";}s:9:\"accountId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:132:\"The
  identifier of the account. Often referred to as the account number, yet for consistency
  this is always referred to as accountId.\";}s:14:\"interestAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:36:\"The
  accrued Interest due or accrued.\";}s:29:\"netAmountInInstrumentCurrency\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:128:\"The
  net amount of the current valuation of the Securities being transferred, ie. the
  gross amount +/- Charges + accrued Interest\";}s:26:\"netAmountInAccountCurrency\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:60:\"The
  net amount due to or from the Customer after +/- Charges\";}s:12:\"exchangeRate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:0:\"\";}s:10:\"commission\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:0:\"\";}s:14:\"commissionName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"The
  name that is displayed for the commission\";}s:14:\"commissionRate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:123:\"The
  commission by percentage. Allowed only for manual commission. Calculated commission
  amount can be overwritten manually.\";}s:23:\"changeInBeneficialOwner\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:81:\"
  Indicates whether there is a beneficial owner change as a result of the transfer\";}s:8:\"stampTax\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:58:\"The
  Stamp Tax amount charged to the Customer for the trade\";}s:14:\"counterpartyId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  identifier of the counter party\";}s:3:\"BIC\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:8:\"nostroId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"The
  identifier of the nostro account\";}s:14:\"nostroCurrency\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  currency of the nostro\";}s:22:\"counterpartyDepository\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:91:\"Specifies
  the Depository(ies) that the Broker will be delivering the Securities from or to.\";}s:12:\"brokerAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:306:\"Specifies
  the Net.Amount due to/from the Broker (Field 23) for the transaction.Input is only
  required where the Security. Transfer is made against payment.Standard Amount Format
  0-14 numeric characters (number of decimal places dependant on the currency of theSecurity).
  (Optional input) Default value = 0.\";}}}s:12:\"ScreenHeader\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"transactionStatus\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"audit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"T24_time\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:10:\"parse_time\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}}}s:35:\"createSecurityTransferOrderResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"header\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ScreenHeader\";}s:4:\"body\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:53:\"#/definitions/createSecurityTransferOrderResponseBody\";}}s:11:\"description\";s:35:\"createSecurityTransferOrderResponse\";}s:39:\"createSecurityTransferOrderResponseBody\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":34:{s:5:\"taxes\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:21:\"customerChargeTaxType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:23:\"customerChargeTaxAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:0:\"\";}s:21:\"customerChargeTaxCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}}}}s:12:\"instructions\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:20:\"customerInstructions\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}}}}s:15:\"transactionType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:12:\"instrumentId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"The
  identifier of the instrument\";}s:18:\"instrumentCurrency\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:12:\"transferDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:36:\"The
  transfer date of the transaction\";}s:9:\"valueDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:25:\"The
  applicable value date\";}s:12:\"depositoryId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:80:\"The
  identifier of the depository. Must be a customerSecurity of type depository.\";}s:19:\"deliveryInstruction\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:10:\"customerId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"The
  identifier of the customer\";}s:11:\"portfolioId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"The
  identifier of the portfolio\";}s:8:\"quantity\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"The
  nominal quantity\";}s:5:\"price\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:90:\"The
  Price at which the NOMINAL.AMOUNT of the Security is to be valued for the transaction.\";}s:7:\"nominee\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  nominee company of the security\";}s:9:\"grossCost\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:0:\"\";}s:25:\"valueInInstrumentCurrency\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:54:\"The
  amount converted to the currency of the instrument\";}s:7:\"charges\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:0:\"\";}s:13:\"actualCharges\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"The
  amount of the charge that was applied\";}s:9:\"accountId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:132:\"The
  identifier of the account. Often referred to as the account number, yet for consistency
  this is always referred to as accountId.\";}s:14:\"interestAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:36:\"The
  accrued Interest due or accrued.\";}s:29:\"netAmountInInstrumentCurrency\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:128:\"The
  net amount of the current valuation of the Securities being transferred, ie. the
  gross amount +/- Charges + accrued Interest\";}s:26:\"netAmountInAccountCurrency\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:60:\"The
  net amount due to or from the Customer after +/- Charges\";}s:12:\"exchangeRate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:0:\"\";}s:10:\"commission\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:0:\"\";}s:14:\"commissionName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"The
  name that is displayed for the commission\";}s:14:\"commissionRate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:123:\"The
  commission by percentage. Allowed only for manual commission. Calculated commission
  amount can be overwritten manually.\";}s:23:\"changeInBeneficialOwner\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:81:\"
  Indicates whether there is a beneficial owner change as a result of the transfer\";}s:8:\"stampTax\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:58:\"The
  Stamp Tax amount charged to the Customer for the trade\";}s:14:\"counterpartyId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  identifier of the counter party\";}s:3:\"BIC\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:8:\"nostroId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"The
  identifier of the nostro account\";}s:14:\"nostroCurrency\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  currency of the nostro\";}s:22:\"counterpartyDepository\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:91:\"Specifies
  the Depository(ies) that the Broker will be delivering the Securities from or to.\";}s:12:\"brokerAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:306:\"Specifies
  the Net.Amount due to/from the Broker (Field 23) for the transaction.Input is only
  required where the Security. Transfer is made against payment.Standard Amount Format
  0-14 numeric characters (number of decimal places dependant on the currency of theSecurity).
  (Optional input) Default value = 0.\";}}}s:40:\"createSecurityTransferOrderErrorResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"header\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ErrorHeader\";}s:5:\"error\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:58:\"#/definitions/createSecurityTransferOrderErrorResponseBody\";}}s:11:\"description\";s:40:\"createSecurityTransferOrderErrorResponse\";}s:44:\"createSecurityTransferOrderErrorResponseBody\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"errorDetails\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"fieldName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:27:\"updateSecurityTransferOrder\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"header\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/PayloadHeader\";}s:4:\"body\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/updateSecurityTransferOrderBody\";}}s:11:\"description\";s:27:\"updateSecurityTransferOrder\";}s:31:\"updateSecurityTransferOrderBody\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":34:{s:5:\"taxes\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:21:\"customerChargeTaxType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:23:\"customerChargeTaxAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:0:\"\";}s:21:\"customerChargeTaxCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}}}}s:12:\"instructions\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:20:\"customerInstructions\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}}}}s:15:\"transactionType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:12:\"instrumentId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"The
  identifier of the instrument\";}s:18:\"instrumentCurrency\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:12:\"transferDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:36:\"The
  transfer date of the transaction\";}s:9:\"valueDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:25:\"The
  applicable value date\";}s:12:\"depositoryId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:80:\"The
  identifier of the depository. Must be a customerSecurity of type depository.\";}s:19:\"deliveryInstruction\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:10:\"customerId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"The
  identifier of the customer\";}s:11:\"portfolioId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"The
  identifier of the portfolio\";}s:8:\"quantity\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"The
  nominal quantity\";}s:5:\"price\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:90:\"The
  Price at which the NOMINAL.AMOUNT of the Security is to be valued for the transaction.\";}s:7:\"nominee\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  nominee company of the security\";}s:9:\"grossCost\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:0:\"\";}s:25:\"valueInInstrumentCurrency\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:54:\"The
  amount converted to the currency of the instrument\";}s:7:\"charges\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:0:\"\";}s:13:\"actualCharges\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"The
  amount of the charge that was applied\";}s:9:\"accountId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:132:\"The
  identifier of the account. Often referred to as the account number, yet for consistency
  this is always referred to as accountId.\";}s:14:\"interestAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:36:\"The
  accrued Interest due or accrued.\";}s:29:\"netAmountInInstrumentCurrency\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:128:\"The
  net amount of the current valuation of the Securities being transferred, ie. the
  gross amount +/- Charges + accrued Interest\";}s:26:\"netAmountInAccountCurrency\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:60:\"The
  net amount due to or from the Customer after +/- Charges\";}s:12:\"exchangeRate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:0:\"\";}s:10:\"commission\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:0:\"\";}s:14:\"commissionName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"The
  name that is displayed for the commission\";}s:14:\"commissionRate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:123:\"The
  commission by percentage. Allowed only for manual commission. Calculated commission
  amount can be overwritten manually.\";}s:23:\"changeInBeneficialOwner\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:81:\"
  Indicates whether there is a beneficial owner change as a result of the transfer\";}s:8:\"stampTax\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:58:\"The
  Stamp Tax amount charged to the Customer for the trade\";}s:14:\"counterpartyId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  identifier of the counter party\";}s:3:\"BIC\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:8:\"nostroId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"The
  identifier of the nostro account\";}s:14:\"nostroCurrency\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  currency of the nostro\";}s:22:\"counterpartyDepository\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:91:\"Specifies
  the Depository(ies) that the Broker will be delivering the Securities from or to.\";}s:12:\"brokerAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:306:\"Specifies
  the Net.Amount due to/from the Broker (Field 23) for the transaction.Input is only
  required where the Security. Transfer is made against payment.Standard Amount Format
  0-14 numeric characters (number of decimal places dependant on the currency of theSecurity).
  (Optional input) Default value = 0.\";}}}s:35:\"updateSecurityTransferOrderResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"header\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ScreenHeader\";}s:4:\"body\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:53:\"#/definitions/updateSecurityTransferOrderResponseBody\";}}s:11:\"description\";s:35:\"updateSecurityTransferOrderResponse\";}s:39:\"updateSecurityTransferOrderResponseBody\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":34:{s:5:\"taxes\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:21:\"customerChargeTaxType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:23:\"customerChargeTaxAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:0:\"\";}s:21:\"customerChargeTaxCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}}}}s:12:\"instructions\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:20:\"customerInstructions\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}}}}s:15:\"transactionType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:12:\"instrumentId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"The
  identifier of the instrument\";}s:18:\"instrumentCurrency\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:12:\"transferDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:36:\"The
  transfer date of the transaction\";}s:9:\"valueDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:25:\"The
  applicable value date\";}s:12:\"depositoryId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:80:\"The
  identifier of the depository. Must be a customerSecurity of type depository.\";}s:19:\"deliveryInstruction\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:10:\"customerId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"The
  identifier of the customer\";}s:11:\"portfolioId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"The
  identifier of the portfolio\";}s:8:\"quantity\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"The
  nominal quantity\";}s:5:\"price\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:90:\"The
  Price at which the NOMINAL.AMOUNT of the Security is to be valued for the transaction.\";}s:7:\"nominee\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  nominee company of the security\";}s:9:\"grossCost\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:0:\"\";}s:25:\"valueInInstrumentCurrency\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:54:\"The
  amount converted to the currency of the instrument\";}s:7:\"charges\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:0:\"\";}s:13:\"actualCharges\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"The
  amount of the charge that was applied\";}s:9:\"accountId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:132:\"The
  identifier of the account. Often referred to as the account number, yet for consistency
  this is always referred to as accountId.\";}s:14:\"interestAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:36:\"The
  accrued Interest due or accrued.\";}s:29:\"netAmountInInstrumentCurrency\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:128:\"The
  net amount of the current valuation of the Securities being transferred, ie. the
  gross amount +/- Charges + accrued Interest\";}s:26:\"netAmountInAccountCurrency\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:60:\"The
  net amount due to or from the Customer after +/- Charges\";}s:12:\"exchangeRate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:0:\"\";}s:10:\"commission\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:0:\"\";}s:14:\"commissionName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"The
  name that is displayed for the commission\";}s:14:\"commissionRate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:123:\"The
  commission by percentage. Allowed only for manual commission. Calculated commission
  amount can be overwritten manually.\";}s:23:\"changeInBeneficialOwner\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:81:\"
  Indicates whether there is a beneficial owner change as a result of the transfer\";}s:8:\"stampTax\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:58:\"The
  Stamp Tax amount charged to the Customer for the trade\";}s:14:\"counterpartyId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  identifier of the counter party\";}s:3:\"BIC\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:8:\"nostroId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"The
  identifier of the nostro account\";}s:14:\"nostroCurrency\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  currency of the nostro\";}s:22:\"counterpartyDepository\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:91:\"Specifies
  the Depository(ies) that the Broker will be delivering the Securities from or to.\";}s:12:\"brokerAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:306:\"Specifies
  the Net.Amount due to/from the Broker (Field 23) for the transaction.Input is only
  required where the Security. Transfer is made against payment.Standard Amount Format
  0-14 numeric characters (number of decimal places dependant on the currency of theSecurity).
  (Optional input) Default value = 0.\";}}}s:40:\"updateSecurityTransferOrderErrorResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"header\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ErrorHeader\";}s:5:\"error\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:58:\"#/definitions/updateSecurityTransferOrderErrorResponseBody\";}}s:11:\"description\";s:40:\"updateSecurityTransferOrderErrorResponse\";}s:44:\"updateSecurityTransferOrderErrorResponseBody\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"errorDetails\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"fieldName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:32:\"getSecurityTransferOrderResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"header\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ScreenHeader\";}s:4:\"body\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:50:\"#/definitions/getSecurityTransferOrderResponseBody\";}}s:11:\"description\";s:32:\"getSecurityTransferOrderResponse\";}s:36:\"getSecurityTransferOrderResponseBody\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":34:{s:5:\"taxes\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:21:\"customerChargeTaxType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:23:\"customerChargeTaxAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:0:\"\";}s:21:\"customerChargeTaxCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}}}}s:12:\"instructions\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:20:\"customerInstructions\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}}}}s:15:\"transactionType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:12:\"instrumentId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"The
  identifier of the instrument\";}s:18:\"instrumentCurrency\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:12:\"transferDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:36:\"The
  transfer date of the transaction\";}s:9:\"valueDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:25:\"The
  applicable value date\";}s:12:\"depositoryId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:80:\"The
  identifier of the depository. Must be a customerSecurity of type depository.\";}s:19:\"deliveryInstruction\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:10:\"customerId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"The
  identifier of the customer\";}s:11:\"portfolioId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"The
  identifier of the portfolio\";}s:8:\"quantity\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"The
  nominal quantity\";}s:5:\"price\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:90:\"The
  Price at which the NOMINAL.AMOUNT of the Security is to be valued for the transaction.\";}s:7:\"nominee\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  nominee company of the security\";}s:9:\"grossCost\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:0:\"\";}s:25:\"valueInInstrumentCurrency\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:54:\"The
  amount converted to the currency of the instrument\";}s:7:\"charges\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:0:\"\";}s:13:\"actualCharges\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"The
  amount of the charge that was applied\";}s:9:\"accountId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:132:\"The
  identifier of the account. Often referred to as the account number, yet for consistency
  this is always referred to as accountId.\";}s:14:\"interestAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:36:\"The
  accrued Interest due or accrued.\";}s:29:\"netAmountInInstrumentCurrency\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:128:\"The
  net amount of the current valuation of the Securities being transferred, ie. the
  gross amount +/- Charges + accrued Interest\";}s:26:\"netAmountInAccountCurrency\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:60:\"The
  net amount due to or from the Customer after +/- Charges\";}s:12:\"exchangeRate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:0:\"\";}s:10:\"commission\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:0:\"\";}s:14:\"commissionName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"The
  name that is displayed for the commission\";}s:14:\"commissionRate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:123:\"The
  commission by percentage. Allowed only for manual commission. Calculated commission
  amount can be overwritten manually.\";}s:23:\"changeInBeneficialOwner\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:81:\"
  Indicates whether there is a beneficial owner change as a result of the transfer\";}s:8:\"stampTax\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:58:\"The
  Stamp Tax amount charged to the Customer for the trade\";}s:14:\"counterpartyId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  identifier of the counter party\";}s:3:\"BIC\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:8:\"nostroId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"The
  identifier of the nostro account\";}s:14:\"nostroCurrency\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  currency of the nostro\";}s:22:\"counterpartyDepository\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:91:\"Specifies
  the Depository(ies) that the Broker will be delivering the Securities from or to.\";}s:12:\"brokerAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:306:\"Specifies
  the Net.Amount due to/from the Broker (Field 23) for the transaction.Input is only
  required where the Security. Transfer is made against payment.Standard Amount Format
  0-14 numeric characters (number of decimal places dependant on the currency of theSecurity).
  (Optional input) Default value = 0.\";}}}s:37:\"getSecurityTransferOrderErrorResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"header\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ErrorHeader\";}s:5:\"error\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:55:\"#/definitions/getSecurityTransferOrderErrorResponseBody\";}}s:11:\"description\";s:37:\"getSecurityTransferOrderErrorResponse\";}s:41:\"getSecurityTransferOrderErrorResponseBody\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"errorDetails\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"fieldName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}"
...
