---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"Allows the creation,
  viewing and management of payment orders\";s:7:\"version\";s:6:\"v1.0.0\";s:5:\"title\";s:25:\"Order
  Payment Orders APIs\";}"
host: api.server.com
basePath: /api/v1.0.0/
paths:
  /order/paymentOrders/{paymentOrderId}:
    get:
      operationId: getPaymentOrder
      produces:
      - application/json
      parameters:
      - name: paymentOrderId
        in: path
        description: The unique reference number of payment
        required: true
        type: string
      - name: currentPaymentState
        in: query
        required: false
        type: string
      - name: paymentStatus
        in: query
        description: Indicates the Status Code of the payment. Every payment in the
          hub is tracked using a status code which depicts the current stage at which
          payment is in the workflow
        required: false
        type: string
      - name: paymentOrderProductId
        in: query
        description: Indicates the payment order product for which payment is initiated
        required: false
        type: string
      - name: debitAccountId
        in: query
        description: Indicates the debit account number of the payment
        required: false
        type: string
      - name: orderingCustomerId
        in: query
        description: Indicates the customer id for the ordering customer
        required: false
        type: string
      - name: page_size
        in: query
        description: The total number of records per page
        required: false
        type: integer
        format: int32
      - name: page_start
        in: query
        description: The record from which the response should be displayed
        required: false
        type: integer
        format: int32
      - name: page_token
        in: query
        description: Unique id expected to get as part of response from t24 on every
          enquiry request.
        required: false
        type: string
      - name: credentials
        in: header
        required: false
        type: string
      - name: companyId
        in: header
        required: false
        type: string
      responses:
        200:
          description: PaymentOrderResponse
          schema:
            $ref: '#/definitions/PaymentOrderResponse1'
        default:
          description: QueryErrorResponse
          schema:
            $ref: '#/definitions/QueryErrorResponse'
    put:
      operationId: updatePaymentOrder
      produces:
      - application/json
      parameters:
      - name: paymentOrderId
        in: path
        description: The unique reference number of payment
        required: true
        type: string
      - in: body
        name: payload
        description: body Payload
        required: true
        schema:
          $ref: '#/definitions/PaymentOrder'
      - name: validate_only
        in: query
        description: The identifier to indicate if it is set to only validate or not.
        required: false
        type: boolean
      - name: credentials
        in: header
        required: false
        type: string
      - name: companyId
        in: header
        required: false
        type: string
      responses:
        200:
          description: PaymentOrderResponse
          schema:
            $ref: '#/definitions/PaymentOrderResponse'
        default:
          description: ScreenErrorResponse
          schema:
            $ref: '#/definitions/ScreenErrorResponse'
    delete:
      operationId: deletePaymentOrder
      produces:
      - application/json
      parameters:
      - name: paymentOrderId
        in: path
        description: The unique reference number of payment
        required: true
        type: string
      - name: validate_only
        in: query
        description: The identifier to indicate if it is set to only validate or not.
        required: false
        type: boolean
      - name: credentials
        in: header
        required: false
        type: string
      - name: companyId
        in: header
        required: false
        type: string
      responses:
        200:
          description: PaymentOrderResponse
          schema:
            $ref: '#/definitions/PaymentOrderResponse'
        default:
          description: ScreenErrorResponse
          schema:
            $ref: '#/definitions/ScreenErrorResponse'
  /order/paymentOrders:
    get:
      operationId: getPaymentOrders
      produces:
      - application/json
      parameters:
      - name: paymentOrderId
        in: query
        description: The unique reference number of payment
        required: false
        type: string
      - name: currentPaymentState
        in: query
        required: false
        type: string
      - name: paymentStatus
        in: query
        description: Indicates the Status Code of the payment. Every payment in the
          hub is tracked using a status code which depicts the current stage at which
          payment is in the workflow
        required: false
        type: string
      - name: paymentOrderProductIdNE
        in: query
        required: false
        type: string
      - name: paymentOrderProductId
        in: query
        description: Indicates the payment order product for which payment is initiated
        required: false
        type: string
      - name: debitAccountId
        in: query
        description: Indicates the debit account number of the payment
        required: false
        type: string
      - name: orderingCustomerId
        in: query
        description: Indicates the customer id for the ordering customer
        required: false
        type: string
      - name: page_size
        in: query
        description: The total number of records per page
        required: false
        type: integer
        format: int32
      - name: page_start
        in: query
        description: The record from which the response should be displayed
        required: false
        type: integer
        format: int32
      - name: page_token
        in: query
        description: Unique id expected to get as part of response from t24 on every
          enquiry request.
        required: false
        type: string
      - name: credentials
        in: header
        required: false
        type: string
      - name: companyId
        in: header
        required: false
        type: string
      responses:
        200:
          description: PaymentOrdersResponse
          schema:
            $ref: '#/definitions/PaymentOrderResponse1'
        default:
          description: QueryErrorResponse
          schema:
            $ref: '#/definitions/QueryErrorResponse'
    post:
      operationId: createPaymentOrder
      produces:
      - application/json
      parameters:
      - in: body
        name: payload
        description: body Payload
        required: true
        schema:
          $ref: '#/definitions/PaymentOrder'
      - name: validate_only
        in: query
        description: The identifier to indicate if it is set to only validate or not.
        required: false
        type: boolean
      - name: credentials
        in: header
        required: false
        type: string
      - name: companyId
        in: header
        required: false
        type: string
      responses:
        200:
          description: PaymentOrderResponse
          schema:
            $ref: '#/definitions/PaymentOrderResponse'
        default:
          description: ScreenErrorResponse
          schema:
            $ref: '#/definitions/ScreenErrorResponse'
  /order/paymentOrders/purposes:
    get:
      operationId: getPaymentOrderPurposes
      produces:
      - application/json
      parameters:
      - name: paymentOrderPurposeCodeId
        in: query
        description: Indicates the Id of payment purpose code i.e. purpose of the
          instruction based on a set of pre-defined categories.
        required: false
        type: string
      - name: page_size
        in: query
        description: The total number of records per page
        required: false
        type: integer
        format: int32
      - name: page_start
        in: query
        description: The record from which the response should be displayed
        required: false
        type: integer
        format: int32
      - name: page_token
        in: query
        description: Unique id expected to get as part of response from t24 on every
          enquiry request.
        required: false
        type: string
      - name: credentials
        in: header
        required: false
        type: string
      - name: companyId
        in: header
        required: false
        type: string
      responses:
        200:
          description: PaymentOrderPurposesResponse
          schema:
            $ref: '#/definitions/PaymentOrderPurposesResponse'
        default:
          description: QueryErrorResponse
          schema:
            $ref: '#/definitions/QueryErrorResponse'
  /order/paymentOrders/products:
    get:
      operationId: getPaymentOrderProducts
      produces:
      - application/json
      parameters:
      - name: paymentProductGroupId
        in: query
        required: false
        type: string
      - name: paymentOrderProductId
        in: query
        description: Indicates the payment order product for which payment is initiated
        required: false
        type: string
      - name: page_size
        in: query
        description: The total number of records per page
        required: false
        type: integer
        format: int32
      - name: page_start
        in: query
        description: The record from which the response should be displayed
        required: false
        type: integer
        format: int32
      - name: page_token
        in: query
        description: Unique id expected to get as part of response from t24 on every
          enquiry request.
        required: false
        type: string
      - name: credentials
        in: header
        required: false
        type: string
      - name: companyId
        in: header
        required: false
        type: string
      responses:
        200:
          description: PaymentOrderProductsResponse
          schema:
            $ref: '#/definitions/PaymentOrderProductsResponse'
        default:
          description: QueryErrorResponse
          schema:
            $ref: '#/definitions/QueryErrorResponse'
  /order/paymentOrders/countryRules:
    get:
      operationId: getPaymentOrderCountryRules
      produces:
      - application/json
      parameters:
      - name: countryId
        in: query
        description: 'ISO country code of the financial institution. '
        required: false
        type: string
      - name: page_size
        in: query
        description: The total number of records per page
        required: false
        type: integer
        format: int32
      - name: page_start
        in: query
        description: The record from which the response should be displayed
        required: false
        type: integer
        format: int32
      - name: page_token
        in: query
        description: Unique id expected to get as part of response from t24 on every
          enquiry request.
        required: false
        type: string
      - name: credentials
        in: header
        required: false
        type: string
      - name: companyId
        in: header
        required: false
        type: string
      responses:
        200:
          description: PaymentOrderCountryRulesResponse
          schema:
            $ref: '#/definitions/PaymentOrderCountryRulesResponse'
        default:
          description: QueryErrorResponse
          schema:
            $ref: '#/definitions/QueryErrorResponse'
schemes:
- http
- https
definitions: !php/object "O:8:\"stdClass\":21:{s:13:\"PayloadHeader\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"override\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"overrideDetails\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"The
  identifier of the override\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"The
  actual override message\";}s:12:\"responseCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"The
  user input to accept/reject the override.\";}}}}}}s:5:\"audit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"versionNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  CURR.NO. of the record\";}}}}}s:12:\"PaymentOrder\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"header\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/PayloadHeader\";}s:4:\"body\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/PaymentOrderBody\";}}s:11:\"description\";s:12:\"PaymentOrder\";}s:16:\"PaymentOrderBody\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":53:{s:10:\"narratives\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:108:\"The
  additional text printed on descriptive statements in addition to the standard narrative
  and/or reference\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"narrative\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:108:\"The
  additional text printed on descriptive statements in addition to the standard narrative
  and/or reference\";}}}}s:22:\"additionalInformations\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:46:\"Additional
  Information provided to add context\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:21:\"additionalInformation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"Additional
  Information provided to add context\";}}}}s:22:\"remittanceInformations\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:246:\"Indicates
  the remittance information that is supplied to enable the matching/reconciliation
  of an entry with the items that the payment is intended to settle, such as commercial
  invoices in an accounts' receivable system, in an unstructured form.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:21:\"remittanceInformation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:246:\"Indicates
  the remittance information that is supplied to enable the matching/reconciliation
  of an entry with the items that the payment is intended to settle, such as commercial
  invoices in an accounts' receivable system, in an unstructured form.\";}}}}s:11:\"signatories\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:182:\"The
  authorised signatories for the payments can be specified here. More applicable in
  case of corporate payments where multiple signatories are required to sign a payment
  instruction\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"signatory\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:182:\"The
  authorised signatories for the payments can be specified here. More applicable in
  case of corporate payments where multiple signatories are required to sign a payment
  instruction\";}}}}s:17:\"invoiceReferences\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:41:\"It
  provides the reference of the invoice \";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"invoiceReference\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"It
  provides the reference of the invoice \";}}}}s:7:\"charges\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:40:\"The
  charges or fees for this transaction\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"chargeType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"Holds
  the type of the charges to be collected\";}s:10:\"chargeName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:53:\"The
  description of the charge to be taken for payment\";}s:14:\"chargeCurrency\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:86:\"Indicates
  the charge currency in which charge amount will be taken for the instruction\";}s:12:\"chargeAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:146:\"Indicates
  the charge amount in the charge currency which is to be applied for instruction
  for e.g. charge to be taken for payment stop instruction\";}s:27:\"chargeAccountCurrencyAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:0:\"\";}}}}s:9:\"overrides\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:114:\"The
  override message is captured  that was generated at the time of commitment of the
  transaction to the database.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"override\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:114:\"The
  override message is captured  that was generated at the time of commitment of the
  transaction to the database.\";}}}}s:21:\"paymentOrderProductId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:66:\"Indicates
  the payment order product for which payment is initiated\";}s:14:\"debitAccountId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:49:\"Indicates
  the debit account number of the payment\";}s:16:\"debitAccountIBAN\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"Indicates
  the debit account IBAN of the payment\";}s:13:\"debitCurrency\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"Indicates
  the currency of debit account\";}s:14:\"debitValueDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:70:\"The
  date on which the Invocation amount will be debited for settlement\";}s:15:\"creditAccountId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:62:\"This
  is the account which will be credited for the instruction\";}s:17:\"creditAccountIBAN\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"Indicates
  the IBAN of the credit account\";}s:18:\"orderingCustomerId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:51:\"Indicates
  the customer id for the ordering customer\";}s:20:\"orderingCustomerName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"Indicates
  the name of Ordering Customer\";}s:17:\"paymentCurrencyId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"The
  currency of payment.\";}s:6:\"amount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:26:\"This
  is the payment amount\";}s:13:\"executionDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:39:\"The
  date when payment will be processed\";}s:12:\"treasuryRate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:87:\"The
  Treasury rate for the conversion between payment currency and the ordering currency\";}s:11:\"forexSpread\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:213:\"The
  spread that is applied to the published internal exchange rates to derive the final
  exchange rate or the customer rate for the transaction for currency conversion between
  ordering currency and payment currency\";}s:17:\"forexCustomerRate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:163:\"The
  exchange rate that is actually applied for currency conversion between ordering
  currency and payment currency in case of transactions involving FX conversion. \";}s:17:\"orderingPortfolio\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:92:\"Indicates
  the portfolio id for the debit side if the account belongs to a specific portfolio\";}s:15:\"creditPortfolio\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:93:\"Indicates
  the portfolio id for the credit side if the account belongs to a specific portfolio\";}s:17:\"orderingReference\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"The
  reference related to the ordering details\";}s:12:\"chargeBearer\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:152:\"Indicates
  who will bear all charges for the payment. Allowed options are Recipient To Pay
  All Charges, Pay My Bank's Charges or Pay My Bank Charges Only\";}s:13:\"beneficiaryId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:67:\"Indicates
  the Id of beneficiary when beneficiary details are stored\";}s:20:\"beneficiaryAccountId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"Indicates
  the account number of the beneficiary\";}s:14:\"beneficiaryBIC\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:55:\"BIC
  (Bank Identifier Code) of the beneficiary customer \";}s:15:\"beneficiaryName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"Name
  of beneficiary\";}s:18:\"accountWithBankBIC\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:74:\"This
  is the BIC code of the institution where beneficiary holds an account\";}s:27:\"beneficiaryBankClearingCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:50:\"Clearing
  code or sort code of the beneficiary bank\";}s:27:\"accountWithBankClearingCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:101:\"This
  is the national clearing code or sort code of the institution where beneficiary
  holds an account\";}s:15:\"clearingChannel\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"Indicates
  the clearing channel for the payment in the ISO format of the Clearing System Identifiers\";}s:27:\"structuredCreditorReference\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:96:\"This
  is the unique reference, as assigned by the creditor, to unambiguously refer to
  the payment\";}s:22:\"beneficiaryCountryCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:15:\"beneficiaryIBAN\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"The
  IBAN of the beneficiary's account\";}s:19:\"accountWithBankIBAN\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:70:\"This
  is the IBAN of the institution where beneficiary holds an account\";}s:23:\"requiredCreditValueDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:94:\"The
  credit value date i.e. tentative date on which the payment system will process the
  payment\";}s:7:\"purpose\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"Indicates
  the purpose code of the payment\";}s:27:\"structuredCommunicationCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:233:\"Creditor
  reference in a coded form i.e - RADM (RemittanceAdviceMessage) - RPIN (RelatedPaymentInstruction)
  - FXDR (ForeignExchangeDealReference) - DISP (DispatchAdvice) - PUOR (PurchaseOrder)
  - SCOR (StructuredCommunicationReference)\";}s:16:\"structuredIssuer\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"Entity
  that assigns the identification\";}s:17:\"endToEndReference\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:161:\"This
  indicates the end to end reference for the payment. This field can be provided by
  one who instructs the payment and flows through the lifecycle of payment. \";}s:22:\"instructionIdReference\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:141:\"\"Indicates
  the unique identification as assigned by an instructing party for an instructed
  party to\r unambiguously identify the instruction.\"\";}s:18:\"termsAndConditions\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:90:\"Specifies
  the terms and conditions in the text format for the payment instruction, if any.\";}s:14:\"indicativeRate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:184:\"The
  indicative rate at the time of submitting a payment initiation request. Actual rate
  with which the payment will be processed will be calculated/ fetched during payment
  processing. \";}s:15:\"chargeAccountId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:118:\"Indicates
  the account to which the charges has to be levied. Used when charges are to be taken
  from a separate account\";}s:23:\"chargeAccountCurrencyId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:91:\"When
  a charge account is specified, this field indicates the currency of the charge account\";}s:15:\"creditValueDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:54:\"The
  value date applied to the credit side of a payment\";}s:12:\"PSDCompliant\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:85:\"Defines
  whether the transaction is PSD (Payment Services Directive) compliant or not.\";}s:16:\"totalDebitAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:71:\"The
  total debit amount including the charges associated for the payment\";}s:19:\"localInstrumentCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:12:\"recordStatus\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:325:\"General
  status of the record. Possible values: - null - authorised - IHLD - input, on hold
  - INAU - input, not authorised - INA2 - input, authorised, pending second authorisation
  - INAO - input, not authorised with blocking overrides - RNAU - reversed, not authorised
  - RNAO - reversed, not authorised with blocking overrides\";}}}s:12:\"ScreenHeader\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"The
  Identifier of the record created\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"The
  status of the record\";}s:17:\"transactionStatus\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"The
  status of the transaction\";}s:5:\"audit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"T24_time\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:29:\"Time
  taken to response by T24\";}s:13:\"versionNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  CURR.NO. of the record\";}s:10:\"parse_time\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:40:\"Time
  taken to parse the response by IRIS\";}}}}}s:20:\"PaymentOrderResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"header\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ScreenHeader\";}s:4:\"body\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/PaymentOrderResponseBody\";}}s:11:\"description\";s:20:\"PaymentOrderResponse\";}s:24:\"PaymentOrderResponseBody\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":53:{s:10:\"narratives\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:108:\"The
  additional text printed on descriptive statements in addition to the standard narrative
  and/or reference\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"narrative\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:108:\"The
  additional text printed on descriptive statements in addition to the standard narrative
  and/or reference\";}}}}s:22:\"additionalInformations\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:46:\"Additional
  Information provided to add context\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:21:\"additionalInformation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"Additional
  Information provided to add context\";}}}}s:22:\"remittanceInformations\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:246:\"Indicates
  the remittance information that is supplied to enable the matching/reconciliation
  of an entry with the items that the payment is intended to settle, such as commercial
  invoices in an accounts' receivable system, in an unstructured form.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:21:\"remittanceInformation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:246:\"Indicates
  the remittance information that is supplied to enable the matching/reconciliation
  of an entry with the items that the payment is intended to settle, such as commercial
  invoices in an accounts' receivable system, in an unstructured form.\";}}}}s:11:\"signatories\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:182:\"The
  authorised signatories for the payments can be specified here. More applicable in
  case of corporate payments where multiple signatories are required to sign a payment
  instruction\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"signatory\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:182:\"The
  authorised signatories for the payments can be specified here. More applicable in
  case of corporate payments where multiple signatories are required to sign a payment
  instruction\";}}}}s:17:\"invoiceReferences\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:41:\"It
  provides the reference of the invoice \";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"invoiceReference\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"It
  provides the reference of the invoice \";}}}}s:7:\"charges\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:40:\"The
  charges or fees for this transaction\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:10:\"chargeType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"Holds
  the type of the charges to be collected\";}s:10:\"chargeName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:53:\"The
  description of the charge to be taken for payment\";}s:14:\"chargeCurrency\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:86:\"Indicates
  the charge currency in which charge amount will be taken for the instruction\";}s:12:\"chargeAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:146:\"Indicates
  the charge amount in the charge currency which is to be applied for instruction
  for e.g. charge to be taken for payment stop instruction\";}s:27:\"chargeAccountCurrencyAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:0:\"\";}}}}s:9:\"overrides\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:114:\"The
  override message is captured  that was generated at the time of commitment of the
  transaction to the database.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"override\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:114:\"The
  override message is captured  that was generated at the time of commitment of the
  transaction to the database.\";}}}}s:21:\"paymentOrderProductId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:66:\"Indicates
  the payment order product for which payment is initiated\";}s:14:\"debitAccountId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:49:\"Indicates
  the debit account number of the payment\";}s:16:\"debitAccountIBAN\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"Indicates
  the debit account IBAN of the payment\";}s:13:\"debitCurrency\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"Indicates
  the currency of debit account\";}s:14:\"debitValueDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:70:\"The
  date on which the Invocation amount will be debited for settlement\";}s:15:\"creditAccountId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:62:\"This
  is the account which will be credited for the instruction\";}s:17:\"creditAccountIBAN\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"Indicates
  the IBAN of the credit account\";}s:18:\"orderingCustomerId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:51:\"Indicates
  the customer id for the ordering customer\";}s:20:\"orderingCustomerName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"Indicates
  the name of Ordering Customer\";}s:17:\"paymentCurrencyId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"The
  currency of payment.\";}s:6:\"amount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:26:\"This
  is the payment amount\";}s:13:\"executionDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:39:\"The
  date when payment will be processed\";}s:12:\"treasuryRate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:87:\"The
  Treasury rate for the conversion between payment currency and the ordering currency\";}s:11:\"forexSpread\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:213:\"The
  spread that is applied to the published internal exchange rates to derive the final
  exchange rate or the customer rate for the transaction for currency conversion between
  ordering currency and payment currency\";}s:17:\"forexCustomerRate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:163:\"The
  exchange rate that is actually applied for currency conversion between ordering
  currency and payment currency in case of transactions involving FX conversion. \";}s:17:\"orderingPortfolio\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:92:\"Indicates
  the portfolio id for the debit side if the account belongs to a specific portfolio\";}s:15:\"creditPortfolio\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:93:\"Indicates
  the portfolio id for the credit side if the account belongs to a specific portfolio\";}s:17:\"orderingReference\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"The
  reference related to the ordering details\";}s:12:\"chargeBearer\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:152:\"Indicates
  who will bear all charges for the payment. Allowed options are Recipient To Pay
  All Charges, Pay My Bank's Charges or Pay My Bank Charges Only\";}s:13:\"beneficiaryId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:67:\"Indicates
  the Id of beneficiary when beneficiary details are stored\";}s:20:\"beneficiaryAccountId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"Indicates
  the account number of the beneficiary\";}s:14:\"beneficiaryBIC\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:55:\"BIC
  (Bank Identifier Code) of the beneficiary customer \";}s:15:\"beneficiaryName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"Name
  of beneficiary\";}s:18:\"accountWithBankBIC\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:74:\"This
  is the BIC code of the institution where beneficiary holds an account\";}s:27:\"beneficiaryBankClearingCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:50:\"Clearing
  code or sort code of the beneficiary bank\";}s:27:\"accountWithBankClearingCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:101:\"This
  is the national clearing code or sort code of the institution where beneficiary
  holds an account\";}s:15:\"clearingChannel\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"Indicates
  the clearing channel for the payment in the ISO format of the Clearing System Identifiers\";}s:27:\"structuredCreditorReference\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:96:\"This
  is the unique reference, as assigned by the creditor, to unambiguously refer to
  the payment\";}s:22:\"beneficiaryCountryCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:15:\"beneficiaryIBAN\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"The
  IBAN of the beneficiary's account\";}s:19:\"accountWithBankIBAN\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:70:\"This
  is the IBAN of the institution where beneficiary holds an account\";}s:23:\"requiredCreditValueDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:94:\"The
  credit value date i.e. tentative date on which the payment system will process the
  payment\";}s:7:\"purpose\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"Indicates
  the purpose code of the payment\";}s:27:\"structuredCommunicationCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:233:\"Creditor
  reference in a coded form i.e - RADM (RemittanceAdviceMessage) - RPIN (RelatedPaymentInstruction)
  - FXDR (ForeignExchangeDealReference) - DISP (DispatchAdvice) - PUOR (PurchaseOrder)
  - SCOR (StructuredCommunicationReference)\";}s:16:\"structuredIssuer\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"Entity
  that assigns the identification\";}s:17:\"endToEndReference\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:161:\"This
  indicates the end to end reference for the payment. This field can be provided by
  one who instructs the payment and flows through the lifecycle of payment. \";}s:22:\"instructionIdReference\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:141:\"\"Indicates
  the unique identification as assigned by an instructing party for an instructed
  party to\r unambiguously identify the instruction.\"\";}s:18:\"termsAndConditions\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:90:\"Specifies
  the terms and conditions in the text format for the payment instruction, if any.\";}s:14:\"indicativeRate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:184:\"The
  indicative rate at the time of submitting a payment initiation request. Actual rate
  with which the payment will be processed will be calculated/ fetched during payment
  processing. \";}s:15:\"chargeAccountId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:118:\"Indicates
  the account to which the charges has to be levied. Used when charges are to be taken
  from a separate account\";}s:23:\"chargeAccountCurrencyId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:91:\"When
  a charge account is specified, this field indicates the currency of the charge account\";}s:15:\"creditValueDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:54:\"The
  value date applied to the credit side of a payment\";}s:12:\"PSDCompliant\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:85:\"Defines
  whether the transaction is PSD (Payment Services Directive) compliant or not.\";}s:16:\"totalDebitAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:71:\"The
  total debit amount including the charges associated for the payment\";}s:19:\"localInstrumentCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:12:\"recordStatus\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:325:\"General
  status of the record. Possible values: - null - authorised - IHLD - input, on hold
  - INAU - input, not authorised - INA2 - input, authorised, pending second authorisation
  - INAO - input, not authorised with blocking overrides - RNAU - reversed, not authorised
  - RNAO - reversed, not authorised with blocking overrides\";}}}s:11:\"ErrorHeader\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"The
  Identifier of the record created\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"The
  status of the record\";}s:17:\"transactionStatus\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"The
  status of the transaction\";}s:5:\"audit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"T24_time\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:29:\"Time
  taken to response by T24\";}s:13:\"versionNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  CURR.NO. of the record\";}s:10:\"parse_time\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:40:\"Time
  taken to parse the response by IRIS\";}}}}}s:12:\"overrideBody\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"overrideDetails\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"The
  identifier of the override\";}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"The
  actual override message\";}}}}}}s:19:\"ScreenErrorResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"header\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ErrorHeader\";}s:5:\"error\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/ScreenErrorResponseBody\";}s:8:\"override\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/overrideBody\";}}s:11:\"description\";s:19:\"ScreenErrorResponse\";}s:23:\"ScreenErrorResponseBody\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"errorDetails\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"fieldName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"The
  name of the field\";}s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  identifier of the error message\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"The
  actual t24 error message\";}}}}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"The
  identifier of error type\";}}}s:11:\"QueryHeader\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:5:\"audit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"T24_time\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:29:\"Time
  taken to response by T24\";}s:13:\"versionNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  CURR.NO. of the record\";}s:10:\"parse_time\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:40:\"Time
  taken to parse the response by IRIS\";}}}s:9:\"page_size\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:36:\"The
  total number of records per page\";}s:10:\"page_start\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:54:\"The
  record from which the response should be displayed\";}s:10:\"total_size\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:35:\"The
  total number of records present\";}s:10:\"page_token\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:79:\"Unique
  id expected to get as part of response from t24 on every enquiry request\";}}}s:21:\"PaymentOrderResponse1\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"header\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/QueryHeader\";}s:4:\"body\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/PaymentOrderResponse1Body\";}}s:11:\"description\";s:21:\"PaymentOrderResponse1\";}s:25:\"PaymentOrderResponse1Body\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":41:{s:6:\"debits\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:31:\"Debit
  value of the transaction \";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:14:\"debitAccountId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:49:\"Indicates
  the debit account number of the payment\";s:9:\"maxLength\";i:34;}s:16:\"debitAccountIBAN\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"Indicates
  the debit account IBAN of the payment\";s:9:\"maxLength\";i:35;}s:13:\"debitCurrency\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"Indicates
  the currency of debit account\";s:9:\"maxLength\";i:3;}s:14:\"debitValueDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:70:\"The
  date on which the Invocation amount will be debited for settlement\";}s:16:\"totalDebitAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:71:\"The
  total debit amount including the charges associated for the payment\";}}}}s:7:\"credits\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:31:\"Credit
  value of the transaction\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:15:\"creditAccountId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:62:\"This
  is the account which will be credited for the instruction\";s:9:\"maxLength\";i:19;}s:17:\"creditAccountIBAN\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"Indicates
  the IBAN of the credit account\";s:9:\"maxLength\";i:35;}s:23:\"requiredCreditValueDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:94:\"The
  credit value date i.e. tentative date on which the payment system will process the
  payment\";}s:15:\"creditValueDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:54:\"The
  value date applied to the credit side of a payment\";}}}}s:10:\"narratives\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:108:\"The
  additional text printed on descriptive statements in addition to the standard narrative
  and/or reference\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"narrative\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:108:\"The
  additional text printed on descriptive statements in addition to the standard narrative
  and/or reference\";s:9:\"maxLength\";i:65;}}}}s:22:\"additionalInformations\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:46:\"Additional
  Information provided to add context\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:21:\"additionalInformation\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"Additional
  Information provided to add context\";s:9:\"maxLength\";i:65;}}}}s:22:\"remittanceInformations\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:246:\"Indicates
  the remittance information that is supplied to enable the matching/reconciliation
  of an entry with the items that the payment is intended to settle, such as commercial
  invoices in an accounts' receivable system, in an unstructured form.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:21:\"remittanceInformation\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:246:\"Indicates
  the remittance information that is supplied to enable the matching/reconciliation
  of an entry with the items that the payment is intended to settle, such as commercial
  invoices in an accounts' receivable system, in an unstructured form.\";s:9:\"maxLength\";i:35;}}}}s:13:\"beneficiaries\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:65:\"Identifies
  the Beneficiary name and address of the Standing Order\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:13:\"beneficiaryId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:67:\"Indicates
  the Id of beneficiary when beneficiary details are stored\";s:9:\"maxLength\";i:17;}s:20:\"beneficiaryAccountId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"Indicates
  the account number of the beneficiary\";s:9:\"maxLength\";i:34;}s:14:\"beneficiaryBIC\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:55:\"BIC
  (Bank Identifier Code) of the beneficiary customer \";s:9:\"maxLength\";i:35;}s:15:\"beneficiaryName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"Name
  of beneficiary\";s:9:\"maxLength\";i:70;}s:22:\"beneficiaryCountryCode\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:9:\"maxLength\";i:2;}s:15:\"beneficiaryIBAN\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"The
  IBAN of the beneficiary's account\";s:9:\"maxLength\";i:35;}s:19:\"accountWithBankIBAN\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:70:\"This
  is the IBAN of the institution where beneficiary holds an account\";s:9:\"maxLength\";i:35;}}}}s:17:\"invoiceReferences\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:41:\"It
  provides the reference of the invoice \";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"invoiceReference\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"It
  provides the reference of the invoice \";s:9:\"maxLength\";i:35;}}}}s:7:\"charges\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:40:\"The
  charges or fees for this transaction\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:15:\"chargeAccountId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:118:\"Indicates
  the account to which the charges has to be levied. Used when charges are to be taken
  from a separate account\";s:9:\"maxLength\";i:34;}s:23:\"chargeAccountCurrencyId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:91:\"When
  a charge account is specified, this field indicates the currency of the charge account\";s:9:\"maxLength\";i:3;}s:10:\"chargeType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"Holds
  the type of the charges to be collected\";s:9:\"maxLength\";i:20;}s:10:\"chargeName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:53:\"The
  description of the charge to be taken for payment\";s:9:\"maxLength\";i:50;}s:16:\"chargeCurrencyId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:92:\"Specifies
  the currency of the charge amount. Allowed only when a charge amount is specified
  \";s:9:\"maxLength\";i:3;}s:12:\"chargeAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:146:\"Indicates
  the charge amount in the charge currency which is to be applied for instruction
  for e.g. charge to be taken for payment stop instruction\";s:9:\"maxLength\";i:19;}s:27:\"chargeAccountCurrencyAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:0:\"\";}}}}s:14:\"paymentOrderId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"The
  unique reference number of payment\";s:9:\"maxLength\";i:35;}s:21:\"paymentOrderProductId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:66:\"Indicates
  the payment order product for which payment is initiated\";s:9:\"maxLength\";i:35;}s:18:\"orderingCustomerId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:51:\"Indicates
  the customer id for the ordering customer\";s:9:\"maxLength\";i:35;}s:20:\"orderingCustomerName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"Indicates
  the name of Ordering Customer\";s:9:\"maxLength\";i:140;}s:17:\"paymentCurrencyId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"The
  currency of payment.\";s:9:\"maxLength\";i:3;}s:6:\"amount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:26:\"This
  is the payment amount\";}s:13:\"executionDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:39:\"The
  date when payment will be processed\";}s:12:\"treasuryRate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:87:\"The
  Treasury rate for the conversion between payment currency and the ordering currency\";s:9:\"maxLength\";i:11;}s:11:\"forexSpread\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:213:\"The
  spread that is applied to the published internal exchange rates to derive the final
  exchange rate or the customer rate for the transaction for currency conversion between
  ordering currency and payment currency\";s:9:\"maxLength\";i:12;}s:17:\"forexCustomerRate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:163:\"The
  exchange rate that is actually applied for currency conversion between ordering
  currency and payment currency in case of transactions involving FX conversion. \";s:9:\"maxLength\";i:11;}s:17:\"orderingPortfolio\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:92:\"Indicates
  the portfolio id for the debit side if the account belongs to a specific portfolio\";s:9:\"maxLength\";i:18;}s:15:\"creditPortfolio\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:93:\"Indicates
  the portfolio id for the credit side if the account belongs to a specific portfolio\";s:9:\"maxLength\";i:18;}s:17:\"orderingReference\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"The
  reference related to the ordering details\";s:9:\"maxLength\";i:18;}s:12:\"chargeBearer\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:152:\"Indicates
  who will bear all charges for the payment. Allowed options are Recipient To Pay
  All Charges, Pay My Bank's Charges or Pay My Bank Charges Only\";s:9:\"maxLength\";i:35;}s:18:\"accountWithBankBIC\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:74:\"This
  is the BIC code of the institution where beneficiary holds an account\";s:9:\"maxLength\";i:27;}s:27:\"beneficiaryBankClearingCode\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:50:\"Clearing
  code or sort code of the beneficiary bank\";s:9:\"maxLength\";i:35;}s:27:\"accountWithBankClearingCode\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:101:\"This
  is the national clearing code or sort code of the institution where beneficiary
  holds an account\";s:9:\"maxLength\";i:35;}s:15:\"clearingChannel\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:99:\"Indicates
  the clearing channel for the payment in the ISO format of the Clearing System Identifiers\";s:9:\"maxLength\";i:35;}s:27:\"structuredCreditorReference\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:96:\"This
  is the unique reference, as assigned by the creditor, to unambiguously refer to
  the payment\";s:9:\"maxLength\";i:65;}s:9:\"signatory\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:182:\"The
  authorised signatories for the payments can be specified here. More applicable in
  case of corporate payments where multiple signatories are required to sign a payment
  instruction\";s:9:\"maxLength\";i:35;}s:7:\"purpose\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"Indicates
  the purpose code of the payment\";s:9:\"maxLength\";i:65;}s:27:\"structuredCommunicationCode\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:233:\"Creditor
  reference in a coded form i.e - RADM (RemittanceAdviceMessage) - RPIN (RelatedPaymentInstruction)
  - FXDR (ForeignExchangeDealReference) - DISP (DispatchAdvice) - PUOR (PurchaseOrder)
  - SCOR (StructuredCommunicationReference)\";s:9:\"maxLength\";i:35;}s:16:\"structuredIssuer\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"Entity
  that assigns the identification\";s:9:\"maxLength\";i:65;}s:17:\"endToEndReference\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:161:\"This
  indicates the end to end reference for the payment. This field can be provided by
  one who instructs the payment and flows through the lifecycle of payment. \";s:9:\"maxLength\";i:35;}s:22:\"instructionIdReference\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:141:\"\"Indicates
  the unique identification as assigned by an instructing party for an instructed
  party to\r unambiguously identify the instruction.\"\";s:9:\"maxLength\";i:35;}s:18:\"termsAndConditions\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:90:\"Specifies
  the terms and conditions in the text format for the payment instruction, if any.\";s:9:\"maxLength\";i:120;}s:13:\"paymentStatus\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:165:\"Indicates
  the Status Code of the payment. Every payment in the hub is tracked using a status
  code which depicts the current stage at which payment is in the workflow\";s:9:\"maxLength\";i:35;}s:13:\"currentStatus\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:50:\"This
  indicates the current status of payment order\";s:9:\"maxLength\";i:65;}s:14:\"internalStatus\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:132:\"This
  indicates a full description of payment purpose code. i.e. purpose of the instruction
  based on a set of pre-defined categories.\";s:9:\"maxLength\";i:10;}s:8:\"systemId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:68:\"The
  system application identifier from which the entry was generated\";s:9:\"maxLength\";i:35;}s:14:\"indicativeRate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:184:\"The
  indicative rate at the time of submitting a payment initiation request. Actual rate
  with which the payment will be processed will be calculated/ fetched during payment
  processing. \";s:9:\"maxLength\";i:11;}s:12:\"PSDCompliant\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:85:\"Defines
  whether the transaction is PSD (Payment Services Directive) compliant or not.\";s:9:\"maxLength\";i:35;}s:13:\"versionNumber\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:9:\"maxLength\";i:4;}}}}s:18:\"QueryErrorResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"header\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ErrorHeader\";}s:5:\"error\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/QueryErrorResponseBody\";}}s:11:\"description\";s:18:\"QueryErrorResponse\";}s:22:\"QueryErrorResponseBody\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  identifier of the error message\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"The
  actual t24 error message\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"The
  identifier of error type\";}}}s:28:\"PaymentOrderPurposesResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"header\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/QueryHeader\";}s:4:\"body\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/PaymentOrderPurposesResponseBody\";}}s:11:\"description\";s:28:\"PaymentOrderPurposesResponse\";}s:32:\"PaymentOrderPurposesResponseBody\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:25:\"paymentOrderPurposeCodeId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:114:\"Indicates
  the Id of payment purpose code i.e. purpose of the instruction based on a set of
  pre-defined categories.\";s:9:\"maxLength\";i:4;}s:11:\"displayName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"Name
  used for display or enrichment purposes\";s:9:\"maxLength\";i:70;}s:14:\"classification\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:141:\"This
  indicates a high-level classification of payment purpose code. i.e. purpose of the
  instruction based on a set of pre-defined categories.\";s:9:\"maxLength\";i:70;}s:10:\"definition\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:132:\"This
  indicates a full description of payment purpose code. i.e. purpose of the instruction
  based on a set of pre-defined categories.\";s:9:\"maxLength\";i:120;}}}}s:28:\"PaymentOrderProductsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"header\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/QueryHeader\";}s:4:\"body\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/PaymentOrderProductsResponseBody\";}}s:11:\"description\";s:28:\"PaymentOrderProductsResponse\";}s:32:\"PaymentOrderProductsResponseBody\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":21:{s:22:\"paymentProductGroupIds\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:21:\"paymentProductGroupId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:9:\"maxLength\";i:35;}}}}s:18:\"paymentCurrencyIds\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:24:\"The
  currency of payment.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"paymentCurrencyId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"The
  currency of payment.\";s:9:\"maxLength\";i:3;}}}}s:19:\"orderingCurrencyIds\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:18:\"orderingCurrencyId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:9:\"maxLength\";i:3;}}}}s:10:\"countryIds\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:47:\"ISO
  country code of the financial institution. \";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"countryId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"ISO
  country code of the financial institution. \";s:9:\"maxLength\";i:2;}}}}s:18:\"clearingChannelIds\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"clearingChannelId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:9:\"maxLength\";i:35;}}}}s:22:\"additionalInformations\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:46:\"Additional
  Information provided to add context\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:21:\"additionalInformation\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"Additional
  Information provided to add context\";s:9:\"maxLength\";i:120;}}}}s:21:\"paymentOrderProductId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:66:\"Indicates
  the payment order product for which payment is initiated\";s:9:\"maxLength\";i:10;}s:11:\"displayName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"Name
  used for display or enrichment purposes\";s:9:\"maxLength\";i:35;}s:4:\"rank\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:66:\"Indicates
  the rank of the payment order product within the group. \";s:9:\"maxLength\";i:10;}s:21:\"payThroughBeneficiary\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:144:\"Defines
  whether payment initiation can be done by providing beneficiary details. This is
  applicable when beneficiary is not within the same bank\";s:9:\"maxLength\";i:35;}s:10:\"futureDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";s:11:\"description\";s:94:\"Indicates
  if a future dated instruction can be inputted for the specific payment order product\";}s:19:\"requiredCreditValue\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:121:\"Indicates
  if required credit value date can be inputted for the specific payment order product
  while initiating a payment\";s:9:\"maxLength\";i:35;}s:11:\"IBANSupport\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:9:\"maxLength\";i:35;}s:10:\"BICSupport\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:9:\"maxLength\";i:35;}s:15:\"sortCodeSupport\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:9:\"maxLength\";i:35;}s:9:\"narrative\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:108:\"The
  additional text printed on descriptive statements in addition to the standard narrative
  and/or reference\";s:9:\"maxLength\";i:65;}s:7:\"weblink\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"The
  web link for additional information\";s:9:\"maxLength\";i:70;}s:12:\"forexSupport\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:9:\"maxLength\";i:3;}s:19:\"defaultChargeOption\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:206:\"Indicates
  the charge option which will be defaulted at the time of payment initiation for
  specific payment order product i.e. Recipient To Pay All Charges, Pay My Bank's
  Charges or Pay My Bank Charges Only.\";s:9:\"maxLength\";i:35;}s:17:\"checkTransparency\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:9:\"maxLength\";i:35;}s:19:\"awaitExternalSubmit\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:9:\"maxLength\";i:35;}}}}s:32:\"PaymentOrderCountryRulesResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"header\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/QueryHeader\";}s:4:\"body\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:50:\"#/definitions/PaymentOrderCountryRulesResponseBody\";}}s:11:\"description\";s:32:\"PaymentOrderCountryRulesResponse\";}s:36:\"PaymentOrderCountryRulesResponseBody\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:18:\"clearingChannelIds\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"clearingChannelId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:9:\"maxLength\";i:35;}}}}s:18:\"paymentCurrencyIds\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:24:\"The
  currency of payment.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"paymentCurrencyId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"The
  currency of payment.\";s:9:\"maxLength\";i:3;}}}}s:9:\"countryId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:47:\"ISO
  country code of the financial institution. \";s:9:\"maxLength\";i:9;}s:11:\"displayName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"Name
  used for display or enrichment purposes\";s:9:\"maxLength\";i:65;}s:11:\"IBANSupport\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:9:\"maxLength\";i:35;}s:10:\"BICSupport\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:9:\"maxLength\";i:35;}s:15:\"sortCodeSupport\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";s:9:\"maxLength\";i:35;}}}}}"
...
