---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:11:\"description\";s:93:\"Retrieves information
  about the API ecosystem, both reference information and runtime metrics\";s:7:\"version\";s:6:\"v1.0.0\";s:5:\"title\";s:22:\"Meta
  - APIs about APIs\";}"
host: api.server.com
basePath: /api/v1.0.0
paths:
  /meta/apidocs:
    get:
      operationId: getApiDocs
      produces:
      - application/json
      responses:
        200:
          description: getApiDocsResponse
          schema:
            $ref: '#/definitions/getApiDocsResponse'
        default:
          description: getApiDocsErrorResponse
          schema:
            $ref: '#/definitions/getApiDocsErrorResponse'
  /meta/apis:
    get:
      operationId: getApis
      produces:
      - application/json
      responses:
        200:
          description: getApisResponse
          schema:
            $ref: '#/definitions/getApisResponse'
        default:
          description: getApisResponse
          schema:
            $ref: '#/definitions/getApiDocsErrorResponse'
  /meta/internal/apis:
    get:
      operationId: getInternalApis
      produces:
      - application/json
      responses:
        200:
          description: getInternalApisResponse
          schema:
            $ref: '#/definitions/getApiDocsErrorResponse'
        default:
          description: getInternalApisResponse
          schema:
            $ref: '#/definitions/getInternalApisResponse'
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":13:{s:18:\"getApiDocsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"header\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:4:\"body\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/getApiDocsResponseBody\";}}s:11:\"description\";s:18:\"getApiDocsResponse\";}s:22:\"getApiDocsResponseBody\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"description\";s:22:\"getApiDocsResponseBody\";}}s:23:\"getApiDocsErrorResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"header\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:5:\"error\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/getApiDocsErrorResponseBody\";}}s:11:\"description\";s:23:\"getApiDocsErrorResponse\";}s:27:\"getApiDocsErrorResponseBody\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:15:\"getApisResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"header\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ScreenHeader\";}s:4:\"body\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/getApisResponseBody\";}}s:11:\"description\";s:15:\"getApisResponse\";}s:19:\"getApisResponseBody\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"services\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"service\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"endPoints\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"method\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}}}s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"description\";s:19:\"getApisResponseBody\";}}s:20:\"getApisErrorResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"header\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:5:\"error\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/getApisErrorResponseBody\";}}s:11:\"description\";s:20:\"getApisErrorResponse\";}s:24:\"getApisErrorResponseBody\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:12:\"ScreenHeader\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"endPointCount\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:12:\"serviceCount\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:5:\"audit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"processTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:8:\"apiCount\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:23:\"getInternalApisResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"header\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ScreenHeader\";}s:4:\"body\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/getInternalApisResponseBody\";}}s:11:\"description\";s:23:\"getInternalApisResponse\";}s:27:\"getInternalApisResponseBody\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"services\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"service\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"endPoints\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"method\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"uri\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}}}s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"description\";s:27:\"getInternalApisResponseBody\";}}s:28:\"getInternalApisErrorResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"header\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:5:\"error\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/getInternalApisErrorResponseBody\";}}s:11:\"description\";s:28:\"getInternalApisErrorResponse\";}s:32:\"getInternalApisErrorResponseBody\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}"
...
