---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"Retrieves product
  group information that is used by the legal entity\";s:7:\"version\";s:6:\"v1.0.0\";s:5:\"title\";s:27:\"Product
  Product Groups APIs\";}"
host: api.server.com
basePath: /api/v1.0.0
paths:
  /product/productGroups:
    get:
      operationId: getProductGroups
      produces:
      - application/json
      parameters:
      - name: page_size
        in: query
        description: The total number of records per page
        required: false
        type: integer
        format: int32
      - name: page_start
        in: query
        description: The record from which the response should be displayed
        required: false
        type: integer
        format: int32
      - name: page_token
        in: query
        description: Random and unique string for each page. Used for security purpose
        required: false
        type: string
      responses:
        200:
          description: getProductGroupsResponse
          schema:
            $ref: '#/definitions/getProductGroupsResponse'
        default:
          description: getProductGroupsErrorResponse
          schema:
            $ref: '#/definitions/getProductGroupsErrorResponse'
schemes:
- http
- https
definitions: !php/object "O:8:\"stdClass\":6:{s:11:\"QueryHeader\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:5:\"audit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"T24_time\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:10:\"parse_time\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:9:\"page_size\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:10:\"page_start\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:10:\"total_size\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:10:\"page_token\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:24:\"getProductGroupsResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"header\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/QueryHeader\";}s:4:\"body\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/getProductGroupsResponseBody\";}}s:11:\"description\";s:24:\"getProductGroupsResponse\";}s:28:\"getProductGroupsResponseBody\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"productGroupId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"The
  identifier of the product group\";s:9:\"maxLength\";i:30;}s:13:\"productLineId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"The
  identifier of the product line\";s:9:\"maxLength\";i:20;}s:11:\"displayName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"The
  name used for display purposes\";s:9:\"maxLength\";i:35;}}}}s:11:\"ErrorHeader\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"audit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"T24_time\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:10:\"parse_time\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}}}s:29:\"getProductGroupsErrorResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"header\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ErrorHeader\";}s:5:\"error\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:47:\"#/definitions/getProductGroupsErrorResponseBody\";}}s:11:\"description\";s:29:\"getProductGroupsErrorResponse\";}s:33:\"getProductGroupsErrorResponseBody\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}"
...
