---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":7:{s:5:\"title\";s:23:\"Hoppit Restaurant Guide\";s:11:\"description\";s:969:\"Dubbed
  as \"Yelp meets Pandora,\" the Hoppit API  answers the ongoing question \"Where
  should we eat tonight?\" by giving you access to the restaurant data used by our
  award-winning applications, as seen on FOX, CBS, and Mashable. This includes the
  nation's largest repository of high-resolution restaurant photography and \"Vibe\"
  data, available for 20 U.S. cities. Filter restaurants,  bars, and coffee shops
  by type of Vibe (e.g. Cozy, Hipster, Romantic) and scenario (e.g. with a Date, with
  a Colleague, with Children), as well as by price, cuisine (e.g. Italian), and meal
  (e.g. Brunch).  Perfect for developers of travel, lifestyle, food, social, local
  applications who wish to surface the amazing content that Hoppit users interact
  with every second. Available for New York, Brooklyn, San Francisco, Chicago, Boston,
  Washington D.C., Los Angeles, San Diego, Seattle, Portland, Houston, Dallas, Austin,
  Atlanta, Philadelphia, Miami, New Orleans, Las Vegas, and Denver.\";s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:9:\"hoppitapi\";s:3:\"url\";s:17:\"http://hoppit.com\";}s:7:\"version\";N;s:6:\"x-logo\";s:86:\"https://s3.amazonaws.com/mashape-production-logos/apis/53aa3bbee4b0b60946a2ea7c_medium\";s:20:\"x-mashape-categories\";a:1:{i:0;s:8:\"Location\";}s:8:\"x-origin\";O:8:\"stdClass\":2:{s:6:\"format\";s:7:\"mashape\";s:3:\"url\";s:60:\"https://market.mashape.com/hoppitapi/hoppit-restaurant-guide\";}}"
host: hoppit.p.mashape.com
basePath: ""
paths:
  /getPlace:
    post:
      description: Retrieves all available details and images for a Hoppit place id
      operationId: get-place
      consumes:
      - application/json
      produces:
      - application/json
      responses:
        200:
          description: ~
          schema: '#/definitions/Resource'
  /getPlaces:
    post:
      description: Retrieves a list of places in Hoppit based on search criteria
      operationId: get-places
      consumes:
      - application/json
      produces:
      - application/json
      responses:
        200:
          description: ~
          schema: '#/definitions/Resource'
  /getVibesList:
    post:
      description: Retrieves Vibe ids used in the GetPlaces endpoint
      operationId: get-vibes-list
      consumes:
      - application/json
      produces:
      - application/json
      responses:
        200:
          description: ~
          schema: '#/definitions/Resource'
definitions: !php/object "O:8:\"stdClass\":14:{s:8:\"Resource\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"statusCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"placeData\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/PlaceData\";}}}}s:14:\"AssociatedVibe\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"Badge_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"frequency\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:8:\"Location\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"general\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/General\";}}}s:2:\"Gp\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"lat\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"lng\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:12:\"DesignerData\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"facebookId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"image\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:7:\"General\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"desc\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:9:\"ShortMenu\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"attributionImage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"attributionImageLink\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"entries\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Entrie\";}}}}s:13:\"ImageUrlArray\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"image_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"is_optimized\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"source_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:5:\"Price\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"price\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:13:\"MenuHighlight\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"statusCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"placeData\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/PlaceData\";}}}s:3:\"Tip\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"author\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"date\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"image\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"text\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:14:\"PlaceAttribute\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"attr_category\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"attr_values\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:6:\"Entrie\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"desc\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"prices\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Price\";}}}}s:9:\"PlaceData\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":22:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"placeDetailUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"streetAddress\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"city\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"zipCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"neighborhood\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"thumbUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"phone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"reservationLink\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"rank\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"designerData\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/DesignerData\";}s:3:\"gps\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:16:\"#/definitions/Gp\";}s:13:\"imageUrlArray\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ImageUrlArray\";}}s:15:\"associatedVibes\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/AssociatedVibe\";}}s:15:\"placeAttributes\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/PlaceAttribute\";}}s:8:\"location\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Location\";}s:9:\"shortMenu\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/ShortMenu\";}s:14:\"menuHighlights\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/MenuHighlight\";}s:4:\"tips\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Tip\";}}}}}"
...
