---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Google\";s:3:\"url\";s:18:\"https://google.com\";}s:11:\"description\";s:146:\"The
  Google Kubernetes Engine API is used for building and managing container based applications,
  powered by the open source Kubernetes technology.\";s:5:\"title\";s:17:\"Kubernetes
  Engine\";s:7:\"version\";s:2:\"v1\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:37:\"https://console.developers.google.com\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:90:\"https://api.apis.guru/v2/cache/logo/https_cloud.google.com__static_images_new-gcp-logo.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.6.2\";}s:6:\"format\";s:6:\"google\";s:3:\"url\";s:59:\"https://container.googleapis.com/$discovery/rest?version=v1\";s:7:\"version\";s:2:\"v1\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"googleapis.com\";s:13:\"x-serviceName\";s:9:\"container\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:16:\"google_container\";s:4:\"type\";s:7:\"openapi\";}}"
host: container.googleapis.com
basePath: /
paths: ~
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":50:{s:17:\"AcceleratorConfig\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"AcceleratorConfig
  represents a Hardware Accelerator request.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"acceleratorCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"The
  number of the accelerator cards exposed to an instance.\";s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:6:\"string\";}s:15:\"acceleratorType\";O:8:\"stdClass\":2:{s:11:\"description\";s:107:\"The
  accelerator type resource name. List of supported accelerators\n[here](/compute/docs/gpus/#Introduction)\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"AddonsConfig\";O:8:\"stdClass\":3:{s:11:\"description\";s:113:\"Configuration
  for the addons that can be automatically spun up in the\ncluster, enabling additional
  functionality.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:24:\"horizontalPodAutoscaling\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/HorizontalPodAutoscaling\";s:11:\"description\";s:192:\"Configuration
  for the horizontal pod autoscaling feature, which\nincreases or decreases the number
  of replica pods a replication controller\nhas based on the resource usage of the
  existing pods.\";}s:17:\"httpLoadBalancing\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/HttpLoadBalancing\";s:11:\"description\";s:141:\"Configuration
  for the HTTP (L7) load balancing controller addon, which\nmakes it easy to set up
  HTTP load balancers for services in a cluster.\";}s:19:\"kubernetesDashboard\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/KubernetesDashboard\";s:11:\"description\";s:43:\"Configuration
  for the Kubernetes Dashboard.\";}s:19:\"networkPolicyConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/NetworkPolicyConfig\";s:11:\"description\";s:167:\"Configuration
  for NetworkPolicy. This only tracks whether the addon\nis enabled or not on the
  Master, it does not track whether network policy\nis enabled for the nodes.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"AutoUpgradeOptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:105:\"AutoUpgradeOptions
  defines the set of options for the user to control how\nthe Auto Upgrades will proceed.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:20:\"autoUpgradeStartTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:181:\"[Output
  only] This field is set when upgrades are about to commence\nwith the approximate
  start time for the upgrades, in\n[RFC3339](https://www.ietf.org/rfc/rfc3339.txt)
  text format.\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:104:\"[Output
  only] This field is set when upgrades are about to commence\nwith the description
  of the upgrade.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:22:\"CancelOperationRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"CancelOperationRequest
  cancels a single operation.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:133:\"The
  name (project, location, operation id) of the operation to cancel.\nSpecified in
  the format 'projects/*/locations/*/operations/*'.\";s:4:\"type\";s:6:\"string\";}s:11:\"operationId\";O:8:\"stdClass\":2:{s:11:\"description\";s:119:\"Deprecated.
  The server-assigned `name` of the operation.\nThis field has been deprecated and
  replaced by the name field.\";s:4:\"type\";s:6:\"string\";}s:9:\"projectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:185:\"Deprecated.
  The Google Developers Console [project ID or project\nnumber](https://support.google.com/cloud/answer/6158840).\nThis
  field has been deprecated and replaced by the name field.\";s:4:\"type\";s:6:\"string\";}s:4:\"zone\";O:8:\"stdClass\":2:{s:11:\"description\";s:182:\"Deprecated.
  The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in
  which the operation resides.\nThis field has been deprecated and replaced by the
  name field.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:9:\"CidrBlock\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"CidrBlock
  contains an optional name and one CIDR block.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"cidrBlock\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"cidr_block
  must be specified in CIDR notation.\";s:4:\"type\";s:6:\"string\";}s:11:\"displayName\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"display_name
  is an optional field for users to identify CIDR blocks.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:23:\"ClientCertificateConfig\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"Configuration
  for client certificates on the cluster.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:22:\"issueClientCertificate\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Issue
  a client certificate.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Cluster\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"A
  Google Kubernetes Engine cluster.\";s:10:\"properties\";O:8:\"stdClass\":36:{s:12:\"addonsConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/AddonsConfig\";s:11:\"description\";s:70:\"Configurations
  for the various addons available to run in the cluster.\";}s:15:\"clusterIpv4Cidr\";O:8:\"stdClass\":2:{s:11:\"description\";s:249:\"The
  IP address range of the container pods in this cluster, in\n[CIDR](http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing)\nnotation
  (e.g. `10.96.0.0/14`). Leave blank to have\none automatically chosen or specify
  a `/14` block in `10.0.0.0/8`.\";s:4:\"type\";s:6:\"string\";}s:10:\"createTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:111:\"[Output
  only] The time the cluster was created, in\n[RFC3339](https://www.ietf.org/rfc/rfc3339.txt)
  text format.\";s:4:\"type\";s:6:\"string\";}s:20:\"currentMasterVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"[Output
  only] The current software version of the master endpoint.\";s:4:\"type\";s:6:\"string\";}s:16:\"currentNodeCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"[Output
  only] The number of nodes currently in the cluster.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:18:\"currentNodeVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:207:\"[Output
  only] The current version of the node software components.\nIf they are currently
  at multiple versions because they're in the process\nof being upgraded, this reflects
  the minimum version of all nodes.\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"An
  optional description of this cluster.\";s:4:\"type\";s:6:\"string\";}s:21:\"enableKubernetesAlpha\";O:8:\"stdClass\":2:{s:11:\"description\";s:348:\"Kubernetes
  alpha features are enabled on this cluster. This includes alpha\nAPI groups (e.g.
  v1alpha1) and features that may not be production ready in\nthe kubernetes version
  of the master and nodes.\nThe cluster has no SLA for uptime and master/node upgrades
  are disabled.\nAlpha enabled clusters are automatically deleted thirty days after\ncreation.\";s:4:\"type\";s:7:\"boolean\";}s:8:\"endpoint\";O:8:\"stdClass\":2:{s:11:\"description\";s:239:\"[Output
  only] The IP address of this cluster's master endpoint.\nThe endpoint can be accessed
  from the internet at\n`https://username:password@endpoint/`.\n\nSee the `masterAuth`
  property of this resource for username and\npassword information.\";s:4:\"type\";s:6:\"string\";}s:10:\"expireTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:128:\"[Output
  only] The time the cluster will be automatically\ndeleted in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt)
  text format.\";s:4:\"type\";s:6:\"string\";}s:21:\"initialClusterVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:671:\"The
  initial Kubernetes version for this cluster.  Valid versions are those\nfound in
  validMasterVersions returned by getServerConfig.  The version can\nbe upgraded over
  time; such upgrades are reflected in\ncurrentMasterVersion and currentNodeVersion.\n\nUsers
  may specify either explicit versions offered by\nKubernetes Engine or version aliases,
  which have the following behavior:\n\n- \"latest\": picks the highest valid Kubernetes
  version\n- \"1.X\": picks the highest valid patch+gke.N patch in the 1.X version\n-
  \"1.X.Y\": picks the highest valid gke.N patch in the 1.X.Y version\n- \"1.X.Y-gke.N\":
  picks an explicit Kubernetes version\n- \"\",\"-\": picks the default Kubernetes
  version\";s:4:\"type\";s:6:\"string\";}s:16:\"initialNodeCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:502:\"The
  number of nodes to create in this cluster. You must ensure that your\nCompute Engine
  <a href=\"/compute/docs/resource-quotas\">resource quota</a>\nis sufficient for
  this number of instances. You must also have available\nfirewall and routes quota.\nFor
  requests, this field should only be used in lieu of a\n\"node_pool\" object, since
  this configuration (along with the\n\"node_config\") will be used to create a \"NodePool\"
  object with an\nauto-generated name. Do not use this and a node_pool at the same
  time.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:17:\"instanceGroupUrls\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"Deprecated.
  Use node_pools.instance_group_urls.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:18:\"ipAllocationPolicy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/IPAllocationPolicy\";s:11:\"description\";s:40:\"Configuration
  for cluster IP allocation.\";}s:16:\"labelFingerprint\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"The
  fingerprint of the set of labels for this cluster.\";s:4:\"type\";s:6:\"string\";}s:10:\"legacyAbac\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/LegacyAbac\";s:11:\"description\";s:53:\"Configuration
  for the legacy ABAC authorization mode.\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:206:\"[Output
  only] The name of the Google Compute Engine\n[zone](/compute/docs/regions-zones/regions-zones#available)
  or\n[region](/compute/docs/regions-zones/regions-zones#available) in which\nthe
  cluster resides.\";s:4:\"type\";s:6:\"string\";}s:9:\"locations\";O:8:\"stdClass\":3:{s:11:\"description\";s:124:\"The
  list of Google Compute Engine\n[locations](/compute/docs/zones#available) in which
  the cluster's nodes\nshould be located.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:14:\"loggingService\";O:8:\"stdClass\":2:{s:11:\"description\";s:272:\"The
  logging service the cluster should use to write logs.\nCurrently available options:\n\n*
  `logging.googleapis.com` - the Google Cloud Logging service.\n* `none` - no logs
  will be exported from the cluster.\n* if left as an empty string,`logging.googleapis.com`
  will be used.\";s:4:\"type\";s:6:\"string\";}s:17:\"maintenancePolicy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/MaintenancePolicy\";s:11:\"description\";s:50:\"Configure
  the maintenance policy for this cluster.\";}s:10:\"masterAuth\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MasterAuth\";s:11:\"description\";s:65:\"The
  authentication information for accessing the master endpoint.\";}s:30:\"masterAuthorizedNetworksConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/MasterAuthorizedNetworksConfig\";s:11:\"description\";s:65:\"The
  configuration options for master authorized networks feature.\";}s:17:\"monitoringService\";O:8:\"stdClass\":2:{s:11:\"description\";s:291:\"The
  monitoring service the cluster should use to write metrics.\nCurrently available
  options:\n\n* `monitoring.googleapis.com` - the Google Cloud Monitoring service.\n*
  `none` - no metrics will be exported from the cluster.\n* if left as an empty string,
  `monitoring.googleapis.com` will be used.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:258:\"The
  name of this cluster. The name must be unique within this project\nand zone, and
  can be up to 40 characters with the following restrictions:\n\n* Lowercase letters,
  numbers, and hyphens only.\n* Must start with a letter.\n* Must end with a number
  or a letter.\";s:4:\"type\";s:6:\"string\";}s:7:\"network\";O:8:\"stdClass\":2:{s:11:\"description\";s:186:\"The
  name of the Google Compute Engine\n[network](/compute/docs/networks-and-firewalls#networks)
  to which the\ncluster is connected. If left unspecified, the `default` network\nwill
  be used.\";s:4:\"type\";s:6:\"string\";}s:13:\"networkPolicy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/NetworkPolicy\";s:11:\"description\";s:52:\"Configuration
  options for the NetworkPolicy feature.\";}s:10:\"nodeConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/NodeConfig\";s:11:\"description\";s:503:\"Parameters
  used in creating the cluster's nodes.\nSee `nodeConfig` for the description of its
  properties.\nFor requests, this field should only be used in lieu of a\n\"node_pool\"
  object, since this configuration (along with the\n\"initial_node_count\") will be
  used to create a \"NodePool\" object with an\nauto-generated name. Do not use this
  and a node_pool at the same time.\nFor responses, this field will be populated with
  the node configuration of\nthe first node pool.\n\nIf unspecified, the defaults
  are used.\";}s:16:\"nodeIpv4CidrSize\";O:8:\"stdClass\":3:{s:11:\"description\";s:145:\"[Output
  only] The size of the address space on each node for hosting\ncontainers. This is
  provisioned from within the `container_ipv4_cidr`\nrange.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"nodePools\";O:8:\"stdClass\":3:{s:11:\"description\";s:129:\"The
  node pools associated with this cluster.\nThis field should not be set if \"node_config\"
  or \"initial_node_count\" are\nspecified.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/NodePool\";}s:4:\"type\";s:5:\"array\";}s:14:\"resourceLabels\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:99:\"The
  resource labels for the cluster to use to annotate any related\nGoogle Compute Engine
  resources.\";s:4:\"type\";s:6:\"object\";}s:8:\"selfLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"[Output
  only] Server-defined URL for the resource.\";s:4:\"type\";s:6:\"string\";}s:16:\"servicesIpv4Cidr\";O:8:\"stdClass\":2:{s:11:\"description\";s:258:\"[Output
  only] The IP address range of the Kubernetes services in\nthis cluster, in\n[CIDR](http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing)\nnotation
  (e.g. `1.2.3.4/29`). Service addresses are\ntypically put in the last `/16` from
  the container CIDR.\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"[Output
  only] The current status of this cluster.\";s:4:\"enum\";a:7:{i:0;s:18:\"STATUS_UNSPECIFIED\";i:1;s:12:\"PROVISIONING\";i:2;s:7:\"RUNNING\";i:3;s:11:\"RECONCILING\";i:4;s:8:\"STOPPING\";i:5;s:5:\"ERROR\";i:6;s:8:\"DEGRADED\";}s:4:\"type\";s:6:\"string\";}s:13:\"statusMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:92:\"[Output
  only] Additional information about the current status of this\ncluster, if available.\";s:4:\"type\";s:6:\"string\";}s:10:\"subnetwork\";O:8:\"stdClass\":2:{s:11:\"description\";s:112:\"The
  name of the Google Compute Engine\n[subnetwork](/compute/docs/subnetworks) to which
  the\ncluster is connected.\";s:4:\"type\";s:6:\"string\";}s:4:\"zone\";O:8:\"stdClass\":2:{s:11:\"description\";s:167:\"[Output
  only] The name of the Google Compute Engine\n[zone](/compute/docs/zones#available)
  in which the cluster\nresides.\nThis field is deprecated, use location instead.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"ClusterUpdate\";O:8:\"stdClass\":3:{s:11:\"description\";s:153:\"ClusterUpdate
  describes an update to the cluster. Exactly one update can\nbe applied to a cluster
  with each request, so at most one field can be\nprovided.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:19:\"desiredAddonsConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/AddonsConfig\";s:11:\"description\";s:70:\"Configurations
  for the various addons available to run in the cluster.\";}s:16:\"desiredImageType\";O:8:\"stdClass\":2:{s:11:\"description\";s:90:\"The
  desired image type for the node pool.\nNOTE: Set the \"desired_node_pool\" field
  as well.\";s:4:\"type\";s:6:\"string\";}s:16:\"desiredLocations\";O:8:\"stdClass\":3:{s:11:\"description\";s:360:\"The
  desired list of Google Compute Engine\n[locations](/compute/docs/zones#available)
  in which the cluster's nodes\nshould be located. Changing the locations a cluster
  is in will result\nin nodes being either created or removed from the cluster, depending
  on\nwhether locations are being added or removed.\n\nThis list must always include
  the cluster's primary zone.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:37:\"desiredMasterAuthorizedNetworksConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/MasterAuthorizedNetworksConfig\";s:11:\"description\";s:73:\"The
  desired configuration options for master authorized networks feature.\";}s:20:\"desiredMasterVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:467:\"The
  Kubernetes version to change the master to.\n\nUsers may specify either explicit
  versions offered by\nKubernetes Engine or version aliases, which have the following
  behavior:\n\n- \"latest\": picks the highest valid Kubernetes version\n- \"1.X\":
  picks the highest valid patch+gke.N patch in the 1.X version\n- \"1.X.Y\": picks
  the highest valid gke.N patch in the 1.X.Y version\n- \"1.X.Y-gke.N\": picks an
  explicit Kubernetes version\n- \"-\": picks the default Kubernetes version\";s:4:\"type\";s:6:\"string\";}s:24:\"desiredMonitoringService\";O:8:\"stdClass\":2:{s:11:\"description\";s:217:\"The
  monitoring service the cluster should use to write metrics.\nCurrently available
  options:\n\n* \"monitoring.googleapis.com\" - the Google Cloud Monitoring service\n*
  \"none\" - no metrics will be exported from the cluster\";s:4:\"type\";s:6:\"string\";}s:26:\"desiredNodePoolAutoscaling\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/NodePoolAutoscaling\";s:11:\"description\";s:209:\"Autoscaler
  configuration for the node pool specified in\ndesired_node_pool_id. If there is
  only one pool in the\ncluster and desired_node_pool_id is not provided then\nthe
  change applies to that single node pool.\";}s:17:\"desiredNodePoolId\";O:8:\"stdClass\":2:{s:11:\"description\";s:204:\"The
  node pool to be upgraded. This field is mandatory if\n\"desired_node_version\",
  \"desired_image_family\" or\n\"desired_node_pool_autoscaling\" is specified and
  there is more than one\nnode pool on the cluster.\";s:4:\"type\";s:6:\"string\";}s:18:\"desiredNodeVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:488:\"The
  Kubernetes version to change the nodes to (typically an\nupgrade).\n\nUsers may
  specify either explicit versions offered by\nKubernetes Engine or version aliases,
  which have the following behavior:\n\n- \"latest\": picks the highest valid Kubernetes
  version\n- \"1.X\": picks the highest valid patch+gke.N patch in the 1.X version\n-
  \"1.X.Y\": picks the highest valid gke.N patch in the 1.X.Y version\n- \"1.X.Y-gke.N\":
  picks an explicit Kubernetes version\n- \"-\": picks the Kubernetes master version\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:25:\"CompleteIPRotationRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"CompleteIPRotationRequest
  moves the cluster master back into single-IP mode.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"clusterId\";O:8:\"stdClass\":2:{s:11:\"description\";s:99:\"Deprecated.
  The name of the cluster.\nThis field has been deprecated and replaced by the name
  field.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:141:\"The
  name (project, location, cluster id) of the cluster to complete IP\nrotation. Specified
  in the format 'projects/*/locations/*/clusters/*'.\";s:4:\"type\";s:6:\"string\";}s:9:\"projectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:199:\"Deprecated.
  The Google Developers Console [project ID or project\nnumber](https://developers.google.com/console/help/new/#projectnumber).\nThis
  field has been deprecated and replaced by the name field.\";s:4:\"type\";s:6:\"string\";}s:4:\"zone\";O:8:\"stdClass\":2:{s:11:\"description\";s:180:\"Deprecated.
  The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in
  which the cluster\nresides.\nThis field has been deprecated and replaced by the
  name field.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"CreateClusterRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"CreateClusterRequest
  creates a cluster.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"cluster\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Cluster\";s:11:\"description\";s:81:\"A
  [cluster\nresource](/container-engine/reference/rest/v1/projects.zones.clusters)\";}s:6:\"parent\";O:8:\"stdClass\":2:{s:11:\"description\";s:118:\"The
  parent (project and location) where the cluster will be created.\nSpecified in the
  format 'projects/*/locations/*'.\";s:4:\"type\";s:6:\"string\";}s:9:\"projectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:187:\"Deprecated.
  The Google Developers Console [project ID or project\nnumber](https://support.google.com/cloud/answer/6158840).\nThis
  field has been deprecated and replaced by the parent field.\";s:4:\"type\";s:6:\"string\";}s:4:\"zone\";O:8:\"stdClass\":2:{s:11:\"description\";s:182:\"Deprecated.
  The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in
  which the cluster\nresides.\nThis field has been deprecated and replaced by the
  parent field.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"CreateNodePoolRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"CreateNodePoolRequest
  creates a node pool for a cluster.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"clusterId\";O:8:\"stdClass\":2:{s:11:\"description\";s:101:\"Deprecated.
  The name of the cluster.\nThis field has been deprecated and replaced by the parent
  field.\";s:4:\"type\";s:6:\"string\";}s:8:\"nodePool\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/NodePool\";s:11:\"description\";s:24:\"The
  node pool to create.\";}s:6:\"parent\";O:8:\"stdClass\":2:{s:11:\"description\";s:152:\"The
  parent (project, location, cluster id) where the node pool will be\ncreated. Specified
  in the format\n'projects/*/locations/*/clusters/*/nodePools/*'.\";s:4:\"type\";s:6:\"string\";}s:9:\"projectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:201:\"Deprecated.
  The Google Developers Console [project ID or project\nnumber](https://developers.google.com/console/help/new/#projectnumber).\nThis
  field has been deprecated and replaced by the parent field.\";s:4:\"type\";s:6:\"string\";}s:4:\"zone\";O:8:\"stdClass\":2:{s:11:\"description\";s:182:\"Deprecated.
  The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in
  which the cluster\nresides.\nThis field has been deprecated and replaced by the
  parent field.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:22:\"DailyMaintenanceWindow\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"Time
  window specified for daily maintenance operations.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"duration\";O:8:\"stdClass\":2:{s:11:\"description\";s:197:\"[Output
  only] Duration of the time window, automatically chosen to be\nsmallest possible
  in the given scenario.\nDuration will be in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt)\nformat
  \"PTnHnMnS\".\";s:4:\"type\";s:6:\"string\";}s:9:\"startTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:203:\"Time
  within the maintenance window to start the maintenance operations.\nTime format
  should be in [RFC3339](https://www.ietf.org/rfc/rfc3339.txt)\nformat \"HH:MM\u201D,
  where HH : [00-23] and MM : [00-59] GMT.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Empty\";O:8:\"stdClass\":3:{s:11:\"description\";s:359:\"A
  generic empty message that you can re-use to avoid defining duplicated\nempty messages
  in your APIs. A typical example is to use it as the request\nor the response type
  of an API method. For instance:\n\n    service Foo {\n      rpc Bar(google.protobuf.Empty)
  returns (google.protobuf.Empty);\n    }\n\nThe JSON representation for `Empty` is
  empty JSON object `{}`.\";s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:24:\"HorizontalPodAutoscaling\";O:8:\"stdClass\":3:{s:11:\"description\";s:200:\"Configuration
  options for the horizontal pod autoscaling feature, which\nincreases or decreases
  the number of replica pods a replication controller\nhas based on the resource usage
  of the existing pods.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"disabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:197:\"Whether
  the Horizontal Pod Autoscaling feature is enabled in the cluster.\nWhen enabled,
  it ensures that a Heapster pod is running in the cluster,\nwhich is also used by
  the Cloud Monitoring service.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:17:\"HttpLoadBalancing\";O:8:\"stdClass\":3:{s:11:\"description\";s:149:\"Configuration
  options for the HTTP (L7) load balancing controller addon,\nwhich makes it easy
  to set up HTTP load balancers for services in a cluster.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"disabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:151:\"Whether
  the HTTP Load Balancing controller is enabled in the cluster.\nWhen enabled, it
  runs a small pod in the cluster that manages the load\nbalancers.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:18:\"IPAllocationPolicy\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"Configuration
  for controlling how IPs are allocated in the cluster.\";s:10:\"properties\";O:8:\"stdClass\":11:{s:15:\"clusterIpv4Cidr\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"This
  field is deprecated, use cluster_ipv4_cidr_block.\";s:4:\"type\";s:6:\"string\";}s:20:\"clusterIpv4CidrBlock\";O:8:\"stdClass\":2:{s:11:\"description\";s:552:\"The
  IP address range for the cluster pod IPs. If this field is set, then\n`cluster.cluster_ipv4_cidr`
  must be left blank.\n\nThis field is only applicable when `use_ip_aliases` is true.\n\nSet
  to blank to have a range chosen with the default size.\n\nSet to /netmask (e.g.
  `/14`) to have a range chosen with a specific\nnetmask.\n\nSet to a\n[CIDR](http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing)\nnotation
  (e.g. `10.96.0.0/14`) from the RFC-1918 private networks (e.g.\n`10.0.0.0/8`, `172.16.0.0/12`,
  `192.168.0.0/16`) to pick a specific range\nto use.\";s:4:\"type\";s:6:\"string\";}s:25:\"clusterSecondaryRangeName\";O:8:\"stdClass\":2:{s:11:\"description\";s:298:\"The
  name of the secondary range to be used for the cluster CIDR\nblock.  The secondary
  range will be used for pod IP\naddresses. This must be an existing secondary range
  associated\nwith the cluster subnetwork.\n\nThis field is only applicable with use_ip_aliases
  is true and\ncreate_subnetwork is false.\";s:4:\"type\";s:6:\"string\";}s:16:\"createSubnetwork\";O:8:\"stdClass\":2:{s:11:\"description\";s:133:\"Whether
  a new subnetwork will be created automatically for the cluster.\n\nThis field is
  only applicable when `use_ip_aliases` is true.\";s:4:\"type\";s:7:\"boolean\";}s:12:\"nodeIpv4Cidr\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"This
  field is deprecated, use node_ipv4_cidr_block.\";s:4:\"type\";s:6:\"string\";}s:17:\"nodeIpv4CidrBlock\";O:8:\"stdClass\":2:{s:11:\"description\";s:484:\"The
  IP address range of the instance IPs in this cluster.\n\nThis is applicable only
  if `create_subnetwork` is true.\n\nSet to blank to have a range chosen with the
  default size.\n\nSet to /netmask (e.g. `/14`) to have a range chosen with a specific\nnetmask.\n\nSet
  to a\n[CIDR](http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing)\nnotation
  (e.g. `10.96.0.0/14`) from the RFC-1918 private networks (e.g.\n`10.0.0.0/8`, `172.16.0.0/12`,
  `192.168.0.0/16`) to pick a specific range\nto use.\";s:4:\"type\";s:6:\"string\";}s:16:\"servicesIpv4Cidr\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"This
  field is deprecated, use services_ipv4_cidr_block.\";s:4:\"type\";s:6:\"string\";}s:21:\"servicesIpv4CidrBlock\";O:8:\"stdClass\":2:{s:11:\"description\";s:559:\"The
  IP address range of the services IPs in this cluster. If blank, a range\nwill be
  automatically chosen with the default size.\n\nThis field is only applicable when
  `use_ip_aliases` is true.\n\nSet to blank to have a range chosen with the default
  size.\n\nSet to /netmask (e.g. `/14`) to have a range chosen with a specific\nnetmask.\n\nSet
  to a\n[CIDR](http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing)\nnotation
  (e.g. `10.96.0.0/14`) from the RFC-1918 private networks (e.g.\n`10.0.0.0/8`, `172.16.0.0/12`,
  `192.168.0.0/16`) to pick a specific range\nto use.\";s:4:\"type\";s:6:\"string\";}s:26:\"servicesSecondaryRangeName\";O:8:\"stdClass\":2:{s:11:\"description\";s:304:\"The
  name of the secondary range to be used as for the services\nCIDR block.  The secondary
  range will be used for service\nClusterIPs. This must be an existing secondary range
  associated\nwith the cluster subnetwork.\n\nThis field is only applicable with use_ip_aliases
  is true and\ncreate_subnetwork is false.\";s:4:\"type\";s:6:\"string\";}s:14:\"subnetworkName\";O:8:\"stdClass\":2:{s:11:\"description\";s:154:\"A
  custom subnetwork name to be used if `create_subnetwork` is true.  If\nthis field
  is empty, then an automatic name will be chosen for the new\nsubnetwork.\";s:4:\"type\";s:6:\"string\";}s:12:\"useIpAliases\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"Whether
  alias IPs will be used for pod IPs in the cluster.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:19:\"KubernetesDashboard\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Configuration
  for the Kubernetes Dashboard.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"disabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"Whether
  the Kubernetes Dashboard is enabled for this cluster.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:10:\"LegacyAbac\";O:8:\"stdClass\":3:{s:11:\"description\";s:79:\"Configuration
  for the legacy Attribute Based Access Control authorization\nmode.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"enabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:245:\"Whether
  the ABAC authorizer is enabled for this cluster. When enabled,\nidentities in the
  system, including service accounts, nodes, and\ncontrollers, will have statically
  granted permissions beyond those\nprovided by the RBAC configuration or IAM.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:20:\"ListClustersResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"ListClustersResponse
  is the result of ListClustersRequest.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"clusters\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"A
  list of clusters in the project in the specified zone, or\nacross all ones.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Cluster\";}s:4:\"type\";s:5:\"array\";}s:12:\"missingZones\";O:8:\"stdClass\":3:{s:11:\"description\";s:87:\"If
  any zones are listed here, the list of clusters returned\nmay be missing those zones.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:21:\"ListNodePoolsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"ListNodePoolsResponse
  is the result of ListNodePoolsRequest.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"nodePools\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"A
  list of node pools for a cluster.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/NodePool\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:22:\"ListOperationsResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"ListOperationsResponse
  is the result of ListOperationsRequest.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"missingZones\";O:8:\"stdClass\":3:{s:11:\"description\";s:109:\"If
  any zones are listed here, the list of operations returned\nmay be missing the operations
  from those zones.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:10:\"operations\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"A
  list of operations in the project in the specified zone.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Operation\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:17:\"MaintenancePolicy\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"MaintenancePolicy
  defines the maintenance policy to be used for the cluster.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"window\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/MaintenanceWindow\";s:11:\"description\";s:71:\"Specifies
  the maintenance window in which maintenance may be performed.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"MaintenanceWindow\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"MaintenanceWindow
  defines the maintenance window to be used for the cluster.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:22:\"dailyMaintenanceWindow\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/DailyMaintenanceWindow\";s:11:\"description\";s:70:\"DailyMaintenanceWindow
  specifies a daily maintenance operation window.\";}}s:4:\"type\";s:6:\"object\";}s:10:\"MasterAuth\";O:8:\"stdClass\":3:{s:11:\"description\";s:144:\"The
  authentication information for accessing the master endpoint.\nAuthentication can
  be done using HTTP basic auth or using client\ncertificates.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:17:\"clientCertificate\";O:8:\"stdClass\":2:{s:11:\"description\";s:104:\"[Output
  only] Base64-encoded public certificate used by clients to\nauthenticate to the
  cluster endpoint.\";s:4:\"type\";s:6:\"string\";}s:23:\"clientCertificateConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/ClientCertificateConfig\";s:11:\"description\";s:134:\"Configuration
  for client certificate authentication on the cluster.  If no\nconfiguration is specified,
  a client certificate is issued.\";}s:9:\"clientKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:97:\"[Output
  only] Base64-encoded private key used by clients to authenticate\nto the cluster
  endpoint.\";s:4:\"type\";s:6:\"string\";}s:20:\"clusterCaCertificate\";O:8:\"stdClass\":2:{s:11:\"description\";s:90:\"[Output
  only] Base64-encoded public certificate that is the root of\ntrust for the cluster.\";s:4:\"type\";s:6:\"string\";}s:8:\"password\";O:8:\"stdClass\":2:{s:11:\"description\";s:240:\"The
  password to use for HTTP basic authentication to the master endpoint.\nBecause the
  master endpoint is open to the Internet, you should create a\nstrong password.  If
  a password is provided for cluster creation, username\nmust be non-empty.\";s:4:\"type\";s:6:\"string\";}s:8:\"username\";O:8:\"stdClass\":2:{s:11:\"description\";s:173:\"The
  username to use for HTTP basic authentication to the master endpoint.\nFor clusters
  v1.6.0 and later, you can disable basic authentication by\nproviding an empty username.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:30:\"MasterAuthorizedNetworksConfig\";O:8:\"stdClass\":3:{s:11:\"description\";s:274:\"Configuration
  options for the master authorized networks feature. Enabled\nmaster authorized networks
  will disallow all external traffic to access\nKubernetes master through HTTPS except
  traffic from the given CIDR blocks,\nGoogle Compute Engine Public IPs and Google
  Prod IPs.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"cidrBlocks\";O:8:\"stdClass\":3:{s:11:\"description\";s:96:\"cidr_blocks
  define up to 10 external networks that could access\nKubernetes master through HTTPS.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/CidrBlock\";}s:4:\"type\";s:5:\"array\";}s:7:\"enabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Whether
  or not master authorized networks is enabled.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:13:\"NetworkPolicy\";O:8:\"stdClass\":3:{s:11:\"description\";s:125:\"Configuration
  options for the NetworkPolicy feature.\nhttps://kubernetes.io/docs/concepts/services-networking/networkpolicies/\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"enabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Whether
  network policy is enabled on the cluster.\";s:4:\"type\";s:7:\"boolean\";}s:8:\"provider\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"The
  selected network policy provider.\";s:4:\"enum\";a:2:{i:0;s:20:\"PROVIDER_UNSPECIFIED\";i:1;s:6:\"CALICO\";}s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"NetworkPolicyConfig\";O:8:\"stdClass\":3:{s:11:\"description\";s:167:\"Configuration
  for NetworkPolicy. This only tracks whether the addon\nis enabled or not on the
  Master, it does not track whether network policy\nis enabled for the nodes.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"disabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"Whether
  NetworkPolicy is enabled for this cluster.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:10:\"NodeConfig\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Parameters
  that describe the nodes in a cluster.\";s:10:\"properties\";O:8:\"stdClass\":12:{s:12:\"accelerators\";O:8:\"stdClass\":3:{s:11:\"description\";s:152:\"A
  list of hardware accelerators to be attached to each node.\nSee https://cloud.google.com/compute/docs/gpus
  for more information about\nsupport for GPUs.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/AcceleratorConfig\";}s:4:\"type\";s:5:\"array\";}s:10:\"diskSizeGb\";O:8:\"stdClass\":3:{s:11:\"description\";s:145:\"Size
  of the disk attached to each node, specified in GB.\nThe smallest allowed disk size
  is 10GB.\n\nIf unspecified, the default disk size is 100GB.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:9:\"imageType\";O:8:\"stdClass\":2:{s:11:\"description\";s:109:\"The
  image type to use for this node. Note that for a given image type,\nthe latest version
  of it will be used.\";s:4:\"type\";s:6:\"string\";}s:6:\"labels\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:485:\"The
  map of Kubernetes labels (key/value pairs) to be applied to each node.\nThese will
  added in addition to any default label(s) that\nKubernetes may apply to the node.\nIn
  case of conflict in label keys, the applied set may differ depending on\nthe Kubernetes
  version -- it's best to assume the behavior is undefined\nand conflicts should be
  avoided.\nFor more information, including usage and the valid values, see:\nhttps://kubernetes.io/docs/concepts/overview/working-with-objects/labels/\";s:4:\"type\";s:6:\"object\";}s:13:\"localSsdCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:260:\"The
  number of local SSD disks to be attached to the node.\n\nThe limit for this value
  is dependant upon the maximum number of\ndisks available on a machine per zone.
  See:\nhttps://cloud.google.com/compute/docs/disks/local-ssd#local_ssd_limits\nfor
  more information.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:11:\"machineType\";O:8:\"stdClass\":2:{s:11:\"description\";s:165:\"The
  name of a Google Compute Engine [machine\ntype](/compute/docs/machine-types) (e.g.\n`n1-standard-1`).\n\nIf
  unspecified, the default machine type is\n`n1-standard-1`.\";s:4:\"type\";s:6:\"string\";}s:8:\"metadata\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:796:\"The
  metadata key/value pairs assigned to instances in the cluster.\n\nKeys must conform
  to the regexp [a-zA-Z0-9-_]+ and be less than 128 bytes\nin length. These are reflected
  as part of a URL in the metadata server.\nAdditionally, to avoid ambiguity, keys
  must not conflict with any other\nmetadata keys for the project or be one of the
  reserved keys:\n \"cluster-location\"\n \"cluster-name\"\n \"cluster-uid\"\n \"configure-sh\"\n
  \"gci-update-strategy\"\n \"gci-ensure-gke-docker\"\n \"instance-template\"\n \"kube-env\"\n
  \"startup-script\"\n \"user-data\"\n\nValues are free-form strings, and only have
  meaning as interpreted by\nthe image running in the instance. The only restriction
  placed on them is\nthat each value's size must be less than or equal to 32 KB.\n\nThe
  total size of all keys and values must be less than 512 KB.\";s:4:\"type\";s:6:\"object\";}s:14:\"minCpuPlatform\";O:8:\"stdClass\":2:{s:11:\"description\";s:440:\"Minimum
  CPU platform to be used by this instance. The instance may be\nscheduled on the
  specified or newer CPU platform. Applicable values are the\nfriendly names of CPU
  platforms, such as\n<code>minCpuPlatform: &quot;Intel Haswell&quot;</code> or\n<code>minCpuPlatform:
  &quot;Intel Sandy Bridge&quot;</code>. For more\ninformation, read [how to specify
  min CPU\nplatform](https://cloud.google.com/compute/docs/instances/specify-min-cpu-platform)\";s:4:\"type\";s:6:\"string\";}s:11:\"oauthScopes\";O:8:\"stdClass\":3:{s:11:\"description\";s:606:\"The
  set of Google API scopes to be made available on all of the\nnode VMs under the
  \"default\" service account.\n\nThe following scopes are recommended, but not required,
  and by default are\nnot included:\n\n* `https://www.googleapis.com/auth/compute`
  is required for mounting\npersistent storage on your nodes.\n* `https://www.googleapis.com/auth/devstorage.read_only`
  is required for\ncommunicating with **gcr.io**\n(the [Google Container Registry](/container-registry/)).\n\nIf
  unspecified, no scopes are added, unless Cloud Logging or Cloud\nMonitoring are
  enabled, in which case their required scopes will be added.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:11:\"preemptible\";O:8:\"stdClass\":2:{s:11:\"description\";s:176:\"Whether
  the nodes are created as preemptible VM instances. See:\nhttps://cloud.google.com/compute/docs/instances/preemptible
  for more\ninformation about preemptible VM instances.\";s:4:\"type\";s:7:\"boolean\";}s:14:\"serviceAccount\";O:8:\"stdClass\":2:{s:11:\"description\";s:144:\"The
  Google Cloud Platform Service Account to be used by the node VMs. If\nno Service
  Account is specified, the \"default\" service account is used.\";s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:11:\"description\";s:241:\"The
  list of instance tags applied to all nodes. Tags are used to identify\nvalid sources
  or targets for network firewalls and are specified by\nthe client during cluster
  or node pool creation. Each tag within the list\nmust comply with RFC1035.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:14:\"NodeManagement\";O:8:\"stdClass\":3:{s:11:\"description\";s:87:\"NodeManagement
  defines the set of node management services turned on for the\nnode pool.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"autoRepair\";O:8:\"stdClass\":2:{s:11:\"description\";s:232:\"A
  flag that specifies whether the node auto-repair is enabled for the node\npool.
  If enabled, the nodes in this node pool will be monitored and, if\nthey fail health
  checks too many times, an automatic repair action will be\ntriggered.\";s:4:\"type\";s:7:\"boolean\";}s:11:\"autoUpgrade\";O:8:\"stdClass\":2:{s:11:\"description\";s:204:\"A
  flag that specifies whether node auto-upgrade is enabled for the node\npool. If
  enabled, node auto-upgrade helps keep the nodes in your node pool\nup to date with
  the latest release version of Kubernetes.\";s:4:\"type\";s:7:\"boolean\";}s:14:\"upgradeOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/AutoUpgradeOptions\";s:11:\"description\";s:51:\"Specifies
  the Auto Upgrade knobs for the node pool.\";}}s:4:\"type\";s:6:\"object\";}s:8:\"NodePool\";O:8:\"stdClass\":3:{s:11:\"description\";s:385:\"NodePool
  contains the name and configuration for a cluster's node pool.\nNode pools are a
  set of nodes (i.e. VM's), with a common configuration and\nspecification, under
  the control of the cluster master. They may have a set\nof Kubernetes labels applied
  to them, which may be used to reference them\nduring pod scheduling. They may also
  be resized up or down, to accommodate\nthe workload.\";s:10:\"properties\";O:8:\"stdClass\":10:{s:11:\"autoscaling\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/NodePoolAutoscaling\";s:11:\"description\";s:107:\"Autoscaler
  configuration for this NodePool. Autoscaler is enabled\nonly if a valid configuration
  is present.\";}s:6:\"config\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/NodeConfig\";s:11:\"description\";s:35:\"The
  node configuration of the pool.\";}s:16:\"initialNodeCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:236:\"The
  initial node count for the pool. You must ensure that your\nCompute Engine <a href=\"/compute/docs/resource-quotas\">resource
  quota</a>\nis sufficient for this number of instances. You must also have available\nfirewall
  and routes quota.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:17:\"instanceGroupUrls\";O:8:\"stdClass\":3:{s:11:\"description\";s:164:\"[Output
  only] The resource URLs of the [managed instance\ngroups](/compute/docs/instance-groups/creating-groups-of-managed-instances)\nassociated
  with this node pool.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:10:\"management\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NodeManagement\";s:11:\"description\";s:47:\"NodeManagement
  configuration for this NodePool.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  name of the node pool.\";s:4:\"type\";s:6:\"string\";}s:8:\"selfLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"[Output
  only] Server-defined URL for the resource.\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"[Output
  only] The status of the nodes in this pool instance.\";s:4:\"enum\";a:7:{i:0;s:18:\"STATUS_UNSPECIFIED\";i:1;s:12:\"PROVISIONING\";i:2;s:7:\"RUNNING\";i:3;s:18:\"RUNNING_WITH_ERROR\";i:4;s:11:\"RECONCILING\";i:5;s:8:\"STOPPING\";i:6;s:5:\"ERROR\";}s:4:\"type\";s:6:\"string\";}s:13:\"statusMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:103:\"[Output
  only] Additional information about the current status of this\nnode pool instance,
  if available.\";s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  version of the Kubernetes of this node.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"NodePoolAutoscaling\";O:8:\"stdClass\":3:{s:11:\"description\";s:137:\"NodePoolAutoscaling
  contains information required by cluster autoscaler to\nadjust the size of the node
  pool to the current cluster usage.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"enabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Is
  autoscaling enabled for this node pool.\";s:4:\"type\";s:7:\"boolean\";}s:12:\"maxNodeCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:118:\"Maximum
  number of nodes in the NodePool. Must be >= min_node_count. There\nhas to enough
  quota to scale up the cluster.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:12:\"minNodeCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"Minimum
  number of nodes in the NodePool. Must be >= 1 and <=\nmax_node_count.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:9:\"Operation\";O:8:\"stdClass\":3:{s:11:\"description\";s:129:\"This
  operation resource represents operations that may have happened or are\nhappening
  on the cluster. All fields are output only.\";s:10:\"properties\";O:8:\"stdClass\":11:{s:6:\"detail\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Detailed
  operation progress, if available.\";s:4:\"type\";s:6:\"string\";}s:7:\"endTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:111:\"[Output
  only] The time the operation completed, in\n[RFC3339](https://www.ietf.org/rfc/rfc3339.txt)
  text format.\";s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:206:\"[Output
  only] The name of the Google Compute Engine\n[zone](/compute/docs/regions-zones/regions-zones#available)
  or\n[region](/compute/docs/regions-zones/regions-zones#available) in which\nthe
  cluster resides.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"The
  server-assigned ID for the operation.\";s:4:\"type\";s:6:\"string\";}s:13:\"operationType\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"The
  operation type.\";s:4:\"enum\";a:17:{i:0;s:16:\"TYPE_UNSPECIFIED\";i:1;s:14:\"CREATE_CLUSTER\";i:2;s:14:\"DELETE_CLUSTER\";i:3;s:14:\"UPGRADE_MASTER\";i:4;s:13:\"UPGRADE_NODES\";i:5;s:14:\"REPAIR_CLUSTER\";i:6;s:14:\"UPDATE_CLUSTER\";i:7;s:16:\"CREATE_NODE_POOL\";i:8;s:16:\"DELETE_NODE_POOL\";i:9;s:24:\"SET_NODE_POOL_MANAGEMENT\";i:10;s:17:\"AUTO_REPAIR_NODES\";i:11;s:18:\"AUTO_UPGRADE_NODES\";i:12;s:10:\"SET_LABELS\";i:13;s:15:\"SET_MASTER_AUTH\";i:14;s:18:\"SET_NODE_POOL_SIZE\";i:15;s:18:\"SET_NETWORK_POLICY\";i:16;s:22:\"SET_MAINTENANCE_POLICY\";}s:4:\"type\";s:6:\"string\";}s:8:\"selfLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Server-defined
  URL for the resource.\";s:4:\"type\";s:6:\"string\";}s:9:\"startTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:109:\"[Output
  only] The time the operation started, in\n[RFC3339](https://www.ietf.org/rfc/rfc3339.txt)
  text format.\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  current status of the operation.\";s:4:\"enum\";a:5:{i:0;s:18:\"STATUS_UNSPECIFIED\";i:1;s:7:\"PENDING\";i:2;s:7:\"RUNNING\";i:3;s:4:\"DONE\";i:4;s:8:\"ABORTING\";}s:4:\"type\";s:6:\"string\";}s:13:\"statusMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"If
  an error has occurred, a textual description of the error.\";s:4:\"type\";s:6:\"string\";}s:10:\"targetLink\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"Server-defined
  URL for the target of the operation.\";s:4:\"type\";s:6:\"string\";}s:4:\"zone\";O:8:\"stdClass\":2:{s:11:\"description\";s:163:\"The
  name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which
  the operation\nis taking place.\nThis field is deprecated, use location instead.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:30:\"RollbackNodePoolUpgradeRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:157:\"RollbackNodePoolUpgradeRequest
  rollbacks the previously Aborted or Failed\nNodePool upgrade. This will be an no-op
  if the last upgrade successfully\ncompleted.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"clusterId\";O:8:\"stdClass\":2:{s:11:\"description\";s:111:\"Deprecated.
  The name of the cluster to rollback.\nThis field has been deprecated and replaced
  by the name field.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:162:\"The
  name (project, location, cluster, node pool id) of the node poll to\nrollback upgrade.\nSpecified
  in the format 'projects/*/locations/*/clusters/*/nodePools/*'.\";s:4:\"type\";s:6:\"string\";}s:10:\"nodePoolId\";O:8:\"stdClass\":2:{s:11:\"description\";s:113:\"Deprecated.
  The name of the node pool to rollback.\nThis field has been deprecated and replaced
  by the name field.\";s:4:\"type\";s:6:\"string\";}s:9:\"projectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:185:\"Deprecated.
  The Google Developers Console [project ID or project\nnumber](https://support.google.com/cloud/answer/6158840).\nThis
  field has been deprecated and replaced by the name field.\";s:4:\"type\";s:6:\"string\";}s:4:\"zone\";O:8:\"stdClass\":2:{s:11:\"description\";s:180:\"Deprecated.
  The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in
  which the cluster\nresides.\nThis field has been deprecated and replaced by the
  name field.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"ServerConfig\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Kubernetes
  Engine service configuration.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:21:\"defaultClusterVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Version
  of Kubernetes the service deploys by default.\";s:4:\"type\";s:6:\"string\";}s:16:\"defaultImageType\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Default
  image type.\";s:4:\"type\";s:6:\"string\";}s:15:\"validImageTypes\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"List
  of valid image types.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:19:\"validMasterVersions\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"List
  of valid master versions.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:17:\"validNodeVersions\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"List
  of valid node upgrade target versions.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:22:\"SetAddonsConfigRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"SetAddonsConfigRequest
  sets the addons associated with the cluster.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"addonsConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/AddonsConfig\";s:11:\"description\";s:82:\"The
  desired configurations for the various addons available to run in the\ncluster.\";}s:9:\"clusterId\";O:8:\"stdClass\":2:{s:11:\"description\";s:110:\"Deprecated.
  The name of the cluster to upgrade.\nThis field has been deprecated and replaced
  by the name field.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:128:\"The
  name (project, location, cluster) of the cluster to set addons.\nSpecified in the
  format 'projects/*/locations/*/clusters/*'.\";s:4:\"type\";s:6:\"string\";}s:9:\"projectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:185:\"Deprecated.
  The Google Developers Console [project ID or project\nnumber](https://support.google.com/cloud/answer/6158840).\nThis
  field has been deprecated and replaced by the name field.\";s:4:\"type\";s:6:\"string\";}s:4:\"zone\";O:8:\"stdClass\":2:{s:11:\"description\";s:180:\"Deprecated.
  The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in
  which the cluster\nresides.\nThis field has been deprecated and replaced by the
  name field.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:16:\"SetLabelsRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:177:\"SetLabelsRequest
  sets the Google Cloud Platform labels on a Google Container\nEngine cluster, which
  will in turn set them for Google Compute Engine\nresources used by that cluster\";s:10:\"properties\";O:8:\"stdClass\":6:{s:9:\"clusterId\";O:8:\"stdClass\":2:{s:11:\"description\";s:99:\"Deprecated.
  The name of the cluster.\nThis field has been deprecated and replaced by the name
  field.\";s:4:\"type\";s:6:\"string\";}s:16:\"labelFingerprint\";O:8:\"stdClass\":2:{s:11:\"description\";s:380:\"The
  fingerprint of the previous set of labels for this resource,\nused to detect conflicts.
  The fingerprint is initially generated by\nKubernetes Engine and changes after every
  request to modify or update\nlabels. You must always provide an up-to-date fingerprint
  hash when\nupdating or changing labels. Make a <code>get()</code> request to the\nresource
  to get the latest fingerprint.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:131:\"The
  name (project, location, cluster id) of the cluster to set labels.\nSpecified in
  the format 'projects/*/locations/*/clusters/*'.\";s:4:\"type\";s:6:\"string\";}s:9:\"projectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:199:\"Deprecated.
  The Google Developers Console [project ID or project\nnumber](https://developers.google.com/console/help/new/#projectnumber).\nThis
  field has been deprecated and replaced by the name field.\";s:4:\"type\";s:6:\"string\";}s:14:\"resourceLabels\";O:8:\"stdClass\":3:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:35:\"The
  labels to set for that cluster.\";s:4:\"type\";s:6:\"object\";}s:4:\"zone\";O:8:\"stdClass\":2:{s:11:\"description\";s:180:\"Deprecated.
  The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in
  which the cluster\nresides.\nThis field has been deprecated and replaced by the
  name field.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"SetLegacyAbacRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:88:\"SetLegacyAbacRequest
  enables or disables the ABAC authorization mechanism for\na cluster.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"clusterId\";O:8:\"stdClass\":2:{s:11:\"description\";s:109:\"Deprecated.
  The name of the cluster to update.\nThis field has been deprecated and replaced
  by the name field.\";s:4:\"type\";s:6:\"string\";}s:7:\"enabled\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"Whether
  ABAC authorization will be enabled in the cluster.\";s:4:\"type\";s:7:\"boolean\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:136:\"The
  name (project, location, cluster id) of the cluster to set legacy abac.\nSpecified
  in the format 'projects/*/locations/*/clusters/*'.\";s:4:\"type\";s:6:\"string\";}s:9:\"projectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:185:\"Deprecated.
  The Google Developers Console [project ID or project\nnumber](https://support.google.com/cloud/answer/6158840).\nThis
  field has been deprecated and replaced by the name field.\";s:4:\"type\";s:6:\"string\";}s:4:\"zone\";O:8:\"stdClass\":2:{s:11:\"description\";s:180:\"Deprecated.
  The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in
  which the cluster\nresides.\nThis field has been deprecated and replaced by the
  name field.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"SetLocationsRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"SetLocationsRequest
  sets the locations of the cluster.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"clusterId\";O:8:\"stdClass\":2:{s:11:\"description\";s:110:\"Deprecated.
  The name of the cluster to upgrade.\nThis field has been deprecated and replaced
  by the name field.\";s:4:\"type\";s:6:\"string\";}s:9:\"locations\";O:8:\"stdClass\":3:{s:11:\"description\";s:360:\"The
  desired list of Google Compute Engine\n[locations](/compute/docs/zones#available)
  in which the cluster's nodes\nshould be located. Changing the locations a cluster
  is in will result\nin nodes being either created or removed from the cluster, depending
  on\nwhether locations are being added or removed.\n\nThis list must always include
  the cluster's primary zone.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:131:\"The
  name (project, location, cluster) of the cluster to set locations.\nSpecified in
  the format 'projects/*/locations/*/clusters/*'.\";s:4:\"type\";s:6:\"string\";}s:9:\"projectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:185:\"Deprecated.
  The Google Developers Console [project ID or project\nnumber](https://support.google.com/cloud/answer/6158840).\nThis
  field has been deprecated and replaced by the name field.\";s:4:\"type\";s:6:\"string\";}s:4:\"zone\";O:8:\"stdClass\":2:{s:11:\"description\";s:180:\"Deprecated.
  The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in
  which the cluster\nresides.\nThis field has been deprecated and replaced by the
  name field.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:24:\"SetLoggingServiceRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"SetLoggingServiceRequest
  sets the logging service of a cluster.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"clusterId\";O:8:\"stdClass\":2:{s:11:\"description\";s:110:\"Deprecated.
  The name of the cluster to upgrade.\nThis field has been deprecated and replaced
  by the name field.\";s:4:\"type\";s:6:\"string\";}s:14:\"loggingService\";O:8:\"stdClass\":2:{s:11:\"description\";s:208:\"The
  logging service the cluster should use to write metrics.\nCurrently available options:\n\n*
  \"logging.googleapis.com\" - the Google Cloud Logging service\n* \"none\" - no metrics
  will be exported from the cluster\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:129:\"The
  name (project, location, cluster) of the cluster to set logging.\nSpecified in the
  format 'projects/*/locations/*/clusters/*'.\";s:4:\"type\";s:6:\"string\";}s:9:\"projectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:185:\"Deprecated.
  The Google Developers Console [project ID or project\nnumber](https://support.google.com/cloud/answer/6158840).\nThis
  field has been deprecated and replaced by the name field.\";s:4:\"type\";s:6:\"string\";}s:4:\"zone\";O:8:\"stdClass\":2:{s:11:\"description\";s:180:\"Deprecated.
  The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in
  which the cluster\nresides.\nThis field has been deprecated and replaced by the
  name field.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:27:\"SetMaintenancePolicyRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"SetMaintenancePolicyRequest
  sets the maintenance policy for a cluster.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"clusterId\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"The
  name of the cluster to update.\";s:4:\"type\";s:6:\"string\";}s:17:\"maintenancePolicy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/MaintenancePolicy\";s:11:\"description\";s:104:\"The
  maintenance policy to be set for the cluster. An empty field\nclears the existing
  maintenance policy.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:143:\"The
  name (project, location, cluster id) of the cluster to set maintenance\npolicy.\nSpecified
  in the format 'projects/*/locations/*/clusters/*'.\";s:4:\"type\";s:6:\"string\";}s:9:\"projectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:110:\"The
  Google Developers Console [project ID or project\nnumber](https://support.google.com/cloud/answer/6158840).\";s:4:\"type\";s:6:\"string\";}s:4:\"zone\";O:8:\"stdClass\":2:{s:11:\"description\";s:105:\"The
  name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in which
  the cluster\nresides.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"SetMasterAuthRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"SetMasterAuthRequest
  updates the admin password of a cluster.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:6:\"action\";O:8:\"stdClass\":3:{s:11:\"description\";s:56:\"The
  exact form of action to be taken on the master auth.\";s:4:\"enum\";a:4:{i:0;s:7:\"UNKNOWN\";i:1;s:12:\"SET_PASSWORD\";i:2;s:17:\"GENERATE_PASSWORD\";i:3;s:12:\"SET_USERNAME\";}s:4:\"type\";s:6:\"string\";}s:9:\"clusterId\";O:8:\"stdClass\":2:{s:11:\"description\";s:110:\"Deprecated.
  The name of the cluster to upgrade.\nThis field has been deprecated and replaced
  by the name field.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:126:\"The
  name (project, location, cluster) of the cluster to set auth.\nSpecified in the
  format 'projects/*/locations/*/clusters/*'.\";s:4:\"type\";s:6:\"string\";}s:9:\"projectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:185:\"Deprecated.
  The Google Developers Console [project ID or project\nnumber](https://support.google.com/cloud/answer/6158840).\nThis
  field has been deprecated and replaced by the name field.\";s:4:\"type\";s:6:\"string\";}s:6:\"update\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/MasterAuth\";s:11:\"description\";s:28:\"A
  description of the update.\";}s:4:\"zone\";O:8:\"stdClass\":2:{s:11:\"description\";s:180:\"Deprecated.
  The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in
  which the cluster\nresides.\nThis field has been deprecated and replaced by the
  name field.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:27:\"SetMonitoringServiceRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:69:\"SetMonitoringServiceRequest
  sets the monitoring service of a cluster.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"clusterId\";O:8:\"stdClass\":2:{s:11:\"description\";s:110:\"Deprecated.
  The name of the cluster to upgrade.\nThis field has been deprecated and replaced
  by the name field.\";s:4:\"type\";s:6:\"string\";}s:17:\"monitoringService\";O:8:\"stdClass\":2:{s:11:\"description\";s:217:\"The
  monitoring service the cluster should use to write metrics.\nCurrently available
  options:\n\n* \"monitoring.googleapis.com\" - the Google Cloud Monitoring service\n*
  \"none\" - no metrics will be exported from the cluster\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:132:\"The
  name (project, location, cluster) of the cluster to set monitoring.\nSpecified in
  the format 'projects/*/locations/*/clusters/*'.\";s:4:\"type\";s:6:\"string\";}s:9:\"projectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:185:\"Deprecated.
  The Google Developers Console [project ID or project\nnumber](https://support.google.com/cloud/answer/6158840).\nThis
  field has been deprecated and replaced by the name field.\";s:4:\"type\";s:6:\"string\";}s:4:\"zone\";O:8:\"stdClass\":2:{s:11:\"description\";s:180:\"Deprecated.
  The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in
  which the cluster\nresides.\nThis field has been deprecated and replaced by the
  name field.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:23:\"SetNetworkPolicyRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"SetNetworkPolicyRequest
  enables/disables network policy for a cluster.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"clusterId\";O:8:\"stdClass\":2:{s:11:\"description\";s:99:\"Deprecated.
  The name of the cluster.\nThis field has been deprecated and replaced by the name
  field.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:142:\"The
  name (project, location, cluster id) of the cluster to set networking\npolicy. Specified
  in the format 'projects/*/locations/*/clusters/*'.\";s:4:\"type\";s:6:\"string\";}s:13:\"networkPolicy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/NetworkPolicy\";s:11:\"description\";s:52:\"Configuration
  options for the NetworkPolicy feature.\";}s:9:\"projectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:199:\"Deprecated.
  The Google Developers Console [project ID or project\nnumber](https://developers.google.com/console/help/new/#projectnumber).\nThis
  field has been deprecated and replaced by the name field.\";s:4:\"type\";s:6:\"string\";}s:4:\"zone\";O:8:\"stdClass\":2:{s:11:\"description\";s:180:\"Deprecated.
  The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in
  which the cluster\nresides.\nThis field has been deprecated and replaced by the
  name field.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:29:\"SetNodePoolAutoscalingRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"SetNodePoolAutoscalingRequest
  sets the autoscaler settings of a node pool.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"autoscaling\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/NodePoolAutoscaling\";s:11:\"description\";s:44:\"Autoscaling
  configuration for the node pool.\";}s:9:\"clusterId\";O:8:\"stdClass\":2:{s:11:\"description\";s:110:\"Deprecated.
  The name of the cluster to upgrade.\nThis field has been deprecated and replaced
  by the name field.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:166:\"The
  name (project, location, cluster, node pool) of the node pool to set\nautoscaler
  settings. Specified in the format\n'projects/*/locations/*/clusters/*/nodePools/*'.\";s:4:\"type\";s:6:\"string\";}s:10:\"nodePoolId\";O:8:\"stdClass\":2:{s:11:\"description\";s:112:\"Deprecated.
  The name of the node pool to upgrade.\nThis field has been deprecated and replaced
  by the name field.\";s:4:\"type\";s:6:\"string\";}s:9:\"projectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:185:\"Deprecated.
  The Google Developers Console [project ID or project\nnumber](https://support.google.com/cloud/answer/6158840).\nThis
  field has been deprecated and replaced by the name field.\";s:4:\"type\";s:6:\"string\";}s:4:\"zone\";O:8:\"stdClass\":2:{s:11:\"description\";s:180:\"Deprecated.
  The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in
  which the cluster\nresides.\nThis field has been deprecated and replaced by the
  name field.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:28:\"SetNodePoolManagementRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"SetNodePoolManagementRequest
  sets the node management properties of a node\npool.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:9:\"clusterId\";O:8:\"stdClass\":2:{s:11:\"description\";s:109:\"Deprecated.
  The name of the cluster to update.\nThis field has been deprecated and replaced
  by the name field.\";s:4:\"type\";s:6:\"string\";}s:10:\"management\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/NodeManagement\";s:11:\"description\";s:47:\"NodeManagement
  configuration for the node pool.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:171:\"The
  name (project, location, cluster, node pool id) of the node pool to set\nmanagement
  properties. Specified in the format\n'projects/*/locations/*/clusters/*/nodePools/*'.\";s:4:\"type\";s:6:\"string\";}s:10:\"nodePoolId\";O:8:\"stdClass\":2:{s:11:\"description\";s:111:\"Deprecated.
  The name of the node pool to update.\nThis field has been deprecated and replaced
  by the name field.\";s:4:\"type\";s:6:\"string\";}s:9:\"projectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:185:\"Deprecated.
  The Google Developers Console [project ID or project\nnumber](https://support.google.com/cloud/answer/6158840).\nThis
  field has been deprecated and replaced by the name field.\";s:4:\"type\";s:6:\"string\";}s:4:\"zone\";O:8:\"stdClass\":2:{s:11:\"description\";s:180:\"Deprecated.
  The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in
  which the cluster\nresides.\nThis field has been deprecated and replaced by the
  name field.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:22:\"SetNodePoolSizeRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"SetNodePoolSizeRequest
  sets the size a node\npool.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:9:\"clusterId\";O:8:\"stdClass\":2:{s:11:\"description\";s:109:\"Deprecated.
  The name of the cluster to update.\nThis field has been deprecated and replaced
  by the name field.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:154:\"The
  name (project, location, cluster, node pool id) of the node pool to set\nsize.\nSpecified
  in the format 'projects/*/locations/*/clusters/*/nodePools/*'.\";s:4:\"type\";s:6:\"string\";}s:9:\"nodeCount\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  desired node count for the pool.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:10:\"nodePoolId\";O:8:\"stdClass\":2:{s:11:\"description\";s:111:\"Deprecated.
  The name of the node pool to update.\nThis field has been deprecated and replaced
  by the name field.\";s:4:\"type\";s:6:\"string\";}s:9:\"projectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:185:\"Deprecated.
  The Google Developers Console [project ID or project\nnumber](https://support.google.com/cloud/answer/6158840).\nThis
  field has been deprecated and replaced by the name field.\";s:4:\"type\";s:6:\"string\";}s:4:\"zone\";O:8:\"stdClass\":2:{s:11:\"description\";s:180:\"Deprecated.
  The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in
  which the cluster\nresides.\nThis field has been deprecated and replaced by the
  name field.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:22:\"StartIPRotationRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:130:\"StartIPRotationRequest
  creates a new IP for the cluster and then performs\na node upgrade on each node
  pool to point to the new IP.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"clusterId\";O:8:\"stdClass\":2:{s:11:\"description\";s:99:\"Deprecated.
  The name of the cluster.\nThis field has been deprecated and replaced by the name
  field.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:138:\"The
  name (project, location, cluster id) of the cluster to start IP\nrotation. Specified
  in the format 'projects/*/locations/*/clusters/*'.\";s:4:\"type\";s:6:\"string\";}s:9:\"projectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:199:\"Deprecated.
  The Google Developers Console [project ID or project\nnumber](https://developers.google.com/console/help/new/#projectnumber).\nThis
  field has been deprecated and replaced by the name field.\";s:4:\"type\";s:6:\"string\";}s:17:\"rotateCredentials\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Whether
  to rotate credentials during IP rotation.\";s:4:\"type\";s:7:\"boolean\";}s:4:\"zone\";O:8:\"stdClass\":2:{s:11:\"description\";s:180:\"Deprecated.
  The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in
  which the cluster\nresides.\nThis field has been deprecated and replaced by the
  name field.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:20:\"UpdateClusterRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"UpdateClusterRequest
  updates the settings of a cluster.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"clusterId\";O:8:\"stdClass\":2:{s:11:\"description\";s:110:\"Deprecated.
  The name of the cluster to upgrade.\nThis field has been deprecated and replaced
  by the name field.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:124:\"The
  name (project, location, cluster) of the cluster to update.\nSpecified in the format
  'projects/*/locations/*/clusters/*'.\";s:4:\"type\";s:6:\"string\";}s:9:\"projectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:185:\"Deprecated.
  The Google Developers Console [project ID or project\nnumber](https://support.google.com/cloud/answer/6158840).\nThis
  field has been deprecated and replaced by the name field.\";s:4:\"type\";s:6:\"string\";}s:6:\"update\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ClusterUpdate\";s:11:\"description\";s:28:\"A
  description of the update.\";}s:4:\"zone\";O:8:\"stdClass\":2:{s:11:\"description\";s:180:\"Deprecated.
  The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in
  which the cluster\nresides.\nThis field has been deprecated and replaced by the
  name field.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"UpdateMasterRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"UpdateMasterRequest
  updates the master of the cluster.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"clusterId\";O:8:\"stdClass\":2:{s:11:\"description\";s:110:\"Deprecated.
  The name of the cluster to upgrade.\nThis field has been deprecated and replaced
  by the name field.\";s:4:\"type\";s:6:\"string\";}s:13:\"masterVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:467:\"The
  Kubernetes version to change the master to.\n\nUsers may specify either explicit
  versions offered by Kubernetes Engine or\nversion aliases, which have the following
  behavior:\n\n- \"latest\": picks the highest valid Kubernetes version\n- \"1.X\":
  picks the highest valid patch+gke.N patch in the 1.X version\n- \"1.X.Y\": picks
  the highest valid gke.N patch in the 1.X.Y version\n- \"1.X.Y-gke.N\": picks an
  explicit Kubernetes version\n- \"-\": picks the default Kubernetes version\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:124:\"The
  name (project, location, cluster) of the cluster to update.\nSpecified in the format
  'projects/*/locations/*/clusters/*'.\";s:4:\"type\";s:6:\"string\";}s:9:\"projectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:185:\"Deprecated.
  The Google Developers Console [project ID or project\nnumber](https://support.google.com/cloud/answer/6158840).\nThis
  field has been deprecated and replaced by the name field.\";s:4:\"type\";s:6:\"string\";}s:4:\"zone\";O:8:\"stdClass\":2:{s:11:\"description\";s:180:\"Deprecated.
  The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in
  which the cluster\nresides.\nThis field has been deprecated and replaced by the
  name field.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:21:\"UpdateNodePoolRequest\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"UpdateNodePoolRequests
  update a node pool's image and/or version.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:9:\"clusterId\";O:8:\"stdClass\":2:{s:11:\"description\";s:110:\"Deprecated.
  The name of the cluster to upgrade.\nThis field has been deprecated and replaced
  by the name field.\";s:4:\"type\";s:6:\"string\";}s:9:\"imageType\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"The
  desired image type for the node pool.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:149:\"The
  name (project, location, cluster, node pool) of the node pool to\nupdate. Specified
  in the format\n'projects/*/locations/*/clusters/*/nodePools/*'.\";s:4:\"type\";s:6:\"string\";}s:10:\"nodePoolId\";O:8:\"stdClass\":2:{s:11:\"description\";s:112:\"Deprecated.
  The name of the node pool to upgrade.\nThis field has been deprecated and replaced
  by the name field.\";s:4:\"type\";s:6:\"string\";}s:11:\"nodeVersion\";O:8:\"stdClass\":2:{s:11:\"description\";s:488:\"The
  Kubernetes version to change the nodes to (typically an\nupgrade).\n\nUsers may
  specify either explicit versions offered by Kubernetes Engine or\nversion aliases,
  which have the following behavior:\n\n- \"latest\": picks the highest valid Kubernetes
  version\n- \"1.X\": picks the highest valid patch+gke.N patch in the 1.X version\n-
  \"1.X.Y\": picks the highest valid gke.N patch in the 1.X.Y version\n- \"1.X.Y-gke.N\":
  picks an explicit Kubernetes version\n- \"-\": picks the Kubernetes master version\";s:4:\"type\";s:6:\"string\";}s:9:\"projectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:185:\"Deprecated.
  The Google Developers Console [project ID or project\nnumber](https://support.google.com/cloud/answer/6158840).\nThis
  field has been deprecated and replaced by the name field.\";s:4:\"type\";s:6:\"string\";}s:4:\"zone\";O:8:\"stdClass\":2:{s:11:\"description\";s:180:\"Deprecated.
  The name of the Google Compute Engine\n[zone](/compute/docs/zones#available) in
  which the cluster\nresides.\nThis field has been deprecated and replaced by the
  name field.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
