---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":8:{s:11:\"description\";s:164:\"Access the most
  exhaustive, accurate and up-to-date collection of global and hyper-local geocoded
  events and activities across a wide range of categories and genres\";s:5:\"title\";s:8:\"LotaData\";s:7:\"version\";s:5:\"2.0.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:8:\"location\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:110:\"https://api.apis.guru/v2/cache/logo/https_pbs.twimg.com_profile_images_664666044754079744_OtP5eqwm_400x400.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:55:\"https://developers.lotadata.com/swagger/spec/apiv2.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:12:\"lotadata.com\";}"
host: api2.lotadata.com
basePath: /v2
paths:
  /events:
    get:
      parameters:
      - collectionFormat: multi
        description: List of required EventCategory ids (Tier 1)
        in: query
        items:
          type: string
        name: category
        type: array
      - description: List of required activity type ids (compliment to category)
        in: query
        name: activity
        type: string
      - description: List of required ambience ids
        in: query
        name: ambience
        type: string
      - description: List of required genre ids
        in: query
        name: genre
        type: string
      - description: Matching on event and place names
        in: query
        name: name
        type: string
      - description: Text query matching titles, description, various text, tags,
          category
        in: query
        name: q
        type: string
      - description: Start on or after date specified (2015-10-16)
        in: query
        name: from_day
        required: false
        type: string
      - description: Start on or before date specified (2015-10-16)
        in: query
        name: to_day
        required: false
        type: string
      - description: Min capacity at location
        format: integer
        in: query
        name: capacity_min
        required: false
        type: number
      - description: Min capacity at location
        format: integer
        in: query
        name: capacity_max
        required: false
        type: number
      - description: latitude,longitude of the origin point
        in: query
        name: center
        type: string
      - description: Distance from origin in meters
        in: query
        name: radius
        type: integer
      - collectionFormat: multi
        description: Corner of a bounding box (lat,lng). Requires 0 or 2 pairs
        in: query
        items:
          type: string
        name: bbox
        required: false
        type: array
      - collectionFormat: multi
        description: Closed custom polygon. Ordered list of lat,lng pairs
        in: query
        items:
          type: string
        name: polygon
        required: false
        type: array
      - description: Search within specified geopolitical place id
        in: query
        name: within
        required: false
        type: string
      - description: Return results starting at specified offset
        in: query
        name: offset
        type: integer
      - description: Max results to return
        in: query
        name: limit
        type: integer
      - default: context
        description: Return results starting at specified offset (summary, context,
          detail)
        enum:
        - summary
        - detail
        - context
        - minicontext
        in: query
        name: fieldset
        required: true
        type: string
      responses:
        200:
          description: List of matching events
          schema:
            $ref: '#/definitions/EventsSearchResponse'
        400:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      summary: Find event occurrences in the area. Returns results at specific place
        and time, event groups are expanded for every occurrence.
      tags:
      - Events
  /events/{id}:
    get:
      parameters:
      - description: event @id
        in: path
        name: id
        required: true
        type: string
      - default: summary
        enum:
        - summary
        - detail
        - context
        - minicontext
        in: query
        name: fieldset
        type: string
      responses:
        200:
          description: Requested event
          schema:
            $ref: '#/definitions/EventOccurenceDetail'
        404:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      summary: Get Specific event details.
      tags:
      - Events
  /places:
    get:
      parameters:
      - collectionFormat: multi
        description: List of required PlaceCategory ids (Tier 1)
        in: query
        items:
          type: string
        name: category
        type: array
      - collectionFormat: multi
        description: List of required PlaceFunction ids (Tier 2)
        in: query
        items:
          type: string
        name: function
        type: array
      - description: List of required ambience ids
        in: query
        items:
          type: string
        name: ambience
        type: array
      - description: List of required tags
        in: query
        items:
          type: string
        name: tag
        type: array
      - description: Specific PlaceType to return
        in: query
        name: type
        type: string
      - description: Match on place names
        in: query
        name: name
        type: string
      - description: Require an exact name match
        in: query
        name: exact
        type: boolean
      - description: Min capacity at location
        format: integer
        in: query
        name: capacity_min
        required: false
        type: number
      - description: Min capacity at location
        format: integer
        in: query
        name: capacity_max
        required: false
        type: number
      - description: Address of the place or street component of the address
        in: query
        name: street
        type: string
      - description: city, town, or neighborhood of the place
        in: query
        name: locality
        type: string
      - description: region or state
        in: query
        name: region
        type: string
      - description: Postal or zip code
        in: query
        name: postal_code
        type: string
      - description: country component of the address
        in: query
        name: country
        type: string
      - description: latitude,longitude of the origin point
        in: query
        name: center
        type: string
      - description: Distance from origin in meters
        in: query
        name: radius
        type: integer
      - collectionFormat: multi
        description: Corner of a bounding box (lat,lng). Requires 0 or 2 pairs
        in: query
        items:
          type: string
        name: bbox
        required: false
        type: array
      - collectionFormat: multi
        description: Closed custom polygon. Ordered list of lat,lng pairs
        in: query
        items:
          type: string
        name: polygon
        required: false
        type: array
      - description: Search within specified geopolitical place id
        in: query
        name: within
        required: false
        type: string
      - description: Return results starting at specified offset
        in: query
        name: offset
        type: integer
      - description: Max results to return
        in: query
        name: limit
        type: integer
      - default: context
        description: Return results starting at specified offset (summary, context,
          detail)
        enum:
        - summary
        - detail
        - context
        in: query
        name: fieldset
        required: true
        type: string
      responses:
        200:
          description: List of matching events
          schema:
            $ref: '#/definitions/PlacesSearchResponse'
        400:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      summary: Venues, landmarks, regions, these are all places to search.
      tags:
      - Places
  /places/{id}:
    get:
      parameters:
      - description: place @id
        in: path
        name: id
        required: true
        type: string
      - default: summary
        enum:
        - summary
        - detail
        - context
        - minicontext
        in: query
        name: fieldset
        type: string
      responses:
        200:
          description: Requested place
          schema:
            $ref: '#/definitions/PlaceDetail'
        404:
          description: Unexpected error
          schema:
            $ref: '#/definitions/Error'
      summary: Get specific place details
      tags:
      - Places
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":19:{s:7:\"Address\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Physical
  world addresss\";s:10:\"properties\";O:8:\"stdClass\":7:{s:7:\"country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"formatted\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Address
  formatted for display as a single string\";s:4:\"type\";s:6:\"string\";}s:8:\"locality\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"City
  or town\";s:4:\"type\";s:6:\"string\";}s:10:\"postalCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"region\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"street\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"Street
  portion of the address, may sometimes be a common name of the place\";s:4:\"type\";s:6:\"string\";}s:4:\"unit\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:13:\"ContactDetail\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":10:{s:12:\"displayPhone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"facebookUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"instagramName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"lastfmUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"soundcloudUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"spotifyUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"twitterName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"youtubeUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:5:\"Error\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"cause\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"expected\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"path\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"rule\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"tracking\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"session\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}s:20:\"EventOccurenceDetail\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Event
  Occurrence Detail limited to requested fieldset.\";s:10:\"properties\";O:8:\"stdClass\":31:{s:3:\"@id\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Unique
  event id\";s:4:\"type\";s:6:\"string\";}s:5:\"@type\";O:8:\"stdClass\":3:{s:11:\"description\";s:133:\"Type
  of occurrence. You will usually see Organized as the type for most events. While
  Virtual events will get their own Virtual type.\";s:4:\"enum\";a:4:{i:0;s:9:\"Organized\";i:1;s:9:\"Screening\";i:2;s:13:\"Environmental\";i:3;s:7:\"Virtual\";}s:4:\"type\";s:6:\"string\";}s:8:\"activity\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Associated
  ActivityType entries\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/FeatureReference\";}s:4:\"type\";s:5:\"array\";}s:8:\"ambience\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"expected
  mood and feel of the event\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/FeatureReference\";}s:4:\"type\";s:5:\"array\";}s:2:\"at\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/PlaceReference\";s:11:\"description\";s:49:\"Reference
  to the location where event takes place\";}s:8:\"awayTeam\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/FeatureReference\";s:11:\"description\";s:24:\"other
  SportsTeam playing\";}s:8:\"category\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"Associated
  EventCategory. May be multiple, such as Charity Music event\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/FeatureReference\";}s:4:\"type\";s:5:\"array\";}s:12:\"contactPoint\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ContactDetail\";s:11:\"description\";s:29:\"Social
  and contact references\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Full
  description in plain text\";s:4:\"type\";s:6:\"string\";}s:8:\"doorTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Time
  when the admission starts\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:8:\"duration\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"Duration
  of the event in ISO-8601 format (PT45M) - 45 minutes\";s:4:\"type\";s:6:\"string\";}s:9:\"endApprox\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"endDate
  is approximated based on historical data\";s:4:\"type\";s:7:\"boolean\";}s:7:\"endDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Time
  when the event ends, if known\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:11:\"extTaxonomy\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"extended
  taxonomy such as IAB and Google AdWords\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/FeatureReference\";}s:4:\"type\";s:5:\"array\";}s:5:\"genre\";O:8:\"stdClass\":3:{s:11:\"description\";s:103:\"applicable
  Genres. (Tier 2 taxonomy). May include related genres from categories, not deemed
  as primary\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/FeatureReference\";}s:4:\"type\";s:5:\"array\";}s:8:\"headline\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Optional
  short description in plain text\";s:4:\"type\";s:6:\"string\";}s:8:\"homeTeam\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/FeatureReference\";s:11:\"description\";s:32:\"SportsTeam
  playing at home field\";}s:15:\"htmlDescription\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Full
  description with HTML formatting, where available\";s:4:\"type\";s:6:\"string\";}s:5:\"image\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/ImageMeta\";s:11:\"description\";s:13:\"Primary
  image\";}s:10:\"inLanguage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/FeatureReference\";s:11:\"description\";s:29:\"Primary
  language of the event\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Name
  of the event in plain text\";s:4:\"type\";s:6:\"string\";}s:6:\"noTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"Specific
  time of the event is unknown. (shown only when true)\";s:4:\"type\";s:7:\"boolean\";}s:6:\"offers\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Ticketing
  options\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/TicketOffer\";}s:4:\"type\";s:5:\"array\";}s:8:\"onDemand\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"This
  event can start at any time during specified window\";s:4:\"type\";s:7:\"boolean\";}s:9:\"performer\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"List
  of Personas significant for this event\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/FeatureReference\";}s:4:\"type\";s:5:\"array\";}s:5:\"photo\";O:8:\"stdClass\":3:{s:11:\"description\";s:13:\"Primary
  image\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/ImageMeta\";}s:4:\"type\";s:5:\"array\";}s:9:\"startDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Time
  when the event starts\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:10:\"superEvent\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/OccurrenceReference\";s:11:\"description\";s:55:\"Parent
  id, if this event is part of a series of a group\";}s:7:\"updated\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Timestamp
  of last modification (UTC)\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Primary
  url for published event\";s:4:\"type\";s:6:\"string\";}s:13:\"workPerformed\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Subject
  matter of the event\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/FeatureReference\";}s:4:\"type\";s:5:\"array\";}}}s:11:\"EventsQuery\";O:8:\"stdClass\":2:{s:11:\"description\";s:145:\"Specific
  filters understood and executed for this query. If your parameter is not visible
  here, then consult the documentation for correct usage.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"activity\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"required
  activity types\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:8:\"category\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"required
  categories\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:5:\"limit\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"maximum
  number of matches to return\";s:4:\"type\";s:7:\"integer\";}}}s:20:\"EventsSearchResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"events\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/EventOccurenceDetail\";}s:4:\"type\";s:5:\"array\";}s:5:\"query\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/EventsQuery\";}s:5:\"stats\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/SearchStatsMetaResult\";}}}s:16:\"FeatureReference\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Identifier
  for a Feature\";s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"@id\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Feature
  id\";s:4:\"type\";s:6:\"string\";}s:5:\"@type\";O:8:\"stdClass\":2:{s:11:\"description\";s:85:\"Type
  of specific feature or Taxonomy node such as EventCategory, SportsTeam, Persona.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Display
  name of the feature\";s:4:\"type\";s:6:\"string\";}}}s:13:\"GeoJsonObject\";O:8:\"stdClass\":1:{s:11:\"description\";s:30:\"Shape
  defined per GeoJSON spec\";}s:5:\"GeoPt\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"lat\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:3:\"lon\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}}s:9:\"ImageMeta\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Image
  meta data\";s:10:\"properties\";O:8:\"stdClass\":5:{s:3:\"@id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"caption\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"height\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"width\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:19:\"OccurrenceReference\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"@id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"startDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Time
  when the event starts\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}}s:11:\"PlaceDetail\";O:8:\"stdClass\":2:{s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/PlaceReference\";}}s:10:\"properties\";O:8:\"stdClass\":6:{s:8:\"ambience\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"expected
  mood and feel of the event\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/FeatureReference\";}s:4:\"type\";s:5:\"array\";}s:8:\"category\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Associated
  PlaceCategory. May be multiple (Tier 1)\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/FeatureReference\";}s:4:\"type\";s:5:\"array\";}s:7:\"contact\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ContactDetail\";}s:8:\"function\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"PlaceFunction.
  (Tier 2 taxonomy)\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/FeatureReference\";}s:4:\"type\";s:5:\"array\";}s:12:\"openingHours\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Timeframe\";}s:4:\"type\";s:5:\"array\";}s:5:\"photo\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/ImageMeta\";}s:4:\"type\";s:5:\"array\";}}}s:14:\"PlaceReference\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Unique
  Location\";s:10:\"properties\";O:8:\"stdClass\":9:{s:3:\"@id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"@type\";O:8:\"stdClass\":3:{s:11:\"description\";s:184:\"Type
  of place where Place is a physical address, LocalBusiness is any type of comercial
  property, AdministrativeArea is a political or colloquial area, and Virtual is out
  of this world\";s:4:\"enum\";a:8:{i:0;s:5:\"Place\";i:1;s:13:\"LocalBusiness\";i:2;s:18:\"AdministrativeArea\";i:3;s:17:\"TouristAttraction\";i:4;s:8:\"Landform\";i:5;s:30:\"LandmarksOrHistoricalBuildings\";i:6;s:9:\"Residence\";i:7;s:7:\"Virtual\";}s:4:\"type\";s:6:\"string\";}s:7:\"address\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Address\";s:11:\"description\";s:29:\"Address
  of the physical place\";}s:3:\"geo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/GeoPt\";}s:8:\"geometry\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/GeoJsonObject\";}s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/VirtualLocation\";s:11:\"description\";s:25:\"applies
  to Virtual places\";}s:4:\"logo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/ImageMeta\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"tag\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/FeatureReference\";}s:4:\"type\";s:5:\"array\";}}}s:11:\"PlacesQuery\";O:8:\"stdClass\":2:{s:11:\"description\";s:145:\"Specific
  filters understood and executed for this query. If your parameter is not visible
  here, then consult the documentation for correct usage.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"address\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Address\";s:11:\"description\";s:14:\"Address
  filter\";}s:8:\"category\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"required
  categories\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:5:\"limit\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"maximum
  number of matches to return\";s:4:\"type\";s:7:\"integer\";}}}s:20:\"PlacesSearchResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"places\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/PlaceDetail\";}s:4:\"type\";s:5:\"array\";}s:5:\"query\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/PlacesQuery\";}s:5:\"stats\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/SearchStatsMetaResult\";}}}s:21:\"SearchStatsMetaResult\";O:8:\"stdClass\":2:{s:11:\"description\";s:94:\"Shows
  invocation details about the query. Running query again, could produce different
  results\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"count\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Total
  matches for the query\";s:4:\"type\";s:7:\"integer\";}s:8:\"fieldset\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Specific
  fields returned by this query\";s:4:\"type\";s:6:\"string\";}s:7:\"runtime\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Server
  side run time in msec for this request\";s:4:\"type\";s:7:\"integer\";}}}s:11:\"TicketOffer\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":11:{s:12:\"availability\";O:8:\"stdClass\":2:{s:4:\"enum\";a:8:{i:0;s:12:\"Discontinued\";i:1;s:7:\"InStock\";i:2;s:11:\"InStoreOnly\";i:3;s:19:\"LimitedAvailability\";i:4;s:10:\"OnlineOnly\";i:5;s:10:\"OutOfStock\";i:6;s:8:\"PreOrder\";i:7;s:7:\"SoldOut\";}s:4:\"type\";s:6:\"string\";}s:8:\"category\";O:8:\"stdClass\":2:{s:4:\"enum\";a:6:{i:0;s:7:\"primary\";i:1;s:9:\"secondary\";i:2;s:7:\"presale\";i:3;s:6:\"member\";i:4;s:7:\"premium\";i:5;s:7:\"unknown\";}s:4:\"type\";s:6:\"string\";}s:8:\"donation\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:3:\"fee\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"highPrice\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:9:\"inventory\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"available\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"total\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"price\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:13:\"priceCurrency\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"priceUnknown\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:9:\"Timeframe\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"closes\";O:8:\"stdClass\":3:{s:11:\"description\";s:110:\"Close
  time for all days mentioned in the dayOfWeek. If close time is less than open, then
  it is following day.\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:9:\"dayOfWeek\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"ISO
  day of the week. 1- Monday, 7- Sunday\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"type\";s:5:\"array\";}s:7:\"open247\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Open
  around the clock\";s:4:\"type\";s:7:\"boolean\";}s:5:\"opens\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"Open
  time for all days mentioned in the dayOfWeek\";s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}}s:15:\"VirtualLocation\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Virtual
  Address\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"domain\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"platform\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}"
...
