---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":4:{s:7:\"version\";s:5:\"0.1.0\";s:5:\"title\";s:20:\"eBaoCloud
  LI OpenAPI\";s:14:\"termsOfService\";s:26:\"http://api.ebaocloud.life/\";s:7:\"contact\";O:8:\"stdClass\":1:{s:5:\"email\";s:24:\"liliang.zhu@ebaotech.com\";}}"
host: sandbox.singlife.ebaocloud.life
basePath: /eBao/1.0/
paths:
  /eBao/1.0/customers/corresponding/{customerId}:
    post:
      tags:
      - Party
      summary: paths['/eBao/1.0/customers/corresponding/{customerId}'].post.summary
      operationId: CustomerAlterationPOST
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: customerId
        in: path
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/CorrespondingInput'
      responses:
        200:
          description: paths['/eBao/1.0/customers/corresponding/{customerId}'].post.responses['200'].description
          schema:
            $ref: '#/definitions/CorrespondingResultInfo'
  /eBao/1.0/customers/{customerId}:
    get:
      tags:
      - Party
      summary: paths['/eBao/1.0/customers/{customerId}'].get.summary
      description: paths['/eBao/1.0/customers/{customerId}'].get.description
      operationId: CustomerInfoGET
      produces:
      - application/json
      parameters:
      - name: customerId
        in: path
        required: true
        type: string
      responses:
        200:
          description: paths['/eBao/1.0/customers/{customerId}'].get.responses['200'].description
          schema:
            $ref: '#/definitions/CustomerInfo'
  /eBao/1.0/policy/policies/{insurerCode}/search:
    post:
      tags:
      - Policy
      summary: paths['/eBao/1.0/policy/policies/{insurerCode}/search'].post.summary
      description: paths['/eBao/1.0/policy/policies/{insurerCode}/search'].post.description
      operationId: searchUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: insurerCode
        in: path
        description: paths['/eBao/1.0/policy/policies/{insurerCode}/search'].post.parameters['0'].description
        required: true
        type: string
      - name: X-ebao-tenant-id
        in: header
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/PageablePolicyCriteria'
      responses:
        200:
          description: paths['/eBao/1.0/policy/policies/{insurerCode}/search'].post.responses['200'].description
          schema:
            type: array
            items:
              $ref: '#/definitions/PolicySummaryInfo'
        201:
          description: paths['/eBao/1.0/policy/policies/{insurerCode}/search'].post.responses['201'].description
        400:
          description: paths['/eBao/1.0/policy/policies/{insurerCode}/search'].post.responses['400'].description
        401:
          description: paths['/eBao/1.0/policy/policies/{insurerCode}/search'].post.responses['401'].description
        403:
          description: paths['/eBao/1.0/policy/policies/{insurerCode}/search'].post.responses['403'].description
        404:
          description: paths['/eBao/1.0/policy/policies/{insurerCode}/search'].post.responses['404'].description
        500:
          description: paths['/eBao/1.0/policy/policies/{insurerCode}/search'].post.responses['500'].description
  /eBao/1.0/policy/policies/{insurerCode}/{policyNumber}:
    get:
      tags:
      - Policy
      summary: paths['/eBao/1.0/policy/policies/{insurerCode}/{policyNumber}'].get.summary
      description: paths['/eBao/1.0/policy/policies/{insurerCode}/{policyNumber}'].get.description
      operationId: getUsingGET
      produces:
      - '*/*'
      parameters:
      - name: insurerCode
        in: path
        description: paths['/eBao/1.0/policy/policies/{insurerCode}/{policyNumber}'].get.parameters['0'].description
        required: true
        type: string
      - name: policyNumber
        in: path
        description: paths['/eBao/1.0/policy/policies/{insurerCode}/{policyNumber}'].get.parameters['1'].description
        required: true
        type: string
      - name: X-ebao-tenant-id
        in: header
        required: true
        type: string
      responses:
        200:
          description: paths['/eBao/1.0/policy/policies/{insurerCode}/{policyNumber}'].get.responses['200'].description
          schema:
            $ref: '#/definitions/PolicyInfo'
        400:
          description: paths['/eBao/1.0/policy/policies/{insurerCode}/{policyNumber}'].get.responses['400'].description
        401:
          description: paths['/eBao/1.0/policy/policies/{insurerCode}/{policyNumber}'].get.responses['401'].description
        403:
          description: paths['/eBao/1.0/policy/policies/{insurerCode}/{policyNumber}'].get.responses['403'].description
        404:
          description: paths['/eBao/1.0/policy/policies/{insurerCode}/{policyNumber}'].get.responses['404'].description
        500:
          description: paths['/eBao/1.0/policy/policies/{insurerCode}/{policyNumber}'].get.responses['500'].description
produces: []
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":68:{s:22:\"PageablePolicyCriteria\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:13:\"applyDateFrom\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:71:\"definitions.PageablePolicyCriteria.properties.applyDateFrom.description\";}s:11:\"applyDateTo\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:69:\"definitions.PageablePolicyCriteria.properties.applyDateTo.description\";}s:9:\"certiCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:67:\"definitions.PageablePolicyCriteria.properties.certiCode.description\";}s:17:\"masterProductCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:75:\"definitions.PageablePolicyCriteria.properties.masterProductCode.description\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:62:\"definitions.PageablePolicyCriteria.properties.name.description\";}s:4:\"page\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:62:\"definitions.PageablePolicyCriteria.properties.page.description\";}s:12:\"policyNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:70:\"definitions.PageablePolicyCriteria.properties.policyNumber.description\";}s:14:\"proposalNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:72:\"definitions.PageablePolicyCriteria.properties.proposalNumber.description\";}s:13:\"quotationCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:71:\"definitions.PageablePolicyCriteria.properties.quotationCode.description\";}s:4:\"size\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:62:\"definitions.PageablePolicyCriteria.properties.size.description\";}}}s:17:\"PolicySummaryInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":14:{s:13:\"quotationCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:66:\"definitions.PolicySummaryInfo.properties.quotationCode.description\";}s:12:\"policyNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:65:\"definitions.PolicySummaryInfo.properties.policyNumber.description\";}s:14:\"proposalNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:67:\"definitions.PolicySummaryInfo.properties.proposalNumber.description\";}s:9:\"applyDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:62:\"definitions.PolicySummaryInfo.properties.applyDate.description\";}s:13:\"inceptionDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:66:\"definitions.PolicySummaryInfo.properties.inceptionDate.description\";}s:9:\"issueDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:62:\"definitions.PolicySummaryInfo.properties.issueDate.description\";}s:10:\"expiryDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:63:\"definitions.PolicySummaryInfo.properties.expiryDate.description\";}s:16:\"policyHolderName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:69:\"definitions.PolicySummaryInfo.properties.policyHolderName.description\";}s:15:\"mainInsuredName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:68:\"definitions.PolicySummaryInfo.properties.mainInsuredName.description\";}s:17:\"masterProductCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:70:\"definitions.PolicySummaryInfo.properties.masterProductCode.description\";}s:17:\"masterProductName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:70:\"definitions.PolicySummaryInfo.properties.masterProductName.description\";}s:11:\"installPrem\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:64:\"definitions.PolicySummaryInfo.properties.installPrem.description\";}s:14:\"proposalStatus\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:67:\"definitions.PolicySummaryInfo.properties.proposalStatus.description\";}s:10:\"riskStatus\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:63:\"definitions.PolicySummaryInfo.properties.riskStatus.description\";}}}s:10:\"PolicyInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":28:{s:10:\"policyType\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:56:\"definitions.PolicyInfo.properties.policyType.description\";}s:10:\"riskStatus\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:56:\"definitions.PolicyInfo.properties.riskStatus.description\";}s:9:\"applyDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:55:\"definitions.PolicyInfo.properties.applyDate.description\";}s:9:\"issueDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:55:\"definitions.PolicyInfo.properties.issueDate.description\";}s:11:\"installPrem\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:57:\"definitions.PolicyInfo.properties.installPrem.description\";}s:8:\"currency\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:54:\"definitions.PolicyInfo.properties.currency.description\";}s:18:\"ePolicyDownloadUrl\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:64:\"definitions.PolicyInfo.properties.ePolicyDownloadUrl.description\";}s:19:\"groupProposalNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:65:\"definitions.PolicyInfo.properties.groupProposalNumber.description\";}s:13:\"inceptionDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:59:\"definitions.PolicyInfo.properties.inceptionDate.description\";}s:10:\"expiryDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:56:\"definitions.PolicyInfo.properties.expiryDate.description\";}s:14:\"proposalNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:60:\"definitions.PolicyInfo.properties.proposalNumber.description\";}s:11:\"deliverType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"definitions.PolicyInfo.properties.deliverType.description\";}s:12:\"policyNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:58:\"definitions.PolicyInfo.properties.policyNumber.description\";}s:13:\"quotationCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:59:\"definitions.PolicyInfo.properties.quotationCode.description\";}s:14:\"submissionDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:60:\"definitions.PolicyInfo.properties.submissionDate.description\";}s:16:\"serviceAgentCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:62:\"definitions.PolicyInfo.properties.serviceAgentCode.description\";}s:16:\"salesChannelCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:62:\"definitions.PolicyInfo.properties.salesChannelCode.description\";}s:24:\"preprintedProposalNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:70:\"definitions.PolicyInfo.properties.preprintedProposalNumber.description\";}s:12:\"proposalInfo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/PolicyProposalInfo\";}s:13:\"policyPackage\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/PolicyPackageInfo\";}s:9:\"coverages\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:55:\"definitions.PolicyInfo.properties.coverages.description\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/CoverageInfo\";}}s:12:\"policyHolder\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/PolicyHolderInfo\";}s:8:\"insureds\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:54:\"definitions.PolicyInfo.properties.insureds.description\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/InsuredInfo\";}}s:13:\"beneficiaries\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:59:\"definitions.PolicyInfo.properties.beneficiaries.description\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/BeneficiaryInfo\";}}s:13:\"payerAccounts\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:59:\"definitions.PolicyInfo.properties.payerAccounts.description\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/PayerAccountInfo\";}}s:12:\"declarations\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:58:\"definitions.PolicyInfo.properties.declarations.description\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/CustomerDeclarationInfo\";}}s:17:\"agentDeclarations\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:63:\"definitions.PolicyInfo.properties.agentDeclarations.description\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/AgentDeclarationInfo\";}}s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"definitions.PolicyInfo.properties.extendedProps.description\";s:4:\"$ref\";s:38:\"#/definitions/PolicyInfo_ExtendedProps\";}}}s:18:\"PolicyProposalInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"proposalStatus\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:68:\"definitions.PolicyProposalInfo.properties.proposalStatus.description\";}}}s:17:\"PolicyPackageInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"packageCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:64:\"definitions.PolicyPackageInfo.properties.packageCode.description\";}s:4:\"unit\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:57:\"definitions.PolicyPackageInfo.properties.unit.description\";}}}s:12:\"CoverageInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":16:{s:12:\"chargePeriod\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:60:\"definitions.CoverageInfo.properties.chargePeriod.description\";}s:10:\"chargeYear\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:58:\"definitions.CoverageInfo.properties.chargeYear.description\";}s:14:\"coveragePeriod\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:62:\"definitions.CoverageInfo.properties.coveragePeriod.description\";}s:12:\"coverageYear\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:60:\"definitions.CoverageInfo.properties.coverageYear.description\";}s:14:\"currentPremium\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/CoveragePremium\";}s:11:\"productCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:59:\"definitions.CoverageInfo.properties.productCode.description\";}s:17:\"masterProductCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:65:\"definitions.CoverageInfo.properties.masterProductCode.description\";}s:9:\"waiverExt\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/CoverageExtWaiver\";}s:11:\"nextPremium\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/CoveragePremium\";}s:14:\"coverageAgents\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:62:\"definitions.CoverageInfo.properties.coverageAgents.description\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/CoverageAgentInfo\";}}s:8:\"payPlans\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:56:\"definitions.CoverageInfo.properties.payPlans.description\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/PayPlanInfo\";}}s:8:\"insureds\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:56:\"definitions.CoverageInfo.properties.insureds.description\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/CoverageInsuredInfo\";}}s:15:\"premInvestRates\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:63:\"definitions.CoverageInfo.properties.premInvestRates.description\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/PremInvestRateInfo\";}}s:14:\"recurringTopup\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/RecurringTopupInfo\";}s:15:\"contractInvests\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:63:\"definitions.CoverageInfo.properties.contractInvests.description\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ContractInvestInfo\";}}s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"definitions.CoverageInfo.properties.extendedProps.description\";s:4:\"$ref\";s:40:\"#/definitions/CoverageInfo_ExtendedProps\";}}}s:15:\"CoveragePremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"benefitLevel\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:63:\"definitions.CoveragePremium.properties.benefitLevel.description\";}s:11:\"paymentFreq\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:62:\"definitions.CoveragePremium.properties.paymentFreq.description\";}s:10:\"sumAssured\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:61:\"definitions.CoveragePremium.properties.sumAssured.description\";}s:7:\"premium\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:58:\"definitions.CoveragePremium.properties.premium.description\";}s:4:\"unit\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:55:\"definitions.CoveragePremium.properties.unit.description\";}}}s:17:\"CoverageExtWaiver\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"waivedSa\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:61:\"definitions.CoverageExtWaiver.properties.waivedSa.description\";}s:6:\"waiver\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:59:\"definitions.CoverageExtWaiver.properties.waiver.description\";}}}s:11:\"PayPlanInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:9:\"endPeriod\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:56:\"definitions.PayPlanInfo.properties.endPeriod.description\";}s:7:\"endYear\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:54:\"definitions.PayPlanInfo.properties.endYear.description\";}s:11:\"gurntPeriod\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:58:\"definitions.PayPlanInfo.properties.gurntPeriod.description\";}s:9:\"payOption\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:56:\"definitions.PayPlanInfo.properties.payOption.description\";}s:13:\"payOptionTerm\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:60:\"definitions.PayPlanInfo.properties.payOptionTerm.description\";}s:9:\"payPeriod\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:56:\"definitions.PayPlanInfo.properties.payPeriod.description\";}s:7:\"payYear\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:54:\"definitions.PayPlanInfo.properties.payYear.description\";}s:8:\"planFreq\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:55:\"definitions.PayPlanInfo.properties.planFreq.description\";}s:8:\"planType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:55:\"definitions.PayPlanInfo.properties.planType.description\";}s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"definitions.PayPlanInfo.properties.extendedProps.description\";s:4:\"$ref\";s:39:\"#/definitions/PayPlanInfo_ExtendedProps\";}}}s:19:\"CoverageInsuredInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:14:\"insuredPartyId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:69:\"definitions.CoverageInsuredInfo.properties.insuredPartyId.description\";}s:7:\"orderId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:62:\"definitions.CoverageInsuredInfo.properties.orderId.description\";}s:15:\"occupationClass\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:70:\"definitions.CoverageInsuredInfo.properties.occupationClass.description\";}s:3:\"age\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:58:\"definitions.CoverageInsuredInfo.properties.age.description\";}s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"definitions.CoverageInsuredInfo.properties.extendedProps.description\";s:4:\"$ref\";s:47:\"#/definitions/CoverageInsuredInfo_ExtendedProps\";}}}s:18:\"PremInvestRateInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"fundCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:62:\"definitions.PremInvestRateInfo.properties.fundCode.description\";}s:10:\"assignRate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:64:\"definitions.PremInvestRateInfo.properties.assignRate.description\";}s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"definitions.PremInvestRateInfo.properties.extendedProps.description\";s:4:\"$ref\";s:46:\"#/definitions/PremInvestRateInfo_ExtendedProps\";}}}s:18:\"RecurringTopupInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"investRates\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:65:\"definitions.RecurringTopupInfo.properties.investRates.description\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/RecurringTopupInvestRateInfo\";}}s:14:\"topupStartDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:68:\"definitions.RecurringTopupInfo.properties.topupStartDate.description\";}s:11:\"topupAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:65:\"definitions.RecurringTopupInfo.properties.topupAmount.description\";}s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"definitions.RecurringTopupInfo.properties.extendedProps.description\";s:4:\"$ref\";s:46:\"#/definitions/RecurringTopupInfo_ExtendedProps\";}}}s:28:\"RecurringTopupInvestRateInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"fundCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:72:\"definitions.RecurringTopupInvestRateInfo.properties.fundCode.description\";}s:10:\"assignRate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:74:\"definitions.RecurringTopupInvestRateInfo.properties.assignRate.description\";}s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"definitions.RecurringTopupInvestRateInfo.properties.extendedProps.description\";s:4:\"$ref\";s:56:\"#/definitions/RecurringTopupInvestRateInfo_ExtendedProps\";}}}s:18:\"ContractInvestInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"fundCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:62:\"definitions.ContractInvestInfo.properties.fundCode.description\";}s:10:\"accumUnits\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:64:\"definitions.ContractInvestInfo.properties.accumUnits.description\";}s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"definitions.ContractInvestInfo.properties.extendedProps.description\";s:4:\"$ref\";s:46:\"#/definitions/ContractInvestInfo_ExtendedProps\";}}}s:17:\"CoverageAgentInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"agentCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:62:\"definitions.CoverageAgentInfo.properties.agentCode.description\";}s:10:\"assignRate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:63:\"definitions.CoverageAgentInfo.properties.assignRate.description\";}s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"definitions.CoverageAgentInfo.properties.extendedProps.description\";s:4:\"$ref\";s:45:\"#/definitions/CoverageAgentInfo_ExtendedProps\";}}}s:16:\"PolicyHolderInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"partyId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:59:\"definitions.PolicyHolderInfo.properties.partyId.description\";}s:14:\"policyCustomer\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/PolicyCustomerInfo\";}s:12:\"relationToLA\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:64:\"definitions.PolicyHolderInfo.properties.relationToLA.description\";}s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"definitions.PolicyHolderInfo.properties.extendedProps.description\";s:4:\"$ref\";s:44:\"#/definitions/PolicyHolderInfo_ExtendedProps\";}}}s:18:\"PolicyCustomerInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"address\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/AddressInfo\";}s:9:\"partyType\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:63:\"definitions.PolicyCustomerInfo.properties.partyType.description\";}s:6:\"person\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Person\";}s:12:\"organization\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/Organization\";}s:12:\"partyContact\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/PartyContact\";}s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"definitions.PolicyCustomerInfo.properties.extendedProps.description\";s:4:\"$ref\";s:46:\"#/definitions/PolicyCustomerInfo_ExtendedProps\";}}}s:11:\"InsuredInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:7:\"partyId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:54:\"definitions.InsuredInfo.properties.partyId.description\";}s:14:\"policyCustomer\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/PolicyCustomerInfo\";}s:12:\"relationToPH\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:59:\"definitions.InsuredInfo.properties.relationToPH.description\";}s:15:\"medicalExamIndi\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:62:\"definitions.InsuredInfo.properties.medicalExamIndi.description\";}s:11:\"medicalIndi\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:58:\"definitions.InsuredInfo.properties.medicalIndi.description\";}s:18:\"socialSecurityIndi\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:65:\"definitions.InsuredInfo.properties.socialSecurityIndi.description\";}s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"definitions.InsuredInfo.properties.extendedProps.description\";s:4:\"$ref\";s:39:\"#/definitions/InsuredInfo_ExtendedProps\";}}}s:15:\"BeneficiaryInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:7:\"partyId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:58:\"definitions.BeneficiaryInfo.properties.partyId.description\";}s:14:\"policyCustomer\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"definitions.BeneficiaryInfo.properties.policyCustomer.description\";s:4:\"$ref\";s:32:\"#/definitions/PolicyCustomerInfo\";}s:14:\"insuredPartyId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:65:\"definitions.BeneficiaryInfo.properties.insuredPartyId.description\";}s:8:\"beneType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:59:\"definitions.BeneficiaryInfo.properties.beneType.description\";}s:11:\"designation\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:62:\"definitions.BeneficiaryInfo.properties.designation.description\";}s:10:\"shareOrder\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:61:\"definitions.BeneficiaryInfo.properties.shareOrder.description\";}s:9:\"shareRate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:60:\"definitions.BeneficiaryInfo.properties.shareRate.description\";}s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"definitions.BeneficiaryInfo.properties.extendedProps.description\";s:4:\"$ref\";s:43:\"#/definitions/BeneficiaryInfo_ExtendedProps\";}}}s:16:\"PayerAccountInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:13:\"paymentMethod\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:65:\"definitions.PayerAccountInfo.properties.paymentMethod.description\";}s:17:\"paymentMethodNext\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:69:\"definitions.PayerAccountInfo.properties.paymentMethodNext.description\";}s:11:\"bankAccount\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/BankAccountInfo\";}s:15:\"nextBankAccount\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/BankAccountInfo\";}s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"definitions.PayerAccountInfo.properties.extendedProps.description\";s:4:\"$ref\";s:44:\"#/definitions/PayerAccountInfo_ExtendedProps\";}}}s:23:\"CustomerDeclarationInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"partyId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:66:\"definitions.CustomerDeclarationInfo.properties.partyId.description\";}s:15:\"declarationDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:74:\"definitions.CustomerDeclarationInfo.properties.declarationDate.description\";}s:7:\"details\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:66:\"definitions.CustomerDeclarationInfo.properties.details.description\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/CustomerDeclarationDetailInfo\";}}s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"definitions.CustomerDeclarationInfo.properties.extendedProps.description\";s:4:\"$ref\";s:51:\"#/definitions/CustomerDeclarationInfo_ExtendedProps\";}}}s:29:\"CustomerDeclarationDetailInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:6:\"declId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:71:\"definitions.CustomerDeclarationDetailInfo.properties.declId.description\";}s:5:\"fill1\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:70:\"definitions.CustomerDeclarationDetailInfo.properties.fill1.description\";}s:5:\"fill2\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:70:\"definitions.CustomerDeclarationDetailInfo.properties.fill2.description\";}s:5:\"fill3\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:70:\"definitions.CustomerDeclarationDetailInfo.properties.fill3.description\";}s:5:\"fill4\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:70:\"definitions.CustomerDeclarationDetailInfo.properties.fill4.description\";}s:5:\"fill5\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:70:\"definitions.CustomerDeclarationDetailInfo.properties.fill5.description\";}s:5:\"fill6\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:70:\"definitions.CustomerDeclarationDetailInfo.properties.fill6.description\";}s:5:\"fill7\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:70:\"definitions.CustomerDeclarationDetailInfo.properties.fill7.description\";}s:5:\"fill8\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:70:\"definitions.CustomerDeclarationDetailInfo.properties.fill8.description\";}s:5:\"fill9\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:70:\"definitions.CustomerDeclarationDetailInfo.properties.fill9.description\";}s:6:\"fill10\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:71:\"definitions.CustomerDeclarationDetailInfo.properties.fill10.description\";}s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"definitions.CustomerDeclarationDetailInfo.properties.extendedProps.description\";s:4:\"$ref\";s:57:\"#/definitions/CustomerDeclarationDetailInfo_ExtendedProps\";}}}s:20:\"AgentDeclarationInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":13:{s:9:\"agentCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:65:\"definitions.AgentDeclarationInfo.properties.agentCode.description\";}s:8:\"declCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:64:\"definitions.AgentDeclarationInfo.properties.declCode.description\";}s:5:\"fill1\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:61:\"definitions.AgentDeclarationInfo.properties.fill1.description\";}s:5:\"fill2\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:61:\"definitions.AgentDeclarationInfo.properties.fill2.description\";}s:5:\"fill3\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:61:\"definitions.AgentDeclarationInfo.properties.fill3.description\";}s:5:\"fill4\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:61:\"definitions.AgentDeclarationInfo.properties.fill4.description\";}s:5:\"fill5\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:61:\"definitions.AgentDeclarationInfo.properties.fill5.description\";}s:5:\"fill6\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:61:\"definitions.AgentDeclarationInfo.properties.fill6.description\";}s:5:\"fill7\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:61:\"definitions.AgentDeclarationInfo.properties.fill7.description\";}s:5:\"fill8\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:61:\"definitions.AgentDeclarationInfo.properties.fill8.description\";}s:5:\"fill9\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:61:\"definitions.AgentDeclarationInfo.properties.fill9.description\";}s:6:\"fill10\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:62:\"definitions.AgentDeclarationInfo.properties.fill10.description\";}s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"definitions.AgentDeclarationInfo.properties.extendedProps.description\";s:4:\"$ref\";s:48:\"#/definitions/AgentDeclarationInfo_ExtendedProps\";}}}s:12:\"ContactInput\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:5:\"email\";i:1;s:6:\"mobile\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:53:\"definitions.ContactInput.properties.email.description\";}s:6:\"mobile\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:54:\"definitions.ContactInput.properties.mobile.description\";}}}s:6:\"Person\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":18:{s:6:\"gender\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:48:\"definitions.Person.properties.gender.description\";}s:9:\"birthdate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:51:\"definitions.Person.properties.birthdate.description\";}s:9:\"certiType\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:51:\"definitions.Person.properties.certiType.description\";}s:9:\"certiCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:51:\"definitions.Person.properties.certiCode.description\";}s:10:\"certiStart\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:52:\"definitions.Person.properties.certiStart.description\";}s:8:\"certiEnd\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:50:\"definitions.Person.properties.certiEnd.description\";}s:9:\"firstName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:51:\"definitions.Person.properties.firstName.description\";}s:7:\"midName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:49:\"definitions.Person.properties.midName.description\";}s:8:\"lastName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:50:\"definitions.Person.properties.lastName.description\";}s:11:\"nationality\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:53:\"definitions.Person.properties.nationality.description\";}s:17:\"preferredLifeIndi\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:59:\"definitions.Person.properties.preferredLifeIndi.description\";}s:7:\"smoking\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:49:\"definitions.Person.properties.smoking.description\";}s:14:\"occupationCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:56:\"definitions.Person.properties.occupationCode.description\";}s:6:\"income\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:48:\"definitions.Person.properties.income.description\";}s:14:\"marriageStatus\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:56:\"definitions.Person.properties.marriageStatus.description\";}s:6:\"height\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:48:\"definitions.Person.properties.height.description\";}s:6:\"weight\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:48:\"definitions.Person.properties.weight.description\";}s:10:\"salutation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:52:\"definitions.Person.properties.salutation.description\";}}}s:15:\"BankAccountInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":11:{s:10:\"branchCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:61:\"definitions.BankAccountInfo.properties.branchCode.description\";}s:8:\"bankCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:59:\"definitions.BankAccountInfo.properties.bankCode.description\";}s:19:\"bankAccountProvince\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:70:\"definitions.BankAccountInfo.properties.bankAccountProvince.description\";}s:15:\"bankAccountCity\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:66:\"definitions.BankAccountInfo.properties.bankAccountCity.description\";}s:13:\"issueBankName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:64:\"definitions.BankAccountInfo.properties.issueBankName.description\";}s:11:\"bankAccount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:62:\"definitions.BankAccountInfo.properties.bankAccount.description\";}s:8:\"accoName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:59:\"definitions.BankAccountInfo.properties.accoName.description\";}s:11:\"accountType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:62:\"definitions.BankAccountInfo.properties.accountType.description\";}s:15:\"debitCreditType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:66:\"definitions.BankAccountInfo.properties.debitCreditType.description\";}s:14:\"creditCardType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:65:\"definitions.BankAccountInfo.properties.creditCardType.description\";}s:10:\"expireDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:61:\"definitions.BankAccountInfo.properties.expireDate.description\";}}}s:12:\"PartyContact\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:7:\"homeTel\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:55:\"definitions.PartyContact.properties.homeTel.description\";}s:9:\"mobileTel\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"definitions.PartyContact.properties.mobileTel.description\";}s:9:\"officeTel\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"definitions.PartyContact.properties.officeTel.description\";}s:12:\"officeTelExt\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:60:\"definitions.PartyContact.properties.officeTelExt.description\";}s:5:\"email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:53:\"definitions.PartyContact.properties.email.description\";}s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:55:\"definitions.PartyContact.properties.contact.description\";}s:10:\"contactTel\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:58:\"definitions.PartyContact.properties.contactTel.description\";}s:3:\"fax\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:51:\"definitions.PartyContact.properties.fax.description\";}}}s:11:\"AddressInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"address1\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:55:\"definitions.AddressInfo.properties.address1.description\";}s:8:\"address2\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:55:\"definitions.AddressInfo.properties.address2.description\";}s:8:\"address3\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:55:\"definitions.AddressInfo.properties.address3.description\";}s:8:\"address4\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:55:\"definitions.AddressInfo.properties.address4.description\";}s:8:\"postCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:55:\"definitions.AddressInfo.properties.postCode.description\";}}}s:12:\"Organization\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"registerType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:60:\"definitions.Organization.properties.registerType.description\";}s:12:\"registerCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:60:\"definitions.Organization.properties.registerCode.description\";}s:11:\"countryCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:59:\"definitions.Organization.properties.countryCode.description\";}s:11:\"companyName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:59:\"definitions.Organization.properties.companyName.description\";}s:9:\"organCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"definitions.Organization.properties.organCode.description\";}}}s:12:\"CustomerInfo\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:14:\"CustomerDetail\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"CustomerDetail\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Person\";}s:11:\"AddressInfo\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:59:\"definitions.CustomerInfo.properties.AddressInfo.description\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/CustomerInfo_AddressInfo\";}}s:11:\"ContactInfo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/PartyContact\";}}s:11:\"description\";s:36:\"definitions.CustomerInfo.description\";}s:18:\"CorrespondingInput\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:15:\"clientRequestId\";i:1;s:17:\"clientRequestTime\";i:2;s:13:\"effectiveDate\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:15:\"clientRequestId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:69:\"definitions.CorrespondingInput.properties.clientRequestId.description\";}s:17:\"clientRequestTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:71:\"definitions.CorrespondingInput.properties.clientRequestTime.description\";}s:13:\"effectiveDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:67:\"definitions.CorrespondingInput.properties.effectiveDate.description\";}s:11:\"AddressInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/AddressInfo\";}}s:11:\"ContactInfo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/PartyContact\";}}}s:23:\"CorrespondingResultInfo\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:4:{i:0;s:15:\"clientRequestId\";i:1;s:17:\"clientRequestTime\";i:2;s:10:\"customerId\";i:3;s:13:\"effectiveDate\";}s:10:\"properties\";O:8:\"stdClass\":8:{s:15:\"clientRequestId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:74:\"definitions.CorrespondingResultInfo.properties.clientRequestId.description\";}s:17:\"clientRequestTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:76:\"definitions.CorrespondingResultInfo.properties.clientRequestTime.description\";}s:13:\"effectiveDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:72:\"definitions.CorrespondingResultInfo.properties.effectiveDate.description\";}s:10:\"customerId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:69:\"definitions.CorrespondingResultInfo.properties.customerId.description\";}s:11:\"AddressInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/AddressInfo\";}}s:11:\"ContactInfo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/PartyContact\";}s:13:\"RelatedPolicy\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:72:\"definitions.CorrespondingResultInfo.properties.RelatedPolicy.description\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:6:\"result\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:65:\"definitions.CorrespondingResultInfo.properties.result.description\";}}}s:19:\"CreateCustomerInput\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:15:\"clientRequestId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:70:\"definitions.CreateCustomerInput.properties.clientRequestId.description\";}s:17:\"clientRequestTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:72:\"definitions.CreateCustomerInput.properties.clientRequestTime.description\";}s:13:\"effectiveDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:68:\"definitions.CreateCustomerInput.properties.effectiveDate.description\";}s:12:\"CustomerInfo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/CustomerInfo\";}}}s:24:\"CreateCustomerResultInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:15:\"clientRequestId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:75:\"definitions.CreateCustomerResultInfo.properties.clientRequestId.description\";}s:17:\"clientRequestTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:77:\"definitions.CreateCustomerResultInfo.properties.clientRequestTime.description\";}s:13:\"effectiveDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:73:\"definitions.CreateCustomerResultInfo.properties.effectiveDate.description\";}s:12:\"CustomerInfo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/CustomerInfo\";}s:6:\"result\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:66:\"definitions.CreateCustomerResultInfo.properties.result.description\";}}}s:15:\"RegisterRequest\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:6:{i:0;s:9:\"claimType\";i:1;s:8:\"claimant\";i:2;s:5:\"event\";i:3;s:7:\"insured\";i:4;s:8:\"policyNo\";i:5;s:17:\"relationToInsured\";}s:10:\"properties\";O:8:\"stdClass\":8:{s:15:\"clientRequestId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:66:\"definitions.RegisterRequest.properties.clientRequestId.description\";}s:17:\"clientRequestTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:68:\"definitions.RegisterRequest.properties.clientRequestTime.description\";}s:8:\"policyNo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:59:\"definitions.RegisterRequest.properties.policyNo.description\";}s:8:\"claimant\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ClaimantInput\";}s:7:\"insured\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/InsuredInput\";}s:17:\"relationToInsured\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:68:\"definitions.RegisterRequest.properties.relationToInsured.description\";}s:5:\"event\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ClaimEventInput\";}s:9:\"claimType\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:60:\"definitions.RegisterRequest.properties.claimType.description\";}}}s:16:\"RegisterResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:11:\"claimCaseNo\";}s:10:\"properties\";O:8:\"stdClass\":6:{s:15:\"clientRequestId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:67:\"definitions.RegisterResponse.properties.clientRequestId.description\";}s:17:\"clientRequestTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:69:\"definitions.RegisterResponse.properties.clientRequestTime.description\";}s:6:\"result\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:58:\"definitions.RegisterResponse.properties.result.description\";}s:8:\"messages\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:60:\"definitions.RegisterResponse.properties.messages.description\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/GenericValidationResult\";}}s:10:\"exceptions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:62:\"definitions.RegisterResponse.properties.exceptions.description\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"claimCaseNo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:63:\"definitions.RegisterResponse.properties.claimCaseNo.description\";}}}s:13:\"ClaimantInput\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:12:\"partyContact\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:53:\"definitions.ClaimantInput.properties.name.description\";}s:12:\"partyContact\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ContactInput\";}}}s:15:\"ClaimEventInput\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:11:\"eventDetail\";i:1;s:11:\"eventNature\";i:2;s:9:\"eventTime\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"reportType\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:61:\"definitions.ClaimEventInput.properties.reportType.description\";}s:11:\"eventNature\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:62:\"definitions.ClaimEventInput.properties.eventNature.description\";}s:9:\"eventTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:60:\"definitions.ClaimEventInput.properties.eventTime.description\";}s:11:\"eventDetail\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:62:\"definitions.ClaimEventInput.properties.eventDetail.description\";}}}s:12:\"InsuredInput\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:4:{i:0;s:9:\"certiCode\";i:1;s:9:\"certiType\";i:2;s:6:\"gender\";i:3;s:4:\"name\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:52:\"definitions.InsuredInput.properties.name.description\";}s:6:\"gender\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:54:\"definitions.InsuredInput.properties.gender.description\";}s:9:\"certiType\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:57:\"definitions.InsuredInput.properties.certiType.description\";}s:9:\"certiCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"definitions.InsuredInput.properties.certiCode.description\";}}}s:26:\"PolicyAlterationResultInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:8:\"changeId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:70:\"definitions.PolicyAlterationResultInfo.properties.changeId.description\";}s:15:\"clientRequestId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:77:\"definitions.PolicyAlterationResultInfo.properties.clientRequestId.description\";}s:17:\"clientRequestTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:79:\"definitions.PolicyAlterationResultInfo.properties.clientRequestTime.description\";}s:10:\"exceptions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:72:\"definitions.PolicyAlterationResultInfo.properties.exceptions.description\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:10:\"finishTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:72:\"definitions.PolicyAlterationResultInfo.properties.finishTime.description\";}s:11:\"itemResults\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:73:\"definitions.PolicyAlterationResultInfo.properties.itemResults.description\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/AlterationItemResultInfo\";}}s:6:\"result\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:68:\"definitions.PolicyAlterationResultInfo.properties.result.description\";}}}s:24:\"AlterationItemResultInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:13:\"effectiveDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:73:\"definitions.AlterationItemResultInfo.properties.effectiveDate.description\";}s:18:\"freelookResultInfo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/FreelookResultInfo\";}s:7:\"orderId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:67:\"definitions.AlterationItemResultInfo.properties.orderId.description\";}s:11:\"policyChgId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:71:\"definitions.AlterationItemResultInfo.properties.policyChgId.description\";}s:8:\"policyId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:68:\"definitions.AlterationItemResultInfo.properties.policyId.description\";}s:9:\"serviceId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:69:\"definitions.AlterationItemResultInfo.properties.serviceId.description\";}s:14:\"submissionDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:74:\"definitions.AlterationItemResultInfo.properties.submissionDate.description\";}}}s:21:\"PolicyAlterationInput\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"clientRequestId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:72:\"definitions.PolicyAlterationInput.properties.clientRequestId.description\";}s:17:\"clientRequestTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:74:\"definitions.PolicyAlterationInput.properties.clientRequestTime.description\";}s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:62:\"definitions.PolicyAlterationInput.properties.items.description\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/AlterationItemInput\";}}}}s:19:\"AlterationItemInput\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:13:\"effectiveDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:68:\"definitions.AlterationItemInput.properties.effectiveDate.description\";}s:13:\"freelookInput\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/FreelookInput\";}s:7:\"orderId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:62:\"definitions.AlterationItemInput.properties.orderId.description\";}s:11:\"policyChgId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:66:\"definitions.AlterationItemInput.properties.policyChgId.description\";}s:8:\"policyId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:63:\"definitions.AlterationItemInput.properties.policyId.description\";}s:9:\"serviceId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:64:\"definitions.AlterationItemInput.properties.serviceId.description\";}s:14:\"submissionDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:69:\"definitions.AlterationItemInput.properties.submissionDate.description\";}}}s:24:\"AlterationQuotationInput\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:15:\"clientRequestId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:75:\"definitions.AlterationQuotationInput.properties.clientRequestId.description\";}s:17:\"clientRequestTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:77:\"definitions.AlterationQuotationInput.properties.clientRequestTime.description\";}s:13:\"effectiveDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:73:\"definitions.AlterationQuotationInput.properties.effectiveDate.description\";}s:13:\"freelookInput\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/FreelookInput\";}s:8:\"policyId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:68:\"definitions.AlterationQuotationInput.properties.policyId.description\";}s:9:\"serviceId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:69:\"definitions.AlterationQuotationInput.properties.serviceId.description\";}s:14:\"submissionDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:74:\"definitions.AlterationQuotationInput.properties.submissionDate.description\";}}}s:29:\"AlterationQuotationResultInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:15:\"clientRequestId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:80:\"definitions.AlterationQuotationResultInfo.properties.clientRequestId.description\";}s:17:\"clientRequestTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:82:\"definitions.AlterationQuotationResultInfo.properties.clientRequestTime.description\";}s:13:\"effectiveDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:78:\"definitions.AlterationQuotationResultInfo.properties.effectiveDate.description\";}s:10:\"exceptions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:75:\"definitions.AlterationQuotationResultInfo.properties.exceptions.description\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"policyId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:73:\"definitions.AlterationQuotationResultInfo.properties.policyId.description\";}s:18:\"freelookResultInfo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/FreelookResultInfo\";}s:6:\"result\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:71:\"definitions.AlterationQuotationResultInfo.properties.result.description\";}s:9:\"serviceId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:74:\"definitions.AlterationQuotationResultInfo.properties.serviceId.description\";}s:14:\"submissionDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:79:\"definitions.AlterationQuotationResultInfo.properties.submissionDate.description\";}}}s:13:\"FreelookInput\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"alteredCoverages\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:65:\"definitions.FreelookInput.properties.alteredCoverages.description\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/CoverageInput\";}}s:14:\"freelookReason\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:63:\"definitions.FreelookInput.properties.freelookReason.description\";}}}s:18:\"FreelookResultInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:8:\"adminFee\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:62:\"definitions.FreelookResultInfo.properties.adminFee.description\";}s:14:\"advancePremium\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:68:\"definitions.FreelookResultInfo.properties.advancePremium.description\";}s:10:\"medicalFee\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:64:\"definitions.FreelookResultInfo.properties.medicalFee.description\";}s:8:\"suspense\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:62:\"definitions.FreelookResultInfo.properties.suspense.description\";}s:17:\"totalExtraPremium\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:71:\"definitions.FreelookResultInfo.properties.totalExtraPremium.description\";}s:17:\"totalGrossPremium\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:71:\"definitions.FreelookResultInfo.properties.totalGrossPremium.description\";}s:17:\"totalRefundAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:71:\"definitions.FreelookResultInfo.properties.totalRefundAmount.description\";}}}s:13:\"CoverageInput\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"coverageId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:59:\"definitions.CoverageInput.properties.coverageId.description\";}}}s:9:\"GenericVO\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"extObject\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/GenericVO\";}}}s:23:\"GenericValidationResult\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"ruleType\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:24:\"PolicyInfo_ExtendedProps\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:26:\"CoverageInfo_ExtendedProps\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:25:\"PayPlanInfo_ExtendedProps\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:33:\"CoverageInsuredInfo_ExtendedProps\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:32:\"PremInvestRateInfo_ExtendedProps\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:32:\"RecurringTopupInfo_ExtendedProps\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:42:\"RecurringTopupInvestRateInfo_ExtendedProps\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:32:\"ContractInvestInfo_ExtendedProps\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:31:\"CoverageAgentInfo_ExtendedProps\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:30:\"PolicyHolderInfo_ExtendedProps\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:32:\"PolicyCustomerInfo_ExtendedProps\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:25:\"InsuredInfo_ExtendedProps\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:29:\"BeneficiaryInfo_ExtendedProps\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:30:\"PayerAccountInfo_ExtendedProps\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:37:\"CustomerDeclarationInfo_ExtendedProps\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:43:\"CustomerDeclarationDetailInfo_ExtendedProps\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:34:\"AgentDeclarationInfo_ExtendedProps\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:24:\"CustomerInfo_AddressInfo\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:7:\"Address\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Address\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/AddressInfo\";}}}}"
...
