---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:7:\"version\";s:5:\"0.1.0\";s:5:\"title\";s:20:\"eBaoCloud
  LI OpenAPI\";s:7:\"contact\";O:8:\"stdClass\":1:{s:5:\"email\";s:24:\"liliang.zhu@ebaotech.com\";}}"
host: sandbox.singlife.ebaocloud.life
basePath: /eBao/1.0
paths:
  /customers/corresponding/{customerId}:
    post:
      tags:
      - Party
      summary: Modify an existing customer's contact and address information
      operationId: CustomerAlterationPOST
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: customerId
        in: path
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/CorrespondingInput'
      responses:
        200:
          description: Status 200
          schema:
            $ref: '#/definitions/CorrespondingResultInfo'
  /customers/{customerId}:
    get:
      tags:
      - Party
      summary: Get specified customer data by customer ID
      description: Get specified customer data by customer ID
      operationId: CustomerInfoGET
      produces:
      - application/json
      parameters:
      - name: customerId
        in: path
        required: true
        type: string
      responses:
        200:
          description: Status 200
          schema:
            $ref: '#/definitions/CustomerInfo'
  /policy/policies/{insurerCode}/search:
    post:
      tags:
      - Policy
      summary: PolicySummaryQuerying
      description: Search Policy by Criteria
      operationId: searchUsingPOST
      consumes:
      - application/json
      produces:
      - '*/*'
      parameters:
      - name: insurerCode
        in: path
        description: insurerCode
        required: true
        type: string
      - name: X-ebao-tenant-id
        in: header
        required: true
        type: string
      - in: body
        name: body
        required: false
        schema:
          $ref: '#/definitions/PageablePolicyCriteria'
      responses:
        200:
          description: OK
          schema:
            type: array
            items:
              $ref: '#/definitions/PolicySummaryInfo'
        201:
          description: Created
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
        500:
          description: Internal Server Error
  /policy/policies/{insurerCode}/{policyNumber}:
    get:
      tags:
      - Policy
      summary: PolicyDetailGetting
      description: Get Policy by Policy No.
      operationId: getUsingGET
      produces:
      - '*/*'
      parameters:
      - name: insurerCode
        in: path
        description: insurerCode
        required: true
        type: string
      - name: policyNumber
        in: path
        description: policyNumber
        required: true
        type: string
      - name: X-ebao-tenant-id
        in: header
        required: true
        type: string
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/PolicyInfo'
        400:
          description: Bad request
        401:
          description: Unauthorized
        403:
          description: Forbidden
        404:
          description: Not Found
        500:
          description: Internal Server Error
schemes:
- http
definitions: !php/object "O:8:\"stdClass\":68:{s:22:\"PageablePolicyCriteria\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:13:\"applyDateFrom\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:38:\"Search
  criteria: application date from\";}s:11:\"applyDateTo\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:36:\"Search
  criteria: application date to\";}s:9:\"certiCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:69:\"Search
  criteria: id no. of policy customer (policy holder or insured)\";}s:17:\"masterProductCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"Search
  criteria: code of master product\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:67:\"Search
  criteria: name of policy customer (policy holder or insured)\";}s:4:\"page\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:47:\"Page
  criteria: target page number, start from 0\";}s:12:\"policyNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"Search
  criteria: policy no.\";}s:14:\"proposalNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"Search
  criteria: application code\";}s:13:\"quotationCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"Search
  criteria: order no.\";}s:4:\"size\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:55:\"Page
  criteria: how many records per page, default as 10\";}}}s:17:\"PolicySummaryInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":14:{s:13:\"quotationCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"\u8BD5\u7B97\u8BF7\u6C42\u7F16\u53F7\";}s:12:\"policyNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"\u4FDD\u5355\u53F7\u7801\";}s:14:\"proposalNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"\u6295\u4FDD\u5355\u53F7\u7801\";}s:9:\"applyDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:60:\"\u7533\u8BF7\u65E5\u671F\uFF0C\u975E\u7A7A\uFF0C\u65E5\u671F\u683C\u5F0F\uFF1Ayyyy-MM-dd'T'HH:mm:ss\";}s:13:\"inceptionDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:57:\"\u4FDD\u5355\u751F\u6548\u65E5\u671F\uFF0C\u65E5\u671F\u683C\u5F0F\uFF1Ayyyy-MM-dd'T'HH:mm:ss\";}s:9:\"issueDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:51:\"\u627F\u4FDD\u65E5\u671F\uFF0C\u65E5\u671F\u683C\u5F0F\uFF1Ayyyy-MM-dd'T'HH:mm:ss\";}s:10:\"expiryDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:51:\"\u7EC8\u6B62\u65E5\u671F\uFF0C\u65E5\u671F\u683C\u5F0F\uFF1Ayyyy-MM-dd'T'HH:mm:ss\";}s:16:\"policyHolderName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"\u6295\u4FDD\u4EBA\u59D3\u540D\";}s:15:\"mainInsuredName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"\u4E3B\u88AB\u4FDD\u4EBA\u59D3\u540D\";}s:17:\"masterProductCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"\u4E3B\u9669code\";}s:17:\"masterProductName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"\u4E3B\u9669\u540D\u79F0\";}s:11:\"installPrem\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:12:\"\u4FDD\u5355\u4FDD\u8D39\";}s:14:\"proposalStatus\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"\u6295\u4FDD\u5355\u72B6\u6001\";}s:10:\"riskStatus\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:71:\"\u4FDD\u5355\u72B6\u6001<br>0
  - \u672A\u751F\u6548<br>1 - \u751F\u6548<br>2 - \u5931\u6548<br>3 - \u7EC8\u6B62\";}}}s:10:\"PolicyInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":28:{s:10:\"policyType\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:77:\"Policy
  Type<br>1 - Individual insurance<br>2 - Group Biz<br>3 - Bancassurance\";}s:10:\"riskStatus\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:71:\"\u4FDD\u5355\u72B6\u6001<br>0
  - \u672A\u751F\u6548<br>1 - \u751F\u6548<br>2 - \u5931\u6548<br>3 - \u7EC8\u6B62\";}s:9:\"applyDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:58:\"Application
  Date, mandatory, format: yyyy-MM-dd'T'HH:mm:ss\";}s:9:\"issueDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:51:\"\u627F\u4FDD\u65E5\u671F\uFF0C\u65E5\u671F\u683C\u5F0F\uFF1Ayyyy-MM-dd'T'HH:mm:ss\";}s:11:\"installPrem\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:12:\"\u4FDD\u5355\u4FDD\u8D39\";}s:8:\"currency\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:31:\"\u5E01\u79CD\uFF0C\u975E\u7A7A\uFF0C1
  - \u4EBA\u6C11\u5E01\";}s:18:\"ePolicyDownloadUrl\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"\u7535\u5B50\u4FDD\u5355\u4E0B\u8F7D\u5730\u5740\";}s:19:\"groupProposalNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"\u56E2\u5355\u6295\u4FDD\u5355\u53F7\u7801\";}s:13:\"inceptionDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:57:\"\u4FDD\u5355\u751F\u6548\u65E5\u671F\uFF0C\u65E5\u671F\u683C\u5F0F\uFF1Ayyyy-MM-dd'T'HH:mm:ss\";}s:10:\"expiryDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:51:\"\u7EC8\u6B62\u65E5\u671F\uFF0C\u65E5\u671F\u683C\u5F0F\uFF1Ayyyy-MM-dd'T'HH:mm:ss\";}s:14:\"proposalNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"\u6295\u4FDD\u5355\u53F7\u7801\";}s:11:\"deliverType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"\u4FDD\u5355\u9012\u9001\u65B9\u5F0F<br>H
  - \u624B\u5DE5<br>M - \u90AE\u4EF6\";}s:12:\"policyNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"\u4FDD\u5355\u53F7\u7801\";}s:13:\"quotationCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"\u8BD5\u7B97\u8BF7\u6C42\u7F16\u53F7\";}s:14:\"submissionDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:51:\"\u63D0\u4EA4\u65E5\u671F\uFF0C\u65E5\u671F\u683C\u5F0F\uFF1Ayyyy-MM-dd'T'HH:mm:ss\";}s:16:\"serviceAgentCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"\u4FDD\u5355\u4EE3\u7406\u4EBA\u4EE3\u7801\";}s:16:\"salesChannelCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"\u9500\u552E\u6E20\u9053\u4EE3\u7801\";}s:24:\"preprintedProposalNumber\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"\u6295\u4FDD\u5355\u9884\u5370\u53F7\";}s:12:\"proposalInfo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/PolicyProposalInfo\";}s:13:\"policyPackage\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/PolicyPackageInfo\";}s:9:\"coverages\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:18:\"\u4FDD\u5355\u9669\u79CD\u5217\u8868\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/CoverageInfo\";}}s:12:\"policyHolder\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/PolicyHolderInfo\";}s:8:\"insureds\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:21:\"\u4FDD\u5355\u88AB\u4FDD\u4EBA\u5217\u8868\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/InsuredInfo\";}}s:13:\"beneficiaries\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:15:\"\u53D7\u76CA\u4EBA\u5217\u8868\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/BeneficiaryInfo\";}}s:13:\"payerAccounts\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:18:\"\u4ED8\u6B3E\u65B9\u5F0F\u5217\u8868\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/PayerAccountInfo\";}}s:12:\"declarations\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:18:\"\u5BA2\u6237\u544A\u77E5\u5217\u8868\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/CustomerDeclarationInfo\";}}s:17:\"agentDeclarations\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:21:\"\u4E1A\u52A1\u5458\u544A\u77E5\u5217\u8868\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/AgentDeclarationInfo\";}}s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"\u6269\u5C55\u4FE1\u606F,
  Map\u7C7B\u578B, Key/Value\u90FD\u662F\u5B57\u7B26\u578B\";s:4:\"$ref\";s:38:\"#/definitions/PolicyInfo_ExtendedProps\";}}}s:18:\"PolicyProposalInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"proposalStatus\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"\u6295\u4FDD\u5355\u72B6\u6001\";}}}s:17:\"PolicyPackageInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"packageCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"\u4EA7\u54C1\u7EC4\u5408\u4EE3\u7801\";}s:4:\"unit\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:37:\"\u4EA7\u54C1\u7EC4\u5408\u6295\u4FDD\u4EFD\u6570\uFF0C\u9ED8\u8BA4\u4E3A1\";}}}s:12:\"CoverageInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":16:{s:12:\"chargePeriod\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:104:\"\u7F34\u8D39\u5E74\u671F\u7C7B\u578B\uFF0C\u975E\u7A7A<br>1
  - \u8DB8\u7F34<br>2 - \u6309\u5E74\u9650\u7F34<br>3 - \u7F34\u81F3\u67D0\u786E\u5B9A\u5E74\u9F84<br>4
  - \u7EC8\u8EAB\";}s:10:\"chargeYear\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:134:\"\u7F34\u8D39\u5E74\u671F\uFF0C\u975E\u7A7A<br>\u8DB8\u7F34\u4E3A0<br>\u6309\u5E74\u9650\u7F34\u65F6\u4E3A\u7F34\u8D39\u5E74\u9650<br>\u7F34\u81F3\u67D0\u786E\u5B9A\u5E74\u9F84\u65F6\u4E3A\u7F34\u8D39\u671F\u6EE1\u5E74\u9F84<br>\u7EC8\u8EAB\u4E3A100\";}s:14:\"coveragePeriod\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:118:\"\u4FDD\u969C\u5E74\u671F\u7C7B\u578B<br>1
  - \u4FDD\u7EC8\u8EAB<br>2 - \u6309\u5E74\u9650\u4FDD<br>3 - \u4FDD\u81F3\u67D0\u786E\u5B9A\u5E74\u9F84<br>4
  - \u6309\u6708\u4FDD<br>5 - \u6309\u5929\u4FDD\";}s:12:\"coverageYear\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:175:\"\u4FDD\u969C\u5E74\u671F\uFF0C\u4FDD\u7EC8\u8EAB\u65F6\u4E3A9999\uFF1B\u6309\u5E74\u9650\u4FDD\u65F6\u4E3A\u4FDD\u969C\u5E74\u9650\uFF1B\u4FDD\u81F3\u67D0\u786E\u5B9A\u5E74\u9F84\u65F6\u4E3A\u4FDD\u969C\u671F\u6EE1\u5E74\u9F84\uFF1B\u6309\u6708\u4FDD\u65F6\u4E3A\u4FDD\u969C\u6708\u6570\uFF1B\u6309\u5929\u4FDD\u65F6\u4E3A\u4FDD\u969C\u5929\u6570\";}s:14:\"currentPremium\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/CoveragePremium\";}s:11:\"productCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"\u4EA7\u54C1\u4EE3\u7801\";}s:17:\"masterProductCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"\u4E3B\u9669\u4EE3\u7801\";}s:9:\"waiverExt\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/CoverageExtWaiver\";}s:11:\"nextPremium\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/CoveragePremium\";}s:14:\"coverageAgents\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:27:\"\u4E1A\u7EE9\u5206\u644A\u4EE3\u7406\u4EBA\u5217\u8868\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/CoverageAgentInfo\";}}s:8:\"payPlans\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:18:\"\u652F\u4ED8\u8BA1\u5212\u5217\u8868\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/PayPlanInfo\";}}s:8:\"insureds\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:21:\"\u9669\u79CD\u88AB\u4FDD\u4EBA\u5217\u8868\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/CoverageInsuredInfo\";}}s:15:\"premInvestRates\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:24:\"\u4FDD\u8D39\u6295\u8D44\u6BD4\u4F8B\u5217\u8868\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/PremInvestRateInfo\";}}s:14:\"recurringTopup\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/RecurringTopupInfo\";}s:15:\"contractInvests\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:18:\"\u4FDD\u5355\u6295\u8D44\u4FE1\u606F\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ContractInvestInfo\";}}s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"\u6269\u5C55\u4FE1\u606F,
  Map\u7C7B\u578B, Key/Value\u90FD\u662F\u5B57\u7B26\u578B\";s:4:\"$ref\";s:40:\"#/definitions/CoverageInfo_ExtendedProps\";}}}s:15:\"CoveragePremium\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"benefitLevel\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"\u9669\u79CD\u6863\u6B21\uFF0C\u4EA7\u54C1\u6309\u6863\u6B21\u6295\u4FDD\u65F6\u975E\u7A7A\";}s:11:\"paymentFreq\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:85:\"\u7F34\u8D39\u9891\u7387<br>1
  - \u5E74\u7F34<br>2 - \u534A\u5E74\u7F34<br>3 - \u5B63\u7F34<br>4 - \u6708\u7F34<br>5
  - \u8DB8\u7F34\";}s:10:\"sumAssured\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:39:\"\u9669\u79CD\u4FDD\u989D\uFF0C\u4FDD\u989D\u7B97\u4FDD\u8D39\u65F6\u975E\u7A7A\";}s:7:\"premium\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:39:\"\u9669\u79CD\u4FDD\u8D39\uFF0C\u4FDD\u8D39\u7B97\u4FDD\u989D\u65F6\u975E\u7A7A\";}s:4:\"unit\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:45:\"\u9669\u79CD\u4EFD\u6570\uFF0C\u4EA7\u54C1\u6309\u4EFD\u6570\u6295\u4FDD\u65F6\u975E\u7A7A\";}}}s:17:\"CoverageExtWaiver\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"waivedSa\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:104:\"\u8C41\u514D\u4FDD\u989D\uFF0C0\u8868\u793A\u5168\u989D\u8C41\u514D\uFF0C\u4E0D\u4E3A0\u8868\u793A\u8C41\u514D\u6307\u5B9A\u91D1\u989D\uFF0C\u4E0D\u80FD\u8D85\u8FC7\u88AB\u8C41\u514D\u9669\u79CD\u4FDD\u8D39\";}s:6:\"waiver\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"\u662F\u5426\u8C41\u514D\u9669<br>Y
  - \u662F<br>N - \u5426\";}}}s:11:\"PayPlanInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:9:\"endPeriod\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:150:\"\u5E74\u91D1\u9886\u53D6\u671F\u95F4\u7C7B\u578B\uFF0C\u8BA1\u5212\u7C7B\u578B\u4E3A\u5E74\u91D1/\u53D8\u989D\u5E74\u91D1/GMWB\u65F6\u975E\u7A7A<br>1
  - \u9886\u53D6\u56FA\u5B9A\u5E74\u6570<br>2 - \u9886\u53D6\u5230\u4E00\u5B9A\u5E74\u9F84<br>3
  - \u7EC8\u8EAB\u9886\u53D6\";}s:7:\"endYear\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:12:\"\u9886\u53D6\u5E74\u6570\";}s:11:\"gurntPeriod\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:45:\"\u5E74\u91D1\u4FDD\u8BC1\u9886\u53D6\u671F\u95F4\uFF08\u5E74\u6570\u6216\u5E74\u9F84\uFF09\";}s:9:\"payOption\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:164:\"\u5E74\u91D1\u9886\u53D6\u65B9\u5F0F<br>1
  - \u73B0\u91D1\u9886\u53D6<br>2 - \u62B5\u4EA4\u4FDD\u8D39<br>3 - \u7D2F\u79EF\u751F\u606F<br>4
  - \u7D2F\u79EF\u751F\u606Fx\u5E74\u540E\u8F6C\u62B5\u4EA4\u4FDD\u8D39<br>5 - \u4E70\u4E00\u4E2A\u9644\u52A0\u7684\u7F34\u6E05\u7684\u9644\u52A0\u9669\";}s:13:\"payOptionTerm\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:52:\"\u5E74\u6570\uFF0C\u5F53payOption\u4E3A4\u65F6\u6709\u610F\u4E49\uFF0C\u5176\u4ED6\u4E3A\u7A7A\";}s:9:\"payPeriod\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:146:\"\u5E74\u91D1\u5F00\u59CB\u9886\u53D6\u671F\u95F4\u7C7B\u578B<br>1
  - \u7ACB\u5373\u9886\u53D6<br>2 - \u5230\u4E00\u5B9A\u5E74\u9F84\u7684\u5468\u5E74\u65E5\u9886\u53D6<br>3
  - \u82E5\u5E72\u5E74\u540E\u9886\u53D6<br>4 - \u4E00\u5B9A\u5E74\u9F84\u540E\u9886\u53D6\";}s:7:\"payYear\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:45:\"\u5E74\u91D1\u5F00\u59CB\u9886\u53D6\u671F\u95F4\uFF08\u5E74\u6570\u6216\u5E74\u9F84\uFF09\";}s:8:\"planFreq\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:73:\"\u9886\u53D6\u9891\u7387<br>1
  - \u5E74<br>2 - \u534A\u5E74<br>3 - \u5B63<br>4 - \u6708<br>5 - \u8DB8\u9886\";}s:8:\"planType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:197:\"\u652F\u4ED8\u8BA1\u5212\u7C7B\u578B\uFF0C\u975E\u7A7A<br>1
  - \u73B0\u91D1\u7EA2\u5229<br>2 - \u5E74\u91D1<br>3 - \u751F\u5B58\u91D1<br>4 -
  \u6EE1\u671F\u91D1<br>5 - GMWB\uFF08\u4FDD\u8BC1\u6700\u5C0F\u63D0\u53D6\u5229\u76CA\uFF09<br>6
  - \u53D8\u989D\u5E74\u91D1<br>7 - \u90E8\u5206\u9000\u4FDD<br>8 - \u4FDD\u989D\u7EA2\u5229\";}s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"\u6269\u5C55\u4FE1\u606F,
  Map\u7C7B\u578B, Key/Value\u90FD\u662F\u5B57\u7B26\u578B\";s:4:\"$ref\";s:39:\"#/definitions/PayPlanInfo_ExtendedProps\";}}}s:19:\"CoverageInsuredInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:14:\"insuredPartyId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"\u88AB\u4FDD\u4EBA\u5185\u90E8\u5E8F\u5217\u53F7\";}s:7:\"orderId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:101:\"\u9669\u79CD\u88AB\u4FDD\u4EBA\u5E8F\u53F7\uFF0C\u9ED8\u8BA4\u4E3A1\uFF0C\u540C\u4E00\u9669\u79CD\u591A\u88AB\u4FDD\u4EBA\uFF08\u5BB6\u5EAD\u4FDD\u5355\u6216\u8FDE\u8EAB\u9669\uFF09\u65F6\u5927\u4E8E1\";}s:15:\"occupationClass\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:12:\"\u804C\u4E1A\u7B49\u7EA7\";}s:3:\"age\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:6:\"\u5E74\u9F84\";}s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"\u6269\u5C55\u4FE1\u606F,
  Map\u7C7B\u578B, Key/Value\u90FD\u662F\u5B57\u7B26\u578B\";s:4:\"$ref\";s:47:\"#/definitions/CoverageInsuredInfo_ExtendedProps\";}}}s:18:\"PremInvestRateInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"fundCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"\u57FA\u91D1\u4EE3\u7801\";}s:10:\"assignRate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:12:\"\u5206\u914D\u6BD4\u4F8B\";}s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"\u6269\u5C55\u4FE1\u606F,
  Map\u7C7B\u578B, Key/Value\u90FD\u662F\u5B57\u7B26\u578B\";s:4:\"$ref\";s:46:\"#/definitions/PremInvestRateInfo_ExtendedProps\";}}}s:18:\"RecurringTopupInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"investRates\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:18:\"\u6295\u8D44\u6BD4\u4F8B\u5217\u8868\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/RecurringTopupInvestRateInfo\";}}s:14:\"topupStartDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:18:\"\u8FFD\u52A0\u5F00\u59CB\u65F6\u95F4\";}s:11:\"topupAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:12:\"\u8FFD\u52A0\u91D1\u989D\";}s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"\u6269\u5C55\u4FE1\u606F,
  Map\u7C7B\u578B, Key/Value\u90FD\u662F\u5B57\u7B26\u578B\";s:4:\"$ref\";s:46:\"#/definitions/RecurringTopupInfo_ExtendedProps\";}}}s:28:\"RecurringTopupInvestRateInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"fundCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"\u57FA\u91D1\u4EE3\u7801\";}s:10:\"assignRate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:12:\"\u5206\u914D\u6BD4\u4F8B\";}s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"\u6269\u5C55\u4FE1\u606F,
  Map\u7C7B\u578B, Key/Value\u90FD\u662F\u5B57\u7B26\u578B\";s:4:\"$ref\";s:56:\"#/definitions/RecurringTopupInvestRateInfo_ExtendedProps\";}}}s:18:\"ContractInvestInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"fundCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"\u57FA\u91D1\u4EE3\u7801\";}s:10:\"accumUnits\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:12:\"\u57FA\u91D1\u4EFD\u6570\";}s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"\u6269\u5C55\u4FE1\u606F,
  Map\u7C7B\u578B, Key/Value\u90FD\u662F\u5B57\u7B26\u578B\";s:4:\"$ref\";s:46:\"#/definitions/ContractInvestInfo_ExtendedProps\";}}}s:17:\"CoverageAgentInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"agentCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"\u4FDD\u5355\u4EE3\u7406\u4EBA\u4EE3\u7801\";}s:10:\"assignRate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:31:\"\u4E1A\u7EE9\u5206\u644A\u6BD4\u4F8B\uFF0C\u6700\u5927\u4E3A1\";}s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"\u6269\u5C55\u4FE1\u606F,
  Map\u7C7B\u578B, Key/Value\u90FD\u662F\u5B57\u7B26\u578B\";s:4:\"$ref\";s:45:\"#/definitions/CoverageAgentInfo_ExtendedProps\";}}}s:16:\"PolicyHolderInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"partyId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"\u5BA2\u6237\u7F16\u53F7\";}s:14:\"policyCustomer\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/PolicyCustomerInfo\";}s:12:\"relationToLA\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:113:\"\u6295\u4FDD\u4EBA\u4E0E\u88AB\u4FDD\u4EBA\u5173\u7CFB\uFF0C\u6570\u5B57\u7C7B\u578B<br>1
  - \u81EA\u5DF1<br>2 - \u7236\u6BCD<br>3 - \u914D\u5076<br>10 - \u5B50\u5973<br>7
  - \u5176\u4ED6\";}s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"\u6269\u5C55\u4FE1\u606F,
  Map\u7C7B\u578B, Key/Value\u90FD\u662F\u5B57\u7B26\u578B\";s:4:\"$ref\";s:44:\"#/definitions/PolicyHolderInfo_ExtendedProps\";}}}s:18:\"PolicyCustomerInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"address\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/AddressInfo\";}s:9:\"partyType\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:60:\"\u5F53\u4E8B\u4EBA\u7C7B\u578B\uFF0C1
  - \u4E2A\u4EBA\u5F53\u4E8B\u4EBA<br>2 - \u673A\u6784\u5F53\u4E8B\u4EBA\";}s:6:\"person\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Person\";}s:12:\"organization\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/Organization\";}s:12:\"partyContact\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/PartyContact\";}s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"\u6269\u5C55\u4FE1\u606F,
  Map\u7C7B\u578B, Key/Value\u90FD\u662F\u5B57\u7B26\u578B\";s:4:\"$ref\";s:46:\"#/definitions/PolicyCustomerInfo_ExtendedProps\";}}}s:11:\"InsuredInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:7:\"partyId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"\u5BA2\u6237\u7F16\u53F7\";}s:14:\"policyCustomer\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/PolicyCustomerInfo\";}s:12:\"relationToPH\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:127:\"\u88AB\u4FDD\u4EBA\u4E0E\u6295\u4FDD\u4EBA\u5173\u7CFB\uFF0C\u6570\u5B57\u7C7B\u578B<br>1
  - \u81EA\u5DF1<br>2 - \u5B50\u5973<br>3 - \u914D\u5076<br>10 - \u7236\u6BCD<br>4
  - \u96C7\u5458<br>7 - \u5176\u4ED6\";}s:15:\"medicalExamIndi\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"\u662F\u5426\u6709\u4F53\u68C0\u4EF6<br>Y
  - \u662F<br>N - \u5426\";}s:11:\"medicalIndi\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"\u662F\u5426\u6709\u533B\u4FDD<br>Y
  - \u662F<br>N - \u5426\";}s:18:\"socialSecurityIndi\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"\u662F\u5426\u6709\u793E\u4FDD<br>Y
  - \u662F<br>N - \u5426\";}s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"\u6269\u5C55\u4FE1\u606F,
  Map\u7C7B\u578B, Key/Value\u90FD\u662F\u5B57\u7B26\u578B\";s:4:\"$ref\";s:39:\"#/definitions/InsuredInfo_ExtendedProps\";}}}s:15:\"BeneficiaryInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:7:\"partyId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"\u5BA2\u6237\u7F16\u53F7,
  UUID type\";}s:14:\"policyCustomer\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"\u5BA2\u6237\u8BE6\u7EC6\u4FE1\u606F\";s:4:\"$ref\";s:32:\"#/definitions/PolicyCustomerInfo\";}s:14:\"insuredPartyId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"\u53D7\u76CA\u4EBA\u6240\u5BF9\u5E94\u88AB\u4FDD\u4EBA\u7684\u5F53\u4E8B\u4EBA\u7F16\u53F7\";}s:8:\"beneType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:81:\"\u53D7\u76CA\u7C7B\u578B<br>1
  - \u751F\u5B58\u53D7\u76CA\u4EBA<br>2 - \u8EAB\u6545\u53D7\u76CA\u4EBA<br>3 - \u6295\u4FDD\u53D7\u76CA\u4EBA\";}s:11:\"designation\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:322:\"\u4E0E\u88AB\u4FDD\u4EBA\u5173\u7CFB<br>1
  - \u59BB\u5B50<br>2 - \u4E08\u592B<br>3 - \u5B50\u5973<br>4 - \u7236\u4EB2<br>5
  - \u6BCD\u4EB2<br>6 - \u7956\u7236/\u5916\u7956\u7236<br>7 - \u7956\u6BCD/\u5916\u7956\u6BCD<br>8
  - \u5144\u5F1F<br>9 - \u59D0\u59B9<br>10 - \u53D4\u7236/\u4F2F\u7236<br>11 - \u963F\u59E8<br>12
  - \u8868\u5144\u5F1F/\u8868\u59D0\u59B9<br>13 - \u5916\u7525/\u5916\u7525\u5973/\u4F84\u5B50/\u4F84\u5973<br>14
  - \u96C7\u4E3B<br>15 - \u5176\u4ED6<br>16 - \u88AB\u4FDD\u4EBA\u672C\u4EBA\";}s:10:\"shareOrder\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:12:\"\u53D7\u76CA\u987A\u4F4D\";}s:9:\"shareRate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:25:\"\u53D7\u76CA\u6BD4\u4F8B\uFF0C\u6700\u5927\u4E3A1\";}s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"\u6269\u5C55\u4FE1\u606F,
  Map\u7C7B\u578B, Key/Value\u90FD\u662F\u5B57\u7B26\u578B\";s:4:\"$ref\";s:43:\"#/definitions/BeneficiaryInfo_ExtendedProps\";}}}s:16:\"PayerAccountInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:13:\"paymentMethod\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:99:\"\u9996\u671F\u4ED8\u6B3E\u65B9\u5F0F\uFF0C\u6570\u5B57\u7C7B\u578B<br>1
  - \u73B0\u91D1<br>2 - \u652F\u7968<br>3 - \u94F6\u884C\u8F6C\u8D26<br>30 - \u4FE1\u7528\u5361\";}s:17:\"paymentMethodNext\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:99:\"\u7EED\u671F\u4ED8\u6B3E\u65B9\u5F0F\uFF0C\u6570\u5B57\u7C7B\u578B<br>1
  - \u73B0\u91D1<br>2 - \u652F\u7968<br>3 - \u94F6\u884C\u8F6C\u8D26<br>30 - \u4FE1\u7528\u5361\";}s:11:\"bankAccount\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/BankAccountInfo\";}s:15:\"nextBankAccount\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/BankAccountInfo\";}s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"\u6269\u5C55\u4FE1\u606F,
  Map\u7C7B\u578B, Key/Value\u90FD\u662F\u5B57\u7B26\u578B\";s:4:\"$ref\";s:44:\"#/definitions/PayerAccountInfo_ExtendedProps\";}}}s:23:\"CustomerDeclarationInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"partyId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"\u5BA2\u6237\u7F16\u53F7\";}s:15:\"declarationDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:51:\"\u544A\u77E5\u65E5\u671F\uFF0C\u65E5\u671F\u683C\u5F0F\uFF1Ayyyy-MM-dd'T'HH:mm:ss\";}s:7:\"details\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:18:\"\u544A\u77E5\u8BE6\u7EC6\u4FE1\u606F\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/CustomerDeclarationDetailInfo\";}}s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"\u6269\u5C55\u4FE1\u606F,
  Map\u7C7B\u578B, Key/Value\u90FD\u662F\u5B57\u7B26\u578B\";s:4:\"$ref\";s:51:\"#/definitions/CustomerDeclarationInfo_ExtendedProps\";}}}s:29:\"CustomerDeclarationDetailInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:6:\"declId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:30:\"\u544A\u77E5\u9879\u7F16\u53F7\uFF0C\u6570\u5B57\u7C7B\u578B\";}s:5:\"fill1\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:73:\"\u544A\u77E5\u9879\u56DE\u7B54\u5185\u5BB91\uFF0C\u5B57\u7B26\u7C7B\u578B\uFF0C\u5185\u5BB9\u968F\u544A\u77E5\u9879\u4E0D\u540C\u800C\u4E0D\u540C\";}s:5:\"fill2\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:73:\"\u544A\u77E5\u9879\u56DE\u7B54\u5185\u5BB92\uFF0C\u5B57\u7B26\u7C7B\u578B\uFF0C\u5185\u5BB9\u968F\u544A\u77E5\u9879\u4E0D\u540C\u800C\u4E0D\u540C\";}s:5:\"fill3\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:73:\"\u544A\u77E5\u9879\u56DE\u7B54\u5185\u5BB93\uFF0C\u5B57\u7B26\u7C7B\u578B\uFF0C\u5185\u5BB9\u968F\u544A\u77E5\u9879\u4E0D\u540C\u800C\u4E0D\u540C\";}s:5:\"fill4\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:73:\"\u544A\u77E5\u9879\u56DE\u7B54\u5185\u5BB94\uFF0C\u5B57\u7B26\u7C7B\u578B\uFF0C\u5185\u5BB9\u968F\u544A\u77E5\u9879\u4E0D\u540C\u800C\u4E0D\u540C\";}s:5:\"fill5\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:73:\"\u544A\u77E5\u9879\u56DE\u7B54\u5185\u5BB95\uFF0C\u5B57\u7B26\u7C7B\u578B\uFF0C\u5185\u5BB9\u968F\u544A\u77E5\u9879\u4E0D\u540C\u800C\u4E0D\u540C\";}s:5:\"fill6\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:73:\"\u544A\u77E5\u9879\u56DE\u7B54\u5185\u5BB96\uFF0C\u5B57\u7B26\u7C7B\u578B\uFF0C\u5185\u5BB9\u968F\u544A\u77E5\u9879\u4E0D\u540C\u800C\u4E0D\u540C\";}s:5:\"fill7\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:73:\"\u544A\u77E5\u9879\u56DE\u7B54\u5185\u5BB97\uFF0C\u5B57\u7B26\u7C7B\u578B\uFF0C\u5185\u5BB9\u968F\u544A\u77E5\u9879\u4E0D\u540C\u800C\u4E0D\u540C\";}s:5:\"fill8\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:73:\"\u544A\u77E5\u9879\u56DE\u7B54\u5185\u5BB98\uFF0C\u5B57\u7B26\u7C7B\u578B\uFF0C\u5185\u5BB9\u968F\u544A\u77E5\u9879\u4E0D\u540C\u800C\u4E0D\u540C\";}s:5:\"fill9\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:73:\"\u544A\u77E5\u9879\u56DE\u7B54\u5185\u5BB99\uFF0C\u5B57\u7B26\u7C7B\u578B\uFF0C\u5185\u5BB9\u968F\u544A\u77E5\u9879\u4E0D\u540C\u800C\u4E0D\u540C\";}s:6:\"fill10\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:74:\"\u544A\u77E5\u9879\u56DE\u7B54\u5185\u5BB910\uFF0C\u5B57\u7B26\u7C7B\u578B\uFF0C\u5185\u5BB9\u968F\u544A\u77E5\u9879\u4E0D\u540C\u800C\u4E0D\u540C\";}s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"\u6269\u5C55\u4FE1\u606F,
  Map\u7C7B\u578B, Key/Value\u90FD\u662F\u5B57\u7B26\u578B\";s:4:\"$ref\";s:57:\"#/definitions/CustomerDeclarationDetailInfo_ExtendedProps\";}}}s:20:\"AgentDeclarationInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":13:{s:9:\"agentCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"\u4E1A\u52A1\u5458\u4EE3\u7801\";}s:8:\"declCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"\u544A\u77E5\u9879\u7F16\u53F7\";}s:5:\"fill1\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:73:\"\u544A\u77E5\u9879\u56DE\u7B54\u5185\u5BB91\uFF0C\u5B57\u7B26\u7C7B\u578B\uFF0C\u5185\u5BB9\u968F\u544A\u77E5\u9879\u4E0D\u540C\u800C\u4E0D\u540C\";}s:5:\"fill2\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:73:\"\u544A\u77E5\u9879\u56DE\u7B54\u5185\u5BB92\uFF0C\u5B57\u7B26\u7C7B\u578B\uFF0C\u5185\u5BB9\u968F\u544A\u77E5\u9879\u4E0D\u540C\u800C\u4E0D\u540C\";}s:5:\"fill3\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:73:\"\u544A\u77E5\u9879\u56DE\u7B54\u5185\u5BB93\uFF0C\u5B57\u7B26\u7C7B\u578B\uFF0C\u5185\u5BB9\u968F\u544A\u77E5\u9879\u4E0D\u540C\u800C\u4E0D\u540C\";}s:5:\"fill4\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:73:\"\u544A\u77E5\u9879\u56DE\u7B54\u5185\u5BB94\uFF0C\u5B57\u7B26\u7C7B\u578B\uFF0C\u5185\u5BB9\u968F\u544A\u77E5\u9879\u4E0D\u540C\u800C\u4E0D\u540C\";}s:5:\"fill5\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:73:\"\u544A\u77E5\u9879\u56DE\u7B54\u5185\u5BB95\uFF0C\u5B57\u7B26\u7C7B\u578B\uFF0C\u5185\u5BB9\u968F\u544A\u77E5\u9879\u4E0D\u540C\u800C\u4E0D\u540C\";}s:5:\"fill6\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:73:\"\u544A\u77E5\u9879\u56DE\u7B54\u5185\u5BB96\uFF0C\u5B57\u7B26\u7C7B\u578B\uFF0C\u5185\u5BB9\u968F\u544A\u77E5\u9879\u4E0D\u540C\u800C\u4E0D\u540C\";}s:5:\"fill7\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:73:\"\u544A\u77E5\u9879\u56DE\u7B54\u5185\u5BB97\uFF0C\u5B57\u7B26\u7C7B\u578B\uFF0C\u5185\u5BB9\u968F\u544A\u77E5\u9879\u4E0D\u540C\u800C\u4E0D\u540C\";}s:5:\"fill8\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:73:\"\u544A\u77E5\u9879\u56DE\u7B54\u5185\u5BB98\uFF0C\u5B57\u7B26\u7C7B\u578B\uFF0C\u5185\u5BB9\u968F\u544A\u77E5\u9879\u4E0D\u540C\u800C\u4E0D\u540C\";}s:5:\"fill9\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:73:\"\u544A\u77E5\u9879\u56DE\u7B54\u5185\u5BB99\uFF0C\u5B57\u7B26\u7C7B\u578B\uFF0C\u5185\u5BB9\u968F\u544A\u77E5\u9879\u4E0D\u540C\u800C\u4E0D\u540C\";}s:6:\"fill10\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:74:\"\u544A\u77E5\u9879\u56DE\u7B54\u5185\u5BB910\uFF0C\u5B57\u7B26\u7C7B\u578B\uFF0C\u5185\u5BB9\u968F\u544A\u77E5\u9879\u4E0D\u540C\u800C\u4E0D\u540C\";}s:13:\"extendedProps\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"\u6269\u5C55\u4FE1\u606F,
  Map\u7C7B\u578B, Key/Value\u90FD\u662F\u5B57\u7B26\u578B\";s:4:\"$ref\";s:48:\"#/definitions/AgentDeclarationInfo_ExtendedProps\";}}}s:12:\"ContactInput\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:5:\"email\";i:1;s:6:\"mobile\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"email
  address\";}s:6:\"mobile\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"mobile
  no\";}}}s:6:\"Person\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":18:{s:6:\"gender\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"\u6027\u522B<br>M
  - \u7537\u6027<br>F - \u5973\u6027\";}s:9:\"birthdate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:43:\"\u751F\u65E5\uFF0C\u975E\u7A7A\uFF0C\u65E5\u671F\u683C\u5F0F\uFF1Ayyyy-MM-dd\";}s:9:\"certiType\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:106:\"\u8BC1\u4EF6\u7C7B\u578B\uFF0C\u6570\u5B57\u7C7B\u578B<br>1
  - \u8EAB\u4EFD\u8BC1<br>2 - \u519B\u4EBA\u8BC1<br>3 - \u62A4\u7167<br>4 - \u51FA\u751F\u8BC1<br>9
  - \u5176\u4ED6\";}s:9:\"certiCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"\u8BC1\u4EF6\u53F7\u7801\";}s:10:\"certiStart\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:49:\"\u8BC1\u4EF6\u8D77\u59CB\u6709\u6548\u65E5\uFF0C\u65E5\u671F\u683C\u5F0F\uFF1Ayyyy-MM-dd\";}s:8:\"certiEnd\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:49:\"\u8BC1\u4EF6\u6709\u6548\u622A\u6B62\u65E5\uFF0C\u65E5\u671F\u683C\u5F0F\uFF1Ayyyy-MM-dd\";}s:9:\"firstName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:3:\"\u540D\";}s:7:\"midName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"Middle
  name of prospect\";}s:8:\"lastName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"Last
  name of prospect\";}s:11:\"nationality\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"\u56FD\u7C4D\uFF0C7
  - \u4E2D\u56FD\";}s:17:\"preferredLifeIndi\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:131:\"\u662F\u5426\u4F18\u9009\u4F53<br>0
  - N/A<br>1 - \u8D85\u4F18\u4F53<br>2 - \u4F18\u9009\u4F53<br>3 - \u4F18\u6807\u4F53<br>4
  - \u6807\u51C6\u4F53<br>5 - \u6B21\u9009\u4F53<br>6 - \u6B21\u6807\u51C6\u4F53\";}s:7:\"smoking\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"\u662F\u5426\u62BD\u70DF<br>Y
  - \u62BD\u70DF<br>N - \u4E0D\u62BD\u70DF\";}s:14:\"occupationCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"\u804C\u4E1A\u4EE3\u7801\";}s:6:\"income\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:9:\"\u5E74\u6536\u5165\";}s:14:\"marriageStatus\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:96:\"\u5A5A\u59FB\u72B6\u51B5<br>1
  - \u5DF2\u5A5A<br>2 - \u672A\u5A5A<br>3 - \u79BB\u5F02<br>4 - \u4E27\u5076<br>5
  - \u5206\u5C45<br>6 - \u5176\u4ED6\";}s:6:\"height\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:14:\"\u8EAB\u9AD8\uFF08cm\uFF09\";}s:6:\"weight\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:14:\"\u4F53\u91CD\uFF08kg\uFF09\";}s:10:\"salutation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"\u79F0\u547C<br>1
  - \u5148\u751F<br>2 - \u5973\u58EB\";}}}s:15:\"BankAccountInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":11:{s:10:\"branchCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"\u5206\u884C\u4EE3\u7801\";}s:8:\"bankCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"\u94F6\u884C\u4EE3\u7801\";}s:19:\"bankAccountProvince\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"\u94F6\u884C\u5E10\u53F7\u6240\u5C5E\u7701\u4EFD\";}s:15:\"bankAccountCity\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"\u94F6\u884C\u5E10\u53F7\u6240\u5C5E\u57CE\u5E02\";}s:13:\"issueBankName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"\u53D1\u5361\u884C\";}s:11:\"bankAccount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"\u94F6\u884C\u5E10\u53F7\";}s:8:\"accoName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"\u5E10\u53F7\u6301\u6709\u4EBA\u59D3\u540D\";}s:11:\"accountType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"\u8D26\u6237\u7C7B\u578B<br>2
  - \u501F\u8BB0\u5361<br>8 - \u4FE1\u7528\u5361\";}s:15:\"debitCreditType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:60:\"\u5E10\u53F7\u7528\u9014<br>0
  - \u6536\u4ED8\u4E24\u7528<br>1 - \u6536\u8D39<br>2 - \u9000\u8D39\";}s:14:\"creditCardType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:84:\"\u4FE1\u7528\u5361\u7C7B\u578B\uFF0C\u975E\u4FE1\u7528\u5361\u4E3A\u7A7A<br>1
  - Master<br>2 - Visa<br>3 - BCA<br>4 - JCB\";}s:10:\"expireDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:28:\"\u5E10\u53F7\u5931\u6548\u65E5\u671F\uFF0CMM/yyyy\";}}}s:12:\"PartyContact\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:7:\"homeTel\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"\u5BB6\u5EAD\u7535\u8BDD\";}s:9:\"mobileTel\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"\u624B\u673A\u53F7\";}s:9:\"officeTel\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"\u5DE5\u4F5C\u7535\u8BDD\";}s:12:\"officeTelExt\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"\u5DE5\u4F5C\u7535\u8BDD\u5206\u673A\u53F7\";}s:5:\"email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"\u7535\u5B50\u90AE\u7BB1\";}s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"\u8054\u7CFB\u4EBA\";}s:10:\"contactTel\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"\u8054\u7CFB\u4EBA\u7535\u8BDD\";}s:3:\"fax\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"\u4F20\u771F\";}}}s:11:\"AddressInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"address1\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:3:\"\u7701\";}s:8:\"address2\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:3:\"\u5E02\";}s:8:\"address3\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"\u533A\u53BF\";}s:8:\"address4\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"\u5730\u5740\";}s:8:\"postCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"\u90AE\u7F16\";}}}s:12:\"Organization\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"registerType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"\u516C\u53F8\u8BC1\u4EF6\u7C7B\u578B\uFF0C1001
  - \u516C\u53F8\u6CE8\u518C\u53F7\";}s:12:\"registerCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"\u516C\u53F8\u8BC1\u4EF6\u53F7\";}s:11:\"countryCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"\u6CE8\u518C\u56FD\u5BB6\uFF0C156
  - \u4E2D\u56FD\";}s:11:\"companyName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"\u516C\u53F8\u540D\u79F0\";}s:9:\"organCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"\u516C\u53F8\u7EC4\u7EC7\u673A\u6784\u4EE3\u7801\";}}}s:12:\"CustomerInfo\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:14:\"CustomerDetail\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"CustomerDetail\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Person\";}s:11:\"AddressInfo\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:12:\"Address
  list\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/CustomerInfo_AddressInfo\";}}s:11:\"ContactInfo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/PartyContact\";}}s:11:\"description\";s:63:\"Customer
  related information with basic info, contact and so on\";}s:18:\"CorrespondingInput\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:15:\"clientRequestId\";i:1;s:17:\"clientRequestTime\";i:2;s:13:\"effectiveDate\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:15:\"clientRequestId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"client
  request id, to identify a request\";}s:17:\"clientRequestTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:50:\"client
  request time, format: yyyy-MM-dd'T'HH:mm:ss\";}s:13:\"effectiveDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:45:\"effective
  date, format: yyyy-MM-dd'T'HH:mm:ss\";}s:11:\"AddressInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/AddressInfo\";}}s:11:\"ContactInfo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/PartyContact\";}}}s:23:\"CorrespondingResultInfo\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:4:{i:0;s:15:\"clientRequestId\";i:1;s:17:\"clientRequestTime\";i:2;s:10:\"customerId\";i:3;s:13:\"effectiveDate\";}s:10:\"properties\";O:8:\"stdClass\":8:{s:15:\"clientRequestId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"client
  request id, to identify a request\";}s:17:\"clientRequestTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:50:\"client
  request time, format: yyyy-MM-dd'T'HH:mm:ss\";}s:13:\"effectiveDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:45:\"effective
  date, format: yyyy-MM-dd'T'HH:mm:ss\";}s:10:\"customerId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Customer
  ID\";}s:11:\"AddressInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/AddressInfo\";}}s:11:\"ContactInfo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/PartyContact\";}s:13:\"RelatedPolicy\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:16:\"Policy
  Code list\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:6:\"result\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:95:\"result.
  <br>1 - Success<br>0 - Failed with business issue<br>-1 - Failed with unknown exception\";}}}s:19:\"CreateCustomerInput\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:15:\"clientRequestId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"client
  request id, to identify a request\";}s:17:\"clientRequestTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:50:\"client
  request time, format: yyyy-MM-dd'T'HH:mm:ss\";}s:13:\"effectiveDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:45:\"effective
  date, format: yyyy-MM-dd'T'HH:mm:ss\";}s:12:\"CustomerInfo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/CustomerInfo\";}}}s:24:\"CreateCustomerResultInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:15:\"clientRequestId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"client
  request id, to identify a request\";}s:17:\"clientRequestTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:50:\"client
  request time, format: yyyy-MM-dd'T'HH:mm:ss\";}s:13:\"effectiveDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:45:\"effective
  date, format: yyyy-MM-dd'T'HH:mm:ss\";}s:12:\"CustomerInfo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/CustomerInfo\";}s:6:\"result\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:95:\"result.
  <br>1 - Success<br>0 - Failed with business issue<br>-1 - Failed with unknown exception\";}}}s:15:\"RegisterRequest\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:6:{i:0;s:9:\"claimType\";i:1;s:8:\"claimant\";i:2;s:5:\"event\";i:3;s:7:\"insured\";i:4;s:8:\"policyNo\";i:5;s:17:\"relationToInsured\";}s:10:\"properties\";O:8:\"stdClass\":8:{s:15:\"clientRequestId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"client
  request id, to identify a request\";}s:17:\"clientRequestTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:50:\"client
  request time, format: yyyy-MM-dd'T'HH:mm:ss\";}s:8:\"policyNo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"claim
  policy number\";}s:8:\"claimant\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ClaimantInput\";}s:7:\"insured\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/InsuredInput\";}s:17:\"relationToInsured\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:137:\"claimant
  relation to insured <br>1 - Spouse <br>2 - Child <br>3 - Parent <br>4 - Relative
  <br>6 - others <br>7 - Employer <br>1001 - self\";}s:5:\"event\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ClaimEventInput\";}s:9:\"claimType\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:81:\"claim
  type <br>1 - Accident <br>2 - Death <br>5 - Hospitalisation<br>8 - Medical \";}}}s:16:\"RegisterResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:11:\"claimCaseNo\";}s:10:\"properties\";O:8:\"stdClass\":6:{s:15:\"clientRequestId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"client
  request id, to identify a request\";}s:17:\"clientRequestTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:50:\"client
  request time, format: yyyy-MM-dd'T'HH:mm:ss\";}s:6:\"result\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:95:\"result.
  <br>1 - Success<br>0 - Failed with business issue<br>-1 - Failed with unknown exception\";}s:8:\"messages\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:27:\"messages
  of business issues\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/GenericValidationResult\";}}s:10:\"exceptions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:18:\"exception
  messages\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:11:\"claimCaseNo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"claim
  case number\";}}}s:13:\"ClaimantInput\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:12:\"partyContact\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"name\";}s:12:\"partyContact\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ContactInput\";}}}s:15:\"ClaimEventInput\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:11:\"eventDetail\";i:1;s:11:\"eventNature\";i:2;s:9:\"eventTime\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"reportType\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:77:\"report
  by <br>1 - phone <br>2 - fax <br>4 - sms <br>5 - network <br>6 - email\";}s:11:\"eventNature\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:45:\"event
  nature <br>1 - illness <br>2 - accident\";}s:9:\"eventTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:59:\"date
  when claim event happens,format: yyyy-MM-dd'T'HH:mm:ss\";}s:11:\"eventDetail\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"detail
  of cliam event\";}}}s:12:\"InsuredInput\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:4:{i:0;s:9:\"certiCode\";i:1;s:9:\"certiType\";i:2;s:6:\"gender\";i:3;s:4:\"name\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"name\";}s:6:\"gender\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"gender
  <br>F -  female<br>M - male\";}s:9:\"certiType\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:72:\"certificate
  type of insured<br>1 - id card<br>3 - passport<br>9 - others\";}s:9:\"certiCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"certificate
  code \";}}}s:26:\"PolicyAlterationResultInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:8:\"changeId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:22:\"alteration
  internal id\";}s:15:\"clientRequestId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"client
  request id, to identify a request\";}s:17:\"clientRequestTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:50:\"client
  request time, format: yyyy-MM-dd'T'HH:mm:ss\";}s:10:\"exceptions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:18:\"exception
  messages\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:10:\"finishTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:56:\"alteration
  finishing time, format: yyyy-MM-dd'T'HH:mm:ss\";}s:11:\"itemResults\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:16:\"alteration
  items\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/AlterationItemResultInfo\";}}s:6:\"result\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:95:\"result.
  <br>1 - Success<br>0 - Failed with business issue<br>-1 - Failed with unknown exception\";}}}s:24:\"AlterationItemResultInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:13:\"effectiveDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:45:\"effective
  date, format: yyyy-MM-dd'T'HH:mm:ss\";}s:18:\"freelookResultInfo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/FreelookResultInfo\";}s:7:\"orderId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:16:\"alteration
  order\";}s:11:\"policyChgId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:29:\"policy
  alteration internal id\";}s:8:\"policyId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:18:\"policy
  internal id\";}s:9:\"serviceId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:36:\"alteration
  type id<br>201 - Freelook\";}s:14:\"submissionDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:46:\"submission
  date, format: yyyy-MM-dd'T'HH:mm:ss\";}}}s:21:\"PolicyAlterationInput\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"clientRequestId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"client
  request id, to identify a request\";}s:17:\"clientRequestTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:50:\"client
  request time, format: yyyy-MM-dd'T'HH:mm:ss\";}s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:15:\"alteration
  item\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/AlterationItemInput\";}}}}s:19:\"AlterationItemInput\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:13:\"effectiveDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:45:\"effective
  date, format: yyyy-MM-dd'T'HH:mm:ss\";}s:13:\"freelookInput\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/FreelookInput\";}s:7:\"orderId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:30:\"alteration
  order, default is 1\";}s:11:\"policyChgId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:29:\"policy
  alteration internal id\";}s:8:\"policyId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:29:\"policy
  alteration internal id\";}s:9:\"serviceId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:36:\"alteration
  type id<br>201 - Freelook\";}s:14:\"submissionDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:46:\"submission
  date, format: yyyy-MM-dd'T'HH:mm:ss\";}}}s:24:\"AlterationQuotationInput\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:15:\"clientRequestId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"client
  request id, to identify a request\";}s:17:\"clientRequestTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:50:\"client
  request time, format: yyyy-MM-dd'T'HH:mm:ss\";}s:13:\"effectiveDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:45:\"effective
  date, format: yyyy-MM-dd'T'HH:mm:ss\";}s:13:\"freelookInput\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/FreelookInput\";}s:8:\"policyId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:29:\"policy
  alteration internal id\";}s:9:\"serviceId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:36:\"alteration
  type id<br>201 - Freelook\";}s:14:\"submissionDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:46:\"submission
  date, format: yyyy-MM-dd'T'HH:mm:ss\";}}}s:29:\"AlterationQuotationResultInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:15:\"clientRequestId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"client
  request id, to identify a request\";}s:17:\"clientRequestTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:50:\"client
  request time, format: yyyy-MM-dd'T'HH:mm:ss\";}s:13:\"effectiveDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:45:\"effective
  date, format: yyyy-MM-dd'T'HH:mm:ss\";}s:10:\"exceptions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:18:\"exception
  messages\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"policyId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:29:\"policy
  alteration internal id\";}s:18:\"freelookResultInfo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/FreelookResultInfo\";}s:6:\"result\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:95:\"result.
  <br>1 - Success<br>0 - Failed with business issue<br>-1 - Failed with unknown exception\";}s:9:\"serviceId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:36:\"alteration
  type id<br>201 - Freelook\";}s:14:\"submissionDate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:46:\"submission
  date, format: yyyy-MM-dd'T'HH:mm:ss\";}}}s:13:\"FreelookInput\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"alteredCoverages\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:24:\"coverage
  to be alterated\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/CoverageInput\";}}s:14:\"freelookReason\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:147:\"freelook
  reason<br>51 - Financial Difficulty<br>52 - Agent Misrepresented<br>53 - Poor Service
  from Agent<br>54 - Mismatched Product<br>55 - Others\";}}}s:18:\"FreelookResultInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:8:\"adminFee\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:29:\"alteration
  administration fee\";}s:14:\"advancePremium\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:15:\"advance
  premium\";}s:10:\"medicalFee\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:11:\"medical
  fee\";}s:8:\"suspense\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:16:\"premium
  suspense\";}s:17:\"totalExtraPremium\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:23:\"total
  addtional premium\";}s:17:\"totalGrossPremium\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:19:\"total
  gross premium\";}s:17:\"totalRefundAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:19:\"total
  refund amount\";}}}s:13:\"CoverageInput\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"coverageId\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:36:\"coverage
  internal id to be alterated\";}}}s:9:\"GenericVO\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"extObject\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/GenericVO\";}}}s:23:\"GenericValidationResult\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"ruleType\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}}s:24:\"PolicyInfo_ExtendedProps\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:26:\"CoverageInfo_ExtendedProps\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:25:\"PayPlanInfo_ExtendedProps\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:33:\"CoverageInsuredInfo_ExtendedProps\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:32:\"PremInvestRateInfo_ExtendedProps\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:32:\"RecurringTopupInfo_ExtendedProps\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:42:\"RecurringTopupInvestRateInfo_ExtendedProps\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:32:\"ContractInvestInfo_ExtendedProps\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:31:\"CoverageAgentInfo_ExtendedProps\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:30:\"PolicyHolderInfo_ExtendedProps\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:32:\"PolicyCustomerInfo_ExtendedProps\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:25:\"InsuredInfo_ExtendedProps\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:29:\"BeneficiaryInfo_ExtendedProps\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:30:\"PayerAccountInfo_ExtendedProps\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:37:\"CustomerDeclarationInfo_ExtendedProps\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:43:\"CustomerDeclarationDetailInfo_ExtendedProps\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:34:\"AgentDeclarationInfo_ExtendedProps\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:24:\"CustomerInfo_AddressInfo\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:7:\"Address\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Address\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/AddressInfo\";}}}}"
...
