---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":2:{s:7:\"version\";s:3:\"2.1\";s:5:\"title\";s:18:\"Magento
  Enterprise\";}"
host: ee.demo.wearejh.com
basePath: /rest/default
paths:
  /V1/store/storeViews:
    get:
      tags:
      - storeStoreRepositoryV1
      description: Retrieve list of all stores
      operationId: storeStoreRepositoryV1GetListGet
      responses:
        200:
          description: 200 Success.
          schema:
            type: array
            items:
              $ref: '#/definitions/store-data-store-interface'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
  /V1/store/storeGroups:
    get:
      tags:
      - storeGroupRepositoryV1
      description: Retrieve list of all groups
      operationId: storeGroupRepositoryV1GetListGet
      responses:
        200:
          description: 200 Success.
          schema:
            type: array
            items:
              $ref: '#/definitions/store-data-group-interface'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
  /V1/store/websites:
    get:
      tags:
      - storeWebsiteRepositoryV1
      description: Retrieve list of all websites
      operationId: storeWebsiteRepositoryV1GetListGet
      responses:
        200:
          description: 200 Success.
          schema:
            type: array
            items:
              $ref: '#/definitions/store-data-website-interface'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
  /V1/store/storeConfigs:
    get:
      tags:
      - storeStoreConfigManagerV1
      description: ""
      operationId: storeStoreConfigManagerV1GetStoreConfigsGet
      parameters:
      - name: storeCodes
        in: query
        type: array
        items:
          type: string
        required: false
      responses:
        200:
          description: 200 Success.
          schema:
            type: array
            items:
              $ref: '#/definitions/store-data-store-config-interface'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
  /V1/directory/currency:
    get:
      tags:
      - directoryCurrencyInformationAcquirerV1
      description: Get currency information for the store.
      operationId: directoryCurrencyInformationAcquirerV1GetCurrencyInfoGet
      responses:
        200:
          description: 200 Success.
          schema:
            $ref: '#/definitions/directory-data-currency-information-interface'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
  /V1/directory/countries:
    get:
      tags:
      - directoryCountryInformationAcquirerV1
      description: Get all countries and regions information for the store.
      operationId: directoryCountryInformationAcquirerV1GetCountriesInfoGet
      responses:
        200:
          description: 200 Success.
          schema:
            type: array
            items:
              $ref: '#/definitions/directory-data-country-information-interface'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
  /V1/directory/countries/{countryId}:
    get:
      tags:
      - directoryCountryInformationAcquirerV1
      description: Get country and region information for the store.
      operationId: directoryCountryInformationAcquirerV1GetCountryInfoGet
      parameters:
      - name: countryId
        in: path
        type: string
        required: true
      responses:
        200:
          description: 200 Success.
          schema:
            $ref: '#/definitions/directory-data-country-information-interface'
        400:
          description: 400 Bad Request
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
  /V1/customers:
    post:
      tags:
      - customerAccountManagementV1
      description: Create customer account. Perform necessary business operations
        like sending email.
      operationId: customerAccountManagementV1CreateAccountPost
      parameters:
      - name: $body
        in: body
        schema:
          required:
          - customer
          properties:
            customer:
              $ref: '#/definitions/customer-data-customer-interface'
            password:
              type: string
            redirectUrl:
              type: string
          type: object
      responses:
        200:
          description: 200 Success.
          schema:
            $ref: '#/definitions/customer-data-customer-interface'
        500:
          description: Internal Server error
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
  /V1/customers/{customerId}/password/resetLinkToken/{resetPasswordLinkToken}:
    get:
      tags:
      - customerAccountManagementV1
      description: Check if password reset token is valid.
      operationId: customerAccountManagementV1ValidateResetPasswordLinkTokenGet
      parameters:
      - name: customerId
        in: path
        type: integer
        required: true
      - name: resetPasswordLinkToken
        in: path
        type: string
        required: true
      responses:
        200:
          description: 200 Success.
          schema:
            type: boolean
            description: True if the token is valid
        400:
          description: 400 Bad Request
          schema:
            $ref: '#/definitions/error-response'
        500:
          description: Internal Server error
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
  /V1/customers/password:
    put:
      tags:
      - customerAccountManagementV1
      description: Send an email to the customer with a password reset link.
      operationId: customerAccountManagementV1InitiatePasswordResetPut
      parameters:
      - name: $body
        in: body
        schema:
          required:
          - email
          - template
          properties:
            email:
              type: string
            template:
              type: string
            websiteId:
              type: integer
          type: object
      responses:
        200:
          description: 200 Success.
          schema:
            type: boolean
            description: true on success
        500:
          description: Internal Server error
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
  /V1/customers/isEmailAvailable:
    post:
      tags:
      - customerAccountManagementV1
      description: Check if given email is associated with a customer account in given
        website.
      operationId: customerAccountManagementV1IsEmailAvailablePost
      parameters:
      - name: $body
        in: body
        schema:
          required:
          - customerEmail
          properties:
            customerEmail:
              type: string
            websiteId:
              type: integer
              description: If not set, will use the current websiteId
          type: object
      responses:
        200:
          description: 200 Success.
          schema:
            type: boolean
        500:
          description: Internal Server error
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
  /V1/cmsPage/{pageId}:
    get:
      tags:
      - cmsPageRepositoryV1
      description: Retrieve page.
      operationId: cmsPageRepositoryV1GetByIdGet
      parameters:
      - name: pageId
        in: path
        type: integer
        required: true
      responses:
        200:
          description: 200 Success.
          schema:
            $ref: '#/definitions/cms-data-page-interface'
        500:
          description: Internal Server error
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
  /V1/cmsBlock/{blockId}:
    get:
      tags:
      - cmsBlockRepositoryV1
      description: Retrieve block.
      operationId: cmsBlockRepositoryV1GetByIdGet
      parameters:
      - name: blockId
        in: path
        type: integer
        required: true
      responses:
        200:
          description: 200 Success.
          schema:
            $ref: '#/definitions/cms-data-block-interface'
        500:
          description: Internal Server error
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
  /V1/products:
    get:
      tags:
      - catalogProductRepositoryV1
      description: Get product list
      operationId: catalogProductRepositoryV1GetListGet
      parameters:
      - name: searchCriteria[filterGroups][][filters][][field]
        in: query
        type: string
        description: Field
      - name: searchCriteria[filterGroups][][filters][][value]
        in: query
        type: string
        description: Value
      - name: searchCriteria[filterGroups][][filters][][conditionType]
        in: query
        type: string
        description: Condition type
      - name: searchCriteria[sortOrders][][field]
        in: query
        type: string
        description: Sorting field.
      - name: searchCriteria[sortOrders][][direction]
        in: query
        type: string
        description: Sorting direction.
      - name: searchCriteria[pageSize]
        in: query
        type: integer
        description: Page size.
      - name: searchCriteria[currentPage]
        in: query
        type: integer
        description: Current page.
      responses:
        200:
          description: 200 Success.
          schema:
            $ref: '#/definitions/catalog-data-product-search-results-interface'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
  /V1/products/{sku}:
    get:
      tags:
      - catalogProductRepositoryV1
      description: Get info about product by product SKU
      operationId: catalogProductRepositoryV1GetGet
      parameters:
      - name: sku
        in: path
        type: string
        required: true
      - name: editMode
        in: query
        type: boolean
        required: false
      - name: storeId
        in: query
        type: integer
        required: false
      - name: forceReload
        in: query
        type: boolean
        required: false
      responses:
        200:
          description: 200 Success.
          schema:
            $ref: '#/definitions/catalog-data-product-interface'
        400:
          description: 400 Bad Request
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
  /V1/products/attributes/{attributeCode}:
    get:
      tags:
      - catalogProductAttributeRepositoryV1
      description: Retrieve specific attribute
      operationId: catalogProductAttributeRepositoryV1GetGet
      parameters:
      - name: attributeCode
        in: path
        type: string
        required: true
      responses:
        200:
          description: 200 Success.
          schema:
            $ref: '#/definitions/catalog-data-product-attribute-interface'
        400:
          description: 400 Bad Request
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
  /V1/products/types:
    get:
      tags:
      - catalogProductTypeListV1
      description: Retrieve available product types
      operationId: catalogProductTypeListV1GetProductTypesGet
      responses:
        200:
          description: 200 Success.
          schema:
            type: array
            items:
              $ref: '#/definitions/catalog-data-product-type-interface'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
  /V1/products/attribute-sets/sets/list:
    get:
      tags:
      - catalogAttributeSetRepositoryV1
      description: Retrieve list of Attribute Sets
      operationId: catalogAttributeSetRepositoryV1GetListGet
      parameters:
      - name: searchCriteria[filterGroups][][filters][][field]
        in: query
        type: string
        description: Field
      - name: searchCriteria[filterGroups][][filters][][value]
        in: query
        type: string
        description: Value
      - name: searchCriteria[filterGroups][][filters][][conditionType]
        in: query
        type: string
        description: Condition type
      - name: searchCriteria[sortOrders][][field]
        in: query
        type: string
        description: Sorting field.
      - name: searchCriteria[sortOrders][][direction]
        in: query
        type: string
        description: Sorting direction.
      - name: searchCriteria[pageSize]
        in: query
        type: integer
        description: Page size.
      - name: searchCriteria[currentPage]
        in: query
        type: integer
        description: Current page.
      responses:
        200:
          description: 200 Success.
          schema:
            $ref: '#/definitions/eav-data-attribute-set-search-results-interface'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
  /V1/products/attribute-sets/{attributeSetId}:
    get:
      tags:
      - catalogAttributeSetRepositoryV1
      description: Retrieve attribute set information based on given ID
      operationId: catalogAttributeSetRepositoryV1GetGet
      parameters:
      - name: attributeSetId
        in: path
        type: integer
        required: true
      responses:
        200:
          description: 200 Success.
          schema:
            $ref: '#/definitions/eav-data-attribute-set-interface'
        400:
          description: 400 Bad Request
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
  /V1/products/attribute-sets/{attributeSetId}/attributes:
    get:
      tags:
      - catalogProductAttributeManagementV1
      description: Retrieve related attributes based on given attribute set ID
      operationId: catalogProductAttributeManagementV1GetAttributesGet
      parameters:
      - name: attributeSetId
        in: path
        type: string
        required: true
      responses:
        200:
          description: 200 Success.
          schema:
            type: array
            items:
              $ref: '#/definitions/catalog-data-product-attribute-interface'
        400:
          description: 400 Bad Request
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
  /V1/products/attribute-sets/groups/list:
    get:
      tags:
      - catalogProductAttributeGroupRepositoryV1
      description: Retrieve list of attribute groups
      operationId: catalogProductAttributeGroupRepositoryV1GetListGet
      parameters:
      - name: searchCriteria[filterGroups][][filters][][field]
        in: query
        type: string
        description: Field
      - name: searchCriteria[filterGroups][][filters][][value]
        in: query
        type: string
        description: Value
      - name: searchCriteria[filterGroups][][filters][][conditionType]
        in: query
        type: string
        description: Condition type
      - name: searchCriteria[sortOrders][][field]
        in: query
        type: string
        description: Sorting field.
      - name: searchCriteria[sortOrders][][direction]
        in: query
        type: string
        description: Sorting direction.
      - name: searchCriteria[pageSize]
        in: query
        type: integer
        description: Page size.
      - name: searchCriteria[currentPage]
        in: query
        type: integer
        description: Current page.
      responses:
        200:
          description: 200 Success.
          schema:
            $ref: '#/definitions/eav-data-attribute-group-search-results-interface'
        400:
          description: 400 Bad Request
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
  /V1/products/attributes/{attributeCode}/options:
    get:
      tags:
      - catalogProductAttributeOptionManagementV1
      description: Retrieve list of attribute options
      operationId: catalogProductAttributeOptionManagementV1GetItemsGet
      parameters:
      - name: attributeCode
        in: path
        type: string
        required: true
      responses:
        200:
          description: 200 Success.
          schema:
            type: array
            items:
              $ref: '#/definitions/eav-data-attribute-option-interface'
        400:
          description: 400 Bad Request
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
  /V1/products/media/types/{attributeSetName}:
    get:
      tags:
      - catalogProductMediaAttributeManagementV1
      description: Retrieve the list of media attributes (fronted input type is media_image)
        assigned to the given attribute set.
      operationId: catalogProductMediaAttributeManagementV1GetListGet
      parameters:
      - name: attributeSetName
        in: path
        type: string
        required: true
      responses:
        200:
          description: 200 Success.
          schema:
            type: array
            description: list of media attributes
            items:
              $ref: '#/definitions/catalog-data-product-attribute-interface'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
  /V1/products/{sku}/media/{entryId}:
    get:
      tags:
      - catalogProductAttributeMediaGalleryManagementV1
      description: Return information about gallery entry
      operationId: catalogProductAttributeMediaGalleryManagementV1GetGet
      parameters:
      - name: sku
        in: path
        type: string
        required: true
      - name: entryId
        in: path
        type: integer
        required: true
      responses:
        200:
          description: 200 Success.
          schema:
            $ref: '#/definitions/catalog-data-product-attribute-media-gallery-entry-interface'
        400:
          description: 400 Bad Request
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
  /V1/products/{sku}/media:
    get:
      tags:
      - catalogProductAttributeMediaGalleryManagementV1
      description: Retrieve the list of gallery entries associated with given product
      operationId: catalogProductAttributeMediaGalleryManagementV1GetListGet
      parameters:
      - name: sku
        in: path
        type: string
        required: true
      responses:
        200:
          description: 200 Success.
          schema:
            type: array
            items:
              $ref: '#/definitions/catalog-data-product-attribute-media-gallery-entry-interface'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
  /V1/products/{sku}/group-prices/{customerGroupId}/tiers:
    get:
      tags:
      - catalogProductTierPriceManagementV1
      description: Get tier price of product
      operationId: catalogProductTierPriceManagementV1GetListGet
      parameters:
      - name: sku
        in: path
        type: string
        required: true
      - name: customerGroupId
        in: path
        type: string
        required: true
        description: '''all'' can be used to specify ''ALL GROUPS'''
      responses:
        200:
          description: 200 Success.
          schema:
            type: array
            items:
              $ref: '#/definitions/catalog-data-product-tier-price-interface'
        400:
          description: 400 Bad Request
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
  /V1/categories/{categoryId}:
    get:
      tags:
      - catalogCategoryRepositoryV1
      description: Get info about category by category id
      operationId: catalogCategoryRepositoryV1GetGet
      parameters:
      - name: categoryId
        in: path
        type: integer
        required: true
      - name: storeId
        in: query
        type: integer
        required: false
      responses:
        200:
          description: 200 Success.
          schema:
            $ref: '#/definitions/catalog-data-category-interface'
        400:
          description: 400 Bad Request
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
  /V1/categories:
    get:
      tags:
      - catalogCategoryManagementV1
      description: Retrieve list of categories
      operationId: catalogCategoryManagementV1GetTreeGet
      parameters:
      - name: rootCategoryId
        in: query
        type: integer
        required: false
      - name: depth
        in: query
        type: integer
        required: false
      responses:
        200:
          description: 200 Success.
          schema:
            $ref: '#/definitions/catalog-data-category-tree-interface'
        400:
          description: 400 Bad Request
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
  /V1/products/{sku}/options:
    get:
      tags:
      - catalogProductCustomOptionRepositoryV1
      description: Get the list of custom options for a specific product
      operationId: catalogProductCustomOptionRepositoryV1GetListGet
      parameters:
      - name: sku
        in: path
        type: string
        required: true
      responses:
        200:
          description: 200 Success.
          schema:
            type: array
            items:
              $ref: '#/definitions/catalog-data-product-custom-option-interface'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
  /V1/products/{sku}/options/{optionId}:
    get:
      tags:
      - catalogProductCustomOptionRepositoryV1
      description: Get custom option for a specific product
      operationId: catalogProductCustomOptionRepositoryV1GetGet
      parameters:
      - name: sku
        in: path
        type: string
        required: true
      - name: optionId
        in: path
        type: integer
        required: true
      responses:
        200:
          description: 200 Success.
          schema:
            $ref: '#/definitions/catalog-data-product-custom-option-interface'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
  /V1/products/links/types:
    get:
      tags:
      - catalogProductLinkTypeListV1
      description: Retrieve information about available product link types
      operationId: catalogProductLinkTypeListV1GetItemsGet
      responses:
        200:
          description: 200 Success.
          schema:
            type: array
            items:
              $ref: '#/definitions/catalog-data-product-link-type-interface'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
  /V1/products/links/{type}/attributes:
    get:
      tags:
      - catalogProductLinkTypeListV1
      description: Provide a list of the product link type attributes
      operationId: catalogProductLinkTypeListV1GetItemAttributesGet
      parameters:
      - name: type
        in: path
        type: string
        required: true
      responses:
        200:
          description: 200 Success.
          schema:
            type: array
            items:
              $ref: '#/definitions/catalog-data-product-link-attribute-interface'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
  /V1/products/{sku}/links/{type}:
    get:
      tags:
      - catalogProductLinkManagementV1
      description: Provide the list of links for a specific product
      operationId: catalogProductLinkManagementV1GetLinkedItemsByTypeGet
      parameters:
      - name: sku
        in: path
        type: string
        required: true
      - name: type
        in: path
        type: string
        required: true
      responses:
        200:
          description: 200 Success.
          schema:
            type: array
            items:
              $ref: '#/definitions/catalog-data-product-link-interface'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
  /V1/categories/{categoryId}/products:
    get:
      tags:
      - catalogCategoryLinkManagementV1
      description: Get products assigned to category
      operationId: catalogCategoryLinkManagementV1GetAssignedProductsGet
      parameters:
      - name: categoryId
        in: path
        type: integer
        required: true
      responses:
        200:
          description: 200 Success.
          schema:
            type: array
            items:
              $ref: '#/definitions/catalog-data-category-product-link-interface'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
  /V1/stockStatuses/{productSku}:
    get:
      tags:
      - catalogInventoryStockRegistryV1
      description: ""
      operationId: catalogInventoryStockRegistryV1GetStockStatusBySkuGet
      parameters:
      - name: productSku
        in: path
        type: string
        required: true
      - name: scopeId
        in: query
        type: integer
        required: false
      responses:
        200:
          description: 200 Success.
          schema:
            $ref: '#/definitions/catalog-inventory-data-stock-status-interface'
        400:
          description: 400 Bad Request
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
  /V1/search:
    get:
      tags:
      - searchV1
      description: Make Full Text Search and return found Documents
      operationId: searchV1SearchGet
      parameters:
      - name: searchCriteria[requestName]
        in: query
        type: string
      - name: searchCriteria[filterGroups][][filters][][field]
        in: query
        type: string
        description: Field
      - name: searchCriteria[filterGroups][][filters][][value]
        in: query
        type: string
        description: Value
      - name: searchCriteria[filterGroups][][filters][][conditionType]
        in: query
        type: string
        description: Condition type
      - name: searchCriteria[sortOrders][][field]
        in: query
        type: string
        description: Sorting field.
      - name: searchCriteria[sortOrders][][direction]
        in: query
        type: string
        description: Sorting direction.
      - name: searchCriteria[pageSize]
        in: query
        type: integer
        description: Page size.
      - name: searchCriteria[currentPage]
        in: query
        type: integer
        description: Current page.
      responses:
        200:
          description: 200 Success.
          schema:
            $ref: '#/definitions/framework-search-search-result-interface'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
  /V1/guest-carts/{cartId}:
    get:
      tags:
      - quoteGuestCartRepositoryV1
      description: Enable a guest user to return information for a specified cart.
      operationId: quoteGuestCartRepositoryV1GetGet
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
      responses:
        200:
          description: 200 Success.
          schema:
            $ref: '#/definitions/quote-data-cart-interface'
        400:
          description: 400 Bad Request
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
  /V1/guest-carts:
    post:
      tags:
      - quoteGuestCartManagementV1
      description: Enable an customer or guest user to create an empty cart and quote
        for an anonymous customer.
      operationId: quoteGuestCartManagementV1CreateEmptyCartPost
      responses:
        200:
          description: 200 Success.
          schema:
            type: string
            description: Cart ID.
        400:
          description: 400 Bad Request
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
  /V1/guest-carts/{cartId}/order:
    put:
      tags:
      - quoteGuestCartManagementV1
      description: Place an order for a specified cart.
      operationId: quoteGuestCartManagementV1PlaceOrderPut
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
        description: The cart ID.
      - name: $body
        in: body
        schema:
          properties:
            paymentMethod:
              $ref: '#/definitions/quote-data-payment-interface'
          type: object
      responses:
        200:
          description: 200 Success.
          schema:
            type: integer
            description: Order ID.
        400:
          description: 400 Bad Request
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
  /V1/guest-carts/{cartId}/shipping-methods:
    get:
      tags:
      - quoteGuestShippingMethodManagementV1
      description: List applicable shipping methods for a specified quote.
      operationId: quoteGuestShippingMethodManagementV1GetListGet
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
        description: The shopping cart ID.
      responses:
        200:
          description: 200 Success.
          schema:
            type: array
            description: An array of shipping methods.
            items:
              $ref: '#/definitions/quote-data-shipping-method-interface'
        400:
          description: 400 Bad Request
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
  /V1/guest-carts/{cartId}/estimate-shipping-methods:
    post:
      tags:
      - quoteGuestShipmentEstimationV1
      description: Estimate shipping by address and return list of available shipping
        methods
      operationId: quoteGuestShipmentEstimationV1EstimateByExtendedAddressPost
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
      - name: $body
        in: body
        schema:
          required:
          - address
          properties:
            address:
              $ref: '#/definitions/quote-data-address-interface'
          type: object
      responses:
        200:
          description: 200 Success.
          schema:
            type: array
            description: An array of shipping methods
            items:
              $ref: '#/definitions/quote-data-shipping-method-interface'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
  /V1/guest-carts/{cartId}/items:
    get:
      tags:
      - quoteGuestCartItemRepositoryV1
      description: List items that are assigned to a specified cart.
      operationId: quoteGuestCartItemRepositoryV1GetListGet
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
        description: The cart ID.
      responses:
        200:
          description: 200 Success.
          schema:
            type: array
            description: Array of items.
            items:
              $ref: '#/definitions/quote-data-cart-item-interface'
        400:
          description: 400 Bad Request
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
    post:
      tags:
      - quoteGuestCartItemRepositoryV1
      description: Add the specified item to the specified cart.
      operationId: quoteGuestCartItemRepositoryV1SavePost
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
      - name: $body
        in: body
        schema:
          required:
          - cartItem
          properties:
            cartItem:
              $ref: '#/definitions/quote-data-cart-item-interface'
          type: object
      responses:
        200:
          description: 200 Success.
          schema:
            $ref: '#/definitions/quote-data-cart-item-interface'
        400:
          description: 400 Bad Request
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
  /V1/guest-carts/{cartId}/items/{itemId}:
    put:
      tags:
      - quoteGuestCartItemRepositoryV1
      description: Add the specified item to the specified cart.
      operationId: quoteGuestCartItemRepositoryV1SavePut
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
      - name: itemId
        in: path
        type: string
        required: true
      - name: $body
        in: body
        schema:
          required:
          - cartItem
          properties:
            cartItem:
              $ref: '#/definitions/quote-data-cart-item-interface'
          type: object
      responses:
        200:
          description: 200 Success.
          schema:
            $ref: '#/definitions/quote-data-cart-item-interface'
        400:
          description: 400 Bad Request
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
    delete:
      tags:
      - quoteGuestCartItemRepositoryV1
      description: Remove the specified item from the specified cart.
      operationId: quoteGuestCartItemRepositoryV1DeleteByIdDelete
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
        description: The cart ID.
      - name: itemId
        in: path
        type: integer
        required: true
        description: The item ID of the item to be removed.
      responses:
        200:
          description: 200 Success.
          schema:
            type: boolean
        400:
          description: 400 Bad Request
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
  /V1/guest-carts/{cartId}/selected-payment-method:
    get:
      tags:
      - quoteGuestPaymentMethodManagementV1
      description: Return the payment method for a specified shopping cart.
      operationId: quoteGuestPaymentMethodManagementV1GetGet
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
        description: The cart ID.
      responses:
        200:
          description: 200 Success.
          schema:
            $ref: '#/definitions/quote-data-payment-interface'
        400:
          description: 400 Bad Request
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
    put:
      tags:
      - quoteGuestPaymentMethodManagementV1
      description: Add a specified payment method to a specified shopping cart.
      operationId: quoteGuestPaymentMethodManagementV1SetPut
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
        description: The cart ID.
      - name: $body
        in: body
        schema:
          required:
          - method
          properties:
            method:
              $ref: '#/definitions/quote-data-payment-interface'
          type: object
      responses:
        200:
          description: 200 Success.
          schema:
            type: integer
            description: Payment method ID.
        400:
          description: 400 Bad Request
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
  /V1/guest-carts/{cartId}/payment-methods:
    get:
      tags:
      - quoteGuestPaymentMethodManagementV1
      description: List available payment methods for a specified shopping cart. This
        call returns an array of objects, but detailed information about each objectu2019s
        attributes might not be included.  See http://devdocs.magento.com/codelinks/attributes.html#GuestPaymentMethodManagementInterface
        to determine which call to use to get detailed information about all attributes
        for an object.
      operationId: quoteGuestPaymentMethodManagementV1GetListGet
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
        description: The cart ID.
      responses:
        200:
          description: 200 Success.
          schema:
            type: array
            description: Array of payment methods.
            items:
              $ref: '#/definitions/quote-data-payment-method-interface'
        400:
          description: 400 Bad Request
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
  /V1/guest-carts/{cartId}/billing-address:
    get:
      tags:
      - quoteGuestBillingAddressManagementV1
      description: Return the billing address for a specified quote.
      operationId: quoteGuestBillingAddressManagementV1GetGet
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
        description: The cart ID.
      responses:
        200:
          description: 200 Success.
          schema:
            $ref: '#/definitions/quote-data-address-interface'
        400:
          description: 400 Bad Request
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
    post:
      tags:
      - quoteGuestBillingAddressManagementV1
      description: Assign a specified billing address to a specified cart.
      operationId: quoteGuestBillingAddressManagementV1AssignPost
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
        description: The cart ID.
      - name: $body
        in: body
        schema:
          required:
          - address
          properties:
            address:
              $ref: '#/definitions/quote-data-address-interface'
          type: object
      responses:
        200:
          description: 200 Success.
          schema:
            type: integer
            description: Address ID.
        400:
          description: 400 Bad Request
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
  /V1/guest-carts/{cartId}/coupons:
    get:
      tags:
      - quoteGuestCouponManagementV1
      description: Return information for a coupon in a specified cart.
      operationId: quoteGuestCouponManagementV1GetGet
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
        description: The cart ID.
      responses:
        200:
          description: 200 Success.
          schema:
            type: string
            description: The coupon code data.
        400:
          description: 400 Bad Request
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
    delete:
      tags:
      - quoteGuestCouponManagementV1
      description: Delete a coupon from a specified cart.
      operationId: quoteGuestCouponManagementV1RemoveDelete
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
        description: The cart ID.
      responses:
        200:
          description: 200 Success.
          schema:
            type: boolean
        400:
          description: 400 Bad Request
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
  /V1/guest-carts/{cartId}/coupons/{couponCode}:
    put:
      tags:
      - quoteGuestCouponManagementV1
      description: Add a coupon by code to a specified cart.
      operationId: quoteGuestCouponManagementV1SetPut
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
        description: The cart ID.
      - name: couponCode
        in: path
        type: string
        required: true
        description: The coupon code data.
      responses:
        200:
          description: 200 Success.
          schema:
            type: boolean
        400:
          description: 400 Bad Request
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
  /V1/guest-carts/{cartId}/collect-totals:
    put:
      tags:
      - quoteGuestCartTotalManagementV1
      description: Set shipping/billing methods and additional data for cart and collect
        totals for guest.
      operationId: quoteGuestCartTotalManagementV1CollectTotalsPut
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
        description: The cart ID.
      - name: $body
        in: body
        schema:
          required:
          - paymentMethod
          properties:
            paymentMethod:
              $ref: '#/definitions/quote-data-payment-interface'
            shippingCarrierCode:
              type: string
              description: The carrier code.
            shippingMethodCode:
              type: string
              description: The shipping method code.
            additionalData:
              $ref: '#/definitions/quote-data-totals-additional-data-interface'
          type: object
      responses:
        200:
          description: 200 Success.
          schema:
            $ref: '#/definitions/quote-data-totals-interface'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
  /V1/guest-carts/{cartId}/totals:
    get:
      tags:
      - quoteGuestCartTotalRepositoryV1
      description: Return quote totals data for a specified cart.
      operationId: quoteGuestCartTotalRepositoryV1GetGet
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
        description: The cart ID.
      responses:
        200:
          description: 200 Success.
          schema:
            $ref: '#/definitions/quote-data-totals-interface'
        400:
          description: 400 Bad Request
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
  /V1/guest-carts/{cartId}/shipping-information:
    post:
      tags:
      - checkoutGuestShippingInformationManagementV1
      description: ""
      operationId: checkoutGuestShippingInformationManagementV1SaveAddressInformationPost
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
      - name: $body
        in: body
        schema:
          required:
          - addressInformation
          properties:
            addressInformation:
              $ref: '#/definitions/checkout-data-shipping-information-interface'
          type: object
      responses:
        200:
          description: 200 Success.
          schema:
            $ref: '#/definitions/checkout-data-payment-details-interface'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
  /V1/guest-carts/{cartId}/totals-information:
    post:
      tags:
      - checkoutGuestTotalsInformationManagementV1
      description: Calculate quote totals based on address and shipping method.
      operationId: checkoutGuestTotalsInformationManagementV1CalculatePost
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
      - name: $body
        in: body
        schema:
          required:
          - addressInformation
          properties:
            addressInformation:
              $ref: '#/definitions/checkout-data-totals-information-interface'
          type: object
      responses:
        200:
          description: 200 Success.
          schema:
            $ref: '#/definitions/quote-data-totals-interface'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
  /V1/guest-carts/{cartId}/payment-information:
    post:
      tags:
      - checkoutGuestPaymentInformationManagementV1
      description: Set payment information and place order for a specified cart.
      operationId: checkoutGuestPaymentInformationManagementV1SavePaymentInformationAndPlaceOrderPost
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
      - name: $body
        in: body
        schema:
          required:
          - email
          - paymentMethod
          properties:
            email:
              type: string
            paymentMethod:
              $ref: '#/definitions/quote-data-payment-interface'
            billingAddress:
              $ref: '#/definitions/quote-data-address-interface'
          type: object
      responses:
        200:
          description: 200 Success.
          schema:
            type: integer
            description: Order ID.
        400:
          description: 400 Bad Request
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
    get:
      tags:
      - checkoutGuestPaymentInformationManagementV1
      description: Get payment information
      operationId: checkoutGuestPaymentInformationManagementV1GetPaymentInformationGet
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
      responses:
        200:
          description: 200 Success.
          schema:
            $ref: '#/definitions/checkout-data-payment-details-interface'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
  /V1/guest-carts/{cartId}/set-payment-information:
    post:
      tags:
      - checkoutGuestPaymentInformationManagementV1
      description: Set payment information for a specified cart.
      operationId: checkoutGuestPaymentInformationManagementV1SavePaymentInformationPost
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
      - name: $body
        in: body
        schema:
          required:
          - email
          - paymentMethod
          properties:
            email:
              type: string
            paymentMethod:
              $ref: '#/definitions/quote-data-payment-interface'
            billingAddress:
              $ref: '#/definitions/quote-data-address-interface'
          type: object
      responses:
        200:
          description: 200 Success.
          schema:
            type: integer
            description: Order ID.
        400:
          description: 400 Bad Request
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
  /V1/configurable-products/{sku}/children:
    get:
      tags:
      - configurableProductLinkManagementV1
      description: Get all children for Configurable product
      operationId: configurableProductLinkManagementV1GetChildrenGet
      parameters:
      - name: sku
        in: path
        type: string
        required: true
      responses:
        200:
          description: 200 Success.
          schema:
            type: array
            items:
              $ref: '#/definitions/catalog-data-product-interface'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
  /V1/configurable-products/{sku}/options/{id}:
    get:
      tags:
      - configurableProductOptionRepositoryV1
      description: Get option for configurable product
      operationId: configurableProductOptionRepositoryV1GetGet
      parameters:
      - name: sku
        in: path
        type: string
        required: true
      - name: id
        in: path
        type: integer
        required: true
      responses:
        200:
          description: 200 Success.
          schema:
            $ref: '#/definitions/configurable-product-data-option-interface'
        400:
          description: 400 Bad Request
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
  /V1/configurable-products/{sku}/options/all:
    get:
      tags:
      - configurableProductOptionRepositoryV1
      description: Get all options for configurable product
      operationId: configurableProductOptionRepositoryV1GetListGet
      parameters:
      - name: sku
        in: path
        type: string
        required: true
      responses:
        200:
          description: 200 Success.
          schema:
            type: array
            items:
              $ref: '#/definitions/configurable-product-data-option-interface'
        400:
          description: 400 Bad Request
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
  /V1/carts/guest-carts/{cartId}/giftCards/{giftCardCode}:
    delete:
      tags:
      - giftCardAccountGuestGiftCardAccountManagementV1
      description: Remove GiftCard Account entity
      operationId: giftCardAccountGuestGiftCardAccountManagementV1DeleteByQuoteIdDelete
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
      - name: giftCardCode
        in: path
        type: string
        required: true
      responses:
        200:
          description: 200 Success.
          schema:
            type: boolean
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
  /V1/carts/guest-carts/{cartId}/giftCards:
    post:
      tags:
      - giftCardAccountGuestGiftCardAccountManagementV1
      description: ""
      operationId: giftCardAccountGuestGiftCardAccountManagementV1AddGiftCardPost
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
      - name: $body
        in: body
        schema:
          required:
          - giftCardAccountData
          properties:
            giftCardAccountData:
              $ref: '#/definitions/gift-card-account-data-gift-card-account-interface'
          type: object
      responses:
        200:
          description: 200 Success.
          schema:
            type: boolean
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
  /V1/carts/guest-carts/{cartId}/checkGiftCard/{giftCardCode}:
    get:
      tags:
      - giftCardAccountGuestGiftCardAccountManagementV1
      description: ""
      operationId: giftCardAccountGuestGiftCardAccountManagementV1CheckGiftCardGet
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
      - name: giftCardCode
        in: path
        type: string
        required: true
      responses:
        200:
          description: 200 Success.
          schema:
            type: number
        400:
          description: 400 Bad Request
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
  /V1/guest-giftregistry/{cartId}/estimate-shipping-methods:
    post:
      tags:
      - giftRegistryGuestCartShippingMethodManagementV1
      description: Estimate shipping
      operationId: giftRegistryGuestCartShippingMethodManagementV1EstimateByRegistryIdPost
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
        description: The shopping cart ID.
      - name: $body
        in: body
        schema:
          required:
          - registryId
          properties:
            registryId:
              type: integer
              description: The estimate registry id
          type: object
      responses:
        200:
          description: 200 Success.
          schema:
            type: array
            description: An array of shipping methods.
            items:
              $ref: '#/definitions/quote-data-shipping-method-interface'
        400:
          description: 400 Bad Request
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
  /V1/guest-carts/{cartId}/gift-message:
    get:
      tags:
      - giftMessageGuestCartRepositoryV1
      description: Return the gift message for a specified order.
      operationId: giftMessageGuestCartRepositoryV1GetGet
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
        description: The shopping cart ID.
      responses:
        200:
          description: 200 Success.
          schema:
            $ref: '#/definitions/gift-message-data-message-interface'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
    post:
      tags:
      - giftMessageGuestCartRepositoryV1
      description: Set the gift message for an entire order.
      operationId: giftMessageGuestCartRepositoryV1SavePost
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
        description: The cart ID.
      - name: $body
        in: body
        schema:
          required:
          - giftMessage
          properties:
            giftMessage:
              $ref: '#/definitions/gift-message-data-message-interface'
          type: object
      responses:
        200:
          description: 200 Success.
          schema:
            type: boolean
        400:
          description: 400 Bad Request
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
  /V1/guest-carts/{cartId}/gift-message/{itemId}:
    get:
      tags:
      - giftMessageGuestItemRepositoryV1
      description: Return the gift message for a specified item in a specified shopping
        cart.
      operationId: giftMessageGuestItemRepositoryV1GetGet
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
        description: The shopping cart ID.
      - name: itemId
        in: path
        type: integer
        required: true
        description: The item ID.
      responses:
        200:
          description: 200 Success.
          schema:
            $ref: '#/definitions/gift-message-data-message-interface'
        400:
          description: 400 Bad Request
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
    post:
      tags:
      - giftMessageGuestItemRepositoryV1
      description: Set the gift message for a specified item in a specified shopping
        cart.
      operationId: giftMessageGuestItemRepositoryV1SavePost
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
        description: The cart ID.
      - name: itemId
        in: path
        type: integer
        required: true
        description: The item ID.
      - name: $body
        in: body
        schema:
          required:
          - giftMessage
          properties:
            giftMessage:
              $ref: '#/definitions/gift-message-data-message-interface'
          type: object
      responses:
        200:
          description: 200 Success.
          schema:
            type: boolean
        400:
          description: 400 Bad Request
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
  /V1/integration/admin/token:
    post:
      tags:
      - integrationAdminTokenServiceV1
      description: Create access token for admin given the admin credentials.
      operationId: integrationAdminTokenServiceV1CreateAdminAccessTokenPost
      parameters:
      - name: $body
        in: body
        schema:
          required:
          - username
          - password
          properties:
            username:
              type: string
            password:
              type: string
          type: object
      responses:
        200:
          description: 200 Success.
          schema:
            type: string
            description: Token created
        400:
          description: 400 Bad Request
          schema:
            $ref: '#/definitions/error-response'
        500:
          description: Internal Server error
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
  /V1/integration/customer/token:
    post:
      tags:
      - integrationCustomerTokenServiceV1
      description: Create access token for admin given the customer credentials.
      operationId: integrationCustomerTokenServiceV1CreateCustomerAccessTokenPost
      parameters:
      - name: $body
        in: body
        schema:
          required:
          - username
          - password
          properties:
            username:
              type: string
            password:
              type: string
          type: object
      responses:
        200:
          description: 200 Success.
          schema:
            type: string
            description: Token created
        400:
          description: 400 Bad Request
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
  /V1/worldpay-guest-carts/{cartId}/payment-information:
    post:
      tags:
      - worldpayGuestPaymentInformationManagementProxyV1
      description: Proxy handler for guest place order
      operationId: worldpayGuestPaymentInformationManagementProxyV1SavePaymentInformationAndPlaceOrderPost
      parameters:
      - name: cartId
        in: path
        type: string
        required: true
      - name: $body
        in: body
        schema:
          required:
          - email
          - paymentMethod
          properties:
            email:
              type: string
            paymentMethod:
              $ref: '#/definitions/quote-data-payment-interface'
            billingAddress:
              $ref: '#/definitions/quote-data-address-interface'
          type: object
      responses:
        200:
          description: 200 Success.
          schema:
            type: integer
            description: Order ID.
        400:
          description: 400 Bad Request
          schema:
            $ref: '#/definitions/error-response'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/error-response'
schemes:
- http
definitions: !php/object "O:8:\"stdClass\":145:{s:14:\"error-response\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"Error
  message\";}s:6:\"errors\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/error-errors\";}s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:10:\"Error
  code\";}s:10:\"parameters\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/error-parameters\";}s:5:\"trace\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Stack
  trace\";}}s:8:\"required\";a:1:{i:0;s:7:\"message\";}}s:12:\"error-errors\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:11:\"Errors
  list\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/error-errors-item\";}}s:17:\"error-errors-item\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:13:\"Error
  details\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"Error
  message\";}s:10:\"parameters\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/error-parameters\";}}}s:16:\"error-parameters\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:21:\"Error
  parameters list\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/error-parameters-item\";}}s:21:\"error-parameters-item\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:21:\"Error
  parameters item\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"resources\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"ACL
  resource\";}s:9:\"fieldName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Missing
  or invalid field name\";}s:10:\"fieldValue\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"Incorrect
  field value\";}}}s:26:\"store-data-store-interface\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:15:\"Store
  interface\";s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"Store
  name\";}s:10:\"website_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:14:\"store_group_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:20:\"extension_attributes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:50:\"#/definitions/store-data-store-extension-interface\";}}s:8:\"required\";a:5:{i:0;s:2:\"id\";i:1;s:4:\"code\";i:2;s:4:\"name\";i:3;s:10:\"website_id\";i:4;s:14:\"store_group_id\";}}s:36:\"store-data-store-extension-interface\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:72:\"ExtensionInterface
  class for @see \\Magento\\Store\\Api\\Data\\StoreInterface\";}s:26:\"store-data-group-interface\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:15:\"Group
  interface\";s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"website_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:16:\"root_category_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:16:\"default_store_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"extension_attributes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:50:\"#/definitions/store-data-group-extension-interface\";}}s:8:\"required\";a:5:{i:0;s:2:\"id\";i:1;s:10:\"website_id\";i:2;s:16:\"root_category_id\";i:3;s:16:\"default_store_id\";i:4;s:4:\"name\";}}s:36:\"store-data-group-extension-interface\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:72:\"ExtensionInterface
  class for @see \\Magento\\Store\\Api\\Data\\GroupInterface\";}s:28:\"store-data-website-interface\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:17:\"Website
  interface\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Website
  name\";}s:16:\"default_group_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:20:\"extension_attributes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:52:\"#/definitions/store-data-website-extension-interface\";}}s:8:\"required\";a:4:{i:0;s:2:\"id\";i:1;s:4:\"code\";i:2;s:4:\"name\";i:3;s:16:\"default_group_id\";}}s:38:\"store-data-website-extension-interface\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:74:\"ExtensionInterface
  class for @see \\Magento\\Store\\Api\\Data\\WebsiteInterface\";}s:33:\"store-data-store-config-interface\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:21:\"StoreConfig
  interface\";s:10:\"properties\";O:8:\"stdClass\":17:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:8:\"Store
  id\";}s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"Store
  code\";}s:10:\"website_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:23:\"Website
  id of the store\";}s:6:\"locale\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Store
  locale\";}s:18:\"base_currency_code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"Base
  currency code\";}s:29:\"default_display_currency_code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Default
  display currency code\";}s:8:\"timezone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"Timezone
  of the store\";}s:11:\"weight_unit\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"The
  unit of weight\";}s:8:\"base_url\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Base
  URL for the store\";}s:13:\"base_link_url\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"Base
  link URL for the store\";}s:15:\"base_static_url\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Base
  static URL for the store\";}s:14:\"base_media_url\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"Base
  media URL for the store\";}s:15:\"secure_base_url\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Secure
  base URL for the store\";}s:20:\"secure_base_link_url\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"Secure
  base link URL for the store\";}s:22:\"secure_base_static_url\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"Secure
  base static URL for the store\";}s:21:\"secure_base_media_url\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"Secure
  base media URL for the store\";}s:20:\"extension_attributes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:57:\"#/definitions/store-data-store-config-extension-interface\";}}s:8:\"required\";a:16:{i:0;s:2:\"id\";i:1;s:4:\"code\";i:2;s:10:\"website_id\";i:3;s:6:\"locale\";i:4;s:18:\"base_currency_code\";i:5;s:29:\"default_display_currency_code\";i:6;s:8:\"timezone\";i:7;s:11:\"weight_unit\";i:8;s:8:\"base_url\";i:9;s:13:\"base_link_url\";i:10;s:15:\"base_static_url\";i:11;s:14:\"base_media_url\";i:12;s:15:\"secure_base_url\";i:13;s:20:\"secure_base_link_url\";i:14;s:22:\"secure_base_static_url\";i:15;s:21:\"secure_base_media_url\";}}s:43:\"store-data-store-config-extension-interface\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:78:\"ExtensionInterface
  class for @see \\Magento\\Store\\Api\\Data\\StoreConfigInterface\";}s:45:\"directory-data-currency-information-interface\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:31:\"Currency
  Information interface.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:18:\"base_currency_code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"The
  base currency code for the store.\";}s:20:\"base_currency_symbol\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:55:\"The
  currency symbol of the base currency for the store.\";}s:29:\"default_display_currency_code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:48:\"The
  default display currency code for the store.\";}s:31:\"default_display_currency_symbol\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:66:\"The
  currency symbol of the default display currency for the store.\";}s:24:\"available_currency_codes\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:49:\"The
  list of allowed currency codes for the store.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:14:\"exchange_rates\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:52:\"The
  list of exchange rate information for the store.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:52:\"#/definitions/directory-data-exchange-rate-interface\";}}s:20:\"extension_attributes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:69:\"#/definitions/directory-data-currency-information-extension-interface\";}}s:8:\"required\";a:6:{i:0;s:18:\"base_currency_code\";i:1;s:20:\"base_currency_symbol\";i:2;s:29:\"default_display_currency_code\";i:3;s:31:\"default_display_currency_symbol\";i:4;s:24:\"available_currency_codes\";i:5;s:14:\"exchange_rates\";}}s:38:\"directory-data-exchange-rate-interface\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:24:\"Exchange
  Rate interface.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"currency_to\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:52:\"The
  currency code associated with the exchange rate.\";}s:4:\"rate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:76:\"The
  exchange rate for the associated currency and the store's base currency.\";}s:20:\"extension_attributes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:62:\"#/definitions/directory-data-exchange-rate-extension-interface\";}}s:8:\"required\";a:2:{i:0;s:11:\"currency_to\";i:1;s:4:\"rate\";}}s:48:\"directory-data-exchange-rate-extension-interface\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:83:\"ExtensionInterface
  class for @see \\Magento\\Directory\\Api\\Data\\ExchangeRateInterface\";}s:55:\"directory-data-currency-information-extension-interface\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:90:\"ExtensionInterface
  class for @see \\Magento\\Directory\\Api\\Data\\CurrencyInformationInterface\";}s:44:\"directory-data-country-information-interface\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:30:\"Country
  Information interface.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"The
  country id for the store.\";}s:23:\"two_letter_abbreviation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:48:\"The
  country 2 letter abbreviation for the store.\";}s:25:\"three_letter_abbreviation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:48:\"The
  country 3 letter abbreviation for the store.\";}s:16:\"full_name_locale\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:54:\"The
  country full name (in store locale) for the store.\";}s:17:\"full_name_english\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:49:\"The
  country full name (in English) for the store.\";}s:17:\"available_regions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:36:\"The
  available regions for the store.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:57:\"#/definitions/directory-data-region-information-interface\";}}s:20:\"extension_attributes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:68:\"#/definitions/directory-data-country-information-extension-interface\";}}s:8:\"required\";a:5:{i:0;s:2:\"id\";i:1;s:23:\"two_letter_abbreviation\";i:2;s:25:\"three_letter_abbreviation\";i:3;s:16:\"full_name_locale\";i:4;s:17:\"full_name_english\";}}s:43:\"directory-data-region-information-interface\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:29:\"Region
  Information interface.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"Region
  id\";}s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Region
  code\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Region
  name\";}s:20:\"extension_attributes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:67:\"#/definitions/directory-data-region-information-extension-interface\";}}s:8:\"required\";a:3:{i:0;s:2:\"id\";i:1;s:4:\"code\";i:2;s:4:\"name\";}}s:53:\"directory-data-region-information-extension-interface\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:88:\"ExtensionInterface
  class for @see \\Magento\\Directory\\Api\\Data\\RegionInformationInterface\";}s:54:\"directory-data-country-information-extension-interface\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:89:\"ExtensionInterface
  class for @see \\Magento\\Directory\\Api\\Data\\CountryInformationInterface\";}s:32:\"customer-data-customer-interface\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:19:\"Customer
  interface.\";s:10:\"properties\";O:8:\"stdClass\":23:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:11:\"Customer
  id\";}s:8:\"group_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:8:\"Group
  id\";}s:15:\"default_billing\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"Default
  billing address id\";}s:16:\"default_shipping\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"Default
  shipping address id\";}s:12:\"confirmation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Confirmation\";}s:10:\"created_at\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"Created
  at time\";}s:10:\"updated_at\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"Updated
  at time\";}s:10:\"created_in\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"Created
  in area\";}s:3:\"dob\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"Date
  of birth\";}s:5:\"email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"Email
  address\";}s:9:\"firstname\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"First
  name\";}s:8:\"lastname\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"Last
  name\";}s:10:\"middlename\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Middle
  name\";}s:6:\"prefix\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"Prefix\";}s:6:\"suffix\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"Suffix\";}s:6:\"gender\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:6:\"Gender\";}s:8:\"store_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:8:\"Store
  id\";}s:6:\"taxvat\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:7:\"Tax
  Vat\";}s:10:\"website_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:10:\"Website
  id\";}s:9:\"addresses\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:19:\"Customer
  addresses.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:45:\"#/definitions/customer-data-address-interface\";}}s:25:\"disable_auto_group_change\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:31:\"Disable
  auto group change flag.\";}s:20:\"extension_attributes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:56:\"#/definitions/customer-data-customer-extension-interface\";}s:17:\"custom_attributes\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:25:\"Custom
  attributes values.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/framework-attribute-interface\";}}}s:8:\"required\";a:3:{i:0;s:5:\"email\";i:1;s:9:\"firstname\";i:2;s:8:\"lastname\";}}s:31:\"customer-data-address-interface\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:27:\"Customer
  address interface.\";s:10:\"properties\";O:8:\"stdClass\":21:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:2:\"ID\";}s:11:\"customer_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:11:\"Customer
  ID\";}s:6:\"region\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/customer-data-region-interface\";}s:9:\"region_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:9:\"Region
  ID\";}s:10:\"country_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"Country
  code in ISO_3166-2 format\";}s:6:\"street\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:6:\"Street\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:7:\"company\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:7:\"Company\";}s:9:\"telephone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"Telephone
  number\";}s:3:\"fax\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"Fax
  number\";}s:8:\"postcode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:8:\"Postcode\";}s:4:\"city\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"City
  name\";}s:9:\"firstname\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"First
  name\";}s:8:\"lastname\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"Last
  name\";}s:10:\"middlename\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Middle
  name\";}s:6:\"prefix\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"Prefix\";}s:6:\"suffix\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"Suffix\";}s:6:\"vat_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"Vat
  id\";}s:16:\"default_shipping\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:44:\"If
  this address is default shipping address.\";}s:15:\"default_billing\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:42:\"If
  this address is default billing address\";}s:20:\"extension_attributes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:55:\"#/definitions/customer-data-address-extension-interface\";}s:17:\"custom_attributes\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:25:\"Custom
  attributes values.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/framework-attribute-interface\";}}}}s:30:\"customer-data-region-interface\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:34:\"Customer
  address region interface.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"region_code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Region
  code\";}s:6:\"region\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"Region\";}s:9:\"region_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:9:\"Region
  id\";}s:20:\"extension_attributes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:54:\"#/definitions/customer-data-region-extension-interface\";}}s:8:\"required\";a:3:{i:0;s:11:\"region_code\";i:1;s:6:\"region\";i:2;s:9:\"region_id\";}}s:40:\"customer-data-region-extension-interface\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:76:\"ExtensionInterface
  class for @see \\Magento\\Customer\\Api\\Data\\RegionInterface\";}s:41:\"customer-data-address-extension-interface\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:77:\"ExtensionInterface
  class for @see \\Magento\\Customer\\Api\\Data\\AddressInterface\";}s:29:\"framework-attribute-interface\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:37:\"Interface
  for custom attribute value.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"attribute_code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Attribute
  code\";}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"Attribute
  value\";}}s:8:\"required\";a:2:{i:0;s:14:\"attribute_code\";i:1;s:5:\"value\";}}s:42:\"customer-data-customer-extension-interface\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:78:\"ExtensionInterface
  class for @see \\Magento\\Customer\\Api\\Data\\CustomerInterface\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"is_subscribed\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}}s:23:\"cms-data-page-interface\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:19:\"CMS
  page interface.\";s:10:\"properties\";O:8:\"stdClass\":19:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:2:\"ID\";}s:10:\"identifier\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"Identifier\";}s:5:\"title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:5:\"Title\";}s:11:\"page_layout\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Page
  layout\";}s:10:\"meta_title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"Meta
  title\";}s:13:\"meta_keywords\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"Meta
  keywords\";}s:16:\"meta_description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"Meta
  description\";}s:15:\"content_heading\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"Content
  heading\";}s:7:\"content\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:7:\"Content\";}s:13:\"creation_time\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"Creation
  time\";}s:11:\"update_time\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Update
  time\";}s:10:\"sort_order\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"Sort
  order\";}s:17:\"layout_update_xml\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"Layout
  update xml\";}s:12:\"custom_theme\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Custom
  theme\";}s:20:\"custom_root_template\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"Custom
  root template\";}s:24:\"custom_layout_update_xml\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"Custom
  layout update xml\";}s:17:\"custom_theme_from\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"Custom
  theme from\";}s:15:\"custom_theme_to\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"Custom
  theme to\";}s:6:\"active\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:6:\"Active\";}}s:8:\"required\";a:1:{i:0;s:10:\"identifier\";}}s:24:\"cms-data-block-interface\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:20:\"CMS
  block interface.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:2:\"ID\";}s:10:\"identifier\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"Identifier\";}s:5:\"title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:5:\"Title\";}s:7:\"content\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:7:\"Content\";}s:13:\"creation_time\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"Creation
  time\";}s:11:\"update_time\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Update
  time\";}s:6:\"active\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:6:\"Active\";}}s:8:\"required\";a:1:{i:0;s:10:\"identifier\";}}s:45:\"catalog-data-product-search-results-interface\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:0:\"\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:16:\"Attributes
  list.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/catalog-data-product-interface\";}}s:15:\"search_criteria\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:49:\"#/definitions/framework-search-criteria-interface\";}s:11:\"total_count\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:12:\"Total
  count.\";}}s:8:\"required\";a:3:{i:0;s:5:\"items\";i:1;s:15:\"search_criteria\";i:2;s:11:\"total_count\";}}s:30:\"catalog-data-product-interface\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:0:\"\";s:10:\"properties\";O:8:\"stdClass\":17:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:2:\"Id\";}s:3:\"sku\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:3:\"Sku\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:4:\"Name\";}s:16:\"attribute_set_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:16:\"Attribute
  set id\";}s:5:\"price\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:5:\"Price\";}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:6:\"Status\";}s:10:\"visibility\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:10:\"Visibility\";}s:7:\"type_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:7:\"Type
  id\";}s:10:\"created_at\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Created
  date\";}s:10:\"updated_at\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Updated
  date\";}s:6:\"weight\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:6:\"Weight\";}s:20:\"extension_attributes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:54:\"#/definitions/catalog-data-product-extension-interface\";}s:13:\"product_links\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:18:\"Product
  links info\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:49:\"#/definitions/catalog-data-product-link-interface\";}}s:7:\"options\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:23:\"List
  of product options\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:58:\"#/definitions/catalog-data-product-custom-option-interface\";}}s:21:\"media_gallery_entries\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:21:\"Media
  gallery entries\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:74:\"#/definitions/catalog-data-product-attribute-media-gallery-entry-interface\";}}s:11:\"tier_prices\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:27:\"List
  of product tier prices\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:55:\"#/definitions/catalog-data-product-tier-price-interface\";}}s:17:\"custom_attributes\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:25:\"Custom
  attributes values.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/framework-attribute-interface\";}}}s:8:\"required\";a:1:{i:0;s:3:\"sku\";}}s:40:\"catalog-data-product-extension-interface\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:76:\"ExtensionInterface
  class for @see \\Magento\\Catalog\\Api\\Data\\ProductInterface\";s:10:\"properties\";O:8:\"stdClass\":7:{s:10:\"stock_item\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:57:\"#/definitions/catalog-inventory-data-stock-item-interface\";}s:22:\"bundle_product_options\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:42:\"#/definitions/bundle-data-option-interface\";}}s:26:\"downloadable_product_links\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:46:\"#/definitions/downloadable-data-link-interface\";}}s:28:\"downloadable_product_samples\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:48:\"#/definitions/downloadable-data-sample-interface\";}}s:16:\"giftcard_amounts\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:54:\"#/definitions/gift-card-data-giftcard-amount-interface\";}}s:28:\"configurable_product_options\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:56:\"#/definitions/configurable-product-data-option-interface\";}}s:26:\"configurable_product_links\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}}s:43:\"catalog-inventory-data-stock-item-interface\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:19:\"Interface
  StockItem\";s:10:\"properties\";O:8:\"stdClass\":27:{s:7:\"item_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"product_id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"stock_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:16:\"Stock
  identifier\";}s:3:\"qty\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}s:11:\"is_in_stock\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:18:\"Stock
  Availability\";}s:14:\"is_qty_decimal\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:33:\"show_default_notification_message\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:18:\"use_config_min_qty\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:7:\"min_qty\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:51:\"Minimal
  quantity available for item status in stock\";}s:23:\"use_config_min_sale_qty\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"min_sale_qty\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:72:\"Minimum
  Qty Allowed in Shopping Cart or NULL when there is no limitation\";}s:23:\"use_config_max_sale_qty\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:12:\"max_sale_qty\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:49:\"Maximum
  Qty Allowed in Shopping Cart data wrapper\";}s:21:\"use_config_backorders\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:10:\"backorders\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:17:\"Backorders
  status\";}s:27:\"use_config_notify_stock_qty\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:16:\"notify_stock_qty\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:38:\"Notify
  for Quantity Below data wrapper\";}s:25:\"use_config_qty_increments\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:14:\"qty_increments\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:32:\"Quantity
  Increments data wrapper\";}s:25:\"use_config_enable_qty_inc\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:21:\"enable_qty_increments\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:38:\"Whether
  Quantity Increments is enabled\";}s:23:\"use_config_manage_stock\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:12:\"manage_stock\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:16:\"Can
  Manage Stock\";}s:14:\"low_stock_date\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"is_decimal_divided\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:25:\"stock_status_changed_auto\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:20:\"extension_attributes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:67:\"#/definitions/catalog-inventory-data-stock-item-extension-interface\";}}s:8:\"required\";a:23:{i:0;s:3:\"qty\";i:1;s:11:\"is_in_stock\";i:2;s:14:\"is_qty_decimal\";i:3;s:33:\"show_default_notification_message\";i:4;s:18:\"use_config_min_qty\";i:5;s:7:\"min_qty\";i:6;s:23:\"use_config_min_sale_qty\";i:7;s:12:\"min_sale_qty\";i:8;s:23:\"use_config_max_sale_qty\";i:9;s:12:\"max_sale_qty\";i:10;s:21:\"use_config_backorders\";i:11;s:10:\"backorders\";i:12;s:27:\"use_config_notify_stock_qty\";i:13;s:16:\"notify_stock_qty\";i:14;s:25:\"use_config_qty_increments\";i:15;s:14:\"qty_increments\";i:16;s:25:\"use_config_enable_qty_inc\";i:17;s:21:\"enable_qty_increments\";i:18;s:23:\"use_config_manage_stock\";i:19;s:12:\"manage_stock\";i:20;s:14:\"low_stock_date\";i:21;s:18:\"is_decimal_divided\";i:22;s:25:\"stock_status_changed_auto\";}}s:53:\"catalog-inventory-data-stock-item-extension-interface\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:87:\"ExtensionInterface
  class for @see \\Magento\\CatalogInventory\\Api\\Data\\StockItemInterface\";}s:28:\"bundle-data-option-interface\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:25:\"Interface
  OptionInterface\";s:10:\"properties\";O:8:\"stdClass\":8:{s:9:\"option_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:9:\"Option
  id\";}s:5:\"title\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Option
  title\";}s:8:\"required\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:18:\"Is
  required option\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"Input
  type\";}s:8:\"position\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:15:\"Option
  position\";}s:3:\"sku\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"Product
  sku\";}s:13:\"product_links\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:13:\"Product
  links\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/bundle-data-link-interface\";}}s:20:\"extension_attributes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:52:\"#/definitions/bundle-data-option-extension-interface\";}}}s:26:\"bundle-data-link-interface\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:23:\"Interface
  LinkInterface\";s:10:\"properties\";O:8:\"stdClass\":10:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"The
  identifier\";}s:3:\"sku\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"Linked
  product sku\";}s:9:\"option_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:9:\"Option
  id\";}s:3:\"qty\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:3:\"Qty\";}s:8:\"position\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:8:\"Position\";}s:10:\"is_default\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:10:\"Is
  default\";}s:5:\"price\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:5:\"Price\";}s:10:\"price_type\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:10:\"Price
  type\";}s:19:\"can_change_quantity\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:33:\"Whether
  quantity could be changed\";}s:20:\"extension_attributes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:50:\"#/definitions/bundle-data-link-extension-interface\";}}s:8:\"required\";a:3:{i:0;s:10:\"is_default\";i:1;s:5:\"price\";i:2;s:10:\"price_type\";}}s:36:\"bundle-data-link-extension-interface\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:72:\"ExtensionInterface
  class for @see \\Magento\\Bundle\\Api\\Data\\LinkInterface\";}s:38:\"bundle-data-option-extension-interface\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:74:\"ExtensionInterface
[...]
