---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":14:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:9:\"x-twitter\";s:12:\"PermittedSoc\";}s:11:\"description\";s:50:\"The
  operations for managing an Amazon MSK cluster.\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache
  2.0 License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:27:\"Managed
  Streaming for Kafka\";s:7:\"version\";s:10:\"2018-11-14\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:89:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/kafka-2018-11-14.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v4\";s:13:\"x-serviceName\";s:5:\"kafka\";}"
host: kafka.amazonaws.com
basePath: /
paths:
  /v1/clusters:
    get:
      description: Returns a list of clusters in an account.
      operationId: ListClusters
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ListClustersRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ListClustersResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        482:
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        483:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a new MSK cluster.
      operationId: CreateCluster
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/CreateClusterRequest'
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/CreateClusterResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        482:
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        483:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        484:
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        485:
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        486:
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
  /v1/clusters/{clusterArn}:
    delete:
      description: Deletes the MSK cluster specified by the Amazon Resource Name (ARN)
        in the request.
      operationId: DeleteCluster
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DeleteClusterRequest'
      - in: path
        name: clusterArn
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DeleteClusterResponse'
        480:
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        481:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        482:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        483:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
    get:
      description: Returns a description of the MSK cluster whose Amazon Resource
        Name (ARN) is specified in the request.
      operationId: DescribeCluster
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/DescribeClusterRequest'
      - in: path
        name: clusterArn
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/DescribeClusterResponse'
        480:
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        481:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        482:
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        483:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        484:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
  /v1/clusters/{clusterArn}/bootstrap-brokers:
    get:
      description: A list of brokers that a client application can use to bootstrap.
      operationId: GetBootstrapBrokers
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/GetBootstrapBrokersRequest'
      - in: path
        name: clusterArn
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/GetBootstrapBrokersResponse'
        480:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        481:
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        482:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        483:
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
        484:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
  /v1/clusters/{clusterArn}/nodes:
    get:
      description: Returns a list of the broker nodes in the cluster.
      operationId: ListNodes
      parameters:
      - in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/ListNodesRequest'
      - in: path
        name: clusterArn
        required: true
        type: string
      responses:
        200:
          description: Success
          schema:
            $ref: '#/definitions/ListNodesResponse'
        480:
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        481:
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        482:
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        483:
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
    parameters:
    - $ref: '#/parameters/Action'
    - $ref: '#/parameters/Version'
    - $ref: '#/parameters/X-Amz-Content-Sha256'
    - $ref: '#/parameters/X-Amz-Date'
    - $ref: '#/parameters/X-Amz-Algorithm'
    - $ref: '#/parameters/X-Amz-Credential'
    - $ref: '#/parameters/X-Amz-Security-Token'
    - $ref: '#/parameters/X-Amz-Signature'
    - $ref: '#/parameters/X-Amz-SignedHeaders'
produces:
- application/json
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":47:{s:19:\"BadRequestException\";O:8:\"stdClass\":0:{}s:20:\"BrokerAZDistribution\";O:8:\"stdClass\":3:{s:11:\"description\";s:242:\"The
  distribution of broker nodes across Availability Zones. By default, broker nodes
  are distributed among three Availability Zones. Currently, the only supported value
  is DEFAULT. You can either specify this value explicitly or leave it out.\";s:4:\"enum\";a:1:{i:0;s:7:\"DEFAULT\";}s:4:\"type\";s:6:\"string\";}s:19:\"BrokerNodeGroupInfo\";O:8:\"stdClass\":4:{s:11:\"description\";s:69:\"Describes
  the setup to be used for Kafka broker nodes in the cluster.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:20:\"BrokerAZDistribution\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/BrokerAZDistribution\";s:11:\"description\";s:59:\"The
  distribution of broker nodes across Availability Zones.\";}s:13:\"ClientSubnets\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/__listOf__string\";s:11:\"description\";s:274:\"The
  list of subnets to connect to in the client virtual private cloud (VPC). AWS creates
  elastic network interfaces inside these subnets. Client applications use elastic
  network interfaces to produce and consume data. Client subnets can't be in Availability
  Zone us-east-1e.\";}s:12:\"InstanceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/__stringMin5Max32\";s:11:\"description\";s:211:\"The
  type of Amazon EC2 instances to use for Kafka brokers. The following instance types
  are allowed: kafka.m5.large, kafka.m5.xlarge, kafka.m5.2xlarge,\nkafka.m5.4xlarge,
  kafka.m5.12xlarge, and kafka.m5.24xlarge.\";}s:14:\"SecurityGroups\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/__listOf__string\";s:11:\"description\";s:156:\"The
  AWS security groups to associate with the elastic network interfaces in order to
  specify who can connect to and communicate with the Amazon MSK cluster.\";}s:11:\"StorageInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/StorageInfo\";s:11:\"description\";s:72:\"Contains
  information about storage volumes attached to MSK broker nodes.\";}}s:8:\"required\";a:2:{i:0;s:13:\"ClientSubnets\";i:1;s:12:\"InstanceType\";}s:4:\"type\";s:6:\"object\";}s:14:\"BrokerNodeInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"BrokerNodeInfo\";s:10:\"properties\";O:8:\"stdClass\":5:{s:13:\"AttachedENIId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:53:\"The
  attached elastic network interface of the broker.\";}s:8:\"BrokerId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__double\";s:11:\"description\";s:21:\"The
  ID of the broker.\";}s:12:\"ClientSubnet\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:52:\"The
  client subnet to which this broker node belongs.\";}s:18:\"ClientVpcIpAddress\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:46:\"The
  virtual private cloud (VPC) of the client.\";}s:25:\"CurrentBrokerSoftwareInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/BrokerSoftwareInfo\";s:11:\"description\";s:97:\"Information
  about the version of software currently deployed on the Kafka brokers in the cluster.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"BrokerSoftwareInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"Information
  about the current software installed on the cluster.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"ConfigurationArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:73:\"The
  Amazon Resource Name (ARN) of the configuration used for the cluster.\";}s:21:\"ConfigurationRevision\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:41:\"The
  revision of the configuration to use.\";}s:12:\"KafkaVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:28:\"The
  version of Apache Kafka.\";}}s:4:\"type\";s:6:\"object\";}s:11:\"ClusterInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Returns
  information about a cluster.\";s:10:\"properties\";O:8:\"stdClass\":11:{s:19:\"BrokerNodeGroupInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/BrokerNodeGroupInfo\";s:11:\"description\";s:35:\"Information
  about the broker nodes.\";}s:10:\"ClusterArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:68:\"The
  Amazon Resource Name (ARN) that uniquely identifies the cluster.\";}s:11:\"ClusterName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:24:\"The
  name of the cluster.\";}s:12:\"CreationTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/__timestampIso8601\";s:11:\"description\";s:38:\"The
  time when the cluster was created.\";}s:25:\"CurrentBrokerSoftwareInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/BrokerSoftwareInfo\";s:11:\"description\";s:97:\"Information
  about the version of software currently deployed on the Kafka brokers in the cluster.\";}s:14:\"CurrentVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:39:\"The
  current version of the MSK cluster.\";}s:14:\"EncryptionInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/EncryptionInfo\";s:11:\"description\";s:44:\"Includes
  all encryption-related information.\";}s:18:\"EnhancedMonitoring\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/EnhancedMonitoring\";s:11:\"description\";s:145:\"Specifies
  which metrics are gathered for the MSK cluster. This property has three possible
  values: DEFAULT, PER_BROKER, and PER_TOPIC_PER_BROKER.\";}s:19:\"NumberOfBrokerNodes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/__integer\";s:11:\"description\";s:48:\"The
  number of Kafka broker nodes in the cluster.\";}s:5:\"State\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ClusterState\";s:11:\"description\";s:79:\"The
  state of the cluster. The possible states are CREATING, ACTIVE, and FAILED.\";}s:22:\"ZookeeperConnectString\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:72:\"The
  connection string to use to connect to the Apache ZooKeeper cluster.\";}}s:4:\"type\";s:6:\"object\";}s:12:\"ClusterState\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  state of a Kafka cluster.\";s:4:\"enum\";a:4:{i:0;s:6:\"ACTIVE\";i:1;s:8:\"CREATING\";i:2;s:8:\"DELETING\";i:3;s:6:\"FAILED\";}s:4:\"type\";s:6:\"string\";}s:17:\"ConflictException\";O:8:\"stdClass\":0:{}s:20:\"CreateClusterRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":6:{s:19:\"BrokerNodeGroupInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/BrokerNodeGroupInfo\";s:11:\"description\";s:50:\"Information
  about the broker nodes in the cluster.\";}s:11:\"ClusterName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/__stringMin1Max64\";s:11:\"description\";s:24:\"The
  name of the cluster.\";}s:14:\"EncryptionInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/EncryptionInfo\";s:11:\"description\";s:44:\"Includes
  all encryption-related information.\";}s:18:\"EnhancedMonitoring\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/EnhancedMonitoring\";s:11:\"description\";s:125:\"Specifies
  the level of monitoring for the MSK cluster. The possible values are DEFAULT, PER_BROKER,
  and PER_TOPIC_PER_BROKER.\";}s:12:\"KafkaVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/__stringMin1Max128\";s:11:\"description\";s:28:\"The
  version of Apache Kafka.\";}s:19:\"NumberOfBrokerNodes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/__integerMin1Max15\";s:11:\"description\";s:59:\"The
  number of Kafka broker nodes in the Amazon MSK cluster.\";}}s:8:\"required\";a:4:{i:0;s:19:\"BrokerNodeGroupInfo\";i:1;s:12:\"KafkaVersion\";i:2;s:19:\"NumberOfBrokerNodes\";i:3;s:11:\"ClusterName\";}s:4:\"type\";s:6:\"object\";}s:21:\"CreateClusterResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"ClusterArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:46:\"The
  Amazon Resource Name (ARN) of the cluster.\";}s:11:\"ClusterName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:28:\"The
  name of the MSK cluster.\";}s:5:\"State\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ClusterState\";s:11:\"description\";s:79:\"The
  state of the cluster. The possible states are CREATING, ACTIVE, and FAILED.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"DeleteClusterRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:21:\"DeleteClusterResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"ClusterArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:46:\"The
  Amazon Resource Name (ARN) of the cluster.\";}s:5:\"State\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ClusterState\";s:11:\"description\";s:79:\"The
  state of the cluster. The possible states are CREATING, ACTIVE, and FAILED.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"DescribeClusterRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:23:\"DescribeClusterResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"ClusterInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ClusterInfo\";s:11:\"description\";s:24:\"The
  cluster information.\";}}s:4:\"type\";s:6:\"object\";}s:14:\"EBSStorageInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:82:\"Contains
  information about the EBS storage volumes attached to Kafka broker nodes.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"VolumeSize\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/__integerMin1Max16384\";s:11:\"description\";s:73:\"The
  size in GiB of the EBS volume for the data drive on each broker node.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"EncryptionAtRest\";O:8:\"stdClass\":4:{s:11:\"description\";s:35:\"The
  data volume encryption details.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:18:\"DataVolumeKMSKeyId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:41:\"The
  AWS KMS key used for data encryption.\";}}s:8:\"required\";a:1:{i:0;s:18:\"DataVolumeKMSKeyId\";}s:4:\"type\";s:6:\"object\";}s:14:\"EncryptionInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:98:\"Includes
  encryption-related information, such as the AWS KMS key used for encrypting data
  at rest.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"EncryptionAtRest\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/EncryptionAtRest\";s:11:\"description\";s:35:\"The
  data volume encryption details.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"EnhancedMonitoring\";O:8:\"stdClass\":3:{s:11:\"description\";s:145:\"Specifies
  which metrics are gathered for the MSK cluster. This property has three possible
  values: DEFAULT, PER_BROKER, and PER_TOPIC_PER_BROKER.\";s:4:\"enum\";a:3:{i:0;s:7:\"DEFAULT\";i:1;s:10:\"PER_BROKER\";i:2;s:20:\"PER_TOPIC_PER_BROKER\";}s:4:\"type\";s:6:\"string\";}s:18:\"ForbiddenException\";O:8:\"stdClass\":0:{}s:26:\"GetBootstrapBrokersRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:27:\"GetBootstrapBrokersResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:21:\"BootstrapBrokerString\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:52:\"A
  string containing one or more hostname:port pairs.\";}}s:4:\"type\";s:6:\"object\";}s:28:\"InternalServerErrorException\";O:8:\"stdClass\":0:{}s:19:\"ListClustersRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:20:\"ListClustersResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"ClusterInfoList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/__listOfClusterInfo\";s:11:\"description\";s:56:\"Information
  on each of the MSK clusters in the response.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:208:\"The
  paginated results marker. When the result of a ListClusters operation is truncated,
  the call returns NextToken in the response. \n To get another batch of clusters,
  provide this token in your next request.\";}}s:4:\"type\";s:6:\"object\";}s:16:\"ListNodesRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:17:\"ListNodesResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:202:\"The
  paginated results marker. When the result of a ListNodes operation is truncated,
  the call returns NextToken in the response. \n To get another batch of nodes, provide
  this token in your next request.\";}s:12:\"NodeInfoList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/__listOfNodeInfo\";s:11:\"description\";s:34:\"List
  containing a NodeInfo object.\";}}s:4:\"type\";s:6:\"object\";}s:10:\"MaxResults\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:100;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:8:\"NodeInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"The
  node information object.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:18:\"AddedToClusterTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:15:\"The
  start time.\";}s:14:\"BrokerNodeInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/BrokerNodeInfo\";s:11:\"description\";s:21:\"The
  broker node info.\";}s:12:\"InstanceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:18:\"The
  instance type.\";}s:7:\"NodeARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:43:\"The
  Amazon Resource Name (ARN) of the node.\";}s:8:\"NodeType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/NodeType\";s:11:\"description\";s:14:\"The
  node type.\";}s:17:\"ZookeeperNodeInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ZookeeperNodeInfo\";s:11:\"description\";s:22:\"The
  ZookeeperNodeInfo.\";}}s:4:\"type\";s:6:\"object\";}s:8:\"NodeType\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"The
  broker or Zookeeper node.\";s:4:\"enum\";a:1:{i:0;s:6:\"BROKER\";}s:4:\"type\";s:6:\"string\";}s:17:\"NotFoundException\";O:8:\"stdClass\":0:{}s:27:\"ServiceUnavailableException\";O:8:\"stdClass\":0:{}s:11:\"StorageInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:72:\"Contains
  information about storage volumes attached to MSK broker nodes.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"EbsStorageInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/EBSStorageInfo\";s:11:\"description\";s:23:\"EBS
  volume information.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"TooManyRequestsException\";O:8:\"stdClass\":0:{}s:21:\"UnauthorizedException\";O:8:\"stdClass\":0:{}s:17:\"ZookeeperNodeInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Zookeeper
  node information.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"AttachedENIId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:53:\"The
  attached elastic network interface of the broker.\";}s:18:\"ClientVpcIpAddress\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:57:\"The
  virtual private cloud (VPC) IP address of the client.\";}s:11:\"ZookeeperId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__double\";s:11:\"description\";s:35:\"The
  role-specific ID for Zookeeper.\";}s:16:\"ZookeeperVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/__string\";s:11:\"description\";s:25:\"The
  version of Zookeeper.\";}}s:4:\"type\";s:6:\"object\";}s:8:\"__double\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:9:\"__integer\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:18:\"__integerMin1Max15\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:15;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:21:\"__integerMin1Max16384\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:16384;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:19:\"__listOfClusterInfo\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ClusterInfo\";}s:4:\"type\";s:5:\"array\";}s:16:\"__listOfNodeInfo\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/NodeInfo\";}s:4:\"type\";s:5:\"array\";}s:16:\"__listOf__string\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/__string\";}s:4:\"type\";s:5:\"array\";}s:8:\"__string\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"__stringMin1Max128\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:128;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:17:\"__stringMin1Max64\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:64;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:17:\"__stringMin5Max32\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:32;s:9:\"minLength\";i:5;s:4:\"type\";s:6:\"string\";}s:18:\"__timestampIso8601\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}"
...
