---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":13:{s:7:\"contact\";O:8:\"stdClass\":1:{s:5:\"email\";s:21:\"groundwater@gov.bc.ca\";}s:11:\"description\";s:309:\"The
  registers of well drillers and well pump installers are lists of individuals who
  are authorized under the Water Sustainability Act (WSA) to operate in British Columbia.
  Registered well drillers and well pump installers are responsible for safe drilling
  practices and installation of pumps and other works.\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:42:\"Open
  Government License - British Columbia\";s:3:\"url\";s:70:\"https://www2.gov.bc.ca/gov/content?id=A519A56BC2BF44E4A008B33FCF527F61\";}s:14:\"termsOfService\";s:69:\"http://www2.gov.bc.ca/gov/content?id=D1EE0A405E584363B205CD4353E02C88\";s:5:\"title\";s:51:\"Registers
  of Well Drillers and Well Pump Installers\";s:7:\"version\";s:2:\"v1\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:9:\"open_data\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:86:\"https://api.apis.guru/v2/cache/logo/https_avatars1.githubusercontent.com_u_916280.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.6.2\";}s:6:\"format\";s:7:\"openapi\";s:3:\"url\";s:75:\"https://raw.githubusercontent.com/bcgov/api-specs/master/gwells/gwells.json\";s:7:\"version\";s:3:\"3.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:9:\"gov.bc.ca\";s:13:\"x-serviceName\";s:6:\"gwells\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:16:\"gov_bc_ca_gwells\";s:4:\"type\";s:7:\"openapi\";}}"
host: gwells.api.gov.bc.ca
basePath: /gwells/registries/api/v1
paths:
  /api-token-auth/:
    parameters: []
  /cities/drillers/:
    parameters: []
    get:
      produces:
      - application/json
      parameters: []
      responses:
        200:
          description: OK
          schema:
            items:
              $ref: '#/definitions/CityList'
            type: array
      tags:
      - cities
      description: returns a list of cities with a qualified, registered operator
        (driller or installer)
      operationId: cities_drillers_list
  /cities/installers/:
    parameters: []
    get:
      produces:
      - application/json
      parameters: []
      responses:
        200:
          description: OK
          schema:
            items:
              $ref: '#/definitions/CityList'
            type: array
      tags:
      - cities
      description: returns a list of cities with a qualified, registered operator
        (driller or installer)
      operationId: cities_installers_list
  /drillers/:
    parameters: []
    get:
      produces:
      - application/json
      parameters:
      - description: ""
        in: query
        name: city
        required: false
        type: string
      - description: ""
        in: query
        name: prov
        required: false
        type: string
      - description: ""
        in: query
        name: status
        required: false
        type: string
      - description: ""
        in: query
        name: activity
        required: false
        type: string
      - description: A search term.
        in: query
        name: search
        required: false
        type: string
      - description: Which field to use when ordering the results.
        in: query
        name: ordering
        required: false
        type: string
      - description: Number of results to return per page.
        in: query
        name: limit
        required: false
        type: integer
      - description: The initial index from which to return the results.
        in: query
        name: offset
        required: false
        type: integer
      responses:
        200:
          description: OK
          schema:
            properties:
              count:
                type: integer
              next:
                format: uri
                type: string
              previous:
                format: uri
                type: string
              results:
                items:
                  $ref: '#/definitions/Person'
                type: array
            required:
            - count
            - results
            type: object
      tags:
      - drillers
      description: Returns a list of all person records
      operationId: drillers_list
  /drillers/{person_guid}/:
    parameters:
    - description: A UUID string identifying this person.
      in: path
      name: person_guid
      required: true
      schema:
        format: uuid
        type: string
    get:
      produces:
      - application/json
      parameters: []
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Person'
      tags:
      - drillers
      description: Returns the specified person
      operationId: drillers_read
  /organizations/:
    parameters: []
    get:
      produces:
      - application/json
      parameters:
      - description: A search term.
        in: query
        name: search
        required: false
        type: string
      - description: Number of results to return per page.
        in: query
        name: limit
        required: false
        type: integer
      - description: The initial index from which to return the results.
        in: query
        name: offset
        required: false
        type: integer
      responses:
        200:
          description: OK
          schema:
            properties:
              count:
                type: integer
              next:
                format: uri
                type: string
              previous:
                format: uri
                type: string
              results:
                items:
                  $ref: '#/definitions/Organization'
                type: array
            required:
            - count
            - results
            type: object
      tags:
      - organizations
      description: Returns a list of all registered drilling organizations
      operationId: organizations_list
  /organizations/{org_guid}/:
    parameters:
    - description: A UUID string identifying this organization.
      in: path
      name: org_guid
      required: true
      schema:
        format: uuid
        type: string
    get:
      produces:
      - application/json
      parameters: []
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Organization'
      tags:
      - organizations
      description: Returns the specified drilling organization
      operationId: organizations_read
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":6:{s:15:\"ApplicationList\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"registrations\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/RegistrationsList\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:8:\"CityList\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"companies\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/ContactAt\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:9:\"ContactAt\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":12:{s:4:\"city\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:5:\"title\";s:4:\"City\";s:4:\"type\";s:6:\"string\";}s:15:\"contact_at_guid\";O:8:\"stdClass\":4:{s:6:\"format\";s:4:\"uuid\";s:8:\"readOnly\";b:1;s:5:\"title\";s:34:\"Contact
  At UUID, hidden from users\";s:4:\"type\";s:6:\"string\";}s:13:\"contact_email\";O:8:\"stdClass\":4:{s:6:\"format\";s:5:\"email\";s:9:\"maxLength\";i:254;s:5:\"title\";s:14:\"Email
  adddress\";s:4:\"type\";s:6:\"string\";}s:11:\"contact_tel\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:15;s:5:\"title\";s:24:\"Contact
  telephone number\";s:4:\"type\";s:6:\"string\";}s:3:\"org\";O:8:\"stdClass\":3:{s:6:\"format\";s:4:\"uuid\";s:5:\"title\";s:17:\"Company
  Reference\";s:4:\"type\";s:6:\"string\";}s:17:\"organization_name\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:5:\"title\";s:17:\"Organization
  name\";s:4:\"type\";s:6:\"string\";}s:6:\"person\";O:8:\"stdClass\":3:{s:6:\"format\";s:4:\"uuid\";s:5:\"title\";s:16:\"Person
  Reference\";s:4:\"type\";s:6:\"string\";}s:11:\"person_name\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:5:\"title\";s:11:\"Person
  name\";s:4:\"type\";s:6:\"string\";}s:11:\"postal_code\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:5:\"title\";s:11:\"Postal
  code\";s:4:\"type\";s:6:\"string\";}s:14:\"province_state\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:5:\"title\";s:14:\"Province
  state\";s:4:\"type\";s:6:\"string\";}s:14:\"street_address\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:5:\"title\";s:14:\"Street
  address\";s:4:\"type\";s:6:\"string\";}s:11:\"website_url\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:5:\"title\";s:11:\"Website
  url\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"Organization\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":11:{s:21:\"certificate_authority\";O:8:\"stdClass\":3:{s:4:\"enum\";a:2:{i:0;b:0;i:1;b:1;}s:5:\"title\";s:46:\"Certifying
  Authority for Registries Activities\";s:4:\"type\";s:7:\"boolean\";}s:4:\"city\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:50;s:5:\"title\";s:9:\"Town/City\";s:4:\"type\";s:6:\"string\";}s:8:\"contacts\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/ContactAt\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:7:\"fax_tel\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:15;s:5:\"title\";s:26:\"Facsimile
  telephone number\";s:4:\"type\";s:6:\"string\";}s:8:\"main_tel\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:15;s:5:\"title\";s:29:\"Company
  main telephone number\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:200;s:5:\"title\";s:4:\"Name\";s:4:\"type\";s:6:\"string\";}s:8:\"org_guid\";O:8:\"stdClass\":4:{s:6:\"format\";s:4:\"uuid\";s:8:\"readOnly\";b:1;s:5:\"title\";s:36:\"Organization
  UUID, hidden from users\";s:4:\"type\";s:6:\"string\";}s:11:\"postal_code\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:10;s:5:\"title\";s:11:\"Postal
  Code\";s:4:\"type\";s:6:\"string\";}s:14:\"province_state\";O:8:\"stdClass\":2:{s:5:\"title\";s:14:\"Province
  state\";s:4:\"type\";s:6:\"string\";}s:14:\"street_address\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:100;s:5:\"title\";s:14:\"Street
  Address\";s:4:\"type\";s:6:\"string\";}s:11:\"website_url\";O:8:\"stdClass\":4:{s:6:\"format\";s:3:\"uri\";s:9:\"maxLength\";i:200;s:5:\"title\";s:21:\"Orgnization's
  Website\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}s:4:\"type\";s:6:\"object\";}s:6:\"Person\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"applications\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ApplicationList\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:9:\"companies\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/ContactAt\";}s:8:\"readOnly\";b:1;s:4:\"type\";s:5:\"array\";}s:10:\"first_name\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:100;s:5:\"title\";s:10:\"First
  name\";s:4:\"type\";s:6:\"string\";}s:11:\"person_guid\";O:8:\"stdClass\":4:{s:6:\"format\";s:4:\"uuid\";s:8:\"readOnly\";b:1;s:5:\"title\";s:30:\"Person
  UUID, hidden from users\";s:4:\"type\";s:6:\"string\";}s:7:\"surname\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:100;s:5:\"title\";s:7:\"Surname\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:10:\"first_name\";i:1;s:7:\"surname\";}s:4:\"type\";s:6:\"object\";}s:17:\"RegistrationsList\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"activity\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:5:\"title\";s:8:\"Activity\";s:4:\"type\";s:6:\"string\";}s:15:\"registration_no\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:15;s:5:\"title\";s:15:\"Registration
  no\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":3:{s:8:\"readOnly\";b:1;s:5:\"title\";s:6:\"Status\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}}"
...
