---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:41:\"\u524D\u6D77\u5FB7\u4E30\u7535\u5B50\u5546\u52A1-\u7535\u5546\u7CFB\u7EDF
  API\";s:11:\"description\";s:2481:\"\u524D\u6D77\u5FB7\u4E30\u7535\u5B50\u5546\u52A1\u63D0\u4F9B\u7ED9\u7B2C\u4E09\u65B9\u7535\u5546\u7684\u9500\u552E\u8BA2\u5355\u63A5\u53E3,
  \u57FA\u672C\u8DEF\u5F84\u4E3A/api <br/><span style='color:red;'>\u7B7E\u540D\u8BA4\u8BC1:</span>
  \u5FC5\u987B\u901A\u8FC7appkey\u751F\u6210\u7684sign(\u653E\u5728\u8BF7\u6C42\u4E2D)\u8FDB\u884C\u8BA4\u8BC1\u540E\u624D\u80FD\u8C03\u7528\u76F8\u5173\u63A5\u53E3,
  \u7B2C\u4E09\u65B9\u7535\u5546\u7684appkey\u503C\u9700\u5411\u5FB7\u4E30IT\u4EBA\u5458\u7D22\u53D6<br/><br/><br/>
  \u6570\u5B57\u7B7E\u540D\u8BA1\u7B97\u65B9\u6CD5: <ul> <li>1. appkey: \u7531\u5FB7\u4E30\u4FE1\u606F\u7CFB\u7EDF\u5206\u914D\u7ED9\u7535\u5546\u7528\u6237\u4F01\u4E1A\u7684appkey,
  \u6D4B\u8BD5\u7CFB\u7EDFappkey=123456</li> <li>2. salt: \u8C03\u7528\u63A5\u53E3\u65F6\u7684\u65F6\u95F4\u6233,\u79D2\u7EA7\u768410\u4F4Dint\u503C,
  \u5373timestamp.</li> <li>3. sign: \u6570\u5B57\u7B7E\u540D,\u8BA1\u7B97\u65B9\u6CD5\u5982\u4E0B:
  <ol> <li>\u5148\u628Apost\u8BF7\u6C42\u53C2\u6570(\u53C2\u6570\u53EA\u8981\u6C42\u662Fref_order_no),
  \u6784\u6210\u4E00\u4E2A\u5B57\u7B26\u4E32, <br/>\u793A\u4F8B\u5982\u4E0B: stringA
  = \u201Cref_order_no=123456\u201D </li> <li>\u628A\u6C42\u5F97\u7684\u5B57\u7B26\u4E32\u548Cappkey,
  salt(\u5373timestamp)\u8FDB\u884C\u62FC\u63A5 stringSignTemp = \u201CstringA &appkey=123456&salt=1467182687\u201D
  </li> <li>\u7136\u540E\u6C42\u5176md5\u503C sign=MD5 (stringSignTemp).toUpperCase()=\u201DC6FAF705A9757F27F323A6D31A432353\u201D
  </li> <li> \u6700\u7EC8\u5411\u670D\u52A1\u5668\u53D1\u9001\u6570\u636E\n<br/>post
  \u6570\u636E\u793A\u4F8B:<br/> order:{<br/> &nbsp;&nbsp;ref_order_no:123456, <br/>...,
  <br/> &nbsp;&nbsp;appkey: '123456',<br/> &nbsp;&nbsp;salt: '1467182687',<br/> &nbsp;&nbsp;sign:
  'C6FAF705A9757F27F323A6D31A432353'<br/> } <br/> </li> </ol> </li> <br/><br/> \u53C2\u8003\u6587\u6863
  <ul> <li><a href='http://www.baike.com/wiki/%E8%AE%A1%E9%87%8F%E5%8D%95%E4%BD%8D%E6%8A%A5%E5%85%B3%E4%BB%A3%E7%A0%81%E8%A1%A8'>\u8BA1\u91CF\u5355\u4F4D\u62A5\u5173\u4EE3\u7801\u8868</a></li>
  <li><a href='http://www.baike.com/wiki/%E5%B8%81%E5%88%B6%E6%8A%A5%E5%85%B3%E4%BB%A3%E7%A0%81%E8%A1%A8'>\u5E01\u5236\u62A5\u5173\u4EE3\u7801\u8868</a></li>
  <li><a href='http://www.baike.com/wiki/%E5%9B%BD%E5%88%AB%E5%9C%B0%E5%8C%BA%E6%8A%A5%E5%85%B3%E4%BB%A3%E7%A0%81%E8%A1%A8'>\u56FD\u522B\u5730\u533A\u62A5\u5173\u4EE3\u7801\u8868</a></li>
  <li><a href='http://www.baike.com/wiki/%E5%85%B3%E5%8C%BA%E6%8A%A5%E5%85%B3%E4%BB%A3%E7%A0%81%E8%A1%A8'>\u5173\u533A\u62A5\u5173\u4EE3\u7801\u8868</a></li>
  <li><a href='http://www.baike.com/wiki/%E6%88%90%E4%BA%A4%E6%96%B9%E5%BC%8F%E6%8A%A5%E5%85%B3%E4%BB%A3%E7%A0%81%E8%A1%A8'>\u6210\u4EA4\u65B9\u5F0F\u62A5\u5173\u4EE3\u7801\u8868</a></li>
  <li><a href='http://www.baike.com/wiki/%E5%BE%81%E5%85%8D%E7%A8%8E%E6%96%B9%E5%BC%8F%E6%8A%A5%E5%85%B3%E4%BB%A3%E7%A0%81%E8%A1%A8'>\u5F81\u514D\u7A0E\u65B9\u5F0F\u62A5\u5173\u4EE3\u7801\u8868</a></li>
  <li><a href='http://www.baike.com/wiki/%E8%BF%90%E8%BE%93%E6%96%B9%E5%BC%8F%E6%8A%A5%E5%85%B3%E4%BB%A3%E7%A0%81%E8%A1%A8'>\u8FD0\u8F93\u65B9\u5F0F\u62A5\u5173\u4EE3\u7801\u8868</a></li>
  <li><a href='http://www.stats.gov.cn/tjsj/tjbz/xzqhdm/201504/t20150415_712722.html'>\u56FD\u5185\u7701\u5E02\u53BF\u884C\u653F\u533A\u5212\u4EE3\u7801\u8868</a></li>
  </ul> \";s:7:\"version\";s:5:\"1.0.0\";}"
host: yd2demo.eeda123.com
basePath: /api
paths:
  /salesOrder:
    post:
      summary: u521bu5efau9500u552eu8ba2u5355
      description: u6b64u63a5u53e3u521bu5efau9500u552eu8ba2u5355,u8fd4u56deu4e00u4e2au8ba2u5355u7684u6570u636eu7ed3u6784<br/>u53c2u4e0eu7b7eu540du53c2u6570:ref_order_no
        <br/>u8fd4u56deu503cu4e0du5305u62ecappkey, salt, sign.n
      parameters:
      - name: order
        in: body
        description: u4f20u5165u4e00u4e2au8ba2u5355u7684u6570u636eu7ed3u6784
        required: true
        schema:
          $ref: '#/definitions/SalesOrder'
      tags:
      - u9500u552eu8ba2u5355
      responses:
        200:
          description: u6b63u786eu6267u884cu540eu8fd4u56deu4e00u4e2au8ba2u5355u7684u6570u636eu7ed3u6784
          schema:
            $ref: '#/definitions/SalesOrder'
        default:
          description: u51fau9519
          schema:
            $ref: '#/definitions/msg'
  /salesOrderQuery:
    post:
      summary: u83b7u53d6u9500u552eu8ba2u5355
      description: u6b64u63a5u53e3u901au8fc7u63d0u4f9bu8ba2u5355u53f7u7801,u8fd4u56deu4e00u4e2au8ba2u5355u7684u6570u636eu7ed3u6784<br/>u53c2u4e0eu7b7eu540du53c2u6570:ref_order_no
        <br/>u8fd4u56deu503cu4e0du5305u62ecappkey, salt, sign.
      parameters:
      - name: orderQuery
        in: body
        description: u4f20u5165u4e00u4e2au67e5u8be2u8ba2u5355u7684u6570u636eu7ed3u6784
        required: true
        schema:
          $ref: '#/definitions/SalesOrderQuery'
      tags:
      - u9500u552eu8ba2u5355
      responses:
        200:
          description: u6b63u786eu6267u884cu540eu8fd4u56deu4e00u4e2au8ba2u5355u7684u6570u636eu7ed3u6784
          schema:
            $ref: '#/definitions/SalesOrder'
        default:
          description: u51fau9519
          schema:
            $ref: '#/definitions/msg'
  /baseItemQuery:
    post:
      summary: u83b7u53d6u5546u54c1u4fe1u606f
      description: u6b64u63a5u53e3u901au8fc7u63d0u4f9bu5546u54c1u53f7u7801,u8fd4u56deu4e00u4e2au5546u54c1u7684u6570u636eu7ed3u6784<br/>u53c2u4e0eu7b7eu540du53c2u6570:ref_item_no
        <br/>u8fd4u56deu503cu4e0du5305u62ecappkey, salt, sign.
      parameters:
      - name: orderQuery
        in: body
        description: u4f20u5165u4e00u4e2au67e5u8be2u5546u54c1u7684u6570u636eu7ed3u6784
        required: true
        schema:
          $ref: '#/definitions/GoodItemQuery'
      tags:
      - u57fau7840u6570u636e_u5546u54c1
      responses:
        200:
          description: u6b63u786eu6267u884cu540eu8fd4u56deu4e00u4e2aitemu7684u6570u636eu7ed3u6784
          schema:
            $ref: '#/definitions/GoodItem'
        default:
          description: u51fau9519
          schema:
            $ref: '#/definitions/msg'
  /baseItem:
    post:
      summary: u521bu5efau5546u54c1item
      description: u6b64u63a5u53e3u521bu5efau5546u54c1item,u8fd4u56deu4e00u4e2au5546u54c1itemu7684u6570u636eu7ed3u6784<br/>u53c2u4e0eu7b7eu540du53c2u6570:ref_item_no
        <br/>u8fd4u56deu503cu4e0du5305u62ecappkey, salt, sign.n
      parameters:
      - name: order
        in: body
        description: u4f20u5165u4e00u4e2aitemu7684u6570u636eu7ed3u6784
        required: true
        schema:
          $ref: '#/definitions/GoodItem'
      tags:
      - u57fau7840u6570u636e_u5546u54c1
      responses:
        200:
          description: u6b63u786eu6267u884cu540eu8fd4u56deu4e00u4e2aitemu7684u6570u636eu7ed3u6784
          schema:
            $ref: '#/definitions/GoodItem'
        default:
          description: u51fau9519
          schema:
            $ref: '#/definitions/msg'
  /orderNotify:
    post:
      summary: u5f53u8ba2u5355u62a5u5173u72b6u6001u53d1u751fu53d8u5316u65f6,u901au77e5u7b2cu4e09u65b9u7cfbu7edf
      parameters:
      - name: order
        in: body
        description: u4f20u5165u4e00u4e2aitemu7684u6570u636eu7ed3u6784
        required: true
        schema:
          $ref: '#/definitions/OrderNotify'
      tags:
      - u56deu8c03
      responses:
        200:
          description: u6b63u786eu6267u884cu540eu8fd4u56deu4e00u4e2au6570u636eu7ed3u6784
          schema:
            $ref: '#/definitions/OrderNotify'
        default:
          description: u51fau9519
          schema:
            $ref: '#/definitions/msg'
  /gateOutNotify:
    post:
      summary: u5f53u8ba2u5355u51fau5e93u72b6u6001u53d1u751fu53d8u5316u65f6,u901au77e5u7b2cu4e09u65b9u7cfbu7edf
      parameters:
      - name: order
        in: body
        description: u4f20u5165u4e00u4e2au51fau5e93itemu7684u6570u636eu7ed3u6784
        required: true
        schema:
          $ref: '#/definitions/GateOutNotify'
      tags:
      - u56deu8c03
      responses:
        200:
          description: u6b63u786eu6267u884cu540eu8fd4u56deu4e00u4e2au6570u636eu7ed3u6784
          schema:
            $ref: '#/definitions/GateOutNotify'
        default:
          description: u51fau9519
          schema:
            $ref: '#/definitions/msg'
  /gateInNotify:
    post:
      summary: u5f53u5e93u5b58u72b6u6001u53d1u751fu53d8u5316u65f6,u901au77e5u7b2cu4e09u65b9u7cfbu7edfu5f53u524du5e93u5b58u603bu6570
      parameters:
      - name: order
        in: body
        description: u4f20u5165u4e00u4e2au5165u5e93itemu7684u6570u636eu7ed3u6784
        required: true
        schema:
          $ref: '#/definitions/GateInNotify'
      tags:
      - u56deu8c03
      responses:
        200:
          description: u6b63u786eu6267u884cu540eu8fd4u56deu4e00u4e2au6570u636eu7ed3u6784
          schema:
            $ref: '#/definitions/GateInNotify'
        default:
          description: u51fau9519
          schema:
            $ref: '#/definitions/msg'
produces:
- application/json
schemes:
- http
definitions: !php/object "O:8:\"stdClass\":9:{s:11:\"OrderNotify\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"ref_order_no\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"\u7B2C\u4E09\u65B9\u7535\u5546\u7684\u8BA2\u5355\u53F7\u7801\";s:7:\"example\";s:15:\"DD2016061500006\";}s:13:\"custom_status\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"\u8BA2\u5355\u62A5\u5173\u72B6\u6001\";s:7:\"example\";s:15:\"DD2016061500006\";}}}s:13:\"GateOutNotify\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"ref_order_no\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:30:\"\u7B2C\u4E09\u65B9\u7535\u5546\u7684\u8BA2\u5355\u53F7\u7801\";s:7:\"example\";s:15:\"DD2016061500006\";}s:11:\"ref_item_no\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"\u7B2C\u4E09\u65B9\u7535\u5546\u7684\u5546\u54C1\u8D27\u54C1\u53F7\u7801\";s:7:\"example\";s:10:\"DF_SKU_001\";}s:11:\"delivery_no\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"\u5FEB\u9012\u5355\u53F7\u7801\";s:7:\"example\";s:15:\"ZTO201607050001\";}s:6:\"amount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:18:\"\u6B64\u6B21\u51FA\u5E93\u6570\u91CF\";s:7:\"example\";s:15:\"DD2016061500006\";}s:10:\"order_time\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:39:\"\u8BA2\u5355\u51FA\u5E93\u65F6\u95F4(yyyy-MM-dd
  HH:mm:ss)\";s:7:\"example\";s:19:\"2016-06-25 10:10:10\";}}}s:12:\"GateInNotify\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"ref_item_no\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"\u7B2C\u4E09\u65B9\u7535\u5546\u7684\u5546\u54C1\u8D27\u54C1\u53F7\u7801\";s:7:\"example\";s:10:\"DF_SKU_001\";}s:14:\"gate_in_amount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:18:\"\u6B64\u6B21\u5165\u5E93\u6570\u91CF\";s:7:\"example\";s:2:\"20\";}s:12:\"total_amount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:24:\"\u5165\u5E93\u540E\u8D27\u54C1\u603B\u6570\u91CF\";s:7:\"example\";s:3:\"100\";}s:10:\"order_time\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:33:\"\u5165\u5E93\u65F6\u95F4(yyyy-MM-dd
  HH:mm:ss)\";s:7:\"example\";s:19:\"2016-06-25 10:10:10\";}}}s:15:\"SalesOrderQuery\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"ref_order_no\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"\u7B2C\u4E09\u65B9\u7535\u5546\u7684\u8BA2\u5355\u53F7\u7801.\";s:7:\"example\";s:16:\"ref_order_no_001\";}s:6:\"appkey\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:55:\"\u7B2C\u4E09\u65B9\u7535\u5546\u7684appkey\u503C,
  \u9700\u5411\u5FB7\u4E30IT\u4EBA\u5458\u7D22\u53D6\";s:7:\"example\";s:6:\"123456\";}s:4:\"salt\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:62:\"\u8C03\u7528\u63A5\u53E3\u65F6\u7684\u65F6\u95F4\u6233,\u79D2\u7EA7\u768410\u4F4Dint\u503C,
  \u5373timestamp\";s:7:\"example\";s:10:\"1467182687\";}s:4:\"sign\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:3:\"MD5\";s:7:\"example\";s:32:\"A64834B88F24DBC6C74F972666F05EF0\";}}}s:10:\"SalesOrder\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":33:{s:8:\"order_no\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"\u5FB7\u4E30\u7CFB\u7EDF\u5185\u4EA7\u751F\u7684\u552F\u4E00\u8BA2\u5355\u53F7\u7801.\";s:7:\"example\";s:15:\"DD2016061500006\";}s:8:\"org_code\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:42:\"\u4F01\u4E1A\u7EC4\u7EC7\u673A\u6784\u4EE3\u7801\uFF08\u7535\u5546\u5546\u6237\uFF09\";s:7:\"example\";s:6:\"123456\";}s:12:\"ref_order_no\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:34:\"\u7535\u5546\u5E73\u53F0\u7684\u539F\u59CB\u8BA2\u5355\u7F16\u53F7.\";s:7:\"example\";s:15:\"Ref201606250001\";}s:10:\"order_time\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:39:\"\u8BA2\u5355\u521B\u5EFA\u65F6\u95F4(yyyy-MM-dd
  HH:mm:ss)\";s:7:\"example\";s:19:\"2016-06-25 10:10:10\";}s:13:\"ebp_cust_code\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"\u7535\u5546\u5E73\u53F0\u7684\u6D77\u5173\u5907\u6848\u7F16\u7801\";s:7:\"example\";s:6:\"123456\";}s:12:\"ebp_ciq_code\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"\u7535\u5546\u5E73\u53F0\u7684\u56FD\u68C0\u5907\u6848\u7F16\u7801\";s:7:\"example\";s:6:\"123456\";}s:8:\"ebp_name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"\u7535\u5546\u5E73\u53F0\u540D\u79F0\";s:7:\"example\";s:24:\"\u524D\u6D77\u5FB7\u4E30\u7535\u5B50\u5546\u52A1\";}s:13:\"ebc_cust_code\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"\u7535\u5546\u4F01\u4E1A\u7684\u6D77\u5173\u5907\u6848\u7F16\u7801\";s:7:\"example\";s:6:\"123456\";}s:12:\"ebc_ciq_code\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"\u7535\u5546\u4F01\u4E1A\u7684\u56FD\u68C0\u5907\u6848\u7F16\u7801\";s:7:\"example\";s:6:\"123456\";}s:8:\"ebc_name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"\u7535\u5546\u4F01\u4E1A\u540D\u79F0\";s:7:\"example\";s:24:\"\u524D\u6D77\u5FB7\u4E30\u7535\u5B50\u5546\u52A1\";}s:19:\"goods_charge_amount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:24:\"\u8BA2\u5355\u5546\u54C1\u8D27\u6B3E(\u5143).\";s:7:\"example\";s:1:\"1\";}s:14:\"freight_amount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:24:\"\u8BA2\u5355\u5546\u54C1\u8FD0\u8D39(\u5143).\";s:7:\"example\";s:1:\"1\";}s:8:\"currency\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:59:\"\u5E01\u5236(\u6807\u51C6\u4EE3\u7801\uFF0C\u89C1\u53C2\u6570\u8868,
  \u9ED8\u8BA4\uFF1A\u4EBA\u6C11\u5E01:142)\";s:7:\"example\";s:3:\"142\";}s:12:\"consignee_id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"\u6536\u4EF6\u4EBA\u8EAB\u4EFD\u8BC1\u53F7\u7801\u6216\u5176\u5B83\u53F7\u7801\";s:7:\"example\";s:18:\"35012819911215493X\";}s:14:\"consignee_type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:44:\"\u6536\u8D27\u4EBA\u8BC1\u4EF6\u7C7B\u578B
  1-\u8EAB\u4EFD\u8BC1\uFF0C2-\u5176\u5B83\";s:7:\"example\";s:1:\"1\";}s:9:\"consignee\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:7:\"maximum\";i:100;s:11:\"description\";s:15:\"\u6536\u8D27\u4EBA\u540D\u79F0\";s:7:\"example\";s:6:\"\u5F20\u4E09\";}s:17:\"consignee_address\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:7:\"maximum\";i:200;s:11:\"description\";s:15:\"\u6536\u8D27\u4EBA\u5730\u5740\";s:7:\"example\";s:42:\"\u5317\u4EAC-\u5317\u4EAC\u5E02-\u4E1C\u57CE\u533A\u8302\u4E1A\u5927\u53A61120\";}s:19:\"consignee_telephone\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:7:\"maximum\";i:50;s:11:\"description\";s:15:\"\u6536\u8D27\u4EBA\u7535\u8BDD\";s:7:\"example\";s:11:\"12345678901\";}s:17:\"consignee_country\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:72:\"\u6536\u8D27\u4EBA\u6240\u5728\u56FD\uFF08\u6807\u51C6\u4EE3\u7801\uFF0C\u89C1\u53C2\u6570\u8868,
  \u9ED8\u8BA4\uFF1A\u4E2D\u56FD:142\uFF09\";s:7:\"example\";s:3:\"142\";}s:8:\"province\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"\u6536\u8D27\u4EBA\u5730\u5740\uFF08\u7701\uFF09\uFF08\u6807\u51C6\u4EE3\u7801\uFF0C\u89C1\u53C2\u6570\u8868\uFF09\";s:7:\"example\";s:6:\"110000\";}s:4:\"city\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"\u6536\u8D27\u4EBA\u5730\u5740\uFF08\u5E02\uFF09\uFF08\u6807\u51C6\u4EE3\u7801\uFF0C\u89C1\u53C2\u6570\u8868\uFF09\";s:7:\"example\";s:6:\"110100\";}s:8:\"district\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:57:\"\u6536\u8D27\u4EBA\u5730\u5740\uFF08\u533A\uFF09\uFF08\u6807\u51C6\u4EE3\u7801\uFF0C\u89C1\u53C2\u6570\u8868\uFF09\";s:7:\"example\";s:6:\"110101\";}s:16:\"promotion_amount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:17:\"\u4F18\u60E0\u91D1\u989D(\u5143)\";s:7:\"example\";s:1:\"0\";}s:16:\"promotion_remark\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:7:\"maximum\";i:1000;s:11:\"description\";s:18:\"\u4F18\u60E0\u4FE1\u606F\u8BF4\u660E\";s:7:\"example\";s:18:\"\u4F18\u60E0\u4FE1\u606F\u8BF4\u660E\";}s:4:\"note\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:7:\"maximum\";i:1000;s:11:\"description\";s:6:\"\u5907\u6CE8\";s:7:\"example\";s:6:\"\u5907\u6CE8\";}s:12:\"pay_org_code\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:85:\"\u652F\u4ED8\u4F01\u4E1A\u4EE3\u7801(\u9700\u5BF9\u63A5\u53CC\u65B9\u8BA8\u8BBA\u5B9A\u4E49,
  \u975E\u6D77\u5173\u4EE3\u7801), \u9ED8\u8BA4\u662F\u901A\u8054 PTL\";s:7:\"example\";s:3:\"PTL\";}s:18:\"pay_transaction_no\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"\u539F\u59CB\u652F\u4ED8\u5355\u4EA4\u6613\u7F16\u53F7\";s:7:\"example\";s:10:\"1234567890\";}s:10:\"payer_name\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:7:\"maximum\";i:50;s:11:\"description\";s:15:\"\u652F\u4ED8\u4EBA\u540D\u79F0\";s:7:\"example\";s:15:\"\u652F\u4ED8\u4EBA\u540D\u79F0\";}s:16:\"payer_account_no\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"\u652F\u4ED8\u4EBA\u5E10\u53F7\";s:7:\"example\";s:15:\"\u652F\u4ED8\u4EBA\u5E10\u53F7\";}s:5:\"goods\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/SalesOrderGood\";}}s:6:\"appkey\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:55:\"\u7B2C\u4E09\u65B9\u7535\u5546\u7684appkey\u503C,
  \u9700\u5411\u5FB7\u4E30IT\u4EBA\u5458\u7D22\u53D6\";s:7:\"example\";s:6:\"123456\";}s:4:\"salt\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:62:\"\u8C03\u7528\u63A5\u53E3\u65F6\u7684\u65F6\u95F4\u6233,\u79D2\u7EA7\u768410\u4F4Dint\u503C,
  \u5373timestamp\";s:7:\"example\";i:1467182687;}s:4:\"sign\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:3:\"MD5\";s:7:\"example\";s:32:\"4A14822655C6A179235A4A152B4F9FB1\";}}}s:14:\"SalesOrderGood\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:7:\"item_no\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"\u4F01\u4E1A\u5546\u54C1\u8D27\u53F7\";s:7:\"example\";s:10:\"DF_SKU_001\";}s:9:\"item_name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"\u4F01\u4E1A\u5546\u54C1\u540D\u79F0\";s:7:\"example\";s:8:\"XX\u5976\u7C89\";}s:11:\"ref_item_no\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:33:\"\u7B2C\u4E09\u65B9\u7535\u5546\u4F01\u4E1A\u5546\u54C1\u8D27\u53F7\";s:7:\"example\";s:10:\"DF_SKU_001\";}s:14:\"custom_item_no\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:50:\"\u6D77\u5173\u5546\u54C1\u8D27\u53F7,
  \u53EF\u4E0E\u4F01\u4E1A\u5546\u54C1\u8D27\u53F7\u4E00\u81F4\";s:7:\"example\";s:18:\"\u6D77\u5173\u5546\u54C1\u8D27\u53F7\";}s:19:\"custom_list_item_no\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:48:\"\u6D77\u5173\u6B63\u9762\u6E05\u5355\u8D27\u53F7\uFF08\u65B0\u89C4\u5219\u65F6\u5FC5\u586B\uFF09\";s:7:\"example\";s:0:\"\";}s:4:\"unit\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:51:\"\u8BA1\u91CF\u5355\u4F4D\uFF08\u6807\u51C6\u4EE3\u7801\uFF0C\u89C1\u53C2\u6570\u8868\uFF091
  =\u53F0\";s:7:\"example\";s:1:\"1\";}s:8:\"currency\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"\u5E01\u5236\u4EE3\u7801\uFF08\u6807\u51C6\u4EE3\u7801\uFF0C\u89C1\u53C2\u6570\u8868\uFF09\";s:7:\"example\";s:3:\"142\";}s:3:\"qty\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:12:\"\u6210\u4EA4\u6570\u91CF\";s:7:\"example\";s:1:\"1\";}s:5:\"price\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:11:\"\u5355\u4EF7(\u5143)\";s:7:\"example\";s:1:\"1\";}s:9:\"gift_flag\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"\u662F\u5426\u8D60\u54C1
  Y:N\";s:7:\"example\";s:1:\"N\";}}}s:13:\"GoodItemQuery\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"ref_item_no\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"\u5916\u90E8\u7535\u5546\u5546\u54C1\u8D27\u53F7\";s:7:\"example\";s:10:\"DF_SKU_001\";}s:6:\"appkey\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:55:\"\u7B2C\u4E09\u65B9\u7535\u5546\u7684appkey\u503C,
  \u9700\u5411\u5FB7\u4E30IT\u4EBA\u5458\u7D22\u53D6\";s:7:\"example\";s:6:\"123456\";}s:4:\"salt\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:62:\"\u8C03\u7528\u63A5\u53E3\u65F6\u7684\u65F6\u95F4\u6233,\u79D2\u7EA7\u768410\u4F4Dint\u503C,
  \u5373timestamp\";s:7:\"example\";i:1467182687;}s:4:\"sign\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:3:\"MD5\";s:7:\"example\";s:32:\"279A8433CFBAB037B1615616E3162A8B\";}}}s:8:\"GoodItem\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":17:{s:7:\"item_no\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"\u5FB7\u4E30\u7CFB\u7EDF\u5546\u54C1\u8D27\u53F7\";s:7:\"example\";s:10:\"DF_SKU_001\";}s:9:\"item_name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"\u5546\u54C1\u540D\u79F0\";s:7:\"example\";s:8:\"XX\u5976\u7C89\";}s:11:\"ref_item_no\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"\u5916\u90E8\u7535\u5546\u5546\u54C1\u8D27\u53F7\";s:7:\"example\";s:10:\"DF_SKU_001\";}s:7:\"org_cod\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"\u5916\u90E8\u7535\u5546\u4F01\u4E1A\u4EE3\u7801\";s:7:\"example\";s:7:\"REF_001\";}s:14:\"custom_item_no\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:50:\"\u6D77\u5173\u5546\u54C1\u8D27\u53F7,
  \u53EF\u4E0E\u4F01\u4E1A\u5546\u54C1\u8D27\u53F7\u4E00\u81F4\";s:7:\"example\";s:10:\"DF_SKU_001\";}s:19:\"custom_list_item_no\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:48:\"\u6D77\u5173\u6B63\u9762\u6E05\u5355\u8D27\u53F7\uFF08\u65B0\u89C4\u5219\u65F6\u5FC5\u586B\uFF09\";s:7:\"example\";s:0:\"\";}s:4:\"unit\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:51:\"\u8BA1\u91CF\u5355\u4F4D\uFF08\u6807\u51C6\u4EE3\u7801\uFF0C\u89C1\u53C2\u6570\u8868\uFF091
  =\u53F0\";s:7:\"example\";s:1:\"1\";}s:8:\"currency\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"\u5E01\u5236\u4EE3\u7801\uFF08\u6807\u51C6\u4EE3\u7801\uFF0C\u89C1\u53C2\u6570\u8868\uFF09\";s:7:\"example\";s:3:\"142\";}s:5:\"price\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:11:\"\u5355\u4EF7(\u5143)\";s:7:\"example\";s:1:\"1\";}s:6:\"length\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:10:\"\u957F\u5EA6(mm)\";s:7:\"example\";s:1:\"1\";}s:5:\"width\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:10:\"\u5BBD\u5EA6(mm)\";s:7:\"example\";s:1:\"1\";}s:6:\"height\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:10:\"\u9AD8\u5EA6(mm)\";s:7:\"example\";s:1:\"1\";}s:6:\"volume\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:17:\"\u4F53\u79EF(\u7ACB\u65B9\u7C73)\";s:7:\"example\";s:1:\"1\";}s:6:\"weight\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:10:\"\u91CD\u91CF(kg)\";s:7:\"example\";s:1:\"1\";}s:6:\"appkey\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:55:\"\u7B2C\u4E09\u65B9\u7535\u5546\u7684appkey\u503C,
  \u9700\u5411\u5FB7\u4E30IT\u4EBA\u5458\u7D22\u53D6\";s:7:\"example\";s:6:\"123456\";}s:4:\"salt\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:62:\"\u8C03\u7528\u63A5\u53E3\u65F6\u7684\u65F6\u95F4\u6233,\u79D2\u7EA7\u768410\u4F4Dint\u503C,
  \u5373timestamp\";s:7:\"example\";i:1467182687;}s:4:\"sign\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:3:\"MD5\";s:7:\"example\";s:32:\"279A8433CFBAB037B1615616E3162A8B\";}}}s:3:\"msg\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:6:{i:0;i:0;i:1;i:1;i:2;i:2;i:3;i:3;i:4;i:4;i:5;i:5;}}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}"
...
