---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":4:{s:7:\"version\";s:3:\"3.0\";s:5:\"title\";s:13:\"API
  Reference\";s:11:\"description\";s:508:\"**Public market data** \u2014 methods for
  requesting current public market information, such as orderbook, bars and currency
  pairs information and other market data.\n\n**Reports and history** \u2014 methods
  for requesting client reports and historical data, such as your orders, trades and
  transfers.\n\n**Orders** \u2014 methods to create or cancel orders.\n\n**Client
  information** \u2014 methods for requesting clients current balances and fees.\n\n**Deposits
  and withdrawals** \u2014 methods to create deposits or withdrawals.\";s:6:\"x-logo\";O:8:\"stdClass\":3:{s:3:\"url\";s:25:\"/docs/developers/logo.svg\";s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:7:\"altText\";s:3:\"DSX\";}}"
host: dsx.uk
basePath: /
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":30:{s:9:\"426667456\";O:8:\"stdClass\":5:{s:5:\"title\";s:9:\"426667456\";s:7:\"example\";O:8:\"stdClass\":8:{s:4:\"pair\";s:6:\"btceur\";s:4:\"type\";s:4:\"sell\";s:6:\"volume\";d:0.0016000000000000001;s:15:\"remainingVolume\";d:0.0016000000000000001;s:4:\"rate\";i:10000;s:16:\"timestampCreated\";i:1550077332;s:6:\"status\";i:2;s:9:\"orderType\";s:5:\"limit\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:4:\"pair\";O:8:\"stdClass\":2:{s:7:\"example\";s:6:\"btceur\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:7:\"example\";s:4:\"sell\";s:4:\"type\";s:6:\"string\";}s:6:\"volume\";O:8:\"stdClass\":3:{s:7:\"example\";d:0.0016000000000000001;s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:15:\"remainingVolume\";O:8:\"stdClass\":3:{s:7:\"example\";d:0.0016000000000000001;s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:4:\"rate\";O:8:\"stdClass\":3:{s:7:\"example\";i:10000;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:16:\"timestampCreated\";O:8:\"stdClass\":3:{s:7:\"example\";i:1550077332;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:6:\"status\";O:8:\"stdClass\":3:{s:7:\"example\";i:2;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:9:\"orderType\";O:8:\"stdClass\":2:{s:7:\"example\";s:5:\"limit\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:8:{i:0;s:4:\"pair\";i:1;s:4:\"type\";i:2;s:6:\"volume\";i:3;s:15:\"remainingVolume\";i:4;s:4:\"rate\";i:5;s:16:\"timestampCreated\";i:6;s:6:\"status\";i:7;s:9:\"orderType\";}}s:9:\"446790147\";O:8:\"stdClass\":5:{s:5:\"title\";s:9:\"446790147\";s:7:\"example\";O:8:\"stdClass\":8:{s:4:\"pair\";s:6:\"eosusd\";s:4:\"type\";s:4:\"sell\";s:6:\"volume\";i:1;s:15:\"remainingVolume\";i:1;s:4:\"rate\";i:9;s:16:\"timestampCreated\";i:1551194353;s:6:\"status\";i:0;s:9:\"orderType\";s:5:\"limit\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:4:\"pair\";O:8:\"stdClass\":2:{s:7:\"example\";s:6:\"eosusd\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:7:\"example\";s:4:\"sell\";s:4:\"type\";s:6:\"string\";}s:6:\"volume\";O:8:\"stdClass\":3:{s:7:\"example\";i:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:15:\"remainingVolume\";O:8:\"stdClass\":3:{s:7:\"example\";i:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:4:\"rate\";O:8:\"stdClass\":3:{s:7:\"example\";i:9;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:16:\"timestampCreated\";O:8:\"stdClass\":3:{s:7:\"example\";i:1551194353;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:6:\"status\";O:8:\"stdClass\":3:{s:7:\"example\";i:0;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:9:\"orderType\";O:8:\"stdClass\":2:{s:7:\"example\";s:5:\"limit\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:8:{i:0;s:4:\"pair\";i:1;s:4:\"type\";i:2;s:6:\"volume\";i:3;s:15:\"remainingVolume\";i:4;s:4:\"rate\";i:5;s:16:\"timestampCreated\";i:6;s:6:\"status\";i:7;s:9:\"orderType\";}}s:6:\"Return\";O:8:\"stdClass\":5:{s:5:\"title\";s:6:\"Return\";s:7:\"example\";O:8:\"stdClass\":5:{s:5:\"funds\";O:8:\"stdClass\":14:{s:3:\"BTC\";O:8:\"stdClass\":2:{s:5:\"total\";d:0.00072000000000000005;s:9:\"available\";d:0.00072000000000000005;}s:3:\"USD\";O:8:\"stdClass\":2:{s:5:\"total\";d:0.11;s:9:\"available\";d:0.11;}s:3:\"EUR\";O:8:\"stdClass\":2:{s:5:\"total\";i:0;s:9:\"available\";i:0;}s:3:\"LTC\";O:8:\"stdClass\":2:{s:5:\"total\";i:0;s:9:\"available\";i:0;}s:3:\"RUB\";O:8:\"stdClass\":2:{s:5:\"total\";d:0.92000000000000004;s:9:\"available\";d:0.92000000000000004;}s:3:\"ETH\";O:8:\"stdClass\":2:{s:5:\"total\";i:0;s:9:\"available\";i:0;}s:3:\"GBP\";O:8:\"stdClass\":2:{s:5:\"total\";i:0;s:9:\"available\";i:0;}s:3:\"BCH\";O:8:\"stdClass\":2:{s:5:\"total\";i:0;s:9:\"available\";i:0;}s:3:\"BTG\";O:8:\"stdClass\":2:{s:5:\"total\";i:0;s:9:\"available\";i:0;}s:4:\"EURS\";O:8:\"stdClass\":2:{s:5:\"total\";i:0;s:9:\"available\";i:0;}s:4:\"USDT\";O:8:\"stdClass\":2:{s:5:\"total\";i:0;s:9:\"available\";i:0;}s:3:\"EOS\";O:8:\"stdClass\":2:{s:5:\"total\";d:61.947000000000003;s:9:\"available\";d:61.947000000000003;}s:3:\"TRY\";O:8:\"stdClass\":2:{s:5:\"total\";i:0;s:9:\"available\";i:0;}s:3:\"BSV\";O:8:\"stdClass\":2:{s:5:\"total\";i:0;s:9:\"available\";i:0;}}s:6:\"rights\";O:8:\"stdClass\":2:{s:4:\"info\";i:1;s:5:\"trade\";i:1;}s:16:\"transactionCount\";i:39;s:10:\"openOrders\";i:0;s:10:\"serverTime\";i:1551189346;}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:5:\"funds\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Funds\";}s:6:\"rights\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Rights\";}s:16:\"transactionCount\";O:8:\"stdClass\":3:{s:7:\"example\";i:39;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:10:\"openOrders\";O:8:\"stdClass\":3:{s:7:\"example\";i:0;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:10:\"serverTime\";O:8:\"stdClass\":3:{s:7:\"example\";i:1551189346;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}s:8:\"required\";a:5:{i:0;s:5:\"funds\";i:1;s:6:\"rights\";i:2;s:16:\"transactionCount\";i:3;s:10:\"openOrders\";i:4;s:10:\"serverTime\";}}s:3:\"RUB\";O:8:\"stdClass\":5:{s:5:\"title\";s:3:\"RUB\";s:7:\"example\";O:8:\"stdClass\":2:{s:5:\"total\";d:0.92000000000000004;s:9:\"available\";d:0.92000000000000004;}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"total\";O:8:\"stdClass\":3:{s:7:\"example\";d:0.92000000000000004;s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:9:\"available\";O:8:\"stdClass\":3:{s:7:\"example\";d:0.92000000000000004;s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}}s:8:\"required\";a:2:{i:0;s:5:\"total\";i:1;s:9:\"available\";}}s:4:\"EURS\";O:8:\"stdClass\":5:{s:5:\"title\";s:4:\"EURS\";s:7:\"example\";O:8:\"stdClass\":2:{s:5:\"total\";i:0;s:9:\"available\";i:0;}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"total\";O:8:\"stdClass\":3:{s:7:\"example\";i:0;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:9:\"available\";O:8:\"stdClass\":3:{s:7:\"example\";i:0;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}s:8:\"required\";a:2:{i:0;s:5:\"total\";i:1;s:9:\"available\";}}s:4:\"USDT\";O:8:\"stdClass\":5:{s:5:\"title\";s:4:\"USDT\";s:7:\"example\";O:8:\"stdClass\":2:{s:5:\"total\";i:0;s:9:\"available\";i:0;}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"total\";O:8:\"stdClass\":3:{s:7:\"example\";i:0;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:9:\"available\";O:8:\"stdClass\":3:{s:7:\"example\";i:0;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}s:8:\"required\";a:2:{i:0;s:5:\"total\";i:1;s:9:\"available\";}}s:3:\"EOS\";O:8:\"stdClass\":5:{s:5:\"title\";s:3:\"EOS\";s:7:\"example\";O:8:\"stdClass\":2:{s:5:\"total\";d:61.947000000000003;s:9:\"available\";d:61.947000000000003;}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"total\";O:8:\"stdClass\":3:{s:7:\"example\";d:61.947000000000003;s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:9:\"available\";O:8:\"stdClass\":3:{s:7:\"example\";d:61.947000000000003;s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}}s:8:\"required\";a:2:{i:0;s:5:\"total\";i:1;s:9:\"available\";}}s:3:\"TRY\";O:8:\"stdClass\":5:{s:5:\"title\";s:3:\"TRY\";s:7:\"example\";O:8:\"stdClass\":2:{s:5:\"total\";i:0;s:9:\"available\";i:0;}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"total\";O:8:\"stdClass\":3:{s:7:\"example\";i:0;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:9:\"available\";O:8:\"stdClass\":3:{s:7:\"example\";i:0;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}s:8:\"required\";a:2:{i:0;s:5:\"total\";i:1;s:9:\"available\";}}s:3:\"ETH\";O:8:\"stdClass\":5:{s:5:\"title\";s:3:\"ETH\";s:7:\"example\";O:8:\"stdClass\":2:{s:5:\"total\";i:0;s:9:\"available\";i:0;}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"total\";O:8:\"stdClass\":3:{s:7:\"example\";i:0;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:9:\"available\";O:8:\"stdClass\":3:{s:7:\"example\";i:0;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}s:8:\"required\";a:2:{i:0;s:5:\"total\";i:1;s:9:\"available\";}}s:3:\"GBP\";O:8:\"stdClass\":5:{s:5:\"title\";s:3:\"GBP\";s:7:\"example\";O:8:\"stdClass\":2:{s:5:\"total\";i:0;s:9:\"available\";i:0;}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"total\";O:8:\"stdClass\":3:{s:7:\"example\";i:0;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:9:\"available\";O:8:\"stdClass\":3:{s:7:\"example\";i:0;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}s:8:\"required\";a:2:{i:0;s:5:\"total\";i:1;s:9:\"available\";}}s:3:\"BCH\";O:8:\"stdClass\":5:{s:5:\"title\";s:3:\"BCH\";s:7:\"example\";O:8:\"stdClass\":2:{s:5:\"total\";i:0;s:9:\"available\";i:0;}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"total\";O:8:\"stdClass\":3:{s:7:\"example\";i:0;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:9:\"available\";O:8:\"stdClass\":3:{s:7:\"example\";i:0;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}s:8:\"required\";a:2:{i:0;s:5:\"total\";i:1;s:9:\"available\";}}s:3:\"BTG\";O:8:\"stdClass\":5:{s:5:\"title\";s:3:\"BTG\";s:7:\"example\";O:8:\"stdClass\":2:{s:5:\"total\";i:0;s:9:\"available\";i:0;}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"total\";O:8:\"stdClass\":3:{s:7:\"example\";i:0;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:9:\"available\";O:8:\"stdClass\":3:{s:7:\"example\";i:0;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}s:8:\"required\";a:2:{i:0;s:5:\"total\";i:1;s:9:\"available\";}}s:3:\"LTC\";O:8:\"stdClass\":5:{s:5:\"title\";s:3:\"LTC\";s:7:\"example\";O:8:\"stdClass\":2:{s:5:\"total\";i:0;s:9:\"available\";i:0;}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"total\";O:8:\"stdClass\":3:{s:7:\"example\";i:0;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:9:\"available\";O:8:\"stdClass\":3:{s:7:\"example\";i:0;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}s:8:\"required\";a:2:{i:0;s:5:\"total\";i:1;s:9:\"available\";}}s:3:\"EUR\";O:8:\"stdClass\":5:{s:5:\"title\";s:3:\"EUR\";s:7:\"example\";O:8:\"stdClass\":2:{s:5:\"total\";i:0;s:9:\"available\";i:0;}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"total\";O:8:\"stdClass\":3:{s:7:\"example\";i:0;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:9:\"available\";O:8:\"stdClass\":3:{s:7:\"example\";i:0;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}s:8:\"required\";a:2:{i:0;s:5:\"total\";i:1;s:9:\"available\";}}s:3:\"USD\";O:8:\"stdClass\":5:{s:5:\"title\";s:3:\"USD\";s:7:\"example\";O:8:\"stdClass\":2:{s:5:\"total\";d:0.11;s:9:\"available\";d:0.11;}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"total\";O:8:\"stdClass\":3:{s:7:\"example\";d:0.11;s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:9:\"available\";O:8:\"stdClass\":3:{s:7:\"example\";d:0.11;s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}}s:8:\"required\";a:2:{i:0;s:5:\"total\";i:1;s:9:\"available\";}}s:3:\"BTC\";O:8:\"stdClass\":5:{s:5:\"title\";s:3:\"BTC\";s:7:\"example\";O:8:\"stdClass\":2:{s:5:\"total\";d:0.00072000000000000005;s:9:\"available\";d:0.00072000000000000005;}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"total\";O:8:\"stdClass\":3:{s:7:\"example\";d:0.00072000000000000005;s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}s:9:\"available\";O:8:\"stdClass\":3:{s:7:\"example\";d:0.00072000000000000005;s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";}}s:8:\"required\";a:2:{i:0;s:5:\"total\";i:1;s:9:\"available\";}}s:5:\"Funds\";O:8:\"stdClass\":5:{s:5:\"title\";s:5:\"Funds\";s:7:\"example\";O:8:\"stdClass\":14:{s:3:\"BTC\";O:8:\"stdClass\":2:{s:5:\"total\";d:0.00072000000000000005;s:9:\"available\";d:0.00072000000000000005;}s:3:\"USD\";O:8:\"stdClass\":2:{s:5:\"total\";d:0.11;s:9:\"available\";d:0.11;}s:3:\"EUR\";O:8:\"stdClass\":2:{s:5:\"total\";i:0;s:9:\"available\";i:0;}s:3:\"LTC\";O:8:\"stdClass\":2:{s:5:\"total\";i:0;s:9:\"available\";i:0;}s:3:\"RUB\";O:8:\"stdClass\":2:{s:5:\"total\";d:0.92000000000000004;s:9:\"available\";d:0.92000000000000004;}s:3:\"ETH\";O:8:\"stdClass\":2:{s:5:\"total\";i:0;s:9:\"available\";i:0;}s:3:\"GBP\";O:8:\"stdClass\":2:{s:5:\"total\";i:0;s:9:\"available\";i:0;}s:3:\"BCH\";O:8:\"stdClass\":2:{s:5:\"total\";i:0;s:9:\"available\";i:0;}s:3:\"BTG\";O:8:\"stdClass\":2:{s:5:\"total\";i:0;s:9:\"available\";i:0;}s:4:\"EURS\";O:8:\"stdClass\":2:{s:5:\"total\";i:0;s:9:\"available\";i:0;}s:4:\"USDT\";O:8:\"stdClass\":2:{s:5:\"total\";i:0;s:9:\"available\";i:0;}s:3:\"EOS\";O:8:\"stdClass\":2:{s:5:\"total\";d:61.947000000000003;s:9:\"available\";d:61.947000000000003;}s:3:\"TRY\";O:8:\"stdClass\":2:{s:5:\"total\";i:0;s:9:\"available\";i:0;}s:3:\"BSV\";O:8:\"stdClass\":2:{s:5:\"total\";i:0;s:9:\"available\";i:0;}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":14:{s:3:\"BTC\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/BTC\";}s:3:\"USD\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/USD\";}s:3:\"EUR\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/EUR\";}s:3:\"LTC\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/LTC\";}s:3:\"RUB\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/RUB\";}s:3:\"ETH\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/ETH\";}s:3:\"GBP\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/GBP\";}s:3:\"BCH\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/BCH\";}s:3:\"BTG\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/BTG\";}s:4:\"EURS\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/EURS\";}s:4:\"USDT\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/USDT\";}s:3:\"EOS\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/EOS\";}s:3:\"TRY\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/TRY\";}s:3:\"BSV\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/BSV\";}}s:8:\"required\";a:14:{i:0;s:3:\"BTC\";i:1;s:3:\"USD\";i:2;s:3:\"EUR\";i:3;s:3:\"LTC\";i:4;s:3:\"RUB\";i:5;s:3:\"ETH\";i:6;s:3:\"GBP\";i:7;s:3:\"BCH\";i:8;s:3:\"BTG\";i:9;s:4:\"EURS\";i:10;s:4:\"USDT\";i:11;s:3:\"EOS\";i:12;s:3:\"TRY\";i:13;s:3:\"BSV\";}}s:3:\"BSV\";O:8:\"stdClass\":5:{s:5:\"title\";s:3:\"BSV\";s:7:\"example\";O:8:\"stdClass\":2:{s:5:\"total\";i:0;s:9:\"available\";i:0;}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"total\";O:8:\"stdClass\":3:{s:7:\"example\";i:0;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:9:\"available\";O:8:\"stdClass\":3:{s:7:\"example\";i:0;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}s:8:\"required\";a:2:{i:0;s:5:\"total\";i:1;s:9:\"available\";}}s:6:\"Rights\";O:8:\"stdClass\":5:{s:5:\"title\";s:6:\"Rights\";s:7:\"example\";O:8:\"stdClass\":2:{s:4:\"info\";i:1;s:5:\"trade\";i:1;}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"info\";O:8:\"stdClass\":3:{s:7:\"example\";i:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:5:\"trade\";O:8:\"stdClass\":3:{s:7:\"example\";i:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}s:8:\"required\";a:2:{i:0;s:4:\"info\";i:1;s:5:\"trade\";}}s:25:\"AccountInformationRequest\";O:8:\"stdClass\":5:{s:5:\"title\";s:25:\"AccountInformationRequest\";s:7:\"example\";O:8:\"stdClass\":2:{s:7:\"success\";i:1;s:6:\"return\";O:8:\"stdClass\":5:{s:5:\"funds\";O:8:\"stdClass\":14:{s:3:\"BTC\";O:8:\"stdClass\":2:{s:5:\"total\";d:0.00072000000000000005;s:9:\"available\";d:0.00072000000000000005;}s:3:\"USD\";O:8:\"stdClass\":2:{s:5:\"total\";d:0.11;s:9:\"available\";d:0.11;}s:3:\"EUR\";O:8:\"stdClass\":2:{s:5:\"total\";i:0;s:9:\"available\";i:0;}s:3:\"LTC\";O:8:\"stdClass\":2:{s:5:\"total\";i:0;s:9:\"available\";i:0;}s:3:\"RUB\";O:8:\"stdClass\":2:{s:5:\"total\";d:0.92000000000000004;s:9:\"available\";d:0.92000000000000004;}s:3:\"ETH\";O:8:\"stdClass\":2:{s:5:\"total\";i:0;s:9:\"available\";i:0;}s:3:\"GBP\";O:8:\"stdClass\":2:{s:5:\"total\";i:0;s:9:\"available\";i:0;}s:3:\"BCH\";O:8:\"stdClass\":2:{s:5:\"total\";i:0;s:9:\"available\";i:0;}s:3:\"BTG\";O:8:\"stdClass\":2:{s:5:\"total\";i:0;s:9:\"available\";i:0;}s:4:\"EURS\";O:8:\"stdClass\":2:{s:5:\"total\";i:0;s:9:\"available\";i:0;}s:4:\"USDT\";O:8:\"stdClass\":2:{s:5:\"total\";i:0;s:9:\"available\";i:0;}s:3:\"EOS\";O:8:\"stdClass\":2:{s:5:\"total\";d:61.947000000000003;s:9:\"available\";d:61.947000000000003;}s:3:\"TRY\";O:8:\"stdClass\":2:{s:5:\"total\";i:0;s:9:\"available\";i:0;}s:3:\"BSV\";O:8:\"stdClass\":2:{s:5:\"total\";i:0;s:9:\"available\";i:0;}}s:6:\"rights\";O:8:\"stdClass\":2:{s:4:\"info\";i:1;s:5:\"trade\";i:1;}s:16:\"transactionCount\";i:39;s:10:\"openOrders\";i:0;s:10:\"serverTime\";i:1551189346;}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"success\";O:8:\"stdClass\":3:{s:7:\"example\";i:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:6:\"return\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Return\";}}s:8:\"required\";a:2:{i:0;s:7:\"success\";i:1;s:6:\"return\";}}s:4:\"Fees\";O:8:\"stdClass\":5:{s:5:\"title\";s:4:\"Fees\";s:7:\"example\";O:8:\"stdClass\":2:{s:7:\"success\";i:1;s:6:\"return\";O:8:\"stdClass\":1:{s:22:\"progressiveCommissions\";O:8:\"stdClass\":3:{s:11:\"commissions\";a:1:{i:0;O:8:\"stdClass\":3:{s:13:\"tradingVolume\";i:0;s:15:\"takerCommission\";i:0;s:15:\"makerCommission\";i:0;}}s:24:\"indexOfCurrentCommission\";i:0;s:8:\"currency\";s:3:\"USD\";}}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"success\";O:8:\"stdClass\":3:{s:7:\"example\";i:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:6:\"return\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Return\";}}s:8:\"required\";a:2:{i:0;s:7:\"success\";i:1;s:6:\"return\";}}s:22:\"ProgressiveCommissions\";O:8:\"stdClass\":5:{s:5:\"title\";s:22:\"ProgressiveCommissions\";s:7:\"example\";O:8:\"stdClass\":3:{s:11:\"commissions\";a:1:{i:0;O:8:\"stdClass\":3:{s:13:\"tradingVolume\";i:0;s:15:\"takerCommission\";i:0;s:15:\"makerCommission\";i:0;}}s:24:\"indexOfCurrentCommission\";i:0;s:8:\"currency\";s:3:\"USD\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"commissions\";O:8:\"stdClass\":3:{s:7:\"example\";a:1:{i:0;O:8:\"stdClass\":3:{s:13:\"tradingVolume\";i:0;s:15:\"takerCommission\";i:0;s:15:\"makerCommission\";i:0;}}s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Commission\";}}s:24:\"indexOfCurrentCommission\";O:8:\"stdClass\":3:{s:7:\"example\";i:0;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:8:\"currency\";O:8:\"stdClass\":2:{s:7:\"example\";s:3:\"USD\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:11:\"commissions\";i:1;s:24:\"indexOfCurrentCommission\";i:2;s:8:\"currency\";}}s:10:\"Commission\";O:8:\"stdClass\":5:{s:5:\"title\";s:10:\"Commission\";s:7:\"example\";O:8:\"stdClass\":3:{s:13:\"tradingVolume\";i:0;s:15:\"takerCommission\";i:0;s:15:\"makerCommission\";i:0;}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"tradingVolume\";O:8:\"stdClass\":3:{s:7:\"example\";i:0;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:15:\"takerCommission\";O:8:\"stdClass\":3:{s:7:\"example\";i:0;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:15:\"makerCommission\";O:8:\"stdClass\":3:{s:7:\"example\";i:0;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}}s:8:\"required\";a:3:{i:0;s:13:\"tradingVolume\";i:1;s:15:\"takerCommission\";i:2;s:15:\"makerCommission\";}}s:6:\"Orders\";O:8:\"stdClass\":5:{s:5:\"title\";s:6:\"Orders\";s:7:\"example\";O:8:\"stdClass\":2:{s:7:\"success\";i:1;s:6:\"return\";O:8:\"stdClass\":1:{s:9:\"426667456\";O:8:\"stdClass\":8:{s:4:\"pair\";s:6:\"btceur\";s:4:\"type\";s:4:\"sell\";s:6:\"volume\";d:0.0016000000000000001;s:15:\"remainingVolume\";d:0.0016000000000000001;s:4:\"rate\";i:10000;s:16:\"timestampCreated\";i:1550077332;s:6:\"status\";i:2;s:9:\"orderType\";s:5:\"limit\";}}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"success\";O:8:\"stdClass\":3:{s:7:\"example\";i:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:6:\"return\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":1:{s:9:\"426667456\";O:8:\"stdClass\":8:{s:4:\"pair\";s:6:\"btceur\";s:4:\"type\";s:4:\"sell\";s:6:\"volume\";d:0.0016000000000000001;s:15:\"remainingVolume\";d:0.0016000000000000001;s:4:\"rate\";i:10000;s:16:\"timestampCreated\";i:1550077332;s:6:\"status\";i:2;s:9:\"orderType\";s:5:\"limit\";}}s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/426667456\";}}}s:8:\"required\";a:2:{i:0;s:7:\"success\";i:1;s:6:\"return\";}}s:15:\"NewOrderRequest\";O:8:\"stdClass\":5:{s:5:\"title\";s:15:\"NewOrderRequest\";s:7:\"example\";O:8:\"stdClass\":2:{s:7:\"success\";i:1;s:6:\"return\";O:8:\"stdClass\":4:{s:8:\"received\";i:0;s:7:\"remains\";i:1;s:5:\"funds\";O:8:\"stdClass\":14:{s:3:\"BTC\";O:8:\"stdClass\":2:{s:5:\"total\";d:0.00072000000000000005;s:9:\"available\";d:0.00072000000000000005;}s:3:\"USD\";O:8:\"stdClass\":2:{s:5:\"total\";d:0.11;s:9:\"available\";d:0.11;}s:3:\"EUR\";O:8:\"stdClass\":2:{s:5:\"total\";i:0;s:9:\"available\";i:0;}s:3:\"LTC\";O:8:\"stdClass\":2:{s:5:\"total\";i:0;s:9:\"available\";i:0;}s:3:\"RUB\";O:8:\"stdClass\":2:{s:5:\"total\";d:0.92000000000000004;s:9:\"available\";d:0.92000000000000004;}s:3:\"ETH\";O:8:\"stdClass\":2:{s:5:\"total\";i:0;s:9:\"available\";i:0;}s:3:\"GBP\";O:8:\"stdClass\":2:{s:5:\"total\";i:0;s:9:\"available\";i:0;}s:3:\"BCH\";O:8:\"stdClass\":2:{s:5:\"total\";i:0;s:9:\"available\";i:0;}s:3:\"BTG\";O:8:\"stdClass\":2:{s:5:\"total\";i:0;s:9:\"available\";i:0;}s:4:\"EURS\";O:8:\"stdClass\":2:{s:5:\"total\";i:0;s:9:\"available\";i:0;}s:4:\"USDT\";O:8:\"stdClass\":2:{s:5:\"total\";i:0;s:9:\"available\";i:0;}s:3:\"EOS\";O:8:\"stdClass\":2:{s:5:\"total\";d:61.947000000000003;s:9:\"available\";d:60.947000000000003;}s:3:\"TRY\";O:8:\"stdClass\":2:{s:5:\"total\";i:0;s:9:\"available\";i:0;}s:3:\"BSV\";O:8:\"stdClass\":2:{s:5:\"total\";i:0;s:9:\"available\";i:0;}}s:7:\"orderId\";i:446705985;}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"success\";O:8:\"stdClass\":3:{s:7:\"example\";i:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:6:\"return\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Return\";}}s:8:\"required\";a:2:{i:0;s:7:\"success\";i:1;s:6:\"return\";}}s:14:\"GetOrderStatus\";O:8:\"stdClass\":5:{s:5:\"title\";s:14:\"GetOrderStatus\";s:7:\"example\";O:8:\"stdClass\":2:{s:7:\"success\";i:1;s:6:\"return\";O:8:\"stdClass\":9:{s:4:\"pair\";s:6:\"eosusd\";s:4:\"type\";s:4:\"sell\";s:15:\"remainingVolume\";i:1;s:6:\"volume\";i:1;s:4:\"rate\";i:9;s:16:\"timestampCreated\";i:1551194353;s:6:\"status\";i:0;s:9:\"orderType\";s:5:\"limit\";s:5:\"deals\";a:0:{}}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"success\";O:8:\"stdClass\":3:{s:7:\"example\";i:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:6:\"return\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Return\";}}s:8:\"required\";a:2:{i:0;s:7:\"success\";i:1;s:6:\"return\";}}s:15:\"GetActiveOrders\";O:8:\"stdClass\":5:{s:5:\"title\";s:15:\"GetActiveOrders\";s:7:\"example\";O:8:\"stdClass\":2:{s:7:\"success\";i:1;s:6:\"return\";O:8:\"stdClass\":1:{s:9:\"446790147\";O:8:\"stdClass\":8:{s:4:\"pair\";s:6:\"eosusd\";s:4:\"type\";s:4:\"sell\";s:6:\"volume\";i:1;s:15:\"remainingVolume\";i:1;s:4:\"rate\";i:9;s:16:\"timestampCreated\";i:1551194353;s:6:\"status\";i:0;s:9:\"orderType\";s:5:\"limit\";}}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"success\";O:8:\"stdClass\":3:{s:7:\"example\";i:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:6:\"return\";O:8:\"stdClass\":3:{s:7:\"example\";O:8:\"stdClass\":1:{s:9:\"446790147\";O:8:\"stdClass\":8:{s:4:\"pair\";s:6:\"eosusd\";s:4:\"type\";s:4:\"sell\";s:6:\"volume\";i:1;s:15:\"remainingVolume\";i:1;s:4:\"rate\";i:9;s:16:\"timestampCreated\";i:1551194353;s:6:\"status\";i:0;s:9:\"orderType\";s:5:\"limit\";}}s:4:\"type\";s:6:\"object\";s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/446790147\";}}}s:8:\"required\";a:2:{i:0;s:7:\"success\";i:1;s:6:\"return\";}}s:3:\"Fee\";O:8:\"stdClass\":5:{s:5:\"title\";s:3:\"Fee\";s:7:\"example\";O:8:\"stdClass\":2:{s:7:\"success\";i:1;s:6:\"return\";O:8:\"stdClass\":1:{s:22:\"progressiveCommissions\";O:8:\"stdClass\":3:{s:11:\"commissions\";a:1:{i:0;O:8:\"stdClass\":3:{s:13:\"tradingVolume\";i:0;s:15:\"takerCommission\";i:0;s:15:\"makerCommission\";i:0;}}s:24:\"indexOfCurrentCommission\";i:0;s:8:\"currency\";s:3:\"USD\";}}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"success\";O:8:\"stdClass\":3:{s:7:\"example\";i:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:6:\"return\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Return\";}}s:8:\"required\";a:2:{i:0;s:7:\"success\";i:1;s:6:\"return\";}}s:28:\"Client'stradingvolumerequest\";O:8:\"stdClass\":5:{s:5:\"title\";s:28:\"Client'stradingvolumerequest\";s:7:\"example\";O:8:\"stdClass\":2:{s:7:\"success\";i:1;s:6:\"return\";O:8:\"stdClass\":3:{s:13:\"tradingVolume\";d:490.13999999999999;s:11:\"tradesCount\";i:9;s:8:\"currency\";s:3:\"USD\";}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"success\";O:8:\"stdClass\":3:{s:7:\"example\";i:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:6:\"return\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Return\";}}s:8:\"required\";a:2:{i:0;s:7:\"success\";i:1;s:6:\"return\";}}s:18:\"CancelOrderRequest\";O:8:\"stdClass\":5:{s:5:\"title\";s:18:\"CancelOrderRequest\";s:7:\"example\";O:8:\"stdClass\":2:{s:7:\"success\";i:1;s:6:\"return\";O:8:\"stdClass\":2:{s:5:\"funds\";O:8:\"stdClass\":14:{s:3:\"BTC\";O:8:\"stdClass\":2:{s:5:\"total\";d:0.00072000000000000005;s:9:\"available\";d:0.00072000000000000005;}s:3:\"USD\";O:8:\"stdClass\":2:{s:5:\"total\";d:0.11;s:9:\"available\";d:0.11;}s:3:\"EUR\";O:8:\"stdClass\":2:{s:5:\"total\";i:0;s:9:\"available\";i:0;}s:3:\"LTC\";O:8:\"stdClass\":2:{s:5:\"total\";i:0;s:9:\"available\";i:0;}s:3:\"RUB\";O:8:\"stdClass\":2:{s:5:\"total\";d:0.92000000000000004;s:9:\"available\";d:0.92000000000000004;}s:3:\"ETH\";O:8:\"stdClass\":2:{s:5:\"total\";i:0;s:9:\"available\";i:0;}s:3:\"GBP\";O:8:\"stdClass\":2:{s:5:\"total\";i:0;s:9:\"available\";i:0;}s:3:\"BCH\";O:8:\"stdClass\":2:{s:5:\"total\";i:0;s:9:\"available\";i:0;}s:3:\"BTG\";O:8:\"stdClass\":2:{s:5:\"total\";i:0;s:9:\"available\";i:0;}s:4:\"EURS\";O:8:\"stdClass\":2:{s:5:\"total\";i:0;s:9:\"available\";i:0;}s:4:\"USDT\";O:8:\"stdClass\":2:{s:5:\"total\";i:0;s:9:\"available\";i:0;}s:3:\"EOS\";O:8:\"stdClass\":2:{s:5:\"total\";d:61.947000000000003;s:9:\"available\";d:61.947000000000003;}s:3:\"TRY\";O:8:\"stdClass\":2:{s:5:\"total\";i:0;s:9:\"available\";i:0;}s:3:\"BSV\";O:8:\"stdClass\":2:{s:5:\"total\";i:0;s:9:\"available\";i:0;}}s:7:\"orderId\";i:446705985;}}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"success\";O:8:\"stdClass\":3:{s:7:\"example\";i:1;s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int32\";}s:6:\"return\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Return\";}}s:8:\"required\";a:2:{i:0;s:7:\"success\";i:1;s:6:\"return\";}}}"
...
