---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:11:\"description\";s:200:\"for all following
  APIs, it should add 2 parameters at API request header before calling API: X_PROXY_SECRET_TOKEN
  and AUTHORIZATION, all APIs retrieve current accountDID and UserDID from AUTHORIZATION\";s:7:\"version\";s:5:\"1.0.0\";s:5:\"title\";s:16:\"job
  branding API\";}"
host: api.careerbuilder.com
basePath: /corporate/jobposterapi/extendedbrandings
paths:
  /{id}:
    get:
      tags:
      - job branding API
      summary: get job branding by id
      description: ""
      operationId: getOneJobBranding
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: path
        name: id
        required: true
        type: string
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/GetJobBrandingOneResponse'
        400:
          description: 'Bad Request: No branding exists with Id'
          schema:
            $ref: '#/definitions/Err400JobBrandingResponse'
        404:
          description: Not Found
        500:
          description: Internal Server Error
  /:
    get:
      tags:
      - job branding API
      summary: get job brandings list
      description: ""
      operationId: getJobBrandingsList
      consumes:
      - application/json
      produces:
      - application/json
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/GetJobBrandingListResponse'
        404:
          description: Not Found
        500:
          description: Internal Server Error
    post:
      tags:
      - job branding API
      summary: add new job branding
      description: ""
      operationId: postNewJobBranding
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: header
        name: Content-Type
        default: application/json
        required: true
        type: string
      - in: body
        name: body
        description: add new job branding
        required: true
        schema:
          $ref: '#/definitions/JobBrandingReqObj'
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/EditJobBrandingResponse'
        400:
          description: 'Bad Request: Name is requireduff0cType is required, Type should
            be Standard or Premium, Premium branding isn''t available, Video branding
            isn''t available, Media Header shouldn''t be flash if Type is Standard,
            Status is required, Status should be Active or Inactive, Length of Name
            should less than 128, Length of Tracking should less than 512, Length
            of Header should less than 1024, Length of TabletBanner should less than
            1024, Length of MobileLogo should less than 1024, Length of Video should
            less than 20, Length of Facebook should less than 256, Length of Twitter
            should less than 256, Length of LinkedIn should less than 256'
          schema:
            $ref: '#/definitions/Err400JobBrandingResponse'
        404:
          description: Not Found
        500:
          description: Internal Server Error
  /edit:
    post:
      tags:
      - job branding API
      summary: edit job branding by id
      description: ""
      operationId: editJobBranding
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: header
        name: Content-Type
        default: application/json
        required: true
        type: string
      - in: body
        name: body
        description: edit job branding detail
        required: true
        schema:
          $ref: '#/definitions/JobBrandingEditReqObj'
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/EditJobBrandingResponse'
        400:
          description: 'Bad Request: Id is requied, No branding exists with Id, Name
            is requireduff0cType is required, Type should be Standard or Premium,
            Type can''t upgrade to Premium since Premium branding isn''t availabe,
            Media Header shouldn''t be flash if Type is Standard, Status is required,
            Status should be Active or Inactive or Deleted, Length of Name should
            less than 128, Length of Tracking should less than 512, Length of Header
            should less than 1024, Length of TabletBanner should less than 1024, Length
            of MobileLogo should less than 1024, Length of Video should less than
            20, Length of Facebook should less than 256, Length of Twitter should
            less than 256, Length of LinkedIn should less than 256'
          schema:
            $ref: '#/definitions/Err400JobBrandingResponse'
        404:
          description: Not Found
        500:
          description: Internal Server Error
schemes:
- http
definitions: !php/object "O:8:\"stdClass\":9:{s:22:\"JobBrandingOneResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":11:{s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:20:\"JB3P4JN60NPQRQSLCVMT\";}s:9:\"AccountId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:15:\"ALKSDJLASDFASDF\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:13:\"branding
  name\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"Active\";}s:4:\"Type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"Standard\";}s:8:\"Tracking\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:119:\"<IMG
  SRC='https://pubads.g.doubleclick.net/activity;xsp=4326694;ord=1?' BORDER=0 WIDTH=1
  HEIGHT=1 ALT='Advertisement'/>\";}s:18:\"CompanyDescription\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:316:\"this
  firm has specialized in feasibility studies for the design of the industrial parks
  as well as industrial land utilization. AC Consortium Pte Ltd has been actively
  involved in the comprehensive design of numerous industrial buildings catering to
  many different trades in the manufacturing and fabrication sector.\";}s:5:\"Media\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"Header\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:63:\"http://img.icbdr.com/MediaManagement/T3/MWM1686LRCMFY24JRT3.jpg\";}s:12:\"TabletBanner\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:63:\"http://img.icbdr.com/MediaManagement/W5/MWR45K6Z3FVNVMCQMW5.jpg\";}s:10:\"MobileLogo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:63:\"http://img.icbdr.com/MediaManagement/H9/MXK36Z6XLWFD1R28NH9.jpg\";}s:5:\"Video\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:13:\"5371882024001\";}}}s:7:\"Widgets\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"Facebook\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:17:\"noodlesandcompany\";}s:8:\"LinkedIn\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:18:\"company/medzed-llc\";}s:7:\"Twitter\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:10:\"BauerGroup\";}}}s:11:\"CreatedTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:10:\"2015-01-04\";}s:11:\"UpdatedTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:10:\"2015-01-04\";}}}s:23:\"JobBrandingListResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:20:\"JB3P4JN60NPQRQSLCVMT\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:13:\"branding
  name\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"Active\";}s:4:\"Type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:8:\"Standard\";}s:11:\"HeaderImage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:63:\"http://img.icbdr.com/MediaManagement/T3/MWM1686LRCMFY24JRT3.jpg\";}s:22:\"AttachedActiveJobCount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:7:\"example\";i:11;}s:24:\"AttachedInactiveJobCount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:7:\"example\";i:22;}s:11:\"CreatedTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:10:\"2015-01-04\";}s:11:\"UpdatedTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:10:\"2015-01-04\";}}}s:23:\"JobBrandingEditResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:20:\"JB3P4JN60NPQRQSLCVMT\";}}}s:17:\"JobBrandingReqObj\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:4:\"Name\";i:1;s:4:\"Type\";i:2;s:6:\"Status\";}s:10:\"properties\";O:8:\"stdClass\":7:{s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:18:\"Consortium
  Pte Ltd\";}s:4:\"Type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"Premium\";s:4:\"enum\";a:2:{i:0;s:8:\"Standard\";i:1;s:7:\"Premium\";}}s:6:\"Status\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"Active\";s:4:\"enum\";a:2:{i:0;s:6:\"Active\";i:1;s:8:\"Inactive\";}}s:8:\"Tracking\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:119:\"<IMG
  SRC='https://pubads.g.doubleclick.net/activity;xsp=4326694;ord=1?' BORDER=0 WIDTH=1
  HEIGHT=1 ALT='Advertisement'/>\";}s:18:\"CompanyDescription\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:316:\"this
  firm has specialized in feasibility studies for the design of the industrial parks
  as well as industrial land utilization. AC Consortium Pte Ltd has been actively
  involved in the comprehensive design of numerous industrial buildings catering to
  many different trades in the manufacturing and fabrication sector.\";}s:5:\"Media\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"Header\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:63:\"http://img.icbdr.com/MediaManagement/T3/MWM1686LRCMFY24JRT3.jpg\";}s:12:\"TabletBanner\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:63:\"http://img.icbdr.com/MediaManagement/W5/MWR45K6Z3FVNVMCQMW5.jpg\";}s:10:\"MobileLogo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:63:\"http://img.icbdr.com/MediaManagement/H9/MXK36Z6XLWFD1R28NH9.jpg\";}s:5:\"Video\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:13:\"5371882024001\";}}}s:7:\"Widgets\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"Facebook\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:17:\"noodlesandcompany\";}s:8:\"LinkedIn\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:18:\"company/medzed-llc\";}s:7:\"Twitter\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:10:\"BauerGroup\";}}}}}s:21:\"JobBrandingEditReqObj\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:4:{i:0;s:2:\"Id\";i:1;s:4:\"Name\";i:2;s:4:\"Type\";i:3;s:6:\"Status\";}s:10:\"properties\";O:8:\"stdClass\":8:{s:2:\"Id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:20:\"JB003915W0SFVW32RXQ4\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:18:\"Consortium
  Pte Ltd\";}s:4:\"Type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:7:\"Premium\";s:4:\"enum\";a:2:{i:0;s:8:\"Standard\";i:1;s:7:\"Premium\";}}s:6:\"Status\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:6:\"Active\";s:4:\"enum\";a:3:{i:0;s:6:\"Active\";i:1;s:8:\"Inactive\";i:2;s:7:\"Deleted\";}}s:8:\"Tracking\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:119:\"<IMG
  SRC='https://pubads.g.doubleclick.net/activity;xsp=4326694;ord=1?' BORDER=0 WIDTH=1
  HEIGHT=1 ALT='Advertisement'/>\";}s:18:\"CompanyDescription\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:316:\"this
  firm has specialized in feasibility studies for the design of the industrial parks
  as well as industrial land utilization. AC Consortium Pte Ltd has been actively
  involved in the comprehensive design of numerous industrial buildings catering to
  many different trades in the manufacturing and fabrication sector.\";}s:5:\"Media\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"Header\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:63:\"http://img.icbdr.com/MediaManagement/T3/MWM1686LRCMFY24JRT3.jpg\";}s:12:\"TabletBanner\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:63:\"http://img.icbdr.com/MediaManagement/W5/MWR45K6Z3FVNVMCQMW5.jpg\";}s:10:\"MobileLogo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:63:\"http://img.icbdr.com/MediaManagement/H9/MXK36Z6XLWFD1R28NH9.jpg\";}s:5:\"Video\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:13:\"5371882024001\";}}}s:7:\"Widgets\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"Facebook\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:17:\"noodlesandcompany\";}s:8:\"LinkedIn\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:18:\"company/medzed-llc\";}s:7:\"Twitter\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:10:\"BauerGroup\";}}}}}s:25:\"Err400JobBrandingResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"Errors\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:26:\"Bad
  Request: X is required\";}}s:7:\"Results\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:0:\"\";}}}}s:23:\"EditJobBrandingResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"Errors\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:0:\"\";}}s:7:\"Results\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/JobBrandingEditResponse\";}}}}s:26:\"GetJobBrandingListResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"Errors\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:0:\"\";}}s:7:\"Results\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/JobBrandingListResponse\";}}}}s:25:\"GetJobBrandingOneResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"Errors\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:0:\"\";}}s:7:\"Results\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/JobBrandingOneResponse\";}}}}}"
...
