---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:11:\"description\";s:578:\"As we expose more
  self serve features to end clients, we need to track when and what customers made
  changes and provide that insight to both end clients and internal support team.
  Today our individual CB products track customer behavior separately, most of time
  not completely. We also store related data in separate locations which made it difficult
  to have a complete view of what changes customers have made. With the launch of
  this micro service and associated API, we will give CB product families a centralized
  location to submit configuration changes made by end clients.\";s:7:\"version\";s:5:\"1.0.0\";s:5:\"title\";s:33:\"Micro
  Service: Client Config Log \";}"
host: api.careerbuilder.com
basePath: /corporate/ClientConfigLog
paths:
  /dataTrack:
    post:
      tags:
      - Save Client Config Log Data
      summary: ' track config data change and related details'
      description: ""
      operationId: CreditDeduction
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - in: header
        name: X_PROXY_SECRET_TOKEN
        required: true
        type: string
        default: ""
      - in: header
        name: AUTHORIZATION
        default: ""
        required: true
        type: string
      - in: header
        name: Content-Type
        default: application/json
        required: true
        type: string
      - in: body
        name: body
        description: account information for deduction
        required: true
        schema:
          $ref: '#/definitions/ConfigLogRequest'
      responses:
        200:
          description: successful operation
          schema:
            $ref: '#/definitions/ConfigLogResponse'
        400:
          description: 'Bad Request: ProductCode is required, ProductCode is invalid,
            Remaining quota is Zero, Remaining quota less than requested resumes count,
            Get exception when deduct credit'
        404:
          description: Not Found
        500:
          description: Internal Server Error
schemes:
- http
definitions: !php/object "O:8:\"stdClass\":4:{s:16:\"ConfigLogRequest\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:18:{i:0;s:17:\"EndClientEntityID\";i:1;s:17:\"ProductInstanceID\";i:2;s:9:\"AccountID\";i:3;s:7:\"OwnerID\";i:4;s:8:\"ClientID\";i:5;s:23:\"ClientFacingProductName\";i:6;s:16:\"FieldNameChanged\";i:7;s:18:\"CustomerFacingText\";i:8;s:8:\"OldValue\";i:9;s:8:\"NewValue\";i:10;s:14:\"SystemEntityID\";i:11;s:10:\"AccessType\";i:12;s:10:\"ActionType\";i:13;s:21:\"TrustBoundaryClientIP\";i:14;s:24:\"ContextBoundaryNetworkIP\";i:15;s:9:\"RequestID\";i:16;s:14:\"ChangeDateTime\";i:17;s:15:\"SystemTimeStamp\";}s:10:\"properties\";O:8:\"stdClass\":18:{s:17:\"EndClientEntityID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:22:\"demoUserEmail@test.com\";}s:17:\"ProductInstanceID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:4:\"PIID\";}s:9:\"AccountID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:0:\"\";}s:7:\"OwnerID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:0:\"\";}s:8:\"ClientID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:0:\"\";}s:23:\"ClientFacingProductName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:18:\"TN,ATS,Job,TD,
  etc\";}s:16:\"FieldNameChanged\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:0:\"\";}s:18:\"CustomerFacingText\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:0:\"\";}s:8:\"OldValue\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:0:\"\";}s:8:\"NewValue\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:0:\"\";}s:14:\"SystemEntityID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:39:\"JobDID,
  ResuemDID, ApplicationDID, etc.\";}s:10:\"AccessType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:39:\"member
  search, email campaign, ATS Sync\";}s:10:\"ActionType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:39:\"Data
  Change, Login, Logout, File Change\";}s:21:\"TrustBoundaryClientIP\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:0:\"\";}s:24:\"ContextBoundaryNetworkIP\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:0:\"\";}s:9:\"RequestID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:0:\"\";}s:14:\"ChangeDateTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:0:\"\";}s:15:\"SystemTimeStamp\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:0:\"\";}}}s:16:\"APIResponseError\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"Error\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:15:\"ConfigLogResult\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"EndClientEntityID\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:22:\"demoUserEmail@test.com\";}s:9:\"LogStatus\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:17:\"ConfigLogResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"Errors\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/APIResponseError\";}}s:7:\"Results\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ConfigLogResult\";}}}}}"
...
