---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Ashford restful
  api\";s:7:\"version\";s:5:\"1.0.0\";s:5:\"title\";s:27:\"Ashford Decoupling REST
  API\";}"
host: devd.alliancetime.com
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":72:{s:20:\"place-order-response\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"success\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";b:1;}s:6:\"result\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:59:\"The
  redirection url for third-party payments or credit card\";s:7:\"default\";s:47:\"www.ashford.com/us/checkout/confirmResponse.jsp\";}}}s:16:\"miniCartResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"cart\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/miniCart\";}}}s:12:\"cartResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"cart\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/cart\";}}}s:8:\"miniCart\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"The
  order id\";s:7:\"default\";s:7:\"o140002\";}s:9:\"profileId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"The
  profile id\";s:7:\"default\";s:8:\"pf230000\";}s:22:\"totalCommerceItemCount\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:4:\"long\";s:11:\"description\";s:26:\"The
  total of commerce item\";s:7:\"default\";i:1;}s:14:\"orderPriceInfo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/orderPriceInfo\";}s:23:\"convertedOrderPriceInfo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/orderPriceInfo\";}s:13:\"commerceItems\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/commerceItem\";}}}}s:4:\"cart\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"The
  order id\";s:7:\"default\";s:7:\"o140002\";}s:9:\"profileId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"The
  profile id\";s:7:\"default\";s:8:\"pf230000\";}s:22:\"totalCommerceItemCount\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:4:\"long\";s:11:\"description\";s:26:\"The
  total of commerce item\";s:7:\"default\";i:1;}s:13:\"commerceItems\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/commerceItem\";}}s:9:\"priceInfo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/orderPriceInfo\";}s:18:\"convertedPriceInfo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/orderPriceInfo\";}s:15:\"orderPromotions\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/promotion\";}}s:18:\"shippingPromotions\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/promotion\";}}}}s:5:\"order\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"The
  order id\";s:7:\"default\";s:7:\"o140002\";}s:9:\"profileId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"The
  profile id\";s:7:\"default\";s:8:\"pf230000\";}s:22:\"totalCommerceItemCount\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:4:\"long\";s:11:\"description\";s:26:\"The
  total of commerce item\";s:7:\"default\";i:1;}s:13:\"commerceItems\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/commerceItem\";}}s:9:\"priceInfo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/orderPriceInfo\";}s:18:\"convertedPriceInfo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/orderPriceInfo\";}s:14:\"shippingGroups\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/shippingGroup\";}}s:13:\"paymentGroups\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/paymentGroup\";}}s:15:\"orderPromotions\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/promotion\";}}s:18:\"shippingPromotions\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/promotion\";}}}}s:13:\"shippingGroup\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"The
  shipping group id\";s:7:\"default\";s:8:\"sg140009\";}s:14:\"shippingMethod\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/shippingMethod\";}s:11:\"description\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:86:\"The
  shipping description (based traslation solution, it may only return as contentkey)\";s:7:\"default\";s:8:\"sg140009\";}s:15:\"shippingAddress\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/address\";}s:15:\"additionalField\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"the
  citizen code of user\";}}}s:9:\"promotion\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"couponCode\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"The
  applied promotion code\";s:7:\"default\";s:9:\"dclm252b2\";}s:11:\"displayName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:87:\"The
  promotion display name(based traslation solution, it may only return as contentkey)\";s:7:\"default\";s:13:\"Order
  10% off\";}s:8:\"discount\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:18:\"The
  discount price\";s:7:\"default\";i:-34;}s:11:\"description\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:87:\"The
  promotion description (based traslation solution, it may only return as contentkey)\";s:7:\"default\";s:0:\"\";}}}s:12:\"commerceItem\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:2:\"id\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:43:\"The
  commerce item id (ATG back-end item id)\";s:7:\"default\";s:10:\"ci34233334\";}s:12:\"catalogRefId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:6:\"SKU
  id\";s:7:\"default\";s:7:\"0606335\";}s:9:\"productId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"product
  id\";s:7:\"default\";s:7:\"0606335\";}s:18:\"productDisplayName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:82:\"product
  display name (based traslation solution, it may only return as contentkey)\";s:7:\"default\";s:9:\"Men
  Defio\";}s:10:\"productURL\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:11:\"product
  url\";s:7:\"default\";s:70:\"/watches/all+brands/movado+watches+for+men+and+women/defio/0606335.pid\";}s:12:\"productImage\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"product
  thumbnail image\";s:7:\"default\";s:44:\"/images/catalog/movado/defio/0606335_FTZ.jpg\";}s:5:\"brand\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"brand
  name for current SKU\";s:7:\"default\";s:6:\"Movado\";}s:8:\"brandURL\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"brand
  landing page url\";s:7:\"default\";s:28:\"/watches/movado/_/N_dddf6045\";}s:8:\"quantity\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:4:\"long\";s:11:\"description\";s:13:\"item
  quantity\";s:7:\"default\";i:1;}s:13:\"itemPriceInfo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/itemPriceInfo\";}s:14:\"convertedPrice\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/itemPriceInfo\";}s:14:\"itemPromotions\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/promotion\";}}}}s:13:\"itemPriceInfo\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:19:\"The
  item price info\";s:10:\"properties\";O:8:\"stdClass\":7:{s:6:\"amount\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:17:\"Item
  total amount\";s:7:\"default\";i:972;}s:18:\"quantityDiscounted\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:23:\"The
  quantity discounted\";s:7:\"default\";i:1;}s:10:\"discounted\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:24:\"whether
  it is discounted\";s:7:\"default\";b:1;}s:13:\"rawTotalPrice\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:32:\"Raw
  total price without discount\";s:7:\"default\";i:1000;}s:12:\"currencyCode\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"currency
  code\";s:7:\"default\";s:3:\"USD\";}s:9:\"listPrice\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:10:\"list
  price\";s:7:\"default\";i:1000;}s:9:\"unitPrice\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:10:\"unit
  price\";s:7:\"default\";i:972;}}}s:14:\"orderPriceInfo\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:33:\"The
  price detail of current order\";s:10:\"properties\";O:8:\"stdClass\":9:{s:6:\"amount\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:37:\"order
  amount without tax and shipping\";s:7:\"default\";i:972;}s:5:\"total\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:40:\"order
  total amount with tax and shipping\";s:7:\"default\";i:972;}s:8:\"shipping\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:13:\"shipping
  cost\";s:7:\"default\";i:0;}s:3:\"tax\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:8:\"tax
  cost\";s:7:\"default\";i:0;}s:12:\"currencyCode\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"currency
  Code\";s:7:\"default\";s:3:\"USD\";}s:10:\"discounted\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:50:\"To
  mark the current order whether it is discounted\";s:7:\"default\";b:1;}s:11:\"rawSubtotal\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:28:\"subtotal
  without discounted.\";s:7:\"default\";i:1000;}s:14:\"discountAmount\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:34:\"Discount
  amount for current order.\";s:7:\"default\";i:28;}s:4:\"duty\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:30:\"duty
  amount for current order.\";s:7:\"default\";i:28;}}}s:17:\"itemChangeRequest\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:25:\"The
  changed commerce item\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/itemUpdate\";}}}}s:10:\"itemUpdate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"commerceId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"The
  commerce item id\";s:7:\"default\";s:8:\"c0606335\";}s:8:\"quantity\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:4:\"long\";s:11:\"description\";s:20:\"Update
  item quantity\";s:7:\"default\";i:2;}}}s:25:\"shippingAddresses-request\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"hkpickup\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:31:\"if
  current address is HK pickup\";}s:7:\"address\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/address\";}}}s:35:\"saveAdditionalShippingInfo-response\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"sucess\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";b:1;}s:6:\"result\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/order\";}}}s:24:\"shippingOptions-response\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"sucess\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";b:1;}s:6:\"result\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/shippingMethod\";}}}s:29:\"shippingOptions-save-response\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"sucess\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";b:1;}s:6:\"result\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/order\";}}}s:31:\"shippingAddresses-save-response\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"success\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";b:1;}s:6:\"result\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/order\";}}}s:37:\"shippingAddresses-save-error-response\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"success\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";b:0;}s:6:\"errors\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/exception\";}}}}s:32:\"shippingAddresses-query-response\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"success\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";b:1;}s:6:\"result\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/address\";}}}s:26:\"shippingAddresses-response\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"success\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";b:1;}s:6:\"result\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/shippingAddresses\";}}}s:17:\"shippingAddresses\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:15:\"shippingAresses\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/address\";}}}}s:7:\"address\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":14:{s:8:\"nickName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:11:\"shipAdr_one\";s:11:\"description\";s:38:\"the
  identify name in all address books\";}s:9:\"firstName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:4:\"mark\";s:11:\"description\";s:17:\"user`s
  first name\";}s:8:\"lastName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:2:\"ma\";s:11:\"description\";s:16:\"user`s
  last name\";}s:8:\"address1\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:40:\"software
  pack zone A, 555 tianhua street\";s:11:\"description\";s:38:\"detailed address info,
  down to street.\";}s:8:\"address2\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:23:\"5th
  building, 2nd floor\";s:11:\"description\";s:24:\"additional address info.\";}s:4:\"city\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:7:\"chengdu\";s:11:\"description\";s:9:\"city
  info\";}s:8:\"district\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:14:\"high-tech
  zone\";s:11:\"description\";s:13:\"district info\";}s:5:\"state\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:7:\"sichuan\";s:11:\"description\";s:10:\"state
  info\";}s:7:\"country\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:2:\"CN\";s:11:\"description\";s:12:\"country
  code\";}s:10:\"postalCode\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:6:\"610000\";s:11:\"description\";s:21:\"zip
  code of your area\";}s:11:\"phoneNumber\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:11:\"13320695121\";s:11:\"description\";s:20:\"primary
  phone number\";}s:18:\"daytimePhoneNumber\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:12:\"028-12312312\";s:11:\"description\";s:22:\"secondary
  phone number\";}s:5:\"email\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:21:\"markma@aaxischina.com\";s:11:\"description\";s:13:\"email
  address\";}s:14:\"defaultAddress\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";b:1;}}}s:14:\"shippingMethod\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"the
  name of shipping method\";s:7:\"default\";s:3:\"EMS\";}s:14:\"translatedName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"the
  translation of shipping method name\";s:7:\"default\";s:3:\"EMS\";}s:12:\"shippingCost\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"The
  price of current shipping method\";s:4:\"$ref\";s:25:\"#/definitions/priceDetail\";}s:21:\"convertedshippingCost\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"The
  converted price of current shipping method\";s:4:\"$ref\";s:25:\"#/definitions/priceDetail\";}s:4:\"duty\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"The
  shipping duty\";s:4:\"$ref\";s:25:\"#/definitions/priceDetail\";}s:15:\"additionalField\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:53:\"additional
  fields required by current shipping method\";s:7:\"default\";s:15:\"citizenshipCode\";}}}s:16:\"addItem-response\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"success\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";b:1;}}}s:9:\"exception\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"errorCode\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"error
  code\";s:7:\"default\";s:9:\"errorCode\";}s:12:\"errorMessage\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"error
  message\";s:7:\"default\";s:13:\"error message\";}s:22:\"translatedErrorMessage\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:28:\"translation
  of error message\";s:7:\"default\";s:13:\"error message\";}}}s:15:\"addItem-request\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/addItem\";}}}}s:7:\"addItem\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"productId\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"Identifier
  of product\";s:7:\"default\";s:9:\"R27814702\";s:6:\"format\";s:6:\"string\";}s:5:\"skuId\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"Identifier
  of sku\";s:7:\"default\";s:9:\"R27814702\";s:6:\"format\";s:6:\"string\";}s:8:\"quantity\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:48:\"The
  quantity of item that need to be add to cart\";s:7:\"default\";i:1;}}}s:18:\"inventory-response\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"success\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";b:1;}s:6:\"result\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/inventoryItem\";}}}s:13:\"inventoryItem\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"stock\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:11:\"stock
  level\";s:7:\"default\";i:100;}s:8:\"preorder\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:24:\"stock
  level of pre order\";s:7:\"default\";i:10;}}}s:22:\"success-price-response\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"success\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";b:1;}s:6:\"result\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/priceItem\";}}}s:22:\"faliure-price-response\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"success\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";b:0;}s:5:\"Error\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/error\";}}}s:9:\"priceItem\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"currency\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"Currency
  code of current user\";s:7:\"default\";s:3:\"USD\";}s:11:\"retailPrice\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Retail
  price, this is the base price shown to users.\";s:4:\"$ref\";s:25:\"#/definitions/priceDetail\";}s:8:\"ourPrice\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"Ashford
  discount price, this price owns higher priority than retail price.\";s:4:\"$ref\";s:25:\"#/definitions/priceDetail\";}s:9:\"salePrice\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Sale
  price, this is most highest priority price.\";s:4:\"$ref\";s:25:\"#/definitions/priceDetail\";}s:11:\"savingPrice\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"saving
  price\";s:4:\"$ref\";s:24:\"#/definitions/SaveDetail\";}}}s:10:\"SaveDetail\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"savingAmount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:19:\"saving
  price amount\";s:7:\"default\";s:8:\"1,300.00\";}s:5:\"label\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"saving
  label\";s:7:\"default\";s:8:\"you save\";}s:14:\"currencyAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:33:\"saving
  price amount with currency\";}s:16:\"savingPercentage\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:17:\"saving
  percentage\";}}}s:11:\"priceDetail\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"amount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:12:\"price
  amount\";s:7:\"default\";s:8:\"1,300.00\";}s:5:\"label\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:55:\"price
  label, used to show the price label in front-end.\";}s:8:\"currency\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"currency
  code \";s:7:\"default\";s:3:\"USD\";}s:14:\"currencyAmount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:26:\"price
  amount with currency\";}}}s:22:\"login-success-response\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"success\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";b:1;}}}s:22:\"login-failure-response\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"success\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";b:0;}s:5:\"error\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/error\";}}}s:18:\"reset-pwd-response\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"success\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";b:1;}}}s:11:\"login-error\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"errorCode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:3:\"401\";}s:12:\"errorMessage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:39:\"Auth
  failed, please check your user/pwd\";}}}s:15:\"logout-response\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"success\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";b:1;}}}s:8:\"response\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"success\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}}s:5:\"error\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"errorCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"errorMessage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"fieldsError\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/fieldsError\";}}}}s:11:\"fieldsError\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"property\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"errorMessage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:14:\"NavigationMenu\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"navigation\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/CategoryMenu\";}}}}s:12:\"CategoryMenu\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:41:\"Root
  node of Top Navigation in the header\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"categoryName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"Category
  Root Node display name\";s:7:\"default\";s:13:\"SHOP BY BRAND\";}s:7:\"restURL\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:96:\"Category
  rest url, if it is empty means it is not click-able (Will change it to SEO URL pattern)\";s:7:\"default\";s:5:\"N-7zn\";}s:13:\"subCategories\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/CategoryColumnMenu\";}}}}s:18:\"CategoryColumnMenu\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:28:\"Seconde
  level category menus\";s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"label\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"Category
  display label\";s:7:\"default\";s:14:\"Armand Nicolet\";}s:7:\"restURL\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:54:\"Category
  link url, if empty means it is not click-able\";s:7:\"default\";s:0:\"\";}s:11:\"emptyHeader\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:30:\"Whether
  to show the label name\";s:7:\"default\";b:0;}s:9:\"cateItems\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/SubCategoryMenu\";}}}}s:15:\"SubCategoryMenu\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:18:\"Sub
  category menus\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"label\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"Category
  menu display label\";s:7:\"default\";s:14:\"Armand Nicolet\";}s:7:\"restURL\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:17:\"Category
  link url\";s:7:\"default\";s:5:\"N-7zn\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"Menu
  type\";s:7:\"default\";s:4:\"link\";}}}s:12:\"CategoryList\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"facetGroups\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Facets\";}}s:8:\"products\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Products\";}}}s:6:\"Facets\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:4:\"text\";s:11:\"description\";s:26:\"Facet
  type. E.g Range/Text\";}s:9:\"facetName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:8:\"Category\";s:11:\"description\";s:50:\"Fact
  root name in Endeca. E.g Price/Category/Brand\";}s:11:\"facetValues\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/FacetValue\";}}}}s:10:\"FacetValue\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:5:\"label\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:14:\"Armand
  Nicolet\";s:11:\"description\";s:18:\"Facet display name\";}s:8:\"selected\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";b:1;s:11:\"description\";s:44:\"To
  indicate current facet is selected or not\";}s:5:\"count\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:7:\"default\";i:10;s:11:\"description\";s:48:\"To
  indicate the num of products under this facet\";}s:7:\"restURL\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:0:\"\";s:11:\"description\";s:22:\"rest
  url of this facet\";}s:10:\"lowerBound\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"default\";i:0;s:11:\"description\";s:65:\"lowerbound
  for this facet, it is usually used by Range type facet\";}s:10:\"upperBound\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"default\";i:10;s:11:\"description\";s:65:\"upperBound
  for this facet, it is usually used by Range type facet\";}s:4:\"type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"imageUrl\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"Facet
  image url\";}}}s:8:\"Products\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:13:\"Products
  data\";s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"productCount\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:7:\"default\";i:20;s:11:\"description\";s:19:\"Total
  product count\";}s:11:\"currentPage\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:7:\"default\";i:0;s:11:\"description\";s:12:\"Current
  page\";}s:8:\"pageSize\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:7:\"default\";i:10;s:11:\"description\";s:20:\"Record
  size per page\";}s:11:\"sortOptions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:15:\"Sort
  by options\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/sortOption\";}}s:11:\"productList\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Product\";}}}}s:10:\"sortOption\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"selected\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:67:\"To
  indicate the current sortby option whether it is selected or not\";s:7:\"default\";b:0;}s:7:\"restURL\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"Rest
  url of the current sortby option.\";s:7:\"default\";s:0:\"\";}s:5:\"label\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"Sortby
  option display name\";s:7:\"default\";s:18:\"Price: Low To High\";}}}s:7:\"Product\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:7:\"restURL\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:46:\"/watches/armand-nicolet/m02/9641A-AG-M9140.pid\";s:11:\"description\";s:23:\"Product
  detail page url\";}s:9:\"brandName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:14:\"Armand
  Nicolet\";s:11:\"description\";s:10:\"Brand name\";}s:11:\"productName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:9:\"Men's
  M02\";s:11:\"description\";s:12:\"Product name\";}s:12:\"priceCurrent\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:7:\"default\";i:788;s:11:\"description\";s:13:\"Current
  price\";}s:11:\"priceRetail\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:7:\"default\";i:3200;s:11:\"description\";s:12:\"Retail
  price\";}s:8:\"discount\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:7:\"default\";i:2412;s:11:\"description\";s:25:\"Discount
  for this product\";}s:16:\"savingPercentage\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"number\";s:7:\"default\";d:75.375;s:11:\"description\";s:17:\"Saving
  percentage\";}s:18:\"salePriceLabelText\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:0:\"\";s:11:\"description\";s:28:\"Sale
  price lable displayname\";}s:20:\"retailPriceLabelText\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:6:\"retail\";s:11:\"description\";s:30:\"Retail
  price lable displayname\";}s:13:\"showVaultSold\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/ShowVaultSold\";}s:27:\"displaySaleAndSavingSection\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:7:\"default\";b:1;s:11:\"description\";s:32:\"Whether
  to show saving indicator\";}s:6:\"images\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:15:\"Image
  urls list\";s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:57:\"/images/catalog/armand-nicolet/m02/9641A-AG-M9140_FSA.jpg\";s:11:\"description\";s:18:\"Relative
  image url\";}}}}s:13:\"ShowVaultSold\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:20:\"VIP
  product indictor\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"lable\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"imageUrl\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:11:\"ProductPage\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"productInfo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/productInfo\";}s:14:\"enrichmentInfo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/enrichmentInfo\";}}}s:11:\"productInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":22:{s:11:\"breadcrumbs\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/breadcrumb\";}}s:25:\"showComparisonProductLink\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:42:\"Show
  comparson production link in PDP page\";s:7:\"default\";b:1;}s:22:\"comparisonProductLabel\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:159:\"If
  the showComparisonProductLink is true, then the parameter value as the link text,
  if the showComparisonProductLink is false, then the value should be empty.\";s:7:\"default\";s:18:\"View
  2 Comparisons\";}s:9:\"brandName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"product
  brand display name\";s:7:\"default\";s:20:\"Calvin Klein Jewelry\";}s:8:\"brandUrl\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:60:\"Brand
  landing page url (Will change this to SEO URL pattern)\";s:7:\"default\";s:72:\"/us/jewelry/commerce+root/all+brands/calvin+klein+jewelry/cat1830003.cid\";}s:10:\"brandTitle\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:31:\"brand
  title, used to in a label\";s:7:\"default\";s:33:\"See Calvin Klein Jewelry Products\";}s:10:\"productUrl\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"product
  detail page url\";s:7:\"default\";s:69:\"/us/jewelry/all+brands/calvin+klein+jewelry/illusory/KJ69AE010100.pid\";}s:11:\"productName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"Product
  display name\";s:7:\"default\";s:28:\"Women's  Continuity Bracelet\";}s:18:\"productDescription\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"product
  description\";s:7:\"default\";s:65:\"Calvin Klein Jewelry, Continuity, Women''s
  Bracelet, KJ10CB01010S\";}s:18:\"productReadMoreMsg\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:151:\"If
  the length of productDescription value is gather than 290, show an link and the
  link title is the value of productReadMoreMsg, otherwise it is empty\";s:7:\"default\";s:17:\"...
  read more ...\";}s:22:\"productAuxiliaryMedias\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/productAuxiliaryMedia\";}}s:23:\"concatenatedProductName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:258:\"concatenated
  product name,if the useDispName is true, then the value should be product display
  name, otherwise, the value should be brandName + \" \" + productGender + \" \" +
  collectionName+\" \"+ productType(if the collectionName do not contains the productType)\";s:7:\"default\";s:48:\"Calvin
  Klein Jewelry Women's Continuity Bracelet\";}s:13:\"warrantyItems\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/warrantyItem\";}}s:16:\"showWarrantyDesc\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:182:\"the
  page whether show the warranty description or not, if the value is false, the warrantyItem.imagePath
  value can not be empty, otherwise the warrantyItem.typeDesc can not be empty.\";s:7:\"default\";b:0;}s:15:\"productLargeUrl\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"product
  largeImage url\";s:7:\"default\";s:68:\"/images/catalog/calvin-klein-jewelry/continuity/KJ10CB01010S_FLA.jpg\";}s:19:\"productLargeZoomUrl\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"product
  largeImage zoom url\";s:7:\"default\";s:92:\"\"http://www.ashford.com/images/catalog/calvin-klein-jewelry/continuity/KJ10CB01010S_FXA.jpg\"\";}s:9:\"clearance\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:95:\"product
  is clearance, is used as a flag to check whether display productLargeUrl in page
  or not\";s:7:\"default\";b:0;}s:18:\"productDisplayName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"product
  display name\";s:7:\"default\";s:58:\"Calvin Klein Jewelry Continue KJ0EJE100100
  Women's Earring\";}s:7:\"skuInfo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/skuInfo\";}s:14:\"sizeChartLabel\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:103:\"size
  chart label, when the sizeInfos length is gather than 1 , the value shoud display
  in the pdp page.\";s:7:\"default\";s:9:\"SizeChart\";}s:15:\"sizeChartImgUrl\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:107:\"size
  chart image url, when the sizeInfos length is gather than 1, the value should display
  in the pdp page.\";s:7:\"default\";s:28:\"/images/ashford/bracelet.png\";}s:9:\"sizeInfos\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/sizeInfo\";}}}}s:10:\"breadcrumb\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:16:\"bread
  crumb name\";s:7:\"default\";s:4:\"Home\";}s:3:\"url\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:15:\"bread
  crumb url\";s:7:\"default\";s:13:\"/us/index.jsp\";}}}s:21:\"productAuxiliaryMedia\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"count\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:58:\"the
  index of the array productAuxiliaryMedia, start with 1\";s:7:\"default\";i:1;}s:8:\"imageUrl\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:36:\"The
  product auxiliaryMedia image url\";s:7:\"default\";s:59:\"/images/catalog/zenith/ashford/03-2061-405-21-M2060_FMZ.jpg\";}s:12:\"imageZoomUrl\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"The
  product auxiliaryMedia image zoom url\";s:7:\"default\";s:59:\"/images/catalog/zenith/ashford/03-2061-405-21-M2060_FXA.jpg\";}}}s:12:\"warrantyItem\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"warranty
  type\";s:7:\"default\";s:41:\"ASHFORD\\u2019S WORRY-FREE 2 year warranty\";}s:8:\"typeDesc\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:131:\"warranty
  type description, when \"showWarrantyDesc\" is true, the value should display in
  pdp page, and the value maybe html content.\";s:7:\"default\";s:688:\"\"<P ALIGN='LEFT'>Not
  100% satisfied with your purchase? No worries - simply send your item back to Ashford
  in its new, unused condition, and Ashford will be happy to provide either a full
  refund of the purchase price or a store credit toward an exchange.</P><P ALIGN='LEFT'><B>PLEASE
  NOTE:</B></P><P ALIGN='LEFT'>- Items sent to any address outside the United States
  are considered final sale and cannot be returned.</P><P ALIGN='LEFT'>-  Ashford
  will only refund the value of the item that is being returned or exchanged; any
  shipping fees from the original purchase will not be refunded.</P><P ALIGN='LEFT'>-
  \ Return shipping is the responsibility of the buyer.</P><P ALIGN='LEFT'></P>\"\";}s:5:\"count\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:32:\"the
  warranty index, start with 1\";s:7:\"default\";i:1;}s:11:\"description\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:54:\"warranty
  description, the value should be html content\";s:7:\"default\";s:65:\"<span>2</span><span><span>Year</span><span>Warranty</span></span>\";}s:8:\"filePath\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"warranty
  file path.\";}s:15:\"fileDownloadMsg\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:103:\"if
  the filePath is not empty, the value also should not be empty and the value come
  from resource file.\";s:7:\"default\";s:40:\"DOWNLOAD MANUAL & WARRANTY BOOKLET
  [PDF]\";}s:9:\"imagePath\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:110:\"warranty
  image path, when \"showWarrantyDesc\" is false, the value can not be empty, should
  display in pdp page.\";s:7:\"default\";s:60:\"http://2.shrd.www.ashford.com.edgekey.net/J/9/RW4fRch-M.webp\";}}}s:7:\"skuInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":13:{s:5:\"skuId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:73:\"selected
  sku id, the value will be changed according the user select size\";}s:13:\"inventoryInfo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/inventoryInfo\";}s:13:\"showListPrice\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:48:\"a
  flag to control should show list price in page\";s:7:\"default\";b:1;}s:13:\"listPriceDesc\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"list
  price description\";s:7:\"default\";s:8:\"Retail: \";}s:9:\"listPrice\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"list
  price\";s:7:\"default\";s:9:\"$1,395.00\";}s:13:\"showSalePrice\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:185:\"If
  the inventory.stockLevel == -1, or (inventory.stockLevel > 0 && inventory.stockLevel
  != 1005), and the value is true, then should display the salePriceDesc and salePrice
  in pdp page.\";s:7:\"default\";b:1;}s:13:\"salePriceDesc\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"sale
  price description\";s:7:\"default\";s:6:\"Sale: \";}s:9:\"salePrice\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"sale
  price\";s:7:\"default\";s:7:\"$516.15\";}s:11:\"savingsDesc\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:208:\"saving
  price description, Only when the inventory.stockLevel == -1, or (inventory.stockLevel
  > 0 && inventory.stockLevel != 1005), and showSalePrice or showOurPrice is ture,
  can display the value in pdp page.\";s:7:\"default\";s:15:\"You Save 63.00%\";}s:11:\"savingPrice\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:265:\"saving
  price, If display in the PDP page, need add \"-\" before it. like \"-$878.85\".
  Only when the inventory.stockLevel == -1, or (inventory.stockLevel > 0 && inventory.stockLevel
  != 1005), and showSalePrice or showOurPrice is ture, can display the value in pdp
  page.\";s:7:\"default\";s:7:\"$878.85\";}s:12:\"showOurPrice\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:185:\"If
  the inventory.stockLevel == -1, or (inventory.stockLevel > 0 && inventory.stockLevel
  != 1005), and the value is true, then should display the salePriceDesc and salePrice
  in pdp page.\";s:7:\"default\";b:1;}s:12:\"ourPriceDesc\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:21:\"our
  price description\";s:7:\"default\";s:15:\"Ashford Price: \";}s:8:\"ourPrice\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"our
  price\";s:7:\"default\";s:7:\"$809.10\";}}}s:8:\"sizeInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"value\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:10:\"size
  value\";s:7:\"default\";s:8:\"6 inches\";}s:5:\"label\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"size
  labe, it used as link value\";s:7:\"default\";i:6;}s:5:\"state\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:61:\"size
  state, the should have \"selected\",\"available\",\"selected\"\";s:7:\"default\";s:8:\"selected\";}}}s:13:\"inventoryInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:9:\"available\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:30:\"the
  sku inventory is available\";s:7:\"default\";b:0;}s:10:\"stockLevel\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:66:\"the
  stockLevel of sku, it is used to logic judgement in front-end.\";s:7:\"default\";i:0;}s:18:\"availabilityStatus\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:70:\"availabilityStatus
  of sku, it is used to logic judgement in front-end.\";s:7:\"default\";i:1001;}s:13:\"outOfStockMsg\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:79:\"out
  of stock message, when the available is false, the vlaue shoud not be empty\";s:7:\"default\";s:24:\"Temporarily
  Out Of Stock\";}s:9:\"contactUs\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:107:\"the
  contact us link value, when the available is false and stockLevel is \"0\", the
  value should not be empty\";s:7:\"default\";s:2:\"us\";}s:8:\"stockMsg\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:73:\"stock
  message, when the available  is ture, the value should not be empty\";s:7:\"default\";s:46:\"In
  Stock and Ready to Ship  from United States\";}}}s:14:\"enrichmentInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"detailInfo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/detailInfo\";}s:10:\"brandStory\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/brandStory\";}s:12:\"warrantyInfo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/warrantyInfo\";}s:12:\"shippingInfo\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/shippingInfo\";}}}s:10:\"detailInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"tabLabel\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"Detail
  tab label message\";s:7:\"default\";s:7:\"Details\";}s:8:\"hswwSize\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:50:\"product
  primarySku size, if the value is not empty\";s:7:\"default\";s:5:\"Small\";}s:10:\"sizeHeader\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:126:\"size
  header in page, when the hswwSize is not empty, then the value should not be empty,
  and the value come from resource file\";s:7:\"default\";s:4:\"size\";}s:14:\"specifications\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/specification\";}}}}s:13:\"specification\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"specification
  type, not shown on page\";s:7:\"default\";s:7:\"FEATURE\";}s:5:\"label\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:19:\"specification
  label\";s:7:\"default\";s:9:\"FUNCTIONS\";}s:8:\"location\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:115:\"specification
  location, not shown on page, it used to decide the specification should display
  left or right column.\";s:7:\"default\";s:10:\"leftColumn\";}s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/itemInfo\";}}s:16:\"excludeSpecCount\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:60:\"for
  now, the production disable the exclude specication list\";}}}s:8:\"itemInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"item
  name\";s:7:\"default\";s:5:\"item1\";}s:6:\"values\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"description\";s:11:\"item
  values\";}}}s:10:\"brandStory\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":13:{s:8:\"tabLabel\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"tab
  label, this value come from resource file\";s:7:\"default\";s:11:\"Brand story\";}s:11:\"brandHeader\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"brandName+\"
  \"+productType,  header value\";s:7:\"default\";s:14:\"Bulova Watches\";}s:14:\"brandDescTitle\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:59:\"Title
  of the label <p> if the brandDescription is not empty\";s:7:\"default\";s:11:\"Brand
  story\";}s:16:\"brandDescription\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"brand
  long description\";s:7:\"default\";s:566:\"\"The Bulova watch company, founded in
  1911 by Bohemian immigrant Joseph Bulova, is considered an American icon. The brand
  developed what is believed to be the world\\u2019s first clock radio, ran the world\\u2019s
  first television commercial and created the Accutron, the worl\\u2019s first fully
  electronic timekeeper, which became an integral part of U.S. space technology, used
  on missions including the first moon walk in 1969. The brand has also produced military
  watches, aircraft instruments, critical torpedo mechanisms and kept official time
  on Air Force One.\"\";}s:8:\"brandUrl\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:9:\"brand
  url\";s:7:\"default\";s:27:\"/watches/bulova/cat6009.cid\";}s:8:\"catTitle\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:40:\"category
  Name + \" \" + productDisplayType\";s:7:\"default\";s:16:\"Rosedale Watches\";}s:14:\"catDescription\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:69:\"category
  long description, if the value is not empty, display in page\";s:7:\"default\";s:0:\"\";}s:6:\"catUrl\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Category
  url\";s:7:\"default\";s:49:\"/watches/all+brands/bulova/rosedale/cat787928.cid\";}s:10:\"brandTitle\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:127:\"The
  title of a label which  id=\"sameBrandProduct\", and the value should be composed
  of \"See \"+brandName+\" \"+ productDisplayType\";s:7:\"default\";s:17:\"See Seiko
  Watches\";}s:21:\"useProductDisplayName\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:86:\"The
  property of the product,product.useDispName, the value should not display in page.\";s:7:\"default\";b:0;}s:11:\"productName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"product
  display name\";s:7:\"default\";s:29:\"Bulova Women's Rosedale Watch\";}s:10:\"productUrl\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:77:\"product
  url, when useProductDisplayName is true, the value shoud not be empty\";s:7:\"default\";s:29:\"/us/watches/bulova/96R168.pid\";}s:18:\"productDescription\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"product.longDescription\";s:7:\"default\";s:124:\"\"Bulova,
  Rosedale, Women's Watch, Stainless Steel Case, Stainless Steel Bracelet, Japanese
  Quartz (Battery-Powered), 96R168\"\";}}}s:12:\"warrantyInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"tabLabel\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"tab
  label, this value come from resource file\";s:7:\"default\";s:8:\"Warranty\";}s:13:\"warrantyTitle\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"warranty
  title\";s:7:\"default\";s:8:\"Warranty\";}s:17:\"repairServicesMsg\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:53:\"repair
  service msg, this should be allow html content\";s:7:\"default\";s:189:\"\"For repair
  services, please contact our Repairs Department at 1-866-ASHFORD (1-866-274-3673)
  or via email at <a href=\\\"mailto:customerservice@ashford.com\\\">customerservice@ashford.com</a>\"\";}s:13:\"warrantyItems\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/warrantyItem\";}}}}s:12:\"shippingInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"tabLabel\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"tab
  label, this value come from resource file\";s:7:\"default\";s:8:\"Shipping\";}s:11:\"htmlContent\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"html
  content\";s:7:\"default\";s:0:\"\";}}}s:10:\"creditCard\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:14:\"creditCardType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"The
  type of credit card\";s:7:\"default\";s:4:\"visa\";}s:16:\"creditCardNumber\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:22:\"The
  credit card number\";s:7:\"default\";s:16:\"4005550000000019\";}s:15:\"expirationMonth\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"The
  month that the credit card expires\";s:7:\"default\";s:2:\"05\";}s:14:\"expirationYear\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"The
  year that the credit card expires\";s:7:\"default\";s:4:\"2018\";}}}s:7:\"billing\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"billing\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/creditCard\";}s:14:\"billingAddress\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/address\";}}}s:12:\"paymentGroup\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:14:\"paymentGroupId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:23:\"The
  type of credit card\";s:7:\"default\";s:4:\"visa\";}s:6:\"amount\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"number\";s:6:\"format\";s:6:\"double\";s:11:\"description\";s:17:\"the
  payment total\";s:7:\"default\";i:25;}s:12:\"currencyCode\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"The
  month that the credit card expires\";s:7:\"default\";s:0:\"\";}s:11:\"paymentType\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"The
  year that the credit card expires\";s:7:\"default\";s:0:\"\";}s:14:\"billingAddress\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/address\";}s:7:\"billing\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/creditCard\";}}}}"
...
