---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":9:{s:7:\"contact\";O:8:\"stdClass\":1:{s:9:\"x-twitter\";s:13:\"VisibleThread\";}s:11:\"description\";s:3584:\"##
  Introduction\nThe VisibleThread b API provides services for analyzing/searching
  documents and web pages.\nTo use the service you need an API key. \n\n**Contact
  us at support@visiblethread.com to request an API key**. \n\nThe services are split
  into **Documents** and **Webscans**.\n\n### Documents\nUpload documents and dictionaries
  so you can :\n- Measure the readability of your document\n- search a document for
  all terms from a dictionary\n- retrieve all paragraphs from a document or only matching
  paragraphs\n\n### Webscans\nAnalyze web pages so you can: \n- Measure the readability
  of your web content\n- Identify & highlight content issues e.g. long sentences,
  passive voice\n\nThe VisibleThread API allows you to programatially submit webpage
  urls to be scanned, \ncheck on the results of a scan, and view a list of previous
  scans you have performed.\n    \n-------------\n\nThe VisibleThread API is a HTTP-based
  JSON API, accessible at https://api.visiblethread.com \nEach request to the service
  requires your API key to be successful.\n\n## Getting Started With Webscans\n\nSteps:\n1.
  Enter your API key above and hit **Explore**. \n2. Run a new scan by submitting
  a **POST to /webscans** (title and some webUrls are required).\n   The scan runs
  asynchronously in the background but returns immediately with a JSON response containing
  an \"id\" that represents your scan.\n3. Check on the status of a scan by submitting
  **GET /webscans/{scanId}**, if the scan is still in progress it will return a HTTP
  503. If \n   it is complete it will return a HTTP 200 with the appropriate JSON
  outlining the urls scanned and the summary statistics for each url.\n4. Retrieve
  all your previous scan results by submitting **GET /webscans**.  \n5. Retrieve detailed
  results for a url within a scan (readability, long sentence and passive language
  instances) by submitting \n   **GET /webscans/{scanId}/webUrls/{urlId}** (scanId
  and urlId are required)\n\n## Getting Started With Document scans:\n\nSteps:\n1.
  Enter your API key above and hit **Explore**\n2. Run a new scan by submitting a
  **POST to /documents** (document required). The scan runs asynchronously in the
  background but returns\n   immediately with a JSON response containins an \"id\"
  that represents your scan\n3. Check on the status of a scan by submitting **GET
  /documents/{scanId}**, if the scan is still in progress it will return a HTTP 503.
  If \n   it is complete it will return a HTTP 200 with the appropriate JSON outlining
  the document readability results. It will contain detailed\n   analysis of each
  paragraph in the document\n4. Retrieve all your previous scan results by submitting
  **GET /documents**\n\n### Searching a document for keywords\n\nThe VisibleThread
  API allows you to upload a set of keywords or a 'dictionary'. You can then perform
  a search of a already uploaded document \nusing that dictionary\n\nSteps (Assuming
  you have uploaded your document using the steps above):\n1. Upload a csv file to
  use as a keyword dictionary by submitting a **POST to /dictionaries** (csv file
  required). This returns a JSON \n   response with the dictionary Id \n2. Search
  a document with the dictionary by submitting a **POST to /searches** (document id
  and dictionary id required). \n3. Get the resuhlts of the search by submitting  **GET
  /searches/{docId}/{dictionaryId}\" . This will return JSON response containing \n
  \  detailed results of searching the document using the dictionary.\n4. To view
  the list of all searches you have performed submit a **GET /searches**. \n\nBelow
  is a list of the available API endpoints, documentation & a form to try out each
  operation.\";s:5:\"title\";s:13:\"VisibleThread\";s:7:\"version\";s:3:\"1.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:4:\"text\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:86:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_VisibleThread_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:45:\"https://api.visiblethread.com/example/vt.yaml\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:17:\"visiblethread.com\";}"
host: api.visiblethread.com
basePath: /api/v1
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":22:{s:7:\"Adverbs\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"end\";O:8:\"stdClass\":2:{s:7:\"example\";i:399;s:4:\"type\";s:7:\"integer\";}s:5:\"start\";O:8:\"stdClass\":2:{s:7:\"example\";i:386;s:4:\"type\";s:7:\"integer\";}s:4:\"text\";O:8:\"stdClass\":2:{s:7:\"example\";s:13:\"exceptionally\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:8:\"Analysis\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"stats\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Stats\";}s:5:\"title\";O:8:\"stdClass\":2:{s:7:\"example\";s:19:\"My
  funky scan title\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"DocumentListSummary\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":2:{s:7:\"example\";s:15:\"My
  Document.pdf\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:24:\"DocumentResponseDetailed\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:9:\"completed\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:3:\"eta\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:10:\"paragraphs\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:16:\"paragraphCounter\";O:8:\"stdClass\":2:{s:7:\"example\";i:12;s:4:\"type\";s:7:\"integer\";}s:14:\"paragraphIndex\";O:8:\"stdClass\":2:{s:7:\"example\";i:22;s:4:\"type\";s:7:\"integer\";}s:5:\"stats\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"adverbs\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Adverbs\";}s:4:\"type\";s:5:\"array\";}s:11:\"hiddenVerbs\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/HiddenVerbs\";}s:4:\"type\";s:5:\"array\";}s:13:\"longSentences\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/LongSentences\";}s:4:\"type\";s:5:\"array\";}s:8:\"passives\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Passives\";}s:4:\"type\";s:5:\"array\";}s:17:\"veryLongSentences\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/VeryLongSentences\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:4:\"text\";O:8:\"stdClass\":2:{s:7:\"example\";s:163:\"This
  is an exmaple sentence which was extracted from a web page during a scan previously
  run using the VisibleThread API service. This is a short, simple sentence.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:12:\"scanSettings\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:21:\"longSentenceWordCount\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:25:\"veryLongSentenceWordCount\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:7:\"started\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:5:\"stats\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Stats\";}s:5:\"title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:24:\"DocumentResponseNotReady\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"eta\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:7:\"started\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"HiddenVerbs\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"end\";O:8:\"stdClass\":2:{s:7:\"example\";i:210;s:4:\"type\";s:7:\"integer\";}s:4:\"noun\";O:8:\"stdClass\":2:{s:7:\"example\";s:10:\"investment\";s:4:\"type\";s:6:\"string\";}s:5:\"start\";O:8:\"stdClass\":2:{s:7:\"example\";i:185;s:4:\"type\";s:7:\"integer\";}s:4:\"text\";O:8:\"stdClass\":2:{s:7:\"example\";s:25:\"investment
  in intangibles\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:13:\"LongSentences\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"end\";O:8:\"stdClass\":2:{s:7:\"example\";i:130;s:4:\"type\";s:7:\"integer\";}s:5:\"start\";O:8:\"stdClass\":2:{s:7:\"example\";i:0;s:4:\"type\";s:7:\"integer\";}s:9:\"wordCount\";O:8:\"stdClass\":2:{s:7:\"example\";i:22;s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:19:\"NewDocumentResponse\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"docId\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:12:\"scanSettings\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:21:\"longSentenceWordCount\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:25:\"veryLongSentenceWordCount\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:4:\"task\";O:8:\"stdClass\":2:{s:7:\"example\";s:5:\"parse\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:5:\"docId\";i:1;s:4:\"task\";i:2;s:12:\"scanSettings\";}s:4:\"type\";s:6:\"object\";}s:7:\"NewScan\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"scanSettings\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:21:\"longSentenceWordCount\";O:8:\"stdClass\":3:{s:7:\"example\";i:20;s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:25:\"veryLongSentenceWordCount\";O:8:\"stdClass\":3:{s:7:\"example\";i:30;s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:5:\"title\";O:8:\"stdClass\":2:{s:7:\"example\";s:19:\"My
  fancy scan title\";s:4:\"type\";s:6:\"string\";}s:7:\"webUrls\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:3:\"url\";O:8:\"stdClass\":2:{s:7:\"example\";s:24:\"http://visiblethread.com\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:3:\"url\";}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:2:{i:0;s:5:\"title\";i:1;s:7:\"webUrls\";}s:4:\"type\";s:6:\"object\";}s:15:\"NewScanResponse\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":3:{s:7:\"example\";i:56487;s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:5:\"title\";O:8:\"stdClass\":2:{s:7:\"example\";s:19:\"My
  fancy scan title\";s:4:\"type\";s:6:\"string\";}s:7:\"webUrls\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":3:{s:7:\"example\";i:88596;s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:3:\"url\";O:8:\"stdClass\":2:{s:7:\"example\";s:24:\"http://visiblethread.com\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:3:\"url\";i:1;s:2:\"id\";}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:3:{i:0;s:2:\"id\";i:1;s:5:\"title\";i:2;s:7:\"webUrls\";}s:4:\"type\";s:6:\"object\";}s:8:\"Passives\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:3:\"end\";O:8:\"stdClass\":2:{s:7:\"example\";i:47;s:4:\"type\";s:7:\"integer\";}s:12:\"passivePiece\";O:8:\"stdClass\":2:{s:7:\"example\";s:13:\"was
  extracted\";s:4:\"type\";s:6:\"string\";}s:5:\"start\";O:8:\"stdClass\":2:{s:7:\"example\";i:34;s:4:\"type\";s:7:\"integer\";}s:4:\"verb\";O:8:\"stdClass\":2:{s:7:\"example\";s:9:\"extracted\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:12:\"ScanDetailed\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"stats\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Stats\";}s:5:\"title\";O:8:\"stdClass\":2:{s:7:\"example\";s:19:\"My
  fancy scan title\";s:4:\"type\";s:6:\"string\";}s:7:\"webUrls\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/WebUrl\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:3:{i:0;s:5:\"title\";i:1;s:7:\"webUrls\";i:2;s:5:\"stats\";}s:4:\"type\";s:6:\"object\";}s:20:\"ScanResponseDetailed\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"completed\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:3:\"eta\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:4:\"scan\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ScanDetailed\";}s:7:\"started\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"ScanResponseSummary\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"completed\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:3:\"eta\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:4:\"scan\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ScanSummary\";}s:7:\"started\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"ScanSummary\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"title\";O:8:\"stdClass\":2:{s:7:\"example\";s:19:\"My
  fancy scan title\";s:4:\"type\";s:6:\"string\";}s:7:\"webUrls\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/WebUrlHeader\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:2:{i:0;s:5:\"title\";i:1;s:7:\"webUrls\";}s:4:\"type\";s:6:\"object\";}s:6:\"Search\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"dictId\";O:8:\"stdClass\":3:{s:7:\"example\";i:47364;s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:5:\"docId\";O:8:\"stdClass\":3:{s:7:\"example\";i:56487;s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:2:{i:0;s:5:\"docId\";i:1;s:6:\"dictId\";}s:4:\"type\";s:6:\"object\";}s:5:\"Stats\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:17:\"avgSentenceLength\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:23:\"fleschKincaidGradeLevel\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:18:\"fleschReadingLevel\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:17:\"longSentenceCount\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:20:\"passiveSentenceCount\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"sentenceCount\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"wordCount\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:17:\"VeryLongSentences\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"end\";O:8:\"stdClass\":2:{s:7:\"example\";i:130;s:4:\"type\";s:7:\"integer\";}s:5:\"start\";O:8:\"stdClass\":2:{s:7:\"example\";i:0;s:4:\"type\";s:7:\"integer\";}s:9:\"wordCount\";O:8:\"stdClass\":2:{s:7:\"example\";i:34;s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:19:\"WebResponseNotReady\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"eta\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:7:\"started\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:6:\"WebUrl\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/WebUrlHeader\";}i:1;O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"analysis\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Analysis\";}}s:8:\"required\";a:1:{i:0;s:8:\"analysis\";}s:4:\"type\";s:6:\"object\";}}}s:12:\"WebUrlDetail\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"paragraphs\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:16:\"paragraphCounter\";O:8:\"stdClass\":2:{s:7:\"example\";i:12;s:4:\"type\";s:7:\"integer\";}s:14:\"paragraphIndex\";O:8:\"stdClass\":2:{s:7:\"example\";i:22;s:4:\"type\";s:7:\"integer\";}s:5:\"stats\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"adverbs\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Adverbs\";}s:4:\"type\";s:5:\"array\";}s:11:\"hiddenVerbs\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/HiddenVerbs\";}s:4:\"type\";s:5:\"array\";}s:13:\"longSentences\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/LongSentences\";}s:4:\"type\";s:5:\"array\";}s:8:\"passives\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Passives\";}s:4:\"type\";s:5:\"array\";}s:17:\"veryLongSentences\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/VeryLongSentences\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:4:\"text\";O:8:\"stdClass\":2:{s:7:\"example\";s:163:\"This
  is an exmaple sentence which was extracted from a web page during a scan previously
  run using the VisibleThread API service. This is a short, simple sentence.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:5:\"stats\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Stats\";}s:5:\"title\";O:8:\"stdClass\":2:{s:7:\"example\";s:19:\"My
  fancy scan title\";s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":2:{s:7:\"example\";s:24:\"http://visiblethread.com\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:5:\"title\";i:1;s:3:\"url\";i:2;s:5:\"stats\";}s:4:\"type\";s:6:\"object\";}s:12:\"WebUrlHeader\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int64\";s:4:\"type\";s:7:\"integer\";}s:3:\"url\";O:8:\"stdClass\":2:{s:7:\"example\";s:24:\"http://visiblethread.com\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:2:\"id\";i:1;s:3:\"url\";}s:4:\"type\";s:6:\"object\";}}"
...
