---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":9:{s:11:\"description\";s:786:\"API Reference:
  <br><br> The StatSocial API is organized around REST. Our API is designed to have
  predictable, resource-oriented URLs and to use HTTP response codes to indicate API
  errors. We use built-in HTTP features, like HTTP authentication and HTTP verbs,
  which can be understood by off-the-shelf HTTP clients, and we support cross-origin
  resource sharing to allow you to interact securely with our API from a client-side
  web application (remember that you should never expose your secret API key in any
  public website's client-side code). JSON will be returned in all responses from
  the API, including errors (though if you're using API bindings, we will convert
  the response to the appropriate language-specific object).<br><br>Contact help@statsocial.com
  to obtain a test API key\";s:5:\"title\";s:19:\"StatSocial Platform\";s:7:\"version\";s:6:\"1.0.0.\";s:21:\"x-apisguru-categories\";a:2:{i:0;s:6:\"social\";i:1;s:9:\"marketing\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:106:\"https://api.apis.guru/v2/cache/logo/http_www.statsocial.com_wp-content_uploads_2016_01_statsocial-logo.svg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:76:\"http://docs.statsocial.com/wp-content/themes/twentyfifteen/json/swagger.json\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"statsocial.com\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:10:\"statsocial\";s:4:\"type\";s:7:\"openapi\";}}"
host: api.statsocial.com
basePath: /api
paths: ~
produces:
- application/json
schemes:
- http
definitions: !php/object "O:8:\"stdClass\":34:{s:5:\"18_24\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"average\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"multiplicity\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"percentile\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:16:\"statistical_info\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/statistical_info_18\";}s:5:\"stdev\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:5:\"25_34\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"average\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"multiplicity\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"percentile\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:16:\"statistical_info\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/statistical_info_25\";}s:5:\"stdev\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:5:\"35_44\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"average\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"multiplicity\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"percentile\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:16:\"statistical_info\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/statistical_info_35\";}s:5:\"stdev\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:9:\"400_Error\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"error_code_msg\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"msg\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"success\";O:8:\"stdClass\":2:{s:7:\"default\";s:5:\"false\";s:4:\"type\";s:6:\"string\";}}}s:9:\"401_Error\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"error_code_msg\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"msg\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"success\";O:8:\"stdClass\":2:{s:7:\"default\";s:5:\"false\";s:4:\"type\";s:6:\"string\";}}}s:9:\"403_Error\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"error_code_msg\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"msg\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"success\";O:8:\"stdClass\":2:{s:7:\"default\";s:5:\"false\";s:4:\"type\";s:6:\"string\";}}}s:9:\"404_Error\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"error_code_msg\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"msg\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"success\";O:8:\"stdClass\":2:{s:7:\"default\";s:5:\"false\";s:4:\"type\";s:6:\"string\";}}}s:9:\"500_Error\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"error_code_msg\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"msg\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"success\";O:8:\"stdClass\":2:{s:7:\"default\";s:5:\"false\";s:4:\"type\";s:6:\"string\";}}}s:18:\"Application_Status\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/application_response\";}s:3:\"msg\";O:8:\"stdClass\":2:{s:7:\"default\";s:7:\"success\";s:4:\"type\";s:6:\"string\";}s:7:\"success\";O:8:\"stdClass\":2:{s:7:\"default\";s:4:\"true\";s:4:\"type\";s:6:\"string\";}}}s:12:\"Combined_Age\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"18
  - 24\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/18_24\";}s:7:\"25 -
  34\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/25_34\";}s:7:\"35 - 44\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/35_44\";}}s:4:\"type\";s:6:\"object\";}s:12:\"Create_Tweet\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/create_tweet_response\";}s:3:\"msg\";O:8:\"stdClass\":2:{s:7:\"default\";s:7:\"success\";s:4:\"type\";s:6:\"string\";}s:7:\"success\";O:8:\"stdClass\":2:{s:7:\"default\";s:4:\"true\";s:4:\"type\";s:6:\"string\";}}}s:14:\"Create_Twitter\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/follower_create_response\";}s:3:\"msg\";O:8:\"stdClass\":2:{s:7:\"default\";s:7:\"success\";s:4:\"type\";s:6:\"string\";}s:7:\"success\";O:8:\"stdClass\":2:{s:7:\"default\";s:4:\"true\";s:4:\"type\";s:6:\"string\";}}}s:13:\"Custom_Create\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/custom_create_response\";}s:3:\"msg\";O:8:\"stdClass\":2:{s:7:\"default\";s:7:\"success\";s:4:\"type\";s:6:\"string\";}s:7:\"success\";O:8:\"stdClass\":2:{s:7:\"default\";s:4:\"true\";s:4:\"type\";s:6:\"string\";}}}s:15:\"Custom_Generate\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/custom_generate_response\";}s:3:\"msg\";O:8:\"stdClass\":2:{s:7:\"default\";s:7:\"success\";s:4:\"type\";s:6:\"string\";}s:7:\"success\";O:8:\"stdClass\":2:{s:7:\"default\";s:4:\"true\";s:4:\"type\";s:6:\"string\";}}}s:13:\"Custom_Insert\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/custom_insert_response\";}s:3:\"msg\";O:8:\"stdClass\":2:{s:7:\"default\";s:7:\"success\";s:4:\"type\";s:6:\"string\";}s:7:\"success\";O:8:\"stdClass\":2:{s:7:\"default\";s:4:\"true\";s:4:\"type\";s:6:\"string\";}}}s:6:\"Female\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"average\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"multiplicity\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"percentile\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:16:\"statistical_info\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/statistical_info_f\";}s:5:\"stdev\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Male\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"average\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"multiplicity\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"percentile\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:16:\"statistical_info\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/statistical_info_m\";}s:5:\"stdev\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:12:\"Report_Dates\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"data\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"type\";s:5:\"array\";}s:3:\"msg\";O:8:\"stdClass\":2:{s:7:\"default\";s:7:\"success\";s:4:\"type\";s:6:\"string\";}s:7:\"success\";O:8:\"stdClass\":2:{s:7:\"default\";s:4:\"true\";s:4:\"type\";s:6:\"string\";}}}s:13:\"Report_Status\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"msg\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"success\";O:8:\"stdClass\":2:{s:7:\"default\";s:4:\"true\";s:4:\"type\";s:6:\"string\";}}}s:14:\"Report_Success\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"data\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/report_response\";}s:3:\"msg\";O:8:\"stdClass\":2:{s:7:\"default\";s:7:\"success\";s:4:\"type\";s:6:\"string\";}s:7:\"success\";O:8:\"stdClass\":2:{s:7:\"default\";s:4:\"true\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:3:\"Sex\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"Female\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Female\";}s:4:\"Male\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Male\";}}s:4:\"type\";s:6:\"object\";}s:20:\"application_response\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:15:\"remaining_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"reports\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/report_info\";}s:19:\"total_reports_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:18:\"total_reports_done\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:21:\"create_tweet_response\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:21:\"aggregate_report_hash\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"daily_report_hash\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"monthly_report_hash\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"weekly_report_hash\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:22:\"custom_create_response\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"report_hash\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:24:\"custom_generate_response\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"upload_hash\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:22:\"custom_insert_response\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:18:\"distinct_relations\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:15:\"total_relations\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:24:\"follower_create_response\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"report_hash\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"report_info\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"created\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"report_type\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"report_response\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"Combined
  Age\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/Combined_Age\";}s:3:\"Sex\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Sex\";}}s:4:\"type\";s:6:\"object\";}s:19:\"statistical_info_18\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"error_range\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"lower_bound\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"upper_bound\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:19:\"statistical_info_25\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"error_range\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"lower_bound\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"upper_bound\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:19:\"statistical_info_35\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"error_range\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"lower_bound\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"upper_bound\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:18:\"statistical_info_f\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"error_range\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"lower_bound\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"upper_bound\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:18:\"statistical_info_m\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"error_range\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"lower_bound\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"upper_bound\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}}"
...
