---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":11:{s:7:\"contact\";O:8:\"stdClass\":2:{s:5:\"email\";s:22:\"support@blazemeter.com\";s:9:\"x-twitter\";s:10:\"BlazeMeter\";}s:11:\"description\";s:22:\"Live
  API Documentation\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:8:\"LGPL-2.1\";s:3:\"url\";s:55:\"https://www.gnu.org/licenses/old-licenses/lgpl-2.1.html\";}s:5:\"title\";s:23:\"Blazemeter
  API Explorer\";s:7:\"version\";s:1:\"4\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:15:\"developer_tools\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:82:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_BlazeMeter_profile_image.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.6.0\";}s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:55:\"https://a.blazemeter.com/api/v4/explorer/resources.json\";s:7:\"version\";s:3:\"1.2\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"blazemeter.com\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:10:\"blazemeter\";s:4:\"type\";s:7:\"openapi\";}}"
host: a.blazemeter.com
basePath: /api/v4
paths: ~
produces:
- application/json
- text/html
- text/javascript
- text/csv
- text/plain
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":12:{s:11:\"ApiResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"ApiResponse
  Model\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"api_version\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"error\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"result\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:11:\"api_version\";i:1;s:5:\"error\";i:2;s:6:\"result\";}}s:10:\"UserModel1\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"UserModel1
  Model\";s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"currentPassword\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"newPassword\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:15:\"currentPassword\";i:1;s:11:\"newPassword\";}}s:10:\"UserModel2\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"UserModel2
  Model\";s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"currentPassword\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"newPassword\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:15:\"currentPassword\";i:1;s:11:\"newPassword\";}}s:10:\"UserModel3\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"UserModel3
  Model\";s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"currentPassword\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"newPassword\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:15:\"currentPassword\";i:1;s:11:\"newPassword\";}}s:10:\"UserModel4\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"UserModel4
  Model\";s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Email
  address\";s:4:\"type\";s:6:\"string\";}s:9:\"firstName\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"First
  name\";s:4:\"type\";s:6:\"string\";}s:8:\"lastName\";O:8:\"stdClass\":2:{s:11:\"description\";s:9:\"Last
  name\";s:4:\"type\";s:6:\"string\";}s:8:\"password\";O:8:\"stdClass\":2:{s:11:\"description\";s:8:\"Password\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:9:\"firstName\";i:1;s:8:\"lastName\";i:2;s:5:\"email\";i:3;s:8:\"password\";}}s:10:\"UserModel5\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"UserModel5
  Model\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"session_ids\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}}s:28:\"blazemeter\\Model\\ApiResponse\";O:8:\"stdClass\":0:{}s:32:\"blazemeter\\Routing\\v4\\UserModel1\";O:8:\"stdClass\":0:{}s:32:\"blazemeter\\Routing\\v4\\UserModel2\";O:8:\"stdClass\":0:{}s:32:\"blazemeter\\Routing\\v4\\UserModel3\";O:8:\"stdClass\":0:{}s:32:\"blazemeter\\Routing\\v4\\UserModel4\";O:8:\"stdClass\":0:{}s:32:\"blazemeter\\Routing\\v4\\UserModel5\";O:8:\"stdClass\":0:{}}"
...
