---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:7:\"BZM API\";s:11:\"description\";s:7:\"BZM
  API\";s:7:\"version\";s:5:\"0.0.1\";}"
host: a.blazemeter.com
basePath: /api/v4
paths:
  /tests:
    get:
      tags:
      - test
      summary: list Tests
      parameters:
      - $ref: '#/parameters/querySkip'
      - $ref: '#/parameters/queryLimit'
      - $ref: '#/parameters/querySort'
      - $ref: '#/parameters/filterByProjectId'
      - $ref: '#/parameters/filterByWorkspaceId'
      responses:
        200:
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/ApiResponseResultPaginated'
            - properties:
                result:
                  type: array
                  items:
                    $ref: '#/definitions/Test'
        404:
          schema:
            $ref: '#/definitions/ApiResponseError'
    post:
      tags:
      - test
      summary: create a new Test
      description: create
      parameters:
      - name: data
        in: body
        required: true
        schema:
          $ref: '#/definitions/Test'
      responses:
        200:
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/ApiResponseResult'
            - properties:
                result:
                  $ref: '#/definitions/Test'
        400:
          description: Bad request
          schema:
            $ref: '#/definitions/ApiResponseError'
  /tests/{testId}:
    get:
      tags:
      - test
      description: get test
      parameters:
      - $ref: '#/parameters/pathTestId'
      responses:
        200:
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/ApiResponseResult'
            - properties:
                result:
                  $ref: '#/definitions/Test'
        400:
          description: Bad request
          schema:
            $ref: '#/definitions/ApiResponseError'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ApiResponseError'
    patch:
      tags:
      - test
      description: update test fields
      parameters:
      - $ref: '#/parameters/pathTestId'
      - name: data
        in: body
        schema:
          $ref: '#/definitions/Test'
        required: true
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Test'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ApiResponseError'
    put:
      deprecated: true
      tags:
      - test
      description: use PATCH
      parameters:
      - $ref: '#/parameters/pathTestId'
      - name: data
        in: body
        schema:
          $ref: '#/definitions/Test'
        required: true
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/Test'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ApiResponseError'
    delete:
      tags:
      - test
      description: delete test
      parameters:
      - $ref: '#/parameters/pathTestId'
      responses:
        204:
          description: Deleted
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ApiResponseError'
  /tests/{testId}/start:
    parameters:
    - $ref: '#/parameters/pathTestId'
    post:
      tags:
      - test
      - report
      description: start a new report from test
      parameters:
      - $ref: '#/parameters/pathTestId'
      - $ref: '#/parameters/queryDelayedStart'
      - $ref: '#/parameters/queryFunctionalExecution'
      responses:
        200:
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/ApiResponseResult'
            - properties:
                result:
                  $ref: '#/definitions/Report'
        400:
          description: Bad request
          schema:
            $ref: '#/definitions/ApiResponseError'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ApiResponseError'
  /reports:
    get:
      tags:
      - report
      summary: list reports
      parameters:
      - $ref: '#/parameters/querySkip'
      - $ref: '#/parameters/queryLimit'
      - $ref: '#/parameters/querySort'
      - $ref: '#/parameters/filterByProjectId'
      - $ref: '#/parameters/filterByWorkspaceId'
      - $ref: '#/parameters/filterByTestId'
      responses:
        200:
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/ApiResponseResultPaginated'
            - properties:
                result:
                  type: array
                  items:
                    $ref: '#/definitions/Report'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ApiResponseError'
  /reports/{reportId}:
    get:
      tags:
      - report
      summary: get report
      parameters:
      - $ref: '#/parameters/pathReportId'
      responses:
        200:
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/ApiResponseResult'
            - properties:
                result:
                  $ref: '#/definitions/Report'
        404:
          description: Not found
          schema:
            $ref: '#/definitions/ApiResponseError'
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":12:{s:11:\"TestPlugins\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"modStatus\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:13:\"Configuration\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":18:{s:8:\"location\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"consoleSize\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"enginesSize\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"calculatedDuration\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"indexOffset\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:21:\"collectionIndexOffset\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"serversCount\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"concurrency\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"delayedStart\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:19:\"dedicatedIpsEnabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"javaVersion\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"canControlRampup\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:13:\"targetThreads\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:18:\"overrideLocationId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"isSandbox\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"execution\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:22:\"enableJMeterProperties\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:7:\"plugins\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/TestPlugins\";}}}s:4:\"Test\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":11:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"draftId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"isNewTest\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:11:\"lastRunTime\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"oldVersionId\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"userId\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"createdUsing\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"project\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Project\";}s:13:\"lastUpdatedBy\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/UserInternal\";}s:13:\"configuration\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/Configuration\";}}}s:12:\"UserInternal\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":16:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"access\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"login\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"firstName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"lastName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"company\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"timezone\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"enabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:6:\"apiKey\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"phone\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"provider\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"herokuAppName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:15:\"maxApiKeyExpiry\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:17:\"personalWorkspace\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Workspace\";}s:14:\"defaultProject\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Project\";}}}s:7:\"Project\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"userId\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"workspace\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Workspace\";}}}s:9:\"Workspace\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"userId\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"salesForceId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"dedicatedIpsEnabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:23:\"privateLocationsEnabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:22:\"performanceLabsEnabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:7:\"enabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:7:\"members\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Member\";}}s:9:\"accountId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:11:\"accountName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:6:\"Member\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"enabled\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:4:\"user\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/UserInternal\";}}}s:11:\"ApiResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:11:\"api_version\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"api_version\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}s:17:\"ApiResponseResult\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:6:\"result\";}s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ApiResponse\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"result\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}s:26:\"ApiResponseResultPaginated\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:5:\"total\";i:1;s:5:\"limit\";i:2;s:4:\"skip\";}s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ApiResponseResult\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"total\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:5:\"limit\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"skip\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}}}s:16:\"ApiResponseError\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:5:\"error\";}s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/ApiResponse\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}}}s:6:\"Report\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":18:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"userId\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"publicToken\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"ended\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"lastUpdate\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:17:\"delayedStartReady\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:12:\"runnerUserId\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"passed\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:16:\"canControlRampup\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:13:\"targetThreads\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:24:\"parallelTestsInWorkspace\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:22:\"parallelTestsInAccount\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"isSandbox\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:13:\"isPrivateData\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:13:\"executionMode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"test\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Test\";}s:7:\"project\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Project\";}}}}"
...
