---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:26:\"myReevoo Fast Response
  API\";s:11:\"description\";s:482:\"The Fast Response API allows you to search for
  any piece of content created by your customers including product reviews, customer
  experience reviews and conversation questions. When you find the content you can
  respond to it or update or delete already existing responses.\nTo try out the API
  operations you need to retrieve an access token from [api_session endpoint](http://reevoo.github.io/docs/myreevooapi/#!/api_session/POST_api_version_api_session_json)
  of myReevoo Admin API.\n\";s:7:\"version\";s:1:\"4\";}"
host: fr-api.reevoo.com
basePath: /api/v1
paths: ~
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":13:{s:6:\"Search\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"query_string\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:35:\"Query
  string in Lucene query format\";}s:7:\"filters\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/SearchFilter\";}}s:4:\"page\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"default\";i:1;}s:8:\"per_page\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"default\";i:20;}s:4:\"sort\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"default\";s:6:\"_score\";s:4:\"enum\";a:43:{i:0;s:6:\"_score\";i:1;s:11:\"branch.code\";i:2;s:11:\"branch.name\";i:3;s:12:\"customer_ref\";i:4;s:12:\"delivered_at\";i:5;s:12:\"display_date\";i:6;s:11:\"has_content\";i:7;s:7:\"helpful\";i:8;s:2:\"id\";i:9;s:22:\"legacy_response_status\";i:10;s:6:\"locale\";i:11;s:8:\"metadata\";i:12;s:11:\"not_helpful\";i:13;s:9:\"order_ref\";i:14;s:13:\"overall_score\";i:15;s:19:\"product.category.id\";i:16;s:21:\"product.category.name\";i:17;s:19:\"product.description\";i:18;s:17:\"product.image_url\";i:19;s:13:\"product.model\";i:20;s:12:\"product.name\";i:21;s:11:\"product.sku\";i:22;s:12:\"published_at\";i:23;s:12:\"purchased_at\";i:24;s:18:\"removed_from_queue\";i:25;s:15:\"response_status\";i:26;s:22:\"retailer.friendly_name\";i:27;s:13:\"retailer.name\";i:28;s:15:\"retailer.trkref\";i:29;s:18:\"retailer_review_id\";i:30;s:25:\"review_content.bad_points\";i:31;s:31:\"review_content.general_comments\";i:32;s:26:\"review_content.good_points\";i:33;s:11:\"review_tags\";i:34;s:11:\"review_type\";i:35;s:27:\"reviewer.facebook_avatar_ur\";i:36;s:22:\"reviewer.facebook_user\";i:37;s:19:\"reviewer.first_name\";i:38;s:19:\"reviewer.ip_address\";i:39;s:17:\"reviewer.location\";i:40;s:16:\"reviewer.segment\";i:41;s:6:\"status\";i:42;s:9:\"usefulnes\";}}}}s:12:\"SearchFilter\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:5:\"field\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"field\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"Filter
  based on this field\";s:4:\"enum\";a:42:{i:0;s:11:\"branch.code\";i:1;s:11:\"branch.name\";i:2;s:12:\"customer_ref\";i:3;s:12:\"delivered_at\";i:4;s:12:\"display_date\";i:5;s:11:\"has_content\";i:6;s:7:\"helpful\";i:7;s:2:\"id\";i:8;s:22:\"legacy_response_status\";i:9;s:6:\"locale\";i:10;s:8:\"metadata\";i:11;s:11:\"not_helpful\";i:12;s:9:\"order_ref\";i:13;s:13:\"overall_score\";i:14;s:19:\"product.category.id\";i:15;s:21:\"product.category.name\";i:16;s:19:\"product.description\";i:17;s:17:\"product.image_url\";i:18;s:13:\"product.model\";i:19;s:12:\"product.name\";i:20;s:11:\"product.sku\";i:21;s:12:\"published_at\";i:22;s:12:\"purchased_at\";i:23;s:18:\"removed_from_queue\";i:24;s:15:\"response_status\";i:25;s:22:\"retailer.friendly_name\";i:26;s:13:\"retailer.name\";i:27;s:15:\"retailer.trkref\";i:28;s:18:\"retailer_review_id\";i:29;s:25:\"review_content.bad_points\";i:30;s:31:\"review_content.general_comments\";i:31;s:26:\"review_content.good_points\";i:32;s:11:\"review_tags\";i:33;s:11:\"review_type\";i:34;s:27:\"reviewer.facebook_avatar_ur\";i:35;s:22:\"reviewer.facebook_user\";i:36;s:19:\"reviewer.first_name\";i:37;s:19:\"reviewer.ip_address\";i:38;s:17:\"reviewer.location\";i:39;s:16:\"reviewer.segment\";i:40;s:6:\"status\";i:41;s:9:\"usefulnes\";}}s:7:\"include\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Array
  of values that field can contain\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:5:\"range\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Array
  of ranges\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}}s:19:\"SearchResultSummary\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"page\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"per_page\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"total_count\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"total_pages\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"sort_order\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:78:\"Array
  of objects with key of sortable attribute and value of asc or desc order\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}}}s:7:\"Content\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":11:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:15:\"product_reviews\";i:1;s:27:\"customer_experience_reviews\";i:2;s:22:\"conversation_questions\";}}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:9:\"published\";i:1;s:8:\"rejected\";}}s:6:\"locale\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"metadata\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}s:15:\"response_status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:5:{i:0;s:11:\"no_response\";i:1;s:14:\"response_draft\";i:2;s:16:\"response_pending\";i:3;s:18:\"response_published\";i:4;s:17:\"response_rejected\";}}s:23:\"draft_company_responses\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Response\";}}s:17:\"company_responses\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Response\";}}s:18:\"customer_responses\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Response\";}}s:8:\"retailer\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"friendly_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"trkref\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:11:\"review_tags\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:6:\"Review\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":14:{s:11:\"review_type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:15:\"good_bad_points\";i:1;s:16:\"general_comments\";}}s:11:\"has_content\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:12:\"purchased_at\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";}s:12:\"published_at\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";}s:12:\"delivered_at\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";}s:12:\"customer_ref\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"order_ref\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"helpful\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"not_helpful\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:10:\"usefulness\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:6:\"branch\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"code\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:14:\"review_content\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"good_points\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"bad_points\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"general_comments\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:8:\"reviewer\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"first_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"segment\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:7:\"product\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Product\";}}}s:13:\"ProductReview\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:3:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Content\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Review\";}i:2;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"overall_score\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}}}s:24:\"CustomerExperienceReview\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:3:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Content\";}i:1;O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Review\";}i:2;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:27:\"happy_with_customer_service\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:19:\"happy_with_delivery\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:15:\"would_buy_again\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:3:\"nps\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}}}s:20:\"ConversationQuestion\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Content\";}i:1;O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:13:\"answer_statut\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:10:\"no_answers\";i:1;s:16:\"customer_answers\";}}s:10:\"created_at\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:8:\"enquirer\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"first_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:13:\"product_group\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"parametrized_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:8:\"products\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Product\";}s:11:\"description\";s:49:\"All
  the products that belong to the product group\";}s:8:\"question\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"vetted_at\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}}}}}s:7:\"Product\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"category\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:11:\"description\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"model\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"sku\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:8:\"Response\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":15:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:7:\"content\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:4:\"uuid\";}s:4:\"type\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:12:\"Content
  type\";s:4:\"enum\";a:3:{i:0;s:15:\"product_reviews\";i:1;s:27:\"customer_experience_reviews\";i:2;s:22:\"conversation_questions\";}}}}s:4:\"user\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:23:\"Creator
  of the response\";s:10:\"properties\";O:8:\"stdClass\":1:{s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}}}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:6:\"public\";i:1;s:7:\"private\";}}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:4:{i:0;s:5:\"draft\";i:1;s:7:\"pending\";i:2;s:9:\"published\";i:3;s:8:\"rejected\";}}s:12:\"subject_line\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"text\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"Text
  of the response\";}s:9:\"responder\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"custom_title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"first_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"surname\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"job_title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:16:\"reply_to_address\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:49:\"Reply-to
  address to be shown in email to customer\";}s:22:\"should_notify_customer\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:37:\"Whether
  or not to notify the customer\";}s:4:\"note\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"Note
  for internal client purpose\";}s:10:\"created_at\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:10:\"updated_at\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:10:\"deleted_at\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:10:\"deleted_by\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";s:11:\"description\";s:34:\"UUID
  of user that deleted response\";}}}s:23:\"ResponseWriteAttributes\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":13:{s:10:\"content_id\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"uuid\";}s:12:\"content_type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:15:\"product_reviews\";i:1;s:27:\"customer_experience_reviews\";i:2;s:22:\"conversation_questions\";}}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:6:\"public\";i:1;s:7:\"private\";}}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:4:{i:0;s:5:\"draft\";i:1;s:7:\"pending\";i:2;s:9:\"published\";i:3;s:8:\"rejected\";}}s:12:\"subject_line\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"text\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:20:\"Text
  of the response\";}s:22:\"responder_custom_title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"responder_first_name\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"responder_surname\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:19:\"responder_job_title\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"reply_to_address\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:49:\"Reply-to
  address to be shown in email to customer\";}s:22:\"should_notify_customer\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:37:\"Whether
  or not to notify the customer\";}s:4:\"note\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"Note
  for internal client purpose\";}}}s:24:\"ResponseFilteredByTrkref\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"summary\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/PaginationResponse\";}s:9:\"responses\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Response\";}}}}s:18:\"PaginationResponse\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"pagination\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:13:\"total_entries\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:11:\"total_pages\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:12:\"current_page\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:8:\"per_page\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:13:\"previous_page\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:9:\"next_page\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}}}}}"
...
