---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"<h1>phoenix-ocean</h1>\";s:7:\"version\";s:3:\"1.0\";s:5:\"title\";s:13:\"phoenix-ocean\";}"
host: shipco.phxcloud.io
basePath: /phoenix/1.0
paths:
  /basicsearch/getsearchbean:
    post:
      tags:
      - BasicSearchResource
      description: ""
      operationId: resource_BasicSearchResource_getSearchBean_POST
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: body
        in: body
        schema:
          description: ""
          $ref: '#/definitions/json_BasicSearchRequestBean'
        description: ""
      responses:
        201:
          schema:
            description: ""
            $ref: '#/definitions/json_ResultJson'
          headers: []
          description: Success
        default:
          description: Unexpected error.
  /businessRule/callBusinessRule:
    post:
      tags:
      - BusinessRuleResource
      description: ""
      operationId: resource_BusinessRuleResource_callBusinessRules_POST
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: body
        in: body
        schema:
          description: ""
          $ref: '#/definitions/json_BusinessRuleRequestBean'
        description: ""
      responses:
        201:
          schema:
            description: ""
            $ref: '#/definitions/json_ResultJson'
          headers: []
          description: Success
        default:
          description: Unexpected error.
  /documents/get_email_template:
    post:
      tags:
      - CommonSendDocumentsResource
      description: ""
      operationId: resource_CommonSendDocumentsResource_getEmailTemplate_POST
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: body
        in: body
        schema:
          description: ""
          type: string
        description: ""
      responses:
        201:
          schema:
            description: ""
            $ref: '#/definitions/json_ResultJson'
          headers: []
          description: Success
        default:
          description: Unexpected error.
  /documents/send:
    post:
      tags:
      - CommonSendDocumentsResource
      description: ""
      operationId: resource_CommonSendDocumentsResource_sendDocuments_POST
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: customer
        in: query
        type: string
        description: ""
      - name: body
        in: body
        schema:
          description: ""
          type: string
        description: ""
      responses:
        201:
          schema:
            description: ""
            $ref: '#/definitions/json_ResultJson'
          headers: []
          description: Success
        default:
          description: Unexpected error.
  /documents/search:
    post:
      tags:
      - DocumentSearchResource
      description: ""
      operationId: resource_DocumentSearchResource_searchDocs_POST
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: body
        in: body
        schema:
          description: ""
          $ref: '#/definitions/json_DocumentSearchBean'
        description: ""
      responses:
        201:
          schema:
            description: ""
            $ref: '#/definitions/json_ResultJson'
          headers: []
          description: Success
        default:
          description: Unexpected error.
  /search/edocs:
    post:
      tags:
      - EDocSearchResource
      description: ""
      operationId: resource_EDocSearchResource_fetchUploadedDocument_POST
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: body
        in: body
        schema:
          description: ""
          type: file
        description: ""
      responses:
        201:
          schema:
            description: ""
            $ref: '#/definitions/json_ResultJson_bean'
          headers: []
          description: Success
        default:
          description: Unexpected error.
  /execute_report/execute_perl_report:
    post:
      tags:
      - ExecuteReportWebResource
      summary: Execute Perl Report.
      description: Execute Perl Report
      operationId: resource_ExecuteReportWebResource_executePerlReport_POST
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: body
        in: body
        schema:
          description: ""
          $ref: '#/definitions/json_ExecuteReportRequestBean'
        description: ""
      responses:
        201:
          schema:
            description: ""
            $ref: '#/definitions/json_ResultJson'
          headers: []
          description: Success
        default:
          description: Unexpected error.
  /file/autogenerate:
    post:
      tags:
      - FileNumberAutoGenerateResource
      description: ""
      operationId: resource_FileNumberAutoGenerateResource_autogenerateImportFileNumber_POST
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: body
        in: body
        schema:
          description: ""
          type: file
        description: ""
      responses:
        201:
          schema:
            description: ""
            $ref: '#/definitions/json_ResultJson'
          headers: []
          description: Success
        default:
          description: Unexpected error.
  /loginbean/fetch:
    post:
      tags:
      - LoginResource
      description: ""
      operationId: resource_LoginResource_fetchLoginBean_POST
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: body
        in: body
        schema:
          description: ""
          type: file
        description: ""
      responses:
        201:
          schema:
            description: ""
            $ref: '#/definitions/json_ResultJson'
          headers: []
          description: Success
        default:
          description: Unexpected error.
  /login/authenticateUser:
    post:
      tags:
      - LoginResource
      summary: This is done For PHX-22414rnCustomer search service validationrnbased
        on user authentication.
      description: This is done For PHX-22414rnCustomer search service validationrnbased
        on user authentication
      operationId: resource_LoginResource_webservice_authenticateUser_POST
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: body
        in: body
        schema:
          description: ""
          type: string
        description: ""
      responses:
        201:
          schema:
            description: ""
            $ref: '#/definitions/json_ResultJson'
          headers: []
          description: Success
        default:
          description: Unexpected error.
  /login/getLoginBean:
    post:
      tags:
      - LoginResource
      description: ""
      operationId: resource_LoginResource_webservice_getLoginBean_POST
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: body
        in: body
        schema:
          description: ""
          type: string
        description: ""
      responses:
        201:
          schema:
            description: ""
            $ref: '#/definitions/json_ResultJson'
          headers: []
          description: Success
        default:
          description: Unexpected error.
  /lot:
    post:
      tags:
      - LotResource
      description: ""
      operationId: resource_LotResource_getLotBean_POST
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: body
        in: body
        schema:
          description: ""
          $ref: '#/definitions/json_BookingBean'
        description: ""
      responses:
        201:
          schema:
            description: ""
            $ref: '#/definitions/json_ResultJson'
          headers: []
          description: Success
        default:
          description: Unexpected error.
  /office/office_settings:
    get:
      tags:
      - OfficeSettingResource
      description: ""
      operationId: resource_OfficeSettingResource_callBusinessRules_GET
      produces:
      - application/json
      parameters:
      - name: officeCode
        in: query
        type: string
        description: ""
      responses:
        200:
          schema:
            description: ""
            $ref: '#/definitions/json_ResultJson'
          headers: []
          description: Success
        default:
          description: Unexpected error.
  /fetch/orgdata/json:
    post:
      tags:
      - OrganizationSearchResource
      description: ""
      operationId: resource_OrganizationSearchResource_fetchOrgDataJson_POST
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: body
        in: body
        schema:
          description: ""
          type: string
        description: ""
      responses:
        201:
          schema:
            description: ""
            $ref: '#/definitions/json_ResultJson'
          headers: []
          description: Success
        default:
          description: Unexpected error.
  /fetch/orgdata/xml:
    post:
      tags:
      - OrganizationSearchResource
      description: ""
      operationId: resource_OrganizationSearchResource_fetchOrgDataxml_POST
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: body
        in: body
        schema:
          description: ""
          type: string
        description: ""
      responses:
        201:
          schema:
            description: ""
            $ref: '#/definitions/json_ResultJson'
          headers: []
          description: Success
        default:
          description: Unexpected error.
  /perlResource/portal:
    post:
      tags:
      - PerlResource
      description: ""
      operationId: resource_PerlResource_executeLegacyscript_POST
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: body
        in: body
        schema:
          description: ""
          type: string
        description: ""
      responses:
        201:
          schema:
            description: ""
            $ref: '#/definitions/json_ResultJson'
          headers: []
          description: Success
        default:
          description: Unexpected error.
  /transshipment/shipentReceived:
    post:
      tags:
      - SailConfirmShipmentReceivedResource
      description: ""
      operationId: resource_SailConfirmShipmentReceivedResource_doShipentReceivedTask_POST
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: body
        in: body
        schema:
          description: ""
          type: file
        description: ""
      responses:
        201:
          schema:
            description: ""
            $ref: '#/definitions/json_ResultJson'
          headers: []
          description: Success
        default:
          description: Unexpected error.
  /edi/populateBooking:
    post:
      tags:
      - SaveMainBookingResource
      summary: To Populate Booking bean.
      description: To Populate Booking bean
      operationId: resource_SaveMainBookingResource_populateBooking_POST
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: body
        in: body
        schema:
          description: ""
          $ref: '#/definitions/json_SaveBookingRequestBean'
        description: ""
      responses:
        201:
          schema:
            description: ""
            $ref: '#/definitions/json_ResultJson'
          headers: []
          description: Success
        default:
          description: Unexpected error.
  /edi/saveBooking:
    post:
      tags:
      - SaveMainBookingResource
      summary: Save Booking from external resource.
      description: Save Booking from external resource
      operationId: resource_SaveMainBookingResource_saveBooking_POST
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: body
        in: body
        schema:
          description: ""
          $ref: '#/definitions/json_SaveBookingRequestBean'
        description: ""
      responses:
        201:
          schema:
            description: ""
            $ref: '#/definitions/json_ResultJson'
          headers: []
          description: Success
        default:
          description: Unexpected error.
  /shipment/fetchShipmentStatus:
    post:
      tags:
      - ShipmentTransferResource
      summary: Api ShipmentStatus information.
      description: Api ShipmentStatus information
      operationId: resource_ShipmentTransferResource_getShipmentStatusDetails_POST
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: body
        in: body
        schema:
          description: ""
          $ref: '#/definitions/json_EnquiryShipmentStatusReq'
        description: request param
      responses:
        201:
          schema:
            description: ""
            $ref: '#/definitions/json_ResultJson'
          headers: []
          description: Success
        default:
          description: Unexpected error.
  /shipment/getStatus:
    post:
      tags:
      - ShipmentTransferResource
      summary: API for get Status of Object.
      description: API for get Status of Object
      operationId: resource_ShipmentTransferResource_getStatusDetail_POST
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: body
        in: body
        schema:
          description: ""
          $ref: '#/definitions/json_EnquiryStatusReq'
        description: ""
      responses:
        201:
          schema:
            description: ""
            $ref: '#/definitions/json_ResultJson'
          headers: []
          description: Success
        default:
          description: Unexpected error.
  /shipment/populatebooking:
    post:
      tags:
      - ShipmentTransferResource
      description: ""
      operationId: resource_ShipmentTransferResource_getBookingMainBean_POST
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: body
        in: body
        schema:
          description: ""
          type: string
        description: ""
      responses:
        201:
          schema:
            description: ""
            $ref: '#/definitions/json_ResultJson'
          headers: []
          description: Success
        default:
          description: Unexpected error.
  /shipment/savebooking:
    post:
      tags:
      - ShipmentTransferResource
      description: ""
      operationId: resource_ShipmentTransferResource_saveBooking_POST
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: schema
        in: query
        type: string
        description: ""
      - name: schemaId
        in: query
        type: string
        description: ""
      - name: transFlag
        in: query
        type: string
        description: ""
      - name: userId
        in: query
        type: string
        description: ""
      - name: body
        in: body
        schema:
          description: ""
          $ref: '#/definitions/json_ShipmentBookingMainBean'
        description: ""
      responses:
        201:
          schema:
            description: ""
            $ref: '#/definitions/json_ResultJson'
          headers: []
          description: Success
        default:
          description: Unexpected error.
  /shipment/transfer:
    post:
      tags:
      - ShipmentTransferResource
      description: ""
      operationId: resource_ShipmentTransferResource_saveShipment_POST
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: body
        in: body
        schema:
          description: ""
          type: string
        description: ""
      responses:
        201:
          schema:
            description: ""
            $ref: '#/definitions/json_ResultJson'
          headers: []
          description: Success
        default:
          description: Unexpected error.
  /shipment/status_update:
    post:
      tags:
      - ThirdPartyStatusUpdateExecutionResource
      description: ""
      operationId: resource_ThirdPartyStatusUpdateExecutionResource_doStatusUpdate_POST
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: body
        in: body
        schema:
          description: ""
          $ref: '#/definitions/json_ShipmentStatusUpdateRequestBean'
        description: ""
      responses:
        201:
          schema:
            description: ""
            $ref: '#/definitions/json_ResultJson'
          headers: []
          description: Success
        default:
          description: Unexpected error.
schemes: []
definitions: !php/object "O:8:\"stdClass\":52:{s:27:\"json_BasicSearchRequestBean\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:5:\"title\";s:22:\"BasicSearchRequestBean\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"reference\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:13:\"referenceType\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:9:\"loginArgs\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}}s:16:\"serialversionuid\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}}s:11:\"description\";s:0:\"\";}s:16:\"json_BookingBean\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:5:\"title\";s:11:\"BookingBean\";s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"bookingNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:10:\"commonBean\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"$ref\";s:29:\"#/definitions/json_CommonBean\";}s:11:\"truckerName\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:9:\"proNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}}s:11:\"description\";s:19:\"Added
  for PHX-21526\";}s:25:\"json_BookingEquipmentBean\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:5:\"title\";s:20:\"BookingEquipmentBean\";s:10:\"properties\";O:8:\"stdClass\":33:{s:19:\"pickupContainerCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:19:\"pickupContainerName\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:19:\"pickupContainerDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:19:\"pickupContainerTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:17:\"pickupChassisCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:17:\"pickupChassisName\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:17:\"pickupChassisDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:17:\"pickupChassisTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:17:\"returnChassisCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:17:\"returnChassisName\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:17:\"returnChassisDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:17:\"returnChassisTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:23:\"pickupContainerAddress1\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:23:\"pickupContainerAddress2\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:23:\"pickupContainerAddress3\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:20:\"pickupContainerState\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:22:\"pickupContainerZipcode\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:21:\"pickupChassisAddress1\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:21:\"pickupChassisAddress2\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:21:\"pickupChassisAddress3\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:18:\"pickupChassisState\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:20:\"pickupChassisZipcode\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:21:\"returnChassisAddress1\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:21:\"returnChassisAddress2\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:21:\"returnChassisAddress3\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:18:\"returnChassisState\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:20:\"returnChassisZipCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:20:\"pickupContainerPhone\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:18:\"pickupChassisPhone\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:18:\"returnChassisPhone\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:21:\"pickupContainerTimeTo\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:19:\"pickupChassisTimeTo\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:19:\"returnChassisTimeTo\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}}s:11:\"description\";s:56:\"This
  is the bean class for FCL booking Equipment details\";}s:21:\"json_BookingQuoteBean\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:5:\"title\";s:16:\"BookingQuoteBean\";s:10:\"properties\";O:8:\"stdClass\":156:{s:15:\"referenceNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:13:\"bookQuoteDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"This
  is Booking/Quote Date\";s:4:\"type\";s:6:\"string\";}s:16:\"bookingQuoteType\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:14:\"handlingOffice\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:11:\"quoteNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:13:\"userReference\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:7:\"takenBy\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"This
  is quoted By/taken by\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:19:\"transmitToLocation1\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:19:\"transmitToLocation2\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:19:\"transmitToLocation3\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:5:\"terms\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:17:\"trackingCustomer1\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:17:\"trackingCustomer2\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:12:\"pickupNeeded\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:13:\"bookingPrefix\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:11:\"lineBooking\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:8:\"lineCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:5:\"faxYn\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:12:\"purchaseDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:12:\"supplierCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:12:\"supplierName\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:16:\"supplierAddress1\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:16:\"supplierAddress2\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:16:\"supplierAddress3\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:15:\"supplierContact\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:13:\"supplierPhone\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:11:\"forwarderYn\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:14:\"numberOfPieces\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:10:\"ratingType\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:3:\"uom\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:8:\"remarks1\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:8:\"remarks2\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:8:\"transmit\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:12:\"forwarderFax\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:7:\"service\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:15:\"portInformation\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:9:\"lotNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:8:\"blNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:9:\"proNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:24:\"customRegistrationNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:10:\"consumerYn\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:12:\"warehouseZip\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:9:\"pickAtZip\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:4:\"nmfc\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:8:\"discount\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:9:\"inputDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:9:\"payorCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:13:\"prepaidCredit\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:10:\"aesAmsFlag\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:15:\"serviceContract\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:12:\"shipperEmail\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:3:\"pfm\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:14:\"intertrackFlag\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:11:\"amsScacCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:12:\"amsReference\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:21:\"amsReferenceQualifire\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:9:\"agentCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:11:\"receivedVia\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:22:\"communicationReference\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:14:\"customerEmail2\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:16:\"transmissionType\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:18:\"documentCutoffTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:14:\"vesselVoyageID\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:12:\"wwaReference\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:10:\"shipmendID\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:14:\"truckerAddress\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:11:\"truckerCity\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:14:\"truckerZipCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:11:\"carrierCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"This
  is carrier info\";s:4:\"type\";s:6:\"string\";}s:11:\"carrierName\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"This
  is carrier info\";s:4:\"type\";s:6:\"string\";}s:9:\"frequency\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:11:\"transitTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:16:\"quoteCustomerFax\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:7:\"routing\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:11:\"typeOfUnits\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:14:\"hazardousClass\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:13:\"hazardousName\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:14:\"hazardousName1\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:8:\"unNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:8:\"unPageNo\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:10:\"flashPoint\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:15:\"temperatureUnit\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:5:\"notes\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:6:\"notes2\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:6:\"notes3\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:6:\"notes4\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:6:\"notes5\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:8:\"costing1\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:8:\"costing2\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:8:\"costing3\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:8:\"costing4\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:8:\"costing5\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:8:\"costing6\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:8:\"costing7\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:8:\"costing8\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:8:\"costing9\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:9:\"costing10\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:9:\"costing11\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:9:\"costing12\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:9:\"costing13\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:9:\"costing14\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:9:\"costing15\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:9:\"costing16\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:9:\"costing17\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:18:\"quoteCustomerEmail\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:13:\"containerSize\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:10:\"container1\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:14:\"containerSize1\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:14:\"containerType1\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:17:\"customerReference\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:24:\"bookingQuoteCustomerBean\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"$ref\";s:43:\"#/definitions/json_BookingQuoteCustomerBean\";}s:23:\"bookingQuoteRoutingBean\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"$ref\";s:42:\"#/definitions/json_BookingQuoteRoutingBean\";}s:21:\"bookingQuoteCargoBean\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"$ref\";s:40:\"#/definitions/json_BookingQuoteCargoBean\";}s:5:\"rowId\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:11:\"controlFlag\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";}s:9:\"quoteType\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:10:\"holdStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:13:\"posTimeFormat\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:20:\"bookingEquipmentBean\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"$ref\";s:39:\"#/definitions/json_BookingEquipmentBean\";}s:8:\"termName\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:24:\"shipmentStatusUpdateBean\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"$ref\";s:43:\"#/definitions/json_ShipmentStatusUpdateBean\";}s:18:\"preliminaryBooking\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:7:\"boolean\";}s:24:\"preliminaryBookingStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:9:\"updatedBy\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:9:\"updatedOn\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:14:\"statusCanceled\";O:8:\"stdClass\":2:{s:11:\"description\";s:114:\"Added
  For bug no 8641 By Amit Agrawal on 27-Aug-2012 To check the status\r\nof booking
  whether it is canceled or not\";s:4:\"type\";s:7:\"boolean\";}s:10:\"nomination\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:13:\"effectiveDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:14:\"expirationDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:8:\"carriers\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/json_QuoteCarrierBean\";}}}s:18:\"aesItnHoldStatusId\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:16:\"aesItnHoldStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:18:\"CTCChargeFromQuote\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:7:\"boolean\";}s:7:\"clauses\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/json_BookingQuoteClauseBean\";}}}s:10:\"commission\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:36:\"bookingCustomerDeclaredCargoBeanList\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/json_BookingQuoteCargoBean\";}}}s:7:\"roeType\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:20:\"includePlcOnDocument\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:7:\"boolean\";}s:19:\"transmissionService\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:22:\"transmitToLocationName\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:28:\"purchaseOrderReferenceNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:15:\"invoiceCurrency\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:19:\"invoiceExchangeRate\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:16:\"receivedFromName\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:16:\"receivedFromCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:16:\"tranShipmentFlag\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:18:\"oldReferenceNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:9:\"modifyPLC\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:7:\"boolean\";}s:9:\"oldStatus\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:14:\"customerChange\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:7:\"boolean\";}s:9:\"isUpdated\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:7:\"boolean\";}s:16:\"oldEffectiveDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:15:\"oldCustomerCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:13:\"controlNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}}s:11:\"description\";s:205:\"This
  is BookingQuote bean, a combine bean for quote and booking details\r\n<b>CHANGE
  LOGS</b>\r\n<ul>\r\n<li>\r\nPHX-24691 : Property To store whether to modify PLC
  by Arup Chanda :\r\n20-06-2017\r\n\r\n</li>\r\n\r\n\r\n</ul>\";}s:26:\"json_BookingQuoteCargoBean\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:5:\"title\";s:21:\"BookingQuoteCargoBean\";s:10:\"properties\";O:8:\"stdClass\":48:{s:10:\"container1\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:14:\"containerSize1\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:14:\"containerType1\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:10:\"container2\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:14:\"containerSize2\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:14:\"containerType2\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:10:\"container3\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:14:\"containerSize3\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:14:\"containerType3\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:10:\"commodity1\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:10:\"commodity2\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:10:\"commodity3\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:10:\"commodity4\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:10:\"commodity5\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:6:\"weight\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:4:\"cube\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:13:\"hazardousCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:14:\"numberOfPieces\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:3:\"uom\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:12:\"actualPieces\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:16:\"genAesFilingBean\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"$ref\";s:35:\"#/definitions/json_GenAesFilingBean\";}s:9:\"weightLbs\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:7:\"cubeCbf\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:5:\"marks\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:9:\"packaging\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:18:\"documentReferences\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:40:\"bookingCustomerDeclaredHazardousBeanList\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/json_BookingQuoteHazardousBean\";}}}s:14:\"recordSequence\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:13:\"bookingNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:9:\"commodity\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:18:\"customerDeclaredId\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:11:\"controlFlag\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";}s:22:\"cargoDimensionBeanList\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/json_DimensionMain\";}}}s:10:\"overLength\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:7:\"boolean\";}s:10:\"overWeight\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:7:\"boolean\";}s:9:\"dimension\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:7:\"boolean\";}s:11:\"lotComments\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:15:\"lotCommentsDesc\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:16:\"lotCommentsValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:17:\"oldLotCommentDesc\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:21:\"commodityDescription6\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:21:\"commodityDescription7\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:21:\"commodityDescription8\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:21:\"commodityDescription9\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:22:\"commodityDescription10\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:22:\"commodityDescription11\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:22:\"commodityDescription12\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}}s:11:\"description\";s:36:\"This
  is bean class for cargo details\";}s:27:\"json_BookingQuoteChargeBean\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:5:\"title\";s:22:\"BookingQuoteChargeBean\";s:10:\"properties\";O:8:\"stdClass\":93:{s:9:\"oldCharge\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:11:\"oldCurrency\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:18:\"bookingQuoteNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:12:\"recordNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:10:\"chargeCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:4:\"comp\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:12:\"tariffNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:15:\"commodityNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:14:\"tariffSequence\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:3:\"uom\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:8:\"sellRate\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:9:\"sellBasis\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:10:\"sellAmount\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:7:\"buyRate\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:8:\"buyBasis\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:9:\"buyAmount\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:8:\"comments\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:12:\"sellCurrency\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:17:\"prepaidCreditFlag\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:14:\"rateOfExchange\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:11:\"localAmount\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:9:\"relayFlag\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:7:\"company\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:10:\"dueAccount\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:9:\"rateClass\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:6:\"vendor\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:14:\"originalAmount\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:20:\"truckingChargeLinkId\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:17:\"chargeDescription\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:23:\"localeChargeDescription\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:5:\"rowId\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:11:\"controlFlag\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:18:\"bookingQuoteRateId\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:15:\"equipmentDetail\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:5:\"dirty\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:7:\"boolean\";}s:7:\"expense\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:8:\"applyVat\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:16:\"oldInvoiceNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:9:\"oldVendor\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:13:\"localCurrency\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"To
  get local currency.\";s:4:\"type\";s:6:\"string\";}s:8:\"currency\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:17:\"originDestination\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:7:\"payType\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:12:\"exchangeRate\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:14:\"bookingPrepaid\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:14:\"bookingCollect\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:4:\"rate\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:11:\"invoiceDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:13:\"invoiceNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:8:\"oldBasis\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:10:\"chargeType\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:6:\"linked\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:7:\"boolean\";}s:17:\"checkAgainstBasis\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:15:\"expenseCurrency\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:21:\"expenseRateOfExchange\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:18:\"expenseLocalAmount\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:10:\"expenseVat\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:22:\"expenseVendorReference\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:15:\"expenseOldBasis\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:15:\"printOndocument\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:13:\"vatPercentage\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"This
  method sets the ApplayVat or not.\";s:4:\"type\";s:6:\"string\";}s:9:\"vatAmount\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:15:\"chargeAspectOFR\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:7:\"boolean\";}s:7:\"taxCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:7:\"taxText\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:8:\"applyFor\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:6:\"glCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:6:\"taxKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:9:\"rateReset\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:7:\"boolean\";}s:7:\"oldRate\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:7:\"boolean\";}s:25:\"oldBookingQuoteChargeBean\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"$ref\";s:41:\"#/definitions/json_BookingQuoteChargeBean\";}s:10:\"taxPercent\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:7:\"maximum\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:14:\"expenseMaximum\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:14:\"expenseMinimum\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:7:\"minimum\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:10:\"overridden\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:7:\"boolean\";}s:15:\"invoiceCurrency\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:19:\"invoiceExchangeRate\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:25:\"invoiceSellRateOfExchange\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:28:\"invoiceExpenseRateOfExchange\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:17:\"invoiceSellAmount\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:20:\"invoiceExpenseAmount\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:27:\"userDefineChargeDescription\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Get
  charge description given by user\";s:4:\"type\";s:6:\"string\";}s:17:\"spotRateDetailsId\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:11:\"spotRateKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:12:\"spotRateFlag\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:19:\"accurateSpotRateKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:10:\"chargeRest\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:7:\"boolean\";}s:6:\"sprKey\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}}s:11:\"description\";s:57:\"This
  class is combined bean for booking and quote charges\";}s:27:\"json_BookingQuoteClauseBean\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:5:\"title\";s:22:\"BookingQuoteClauseBean\";s:10:\"properties\";O:8:\"stdClass\":8:{s:10:\"clauseCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:10:\"clauseName\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:16:\"clauseNameLocale\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:6:\"clause\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:12:\"clauseLocale\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:8:\"sequence\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:10:\"clauseDesc\";O:8:\"stdClass\":2:{s:11:\"description\";s:121:\"Added
  by Suwimon Kaewkhampa <ksuwimon@scan-it.com.sg> for PHX-19259 on 13-Jul-2016\r\n\r\nThis
  method gets Clause Description\";s:4:\"type\";s:6:\"string\";}s:16:\"clauseDescLocale\";O:8:\"stdClass\":2:{s:11:\"description\";s:128:\"Added
  by Suwimon Kaewkhampa <ksuwimon@scan-it.com.sg> for PHX-19259 on 13-Jul-2016\r\n\r\nThis
  method gets Clause Description Locale\";s:4:\"type\";s:6:\"string\";}}s:11:\"description\";s:33:\"This
  is the bean class for clause\";}s:29:\"json_BookingQuoteCustomerBean\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:5:\"title\";s:24:\"BookingQuoteCustomerBean\";s:10:\"properties\";O:8:\"stdClass\":17:{s:12:\"customerType\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:19:\"salesRepresentative\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:19:\"purchaseOrderNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:11:\"shipperBean\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"$ref\";s:30:\"#/definitions/json_ShipperBean\";}s:13:\"consigneeBean\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"$ref\";s:32:\"#/definitions/json_ConsigneeBean\";}s:13:\"forwarderBean\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"$ref\";s:32:\"#/definitions/json_ForwarderBean\";}s:11:\"rateProfile\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:17:\"additinoalProfile\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:13:\"customerEmail\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:13:\"customerAlias\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:17:\"trackingCustomer2\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:17:\"trackingCustomer1\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:12:\"wwaReference\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:19:\"actualforwarderBean\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"$ref\";s:32:\"#/definitions/json_ForwarderBean\";}s:11:\"wwaCustomer\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:14:\"billingCompany\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:15:\"accurateProfile\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}}s:11:\"description\";s:53:\"This
  class is a bean for customer details for booking\";}s:30:\"json_BookingQuoteHazardousBean\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:5:\"title\";s:25:\"BookingQuoteHazardousBean\";s:10:\"properties\";O:8:\"stdClass\":31:{s:15:\"referenceNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:12:\"shipperName1\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:12:\"shipperName2\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:9:\"techName1\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:9:\"techName2\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:10:\"noOfpieces\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:9:\"packaging\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:6:\"weight\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:9:\"imcoClass\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:8:\"unNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:8:\"imcoPage\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:17:\"flashPointCelsius\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:7:\"degrees\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:14:\"packagingGroup\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:9:\"plackard1\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:9:\"plackard2\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:14:\"emergencyPhone\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:15:\"emergencyCotact\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:13:\"hazardousCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:14:\"hazarDousCount\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:5:\"rowId\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:11:\"controlFlag\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";}s:20:\"flashpointFahrenheit\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:15:\"inputUpdateUser\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:12:\"recordNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:21:\"quoteCargoHazardousId\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:11:\"imoSubClass\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:23:\"customerDeclaredCargoId\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:13:\"bookingNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:26:\"customerDeclaredHazardouId\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:40:\"customerDeclaredHazardousTransactionFlag\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";}}s:11:\"description\";s:55:\"This
  is the Bean class for booking_hazmat table fields.\";}s:28:\"json_BookingQuoteRoutingBean\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:5:\"title\";s:23:\"BookingQuoteRoutingBean\";s:10:\"properties\";O:8:\"stdClass\":70:{s:10:\"vesselCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:6:\"vessel\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:6:\"voyage\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:9:\"warehouse\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:12:\"deliveryDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:12:\"deliveryTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:10:\"originCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:10:\"originName\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:8:\"loadCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:8:\"loadName\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:13:\"dischargeCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:13:\"dischargeName\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:15:\"destinationCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:15:\"destinationName\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:7:\"etaDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:18:\"documentCutoffDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:13:\"warehouseName\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:20:\"warehouseDeliveryRef\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:20:\"documentDeliveryCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:20:\"documentDeliveryName\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:24:\"documentDeliveryAddress1\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:24:\"documentDeliveryAddress2\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:24:\"documentDeliveryAddress3\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:23:\"documentDeliveryContact\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:8:\"sailDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:9:\"etdOrigin\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:14:\"fromRegionCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:12:\"toRegionCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:13:\"viaRegionCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:12:\"originUncode\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:10:\"loadUnCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:15:\"dischargeUnCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:17:\"destinationUnCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:23:\"documentationCutOffTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:16:\"originRegionCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:14:\"loadRegionCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:19:\"dischargeRegionCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:21:\"destinationRegionCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:25:\"deconsolidationRegionCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:18:\"finalCFSRegionCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:11:\"wwaScheudle\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:7:\"boolean\";}s:14:\"etaDestination\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:17:\"warehouseAddress1\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:17:\"warehouseAddress2\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:17:\"warehouseAddress3\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:14:\"warehouseState\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:16:\"warehouseZipcode\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:14:\"warehousePhone\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:16:\"warehouseContact\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:19:\"locationInformation\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:15:\"preCarriageType\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:13:\"preCarriageBy\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:14:\"deliveryTimeTo\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:26:\"privateLocationInformation\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:19:\"deConsolidationCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:19:\"deConsolidationName\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:19:\"deConsolidationDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:12:\"finalCFSCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:12:\"finalCFSName\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:12:\"finalCFSDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:13:\"oldOriginCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:11:\"oldLoadName\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:20:\"consolidationCFSCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:20:\"consolidationCFSName\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:20:\"consolidationCFSDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:26:\"consolidationCFSRegionCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:18:\"originalVesselCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:18:\"originalVesselName\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:14:\"originalVoyage\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:11:\"originalEts\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}}s:11:\"description\";s:66:\"This
  class is Bean for columns related to routing in booking table\";}s:28:\"json_BusinessRuleRequestBean\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:5:\"title\";s:23:\"BusinessRuleRequestBean\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"objectMap\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";}s:24:\"shipmentStatusUpdateBean\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"$ref\";s:43:\"#/definitions/json_ShipmentStatusUpdateBean\";}}s:11:\"description\";s:0:\"\";}s:21:\"json_CargoDescription\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:5:\"title\";s:16:\"CargoDescription\";s:10:\"properties\";O:8:\"stdClass\":8:{s:5:\"Level\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:6:\"Pieces\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:11:\"PackageType\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:3:\"UOM\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:6:\"Weight\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:6:\"Volume\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:9:\"Commodity\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:5:\"Marks\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}}s:11:\"description\";s:0:\"\";}s:19:\"json_CommentDetails\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:5:\"title\";s:14:\"CommentDetails\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Remarks\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}}s:11:\"description\";s:0:\"\";}s:15:\"json_CommonBean\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:5:\"title\";s:10:\"CommonBean\";s:10:\"properties\";O:8:\"stdClass\":29:{s:13:\"debugModeFlag\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:9:\"inputUser\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:20:\"userDefaultWarehouse\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:10:\"updateUser\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:6:\"config\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:9:\"inputDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:12:\"userFullname\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:12:\"userOfficeID\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:10:\"officeCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:12:\"userSchemaID\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:13:\"localCurrency\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:15:\"userCompanyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:10:\"schemaName\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:14:\"updateLdapUser\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:14:\"officeTimezone\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:10:\"updateDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:6:\"locale\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:11:\"userLoginId\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:8:\"username\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:13:\"inputLdapUser\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:17:\"inputUserFullname\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:10:\"userRoleID\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:6:\"userID\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:11:\"userCompany\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:17:\"alternateCityName\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:14:\"userSchemaName\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:18:\"updateUserFullname\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:8:\"password\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:12:\"ldapUsername\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}}s:11:\"description\";s:0:\"\";}s:18:\"json_ConsigneeBean\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:5:\"title\";s:13:\"ConsigneeBean\";s:10:\"properties\";O:8:\"stdClass\":12:{s:18:\"consigneeReference\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"getting
  Consignee reference\";s:4:\"type\";s:6:\"string\";}s:13:\"consigneeCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"getting
  ConsigneeCode\";s:4:\"type\";s:6:\"string\";}s:13:\"consigneeName\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"getting
  ConsigneeName\";s:4:\"type\";s:6:\"string\";}s:14:\"consigneeName1\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"getting
  ConsigneeName1\";s:4:\"type\";s:6:\"string\";}s:17:\"consigneeAddress1\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"getting
  ConsigneeAddress1\";s:4:\"type\";s:6:\"string\";}s:17:\"consigneeAddress2\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"getting
  ConsigneeAddress2\";s:4:\"type\";s:6:\"string\";}s:17:\"consigneeAddress3\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"getting
  ConsigneeAddress3\";s:4:\"type\";s:6:\"string\";}s:14:\"consigneePhone\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"getting
  ConsigneePhone\";s:4:\"type\";s:6:\"string\";}s:12:\"consigneeFax\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"getting
  ConsigneeFax\";s:4:\"type\";s:6:\"string\";}s:16:\"consigneeContact\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:12:\"namedAccount\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:20:\"namedAccountFullName\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}}s:11:\"description\";s:35:\"<Description/Purpose
  of class here>\";}s:18:\"json_CurrentStatus\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:5:\"title\";s:13:\"CurrentStatus\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"StatusCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:10:\"StatusName\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:10:\"StatusDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:10:\"StatusTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}}s:11:\"description\";s:0:\"\";}s:9:\"json_Date\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:5:\"title\";s:4:\"Date\";s:5:\"allOf\";a:1:{i:0;O:8:\"stdClass\":0:{}}s:11:\"description\";s:0:\"\";}s:18:\"json_DimensionMain\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:5:\"title\";s:13:\"DimensionMain\";s:10:\"properties\";O:8:\"stdClass\":9:{s:3:\"cbm\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:2:\"kg\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:4:\"unit\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:6:\"pieces\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:5:\"width\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:3:\"lbs\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:6:\"height\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:3:\"cbf\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:6:\"length\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}}s:11:\"description\";s:0:\"\";}s:23:\"json_DocumentSearchBean\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:5:\"title\";s:18:\"DocumentSearchBean\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:3:\"ref\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:6:\"userId\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:6:\"siteId\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:6:\"schema\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}}s:11:\"description\";s:39:\"This
  is bean class for document search.\";}s:29:\"json_EnquiryShipmentStatusReq\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:5:\"title\";s:24:\"EnquiryShipmentStatusReq\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"noteTypes\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}s:19:\"referenceNumberList\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:11:\"description\";s:45:\"Common
  request for ShipmentStatus Information\";}s:21:\"json_EnquiryStatusReq\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:5:\"title\";s:16:\"EnquiryStatusReq\";s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"shipmentObjectId\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:9:\"eventName\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}}s:11:\"description\";s:148:\"PHX-11018
  As a Phoenix user, I want Import Manifest documents to show\r\nTranshipment information
  EnquiryStatusReq Information Bean for status request\";}s:29:\"json_ExecuteReportRequestBean\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:5:\"title\";s:24:\"ExecuteReportRequestBean\";s:10:\"properties\";O:8:\"stdClass\":4:{s:15:\"perlReportBeans\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/json_PerlReportBean\";}}}s:14:\"userSchemaName\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:6:\"userID\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:12:\"userOfficeID\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}}s:11:\"description\";s:0:\"\";}s:18:\"json_ForwarderBean\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:5:\"title\";s:13:\"ForwarderBean\";s:10:\"properties\";O:8:\"stdClass\":11:{s:18:\"forwarderReference\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:13:\"forwarderCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:13:\"forwarderName\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:17:\"forwarderAddress1\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:17:\"forwarderAddress2\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:17:\"forwarderAddress3\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:14:\"forwarderPhone\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:12:\"forwarderFax\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:16:\"forwarderContact\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:20:\"forwarderNameAccount\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:29:\"forwarderNamedAccountFullName\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}}s:11:\"description\";s:51:\"The
  Bill of Lading Forwarder Bean for Customer Bean\";}s:21:\"json_GenAesFilingBean\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:5:\"title\";s:16:\"GenAesFilingBean\";s:10:\"properties\";O:8:\"stdClass\":10:{s:15:\"referenceNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:8:\"scacCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:9:\"itnNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:10:\"filingType\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:9:\"inputUser\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:10:\"updateUser\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:11:\"controlFlag\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";}s:5:\"rowid\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}}s:11:\"description\";s:46:\"This
  is the Bean class for gen_aesfiling table\";}s:19:\"json_GenDefinesBean\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:5:\"title\";s:14:\"GenDefinesBean\";s:10:\"properties\";O:8:\"stdClass\":21:{s:10:\"phpBaseUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:13:\"jasperUrlPath\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:7:\"urlPath\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:10:\"phpBaseurl\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:7:\"phpHome\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:17:\"ecommercePassword\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:9:\"biBaseUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:13:\"configuration\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:9:\"oracleEnv\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:11:\"perlBaseUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:11:\"formBaseUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:17:\"ecommerceUserName\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:10:\"dataSource\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:9:\"globalUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:9:\"definesID\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:8:\"perlHome\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:11:\"tempDirPath\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:8:\"formHome\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:10:\"jspBaseUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:12:\"ecommerceUrl\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:12:\"phpShellPath\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}}s:11:\"description\";s:0:\"\";}s:16:\"json_GenFileBean\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:5:\"title\";s:11:\"GenFileBean\";s:10:\"properties\";O:8:\"stdClass\":6:{s:13:\"contentString\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:8:\"fileName\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:8:\"mimeType\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:7:\"content\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:9:\"inputUser\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:7:\"refFile\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}}s:11:\"description\";s:0:\"\";}s:25:\"json_MainBookingQuoteBean\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:5:\"title\";s:20:\"MainBookingQuoteBean\";s:10:\"properties\";O:8:\"stdClass\":9:{s:16:\"bookingCounterOn\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:7:\"boolean\";}s:16:\"bookingQuoteBean\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"$ref\";s:35:\"#/definitions/json_BookingQuoteBean\";}s:26:\"bookingQuoteChargeBeanList\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/json_BookingQuoteChargeBean\";}}}s:24:\"bookingHazardousBeanList\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:44:\"#/definitions/json_BookingQuoteHazardousBean\";}}}s:16:\"pickupDetailBean\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"$ref\";s:35:\"#/definitions/json_PickupDetailBean\";}s:9:\"errorFlag\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:7:\"boolean\";}s:23:\"uploadDocumentsBeanList\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/json_UploadDocumentsBean\";}}}s:28:\"transshipmentRoutingBeanList\";O:8:\"stdClass\":3:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:43:\"#/definitions/json_TransshipmentRoutingBean\";}}}s:10:\"messageMap\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";}}s:11:\"description\";s:37:\"This
  is main booking/quote bean class\";}s:15:\"json_NextStatus\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:5:\"title\";s:10:\"NextStatus\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"StatusCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:10:\"StatusName\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}}s:11:\"description\";s:0:\"\";}s:19:\"json_PerlReportBean\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:5:\"title\";s:14:\"PerlReportBean\";s:10:\"properties\";O:8:\"stdClass\":34:{s:21:\"phoenixSystemUserBean\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"$ref\";s:40:\"#/definitions/json_PhoenixSystemUserBean\";}s:8:\"passkey8\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:9:\"passkey14\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:8:\"passkey5\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:8:\"passkey7\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:9:\"passkey18\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:9:\"passkey11\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:9:\"passkey13\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:15:\"argumentListMap\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";}s:9:\"passkey12\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:8:\"passkey6\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:9:\"passkey15\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:7:\"passkey\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:8:\"passkey4\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:9:\"passkey10\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:11:\"printerName\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:6:\"userId\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:14:\"perlscriptName\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:9:\"passkey19\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:9:\"passkey21\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:10:\"executeVia\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:7:\"counter\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:9:\"passkey16\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:9:\"passkey23\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:8:\"passkey3\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:3:\"key\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:9:\"passkey17\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:9:\"passkey20\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:8:\"passkey1\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:3:\"tag\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:8:\"passkey9\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:9:\"passkey22\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:8:\"passkey2\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:11:\"argumentMap\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";}}s:11:\"description\";s:0:\"\";}s:26:\"json_PhoenixSystemUserBean\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:5:\"title\";s:21:\"PhoenixSystemUserBean\";s:10:\"properties\";O:8:\"stdClass\":18:{s:17:\"alternateCityName\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:11:\"companyCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:16:\"companyGroupName\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:10:\"schemaName\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:12:\"userFullName\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:12:\"ldapUserName\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:6:\"siteId\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:8:\"officeId\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:16:\"officeSettingMap\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";}s:14:\"genDefinesBean\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"$ref\";s:33:\"#/definitions/json_GenDefinesBean\";}s:9:\"debugMode\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:10:\"officeCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:6:\"userId\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:12:\"userPassword\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:8:\"customer\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:9:\"userEmail\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:8:\"timezone\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:8:\"userName\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}}s:11:\"description\";s:0:\"\";}s:21:\"json_PickupChargeBean\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:5:\"title\";s:16:\"PickupChargeBean\";s:10:\"properties\";O:8:\"stdClass\":30:{s:10:\"expensesId\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:8:\"moduleId\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:9:\"reference\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:18:\"referenceExtension\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:7:\"company\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:6:\"vendor\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:6:\"charge\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:7:\"expense\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:6:\"income\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:8:\"currency\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:9:\"inputUser\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:9:\"inputDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"$ref\";s:23:\"#/definitions/json_Date\";}s:10:\"updateUser\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:10:\"updateDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"$ref\";s:23:\"#/definitions/json_Date\";}s:11:\"controlFlag\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"object\";}s:5:\"rowId\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:14:\"rateOfExchange\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:11:\"expenseIdPk\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:13:\"localCurrency\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:17:\"localIncomeAmount\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:18:\"localExpenseAmount\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:17:\"chargeDescription\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:19:\"quotePickupChargeId\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:12:\"recordNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"number\";}s:8:\"applyVat\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:7:\"payType\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:11:\"invoiceDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:13:\"invoiceNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:23:\"localeChargeDescription\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:10:\"chargeType\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}}s:11:\"description\";s:43:\"This
  class is bean class for pickup charges\";}s:21:\"json_PickupDetailBean\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:5:\"title\";s:16:\"PickupDetailBean\";s:10:\"properties\";O:8:\"stdClass\":39:{s:17:\"pickupAtCargoCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:17:\"pickupAtCargoName\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:18:\"pickupAtCargoName1\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:21:\"pickupAtCargoAddress1\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:21:\"pickupAtCargoAddress2\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:21:\"pickupAtCargoAddress3\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:11:\"truckerCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:11:\"truckerName\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:15:\"truckerAddress1\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:15:\"truckerAddress2\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:15:\"truckerAddress3\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:14:\"truckerContact\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:12:\"truckerPhone\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:10:\"truckerFax\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:12:\"truckerEmail\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:10:\"pickupDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:10:\"pickupTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:12:\"deliveryDate\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:12:\"deliveryTime\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:18:\"pickupInstruction1\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:18:\"pickupInstruction2\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:18:\"pickupInstruction3\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:18:\"pickupInstruction4\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:18:\"pickupInstruction5\";O:8:\"stdClass\":2:{s:11:\"description\";s:0:\"\";s:4:\"type\";s:6:\"string\";}s:18:\"pickupInstruction6\";O:8:\"stdClass\":2:{s:11:\"desc
[...]
