---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":14:{s:7:\"version\";s:10:\"2015-08-04\";s:9:\"x-release\";s:2:\"v4\";s:5:\"title\";s:23:\"Amazon
  Kinesis Firehose\";s:11:\"description\";s:285:\"<fullname>Amazon Kinesis Firehose
  API Reference</fullname> <p>Amazon Kinesis Firehose is a fully managed service that
  delivers real-time streaming data to destinations such as Amazon Simple Storage
  Service (Amazon S3), Amazon Elasticsearch Service (Amazon ES), and Amazon Redshift.</p>\";s:6:\"x-logo\";O:8:\"stdClass\":2:{s:3:\"url\";s:70:\"https://media.amazonwebservices.com/blog/2007/big_pbaws_logo_300px.jpg\";s:15:\"backgroundColor\";s:7:\"#FFFFFF\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:7:\"contact\";O:8:\"stdClass\":3:{s:4:\"name\";s:13:\"Mike
  Ralphson\";s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";}s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache
  2.0 License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:13:\"x-serviceName\";s:8:\"firehose\";s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:3:\"url\";s:92:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/firehose-2015-08-04.normal.json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:17:\"x-apisguru-direct\";b:1;}}s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:11:\"x-preferred\";b:1;}"
host: firehose.amazonaws.com
basePath: /
paths: ~
produces:
- application/json
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":111:{s:12:\"AWSKMSKeyARN\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:7:\"pattern\";s:6:\"arn:.*\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:512;}s:11:\"AccessKeyId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"BooleanObject\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:9:\"BucketARN\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:7:\"pattern\";s:6:\"arn:.*\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:2048;}s:14:\"BufferingHints\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"SizeInMBs\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/SizeInMBs\";s:11:\"description\";s:362:\"<p>Buffer
  incoming data to the specified size, in MBs, before delivering it to the destination.
  The default value is 5.</p> <p>We recommend setting this parameter to a value greater
  than the amount of data you typically ingest into the delivery stream in 10 seconds.
  For example, if you typically ingest data at 1 MB/sec, the value should be 10 MB
  or higher.</p>\";}s:17:\"IntervalInSeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/IntervalInSeconds\";s:11:\"description\";s:133:\"Buffer
  incoming data for the specified period of time, in seconds, before delivering it
  to the destination. The default value is 300.\";}}s:11:\"description\";s:226:\"Describes
  hints for the buffering to perform before delivering data to the destination. Please
  note that these options are treated as hints, and therefore Kinesis Firehose may
  choose to use different values when it is optimal.\";}s:24:\"CloudWatchLoggingOptions\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"Enabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/BooleanObject\";s:11:\"description\";s:39:\"Enables
  or disables CloudWatch logging.\";}s:12:\"LogGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/LogGroupName\";s:11:\"description\";s:95:\"The
  CloudWatch group name for logging. This value is required if CloudWatch logging
  is enabled.\";}s:13:\"LogStreamName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/LogStreamName\";s:11:\"description\";s:100:\"The
  CloudWatch log stream name for logging. This value is required if CloudWatch logging
  is enabled.\";}}s:11:\"description\";s:73:\"Describes the Amazon CloudWatch logging
  options for your delivery stream.\";}s:14:\"ClusterJDBCURL\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"pattern\";s:127:\"jdbc:\\(redshift\\|postgresql\\)://\\(\\(\\?!-\\)[A-Za-z0-9-]\\{1,63\\}\\(\\?<!-\\)\\.\\)\\+redshift\\.amazonaws\\.com:\\d\\{1,5\\}/[a-zA-Z0-9_$]\\+\";s:9:\"minLength\";i:1;}s:17:\"CompressionFormat\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:4:{i:0;s:12:\"UNCOMPRESSED\";i:1;s:4:\"GZIP\";i:2;s:3:\"ZIP\";i:3;s:6:\"Snappy\";}}s:31:\"ConcurrentModificationException\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";s:11:\"description\";s:52:\"A
  message that provides information about the error.\";}}s:11:\"description\";s:109:\"Another
  modification has already happened. Fetch <b>VersionId</b> again and use it to update
  the destination.\";}s:11:\"CopyCommand\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:13:\"DataTableName\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"DataTableName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/DataTableName\";s:11:\"description\";s:75:\"The
  name of the target table. The table must already exist in the database.\";}s:16:\"DataTableColumns\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/DataTableColumns\";s:11:\"description\";s:39:\"A
  comma-separated list of column names.\";}s:11:\"CopyOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/CopyOptions\";s:11:\"description\";s:1106:\"<p>Optional
  parameters to use with the Amazon Redshift <code>COPY</code> command. For more information,
  see the \"Optional Parameters\" section of <a href=\"http://docs.aws.amazon.com/redshift/latest/dg/r_COPY.html\">Amazon
  Redshift COPY command</a>. Some possible examples that would apply to Kinesis Firehose
  are as follows:</p> <p> <code>delimiter '\\t' lzop;</code> - fields are delimited
  with \"\\t\" (TAB character) and compressed using lzop.</p> <p> <code>delimiter
  '|'</code> - fields are delimited with \"|\" (this is the default delimiter).</p>
  <p> <code>delimiter '|' escape</code> - the delimiter should be escaped.</p> <p>
  <code>fixedwidth 'venueid:3,venuename:25,venuecity:12,venuestate:2,venueseats:6'</code>
  - fields are fixed width in the source, with each width specified after every column
  in the table.</p> <p> <code>JSON 's3://mybucket/jsonpaths.txt'</code> - data is
  in JSON format, and the path specified is the format of the data.</p> <p>For more
  examples, see <a href=\"http://docs.aws.amazon.com/redshift/latest/dg/r_COPY_command_examples.html\">Amazon
  Redshift COPY command examples</a>.</p>\";}}s:11:\"description\";s:58:\"Describes
  a <code>COPY</code> command for Amazon Redshift.\";}s:11:\"CopyOptions\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:25:\"CreateDeliveryStreamInput\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:18:\"DeliveryStreamName\";}s:10:\"properties\";O:8:\"stdClass\":7:{s:18:\"DeliveryStreamName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/DeliveryStreamName\";s:11:\"description\";s:224:\"The
  name of the delivery stream. This name must be unique per AWS account in the same
  region. If the delivery streams are in different accounts or different regions,
  you can have multiple delivery streams with the same name.\";}s:18:\"DeliveryStreamType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/DeliveryStreamType\";s:11:\"description\";s:306:\"<p>The
  delivery stream type. This parameter can be one of the following values:</p> <ul>
  <li> <p> <code>DirectPut</code>: Provider applications access the delivery stream
  directly.</p> </li> <li> <p> <code>KinesisStreamAsSource</code>: The delivery stream
  uses a Kinesis stream as a source.</p> </li> </ul>\";}s:32:\"KinesisStreamSourceConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:46:\"#/definitions/KinesisStreamSourceConfiguration\";s:11:\"description\";s:184:\"When
  a Kinesis stream is used as the source for the delivery stream, a <a>KinesisStreamSourceConfiguration</a>
  containing the Kinesis stream ARN and the role ARN for the source stream.\";}s:26:\"S3DestinationConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/S3DestinationConfiguration\";s:11:\"description\";s:80:\"[Deprecated]
  The destination in Amazon S3. You can specify only one destination.\";}s:34:\"ExtendedS3DestinationConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:48:\"#/definitions/ExtendedS3DestinationConfiguration\";s:11:\"description\";s:67:\"The
  destination in Amazon S3. You can specify only one destination.\";}s:32:\"RedshiftDestinationConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:46:\"#/definitions/RedshiftDestinationConfiguration\";s:11:\"description\";s:73:\"The
  destination in Amazon Redshift. You can specify only one destination.\";}s:37:\"ElasticsearchDestinationConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:51:\"#/definitions/ElasticsearchDestinationConfiguration\";s:11:\"description\";s:67:\"The
  destination in Amazon ES. You can specify only one destination.\";}}}s:26:\"CreateDeliveryStreamOutput\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"DeliveryStreamARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/DeliveryStreamARN\";s:11:\"description\";s:31:\"The
  ARN of the delivery stream.\";}}}s:4:\"Data\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:0;s:9:\"maxLength\";i:1024000;}s:16:\"DataTableColumns\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"DataTableName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;}s:25:\"DeleteDeliveryStreamInput\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:18:\"DeliveryStreamName\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:18:\"DeliveryStreamName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/DeliveryStreamName\";s:11:\"description\";s:32:\"The
  name of the delivery stream.\";}}}s:26:\"DeleteDeliveryStreamOutput\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":0:{}}s:22:\"DeliveryStartTimestamp\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:17:\"DeliveryStreamARN\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:7:\"pattern\";s:6:\"arn:.*\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:512;}s:25:\"DeliveryStreamDescription\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:7:{i:0;s:18:\"DeliveryStreamName\";i:1;s:17:\"DeliveryStreamARN\";i:2;s:20:\"DeliveryStreamStatus\";i:3;s:18:\"DeliveryStreamType\";i:4;s:9:\"VersionId\";i:5;s:12:\"Destinations\";i:6;s:19:\"HasMoreDestinations\";}s:10:\"properties\";O:8:\"stdClass\":10:{s:18:\"DeliveryStreamName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/DeliveryStreamName\";s:11:\"description\";s:32:\"The
  name of the delivery stream.\";}s:17:\"DeliveryStreamARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/DeliveryStreamARN\";s:11:\"description\";s:54:\"The
  Amazon Resource Name (ARN) of the delivery stream.\";}s:20:\"DeliveryStreamStatus\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/DeliveryStreamStatus\";s:11:\"description\";s:34:\"The
  status of the delivery stream.\";}s:18:\"DeliveryStreamType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/DeliveryStreamType\";s:11:\"description\";s:296:\"<p>The
  delivery stream type. This can be one of the following values:</p> <ul> <li> <p>
  <code>DirectPut</code>: Provider applications access the delivery stream directly.</p>
  </li> <li> <p> <code>KinesisStreamAsSource</code>: The delivery stream uses a Kinesis
  stream as a source.</p> </li> </ul>\";}s:9:\"VersionId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/DeliveryStreamVersionId\";s:11:\"description\";s:264:\"Each
  time the destination is updated for a delivery stream, the version ID is changed,
  and the current version ID is required when updating the destination. This is so
  that the service knows it is applying the changes to the correct version of the
  delivery stream.\";}s:15:\"CreateTimestamp\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:55:\"The
  date and time that the delivery stream was created.\";}s:19:\"LastUpdateTimestamp\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:60:\"The
  date and time that the delivery stream was last updated.\";}s:6:\"Source\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/SourceDescription\";s:11:\"description\";s:159:\"If
  the <code>DeliveryStreamType</code> parameter is <code>KinesisStreamAsSource</code>,
  a <a>SourceDescription</a> object describing the source Kinesis stream.\";}s:12:\"Destinations\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/DestinationDescriptionList\";s:11:\"description\";s:17:\"The
  destinations.\";}s:19:\"HasMoreDestinations\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/BooleanObject\";s:11:\"description\";s:64:\"Indicates
  whether there are more destinations available to list.\";}}s:11:\"description\";s:45:\"Contains
  information about a delivery stream.\";}s:18:\"DeliveryStreamName\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:7:\"pattern\";s:15:\"[a-zA-Z0-9_.-]+\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:64;}s:22:\"DeliveryStreamNameList\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/DeliveryStreamName\";}}s:20:\"DeliveryStreamStatus\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:3:{i:0;s:8:\"CREATING\";i:1;s:8:\"DELETING\";i:2;s:6:\"ACTIVE\";}}s:18:\"DeliveryStreamType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:9:\"DirectPut\";i:1;s:21:\"KinesisStreamAsSource\";}}s:23:\"DeliveryStreamVersionId\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:7:\"pattern\";s:6:\"[0-9]+\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:50;}s:27:\"DescribeDeliveryStreamInput\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:18:\"DeliveryStreamName\";}s:10:\"properties\";O:8:\"stdClass\":3:{s:18:\"DeliveryStreamName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/DeliveryStreamName\";s:11:\"description\";s:32:\"The
  name of the delivery stream.\";}s:5:\"Limit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:46:\"#/definitions/DescribeDeliveryStreamInputLimit\";s:11:\"description\";s:111:\"The
  limit on the number of destinations to return. Currently, you can have one destination
  per delivery stream.\";}s:27:\"ExclusiveStartDestinationId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/DestinationId\";s:11:\"description\";s:147:\"The
  ID of the destination to start returning the destination information. Currently,
  Kinesis Firehose supports one destination per delivery stream.\";}}}s:32:\"DescribeDeliveryStreamInputLimit\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:7:\"minimum\";i:1;s:7:\"maximum\";i:10000;}s:28:\"DescribeDeliveryStreamOutput\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:25:\"DeliveryStreamDescription\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:25:\"DeliveryStreamDescription\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/DeliveryStreamDescription\";s:11:\"description\";s:38:\"Information
  about the delivery stream.\";}}}s:22:\"DestinationDescription\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:13:\"DestinationId\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:13:\"DestinationId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/DestinationId\";s:11:\"description\";s:26:\"The
  ID of the destination.\";}s:24:\"S3DestinationDescription\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/S3DestinationDescription\";s:11:\"description\";s:42:\"[Deprecated]
  The destination in Amazon S3.\";}s:32:\"ExtendedS3DestinationDescription\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:46:\"#/definitions/ExtendedS3DestinationDescription\";s:11:\"description\";s:29:\"The
  destination in Amazon S3.\";}s:30:\"RedshiftDestinationDescription\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/RedshiftDestinationDescription\";s:11:\"description\";s:35:\"The
  destination in Amazon Redshift.\";}s:35:\"ElasticsearchDestinationDescription\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:49:\"#/definitions/ElasticsearchDestinationDescription\";s:11:\"description\";s:29:\"The
  destination in Amazon ES.\";}}s:11:\"description\";s:48:\"Describes the destination
  for a delivery stream.\";}s:26:\"DestinationDescriptionList\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/DestinationDescription\";}}s:13:\"DestinationId\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:100;}s:27:\"ElasticsearchBufferingHints\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:17:\"IntervalInSeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:53:\"#/definitions/ElasticsearchBufferingIntervalInSeconds\";s:11:\"description\";s:145:\"Buffer
  incoming data for the specified period of time, in seconds, before delivering it
  to the destination. The default value is 300 (5 minutes).\";}s:9:\"SizeInMBs\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:45:\"#/definitions/ElasticsearchBufferingSizeInMBs\";s:11:\"description\";s:362:\"<p>Buffer
  incoming data to the specified size, in MBs, before delivering it to the destination.
  The default value is 5.</p> <p>We recommend setting this parameter to a value greater
  than the amount of data you typically ingest into the delivery stream in 10 seconds.
  For example, if you typically ingest data at 1 MB/sec, the value should be 10 MB
  or higher.</p>\";}}s:11:\"description\";s:87:\"Describes the buffering to perform
  before delivering data to the Amazon ES destination.\";}s:39:\"ElasticsearchBufferingIntervalInSeconds\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:7:\"minimum\";i:60;s:7:\"maximum\";i:900;}s:31:\"ElasticsearchBufferingSizeInMBs\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:7:\"minimum\";i:1;s:7:\"maximum\";i:100;}s:37:\"ElasticsearchDestinationConfiguration\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:5:{i:0;s:7:\"RoleARN\";i:1;s:9:\"DomainARN\";i:2;s:9:\"IndexName\";i:3;s:8:\"TypeName\";i:4;s:15:\"S3Configuration\";}s:10:\"properties\";O:8:\"stdClass\":11:{s:7:\"RoleARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/RoleARN\";s:11:\"description\";s:278:\"The
  ARN of the IAM role to be assumed by Kinesis Firehose for calling the Amazon ES
  Configuration API and for indexing documents. For more information, see <a href=\"http://docs.aws.amazon.com/firehose/latest/dev/controlling-access.html#using-iam-s3\">Amazon
  S3 Bucket Access</a>.\";}s:9:\"DomainARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/ElasticsearchDomainARN\";s:11:\"description\";s:262:\"The
  ARN of the Amazon ES domain. The IAM role must have permissions for\_<code>DescribeElasticsearchDomain</code>,
  <code>DescribeElasticsearchDomains</code>, and <code>DescribeElasticsearchDomainConfig</code>\_after
  assuming the role specified in <b>RoleARN</b>.\";}s:9:\"IndexName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/ElasticsearchIndexName\";s:11:\"description\";s:29:\"The
  Elasticsearch index name.\";}s:8:\"TypeName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/ElasticsearchTypeName\";s:11:\"description\";s:28:\"The
  Elasticsearch type name.\";}s:19:\"IndexRotationPeriod\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:46:\"#/definitions/ElasticsearchIndexRotationPeriod\";s:11:\"description\";s:363:\"The
  Elasticsearch index rotation period. Index rotation appends a time stamp to the
  IndexName to facilitate the expiration of old data. For more information, see <a
  href=\"http://docs.aws.amazon.com/firehose/latest/dev/basic-deliver.html#es-index-rotation\">Index
  Rotation for Amazon Elasticsearch Service Destination</a>. The default value is\_<code>OneDay</code>.\";}s:14:\"BufferingHints\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/ElasticsearchBufferingHints\";s:11:\"description\";s:116:\"The
  buffering options. If no value is specified, the default values for <b>ElasticsearchBufferingHints</b>
  are used.\";}s:12:\"RetryOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/ElasticsearchRetryOptions\";s:11:\"description\";s:126:\"The
  retry behavior in case Kinesis Firehose is unable to deliver documents to Amazon
  ES. The default value is 300 (5 minutes).\";}s:12:\"S3BackupMode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/ElasticsearchS3BackupMode\";s:11:\"description\";s:639:\"Defines
  how documents should be delivered to Amazon S3. When set to FailedDocumentsOnly,
  Kinesis Firehose writes any documents that could not be indexed to the configured
  Amazon S3 destination, with elasticsearch-failed/ appended to the key prefix. When
  set to AllDocuments, Kinesis Firehose delivers all incoming records to Amazon S3,
  and also writes failed documents with elasticsearch-failed/ appended to the prefix.
  For more information, see <a href=\"http://docs.aws.amazon.com/firehose/latest/dev/basic-deliver.html#es-s3-backup\">Amazon
  S3 Backup for Amazon Elasticsearch Service Destination</a>. Default value is FailedDocumentsOnly.\";}s:15:\"S3Configuration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/S3DestinationConfiguration\";s:11:\"description\";s:52:\"The
  configuration for the backup Amazon S3 location.\";}s:23:\"ProcessingConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/ProcessingConfiguration\";s:11:\"description\";s:34:\"The
  data processing configuration.\";}s:24:\"CloudWatchLoggingOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/CloudWatchLoggingOptions\";s:11:\"description\";s:56:\"The
  CloudWatch logging options for your delivery stream.\";}}s:11:\"description\";s:58:\"Describes
  the configuration of a destination in Amazon ES.\";}s:35:\"ElasticsearchDestinationDescription\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":11:{s:7:\"RoleARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/RoleARN\";s:11:\"description\";s:31:\"The
  ARN of the AWS credentials.\";}s:9:\"DomainARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/ElasticsearchDomainARN\";s:11:\"description\";s:32:\"The
  ARN of the Amazon ES domain.\";}s:9:\"IndexName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/ElasticsearchIndexName\";s:11:\"description\";s:29:\"The
  Elasticsearch index name.\";}s:8:\"TypeName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/ElasticsearchTypeName\";s:11:\"description\";s:28:\"The
  Elasticsearch type name.\";}s:19:\"IndexRotationPeriod\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:46:\"#/definitions/ElasticsearchIndexRotationPeriod\";s:11:\"description\";s:39:\"The
  Elasticsearch index rotation period\";}s:14:\"BufferingHints\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/ElasticsearchBufferingHints\";s:11:\"description\";s:22:\"The
  buffering options.\";}s:12:\"RetryOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/ElasticsearchRetryOptions\";s:11:\"description\";s:28:\"The
  Amazon ES retry options.\";}s:12:\"S3BackupMode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/ElasticsearchS3BackupMode\";s:11:\"description\";s:26:\"The
  Amazon S3 backup mode.\";}s:24:\"S3DestinationDescription\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/S3DestinationDescription\";s:11:\"description\";s:26:\"The
  Amazon S3 destination.\";}s:23:\"ProcessingConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/ProcessingConfiguration\";s:11:\"description\";s:34:\"The
  data processing configuration.\";}s:24:\"CloudWatchLoggingOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/CloudWatchLoggingOptions\";s:11:\"description\";s:31:\"The
  CloudWatch logging options.\";}}s:11:\"description\";s:41:\"The destination description
  in Amazon ES.\";}s:30:\"ElasticsearchDestinationUpdate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:7:\"RoleARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/RoleARN\";s:11:\"description\";s:278:\"The
  ARN of the IAM role to be assumed by Kinesis Firehose for calling the Amazon ES
  Configuration API and for indexing documents. For more information, see <a href=\"http://docs.aws.amazon.com/firehose/latest/dev/controlling-access.html#using-iam-s3\">Amazon
  S3 Bucket Access</a>.\";}s:9:\"DomainARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/ElasticsearchDomainARN\";s:11:\"description\";s:266:\"The
  ARN of the Amazon ES domain. The IAM role must have permissions for\_<code>DescribeElasticsearchDomain</code>,
  <code>DescribeElasticsearchDomains</code>, and <code>DescribeElasticsearchDomainConfig</code>\_after
  assuming the IAM role specified in <b>RoleARN</b>.\";}s:9:\"IndexName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/ElasticsearchIndexName\";s:11:\"description\";s:29:\"The
  Elasticsearch index name.\";}s:8:\"TypeName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/ElasticsearchTypeName\";s:11:\"description\";s:28:\"The
  Elasticsearch type name.\";}s:19:\"IndexRotationPeriod\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:46:\"#/definitions/ElasticsearchIndexRotationPeriod\";s:11:\"description\";s:355:\"The
  Elasticsearch index rotation period. Index rotation appends a time stamp to IndexName
  to facilitate the expiration of old data. For more information, see <a href=\"http://docs.aws.amazon.com/firehose/latest/dev/basic-deliver.html#es-index-rotation\">Index
  Rotation for Amazon Elasticsearch Service Destination</a>. Default value is\_<code>OneDay</code>.\";}s:14:\"BufferingHints\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/ElasticsearchBufferingHints\";s:11:\"description\";s:116:\"The
  buffering options. If no value is specified, <b>ElasticsearchBufferingHints</b>
  object default values are used. \";}s:12:\"RetryOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/ElasticsearchRetryOptions\";s:11:\"description\";s:126:\"The
  retry behavior in case Kinesis Firehose is unable to deliver documents to Amazon
  ES. The default value is 300 (5 minutes).\";}s:8:\"S3Update\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/S3DestinationUpdate\";s:11:\"description\";s:26:\"The
  Amazon S3 destination.\";}s:23:\"ProcessingConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/ProcessingConfiguration\";s:11:\"description\";s:34:\"The
  data processing configuration.\";}s:24:\"CloudWatchLoggingOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/CloudWatchLoggingOptions\";s:11:\"description\";s:56:\"The
  CloudWatch logging options for your delivery stream.\";}}s:11:\"description\";s:51:\"Describes
  an update for a destination in Amazon ES.\";}s:22:\"ElasticsearchDomainARN\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:7:\"pattern\";s:6:\"arn:.*\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:512;}s:22:\"ElasticsearchIndexName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:80;}s:32:\"ElasticsearchIndexRotationPeriod\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:5:{i:0;s:10:\"NoRotation\";i:1;s:7:\"OneHour\";i:2;s:6:\"OneDay\";i:3;s:7:\"OneWeek\";i:4;s:8:\"OneMonth\";}}s:35:\"ElasticsearchRetryDurationInSeconds\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:7:\"minimum\";i:0;s:7:\"maximum\";i:7200;}s:25:\"ElasticsearchRetryOptions\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"DurationInSeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:49:\"#/definitions/ElasticsearchRetryDurationInSeconds\";s:11:\"description\";s:317:\"After
  an initial failure to deliver to Amazon ES, the total amount of time during which
  Kinesis Firehose re-attempts delivery (including the first attempt). After this
  time has elapsed, the failed documents are written to Amazon S3. Default value is
  300 seconds (5 minutes). A value of 0 (zero) results in no retries.\";}}s:11:\"description\";s:95:\"Configures
  retry behavior in case Kinesis Firehose is unable to deliver documents to Amazon
  ES.\";}s:25:\"ElasticsearchS3BackupMode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:19:\"FailedDocumentsOnly\";i:1;s:12:\"AllDocuments\";}}s:21:\"ElasticsearchTypeName\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:100;}s:23:\"EncryptionConfiguration\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:18:\"NoEncryptionConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/NoEncryptionConfig\";s:11:\"description\";s:91:\"Specifically
  override existing encryption information to ensure that no encryption is used.\";}s:19:\"KMSEncryptionConfig\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/KMSEncryptionConfig\";s:11:\"description\";s:19:\"The
  encryption key.\";}}s:11:\"description\";s:56:\"Describes the encryption for a destination
  in Amazon S3.\";}s:9:\"ErrorCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"ErrorMessage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:34:\"ExtendedS3DestinationConfiguration\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:7:\"RoleARN\";i:1;s:9:\"BucketARN\";}s:10:\"properties\";O:8:\"stdClass\":10:{s:7:\"RoleARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/RoleARN\";s:11:\"description\";s:31:\"The
  ARN of the AWS credentials.\";}s:9:\"BucketARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/BucketARN\";s:11:\"description\";s:25:\"The
  ARN of the S3 bucket.\";}s:6:\"Prefix\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Prefix\";s:11:\"description\";s:428:\"The
  \"YYYY/MM/DD/HH\" time format prefix is automatically used for delivered S3 files.
  You can specify an extra prefix to be added in front of the time format prefix.
  If the prefix ends with a slash, it appears as a folder in the S3 bucket. For more
  information, see <a href=\"http://docs.aws.amazon.com/firehose/latest/dev/basic-deliver.html\">Amazon
  S3 Object Name Format</a> in the <i>Amazon Kinesis Firehose Developer Guide</i>.\";}s:14:\"BufferingHints\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/BufferingHints\";s:11:\"description\";s:21:\"The
  buffering option.\";}s:17:\"CompressionFormat\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/CompressionFormat\";s:11:\"description\";s:78:\"The
  compression format. If no value is specified, the default is UNCOMPRESSED.\";}s:23:\"EncryptionConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/EncryptionConfiguration\";s:11:\"description\";s:85:\"The
  encryption configuration. If no value is specified, the default is no encryption.\";}s:24:\"CloudWatchLoggingOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/CloudWatchLoggingOptions\";s:11:\"description\";s:56:\"The
  CloudWatch logging options for your delivery stream.\";}s:23:\"ProcessingConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/ProcessingConfiguration\";s:11:\"description\";s:34:\"The
  data processing configuration.\";}s:12:\"S3BackupMode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/S3BackupMode\";s:11:\"description\";s:26:\"The
  Amazon S3 backup mode.\";}s:21:\"S3BackupConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/S3DestinationConfiguration\";s:11:\"description\";s:42:\"The
  configuration for backup in Amazon S3.\";}}s:11:\"description\";s:58:\"Describes
  the configuration of a destination in Amazon S3.\";}s:32:\"ExtendedS3DestinationDescription\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:5:{i:0;s:7:\"RoleARN\";i:1;s:9:\"BucketARN\";i:2;s:14:\"BufferingHints\";i:3;s:17:\"CompressionFormat\";i:4;s:23:\"EncryptionConfiguration\";}s:10:\"properties\";O:8:\"stdClass\":10:{s:7:\"RoleARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/RoleARN\";s:11:\"description\";s:31:\"The
  ARN of the AWS credentials.\";}s:9:\"BucketARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/BucketARN\";s:11:\"description\";s:25:\"The
  ARN of the S3 bucket.\";}s:6:\"Prefix\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Prefix\";s:11:\"description\";s:428:\"The
  \"YYYY/MM/DD/HH\" time format prefix is automatically used for delivered S3 files.
  You can specify an extra prefix to be added in front of the time format prefix.
  If the prefix ends with a slash, it appears as a folder in the S3 bucket. For more
  information, see <a href=\"http://docs.aws.amazon.com/firehose/latest/dev/basic-deliver.html\">Amazon
  S3 Object Name Format</a> in the <i>Amazon Kinesis Firehose Developer Guide</i>.\";}s:14:\"BufferingHints\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/BufferingHints\";s:11:\"description\";s:21:\"The
  buffering option.\";}s:17:\"CompressionFormat\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/CompressionFormat\";s:11:\"description\";s:91:\"The
  compression format. If no value is specified, the default is <code>UNCOMPRESSED</code>.\";}s:23:\"EncryptionConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/EncryptionConfiguration\";s:11:\"description\";s:85:\"The
  encryption configuration. If no value is specified, the default is no encryption.\";}s:24:\"CloudWatchLoggingOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/CloudWatchLoggingOptions\";s:11:\"description\";s:56:\"The
  CloudWatch logging options for your delivery stream.\";}s:23:\"ProcessingConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/ProcessingConfiguration\";s:11:\"description\";s:34:\"The
  data processing configuration.\";}s:12:\"S3BackupMode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/S3BackupMode\";s:11:\"description\";s:26:\"The
  Amazon S3 backup mode.\";}s:19:\"S3BackupDescription\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/S3DestinationDescription\";s:11:\"description\";s:42:\"The
  configuration for backup in Amazon S3.\";}}s:11:\"description\";s:37:\"Describes
  a destination in Amazon S3.\";}s:27:\"ExtendedS3DestinationUpdate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:7:\"RoleARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/RoleARN\";s:11:\"description\";s:31:\"The
  ARN of the AWS credentials.\";}s:9:\"BucketARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/BucketARN\";s:11:\"description\";s:25:\"The
  ARN of the S3 bucket.\";}s:6:\"Prefix\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Prefix\";s:11:\"description\";s:428:\"The
  \"YYYY/MM/DD/HH\" time format prefix is automatically used for delivered S3 files.
  You can specify an extra prefix to be added in front of the time format prefix.
  If the prefix ends with a slash, it appears as a folder in the S3 bucket. For more
  information, see <a href=\"http://docs.aws.amazon.com/firehose/latest/dev/basic-deliver.html\">Amazon
  S3 Object Name Format</a> in the <i>Amazon Kinesis Firehose Developer Guide</i>.\";}s:14:\"BufferingHints\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/BufferingHints\";s:11:\"description\";s:21:\"The
  buffering option.\";}s:17:\"CompressionFormat\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/CompressionFormat\";s:11:\"description\";s:92:\"The
  compression format. If no value is specified, the default is <code>UNCOMPRESSED</code>.
  \";}s:23:\"EncryptionConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/EncryptionConfiguration\";s:11:\"description\";s:85:\"The
  encryption configuration. If no value is specified, the default is no encryption.\";}s:24:\"CloudWatchLoggingOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/CloudWatchLoggingOptions\";s:11:\"description\";s:56:\"The
  CloudWatch logging options for your delivery stream.\";}s:23:\"ProcessingConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/ProcessingConfiguration\";s:11:\"description\";s:34:\"The
  data processing configuration.\";}s:12:\"S3BackupMode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/S3BackupMode\";s:11:\"description\";s:42:\"Enables
  or disables Amazon S3 backup mode.\";}s:14:\"S3BackupUpdate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/S3DestinationUpdate\";s:11:\"description\";s:37:\"The
  Amazon S3 destination for backup.\";}}s:11:\"description\";s:51:\"Describes an update
  for a destination in Amazon S3.\";}s:14:\"FirehoseSource\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:21:\"GetKinesisStreamInput\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:17:\"DeliveryStreamARN\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"DeliveryStreamARN\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/DeliveryStreamARN\";}}}s:22:\"GetKinesisStreamOutput\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"KinesisStreamARN\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/KinesisStreamARN\";}s:34:\"CredentialsForReadingKinesisStream\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/SessionCredentials\";}}}s:17:\"IntervalInSeconds\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:7:\"minimum\";i:60;s:7:\"maximum\";i:900;}s:24:\"InvalidArgumentException\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";s:11:\"description\";s:52:\"A
  message that provides information about the error.\";}}s:11:\"description\";s:60:\"The
  specified input parameter has a value that is not valid.\";}s:26:\"InvalidStreamTypeException\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}s:6:\"source\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/FirehoseSource\";}}}s:19:\"KMSEncryptionConfig\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:12:\"AWSKMSKeyARN\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"AWSKMSKeyARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/AWSKMSKeyARN\";s:11:\"description\";s:98:\"The
  ARN of the encryption key. Must belong to the same region as the destination Amazon
  S3 bucket.\";}}s:11:\"description\";s:59:\"Describes an encryption key for a destination
  in Amazon S3.\";}s:16:\"KinesisStreamARN\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:7:\"pattern\";s:6:\"arn:.*\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:512;}s:32:\"KinesisStreamSourceConfiguration\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:16:\"KinesisStreamARN\";i:1;s:7:\"RoleARN\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"KinesisStreamARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/KinesisStreamARN\";s:11:\"description\";s:37:\"The
  ARN of the source Kinesis stream.\";}s:7:\"RoleARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/RoleARN\";s:11:\"description\";s:70:\"The
  ARN of the role that provides access to the source Kinesis stream.\";}}s:11:\"description\";s:87:\"The
  stream and role ARNs for a Kinesis stream used as the source for a delivery stream.\";}s:30:\"KinesisStreamSourceDescription\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"KinesisStreamARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/KinesisStreamARN\";s:11:\"description\";s:37:\"The
  ARN of the source Kinesis stream.\";}s:7:\"RoleARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/RoleARN\";s:11:\"description\";s:54:\"The
  ARN of the role used by the source Kinesis stream.\";}s:22:\"DeliveryStartTimestamp\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/DeliveryStartTimestamp\";s:11:\"description\";s:97:\"Kinesis
  Firehose starts retrieving records from the Kinesis stream starting with this time
  stamp.\";}}s:11:\"description\";s:89:\"Details about a Kinesis stream used as the
  source for a Kinesis Firehose delivery stream.\";}s:22:\"LimitExceededException\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";s:11:\"description\";s:52:\"A
  message that provides information about the error.\";}}s:11:\"description\";s:60:\"You
  have already reached the limit for a requested resource.\";}s:24:\"ListDeliveryStreamsInput\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"Limit\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:43:\"#/definitions/ListDeliveryStreamsInputLimit\";s:11:\"description\";s:47:\"The
  maximum number of delivery streams to list.\";}s:18:\"DeliveryStreamType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/DeliveryStreamType\";s:11:\"description\";s:405:\"<p>The
  delivery stream type. This can be one of the following values:</p> <ul> <li> <p>
  <code>DirectPut</code>: Provider applications access the delivery stream directly.</p>
  </li> <li> <p> <code>KinesisStreamAsSource</code>: The delivery stream uses a Kinesis
  stream as a source.</p> </li> </ul> <p>This parameter is optional. If this parameter
  is omitted, delivery streams of all types are returned.</p>\";}s:32:\"ExclusiveStartDeliveryStreamName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/DeliveryStreamName\";s:11:\"description\";s:55:\"The
  name of the delivery stream to start the list with.\";}}}s:29:\"ListDeliveryStreamsInputLimit\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:7:\"minimum\";i:1;s:7:\"maximum\";i:10000;}s:25:\"ListDeliveryStreamsOutput\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:19:\"DeliveryStreamNames\";i:1;s:22:\"HasMoreDeliveryStreams\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"DeliveryStreamNames\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/DeliveryStreamNameList\";s:11:\"description\";s:34:\"The
  names of the delivery streams.\";}s:22:\"HasMoreDeliveryStreams\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/BooleanObject\";s:11:\"description\";s:68:\"Indicates
  whether there are more delivery streams available to list.\";}}}s:12:\"LogGroupName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:13:\"LogStreamName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:18:\"NoEncryptionConfig\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:1:{i:0;s:12:\"NoEncryption\";}}s:24:\"NonNegativeIntegerObject\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:7:\"minimum\";i:0;}s:8:\"Password\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:6;s:6:\"format\";s:8:\"password\";}s:6:\"Prefix\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:23:\"ProcessingConfiguration\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Enabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/BooleanObject\";s:11:\"description\";s:36:\"Enables
  or disables data processing.\";}s:10:\"Processors\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ProcessorList\";s:11:\"description\";s:20:\"The
  data processors.\";}}s:11:\"description\";s:42:\"Describes a data processing configuration.\";}s:9:\"Processor\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:4:\"Type\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/ProcessorType\";s:11:\"description\";s:22:\"The
  type of processor.\";}s:10:\"Parameters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/ProcessorParameterList\";s:11:\"description\";s:25:\"The
  processor parameters.\";}}s:11:\"description\";s:27:\"Describes a data processor.\";}s:13:\"ProcessorList\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Processor\";}}s:18:\"ProcessorParameter\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:13:\"ParameterName\";i:1;s:14:\"ParameterValue\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"ParameterName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/ProcessorParameterName\";s:11:\"description\";s:26:\"The
  name of the parameter.\";}s:14:\"ParameterValue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/ProcessorParameterValue\";s:11:\"description\";s:20:\"The
  parameter value.\";}}s:11:\"description\";s:34:\"Describes the processor parameter.\";}s:22:\"ProcessorParameterList\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ProcessorParameter\";}}s:22:\"ProcessorParameterName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:9:\"LambdaArn\";i:1;s:15:\"NumberOfRetries\";}}s:23:\"ProcessorParameterValue\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:512;}s:13:\"ProcessorType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:1:{i:0;s:6:\"Lambda\";}}s:19:\"PutRecordBatchInput\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:18:\"DeliveryStreamName\";i:1;s:7:\"Records\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:18:\"DeliveryStreamName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/DeliveryStreamName\";s:11:\"description\";s:32:\"The
  name of the delivery stream.\";}s:7:\"Records\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/PutRecordBatchRequestEntryList\";s:11:\"description\";s:20:\"One
  or more records.\";}}}s:20:\"PutRecordBatchOutput\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:14:\"FailedPutCount\";i:1;s:16:\"RequestResponses\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"FailedPutCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/NonNegativeIntegerObject\";s:11:\"description\";s:56:\"The
  number of records that might have failed processing.\";}s:16:\"RequestResponses\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:45:\"#/definitions/PutRecordBatchResponseEntryList\";s:11:\"description\";s:121:\"The
  results array. For each record, the index of the response element is the same as
  the index used in the request array.\";}}}s:30:\"PutRecordBatchRequestEntryList\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Record\";}s:8:\"minItems\";i:1;s:8:\"maxItems\";i:500;}s:27:\"PutRecordBatchResponseEntry\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"RecordId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/PutResponseRecordId\";s:11:\"description\";s:21:\"The
  ID of the record.\";}s:9:\"ErrorCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/ErrorCode\";s:11:\"description\";s:47:\"The
  error code for an individual record result.\";}s:12:\"ErrorMessage\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";s:11:\"description\";s:50:\"The
  error message for an individual record result.\";}}s:11:\"description\";s:281:\"Contains
  the result for an individual record from a <a>PutRecordBatch</a> request. If the
  record is successfully added to your delivery stream, it receives a record ID. If
  the record fails to be added to your delivery stream, the result includes an error
  code and an error message.\";}s:31:\"PutRecordBatchResponseEntryList\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/PutRecordBatchResponseEntry\";}s:8:\"minItems\";i:1;s:8:\"maxItems\";i:500;}s:14:\"PutRecordInput\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:18:\"DeliveryStreamName\";i:1;s:6:\"Record\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:18:\"DeliveryStreamName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/DeliveryStreamName\";s:11:\"description\";s:32:\"The
  name of the delivery stream.\";}s:6:\"Record\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Record\";s:11:\"description\";s:11:\"The
  record.\";}}}s:15:\"PutRecordOutput\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:8:\"RecordId\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"RecordId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/PutResponseRecordId\";s:11:\"description\";s:21:\"The
  ID of the record.\";}}}s:19:\"PutResponseRecordId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;}s:6:\"Record\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:4:\"Data\";}s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Data\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Data\";s:11:\"description\";s:139:\"The
  data blob, which is base64-encoded when the blob is serialized. The maximum size
  of the data blob, before base64-encoding, is 1,000 KB.\";}}s:11:\"description\";s:38:\"The
  unit of data in a delivery stream.\";}s:32:\"RedshiftDestinationConfiguration\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:6:{i:0;s:7:\"RoleARN\";i:1;s:14:\"ClusterJDBCURL\";i:2;s:11:\"CopyCommand\";i:3;s:8:\"Username\";i:4;s:8:\"Password\";i:5;s:15:\"S3Configuration\";}s:10:\"properties\";O:8:\"stdClass\":11:{s:7:\"RoleARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/RoleARN\";s:11:\"description\";s:31:\"The
  ARN of the AWS credentials.\";}s:14:\"ClusterJDBCURL\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ClusterJDBCURL\";s:11:\"description\";s:31:\"The
  database connection string.\";}s:11:\"CopyCommand\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/CopyCommand\";s:11:\"description\";s:30:\"The
  <code>COPY</code> command.\";}s:8:\"Username\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Username\";s:11:\"description\";s:21:\"The
  name of the user.\";}s:8:\"Password\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Password\";s:11:\"description\";s:18:\"The
  user password.\";}s:12:\"RetryOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/RedshiftRetryOptions\";s:11:\"description\";s:130:\"The
  retry behavior in case Kinesis Firehose is unable to deliver documents to Amazon
  Redshift. Default value is 3600 (60 minutes).\";}s:15:\"S3Configuration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/S3DestinationConfiguration\";s:11:\"description\";s:457:\"<p>The
  configuration for the intermediate Amazon S3 location from which Amazon Redshift
  obtains data. Restrictions are described in the topic for <a>CreateDeliveryStream</a>.</p>
  <p>The compression formats <code>SNAPPY</code> or <code>ZIP</code> cannot be specified
  in <b>RedshiftDestinationConfiguration.S3Configuration</b> because the Amazon Redshift
  <code>COPY</code> operation that reads from the S3 bucket doesn't support these
  compression formats.</p>\";}s:23:\"ProcessingConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/ProcessingConfiguration\";s:11:\"description\";s:34:\"The
  data processing configuration.\";}s:12:\"S3BackupMode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/RedshiftS3BackupMode\";s:11:\"description\";s:26:\"The
  Amazon S3 backup mode.\";}s:21:\"S3BackupConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/S3DestinationConfiguration\";s:11:\"description\";s:42:\"The
  configuration for backup in Amazon S3.\";}s:24:\"CloudWatchLoggingOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/CloudWatchLoggingOptions\";s:11:\"description\";s:56:\"The
  CloudWatch logging options for your delivery stream.\";}}s:11:\"description\";s:64:\"Describes
  the configuration of a destination in Amazon Redshift.\";}s:30:\"RedshiftDestinationDescription\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:5:{i:0;s:7:\"RoleARN\";i:1;s:14:\"ClusterJDBCURL\";i:2;s:11:\"CopyCommand\";i:3;s:8:\"Username\";i:4;s:24:\"S3DestinationDescription\";}s:10:\"properties\";O:8:\"stdClass\":10:{s:7:\"RoleARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/RoleARN\";s:11:\"description\";s:31:\"The
  ARN of the AWS credentials.\";}s:14:\"ClusterJDBCURL\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ClusterJDBCURL\";s:11:\"description\";s:31:\"The
  database connection string.\";}s:11:\"CopyCommand\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/CopyCommand\";s:11:\"description\";s:30:\"The
  <code>COPY</code> command.\";}s:8:\"Username\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Username\";s:11:\"description\";s:21:\"The
  name of the user.\";}s:12:\"RetryOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/RedshiftRetryOptions\";s:11:\"description\";s:130:\"The
  retry behavior in case Kinesis Firehose is unable to deliver documents to Amazon
  Redshift. Default value is 3600 (60 minutes).\";}s:24:\"S3DestinationDescription\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/S3DestinationDescription\";s:11:\"description\";s:26:\"The
  Amazon S3 destination.\";}s:23:\"ProcessingConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/ProcessingConfiguration\";s:11:\"description\";s:34:\"The
  data processing configuration.\";}s:12:\"S3BackupMode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/RedshiftS3BackupMode\";s:11:\"description\";s:26:\"The
  Amazon S3 backup mode.\";}s:19:\"S3BackupDescription\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/S3DestinationDescription\";s:11:\"description\";s:42:\"The
  configuration for backup in Amazon S3.\";}s:24:\"CloudWatchLoggingOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/CloudWatchLoggingOptions\";s:11:\"description\";s:56:\"The
  CloudWatch logging options for your delivery stream.\";}}s:11:\"description\";s:43:\"Describes
  a destination in Amazon Redshift.\";}s:25:\"RedshiftDestinationUpdate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":11:{s:7:\"RoleARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/RoleARN\";s:11:\"description\";s:31:\"The
  ARN of the AWS credentials.\";}s:14:\"ClusterJDBCURL\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/ClusterJDBCURL\";s:11:\"description\";s:31:\"The
  database connection string.\";}s:11:\"CopyCommand\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/CopyCommand\";s:11:\"description\";s:30:\"The
  <code>COPY</code> command.\";}s:8:\"Username\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Username\";s:11:\"description\";s:21:\"The
  name of the user.\";}s:8:\"Password\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Password\";s:11:\"description\";s:18:\"The
  user password.\";}s:12:\"RetryOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/RedshiftRetryOptions\";s:11:\"description\";s:130:\"The
  retry behavior in case Kinesis Firehose is unable to deliver documents to Amazon
  Redshift. Default value is 3600 (60 minutes).\";}s:8:\"S3Update\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/S3DestinationUpdate\";s:11:\"description\";s:298:\"<p>The
  Amazon S3 destination.</p> <p>The compression formats <code>SNAPPY</code> or <code>ZIP</code>
  cannot be specified in <b>RedshiftDestinationUpdate.S3Update</b> because the Amazon
  Redshift <code>COPY</code> operation that reads from the S3 bucket doesn't support
  these compression formats.</p>\";}s:23:\"ProcessingConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/ProcessingConfiguration\";s:11:\"description\";s:34:\"The
  data processing configuration.\";}s:12:\"S3BackupMode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/RedshiftS3BackupMode\";s:11:\"description\";s:26:\"The
  Amazon S3 backup mode.\";}s:14:\"S3BackupUpdate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/S3DestinationUpdate\";s:11:\"description\";s:37:\"The
  Amazon S3 destination for backup.\";}s:24:\"CloudWatchLoggingOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/CloudWatchLoggingOptions\";s:11:\"description\";s:56:\"The
  CloudWatch logging options for your delivery stream.\";}}s:11:\"description\";s:57:\"Describes
  an update for a destination in Amazon Redshift.\";}s:30:\"RedshiftRetryDurationInSeconds\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:7:\"minimum\";i:0;s:7:\"maximum\";i:7200;}s:20:\"RedshiftRetryOptions\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:17:\"DurationInSeconds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/RedshiftRetryDurationInSeconds\";s:11:\"description\";s:358:\"The
  length of time during which Kinesis Firehose retries delivery after a failure, starting
  from the initial request and including the first attempt. The default value is 3600
  seconds (60 minutes). Kinesis Firehose does not retry if the value of <code>DurationInSeconds</code>
  is 0 (zero) or if the first delivery attempt takes longer than the current value.\";}}s:11:\"description\";s:101:\"Configures
  retry behavior in case Kinesis Firehose is unable to deliver documents to Amazon
  Redshift.\";}s:20:\"RedshiftS3BackupMode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:8:\"Disabled\";i:1;s:7:\"Enabled\";}}s:22:\"ResourceInUseException\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";s:11:\"description\";s:52:\"A
  message that provides information about the error.\";}}s:11:\"description\";s:68:\"The
  resource is already in use and not available for this operation.\";}s:25:\"ResourceNotFoundException\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";s:11:\"description\";s:52:\"A
  message that provides information about the error.\";}}s:11:\"description\";s:42:\"The
  specified resource could not be found.\";}s:7:\"RoleARN\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"string\";s:7:\"pattern\";s:6:\"arn:.*\";s:9:\"minLength\";i:1;s:9:\"maxLength\";i:512;}s:12:\"S3BackupMode\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:8:\"Disabled\";i:1;s:7:\"Enabled\";}}s:26:\"S3DestinationConfiguration\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:7:\"RoleARN\";i:1;s:9:\"BucketARN\";}s:10:\"properties\";O:8:\"stdClass\":7:{s:7:\"RoleARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/RoleARN\";s:11:\"description\";s:31:\"The
  ARN of the AWS credentials.\";}s:9:\"BucketARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/BucketARN\";s:11:\"description\";s:25:\"The
  ARN of the S3 bucket.\";}s:6:\"Prefix\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Prefix\";s:11:\"description\";s:428:\"The
  \"YYYY/MM/DD/HH\" time format prefix is automatically used for delivered S3 files.
  You can specify an extra prefix to be added in front of the time format prefix.
  If the prefix ends with a slash, it appears as a folder in the S3 bucket. For more
  information, see <a href=\"http://docs.aws.amazon.com/firehose/latest/dev/basic-deliver.html\">Amazon
  S3 Object Name Format</a> in the <i>Amazon Kinesis Firehose Developer Guide</i>.\";}s:14:\"BufferingHints\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/BufferingHints\";s:11:\"description\";s:101:\"The
  buffering option. If no value is specified, <b>BufferingHints</b> object default
  values are used.\";}s:17:\"CompressionFormat\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/CompressionFormat\";s:11:\"description\";s:335:\"<p>The
  compression format. If no value is specified, the default is <code>UNCOMPRESSED</code>.</p>
  <p>The compression formats <code>SNAPPY</code> or <code>ZIP</code> cannot be specified
  for Amazon Redshift destinations because they are not supported by the Amazon Redshift
  <code>COPY</code> operation that reads from the S3 bucket.</p>\";}s:23:\"EncryptionConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/EncryptionConfiguration\";s:11:\"description\";s:85:\"The
  encryption configuration. If no value is specified, the default is no encryption.\";}s:24:\"CloudWatchLoggingOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/CloudWatchLoggingOptions\";s:11:\"description\";s:56:\"The
  CloudWatch logging options for your delivery stream.\";}}s:11:\"description\";s:58:\"Describes
  the configuration of a destination in Amazon S3.\";}s:24:\"S3DestinationDescription\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:5:{i:0;s:7:\"RoleARN\";i:1;s:9:\"BucketARN\";i:2;s:14:\"BufferingHints\";i:3;s:17:\"CompressionFormat\";i:4;s:23:\"EncryptionConfiguration\";}s:10:\"properties\";O:8:\"stdClass\":7:{s:7:\"RoleARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/RoleARN\";s:11:\"description\";s:31:\"The
  ARN of the AWS credentials.\";}s:9:\"BucketARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/BucketARN\";s:11:\"description\";s:25:\"The
  ARN of the S3 bucket.\";}s:6:\"Prefix\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Prefix\";s:11:\"description\";s:428:\"The
  \"YYYY/MM/DD/HH\" time format prefix is automatically used for delivered S3 files.
  You can specify an extra prefix to be added in front of the time format prefix.
  If the prefix ends with a slash, it appears as a folder in the S3 bucket. For more
  information, see <a href=\"http://docs.aws.amazon.com/firehose/latest/dev/basic-deliver.html\">Amazon
  S3 Object Name Format</a> in the <i>Amazon Kinesis Firehose Developer Guide</i>.\";}s:14:\"BufferingHints\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/BufferingHints\";s:11:\"description\";s:101:\"The
  buffering option. If no value is specified, <b>BufferingHints</b> object default
  values are used.\";}s:17:\"CompressionFormat\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/CompressionFormat\";s:11:\"description\";s:91:\"The
  compression format. If no value is specified, the default is <code>UNCOMPRESSED</code>.\";}s:23:\"EncryptionConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/EncryptionConfiguration\";s:11:\"description\";s:85:\"The
  encryption configuration. If no value is specified, the default is no encryption.\";}s:24:\"CloudWatchLoggingOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/CloudWatchLoggingOptions\";s:11:\"description\";s:56:\"The
  CloudWatch logging options for your delivery stream.\";}}s:11:\"description\";s:37:\"Describes
  a destination in Amazon S3.\";}s:19:\"S3DestinationUpdate\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:7:\"RoleARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/RoleARN\";s:11:\"description\";s:31:\"The
  ARN of the AWS credentials.\";}s:9:\"BucketARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/BucketARN\";s:11:\"description\";s:25:\"The
  ARN of the S3 bucket.\";}s:6:\"Prefix\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Prefix\";s:11:\"description\";s:428:\"The
  \"YYYY/MM/DD/HH\" time format prefix is automatically used for delivered S3 files.
  You can specify an extra prefix to be added in front of the time format prefix.
  If the prefix ends with a slash, it appears as a folder in the S3 bucket. For more
  information, see <a href=\"http://docs.aws.amazon.com/firehose/latest/dev/basic-deliver.html\">Amazon
  S3 Object Name Format</a> in the <i>Amazon Kinesis Firehose Developer Guide</i>.\";}s:14:\"BufferingHints\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/BufferingHints\";s:11:\"description\";s:101:\"The
  buffering option. If no value is specified, <b>BufferingHints</b> object default
  values are used.\";}s:17:\"CompressionFormat\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/CompressionFormat\";s:11:\"description\";s:335:\"<p>The
  compression format. If no value is specified, the default is <code>UNCOMPRESSED</code>.</p>
  <p>The compression formats <code>SNAPPY</code> or <code>ZIP</code> cannot be specified
  for Amazon Redshift destinations because they are not supported by the Amazon Redshift
  <code>COPY</code> operation that reads from the S3 bucket.</p>\";}s:23:\"EncryptionConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/EncryptionConfiguration\";s:11:\"description\";s:85:\"The
  encryption configuration. If no value is specified, the default is no encryption.\";}s:24:\"CloudWatchLoggingOptions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/CloudWatchLoggingOptions\";s:11:\"description\";s:56:\"The
  CloudWatch logging options for your delivery stream.\";}}s:11:\"description\";s:51:\"Describes
  an update for a destination in Amazon S3.\";}s:15:\"SecretAccessKey\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:27:\"ServiceUnavailableException\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";s:11:\"description\";s:52:\"A
  message that provides information about the error.\";}}s:11:\"description\";s:340:\"The
  service is unavailable, back off and retry the operation. If you continue to see
  the exception, throughput limits for the delivery stream may have been exceeded.
  For more information about limits and how to request an increase, see <a href=\"http://docs.aws.amazon.com/firehose/latest/dev/limits.html\">Amazon
  Kinesis Firehose Limits</a>.\";}s:18:\"SessionCredentials\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:4:{i:0;s:11:\"AccessKeyId\";i:1;s:15:\"SecretAccessKey\";i:2;s:12:\"SessionToken\";i:3;s:10:\"Expiration\";}s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"AccessKeyId\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/AccessKeyId\";}s:15:\"SecretAccessKey\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/SecretAccessKey\";}s:12:\"SessionToken\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/SessionToken\";}s:10:\"Expiration\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";}}}s:12:\"SessionToken\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"SizeInMBs\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:7:\"minimum\";i:1;s:7:\"maximum\";i:128;}s:17:\"SourceDescription\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:30:\"KinesisStreamSourceDescription\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/KinesisStreamSourceDescription\";s:11:\"description\";s:78:\"The
  <a>KinesisStreamSourceDescription</a> value for the source Kinesis stream.\";}}s:11:\"description\";s:89:\"Details
  about a Kinesis stream used as the source for a Kinesis Firehose delivery stream.\";}s:9:\"Timestamp\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:22:\"UpdateDestinationInput\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:3:{i:0;s:18:\"DeliveryStreamName\";i:1;s:30:\"CurrentDeliveryStreamVersionId\";i:2;s:13:\"DestinationId\";}s:10:\"properties\";O:8:\"stdClass\":7:{s:18:\"DeliveryStreamName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/DeliveryStreamName\";s:11:\"description\";s:32:\"The
  name of the delivery stream.\";}s:30:\"CurrentDeliveryStreamVersionId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/DeliveryStreamVersionId\";s:11:\"description\";s:433:\"Obtain
  this value from the <b>VersionId</b> result of <a>DeliveryStreamDescription</a>.
  This value is required, and helps the service to perform conditional operations.
  For example, if there is an interleaving update and this value is null, then the
  update destination fails. After the update is successful, the <b>VersionId</b> value
  is updated. The service then performs a merge of the old configuration with the
  new configuration.\";}s:13:\"DestinationId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/DestinationId\";s:11:\"description\";s:26:\"The
  ID of the destination.\";}s:19:\"S3DestinationUpdate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/S3DestinationUpdate\";s:11:\"description\";s:64:\"[Deprecated]
  Describes an update for a destination in Amazon S3.\";}s:27:\"ExtendedS3DestinationUpdate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/ExtendedS3DestinationUpdate\";s:11:\"description\";s:51:\"Describes
  an update for a destination in Amazon S3.\";}s:25:\"RedshiftDestinationUpdate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/RedshiftDestinationUpdate\";s:11:\"description\";s:57:\"Describes
  an update for a destination in Amazon Redshift.\";}s:30:\"ElasticsearchDestinationUpdate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:44:\"#/definitions/ElasticsearchDestinationUpdate\";s:11:\"description\";s:51:\"Describes
  an update for a destination in Amazon ES.\";}}}s:23:\"UpdateDestinationOutput\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":0:{}}s:8:\"Username\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:9:\"minLength\";i:1;s:6:\"format\";s:8:\"password\";}}"
...
