---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":9:{s:7:\"contact\";O:8:\"stdClass\":2:{s:5:\"email\";s:21:\"support@voodoomfg.com\";s:9:\"x-twitter\";s:9:\"voodoomfg\";}s:11:\"description\";s:1172:\"Welcome
  to the Voodoo Manufacturing API docs!\n\nYour Voodoo Manufacturing API key must
  be included with each request to the API. The API will look for the key in the \"api_key\"
  header of the request. <a href=\"https://voodoomfg.com/3d-print-api#get-access\"
  target=\"_blank\">You can request a key here.</a>\n\nThis API provides a programmatic
  interface for submitting printing orders to Voodoo Manufacturing. The general process
  for creating an order is as follows:\n  - Get a list of the available materials
  with the /materials endpoint\n  - Upload models to the API with the /models endpoint\n
  \ - Get quotes for shipping methods with the /order/shipping endpoint\n  - Get a
  quote for an order with the /order/create endpoint\n  - Confirm the order with the
  /order/confirm endpoint\n\nUploaded models and orders can be retrieved either in
  bulk or by id at the /model and /order endpoints, respectively.\n\nIn some cases,
  you may wish to get a quote for a specific model without the context of an order.
  In this case, you may use the /model/quote (if you've already uploaded the model
  to the API) or the /model/quote_attrs (lets you quote based on calculated model
  attributes) endpoints.\n\";s:5:\"title\";s:29:\"Voodoo Manufacturing 3D Print\";s:7:\"version\";s:5:\"2.0.0\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"tools\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:82:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_voodoomfg_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:37:\"https://api.voodoomfg.com/voodoo.yaml\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"voodoomfg.com\";}"
host: api.voodoomfg.com
basePath: /api/2
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":16:{s:16:\"ConfirmOrderBody\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"quote_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"quote_id
  generated by the /order/create endpoint.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"CreateModelBody\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"file_url\";O:8:\"stdClass\":2:{s:11:\"description\";s:162:\"URL
  to download the model data from. The URL must end in .STL or .OBJ -- the extension
  of the final segment of the URL is used to determine how ot parse the file.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"CreateOrderBody\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"models\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Print\";}s:4:\"type\";s:5:\"array\";}s:5:\"notes\";O:8:\"stdClass\":2:{s:11:\"description\";s:86:\"Any
  notes about this order. This field is always returned when reading the order back.\";s:4:\"type\";s:6:\"string\";}s:16:\"shipping_address\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ShippingAddress\";}s:16:\"shipping_service\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ShippingService\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Material\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"color\";O:8:\"stdClass\":2:{s:11:\"description\";s:134:\"Name
  for the color of this material. This field is for display only and is not required
  for creating an order (use the material's id).\";s:4:\"type\";s:6:\"string\";}s:12:\"color_sample\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"A
  hex value providing an approximate visual sample of this color.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:160:\"The
  unique identifier for this material. Use this value when submitting order items
  to specify that an ordered model should be printed with a specific material.\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:191:\"Type
  of material, excluding color. Will be one of \"PLA\", \"Semi-flex TPU\", or \"Full-flex
  TPU\". This field is for display only and is not required for creating an order
  (use the material's id).\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Model\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:117:\"The
  unique identifier for this model. Use this value when submitting an order to specify
  the model you want to print.\";s:4:\"type\";s:7:\"integer\";}s:13:\"rendering_url\";O:8:\"stdClass\":2:{s:11:\"description\";s:93:\"(reserved)
  URL with a rendering of the model. Value is null until the rendering is completed.\";s:4:\"type\";s:6:\"string\";}s:12:\"surface_area\";O:8:\"stdClass\":2:{s:11:\"description\";s:95:\"The
  unitless surface area of the submitted model. This is calculated when the model
  is created.\";s:4:\"type\";s:6:\"number\";}s:6:\"volume\";O:8:\"stdClass\":2:{s:11:\"description\";s:89:\"The
  unitless volume of the submitted model. This is calculated when the model is created.\";s:4:\"type\";s:6:\"number\";}s:1:\"x\";O:8:\"stdClass\":2:{s:11:\"description\";s:101:\"The
  unitless x-axis length of the model's bounding box. This is calculated when the
  model is created.\";s:4:\"type\";s:6:\"number\";}s:1:\"y\";O:8:\"stdClass\":2:{s:11:\"description\";s:101:\"The
  unitless y-axis length of the model's bounding box. This is calculated when the
  model is created.\";s:4:\"type\";s:6:\"number\";}s:1:\"z\";O:8:\"stdClass\":2:{s:11:\"description\";s:101:\"The
  unitless z-axis length of the model's bounding box. This is calculated when the
  model is created.\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:10:\"ModelQuote\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"Quote
  for a model in the given material_id, units, and quantity.\";s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"material_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Requested
  material id.\";s:4:\"type\";s:7:\"integer\";}s:8:\"model_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"Requested
  model id. Not present on the response from /model/quote_attrs.\";s:4:\"type\";s:7:\"integer\";}s:7:\"options\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/ProductionOptionsCosts\";}s:5:\"quote\";O:8:\"stdClass\":2:{s:11:\"description\";s:90:\"The
  cost for printing the model in the requested quantity, before any additional services.\";s:4:\"type\";s:6:\"number\";}s:9:\"unit_cost\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"The
  cost of a single print of the specified model.\";s:4:\"type\";s:6:\"number\";}s:5:\"units\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"Units
  for the requested print. One of \"mm\", \"cm\", or \"in\".\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Order\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"An
  order contains all of the relevant information about a confirmed order.\";s:10:\"properties\";O:8:\"stdClass\":8:{s:22:\"customer_contact_email\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Customer's
  email address.\";s:4:\"type\";s:6:\"string\";}s:13:\"customer_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Customer's
  name.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:107:\"Unique
  identifier for this order. Reference should be displayed and used for lookups instead
  of this field.\";s:4:\"type\";s:7:\"integer\";}s:5:\"notes\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"The
  notes field that was submitted with this order.\";s:4:\"type\";s:6:\"string\";}s:6:\"prints\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/OrderPrint\";}s:4:\"type\";s:5:\"array\";}s:9:\"reference\";O:8:\"stdClass\":2:{s:11:\"description\";s:100:\"Unique
  identifier for this order. Used to retrieve info for a specific order from /order/{order_id}.\";s:4:\"type\";s:6:\"string\";}s:7:\"ship_by\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Planned
  ship date for this order.\";s:4:\"type\";s:6:\"string\";}s:16:\"shipping_address\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ShippingAddress\";}}s:4:\"type\";s:6:\"object\";}s:10:\"OrderPrint\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"material\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Material\";}s:5:\"model\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Model\";}s:8:\"quantity\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"The
  number of prints requested for this model and material pair.\";s:4:\"type\";s:7:\"integer\";}s:5:\"units\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"Units
  for the requested print. One of \"mm\", \"cm\", or \"in\".\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Print\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"material_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:120:\"The
  unique identifier of the material you'd like to print in. This value comes from
  the id field of the material object.\";s:4:\"type\";s:7:\"integer\";}s:8:\"model_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:111:\"The
  unique identifier of the model you'd like to print. This value comes from the id
  field of the model object.\";s:4:\"type\";s:7:\"integer\";}s:7:\"options\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/ProductionOptions\";}s:8:\"quantity\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"The
  number of prints to order for this material/model pair.\";s:4:\"type\";s:7:\"integer\";}s:5:\"units\";O:8:\"stdClass\":2:{s:11:\"description\";s:151:\"The
  units of the model file. Either \"mm\", \"cm\", or \"in\". The correct value to
  pass here depends on which design program you're using. Defaults to \"mm\".\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"ProductionOptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:126:\"Optional
  extra parameters for the production of this model. There may be additional charges
  for each enabled optional service.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"orientation\";O:8:\"stdClass\":2:{s:11:\"description\";s:398:\"Indicates
  whether or not this model needs to be oriented prior to printing. If your model
  is already oriented for 3D printing, you can omit this flag (or set it to false)
  and it will not be re-oriented prior to printing. If true, it will be re-oriented
  prior to printing. If you're not sure if your model is oriented, you should set
  this flag to true. There is an additional charge for orientation.\";s:4:\"type\";s:7:\"boolean\";}}s:4:\"type\";s:6:\"object\";}s:22:\"ProductionOptionsCosts\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Cost
  of any requested additional model services.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"orientation\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Quote\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:6:\"errors\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"List
  of any issues quoting your order.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:11:\"grand_total\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"Sum
  of items, shipping costs, and any calculated tax.\";s:4:\"type\";s:6:\"number\";}s:5:\"items\";O:8:\"stdClass\":2:{s:11:\"description\";s:76:\"Cost
  to make the specified models in the specified materials and quantities.\";s:4:\"type\";s:6:\"number\";}s:7:\"options\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/ProductionOptionsCosts\";}s:8:\"shipping\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Cost
  of the selected shipping method.\";s:4:\"type\";s:6:\"number\";}s:3:\"tax\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"The
  tax calculated for the given order. Tax is not applied to all orders.\";s:4:\"type\";s:6:\"number\";}s:5:\"total\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"Sum
  of items and shipping costs. This is the taxable subtotal.\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Rate\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:13:\"delivery_date\";O:8:\"stdClass\":2:{s:11:\"description\";s:81:\"The
  target delivery date for the shipping method. Formatted as a datetime string.\";s:4:\"type\";s:6:\"string\";}s:12:\"display_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  display name for this shipping service.\";s:4:\"type\";s:6:\"string\";}s:10:\"guaranteed\";O:8:\"stdClass\":2:{s:11:\"description\";s:143:\"Certain
  shipping methods have guaranteed delivery dates. This field indicates whether delivery_date
  is guaranteed or if it is just an estimate.\";s:4:\"type\";s:7:\"boolean\";}s:5:\"price\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"The
  price of this shipping option for the given set of items.\";s:4:\"type\";s:6:\"number\";}s:7:\"service\";O:8:\"stdClass\":2:{s:11:\"description\";s:131:\"The
  identifier string for this shipping service. Use this value when creating an order
  with this as your requested shipping method.\";s:4:\"type\";s:6:\"string\";}s:9:\"ship_date\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"The
  target ship date for the shipping method. Formatted as a datetime string.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Reserved
  field. Do not use.\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"ShippingAddress\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:4:\"city\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"email\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Contact
  email address for the recipient.\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Name
  of the recipient.\";s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"street1\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"First
  line of the street address.\";s:4:\"type\";s:6:\"string\";}s:7:\"street2\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"Second
  line of the street address (Apartment or Suite number, etc). Optional.\";s:4:\"type\";s:6:\"string\";}s:3:\"zip\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:19:\"ShippingOptionsBody\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"models\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Print\";}s:4:\"type\";s:5:\"array\";}s:16:\"shipping_address\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ShippingAddress\";}}s:4:\"type\";s:6:\"object\";}s:15:\"ShippingService\";O:8:\"stdClass\":2:{s:11:\"description\";s:82:\"Service
  identifier string pulled from a specific rate returned by /order/shipping.\";s:4:\"type\";s:6:\"string\";}}"
...
