---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:7:\"version\";s:2:\"v1\";s:5:\"title\";s:17:\"BinckBank.OpenApi\";s:11:\"description\";s:83:\"BinckBank
  OpenAPI is a Restful API Platform to access BinckBank's trading services.\";}"
host: api.sandbox.binck.com
paths:
  /accounts:
    get:
      tags:
      - Accounts
      summary: Gets all the active accounts of the customer.
      description: If there is no account, the collection will be empty.
      operationId: Accounts_GetAccounts
      consumes: []
      produces:
      - application/json
      - text/json
      responses:
        200:
          description: '[OK] A list of the accounts.'
          schema:
            $ref: '#/definitions/AccountsResponse'
        401:
          description: '[Unauthorized] Authorization has been denied for this request.'
          schema:
            $ref: '#/definitions/ErrorMessageModel'
      security:
      - oauth2:
        - read
      x-throttling-tier: Unlimited
      x-auth-type: Application & Application User
      x-scope: read
  /accounts/{accountNumber}:
    get:
      tags:
      - Accounts
      summary: Gets the specific account details.
      description: Only active accounts are returned.
      operationId: Accounts_GetAccount
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: accountNumber
        in: path
        description: The account number.
        required: true
        type: string
      responses:
        200:
          description: '[OK] The account is successfully retrieved.'
          schema:
            $ref: '#/definitions/AccountsResponse'
        400:
          description: '[Bad Request] The request is not valid. See response body
            for more detail.'
          schema:
            $ref: '#/definitions/ErrorMessageModel'
        401:
          description: '[Unauthorized] Authorization has been denied for this request.'
          schema:
            $ref: '#/definitions/ErrorMessageModel'
        404:
          description: '[NotFound] The account is not found.'
          schema:
            $ref: '#/definitions/ErrorMessageModel'
      security:
      - oauth2:
        - read
      x-throttling-tier: Unlimited
      x-auth-type: Application & Application User
      x-scope: read
  /accounts/{accountNumber}/balances:
    get:
      tags:
      - Balances
      summary: Gets the balance for a specific account
      description: This call can be used to get the spending limit and total asset
        value.
      operationId: Balances_GetAccountBalances
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: accountNumber
        in: path
        description: The account number.
        required: true
        type: string
      responses:
        200:
          description: '[OK] The balance is successfully retrieved.'
          schema:
            $ref: '#/definitions/BalancesResponse'
        400:
          description: '[Bad Request] The request is not valid. See response body
            for more detail.'
          schema:
            $ref: '#/definitions/ErrorMessageModel'
        401:
          description: '[Unauthorized] Authorization has been denied for this request.'
          schema:
            $ref: '#/definitions/ErrorMessageModel'
        404:
          description: '[NotFound] The account is not found.'
          schema:
            $ref: '#/definitions/ErrorMessageModel'
      security:
      - oauth2:
        - read
      x-throttling-tier: Unlimited
      x-auth-type: Application & Application User
      x-scope: read
  /instruments/lists/{id}:
    get:
      tags:
      - Instruments
      summary: Gets all instruments in a predefined list
      description: List are a fast way to retrieve a group of instruments. Count in
        the response might be an 'educated guess'.
      operationId: Instruments_GetListContents
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: id
        in: path
        description: id of the list
        required: true
        type: string
        enum:
        - amsterdamAEXIndex
        - amsterdamAMXIndex
        - amsterdamASCXIndex
        - brusselsBEL20Index
        - copenhagenOMX20Index
        - dublinISEQ20Index
        - frankfurtDAX30Index
        - helsinkiHEX25Index
        - internationalIndices
        - lisbonPSI20Index
        - londonFTSE100Index
        - madridIBEX35Index
        - milanMIB40Index
        - newYorkAMEXIndex
        - newYorkDowJones30Index
        - newYorkNASDAQ100Index
        - newYorkNASDAQIndex
        - newYorkNYSEIndex
        - osloOBXIndex
        - parisCAC40Index
        - parisCACLarge60Index
        - parisCACMid60Index
        - parisCACMidAndSmallIndex
        - parisCACNext20Index
        - parisCACPMEIndex
        - parisCACSmallIndex
        - stockholmOMX30Index
        - torontoSPTSX60Index
        - torontoVentureIndex
        - viennaATX20Index
        - zurichSMIIndex
        - popularItalyFutures
        - popularNetherlandsFutures
        - popularFranceFutures
      - name: includeTickSizes
        in: query
        description: When set to true, the response will include a table with the
          Ticksizes for the instrument, default = false
        required: false
        type: boolean
      - name: accountNumber
        in: query
        description: Mandatory Account Number
        required: true
        type: string
      - name: range
        in: query
        description: Paging parameter to retrieve a subset of the complete collection.
          Format is &lt;offset&gt;-&lt;limit&gt;. rnBoth values are an offset from
          the first entry of the complete collection. The first entry has offset '0'.rn(e.g.
          12-21)
        required: false
        type: string
        pattern: '[0-9]+-[0-9]*'
      responses:
        200:
          description: '[OK] A list of 1 or more instruments.'
          schema:
            $ref: '#/definitions/InstrumentsResponseModel'
        400:
          description: '[Bad Request] The request is not valid. See response body
            for more detail.'
          schema:
            $ref: '#/definitions/ErrorMessageModel'
        401:
          description: '[Unauthorized] Authorization has been denied for this request.'
          schema:
            $ref: '#/definitions/ErrorMessageModel'
        404:
          description: '[NotFound] The list is not found.'
          schema:
            $ref: '#/definitions/ErrorMessageModel'
      security:
      - oauth2:
        - read
      x-throttling-tier: Unlimited
      x-auth-type: Application & Application User
      x-scope: read
  /instruments:
    get:
      tags:
      - Instruments
      summary: Gets instrument information
      description: Parameter 'SearchText' or 'Isin' is required. 'Type' is optional,
        'Mic' can only be used together with 'Isin'.
      operationId: Instruments_GetInstruments
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: includeTickSizes
        in: query
        description: When set to true, the response will include a table with the
          Ticksizes for the instrument, default = false
        required: false
        type: boolean
      - name: accountNumber
        in: query
        description: Mandatory Account Number
        required: true
        type: string
      - name: instrumentType
        in: query
        description: Additional optional filter on instrument type. Cannot be used
          alone.
        required: false
        type: string
        enum:
        - bond
        - cashDividend
        - certificate
        - choiceDividend
        - claim
        - coupon
        - discounter
        - equity
        - future
        - futureClass
        - index
        - investmentFund
        - ipo
        - option
        - optionClass
        - otherLeveragedProduct
        - speeder
        - sprinter
        - srd
        - srdClass
        - stockDividend
        - structuredProduct
        - tracker
        - turbo
        - unclassified
        - warrant
      - name: searchText
        in: query
        description: Case insensitive search text, minimum length 2. Cannot be used
          in combination with 'Isin'.
        required: false
        type: string
      - name: isin
        in: query
        description: Selection on isincode. Cannot be used in combination with 'SearchText'.
        required: false
        type: string
      - name: mic
        in: query
        description: Additional optional selection on Market Identification Code,
          to be used only in combination with 'Isin'
        required: false
        type: string
      - name: range
        in: query
        description: Paging parameter to retrieve a subset of the complete collection.
          Format is &lt;offset&gt;-&lt;limit&gt;. rnBoth values are an offset from
          the first entry of the complete collection. The first entry has offset '0'.rn(e.g.
          12-21)
        required: false
        type: string
        pattern: '[0-9]+-[0-9]*'
      responses:
        200:
          description: '[OK] A list of 1 or more instruments.'
          schema:
            $ref: '#/definitions/InstrumentsResponseModel'
        400:
          description: '[Bad Request] The request is not valid. See response body
            for more detail.'
          schema:
            $ref: '#/definitions/ErrorMessageModel'
        401:
          description: '[Unauthorized] Authorization has been denied for this request.'
          schema:
            $ref: '#/definitions/ErrorMessageModel'
      security:
      - oauth2:
        - read
      x-throttling-tier: Unlimited
      x-auth-type: Application & Application User
      x-scope: read
  /instruments/{id}:
    get:
      tags:
      - Instruments
      summary: Gets instrument information for the specific id
      description: Multiple instruments can be retrieved if separated by comma, for
        example to get the instruments from the positions.
      operationId: Instruments_GetInstrument
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: id
        in: path
        description: Ids of the equity to retrieve. If there are multiple ids, seperate
          them by comma's.
        required: true
        type: string
      - name: includeTickSizes
        in: query
        description: When set to true, the response will include a table with the
          Ticksizes for the instrument, default = false
        required: false
        type: boolean
      - name: accountNumber
        in: query
        description: Mandatory Account Number
        required: true
        type: string
      responses:
        200:
          description: '[OK] The instrument information is successfully retrieved.'
          schema:
            $ref: '#/definitions/InstrumentsResponseModel'
        400:
          description: '[Bad Request] The request is not valid. See response body
            for more detail.'
          schema:
            $ref: '#/definitions/ErrorMessageModel'
        401:
          description: '[Unauthorized] Authorization has been denied for this request.'
          schema:
            $ref: '#/definitions/ErrorMessageModel'
        404:
          description: '[NotFound] The instrument is not found.'
          schema:
            $ref: '#/definitions/ErrorMessageModel'
      security:
      - oauth2:
        - read
      x-throttling-tier: Unlimited
      x-auth-type: Application & Application User
      x-scope: read
  /instruments/{id}/kid:
    get:
      tags:
      - Instruments
      summary: Gets KID document information for an instrument
      description: Use this for instruments which have the isKidApplicable flag set
        to true. This endpoint searches for documentation. Still, it might be the
        case there is no documentation for a specific instrument, in the language
        of the customer. It can also be the case there are multiple documents for
        a certain instrument.
      operationId: Instruments_SearchKidDocument
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: id
        in: path
        description: Id of the instrument.
        required: true
        type: string
      - name: accountNumber
        in: query
        description: Mandatory Account Number
        required: true
        type: string
      responses:
        200:
          description: '[OK] The instrument information is successfully retrieved.'
          schema:
            $ref: '#/definitions/KidResponseModel'
        400:
          description: '[Bad Request] The request is not valid. See response body
            for more detail.'
          schema:
            $ref: '#/definitions/ErrorMessageModel'
        401:
          description: '[Unauthorized] Authorization has been denied for this request.'
          schema:
            $ref: '#/definitions/ErrorMessageModel'
        404:
          description: '[NotFound] The instrument or KID document is not found.'
          schema:
            $ref: '#/definitions/ErrorMessageModel'
      security:
      - oauth2:
        - write
      x-throttling-tier: Unlimited
      x-auth-type: Application & Application User
      x-scope: write
  /instruments/{id}/kid/{kidId}:
    get:
      tags:
      - Instruments
      summary: Get KID document
      description: The document is a PDF file.
      operationId: Instruments_ReadKidDocument
      consumes: []
      produces:
      - attachment/PDF
      parameters:
      - name: id
        in: path
        description: Id of the equity to retrieve.
        required: true
        type: string
      - name: kidId
        in: path
        description: Id of the Kid document.
        required: true
        type: string
      - name: accountNumber
        in: query
        description: Mandatory Account Number
        required: true
        type: string
      responses:
        200:
          description: '[OK] The instrument information is successfully retrieved.'
          schema:
            format: byte
            type: string
        400:
          description: '[Bad Request] The request is not valid. See response body
            for more detail.'
          schema:
            $ref: '#/definitions/ErrorMessageModel'
        401:
          description: '[Unauthorized] Authorization has been denied for this request.'
          schema:
            $ref: '#/definitions/ErrorMessageModel'
        404:
          description: '[NotFound] The instrument or KID document is not found.'
          schema:
            $ref: '#/definitions/ErrorMessageModel'
      security:
      - oauth2:
        - write
      x-throttling-tier: Unlimited
      x-auth-type: Application & Application User
      x-scope: write
  /instruments/derivatives:
    get:
      tags:
      - Instruments
      summary: Gets the series for a derivatives class (options/futures)
      description: This endpoint can be used to get an option sheet.
      operationId: Instruments_GetDerivatives
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: accountNumber
        in: query
        description: Mandatory Account Number
        required: true
        type: string
      - name: symbol
        in: query
        description: Selection on symbol. rnCannot be used in combination with 'UnderlyingInstrumentId'.
        required: false
        type: string
      - name: underlyingInstrumentId
        in: query
        description: Selection on the ID of the underlying equity.rnCannot be used
          in combination with 'symbol'.
        required: false
        type: string
      - name: marketIdentificationCode
        in: query
        description: Can be used in combination with symbol to specify the market.
        required: false
        type: string
      - name: currency
        in: query
        description: Can be used in combination with symbol to specify the currency.
        required: false
        type: string
      - name: range
        in: query
        description: Paging parameter to retrieve a subset of the complete collection.
          Format is &lt;offset&gt;-&lt;limit&gt;. rnBoth values are an offset from
          the first entry of the complete collection. The first entry has offset '0'.rn(e.g.
          12-21)
        required: false
        type: string
        pattern: '[0-9]+-[0-9]*'
      responses:
        200:
          description: '[OK] A list of derivative series information.'
          schema:
            $ref: '#/definitions/DerivativesResponseModel'
        400:
          description: '[Bad Request] The request is not valid. See response body
            for more detail.'
          schema:
            $ref: '#/definitions/ErrorMessageModel'
        401:
          description: '[Unauthorized] Authorization has been denied for this request.'
          schema:
            $ref: '#/definitions/ErrorMessageModel'
      security:
      - oauth2:
        - read
      x-throttling-tier: Unlimited
      x-auth-type: Application & Application User
      x-scope: read
  /news:
    get:
      tags:
      - News
      summary: Returns news for the specified selectionrnOnly the first 250 news messages
        for the selection in the news history are available.
      operationId: News_GetNews
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: accountNumber
        in: query
        description: Mandatory Account Number
        required: true
        type: string
      - name: fromDate
        in: query
        description: Optional start date, if left out, fromdate will be today. If
          no instrument ids are supplied, only dates from thernlast month are accepted,
          otherwise only dates from the last week are accepted.
        required: false
        type: string
        format: date-time
      - name: toDate
        in: query
        description: Optional end date, do not combine with instruments.
        required: false
        type: string
        format: date-time
      - name: instrumentIds
        in: query
        description: Optional ids of the instruments to retrieve.rnIf there are multiple
          ids, seperate them by comma's.
        required: false
        type: string
      - name: range
        in: query
        description: Paging parameter to retrieve a subset of the complete collection.
          Format is &lt;offset&gt;-&lt;limit&gt;. rnBoth values are an offset from
          the first entry of the complete collection. The first entry has offset '0'.rn(e.g.
          12-21)
        required: false
        type: string
        pattern: '[0-9]+-[0-9]*'
      responses:
        200:
          description: '[OK] A list of the news messages.'
          schema:
            $ref: '#/definitions/NewsResponseModel'
        400:
          description: '[Bad Request] The request is not valid. See response body
            for more detail.'
          schema:
            $ref: '#/definitions/ErrorMessageModel'
        401:
          description: '[Unauthorized] Authorization has been denied for this request.'
          schema:
            $ref: '#/definitions/ErrorMessageModel'
        404:
          description: '[NotFound] The account is not found.'
          schema:
            $ref: '#/definitions/ErrorMessageModel'
      security:
      - oauth2:
        - news
      x-throttling-tier: Unlimited
      x-auth-type: Application & Application User
      x-scope: news
  /accounts/{accountNumber}/orders:
    get:
      tags:
      - Orders
      summary: Gets all active/recent orders of an account
      description: The response contains the active, cancelled and recent orders.
        If there is no order, the collection will be empty.
      operationId: Orders_GetOrders
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: accountNumber
        in: path
        description: The account number.
        required: true
        type: string
      - name: range
        in: query
        description: Paging parameter to retrieve a subset of the complete collection.
          Format is &lt;offset&gt;-&lt;limit&gt;. rnBoth values are an offset from
          the first entry of the complete collection. The first entry has offset '0'.rn(e.g.
          12-21)
        required: false
        type: string
        pattern: '[0-9]+-[0-9]*'
      - name: status
        in: query
        description: '''all'' will select all the orders. Other possible values are
          ''open'', ''executed'' and ''canceled''.'
        required: false
        type: string
        pattern: ^all$|^open$|^executed$|^canceled$
      responses:
        200:
          description: '[OK] A list of the orders.'
          schema:
            $ref: '#/definitions/OrdersResponse'
        400:
          description: '[Bad Request] The request is not valid. See response body
            for more detail.'
          schema:
            $ref: '#/definitions/ErrorMessageModel'
        401:
          description: '[Unauthorized] Authorization has been denied for this request.'
          schema:
            $ref: '#/definitions/ErrorMessageModel'
      security:
      - oauth2:
        - read
      x-throttling-tier: Unlimited
      x-auth-type: Application & Application User
      x-scope: read
    post:
      tags:
      - Orders
      summary: Register an order to sent to the market
      description: 'This order will be sent to the market and executed according to
        the specifications. Something to be aware of: the response of this call might
        arrive after the order event from the realtime feed.'
      operationId: Orders_RegisterOrder
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: accountNumber
        in: path
        description: An account number to register the order.
        required: true
        type: string
      - name: newOrder
        in: body
        description: Specifications to be used for the order.
        required: true
        schema:
          $ref: '#/definitions/NewOrderModel'
      responses:
        201:
          description: '[Created] Order is successfully registered.'
          schema:
            $ref: '#/definitions/OrderResponse'
        400:
          description: '[Bad Request] The request is not valid. See response body
            for more detail.'
          schema:
            $ref: '#/definitions/ErrorMessageModel'
        401:
          description: '[Unauthorized] Authorization has been denied for this request.'
          schema:
            $ref: '#/definitions/ErrorMessageModel'
        422:
          description: '[Unprocessable Entity] The request is valid but the order
            can not be validated. See response body for more detail.'
          schema:
            $ref: '#/definitions/ErrorMessageModel'
      security:
      - oauth2:
        - write
      x-throttling-tier: Unlimited
      x-auth-type: Application & Application User
      x-scope: write
  /accounts/{accountNumber}/orders/history:
    get:
      tags:
      - Orders
      summary: Gets all the historical orders of an account
      description: The response contains the historical orders of the requested month.
        If there is no order, the collection will be empty.
      operationId: Orders_GetHistoricalOrders
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: accountNumber
        in: path
        description: The account number.
        required: true
        type: string
      - name: range
        in: query
        description: Paging parameter to retrieve a subset of the complete collection.
          Format is &lt;offset&gt;-&lt;limit&gt;. rnBoth values are an offset from
          the first entry of the complete collection. The first entry has offset '0'.rn(e.g.
          12-21)
        required: false
        type: string
        pattern: '[0-9]+-[0-9]*'
      - name: year
        in: query
        description: The year for which the historical orders should be retrieved
        required: true
        type: integer
        format: int64
      - name: month
        in: query
        description: The month for which the historical orders should be retrieved
        required: true
        type: integer
        format: int64
      responses:
        200:
          description: '[OK] A list of the orders.'
          schema:
            $ref: '#/definitions/OrdersResponse'
        400:
          description: '[Bad Request] The request is not valid. See response body
            for more detail.'
          schema:
            $ref: '#/definitions/ErrorMessageModel'
        401:
          description: '[Unauthorized] Authorization has been denied for this request.'
          schema:
            $ref: '#/definitions/ErrorMessageModel'
      security:
      - oauth2:
        - read
      x-throttling-tier: Unlimited
      x-auth-type: Application & Application User
      x-scope: read
  /accounts/{AccountNumber}/orders/{Number}:
    get:
      tags:
      - Orders
      summary: Gets a specific order for an account
      description: If the order has multiple legs, multiple order objects are returned.
      operationId: Orders_GetOrder
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: number
        in: query
        required: true
        type: string
      - name: number
        in: query
        required: true
        type: string
      - name: ordersQueryParams.accountNumber
        in: query
        description: Mandatory Account Number
        required: true
        type: string
      - name: ordersQueryParams.number
        in: query
        description: Mandatory Order number
        required: true
        type: string
      responses:
        200:
          description: '[OK] The order is successfully retrieved.'
          schema:
            $ref: '#/definitions/OrderResponse'
        400:
          description: '[Bad Request] The request is not valid. See response body
            for more detail.'
          schema:
            $ref: '#/definitions/ErrorMessageModel'
        401:
          description: '[Unauthorized] Authorization has been denied for this request.'
          schema:
            $ref: '#/definitions/ErrorMessageModel'
        404:
          description: '[NotFound] The order is not found.'
          schema:
            $ref: '#/definitions/ErrorMessageModel'
      security:
      - oauth2:
        - read
      x-throttling-tier: Unlimited
      x-auth-type: Application & Application User
      x-scope: read
  /accounts/{accountNumber}/orders/{number}:
    delete:
      tags:
      - Orders
      summary: Requests to cancel an order
      description: Cancellation is possible only if the order has not already been
        executed.
      operationId: Orders_CancelOrder
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: accountNumber
        in: path
        description: The account number used to register the order.
        required: true
        type: string
      - name: number
        in: path
        description: The order number for this account.
        required: true
        type: integer
        format: int64
      responses:
        200:
          description: '[OK] The cancellation request is successfully created.'
          schema:
            $ref: '#/definitions/OrderResponse'
        400:
          description: '[Bad Request] The request is not valid. See response body
            for more detail.'
          schema:
            $ref: '#/definitions/ErrorMessageModel'
        401:
          description: '[Unauthorized] Authorization has been denied for this request.'
          schema:
            $ref: '#/definitions/ErrorMessageModel'
        422:
          description: '[Unprocessable Entity] The request is valid but the order
            can not be validated. See response body for more detail.'
          schema:
            $ref: '#/definitions/ErrorMessageModel'
      security:
      - oauth2:
        - write
      x-throttling-tier: Unlimited
      x-auth-type: Application & Application User
      x-scope: write
    patch:
      tags:
      - Orders
      summary: Modifies an already existing order
      description: First, validate the modification
      operationId: Orders_ModifyOrder
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: accountNumber
        in: path
        description: An account number.
        required: true
        type: string
      - name: number
        in: path
        description: The order number.
        required: true
        type: integer
        format: int64
      - name: modifiedOrder
        in: body
        description: Modifications to be used for the order.
        required: true
        schema:
          $ref: '#/definitions/ModifyOrderModel'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/OrderResponse'
        400:
          description: '[Bad Request] The request is not valid. See response body
            for more detail.'
          schema:
            $ref: '#/definitions/ErrorMessageModel'
        401:
          description: '[Unauthorized] Authorization has been denied for this request.'
          schema:
            $ref: '#/definitions/ErrorMessageModel'
      security:
      - oauth2:
        - write
      x-throttling-tier: Unlimited
      x-auth-type: Application & Application User
      x-scope: write
  /accounts/{accountNumber}/orders/{number}/preview:
    post:
      tags:
      - Orders
      summary: Validates the modification of an already existing order
      description: This allows you to validate an order modification without sending
        it to the market. The order will not be created.rnThe response will contain
        information about if the order can be processed.rnIt also might includes warnings
        to show to the customer. And Confirmations, which are warnings to be approved
        by the customer, before placing the order modification.
      operationId: Orders_PreviewModifyOrder
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: accountNumber
        in: path
        description: An account number.
        required: true
        type: string
      - name: number
        in: path
        description: The order number.
        required: true
        type: integer
        format: int64
      - name: modifiedOrder
        in: body
        description: Modifications to be used for the order.
        required: true
        schema:
          $ref: '#/definitions/ModifyOrderModel'
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/PreviewOrderResponse'
        400:
          description: '[Bad Request] The request is not valid. See response body
            for more detail.'
          schema:
            $ref: '#/definitions/ErrorMessageModel'
        401:
          description: '[Unauthorized] Authorization has been denied for this request.'
          schema:
            $ref: '#/definitions/ErrorMessageModel'
      security:
      - oauth2:
        - write
      x-throttling-tier: Unlimited
      x-auth-type: Application & Application User
      x-scope: write
  /accounts/{accountNumber}/orders/preview:
    post:
      tags:
      - Orders
      summary: Previews an order
      description: This allows you to validate an order without sending it to the
        market. The order will not be created. The response will contain information
        about if the order can be processed.rnIt also includes warnings to show to
        the customer. And Confirmations, which are warnings to be approved by the
        customer, before placing the order.
      operationId: Orders_PreviewOrder
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: accountNumber
        in: path
        description: The account number to register the order.
        required: true
        type: string
      - name: newOrder
        in: body
        description: Specifications to be used for the order.
        required: true
        schema:
          $ref: '#/definitions/NewOrderModel'
      responses:
        200:
          description: '[OK] The preview is successful. For more information about
            the order, check the response.'
          schema:
            $ref: '#/definitions/PreviewOrderResponse'
        400:
          description: '[Bad Request] The request is not valid. See response body
            for more detail.'
          schema:
            $ref: '#/definitions/ErrorMessageModel'
        401:
          description: '[Unauthorized] Authorization has been denied for this request.'
          schema:
            $ref: '#/definitions/ErrorMessageModel'
      security:
      - oauth2:
        - write
      x-throttling-tier: Unlimited
      x-auth-type: Application & Application User
      x-scope: write
  /accounts/{accountNumber}/orders/costs:
    post:
      tags:
      - Orders
      summary: Previews the costs for an order
      description: This allows you to check costs for an order without sending it
        to the market.
      operationId: Orders_PreviewOrderCosts
      consumes:
      - application/json
      - text/json
      produces:
      - application/json
      - text/json
      parameters:
      - name: accountNumber
        in: path
        description: The account number to register the order.
        required: true
        type: string
      - name: newOrder
        in: body
        description: Specifications to be used for the order.
        required: true
        schema:
          $ref: '#/definitions/NewOrderModel'
      responses:
        200:
          description: '[OK] The order cost request is successful. For more information
            about the costs, check the response.'
          schema:
            $ref: '#/definitions/OrderCostsResponse'
        400:
          description: '[Bad Request] The request is not valid. See response body
            for more detail.'
          schema:
            $ref: '#/definitions/ErrorMessageModel'
        401:
          description: '[Unauthorized] Authorization has been denied for this request.'
          schema:
            $ref: '#/definitions/ErrorMessageModel'
        422:
          description: '[Unprocessable Entity] The request is valid but the order
            can not be validated. See response body for more detail.'
          schema:
            $ref: '#/definitions/ErrorMessageModel'
      security:
      - oauth2:
        - write
      x-throttling-tier: Unlimited
      x-auth-type: Application & Application User
      x-scope: write
  /accounts/{accountNumber}/performances:
    get:
      tags:
      - Performances
      summary: Gets the financial performance information for an account.
      description: Yearly performance.
      operationId: Performances_GetPerformances
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: accountNumber
        in: path
        description: The account number.
        required: true
        type: string
      responses:
        200:
          description: '[OK] The performance information is successfully retrieved.'
          schema:
            $ref: '#/definitions/PerformancesResponse'
        400:
          description: '[Bad Request] The request is not valid. See response body
            for more detail.'
          schema:
            $ref: '#/definitions/ErrorMessageModel'
        401:
          description: '[Unauthorized] Authorization has been denied for this request.'
          schema:
            $ref: '#/definitions/ErrorMessageModel'
        404:
          description: '[NotFound] The account is not found.'
          schema:
            $ref: '#/definitions/ErrorMessageModel'
      security:
      - oauth2:
        - read
      x-throttling-tier: Unlimited
      x-auth-type: Application & Application User
      x-scope: read
  /accounts/{accountNumber}/performances/{year}:
    get:
      tags:
      - Performances
      summary: Gets the financial performance information for an account, per year.
      description: Only applicable for the years the account was active.
      operationId: Performances_GetPerformances
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: year
        in: path
        description: The year for the performance information.
        required: true
        type: integer
        format: int32
      - name: accountNumber
        in: path
        description: The account number.
        required: true
        type: string
      - name: onPosition
        in: query
        description: Performances can be calculated on position level or on instrument
          level. When 'onPosition' set to true,rnthe performance of all individual
          instruments will be reported. If set to false, the performance of rnderivative
          instruments is included in the performance of the underlying instrument.
        required: false
        type: boolean
      responses:
        200:
          description: '[OK] The performance information is successfully retrieved.'
          schema:
            $ref: '#/definitions/PerformancesResponse'
        400:
          description: '[Bad Request] The request is not valid. See response body
            for more detail.'
          schema:
            $ref: '#/definitions/ErrorMessageModel'
        401:
          description: '[Unauthorized] Authorization has been denied for this request.'
          schema:
            $ref: '#/definitions/ErrorMessageModel'
        404:
          description: '[NotFound] The account is not found.'
          schema:
            $ref: '#/definitions/ErrorMessageModel'
      security:
      - oauth2:
        - read
      x-throttling-tier: Unlimited
      x-auth-type: Application & Application User
      x-scope: read
  /accounts/{accountNumber}/positions:
    get:
      tags:
      - Positions
      summary: Gets all the positions of an account
      description: If there is no position, the collection will be empty.
      operationId: Positions_GetPositions
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: accountNumber
        in: path
        description: An account number.
        required: true
        type: string
      - name: range
        in: query
        description: Paging parameter to retrieve a subset of the complete collection.
          Format is &lt;offset&gt;-&lt;limit&gt;. rnBoth values are an offset from
          the first entry of the complete collection. The first entry has offset '0'.rn(e.g.
          12-21)
        required: false
        type: string
        pattern: '[0-9]+-[0-9]*'
      responses:
        200:
          description: '[OK] A list of the positions.'
          schema:
            $ref: '#/definitions/PositionsResponse'
        400:
          description: '[Bad Request] The request is not valid. See response body
            for more detail.'
          schema:
            $ref: '#/definitions/ErrorMessageModel'
        401:
          description: '[Unauthorized] Authorization has been denied for this request.'
          schema:
            $ref: '#/definitions/ErrorMessageModel'
      security:
      - oauth2:
        - read
      x-throttling-tier: Unlimited
      x-auth-type: Application & Application User
      x-scope: read
  /accounts/{accountNumber}/positions/{instrumentId}:
    get:
      tags:
      - Positions
      summary: Gets the specific position for an account
      description: Positions are identified by the instrument.
      operationId: Positions_GetPosition
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: accountNumber
        in: path
        description: An account number.
        required: true
        type: string
      - name: instrumentId
        in: path
        description: The id of the requested instrument.
        required: true
        type: string
      responses:
        200:
          description: '[OK] The position is successfully retrieved.'
          schema:
            $ref: '#/definitions/PositionResponse'
        401:
          description: '[Unauthorized] Authorization has been denied for this request.'
          schema:
            $ref: '#/definitions/ErrorMessageModel'
        404:
          description: '[NotFound] The position is not found.'
          schema:
            $ref: '#/definitions/ErrorMessageModel'
        400:
          description: '[Bad Request] The request is not valid. See response body
            for more detail.'
          schema:
            $ref: '#/definitions/ErrorMessageModel'
      security:
      - oauth2:
        - read
      x-throttling-tier: Unlimited
      x-auth-type: Application & Application User
      x-scope: read
  /quotes:
    get:
      tags:
      - Quotes
      summary: Returns current quotes and quote subscription (realtime/delayed) for
        one or more instruments
      operationId: Quotes_GetQuotes
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: accountNumber
        in: query
        description: Mandatory Account Number
        required: true
        type: string
      - name: instrumentIds
        in: query
        description: Ids of the instruments to retrieve. If there are multiple ids,
          seperate them by comma's.
        required: true
        type: string
      - name: level
        in: query
        description: The maximal quote level returned
        required: false
        type: string
        enum:
        - none
        - tradesOnly
        - tradesBidAsk
        - fullBook
      - name: range
        in: query
        description: Paging parameter to retrieve a subset of the complete collection.
          Format is &lt;offset&gt;-&lt;limit&gt;. rnBoth values are an offset from
          the first entry of the complete collection. The first entry has offset '0'.rn(e.g.
          12-21)
        required: false
        type: string
        pattern: '[0-9]+-[0-9]*'
      responses:
        200:
          description: '[OK] The quote information is successfully retrieved.'
          schema:
            $ref: '#/definitions/QuotesResponseModel'
        400:
          description: '[Bad Request] The request is not valid. See response body
            for more detail.'
          schema:
            $ref: '#/definitions/ErrorMessageModel'
        401:
          description: '[Unauthorized] Authorization has been denied for this request.'
          schema:
            $ref: '#/definitions/ErrorMessageModel'
        404:
          description: '[NotFound] The account is not found.'
          schema:
            $ref: '#/definitions/ErrorMessageModel'
      security:
      - oauth2:
        - quotes
      x-throttling-tier: Unlimited
      x-auth-type: Application & Application User
      x-scope: quotes
  /quotes/{instrumentId}/history:
    get:
      tags:
      - Quotes
      summary: Returns historical quotes for one instrument over a period
      description: The different intervals each have different maximum period lengths,
        ranging from five days for one minute, to 10 years for one week.
      operationId: Quotes_GetHistoricalQuotes
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: instrumentId
        in: path
        description: The Id of the instrument for which the historical quotes will
          be retrieved
        required: true
        type: string
      - name: accountNumber
        in: query
        description: Mandatory Account Number
        required: true
        type: string
      - name: fromDateTime
        in: query
        description: The start moment of historical quotes
        required: true
        type: string
        format: date-time
      - name: toDateTime
        in: query
        description: The end moment of historical quotes, defaulting to the Current
          date and time according to UTC time standard
        required: false
        type: string
        format: date-time
      - name: interval
        in: query
        description: Interval for historical quotesrnDepending on the interval, the
          historical quotes collection returned will be limited to a certain period:rnMax.
          number of days for one minute interval is 5.rnMax. number of days for five
          minute interval is 20.rnMax. number of days for ten minute interval is 20.rnMax.
          number of days for fifteen minute interval is 60.rnMax. number of days for
          one hour interval is 120.rnMax. number of years for one day interval is
          10.rnMax. number of years for one week interval is 10.
        required: true
        type: string
        enum:
        - oneMinute
        - fiveMinutes
        - tenMinutes
        - fifteenMinutes
        - oneHour
        - oneDay
        - oneWeek
        - oneMonth
      responses:
        200:
          description: '[OK] The historical quote information is successfully retrieved.'
          schema:
            $ref: '#/definitions/HistoricalQuotesResponseModel'
        400:
          description: '[Bad Request] The request is not valid. See response body
            for more detail.'
          schema:
            $ref: '#/definitions/ErrorMessageModel'
        401:
          description: '[Unauthorized] Authorization has been denied for this request.'
          schema:
            $ref: '#/definitions/ErrorMessageModel'
        404:
          description: '[NotFound] The account or instrument is not found.'
          schema:
            $ref: '#/definitions/ErrorMessageModel'
      security:
      - oauth2:
        - quotes
      x-throttling-tier: Unlimited
      x-auth-type: Application & Application User
      x-scope: quotes
  /sessions:
    get:
      tags:
      - Sessions
      summary: Gets the current active sessions
      description: Only internal use.
      operationId: Sessions_GetSessions
      consumes: []
      produces:
      - application/json
      - text/json
      responses:
        200:
          description: '[OK] The sessions are returned.'
          schema:
            $ref: '#/definitions/SessionsResponse'
        401:
          description: '[Unauthorized] Authorization has been denied for this request.'
          schema:
            $ref: '#/definitions/ErrorMessageModel'
      security:
      - oauth2:
        - internal
      x-throttling-tier: Unlimited
      x-auth-type: Application & Application User
      x-scope: internal
    delete:
      tags:
      - Sessions
      summary: Ends the current active session
      description: Sessions must be closed, because there is a limit on the active
        sessions.
      operationId: Sessions_EndSession
      consumes: []
      produces:
      - application/json
      - text/json
      responses:
        200:
          description: '[OK] The session is ended.'
          schema:
            $ref: '#/definitions/LogoffResponse'
        401:
          description: '[Unauthorized] Authorization has been denied for this request.'
          schema:
            $ref: '#/definitions/ErrorMessageModel'
      security:
      - oauth2:
        - read
      x-throttling-tier: Unlimited
      x-auth-type: Application & Application User
      x-scope: read
  /accounts/{accountNumber}/settings:
    get:
      tags:
      - Settings
      summary: Obtains the product settings for the specified account
      description: If the settings return an empty list, trading is not allowed. This
        can be the case for a savings account, or if the account is not fully activated
        yet.
      operationId: Settings_GetSettings
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: accountNumber
        in: path
        description: The account number.
        required: true
        type: string
      responses:
        200:
          description: '[OK] A list of the settings.'
          schema:
            $ref: '#/definitions/SettingsResponse'
        400:
          description: '[Bad Request] The request is not valid. See response body
            for more detail.'
          schema:
            $ref: '#/definitions/ErrorMessageModel'
        401:
          description: '[Unauthorized] Authorization has been denied for this request.'
          schema:
            $ref: '#/definitions/ErrorMessageModel'
        404:
          description: '[NotFound] The account is not found.'
          schema:
            $ref: '#/definitions/ErrorMessageModel'
      security:
      - oauth2:
        - read
      x-throttling-tier: Unlimited
      x-auth-type: Application & Application User
      x-scope: read
  /accounts/{accountNumber}/transactions:
    get:
      tags:
      - Transactions
      summary: Gets all the transactions for an account
      description: The response not only includes the executed orders, but also withdrawals
        and deposits.
      operationId: Transactions_GetTransactions
      consumes: []
      produces:
      - application/json
      - text/json
      parameters:
      - name: accountNumber
        in: path
        description: An account number
        required: true
        type: string
      - name: range
        in: query
        description: Paging parameter to retrieve a subset of the complete collection.
          Format is &lt;offset&gt;-&lt;limit&gt;. rnBoth values are an offset from
          the first entry of the complete collection. The first entry has offset '0'.rn(e.g.
          12-21)
        required: false
        type: string
        pattern: '[0-9]+-[0-9]*'
      - name: fromDate
        in: query
        description: Date from which to filter. Format YYYY-MM-DD
        required: false
        type: string
        format: date-time
      - name: toDate
        in: query
        description: Date to which to filter. Format YYYY-MM-DD
        required: false
        type: string
        format: date-time
      - name: mutationGroup
        in: query
        description: 'Mutation groups (with enums)<br />rnBuyAndSell includes : <br
          />rn  AssignmentCall<br />rn  AssignmentPut<br />rn  ExcerciseCall<br />rn  ExcercisePut<br
          />rn  Buy<br />rn  OpeningBuy  <br />rn  OpeningBuyFutures<br />rn  Sell<br
          />rn  OpeningSell<br />rn  OpeningSellFutures<br />rn  ClosingBuy<br />rn  ClosingBuyFutures<br
          />rn  ClosingSell<br />rn  ClosingSellFutures<br />rnCost includes : <br
          />rn  SettlementCosts<br />rnCouponPayment includes : <br />rn  SecuritiesLendingCouponPayment<br
          />rn  CouponPayment<br />rnDividendPayment includes : <br />rn  SecuritiesLendingDividendPayment<br
          />rn  DividendPayment<br />rnInterestPayment includes : <br />rn  CreditInterest<br
          />rn  DebitInterest<br />rnMoneyTransfer includes : <br />rn  ExternalTransfer<br
          />rn  InternalTransfer<br />rn  OnlineMoneyTransfer<br />rn  Regulation<br
          />rnPositionMutation includes : <br />rn  Buy<br />rn  Sell<br />'
        required: false
        type: string
        enum:
        - buyAndSell
        - cost
        - couponPayment
        - dividendPayment
        - interestPayment
        - moneyTransfer
        - positionMutation
      - name: currency
        in: query
        description: 3-letter currency code (ISO 4217)
        required: false
        type: string
        pattern: ^[a-zA-Z]{3}$
      responses:
        200:
          description: '[OK] A list of the transactions.'
          schema:
            $ref: '#/definitions/TransactionsResponse'
        400:
          description: '[Bad Request] The request is not valid. See response body
            for more detail.'
          schema:
            $ref: '#/definitions/ErrorMessageModel'
        401:
          description: '[Unauthorized] Authorization has been denied for this request.'
          schema:
            $ref: '#/definitions/ErrorMessageModel'
      security:
      - oauth2:
        - read
      x-throttling-tier: Unlimited
      x-auth-type: Application & Application User
      x-scope: read
  /version:
    get:
      tags:
      - Version
      summary: Gets the current version and the last date of build.
      operationId: Version_GetVersion
      consumes: []
      produces:
      - application/json
      - text/json
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/VersionModel'
      security:
      - oauth2:
        - ""
      x-throttling-tier: Unlimited
      x-auth-type: None
      x-scope: ""
schemes:
- http
definitions: !php/object "O:8:\"stdClass\":97:{s:16:\"AccountsResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:21:\"Accounts
  API response\";s:8:\"required\";a:2:{i:0;s:18:\"accountsCollection\";i:1;s:8:\"metadata\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:18:\"accountsCollection\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/AccountsCollectionModel\";s:11:\"description\";s:40:\"Collection
  of zero, one or more accounts\";}s:8:\"metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/MetadataModel\";s:11:\"description\";s:22:\"API
  response meta data\";}}}s:23:\"AccountsCollectionModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Collection
  of zero, one or more accounts\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"accounts\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Collection
  of zero, one or more accounts\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/AccountModel\";}}}}s:13:\"MetadataModel\";O:8:\"stdClass\":4:{s:11:\"description\";s:22:\"API
  response meta data\";s:8:\"required\";a:2:{i:0;s:7:\"version\";i:1;s:9:\"timestamp\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"version\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Version
  information\";s:4:\"type\";s:6:\"string\";}s:9:\"timestamp\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:37:\"Date
  and time the response is created\";s:4:\"type\";s:6:\"string\";}}}s:12:\"AccountModel\";O:8:\"stdClass\":4:{s:11:\"description\";s:13:\"Account
  model\";s:8:\"required\";a:4:{i:0;s:4:\"name\";i:1;s:6:\"number\";i:2;s:4:\"type\";i:3;s:10:\"isReadOnly\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  name of the account\";s:4:\"type\";s:6:\"string\";}s:4:\"iban\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  IBAN of the account\";s:4:\"type\";s:6:\"string\";}s:6:\"number\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Accountnumber\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Type
  of account\";s:4:\"enum\";a:8:{i:0;s:7:\"savings\";i:1;s:13:\"binckComplete\";i:2;s:9:\"fundCoach\";i:3;s:17:\"planEpargneAction\";i:4;s:20:\"planEpargneActionPme\";i:5;s:15:\"assetManagement\";i:6;s:13:\"savingsBroker\";i:7;s:21:\"assetManagementSelect\";}s:4:\"type\";s:6:\"string\";}s:10:\"isReadOnly\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Scope
  for the account\";s:4:\"type\";s:7:\"boolean\";}}}s:17:\"ErrorMessageModel\";O:8:\"stdClass\":4:{s:11:\"description\";s:19:\"Error
  message model\";s:8:\"required\";a:4:{i:0;s:16:\"developerMessage\";i:1;s:14:\"endUserMessage\";i:2;s:9:\"errorCode\";i:3;s:7:\"errorId\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:16:\"developerMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"The
  message that should be used by the developer\";s:4:\"type\";s:6:\"string\";}s:14:\"endUserMessage\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"The
  message that can be shown to the end user\";s:4:\"type\";s:6:\"string\";}s:9:\"errorCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"The
  error code\";s:4:\"type\";s:6:\"string\";}s:7:\"errorId\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"The
  id of the error\";s:4:\"enum\";a:23:{i:0;s:7:\"initial\";i:1;s:7:\"unknown\";i:2;s:8:\"notFound\";i:3;s:15:\"conversionError\";i:4;s:15:\"functionalError\";i:5;s:15:\"validationError\";i:6;s:28:\"orderCancellationNotPossible\";i:7;s:24:\"orderModificationRefused\";i:8;s:13:\"orderNotValid\";i:9;s:12:\"logonFailure\";i:10;s:13:\"mediumBlocked\";i:11;s:15:\"noAuthorization\";i:12;s:26:\"noMatchingAccountInfoFound\";i:13;s:25:\"sessionExpiredMaxDuration\";i:14;s:27:\"sessionExpiredMaxInactivity\";i:15;s:14:\"sessionInvalid\";i:16;s:22:\"faildToCreateAmSession\";i:17;s:22:\"orderNumberIsIncorrect\";i:18;s:11:\"hashIdError\";i:19;s:17:\"productNotEnabled\";i:20;s:26:\"sessionMaxActivityExceeded\";i:21;s:15:\"tooManyRequests\";i:22;s:14:\"notImplemented\";}s:4:\"type\";s:6:\"string\";}}}s:16:\"BalancesResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:21:\"Balances
  API response\";s:8:\"required\";a:2:{i:0;s:18:\"balancesCollection\";i:1;s:8:\"metadata\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:18:\"balancesCollection\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/BalancesCollectionModel\";s:11:\"description\";s:40:\"Collection
  of zero, one or more balances\";}s:8:\"metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/MetadataModel\";s:11:\"description\";s:22:\"API
  response meta data\";}}}s:23:\"BalancesCollectionModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Collection
  of zero, one or more balances\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"balances\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Collection
  of zero, one or more balances\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/BalanceModel\";}}s:8:\"currency\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"The
  base currency\";s:4:\"type\";s:6:\"string\";}}}s:12:\"BalanceModel\";O:8:\"stdClass\":4:{s:11:\"description\";s:13:\"Balance
  model\";s:8:\"required\";a:3:{i:0;s:16:\"assetsTotalValue\";i:1;s:11:\"cashBalance\";i:2;s:14:\"portfolioValue\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:16:\"assetsTotalValue\";O:8:\"stdClass\":3:{s:6:\"format\";s:6:\"double\";s:11:\"description\";s:18:\"Assets
  total value\";s:4:\"type\";s:6:\"number\";}s:11:\"cashBalance\";O:8:\"stdClass\":3:{s:6:\"format\";s:6:\"double\";s:11:\"description\";s:12:\"Cash
  balance\";s:4:\"type\";s:6:\"number\";}s:14:\"portfolioValue\";O:8:\"stdClass\":3:{s:6:\"format\";s:6:\"double\";s:11:\"description\";s:15:\"Portfolio
  value\";s:4:\"type\";s:6:\"number\";}s:22:\"availableSpendingLimit\";O:8:\"stdClass\":3:{s:6:\"format\";s:6:\"double\";s:11:\"description\";s:14:\"Spending
  power\";s:4:\"type\";s:6:\"number\";}s:25:\"availableSpendingLimitSrd\";O:8:\"stdClass\":3:{s:6:\"format\";s:6:\"double\";s:11:\"description\";s:22:\"Spending
  power for SRD\";s:4:\"type\";s:6:\"number\";}}}s:23:\"AccountNumberQueryParam\";O:8:\"stdClass\":4:{s:11:\"description\";s:46:\"Parameters
  class to validate query parameters.\";s:8:\"required\";a:1:{i:0;s:13:\"accountNumber\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"accountNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Mandatory
  Account Number\";s:4:\"type\";s:6:\"string\";}}}s:20:\"PaginationQueryParam\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Pagination
  parameters\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"range\";O:8:\"stdClass\":3:{s:11:\"description\";s:228:\"Paging
  parameter to retrieve a subset of the complete collection. Format is &lt;offset&gt;-&lt;limit&gt;.
  \r\nBoth values are an offset from the first entry of the complete collection. The
  first entry has offset '0'.\r\n(e.g. 12-21)\";s:7:\"pattern\";s:13:\"[0-9]+-[0-9]*\";s:4:\"type\";s:6:\"string\";}}}s:24:\"InstrumentsResponseModel\";O:8:\"stdClass\":4:{s:11:\"description\";s:42:\"Instruments
  API response (includes paging)\";s:8:\"required\";a:3:{i:0;s:21:\"instrumentsCollection\";i:1;s:5:\"count\";i:2;s:8:\"metadata\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:21:\"instrumentsCollection\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/InstrumentsCollectionModel\";s:11:\"description\";s:43:\"Collection
  of zero, one or more instruments\";}s:6:\"paging\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/PagingModel\";s:11:\"description\";s:18:\"Paging
  information\";}s:5:\"count\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:44:\"Number
  of entries in the complete collection\";s:4:\"type\";s:7:\"integer\";}s:8:\"metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/MetadataModel\";s:11:\"description\";s:22:\"API
  response meta data\";}}}s:26:\"InstrumentsCollectionModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Collection
  of instruments\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"instruments\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Collection
  of instruments\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/InstrumentModel\";}}}}s:11:\"PagingModel\";O:8:\"stdClass\":4:{s:11:\"description\";s:39:\"Paging
  model for offset base pagination\";s:8:\"required\";a:4:{i:0;s:5:\"limit\";i:1;s:3:\"max\";i:2;s:6:\"offset\";i:3;s:7:\"refresh\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:5:\"limit\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:39:\"Offset
  of the last entry in this subset\";s:4:\"type\";s:7:\"integer\";}s:3:\"max\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:36:\"Maximum
  number of entries per subset\";s:4:\"type\";s:7:\"integer\";}s:6:\"offset\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:40:\"Offset
  of the first entry in this subset\";s:4:\"type\";s:7:\"integer\";}s:4:\"next\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"Parameter
  and value to add to the request to retrieve the next subset\";s:4:\"type\";s:6:\"string\";}s:8:\"previous\";O:8:\"stdClass\":2:{s:11:\"description\";s:73:\"Parameter
  and value to add to the request to retrieve the previous subset\";s:4:\"type\";s:6:\"string\";}s:7:\"refresh\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"Parameter
  and value to add to the request to retrieve the same subset\";s:4:\"type\";s:6:\"string\";}}}s:15:\"InstrumentModel\";O:8:\"stdClass\":4:{s:11:\"description\";s:16:\"Instrument
  model\";s:8:\"required\";a:13:{i:0;s:2:\"id\";i:1;s:4:\"name\";i:2;s:6:\"symbol\";i:3;s:4:\"type\";i:4;s:8:\"currency\";i:5;s:13:\"priceDecimals\";i:6;s:12:\"tickerSymbol\";i:7;s:15:\"isKidApplicable\";i:8;s:10:\"hasOptions\";i:9;s:10:\"hasFutures\";i:10;s:6:\"hasSrd\";i:11;s:20:\"hasLeveragedProducts\";i:12;s:21:\"hasOrderModifications\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":19:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Identification
  of the instrument\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Name
  of the instrument\";s:4:\"type\";s:6:\"string\";}s:6:\"symbol\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Symbol
  of the instrument\";s:4:\"type\";s:6:\"string\";}s:8:\"isincode\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"ISIN-code
  of the instrument\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"OptionType
  of the instrument\";s:4:\"enum\";a:26:{i:0;s:4:\"bond\";i:1;s:12:\"cashDividend\";i:2;s:11:\"certificate\";i:3;s:14:\"choiceDividend\";i:4;s:5:\"claim\";i:5;s:6:\"coupon\";i:6;s:10:\"discounter\";i:7;s:6:\"equity\";i:8;s:6:\"future\";i:9;s:11:\"futureClass\";i:10;s:5:\"index\";i:11;s:14:\"investmentFund\";i:12;s:3:\"ipo\";i:13;s:6:\"option\";i:14;s:11:\"optionClass\";i:15;s:21:\"otherLeveragedProduct\";i:16;s:7:\"speeder\";i:17;s:8:\"sprinter\";i:18;s:3:\"srd\";i:19;s:8:\"srdClass\";i:20;s:13:\"stockDividend\";i:21;s:17:\"structuredProduct\";i:22;s:7:\"tracker\";i:23;s:5:\"turbo\";i:24;s:12:\"unclassified\";i:25;s:7:\"warrant\";}s:4:\"type\";s:6:\"string\";}s:24:\"marketIdentificationCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Market
  Identification Code of the instrument\";s:4:\"type\";s:6:\"string\";}s:15:\"derivativesInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/DerivativesInfoModel\";s:11:\"description\";s:28:\"Derivative
  serie information\";}s:7:\"srdInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/SrdInfoModel\";s:11:\"description\";s:290:\"Srd
  or Srd class information:\r\nSearching for an Srd will return a class. Ordering
  can done on both this class or the underlying equity.\r\nPositions and transactions
  report the SRD class. To get information about the underlying equity, the SRD can
  be retrieved using the instruments endpoint.\";}s:8:\"bondInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/BondInfoModel\";s:11:\"description\";s:21:\"Bond
  only information\";}s:8:\"currency\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Currency
  of the instrument\";s:4:\"type\";s:6:\"string\";}s:13:\"priceDecimals\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:43:\"Number
  of decimals used to format the price\";s:4:\"type\";s:7:\"integer\";}s:12:\"tickerSymbol\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Ticker
  symbol of the instrument\";s:4:\"type\";s:6:\"string\";}s:15:\"isKidApplicable\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"Indicates
  whether KID document must be shown before placing an order\";s:4:\"type\";s:7:\"boolean\";}s:18:\"tickSizeCollection\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/TickSizesModel\";s:11:\"description\";s:54:\"Table
  containing tick sizes for minimal prize movement\";}s:10:\"hasOptions\";O:8:\"stdClass\":2:{s:11:\"description\";s:242:\"Indicates
  whether there exists at least one non-cancelled, non-expired, tradable option for
  this security, either\r\nan underlying value or an option class, with a valid listing
  (for the company/label) for which\r\nthe account is allowed to trade\";s:4:\"type\";s:7:\"boolean\";}s:10:\"hasFutures\";O:8:\"stdClass\":2:{s:11:\"description\";s:245:\"Indicates
  whether there exists at least one non-cancelled, non-expired, tradable future for
  this instrument\r\n, either an underlying value or a future class, with a valid
  listing (for the company/label) for which the account\r\nis allowed to trade.\";s:4:\"type\";s:7:\"boolean\";}s:6:\"hasSrd\";O:8:\"stdClass\":2:{s:11:\"description\";s:237:\"Indicates
  whether there exists at least one non-cancelled, non-expired, tradable srd for this
  security, either an\r\nunderlying value or an srd class, with a valid listing (for
  the company/label) for which the account\r\nis allowed to trade.\";s:4:\"type\";s:7:\"boolean\";}s:20:\"hasLeveragedProducts\";O:8:\"stdClass\":2:{s:11:\"description\";s:151:\"Indicates
  whether there exists at least one non-cancelled, non-expired, tradable, visible
  leveraged\r\nproduct for which the account is allowed to trade.\";s:4:\"type\";s:7:\"boolean\";}s:21:\"hasOrderModifications\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Indicates
  if orders for the instrument can be modified\";s:4:\"type\";s:7:\"boolean\";}}}s:20:\"DerivativesInfoModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Derivatives
  series model\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:22:\"underlyingInstrumentId\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Instrument
  Id\";s:4:\"type\";s:6:\"string\";}s:6:\"strike\";O:8:\"stdClass\":3:{s:6:\"format\";s:6:\"double\";s:11:\"description\";s:12:\"Strike
  price\";s:4:\"type\";s:6:\"number\";}s:14:\"strikeDecimals\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:42:\"Maximum
  number of decimals in strike price\";s:4:\"type\";s:7:\"integer\";}s:10:\"optionType\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Option
  type (put or call)\";s:4:\"enum\";a:2:{i:0;s:3:\"put\";i:1;s:4:\"call\";}s:4:\"type\";s:6:\"string\";}s:12:\"contractSize\";O:8:\"stdClass\":3:{s:6:\"format\";s:6:\"double\";s:11:\"description\";s:13:\"Contract
  size\";s:4:\"type\";s:6:\"number\";}s:14:\"expirationDate\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:15:\"Expiration
  date\";s:4:\"type\";s:6:\"string\";}}}s:12:\"SrdInfoModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"SRD
  information model\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:22:\"underlyingInstrumentId\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"The
  id of the equity\";s:4:\"type\";s:6:\"string\";}}}s:13:\"BondInfoModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Bond
  information\r\nIntentionally left empty\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":0:{}}s:14:\"TickSizesModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"Collection
  of TickSize steps used in the Instrument Model\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"tickSizes\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"TickSizeStep
  collection\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/TickSizeStepModel\";}}}}s:17:\"TickSizeStepModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:259:\"A
  tick size is the minimum price movement of a trading instrument.\r\nThe price movements
  of different trading instruments vary, with their tick sizes representing the minimum
  amount they can move up or down on an exchange.\r\nTable might consist of only one
  row.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"from\";O:8:\"stdClass\":3:{s:6:\"format\";s:6:\"double\";s:11:\"description\";s:23:\"From
  value for ticksize\";s:4:\"type\";s:6:\"number\";}s:4:\"size\";O:8:\"stdClass\":3:{s:6:\"format\";s:6:\"double\";s:11:\"description\";s:9:\"Tick
  size\";s:4:\"type\";s:6:\"number\";}}}s:22:\"InstrumentsQueryParams\";O:8:\"stdClass\":4:{s:11:\"description\";s:37:\"GetInstruments
  query parameters model\";s:8:\"required\";a:1:{i:0;s:13:\"accountNumber\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:13:\"accountNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Mandatory
  Account Number\";s:4:\"type\";s:6:\"string\";}s:14:\"instrumentType\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"Additional
  optional filter on instrument type. Cannot be used alone.\";s:4:\"enum\";a:26:{i:0;s:4:\"bond\";i:1;s:12:\"cashDividend\";i:2;s:11:\"certificate\";i:3;s:14:\"choiceDividend\";i:4;s:5:\"claim\";i:5;s:6:\"coupon\";i:6;s:10:\"discounter\";i:7;s:6:\"equity\";i:8;s:6:\"future\";i:9;s:11:\"futureClass\";i:10;s:5:\"index\";i:11;s:14:\"investmentFund\";i:12;s:3:\"ipo\";i:13;s:6:\"option\";i:14;s:11:\"optionClass\";i:15;s:21:\"otherLeveragedProduct\";i:16;s:7:\"speeder\";i:17;s:8:\"sprinter\";i:18;s:3:\"srd\";i:19;s:8:\"srdClass\";i:20;s:13:\"stockDividend\";i:21;s:17:\"structuredProduct\";i:22;s:7:\"tracker\";i:23;s:5:\"turbo\";i:24;s:12:\"unclassified\";i:25;s:7:\"warrant\";}s:4:\"type\";s:6:\"string\";}s:10:\"searchText\";O:8:\"stdClass\":2:{s:11:\"description\";s:90:\"Case
  insensitive search text, minimum length 2. Cannot be used in combination with 'Isin'.\";s:4:\"type\";s:6:\"string\";}s:4:\"isin\";O:8:\"stdClass\":2:{s:11:\"description\";s:71:\"Selection
  on isincode. Cannot be used in combination with 'SearchText'.\";s:4:\"type\";s:6:\"string\";}s:3:\"mic\";O:8:\"stdClass\":2:{s:11:\"description\";s:103:\"Additional
  optional selection on Market Identification Code, to be used only in combination
  with 'Isin'\";s:4:\"type\";s:6:\"string\";}}}s:16:\"KidResponseModel\";O:8:\"stdClass\":4:{s:11:\"description\";s:35:\"OpenApi
  response for KID collection\";s:8:\"required\";a:2:{i:0;s:13:\"kidCollection\";i:1;s:8:\"metadata\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"kidCollection\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/KidCollectionModel\";s:11:\"description\";s:20:\"Holds
  KID collection\";}s:8:\"metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/MetadataModel\";s:11:\"description\";s:22:\"API
  response meta data\";}}}s:18:\"KidCollectionModel\";O:8:\"stdClass\":4:{s:11:\"description\";s:29:\"Model
  contains KID collection\";s:8:\"required\";a:1:{i:0;s:4:\"kids\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"kids\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Holds
  KID collection data in name, KID id pair\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/KidInfoModel\";}}}}s:12:\"KidInfoModel\";O:8:\"stdClass\":4:{s:11:\"description\";s:18:\"Info
  model for KID\";s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:5:\"kidId\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Name
  of the document\";s:4:\"type\";s:6:\"string\";}s:5:\"kidId\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Id
  of the document\";s:4:\"type\";s:6:\"string\";}}}s:32:\"InstrumentDerivativesQueryParams\";O:8:\"stdClass\":4:{s:11:\"description\";s:37:\"GetDerivatives
  query parameters model\";s:8:\"required\";a:1:{i:0;s:13:\"accountNumber\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:13:\"accountNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Mandatory
  Account Number\";s:4:\"type\";s:6:\"string\";}s:6:\"symbol\";O:8:\"stdClass\":2:{s:11:\"description\";s:83:\"Selection
  on symbol. \r\nCannot be used in combination with 'UnderlyingInstrumentId'.\";s:4:\"type\";s:6:\"string\";}s:22:\"underlyingInstrumentId\";O:8:\"stdClass\":2:{s:11:\"description\";s:91:\"Selection
  on the ID of the underlying equity.\r\nCannot be used in combination with 'symbol'.\";s:4:\"type\";s:6:\"string\";}s:24:\"marketIdentificationCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"Can
  be used in combination with symbol to specify the market.\";s:4:\"type\";s:6:\"string\";}s:8:\"currency\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"Can
  be used in combination with symbol to specify the currency.\";s:4:\"type\";s:6:\"string\";}}}s:24:\"DerivativesResponseModel\";O:8:\"stdClass\":4:{s:11:\"description\";s:24:\"Derivatives
  API response\";s:8:\"required\";a:2:{i:0;s:5:\"count\";i:1;s:8:\"metadata\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:21:\"derivativesCollection\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/DerivativesCollectionModel\";s:11:\"description\";s:30:\"Derivative
  classes information\";}s:6:\"paging\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/PagingModel\";s:11:\"description\";s:18:\"Paging
  information\";}s:5:\"count\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:44:\"Number
  of entries in the complete collection\";s:4:\"type\";s:7:\"integer\";}s:8:\"metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/MetadataModel\";s:11:\"description\";s:22:\"API
  response meta data\";}}}s:26:\"DerivativesCollectionModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Collection
  of instruments\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"classes\";O:8:\"stdClass\":3:{s:11:\"description\";s:29:\"Derivative
  classes collection\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/DerivativeClassInfoModel\";}}}}s:24:\"DerivativeClassInfoModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:53:\"The
  model for derivatives - future ans option classes\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:22:\"underlyingInstrumentId\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Identification
  of the underlying instrument\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Name
  of the class\";s:4:\"type\";s:6:\"string\";}s:6:\"symbol\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Symbol
  of the class\";s:4:\"type\";s:6:\"string\";}s:8:\"isincode\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"ISIN
  Code of the class\";s:4:\"type\";s:6:\"string\";}s:24:\"marketIdentificationCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"ISO
  MIC of the class\";s:4:\"type\";s:6:\"string\";}s:8:\"currency\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Currency
  of the class\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Type
  of the class (option or future class)\";s:4:\"enum\";a:26:{i:0;s:4:\"bond\";i:1;s:12:\"cashDividend\";i:2;s:11:\"certificate\";i:3;s:14:\"choiceDividend\";i:4;s:5:\"claim\";i:5;s:6:\"coupon\";i:6;s:10:\"discounter\";i:7;s:6:\"equity\";i:8;s:6:\"future\";i:9;s:11:\"futureClass\";i:10;s:5:\"index\";i:11;s:14:\"investmentFund\";i:12;s:3:\"ipo\";i:13;s:6:\"option\";i:14;s:11:\"optionClass\";i:15;s:21:\"otherLeveragedProduct\";i:16;s:7:\"speeder\";i:17;s:8:\"sprinter\";i:18;s:3:\"srd\";i:19;s:8:\"srdClass\";i:20;s:13:\"stockDividend\";i:21;s:17:\"structuredProduct\";i:22;s:7:\"tracker\";i:23;s:5:\"turbo\";i:24;s:12:\"unclassified\";i:25;s:7:\"warrant\";}s:4:\"type\";s:6:\"string\";}s:12:\"contractSize\";O:8:\"stdClass\":3:{s:6:\"format\";s:6:\"double\";s:11:\"description\";s:26:\"Contract
  Size of the class\";s:4:\"type\";s:6:\"number\";}s:6:\"series\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Collection
  of series for this class\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/DerivativeSeriesInfoModel\";}}}}s:25:\"DerivativeSeriesInfoModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Derivatives
  series information\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"instrumentId\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Instrument
  Id of the serie\";s:4:\"type\";s:6:\"string\";}s:6:\"strike\";O:8:\"stdClass\":3:{s:6:\"format\";s:6:\"double\";s:11:\"description\";s:27:\"Strike
  price (options only)\";s:4:\"type\";s:6:\"number\";}s:14:\"strikeDecimals\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:11:\"description\";s:49:\"Number
  of decimals in strike price (options only)\";s:4:\"type\";s:7:\"integer\";}s:10:\"optionType\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Option
  type (put or call) (options only)\";s:4:\"enum\";a:2:{i:0;s:3:\"put\";i:1;s:4:\"call\";}s:4:\"type\";s:6:\"string\";}s:12:\"contractSize\";O:8:\"stdClass\":3:{s:6:\"format\";s:6:\"double\";s:11:\"description\";s:13:\"Contract
  size\";s:4:\"type\";s:6:\"number\";}s:14:\"expirationDate\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:15:\"Expiration
  date\";s:4:\"type\";s:6:\"string\";}}}s:22:\"NewsRequestQueryParams\";O:8:\"stdClass\":4:{s:11:\"description\";s:33:\"Query
  params for the news message\";s:8:\"required\";a:1:{i:0;s:13:\"accountNumber\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"accountNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Mandatory
  Account Number\";s:4:\"type\";s:6:\"string\";}s:8:\"fromDate\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:192:\"Optional
  start date, if left out, fromdate will be today. If no instrument ids are supplied,
  only dates from the\r\nlast month are accepted, otherwise only dates from the last
  week are accepted.\";s:4:\"type\";s:6:\"string\";}s:6:\"toDate\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:51:\"Optional
  end date, do not combine with instruments.\";s:4:\"type\";s:6:\"string\";}s:13:\"instrumentIds\";O:8:\"stdClass\":2:{s:11:\"description\";s:98:\"Optional
  ids of the instruments to retrieve.\r\nIf there are multiple ids, seperate them
  by comma's.\";s:4:\"type\";s:6:\"string\";}}}s:17:\"NewsResponseModel\";O:8:\"stdClass\":4:{s:11:\"description\";s:28:\"response
  of the news request\";s:8:\"required\";a:4:{i:0;s:14:\"newsCollection\";i:1;s:26:\"newsSubscriptionCollection\";i:2;s:5:\"count\";i:3;s:8:\"metadata\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:14:\"newsCollection\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/NewsCollectionModel\";s:11:\"description\";s:10:\"News
  items\";}s:26:\"newsSubscriptionCollection\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:45:\"#/definitions/NewsSubscriptionCollectionModel\";s:11:\"description\";s:26:\"News
  subscriptions granted\";}s:6:\"paging\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/PagingModel\";s:11:\"description\";s:18:\"Paging
  information\";}s:5:\"count\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:44:\"Number
  of entries in the complete collection\";s:4:\"type\";s:7:\"integer\";}s:8:\"metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/MetadataModel\";s:11:\"description\";s:22:\"API
  response meta data\";}}}s:19:\"NewsCollectionModel\";O:8:\"stdClass\":4:{s:11:\"description\";s:23:\"Collection
  of news item\";s:8:\"required\";a:1:{i:0;s:4:\"news\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"news\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"List
  of news items\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/NewsItemModel\";}}}}s:31:\"NewsSubscriptionCollectionModel\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"Collection
  of news subscriptions\";s:8:\"required\";a:1:{i:0;s:13:\"subscriptions\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"subscriptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"List
  of subscriptions for the specified account\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/NewsSubscriptionModel\";}}}}s:13:\"NewsItemModel\";O:8:\"stdClass\":4:{s:11:\"description\";s:9:\"News
  item\";s:8:\"required\";a:5:{i:0;s:7:\"culture\";i:1;s:8:\"headline\";i:2;s:6:\"format\";i:3;s:17:\"publishedDateTime\";i:4;s:13:\"instrumentIds\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"culture\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"The
  culture of the message\";s:4:\"type\";s:6:\"string\";}s:8:\"headline\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Headline
  of the message\";s:4:\"type\";s:6:\"string\";}s:4:\"body\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Body
  of the message (optional)\";s:4:\"type\";s:6:\"string\";}s:6:\"format\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Indication
  whether the body is in HTML format\";s:4:\"enum\";a:2:{i:0;s:5:\"plain\";i:1;s:4:\"html\";}s:4:\"type\";s:6:\"string\";}s:17:\"publishedDateTime\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:49:\"Date
  and time the publisher published the message\";s:4:\"type\";s:6:\"string\";}s:13:\"instrumentIds\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"The
  instruments for which this news message contains news (if any)\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}}}s:21:\"NewsSubscriptionModel\";O:8:\"stdClass\":4:{s:11:\"description\";s:17:\"News
  subscription\";s:8:\"required\";a:1:{i:0;s:16:\"newsSubscription\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"newsSubscription\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  level of subscription\";s:4:\"enum\";a:6:{i:0;s:7:\"binckNl\";i:1;s:10:\"binckNlPro\";i:2;s:7:\"binckIt\";i:3;s:9:\"binckFrBe\";i:4;s:9:\"binckNlBe\";i:5;s:7:\"binckFr\";}s:4:\"type\";s:6:\"string\";}}}s:22:\"OrderStatusQueryParams\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Order
  status parameters\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:94:\"'all'
  will select all the orders. Other possible values are 'open', 'executed' and 'canceled'.\";s:7:\"pattern\";s:34:\"^all$|^open$|^executed$|^canceled$\";s:4:\"type\";s:6:\"string\";}}}s:14:\"OrdersResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:37:\"Orders
  API response (includes paging)\";s:8:\"required\";a:3:{i:0;s:16:\"ordersCollection\";i:1;s:5:\"count\";i:2;s:8:\"metadata\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:16:\"ordersCollection\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/OrdersCollectionModel\";s:11:\"description\";s:38:\"Collection
  of zero, one or more orders\";}s:6:\"paging\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/PagingModel\";s:11:\"description\";s:18:\"Paging
  information\";}s:5:\"count\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:44:\"Number
  of entries in the complete collection\";s:4:\"type\";s:7:\"integer\";}s:8:\"metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/MetadataModel\";s:11:\"description\";s:22:\"API
  response meta data\";}}}s:21:\"OrdersCollectionModel\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Collection
  of orders\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"orders\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Collection
  of orders\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/OrderModel\";}}}}s:10:\"OrderModel\";O:8:\"stdClass\":4:{s:11:\"description\";s:11:\"Order
  model\";s:8:\"required\";a:7:{i:0;s:6:\"number\";i:1;s:10:\"instrument\";i:2;s:4:\"type\";i:3;s:8:\"currency\";i:4;s:8:\"duration\";i:5;s:8:\"quantity\";i:6;s:10:\"lastStatus\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":20:{s:6:\"number\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:31:\"The
  identification of the order\";s:4:\"type\";s:7:\"integer\";}s:10:\"instrument\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/InstrumentBriefModel\";s:11:\"description\";s:46:\"Attributes
  of the financial instrument ordered\";}s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"The
  price type of the order\";s:4:\"enum\";a:5:{i:0;s:5:\"limit\";i:1;s:6:\"market\";i:2;s:4:\"stop\";i:3;s:9:\"stopLimit\";i:4;s:9:\"allOrNone\";}s:4:\"type\";s:6:\"string\";}s:13:\"statusHistory\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Status
  history of the order\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/StatusHistory\";}}s:8:\"currency\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"The
  currency of the security\";s:4:\"type\";s:6:\"string\";}s:8:\"duration\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Specifies
  the term for which the order is in effect\";s:4:\"enum\";a:7:{i:0;s:10:\"fillOrKill\";i:1;s:17:\"immediateOrCancel\";i:2;s:3:\"day\";i:3;s:17:\"goodTillCancelled\";i:4;s:12:\"goodTillDate\";i:5;s:12:\"atTheOpening\";i:6;s:16:\"goodTillCrossing\";}s:4:\"type\";s:6:\"string\";}s:4:\"line\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:55:\"Line
  number of this order in case of a multi line order\";s:4:\"type\";s:7:\"integer\";}s:4:\"side\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Buy
  or sell\";s:4:\"enum\";a:2:{i:0;s:3:\"buy\";i:1;s:4:\"sell\";}s:4:\"type\";s:6:\"string\";}s:16:\"executedQuantity\";O:8:\"stdClass\":3:{s:6:\"format\";s:6:\"double\";s:11:\"description\";s:108:\"Number
  of executed instruments (equities), nominal value (odds) or number of contracts
  (options and futures)\";s:4:\"type\";s:6:\"number\";}s:10:\"limitPrice\";O:8:\"stdClass\":3:{s:6:\"format\";s:6:\"double\";s:11:\"description\";s:26:\"Value
  of the order's limit\";s:4:\"type\";s:6:\"number\";}s:12:\"averagePrice\";O:8:\"stdClass\":3:{s:6:\"format\";s:6:\"double\";s:11:\"description\";s:40:\"Average
  price of all fills on this order\";s:4:\"type\";s:6:\"number\";}s:8:\"quantity\";O:8:\"stdClass\":3:{s:6:\"format\";s:6:\"double\";s:11:\"description\";s:16:\"Quantity
  ordered\";s:4:\"type\";s:6:\"number\";}s:14:\"expirationDate\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:51:\"Expiration
  date and time for a good till date order\";s:4:\"type\";s:6:\"string\";}s:10:\"lastStatus\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Status
  of the order last executed\";s:4:\"enum\";a:16:{i:0;s:6:\"placed\";i:1;s:18:\"placementConfirmed\";i:2;s:17:\"partiallyExecuted\";i:3;s:8:\"executed\";i:4;s:7:\"expired\";i:5;s:20:\"cancelationRequested\";i:6;s:8:\"canceled\";i:7;s:21:\"modificationRequested\";i:8;s:8:\"modified\";i:9;s:7:\"refused\";i:10;s:19:\"modificationRefused\";i:11;s:18:\"cancelationRefused\";i:12;s:17:\"remainderCanceled\";i:13;s:16:\"remainderExpired\";i:14;s:17:\"remainderExecuted\";i:15;s:5:\"other\";}s:4:\"type\";s:6:\"string\";}s:9:\"stopPrice\";O:8:\"stdClass\":3:{s:6:\"format\";s:6:\"double\";s:11:\"description\";s:41:\"Stop
  price for a stop or stop limit order\";s:4:\"type\";s:6:\"number\";}s:15:\"rejectionReason\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"The
  reason of rejection in case of a rejected order\";s:4:\"type\";s:6:\"string\";}s:11:\"fixingPrice\";O:8:\"stdClass\":3:{s:6:\"format\";s:6:\"double\";s:11:\"description\";s:25:\"Fixing
  price of the order\";s:4:\"type\";s:6:\"number\";}s:21:\"rejectionReasonDetail\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"Detail
  explanation of the reason for rejection of the order\";s:4:\"type\";s:6:\"string\";}s:9:\"condition\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"Pay
  or receive condition, only applicable for multileg orders\";s:4:\"enum\";a:2:{i:0;s:3:\"pay\";i:1;s:7:\"receive\";}s:4:\"type\";s:6:\"string\";}s:11:\"referenceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Reference
  Id supplied at registration time\";s:4:\"type\";s:6:\"string\";}}}s:20:\"InstrumentBriefModel\";O:8:\"stdClass\":4:{s:11:\"description\";s:28:\"Brief
  instrument information\";s:8:\"required\";a:2:{i:0;s:2:\"id\";i:1;s:4:\"name\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Identification
  of the instrument\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Instrument's
  name\";s:4:\"type\";s:6:\"string\";}}}s:13:\"StatusHistory\";O:8:\"stdClass\":4:{s:11:\"description\";s:27:\"History
  of the order status\";s:8:\"required\";a:2:{i:0;s:8:\"dateTime\";i:1;s:6:\"status\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"dateTime\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:22:\"DateTime
  of the status\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"name
  of the status\";s:4:\"enum\";a:16:{i:0;s:6:\"placed\";i:1;s:18:\"placementConfirmed\";i:2;s:17:\"partiallyExecuted\";i:3;s:8:\"executed\";i:4;s:7:\"expired\";i:5;s:20:\"cancelationRequested\";i:6;s:8:\"canceled\";i:7;s:21:\"modificationRequested\";i:8;s:8:\"modified\";i:9;s:7:\"refused\";i:10;s:19:\"modificationRefused\";i:11;s:18:\"cancelationRefused\";i:12;s:17:\"remainderCanceled\";i:13;s:16:\"remainderExpired\";i:14;s:17:\"remainderExecuted\";i:15;s:5:\"other\";}s:4:\"type\";s:6:\"string\";}s:16:\"executedQuantity\";O:8:\"stdClass\":3:{s:6:\"format\";s:6:\"double\";s:11:\"description\";s:29:\"The
  number of orders executed\";s:4:\"type\";s:6:\"number\";}s:14:\"executionPrice\";O:8:\"stdClass\":3:{s:6:\"format\";s:6:\"double\";s:11:\"description\";s:42:\"Execution
  price of the executed quantities\";s:4:\"type\";s:6:\"number\";}}}s:13:\"NewOrderModel\";O:8:\"stdClass\":4:{s:11:\"description\";s:15:\"New
  order model\";s:8:\"required\";a:3:{i:0;s:4:\"type\";i:1;s:8:\"quantity\";i:2;s:8:\"duration\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:4:\"type\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"The
  kind of order to be placed\";s:4:\"enum\";a:4:{i:0;s:5:\"limit\";i:1;s:6:\"market\";i:2;s:4:\"stop\";i:3;s:9:\"stopLimit\";}s:4:\"type\";s:6:\"string\";}s:8:\"quantity\";O:8:\"stdClass\":3:{s:6:\"format\";s:6:\"double\";s:11:\"description\";s:50:\"The
  number of financial instruments to buy or sell\";s:4:\"type\";s:6:\"number\";}s:8:\"duration\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Specifies
  the term for which the order is active\";s:4:\"enum\";a:3:{i:0;s:3:\"day\";i:1;s:17:\"goodTillCancelled\";i:2;s:12:\"goodTillDate\";}s:4:\"type\";s:6:\"string\";}s:14:\"expirationDate\";O:8:\"stdClass\":3:{s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:91:\"The
  date when the order will be expired, used in combination with duration GoodTillDateTime\";s:4:\"type\";s:6:\"string\";}s:10:\"limitPrice\";O:8:\"stdClass\":3:{s:6:\"format\";s:6:\"double\";s:11:\"description\";s:107:\"The
  highest price at which to buy or the lowest price at which to sell (only if type
  is limit or stopLimit)\";s:4:\"type\";s:6:\"number\";}s:9:\"stopPrice\";O:8:\"stdClass\":3:{s:6:\"format\";s:6:\"double\";s:11:\"description\";s:92:\"The
  trigger price to initiate a buy or sell order, applicable when type is stop or stopLimit\";s:4:\"type\";s:6:\"number\";}s:4:\"cash\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/NewOrderModelCash\";s:11:\"description\";s:50:\"For
  cash orders (equities), this field is required\";}s:3:\"srd\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/NewOrderModelSrd\";s:11:\"description\";s:57:\"For
  SRD orders (equities, France), this field is required\";}s:6:\"option\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/NewOrderModelOption\";s:11:\"description\";s:41:\"For
  option orders, this field is required\";}s:6:\"future\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/NewOrderModelFuture\";s:11:\"description\";s:41:\"For
  future orders, this field is required\";}s:14:\"validationCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:63:\"Order
  validation code (needs to be obtained by a preview order)\";s:4:\"type\";s:6:\"string\";}s:11:\"referenceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"Reference
  identifier available for 3rd parties. Max length 40 chars\";s:4:\"type\";s:6:\"string\";}}}s:17:\"NewOrderModelCash\";O:8:\"stdClass\":4:{s:11:\"description\";s:50:\"For
  cash orders (equities), this field is required\";s:8:\"required\";a:2:{i:0;s:4:\"side\";i:1;s:12:\"instrumentId\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"side\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Buy
  or sell\";s:4:\"enum\";a:2:{i:0;s:3:\"buy\";i:1;s:4:\"sell\";}s:4:\"type\";s:6:\"string\";}s:12:\"instrumentId\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Instrument
  Id\";s:4:\"type\";s:6:\"string\";}}}s:16:\"NewOrderModelSrd\";O:8:\"stdClass\":4:{s:11:\"description\";s:49:\"For
  SRD orders (equities), this field is required\";s:8:\"required\";a:2:{i:0;s:4:\"side\";i:1;s:12:\"instrumentId\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"side\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Buy
  or sell\";s:4:\"enum\";a:2:{i:0;s:3:\"buy\";i:1;s:4:\"sell\";}s:4:\"type\";s:6:\"string\";}s:12:\"instrumentId\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"The
  instrumentId of a SRD class, or the underlying equity\";s:4:\"type\";s:6:\"string\";}}}s:19:\"NewOrderModelOption\";O:8:\"stdClass\":4:{s:11:\"description\";s:41:\"For
  option orders, this field is required\";s:8:\"required\";a:1:{i:0;s:4:\"leg1\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"condition\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Combination
  strategy. Pay or Receive\";s:4:\"enum\";a:2:{i:0;s:3:\"pay\";i:1;s:7:\"receive\";}s:4:\"type\";s:6:\"string\";}s:4:\"leg1\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/NewOrderModelOptionLeg\";s:11:\"description\";s:35:\"The
  information about the first leg\";}s:4:\"leg2\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/NewOrderModelOptionLeg\";s:11:\"description\";s:41:\"For
  a strategy the second leg is required\";}}}s:19:\"NewOrderModelFuture\";O:8:\"stdClass\":4:{s:11:\"description\";s:52:\"For
  future orders (equities), this field is required\";s:8:\"required\";a:2:{i:0;s:4:\"side\";i:1;s:12:\"instrumentId\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"side\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Buy
  or sell\";s:4:\"enum\";a:2:{i:0;s:3:\"buy\";i:1;s:4:\"sell\";}s:4:\"type\";s:6:\"string\";}s:12:\"instrumentId\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Instrument
  Id\";s:4:\"type\";s:6:\"string\";}}}s:22:\"NewOrderModelOptionLeg\";O:8:\"stdClass\":4:{s:11:\"description\";s:20:\"The
  details of a leg\";s:8:\"required\";a:2:{i:0;s:4:\"side\";i:1;s:12:\"instrumentId\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"side\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Buy
  or sell\";s:4:\"enum\";a:2:{i:0;s:3:\"buy\";i:1;s:4:\"sell\";}s:4:\"type\";s:6:\"string\";}s:12:\"instrumentId\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Instrument
  Id\";s:4:\"type\";s:6:\"string\";}}}s:13:\"OrderResponse\";O:8:\"stdClass\":4:{s:11:\"description\";s:18:\"Order
  API response\";s:8:\"required\";a:2:{i:0;s:16:\"ordersCollection\";i:1;s:8:\"metadata\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"ordersCollection\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/OrdersCollectionModel\";s:11:\"description\";s:38:\"Collection
  of zero, one or more orders\";}s:8:\"metadata\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/MetadataModel\";s:11:\"description\";s:22:\"API
  response meta data\";}}}s:27:\"HistoricalOrdersQueryParams\";O:8:\"stdClass\":4:{s:11:\"description\";s:34:\"Historical
  Order status parameters\";s:8:\"required\";a:2:{i:0;s:4:\"year\";i:1;s:5:\"month\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"year\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:60:\"The
  year for which the historical orders should be retrieved\";s:4:\"type\";s:7:\"integer\";}s:5:\"month\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int64\";s:11:\"description\";s:61:\"The
  month for which the historical orders should be retrieved\";s:4:\"type\";s:7:\"integer\";}}}s:17:\"OrdersQueryParams\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"GetOrders
  query parameters model\";s:8:\"required\";a:2:{i:0;s:13:\"accountNumber\";i:1;s:6:\"number\";}s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:13:\"accountNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Mandatory
  Account Number\";s:4:\"type\";s:6:\"string\";}s:6:\"number\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Mandatory
[...]
