---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:12:\"Rewards APIs\";s:11:\"description\";s:2078:\"#
  Overview\nRewards APIs provide functionalities to retrieve rewards balances, redeemed
  rewards and rebates including historical information. Rewards Identifier can either
  be Programme or Card account number. These APIs also provides functionalities to
  view Rewards Catalogue items and redeem Rewards as miles, Vouchers, Cashback for
  your earned Rewards points.\n\n# Version History\nVersion | Release date | Change
  Log\n--------|--------------|----------------------\n1.0      | October, 2017   |
  Base version of API\n1.0      | July, 2018   | Added new API **Retrieve Rewards
  Summary**. Added new fields **grossAmount** and **merchantId** to **Pay merchant
  using Rewards points** and **Pay merchant using daily$** API.  Added new field **uuid**
  for all APIs.\n\n# Authentication\n<!-- ReDoc-Inject: <security-definitions> -->\n\n#
  Pagination\nPagination is not available on this API.\n\n# Frequently Asked Question\nQ1:
  How to get list of Active Rewards account?\n\nAns: Get list of Active rewards account
  using **/parties/{partyId}/rewards** with path parameters PartyId\n\nQ2:  How to
  return rewards rebate transaction history?\n\nAns: Get rewards rebate transaction
  history for a given rewards identifier using **/rewards/{rewardsId}/rebatesTransactions**
  with path parameters rewardsId. Note: Start date and End Date is mandatory.\n\nQ3:
  How to redeem Rewards as Miles, Vouchers, or Cashback?\n\nAns: Get the redemption
  of Rewards to get Miles or Loyalty points, Vouchers or Cashback using **/rewards/milesConversion/rewards/vouchersRedemption**
  , **/rewards/rebatesCashback**\n\nQ4: How to invoke partial redemption for Rewards?\n\nAns:
  Enter the total amount of the transaction in the grossAmount field and the amount
  to be redeemed via rewards in the redeemAmount field when calling the **/rewards/{rewardsId}/paymentByPoints**
  or **/rewards/{rewardsId}/paymentByRebates**.\n\n# Known Issues\nThis API has no
  pending issues at the moment. Want to report a new issue? please help us **here**\n\n#
  Throttling (Rate Limits)\nWe throttle our APIs by default to ensure maximum performance
  for all developers.\n\n\";s:7:\"version\";s:3:\"1.0\";}"
host: www.dbs.com/sandbox
basePath: /api/sg/v1
paths:
  /parties/{partyId}/rewards:
    get:
      summary: Retrieve List of Rewards Accounts
      description: 'Return a list of the active rewards accounts with the rewards
        for a given party identifier.nn*Important*: The table below describes the
        changes in the API behaviour according to the value of the ''accept-version''
        passed in the request header. Setting a specific version is recommended to
        invoke the desired message-set, unless the most recent version is required.naccept-version
        | Release date | Change Logn--------|--------------|----------------------n1.0      |
        October, 2017   | Base version of APIn1.1      | July, 2018   | Added new
        field **uuid** in request bodynn'
      parameters:
      - name: clientId
        in: header
        description: Client Identifier
        required: true
        type: string
      - name: accessToken
        in: header
        description: Access Token
        required: true
        type: string
      - name: accept-version
        in: header
        description: 'Specifies the acceptable version of the message set. If not
          specified, the latest version of the API will be considered. Example: 1.2'
        required: false
        type: string
      - name: partyId
        in: path
        description: Tokenised Party Identifier
        type: string
        required: true
      - description: Message UID
        required: false
        type: string
        name: uuid
        in: header
      tags:
      - Rewards
      responses:
        200:
          description: List of rewards accounts are returned
          schema:
            $ref: '#/definitions/rewards'
        403:
          description: Forbidden
        404:
          description: Not Found
        500:
          description: Internal Server Error
          schema:
            $ref: '#/definitions/errorList'
  /rewards/{rewardsId}/points:
    get:
      summary: Retrieve Rewards Points Balances
      description: 'Return rewards points balances for a given rewards identifier.nn*Important*:
        The table below describes the changes in the API behaviour according to the
        value of the ''accept-version'' passed in the request header. Setting a specific
        version is recommended to invoke the desired message-set, unless the most
        recent version is required.naccept-version | Release date | Change Logn--------|--------------|----------------------n1.0      |
        October, 2017   | Base version of APIn1.1      | July, 2018   |Added new field
        **uuid** in request bodynn'
      parameters:
      - name: clientId
        in: header
        description: Client Identifier
        required: true
        type: string
      - name: accessToken
        in: header
        description: Access Token
        required: true
        type: string
      - name: accept-version
        in: header
        description: 'Specifies the acceptable version of the message set. If not
          specified, the latest version of the API will be considered. Example: 1.2'
        required: false
        type: string
      - name: rewardsId
        in: path
        description: Tokenised Rewards Identifier
        type: string
        required: true
      - description: Message UID
        required: false
        type: string
        name: uuid
        in: header
      tags:
      - Rewards
      responses:
        200:
          description: Rewards points balances are returned
          schema:
            $ref: '#/definitions/pointsBalances'
        403:
          description: Forbidden
        404:
          description: Not Found
        500:
          description: Internal Server Error
          schema:
            $ref: '#/definitions/errorList'
  /rewards/{rewardsId}/rebates:
    get:
      summary: Retrieve Rewards Rebates Balances
      description: 'Return rewards rebates balances for a given rewards identifier.nn*Important*:
        The table below describes the changes in the API behaviour according to the
        value of the ''accept-version'' passed in the request header. Setting a specific
        version is recommended to invoke the desired message-set, unless the most
        recent version is required.naccept-version | Release date | Change Logn--------|--------------|----------------------n1.0      |
        October, 2017   | Base version of APIn1.1      | July, 2018   |Added new field
        **uuid** in request bodynn'
      parameters:
      - name: clientId
        in: header
        description: Client Identifier
        required: true
        type: string
      - name: accessToken
        in: header
        description: Access Token
        required: true
        type: string
      - name: accept-version
        in: header
        description: 'Specifies the acceptable version of the message set. If not
          specified, the latest version of the API will be considered. Example: 1.2'
        required: false
        type: string
      - name: rewardsId
        in: path
        description: Tokenised Rewards Identifier
        type: string
        required: true
      - description: Message UID
        required: false
        type: string
        name: uuid
        in: header
      tags:
      - Rewards
      responses:
        200:
          description: Rewards rebates balances are returned
          schema:
            $ref: '#/definitions/rebatesBalances'
        403:
          description: Forbidden
        404:
          description: Not Found
        500:
          description: Internal Server Error
          schema:
            $ref: '#/definitions/errorList'
  /rewards/{rewardsId}/pointsTransactions:
    get:
      summary: Retrieve Rewards Points Transaction History
      description: 'Return rewards points transaction history for a given rewards
        Identifier and date range.nn*Important*: The table below describes the changes
        in the API behaviour according to the value of the ''accept-version'' passed
        in the request header. Setting a specific version is recommended to invoke
        the desired message-set, unless the most recent version is required.naccept-version
        | Release date | Change Logn--------|--------------|----------------------n1.0      |
        October, 2017   | Base version of APIn1.1      | July, 2018   |Added new field
        **uuid** in request bodynn'
      tags:
      - Rewards
      parameters:
      - name: clientId
        in: header
        description: Client Identifier
        required: true
        type: string
      - name: accessToken
        in: header
        description: Access token
        required: true
        type: string
      - name: accept-version
        in: header
        description: 'Specifies the acceptable version of the message set. If not
          specified, the latest version of the API will be considered. Example: 1.2'
        required: false
        type: string
      - name: rewardsId
        in: path
        description: Tokenised Rewards Identifier
        required: true
        type: string
      - name: startDate
        in: query
        description: Start Date. Format is YYYY-MM-DD
        required: true
        type: string
        format: date
      - name: endDate
        in: query
        description: End date. Format is YYYY-MM-DD
        required: true
        type: string
        format: date
      - name: cursor
        in: query
        description: Cursor
        required: false
        type: string
      - description: Message UID
        required: false
        type: string
        name: uuid
        in: header
      responses:
        200:
          description: Rewards Points Transaction history is returned.
          schema:
            $ref: '#/definitions/rewardsPointsTransactions'
        403:
          description: Authentication failure
        404:
          description: Not Found
        500:
          description: System Error
          schema:
            $ref: '#/definitions/errorList'
        504:
          description: Gate way timeout
  /rewards/{rewardsId}/rebatesTransactions:
    get:
      summary: Retrieve Rewards Rebates Transaction History
      description: 'Return rewards rebates transaction history for a given rewards
        Identifier and date range.nn*Important*: The table below describes the changes
        in the API behaviour according to the value of the ''accept-version'' passed
        in the request header. Setting a specific version is recommended to invoke
        the desired message-set, unless the most recent version is required.naccept-version
        | Release date | Change Logn--------|--------------|----------------------n1.0      |
        October, 2017   | Base version of APIn1.1      | July, 2018   |Added new field
        **uuid** in request bodynn'
      tags:
      - Rewards
      parameters:
      - name: clientId
        in: header
        description: Client Identifier
        required: true
        type: string
      - name: accessToken
        in: header
        description: Access token
        required: true
        type: string
      - name: accept-version
        in: header
        description: 'Specifies the acceptable version of the message set. If not
          specified, the latest version of the API will be considered. Example: 1.2'
        required: false
        type: string
      - name: rewardsId
        in: path
        description: Tokenised Rewards Identifier
        required: true
        type: string
      - name: startDate
        in: query
        description: Start Date. Format is YYYY-MM-DD
        required: true
        type: string
        format: date
      - name: endDate
        in: query
        description: End date. Format is YYYY-MM-DD
        required: true
        type: string
        format: date
      - name: cursor
        in: query
        description: Cursor
        required: false
        type: string
      - description: Message UID
        required: false
        type: string
        name: uuid
        in: header
      responses:
        200:
          description: Rewards Points Transaction history is returned.
          schema:
            $ref: '#/definitions/rewardsRebatesTransactions'
        403:
          description: Authentication failure
        404:
          description: Not Found
        500:
          description: System Error
          schema:
            $ref: '#/definitions/errorList'
        504:
          description: Gate way timeout
  /rewards/catalogue:
    get:
      tags:
      - Rewards
      summary: Retrieve Rewards Catalogue items
      description: 'Retrieves the list of items available in the Rewards Catalogue.
        Filters July be applied based on Customer or Account.nn*Important*: The table
        below describes the changes in the API behaviour according to the value of
        the ''accept-version'' passed in the request header. Setting a specific version
        is recommended to invoke the desired message-set, unless the most recent version
        is required.naccept-version | Release date | Change Logn--------|--------------|----------------------n1.0      |
        October, 2017   | Base version of APIn1.1      | July, 2018   |Added new field
        **uuid** in request bodynn'
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: clientId
        in: header
        description: Client Identifier
        required: true
        type: string
      - name: accessToken
        in: header
        description: Access token
        required: true
        type: string
      - name: accept-version
        in: header
        description: 'Specifies the acceptable version of the message set. If not
          specified, the latest version of the API will be considered. Example: 1.2'
        required: false
        type: string
      - name: partyId
        in: query
        description: Tokenized Party identifier
        required: false
        type: string
      - name: cardId
        in: query
        description: Tokenized Card or Account identifier
        required: false
        type: string
      - name: category
        in: query
        description: Category of Reward items
        required: false
        type: string
      - description: Message UID
        required: false
        type: string
        name: uuid
        in: header
      responses:
        200:
          description: Rewards Catalogue retrieval successful
          schema:
            $ref: '#/definitions/rewardsCatalogue'
        403:
          description: Forbidden
        404:
          description: Not Found
        500:
          description: Internal Server Error
          schema:
            $ref: '#/definitions/errorList'
  /rewards/catalogue/{itemId}:
    get:
      tags:
      - Rewards
      summary: Retrieve Reward Catalogue item details
      description: 'Returns the details of the reward item from the Reward Catalogue.nn*Important*:
        The table below describes the changes in the API behaviour according to the
        value of the ''accept-version'' passed in the request header. Setting a specific
        version is recommended to invoke the desired message-set, unless the most
        recent version is required.naccept-version | Release date | Change Logn--------|--------------|----------------------n1.0      |
        October, 2017   | Base version of APIn1.1      | July, 2018   |Added new field
        **uuid** in request bodynn'
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: clientId
        in: header
        description: Client Identifier
        required: true
        type: string
      - name: accessToken
        in: header
        description: Access token
        required: true
        type: string
      - name: accept-version
        in: header
        description: 'Specifies the acceptable version of the message set. If not
          specified, the latest version of the API will be considered. Example: 1.2'
        required: false
        type: string
      - name: itemId
        in: path
        description: Catalogue item identifier
        required: true
        type: string
      - description: Message UID
        required: false
        type: string
        name: uuid
        in: header
      responses:
        200:
          description: Reward Catalogue Item details
          schema:
            $ref: '#/definitions/catalogueItemDetl'
        403:
          description: Forbidden
        404:
          description: Not Found
        500:
          description: Internal Server Error
          schema:
            $ref: '#/definitions/errorList'
  /rewards/milesConversion:
    post:
      tags:
      - Rewards
      summary: Redeem Rewards as miles
      description: 'Initiates the redemption of Rewards to get miles or loyalty points.nn*Important*:
        The table below describes the changes in the API behaviour according to the
        value of the ''accept-version'' passed in the request header. Setting a specific
        version is recommended to invoke the desired message-set, unless the most
        recent version is required.naccept-version | Release date | Change Logn--------|--------------|----------------------n1.0      |
        October, 2017   | Base version of APIn1.1      | July, 2018   |Added new field
        **uuid** in request bodynn'
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: clientId
        in: header
        description: Client Identifier
        required: true
        type: string
      - name: accessToken
        in: header
        description: Access token
        required: true
        type: string
      - name: accept-version
        in: header
        description: 'Specifies the acceptable version of the message set. If not
          specified, the latest version of the API will be considered. Example: 1.2'
        required: false
        type: string
      - name: rewardsRedemption
        in: body
        description: Rewards Redemption details
        required: true
        schema:
          $ref: '#/definitions/milesRedemptionRequest'
      - description: Message UID
        required: false
        type: string
        name: uuid
        in: header
      responses:
        201:
          description: Reward Redemption successful
          schema:
            $ref: '#/definitions/milesRedemptionResult'
        403:
          description: Forbidden
        404:
          description: Not Found
        500:
          description: Internal Server Error
          schema:
            $ref: '#/definitions/errorList'
  /rewards/vouchersRedemption:
    post:
      tags:
      - Rewards
      summary: Redeem Rewards as Vouchers
      description: 'Initiates the redemption of Rewards to get Voucher(s).nn*Important*:
        The table below describes the changes in the API behaviour according to the
        value of the ''accept-version'' passed in the request header. Setting a specific
        version is recommended to invoke the desired message-set, unless the most
        recent version is required.naccept-version | Release date | Change Logn--------|--------------|----------------------n1.0      |
        October, 2017   | Base version of APIn1.1      | July, 2018   |Added new field
        **uuid** in request bodynn'
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: clientId
        in: header
        description: Client Identifier
        required: true
        type: string
      - name: accessToken
        in: header
        description: Access token
        required: true
        type: string
      - name: accept-version
        in: header
        description: 'Specifies the acceptable version of the message set. If not
          specified, the latest version of the API will be considered. Example: 1.2'
        required: false
        type: string
      - name: rewardsRedemption
        in: body
        description: Rewards Redemption details
        required: true
        schema:
          $ref: '#/definitions/vouchersRedemptionRequest'
      - description: Message UID
        required: false
        type: string
        name: uuid
        in: header
      responses:
        201:
          description: Reward Redemption successful
          schema:
            $ref: '#/definitions/vouchersRedemptionResult'
        403:
          description: Forbidden
        404:
          description: Not Found
        500:
          description: Internal Server Error
          schema:
            $ref: '#/definitions/errorList'
  /rewards/rebatesCashback:
    post:
      tags:
      - Rewards
      summary: Redeem Rewards as Cashback
      description: 'Initiates the redemption of Rewards to get Cashback.nn*Important*:
        The table below describes the changes in the API behaviour according to the
        value of the ''accept-version'' passed in the request header. Setting a specific
        version is recommended to invoke the desired message-set, unless the most
        recent version is required.naccept-version | Release date | Change Logn--------|--------------|----------------------n1.0      |
        October, 2017   | Base version of APIn1.1      | July, 2018   |Added new field
        **uuid** in request bodynn'
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: clientId
        in: header
        description: Client Identifier
        required: true
        type: string
      - name: accessToken
        in: header
        description: Access token
        required: true
        type: string
      - name: accept-version
        in: header
        description: 'Specifies the acceptable version of the message set. If not
          specified, the latest version of the API will be considered. Example: 1.2'
        required: false
        type: string
      - name: rewardsRedemption
        in: body
        description: Rewards Redemption details
        required: true
        schema:
          $ref: '#/definitions/rebatesRedemptionRequest'
      - description: Message UID
        required: false
        type: string
        name: uuid
        in: header
      responses:
        201:
          description: Reward Redemption successful
          schema:
            $ref: '#/definitions/rebatesRedemptionResult'
        403:
          description: Forbidden
        404:
          description: Not Found
        500:
          description: Internal Server Error
          schema:
            $ref: '#/definitions/errorList'
  /rewards/{rewardsId}/balanceCheck:
    get:
      tags:
      - Rewards
      summary: Check if balance is sufficient for the bill amount
      description: 'This API can be used to in two ways - One is to check the available
        Rewards balance and the other is to check if the bill amount can be covered
        with the available Rewards balance. In the second case, if the balance is
        less than the bill amount, then available Cash value equivalent of Rewards
        balance is returned.nn*Important*: The table below describes the changes in
        the API behaviour according to the value of the ''accept-version'' passed
        in the request header. Setting a specific version is recommended to invoke
        the desired message-set, unless the most recent version is required.naccept-version
        | Release date | Change Logn--------|--------------|----------------------n1.0      |
        October, 2017   | Base version of APIn1.1      | July, 2018   |Added new field
        **uuid** in request bodynn'
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: clientId
        in: header
        description: Client Identifier
        required: true
        type: string
      - name: accessToken
        in: header
        description: Access token
        required: true
        type: string
      - name: accept-version
        in: header
        description: 'Specifies the acceptable version of the message set. If not
          specified, the latest version of the API will be considered. Example: 1.2'
        required: false
        type: string
      - name: rewardsId
        in: path
        description: Tokenised Rewards Identifier
        type: string
        required: true
      - name: amount
        in: query
        description: Bill amount for which Rewards balance has to be checked for sufficiency
        type: number
        required: false
      - description: Message UID
        required: false
        type: string
        name: uuid
        in: header
      responses:
        200:
          description: Rewards balance checked against the provided bill/redemption
            amount.
          schema:
            $ref: '#/definitions/balanceCheck'
        403:
          description: Forbidden
        404:
          description: Not Found
        500:
          description: Internal Server Error
          schema:
            $ref: '#/definitions/errorList'
  /rewards/{rewardsId}/conversionRates:
    get:
      tags:
      - Rewards
      summary: Retrieve conversion rates for Points/Daily$
      description: 'Returns the conversion rates to redeem customer''s'' Points or
        Rebates for the Merchant''s products/services. The rates could optionally
        vary based on the Merchant as well (currently not in scope).nn*Important*:
        The table below describes the changes in the API behaviour according to the
        value of the ''accept-version'' passed in the request header. Setting a specific
        version is recommended to invoke the desired message-set, unless the most
        recent version is required.naccept-version | Release date | Change Logn--------|--------------|----------------------n1.0      |
        October, 2017   | Base version of APIn1.1      | July, 2018   |Added new field
        **uuid** in request bodynn'
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: clientId
        in: header
        description: Client Identifier
        required: true
        type: string
      - name: accessToken
        in: header
        description: Access token
        required: true
        type: string
      - name: accept-version
        in: header
        description: 'Specifies the acceptable version of the message set. If not
          specified, the latest version of the API will be considered. Example: 1.2'
        required: false
        type: string
      - name: merchantId
        in: header
        description: Merchant Identifier
        required: false
        type: string
      - name: rewardsId
        in: path
        description: Tokenised Rewards Identifier
        type: string
        required: true
      - description: Message UID
        required: false
        type: string
        name: uuid
        in: header
      responses:
        200:
          description: Rewards conversion rates
          schema:
            $ref: '#/definitions/conversionRates'
        403:
          description: Forbidden
        404:
          description: Not Found
        500:
          description: Internal Server Error
          schema:
            $ref: '#/definitions/errorList'
  /rewards/{rewardsId}/paymentByPoints:
    post:
      tags:
      - Rewards
      summary: Pay merchant using Rewards Points
      description: 'Initiates the redemption of Points for payments to a Merchant
        partner. The referenceId and orderId must be unique for each request. However,
        if invoking this API more than once because of error in previous attempt,
        then orderId can be same but referenceId must be (different and) unique.nn*Important*:
        The table below describes the changes in the API behaviour according to the
        value of the *''accept-version''* passed in the request header. Setting a
        specific version is recommended to invoke the desired message-set, unless
        the most recent version is required.naccept-version | Release date | Change
        Logn--------|--------------|----------------------n1.0      | October, 2017   |
        Base version of APIn1.1      | July, 2018   | Added new fields **grossAmount**,
        **merchantId** and **uuid** in request bodynn'
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: clientId
        in: header
        description: Client Identifier
        required: true
        type: string
      - name: accessToken
        in: header
        description: Access token
        required: true
        type: string
      - name: accept-version
        in: header
        description: 'Specifies the acceptable version of the message set. If not
          specified, the latest version of the API will be considered. Example: 1.2'
        required: false
        type: string
      - name: rewardsId
        in: path
        description: Tokenised Rewards Identifier
        type: string
        required: true
      - name: paymentByPoints
        in: body
        description: Payment through Redemption
        required: true
        schema:
          $ref: '#/definitions/paymentRequest'
      - description: Message UID
        required: false
        type: string
        name: uuid
        in: header
      responses:
        201:
          description: Results of payment using Points
          schema:
            $ref: '#/definitions/paymentByPoints'
        403:
          description: Forbidden
        404:
          description: Not Found
        500:
          description: Internal Server Error
          schema:
            $ref: '#/definitions/errorList'
  /rewards/{rewardsId}/paymentByRebates:
    post:
      tags:
      - Rewards
      summary: Pay merchant using daily$
      description: 'Initiates the redemption of Daily$ for payments to a Merchant
        partner. The referenceId and orderId must be unique for each request. However,
        if invoking this API more than once because of error in previous attempt,
        then orderId can be same but referenceId must be (different and) unique.nn*Important*:
        The table below describes the changes in the API behaviour according to the
        value of the ''accept-version'' passed in the request header. Setting a specific
        version is recommended to invoke the desired message-set, unless the most
        recent version is required.naccept-version | Release date | Change Logn--------|--------------|----------------------n1.0      |
        October, 2017   | Base version of APIn1.1      | July, 2018   | Added new
        fields **grossAmount**, **merchantId** and **uuid** in request bodynn'
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: clientId
        in: header
        description: Client Identifier
        required: true
        type: string
      - name: accessToken
        in: header
        description: Access token
        required: true
        type: string
      - name: accept-version
        in: header
        description: 'Specifies the acceptable version of the message set. If not
          specified, the latest version of the API will be considered. Example: 1.2'
        required: false
        type: string
      - name: rewardsId
        in: path
        description: Tokenised Rewards Identifier
        type: string
        required: true
      - name: paymentRequest
        in: body
        description: Payment through Redemption
        required: true
        schema:
          $ref: '#/definitions/paymentRequest'
      - description: Message UID
        required: false
        type: string
        name: uuid
        in: header
      responses:
        201:
          description: Results of payment using Daily$
          schema:
            $ref: '#/definitions/paymentByRebates'
        403:
          description: Forbidden
        404:
          description: Not Found
        500:
          description: Internal Server Error
          schema:
            $ref: '#/definitions/error'
  /rewards/paymentReversal:
    post:
      tags:
      - Rewards
      summary: Initiate reversal of rewards redemption
      description: 'Initiates reversal of rewards redemptions. This is applicable
        to a successful redemption transaction with DBS points or Daily$. This can
        be used for refund of service or voiding a transaction. nn*Important*: The
        table below describes the changes in the API behaviour according to the value
        of the ''accept-version'' passed in the request header. Setting a specific
        version is recommended to invoke the desired message-set, unless the most
        recent version is required.n'
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: clientId
        in: header
        description: Client Identifier
        required: true
        type: string
      - name: accessToken
        in: header
        description: Access Token
        required: true
        type: string
      - name: accept-version
        in: header
        description: 'Specifies the acceptable version of the message set. If not
          specified, the latest version of the API will be considered. Example: 1.2'
        required: false
        type: string
      - name: reversalRequest
        in: body
        required: true
        schema:
          $ref: '#/definitions/reversalRequest'
      - description: Message UID
        required: true
        type: string
        name: uuid
        in: header
      responses:
        201:
          description: Results of redemption reversal
          schema:
            $ref: '#/definitions/reversalResponse'
        400:
          description: Bad Request
        403:
          description: Forbidden
        404:
          description: Not Found
        500:
          description: Internal Server Error
          schema:
            $ref: '#/definitions/errorList'
  /parties/{partyId}/rewardsSummary:
    get:
      tags:
      - Rewards
      summary: Retrieve Rewards Summary
      description: 'Returns a list of rewards accounts with the available rewards
        balance for a given party identifier and its corresponding conversion rate.
        If amount is specified, it checks whether the rewards balances is sufficient
        for the bill amount. Otherwise, it shows the minimum and total redeemable
        amounts of the rewards accounts. nn*Important*: The table below describes
        the changes in the API behaviour according to the value of the ''accept-version''
        passed in the request header. Setting a specific version is recommended to
        invoke the desired message-set, unless the most recent version is required.nn'
      parameters:
      - name: clientId
        in: header
        description: Client Identifier
        required: true
        type: string
      - name: accessToken
        in: header
        description: Access Token
        required: true
        type: string
      - name: accept-version
        in: header
        description: 'Specifies the acceptable version of the message set. If not
          specified, the latest version of the API will be considered. Example: 1.2'
        required: false
        type: string
      - description: Message UID
        required: true
        type: string
        name: uuid
        in: header
      - name: partyId
        in: path
        description: Tokenised Party Identifier
        type: string
        required: true
      - name: amount
        description: Bill amount for which Rewards balance has to be checked for sufficiency
        in: query
        required: false
        type: number
      - name: merchantId
        description: Identifier for the merchant involved in the transaction
        in: query
        required: false
        type: number
      responses:
        200:
          description: Summary of rewards accounts are returned
          schema:
            $ref: '#/definitions/rewardsSummary'
        400:
          description: Bad Request
        403:
          description: Forbidden
        404:
          description: Not Found
        500:
          description: Internal Server Error
          schema:
            $ref: '#/definitions/errorList'
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":45:{s:9:\"errorList\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"List
  of errors\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/error\";}}s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Error
  code\";s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"Error
  message\";}s:8:\"moreInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"Additional
  information about the error\";}}}s:7:\"rewards\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:19:\"cardRewardsAccounts\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Card
  rewards accounts\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/cardRewardsAccount\";}}}s:20:\"additionalProperties\";b:0;}s:18:\"cardRewardsAccount\";O:8:\"stdClass\":4:{s:11:\"description\";s:28:\"Card
  rewards account details\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"cardNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Card
  Number.\";s:4:\"type\";s:6:\"string\";}s:15:\"cardDescription\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"Card
  Description.  Eg. DBS Black Card, POSB Everyday Card\";s:4:\"type\";s:6:\"string\";}s:14:\"rewardsSchemes\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Rewards
  schemes\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/rewardsScheme\";}}}s:20:\"additionalProperties\";b:0;}s:13:\"rewardsScheme\";O:8:\"stdClass\":4:{s:11:\"description\";s:14:\"Rewards
  Scheme\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Tokenised
  Rewards Identifier.\";s:4:\"type\";s:6:\"string\";}s:10:\"schemeName\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Scheme
  Name. Eg. DAILY$, SAFRA$, DBS Points\";s:4:\"type\";s:6:\"string\";}s:13:\"rewardsScheme\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"Rewards
  Scheme Type.  Eg. 'CR': Cash Rebates, 'BPT': Bonus Points\";s:4:\"type\";s:6:\"string\";}}s:20:\"additionalProperties\";b:0;}s:6:\"cardId\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Tokenized
  Card Identifier\";s:4:\"type\";s:6:\"string\";}s:14:\"pointsBalances\";O:8:\"stdClass\":4:{s:11:\"description\";s:23:\"Rewards
  Points Balances\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:8:\"schemeId\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Scheme
  Identifier\";s:4:\"type\";s:6:\"string\";}s:10:\"schemeName\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Scheme
  Name. Eg. DAILY$, SAFRA$, DBS Points\";s:4:\"type\";s:6:\"string\";}s:13:\"rewardsScheme\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"Rewards
  Scheme Type.  Eg. 'CR': Cash Rebates, 'BPT': Bonus Points\";s:4:\"type\";s:6:\"string\";}s:14:\"previousPoints\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Points
  earned as of last statement\";s:4:\"type\";s:6:\"number\";}s:13:\"currentPoints\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Current
  points eligible for redemption\";s:4:\"type\";s:6:\"number\";}s:15:\"newPointsEarned\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Points
  earned since last statement\";s:4:\"type\";s:6:\"number\";}s:14:\"redeemedPoints\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Redeemed
  points since last statement\";s:4:\"type\";s:6:\"number\";}s:16:\"adjustedInPoints\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Adjusted
  in points since last statement\";s:4:\"type\";s:6:\"number\";}s:17:\"adjustedOutPoints\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Adjusted
  out points since last statement\";s:4:\"type\";s:6:\"number\";}s:13:\"expiredPoints\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Expired
  points since last statement\";s:4:\"type\";s:6:\"string\";}}s:20:\"additionalProperties\";b:0;}s:15:\"rebatesBalances\";O:8:\"stdClass\":4:{s:11:\"description\";s:24:\"Rewards
  Rebates Balances\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:8:\"schemeId\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Scheme
  Identifier\";s:4:\"type\";s:6:\"string\";}s:10:\"schemeName\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Scheme
  Name. Eg. DAILY$, SAFRA$, DBS Points\";s:4:\"type\";s:6:\"string\";}s:13:\"rewardsScheme\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"Rewards
  Scheme Type.  Eg. 'CR': Cash Rebates, 'BPT': Bonus Points\";s:4:\"type\";s:6:\"string\";}s:15:\"previousBalance\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Balance
  as of last statement\";s:4:\"type\";s:6:\"number\";}s:14:\"currentBalance\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Current
  balance eligible for redemption\";s:4:\"type\";s:6:\"number\";}s:11:\"earnedValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Rebates
  value earned since last statement\";s:4:\"type\";s:6:\"number\";}s:13:\"redeemedValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Rebates
  value redeemed since last statement\";s:4:\"type\";s:6:\"number\";}s:15:\"adjustedInValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Adjusted
  in value since last statement\";s:4:\"type\";s:6:\"number\";}s:16:\"adjustedOutValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Adjusted
  out value since last statement\";s:4:\"type\";s:6:\"number\";}s:12:\"expiredValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Rebates
  value that have expired since last statement\";s:4:\"type\";s:6:\"string\";}}s:20:\"additionalProperties\";b:0;}s:25:\"rewardsPointsTransactions\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:15:\"transactionDetl\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:24:\"rewardsPointsTransaction\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/rewardsPointsTransaction\";}}s:13:\"recordControl\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/recordControl\";}}s:20:\"additionalProperties\";b:0;}s:26:\"rewardsRebatesTransactions\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:8:\"required\";a:1:{i:0;s:15:\"transactionDetl\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:25:\"rewardsRebatesTransaction\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/rewardsRebatesTransaction\";}}s:13:\"recordControl\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/recordControl\";}}s:20:\"additionalProperties\";b:0;}s:24:\"rewardsPointsTransaction\";O:8:\"stdClass\":5:{s:11:\"description\";s:34:\"Rewards
  Points Transaction details\";s:4:\"type\";s:6:\"object\";s:8:\"required\";a:4:{i:0;s:20:\"transactionReference\";i:1;s:15:\"transactionDate\";i:2;s:22:\"transactionDescription\";i:3;s:17:\"transactionAmount\";}s:10:\"properties\";O:8:\"stdClass\":15:{s:20:\"transactionReference\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Transaction
  Reference Number\";s:4:\"type\";s:6:\"string\";}s:15:\"transactionDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Date
  of Transaction\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";}s:11:\"postingDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Date
  Transaction was posted on system\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";}s:10:\"cardNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Card
  Number\";s:4:\"type\";s:6:\"string\";}s:26:\"transactionTypeDescription\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"Transaction
  Type Description.  Eg. Award, Refund, Redeem, Adjust\";s:4:\"type\";s:6:\"string\";}s:26:\"transactionCodeDescription\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Transaction
  Code Description\";s:4:\"type\";s:6:\"string\";}s:22:\"transactionDescription\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Transaction
  Description\";s:4:\"type\";s:6:\"string\";}s:22:\"grossTransactionAmount\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/amount\";}s:20:\"netTransactionAmount\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/amount\";}s:8:\"schemeId\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Scheme
  Identifier\";s:4:\"type\";s:6:\"string\";}s:10:\"schemeName\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Scheme
  Name. Eg. DBS Points\";s:4:\"type\";s:6:\"string\";}s:12:\"earnedPoints\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"Earned
  points\";s:4:\"type\";s:6:\"number\";}s:14:\"redeemedPoints\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Redeemed
  points\";s:4:\"type\";s:6:\"number\";}s:14:\"adjustedPoints\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Adjusted
  points\";s:4:\"type\";s:6:\"number\";}s:19:\"additionalReference\";O:8:\"stdClass\":3:{s:11:\"description\";s:119:\"Additional
  reference of the Transaction. Eg. Frequent Flyer Programme ID, CASA Account Number
  where rewards is credited\";s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:50;}}s:20:\"additionalProperties\";b:0;}s:25:\"rewardsRebatesTransaction\";O:8:\"stdClass\":5:{s:11:\"description\";s:35:\"Rewards
  Rebates Transaction details\";s:4:\"type\";s:6:\"object\";s:8:\"required\";a:4:{i:0;s:20:\"transactionReference\";i:1;s:15:\"transactionDate\";i:2;s:22:\"transactionDescription\";i:3;s:17:\"transactionAmount\";}s:10:\"properties\";O:8:\"stdClass\":15:{s:20:\"transactionReference\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Transaction
  Reference Number\";s:4:\"type\";s:6:\"string\";}s:15:\"transactionDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Date
  of Transaction\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";}s:11:\"postingDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Date
  Transaction was posted on system\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";}s:10:\"cardNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"Card
  Number\";s:4:\"type\";s:6:\"string\";}s:26:\"transactionTypeDescription\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"Transaction
  Type Description.  Eg. Award, Refund, Redeem, Adjust\";s:4:\"type\";s:6:\"string\";}s:26:\"transactionCodeDescription\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Transaction
  Code Description\";s:4:\"type\";s:6:\"string\";}s:22:\"transactionDescription\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Transaction
  Description\";s:4:\"type\";s:6:\"string\";}s:22:\"grossTransactionAmount\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/amount\";}s:20:\"netTransactionAmount\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/amount\";}s:8:\"schemeId\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"Scheme
  Identifier\";s:4:\"type\";s:6:\"string\";}s:10:\"schemeName\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Scheme
  Name. Eg. DAILY$, SAFRA$\";s:4:\"type\";s:6:\"string\";}s:11:\"earnedValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Earned
  value\";s:4:\"type\";s:6:\"number\";}s:13:\"redeemedValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Redeemed
  value\";s:4:\"type\";s:6:\"number\";}s:13:\"adjustedValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Adjusted
  value\";s:4:\"type\";s:6:\"number\";}s:19:\"additionalReference\";O:8:\"stdClass\":3:{s:11:\"description\";s:119:\"Additional
  reference of the Transaction. Eg. Frequent Flyer Programme ID, CASA Account Number
  where rewards is credited\";s:4:\"type\";s:6:\"string\";s:9:\"maxLength\";i:50;}}s:20:\"additionalProperties\";b:0;}s:10:\"expiryDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:11:\"Expiry
  Date\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";}s:6:\"amount\";O:8:\"stdClass\":4:{s:11:\"description\";s:6:\"Amount\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"amount\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"Amount\";s:4:\"type\";s:6:\"number\";}s:8:\"currency\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Currency
  type. ISO 4217 3-character currency code\";s:4:\"type\";s:6:\"string\";}}s:20:\"additionalProperties\";b:0;}s:13:\"recordControl\";O:8:\"stdClass\":4:{s:11:\"description\";s:26:\"Record
  control information\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:18:\"matchedRecordCount\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Number
  of records matched\";s:4:\"type\";s:7:\"integer\";}s:15:\"sentRecordCount\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Number
  of records sent\";s:4:\"type\";s:7:\"integer\";}s:6:\"cursor\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Cursor
  for Processing\";s:4:\"type\";s:6:\"string\";}}s:20:\"additionalProperties\";b:0;}s:23:\"rebatesRedemptionResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Redemption
  result details\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Redemption
  request status\";s:4:\"type\";s:6:\"string\";}s:7:\"orderId\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Redemption
  Order reference number for redemption request\";s:4:\"type\";s:6:\"string\";}s:14:\"transactionFee\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Transaction
  Fee for redemption\";s:4:\"$ref\";s:20:\"#/definitions/amount\";}}}s:24:\"rebatesRedemptionRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:25:\"Reward
  Redemption request\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"rewardAccountId\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Reward
  Account Identifier.\";s:4:\"type\";s:6:\"string\";}s:8:\"schemeId\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"Reward
  Scheme Identifier. Ex: Daily$, DBS Points, Air Miles etc.\";s:4:\"type\";s:6:\"string\";}s:14:\"redemptionList\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Rebate
  Redemption list\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/redemptionDetl\";}}}s:20:\"additionalProperties\";b:0;}s:11:\"voucherDetl\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Reward
  item Image details\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:9:\"voucherId\";O:8:\"stdClass\":2:{s:11:\"description\";s:18:\"Voucher
  identifier\";s:4:\"type\";s:6:\"string\";}s:12:\"rewardItemId\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Reward
  Item identifier for reference\";s:4:\"type\";s:6:\"string\";}s:9:\"issueDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Voucher
  Issue date\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";}s:10:\"expiryDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Voucher
  Expiry date\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";}}}s:24:\"vouchersRedemptionResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Redemption
  result details\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Redemption
  request status\";s:4:\"type\";s:6:\"string\";}s:7:\"orderId\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Redemption
  Order reference number for redemption request\";s:4:\"type\";s:6:\"string\";}s:12:\"vouchersList\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Redemption
  Vouchers\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/voucherDetl\";}}}}s:14:\"redemptionDetl\";O:8:\"stdClass\":4:{s:11:\"description\";s:25:\"Reward
  Redemption details\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"rewardItemId\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Reward
  Item identifier\";s:4:\"type\";s:6:\"string\";}s:14:\"redeemQuantity\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Quantity
  of items to be redeemed\";s:4:\"type\";s:6:\"number\";}s:12:\"redeemAmount\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Amount
  to be redeemed\";s:4:\"type\";s:6:\"number\";}}s:20:\"additionalProperties\";b:0;}s:16:\"rewardsCatalogue\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Reward
  Catalogue items\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/catalogueItem\";}}s:13:\"catalogueItem\";O:8:\"stdClass\":4:{s:11:\"description\";s:14:\"Catalogue
  item\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Catalogue
  item identifier\";s:4:\"type\";s:6:\"string\";}s:8:\"itemType\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Reward
  item type\";s:4:\"type\";s:6:\"string\";}s:17:\"quantityAvailable\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Available
  quantity of items\";s:4:\"type\";s:6:\"number\";}s:5:\"price\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"Price
  of the Reward Item. The price value can be Points or Amount\";s:4:\"type\";s:6:\"number\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Tags
  for the Reward Item\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/tag\";}}s:9:\"itemImage\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Images
  for the Reward Item\";s:4:\"$ref\";s:23:\"#/definitions/itemImage\";}}s:20:\"additionalProperties\";b:0;}s:3:\"tag\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Tag
  for Reward items\";s:4:\"type\";s:6:\"string\";}s:17:\"catalogueItemDetl\";O:8:\"stdClass\":4:{s:11:\"description\";s:14:\"Catalogue
  item\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":11:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Catalogue
  item identifier\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Item
  description\";s:4:\"type\";s:6:\"string\";}s:8:\"itemType\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"Reward
  item type\";s:4:\"type\";s:6:\"string\";}s:8:\"category\";O:8:\"stdClass\":2:{s:11:\"description\";s:20:\"Reward
  item category\";s:4:\"type\";s:6:\"string\";}s:13:\"catalogueCode\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Reward
  Catalogue code\";s:4:\"type\";s:6:\"string\";}s:17:\"quantityAvailable\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Available
  quantity of items\";s:4:\"type\";s:6:\"number\";}s:8:\"validity\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Reward
  Item validity period\";s:4:\"$ref\";s:28:\"#/definitions/validityPeriod\";}s:7:\"pricing\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Reward
  Item pricing details\";s:4:\"$ref\";s:27:\"#/definitions/rewardPricing\";}s:15:\"termsConditions\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Terms
  and Conditions for redemption\";s:4:\"type\";s:6:\"string\";}s:10:\"itemImages\";O:8:\"stdClass\":3:{s:11:\"description\";s:26:\"Images
  for the Reward Item\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/itemImage\";}}s:17:\"redemptionOutlets\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Redemption
  outlets\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/redemptionOutlet\";}}}s:20:\"additionalProperties\";b:0;}s:14:\"validityPeriod\";O:8:\"stdClass\":4:{s:11:\"description\";s:15:\"Validity
  period\";s:4:\"type\";s:6:\"object\";s:8:\"required\";a:2:{i:0;s:9:\"startDate\";i:1;s:7:\"endDate\";}s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"startDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Effective
  start date\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";}s:7:\"endDate\";O:8:\"stdClass\":3:{s:11:\"description\";s:18:\"Effective
  end date\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:4:\"date\";}}}s:13:\"rewardPricing\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Reward
  Item pricing details\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"pointPrice\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"Points
  needed to redeem\";s:4:\"$ref\";s:20:\"#/definitions/amount\";}s:9:\"faceValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Actual
  value of the Reward item\";s:4:\"$ref\";s:20:\"#/definitions/amount\";}s:17:\"additionalPayment\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"Additional
  cash payment needed to redeem\";s:4:\"$ref\";s:20:\"#/definitions/amount\";}}}s:9:\"itemImage\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Reward
  item Image details\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"imageId\";O:8:\"stdClass\":2:{s:11:\"description\";s:24:\"Identifier
  for the Image\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Image
  name\";s:4:\"type\";s:6:\"string\";}s:8:\"validity\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Reward
  Image validity details\";s:4:\"$ref\";s:28:\"#/definitions/validityPeriod\";}}}s:16:\"redemptionOutlet\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Reward
  redemption outlet details\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"outletName\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Name
  of the outlet to redeem the reward item\";s:4:\"type\";s:6:\"string\";}s:7:\"address\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Address
  of the outlet\";s:4:\"type\";s:6:\"string\";}s:7:\"contact\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Contact
  details of the outlet\";s:4:\"type\";s:6:\"string\";}}}s:22:\"milesRedemptionRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:25:\"Reward
  Redemption request\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:15:\"rewardAccountId\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Reward
  Account Identifier.\";s:4:\"type\";s:6:\"string\";}s:8:\"schemeId\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"Reward
  Scheme Identifier. Ex: Daily$, DBS Points, Air Miles etc.\";s:4:\"type\";s:6:\"string\";}s:12:\"rewardItemId\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Reward
  Item identifier\";s:4:\"type\";s:6:\"string\";}s:14:\"redeemQuantity\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Quantity
  of items to be redeemed\";s:4:\"type\";s:6:\"number\";}s:14:\"membershipDetl\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Reward
  redemption to a Membership program account\";s:4:\"$ref\";s:28:\"#/definitions/membershipDetl\";}}s:20:\"additionalProperties\";b:0;}s:14:\"membershipDetl\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Membership
  program details to redeem Reward\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Membership
  Identifier\";s:4:\"type\";s:6:\"string\";}s:7:\"program\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Membership
  Type\";s:4:\"type\";s:6:\"string\";}s:9:\"partyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:34:\"Name
  as per the Membership program\";s:4:\"$ref\";s:23:\"#/definitions/partyName\";}}}s:9:\"partyName\";O:8:\"stdClass\":4:{s:11:\"description\";s:15:\"Party''''s
  Name\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"firstName\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Party''''s
  First Name\";s:4:\"type\";s:6:\"string\";}s:10:\"middleName\";O:8:\"stdClass\":2:{s:11:\"description\";s:22:\"Party''''s
  Middle Name\";s:4:\"type\";s:6:\"string\";}s:8:\"lastName\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Party''''s
  Last Name (Surname)\";s:4:\"type\";s:6:\"string\";}}s:20:\"additionalProperties\";b:0;}s:21:\"milesRedemptionResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Redemption
  result details\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"Redemption
  request status\";s:4:\"type\";s:6:\"string\";}s:7:\"orderId\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Redemption
  Order reference number for redemption request\";s:4:\"type\";s:6:\"string\";}s:14:\"transactionFee\";O:8:\"stdClass\":2:{s:11:\"description\";s:30:\"Transaction
  Fee for redemption\";s:4:\"$ref\";s:20:\"#/definitions/amount\";}}}s:25:\"vouchersRedemptionRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:25:\"Reward
  Redemption request\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:15:\"rewardAccountId\";O:8:\"stdClass\":2:{s:11:\"description\";s:26:\"Reward
  Account Identifier.\";s:4:\"type\";s:6:\"string\";}s:8:\"schemeId\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"Reward
  Scheme Identifier. Ex: Daily$, DBS Points, Air Miles etc.\";s:4:\"type\";s:6:\"string\";}s:12:\"isCollatable\";O:8:\"stdClass\":2:{s:11:\"description\";s:147:\"Indicates
  whether the redemption items can be collated together into one reward item. Ex:
  3 vouchers of $10 each can be redeemed as one $30 voucher\";s:4:\"type\";s:6:\"string\";}s:14:\"redemptionList\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Redemption
  item list\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/redemptionDetl\";}}}s:20:\"additionalProperties\";b:0;}s:12:\"balanceCheck\";O:8:\"stdClass\":4:{s:11:\"description\";s:50:\"Results
  of balance check before redemption request\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:15:\"requestedAmount\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"Amount
  for which validation was requested on the Rewards balance.\";s:4:\"$ref\";s:20:\"#/definitions/amount\";}s:12:\"isSufficient\";O:8:\"stdClass\":2:{s:11:\"description\";s:81:\"Indicates
  whether or not the balance is sufficient to cover the requested Amount.\";s:4:\"type\";s:7:\"boolean\";}s:23:\"minimumRedeemableAmount\";O:8:\"stdClass\":2:{s:11:\"description\";s:113:\"Minimum
  Amount that can be redeemed for the Rewards scheme. This will be populated only
  when balance is not zero.\";s:4:\"$ref\";s:20:\"#/definitions/amount\";}s:21:\"totalRedeemableAmount\";O:8:\"stdClass\":2:{s:11:\"description\";s:134:\"Total
  cash value balance that can be redeemed. This will be populated only when balance
  is insufficient to cover the requested amount.\";s:4:\"$ref\";s:20:\"#/definitions/amount\";}s:21:\"totalRedeemablePoints\";O:8:\"stdClass\":2:{s:11:\"description\";s:134:\"Total
  DBS Points balance that can be redeemed. This will be populated only when balance
  is insufficient to cover the requested amount.\";s:4:\"type\";s:6:\"number\";}}s:20:\"additionalProperties\";b:0;}s:15:\"conversionRates\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Conversion
  rates from Points to Cash value\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/rewardsExchangeRate\";}}s:19:\"rewardsExchangeRate\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"Reward
  redemption outlet details\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"currency\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Currency
  type. ISO 4217 3-character currency code\";s:4:\"type\";s:6:\"string\";}s:5:\"units\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Units
  of currency. This is the base value for conversion\";s:4:\"type\";s:6:\"number\";}s:13:\"pointsPerUnit\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Points
  needs per unit value of the currency\";s:4:\"type\";s:6:\"number\";}}}s:16:\"paymentByRebates\";O:8:\"stdClass\":4:{s:11:\"description\";s:30:\"Results
  of payment with Daily$\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"referenceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"Transaction
  Reference identifier for payment of remaining bill amount.\";s:4:\"type\";s:6:\"string\";}s:14:\"redeemedAmount\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Amount
  that has been redeemed\";s:4:\"$ref\";s:20:\"#/definitions/amount\";}s:16:\"remainingRebates\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Daily$
  balance that is remaining\";s:4:\"$ref\";s:20:\"#/definitions/amount\";}}s:20:\"additionalProperties\";b:0;}s:15:\"paymentByPoints\";O:8:\"stdClass\":4:{s:11:\"description\";s:37:\"Results
  of payment with Reward points\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"referenceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"Transaction
  Reference identifier for payment of remaining bill amount.\";s:4:\"type\";s:6:\"string\";}s:14:\"redeemedAmount\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Amount
  that has been redeemed\";s:4:\"$ref\";s:20:\"#/definitions/amount\";}s:15:\"remainingPoints\";O:8:\"stdClass\":2:{s:11:\"description\";s:32:\"Points
  balance that is remaining\";s:4:\"type\";s:6:\"number\";}s:18:\"remainingCashValue\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"Cash
  value that is remaining\";s:4:\"$ref\";s:20:\"#/definitions/amount\";}}s:20:\"additionalProperties\";b:0;}s:14:\"paymentRequest\";O:8:\"stdClass\":4:{s:11:\"description\";s:35:\"Payment
  request using Reward points\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":6:{s:10:\"merchantId\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Identifier
  for the merchant involved in the transaction.\";s:4:\"type\";s:6:\"string\";}s:11:\"referenceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"Transaction
  Reference identifier for payment request using Points.\";s:4:\"type\";s:6:\"string\";}s:7:\"orderId\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"Order
  Reference identifier for payment.\";s:4:\"type\";s:6:\"string\";}s:11:\"grossAmount\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Total
  bill amount of the transaction\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"amount\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"Amount\";s:4:\"type\";s:6:\"number\";}s:8:\"currency\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Currency
  type. ISO 4217 3-character currency code\";s:4:\"type\";s:6:\"string\";}}}s:12:\"redeemAmount\";O:8:\"stdClass\":3:{s:11:\"description\";s:21:\"Amount
  to be redeemed\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"amount\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"Amount\";s:4:\"type\";s:6:\"number\";}s:8:\"currency\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Currency
  type. ISO 4217 3-character currency code\";s:4:\"type\";s:6:\"string\";}}}s:7:\"partyId\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Tokenized
  identifier of the Customer.\";s:4:\"type\";s:6:\"string\";}}s:20:\"additionalProperties\";b:0;}s:15:\"reversalRequest\";O:8:\"stdClass\":5:{s:11:\"description\";s:59:\"Details
  of redemption reversal of Rewards points and Daily$\";s:4:\"type\";s:6:\"object\";s:8:\"required\";a:6:{i:0;s:19:\"reversalReferenceId\";i:1;s:21:\"redemptionReferenceId\";i:2;s:19:\"transactionDateTime\";i:3;s:11:\"grossAmount\";i:4;s:12:\"redeemAmount\";i:5;s:10:\"merchantId\";}s:10:\"properties\";O:8:\"stdClass\":6:{s:10:\"merchantId\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Identifier
  for the merchant involved in the transaction.\";s:4:\"type\";s:6:\"string\";}s:19:\"reversalReferenceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Reference
  identifier for the redemption reversal request\";s:4:\"type\";s:6:\"string\";}s:21:\"redemptionReferenceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"Order
  reference identifier of the original redemption transaction\";s:4:\"type\";s:6:\"string\";}s:19:\"transactionDateTime\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Timestamp
  of the original redemption transaction\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";}s:11:\"grossAmount\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Total
  bill amount of the transaction\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"amount\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"Amount\";s:4:\"type\";s:6:\"number\";}s:8:\"currency\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Currency
  type. ISO 4217 3-character currency code\";s:4:\"type\";s:6:\"string\";}}}s:12:\"redeemAmount\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Amount
  redeemed\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"amount\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"Amount\";s:4:\"type\";s:6:\"number\";}s:8:\"currency\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Currency
  type. ISO 4217 3-character currency code\";s:4:\"type\";s:6:\"string\";}}}}s:20:\"additionalProperties\";b:0;}s:16:\"reversalResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"Results
  of redemption reversal of Reward points and Daily$\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"reversalReferenceId\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Reference
  identifier for the redemption reversal.\";s:4:\"type\";s:6:\"string\";}s:14:\"rewardsBalance\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"Redeemable
  amount after reversal, breakdown by account level\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"remainingPoints\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Points
  balance that is remaining.\";s:4:\"type\";s:6:\"number\";}s:18:\"remainingCashValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"Cash
  value of the points or rebates remaining\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"amount\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"Amount\";s:4:\"type\";s:6:\"number\";}s:8:\"currency\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Currency
  type. ISO 4217 3-character currency code\";s:4:\"type\";s:6:\"string\";}}}}}}}s:14:\"rewardsSummary\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"rewardsAccounts\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"List
  of rewards accounts\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/rewardsAccount\";}}s:22:\"rewardsBalancesSummary\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Rewards
  balances summary\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"requestedAmount\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"Amount
  for which validation was requested on the Rewards balance.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"amount\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"Amount\";s:4:\"type\";s:6:\"number\";}s:8:\"currency\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Currency
  type. ISO 4217 3-character currency code\";s:4:\"type\";s:6:\"string\";}}}s:21:\"pointsBalancesSummary\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/pointsBalancesSummary\";}s:22:\"rebatesBalancesSummary\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/rebatesBalancesSummary\";}}}}s:20:\"additionalProperties\";b:0;}s:21:\"pointsBalancesSummary\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"Summary
  of Rewards Points balances\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"isSufficient\";O:8:\"stdClass\":2:{s:11:\"description\";s:139:\"Indicates
  whether or not the points balance is sufficient to cover the requested Amount. This
  will be populated if query amount is present.\";s:4:\"type\";s:7:\"boolean\";}s:23:\"minimumRedeemableAmount\";O:8:\"stdClass\":3:{s:11:\"description\";s:132:\"Minimum
  Amount that can be redeemed for Points scheme. This will be populated if query amount
  is not present or exceeds the balance.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"amount\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"Amount\";s:4:\"type\";s:6:\"number\";}s:8:\"currency\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Currency
  type. ISO 4217 3-character currency code\";s:4:\"type\";s:6:\"string\";}}}s:21:\"totalRedeemableAmount\";O:8:\"stdClass\":3:{s:11:\"description\";s:152:\"Total
  cash value amount equivalent that can be redeemed for Points scheme. This will be
  populated if query amount is not present or exceeds the balance.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"amount\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"Amount\";s:4:\"type\";s:6:\"number\";}s:8:\"currency\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Currency
  type. ISO 4217 3-character currency code\";s:4:\"type\";s:6:\"string\";}}}s:21:\"totalRedeemablePoints\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Total
  number of points that can be redeemed.\";s:4:\"type\";s:6:\"number\";}}}s:22:\"rebatesBalancesSummary\";O:8:\"stdClass\":3:{s:11:\"description\";s:62:\"Summary
  of Rebates balances( Only Daily$ is supported for now)\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"isSufficient\";O:8:\"stdClass\":2:{s:11:\"description\";s:140:\"Indicates
  whether or not the Rebates balance is sufficient to cover the requested Amount.
  This will be populated if query amount is present.\";s:4:\"type\";s:7:\"boolean\";}s:23:\"minimumRedeemableAmount\";O:8:\"stdClass\":3:{s:11:\"description\";s:133:\"Minimum
  Amount that can be redeemed for Rebates scheme. This will be populated if query
  amount is not present or exceeds the balance.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"amount\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"Amount\";s:4:\"type\";s:6:\"number\";}s:8:\"currency\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Currency
  type. ISO 4217 3-character currency code\";s:4:\"type\";s:6:\"string\";}}}s:21:\"totalRedeemableAmount\";O:8:\"stdClass\":3:{s:11:\"description\";s:153:\"Total
  cash value amount equivalent that can be redeemed for Rebates scheme. This will
  be populated if query amount is not present or exceeds the balance.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"amount\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"Amount\";s:4:\"type\";s:6:\"number\";}s:8:\"currency\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Currency
  type. ISO 4217 3-character currency code\";s:4:\"type\";s:6:\"string\";}}}s:22:\"totalRedeemableRebates\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Total
  value of Rebates that can be redeemed\";s:4:\"type\";s:6:\"number\";}}}s:14:\"rewardsAccount\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Rewards
  account details\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"cardNumber\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Card
  Number.\";s:4:\"type\";s:6:\"string\";}s:15:\"cardDescription\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"Card
  Description.  Eg. DBS Black Card, POSB Everyday Card\";s:4:\"type\";s:6:\"string\";}s:13:\"rewardsScheme\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"Rewards
  scheme details\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:29:\"Tokenised
  Rewards Identifier.\";s:4:\"type\";s:6:\"string\";}s:10:\"schemeName\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"Scheme
  Name. Eg. DAILY$, SAFRA$, DBS Points\";s:4:\"type\";s:6:\"string\";}s:13:\"rewardsScheme\";O:8:\"stdClass\":2:{s:11:\"description\";s:65:\"Rewards
  Scheme Type.  Eg. 'CR': Cash Rebates, 'BPT': Bonus Points\";s:4:\"type\";s:6:\"string\";}}}s:15:\"conversionRates\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"Conversion
  rate for rewards scheme. Only available for Rewards points.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"currency\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Currency
  type. ISO 4217 3-character currency code\";s:4:\"type\";s:6:\"string\";}s:5:\"units\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Units
  of currency. This is the base value for conversion\";s:4:\"type\";s:6:\"number\";}s:13:\"pointsPerUnit\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"Points
  needed per unit value of the currency\";s:4:\"type\";s:6:\"number\";}}}}}}"
...
