---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":8:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:31:\"Amadeus
  Innovation and Research\";s:3:\"url\";s:27:\"https://sandbox.amadeus.com\";}s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:41:\"Amadeus
  Travel Innovation Sandbox License\";s:3:\"url\";s:37:\"https://sandbox.amadeus.com/terms-use\";}s:5:\"title\";s:33:\"Amadeus
  Travel Innovation Sandbox\";s:7:\"version\";s:3:\"1.2\";s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:82:\"https://sandbox.amadeus.com/sites/default/files/amadeus_logo_US_registered_0_0.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:102:\"https://raw.githubusercontent.com/amadeus-travel-innovation-sandbox/sandbox-content/master/swagger.yml\";s:7:\"version\";s:3:\"2.0\";}}s:14:\"x-providerName\";s:11:\"amadeus.com\";s:11:\"x-preferred\";b:1;}"
host: api.sandbox.amadeus.com
basePath: /v1.2
paths: ~
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":85:{s:7:\"Address\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"An
  object to describe a postal address.\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"city\";O:8:\"stdClass\":2:{s:11:\"description\";s:43:\"The
  town or city in which place is located.\";s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":2:{s:11:\"description\";s:127:\"The
  <a href=\"http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2\">ISO 3166-1 alpha-2 country
  code</a> country code of this address.\";s:4:\"type\";s:6:\"string\";}s:5:\"line1\";O:8:\"stdClass\":2:{s:11:\"description\";s:86:\"The
  first line of this place's address. Generally represents the basic street address.\";s:4:\"type\";s:6:\"string\";}s:11:\"postal_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:39:\"The
  postal or zip code of this address.\";s:4:\"type\";s:6:\"string\";}s:6:\"region\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"The
  state or region code in which the place is located.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:5:\"line1\";i:1;s:4:\"city\";i:2;s:7:\"country\";}}s:26:\"AffiliateFlightSearchPrice\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:8:\"currency\";O:8:\"stdClass\":2:{s:11:\"description\";s:94:\"The
  <a href=\"https://en.wikipedia.org/wiki/ISO_4217\">currency</a> code applicable
  to this fare\";s:4:\"type\";s:6:\"string\";}s:15:\"price_per_adult\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Fare\";s:11:\"description\";s:52:\"The
  per-passenger fare for each adult on this flight\";}s:15:\"price_per_child\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Fare\";s:11:\"description\";s:52:\"The
  per-passenger fare for each child on this flight\";}s:16:\"price_per_infant\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Fare\";s:11:\"description\";s:53:\"The
  per-passenger fare for each infant on this flight\";}s:12:\"restrictions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/FareRestrictions\";s:11:\"description\";s:42:\"The
  restrictions associated with this fare\";}s:11:\"total_price\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"The
  total price for all the requested passengers for this flight\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:8:\"currency\";i:1;s:11:\"total_price\";i:2;s:15:\"price_per_adult\";i:3;s:12:\"restrictions\";}}s:15:\"AffiliatePayout\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"CPA\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Amount\";s:11:\"description\";s:118:\"See
  https://en.wikipedia.org/wiki/Cost_per_action for commission earned for a given
  action from the provided deep link\";}s:3:\"CPC\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Amount\";s:11:\"description\";s:108:\"See
  https://en.wikipedia.org/wiki/Pay_per_click for commission earned when the provided
  deep link is clicked\";}s:3:\"CPS\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Amount\";s:11:\"description\";s:126:\"See
  https://en.wikipedia.org/wiki/Pay_per_sale for commission earned as a result of
  a booking made from the provided deep link\";}}}s:19:\"AffiliateSearchMeta\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"carriers\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/CarrierMeta\";s:11:\"description\";s:75:\"A
  map of meta information for each of the airlines involved in the response\";}}s:8:\"required\";a:1:{i:0;s:8:\"carriers\";}}s:23:\"AffiliateSearchResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"meta\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/AffiliateSearchMeta\";s:11:\"description\";s:27:\"Meta
  data about the results\";}s:7:\"results\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/AffiliateSearchResult\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:4:\"meta\";}}s:21:\"AffiliateSearchResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:7:\"airline\";O:8:\"stdClass\":2:{s:11:\"description\";s:147:\"The
  2 character alphanumeric <a href=\"https://en.wikipedia.org/wiki/Airline_codes\">IATA
  airline code</a> of the airline that is selling this result\";s:4:\"type\";s:6:\"string\";}s:9:\"deep_link\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"A
  link to the page from which this result can be purchased from the affiliate\";s:4:\"type\";s:6:\"string\";}s:4:\"fare\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/AffiliateFlightSearchPrice\";s:11:\"description\";s:80:\"The
  price and fare information which applies to all itineraries in this response\";}s:7:\"inbound\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/FlightSearchBound\";s:11:\"description\";s:52:\"The
  return flight from the destination to the origin\";}s:8:\"outbound\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/FlightSearchBound\";s:11:\"description\";s:45:\"The
  flight from the origin to the destination\";}s:6:\"payout\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/AffiliatePayout\";s:11:\"description\";s:100:\"Details
  of the amount of payout that the affiliate will received per click or if this flight
  is sold\";}}s:8:\"required\";a:5:{i:0;s:4:\"fare\";i:1;s:6:\"payout\";i:2;s:8:\"outbound\";i:3;s:7:\"airline\";i:4;s:9:\"deep_link\";}}s:7:\"Airport\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"airport\";O:8:\"stdClass\":2:{s:11:\"description\";s:173:\"The
  3 character <a href=\"https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code\">IATA
  airport code</a> of the airport in question for this flight\";s:4:\"type\";s:6:\"string\";}s:8:\"terminal\";O:8:\"stdClass\":2:{s:11:\"description\";s:87:\"The
  terminal identifier at which this flight will arrive or depart in the given airport\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:7:\"airport\";}}s:27:\"AirportAutocompleteResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"label\";O:8:\"stdClass\":2:{s:11:\"description\";s:323:\"The
  name of this airport, in UTF-8 format, prefixed with the name of the city if it
  is not already incorporated in the name of the airport, and appended with the location's
  <a href=\"https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code\">IATA
  code</a> (as in value), enclosed in square brackets.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:145:\"The
  3 letter IATA location code of the given city or airport. You can use this as an
  input parameter for a flight low-fare or inspiration search.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:5:\"value\";i:1;s:5:\"label\";}}s:18:\"AirportInformation\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:18:\"aircraft_movements\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"The
  annual number of aircraft movements at that airport.\";s:4:\"type\";s:7:\"integer\";}s:9:\"city_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:181:\"The
  three letter <a href=\"https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code\">IATA
  code</a> of the city of the city in which this airport is located.\";s:4:\"type\";s:6:\"string\";}s:9:\"city_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"The
  English name of the city in which this airport is located\";s:4:\"type\";s:6:\"string\";}s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:226:\"The
  3 letter IATA airport code of this given airport. You can use this as an input parameter
  for a low-fare flight search, to get more specific results than the city code, but
  inspiration search works best using the city code.\";s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":2:{s:11:\"description\";s:130:\"The
  <a href=\"http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2\">ISO 3166-1 alpha-2 country
  code</a> in which this city can be found.\";s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Geolocation\";s:11:\"description\";s:71:\"
  \ An object containing the longitude and latitude of the given airport.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"The
  name of this airport, in UTF-8 format\";s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"The
  state code of this city, if applicable\";s:4:\"type\";s:6:\"string\";}s:8:\"timezone\";O:8:\"stdClass\":2:{s:11:\"description\";s:144:\"The
  <a href=\"http://en.wikipedia.org/wiki/List_of_tz_database_time_zones\">Olson format</a>
  name of the timezone in which this airport is located\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:7:{i:0;s:4:\"code\";i:1;s:4:\"name\";i:2;s:9:\"city_code\";i:3;s:9:\"city_name\";i:4;s:7:\"country\";i:5;s:8:\"location\";i:6;s:8:\"timezone\";}}s:7:\"Amenity\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"amenity\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"<a
  href=\"hotels-api-supported-amenities-filter\">The amenity code</a>\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"The
  decoded text description for this amenity code, where available.\";s:4:\"type\";s:6:\"string\";}s:8:\"ota_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:147:\"The
  <a href=\"http://www.opentravel.org/\">Open Travel Alliance</a> <a href=\"ota-hotel-amenity-code-table\">Hotel
  Amenities Code</a> for this amenity.\";s:4:\"type\";s:6:\"string\";}}}s:6:\"Amount\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"A
  monetary amount with a price and a currency\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"amount\";O:8:\"stdClass\":2:{s:11:\"description\";s:86:\"Total
  amount in the given currency, formatted appropriately. For example&colon; 194.99\";s:4:\"type\";s:6:\"string\";}s:8:\"currency\";O:8:\"stdClass\":2:{s:11:\"description\";s:75:\"<a
  href=\"http://en.wikipedia.org/wiki/ISO_4217\">ISO 4217</a> currency code.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:8:\"currency\";i:1;s:6:\"amount\";}}s:5:\"Award\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"provider\";O:8:\"stdClass\":2:{s:11:\"description\";s:83:\"The
  organization that issued the award. For example&colon;. Local Star Rating, AAA.\";s:4:\"type\";s:6:\"string\";}s:6:\"rating\";O:8:\"stdClass\":2:{s:11:\"description\";s:101:\"The
  level of the award that was awarded on the provider's scale. For example&colon;
  4 or RECOMMENDED.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:8:\"provider\";i:1;s:6:\"rating\";}}s:14:\"CarReservation\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:12:\"booking_info\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/CarReservationBookingInfo\";s:11:\"description\";s:61:\"Additional
  details the status of this car rental reservation.\";}s:3:\"car\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Vehicle\";s:11:\"description\";s:86:\"A
  car information object giving further details about the vehicle provided for rental.\";}s:8:\"drop_off\";O:8:\"stdClass\":2:{s:11:\"description\";s:179:\"Date
  at which the car rental will end and the car will be returned to the rental location.
  <a href=\"https://en.wikipedia.org/wiki/ISO_8601\">ISO 8601</a> date format yyyy-MM-ddTHH.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:153:\"Uniquely
  identifies this car rental reservation in this travel record. This ID is persistent,
  and remains the same for the lifetime of the travel record.\";s:4:\"type\";s:6:\"string\";}s:6:\"origin\";O:8:\"stdClass\":2:{s:11:\"description\";s:281:\"This
  car rental company office location ID. If this is an airport location, this will
  be the airport's <a href=\"https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code\">IATA
  code</a>. Otherwise, this is a custom value provided by the car rental provider.\";s:4:\"type\";s:6:\"string\";}s:7:\"pick_up\";O:8:\"stdClass\":2:{s:11:\"description\";s:165:\"Date
  on which the car rental will be collected from the car rental location. <a href=\"https://en.wikipedia.org/wiki/ISO_8601\">ISO
  8601</a> date format yyyy-MM-ddTHH.\";s:4:\"type\";s:6:\"string\";}s:8:\"provider\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Company\";s:11:\"description\";s:48:\"Details
  of the car company offering this rental.\";}s:12:\"traveler_ids\";O:8:\"stdClass\":3:{s:11:\"description\";s:148:\"Traveler
  identifiers to indicate the travelers to whom this car rental applies. Generally,
  only drivers of the vehicle will be marked in this array.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:6:{i:0;s:2:\"id\";i:1;s:8:\"provider\";i:2;s:7:\"pick_up\";i:3;s:8:\"drop_off\";i:4;s:6:\"origin\";i:5;s:3:\"car\";}}s:25:\"CarReservationBookingInfo\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"reservation_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:146:\"The
  identifier of this reservation in the car rental provider's system. This should
  be provided at the rental office to identify your reservation.\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:177:\"An
  enumeration to represent the reservation status for this car rental. For example&colon;
  CONFIRMED, CANCELLED, REQUESTED, REJECTED, PENDING_CANCELLATION, PENDING_CONFIRMATION.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:16:\"reservation_code\";i:1;s:6:\"status\";}}s:17:\"CarSearchResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"results\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/CarSearchResult\";}s:4:\"type\";s:5:\"array\";}}}s:15:\"CarSearchResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"airport\";O:8:\"stdClass\":2:{s:11:\"description\";s:92:\"The
  exact quality of this parameter depends on the provider but it's usually quite accurate.\";s:4:\"type\";s:6:\"string\";}s:4:\"cars\";O:8:\"stdClass\":3:{s:11:\"description\";s:79:\"Further
  details about each of the vehicles offered by this car rental provider.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Vehicle\";}s:4:\"type\";s:5:\"array\";}s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Geolocation\";s:11:\"description\";s:143:\"This
  car rental company's approximate geolocation. The exact quality of this parameter
  depends on the provider but it's usually quite accurate.\";}s:8:\"provider\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Company\";s:11:\"description\";s:48:\"Details
  of the car company offering this rental.\";}}s:8:\"required\";a:1:{i:0;s:8:\"provider\";}}s:11:\"CarrierInfo\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"logos\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:19:\"#/definitions/Logos\";s:11:\"description\";s:42:\"Logos
  of the airline in a variety of sizes\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:27:\"Display
  name of the airline\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"name\";i:1;s:5:\"logos\";}}s:11:\"CarrierMeta\";O:8:\"stdClass\":2:{s:20:\"additionalProperties\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/CarrierInfo\";}s:4:\"type\";s:6:\"object\";}s:15:\"CityInformation\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:279:\"The
  <a href=\"https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code\">IATA
  code</a> of this city. If you intend to make a flight search from the output of
  this call, I recommend using this as your input parameter as it generally gives
  the best results.\";s:4:\"type\";s:6:\"string\";}s:7:\"country\";O:8:\"stdClass\":2:{s:11:\"description\";s:130:\"The
  <a href=\"http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2\">ISO 3166-1 alpha-2 country
  code</a> in which this city can be found.\";s:4:\"type\";s:6:\"string\";}s:8:\"currency\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"The
  ISO-4217 currency code of the official local currency at this location\";s:4:\"type\";s:6:\"string\";}s:11:\"geonames_ID\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"The
  ID of this city in the open-sourced Geonames DB\";s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Geolocation\";s:11:\"description\";s:137:\"This
  city's approximate geolocation. The exact center of a city is often not an exact
  location, so be aware that this might not be exact.\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"The
  name of this city, in English\";s:4:\"type\";s:6:\"string\";}s:5:\"state\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"The
  state code of this city, if applicable\";s:4:\"type\";s:6:\"string\";}s:8:\"timezone\";O:8:\"stdClass\":2:{s:11:\"description\";s:141:\"The
  <a href=\"http://en.wikipedia.org/wiki/List_of_tz_database_time_zones\">Olson format</a>
  name of the timezone in which this city is located\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:6:{i:0;s:4:\"code\";i:1;s:11:\"geonames_ID\";i:2;s:4:\"name\";i:3;s:7:\"country\";i:4;s:8:\"location\";i:5;s:8:\"timezone\";}}s:7:\"Company\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"company_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"The
  Amadeus 2-character company code of this provider.\";s:4:\"type\";s:6:\"string\";}s:12:\"company_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"The
  long name of the provider corresponding to the above code.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:12:\"company_code\";i:1;s:12:\"company_name\";}}s:7:\"Contact\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"detail\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"How
  that contact should be used, eg. a phone number\";s:4:\"type\";s:6:\"string\";}s:7:\"purpose\";O:8:\"stdClass\":2:{s:11:\"description\";s:89:\"The
  reason or channel of that contact method. For example&colon; HOME, EMERGENCY, MOBILE.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"The
  method of contact, such as phone or fax.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"type\";i:1;s:6:\"detail\";}}s:5:\"Error\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"message\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"more_info\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:2:{i:0;s:6:\"status\";i:1;s:7:\"message\";}}s:28:\"ExtensiveTrainSearchResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"results\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:40:\"#/definitions/ExtensiveTrainSearchResult\";}s:4:\"type\";s:5:\"array\";}}}s:26:\"ExtensiveTrainSearchResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"destination\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Station\";s:11:\"description\";s:74:\"Station
  object with details about the destination station for this search.\";}s:11:\"itineraries\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"Routes
  from the origin to the destination.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/TrainSearchItinerary\";}s:4:\"type\";s:5:\"array\";}s:6:\"origin\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Station\";s:11:\"description\";s:69:\"Station
  object with details about the origin station for this search.\";}}s:8:\"required\";a:3:{i:0;s:6:\"origin\";i:1;s:11:\"destination\";i:2;s:11:\"itineraries\";}}s:21:\"ExtremeSearchResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"currency\";O:8:\"stdClass\":2:{s:11:\"description\";s:75:\"<a
  href=\"http://en.wikipedia.org/wiki/ISO_4217\">ISO 4217</a> currency code.\";s:4:\"type\";s:6:\"string\";}s:6:\"origin\";O:8:\"stdClass\":2:{s:11:\"description\";s:106:\"<a
  href=\"https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code\">IATA
  code</a>\";s:4:\"type\";s:6:\"string\";}s:7:\"results\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/ExtremeSearchResult\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:3:{i:0;s:6:\"origin\";i:1;s:8:\"currency\";i:2;s:7:\"results\";}}s:19:\"ExtremeSearchResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"airline\";O:8:\"stdClass\":2:{s:11:\"description\";s:380:\"The
  2 character alphanumeric <a href=\"https://en.wikipedia.org/wiki/Airline_codes\">IATA
  airline code</a> of the airline that is responsible for selling the traveler this
  flight - also known as the Validating Carrier. Airlines are specified using <a href=\"https://en.wikipedia.org/wiki/Airline_codes\"><a
  href=\"https://en.wikipedia.org/wiki/Airline_codes\">IATA airline code</a>s</a>\";s:4:\"type\";s:6:\"string\";}s:14:\"departure_date\";O:8:\"stdClass\":3:{s:11:\"description\";s:153:\"The
  date departure at the origin, in <a href=\"https://en.wikipedia.org/wiki/ISO_8601\">ISO
  8601</a> date format yyyy-MM-dd, to go to the above destination\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:11:\"destination\";O:8:\"stdClass\":2:{s:11:\"description\";s:188:\"The
  <a href=\"https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code\">IATA
  code</a> of the city or airport to which the traveler may go, from the provided
  origin\";s:4:\"type\";s:6:\"string\";}s:5:\"price\";O:8:\"stdClass\":2:{s:11:\"description\";s:172:\"The
  minimum total price for one adult passenger for a round trip from the origin to
  the destination and back. Always a string, formatted correctly for the provided
  currency\";s:4:\"type\";s:6:\"string\";}s:11:\"return_date\";O:8:\"stdClass\":3:{s:11:\"description\";s:327:\"The
  date at which the flight from the destination to the origin will depart from the
  destination. The date is in <a href=\"https://en.wikipedia.org/wiki/ISO_8601\">ISO
  8601</a> date format yyyy-MM-dd, in the local date of the origin. This field will
  not be present in the response if the one-way request parameter is set to true.\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:11:\"destination\";i:1;s:5:\"price\";}}s:4:\"Fare\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"tax\";O:8:\"stdClass\":2:{s:11:\"description\";s:140:\"The
  tax applied per-passenger, for this passenger type, for this itinerary. Some of
  this tax may be refundable in the event of cancellation.\";s:4:\"type\";s:6:\"string\";}s:10:\"total_fare\";O:8:\"stdClass\":2:{s:11:\"description\";s:152:\"The
  total price, including taxes per-passenger, for this passenger type, for this itinerary.
  Always a string, formatted correctly for the given currency\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:10:\"total_fare\";i:1;s:3:\"tax\";}}s:16:\"FareRestrictions\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"change_penalties\";O:8:\"stdClass\":2:{s:11:\"description\";s:132:\"Indicates
  whether this fare allows the itinerary to be changed under some circumstances. Note
  that a change fee or penalty may apply\";s:4:\"type\";s:7:\"boolean\";}s:10:\"refundable\";O:8:\"stdClass\":2:{s:11:\"description\";s:114:\"Indicates
  whether this fare is refundable under some circumstances. Note that a refund charge
  or penalty may apply\";s:4:\"type\";s:7:\"boolean\";}}s:8:\"required\";a:2:{i:0;s:10:\"refundable\";i:1;s:16:\"change_penalties\";}}s:4:\"Fees\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"creditcard_fees\";O:8:\"stdClass\":2:{s:11:\"description\";s:104:\"The
  cost of any fees for common credit cards, such as Visa or Mastercard, in addition
  to the total price\";s:4:\"type\";s:6:\"string\";}s:12:\"service_fees\";O:8:\"stdClass\":2:{s:11:\"description\";s:68:\"The
  cost of any required service fees in addition to the total price\";s:4:\"type\";s:6:\"string\";}}}s:28:\"FlightReservationBookingInfo\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:22:\"airline_record_locator\";O:8:\"stdClass\":2:{s:11:\"description\";s:115:\"6
  character identifier of this travel record on the airline's system. May be the same
  as the global record locator.\";s:4:\"type\";s:6:\"string\";}s:12:\"booking_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:146:\"The
  Reservation Booking Designator code that determines the quality and terms of the
  flight offered for the given price. A single letter from A..Z\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:164:\"An
  enumeration to represent the reservation status for this seat on this flight. For
  example&colon; CONFIRMED, CANCELLED, RESCHEDULED, FLIGHT_CANCELLED, WAITLISTED.\";s:4:\"type\";s:6:\"string\";}s:12:\"travel_class\";O:8:\"stdClass\":2:{s:11:\"description\";s:120:\"The
  cabin class offered on this flight. An enumeration that will read either ECONOMY,
  PREMIUM_ECONOMY, BUSINESS or FIRST\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:12:\"travel_class\";i:1;s:12:\"booking_code\";i:2;s:22:\"airline_record_locator\";i:3;s:6:\"status\";}}s:22:\"FlightReservationBound\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"flights\";O:8:\"stdClass\":3:{s:11:\"description\";s:194:\"The
  individual flights that make up this itinerary. These flights are presented in the
  order required to fly from the origin to the destination, and the array of flights
  represents a connection.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:38:\"#/definitions/FlightReservationSegment\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:7:\"flights\";}}s:24:\"FlightReservationSegment\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:10:\"arrives_at\";O:8:\"stdClass\":2:{s:11:\"description\";s:186:\"Date
  and time of departure at the destination, in <a href=\"https://en.wikipedia.org/wiki/ISO_8601\">ISO
  8601</a>  date format yyyy-MM-ddTHH:mm in the local time at the destination airport\";s:4:\"type\";s:6:\"string\";}s:12:\"booking_info\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/FlightReservationBookingInfo\";s:11:\"description\";s:109:\"A
  booking information object with additional details about how the quality of this
  flight at the given price.\";}s:10:\"departs_at\";O:8:\"stdClass\":2:{s:11:\"description\";s:176:\"Date
  and time of departure at the origin, in <a href=\"https://en.wikipedia.org/wiki/ISO_8601\">ISO
  8601</a>  date format yyyy-MM-ddTHH:mm in the local time at the origin airport\";s:4:\"type\";s:6:\"string\";}s:11:\"destination\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Airport\";s:11:\"description\";s:68:\"Information
  on the destination airport, at which this flight arrives\";}s:13:\"flight_number\";O:8:\"stdClass\":2:{s:11:\"description\";s:197:\"The
  identifier that the airline uses for this flight route. This is most commonly -
  but not always - a number. When combined with the airline and date, it identifies
  an individual aircraft's flight\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:137:\"Uniquely
  identifies this flight in this travel record. This ID is persistent, and remains
  the same for the lifetime of the travel record.\";s:4:\"type\";s:6:\"string\";}s:17:\"marketing_airline\";O:8:\"stdClass\":2:{s:11:\"description\";s:169:\"The
  2 character alphanumeric <a href=\"https://en.wikipedia.org/wiki/Airline_codes\">IATA
  airline code</a> of the airline that is responsible for the traveller this flight\";s:4:\"type\";s:6:\"string\";}s:17:\"operating_airline\";O:8:\"stdClass\":2:{s:11:\"description\";s:305:\"The
  2 character alphanumeric <a href=\"https://en.wikipedia.org/wiki/Airline_codes\">IATA
  airline code</a> of the airline that is providing the aircraft for this flight.
  Note that in the USA, if the marketing and operating carrier are different, you
  are legally required to display this in your application.\";s:4:\"type\";s:6:\"string\";}s:6:\"origin\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Airport\";s:11:\"description\";s:65:\"Information
  on the origin airport, from which this flight departs\";}s:12:\"traveler_ids\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"Traveler
  identifiers to indicate the travelers to whom this ticket applies.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:10:{i:0;s:2:\"id\";i:1;s:10:\"departs_at\";i:2;s:10:\"arrives_at\";i:3;s:6:\"origin\";i:4;s:11:\"destination\";i:5;s:17:\"marketing_airline\";i:6;s:17:\"operating_airline\";i:7;s:13:\"flight_number\";i:8;s:12:\"traveler_ids\";i:9;s:12:\"booking_info\";}}s:23:\"FlightSearchBookingInfo\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"booking_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:146:\"The
  Reservation Booking Designator code that determines the quality and terms of the
  flight offered for the given price. A single letter from A..Z\";s:4:\"type\";s:6:\"string\";}s:10:\"cabin_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:103:\"A
  single character encoding of the travel_class, generally only available on responses
  from affiliates.\";s:4:\"type\";s:6:\"string\";}s:10:\"fare_basis\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"See
  https://en.wikipedia.org/wiki/Fare_basis_code for the fare being offered.\";s:4:\"type\";s:6:\"string\";}s:11:\"fare_family\";O:8:\"stdClass\":2:{s:11:\"description\";s:133:\"Enumeration
  of the type of fare which this airline is providing, eg. VALUE. This is generally
  only available for affiliate responses.\";s:4:\"type\";s:6:\"string\";}s:15:\"seats_remaining\";O:8:\"stdClass\":2:{s:11:\"description\";s:184:\"The
  minimum number of seats that are still available for this price at the time of search.
  If the value is a 4 or above, there are often more than this number of seats still
  available.\";s:4:\"type\";s:6:\"string\";}s:12:\"travel_class\";O:8:\"stdClass\":2:{s:11:\"description\";s:120:\"The
  cabin class offered on this flight. An enumeration that will read either ECONOMY,
  PREMIUM_ECONOMY, BUSINESS or FIRST\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:12:\"travel_class\";i:1;s:12:\"booking_code\";i:2;s:15:\"seats_remaining\";}}s:17:\"FlightSearchBound\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"duration\";O:8:\"stdClass\":2:{s:11:\"description\";s:81:\"The
  duration of this bound, including layover time, expressed in the format hh:mm\";s:4:\"type\";s:6:\"string\";}s:7:\"flights\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/FlightSearchSegment\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:7:\"flights\";}}s:21:\"FlightSearchItinerary\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"inbound\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/FlightSearchBound\";s:11:\"description\";s:123:\"The
  bound container for the flight information for bringing the traveler from the destination
  airport to the origin airport\";}s:8:\"outbound\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/FlightSearchBound\";s:11:\"description\";s:123:\"The
  bound container for the flight information for bringing the traveler from the origin
  airport to the destination airport\";}}s:8:\"required\";a:1:{i:0;s:8:\"outbound\";}}s:17:\"FlightSearchPrice\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:15:\"price_per_adult\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Fare\";s:11:\"description\";s:52:\"The
  per-passenger fare for each adult on this flight\";}s:15:\"price_per_child\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Fare\";s:11:\"description\";s:52:\"The
  per-passenger fare for each child on this flight\";}s:16:\"price_per_infant\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Fare\";s:11:\"description\";s:53:\"The
  per-passenger fare for each infant on this flight\";}s:12:\"restrictions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/FareRestrictions\";s:11:\"description\";s:42:\"The
  restrictions associated with this fare\";}s:11:\"total_price\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"The
  total price for all the requested passengers for this flight\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:11:\"total_price\";i:1;s:15:\"price_per_adult\";i:2;s:12:\"restrictions\";}}s:19:\"FlightSearchSegment\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:8:\"aircraft\";O:8:\"stdClass\":2:{s:11:\"description\";s:162:\"The
  <a href=\"http://www.jacanaent.com/JacTechLib/07Aviation/AircraftTypeCodes.txt\">IATA
  aircraft type designator</a> of aircraft that will be used for this flight\";s:4:\"type\";s:6:\"string\";}s:10:\"arrives_at\";O:8:\"stdClass\":2:{s:11:\"description\";s:186:\"Date
  and time of departure at the destination, in <a href=\"https://en.wikipedia.org/wiki/ISO_8601\">ISO
  8601</a>  date format yyyy-MM-ddTHH:mm in the local time at the destination airport\";s:4:\"type\";s:6:\"string\";}s:12:\"booking_info\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:37:\"#/definitions/FlightSearchBookingInfo\";s:11:\"description\";s:109:\"A
  booking information object with additional details about how the quality of this
  flight at the given price.\";}s:10:\"departs_at\";O:8:\"stdClass\":2:{s:11:\"description\";s:176:\"Date
  and time of departure at the origin, in <a href=\"https://en.wikipedia.org/wiki/ISO_8601\">ISO
  8601</a>  date format yyyy-MM-ddTHH:mm in the local time at the origin airport\";s:4:\"type\";s:6:\"string\";}s:11:\"destination\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Airport\";s:11:\"description\";s:68:\"Information
  on the destination airport, at which this flight arrives\";}s:13:\"flight_number\";O:8:\"stdClass\":2:{s:11:\"description\";s:197:\"The
  identifier that the airline uses for this flight route. This is most commonly -
  but not always - a number. When combined with the airline and date, it identifies
  an individual aircraft's flight\";s:4:\"type\";s:6:\"string\";}s:17:\"marketing_airline\";O:8:\"stdClass\":2:{s:11:\"description\";s:169:\"The
  2 character alphanumeric <a href=\"https://en.wikipedia.org/wiki/Airline_codes\">IATA
  airline code</a> of the airline that is responsible for the traveller this flight\";s:4:\"type\";s:6:\"string\";}s:17:\"operating_airline\";O:8:\"stdClass\":2:{s:11:\"description\";s:305:\"The
  2 character alphanumeric <a href=\"https://en.wikipedia.org/wiki/Airline_codes\">IATA
  airline code</a> of the airline that is providing the aircraft for this flight.
  Note that in the USA, if the marketing and operating carrier are different, you
  are legally required to display this in your application.\";s:4:\"type\";s:6:\"string\";}s:6:\"origin\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Airport\";s:11:\"description\";s:65:\"Information
  on the origin airport, from which this flight departs\";}}s:8:\"required\";a:8:{i:0;s:10:\"departs_at\";i:1;s:10:\"arrives_at\";i:2;s:6:\"origin\";i:3;s:11:\"destination\";i:4;s:17:\"marketing_airline\";i:5;s:17:\"operating_airline\";i:6;s:13:\"flight_number\";i:7;s:12:\"booking_info\";}}s:12:\"FlightTicket\";O:8:\"stdClass\":3:{s:11:\"description\";s:111:\"The
  flight itineraries with a ticket or transitional stored ticket (TST) in this reservation,
  and their prices.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"flight_bounds\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"The
  flight itinerary for this ticket.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/FlightReservationBound\";}s:4:\"type\";s:5:\"array\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:137:\"Uniquely
  identifies this ticket in this travel record. This ID is persistent, and remains
  the same for the lifetime of the travel record.\";s:4:\"type\";s:6:\"string\";}s:5:\"price\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Amount\";s:11:\"description\";s:24:\"The
  cost of this ticket.\";}s:12:\"traveler_ids\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"Traveler
  identifiers to indicate the travelers to whom this ticket applies.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:4:{i:0;s:2:\"id\";i:1;s:5:\"price\";i:2;s:12:\"traveler_ids\";i:3;s:13:\"flight_bounds\";}}s:25:\"FlightTrafficSearchResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"destination\";O:8:\"stdClass\":2:{s:11:\"description\";s:188:\"The
  <a href=\"https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code\">IATA
  code</a> of the city or airport to which the traveler may go, from the provided
  origin\";s:4:\"type\";s:6:\"string\";}s:7:\"flights\";O:8:\"stdClass\":2:{s:11:\"description\";s:105:\"Number
  of flights from origin to destination during the search period provided. This field
  is deprecated.\";s:4:\"type\";s:7:\"integer\";}s:6:\"period\";O:8:\"stdClass\":2:{s:11:\"description\";s:109:\"The
  date period, in <a href=\"https://en.wikipedia.org/wiki/ISO_8601\">ISO 8601</a>
  date format YYYY-MM or YYYY\";s:4:\"type\";s:6:\"string\";}s:9:\"travelers\";O:8:\"stdClass\":2:{s:11:\"description\";s:81:\"Number
  of passengers from origin to destination during the search period provided\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:3:{i:0;s:6:\"period\";i:1;s:11:\"destination\";i:2;s:9:\"travelers\";}}s:20:\"FrequentTravelerCard\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"card_number\";O:8:\"stdClass\":2:{s:11:\"description\";s:83:\"The
  identifying number (or string) marked on the card. For example&colon; 12345678.\";s:4:\"type\";s:6:\"string\";}s:12:\"company_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:161:\"The
  identifying code of the issuer, within the context of its type. For example&colon;
  BA (and if the issuer type is AIRLINE, this indicates BA=British Airways).\";s:4:\"type\";s:6:\"string\";}s:11:\"issuer_type\";O:8:\"stdClass\":2:{s:11:\"description\";s:142:\"The
  type of organization that issued the card. This is an enumeration, possible values
  are AIRLINE, HOTEL_CHAIN, RENTAL_CAR_PROVIDER, RAILWAY.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:11:\"issuer_type\";i:1;s:12:\"company_code\";i:2;s:11:\"card_number\";}}s:11:\"Geolocation\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"An
  object to describe the coordinates of a map location\";s:10:\"properties\";O:8:\"stdClass\":3:{s:16:\"google_maps_link\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"For
  YapQ APIs only  - a link to a google map rendering of this location.\";s:4:\"type\";s:6:\"string\";}s:8:\"latitude\";O:8:\"stdClass\":2:{s:11:\"description\";s:83:\"The
  north-south coordinate of this location, in decimal degrees, between -90 and 90\";s:4:\"type\";s:6:\"number\";}s:9:\"longitude\";O:8:\"stdClass\":2:{s:11:\"description\";s:83:\"The
  east-west coordinate of this location, in decimal degrees, between -180 and 180\";s:4:\"type\";s:6:\"number\";}}s:8:\"required\";a:2:{i:0;s:8:\"latitude\";i:1;s:9:\"longitude\";}}s:21:\"HotelPropertyResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":12:{s:7:\"address\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Address\";}s:9:\"amenities\";O:8:\"stdClass\":3:{s:11:\"description\";s:295:\"An
  array of amenity objects to the user what facilities this hotel might provide, such
  as a pool or parking. \nIf this array is empty, it does not necessarily mean that
  there are no amenities available at this hotel, it could also mean that the hotel
  does not list their amenities in our search!\n\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Amenity\";}s:4:\"type\";s:5:\"array\";}s:6:\"awards\";O:8:\"stdClass\":3:{s:11:\"description\";s:313:\"An
  array of hotel award objects to give the user an expectation of the service quality
  at this hotel. This can be used to indicate, for example, the star rating of a hotel.
  If this array is empty, it does not necessarily mean that the hotel has no awards,
  it could simply mean that they didn't tell us about them!\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Award\";}s:4:\"type\";s:5:\"array\";}s:8:\"contacts\";O:8:\"stdClass\":3:{s:11:\"description\";s:112:\"An
  array of contact objects to tell the user how to contact the hotel. Typically includes
  a phone and fax number\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Contact\";}s:4:\"type\";s:5:\"array\";}s:6:\"images\";O:8:\"stdClass\":3:{s:11:\"description\";s:348:\"A
  selection of image objects, showing pictures of the hotel building, the entrance
  or some rooms, to give an indication of what to expect at this hotel. Note that
  redistribution of images outside Amadeus products requires licensing from our image
  providers: Leonardo and Ice Portal. Thus image links are returned for whitelisted
  Amadeus users only.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Image\";}s:4:\"type\";s:5:\"array\";}s:8:\"location\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Geolocation\";}s:14:\"min_daily_rate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Amount\";s:11:\"description\";s:130:\"The
  lowest price per day that the hotel offers between the given check-in and check-out
  dates. Extra taxes may apply to this rate.\";}s:24:\"more_rooms_at_this_hotel\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Link\";s:11:\"description\";s:99:\"Provides
  a ready-to-use link to make a follow up request to find more available rooms at
  this hotel\";}s:13:\"property_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:201:\"The
  8 character property code of this given hotel. The first 2 characters of this code
  are the chain code that can be specified in the input. The remaining elements are
  proprietary to each hotel chain.\";s:4:\"type\";s:6:\"string\";}s:13:\"property_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  name of this hotel.\";s:4:\"type\";s:6:\"string\";}s:5:\"rooms\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"Information
  on currently available rooms at this hotel.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/HotelRoom\";}s:4:\"type\";s:5:\"array\";}s:11:\"total_price\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Amount\";s:11:\"description\";s:85:\"The
  lowest price of a stay, from the given check in date to the given check out date.\";}}s:8:\"required\";a:5:{i:0;s:13:\"property_code\";i:1;s:13:\"property_name\";i:2;s:8:\"location\";i:3;s:11:\"total_price\";i:4;s:14:\"min_daily_rate\";}}s:16:\"HotelReservation\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:12:\"booking_info\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/HotelReservationBookingInfo\";s:11:\"description\";s:61:\"Additional
  details and status of this hotel room reservation.\";}s:8:\"check_in\";O:8:\"stdClass\":3:{s:11:\"description\";s:152:\"Date
  on which the guest will begin their stay in the hotel, in the <a href=\"https://en.wikipedia.org/wiki/ISO_8601\">ISO
  8601</a> date format yyyy-MM-dd.\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:9:\"check_out\";O:8:\"stdClass\":3:{s:11:\"description\";s:150:\"Date
  on which the guest will end their stay in the hotel, in the <a href=\"https://en.wikipedia.org/wiki/ISO_8601\">ISO
  8601</a> date format yyyy-MM-dd.\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:153:\"Uniquely
  identifies this hotel room reservation in this travel record. This ID is persistent,
  and remains the same for the lifetime of the travel record.\";s:4:\"type\";s:6:\"string\";}s:13:\"property_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:201:\"The
  8 character property code of this given hotel. The first 2 characters of this code
  are the chain code that can be specified in the input. The remaining elements are
  proprietary to each hotel chain.\";s:4:\"type\";s:6:\"string\";}s:13:\"property_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"The
  name of this hotel.\";s:4:\"type\";s:6:\"string\";}s:11:\"total_price\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Amount\";s:11:\"description\";s:87:\"The
  total price of this stay, from the given check in date to the given check out date.\";}s:12:\"traveler_ids\";O:8:\"stdClass\":3:{s:11:\"description\";s:161:\"Traveler
  identifiers to indicate the travelers to whom this hotel room reservation applies.
  Generally all non-infant room occupants will be marked in this array.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:7:{i:0;s:2:\"id\";i:1;s:8:\"check_in\";i:2;s:9:\"check_out\";i:3;s:13:\"property_code\";i:4;s:13:\"property_name\";i:5;s:12:\"traveler_ids\";i:6;s:12:\"booking_info\";}}s:27:\"HotelReservationBookingInfo\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"reservation_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:138:\"The
  identifier of this reservation in the hotel chain's system. This should be provided
  at the check-in desk to identify your reservation.\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:130:\"An
  enumeration to represent the reservation status for this hotel reservation. For
  example&colon; CONFIRMED, CANCELLED, REQUESTED.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:16:\"reservation_code\";i:1;s:6:\"status\";}}s:9:\"HotelRoom\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:12:\"booking_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:82:\"The
  booking code identifies a product at the hotel. It can be used to book a room.\";s:4:\"type\";s:6:\"string\";}s:12:\"descriptions\";O:8:\"stdClass\":3:{s:11:\"description\";s:71:\"An
  array of description strings describing room and rate types features\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:14:\"rate_plan_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"A
  3 letter code to designate different rates base on traveler type.\";s:4:\"type\";s:6:\"string\";}s:14:\"rate_type_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:70:\"The
  unique rate code used by the hotel chain to price this room's rate\";s:4:\"type\";s:6:\"string\";}s:5:\"rates\";O:8:\"stdClass\":3:{s:11:\"description\";s:96:\"The
  total price of staying in this room from the given check-in date to the given check-out
  date\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/PeriodRate\";}s:4:\"type\";s:5:\"array\";}s:14:\"room_type_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"A
  3-letter code to identify a specific room type.\";s:4:\"type\";s:6:\"string\";}s:14:\"room_type_info\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/RoomInfo\";}s:12:\"total_amount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Amount\";s:11:\"description\";s:96:\"The
  total price of staying in this room from the given check-in date to the given check-out
  date\";}}s:8:\"required\";a:1:{i:0;s:12:\"booking_code\";}}s:19:\"HotelSearchResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"results\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/HotelPropertyResponse\";}s:4:\"type\";s:5:\"array\";}}}s:5:\"Image\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"category\";O:8:\"stdClass\":2:{s:11:\"description\";s:150:\"The
  enumerated category of this image type. Common values include EXTERIOR, GUEST_ROOM,
  SUITE, LOBBY, RESTAURANT, LOUNGE, LOGO, MAP, MISC and UNKNOWN.\";s:4:\"type\";s:6:\"string\";}s:6:\"height\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"The
  pixel height of the image at the provided URL.\";s:4:\"type\";s:7:\"integer\";}s:3:\"url\";O:8:\"stdClass\":2:{s:11:\"description\";s:72:\"The
  URL of the hotel image of this given category and size, for display.\";s:4:\"type\";s:6:\"string\";}s:5:\"width\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"The
  pixel width of the image at the provided URL.\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:1:{i:0;s:3:\"url\";}}s:9:\"ImageSize\";O:8:\"stdClass\":2:{s:11:\"description\";s:127:\"An
  image size selector used in the YapQ API response. The size should correspond the
  the image_size parameter used during input\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"hd\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Image\";}s:5:\"large\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Image\";}s:6:\"medium\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Image\";}s:5:\"small\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Image\";}}}s:6:\"Infant\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"date_of_birth\";O:8:\"stdClass\":3:{s:11:\"description\";s:176:\"An
  optional <a href=\"https://en.wikipedia.org/wiki/ISO_8601\">ISO 8601</a> date indicating
  the birth date of the infant, as provided by the agent. For example&colon; 1972-02-19.\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:10:\"first_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:117:\"The
  first name of the infant, as entered by the agent, in upper-case. May include middle
  names, initials or prefixes.\";s:4:\"type\";s:6:\"string\";}s:9:\"last_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:217:\"The
  last name of the infant, as entered by the agent, in upper-case. If no value is
  provided, the last name of the infant can generally be assumed to be the same as
  that of the traveler which whom they are associated.\";s:4:\"type\";s:6:\"string\";}}}s:4:\"Link\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"href\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"Hyperlink
  reference URL to the target\";s:6:\"format\";s:3:\"url\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"href\";}}s:16:\"LocationResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"airports\";O:8:\"stdClass\":3:{s:11:\"description\";s:217:\"Information
  for any IATA airport located in the provided <a href=\"https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code\">IATA
  code</a> of the city or which corresponds to the provided code\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/AirportInformation\";}s:4:\"type\";s:5:\"array\";}s:4:\"city\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/CityInformation\";s:11:\"description\";s:177:\"Information
  for any <a href=\"https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code\">IATA
  code</a> of the city which corresponds to the provided code\";}}}s:5:\"Logos\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"medium\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"URL
  to logo of resolution 60x60px\";s:4:\"type\";s:6:\"string\";}s:5:\"small\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"URL
  to logo of resolution 27x27px\";s:4:\"type\";s:6:\"string\";}}}s:21:\"LowFareSearchResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"currency\";O:8:\"stdClass\":2:{s:11:\"description\";s:75:\"<a
  href=\"http://en.wikipedia.org/wiki/ISO_4217\">ISO 4217</a> currency code.\";s:4:\"type\";s:6:\"string\";}s:7:\"results\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/LowFareSearchResult\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:8:\"currency\";}}s:19:\"LowFareSearchResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"fare\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/FlightSearchPrice\";s:11:\"description\";s:80:\"The
  price and fare information which applies to all itineraries in this response\";}s:11:\"itineraries\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/FlightSearchItinerary\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:4:\"fare\";}}s:7:\"Message\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"A
  free text message that provides more information.\";s:4:\"type\";s:6:\"string\";}s:8:\"severity\";O:8:\"stdClass\":2:{s:11:\"description\";s:89:\"An
  indicator of the importance of this message as part of the flow. May be ERROR or
  INFO.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:93:\"An
  indicator of the source or type of message that has been generated. May be USER
  or SYSTEM.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:8:\"severity\";i:1;s:4:\"type\";i:2;s:7:\"message\";}}s:14:\"NearestAirport\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:18:\"aircraft_movements\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"The
  annual number of aircraft movements at that airport.\";s:4:\"type\";s:7:\"integer\";}s:7:\"airport\";O:8:\"stdClass\":2:{s:11:\"description\";s:226:\"The
  3 letter IATA airport code of this given airport. You can use this as an input parameter
  for a low-fare flight search, to get more specific results than the city code, but
  inspiration search works best using the city code.\";s:4:\"type\";s:6:\"string\";}s:12:\"airport_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"The
  name of this airport, in UTF-8 format\";s:4:\"type\";s:6:\"string\";}s:4:\"city\";O:8:\"stdClass\":2:{s:11:\"description\";s:181:\"The
  three letter <a href=\"https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code\">IATA
  code</a> of the city of the city in which this airport is located.\";s:4:\"type\";s:6:\"string\";}s:9:\"city_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"The
  English name of the city in which this airport is located\";s:4:\"type\";s:6:\"string\";}s:8:\"distance\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"The
  distance in km from the point specified in the query, to this location\";s:4:\"type\";s:6:\"number\";}s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Geolocation\";s:11:\"description\";s:71:\"
  \ An object containing the longitude and latitude of the given airport.\";}s:5:\"state\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"The
  state code of this city, if applicable\";s:4:\"type\";s:6:\"string\";}s:8:\"timezone\";O:8:\"stdClass\":2:{s:11:\"description\";s:144:\"The
  <a href=\"http://en.wikipedia.org/wiki/List_of_tz_database_time_zones\">Olson format</a>
  name of the timezone in which this airport is located\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:7:{i:0;s:7:\"airport\";i:1;s:12:\"airport_name\";i:2;s:4:\"city\";i:3;s:9:\"city_name\";i:4;s:8:\"location\";i:5;s:8:\"distance\";i:6;s:8:\"timezone\";}}s:16:\"OtherReservation\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:12:\"booking_info\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/OtherReservationBookingInfo\";s:11:\"description\";s:31:\"The
  status of this reservation.\";}s:4:\"date\";O:8:\"stdClass\":3:{s:11:\"description\";s:141:\"Date
  on which this other reservation will begin, in the <a href=\"https://en.wikipedia.org/wiki/ISO_8601\">ISO
  8601</a> date format yyyy-MM-dd.\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:92:\"A
  free-text description of this reservation, that will inform you of its functional
  meaning.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:148:\"Uniquely
  identifies this other reservation in this travel record. This ID is persistent,
  and remains the same for the lifetime of the travel record.\";s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:11:\"description\";s:174:\"A
  3 letter <a href=\"https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code\">IATA
  code</a> that identifies where this other reservation will occur.\";s:4:\"type\";s:6:\"string\";}s:12:\"traveler_ids\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"Traveler
  identifiers to indicate the travelers to whom this reservation applies.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:5:{i:0;s:2:\"id\";i:1;s:4:\"date\";i:2;s:8:\"location\";i:3;s:12:\"traveler_ids\";i:4;s:12:\"booking_info\";}}s:27:\"OtherReservationBookingInfo\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:184:\"An
  enumeration to represent the reservation status for this hotel reservation. For
  example&colon; CONFIRMED, CANCELLED, REQUESTED, REJECTED, PENDING_CANCELLATION,
  PENDING_CONFIRMATION.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:6:\"status\";}}s:10:\"PeriodRate\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:8:\"currency\";O:8:\"stdClass\":2:{s:11:\"description\";s:88:\"<a
  href=\"http://en.wikipedia.org/wiki/ISO_4217\">ISO 4217</a> currency code of this
  rate.\";s:4:\"type\";s:6:\"string\";}s:8:\"end_date\";O:8:\"stdClass\":3:{s:11:\"description\";s:122:\"The
  date on which this rate ends, in <a href=\"https://en.wikipedia.org/wiki/ISO_8601\">ISO
  8601</a> date format yyyy-MM-dd.\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:5:\"price\";O:8:\"stdClass\":2:{s:11:\"description\";s:108:\"Total
  amount in the given currency per day of this rate, formatted appropriately. For
  example&colon; 194.99.\";s:4:\"type\";s:6:\"number\";}s:10:\"start_date\";O:8:\"stdClass\":3:{s:11:\"description\";s:117:\"The
  start date of this rate, in <a href=\"https://en.wikipedia.org/wiki/ISO_8601\">ISO
  8601</a> date format yyyy-MM-dd.\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:10:\"start_date\";i:1;s:8:\"end_date\";i:2;s:8:\"currency\";i:3;s:5:\"price\";}}s:19:\"PointOfInterestCity\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"geoname_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"The
  Geonames ID of the location that was searched for\";s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Geolocation\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"The
  name of the location that was searched for\";s:4:\"type\";s:6:\"string\";}s:24:\"total_points_of_interest\";O:8:\"stdClass\":2:{s:11:\"description\";s:74:\"The
  total number of points_of_interest that YapQ has indexed for this city\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:3:{i:0;s:4:\"name\";i:1;s:8:\"location\";i:2;s:24:\"total_points_of_interest\";}}s:22:\"PointOfInterestDetails\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"A
  paragraph describing this point of interest\";s:4:\"type\";s:6:\"string\";}s:17:\"short_description\";O:8:\"stdClass\":2:{s:11:\"description\";s:28:\"A
  summary of the given point\";s:4:\"type\";s:6:\"string\";}s:14:\"wiki_page_link\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"A
  link to this point of interest&quot;s wikipedia page\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:17:\"short_description\";i:1;s:11:\"description\";i:2;s:14:\"wiki_page_link\";}}s:21:\"PointOfInterestResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:10:\"categories\";O:8:\"stdClass\":3:{s:11:\"description\";s:191:\"Array
  of descriptions indicating what type of point of interest this is. You can filter
  the results to include only certain categories of point of interest using the category
  input parameter.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}s:17:\"contextual_images\";O:8:\"stdClass\":3:{s:11:\"description\";s:170:\"Images
  taken at this point of interest. Note that these images might have nothing to do
  with the point itself, particularly if you have enabled the social_media parameter\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/ImageSize\";}s:4:\"type\";s:5:\"array\";}s:7:\"details\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/PointOfInterestDetails\";}s:10:\"geoname_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"The
  GeonamesID of this point of interest, if available\";s:4:\"type\";s:7:\"integer\";}s:6:\"grades\";O:8:\"stdClass\":3:{s:11:\"description\";s:23:\"Result
  availble grades.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"city_grade\";O:8:\"stdClass\":2:{s:11:\"description\";s:100:\"The
  ranking of this point of interest compared to other points in this city. 1 is the
  highest rated.\";s:4:\"type\";s:7:\"integer\";}s:10:\"yapq_grade\";O:8:\"stdClass\":2:{s:11:\"description\";s:157:\"Main
  YAPQ grade. A grade out of 5 for this point, rated against all points in the world
  and normalized among selected group of points. 5 is best, 0 is worst.\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:8:\"location\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Geolocation\";}s:10:\"main_image\";O:8:\"stdClass\":2:{s:11:\"description\";s:40:\"A
  link to an image of the given location\";s:4:\"type\";s:6:\"string\";}s:5:\"title\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Display
  name of a given point of interest\";s:4:\"type\";s:6:\"string\";}s:9:\"walk_time\";O:8:\"stdClass\":2:{s:11:\"description\";s:93:\"Time
  in minutes that it takes to walk from the searched coordinates to this Point of
  Interest\";s:4:\"type\";s:6:\"number\";}}s:8:\"required\";a:5:{i:0;s:5:\"title\";i:1;s:10:\"main_image\";i:2;s:6:\"grades\";i:3;s:10:\"categories\";i:4;s:8:\"location\";}}s:24:\"PointsOfInterestResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"current_city\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/PointOfInterestCity\";}s:18:\"points_of_interest\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/PointOfInterestResult\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:18:\"points_of_interest\";}}s:11:\"RailService\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:22:\"destination_station_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"ID
  of the destination rail station.\";s:4:\"type\";s:6:\"string\";}s:8:\"services\";O:8:\"stdClass\":3:{s:11:\"description\";s:154:\"An
  array of departure times at which trains depart from the origin station to this
  destination station. Times are in the ISO 8601 YYYY-MM-DDTHH:mm format.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:2:{i:0;s:22:\"destination_station_id\";i:1;s:8:\"services\";}}s:31:\"RailStationAutocompleteResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"label\";O:8:\"stdClass\":2:{s:11:\"description\";s:46:\"The
  full name of the station, in UTF-8 format.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":2:{s:11:\"description\";s:95:\"The
  unique identifier of the station. You can use this as an input parameter for a rail
  search.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:5:\"value\";i:1;s:5:\"label\";}}s:19:\"RailStationResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:7:\"country\";O:8:\"stdClass\":2:{s:11:\"description\";s:133:\"The
  <a href=\"http://en.wikipedia.org/wiki/ISO_3166-1_alpha-2\">ISO 3166-1 alpha-2 country
  code</a> in which this station can be found.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:50:\"The
  ID of this station, as provided in the request\";s:4:\"type\";s:6:\"string\";}s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Geolocation\";s:11:\"description\";s:41:\"This
  stations's approximate geolocation. \";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:25:\"The
  name of this station.\";s:4:\"type\";s:6:\"string\";}s:10:\"short_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:90:\"The
  shortened name of this station (20 characters max) which may be used in certain
  cases.\";s:4:\"type\";s:6:\"string\";}s:7:\"traffic\";O:8:\"stdClass\":2:{s:11:\"description\";s:77:\"An
  indication of the level of Intercity traffic passing through this station.\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:198:\"The
  type of code to which this station refers. Some codes represent agglomeration of
  multiple stations, whereas others represent an individual station. Possible values
  are AGGLOMERATION and STATION.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:7:{i:0;s:2:\"id\";i:1;s:4:\"type\";i:2;s:4:\"name\";i:3;s:10:\"short_name\";i:4;s:7:\"country\";i:5;s:8:\"location\";i:6;s:7:\"traffic\";}}s:4:\"Rate\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"price\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Amount\";s:11:\"description\";s:62:\"The
  long name of the provider corresponding to the above code.\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:98:\"The
  type or applicability period of rate being applied. For example&colon; DAILY, WEEKLY,
  WEEKEND.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"type\";i:1;s:5:\"price\";}}s:11:\"Reservation\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"cars\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"The
  rental cars reserved.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/CarReservation\";}s:4:\"type\";s:5:\"array\";}s:14:\"flight_tickets\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/FlightTicket\";}s:6:\"hotels\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"The
  hotel room bookings in this reservation.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/HotelReservation\";}s:4:\"type\";s:5:\"array\";}s:6:\"others\";O:8:\"stdClass\":3:{s:11:\"description\";s:126:\"Free
  text information to represent other travel items that may be considered part of
  the travel itinerary in this reservation.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:30:\"#/definitions/OtherReservation\";}s:4:\"type\";s:5:\"array\";}s:18:\"unticketed_flights\";O:8:\"stdClass\":3:{s:11:\"description\";s:85:\"The
  flight itineraries in this reservation that have not yet been ticketed or priced.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/FlightReservationBound\";}s:4:\"type\";s:5:\"array\";}}}s:14:\"RestrictedRate\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"rate_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"The
  unique identifier of this rate.\";s:4:\"type\";s:6:\"string\";}s:9:\"rate_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:51:\"The
  name used by the company to describe this rate.\";s:4:\"type\";s:6:\"string\";}s:12:\"restrictions\";O:8:\"stdClass\":2:{s:11:\"description\";s:69:\"An
  enumeration of the type of restrictions associated with this rate.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:9:\"rate_code\";i:1;s:9:\"rate_name\";i:2;s:12:\"restrictions\";}}s:8:\"RoomInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"More
  detailed structured information about the room.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"bed_type\";O:8:\"stdClass\":2:{s:11:\"description\";s:61:\"The
  type of bed or beds in the room, such as Double, or King.\";s:4:\"type\";s:6:\"string\";}s:14:\"number_of_beds\";O:8:\"stdClass\":2:{s:11:\"description\";s:102:\"The
  number of beds in the room. May be an integer or a free-text dessciption, as provided
  by the hotel\";s:4:\"type\";s:6:\"string\";}s:9:\"room_type\";O:8:\"stdClass\":2:{s:11:\"description\";s:78:\"Free-text
  indicating the type of room - such Smoking, No Smoking, Suite, etc..\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:8:\"bed_type\";i:1;s:14:\"number_of_beds\";i:2;s:9:\"room_type\";}}s:7:\"Station\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:12:\"station_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:23:\"ID
  of this rail station\";s:4:\"type\";s:6:\"string\";}s:12:\"station_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Full
  name of this rail station.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:12:\"station_code\";i:1;s:12:\"station_name\";}}s:29:\"TopDestinationsSearchResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"origin\";O:8:\"stdClass\":2:{s:11:\"description\";s:106:\"<a
  href=\"https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code\">IATA
  code</a>\";s:4:\"type\";s:6:\"string\";}s:6:\"period\";O:8:\"stdClass\":2:{s:11:\"description\";s:109:\"The
  date period, in <a href=\"https://en.wikipedia.org/wiki/ISO_8601\">ISO 8601</a>
  date format YYYY-MM or YYYY\";s:4:\"type\";s:6:\"string\";}s:7:\"results\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:41:\"#/definitions/TopDestinationsSearchResult\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:3:{i:0;s:6:\"period\";i:1;s:6:\"origin\";i:2;s:7:\"results\";}}s:27:\"TopDestinationsSearchResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"destination\";O:8:\"stdClass\":2:{s:11:\"description\";s:188:\"The
  <a href=\"https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code\">IATA
  code</a> of the city or airport to which the traveler may go, from the provided
  origin\";s:4:\"type\";s:6:\"string\";}s:7:\"flights\";O:8:\"stdClass\":2:{s:11:\"description\";s:105:\"Number
  of flights from origin to destination during the search period provided. This field
  is deprecated.\";s:4:\"type\";s:7:\"integer\";}s:9:\"travelers\";O:8:\"stdClass\":2:{s:11:\"description\";s:81:\"Number
  of passengers from origin to destination during the search period provided\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:2:{i:0;s:11:\"destination\";i:1;s:9:\"travelers\";}}s:25:\"TopSearchesSearchResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"destination\";O:8:\"stdClass\":2:{s:11:\"description\";s:106:\"<a
  href=\"https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code\">IATA
  code</a>\";s:4:\"type\";s:6:\"string\";}s:6:\"market\";O:8:\"stdClass\":2:{s:11:\"description\";s:12:\"Country
  code\";s:4:\"type\";s:6:\"string\";}s:6:\"origin\";O:8:\"stdClass\":2:{s:11:\"description\";s:106:\"<a
  href=\"https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code\">IATA
  code</a>\";s:4:\"type\";s:6:\"string\";}s:6:\"period\";O:8:\"stdClass\":2:{s:11:\"description\";s:109:\"The
  date period, in <a href=\"https://en.wikipedia.org/wiki/ISO_8601\">ISO 8601</a>
  date format YYYY-MM or YYYY\";s:4:\"type\";s:6:\"string\";}s:7:\"results\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/TopSearchesSearchResult\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:5:{i:0;s:6:\"market\";i:1;s:6:\"period\";i:2;s:6:\"origin\";i:3;s:11:\"destination\";i:4;s:7:\"results\";}}s:23:\"TopSearchesSearchResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"destination\";O:8:\"stdClass\":2:{s:11:\"description\";s:188:\"The
  <a href=\"https://en.wikipedia.org/wiki/International_Air_Transport_Association_airport_code\">IATA
  code</a> of the city or airport to which the traveler may go, from the provided
  origin\";s:4:\"type\";s:6:\"string\";}s:8:\"searches\";O:8:\"stdClass\":2:{s:11:\"description\";s:86:\"Average
  number of daily searches for the destination during the search period provided\";s:4:\"type\";s:7:\"integer\";}s:19:\"searches_prior_year\";O:8:\"stdClass\":2:{s:11:\"description\";s:97:\"Prior
  year average number of daily searches for the destination during the search period
  provided\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:3:{i:0;s:11:\"destination\";i:1;s:8:\"searches\";i:2;s:19:\"searches_prior_year\";}}s:27:\"TrainScheduleSearchResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"results\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:39:\"#/definitions/TrainScheduleSearchResult\";}s:4:\"type\";s:5:\"array\";}}}s:25:\"TrainScheduleSearchResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"date\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  search date provided in the input.\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:17:\"origin_station_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Station
  ID of the origin station for this search.\";s:4:\"type\";s:6:\"string\";}s:8:\"services\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Array
  to describe service to the destinations.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/RailService\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:3:{i:0;s:17:\"origin_station_id\";i:1;s:4:\"date\";i:2;s:8:\"services\";}}s:20:\"TrainSearchItinerary\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"trains\";O:8:\"stdClass\":3:{s:11:\"description\";s:179:\"The
  array of trains that will be required to complete the given itinerary. Since the
  cache currently only contains direct itineraries, there will be only one object
  in this array.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/TrainSearchSegment\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:6:\"trains\";}}s:18:\"TrainSearchPricing\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"accomodation\";O:8:\"stdClass\":2:{s:11:\"description\";s:129:\"A
  standard enumeration of the mode in which the passenger is accommodated. For example&colon;
  SEAT, BERTH, CABIN, CARGO, UNKNOWN.\";s:4:\"type\";s:6:\"string\";}s:12:\"booking_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"A
  code the identifies the type of booking class being used.\";s:4:\"type\";s:6:\"string\";}s:4:\"rate\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/RestrictedRate\";s:11:\"description\";s:97:\"A
  rate identifying type of charge being levied for this service, and the restrictions
  that apply.\";}s:13:\"service_class\";O:8:\"stdClass\":2:{s:11:\"description\";s:84:\"A
  standard enumeration of the type of seat, bed or service the passenger can expect.\";s:4:\"type\";s:6:\"string\";}s:11:\"total_price\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Amount\";s:11:\"description\";s:31:\"The
  total cost of this service.\";}}s:8:\"required\";a:5:{i:0;s:13:\"service_class\";i:1;s:12:\"booking_code\";i:2;s:12:\"accomodation\";i:3;s:11:\"total_price\";i:4;s:4:\"rate\";}}s:18:\"TrainSearchSegment\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:15:\"arrival_station\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Airport\";s:11:\"description\";s:143:\"The
  station object representing the station at which the passenger should disembark
  this train in order to complete this part of the itinerary.\";}s:10:\"arrives_at\";O:8:\"stdClass\":2:{s:11:\"description\";s:177:\"The
  <a href=\"https://en.wikipedia.org/wiki/ISO_8601\">ISO 8601</a> date-time of the
  train's arrival in the local time zone of the arrival station, in the format YYYY-MM-DDTHH:mm.\";s:4:\"type\";s:6:\"string\";}s:10:\"departs_at\";O:8:\"stdClass\":2:{s:11:\"description\";s:181:\"The
  <a href=\"https://en.wikipedia.org/wiki/ISO_8601\">ISO 8601</a> date-time of the
  train's departure in the local time zone of the departure station, in the format
  YYYY-MM-DDTHH:mm.\";s:4:\"type\";s:6:\"string\";}s:17:\"departure_station\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Station\";s:11:\"description\";s:139:\"The
  station object representing the station at which the passenger should board this
  train in order to complete this part of the itinerary.\";}s:17:\"marketing_company\";O:8:\"stdClass\":2:{s:11:\"description\";s:113:\"The
  name of the train company selling this train journey. This is the name you should
  see printed on your ticket.\";s:4:\"type\";s:6:\"string\";}s:17:\"operating_company\";O:8:\"stdClass\":2:{s:11:\"description\";s:113:\"The
  name of the train company operating this train journey. This is the name you should
  see written on the train.\";s:4:\"type\";s:6:\"string\";}s:6:\"prices\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Possible
  pricing for this train journey.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/TrainSearchPricing\";}s:4:\"type\";s:5:\"array\";}s:12:\"train_number\";O:8:\"stdClass\":2:{s:11:\"description\";s:134:\"The
  identifying number of this train service. Usually the marketing company will only
  operate on train per day with this train number.\";s:4:\"type\";s:6:\"string\";}s:10:\"train_type\";O:8:\"stdClass\":2:{s:11:\"description\";s:97:\"The
  type of train that you may expect for this journey. For example&colon; InterCity,
  Regional...\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:8:{i:0;s:10:\"departs_at\";i:1;s:10:\"arrives_at\";i:2;s:17:\"departure_station\";i:3;s:15:\"arrival_station\";i:4;s:17:\"marketing_company\";i:5;s:17:\"operating_company\";i:6;s:12:\"train_number\";i:7;s:6:\"prices\";}}s:18:\"TravelRecordHeader\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:18:\"creation_office_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:236:\"9
  character Amadeus office identifier of the travel agency that created this travel
  record. An office ID may be considered as equivalent to a <a href=\"https://en.wikipedia.org/wiki/Pseudo_city_code\">PCC</a>
  in other reservation systems.\";s:4:\"type\";s:6:\"string\";}s:15:\"owner_office_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:100:\"9
  character Amadeus office identifier of the travel agency that owns and manages this
  travel record.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:18:\"creation_office_id\";i:1;s:15:\"owner_office_id\";}}s:20:\"TravelRecordResponse\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"header\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/TravelRecordHeader\";s:11:\"description\";s:58:\"Summarized
  metadata on the record that has been retrieved.\";}s:8:\"messages\";O:8:\"stdClass\":3:{s:11:\"description\";s:85:\"Functional
  or technical messages associated with the retrieval of this travel record.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Message\";}s:4:\"type\";s:5:\"array\";}s:14:\"record_locator\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"6
  character identifier of this travel record on the Amadeus system.\";s:4:\"type\";s:6:\"string\";}s:11:\"reservation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Reservation\";s:11:\"description\";s:84:\"Details
  about the itineraries that have been reserved as part of this travel record.\";}s:9:\"travelers\";O:8:\"stdClass\":3:{s:11:\"description\";s:82:\"Information
  about each traveler who may be included as part of this travel record.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Traveler\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:14:\"record_locator\";}}s:8:\"Traveler\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":8:{s:8:\"contacts\";O:8:\"stdClass\":3:{s:11:\"description\";s:110:\"Details
  on how to contact this traveler. At least one traveler in a travel-record will have
  a contact element.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Contact\";}s:4:\"type\";s:5:\"array\";}s:13:\"date_of_birth\";O:8:\"stdClass\":3:{s:11:\"description\";s:169:\"An
  <a href=\"https://en.wikipedia.org/wiki/ISO_8601\">ISO 8601</a> date indicating
  the birth date of the traveler, as provided by the agent. For example&colon; 1972-02-19.\";s:6:\"format\";s:4:\"date\";s:4:\"type\";s:6:\"string\";}s:10:\"first_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:275:\"The
  first name of the passenger, as entered by the agent, in upper-case. May include
  middle names, initials or prefixes. The total combined length of the first name
  and last name must be between 2 and 57 characters. For example&colon; ALEXANDRA,
  JOSE-ANTONIO MR, ELAINE T DR.\";s:4:\"type\";s:6:\"string\";}s:23:\"frequent_traveler_cards\";O:8:\"stdClass\":3:{s:11:\"description\";s:263:\"Information
  regarding loyalty cards that the traveler would like to use to accrue benefits as
  part of this travel record. Where possible, the system will attempt to validate
  that the frequent traveler card is eligible for use in the context of this travel
  record.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/FrequentTravelerCard\";}s:4:\"type\";s:5:\"array\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:139:\"Uniquely
  identifies this traveler in this travel record. This ID is persistent, and remains
  the same for the lifetime of the travel record.\";s:4:\"type\";s:6:\"string\";}s:6:\"infant\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Infant\";s:11:\"description\";s:241:\"Details
  on any infant that may be sharing this seat with this traveler. Absence of this
  key indicates that no infant is traveling with this passenger. An empty object at
  this key indicated an anonymous infant is traveling with the passenger.\";}s:9:\"last_name\";O:8:\"stdClass\":2:{s:11:\"description\";s:137:\"The
  last name of the passenger, as entered by the agent, in upper-case. May include
  suffixes. For example&colon; THACKSTON, KING III, LU.\";s:4:\"type\";s:6:\"string\";}s:13:\"traveler_type\";O:8:\"stdClass\":2:{s:11:\"description\";s:59:\"Enumeration
  of the type of traveler. May be ADULT or CHILD.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:4:{i:0;s:2:\"id\";i:1;s:9:\"last_name\";i:2;s:10:\"first_name\";i:3;s:13:\"traveler_type\";}}s:7:\"Vehicle\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:15:\"estimated_total\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Amount\";s:11:\"description\";s:215:\"The
  estimated total cost of the rental given the rental period and location provided,
  including all mandatory taxes and charges, and using a default set of rental options
  and restrictions defined by the car company.\";}s:6:\"images\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"An
  image to give an indication of what to expect when renting this vehicle.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Image\";}s:4:\"type\";s:5:\"array\";}s:5:\"rates\";O:8:\"stdClass\":3:{s:11:\"description\";s:220:\"Rates
  that will be applied during the duration of the car rental requested. These rates
  are generally not inclusive of tax and are used by the car rental company to compute
  the total cost at the end of the rental period.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Rate\";}s:4:\"type\";s:5:\"array\";}s:12:\"vehicle_info\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/VehicleInfo\";s:11:\"description\";s:52:\"More
  information about the type of vehicle on offer.\";}}s:8:\"required\";a:1:{i:0;s:12:\"vehicle_info\";}}s:11:\"VehicleInfo\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:11:\"acriss_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:151:\"The
  4 letter <a href=\"http://en.wikipedia.org/wiki/ACRISS_Car_Classification_Code\">ACRISS
  code</a> that defines the properties of vehicle being rented.\";s:4:\"type\";s:6:\"string\";}s:16:\"air_conditioning\";O:8:\"stdClass\":2:{s:11:\"description\";s:101:\"The
  decoded ACRISS air_conditioning information, to let you know if this vehicle has
  air conditioning\";s:4:\"type\";s:7:\"boolean\";}s:8:\"category\";O:8:\"stdClass\":2:{s:11:\"description\";s:83:\"The
  decoded ACRISS vehicle category (For example&colon; Economy, Luxury, Standard).\";s:4:\"type\";s:6:\"string\";}s:4:\"fuel\";O:8:\"stdClass\":2:{s:11:\"description\";s:87:\"The
  decoded ACRISS fuel type, to let you know if this vehicle is hybrid, electric, etc.\";s:4:\"type\";s:6:\"string\";}s:12:\"transmission\";O:8:\"stdClass\":2:{s:11:\"description\";s:120:\"The
  decoded ACRISS transmission type, to let you know if this vehicle is Automatic or
  Manual Transmission (stick-shift).\";s:4:\"type\";s:6:\"string\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:116:\"The
  decoded ACRISS vehicle type, to let you know what kind of vehicle this is (For example&colon;
  Van, SUV, Pickup).\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:11:\"acriss_code\";i:1;s:8:\"category\";}}}"
...
