---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":15:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:9:\"x-twitter\";s:12:\"PermittedSoc\";}s:11:\"description\";s:3340:\"<fullname>AWS
  OpsWorks</fullname> <p>Welcome to the <i>AWS OpsWorks Stacks API Reference</i>.
  This guide provides descriptions, syntax, and usage examples for AWS OpsWorks Stacks
  actions and data types, including common parameters and error codes. </p> <p>AWS
  OpsWorks Stacks is an application management service that provides an integrated
  experience for overseeing the complete application lifecycle. For information about
  this product, go to the <a href=\"http://aws.amazon.com/opsworks/\">AWS OpsWorks</a>
  details page. </p> <p> <b>SDKs and CLI</b> </p> <p>The most common way to use the
  AWS OpsWorks Stacks API is by using the AWS Command Line Interface (CLI) or by using
  one of the AWS SDKs to implement applications in your preferred language. For more
  information, see:</p> <ul> <li> <p> <a href=\"http://docs.aws.amazon.com/cli/latest/userguide/cli-chap-welcome.html\">AWS
  CLI</a> </p> </li> <li> <p> <a href=\"http://docs.aws.amazon.com/AWSJavaSDK/latest/javadoc/com/amazonaws/services/opsworks/AWSOpsWorksClient.html\">AWS
  SDK for Java</a> </p> </li> <li> <p> <a href=\"http://docs.aws.amazon.com/sdkfornet/latest/apidocs/html/N_Amazon_OpsWorks.htm\">AWS
  SDK for .NET</a> </p> </li> <li> <p> <a href=\"http://docs.aws.amazon.com/aws-sdk-php-2/latest/class-Aws.OpsWorks.OpsWorksClient.html\">AWS
  SDK for PHP 2</a> </p> </li> <li> <p> <a href=\"http://docs.aws.amazon.com/sdkforruby/api/\">AWS
  SDK for Ruby</a> </p> </li> <li> <p> <a href=\"http://aws.amazon.com/documentation/sdkforjavascript/\">AWS
  SDK for Node.js</a> </p> </li> <li> <p> <a href=\"http://docs.pythonboto.org/en/latest/ref/opsworks.html\">AWS
  SDK for Python(Boto)</a> </p> </li> </ul> <p> <b>Endpoints</b> </p> <p>AWS OpsWorks
  Stacks supports the following endpoints, all HTTPS. You must connect to one of the
  following endpoints. Stacks can only be accessed or managed within the endpoint
  in which they are created.</p> <ul> <li> <p>opsworks.us-east-1.amazonaws.com</p>
  </li> <li> <p>opsworks.us-east-2.amazonaws.com</p> </li> <li> <p>opsworks.us-west-1.amazonaws.com</p>
  </li> <li> <p>opsworks.us-west-2.amazonaws.com</p> </li> <li> <p>opsworks.ca-central-1.amazonaws.com
  (API only; not available in the AWS console)</p> </li> <li> <p>opsworks.eu-west-1.amazonaws.com</p>
  </li> <li> <p>opsworks.eu-west-2.amazonaws.com</p> </li> <li> <p>opsworks.eu-west-3.amazonaws.com</p>
  </li> <li> <p>opsworks.eu-central-1.amazonaws.com</p> </li> <li> <p>opsworks.ap-northeast-1.amazonaws.com</p>
  </li> <li> <p>opsworks.ap-northeast-2.amazonaws.com</p> </li> <li> <p>opsworks.ap-south-1.amazonaws.com</p>
  </li> <li> <p>opsworks.ap-southeast-1.amazonaws.com</p> </li> <li> <p>opsworks.ap-southeast-2.amazonaws.com</p>
  </li> <li> <p>opsworks.sa-east-1.amazonaws.com</p> </li> </ul> <p> <b>Chef Versions</b>
  </p> <p>When you call <a>CreateStack</a>, <a>CloneStack</a>, or <a>UpdateStack</a>
  we recommend you use the <code>ConfigurationManager</code> parameter to specify
  the Chef version. The recommended and default value for Linux stacks is currently
  12. Windows stacks use Chef 12.2. For more information, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/workingcookbook-chef11.html\">Chef
  Versions</a>.</p> <note> <p>You can specify Chef 12, 11.10, or 11.4 for your Linux
  stack. We recommend migrating your existing Linux stacks to Chef 12 as soon as possible.</p>
  </note>\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache 2.0 License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:12:\"AWS
  OpsWorks\";s:7:\"version\";s:10:\"2013-02-18\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:92:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/opsworks-2013-02-18.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v4\";s:13:\"x-serviceName\";s:8:\"opsworks\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"amazonaws_opsworks\";s:4:\"type\";s:7:\"openapi\";}}"
host: opsworks.amazonaws.com
basePath: /
paths: ~
produces:
- application/json
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":216:{s:12:\"AgentVersion\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Describes
  an agent version.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:20:\"ConfigurationManager\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/StackConfigurationManager\";s:11:\"description\";s:26:\"The
  configuration manager.\";}s:7:\"Version\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:18:\"The
  agent version.\";}}s:4:\"type\";s:6:\"object\";}s:13:\"AgentVersions\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/AgentVersion\";}s:4:\"type\";s:5:\"array\";}s:3:\"App\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"A
  description of the app.\";s:10:\"properties\";O:8:\"stdClass\":14:{s:5:\"AppId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:11:\"The
  app ID.\";}s:9:\"AppSource\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Source\";s:11:\"description\";s:63:\"A
  <code>Source</code> object that describes the app repository.\";}s:10:\"Attributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/AppAttributes\";s:11:\"description\";s:21:\"The
  stack attributes.\";}s:9:\"CreatedAt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:25:\"When
  the app was created.\";}s:11:\"DataSources\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/DataSources\";s:11:\"description\";s:23:\"The
  app's data sources.\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:25:\"A
  description of the app.\";}s:7:\"Domains\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Strings\";s:11:\"description\";s:123:\"The
  app vhost settings with multiple domains separated by commas. For example: <code>'www.example.com,
  example.com'</code> \";}s:9:\"EnableSsl\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:34:\"Whether
  to enable SSL for the app.\";}s:11:\"Environment\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/EnvironmentVariables\";s:11:\"description\";s:823:\"<p>An
  array of <code>EnvironmentVariable</code> objects that specify environment variables
  to be associated with the app. After you deploy the app, these variables are defined
  on the associated app server instances. For more information, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/workingapps-creating.html#workingapps-creating-environment\">
  Environment Variables</a>. </p> <note> <p>There is no specific limit on the number
  of environment variables. However, the size of the associated data structure - which
  includes the variable names, values, and protected flag values - cannot exceed 10
  KB (10240 Bytes). This limit should accommodate most if not all use cases, but if
  you do exceed it, you will cause an exception (API) with an \"Environment: is too
  large (maximum is 10KB)\" message.</p> </note>\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:13:\"The
  app name.\";}s:9:\"Shortname\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:21:\"The
  app's short name.\";}s:16:\"SslConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/SslConfiguration\";s:11:\"description\";s:67:\"An
  <code>SslConfiguration</code> object with the SSL configuration.\";}s:7:\"StackId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:17:\"The
  app stack ID.\";}s:4:\"Type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/AppType\";s:11:\"description\";s:13:\"The
  app type.\";}}s:4:\"type\";s:6:\"object\";}s:13:\"AppAttributes\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/AppAttributesKeys\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:17:\"AppAttributesKeys\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:12:\"DocumentRoot\";i:1;s:8:\"RailsEnv\";i:2;s:18:\"AutoBundleOnDeploy\";i:3;s:19:\"AwsFlowRubySettings\";}s:4:\"type\";s:6:\"string\";}s:7:\"AppType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:7:{i:0;s:13:\"aws-flow-ruby\";i:1;s:4:\"java\";i:2;s:5:\"rails\";i:3;s:3:\"php\";i:4;s:6:\"nodejs\";i:5;s:6:\"static\";i:6;s:5:\"other\";}s:4:\"type\";s:6:\"string\";}s:4:\"Apps\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/App\";}s:4:\"type\";s:5:\"array\";}s:12:\"Architecture\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:6:\"x86_64\";i:1;s:4:\"i386\";}s:4:\"type\";s:6:\"string\";}s:21:\"AssignInstanceRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"InstanceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:16:\"The
  instance ID.\";}s:8:\"LayerIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Strings\";s:11:\"description\";s:115:\"The
  layer ID, which must correspond to a custom layer. You cannot assign a registered
  instance to a built-in layer.\";}}s:8:\"required\";a:2:{i:0;s:10:\"InstanceId\";i:1;s:8:\"LayerIds\";}s:4:\"type\";s:6:\"object\";}s:19:\"AssignVolumeRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"InstanceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:16:\"The
  instance ID.\";}s:8:\"VolumeId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:14:\"The
  volume ID.\";}}s:8:\"required\";a:1:{i:0;s:8:\"VolumeId\";}s:4:\"type\";s:6:\"object\";}s:25:\"AssociateElasticIpRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"ElasticIp\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:23:\"The
  Elastic IP address.\";}s:10:\"InstanceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:16:\"The
  instance ID.\";}}s:8:\"required\";a:1:{i:0;s:9:\"ElasticIp\";}s:4:\"type\";s:6:\"object\";}s:32:\"AttachElasticLoadBalancerRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:23:\"ElasticLoadBalancerName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:43:\"The
  Elastic Load Balancing instance's name.\";}s:7:\"LayerId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:82:\"The
  ID of the layer that the Elastic Load Balancing instance is to be attached to.\";}}s:8:\"required\";a:2:{i:0;s:23:\"ElasticLoadBalancerName\";i:1;s:7:\"LayerId\";}s:4:\"type\";s:6:\"object\";}s:21:\"AutoScalingThresholds\";O:8:\"stdClass\":3:{s:11:\"description\";s:164:\"Describes
  a load-based auto scaling upscaling or downscaling threshold configuration, which
  specifies when AWS OpsWorks Stacks starts or stops load-based instances.\";s:10:\"properties\";O:8:\"stdClass\":7:{s:6:\"Alarms\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Strings\";s:11:\"description\";s:634:\"<p>Custom
  Cloudwatch auto scaling alarms, to be used as thresholds. This parameter takes a
  list of up to five alarm names, which are case sensitive and must be in the same
  region as the stack.</p> <note> <p>To use custom alarms, you must update your service
  role to allow <code>cloudwatch:DescribeAlarms</code>. You can either have AWS OpsWorks
  Stacks update the role for you when you first use this feature or you can edit the
  role manually. For more information, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/opsworks-security-servicerole.html\">Allowing
  AWS OpsWorks Stacks to Act on Your Behalf</a>.</p> </note>\";}s:12:\"CpuThreshold\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Double\";s:11:\"description\";s:103:\"The
  CPU utilization threshold, as a percent of the available CPU. A value of -1 disables
  the threshold.\";}s:17:\"IgnoreMetricsTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Minute\";s:11:\"description\";s:581:\"The
  amount of time (in minutes) after a scaling event occurs that AWS OpsWorks Stacks
  should ignore metrics and suppress additional scaling events. For example, AWS OpsWorks
  Stacks adds new instances following an upscaling event but the instances won't start
  reducing the load until they have been booted and configured. There is no point
  in raising additional scaling events during that operation, which typically takes
  several minutes. <code>IgnoreMetricsTime</code> allows you to direct AWS OpsWorks
  Stacks to suppress scaling events long enough to get the new instances online.\";}s:13:\"InstanceCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:75:\"The
  number of instances to add or remove when the load exceeds a threshold.\";}s:13:\"LoadThreshold\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Double\";s:11:\"description\";s:192:\"The
  load threshold. A value of -1 disables the threshold. For more information about
  how load is computed, see <a href=\"http://en.wikipedia.org/wiki/Load_%28computing%29\">Load
  (computing)</a>.\";}s:15:\"MemoryThreshold\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Double\";s:11:\"description\";s:109:\"The
  memory utilization threshold, as a percent of the available memory. A value of -1
  disables the threshold.\";}s:18:\"ThresholdsWaitTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Minute\";s:11:\"description\";s:113:\"The
  amount of time, in minutes, that the load must exceed a threshold before more instances
  are added or removed.\";}}s:4:\"type\";s:6:\"object\";}s:15:\"AutoScalingType\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:4:\"load\";i:1;s:5:\"timer\";}s:4:\"type\";s:6:\"string\";}s:18:\"BlockDeviceMapping\";O:8:\"stdClass\":3:{s:11:\"description\";s:207:\"Describes
  a block device mapping. This data type maps directly to the Amazon EC2 <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_BlockDeviceMapping.html\">BlockDeviceMapping</a>
  data type. \";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"DeviceName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:257:\"The
  device name that is exposed to the instance, such as <code>/dev/sdh</code>. For
  the root device, you can use the explicit device name or you can set this parameter
  to <code>ROOT_DEVICE</code> and AWS OpsWorks Stacks will provide the correct device
  name.\";}s:3:\"Ebs\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/EbsBlockDevice\";s:11:\"description\";s:112:\"An
  <code>EBSBlockDevice</code> that defines how to configure an Amazon EBS volume when
  the instance is launched.\";}s:8:\"NoDevice\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:75:\"Suppresses
  the specified device included in the AMI's block device mapping.\";}s:11:\"VirtualName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:166:\"The
  virtual device name. For more information, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/APIReference/API_BlockDeviceMapping.html\">BlockDeviceMapping</a>.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"BlockDeviceMappings\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/BlockDeviceMapping\";}s:4:\"type\";s:5:\"array\";}s:7:\"Boolean\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:17:\"ChefConfiguration\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Describes
  the Chef configuration.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:16:\"BerkshelfVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:22:\"The
  Berkshelf version.\";}s:15:\"ManageBerkshelf\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:28:\"Whether
  to enable Berkshelf.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"CloneStackRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":22:{s:12:\"AgentVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:994:\"<p>The
  default AWS OpsWorks Stacks agent version. You have the following options:</p> <ul>
  <li> <p>Auto-update - Set this parameter to <code>LATEST</code>. AWS OpsWorks Stacks
  automatically installs new agent versions on the stack's instances as soon as they
  are available.</p> </li> <li> <p>Fixed version - Set this parameter to your preferred
  agent version. To update the agent version, you must edit the stack configuration
  and specify a new version. AWS OpsWorks Stacks then automatically installs that
  version on the stack's instances.</p> </li> </ul> <p>The default setting is <code>LATEST</code>.
  To specify an agent version, you must use the complete version number, not the abbreviated
  number shown on the console. For a list of available agent version numbers, call
  <a>DescribeAgentVersions</a>. AgentVersion cannot be set to Chef 12.2.</p> <note>
  <p>You can also specify an agent version when you create or update an instance,
  which overrides the stack's default setting.</p> </note>\";}s:10:\"Attributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/StackAttributes\";s:11:\"description\";s:89:\"A
  list of stack attributes and values as key/value pairs to be added to the cloned
  stack.\";}s:17:\"ChefConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ChefConfiguration\";s:11:\"description\";s:271:\"A
  <code>ChefConfiguration</code> object that specifies whether to enable Berkshelf
  and the Berkshelf version on Chef 11.10 stacks. For more information, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/workingstacks-creating.html\">Create
  a New Stack</a>.\";}s:11:\"CloneAppIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Strings\";s:11:\"description\";s:66:\"A
  list of source stack app IDs to be included in the cloned stack.\";}s:16:\"ClonePermissions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:48:\"Whether
  to clone the source stack's permissions.\";}s:20:\"ConfigurationManager\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/StackConfigurationManager\";s:11:\"description\";s:247:\"The
  configuration manager. When you clone a stack we recommend that you use the configuration
  manager to specify the Chef version: 12, 11.10, or 11.4 for Linux stacks, or 12.2
  for Windows stacks. The default value for Linux stacks is currently 12.\";}s:21:\"CustomCookbooksSource\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Source\";}s:10:\"CustomJson\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:458:\"<p>A
  string that contains user-defined, custom JSON. It is used to override the corresponding
  default stack configuration JSON values. The string should be in the following format:</p>
  <p> <code>\"{\\\"key1\\\": \\\"value1\\\", \\\"key2\\\": \\\"value2\\\",...}\"</code>
  </p> <p>For more information on custom JSON, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/workingstacks-json.html\">Use
  Custom JSON to Modify the Stack Configuration Attributes</a> </p>\";}s:23:\"DefaultAvailabilityZone\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:375:\"The
  cloned stack's default Availability Zone, which must be in the specified region.
  For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/rande.html\">Regions
  and Endpoints</a>. If you also specify a value for <code>DefaultSubnetId</code>,
  the subnet must be in the same zone. For more information, see the <code>VpcId</code>
  parameter description. \";}s:25:\"DefaultInstanceProfileArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:259:\"The
  Amazon Resource Name (ARN) of an IAM profile that is the default profile for all
  of the stack's EC2 instances. For more information about IAM ARNs, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/Using_Identifiers.html\">Using
  Identifiers</a>.\";}s:9:\"DefaultOs\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:1667:\"<p>The
  stack's operating system, which must be set to one of the following.</p> <ul> <li>
  <p>A supported Linux operating system: An Amazon Linux version, such as <code>Amazon
  Linux 2017.09</code>, <code>Amazon Linux 2017.03</code>, <code>Amazon Linux 2016.09</code>,
  <code>Amazon Linux 2016.03</code>, <code>Amazon Linux 2015.09</code>, or <code>Amazon
  Linux 2015.03</code>.</p> </li> <li> <p>A supported Ubuntu operating system, such
  as <code>Ubuntu 16.04 LTS</code>, <code>Ubuntu 14.04 LTS</code>, or <code>Ubuntu
  12.04 LTS</code>.</p> </li> <li> <p> <code>CentOS Linux 7</code> </p> </li> <li>
  <p> <code>Red Hat Enterprise Linux 7</code> </p> </li> <li> <p> <code>Microsoft
  Windows Server 2012 R2 Base</code>, <code>Microsoft Windows Server 2012 R2 with
  SQL Server Express</code>, <code>Microsoft Windows Server 2012 R2 with SQL Server
  Standard</code>, or <code>Microsoft Windows Server 2012 R2 with SQL Server Web</code>.</p>
  </li> <li> <p>A custom AMI: <code>Custom</code>. You specify the custom AMI you
  want to use when you create instances. For more information on how to use custom
  AMIs with OpsWorks, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/workinginstances-custom-ami.html\">Using
  Custom AMIs</a>.</p> </li> </ul> <p>The default option is the parent stack's operating
  system. For more information on the supported operating systems, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/workinginstances-os.html\">AWS
  OpsWorks Stacks Operating Systems</a>.</p> <note> <p>You can specify a different
  Linux operating system for the cloned stack, but you cannot change from Linux to
  Windows or Windows to Linux.</p> </note>\";}s:21:\"DefaultRootDeviceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/RootDeviceType\";s:11:\"description\";s:319:\"The
  default root device type. This value is used by default for all instances in the
  cloned stack, but you can override it when you create an instance. For more information,
  see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ComponentsAMIs.html#storage-for-the-root-device\">Storage
  for the Root Device</a>.\";}s:17:\"DefaultSshKeyName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:711:\"A
  default Amazon EC2 key pair name. The default value is none. If you specify a key
  pair name, AWS OpsWorks installs the public key on the instance and you can use
  the private key with an SSH client to log in to the instance. For more information,
  see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/workinginstances-ssh.html\">
  Using SSH to Communicate with an Instance</a> and <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/security-ssh-access.html\">
  Managing SSH Access</a>. You can override this setting by specifying a different
  key pair, or no key pair, when you <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/workinginstances-add.html\">
  create an instance</a>. \";}s:15:\"DefaultSubnetId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:450:\"The
  stack's default VPC subnet ID. This parameter is required if you specify a value
  for the <code>VpcId</code> parameter. All instances are launched into this subnet
  unless you specify otherwise when you create the instance. If you also specify a
  value for <code>DefaultAvailabilityZone</code>, the subnet must be in that zone.
  For information on default values and when this parameter is required, see the <code>VpcId</code>
  parameter description. \";}s:13:\"HostnameTheme\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:982:\"<p>The
  stack's host name theme, with spaces are replaced by underscores. The theme is used
  to generate host names for the stack's instances. By default, <code>HostnameTheme</code>
  is set to <code>Layer_Dependent</code>, which creates host names by appending integers
  to the layer's short name. The other themes are:</p> <ul> <li> <p> <code>Baked_Goods</code>
  </p> </li> <li> <p> <code>Clouds</code> </p> </li> <li> <p> <code>Europe_Cities</code>
  </p> </li> <li> <p> <code>Fruits</code> </p> </li> <li> <p> <code>Greek_Deities</code>
  </p> </li> <li> <p> <code>Legendary_creatures_from_Japan</code> </p> </li> <li>
  <p> <code>Planets_and_Moons</code> </p> </li> <li> <p> <code>Roman_Deities</code>
  </p> </li> <li> <p> <code>Scottish_Islands</code> </p> </li> <li> <p> <code>US_Cities</code>
  </p> </li> <li> <p> <code>Wild_Cats</code> </p> </li> </ul> <p>To obtain a generated
  host name, call <code>GetHostNameSuggestion</code>, which returns a host name based
  on the current theme.</p>\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:22:\"The
  cloned stack name.\";}s:6:\"Region\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:191:\"The
  cloned stack AWS region, such as \"ap-northeast-2\". For more information about
  AWS regions, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/rande.html\">Regions
  and Endpoints</a>.\";}s:14:\"ServiceRoleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:793:\"<p>The
  stack AWS Identity and Access Management (IAM) role, which allows AWS OpsWorks Stacks
  to work with AWS resources on your behalf. You must set this parameter to the Amazon
  Resource Name (ARN) for an existing IAM role. If you create a stack by using the
  AWS OpsWorks Stacks console, it creates the role for you. You can obtain an existing
  stack's IAM ARN programmatically by calling <a>DescribePermissions</a>. For more
  information about IAM ARNs, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/Using_Identifiers.html\">Using
  Identifiers</a>.</p> <note> <p>You must set this parameter to a valid service role
  ARN or the action will fail; there is no default value. You can specify the source
  stack's service role ARN, if you prefer, but you must do so explicitly.</p> </note>\";}s:13:\"SourceStackId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:20:\"The
  source stack ID.\";}s:18:\"UseCustomCookbooks\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:32:\"Whether
  to use custom cookbooks.\";}s:25:\"UseOpsworksSecurityGroups\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:1280:\"<p>Whether
  to associate the AWS OpsWorks Stacks built-in security groups with the stack's layers.</p>
  <p>AWS OpsWorks Stacks provides a standard set of built-in security groups, one
  for each layer, which are associated with layers by default. With <code>UseOpsworksSecurityGroups</code>
  you can instead provide your own custom security groups. <code>UseOpsworksSecurityGroups</code>
  has the following settings: </p> <ul> <li> <p>True - AWS OpsWorks Stacks automatically
  associates the appropriate built-in security group with each layer (default setting).
  You can associate additional security groups with a layer after you create it but
  you cannot delete the built-in security group.</p> </li> <li> <p>False - AWS OpsWorks
  Stacks does not associate built-in security groups with layers. You must create
  appropriate Amazon Elastic Compute Cloud (Amazon EC2) security groups and associate
  a security group with each layer that you create. However, you can still manually
  associate a built-in security group with a layer on creation; custom security groups
  are required only for those layers that need custom settings.</p> </li> </ul> <p>For
  more information, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/workingstacks-creating.html\">Create
  a New Stack</a>.</p>\";}s:5:\"VpcId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:1448:\"<p>The
  ID of the VPC that the cloned stack is to be launched into. It must be in the specified
  region. All instances are launched into this VPC, and you cannot change the ID later.</p>
  <ul> <li> <p>If your account supports EC2 Classic, the default value is no VPC.</p>
  </li> <li> <p>If your account does not support EC2 Classic, the default value is
  the default VPC for the specified region.</p> </li> </ul> <p>If the VPC ID corresponds
  to a default VPC and you have specified either the <code>DefaultAvailabilityZone</code>
  or the <code>DefaultSubnetId</code> parameter only, AWS OpsWorks Stacks infers the
  value of the other parameter. If you specify neither parameter, AWS OpsWorks Stacks
  sets these parameters to the first valid Availability Zone for the specified region
  and the corresponding default VPC subnet ID, respectively. </p> <p>If you specify
  a nondefault VPC ID, note the following:</p> <ul> <li> <p>It must belong to a VPC
  in your account that is in the specified region.</p> </li> <li> <p>You must specify
  a value for <code>DefaultSubnetId</code>.</p> </li> </ul> <p>For more information
  on how to use AWS OpsWorks Stacks with a VPC, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/workingstacks-vpc.html\">Running
  a Stack in a VPC</a>. For more information on default VPC and EC2 Classic, see <a
  href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-supported-platforms.html\">Supported
  Platforms</a>. </p>\";}}s:8:\"required\";a:2:{i:0;s:13:\"SourceStackId\";i:1;s:14:\"ServiceRoleArn\";}s:4:\"type\";s:6:\"object\";}s:16:\"CloneStackResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:59:\"Contains
  the response to a <code>CloneStack</code> request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"StackId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:20:\"The
  cloned stack ID.\";}}s:4:\"type\";s:6:\"object\";}s:27:\"CloudWatchLogsConfiguration\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"Describes
  the Amazon CloudWatch logs configuration for a layer.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"Enabled\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:47:\"Whether
  CloudWatch Logs is enabled for a layer.\";}s:10:\"LogStreams\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/CloudWatchLogsLogStreams\";s:11:\"description\";s:52:\"A
  list of configuration options for CloudWatch Logs.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"CloudWatchLogsEncoding\";O:8:\"stdClass\":3:{s:11:\"description\";s:190:\"Specifies
  the encoding of the log file so that the file can be read correctly. The default
  is <code>utf_8</code>. Encodings supported by Python <code>codecs.decode()</code>
  can be used here.\";s:4:\"enum\";a:92:{i:0;s:5:\"ascii\";i:1;s:4:\"big5\";i:2;s:9:\"big5hkscs\";i:3;s:5:\"cp037\";i:4;s:5:\"cp424\";i:5;s:5:\"cp437\";i:6;s:5:\"cp500\";i:7;s:5:\"cp720\";i:8;s:5:\"cp737\";i:9;s:5:\"cp775\";i:10;s:5:\"cp850\";i:11;s:5:\"cp852\";i:12;s:5:\"cp855\";i:13;s:5:\"cp856\";i:14;s:5:\"cp857\";i:15;s:5:\"cp858\";i:16;s:5:\"cp860\";i:17;s:5:\"cp861\";i:18;s:5:\"cp862\";i:19;s:5:\"cp863\";i:20;s:5:\"cp864\";i:21;s:5:\"cp865\";i:22;s:5:\"cp866\";i:23;s:5:\"cp869\";i:24;s:5:\"cp874\";i:25;s:5:\"cp875\";i:26;s:5:\"cp932\";i:27;s:5:\"cp949\";i:28;s:5:\"cp950\";i:29;s:6:\"cp1006\";i:30;s:6:\"cp1026\";i:31;s:6:\"cp1140\";i:32;s:6:\"cp1250\";i:33;s:6:\"cp1251\";i:34;s:6:\"cp1252\";i:35;s:6:\"cp1253\";i:36;s:6:\"cp1254\";i:37;s:6:\"cp1255\";i:38;s:6:\"cp1256\";i:39;s:6:\"cp1257\";i:40;s:6:\"cp1258\";i:41;s:6:\"euc_jp\";i:42;s:12:\"euc_jis_2004\";i:43;s:12:\"euc_jisx0213\";i:44;s:6:\"euc_kr\";i:45;s:6:\"gb2312\";i:46;s:3:\"gbk\";i:47;s:7:\"gb18030\";i:48;s:2:\"hz\";i:49;s:10:\"iso2022_jp\";i:50;s:12:\"iso2022_jp_1\";i:51;s:12:\"iso2022_jp_2\";i:52;s:15:\"iso2022_jp_2004\";i:53;s:12:\"iso2022_jp_3\";i:54;s:14:\"iso2022_jp_ext\";i:55;s:10:\"iso2022_kr\";i:56;s:7:\"latin_1\";i:57;s:9:\"iso8859_2\";i:58;s:9:\"iso8859_3\";i:59;s:9:\"iso8859_4\";i:60;s:9:\"iso8859_5\";i:61;s:9:\"iso8859_6\";i:62;s:9:\"iso8859_7\";i:63;s:9:\"iso8859_8\";i:64;s:9:\"iso8859_9\";i:65;s:10:\"iso8859_10\";i:66;s:10:\"iso8859_13\";i:67;s:10:\"iso8859_14\";i:68;s:10:\"iso8859_15\";i:69;s:10:\"iso8859_16\";i:70;s:5:\"johab\";i:71;s:6:\"koi8_r\";i:72;s:6:\"koi8_u\";i:73;s:12:\"mac_cyrillic\";i:74;s:9:\"mac_greek\";i:75;s:11:\"mac_iceland\";i:76;s:10:\"mac_latin2\";i:77;s:9:\"mac_roman\";i:78;s:11:\"mac_turkish\";i:79;s:7:\"ptcp154\";i:80;s:9:\"shift_jis\";i:81;s:14:\"shift_jis_2004\";i:82;s:14:\"shift_jisx0213\";i:83;s:6:\"utf_32\";i:84;s:9:\"utf_32_be\";i:85;s:9:\"utf_32_le\";i:86;s:6:\"utf_16\";i:87;s:9:\"utf_16_be\";i:88;s:9:\"utf_16_le\";i:89;s:5:\"utf_7\";i:90;s:5:\"utf_8\";i:91;s:9:\"utf_8_sig\";}s:4:\"type\";s:6:\"string\";}s:29:\"CloudWatchLogsInitialPosition\";O:8:\"stdClass\":3:{s:11:\"description\";s:166:\"Specifies
  where to start to read data (start_of_file or end_of_file). The default is start_of_file.
  It's only used if there is no state persisted for that log stream.\";s:4:\"enum\";a:2:{i:0;s:13:\"start_of_file\";i:1;s:11:\"end_of_file\";}s:4:\"type\";s:6:\"string\";}s:23:\"CloudWatchLogsLogStream\";O:8:\"stdClass\":3:{s:11:\"description\";s:252:\"Describes
  the Amazon CloudWatch logs configuration for a layer. For detailed information about
  members of this data type, see the <a href=\"http://docs.aws.amazon.com/AmazonCloudWatch/latest/logs/AgentReference.html\">CloudWatch
  Logs Agent Reference</a>.\";s:10:\"properties\";O:8:\"stdClass\":11:{s:10:\"BatchCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:90:\"Specifies
  the max number of log events in a batch, up to 10000. The default value is 1000.\";}s:9:\"BatchSize\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:218:\"Specifies
  the maximum size of log events in a batch, in bytes, up to 1048576 bytes. The default
  value is 32768 bytes. This size is calculated as the sum of all event messages in
  UTF-8, plus 26 bytes for each log event.\";}s:14:\"BufferDuration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:116:\"Specifies
  the time duration for the batching of log events. The minimum value is 5000ms and
  default value is 5000ms.\";}s:14:\"DatetimeFormat\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:205:\"Specifies
  how the time stamp is extracted from logs. For more information, see the <a href=\"http://docs.aws.amazon.com/AmazonCloudWatch/latest/logs/AgentReference.html\">CloudWatch
  Logs Agent Reference</a>.\";}s:8:\"Encoding\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/CloudWatchLogsEncoding\";s:11:\"description\";s:190:\"Specifies
  the encoding of the log file so that the file can be read correctly. The default
  is <code>utf_8</code>. Encodings supported by Python <code>codecs.decode()</code>
  can be used here.\";}s:4:\"File\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:861:\"<p>Specifies
  log files that you want to push to CloudWatch Logs.</p> <p> <code>File</code> can
  point to a specific file or multiple files (by using wild card characters such as
  <code>/var/log/system.log*</code>). Only the latest file is pushed to CloudWatch
  Logs, based on file modification time. We recommend that you use wild card characters
  to specify a series of files of the same type, such as <code>access_log.2014-06-01-01</code>,
  <code>access_log.2014-06-01-02</code>, and so on by using a pattern like <code>access_log.*</code>.
  Don't use a wildcard to match multiple file types, such as <code>access_log_80</code>
  and <code>access_log_443</code>. To specify multiple, different file types, add
  another log stream entry to the configuration file, so that each log file type is
  stored in a different log group.</p> <p>Zipped files are not supported.</p>\";}s:20:\"FileFingerprintLines\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:315:\"Specifies
  the range of lines for identifying a file. The valid values are one number, or two
  dash-delimited numbers, such as '1', '2-5'. The default value is '1', meaning the
  first line is used to calculate the fingerprint. Fingerprint lines are not sent
  to CloudWatch Logs unless all specified lines are available.\";}s:15:\"InitialPosition\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:43:\"#/definitions/CloudWatchLogsInitialPosition\";s:11:\"description\";s:177:\"Specifies
  where to start to read data (start_of_file or end_of_file). The default is start_of_file.
  This setting is only used if there is no state persisted for that log stream.\";}s:12:\"LogGroupName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:273:\"Specifies
  the destination log group. A log group is created automatically if it doesn't already
  exist. Log group names can be between 1 and 512 characters long. Allowed characters
  include a-z, A-Z, 0-9, '_' (underscore), '-' (hyphen), '/' (forward slash), and
  '.' (period).\";}s:21:\"MultiLineStartPattern\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:65:\"Specifies
  the pattern for identifying the start of a log message.\";}s:8:\"TimeZone\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/CloudWatchLogsTimeZone\";s:11:\"description\";s:49:\"Specifies
  the time zone of log event time stamps.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"CloudWatchLogsLogStreams\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"Describes
  the Amazon CloudWatch logs configuration for a layer.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:37:\"#/definitions/CloudWatchLogsLogStream\";}s:4:\"type\";s:5:\"array\";}s:22:\"CloudWatchLogsTimeZone\";O:8:\"stdClass\":3:{s:11:\"description\";s:151:\"The
  preferred time zone for logs streamed to CloudWatch Logs. Valid values are <code>LOCAL</code>
  and <code>UTC</code>, for Coordinated Universal Time.\";s:4:\"enum\";a:2:{i:0;s:5:\"LOCAL\";i:1;s:3:\"UTC\";}s:4:\"type\";s:6:\"string\";}s:7:\"Command\";O:8:\"stdClass\":3:{s:11:\"description\";s:20:\"Describes
  a command.\";s:10:\"properties\";O:8:\"stdClass\":10:{s:14:\"AcknowledgedAt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/DateTime\";s:11:\"description\";s:48:\"Date
  and time when the command was acknowledged.\";}s:9:\"CommandId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:15:\"The
  command ID.\";}s:11:\"CompletedAt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/DateTime\";s:11:\"description\";s:32:\"Date
  when the command completed.\";}s:9:\"CreatedAt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/DateTime\";s:11:\"description\";s:39:\"Date
  and time when the command was run.\";}s:12:\"DeploymentId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:26:\"The
  command deployment ID.\";}s:8:\"ExitCode\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:22:\"The
  command exit code.\";}s:10:\"InstanceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:54:\"The
  ID of the instance where the command was executed.\";}s:6:\"LogUrl\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:27:\"The
  URL of the command log.\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:143:\"<p>The
  command status:</p> <ul> <li> <p>failed</p> </li> <li> <p>successful</p> </li> <li>
  <p>skipped</p> </li> <li> <p>pending</p> </li> </ul>\";}s:4:\"Type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:572:\"<p>The
  command type:</p> <ul> <li> <p> <code>configure</code> </p> </li> <li> <p> <code>deploy</code>
  </p> </li> <li> <p> <code>execute_recipes</code> </p> </li> <li> <p> <code>install_dependencies</code>
  </p> </li> <li> <p> <code>restart</code> </p> </li> <li> <p> <code>rollback</code>
  </p> </li> <li> <p> <code>setup</code> </p> </li> <li> <p> <code>start</code> </p>
  </li> <li> <p> <code>stop</code> </p> </li> <li> <p> <code>undeploy</code> </p>
  </li> <li> <p> <code>update_custom_cookbooks</code> </p> </li> <li> <p> <code>update_dependencies</code>
  </p> </li> </ul>\";}}s:4:\"type\";s:6:\"object\";}s:8:\"Commands\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Command\";}s:4:\"type\";s:5:\"array\";}s:16:\"CreateAppRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":12:{s:9:\"AppSource\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Source\";s:11:\"description\";s:63:\"A
  <code>Source</code> object that specifies the app repository.\";}s:10:\"Attributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/AppAttributes\";s:11:\"description\";s:77:\"One
  or more user-defined key/value pairs to be added to the stack attributes.\";}s:11:\"DataSources\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/DataSources\";s:11:\"description\";s:22:\"The
  app's data source.\";}s:11:\"Description\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:25:\"A
  description of the app.\";}s:7:\"Domains\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Strings\";s:11:\"description\";s:131:\"The
  app virtual host settings, with multiple domains separated by commas. For example:
  <code>'www.example.com, example.com'</code> \";}s:9:\"EnableSsl\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:34:\"Whether
  to enable SSL for the app.\";}s:11:\"Environment\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/EnvironmentVariables\";s:11:\"description\";s:966:\"<p>An
  array of <code>EnvironmentVariable</code> objects that specify environment variables
  to be associated with the app. After you deploy the app, these variables are defined
  on the associated app server instance. For more information, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/workingapps-creating.html#workingapps-creating-environment\">
  Environment Variables</a>.</p> <p>There is no specific limit on the number of environment
  variables. However, the size of the associated data structure - which includes the
  variables' names, values, and protected flag values - cannot exceed 10 KB (10240
  Bytes). This limit should accommodate most if not all use cases. Exceeding it will
  cause an exception with the message, \"Environment: is too large (maximum is 10KB).\"</p>
  <note> <p>This parameter is supported only by Chef 11.10 stacks. If you have specified
  one or more environment variables, you cannot modify the stack's Chef version.</p>
  </note>\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:13:\"The
  app name.\";}s:9:\"Shortname\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:21:\"The
  app's short name.\";}s:16:\"SslConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:30:\"#/definitions/SslConfiguration\";s:11:\"description\";s:67:\"An
  <code>SslConfiguration</code> object with the SSL configuration.\";}s:7:\"StackId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:13:\"The
  stack ID.\";}s:4:\"Type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/AppType\";s:11:\"description\";s:367:\"The
  app type. Each supported type is associated with a particular layer. For example,
  PHP applications are associated with a PHP layer. AWS OpsWorks Stacks deploys an
  application to those instances that are members of the corresponding layer. If your
  app isn't one of the standard types, or you prefer to implement your own Deploy
  recipes, specify <code>other</code>.\";}}s:8:\"required\";a:3:{i:0;s:7:\"StackId\";i:1;s:4:\"Name\";i:2;s:4:\"Type\";}s:4:\"type\";s:6:\"object\";}s:15:\"CreateAppResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"Contains
  the response to a <code>CreateApp</code> request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"AppId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:11:\"The
  app ID.\";}}s:4:\"type\";s:6:\"object\";}s:23:\"CreateDeploymentRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":7:{s:5:\"AppId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:98:\"The
  app ID. This parameter is required for app deployments, but not for other deployment
  commands.\";}s:7:\"Command\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/DeploymentCommand\";s:11:\"description\";s:107:\"A
  <code>DeploymentCommand</code> object that specifies the deployment command and
  any associated arguments.\";}s:7:\"Comment\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:23:\"A
  user-defined comment.\";}s:10:\"CustomJson\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:458:\"<p>A
  string that contains user-defined, custom JSON. It is used to override the corresponding
  default stack configuration JSON values. The string should be in the following format:</p>
  <p> <code>\"{\\\"key1\\\": \\\"value1\\\", \\\"key2\\\": \\\"value2\\\",...}\"</code>
  </p> <p>For more information on custom JSON, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/workingstacks-json.html\">Use
  Custom JSON to Modify the Stack Configuration Attributes</a>.</p>\";}s:11:\"InstanceIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Strings\";s:11:\"description\";s:44:\"The
  instance IDs for the deployment targets.\";}s:8:\"LayerIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Strings\";s:11:\"description\";s:41:\"The
  layer IDs for the deployment targets.\";}s:7:\"StackId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:13:\"The
  stack ID.\";}}s:8:\"required\";a:2:{i:0;s:7:\"StackId\";i:1;s:7:\"Command\";}s:4:\"type\";s:6:\"object\";}s:22:\"CreateDeploymentResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"Contains
  the response to a <code>CreateDeployment</code> request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"DeploymentId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:84:\"The
  deployment ID, which can be used with other requests to identify the deployment.\";}}s:4:\"type\";s:6:\"object\";}s:21:\"CreateInstanceRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":18:{s:12:\"AgentVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:772:\"<p>The
  default AWS OpsWorks Stacks agent version. You have the following options:</p> <ul>
  <li> <p> <code>INHERIT</code> - Use the stack's default agent version setting.</p>
  </li> <li> <p> <i>version_number</i> - Use the specified agent version. This value
  overrides the stack's default setting. To update the agent version, edit the instance
  configuration and specify a new version. AWS OpsWorks Stacks then automatically
  installs that version on the instance.</p> </li> </ul> <p>The default setting is
  <code>INHERIT</code>. To specify an agent version, you must use the complete version
  number, not the abbreviated number shown on the console. For a list of available
  agent version numbers, call <a>DescribeAgentVersions</a>. AgentVersion cannot be
  set to Chef 12.2.</p>\";}s:5:\"AmiId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:373:\"<p>A
  custom AMI ID to be used to create the instance. The AMI should be based on one
  of the supported operating systems. For more information, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/workinginstances-custom-ami.html\">Using
  Custom AMIs</a>.</p> <note> <p>If you specify a custom AMI, you must set <code>Os</code>
  to <code>Custom</code>.</p> </note>\";}s:12:\"Architecture\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/Architecture\";s:11:\"description\";s:333:\"The
  instance architecture. The default option is <code>x86_64</code>. Instance types
  do not necessarily support both architectures. For a list of the architectures that
  are supported by the different instance types, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/instance-types.html\">Instance
  Families and Types</a>.\";}s:15:\"AutoScalingType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/AutoScalingType\";s:11:\"description\";s:99:\"For
  load-based or time-based instances, the type. Windows stacks can use only time-based
  instances.\";}s:16:\"AvailabilityZone\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:150:\"The
  instance Availability Zone. For more information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/rande.html\">Regions
  and Endpoints</a>.\";}s:19:\"BlockDeviceMappings\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/BlockDeviceMappings\";s:11:\"description\";s:309:\"An
  array of <code>BlockDeviceMapping</code> objects that specify the instance's block
  devices. For more information, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/block-device-mapping-concepts.html\">Block
  Device Mapping</a>. Note that block device mappings are not supported for custom
  AMIs.\";}s:12:\"EbsOptimized\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:51:\"Whether
  to create an Amazon EBS-optimized instance.\";}s:8:\"Hostname\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:23:\"The
  instance host name.\";}s:20:\"InstallUpdatesOnBoot\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:600:\"<p>Whether
  to install operating system and package updates when the instance boots. The default
  value is <code>true</code>. To control when updates are installed, set this value
  to <code>false</code>. You must then update your instances manually by using <a>CreateDeployment</a>
  to run the <code>update_dependencies</code> stack command or by manually running
  <code>yum</code> (Amazon Linux) or <code>apt-get</code> (Ubuntu) on the instances.
  </p> <note> <p>We strongly recommend using the default value of <code>true</code>
  to ensure that your instances have the latest security updates.</p> </note>\";}s:12:\"InstanceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:519:\"The
  instance type, such as <code>t2.micro</code>. For a list of supported instance types,
  open the stack in the console, choose <b>Instances</b>, and choose <b>+ Instance</b>.
  The <b>Size</b> list contains the currently supported types. For more information,
  see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/instance-types.html\">Instance
  Families and Types</a>. The parameter values that you use to specify the various
  types are in the <b>API Name</b> column of the <b>Available Instance Types</b> table.\";}s:8:\"LayerIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Strings\";s:11:\"description\";s:48:\"An
  array that contains the instance's layer IDs.\";}s:2:\"Os\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:1909:\"<p>The
  instance's operating system, which must be set to one of the following.</p> <ul>
  <li> <p>A supported Linux operating system: An Amazon Linux version, such as <code>Amazon
  Linux 2017.09</code>, <code>Amazon Linux 2017.03</code>, <code>Amazon Linux 2016.09</code>,
  <code>Amazon Linux 2016.03</code>, <code>Amazon Linux 2015.09</code>, or <code>Amazon
  Linux 2015.03</code>.</p> </li> <li> <p>A supported Ubuntu operating system, such
  as <code>Ubuntu 16.04 LTS</code>, <code>Ubuntu 14.04 LTS</code>, or <code>Ubuntu
  12.04 LTS</code>.</p> </li> <li> <p> <code>CentOS Linux 7</code> </p> </li> <li>
  <p> <code>Red Hat Enterprise Linux 7</code> </p> </li> <li> <p>A supported Windows
  operating system, such as <code>Microsoft Windows Server 2012 R2 Base</code>, <code>Microsoft
  Windows Server 2012 R2 with SQL Server Express</code>, <code>Microsoft Windows Server
  2012 R2 with SQL Server Standard</code>, or <code>Microsoft Windows Server 2012
  R2 with SQL Server Web</code>.</p> </li> <li> <p>A custom AMI: <code>Custom</code>.</p>
  </li> </ul> <p>For more information on the supported operating systems, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/workinginstances-os.html\">AWS
  OpsWorks Stacks Operating Systems</a>.</p> <p>The default option is the current
  Amazon Linux version. If you set this parameter to <code>Custom</code>, you must
  use the <a>CreateInstance</a> action's AmiId parameter to specify the custom AMI
  that you want to use. Block device mappings are not supported if the value is <code>Custom</code>.
  For more information on the supported operating systems, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/workinginstances-os.html\">Operating
  Systems</a>For more information on how to use custom AMIs with AWS OpsWorks Stacks,
  see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/workinginstances-custom-ami.html\">Using
  Custom AMIs</a>.</p>\";}s:14:\"RootDeviceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/RootDeviceType\";s:11:\"description\";s:198:\"The
  instance root device type. For more information, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ComponentsAMIs.html#storage-for-the-root-device\">Storage
  for the Root Device</a>.\";}s:10:\"SshKeyName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:40:\"The
  instance's Amazon EC2 key-pair name.\";}s:7:\"StackId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:13:\"The
  stack ID.\";}s:8:\"SubnetId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:218:\"The
  ID of the instance's subnet. If the stack is running in a VPC, you can use this
  parameter to override the stack's default subnet ID value and direct AWS OpsWorks
  Stacks to launch the instance in a different subnet.\";}s:7:\"Tenancy\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:917:\"The
  instance's tenancy option. The default option is no tenancy, or if the instance
  is running in a VPC, inherit tenancy settings from the VPC. The following are valid
  values for this parameter: <code>dedicated</code>, <code>default</code>, or <code>host</code>.
  Because there are costs associated with changes in tenancy options, we recommend
  that you research tenancy options before choosing them for your instances. For more
  information about dedicated hosts, see <a href=\"http://aws.amazon.com/ec2/dedicated-hosts/\">Dedicated
  Hosts Overview</a> and <a href=\"http://aws.amazon.com/ec2/dedicated-hosts/\">Amazon
  EC2 Dedicated Hosts</a>. For more information about dedicated instances, see <a
  href=\"http://docs.aws.amazon.com/AmazonVPC/latest/UserGuide/dedicated-instance.html\">Dedicated
  Instances</a> and <a href=\"http://aws.amazon.com/ec2/purchasing-options/dedicated-instances/\">Amazon
  EC2 Dedicated Instances</a>.\";}s:18:\"VirtualizationType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:81:\"The
  instance's virtualization type, <code>paravirtual</code> or <code>hvm</code>.\";}}s:8:\"required\";a:3:{i:0;s:7:\"StackId\";i:1;s:8:\"LayerIds\";i:2;s:12:\"InstanceType\";}s:4:\"type\";s:6:\"object\";}s:20:\"CreateInstanceResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:63:\"Contains
  the response to a <code>CreateInstance</code> request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"InstanceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:16:\"The
  instance ID.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"CreateLayerRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":18:{s:10:\"Attributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/LayerAttributes\";s:11:\"description\";s:185:\"<p>One
  or more user-defined key-value pairs to be added to the stack attributes.</p> <p>To
  create a cluster layer, set the <code>EcsClusterArn</code> attribute to the cluster's
  ARN.</p>\";}s:20:\"AutoAssignElasticIps\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:319:\"Whether
  to automatically assign an <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/elastic-ip-addresses-eip.html\">Elastic
  IP address</a> to the layer's instances. For more information, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/workinglayers-basics-edit.html\">How
  to Edit a Layer</a>.\";}s:19:\"AutoAssignPublicIps\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:260:\"For
  stacks that are running in a VPC, whether to automatically assign a public IP address
  to the layer's instances. For more information, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/workinglayers-basics-edit.html\">How
  to Edit a Layer</a>.\";}s:27:\"CloudWatchLogsConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/CloudWatchLogsConfiguration\";s:11:\"description\";s:120:\"Specifies
  CloudWatch Logs configuration options for the layer. For more information, see <a>CloudWatchLogsLogStream</a>.\";}s:24:\"CustomInstanceProfileArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:212:\"The
  ARN of an IAM profile to be used for the layer's EC2 instances. For more information
  about IAM ARNs, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/Using_Identifiers.html\">Using
  Identifiers</a>.\";}s:10:\"CustomJson\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:341:\"A
  JSON-formatted string containing custom stack configuration and deployment attributes
  to be installed on the layer's instances. For more information, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/workingcookbook-json-override.html\">
  Using Custom JSON</a>. This feature is supported as of version 1.7.42 of the AWS
  CLI. \";}s:13:\"CustomRecipes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Recipes\";s:11:\"description\";s:81:\"A
  <code>LayerCustomRecipes</code> object that specifies the layer custom recipes.\";}s:22:\"CustomSecurityGroupIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Strings\";s:11:\"description\";s:56:\"An
  array containing the layer custom security group IDs.\";}s:17:\"EnableAutoHealing\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:46:\"Whether
  to disable auto healing for the layer.\";}s:20:\"InstallUpdatesOnBoot\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:601:\"<p>Whether
  to install operating system and package updates when the instance boots. The default
  value is <code>true</code>. To control when updates are installed, set this value
  to <code>false</code>. You must then update your instances manually by using <a>CreateDeployment</a>
  to run the <code>update_dependencies</code> stack command or by manually running
  <code>yum</code> (Amazon Linux) or <code>apt-get</code> (Ubuntu) on the instances.
  </p> <note> <p>To ensure that your instances have the latest security updates, we
  strongly recommend using the default value of <code>true</code>.</p> </note>\";}s:27:\"LifecycleEventConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:41:\"#/definitions/LifecycleEventConfiguration\";s:11:\"description\";s:195:\"A
  <code>LifeCycleEventConfiguration</code> object that you can use to configure the
  Shutdown event to specify an execution timeout and enable or disable Elastic Load
  Balancer connection draining.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:45:\"The
  layer name, which is used by the console.\";}s:8:\"Packages\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Strings\";s:11:\"description\";s:75:\"An
  array of <code>Package</code> objects that describes the layer packages.\";}s:9:\"Shortname\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:559:\"<p>For
  custom layers only, use this parameter to specify the layer's short name, which
  is used internally by AWS OpsWorks Stacks and by Chef recipes. The short name is
  also used as the name for the directory where your app files are installed. It can
  have a maximum of 200 characters, which are limited to the alphanumeric characters,
  '-', '_', and '.'.</p> <p>The built-in layers' short names are defined by AWS OpsWorks
  Stacks. For more information, see the <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/layers.html\">Layer
  Reference</a>.</p>\";}s:7:\"StackId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:19:\"The
  layer stack ID.\";}s:4:\"Type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/LayerType\";s:11:\"description\";s:176:\"The
  layer type. A stack cannot have more than one built-in layer of the same type. It
  can have any number of custom layers. Built-in layers are not available in Chef
  12 stacks.\";}s:24:\"UseEbsOptimizedInstances\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:46:\"Whether
  to use Amazon EBS-optimized instances.\";}s:20:\"VolumeConfigurations\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/VolumeConfigurations\";s:11:\"description\";s:89:\"A
  <code>VolumeConfigurations</code> object that describes the layer's Amazon EBS volumes.\";}}s:8:\"required\";a:4:{i:0;s:7:\"StackId\";i:1;s:4:\"Type\";i:2;s:4:\"Name\";i:3;s:9:\"Shortname\";}s:4:\"type\";s:6:\"object\";}s:17:\"CreateLayerResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"Contains
  the response to a <code>CreateLayer</code> request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"LayerId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:13:\"The
  layer ID.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"CreateStackRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":19:{s:12:\"AgentVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:1011:\"<p>The
  default AWS OpsWorks Stacks agent version. You have the following options:</p> <ul>
  <li> <p>Auto-update - Set this parameter to <code>LATEST</code>. AWS OpsWorks Stacks
  automatically installs new agent versions on the stack's instances as soon as they
  are available.</p> </li> <li> <p>Fixed version - Set this parameter to your preferred
  agent version. To update the agent version, you must edit the stack configuration
  and specify a new version. AWS OpsWorks Stacks then automatically installs that
  version on the stack's instances.</p> </li> </ul> <p>The default setting is the
  most recent release of the agent. To specify an agent version, you must use the
  complete version number, not the abbreviated number shown on the console. For a
  list of available agent version numbers, call <a>DescribeAgentVersions</a>. AgentVersion
  cannot be set to Chef 12.2.</p> <note> <p>You can also specify an agent version
  when you create or update an instance, which overrides the stack's default setting.</p>
  </note>\";}s:10:\"Attributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/StackAttributes\";s:11:\"description\";s:77:\"One
  or more user-defined key-value pairs to be added to the stack attributes.\";}s:17:\"ChefConfiguration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/ChefConfiguration\";s:11:\"description\";s:271:\"A
  <code>ChefConfiguration</code> object that specifies whether to enable Berkshelf
  and the Berkshelf version on Chef 11.10 stacks. For more information, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/workingstacks-creating.html\">Create
  a New Stack</a>.\";}s:20:\"ConfigurationManager\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/StackConfigurationManager\";s:11:\"description\";s:250:\"The
  configuration manager. When you create a stack we recommend that you use the configuration
  manager to specify the Chef version: 12, 11.10, or 11.4 for Linux stacks, or 12.2
  for Windows stacks. The default value for Linux stacks is currently 11.4.\";}s:21:\"CustomCookbooksSource\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Source\";}s:10:\"CustomJson\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:494:\"<p>A
  string that contains user-defined, custom JSON. It can be used to override the corresponding
  default stack configuration attribute values or to pass data to recipes. The string
  should be in the following format:</p> <p> <code>\"{\\\"key1\\\": \\\"value1\\\",
  \\\"key2\\\": \\\"value2\\\",...}\"</code> </p> <p>For more information on custom
  JSON, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/workingstacks-json.html\">Use
  Custom JSON to Modify the Stack Configuration Attributes</a>.</p>\";}s:23:\"DefaultAvailabilityZone\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:368:\"The
  stack's default Availability Zone, which must be in the specified region. For more
  information, see <a href=\"http://docs.aws.amazon.com/general/latest/gr/rande.html\">Regions
  and Endpoints</a>. If you also specify a value for <code>DefaultSubnetId</code>,
  the subnet must be in the same zone. For more information, see the <code>VpcId</code>
  parameter description. \";}s:25:\"DefaultInstanceProfileArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:259:\"The
  Amazon Resource Name (ARN) of an IAM profile that is the default profile for all
  of the stack's EC2 instances. For more information about IAM ARNs, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/Using_Identifiers.html\">Using
  Identifiers</a>.\";}s:9:\"DefaultOs\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:1628:\"<p>The
  stack's default operating system, which is installed on every instance unless you
  specify a different operating system when you create the instance. You can specify
  one of the following.</p> <ul> <li> <p>A supported Linux operating system: An Amazon
  Linux version, such as <code>Amazon Linux 2017.09</code>, <code>Amazon Linux 2017.03</code>,
  <code>Amazon Linux 2016.09</code>, <code>Amazon Linux 2016.03</code>, <code>Amazon
  Linux 2015.09</code>, or <code>Amazon Linux 2015.03</code>.</p> </li> <li> <p>A
  supported Ubuntu operating system, such as <code>Ubuntu 16.04 LTS</code>, <code>Ubuntu
  14.04 LTS</code>, or <code>Ubuntu 12.04 LTS</code>.</p> </li> <li> <p> <code>CentOS
  Linux 7</code> </p> </li> <li> <p> <code>Red Hat Enterprise Linux 7</code> </p>
  </li> <li> <p>A supported Windows operating system, such as <code>Microsoft Windows
  Server 2012 R2 Base</code>, <code>Microsoft Windows Server 2012 R2 with SQL Server
  Express</code>, <code>Microsoft Windows Server 2012 R2 with SQL Server Standard</code>,
  or <code>Microsoft Windows Server 2012 R2 with SQL Server Web</code>.</p> </li>
  <li> <p>A custom AMI: <code>Custom</code>. You specify the custom AMI you want to
  use when you create instances. For more information, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/workinginstances-custom-ami.html\">
  Using Custom AMIs</a>.</p> </li> </ul> <p>The default option is the current Amazon
  Linux version. For more information on the supported operating systems, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/workinginstances-os.html\">AWS
  OpsWorks Stacks Operating Systems</a>.</p>\";}s:21:\"DefaultRootDeviceType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/RootDeviceType\";s:11:\"description\";s:359:\"The
  default root device type. This value is the default for all instances in the stack,
  but you can override it when you create an instance. The default option is <code>instance-store</code>.
  For more information, see <a href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ComponentsAMIs.html#storage-for-the-root-device\">Storage
  for the Root Device</a>.\";}s:17:\"DefaultSshKeyName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:711:\"A
  default Amazon EC2 key pair name. The default value is none. If you specify a key
  pair name, AWS OpsWorks installs the public key on the instance and you can use
  the private key with an SSH client to log in to the instance. For more information,
  see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/workinginstances-ssh.html\">
  Using SSH to Communicate with an Instance</a> and <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/security-ssh-access.html\">
  Managing SSH Access</a>. You can override this setting by specifying a different
  key pair, or no key pair, when you <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/workinginstances-add.html\">
  create an instance</a>. \";}s:15:\"DefaultSubnetId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:450:\"The
  stack's default VPC subnet ID. This parameter is required if you specify a value
  for the <code>VpcId</code> parameter. All instances are launched into this subnet
  unless you specify otherwise when you create the instance. If you also specify a
  value for <code>DefaultAvailabilityZone</code>, the subnet must be in that zone.
  For information on default values and when this parameter is required, see the <code>VpcId</code>
  parameter description. \";}s:13:\"HostnameTheme\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:978:\"<p>The
  stack's host name theme, with spaces replaced by underscores. The theme is used
  to generate host names for the stack's instances. By default, <code>HostnameTheme</code>
  is set to <code>Layer_Dependent</code>, which creates host names by appending integers
  to the layer's short name. The other themes are:</p> <ul> <li> <p> <code>Baked_Goods</code>
  </p> </li> <li> <p> <code>Clouds</code> </p> </li> <li> <p> <code>Europe_Cities</code>
  </p> </li> <li> <p> <code>Fruits</code> </p> </li> <li> <p> <code>Greek_Deities</code>
  </p> </li> <li> <p> <code>Legendary_creatures_from_Japan</code> </p> </li> <li>
  <p> <code>Planets_and_Moons</code> </p> </li> <li> <p> <code>Roman_Deities</code>
  </p> </li> <li> <p> <code>Scottish_Islands</code> </p> </li> <li> <p> <code>US_Cities</code>
  </p> </li> <li> <p> <code>Wild_Cats</code> </p> </li> </ul> <p>To obtain a generated
  host name, call <code>GetHostNameSuggestion</code>, which returns a host name based
  on the current theme.</p>\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:15:\"The
  stack name.\";}s:6:\"Region\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:185:\"The
  stack's AWS region, such as \"ap-south-1\". For more information about Amazon regions,
  see <a href=\"http://docs.aws.amazon.com/general/latest/gr/rande.html\">Regions
  and Endpoints</a>.\";}s:14:\"ServiceRoleArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:367:\"The
  stack's AWS Identity and Access Management (IAM) role, which allows AWS OpsWorks
  Stacks to work with AWS resources on your behalf. You must set this parameter to
  the Amazon Resource Name (ARN) for an existing IAM role. For more information about
  IAM ARNs, see <a href=\"http://docs.aws.amazon.com/IAM/latest/UserGuide/Using_Identifiers.html\">Using
  Identifiers</a>.\";}s:18:\"UseCustomCookbooks\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:40:\"Whether
  the stack uses custom cookbooks.\";}s:25:\"UseOpsworksSecurityGroups\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:1243:\"<p>Whether
  to associate the AWS OpsWorks Stacks built-in security groups with the stack's layers.</p>
  <p>AWS OpsWorks Stacks provides a standard set of built-in security groups, one
  for each layer, which are associated with layers by default. With <code>UseOpsworksSecurityGroups</code>
  you can instead provide your own custom security groups. <code>UseOpsworksSecurityGroups</code>
  has the following settings: </p> <ul> <li> <p>True - AWS OpsWorks Stacks automatically
  associates the appropriate built-in security group with each layer (default setting).
  You can associate additional security groups with a layer after you create it, but
  you cannot delete the built-in security group.</p> </li> <li> <p>False - AWS OpsWorks
  Stacks does not associate built-in security groups with layers. You must create
  appropriate EC2 security groups and associate a security group with each layer that
  you create. However, you can still manually associate a built-in security group
  with a layer on creation; custom security groups are required only for those layers
  that need custom settings.</p> </li> </ul> <p>For more information, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/workingstacks-creating.html\">Create
  a New Stack</a>.</p>\";}s:5:\"VpcId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:1452:\"<p>The
  ID of the VPC that the stack is to be launched into. The VPC must be in the stack's
  region. All instances are launched into this VPC. You cannot change the ID later.</p>
  <ul> <li> <p>If your account supports EC2-Classic, the default value is <code>no
  VPC</code>.</p> </li> <li> <p>If your account does not support EC2-Classic, the
  default value is the default VPC for the specified region.</p> </li> </ul> <p>If
  the VPC ID corresponds to a default VPC and you have specified either the <code>DefaultAvailabilityZone</code>
  or the <code>DefaultSubnetId</code> parameter only, AWS OpsWorks Stacks infers the
  value of the other parameter. If you specify neither parameter, AWS OpsWorks Stacks
  sets these parameters to the first valid Availability Zone for the specified region
  and the corresponding default VPC subnet ID, respectively.</p> <p>If you specify
  a nondefault VPC ID, note the following:</p> <ul> <li> <p>It must belong to a VPC
  in your account that is in the specified region.</p> </li> <li> <p>You must specify
  a value for <code>DefaultSubnetId</code>.</p> </li> </ul> <p>For more information
  on how to use AWS OpsWorks Stacks with a VPC, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/workingstacks-vpc.html\">Running
  a Stack in a VPC</a>. For more information on default VPC and EC2-Classic, see <a
  href=\"http://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-supported-platforms.html\">Supported
  Platforms</a>. </p>\";}}s:8:\"required\";a:4:{i:0;s:4:\"Name\";i:1;s:6:\"Region\";i:2;s:14:\"ServiceRoleArn\";i:3;s:25:\"DefaultInstanceProfileArn\";}s:4:\"type\";s:6:\"object\";}s:17:\"CreateStackResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"Contains
  the response to a <code>CreateStack</code> request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"StackId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:135:\"The
  stack ID, which is an opaque string that you use to identify the stack when performing
  actions such as <code>DescribeStacks</code>.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"CreateUserProfileRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:19:\"AllowSelfManagement\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:239:\"Whether
  users can specify their own SSH public key through the My Settings page. For more
  information, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/security-settingsshkey.html\">Setting
  an IAM User's Public SSH Key</a>.\";}s:10:\"IamUserArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:60:\"The
  user's IAM ARN; this can also be a federated user's ARN.\";}s:12:\"SshPublicKey\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:26:\"The
  user's public SSH key.\";}s:11:\"SshUsername\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:352:\"The
  user's SSH user name. The allowable characters are [a-z], [A-Z], [0-9], '-', and
  '_'. If the specified name includes other punctuation marks, AWS OpsWorks Stacks
  removes them. For example, <code>my.name</code> will be changed to <code>myname</code>.
  If you do not specify an SSH user name, AWS OpsWorks Stacks generates one from the
  IAM user name. \";}}s:8:\"required\";a:1:{i:0;s:10:\"IamUserArn\";}s:4:\"type\";s:6:\"object\";}s:23:\"CreateUserProfileResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:66:\"Contains
  the response to a <code>CreateUserProfile</code> request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"IamUserArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:19:\"The
  user's IAM ARN.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"DailyAutoScalingSchedule\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Hour\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Switch\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:10:\"DataSource\";O:8:\"stdClass\":3:{s:11:\"description\";s:31:\"Describes
  an app's data source.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:3:\"Arn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:22:\"The
  data source's ARN.\";}s:12:\"DatabaseName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:18:\"The
  database name.\";}s:4:\"Type\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:155:\"The
  data source's type, <code>AutoSelectOpsworksMysqlInstance</code>, <code>OpsworksMysqlInstance</code>,
  <code>RdsDbInstance</code>, or <code>None</code>.\";}}s:4:\"type\";s:6:\"object\";}s:11:\"DataSources\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/DataSource\";}s:4:\"type\";s:5:\"array\";}s:8:\"DateTime\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"DeleteAppRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"AppId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:11:\"The
  app ID.\";}}s:8:\"required\";a:1:{i:0;s:5:\"AppId\";}s:4:\"type\";s:6:\"object\";}s:21:\"DeleteInstanceRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:15:\"DeleteElasticIp\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:50:\"Whether
  to delete the instance Elastic IP address.\";}s:13:\"DeleteVolumes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:52:\"Whether
  to delete the instance's Amazon EBS volumes.\";}s:10:\"InstanceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:16:\"The
  instance ID.\";}}s:8:\"required\";a:1:{i:0;s:10:\"InstanceId\";}s:4:\"type\";s:6:\"object\";}s:18:\"DeleteLayerRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"LayerId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:13:\"The
  layer ID.\";}}s:8:\"required\";a:1:{i:0;s:7:\"LayerId\";}s:4:\"type\";s:6:\"object\";}s:18:\"DeleteStackRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"StackId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:13:\"The
  stack ID.\";}}s:8:\"required\";a:1:{i:0;s:7:\"StackId\";}s:4:\"type\";s:6:\"object\";}s:24:\"DeleteUserProfileRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"IamUserArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:60:\"The
  user's IAM ARN. This can also be a federated user's ARN.\";}}s:8:\"required\";a:1:{i:0;s:10:\"IamUserArn\";}s:4:\"type\";s:6:\"object\";}s:10:\"Deployment\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"Describes
  a deployment of a stack or app.\";s:10:\"properties\";O:8:\"stdClass\":12:{s:5:\"AppId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:11:\"The
  app ID.\";}s:7:\"Command\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/DeploymentCommand\";}s:7:\"Comment\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:23:\"A
  user-defined comment.\";}s:11:\"CompletedAt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/DateTime\";s:11:\"description\";s:35:\"Date
  when the deployment completed.\";}s:9:\"CreatedAt\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/DateTime\";s:11:\"description\";s:37:\"Date
  when the deployment was created.\";}s:10:\"CustomJson\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:503:\"<p>A
  string that contains user-defined custom JSON. It can be used to override the corresponding
  default stack configuration attribute values for stack or to pass data to recipes.
  The string should be in the following format:</p> <p> <code>\"{\\\"key1\\\": \\\"value1\\\",
  \\\"key2\\\": \\\"value2\\\",...}\"</code> </p> <p>For more information on custom
  JSON, see <a href=\"http://docs.aws.amazon.com/opsworks/latest/userguide/workingstacks-json.html\">Use
  Custom JSON to Modify the Stack Configuration Attributes</a>.</p>\";}s:12:\"DeploymentId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:18:\"The
  deployment ID.\";}s:8:\"Duration\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:24:\"The
  deployment duration.\";}s:10:\"IamUserArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:19:\"The
  user's IAM ARN.\";}s:11:\"InstanceIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Strings\";s:11:\"description\";s:32:\"The
  IDs of the target instances.\";}s:7:\"StackId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:13:\"The
  stack ID.\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:120:\"<p>The
  deployment status:</p> <ul> <li> <p>running</p> </li> <li> <p>successful</p> </li>
  <li> <p>failed</p> </li> </ul>\";}}s:4:\"type\";s:6:\"object\";}s:17:\"DeploymentCommand\";O:8:\"stdClass\":4:{s:11:\"description\";s:46:\"Used
  to specify a stack or deployment command.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Args\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/DeploymentCommandArgs\";s:11:\"description\";s:1039:\"<p>The
  arguments of those commands that take arguments. It should be set to a JSON object
  with the following format:</p> <p> <code>{\"arg_name1\" : [\"value1\", \"value2\",
  ...], \"arg_name2\" : [\"value1\", \"value2\", ...], ...}</code> </p> <p>The <code>update_dependencies</code>
  command takes two arguments:</p> <ul> <li> <p> <code>upgrade_os_to</code> - Specifies
  the desired Amazon Linux version for instances whose OS you want to upgrade, such
  as <code>Amazon Linux 2016.09</code>. You must also set the <code>allow_reboot</code>
  argument to true.</p> </li> <li> <p> <code>allow_reboot</code> - Specifies whether
  to allow AWS OpsWorks Stacks to reboot the instances if necessary, after installing
  the updates. This argument can be set to either <code>true</code> or <code>false</code>.
  The default value is <code>false</code>.</p> </li> </ul> <p>For example, to upgrade
  an instance to Amazon Linux 2016.09, set <code>Args</code> to the following.</p>
  <p> <code> { \"upgrade_os_to\":[\"Amazon Linux 2016.09\"], \"allow_reboot\":[\"true\"]
  } </code> </p>\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/DeploymentCommandName\";s:11:\"description\";s:1832:\"<p>Specifies
  the operation. You can specify only one command.</p> <p>For stacks, the following
  commands are available:</p> <ul> <li> <p> <code>execute_recipes</code>: Execute
  one or more recipes. To specify the recipes, set an <code>Args</code> parameter
  named <code>recipes</code> to the list of recipes to be executed. For example, to
  execute <code>phpapp::appsetup</code>, set <code>Args</code> to <code>{\"recipes\":[\"phpapp::appsetup\"]}</code>.</p>
  </li> <li> <p> <code>install_dependencies</code>: Install the stack's dependencies.</p>
  </li> <li> <p> <code>update_custom_cookbooks</code>: Update the stack's custom cookbooks.</p>
  </li> <li> <p> <code>update_dependencies</code>: Update the stack's dependencies.</p>
  </li> </ul> <note> <p>The update_dependencies and install_dependencies commands
  are supported only for Linux instances. You can run the commands successfully on
  Windows instances, but they do nothing.</p> </note> <p>For apps, the following commands
  are available:</p> <ul> <li> <p> <code>deploy</code>: Deploy an app. Ruby on Rails
  apps have an optional <code>Args</code> parameter named <code>migrate</code>. Set
  <code>Args</code> to {\"migrate\":[\"true\"]} to migrate the database. The default
  setting is {\"migrate\":[\"false\"]}.</p> </li> <li> <p> <code>rollback</code> Roll
  the app back to the previous version. When you update an app, AWS OpsWorks Stacks
  stores the previous version, up to a maximum of five versions. You can use this
  command to roll an app back as many as four versions.</p> </li> <li> <p> <code>start</code>:
  Start the app's web or application server.</p> </li> <li> <p> <code>stop</code>:
  Stop the app's web or application server.</p> </li> <li> <p> <code>restart</code>:
  Restart the app's web or application server.</p> </li> <li> <p> <code>undeploy</code>:
  Undeploy the app.</p> </li> </ul>\";}}s:8:\"required\";a:1:{i:0;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:21:\"DeploymentCommandArgs\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Strings\";}}s:4:\"type\";s:6:\"object\";}s:4:\"type\";s:5:\"array\";}s:21:\"DeploymentCommandName\";O:8:\"stdClass\":2:{s:4:\"enum\";a:12:{i:0;s:20:\"install_dependencies\";i:1;s:19:\"update_dependencies\";i:2;s:23:\"update_custom_cookbooks\";i:3;s:15:\"execute_recipes\";i:4;s:9:\"configure\";i:5;s:5:\"setup\";i:6;s:6:\"deploy\";i:7;s:8:\"rollback\";i:8;s:5:\"start\";i:9;s:4:\"stop\";i:10;s:7:\"restart\";i:11;s:8:\"undeploy\";}s:4:\"type\";s:6:\"string\";}s:11:\"Deployments\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/Deployment\";}s:4:\"type\";s:5:\"array\";}s:27:\"DeregisterEcsClusterRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"EcsClusterArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:18:\"The
  cluster's ARN.\";}}s:8:\"required\";a:1:{i:0;s:13:\"EcsClusterArn\";}s:4:\"type\";s:6:\"object\";}s:26:\"DeregisterElasticIpRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"ElasticIp\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:23:\"The
  Elastic IP address.\";}}s:8:\"required\";a:1:{i:0;s:9:\"ElasticIp\";}s:4:\"type\";s:6:\"object\";}s:25:\"DeregisterInstanceRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"InstanceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:16:\"The
  instance ID.\";}}s:8:\"required\";a:1:{i:0;s:10:\"InstanceId\";}s:4:\"type\";s:6:\"object\";}s:30:\"DeregisterRdsDbInstanceRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:16:\"RdsDbInstanceArn\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:30:\"The
  Amazon RDS instance's ARN.\";}}s:8:\"required\";a:1:{i:0;s:16:\"RdsDbInstanceArn\";}s:4:\"type\";s:6:\"object\";}s:23:\"DeregisterVolumeRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"VolumeId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:179:\"The
  AWS OpsWorks Stacks volume ID, which is the GUID that AWS OpsWorks Stacks assigned
  to the instance when you registered the volume with the stack, not the Amazon EC2
  volume ID.\";}}s:8:\"required\";a:1:{i:0;s:8:\"VolumeId\";}s:4:\"type\";s:6:\"object\";}s:28:\"DescribeAgentVersionsRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:20:\"ConfigurationManager\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:39:\"#/definitions/StackConfigurationManager\";s:11:\"description\";s:26:\"The
  configuration manager.\";}s:7:\"StackId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:13:\"The
  stack ID.\";}}s:4:\"type\";s:6:\"object\";}s:27:\"DescribeAgentVersionsResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"Contains
  the response to a <code>DescribeAgentVersions</code> request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:13:\"AgentVersions\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/AgentVersions\";s:11:\"description\";s:169:\"The
  agent versions for the specified stack or configuration manager. Note that this
  value is the complete version number, not the abbreviated number used by the console.\";}}s:4:\"type\";s:6:\"object\";}s:19:\"DescribeAppsRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"AppIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Strings\";s:11:\"description\";s:197:\"An
  array of app IDs for the apps to be described. If you use this parameter, <code>DescribeApps</code>
  returns a description of the specified apps. Otherwise, it returns a description
  of every app.\";}s:7:\"StackId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:128:\"The
  app stack ID. If you use this parameter, <code>DescribeApps</code> returns a description
  of the apps in the specified stack.\";}}s:4:\"type\";s:6:\"object\";}s:18:\"DescribeAppsResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"Contains
  the response to a <code>DescribeApps</code> request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"Apps\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Apps\";s:11:\"description\";s:71:\"An
  array of <code>App</code> objects that describe the specified apps. \";}}s:4:\"type\";s:6:\"object\";}s:23:\"DescribeCommandsRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"CommandIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Strings\";s:11:\"description\";s:188:\"An
  array of command IDs. If you include this parameter, <code>DescribeCommands</code>
  returns a description of the specified commands. Otherwise, it returns a description
  of every command.\";}s:12:\"DeploymentId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:159:\"The
  deployment ID. If you include this parameter, <code>DescribeCommands</code> returns
  a description of the commands associated with the specified deployment.\";}s:10:\"InstanceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:155:\"The
  instance ID. If you include this parameter, <code>DescribeCommands</code> returns
  a description of the commands associated with the specified instance.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"DescribeCommandsResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"Contains
  the response to a <code>DescribeCommands</code> request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"Commands\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/Commands\";s:11:\"description\";s:86:\"An
  array of <code>Command</code> objects that describe each of the specified commands.\";}}s:4:\"type\";s:6:\"object\";}s:26:\"DescribeDeploymentsRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"AppId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:127:\"The
  app ID. If you include this parameter, the command returns a description of the
  commands associated with the specified app.\";}s:13:\"DeploymentIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Strings\";s:11:\"description\";s:195:\"An
  array of deployment IDs to be described. If you include this parameter, the command
  returns a description of the specified deployments. Otherwise, it returns a description
  of every deployment.\";}s:7:\"StackId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:131:\"The
  stack ID. If you include this parameter, the command returns a description of the
  commands associated with the specified stack.\";}}s:4:\"type\";s:6:\"object\";}s:25:\"DescribeDeploymentsResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"Contains
  the response to a <code>DescribeDeployments</code> request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:11:\"Deployments\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/Deployments\";s:11:\"description\";s:74:\"An
  array of <code>Deployment</code> objects that describe the deployments.\";}}s:4:\"type\";s:6:\"object\";}s:26:\"DescribeEcsClustersRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":4:{s:14:\"EcsClusterArns\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Strings\";s:11:\"description\";s:53:\"A
  list of ARNs, one for each cluster to be described.\";}s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:337:\"To
  receive a paginated response, use this parameter to specify the maximum number of
  results to be returned with a single call. If the number of available results exceeds
  this maximum, the response includes a <code>NextToken</code> value that you can
  assign to the <code>NextToken</code> request parameter to get the next set of results.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:446:\"If
  the previous paginated request did not return all of the remaining results, the
  response object's<code>NextToken</code> parameter value is set to a token. To retrieve
  the next set of results, call <code>DescribeEcsClusters</code> again and assign
  that token to the request object's <code>NextToken</code> parameter. If there are
  no remaining results, the previous response object's <code>NextToken</code> parameter
  is set to <code>null</code>.\";}s:7:\"StackId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:116:\"A
  stack ID. <code>DescribeEcsClusters</code> returns a description of the cluster
  that is registered with the stack.\";}}s:4:\"type\";s:6:\"object\";}s:25:\"DescribeEcsClustersResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"Contains
  the response to a <code>DescribeEcsClusters</code> request.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"EcsClusters\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/EcsClusters\";s:11:\"description\";s:78:\"A
  list of <code>EcsCluster</code> objects containing the cluster descriptions.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:332:\"If
  a paginated request does not return all of the remaining results, this parameter
  is set to a token that you can assign to the request object's <code>NextToken</code>
  parameter to retrieve the next set of results. If the previous paginated request
  returned all of the remaining results, this parameter is set to <code>null</code>.\";}}s:4:\"type\";s:6:\"object\";}s:25:\"DescribeElasticIpsRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"InstanceId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:169:\"The
  instance ID. If you include this parameter, <code>DescribeElasticIps</code> returns
  a description of the Elastic IP addresses associated with the specified instance.\";}s:3:\"Ips\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Strings\";s:11:\"description\";s:238:\"An
  array of Elastic IP addresses to be described. If you include this parameter, <code>DescribeElasticIps</code>
  returns a description of the specified Elastic IP addresses. Otherwise, it returns
  a description of every Elastic IP address.\";}s:7:\"StackId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:170:\"A
  stack ID. If you include this parameter, <code>DescribeElasticIps</code> returns
  a description of the Elastic IP addresses that are registered with the specified
  stack.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"DescribeElasticIpsResult\";O:8:\"stdClass\":3:{s:11:\"description\";s:67:\"Contains
  the response to a <code>DescribeElasticIps</code> request.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"ElasticIps\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/ElasticIps\";s:11:\"description\";s:84:\"An
  <code>ElasticIps</code> object that describes the specified Elastic IP addresses.\";}}s:4:\"type\";s:6:\"object\";}s:35:\"DescribeElasticLoadBalancersRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"LayerIds\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Strings\";s:11:\"description\";s:104:\"A
  list of layer IDs. The action describes the Elastic Load Balancing instances for
[...]
