---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":9:{s:7:\"contact\";O:8:\"stdClass\":2:{s:5:\"email\";s:20:\"api@schooldigger.com\";s:4:\"name\";s:12:\"SchoolDigger\";}s:11:\"description\";s:74:\"Get
  detailed data on over 120,000 schools and 18,500 districts in the U.S.\";s:14:\"termsOfService\";s:49:\"https://developer.schooldigger.com/termsofservice\";s:5:\"title\";s:19:\"SchoolDigger
  API V1\";s:7:\"version\";s:2:\"v1\";s:21:\"x-apisguru-categories\";a:2:{i:0;s:9:\"open_data\";i:1;s:9:\"education\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:44:\"https://api.schooldigger.com/swagger/docs/v1\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:16:\"schooldigger.com\";}"
host: api.schooldigger.com
paths:
  /v1/districts:
    get:
      description: Search the SchoolDigger database for districts. You may use any
        combination of criteria as query parameters.
      operationId: Districts_GetAllDistricts
      parameters:
      - description: Two character state (e.g. 'CA') - required
        in: query
        name: st
        required: true
        type: string
      - description: 'Search term - note: will match district name or city (optional)'
        in: query
        name: q
        required: false
        type: string
      - description: Search for districts in this city (optional)
        in: query
        name: city
        required: false
        type: string
      - description: Search for districts in this 5-digit zip code (optional)
        in: query
        name: zip
        required: false
        type: string
      - description: Search for districts within (distanceMiles) of (nearLatitude)/(nearLongitude)
          (e.g. 44.982560) (optional) (Pro, Enterprise API levels only. Enterprise
          API level will flag districts that include lat/long in its attendance boundary.)
        format: double
        in: query
        name: nearLatitude
        required: false
        type: number
      - description: Search for districts within (distanceMiles) of (nearLatitude)/(nearLongitude)
          (e.g. -124.289185) (optional) (Pro, Enterprise API levels only. Enterprise
          API level will flag districts that include lat/long in its attendance boundary.)
        format: double
        in: query
        name: nearLongitude
        required: false
        type: number
      - description: 'Full U.S. address: flag returned districts that include this
          address in its attendance boundary. Example: ''123 Main St. AnyTown CA 90001''
          (optional) (Enterprise API level only)'
        in: query
        name: boundaryAddress
        required: false
        type: string
      - description: Search for districts within (distanceMiles) of (nearLatitude)/(nearLongitude)
          (Default 5 miles) (optional) (Pro, Enterprise API levels only)
        format: int32
        in: query
        name: distanceMiles
        required: false
        type: integer
      - description: Return only the districts that include given location (nearLatitdue/nearLongitude)
          or (nearAddress) in its attendance boundary (Enterprise API level only)
        in: query
        name: isInBoundaryOnly
        required: false
        type: boolean
      - description: Search for districts within a 'box' defined by (BoxLatitudeNW/BoxLongitudeNW)
          to (BoxLongitudeSE/BoxLatitudeSE) (optional)
        format: double
        in: query
        name: boxLatitudeNW
        required: false
        type: number
      - description: Search for districts within a 'box' defined by (BoxLatitudeNW/BoxLongitudeNW)
          to (BoxLongitudeSE/BoxLatitudeSE) (optional)
        format: double
        in: query
        name: boxLongitudeNW
        required: false
        type: number
      - description: Search for districts within a 'box' defined by (BoxLatitudeNW/BoxLongitudeNW)
          to (BoxLongitudeSE/BoxLatitudeSE) (optional)
        format: double
        in: query
        name: boxLatitudeSE
        required: false
        type: number
      - description: Search for districts within a 'box' defined by (BoxLatitudeNW/BoxLongitudeNW)
          to (BoxLongitudeSE/BoxLatitudeSE) (optional)
        format: double
        in: query
        name: boxLongitudeSE
        required: false
        type: number
      - description: 'Page number to retrieve (optional, default: 1)'
        format: int32
        in: query
        name: page
        required: false
        type: integer
      - description: 'Number of districts to retrieve on a page (50 max) (optional,
          default: 10)'
        format: int32
        in: query
        name: perPage
        required: false
        type: integer
      - description: 'Sort list. Values are: districtname, distance, rank. For descending
          order, preceed with ''-'' i.e. -districtname (optional, default: districtname)'
        in: query
        name: sortBy
        required: false
        type: string
      - description: Your API app id
        in: query
        name: appID
        required: true
        type: string
        x-data-threescale-name: app_ids
      - description: Your API app key
        in: query
        name: appKey
        required: true
        type: string
        x-data-threescale-name: app_keys
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/APIDistrictList'
      summary: Returns a list of districts
      tags:
      - Districts
  /v1/districts/{id}:
    get:
      description: Retrieve a single district record from the SchoolDigger database
      operationId: Districts_GetDistrict
      parameters:
      - description: The 7 digit District ID (e.g. 0642150)
        in: path
        name: id
        required: true
        type: string
      - description: Your API app id
        in: query
        name: appID
        required: true
        type: string
        x-data-threescale-name: app_ids
      - description: Your API app key
        in: query
        name: appKey
        required: true
        type: string
        x-data-threescale-name: app_keys
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/APIDistrict'
      summary: Returns a detailed record for one district
      tags:
      - Districts
  /v1/rankings/districts/{st}:
    get:
      parameters:
      - description: Two character state (e.g. 'CA')
        in: path
        name: st
        required: true
        type: string
      - description: The ranking year (leave blank for most recent year)
        format: int32
        in: query
        name: year
        required: false
        type: integer
      - description: 'Page number to retrieve (optional, default: 1)'
        format: int32
        in: query
        name: page
        required: false
        type: integer
      - description: 'Number of districts to retrieve on a page (50 max) (optional,
          default: 10)'
        format: int32
        in: query
        name: perPage
        required: false
        type: integer
      - description: Your API app id
        in: query
        name: appID
        required: true
        type: string
        x-data-threescale-name: app_ids
      - description: Your API app key
        in: query
        name: appKey
        required: true
        type: string
        x-data-threescale-name: app_keys
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/APIDistrictListRank'
      summary: Returns a SchoolDigger district ranking list
      tags:
      - Rankings
  /v1/rankings/schools/{st}:
    get:
      parameters:
      - description: Two character state (e.g. 'CA')
        in: path
        name: st
        required: true
        type: string
      - description: The ranking year (leave blank for most recent year)
        format: int32
        in: query
        name: year
        required: false
        type: integer
      - description: 'Level of ranking: ''Elementary'', ''Middle'', or ''High'''
        in: query
        name: level
        required: false
        type: string
      - description: 'Page number to retrieve (optional, default: 1)'
        format: int32
        in: query
        name: page
        required: false
        type: integer
      - description: 'Number of schools to retrieve on a page (50 max) (optional,
          default: 10)'
        format: int32
        in: query
        name: perPage
        required: false
        type: integer
      - description: Your API app id
        in: query
        name: appID
        required: true
        type: string
        x-data-threescale-name: app_ids
      - description: Your API app key
        in: query
        name: appKey
        required: true
        type: string
        x-data-threescale-name: app_keys
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/APISchoolListRank'
      summary: Returns a SchoolDigger school ranking list
      tags:
      - Rankings
  /v1/schools:
    get:
      description: Search the SchoolDigger database for schools. You may use any combination
        of criteria as query parameters.
      operationId: Schools_GetAllSchools
      parameters:
      - description: Two character state (e.g. 'CA') - required
        in: query
        name: st
        required: true
        type: string
      - description: 'Search term - note: will match school name or city (optional)'
        in: query
        name: q
        required: false
        type: string
      - description: Search for schools within this district (7 digit district id)
          (optional)
        in: query
        name: districtID
        required: false
        type: string
      - description: 'Search for schools at this level. Valid values: ''Elementary'',
          ''Middle'', ''High'', ''Alt'', ''Private'' (optional)'
        in: query
        name: level
        required: false
        type: string
      - description: Search for schools in this city (optional)
        in: query
        name: city
        required: false
        type: string
      - description: Search for schools in this 5-digit zip code (optional)
        in: query
        name: zip
        required: false
        type: string
      - description: True = return only magnet schools, False = return only non-magnet
          schools (optional) (Pro, Enterprise API levels only)
        in: query
        name: isMagnet
        required: false
        type: boolean
      - description: True = return only charter schools, False = return only non-charter
          schools (optional) (Pro, Enterprise API levels only)
        in: query
        name: isCharter
        required: false
        type: boolean
      - description: True = return only virtual schools, False = return only non-virtual
          schools (optional) (Pro, Enterprise API levels only)
        in: query
        name: isVirtual
        required: false
        type: boolean
      - description: True = return only Title I schools, False = return only non-Title
          I schools (optional) (Pro, Enterprise API levels only)
        in: query
        name: isTitleI
        required: false
        type: boolean
      - description: True = return only Title I schoolwide schools, False = return
          only non-Title I Schoolwide schools (optional) (Pro, Enterprise API levels
          only)
        in: query
        name: isTitleISchoolwide
        required: false
        type: boolean
      - description: Search for schools within (distanceMiles) of (nearLatitude)/(nearLongitude)
          (e.g. 44.982560) (optional) (Pro, Enterprise API levels only. Enterprise
          API level will flag schools that include lat/long in its attendance boundary.)
        format: double
        in: query
        name: nearLatitude
        required: false
        type: number
      - description: Search for schools within (distanceMiles) of (nearLatitude)/(nearLongitude)
          (e.g. -124.289185) (optional) (Pro, Enterprise API levels only. Enterprise
          API level will flag schools that include lat/long in its attendance boundary.)
        format: double
        in: query
        name: nearLongitude
        required: false
        type: number
      - description: 'Full U.S. address: flag returned schools that include this address
          in its attendance boundary. Example: ''123 Main St. AnyTown CA 90001'' (optional)
          (Enterprise API level only)'
        in: query
        name: boundaryAddress
        required: false
        type: string
      - description: Search for schools within (distanceMiles) of (nearLatitude)/(nearLongitude)
          (Default 5 miles) (optional) (Pro, Enterprise API levels only)
        format: int32
        in: query
        name: distanceMiles
        required: false
        type: integer
      - description: Return only the schools that include given location (nearLatitdue/nearLongitude)
          or (nearAddress) in its attendance boundary (Enterprise API level only)
        in: query
        name: isInBoundaryOnly
        required: false
        type: boolean
      - description: Search for schools within a 'box' defined by (boxLatitudeNW/boxLongitudeNW)
          to (boxLongitudeSE/boxLatitudeSE) (optional)
        format: double
        in: query
        name: boxLatitudeNW
        required: false
        type: number
      - description: Search for schools within a 'box' defined by (boxLatitudeNW/boxLongitudeNW)
          to (boxLongitudeSE/boxLatitudeSE) (optional)
        format: double
        in: query
        name: boxLongitudeNW
        required: false
        type: number
      - description: Search for schools within a 'box' defined by (boxLatitudeNW/boxLongitudeNW)
          to (boxLongitudeSE/boxLatitudeSE) (optional)
        format: double
        in: query
        name: boxLatitudeSE
        required: false
        type: number
      - description: Search for schools within a 'box' defined by (boxLatitudeNW/boxLongitudeNW)
          to (boxLongitudeSE/boxLatitudeSE) (optional)
        format: double
        in: query
        name: boxLongitudeSE
        required: false
        type: number
      - description: 'Page number to retrieve (optional, default: 1)'
        format: int32
        in: query
        name: page
        required: false
        type: integer
      - description: 'Number of schools to retrieve on a page (50 max) (optional,
          default: 10)'
        format: int32
        in: query
        name: perPage
        required: false
        type: integer
      - description: 'Sort list. Values are: schoolname, distance, rank. For descending
          order, preceed with ''-'' i.e. -schoolname (optional, default: schoolname)'
        in: query
        name: sortBy
        required: false
        type: string
      - description: Your API app id
        in: query
        name: appID
        required: true
        type: string
        x-data-threescale-name: app_ids
      - description: Your API app key
        in: query
        name: appKey
        required: true
        type: string
        x-data-threescale-name: app_keys
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/APISchoolList'
      summary: Returns a list of schools
      tags:
      - Schools
  /v1/schools/{id}:
    get:
      description: Retrieve a school record from the SchoolDigger database
      operationId: Schools_GetSchool
      parameters:
      - description: The 12 digit School ID (e.g. 064215006903)
        in: path
        name: id
        required: true
        type: string
      - description: Your API app id
        in: query
        name: appID
        required: true
        type: string
        x-data-threescale-name: app_ids
      - description: Your API app key
        in: query
        name: appKey
        required: true
        type: string
        x-data-threescale-name: app_keys
      responses:
        200:
          description: OK
          schema:
            $ref: '#/definitions/APISchool'
      summary: Returns a detailed record for one school
      tags:
      - Schools
produces:
- application/json
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":20:{s:11:\"APIBoundary\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"hasBoundary\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"States
  whether there is a boundary available\";s:8:\"readOnly\";b:0;s:4:\"type\";s:7:\"boolean\";}s:18:\"polylineCollection\";O:8:\"stdClass\":4:{s:11:\"description\";s:240:\"Collection
  of one or more polylines that can be used to create the boundary on a map. NOTE:
  this value is JSON encoded. Specifically, backslashes will be returned escaped (two
  backslashes). Make sure to decode the polyline before you use it\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/APIPolyline\";}s:8:\"readOnly\";b:0;s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:9:\"APICounty\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"countyName\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"County
  in which the school or district is located\";s:4:\"type\";s:6:\"string\";}s:9:\"countyURL\";O:8:\"stdClass\":3:{s:11:\"description\";s:47:\"SchoolDigger
  URL for all schools in this county\";s:8:\"readOnly\";b:0;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"APIDistrict\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":18:{s:7:\"address\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:25:\"#/definitions/APILocation\";s:11:\"description\";s:27:\"District's
  physical address\";s:8:\"readOnly\";b:0;}s:8:\"boundary\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/APIBoundary\";s:8:\"readOnly\";b:0;}s:6:\"county\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:23:\"#/definitions/APICounty\";s:11:\"description\";s:32:\"County
  where district is located\";s:8:\"readOnly\";b:0;}s:10:\"districtID\";O:8:\"stdClass\":3:{s:11:\"description\";s:42:\"SchoolDigger
  District ID Number (7 digits)\";s:8:\"readOnly\";b:0;s:4:\"type\";s:6:\"string\";}s:12:\"districtName\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"District
  name\";s:4:\"type\";s:6:\"string\";}s:21:\"districtYearlyDetails\";O:8:\"stdClass\":4:{s:11:\"description\";s:23:\"District
  yearly metrics\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/APILEAYearlyDetail\";}s:8:\"readOnly\";b:0;s:4:\"type\";s:5:\"array\";}s:9:\"highGrade\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  high grade served by this district\";s:8:\"readOnly\";b:0;s:4:\"type\";s:6:\"string\";}s:16:\"isWithinBoundary\";O:8:\"stdClass\":3:{s:11:\"description\";s:106:\"Indicates
  whether this district's boundary includes the specified location from fromLatitude/fromLongitude\";s:8:\"readOnly\";b:0;s:4:\"type\";s:7:\"boolean\";}s:8:\"lowGrade\";O:8:\"stdClass\":3:{s:11:\"description\";s:78:\"The
  low grade served by this district (PK = Prekindergarten, K = Kindergarten)\";s:8:\"readOnly\";b:0;s:4:\"type\";s:6:\"string\";}s:24:\"numberAlternativeSchools\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:0;s:4:\"type\";s:7:\"integer\";}s:17:\"numberHighSchools\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:0;s:4:\"type\";s:7:\"integer\";}s:19:\"numberMiddleSchools\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:0;s:4:\"type\";s:7:\"integer\";}s:20:\"numberPrimarySchools\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:0;s:4:\"type\";s:7:\"integer\";}s:18:\"numberTotalSchools\";O:8:\"stdClass\":3:{s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:0;s:4:\"type\";s:7:\"integer\";}s:5:\"phone\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"District
  phone number\";s:4:\"type\";s:6:\"string\";}s:11:\"rankHistory\";O:8:\"stdClass\":4:{s:11:\"description\";s:48:\"SchoolDigger
  yearly rank history of the district\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/APILEARankHistory\";}s:8:\"readOnly\";b:0;s:4:\"type\";s:5:\"array\";}s:10:\"testScores\";O:8:\"stdClass\":4:{s:11:\"description\";s:85:\"Test
  scores (district and state) -- requires Pro or Enterprise level API subscription\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/APITestScoreWrapper\";}s:8:\"readOnly\";b:0;s:4:\"type\";s:5:\"array\";}s:3:\"url\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"SchoolDigger
  URL for this district\";s:8:\"readOnly\";b:0;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:12:\"APIDistrict1\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":20:{s:7:\"address\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:25:\"#/definitions/APILocation\";s:11:\"description\";s:27:\"District's
  physical address\";s:8:\"readOnly\";b:0;}s:6:\"county\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:23:\"#/definitions/APICounty\";s:11:\"description\";s:32:\"County
  where district is located\";s:8:\"readOnly\";b:0;}s:8:\"distance\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"Distance
  from nearLatitude/nearLongitude (if supplied)\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:10:\"districtID\";O:8:\"stdClass\":3:{s:11:\"description\";s:110:\"SchoolDigger
  District ID Number (7 digits). Use /districts/{districtID} to retrieve the entire
  district record\";s:8:\"readOnly\";b:0;s:4:\"type\";s:6:\"string\";}s:12:\"districtName\";O:8:\"stdClass\":2:{s:11:\"description\";s:13:\"District
  name\";s:4:\"type\";s:6:\"string\";}s:21:\"districtYearlyDetails\";O:8:\"stdClass\":4:{s:11:\"description\";s:23:\"District
  yearly metrics\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/APILEAYearlyDetail\";}s:8:\"readOnly\";b:0;s:4:\"type\";s:5:\"array\";}s:11:\"hasBoundary\";O:8:\"stdClass\":3:{s:11:\"description\";s:122:\"Indicates
  that an attendance boundary is available for this district. (To retrieve, look up
  district with /districts/{id})\";s:8:\"readOnly\";b:0;s:4:\"type\";s:7:\"boolean\";}s:9:\"highGrade\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  high grade served by this district\";s:8:\"readOnly\";b:0;s:4:\"type\";s:6:\"string\";}s:16:\"isWithinBoundary\";O:8:\"stdClass\":3:{s:11:\"description\";s:106:\"Indicates
  whether this district's boundary includes the specified location from fromLatitude/fromLongitude\";s:8:\"readOnly\";b:0;s:4:\"type\";s:7:\"boolean\";}s:24:\"locationIsWithinBoundary\";O:8:\"stdClass\":3:{s:11:\"description\";s:146:\"Indicates
  whether this school's boundary includes the specified location from fromLatitude/fromLongitude
  or boundaryAddress (Enterprise API level)\";s:8:\"readOnly\";b:0;s:4:\"type\";s:7:\"boolean\";}s:8:\"lowGrade\";O:8:\"stdClass\":3:{s:11:\"description\";s:78:\"The
  low grade served by this district (PK = Prekindergarten, K = Kindergarten)\";s:8:\"readOnly\";b:0;s:4:\"type\";s:6:\"string\";}s:24:\"numberAlternativeSchools\";O:8:\"stdClass\":4:{s:11:\"description\";s:56:\"Count
  of schools designated as other/alternative schools\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:0;s:4:\"type\";s:7:\"integer\";}s:17:\"numberHighSchools\";O:8:\"stdClass\":4:{s:11:\"description\";s:43:\"Count
  of schools designated as high schools\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:0;s:4:\"type\";s:7:\"integer\";}s:19:\"numberMiddleSchools\";O:8:\"stdClass\":4:{s:11:\"description\";s:45:\"Count
  of schools designated as middle schools\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:0;s:4:\"type\";s:7:\"integer\";}s:20:\"numberPrimarySchools\";O:8:\"stdClass\":4:{s:11:\"description\";s:46:\"Count
  of schools designated as primary schools\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:0;s:4:\"type\";s:7:\"integer\";}s:18:\"numberTotalSchools\";O:8:\"stdClass\":4:{s:11:\"description\";s:32:\"Count
  of schools in the district\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:0;s:4:\"type\";s:7:\"integer\";}s:5:\"phone\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"District
  phone number\";s:4:\"type\";s:6:\"string\";}s:11:\"rankHistory\";O:8:\"stdClass\":4:{s:11:\"description\";s:48:\"SchoolDigger
  yearly rank history of the district\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/APILEARankHistory\";}s:8:\"readOnly\";b:0;s:4:\"type\";s:5:\"array\";}s:10:\"testScores\";O:8:\"stdClass\":4:{s:11:\"description\";s:85:\"Test
  scores (district and state) -- requires Pro or Enterprise level API subscription\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/APITestScoreWrapper\";}s:8:\"readOnly\";b:0;s:4:\"type\";s:5:\"array\";}s:3:\"url\";O:8:\"stdClass\":3:{s:11:\"description\";s:34:\"SchoolDigger
  URL for this district\";s:8:\"readOnly\";b:0;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:15:\"APIDistrictList\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"districtList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/APIDistrict1\";}s:4:\"type\";s:5:\"array\";}s:17:\"numberOfDistricts\";O:8:\"stdClass\":4:{s:11:\"description\";s:50:\"The
  total count of districts that match your query\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:0;s:4:\"type\";s:7:\"integer\";}s:13:\"numberOfPages\";O:8:\"stdClass\":4:{s:11:\"description\";s:73:\"The
  total count of pages in your query list based on given per_page value\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:0;s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:19:\"APIDistrictListRank\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:12:\"districtList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/APIDistrict1\";}s:4:\"type\";s:5:\"array\";}s:17:\"numberOfDistricts\";O:8:\"stdClass\":4:{s:11:\"description\";s:52:\"The
  total count of districts in the entire rank list\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:0;s:4:\"type\";s:7:\"integer\";}s:13:\"numberOfPages\";O:8:\"stdClass\":4:{s:11:\"description\";s:73:\"The
  total count of pages in your query list based on given per_page value\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:0;s:4:\"type\";s:7:\"integer\";}s:15:\"rankCompareYear\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:8:\"rankYear\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Year
  this ranking list represents (2018 = 2017-18)\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:15:\"rankYearCompare\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"Year
  rankings returned for comparison (2018 = 2017-18)\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:18:\"rankYearsAvailable\";O:8:\"stdClass\":3:{s:11:\"description\";s:79:\"The
  years for which SchoolDigger district rankings are available for this state\";s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:14:\"APIDistrictSum\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"District
  Summary\";s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"districtID\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"The
  7 digit SchoolDigger District id number\";s:8:\"readOnly\";b:0;s:4:\"type\";s:6:\"string\";}s:12:\"districtName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"rankURL\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"The
  URL to see the district in the SchoolDigger ranking list\";s:8:\"readOnly\";b:0;s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  URL to see the district details on SchoolDigger\";s:8:\"readOnly\";b:0;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:17:\"APILEARankHistory\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:4:\"rank\";O:8:\"stdClass\":4:{s:11:\"description\";s:31:\"Statewide
  rank of this district\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:0;s:4:\"type\";s:7:\"integer\";}s:6:\"rankOf\";O:8:\"stdClass\":4:{s:11:\"description\";s:38:\"Count
  of district ranked in this state\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:0;s:4:\"type\";s:7:\"integer\";}s:9:\"rankScore\";O:8:\"stdClass\":4:{s:11:\"description\";s:94:\"The
  rank score calculated by SchoolDigger (see https://www.schooldigger.com/aboutranking.aspx)\";s:6:\"format\";s:6:\"double\";s:8:\"readOnly\";b:0;s:4:\"type\";s:6:\"number\";}s:9:\"rankStars\";O:8:\"stdClass\":4:{s:11:\"description\";s:88:\"The
  number of stars SchoolDigger awarded in the ranking of the district (0-5, 5 is best)\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:0;s:4:\"type\";s:7:\"integer\";}s:23:\"rankStatewidePercentage\";O:8:\"stdClass\":4:{s:11:\"description\";s:108:\"Percentile
  of this district's rank (e.g. this district performed better than (x)% of this state's
  districts)\";s:6:\"format\";s:6:\"double\";s:8:\"readOnly\";b:0;s:4:\"type\";s:6:\"number\";}s:4:\"year\";O:8:\"stdClass\":4:{s:11:\"description\";s:28:\"School
  year (2017 - 2016-17)\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:0;s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:18:\"APILEAYearlyDetail\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":22:{s:12:\"numberOfAids\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"Number
  of full-time equivalent instructional aids employed by the district\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:25:\"numberOfCoordsSupervisors\";O:8:\"stdClass\":3:{s:11:\"description\";s:94:\"Number
  of full-time equivalent instructional coordinators/supervisors employed by the district\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:38:\"numberOfEnglishLanguageLearnerStudents\";O:8:\"stdClass\":3:{s:11:\"description\";s:84:\"The
  number of English language learner (ELL) students served in appropriate programs\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:20:\"numberOfGuidanceElem\";O:8:\"stdClass\":3:{s:11:\"description\";s:86:\"Number
  of full-time equivalent elementary guidance counselors employed by the district\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:25:\"numberOfGuidanceSecondary\";O:8:\"stdClass\":3:{s:11:\"description\";s:85:\"Number
  of full-time equivalent secondary guidance counselors employed by the district\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:21:\"numberOfGuidanceTotal\";O:8:\"stdClass\":3:{s:11:\"description\";s:81:\"Total
  number of full-time equivalent guidance counselors employed by the district\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:25:\"numberOfLEAAdministrators\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"Number
  of full-time equivalent LEA administrators employed by the district (LEA)\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:23:\"numberOfLEASupportStaff\";O:8:\"stdClass\":3:{s:11:\"description\";s:94:\"Number
  of full-time equivalent LEA administrative support staff employed by the district
  (LEA)\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:18:\"numberOfLibrarians\";O:8:\"stdClass\":3:{s:11:\"description\";s:84:\"Number
  of full-time equivalent librarians/media specialists employed by the district\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:20:\"numberOfLibraryStaff\";O:8:\"stdClass\":3:{s:11:\"description\";s:86:\"Number
  of full-time equivalent librarians/media support staff employed by the district\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:25:\"numberOfOtherSupportStaff\";O:8:\"stdClass\":3:{s:11:\"description\";s:85:\"Number
  of full-time equivalent all other support staff employed by the district (LEA)\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:31:\"numberOfSchoolAdminSupportStaff\";O:8:\"stdClass\":3:{s:11:\"description\";s:97:\"Number
  of full-time equivalent school administrative support staff employed by the district
  (LEA)\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:28:\"numberOfSchoolAdministrators\";O:8:\"stdClass\":3:{s:11:\"description\";s:83:\"Number
  of full-time equivalent school administrators employed by the district (LEA)\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:25:\"numberOfSpecialEdStudents\";O:8:\"stdClass\":3:{s:11:\"description\";s:139:\"The
  number of students having a written Individualized Education Program (IEP) under
  the Individuals With Disabilities Education Act (IDEA)\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:27:\"numberOfStudentSupportStaff\";O:8:\"stdClass\":3:{s:11:\"description\";s:92:\"Number
  of full-time equivalent student support services staff employed by the district
  (LEA)\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:16:\"numberOfStudents\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Number
  of students enrolled in the district\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:16:\"numberOfTeachers\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"Number
  of full-time equivalent teachers employed by the district\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:26:\"numberOfTeachersElementary\";O:8:\"stdClass\":3:{s:11:\"description\";s:75:\"Number
  of full-time equivalent elementary teachers employed by the district\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:17:\"numberOfTeachersK\";O:8:\"stdClass\":3:{s:11:\"description\";s:77:\"Number
  of full-time equivalent kindergarten teachers employed by the district\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:18:\"numberOfTeachersPK\";O:8:\"stdClass\":3:{s:11:\"description\";s:81:\"Number
  of full-time equivalent pre-kindergarten teachers employed by the district\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:25:\"numberOfTeachersSecondary\";O:8:\"stdClass\":3:{s:11:\"description\";s:74:\"Number
  of full-time equivalent secondary teachers employed by the district\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:4:\"year\";O:8:\"stdClass\":3:{s:11:\"description\";s:28:\"School
  year (2018 = 2017-18)\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:10:\"APILatLong\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"latitude\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:9:\"longitude\";O:8:\"stdClass\":2:{s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}}s:4:\"type\";s:6:\"object\";}s:11:\"APILocation\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":10:{s:4:\"city\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"cityURL\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"SchoolDigger
  URL for schools in this city\";s:8:\"readOnly\";b:0;s:4:\"type\";s:6:\"string\";}s:4:\"html\";O:8:\"stdClass\":3:{s:11:\"description\";s:22:\"HTML
  formatted address\";s:8:\"readOnly\";b:0;s:4:\"type\";s:6:\"string\";}s:7:\"latLong\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:24:\"#/definitions/APILatLong\";s:11:\"description\";s:73:\"Latitude/longitude
  of school address (Pro and Enterprise API levels only)\";s:8:\"readOnly\";b:0;}s:5:\"state\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"stateFull\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Full
  state name (WA = Washington)\";s:8:\"readOnly\";b:0;s:4:\"type\";s:6:\"string\";}s:6:\"street\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:3:\"zip\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"zip4\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:6:\"zipURL\";O:8:\"stdClass\":3:{s:11:\"description\";s:45:\"SchoolDigger
  URL for schools in this zip code\";s:8:\"readOnly\";b:0;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:11:\"APIPolyline\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:19:\"numberEncodedPoints\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"Number
  of encoded points in polyline\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:28:\"polylineOverlayEncodedPoints\";O:8:\"stdClass\":2:{s:11:\"description\";s:215:\"Polyline
  for use with Google Maps or other mapping software. NOTE: this value is JSON encoded.
  Specifically, backslashes will be returned escaped (two backslashes). Make sure
  to decode the polyline before you use it\";s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:14:\"APIRankHistory\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:20:\"averageStandardScore\";O:8:\"stdClass\":3:{s:11:\"description\";s:118:\"The
  Average Standard score calculated by SchoolDigger (see: https://www.schooldigger.com/aboutrankingmethodology.aspx)\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:4:\"rank\";O:8:\"stdClass\":4:{s:11:\"description\";s:29:\"Statewide
  rank of this School\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:0;s:4:\"type\";s:7:\"integer\";}s:9:\"rankLevel\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"The
  level for which this school is ranked (Elementary, Middle, High)\";s:8:\"readOnly\";b:0;s:4:\"type\";s:6:\"string\";}s:6:\"rankOf\";O:8:\"stdClass\":4:{s:11:\"description\";s:43:\"Count
  of schools ranked at this state/level\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:0;s:4:\"type\";s:7:\"integer\";}s:9:\"rankStars\";O:8:\"stdClass\":4:{s:11:\"description\";s:86:\"The
  number of stars SchoolDigger awarded in the ranking of the school (0-5, 5 is best)\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:0;s:4:\"type\";s:7:\"integer\";}s:23:\"rankStatewidePercentage\";O:8:\"stdClass\":4:{s:11:\"description\";s:113:\"Percentile
  of this school's rank (e.g. this school performed better than (x)% of this state's
  elementary schools)\";s:6:\"format\";s:6:\"double\";s:8:\"readOnly\";b:0;s:4:\"type\";s:6:\"number\";}s:4:\"year\";O:8:\"stdClass\":4:{s:11:\"description\";s:28:\"School
  year (2017 - 2016-17)\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:0;s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:9:\"APISchool\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":28:{s:7:\"address\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:25:\"#/definitions/APILocation\";s:11:\"description\";s:25:\"School's
  physical address\";s:8:\"readOnly\";b:0;}s:8:\"boundary\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/APIBoundary\";s:8:\"readOnly\";b:0;}s:6:\"county\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:23:\"#/definitions/APICounty\";s:11:\"description\";s:30:\"County
  where school is located\";s:8:\"readOnly\";b:0;}s:8:\"district\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:28:\"#/definitions/APIDistrictSum\";s:11:\"description\";s:40:\"District
  of school (public schools only)\";s:8:\"readOnly\";b:0;}s:9:\"highGrade\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  high grade served by this school\";s:8:\"readOnly\";b:0;s:4:\"type\";s:6:\"string\";}s:15:\"isCharterSchool\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Indicates
  if school is a charter school (Yes/No/n-a)\";s:8:\"readOnly\";b:0;s:4:\"type\";s:6:\"string\";}s:14:\"isMagnetSchool\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Indicates
  if school is a magnet school (Yes/No/n-a)\";s:8:\"readOnly\";b:0;s:4:\"type\";s:6:\"string\";}s:9:\"isPrivate\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Indicates
  if school is a private school (Yes/No)\";s:8:\"readOnly\";b:0;s:4:\"type\";s:7:\"boolean\";}s:14:\"isTitleISchool\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Indicates
  if school is a Title I school (Yes/No/n-a)\";s:8:\"readOnly\";b:0;s:4:\"type\";s:6:\"string\";}s:24:\"isTitleISchoolwideSchool\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"Indicates
  if a school-wide Title I school (Yes/No/n-a)\";s:8:\"readOnly\";b:0;s:4:\"type\";s:6:\"string\";}s:15:\"isVirtualSchool\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Indicates
  if school is a virtual school (Yes/No/n-a)\";s:8:\"readOnly\";b:0;s:4:\"type\";s:6:\"string\";}s:6:\"locale\";O:8:\"stdClass\":3:{s:11:\"description\";s:65:\"NCES
  Locale of school (https://nces.ed.gov/ccd/rural_locales.asp)\";s:8:\"readOnly\";b:0;s:4:\"type\";s:6:\"string\";}s:8:\"lowGrade\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"The
  low grade served by this school (PK = Prekindergarten, K = Kindergarten)\";s:8:\"readOnly\";b:0;s:4:\"type\";s:6:\"string\";}s:5:\"phone\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"School
  phone number\";s:4:\"type\";s:6:\"string\";}s:11:\"privateCoed\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Coed/Boys/Girls
  (private schools only)\";s:8:\"readOnly\";b:0;s:4:\"type\";s:6:\"string\";}s:11:\"privateDays\";O:8:\"stdClass\":4:{s:11:\"description\";s:46:\"Days
  in the school year (private schools only)\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:0;s:4:\"type\";s:7:\"integer\";}s:17:\"privateHasLibrary\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"Indicates
  if the school has a library (private schools only)\";s:8:\"readOnly\";b:0;s:4:\"type\";s:7:\"boolean\";}s:12:\"privateHours\";O:8:\"stdClass\":4:{s:11:\"description\";s:46:\"Hours
  in the school day (private schools only)\";s:6:\"format\";s:6:\"double\";s:8:\"readOnly\";b:0;s:4:\"type\";s:6:\"number\";}s:18:\"privateOrientation\";O:8:\"stdClass\":3:{s:11:\"description\";s:48:\"Affiliation
  of the school (private schools only)\";s:8:\"readOnly\";b:0;s:4:\"type\";s:6:\"string\";}s:11:\"rankHistory\";O:8:\"stdClass\":4:{s:11:\"description\";s:46:\"SchoolDigger
  yearly rank history of the school\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/APIRankHistory\";}s:8:\"readOnly\";b:0;s:4:\"type\";s:5:\"array\";}s:12:\"rankMovement\";O:8:\"stdClass\":4:{s:11:\"description\";s:78:\"Returns
  the movement of rank for this school between current and previous year\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:0;s:4:\"type\";s:7:\"integer\";}s:11:\"schoolLevel\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"The
  level of school (Elementary, Middle, High, Private, Alternative)\";s:8:\"readOnly\";b:0;s:4:\"type\";s:6:\"string\";}s:10:\"schoolName\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"School
  name\";s:4:\"type\";s:6:\"string\";}s:19:\"schoolYearlyDetails\";O:8:\"stdClass\":4:{s:11:\"description\";s:21:\"School
  Yearly metrics\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/APIYearlyDemographics\";}s:8:\"readOnly\";b:0;s:4:\"type\";s:5:\"array\";}s:8:\"schoolid\";O:8:\"stdClass\":3:{s:11:\"description\";s:41:\"SchoolDigger
  School ID Number (12 digits)\";s:8:\"readOnly\";b:0;s:4:\"type\";s:6:\"string\";}s:10:\"testScores\";O:8:\"stdClass\":4:{s:11:\"description\";s:95:\"Test
  scores (including district and state) -- requires Pro or Enterprise level API subscription\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:33:\"#/definitions/APITestScoreWrapper\";}s:8:\"readOnly\";b:0;s:4:\"type\";s:5:\"array\";}s:3:\"url\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"SchoolDigger
  URL for this school\";s:8:\"readOnly\";b:0;s:4:\"type\";s:6:\"string\";}s:10:\"urlCompare\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"SchoolDigger
  URL for comparing this school to nearby schools\";s:8:\"readOnly\";b:0;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:10:\"APISchool1\";O:8:\"stdClass\":3:{s:11:\"description\";s:88:\"APISchool1:
  A summary of a school record. For the full school record, call /schools/{id}\";s:10:\"properties\";O:8:\"stdClass\":28:{s:7:\"address\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:25:\"#/definitions/APILocation\";s:11:\"description\";s:25:\"School's
  physical address\";s:8:\"readOnly\";b:0;}s:6:\"county\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:23:\"#/definitions/APICounty\";s:11:\"description\";s:30:\"County
  where school is located\";s:8:\"readOnly\";b:0;}s:8:\"distance\";O:8:\"stdClass\":4:{s:11:\"description\";s:54:\"Distance
  from nearLatitude/nearLongitude (if supplied)\";s:6:\"format\";s:6:\"double\";s:8:\"readOnly\";b:0;s:4:\"type\";s:6:\"number\";}s:8:\"district\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:28:\"#/definitions/APIDistrictSum\";s:11:\"description\";s:40:\"District
  of school (public schools only)\";s:8:\"readOnly\";b:0;}s:11:\"hasBoundary\";O:8:\"stdClass\":2:{s:11:\"description\";s:116:\"Indicates
  that an attendance boundary is available for this school. (To retrieve, look up
  school with /schools/{id})\";s:4:\"type\";s:7:\"boolean\";}s:9:\"highGrade\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  high grade served by this school\";s:8:\"readOnly\";b:0;s:4:\"type\";s:6:\"string\";}s:15:\"isCharterSchool\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Indicates
  if school is a charter school (Yes/No/n-a)\";s:8:\"readOnly\";b:0;s:4:\"type\";s:6:\"string\";}s:14:\"isMagnetSchool\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"Indicates
  if school is a magnet school (Yes/No/n-a)\";s:8:\"readOnly\";b:0;s:4:\"type\";s:6:\"string\";}s:9:\"isPrivate\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Indicates
  if school is a private school (Yes/No)\";s:4:\"type\";s:7:\"boolean\";}s:14:\"isTitleISchool\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Indicates
  if school is a Title I school (Yes/No/n-a)\";s:8:\"readOnly\";b:0;s:4:\"type\";s:6:\"string\";}s:24:\"isTitleISchoolwideSchool\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"Indicates
  if a school-wide Title I school (Yes/No/n-a)\";s:8:\"readOnly\";b:0;s:4:\"type\";s:6:\"string\";}s:15:\"isVirtualSchool\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"Indicates
  if school is a virtual school (Yes/No/n-a)\";s:8:\"readOnly\";b:0;s:4:\"type\";s:6:\"string\";}s:24:\"locationIsWithinBoundary\";O:8:\"stdClass\":3:{s:11:\"description\";s:152:\"Indicates
  whether this school's boundary includes the specified location from fromLatitude/fromLongitude
  or boundaryAddress. (Enterprise API level only)\";s:8:\"readOnly\";b:0;s:4:\"type\";s:7:\"boolean\";}s:8:\"lowGrade\";O:8:\"stdClass\":3:{s:11:\"description\";s:76:\"The
  low grade served by this school (PK = Prekindergarten, K = Kindergarten)\";s:8:\"readOnly\";b:0;s:4:\"type\";s:6:\"string\";}s:5:\"phone\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"School
  phone number\";s:4:\"type\";s:6:\"string\";}s:11:\"privateCoed\";O:8:\"stdClass\":2:{s:11:\"description\";s:38:\"Coed/Boys/Girls
  (private schools only)\";s:4:\"type\";s:6:\"string\";}s:11:\"privateDays\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Days
  in the school year (private schools only)\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:17:\"privateHasLibrary\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"Indicates
  if the school has a library (private schools only)\";s:4:\"type\";s:7:\"boolean\";}s:12:\"privateHours\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"Hours
  in the school day (private schools only)\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:18:\"privateOrientation\";O:8:\"stdClass\":2:{s:11:\"description\";s:48:\"Affiliation
  of the school (private schools only)\";s:4:\"type\";s:6:\"string\";}s:11:\"rankHistory\";O:8:\"stdClass\":4:{s:11:\"description\";s:90:\"SchoolDigger
  yearly rank history of the school. To retrieve all years, call /schools/{id}.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/APIRankHistory\";}s:8:\"readOnly\";b:0;s:4:\"type\";s:5:\"array\";}s:12:\"rankMovement\";O:8:\"stdClass\":4:{s:11:\"description\";s:78:\"Returns
  the movement of rank for this school between current and previous year\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:0;s:4:\"type\";s:7:\"integer\";}s:11:\"schoolLevel\";O:8:\"stdClass\":3:{s:11:\"description\";s:68:\"The
  level of school (Elementary, Middle, High, Private, Alternative)\";s:8:\"readOnly\";b:0;s:4:\"type\";s:6:\"string\";}s:10:\"schoolName\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"School
  name\";s:4:\"type\";s:6:\"string\";}s:19:\"schoolYearlyDetails\";O:8:\"stdClass\":4:{s:11:\"description\";s:65:\"School
  Yearly metrics. To retrieve all years, call /schools/{id}.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/APIYearlyDemographics\";}s:8:\"readOnly\";b:0;s:4:\"type\";s:5:\"array\";}s:8:\"schoolid\";O:8:\"stdClass\":3:{s:11:\"description\";s:101:\"SchoolDigger
  School ID Number (12 digits). Use /schools/{schoolID} to retrieve the full school
  record\";s:8:\"readOnly\";b:0;s:4:\"type\";s:6:\"string\";}s:3:\"url\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"SchoolDigger
  URL for this school\";s:8:\"readOnly\";b:0;s:4:\"type\";s:6:\"string\";}s:10:\"urlCompare\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"SchoolDigger
  URL for comparing this school to others\";s:8:\"readOnly\";b:0;s:4:\"type\";s:6:\"string\";}}s:4:\"type\";s:6:\"object\";}s:13:\"APISchoolList\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:13:\"numberOfPages\";O:8:\"stdClass\":4:{s:11:\"description\";s:73:\"The
  total count of pages in your query list based on given per_page value\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:0;s:4:\"type\";s:7:\"integer\";}s:15:\"numberOfSchools\";O:8:\"stdClass\":4:{s:11:\"description\";s:48:\"The
  total count of schools that match your query\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:0;s:4:\"type\";s:7:\"integer\";}s:10:\"schoolList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/APISchool1\";}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:17:\"APISchoolListRank\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":6:{s:13:\"numberOfPages\";O:8:\"stdClass\":4:{s:11:\"description\";s:72:\"The
  total count of pages this ranking list based on given per_page value\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:0;s:4:\"type\";s:7:\"integer\";}s:15:\"numberOfSchools\";O:8:\"stdClass\":4:{s:11:\"description\";s:47:\"The
  total count of schools in this ranking list\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:0;s:4:\"type\";s:7:\"integer\";}s:8:\"rankYear\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Year
  this ranking list represents (2018 = 2017-18)\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:15:\"rankYearCompare\";O:8:\"stdClass\":3:{s:11:\"description\";s:54:\"Year
  rankings returned for comparison (2018 = 2017-18)\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:18:\"rankYearsAvailable\";O:8:\"stdClass\":3:{s:11:\"description\";s:80:\"The
  years for which SchoolDigger rankings are available for this state and level\";s:5:\"items\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:4:\"type\";s:5:\"array\";}s:10:\"schoolList\";O:8:\"stdClass\":4:{s:11:\"description\";s:31:\"The
  schools in the ranking list\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/APISchool1\";}s:8:\"readOnly\";b:0;s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}s:12:\"APITestScore\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":15:{s:15:\"meanScaledScore\";O:8:\"stdClass\":4:{s:11:\"description\";s:16:\"Mean
  scale score\";s:6:\"format\";s:5:\"float\";s:8:\"readOnly\";b:0;s:4:\"type\";s:6:\"number\";}s:8:\"numTier1\";O:8:\"stdClass\":4:{s:11:\"description\";s:66:\"Count
  of students performing at tier 1 (Enterprise API level only)\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:0;s:4:\"type\";s:7:\"integer\";}s:8:\"numTier2\";O:8:\"stdClass\":4:{s:11:\"description\";s:66:\"Count
  of students performing at tier 2 (Enterprise API level only)\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:0;s:4:\"type\";s:7:\"integer\";}s:8:\"numTier3\";O:8:\"stdClass\":4:{s:11:\"description\";s:66:\"Count
  of students performing at tier 3 (Enterprise API level only)\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:0;s:4:\"type\";s:7:\"integer\";}s:8:\"numTier4\";O:8:\"stdClass\":4:{s:11:\"description\";s:66:\"Count
  of students performing at tier 4 (Enterprise API level only)\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:0;s:4:\"type\";s:7:\"integer\";}s:8:\"numTier5\";O:8:\"stdClass\":4:{s:11:\"description\";s:66:\"Count
  of students performing at tier 5 (Enterprise API level only)\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:0;s:4:\"type\";s:7:\"integer\";}s:17:\"numberMetStandard\";O:8:\"stdClass\":4:{s:11:\"description\";s:40:\"Count
  of students meeting state standard\";s:6:\"format\";s:5:\"float\";s:8:\"readOnly\";b:0;s:4:\"type\";s:6:\"number\";}s:18:\"percentMetStandard\";O:8:\"stdClass\":4:{s:11:\"description\";s:42:\"Percent
  of students meeting state standard\";s:6:\"format\";s:5:\"float\";s:8:\"readOnly\";b:0;s:4:\"type\";s:6:\"number\";}s:12:\"percentTier1\";O:8:\"stdClass\":4:{s:11:\"description\";s:68:\"Percent
  of students performing at tier 1 (Enterprise API level only)\";s:6:\"format\";s:5:\"float\";s:8:\"readOnly\";b:0;s:4:\"type\";s:6:\"number\";}s:12:\"percentTier2\";O:8:\"stdClass\":4:{s:11:\"description\";s:68:\"Percent
  of students performing at tier 2 (Enterprise API level only)\";s:6:\"format\";s:5:\"float\";s:8:\"readOnly\";b:0;s:4:\"type\";s:6:\"number\";}s:12:\"percentTier3\";O:8:\"stdClass\":4:{s:11:\"description\";s:68:\"Percent
  of students performing at tier 3 (Enterprise API level only)\";s:6:\"format\";s:5:\"float\";s:8:\"readOnly\";b:0;s:4:\"type\";s:6:\"number\";}s:12:\"percentTier4\";O:8:\"stdClass\":4:{s:11:\"description\";s:68:\"Percent
  of students performing at tier 4 (Enterprise API level only)\";s:6:\"format\";s:5:\"float\";s:8:\"readOnly\";b:0;s:4:\"type\";s:6:\"number\";}s:12:\"percentTier5\";O:8:\"stdClass\":4:{s:11:\"description\";s:68:\"Percent
  of students performing at tier 5 (Enterprise API level only)\";s:6:\"format\";s:5:\"float\";s:8:\"readOnly\";b:0;s:4:\"type\";s:6:\"number\";}s:16:\"studentsEligible\";O:8:\"stdClass\":4:{s:11:\"description\";s:39:\"Count
  of students eligible to take test\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:0;s:4:\"type\";s:7:\"integer\";}s:14:\"studentsTested\";O:8:\"stdClass\":4:{s:11:\"description\";s:24:\"Count
  of students tested\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:0;s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:19:\"APITestScoreWrapper\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":12:{s:17:\"districtTestScore\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:26:\"#/definitions/APITestScore\";s:11:\"description\";s:25:\"District
  level test score\";s:8:\"readOnly\";b:0;}s:5:\"grade\";O:8:\"stdClass\":2:{s:8:\"readOnly\";b:0;s:4:\"type\";s:6:\"string\";}s:15:\"schoolTestScore\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:26:\"#/definitions/APITestScore\";s:11:\"description\";s:23:\"School
  level test score\";s:8:\"readOnly\";b:0;}s:14:\"stateTestScore\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:26:\"#/definitions/APITestScore\";s:11:\"description\";s:22:\"State
  level text score\";s:8:\"readOnly\";b:0;}s:7:\"subject\";O:8:\"stdClass\":3:{s:11:\"description\";s:12:\"Test
  subject\";s:8:\"readOnly\";b:0;s:4:\"type\";s:6:\"string\";}s:4:\"test\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"The
  name of the state-administed test\";s:8:\"readOnly\";b:0;s:4:\"type\";s:6:\"string\";}s:5:\"tier1\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"Tier
  1 test score description (Enterprise API level only)\";s:8:\"readOnly\";b:0;s:4:\"type\";s:6:\"string\";}s:5:\"tier2\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"Tier
  2 test score description (Enterprise API level only)\";s:8:\"readOnly\";b:0;s:4:\"type\";s:6:\"string\";}s:5:\"tier3\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"Tier
  3 test score description (Enterprise API level only)\";s:8:\"readOnly\";b:0;s:4:\"type\";s:6:\"string\";}s:5:\"tier4\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"Tier
  4 test score description (Enterprise API level only)\";s:8:\"readOnly\";b:0;s:4:\"type\";s:6:\"string\";}s:5:\"tier5\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"Tier
  5 test score description (Enterprise API level only)\";s:8:\"readOnly\";b:0;s:4:\"type\";s:6:\"string\";}s:4:\"year\";O:8:\"stdClass\":4:{s:11:\"description\";s:43:\"Year
  test was administered (2018 = 2017-18)\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:0;s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}s:21:\"APIYearlyDemographics\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":21:{s:16:\"numberOfStudents\";O:8:\"stdClass\":4:{s:11:\"description\";s:38:\"Count
  of students attending the school\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:0;s:4:\"type\";s:7:\"integer\";}s:31:\"numberofAfricanAmericanStudents\";O:8:\"stdClass\":3:{s:11:\"description\";s:133:\"NCES
  definition: A person having origins in any of the black racial groups of Africa.
  \ (https://nces.ed.gov/statprog/2002/std1_5.asp)\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:21:\"numberofAsianStudents\";O:8:\"stdClass\":3:{s:11:\"description\";s:309:\"NCES
  definition: A person having origins in any of the original peoples of the Far East,
  Southeast Asia, or the Indian subcontinent, including, for example, Cambodia, China,
  India, Japan, Korea, Malaysia, Pakistan, the Philippine Islands, Thailand, and Vietnam.
  \ (https://nces.ed.gov/statprog/2002/std1_5.asp)\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:24:\"numberofHispanicStudents\";O:8:\"stdClass\":3:{s:11:\"description\";s:188:\"NCES
  definition: A person of Cuban, Mexican, Puerto Rican, South or Central American,
  or other Spanish culture or origin, regardless of race. (https://nces.ed.gov/statprog/2002/std1_5.asp)\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:22:\"numberofIndianStudents\";O:8:\"stdClass\":3:{s:11:\"description\";s:308:\"NCES
  definition: A person having origins in any of the original peoples of the Far East,
  Southeast Asia, or the Indian subcontinent, including, for example, Cambodia, China,
  India, Japan, Korea, Malaysia, Pakistan, the Philippine Islands, Thailand, and Vietnam.
  (https://nces.ed.gov/statprog/2002/std1_5.asp)\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:31:\"numberofPacificIslanderStudents\";O:8:\"stdClass\":3:{s:11:\"description\";s:168:\"NCES
  definition: A person having origins in any of the original peoples of Hawaii, Guam,
  Samoa, or other Pacific Islands. (https://nces.ed.gov/statprog/2002/std1_5.asp)\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:29:\"numberofTwoOrMoreRaceStudents\";O:8:\"stdClass\":3:{s:11:\"description\";s:144:\"NCES
  definition: Includes any combination of two or more races and not Hispanic/Latino
  ethnicity. (https://nces.ed.gov/statprog/2002/std1_5.asp)\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:31:\"numberofUnspecifiedRaceStudents\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:21:\"numberofWhiteStudents\";O:8:\"stdClass\":3:{s:11:\"description\";s:163:\"NCES
  definition: A person having origins in any of the original peoples of Europe, the
  Middle East, or North Africa. (https://nces.ed.gov/statprog/2002/std1_5.asp)\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}s:20:\"percentFreeDiscLunch\";O:8:\"stdClass\":4:{s:11:\"description\";s:93:\"Percent
  of students receiving a free or discounted lunch in the National School Lunch Program\";s:6:\"format\";s:6:\"double\";s:8:\"readOnly\";b:0;s:4:\"type\";s:6:\"number\";}s:32:\"percentofAfricanAmericanStudents\";O:8:\"stdClass\":3:{s:6:\"format\";s:6:\"double\";s:8:\"readOnly\";b:0;s:4:\"type\";s:6:\"number\";}s:22:\"percentofAsianStudents\";O:8:\"stdClass\":3:{s:6:\"format\";s:6:\"double\";s:8:\"readOnly\";b:0;s:4:\"type\";s:6:\"number\";}s:25:\"percentofHispanicStudents\";O:8:\"stdClass\":3:{s:6:\"format\";s:6:\"double\";s:8:\"readOnly\";b:0;s:4:\"type\";s:6:\"number\";}s:23:\"percentofIndianStudents\";O:8:\"stdClass\":3:{s:6:\"format\";s:6:\"double\";s:8:\"readOnly\";b:0;s:4:\"type\";s:6:\"number\";}s:32:\"percentofPacificIslanderStudents\";O:8:\"stdClass\":3:{s:6:\"format\";s:6:\"double\";s:8:\"readOnly\";b:0;s:4:\"type\";s:6:\"number\";}s:30:\"percentofTwoOrMoreRaceStudents\";O:8:\"stdClass\":3:{s:6:\"format\";s:6:\"double\";s:8:\"readOnly\";b:0;s:4:\"type\";s:6:\"number\";}s:32:\"percentofUnspecifiedRaceStudents\";O:8:\"stdClass\":3:{s:6:\"format\";s:6:\"double\";s:8:\"readOnly\";b:0;s:4:\"type\";s:6:\"number\";}s:22:\"percentofWhiteStudents\";O:8:\"stdClass\":3:{s:6:\"format\";s:6:\"double\";s:8:\"readOnly\";b:0;s:4:\"type\";s:6:\"number\";}s:17:\"pupilTeacherRatio\";O:8:\"stdClass\":3:{s:11:\"description\";s:60:\"Number
  of students / number of full-time equivalent teachers\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:16:\"teachersFulltime\";O:8:\"stdClass\":3:{s:11:\"description\";s:61:\"Number
  of full-time equvalent teachers employed at the school\";s:6:\"format\";s:6:\"double\";s:4:\"type\";s:6:\"number\";}s:4:\"year\";O:8:\"stdClass\":4:{s:11:\"description\";s:28:\"School
  year (2018 = 2017-18)\";s:6:\"format\";s:5:\"int32\";s:8:\"readOnly\";b:0;s:4:\"type\";s:7:\"integer\";}}s:4:\"type\";s:6:\"object\";}}"
...
