---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":14:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:9:\"x-twitter\";s:12:\"PermittedSoc\";}s:11:\"description\";s:4:\"<p/>\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache
  2.0 License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:28:\"Amazon
  Kinesis Video Streams\";s:7:\"version\";s:10:\"2017-09-30\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:96:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/kinesisvideo-2017-09-30.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v4\";s:13:\"x-serviceName\";s:12:\"kinesisvideo\";}"
host: kinesisvideo.amazonaws.com
basePath: /
paths: ~
produces:
- application/json
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":55:{s:7:\"APIName\";O:8:\"stdClass\":2:{s:4:\"enum\";a:5:{i:0;s:9:\"PUT_MEDIA\";i:1;s:9:\"GET_MEDIA\";i:2;s:14:\"LIST_FRAGMENTS\";i:3;s:27:\"GET_MEDIA_FOR_FRAGMENT_LIST\";i:4;s:29:\"GET_HLS_STREAMING_SESSION_URL\";}s:4:\"type\";s:6:\"string\";}s:35:\"AccountStreamLimitExceededException\";O:8:\"stdClass\":3:{s:11:\"description\";s:58:\"The
  number of streams created for the account is too high.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:28:\"ClientLimitExceededException\";O:8:\"stdClass\":3:{s:11:\"description\";s:135:\"Kinesis
  Video Streams has throttled the request because you have exceeded the limit of allowed
  client calls. Try making the call later.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:18:\"ComparisonOperator\";O:8:\"stdClass\":2:{s:4:\"enum\";a:1:{i:0;s:11:\"BEGINS_WITH\";}s:4:\"type\";s:6:\"string\";}s:17:\"CreateStreamInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":5:{s:20:\"DataRetentionInHours\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/DataRetentionInHours\";s:11:\"description\";s:544:\"<p>The
  number of hours that you want to retain the data in the stream. Kinesis Video Streams
  retains the data in a data store that is associated with the stream.</p> <p>The
  default value is 0, indicating that the stream does not persist data.</p> <p>When
  the <code>DataRetentionInHours</code> value is 0, consumers can still consume the
  fragments that remain in the service host buffer, which has a retention time limit
  of 5 minutes and a retention memory limit of 200 MB. Fragments are removed from
  the buffer when either limit is reached.</p>\";}s:10:\"DeviceName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/DeviceName\";s:11:\"description\";s:160:\"<p>The
  name of the device that is writing to the stream. </p> <note> <p>In the current
  implementation, Kinesis Video Streams does not use this name.</p> </note>\";}s:8:\"KmsKeyId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/KmsKeyId\";s:11:\"description\";s:410:\"<p>The
  ID of the AWS Key Management Service (AWS KMS) key that you want Kinesis Video Streams
  to use to encrypt stream data.</p> <p>If no key ID is specified, the default, Kinesis
  Video-managed key (<code>aws/kinesisvideo</code>) is used.</p> <p> For more information,
  see <a href=\"http://docs.aws.amazon.com/kms/latest/APIReference/API_DescribeKey.html#API_DescribeKey_RequestParameters\">DescribeKey</a>.
  </p>\";}s:9:\"MediaType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/MediaType\";s:11:\"description\";s:652:\"<p>The
  media type of the stream. Consumers of the stream can use this information when
  processing the stream. For more information about media types, see <a href=\"http://www.iana.org/assignments/media-types/media-types.xhtml\">Media
  Types</a>. If you choose to specify the <code>MediaType</code>, see <a href=\"https://tools.ietf.org/html/rfc6838#section-4.2\">Naming
  Requirements</a> for guidelines.</p> <p>To play video on the console, the media
  must be H.264 encoded, and you need to specify this video type in this parameter
  as <code>video/h264</code>. </p> <p>This parameter is optional; the default value
  is <code>null</code> (or empty in JSON).</p>\";}s:10:\"StreamName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StreamName\";s:11:\"description\";s:155:\"<p>A
  name for the stream that you are creating.</p> <p>The stream name is an identifier
  for the stream, and must be unique for each account and region.</p>\";}}s:8:\"required\";a:1:{i:0;s:10:\"StreamName\";}s:4:\"type\";s:6:\"object\";}s:18:\"CreateStreamOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:9:\"StreamARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ResourceARN\";s:11:\"description\";s:45:\"The
  Amazon Resource Name (ARN) of the stream.\";}}s:4:\"type\";s:6:\"object\";}s:12:\"DataEndpoint\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:26:\"DataRetentionChangeInHours\";O:8:\"stdClass\":2:{s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:20:\"DataRetentionInHours\";O:8:\"stdClass\":2:{s:7:\"minimum\";i:0;s:4:\"type\";s:7:\"integer\";}s:17:\"DeleteStreamInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:14:\"CurrentVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Version\";s:11:\"description\";s:330:\"<p>Optional:
  The version of the stream that you want to delete. </p> <p>Specify the version as
  a safeguard to ensure that your are deleting the correct stream. To get the stream
  version, use the <code>DescribeStream</code> API.</p> <p>If not specified, only
  the <code>CreationTime</code> is checked before deleting the stream.</p>\";}s:9:\"StreamARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ResourceARN\";s:11:\"description\";s:70:\"The
  Amazon Resource Name (ARN) of the stream that you want to delete. \";}}s:8:\"required\";a:1:{i:0;s:9:\"StreamARN\";}s:4:\"type\";s:6:\"object\";}s:18:\"DeleteStreamOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:19:\"DescribeStreamInput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"StreamARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ResourceARN\";s:11:\"description\";s:45:\"The
  Amazon Resource Name (ARN) of the stream.\";}s:10:\"StreamName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StreamName\";s:11:\"description\";s:23:\"The
  name of the stream.\";}}s:4:\"type\";s:6:\"object\";}s:20:\"DescribeStreamOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"StreamInfo\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StreamInfo\";s:11:\"description\";s:36:\"An
  object that describes the stream.\";}}s:4:\"type\";s:6:\"object\";}s:10:\"DeviceName\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:128;s:9:\"minLength\";i:1;s:7:\"pattern\";s:15:\"[a-zA-Z0-9_.-]+\";s:4:\"type\";s:6:\"string\";}s:34:\"DeviceStreamLimitExceededException\";O:8:\"stdClass\":3:{s:11:\"description\";s:17:\"Not
  implemented. \";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:12:\"ErrorMessage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:20:\"GetDataEndpointInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:7:\"APIName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/APIName\";s:11:\"description\";s:56:\"The
  name of the API action for which to get an endpoint.\";}s:9:\"StreamARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ResourceARN\";s:11:\"description\";s:168:\"The
  Amazon Resource Name (ARN) of the stream that you want to get the endpoint for.
  You must specify either this parameter or a <code>StreamName</code> in the request.
  \";}s:10:\"StreamName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StreamName\";s:11:\"description\";s:144:\"The
  name of the stream that you want to get the endpoint for. You must specify either
  this parameter or a <code>StreamARN</code> in the request.\";}}s:8:\"required\";a:1:{i:0;s:7:\"APIName\";}s:4:\"type\";s:6:\"object\";}s:21:\"GetDataEndpointOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:12:\"DataEndpoint\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/DataEndpoint\";s:11:\"description\";s:115:\"The
  endpoint value. To read data from the stream or to write data to it, specify this
  endpoint in your application.\";}}s:4:\"type\";s:6:\"object\";}s:24:\"InvalidArgumentException\";O:8:\"stdClass\":3:{s:11:\"description\";s:46:\"The
  value for this input parameter is invalid.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:22:\"InvalidDeviceException\";O:8:\"stdClass\":3:{s:11:\"description\";s:16:\"Not
  implemented.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:30:\"InvalidResourceFormatException\";O:8:\"stdClass\":3:{s:11:\"description\";s:52:\"The
  format of the <code>StreamARN</code> is invalid.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:8:\"KmsKeyId\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:2048;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:16:\"ListStreamsInput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:10:\"MaxResults\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:35:\"#/definitions/ListStreamsInputLimit\";s:11:\"description\";s:79:\"The
  maximum number of streams to return in the response. The default is 10,000.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:235:\"If
  you specify this parameter, when the result of a <code>ListStreams</code> operation
  is truncated, the call returns the <code>NextToken</code> in the response. To get
  another batch of streams, provide this token in your next request.\";}s:19:\"StreamNameCondition\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/StreamNameCondition\";s:11:\"description\";s:142:\"Optional:
  Returns only streams that satisfy a specific condition. Currently, you can specify
  only the prefix of a stream name as a condition. \";}}s:4:\"type\";s:6:\"object\";}s:21:\"ListStreamsInputLimit\";O:8:\"stdClass\":3:{s:7:\"maximum\";i:10000;s:7:\"minimum\";i:1;s:4:\"type\";s:7:\"integer\";}s:17:\"ListStreamsOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:145:\"If
  the response is truncated, the call returns this element with a token. To get the
  next batch of streams, use this token in your next request. \";}s:14:\"StreamInfoList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/StreamInfoList\";s:11:\"description\";s:44:\"An
  array of <code>StreamInfo</code> objects.\";}}s:4:\"type\";s:6:\"object\";}s:22:\"ListTagsForStreamInput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:199:\"If
  you specify this parameter and the result of a <code>ListTagsForStream</code> call
  is truncated, the response includes a token that you can use in the next request
  to fetch the next batch of tags.\";}s:9:\"StreamARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ResourceARN\";s:11:\"description\";s:76:\"The
  Amazon Resource Name (ARN) of the stream that you want to list tags for.\";}s:10:\"StreamName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StreamName\";s:11:\"description\";s:54:\"The
  name of the stream that you want to list tags for.\";}}s:4:\"type\";s:6:\"object\";}s:23:\"ListTagsForStreamOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/NextToken\";s:11:\"description\";s:188:\"If
  you specify this parameter and the result of a <code>ListTags</code> call is truncated,
  the response includes a token that you can use in the next request to fetch the
  next set of tags.\";}s:4:\"Tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceTags\";s:11:\"description\";s:66:\"A
  map of tag keys and values associated with the specified stream.\";}}s:4:\"type\";s:6:\"object\";}s:9:\"MediaType\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:128;s:9:\"minLength\";i:1;s:7:\"pattern\";s:23:\"[\\w\\-\\.\\+]+/[\\w\\-\\.\\+]+\";s:4:\"type\";s:6:\"string\";}s:9:\"NextToken\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:512;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";}s:22:\"NotAuthorizedException\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"The
  caller is not authorized to perform this operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:11:\"ResourceARN\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:1024;s:9:\"minLength\";i:1;s:7:\"pattern\";s:68:\"arn:aws:kinesisvideo:[a-z0-9-]+:[0-9]+:[a-z]+/[a-zA-Z0-9_.-]+/[0-9]+\";s:4:\"type\";s:6:\"string\";}s:22:\"ResourceInUseException\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"The
  stream is currently not available for this operation.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:25:\"ResourceNotFoundException\";O:8:\"stdClass\":3:{s:11:\"description\";s:70:\"Amazon
  Kinesis Video Streams can't find the stream that you specified.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:12:\"ResourceTags\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"key\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/TagKey\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/TagValue\";}}s:4:\"type\";s:6:\"object\";}s:8:\"maxItems\";i:50;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"enum\";a:4:{i:0;s:8:\"CREATING\";i:1;s:6:\"ACTIVE\";i:2;s:8:\"UPDATING\";i:3;s:8:\"DELETING\";}s:4:\"type\";s:6:\"string\";}s:10:\"StreamInfo\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"An
  object describing a Kinesis video stream.\";s:10:\"properties\";O:8:\"stdClass\":9:{s:12:\"CreationTime\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/Timestamp\";s:11:\"description\";s:56:\"A
  time stamp that indicates when the stream was created.\";}s:20:\"DataRetentionInHours\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:34:\"#/definitions/DataRetentionInHours\";s:11:\"description\";s:43:\"How
  long the stream retains data, in hours.\";}s:10:\"DeviceName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/DeviceName\";s:11:\"description\";s:58:\"The
  name of the device that is associated with the stream.\";}s:8:\"KmsKeyId\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/KmsKeyId\";s:11:\"description\";s:117:\"The
  ID of the AWS Key Management Service (AWS KMS) key that Kinesis Video Streams uses
  to encrypt data on the stream.\";}s:9:\"MediaType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/MediaType\";s:11:\"description\";s:42:\"The
  <code>MediaType</code> of the stream. \";}s:6:\"Status\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/Status\";s:11:\"description\";s:25:\"The
  status of the stream.\";}s:9:\"StreamARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ResourceARN\";s:11:\"description\";s:45:\"The
  Amazon Resource Name (ARN) of the stream.\";}s:10:\"StreamName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StreamName\";s:11:\"description\";s:23:\"The
  name of the stream.\";}s:7:\"Version\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Version\";s:11:\"description\";s:26:\"The
  version of the stream.\";}}s:4:\"type\";s:6:\"object\";}s:14:\"StreamInfoList\";O:8:\"stdClass\":2:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/StreamInfo\";}s:4:\"type\";s:5:\"array\";}s:10:\"StreamName\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:256;s:9:\"minLength\";i:1;s:7:\"pattern\";s:15:\"[a-zA-Z0-9_.-]+\";s:4:\"type\";s:6:\"string\";}s:19:\"StreamNameCondition\";O:8:\"stdClass\":3:{s:11:\"description\";s:309:\"Specifies
  the condition that streams must satisfy to be returned when you list streams (see
  the <code>ListStreams</code> API). A condition has a comparison operation and a
  value. Currently, you can specify only the <code>BEGINS_WITH</code> operator, which
  finds streams whose names start with a given prefix. \";s:10:\"properties\";O:8:\"stdClass\":2:{s:18:\"ComparisonOperator\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:32:\"#/definitions/ComparisonOperator\";s:11:\"description\";s:152:\"A
  comparison operator. Currently, you can specify only the <code>BEGINS_WITH</code>
  operator, which finds streams whose names start with a given prefix.\";}s:15:\"ComparisonValue\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StreamName\";s:11:\"description\";s:19:\"A
  value to compare.\";}}s:4:\"type\";s:6:\"object\";}s:6:\"TagKey\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:128;s:9:\"minLength\";i:1;s:4:\"type\";s:6:\"string\";}s:10:\"TagKeyList\";O:8:\"stdClass\":4:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/TagKey\";}s:8:\"maxItems\";i:50;s:8:\"minItems\";i:1;s:4:\"type\";s:5:\"array\";}s:14:\"TagStreamInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"StreamARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ResourceARN\";s:11:\"description\";s:87:\"The
  Amazon Resource Name (ARN) of the resource that you want to add the tag or tags
  to.\";}s:10:\"StreamName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StreamName\";s:11:\"description\";s:63:\"The
  name of the stream that you want to add the tag or tags to.\";}s:4:\"Tags\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:26:\"#/definitions/ResourceTags\";s:11:\"description\";s:108:\"A
  list of tags to associate with the specified stream. Each tag is a key-value pair
  (the value is optional).\";}}s:8:\"required\";a:1:{i:0;s:4:\"Tags\";}s:4:\"type\";s:6:\"object\";}s:15:\"TagStreamOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:8:\"TagValue\";O:8:\"stdClass\":3:{s:9:\"maxLength\";i:256;s:9:\"minLength\";i:0;s:4:\"type\";s:6:\"string\";}s:37:\"TagsPerResourceExceededLimitException\";O:8:\"stdClass\":3:{s:11:\"description\";s:123:\"You
  have exceeded the limit of tags that you can associate with the resource. Kinesis
  video streams support up to 50 tags. \";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}s:9:\"Timestamp\";O:8:\"stdClass\":2:{s:6:\"format\";s:9:\"date-time\";s:4:\"type\";s:6:\"string\";}s:16:\"UntagStreamInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:9:\"StreamARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ResourceARN\";s:11:\"description\";s:79:\"The
  Amazon Resource Name (ARN) of the stream that you want to remove tags from.\";}s:10:\"StreamName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StreamName\";s:11:\"description\";s:57:\"The
  name of the stream that you want to remove tags from.\";}s:10:\"TagKeyList\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/TagKeyList\";s:11:\"description\";s:55:\"A
  list of the keys of the tags that you want to remove.\";}}s:8:\"required\";a:1:{i:0;s:10:\"TagKeyList\";}s:4:\"type\";s:6:\"object\";}s:17:\"UntagStreamOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:24:\"UpdateDataRetentionInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":5:{s:14:\"CurrentVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Version\";s:11:\"description\";s:169:\"The
  version of the stream whose retention period you want to change. To get the version,
  call either the <code>DescribeStream</code> or the <code>ListStreams</code> API.\";}s:26:\"DataRetentionChangeInHours\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:40:\"#/definitions/DataRetentionChangeInHours\";s:11:\"description\";s:81:\"The
  retention period, in hours. The value you specify replaces the current value.\";}s:9:\"Operation\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:42:\"#/definitions/UpdateDataRetentionOperation\";s:11:\"description\";s:72:\"Indicates
  whether you want to increase or decrease the retention period.\";}s:9:\"StreamARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ResourceARN\";s:11:\"description\";s:87:\"The
  Amazon Resource Name (ARN) of the stream whose retention period you want to change.\";}s:10:\"StreamName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StreamName\";s:11:\"description\";s:65:\"The
  name of the stream whose retention period you want to change.\";}}s:8:\"required\";a:3:{i:0;s:14:\"CurrentVersion\";i:1;s:9:\"Operation\";i:2;s:26:\"DataRetentionChangeInHours\";}s:4:\"type\";s:6:\"object\";}s:28:\"UpdateDataRetentionOperation\";O:8:\"stdClass\":2:{s:4:\"enum\";a:2:{i:0;s:23:\"INCREASE_DATA_RETENTION\";i:1;s:23:\"DECREASE_DATA_RETENTION\";}s:4:\"type\";s:6:\"string\";}s:25:\"UpdateDataRetentionOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:17:\"UpdateStreamInput\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":5:{s:14:\"CurrentVersion\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Version\";s:11:\"description\";s:60:\"The
  version of the stream whose metadata you want to update.\";}s:10:\"DeviceName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/DeviceName\";s:11:\"description\";s:162:\"<p>The
  name of the device that is writing to the stream. </p> <note> <p> In the current
  implementation, Kinesis Video Streams does not use this name. </p> </note>\";}s:9:\"MediaType\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:23:\"#/definitions/MediaType\";s:11:\"description\";s:610:\"<p>The
  stream's media type. Use <code>MediaType</code> to specify the type of content that
  the stream contains to the consumers of the stream. For more information about media
  types, see <a href=\"http://www.iana.org/assignments/media-types/media-types.xhtml\">Media
  Types</a>. If you choose to specify the <code>MediaType</code>, see <a href=\"https://tools.ietf.org/html/rfc6838#section-4.2\">Naming
  Requirements</a>.</p> <p>To play video on the console, you must specify the correct
  video type. For example, if the video in the stream is H.264, specify <code>video/h264</code>
  as the <code>MediaType</code>.</p>\";}s:9:\"StreamARN\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:25:\"#/definitions/ResourceARN\";s:11:\"description\";s:56:\"The
  ARN of the stream whose metadata you want to update.\";}s:10:\"StreamName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:24:\"#/definitions/StreamName\";s:11:\"description\";s:168:\"<p>The
  name of the stream whose metadata you want to update.</p> <p>The stream name is
  an identifier for the stream, and must be unique for each account and region.</p>\";}}s:8:\"required\";a:1:{i:0;s:14:\"CurrentVersion\";}s:4:\"type\";s:6:\"object\";}s:18:\"UpdateStreamOutput\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":0:{}s:4:\"type\";s:6:\"object\";}s:7:\"Version\";O:8:\"stdClass\":4:{s:9:\"maxLength\";i:64;s:9:\"minLength\";i:1;s:7:\"pattern\";s:12:\"[a-zA-Z0-9]+\";s:4:\"type\";s:6:\"string\";}s:24:\"VersionMismatchException\";O:8:\"stdClass\":3:{s:11:\"description\";s:214:\"The
  stream version that you specified is not the latest version. To get the latest version,
  use the <a href=\"http://docs.aws.amazon.com/kinesisvideostreams/latest/dg/API_DescribeStream.html\">DescribeStream</a>
  API.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:7:\"Message\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ErrorMessage\";}}s:4:\"type\";s:6:\"object\";}}"
...
