---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:34:\"Brightcove Analytics API
  Reference\";s:7:\"version\";s:5:\"1.0.0\";s:11:\"description\";s:223:\"Reference
  for the Brightcove Analytics API, used to retrieve analytics data for your accounts.
  To test API requests, you can use our <a href=\"https://support.brightcove.com/node/17910\"
  target=\"_blank\">API Testing Tools</a>.\";}"
host: analytics.api.brightcove.com
basePath: /v1
paths:
  /engagement/accounts/{account_id}:
    get:
      tags:
      - Engagement
      summary: Get Account Engagement
      description: 'Get a summary report of engagement for the account. Note:  Engagement
        reports are only available for periods within the past 32 days. Requests outside
        that range will return an error The only parameters supported for Engagement
        reports are from and to Engagement reports are available for single accounts
        only - reports on multiple accounts will not work  '
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: account_id
        in: path
        required: true
        type: string
        description: 'a Video Cloud account ID '
      - name: Content-Type
        in: header
        required: true
        type: string
        description: 'Content-Type: application/json '
      - name: Authorization
        in: header
        required: true
        type: string
        description: 'Authorization: Bearer access_token (see Getting Access Tokens) '
      - name: Accept-Encoding
        in: header
        required: true
        type: string
        description: 'Accept-Encoding: gzip (optional) '
      responses:
        200:
          description: "200"
          schema:
            $ref: '#/definitions/timeline'
        400:
          description: 'BAD_REQUEST: The message fields of the response contains information
            about what caused the error such as invalid value for sort parameter nUNSUPPORTED_FIELD_COMBINATION_ERROR:
            The message fields of the response contains information about what invalid
            fields were specifed '
        401:
          description: 'UNAUTHORIZED: Authentication failed; check to make sure your
            policy key is correct '
        404:
          description: 'RESOURCE_NOT_FOUND: The api couldn&#39;t find the resource
            you requested '
        405:
          description: 'METHOD_NOT_ALLOWED: This error occurs when the api request
            is made with an HTTP method other than GET '
        500:
          description: 'SERVER_ERROR: Issue in Brightcove system; try again later
            nPROCESSING: The analytics API may send back this message if it encounters
            a long running query. Once the query has finished it will be stored in
            the serveru2019s cache for up to 5 minutes. Therefore we suggest querying
            the API 4 minutes after receiving this error '
      operationId: Get_Account_Engagement
  /engagement/accounts/{account_id}/players/{player_id}:
    get:
      tags:
      - Engagement
      summary: Get Player Engagement
      description: 'Get a summary report of engagement for a player. Note:  Engagement
        reports are only available for periods within the past 32 days. Requests outside
        that range will return an error The only parameters supported for Engagement
        reports are from and to Engagement reports are available for single accounts
        only - reports on multiple accounts will not work  '
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: account_id
        in: path
        required: true
        type: string
        description: 'a Video Cloud account ID '
      - name: player_id
        in: path
        required: true
        type: string
        description: 'a Video Cloud player ID '
      - name: Content-Type
        in: header
        required: true
        type: string
        description: 'Content-Type: application/json '
      - name: Authorization
        in: header
        required: true
        type: string
        description: 'Authorization: Bearer access_token (see Getting Access Tokens) '
      - name: Accept-Encoding
        in: header
        required: true
        type: string
        description: 'Accept-Encoding: gzip (optional) '
      responses:
        200:
          description: "200"
          schema:
            $ref: '#/definitions/timeline'
        400:
          description: 'BAD_REQUEST: The message fields of the response contains information
            about what caused the error such as invalid value for sort parameter nUNSUPPORTED_FIELD_COMBINATION_ERROR:
            The message fields of the response contains information about what invalid
            fields were specifed '
        401:
          description: 'UNAUTHORIZED: Authentication failed; check to make sure your
            policy key is correct '
        404:
          description: 'RESOURCE_NOT_FOUND: The api couldn&#39;t find the resource
            you requested '
        405:
          description: 'METHOD_NOT_ALLOWED: This error occurs when the api request
            is made with an HTTP method other than GET '
        500:
          description: 'SERVER_ERROR: Issue in Brightcove system; try again later
            nPROCESSING: The analytics API may send back this message if it encounters
            a long running query. Once the query has finished it will be stored in
            the serveru2019s cache for up to 5 minutes. Therefore we suggest querying
            the API 4 minutes after receiving this error '
      operationId: Get_Player_Engagement
  /engagement/accounts/{account_id}/videos/{video_id}:
    get:
      tags:
      - Engagement
      summary: Get Video Engagement
      description: 'Get a summary report of engagement for a video. Note:  Engagement
        reports are only available for periods within the past 32 days. Requests outside
        that range will return an error The only parameters supported for Engagement
        reports are from and to Engagement reports are available for single accounts
        only - reports on multiple accounts will not work  '
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: account_id
        in: path
        required: true
        type: string
        description: 'a Video Cloud account ID '
      - name: video_id
        in: path
        required: true
        type: string
        description: 'a Video Cloud video ID '
      - name: Content-Type
        in: header
        required: true
        type: string
        description: 'Content-Type: application/json '
      - name: Authorization
        in: header
        required: true
        type: string
        description: 'Authorization: Bearer access_token (see Getting Access Tokens) '
      - name: Accept-Encoding
        in: header
        required: true
        type: string
        description: 'Accept-Encoding: gzip (optional) '
      responses:
        200:
          description: "200"
          schema:
            $ref: '#/definitions/Get_Video_Engagement200'
        400:
          description: 'BAD_REQUEST: The message fields of the response contains information
            about what caused the error such as invalid value for sort parameter nUNSUPPORTED_FIELD_COMBINATION_ERROR:
            The message fields of the response contains information about what invalid
            fields were specifed '
        401:
          description: 'UNAUTHORIZED: Authentication failed; check to make sure your
            policy key is correct '
        404:
          description: 'RESOURCE_NOT_FOUND: The api couldn&#39;t find the resource
            you requested '
        405:
          description: 'METHOD_NOT_ALLOWED: This error occurs when the api request
            is made with an HTTP method other than GET '
        500:
          description: 'SERVER_ERROR: Issue in Brightcove system; try again later
            nPROCESSING: The analytics API may send back this message if it encounters
            a long running query. Once the query has finished it will be stored in
            the serveru2019s cache for up to 5 minutes. Therefore we suggest querying
            the API 4 minutes after receiving this error '
      operationId: Get_Video_Engagement
  /data:
    get:
      tags:
      - Report
      summary: Get Analytics Report
      description: 'Get an analytics report on one or more dimensions. Note that the
        fields returned in the response will vary according to the dimension(s) requested
        and the fields specified in the fields parameter '
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accounts
        in: query
        required: true
        type: string
        description: One or more account ids, separated by commas
      - name: limit
        in: query
        required: false
        type: integer
        description: Number of items to return
        default: 10
      - name: offset
        in: query
        required: false
        type: integer
        description: Number of items to skip
        default: 0
      - name: sort
        in: query
        required: false
        type: string
        description: Field to sort results by (prefix with `-` for descending order)
        default: video_view
      - name: fields
        in: query
        required: false
        type: string
        description: Fields to return
        default: '`video_view` + others (varies by dimension)'
      - name: dimensions
        in: query
        required: true
        type: string
        description: One or more dimensions to report on; see [Multiple Dimensions](https://support.brightcove.com/overview-analytics-api-v1#metrics)
          for which combined dimensions are supported
        enum:
        - account
        - city
        - country
        - region
        - date
        - date-time
        - device_os
        - device_type
        - player
        - referrer_domain
        - destination_domain
        - search_terms
        - source_type
        - video
      - name: where
        in: query
        required: false
        type: string
        description: one or more 'dimension==value' pairs to filter the results; see
          [Where Filters](https://support.brightcove.com/overview-analytics-api-v1#filterValues)
          for details
        enum:
        - account
        - city
        - country
        - region
        - date
        - date-time
        - device_os
        - device_type
        - player
        - referrer_domain
        - destination_domain
        - search_terms
        - source_type
        - video
      - name: from
        in: query
        required: false
        type: string
        description: Start time for the period covered by the report u2014 `alltime`
          or epoch time in milliseconds or a date in the format `yyyy-mm-dd` (such
          as `2013-09-26`)
        default: (30 days before now)
      - name: to
        in: query
        required: false
        type: string
        description: End time for the period covered by the report u2014 `now` or
          epoch time in milliseconds or a date in the format `yyyy-mm-dd` (such as
          `2013-09-26`)
        default: now
      - name: format
        in: query
        required: false
        type: string
        description: format to return the results in
        default: json
        enum:
        - csv
        - json
        - xlxs
      - name: reconciled
        in: query
        required: false
        type: boolean
        description: if true, only reconciled data is returned; if false, only realtime
          data is returned; if not present, both reconciled and realtime data are
          returned
        default: true
      - name: Content-Type
        in: header
        required: true
        type: string
        description: 'Content-Type: application/json '
      - name: Authorization
        in: header
        required: true
        type: string
        description: 'Authorization: Bearer access_token (see Getting Access Tokens) '
      - name: Accept-Encoding
        in: header
        required: true
        type: string
        description: 'Accept-Encoding: gzip (optional) '
      responses:
        200:
          description: "200"
          schema:
            $ref: '#/definitions/Get_Analytics_Report200'
        400:
          description: 'BAD_REQUEST: The message fields of the response contains information
            about what caused the error such as invalid value for sort parameter nUNSUPPORTED_FIELD_COMBINATION_ERROR:
            The message fields of the response contains information about what invalid
            fields were specifed '
        401:
          description: 'UNAUTHORIZED: Authentication failed; check to make sure your
            policy key is correct '
        404:
          description: 'RESOURCE_NOT_FOUND: The api couldn&#39;t find the resource
            you requested '
        405:
          description: 'METHOD_NOT_ALLOWED: This error occurs when the api request
            is made with an HTTP method other than GET '
        500:
          description: 'SERVER_ERROR: Issue in Brightcove system; try again later
            nPROCESSING: The analytics API may send back this message if it encounters
            a long running query. Once the query has finished it will be stored in
            the serveru2019s cache for up to 5 minutes. Therefore we suggest querying
            the API 4 minutes after receiving this error '
      operationId: Get_Analytics_Report
  /data/status:
    get:
      tags:
      - Report
      summary: Get Available Date Range
      description: 'Get the date range for which reconciled data is available for
        any Analytics API report. All parameters are allowed, but only account, dimensions,
        and where affect the result &mdash; all others are ignored. Note that date
        range for this request must fall within the available date range for the dimensions
        requested &mdash; the simplest thing to do is to use from=alltime '
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: accounts
        in: query
        required: true
        type: string
        description: One or more account ids, separated by commas
      - name: limit
        in: query
        required: false
        type: integer
        description: Number of items to return
        default: 10
      - name: offset
        in: query
        required: false
        type: integer
        description: Number of items to skip
        default: 0
      - name: sort
        in: query
        required: false
        type: string
        description: Field to sort results by (prefix with `-` for descending order)
        default: video_view
      - name: fields
        in: query
        required: false
        type: string
        description: Fields to return
        default: '`video_view` + others (varies by dimension)'
      - name: dimensions
        in: query
        required: true
        type: string
        description: One or more dimensions to report on; see [Multiple Dimensions](https://support.brightcove.com/overview-analytics-api-v1#metrics)
          for which combined dimensions are supported
        enum:
        - account
        - city
        - country
        - region
        - date
        - date-time
        - device_os
        - device_type
        - player
        - referrer_domain
        - destination_domain
        - search_terms
        - source_type
        - video
      - name: where
        in: query
        required: false
        type: string
        description: one or more 'dimension==value' pairs to filter the results; see
          [Where Filters](https://support.brightcove.com/overview-analytics-api-v1#filterValues)
          for details
        enum:
        - account
        - city
        - country
        - region
        - date
        - date-time
        - device_os
        - device_type
        - player
        - referrer_domain
        - destination_domain
        - search_terms
        - source_type
        - video
      - name: from
        in: query
        required: false
        type: string
        description: Start time for the period covered by the report u2014 `alltime`
          or epoch time in milliseconds or a date in the format `yyyy-mm-dd` (such
          as `2013-09-26`)
        default: (30 days before now)
      - name: to
        in: query
        required: false
        type: string
        description: End time for the period covered by the report u2014 `now` or
          epoch time in milliseconds or a date in the format `yyyy-mm-dd` (such as
          `2013-09-26`)
        default: now
      - name: format
        in: query
        required: false
        type: string
        description: format to return the results in
        default: json
        enum:
        - csv
        - json
        - xlxs
      - name: reconciled
        in: query
        required: false
        type: boolean
        description: if true, only reconciled data is returned; if false, only realtime
          data is returned; if not present, both reconciled and realtime data are
          returned
        default: true
      - name: Content-Type
        in: header
        required: true
        type: string
        description: 'Content-Type: application/json '
      - name: Authorization
        in: header
        required: true
        type: string
        description: 'Authorization: Bearer access_token (see Getting Access Tokens) '
      - name: Accept-Encoding
        in: header
        required: true
        type: string
        description: 'Accept-Encoding: gzip (optional) '
      responses:
        200:
          description: "200"
          schema:
            $ref: '#/definitions/Get_Available_Date_Range200'
        400:
          description: 'BAD_REQUEST: The message fields of the response contains information
            about what caused the error such as invalid value for sort parameter nUNSUPPORTED_FIELD_COMBINATION_ERROR:
            The message fields of the response contains information about what invalid
            fields were specifed '
        401:
          description: 'UNAUTHORIZED: Authentication failed; check to make sure your
            policy key is correct '
        404:
          description: 'RESOURCE_NOT_FOUND: The api couldn&#39;t find the resource
            you requested '
        405:
          description: 'METHOD_NOT_ALLOWED: This error occurs when the api request
            is made with an HTTP method other than GET '
        500:
          description: 'SERVER_ERROR: Issue in Brightcove system; try again later
            nPROCESSING: The analytics API may send back this message if it encounters
            a long running query. Once the query has finished it will be stored in
            the serveru2019s cache for up to 5 minutes. Therefore we suggest querying
            the API 4 minutes after receiving this error '
      operationId: Get_Available_Date_Range
  /alltime/accounts/{account_id}/videos/{video_id}:
    get:
      tags:
      - Video Data
      summary: Get Alltime Video Views
      description: 'returns the total alltime video views for a video '
      consumes:
      - application/json
      produces:
      - application/json
      parameters:
      - name: account_id
        in: path
        required: true
        type: string
        description: 'a Video Cloud account ID '
      - name: video_id
        in: path
        required: true
        type: string
        description: 'a Video Cloud video ID '
      - name: Content-Type
        in: header
        required: true
        type: string
        description: 'Content-Type: application/json '
      - name: Authorization
        in: header
        required: true
        type: string
        description: 'Authorization: Bearer access_token (see Getting Access Tokens) '
      - name: Accept-Encoding
        in: header
        required: true
        type: string
        description: 'Accept-Encoding: gzip (optional) '
      responses:
        200:
          description: "200"
          schema:
            $ref: '#/definitions/Get_Alltime_Video_Views200'
        400:
          description: 'BAD_REQUEST: The message fields of the response contains information
            about what caused the error such as invalid value for sort parameter '
        401:
          description: 'UNAUTHORIZED: Authentication failed; check to make sure your
            policy key is correct '
        404:
          description: 'RESOURCE_NOT_FOUND: The api couldn&#39;t find the resource
            you requested '
        405:
          description: 'METHOD_NOT_ALLOWED: This error occurs when the api request
            is made with an HTTP method other than GET '
        500:
          description: 'SERVER_ERROR: Issue in Brightcove system; try again later '
      operationId: Get_Alltime_Video_Views
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":9:{s:14:\"URL Parameters\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":11:{s:4:\"from\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:139:\"Start
  time for the period covered by the report &mdash; epoch time in milliseconds or
  a date in the format yyyy-mm-dd (such as 2013-09-26) \";s:7:\"default\";s:18:\"30_days_before_now\";}s:2:\"to\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:136:\"End
  time for the period covered by the report &mdash; epoch time in milliseconds or
  a date in the format yyyy-mm-dd (such as 2013-09-26)\";s:7:\"default\";s:3:\"now\";}s:8:\"accounts\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:56:\"one
  or more Video Cloud account IDs separated by commas \";}s:5:\"limit\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:27:\"number
  of videos to return \";}s:6:\"offset\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:41:\"number
  of videos to skip in the response \";}s:4:\"sort\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:199:\"field
  to sort results by (for video dimension reports, valid sort fields include the video
  metadata fields video.name, video.tags, video.reference_id and video.custom_fields
  - see (Fields and Sort)) \";}s:6:\"fields\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:98:\"fields
  to return for items; see Dimensions and Fields for the available fields for each
  dimension \";}s:10:\"dimensions\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:105:\"one
  or more dimensions to report on; see Multiple Dimensions for which combined dimensions
  are supported \";}s:5:\"where\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:88:\"one
  or more dimension==value pairs to filter the results; see Where Filters for details
  \";}s:6:\"format\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"format
  to return the results in \";}s:10:\"reconciled\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:148:\"if
  true, only reconciled data is returned; if false, only realtime data is returned;
  if not present, both reconciled and realtime data are returned \";}}s:8:\"required\";a:2:{i:0;s:8:\"accounts\";i:1;s:10:\"dimensions\";}}s:7:\"summary\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":19:{s:13:\"ad_mode_begin\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:152:\"Total
  ad mode begin events received for all items - note that properties included in the
  summary vary depending on the dimension(s) and fields requested\";}s:16:\"ad_mode_complete\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:155:\"Total
  ad mode complete events received for all items - note that properties included in
  the summary vary depending on the dimension(s) and fields requested\";}s:12:\"active_media\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:136:\"Total
  active videos in account(s) - note that properties included in the summary vary
  depending on the dimension(s) and fields requested\";}s:15:\"bytes_delivered\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:146:\"Total
  bytes of data delivered for all items - note that properties included in the summary
  vary depending on the dimension(s) and fields requested\";}s:20:\"daily_unique_viewers\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:143:\"Total
  daily unique viewers for all items - note that properties included in the summary
  vary depending on the dimension(s) and fields requested\";}s:18:\"drm_bytes_packaged\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:141:\"Total
  DRM bytes packaged for all items - note that properties included in the summary
  vary depending on the dimension(s) and fields requested\";}s:16:\"engagement_score\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:141:\"Average
  engagement score for all items - note that properties included in the summary vary
  depending on the dimension(s) and fields requested\";}s:15:\"licenses_served\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:143:\"Total
  DRM licenses serverd for all items - note that properties included in the summary
  vary depending on the dimension(s) and fields requested\";}s:21:\"live_seconds_streamed\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:152:\"Total
  second of live video streamed for all items - note that properties included in the
  summary vary depending on the dimension(s) and fields requested\";}s:9:\"play_rate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:134:\"Average
  play rate for all items - note that properties included in the summary vary depending
  on the dimension(s) and fields requested\";}s:12:\"play_request\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:136:\"Total
  play requests for all items - note that properties included in the summary vary
  depending on the dimension(s) and fields requested\";}s:11:\"player_load\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:135:\"Total
  player loads for all items - note that properties included in the summary vary depending
  on the dimension(s) and fields requested\";}s:18:\"video_engagement_1\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:142:\"Average
  views at 1% point for all items - note that properties included in the summary vary
  depending on the dimension(s) and fields requested\";}s:19:\"video_engagement_25\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:143:\"Average
  views at 25% point for all items - note that properties included in the summary
  vary depending on the dimension(s) and fields requested\";}s:19:\"video_engagement_50\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:143:\"Average
  views at 50% point for all items - note that properties included in the summary
  vary depending on the dimension(s) and fields requested\";}s:19:\"video_engagement_75\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:143:\"Average
  views at 75% point for all items - note that properties included in the summary
  vary depending on the dimension(s) and fields requested\";}s:20:\"video_engagement_100\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:144:\"Average
  views at 100% point for all items - note that properties included in the summary
  vary depending on the dimension(s) and fields requested\";}s:16:\"video_impression\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:140:\"Total
  video impressions for all items - note that properties included in the summary vary
  depending on the dimension(s) and fields requested\";}s:10:\"video_view\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:134:\"Total
  video views for all items - note that properties included in the summary vary depending
  on the dimension(s) and fields requested\";}}}s:8:\"timeline\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:32:\"type
  of data in the values array\";}s:6:\"values\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:51:\"array
  of views in each 100th part of video duration\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"number\";}}}s:8:\"required\";a:2:{i:0;s:4:\"type\";i:1;s:6:\"values\";}}s:23:\"Get_Video_Engagement200\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:14:\"video_duration\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:29:\"the
  video duration in seconds\";}}s:8:\"required\";a:1:{i:0;s:14:\"video_duration\";}}s:23:\"Get_Analytics_Report200\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":9:{s:7:\"account\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:26:\"the
  Video Cloud account id\";}s:10:\"item_count\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:46:\"the
  total number of items matching the request\";}s:5:\"items\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:51:\"array
  of analytics objects for the videos returned \";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/items\";}}s:7:\"summary\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/summary\";}s:18:\"video_engagement_1\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:69:\"number
  of views at the 1% point of the video duration for all videos \";}s:19:\"video_engagement_25\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:70:\"number
  of views at the 25% point of the video duration for all videos \";}s:19:\"video_engagement_50\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:70:\"number
  of views at the 50% point of the video duration for all videos \";}s:19:\"video_engagement_75\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:70:\"number
  of views at the 75% point of the video duration for all videos \";}s:20:\"video_engagement_100\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:71:\"number
  of views at the 100% point of the video duration for all videos \";}}s:8:\"required\";a:9:{i:0;s:7:\"account\";i:1;s:10:\"item_count\";i:2;s:5:\"items\";i:3;s:7:\"summary\";i:4;s:18:\"video_engagement_1\";i:5;s:19:\"video_engagement_25\";i:6;s:19:\"video_engagement_50\";i:7;s:19:\"video_engagement_75\";i:8;s:20:\"video_engagement_100\";}}s:7:\"account\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"the
  name of the Video Cloud account id \";}}s:8:\"required\";a:1:{i:0;s:4:\"name\";}}s:5:\"items\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":18:{s:13:\"ad_mode_begin\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:41:\"number
  of times a player entered ad mode \";}s:16:\"ad_mode_complete\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:43:\"number
  of times a player completed ad mode \";}s:15:\"bytes_delivered\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:229:\"the
  total bytes of data delivered, including the videos, other assets such as images
  and captions, and (for player reports) the player code &mdash; some of the date
  is obtained from CDNs and may not be available for up to 3 days \";}s:16:\"engagement_score\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:46:\"the
  calculated engagement score for the video \";}s:9:\"play_rate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:41:\"video
  views divided by video impressions \";}s:12:\"play_request\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:45:\"number
  of play requests received for a video \";}s:5:\"video\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:13:\"the
  video id \";}s:8:\"duration\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"the
  duration of the video in seconds \";}s:18:\"video_engagement_1\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:54:\"number
  of views at the 1% point of the video duration \";}s:19:\"video_engagement_25\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:55:\"number
  of views at the 25% point of the video duration \";}s:19:\"video_engagement_50\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:55:\"number
  of views at the 50% point of the video duration \";}s:19:\"video_engagement_75\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:55:\"number
  of views at the 75% point of the video duration \";}s:20:\"video_engagement_100\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:56:\"number
  of views at the 100% point of the video duration \";}s:16:\"video_impression\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:49:\"number
  of times the video was loaded in a player \";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:18:\"name
  of the video \";}s:20:\"video_percent_viewed\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:51:\"average
  percentage of the video played when viewed \";}s:20:\"video_seconds_viewed\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"number\";s:11:\"description\";s:34:\"total
  seconds of the video viewed \";}s:10:\"video_view\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:53:\"number
  of times some portion of the video was viewed \";}}s:8:\"required\";a:18:{i:0;s:13:\"ad_mode_begin\";i:1;s:16:\"ad_mode_complete\";i:2;s:15:\"bytes_delivered\";i:3;s:16:\"engagement_score\";i:4;s:9:\"play_rate\";i:5;s:12:\"play_request\";i:6;s:5:\"video\";i:7;s:8:\"duration\";i:8;s:18:\"video_engagement_1\";i:9;s:19:\"video_engagement_25\";i:10;s:19:\"video_engagement_50\";i:11;s:19:\"video_engagement_75\";i:12;s:20:\"video_engagement_100\";i:13;s:16:\"video_impression\";i:14;s:4:\"name\";i:15;s:20:\"video_percent_viewed\";i:16;s:20:\"video_seconds_viewed\";i:17;s:10:\"video_view\";}}s:27:\"Get_Available_Date_Range200\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"reconciled_from\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:68:\"the
  earliest date that you can use for from and get reconciled data \";}s:13:\"reconciled_to\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:113:\"the
  latest date that you can use for to and get reconciled data (realtime data may be
  available for later dates) \";}}s:8:\"required\";a:2:{i:0;s:15:\"reconciled_from\";i:1;s:13:\"reconciled_to\";}}s:26:\"Get_Alltime_Video_Views200\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:19:\"alltime_video_views\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:21:\"all-time
  video views \";}}s:8:\"required\";a:1:{i:0;s:19:\"alltime_video_views\";}}}"
...
