---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":10:{s:7:\"contact\";O:8:\"stdClass\":3:{s:4:\"name\";s:12:\"They
  Said So\";s:3:\"url\";s:26:\"https://theysaidso.com/api\";s:9:\"x-twitter\";s:10:\"theysaidso\";}s:11:\"description\";s:493:\"
  They Said So Quotes API offers a complete feature rich REST API access to its quotes
  platform.  This is the documentation for the world famous [quotes API](https://theysaidso.com/api).
  \ If you are a subscriber and you are trying this from a console add 'X-TheySaidSo-Api-Secret'
  header and add your api key as the header value. You can test and play with the
  API right here on this web page. For using the private end points and subscribing
  to the API please visit https://theysaidso.com/api.\";s:14:\"termsOfService\";s:28:\"https://theysaidso.com/terms\";s:5:\"title\";s:19:\"They
  Said So Quotes\";s:7:\"version\";s:3:\"2.1\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:9:\"open_data\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:82:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_theysaidso_profile_image.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":3:{s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:47:\"https://quotes.rest/yaml/theysaidso-quotes.yaml\";s:7:\"version\";s:3:\"2.0\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:11:\"quotes.rest\";}"
host: quotes.rest
paths: ~
produces:
- application/json
- application/xml
- application/js
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":4:{s:8:\"NewQuote\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"author\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Author
  name of quote.\";s:4:\"type\";s:6:\"string\";}s:5:\"quote\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"The
  Quote.\";s:4:\"type\";s:6:\"string\";}s:4:\"tags\";O:8:\"stdClass\":3:{s:11:\"description\";s:25:\"Array
  of tags/categories.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:1:{i:0;s:5:\"quote\";}}s:3:\"QOD\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Quote\";}i:1;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"date\";O:8:\"stdClass\":2:{s:11:\"description\";s:37:\"Date
  this quote of the day belongs to\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"date\";}}}}s:5:\"Quote\";O:8:\"stdClass\":1:{s:5:\"allOf\";a:2:{i:0;O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/NewQuote\";}i:1;O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:66:\"Unique
  identifier representing a specific quote in theysaidso.com.\";s:4:\"type\";s:6:\"string\";}s:5:\"image\";O:8:\"stdClass\":2:{s:11:\"description\";s:64:\"Image
  URL that can be used for background to display this quote.\";s:4:\"type\";s:6:\"string\";}s:6:\"length\";O:8:\"stdClass\":3:{s:11:\"description\";s:27:\"Length
  of the quote string.\";s:6:\"format\";s:5:\"int32\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:1:{i:0;s:2:\"id\";}}}}s:13:\"QuoteResponse\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"contents\";O:8:\"stdClass\":1:{s:10:\"properties\";O:8:\"stdClass\":1:{s:6:\"quotes\";O:8:\"stdClass\":3:{s:11:\"description\";s:14:\"List
  of quotes\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Quote\";}s:4:\"type\";s:5:\"array\";}}}s:7:\"success\";O:8:\"stdClass\":2:{s:11:\"description\";s:35:\"Metadata
  about this successful call\";s:4:\"type\";s:6:\"string\";}}}}"
...
