---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":5:{s:11:\"description\";s:297:\"Unvired Mobile
  Platform Rest API. API Authentication is HTTP BASIC Auth, the user should be passed
  in as COMPANY\\USER. Note: Due to an issue with the way the docs are generated,
  the response object is not generated correctly.  Until the upstream provider corrects
  it please check actual responses.\";s:7:\"version\";s:15:\"V2-Release-2018\";s:5:\"title\";s:17:\"The
  UMP4 Rest API\";s:7:\"contact\";O:8:\"stdClass\":1:{s:4:\"name\";s:12:\"Unvired
  Inc.\";}s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Commercial License\";s:3:\"url\";s:40:\"http://unvired.com/resources/sdk-license\";}}"
host: sandbox.unvired.io
basePath: /UMP
paths: ~
schemes:
- http
- https
definitions: !php/object "O:8:\"stdClass\":64:{s:18:\"ActivationResponse\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:5:\"error\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:7:\"message\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}}s:5:\"title\";s:18:\"ActivationResponse\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:18:\"ActivationResponse\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:10:\"ActivePlan\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:8:\"fromDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:9:\"From_Date\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:8:\"planName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:9:\"Plan_Name\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:10:\"planStatus\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:8:\"Activate\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:8:\"planType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:9:\"Plan_Type\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:6:\"toDate\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:7:\"To_Date\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}}s:5:\"title\";s:10:\"ActivePlan\";}s:11:\"Application\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:9:\"activated\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:9:\"ACTIVATED\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:13:\"asyncMessages\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/AsyncMessage\";}}s:8:\"deployed\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:8:\"DEPLOYED\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:11:\"DESCRIPTION\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"NAME\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:6:\"paType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:7:\"PA_TYPE\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:12:\"syncMessages\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/SyncMessage\";}}s:6:\"vendor\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:6:\"VENDOR\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:7:\"version\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:7:\"VERSION\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}}s:5:\"title\";s:11:\"Application\";}s:29:\"ApplicationDeploymentResponse\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:5:\"error\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:7:\"message\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}}s:5:\"title\";s:29:\"ApplicationDeploymentResponse\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:29:\"ApplicationDeploymentResponse\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:29:\"ApplicationPropertiesResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:5:\"error\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:7:\"message\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:10:\"Properties\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:1;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Property\";}}s:8:\"property\";O:8:\"stdClass\":2:{s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:8:\"Property\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:4:\"$ref\";s:22:\"#/definitions/Property\";}}s:5:\"title\";s:29:\"ApplicationPropertiesResponse\";}s:19:\"ApplicationResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"application\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Application\";}s:12:\"applications\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:12:\"applications\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:1;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Application\";}}s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:5:\"error\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:7:\"message\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}}s:5:\"title\";s:19:\"ApplicationResponse\";}s:25:\"ApplicationSecretResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:5:\"error\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:7:\"message\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:7:\"secrets\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:7:\"secrets\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:1;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Secret\";}}}s:5:\"title\";s:25:\"ApplicationSecretResponse\";}s:27:\"ApplicationSettingsResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:5:\"error\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:7:\"message\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:8:\"settings\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:8:\"settings\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:1;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Setting\";}}}s:5:\"title\";s:27:\"ApplicationSettingsResponse\";}s:31:\"ApplicationUndeploymentResponse\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:5:\"error\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:7:\"message\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}}s:5:\"title\";s:31:\"ApplicationUndeploymentResponse\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:31:\"ApplicationUnDeploymentResponse\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:24:\"ApplicationUsageResponse\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:11:\"application\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:11:\"application\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:5:\"error\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:7:\"message\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:10:\"nextoffset\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:10:\"nextoffset\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:6:\"usages\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:6:\"usages\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:1;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Usage\";}}}s:5:\"title\";s:24:\"ApplicationUsageResponse\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:24:\"ApplicationUsageResponse\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:23:\"ApplicationUserResponse\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:5:\"error\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:7:\"message\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:10:\"nextOffset\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"users\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:5:\"users\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:1;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/DeployedUser\";}}}s:5:\"title\";s:23:\"ApplicationUserResponse\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:23:\"ApplicationUserResponse\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:31:\"ApplicationUserSettingsResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:5:\"error\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:7:\"message\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:8:\"settings\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:8:\"settings\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:1;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Setting\";}}}s:5:\"title\";s:31:\"ApplicationUserSettingsResponse\";}s:12:\"AsyncMessage\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:12:\"dataReceived\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:13:\"DATA_RECEIVED\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:8:\"dataSent\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:9:\"DATA_SENT\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:9:\"delivered\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:9:\"DELIVERED\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:9:\"discarded\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:9:\"DISCARDED\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:6:\"failed\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:6:\"FAILED\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:4:\"held\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"HELD\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:7:\"ignored\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:7:\"IGNORED\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:6:\"queued\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:6:\"QUEUED\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:5:\"ready\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:5:\"READY\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:5:\"total\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:5:\"TOTAL\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}}s:5:\"title\";s:12:\"AsyncMessage\";}s:18:\"AttachmentResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:12:\"attachmentId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:12:\"attachmentId\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:13:\"cacheLocation\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:13:\"cacheLocation\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:5:\"error\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:7:\"message\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}}s:5:\"title\";s:18:\"AttachmentResponse\";}s:22:\"AuthenticationResponse\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:7:\"authKey\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:5:\"error\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:7:\"message\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:9:\"unviredId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:22:\"AuthenticationResponse\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:22:\"AuthenticationResponse\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:11:\"BackendUser\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"name\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:4:\"port\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"port\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}}s:5:\"title\";s:11:\"BackendUser\";}s:7:\"Company\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":14:{s:7:\"address\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:7:\"Address\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:8:\"altPhone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:15:\"Alternate_Phone\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:4:\"city\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"City\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:9:\"compAlias\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:5:\"Alias\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:9:\"compEmail\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:5:\"Email\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:8:\"compName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"Name\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:7:\"country\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:7:\"Country\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:12:\"customerType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:13:\"Customer_Type\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:3:\"fax\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:3:\"Fax\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:5:\"phone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:5:\"Phone\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:4:\"plan\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/ActivePlan\";}}s:5:\"state\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:5:\"State\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:8:\"timeZone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:8:\"TimeZone\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:3:\"zip\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:3:\"Zip\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}}s:5:\"title\";s:7:\"Company\";}s:25:\"CompanyPropertiesResponse\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:5:\"error\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:7:\"message\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Property\";}}}s:5:\"title\";s:25:\"CompanyPropertiesResponse\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:25:\"CompanyPropertiesResponse\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:15:\"CompanyResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"comp\";O:8:\"stdClass\":2:{s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:7:\"Company\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:4:\"$ref\";s:21:\"#/definitions/Company\";}s:7:\"company\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:9:\"Companies\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:1;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Company\";}}s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:5:\"error\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:7:\"message\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:5:\"plans\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:15:\"Available_Plans\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:1;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Plan\";}}}s:5:\"title\";s:15:\"CompanyResponse\";}s:3:\"Cpu\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"cores\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:5:\"CORES\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:11:\"utilization\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:11:\"UTILIZATION\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}}s:5:\"title\";s:3:\"Cpu\";}s:42:\"DeferredResult\xABResponseEntity\xABobject\xBB\xBB\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"result\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":0:{}}s:12:\"setOrExpired\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}}s:5:\"title\";s:42:\"DeferredResult\xABResponseEntity\xABobject\xBB\xBB\";}s:12:\"DeployedUser\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"deviceId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:8:\"deviceId\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:6:\"status\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:9:\"unviredId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:9:\"unviredId\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}}s:5:\"title\";s:12:\"DeployedUser\";}s:4:\"Disk\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"free\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"FREE\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:5:\"total\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:5:\"TOTAL\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:4:\"used\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"USED\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}}s:5:\"title\";s:4:\"Disk\";}s:19:\"DownloadMsgResponse\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:5:\"error\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:7:\"message\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}}s:5:\"title\";s:19:\"DownloadMsgResponse\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:19:\"DownloadMsgResponse\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:18:\"ExecuteForResponse\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:5:\"error\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:7:\"message\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:7:\"results\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:7:\"results\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:1;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Result\";}}}s:5:\"title\";s:18:\"ExecuteForResponse\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:15:\"ExecuteResponse\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:15:\"ExecuteResponse\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:5:\"error\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:7:\"message\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:7:\"results\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:7:\"results\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:1;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Result\";}}}s:5:\"title\";s:15:\"ExecuteResponse\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:15:\"ExecuteResponse\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:14:\"FederationUser\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"application\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:11:\"application\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"name\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}}s:5:\"title\";s:14:\"FederationUser\";}s:8:\"Frontend\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"frontend\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:8:\"frontend\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:12:\"frontendType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:12:\"frontendType\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"name\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}}s:5:\"title\";s:8:\"Frontend\";}s:12:\"FrontendUser\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"frontend\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:8:\"frontend\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"name\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}}s:5:\"title\";s:12:\"FrontendUser\";}s:8:\"Function\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:11:\"description\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"name\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}}s:5:\"title\";s:8:\"Function\";}s:5:\"Group\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"descrption\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:10:\"descrption\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"name\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}}s:5:\"title\";s:5:\"Group\";}s:13:\"GroupResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:5:\"error\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:5:\"group\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Group\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:7:\"message\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}}s:5:\"title\";s:13:\"GroupResponse\";}s:14:\"GroupsResponse\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:5:\"error\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:6:\"groups\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Group\";}}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:7:\"message\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}}s:5:\"title\";s:14:\"GroupsResponse\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:13:\"GroupResponse\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:4:\"Host\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:2:\"ip\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:2:\"IP\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"NAME\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:10:\"serverTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:11:\"SERVER_TIME\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:8:\"timeZone\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:8:\"TIMEZONE\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}}s:5:\"title\";s:4:\"Host\";}s:11:\"JavaDetails\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":9:{s:10:\"freeMemory\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:11:\"FREE_MEMORY\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:11:\"totalMemory\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:12:\"TOTAL_MEMORY\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:10:\"usedMemory\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:11:\"USED_MEMORY\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:11:\"utilization\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:11:\"UTILIZATION\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:6:\"vendor\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:6:\"VENDOR\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:7:\"version\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:7:\"VERSION\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:6:\"vmName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:7:\"VM_NAME\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:8:\"vmVendor\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:9:\"VM_VENDOR\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:9:\"vmVersion\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:10:\"VM_VERSION\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}}s:5:\"title\";s:11:\"JavaDetails\";}s:7:\"Library\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:11:\"description\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:9:\"functions\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:9:\"functions\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:1;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Function\";}}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"name\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:5:\"ports\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:5:\"ports\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:1;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Port\";}}}s:5:\"title\";s:7:\"Library\";}s:15:\"LibraryResponse\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:5:\"error\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:7:\"library\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Library\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:7:\"message\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}}s:5:\"title\";s:15:\"LibraryResponse\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:15:\"LibraryResponse\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:7:\"Message\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"convId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:6:\"convId\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:6:\"status\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:9:\"unviredId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:9:\"unviredId\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:4:\"user\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"user\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}}s:5:\"title\";s:7:\"Message\";}s:20:\"MessageCountResponse\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:5:\"error\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:7:\"message\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:6:\"result\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Result\";}}s:5:\"title\";s:20:\"MessageCountResponse\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:19:\"ApplicationResponse\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:15:\"MessageResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:5:\"error\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:7:\"message\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:8:\"messages\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:8:\"messages\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:1;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:21:\"#/definitions/Message\";}}}s:5:\"title\";s:15:\"MessageResponse\";}s:12:\"Notification\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:11:\"application\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:16:\"APPLICATION_NAME\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:14:\"conversationId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:15:\"CONVERSATION_ID\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:5:\"level\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:5:\"LEVEL\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:7:\"MESSAGE\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:8:\"postTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:9:\"POST_TIME\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"TYPE\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:4:\"user\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"USER\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}}s:5:\"title\";s:12:\"Notification\";}s:2:\"Os\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:12:\"architecture\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:12:\"ARCHITECTURE\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"NAME\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:7:\"version\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:7:\"VERSION\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}}s:5:\"title\";s:2:\"Os\";}s:20:\"PasswordlessResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:5:\"email\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:5:\"error\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:9:\"firstName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"lastName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"loginToken\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:14:\"loginValidated\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:7:\"message\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:20:\"mobileAppRedirectURL\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"profileId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"sessionId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"userName\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:17:\"validationMessage\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}}s:5:\"title\";s:20:\"PasswordlessResponse\";}s:4:\"Plan\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":11:{s:10:\"adminUsers\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:11:\"ADMIN_USERS\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:13:\"appAdminUsers\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:15:\"APP_ADMIN_USERS\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:12:\"applications\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:12:\"APPLICATIONS\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:18:\"communicationUsers\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:19:\"COMMUNICATION_USERS\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:8:\"devUsers\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:9:\"DEV_USERS\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:10:\"deviceData\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:11:\"DEVICE_DATA\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:11:\"deviceUsers\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:12:\"DEVICE_USERS\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:9:\"frontends\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:9:\"FRONTENDS\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:8:\"planName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"NAME\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:10:\"serverData\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:11:\"SERVER_DATA\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:7:\"systems\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:7:\"SYSTEMS\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}}s:5:\"title\";s:4:\"Plan\";}s:4:\"Port\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:11:\"description\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:11:\"description\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"name\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:6:\"system\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:6:\"system\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}}s:5:\"title\";s:4:\"Port\";}s:8:\"Property\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"name\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:5:\"value\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}}s:5:\"title\";s:8:\"Property\";}s:19:\"PushMessageResponse\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:5:\"error\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:7:\"message\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:7:\"results\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:7:\"results\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:1;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Result\";}}}s:5:\"title\";s:19:\"PushMessageResponse\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:19:\"PushMessageResponse\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:24:\"PushNotificationResponse\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:5:\"error\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:7:\"message\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:7:\"results\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:7:\"results\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:1;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/Result\";}}}s:5:\"title\";s:24:\"PushNotificationResponse\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:24:\"PushNotificationResponse\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:3:\"Ram\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"free\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"FREE\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:5:\"total\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:5:\"TOTAL\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:4:\"used\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"USED\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}}s:5:\"title\";s:3:\"Ram\";}s:5:\"Redis\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:15:\"redisProperties\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/RedisProperty\";}}s:9:\"sentinals\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/Sentinel\";}}}s:5:\"title\";s:5:\"Redis\";}s:13:\"RedisProperty\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"ip\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:2:\"IP\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:4:\"port\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"PORT\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"TYPE\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}}s:5:\"title\";s:13:\"RedisProperty\";}s:6:\"Result\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:6:\"convId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:6:\"convId\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:6:\"device\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:6:\"device\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:7:\"message\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:7:\"pending\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:7:\"pending\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:5:\"ready\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:5:\"ready\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:6:\"status\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:4:\"user\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"user\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}}s:5:\"title\";s:6:\"Result\";}s:6:\"Secret\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"name\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:5:\"value\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}}s:5:\"title\";s:6:\"Secret\";}s:8:\"Sentinel\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:2:\"ip\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:2:\"IP\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:4:\"port\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"PORT\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:6:\"STATUS\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}}s:5:\"title\";s:8:\"Sentinel\";}s:15:\"SessionResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:7:\"authKey\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"buildNo\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"deployment\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:5:\"error\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:6:\"expire\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:7:\"message\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:4:\"role\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:8:\"serverId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:10:\"serverType\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"sessionId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"unviredId\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"users\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:5:\"users\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:1;}s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/FrontendUser\";}}}s:5:\"title\";s:15:\"SessionResponse\";}s:7:\"Setting\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"name\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:6:\"secure\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:6:\"secure\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:5:\"value\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:5:\"value\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}}s:5:\"title\";s:7:\"Setting\";}s:14:\"StatusResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:11:\"application\";O:8:\"stdClass\":2:{s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:11:\"APPLICATION\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:4:\"$ref\";s:25:\"#/definitions/Application\";}s:12:\"applications\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/Application\";}}s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:5:\"error\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:7:\"message\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:13:\"notifications\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/Notification\";}}s:5:\"redis\";O:8:\"stdClass\":2:{s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:5:\"REDIS\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:4:\"$ref\";s:19:\"#/definitions/Redis\";}s:16:\"umpNodeResponses\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/UmpNodeResponse\";}}s:11:\"umpResponse\";O:8:\"stdClass\":2:{s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:3:\"UMP\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}s:4:\"$ref\";s:25:\"#/definitions/UmpResponse\";}}s:5:\"title\";s:14:\"StatusResponse\";}s:11:\"SyncMessage\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:12:\"dataReceived\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:13:\"DATA_RECEIVED\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:8:\"dataSent\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:9:\"DATA_SENT\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:6:\"failed\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:6:\"FAILED\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:7:\"success\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:7:\"SUCCESS\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:5:\"total\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:5:\"TOTAL\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}}s:5:\"title\";s:11:\"SyncMessage\";}s:15:\"UmpNodeResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:5:\"error\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:11:\"installedOs\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:16:\"#/definitions/Os\";}}s:11:\"javaDetails\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/JavaDetails\";}}s:12:\"lastBeatTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:9:\"HEARTBEAT\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:7:\"message\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:12:\"operatingCpu\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Cpu\";}}s:11:\"runningHost\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Host\";}}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:6:\"STATUS\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:9:\"systemRam\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:17:\"#/definitions/Ram\";}}s:7:\"umpDisk\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Disk\";}}}s:5:\"title\";s:15:\"UmpNodeResponse\";}s:11:\"UmpResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":13:{s:12:\"applications\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:12:\"APPLICATIONS\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:8:\"backends\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:8:\"BACKENDS\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:7:\"buildNo\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:8:\"BUILD_NO\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:8:\"database\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:8:\"DATABASE\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:7:\"edition\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:7:\"EDITION\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:8:\"frotends\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:9:\"FRONTENDS\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:16:\"installationType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:17:\"INSTALLATION_TYPE\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:20:\"noOfUserLicensesUsed\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:13:\"LICENSES_USED\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:5:\"nodes\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:5:\"NODES\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:4:\"plan\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Plan\";}}s:8:\"serverId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:9:\"SERVER_ID\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:10:\"serverType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:11:\"SERVER_TYPE\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:3:\"url\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:3:\"URL\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}}s:5:\"title\";s:11:\"UmpResponse\";}s:5:\"Usage\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":11:{s:19:\"clientAppUpdateTime\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:19:\"clientAppUpdateTime\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:16:\"clientAppVersion\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:16:\"clientAppVersion\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:22:\"clientFrameworkVersion\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:22:\"clientFrameworkVersion\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:11:\"deviceModel\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:11:\"deviceModel\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:15:\"deviceOsVersion\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:15:\"deviceOsVersion\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:12:\"frontendType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:12:\"frontendType\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:12:\"frontendUser\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:12:\"frontendUser\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:9:\"ipAddress\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:9:\"ipAddress\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:14:\"lastAccessTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:14:\"lastAccessTime\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:16:\"lastDownLoadTime\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"integer\";s:6:\"format\";s:5:\"int64\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:16:\"lastDownLoadTime\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:4:\"user\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:4:\"user\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}}s:5:\"title\";s:5:\"Usage\";}s:4:\"User\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":12:{s:7:\"authKey\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:12:\"backendUsers\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/BackendUser\";}}s:5:\"email\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:5:\"email\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:15:\"federationUsers\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:28:\"#/definitions/FederationUser\";}}s:9:\"firstName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:9:\"firstName\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:13:\"frontendUsers\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/FrontendUser\";}}s:6:\"groups\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Group\";}}s:8:\"lastName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:8:\"lastName\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:9:\"profileId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:9:\"profileId\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:6:\"status\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:6:\"status\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:8:\"userName\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:8:\"userName\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}s:8:\"userType\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:8:\"userType\";s:9:\"attribute\";b:1;s:7:\"wrapped\";b:0;}}}s:5:\"title\";s:4:\"User\";}s:12:\"UserResponse\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:5:\"error\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:7:\"message\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:4:\"user\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/User\";}}s:5:\"title\";s:12:\"UserResponse\";}s:13:\"UsersResponse\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:5:\"error\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:5:\"error\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:7:\"message\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}s:10:\"nextoffset\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:5:\"users\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/User\";}}}s:5:\"title\";s:13:\"UsersResponse\";s:3:\"xml\";O:8:\"stdClass\":3:{s:4:\"name\";s:13:\"UsersResponse\";s:9:\"attribute\";b:0;s:7:\"wrapped\";b:0;}}}"
...
