---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":2:{s:7:\"version\";s:3:\"1.0\";s:5:\"title\";s:14:\"Edge
  Commander\";}"
host: app.edgecommander.com
paths:
  /v1/sites/{id}:
    delete:
      tags:
      - sites
      summary: Delete site by ID
      responses:
        200:
          description: Success
      parameters:
      - type: string
        required: true
        name: id
        in: path
        description: Site id to delete
      - type: string
        required: true
        name: api_id
        in: query
        description: ""
      - type: string
        required: true
        name: api_key
        in: query
        description: ""
      operationId: EdgeCommanderWeb.SitesController.delete_site
      description: ""
  /v1/sites:
    get:
      tags:
      - sites
      summary: Returns all sites
      responses:
        200:
          description: Success
      parameters:
      - type: string
        required: true
        name: api_id
        in: query
        description: ""
      - type: string
        required: true
        name: api_key
        in: query
        description: ""
      operationId: EdgeCommanderWeb.SitesController.get_all_sites
      description: Returns sites list
  /v1/sims/{sim_number}/usage:
    get:
      tags:
      - sims
      summary: Find data usage in % by sim number
      responses:
        200:
          description: Success
      parameters:
      - type: string
        required: true
        name: sim_number
        in: path
        description: Sim number in given format (08xxxxxxxx)
      - type: string
        required: true
        name: api_id
        in: query
        description: ""
      - type: string
        required: true
        name: api_key
        in: query
        description: ""
      operationId: EdgeCommanderWeb.SimsController.create_chartjs_line_data
      description: Returns data usage in % for single sim
  /v1/sims/{sim_number}/sms:
    post:
      tags:
      - sims
      summary: Send sms to sim
      responses:
        200:
          description: Success
      parameters:
      - type: string
        required: true
        name: sim_number
        in: path
        description: Sim number in given format (08xxxxxxxx)
      - type: string
        required: true
        name: sms_message
        in: query
        description: ""
      - type: string
        required: true
        name: api_id
        in: query
        description: ""
      - type: string
        required: true
        name: api_key
        in: query
        description: ""
      operationId: EdgeCommanderWeb.SimsController.send_sms
      description: ""
    get:
      tags:
      - sims
      summary: Find sms by sim number
      responses:
        200:
          description: Success
      parameters:
      - type: string
        required: true
        name: sim_number
        in: path
        description: Sim number in given format (08xxxxxxxx)
      - type: string
        required: true
        name: api_id
        in: query
        description: ""
      - type: string
        required: true
        name: api_key
        in: query
        description: ""
      operationId: EdgeCommanderWeb.SimsController.get_single_sim_sms
      description: Returns latest 10 sms for single sim
  /v1/sims/{sim_number}:
    get:
      tags:
      - sims
      summary: Find data by sim number
      responses:
        200:
          description: Success
      parameters:
      - type: string
        required: true
        name: sim_number
        in: path
        description: Sim number in given format (08xxxxxxxx)
      - type: string
        required: true
        name: api_id
        in: query
        description: ""
      - type: string
        required: true
        name: api_key
        in: query
        description: ""
      operationId: EdgeCommanderWeb.SimsController.get_single_sim_data
      description: Returns list of data for single sim
  /v1/sims:
    get:
      tags:
      - sims
      summary: Returns all sims data
      responses:
        200:
          description: Success
      parameters:
      - type: string
        required: true
        name: api_id
        in: query
        description: ""
      - type: string
        required: true
        name: api_key
        in: query
        description: ""
      operationId: EdgeCommanderWeb.SimsController.get_sim_logs
      description: ""
  /v1/rules/{id}:
    delete:
      tags:
      - rules
      summary: Delete rule by ID
      responses:
        200:
          description: Success
      parameters:
      - type: string
        required: true
        name: id
        in: path
        description: Rule id to delete
      - type: string
        required: true
        name: api_id
        in: query
        description: ""
      - type: string
        required: true
        name: api_key
        in: query
        description: ""
      operationId: EdgeCommanderWeb.CommandsController.delete_rule
      description: ""
  /v1/rules:
    get:
      tags:
      - rules
      summary: Returns all rules
      responses:
        200:
          description: Success
      parameters:
      - type: string
        required: true
        name: api_id
        in: query
        description: ""
      - type: string
        required: true
        name: api_key
        in: query
        description: ""
      operationId: EdgeCommanderWeb.CommandsController.get_all_rules
      description: Returns rules list
  /v1/routers/{id}:
    patch:
      tags:
      - routers
      summary: Updates a router by ID
      responses:
        201:
          description: Success
      parameters:
      - type: string
        required: true
        name: id
        in: path
        description: ID of router that needs to be updated
      - type: string
        required: false
        name: name
        in: query
        description: Updated name of the router
      - type: string
        required: false
        name: username
        in: query
        description: Updated username of the router
      - type: string
        required: false
        name: password
        in: query
        description: Updated password of the router
      - type: string
        required: false
        name: ip
        in: query
        description: Updated ip of the router
      - type: integer
        required: false
        name: port
        in: query
        description: Updated port of the router
      - type: boolean
        required: false
        name: is_monitoring
        in: query
        description: ""
      - type: string
        required: true
        name: api_id
        in: query
        description: ""
      - type: string
        required: true
        name: api_key
        in: query
        description: ""
      operationId: EdgeCommanderWeb.RoutersController.update
      description: ""
    delete:
      tags:
      - routers
      summary: Delete router by ID
      responses:
        201:
          description: Success
      parameters:
      - type: string
        required: true
        name: id
        in: path
        description: Router id to delete
      - type: string
        required: true
        name: api_id
        in: query
        description: ""
      - type: string
        required: true
        name: api_key
        in: query
        description: ""
      operationId: EdgeCommanderWeb.RoutersController.delete_router
      description: ""
  /v1/routers:
    post:
      tags:
      - routers
      summary: Add a new router
      responses:
        201:
          description: Success
      parameters:
      - type: string
        required: true
        name: name
        in: query
        description: ""
      - type: string
        required: true
        name: username
        in: query
        description: ""
      - type: string
        required: true
        name: password
        in: query
        description: ""
      - type: string
        required: true
        name: ip
        in: query
        description: ""
      - type: integer
        required: true
        name: port
        in: query
        description: ""
      - type: boolean
        required: false
        name: is_monitoring
        in: query
        description: ""
        default: false
      - type: string
        required: true
        name: api_id
        in: query
        description: ""
      - type: string
        required: true
        name: api_key
        in: query
        description: ""
      operationId: EdgeCommanderWeb.RoutersController.create
      description: ""
    get:
      tags:
      - routers
      summary: Returns all routers
      responses:
        200:
          description: Success
      parameters:
      - type: string
        required: true
        name: api_id
        in: query
        description: ""
      - type: string
        required: true
        name: api_key
        in: query
        description: ""
      operationId: EdgeCommanderWeb.RoutersController.get_all_routers
      description: Returns routers list
  /v1/nvrs/{id}:
    patch:
      tags:
      - nvrs
      summary: Update nvr by ID
      responses:
        201:
          description: Success
      parameters:
      - type: string
        required: true
        name: id
        in: path
        description: ID of nvr that needs to be updated
      - type: string
        required: false
        name: name
        in: query
        description: Updated name of the nvr
      - type: string
        required: false
        name: username
        in: query
        description: Updated username of the nvr
      - type: string
        required: false
        name: password
        in: query
        description: Updated password of the nvr
      - type: string
        required: false
        name: ip
        in: query
        description: Updated ip of the nvr
      - type: integer
        required: false
        name: port
        in: query
        description: Updated http port of the nvr
      - type: integer
        required: false
        name: vh_port
        in: query
        description: Updated vh port of the nvr
      - type: integer
        required: false
        name: rtsp_port
        in: query
        description: Updated rtsp port of the nvr
      - type: integer
        required: false
        name: sdk_port
        in: query
        description: Updated sdk port of the nvr
      - type: boolean
        required: false
        name: is_monitoring
        in: query
        description: ""
      - type: string
        required: true
        name: api_id
        in: query
        description: ""
      - type: string
        required: true
        name: api_key
        in: query
        description: ""
      operationId: EdgeCommanderWeb.NvrsController.update
      description: ""
    delete:
      tags:
      - nvrs
      summary: Delete nvr by ID
      responses:
        200:
          description: Success
      parameters:
      - type: string
        required: true
        name: id
        in: path
        description: Nvr id to delete
      - type: string
        required: true
        name: api_id
        in: query
        description: ""
      - type: string
        required: true
        name: api_key
        in: query
        description: ""
      operationId: EdgeCommanderWeb.NvrsController.delete_nvr
      description: ""
  /v1/nvrs:
    post:
      tags:
      - nvrs
      summary: Add a new nvr
      responses:
        201:
          description: Success
      parameters:
      - type: string
        required: true
        name: name
        in: query
        description: ""
      - type: string
        required: true
        name: username
        in: query
        description: ""
      - type: string
        required: true
        name: password
        in: query
        description: ""
      - type: string
        required: true
        name: ip
        in: query
        description: ""
      - type: integer
        required: true
        name: port
        in: query
        description: ""
      - type: integer
        required: true
        name: vh_port
        in: query
        description: ""
      - type: integer
        required: true
        name: rtsp_port
        in: query
        description: ""
      - type: integer
        required: true
        name: sdk_port
        in: query
        description: ""
      - type: boolean
        required: false
        name: is_monitoring
        in: query
        description: ""
        default: false
      - type: string
        required: true
        name: api_id
        in: query
        description: ""
      - type: string
        required: true
        name: api_key
        in: query
        description: ""
      operationId: EdgeCommanderWeb.NvrsController.create
      description: ""
    get:
      tags:
      - nvrs
      summary: Returns all nvrs
      responses:
        200:
          description: Success
      parameters:
      - type: string
        required: true
        name: api_id
        in: query
        description: ""
      - type: string
        required: true
        name: api_key
        in: query
        description: ""
      operationId: EdgeCommanderWeb.NvrsController.get_all_nvrs
      description: Returns nvrs list
definitions: !php/object "O:8:\"stdClass\":4:{s:4:\"Site\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:5:\"title\";s:4:\"Site\";s:8:\"required\";a:6:{i:0;s:3:\"lat\";i:1;s:3:\"lng\";i:2;s:8:\"location\";i:3;s:8:\"nvr_name\";i:4;s:11:\"router_name\";i:5;s:10:\"sim_number\";}s:10:\"properties\";O:8:\"stdClass\":8:{s:10:\"sim_number\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:11:\"router_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:8:\"nvr_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:5:\"notes\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:8:\"location\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:3:\"lng\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:25:\"Longitude
  of the location\";}s:3:\"lat\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:24:\"Latitude
  of the location\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:0:\"\";}}s:11:\"description\";s:25:\"A
  site of the application\";}s:4:\"Rule\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:5:\"title\";s:4:\"Rule\";s:8:\"required\";a:4:{i:0;s:6:\"active\";i:1;s:8:\"category\";i:2;s:10:\"recipients\";i:3;s:9:\"rule_name\";}s:10:\"properties\";O:8:\"stdClass\":5:{s:9:\"rule_name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:10:\"recipients\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:7:\"example\";s:24:\"test@user.com,
  who@am.io\";s:11:\"description\";s:0:\"\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:0:\"\";}s:8:\"category\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:1:{i:0;s:13:\"usage_command\";}s:11:\"description\";s:0:\"\";}s:6:\"active\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:0:\"\";s:7:\"default\";b:0;}}s:11:\"description\";s:25:\"A
  rule of the application\";}s:6:\"Router\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:5:\"title\";s:6:\"Router\";s:10:\"properties\";O:8:\"stdClass\":7:{s:8:\"username\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:4:\"port\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:0:\"\";}s:8:\"password\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:13:\"is_monitoring\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:0:\"\";s:7:\"default\";b:0;}s:2:\"ip\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:0:\"\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:0:\"\";}}s:11:\"description\";s:27:\"A
  router of the application\";}s:3:\"Nvr\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:5:\"title\";s:3:\"Nvr\";s:8:\"required\";a:9:{i:0;s:13:\"is_monitoring\";i:1;s:8:\"sdk_port\";i:2;s:9:\"rtsp_port\";i:3;s:7:\"vh_port\";i:4;s:4:\"port\";i:5;s:2:\"ip\";i:6;s:8:\"password\";i:7;s:8:\"username\";i:8;s:4:\"name\";}s:10:\"properties\";O:8:\"stdClass\":19:{s:7:\"vh_port\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:0:\"\";}s:8:\"username\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:13:\"serial_number\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:8:\"sdk_port\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:0:\"\";}s:9:\"rtsp_port\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:0:\"\";}s:6:\"reason\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:14:\"Offline
  reason\";}s:4:\"port\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:0:\"\";}s:8:\"password\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:10:\"nvr_status\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:0:\"\";}s:4:\"name\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:5:\"model\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:11:\"mac_address\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:13:\"is_monitoring\";O:8:\"stdClass\":3:{s:4:\"type\";s:7:\"boolean\";s:11:\"description\";s:0:\"\";s:7:\"default\";b:0;}s:2:\"ip\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:0:\"\";}s:2:\"id\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:0:\"\";}s:16:\"firmware_version\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:22:\"firmware_released_date\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:15:\"encoder_version\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}s:21:\"encoder_released_date\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:0:\"\";}}s:11:\"description\";s:43:\"A
  network video recorder of the application\";}}"
...
