---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":7:{s:5:\"title\";s:21:\"Global Baseball Trial\";s:7:\"version\";s:5:\"1.0.0\";s:7:\"contact\";O:8:\"stdClass\":3:{s:4:\"name\";s:13:\"Mike
  Ralphson\";s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:3:\"url\";s:42:\"https://github.com/mermade/mashery2openapi\";}s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:3:\"MIT\";s:3:\"url\";s:35:\"https://opensource.org/licenses/MIT\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":2:{s:3:\"url\";s:39:\"http://developer.sportradar.com/io-docs\";s:6:\"format\";s:7:\"io_docs\";}}s:11:\"description\";s:134:\"Test
  our API services using our API Sandbox!    Enter your sport specific TRIAL KEY in
  the box below. Sportradar's Global Baseball API\";s:12:\"x-mashery-id\";s:4:\"6874\";}"
host: api.sportradar.com
basePath: /baseball-t1/en
paths:
  /competitors/{competitor_id}/profile{format}:
    get:
      operationId: CompetitorProfileGlobalBaseball
      summary: Provides information for a given competitor
      tags:
      - Global Baseball
      parameters:
      - name: competitor_id
        type: string
        description: The ID of the team, found in Tournament Info endpoint
        in: path
        required: true
        default: sr:competitor:3641
      - name: format
        type: string
        description: Desired Output Format
        in: path
        required: true
        enum:
        - .xml
        - .json
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /competitors/{competitor_id}/results{format}:
    get:
      operationId: CompetitorResultsGlobalBaseball
      summary: Provides past match results for a given competitor...
      description: Provides past match results for a given competitor
      tags:
      - Global Baseball
      parameters:
      - name: competitor_id
        type: string
        description: The ID of the team, found in Tournament Info endpoint
        in: path
        required: true
        default: sr:competitor:3641
      - name: format
        type: string
        description: Desired Output Format
        in: path
        required: true
        enum:
        - .xml
        - .json
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /competitors/{competitor_id}/schedule{format}:
    get:
      operationId: CompetitorScheduleGlobalBaseball
      summary: Provides the schedule for a given competitor
      tags:
      - Global Baseball
      parameters:
      - name: competitor_id
        type: string
        description: The ID of the team, found in Tournament Info endpoint
        in: path
        required: true
        default: sr:competitor:3641
      - name: format
        type: string
        description: Desired Output Format
        in: path
        required: true
        enum:
        - .xml
        - .json
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /schedules/{year-}{month-}{day}/results{format}:
    get:
      operationId: DailyResultsGlobalBaseball
      summary: Provides the match scoring for all matches played ...
      description: Provides the match scoring for all matches played on a given day
      tags:
      - Global Baseball
      parameters:
      - name: year
        type: number
        description: The calendar year
        in: query
        required: true
        enum:
        - "2014"
        - "2015"
        - "2016"
        - "2017"
      - name: month
        type: number
        description: The calendar month
        in: query
        required: true
        enum:
        - "01"
        - "02"
        - "03"
        - "04"
        - "05"
        - "06"
        - "07"
        - 08
        - 09
        - "10"
        - "11"
        - "12"
      - name: day
        type: number
        description: The calendar day
        in: path
        required: true
        enum:
        - "01"
        - "02"
        - "03"
        - "04"
        - "05"
        - "06"
        - "07"
        - 08
        - 09
        - "10"
        - "11"
        - "12"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: format
        type: string
        description: Desired Output Format
        in: path
        required: true
        enum:
        - .xml
        - .json
      - name: year-
        type: string
        in: path
        required: true
      - name: month-
        type: string
        in: path
        required: true
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /schedules/{year-}{month-}{day}/schedule{format}:
    get:
      operationId: DailyScheduleGlobalBaseball
      summary: Provides the schedule for all matches played on a ...
      description: Provides the schedule for all matches played on a given day
      tags:
      - Global Baseball
      parameters:
      - name: year
        type: number
        description: The calendar year
        in: query
        required: true
        enum:
        - "2014"
        - "2015"
        - "2016"
        - "2017"
      - name: month
        type: number
        description: The calendar month
        in: query
        required: true
        enum:
        - "01"
        - "02"
        - "03"
        - "04"
        - "05"
        - "06"
        - "07"
        - 08
        - 09
        - "10"
        - "11"
        - "12"
      - name: day
        type: number
        description: The calendar day
        in: path
        required: true
        enum:
        - "01"
        - "02"
        - "03"
        - "04"
        - "05"
        - "06"
        - "07"
        - 08
        - 09
        - "10"
        - "11"
        - "12"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: format
        type: string
        description: Desired Output Format
        in: path
        required: true
        enum:
        - .xml
        - .json
      - name: year-
        type: string
        in: path
        required: true
      - name: month-
        type: string
        in: path
        required: true
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  //competitors/{competitor_id1}/versus/{competitor_id2}/matches{format}:
    get:
      operationId: HeadtoHeadGlobalBaseball
      summary: Provides team versus team data
      tags:
      - Global Baseball
      parameters:
      - name: competitor_id1
        type: string
        description: The ID of the team, found in Tournament Info endpoint
        in: path
        required: true
        default: sr:competitor:3641
      - name: competitor_id2
        type: string
        description: The ID of the team, found in Tournament Info endpoint
        in: path
        required: true
        default: sr:competitor:3645
      - name: format
        type: string
        description: Desired Output Format
        in: path
        required: true
        enum:
        - .xml
        - .json
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /schedules/live/schedule{format}:
    get:
      operationId: LiveScheduleGlobalBaseball
      summary: Provides a list of matches in progress
      tags:
      - Global Baseball
      parameters:
      - name: format
        type: string
        description: Desired Output Format
        in: path
        required: true
        enum:
        - .xml
        - .json
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /players/{player_id}/profile{format}:
    get:
      operationId: PlayerProfileGlobalBaseball
      summary: Provides information for a given Player
      tags:
      - Global Baseball
      parameters:
      - name: player_id
        type: string
        description: A player ID found in a Competitor Profile
        in: path
        required: true
        default: sr:player:843107
      - name: format
        type: string
        description: Desired Output Format
        in: path
        required: true
        enum:
        - .xml
        - .json
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /tournaments/{tournament_id}/seasons{format}:
    get:
      operationId: SeasonsGlobalBaseball
      summary: Provides the seasons for a given Tournament
      tags:
      - Global Baseball
      parameters:
      - name: tournament_id
        type: string
        description: Tournament ID found in the Tournament List API
        in: path
        required: true
        default: sr:tournament:109
      - name: format
        type: string
        description: Desired Output Format
        in: path
        required: true
        enum:
        - .xml
        - .json
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /sport_events/{match_id}/probabilities{format}:
    get:
      operationId: SportEventProbabilitiesGlobalBaseball
      summary: Provides probabilities for a given match; prematch...
      description: Provides probabilities for a given match; prematch only
      tags:
      - Global Baseball
      parameters:
      - name: match_id
        type: string
        description: A given event ID
        in: path
        required: true
      - name: format
        type: string
        description: Desired Output Format
        in: path
        required: true
        enum:
        - .xml
        - .json
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /sport_events/{match_id}/timeline{format}:
    get:
      operationId: SportEventTimelineGlobalBaseball
      summary: Provides detailed information for a given match
      tags:
      - Global Baseball
      parameters:
      - name: match_id
        type: string
        description: Event ID found in the Tournament Schedule endpoint
        in: path
        required: true
        default: sr:match:8823148
      - name: format
        type: string
        description: Desired Output Format
        in: path
        required: true
        enum:
        - .xml
        - .json
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /tournaments/{tournament_id}/info{format}:
    get:
      operationId: TournamentInfoGlobalBaseball
      summary: Provides a list of Competitors from a given Tourna...
      description: Provides a list of Competitors from a given Tournament
      tags:
      - Global Baseball
      parameters:
      - name: tournament_id
        type: string
        description: Tournament ID found in the Tournament List API
        in: path
        required: true
        default: sr:tournament:109
      - name: format
        type: string
        description: Desired Output Format
        in: path
        required: true
        enum:
        - .xml
        - .json
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /tournaments{format}:
    get:
      operationId: TournamentListGlobalBaseball
      summary: Provides a list of all tournaments
      tags:
      - Global Baseball
      parameters:
      - name: format
        type: string
        description: Desired Output Format
        in: path
        required: true
        enum:
        - .xml
        - .json
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /tournaments/{tournament_id}/live_standings{format}:
    get:
      operationId: TournamentLiveStandingsGlobalBaseball
      summary: Provides the live standings for a given Tournament...
      description: Provides the live standings for a given Tournament
      tags:
      - Global Baseball
      parameters:
      - name: tournament_id
        type: string
        description: Tournament ID found in the Tournament List API
        in: path
        required: true
        default: sr:tournament:109
      - name: format
        type: string
        description: Desired Output Format
        in: path
        required: true
        enum:
        - .xml
        - .json
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /tournaments/{tournament_id}/results{format}:
    get:
      operationId: TournamentResultsGlobalBaseball
      summary: Provides the results for a given tournament
      tags:
      - Global Baseball
      parameters:
      - name: tournament_id
        type: string
        description: Tournament ID found in the Tournament List API
        in: path
        required: true
        default: sr:tournament:109
      - name: format
        type: string
        description: Desired Output Format
        in: path
        required: true
        enum:
        - .xml
        - .json
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /tournaments/{tournament_id}/schedule{format}:
    get:
      operationId: TournamentScheduleGlobalBaseball
      summary: Provides the schedule for a given Tournament
      tags:
      - Global Baseball
      parameters:
      - name: tournament_id
        type: string
        description: Tournament ID found in the Tournament List API
        in: path
        required: true
        default: sr:tournament:109
      - name: format
        type: string
        description: Desired Output Format
        in: path
        required: true
        enum:
        - .xml
        - .json
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /tournaments/{tournament_id}/standings{format}:
    get:
      operationId: TournamentStandingsGlobalBaseball
      summary: Provides the standings for a given Tournament
      tags:
      - Global Baseball
      parameters:
      - name: tournament_id
        type: string
        description: Tournament ID found in the Tournament List API
        in: path
        required: true
        default: sr:tournament:109
      - name: format
        type: string
        description: Desired Output Format
        in: path
        required: true
        enum:
        - .xml
        - .json
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /venues/{venue_id}/summary{format}:
    get:
      operationId: VenuesGlobalBaseball
      summary: Provides venue information for a stadium
      tags:
      - Global Baseball
      parameters:
      - name: venue_id
        type: string
        description: A given Venue ID
        in: path
        required: true
        default: sr:venue:8073
      - name: format
        type: string
        description: Desired Output Format
        in: path
        required: true
        enum:
        - .xml
        - .json
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
produces: []
schemes:
- http
definitions: !php/object "O:8:\"stdClass\":0:{}"
...
