---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":7:{s:5:\"title\";s:12:\"MLB v5 Trial\";s:7:\"version\";s:5:\"1.0.0\";s:7:\"contact\";O:8:\"stdClass\":3:{s:4:\"name\";s:13:\"Mike
  Ralphson\";s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:3:\"url\";s:42:\"https://github.com/mermade/mashery2openapi\";}s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:3:\"MIT\";s:3:\"url\";s:35:\"https://opensource.org/licenses/MIT\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":2:{s:3:\"url\";s:39:\"http://developer.sportradar.com/io-docs\";s:6:\"format\";s:7:\"io_docs\";}}s:11:\"description\";s:122:\"Test
  our API services using our API Sandbox!    Enter your sport specific TRIAL KEY in
  the box below. Sportradar's MLB API\";s:12:\"x-mashery-id\";s:4:\"2945\";}"
host: api.sportradar.com
basePath: /
paths:
  /mlb-t5/games/{year}/{month}/{day}/boxscore{format}:
    get:
      operationId: DailyBoxscoreMLB
      summary: Obtain Daily Boxscores for MLB for a given season....
      description: 'Obtain Daily Boxscores for MLB for a given season. NOTE: The 2012
        sample data is an abbreviated season.'
      tags:
      - MLB
      parameters:
      - name: year
        type: number
        description: The season (year)
        in: path
        required: true
        enum:
        - "2012"
        - "2013"
        - "2014"
        - "2015"
        - "2016"
        - "2017"
      - name: month
        type: number
        description: 'The month (format: MM)'
        in: path
        required: true
        enum:
        - "01"
        - "02"
        - "03"
        - "04"
        - "05"
        - "06"
        - "07"
        - 08
        - 09
        - "10"
        - "11"
        - "12"
      - name: day
        type: number
        description: 'The day (format: DD)'
        in: path
        required: true
        enum:
        - "01"
        - "02"
        - "03"
        - "04"
        - "05"
        - "06"
        - "07"
        - 08
        - 09
        - "10"
        - "11"
        - "12"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: format
        type: string
        description: Desired Output Format
        in: path
        required: true
        enum:
        - .xml
        - .json
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /mlb-t5/league/{year}/{month}/{day}/changes{format}:
    get:
      operationId: DailyChangeLogMLB
      summary: Obtain changes made to previously closed events, t...
      description: Obtain changes made to previously closed events, team rosters,
        or player profiles for a given day.
      tags:
      - MLB
      parameters:
      - name: year
        type: number
        description: The season (year)
        in: path
        required: true
        enum:
        - "2012"
        - "2013"
        - "2014"
        - "2015"
        - "2016"
        - "2017"
      - name: month
        type: number
        description: 'The month (format: MM)'
        in: path
        required: true
        enum:
        - "01"
        - "02"
        - "03"
        - "04"
        - "05"
        - "06"
        - "07"
        - 08
        - 09
        - "10"
        - "11"
        - "12"
      - name: day
        type: number
        description: 'The day (format: DD)'
        in: path
        required: true
        enum:
        - "01"
        - "02"
        - "03"
        - "04"
        - "05"
        - "06"
        - "07"
        - 08
        - 09
        - "10"
        - "11"
        - "12"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: format
        type: string
        description: Desired Output Format
        in: path
        required: true
        enum:
        - .xml
        - .json
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /mlb-t5/games/{year}/{month}/{day}/schedule{format}:
    get:
      operationId: DailyScheduleMLB
      summary: Obtain Schedule for the MLB for a given day. NOTE:...
      description: 'Obtain Schedule for the MLB for a given day. NOTE: The 2012 sample
        data is an abbreviated season.'
      tags:
      - MLB
      parameters:
      - name: year
        type: number
        description: The season (year)
        in: path
        required: true
        enum:
        - "2012"
        - "2013"
        - "2014"
        - "2015"
        - "2016"
        - "2017"
      - name: month
        type: number
        description: 'The month (format: MM)'
        in: path
        required: true
        enum:
        - "01"
        - "02"
        - "03"
        - "04"
        - "05"
        - "06"
        - "07"
        - 08
        - 09
        - "10"
        - "11"
        - "12"
      - name: day
        type: number
        description: 'The day (format: DD)'
        in: path
        required: true
        enum:
        - "01"
        - "02"
        - "03"
        - "04"
        - "05"
        - "06"
        - "07"
        - 08
        - 09
        - "10"
        - "11"
        - "12"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: format
        type: string
        description: Desired Output Format
        in: path
        required: true
        enum:
        - .xml
        - .json
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /mlb-t5/games/{year}/{month}/{day}/summary{format}:
    get:
      operationId: DailySummaryMLB
      summary: Obtain Daily Summary for the MLB for a given day. ...
      description: 'Obtain Daily Summary for the MLB for a given day. NOTE: The 2012
        sample data is an abbreviated season.'
      tags:
      - MLB
      parameters:
      - name: year
        type: number
        description: The season (year)
        in: path
        required: true
        enum:
        - "2012"
        - "2013"
        - "2014"
        - "2015"
        - "2016"
        - "2017"
      - name: month
        type: number
        description: 'The month (format: MM)'
        in: path
        required: true
        enum:
        - "01"
        - "02"
        - "03"
        - "04"
        - "05"
        - "06"
        - "07"
        - 08
        - 09
        - "10"
        - "11"
        - "12"
      - name: day
        type: number
        description: 'The day (format: DD)'
        in: path
        required: true
        enum:
        - "01"
        - "02"
        - "03"
        - "04"
        - "05"
        - "06"
        - "07"
        - 08
        - 09
        - "10"
        - "11"
        - "12"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: format
        type: string
        description: Desired Output Format
        in: path
        required: true
        enum:
        - .xml
        - .json
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /mlb-t5/league/{year}/{month}/{day}/transactions{format}:
    get:
      operationId: DailyTransactionsMLB
      summary: Obtain information concerning all transactions tak...
      description: Obtain information concerning all transactions taking place on
        a given MLB defined day.
      tags:
      - MLB
      parameters:
      - name: year
        type: number
        description: The season (year)
        in: path
        required: true
        enum:
        - "2012"
        - "2013"
        - "2014"
        - "2015"
        - "2016"
        - "2017"
      - name: month
        type: number
        description: 'The month (format: MM)'
        in: path
        required: true
        enum:
        - "01"
        - "02"
        - "03"
        - "04"
        - "05"
        - "06"
        - "07"
        - 08
        - 09
        - "10"
        - "11"
        - "12"
      - name: day
        type: number
        description: 'The day (format: DD)'
        in: path
        required: true
        enum:
        - "01"
        - "02"
        - "03"
        - "04"
        - "05"
        - "06"
        - "07"
        - 08
        - 09
        - "10"
        - "11"
        - "12"
        - "13"
        - "14"
        - "15"
        - "16"
        - "17"
        - "18"
        - "19"
        - "20"
        - "21"
        - "22"
        - "23"
        - "24"
        - "25"
        - "26"
        - "27"
        - "28"
        - "29"
        - "30"
        - "31"
      - name: format
        type: string
        description: Desired Output Format
        in: path
        required: true
        enum:
        - .xml
        - .json
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /mlb-t5/games/{event_id}/boxscore{format}:
    get:
      operationId: GameBoxscoreMLB
      summary: Obtain a boxscore for a specific MLB game.
      tags:
      - MLB
      parameters:
      - name: event_id
        type: string
        description: The UUID of the event, found in the schedule feeds
        in: path
        required: true
        default: b6f922df-46c6-483c-8d3b-4235a6fc4520
      - name: format
        type: string
        description: Desired Output Format
        in: path
        required: true
        enum:
        - .xml
        - .json
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /mlb-t5/games/{event_id}/summary{format}:
    get:
      operationId: GameSummaryMLB
      summary: Obtain a game summary for a specific MLB game.
      tags:
      - MLB
      parameters:
      - name: event_id
        type: string
        description: The UUID of the event, found in the schedule feeds
        in: path
        required: true
        default: b6f922df-46c6-483c-8d3b-4235a6fc4520
      - name: format
        type: string
        description: Desired Output Format
        in: path
        required: true
        enum:
        - .xml
        - .json
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /mlb-t5/league/glossary{format}:
    get:
      operationId: GlossaryMLB
      summary: Obtain the pitch types, player statuses, pitch out...
      description: Obtain the pitch types, player statuses, pitch outcomes, runner
        outcomes, game status and postseason game IDs.
      tags:
      - MLB
      parameters:
      - name: format
        type: string
        description: Desired Output Format
        in: path
        required: true
        enum:
        - .xml
        - .json
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /mlb-t5/league/injuries{format}:
    get:
      operationId: InjuriesMLB
      summary: Obtain information concerning all current injuries...
      description: Obtain information concerning all current injuries across the league.
      tags:
      - MLB
      parameters:
      - name: format
        type: string
        description: Desired Output Format
        in: path
        required: true
        enum:
        - .xml
        - .json
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /mlb-t5/league/depth_charts{format}:
    get:
      operationId: LeagueDepthChartsMLB
      summary: Obtain league depth charts for MLB.
      tags:
      - MLB
      parameters:
      - name: format
        type: string
        description: Desired Output Format
        in: path
        required: true
        enum:
        - .xml
        - .json
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /mlb-t5/league/hierarchy{format}:
    get:
      operationId: TeamHierarchyMLB
      summary: Obtain list of MLB teams.
      tags:
      - MLB
      parameters:
      - name: format
        type: string
        description: Desired Output Format
        in: path
        required: true
        enum:
        - .xml
        - .json
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /mlb-t5/seasontd/{year}/{mlb_season}/leaders/statistics{format}:
    get:
      operationId: LeagueLeadersMLB
      summary: Obtain leaders for a given year.
      tags:
      - MLB
      parameters:
      - name: year
        type: number
        description: The season(year)
        in: path
        required: true
        enum:
        - "2012"
        - "2013"
        - "2014"
        - "2015"
        - "2016"
        - "2017"
      - name: mlb_season
        type: number
        description: The part of the season(PRE, REG, PST)
        in: path
        required: true
        enum:
        - REG
      - name: format
        type: string
        description: Desired Output Format
        in: path
        required: true
        enum:
        - .xml
        - .json
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /mlb-t5/games/{year}/{mlb_season}/schedule{format}:
    get:
      operationId: LeagueScheduleMLB
      summary: Obtain Schedule for the MLB for a given season. NO...
      description: 'Obtain Schedule for the MLB for a given season. NOTE: The 2012
        sample data is an abbreviated season.'
      tags:
      - MLB
      parameters:
      - name: year
        type: number
        description: The season (year)
        in: path
        required: true
        enum:
        - "2012"
        - "2013"
        - "2014"
        - "2015"
        - "2016"
        - "2017"
      - name: mlb_season
        type: number
        description: The part of the season(PRE, REG, PST)
        in: path
        required: true
        enum:
        - PRE
        - REG
        - PST
      - name: format
        type: string
        description: Desired Output Format
        in: path
        required: true
        enum:
        - .xml
        - .json
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /mlb-t5/games/{event_id}/pbp{format}:
    get:
      operationId: Play-By-PlayMLB
      summary: Obtain the play-by-play data for a specific MLB ga...
      description: Obtain the play-by-play data for a specific MLB game.
      tags:
      - MLB
      parameters:
      - name: event_id
        type: string
        description: The UUID of the event, found in the schedule feeds
        in: path
        required: true
        default: b6f922df-46c6-483c-8d3b-4235a6fc4520
      - name: format
        type: string
        description: Desired Output Format
        in: path
        required: true
        enum:
        - .xml
        - .json
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /mlb-t5/players/{player_id}/profile{format}:
    get:
      operationId: PlayerProfileMLB
      summary: Obtain a profile for a given player.
      tags:
      - MLB
      parameters:
      - name: player_id
        type: string
        description: Player ID
        in: path
        required: true
        default: 6e1cac5c-b059-4b80-a267-5143b19efb27
      - name: format
        type: string
        description: Desired Output Format
        in: path
        required: true
        enum:
        - .xml
        - .json
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /mlb-t5/seasontd/{year}/{mlb_season}/rankings{format}:
    get:
      operationId: RankingsMLB
      summary: Obtain league and division rank for each team, inc...
      description: Obtain league and division rank for each team, including post season
        clinching status (available beginning with 2014 season)
      tags:
      - MLB
      parameters:
      - name: year
        type: number
        description: The season(year)
        in: path
        required: true
        enum:
        - "2014"
        - "2015"
        - "2016"
        - "2017"
      - name: mlb_season
        type: number
        description: The part of the season(PRE, REG, PST)
        in: path
        required: true
        enum:
        - REG
      - name: format
        type: string
        description: Desired Output Format
        in: path
        required: true
        enum:
        - .xml
        - .json
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /mlb-t5/seasontd/{year}/{mlb_season}/teams/{team_id}/splits{format}:
    get:
      operationId: SeasonalSplitsMLB
      summary: Obtain season splits for MLB -- Not available pre-...
      description: Obtain season splits for MLB -- Not available pre-2015
      tags:
      - MLB
      parameters:
      - name: year
        type: number
        description: The season(year)
        in: path
        required: true
        enum:
        - "2014"
        - "2015"
        - "2016"
        - "2017"
      - name: mlb_season
        type: number
        description: The part of the season(PRE, REG, PST)
        in: path
        required: true
        enum:
        - REG
        - PST
      - name: team_id
        type: string
        description: The ID of a given team, found in the league hierarchy feed
        in: path
        required: true
        default: aa34e0ed-f342-4ec6-b774-c79b47b60e2d
      - name: format
        type: string
        description: Desired Output Format
        in: path
        required: true
        enum:
        - .xml
        - .json
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /mlb-t5/seasontd/{year}/{mlb_season}/teams/{team_id}/statistics{format}:
    get:
      operationId: SeasonalStatisticsMLB
      summary: Obtain season statistics for MLB
      tags:
      - MLB
      parameters:
      - name: year
        type: number
        description: The season(year)
        in: path
        required: true
        enum:
        - "2014"
        - "2015"
        - "2016"
        - "2017"
      - name: mlb_season
        type: number
        description: The part of the season(REG, PST)
        in: path
        required: true
        enum:
        - REG
        - PST
      - name: team_id
        type: string
        description: The ID of a given team, found in the league hierarchy feed
        in: path
        required: true
        default: aa34e0ed-f342-4ec6-b774-c79b47b60e2d
      - name: format
        type: string
        description: Desired Output Format
        in: path
        required: true
        enum:
        - .xml
        - .json
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /mlb-t5/series/{year}/{mlb_season}/schedule{format}:
    get:
      operationId: SeriesScheduleMLB
      summary: Obtain Series Schedule for the MLB for the postsea...
      description: Obtain Series Schedule for the MLB for the postseason.
      tags:
      - MLB
      parameters:
      - name: year
        type: number
        description: The season (year)
        in: path
        required: true
        enum:
        - "2014"
        - "2015"
        - "2016"
        - "2017"
      - name: mlb_season
        type: number
        description: postseason Series
        in: path
        required: true
        enum:
        - PST
      - name: format
        type: string
        description: Desired Output Format
        in: path
        required: true
        enum:
        - .xml
        - .json
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /mlb-t5/seasontd/{year}/{mlb_season}/standings{format}:
    get:
      operationId: StandingsMLB
      summary: Obtain Standings for the MLB for a given season. S...
      description: Obtain Standings for the MLB for a given season. Standing data
        is not valid for 2012 as we do not have a full season available.
      tags:
      - MLB
      parameters:
      - name: year
        type: number
        description: The season(year)
        in: path
        required: true
        enum:
        - "2012"
        - "2013"
        - "2014"
        - "2015"
        - "2016"
        - "2017"
      - name: mlb_season
        type: number
        description: The part of the season(PRE, REG, PST)
        in: path
        required: true
        enum:
        - REG
        - PST
      - name: format
        type: string
        description: Desired Output Format
        in: path
        required: true
        enum:
        - .xml
        - .json
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /mlb-t5/teams/{team_id}/depth_chart{format}:
    get:
      operationId: TeamDepthChartMLB
      summary: Obtain team depth chart information.
      tags:
      - MLB
      parameters:
      - name: team_id
        type: string
        description: Team ID
        in: path
        required: true
        default: aa34e0ed-f342-4ec6-b774-c79b47b60e2d
      - name: format
        type: string
        description: Desired Output Format
        in: path
        required: true
        enum:
        - .xml
        - .json
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /mlb-t5/teams/{team_id}/profile{format}:
    get:
      operationId: TeamProfileMLB
      summary: Obtain team profile information.
      tags:
      - MLB
      parameters:
      - name: team_id
        type: string
        description: Team ID
        in: path
        required: true
        default: aa34e0ed-f342-4ec6-b774-c79b47b60e2d
      - name: format
        type: string
        description: Desired Output Format
        in: path
        required: true
        enum:
        - .xml
        - .json
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /mlb-t5/league/active_rosters{format}:
    get:
      operationId: TeamRosters-ActiveMLB
      summary: Obtain list of active rosters.
      tags:
      - MLB
      parameters:
      - name: format
        type: string
        description: Desired Output Format
        in: path
        required: true
        enum:
        - .xml
        - .json
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /mlb-t5/league/full_rosters{format}:
    get:
      operationId: TeamRosters-FullMLB
      summary: Obtain list of full rosters.
      tags:
      - MLB
      parameters:
      - name: format
        type: string
        description: Desired Output Format
        in: path
        required: true
        enum:
        - .xml
        - .json
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
  /mlb-t5/league/venues{format}:
    get:
      operationId: VenuesMLB
      summary: Obtain venue data for the current season.
      tags:
      - MLB
      parameters:
      - name: format
        type: string
        description: Desired Output Format
        in: path
        required: true
        enum:
        - .xml
        - .json
      responses:
        200:
          description: Success
        400:
          description: Bad Request
        403:
          description: Forbidden
produces: []
schemes:
- http
definitions: !php/object "O:8:\"stdClass\":0:{}"
...
