---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":9:{s:11:\"description\";s:52:\"The API to Search
  and Understand Audio & Video Data.\";s:5:\"title\";s:7:\"Clarify\";s:7:\"version\";s:5:\"1.3.7\";s:21:\"x-apisguru-categories\";a:1:{i:0;s:6:\"search\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#65A8B5\";s:3:\"url\";s:110:\"https://api.apis.guru/v2/cache/logo/https_pbs.twimg.com_profile_images_505050260498968577_WJFqkciV_400x400.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.6.2\";}s:6:\"format\";s:7:\"swagger\";s:3:\"url\";s:31:\"https://api.clarify.io/api-docs\";s:7:\"version\";s:3:\"1.2\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:10:\"clarify.io\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:7:\"clarify\";s:4:\"type\";s:7:\"openapi\";}}"
host: api.clarify.io
basePath: /
paths: ~
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":23:{s:6:\"Bundle\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:20:\"#/definitions/object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:6:\"_class\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"Bundle\";s:4:\"type\";s:6:\"string\";}s:9:\"_embedded\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/object\";s:11:\"description\";s:40:\"Embedded
  objects, keyed by link relation\";}s:6:\"_links\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/object\";s:11:\"description\";s:75:\"HAL
  hyper links, keyed by relation (self, clarify:metadata, clarify:tracks)\";}s:7:\"created\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"Date
  the bundle was created, ex. \"2014-02-25T14:23:45Z\"\";s:4:\"type\";s:6:\"string\";}s:11:\"external_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:79:\"A
  string that can refer to an item in an external system. Up to 128 characters.\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"id
  of the bundle\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Name
  of the bundle. Up to 128 characters.\";s:4:\"type\";s:6:\"string\";}s:10:\"notify_url\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"URL
  for notifications on this bundle\";s:4:\"type\";s:6:\"string\";}s:7:\"updated\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"Date
  the bundle was updated, ex. \"2014-02-25T14:23:45Z\"\";s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Object
  version\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:6:{i:0;s:6:\"_class\";i:1;s:6:\"_links\";i:2;s:7:\"created\";i:3;s:2:\"id\";i:4;s:7:\"updated\";i:5;s:7:\"version\";}}s:12:\"BundleReport\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:20:\"#/definitions/object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:6:\"_class\";O:8:\"stdClass\":2:{s:11:\"description\";s:11:\"BundleRport\";s:4:\"type\";s:6:\"string\";}s:6:\"_links\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/object\";s:11:\"description\";s:41:\"HAL
  hyper links, keyed by relation (self)\";}s:12:\"bundle_count\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Total
  number of bundles in report\";s:4:\"type\";s:7:\"integer\";}s:6:\"filter\";O:8:\"stdClass\":2:{s:11:\"description\";s:49:\"Filter
  expression used to limit bundles in report\";s:4:\"type\";s:6:\"string\";}s:9:\"generated\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"Date
  the report was created, ex. \"2014-02-25T14:23:45Z\"\";s:4:\"type\";s:6:\"string\";}s:8:\"interval\";O:8:\"stdClass\":2:{s:11:\"description\";s:41:\"Interval
  of periods Up to 128 characters.\";s:4:\"type\";s:6:\"string\";}s:7:\"periods\";O:8:\"stdClass\":3:{s:11:\"description\";s:24:\"Data
  for interval period\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:26:\"#/definitions/ReportPeriod\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:36:\"Type
  of report Up to 128 characters.\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:5:{i:0;s:6:\"_class\";i:1;s:6:\"_links\";i:2;s:12:\"bundle_count\";i:3;s:9:\"generated\";i:4;s:7:\"periods\";}}s:10:\"Collection\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:20:\"#/definitions/object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"_class\";O:8:\"stdClass\":2:{s:11:\"description\";s:10:\"Collection\";s:4:\"type\";s:6:\"string\";}s:9:\"_embedded\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/object\";s:11:\"description\";s:40:\"Embedded
  objects, keyed by link relation\";}s:6:\"_links\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/object\";s:11:\"description\";s:67:\"HAL
  hyper links, keyed by relation (items, first, last, next, prev)\";}s:5:\"limit\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Maximum
  number of items requested\";s:4:\"type\";s:7:\"integer\";}s:5:\"total\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Total
  number of items available\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:4:{i:0;s:6:\"_class\";i:1;s:6:\"_links\";i:2;s:5:\"limit\";i:3;s:5:\"total\";}}s:7:\"Insight\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:20:\"#/definitions/object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:6:\"_class\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"Class
  name of Insight\";s:4:\"type\";s:6:\"string\";}s:6:\"_links\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/object\";s:11:\"description\";s:65:\"HAL
  hyper links, keyed by relation (self, parent, clarify:bundle)\";}s:9:\"bundle_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"id
  of the bundle\";s:4:\"type\";s:6:\"string\";}s:7:\"created\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Date
  the insight was created, ex. \"2014-02-25T14:23:45Z\"\";s:4:\"type\";s:6:\"string\";}s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/object\";s:11:\"description\";s:59:\"Bundle
  insight data values (only present for some insights)\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:17:\"id
  of the insight\";s:4:\"type\";s:6:\"string\";}s:4:\"name\";O:8:\"stdClass\":2:{s:11:\"description\";s:19:\"Name
  of the insight\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"Status
  of insight: ready, pending, queued, processing, error\";s:4:\"type\";s:6:\"string\";}s:10:\"track_data\";O:8:\"stdClass\":3:{s:11:\"description\";s:103:\"Array
  of objects containing insight data values per track, with array indexes matching
  the tracks array\";s:5:\"items\";O:8:\"stdClass\":0:{}s:4:\"type\";s:5:\"array\";}s:7:\"updated\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"Date
  the insight was updated, ex. \"2014-02-25T14:23:45Z\"\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:8:{i:0;s:6:\"_class\";i:1;s:6:\"_links\";i:2;s:9:\"bundle_id\";i:3;s:7:\"created\";i:4;s:2:\"id\";i:5;s:4:\"name\";i:6;s:6:\"status\";i:7;s:7:\"updated\";}}s:8:\"Insights\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:20:\"#/definitions/object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:6:\"_class\";O:8:\"stdClass\":2:{s:11:\"description\";s:8:\"Insights\";s:4:\"type\";s:6:\"string\";}s:6:\"_links\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/object\";s:11:\"description\";s:62:\"HAL
  hyper links, keyed by relation (self, parent, [insight:*])\";}s:9:\"bundle_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"id
  of the bundle\";s:4:\"type\";s:6:\"string\";}s:7:\"created\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"Date
  the insights was created, ex. \"2014-02-25T14:23:45Z\"\";s:4:\"type\";s:6:\"string\";}s:7:\"updated\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"Date
  the insights was updated, ex. \"2014-02-25T14:23:45Z\"\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:5:{i:0;s:6:\"_class\";i:1;s:6:\"_links\";i:2;s:9:\"bundle_id\";i:3;s:7:\"created\";i:4;s:7:\"updated\";}}s:10:\"ItemResult\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:20:\"#/definitions/object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"score\";O:8:\"stdClass\":2:{s:11:\"description\";s:79:\"Relevance
  of the item according to the search criteria. A value between 0 and 1\";s:4:\"type\";s:6:\"number\";}s:12:\"term_results\";O:8:\"stdClass\":3:{s:11:\"description\";s:78:\"Results
  of each search term for the item. Indexes match the search_terms array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/TermResult\";}s:4:\"type\";s:5:\"array\";}}s:8:\"required\";a:2:{i:0;s:5:\"score\";i:1;s:12:\"term_results\";}}s:8:\"MatchHit\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:20:\"#/definitions/object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:3:\"end\";O:8:\"stdClass\":2:{s:11:\"description\";s:179:\"For
  \"text\" matches, the index of the character in the string immediately after the
  matched term (exclusive.) For \"audio\" matches, the end time in seconds where the
  word was spoken\";s:4:\"type\";s:6:\"number\";}s:5:\"start\";O:8:\"stdClass\":2:{s:11:\"description\";s:192:\"For
  \"text\" matches, the index of the character in the string. For \"array\" matches,
  the index of the value in the array. For \"audio\" matches, the start time in seconds
  where the word was spoken\";s:4:\"type\";s:6:\"number\";}}s:8:\"required\";a:1:{i:0;s:5:\"start\";}}s:8:\"Metadata\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:20:\"#/definitions/object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:6:\"_class\";O:8:\"stdClass\":2:{s:11:\"description\";s:8:\"Metadata\";s:4:\"type\";s:6:\"string\";}s:6:\"_links\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/object\";s:11:\"description\";s:49:\"HAL
  hyper links, keyed by relation (self, parent)\";}s:9:\"bundle_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"id
  of the bundle\";s:4:\"type\";s:6:\"string\";}s:7:\"created\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"Date
  the metadata was created, ex. \"2014-02-25T14:23:45Z\"\";s:4:\"type\";s:6:\"string\";}s:4:\"data\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/object\";s:11:\"description\";s:41:\"User-defined
  JSON metadata for the bundle\";}s:7:\"updated\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"Date
  the metadata was updated, ex. \"2014-02-25T14:23:45Z\"\";s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Object
  version\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:7:{i:0;s:6:\"_class\";i:1;s:6:\"_links\";i:2;s:9:\"bundle_id\";i:3;s:7:\"created\";i:4;s:4:\"data\";i:5;s:7:\"updated\";i:6;s:7:\"version\";}}s:3:\"Ref\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:20:\"#/definitions/object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"_class\";O:8:\"stdClass\":2:{s:11:\"description\";s:3:\"Ref\";s:4:\"type\";s:6:\"string\";}s:6:\"_links\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/object\";s:11:\"description\";s:49:\"HAL
  hyper links, keyed by relation (self, parent)\";}}s:8:\"required\";a:2:{i:0;s:6:\"_class\";i:1;s:6:\"_links\";}}s:15:\"Ref
  (of Bundle)\";O:8:\"stdClass\":0:{}s:14:\"Ref (of Track)\";O:8:\"stdClass\":0:{}s:15:\"Ref_(of_Bundle)\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:20:\"#/definitions/object\";s:10:\"properties\";O:8:\"stdClass\":4:{s:6:\"_class\";O:8:\"stdClass\":2:{s:11:\"description\";s:3:\"Ref\";s:4:\"type\";s:6:\"string\";}s:6:\"_links\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/object\";s:11:\"description\";s:110:\"HAL
  hyper links, keyed by relation (self, clarify:metadata, clarify:tracks, clarify:tracks
  (if track created))\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"id
  of the bundle\";s:4:\"type\";s:6:\"string\";}s:8:\"track_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:44:\"id
  of created track (if a track was created)\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:6:\"_class\";i:1;s:6:\"_links\";i:2;s:2:\"id\";}}s:14:\"Ref_(of_Track)\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:20:\"#/definitions/object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"_class\";O:8:\"stdClass\":2:{s:11:\"description\";s:3:\"Ref\";s:4:\"type\";s:6:\"string\";}s:6:\"_links\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/object\";s:11:\"description\";s:65:\"HAL
  hyper links, keyed by relation (self, parent, clarify:bundle)\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"id
  of the track\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:3:{i:0;s:6:\"_class\";i:1;s:6:\"_links\";i:2;s:2:\"id\";}}s:12:\"ReportPeriod\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:20:\"#/definitions/object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:6:\"bundle\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/ReportPeriodBundle\";}s:5:\"start\";O:8:\"stdClass\":2:{s:11:\"description\";s:60:\"Start
  date and time of the period ex. \"2018-01-01T00:00:00Z\"\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:5:\"start\";}}s:18:\"ReportPeriodBundle\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:20:\"#/definitions/object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"count\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Number
  of bundles in the period\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:1:{i:0;s:5:\"count\";}}s:16:\"SearchCollection\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:20:\"#/definitions/object\";s:10:\"properties\";O:8:\"stdClass\":7:{s:6:\"_class\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"SearchCollection\";s:4:\"type\";s:6:\"string\";}s:9:\"_embedded\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/object\";s:11:\"description\";s:40:\"Embedded
  objects, keyed by link relation\";}s:6:\"_links\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/object\";s:11:\"description\";s:61:\"HAL
  hyper links, keyed by relation (items, first, next, prev)\";}s:12:\"item_results\";O:8:\"stdClass\":3:{s:11:\"description\";s:55:\"Search
  results per item. Indexes match the items array.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/ItemResult\";}s:4:\"type\";s:5:\"array\";}s:5:\"limit\";O:8:\"stdClass\":2:{s:11:\"description\";s:33:\"Maximum
  number of items requested\";s:4:\"type\";s:7:\"integer\";}s:12:\"search_terms\";O:8:\"stdClass\":3:{s:11:\"description\";s:19:\"Terms
  in the search\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:24:\"#/definitions/SearchTerm\";}s:4:\"type\";s:5:\"array\";}s:5:\"total\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Total
  number of items available\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:6:{i:0;s:6:\"_class\";i:1;s:6:\"_links\";i:2;s:12:\"item_results\";i:3;s:5:\"limit\";i:4;s:12:\"search_terms\";i:5;s:5:\"total\";}}s:10:\"SearchTerm\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:20:\"#/definitions/object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:4:\"term\";O:8:\"stdClass\":2:{s:11:\"description\";s:21:\"A
  term from the query\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:1:{i:0;s:4:\"term\";}}s:9:\"TermMatch\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:20:\"#/definitions/object\";s:10:\"properties\";O:8:\"stdClass\":3:{s:5:\"field\";O:8:\"stdClass\":2:{s:11:\"description\";s:87:\"For
  \"text\" or \"array\" match types, specifies the metadata field that contains the
  match\";s:4:\"type\";s:6:\"string\";}s:4:\"hits\";O:8:\"stdClass\":3:{s:11:\"description\";s:82:\"Array
  listing exactly where the search term was found in a metadata field or audio\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:22:\"#/definitions/MatchHit\";}s:4:\"type\";s:5:\"array\";}s:4:\"type\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Type
  of match: \"text\", \"array\", or \"audio\"\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:2:{i:0;s:4:\"hits\";i:1;s:4:\"type\";}}s:10:\"TermResult\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:20:\"#/definitions/object\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"matches\";O:8:\"stdClass\":3:{s:11:\"description\";s:64:\"Array
  of locations where the search term was found in the bundle\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/TermMatch\";}s:4:\"type\";s:5:\"array\";}s:5:\"score\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"Score
  for the search term in the item. A value between 0 and 1\";s:4:\"type\";s:6:\"number\";}}s:8:\"required\";a:2:{i:0;s:7:\"matches\";i:1;s:5:\"score\";}}s:5:\"Track\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:20:\"#/definitions/object\";s:10:\"properties\";O:8:\"stdClass\":19:{s:6:\"_class\";O:8:\"stdClass\":2:{s:11:\"description\";s:5:\"Track\";s:4:\"type\";s:6:\"string\";}s:6:\"_links\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/object\";s:11:\"description\";s:57:\"HAL
  hyper links, keyed by relation (self, parent, bundle)\";}s:13:\"audio_channel\";O:8:\"stdClass\":3:{s:11:\"description\";s:140:\"The
  audio channel used for the track ( \"\" | left | right). Empty string means all
  channels of audio in the media file are used for the track\";s:4:\"enum\";a:2:{i:0;s:4:\"left\";i:1;s:5:\"right\";}s:4:\"type\";s:6:\"string\";}s:14:\"audio_language\";O:8:\"stdClass\":2:{s:11:\"description\";s:89:\"Language
  of the audio in the track. An RFC5646 language code or empty string. (Ex. en-US)\";s:4:\"type\";s:6:\"string\";}s:7:\"created\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Date
  the track was created, ex. \"2014-02-25T14:23:45Z\"\";s:4:\"type\";s:6:\"string\";}s:8:\"duration\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Number
  of seconds of media. Automatically determined\";s:4:\"type\";s:6:\"number\";}s:19:\"fetch_response_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"HTTP
  response code returned from requesting the media_url\";s:4:\"type\";s:7:\"integer\";}s:22:\"fetch_response_message\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"If
  media request fails, a message describing the failure\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Id
  of the track\";s:4:\"type\";s:6:\"string\";}s:5:\"label\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Label
  for the track. Up to 128 characters.\";s:4:\"type\";s:6:\"string\";}s:10:\"media_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Status
  code returned from verifying the media\";s:4:\"type\";s:7:\"integer\";}s:13:\"media_message\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"If
  media is invalid, a message describing the problem\";s:4:\"type\";s:6:\"string\";}s:10:\"media_size\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Number
  of bytes in the media. Automatically determined\";s:4:\"type\";s:7:\"integer\";}s:9:\"media_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"mime_type\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"Mime
  type. This is automatically determined from the media\";s:4:\"type\";s:6:\"string\";}s:10:\"start_time\";O:8:\"stdClass\":2:{s:11:\"description\";s:75:\"Start
  time of media, an offset in seconds from the start time of the bundle\";s:4:\"type\";s:6:\"number\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"Status
  of track: ready, pending, queued, processing, error\";s:4:\"type\";s:6:\"string\";}s:5:\"track\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Track
  index in the Tracks array\";s:4:\"type\";s:7:\"integer\";}s:7:\"updated\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Date
  the track was updated, ex. \"2014-02-25T14:23:45Z\"\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:15:{i:0;s:6:\"_class\";i:1;s:6:\"_links\";i:2;s:13:\"audio_channel\";i:3;s:14:\"audio_language\";i:4;s:7:\"created\";i:5;s:8:\"duration\";i:6;s:19:\"fetch_response_code\";i:7;s:2:\"id\";i:8;s:10:\"media_code\";i:9;s:10:\"media_size\";i:10;s:9:\"media_url\";i:11;s:10:\"start_time\";i:12;s:6:\"status\";i:13;s:5:\"track\";i:14;s:7:\"updated\";}}s:18:\"Track_(array_item)\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:20:\"#/definitions/object\";s:10:\"properties\";O:8:\"stdClass\":17:{s:13:\"audio_channel\";O:8:\"stdClass\":3:{s:11:\"description\";s:140:\"The
  audio channel used for the track ( \"\" | left | right). Empty string means all
  channels of audio in the media file are used for the track\";s:4:\"enum\";a:2:{i:0;s:4:\"left\";i:1;s:5:\"right\";}s:4:\"type\";s:6:\"string\";}s:14:\"audio_language\";O:8:\"stdClass\":2:{s:11:\"description\";s:89:\"Language
  of the audio in the track. An RFC5646 language code or empty string. (Ex. en-US)\";s:4:\"type\";s:6:\"string\";}s:7:\"created\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Date
  the track was created, ex. \"2014-02-25T14:23:45Z\"\";s:4:\"type\";s:6:\"string\";}s:8:\"duration\";O:8:\"stdClass\":2:{s:11:\"description\";s:52:\"Number
  of seconds of media. Automatically determined\";s:4:\"type\";s:6:\"number\";}s:19:\"fetch_response_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:57:\"HTTP
  response code returned from requesting the media_url\";s:4:\"type\";s:7:\"integer\";}s:22:\"fetch_response_message\";O:8:\"stdClass\":2:{s:11:\"description\";s:56:\"If
  media request fails, a message describing the failure\";s:4:\"type\";s:6:\"string\";}s:2:\"id\";O:8:\"stdClass\":2:{s:11:\"description\";s:15:\"Id
  of the track\";s:4:\"type\";s:6:\"string\";}s:5:\"label\";O:8:\"stdClass\":2:{s:11:\"description\";s:42:\"Label
  for the track. Up to 128 characters.\";s:4:\"type\";s:6:\"string\";}s:10:\"media_code\";O:8:\"stdClass\":2:{s:11:\"description\";s:45:\"Status
  code returned from verifying the media\";s:4:\"type\";s:7:\"integer\";}s:13:\"media_message\";O:8:\"stdClass\":2:{s:11:\"description\";s:53:\"If
  media is invalid, a message describing the problem\";s:4:\"type\";s:6:\"string\";}s:10:\"media_size\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Number
  of bytes in the media. Automatically determined\";s:4:\"type\";s:7:\"integer\";}s:9:\"media_url\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:9:\"mime_type\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"Mime
  type. This is automatically determined from the media\";s:4:\"type\";s:6:\"string\";}s:10:\"start_time\";O:8:\"stdClass\":2:{s:11:\"description\";s:75:\"Start
  time of media, an offset in seconds from the start time of the bundle\";s:4:\"type\";s:6:\"number\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:58:\"Status
  of track: ready, pending, queued, processing, error\";s:4:\"type\";s:6:\"string\";}s:5:\"track\";O:8:\"stdClass\":2:{s:11:\"description\";s:31:\"Track
  index in the Tracks array\";s:4:\"type\";s:7:\"integer\";}s:7:\"updated\";O:8:\"stdClass\":2:{s:11:\"description\";s:54:\"Date
  the track was updated, ex. \"2014-02-25T14:23:45Z\"\";s:4:\"type\";s:6:\"string\";}}s:8:\"required\";a:13:{i:0;s:13:\"audio_channel\";i:1;s:14:\"audio_language\";i:2;s:7:\"created\";i:3;s:8:\"duration\";i:4;s:19:\"fetch_response_code\";i:5;s:2:\"id\";i:6;s:10:\"media_code\";i:7;s:10:\"media_size\";i:8;s:9:\"media_url\";i:9;s:10:\"start_time\";i:10;s:6:\"status\";i:11;s:5:\"track\";i:12;s:7:\"updated\";}}s:6:\"Tracks\";O:8:\"stdClass\":3:{s:4:\"$ref\";s:20:\"#/definitions/object\";s:10:\"properties\";O:8:\"stdClass\":8:{s:6:\"_class\";O:8:\"stdClass\":2:{s:11:\"description\";s:6:\"Tracks\";s:4:\"type\";s:6:\"string\";}s:6:\"_links\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/object\";s:11:\"description\";s:49:\"HAL
  hyper links, keyed by relation (self, parent)\";}s:9:\"bundle_id\";O:8:\"stdClass\":2:{s:11:\"description\";s:16:\"id
  of the bundle\";s:4:\"type\";s:6:\"string\";}s:7:\"created\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"Date
  the tracks was created, ex. \"2014-02-25T14:23:45Z\"\";s:4:\"type\";s:6:\"string\";}s:6:\"status\";O:8:\"stdClass\":2:{s:11:\"description\";s:67:\"Summary
  status of tracks: ready, pending, queued, processing, error\";s:4:\"type\";s:6:\"string\";}s:6:\"tracks\";O:8:\"stdClass\":3:{s:11:\"description\";s:15:\"Array
  of tracks\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/Track_(array_item)\";}s:4:\"type\";s:5:\"array\";}s:7:\"updated\";O:8:\"stdClass\":2:{s:11:\"description\";s:55:\"Date
  the tracks was updated, ex. \"2014-02-25T14:23:45Z\"\";s:4:\"type\";s:6:\"string\";}s:7:\"version\";O:8:\"stdClass\":2:{s:11:\"description\";s:14:\"Object
  version\";s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:8:{i:0;s:6:\"_class\";i:1;s:6:\"_links\";i:2;s:9:\"bundle_id\";i:3;s:7:\"created\";i:4;s:6:\"status\";i:5;s:6:\"tracks\";i:6;s:7:\"updated\";i:7;s:7:\"version\";}}s:6:\"object\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}"
...
