---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":15:{s:7:\"contact\";O:8:\"stdClass\":4:{s:5:\"email\";s:23:\"mike.ralphson@gmail.com\";s:4:\"name\";s:13:\"Mike
  Ralphson\";s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:9:\"x-twitter\";s:12:\"PermittedSoc\";}s:11:\"description\";s:1000:\"Amazon
  SimpleDB is a web service providing the core database functions of data indexing
  and querying in the cloud. By offloading the time and effort associated with building
  and operating a web-scale database, SimpleDB provides developers the freedom to
  focus on application development. <p> A traditional, clustered relational database
  requires a sizable upfront capital outlay, is complex to design, and often requires
  extensive and repetitive database administration. Amazon SimpleDB is dramatically
  simpler, requiring no schema, automatically indexing your data and providing a simple
  API for storage and access. This approach eliminates the administrative burden of
  data modeling, index maintenance, and performance tuning. Developers gain access
  to this functionality within Amazon's proven computing environment, are able to
  scale instantly, and pay only for what they use. </p> <p> Visit <a href=\"http://aws.amazon.com/simpledb/\">http://aws.amazon.com/simpledb/</a>
  for more information. </p>\";s:7:\"license\";O:8:\"stdClass\":2:{s:4:\"name\";s:18:\"Apache
  2.0 License\";s:3:\"url\";s:31:\"http://www.apache.org/licenses/\";}s:14:\"termsOfService\";s:37:\"https://aws.amazon.com/service-terms/\";s:5:\"title\";s:15:\"Amazon
  SimpleDB\";s:7:\"version\";s:10:\"2009-04-15\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:79:\"https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:5:\"cloud\";}s:6:\"x-logo\";O:8:\"stdClass\":2:{s:15:\"backgroundColor\";s:7:\"#FFFFFF\";s:3:\"url\";s:81:\"https://api.apis.guru/v2/cache/logo/https_twitter.com_awscloud_profile_image.jpeg\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:11:\"contentType\";s:16:\"application/json\";s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:38:\"https://github.com/mermade/aws2openapi\";s:7:\"version\";s:5:\"1.0.0\";}s:3:\"url\";s:87:\"https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/sdb-2009-04-15.normal.json\";s:17:\"x-apisguru-direct\";b:1;}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:13:\"amazonaws.com\";s:9:\"x-release\";s:2:\"v2\";s:13:\"x-serviceName\";s:3:\"sdb\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:13:\"amazonaws_sdb\";s:4:\"type\";s:7:\"openapi\";}}"
host: sdb.amazonaws.com
basePath: /
paths: ~
produces: []
schemes:
- https
- http
definitions: !php/object "O:8:\"stdClass\":51:{s:9:\"Attribute\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:10:\"properties\";O:8:\"stdClass\":4:{s:21:\"AlternateNameEncoding\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:0:\"\";}s:22:\"AlternateValueEncoding\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:0:\"\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:26:\"The
  name of the attribute.\";}s:5:\"Value\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:27:\"The
  value of the attribute.\";}}s:8:\"required\";a:2:{i:0;s:4:\"Name\";i:1;s:5:\"Value\";}s:4:\"type\";s:6:\"object\";}s:21:\"AttributeDoesNotExist\";O:8:\"stdClass\":3:{s:11:\"description\";s:39:\"The
  specified attribute does not exist.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"BoxUsage\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Float\";}}s:4:\"type\";s:6:\"object\";}s:13:\"AttributeList\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:23:\"#/definitions/Attribute\";}s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":1:{s:7:\"wrapped\";b:0;}}s:17:\"AttributeNameList\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":1:{s:7:\"wrapped\";b:0;}}s:28:\"BatchDeleteAttributesRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"DomainName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:65:\"The
  name of the domain in which the attributes are being deleted.\";}s:5:\"Items\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/DeletableItemList\";s:11:\"description\";s:50:\"A
  list of items on which to perform the operation.\";}}s:8:\"required\";a:2:{i:0;s:10:\"DomainName\";i:1;s:5:\"Items\";}s:4:\"type\";s:6:\"object\";}s:25:\"BatchPutAttributesRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"DomainName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:64:\"The
  name of the domain in which the attributes are being stored.\";}s:5:\"Items\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:33:\"#/definitions/ReplaceableItemList\";s:11:\"description\";s:50:\"A
  list of items on which to perform the operation.\";}}s:8:\"required\";a:2:{i:0;s:10:\"DomainName\";i:1;s:5:\"Items\";}s:4:\"type\";s:6:\"object\";}s:7:\"Boolean\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"boolean\";}s:19:\"CreateDomainRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"DomainName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:157:\"The
  name of the domain to create. The name can range between 3 and 255 characters and
  can contain the following characters: a-z, A-Z, 0-9, '_', '-', and '.'.\";}}s:8:\"required\";a:1:{i:0;s:10:\"DomainName\";}s:4:\"type\";s:6:\"object\";}s:18:\"DeletableAttribute\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:10:\"properties\";O:8:\"stdClass\":2:{s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:26:\"The
  name of the attribute.\";}s:5:\"Value\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:27:\"The
  value of the attribute.\";}}s:8:\"required\";a:1:{i:0;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:22:\"DeletableAttributeList\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:32:\"#/definitions/DeletableAttribute\";}s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":1:{s:7:\"wrapped\";b:0;}}s:13:\"DeletableItem\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"Attributes\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:36:\"#/definitions/DeletableAttributeList\";}s:4:\"Name\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}}s:8:\"required\";a:1:{i:0;s:4:\"Name\";}s:4:\"type\";s:6:\"object\";}s:17:\"DeletableItemList\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:27:\"#/definitions/DeletableItem\";}s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":1:{s:7:\"wrapped\";b:0;}}s:23:\"DeleteAttributesRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"Attributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:36:\"#/definitions/DeletableAttributeList\";s:11:\"description\";s:129:\"A
  list of Attributes. Similar to columns on a spreadsheet, attributes represent categories
  of data that can be assigned to items.\";}s:10:\"DomainName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:57:\"The
  name of the domain in which to perform the operation.\";}s:8:\"Expected\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/UpdateCondition\";s:11:\"description\";s:224:\"The
  update condition which, if specified, determines whether the specified attributes
  will be deleted or not. The update condition must be satisfied in order for this
  request to be processed and the attributes to be deleted.\";}s:8:\"ItemName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:138:\"The
  name of the item. Similar to rows on a spreadsheet, items represent individual objects
  that contain one or more value-attribute pairs.\";}}s:8:\"required\";a:2:{i:0;s:10:\"DomainName\";i:1;s:8:\"ItemName\";}s:4:\"type\";s:6:\"object\";}s:19:\"DeleteDomainRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"DomainName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:33:\"The
  name of the domain to delete.\";}}s:8:\"required\";a:1:{i:0;s:10:\"DomainName\";}s:4:\"type\";s:6:\"object\";}s:21:\"DomainMetadataRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"DomainName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:60:\"The
  name of the domain for which to display the metadata of.\";}}s:8:\"required\";a:1:{i:0;s:10:\"DomainName\";}s:4:\"type\";s:6:\"object\";}s:20:\"DomainMetadataResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":7:{s:18:\"AttributeNameCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:51:\"The
  number of unique attribute names in the domain.\";}s:23:\"AttributeNamesSizeBytes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Long\";s:11:\"description\";s:69:\"The
  total size of all unique attribute names in the domain, in bytes.\";}s:19:\"AttributeValueCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:59:\"The
  number of all attribute name/value pairs in the domain.\";}s:24:\"AttributeValuesSizeBytes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Long\";s:11:\"description\";s:63:\"The
  total size of all attribute values in the domain, in bytes.\";}s:9:\"ItemCount\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:38:\"The
  number of all items in the domain.\";}s:18:\"ItemNamesSizeBytes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:18:\"#/definitions/Long\";s:11:\"description\";s:57:\"The
  total size of all item names in the domain, in bytes.\";}s:9:\"Timestamp\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:72:\"The
  data and time when metadata was calculated, in Epoch (UNIX) seconds.\";}}s:4:\"type\";s:6:\"object\";}s:14:\"DomainNameList\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:20:\"#/definitions/String\";}s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":1:{s:7:\"wrapped\";b:0;}}s:17:\"DuplicateItemName\";O:8:\"stdClass\":3:{s:11:\"description\";s:44:\"The
  item name was specified more than once. \";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"BoxUsage\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Float\";}}s:4:\"type\";s:6:\"object\";}s:5:\"Float\";O:8:\"stdClass\":2:{s:6:\"format\";s:5:\"float\";s:4:\"type\";s:6:\"number\";}s:20:\"GetAttributesRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:14:\"AttributeNames\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:31:\"#/definitions/AttributeNameList\";s:11:\"description\";s:28:\"The
  names of the attributes.\";}s:14:\"ConsistentRead\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:305:\"Determines
  whether or not strong consistency should be enforced when data is read from SimpleDB.
  If <code>true</code>, any data previously written to SimpleDB will be returned.
  Otherwise, results will be consistent eventually, and the client may not see data
  that was written immediately before your read.\";}s:10:\"DomainName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:57:\"The
  name of the domain in which to perform the operation.\";}s:8:\"ItemName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:21:\"The
  name of the item.\";}}s:8:\"required\";a:2:{i:0;s:10:\"DomainName\";i:1;s:8:\"ItemName\";}s:4:\"type\";s:6:\"object\";}s:19:\"GetAttributesResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":1:{s:10:\"Attributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/AttributeList\";s:11:\"description\";s:49:\"The
  list of attributes returned by the operation.\";}}s:4:\"type\";s:6:\"object\";}s:7:\"Integer\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:16:\"InvalidNextToken\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"The
  specified NextToken is not valid. \";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"BoxUsage\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Float\";}}s:4:\"type\";s:6:\"object\";}s:23:\"InvalidNumberPredicates\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Too
  many predicates exist in the query expression.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"BoxUsage\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Float\";}}s:4:\"type\";s:6:\"object\";}s:23:\"InvalidNumberValueTests\";O:8:\"stdClass\":3:{s:11:\"description\";s:50:\"Too
  many predicates exist in the query expression.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"BoxUsage\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Float\";}}s:4:\"type\";s:6:\"object\";}s:21:\"InvalidParameterValue\";O:8:\"stdClass\":3:{s:11:\"description\";s:37:\"The
  value for a parameter is invalid.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"BoxUsage\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Float\";}}s:4:\"type\";s:6:\"object\";}s:22:\"InvalidQueryExpression\";O:8:\"stdClass\":3:{s:11:\"description\";s:51:\"The
  specified query expression syntax is not valid.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"BoxUsage\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Float\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Item\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:10:\"properties\";O:8:\"stdClass\":3:{s:21:\"AlternateNameEncoding\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:0:\"\";}s:10:\"Attributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:27:\"#/definitions/AttributeList\";s:11:\"description\";s:21:\"A
  list of attributes.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:21:\"The
  name of the item.\";}}s:8:\"required\";a:2:{i:0;s:4:\"Name\";i:1;s:10:\"Attributes\";}s:4:\"type\";s:6:\"object\";}s:8:\"ItemList\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:18:\"#/definitions/Item\";}s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":1:{s:7:\"wrapped\";b:0;}}s:18:\"ListDomainsRequest\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:18:\"MaxNumberOfDomains\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Integer\";s:11:\"description\";s:104:\"The
  maximum number of domain names you want returned. The range is 1 to 100. The default
  setting is 100.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:80:\"A
  string informing Amazon SimpleDB where to start the next list of domain names.\";}}s:4:\"type\";s:6:\"object\";}s:17:\"ListDomainsResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"DomainNames\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:28:\"#/definitions/DomainNameList\";s:11:\"description\";s:49:\"A
  list of domain names that match the expression.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:122:\"An
  opaque token indicating that there are more domains than the specified <code>MaxNumberOfDomains</code>
  still available.\";}}s:4:\"type\";s:6:\"object\";}s:4:\"Long\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}s:16:\"MissingParameter\";O:8:\"stdClass\":3:{s:11:\"description\";s:57:\"The
  request must contain the specified missing parameter.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"BoxUsage\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Float\";}}s:4:\"type\";s:6:\"object\";}s:12:\"NoSuchDomain\";O:8:\"stdClass\":3:{s:11:\"description\";s:36:\"The
  specified domain does not exist.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"BoxUsage\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Float\";}}s:4:\"type\";s:6:\"object\";}s:30:\"NumberDomainAttributesExceeded\";O:8:\"stdClass\":3:{s:11:\"description\";s:35:\"Too
  many attributes in this domain.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"BoxUsage\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Float\";}}s:4:\"type\";s:6:\"object\";}s:25:\"NumberDomainBytesExceeded\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Too
  many bytes in this domain.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"BoxUsage\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Float\";}}s:4:\"type\";s:6:\"object\";}s:21:\"NumberDomainsExceeded\";O:8:\"stdClass\":3:{s:11:\"description\";s:40:\"Too
  many domains exist per this account.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"BoxUsage\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Float\";}}s:4:\"type\";s:6:\"object\";}s:28:\"NumberItemAttributesExceeded\";O:8:\"stdClass\":3:{s:11:\"description\";s:33:\"Too
  many attributes in this item.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"BoxUsage\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Float\";}}s:4:\"type\";s:6:\"object\";}s:33:\"NumberSubmittedAttributesExceeded\";O:8:\"stdClass\":3:{s:11:\"description\";s:43:\"Too
  many attributes exist in a single call.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"BoxUsage\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Float\";}}s:4:\"type\";s:6:\"object\";}s:28:\"NumberSubmittedItemsExceeded\";O:8:\"stdClass\":3:{s:11:\"description\";s:38:\"Too
  many items exist in a single call.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"BoxUsage\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Float\";}}s:4:\"type\";s:6:\"object\";}s:20:\"PutAttributesRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":4:{s:10:\"Attributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/ReplaceableAttributeList\";s:11:\"description\";s:23:\"The
  list of attributes.\";}s:10:\"DomainName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:57:\"The
  name of the domain in which to perform the operation.\";}s:8:\"Expected\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:29:\"#/definitions/UpdateCondition\";s:11:\"description\";s:224:\"The
  update condition which, if specified, determines whether the specified attributes
  will be updated or not. The update condition must be satisfied in order for this
  request to be processed and the attributes to be updated.\";}s:8:\"ItemName\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:21:\"The
  name of the item.\";}}s:8:\"required\";a:3:{i:0;s:10:\"DomainName\";i:1;s:8:\"ItemName\";i:2;s:10:\"Attributes\";}s:4:\"type\";s:6:\"object\";}s:20:\"ReplaceableAttribute\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:10:\"properties\";O:8:\"stdClass\":3:{s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:38:\"The
  name of the replaceable attribute.\";}s:7:\"Replace\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:149:\"A
  flag specifying whether or not to replace the attribute/value pair or to add a new
  attribute/value pair. The default setting is <code>false</code>.\";}s:5:\"Value\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:39:\"The
  value of the replaceable attribute.\";}}s:8:\"required\";a:2:{i:0;s:4:\"Name\";i:1;s:5:\"Value\";}s:4:\"type\";s:6:\"object\";}s:24:\"ReplaceableAttributeList\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:34:\"#/definitions/ReplaceableAttribute\";}s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":1:{s:7:\"wrapped\";b:0;}}s:15:\"ReplaceableItem\";O:8:\"stdClass\":4:{s:11:\"description\";s:0:\"\";s:10:\"properties\";O:8:\"stdClass\":2:{s:10:\"Attributes\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:38:\"#/definitions/ReplaceableAttributeList\";s:11:\"description\";s:46:\"The
  list of attributes for a replaceable item.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:33:\"The
  name of the replaceable item.\";}}s:8:\"required\";a:2:{i:0;s:4:\"Name\";i:1;s:10:\"Attributes\";}s:4:\"type\";s:6:\"object\";}s:19:\"ReplaceableItemList\";O:8:\"stdClass\":3:{s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:29:\"#/definitions/ReplaceableItem\";}s:4:\"type\";s:5:\"array\";s:3:\"xml\";O:8:\"stdClass\":1:{s:7:\"wrapped\";b:0;}}s:14:\"RequestTimeout\";O:8:\"stdClass\":3:{s:11:\"description\";s:97:\"A
  timeout occurred when attempting to query the specified domain with specified query
  expression.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"BoxUsage\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Float\";}}s:4:\"type\";s:6:\"object\";}s:13:\"SelectRequest\";O:8:\"stdClass\":3:{s:10:\"properties\";O:8:\"stdClass\":3:{s:14:\"ConsistentRead\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:305:\"Determines
  whether or not strong consistency should be enforced when data is read from SimpleDB.
  If <code>true</code>, any data previously written to SimpleDB will be returned.
  Otherwise, results will be consistent eventually, and the client may not see data
  that was written immediately before your read.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:90:\"A
  string informing Amazon SimpleDB where to start the next list of <code>ItemNames</code>.\";}s:16:\"SelectExpression\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:40:\"The
  expression used to query the domain.\";}}s:8:\"required\";a:1:{i:0;s:16:\"SelectExpression\";}s:4:\"type\";s:6:\"object\";}s:12:\"SelectResult\";O:8:\"stdClass\":2:{s:10:\"properties\";O:8:\"stdClass\":2:{s:5:\"Items\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:22:\"#/definitions/ItemList\";s:11:\"description\";s:49:\"A
  list of items that match the select expression.\";}s:9:\"NextToken\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:172:\"An
  opaque token indicating that more items than <code>MaxNumberOfItems</code> were
  matched, the response size exceeded 1 megabyte, or the execution time exceeded 5
  seconds.\";}}s:4:\"type\";s:6:\"object\";}s:6:\"String\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:26:\"TooManyRequestedAttributes\";O:8:\"stdClass\":3:{s:11:\"description\";s:30:\"Too
  many attributes requested.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"BoxUsage\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:19:\"#/definitions/Float\";}}s:4:\"type\";s:6:\"object\";}s:15:\"UpdateCondition\";O:8:\"stdClass\":3:{s:11:\"description\";s:284:\"
  Specifies the conditions under which data should be updated. If an update condition
  is specified for a request, the data will only be updated if the condition is satisfied.
  For example, if an attribute with a specific name and value exists, or if a specific
  attribute doesn't exist. \";s:10:\"properties\";O:8:\"stdClass\":3:{s:6:\"Exists\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:21:\"#/definitions/Boolean\";s:11:\"description\";s:352:\"A
  value specifying whether or not the specified attribute must exist with the specified
  value in order for the update condition to be satisfied. Specify <code>true</code>
  if the attribute must exist for the update condition to be satisfied. Specify <code>false</code>
  if the attribute should not exist in order for the update condition to be satisfied.\";}s:4:\"Name\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:52:\"The
  name of the attribute involved in the condition.\";}s:5:\"Value\";O:8:\"stdClass\":2:{s:4:\"$ref\";s:20:\"#/definitions/String\";s:11:\"description\";s:129:\"The
  value of an attribute. This value can only be specified when the <code>Exists</code>
  parameter is equal to <code>true</code>.\";}}s:4:\"type\";s:6:\"object\";}}"
...
