---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":12:{s:7:\"contact\";O:8:\"stdClass\":2:{s:4:\"name\";s:6:\"Google\";s:3:\"url\";s:18:\"https://google.com\";}s:11:\"description\";s:49:\"Searches
  the Google Knowledge Graph for entities.\";s:5:\"title\";s:22:\"Knowledge Graph
  Search\";s:7:\"version\";s:2:\"v1\";s:23:\"x-apiClientRegistration\";O:8:\"stdClass\":1:{s:3:\"url\";s:37:\"https://console.developers.google.com\";}s:21:\"x-apisguru-categories\";a:1:{i:0;s:6:\"search\";}s:6:\"x-logo\";O:8:\"stdClass\":1:{s:3:\"url\";s:116:\"https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png\";}s:8:\"x-origin\";a:1:{i:0;O:8:\"stdClass\":4:{s:9:\"converter\";O:8:\"stdClass\":2:{s:3:\"url\";s:45:\"https://github.com/lucybot/api-spec-converter\";s:7:\"version\";s:5:\"2.6.2\";}s:6:\"format\";s:6:\"google\";s:3:\"url\";s:58:\"https://kgsearch.googleapis.com/$discovery/rest?version=v1\";s:7:\"version\";s:2:\"v1\";}}s:11:\"x-preferred\";b:1;s:14:\"x-providerName\";s:14:\"googleapis.com\";s:13:\"x-serviceName\";s:8:\"kgsearch\";s:10:\"x-datafire\";O:8:\"stdClass\":2:{s:4:\"name\";s:15:\"google_kgsearch\";s:4:\"type\";s:7:\"openapi\";}}"
host: kgsearch.googleapis.com
basePath: /
paths:
  /v1/entities:search:
    get:
      description: Searches Knowledge Graph for entities that match the constraints.nA
        list of matched entities will be returned in response, which will be innJSON-LD
        format and compatible with http://schema.org
      operationId: entities.search
      parameters:
      - collectionFormat: multi
        description: The list of entity id to be used for search instead of query
          string.nTo specify multiple ids in the HTTP request, repeat the parameter
          in thenURL as in ...?ids=A&ids=B
        in: query
        items:
          type: string
        name: ids
        type: array
      - description: Enables indenting of json results.
        in: query
        name: indent
        type: boolean
      - collectionFormat: multi
        description: The list of language codes (defined in ISO 693) to run the query
          with,ne.g. 'en'.
        in: query
        items:
          type: string
        name: languages
        type: array
      - description: Limits the number of entities to be returned.
        in: query
        name: limit
        type: integer
      - description: Enables prefix match against names and aliases of entities
        in: query
        name: prefix
        type: boolean
      - description: The literal query string for search.
        in: query
        name: query
        type: string
      - collectionFormat: multi
        description: Restricts returned entities with these types, e.g. Personn(as
          defined in http://schema.org/Person). If multiple types are specified,nreturned
          entities will contain one or more of these types.
        in: query
        items:
          type: string
        name: types
        type: array
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/SearchResponse'
      tags:
      - entities
    parameters:
    - $ref: '#/parameters/$.xgafv'
    - $ref: '#/parameters/access_token'
    - $ref: '#/parameters/alt'
    - $ref: '#/parameters/bearer_token'
    - $ref: '#/parameters/callback'
    - $ref: '#/parameters/fields'
    - $ref: '#/parameters/key'
    - $ref: '#/parameters/oauth_token'
    - $ref: '#/parameters/pp'
    - $ref: '#/parameters/prettyPrint'
    - $ref: '#/parameters/quotaUser'
    - $ref: '#/parameters/uploadType'
    - $ref: '#/parameters/upload_protocol'
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":1:{s:14:\"SearchResponse\";O:8:\"stdClass\":3:{s:11:\"description\";s:117:\"Response
  message includes the context and a list of matching results\nwhich contain the detail
  of associated entities.\";s:10:\"properties\";O:8:\"stdClass\":3:{s:8:\"@context\";O:8:\"stdClass\":1:{s:11:\"description\";s:117:\"The
  local context applicable for the response. See more details at\nhttp://www.w3.org/TR/json-ld/#context-definitions.\";}s:5:\"@type\";O:8:\"stdClass\":1:{s:11:\"description\";s:59:\"The
  schema type of top-level JSON-LD object, e.g. ItemList.\";}s:15:\"itemListElement\";O:8:\"stdClass\":3:{s:11:\"description\";s:32:\"The
  item list of search results.\";s:5:\"items\";O:8:\"stdClass\":0:{}s:4:\"type\";s:5:\"array\";}}s:4:\"type\";s:6:\"object\";}}"
...
