---
layout: default
title: API Search Engine
---
<!-- News -->
<a name="Search"></a>
{% assign search = site.data.apis | sort %}
<section>
	<header>
		<h2>API Search</h2>
	</header>
	<p>This is a prototype API search engine -- currently playing with different views.</p>
	<div class="table-wrapper" style="height: 500px; overflow: auto;">
		<table class="alt">
			<tbody>
				{% for s in search %}
					{% assign index = s[0] %}
					{% assign content = s[1] %}
					{% for c in content %}
						{% assign type = c[0] %}
						{% if type == "apis" %}

							{% assign type = c[0] %}
							{% assign apis_json = c[1] %}
							{% assign name = apis_json.name %}
							{% assign humanURL = apis_json.humanURL %}
							{% assign common = apis_json.x-common %}

							{% assign website_url = '' %}
							{% assign twitter_url = '' %}
							{% assign github_url = '' %}

							{% for link in common %}
								{% assign link_type = link.type %}
								{% assign link_url = link.url %}

								{% if link_type == "x-website" %}
									{% assign website_url = link_url %}
								{% endif %}

								{% if link_type == "x-twitter" %}
									{% assign twitter_url = link_url %}
								{% endif %}

								{% if link_type == "x-github" %}
									{% assign github_url = link_url %}
								{% endif %}
							{% endfor %}
			        <tr>
			          <td width="65%">
			        		<a href="{{ humanURL }}">{{ name }}</a>
			        	</td>
								<td width="8%" align="center">
			        		<a href="{{ website_url }}"><img src="https://s3.amazonaws.com/kinlane-productions/bw-icons/bw-home-icon.jpeg" width="40"></a>
			        	</td>
								<td width="8%" align="center">
									{% if twitter_url != '' %}
			        			<a href="{{ twitter_url }}"><img src="https://s3.amazonaws.com/kinlane-productions/bw-icons/bw-twitter-icon.png" width="43"></a>
									{% endif %}
			        	</td>
								<td width="8%" align="center">
									{% if github_url != '' %}
			        			<a href="{{ github_url }}"><img src="https://s3.amazonaws.com/kinlane-productions/bw-icons/bw-github-icon.png" width="56"></a>
									{% endif %}
			        	</td>
			        </tr>
						{% endif %}
					{% endfor %}
				{% endfor %}
			</tbody>
		</table>
	</div>
	<p>This is meant to be a static listing of APIs in this index.</p>
</section>
