---
swagger: "2.0"
info: !php/object "O:8:\"stdClass\":3:{s:5:\"title\";s:3:\"SMS\";s:7:\"version\";s:5:\"1.0.0\";s:11:\"description\";s:324:\"The
  SMS API exposes the telco SMS functionality as an API. It allows to send and retrieve
  inbound SMS messages. By default, /sms/outboundmessages or /sms/inboundmessages/shared
  should be used. Most of the other resources (such as dedicatedaddresses) require
  a manual setup from the EnCo support team before they can be used.\";}"
host: api.enco.io
basePath: /sms/1.0.0
paths: ~
schemes:
- https
definitions: !php/object "O:8:\"stdClass\":10:{s:23:\"SMSDeliveryInfoResponse\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:79:\"A
  list of delivery information for a certain outbound interaction with the API.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:11:\"resourceURL\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:83:\"An
  URL that points to the endpoint where new delivery info's can be retrieved from.\";s:7:\"example\";s:75:\"https://api.enco.io/sms/1.0.0/sms/outboundmessages/deliveryinfos/example-id\";}s:12:\"deliveryInfo\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:35:\"#/definitions/SMSDeliveryInfoDetail\";}}}s:8:\"required\";a:2:{i:0;s:11:\"resourceURL\";i:1;s:12:\"deliveryInfo\";}}s:21:\"SMSDeliveryInfoDetail\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:59:\"Information
  about the delivery status of a sent SMS message\";s:10:\"properties\";O:8:\"stdClass\":2:{s:7:\"address\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:46:\"The
  number where the SMS messages was sent to.\";s:7:\"example\";s:12:\"+32470000000\";}s:14:\"deliveryStatus\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:27:\"The
  status of the delivery.\";s:4:\"enum\";a:6:{i:0;s:14:\"AddressInvalid\";i:1;s:14:\"MessageWaiting\";i:2;s:18:\"DeliveredToNetwork\";i:3;s:17:\"DeliveryUncertain\";i:4;s:18:\"DeliveryImpossible\";i:5;s:19:\"DeliveredToTerminal\";}}}s:8:\"required\";a:2:{i:0;s:7:\"address\";i:1;s:14:\"deliveryStatus\";}}s:24:\"SMSMessageLengthResponse\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:41:\"The
  length report of the analysed message\";s:10:\"properties\";O:8:\"stdClass\":5:{s:13:\"numberOfChars\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:54:\"The
  total number of characters in the provided message\";}s:13:\"numberOfParts\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:145:\"The
  number of SMS parts that will be generated for your message. A message is split
  into different parts depending on the length of your message.\";}s:16:\"charLimitPerPart\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:112:\"The
  maximum number of characters allowed per part. This depends on the encoding used
  to send special characters.\";}s:28:\"numberOfRemainingCharsInPart\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:64:\"The
  number of characters remaining before a new part is started.\";}s:22:\"numberOfRemainingParts\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:76:\"The
  number of remaining parts you can use. The maximum number of parts is 6.\";}}s:8:\"required\";a:5:{i:0;s:13:\"numberOfChars\";i:1;s:13:\"numberOfParts\";i:2;s:16:\"charLimitPerPart\";i:3;s:28:\"numberOfRemainingCharsInPart\";i:4;s:22:\"numberOfRemainingParts\";}}s:18:\"SMSInboundResponse\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:32:\"A
  list of received SMS messages.\";s:10:\"properties\";O:8:\"stdClass\":2:{s:8:\"messages\";O:8:\"stdClass\":2:{s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:31:\"#/definitions/SMSInboundMessage\";}}s:16:\"numberOfMessages\";O:8:\"stdClass\":1:{s:4:\"type\";s:7:\"integer\";}}s:8:\"required\";a:2:{i:0;s:8:\"messages\";i:1;s:16:\"numberOfMessages\";}}s:17:\"SMSInboundMessage\";O:8:\"stdClass\":5:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:23:\"A
  received SMS message.\";s:10:\"properties\";O:8:\"stdClass\":4:{s:13:\"senderAddress\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:52:\"The
  number from which the SMS message was sent from.\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:41:\"The
  actual SMS message that was received.\";}s:13:\"numberOfParts\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:40:\"The
  number of parts in this SMS message.\";}s:12:\"timeReceived\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:59:\"The
  timestamp when the SMS was received. In ISO8601 format.\";s:6:\"format\";s:9:\"date-time\";}}s:8:\"required\";a:4:{i:0;s:13:\"senderAddress\";i:1;s:7:\"message\";i:2;s:13:\"numberOfParts\";i:3;s:12:\"timeReceived\";}s:7:\"example\";O:8:\"stdClass\":4:{s:13:\"senderAddress\";s:12:\"+32470000000\";s:7:\"message\";s:34:\"This
  is an example inbound message\";s:13:\"numberOfParts\";i:1;s:12:\"timeReceived\";s:24:\"2018-01-01T13:10:00.000Z\";}}s:24:\"DedicatedAddressResponse\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:38:\"A
  list of dedicated addresses you own.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:18:\"dedicatedAddresses\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:70:\"The
  dedicated address, you can use this address to send messages from.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"example\";s:4:\"4321\";}}s:8:\"required\";a:1:{i:0;s:18:\"dedicatedAddresses\";}}s:15:\"KeywordResponse\";O:8:\"stdClass\":4:{s:4:\"type\";s:6:\"object\";s:11:\"description\";s:172:\"A
  list of keywords you own. When a message is sent to the shared number, you'll be
  able to fetch it as an inbound messages if the message starts with one of these
  keywords.\";s:10:\"properties\";O:8:\"stdClass\":1:{s:8:\"keywords\";O:8:\"stdClass\":4:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:12:\"The
  keyword.\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:7:\"example\";s:9:\"MYKEYWORD\";}}s:8:\"required\";a:1:{i:0;s:8:\"keywords\";}}s:22:\"logs_interval_response\";O:8:\"stdClass\":3:{s:4:\"type\";s:5:\"array\";s:11:\"description\";s:50:\"A
  list of logs within the requested time interval.\";s:5:\"items\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":10:{s:6:\"number\";O:8:\"stdClass\":2:{s:4:\"type\";s:7:\"integer\";s:11:\"description\";s:133:\"The
  index of this log on this timestamp. Some logs happen with the exact same timestamp,
  this number can be used to distinguish them.\";}s:9:\"timestamp\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:9:\"date-time\";s:11:\"description\";s:37:\"The
  timestamp when this log was made.\";}s:13:\"numberOfChars\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:82:\"A
  string representation of the amount of characters that where sent in the message\";}s:18:\"destinationAddress\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:45:\"The
  number where the SMS message was sent to.\";}s:13:\"originAddress\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:39:\"The
  number from which the SMS was sent.\";}s:9:\"requestId\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:92:\"The
  delivery information id. Use this ID to fetch the delivery information for this
  message.\";}s:19:\"initialDeliveryInfo\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:60:\"The
  initial delivery info received when sending the message.\";s:4:\"enum\";a:6:{i:0;s:14:\"AddressInvalid\";i:1;s:14:\"MessageWaiting\";i:2;s:18:\"DeliveredToNetwork\";i:3;s:17:\"DeliveryUncertain\";i:4;s:18:\"DeliveryImpossible\";i:5;s:19:\"DeliveredToTerminal\";}}s:16:\"httpResponseCode\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"string\";}s:16:\"numberOfMessages\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:38:\"The
  amount of messages that were sent.\";}s:7:\"message\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:11:\"description\";s:37:\"The
  actual SMS message that was sent.\";}}}}s:12:\"errorMessage\";O:8:\"stdClass\":4:{s:11:\"description\";s:87:\"A
  placeholder for reporting a simple error message in addition to the HTTP status
  code.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":1:{s:5:\"fault\";O:8:\"stdClass\":3:{s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:162:\"The
  primary descriptive error message - either in the primary language of the server
  or translated into a language negotiated via the HTTP header Accept-Language.\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"An
  optional descriptive text targeted at the client developer.\";s:4:\"type\";s:6:\"string\";}s:4:\"code\";O:8:\"stdClass\":2:{s:11:\"description\";s:102:\"A
  mandatory, application-specific error code; if none is specified, it will hold the
  HTTP status code.\";s:4:\"type\";s:7:\"integer\";}s:4:\"info\";O:8:\"stdClass\":3:{s:11:\"description\";s:49:\"A
  reference to a fault reference or support page.\";s:4:\"type\";s:6:\"string\";s:6:\"format\";s:3:\"uri\";}s:7:\"details\";O:8:\"stdClass\":3:{s:11:\"description\";s:151:\"An
  optional array of clarifying data related to the fault that occurred, which are
  useful to show to the end user for him/her to rectify the situation.\";s:4:\"type\";s:5:\"array\";s:5:\"items\";O:8:\"stdClass\":1:{s:4:\"$ref\";s:25:\"#/definitions/errorDetail\";}}}s:8:\"required\";a:2:{i:0;s:7:\"message\";i:1;s:4:\"code\";}}}s:8:\"required\";a:1:{i:0;s:5:\"fault\";}}s:11:\"errorDetail\";O:8:\"stdClass\":4:{s:11:\"description\";s:71:\"Structure
  to hold complete information about a specific internal error.\";s:4:\"type\";s:6:\"object\";s:10:\"properties\";O:8:\"stdClass\":5:{s:4:\"type\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:4:\"enum\";a:2:{i:0;s:5:\"field\";i:1;s:4:\"rule\";}}s:10:\"identifier\";O:8:\"stdClass\":2:{s:4:\"type\";s:6:\"string\";s:6:\"format\";s:3:\"uri\";}s:7:\"message\";O:8:\"stdClass\":2:{s:11:\"description\";s:162:\"The
  primary descriptive error message - either in the primary language of the server
  or translated into a language negotiated via the HTTP header Accept-Language.\";s:4:\"type\";s:6:\"string\";}s:11:\"description\";O:8:\"stdClass\":2:{s:11:\"description\";s:62:\"An
  optional descriptive text targeted at the client developer.\";s:4:\"type\";s:6:\"string\";}s:5:\"value\";O:8:\"stdClass\":1:{s:4:\"type\";s:6:\"object\";}}s:8:\"required\";a:2:{i:0;s:4:\"type\";i:1;s:7:\"message\";}}}"
...
